[2017-12-08 21:47] derekbekoe commented on #4929
Ah yes. Modified the issue above...

[2017-12-08 22:03] yugangw-msft commented on #5002
Suggest expose `--instance-ids` from `az vmss disk attach/detach` commands.
This depends on newer api of `2017-12-01`. Let us do it after the support of VMSS/Explicit-MSI gets in first which will brings in the same dependency.

[2017-12-08 22:38] williexu opened #5072 "`client_factory` kwarg bug in KnackConversion branch"
When using the `custom_command()` method to register a command, the client_factory being used is taken from the `command_type` kwarg.
The client_factory should instead be taken from the `custom_command_type`
https://github.com/Azure/azure-cli/blob/KnackConversion/src/azure-cli-core/azure/cli/core/__init__.py#L319-L321

[2017-12-09 13:12] p- opened #5075 "acr says "Please verify if docker daemon is running properly." despite docker daemon running"
**Problem**
After performing a login to the container registry: `az acr login --name <acrName>`
acr says "Please verify if docker daemon is running properly." despite docker daemon running.

**Suspected cause**
The root cause of this issue seems to be that [acr/custom.py](https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/custom.py) tries

[2017-12-10 15:03] mrx88 commented on #1528
I would really like to get --no-wait for "az network nic create" and "am vm extension set" commands.

[2017-12-11 03:50] jmathew commented on #4373
Agreed. I'm trying to delete a queue within a service bus and and that doesn't seem possible at the moment.

[2017-12-11 11:23] Ian1971 opened #5077 "webapp-config:space in connection string causes "connection-string set" to create too many entries"
It seems that the spaces in database connection strings cause connection-string set to create additional entries in connection strings. Note also that appsettings set seems to have a similar problem
Even though I have put my connection string in quotes it doesn't help.

`
az webapp config connection-string set --name mywebapp --resource-group mywebapp --connection-string-type SQLAzure --settings C

[2017-12-11 17:14] gmmeyer opened #5079 "APT Public Key does not work"
---

### Environment summary

This is in a stock docker xenial container, attempting to install via apt leads to the following errors:

[code]

The GPG key in the repo appears to be incorrect. I can force the unauthenticated package to install for now, but this is a pretty bad bug.

[2017-12-11 17:47] #4924 closed

[2017-12-11 18:19] derekperkins opened #5080 "az acs kubernetes get-credentials fails authentication"
On a fresh install of `azure-cli` via homebrew, it installs `python3` as a dependency, and successfully installs. I am able to login using `az login`, and can then subsequently run `az acs list -o table` and see my clusters (full output below). Then when trying to get the credentials, authentication fails for some unknown reason - `az acs kubernetes get-credentials`.

I was able to run the same pr

[2017-12-11 18:20] derekbekoe commented on #5079
Did you run the apt-key step?

I ran the following and there were no such warnings:
[code]

[2017-12-11 19:00] derekperkins commented on #5080
I tried uninstalled the homebrew version of `azure-cli` and `python3` and ran the curl install. Now running on the default python 2.7 and rerunning the same login and acs list process, I get apparently the same error (slightly different stack trace).

[code]

### Environment
[code]

[2017-12-11 20:26] derekperkins commented on #5080
More information... I tried creating a new cluster with `az aks`, which succeeded, and the subsequent `az aks get-credentials --resource-group 1234 --name abcd` did work, so I'm only seeing the error with `az acs`.

[2017-12-11 22:01] #4929 closed

[2017-12-11 23:52] PakDLiu commented on #4338
+1 I am also getting something similar.

After I login using the browser, it will just infinitely redirect. I've tried different browsers as well as different machines, all the same.

[2017-12-11 23:54] PakDLiu commented on #4905
I am also running into this problem. Can you also send me instructions to unblock me? Thanks!

[2017-12-12 00:36] apryiomka commented on #4905
The MSFT employees who are a part of the inner ring by default need to opt out of the inner ring:
1. Navigate to https://login.microsoftonline.com/common/insider/optout?upn=YOURALIAS@microsoft.com (replacing YOURALIAS with your alias).
2. Clear your browser cookies in any browser you will use to sign in to AAD that you don’t want to redirect to the insider ring.
It is bad that the bug has been kno

[2017-12-12 00:43] PakDLiu commented on #4905
Awesome, thanks! That worked!

[2017-12-12 08:20] alexeyshishkin01 commented on #4754
ok, I'll try to contact them or http://clusterlabs.org/ guys then.
but you see the issue doesn't seem to depend on Corosync/Pacemaker - when I configure additional arbitrary IP-addresses on 'eth' interface on two hosts in the same network, they cannot ping each other
so my question has to be amended:
- if I have two VMs with IP addresses (external and internal) which can communicate to each other

[2017-12-13 00:09] shyambe opened #5090 "Unable to login using Azure CLI"
---

### Environment summary

Install Method - apt-get
CLI version azure-cli (2.0.22)
OS version : bash

I am trying to login using the az cli on my linux machine .. when I enter the code in
aka.ms/devicelogin .. the device login page fails with error "﻿We don't recognize this code, please enter the code again"

I tried same with browser in incognito mode .. this time it went ahead and did the two

[2017-12-13 01:03] derekbekoe commented on #4948
The fix will be in the Jan release.

[2017-12-13 01:03] #4948 closed

[2017-12-13 07:19] dmitrytokarev commented on #5067
This looks like a duplicate to https://github.com/Azure/azure-cli/issues/3614

[2017-12-13 11:04] walterheck commented on #4581
I'm also facing this issue on RHEL 6.8:

[code]

[2017-12-13 11:48] rmontag opened #5092 "Azure Germany / The resource namespace 'Microsoft.Billing' is invalid."
### Description

**Cloud**: AzureGermanCloud
**Locations**: GermanyCentral, GermanyNortheast
**Issue**: When using the az cli to query billing information, the following error is seen;

[code]

---
**Resolution**: Please provide the api for Microsoft.Billing so that it can be imported/registered.

---

### Environment summary

**Install Method** (e.g. pip, interactive script, apt-get, Docker, MSI,

[2017-12-13 12:38] walterheck commented on #4634
@derekbekoe that's too easy and not true either: as @saimsh clearly demonstrates in his post python 2.7 is a RedHat software collection for RHEL 6 and fully supported.
from https://access.redhat.com/documentation/en-us/red_hat_software_collections/1/html/1.2_release_notes/chap-rhscl:

[2017-12-13 14:23] truatpasteurdotfr commented on #4581
you can't run an el7 rpm on el6...  you could try rpm built on c6/devtoolset.

[2017-12-13 15:19] walterheck commented on #4581
Eventually got it to work by using SCL. A rough outline from the top of my head for others to follow:
`scl enable python27 bash`
`yum install python27-python-pip python27-python-devel`
`pip install --upgrade pip`
`pip install azure-cli`

Might be worth adding to the docs?

[2017-12-13 17:25] tjprescott commented on #5092
It would appear the Billing Service is not available on German cloud.

[2017-12-13 17:34] tjprescott commented on #5067
@dmitrytokarev agreed. Closing.

[2017-12-13 17:34] #5067 closed

[2017-12-13 17:36] #5048 closed

[2017-12-13 17:43] tjprescott commented on #5059
HI @iyerusad, please try issuing your application gateway commands with `--no-wait`.  In this way, you don't have to wait for the entire update cycle to finish and can chain multiple commands together to configure your gateway.  In fact, application gateways were the primary reason that `--no-wait` was added in the first place.

To answer you original question, no, for technical reasons, the Power

[2017-12-13 22:45] lmazuel opened #5097 "Possible issue with Azure Stack"
https://github.com/Azure/azure-cli/blob/8fcb30cba06b035bee374c4949dcbfc21ad034b0/src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/custom.py#L187

Got confirmation after a discussion with @bganapa that AzureStack metadata endpoint does not fill storage_endpoint, and that this is not gonna happen for any dataplane. We should get the value from
[code]

https://docs.microsoft.co

[2017-12-14 11:00] Anshapar opened #5099 "Not able to use Azure CLI with self-signed certificate"
Environment summary

CLI version azure-cli (2.0.22)
OS Type: Windows 10
Installation via: apt-get for Bash on Ubuntu on Windows

I am trying to run cli commands with a self-signed certificate and I am getting following error:

"Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /common/oauth2/devi

[2017-12-14 18:21] tjprescott commented on #4957
PR #5083 merged.

[2017-12-14 18:21] #4957 closed

[2017-12-14 18:22] tjprescott commented on #4935
PR #5084 merged.

[2017-12-14 18:22] #4935 closed

[2017-12-14 18:23] tjprescott commented on #4928
PR #5082 merged.

[2017-12-14 18:23] #4928 closed

[2017-12-14 18:23] tjprescott commented on #4937
PR #5068 merged.

[2017-12-14 18:23] #4937 closed

[2017-12-14 19:55] ahmedelnably opened #5101 "Add support to enable HTTPS only for webapps"
Reference
https://blogs.msdn.microsoft.com/appserviceteam/2017/12/12/november-2017-app-service-update/

[2017-12-14 20:04] yugangw-msft opened #5102 "VM/VMSS: user assigned identity doesn't work with windows VM"
It is a service end issue which is to be fixed soon.
Tracking it so to un-comment related test verification when the fix gets deployed

[2017-12-14 20:08] yugangw-msft opened #5103 "VM/VMSS: removing last user assigned identity doesn't work"
2 service end issues, to be fixed by the beginning of January
1. Setting `identity.type` to `None` is not working
2. Setting `identity.type` to `SystemAssigned` after remove the last user assigned identity goes through, compute RP still leave behind a non empty identity_ids

[2017-12-14 20:13] yugangw-msft opened #5105 "MSI: move msi commands to its own command module in knack style"
So far, I put the `az identity` command tree inside `azure-cli-vm` command module as i want to avoid the on-going knack conversion. But after the knack release, i will do the work for the new command module. The whole thing is transparent to end users

[2017-12-14 20:21] tjprescott commented on #4941
PR #5076 merged.

[2017-12-14 20:21] #4941 closed

[2017-12-14 20:21] JeremyLoy commented on #5060
Temporary workaround:

`apk update && apk upgrade && apk add curl`

[2017-12-14 21:13] sirkubax commented on #2403
https://stackoverflow.com/questions/47636165/az-acs-kubernetes-get-credentials-invalid-ec-key-ssh-known-hosts-corrupted

[2017-12-14 23:15] walterheck commented on #4581
Eventually got it to work on RHEL 6 by using SCL. A rough outline from the top of my head for others to follow:
`scl enable python27 bash`
`yum install python27-python-pip python27-python-devel`
`pip install --upgrade pip`
`pip install azure-cli`

Might be worth adding to the docs?

[2017-12-14 23:17] sptramer commented on #5060
@derekbekoe Noticed this when I was running some of the azure installs on vanilla images of RHEL/Ubuntu/CentOS. Whatever package the az docker image is built on top of may need some modification.

[2017-12-14 23:33] tjprescott opened #5107 "Update VM create to query using the resources API instead of network"
Because I'm sick of re-recording all of VM when Network bumps its API version...

[2017-12-15 00:50] tjprescott opened #5110 "[Resource] ManagedAppScenarioTest fails run live."
Test is changed to live only temporarily to avoid breaking CI.  Cannot be re-recorded currently.

[code]

[2017-12-15 00:52] tjprescott opened #5111 "[Compute] test_vmss_public_ip_per_vm_custom_domain_name fails when run live"
This test is temporarily marked to run live because it cannot be re-recorded.

[code]

[2017-12-15 01:43] tjprescott opened #5112 "[SQL] SQL test_sql_vnet_mgmt fails when run live"
This test is set to run live only because it fails and cannot be re-recorded.

[code]

[2017-12-15 03:14] #2942 closed

[2017-12-15 03:14] #2337 closed

[2017-12-15 03:15] #2328 closed

[2017-12-15 15:15] #5052 closed

[2017-12-15 16:47] mboersma opened #5114 "Revisit `--disable-browser` argument to `[acs|aks] browse`"
In reviewing help message changes to `az acs browse` and `az aks browse` in #5078, @sptramer was unsure of the purpose of the `--disable-browser` flag (and I was challenged to think of a good use case).

We should clarify the usefulness of this argument and make that clear in its help message. Either that, or remove it.

[2017-12-15 18:57] polarapfel opened #5115 "Misleading error message when creating new storage account"
Hi there,

the error message given when creating a generic storage account while also providing the --access-tier parameter is misleading.

---

### Environment summary

Cloud Shell in Azure Portal.

[code]

The error message is wrong. To create a generic storage account, the --access-tier parameter has to be dropped.

[2017-12-15 22:35] derekbekoe commented on #5060
This appears fixed in `azuresdk/azure-cli-python:latest` which was pushed a few hours ago.

When we release next week, that image will be tagged with version `2.0.23`.
`azuresdk/azure-cli-python:2.0.23`

[code]

[2017-12-15 23:10] cjeffers commented on #4715
executing in a regular powershell console (not ConEmu) worked for me

[2017-12-17 11:21] syedhassaanahmed commented on #4373
+1 as well as Event Hubs

[2017-12-17 15:43] hbuckle opened #5123 "MSI login does not create accessTokens.json"
When logging in using the --msi option the access token is not persisted to accessTokens.json which means that other applications that read this file to obtain tokens do not work.
---

### Environment summary

Install Method - Docker on an MSI enabled VM
[code]
[code]

[2017-12-17 18:55] cinek810 commented on #5115
It should be changed also for "update" operation on general purpose storage account

[2017-12-18 17:35] Andre-Freitas commented on #5080
@derekperkins have you tried using --ssh-key-file argument pointing to correct ssh private key in your az acs get-credentials ...? I was having the same error as you, but I did merge the context in my kubeconfig using that argument

[2017-12-18 17:52] tjprescott commented on #4921
PR #5119 merged.

[2017-12-18 17:52] #4921 closed

[2017-12-18 18:37] tjprescott commented on #4925
PR #5120 merged.

[2017-12-18 18:37] #4925 closed

[2017-12-18 18:53] gmmeyer commented on #5079
Yea, I did try that. It seems to be working now! Thanks!

[2017-12-18 18:53] #5079 closed

[2017-12-18 18:54] shyambe commented on #5090
I am able to get through the issue. Looks like I am part of AAD login Internal ring R0 experience. Once I opted out the ring I was able to get through the az login.

[2017-12-18 18:54] #5090 closed

[2017-12-18 19:57] tjprescott commented on #4930
PR #5118 merged.

[2017-12-18 19:57] #4930 closed

[2017-12-18 20:30] tjprescott opened #5127 "Re-enable Testing for All Modules"
Tests must be re-enabled in the CI for the following modules.

- [x] appservice
- [x] backup
- [x] batchai
- [x] dla
- [x] dls
- [x] eventgrid
- [x] find
- [x] interactive
- [x] keyvault
- [x] lab
- [x] monitor
- [x] profile
- [x] rdbms
- [x] role
- [x] sql
- [x] vm

[2017-12-18 20:32] tjprescott opened #5128 "[Knack] Fix performance regressions for affected modules"
The following modules show significant loading time regressions on the Knack branch relative to the original core.

- [x] batch (PR #5150) [12 ms]
- [ ] cloud [298 ms]
- [ ] dla [88 ms]
- [x] keyvault (PR #5154) [8 ms]
- [ ] lab [121 ms]
- [ ] storage [58 ms]

[2017-12-18 21:03] yugangw-msft commented on #5123
CLI does't cache the token for the following reasons
1. MSI token response doesn't have the refresh token, so the token can't be used beyond 1 hour. For any dependent parties to behave reliably, they need to invoke `az login --msi` every hour which could be awkward if in the middle of long running operation.
2. The MSI extension serve token requests at localhost:50342 through very simple protocol,

[2017-12-18 21:17] hbuckle commented on #5123
I was hoping to be able to use MSI to authenticate Terraform, which reads tokens from Azure CLI token file. On further investigation I've ended up submitting a PR against the Terraform Azure provider to allow it to directly authenticate against the MSI endpoint as per your point 3.

[2017-12-18 21:17] #5123 closed

[2017-12-18 22:29] mmacy opened #5129 "[ACI] 'az container logs' --name and --container-name args are swapped"
### Description

The `--name` and `--container-name` args are swapped for the [az container logs](https://docs.microsoft.com/en-us/cli/azure/container?view=azure-cli-latest#az_container_logs) command. That is, to get the command to function properly, you must currently specify the **container** name for `--name`, and the **container group** name for `--container-name`. This is backwards.

### Envi

[2017-12-18 22:30] derekperkins commented on #5080
@Andre-Freitas Does `acs` use different credential validation than `aks`?

[2017-12-18 22:31] derekbekoe commented on #5129
Looks like this was fixed in https://github.com/Azure/azure-cli/pull/5040/files
The CLI will be releasing tomorrow which should include the fix.
cc: @yolo3301

[2017-12-18 22:55] mmacy commented on #5129
Confirmed fixed in azuresdk/azure-cli-python:latest (--version 2.0.23).

[2017-12-18 22:55] #5129 closed

[2017-12-18 22:57] derekbekoe commented on #5129
Thanks for confirming.

[2017-12-18 22:59] iyerusad commented on #5059
Thanks @tjprescott - I had previously attempted the `--no-wait` in the past and for some reason led to believe that it didn't function in this way. I just took some time today to validate and it appears to function as outlined.

The original question appears to be not possible/feasible at this time so will close this issue out.

Code example to validate the `--no-wait` is working:
[code]

[2017-12-18 22:59] #5059 closed

[2017-12-19 00:37] derekbekoe opened #5130 "[Proposal] Support extension aliases"
Add support for extension aliases so:
- extension names don't have to be as defined in the .whl filename
- extensions can be renamed

Refers mainly to `NAME` in `az extension add --name NAME`

There are ways around this such as providing the the appropriate name in setup.py and building a whl with the correct name.

[2017-12-19 01:10] tjprescott commented on #4938
#5125 merged.

[2017-12-19 01:10] #4938 closed

[2017-12-19 10:28] Andre-Freitas commented on #5080
@derekperkins  when i created my acs i used `az acs create --orchestrator-type kubernetes --resource-group <resource group name> --name <cluster name> --ssh-key-value <public ssh key>` but you can also use this `az acs create --orchestrator-type kubernetes --resource-group <resource group name> --name <cluster name> --generate-ssh-keys`

[2017-12-19 12:46] tamirkamara opened #5134 "cli_ctx should be available for functions in parallel"
With the move to the Knack framework it's not possible to access cmd / cli_ctx from within functions called in parallel (like with python multiprocess method). The reason is most likely that these objects cannot be pickled and hence can't be transferred to the target functions.
This causes issues when wanting to report progress (for example).

We might need to think of a way for the cli_ctx to be

[2017-12-19 17:30] yugangw-msft opened #5135 "VM/VMSS: support cross subscription custom image reference"
For tracking, target `sprint 29`. Code change is trivial.
Note, as long as the image is in the same region with the VM, this should work , but we need to wait for the service gets deployed to PROD

[2017-12-19 17:42] yugangw-msft opened #5136 "Account: avoid crashing on entities w/o state information"
An account/subscription from ASM world through `azure login` (CLI 1.0) will not have state info.

mluser@mradmilaub3:~$ az account list
'state'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/azure/cli/main.py", line 36, in main
    cmd_result = APPLICATION.execute(args)
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/application.py", line 216, in execute

[2017-12-19 19:26] derekbekoe commented on #5060
`azuresdk/azure-cli-python:2.0.23` has just been published.

[2017-12-19 19:26] #5060 closed

[2017-12-19 21:05] yugangw-msft commented on #5002
Blocked by missing the PUT on the compute spec. Logged https://github.com/Azure/azure-rest-api-specs/issues/2179

[2017-12-19 21:57] yugangw-msft commented on #5033
Fixed though #5138

[2017-12-19 21:57] #5033 closed

[2017-12-20 00:04] gatneil commented on #5033
Awesome. Thanks! :)

[2017-12-20 01:34] brharr commented on #4360
So I am getting this error with absolute latest cli install and python install on one of the newest macs with the latest MacOS.

"Can't Connect to HTTPS URL because the SSL module is not available. "

These installs are fresh.

BTW, the install docs for Mac needs to be updated to include the need for python3 as that is not installed with the MacOS and python3 needs the xcode command line tools or

[2017-12-20 05:38] troydai commented on #5128
@tjprescott what's the scenario in play here?

[2017-12-20 06:16] tjprescott opened #5141 "[ACS/AKS] Tests failing when run live"
The following tests fail when run live on the dev branch. They are being converted to LiveScenarioTests to facilitate the Knack conversion since they cannot be re-recorded.

- [x] test_aks_create_with_upgrade: `msrestazure.azure_exceptions.CloudError: 400 Client Error: Bad Request for url: ... ` (PR #5254)
- [ ] test_acs_create_kubernetes: `The credentials in ServicePrincipalProfile were invalid.`

[2017-12-20 06:30] tjprescott opened #5142 "[Batch] Batch test failing when run live"
The following test `test_batch_account_cmd` fails when run live on the dev branch. Because it cannot be re-recorded, it is being converted to LiveScenarioTest for purposes of merging the Knack branch.

When the test is run, the following error occurs:
[code]

---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`)

[2017-12-20 07:19] tjprescott opened #5145 "[AppService] Webapp tests fail when run live"
The following tests fail when run live on the dev branch. They are being temporarily converted to LiveScenarioTest to facilitate work on the Knack branch.

- [ ] test_linux_webapp
- [ ] test_webapp_config
- [ ] test_webapp_slot

[2017-12-20 07:29] tjprescott opened #5146 "[KeyVault] KeyVault tests fail when run live"
The following tests fail when run live and cannot be re-recorded. They are being temporarily converted to LiveScenarioTests to facilitate work on the Knack branch.

- [ ] test_keyvault_softdelete
- [ ] test_keyvault_certificate_import
- [ ] test_keyvault_certificate_download

[2017-12-20 08:16] tjprescott commented on #5128
Comparison of `az --debug` on the Knack  branch vs the dev branch.  The modules on the list are slower (sometimes much slower) than those on dev.

[2017-12-20 09:29] truatpasteurdotfr commented on #4581
the (possible/likely to happen)  issue with "pip install" is that you can be replacing files from the packaged python27-python-pip* , which might be reversed when you upgrade theses SCL packages...

[2017-12-20 16:07] mboersma commented on #5141
@tjprescott I didn't realize we ran tests with `--live` in CI, or that this failed. My hunch is it has something to do with the `RoleBasedServicePrincipalPreparer` decorator... Should I try to fix in the dev or KnackConversion branch?

I did re-record all ACS ScenarioTests for Knack conversion in #5036, so I'm confused by this.

[2017-12-20 18:01] troydai commented on #5128
ok

[2017-12-20 20:58] shriganeshs opened #5148 "Regular expression support for JMESPath queries in Azure CLI"
I am building images using Packer periodically. Each image will be stored with same image name with a  timestamp as a postfix. I want get the name of the latest image using Azure CLI.

For example I have following image names in the same Resource Group.

1) custom-image-centos73-git-python36_1513795384
2) custom-image-centos73-git-python36_1513796300

The second image is the latest image. I want t

[2017-12-20 21:22] itowlson commented on #2396
Would be great to have this for AKS as well.

[2017-12-20 21:28] derekbekoe commented on #5148
Can you replace `contains` with `starts_with` then use the sort_by function?
http://jmespath.org/specification.html#sort-by

[2017-12-20 22:45] bacongobbler commented on #4692
I believe this is only relevant for users running on Ubuntu Artful (17.10).

As a user, when you run `az` in the terminal, you are met with the following error:

[code]

Running the instructions as followed gives you v0.1.0.

[code]

We should probably get this apt repository removed if we are maintaining a separate apt repository for azure-cli builds.

For reference, this is a completely vanilla

[2017-12-20 22:53] bacongobbler commented on #4692
And as @derekbekoe pointed out, following the instructions from https://docs.microsoft.com to add the Ubuntu Wheezy repository and install azure-cli worked like a charm. For others, that'd be

[code]

Thanks Derek! :)

[2017-12-21 00:41] stacker2017 opened #5149 "az storage account list gives error "Standard_LRS is not valid enum""
---

[code]

azure cli version:
[code]

when I type az storage account list I get the following error:
[code]

[2017-12-21 05:16] paulpc opened #5151 "Parameter 'LogProfileResource.retention_policy' can not be None."
### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build): N/A
 CLI version (`az --version`): (web shell) az --version
azure-cli (2.0.23)

acr (2.0.17)
acs (2.0.22)
advisor (0.1.0)
appservice (0.1.22)
backup (1.0.3)
batch (3.1.7)
batchai (0.1.3)
billing (0.1.6)
cdn (0.0.10)
cloud (2.0.10)
cognitiveservices (0.1.9)
command-modules-nspkg (2.0.1)
configu

[2017-12-21 14:42] tjprescott opened #5152 "Backup tests do not properly clean up resources, leading to quota issues"
The standard process for CLI tests is that when the test succeeds or fails, the resource group is deleted, which cleans up all resources. However, Backup tests fail to clean up when the vault has data within it. This results in the vaults lingering around and quotas quickly being hit.

[2017-12-21 19:20] udelblue commented on #5075
This may help [https://github.com/Azure/azure-cli/issues/4407](https://github.com/Azure/azure-cli/issues/4407)

[2017-12-21 19:22] tjprescott commented on #4127
Alternatively, this processor should not be present as the default recording_processors (which in the devtools code-base, it is). It really should only be selectively applied to certain kinds of tests (for example, the Storage commands that it was originally designed against).  It causes too many unintended consequences.

[2017-12-21 20:08] udelblue commented on #5075
or user this
docker login myregistry.azurecr.io -u xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx -p myPassword
will allow you to login from docker not using the az cli
more info here
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-get-started-docker-cli

[2017-12-21 20:26] tjprescott opened #5155 "Improve method of asserting that specific errors occur during tests."
With VCRTestBase we had the ability to allow commands to succeed if an expected error was encountered.

The current scenario test allows for "expect_failure" but it will allow the command to succeed if ANY error is encountered.

The mechanism of using:
[code]

Doesn't work consistently and is requiring changing CLIError to AssertRaises. This may be an unintended side effect of the Knack conversion

[2017-12-21 21:21] neilpeterson opened #5156 "Test Feedback"
I just want to see how this works.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58c81c4d-10d2-fc04-e707-fcf914f4d540
* Version Independent ID: 8598f788-bd33-a4c8-ed66-593e0fde75d5
* [Content](https://docs.microsoft.com/en-us/cli/azure/group?view=azure-cli-latest#az_group_create)
* [Content Source](https://github.com/

[2017-12-22 01:18] EdwardOst opened #5158 "Some packages seem to be out of date or inconsistent"
The underlying packages seem to have been pulled from a bad version.

Test:

I wanted to add kubectl to container.  This requires addding docker client and then  using installing kubernetes with acs.  Installing docker client required using curl.  Here is the dockerfile which works.

[code]

It would be preferable IMO to be able to just add the curl package.  Without doing the full apk update and

[2017-12-22 04:55] AceHack opened #5159 "Consider adding xenial build to apt-get for WSL"
I upgraded my WSL to xenial and would love to have a azure cli built for xenial

[2017-12-22 08:23] moulip opened #5160 "Cannot download blob"
Hi,

Each time I'm trying to download a blob from Azure either in interactive mode or directly from my shell, I get the following error:

`The condition specified using HTTP conditional header`

I'm using azure-cli 2.0.20 installed with pip on a Debian Buster with Fish shell. I have also tried with Bash, with the same outcome.

[2017-12-22 15:06] tjprescott commented on #5128
After @troydai's PRs fixing the worst offenders (KeyVault and Batch) the load time for all modules is back to 0.5 second, which is comparable to the dev branch.  We can still improve upon that.

[2017-12-22 16:35] tjprescott opened #5161 "[VM] test_custom_image_with_plan test is flaky when run live"
This tests has oscillated between failing because the '99percentoff' code is sometimes valid and sometimes not (service dependent) but then it tends to run constantly. Since this is unlikely due to the Knack conversion, I'm converting it to LiveScenarioTest so it can be examined later and converted back.

[2017-12-22 16:47] #4940 closed

[2017-12-22 16:47] #4919 closed

[2017-12-22 20:03] jtbarker opened #5162 "az ml not a valid command in bash and powershell on azure cli in portal"
Tried executing:
az ml account experimentation create -n jps00001 -g MyResourceGroup
Error:
az: error: argument _command_package: invalid choice: ml
---

### Environment summary

az --version in BASH on azure portal:

jim@Azure:~$ az --version
azure-cli (2.0.23)

acr (2.0.17)
acs (2.0.22)
advisor (0.1.0)
appservice (0.1.22)
backup (1.0.3)
batch (3.1.7)
batchai (0.1.3)
billing (0.1.6)
cdn (0.0.10)

[2017-12-22 20:35] MrkCrng commented on #2386
Is there a workaround for this Incorrect Padding bug when using the BASH or Power Shell CLI? If so please specify.

[2017-12-22 20:56] brendandburns commented on #2386
@MrkCrng work around is here:

https://github.com/Azure/azure-cli/issues/2386#issuecomment-292580482

[2017-12-22 21:05] novaterata opened #5163 "container logs are truncated"
---

### Environment summary

Ubuntu 16.04 64-bit installed with apt
az version 2.0.23

[code]
I have a CLI program that outputs JSON to stdout.
I created a container that outputs over 36000 characters of JSON onto a single line
When I run `az container logs -g my-rg -n my-cg --container-name my-container`
It only returns the last ~2200 characters.
I ran the same container in ACS and verified that

[2017-12-22 21:59] tjprescott opened #5164 "[BatchAI] Some BatchAI tests won't re-record"
The following batchAI tests fail when run live on dev and thus cannot be re-recorded on the Knack branch.

- [ ] test_batchai_configless_cluster_and_nfs_creation
- [ ] test_batchai_cluster_with_nfs_and_azure_file_share

In both cases, the file server provisioning fails.

These tests will be marked LiveScenarioTest to faciliate progress on the Knack branch.

[2017-12-23 00:22] udf2457 opened #5165 "Delete blob snapshots not working"
Install method manual. OS X 10.13.2. azure-cli (2.0.23)

There seems to be a bug with the snapshot delete.

In the Azure Web-UI, I am unable to change tier to Archive for a BLOB because "You also cannot change the tier of a block blob that has snapshots."

Ok fine, so I fire up the CLI and go ...

`az storage blob delete -c MY_CONTAINER -n MY_BLOB --delete-snapshots only --account-name MY_ACCOUNT`

[2017-12-23 00:41] udf2457 opened #5166 "Bug or "feature" ? az storage blob copy converts BlockBlobs to AppendBlobs"
Digging around whilst trying to troubleshoot #5165, I noticed that `az storage blob copy` seems to have converted my Block BLOBs to Append BLOBs during the process of copying them ?

Is this a bug or a "feature" ? I feel its something that might have the potential to cause problems ?

[2017-12-25 08:50] gossion opened #5170 "some VM sizes got by `az vm list-sizes --location southeastasia` are not available on the Azure portal"
For example, Standard_ND6S
[code]
but in Azure portal, that VM size is grey with `Not Available` when creating new VM.

[2017-12-25 10:11] vpopescu opened #5171 "az sql server vnet-rule create dies with 'too many 500 errors'"
I have an AKS cluster, which creates a vnet aks-vnet-123456 as part of the bring-up:

 `az aks create -n k8cluster  -g myrg ...`

also created a managed sql server:

  `az sql server create --name mysqlserver  -g myrg  ...`

I would like to add a rule to the sql server, for the aks-vnet-* subnet. _I can do this fine in the portal_. Select the SQL server, select Firewall rules, Add existing virtual

[2017-12-26 09:28] shaharmor opened #5172 "'az image create' should fail if image name already exists"
When running `az image create`, if an image with the same name already exists it should fail.
What happens today is that the image is not created, but the command finishes successfully and shows the info of the old image.
---

### Environment summary
[code]

[2017-12-26 10:35] bharathmakawana opened #5173 "az cli login ???"
Hello Experts!

I have the below info, can you help me to login using CLI, please

subscription_id
client_id
secret
tenant
cloud_environment

I tried the below:
az login -u {above client id} -p {secret id} -t {tenant id}

Please assist

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (

[2017-12-26 13:39] tjprescott commented on #5112
PR #5153 fixed this.

[2017-12-26 13:39] #5112 closed

[2017-12-26 14:58] tjprescott commented on #5162
ML is not a module in the CLI. The ML team offers a customized version of the CLI that includes these commands.

[2017-12-26 15:00] tjprescott commented on #5162
@derekbekoe link to the repo?

[2017-12-26 15:53] tjprescott commented on #5069
Converting these to LiveScenarioTests to facilitate getting the Knack Branch passing

[2017-12-26 18:37] derekbekoe commented on #5162
cc: @trangevi

[2017-12-26 18:51] derekbekoe commented on #5170
Possibly related to https://github.com/Azure/azure-cli/issues/1800?

[2017-12-26 23:41] jitskv opened #5174 "az storage blob copy start-batch adding invalid characters"
az storage blob copy start-batch is prefixing a "b'" to the beginning of each folder and suffixing each filename within with an apostrophe.
Example "folder/file.ext" becomes "b'folder/file.ext'"
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[2017-12-27 11:50] radu-matei commented on #2746
Closing due to https://github.com/Azure/azure-cli/pull/4258

Thanks,
Radu M

[2017-12-27 11:50] #2746 closed

[2017-12-27 15:22] automagicallyio commented on #3512
Any update on this? How do I configure additional virtual applications within the webapp?

[2017-12-27 17:04] tjprescott opened #5175 "[DataLake] DataLakeStoreFileScenarioTest won't playback"
This test passes live but will not playback currently due to using GUIDs in the file session requests.  Temporarily converted to LiveScenarioTest to facilitate work on the Knack branch. Can be re-enabled once a recording processor is added to mock out the GUIDs in the URI.

[2017-12-28 08:28] bingosummer opened #5176 "How to associate a certificate with an existing service principal"
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

I have a service principal with password, say the appId is A. After running [`az ad sp create-for-rbac --name A --create-cert`](https://docs.microsoft.com/en-us/cli/azure/create-an-azure

[2017-12-28 13:02] dragonfly91 commented on #5152
The correct implementation to fix this issue needs that the sequence of the cleanup should be reversed: https://github.com/Azure/azure-python-devtools/issues/29

[2017-12-28 13:53] jdanyow commented on #5156
@neilpeterson if you :lock: lock this issue it will stop showing up on the docs site.

https://github.com/blog/1847-locking-conversations

[2017-12-28 15:50] olandese opened #5177 "az configure common arguments"
it would be nice to have more detailed documentation about which are the common arguments (a list?) to be used with az configure --defaults

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 47dd5c85-9d6d-f55e-4632-0e5bfc179657
* Version Independent ID: 84e585d1-2480-b14f-5b8d-c143e3fbd532
* [Content](https://docs.microsof

[2017-12-28 17:59] #5156 closed

[2017-12-28 18:02] neilpeterson commented on #5156
Thanks @jdanyow, this is good to know. Unfortunately I do not see the option to lock the conversation on this issue. Is there configuration that needs to be completed to give me this access?

To troubleshoot, I've checked some of my personal repos and do have this capability.

[2017-12-28 21:35] iyerusad commented on #3512
@automagicallyio I was able to achieve this in a bit of janky manner but it works:

[code]

Would still like to see this as a flag in az cli though.

[2017-12-28 22:16] austinlparker opened #5178 "az vm image list fails"
When running az vm image list, we encounter the following error:

[code]

We did some digging, and it appears this is occurring because the following gist (https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json) which is referenced in the specs has been made private.

Is this the appropriate repository to file such an issue? Two, could we

[2017-12-28 22:17] austinlparker commented on #5178
We're unable to create VM's using the CLI as well, with the same 404 error.

[2017-12-28 23:02] gatneil opened #5179 "az vm create fails with http 404"
---

When I try to do an `az vm create --resource-group env23908 --name env23908 --image Canonical:UbuntuServer:16.04-LTS:latest`, I get an HTTP 404 Not Found error. The resource group exists, and the debug output shows that the CLI found the resource group, so I'm not sure what resource the 404 is referring to...

### Environment summary

Install Method: interactive script
OS version: Ubuntu 16.0

[2017-12-29 00:59] johanste commented on #5178
The issue should have been resolved. We intend to make sure that we are more resilient to this problem.

[2017-12-29 00:59] #5178 closed

[2017-12-29 00:59] johanste commented on #5179
The issue should have been resolved. We intend to make sure that we are more resilient to this problem.

[2017-12-29 00:59] #5179 closed

[2017-12-29 01:13] gatneil commented on #5179
Groovy :)

[2017-12-29 02:45] ivansharamok opened #5180 "ResourceNotFound occurs if cluster is named differently than resource group"
When deploying SF cluster using ARM template, the error may occur at the end of deployment if cluster name is not the same as resource group name.
I used ARM templates provided in repo [service-fabric-api-management](https://github.com/Azure-Samples/service-fabric-api-management) to deploy SF cluster. I specified `clusterName` parameter that is different from resource group name that I used to dep

[2017-12-30 18:05] troydai commented on #5166
Seems to be a bug.

[2017-12-31 00:08] jdanyow commented on #5156
I guess you need to be a repo owner to see the lock option

[2018-01-01 00:49] scottsen commented on #5174
Ya, this just made me very sad too.  I'm using docker on windows against azuresdk/azure-cli-python.

[2018-01-02 05:45] gowrisankar22 opened #5183 "How to check newtwork interfaces usage/quota?"
How to check newtwork interfaces usage/quota? is there any commands or api ?

[2018-01-02 17:54] markread007 opened #5184 "Homebrew Installed Azure CLI not working - ValueError: field 6 out of range (need a 48-bit value)"
Having installed azure-cli via homebrew I get the following python errors whenever I try and run a command.  e.g. if I perform az login, or az --help, or other commands I get the following errors:-

$ az login
field 6 out of range (need a 48-bit value)
Traceback (most recent call last):
  File "/usr/local/Cellar/azure-cli/2.0.23/libexec/lib/python3.6/site-packages/azure/cli/main.py", line 36, in m

[2018-01-02 18:10] gatneil commented on #5179
@johanste what was the underlying issue? @yugangw-msft as FYI :)

[2018-01-02 18:12] johanste commented on #5179
A reorganization of the rest api specs repository moved the default image alias file to a new location.

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Neil Sant Gat <notifications@github.com>
Sent: Tuesday, January 2, 2018 10:10 AM
To: Azure/azure-cli
Cc: Johan Stenberg; Mention
Subject: Re: [Azure/azure-cli] az vm create fails with http 404 (#5179)

@johanste

[2018-01-02 21:08] brianj1084 commented on #5099
You need to set the 'REQUESTS_CA_BUNDLE' environment variable to the path to your self signed cert.

[2018-01-02 22:16] yugangw-msft opened #5186 "role: expose '--can-delegate' from the create command"
When the flag is set on a role assignment (e.g. to the Reader role), the Principal listed on the role assignment will be able to create further role assignments to the Reader role.

[2018-01-02 23:19] yugangw-msft opened #5187 "vm: support os-disk swap"
Propose to expose a strong typed argument from `az vm update --os-disk` to enable the swap. Per feedback from CRP support team, this is needed to automate the VM recovery which would help during the planned maintenance

[2018-01-03 00:52] yugangw-msft commented on #5176
For Cli 2.0. please use `az ad sp reset-credentials --apend`

[2018-01-03 00:52] #5176 closed

[2018-01-03 00:54] yugangw-msft commented on #5173
you did the right, except for none public cloud, you need to run `az cloud set -n <AzureChinaCloud/AzureUSGovernment/AzureGermanCloud>`

[2018-01-03 00:54] #5173 closed

[2018-01-03 00:56] yugangw-msft commented on #5172
This is not a bug, rather `image create` is a put hence the command is idempotent like `vm create`

[2018-01-03 00:59] yugangw-msft commented on #5170
It is a known service bug that `vm list-sizes` could expose a few sizes which are actually unavailable. To mitigate that the compute service expose a `ListSkus` API to provide accurate information. So please use `az vm list-skus` to cross check.
I am closing this issue as it is the same with #1800 that @derekbekoe  has mentioned

[2018-01-03 00:59] #5170 closed

[2018-01-03 02:08] bingosummer commented on #5176
Thanks. After upgrading to `2.0.23`, I can use the option `--append` to append a new credential.

[2018-01-03 03:33] yugangw-msft commented on #5183
yes, try `az network list-usages`
[code]

[2018-01-03 03:33] #5183 closed

[2018-01-03 08:01] Anshapar commented on #5099
@brianj1084  I tried that I am still getting this error
"Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /common/oauth2/devicecode?api-version=1.0 (Caused by SSLError(SSLError("bad handshake: Error([('SSL routines', 'tls_process_server_certificate', 'certificate verify failed')],)",),))"

[2018-01-03 15:57] brianj1084 commented on #5099
@Anshapar How did you get your cert? The problem for me was the CLI uses Python. That environment variable tells Python where to look for it's trusted certs. Try using chrome and following these steps to save your root cert.

- Open chrome dev tools

- Click Security tab

- Click View Certificate button

- On the Certification Path tab click the highest node in the tree

- Click View Certificate

[2018-01-03 17:05] yugangw-msft commented on #5177
//cc: @sptramer

[2018-01-03 17:10] yugangw-msft commented on #5177
AFAIK, there are at least 6 can be configured with defaults, including `group`, `location`, `web`, `vm`, `vmss` and `acs`. Those configurable information will also show up in the help, say when you type `az acs show -h`, the output will mention them:
[code]

[2018-01-03 17:15] sptramer commented on #5177
This documentation is available online:

https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration?view=azure-cli-latest

The engineering team is responsible for maintaining a correct and accurate list of settings in the reference documentation. I had to data-mine the CLI to find these settings on my own.

[2018-01-03 18:23] yugangw-msft commented on #5177
@sptramer, okay, we will try to keep it up to date and thanks for the documenting

[2018-01-03 18:23] #5177 closed

[2018-01-03 18:35] kisantia commented on #5171
Does it work if you replace the `=` with a space for the subnet info like this:
`--subnet /subscriptions/...omitted../Microsoft.Network/virtualNetworks/aks-vnet-123456`

[2018-01-03 20:16] akshaysngupta commented on #4968
@tjprescott This issue was opened in November, any update ?

[2018-01-03 21:48] kalyanaj commented on #4997
This has been resolved now.

[2018-01-03 22:15] noelbundick opened #5190 "az acs create fails with service principal error"
Repro steps:

* Delete ~/.azure/acsServicePrincipal.json
* Try to create a cluster

[code]

Results:

* Service principal is created
  * CLI spins and waits for service principal propagation before proceeding
  * acsServicePrincipal.json is created with the generated SP info
* Command fails, and nothing is created in the resource group
  * If you run `az acs create` a second time, the deployment s

[2018-01-03 22:17] yugangw-msft opened #5191 "vm extension set: expose the name argument for users to set the sub resource name"
Currently, CLI defaults to the type name. Compute RP only allows one instance per extension type on a VM/VMSS, so setting a customized name would be a rare scenario; but nevertheless, people might have their own naming preference.
We should do it w/o introducing any breaking changes.

[2018-01-03 22:58] noelbundick commented on #5190
Related service principal error when creating AKS clusters

Repro steps:

* Delete ~/.azure/acsServicePrincipal.json
* Create an AKS cluster

[code]

Results:

* Service principal is created
  * acsServicePrincipal.json is created with the generated SP info
* Command fails, and nothing is created in the resource group
  * If you run az aks create a second time, the deployment succeeds, using the S

[2018-01-03 23:55] yugangw-msft commented on #5190
//cc: @rjtsdl @mboersma

[2018-01-03 23:59] yugangw-msft commented on #5161
I have got rid of the invalid code usage of `99percentoff` in the test. Since it is an invalid code, so I can't blame service

[2018-01-03 23:59] #5161 closed

[2018-01-04 00:02] yugangw-msft commented on #5148
Assuming @derekbekoe's suggestion works, I am closing it, but please reactivate otherwise

[2018-01-04 00:02] #5148 closed

[2018-01-04 00:20] rjtsdl commented on #5190
@noelbundick, i think you are hitting the problem of slow SPN replication across Azure regions.

I want you to check, can you make another create of aks/acs in about 1 min after the failure ? And the second creation succeed ?

[2018-01-04 00:29] yugangw-msft commented on #5163
@yolo3301, please clarify

[2018-01-04 00:44] yugangw-msft commented on #5080
For v1 container service created through `az acs create`, like @Andre-Freitas mentioned, to get the credential the original ssh key file is needed to open a SSH connection to the host so to retrieve the creds configs. For v2 container service created through `az aks create`, the ssh file is no longer needed to get the credentials as all are available through the management APIs

[2018-01-04 01:00] yugangw-msft commented on #5075
@djyou, could you please comment?

[2018-01-04 01:15] yugangw-msft commented on #4995
@Elexy, could you please update CLI to a newer version? Once the command fails again, please share the stack trace, so that I can forward to the ACS team to take a look,

[2018-01-04 01:17] yugangw-msft commented on #4979
@rjtsdl, could you please handle this?

[2018-01-04 01:17] #4978 closed

[2018-01-04 01:17] yugangw-msft commented on #4978
Released

[2018-01-04 01:25] rjtsdl commented on #4979
@yugangw-msft Ack

[2018-01-04 01:26] rjtsdl commented on #4979
@weinong , For aks, we can just remove role assignment.

For acs, do you think we need to implement a different scope for role assignment. Or we can just remove it?

[2018-01-04 01:29] yugangw-msft commented on #4987
For people working inside Microsoft, please follow the instructions below to opt-out the insider ring.
[code]

If you still run into issues after that or not a Microsoft employee, please contact me at yugangw at microsoft dot com

[2018-01-04 02:16] noelbundick commented on #5190
Yes, it works the second time, using the sp that was created in the first run

This used to work great - not sure if this is related to a recent change?

[2018-01-04 04:04] skatpgusskat opened #5194 "a typing error "--custom_data". it must be "--custom-data""
here, "az vm create -g MyResourceGroup -n MyVm --image debian --custom_data MyCloudInitScript.yml".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 152b549b-d4b3-13e5-081c-c604b6e4d89e
* Version Independent ID: 3f79be78-ce75-ad31-304b-bad7d475ec9e
* [Content](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-

[2018-01-04 05:23] Anshapar commented on #5099
@brianj1084 If I am using set command, the value is coming as empty. I used export command instead of set, but the error still persists after following the above mentioned commands.

[2018-01-04 16:25] mmacy commented on #5163
I can get, at most, 8193 bytes back for a single line with the `az container logs` command. I have a test image that sends 1,024,000 characters to STDOUT, and while a local instance of the container yields all output via `docker logs`, only 8193 bytes are returned from ACI.

Example output (same image):

[code]

[2018-01-04 17:14] yugangw-msft commented on #5194
I think the current error is reasonable `az: error: unrecognized arguments: --custom_data MyCloudInitScript.yml`. If you prefer `--custom_data` be accepted as well, then this would be pretty subjective. Consider it is the basic python argparse behavior, I suggest we live with it.

[2018-01-04 17:28] troydai opened #5195 "[Design] The return type of get_api_version and supported_api_version is not homogeneous"
The return type used to be `str` for `get_api_version` and `bool` for `supported_api_version`. However it gets complicated after #4983 introduces operation group api version. Both functions will return a `namedtuple` (later changed to `_ApiVersion` by me for performance reason) when the specific command module supported `SDKProfile`.

It makes the API misleading and confusing. For example,
[code]

[2018-01-04 17:28] troydai commented on #5195
/cc @derekbekoe @tjprescott @lmazuel

[2018-01-04 17:31] skatpgusskat commented on #5194
@yugangw-msft what? I’m sorry but i never said i prefer `—custom_data`.

 I mean, in document, It is written as `custom-data` for right argument but they wrote `custom_data` in example.

[2018-01-04 18:09] tjprescott opened #5198 "[Network] Switching gateway from active-active to active-standby doesn't work"
Create a VNET gateway in active-active mode. When attempting to switch to active-standby, the following stack trace is produced:

[code]

cc/ @anzaman @blackhu269

---

### Environment summary

Install Method: dev_setup
[code]

[2018-01-04 18:14] tjprescott commented on #5194
@skatpgusskat thanks for pointing this out!  We'll get the example fixed up.

[2018-01-04 18:20] tjprescott opened #5199 "Prevent breaking changes within azure.common"
The Knack-based core made changes to certain methods that are utilized by the azure.common package, resulting in breaking changes. These changes were needed because the Knack-based core needs a CLI context to work.

- [x] _profile.py Profile constructor
- [x] get_active_cloud method

The fix for these cases will be to make cli_ctx an optional parameter which, if not supplied, will be created for t

[2018-01-04 20:00] djyou commented on #5075
The root cause here is that `docker` daemon always runs as the `root` user. The validation using `docker ps` is correct since `docker login` also needs elevated rights (so as `docker pull`, `docker push`, etc.).

I will fix the CLI warning to suggest users add a `sudo` in such cases.

Also if you don’t want to use `sudo`, here are the steps https://docs.docker.com/engine/installation/linux/linux-p

[2018-01-04 20:38] yugangw-msft opened #5201 "vmss: instance level of public-ip and domain label not working any more"
It appears a service end issue.
Repro:
`az vmss create -n yugangw-ss -g yugangw --image Debian --admin-username clittester --vm-domain-name clitestnewnetwork --public-ip-per-vm`

Impacted CLI functional test: test_vmss_public_ip_per_vm_custom_domain_name

[2018-01-04 20:46] yugangw-msft commented on #5037
Per our conversation in the scrum, this should have been fixed?

[2018-01-04 21:41] tjprescott commented on #5199
PR #5200 merged. @annatisch you should be unblocked.

[2018-01-04 21:41] #5199 closed

[2018-01-04 22:01] tjprescott commented on #5037
Yes, this has been fixed.

[2018-01-04 22:01] #5037 closed

[2018-01-04 23:09] hemake commented on #3989
I have both python and python3 environments installed. Chose toinstall azure-cli to python3. Even if you have alias pointing python to python3 did not help. The command $ cat $(which az) @derekbekoe pointed out solved the issue.  In my case I edit the az file as simply changing the last line python to python3:

`#!/bin/bash

SOURCE="${BASH_SOURCE[0]}"
while [ -h "$SOURCE" ]; do # resolve $SOURCE u

[2018-01-04 23:22] #5145 closed

[2018-01-05 00:27] rjtsdl commented on #5190
@noelbundick

I made a PR for other stuff, but it will fix the error you are seeing as well. We used to retry on those errors, looks the error message changed. Just update it.

There are some other work around to fix or workaround the replication issue.

[2018-01-05 05:07] vpopescu commented on #5171
No, Sorry. Actually, I don't know where the equal sign came in, maybe while experimenting to get this thing to work. The syntax I'm using is without the equal sign, which is what you suggested.

The exact syntax I use is:

az sql server vnet-rule create -g RGNAME -s SQLNAME -n RULENAME --subnet /subscriptions/...omitted.../resourceGroups/MC_RGNAME_CLUSTERNAME_centralus/providers/Microsoft.Network/

[2018-01-05 17:05] tjprescott opened #5212 "Add tests to detect and prevent breaking changes to azure.common"
Follow-up item from PR #5211.

We need to add unit tests that verify that with the changes to the CLI core, the pieces of `azure.common` that rely on the CLI continue to work without breaking.

[2018-01-05 17:56] YingXue opened #5213 "Some DPS tests won't re-record"
The following DPS tests fail when run live on dev and thus cannot be re-recorded on the Knack branch.

- [ ] test_dps_lifecycle

It is failing due to some service side intermident issue, and generic wait might need to be introduced to address it.
These tests will be marked LiveScenarioTest to faciliate progress on the Knack branch.

[2018-01-05 17:57] kisantia commented on #5171
Can you email me the details of the resources and the timestamp of when you last tried this so I can take a look at the logs? My email is kisantia@microsoft.com. Thanks!

[2018-01-05 18:31] vpopescu commented on #5171
Mail sent.

[2018-01-05 18:36] Dennis-D-Allen commented on #4715
PowerShell console works for me too.  I was getting this error with ConEmu, thanks @cjeffers !

[2018-01-05 20:46] yugangw-msft commented on #5201
Caused by the dns label used by the test was taken. Add randomization in the test code to address it.

[2018-01-05 20:46] #5201 closed

[2018-01-05 22:48] mmacy commented on #5163
Update--it appears to depend on network configuration. Pulling logs from the same terminated container while on two different networks yields differing behavior.

**Offsite network (external wifi):**
[code]

**Corpnet (on campus):**
[code]

[2018-01-05 22:49] sptramer opened #5215 "`az webapp show` produces NoneType error"
When attempting to run `az webapp show`, it always produces the `NoneType` error, regardless of arguments.
[code]

---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

[2018-01-06 01:36] xinyiou opened #5218 "az aks get-credentials not returning access-profile"
I am using Azure-CLI version 2.0.24, however `az aks get-credentials` is not working.

I am getting the following error:

Traceback (most recent call last):
  File "/home/xiou/lib/azure-cli/local/lib/python2.7/site-packages/knack/cli.py", line 193, in invoke
    cmd_result = self.invocation.execute(args)
  File "/home/xiou/lib/azure-cli/local/lib/python2.7/site-packages/azure/cli/core/commands/__i

[2018-01-06 05:05] vpopescu commented on #5171
Close with the help of kisantia.

Problem was:

1. The syntax required the full path to the subnet, not to the vnet
2. Before the command could complete, MIcrosoft.Sql had to be added to service endpoints:

az network vnet subnet update -n <subnet> -g <group> --vnet-name <vnet> --service-endpoints "Microsoft.Sql"

Apparently the console must do this automatically?
anyway, closing.

[2018-01-06 05:05] #5171 closed

[2018-01-06 05:39] vpopescu commented on #5218
I am just seeing this as well, where it was previously working.

[2018-01-06 05:49] markphillips100 commented on #5218
@vpopescu I was seeing that message for v2.0.21 hence I upgraded to v2.0.24 and now see same as @xinyiou.

I'm wondering if it's anything to do with patching upgrades due to the global cpu issue in the news.  Just saying cos everything was working fine yesterday and now both my laptop and desktop have these issues with no cluster changes from me over the last 24 hours.

[2018-01-06 16:27] anpetral-msft commented on #5184
Running into the same issue here. This looks related to uuid.py from the python framework getting a 64 bit hardware address for the loopback adapter in High Sierra, specifically in _ifconfig_getnode(). The function expects a 48 bit mac address, but is instead getting 64 bits back and converting it to an int value that is too long for the subsequent call in uuid.py.

This is a sample output of the

[2018-01-06 17:42] marratj commented on #5218
I see exactly the same issue with v2.0.24.

Provisioning new clusters works just fine, however `az aks get-credentials` gives me the same error as @xinyiou

[2018-01-07 10:57] jakobehn commented on #5218
+1, also started happening for me yesterday. Seeing "No Kubernetes access profiles found. Cluster provisioning state is "Succeeded" with v2.0.21 of the CLI

[2018-01-07 11:18] sprab commented on #5218
This looks like an issue with the Azure CLI.
I downloaded v2.0.23 from https://azurecliprod.blob.core.windows.net/msi/azure-cli-2.0.23.msi and was able to login to the aks cluster.

[2018-01-07 12:02] jakobehn commented on #5218
@sprab Thanks, upgrading to 2.0.23 did the trick for me.

[2018-01-07 13:25] mdoulaty commented on #5218
I was having the same error with v2.0.24 (AttributeError: 'ManagedCluster' object has no attribute 'properties') and No Kubernetes access profiles found. Cluster provisioning state is "Succeeded" with v2.0.21 of the CLI.
Seems like v2.0.23 is the one which works as expected for the aks operations.

[2018-01-07 15:10] amityo commented on #5218
I have the same issue with 2.0.24

[2018-01-07 15:35] hardcorehead87 opened #5219 "az aks create fails with service principal tenant mismatch"
I've have recently moved my subscription to another tenant and removed all resources to recreate them anew. The recreating failed however. It would seem that the create aks command is using an incorrect tenant id.
The create command will first create a new service principal in the correct tenant (afterwards it is there in the portal) but then will it look for that service principal to create the c

[2018-01-07 15:57] rajesh-chawla commented on #5218
Also have the same issue using the versions below. Any suggestions / workarounds appreciated.
az --version
azure-cli (2.0.24)

acr (2.0.18)
acs (2.0.23)

[2018-01-07 15:58] sprab commented on #5218
@rajesh-chawla
This looks like an issue with the Azure CLI.
I downloaded v2.0.23 from https://azurecliprod.blob.core.windows.net/msi/azure-cli-2.0.23.msi and was able to login to the aks cluster.

Alternatively you can also try logging in from the Azure CloudShell Bash

[2018-01-07 16:37] ziXet commented on #5218
+1

[2018-01-07 16:41] DarqueWarrior opened #5220 "SDK Auth file is only applicable on service principals"
I wanted to create an auth file from an existing SPN so I searched the source for sdk-auth and found it was also on account show.

[code]

But when I tried to use it I get an error:
[code]

I have to admit I thought it would be odd on the account as well. But the --sdk-auth is not available on ad sp show as I expected.

Looks like that options was registered by mistake on the account.

---

### En

[2018-01-07 16:52] dnplkndll commented on #3512
I am still getting unchanged values even with the second method of passing the json

[2018-01-07 20:58] rajesh-chawla commented on #5218
I was able to create, download credentials and execute 'kubectl get nodes' using the version 2.0.23.
Appreciate the work around.

Details:

azure-cli (2.0.23)

acr (2.0.17)
acs (2.0.22)

[2018-01-08 07:00] sabbour commented on #5218
Workarounds for macOS? I started getting the error on azure-cli (2.0.20) and still got the error on (2.0.24).

Fortunately the Homebrew version is still at 2.0.23.

[2018-01-08 08:57] bramvdklinkenberg commented on #5218
Same issue here with an AKS cluster.

azure-cli (2.0.22)
aks (1.7.7)

[2018-01-08 09:29] sethtregenna commented on #5218
+1 on this  having just upgraded  to 2.0.24 on Ubuntu.

$ az --version
azure-cli (2.0.24)

$ az aks get-credentials -n dnatrial -g rg-dnatrial
'ManagedCluster' object has no attribute 'properties'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 193, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-package

[2018-01-08 09:44] MariuszJozala-Avaleo commented on #5218
Same problem here with Ubuntu and azure-cli 2.0.24-1:

After downgrading to azure-cli 2.0.23-1 with command `sudo apt-get install azure-cli=2.0.23-1` it works fine.

[2018-01-08 09:54] dragonfly91 opened #5221 "Table Transformer Formatting Issue With Long Strings"
Table transformer spills long strings instead of doing a "word wrap".

In this case, the Recommendations column contains long text and the width of this column is as long as the text itself. The width of the columns should have an upper limit and the text inside the column should be wrapped.

![image](https://user-images.githubusercontent.com/1173819/34665753-6f7cd7d6-f487-11e7-8d5c-393765326c65.p

[2018-01-08 10:28] sethtregenna commented on #5218
I can confirm that downgrading to 2.0.23-1 as @MariuszJozala-Avaleo suggests works.

[2018-01-08 11:37] frank-montyne commented on #5218
Got the error when coming back from vacation. I was using 2.2.0. I just upgraded to 2.0.24 on OSX and get the same errors as mentioned in other posts.

BTW: How can I manually install 2.2.23 on OSX? Brew doesn't work, seems to have problems with python3 and I don't want to mess up my OSX install also...

[2018-01-08 11:38] frank-montyne commented on #5218
I meant 2.0.23 of course and was using 2.0.2...

[2018-01-08 13:46] luayalem commented on #5218
'brew upgrade azure-cli' should do it for you since 2.0.23 is the brew stable version.
brew info azure-cli
azure-cli: stable 2.0.23 (bottled), HEAD

[2018-01-08 13:51] luayalem commented on #5184
+1

[2018-01-08 14:11] luayalem commented on #5218
do not make the mistake I made and upgraded to 2.0.23 on MAC you will run to this issue #5184 which will break azure-cli.

[2018-01-08 15:25] dnplkndll opened #5222 "the /config/web reports the initial values without update to the virtualDirectories"
az resource update --name "{}/config/web" --resource-group {}--resource-type "Microsoft.Web/sites/config" --set 'properties.virtualApplications=[{\"virtualPath\":\"\/\",\"physicalPath\":\"site\\wwwroot\",\"virtualDirectories\":null},{\"virtualPath\":\"\/api\",\"physicalPath\":\"site\\wwwroot\\api\",\"virtualDirectories\":null}]'
---

### Environment summary

Install Method (e.g. pip, interactive s

[2018-01-08 17:01] frank-montyne commented on #5218
Unfortunately I get this error now:

field 6 out of range (need a 48-bit value)
Traceback (most recent call last):
  File "/usr/local/Cellar/azure-cli/2.0.23/libexec/lib/python3.6/site-packages/azure/cli/main.py", line 36, in main
    cmd_result = APPLICATION.execute(args)
  File "/usr/local/Cellar/azure-cli/2.0.23/libexec/lib/python3.6/site-packages/azure/cli/core/application.py", line 141, in ex

[2018-01-08 17:02] frank-montyne commented on #5218
Brew related info:

brew info azure-cli
azure-cli: stable 2.0.23 (bottled), HEAD
Microsoft Azure CLI 2.0
https://docs.microsoft.com/cli/azure/overview
/usr/local/Cellar/azure-cli/2.0.23 (8,748 files, 49.3MB) *
  Poured from bottle on 2018-01-08 at 17:43:54
From: https://github.com/Homebrew/homebrew-core/blob/master/Formula/azure-cli.rb
==> Dependencies
Required: openssl ✔
==> Requirements
Required

[2018-01-08 17:06] frank-montyne commented on #5218
Hello Microsoft!
This is prevents a lot of people of using managed AKS Kubernetes!
Any workaround is appreciated!

[2018-01-08 17:10] derekbekoe commented on #5218
cc: @mboersma

[2018-01-08 17:20] yugangw-msft commented on #5220
@DarqueWarrior, you can login with that service principal through `az login --service-principal` and then `az account show --sdk-auth` should output the sdk-auth file content

[2018-01-08 17:30] yugangw-msft commented on #5215
@sptramer, this is a bad error, which I will fix. The real cause is that the `CLUTutorialTest` doesn't exist under `CLITutorial `. Can you use "az webapp list" to cross check for the correct names?

[2018-01-08 18:37] DarqueWarrior commented on #5220
May I suggest a better error message or clearer help? If it said this option is only available when logged in with SPN I would have connected the dots.

[2018-01-08 18:49] mboersma commented on #5218
It appears that some CLI changes in #5086 were lost in this release? We're working on a fix, but for the time being I think the only workaround is to use the previous 2.0.23 release.

[2018-01-08 18:57] mboersma opened #5223 "pip install of previous version is now broken"
Somehow older version(s) of `az` are now broken for `pip install`:
[code]

Perhaps something in az core wasn't pinned to an explicit version, so we're pulling in a new, incompatible one accidentally?

This makes coming up with a workaround for #5218 difficult.

[2018-01-08 19:07] derekbekoe commented on #5223
`pip install azure-cli==2.0.23` would still pull down the latest of everything else as all the command modules are separate packages.

You should be able to install like this:
`pip install -r https://gist.githubusercontent.com/derekbekoe/4e60d38f6243ab60cff41ad269cbf0ba/raw/aa7caf587892cc08d6ca3cb7cb85f7dc4b798cfa/azure-cli-2.0.23.txt`
That seemed to work for me.

This is how I created the require

[2018-01-08 19:15] krishnaji opened #5224 "Example for az webapp deployment source config-local-git"
The example with correct command options
az webapp  deployment source config-local-git  -g MyResourceGroup -n MyUniqueApp
git remote add azure     https://<deploy_user_name>@MyUniqueApp.scm.azurewebsites.net/MyUniqueApp.git

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b238907f-0676-8e20-66ac-89a542aa8c20
* Version In

[2018-01-08 19:43] malachma commented on #5218
The issue with "az aks get-credentials" gets also reproduced with azure-cli (2.0.20)
In a cloud-shell environemnt with 2.0.23 I'm able to get the credentials

[2018-01-08 19:45] derekbekoe commented on #5223
Closing as the above should address your issue and it never worked that way to begin with.

[2018-01-08 19:45] #5223 closed

[2018-01-08 19:48] mboersma commented on #5223
@derekbekoe understood, I just hadn't realized `pip install azure-cli` wasn't officially supported, but now that I re-read [our install docs](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest) I see we don't mention `pip install`. We must have gotten lucky up until now. :-)

[2018-01-08 19:50] derekbekoe commented on #5223
Yeah `pip install azure-cli` works best for the 'latest' CLI version.
The requirements.txt may be a solution for you if you still want to install with pip.

[2018-01-08 19:53] mboersma commented on #5218
Note that if you installed the azure-cli with `pip` (which isn't an officially supported method), you may have to [install all requirements explicitly](https://github.com/Azure/azure-cli/issues/5223#issuecomment-356063391) to get to a working 2.0.23 version.

[2018-01-08 19:55] ahmedelnably opened #5228 "webapp:Support passing a JSON file for appsettings"
Ex. az webapp config appsettings set -n <appname> -g <rgname> --settings-file <path-json-file>

[2018-01-08 20:14] mmacy opened #5229 "'az acr login' fails in 2.0.24"
**Problem:**
Operations involving type *login_server* fail due to `AttributeError: 'bool' object has no attribute 'rstrip'`

Not limited to `az acr login` -- see example below for `az acr repository list`.

Confirmed on Windows, Linux, and in the Docker container.

**Examples (Windows):**

[code]

[code]
---

### Environment summary

**OS / Install Method / shell type:**
Windows 10 / *.msi / cmd.e

[2018-01-08 21:55] tjprescott commented on #5229
Thanks for the report @mmacy!

[2018-01-08 22:22] tjprescott commented on #5228
My recommendation would be to overload the `--settings` argument but this seems very reasonable.

[2018-01-08 22:25] tjprescott commented on #4968
This should be in the next release.

[2018-01-08 22:28] tjprescott commented on #5172
In most cases, PUT operates like "create or replace". In this case, it does not.  It's basically a "create or ignore" which is why I marked it as a bug. If you did that with a VM you would get a service error, so there is something here that is not right.

[2018-01-08 22:30] tjprescott commented on #5152
@dragonfly91 sounds good.  Hopefully a devtools fix will be forthcoming. :)

[2018-01-08 22:34] tjprescott commented on #5134
The simplest way I would suggest is:

**Old**
[code]

**New**
[code]

Does this work?

[2018-01-08 22:37] tjprescott opened #5232 "Update command authoring documentation for Knack core"
- [ ] consolidate `recording_vcr_tests.md` and `scenario_base_tests.md`
- [ ] update `example_module_template` folder
- [ ] update `authoring_commands.md`

[2018-01-08 22:40] tjprescott commented on #4936
Merged

[2018-01-08 22:40] #4936 closed

[2018-01-08 22:40] tjprescott commented on #4918
Merged.

[2018-01-08 22:40] #4918 closed

[2018-01-08 22:40] tjprescott commented on #4917
Fixed and merged.

[2018-01-08 22:40] #4917 closed

[2018-01-08 22:42] tjprescott commented on #4932
Merged

[2018-01-08 22:42] #4932 closed

[2018-01-08 22:42] tjprescott commented on #4931
Merged

[2018-01-08 22:42] #4931 closed

[2018-01-08 22:43] troydai commented on #4954
@chewong

[2018-01-08 22:48] yugangw-msft commented on #5172
What happens today is that the image is not created, but the command finishes successfully and shows the info of the old image.
@shaharmor  using `--debug` flag, could you please share the trace of `az image create`  and `az image show` (assume it should have 404 )

[2018-01-08 22:48] troydai commented on #4971
@chewong

[2018-01-08 23:01] tjprescott commented on #5013
We should ensure that all template-based deployments utilize securestring when appropriate.

[2018-01-09 00:26] derekbekoe opened #5236 "[2.0.24 release & stack profile] storage incremental blob copy on 2017-03-09-profile failure"
[code]
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

[2018-01-09 00:55] derekbekoe opened #5237 "[2.0.24 release & stack profile] az network application-gateway ssl-policy Error"
[code]

---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

[2018-01-09 00:56] derekbekoe opened #5238 "[2.0.24 release / stack-profile] 'az network watcher list' group error"
[code]

  This appears to affect the whole group.

[2018-01-09 01:15] derekbekoe opened #5239 "After 2.0.24 release, several commands on stack-profile no longer work"
[code]

We should consider running https://github.com/Azure/azure-cli/blob/dev/scripts/ci/test_integration.sh#L20 on the stack profile as well.

[2018-01-09 03:26] mikewiegand commented on #3889
Hi,
is there any update on this? I'd love to see this work.
thanks

[2018-01-09 05:32] iamrobdavies opened #5240 "az monitor diagnostic-setting - cannot list diagnostic settings for a resource"
### Issue Summary
Az CLI cannot list diagnostic settings for a resource

I want to list all of the diagnostic settings for a given resource.  For example, valid PowerShell shows all diagnostic settings for a given resource:
``` Get-AzureRmDiagnosticSetting -ResourceId "{resourceId}" ```

With az CLI, both **az monitor diagnostic-settings show** and **az monitor diagnostic-settings update** require

[2018-01-09 05:46] iamrobdavies opened #5241 "az monitor diagnostic-settings create - failing"
### Issue Summary
Unable to use ```az monitor diagnostic-settings create``` as always fails with the error:
 ```--resource-group is required when name is provided for storage account or workspace or service bus namespace and rule.```

This is failing even when the **`--resource-group** argument is supplied correctly.

**Example 1:**
```az monitor diagnostic-settings create --resource-id {resourceI

[2018-01-09 06:00] troydai commented on #5241
Thanks for reporting. Just open this PR #5242  to fix this issue.

[2018-01-09 06:01] troydai commented on #5240
/home/troy/code/azure-cli/src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/tests/test_monitor_diagnostic_settings.py

[2018-01-09 06:04] troydai commented on #5236
Was this supported for the older profile?

[2018-01-09 09:08] shaharmor commented on #5172
I've done the following:

1. Created VM named `test`
2. Took image of the `test` VM to an image named `test`
3. Destroyed the `test` VM and all its related resources (Except the image)
4. Created a new VM named `test`
5. Took image of the new `test` VM to an image named `test`

I've followed all the steps in this guide: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/capture-image (D

[2018-01-09 10:35] ranieuwe opened #5243 "az vm list-sizes shows incorrect vcpu counts for constrained machines"
In the case of the new SKUs with lower vCPU counts than the original SKU (e.g. m128-32) the number of cores listed is wrong: in my example it [should be 32, instead of 128](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/constrained-vcpu).

Output as follows:

[code]

This is also the case for the Ev3 series. This may be a REST API bug in that the wrong JSON is returned instead of

[2018-01-09 11:14] FinVamp1 opened #5244 "webapp: use right 'kind' to filter away non webapp ones"
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

currently using version 2.0.23 via Azure Cloud Console.

[code]

[2018-01-09 11:57] chrmarti opened #5245 "'Cloud' object has no attribute 'supported_api_version'"
2.0.24 installed in Anaconda with pip.

I'm calling the completer myself, so that might cause a problem by itself, although the code there is the only place `supported_api_version` is called on `cloud` from what I see: https://github.com/Azure/azure-cli/blob/e045d5c535be77e27881bc99aadcfb707c8e8e22/src/azure-cli-core/azure/cli/core/commands/parameters.py#L73

[code]

/cc @chrisdias

[2018-01-09 12:11] guybartal opened #5246 "list available service kinds"
Hi, there's a missing functionality for listing available cognitive kinds... how do we know which kind is available and on which region it's available?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f60024e5-9f73-a991-c699-b334287845d2
* Version Independent ID: 452c87e7-a404-0f3c-8520-c13ef8c789c4
* [Content](https://d

[2018-01-09 16:08] tjprescott commented on #5246
Which command are you referring to?

[2018-01-09 16:10] tjprescott commented on #5245
Looks like a bug.

[2018-01-09 16:36] #5135 closed

[2018-01-09 16:37] #4960 closed

[2018-01-09 16:38] tjprescott commented on #4502
The was only partially fixed by PR #5011.

[2018-01-09 16:49] FedorRomanov opened #5247 "[Performance] 'az storage blob' hangs without any output on MacOs (when the container contains a large number of blobs)"
_The subject was changed after @FedorRomanov determined that the real cause of the 'hanging' perception is a performance issue_

---
### Environment summary
on MacOs
[code]
installed/upgraded az cli by brew.

when running any command 'az storage blob' for example:
[code]
it hangs without any output.

when running the same command with '--debug' option:
[code]
it prints following into the console
[

[2018-01-09 16:53] #5198 closed

[2018-01-09 16:58] derekbekoe commented on #5239
Can verify with:
[code]

[2018-01-09 17:00] tjprescott commented on #5239
It would be good to fold this check into the standard pre-release process.

[2018-01-09 17:20] derekbekoe commented on #838
Thanks @tjprescott!

[2018-01-09 17:20] #838 closed

[2018-01-09 17:29] #4988 closed

[2018-01-09 17:51] ahmedelnably commented on #5244
We did a backend change in App Service to normalize the kind property, @panchagnula & @yugangw-msft we need to make sure that CLI handles that change.

[2018-01-09 17:51] #4968 closed

[2018-01-09 18:11] tjprescott commented on #5238
I will fix this as part of #5239.

[2018-01-09 18:11] #5238 closed

[2018-01-09 18:11] tjprescott commented on #5237
I will fix this as part of #5239.

[2018-01-09 18:11] #5237 closed

[2018-01-09 18:11] tjprescott commented on #5236
I will fix this as part of #5239.

[2018-01-09 18:11] #5236 closed

[2018-01-09 18:29] #5245 closed

[2018-01-09 18:41] #5194 closed

[2018-01-09 19:18] yugangw-msft commented on #5219
msrest.http_logger : b'{\n "code": "ServicePrincipalNotFound",\n "message": "Service principal clientID: (my-service-principal-id) not found in Active Directory tenant (company-ad-tenant-id), Please see https://aka.ms/acs-sp-help for more details."\n }'

@rjtsdl, this looks more like #5190

[2018-01-09 19:28] ahaeber commented on #5219
@yugangw-msft seems very similar to #5190 however to me it does not create the cluster no matter how often I try. And I've tried from local CLI (v2.0.23), Azure cloud shell and portal (including re-deploy the failed deployment that was created).

Since it fails across different clients (CLI/portal) the error appears to be that some part of the management API use the incorrect Azure AD tenant id to

[2018-01-09 21:12] #4979 closed

[2018-01-09 21:13] yugangw-msft commented on #5190
Fixed

[2018-01-09 21:13] #5190 closed

[2018-01-09 21:28] #5187 closed

[2018-01-09 22:42] hardcorehead87 commented on #5219
I've seen #5190 as well, but there the problem seems to be the timing between the 2 steps..
In the first step you create a service principal and afterwards as a second step u use if for the aks create.
The SP isn't yet available for use in the aks create but when you wait and retry in a minute.. It works.

The problem @ahaeber is  reporting seems like the same as mine.. No mater how long you wait,

[2018-01-09 23:26] yugangw-msft commented on #5172
@shaharmor, thanks for the detail. I am contacting Compute Service team for whether an image captured from a VM can be updated. At the same time, can you delete the image first?

[2018-01-09 23:32] rjtsdl commented on #5219
@hardcorehead87 , i think can you check if your ~/.azure/acsServicePrincipal.json file exist. If so, can you remove it, and do retry.

The logic is, we cached the SPN in that file, and use Sub as the key. I guess, you moved your sub to new Tenant, the pre-created SPN doesn't work anymore. Remove, and retry will create a new one for you.

[2018-01-09 23:44] yugangw-msft commented on #5243
@ranieuwe, let me clarify with the compute service team and get back to you

[2018-01-09 23:58] #4953 closed

[2018-01-10 07:18] Anshapar opened #5258 "Run Azure CLI with self-signed cert"
Environment summary

CLI version azure-cli (2.0.22)
OS Type: Windows 10
Installation via: apt-get for Bash on Ubuntu on Windows

I am trying to create VM using the following command:
az vm create --resource-group anshitagroup --name myVM --location westeurope --nics myNic --image win2016datacenter --adm
in-username ramarao@revskope.onmicrosoft.com --admin-password password

And I am getting the fo

[2018-01-10 07:30] karataliu commented on #5229
Also saw the break, thanks for the fix. Should really get more test since it's weak typed.
For people using ubuntu repository, can install the old version as a temp fix:
[code]

[2018-01-10 07:41] shaharmor commented on #5172
@yugangw-msft Not sure what you're asking. I can delete the image before creating the new one and it will work, but I'd prefer to have:
1. If I don't explicitly use something like `--overwrite`, I'd expect the command `az image create` to return an error if the image exists
2. If I use `--overwrite`, to make it actually overwrite :)

[2018-01-10 07:49] ahaeber commented on #5219
Just tried to delete ~/.azure/acsServicePrincipal.json and execute the command again. It takes longer time, apparently because it creates a new service principal, but fails at the end with the same error. The management API still looks for the service principal in the wrong Azure Active Directory. Is there any option to specify to `az` what Azure AD tenant to use for the request?

[2018-01-10 07:56] hardcorehead87 commented on #5219
I've already tried this and have the same result as @ahaeber .. The error message still says the aks create can't find the SPN in the old tenant.

I'm using a user account that's available in both the old and new tenant.. I also tried making a user in the new tenant that's only available in the new tenant thinking that it could also be something user related but no dice. When executing the aks cre

[2018-01-10 10:33] Jaysojitra13 commented on #1722
ZSH shell doesn't support pip command.
Now what?

[2018-01-10 12:48] sigiklu opened #5259 "DNS exports are relative, but include full domain name (missing a dot or omit full domain)"
It looks like that **az network dns zone export** is exporting a zone with each record appended by the zone name, however not ending with a . (signalling it's an absolute/fully qualified entry).

Using the example from pull request #2040, if i exported the DNS record for mycname in zone1.com, this is the exported result ($ORIGIN zone1.com.):
`mycname.zone1.com 3600 IN CNAME contoso.com.`

However,

[2018-01-10 12:55] eltermann opened #5260 "Allow case-insensitive parameter types"
ARM documentation [1] presents the possibility to use the parameter type "secureString".

However, doing so and trying to deploy via this CLI leads to the message:

Using "securestring" works, but the CLI should be case-insensitive for parameter types.

[1] https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-manager-templates-parameters

[2018-01-10 15:40] novaterata opened #5262 "az acr repository list AttributeError 'bool' object has no attribute 'rstrip'"
Ubuntu 17.10 x64
azure-cli-2.0.24
I believe my ACR was empty when this happens

I run `az acr repository list -g foo -n Bar` and get the following stacktrace:

[code]

[2018-01-10 15:46] novaterata commented on #5262
This occurs even if there is an image in the ACR

[2018-01-10 15:54] tjprescott commented on #5259
Thanks for the report @sigiklu. I'll take a look.

[2018-01-10 15:55] tjprescott commented on #5260
Hi @eltermann can you share the command syntax you are using?  In general, parameter options and so forth are case insensitive in the CLI.

[2018-01-10 15:59] mmacy commented on #5262
Hi @novaterata, thanks for the report. This is a known issue, reported in #5229, and there is a fix in the works (linked in that issue).

[2018-01-10 16:03] novaterata commented on #5262
@mmacy I was able to login, but that does seem to be the same issue.

[2018-01-10 16:03] #5262 closed

[2018-01-10 16:37] collinsauve opened #5263 "High CPU usage telemetry_upload.py when no internet connection"
I lost internet connectivity while our software was trying to run `az` for keyvault lookups.   Then this happened:

![image](https://user-images.githubusercontent.com/157603/34783704-41f1a246-f5fa-11e7-9483-a95d260a8e7e.png)

---

### Environment summary

[code]

### Full command-line for one of those processes:

[code]

[2018-01-10 16:41] tjprescott commented on #5263
Thanks for the report @collinsauve!

[2018-01-10 17:34] #5229 closed

[2018-01-10 18:15] rjtsdl commented on #5219
@ahaeber @hardcorehead87 ,

So both of you have the scenario of moving from tenant to a different one?

[2018-01-10 18:20] hardcorehead87 commented on #5219
@rjtsdl Correct. I actually have the same usecase as @ahaeber .. The azure subscription credit coming with my MSDN (visual studio subscription) is created on under the company tenant and I moved it to its own tenant.

[2018-01-10 18:22] derekbekoe commented on #5263
Possibly related to:
https://github.com/Azure/azure-cli/issues/4524
https://github.com/Azure/azure-cli/issues/4649

[2018-01-10 18:27] rjtsdl commented on #5219
@hardcorehead87 thx

Yesterday, I merged #5208. The PR was basically to remove some trick on SPN for AKS. I don't know if it will fix the issue your are facing :(

Do you want to try the latest azure-cli (the latest nightly build) which contains the fix? Btw, there is a azure-cli release cut-off today. @yugangw-msft . If so, you probably would get latest from official channel very soon.

[2018-01-10 18:33] #5239 closed

[2018-01-10 18:42] francisco-andrade commented on #4618
Hi @yugangw-msft , I'm facing the same message here. Can you help me, please?
I'm trying to use the client from an Azure CentOS VM.

"az account list" outputs:

"az login" outputs:

The client works from my notebook, but I needed to use the cli from an Azure VM.

**CLI Version:** What version of the CLI and modules are installed? (Use az --version)
Answer here: azure-cli (2.0.24)

**OS Version:**

[2018-01-10 19:21] yugangw-msft commented on #5219
@rjtsdl Docker image with you recent change can be used:
`docker run -v ${HOME}:/root -it azuresdk/azure-cli-python:latest`

[2018-01-10 19:26] collinsauve commented on #5263
Those do seem related (but don't take my word for it haha)

BTW in case it helps: these processes stayed for > 10 minutes until I forcibly closed them

[2018-01-10 19:48] ebr opened #5265 "`az interactive` broken after upgrade"
Several of us upgraded our `az` cli yesterday, and now `az interactive` throws the following error:

[code]

---

### Environment summary

Install Method:
[code]

CLI version (`az --version`):
[code]

OS version: `centos7` on both Docker and bare metal

Shell Type: bash

[2018-01-10 20:18] aumanjoa opened #5267 "az aks get-credentials not working with the cli azure-cli (2.0.24) on mac"
running this command

`az aks get-credentials`

returns this error

I have updated the cli using brew upgrade on a mac with macOS High Sierra

[2018-01-10 20:20] eltermann commented on #5260
Trying to deploy the following template (let's say azuredeploy.json)

[code]

Command for deploy:

[code]

The issue is here:

[code]

Variable **param_type** should be lowered before being checked.

[2018-01-10 20:22] sebastus commented on #5151
+1 - trying to create a log profile directing activity logs to an event hub using az cli v2.

[2018-01-10 20:22] #5267 closed

[2018-01-10 20:23] aumanjoa commented on #5267
known issue https://github.com/Azure/AKS/issues/113

[2018-01-10 21:17] xingwu1 opened #5268 "Batch cli: Fail to parse the command line enum."
Command:

az batch node reboot --pool-id mypool --node-id mynodeid --node-reboot-option taskCompletion

Error:
az batch node reboot: error: argument --node-reboot-option: invalid choice: taskCompletion
usage: az batch node reboot [-h] [--output {json,tsv,table,jsonc}] [--verbose]
                            [--debug] [--query JMESPATH]
                            [--account-name ACCOUNT_NAME]

[2018-01-10 21:51] balazsnemeth commented on #2854
@elibarzilay : Do you know the answer for the 3) point? What happend if a source directory has nested directories? My upload failing without any error message, so maybe this cause an issue

[2018-01-10 22:02] #5141 closed

[2018-01-10 23:09] OguzPastirmaci commented on #5151
Having the same issue.

Tried az cli version 2.0.21, 2.0.22, 2.0.23, and 2.0.24.

[2018-01-10 23:24] troydai commented on #4061
@annatisch is this issue fixed?

[2018-01-10 23:32] #5265 closed

[2018-01-10 23:39] troydai commented on #2333
@JasonRShaver can you take care of this?

[2018-01-10 23:46] troydai commented on #5263
@collinsauve this issue was addressed in a recent release. Can you try out a newer build?

[2018-01-10 23:46] troydai commented on #5263
The fix is here: https://github.com/Azure/azure-cli/pull/4992

[2018-01-11 00:14] troydai opened #5274 "Revisit az monitor diagnostic-settings create command's parameters"
Allow users to specify shorter `--event-hub-rule` with a name instead of resource id.

[2018-01-11 00:25] troydai commented on #5240
#5242

[2018-01-11 00:26] troydai commented on #5263
I will close this issue since it was addressed in a recent build. Please feel free to reopen if it is an issue in the latest build.

[2018-01-11 00:26] #5263 closed

[2018-01-11 00:38] troydai commented on #5165
So in short, the show command indicates there isn't snapshot associate to this block blob, and the delete command failed to delete snapshots, either. However, the web portal refuse to change its tier to archive because of the snapshot. Since the blob was in another account previously, is the original source has snapshots?

This is likely a storage service issue, and I will refer this to the storag

[2018-01-11 00:40] yugangw-msft commented on #5172
I have asked service team for the expected behavior.  There is a service end bug here.
In short, no property of image (except tags) can be updated. The current implementations looks like:
1.	On update of an image, service will fail if any property has changed. Updates to tags are allowed though.
2.	If nothing has changed, service accepts the operation and don’t do anything.

#2 was to tackle the c

[2018-01-11 05:18] udf2457 commented on #5165
@troydai

I can confirm original blob has no snapshots (I have tried with a few blobs, none of which had snapshots).

[2018-01-11 06:18] Walter-Shui commented on #5215
See same with the issue on Stack Overflow https://stackoverflow.com/questions/47563717/azure-cli-returns-an-incomplete-list-of-webapps/47587429

[2018-01-11 07:46] hardcorehead87 commented on #5219
I've tried with the latest docker image (b4d588470811 age: 5 days ago) and I get the same result.

Operation failed with status: 'Bad Request'. Details: Service principal clientID: f01508c9-8bc5-4299-9899-56f7f38a22e5 not found in Active Directory tenant f56e47b2-0545-44e0-ae76-***********

The SPN is made in the new tenant but the bad request still states the previous one.

[2018-01-11 11:22] Anshapar commented on #5258
I am using Azure CLI with self-signed certificate.

[2018-01-11 11:24] mwieczorek opened #5275 "[FEATURE] New command to copy files from/to VMs"
Is it possible to add feature to azure cli to copy files from/to VMs?
Something like:
[code]

[2018-01-11 16:43] branstraub commented on #5218
Is there any fix on MacOS?
Thxs!

[2018-01-11 16:52] mboersma commented on #5219
Actually `:latest` was built 5 days ago, but the Docker tag for `:dev` is from last night. Looks like it has the changes from #5208, so it's worth trying to see if that helps with this issue:
`docker run -v ${HOME}:/root -it azuresdk/azure-cli-python:dev`

[2018-01-11 16:54] frank-montyne commented on #5218
I removed the current installation that used the install script and then
installed cli 2.0.23 using HomeBrew. That did the trick for now.

Best regards,
Frank

On Thu, Jan 11, 2018 at 5:43 PM, Branko Straub <notifications@github.com>
wrote:

[2018-01-11 16:56] yugangw-msft commented on #5275
If your VM has a public ip address, you have lots of good tools to upload a file. `az vm open-port` can also be used if the tool you prefer requires a particular port to be opened.

[2018-01-11 17:03] yugangw-msft commented on #5244
@ahmedelnably, please elaborate. You mean we should check more app kind after the backend normalization work? Or maybe we should not filter based on the `kind` in `az webapp list/show` at all? Till `az functionapp` came up, CLI never filters on `kind`; but the filtering logics has been broken a few times per back end change.
And there is a StackOverflow thread for this `https://stackoverflow.com/q

[2018-01-11 17:24] yugangw-msft commented on #5258
//CC:@derekbekoe
I believe, you can use the environment variable `REQUESTS_CA_BUNDLE` to point to your own cert

[2018-01-11 17:26] yugangw-msft commented on #5215
@Walter-Shui, thanks for the comments. The main tracking issue is #5244

[2018-01-11 17:36] derekbekoe commented on #5258
Seems the same as this?
https://github.com/Azure/azure-cli/issues/5099

[2018-01-11 17:38] derekbekoe commented on #5258
The code to handle this is here (https://github.com/Azure/azure-cli/blob/dev/src/azure-cli-core/azure/cli/core/_debug.py#L18).
Is the cert correct? Could there be something else in your environment affecting this?

[2018-01-11 17:59] troydai commented on #5241
Fixed in https://github.com/Azure/azure-cli/pull/5242

[2018-01-11 17:59] #5241 closed

[2018-01-11 17:59] troydai commented on #5240
Fixed in https://github.com/Azure/azure-cli/pull/5242

[2018-01-11 17:59] #5240 closed

[2018-01-11 18:29] tjprescott commented on #5274
This will require some discussion with monitor team.  So right now there are two parameters: `--event-hub` and `--event-hub-rule`. Is it the case that the event hub rule always has to come from the specified event hub, or can you have an event hub rule ID that points to a different event hub?  Depending on that, the way forward would be:

**Current**
[code]

**Option 1 - Event Hub and Rule Must Ag

[2018-01-11 18:33] #4843 closed

[2018-01-11 18:33] #5075 closed

[2018-01-11 18:40] mirobers commented on #5165
@udf2457 Would you mind trying this again and posting the new server request ID that you get?

[2018-01-11 19:13] #2950 closed

[2018-01-11 19:21] hardcorehead87 commented on #5219
Tried azuresdk/azure-cli-python:dev (a4cf731726d9 age: About an hour ago) with the same result.

[2018-01-11 19:40] tarockey opened #5276 "Az Aks get-credentials fails"
Running Azure Cli 2.0.24, trying to run az aks get-credentials -g <resourceGroup> -n <aksName> within Powershell and Bash (both up to date) results in the same error of 'ManagedCluster' object has no attribute 'properties'. Stack trace below:

az aks get-credentials -g Team-03 -n team3aks
'ManagedCluster' object has no attribute 'properties'
Traceback (most recent call last):
  File "C:\Program Fi

[2018-01-11 19:41] derekbekoe commented on #5276
Duplicate of https://github.com/Azure/azure-cli/issues/5218

[2018-01-11 19:41] #5276 closed

[2018-01-11 21:44] rjtsdl commented on #5219
@hardcorehead87 thx for trying it out.

I found a bug in our AKS/ACS rp code. It is a simple fix. I will request to get it deployed ASAP.
I will update it with ETA later.

[2018-01-11 21:51] derekbekoe opened #5278 "post-knack 'az interactive' issues"
**1. Errors on start up**
<img width="660" alt="screen shot 2018-01-11 at 1 50 16 pm" src="https://user-images.githubusercontent.com/16448634/34849198-704e8942-f6d6-11e7-8060-6a569d9014e3.png">

Related to this, params don't show up in completions when you type `--`

**2. Full cloud object is printed and it mesess up the UI (this didn't use to happen before)**
<img width="1234" alt="screen shot 20

[2018-01-11 21:55] brusMX opened #5279 "'az sf cluster list' throwing exceptions instead of error messages"
---

### Environment summary

Install Method - apt-get on bash on Windows
 OS version / Shell Type -  **Bash on Windows**
[code]

The command I am running is the following:
[code]

[code]

But even if I specify the resource group it shows me the error.

[2018-01-11 22:17] derekbekoe commented on #5278
Fix for 2 incoming.

[2018-01-11 22:30] yugangw-msft commented on #4127
Linked bug at https://github.com/Azure/azure-python-devtools/issues/37

[2018-01-11 23:03] derekbekoe commented on #5278
Fix for 3 incoming.

[2018-01-11 23:47] tjprescott commented on #5279
@QingChenmsft to take a look

[2018-01-11 23:59] yugangw-msft opened #5281 "vmss create: ensure NSG is provisioned when use an existing Standard LB"
#5271 handles to provision the NSG(ssh/rdp) when we create a fresh new load balancer. This issue is to track that we should do the same when use an existing Standard LB.
We should get this done by SLB V2 GA

[2018-01-12 00:38] #5279 closed

[2018-01-12 00:43] chewong commented on #3555
Can only reproduce this issue on a Windows machine, with cmd.exe. For long-running operations, we use a third-party library called humanfriendly to indicate the progress and animate the spinner. Once the LRO is finished, the third-party library writes an ANSI escape sequence (called `erase_line_code` in the third-party library) `'\r\x1b[K'` to the standard out stream to remove the spinner. Also no

[2018-01-12 01:08] tjprescott opened #5284 "Missing option names when in interactive mode."
In CLI version 2.0.25, the options flags disappeared when using `az interactive`.

[2018-01-12 01:20] jldeen commented on #1722
@Jaysojitra13 Can you elaborate on what you mean "zsh shell doesn't support pip command?" I'm using pip just fine.

[2018-01-12 02:44] #5278 closed

[2018-01-12 10:25] Jaysojitra13 commented on #1722
Herewith i am sending you a screenshot. I hope you will understand what is
the error....

On Fri, Jan 12, 2018 at 6:50 AM, Jessica Deen <notifications@github.com>
wrote:

[2018-01-12 11:30] benc-uk commented on #5218
I'm giving a demo of AKS at an event next week, this does not look good.
This is the 2nd time the CLI has broken support for AKS, please can we have an ETA on a fix?

[2018-01-12 11:47] bramvdklinkenberg commented on #5218
@benc-uk just make sure you use 2.0.23 and everything will work :)

[2018-01-12 11:51] benc-uk commented on #5218
@bramvdklinkenberg Thanks, I've rolled back using apt and installed .23 and it's working again. Phew!

[2018-01-12 11:53] leobastin commented on #1016
I do have python 2.7 but  get the same error:
/usr/bin/python: No module named azure

$ python
Python 2.7.10 (default, Jul 15 2017, 17:16:57)
[GCC 4.2.1 Compatible Apple LLVM 9.0.0 (clang-900.0.31)] on darwin
Type "help", "copyright", "credits" or "license" for more information.

[2018-01-12 11:53] ComeMaes commented on #5218
@frank-montyne Are there any steps to install 2.0.23 via HomeBrew if you don't have this version locally? The current formula is 2.0.24_1, which does not fix 2.0.24. I can't seem to be able to switch to a older version of azure-cli - I don't have 2.0.23 locally.
@benc-uk According to [this comment](https://github.com/Azure/AKS/issues/113#issuecomment-356377129), 2.0.25 is scheduled for january 17t

[2018-01-12 11:59] Anshapar commented on #5258
I tried with pointing REQUESTS_CA_BUNDLE to my cert but the error still persists. If I set ADAL_PYTHON_SSL_NO_VERIFY=1 and AZURE_CLI_DISABLE_CONNECTION_VERIFICATION=1 then other commands are working fine but I am not able to create VM.

[2018-01-12 14:29] nucleusv opened #5285 "Is it possible to output documentation in another format?"
Hi,

I would like to create ansible playbook wrappers for every azure cli command.
Is it possible to output current documentation in another format?

For example we have https://docs.microsoft.com/en-us/cli/azure/sql/server?view=azure-cli-latest#az_sql_server_create

Is it possible to output it in table format for easy parsing:
I would like to get command name and required parameters and optional

[2018-01-12 14:30] ormico commented on #5218
just came in today and found this error.
I'm on v2.0.21
How can I get a copy of 2.0.23?

[2018-01-12 15:01] luisamador opened #5286 "[Storage] --if-unmodified-since The condition specified using HTTP conditional header(s) is not met"
I have a storage account with a storage container called "backups".

when the storage container is empty (no blob backup files in it) this command works:
[code]

the command above deletes the files that were not modified since the last month, and it works as expected.

if I upload one blob backup file into the storage container and run the same command, it errors:
[code]

Another example:

I have

[2018-01-12 15:02] ormico commented on #5218
looking for the Windows msi for 2.0.23

[2018-01-12 15:07] derekbekoe commented on #5218
https://azurecliprod.blob.core.windows.net/msi/azure-cli-2.0.23.msi for the previous msi

[2018-01-12 16:34] nucleusv commented on #5285
Found an answer on my question: https://github.com/Azure/azure-docs-cli-python/blob/live/latest/docs-ref-autogen/sql/elastic-pool.yml

[2018-01-12 16:34] #5285 closed

[2018-01-12 17:58] derekbekoe opened #5288 "IoT module prints message during 'az interactive' first use."
![screen shot 2018-01-12 at 9 57 03 am](https://user-images.githubusercontent.com/16448634/34888405-0abf7fce-f77f-11e7-9ee0-022e24285b7e.png)

It should only print that message when the specific IoT commands are run.

cc: @digimaun

---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type

[2018-01-12 18:23] #4575 closed

[2018-01-12 18:24] tjprescott commented on #4215
@troydai is this addressed in your recent PR?

[2018-01-12 18:43] Trepliev opened #5290 "az acr repository delete fails with exception"
azure-cli (2.0.24) installed via curl -L https://aka.ms/InstallAzureCli |bash on the Mac OS X.

[code]
SKU is Premium
I tried to add --tag and --manifest values but no luck.

Thank you for your help!

[2018-01-12 18:56] davidwholland commented on #5218
@derekbekoe How did you find that link? Are previous versions listed somewhere?

[2018-01-12 19:06] tjprescott commented on #5290
Seems related to #5229. May already be fixed.

[2018-01-12 19:37] derekbekoe commented on #5218
@davidwholland The main install link, https://aka.ms/InstallAzureCliWindows, has a redirect that points to the latest versions. You can go back to older versions by modifying the URL.

[code]

[2018-01-12 20:23] alexmarshall132 commented on #5099
I'm encountering the same problem as @Anshapar. I can confirm that correctly setting the variable still doesn't work and the python runtime still tries to validate the SSL certs in spite of the variable being present. I know there's no issue with the cert to which the variable is pointing because I've used it with other applications in similar scenarios.

[2018-01-12 20:40] davidwholland commented on #5218
@derekbekoe nice, thanks!

[2018-01-12 21:17] yugangw-msft commented on #5258
@Anshapar, I will try out myself and get back to you the end to end instructions

[2018-01-12 21:21] yugangw-msft opened #5292 "vm command modules: revisit all artifacts marked as preview"
Log this as the check-point so we can revisit routinely to remove those flags once GA, and apply necessary adjustment if the GA version has breaking change:
1. ~VMSS Rolling upgrade~
2. ~Availability Zone~
3. ~Run-Commands~
4. ~Disk Encryption~
5. ~OS-disk swap~

[2018-01-12 21:57] yugangw-msft commented on #4544
Item 1 was done through #5271. Also confirmed GA version will not support zones update, hence item 2 can be ignored.
So we are done.

[2018-01-12 21:57] #4544 closed

[2018-01-12 22:05] JasonRShaver opened #5294 "Confusing help for `az vm extension set`"
The `-n` is used for the extension name, but shows up as a resource id arg instead, making this confusing.

[code]

[2018-01-12 22:07] derekbekoe opened #5295 "az acs kubernetes install-cli requires log in when it didn't in 2.0.23"
This is because the client_factory is not reset to None so the CLI tries to create the client even though it is not needed. Checking for unused `client` would resolve this.

https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/commands.py#L52

There may be other commands where this happens.

cc: @tjprescott

[2018-01-12 22:15] doug-fish opened #5296 "az aks get-credentials 2.0.24 not working"
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

I installed on OSX 10.11.6 via brew. I am running in bash.
My az version:
 az --version
azure-cli (2.0.24)
[code]
I am unable to obtain credentials to my cluster:

$ az aks get-credentials --res

[2018-01-12 22:19] derekbekoe commented on #5296
Closing as duplicate of https://github.com/Azure/azure-cli/issues/5218.
There are some workarounds listed there including reverting to 2.0.23.
We will be releasing 2.0.25 next week.

[2018-01-12 22:19] #5296 closed

[2018-01-12 23:21] derekbekoe commented on #5288
Maybe it should only show up if `--help` is done.

[2018-01-12 23:28] tjprescott commented on #5127
PR #5140 merged.

[2018-01-12 23:28] #5127 closed

[2018-01-12 23:29] tjprescott commented on #5111
@yugangw-msft didn't you fix this?

[2018-01-12 23:33] yugangw-msft commented on #5111
yes

[2018-01-12 23:33] #5111 closed

[2018-01-12 23:36] yugangw-msft opened #5298 "vm extension: better support for provisioning "azure enhanced monitoring" extension"

[2018-01-12 23:45] tjprescott commented on #2250
This has started to become an issue as CI builds are taking longer and longer.  We should be able to identify which modules are affected by a PR and narrow the scope of what is played back.

[2018-01-12 23:49] kwilson7770 commented on #1221
So the most likely cause for this failing is this code nonsense:

test/integration/targets/copy/files/subdir/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/subdir1/circles/sub

[2018-01-12 23:49] tjprescott commented on #5155
Specifically, you should be able to assert that a specific expected error occurred by examining the error message. Simply looking for "CLIError" is insufficient (and doesn't even work reliably currently).  We often have workarounds because of a poor service error message. Detecting when that error message is fixed would fail the test, alert us, and allow us to remove the workaround. Also, you want

[2018-01-12 23:51] tjprescott commented on #5032
Related to #5155.

[2018-01-13 00:04] derekbekoe commented on #5155
Is this what this change is for?
https://github.com/Microsoft/knack/pull/66

[2018-01-13 00:05] #570 closed

[2018-01-13 00:06] tjprescott commented on #5155
Kinda. I think that fixes #5032. The issue here is more an issue with ScenarioTest being too coarse-grained when it comes to validating the error.

[2018-01-13 00:06] #5268 closed

[2018-01-13 00:39] tjprescott commented on #5259
What do you get when you run `az --version`?

[2018-01-13 00:46] tjprescott commented on #5259
I just tested this on a DNS zone and it appears to work fine:

[code]

[2018-01-14 11:21] torosent opened #5299 "az aks get-credentials broken in 2.0.24"
---

### Environment summary

Using Mac with az 2.0.24 via Homebrew ``` az aks get-credentials``` is broken
Works ok on 2.0.23

[code]

Output
[code]

[2018-01-14 15:10] korovaisdead opened #5300 "az aks create fails with `msrest.exceptions : User was not found.`"
Hello,

I'm trying to create aks with

`az aks create --resource-group rg1 --name clstr1 --node-count 1 --generate-ssh-keys `

Logged into azure with `az login` and followed all that workflow with entering the code..

and got the next error:

[code]
---

### Environment summary

brew install / azure-cli (2.0.24) / MacOS 10.13.2 / bash

[code]

[2018-01-14 16:38] jldeen commented on #1722
@Jaysojitra13 I didn't see a screenshot attached to your previous reply. Can you try again?

[2018-01-14 20:22] mwieczorek commented on #5275
Thanks @yugangw-msft
Sure I can upload files using SCP, but using az cli would make some automation tasks simpler, especially for VMs without public IP.

[2018-01-14 22:06] hmilkovi commented on #3451
I have same error with 196G. I see the if is checking just if 200Giga plizz make it
optional as command argument and some default setting.

[2018-01-15 05:56] bingosummer opened #5301 "The copy properties of "az storage blob list" are not correct"
When I use `az storage blob show`, I can get the `copy` properties of the blob.

[code]

But using `az storage blob list`, the `copy` properties are null values.

[code]
---

### Environment summary

interactive script / 2.0.23 / Ubuntu / bash

[2018-01-15 09:09] hmilkovi commented on #4072
Is this released?

[2018-01-15 12:50] kvolkovich-sc commented on #5299
It works ok with 2.0.23

To `azure-cli` development team: Can you please provide homebrew formulas for previous versions. Now I can install the only latest version of `azure-cli` using brew.

[2018-01-15 17:12] gcyre opened #5302 "az aks install-cli "certificate verify failed""
Not sure if this is the right place for this but I'm trying to install the Kubernetes cli tools in the Azure portal cloud-cli and am getting a certificate verify failed error

`PS Azure:\> az aks install-cli
<urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:749)>
Traceback (most recent call last):
  File "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\lib\urllib\r

[2018-01-15 19:06] karenyyng opened #5303 "az acr login error: AttributeError: 'bool' object has no attribute 'rstrip'"
## command executed to reproduce this bug
Commands to set up the appropriate resources
[code]
Wait til the resource is set up
[code]
try logging into the container registry

[code]
Stack Overflow has a post about the exact same issue at [link](https://stackoverflow.com/questions/48201850/login-to-the-azure-container-service-fails-with-error-bool-object-has-no-attri). The proposed solution from Sta

[2018-01-15 19:10] karenyyng commented on #5303
related: I was following this official tutorial for setting up ACR: https://docs.microsoft.com/en-us/azure/container-service/kubernetes/container-service-tutorial-kubernetes-prepare-acr

Please update the tutorial page if more steps are needed to get the tutorial working

[2018-01-15 23:34] zhangruiskyline commented on #4587
Hi, I have installed azure-cli (2.0.24) and acs (2.0.23) in Mac OS and still has this problem, any hints

[2018-01-15 23:49] zhangruiskyline commented on #4587
My error is slightly different:IOError: [Errno 21] Is a directory: '/Users/xxx/.ssh/config'

[2018-01-16 05:03] Jaysojitra13 commented on #1722
I hope this will work.

On Sun, Jan 14, 2018 at 10:08 PM, Jessica Deen <notifications@github.com>
wrote:

[2018-01-16 05:39] zhangruiskyline commented on #4587
Here is my trace back information

Traceback (most recent call last):
  File "/Users/ruizhang/y/lib/python2.7/site-packages/knack/cli.py", line 193, in invoke
    cmd_result = self.invocation.execute(args)
  File "/Users/ruizhang/y/lib/python2.7/site-packages/azure/cli/core/commands/__init__.py", line 319, in execute
    six.reraise(*sys.exc_info())
  File "/Users/ruizhang/y/lib/python2.7/site-pac

[2018-01-16 05:42] clehene commented on #4072
I believe so. You should be able to check by uploading a larger file or by
setting a smaller chunk size

On Mon, Jan 15, 2018 at 1:09 AM, Hrvoje Milković <notifications@github.com>
wrote:

[2018-01-16 07:21] alexeyshishkin01 opened #5304 "cloud-init.txt content to create VM from VHD (Ubuntu 16)"
hello, all!
what's gonna be cloud-init.txt content to create VM from VHD (Ubuntu 16)?
I use the commands to create VM:

az disk create \
--name ubuntu-20180110-std-vm-vhd-osdisk \
--resource-group ubunturesourcegroup \
--location northeurope \
--sku Standard_LRS \
--source https://ubuntusa2.blob.core.windows.net/ubuntucontainer/ubuntu-20180110-std.vhd

az vm create \
--name ubuntu-20180110-std-vm-

[2018-01-16 09:39] terjetyl commented on #5229
az acr repository list still fails on mac os

[2018-01-16 09:40] terjetyl commented on #5290
Also get the same error on az acr repository list

v2.0.24 installed via brew

[2018-01-16 11:09] gmagniez commented on #5218
For macos:
`brew unlink azure-cli //if already installed
brew install https://raw.githubusercontent.com/Homebrew/homebrew-core/d8a64440c3944f1dfde4f1bb228d7218868c636f/Formula/azure-cli.rb` // Commit of 2.023 formula

[2018-01-16 11:35] IainColledge commented on #3863
Is there a workaround as right now it seems that one cannot install a specific azure cli version using a Dockerfile for stretch which you also want .net core 2.0 cli installed on.

[2018-01-16 12:58] cdelmas opened #5305 "Creating a custom domain on cdn doesn't work"
When I try to create a custom domain on a cdn endpoint, I get the following error:

[code]
It looks like the client param is not passed to ```create_custom_domain```.

To reproduce, use the following commands (replace the names ^^):
[code]

---

### Environment summary

Install Method: Docker, 2.0.24/latest

[code]

[2018-01-16 13:12] jsacapdev opened #5306 "Certain interactive commands complete with 'NoneType' object has no attribute 'init_progress'"
Install Method: apt-get

CLI Version:

[code]

OS Version:

[code]

Shell: bash

Issue:

1. `az interactive`. Output:

[code]

2. Hit enter and create a new group:

`az>> group create -n test -l westeurope -o json`

3. Try and delete the group:
[code]

Additional Information:

The group is deleted but the it exits immediately without waiting for the completion (without `--no-wait`)
The intellisenc

[2018-01-16 14:08] nagpal opened #5307 "Documentation on how to install latest github release locally"
Environment summary: HomeBrew install / CLI version 2.0.24 / MacOS  / bash

Hi

The [current latest release in docker](https://hub.docker.com/r/microsoft/azure-cli/tags/) is 2.0.24 (at the time of creating this issue).  Same for other channels like HomeBrew. The [latest release in this github repo](https://github.com/Azure/azure-cli/releases) is 2.0.25 (again, at the time of creating this issue).

[2018-01-16 15:49] markwaldkat opened #5308 "Specifying start-range/end-range when downloading blob fails"
---

### Environment summary
Ubuntu 16, bash:

[code]

When I want to download ranges of a blob storage file I get an error:
[code]

Trying with string arguments:

[code]

[2018-01-16 15:52] mmacy commented on #5303
Hi @karenyyng, this is a known issue in Azure CLI v2.0.24 (see #5229), and the fix (#5257) has been committed.

Please use Azure CLI v2.0.23 until the new CLI version with the fix is published.

[2018-01-16 16:17] ovhemert commented on #5218
@gmagniez nice... works great!

[2018-01-16 16:34] nagpal opened #5309 "Confusing Info/warning about configured defaults"
Environment summary: Install Method HomeBrew / CLI version 2.0.24 / MacOS High Sierra / Shell Type: bash

[code]

Hi

After installing azure cli v2.0.24, I am getting this info/warning that was not being shown in v2.0.23.

[code]

The info/warning seems to suggest that it is using the resource group that is configured as default. This is confusing since a resource group is being explicitly passed

[2018-01-16 16:55] derekbekoe commented on #5303
v2.0.25 will be released on Wednesday.

[2018-01-16 16:55] #5303 closed

[2018-01-16 17:16] tjprescott commented on #5309
Hi @nagpal I've looked into this and verified two things:
1. if you have a default configured it will display the message, even if you supply an explicit value.
2. if you supply an explicit value, the command will use the explicit value

So it all still works, but I agree it is confusing and we'll create a fix to address the 1.  Thanks for the report!

[2018-01-16 17:18] #5114 closed

[2018-01-16 17:19] tjprescott commented on #5307
The simplest way to have that level of specificity would be to do a developer setup:
https://github.com/Azure/azure-cli/blob/master/doc/configuring_your_machine.md

Then you can just switch to whatever commit you want (in this case the tag for the 2.0.25 release) and run the `dev_setup.py` script.

[2018-01-16 17:19] #5307 closed

[2018-01-16 17:19] karenyyng commented on #5303
Thanks for the clarification here and replying to my comment at the tutorial.

[2018-01-16 17:20] troydai commented on #3863
@derekbekoe

[2018-01-16 17:20] tjprescott commented on #5305
Thank you @cdelmas for your report. This is indeed a bug and we will issue a fix for the 2.0.26 release.

[2018-01-16 17:24] tjprescott commented on #5301
This happens because the list API call does not return these values, but they are part of the "blob properties" object definition. Thus they get deserialized as `null`. @troydai we could consider a transform for this command to remove this property.

[2018-01-16 17:26] tjprescott commented on #5299
Dupe of: https://github.com/Azure/azure-cli/issues/5276

This has already been fixed and will be in the 2.0.25 release.  In the meantime, you could get the edge build to have that fix now.
https://github.com/Azure/azure-cli#edge-builds

@derekbekoe for the Homebrew question.

[2018-01-16 17:26] #5299 closed

[2018-01-16 17:29] derekbekoe commented on #5299
This should help
https://github.com/Azure/azure-cli/issues/5218#issuecomment-357928066

[2018-01-16 18:02] rjtsdl commented on #4587
@zhangruiskyline , so `/Users/ruizhang/.ssh/config` is really a directory?

We didn't check it is a file, we were only checking if it is a legit path.

[2018-01-16 18:18] zhangruiskyline commented on #4587
Thanks @rjtsdl , I think I intentionally made that folder before to mitigate the same problem happened for older versions, now I have remove it and it works with latest version

[2018-01-16 18:27] rjtsdl commented on #4587
@zhangruiskyline , ah, i see. I also made a PR to check if it is really a file. Happy to know you are unblocked. :)

[2018-01-16 18:51] tjprescott commented on #5309
After further investigation, I realized this isn't really a bug. However, I've updated the message and changed the logging level to INFO so it will only appear with --verbose.  The new message will read:

"Configured default 'bar' for arg 'resource-group'".

[2018-01-16 19:12] djyou commented on #5229
@terjetyl What is your CLI version? `2.0.24` (or `acr (2.0.18)`) is having this issue as a regression. Can you try updating to the more recent release?

[2018-01-16 19:14] djyou commented on #5290
This is the same issue as https://github.com/Azure/azure-cli/issues/5229 and has been fixed in https://github.com/Azure/azure-cli/pull/5257. Please update to the more recent release `2.0.25`.

[2018-01-16 19:22] tjprescott commented on #5259
If I do a round-trip export > import > export I get the same results each time. You may be using an outdated version of the CLI.  If you can replicate on version 2.0.24 or higher, please reopen.

[2018-01-16 20:33] yugangw-msft commented on #5294
VM's extension is a sub resource under a VM hence it shows up in the section of `Resource Id Arguments`. But we should attach a description to it though.

[2018-01-16 21:04] jdanyow opened #5312 "test feedback"
testing `azure-cli` repo

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f60024e5-9f73-a991-c699-b334287845d2
* Version Independent ID: 452c87e7-a404-0f3c-8520-c13ef8c789c4
* [Content](https://docs.microsoft.com/en-us/cli/azure/cognitiveservices?view=azure-cli-latest)
* [Content Source](https://github.com/Azure/azure-cl

[2018-01-16 21:05] jdanyow commented on #5312
yep it works.

[2018-01-16 21:05] #5312 closed

[2018-01-16 21:14] sauryadas opened #5313 "Managed Disks: az disk create from snapshot creates successfully when it actually does not"
created the snapshot successfully from a source uri but the size is null

@singhkays ?
---

### Environment summary

Azure CLI on Mac v 2.0.21

[code]

[2018-01-16 21:25] yugangw-msft opened #5314 "role: support to get role assignment changelog list"

[2018-01-16 21:30] yugangw-msft commented on #5314
The option is just point users to `az monitor activity-log list`, but let me see whether that is usable.

[2018-01-16 22:05] #5290 closed

[2018-01-16 22:06] tjprescott commented on #5229
2.0.25 will be released tomorrow.  You'd have to try and edge build or dev setup.

[2018-01-16 22:22] tjprescott opened #5316 "[Test] Need better parallel test mechanism"
The behavior of the current `run_tests` script with `--parallel` leaves a lot to be desired, as it does not truly run individual tests in parallel.  As a result, to actually run many tests in parallel, I end up opening 10+ terminal windows and running individual tests in each one. This should not be necessary.

[2018-01-16 22:24] tjprescott opened #5317 "[Test] `run_tests` `--test` parameter improvements"
- [x] - `run_tests` should be moved into azdev.
- [x] - `run_tests` should ouput a list of failed tests. (#3878)
- [x] - `run_tests` should be able to accept a list of tests to run. There should be a flag to clear tests that pass. The scenario would be, you could run tests and it would save the list of failed tests. You could rerun just that subset of tests and keep iterating until no tests failed

[2018-01-16 22:27] tjprescott opened #5318 "[Test] Recordings from live test runs should be available for download"
Currently recordings for live test runs are ignored or discarded. These recordings should be saved somewhere so they can be downloaded and included in a PR. After some amount of time, these saved recordings should be erased (say, a week).

[2018-01-16 22:28] tjprescott commented on #4840
Verified that this is fixed as of 2.0.24 (and probably was earlier than that).

[2018-01-16 22:28] #4840 closed

[2018-01-16 22:58] derekbekoe commented on #5295
@tjprescott this may affect other commands as well where client is not actually used in the custom method.

[2018-01-17 01:26] mydmdm opened #5321 "[CognitiveServices] does not have authorization to perform action"
azure.mgmt.cognitiveservices.models.error.ErrorException: (AuthorizationFailed) The client 'xxx@microsoft.com' with object id 'xxxx' does not have authorization to perform action 'Microsoft.CognitiveServices/accounts/write' over scope '/subscriptions/xxx/resourceGroups/xxx/providers/Microsoft.CognitiveServices/accounts/my_text_api'.

---
#### Document Details

⚠ *Do not edit this section. It is re

[2018-01-17 04:30] bingosummer commented on #5301
Thanks for your quick response, @tjprescott .
According to https://docs.microsoft.com/en-us/rest/api/storageservices/list-blobs, `CopyId`, `CopyStatus`, `CopySource`, `CopyProgress`, `CopyCompletionTime`, and `CopyStatusDescription` appear in version `2012-02-12` and later, when this operation includes the `include={copy}` parameter.

[2018-01-17 09:54] cdelmas opened #5322 "Cannot enable HTTPS on custom domain for a CDN endpoint"
It looks like there is no way to enable HTTPS for a custom domain on a CDN endpoint using the CLI. Currently, it requires a manual step through the portal.

There is an HTTP REST endpoint for that: `https://docs.microsoft.com/en-us/rest/api/cdn/customdomains/enablecustomhttps`

---

### Environment summary
Install Method: Docker / 2.0.24

[2018-01-17 10:54] IainColledge commented on #3863
With a nod to @derekbekoe who has commented on this extensively this is my snippet of Dockerfile, incidentally it's for a jdk:8 base I use for Teamcity build agents so I can automate code and infrastructure in one pain of glass.

`# Azure CLI Version 2
# Specify requirements explicitly
#
# To get requirements for a specific version:
#
# docker run -it azuresdk/azure-cli-python:2.0.23
# pip freeze

[2018-01-17 13:23] IainColledge commented on #5223
It would be good if pip worked that way as for example there seems to be no other way to install 2.0.23 into Stretch using a Dockerfile, the apt-get method has a clash with .Net Core CLI with openssl versions.

[2018-01-17 16:41] #5309 closed

[2018-01-17 16:43] mboersma commented on #5302
I verified that this works fine in a Linux `bash` Cloud Shell, but fails as described in the Windows PowerShell version. Maybe related to #4251.

[2018-01-17 17:18] tjprescott opened #5323 "Test"
What does this do?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0a7172de-478b-5200-6370-747a8c40efb2
* Version Independent ID: baffbf17-2f5d-44a6-de77-7ecb320f35ed
* [Content](https://docs.microsoft.com/en-us/cli/azure/cognitiveservices/account?view=azure-cli-latest#az_cognitiveservices_account_create)
* [Content Sou

[2018-01-17 17:20] #5323 closed

[2018-01-17 17:25] bangi123 opened #5324 "getting error on executing command az ad app list"
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)
 az --version
azure-cli (2.0.18)

acr (2.0.12)
acs (2.0.16)
appservice (0.1.17)
backup (1.0.1)
batch (3.1.4)
billing (0.1.5)
cdn (0.0.9)
cloud (2.0.8)
cognitiveservices (0.1.8)
command-modules-ns

[2018-01-17 17:25] tjprescott commented on #5321
Hi @mydmdm please provide the following additional details to help us address your issue:

- Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build)
- CLI version (`az --version`)
- OS version
- Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[2018-01-17 17:30] tjprescott commented on #5322
Hi @cdelmas thanks for the report. I've confirmed that this feature is not exposed in verison 2.0.25. We'll get it scheduled for a future release.

[2018-01-17 17:34] tjprescott commented on #5324
I just ran `az ad app list` on version 2.0.25 and it worked fine. Please try updating your CLI installation and see if you still get the problem. If you do, please share the error that you do receive.

[2018-01-17 17:36] tjprescott opened #5326 "[Test] Need test to detect unacceptable command module loading performance"
We've had many regressions in this area, and need an automated way to detect when performance regressions creep in, and when new modules have unacceptable loading characteristics.

[2018-01-17 18:30] mboersma commented on #5302
I built the Windows CLI binary locally and couldn't reproduce this error. Since it works on Windows 10, I think it's a missing cert chain or other base software in the Windows Cloud Shell environment:

[code]

[2018-01-17 18:38] tjprescott commented on #5301
In that case, we could make inclusion option with a flag.

[2018-01-17 18:40] #5232 closed

[2018-01-17 18:54] derekbekoe commented on #5218
2.0.25 has been released which should include this fix.

[2018-01-17 19:00] singhkays commented on #5313
@sauryadas Can you share the CLI commands for repro?

[2018-01-17 20:35] sauryadas commented on #5313
az disk create -g MyResourceGroup -n MyDisk --source

        https://vhd1234.blob.core.windows.net/vhds/osdisk1234.vhd

Best
Saurya

From: Kay Singh <notifications@github.com>
Reply-To: Azure/azure-cli <reply@reply.github.com>
Date: Wednesday, January 17, 2018 at 12:27 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Saurya Das <saudas@microsoft.com>, Mention <mention@noreply.github.com>

[2018-01-17 20:36] sauryadas commented on #5313
Size was 50g
az disk create -g MyResourceGroup -n MyDisk --source
        https://vhd1234.blob.core.windows.net/vhds/osdisk1234.vhd
Storage explorer

[2018-01-17 20:49] joergjo commented on #5180
This error can be avoided if you specify the `--cluster-name` parameter for `az sf cluster create` as well.

[2018-01-17 21:15] mboersma commented on #4995
@Elexy is this still happening for you with the latest 2.0.25 `az` CLI? There were some fixes that may have dealt with this.

[2018-01-17 21:17] ahmedelnably opened #5330 "Add support for webapp instance restart"
The current restart restarts all the instances at once, we need to add support to restart a specific instance

[2018-01-17 21:52] andy-ms opened #5332 "'az webapp log tail': 'str' object has no attribute 'cloud'"
### Environment summary

Install Method (apt-get) / CLI version (azure-cli (2.0.25)) / OS version (Linux Mint 18) / Shell Type (bash)

Every time I run `az webapp log tail --resource-group TypesPublisher --name TypesPublisher`:

[code]

This command used to work, but I may have updated `az` since then.

[2018-01-17 22:42] benc-uk commented on #5218
Can confirm 2.0.25 fixes the issue

[2018-01-17 22:51] tjprescott commented on #4995
This should be fixed in the latest release. If not, please re-open and provide the stack trace.

[2018-01-17 22:51] #4995 closed

[2018-01-17 23:42] josalem commented on #4890
[This local validation code](https://github.com/Azure/azure-cli/blob/79ab16490b17f7ca8d58f3e05c81f47315c2d4df/src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_validators.py#L11) is blocking Azure Web Apps for Containers from being listed or shown:

[code]

The `kind` for Web Apps for Containers is `'app,linux,container'`.  Any new web app types, e.g., web apps for con

[2018-01-17 23:44] yugangw-msft commented on #5332
Due to knack conversion, cli_ctx is needed to create any clients and we missed that.
Because related tests can only run live, I suggest:
1. For any PR merged, please manually verify every impacted scenarios per code change
2. I will ensure check out live test results before release

[2018-01-17 23:45] yugangw-msft commented on #5332
I will take this one due to the severity and we need to fix asap

[2018-01-17 23:49] yugangw-msft commented on #4890
@josalem, I will remove the client logics considering the webapp back-end service is continuously changing w/o notifications
// cc: @ahmedelnably  @panchagnula

[2018-01-18 00:00] panchagnula commented on #5332
Thanks @yugangw-msft

[2018-01-18 01:12] tjprescott commented on #5332
Can this not be unit tested in lieu of Live Test? That would catch the missing `cli_ctx` error.

[2018-01-18 02:20] chwarr opened #5337 "Show more realistic manifest for example manifest"
In the commands that take manifests (like delete), consider showing a more realistic example than "MyManifest" to demonstrate the format that the command is expecting. E.g.,

    az acr repository delete --name MyRegistry --repository MyRepository --manifest sha256:abc123

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2018-01-18 06:44] yugangw-msft commented on #5332
I have added a few unit tests. That said, live tests still need to run to ensure commands really function well. For context, those are binary payload based commands and so far our test framework is not able to record them for playback.

[2018-01-18 07:02] gimler commented on #5075
Please reopen. It seems that the docker image doesn't provide `docker`. Also it is based on alpine so no `sudo` available.

[2018-01-18 07:24] #5332 closed

[2018-01-18 07:25] yugangw-msft commented on #5215
this should be handled through #5335

[2018-01-18 07:25] #5215 closed

[2018-01-18 07:30] gimler commented on #5075
got it to work with
[code]

then
[code]

now it works for me

[2018-01-18 07:46] mikkelhegn opened #5338 "az sf cluster create - KeyVault not placed in location specifed by --location"
---

### Environment summary

Azure Cloud Shell

[code]
When creating a cluster using az sf cluster create and specifying a --location parameter, which is different from the location of the Resource Group, the KeyVault gets created in the Resource Groups location, which breaks the deployment.

[2018-01-18 07:48] yugangw-msft commented on #4890
The change was in. You can verify through docker: `docker run -v ${HOME}:/root -it azuresdk/azure-cli-python:dev`

[2018-01-18 07:49] djyou commented on #5075
@gimler It's by design that `docker` wasn't installed in the CLI container, please see https://github.com/Azure/azure-cli/pull/3747#pullrequestreview-44628171
What you've suggested are exactly the steps in [acr doc](https://github.com/Azure/acr/blob/master/docs/FAQ.md#how-to-log-into-my-registry-when-running-the-cli-in-a-container).

[2018-01-18 10:15] sagarchavan6210 opened #5339 "does not return value `az monitor activity-log list --resource-group <RESOURCE-GROUP>`"
When I used below command 3-4 times then its return [ ] as output. I am unable to fetch log (original output of command)
`az monitor activity-log list --resource-group <RESOURCE-NAME>`
[ ]
Please let me know, why this happened ? how do I retrieve activity log  for specific resource group?

[2018-01-18 13:48] waldiTM commented on #4059
Also the new serial console access stuff need boot diagnostics enabled.

[2018-01-18 14:10] smarshal-Quest opened #5340 "Principals of type Application cannot validly be used in role assignments."
---

### Environment summary

Command
az role assignment create \

returning error:  Principals of type Application cannot validly be used in role assignments.

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)
macOS  High Serria  10.13.2

installed using brew
 az --version

[2018-01-18 15:27] sigiklu commented on #5259
Hey,

sorry for the delay - I have been away from my computer the past few days.

**az --version is azure-cli (2.0.24).**

This is what my process looks/looked like with your test data (except the resource group, that I changed) - maybe I am doing something wrong?

I started off with a zone file, containing your zone (plus an additional outside CNAME, just to have that included):

**test.zone:**
[

[2018-01-18 15:39] nucleusv commented on #5285
Hope it will be useful for others:
Azure CLI wrappers for Ansible
https://github.com/nucleusv/azure-cli-ansible-wrappers

[2018-01-18 18:41] jluk opened #5341 "Provide better error messages for cmds requiring the docker daemon in Cloud Shell"
Due to the fact the docker daemon cannot run in Cloud Shell since shell itself is a container, certain az cmds do not work properly.

I propose we work together to output more useful error messages for all the cases this is true for az. @yugangw-msft

---

### Environment summary
Azure Cloud Shell (Bash)

[code]

[2018-01-18 18:45] derekbekoe commented on #5341
Doesn't this specifically apply to ACR commands?

[2018-01-18 18:48] jluk commented on #5341
It does apply to ACR but I think it may apply to other cmds in AKS/ACS if they are docker dependent

[2018-01-18 18:50] josalem commented on #4890
Verified fixed via prompt.ws for #5335 .

[2018-01-18 18:53] djyou commented on #5341
This message isn't technically wrong but is there a flag that can indicate the CLI is running in cloud shell?

We could show this command is not supported in cloud shell but for general cases running CLI in a container, there is [workaround ](https://github.com/Azure/acr/blob/master/docs/FAQ.md#how-to-log-into-my-registry-when-running-the-cli-in-a-container)to enable `acr login`.

/cc @sajayantony

[2018-01-18 18:55] yugangw-msft commented on #5341
Yes, there is a [util](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli-core/azure/cli/core/util.py#L207) that checks an agreed on env var

[2018-01-18 19:06] djyou commented on #5341
@jluk @sajayantony Can we agree on what the message would be in cloud shell? This may also apply to other docker dependent commands if any.

[code]

[2018-01-18 19:10] #3555 closed

[2018-01-18 19:11] #3672 closed

[2018-01-18 19:15] #5305 closed

[2018-01-18 19:46] ahmedelnably opened #5342 "Add support for az webapp new"
Add support for az webapp new

[2018-01-18 19:55] jluk commented on #5341
What do we think about the following?

`This command requires running the docker daemon, which does not run in Azure Cloud Shell. Try again using [docker-machine](https://docs.docker.com/machine/overview/).`

[2018-01-18 19:56] smarshal-Quest commented on #5340
Hi

Error below:

SP is there and showing in portal

[cid:image001.png@01D39096.669A2AB0]

$  az ad sp show --id <objet id>
or one of its queried reference-property objects are not present.
Traceback (most recent call last):
  File "/usr/local/Cellar/azure-cli/2.0.25/libexec/lib/python3.6/site-packages/knack/cli.py", line 194, in invoke
    cmd_result = self.invocation.execute(args)
  File "/usr/l

[2018-01-18 20:05] yugangw-msft commented on #5341
Have not used docker machine, but wording wise it looks good to me.

[2018-01-18 20:15] djyou commented on #5341
Agreed on the wording. The link for `docker-machine` didn't provide enough info on how to create a docker machine in Azure and run docker daemon in it. IMO, It might invite more usability questions.

[2018-01-18 20:19] yugangw-msft commented on #5340
This confirms, can you try `--assignee <the APPLICATION ID you see in portal>`?

[2018-01-18 20:21] jluk commented on #5341
Fair point - what do you think about this doc? https://docs.docker.com/machine/get-started/#create-a-machine

[2018-01-18 20:23] jluk commented on #5341
Including @yolo3301 in case he has input for a good error message routing users to use docker-machine instead

[2018-01-18 20:25] smarshal-Quest commented on #5340
Same Error with –assignee

$ az role assignment create \

Principals of type Application cannot validly be used in role assignments.
Shauns-MacBook-Pro:~ shaun$

Shaun Marshall
Software Sys Senior Engineer 
Quest | Platform Management
Engineering Operations (DevOps)
mobile +44 (0) 7834612891<tel://7834612891/>
[id:image001.png@01D3587E.5A5FFCC0]

From: Yugang Wang <notifications@github.com>
Reply-

[2018-01-18 20:28] yugangw-msft commented on #5340
what is the output of `az ad app show --id`?

[2018-01-18 20:30] smarshal-Quest commented on #5340
az ad sp show --id <ID>
Resource *** does not exist or one of its queried reference-property objects are not present.
Traceback (most recent call last):
  File "/usr/local/Cellar/azure-cli/2.0.25/libexec/lib/python3.6/site-packages/knack/cli.py", line 194, in invoke
    cmd_result = self.invocation.execute(args)
  File "/usr/local/Cellar/azure-cli/2.0.25/libexec/lib/python3.6/site-packages/azure/c

[2018-01-18 20:35] yugangw-msft commented on #5340
Looks like this is an external application. Did you create the application in the tenant? If yes do you remember how you did ?
Please also double check in the portal you are under the same tenant with CLI's. You can use `az account show` to cross check the `tenantId`

[2018-01-18 20:46] smarshal-Quest commented on #5340
HI

I may have had different account set I first was trying a script

for sub in $(az account list --query "[].[id]" --output tsv);
do
                SUBS=$(echo "/subscriptions/$sub/")
                az role assignment create \
                --assignee <object id \
                --role Contributor \
                --scope $SUBS
done

To add the SP to all the subscriptions , then went on to

[2018-01-18 20:53] tjprescott opened #5343 "[Advisor] Issues to resolve prior to Advisor module GA"
**High Priority**
- [x] `advisor configuration get` should be split into `advisor configuration list` since it returns a collection. `--resource-group` should not be an optional parameter since, as far as I can tell, a resource group can only have a single configuration.
- [ ]  `advisor configuration get` returns a format with `nextLink` and `value`.  It should only return the contents of value. A

[2018-01-18 21:04] yugangw-msft commented on #5340
@smarshal-Quest, please send me a mail to yugangw at microsoft dot com with the output of `az ad app show --id <APPLICATION ID in portal>`. Note, i am asking for `app` not `sp`.

[2018-01-18 22:08] tjprescott commented on #5259
Thanks @sigiklu I can replicate the issue and will get it fixed for an upcoming release.

[2018-01-18 23:28] yugangw-msft commented on #5340
Per our mail communications, using Application ID resolves the issue. I will add a bit more logic to handle when `--assignee` is an Application's object id

[2018-01-18 23:28] #5340 closed

[2018-01-18 23:57] #5099 closed

[2018-01-18 23:57] #5258 closed

[2018-01-19 01:39] #5341 closed

[2018-01-19 16:02] mmacy commented on #5341
@djyou @jluk I'm with Dong on this in that it might actually cause *more* frustration if the procedure to get this going (az acr login via Docker Machine) in Cloud Shell is more involved than a single-liner can provide. Perhaps we need to write up a short how-to doc describing the procedure, plop it in the How-To section in the ACR doc set, and link to that?

[2018-01-19 16:04] cegohub opened #5349 "How to search Windows client"
I´m looking for an example to list and create Windows 10 virtual machines.

Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90dfc804-87d6-913a-27fe-a9446a04eb13
* Version Independent ID: bfcb97df-2055-9eca-7a93-60811136d8cd
* [Content](https://docs.microsoft.com/en-us/cli/azure/vm/image?view=azure-cli-latest#az_

[2018-01-19 16:56] jluk commented on #5341
@mmacy that would be great if ACR references could direct people to use docker machine. At a minimum if ACR docs encourage running acr login cmds in cloud shell that should be updated or removed.

[2018-01-19 17:00] tjprescott commented on #5342
How would this be different from `az webapp create`?

[2018-01-19 17:16] tjprescott opened #5350 "run_tests no longer works on cmd.exe"
After merging PR #5345, the `run_tests` script crashes when run on CMD.exe:

[code]

---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

[2018-01-19 17:17] tjprescott commented on #5350
@troydai specifically the call to get the latest profile fails.

[2018-01-19 17:59] mmacy commented on #5341
@jluk We do currently state that a local installation of the Docker tools is required, but it needs to be more explicit (as in, "This does *not* work in the Cloud Shell.") as folks are obviously missing it. In fact, we have an existing work item to add this.

As well, I'm hacking together a quick POC doc with instructions on how to use docker-machine for ACR work. Will send over for first impressi

[2018-01-19 18:05] troydai commented on #5308
Thank you for reporting this issue, we will look into this.

[2018-01-19 18:08] troydai commented on #5160
@moulip can you paste the log here? (using `--debug`) And can you make sure you have the read permission to the target blob?

[2018-01-19 18:14] troydai commented on #5050
@williexu please talk to the Storage regarding this issue. The issue applies to one type of the storage account not the other.

[2018-01-19 18:15] panchagnula commented on #5342
the new command will allow for create & deployment together & has fewer required input arguments

[2018-01-19 18:25] troydai opened #5352 "Improve the error message and error handling in storage command."
A quick search with the term `HTTPSConnectionPool` among storage issues will come up with a dozen of issues caused by various problems. The term becomes ambiguous to the customer and hides the actual error message.

We should look into the overall error handling in the storage data plane commands to see if we can generate a more user-friendly and accurate error message. If it turns out that the se

[2018-01-19 18:28] troydai commented on #1880
@valencik I will close this issue for now since we have commands accomplish the equivalent operations. Feel free to reopen if you have any specific scenario in mind.

[2018-01-19 18:28] #1880 closed

[2018-01-19 18:39] derekbekoe commented on #5342
Would this be a CLI extension?

[2018-01-19 18:39] troydai commented on #2854
@balazsnemeth it should copy file recursively base on the pattern you gave.
https://github.com/Azure/azure-cli/blob/4fdaec707616bb45fcba43fef82ba8e4c4658448/src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/util.py#L73

[2018-01-19 18:42] panchagnula commented on #5342
this will be the 'quick start' command for websites extension

[2018-01-19 18:45] troydai commented on #5247
Is it a large container?

[2018-01-19 18:56] #5013 closed

[2018-01-19 18:56] #5350 closed

[2018-01-19 20:01] troydai commented on #4486
List:
[code]

[2018-01-19 21:59] #5295 closed

[2018-01-19 22:32] tjprescott opened #5354 "[Test] Live test system should be available as an azdev script"
Either as an extension of `run_tests` or a separate thing.

[2018-01-19 22:34] tjprescott opened #5355 "[Test] Live test system should send notifications when run completes"
As discussed, notification should include the list of failed commands and a link to the complete recording files.

[2018-01-19 23:20] yugangw-msft commented on #5349
Use `az vm image list --all`. The `--all` will have CLI to search live service. It will take a while, say 30 seconds, but will return back the list to you. Eg.
[code]

[2018-01-19 23:21] #5349 closed

[2018-01-20 00:02] cegohub commented on #5349
Hi, @yugangw-msft, thank you!

[2018-01-20 00:05] hglkrijger commented on #3411
As an fyi for others - I found that there is an issue when the plan name contains a hyphen. The powershell and rest api calls seem to work fine, however the actual cli-based template deployment still fails with the 'Marketplace purchase eligibility' error. I did not have this issue for a plan name which did not have a hyphen.

[2018-01-20 00:14] yugangw-msft commented on #3411
@hglkrijger, CLI uses template deployment instead of compute apis to provision VM. Could you please run `az vm create --debug --validate ...' and check out the template(in green font from the output). If the plan name doesn't match the command line argument value you typed in, please share with me at yugangw at microsoft dot com.

[2018-01-20 00:19] williexu commented on #5115
The response message is coming from the service. I will raise this to their attention and update this issue accordingly.
Thanks for catching this :)

[2018-01-20 01:33] williexu opened #5357 "Command methods should ignore kwargs in namespace that are not part of its signature"
---

-registering extra arguments currently require a subsequent deletion of the kwarg upon validating.
-this change would remove the need to delete afterwards

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

[2018-01-20 04:08] yugangw-msft commented on #4851
done

[2018-01-20 04:08] #4851 closed

[2018-01-20 04:37] noelbundick opened #5358 "AZURE_STORAGE_ACCOUNT and AZURE_STORAGE_KEY handling is inconsistent"
The help for the `az storage` commands tells users that they can set `AZURE_STORAGE_ACCOUNT` and `AZURE_STORAGE_KEY`, so that they don't have to enter them repeatedly. These are handled differently, leading to a confusing user experience.

`AZURE_STORAGE_ACCOUNT` **must** be set using 'export'
[code]

`AZURE_STORAGE_KEY` can be specified as either an environment var or a bash var
[code]

I've hit

[2018-01-20 15:02] briancornally opened #5359 "azure cli 2.0.24 regression - create asg fails"
# environment
broken behaviour on all plaforms tested 2.0.25, 2.0.24
Ubuntu (tested & fails 2.0.25,2.0.24), MacOS (2.0.25), Windows (2.0.25), CloudShell (2.0.25)
installation method (not relevant)
MacOS - curl -L https://aka.ms/InstallAzureCli | bash
Windows - msi https://aka.ms/InstallAzureCliWindows
Ubuntu - sudo apt-key adv --keyserver packages.microsoft.com --recv-keys 52E16F86FEE04B979B07E28D

[2018-01-21 10:48] udf2457 commented on #5165
@mirobers

FYI I've been a bit busy & have not had a chance to test, will try to do so this week.

[2018-01-21 14:05] smereczynski opened #5360 "az identity create failing"
Hi,
`az identity create -n name -g group -l westeurope` is failing with error as follows:

---

### Environment summary

Install Method: apt-get for Ubuntu, curl for Mac
CLI version: 2.0.25
OS version: Ubuntu 16.04.3 LTS, Mac OSX 10.13.2
Shell Type: bash

[2018-01-21 14:58] smereczynski commented on #5360
In debug mode I see that request is going to the api-version mentioned in error:

`urllib3.connectionpool : https://management.azure.com:443 "GET /subscriptions/d8207ac4-c426-49b0-8395-3f197ed7a82e/providers/Microsoft.ManagedIdentity/userAssignedIdentities?api-ver
sion=2015-08-31-preview HTTP/1.1" 404 172`

And the response is:

`msrest.http_logger : b'{"error":{"code":"InvalidResourceType","messa

[2018-01-21 15:03] smereczynski opened #5361 "az vm create with --assign-identity option probably should return identity"
Hi,
It's a feature request or probably more discussion on it. When we are creating vm with `az vm create` using --assign-identity, we are getting output like this:

![2018-01-21_14-00-30](https://user-images.githubusercontent.com/705653/35195481-640e17d8-fec4-11e7-96d0-d3ce1c780b6a.png)

In my opinion, an AppId of the newly created SP should be returned in identity block of the output. Having that

[2018-01-22 14:53] PedroPerezMSFT opened #5362 "[DNS] Importing a dns zone adds the tld twice to A records"
Importing a dns zone adds the tld twice to A records. Expectations are that the fqdn would not be added to the record name.
---

### Environment summary

The issue only reproduces on 2.0.25

[code]

When importing a simple zone file, A record "www" gets added as "www.domain.com.domain.com"

File:
[code]

Import command:
[code]

A record shows fqdn of www.abc.com.abc.com (expected just **www**):
[c

[2018-01-22 16:25] tjprescott commented on #5358
The intended behaviors are that you can specify the --account-name/--account-key options, or set the environment variables. AFAIK there's no intentional support for trying to find bash variables that matches the environment variable names. cc/ @troydai

[2018-01-22 16:43] tjprescott commented on #5359
Thanks for the report @briancornally. This fix will be included in the upcoming release.

[2018-01-22 17:52] yugangw-msft commented on #5360
@smereczynski, MSI is still in private preview and requires manual sign up: `aka.ms/azuremsiprivatepreview`
Once you are approved, you should be able to create the identity at least in the region of `westus2`

[2018-01-22 17:52] #5360 closed

[2018-01-22 18:12] smereczynski commented on #5361
I think it is not edge scenario. I'm facing production scenarios where we need to know this SP for scripted assignments. It is a typical usage. The script is creating new VM, then assigning this VM's identity to (let say) KeyVault policy. Without knowing this SP it will be impossible in actual state. I know what are the plans for MSI (I'm Azure MVP). And also after those changes we should be able

[2018-01-22 18:21] yugangw-msft commented on #5361
I see, the KV integration flow requires the principalId(comes from the SP's object id at the implementation layer). If yes, then I agree this is a good ask for us to show the principalId
For you original ask of `an AppId of the newly created SP`, that is not principal ID, rather is graph `clientID`. For that part I am not convinced we need to do that per reasons I mentioned

[2018-01-22 18:24] smereczynski commented on #5361
True. I'm using a lot of AAD SPs and messed here those two topics :)

[2018-01-22 18:30] ajith-k opened #5365 "CLI v2 does not set content MD5 or content type when uploading blobs"
Issue as described below.

Executed:
[code]

Result:
[code]

Expected result
Both blobs would have the **ContentMD5** and **ContentType** set.
---

### Environment summary
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

[code]

[2018-01-22 18:39] troydai commented on #5365
Thank you for reporting this. The Python Storage SDK doesn't calculate the MD5 while uploading as of now. The user is expected to calculate the MD5 on their own. Here's an example:
[code]

We will look in with this issue and decide whether we will implement it in the CLI.

[2018-01-22 19:41] mboersma opened #5366 "Can't run scenario tests"
A recent commit to `dev` seems to have broken my ability to run scenario tests. I created a fresh virtualenv and ran `dev_setup.py` again to make sure, but all invocations of `run_tests` simply return with the `az` help message highlighted in red as if it were in error. `azdev test` acts similarly.

Please let me know if you need help reproducing this. I have some improvements to `az aks` tests th

[2018-01-22 20:22] derekbekoe commented on #5366
@troydai Possibly due to this?
https://github.com/Azure/azure-cli/pull/5345
Also, is it separate from https://github.com/Azure/azure-cli/issues/5350?

[2018-01-22 20:39] mboersma commented on #5366
Yes, this is on macOS with `bash` and doesn't cause a stack trace. Here's an example (I picked `postgres` randomly but it fails regardless of whether `--module` is supplied).

[code]

[2018-01-22 20:41] yugangw-msft commented on #4987
Closing as no new behaviors are reported, hence I assume it is the insider ring issue

[2018-01-22 20:41] #4987 closed

[2018-01-22 20:43] yugangw-msft commented on #4338
Closing as it appears the same issue like #4987. Please refer that issue to opt-out the insider ring.

[2018-01-22 20:43] #4338 closed

[2018-01-22 20:45] yugangw-msft commented on #5186
Blocked by service deployment

[2018-01-22 20:49] yugangw-msft opened #5369 "webapp: webapp backup/restore not working with SAS tokens created from CLI or portal"
This also blocks `Test_webapp_backup_config` and `test_webapp_backup_restore` from running live or re-recorded through creating storage accounts on the fly.
The service appears using older storage libraries which can't work with newer versions of sas tokens

[2018-01-22 20:51] yugangw-msft commented on #4922
This is no longer a knack conversion related item, so close it.
I have opened a tracking issue #5369 for the test issues which is blocked by service side fix

[2018-01-22 20:51] #4922 closed

[2018-01-22 20:54] vdice opened #5370 "Feature Request: 'list-usage' for dns zone record-sets"
Although `az network list-usages -l <region>` prints out a nice overview of usages under the network resource domain, it appears to be lacking dns record-set usage.

This feature request is therefore around seeing dns record-set usage, perhaps looking like `az network dns record-set list-usage -g <resource group> -z <dns zone>`.

Minimally, I would expect to see the current max quota for dns recor

[2018-01-22 21:00] #5359 closed

[2018-01-22 21:18] williexu commented on #5366
this seems to have occurred after commit 03a21635f26a95b17f4becf32d89c2179fbe8dfa
@tjprescott could you take a look?

[2018-01-22 21:20] andrewb-ms commented on #4360
Is there a resolution here?  Having the same problem... seems fragile

[2018-01-22 21:25] tjprescott commented on #5366
This occurs because of the fix for #5350.  In the `tools/automation/test/__init__.py` script, if you set `shell=True` to `shell=False`, this will work.  It seems this needs to be `false` for bash but `true` for CMD.  That will let you run the tests locally until the more robust solution is merged.

[2018-01-22 21:32] andrewb-ms commented on #3720
This is really broken.  Is there any resolution on this?

[2018-01-22 22:11] williexu commented on #2854
@balazsnemeth, @troydai  by default, the command will copy files recursively through any nested directories. The pattern will limit the files being uploaded.

[2018-01-22 22:34] troydai commented on #5358
This is not an issue.

`export` is a `bash` command to expose a variable to other programs run in the same environment. False sense of `AZURE_STORAGE_KEY=xxx` works without `expose` is because the `az storage` command will query the storage key when this environment is missing but `AZURE_STORAGE_ACCOUNT` is set.

The effect is documented within the help:
[code]

[2018-01-22 22:34] #5358 closed

[2018-01-22 22:49] #5366 closed

[2018-01-22 22:51] sptramer commented on #3720
@andrewb-ms As mentioned upthread, the resolution is to install openssl 1.0.2. openssl 1.1.0 is explicitly not compatible with 1.0.x versions.

[2018-01-22 23:37] #4744 closed

[2018-01-22 23:37] #4543 closed

[2018-01-22 23:56] williexu commented on #2852
@elibarzilay this has been addressed with https://github.com/Azure/azure-cli/commit/71f0c703ddea462f96891ba8f402f964cfdba5d7
Simply use the `--no-progress` flag to suppress the progress output.

[2018-01-22 23:57] #2852 closed

[2018-01-22 23:58] williexu commented on #2785
Closing this as service now returns a proper message when access-tier is missing:
-"Account property accessTier is required for the request."

[2018-01-22 23:58] #2785 closed

[2018-01-23 00:02] Strandedpirate commented on #4360
This isn't the first time this is happened. They release broken versions now and then. You should modify your script to install a specific version rather than latest.

    - apt-get update
    - apt-get install apt-transport-https
    - echo "deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ wheezy main" | tee /etc/apt/sources.list.d/azure-cli.list
    - apt-key adv --keyserver pack

[2018-01-23 00:04] andrewb-ms commented on #3720
@sptramer

Thanks.  I tried this:

https://www.miguelvallejo.com/updating-to-openssl-1-0-2g-on-ubuntu-server-12-04-14-04-lts-to-stop-cve-2016-0800-drown-attack/

And it does NOT work still:

$ az login
Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /common/oauth2/devicecode?api-version=1.0 (Ca

[2018-01-23 00:11] yantang-msft opened #5372 "Can't connect to AKS by az aks get-credentials"
I'm using Azure CLI 2.0.24, running az aks get-credentials gives me such error

[code]

[2018-01-23 00:13] yantang-msft commented on #5372
And I can't login to Azure Container Registry, which seems to be the same issue.

[2018-01-23 00:17] neilshannon commented on #4060
This would be great -- cut down on bandwith and upload times for my tests.  Every time we get a new build I have to upload a 31GB VHD.

[2018-01-23 00:20] yugangw-msft commented on #3425
I will take this one

[2018-01-23 00:34] andrewb-ms commented on #4360
Thanks!  Azure-CLI is way too fragile

[2018-01-23 00:36] yantang-msft commented on #5372
Looks like it's already fixed at here:
https://github.com/Azure/azure-cli/blob/8a0bb2ab4e9af1083ed5c70e3ced8af92df9b2c0/src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_docker_utils.py#L154

[2018-01-23 00:36] #5372 closed

[2018-01-23 00:43] JeremyLoy commented on #3720
I agree. as cli should support newer versions of Open SSL. What happens if a security vulnerability gets discovered forcing people to upgrade? That shouldn't break az.

[2018-01-23 01:00] andrewb-ms commented on #3720
This is frustrating

[2018-01-23 01:21] derekbekoe commented on #4360
Closing to keep all conversation in https://github.com/Azure/azure-cli/issues/3720

[2018-01-23 01:21] #4360 closed

[2018-01-23 01:24] johanste commented on #5304
Do [these](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/using-cloud-init) docs help?

[2018-01-23 01:25] derekbekoe commented on #3720
For all running into issues please provide the following for us to investigate:
- Install method (looks like this is isolated to the `.deb` package only?)
- the CLI version `az --version`. Just the first line is fine.
- Ubuntu/Debian version for us to investigate (e.g. Ubuntu 17.10, Ubuntu 16.04.3 LTS, Ubuntu 16.04.2 LTS, Ubuntu 16.04.1 LTS, Ubuntu 16.04 LTS) ` lsb_release -a`
- openssl version on

[2018-01-23 01:44] andrewb-ms commented on #3720
I am having the issue in Debian (Azure Image!), yes.

Here is the info you asked for:

$ az --version
azure-cli (2.0.24)

acr (2.0.18)
acs (2.0.23)
advisor (0.1.1)
appservice (0.1.23)
backup (1.0.4)
batch (3.1.8)
batchai (0.1.4)
billing (0.1.7)
cdn (0.0.11)
cloud (2.0.11)
cognitiveservices (0.1.10)
command-modules-nspkg (2.0.1)
configure (2.0.13)
consumption (0.2.1)
container (0.1.16)
core (2.0.24

[2018-01-23 02:21] deliriousrhino opened #5373 "Fail to install on Mac: npm failed to pack"
The cli failed to install on mac
---
### Environment summary

npm -v 3.10.8
node -v7.0.0

[code]

[2018-01-23 02:30] derekbekoe commented on #5373
Have you updated brew itself recently with `brew update`?
`brew install azure-cli` no longer points to `azure-xplat-cli` and hasn't done so for several release now.

[2018-01-23 07:00] lostllama opened #5374 "Windows 10 Enterprise: kubectl : The term 'kubectl' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again."
Following the video here https://azure.microsoft.com/en-us/blog/introducing-azure-container-service-aks-managed-kubernetes-and-azure-container-registry-geo-replication/ (see 4:00)

I've successfully run the az aks install-cli command, but running `kubectl get nodes` results in the following message:

kubectl : The term 'kubectl' is not recognized as the name of a cmdlet, function, script file, or

[2018-01-23 11:00] hajekj opened #5375 "Interactive CLI not showing parameters"
I have recently discovered, that the CLI 2.0 in interactive mode stopped displaying the parameter hints for commands. For example, I only get the "-o" and "-h" parameters for each of the commands, nothing else gets listed. The same is happening on both my Windows (MSI installation) and WSL (apt-get installation) environments. When I checked in the Azure Shell (https://shell.azure.com/bash) the par

[2018-01-23 11:32] alexeyshishkin01 commented on #5304
unfortunately, no, because it's irrelevant to my question about creation VM from VHD file

[2018-01-23 13:24] gpadbidri opened #5376 "Issues while Verifying the Certificate - Azure CLI and PowerShell"
Hi,

O.S Details : Windows 10
azure-cli : (2.0.25)
Extensions: azure-cli-iot-ext (0.4.0)
PowerShell Version : 5.1

I am facing an issue when I try to verify my certificate with the generated code from Azure Portal.
Below is the logged error :

Following is what I did :
Ref article : [MSDN](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-security-x509-create-certificates)
Created a Root Cert

[2018-01-23 14:19] karungithub opened #5377 "Restoring (Recreating) a Unmanaged VM from a Snapshot of a VHD."
CLI Version: azure-cli (2.0.22)**

OS Type: Win

Installation via: npm / brew / win-or-mac installer / docker / github repo

Mode: ARM

Environment: **AzureCloud

Description:
H:>az vm create --resource-group test --name karunsnapshotvm01-22 --attach-os-disk https://testpre.blob.core.windows.net/testpremium/KarunVMUnmanaged01-2220180122141458.vhd --os-type linux
Deployment failed. Correlation ID:

[2018-01-23 14:20] karungithub commented on #5377
The issue that I am seeing is something close to:
https://github.com/Azure/azure-xplat-cli/issues/3151#issuecomment-246241597

[2018-01-23 16:26] zhang-zedong commented on #4843
Thanks. I was also able to use the workaround on mac.

[2018-01-23 16:51] yugangw-msft commented on #3411
I am fixing this issue. The command flow will look like
[code]

[2018-01-23 16:51] johanste commented on #5304
What about [these](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/cloudinit-prepare-custom-image) docs?

[2018-01-23 17:55] tjprescott commented on #5375
Duplicate of #5284.

[2018-01-23 17:55] #5375 closed

[2018-01-23 17:59] yugangw-msft commented on #5377
@karungithub please specify `--use-unmanaged-disk`. You can follow how CLI's functional test does

[2018-01-23 18:00] yugangw-msft commented on #5377
Please reactivate if you are still blocked

[2018-01-23 18:00] #5377 closed

[2018-01-23 18:40] tjprescott opened #5379 "[Network] App-gateway update --sku has a default value"
App-gateway update issues:

- [x] capacity parameter has no help text
- [x] sku parameter has a default value, which it should not

---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

[2018-01-23 19:54] williexu commented on #5149
Hi, are you still seeing this problem? If so, can you try updating your installation of the CLI and retrying?
Make sure to run Scripts/dev_setup.py as well.

[2018-01-23 22:43] bnookala opened #5381 "az acs kubernetes install-cli overwrites ~/.kube/config"
I just noticed that attempting to install a new version of `kubectl` from `az acs kubernetes install-cli` overwrites the kubeconfig in ~/.kube/config. Environment and reproduction below:

---

### Environment summary

Install Method: Homebrew
OS: Mac OS 10.13.2
Shell: zsh
Cli version:  2.0.25
Components:
- acr (2.0.19)
- acs (2.0.24)
- advisor (0.1.1)
- appservice (0.1.24)
- backup (1.0.6)
- batch

[2018-01-23 22:48] eric-wu commented on #3720
Both 2.0.24 and 2.0.25 are failing on Debian 4.9.65-3+deb9u2 (2018-01-04) x86_64.

azure-cli (2.0.24):

[code]

azure-cli (2.0.25):

[code]

[2018-01-23 22:50] derekbekoe commented on #3720
@eric-wu please provide the output of.
$ cat /etc/issue
$ openssl version -v

[2018-01-23 22:56] eric-wu commented on #3720
Updated my post ^

[2018-01-23 22:58] JeremyLoy commented on #3720
Notes from a working version (Ubuntu 14.04 Docker):
- `python3` is not installed globally, the version included with `az-cli` is used.
- I had to change the order of installation commands slightly from [these MS Docs](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest#install-with-apt-package-manager). I had to `apt-get update` twice, and I had to install `apt-trans

[2018-01-23 23:06] derekbekoe commented on #4692
We will work to remove the package from the Ubuntu apt repository as that package is very out of date.
To install, see https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest#install-with-apt-package-manager

[2018-01-23 23:06] #4692 closed

[2018-01-23 23:07] Prasanna-Padmanabhan commented on #5343
Addressed most of the feedback by making the parameter changes/renames.

[2018-01-23 23:16] #5259 closed

[2018-01-23 23:16] #5362 closed

[2018-01-23 23:40] eric-wu commented on #3720
For those using azure-cli manually, a working alternative is to `pip install azure-cli`:

1. Install miniconda
2. Create a conda environment
3. In the activated conda env, `pip install azure-cli`

[2018-01-23 23:51] troydai opened #5385 "Fix the pylint issue: inconsistent-return-statements"
https://github.com/Azure/azure-cli/blob/a2ec550db69eae478d19e3fe7a29150bc4fef8a0/src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/repository.py#L82

[2018-01-23 23:59] djyou commented on #5385
Add a disable?

[2018-01-24 00:04] djyou commented on #5385
It seems to be fixed in this PR https://github.com/Azure/azure-cli/pull/5382

[2018-01-24 00:23] rjtsdl commented on #5219
@hardcorehead87

We have finished the rollout. Try it out :)

[2018-01-24 00:43] troydai commented on #5385
No. The disable is added temporarily to unblock the CI. The function should be fixed so that the disable is no longer needed.

[2018-01-24 00:56] djyou commented on #5385
Are you looking for a general cleanup or just a fix in this file? I noticed there are many occurrences of this disable being used. https://github.com/Azure/azure-cli/search?q=inconsistent-return-statements&type=Code&utf8=%E2%9C%93

I also don't totally agree with this pattern. Even a strongly-typed language would allow either returning or throwing.

[2018-01-24 01:12] tjprescott commented on #5385
Yes, Pylint's complaints of inconsistent return statements are often nonsense.

[2018-01-24 01:13] #4386 closed

[2018-01-24 03:21] andrewb-ms commented on #3720
I recommend that the Microsoft team try the following:

(1) Create a Debian VM on Azure
(2) Try to install Azure CLI on it using the Microsoft documentation

This should repro.

(3) Setup gated checkin so that this doesn't happen again

[2018-01-24 06:43] rajshakerp commented on #5218
I am seeing the same issue on 2.0.25 too, I tried on **Windows 10 as well as Windows Server 2016** However 2.0.23 is working for me.

[2018-01-24 07:02] gpadbidri commented on #5376
I have even tried with [this ](https://github.com/Azure/azure-iot-sdk-c/blob/master/tools/CACertificates/CACertificateOverview.md)option using PowerShell. But nothing seems to work as expected.

[2018-01-24 11:41] brugos commented on #4715
ConEmu, Cmd, PowerShell (admin or not)... nothing works.
Error saving credentials: error storing credentials - err: exit status 1, out: `The stub received bad data.`
Microsoft is a joke! Even a simple login doesn't work... Back to Docker Hub

[2018-01-24 15:18] karungithub commented on #5377
Thanks - I am unblocked.

[2018-01-24 15:51] stacker2017 commented on #5149
Thanks the is resolved, you can find further info in
https://github.com/Azure/msrest-for-python/issues/75

[2018-01-24 15:52] #5149 closed

[2018-01-24 17:08] tjprescott commented on #5218
@mboersma

[2018-01-24 17:28] tjprescott commented on #5376
@digimaun for comment

[2018-01-24 17:53] mboersma commented on #5218
@rajshakerp I tried with v2.0.25 in an Azure Windows PowerShell and it's working there:
[code]

Could you post the stack trace or error you're seeing?

[2018-01-24 18:18] #2780 closed

[2018-01-24 18:24] #1904 closed

[2018-01-24 18:46] troydai commented on #4715
@brugos can I know the version of the Azure CLI you're using? (A quick search of the error message indicate it is a OS related issue.)

[2018-01-24 18:52] troydai commented on #5385
This one surfaced after the pylint is upgraded to 1.8.2. That's why I created this issue. Please use your best judgement. If you do deem this is not an issue feel free to close this bug.

[2018-01-24 18:57] troydai commented on #5385
I took another look. The pylint error makes sense in this case. The issue is with the last branch:
https://github.com/Azure/azure-cli/blob/a2ec550db69eae478d19e3fe7a29150bc4fef8a0/src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/repository.py#L106
It doesn't throw and exit the condition statement. Then in the next test condition when the `errorMessage` is `None` or empty, the except

[2018-01-24 19:08] djyou commented on #4715
This is the issue https://github.com/Azure/azure-cli/issues/4843 that was tracking this error. This is an OS issue that a temporary workaround was added (to disable wincred) in version 2.0.19 or later.

[2018-01-24 19:32] tjprescott commented on #5260
So the issue then is the display of the warning?  Does your template actually deploy/validate in spite of the warning?

[2018-01-24 19:51] hardcorehead87 commented on #5219
Unfortunately I get an other error with the latest dev image;
[code]

[2018-01-24 19:56] troydai commented on #4215
@weinong can you try the latest CLI? The diagnostics setting API now requires you to feed a name for the setting.

[2018-01-24 19:56] #4215 closed

[2018-01-24 19:57] #3411 closed

[2018-01-24 20:01] rjtsdl commented on #5219
@hardcorehead87 are you trying to update existing cluster?

[2018-01-24 20:22] hardcorehead87 commented on #5219
This afternoon I quickly tried it at work and after a long time eventually it failed. I assumed the creation of the cluster failed completely but apparently the AKS cluster object was created. There was however no extra ResourceGroup that contained the VMs for the cluster. This explains and answers your 'update existing cluster' question.

I've removed the AKS object and retried. It's running at t

[2018-01-24 20:27] hardcorehead87 commented on #5219
I've been able to create an AKS cluster and everything was assigned to the correct cluster.
Thank you for the fix and help with this issue.

[2018-01-24 20:27] #5219 closed

[2018-01-24 20:39] mmacy commented on #1150
What are the chances we can get this popped off the backlog? As working with RBAC service principals becomes more and more common in various services (AKS and ACR, for example), it's becoming critical that we and our customers can effectively manage our SPs.

Such management includes *deletion* of stale principals, but without a built-in facility for listing only the service principals associated

[2018-01-24 20:51] #5379 closed

[2018-01-24 20:57] rjtsdl commented on #5219
@hardcorehead87 good to know. Glad it works!

[2018-01-24 21:01] tjprescott commented on #1150
cc/ @yugangw-msft  @mayurid

[2018-01-24 21:08] digimaun commented on #5376
Hi @gpadbidri, I just tried going through the reference [you linked](https://github.com/Azure/azure-iot-sdk-c/tree/master/tools/CACertificates) for Bash. It was working as expected.

The error is indicating your Root CA is missing from the verification cert. The verification cert needs to be signed by the root CA and contain the verification key given to you in the subject.

You can look at how [c

[2018-01-24 21:29] yugangw-msft commented on #1150
2 things
1. Paging support from CLI
2 [GraphRBAC](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/graphrbac/data-plane) should be updated to support `https://graph.windows.net/{tenantId}/me/ownedObjects` so CLI and create and list users' own SP

#2 is SDK work. I have asked last month, but AAD GRAPH is not in the priority. Guess I will have to find cycles, and do it myself

[2018-01-24 21:33] squillace commented on #1150
OMG. @yugangw-msft ping me and let me know who to discuss this with. :-) This is a very high priority for some. :-)

[2018-01-24 21:43] hardcorehead87 commented on #5219
Small issue where the Service Principal didn't give the AKS cluster rights to access the Registry in the same subscription. I wasn't owner of the SP so I did that and I've added it as contributer on the subscription. Doing this made fixed the issue where the cluster wasn't able to retrieve the images. Don't know if it is on or the other or even both that are required for correct working.

[2018-01-24 21:47] rjtsdl commented on #5219
@hardcorehead87 , well ACR has different kind of authentication. You need to manage it in the ACR policy. (Just add the SP with read permission)

Yeah, by default, it don't and shouldn't have access to ACR, even though they may in the same subscription.

Btw, ACR is private registry, while dockerhub, quay.io could be public.

[2018-01-24 22:13] hardcorehead87 commented on #5219
@rjtsdl With the AKS clusters created previously (and all ACS clusters as well apparently.. just checked) the accompanying SP gets contributer rights on the containing subscription. On the ACR policy this results in inherited contributer rights. This happend out-of-the-box.

So not doing this anymore and needing to do it manually now is a conscious choice to deviate from the old way of doing it an

[2018-01-24 22:16] rjtsdl commented on #5219
@hardcorehead87 I think it will do if you/SP are a contributor of the sub.

[2018-01-24 22:17] hardcorehead87 commented on #5219
I'm the owner of the sub yet the created SP didn't get any rights

[2018-01-24 22:20] rjtsdl commented on #5219
@hardcorehead87 , be careful, `az aks` cache SPN based on subscription id. So make sure, you deleted ~/.azure/aksServicePrincipals.json file, and try again. It will force to create a new SPN. I suspect you still using the cached SPN, which is created before you become owner/contributor.

[2018-01-24 22:24] hardcorehead87 commented on #5219
Seeing as the original ticket also involves SPN issues I specifically removed the the aksServicePrincipals.json with every try I've done. But thanks for the warning. I'll report back.

[2018-01-24 22:37] karungithub opened #5394 "Restoring (Recreating) a Unmanaged VM from a Snapshot of a VHD in a different storage account"
Please refer to my original issue for details. https://github.com/Azure/azure-cli/issues/5377

 The original issue is resolved but I have one more request - is there a way to create this VM in a different storage account as the VHD specified. Can I specify the destination storage account through --storage-account to create the VM from that storage account with the VHD I specified?

[2018-01-24 22:48] ryankmcintyre commented on #5218
Using 2.0.25 in bash on WSL and it's working. Previously got an error on 2.0.22.

[2018-01-24 23:07] #5128 closed

[2018-01-24 23:07] #5260 closed

[2018-01-24 23:07] rjtsdl commented on #5219
@hardcorehead87 , thx, if it is still having the issue. Create another issue then. :)

[2018-01-24 23:08] yugangw-msft commented on #5394
There is no such support from CLI, unless you generalize to an unmanaged image and create it from there.
Can you move the blob to the new account first? This VHD is a specialized disk, you can't really reuse it for other purpose...

[2018-01-24 23:42] #5337 closed

[2018-01-24 23:58] dwj300 opened #5395 "az vm boot-diagnostics get-boot-log fails with non ascii characters"
python can't decode the boot logs if there are non-ascii characters present.

---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

$ az --version
azure-cli (2.0.25)

acr (2.0.19)
acs (2.0.24)
advisor (0.1.1)
appservice (0.1.24)
backup (1.0.6)
batc

[2018-01-25 00:04] tjprescott commented on #5395
Which shell?

[2018-01-25 00:09] williexu opened #5396 "Storage upload/download commands provide default values that shoud instead defer to the sdk"
---
In the storage upload and download commands, we have default values set in the cli.
Ex: `max_connections`  [here](https://github.com/Azure/azure-cli/blob/78163f6b27acaf77dc10030271cd0c10fcfa57e5/src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/operations/blob.py#L169)

We should instead, defer this default value to the sdk.

### Environment summary

Install Method dev_se

[2018-01-25 00:26] tjprescott opened #5397 "[Interactive] Static and Dynamic Parameter Completions Not Working"
After fixing #5284 in PR #5383, it was found that the parameter completions (static and dynamic) are not working. This has to do with logic surrounding the AzCompleter.

---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

[2018-01-25 00:27] thisSIDEofRANDOM opened #5398 "vm run-command --script not working on Linux VMs"
When trying to use run-command with a file as the argument against a linux target it is consistently failing. On inspection of the file some odd escape characters are being inserted when it copies the file on to the VM for execution:

The documentation mentions:
[code]

I can't seem to figure out what its wanting me to pass this file as to make it run correctly. Its uploading to the server but ins

[2018-01-25 00:29] tjprescott commented on #4126
Closing due to inactivity. Reopen if still an issue.

[2018-01-25 00:29] #4126 closed

[2018-01-25 00:33] tjprescott commented on #5396
Then why don't we?

[2018-01-25 00:43] #5284 closed

[2018-01-25 00:48] williexu commented on #5396
Because we currently pass arguments to the sdk by wrapping them all up in a dictionary and giving them as kwargs. If an argument is `None`, it will override the default value in the sdk to be `None` as well.

To solve this issue, we would need to add checks in the methods for those args, and only pass them along if they are not `None`. This would need to be done for each method, of which there are

[2018-01-25 01:00] yugangw-msft commented on #4016
Not repro'd

[2018-01-25 01:00] #4016 closed

[2018-01-25 01:15] derekbekoe commented on #3863
Closing as this is due to https://github.com/Azure/azure-cli/issues/3720

[2018-01-25 01:15] #3863 closed

[2018-01-25 01:22] derekbekoe commented on #3720
Here is a temporary .deb for Debian stretch:
[code]

For the next CLI release, we plan to publish for Debian 7 (wheezy), 8 (jessie), 9 (stretch) and Ubuntu trusty, xenial and artful.

[2018-01-25 03:19] tleonhardt opened #5400 "No tab completion on macOS when installed from brew"
I am under the assumption that the ``az`` CLI should have tab-completion, at least for the top-level commands such **az group** and such.  For me, there is no tab completion.

When I searched online some people mentioned having to source a certain tab completion in their .bash_profile, but nothing in the installation instructions mentions this.

So I'm not sure if there is something broken or if t

[2018-01-25 04:59] #5308 closed

[2018-01-25 07:26] markwaldkat commented on #5308
Cool, thanks for fixing!

[2018-01-25 08:07] hardcorehead87 opened #5401 "aks create SP has no rights"
There were issues (#5219) with the Service Principal creation that happens before the `aks create` command that prevented a cluster to be created in some cases. This has been fixed in the latest build but an other minor issue has come up now. The created Service Principal has no rights.

Before, the SP received contributer rights on the subscription where it was created. This made it possible for

[2018-01-25 10:21] alexeyshishkin01 commented on #5304
my question is -
cloud-init.txt content to create VM from VHD (Ubuntu 16)
your answer is -
Prepare an existing Linux Azure VM image for use with cloud-init
sorry, but it's still irrelevant

[2018-01-25 10:45] karungithub commented on #5394
Couple of questions:
Here is what I tried:
1. Create a snapshot of unamanged disk (VHD)
2. Copied the snapshot to a different container in the same storage account as the source VHD
3. Created a VM using the copied snapshot using the command: az vm create --resource-group test --name karunsnapshotvm01-22 --attach-os-disk https://testpre.blob.core.windows.net/testpremium/KarunVMUnmanaged01-22201801

[2018-01-25 11:48] ich-sammckenzie opened #5402 "Multiple subscriptions and MSI login, setting default"
When MSI for a VM is enabled, and allocated to more than one subscription. Only one subscription is used

az login --msi works and lists all the allocated subscriptions, but it appears to be setting the "name" to "MSI@50342" for all subscriptions. Instead of the actual subscription name.
![image](https://user-images.githubusercontent.com/24918082/35386674-d0ccc5c4-01c4-11e8-93a7-0cbbeb925414.png)

[2018-01-25 13:11] markmcdermid commented on #5218
Confirmed working with 2.0.25 on Mac OS X too.

[2018-01-25 14:06] thisSIDEofRANDOM commented on #5398
Oddly seems to work when I gzip the scripts up before sending them to the server in some cases, not all.

[2018-01-25 16:11] FedorRomanov commented on #5247
Yes, It turned out to be a performance issue.

It would be better if CLI could print it's progeress

[2018-01-25 16:28] thisSIDEofRANDOM commented on #5398
Peaking at the file post upload failure and it looks like its converting to double bye on upload with the second byte as null?

BYTE HEX ASCII output

00000000  6C 00 6F 00 67 00 67 00 65 00 72 00 20 00 22 00 74 00 65 00 73 00 74 00 l.o.g.g.e.r. .".t.e.s.t.
00000018  22 00

[2018-01-25 17:43] iyerusad opened #5403 "[VM] Ability to query/manipulate `Update Management`?"
Azure VMs have a preview feature called ["Update Management"](https://azure.microsoft.com/en-us/blog/managing-updates-for-your-azure-vm/). This feature offers built-in update management (i.e. Windows Update, apt, etc).

Enabling the feature prompts for a `log analytics workspace` and an `Automation account`. Presumably, the automation account is where update management scheduling actually happens.

[2018-01-25 17:59] troydai commented on #5247
@FedorRomanov thank you for reporting this. I reopen this issue and changed the subject. We will treat this as performance improvement issue.

[2018-01-25 18:04] tjprescott commented on #5247
Paging should address this, yes?

[2018-01-25 18:26] yugangw-msft commented on #5394
Is there any way to create many instances of the VMs from the copy of the snapshot
Short answer, No. The VHD is for the single specific machine. You can clone the VHD and create a new VM from it but likely it will conflict with the first one, say, the same cached private IP address, dns name, etc. Those are pretty hard to tweak.
If you like to reuse the same customization, the recommended flow is

[2018-01-25 18:43] karungithub commented on #5394
Here is my  goal:
1. I want to create snapshots of unmanaged VM by snapshoting all the disks (unamanged) in it.
2. Then I want to restore( create a new one) the VM from the snapshot. Remember managed snapshots allow you to create a disk from the snapshot and create a VM from that disk. I want to use use the snapshot of the VHD to create the VM but I want keep that snapshot to create any additional

[2018-01-25 18:59] karungithub commented on #5394
BTW, I do not want to stop the source VMs for any of these steps. I do not want the users to be impacted because of the snapshot I am taking.

[2018-01-25 19:06] troydai commented on #5247
Paging will mitigate issue. The other option is live stream the result, which address the perception issue.

[2018-01-25 20:55] tomchapin commented on #5332
I'm still encountering this error on the latest version of azure cli, and can't figure out how I'm supposed to view the logs for my live web app?

[2018-01-25 20:55] alexeyshishkin01 opened #5406 "cannot create VM with cloud-init (Ubuntu 16)"
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)
azure-cli (2.0.25), Bash on Windows, Microsoft Windows [Version 10.0.17074.1000]

[code]
I cannot create VM with cloud-init (Ubuntu 16).
What I do is:

az vm create \
--name ubuntu-std-prepare \

[2018-01-25 21:06] yugangw-msft commented on #5332
The fix will be released next week. For now you can use docker images or edge builds mentioned at `https://github.com/Azure/azure-cli#docker`

[2018-01-25 21:12] yugangw-msft commented on #5406
//CC : @devigned

[2018-01-25 21:16] yugangw-msft commented on #5402
@ich-sammckenzie, CLI definitely should maintain 2 accounts. `az login --msi` does the right thing. Let me take a look at persistence code to see why one of them was dropped

[2018-01-25 21:52] williexu commented on #4371
This is a limitation of the OS. It is not possible to create a file and folder of the same name in the same directory.

[2018-01-25 22:53] yugangw-msft commented on #5402
@ich-sammckenzie, I might have some misunderstanding, so like to confirm here
   1.  The subscription name will be the same, which is by-design for now
   2. `az account list -otable` will show 2 entries, and you can use `id` to switch
   3. I can't reproduce the issue that `az account list` only shows one entry

The following is what I got for your reference
[code]

[2018-01-25 23:17] devigned commented on #5406
It might be the order of operations when the VM is provisioning. The agent might be running this script before the agent has provisioned the users on the machine. I believe the cloud_init script is run concurrently with agent provisioning.

@yugangw-msft please pull in someone from the compute team to confirm.

[2018-01-25 23:18] derekbekoe commented on #5400
At the end of the brew install, it should say this:
[code]

Then, to enable completion, you can source that file with:
[code]

To make your terminal always load that file, you can add it to your `~/.bash_profile`

[2018-01-25 23:19] derekbekoe commented on #5400
That should resolve your issue.

[2018-01-25 23:19] #5400 closed

[2018-01-25 23:23] yugangw-msft commented on #5398
@thisSIDEofRANDOM, maybe just a typo when you reported the issue, but the command has a white-space between `@` and `./test.sh`. Once I removed it,  the command worked. FYI, the `@` is a CLI specific pre-processor like mechanism, that the parser will try to read the file following the `@` and feed the whole content to the command.

[2018-01-25 23:25] yugangw-msft commented on #5398
Also, the `run-command` is a thin wrapper around the custom scripts extension, nothing more really. So you can use `az vm extension set` to cross check.

[2018-01-25 23:45] williexu commented on #5301
@bingosummer we have an include option. Use the `--include` arg to specify that you want copy information to be provided by the endpoint. Ex. `az storage blob list -c wilxcontainer --include c` will give you the information you desire.

@tjprescott our current functionality is by using `--include` to specify whatever additional information the user may want. For example, `az storage blob list -c w

[2018-01-26 00:14] yugangw-msft commented on #3794
not repro'd any more

[2018-01-26 00:14] #3794 closed

[2018-01-26 00:31] seguler commented on #4060
Python SDK already has released the optimization to skip 0 pages. So essentially when you upload a VHD in Azure CLI, it should only transfer the allocated blocks. Keep in mind Storage service also does a compression that gives higher throughput than uploading fully compressed data. So a possible compression feature won't change much.

[2018-01-26 00:39] bingosummer commented on #5301
Thanks @williexu . It makes sense to me to remove those null properties from the output if `--include` is not specified.

[2018-01-26 01:04] yugangw-msft commented on #5395
I will get this one, the bottom line is CLI can't crash though would be nice to display right.

[2018-01-26 01:10] williexu commented on #5301
Though minor, removing these properties may be breaking for some users; ex. piping the results from `storage blob list` and doing a check on the properties returned. It also is reasonable to have similar models for the outputs of any iteration of the list command.
We have decided not to remove the null properties for now, if we get more complaints from users in the future, we will consider this fu

[2018-01-26 01:10] #5301 closed

[2018-01-26 01:41] #4371 closed

[2018-01-26 02:43] acabrera-rms commented on #4529
Still not working `az: error: unrecognized arguments: --aggregation Total Count`
`azure-cli (2.0.3)`

[2018-01-26 02:59] Walter-Shui commented on #4910
This is a good solution, can we use `az network application-gateway http-settings create` to do this?

[2018-01-26 05:00] rcastill opened #5409 "Problems creating azure function with source control deployment"
I first tried the following tutorial: [https://docs.microsoft.com/en-us/azure/azure-functions/scripts/functions-cli-create-function-app-github](https://docs.microsoft.com/en-us/azure/azure-functions/scripts/functions-cli-create-function-app-github), with a `bitbucket` based repo:

Everything worked except the source control deployment configuration. I thought it may have something to do with using

[2018-01-26 05:18] Daniellezha commented on #3052
The format I tested which works fine is as below：
 az monitor autoscale-settings create --verbose --debug --resource-group 'AutoScaleCLIWang' --parameters '@condition.json' --name 'test'

The condition.json is put under the same directory that you run the command.

Here is my condition.json

{
    "autoscaleSettingResourceName": "test",
    "enabled": true,
    "id": "/subscriptions/subid/resource

[2018-01-26 06:44] tleonhardt commented on #5400
That did resolve my issue.  Thank you.

[2018-01-26 07:17] nitin7dc commented on #5332
+1

[2018-01-26 08:29] alexeyshishkin01 commented on #5406
could you pls. confirm my 'cloud_init_add_user_password.txt' file format is correct?
could you pls. add more 'cloud_init' exampes into documentation so that users don't have to search the Internet?

[2018-01-26 09:18] ich-sammckenzie commented on #5402
@yugangw-msft Thanks for taking a look. You're point about the subscription name being the same. Thank you for clarifying that (though that means you would be unable to run "az account set -s [SubscriptionName]" I'm amusing this will be fixed at some point?).

I've just run the steps again just to confirm I am still seeing the issue
![image](https://user-images.githubusercontent.com/24918082/35432

[2018-01-26 13:06] Digitalmatrix2 opened #5410 "Thank s"
Helped

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bea54d36-cb69-577c-e114-2c4bd0e33728
* Version Independent ID: 812e7aa5-2e8a-f9ef-d922-df188bd6275a
* [Content](https://docs.microsoft.com/en-us/cli/azure/webapp/deployment/user?view=azure-cli-latest#az_webapp_deployment_user_set)
* [Content Source](https://github.c

[2018-01-26 13:56] javgarces opened #5411 "--container-name parameter for "az backup item list""
The --container-name parameter for "az backup item list" is listed as Optional, but using the CLI it's a required parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 60a9656d-adaf-b33e-a5a9-985e6245c970
* Version Independent ID: 98f0d6b5-5005-38a3-0f0d-a10d138062a7
* [Content](https://docs.microsoft.com/en-us/cli

[2018-01-26 16:20] #5410 closed

[2018-01-26 16:22] tjprescott commented on #5410
@JasonRShaver

[2018-01-26 16:25] tjprescott commented on #5411
The CLI is correct here. Apparently there is a bug in the doc gen because resource group is optional in the CLI and required in the docs.

[2018-01-26 16:25] #5411 closed

[2018-01-26 18:25] troydai commented on #4060
Based on @seguler's comments, I will close this issue. Feel free to share you concerns in the future.

[2018-01-26 18:27] troydai commented on #4529
@paulbatum and @acabrera-rms could you guys try the latest version of Azure CLI (2.0.25). Changes were made to the metrics in 2.0.24 build.

PR: https://github.com/Azure/azure-cli/commit/9b7005681eb0c5a74feb82f276fa3b81823d3485#diff-ff5a7b93c40504879176ac7665bc2809

[2018-01-26 18:32] tjprescott commented on #4910
I have scheduled it for an upcoming Sprint. It should be released in February.

[2018-01-26 19:22] taylorb-microsoft opened #5413 "Feature Request: Az Login should open the web browser automatically on WSL"
In the fall creators update of Windows 10 WSL can natively invoke Windows applications.  Thus az login can automatically open the authentication web page (including passing the auth code like PowerShell does).

Example:  `taylorb@taylorb-sl:/mnt/c/Users/taylorb$ cmd.exe /c start "http:\\\\www.microsoft.com"` results in opening www.microsoft.com in the users default browser (chrome, edge, firefox e

[2018-01-26 19:27] paulbatum commented on #4529
This is working great for me. Here's a quick example:

[code]

[2018-01-26 21:12] tjprescott commented on #4529
`--metric FunctionExecutionUnits,FunctionExecutionCount`

Does this actually return both metrics?  The CLI does not accept comma-separated lists.

[2018-01-26 21:32] yugangw-msft commented on #5409
this has been fixed through #5335, please use  the upcoming release

[2018-01-26 21:32] #5409 closed

[2018-01-26 21:34] yugangw-msft commented on #5402
If you run `az account list -o json`, how many you get? Also what is the version of the cli you are using?

[2018-01-26 21:50] iyerusad commented on #5403
Ability to toggle `Update Management` on a VM via Azure CLI would likely resolve a bug related to a VM thinking `Update Management` is enabled, but other parts of Azure Portal not recognizing it being enabled (i.e. the automation account). If there is an issue board where can file more detailed bug around `Update Management` or `Azure Portal` in general, please holler.

[2018-01-26 21:58] yugangw-msft commented on #5413
@taylorb-microsoft, could you please elaborate what particular PowerShell module/command you are talking about. [Azure-PowerShell](https://github.com/Azure/azure-powershell)?

And this is the area I am looking to simplify when there is window manager around.

[2018-01-26 21:58] yugangw-msft commented on #5398
please re-activate if you are still blocked

[2018-01-26 22:29] #5395 closed

[2018-01-26 22:53] thisSIDEofRANDOM commented on #5398
@yugangw-msft please reactivate. This is still happening and yes it was a typo.

Can you confirm if you were running from a Linux box to a Linux box. This happens on every server we try against coming from Ubuntu,Centos,Debian,Arch,Docker, and also windows subsystem against Linux machines.

The script which is written in VI uploads to the machine and then fails to execute as every character looks

[2018-01-26 22:57] yugangw-msft commented on #5398
I ran from OSX/Terminal to UbuntuL16.04 VM, and I used vim and input the same dummy command `logger "test"`, then I invoked the same command like yours

[2018-01-26 22:58] yugangw-msft commented on #5398
I can try from ubuntu to ubuntu

[2018-01-26 23:01] thisSIDEofRANDOM commented on #5398
Thanks @yugangw-msft we don't have a OSX machine handy to test on. or I would give that a shot. Let me know if I can grab any other information on the machines we have tested with. I'm at a pretty heavy loss on the behavior.

[2018-01-26 23:20] williexu opened #5416 "`storage file upload` unable to specify file name with no extension for destination"
---
The `--path` argument determines whether the input is a file path or directory path(in which it keeps the filename of the source) by looking at the presence of an extension in the file name [here](https://github.com/Azure/azure-cli/blob/92af6b3cea52f99eee84df93f5d3e2003a273d04/src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/_validators.py#L458).

This makes the command