[2022-08-25 08:01] #23427 closed

[2022-08-25 08:01] #22923 closed

[2022-08-25 08:01] #19727 closed

[2022-08-25 08:01] #16325 closed

[2022-08-25 08:02] #14761 closed

[2022-08-25 08:02] #14727 closed

[2022-08-25 08:02] #14580 closed

[2022-08-25 08:02] #13838 closed

[2022-08-25 08:02] #9877 closed

[2022-08-25 08:22] tim-telen commented on #23398
Same issue here.

[2022-08-25 08:37] raktdas opened #23664 "Adding DiskController type to VM and VMSS"
**Is your feature request related to a problem? Please describe.**

The Azure Storage Acceleration Platform (ASAP) is a hardware accelerator for remote storage that lives in compute (host) nodes and runs in an FPGA. In Overlake Phase 1.1, ASAP will only offer measurable performance benefits to UltraDisks. The Storage team is working to bring the ASAP technology to Premium disks, but this effort is

[2022-08-25 08:39] benbz commented on #23216
I've just encountered this. It is only an issue with `--dry-run`. The problem seems to be https://github.com/Azure/azure-cli/blob/374336ca6945d70b8caff756eb3e157a16238965/src/azure-cli/azure/cli/command_modules/storage/operations/file.py#L174-L183 as in `--dry-run` `dst` is unconditionally `None`. A quick change of line 179 to be `dst = destination` fixes this error but the `az storage file batch-

[2022-08-25 08:53] rdek commented on #23282
Hi, @jiasli
[code]
and from `az login --debug` I can freely write that `az login` uses `urllib3` instead of requests, given this snippet:
[code]

What should be the next steps in rectifying this problem?

[2022-08-25 08:56] jiasli commented on #23282
@p9139010. It seems your proxy intercepting traffic to https://aka.ms. Please refer to the document https://docs.microsoft.com/cli/azure/use-cli-effectively#work-behind-a-proxy.

[2022-08-25 08:59] p9139010 commented on #23282
thanks @jiasli  but we have this working for a long time and there is no proxy to block connectivity.

[2022-08-25 08:59] jiasli commented on #23282
@rdek, `requests` internally uses `urllib3` to send HTTP requests.

It's very likely your proxy allows https://login.microsoftonline.com/ but intercepts https://management.azure.com/. Please make  sure your proxy's certificate is trusted.

[2022-08-25 09:02] jiasli commented on #23282
@p9139010, the proxy may not be on your computer but company network.

Can you access https://aka.ms/ directly with python?

[code]

[2022-08-25 09:03] rdek commented on #23282
@jiasli - I've checked, don't have ANY proxy between me and web.

[2022-08-25 09:06] jiasli commented on #23063
Duplicate of #19571

[2022-08-25 09:06] #23063 closed

[2022-08-25 09:08] jiasli commented on #21696
Duplicate of #19571

[2022-08-25 09:08] #21696 closed

[2022-08-25 09:09] santo2 commented on #23398
any workarounds known already?

[2022-08-25 09:37] jiasli commented on #19305
@elygre, this problem is not related to different Azure CLI versions, but your proxy's configuration which intercepts traffic to `github.com`.

This is definitely a good idea. There are already lots of discussions regarding this topic in the Python community:

- https://github.com/psf/requests/issues/2966
- https://github.com/pypa/pip/issues/2510

I found some projects which do this:

- https://py

[2022-08-25 09:42] yonzhan commented on #23663
route to CXP team

[2022-08-25 09:46] adeliab commented on #23648
Apprently this is caused because the actionGroups need a resourceId than the name. Would be good to add this to the documentation

[2022-08-25 09:46] witekkij opened #23665 "ERROR: Scope must be a valid resource id"
**Related command**
az monitor metrics alert create

**Describe the bug**
When trying to create alert for Logic App failure, I am getting ERROR no matter what is actually provided as scopes

**To Reproduce**
use following SHELL script:

`
ALERT_NAME="Scheduling` $(LOGIC_APP_NAME) failed"
ALERT_DESCRYPTION="$ALERT_NAME at least 3 times in last 15 minutes"
RESOURCE_ID=`az resource show -n '$(LOGIC_A

[2022-08-25 09:51] Dorisls opened #23666 "Failed to create a tag starting with -- in Azure portal with CLI commands"
**Related command**
1. az group create --location eastus --name tagtest --tags "--key=value"
2. az group create --location eastus --name tagtest --tags "--key"="value"

**Describe the bug**
1. Failed to create a tag starting with "--". Such as "--key:value".
2. But in Azure portal, tag name starting with "--" can be created successfully.
![image](https://user-images.githubusercontent.com/40862198/

[2022-08-25 10:01] yonzhan commented on #23664
Compute

[2022-08-25 10:09] alisharepoint commented on #23598
@RakeshMohanMSFT

I'm only facing this issue in Linux Consumption Plan, it's working fine on Windows plan.

[2022-08-25 10:12] RakeshMohanMSFT commented on #23598
@alisharepoint Are you following these steps to create the function?
![image](https://user-images.githubusercontent.com/49954584/186638297-c5713e54-538c-4b96-8718-2655f58904a4.png)

[2022-08-25 10:34] alisharepoint commented on #23598
@RakeshMohanMSFT

I'm creating function using Visual Studio 2022 and deploying it through Zip deployment. Same process working fine for me in Windows Consumption plan. But unable to do in Linux Consumption.

Can you please check the zip deployment in Linux Consumption?

[2022-08-25 10:37] yonzhan commented on #23665
monitor

[2022-08-25 10:38] yonzhan commented on #23666
@zhoxing-ms for awareness

[2022-08-25 12:43] valsar6 opened #23668 "Optional parameters instead of Required"
[Enter feedback here]
Just as the title says:
while trying the command **az webapp config hostname add** without any param I get the following error:

_(--resource-group --webapp-name --hostname | --ids) are required_

Now, the ids or the other 3 params should be considered as required parameters. Leaving the title as optional might cause confusion

---
#### Document Details

⚠ *Do not edit this s

[2022-08-25 13:12] rafaldev opened #23669 "az batch application package create errors on upload"
azure-cli                         2.39.0
core                              2.39.0
telemetry                          1.0.6 *
Dependencies:
msal                            1.18.0b1
azure-mgmt-resource             21.1.0b1

az batch application package create --application-name cdsrunner --name testaccount --package-file "C:\azagent\A6\_work\r1\a\proj\bin\release\net6.0\test.zip" --resource-group RE

[2022-08-25 13:29] RakeshMohanMSFT commented on #23665
@witekkij Thank you for reaching out, we are looking into it.

[2022-08-25 13:31] Rajesh-u816200 opened #23670 "Error while copying an image from one location another location"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az image`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az image {} --source-resource-group {} --source-object-name {} --target-locatio

[2022-08-25 13:32] Rajesh-u816200 commented on #23670
Error :

command failed: ['C:\\Program Files (x86)\\Microsoft SDKs\\Azure\\CLI2\\python.exe', '-m', 'azure.cli', 'snapshot', 'create', '--name', 'fl-devops-agent-image-ubuntu2004_os_disk_snapshot', '--location', 'eastus2', '--resource-group', 'fzeu2-azdagp-li-npd-rgp-01', '--source', '/subscriptions/bf8fda85-0344-4b1d-842a-7b28afee60e4/resourceGroups/pkr-Resource-Group-xxuo3yri68/providers/Microso

[2022-08-25 14:16] yonzhan commented on #23668
route to CXP team

[2022-08-25 14:16] yonzhan commented on #23669
route to CXP team

[2022-08-25 14:19] yonzhan commented on #23670
@zhoxing-ms for awareness

[2022-08-25 14:21] Rajesh-u816200 commented on #23670
I am trying to copy an image from one location to another location and i am facing this error.
How can i solve this?

[2022-08-25 15:04] isolenov commented on #23152
@yanzhudd, sorry for the late response, just returned back from vacation.

Results look good now. "properties" object is expected in body as it is a part if ARM resource definition, please, have a look on samples in [preview docs](https://review.docs.microsoft.com/en-us/rest/api/documentation-preview/federated-identity-credentials/create-or-update?view=azure-rest-preview&branch=result_54a08aa4-b4d

[2022-08-25 16:14] RakeshMohanMSFT commented on #23598
@alisharepoint  Its working fine for me. Please try to follow previous screenshot i shared and create the function and publish the same using visual studio and see if that works for you.
![image](https://user-images.githubusercontent.com/49954584/186716502-58e4ddfb-521c-4352-a8c8-09ac67f4a9cb.png)

[2022-08-25 16:29] aleclawlor opened #23671 "Add priorityMixPolicy property to VMScaleSets"
This design review is based off of the issue created in the Powershell Design request: https://github.com/Azure/azure-powershell-cmdlet-review-pr/issues/1250. There, I have listed a more extensive list of use cases and requirements for being able to set the property. Since the property itself is a struct with 2 fields, it may be best to flatten that struct. I have also listed this on the Powershel

[2022-08-25 17:24] ceilingfish commented on #10870
Hello there, same issue.

I also noted that I'm not able to modify the redirect-config either. e.g. trying to set the redirect type to External in the UI has no effect.

[2022-08-25 17:55] TravisCragg-MSFT commented on #21308
@williamwd We are going to close this issue as inactive. When you are ready to continue with this issue, please mention me and provide additional information for us to continue troubleshooting. Thank you.

[2022-08-25 17:55] #21308 closed

[2022-08-25 20:22] juliocpiro opened #23672 "az login Connection to login.microsoftonline.com timed out"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-08-25 21:55] ericjs commented on #23094
I get the same error with azure-cli v 2.39.0 on openSUSE tumbleweed, running an "az ssh config ..." command.

[2022-08-25 22:04] ericjs opened #23674 "command failed with an unexpected error, cannot import name '_psutil_linux' from partially initialized module 'psutil'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh config`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ssh config --file {} -n {} -g {}`

## Expected Behavior

## Environment

[2022-08-25 22:09] ericjs commented on #23674
This is under openSUSE Tumbleweed after installing the official version according to the instructions here: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=zypper
I'd previously been using an unofficial version from the opensuse repositories successfully, until I recently started getting the error "API version 2021-08-01 does not have operation group 'network_interfaces'"

[2022-08-25 22:29] dperezro-ins commented on #17655
@yonzhan is there any update on this? it's a big showstopper for automating pipelines.

[2022-08-25 22:36] ntegral commented on #17469
Kali Linux on Azure is available in the Azure Marketplace and is accessible via RDP.

https://azuremarketplace.microsoft.com/en-us/marketplace/apps/ntegralinc1586961136942.ntg_kali_linux?tab=Overview

[2022-08-25 22:47] ericjs commented on #23674
Since tumbleweed doesn't have python 3.6 (it has 3.8, 3.9 and 3.10) I tried using the instructions on the page I referenced under the section "Install on SLES 12 or other systems without Python 3.6". I ran the curl command given and started a new bash shell, and tried the az ssh config command again. I get the result except for the line in the traceback which previously said python3.10 now says py

[2022-08-25 22:59] SaurabhSharma-MSFT commented on #23631
@HarryUlysses You are correct, and I have created a PR to address it and it will be merged once approved. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

Thanks
Saurabh

[2022-08-25 22:59] #23631 closed

[2022-08-26 00:14] nyetwurk commented on #23094
Even worse, unattended upgrades continues to upgrade over it

[2022-08-26 00:16] PramodValavala-MSFT commented on #22595
@bcosden @maxwmsft Apologies for not getting back to this sooner! I am working up a PR as part of [this issue](https://github.com/Azure/azure-cli/issues/23525) on the same ask.

[2022-08-26 00:18] nyetwurk commented on #19640
Please consider this soon, deb upgrade overwrites the microsoft distributed one with the broken one unless you freeze/hold the package, which is unexpected and not novice friendly.

[2022-08-26 00:36] AlecWolman-msft commented on #23376
Yes, for install, I followed the instructions here:

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt

I used apt to install the prerequisites.  I then installed the signing key, and added the following repo to /etc/apt/sources.list.d/azure-cli.list:
deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ jammy main

And then I did:
apt intall azure-cli

When

[2022-08-26 01:01] yonzhan commented on #23671
Compute

[2022-08-26 01:03] yonzhan commented on #23672
Please go through this issue and see if it helps
https://github.com/Azure/azure-cli/issues/21514

[2022-08-26 01:03] #23672 closed

[2022-08-26 01:04] yonzhan commented on #23674
route to CXP team

[2022-08-26 01:05] yonzhan commented on #17655
devops service team should take a look cc @narula0781, @ashishonce, @romil07.

[2022-08-26 02:00] ynden commented on #23674
Hey @ericjs,

Can you try this workaround, and let us know what is the result please:
1. Make sure you have Python 3.10 installed (if not upgrade it first) or follow those sub-steps
    1. Run `zypper install python39` It'll install it as python3.9 (we don't want that since it's gonna be confusing)
    2. Run `ln -s /usr/bin/python3.9 /usr/bin/python` && `ln -s /usr/bin/python3.9 /usr/bin/python3`

[2022-08-26 02:05] Jasonlhy commented on #23533
@jiasli I am using powershell 7.2.6, azure-cli 2.39.0

I don't have the screenshot of it, the command I am using is something like this up to 1xx values:
`
az ad app update --id $aadClientId --web-redirect-uris "https://xxxyyzzz-abcde-efgh.azurewebsites.net/.auth/login/aad/callback" "https://xxxyyzzz-abcde-efgh.azurewebsites.net/.auth/login/aad/callback" "https://xxxyyzzz-abcde-efgh.azurewebsites.

[2022-08-26 02:33] yanzhudd commented on #23152
Hello @isolenov,
Since the error message **`Request contains additional data that the service does not understand`** may confuse user why the creation is failing, we propose to add a check logic in our side, i.e. if any parameters are missing we will report
`RequiredArgumentMissingError` error. Could you please help to confirm this?

[2022-08-26 02:40] yungezz opened #23679 "Doc: command in core package isn't showed under parent command module reference doc"
`az containerapp` is command module in extension package.
`az containerapp connection` is command in core package.
In reference doc of `az containerapp`, there's no `az containerapp connection`:  https://docs.microsoft.com/en-us/cli/azure/containerapp?view=azure-cli-latest.

**Related command**

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional co

[2022-08-26 02:49] jiasli commented on #23376
I tried to installed Azure CLI in a docker container but couldn't repro:

[code]

[code]

I found some related stackoverflow posts:

- https://stackoverflow.com/questions/44463879/could-not-import-runpy-module
- https://stackoverflow.com/questions/51405139/pip-not-working-modulenotfounderror-no-module-named-runpy

Could you run these commands and share the result?

[code]

`runpy` is actually at

[2022-08-26 02:58] yonzhan commented on #23679
route to CXP team

[2022-08-26 03:55] navba-MSFT commented on #23655
@ynden Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-26 04:08] navba-MSFT commented on #23679
@yungezz Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-26 04:11] t-bzhan opened #23680 "`az cosmosdb network-rule remove` unable to remove rule due to subnet case-sensitivity issue"
**Related command**

`az cosmosdb update`
`az cosmosdb network-rule remove`

**Describe the bug**

I used `az cosmosdb update` to add multiple virtual network rules, one of the rules has the subnet id with `/subscriptions/d7cfdb98-c118-458d-8bdf-246be66b1f5e/resourceGroups/AFDX-Portal-BugBash/providers/Microsoft.Network/virtualNetworks/testnetwork/subnets/default`, it looks like Cosmos DB's backen

[2022-08-26 04:32] vijaysinghbisht commented on #7054
facing same problem past few hours , but after reading all above I am wondering is it possible to pass our own password or update the password having '-' with a password not having '-'. Will try it and let you know my findings .
Even if it works, it wont be a fix only a workaround

[2022-08-26 05:19] jiasli commented on #23642
Could you please share the error message you got?

Azure CLI/MSAL's token cache is process-safe for read operations, but no write operations. Running `az login` concurrently or refreshing MSAL token cache may result in failure (https://github.com/Azure/azure-cli/issues/20273).

For now, you may try `AZURE_CONFIG_DIR` to isolate Azure CLI environments so that each of your Terraform task can have a

[2022-08-26 05:27] navba-MSFT commented on #23500
@jastill The action is currently pending on you to try the above suggestion. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-08-26 05:27] #23500 closed

[2022-08-26 05:33] navba-MSFT commented on #23541
@kkantedi The action is currently pending on you to try the above action plan and get back to us with an update. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-08-26 05:33] #23541 closed

[2022-08-26 05:37] navba-MSFT commented on #23562
The above PR has been filed and it is currently under review.

[2022-08-26 05:41] navba-MSFT commented on #23563
@kpconnell I wanted to do quick follow-up to check if you had a chance to look at my above comment and try the action plan. Please let us know if you have any update on this. Awaiting your reply.

[2022-08-26 05:48] navba-MSFT commented on #23606
@aamad777 This is a quick follow-up on this issue to gather more details about this issue.Looking at your issue description the issue doesnt seem to be related to AzCLI. Please let us know the Azure CLI command that you are running along with the --debug output. This will help us to assist you better.

[2022-08-26 05:51] navba-MSFT commented on #23634
@mckenzm Thanks for getting back. May I know if you had any update on the below plans ?

[2022-08-26 05:54] navba-MSFT commented on #23655
@ynden I see that you have created the above PR to address this and it is currently under review.

[2022-08-26 06:09] RakeshMohanMSFT commented on #23665
@witekkij We are unable to reproduce this issue. If you are not using the latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli), i suggest you upgrade and retry

![image](https://user-images.githubusercontent.com/49954584/186833964-a2d07598-0ded-4f2c-b2e4-401af3b5ba96.png)

[2022-08-26 06:38] kevinzz6 commented on #23579
Hi @plynch66, we will add a parameter "--managed-resource-group-name" to support managed resource group feature. Wish to deploy on the next release. Thank you.

[2022-08-26 07:03] zhoxing-ms commented on #23664
@raktdas Could you please provide the specific command and parameter related designs?

[2022-08-26 07:12] RakeshMohanMSFT commented on #22881
@matkosoric I tried a simple arm template to deploy a storage account having and i got a valid error message as shown below.
![image](https://user-images.githubusercontent.com/49954584/186843858-520c41ed-e788-46a2-aa67-538eb5d4ca9e.png)

![image](https://user-images.githubusercontent.com/49954584/186844053-40bcc789-d49c-45c9-a739-4ee7f6442021.png)

Note: which version of az cli are you using? If y

[2022-08-26 07:21] RakeshMohanMSFT commented on #23663
@aamad777 Can you please help us with debug trace for the issue?

[2022-08-26 07:23] aamad777 commented on #23663
I just run the command and the output mention that not supported,

[2022-08-26 07:26] SamaRamya commented on #23640
@zhoxing-ms I have sent u.Please check the mail.

[2022-08-26 07:31] RakeshMohanMSFT commented on #23663
@aamad777 you mean when you add --debug to the command, its not supported?

[2022-08-26 07:37] aamad777 commented on #23663
li.knack.cli: Command arguments: ['vm', 'user', 'delete', '-u', 'username', '-n', 'vm3', '-g', 'tlb', '--debug']
cli.knack.cli: __init__ debug log:
Enable color in terminal.
cli.knack.cli: Event: Cli.PreExecute []
cli.knack.cli: Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x7f71c0b06b80>, <function OutputProducer.on_global_arguments at 0x7f71c0a1c5e0>,

[2022-08-26 07:55] aamad777 commented on #23595
@navba-MSFT  Tried the same nothing delete even it give succuss put when i checked using local account the  user still exists with file and folder

[2022-08-26 07:57] RakeshMohanMSFT commented on #23663
Which version of az cli are you using? the latest is [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

please share details of az --version

[2022-08-26 07:58] navba-MSFT commented on #23595
@aamad777 Thanks for getting back. May I know the feasibility of opening a support ticket ? Our support professionals can have closer look at the issue and troubleshoot this further.

[2022-08-26 07:58] aamad777 commented on #23663
azure-cli                         2.39.0

[2022-08-26 08:00] aamad777 commented on #23595
Not sure what you mean @navba-MSFT  ?? this is already a ticket no?

[2022-08-26 08:03] RakeshMohanMSFT commented on #23663
@aamad777 Please go through this issue https://github.com/Azure/azure-cli/issues/23453

[2022-08-26 08:04] navba-MSFT commented on #23595
@aamad777 This is a GitHub issue. My suggestion is to open a support ticket. So that our Microsoft Support Professionals can contact you over email / phone and work with you over a screen sharing session and troubleshoot this issue.

The process to open a support ticket is explained **[here](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request)**.

[2022-08-26 08:08] RakeshMohanMSFT commented on #23663
@aamad777 https://github.com/Azure/azure-cli/issues/23595 here it is already suggested that you open a support ticket. Can you please follow that? I will continue to investigate it but in the meantime try to create a support ticket

[2022-08-26 08:08] isolenov commented on #23152
@yanzhudd
"Request contains additional data that the service does not understand" appears when "issuer" or "subject" is missing. This is a bug on server side which is hiding more meaningful error message. This will be fixed on our side eventually.
Since all 3 properties are mandatory, please add a check on az cli side:
"issuer" - mandatory, not empty string
"subject" - mandatory, not empty string

[2022-08-26 08:09] navba-MSFT commented on #23679
@panchagnula Would you be able to help us in answering this one ?

[2022-08-26 08:14] pakochiu commented on #14768
Workaround:
1. Adding a Access keys for the azure container registry
2. Login Podman with the below script (YourRegistry changing to your registry name) with the account and password created above
3. Podman login YourRegistry.azurecr.io

[2022-08-26 08:21] yanzhudd commented on #23152
Since a default value of "audiences" is specified above (https://github.com/Azure/azure-cli/issues/23152#issue-1298911431):

may I ask if the parameter "audiences" also need to be checked?

[2022-08-26 08:22] sanistaal-bbc commented on #21744
A late update after some weeks of testing this. I changed the setup to run sequentially and then we don't experience any issues with the lockfile. I'm not in doubt that the concurrency is causing the problem

[2022-08-26 08:32] SamaRamya commented on #23640
C:\Users\T5204RS\Desktop\adf>az group deployment create --name Schema --template-file arm_template.json --resource-group rg-11912-d-001 --debug
cli.knack.cli: Command arguments: ['group', 'deployment', 'create', '--name', 'Schema', '--template-file', 'arm_template.json', '--resource-group', 'rg-11912-d-001', '--debug']
cli.knack.cli: __init__ debug log:
Enable color in terminal.
Init colorama.
cli

[2022-08-26 08:33] SamaRamya commented on #23640
@zhoxing-ms please check the above debug log

[2022-08-26 08:33] garin commented on #15431
I have similar issue.

[code]

I'm already upgrade to 2.39.0

[code]

[2022-08-26 08:36] #23551 closed

[2022-08-26 08:53] RakeshMohanMSFT commented on #23466
@sherlynnw-fac Apologies for the delay in getting back. Can you please share the debug trace for the issue?

[2022-08-26 09:16] yanzhudd commented on #23152
Is that the rule for parameter "audiences" check is as follows?
- If the user does not pass this parameter, no error is reported. The default value ["api://AzureADTokenExchange"] is used.
- if the user passes this parameter, we check the size of the array.

[2022-08-26 09:20] navba-MSFT commented on #23658
Adding Service team for Devops issue.

@v-anvashist, @V-hmusukula Please look into this once you get a chance.

[2022-08-26 09:23] SumanthMarigowda commented on #23509
Removing CXP label for DevOps issue

Adding @v-anvashist, @V-hmusukula. Please look into this

[2022-08-26 09:25] isolenov commented on #23152
@yanzhudd this is correct. thank you

[2022-08-26 09:26] SumanthMarigowda commented on #23156
Removing CXP Attention label for DevOps issue

Adding @v-anvashist, @V-hmusukula. Please look into this

[2022-08-26 09:31] #23002 closed

[2022-08-26 09:46] zhoxing-ms commented on #23670
I can reproduce this problem, and I find that it should be a service issue.

[code]
When the location of the `sourceResourceId` is inconsistent with the `location` parameter *(target location)*, the resource cannot be found error will be returned. Therefore, this issue needs to be investigated by the service team.
**'x-ms-request-id': '9038e696-6c76-4933-a6d4-24f660334389'**

[2022-08-26 10:33] ramdaspotale opened #23687 "not possible to create private endpoint to connect to private link service using its alias with az cli"
I was working on possible automation of creating private endpoints, especially connecting to private link service by using private link service alias. however, I did not find any option to do this using azure cli.

usually lots of things that azure portal can not do, they can be done using az cli; however, it seems to be inaccurate in this case. you can create private endpoints with private link s

[2022-08-26 12:47] gunsto commented on #23228
We had this issue too. But it turned out that the name of the target server was wrong. It would be better to get a clear error message then.

[2022-08-26 13:08] yonzhan commented on #23687
@necusjz for awareness

[2022-08-26 13:52] mantissystems opened #23689 "az webapp create failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create --resource-group {} --plan {} --name {} --runtime {} -

[2022-08-26 13:56] jastill commented on #23500
with and without the optional --connection-string:

❯ az communication identity token issue --scope chat
Command group 'communication identity token' is in preview and under development. Reference and support levels: https://aka.ms/CLI_refstatus
The command failed with an unexpected error. Here is the traceback:
No module named 'azure.communication'
Traceback (most recent call last):
  File "/usr/

[2022-08-26 14:03] RakeshMohanMSFT commented on #23593
@h-bahrami Can you please upgrade to the latest version of azure cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and retry?

[2022-08-26 14:27] yonzhan commented on #23689
route to CXP team

[2022-08-26 15:11] RakeshMohanMSFT commented on #22702
@marklemmon This is working now.
![image](https://user-images.githubusercontent.com/49954584/186936589-c326d654-d3d7-4381-8a1e-0ba3707f485b.png)

[2022-08-26 15:11] #22702 closed

[2022-08-26 15:31] RakeshMohanMSFT commented on #22694
@goelankit Please upgrade to that latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and retry.

[2022-08-26 15:32] RakeshMohanMSFT commented on #21581
@k10876 Please reopen this issue if you are still facing this issue

[2022-08-26 15:32] #21581 closed

[2022-08-26 15:36] RakeshMohanMSFT commented on #23689
@mantissystems Can you please upgrade to the latest version of azure cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and retry

[2022-08-26 16:03] panchagnula commented on #23679
Sorry I don't own any of the "connection" for webapp or containerapp , would be a better question for core-cli, & they can engage the owner of that code. Another team owns that part of the logic which not part of az containerapp code, & being made to look like its part of az containerapp.

[2022-08-26 16:12] RakeshMohanMSFT commented on #22234
Closing this thread.

[2022-08-26 16:12] #22234 closed

[2022-08-26 17:24] rayluo commented on #21744
Thanks, @sanistaal-bbc , for sharing your latest progress above. Glad that workaround works.

@jiasli , I re-read this issue, quoted below.

@jiasli , you/we once suggested:

But, the lockfile was already in a folder containing a datetime stamp, so it seems like their Azure CLI was always using a different/new folder.

@sanistaal-bbc, I don't know much about your setup. For your each run, does you

[2022-08-26 18:33] SaurabhSharma-MSFT commented on #23680
@t-bzhan We are looking into it and get back to you for any additional information.

[2022-08-26 19:28] raktdas commented on #23664
Editted description. Please let me know if you need further clarifications

[2022-08-26 20:24] SaurabhSharma-MSFT commented on #23650
@MrDarkPat I don't see any issues running the cmdlet.
![image](https://user-images.githubusercontent.com/38112130/186984642-1bc56e5f-06f5-49e1-8cb0-a09706943d8d.png)
If you are using a settings file can you please make sure you are in the same directory or passing the filename + path correctly like below -
![image](https://user-images.githubusercontent.com/38112130/186985069-18475187-85c5-497c-885

[2022-08-26 21:03] ynden commented on #23687
Hey @ramdaspotale,
You need to add the `--manual-request true` argument. In your case:

[code]

Please confirm if that solves the problem, thanks!

[2022-08-26 22:26] ericjs commented on #23674
Hi @ynden,
That worked! My "az ssh config" work successfully again, as before.
Thank you much,
Eric

[2022-08-26 23:16] daveneeley commented on #17951
I just hit this issue! Ouch. It's not a feature request. It's a bug.

[2022-08-27 00:15] yonzhan commented on #23680
route to CXP team

[2022-08-27 00:16] yonzhan commented on #23650
route to CXP team

[2022-08-27 07:54] sanistaal-bbc commented on #21744
I'm not really sure that it's a workaround but more a roll-back to where I came from. I would like to run them side by side

[2022-08-27 10:39] zhoxing-ms commented on #23664
@raktdas So do we need to add a new parameter `--disk-controller-type` to support `DiskControllerType`, and apply it to `az vm create` and `az vmss create` commands, right? Does it need to be supported for updated commands?

[2022-08-27 10:54] zhoxing-ms commented on #23671
@aleclawlor Please note that the code of this sprint will be frozen in a few days. Since the feature request is submitted late, it may not be able to catch up with the release in this sprint.
Therefore, we plan to release it in the next sprint. The release time is **10-12**, may I ask does this date meet your expectations?

[2022-08-27 13:22] aabel1 opened #23692 "Microsoft.ConnectVMwarevSphere Resource provider will not register / unregister."
**Related command**
Register-AzResourceProvider -ProviderNamespace Microsoft.ConnectedVMwarevSphere

**Describe the bug**
Microsoft.ConnectedVMwarevSphere stuck registering or unregistering, unable to get resource provider to register.

**To Reproduce**
Register-AzResourceProvider -ProviderNamespace Microsoft.ConnectedVMwarevSphere
or:
Unregister-AzResourceProvider -ProviderNamespace "Microsoft.Co

[2022-08-27 13:39] yonzhan commented on #23692
Please open this issue on azure-powershell repo.

[2022-08-27 13:39] #23692 closed

[2022-08-27 15:25] aleclawlor commented on #23671
Hi Zhoxing, we want to get the code in with this Sprint if at all possible. I'd be happy to make and test the changes myself, as it is not a major change to the code, but the feature itself will be very beneficial to have.

The only issue I see is that the Swagger and SDK changes are not yet published to their respective repositories. However, is it possible to run code generation locally, or manu

[2022-08-27 15:26] aleclawlor commented on #23671
@zhoxing-ms ^^^

[2022-08-27 16:02] jeffreywstevens commented on #17695
I just got this known issue again. Any chance this will get fixed sometime in the future?

[2022-08-27 22:12] RotateAt60MPH opened #23693 "Cannot manually create function app SystemKey"
**Related command**
az functionapp keys set

**Describe the bug**
Operation returned an invalid status 'Not Found'

**To Reproduce**
[code]

**Expected behavior**
A key should be created.  The function app is proven to exist beforehand.

[2022-08-27 23:52] ynden commented on #23693
Hey there @RotateAt60MPH,

You can create *function* & *host* keys, but not *system* keys. *System* keys can only be created by extensions. For example if you create an  *Event trigger* function, you would see a new system key generated.

You can find more details in here: https://docs.microsoft.com/en-us/azure/azure-functions/security-concepts?tabs=v4#system-key

Please confirm if that helps, tha

[2022-08-28 02:08] yonzhan commented on #23693
route to CXP team

[2022-08-28 02:50] raktdas commented on #23664
yes it needs to be supported by both create and update commands

[2022-08-28 14:29] zhoxing-ms commented on #23671
@aleclawlor Yes, since CLI relies on Python SDK, if the Python SDK and Swagger are not ready, we cannot develop and release this feature in this sprint.
However, we can first develop locally through a private Python SDK from Swagger PR, and then generate a private CLI package through edge build. We should be able to provide you with a private CLI package for testing this feature or for customers w

[2022-08-28 14:35] zhoxing-ms commented on #23671
@aleclawlor In addition, please note that the local build currently only supports generating private packages of pip. If you want to have the private packages with multiple installation methods *(such as MSI, docker..), you need to release the python SDK as soon as possible, so that we can generate the private package through the [edge build](https://github.com/Azure/azure-cli/blob/dev/doc/try_new

[2022-08-28 18:35] RotateAt60MPH commented on #23693
@ynden Thanks for the reply.
So, only by deploying code to the function app functions that are (in this instance: SignalRTrigger attributed) would create the systemkey signalr_extension?

[2022-08-28 19:01] ynden commented on #23693
@RotateAt60MPH
Correct, you would need to deploy your function first. Only then, a system key would be generated by the extension (in your case the *signalR extension*).

![image](https://user-images.githubusercontent.com/33120223/187090316-d5ebf977-12b1-4ca4-bbb9-1cdd1770dc82.png)

Hope that helps!

[2022-08-28 19:09] VR-Architect opened #23696 "az login error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-08-28 23:36] yonzhan commented on #23696
Please go through this issue and see if it helps
https://github.com/Azure/azure-cli/issues/21514

[2022-08-28 23:36] #23696 closed

[2022-08-29 01:49] vf-doctor commented on #17137
Just want to add that I am also experiencing the same issue.  Doing a nslookup or dig on the acr endpoint resolves to the private IP address but az acr build routes via the public endpoint.

And because I am running the agent in an azure container instance I have had problems getting docker to run inside the container.  So the workaround noted above is not as easy for me to deploy.

[2022-08-29 02:12] #23525 closed

[2022-08-29 02:29] bebound commented on #23666
This should work: `az group create --location eastus --name tagtest --tags="--key=value"`

Ref: https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively?tabs=bash%2Cbash2#use-hyphen-characters-in-parameters

[2022-08-29 02:57] zhoxing-ms commented on #23640
@SamaRamya  In order to reproduce your problem, could you send the ARM template `arm_template.json` you used to me by email? My email address is [Zhou.Xing@microsoft.com](mailto:Zhou.Xing@microsoft.com), thanks~

[2022-08-29 02:57] PARADISSEEKR commented on #23664
Hi @raktdas ,do we need to add a preview tag to this parameter?

[2022-08-29 03:11] raktdas commented on #23664
Yes I think so. Since this feature is still under private preview and not released publicly yet.

[2022-08-29 03:14] jiasli commented on #17951
May I know how this is done? Based on my understanding, user-assigned identity is not bound to an application: https://docs.microsoft.com/en-us/azure/automation/add-user-assigned-identity

Are you creating a user-assigned identity with the same display name as the application?

The query `$filter=servicePrincipalNames/any(x:x eq '[APP_ID]') or displayName eq '[APP_ID]'` and error "more than one en

[2022-08-29 03:51] RakeshMohanMSFT commented on #23674
@ericjs Glad to hear that its working. @ynden Thank you for providing the solution.

[2022-08-29 03:51] #23674 closed

[2022-08-29 03:55] daveneeley commented on #17951
In my case the name of the user assigned identity was completely different than the name of the enterprise application and application registration. The user assigned identity was created at the resource group level.

Enterprise App Name: user-principal-name
App Reg Name: user-principal-name
App Reg Application ID URI: https://user-principal-name
Managed Identity Name: completely-unrelated-name

I

[2022-08-29 04:00] RakeshMohanMSFT commented on #23608
@phegde127 Thank you for reaching out, we are looking into it.

[2022-08-29 04:31] navba-MSFT commented on #23563
@kpconnell The action is currently pending on you to try the above suggestion and get back to us. If you still face the same issue, please feel free to reopen this thread. We would be happy to help.

[2022-08-29 04:31] #23563 closed

[2022-08-29 04:38] navba-MSFT commented on #23595
@JereO-Nc As mentioned in the above comment. The Windows version of VM Access doesn't support deleting a user account. However, I have developed a [sample PS script ](https://github.com/Azure-Samples/Azure-CXP-Developer-Support/blob/main/VirtualMachine/Powershell/PSAzVMRemoveUser.ps1)as a workaround to achieve your requirement of deleting a user across multiple VMs in different subscriptions. You

[2022-08-29 04:41] navba-MSFT commented on #23606
@aamad777 Please provide us an update on this and feel free to reopen this issue. We would be happy to resume our investigation and assist you further.

[2022-08-29 04:41] #23606 closed

[2022-08-29 05:01] v-anvashist commented on #23626
@celluj34 We are receiving the response from API so we have raised the issue to API team.

Once will get the update from them will share the updates on the same.

[2022-08-29 05:59] RakeshMohanMSFT commented on #23670
@Rajesh-u816200 Did you get a chance to go through this thread https://github.com/Azure/azure-cli/issues/11909?

[2022-08-29 06:03] navba-MSFT commented on #23634
@mckenzm I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you  had any update on this. Awaiting your reply.

[2022-08-29 06:21] RakeshMohanMSFT commented on #18174
Please upgrade to latest version of azure cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-29 06:21] #18174 closed

[2022-08-29 06:21] RakeshMohanMSFT commented on #18230
Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-29 06:21] #18230 closed

[2022-08-29 06:27] RakeshMohanMSFT commented on #19629
Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and retry.

[2022-08-29 06:27] #19629 closed

[2022-08-29 06:28] RakeshMohanMSFT commented on #10469
Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and retry.

[2022-08-29 06:28] #10469 closed

[2022-08-29 06:29] RakeshMohanMSFT commented on #11948
Please use this command `az extension update -n interactive` and retry

[2022-08-29 06:29] #11948 closed

[2022-08-29 06:34] zhoxing-ms commented on #23664
@raktdas Since CLI relies on Python SDK, in order to bump new SDK package version and develop/release this feature on this basis in time, could you help us release the new Python SDK package as soon as possible?
About how to release the new version of Python SDK package, you can ask @msyyc for help

[2022-08-29 06:37] thedheerendra commented on #17137
I had found with a Microsoft Case that you need to whitelist those 2,3 public IPs on ACR which will appear with that error. Those IPs are somehow useful for build.

[2022-08-29 06:43] bachlean commented on #23496
Hello @dem108 , thanks for the reply. I understand.
although, i have to say i find this kind of inconvenient and definitely inconsistent with the other "az ml XXX create" commands for workspace and compute. For workspace and compute, the "create" command does not fail and abort the pipeline run if the workspace/compute already exists.

[2022-08-29 06:44] SamaRamya commented on #23640
@zhoxing-ms  have sent u the arm_template.json which i used only.If you want i will reshare

[2022-08-29 07:11] zhoxing-ms commented on #23640
@SamaRamya Sorry, I haven't received the relevant email yet. Could you please help reshare it?

[2022-08-29 07:45] RakeshMohanMSFT commented on #23116
@HenrikSommer-eng can you please try this instead? $overrideParameters = @('environmentName=dev','sqladminpassword="test>f"','test=random'). Its working i tested it.

[2022-08-29 07:50] witekkij commented on #23665
Thank you for quick help, most probably its problem with variable. I ended up using following string interpolation
--scopes "/subscriptions/$(SUBSCRYPTION_ID)/resourceGroups/$(RESOURCE_GROUP)/providers/Microsoft.Logic/workflows/$(LOGIC_APP_NAME)" \

[2022-08-29 07:50] #23665 closed

[2022-08-29 08:02] RakeshMohanMSFT commented on #23068
@zaalion PolicyName is an existing policy definition https://docs.microsoft.com/en-us/cli/azure/policy/definition?view=azure-cli-latest#az-policy-definition-create. These documents are specific to the respective commands and their usages and not related to all the related commands.

For information on Azure Policy https://docs.microsoft.com/en-us/azure/governance/policy/assign-policy-portal

[2022-08-29 08:03] RakeshMohanMSFT commented on #22969
@aalmowaled Apologies for the delay, can you please give the complete debug trace for us to troubleshoot the issue?

[2022-08-29 08:27] #17345 closed

[2022-08-29 08:35] #17337 closed

[2022-08-29 08:38] Marwen-TAALLAH opened #23700 "python module not found on the azure app function"
### Related command

_No response_

### Resource Provider

azure function app

### Description of Feature or Work Requested

I'm not able to execute my cloud function due to failures to import modules, module azure-identity for example, it's telling me module not found, I had my requirements.txt file:

azure-functions
msrestazure
azure-identity
azure.keyvault.secrets
azure-cli

and my code imports

[2022-08-29 08:42] yonzhan commented on #23700
route to CXP team

[2022-08-29 08:53] jelalanne commented on #22228
Hi, any follow-up on this issue?

[2022-08-29 09:18] Zhupku opened #23702 "CLI should support specific storage endpoint for shared key auth mode"
### Related command

All datapath command

### Resource Provider

Microsoft.Storage

### Description of Feature or Work Requested

Now since CLI parse the storage account name from the endpoint by using ".core" key word, when using shared key auth mode. It will throw an exception when parsing the endpoint not including ".core" (https://github.com/Azure/azure-sdk-for-python/blob/afce4523ab32e6f3b12

[2022-08-29 09:26] SamaRamya commented on #23640
@zhoxing-ms Can u please check the mail now

[2022-08-29 09:27] jiasli commented on #17695
@jeffreywstevens, Cloud Shell team is still investigating this issue. Please see https://github.com/Azure/azure-cli/issues/11749#issuecomment-570975762 for a workaround.

[2022-08-29 11:17] yonzhan commented on #23702
storage

[2022-08-29 12:12] RakeshMohanMSFT commented on #19227
This is fixed. Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-29 12:12] #19227 closed

[2022-08-29 13:12] PramodValavala-MSFT commented on #23700
@Marwen-TAALLAH This is usually a deployment problem. Could you share more details on how you are deploying your function app here?

[2022-08-29 13:49] SAIKUMAR-MANDEPUDI opened #23705 ""az webapp config snapshot restore" CLI command not working when restoring the snapshot to deployment slot"
**Related command**

az webapp config snapshot restore --time <snapshot timestamp> --name <name of the web app> --resource-group <name of the resource group> --restore-content-only --slot <name of the slot> --source-name <name of the webapp to retrieve snapshot from> --source-resource-group <source resource group name>

**Describe the bug**

I am trying to restore the snapshot of an App service to

[2022-08-29 13:58] PramodValavala-MSFT commented on #23700
@Marwen-TAALLAH That could be the problem since you might be building (and hence fetching required packages) for the wrong platform, which isn't recommended since native dependencies might not still work. This is why most of the tooling for Azure Functions uses [Remote Build](https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-technologies#remote-build), which fetches (and

[2022-08-29 14:12] yonzhan commented on #23705
route to CXP team

[2022-08-29 14:23] vf-doctor commented on #17137
@thedheerendra  Unfortunately, when you turn off public access entirely you no longer are able to whitelist any public IPs.  The `az acr build` generates ACR tasks which use dedicated compute nodes to perform the container build that exist outside the virtual network the build agent is running in.  That seems to be the crux of the issue.

[2022-08-29 14:27] dracan commented on #17493
This still doesn't seem to work...

Example dockerignore...

https://github.com/dracan/danclarkeblog/blob/7fa215bb19f15358492c4d725d0aa513a42b0465/.dockerignore

And failing build...

https://github.com/dracan/danclarkeblog/runs/8072733424?check_suite_focus=true

[2022-08-29 14:40] Marwen-TAALLAH commented on #23700
I already specified that in my code and I can see them correctly in the azure portal but i'm still having the same problem:

[code]

[2022-08-29 14:40] RotateAt60MPH commented on #23693
hi @ynden

In the case of a pipeline deployment, this gets a bit problematic doesn't it?  It appears that the extension key is NOT created magically if the code deployment is via a pipeline task.

What's the best practice for deploying then?

Can I script the key creation in the BICEP script?  Problem is there's nothing in the ARM template docs under 'microsoft.web/sites' that says you can.  And t

[2022-08-29 15:25] ynden commented on #23693
Hey there @RotateAt60MPH,

You would need to:
1. Create the function app
2. Deploy a function of [SignalR binding](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-signalr-service) type. This step is important, because if you just have the function app alone, there would be no *SignalR* system key. You need to deploy that function code first.
3. Once the function is deploy

[2022-08-29 15:34] RotateAt60MPH commented on #23693
@ynden

Ummm, pipeline deploy of code is the problem.  My Function App code has lots of SignalR triggered functions, for example:

[code]

Using the standard pipeline 'AzureFunctionApp' task to deploy the code, the extension key is NOT created.  If I manually deploy from VSCode, the extension key is created.  Deploying from VSCode all the time into Production isn't an option.  :)

Any suggestions?

[2022-08-29 15:58] ynden commented on #23693
@RotateAt60MPH,

As mentioned, the only way to have a system key created is through the deployment of the code first, so it's no longer related to *azure cli* itself.
<img src="https://user-images.githubusercontent.com/33120223/187243093-338518a5-46e2-4a32-92c4-a46e7c424931.png" alt="drawing" width="600"/>

You mentioned that it was working when deploying with VSCode, but not with Azure Pipeline T

[2022-08-29 16:05] RotateAt60MPH commented on #23693
Thanks for the advice.  Apologies for going off on this tangent,

[2022-08-29 16:05] #23693 closed

[2022-08-29 16:05] PramodValavala-MSFT commented on #23700
@Marwen-TAALLAH Remote Build doesn't happen when using an External Package URL as mentioned [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-deployment-technologies#external-package-url). You will have to do a zip deploy to trigger it.

[2022-08-29 16:29] Marwen-TAALLAH opened #23706 "Azure CLI not found on path Stack"
### Related command

_No response_

### Resource Provider

azure function app

### Description of Feature or Work Requested

I'm working on an azure python app function of queue trigger type that create a VM once triggered.
To do so, I need to work with the **ManagedIdentityCredential()** in order to acquire a credential object using CLI-based authentication but I'm having this error:

**Result: F

[2022-08-29 17:06] jago2136 opened #23707 "az network manager resources delete behavior"
**Related command**

az network manager delete --force
az network manager group delete --force
az network manager connect-config delete --force
az network manager security-admin-config delete --force
az network manager security-admin-config rule-collection delete --force
az network manager security-admin-config rule-collection rule delete --force

**Describe the bug**

When deleting any of these r

[2022-08-29 23:09] rdepew commented on #17196
I've been using `az pipelines build queue` all along. I don't know if `az pipelines run` is new, or if it's always been there and I just didn't notice. +1 to @DSpirit for the tip.

Waitaminnit, it doesn't show up in the docs at https://docs.microsoft.com/en-us/cli/azure/service-page/azure%20pipelines?view=azure-cli-latest . No wonder I didn't notice it. Is it really newer than the docs, or just un

[2022-08-29 23:21] yonzhan commented on #23706
route to CXP team

[2022-08-29 23:23] yonzhan commented on #23707
@necusjz for awareness

[2022-08-30 01:16] SaurabhSharma-MSFT commented on #23584
@rgl I am able to reproduce this issue and checking internally with the products team.

[2022-08-30 01:26] yungezz commented on #23679
hi @navba-MSFT we own the `az containerapp connection` command. just ping me if any question. thanks

[2022-08-30 01:46] #22354 closed

[2022-08-30 02:01] RakeshMohanMSFT commented on #23577
@jakub-i I see that the target database's service level objective "SLO" (Elastic Pool) or edition is invalid. Checking further..

[2022-08-30 02:13] #18948 closed

[2022-08-30 02:22] PARADISSEEKR commented on #23664
@raktdas `BadRequest:Disk Controller Type is not supported in location eastus.`
Some common locations(westus, eastus, CentralUSEUAP etc) have failed when I tested them. Which regions support this feature?
Do we need to add this feature to our subscription to use it?

[2022-08-30 03:12] navba-MSFT commented on #23679
@yonzhan Since the ask is around the CLI doc improvement to help look at how to generate the doc correctly, could you please tag the right folks who can help on this ?

[2022-08-30 03:12] jiasli commented on #17951
How do you relate the user assigned identity with the application? Based on my understanding, user assigned identity is created by ARM while application is created AAD.

[2022-08-30 03:51] jiasli commented on #15585
I believe your tenant now has accessible subscriptions, so the subscription account replaces the tenant account. You have to use the subscription ID in to access the responding tenant.

I have to admin the behavior of `--allow-no-subscription` is unpredictable from CLI perspective, and we are planning to refine it in

- https://github.com/Azure/azure-cli/issues/13285
- https://github.com/Azure/azu

[2022-08-30 05:02] #23320 closed

[2022-08-30 05:43] #23707 closed

[2022-08-30 05:45] kabsingh1 opened #23711 "az login returns with error"
cli version : azure-cli-2.39.0
C:\Users\055861744>az login
A web browser has been opened at https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize. Please continue the login in the web browser. If no web browser is available or if the web browser fails to open, use device code flow with `az login --use-device-code`.
Decryption failed: [WinError -2146893813] Key not valid for use in

[2022-08-30 06:18] RakeshMohanMSFT commented on #14644
Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-30 06:18] #14644 closed

[2022-08-30 06:26] yonzhan commented on #23711
Duplicate of https://github.com/Azure/azure-cli/issues/20231

[2022-08-30 06:26] #23711 closed

[2022-08-30 06:47] SamaRamya commented on #23640
@zhoxing-ms did u check my mail?

[2022-08-30 07:02] RakeshMohanMSFT commented on #15378
Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-30 07:02] #15378 closed

[2022-08-30 07:08] navba-MSFT commented on #23618
@dabenhamMic  I have added the Service team on this issue and the PR https://github.com/Azure/azure-rest-api-specs/pull/20362  and take this forward since there are breaking changes in SDK.

@sameergMS, @dadunl Could you please look into this once you get a chance ?

[2022-08-30 08:12] zhoxing-ms commented on #23640
Sorry, since I'm super busy with the feature of sprint release. + @yanzhudd to help with this issue

[2022-08-30 08:58] maciejskorski commented on #21390
Is it recommended to use `azure-cli-ml`?

**************************************************************************************************************
* WARNING:                                                                                                   *
* Extension "azure-cli-ml" cannot be used along with extension "ml". This may result in unexpected behaviour.*
* Please remove azure-cli

[2022-08-30 09:48] Vi-2022 opened #23714 "(InvalidGatewayCertificate) The gateway certificate is invalid for 'Microsoft.Subscription'."
Dear Team,
We experience an error when using command "az account subscription rename --id xxxx-xxx --name "xxx"" to rename subscription.
Error message
InvalidGatewayCertificate) The gateway certificate is invalid for 'Microsoft.Subscription'.
Code: InvalidGatewayCertificate
Message: The gateway certificate is invalid for 'Microsoft.Subscription'.

The cli version is as following :
azure-cli

[2022-08-30 10:07] yonzhan commented on #23714
@jiasli for awareness

[2022-08-30 10:14] SamaRamya commented on #23640
@yanzhudd i will try changing it.Thank You

[2022-08-30 10:30] #23655 closed

[2022-08-30 10:49] SamaRamya commented on #23640
@yanzhudd is that the only problem in the template.Beacuse now after making changes it is showing invalid json format.
Error:Failed to parse 'modified_template.json', please check whether it is a valid JSON format

[2022-08-30 11:03] elaamrani opened #23716 "Error upgrading azure cli using Homebrew"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az upgrade`

## Expected Behavior

## Environment Summary
[code]
## Additiona

[2022-08-30 11:41] #23341 closed

[2022-08-30 11:45] #23455 closed

[2022-08-30 11:46] yrro opened #23717 "az ad sp credential list does not show the same as the Azure portal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp credential list --id ID`

**Errors:**
The output shows me the credential reset with `az ad sp credential reset --id ID`. But in the Azure portal, looking at the app registration's secrets, there is a different secret displayed with a different (shorter) expiry date.

## To Reproduce:

[2022-08-30 11:50] #23636 closed

[2022-08-30 11:55] yonzhan commented on #23716
@jiasli for awareness

[2022-08-30 11:56] yonzhan commented on #23717
@jiasli for awareness

[2022-08-30 11:57] #23417 closed

[2022-08-30 12:21] TommyJab commented on #20921
thank you very much

Thank you very much for your solution, you save me for madness.
Just for information, this command line works only in admistrator mode.

Best regards,

[2022-08-30 12:58] yrro commented on #21195
[The docs for az ad sp credential](https://docs.microsoft.com/en-us/cli/azure/ad/sp/credential?view=azure-cli-latest) say:

Which is not correct if `az ad app credential list` is managing a separate set of credentials as `az ad sp credential`.

[2022-08-30 13:50] bjornhjelle opened #23718 ""az log download" fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp log download`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp log download --subscription {} --resource-group {} -n {

[2022-08-30 13:54] bjornhjelle commented on #23718
Ran the same with --debug:

cli.knack.cli: Command arguments: ['webapp', 'log', 'download', '--subscription', 'cfcbcfc3-9091-4cf2-9676-6904d91c6036', '--resource-group', 'RG-FLIGHT-PROD', '-n', 'bagid-amadeus-norwegian-prod', '--debug']
cli.knack.cli: __init__ debug log:
Enable color in terminal.
cli.knack.cli: Event: Cli.PreExecute []
cli.knack.cli: Event: CommandParser.OnGlobalArgumentsCreate [<

[2022-08-30 14:01] justinmchase commented on #21774
I came here to file this bug also, I'm trying to tunnel to cosmosdb and it fails with this same error.

This is a legit bug at least in the sense that it shouldn't be crashing with an `Unexpected internal error` and should probably at least give feedback about what is going wrong.

[2022-08-30 14:23] Danny-de-bree opened #23719 "az synapse spark pool update"
az synapse spark pool update

Missing an parameter to set dynamic allocators and set the range of those dynamic allocators.

**Describe the solution you'd like**
Add some thing like  --dynamic-allocators {false, true} --dynamic-allocators-min-count {integer] --dynamic-allocators-max-count {integer]

Really needed in our DevOps pipelines to prevent certain update issues.

[2022-08-30 14:27] yonzhan commented on #23718
route to CXP team

[2022-08-30 14:27] yonzhan commented on #23719
route to CXP team

[2022-08-30 14:38] justinmchase opened #23720 "`az network bastion tunnel` crashes with "Unexpected internal error""
## Describe the bug
I am attempting to tunnel to Azure Cosmos MongoDB with bastion. I believe I have the subnet and NSG setup correctly and have added cosmos to the bastion subnet correctly, but when I connect to the tunnel the process crashes with an "Unexpected internal error" and the tunnel fails.

**Command Name**
`az network bastion tunnel`

**Errors:**
[code]

## To Reproduce:
Steps to repro

[2022-08-30 15:27] PramodValavala-MSFT commented on #23706
@Marwen-TAALLAH Based on the path in the error message, you seem to be running Azure Functions in a docker container and are likely using the `AzureCLICredential`. Could you double check to make sure you are using the right container image?

Also, note that `ManagedIdentityCredential` doesn't actually use CLI-based authentication, instead uses the Managed Identity Endpoint available when running o

[2022-08-30 15:47] cartond commented on #23549
@evelyn-ys do you think this should be tagged as a feature-request? What is the use case for `nameFolderName` if it's not the actual folder of the pipeline?

[2022-08-30 15:47] cwsaunders commented on #23470
Still experiencing this bug.

[2022-08-30 16:17] dvicari-fedcap commented on #23515
I just wanted to add that I was able to reproduce this issue.  The RDP connection fails with the above error when running Powershell as Admin.  The RDP connection is successful when running Powershell as a normal / non-admin session.

[2022-08-30 18:47] clurdish commented on #13655
@RakeshMohanMSFT What is the resolution on this issue? Seems like people are still experiencing this issue.

[2022-08-30 20:30] LRomano72 opened #23723 "az logicapp list - no results returned to output window"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Running the az logicapp list command returns an empty array to the output window but if you run it with the "--debug" option you see all the data returned from the request.

**Command Name**
`az logicapp list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have

[2022-08-30 21:17] lukasmakac opened #23724 "Attach ACR to AKS failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update -n {} -g {} --attach-acr {}`

## Expected Behavior

## Envir

[2022-08-30 21:56] strehan1993 commented on #19731
LGTM

[2022-08-30 23:27] Ochirkhuyag opened #23727 "Azure-cli request to update for a Subscription API"
**Resource Provider**
Microsoft.Subscription

**Description of Feature or Work Requested**
We have found an issue missing field for a response of "acceptOwnershipStatus" API on swagger. On the service side, it is there. So, we have corrected it on swagger specs and generated python SDK. The python SDK is released now. We would like AzureCLI to refer to latest changes.

**Minimum API Version Requir

[2022-08-30 23:33] CTroessaert commented on #22598
I'm facing the same issue with repro for: keyvault, data factory, Azure Machine Learning, Container registries and Databricks. Any feedback or ETA on resolution ?

[2022-08-31 00:22] yonzhan commented on #23720
route to CXP team

[2022-08-31 00:35] yonzhan commented on #23723
route to CXP team

[2022-08-31 00:36] yonzhan commented on #23724
route to CXP team

[2022-08-31 00:42] yonzhan commented on #23727
@zhoxing-ms for awareness

[2022-08-31 02:34] #19731 closed

[2022-08-31 02:39] RakeshMohanMSFT commented on #23724
@lukasmakac Can you please upgrade to the latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-macos)? and retry

[2022-08-31 02:42] RakeshMohanMSFT commented on #23723
@LRomano72 We are unable to reproduce this issue at our end. Can you check your permissions to list the resources? if you do then please share the --debug trace with us for further troubleshooting.

[2022-08-31 02:46] jiasli commented on #23470
This is because this line is not updated in Azure CLI 2.39.0:

https://github.com/Azure/azure-cli/blob/815fd96ccd3aa181c13ab2999fbe4b40e6b6fe7e/src/azure-cli-telemetry/azure/cli/telemetry/__init__.py#L13

It was changed by #23530 to

https://github.com/Azure/azure-cli/blob/5c12e9946f9e449763ccc9a12023298d4ba9c94e/src/azure-cli-telemetry/azure/cli/telemetry/__init__.py#L13

Next version 2.40.0 will

[2022-08-31 02:49] RakeshMohanMSFT commented on #20862
@ShafeerAli Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and retry.

[2022-08-31 02:49] #20862 closed

[2022-08-31 02:51] RakeshMohanMSFT commented on #21415
It looks like a transient network issue blocking connection to login.microsoftonline.com. Please retry the operation.

Also upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-31 02:51] #21415 closed

[2022-08-31 03:00] kairu-ms commented on #22598
We created a PR to fix it. And it will be released early of October.

[2022-08-31 03:03] yanzhudd commented on #23640
Hello @SamaRamya, I cannot reproduce this problem, could you please send us your modified_template.json file in email? My email address is 'zhuyan@microsoft.com'. Thanks

[2022-08-31 03:03] RakeshMohanMSFT commented on #22246
@jaknigh This is working. Please upgrade to the latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) and retry

`az dls fs test -n issue22246dls --path 'issue22246folder/piuzzle.png"`
Command group 'dls' is in preview and under development. Reference and support levels: https://aka.ms/CLI_refstatus
false

[2022-08-31 03:22] devon-whil opened #23730 "generate-sas expiry example doesn't work on official docker image"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
The following expiry example from [here](https://docs.microsoft.com/en-us/cli/azure/storage/container?view=azure-cli-latest#az-storage-container-generate-sas-examples) does not work on the official az cli docker image.

**Command Name**
This issue relates to the `az storage container generate-sas` command, but

[2022-08-31 03:27] wonner commented on #23719
Hi @Danny-de-bree, thanks for your feedback. @kevinzz6 is working on the change.

[2022-08-31 03:32] RakeshMohanMSFT commented on #22555
@terry-citrix Can you please try this command?
`az vmss diagnostics set --protected-settings protectedsettings.json -g Issue22555 --settings "{\"commandToExecute\": \"echo testing\"}" --vmss-name Issue22555vmss`

[2022-08-31 03:35] yonzhan commented on #23730
@evelyn-ys for awareness

[2022-08-31 03:37] evelyn-ys commented on #23549
Need datafactory service to investigate

[2022-08-31 03:45] RakeshMohanMSFT commented on #23133
@diberry Except the scope all other parameter are single values. Only scope is comma separated array. Therefore you will have to make multiple calls to this commands to create multiple roles.

[2022-08-31 03:47] RakeshMohanMSFT commented on #17561
Please upgrade to the latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and retry and also ensure you have list permission for the applications.

[2022-08-31 03:47] #17561 closed

[2022-08-31 03:48] evelyn-ys commented on #23730
This is actually not CLI issue. You can use `man date` to see the usage for `date` command in bash.
`date -u -d "30 minutes" '+%Y-%m-%dT%H:%MZ'` does work:
![image](https://user-images.githubusercontent.com/10227683/187588433-572f9f0a-c808-4fff-9b95-6f3c93beec4c.png)

[2022-08-31 04:01] #23133 closed

[2022-08-31 04:36] pavanawd opened #23731 "az login command failure"
Connectivity problem detected.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr login --name {}`

## Expected Behavi

[2022-08-31 05:15] bebound commented on #23731
Duplicate of https://github.com/Azure/azure-cli/issues/21514

[2022-08-31 05:15] #23731 closed

[2022-08-31 06:02] jiasli commented on #23495
**Enabling token encryption on Linux** is a truly complex topic. We previously discussed with MSLA owner @rayluo heavily on this topic. The packaging on Linux is very challenging. In short:

1. Encryption on Linux is done via `PyGObject` which requires GUI.
2. As our build pipeline uses docker containers without GUI, installing `PyGObject` itself is complex in containers without GUI.
3. Even if we

[2022-08-31 07:22] RakeshMohanMSFT commented on #23094
Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and retry.

[2022-08-31 07:28] rayluo commented on #23495
The encryption is provided by MSAL EXtensions.

I am not entirely sure about that one. As mentioned in the Q&A at the bottom of [this MSAL EX wiki page](https://github.com/AzureAD/microsoft-authentication-extensions-for-python/wiki/Encryption-on-Linux#dependency), we have been able to get rid of the dependency of GTK, although we currently still install libcairo which is a graphic library. Bottom

[2022-08-31 07:48] rpbostock commented on #22949
Was there a reason that the az upload timeout was removed a few months back. This has reintroduced issues that had otherwise been resolved on low bandwidth connections.

[2022-08-31 07:53] bebound commented on #23730
Official image uses `alpine` as base image. The `date` command in `alpine` does not support `-d` flag (https://github.com/docker-library/official-images/issues/771).
Installing coreutils date to make it work again: `apk add --update coreutils`.

@jiasli Should we fix this in docker image?

https://github.com/Azure/azure-cli/blob/ddd64676165eba9c8ea22fac1270711b8ca9da09/Dockerfile#L8

[2022-08-31 08:06] yungezz commented on #23679
the item is tracked by feature in docs team ADO, close the issue for now.

[2022-08-31 08:06] #23679 closed

[2022-08-31 08:50] #23169 closed

[2022-08-31 09:10] shaikmoeed opened #23734 "How to update security patches in azure container registry automatically?"
**Scenario:**

1. There is an azure container registry(acr) with many repositories (around 20)
2. Each repository has different tags like image:dev0.1, dev0.2, prod0.1, prod0.2
3. There are more than 100 images which include all available tags within each repository

I know about the `acr` task, which can be used to update an image automatically when we update its base image.

In my scenario, I ne

[2022-08-31 09:27] #23653 closed

[2022-08-31 09:53] yonzhan commented on #23734
route to CXP team

[2022-08-31 11:23] matsunordinal opened #23735 "Unable to stop the AKS nodepool using the CLI."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks nodepool stop`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks nodepool stop --nodepool-name {} --resource-group {} --clust

[2022-08-31 11:26] lukasmakac commented on #23724
Sure, upgrade worked, thanks.

Just to specify - I experienced this on MacOS and `az upgrade` failed unless I installed Xcode command line tools via `xcode-select --install`.

So to summarize what worked for me:

[code]

[2022-08-31 11:26] #23724 closed

[2022-08-31 12:03] yonzhan commented on #23735
route to CXP team

[2022-08-31 12:56] necusjz commented on #23389
Let's remove them in the coming breaking change window.

[2022-08-31 12:57] necusjz commented on #23407
Cannot deliver it due to Swagger in not ready.

[2022-08-31 13:01] SAIKUMAR-MANDEPUDI commented on #23705
Hello Team. Please let me know if we have any update on this.

[2022-08-31 13:32] WawinyEdwin opened #23736 "Error on executing app service plans"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az appservice plan create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az appservice plan create --name {} --resource-group {} --sku

[2022-08-31 13:58] yonzhan commented on #23736
route to CXP team

[2022-08-31 14:05] WawinyEdwin opened #23737 "error on listing runtimes on azure cli on ubuntu 20.04"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list-runtimes`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list-runtimes`

## Expected Behavior

## Environment S

[2022-08-31 14:08] PramodValavala-MSFT commented on #23737
@WawinyEdwin Looks like you are using a very old version of Azure CLI. Try upgrading to the latest and try again.

[2022-08-31 14:09] PramodValavala-MSFT commented on #23736
@WawinyEdwin Looks like you are using a very old version of Azure CLI. Try upgrading to the latest and try again.

[2022-08-31 14:13] PramodValavala-MSFT commented on #23735
@matsunordinal The latest version of the `aks-preview` extension is `0.5.95`. Could you try upgrading by running `az upgrade` (or `az extension update --name aks-preview`) to the latest and see if you are still seeing this issue?

[2022-08-31 15:07] nyetwurk commented on #23094
I would prefer the package is renamed entirely so it does not overlap. This one installs several dozen dependencies and is entirely different from the MS azure-cli package.

[2022-08-31 15:09] nyetwurk commented on #23094
[code]

[2022-08-31 16:13] resqrobert opened #23738 "Failed to Download Logs for Azure App Service"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
My attempts to download logs using `az web app log show` are consistently failing.  The is a new error.  I performed `az upgrade` and continue to have the issue.

**Command Name**
`az webapp log download`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been

[2022-08-31 16:28] yrro commented on #23717
I've done a bit more experimentation. Created a brand new app registration and reset its secret with `az ad app credential reset`. After a few minutes (and a web page refresh) the new credential appears in the Azure portal.

So I think it's simply that the docs are wrong: `az ad sp ...` commands are not equivalent to `az ad app ...` commands; they operate on the enterprise application, as opposed

[2022-08-31 17:00] AgSync-Aaron commented on #6638
We just ran into this issue when using the az cli in a ci/cd pipeline and were perplexed on what caused our app to fail, then we discovered this bug. This really should really be tagged as a bug, not a feature request. It appears that the [azure powershell module](https://docs.microsoft.com/en-us/powershell/module/az.websites/new-azwebappslot?view=azps-8.2.0) does copy the configuration.

Please m

[2022-08-31 17:16] panchagnula commented on #6638
Thanks for the comment - this is a priority on the API end to offer a consistent approach, so that there is no need for each client to maintain custom code & offer different experiences. Honestly, there are certain configurations on app service that shouldn't be copied - the plan to to make the API the single source of truth, so clients don't land into issues copying secure info that is not suppos

[2022-08-31 17:47] daveneeley commented on #17951
A user assigned identity is created within a resource group but you can interact with it like any other service principal in AAD.

We have downgraded our az cli builds to use 2.36 due to many issues in our scripts related to `az ad` and sub-commands. We have not had time to review the changes.

The specific command is

`az ad app credential reset --id "${appId}" --append --years 1  --credential-de

[2022-08-31 18:40] harneetvirk opened #23740 "az cli logs sensitive info in --DEBUG mode"
**Related command**
 az cli logs sensitive info in --DEBUG mode

**Is your feature request related to a problem? Please describe.**

Run "az ml data create --debug --file some_dataset.yaml" with your default workspace and resourcegroup.
Check the debug output. It contains something like this:

azure.core.pipeline.policies._universal: {
"secretsType": "AccountKey",
"key": "2ww2c/dCC42vx************

[2022-08-31 18:44] arif9799 opened #23741 "Error loading command module 'rdbms': cannot import name 'case_insensitive_dict' from 'azure.core.utils'"
Hi,
I was working on components in azure ml, building them in azure notebooks section and deploying those components from the Azure CLI on the terminal of directory containing code for component in Azure notebooks, to be used in frontend UI on designer tab.
I was successful in creating multiple of those until I ran into error shown below in the snapshot.
It lists out three errors at one time. And

[2022-08-31 18:55] AgSync-Aaron commented on #6638
Thank you @panchagnula for the fast reply and clarification! I appreciate the work you all do.

[2022-08-31 19:41] roy-work opened #23742 "How to list storage blobs is undiscoverable"
**Related command**

[code]

**Describe the bug**
The subgroup `az storage blob directory` is missing from `--help`:

[code]

It does work, too:
[code]

**To Reproduce**
Run the command.

**Expected behavior**
Subgroups are fully documented.

**Environment summary**
macOS

**Additional context**

[2022-08-31 19:43] roy-work commented on #23742
Oh, or is it this roundaboutness:
[code]

… why would I ever look for a storage blob command outside of `az storage blob`…

(Why this isn't just as simple as `az storage blob list` is beyond me.)

[2022-08-31 19:54] roy-work commented on #23742
Additionally, this is ridiculous:
[code]

It'd be nice to run the simplest of operations on Azure without stumbling into umpteen different bugs.

[2022-08-31 20:29] ranjeetkpGit opened #23743 "Can we access resources from multiple subscriptions using azure cli?"
Hi,
I am running following azure cli command on a service connection (Azure Devops).
az containerapp up --name 'subscription1container'
                                    --image 'subscription2image'

It works fine when all the resources belong to same subscription. (Default behavior)
Our requirement is to access image from different subscription. Is there any way we can write cross/mix subscript

[2022-08-31 21:04] ynden commented on #23743
Hey @ranjeetkpGit,

You can use the `--subscription NAME_OR_ID` global parameter. In your case, it would something like:
[code]

[2022-08-31 21:17] PrestonGiorgianni opened #23744 "az datafactory pipeline update modifying activities JSON"
**Related command**

az datafactory pipeline update

**Describe the bug**

This snippet of my config is being changed when updating a pipeline or creating a new one.
[code]
--->
[code]

then when I log into the data factory, it has no sink block at all on the copy command.

**To Reproduce**

- Run `az datafactory pipeline update` with an activities block for a copy with AzurePostgreSQLSink
- Look

[2022-08-31 22:16] cybersmithio commented on #16317
Definitely an issue with git bash versus powershell.  I was in VS Code on Windows and tried the command below:
`az ad sp create-for-rbac --role="Contributor" --scopes="/subscriptions/xxxxxxx"`

and received the error:
`Error occurred in request., InvalidSchema: No connection adapters were found for`...

When I put the exact same command in Powershell, it worked fine.

I tried the workaround of usi

[2022-08-31 22:53] yonzhan commented on #23737
route to CXP team

[2022-08-31 22:55] yonzhan commented on #23738
route to CXP team

[2022-08-31 22:58] MSFT-BrianEddy opened #23745 "[Compute] Update az sig image-version for targetExtendedLocations"
**Resource Provider**

Compute

**Description of Feature or Work Requested**

Add support for edge zones to sig image-version. This work is similar to the –-target-region-encryption and –-target-regions parameters currently used, we need the following supported optional parameters:

**--target-edge-zone-encryption**

Space-separated list of customer managed keys for encrypting the OS and data disk

[2022-08-31 23:02] yonzhan commented on #23740
@jiasli for awareness

[2022-08-31 23:03] yonzhan commented on #23741
route to CXP team

[2022-08-31 23:18] SaurabhSharma-MSFT commented on #23738
@resqrobert I am unable to reproduce this error.  Can you please try using downloading any other web app ?

[2022-08-31 23:20] yonzhan commented on #23742
@evelyn-ys for awareness

[2022-08-31 23:28] SaurabhSharma-MSFT commented on #23705
@SAIKUMAR-MANDEPUDI I am able to reproduce this and currently investigating this issue.

[2022-08-31 23:32] yonzhan commented on #23743
route to CXP team

[2022-08-31 23:36] yonzhan commented on #23744
route to CXP team

[2022-09-01 00:00] resqrobert commented on #23738
Okay.. that seemed to work.  So it's just something about the specific app service?  Note that the failing app service is a Linux environment whereas the test that passed was for a Windows environment.  Running another test now on another Linux-based app service.

[2022-09-01 00:10] yonzhan commented on #23745
@zhoxing-ms for awareness

[2022-09-01 00:15] resqrobert commented on #23738
Indeed it is something wrong specifically with our `rq-wtp` app.  I've tested a few others and don't have this problem.

[2022-09-01 03:02] jiasli commented on #23740
I am not aware of `az data`. Are you developing your own extension?

---

Also, what version of Azure CLI you are using? The HTTP log should now be logged by `cli.azure.cli.core.sdk.policies`, instead of `azure.core.pipeline.policies._universal`.

---

As for sensitive information shown in debug log, I think this is a common issue.

`az storage` commands once face the same issue. https://github.co

[2022-09-01 05:18] navba-MSFT commented on #23562
@Red1971 Thanks for reporting this issue. The above PR has been created to track this. Pasting the reply from the CLI Repo team as-is:

Even if we need fix it, we should fix it in cli core, but not in specific modules as it's a shared design for all modules (i.e. if user provides --ids, like /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/synapse-cli000001/providers/Microsoft.Sy

[2022-09-01 05:18] #23562 closed

[2022-09-01 05:21] navba-MSFT commented on #23595
@JereO-Nc The action is now pending on you to test the above workaround and get back to us. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-09-01 05:21] #23595 closed

[2022-09-01 05:58] navba-MSFT commented on #23634
@mckenzm Please provide an update on the below and reopen this issue. We would be happy to help.

If the above action plans doesn't help, Could you please run the same command with --debug output and share it here ?

[2022-09-01 06:19] MonivaPython opened #23750 "login to azure through cli as in the tutorial does not work"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --runtime {} --sku {} --logs`

## Expected Behavior

## Enviro

[2022-09-01 06:47] SamaRamya commented on #23640
@yanzhudd,i have sent u the mail. Please check.

[2022-09-01 06:53] yanzhudd commented on #23640
Okay, received. We will check and get back to you.

[2022-09-01 07:01] SamaRamya commented on #23640
sure

[2022-09-01 07:39] #23152 closed

[2022-09-01 07:39] Mu4all opened #23752 "The --display-name option does not match the complete name"
You have two app registrations called 'AppReg01' and 'AppReg011'

If you do `az ad list --display-name "AppReg01"` you will get both of them. This is either a bug, or undocumented behaviour.
As a workaround, the `--filter "displayname eq 'AppReg01'"` option works as expected.

[2022-09-01 07:47] RakeshMohanMSFT commented on #23752
@Mu4all Thank you for reaching out, we are looking into it.

[2022-09-01 07:47] JereO-Nc commented on #23595
@navba-MSFT  pardon the late response. i didnt get notified with these updates, will test the script and get back to you.

[2022-09-01 07:50] RakeshMohanMSFT commented on #23750
@MonivaPython `az login` is a prerequisite that you must run before any commands, to set the context to your subscription and ensure you have access to those resources.

More information here https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli

[2022-09-01 08:12] yanzhudd commented on #23640
Hello @SamaRamya, I have sent you a mail attached a file. Please check.

[2022-09-01 08:24] TomMalow opened #23753 "az ad app create uses reply url validation on app url identity"
**Related command**
`az ad app create`

**Describe the bug**
We have previously been able to create app registration through `az ad app create` with app identity url with a prefixes "app://" and "spn://"

An example of the call:
`az ad app create --display-name "My App Registration" --identifier-uris "app://domain.com/environment/servicename" --enable-access-token-issuance true`

However, the same

[2022-09-01 08:40] SamaRamya commented on #23640
ok

[2022-09-01 08:52] SamaRamya commented on #23640
@yonzhan I exactly dint understand what changes u have made to that file.Can u please let me know in detail?

[2022-09-01 09:21] SamaRamya commented on #23640
@yonzhan Got it! U just added the spaces right?

[2022-09-01 09:39] yonzhan commented on #23750
route to CXP team

[2022-09-01 09:40] SamaRamya commented on #23640
@yonzhan Thank u so much yon.That worked actually!Now im facing another error:ERROR: Missing input parameters: ls_az_adls_cdp_connectionString, ls_az_sql_db_cdp_connectionString Can u please suggest something on this?

[2022-09-01 09:45] yonzhan commented on #23753
@jiasli for awareness

[2022-09-01 10:13] yonzhan commented on #23752
@jiasli for awareness

[2022-09-01 10:40] HatakuSec opened #23755 "az resource show (Microsoft.Cache/Redis) bad request - "You must include the api-version parameter in your URI query segment""
**Related command**
` az resource show --ids /subscriptions/<subscription/resourceGroups/<resource group>/providers/Microsoft.Cache/Redis/<redis name>` - **Fails**

` az resource show --ids /subscriptions/<subscription/resourceGroups/<resource group>/providers/Microsoft.Cache/Redis/<redis name> --api-version 2022-06-01` - **Fails**

` az resource show --ids /subscriptions/<subscription/resourceGro

[2022-09-01 10:53] SamaRamya commented on #23640
@yanzhudd please ignore the above error

[2022-09-01 10:57] SamaRamya commented on #23640
the value for my parameter is like abc=123; def=456;and so on....The problem here is it is taking abc as a parameter and throwing the error like it is unrecognized parameter. Can u suggest me on this?
**ERROR: unrecognized template parameter 'Integrated Security'. Allowed parameters: factoryName, ls_az_adls_cdp_connectionString, ls_az_kv_cdp_properties_typeProperties_baseUrl, ls_az_sql_db_cdp_conn

[2022-09-01 11:28] yonzhan commented on #23755
@zhoxing-ms for awareness

[2022-09-01 12:32] matsunordinal commented on #23735
Upgrading the client worked like a charm. Thanks for getting back to me!

[2022-09-01 12:32] #23735 closed

[2022-09-01 14:23] RakeshMohanMSFT commented on #23752
@Mu4all Its a "startswith" search, therefore the result is expected. We will update the document to be more clear.

[2022-09-01 14:31] eugene-jo commented on #20823
Any update on this?

[2022-09-01 14:53] stefkiourk opened #23756 "az group lock delete, parameters not optional"
Group and lock name are listed as optional, although they are required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 16cfbc47-16ab-9a21-d994-f3e745cfcd87
* Version Independent ID: b81f4ccc-34ec-775c-e6ec-a4cd3db40777
* Content: [az group lock](https://docs.microsoft.com/en-us/cli/azure/group/lock?view=azure-cli-lates

[2022-09-01 15:06] LRomano72 commented on #23723
Yes I have permissions to list and see the resources.
These command returns information:
`az logic workflow list --subscription $SubscriptionName --resource-group $ResourceGroupName `

But this cmd:
az logicapp list --subscription $SubscriptionName --resource-group $ResourceGroupName

doesn't and returns empty Array e.g. [], here is the **--debug** output which shows that information is returned i

[2022-09-01 16:38] arif9799 commented on #23741
Hi
Thanks for the response
I was able to resolve the issue by uninstalling the azure libraries and then installing it back again, then it worked like a charm

just run these few commands:

**_python -m pip uninstall azure-common
python -m pip uninstall azure-storage
python -m pip uninstall azure-nspkg
python -m pip uninstall azure-storage-blob_**

and then reinstall package:

**_python -m pip inst

[2022-09-01 16:38] #23741 closed

[2022-09-01 17:46] brazenchain opened #23757 "Fails to create network asg"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network asg create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network asg create --resource-group {} --name {}`

## Expected

[2022-09-01 18:12] SaurabhSharma-MSFT commented on #23738
@resqrobert As mentioned in the document this command will not work for a linux based web apps and that's why you may be getting the download error.

[2022-09-01 18:36] Mu4all commented on #23752
Thanks for the research guys!

[2022-09-01 18:37] #23752 closed

[2022-09-01 19:08] jashwanth opened #23758 "Support for EnableUDPLogOptimization parameter on Azure Firewall"
Resource Provider
Network (NRP)

Description of Feature or Work Requested
Need to add a new parameter named EnableUDPLogOptimization to the base command of creating the Firewall.
az network firewall create -g MyResourceGroup -n MyFirewall --enable-udp-log-optimization true

Only parameter needed is:

enable-udp-log-optimization
Default value is false

No NRP/Swagger change needed

[2022-09-01 20:15] silverscout opened #23759 "Issue with az Devops Seuciryt Permission Update on the "Project" Namespace"
Can you please provide an example on how to update the Project Namespace.  I run the following and it says, or atleast, I believe it is completing fine.  However, when I go to the permissions page, nothing is actually set.

az devops security permission update `
--id $namespaceId #namespaceID of the Project
--subject $subject  #descriptor of the group starting in vssgp
--Token $tkn
--Allow-bit $bi

[2022-09-01 21:28] silverscout opened #23760 "Create inherited processes via CLI"
was wondering if there is a set of arguments that allow for Creation of inherited processes?  I have searched everywhere.
If not, I am having a hard time invoking the webservice command do it.  I can do it via normal Rest API.  However, I would like to run the whole script using Azure CLI and not jump back and forth.

Here is the script I am running.   Also, why does it have to be a file..  why ca

[2022-09-01 22:41] SaurabhSharma-MSFT commented on #23759
@silverscout We are looking into it and get back to you for any additional information.

[2022-09-01 22:42] SaurabhSharma-MSFT commented on #23760
@silverscout We are looking into it and get back to you for any additional information.

[2022-09-01 23:33] yonzhan commented on #23756
@zhoxing-ms for awareness

[2022-09-01 23:41] yonzhan commented on #23757
@necusjz for awareness

[2022-09-01 23:54] yonzhan commented on #23758
@necusjz for awareness

[2022-09-01 23:54] montanoeuse opened #23762 "Failed to establish a new connection (user-defined metadata / tags on blob not getting displayed)"
**Related command**
a) az storage fs file metadata show -p {path} -f {filesystem} --account-name {account-name}  --auth-mode login
b) az storage blob tag list -n {path} --container-name {filesystem/container_name} --account-name {account-name} --auth-mode login
c)  az storage blob filter --tag-filter "@container='{container_name}' and "{key}"='{value}'"  --query "[].name" --output tsv --only-show-

[2022-09-01 23:55] yonzhan commented on #23759
route to CXP team

[2022-09-01 23:55] yonzhan commented on #23760
route to CXP team

[2022-09-02 00:01] yonzhan commented on #23762
@evelyn-ys for awareness

[2022-09-02 00:49] necusjz commented on #23757
Duplicated as https://github.com/Azure/azure-cli/issues/23604

[2022-09-02 00:49] #23757 closed

[2022-09-02 02:02] RakeshMohanMSFT commented on #23717
@yrro Thank you for reaching out, we will look into it.

[2022-09-02 02:18] evelyn-ys commented on #23069
will start upgrade SDK in Jan 2023 as discussed in email thread

[2022-09-02 02:20] evelyn-ys commented on #22773
completed in https://github.com/Azure/azure-cli/pull/23590

[2022-09-02 02:20] #22773 closed

[2022-09-02 02:54] yanzhudd commented on #23640
Could you please help to provide your modified command and param in mail?

[2022-09-02 03:04] navba-MSFT commented on #23734
@shaikmoeed Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-02 03:20] #23056 closed

[2022-09-02 03:33] evelyn-ys commented on #23762
`az storage blob tag list` command works for common storage account not ADLS Gen2 account.
But `az storage fs file metadata show` should work for ADLS Gen2 account:
![image](https://user-images.githubusercontent.com/10227683/188053536-30d7ca54-948c-4ee5-b748-eb82df579cc0.png)

Can you confirm that the filesystem and path exist?

[2022-09-02 03:45] #21328 closed

[2022-09-02 04:45] v-anvashist commented on #19844
@jaisea We have checked and donot have access to update the doc.

We have dropped email to azure CLI doc team and waiting for their response.

[2022-09-02 04:46] v-soujanya commented on #23626
@celluj34 we are following up with API team on this issue as we get the response from API. Once we receive the response from API team, we will share the updates.

[2022-09-02 04:58] celluj34 commented on #23626
Great, thank you! Hopefully good news soon 🤞

[2022-09-02 05:16] v-anvashist commented on #23156
@roge530 The below document is specifically for the commands supported by az boards with parameters information and same document format we are following in repos and pipelines also.

https://docs.microsoft.com/en-us/cli/azure/boards/work-item?view=azure-cli-latest#az-boards-work-item-create

[2022-09-02 05:20] v-anvashist commented on #23658
@duanqn Do we have any API support for the same as we are consuming API in azure CLI service?

The document shows only those commands which are currently supported by the API.

[2022-09-02 05:44] navba-MSFT commented on #23718
@bjornhjelle Thanks for reaching out to us and sharing the debug output. I see that the Service has successfully returned the 200 status code.

Did you try to run the same command from the [Azure Cloud Shell ](https://docs.microsoft.com/en-us/cli/azure/webapp/log?view=azure-cli-latest#code-try-4)and check if you encounter the same issue ?

Awaiting your reply.

[2022-09-02 06:16] shrauta-ms commented on #22631
Please use this https://github.com/Azure/azure-rest-api-specs/blob/main/specification/recoveryservicessiterecovery/resource-manager/Microsoft.RecoveryServices/stable/2022-08-01/service.json Swagger Link.

[2022-09-02 06:20] RakeshMohanMSFT commented on #23723
@LRomano72 Can you try the command one more time and let me know if its still happening? and check once if using [Resource Graph](https://docs.microsoft.com/en-us/cli/azure/graph?view=azure-cli-latest) you are getting the results.

[2022-09-02 07:23] #22961 closed

[2022-09-02 07:27] lkurzyniec-bcg opened #23767 "Resource Lock - impossible to work with"
**Command Name**
`az resource lock list`

**Errors:**
[code]

## Expected Behavior
Be able to list resource locks

## Environment Summary
[code]
## Additional Context

Some tries:
[code]

[code]

[code]

[code]

[2022-09-02 07:39] toki0709 opened #23768 "can login with with az login even though I have active subscription"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-09-02 07:39] zhoxing-ms commented on #23756
@stefkiourk In fact, the `--name` parameter is not a required parameter, because you can choose to use `--ids` or the combination of `--name` and `--resource-group` to specify the resources

[2022-09-02 08:02] zhoxing-ms commented on #23755
az resource show --ids /subscriptions/<subscription/resourceGroups/<resource group>/providers/Microsoft.Cache/Redis/<redis name> --api-version 2022-06-01 - Fails

Sorry, I can't reproduce this issue. Could you send me the debug log *(add `--debug` parameter)* by email? My email address is Zhou.Xing@microsoft.com, thanks~

[2022-09-02 08:02] #23479 closed

[2022-09-02 08:02] #23270 closed

[2022-09-02 08:25] Vi-2022 commented on #23714
May I know if there is any update ? thanks

[2022-09-02 08:25] Vi-2022 commented on #23714
@jiasli , May I know if there is any update ? thanks

[2022-09-02 08:37] sherlynnw-fac commented on #23466
Apologies for the delay. I just retested this today to get the logs but seems to be working fine now. Closing this issue. Thank you.

[2022-09-02 08:37] #23466 closed

[2022-09-02 08:37] yonzhan commented on #23767
@zhoxing-ms for awareness

[2022-09-02 08:39] yonzhan commented on #23768
@jiasli for awareness

[2022-09-02 08:42] #22675 closed

[2022-09-02 08:47] zhoxing-ms commented on #23714
@Ochirkhuyag Could you please take a look at this issue?

[2022-09-02 09:00] SamaRamya commented on #23640
sure i will

[2022-09-02 09:01] zhoxing-ms commented on #23767
@lkurzyniec-bcg Please note that the `--resource` parameter is either passed in a complete resource id **(not the resource group id)**, such as

Or the resource name is passed in and used together with the `--resource-group` and `--resource-type` parameters, such as:

[2022-09-02 09:22] ferronsw opened #23769 "az postgres flexible-server execute ssl"
I'm running the `az postgres flexible-server execute` command, but it won't connect:

`ERROR: Unable to connect to flexible server: connection to server at "<name>.postgres.database.azure.com" (10.194.1.4), port 5432 failed: FATAL:  password authentication failed for user "admin_sutin"
connection to server at "<name>.postgres.database.azure.com" (10.194.1.4), port 5432 failed: FATAL:  no pg_hba.co

[2022-09-02 09:25] #15855 closed

[2022-09-02 09:26] #20121 closed

[2022-09-02 09:26] #17341 closed

[2022-09-02 09:27] #18021 closed

[2022-09-02 09:27] #20200 closed

[2022-09-02 09:58] HatakuSec commented on #23755
Strangely, this is now working fine after trying this morning. I guess we can close this for now

[2022-09-02 09:58] #23755 closed

[2022-09-02 11:05] Capriolo88 commented on #10039
I can confirm that the issue is still present.
I executed the command on a running container in West Europe, but the cli still see the --exec-command value as a single command without considering it as command and arguments

az container exec --container-name <container_name> --name <name> --resource-group <rg> --exec-command "ls -la"

[2022-09-02 11:38] #22270 closed

[2022-09-02 11:48] yonzhan commented on #23769
route to CXP team

[2022-09-02 12:21] RakeshMohanMSFT commented on #23768
@toki0709 Please check if this action plan helps https://docs.microsoft.com/en-us/answers/questions/738782/no-subscription-found-for-function-during-azure-cl.html

[2022-09-02 12:42] ynden commented on #23767
@lkurzyniec-bcg,
Can you can try with `az group lock delete --name lockName -g MyResourceGroup` and confirm?
More information on resource group locks [here](https://docs.microsoft.com/en-us/cli/azure/group/lock?view=azure-cli-latest).

[2022-09-02 13:11] duanqn commented on #23658
@v-anvashist Triggering pipelines from web UI allows parameter keys/values with whitespaces.

[2022-09-02 13:18] v-anvashist commented on #23658
@duanqn Thanks for the update!! But we need API support on az pipelines run command to implement the same.

I have checked but I am not able to find any API support for this feature till now. I will redirect the request to API team for the API support.

[2022-09-02 14:16] silverscout commented on #23759
@SaurabhSharma-MSFT  and @yonzhan
I found the answer in another issue.
https://github.com/Azure/azure-cli/issues/23537

btw.. should find a way to make tokens easier.   using a different token for different namespaces is painful to script for.  haha.

[2022-09-02 14:23] ynden commented on #23767
@lkurzyniec-bcg,
I see you tried with `az resource lock`, not `az group lock`. Make sure you try with the suggested command above, and confirm.

[2022-09-02 14:27] tshaiman opened #23770 "az role assignment: ERROR: A hash conflict was encountered for the role Assignment ID. Please use a new Guid."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
when running az role assignment create , a user may hit hash conflict which he cannot control , only re-run the command.
this is a source of frustration and issue that exists for many years so far.
since there is no API to allow users to pass a GUID or any other mean of uniqueness I believe this is a bug , not

[2022-09-02 15:27] TalissaDreossi opened #23771 "Azure - problem connecting aks to acr"
## Bug description
I want to deploy some pods on my aks, which will pull image from my acr.
I had already attached my acr to my aks but inside aks I cannot pull the images

**Command Name**
`az aks check-acr`

**Errors:**
[code]

[2022-09-02 15:37] ANithish opened #23772 "az datafactory trigger stop/start CLI command not working throws ERROR: cannot import name 'ARMChallengeAuthenticationPolicy' from 'azure.mgmt.core.policies"
When stopping/starting ADF triggers facing below error. Working fine earlier but facing issues from yesterday .
Command using:- az datafactory trigger stop --factory-name "adfname" --resource-group "resourcegroupname" --name "TriggerName"
Error:-
WARNING: The command requires the extension datafactory. It will be installed first.
ERROR: The command failed with an unexpected error. Here is the trac

[2022-09-02 16:20] jidicula opened #23773 "Add detail to docs about how `--only-show-errors` flag disables `az login --use-device-code` functionality"
`az login` uses stderr for its prompts/info output. When using the `--use-device-code` flag together with the `--only-show-errors` flag, the prompt for user action (navigate to the auth URL and enter the code) is silenced with no stdout output, so the tool hangs quietly.

Or perhaps instead of documenting around this behaviour, it could be changed so the prompt for user action isn't written to std

[2022-09-02 16:25] benc-uk commented on #7387
I don't think there's anyway out of this now, beyond a full rewrite in Go, Rust or Dotnet etc, something that can compile to a single binary

Each week that passes the CLL gets larger and larger, and the chances of a rewrite smaller and smaller

Where does it stop? When the CLI takes up 2GB? 5GB? 50GB?

[2022-09-02 16:59] takamatsujun opened #23774 ""az login" failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --use-device-code`

## Expected Behavior

## Environment Summary
[code

[2022-09-02 17:20] resqrobert commented on #23738
Okay, thank you for the info @SaurabhSharma-MSFT. I was unaware of this and have not run into trouble until now.  How then does Microsoft recommend I access my server logs for Linux based web apps?

[2022-09-02 17:26] toki0709 opened #23775 "after executing "az cloud set --name AzureGermanCloud", cannot login with az login command."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-09-02 18:21] Ochirkhuyag commented on #23714
@zhoxing-ms The rename operation is supported in the api version 2021-10-01

[2022-09-02 18:31] matkosoric commented on #22881
At the time, we were using 2.37.0  and updated az cli in the meantime. I can not roll it back to experiment. If it behaves as demonstrated, that is definitely much better. Is it also the case when default value is not provided?

[2022-09-02 18:33] mattmazzola opened #23776 "UnicodeEncodeError: 'charmap' codec can't encode characters in position 192-231: character maps to <undefined>"
## Describe the bug

When attempting to build a Docker image using `az acr build` the build fails in the ADO pipeline.
However, the same `az acr build` works locally.

Perhaps this issue could be transferred to ADO if appropriate.

**Command Name**
`az acr build <removed>`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they m

[2022-09-02 20:33] LRomano72 commented on #23723
It's breaking on not liking the Subscription name that has a space in it:
PS C:\repos\KTItems> az logicapp list -subscription $SubscriptionName --resource-group $ResourceGroupName
unrecognized arguments: -subscription 'Enterprise Dev/Test'
I tried with quotes of all kinds:
[code]
[code]

[code]
All failed.

Didn't know about Az Graph but I need you to create the sample and I'm not sure what to put

[2022-09-02 21:08] DevonK3 commented on #20995
same issue here.

[code]

[2022-09-02 23:12] SaurabhSharma-MSFT commented on #23759
@silverscout Good to know that you are unblocked. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-09-02 23:12] #23759 closed

[2022-09-02 23:38] yonzhan commented on #23776
route to CXP team

[2022-09-02 23:39] yonzhan commented on #23775
It seems the network issue to access login.microsoftonline.de

[2022-09-02 23:41] yonzhan commented on #23774
Duplicate of https://github.com/Azure/azure-cli/issues/20388

[2022-09-02 23:41] #23774 closed

[2022-09-02 23:42] yonzhan commented on #23773
@jiasli for awareness

[2022-09-02 23:43] yonzhan commented on #23772
route to CXP team

[2022-09-02 23:43] yonzhan commented on #23771
route to CXP team

[2022-09-02 23:44] yonzhan commented on #23770
@jiasli for awareness

[2022-09-03 02:07] zaalion opened #23777 "Getting all version ids for a single blob using CLI"
[Enter feedback here]
Hi, How can I get a list of all version IDs for a single blob object. The _blob show_ command only returns the latest version id.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472d5f5f-3ce0-1220-3058-4b27068f512b
* Version Independent ID: 76e1699e-e6ba-c0dd-aad4-c5a7ab58260d
* Content: [az storag

[2022-09-03 08:02] #22892 closed

[2022-09-03 08:02] #20826 closed

[2022-09-03 10:27] zhoxing-ms commented on #23714
@Ochirkhuyag This error message is returned by the REST service, could you help investigate this root cause?

@Vi-2022 Could you please show the debug log *(add `--debug` parameter` to help us know more about the details of failed requests?

[2022-09-03 10:36] piojagcodes opened #23778 "az storage container generate-sas command not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container generate-sas`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage container generate-sas --name {} --policy-n

[2022-09-03 10:36] piojagcodes commented on #23778
az storage container generate-sas --name piotrjzjazd1 --policy-name App1 --account-name pj@akademiacloudops.onmicrosoft.com

I used that command and something like that popped up

[2022-09-03 10:39] zhoxing-ms commented on #23767
@ynden Thanks for your kind reply!

@lkurzyniec-bcg Please note that there are two command groups with different scopes.
If you want to operate the lock of resource group level, please use `az group lock `
[code]

If you want to operate the lock of resource level, please use `az resource lock`
[code]

[2022-09-03 11:33] SergeiDavydov opened #23779 "`az aks install-cli` installs amd64 instead of arm64 binaries on a Mac with Apple Silicon"
**Related command**

`az aks install-cli`

**Describe the bug**

Azure CLI installs `kubectl` tool for Intel chip on a Mac with Apple Silicon.

**To Reproduce**

`sudo az aks install-cli`

**Expected behavior**

Kubectl binaries for Apple Silicon located at different path
`sudo az aks install-cli`

**Environment summary**

Install method: Homebrew
CLI version: 2.0.39
OS: macOS 12.3
Shell: ZSH

**A

[2022-09-03 11:49] yonzhan commented on #23777
@evelyn-ys for awareness

[2022-09-03 11:52] yonzhan commented on #23778
@evelyn-ys for awareness

[2022-09-03 11:54] yonzhan commented on #23779
route to CXP team

[2022-09-03 12:20] #23079 closed

[2022-09-03 12:35] pawel-zolty commented on #17293
I have similar problem. I have done this [exercise](https://docs.microsoft.com/en-us/learn/modules/introduction-to-azure-virtual-networks/4-exercise-design-implement-virtual-network-azure) from az-700. I used az cli instead of azure portal to create resources. When I list vnets with `az network vnet list --query "[[].name]"` I can see:
[code]
There is not `CoreServicesVnet`. In Azure Portal i can

[2022-09-03 13:38] RakeshMohanMSFT commented on #23771
@TalissaDreossi Thank you for reaching out to us, can you please share your environment details? az --version. If you are not using the latest Az CLI [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli), please upgrade to it and retry the operation.

[2022-09-03 20:52] luizcarluz opened #23780 "Erro ao tentar usar o az find"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az find`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az find {}`

## Expected Behavior

## Environment Summary
[code]
## Additional C

[2022-09-03 20:53] #23780 closed

[2022-09-03 20:57] luizcarluz commented on #23780
Não tenho conta no Azure e tenho usado somente o espaço do learning, talvez seja isso.

[2022-09-04 03:11] Vi-2022 commented on #23714
@zhoxing-ms ， I use az version 2.35.0,with extension account 0.2.3, run command "az account subscription rename --id xxx --name test --debug" , the result is as following :
cli.knack.cli: Command arguments: ['account', 'subscription', 'rename', '--id', '<subscription-id>', '--name', 'test', '--debug']
cli.knack.cli: __init__ debug log:
Enable color in terminal.
cli.knack.cli: Event: Cli.PreExecute

[2022-09-04 08:02] #23425 closed

[2022-09-04 08:02] #23308 closed

[2022-09-04 08:02] #23279 closed

[2022-09-04 08:46] dcurwin commented on #21099
@amirkeren  @yonzhan  - The page in question has still not been updated. Please address this issue.

[2022-09-04 15:31] anirugu commented on #16431
Today while I using azure static app, I write this command

[code]
I am getting error like ''w' is not recognized as an internal or external command,
operable program or batch file.'

@avanigupta  @cakriwut

Any idea to make it work. I tried both double quote and (""). None of both is solving the issue. I have reported it on static-app cli as well https://github.com/Azure/static-web-apps-cli/issue

[2022-09-04 15:53] #23767 closed, assigned to zhoxing-ms

[2022-09-04 21:30] sethreidnz commented on #23267
Bump as well as this is failing for me too.

[2022-09-04 22:07] mckenzm commented on #23634
[debug.txt](https://github.com/Azure/azure-cli/files/9485588/debug.txt)
This file has not been privatised.
Run from cloudshell, which should presumably provide best network performance.

[2022-09-04 23:22] montanoeuse commented on #23762
@evelyn-ys,

Thank you for your reply.
Storage account is not ADLS Gen2.
Yes, the path exist as I can use other commands (e.g. az storage blob list).

Regards,

[2022-09-05 02:32] zhoxing-ms commented on #23492
@eymizrac Any update?

[2022-09-05 02:32] navba-MSFT commented on #23776
@mattmazzola  Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-05 02:36] zhoxing-ms commented on #23484
@VikasMohandoss Any update?

[2022-09-05 02:42] jiasli commented on #23773
In 2.40.0, `--only-show-errors` will no longer control the device code message:

- https://github.com/Azure/azure-cli/pull/23647

Device code message will now directly be printed to `stderr`, instead of through `WARNING`.

Unfortunately, `stderr` is the only place to print messages like this. Printing to `stdout` will be "catastrophic" as it breaks the output JSON. Any downstream program consuming

[2022-09-05 02:42] #23773 closed

[2022-09-05 03:38] jiasli commented on #7387
@benc-uk, If you do an `ncdu`, you will find Azure CLI itself (`/cli`, 28.6 MB) is pretty small:

![image](https://user-images.githubusercontent.com/4003950/188355741-59595bc7-b61a-459e-afe5-71390731a74d.png)

It is actually the Azure Python SDK (`/mgmt`, 676.7 MB) that makes Azure CLI huge. See https://github.com/Azure/azure-cli/issues/7387#issuecomment-879529560 for the explanation.

Rewriting i

[2022-09-05 03:52] yanzhudd commented on #23745
Hello @MSFT-BrianEddy, does the target date (September 2022 (Private)) mentioned above mean that we only need to provide private package built through the edge in September?

[2022-09-05 04:11] Smoogles opened #23783 "az storage blob upload not overwriting / issue with entity"
**Related command**
`az storage blob upload -f <path-to-file> --account-name <storage-account> -c dev -n <path-to-upload-in-container> --overwrite true --% --sas-token "sp=racwdlmeop&st=2022-09-05T03:56:59Z&se=2022-10-01T11:56:59Z&spr=https&sv=2021-06-08&sr=c&sig=[redacted]"`

**Describe the bug** and **To Reproduce**
My goal has been to dynamically create a directory and upload a file to it. The

[2022-09-05 04:21] navba-MSFT commented on #23634
@mckenzm Thanks for providing the debug file.  Could you please confirm if the [log show](https://docs.microsoft.com/en-us/cli/azure/webapp/log?view=azure-cli-latest#az-webapp-log-show) & [log tail](https://docs.microsoft.com/en-us/cli/azure/webapp/log?view=azure-cli-latest#az-webapp-log-tail) commands work as expected & download is the only one having problem ? Awaiting your reply.

[2022-09-05 04:21] navba-MSFT commented on #23718
@bjornhjelle Could you please confirm if the [log show](https://docs.microsoft.com/en-us/cli/azure/webapp/log?view=azure-cli-latest#az-webapp-log-show) & [log tail](https://docs.microsoft.com/en-us/cli/azure/webapp/log?view=azure-cli-latest#az-webapp-log-tail) commands work as expected & download is the only one having problem ? Awaiting your reply.

[2022-09-05 04:39] navba-MSFT commented on #23734
@shaikmoeed I am doing some research on this. I will update this thread once I have more details on this.

[2022-09-05 04:54] dikethir opened #23785 "Change needed in az restore-point create to support consistencyMode parameter"
### Related command

az restore-point create

### Resource Provider

Microsoft.Compute

### Description of Feature or Work Requested

Currently restore points are app consistent by default, however we are introducing an option for customers to create crash consistent restore points by setting the new optional property "consistencyMode" to "CrashConsistent".

This is an optional property that the c

[2022-09-05 05:04] yonzhan commented on #23785
@zhoxing-ms for awareness

[2022-09-05 05:06] yonzhan commented on #23783
@evelyn-ys for awareness

[2022-09-05 05:29] navba-MSFT commented on #23776
@mattmazzola I think it's a platform issue related to the unique combination Windows + Python.

Could you please try to update the Windows system language setting as shown below ?

Control panel -> Clock and Region -> Region -> Administrative -> Change system locale -> Check Beta: Use Unicode UTF-8 for worldwide language support.

![image](https://user-images.githubusercontent.com/57353862/1883669

[2022-09-05 05:46] yanzhudd commented on #23640
Hello @SamaRamya, I have replied to your mail. Please check.

[2022-09-05 06:09] necusjz commented on #23418
@sindhualuguvelli1 Could you give me access to the mentioned design document? Thanks.

[2022-09-05 07:02] #21296 closed

[2022-09-05 07:05] TalissaDreossi commented on #23771
that's the output of az --version

[code]
do you need any other information?

[2022-09-05 07:20] TalissaDreossi commented on #23771
I have tryed now to run: `az aks check-acr -g sviluppo -n devaks --acr svacr.azurecr.io`
the output is:
[code]

but it still has the same problem when pulling image in pod:
[code]

[2022-09-05 07:23] jsntcy commented on #21099
@amirkeren, service team need fix swagger file as the help of Azure CLI is generated from swagger. https://github.com/Azure/azure-rest-api-specs/blob/main/specification/securityinsights/resource-manager/Microsoft.SecurityInsights/stable/2022-08-01/DataConnectors.json#L527

[2022-09-05 07:27] benc-uk commented on #7387
Agreed, but with a compiled language you ship a binary, you don't ship the SDK with it!

If I wrote a Go app that used the Go SDK for Azure, used a few functions from the SDK, and compiled it - it would be completely standalone executable and only a few megabytes

[2022-09-05 07:38] SamaRamya commented on #23640
Hi @yanzhudd please check my mail.

[2022-09-05 08:22] yanzhudd commented on #23640
Hello @SamaRamya, please check the mail.

[2022-09-05 09:03] SamaRamya commented on #23640
hi @yanzhudd please check the mail now

[2022-09-05 09:16] RakeshMohanMSFT commented on #23771
@TalissaDreossi Can you check your storage connection please? try accessing it externally and see if that works.

Also please edit your previous comment and retract any credential information in it.

[2022-09-05 09:31] TalissaDreossi commented on #23771
do you mean by pulling the image locally? It works

ops sorry, I edited it, thanks

[2022-09-05 09:35] PARADISSEEKR commented on #23671
`"priorityMixPolicy": {
          "baseRegularPriorityCount": 4,
          "regularPriorityPercentageAboveBase": 50
        }`

Hi @aleclawlor  when I test it returns error
`BadRequest: InvalidParameter, The value of parameter priorityMixPolicy is invalid.`

Do we need to register this feature to our test subscription to use it?

[2022-09-05 10:41] quintindk commented on #22866
Any feedback on this? Same issue in WSL.

[2022-09-05 11:06] kiweezi commented on #23364
Hey @SaurabhSharma-MSFT.
Would you be able to share anymore about how you prepared your environment before you ran the `backup-now` command?

[2022-09-05 11:26] bjornhjelle commented on #23718
yes, that is correct.
Please note that sometimes, log download also works.

[2022-09-05 11:29] bjornhjelle commented on #23718
Have not tried azure cloud shell

[2022-09-05 13:03] SamaRamya commented on #23640
Hi@yanzhudd Issue Resolved.You can lose the issue now.Thanks

[2022-09-05 13:24] svdHero commented on #16949
I have a similar problem here. When I execute
[code]
in bash, the following text, according to Azure Pipelines, is written to Std Error:
[code]
This makes my pipeline job fail then. Also see https://github.com/microsoft/azure-pipelines-tasks/issues/16840.

[2022-09-05 16:25] jiasli commented on #16949
@usrme, your original issue was addressed by https://github.com/Azure/azure-cli/pull/23647

[2022-09-05 16:26] jiasli opened #23787 "Survey message printed to `stderr`"
I have the same problem here. When I use Azure CLI in an Azure DevOps Pipeline, the following text is written to Std Error:
[code]
although I set the environment variable `AZURE_CORE_ONLY_SHOW_ERRORS` to `true`.

This makes my pipeline job fail then. Also see https://github.com/microsoft/azure-pipelines-tasks/issues/16840.

_Originally posted by @svdHero in https://github.com/Azure/azure-cli/issue

[2022-09-05 16:28] #16949 closed

[2022-09-05 16:30] jiasli commented on #23787
@svdHero, could you let us know which command that you run triggered this message?

[2022-09-05 19:42] omarkass commented on #22564
Hi, iam getting the same error
 az quota list --scope "subscriptions/(sub-id)/providers/Microsoft.Network/location/eastus"                            Command group 'quota' is experimental and under development. Reference and support levels: https://aka.ms/CLI_refstatus                                             (InvalidResourceType) The resource type could not be found in the namespace 'Microsoft

[2022-09-06 03:46] RakeshMohanMSFT commented on #22881
Sure, please upgrade and try and let us know. Yes, even if you do not provide default value it works as expected. Please see the image below

![image](https://user-images.githubusercontent.com/49954584/188542858-065c65d9-6cf3-4a48-bb30-6b5f696f3d99.png)

[2022-09-06 05:15] ramdaspotale commented on #23687
Hi @ynden

apologies for the delay in feedback. I tried manualrequest:true and I was able to create private endpoint successfully using private link alias.

the problem here is with vague docs, one can not understand how to use private link alias with current description of parameters. it would be great to add a line to description of [--private-connection-resource-id] that private link alias can

[2022-09-06 05:33] amirkeren commented on #21099
I'll contact the relevant team and have them follow up on this

[2022-09-06 05:35] v-soujanya commented on #23509
@williamohara, we tried to repro the issue, but we are not successful. Below are the commands we tried in our machine and both commands include the InProgress runs.
1. az pipelines runs list
![image](https://user-images.githubusercontent.com/101401302/188554461-617eeca5-3576-4c4c-bb4a-fbaa563025ce.png)
2. az pipelines runs list --top 10 -o table

![image](https://user-images.githubusercontent.com/

[2022-09-06 05:43] Saglodha commented on #20823
@eugene-jo, thanks for following up.

This would be fixed in this month release; I would circle back once the fix is live.

[2022-09-06 07:02] HenrikSommer-eng commented on #23116
Hi.
It is also working for me.

[2022-09-06 07:15] RakeshMohanMSFT commented on #23094
@nyetwurk Please share az --version details with us please. For some reason we are unable to reproduce this issue at our end.

[2022-09-06 07:21] RakeshMohanMSFT commented on #23116
@HenrikSommer-eng Thank you for the confirmation. Glad to hear its working for you. I will close this issue now.

[2022-09-06 07:21] #23116 closed

[2022-09-06 07:35] RakeshMohanMSFT commented on #23717
@yrro Thank you for reaching out to us. As you pointed out they are used for different purposes. [az ad app credential list](https://docs.microsoft.com/en-us/graph/api/application-list?view=graph-rest-1.0&tabs=http) uses application api for ad graph and [az ad sp credential list](https://docs.microsoft.com/en-us/graph/api/resources/serviceprincipal?view=graph-rest-1.0) uses the application api.

W

[2022-09-06 08:02] #23472 closed

[2022-09-06 08:02] #23236 closed

[2022-09-06 08:02] #23030 closed

[2022-09-06 08:07] RakeshMohanMSFT commented on #23723
@LRomano72 the subscription parameter has "--" dashes and not one. Please use "--subscription" instead

[2022-09-06 08:47] svdHero commented on #23787
@jiasli Thank you for creating this new issue. I always thought it was `az login`, but that was a red herring. The guilty one actually is `az --version` which writes to StdError.

In Azure DevOps, this pipeline succeeds:
[code]
but this pipeline fails:
[code]

So for me the workaround is to just remove `az --version`. However, this still is a bug, or at least unexpected behaviour.

[2022-09-06 11:02] oliviermbida commented on #4618
Petition to stop someone closing an issue unless they have clearly posted the steps to resolve the issue. (In the same issue tracker)
The commentary on these sorts of issues is always someone posting I will escalate to who ever and then coming back to post I will close the issue.
Long gone are the days when it was customary for the user who reported the issue to be the one to confirm that it has b

[2022-09-06 11:28] RakeshMohanMSFT commented on #23771
@TalissaDreossi Please open a support ticket, it is difficult to troubleshoot this issue over git forum, also its not specific to cli commands. Therefore open a support ticket a dedicated engineer will help you resolve this issue.

[2022-09-06 13:36] LRomano72 commented on #23723
My bad have so many examples but this still does the same thing, returns empty array but in "--debug" it returns all the information:
[code]
Running this:
`az graph query -q "where type == 'microsoft.logic/workflows'"`
I get back lots of data, just show the last bit of info:
  "skip_token": "ew0KICAiJGlkIjogIjEiLA0KICAiTWF4Um93cyI6IDEwMCwNCiAgIlJvd3NUb1NraXAiOiAxMDAsDQogICJLdXN0b0NsdXN0ZXJVcmwiOiA

[2022-09-06 13:44] obiii opened #23790 "ModuleNotFound: azure.core.rest devops azure cli task"
**Related command**
$runId=az datafactory pipeline create-run --factory-name test-adf  --name "pl_load_training_data" --resource-group test-rg --query "runId" --output tsv

**Describe the bug**
We have a devops pipeline which has an azure cli task that triggers and adf pipeline. All was working untill last friday but now the same task started giving error: ModuleNotFound: azure.core.rest.

I have

[2022-09-06 14:05] froblesmartin commented on #17490
I am facing the same issue. It was working some weeks ago really fast (less than 5 seconds) and not it is taken >2 mins.

I have also tried doing az logout and az login, clean up the `azureProfile.json` and `msal_token_cache.json` files, but still facing the same issue.

As @greghenderson, I am also switching from time to time between an "admin" account and my "personal" account.

[2022-09-06 14:28] thomasv1995 commented on #21957
Could someone please explain to me the rationale behind not allowing users to properly delete (not archive) environments? We can delete jobs, experiments, models, but for some reason we can't do it for environments.

[2022-09-06 14:40] MSFT-BrianEddy commented on #23745
That's right. The goal right now is to unblock some other work. We want to make a private package for now before we release it to 3p customers.

From: Yan Zhu ***@***.***>
Sent: Sunday, September 4, 2022 10:52 PM
To: Azure/azure-cli ***@***.***>
Cc: Brian Eddy ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] [Compute] Update az sig image-version for targetExtendedLocations (Issue

[2022-09-06 14:52] MrCNeale commented on #22245
Without some other native (non-additional agent based) method to execute scripts in guest OSes, this really does need fixing to make it usable.

[2022-09-06 15:12] derekpurdy commented on #22564
has anyone got it working since @rahuls-microsoft commented about it being available for Compute 14 days ago?

[2022-09-06 15:32] RakeshMohanMSFT commented on #23723
@LRomano72 Please remove token from your previous comment "value of Skip_token".  I get back lots of data, just show the last bit of info: that is the information you are looking for right? those are details of your logicapp objects. you can filter it further using the --filter param. you can read more about it here https://docs.microsoft.com/en-us/cli/azure/graph?view=azure-cli-latest#az-graph-qu

[2022-09-06 15:33] williamohara commented on #23509
I am getting the same thing in my AZ CLI on PS ...
![image](https://user-images.githubusercontent.com/17223014/188676064-5613dfec-7df8-4b81-aa21-e67d010af3d4.png)

[2022-09-06 15:38] mattmazzola commented on #23776
You have listed instructions that show using the Windows GUI.
In my case, this is running in an Azure Dev Ops pipeline using the `windows-2022` image

https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml#software

https://github.com/actions/runner-images/blob/main/images/win/Windows2022-Readme.md

I assume the setting could be controlled via the Registr

[2022-09-06 15:46] nyetwurk commented on #23094
https://github.com/Azure/azure-cli/issues/19640#issuecomment-1227878091

[2022-09-06 15:53] williamohara commented on #23509
FYI - I upgraded and just tested with the latest version on WSL. I also tried experimenting with my config (setting default outputs) and still the same thing. i also added the project and organization params like you have in your command, same thing...

whenever i put in top 10 parameter it does not show inProgress runs

![image](https://user-images.githubusercontent.com/17223014/188680591-6044895

[2022-09-06 16:08] LRomano72 commented on #23723
Hi Rakesh,

The point of the issue is NOT to get the Logic App information a different way as I was able to do that with the "az logic workflow ..." cmd but thank you for share that this can be done with the "az graph" cmd. Also, I mentioned this at the beginning of the ticket.

The point is to get the "**az logicapp**" cmd working or just have the team depreciate it or remove it if it is not goin

[2022-09-06 16:15] RakeshMohanMSFT commented on #23723
@LRomano72 I suggest you open a support ticket for further help and troubleshooting. This forum is to help with error/exceptions and help related to usage of az commands only.

[2022-09-06 16:16] SamaRamya opened #23791 "ERROR: Please run 'az login' to setup account."
I am trying to deploy the **Azure Data Factory** Using **GitHub Actions.**
So in my Github Actions i have created one workflow file where i have several jobs required for my deployment.

**My 1st job** in the workflow file is **Azure-Login** where im using the below command for login:
az login --service-principal -u $AZURE_CLIENT_ID -p $AZURE_SECRET_VALUE --tenant $AZURE_TENANT_ID
And in this job

[2022-09-06 16:59] hugoaponte commented on #23608
Hello,

Could you share the details/definition of the environment you are using for that deployment?

Could you share logs when building that environment?

Thanks,

Hugo

[2022-09-06 17:29] SaurabhSharma-MSFT commented on #23650
@MrDarkPat Please let me know if you have any questions.

[2022-09-06 18:03] vivlingaiah commented on #23625
Fix is planned to be deployed in few weeks. Tentative date is 10/01

[2022-09-06 18:14] zffocussss commented on #15846
127.0.0.53 is not working when you want  to reach public domain, for example,ntp,apt etc.

[2022-09-06 18:27] delbert commented on #23267
failing for me, three.

[2022-09-06 18:55] delbert commented on #23267
i am using AMLs CI, so i just provisioned another CI and the problem goes away.  i just have to avoid installing other software that will pull that dependency back in... :-(

[2022-09-06 19:33] damaca opened #23793 "az bot directline create doesn't allow multiple sites"
**Related command**
[code]

**Describe the bug**
The azure cli create option for directline channel (az bot directline create ) just allow one site. In the web portal several can be added and the response object from the az bot directline show is even an array.
Running the command multiple times override the previous one.
The code just take one site as parameter https://github.com/Azure/azure-cli/

[2022-09-06 20:23] #23723 closed

[2022-09-06 22:03] silverscout commented on #23760
@yonzhan and @SaurabhSharma-MSFT

I solved the issue with the invoke.  actually someone else did.  can someone please look at "https://github.com/Azure/azure-devops-cli-extension/issues/1011#issuecomment-914718013"  and put a suitable fix for this?

Thanks David.

[2022-09-06 22:10] arbin-sanders opened #23794 "Unable to run command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks nodepool update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks nodepool update -g {} -n {} --cluster-name {} --labels {}`

[2022-09-06 22:52] SaurabhSharma-MSFT commented on #23364
@kiweezi Sorry for the delay. Can you please check this documentation - [Back up SQL databases in Azure VM using Azure CLI](https://docs.microsoft.com/en-us/azure/backup/backup-azure-sql-backup-cli).

[2022-09-06 23:14] yonzhan commented on #23790
@evelyn-ys for awareness

[2022-09-06 23:23] yonzhan commented on #23791
@jiasli for awareness

[2022-09-06 23:25] yonzhan commented on #23793
route to CXP team

[2022-09-06 23:25] yonzhan commented on #23794
route to CXP team

[2022-09-07 00:50] auwi987 opened #23796 "TooManyExtensionProviders"
**Related command**
az vm create -g <Resource_Group_Name> -n <VM_Name> --attach-os-disk <Os_Disk_ID> --os-type "windows" --  --patch-mode "Manual"

**Describe the bug**
[code]

**To Reproduce**
I'm trying to spin up a VM from an existing managed OsDisk via Az CLI. the original VM where OsDisk previously tied up has 12 VM extensions. now the error is giving me the impression that once you spin this

[2022-09-07 00:51] auwi987 commented on #23796
originally i posted it here https://github.com/MicrosoftDocs/azure-docs/issues/23934

[2022-09-07 00:52] SaurabhSharma-MSFT commented on #23743
@ranjeetkpGit Did you look into @ynden's suggestion ?

[2022-09-07 01:05] yonzhan commented on #23796
@zhoxing-ms for awareness

[2022-09-07 02:27] Vi-2022 commented on #23714
@zhoxing-ms , @Ochirkhuyag , May I know if there is any update from your side ? thanks

[2022-09-07 02:53] jiasli commented on #23559
Azure CLI RPM can be successfully installed on RHEL container: https://github.com/Azure/azure-cli/blob/bb28eea93ff29033e32ba03aef4783784a737cfa/azure-pipelines.yml#L641

We will do some investigation on where the conflict comes from.

[2022-09-07 04:07] bebound commented on #23559
`rpm -qlp azure-cli-2.40.0-1.el8.x86_64.rpm  | grep /usr/lib/.build-id/96/652dd4786fcd6016a4c0f82e3072bf8cbdfab` indicates that azure-cli does contains this file.  Maybe these two packages contain same binary files so the build_id files conflict.

 It can be disabled by `%define _build_id_links none`. I'll create a fix for this.

Similar issue: https://github.com/microsoft/vscode/pull/116105

[2022-09-07 04:25] RakeshMohanMSFT commented on #23794
@arbin-sanders Thank you for reaching out to us. Can you please try to upgrade latest version of azure cli [2.40.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and retry?

[2022-09-07 05:32] JackSch opened #23797 "Cannot pass `--web-redirect-uris` multiple URIs with Powershell variable"
**Related command**

`az ad app update`

**Describe the bug**

--Using Powershell--
Adding a redirect URI to an app is common practice for us.
`--web-redirect-uris` is rather particular with how values are given to it. As of 2.37 with the migration of `az ad` to Microsoft Graph API, we use the following script to append a single URI to the list and it's worked pretty well:
[code]
This has been suf

[2022-09-07 06:04] yonzhan commented on #23797
@jiasli for awareness

[2022-09-07 06:10] v-soujanya commented on #23509
@williamohara Please help us to get some clarification on the below points.
1. Have you tried all the scenarios from your ubuntu machine?
2. have you installed PS on ubuntu/windows?
Because, we have checked in windows PowerShell.

[2022-09-07 06:26] williamohara commented on #23509
I have tried all scenarios from both PowerShell and Ubuntu. The images are attached in my previous comments

[2022-09-07 06:29] v-soujanya commented on #23509
@williamohara are you using PowerShell on ubuntu or PowerShell on windows?

[2022-09-07 06:33] williamohara commented on #23509
I am running Ubuntu on WSL. I have the Azure CLI installed on that instance  and it does not work. - I also have the Azure CLI installed on my PowerShell as well and it does not work.

I am signing off now. Sorry it's late for me :(

[2022-09-07 06:45] lhotrifork opened #23799 "Crash when upgrading bicep"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
This morning I could no longer run `az deployment` which gave the following error:
[code]
I tried fixing it with an upgrade, but then that failed.
Uninstalling and reinstalling seems to have fixed it.

**Command Name**
`az bicep upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Not

[2022-09-07 07:11] jiasli commented on #23797
The entry script `az` is now a ps1 script located at `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\az.ps1` (https://github.com/Azure/azure-cli/pull/23514).

The correct way to pass a list as multiple arguments is to use [`@` splatting](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_splatting?view=powershell-7.2).

[code]

[2022-09-07 08:00] svdHero opened #23801 "`az keyvault network-rule add` prints progress status to `stderr` even when `only_show_errors` is set to `true`"
**Related command**
`az keyvault network-rule add`

**Describe the bug**

The command writes the following progress to StdErr, although the environment variable `AZURE_CORE_ONLY_SHOW_ERRORS` flag is set to `true`:
[code]

**To Reproduce**
Run the following Azure Pipeline
[code]
**Expected behavior**
No output from Azure CLI and a succeeding pipeline run.

**Actual behavior**
Progress output to Std

[2022-09-07 08:01] svdHero commented on #23787
@jiasli I have opened yet another issue for the latter problem. See #23801.

[2022-09-07 08:42] zhoxing-ms commented on #23796
Since CLI uses the ARM template deployment to create VM, so there is no such logic on client side
This should be a REST service issue, and the Compute team needs to investigate it

[2022-09-07 08:49] navba-MSFT commented on #23776
@mattmazzola Could you please try with the below registry key which does the same in the background.

 New-ItemProperty -LiteralPath 'HKLM:\SYSTEM\CurrentControlSet\Control\Nls\CodePage' -Name 'OEMCP' -Value '65001' -PropertyType String -Force;
 New-ItemProperty -LiteralPath 'HKLM:\SYSTEM\CurrentControlSet\Control\Nls\CodePage' -Name 'MACCP' -Value '65001' -PropertyType String -Force;

[2022-09-07 09:06] kiweezi commented on #23364
Thanks @SaurabhSharma-MSFT! I believe this guide wasn't available before I created this issue.
I can already spot something different that I'm not doing from the guide.
I will have a look at this in the next few days and see if I can replicate what you did to get this working.

[2022-09-07 09:54] ranjeetkpGit commented on #23743
Yes but no success.

[2022-09-07 09:58] shaikmoeed commented on #23734
@navba-MSFT Any update?

[2022-09-07 10:08] yonzhan commented on #23799
route to CXP team

[2022-09-07 10:09] yonzhan commented on #23801
@evelyn-ys for awareness

[2022-09-07 11:03] onenessboy opened #23803 "absence of az command to set public_network_access_enabled missing for azure synapse"
**Related command**
az synapse workspace update --name synapsews --resource-group rgname --public_network_access_enabled true

**Describe the bug**
didnt find option to enable / disbale public access to synapse workspace via az workspace update command

**To Reproduce**
az synapse workspace update --name synapsews --resource-group rgname --public_network_access_enabled true

**Expected behavior**

[2022-09-07 11:31] jurjenoskam opened #23804 "az keyvault secret set exposes value"
It came to my attention (via a question I got from a colleague) that `az keyvault secret set` bluntly prints the secret value in cleartext to the output of the command (even if the secret was read from a file!).

I am aware this is a duplicate of #20858. The reason I am opening this issue anyway is that the suggestion there was to simply suppress the output of the command (via e.g. `--output none`

[2022-09-07 11:35] TomMalow commented on #23753
After further investigation, the issue seems to stem from the parameter `sign-in-audience` no longer defaulting to "AzureADMyOrg", but to "AzureADandPersonalMicrosoftAccount". The new default value adds additional requirement to the parameter `identifier-uris` which are mentioned above. This change also changes other default values such as setting `requestedAccessTokenVersion` to `2` where before

[2022-09-07 11:44] navba-MSFT commented on #23762
@montanoeuse Thanks for confirming that you are using non-ADLS gen 2 storage account. I tried to create a repro using Standard NonHNS storage account and I was able to get the required information:

I am sharing the command here if that helps:

**az storage blob metadata show --container-name MyContainerName --name MyBlobName.txt**
{
  "test": "myvalue"
}

**az storage blob tag list -n new.txt --c

[2022-09-07 12:14] Yakuza-UA opened #23805 "az login throws an error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

`az login --use-device-code` throws an error after timeout. Once executed it halts for a while with no visible progress, then exists with the error below.

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they ma

[2022-09-07 12:40] woeterman94 commented on #20842
Having the same issue with the latest version of azure cli. So No upgrading does not solve the issue.

[code]

[2022-09-07 13:41] yonzhan commented on #23803
route to CXP team

[2022-09-07 13:42] yonzhan commented on #23804
@evelyn-ys for awareness

[2022-09-07 13:44] yonzhan commented on #23805
@jiasli for awareness

[2022-09-07 14:17] greghenderson commented on #17490
Just for follow-up, I continue to encounter the issue in my MacOS environment.  So I don't use that for az devops interaction any more... use WSL Ubuntu in Windows 11 for that.  No issues there.

[2022-09-07 14:18] ynden commented on #23743
@ranjeetkpGit, what kind of error do you get?

[2022-09-07 14:20] gmns-mgl opened #23806 ""az cosmodb create" command failed with Periodic backup policy"
**Related command**
[code]

**Describe the bug**
I get the error:
[code]
However, everything works fine with "Continuous" backup policy and if I specify `--backup-retention 24 --backup-interval 720`

**Expected behavior**
It should work even without retention and interval (with default values)? Or at least the documentation should tell they are mandatory in case of periodic backup as well as the c

[2022-09-07 14:36] gsrx opened #23807 "az ad user get-member-groups returns "Specified HTTP method is not allowed for the request target.""
Calling az ad user get-member-groups --id "someuserprincipalname" returns error: "Specified HTTP method is not allowed for the request target."

--debug switch shows attempting POST to graph api eg.
https://graph.microsoft.com:443 "POST /v1.0/users/username HTTP/1.1" 405 None

Running on Windows 10
az version
{
  "azure-cli": "2.40.0",
  "azure-cli-core": "2.40.0",
  "azure-cli-telemetry": "1.0.8"

[2022-09-07 14:37] slnowak opened #23808 ""az aks command invoke" doesn't propagate exit codes"
**Related command**

```az aks command invoke```

**Describe the bug**

We're using `az aks command invoke` in our CICD pipelines for deployment purposes, however it seems like it does not propagate the exit code of the underlying command. Thus, we've observed some false positive deployments - our pipeline reported success even though the actual command failed.

**To Reproduce**

Run the following

[2022-09-07 14:37] yonzhan commented on #23807
@jiasli for awareness

[2022-09-07 14:38] yonzhan commented on #23808
route to CXP team

[2022-09-07 15:44] garrett-gkp opened #23809 "Issue running az storage blob list on CentOS and AmazonLinux2 VMs"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Hello, I am having issues connecting to my Azure storage blob but only from a few flavors of Linux - CentOS and Amazon Linux2. The issue popped up 2 weeks ago with no changes made on my side in the Azure portal or to the machines. I noticed the issue on an AWS instance but repro it in a CentOS VM on my local m

[2022-09-07 16:02] williamohara commented on #23509
i just tested with a brand new pipeline for a brand new project in a brand new repository. the inProgress runs for that new application show up when I run `az pipelines runs list --top 10 `.

1. My new project is an application - its pipeline simply builds a docker container and puts it into ACS

2. the pipelines that do not show up in the command `az pipelines runs list --top 10 ` are my terrafor

[2022-09-07 16:06] plynch66 opened #23810 "az postgres flexible-server create - The api-version '2022-01-20-preview' is invalid"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I'm trying to create an Azure Database for PostgreSQL Flexible Server with VNet integration and I am getting an error relating to the API version as per below.

**Command Name**
`az postgres flexible-server create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values

[2022-09-07 17:18] alextouli opened #23811 "Error while attempting to download Bicep CLI in Azure DevOps pipeline"
One of the steps in my pipeline calls Azure CLI in order to deploy infrastructure defined in a bicep file. The following command is executed
 `az deployment group create [parameters] --template-file foo.bicep`

After which, the following error is thrown
`ERROR: Error while attempting to download Bicep CLI: <urlopen error [WinError 10054] An existing connection was forcibly closed by the remote hos

[2022-09-07 17:28] situssoft opened #23812 "Exmaples referenced but not provided"
The documentation on this page mentions that we should "see the example below" in a few places. However there appear to be no examples provided.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 921aa920-c25f-5227-aabb-49116da38fa7
* Version Independent ID: 9b5a53ad-edf8-4d89-f8e6-cde01b7866f6
* Content: [az ad app](https

[2022-09-07 18:03] SaurabhSharma-MSFT commented on #23738
@resqrobert I am checking internally with the products team on this and get back to you as soon as possible.

[2022-09-07 18:26] mattmazzola commented on #23776
I added those commands to modify Registry and It seems to have worked!
The pipeline that attempted to build the image was successful!

Before the pipeline was failing on step 4/14  (see fulll snippet above)
But now it continues:

[code]

It says this is a beta feature, but I imagine this is causing issues for many others trying to create images for python based applications.

I will close with the

[2022-09-07 18:26] #23776 closed

[2022-09-07 18:42] kento1218 commented on #23048
@RakeshMohanMSFT
I faced the same issue on 2.40.0. Here are the stack trace with `--debug`
Some information are masked.

I don't read these source codes precisely but these kind of comparison between float values are often troublesome. (Don't you think?)

[code]

## Environment Summary
[code]

[2022-09-07 18:44] bengavin commented on #23811
We're seeing the same issue, DevOps hosted agents can't seem to get to the Azure CLI endpoints.  This was working earlier this AM.

[2022-09-07 18:49] bengavin commented on #23811
@alextouli if it helps, a workaround seems to be to add a new task to our build that executes 'az bicep upgrade --debug --verbose' (was hoping to get more detailed error info, but it just started working after this).

[2022-09-07 18:53] kento1218 commented on #23048
It works fine with `--no-progress` option.

[2022-09-07 18:54] AzureMarker opened #23883 "Azure CLI 2.40.0 breaks stdin passing on PowerShell"
## Describe the bug
We're executing an Azure CLI extension in PowerShell which requires interactive input, and that input is passed through stdin using the following code:
[code]

This was working fine until the latest Azure CLI version (2.40.0).

**Command Name**
`az arcappliance createconfig vmware`
Extension Name: arcappliance.
Version: 0.2.16.

(note: we are using an older arcappliance extensi

[2022-09-07 18:54] asimeonov opened #23813 "Cmdlets working in powershell with no elevated (admin) rights are no longer working after azure cli installation"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Just installed CLI, also looks like there is an issue with Asus laptops with Ryzen 7 because after restart computer goes in endl

[2022-09-07 18:58] terry-citrix commented on #22555
I tried the command you suggested, but it's giving me an error:
[code]

I searched for a `protectedsettings.json` file on my system, but I didn't find one.

I can still reproduce the problem as well (I actually attempted this first before running your suggested command):
[code]

[2022-09-07 19:03] alextouli commented on #23811
@bengavin I tried out the workaround, but it doesn't seem to solve the issue. In fact, even before I tried the workaround, the pipeline was working haphazardly (like 1 out of 3 tries)

[2022-09-07 19:14] bengavin commented on #23811
`2022-09-07T19:03:14.1886736Z ##[section]Starting: Ensure BICEP tooling for build
2022-09-07T19:03:14.1893612Z ==============================================================================
2022-09-07T19:03:14.1893884Z Task         : Command line
2022-09-07T19:03:14.1894184Z Description  : Run a command line script using Bash on Linux and macOS and cmd.exe on Windows
2022-09-07T19:03:14.1894465Z V

[2022-09-07 19:14] asimeonov commented on #23813
Maybe there is some other issue but after the installation of CLI user defined PATH is no longer loaded in powershell sessions. User defined variables are now only loaded when powershell is running under elevated permissions.

[2022-09-07 22:40] radhakrishnan-chandarasikharan-kr opened #23814 "Error while invoking az monitor action-group list -g <resource>"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor action-group list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az monitor action-group list -g {}`

## Expected Behavior

[2022-09-07 23:25] alanenriqueo commented on #23810
Hi @plynch66, there is an ongoing deployment that will fix this. I'll keep you posted.

[2022-09-08 00:07] yonzhan commented on #23810
route to CXP team

[2022-09-08 00:08] yonzhan commented on #23814
@kairu-ms for awareness

[2022-09-08 00:09] yonzhan commented on #23813
@jiasli for awareness

[2022-09-08 00:10] yonzhan commented on #23811
route to CXP team

[2022-09-08 00:29] yonzhan commented on #23809
@evelyn-ys for awareness

[2022-09-08 00:33] yonzhan commented on #23812
@jiasli for awareness

[2022-09-08 01:35] evelyn-ys commented on #23804
@jlichwa Do we have any updates on server response removing secret plain text?

[2022-09-08 01:43] kairu-ms commented on #23814
@radhakrishnan-chandarasikharan-kr Please try the latest version of azure-cli (2.40.0). You can upgrade it by command `az upgrade`

[2022-09-08 01:43] #23814 closed

[2022-09-08 01:44] evelyn-ys commented on #23809
The dependency `azure-multiapi-storage` package is not installed properly. So that we get `None` for enum definition from SDK.

Please make sure you have installed CLI successfully following https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=script

The `Azure CLI 2.38.0` you used may not from official CLI. @jiasli for awareness

[2022-09-08 01:50] evelyn-ys commented on #23801
@bebound Can you help take a look?

[2022-09-08 01:55] evelyn-ys commented on #23783
Need storage service to check reason for `OperationNotAllowedInCurrentState`

[2022-09-08 02:07] jlichwa commented on #23804
From REST API there is no other option than return it in plain text (if it is encrypted, then you will still need a key decrypt it then), which does not make sense.  Changing behavior is min 3 years with current policy.

Is it a concern log output which can be hidden with output set to none. Operators regardless of if it is typed or from file (which operator will need access to this file), so it i

[2022-09-08 02:31] jiasli commented on #23797
Some times `$mylist` may contain only one item. This will cause `"abc"` to be split:

[code]

Instead, use

[code]

See https://docs.microsoft.com/en-us/powershell/scripting/learn/deep-dives/everything-about-arrays?view=powershell-7.2

[2022-09-08 02:42] jiasli commented on #23812
This is indeed an inconsistency between in-tool doc and online doc.

In in-tool help, the examples appear **below** the argument help.

[code]

But in the document, the examples appear **above** the argument help.

[2022-09-08 02:47] evelyn-ys commented on #23777
Hi @zaalion, You can use `az storage blob list -c $containerName --account-name $accountName --prefix $blobName --include v` to get all versions of a specific blob

[2022-09-08 02:51] evelyn-ys commented on #23778
The dependency `azure-multiapi-storage` package is not installed properly. So that we get `None` for enum definition from SDK.

Please make sure you have installed CLI successfully following https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=script

[2022-09-08 02:56] evelyn-ys commented on #23778
Please make sure the storage account `pj@akademiacloudops.onmicrosoft.com` does exist.

[2022-09-08 03:00] bebound commented on #23801
Hey @svdHero, I can't reproduce this issue. It seems that the progress bar is generated by `curl` not `azure-cli`. Can you check it again?

[2022-09-08 03:09] jiasli commented on #23807
Could you please share the full URL, but removing your personal information? I doubt something is wrong with the URL.

[2022-09-08 03:34] JamiePan opened #23816 "No module named 'azure.keyvault.v7_0'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault secret set --vault-name {} --name {} --value {}`

##

[2022-09-08 03:37] #23777 closed

[2022-09-08 03:40] yonzhan commented on #23816
@evelyn-ys for awareness

[2022-09-08 03:41] jiasli commented on #23807
I think it is because you have `#` in your user principal ID:

[code]

When the URL was sent to Graph service, characters after `#` are dropped. I will fix it in a PR.

[2022-09-08 03:42] evelyn-ys commented on #23816
`2.0.81` is not official CLI. Please follow https://docs.microsoft.com/en-us/cli/azure/install-azure-cli to install CLI and all dependencies correctly

[2022-09-08 03:44] evelyn-ys commented on #23816
@wangzelin007 Can bot detect `2.0.81` and auto reply?

[2022-09-08 03:56] onenessboy commented on #23803
Can some one help here please @yonzhan

[2022-09-08 04:18] wangzelin007 commented on #23816
Sure, we will see this feature soon.

[2022-09-08 04:18] wangzelin007 commented on #23816
Sure, we will use this feature soon.

[2022-09-08 04:37] piojagcodes commented on #23778
I cant because i declined in participating for Lufthansa Database Engineer
longer. Health issues mostly.

czw., 8 wrz 2022, 05:39 użytkownik msftbot[bot] ***@***.***>
napisał:

[2022-09-08 04:47] JackStromberg commented on #15520
We are pleased to announce this issue is now resolved and should no longer be observed.  Appreciate you all for raising the issue and your patience while we have rolled out a fix.

#please-close

[2022-09-08 04:50] #15520 closed

[2022-09-08 05:27] navba-MSFT commented on #23734
@shaikmoeed I have reached out to the Product Owners to get some pointers and currently awaiting their reply.

[2022-09-08 06:00] JackSch commented on #23797
Thank you so much! This is exactly the help we needed.
I felt like I was missing something, and this was it!

[2022-09-08 06:28] svdHero commented on #23801
@bebound I am so stupid! You are absolutely right! Coming from #23787, I suspected `az keyvault network-rule add`, because `az login` had a problem, too.

Replacing
[code]
with
[code]
solved the problem.

Sorry for wasting your time and thank you very much for looking into this.

[2022-09-08 06:28] #23801 closed

[2022-09-08 06:56] alan994 commented on #8614
Is there any progress on this? If anyone knows some workaround for this?

[2022-09-08 07:11] jsntcy commented on #23803
@kevinzz6, please help take a look.

[2022-09-08 07:27] luisadanmunoz opened #23818 "si o no"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az devops login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az devops login`

## Expected Behavior

## Environment Summary
[code]
##

[2022-09-08 08:43] MrCNeale commented on #22245
This preview looks to be attempting to solve some of these issues
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/run-command-managed

The updated managed Run Command uses the same VM agent channel to execute scripts and provides the following enhancements over the [original action orientated Run Command](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/run-command):

[2022-09-08 09:17] yonzhan commented on #23818
route to CXP team

[2022-09-08 09:53] RakeshMohanMSFT commented on #22555
@terry-citrix its a protected settings file you have to create with content as below.
![image](https://user-images.githubusercontent.com/49954584/189092680-b897ae8d-4f31-4f94-8fa9-9b74bbe074e2.png)

[2022-09-08 09:55] v-soujanya commented on #23509
@williamohara, we tried to repro the issue using terraform pipelines by following the below doc (creation of terraform pipelines etc). https://www.azuredevopslabs.com/labs/vstsextend/terraform/#:~:text=Overview,as%20custom%20in%2Dhouse%20solutions.
we are able to see the InProgress run with --top 10 parameter also but all this activity we are performing on our windows machine as we don't have ubun

[2022-09-08 10:03] vyshnavi-gadiparthi opened #23820 "Certificate Verify Failed for az login command on mac"
Getting the below error after setting REQUESTS_CA_BUNDLE=cacert.pem file path:
HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /organizations/oauth2/v2.0/token (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: self signed certificate in certificate chain (_ssl.c:997)')))
Certificate verificat

[2022-09-08 10:28] qTipTip opened #23821 "Azure CLI: API version 2022-05-01 does not have operation group 'storage_accounts'"
Hello!

## Describe the bug

**Command Name**
`az storage blob upload`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login --service-principal --username {} --tenant {} --password {}`
- `az storage blob upload -f {} -c {} -n {} --account-name {} --subscription {} --auth-mode key

[2022-09-08 11:34] gnaneshke opened #23822 "Getting Authorization error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --resource {} --subscription {}

[2022-09-08 12:09] devedsonbelem opened #23823 "Desejo trabalhar com Kubernete Aks para fazer o load Ballancer"
i wish to work with load ballancer and aks and jenkins treadmill

[2022-09-08 12:45] antoniosalomone opened #23824 "Function zip deployment error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2022-09-08 12:51] Marwen-TAALLAH commented on #23700
Even the zip deploy doesn't work. Here's the situation:
I have this terraform rsource:

[code]

Nos as you can see, I'm using the zip deploy but now i'm having this error:
![local_exec](https://user-images.githubusercontent.com/29490363/189126246-5b4b3fc3-c465-4616-a063-087d1d9724b0.png)

I noticed that a lot of people had this error before since even 2020 and no one suggested a solution!

[2022-09-08 13:20] yonzhan commented on #23820
Please go through this issue and see if it helps
https://github.com/Azure/azure-cli/issues/21514

[2022-09-08 13:20] #23820 closed

[2022-09-08 13:21] yonzhan commented on #23821
@evelyn-ys for awareness

[2022-09-08 13:25] jurjenoskam commented on #23804
This would of course be true when _getting_ a secret, but this issue is about _setting_ a secret. If you're setting a secret in an API call, there's no need for the answer to contain the secret in cleartext.

Right, so when can I expect the update to, say, Azure DevOps Pipelines so that it will no longer "blindly save all pipeline command outputs to logs"? But in all seriousness: the expected leve

[2022-09-08 13:28] yonzhan commented on #23822
@jiasli for awareness

[2022-09-08 13:30] yonzhan commented on #23823
route to CXP team

[2022-09-08 13:31] yonzhan commented on #23824
route to CXP team

[2022-09-08 14:25] RakeshMohanMSFT commented on #23822
@gnaneshke Please go through this article https://stackoverflow.com/questions/68160287/microsoft-azure-ad-error-descriptiondue-to-a-configuration-change-made-by-you also I suggest you open a support ticket for further troubleshooting. This isn't really a CLI issue per se.

[2022-09-08 14:27] #23822 closed

[2022-09-08 14:41] auwi987 commented on #23796
do we need to create separate ticket for this or can someone from you guys reroute this to the right channel? all i know is im using azure cli and i dont know as well the exact translation from cli to rest service behind so i dont know how to explain it to the channel you're mentioning.

[2022-09-08 14:52] catluker-wandisco opened #23825 "az consumption budget command faulty"
Hi

I'm seeing this problem every time I try to run this command to get the details for my subscription -

Command group 'consumption' is in preview and under development. Reference and support levels: https://aka.ms/CLI_refstatus
(422) This operation is not supported in the version specified in the request. Please use version 2019-10-01-preview or later. (Request ID: 8968fd1b-5987-4fc8-842a-69962

[2022-09-08 15:09] PramodValavala-MSFT commented on #23700
@Marwen-TAALLAH Could you run the command shown at the end of the error log - `az webapp log deployment show -n dworkerFnexec -g dev-de-azure-test` and share the log from there?

[2022-09-08 16:30] garrett-gkp commented on #23809
Oh, I installed using yum and the instructions on that website. Is there a way for me to upgrade the ```azure-multiapi-storage``` package you mentioned?

Note that my Azure connection failed after a few months of no issues and no changes from my side, so I suspect something changed on the Azure side. Is there any sense of an ETA for a fix?

[2022-09-08 16:44] #23791 closed

[2022-09-08 17:50] PramodValavala-MSFT commented on #23823
@devedsonbelem The [official AKS docs](https://docs.microsoft.com/en-us/azure/aks/load-balancer-standard) should cover the details on this.

[2022-09-08 22:06] Marwen-TAALLAH commented on #23700
Here's a screenshot with all the app setting set as you told me and the WEBSITE_RUN_FROM_PACKAGE = 1:

![2nd](https://user-images.githubusercontent.com/29490363/189233566-b16f12f2-4cf1-4fcd-93b1-e8ef865b4a20.png)
I'm still grtting the exact same problem:

![error_exec2](https://user-images.githubusercontent.com/29490363/189234195-58fc108e-5698-4c4c-aeb3-a079c56a57ca.png)

and when running `az weba

[2022-09-08 22:11] JLunda commented on #17206
I would say this issue needs to be reopened. As the original poster commented, the deployment failure is due to a non-globally-unique name, but the error message is not clear about this being the cause.

[2022-09-08 22:56] PrestonGiorgianni commented on #23744
@evelyn-ys Are there any updates on this issue?

[2022-09-09 00:06] yonzhan commented on #23825
route to CXP team

[2022-09-09 01:36] RyanHill-MSFT opened #23827 "Function runtime not being set properly when using ~4"
**Related command**
az functionapp create --name funcapp --storage-account storageaccount --os-type Windows --consumption-plan-location eastus2 --runtime dotnet --runtime-version 6 --functions-version 4 --disable-app-insights

**Describe the bug**
When using the above command, the portal reports that the function runtime version is reported as being an unsupported version.

![image](https://user-i

[2022-09-09 01:40] yonzhan commented on #23827
route to CXP team

[2022-09-09 01:53] svadimsh commented on #16573
any update on that feature?

[2022-09-09 02:15] yanzhudd commented on #23614
Hello @AjKundnani, could you please help to confirm below two details in this issue?
- what is the difference between creating OS disk and data disk in terms of user passing parameters?
- in the scenario 1, is the condition of setting the default value met when the value of `DiskCreateOption` is passed as empty?

[2022-09-09 02:46] zhoxing-ms commented on #23796
Sorry, I just explained this is a server related issue, and we will route it to the appropriate service team

@nkuchta Could you please take a look at the VM extension related issue? Or do you know who is the right person to investigate this issue?

[2022-09-09 02:50] navba-MSFT commented on #23818
@luisadanmunoz Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-09 02:53] nkuchta commented on #23796
This has nothing to do with VM extensions. From what I can tell it is
related to the ARM request itself.

On Thu, Sep 8, 2022, 7:46 PM Xing Zhou ***@***.***> wrote:

[2022-09-09 02:58] RakeshMohanMSFT commented on #23825
@catluker-wandisco Thank you for reaching out, we are looking into it.

[2022-09-09 02:59] RakeshMohanMSFT commented on #23824
@antoniosalomone Thank you for reaching out, we are looking into it.

[2022-09-09 03:46] zhoxing-ms commented on #23796
@auwi987 Could you please send the debug log to me by email? My email address is Zhou.Xing@microsoft.com, thanks!

[2022-09-09 04:13] jiasli commented on #23822
2.0.81 is not the official Azure CLI (https://github.com/Azure/azure-cli/issues/19640).

Please follow https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt to install the official latest version which has Conditional Access support (https://github.com/Azure/azure-cli/pull/17738). It will let you know which command to call.

[2022-09-09 04:52] RakeshMohanMSFT commented on #23825
@catluker-wandisco We are unable to reproduce this issue? can you share your environment details using az --version?

![image](https://user-images.githubusercontent.com/49954584/189274325-4df2d5e1-393b-4e50-b4d0-aeb0601131c1.png)

[2022-09-09 04:55] vyshnavi-gadiparthi commented on #23820
Hi @yonzhan ,

I tried #21514 that doesnot help, I see nothin gworng from the network side in my system.

[2022-09-09 04:58] navba-MSFT commented on #23634
@mckenzm  Yes it seems to be a bug on the kudu site. Our docs explains this saying download might fail on Linux: [az webapp log | Microsoft Docs](https://docs.microsoft.com/en-us/cli/azure/webapp/log?view=azure-cli-latest#az-webapp-log-download)

![image](https://user-images.githubusercontent.com/57353862/189274888-bb40db37-416a-4b7c-ab16-fad7795c563a.png)

[2022-09-09 05:02] navba-MSFT commented on #23718
@bjornhjelle Yes it seems to be a bug on the kudu site. Our docs explains this saying download might fail on Linux: [az webapp log | Microsoft Docs](https://docs.microsoft.com/en-us/cli/azure/webapp/log?view=azure-cli-latest#az-webapp-log-download)

![image](https://user-images.githubusercontent.com/57353862/189275356-284e83ff-8fe0-4803-91e5-291c05beea5c.png)

[2022-09-09 05:43] RakeshMohanMSFT commented on #23824
@antoniosalomone Can you please verify your appsettings (Application settings) in the portal and share --debug trace with us?

[2022-09-09 05:44] navba-MSFT commented on #23818
@luisadanmunoz I think it's a platform issue related to the unique combination Windows + Python.

Could you please try to update the Windows system language setting as shown below ?

Control panel -> Clock and Region -> Region -> Administrative -> Change system locale -> Check Beta: Use Unicode UTF-8 for worldwide language support.

![image](https://user-images.githubusercontent.com/57353862/18927

[2022-09-09 06:01] #23812 closed

[2022-09-09 06:39] kevinzz6 commented on #23803
@onenessboy  Hi, thanks for your issue. We will add a parameter to support this feature.

[2022-09-09 06:54] navba-MSFT commented on #23762
@montanoeuse The error seems to be specific to establishing the network connection. Also since you confirmed that the same commands work fine on another environment, It seems like the issue is only related to your enviornment. I could see the below in your debug output:

Could you confirm if you had entered the right account name ?

Could you please send me the complete debug output over email as-

[2022-09-09 07:24] jiasli commented on #23561
We have removed the outdated example with Aladdin recommendation team:

![image](https://user-images.githubusercontent.com/4003950/189295009-984864f3-2d9b-4405-891b-a7c638ad81ff.png)

[2022-09-09 10:02] marcobompani commented on #20649
I'm getting the same error. I tried to sign in both interactively and with credentials on the command line.

I'm connecting via a proxy and I'm using the 2.38.0 client version.

[2022-09-09 11:03] thohan88 opened #23833 "Misleading example documentation for az containerapp secret"
The example uses `MySecretName1` which according to the following CLI-command (AZ Cli 2.40.0 containerapp 0.3.10)
[code]
returns
[code]

According to this, it should be `mysecretname1`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a4c2a84-890b-8c80-35ba-4b88f4fd52f3
* Version Independent ID: dc8c1147-dd84-6ef3-2744-6

[2022-09-09 11:03] gowdadiksha commented on #23394
Hi. Any update on this  ?

[2022-09-09 11:09] Prasanth-Sundarrajan commented on #23803
Thanks for reply @kevinzz6 is there any ETA for this. the reason being we need to use this for many account as part of cicd process...thank you in advance

[2022-09-09 11:54] yonzhan commented on #23833
route to CXP team

[2022-09-09 12:42] RyanHill-MSFT commented on #23827
@PramodValavala-MSFT let me know what you think. It could be an ARM issue.

[2022-09-09 13:55] Marwen-TAALLAH commented on #23700
Adding the **version** an the **site_config** to the resource made the **terraform apply** pass but with a **202 status code** so after the apply passes I don't find my function in the azure portal.

The changes I added:

![5th](https://user-images.githubusercontent.com/29490363/189365723-56208a7d-41ba-42f4-85f7-c21ea1067c76.png)

The result i'm getting:
![202-1](https://user-images.githubusercont

[2022-09-09 13:58] PramodValavala-MSFT commented on #23700
@Marwen-TAALLAH You still have the `WEBSITE_RUN_FROM_PACKAGE` app setting [which should be removed](https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package#general-considerations) for Remote Build to work. Sorry for not being explicit about this earlier.

[2022-09-09 17:05] SaurabhSharma-MSFT commented on #23769
@ferronsw I am able to connect to postgres flexible server without any issues. Have you added the correct ip address of your machine to postgres flexible server ? Also, please try updating `rdms-connect` extension using `az extension update --name "rdbms-connect"` and try again.

[2022-09-09 17:09] Marwen-TAALLAH commented on #23700
Now after doing that, the function is uploaded but I'm not able to use the **ManagedIdentityCredential** in my python app function.
Te piece of code that is causing the error (line 31):
![mds](https://user-images.githubusercontent.com/29490363/189405471-1305206c-1eeb-4bc8-81d0-455e20865fa3.png)

the error message i'm getting:
![mds_error](https://user-images.githubusercontent.com/29490363/18940598

[2022-09-09 17:10] PramodValavala-MSFT commented on #23808
@slnowak Thanks for the feedback! We will review and update accordingly.

[2022-09-09 17:29] PramodValavala-MSFT commented on #23808
@slnowak A workaround in the meantime is to pass `-o json`  to get the full output which includes the logs and exit code, which can be parsed using something like `jq` or even just pass `-o json --query exitCode` if you are interested in the logs. Something like this could get `$?` to have the right value

[code]

[2022-09-09 17:29] Olosinsk-commits opened #23835 "cmdlet 'az ad group member list' doesn't return service principals"
**Related command**

az ad group member list previously was returning SP on 2.36.0:
![image](https://user-images.githubusercontent.com/11326592/189408915-c55190a7-75e2-4e7f-948a-02d4eaba9445.png)

and stopped returning starting from 2.37.0
![image](https://user-images.githubusercontent.com/11326592/189409207-5940c8eb-5354-429a-8a81-7ca0d88c5ae2.png)

From one side, it seems expecting based on the

[2022-09-09 17:49] PramodValavala-MSFT commented on #23700
@Marwen-TAALLAH Could you confirm if you have Managed Identity configured correctly, since the terraform code you shared doesn't seem to have the [`identity`](https://registry.terraform.io/providers/hashicorp/azurerm/latest/docs/resources/function_app#identity) block in it.

[2022-09-09 18:33] bmaupin opened #23836 "Unexpected behaviour creating service principal with same name as managed identity"
**Related command**

`az ad sp create-for-rbac`

**Describe the bug**

I tried to create a service principal with this command:

[code]

If a managed identity with the same name already exists, then:

- It adds the managed identity to the contributor role for the APIM instance
- It creates a new "App registration" in Azure
- It returns the credentials for the App registration

If I then try to log

[2022-09-09 19:57] kmkelly2015 commented on #23797
Thank you @jiasli , I second what @JackSch said, this has saved us a lot of pain.

[2022-09-10 00:24] sindhualuguvelli1 commented on #23418
[PerRuleActions (1).docx](https://github.com/Azure/azure-cli/files/9539278/PerRuleActions.1.docx)

@necusjz Uploaded the design document here.

[2022-09-10 00:31] SaurabhSharma-MSFT commented on #23833
@thohan88 The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2022-09-10 00:31] #23833 closed

[2022-09-10 00:45] AlecWolman-msft commented on #23376
Sorry for the delay.

Here is some of the output requested:

% env
HOSTTYPE=x86_64
LANG=en_US.UTF-8
PATH=/home/alecw/bin.x86_64-linux:/home/alecw/bin.sh:/usr/local/bin:/usr/bin:/usr/sbin:/bin:/sbin:/usr/bin/X11:.
TERM=xterm-256color
WSLENV=WT_SESSION::WT_PROFILE_ID
WT_SESSION=ed52d7ab-de4c-4146-9121-d9d059a4c79b
WT_PROFILE_ID={17bf3de4-5353-5709-bcf9-835bd952a95e}
WSL_INTEROP=/run/WSL/4938_interop

[2022-09-10 00:55] yonzhan commented on #23700
route to CXP team

[2022-09-10 01:03] yonzhan commented on #23835
@jiasli for awareness

[2022-09-10 01:17] yonzhan commented on #23836
@jiasli for awareness

[2022-09-10 01:53] auwi987 commented on #23796
@zhoxing-ms sent!

[2022-09-10 06:17] devdp opened #23837 "az storage failed, not able tp upload files"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob upload`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob upload --file {} --container-name {} --account-na

[2022-09-10 13:25] yonzhan commented on #23837
Please provide detailed error log

[2022-09-11 02:20] williamohara commented on #23509
I use yaml files for all my pipelines. I have attached one, perhaps you could mimic one that is similar.
I think the yaml is pretty well structured and easy to follow, but here is a rundown of it,

1. All of my variables for my yamls are stored in my Azure DevOps Library
2. I am installing terraform and initializing it
3. I do the Tf plan stage and then read the output to determine if there are ch

[2022-09-11 14:37] RakeshMohanMSFT commented on #23806
@gmns-mgl Thank you for reaching out, we are looking into it.

[2022-09-11 17:15] abhijeet2083 commented on #23475
Same issue here

[2022-09-11 20:07] catluker-wandisco commented on #23825
Hi

I'm using a Mac and the details are
Cats-MBP:~ cat$ az --version
azure-cli                         2.40.0

core                              2.40.0
telemetry                          1.0.8

Extensions:
alias                              0.5.2
front-door                        1.0.16
azure-devops                      0.20.0
storage-preview                    0.8.0
livedata

[2022-09-11 21:16] Abhinavgundapaneni opened #23838 "Issue with "getaddrinfo" failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az synapse notebook create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az synapse notebook create --workspace-name {} --name {} --fi

[2022-09-11 23:51] yonzhan commented on #23838
route to CXP team

[2022-09-12 02:39] navba-MSFT commented on #23838
@Abhinavgundapaneni Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-12 03:51] navba-MSFT commented on #23634
@mckenzm Our Product Group team has identified the cause and shared the below RCA:

The Microsoft Azure Team has investigated the issue you reported regarding log download not working for your app.

Upon investigation, engineers determined that this was due to a code bug in the Kudu site, which creates the zip archive containing all logs. We identified a race condition which could cause the zip ar

[2022-09-12 03:51] #23634 closed

[2022-09-12 03:51] navba-MSFT commented on #23718
@bjornhjelle Our Product Group team has identified the cause and shared the below RCA:

The Microsoft Azure Team has investigated the issue you reported regarding log download not working for your app.

Upon investigation, engineers determined that this was due to a code bug in the Kudu site, which creates the zip archive containing all logs. We identified a race condition which could cause the zi

[2022-09-12 03:51] #23718 closed

[2022-09-12 04:23] navba-MSFT commented on #23818
@luisadanmunoz I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any update on this. Awaiting your reply.

[2022-09-12 05:15] navba-MSFT commented on #23838
@Abhinavgundapaneni Looking at the error message, its pretty clear that the issue is due to the network connectivity. Could you please confirm if you have any proxy / firewall within your corporate network ? This seems to be causing the network connectivity to fail.

Could you please test from a different network and check if the same command fails ? Awaiting your reply.

[2022-09-12 05:27] RakeshMohanMSFT commented on #23825
@catluker-wandisco I am really unable to reproduce this issue, let me engage the product team to look into it.

[2022-09-12 06:48] gmns-mgl commented on #23806
Of course!
{
  "azure-cli": "2.40.0",
  "azure-cli-core": "2.40.0",
  "azure-cli-telemetry": "1.0.8",
  "extensions": {}
}

[2022-09-12 07:02] navba-MSFT commented on #23837
@devdp Thanks for reaching out to us and reporting this issue. Could you please elaborate your issue and run the same command with `--debug `switch ? Please share the detailed debug out here so that we can assist you better. Awaiting your reply.

[2022-09-12 07:06] SushmithaVReddy opened #23840 "Support --min-instances as part of az functionapp create command"
**Related command**
az functionapp create

**Is your feature request related to a problem? Please describe.**
We have a use case where we want to be able to define the minReplicas for a function app on arc to be 0 (The default is being set to 1 currently). Function apps in arc are created using az functionapp create command and so we are looking if --min-instances can be supported by the command

[2022-09-12 07:10] fgheysels commented on #10066
I have worked around this by running this task on a ubuntu hosted agent instead of on a windows hosted agent in Azure Devops.

[2022-09-12 09:08] yonzhan commented on #23840
route to CXP team

[2022-09-12 09:39] AjKundnani commented on #23614
@yanzhudd
1. Disk will be OS disk if:
    - If the `CreateOption` is set to **FromImage**
    - If the `CreateOption` is Import, Upload or Empty and `--os-type` parameter is provided.
2. Correct, when `CreateOption` is set to **Empty**
3. It should be [az sig image-definition show](https://docs.microsoft.com/en-us/cli/azure/sig/image-definition?view=azure-cli-latest#az-sig-image-definition-show)

[2022-09-12 09:54] jonassamuelssoncab opened #23841 "tag parameter is not documented for az acr import"
**az acr import** does not list **tag** as a possible parameter, even though it is supported & included in some of the examples.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c608162e-cf40-9d53-da4a-51f51a0311ea
* Version Independent ID: eccbb543-be68-7de2-d41d-abee55c81452
* Content: [az acr](https://docs.microsoft.c

[2022-09-12 10:19] yonzhan commented on #23841
route to CXP team

[2022-09-12 11:46] RakeshMohanMSFT commented on #23841
@jonassamuelssoncab do you mean with the help command? -h.

[2022-09-12 13:15] TobiTh opened #23843 "Resetting the app registration credentials with the sp object id does return a new password but does not save it"
## Describe the bug

When using the credential reset command on the sp level with the sp object id, the password gets not resetted. The CLI does return a new passord but the Azure Portal does not show it in the app registration.
The documentation does say that it works with the spObjectId, which it did for a while.

The credential reset does work with the appId or with the `az ad app credential re

[2022-09-12 13:22] yonzhan commented on #23843
@jiasli for awareness

[2022-09-12 13:52] jonassamuelssoncab commented on #23841
@RakeshMohanMSFT I was referring to the [online docs](https://docs.microsoft.com/en-us/cli/azure/acr?view=azure-cli-latest#az-acr-import).

I've now seen that `-t` is documented as part of `--image`.
It took me a few passes to see this though since I expected `-t` to be a short form of `--tag`.

[2022-09-12 14:15] mindlessroman opened #23844 "Documentation for AzCLI to acknowledge Incomplete Data Factory Functionality"
Considering #18536's request for `az datafactory dataflow` commands is in a backlog and is not currently supported... Can there be an explicit call out in the documentation that:

a.) Notes that there is not 100% supported feature parity across AzCLI and its Powershell counterpart, or
b.) At a minimum calls out that dataflow commands are not supported (yet/currently)? And point to the Powershell d

[2022-09-12 14:23] mlesser3cloud commented on #20997
Any movement on this?

[2022-09-12 14:36] yonzhan commented on #23844
route to CXP team

[2022-09-12 15:11] scott-doyland-burrows opened #23845 "az appservice plan create - cannot create zone redundant plan for WS1 worker"
**Related command**
[code]

**Describe the bug**
The command does not allow a zone redundant WS1, WS2 or WS3 plan to be defined.  It is a valid Azure option to use zone redundancy with these plan types.  The error message is:

[code]

**To Reproduce**
Run the the above command after logging into Azure and setting you preferred default subscription and defining a resource group named ```myrg```.

*

[2022-09-12 17:43] OmkarShidore opened #23846 "az login issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-09-12 20:27] SaurabhSharma-MSFT commented on #23738
@resqrobert Our Product Group team has identified the cause and shared the below RCA:

The Microsoft Azure Team has investigated the issue you reported regarding log download not working for your app.

Upon investigation, engineers determined that this was due to a code bug in the Kudu site, which creates the zip archive containing all logs. We identified a race condition which could cause the zip

[2022-09-12 20:27] #23738 closed

[2022-09-12 21:19] krisek opened #23848 "API version 2022-03-01 does not have operation group 'web_apps'"
## Describe the bug
No `az webapp` commands work with the current version of the `az` command.

**Command Name**
`az webapp list`

**Errors:**
[code]

## To Reproduce:

- `az webapp list -o {}`

## Expected Behavior

The webapp list is returned.

## Environment Summary
[code]
## Additional Context

[2022-09-12 21:49] SaurabhSharma-MSFT commented on #23772
@ANithish I do not see any issues executing the cmdlet and it works fine.
What is the "datafactory" version in your CLI environment ?
Also, can you please share the debug information by using the same command with `--debug`.

[2022-09-12 22:02] SaurabhSharma-MSFT commented on #23769
@ferronsw Please let me know if you still have any questions else, we will be proceeding with the closure of this issue.

[2022-09-12 22:56] yonzhan commented on #23845
route to CXP team

[2022-09-12 22:58] yonzhan commented on #23846
@jiasli for awareness

[2022-09-12 23:00] yonzhan commented on #23848
route to CXP team

[2022-09-12 23:15] niander commented on #23221
I know someone else who is also finding their Azure CLI installation using `/opt/az/extensions/` as Extensions directory. They may be using the same image you are using @mbreslav.

@jiasli Did older versions of Azure CLI used to using `/opt/` for extensions directory?

I would recommend you all to also check if `$AZURE_EXTENSION_DIR` is set to anything.

[2022-09-12 23:20] panchagnula commented on #23848
@krisek thanks for reporting but I wasn't able to repro this with the latest version. I used https://shell.azure.com to verify.
If this is your local CLI - can you try to  run az upgrade & re-try the command.

[2022-09-12 23:24] panchagnula commented on #23845
@scott-doyland-burrows are these value allowed via other clients. Checking with LA folks if this is supported.

[2022-09-12 23:28] panchagnula commented on #23840
No plans at this time to support this property with create. This can be supported using config set & --generic-configurations on an existing app. We do have plans to add this property as its own parameter in the set command.
https://docs.microsoft.com/en-us/cli/azure/functionapp/config?view=azure-cli-latest#az-functionapp-config-set

[2022-09-12 23:28] #23840 closed

[2022-09-12 23:30] panchagnula commented on #23827
@RyanHill-MSFT can you do a az functionapp show post creating & check the properties set. if the right value is set on the properties then this might be a portal issue & should be reported to them. Thanks!

[2022-09-12 23:34] panchagnula commented on #21618
@Hamster-Huey who owns "auth" commands.

[2022-09-12 23:40] garrett-gkp commented on #23809
Any ideas what might be going on here? @yonzhan @evelyn-ys @jiasli ?

[2022-09-13 01:14] tgolly commented on #14768
This worked for me on MacOS:

[code]

[2022-09-13 01:23] alanenriqueo commented on #23810
Hi @plynch66, the deployment just completed. Can you try again?

[2022-09-13 01:50] tshaiman opened #23851 "Network Profile creation step cannot be performed"
[Enter feedback here]
at the top of the page it is stated that `az network profile` create is only available on the resource create phase
and that uses should consult the specific resource. the only supported resource for now is `container instances`

when looking at container instances created CLI you see no reference / command to create network profile :
https://docs.microsoft.com/en-us/cli/azur

[2022-09-13 01:58] RakeshMohanMSFT commented on #23841
@jonassamuelssoncab Usual image and tags are added as a single parameter right? also even in the --image param you can send both imagename:tagname. I am not sure if there is any scope to change the document. Let me know if you are ok to close this thread.

[2022-09-13 02:03] RakeshMohanMSFT commented on #23845
@scott-doyland-burrows I think this is a similar issue https://github.com/Azure/azure-cli/issues/23488 which @StrawnSC is looking into. I will verify further.

[2022-09-13 02:17] evelyn-ys commented on #23809
Do you mean that this issue still exist after installing Azure CLI following https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=script?

[2022-09-13 02:27] bebound commented on #23846
Duplicate of #20723

[2022-09-13 02:27] #23846 closed

[2022-09-13 02:28] g4suchandra opened #23852 "azure cli account show"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account show`

## Expected Behavior

## Environment Summary
[code]
##

[2022-09-13 02:35] yanzhudd commented on #23492
Hello @eymizrac, any update for the Swagger link?

[2022-09-13 03:01] jiasli commented on #23797
Similarly, argument names can also be included in the array:

[code]

[2022-09-13 03:04] navba-MSFT commented on #23799
@lhotrifork Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-13 03:05] navba-MSFT commented on #23779
@SergeiDavydov Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-13 03:40] yonzhan commented on #23851
@necusjz for awareness

[2022-09-13 04:06] yonzhan commented on #23852
@jiasli for awareness

[2022-09-13 04:29] John-Bosch opened #23854 "Getting "Unable to parse parameter" with "az deployment group create" and parameter files since 2.40.0"
**Related command**
az deployment group create

**Describe the bug**

Some Azure Dev Ops MS hosted agents have upgraded their Azure CLI from 2.39.0 to 2.40.0. Whenever we get and agent with 2.40.0 our Azure CLI scripts that trigger bicep deployments fail with the error

ERROR: Unable to parse parameter: @D:\a\1\s\Infrastructure\FunctionApps\common-parameters.json @D:\a\1\s\Infrastructure\FunctionA

[2022-09-13 04:41] yonzhan commented on #23854
@zhoxing-ms for awareness

[2022-09-13 05:29] jiasli commented on #23852
Running `az account show` without running `az login` first will give your that error. Please explain the problem you have.

[2022-09-13 05:48] pankajdevrani opened #23855 "not able to do az aks login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2022-09-13 06:00] krisek commented on #23848
Thanks for the feedback, I used the the debian installer script.

It worked now with the generic CLI installer.

[2022-09-13 06:03] RakeshMohanMSFT commented on #23848
@krisek Glad it worked. Closing the thread now.

[2022-09-13 06:03] #23848 closed

[2022-09-13 06:22] jonassamuelssoncab commented on #23841
@RakeshMohanMSFT Yes it's perfectly doable to pass both image name and tag, that is what I'm doing now 😃 you can close this issue.

[2022-09-13 06:31] #23841 closed

[2022-09-13 06:42] navba-MSFT commented on #23734
@shaikmoeed Apologies for the late response. I have heard back from the Product Owners and unfortunately, there are no other options available at the moment. Customers can use a combination of ACR Tasks, ADO tasks, and custom implementation to achieve your goals but there is no out-of-the-box solution you can leverage. An alternative is for you to host your own [Dependabot](https://github.com/depe

[2022-09-13 06:42] #23734 closed

[2022-09-13 06:53] scott-doyland-burrows commented on #23845
Yes, WS1/2/3 support zone redundancy.  It works via the portal.

[2022-09-13 07:00] yonzhan commented on #23855
route to CXP team

[2022-09-13 07:06] Euronames opened #23857 "Az KeyVault secret set fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault secret set --name {} --vault-name {} --value`

## Exp

[2022-09-13 07:14] yonzhan commented on #23857
@evelyn-ys for awareness

[2022-09-13 07:18] PARADISSEEKR commented on #23727
Hi @Ochirkhuyag What should we do for it? To add a command for acceptOwnershipStatus? such as `az accept ownership status`?

[2022-09-13 07:21] jiasli commented on #23389
Another ad-hoc API version used by `appservice` command module:

https://github.com/Azure/azure-cli/blob/daa3b68229589948f7544c4aa12404618df81584/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L3009

[2022-09-13 07:24] #23857 closed

[2022-09-13 07:28] navba-MSFT commented on #23799
@lhotrifork I believe you are using macOS. Could you please install Azure Bicep manually and add it to your **PATH** to see if that helps ?

When installing manually, select a location that is different than the one managed by Azure CLI. All of the following examples use a location named bicep or .bicep. This location won't conflict with the location managed by Azure CLI, which uses .azure.

You c

[2022-09-13 07:32] ferronsw commented on #23769
I think it's because I use VNET integration for the postgres instance. The machine I run the PowerShell command from can connect to the server. But maybe the command isn't executed from this machine?

I already have the latest version of `rdms-connect`.

[2022-09-13 07:43] vivek602 commented on #23666
1. az tag create command is returning Authorization failed Error:
2. I am running below given azure cli command in azure pipelines tasks, azure cli version is 2.39.0
+ az tag create --resource-id /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxdd43/resourceGroups/AZ-xx-ixxxxxxxxxxx-xxxxxx-xx-xx/providers/Microsoft.Databricks/workspaces/xxxxxxxxdatabricks --tags version=1.240.16

[2022-09-13 08:02] #23160 closed

[2022-09-13 08:02] #23110 closed

[2022-09-13 08:02] #21107 closed

[2022-09-13 08:07] walleyy opened #23859 "cant login using az login with error Decryption failed: [WinError -2146893813]"
after inputing az login,

Decryption failed: [WinError -2146893813] Key not valid for use in specified state.. App developer may consider this guidance: https://github.com/AzureAD/microsoft-authentication-extensions-for-python/wiki/PersistenceDecryptionError

**To Reproduce**
logout of azure then use az login,

the browser will prompt you to choose account and use information to complete authentic

[2022-09-13 08:40] navba-MSFT commented on #23803
@onenessboy @Prasanth-Sundarrajan Please _modify_ and _run_ the below command. This should help you in setting the Public Network access for your synapse workspace.

The below command helps you to **Enable** the publicNetworkAccess:
[code]

The below command helps you to **Disable** the publicNetworkAccess:
[code]

Please test and let me know. Awaiting your reply.