[2022-06-09 14:56] chgeuer commented on #22801
So are you saying for a vault, the RBAC data is a regular role assignment in the ARM management plane, and for an HSM the permissions are inside the HSM?

[2022-06-09 15:04] gstolz opened #22815 ""az k8s-configuration flux create" leads to k8s service account "flux-applier" requesting cluster-role-binding instead of role-binding"
**Related command**
`az k8s-configuration flux create --resource-group test --cluster-name test-aks --name cluster-config --namespace cluster-config --cluster-type managedClusters --scope namespace --url https://github.com/Azure/gitops-flux2-kustomize-helm-mt --branch main --kustomization name=infra path=./infrastructure prune=true --kustomization name=apps path=./apps/staging prune=true`

**Descr

[2022-06-09 15:41] MatthewGleeson opened #22816 "Azure-cli incompatible with azureml-core"
**Related command**

I'm trying to install this package in a python environment. In my requirements.txt, I have:

azure-cli==2.37.0
azureml-core==1.42.0

**Describe the bug**

Cannot pip install both packages, the conflict is caused by:
    azure-cli 2.37.0 depends on azure-mgmt-resource==21.1.0b1
    azureml-core 1.42.0 depends on azure-mgmt-resource<=21.0.0 and >=15.0.0

These are the most recen

[2022-06-09 16:01] #22801 closed

[2022-06-09 17:05] Riddle4045 commented on #8163
@tjprescott  any chance we can bump this up, this seems to be a critical feature gap.

[2022-06-09 17:28] jjaguirre394 commented on #22791
My mistake I was installing the wrong version. Please feel free to close this issue.

[2022-06-09 17:51] nagula-ritvika opened #22817 "{VirtualWan} Support RoutingIntent resource"
1. Resource provider : Az.Network
2. Description of feature or work requested : https://github.com/Azure/azure-powershell-cmdlet-review-pr/issues/1179
3. Minimum API version required. What is the minimum API version of your service required to implement your feature? 2020-11-01
4. Swagger link: https://github.com/Azure/azure-rest-api-specs/pull/15998/files
5. Target date : July end(https://github.

[2022-06-09 18:26] jamesongithub commented on #22564
is there way to change the api version to work around this?

[2022-06-09 19:18] nharper285 commented on #22564
I am getting this same error. Is there any update on a workaround?

[2022-06-09 21:44] johndowns commented on #21160
@ZengTaoxu yes this has been fixed in a recent version of the CLI. Thanks.

[2022-06-09 21:44] #21160 closed

[2022-06-09 22:43] yonzhan commented on #22814
network

[2022-06-09 22:46] yonzhan commented on #22815
route to CXP team

[2022-06-09 22:47] yonzhan commented on #22816
route to CXP team

[2022-06-09 22:48] yonzhan commented on #22817
network

[2022-06-09 23:21] fiddlerpianist commented on #22639
Hi @FinVamp1 . I'm on @a3y3 's team and can help here.

It has been our experience that this has been eminently reproducible in our environment:
* Subscription ID: 74545c1b-2b6d-4324-acda-bd921793e015
* Plan: connectx-function-plan-stg (EP1: 1)

We tried this both on Linux and Windows plans, and it did not make a difference.

[2022-06-10 00:04] alexpilon666 opened #22821 "Python v3.10.x - Table Output - ImportError: cannot import name 'Iterable' from 'collections'"
## Describe the bug

`-o table` output does not work as of Python v3.10.x.

**Errors:**
[code]

## To Reproduce:
- Get an ARM template
- Run any command whatsoever with the `-o table` output  format(I've been testing with `az deployment group validate [...] -o table`
- Command runs fine, but returns a non-0 error, with the above-mentioned error message.

Afer running in `--debug` mode, I found tha

[2022-06-10 01:03] sirfamelin commented on #22338
Would it be possible to leverage Get-AzVmssVM to run the following test: Using the current version of the PS modules where only the VMSS model is updated, created a VMSS with trusted launch configuration, confirm that the individual instances do not have the extensions, then compare with using the new version of the PS modules that contains the requested changes and confirm that the individual ins

[2022-06-10 01:35] yonzhan commented on #22821
ARM

[2022-06-10 02:17] houk-ms commented on #20508
the same issue exists in `az containerapp connection -h`, which i think is caused by same reason

[2022-06-10 02:53] jiasli commented on #22809
Duplicate of #20221

[2022-06-10 02:53] #22809 closed

[2022-06-10 02:56] jiasli commented on #22810
Thanks for reporting this issue and I will take a look, but please be aware that using `az rest` to call MS Graph is not an officially warranted usage (https://github.com/Azure/azure-cli/issues/22580).

[2022-06-10 03:03] necusjz commented on #22814
@ashish-raj-wenovate, currently it can only be used in Azure PowerShell.

If you desperately need Azure CLI to support it too, please let us know. : )

[2022-06-10 03:24] yanzhudd commented on #22350
@laurawu19 The modified commands are attached following, and are they meet your expectations?

For federatedClientId:
1. create: az disk-encryption-set create ... --federatedClientId "13ebe945-1314-41b4-8b58-f3784e0dd278"
2. update: az disk-encryption-set update ... --federatedClientId "13ebe945-1314-41b4-8b58-f3784e0dd278"

For managed identity:
1. enable managed identity during disk creation
az

[2022-06-10 03:24] kairu-ms commented on #20508
Hi @houk-ms, I didn't find command `az spring-cloud connection` in `spring-cloud` extension.

[2022-06-10 04:17] HariHaraReddyD opened #22825 "az aks get-credentials: FAILURE"
## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --name {} --resource-group {} --overwrite-existing`

## Expected Behavior

## Environment Summary
[code]
## Ad

[2022-06-10 04:21] bmay-cloudwallcapital opened #22826 "Problem when trying to add msgraph permission to my app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad app permission add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad app permission add --id {} --api {} --api-permissions {}`

[2022-06-10 04:23] navba-MSFT commented on #22812
@rotorr Thanks for reaching out to us and sharing this feedback. Could you please use the _lowercase_ for the ACR name and test again ? More Info [here](https://docs.microsoft.com/en-us/cli/azure/acr?view=azure-cli-latest#az-acr-create).

Awaiting your reply.

[2022-06-10 04:39] yonzhan commented on #22825
route to CXP team

[2022-06-10 04:39] yonzhan commented on #22826
@jiasli for awareness

[2022-06-10 05:07] navba-MSFT commented on #22720
@vRITHNER I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you are still facing the same issue after following the above plan. Awaiting your reply.

[2022-06-10 05:07] bmay-cloudwallcapital commented on #22826
In this command, I'm trying to grant a Microsoft Graph permission to my app. (User.ReadWrite.OwnedBy) to my app.  I can do this procedure thru the portal, but if there are workarounds for CLI let me know.

[2022-06-10 05:11] navba-MSFT commented on #22740
@grzeg1 I wanted to do quick follow-up to check if you had a chance to look at my above comment and try the action plan. Awaiting your reply.

[2022-06-10 06:16] ashish-raj-wenovate commented on #22814
Thanks for your reply. Not that urgent but it will be good to have. Most of our scripts are either az cli script or az resource graph API calls using JS. Using PowerShell will just introduce another scripting language in our stack. I will try to look if it is easy enough to get this information through the az resource graph API call.

[2022-06-10 08:11] chasewilson commented on #22275
This is an improvement and along the lines of the issues I saw with the original proposal.

However, there is one issue I have. We are looking at adding another Parameter to a command that already has appx 35 parameters. Is it possibnle to use an existing parameter to accomplish this?

Currently, there is a `--security-type` parameter that accepts a value of `TrustedLaunch`. Is there a way to expa

[2022-06-10 09:08] simonetino opened #22828 "Unable to set a SAS definition in Key Vault"
Azure CLI fails at setting a SAS definition in Key Vault as part of a setup to create a manages storage account.

**Related command**

[code]

**Describe the bug**

The bug occurs when setting a SAS definition in a KeyVault as part of a setup where a Storage Account is managed by such Key Vault:
https://docs.microsoft.com/en-us/azure/key-vault/secrets/overview-storage-keys

**To Reproduce**

Creat

[2022-06-10 09:19] zhoxing-ms commented on #22200
Allows customer to provide ARM ID for Disk Encryption Set created with ConfidentialVmEncryptedWithCustomerKey encryption type. This will allow customer to use Customer Managed Key (CMK) encryption.
ARM URI of Disk Encryption Set ID provided for new parameter --securevm-disk-encryption-set should have encryption type set to ConfidentialVmEncryptedWithCustomerKey.

@AjKundnani These sentences mean t

[2022-06-10 10:20] navba-MSFT commented on #22825
@HariHaraReddyD Thanks for reaching out to us and sharing this feedback. We are looking into this issue and we will provide an update.

[2022-06-10 10:24] yonzhan commented on #22828
keyvault

[2022-06-10 10:28] AjKundnani commented on #22200
@zhoxing-ms - Right, `--sercurevm-disk-encryption-set` only required when `--security-type` is set to **ConfidentialVM_DiskEncryptedWithCustomerKey** else its not needed.

[2022-06-10 10:32] chrbsg opened #22829 "az login opens empty Chrome window in Ubuntu 20.04"
**Related command**
az login

**Describe the bug**
az login opens empty Chrome browser window in Ubuntu 20.04. Location bar is empty. Browser shows default content (Google search).

**To Reproduce**

[code]

Browser shows empty location bar, default page.

**Expected behavior**
browser opens auth page

**Environment summary**
azure-cli 2.37.0-1~focal installed using the recommended installation ba

[2022-06-10 10:33] navba-MSFT commented on #22825
@HariHaraReddyD  You can check under the user profile for file ~/.kube/config. There are 3 required sections which must be present: clusters, contexts and users. I feel there seems to be an issue while reading the Clusters section in this config file. You can try to rename or delete the file and run the [az aks get-credentials ](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#

[2022-06-10 10:34] AjKundnani commented on #22275
@chasewilson, the limitation in this approach is when end user or customer would upload the *VM Guest State Blob*

- To support uploaded *VM Guest State Blob*, create option should be **UploadPreparedSecure**, this is achieved through new parameter `--for-upload-with-security-data`
- To generate default or blank *VM Guest State Blob*, create option should be **Upload**, this is achieved through ex

[2022-06-10 10:52] fcavaco commented on #13683
having this exact error, but cannot see anywhere what the solution was?!
- tried to add --subscription but did not work out.
- The command failed with an unexpected error. Here is the traceback:
'NoneType' object has no attribute 'kind'
Traceback (most recent call last):
  File "D:\a\1\s\build_scripts\windows\artifacts\cli\Lib\site-packages\knack/cli.py", line 231, in invoke
  File "D:\a\1\s\build

[2022-06-10 10:57] fcavaco commented on #13683
just to add in case someone goes through same problem as myself... --subscription is the subscription name, not its id. :)

[2022-06-10 11:57] yonzhan commented on #22829
@jiasli for awareness

[2022-06-10 13:16] iSplasher opened #22830 "Mounting a file share with a key containing a control character silently fails to mount"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Hello, we just solved an issue after hours of debugging with not being able to mount a file share using `az container create`.
The issue is that if your `--azure-file-volume-account-key` contains a control character like so `<storage-key>\r`, the container will be created as if the storage key was correct, how

[2022-06-10 13:47] MeepoZhao opened #22831 "bash run "az login --scope https://management.azure.com/.default " raise error"
**Related command**

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

Authentication failed
invalid_resource: AADSTS500011: The resource principal named https://management.azure.com was not found in the tenant named Bosch China. This can happen if the application has not been installed by the administrator of the tenant or consented to

[2022-06-10 13:50] yuvaraj-azurevm opened #22832 "Az VM repair-- Inplace upgrade"
Hello Team,

We have a existing az Vm repair command to Create Rescue VM and attach the problematic disk, For performing in place upgrade through nested hyper-v, there should be add-on step for attaching ISO file with option to select Windows server 2016/ Windows Server 2019.

There is internal TSG , we wanted the same incorporated through AZ vm repair command.

---
#### Document Details

⚠ *Do no

[2022-06-10 14:08] lipalath-ms opened #22833 "PowerShell command to perform swap with preview"
I have an **_Azure Function App_** with two deployment slots. Is there a PowerShell command to **_swap deployment slots with preview_**?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ce9f5bf9-d178-de1a-645b-be6947a7c049
* Version Independent ID: cb7fb876-160c-e6d9-d473-7ac39b930b48
* Content: [az webapp deployment slo

[2022-06-10 14:34] yonzhan commented on #22831
@jiasli for awareness

[2022-06-10 14:35] yonzhan commented on #22832
Compute

[2022-06-10 14:45] AndrewRobie commented on #20735
@jghal I can definitely discuss looking into this next week with the team. Are you able to provide some information on the VM/region in case we need to take a look at it? If it's something you're unable to share in a public forum, feel free to message me directly.

[2022-06-10 15:47] amoradiaz opened #22834 "Auto Delete on Idle not working as intended"
**Related command**
`az servicebus topic subscription update --auto-delete-on-idle "PT5M"  --ids <xyz>`
`az servicebus topic subscription update --auto-delete-on-idle "00:05:00"  --ids <xyz>`

**Describe the bug**
After calling any of these commands the operation seemingly succeeds but nothing gets updated.

The resulting JSON shows a random date:

[code]

**To Reproduce**
Run command above on an

[2022-06-10 15:50] jghal commented on #20735
I'm happy to share what I can. Meantime I'll try running our Terraform pipeline to disable and then later re-enable tunneling and see if that works.

[2022-06-10 16:35] yonzhan commented on #22834
route to CXP team

[2022-06-10 17:12] arty-hlr commented on #22697
@jiasli Thank you, that makes sense. I'll try uninstalling and reinstalling the manual way making sure it's the official packages.

[2022-06-10 20:43] jghal commented on #20735
Disabling and re-enabling the tunneling option with the Terraform pipeline worked.

[2022-06-10 22:16] wbreza opened #22835 "az deployment [sub|group] create returns invalid JSON on error"
**Related command**
`az deployment group|sub create`

**Describe the bug**
When executing a `az deployment group|sub create` command that has a deployment/provisioning error the error output returns INVALID JSON.

In version 2.28 error output was valid and contained double quoted attribute values.  Latest version of the CLI returns single quoted JSON which is invalid can causes errors when parsing

[2022-06-11 00:36] francisrod01 opened #22837 "Role assignment creation failed through `az ad sp create-for-rbac` command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I'm following the Azure container Apps doc to [Create a service principal and store credential](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tutorial-quick-task#create-a-service-principal-and-store-credentials).

**Command Name**
`az ad sp create-for-rbac`

[code]

**Errors:**
[

[2022-06-11 00:39] yonzhan commented on #22835
ARM

[2022-06-11 00:43] yonzhan commented on #22837
@jiasli for awareness

[2022-06-11 02:05] #21620 closed

[2022-06-11 08:01] #22526 closed

[2022-06-11 08:01] #22444 closed

[2022-06-11 08:01] #20415 closed

[2022-06-11 08:01] #22437 closed

[2022-06-11 08:01] #20151 closed

[2022-06-11 13:15] albertoRamon opened #22838 "az feature registration show vs Create"
there is no consistency in the options

az feature registration show  \
 --name YY  \
 --**provider-namespace** Microsoft.XX

az feature registration create  \
--name YY \
--**namespace** Microsoft.XX

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: be120c4a-4b08-0f6b-0d81-14da42c4e3bd
* Version Independent ID: b248af42-

[2022-06-11 15:43] yonzhan commented on #22838
@zhoxing-ms for awareness

[2022-06-11 16:14] ManojLava opened #22839 "az synapse pipeline update error"
**Related command**
<!az synapse pipeline update --workspace-name wrkname5001 --name MypipelineToSynapse --file @"C:\Users\commom\..\..\PipelineSettings.json"
Command group 'synapse' is in preview and under development. Reference and support levels: https://aka.ms/CLI_refstatus
The command failed with an unexpected error. Here is the traceback:
'properties'
Traceback (most recent call last):
  Fil

[2022-06-11 22:26] Kstuart1992 opened #22840 "all my accounts and service princibles seem to have this issue- I will look up the owner or just try to list the resources even and get a failure on every id I get that associates with any of the 3 accounts I own- is there a command to force a master list or the dependency tree for all ids? maybe something is associated incorrectly"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp show --id {}`

## Expected Behavior

## Environment Summary
[code

[2022-06-11 23:07] francisrod01 commented on #22837
More to add:

#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e99d25ff-03e2-e015-37f4-a29b59ec50d4
* Version Independent ID: 1a8e88ed-72c7-fbe7-b0ad-68f23b3946cd
* Content: [az ad sp](https://docs.microsoft.com/en-us/cli/azure/ad/sp?view=azure-cli-latest#az-ad-sp-create-for-rbac)
* Content Source: [latest/docs-ref-autogen/ad

[2022-06-11 23:12] Kstuart1992 commented on #22840
Thanks by the way - if there is a way to get a top down view I can debug and write up the root cause if it wasn't simply human error.
It works fine with the docker image that is used for my mobile access but on Win or Linux - the CLI is hitting this issue
I was thinking one of a few things based on the verbose error returned from MS Graph:

A token or set of GPG keys that are being checked in an i

[2022-06-12 01:24] yonzhan commented on #22839
route to CXP team

[2022-06-12 01:25] yonzhan commented on #22840
@jiasli for awareness

[2022-06-12 04:33] francisrod01 commented on #22837
I think you guys are working on it,
'cause I keep seeing the deprecated message, but I could run it successfully. 🚀 🎉

[2022-06-12 05:04] karthikeyaonda opened #22841 "Az login issue"
PS C:\azure-tf> az login --tenant 5780a8af-4c6b-44a6-XXXXXXXX
The command failed with an unexpected error. Here is the traceback:
Unable to get authority configuration for https://login.microsoftonline.com/5780a8af-4c6b-44a6-bd5e-a8e812d684b1. Authority would typically be in a format of https://login.microsoftonline.com/your_tenant Also please double check your tenant name or GUID is correct.
Trac

[2022-06-12 05:10] karthikeyaonda commented on #22841
![image](https://user-images.githubusercontent.com/99210086/173215779-56822d7e-ee9f-4de6-87cf-129708baf11f.png)

[2022-06-12 05:39] karthikeyaonda commented on #22841
![image](https://user-images.githubusercontent.com/99210086/173217334-8540aaf7-cbce-4e0f-912a-0e9c53774eb5.png)

[2022-06-12 09:56] snjjay commented on #22244
When attempting to log into a Microsoft Dynamics 365 / CRM instance, you will receive this error. ADFS has returned this message. The problem appears to be that authentication now requires a UPN (user principal name / MSDN – User Name Formats) logon since ADFS was upgraded. See here https://kodlogs.net/193/id3242-the-security-token-could-not-be-authenticated-or-authorized

[2022-06-12 10:25] dabenhamMic opened #22842 "LogAnalytics: log-analytics cluster update"
**Related command**

**Describe the bug**

We have a couple of open tickets on the CLI module:
https://msazure.visualstudio.com/One/_workitems/edit/14318495
https://msazure.visualstudio.com/One/_workitems/edit/14318510

Bugs description:

Updating CMK key with empty version “” fails. I verified and it works fine in REST
PS C:\Users\yossiy> $kUri = 'https://yossiy-eus.vault.azure.net/'
PS C:\Users\

[2022-06-12 10:26] dabenhamMic commented on #22310
@kairu-ms thanks for your response.
opened a new issue: https://github.com/Azure/azure-cli/issues/22842

[2022-06-12 11:13] MurugeswariMuthurajan opened #22843 "ERROR: 'ml' is misspelled or not recognized by the system."
Hi Team,

I am trying to deploy my model, but I am getting an error :-

ERROR: 'ml' is misspelled or not recognized by the system.
2022-06-12T10:56:39.4631524Z
2022-06-12T10:56:39.4632840Z TRY THIS:
2022-06-12T10:56:39.4634550Z az extension add --name anextension
---------------------------------------------------------------------
Kindly find the versions below:-

**_azure-cli

[2022-06-12 15:40] karthikeyaonda opened #22844 "Unable to log into AZ free account subscription"
PS C:\azure-tf> az login --tenant 5780a8af-4c6b-44a6-XXXXXXXX
The command failed with an unexpected error. Here is the traceback:
Unable to get authority configuration for https://login.microsoftonline.com/5780a8af-4c6b-44a6-bd5e-a8e812d684b1. Authority would typically be in a format of https://login.microsoftonline.com/your_tenant Also please double check your tenant name or GUID is correct.
Trac

[2022-06-12 22:00] mdenhoedt opened #22845 "`--auth-mode login` causes crash"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Providing `--auth-mode login` causes crash. Not providing gives a warning suggesting you should provide it. I got the same problem on my laptop and within a Azure DevOps YAML Pipeline.

**Command Name**
`az storage account generate-sas`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Not

[2022-06-13 00:20] yonzhan commented on #22841
@jiasli for awareness

[2022-06-13 00:21] yonzhan commented on #22842
monitor

[2022-06-13 00:23] yonzhan commented on #22843
route to CXP team

[2022-06-13 00:23] yonzhan commented on #22844
@jiasli for awareness

[2022-06-13 00:25] yonzhan commented on #22845
storage

[2022-06-13 02:35] jiasli commented on #22841
`--tenant` accepts tenant ID, but in your screenshot, `5780...` is subscription ID. See #20507

[2022-06-13 02:35] #22841 closed

[2022-06-13 02:35] #20744 closed

[2022-06-13 02:36] jiasli commented on #22844
Duplicate of #22841

[2022-06-13 02:36] #22844 closed

[2022-06-13 03:02] evelyn-ys commented on #22828
This is powershell quoting issue tracked at #15529
You can see explanation and workarounds in https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-with-powershell.md#ampersand--is-interpreted-by-command-prompt

In short, you can use `"""` to wrap your sas token in powershell:
`"""sv=2018-03-28&ss=b&srt=sco&sp=rwdlactfx&spr=https"""`

[2022-06-13 03:09] jiasli commented on #22840
I can't really understand what you are talking about.

If you do see any problem with `az ad sp show`, you may run the command with `--debug` flag, it will print the raw HTTP requests for Graph service and help you troubleshoot your usage or service issue. You may also share the output in this issue as a comment.

[2022-06-13 03:09] hyoshioka0128 opened #22846 "Typo "Azure bastion"→"Azure Bastion""
https://docs.microsoft.com/en-us/cli/azure/network/bastion?view=azure-cli-latest

![image](https://user-images.githubusercontent.com/40815708/173272614-049239fd-65ed-4acd-bb31-201c2a692889.png)

#PingMSFTDocs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c10d6dab-e042-91dc-a213-943af0d5ad0e
* Version Independent ID: 3

[2022-06-13 03:22] jiasli commented on #22837
Duplicate of #19640

[2022-06-13 03:22] #22837 closed

[2022-06-13 03:23] Kstuart1992 commented on #22840
You got it - don't let this sit on your issue board. Close this one and if it's something appropriate I'll send it over. I tracked down the resources I was asking about and will circle back if needed or it was interesting enough to offer the root cause. I appreciate your time getting back to me in any case. It's nothing to run step recorder over - I learned a long time ago, have a back-up, it cost

[2022-06-13 03:24] #22697 closed

[2022-06-13 03:26] #22840 closed

[2022-06-13 03:27] yonzhan commented on #22846
route to CXP team

[2022-06-13 03:37] jiasli commented on #22831
The error `AADSTS500011` is from AAD service, not Azure CLI.

Are you using the `AzureCloud` public cloud? In sovereign clouds or Azure Stack, the resource URI of ARM is different. For example, in `AzureChinaCloud`, it's

https://github.com/Azure/azure-cli/blob/31e396bed780b8db5641d73ba02fb4ce66db194e/src/azure-cli-core/azure/cli/core/cloud.py#L343

Please make sure you are using the correct ARM U

[2022-06-13 03:37] #22831 closed

[2022-06-13 03:43] jiasli commented on #22826
@bmay-cloudwallcapital, you will need to also provide the permission type, such as

[code]

Please run `az ad app permission add --help` for more information.

[2022-06-13 03:43] #22826 closed

[2022-06-13 04:09] navba-MSFT commented on #22720
@vRITHNER The action is currently pending on you to follow the above plan and get back to us. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-06-13 04:09] #22720 closed

[2022-06-13 04:12] RakeshMohanMSFT commented on #22846
@hyoshioka0128 Will create a PR to fix it.

[2022-06-13 04:14] RakeshMohanMSFT commented on #22843
@MurugeswariMuthurajan Thank you for reaching out, we are looking into it.

[2022-06-13 04:19] navba-MSFT commented on #22740
@grzeg1 Could you please me know if you have tried the above action plan ? Awaiting your reply.

[2022-06-13 04:50] navba-MSFT commented on #22785
@vishwakant-singh Could you please let me know if you had a chance to follow the above action plan ? Awaiting your reply.

[2022-06-13 04:58] navba-MSFT commented on #22825
@HariHaraReddyD I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-06-13 05:07] #22825 closed

[2022-06-13 05:08] navba-MSFT commented on #22833
@lipalath-ms Apologies for the delay. Thanks for reaching out to us and sharing this feedback. We are looking into this issue and we will provide an update.

[2022-06-13 05:08] HariHaraReddyD commented on #22825
cleaning up & re-installing aws cli worked for me.
Thanks.

[2022-06-13 05:35] dikethir opened #22850 "Support restore/create a disk from diskRestorePoint"
### Related command

az disk create --resource-group “ExampleRg” --name “ExampleOSDisk” --sku Premium_LRS --size-gb 128 --source $osDiskRestorePoint

### Resource Provider

Microsoft.Compute/Disks

### Description of Feature or Work Requested

DiskRestorePoints are similar to managed disk snapshots and we should be able to restore disks using them, however currently its failing with the following

[2022-06-13 05:41] MeepoZhao commented on #22831
I use the CLI to sign in AzureChinaCloud, and then i use the .py file to access the Cloud, but raise error. so i use the CLI once again and run the command according to error information.

the error is below:
AzureCliCredential.get_token failed: Please run 'az login' to set up an account
Traceback (most recent call last):
  File "C:\Zhao\AnacondaEnvs\myazure\lib\site-packages\azure\identity\_crede

[2022-06-13 06:13] simonetino commented on #22828
@evelyn-ys I confirm this workaround works for me, thanks.

[2022-06-13 06:23] #18408 closed

[2022-06-13 06:23] #18185 closed

[2022-06-13 06:23] #17057 closed

[2022-06-13 06:25] yonzhan commented on #22850
Compute

[2022-06-13 06:27] #22828 closed

[2022-06-13 06:50] #22758 closed

[2022-06-13 06:56] PramodValavala-MSFT commented on #22641
@jetnet Glad I could help! Closing.

[2022-06-13 06:56] #22641 closed

[2022-06-13 07:00] #22846 closed

[2022-06-13 08:13] zhoxing-ms commented on #22850
@dikethir I'd like to confirm with you that `$osDiskRestorePoint` can be obtained by the id returned by `az restore-point show` command, right?

[2022-06-13 09:15] navba-MSFT commented on #22833
@lipalath-ms Could you use the below Azure CLI command to achieve this ask ?

More Info [here](https://docs.microsoft.com/en-us/cli/azure/functionapp/deployment/slot?view=azure-cli-latest#az-functionapp-deployment-slot-swap). Awaiting your reply.

[2022-06-13 11:46] neilmca-inc opened #22852 "Documentation incorrectly states false is an option for enable-purge-protection on keyvault create"
Documentation stats that `false `is an option for the `--enable-purge-protection` switch on `az keyvault create`

[enable-purge-protection](https://docs.microsoft.com/en-us/cli/azure/keyvault?view=azure-cli-latest#az-keyvault-create-optional-parameters)

If you try this you get the following error...

`The property "enablePurgeProtection" cannot be set to false`

---
#### Document Details

⚠ *Do n

[2022-06-13 12:00] MurugeswariMuthurajan opened #22853 "knack.util.CLIError: Please run 'az login' to setup account"
Hi,

In my ML model training step, **_I am getting the below error:-_**

raise CLIError(_AZ_LOGIN_MESSAGE)
knack.util.CLIError: Please run 'az login' to setup account

_**Also I am getting a warning**_

The STDIO streams did not close within 10 seconds of the exit event from process 'C:\Program Files\Git\bin\bash.exe'. This may indicate a child process inherited the STDIO streams and has not yet e

[2022-06-13 13:14] shannonlowder opened #22855 "Can't get user list through cli"
## Describe the bug

I'm trying to get a list of AAD users/objects to match up against the list of IAMs for a given resource.  I can't get the python command or Azure CLI commands (az ad user list or az ad user show --id) to work. However, I can get the az rest command to query the graph end point and get results that way.  Have the other commands been removed from the API?

**Command Name**
`az a

[2022-06-13 13:25] vaishnavils97 opened #22856 "Azure Container Registry Trust Permissions"
Hi Team,
I would like to push signed images to a content trust-enabled ACR. I have implemented the content trust capability for signing the images digitally. But Are there any methods by that we could restrict unsigned images on ACR? Currently, we could push both images signed and unsigned images to ACR. Please provide a  mechanism where we can only push signed images to ACR.

[2022-06-13 13:44] lipalath-ms commented on #22833
This is not swapping with preview. On trying this, I see app settings are set incorrectly.

[2022-06-13 14:10] yonzhan commented on #22852
keyvault

[2022-06-13 14:12] yonzhan commented on #22853
route to CXP team

[2022-06-13 14:14] yonzhan commented on #22855
@jiasli for awareness

[2022-06-13 14:15] yonzhan commented on #22856
route to CXP team

[2022-06-13 14:30] vivek602 commented on #22614
Thanks @mvvsubbu.

[2022-06-13 14:46] RakeshMohanMSFT commented on #22843
@MurugeswariMuthurajan The latest version of azure cli is 2.37.0 https://docs.microsoft.com/en-us/cli/azure/install-azure-cli. Can you please try to upgrade to the it and see if that helps?

[2022-06-13 14:50] RakeshMohanMSFT commented on #22839
@ManojLava Thank you for reaching out to us, we are looking into it.

[2022-06-13 16:33] MurugeswariMuthurajan commented on #22843
Hi Rakesh,

Now I am getting a new Error, if I kept the azure cli version - 2.37.0

![image](https://user-images.githubusercontent.com/107349920/173396584-2d47a4cf-ed5b-4e35-8342-a343ee8c3aae.png)

[2022-06-13 16:42] jlichwa commented on #22852
It is in our backlog. The default is false, so as a workaround you can skip this parameter with same result as a workaround.

[2022-06-13 17:26] AndrewRobie commented on #20735
Another one of the devs is looking into it. Will update this once we have news.

[2022-06-13 20:11] lipalath-ms commented on #22833
![image](https://user-images.githubusercontent.com/6519992/173436908-2d4b8fd7-8cea-439e-a484-4865ba3ebab8.png)

[2022-06-13 23:28] odoo-ce-modules commented on #20921
I'm using the `REQUESTS_CA_BUNDLE` env var to point to my cert bundle, and initially the error is gone and seems resolve, until my authentication completes in the browser and I get the message that I can now close the browser window ... but back in the console at that point, it will error out again with simply "[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer

[2022-06-14 00:18] bganapa commented on #22659
We updated the docs to guide the users to install 2.29.2 or earlier for AzureStack usages

https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-version-profiles-azurecli2?view=azs-2108&tabs=ad-win
You must use Azure CLI version 2.29.2 or earlier with Azure Stack Hub. Microsoft has discovered an issue with Azure Stack Hub that prevents using Azure CLI version 2.30.0 or newer.

[2022-06-14 00:56] uprightbass360 commented on #20645
Has this gotten any traction. I am in the process of building out a backup procedure and would rather implement a scoped token instead of authenticating directly.

[2022-06-14 02:26] MurugeswariMuthurajan commented on #12750
Hi @jiasli ,

I am getting the same error, while training the ML Model

![image](https://user-images.githubusercontent.com/107349920/173479849-6c288027-ba61-4d7b-81e8-93fccb6ef3e3.png)

I have authenticated my service principal also

![image](https://user-images.githubusercontent.com/107349920/173480292-f58fdb3f-597d-438f-a777-d6aa3c121e50.png)

Could you please help me

[2022-06-14 02:38] ZengTaoxu commented on #22564
Hi, currently quota only supports Network RP , not Compute RP, which is expected in 2-4 weeks. In addition, your parameter seems to be wrong, it should be ‘ az quota list --scope "subscriptions/${CUSTOMER_SUBSCRIPTION_ID}/providers/Microsoft.Compute/locations/australiaeast" '. Please refer to : https://review.docs.microsoft.com/en-us/rest/api/quota/quota/list?branch=newquota

[2022-06-14 02:48] jamesongithub commented on #22564
the docs show compute examples, so there was expectation that they would work (in preview)

https://docs.microsoft.com/en-us/cli/azure/quota?view=azure-cli-latest#az-quota-list-examples

[2022-06-14 02:51] jiasli commented on #22855
The error message indicate your DNS server can't resolve Microsoft Graph API `graph.microsoft.com`:

Please check your network setting.

[2022-06-14 02:53] jiasli commented on #20921
@odoo-ce-modules, this is usually due to incomplete certificate chain in `REQUESTS_CA_BUNDLE`. You may check which URL fails with `--debug` and check whether the certificate chain is complete.

[2022-06-14 02:54] ZengTaoxu commented on #22564
Compute RP is not working yet, and is expected to be available in 2-4 weeks.

[2022-06-14 03:15] navba-MSFT commented on #22577
@je-ru Apologies for delay in getting back. I have heard back from the Product Owners. I am sharing the update in this thread.

If you don't see the refresh happening in 24 hours, please feel free to open a support ticket. Our support professionals would be happy to assist you further.

[2022-06-14 03:44] rsun-thoughtworks commented on #22232
It's been 8 days, hope you humans had a great vacation.

[2022-06-14 03:58] #22700 closed

[2022-06-14 04:07] navba-MSFT commented on #22812
@rotorr I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you are still facing the same issue after using lowercase for ACR name. Awaiting your reply.

[2022-06-14 04:24] navba-MSFT commented on #22808
@JSCProjects Apologies for the late reply. Thanks for reaching out to us and reporting this issue. This would require us to look into the backend logs to identify the cause. Could you please file a support ticket so that our support professionals can reach out to you for more details ? Awaiting you reply.

[2022-06-14 04:30] jiasli commented on #22853
This is out of the scope of Azure CLI. Please reach out to the corresponding repo of "ML model training".

[2022-06-14 04:30] #22853 closed

[2022-06-14 04:31] navba-MSFT commented on #22807
@mdhomer Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. We are looking into this issue and we will provide an update.

[2022-06-14 04:32] navba-MSFT commented on #22834
@amoradiaz Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. We are looking into this issue and we will provide an update.

[2022-06-14 04:47] mpowrie commented on #22564
Thanks - I updated the scope. I'm still getting the error with azure-cli 2.37.0, and will wait for Compute RP to be supported

[2022-06-14 04:57] navba-MSFT commented on #22833
@lipalath-ms Thanks for getting back and clarifying the ask. Could you please test with the below command and let me know if that helps?

Invoke-AzResourceAction -ResourceGroupName [resource group name] -ResourceType Microsoft.Web/sites/slots -ResourceName [app name]/[slot name] -Action applySlotConfig -Parameters $ParametersObject -ApiVersion 2015-07-01

Refer [this](https://docs.microsoft.com/en

[2022-06-14 05:06] JSCProjects commented on #22808
@navba-MSFT do you mean via the Azure portal?

[2022-06-14 05:10] navba-MSFT commented on #22808
@JSCProjects You can open the support ticket using [Azure portal](https://portal.azure.com/)  or [Support ticket ](https://azure.microsoft.com/en-us/support/create-ticket/)website.

[2022-06-14 05:18] JSCProjects commented on #22808
Opening a support ticket is disabled according to the portal I first have to contact our service provider

[2022-06-14 05:48] je-ru commented on #22577
Thanks for your investigation.
24 hours refresh seems to work, but when I'm working on a list of advices I would like to refresh during the day to see the progress. Please forward this to the Product Owners

[2022-06-14 06:42] evetsydrah opened #22860 "AVD Update Session Host Not Available"
**Related command**

az desktopvirtualization hostpool update

**Describe the bug**

The current az cli does not have the latest session host update for AVD and this is a parity issue compare to the powershell.
https://docs.microsoft.com/en-us/powershell/module/az.desktopvirtualization/update-azwvdsessionhost?view=azps-8.0.0

**To Reproduce**

Go to az cli documentation and not able to find the up

[2022-06-14 06:56] navba-MSFT commented on #22808
@JSCProjects Sure. Also you can reach out to your subscription owner / admin and take their help to create a support ticket from the azure portal since they will be having permissions to create the support ticket.

[2022-06-14 07:20] roelvdberg opened #22862 "Critical CVE found in pcre2 CVE-2022-1586/CVE-2022-1587"
**Related command**
The issue is in the latest Docker image and also in version 2.37.0 of the image

**Describe the bug**
There are 2 critical vulnerabilities found in the pcre2 version in the image.
CVE-2022-1586
CVE-2022-1587

**To Reproduce**
trivy i mcr.microsoft.com/azure-cli:2.37.0

**Expected behavior**
No critical vulnerabilities to be found

**Environment summary**
Docker

**Additional co

[2022-06-14 07:47] jiasli commented on #22278
According to https://docs.fedoraproject.org/en-US/releases/eol/, Fedora Linux 34 reached EOL on 2022-06-07. We should only build RPM for 35 and 36.

[2022-06-14 08:02] morphet81 commented on #14695
@adrianhall Hi. How should I proceed with the above example to upload a policy for a specific API operation? Also can we use names instead of IDs? IDs change every time we re-deploy.

[2022-06-14 08:10] navba-MSFT commented on #22834
@amoradiaz I wasn't able to reproduce this issue. While I ran the below command, I was able to set the `autoDeleteOnIdle` property successfully. See below:

**Output:**

  "accessedAt": "0001-01-01T00:00:00+00:00",
  **"autoDeleteOnIdle": "0:07:00",**
  "clientAffineProperties": null,
  "countDetails": {
    "activeMessageCount": 0,
    "deadLetterMessageCount": 0,
    "scheduledMessageCount": 0,

[2022-06-14 08:51] yonzhan commented on #22862
@jiasli for awareness

[2022-06-14 08:54] byteknacker commented on #22615
Just a quick follow-up. Is this perhaps under development or not a priority?

[2022-06-14 09:57] sajipoochira opened #22865 "Azure CLI Issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-06-14 10:09] zhoxing-ms commented on #22199
@AjKundnani May I ask why does `Customer Managed Key (CMK)` not appear in the list of allowed values for `--os-disk-security-encryption-type`?
![Screenshot 2022-06-14 180749](https://user-images.githubusercontent.com/16612065/173552882-2792f924-c4f9-43db-9da1-6c37f4350c51.png)

[2022-06-14 10:31] sflobbe opened #22866 "az throws "unexpected error" when the ssh extension is not installed - should be expected error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network bastion ssh`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network bastion ssh --name {} --resource-group {} --target-res

[2022-06-14 10:38] yonzhan commented on #22865
Duplicate of https://github.com/Azure/azure-cli/issues/20231

[2022-06-14 10:38] #22865 closed

[2022-06-14 10:43] yonzhan commented on #22866
route to CXP team

[2022-06-14 11:34] navba-MSFT commented on #22577
@je-ru I have shared the feedback with the Product Group. They have confirmed that the recommendations are refreshed in background automatically as we get new data from respective services (24 hours time frequency). Currently, there is no way to trigger on demand refresh. Hope this answers.

So with that we will proceed with closure of this issue. If you need any further assistance on this, feel f

[2022-06-14 11:34] #22577 closed

[2022-06-14 12:28] #22568 closed

[2022-06-14 12:28] Kalamazoo-DBA commented on #22568
Thank you for all of the updates.  Please move forward with closing this isssue.

[2022-06-14 13:38] iamsunny opened #22867 "Command doesn't work as expected"
[Enter feedback here]

command in the Example section doesn't work:

throws error: "unrecognized arguments: -a <a--pinsights-resource-name> --webapp <web-app-name>
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7674ea80-0d76-8e00-aa8f-ba6b91e0d5cc
* Version Independent ID: b7a32927-d7a9-3da5-3e76-d780a32b60f7
* Content:

[2022-06-14 13:42] cmptscpeacock commented on #18052
Same issue. az devops service-endpoint list - it simply hangs and does nothing. Even if I drill down to specify --org and --project it still hangs.

Please fix this as it's causing issues!

[2022-06-14 15:08] antpard opened #22868 "Can't create role assignment"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac --role={} --scopes={}`

## Expected Be

[2022-06-14 15:12] adrianhall commented on #14695
You definitely need to escape the quotes in the action.  Syntax is slightly wrong.

[code]

Then have a file body.json that contains the following:

[code]

Replace the {subId}, {rgName}, {serviceName}, {apiId}, and {operationId} in the URI with your values.

[2022-06-14 15:37] amoradiaz commented on #22834
No dice, I tried what you used, and still the same issue
`az servicebus topic subscription update --resource-group <xyz> --namespace-name <abc> --topic-name <def> --name <ghi> --auto-delete-on-idle PT7M`

[code]
Then tried what you suggested with the resource update, and it gave me the same result.

`az resource update --ids /subscriptions/<tuv>/resourceGroups/<xyz>/providers/Microsoft.ServiceBus/

[2022-06-14 16:17] jtmackoy commented on #22700
@jasli - Confirmed that after [building](https://github.com/Azure/azure-cli/blob/dev/doc/try_new_features_before_release.md#install-from-source-code) against 25912763773261340f880bab8f5e360ebc5f735c `az ad group show --group some_group+` works as before.

Thanks!

[2022-06-14 16:57] robertparker9 commented on #14404
I too was hitting "invalid: networkAcls.virtualNetworkRules" error when run from the bash terminal in VScode. What fixed it for me was [https://stackoverflow.com/questions/7250130/how-to-stop-mingw-and-msys-from-mangling-path-names-given-at-the-command-line#34386471]
i.e. ensure MSYS_NO_PATHCONV=1 is one of the environment variables.

The link was provided by Microsoft support when I raised the is

[2022-06-14 18:13] rudraTransact2 commented on #22748
@RakeshMohanMSFT Here is what I did. I used following query to get the product id:

az apim product list -g "v-aghose-Mindtree" -n "ajaymttest"
(from https://github.com/Azure/azure-cli/issues/22749)

The product id format from the above list is something similar to below:
`/subscriptions/xxxxxx-xxxx-xxxx-xxxx-xxxxx/resourceGroups/rg-xx-xxx/providers/Microsoft.ApiManagement/service/my-apim-service/

[2022-06-14 18:15] rudraTransact2 commented on #22749
See https://github.com/Azure/azure-cli/issues/22748

[2022-06-14 18:31] vilit1 commented on #21255
Closing since this seems to be solved. If there are any more issues, please comment on this issue thread.

[2022-06-14 18:31] #21255 closed, assigned to nobody

[2022-06-14 21:30] omerzubair opened #22869 "Azure DevOps Unable to 'Disable Forks' using CLI or REST API"
I went through CLI documentation to find a switch to 'Disable/Enable Fork' . Similarly looked at the REST API reference but could not find it. I need this to disable forking in all of my git repos in the AzDo project

https://docs.microsoft.com/en-us/azure/devops/repos/git/repository-settings?view=azure-devops&tabs=azure-devops-cli#enable-forks

![image](https://user-images.githubusercontent.com/7

[2022-06-14 21:32] pchettri3 commented on #21678
same error in eastus

[2022-06-14 21:33] omerzubair commented on #22625
Hi @v-anvashist , Yes having this switch will be useful. Please if you can check with API team on any ETA?

[2022-06-14 21:35] omerzubair commented on #22624
similarly, this one needs attention from API team  @v-anvashist?

[2022-06-14 21:36] omerzubair commented on #22869
another one, might need attention from API team  @v-anvashist?

[2022-06-14 22:12] chasewilson commented on #22275
Ok team, here's a thought. What if we adjusted it to something like this:

[code]

In the above example, we adjust the current `--for-upload` parameter from a switch to accepting values. To avoid breaking changes we could have the default set to `standard` or something to represent the blank state. (This logic would have to be worked to try and avoid braking changes. and can be discussed.)

### Be

[2022-06-14 22:16] yonzhan commented on #22868
@jiasli for awareness

[2022-06-14 22:21] yonzhan commented on #22869
route to CXP team

[2022-06-14 23:51] jupacaza opened #22870 "az aks command invoke attachment size limit is too small"
**Related command**

[code]

The deploychart.sh looks like this:

[code]

and the contents of the folder attached have this structure:
[code]

**Describe the bug**

When executing this command to deploy our Prometheus chart (https://prometheus-community.github.io/helm-charts/kube-prometheus-stack:35.4.2) it fails with the following error:

[code]

The chart is not big (2.08 MB according to Windows

[2022-06-14 23:55] yonzhan commented on #22870
route to CXP team

[2022-06-15 00:45] marc-ellis-dev opened #22871 "az apim api import resets User authorization from OAuth 2.0 to None"
When the "az apim api import" command is run, the Security -> User authorization setting for the API is reset from OAuth 2.0 to None.
![image](https://user-images.githubusercontent.com/103236775/173712701-4cb9505b-8408-4392-871d-7cf2b87dc2d8.png)

[2022-06-15 00:56] yonzhan commented on #22871
route to CXP team

[2022-06-15 01:28] morphet81 commented on #14695
Thanks a lot for your feedback. I've tried the new way but still no luck.
If I don't put the `properties` field, it complains

`Bad Request({"error":{"code":"ValidationError","message":"Invalid payload format.  Contract should have 'properties' specified.","details":null}})`

So I put properties, but if it's empty it complains. So I use this:
`{
    "properties": {
        "method": "PUT"
    },

[2022-06-15 01:34] morphet81 commented on #14695
And just like that, 2 min later I find the solution 😅
The right body is the following. Need to put `value` and `format` under `properties`
[code]

[2022-06-15 02:00] jiasli commented on #22868
Duplicate of #19640

[2022-06-15 02:00] #22868 closed

[2022-06-15 02:24] jiasli commented on #22700
Our release schedule can be found at https://github.com/Azure/azure-cli/milestones.

The next release 2.38.0 is 07/05/2022.

[2022-06-15 03:34] jiasli commented on #19640
## Possible solutions

1. Remove the alias `azure-cli` from https://packages.debian.org/sid/azure-cli, and only use the name `python3-azure-cli` so that it can be distinguished from Microsoft's `azure-cli`.
2. Pull down the package `azure-cli` from Debian/Ubuntu repo https://packages.debian.org/sid/azure-cli.
3. Force installing from `packages.microsoft.com`: https://github.com/Azure/azure-cli/pul

[2022-06-15 04:00] zhoxing-ms commented on #22275
@chasewilson In fact, this idea is similar to the original design. The reason why we want to modify the design of using the `--for-upload` parameter is mainly based on the following considerations:
1. In order to avoid breaking change, we need to support both the original values of `true`,`false` and the new values `UploadPreparedSecure`,`UploadWithoutSecure` to be added in a future period of time

[2022-06-15 04:12] RakeshMohanMSFT commented on #22871
@marc-ellis-dev Thank you for reaching out, we are looking into it

[2022-06-15 04:26] navba-MSFT commented on #22375
Thanks @datadot for sharing an update. If any further assistance is needed on this, feel free to reopen this thread. We would be happy to help.

[2022-06-15 05:19] chasewilson commented on #22275
Hey @zhoxing-ms, I think that this is a good compromise and solid path forward! @AjKundnani, what do you think?

For anyone here, if you have ideas on parameter names feel free to throw them out there.

[2022-06-15 05:36] ynot-commit commented on #22690
Hi Rakesh, Yes, this (location) is an easy attribute to add. Thank you all for the quick resolution.

[2022-06-15 05:46] GeneralGorgonzola commented on #22496
Also fails in region east-us:

`az network bastion create --name test-bastion --public-ip-address test-ip --resource-group test-group --vnet-name test-vnet --sku Standard --location eastus`

Gives:
`ERROR: (GatewayAllocationFailed) Compute allocation failed. Please retry later.
Code: GatewayAllocationFailed
Message: Compute allocation failed. Please retry later.`

Or:
`ERROR: (InternalServerError)

[2022-06-15 06:07] tuhin-52321 opened #22875 "AzureCLI for Ubuntu Linux on ARM64 does not run"
**Related commands**

Installed AzureCLI on Ubuntu Linux for ARM64 using the manual steps. All installed correctly:

`sudo apt-get update`

`sudo apt-get install ca-certificates curl apt-transport-https lsb-release gnupg`

`curl -sL https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/microsoft.gpg > /dev/null`
`AZ_REPO=$(lsb_release -cs)`
`echo "deb

[2022-06-15 06:14] jiasli opened #22877 "[Feature Request] Release DEB package for Debian sid"
**Is your feature request related to a problem? Please describe.**

Per the [query result on `debian sid`](https://github.com/Azure/azure-cli/issues?q=is%3Aissue+debian+sid), the usage of Azure CLI on [Debian sid](https://wiki.debian.org/DebianUnstable) is not small, but we don't release DEB package for Debian sid:

https://packages.microsoft.com/repos/azure-cli/dists/

![image](https://user-image

[2022-06-15 06:21] orendin commented on #16138
Very poor developer experience, Microsoft. Who came up with that??

The solution for me was to first list the deleted instance to get the required details and for the purge, using az rest like pointed out by [stvdilln](https://github.com/stvdilln) above.

Login using `az login` in the console.

Then
`az rest --method get --header "Accept=application/json" -u 'https://management.azure.com/subscript

[2022-06-15 06:35] tuhin-52321 commented on #22875
I could successfully run azure by using the native python3 installed on the machine.

1. Removed the wrong python3 binary installed by Azure installer
2. Created a soft link to the aarch64 pyton3 binary on the azure installed bin folder.
3. the ran following command to install azure.cli module for pyhton
`sudo python3 -m pip install azure.cli`

now az version is running:
`sudo az version`

[2022-06-15 06:52] YuanyuanNi commented on #22867
Hi:
  @iamsunny the command works well as below, notice that it is '--web-app' not '--webapp', and you should use below commands to create relative resouce first:
1:create a app:   az monitor app-insights component create -g nyy02 -l westus --app demoapp
2: create a webapp : az appservice plan create -g nyy02 -n plan01
                                 az webapp create -g nyy02 -n webunique001 --pl

[2022-06-15 07:06] yonzhan commented on #22877
Release DEB package for Debian sid

[2022-06-15 07:47] v-soujanya commented on #22131
@msftbot Please redirect issue to the API team

[2022-06-15 08:01] #19915 closed

[2022-06-15 08:01] #19354 closed

[2022-06-15 08:01] #18664 closed

[2022-06-15 08:37] matkosoric opened #22881 "Improve error message instead of: 'str' object has no attribute 'get'"
**Related command**
`az deployment group create
`
`az deployment group validate
`
Similar error message appears in multiple other subcommands.

**Describe the solution you'd like**
If I am deploying ARM template for Azure Data factory with linked service which contains empty value, validation and deployment will fail. Parameter in **adf_publish** branch looks something like this:

[code]

Please a

[2022-06-15 08:54] majeranr opened #22882 "az ad app credential reset completes but returns exit code -1"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad app credential reset`

**Errors:**
[code]
Command returns an exit code -1 despite of the fact it ran successfully and did what it was supposed to do resulting in terminating error.

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they m

[2022-06-15 09:21] yonzhan commented on #22881
ARM

[2022-06-15 09:22] yonzhan commented on #22882
@jiasli for awareness

[2022-06-15 09:47] navba-MSFT commented on #22494
@tudor-pop Apologies for the late reply. Thanks for reaching out to us and reporting this issue. You can check under the user profile for file **~/.kube/config.** There are 3 required sections which must be present: clusters, contexts and users. There might be an issue in fetching details from this config file.

To isolate the issue, You can try to **rename** or **delete** this config file and try

[2022-06-15 10:00] navba-MSFT commented on #22473
@Thlr Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. We are looking into this issue and we will provide an update.

[2022-06-15 10:28] antonGritsenko opened #22884 "az policy definition create erroring if rule contains nested functions"
**Related command**
[code]
**Describe the bug**
Error: az : ]\",\"field\": \"[concat('tags[' was unexpected at this time.

**To Reproduce**
Create file policy_rules.json with rule definition where rule contains following (sorry, I can't past full file, it contains sensitive info, but this file is based on https://docs.microsoft.com/en-us/azure/governance/policy/samples/pattern-tags ):
[code]

`[co

[2022-06-15 10:42] yonzhan commented on #22884
ARM

[2022-06-15 11:44] dabenhamMic commented on #22842
@kairu-ms , @yonzhan Can you please add this to the upcoming July milestone? [Jun 2022 (2022-07-05)](https://github.com/Azure/azure-cli/milestone/119)

[2022-06-15 11:58] Scherlac commented on #22598
I see very similar issue with virtual network. The ARM template I'm using is '2019-09-01' the az tool is "azure-cli": "2.36.0".
I've created the diagnostic settings manually on portal called `network-all`. I tried to export using az tools.

[code]

I will try with different ARM template version, I hope that will help.

[2022-06-15 12:03] WaitingForGuacamole commented on #21678
Exact same error in East US. I've torn it down and reapplied my Terraform three times now. This is a capacity issue, IMO.

[2022-06-15 12:05] mshelll commented on #21072
Is there any documentation for the appinsights newer api version

[2022-06-15 12:06] Brudem opened #22885 "AZ APIM show don't show all certificates"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Some certificates are not shown with AZ APIM show.

**Command Name**
`az apim show`

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim show --name {} --resource-group {}`

[2022-06-15 13:21] WGK864 opened #22886 "az network private-dns record-set is not idempotent from CLI version 2.37.0"
This is related to #10467.

**Related command**
az network private-dns record-set

**Describe the bug**
CLI version 2.36.0 runs this command in an idempotent way. If the record is to be duplicated, it acts as a No-op and returns code 0. In version 2.37.0 this command is no longer idempotent and logs a BadRequest.

**To Reproduce**
Run az network private-dns record-set in version 2.36.0 and 2.37.0

[2022-06-15 13:45] AjKundnani commented on #22199
@zhoxing-ms

- **encryption type** in sentence *Allows customer to provide encryption type details for Confidential VM* refers to new parameter `--os-disk-security-encryption-type`
- Reason **CMK** doesn't appears in list, is because if customer uses `--os-disk-security-encryption-type` with value **DiskWithVMGuestState** and specify Disk encryption set using parameter `--os-disk-securevm-disk-enc

[2022-06-15 13:59] alexeyshishkin01 opened #22887 "add Docker 'tag' command for 'az acr'"
**Related command**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-06-15 14:02] mokainos opened #22888 "az aks get-credentials unexpected error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2022-06-15 14:22] azeem2020 opened #22889 "az postgres flexible-server connect failing"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az postgres flexible-server connect`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az postgres flexible-server connect -n {} -u {} -d {

[2022-06-15 14:22] yonzhan commented on #22885
route to CXP team

[2022-06-15 14:23] yonzhan commented on #22886
network

[2022-06-15 14:25] yonzhan commented on #22887
route to CXP team

[2022-06-15 14:25] yonzhan commented on #22888
route to CXP team

[2022-06-15 14:29] yonzhan commented on #22889
route to CXP team

[2022-06-15 14:33] navba-MSFT commented on #22473
@Thlr hlr Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-06-15 14:33] #22473 closed

[2022-06-15 14:54] derekjoos commented on #22714
Any progress on this?

[2022-06-15 15:33] CKozanecki opened #22890 "Issue with preview feature to start/stop node pools."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks nodepool stop`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks nodepool stop --nodepool-name {} --resource-group {} --clust

[2022-06-15 15:38] nzthiago commented on #21072
@mshelll It seems the [docs still show the older API version](https://docs.microsoft.com/en-us/rest/api/application-insights/components/create-or-update). But I found the [template reference](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/2020-02-02-preview/components?tabs=bicep#applicationinsightscomponentproperties-object) and [API Specs](https://github.com/Azure/azure-rest-

[2022-06-15 15:47] WGK864 commented on #22886
What is returned (for reference):
ERROR: (BadRequest) The list of record sets of type 'A' may not contain multiple entries with the same 'ipv4Address'.
Code: BadRequest
Message: The list of record sets of type 'A' may not contain multiple entries with the same 'ipv4Address'.

[2022-06-15 16:00] mdenhoedt opened #22891 "Docs say space-separated instead of comma-separated"
The documentation of `az storage entity query` says the following:

However I got the following error:

After trying `--select 'PartitionKey,RowKey'`, so comma-separated, it did work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a4d128f-a98f-d07b-0183-90ca79cc5fdc
* Version Independent ID: 83084fff-ea1b-a9e7-b7a9-40

[2022-06-15 16:48] MartinJoeWilco commented on #15010
Excellent fix!

For my Azure subscription the view has changed/updated:
Indeed go to the resource group,
click on "Manage View"
click on "Show Hidden Types"

[2022-06-15 17:44] arsenerei commented on #21377
@erikadanis0312 I used `UsePythonVersion@0` and had to remove the pre-installed Azure CLI and install a new one with:

[code]

[2022-06-15 18:05] adrianhall commented on #14695
Sorry - yes - I missed the properties when I was typing.  Glad it worked out for you

#please-close

[2022-06-15 18:12] DandaSowmithri opened #22892 "az storage container create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage container create --name {} --account-name {} --ac

[2022-06-15 18:15] tudor-pop commented on #22494
Hello @navba-MSFT Unfortunately I can't help you any further and I don't know how it happened. I think I followed the standard terraform [tutorial](https://learn.hashicorp.com/collections/terraform/azure-get-started). You can try to go through it and see if you encounter the issue...it should be the setup part where you connect to azure.
I'm on a Mac Monterey 12.4 and now have the 2.37 az CLI ...

[2022-06-15 18:28] wkalt opened #22893 "az aks get-credentials error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} -n {}`

## Expected Be

[2022-06-15 19:16] andygjp commented on #20390
Hi @FinVamp1 ,

I apologise for my tardy response - I've been really busy with other things. I have sent you an email with the requested details.

I've included my Azure pipeline file - you can take a look at the `az` commands I'm using
[code]

I did manage to get it to deploy without `az functionapp deployment source config-zip` returning an error, but only when `WEBSITE_RUN_FROM_PACKAGE=0` was c

[2022-06-15 19:29] andygjp commented on #20390
This [SO post](https://stackoverflow.com/a/72133436/453133) pointed out that they can deploy successfully when they used Visual Studio. I also can deploy successfully using the publish functionality of Rider. I don't know what command it is using to publish the code.

[2022-06-15 20:01] ImtiazSiddiqui opened #22895 "Azure sql CLI issue with Certificate"
Azure az sql cli (specifically az sql mi-arc) commands fail even if CA Cert data is provided in the kubeconfig file, it seems az sql cli ignores this CA Certs data in kubeconfig file.

Below is one of the commands that works with 'in-secure' mode, but does not work with strict HTTPS mode
'az sql mi-arc list --k8s-namespace platform-azure-arc --use-k8s -o table'

Other az sql mi-arc create -n flab9

[2022-06-15 21:57] kwill-MSFT commented on #11718
I put together a solution/workaround for this in an ARM template.

1. Remove the appsettings property from the siteConfig in the Microsoft.Web/sites resource
2. Create a nested deployment, which depends on the Microsoft.Web/sites resource, which just has an Outputs section with:
[code]
3. Add a Microsoft.Web/sites/config resource to the main template which does a union() on the output of the neste

[2022-06-15 23:57] yonzhan commented on #22890
route to CXP team

[2022-06-15 23:58] Don-Olu opened #22897 "`az ams account show`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ams account show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ams account show --name {}`

## Expected Behavior
List all ams ac

[2022-06-16 00:28] yonzhan commented on #22891
storage

[2022-06-16 01:00] yonzhan commented on #22892
storage

[2022-06-16 01:02] yonzhan commented on #22893
route to CXP team

[2022-06-16 01:10] yonzhan commented on #22895
route to CXP team

[2022-06-16 01:13] yonzhan commented on #22897
route to CXP team

[2022-06-16 02:23] jiasli commented on #22882
I can't repro the problem locally:

[code]

Actually, no code path in Azure CLI returns `-1`. It is possible `-1` is from `ConvertFrom-Json`. What is the `$LASTEXITCODE` if you directly run `az ad app credential reset` without the piping?

[2022-06-16 02:40] evelyn-ys commented on #22892
Does `dandatstate` storage account exist?

[2022-06-16 02:48] evelyn-ys commented on #22895
SQL module in Azure CLI doesn't have `az sql mi-arc` command. Is it from service CLI not Azure CLI?

[2022-06-16 03:14] DrDarinda opened #22899 "No way to pass the protocol while creating a listner for custom port"
No parameter available to pass protocol(https/http) while creating a listener:

`az network application-gateway http-listener create (--protocal??)`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2dce00db-c8d7-9b93-7ac8-114a500a6a34
* Version Independent ID: 14a03192-a30b-d273-fa11-32413868a5fa
* Content: [az network a

[2022-06-16 03:22] necusjz commented on #22899
@DrDarinda, the https protocol will be used if the `--ssl-cert` parameter is passed.

[2022-06-16 03:34] JaneYan-2016 opened #22900 "Missing CLI telemetry data"
**Related command**

Az Arcappliance create

**Describe the bug**

Our team is investigating the Arc appliance deployment scenario using various telemetry data. The deployment involves creating a single node k8s cluster on-prem, install various agents in the k8s, and create an ARM resource which represents this k8s cluster running on-prem.

We noticed that not all the ARM requests to create the re

[2022-06-16 03:54] yonzhan commented on #22900
@calvinhzy @evelyn-ys please help with the check.

[2022-06-16 05:21] roycornelissen opened #22901 "Invalid sample --custom condition for az image builder wait"
The example for `az image builder wait` under https://docs.microsoft.com/en-us/cli/azure/image/builder?view=azure-cli-latest#az-image-builder-wait-examples shows a custom condition `--custom "lastRunStatus.runState!='running'"`. However, the condition is case sensitive, so this particular example will immediately finish waiting. A correct sample would be `--custom "lastRunStatus.runState!='Running

[2022-06-16 06:19] RakeshMohanMSFT commented on #22871
@marc-ellis-dev We use this command to import new apis, therefore it wont be having any security settings for that API to reset. May be i am missing something. Can you please share more details or debug logs please?

[2022-06-16 06:32] RakeshMohanMSFT commented on #22748
@rudraTransact2 i understand the confusion now, earlier the product name and id used to be different values to make the product id unique, now the entire path is considered to be unique "/subscriptions/****/resourceGroups/****/providers/Microsoft.ApiManagement/service/****/products/22748" therefore they are same. Also the product id is accepting the value after /products/**{Id}** and not the name

[2022-06-16 06:33] #22749 closed

[2022-06-16 07:22] navba-MSFT commented on #22494
@tudor-pop I am unable to repro this issue on my windows box. Unfortunately, I don't have the same machine as your environment. If you are still able to reproduce this issue, check if my above suggestion helps. If it doesn't help, please feel free to reopen this issue, we would be happy to help.

[2022-06-16 07:22] #22494 closed

[2022-06-16 07:39] navba-MSFT commented on #22740
@grzeg1 The action is currently pending on you to test the above suggested plan. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-06-16 07:39] #22740 closed

[2022-06-16 07:41] #22785 closed

[2022-06-16 07:45] navba-MSFT commented on #22808
@JSCProjects A quick follow-up on this to check the status of opening a support ticket. Awaiting your reply.

[2022-06-16 07:54] JSCProjects commented on #22808
We have created a ticket with our service provider, but we don't have received a ticket number from Microsoft

[2022-06-16 07:56] jonie001 commented on #22891
Hi, @mdenhoedt
When you use `--select` parameters, you do not need to use '' marks, you can try `--select PartitionKey RowKey` again.

[2022-06-16 08:01] #21003 closed

[2022-06-16 08:01] #19889 closed, assigned to RakeshMohanMSFT

[2022-06-16 08:01] #15132 closed, assigned to Saglodha

[2022-06-16 08:07] #22690 closed

[2022-06-16 08:09] connorourke opened #22903 "az rest not returning filtered results from pricing endpoint"
## Describe the bug
When attempting to filter pricing information using az rest with the endpoint https://prices.azure.com/api/retail/prices the filtering doesn't seem to work.

**Command Name**
`az rest`

**Errors:**

For example:
[code]

returns:
[code]

Likewise trying to pass through a json string:

[code]

Returns the same.

The only parameter I have been able to filter by is the currency cod

[2022-06-16 08:26] navba-MSFT commented on #22856
@vaishnavils97 Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. We are looking into this issue and we will provide an update.

[2022-06-16 08:37] zhoxing-ms commented on #22199
@AjKundnani The resource group used by DES is from `--resource-group` parameter

[2022-06-16 08:42] jsntcy commented on #15380
Duplicated with #13853

[2022-06-16 08:45] PARADISSEEKR commented on #22370
Hi @rytruong , If source disk is in different region, `az snapshot create -g rg -n snapshot --source disk --incremental true -l eastus2euap` return `(InvalidParameter) Entity not of expected type`, is this as expected?

[2022-06-16 09:19] AjKundnani commented on #22199
@zhoxing-ms - There will be scenarios where DES will be in different resource group then disk created in.

[2022-06-16 09:21] KathySundar opened #22905 "unable to create VM using CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`Unknown`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az groupcreate --location {} --name {}`

## Expected Behavior

## Environment Su

[2022-06-16 09:26] zhoxing-ms commented on #22199
@AjKundnani In this case, the user can only pass in the ID, and we cannot support the name from different resource group

`--os-disk-encryption-set` parameter is this logic, the new parameter can be consistent with it

[2022-06-16 09:26] yonzhan commented on #22901
Compute

[2022-06-16 09:35] RakeshMohanMSFT commented on #22839
@ManojLava I was unable to reproduce this issue, can you please share more details? `az synapse pipeline update --workspace-name samplewspace --name Issue22839 --file @"pipeline.json"`
This is the response body I used as json file https://docs.microsoft.com/en-us/rest/api/synapse/data-plane/pipeline/create-or-update-pipeline.

Can you retry this please and let me know what happens?

Here are my en

[2022-06-16 09:36] #15380 closed

[2022-06-16 09:37] RakeshMohanMSFT commented on #22742
@keranem1 can you please check this issue https://github.com/Azure/azure-cli/issues/22839

[2022-06-16 09:38] zicjin commented on #22230
Same Problem for my ubuntu 22.04
[code]

[2022-06-16 09:54] william-li-nintex opened #22906 "'az functionapp list-runtimes' throws error ['list-runtimes' is misspelled or not recognized by the system.]"
[Enter feedback here]
'az functionapp list-runtimes' throws error ['list-runtimes' is misspelled or not recognized by the system.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2f254bb-7dfd-417b-b08d-f2ac34247d99
* Version Independent ID: 9d22f523-579b-ea66-04ed-20f09c72bcbb
* Content: [az functionapp](https://docs.m

[2022-06-16 10:08] RakeshMohanMSFT commented on #22843
@MurugeswariMuthurajan Can you please let me know your python version? and please try to follow this instruction document https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-cli?tabs=public

[2022-06-16 10:10] RakeshMohanMSFT commented on #22906
@william-li-nintex Thank you for reaching out, we are looking into it.

[2022-06-16 10:11] RakeshMohanMSFT commented on #22897
@Don-Olu Thank you for reaching out, we are looking into it.

[2022-06-16 10:17] yonzhan commented on #22906
route to CXP team

[2022-06-16 10:33] nosvalds commented on #5713
If anyone comes across this, it `az resource tag` does seem to work now:

[code]

[2022-06-16 10:34] jiasli commented on #22903
This is service API and not supported by `az rest`. `az rest` is merely a client tool. You may [contact Azure support](https://azure.microsoft.com/en-us/support/create-ticket/) for service questions.

[2022-06-16 10:34] #22903 closed

[2022-06-16 10:41] jandrucu opened #22907 "vwan module not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network vwan`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network vwan --help`

## Expected Behavior

## Environment Summary
[c

[2022-06-16 10:56] jiasli commented on #22755
For above options, we did some internal discussion:

1. Applying for **TrustFrameworkKeySet.Read.All**, **TrustFrameworkKeySet.ReadWrite.All** permissions is certainly not an easy task for us. We need to work with security team, PM team, and AAD team to review the business justification and go through multiple reviews.

2. Supporting custom client ID will also take some time for development. For n

[2022-06-16 11:04] yonzhan commented on #22907
network

[2022-06-16 11:13] jandrucu commented on #22907
Issue was solved by running "az upgrade" command

[2022-06-16 11:13] #22907 closed

[2022-06-16 11:34] pramodshivgunde opened #22908 "not able to create custom user"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role definition create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az role definition create --role-definition {}`

## Expected B

[2022-06-16 11:48] markdebruijne opened #22909 "Log Analytics Workspace JSON response contains conflicting duplicated keys 'eTag' and 'etag'"
## Describe the bug

**Command Name**
[code]

**Errors:**
[code]
JSON response contains a faulty `"eTag": null`, something with propery mapping and formatting goes wrong
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
See above command

## Expected Behavior
No difference in casing for same JSON attri

[2022-06-16 12:39] a3y3 commented on #22639
bump!

[2022-06-16 12:48] FinVamp1 commented on #22639
@a3y3  Acknowledging this and it's still on my radar. I should have an update for you by tomorrow.

[2022-06-16 13:04] cmenzi opened #22910 "az acr build error, but build is successful"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
az acr build queues a task to ACR but fails with this error below

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az acr build -t <my-image> -r <myacr> --platform

[2022-06-16 13:41] gminnella opened #22911 "Az aks check-acr fails"
## Describe the bug

**Command Name**
`az aks check-acr`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks check-acr -g {} -n {} --acr {}`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

Trying to check if a aks

[2022-06-16 13:59] yonzhan commented on #22910
route to CXP team

[2022-06-16 14:00] yonzhan commented on #22911
route to CXP team

[2022-06-16 14:21] FinVamp1 commented on #20390
Hello,

I looked and I think you don't need to build this a self contained application. dotnet publish --self-contained true .

Most of our examples build it like this.

          - task: DotNetCoreCLI@2
            displayName: Build My Project
            inputs:
              command: 'build'
              projects: '**/*.csproj'
              arguments: '--output $(build.artifactstagingdirecto

[2022-06-16 15:31] sidoverflow commented on #21247
I've come across this a couple times when I switch my connection to an enterprise network. Restarting the container seems to fix the issue for me.

[2022-06-16 16:37] Raag007 commented on #11718
Works great, thank you @kwill-MSFT!

[2022-06-16 16:57] bmaupin commented on #14695
Is there any update on this? Is there an open issue that we can follow to track this feature?

Thanks!

[2022-06-16 17:25] djryanj opened #22913 "Information on requesting an EV certificate is lacking"
There are multiple references on this page to using the `az keyvault certificate get-default-policy` (including with the `--scaffold` option) to create a certificate request, however the certificate policy sections are extremely light on details. Although it redirects to https://docs.microsoft.com/en-us/azure/key-vault/certificates/about-certificates#certificate-policy, that page also does not con

[2022-06-16 17:41] gabesmsft opened #22914 "logs-workspace-id description needs correction"
For the --logs-workspace-id description, need to change the following...:
Name or resource ID of the Log Analytics workspace to send diagnostics logs to. You can use "az monitor log-analytics workspace create" to create one. Extra billing may apply.

...to the following:
Workspace ID of the Log Analytics workspace to send diagnostics logs to. You can use "az monitor log-analytics workspace create"

[2022-06-16 18:54] adrianhall commented on #14695
There isn't an open issue to track on GitHub (we track these work items in our internal issues tracker).  We obviously did not meet the May target, but I don't have a new date at the moment.

[2022-06-16 19:15] markdebruijne commented on #22909
Workaround (PowerShell v6+)
[code]

[2022-06-16 19:21] microsoftsup commented on #18226
Same issue - what to do? Cx is waiting. Getting Resource Group error although everything is correct.

[2022-06-16 21:26] cmenzi commented on #22910
Workaround found: It works with `--no-logs --no-format`.

[2022-06-16 21:30] dnethi commented on #22895
hi @evelyn-ys mi-arc is under az > sql > mi-arc. Not sure what you mean by service CLI ..

[2022-06-16 22:20] yonzhan commented on #22913
keyvault

[2022-06-16 22:21] yonzhan commented on #22914
route to CXP team

[2022-06-16 22:47] seanslma opened #22916 "Cannot import name 'map_azure_error_to_cli_error' during installing extension aks-preview"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks maintenanceconfiguration list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks maintenanceconfiguration list -g {} --cluste

[2022-06-16 22:51] yonzhan commented on #22916
route to CXP team

[2022-06-17 00:57] m-moris commented on #22755
Thanks for the discussion.

Indeed, I too think we should be cautious about granting for any authority to az cli tools.
I decided to use a workaround and have already written an automated script. This is a bit of a pain to manage the secret, though.

[2022-06-17 01:32] RakeshMohanMSFT commented on #22911
@gminnella Thank you for reaching out, we are looking into it.

[2022-06-17 01:34] jiasli commented on #22908
As the error indicates:

Your JSON has a redundant comma at L21:

![image](https://user-images.githubusercontent.com/4003950/174198686-aa5f5dab-f01b-40a0-a9e5-929b39ae527e.png)

[2022-06-17 01:34] #22908 closed

[2022-06-17 01:34] RakeshMohanMSFT commented on #22910
@cmenzi Thank you for reaching out, glad that you are unblocked now. It perhaps is specific the file you are using? can you share the file with us to check?

[2022-06-17 01:36] RakeshMohanMSFT commented on #22914
@gabesmsft Thank you for reaching out, we are looking into it.

[2022-06-17 01:55] #20582 closed

[2022-06-17 02:13] necusjz commented on #22817
@nagula-ritvika, may I ask, it this issue a duplicate of https://github.com/Azure/azure-cli/issues/22795?

[2022-06-17 03:36] RakeshMohanMSFT commented on #22906
@william-li-nintex we are unable to reproduce this issue, here is my environment details. Can you share your Environment details please?
[code]

[2022-06-17 04:14] RakeshMohanMSFT commented on #22911
@gminnella I managed to get it to work in this environment. Can you please upgrade your aks-preview extension version (`az extension add --name aks-preview`) and check again?

[code]

[2022-06-17 04:44] calace1 opened #22917 "az snapshot delete --ids fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az snapshot delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az snapshot delete --ids {} {} {} {} {} {} {} {} {} {} {} {} {} {} {}

[2022-06-17 04:54] kthejoker commented on #6022
Any progress on this? Seems like it's just been stuck for a year?

[2022-06-17 05:24] yonzhan commented on #22917
Compute

[2022-06-17 05:39] #22917 closed

[2022-06-17 08:45] PARADISSEEKR commented on #22199
@AjKundnani , test with image from ACG / SIG still error : `"Virtual Machines Scale Sets do not allow setting managedDisk.securityProfile.diskEncryptionSet.` , [test case:     test_os_disk_security_encryption_vmss](https://github.com/Azure/azure-cli/pull/22650/files#diff-186fe5ac9ed55ed82cf0936ff789c6a13a636d8fd90c46b116adee47e71dbf46), could you please check it?

[2022-06-17 08:55] cmenzi commented on #22910
@RakeshMohanMSFT Sure...

[code]

[2022-06-17 10:00] navba-MSFT commented on #22253
@Nilubkal Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. I just wanted to reconfirm if you have checked the above suggestions. Awaiting your reply.

[2022-06-17 10:33] navba-MSFT commented on #22887
@alexeyshishkin01 Apologies for the late reply. Thanks for reaching out to us. From the issue title, I see that your ask is to have a tagging functionality for the images in ACR.

Alternatively you can use [acr import ](https://aka.ms/acr/import ) and simply add the tags.

This ask is a duplicate of the existing open thread https://github.com/Azure/acr/issues/289 which is open for tracking purpose

[2022-06-17 10:33] #22887 closed

[2022-06-17 10:34] navba-MSFT commented on #22833
@lipalath-ms I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let me know if you had a chance to follow the above plan. Awaiting your reply.

[2022-06-17 10:36] navba-MSFT commented on #22812
@rotorr The action plan is currently pending on you to test the above plan. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-06-17 10:36] #22812 closed

[2022-06-17 10:40] antonGritsenko commented on #22212
@YuanyuanNi but where this format is documented? Even if you list an existing rules there is nothing even close to this syntax.

[2022-06-17 10:48] navba-MSFT commented on #22834
@amoradiaz This is a quick follow-up to check if you had a chance to follow the above suggestions to isolate this issue. Awaiting your reply.

[2022-06-17 10:54] navba-MSFT commented on #22888
@mokainos Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. Could you please update your `aks-preview` extension and test if you still see the same issue ?

Awaiting your reply.

[2022-06-17 11:08] navba-MSFT commented on #22893
@wkalt Thanks for reaching out to us and sharing this feedback.

Looking at the below details, This is not the official Azure CLI published by Microsoft. Please see https://github.com/Azure/azure-cli/issues/19640.

Python 3.10.4
Installer: DEB

For now, please follow https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt to install Azure CLI on stable/GA versions of Debian,

[2022-06-17 11:20] wilsonmontalvo commented on #17103
I'm experiencing the same issue. @yonzhan would you please provide the status about this? any plans for it's implementation and release?

[2022-06-17 11:23] romanzdk opened #22920 "az acr build - agent ip address"
Until now we were building and pushing Docker image into ACR (that had public access enabled) using Microsoft-hosted DevOps agent and everything was perfect.

However, we need to make ACR accessible only from selected networks, so I thought I gather IP address of the current agent and add a firewall rule to the ACR. This approach works well for other Azure resources (e.g. KeyVault), however, for s

[2022-06-17 11:29] v-soujanya commented on #22346
Hi @FokkoVeegens
we digged the code and identified the same response is coming from the API ((https://vssps.dev.azure.com/{organization}/_apis/Graph/Users/aad.{vssgp ID}),
 so, we need to work with the API team to make any changes. we will get back to you once we connect with the API team.

[2022-06-17 11:54] yonzhan commented on #22920
route to CXP team

[2022-06-17 12:37] romanzdk opened #22921 "az acr task create - "Conflict""
Command: `az acr task create -r registry-name -n demotask -t testimage:latest --context https://dev.azure.com/org/project/_git/repo-name#main --file Dockerfile --git-access-token devopsPAT --verbose`

Result: `Operation returned an invalid status 'Conflict'`

What is wrong?

Windows 10, az cli 2.32.0

[2022-06-17 12:41] amoradiaz commented on #22834
After following the steps that you detailed, the command successfully updated the auto-delete idle property, and I can even see it in the portal:

![image](https://user-images.githubusercontent.com/65770472/174100902-40ec851f-5253-4fc9-bde8-94f319eae24b.png)

From the API perspective, what command sets the "Never auto-delete" property to `true`?  This is something I'm not doing consciously

[code]

[2022-06-17 13:17] bmaupin commented on #14695
Thanks for the update.

When this feature is implemented in Azure CLI, do you know if it will also have the same issues with large policies? I'm trying to determine if it's worth waiting for the feature to be implemented in Azure CLI or if I should look into the alternatives.

Thanks!

[2022-06-17 13:17] #22911 closed

[2022-06-17 13:23] ChaseGarr opened #22923 "Azure CLI Service Principle policies"
I was just wondering if there was a way yet in azure cli to get the service principle policies

[2022-06-17 13:25] ChaseGarr opened #22924 "Azure CLI Sign In logs"
Is there a way to get sign on logs stats for an application through the azure cli?

[2022-06-17 13:52] bmaupin commented on #14695
Putting the policies in the OpenAPI definition would be amazing. For what it's worth, this is how IBM API Connect works; it puts the policies inside a custom `x-ibm-configuration` section in the API definition, e.g.

[code]

Coming to Azure API Management from IBM API Connect feels like a step backward in that sense. Right now with API Connect all of our policies are easily version controlled beca

[2022-06-17 13:58] yonzhan commented on #22921
route to CXP team

[2022-06-17 14:01] yonzhan commented on #22923
@jiasli for awareness

[2022-06-17 14:02] yonzhan commented on #22924
@jiasli for awareness

[2022-06-17 16:00] ttasharski73 opened #22925 "apim is misspelled or not recognized by the system"
**Related command**
az apim --help

**Describe the bug**
When I run az apim I get an issue where the system says that apim is misspelled.

**To Reproduce**
I can temporarily work around the issue by removing the .azure folder and doing an az login, but it if the command is run simultaneously with my github runners the command gets wiped from the command index.

**Expected behavior**
I expect to be

[2022-06-17 16:03] dbradish-microsoft opened #22926 "az mysql | Incorrect default value for --storage-size in autogenerated help"
This bug is in response to MicrosoftDocs/azure-docs-cli issue [3113](https://github.com/MicrosoftDocs/azure-docs-cli/pull/3113).  This fix needs to be routed to the `az mysql` service team as this module is [not owned](https://github.com/Azure/azure-cli/blob/dev/doc/modules_owned_by_cli_team.md) by the Azure CLI engineering team.

![image](https://user-images.githubusercontent.com/58762114/1743346

[2022-06-17 16:53] toddhammer opened #22927 "extension to mount encrypted drive not working correctly in my test."
Hey everyone.
I was testing the script to rescue encrypted disks on Linux.
The VM was ubuntu 20.04 with a single data disk.
I ran the az cli command on both powershell and bin/bash, both in Azure Cloud shell. Neither worked correctly.
Here is the command I ran: az vm repair create --name vm1 --resource-group NETWORKTEST --repair-password P@ssw0rd1234 --repair-username thammer --repair-vm-name myre

[2022-06-17 18:19] ttasharski73 commented on #22925
Changing profile breaks this, this is no longer needed

[2022-06-17 18:19] #22925 closed

[2022-06-17 18:38] andygjp commented on #20390
Hi,

I'm not sure if the problem is caused by the type of the built artefact.

I've created a repo, https://github.com/andygjp/LinuxAzureFuncSample, which deploys the same function to a Windows and Linux host via zip-deploy.

The output is generated in the same way:
[code]

The zip file is generated in the same way:
[code]

The `az` commands to create the function is the same, except for this one

[2022-06-17 20:47] wasker opened #22928 "az aks upgrade --kubernetes-version leaves cluster in bad state"
**Related command**

az aks upgrade --kubernetes-version --yes -g myrg -n myaks

**Describe the bug**

After upgrading from v1.22.x to v1.23.5, all subsequent operations on cluster fail.

`az aks nodepool update --name nodepool1 --cluster-name myaks --resource-group myrg --enable-cluster-autoscaler --min-count 1 --max-count 3`

Results in:

ERROR: (AgentPoolUpgradeVersionNotAllowed) Upgrade agent

[2022-06-17 20:55] hpourreza commented on #21875
Any update on this issue? I am using az cli 2.37.0 and I cannot see the `--overwrite` option with `az storage blob download-batch` command. Could you please let me know how I can fix this issue?

[2022-06-17 21:05] AntonioSun commented on #21627
Got bitten by this as well, by simply following https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-automate-vm-deployment

[code]

[2022-06-17 21:36] alexeyshishkin01 commented on #22887
ok, thanks 'acr import' does the job.

what if to point out it in the documentation ?

[2022-06-17 22:25] SatishBoddu-MSFT commented on #22711
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-06-17 22:25] #22711 closed

[2022-06-17 22:26] SatishBoddu-MSFT commented on #22728
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-06-17 22:26] #22728 closed

[2022-06-17 22:31] SatishBoddu-MSFT commented on #22866
Hello @sflobbe Could you please confirm if this issue is still persisting? we would like to hear more from the issue you are facing.

[2022-06-17 23:07] yonzhan commented on #22926
route to CXP team

[2022-06-17 23:10] yonzhan commented on #22928
route to CXP team

[2022-06-17 23:18] #21718 closed

[2022-06-17 23:21] #21710 closed

[2022-06-17 23:22] #21868 closed

[2022-06-18 03:57] zhoxing-ms commented on #21627
@atpatat @AntonioSun The CLI version you are using is too old. Please upgrade the CLI to the latest version [2.37.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) then try again

[2022-06-18 07:24] #21627 closed

[2022-06-18 07:38] #22732 closed

[2022-06-18 08:01] #22591 closed

[2022-06-19 00:29] yonzhan commented on #22927
route to CXP team

[2022-06-19 04:31] bpossolo commented on #9141
looks like this is supported now 🎉
I tried it from Microsoft Azure Storage Explorer and it successfully deleted all empty folders recursively.
If you want to do it from the filesystem with azcopy; this is the command Azure Storage Explorer used:
[code]

[2022-06-19 17:34] eliasarellano commented on #21898
Hello,
Your answers helped me a lot , @wangzelin007 thank you so much for your explaination, the issue has been resolved.
Sorry I missed up the comments of this topic.

[2022-06-20 01:33] 741300182 opened #22929 "When the Cli obtains the Computer Name parameter of a VM, the parameter is not read from the internal hostname of the system"
When the Cli obtains the Computer Name parameter of a VM, the parameter is not read from the internal hostname of the system
![image](https://user-images.githubusercontent.com/65695917/174510111-9a6e902e-05d2-4e1d-a254-e24b10315a50.png)
![image](https://user-images.githubusercontent.com/65695917/174510178-4a7ef114-4cba-436b-9cbc-039d35174a0b.png)

I get the right information when I'm using Powersh

[2022-06-20 01:51] evelyn-ys commented on #22900
CLI telemetry will store records in local cache files(`cache` and `cache.1` under `$homeFolder/.azure/telemetry/`) and send them together when:
- It has been more than 10 mins since last sent
- The `cache` file has grown up to more than 128K then it will rotate as a result of `cache.1`.

In this case, we will send all the records in `cache.1`.
So there does exist delay in CLI sending telemetry to

[2022-06-20 02:23] jiasli commented on #22923
If you are talking about APIs such as [Assign claimsMappingPolicy](https://docs.microsoft.com/en-us/graph/api/serviceprincipal-post-claimsmappingpolicies), there is currently no native command support. Please see https://github.com/Azure/azure-cli/issues/22580#issuecomment-1150686865 for the `az rest` solution.

[2022-06-20 02:28] calvinhzy commented on #21875
This argument is only for upload/upload-batch. download/download-batch overwrites by default now.

[2022-06-20 02:35] zhoxing-ms commented on #22222
@kangsun-ctrl May I ask what parameters other than the `--location` parameter need to be supported by the `az sig list-community` command?

[2022-06-20 02:49] navba-MSFT commented on #22869
Adding Service Team to look into the devops related issues.

@v-anvashist, @V-hmusukula Could you please look into this issue and provide an update ?

[2022-06-20 02:49] RakeshMohanMSFT commented on #22916
@seanslma Thank you for reaching out, we are looking into it.

[2022-06-20 02:50] RakeshMohanMSFT commented on #22921
@romanzdk Thank you for reaching out, we are looking into it.

[2022-06-20 02:51] navba-MSFT commented on #22889
@azeem2020 Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. We are looking into this issue and we will provide an update.

[2022-06-20 03:07] jiasli commented on #22924
This query is similar to https://github.com/Azure/azure-cli/issues/22923. May I know which [Microsoft Graph API](https://docs.microsoft.com/en-us/graph/api/overview?view=graph-rest-1.0) you are referring to? Most likely Azure CLI has no native support. Consider `az rest`.

[2022-06-20 03:21] yonzhan commented on #22929
Compute

[2022-06-20 04:01] navba-MSFT commented on #22253
@Nilubkal I wanted to do quick follow-up to check if you had a chance to check the above suggestions and test. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-06-20 04:22] kangsun-ctrl commented on #22222
@zhoxing-ms  The '--location' support is needed to be consistent with shared gallery. For '--skip-token', it depends on the ARG rest api/sdk requirement, they should support paging in some way, and as long as we provide user a way to go to the next page, it is good! thanks!

[2022-06-20 04:45] navba-MSFT commented on #22807
@mdhomer I had reached out to the Product Owners in the background and they have confirmed that this is a bug and working on fixing it. I will keep you posted on the progress of the fix.

[2022-06-20 04:46] navba-MSFT commented on #22833
@lipalath-ms The action is currently pending you to follow the above action plan. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-06-20 04:46] #22833 closed

[2022-06-20 04:47] navba-MSFT commented on #22808
@JSCProjects I am following up to check if you got the ticket # created from Microsoft Support.

[2022-06-20 04:48] navba-MSFT commented on #22856
@vaishnavils97 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-06-20 04:57] navba-MSFT commented on #22888
@mokainos I wanted to do quick follow-up to check if you had a chance to follow my above suggestion. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-06-20 05:57] navba-MSFT commented on #22893
@wkalt I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-06-20 06:06] navba-MSFT commented on #22889
@azeem2020 Could you please delete the` rdbms-connect` folder n the ~/.azure/cliextensions/ location and install the most recent version of this extension using the below command ?

Post this, you can try to run the AzCli command `az postgres flexible-server connect` again and check if you see the issue. Awaiting your reply.

[2022-06-20 06:16] nielsvanderkaap opened #22930 "Add az bicep generate-params"
**Related command**
az bicep

**Is your feature request related to a problem? Please describe.**
New Bicep CLI command generate-params is not supported using az CLI. This command generates a parameter file for a given bicep file.

**Describe the solution you'd like**
Add az bicep generate-params, thus allowing the generation of parameter files through az CLI.

**Describe alternatives you've consid

[2022-06-20 06:19] JSCProjects commented on #22808
Hi @navba-MSFT we received a tracking number friday late in the evening. It's TrackingID#2206160040002677

[2022-06-20 06:25] navba-MSFT commented on #22808
@JSCProjects Thanks for the update. Our CSS engineer has reached out to the point of contact mentioned in support ticket and currently waiting for the details of the resource and time of the issue. Once the support professional gets this info, he should be able to take this forward and identify the cause of the issue and assist you further.

[2022-06-20 06:56] tbluejeans commented on #22562
@yonzhan  Any update on this?

[2022-06-20 06:59] JianxinLi333 opened #22931 "Azure ML CLI v2 submit ML Job failed. command: az ml job create -f jobs/basics/hello-mlflow.yml --web"
az version
{
  "azure-cli": "2.37.0",
  "azure-cli-core": "2.37.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "ml": "2.5.0"
  }
}

**Related command**

az ml job create -f jobs/basics/hello-mlflow.yml --web

**Describe the bug**

When follow the document https://docs.microsoft.com/en-us/azure/machine-learning/how-to-train-cli to submit ML job to China Azure ML Workspace, Command _az

[2022-06-20 07:13] navba-MSFT commented on #22834
@amoradiaz Thanks for getting back. I am glad that my above suggestions helped.

The `--auto-delete-on-idle` property is optional and if **_not_** specified while creating the subscription using AzureCLI it will be set to `Never`.  The minimum duration that can be set for this property is 5 minutes.

You can tweak / update this property even after the subscription is created. If you would like to

[2022-06-20 07:20] AdishreeM opened #22932 "Add new operators in WAF custom rule condition"
**Related command**
az network application-gateway waf-policy custom-rule match-condition add

**Is your feature request related to a problem? Please describe.**
New operators for custom rule condition have been added to NRP- "Any", "GeoMatch". Changes are submitted in azure-powershell. Azure-cli needs to be updated accordingly.

**Describe the solution you'd like**
Customer should be able to add

[2022-06-20 07:22] vaishnavils97 commented on #22856
Hi, @navba-MSFT Thanks for the update. I was looking for the ACR configurations. I have already implemented Docker trust. Thanks

[2022-06-20 07:25] navba-MSFT commented on #22856
@vaishnavils97 Thanks for getting back. As mentioned earlier, there is not such a feature to allow pushing signed images only to ACR. It is by design to allowing pushing both signed and unsigned images to ACR or any registries with content trust. With that, we will proceed with the closure of this GitHub thread. If you need any further assistance, please feel free to reopen this thread and we coul

[2022-06-20 07:25] #22856 closed

[2022-06-20 07:38] Nilubkal commented on #22253
Yes, it seems that the suggested solution works. This should be added tot the official documentation of  `az` cli.
Thanks !

[2022-06-20 07:59] LaurentiuAugustin opened #22933 "I can't connect to SQL Server on Azure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-06-20 08:02] v-soujanya commented on #22624
Hi @omerzubair,
we dropped mail to API team and waiting for their response. we will get back to you once we received response from the API team.

Thanks!

[2022-06-20 08:25] HenrikSommer-Energinet opened #22934 "Deleting last function also app service plan"
**Related command**
az functionapp delete

**Is your feature request related to a problem? Please describe.**
When deleting the last function app in a plan, this command is also deleting the app service plan.

**Describe the solution you'd like**
add argument `--keep-empty-plan` like we have in `az webapp delete `

[2022-06-20 08:29] RakeshMohanMSFT commented on #22910
@cmenzi I am unable to reproduce this issue at my end. Here is the screenshot of my successful completion. This is the command I used `az acr build -r issue22910 . --platform linux` Please let me know if I missed anything crucial, so it will help further.

![image](https://user-images.githubusercontent.com/49954584/174558991-6e8e7e1d-0d7d-43e4-ba62-66865d63766d.png)

[2022-06-20 08:33] yonzhan commented on #22930
route to CXP team

[2022-06-20 08:37] yonzhan commented on #22562
bastion service team should take a look

[2022-06-20 08:37] yonzhan commented on #22931
route to CXP team

[2022-06-20 08:38] edwiles commented on #22153
I found this was fixed by running `conda install pywin32`

[2022-06-20 08:39] RakeshMohanMSFT commented on #22921
@romanzdk I request you to open a support ticket for this issue, because its not azure cli issue per se. The backend is returning this error, therefore the scope of troubleshooting issue from the service end will help.

[2022-06-20 08:39] yonzhan commented on #22932
network

[2022-06-20 08:42] yonzhan commented on #22933
@jiasli for awareness

[2022-06-20 08:43] yonzhan commented on #22933
Duplicate of https://github.com/Azure/azure-cli/issues/20231

[2022-06-20 08:43] #22933 closed

[2022-06-20 08:44] arndt-s commented on #22735
@Icybiubiubiu you can use managed identity with 2.37.0 now, the api version is available in Mooncake since last week.

[2022-06-20 08:44] yonzhan commented on #22934
route to CXP team

[2022-06-20 08:46] arndt-s commented on #22706
@cuijun-1993 you can use 2.37.0 now. The mentioned api version got rollout out to mooncake last week.

[2022-06-20 08:52] navba-MSFT commented on #22807
@mdhomer Thanks for getting back. You need not repro the issue again. I will keep you posted on the fix and I will get back with an answer to your above questions.

[2022-06-20 09:27] navba-MSFT commented on #22253
@Nilubkal Thanks for getting back. The above PR has been filed to fix our documentation to include this command.

[2022-06-20 09:30] PramodValavala-MSFT commented on #22926
@dbradish-microsoft @rula88 This is the default set by the Azure CLI which is like the docs mentioned (since they are generated as mentioned in the other issue). Since you could always pass in your own value, I don't see why this has to be changed unless its an official decision to do so. Could you elaborate?

[2022-06-20 10:04] RakeshMohanMSFT commented on #22916
@seanslma can you please upgrade your azure CLI to its latest version [2.37.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)? i am able to get it to work with latest cli.

[2022-06-20 10:16] #21423 closed

[2022-06-20 11:45] v-soujanya commented on #22624
@omerzubair we received response from API team. They do have this covered in the REST API ([Configurations - Create - REST API (Azure DevOps Policy) | Microsoft Docs](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Frest%2Fapi%2Fazure%2Fdevops%2Fpolicy%2Fconfigurations%2Fcreate%3Fview%3Dazure-devops-rest-7.1%23approval-count-policy&data=05%7C01%7Cv-sbe

[2022-06-20 12:27] kspoojary opened #22935 "Hoe to enable Diagnostics log setting fpr VMSS using Log analytics workspace"
I couldn't find any documentation on enabling diagnostic settings using log analytics workspace. Is this possible? if yes can you please share the script

[2022-06-20 16:15] cisarpavel opened #22936 "Logs failed to download"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp log download`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp log download --name {} --resource-group {}`

## Expecte

[2022-06-20 16:24] samhodgkinson opened #22937 "Failed Login Az Login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-06-20 17:17] arikt-ms opened #22938 "Terraform and CLI work for GA of Azure Fluid Relay"
**Resource Provider**
Microsoft.FluidRelay

**Description of Feature or Work Requested**
Azure Fluid Relay is a new PaaS offering providing a platform for building low-latency, collaborative experiences. We are working on GA release and would like to request the release of Terraform and CLI libraries.

**Minimum API Version Required**
2022-06-01

**Swagger Link**
https://github.com/Azure/azure-res

[2022-06-20 18:16] m10d opened #22940 "internal sdk (GraphClient) error runing `az webapp config ssl import`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config ssl import`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config ssl import --resource-group {} --name {} --

[2022-06-20 18:50] aldass-snc commented on #22661
@arndt-s oh nice, I'll get a chance to test the new stack over the weekend and will let you know.

[2022-06-20 19:27] aquaticpond opened #22942 "permission denied trying to use bicep build"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az bicep build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az bicep build --file {} --outfile {}`

## Expected Behavior

## Environm

[2022-06-20 19:36] azeem2020 commented on #22889
Thank you for your feedback. The given workaround works well.

[2022-06-20 21:55] JaneYan-2016 commented on #22900
@evelyn-ys , thanks for the information. Does this mean the delay is up to 10 mins?
I believe we are seeing data mismatch after one day. Could there be other issues we are seeing?

[2022-06-20 22:03] StrawnSC commented on #21133
Looks like there is a related issue where:
1. User uploads a cert to a Web App
2. They try to use the cert on a different Web App in the same App Service Plan (but different resource group)
3. They cannot re-upload the cert because certs are associated with the ASP and the API errors out

This particular user's issue could be solved by extending [`_update_ssl_binding`](https://github.com/Azure/azu

[2022-06-20 23:13] yonzhan commented on #22937
Duplicate of https://github.com/Azure/azure-cli/issues/20231

[2022-06-20 23:13] #22937 closed

[2022-06-20 23:15] yonzhan commented on #22938
Fluid Relay

[2022-06-20 23:17] yonzhan commented on #22940
route to CXP team

[2022-06-20 23:28] yonzhan commented on #22942
route to CXP team

[2022-06-21 02:14] evelyn-ys commented on #22900
Not only time restriction.
Telemetry records won't be sent until customer executes CLI commands more than 43/44 times (Usually 43/44 records can make the `cache` file larger than 128k which will trigger telemetry upload)

[2022-06-21 02:31] #22817 closed

[2022-06-21 02:52] seanslma commented on #22916
I have no issues running the command on azure cloud shell (suppose azure shell has the latest version).

I tried to upgrade to the newest version on my machine but failed. Not sure this is due to azure or ubuntu.
[code]

[2022-06-21 03:32] ozbillwang opened #22946 "waiting for long time without output - "az ad group list""
**Related command**

[code]
**Describe the bug**

**I can create AzureAD group**, but when list it, there is no output, no finish, command stuck for half hour without any output. So I have to `ctrl+c` it.

Try the command several times, got same result.

[code]

**To Reproduce**

run command `az ad group list`

**Expected behavior**

list the groups

**Environment summary**

[code]
**Additional co

[2022-06-21 03:39] navba-MSFT commented on #22928
@wasker Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. We are looking into this issue and we will provide an update.

[2022-06-21 03:49] JaneYan-2016 opened #22947 "CLI ActionResult=None"
**Related command**

Az arcappliance VMware

**Describe the bug**

When researching the customer Arc appliance deployment using the CLI telemetry, we see a large percentage (over 30%) shows as "None", and no custom data returned.

**To Reproduce**

Here is the query. Group by `ActionResult`
let ['_startTime']=datetime('2022-03-26T16:15:34Z');
let ['_endTime']=datetime('2022-06-13T16:15:34Z');
//le

[2022-06-21 04:08] navba-MSFT commented on #22940
@m10d Thanks for reaching out to us and sharing this feedback. We are looking into this issue and we will provide an update.

[2022-06-21 04:21] seanslma commented on #22916
Thanks Rakesh.
Azure CLI upgraded successfully to the latest version 2.37.0 and there is no issue to run the command `az aks maintenanceconfiguration list`.
Please close this issue.

[2022-06-21 04:21] #22916 closed

[2022-06-21 04:34] yonzhan commented on #22947
route to CXP team to help with

[2022-06-21 04:41] yonzhan commented on #22946
@jiasli for awareness

[2022-06-21 05:58] navba-MSFT commented on #22940
@m10d  It looks like a regression in Az CLI 2.37.0. We are aware of this issue and this is being worked upon.
So until the fix is released you can downgrade the AzCLI to 2.36.0 as a workaround.

PR details for tracking purpose: https://github.com/Azure/azure-cli/pull/22819
Closing this as a duplicate of https://github.com/Azure/azure-cli/issues/22722

[2022-06-21 05:58] #22940 closed

[2022-06-21 06:02] AjKundnani commented on #22199
@PARADISSEEKR - Please confirm if `--os-disk-security-encryption-type` with value  **VMGuestStateOnly** is working as expected? Only issue is with PMK & CMK scenarios?

[2022-06-21 06:20] #22914 closed

[2022-06-21 06:30] navba-MSFT commented on #22936
@cisarpavel I see that you are using an older version of Azure CLI. Could you update your AzCLI to the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) and test the download again ?

On a side note, ensure that you are using a reliable network which has a better download speed while testing the command.

Awaiting your reply.

[2022-06-21 06:49] navba-MSFT commented on #22807
@mdhomer I have heard back from the Product Owners. The fix is done at the Resource Provider level and it will be rolled out next Monday. Hope this answers.

[2022-06-21 06:52] navba-MSFT commented on #22928
@wasker I had reached out to the Product Owners in the background and they have confirmed that this is a bug. The fix will be done at the Resource Provider layer and will be released next Monday. Hope this helps.

Tagging the similar issue here https://github.com/Azure/azure-cli/issues/22807

[2022-06-21 07:15] ms-saypaul commented on #22199
So, CMK and PMK scenarios is supported for VMSS with --os-disk-security-encryption-type with value DiskWithVMGuestState  from specialized SIG images having SecurityType of the image set as ConfidentialVM.

But the CMK is blocked in the current CRP changes present in Canary and NorthEurope, and should be enabled in next rollout.

Or you can test it in EastUS2EUAP slice 5 around this time tomorrow,

[2022-06-21 07:31] handhikadj opened #22949 "sometimes getting timeout error when upload"
## Describe the bug
getting it both on iTerm and Terminal. dunno the cause. VPN couldn't help.
however if I upload it using the MS Azure Storage Explorer app, the upload succeeds

**Command Name**
`az storage blob upload`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az storage blo

[2022-06-21 08:26] cisarpavel commented on #22936
@navba-MSFT  Thanks, I used default repo version. Newer one works well.

[2022-06-21 08:26] #22936 closed

[2022-06-21 08:34] stej commented on #9536
This trick with embedded double quotes doesn't work if `PSNativeCommandArgumentPassing` feature is enabled.
[code]

[2022-06-21 09:30] yonzhan commented on #22949
storage

[2022-06-21 09:34] PramodValavala-MSFT commented on #22942
@aquaticpond There error you are seeing is because the binary is for a different architecture (ARM vs x86, for example) than your computer. Try removing the `/Users/tarassein/.azure/bin/bicep` file and let Azure CLI download it afresh.

[2022-06-21 11:06] navba-MSFT commented on #22887
This has been documented here: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-import-images?tabs=azure-cli

[2022-06-21 11:42] KeliGui commented on #18272
For webservice update, AML use rolling update strategy and set the maxUnavailable and maxSurge to 1.  So if the replica number of your webservice is larger than 1, there will be no downtime.

[2022-06-21 12:08] kjoth commented on #22892
Yes this issue occurred for az 2.36.0 as well.

azure-cli                         2.36.0 *
core                              2.36.0 *
telemetry                          1.0.6
Dependencies:
msal                              1.18.0
azure-mgmt-resource               20.0.0

Python location '/home/ecaeskickstartadmininstallation/ecaes-analytics/bin/python3.7'
Extensions directory '/home/ecaeskickstart

[2022-06-21 12:30] evelyn-ys commented on #22892
@kjoth Please ensure that storage account `ecaanalyticblobstgtwo` exists. The error message says that `Name or service not known`

[2022-06-21 12:42] ekelmans commented on #9141
YESSS !!!

Finally !

[2022-06-21 12:46] alexpilon666 commented on #22821
Any news on this issue ?
We're in the process of migrating from Centos7 to Ubuntu 22.04LTS, and this issue is actively blocking our progress as we heavily rely on Azure CLI for our day-to-day work.

[2022-06-21 13:44] sijucm opened #22952 "--parameters with multiple parameters does not work according to documentation"
Typical Microsoft way of implementing this change. It says in the documentation : "--parameters : Space separated "name=value" pairs for the parameters you would like to set"

If I try
az pipelines run --branch xx --name nameofpipeline --organization https://dev.azure.com/orgname/ --project projet --parameters "A=x B=y" will give the error
"The 'A' parameter value 'x B=y' is not a valid value."
Of

[2022-06-21 13:47] zhoxing-ms commented on #22821
Duplicate of https://github.com/Azure/azure-cli/issues/20348. Please see https://github.com/Azure/azure-cli/issues/20348#issuecomment-988427069 for the solution.

[2022-06-21 13:49] adba-msft commented on #21390
Upgrading the Az CLI fixed the issue.

[2022-06-21 13:52] adba-msft commented on #21390
[Upgrading the Az CLI](https://docs.microsoft.com/en-us/cli/azure/update-azure-cli) fixed this issue.

[](url)

PowerShell output:

[code]

[2022-06-21 14:44] danielcgonzalez commented on #20735
same problem here

    "enableFileCopy": true,
    "enableIpConnect": false,
    "enableShareableLink": false,
    "enableTunneling": true,

but

msrestazure.azure_exceptions.CloudError: Tunneling is disabled

[2022-06-21 14:46] 4ttedertlf opened #22953 "Az webapp deployment slot log or status - feature request"
**Related command**

az webapp deployment slot swap - is the related command

**Is your feature request related to a problem? Please describe.**

I can't swap the slots because the source slot is not resolving a ping. I can see that in the phone app for Azure but I can't see that in the Azure portal log or with Az CLI (at least that I could find).

I need a way to determine the issue with a failed

[2022-06-21 14:55] alexeyshishkin01 commented on #22887
many thanks, really appreciate it !

[2022-06-21 15:04] yonzhan commented on #22952
route to CXP team

[2022-06-21 15:07] yonzhan commented on #22953
route to CXP team

[2022-06-21 15:24] 4ttedertlf commented on #22953
@diberry - fyi

[2022-06-21 16:56] danielsc opened #22954 "We need way more infos on MLTable"
Our documentation is lacking deeper information on the MLTable format.
I cannot seem to find any reference docs, nor a JSON schema, nor any samples that go beyond referencing a single csv or jsonl file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cf5a19a0-c37e-4567-0c30-7efe1c433dfb
* Version Independent ID: 8c4e79d

[2022-06-21 17:49] chantra opened #22955 "azure-cli rpm take ~700MB of disk space"
**Describe the bug**

Installing **azure-cli-2.36.0-1.el8.x86_64** result in 730MB worth of files installed.

**To Reproduce**

[code]

the RPM itself is only 50MB (compressed):
[code]

There is probably a good reason for that many libraries to be shipped along, such as ensuring that the CLI is self contained and does not depend on system libraries, but it seems there is an abnormal amount of hist

[2022-06-21 18:00] mkulisic commented on #10700
I am encountering the exact same issues. Are there any updates on this?

[2022-06-21 18:42] kangsun-ctrl commented on #22222
Hey @zhoxing-ms, if you have that extra time, it would be great to convert the data structure. But SIG team will not migrate List call from ARG REST to SIG REST.

[2022-06-21 19:45] alexpilon666 commented on #22821
@zhoxing-ms , @jiasli , in my case, even though yes I am running on Ubuntu (not Debian directly), AzureCLI was installed via Python, not via the package manager.

This is how we have installed it:
_Note: The lack of `sudo` works because this is running inside an Ubuntu 22.04LTS container. All commands are executed as root, and when running AzureCLI post-install we are also running as root._
[code]

[2022-06-21 20:18] VigneshB-AzurePaaS opened #22957 "Keep getting key missing error while using Approve-AzPrivateEndpointConnection."
Keep getting key missing error while using Approve-AzPrivateEndpointConnection. What is the parameter actually missing here?

Approve-AzPrivateEndpointConnection -Name "privateEndpointName" -ResourceGroupName "resourceGroupName" -ServiceName "storageAccountName"

Is there anything missing or wrong in the way I am giving this request?

![image](https://user-images.githubusercontent.com/104787499/17

[2022-06-21 23:50] yonzhan commented on #22954
route to CXP team

[2022-06-21 23:51] yonzhan commented on #22955
@jiasli for awareness

[2022-06-21 23:56] yonzhan commented on #22957
Please create this issue in azure-powershell repo

[2022-06-21 23:56] #22957 closed

[2022-06-22 00:26] AnvitaDineshRao commented on #20735
Hi @danielcgonzalez , I'm looking into this and haven't been able to recreate the scenario yet.  I'd really appreciate if you could provide some information/steps on recreating it.
Did you enable Native client feature from Portal? Also , Were there multiple operations done simultaneously ? For instance updating Sku and enabling features?

[2022-06-22 00:50] omerzubair commented on #22624
Hi @v-soujanya , thanks for your response. I will certainly try and revert back.
cheers

[2022-06-22 01:55] jiasli commented on #20013
Duplicate of #13064

As stated in https://github.com/Azure/azure-cli/issues/22580#issuecomment-1150686865,

**The equivalent of Azure CLI is `Az` PowerShell module from [Azure PowerShell](https://docs.microsoft.com/en-us/powershell/azure).** `AzureAD` and `AzureADPreview` modules are from [Azure Active Directory PowerShell](https://docs.microsoft.com/en-us/powershell/azure/active-directory/install

[2022-06-22 01:55] #20013 closed

[2022-06-22 01:58] PuTaTus commented on #7564
Nope, I tried to contact microsoft regarding this issue. They told me that the feature is yet to be added.

[2022-06-22 01:58] jiasli commented on #22946
Could you please run the command with `--debug` and see if it is really stuck or you have too many groups to list?

[2022-06-22 02:08] qiqiqiqil opened #22961 "Please help to provide az cli sopport for Azure Automation update management"
**Related command**

should be az automtion xxx

**Is your feature request related to a problem? Please describe.**

Customer has hundreds of VMs in Azure that would like to use Automation Update management to manage patch. currently most of their jobs are done using Az cli. Customer want az cli can also manage UM.

**Describe the solution you'd like**

https://docs.microsoft.com/en-us/rest/api/au

[2022-06-22 02:11] yonzhan commented on #22961
automation

[2022-06-22 02:16] jiasli commented on #22821
The `dist-packages` folder in your callstack indicates you are still calling the Azure CLI installed from `apt`. Please follow https://github.com/Azure/azure-cli/issues/19640#issuecomment-924578571 to uninstall the `apt`-installed Azure CLI and try again.

[2022-06-22 02:30] #22425 closed

[2022-06-22 02:51] navba-MSFT commented on #22834
@amoradiaz I hope you had a chance to look at my above comment. Please let me know if you need any further assistance on this or we can proceed with closure.

[2022-06-22 03:02] navba-MSFT commented on #22888
@mokainos The action is currently pending on you to follow the above plan. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-06-22 03:02] #22888 closed

[2022-06-22 03:16] jiasli commented on #22821
The `tabulate` issue was reported long ago (#20348) and was fixed by #20195.

I can't reproduce this error with above steps:

[code]

Could you run `python3 -m pip list -v` and check the `tabulate` package version?

If you want to use pip, creating a virtual environment first is recommended. See https://github.com/Azure/azure-cli/issues/20476.

Please also note that we recommend **using the offici

[2022-06-22 03:18] #22722 closed

[2022-06-22 03:28] evelyn-ys commented on #10700
Customer can create container(file system) in Data Lake Gen2 storage account using `az storage fs create` command

[2022-06-22 03:48] zhoxing-ms commented on #22199
@ms-saypaul May I ask what is the approximate rollout time? If CLI has exposed this feature before rollout, is it in line with your expectations?

[2022-06-22 03:59] navba-MSFT commented on #22890
@CKozanecki Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-06-22 04:29] RakeshMohanMSFT commented on #22952
@sijucm Thank you for reaching out, we are looking into it.

[2022-06-22 04:32] RakeshMohanMSFT commented on #22830
@iSplasher Thank you for reaching out, we are looking into it.

[2022-06-22 04:36] RakeshMohanMSFT commented on #22729
@luticm Thank you for reaching out, we are looking into it.

[2022-06-22 05:46] AjKundnani commented on #22199
@zhoxing-ms - It is in line with expectations, yes. As these capabilities will be enabled in near future. We will have to document in such way that end user knows for VMSS what the available deployment options are.

[2022-06-22 06:29] zhoxing-ms commented on #10700
The problem of ARM deployment still exists. The error information returned by the service is as follows:
[code]

**'x-ms-correlation-request-id': '1aad2908-4970-4723-b1da-8d31eb0e35ef'**

@alex-frankel May I ask do you know who in the ARM service team can help us investigate this issue?

[2022-06-22 06:30] navba-MSFT commented on #22890
@CKozanecki I see that you are using an older version of `aks-preview` extension. Could you please update your extension to the most recent version and then test again ?

Awaiting your reply.

[2022-06-22 06:35] sijucm commented on #22952
It works with --parameters "A=x" "B=y"

[2022-06-22 07:41] ozbillwang commented on #22946
you are right, the system has 100k+ groups.

I tested with my own account, it works.

[2022-06-22 07:41] #22946 closed

[2022-06-22 12:10] jamescrowley opened #22967 "az ml job create should respect .gitignore files in parent directories"
**Related command**
az ml job create

**Is your feature request related to a problem? Please describe.**
When running `az ml job create` for a pipeline, folders like __pycache__ are uploaded into the snapshot from every component in the pipeline.

These are excluded in a parent directory .gitignore (the same directory the pipeline yaml is defined in), and yet the CLI does not respect these.

I see

[2022-06-22 12:37] amoradiaz commented on #22834
I can confirm that what you suggested checks out. I can do all of that as long as I don't add a forwarding queue/topic.

As soon as I do that, the Auto-delete option disappears from the portal view.

before:
![image](https://user-images.githubusercontent.com/65770472/175030101-100ad51f-c362-47f2-94a8-3dd335119c93.png)

after:
![image](https://user-images.githubusercontent.com/65770472/175030157-5d

[2022-06-22 13:40] despian opened #22968 ""Auto grow feature for replica server cannot be disabled." when creating new mysql flexible-server"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I'm hitting this error when trying to create a new MySQL server. As far as I can see it should not be a replica server.

https://github.com/Azure/azure-cli/blob/fc3b0940514a0ed1d032a5c86f27dbfa655a2547/src/azure-cli/azure/cli/command_modules/rdbms/validators.py#L199

**Command Name**
`az mysql flexible-server

[2022-06-22 13:59] aalmowaled opened #22969 "Issue deploying VM using CLI - az vm create"
Hello,

Trying to deploy a VM using pre-existing components as the user has a custom role that denies him from creating any new components (NIC, VNet, Subnet)

We've attempted the deployment from the portal and manually chose preexisting NIC/VNet/Subnet, and the deployment was successful

When we tried to deploy using cloudshell with specifying all the needed flags, we're getting the below error a

[2022-06-22 15:13] yonzhan commented on #22968
route to CXP team

[2022-06-22 15:13] yonzhan commented on #22969
Compute

[2022-06-22 17:26] YurongHe commented on #22895
@ImtiazSiddiqui, could you try the steps in https://stackoverflow.com/questions/20500613/how-to-set-a-proxy-for-the-azure-cli-command-line-tool and let's know if it works for you.

[2022-06-22 19:33] guillermoabdon commented on #11210
Hello all!
I'm getting problems to use all the flags except --all
When I use this query to get the roles assigned to a user, for all the components under a subscription, only receive the users added directly to the component, but isn't show me the permissions Inherited. I'm using this query to get that values:     **az role assignment list --all --query "[?principalName=='$USR'].principalName:prin

[2022-06-22 22:26] brad-lucas commented on #21652
I ended up needing to go through Azure support to get resolved here.

Anyone who comes along this in the future: I was able to get unblocked by ignoring the diagnostic message and used `az login --use-device-code`, which seemed to force-clear my CLI's cache.

[2022-06-22 23:18] sethreidnz commented on #22208
I can also confirm this occurs when using ARM templates as well.

[2022-06-23 01:00] jasonhorner opened #22973 "cli should support managing Azure Analysis Services"
**Related command**
N/A

**Is your feature request related to a problem? Please describe.**
azure-cli doesn't appear to support managing Azure Analysis Services

**Describe the solution you'd like**
I would like az commands for the following operations: suspend, resume, scale (more generally set instances properties) create, and refresh / execute  query

**Describe alternatives you've considered**

[2022-06-23 01:14] wnadim92 opened #22974 "global admin on my own subscription, not being able to read contents of my own blobs in azure storage account, tried to add role to read via Azure PowerShell, failed with below error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role assignment create`

**Errors:**
[code]

[2022-06-23 02:07] yonzhan commented on #22973
PLR

[2022-06-23 02:08] yonzhan commented on #22974
@jiasli for awareness

[2022-06-23 02:16] jsntcy commented on #19791
This change will be released in July 5th.

[2022-06-23 02:54] navba-MSFT commented on #22834
Involving Service Team to comment on this.

@Saglodha Please look into the above ask once you get a chance.

[2022-06-23 03:00] navba-MSFT commented on #22889
@azeem2020 A quick follow-up to check if you have tried the above action plan. Please let me know if you have any update on this.

[2022-06-23 03:05] navba-MSFT commented on #22893
@wkalt The action is currently pending on you to follow the above action plan. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-06-23 03:05] #22893 closed

[2022-06-23 03:07] abatishchev commented on #11718
Node that this:

[code]

Can be nicely replaced with this:

[code]

[2022-06-23 03:36] RakeshMohanMSFT commented on #22968
@despian Thank you for reaching out, we are looking into it.

[2022-06-23 04:55] AjKundnani commented on #22200
Updated request to reflect `--secure-vm-disk-encryption-set` as parameter name.

[2022-06-23 05:43] jiasli commented on #22974
Could you run the command with `--debug` and see which request failed?

[2022-06-23 05:48] jiasli commented on #22208
Without providing `--assignee-principal-type`, ARM needs some time to synchronize from Microsoft Graph.

However, since even when `--assignee-principal-type` is provided, you are still seeing error, let me follow up with ARM team internally.

[2022-06-23 05:50] luigiw commented on #22967
Hello @jamescrowley .gitignore files are respected by AzureML CLI v2. Can you share your job YAML file and the folder structure of your code folder?

[2022-06-23 05:58] kjoth opened #22977 "Az cli version 2.37.0 breaks backwards compatibility"
**Related command**
az ad sp list --filter "displayName eq '${SVC_PRINCIPAL_NAME}'" | jq -r '.[].appOwnerTenantId'
az ad sp list --filter "displayName eq '${SVC_PRINCIPAL_NAME}'" | jq -r '.[].appOwnerOrganizationId'

**Describe the bug**
In the versions 2.22.0 to 2.36.0, the command to get the TenantId is referenced by appOwnerTenantId field.
But in the version 2.37.0,  the command to get the Tena

[2022-06-23 06:05] kjoth commented on #22892
@evelyn-ys , The storage account is present. Its an issue with Azure traffic in the Microsoft n/w. The

There is a VM which has been created in the Azure in different region from the storage account. From the VM trying to access Storage by running az create container command, after adding the VM public IP in Firewall rules. By someway this VM is not able to resolve the dns name of the blob-storage

[2022-06-23 06:09] kjoth commented on #22892
@DandaSowmithri , Could you check
1.  From where is this command is being executed? Is it from an Azure VM
2.If so did the Azure VM and storage account resides in same region?

[2022-06-23 06:17] navba-MSFT commented on #22374
@CosX Apologies for the late reply. Thanks for reaching out to us and sharing this feedback.

You can refer [this](https://docs.microsoft.com/en-us/azure/aks/load-balancer-standard#scale-the-number-of-managed-outbound-public-ips) article.

Once the values have been calculated and verified, you can apply those values using load-balancer-outbound-ports and either load-balancer-managed-outbound-ip-co

[2022-06-23 06:32] jiasli commented on #17922
Azure CLI does support Unicode. The error is caused by **PowerShell on non-UTF-8-enabled Windows**, as you are saving the result to a PowerShell variable. See https://github.com/microsoft/knack/pull/178 for details.

The latest Azure CLI 2.37.0 doesn't fail anymore. Instead, it discards the Unicode character and shows a warning:

[code]

[2022-06-23 06:32] #17922 closed

[2022-06-23 06:34] jiasli commented on #17922
@bmaupin, if you have any question related to JSON body encoding, please create a new issue with required information, like what command you run, what is the expected output, etc.

[2022-06-23 06:43] navba-MSFT commented on #22496
@leom-restack @GeneralGorgonzola Apologies for the late reply. Thanks for reaching out to us and reporting this issue.

The `Compute allocation failed` error message would occur when there is a capacity related resource crunch in that particular region. During such issues, you can wait for sometime and then retry the operation. Alternatively you could also try to create the resource in some other

[2022-06-23 06:53] yonzhan commented on #22977
@jiasli for awareness

[2022-06-23 07:06] jiasli commented on #22977
We have clearly documented breaking changes in https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-migration, which points to https://docs.microsoft.com/en-us/graph/migrate-azure-ad-graph-property-differences#serviceprincipal-property-differences.

`az ad sp list` also displays an in-tool warning for the breaking change.

[code]

[2022-06-23 07:06] #22977 closed

[2022-06-23 07:11] bmarinov commented on #21195
I suspect that I am hitting this issue. The output of `az ad sp credential list --id "$SP_ID" --query "[].endDateTime" -o tsv` is the expiration time of the original credentials. These have been reset months ago, but im still seeing the old date.

I need to figure out in advance which cluster credentials need to be reset soon. After wrestling with the ms graph API for a while (filtering should not

[2022-06-23 07:30] rezarms commented on #21195
The issue is from Graph api because by using powershell you'll see the same issue.
The workaround is to use
[code]
If it's empty then use
[code]

[2022-06-23 08:01] mayssamm opened #22981 "Redundant information in error messages, suggesting adding a --verbose command line argument"
**Related command**

When running a command fails, the CLI prints redundant error information:
First line is always the summary which contains the error code and the error message.
Consequent lines contain the error code, error message, error details and and inner errors / inner exceptions if any.
The error code and error message always appear twice.

**Describe the solution you'd like**

Remove e

[2022-06-23 08:10] baromojm commented on #21247
The issue seems to be with URL:
https://management.azure.com/tenants?api-version=2019-11-01

Steps to reproduce:
$ docker run -it --rm mcr.microsoft.com/azure-cli:latest
bash-5.1# curl https://management.azure.com/tenants?api-version=2019-11-01
curl: (6) Could not resolve host: management.azure.com

[2022-06-23 08:53] bmarinov commented on #21195
Thanks, I didn't think of this. Its decent as far as workarounds go :)

[2022-06-23 09:00] jamescrowley commented on #22967
folder structure:

[code]

pipeline yaml:
[code]

job yaml:

[code]

results in UI, showing __pycache__ being uploaded

<img width="919" alt="Screenshot 2022-06-23 at 09 59 44" src="https://user-images.githubusercontent.com/509533/175260541-edf9001d-1e72-4811-9a57-75ab0f501c1c.png">

[2022-06-23 10:34] yonzhan commented on #22981
route to CXP team

[2022-06-23 10:40] fgheysels commented on #10066
I'm actually running in the same error.
I'm executing this command in an AzureCLI@2 task in a yaml pipeline which runs on a windows-2022 hosted agent with scripttype pscore.

Version of Azure CLI is 2.198.0

I ran into the error which says 'not enough values to unpack', and I also ran in the situation where the last ) was truncated from my config-value (which is a KeyVault secret reference).

[2022-06-23 11:02] bweissman opened #22984 "Installing arcdata extension on disconnected system fails"
**Command Name**
`az extension add`

**Errors:**
I am trying to install the arcdata on a disconnected system. All prerequisites are installed, however at every run, the error is shown that a dependent module is missing (the module will change at every run and it is installed, see attachment)

[code]

depending on the run, it will complain about different python modules missing, however, they are i

[2022-06-23 11:24] yonzhan commented on #22984
route to CXP team

[2022-06-23 12:37] eltersouza opened #22985 "Error on running az keyvault set-policy command."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault set-policy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault set-policy --name {} --upn {} --secret-permissions {}

[2022-06-23 13:23] iSplasher commented on #22830
I was using the command with bash using WSL. I'm not sure how the control character appeared but I remember copying and pasting commands spanning over multiple lines. I was also using an environment variable like below. The control character couldn't be seen with `echo AZURE_FILE_KEY`, only in the `--debug` log of the `az` command.
[code]

[2022-06-23 13:35] RakeshMohanMSFT commented on #22830
@iSplasher Let me try with WSL and get back to you.

[2022-06-23 14:18] yonzhan commented on #22985
keyvault

[2022-06-23 14:20] fgheysels commented on #17804
Any news on this ?

[2022-06-23 14:21] fgheysels commented on #10066
Might this issue be somewhat related to this ?
https://github.com/Azure/azure-cli/issues/17804

[2022-06-23 14:27] PramodValavala-MSFT commented on #22816
@MatthewGleeson Looks like this has been addressed in the linked python issue. Closing this.

[2022-06-23 14:27] #22816 closed

[2022-06-23 15:05] fgheysels commented on #19609
I think this can be closed :)

[2022-06-23 15:05] #19609 closed

[2022-06-23 16:00] jonest opened #22988 "Return types not included in documentation"
At one point there were examples showing what was returned and what the different enums mean, but I can't seem to find where those exist anymore. I would expect the doc page for something like `az repos pr list` to show me the object that gets returned so I can understand what different things mean, but no matter where I look, I get redirected back to the page that just shows me the list of option

[2022-06-23 17:31] rkganji opened #22989 "Can't update WAF Policy on Azure Front Door"
**Related command**
`az network front-door update --name <> --resource-group <> --set frontendEndpoints[0].webApplicationFirewallPolicyLink='{"id":"<>"}'`

**Describe the bug**
Command to associate WAF policy to Front door using above command results in below error

[code]

**To Reproduce**
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive

[2022-06-23 21:03] roslynlu opened #22990 "[Stream Analytics] Bugs related to clusterid property"
**Related command**
az stream-analytics job update

In our [streaming job definition](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/streamanalytics/resource-manager/Microsoft.StreamAnalytics/stable/2020-03-01/streamingjobs.json#:~:text=%7D%2C-,%22cluster%22%3A%20%7B,%7D%2C,-%22Sku%22%3A%20%7B), we have the following nested cluster and id properties:
[code]

**Describe the b

[2022-06-23 22:56] Man-MSFT commented on #22954
Those are all good points and I agree. For points 1+2, we will take an action item to update current docs to add the `$schema` line for examples to include the schema and point to schema very obviously.

For the third point, the library and pip link is referenced in the how to create doc, but the pip page is lacking. @QianqianNie can you take ownership on this? https://pypi.org/project/mltable
Few

[2022-06-23 23:05] fgheysels opened #22993 "az webapp config appsettings set: config key is not correctly generated when JSON settings file contains a hierarchy"
I'm running an Azure CLI command to update the configuration for a WebApp in Azure.
This command is executed via a DevOps pipeline, through an `AzureCLI@2` task (scripttype=pscore), running on a Linux agent (ubuntu-20.04).
The version of AzureCLI running on that agent: 2.198.0

**Related command**
I execute this code from the pipeline:

[code]

I would expect that a config value is added to my web

[2022-06-23 23:23] QianqianNie commented on #22954
@SturgeonMi is working on adding sample notebook

[2022-06-23 23:51] dsv591 opened #22994 "AzCLI 2.37.0 returns `dh key too small` due to weak cipher sent to server"
SSL handshake fails behind a proxy with error related to weak ssl ciphers.

- With version 2.37.0 of azure CLI and customer's proxy configured properly, customer gets error `dh key too small`. A quick search online reveals this is because the cipher chosen for the connection is a weak cipher which python doesn't like, and therefore the connection is dropped.
- A wireshark trace confirms that indee

[2022-06-24 00:07] yonzhan commented on #22988
route to CXP team

[2022-06-24 00:09] yonzhan commented on #22989
network

[2022-06-24 00:10] yonzhan commented on #22990
route to CXP team

[2022-06-24 00:12] yonzhan commented on #22993
route to CXP team

[2022-06-24 00:14] yonzhan commented on #22994
@jiasli for awareness

[2022-06-24 00:30] tiregan opened #22995 "Cannot create CVM SIG Image Version via CLI"
**Related command**
az sig image version create

**Describe the bug**
Cannot create CVM sig image versions from CLI.

**To Reproduce**
Create a sig image definition with confidential vm security type.  If using CLI, here's an example:
`az sig image-definition create --resource-group tiregan --gallery-name tireganCvmGallery --gallery-image-definition ConfidentialVmImage --publisher tiregan --offer

[2022-06-24 00:58] Man-MSFT commented on #22954
@QianqianNie , @SturgeonMi , gentle reminder on the pip package information too! Thanks!

[2022-06-24 01:36] hannadeng opened #22996 "Add multiple pages to an existing bot service Facebook channel"
**Related command**

Currently the bot service only provides the [Azure-CLI command](https://docs.microsoft.com/en-us/cli/azure/bot/facebook?view=azure-cli-latest#az-bot-facebook-create) to create a single page Facebook Channel connection. There's no command for creating a multiple page Facebook Channel connection, or command for adding multiple pages to an existing bot service Facebook channel.

[2022-06-24 01:43] zaminda opened #22997 "Where can I find the --command-id?"
I'm trying to use the `az aks command result` command but it's not clear how to get the command id. Can you add a bit more clarification here? az aks command invoke doesn't seem to return a command id.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c8d05319-449e-2d13-170a-3ad696849fe5
* Version Independent ID: c2fa8e60

[2022-06-24 02:14] evelyn-ys commented on #22985
wondering if you used the right user principal name... I can't reproduce this issue:
![image](https://user-images.githubusercontent.com/10227683/175448584-a929f077-ee8c-4d0d-a949-4ad83f5b9f2c.png)

[2022-06-24 02:24] ManojLava commented on #22839
Hi Team,
Thanks for your reply. My issue is still not resolved. My guess is that my JSON file format is not correct. Please guide how to get correct format JSON file from existing Pipeline.

[2022-06-24 02:35] RakeshMohanMSFT commented on #22839
@ManojLava You can find the sample response JSON Body here and tweak according to your need https://docs.microsoft.com/en-us/rest/api/synapse/data-plane/pipeline/create-or-update-pipeline#request-body

[2022-06-24 02:37] RakeshMohanMSFT commented on #22997
@zaminda Thank you for reaching out, we will help you with that.

[2022-06-24 02:37] kairu-ms commented on #22981
[_error_format.py](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli-core/azure/cli/core/aaz/_error_format.py) is used for atomic commands generated by CodeGen V2 tools. The error message from rest commands come from [azure-core](https://github.com/Azure/azure-sdk-for-python/blob/41807f08d2e313cd977f9238034f146bc65de32f/sdk/core/azure-core/azure/core/exceptions.py#L189-L215)

[2022-06-24 02:38] RakeshMohanMSFT commented on #22988
@jonest Thank you for reaching out, we are looking into it.

[2022-06-24 02:43] yonzhan commented on #22996
route to CXP team

[2022-06-24 02:44] yonzhan commented on #22997
route to CXP team

[2022-06-24 03:13] OccO3 commented on #22947
Team, bring this up a bit on the top of your radar.

Anything we could do at this point, to categorize and catch specific None scenarios if we're aware of?
Are we able to exhaust out of all None's scenarios from CLI side or no?

[2022-06-24 03:20] jiasli commented on #22994
## Investigation

Historical versions of Azure CLI can be installed following https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli#specific-version

- 2.37.0: https://azcliprod.blob.core.windows.net/msi/azure-cli-2.37.0.msi
- 2.22.0: https://azcliprod.blob.core.windows.net/msi/azure-cli-2.22.0.msi

Azure CLI 2.22.0 has Python 3.6.8 bundled:

[code]

Azure CLI 2.37.0

[2022-06-24 03:44] yonzhan commented on #22981
@jsntcy for awareness

[2022-06-24 03:52] evelyn-ys commented on #22947
From my current knowledge, ActionResult would be None when the command execution exits suddenly so that no `ActionResult` set. For example, `custom.py` calls `sys.exit()` manually.

[2022-06-24 03:53] evelyn-ys commented on #22947
Appreciate if you can reproduce the scenario of `ActionResult=None` locally and share with us.

[2022-06-24 04:05] thomasp98296 opened #23002 "Add an optional parameter called 'Location' to the Add/Update ActionGroup command"
**Related command**

https://docs.microsoft.com/en-us/cli/azure/monitor/action-group?view=azure-cli-latest

We want to add an optional parameter named 'Location' which takes a string input. If location is not provided, then default it to 'Global' as current.

az monitor action-group create --action webhook https://alerts.contoso.com apiKey={APIKey} type=HighCPU --name MyActionGroup --resource-grou

[2022-06-24 04:13] bebound commented on #22994
As a side note, SECLEVEL 2 is required from Python3.10: https://github.com/python/cpython/pull/25778

[2022-06-24 04:15] yonzhan commented on #23002
monitor

[2022-06-24 06:20] thakurmishra21 opened #23004 "'.' syntax not supported for "az network lb update" command to set tags"
I am using the command "az network lb update " to set tags for load balancer.

Ex: az network lb update -g MyResourceGroup -n MyLb --set tags.CostCenter=MyBusinessGroup

Any tags containing a '.' is not supported in this.
For ex: Ex: az network lb update -g MyResourceGroup -n MyLb --set tags.sample.test=myvalue

And I am getting error as below:
"Couldn't find 'sample' in 'tags'.

Could you please

[2022-06-24 07:19] yonzhan commented on #23004
network

[2022-06-24 07:27] necusjz commented on #23004
@thakurmishra21, do you have existing tags before updating? If not, please update them after created.

[2022-06-24 08:23] jonie001 commented on #22705
Hi, @hannenijhuis
We have fixed this issue in AzCLI 2.37.0 version, please upgrate and try again.

[2022-06-24 08:24] russellduttonentelect opened #23007 "WebApp List command is broken"
## Describe the bug

**Command Name**
`az webapp list`

**Errors:**
[code]

## To Reproduce:
Run `az webapp list`

## Expected Behavior

Should show the list of webapps in subscription

## Environment Summary
[code]
## Additional Context

[2022-06-24 08:32] yonzhan commented on #23007
route to CXP team

[2022-06-24 09:04] #23007 closed

[2022-06-24 09:12] azeem2020 commented on #22889
Apology for late response as I was unavailable. Please see below error for `pip install psycopg-c`

[code]

[2022-06-24 11:08] PramodValavala-MSFT commented on #22671
@jonasnorlund Apologies for the delay here but this has now been fixed. Closing.

[2022-06-24 11:08] #22671 closed

[2022-06-24 11:51] wnadim92 commented on #22974
***@***.***:~$ az role assignment create --role "Storage Blob Data
Contributor" --assignee "
***@***.***" --scope
"/subscriptions/2dd1404c-a6a5-4d0e-97f6-2dd07788eb73" --debug
cli.knack.cli: Command arguments: ['role', 'assignment', 'create',
'--role', 'Storage Blob Data Contributor', '--assignee', '
***@***.***', '--scope',
'/subscriptions/2dd1404c-a6a5-4d0e-97f6-2dd07788eb73', '--debug']
cli.kna

[2022-06-24 11:53] wnadim92 commented on #22974
samuel@Azure:~$ az role assignment create --role "Storage Blob Data Contributor" --assignee "wnadim2992_gmail.com#EXT#@wnadim2992gmail.onmicrosoft.com" --scope "/subscriptions/2dd1404c-a6a5-4d0e-97f6-2dd07788eb73" --debug
cli.knack.cli: Command arguments: ['role', 'assignment', 'create', '--role', 'Storage Blob Data Contributor', '--assignee', 'wnadim2992_gmail.com#EXT#@wnadim2992gmail.onmicrosoft

[2022-06-24 13:13] emp00001 opened #23010 "Azure Peering by CLI between VNETs in 2 different subscription"
Hello, I am using the CLI script to setup peering between VNETs in 2 different subscription and getting the error.

this is my CLI:

az network vnet peering create \
  --name VNET-01__to__VNET-02 \
  --resource-group RG-01 \
  --vnet-name VNET-01 \
  --remote-vnet /subscriptions/subscription-2/resourceGroups/RG-02/providers/Microsoft.Network/virtualNetworks/VNET-02 \
  --allow-gateway-transit \

[2022-06-24 13:39] RakeshMohanMSFT commented on #22997
@zaminda You can use these commands
`az aks command invoke -n "clustername" -g "resourcegroup" --command "kubectl get pods -n kube-system" --query id -otsv` This will give you a command id, which you can use like this.
`az aks command result -n "clustername" -g "resourcegroup" --command-id "id returned by the above query"` eg:, a690f2caa*********476d085df

[2022-06-24 13:51] mmckechney opened #23011 "`az batch application package create` errors on upload"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When trying to upload a Zip package, it errors on uploading to the storage account

**Command Name**
`az batch application package create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any p

[2022-06-24 13:58] yonzhan commented on #23010
network

[2022-06-24 13:59] yonzhan commented on #23011
route to CXP team

[2022-06-24 14:16] teriansilva commented on #10039
The issue still occurs as of today. How is the status on it?

[2022-06-24 14:27] RakeshMohanMSFT commented on #22988
@jonest you should be able to get sample responses here https://docs.microsoft.com/en-us/rest/api/azure/devops/git/pull-requests/get-pull-requests?view=azure-devops-rest-6.0#response.

Also when you said enum, did you mean the enum of status parameter? --status {abandoned, active, all, completed}

[2022-06-24 14:53] gh-andre opened #23013 "A call stack is reported instead of an error message on a malformed ISO-8601 duration"
## Describe the bug

If a malformed ISO-8601 duration is used when creating a Service Bus queue, a call stack is reported instead of a usable error that the duration is invalid.

**Command Name**

`az servicebus queue create`

**Errors:**
[code]

## To Reproduce:

Try to create a Service Bus queue with a malformed ISO-8601 duration. For example:
[code]
Note that there is an erroneous `T` in `PT7D`

[2022-06-24 15:17] major opened #23014 "azure-cli-core: Test failure in TestClientFactory.test_get_mgmt_service_client"
**Related command**
This is a failure while running `azure-cli` tests during RPM packaging in Fedora Linux.

**Describe the bug**
When I run tests for the `azure-cli-core` package, I get the following test failure:

[code]

**To Reproduce**
I run `pytest src/azure-cli-core` during an RPM build of azure-cli 2.37.0.

**Expected behavior**
I expected the test to pass. I even tried to add configuratio

[2022-06-24 15:27] major opened #23015 "azure-cli-core: Test failures with conflicting subparsers in Python 3.11.0b3"
**Related command**
Attempting to run tests for `azure-cli-core`.

**Describe the bug**
While running `pytest` to test `azure-cli-core`, many tests fail in Python 3.11.0b3 due to conflicting subparsers. Here is an example:

[code]

For the full output, check the [build log from a Fedora package build](https://kojipkgs.fedoraproject.org/work/tasks/8140/88698140/build.log). I've also copied out just

[2022-06-24 15:33] Drallas opened #23016 "not all az ad app credential reset passwords are accepted by az keyvault secret set"
`az ad app create --password` has been depreciated.
_"Remove --password... Use `az ad app credential reset` to let Graph service create a password for you (https://github.com/Azure/azure-cli/issues/20675)"_

**Related command**
`az ad app credential reset`
`az keyvault secret set`

**Describe the bug**
using `az ad app credential reset` results in some passwords that start with characters (-), cau

[2022-06-24 15:34] diberry commented on #22953
@cephalin FYI - we discussed this as part of the deployment meeting.

[2022-06-24 16:21] jonfuller opened #23017 "`az ad group member list` outputs far less information than before the Graph API migration. How to retrieve those additional attributes?"
### **This is autogenerated. Please review and update as needed.**

## Describe the issue

We use the outputs of `az ad group member list` to drive other data-backed process within our company. Many of the attributes that used to be available as outputs from this command are longer output.

What is the migration path to access those other pieces of information from the `azcli`?

**Command Name**
`

[2022-06-24 16:36] Pieeer1 opened #23018 "az keyvault secret set does not function with values including ')'"
**az keyvault secret set** does not work with values that contain ')',

IE az keyvault secret set --vault-name myvaultname --name mysecretname --value '123)*+0323'

**Bug Description**
'123)*+0323' was unexpected at this time occurs with any value containing characters that are not 'standard'. The secret value can be set in the GUI on the website, but the CLI does not allow the same secret values

[2022-06-24 18:47] youngwon417-2 opened #23019 "az login: Authentication failed"
**Related command**
az login
az login --use-device-code
**Describe the bug**
I am getting on the browser:
Authentication failed
access_denied: $error_description. ($error_uri)

You can log an issue at [Azure CLI GitHub Repository](https://github.com/azure/azure-cli/issues) and we will assist you in resolving it.

az login --use-device-code,
HTTPSConnectionPool(host='login.microsoftonline.com', por

[2022-06-24 18:50] Azrrael commented on #8388
We never had this issue before, and now it happens but intermittently. When creating a function using:

`az functionapp create --consumption-plan-location $1 --name $2 --os-type $3 --resource-group $4 --runtime $5 --storage-account $6 --functions-version $7 --app-insights $8`

sometimes it will create the function in a preexisting Function App on $4 resource group, sometimes it will create a new F

[2022-06-24 19:19] maertendMSFT commented on #22509
@jaypee1990, Cloud Shell does not have any additional visibility to the private IP address. You can use Cloud Shell in a VNET to access the machine over a private IP, but the default Cloud Shell experience does cannot view into the VNET and does not use any Azure backbone.

[2022-06-24 19:38] johanste opened #23020 "Disable automatic decompression of downloaded blobs"
The `az storage download` family of commands do not expose a way to disable the automatic decompression of blobs if the blob has `content-encoding: gzip` specified. They should.

[2022-06-24 19:50] flammable commented on #14405
Thanks for the workaround, @zboldyga. As someone who's new to this, the documentation was somewhat confusing - it's mentioned that you can provide a file, and the example uses a json file, but it's not specified that it's your _only_ option. I expected to be able to import a .env file, too, considering I'm running a container.

[2022-06-24 20:31] constantine1998 commented on #8388
Strange to see a new function app getting created! It creates a consumption plan("EastUS2Plan") based on your location name, but never creates a new function app("EastUS2Plan") !!

[2022-06-25 00:19] yonzhan commented on #23013
route to CXP team

[2022-06-25 00:20] yonzhan commented on #23015
@jiasli for awareness

[2022-06-25 00:21] yonzhan commented on #23016
keyvault

[2022-06-25 00:22] yonzhan commented on #23014
@jiasli for awareness

[2022-06-25 00:23] yonzhan commented on #23017
@jiasli for awareness

[2022-06-25 00:25] yonzhan commented on #23020
storage

[2022-06-25 00:27] yonzhan commented on #23019
@jiasli for awareness

[2022-06-25 00:27] yonzhan commented on #23018
keyvault

[2022-06-25 01:13] #22036 closed

[2022-06-25 01:13] #22029 closed

[2022-06-25 01:14] #22006 closed

[2022-06-25 01:59] rjsalicco opened #23021 "az login errors: ValueError: Unable to get authority configuration"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`
- browser opens
- account is selected
- success message in browser
-

[2022-06-25 02:11] christopherwoodland opened #23022 "Service principal creation error in latest az cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac --role {} --scopes {} --name {} --sdk-

[2022-06-25 02:14] inertia186 opened #23023 "az container on raspberry pi os (bullseye)"
Note, the `az container` command is listed but apparently not supported, nor can I upgrade beyond 2.18.0.

---

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put

[2022-06-25 02:15] yonzhan commented on #23023
route to CXP team

[2022-06-25 02:16] yonzhan commented on #23022
@jiasli for awareness

[2022-06-25 02:17] yonzhan commented on #23021
@jiasli for awareness

[2022-06-25 02:25] inertia186 commented on #23023
After realizing this version of az is unsupported, I uninstalled it:

[code]

… then tried:

[code]

But now, I get the following error:

[code]

[2022-06-25 02:50] inertia186 commented on #23023
Uninstalled again:

[code]

This worked:

[code]

I also added to my PATH because I did not install as root:

[code]

**Problem solved.**

[2022-06-25 02:50] #23023 closed

[2022-06-25 08:44] sflobbe commented on #22866
I'm on the latest official release for my platform (azure-cli-2.37.0-1.el7.x86_64) which has not changed, so the output is still the same (as is to be expected). To reproduce:

$ az extension remove -n ssh
$ az network bastion ssh --username xxx --auth-type ssh-key --ssh-key ~/.ssh/id_rsa --resource-group bastion-rg --name bastion --target-resource-id "/subscriptions/xxx/resourceGroups/xxx/provide

[2022-06-25 11:20] Jameskmonger commented on #8388
@navba-MSFT I don't use Azure anymore, I have changed jobs in the time since posting this thread, so I'm not able to give any more info. Hopefully the other users here can provide some

[2022-06-25 12:26] kamil-mrzyglod commented on #14404
Hi, I also faced that issue when using Bicep and trying to reference a subnet via `vnet1.properties.subnets[0].id`.

[2022-06-25 16:49] danielcgonzalez commented on #20735
I didn't enable it, don't know how to reproduce it.
Last time we enabled it, did it in two steps, changed license and then enabled, and worked without issues.
Later my partner enabled it through terraform in two steps too and both worked fine.

If i get more info i will update you

[2022-06-25 23:02] mikemcallister-lnrisk opened #23024 "az aks maintenance list fails after installing aks-preview extension"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks maintenanceconfiguration show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks maintenanceconfiguration show -g {} --cluste

[2022-06-26 00:08] yonzhan commented on #23024
route to CXP team

[2022-06-26 09:55] vcariven opened #23025 "Add support for --public-network-access for eventhubs namespace"
**Related command**

`az eventhubs namespace create|update`

**Is your feature request related to a problem? Please describe.**

There seems to be no way of setting the `publicNetworkAccess` (`Enabled` or `Disabled`) of an eventhubs namespace, neither at creation/update time (with `az eventhubs namespace create|update`) nor with the `az eventhubs namespace network-rule` subcommand

**Describe the

[2022-06-26 14:20] yonzhan commented on #23025
route to CXP team

[2022-06-26 14:52] dmoessne opened #23027 "Updating tags with `az ad sp update` runs into trace"
## Describe the bug
Running `az ad sp update --id $app_id --add tags WindowsAzureActiveDirectoryIntegratedApp` runs into trace with cli version `2.37.0`
(tested via rpm and container)

**Command Name**
`az ad sp update --id $app_id --add tags WindowsAzureActiveDirectoryIntegratedApp`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted

[2022-06-26 17:01] bwatkins449 opened #23028 "error running az aks install-cli"
## Issue
I tried to run the command below and got the resulting error:

c:\Program Files>az aks install-cli
The command failed with an unexpected error. Here is the traceback:
<urlopen error [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond>
Tracebac

[2022-06-26 18:28] BlaneG opened #23029 "az functionapp create ERROR: usage error: --plan NAME_OR_ID | --consumption-plan-location LOCATION"
**Related command**
`az functionapp create`

**Describe the bug**
ERROR: usage error: --plan NAME_OR_ID | --consumption-plan-location LOCATION

**To Reproduce**
I copy and pasted an example from the Azure Functions documentation:
```az functionapp create --consumption-plan-location westeurope --runtime python --runtime-version 3.9 --functions-version 4 --name <APP_NAME> --os-type linux --storage-a

[2022-06-26 20:37] gunjan4425 opened #23030 "Az login is giving me below error"
**Related command**

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2022-06-26 20:38] gunjan4425 commented on #23030
A web browser has been opened at https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize. Please continue the login in the web browser. If no web browser is available or if the web browser fails to open, use device code flow with `az login --use-device-code`.
Decryption failed: [WinError -2146893813] Key not valid for use in specified state.. App developer may consider this guidance:

[2022-06-26 23:05] yonzhan commented on #23027
@jiasli for awareness

[2022-06-26 23:06] yonzhan commented on #23028
route to CXP team

[2022-06-26 23:07] yonzhan commented on #23029
route to CXP team

[2022-06-26 23:08] yonzhan commented on #23030
@jiasli for awareness

[2022-06-27 01:14] zaminda commented on #22997
Thanks, @RakeshMohanMSFT, This was exactly what I was looking for.

[2022-06-27 01:14] #22997 closed

[2022-06-27 02:11] RakeshMohanMSFT commented on #23030
@gunjan4425 Thank you for reaching out to us. did you get a chance to try https://github.com/Azure/azure-cli/issues/20231#issuecomment-1006381416 or any other solution provided here https://github.com/Azure/azure-cli/issues/20231.

Also do share your environment details with us `az --version`

[2022-06-27 02:13] RakeshMohanMSFT commented on #23024
@mikemcallister-lnrisk Thank you for reaching out, we are looking into it.

[2022-06-27 02:20] RakeshMohanMSFT commented on #23013
@gh-andre Thank you for reaching out, we are looking into it.

[2022-06-27 02:21] RakeshMohanMSFT commented on #23011
@mmckechney Thank you for reaching out, we are looking into it.

[2022-06-27 02:22] #22310 closed

[2022-06-27 02:22] #22842 closed

[2022-06-27 02:22] RakeshMohanMSFT commented on #23029
@BlaneG Thank you for reaching out, we are looking into it.

[2022-06-27 03:16] navba-MSFT commented on #22374
@CosX I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-06-27 03:18] navba-MSFT commented on #22496
@leom-restack I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you have any pending queries. Awaiting your reply.

[2022-06-27 03:58] zhoxing-ms commented on #22275
@AjKundnani I have two more questions to confirm with you:

1. For `--upload-type UploadWithSecurityData`, you mentioned `Not valid for data disk upload, only to be used for OS Disk upload at present.`
Do we need to add local verification to determine whether the disk is OS disk?
Or does the REST service return an appropriate error message to prompt users, so we can directly display the error mess

[2022-06-27 04:12] gunjan4425 commented on #23030
yes. i tried to uninstall the azure CLI and tried to install via powershell but still it is giving the same error.

please find the azure cli version below

PS C:\Windows\system32> az --version
azure-cli                         2.37.0

core                              2.37.0
telemetry                          1.0.6

Dependencies:
msal                            1.18.0b1
azure-mgmt-resource

[2022-06-27 04:13] navba-MSFT commented on #22890
@CKozanecki The action is currently pending on you to update `aks-preview` extension. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-06-27 04:13] #22890 closed

[2022-06-27 04:29] RakeshMohanMSFT commented on #23029
@BlaneG We are unable to reproduce this issue. This is the command we used. In a similar environment.
`az functionapp create --consumption-plan-location westeurope --runtime python --runtime-version 3.9 --functions-version 4 --name issue23029 --os-type linux --storage-account issue23029 -g issue23029`

Can you share the debug log with us please? --debug

[2022-06-27 04:31] navba-MSFT commented on #23028
@bwatkins449 Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-06-27 04:41] RakeshMohanMSFT commented on #23011
@mmckechney Can you please share the `--debug` log with us? It seems more like an issue with the service than the azure cli.

[2022-06-27 05:02] AjKundnani commented on #22275
@zhoxing-ms

1. At present, Data disk do not support VMGuestState, REST service should return appropriate error, let me know if you need specific error message? Currently we do not have fixed plan to support Data Disk VMGS in future, so based on CLI best practices, kindly add or skip local verification as needed.
2. As per our initial discussion, `--secure-vm-guest-state-sas`  for command **az dis

[2022-06-27 05:35] navba-MSFT commented on #23028
@bwatkins449 The error message indicates that the issue seems to be at the network level. Do you have any proxy / firewall inside your corporate network ? If yes, this seems to be causing the socket connectivity to fail.

Could you please try to bypass this firewall / proxy and test again ? Alternatively you could try running this command from a different network and check if that works ? Awaiting

[2022-06-27 06:31] zhoxing-ms commented on #22275
@AjKundnani Could you show me the error messages from REST service? If the error message returned by service is appropriate and clear enough, I prefer to use the error message from service to avoid introducing complex judgment logic in client side.

Therefore, when `CreateOption` is `UploadPreparedSecure`, the `--secure-vm-guest-state-sas` will be turned on for `az disk grant-access` automatically

[2022-06-27 06:53] AjKundnani commented on #22275
@zhoxing-ms - If the `CreateOption` is set to **Upload** then parameter `--secure-vm-guest-state-sas` should not be allowed, it should only be used for scenario where `CreateOption` is **UploadPreparedSecure**.

[2022-06-27 07:41] alanj1998 commented on #22886
@yonzhan Is this something that is/will be worked on?

[2022-06-27 08:01] #22595 closed

[2022-06-27 08:13] necusjz commented on #22886
@alanj1998, actually, there is no any changes between Azure CLI 2.36.0 and 2.37.0 for this functionality. It should be a change from service side, let's involve service team for help.

[2022-06-27 08:18] jiasli commented on #23015
Azure CLI currently doesn't support Python 3.11.0b3 yet. We will revisit this topic once Python 3.11 is GA.

[2022-06-27 08:26] jiasli commented on #23014
Fedora RPM is not official supported yet (https://github.com/Azure/azure-cli/issues/22278), we are experiencing with Fedora 35 and 36 but encountered some difficulties (https://github.com/Azure/azure-cli/pull/22945) due to the Python library location change: https://docs.fedoraproject.org/en-US/fedora/latest/release-notes/developers/Development_Python/

[2022-06-27 08:38] dmoessne commented on #23027
Thanks for looking into it! Any ETA of 2.38.0 ?

[2022-06-27 08:39] #22573 closed

[2022-06-27 08:40] yonzhan commented on #23027
Official Release: 07/05/2022

[2022-06-27 08:41] zhoxing-ms commented on #22275
@AjKundnani In fact, if there are no related restrictions on REST service, it is unreasonable to only add restrictions on CLI side. This cannot solve the problems of users who directly call the REST and users who use other clients *(such as: PowerShell, Terraform, Python SDK...)* Will the rest service add related restrictions later?

If so, the `--secure-vm-guest-state-sas` parameter does not need

[2022-06-27 08:45] jonie001 commented on #23018
Hi, @Pieeer1
You can try `az keyvault secret set --vault-name myvaultname --name mysecretname --value '123")"*+0323'`

[2022-06-27 08:52] dmoessne commented on #23027
Thanks, If you don't mind, I'd like to keep this open till  2.38.0 is released so I can test with the new version.

[2022-06-27 08:53] jiasli commented on #23017
Actually, I am little bit curious why your result has `"@odata.context": "https://graph.microsoft.com/v1.0/$metadata#users/$entity"`. Running `az ad group member list` on my machine shows

[code]

Even the raw HTTP response of `az ad user list --verbose` only has `"@odata.context":"https://graph.microsoft.com/v1.0/$metadata#users"`.

Anyway, `az ad user list` also has this behavior change

[code]

[2022-06-27 08:54] Saglodha commented on #22834
@navba-MSFT - Ack on above ask.

@amoradiaz - Thanks for sharing details about your setup. I would look into this use case of yours and share feedback soon.

[2022-06-27 09:22] jiasli commented on #23021
Duplicate of #20507. Please make sure your tenant GUID or name is correct.

[2022-06-27 09:30] zhoxing-ms commented on #22275
@@AjKundnani Besides, I have another question: are the verification logics in the below two places applicable to `--upload-type UploadWithSecurityData` as well as `--upload-type Upload` *(`Upload` corresponds to the original `for_upload`)*?

1. `--upload-size-bytes should be used together with --for-upload`
code link: https://github.com/Azure/azure-cli/blob/53d1f59462e0a43dca5b3bbb79e8bc715dab7289

[2022-06-27 09:41] #23021 closed

[2022-06-27 09:53] ghtali opened #23033 "Problem with restarting azure virtual machine in bash CLI, Debian"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Steps to generate this issue:

1. Open Bash CLI
2. az login
3. az vm restart -g MyResourceGroup -n MyVm

**Command Name**
`az vm restart`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pr

[2022-06-27 10:34] SreejaBhattacharya-MSFT commented on #20372
Hi @yonzhan , can we use the protected-parameters to pass credentials? Could you please help confirm if credentials passed in "--protected-parameters" are not logged anywhere? Thanks.

[2022-06-27 12:09] major commented on #23014
I'm the current [Fedora package maintainer](https://src.fedoraproject.org/rpms/azure-cli) for `azure-cli` and I'm doing my best to keep it updated, tested, and packaged. 😉

However, I run into this failing test whether I am doing the testing inside or outside an RPM build. This test is also skipped in the Debian package, so I would assume they are having issues with it, too.

[2022-06-27 12:49] AjKundnani commented on #22275
@zhoxing-ms - As per Disk RP team "uploadpreparedsecure has same verifications which are applicable to upload create option"

[2022-06-27 12:51] rjsalicco commented on #20507
If there is nothing in ~/.azure and you use the interactive login which is directed to the MS Azure login screen, how is this a user error when the wrong tenant id is being configured? Just for clarity.

[2022-06-27 12:54] AjKundnani commented on #22275
@zhoxing-ms
1. I can check but currently there's no plan that am aware of to add this restriction. If its not reasonable as per CLI best practices, we can skip this check. Will need to ensure this restriction is published in docs such that end user is aware of this restriction.
2. For seamless user experience, if we can auto-turn flag `--secure-vm-guest-state-sas` on based on Disk `CreateOption` o

[2022-06-27 14:04] zhoxing-ms commented on #22275
I see. Thanks for your confirmation！

We'd better not only add this verification on the CLI side, otherwise it may be inconsistent with the experience of other sides. We may consider adding this restriction information to the help message to let users aware of this restriction. *(it will be automatically synchronized to our public doc)*

I see. It sounds like a good solution not to expose the para

[2022-06-27 14:21] GSuggitt opened #23036 "az login fails when -u option used"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
If I login with sz login -u gsuggitt@imstsvc.com I will get the following error. This happens if
(a) i enter the password with the -p option
(b) i enter an invalid password with the -p option
(c) i do not use the -p option and I enter the password at the "Password" promt
(d) i do not use the -p option and I ent

[2022-06-27 14:22] AjKundnani commented on #22275
Thanks @zhoxing-ms - Adding help message about restriction of OS disk only for VMGS should be helpful.

For parameter `--secure-vm-guest-state-sas`, if we can publish example in docs on how to use the returned VM Guest State SAS URL for uploading disk with security data, that'll be helpful.

[2022-06-27 15:48] #16471 closed

[2022-06-27 16:08] hroncok commented on #23015
argparse.ArgumentError: argument _subcommand: conflicting subparser: module

This usually means there is a problem in the code that was silently ignored until 3.11.

[2022-06-27 16:11] AndyBunning opened #23038 "Feature Error when trying to create app Gateway settings"
Hi,

When trying to run the CLI command as described, I get an error "Subscription is note registered for feature TlsProxy", however, I get an error that this feature cannot be found.  Same in multiple subscriptions and tenancies and the same if run locally or in the Azure Shell.

To replicate issues, try running:
`az network application-gateway settings create --gateway-name <GatewayName> --name

[2022-06-27 16:21] rdurell commented on #20231
I ran in to the same issue today.  I had a password change several days ago, needed to run an az command today which prompted me that the grant was no longer valid.  Was able to az login again and work as expected.  Several hours later, I started seeing this issue with any az command.  I was able to move forward by deleting msal_token.cache.bin and msal_http_cache.bin and relogging in.

[2022-06-27 16:38] #22931 closed

[2022-06-27 17:39] bbi-adamvengroff opened #23039 "Azure CLI downloads are taking a long period of time due to time outs"
**Related command**
`az pipelines runs artifact download --artifact-name {name} --path c:/temp --run-id {id} --org "{org}" --project {proj} --debug`

**Describe the bug**
We are downloading the artifact fine but sometimes it stalls out and takes ~18 minutes instead of the expected ~3 minutes
Looking at the output, I see
[code]

The download then continues and successfully completes
So it looks lik

[2022-06-27 18:15] luigiw commented on #22967
Hello @jamescrowley, thx for providing detailed info. As you marked in the folder structure, .gitignore files are respected under the code folder, this is the expected behavior.

The reason behind is that AzureML v2 CLI only checks .gitignore files in folders it uploads local files, in this case your code folder. It will not look at .gitignore files in YAML file folders. Code (and other local arti

[2022-06-27 18:29] pavanabhange commented on #22871
Hey @RakeshMohanMSFT, we are also having the same issue. We use Terraform to create our APIM and the API structure (which includes the OAuth settings) and run a pipeline on our API to import the swagger file for endpoints (when there are updates to the code). This pipeline uses the az command listed above. When the az import command runs, it overrides our OAuth settings to null and this is causing

[2022-06-27 18:29] pinakighatak commented on #13655
Not sure this is relevant today in 2022 - since there are native GitHub actions to do this, that works fantastically well. Here is an example:
[code]

[2022-06-27 19:06] BlaneG commented on #23029
Hi @RakeshMohanMSFT

From the debug log, it looks like it might be some default configuration:
[code]

So I am passing `--plan` and `--consumption-plan-location` parameters, but this might not be allowed. I'm not sure how the default configuration was set.

Here is the full debug log for `az functionapp create --consumption-plan-location westeurope --runtime python --runtime-version 3.9 --function

[2022-06-27 21:08] mindlessroman opened #23041 "Redirect to the CLI Extension docs?"
Instead of having docs showing what's no longer applicable, can we link to the help docs for the extension instead?

These [docs](https://github.com/Azure/azure-cli-extensions/tree/main/src/kusto/azext_kusto) are more accurate and will lead to less confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 41f71b1e-7a13

[2022-06-27 21:52] vamshiniru opened #23043 "Errno 30"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group create -l {} -n {}`

## Expected Behavior

## Environment Summa

[2022-06-27 22:48] SatishBoddu-MSFT commented on #22885
Hello @Brudem Just checking if you are able to see the certificates or still blocked on this issue?

Wanted to check how was the certificate added to the [APIM](https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-mutual-certificates#add-a-key-vault-certificate)?

![image](https://user-images.githubusercontent.com/62923178/176047877-3a9f7b02-342c-45ab-9517-794ad3554b87.png)

[2022-06-27 23:16] yonzhan commented on #23039
route to CXP team

[2022-06-27 23:24] yonzhan commented on #23041
route to CXP team

[2022-06-27 23:26] yonzhan commented on #23043
ARM

[2022-06-28 00:44] speedyankur commented on #22906
Issue is reproducible with

`{
  "azure-cli": "2.33.1",
  "azure-cli-core": "2.33.1",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "storage-preview": "0.8.0"
  }
}
`

[2022-06-28 02:14] jiasli commented on #23036
Duplicate of #20221

MSA (Microsoft Account) doesn't allow signing with username + password. Please just use `az login`.

@rayluo, the error message seems a little bit weird.

[2022-06-28 02:17] jiasli commented on #22697
Could you share the logs of `sudo apt-get install azure-cli` and `apt show azure-cli`? They should look like

[code]

[2022-06-28 03:07] navba-MSFT commented on #23039
@bbi-adamvengroff Adding Service Team for the Devops issue

 @v-anvashist, @V-hmusukula Could you please look into this issue and provide an update ? Awaiting your reply.

[2022-06-28 03:50] zhoxing-ms commented on #22275
@AjKundnani Could you give me a good example? I will consider adding it in an appropriate way

[2022-06-28 04:00] navba-MSFT commented on #22807
@mdhomer I wanted to share a quick update on this. The fix rollout just started yesterday and will take a couple days to reach all regions. Until the fix is deployed to all regions, Maybe you can avoid using version 2022-04-01 for now as a workaround. Hope this helps.

[2022-06-28 04:01] navba-MSFT commented on #22928
@wasker  I wanted to share a quick update on this. The fix rollout just started yesterday and will take a couple days to reach all regions. Until the fix is deployed to all regions, Maybe you can avoid using version 2022-04-01 for now as a workaround. Hope this helps.

[2022-06-28 04:05] navba-MSFT commented on #22808
@JSCProjects Since the issue is worked upon on the support ticket we are proceeding with closure of this GitHub thread.

[2022-06-28 04:05] #22808 closed

[2022-06-28 04:54] alexxiongxiong opened #23044 "example command for "az aks update --aks-custom-headers" doesn't work"
Hi team,

This command doesn't work hence it shouldn't be an example for users:
az aks update -g MyResourceGroup -n MyManagedCluster --aks-custom-headers WindowsContainerRuntime=containerd,AKSHTTPCustomFeatures=Microsoft.ContainerService/CustomNodeConfigPreview

![image](https://user-images.githubusercontent.com/87124423/176095585-45f19613-0a8d-47d1-b442-08fc7454fde9.png)

---
#### Document Detail

[2022-06-28 05:49] #22729 closed

[2022-06-28 06:33] #22926 closed

[2022-06-28 06:36] yonzhan commented on #23044
route to CXP team

[2022-06-28 07:08] Brudem commented on #22885
Hi SatishBoddu

My issue is not I can't see or add a certificate in Azure Portal.

All works fine at this side.

What I noticed is that AZ CLI apim show don't list all certificate.

So it is an issue on AZ CLI **only.**

Let me know if it is more clear.

Best regards.

[2022-06-28 07:29] zhoxing-ms commented on #22200
@AjKundnani When `--hyper-v-generation` is `V2`, `--security-type` can only be `ConfidentialVM_*` or other values can also be supported?

[2022-06-28 07:38] AbianG commented on #2215
@yugangw-msft could you specify whats "general prompt support"? Does it mean there's a flag for every `delete` command in AZ CLI to prompt for confirmation? I haven't been able to find information about it except for this old issue

[2022-06-28 08:01] #20901 closed

[2022-06-28 08:20] mdhomer commented on #22807
Thanks for the update @navba-MSFT I think this `--enable-managed-identity` feature is only available in cli `v2.37.0` based on the [docs I was following](https://docs.microsoft.com/en-us/azure/aks/use-managed-identity#make-sure-the-cli-version-is-2370-or-later). So I guess I'll just have to wait a little longer?

The AKS cluster I'm targetting is in `UK South`, is this fix being rolled out on the

[2022-06-28 08:21] arty-hlr commented on #22697
[code]

[2022-06-28 08:23] PramodValavala-MSFT commented on #23044
@alexxiongxiong I was able to run the command without any issues which I believe is because you might be using an older version of Azure CLI and/or the aks-preview extension. Could you update both to the latest using the following commands and try again?

[code]

[2022-06-28 08:39] cleconte987 opened #23048 "Issue when trying to download blobs from storage container [az-cli 2.37.0]"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob download`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob download --account-name {} --account-key {} --c

[2022-06-28 08:57] alexxiongxiong commented on #23044
Hi @PramodValavala-MSFT , thanks for reaching me out.   The parameter aksHTTPCustomFeatures seems not to be allowed for “aks-custom-headers”.  My AZ clinet is the newest version and Azure could shell didn't work either.

[2022-06-28 09:39] #23033 closed

[2022-06-28 09:57] navba-MSFT commented on #22807
@mdhomer As mentioned in the [above](https://github.com/Azure/azure-cli/issues/22807#issuecomment-1161332317) comment, the fix is not in CLI version / HTTP API level. The fix is at the AKS Resource Provider level.

[2022-06-28 10:06] zhoxing-ms commented on #22200
＞　--hyper-v-generation is set to V2 when --security-type parameter is used.
＞　any value of --security-type parameter needs --hyper-v-generation set to V2

@AjKundnani Do you mean that when the user passes in the `--security-type` parameter, CLI needs to set `--hyper-v-generation` to `V2`?

I think a better solution may be to verify that users must input `--hyper-v-generation` as `V2` when using `-

[2022-06-28 10:14] yonzhan commented on #23048
storage

[2022-06-28 10:17] jiasli commented on #22697
As shown in https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt, we dropped Debian 9 (Stretch) in Azure CLI 2.37.0. Could you update `/etc/apt/sources.list.d/azure-cli.list` to use a newer distribution like buster or bullseye?

[2022-06-28 10:33] v-soujanya commented on #22610
Hi @saikumar843
we have checked the doc https://docs.microsoft.com/en-us/cli/azure/repos?view=azure-cli-latest#az-repos-create related to this command and, we found that API is not supported the requested parameter.

[2022-06-28 10:34] zhoxing-ms commented on #22200
@AjKundnani In current official CLI, if users pass in the `--security-type` parameter but do not pass in `--hyper-v-generation` parameter or specify the `--hyper-v-generation` parameter as `V1`, will the service raise an error at present?
If so, there is no breaking change. Otherwise, it will block this usage so as to cause breaking change

[2022-06-28 11:15] AjKundnani commented on #22200
@zhoxing-ms : Below is the current behavior for `--security-type` **TrustedLaunch**, if we can retain same behavior for new values please:

1. It checks for `CreateOption` if image reference is not passed, Error *(BadRequest) Security Type 'TrustedLaunch' is not supported for CreateOption 'Empty'. Supported create options are FromImage, Import, ImportSecure, UploadPreparedSecure.*
2. After adding

[2022-06-28 11:22] arty-hlr commented on #22697
![image](https://user-images.githubusercontent.com/38589602/176166794-c5ddb7fc-ea07-4d97-b4b0-a4af9a8dcaba.png)
Will do. Then it would probably be good to update the documentation as it says to use stretch for debian based distros.

[2022-06-28 11:38] markhoratiowalmsley opened #23050 "az functionapp deployment source config-zip fails with AttributeError: 'NoneType' object has no attribute 'lower'"
Using latest azure-cli I cannot deploy to a functionapp using cli locally.
Update to latest azure-cli did not work as specified here: https://github.com/Azure/azure-cli/issues/10773

`mark@HH-LAP-290:~/git/dl-messaging/publish$ az feedback --verbose

We appreciate your feedback!

For more information on getting started, visit: aka.ms/azcli/get-started
If you have questions, visit our Stack Overflo

[2022-06-28 11:45] RakeshMohanMSFT commented on #23011
@mmckechney Thank you for the information provided. It looks like a network connectivity issue. Do you happen to have a proxy or firewall in place? can you try this is operation from a different network?

I believe CLI is python based which uses urllib3 and PowerShell uses .net (winhttp/winniet). Possibly that is causing the issue, these are just my assumptions.

[2022-06-28 11:50] yonzhan commented on #23050
route to CXP team

[2022-06-28 12:07] zhoxing-ms commented on #22200
@AjKundnani Out of curiosity, I would like to ask why we need to limit the parameter `--hyper-v-generation` to `V2` even the `--hyper-v-generation V1` and `--security-type` can be used at the same time to create a disk successfully?

[2022-06-28 12:10] #22117 closed

[2022-06-28 12:37] #21965 closed

[2022-06-28 13:12] zioproto opened #23051 "az aks update --enable-secret-rotation fails when secret store CSI driver is enabled from Azure Portal"
## Describe the bug

**Command Name**
`az aks update -enable-secret-rotation`

**Errors:**
[code]

## To Reproduce:
When you create a cluster and you enable the secret store CSI drive from the Azure portal you have the following:

[code]

This is not good and leads to the python `TypeError`. When you create a AKS cluster with the CLI you get a different value:

[code]

## Expected Behavior

The co

[2022-06-28 13:13] zioproto commented on #23051
@vermegi ☝️

[2022-06-28 13:29] meetpatel1111 commented on #21288
@archidda Can I get the same solution for databricks and datafactory?
Need source link for databricks and datafactory.

e.g. - az extension add --yes --source "https://aka.ms/logicapp-latest-py2.py3-none-any.whl"
or command to get the status of these services .e.g- running or not

Thanks in advance

[2022-06-28 14:13] yonzhan commented on #23051
route to CXP team

[2022-06-28 14:34] swathivallem opened #23052 "Here's the azure CLI Cx is using to publish to a function app. func azure functionapp publish function_app_name --python --build remote We have a situation where requirements.txt was missing credentials for the `extra-index-url`. Expectedly the function build failed. How ever the cli still returned a zero exit code. We are expecting it to return non zero code as the build failed."
**Related command**
func azure functionapp publish function_app_name --python --build

**Describe the bug**
We have a situation where requirements.txt was missing credentials for the `extra-index-url`. Expectedly the function build failed. How ever the cli still returned a zero exit code. We are expecting it to return non zero code as the build failed

**To Reproduce**
Upon running the below comma

[2022-06-28 14:43] yonzhan commented on #23052
route to CXP team

[2022-06-28 15:12] RakeshMohanMSFT commented on #23011
@mmckechney Thank you for the update, I suggest you leverage PowerShell to unblock yourself and perhaps you can open a support ticket and they might help you with network log analysis to understand the root cause.

[2022-06-28 15:13] #23011 closed

[2022-06-28 16:09] BlaneG commented on #23029
@RakeshMohanMSFT here is the output of `az config param-persist show`:
[code]

[2022-06-28 16:37] archidda commented on #21288
@meetpatel1111 you will have to open a separate ticket for that so folks from those teams can help you.

[2022-06-28 16:58] jiasli commented on #14551
@SjoerdV, could you share the `--debug` log?

[2022-06-28 17:00] jiasli commented on #22697
Will do too! Maybe you may just submit a PR to edit the doc! 😉

![image](https://user-images.githubusercontent.com/4003950/176239299-37858883-dff5-45cb-834a-8271b69a1e76.png)