[2020-09-04 09:41] yonzhan commented on #15046
container

[2020-09-04 09:52] aglees commented on #14786
Would be great if you can get a pipeline / non-tty suitable solution in play for this.

[2020-09-04 10:04] kamilzzz commented on #12009
I'm getting the same error but according to the schema the metadata should be supported.

https://schema.management.azure.com/schemas/2019-04-01/deploymentParameters.json#

@yonzhan @zhoxing-ms

[2020-09-04 10:07] lincolnpires commented on #15024
@shurd no problem. I didn't really know how that's generated. In that case, probably when they actually deprecate the feature the docs will be re-generated and everything will be fine. So, maybe not an issue.
I'm ok with closing this ;)
Thanks.

[2020-09-04 10:11] jiasli commented on #13653
It will also be helpful to add instructions for **how to install Azure CLI in air-gapped clouds**.

[2020-09-04 10:32] surajmb opened #15050 "Azure CLI support for Rule priority in Application Gateway"
**Resource Provider**

NRP

**Description of Feature or Work Requested**

CLI support is needed for the release of rule priority feature for Application Gateway. This will add an additional property called "priority" in the *az network application-gateway rule* command. https://docs.microsoft.com/en-us/cli/azure/network/application-gateway/rule?view=azure-cli-latest.
The parameter takes an 'intege

[2020-09-04 10:50] bluca opened #15051 "Dependency on non-existing version 0.4.1 of azure-multiapi-storage"
The following PR https://github.com/Azure/azure-cli/pull/14785 set a requirements on azure-multiapi-storage version 0.4.1, but no such tag exists - the newest available tag on https://github.com/Azure/azure-multiapi-storage-python/releases is 0.4.0

[2020-09-04 11:46] AleksandarTomicMs2 opened #15052 "'az storage table create' doesn't have an '--auth-mode' parameter, but mentions it in a warning"
## Describe the bug
When running `az storage table create` without an account key, connection string or sas token, the warning message you get is:
[code]
This command succeeds, as it uses the user's credentials. Unfortunately this command doesn't take have an `--auth-mode` parameter, so if you're using that authentication method you are stuck with this warning.

**Command Name**
`az storage queue

[2020-09-04 13:06] yene commented on #15006
no success with these commands

[2020-09-04 14:53] hmi12 commented on #14983
Thank you.
How to specify the resource group of the backup item(VMs)?  because the recovery vault and VMs are in different resource group.

[2020-09-04 16:27] yonzhan commented on #15050
@surajmb does this feature target for Ignite?

[2020-09-04 16:29] surajmb commented on #15050
Hi @yonzhan , it's not targeted for Ignite per se. But we are announcing another feature called wildcard listener in Ignite and this will unlock a key scenario which could be a blocker otherwise.

[2020-09-04 16:30] yonzhan commented on #15051
add to S176

[2020-09-04 16:31] yonzhan commented on #15052
add to S176

[2020-09-04 16:37] yonzhan commented on #15050
@surajmb We are pretty busy and fully occupied with Ignite features this month. Could we ship this feature in Mid of October?

[2020-09-04 16:49] zivraf opened #15054 "host group creation FD Count 5 is not supported"
Host group creation with FDCount =5 is a supported scenario for zonla host group (created within an availability zone).

Note that for regional host groups, we do limit by the regional FD Count (either 2 or 3), but for zonal host groups (where the user has provided one or more AZ, we relax this limitation and support up to 5 FDs. It seems that the cli validation treats both scenarios the same bloc

[2020-09-04 17:22] jgallucci32 commented on #10160
Has there been any progress on this issue? This is still an issue with Azure Stack Hub 2005 release. I was expecting the new storage APIs in the 2005 release to fix this but apparently it did not. Same error appears.

[2020-09-04 18:54] mocleiri commented on #12090
FYI trying to use the long version of the plan id in git-bash on windows doesn't work because it tries to do path adjustments.  It does work when run from the windows command line.  Will probably also work from within linux.

[2020-09-05 00:00] veleek opened #15056 "Unable to figure out how to grant consent for Azure CLI to an AAD application"
## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create an AAD application
- Enable User Consent
- Verify that user consent works using the web flow
- `az account get-access-token --resource <myappidhere>`

## Expected

[2020-09-05 00:04] veleek commented on #15056
Note: I'm not not an admin on the AAD directory so I can't grant Admin Consent, but I am a User and user consent is enabled.  I just need some way to actually invoke the consent.

[2020-09-05 01:27] yonzhan commented on #15056
add to S176

[2020-09-05 01:57] fengzhou-msft commented on #15054
@qwordy please take a look.

[2020-09-05 04:39] andyzhangx opened #15058 "Should exclude imageReference on VMSS disk attach/detach command request"
**Describe the bug**

When a VMSS is created using Shared Image Gallery image from a different tenant, any "az vmss disk attach/detach" operation will fail at ARM linked access check. This is because the client CLI use won't have permission in the SIG tenant.

The error message you see will be:
[code]
[code]

I think the error is that when do "az vmss disk attach", it would still use "imageReferen

[2020-09-05 04:39] andyzhangx commented on #14924
found a similar issue on `az vmss disk attach/detach` command: https://github.com/Azure/azure-cli/issues/15058

[2020-09-05 06:06] maheshsabnis opened #15059 "az aks instal-cli command error in Azure CloudShell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2020-09-05 08:23] yonzhan commented on #15059
aks

[2020-09-05 09:23] Djoels commented on #15039
aha, that fixed it! had updated azureml-sdk but not the azure-cli one.

[2020-09-05 09:23] #15039 closed

[2020-09-06 01:16] #14997 closed

[2020-09-06 01:24] #15007 closed

[2020-09-06 06:36] zhoxing-ms commented on #12009
@alex-frankel @filizt @anthony-c-martin  May I ask if the service is currently adding the support for `metadata`?

[2020-09-06 06:42] zhoxing-ms commented on #15006
@yene May I ask which scope the resource you want to export is deployed, and which export command you used?

[2020-09-06 12:47] davidpoltorak opened #15060 "azure-cli 2.11.1 - Cannot create keyvault"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

az keyvault create command fails when executed and no keyvault is created

**Command Name**
`az keyvault create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az keyvault create -g example_reso

[2020-09-06 14:05] sakanamax commented on #13209
@fengzhou-msft Thanks for the information
OS: openSUSE Leap 15.2

The old package in Main repo name should use  azure-cli-2.0.45-lp152.2.2
# zypper install -y --oldpackage azure-cli-2.0.45-lp152.2.2

but if openSUSE user use pip3 to install ansible with Azure [ https://docs.ansible.com/ansible/latest/scenario_guides/guide_azure.html ]
# pip3 install ansible[azure]

after we clean dependencies and

[2020-09-06 19:06] josejohny123 opened #15061 "az login failed in windows 10"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
az login --use-device-code
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code A3L2NEHXV to authenticate.
request failed: Error occurred in request., ConnectionError: HTTPSConnectionPool(host='management.azure.com', port=4

[2020-09-06 22:37] yonzhan commented on #15061
add to S176

[2020-09-07 00:19] cbellee commented on #9158
I'm having the same issue with CLI version 2.11.1. Can this be re-opened and investigated, please.
[code]
Using the commands below, I receive the following error when trying to download the blob using the sas token generated with an access policy :

**'Authentication failure. This may be caused by either invalid account key, connection string or sas token value provided for your storage account.'*

[2020-09-07 01:33] alexandair commented on #14964
@qwordy Any news about this?

[2020-09-07 01:55] fengzhou-msft commented on #15058
@qwordy please take a look.

[2020-09-07 01:57] fengzhou-msft commented on #15060
@bim-msft please take a look.

[2020-09-07 02:21] yungezz commented on #14753
feedback from Amit after testing.
---
Public preview blockers - must be fixed for 9/22 release
No public preview blocking issues so far.
remove --restore-blob option. --restore-blob is not very useful after SD is uploaded. Becaused SD-exchange-key(private key in HSM) will be deleted after the SD has been successfuly uploaded)
For commands with --hsm-name, error message contains "vault", it's confu

[2020-09-07 02:33] qwordy commented on #15058
I am fixing it.
https://github.com/Azure/azure-cli/pull/14992

[2020-09-07 02:34] qwordy commented on #14924
Thank you for reporting it.

[2020-09-07 02:59] fengzhou-msft commented on #14963
@linuxunderground azure-cli-telemetry-1.0.6.tar.gz is uploaded.

[2020-09-07 03:09] fengzhou-msft commented on #14908
@ashutoshvarma can you update to the latest azure-cli? `azure-storage-blob` is replaced by `azure-multiapi-storage`.

[2020-09-07 03:14] fengzhou-msft commented on #14881
@mradulmodi can you run `az --version` in non-admin mode? You may also try to delete the `C:\\Users\\mmodi\\.azure\\az.sess` file and rerun the command.

[2020-09-07 03:20] jiasli opened #15064 "[VM] `az vm list -d` fails"
I got an error while running

[code]

[2020-09-07 03:21] jiasli commented on #14972
I can't run this command and got error https://github.com/Azure/azure-cli/issues/15064. @qwordy

[2020-09-07 03:23] bim-msft commented on #15060
@davidpoltorak Hi, please try `pip install azure-mgmt-keyvault==7.0.0b2`

[2020-09-07 03:29] qwordy commented on #15064
Results from GET VMs contains a non-existing VM.
[code]
[code]

GET this VM fails.
[code]
[code]
This VM can't be found in Portal, either.

[2020-09-07 03:37] rnagpal commented on #13691
@ericstephens : Please feel free to reactivate this if you still repro this. Closing this issues based on couple of confirmations.

[2020-09-07 03:37] #13691 closed

[2020-09-07 03:39] jiasli commented on #14972
It looks like you are running this command in Command Prompt, but I can't reproduce it

[code]

May I know what terminal you are using?

By the way, there are some [known quoting issues with PowerShell](https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-with-powershell.md).

But when I ran this command, it is weird that the command is actually invoked twice, one without the `)` and one

[2020-09-07 03:39] yungezz opened #15065 "[Keyvault] Security domain testing feedback"
**Describe the bug**

- Update hardcoded hsm url logic.
  - removing location prefix.
  - DNS prefix of MHSM need to be registered for each clouds. for public cloud, it's `.managedhsm.azurer.net`. Need service team to register it to ARM endpoint also.

-- `az keyvault role assignment create` param `--hsm-name` help message corresponds with HSM_BASE_URL. But `--hsm-name` is just HSM name, should be

[2020-09-07 03:40] yungezz commented on #15065
Security domain testing feedback from Pengpeng Wang and David.

[2020-09-07 03:43] yungezz commented on #15065
feedback from Amit after testing.

**Public preview blockers - must be fixed for 9/22 release**
No public preview blocking issues so far.
-  remove --restore-blob option. --restore-blob is not very useful after SD is uploaded. Becaused SD-exchange-key(private key in HSM) will be deleted after the SD has been successfuly uploaded)
- For commands with --hsm-name, error message contains "vault", it's

[2020-09-07 03:43] jiasli commented on #15064
`az vm list` is showing a non-existing VM:

[code]

[2020-09-07 04:44] lrbuermann opened #15066 "Trying to publish functionapp via zip file fails with connection error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2020-09-07 04:50] yungezz commented on #15066
routing to appropriate team

[2020-09-07 05:23] #14996 closed

[2020-09-07 05:39] qwordy commented on #15054
The range is defined in swagger file. CLI relies on Python SDK. Python SDK verifies it.
azure-rest-api-specs\specification\compute\resource-manager\Microsoft.Compute\stable\2020-06-01\compute.json
[code]
We need to relax the limitation in swagger.

[2020-09-07 05:51] ralfkret commented on #14972
Indeed I am using Powershell (version 5.1.19041.1 running in Windows Terminal 1.2.2381.0).
When I switch to Command.exe the original command `az vm list --query "[0].keys(@)"` works as expected.
I wasn't aware of the quoting issues you have mentioned

[2020-09-07 06:03] ralfkret commented on #14972
At least now I have an idea why the variant with the extra space `az vm list --query "[0].keys(@) "` worked.

I assumed any character would do, but the real difference seems to be that the whitespace prevents prevents PowerShell from stripping the quotes as mentioned in [Quoting issues with PowerShell](https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-with-powershell.md#ampersand--is-

[2020-09-07 06:07] wu-yafeng opened #15067 "Fail to create aks on windows terminal with azure cloud shell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --location {} --node-count {}

[2020-09-07 06:10] yonzhan commented on #15067
aks

[2020-09-07 06:13] wu-yafeng commented on #15067
I found the solution #14328

[2020-09-07 06:13] #15067 closed

[2020-09-07 06:27] jiasli commented on #14972
Glad to know the issue is solved. 😊

@houk-ms, maybe we can improve the error message for `--query` to inform the user that they may be hitting [Quoting issues with PowerShell](https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-with-powershell.md)?

[2020-09-07 06:31] #15006 closed

[2020-09-07 06:34] TomGeske commented on #15059
That's by design AFAIK.
Why do you want to run az aks install-cli ?

@edyoung might be able to provide more context.

[2020-09-07 07:01] houk-ms commented on #15043
The reason for the behavior here is not we got a misspelled argument name, but a wrong usage of long/short options.

When you type the command `az webapp up -name MyWebApp`, Argparse thinks you are using the short option. It then will get the result `az webapp up -n ame MyWebApp`, so **MyWebApp** will be viewed as an unrecognized argument.

I think this is a fundamental design of argparse so may b

[2020-09-07 07:12] scott-doyland-burrows opened #15069 "Better installation documentation for Linux"
**Is your feature request related to a problem? Please describe.**
Installation documentation does not work for Linux Mint.

**Describe the solution you'd like**
Correct documentation to install on Linux Mint, or on all Debian versions of Linux.

**Describe alternatives you've considered**
Manually downloading the latest az .deb file from the MS website and installing.

**Additional context**
Ther

[2020-09-07 07:20] houk-ms commented on #14972
sure, that make sense. while if it only happens on powershell, maybe better if we can show the hints only to powershell users

[2020-09-07 08:03] yungezz commented on #15069
thanks for reporting. @fengzhou-msft could you pls have a look? thanks

[2020-09-07 08:04] yungezz commented on #15058
#14924

[2020-09-07 08:36] yungezz commented on #14020
working on PR, plan it to post-Ignite

[2020-09-07 08:41] way2desispirit opened #15070 "Insufficient read or write permissions on storage account"
Tried enabling sql auditing using cli, it failed with error "Insufficient read or write permissions on storage account '<storage_account_name>'"

While the corresponding powershell command worked.

**AZ CLI Command:** [Did not work]

az sql db audit-policy update --name <db_name> --resource-group <rg_name> --server <sql_server_name> --retention-days 30 --storage-account <storage_account_name> --st

[2020-09-07 08:42] yonzhan commented on #15070
sql

[2020-09-07 08:47] yungezz commented on #14753
feedback is tracked at https://github.com/Azure/azure-cli-pr/issues/100

[2020-09-07 08:55] qwordy commented on #9427
I keep getting this error.
[code]

[2020-09-07 08:55] qwordy commented on #9427
Any plan to fix it?

[2020-09-07 09:33] Flanker32 opened #15072 "Webapp:SSH to app service is not supported in Windows"
**Describe the bug**

`az webapp ssh` didn't work in Windows, will report `webapp ssh is only supported on linux and mac`, but this feature could work with VSCode App Service Extension, only Linux App Service is not supported

**To Reproduce**

run `az webapp ssh` to an Linux web app in terminal

**Expected behavior**

Connect to app service ssh endpoint

**Environment summary**

- Install Method:

[2020-09-07 09:35] yonzhan commented on #15072
webapp

[2020-09-07 09:37] qwordy commented on #14972
It is a service issue after my investigation.

[2020-09-07 09:51] timvanderweijde commented on #15011
Why is this  a "Feature Request" and not a "Issue/Bug"?

[2020-09-07 10:46] ashutoshvarma commented on #14908
Ok. I will report after updating az cli

[2020-09-07 11:00] aneee22 opened #15073 "TypeError: argument of type 'NoneType' is not iterable"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-09-07 11:04] yonzhan commented on #15011
@timvanderweijde mark this as bug

[2020-09-07 11:05] Krusen commented on #13686
I seem to be having the same issue when using ARM templates and `listConnectionStrings(...)`. I'm guessing this is related.

Is this still expected to be fixed soon (early september)? Is there any workaround until it is fixed?

[2020-09-07 11:50] linuxunderground commented on #14963
Yeah,

With azure-cli-telemetry-1.0.6, I have now a working azure-cli 2.11.1
(Gentoo Portage installation)

Thanks
--
Vincent

Le lun. 7 sept. 2020 à 04:59, Feng Zhou <notifications@github.com> a écrit :

[2020-09-07 11:53] ashinzekene commented on #14809
Thanks. This works

[2020-09-07 12:51] plugwash opened #15074 "Potentially bogus upper bound on version of python "cryptography" package."
Hi, I have been investigating why version 3.1-1 the python-cryptography source package (which builds the python3-cryptography binary package) was not migrating from Debian unstable to Debian testing. I determined that the reason was that python3-azure-cli depends on python3-cryptography << 3.0.0 . This dependency appears to be originate from a corresponding dependency in the upstream setup.py file

[2020-09-07 13:06] pvrk commented on #14983
@hmi12 : Resource group of the VM is only required during enabling protection or first-time-backup. Once the VM is backed up, the backup item name is part of vault and hence doesn't require the resource group to be mentioned again.

In short, you don't require RG of the VM to list or show backup items.

Hope this helps.

[2020-09-07 13:34] yungezz commented on #15073
hi @aneee22 could you pls share more detail about the command and error? thanks. cc @houk-ms .

[2020-09-07 13:36] yungezz commented on #15074
thanks for reporting. hi @fengzhou-msft can we upgrade the cryptography pacakge?

[2020-09-07 14:27] edyoung commented on #15059
In Cloud Shell only your home directory is writable, you can't update /usr.

[2020-09-07 15:35] hobdell-SAP opened #15075 "az 2.11.1 az vmss diagnostics set fails 'NoneType' object has no attribute 'storage_profile'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vmss diagnostics set`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

First, I set environment variables for the`_vmssdiagnosticsstorageaccount` and the `_vmssname`.
Then I ran these c

[2020-09-07 18:28] MehaKaushik commented on #14792
@nadworny glad to hear.

[2020-09-07 18:28] #14792 closed

[2020-09-08 01:46] yungezz commented on #15075
cc @houk-ms

[2020-09-08 01:46] yungezz commented on #15075
#14287

[2020-09-08 01:47] yungezz commented on #15073
#14287

[2020-09-08 02:12] aim-for-better commented on #14835
Thanks for sharing.

[2020-09-08 02:13] aim-for-better commented on #14835
This is an issue for CLI. We will fix it in Oct or Nov.

[2020-09-08 02:23] haroldrandom commented on #15011
Could you try to assign the managed identity to your application gateway as well, `az network application-gateway identity assign` before associate the secret with the application gateway?

[2020-09-08 05:33] yungezz opened #15077 "[Test framework] Enable match_body"
**Is your feature request related to a problem? Please describe.**

in this PR https://github.com/Azure/azure-python-devtools/pull/60/files, azure-devtools will support match_body functionality. After it released, testsdk need to apply it in ScenarioTest. So that command owners to choose whether to match body in their command scenario tests. Works to be done like:
- upgrade azure-devtools version

[2020-09-08 05:34] yungezz commented on #15077
Test framework

[2020-09-08 06:30] LukasNespor opened #15078 "Incorrect description of 'apply-network-updates'"
Command **apply-network-updates** has incorrect description. It says that it is used for backing up the API Management service to storage account. There is no switch used for specifying storage account. And according to the name this command do something else.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 197d8382-ee1

[2020-09-08 06:31] yungezz opened #15079 "[VMSS] use update/PATCH instead of create_or_update/PUT in vmss update command"
**Is your feature request related to a problem? Please describe.**

Today, vmss update is calling into create_or_update/PUT API. This cause issues that service side validation might fail when some field not updating but still passed in PUT request. Ideally CLI should use PATCH verb. To do it, we need
- service team confirming that PATCH could be used to do all updating operation in VMSS
- full reg

[2020-09-08 06:31] yungezz commented on #15079
put this in backlog now since still need confirming with service team, and big change in vmss update.

[2020-09-08 08:54] dougan001 commented on #15025
Seeing the same behaviour on Linux - Ubuntu

[2020-09-08 10:21] timvanderweijde commented on #15011
I believe I did, but forget to mentioned in the description. However, to be sure I will retest it again. I will come back to you on that.

[2020-09-08 10:38] timvanderweijde commented on #15011
I retested it again, but still the same result. The identity was added to the Application Gateway with the flag -identity already.

Same error:
Deployment failed. Correlation ID: f1f49a96-8873-4317-b099-bd5f0c6fef71. Access denied for KeyVault Secret '<Secret Identifier url>' for Application Gateway '<gateway url>'. Make sure that Identity assigned to Application Gateway has access to the KeyVault

[2020-09-08 11:07] AdamWhite opened #15085 "Can't call cli admin-consent"
## Describe the bug

following the guide: https://docs.microsoft.com/en-us/cli/azure/ad/app/permission?view=azure-cli-latest#code-try-3
I get the following errors, I am signed in as the admin and can click in the portal to provide admin consent however via the CLI :(

**Command Name**
`az ad app permission admin-consent`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note t

[2020-09-08 11:19] qwordy commented on #13974
According to logs, the original value is -1, the value in PUT operation is also -1. Service issue. Add a service attention label for confirmation.

[2020-09-08 12:35] nielsvbrecht commented on #11445
Since I was unable to find the solution, even in this GitHub issue;
The possible values I know of are: 'Standard' is for HDD and 'StandardSSD'.

[2020-09-08 12:39] yonzhan commented on #15078
apim

[2020-09-08 12:55] yonzhan commented on #15085
add to S176

[2020-09-08 13:49] gsscoder opened #15087 "Cannot enable identity for a web app"
## Describe the bug

**Command Name**
`az functionapp identity assign`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp identity assign --subscription {} --resource-group {} --name {}`

## Expected Behavior

## Environment Summary

[2020-09-08 14:15] yonzhan commented on #15087
functionapp

[2020-09-08 15:44] johnakash opened #15088 "Do we have an option to get all role assignements for app registration?"
**Resource Provider**

**Description of Feature or Work Requested**
We are looking to export data of  the role assignments on all app registrations in our tenant. Microsoft support team shared - https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureadserviceapproleassignment?view=azureadps-2.0 as the powershell command and I am looking for the equivalent in AZ CLI.

**Minimum API Ver

[2020-09-08 15:49] yonzhan commented on #15088
add to S176

[2020-09-08 16:14] ohadschn opened #15089 "az acr import docs - clarify that a name or resource ID must be specified to --registry for AAD auth"
This will not use AAD auth and will fail even if I have owner access to both ACRs, because AAD auth will not be used for the source ACR:
`az acr import --name target--source source.azurecr.io/foo:bar`

However this will succeed:
`az acr import --name target --registry source --source foo:bar`

IMO That is not trivial to understand from the docs.

---
#### Document Details

⚠ *Do not edit this sect

[2020-09-08 16:51] MehaKaushik commented on #14627
Hi @yonzhan do you know if the CLI team is aware of any in-progress feature development which can potentially address this ASK. This issue is not service-related. It is CLI infra issue.

[2020-09-08 16:51] avinashakka commented on #14539
@qwordy Can you please close on this design.. the feature is already GA and customers are already exercising and seeing this missing support.

[2020-09-08 17:19] tejasshah7 commented on #15028
Please make sure similar change is made for other fields while pass true/false under Network.DNS.

[2020-09-08 19:20] shurd commented on #13808
To update this issue, the management SDK has been updated to properly throw the not found exception. The CLI will be updated to use the newer version with the next cosmosdb command module update. This was originally targeted for the middle of August, but has been delayed.

[2020-09-08 19:20] shurd commented on #13820
To update this issue, the management SDK has been updated to properly throw the not found exception. The CLI will be updated to use the newer version with the next cosmosdb command module update. This was originally targeted for the middle of August, but has been delayed.

[2020-09-08 19:21] shurd commented on #13869
To update this issue, the management SDK has been updated to properly throw the not found exception. The CLI will be updated to use the newer version with the next cosmosdb command module update. This was originally targeted for the middle of August, but has been delayed.

[2020-09-08 19:32] amjads1 commented on #13974
Assigned to @avirishuv to look into this issue.

[2020-09-08 20:46] LeeSchuenemeyer opened #15090 "Az interactive failure to load"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive --update`

## Expected Behavior

## Environment Summary
[c

[2020-09-08 20:56] amitbapat opened #15091 "[KeyVault MHSM] az keyvault security-domain download does not accept more than 3 wrapping keys"

[2020-09-08 21:53] bsuchorowski commented on #13276
Still this simple script takes 30-35% of our overall pipepline execution time.

[2020-09-08 22:02] chjaress commented on #15018
@houk-ms  For Windows VMs you have to add the health extension for it to show in the instance view:

{
  "properties": {
    "forceUpdateTag": "RerunExtension",
    "publisher": "Microsoft.ManagedServices",
    "type": "ApplicationHealthWindows",
    "typeHandlerVersion": "1.0",
    "autoUpgradeMinorVersion": true,
    "settings": {
        "port": 3389,
        "protocol": "tcp"
    },
    "prote

[2020-09-08 22:14] eholman commented on #10248
@yugangw-msft The help changes got undone in the commit after yours: https://github.com/Azure/azure-cli/commit/573d0640d1b738bd1fb57d674f583da0ad5a608d#diff-40e30572983a53c248e7106702aabcc2L867 - so it's again not ok.

The suggested doc regarding handling quotes was helpful though!

[2020-09-08 22:15] samuel-velazquez opened #15093 "Az CLI shell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`Unknown`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az &&[smd]`

## Expected Behavior

## Environment Summary
[code]
## Additional C

[2020-09-08 22:27] eholman commented on #11978
@sirwarshade Check out this doc regarding quoting issues you're having. I'm looking at the exact same thing. Doc is going into detail and might give you insights how to handle quotes based on the type of your environment:

https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively?view=azure-cli-latest#quoting-issues

[2020-09-08 22:33] samuel-velazquez commented on #15093
Shell is account language so graph if version lastest someone process and extension

[2020-09-08 22:44] stephgou opened #15094 "--vnet-to-vnet-traffic unrecognized argument (azure cli extension virtual-wan 0.2.1)"
**Describe the bug**

I am using virtual-wan 0.2.1 az-cli extension on Windows with the following command:
az network vwan create --name $wanName1 --resource-group $resourceGroupName --type Standard `
                    --location $location1 --branch-to-branch-traffic **--vnet-to-vnet-traffic**

**--vnet-to-vnet-traffic** [documented here: https://docs.microsoft.com/en-us/cli/azure/ext/virtual-wa

[2020-09-08 23:03] yonzhan commented on #15089
acr

[2020-09-08 23:19] yugangw-msft commented on #15089
This is by-design though ux is not clear. Doc should be updated at minimum

[2020-09-08 23:27] yonzhan commented on #14627
@jiasli to help.

[2020-09-08 23:42] yonzhan commented on #15090
interactive

[2020-09-09 00:39] yonzhan commented on #15094
add to S176

[2020-09-09 00:41] jiasli commented on #15093
Sorry I don't understand your statement:

Could you let us know
1. What you are trying to do?
2. How you are doing that, with what commands?

Thanks for the information.

[2020-09-09 00:45] jiasli commented on #13276
Hi @bsuchorowski, I understand this issue is troubling you.

As each Azure CLI command runs in a separate process, there is no in-memory cache to save the access token of a service principal. So the https://login.microsoftonline.com:443 call is necessary.

You will need to [create a support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) to AAD or Azure Network team to check why

[2020-09-09 00:46] samuel-velazquez commented on #15093
firsts not single to download async

[2020-09-09 01:10] BenMitchell1979 commented on #14674
Is this a bug? Following the documentation on **https://docs.microsoft.com/en-us/powershell/module/az.network/add-azapplicationgatewayhttplistener?view=azps-4.6.1** and getting the same issue using Powershell.

[2020-09-09 02:03] jiasli commented on #15093
Sorry I can't understand your comment. Could you provide some more details?

[2020-09-09 02:03] qwordy opened #15097 "Rerun failed test in new disks API version 2020-06-30"
**Describe the bug**

I am updating API version of disks. https://github.com/Azure/azure-cli/pull/15031
I can't pass these tests. Can you help run them after this PR is merged? Thank you!

network:
test_network_virtual_appliance

servicefabric:
test_cluster_certs

acs:
test_k8s_install_kubelogin_emit_warnings
test_k8s_install_kubelogin_create_installation_dir

**To Reproduce**

**Expected behavior

[2020-09-09 02:09] qwordy commented on #15097
@andyzhangx

[2020-09-09 02:09] samuel-velazquez commented on #15093
Resource to get (|pragna) alone is status function or project asset [have to remote; draft]

[2020-09-09 02:14] jiasli commented on #15093
The author seems to be a bot and also created https://github.com/git-lfs/git-lfs/issues/4212 before. Closing.

[2020-09-09 02:14] #15093 closed

[2020-09-09 02:22] 4riel commented on #10207
Same problem over here when using ps...
azure-cli  2.11.1
core 2.11.1
telemetry 1.0.5 *

[2020-09-09 02:26] jiasli commented on #15038
Could you elaborate what the issue is? Thanks for the information.

[2020-09-09 02:35] jiasli commented on #14627
This `--locations` is not the global parameter `--location`, so this issue is not related to CLI infrastructure.

https://github.com/Azure/azure-cli/blob/4aee466f6fce5db00db61639545e98712e6263b6/src/azure-cli/azure/cli/command_modules/cosmosdb/_params.py#L54-L57

And the error `usage error: --locations [KEY=VALUE ...]` is thrown at

https://github.com/Azure/azure-cli/blob/17015379924a13b12a4878146

[2020-09-09 02:41] houk-ms commented on #15018
@chjaress Thanks for the clarification.

[2020-09-09 02:50] wahyuen commented on #11695
still an issue as of v2.11.1

are the function team even aware of this issue?

[2020-09-09 02:57] yungezz commented on #15091
MHSM testing feedback.

[2020-09-09 04:35] swathi-muthiyam commented on #11695
Well i have raised a ticket not sure if this reached the function team. If
you anybody from the functions team can loop them please?

Thanks & Regards,
Swathi Muthiyam

On Wed, Sep 9, 2020 at 8:21 AM Wah Yuen <notifications@github.com> wrote:

--

Regards,
Swathi Muthiyam

[2020-09-09 04:41] amjads1 commented on #15064
Looking into the issue.

[2020-09-09 04:49] aneee22 commented on #15073
Here is the complete errror!
$ az aks enable-addons -g terraform-rg -n terraform-ask -a kube-dashboard

The command failed with an unexpected error. Here is the traceback:

[2020-09-09 05:26] JerryYangKai opened #15099 "Import the latest version of azure_storage_blob and can not find it"
Describe the bug

**Command Name**
I installed my own extension 'teamsdev' and it import the latest version(12.4.0) of azure_storage_blob

`az teamsdev -h`

**Errors:**
[code]

## To Reproduce:
'az extension add --source https://envmgrtest.blob.core.windows.net/kaidevtoolhost/teamsdev-0.0.1-py2.py3-none-any.whl'
`az teamsdev -h`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2020-09-09 05:27] #15099 closed

[2020-09-09 05:28] yungezz opened #15100 "[Attestation] GA Support"
**Resource Provider**

MMA(Attestation)

**Description of Feature or Work Requested**

MAA GA date is moved to Oct  30, 2020. We are expected to provide consistent experience across PowerShell, Portal, CLI and Terraform for GA.

Swagger completeness is expected by 9/15.
**Minimum API Version Required**

**Swagger Link**

TBD.

**Target Date**

[2020-09-09 05:29] yungezz commented on #15100
To track Attestation GA work

[2020-09-09 05:42] khmak3 commented on #10574
Same here. And this issue can be reproduce inside a linux docker easier

[2020-09-09 08:19] igilham commented on #10574
Here as well. My team had to do manual deployments because the tools could not be made to work.

[2020-09-09 08:58] houk-ms commented on #15018
I checked it, it seems our latest version (2.11.1) already supported it. @chjaress Can you help confirm it?

[2020-09-09 09:35] jaslloyd opened #15103 "Permissions needed for Service Principal to Update Reply Urls / Redirect Uris"
Hello,

I was wondering if somebody could help, I have a service principal/app registration e.g: 12345, I am logging into the cli via:

`az login --service-principal --username 12345 --password ${PASS} --tenant ${TENANT_ID}`

I am able to to get the current reply URLs via this command:
`az ad app show --id 12345 --query replyUrls`

However when I try to update the replyUrls using the az rest comma

[2020-09-09 09:58] bluca commented on #15051
@Juliehzl ping - I cannot upload the most recent version of azure-cli until azure-multiapi-storage is updated, or the dependency bump is reverted.

[2020-09-09 10:06] yonzhan commented on #15103
add to S176

[2020-09-09 10:30] zkatsavelis opened #15105 "'az functionapp list' errors out"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp list` or `az functionapp show --name xxx`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp list`

## Expecte

[2020-09-09 11:15] yonzhan commented on #15105
functionapp

[2020-09-09 11:31] usrme opened #15106 "Unable to update or set tags for multiple resource IDs"
## Describe the bug

**Command name:**
`az resource update`

**Errors:**

[code]

## To Reproduce:

Try to set or update tags for multiple resource IDs at once.

[code]

## Expected Behavior

## Environment Summary

[code]

## Additional Context

I tested this with snapshots, virtual machines, and resource groups. It doesn't seem to matter whether the tags already exists or not, whether the IDs ar

[2020-09-09 11:44] yonzhan commented on #15106
add to S176

[2020-09-09 14:52] ColinM9991 commented on #13007
Any update on this?

[2020-09-09 16:49] johnakash commented on #15088
@yonzhan  Is this already existing or you guys are planing to release a feature for that? If it is so, could you please provide an ETA?

[2020-09-09 17:14] rahul602 commented on #14899
@qwordy ,

It's probably clear to you from Lu's comment, but I would still like to mention this for your reference. The sku tier is difference from the performance tier.
This is the swagger for it:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-30/disk.json

        "tier": {
          "type": "string",
          "d

[2020-09-09 18:09] toddplu commented on #14862
Getting the same issue. this is a pretty major blocker as far as streamlining AzureDevops (AZDO)  pipelines is concerned.

[2020-09-09 18:39] Steven-Tuccio-wwt commented on #14858
If the az aks install-cli needs certificates, with respect to the Python bug, is there a reason it can't download / deploy them as a part of it's functionality? Without installing the certificates as part of it's package, it means a lot of babysitting and micromanagement. Additionally, I think (in particular) the Azure image for Datacenter 2019 should absolutely contain any needed certificates.

[2020-09-09 19:09] q00u opened #15108 "webapp deployment fails with getaddrinfo errors"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Zip deployment from the command line ultimately fails, every time. I'm going off the instructions on https://docs.microsoft.com/en-us/azure/app-service/deploy-zip and don't appear to be missing anything. But, it still fails at `getaddrinfo`

**Command Name**
`az webapp deployment source config-zip`

**Errors:*

[2020-09-09 20:17] shurd commented on #13686
Yes, that function uses the resource provider path. The ETA for the service-side work is now early October. As a workaround, you could append these query parameters onto the returned connection string.

[2020-09-09 21:48] amjads1 commented on #15054
Looking into the issue.

[2020-09-09 21:59] amjads1 commented on #15054
Assigned to Ziv.

[2020-09-09 22:04] bsuchorowski opened #15110 "Az acr helm push - You have tried to upload a chart that already exists"
**Describe the bug**
From time to time (a few times a day) once we do helm push to container registry:
``az acr helm push --name ${{parameters.containerRegistry}} $(Build.ArtifactStagingDirectory)/${{parameters.imageRepository}}-$(Build.BuildNumber).tgz --force``

we receive
Error: You have tried to upload a chart that already exists. Correlation ID: 65237304-9a53-4ff4-93a3-0f59441f35ef.
event tho

[2020-09-09 22:18] ChandlerSwift opened #15111 "`az storage logging update` fails without optional argument"
## Describe the bug

**Command Name**
`az storage logging update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az storage logging update --retention 30 --services t --log r --connection-string [...]`

## Expected Behavior
According to the docs, the version argument is optional:
[c

[2020-09-09 23:32] abuibrahim opened #15112 "Ubuntu 20.04 azure-cli missing antlr4"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm list`

## Expected Behavior

## Environment Summary
[code]
## Additiona

[2020-09-10 00:19] yonzhan commented on #15108
webapp

[2020-09-10 00:22] yonzhan commented on #15110
acr

[2020-09-10 00:23] yonzhan commented on #15111
add to S176

[2020-09-10 00:53] MSEvanhi commented on #13355
Hey sorry for the late reply, this was marked as read for me unfortunately.

I believe the problem is the way we're quoting the tags here. Please update to follow [this document's guidance](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/tag-resources#azure-cli) on how to format your call for tags.

You will need to quote both the field, equals sign, and the value.

[2020-09-10 01:07] xostap commented on #11980
Experiencing the same issue. In our case, the endpoint returns 404.

[code]

[2020-09-10 01:24] yugangw-msft commented on #15110
@shizhMSFT any known reliability issues here? This is on helm2.

[2020-09-10 01:38] yungezz commented on #14964
official doc: https://docs.microsoft.com/en-us/azure/virtual-machines/windows/automatic-vm-guest-patching#azure-cli-20

[2020-09-10 01:51] Maqsoodp opened #15113 "Az cli fails with pod identities"
## Describe the bug
Az cli is installed and pod identity is set on a container. Getting below error.

**Command Name**
`az storage blob list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login --identity --allow-no-subscriptions`
- `az storage blob list --account-name xxxxxxxx

[2020-09-10 01:55] #14899 closed

[2020-09-10 02:44] fengzhou-msft commented on #15112
Duplicate with #14011. Please follow the [instruction](https://github.com/Azure/azure-cli/issues/14011#issue-640943121) to update to the latest azure cli.

[2020-09-10 02:46] fengzhou-msft commented on #15113
@Juliehzl please take a look.

[2020-09-10 02:55] qwordy commented on #14539
az vm boot-diagnostics enable: --storage should be optional

Very clear.

I am reading related CLI code.

[2020-09-10 02:59] haroldrandom commented on #14917
**Sync details:**

As for `vrouter create`: replace the API of VirtualRouter with VirutalRouter + VirtualHub and check name confliction before creating it.

As for `vrouter list`: show all results of VirtualRouter + VirtualHub
As for `vrouter show`: try to show VirtualRouter first and then VirtualHub.
As for `vrouter delete`: delete the name specified VirtualRouter first and then VirtualHub. Befor

[2020-09-10 03:02] fengzhou-msft commented on #13930
@wasker `az extension update` does not fail for no updates available from `2.11.0`, just prints a warning message.

I have submitted #15083 to support `az extension add --upgrade`, it will install or update the extension.

As for updating all extensions, we introduced `az upgrade` in `2.11.0` to update azure-cli and all installed extensions.

[2020-09-10 03:06] jiasli commented on #15088
`appRoleAssignments` API is for granting **Application Permissions**. `az ad add permission` doesn't support listing them.

You may try `az rest` to call Microsoft Graph API [List appRoleAssignments granted to a service principal](https://docs.microsoft.com/en-us/graph/api/serviceprincipal-list-approleassignments?view=graph-rest-1.0&tabs=http) and see if you can get unblocked. Please see https://g

[2020-09-10 03:19] yugangw-msft commented on #15110
@bsuchorowski, thanks for reporting this. We confirmed there was increased latency caused by Azure storage service today which was mitigated a few hours ago. Please reactivated the issue if you still experience it

[2020-09-10 03:38] Juliehzl commented on #15025
Hi @KevinBuchs and @dougan001, sorry for inconvenience. Could you remove `--auth-mode login` if you are in terminal usage or add `--account-key`/`--sas-token`/'--connection-string` ad credential?

[2020-09-10 04:04] #10089 closed

[2020-09-10 04:47] #14897 closed

[2020-09-10 05:01] samuel-velazquez opened #15116 "CLI and app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az find`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az find {}`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-09-10 05:23] houk-ms commented on #11207
#14830

[2020-09-10 05:23] houk-ms commented on #11118
#14830

[2020-09-10 05:24] houk-ms commented on #3505
#14830

[2020-09-10 05:24] houk-ms commented on #11870
#14830

[2020-09-10 05:24] houk-ms commented on #14343
#14830

[2020-09-10 05:24] houk-ms commented on #14207
#14830

[2020-09-10 05:25] houk-ms commented on #14886
#14830

[2020-09-10 05:52] usrme commented on #15106
I tested the same behaviour with the `az resource tag` command and it worked as expected, though it did return an array of empty objects as opposed to something more meaningful:

[code]

[2020-09-10 06:11] zhoxing-ms commented on #13355
@jhua18 Hi, this is a legacy bug that has been fixed in PR: https://github.com/Azure/azure-cli/pull/14381
Please upgrade the CLI to the latest version (2.11.0) and try again~

[2020-09-10 06:20] timja commented on #14207
The actual issue in my case was that the PAT I was using didn’t have admin access to the repo

[2020-09-10 06:58] zhoxing-ms commented on #14931
It seems duplicated with #13855, so I close it first

[2020-09-10 06:58] #14931 closed

[2020-09-10 07:16] bsuchorowski commented on #15110
1. Yesterday was it was very often indeed but it has happened from time to time for weeks.
2. Should issues with increased latency (timeout exception) logged in any other way than "chart already exists"? Especially when I am using --force flag.

[2020-09-10 07:41] qwordy commented on #14013
I create a disk without setting max share. `maxShares` is null in the response. How did you create the disk? If you didn't enable the feature, how did you create a disk with maxShares = 1?
[code]

[2020-09-10 09:55] AleksandarTomicMs2 commented on #15052
The same seems to be true for `az storage account generate-sas` - you get a warning that you need to use `--auth-mode login` for RBAC, but it's not a parameter that `az storage account generate-sas` takes. Not sure if I should open a new issue for this or whether it can be addressed with this issue?

[2020-09-10 10:11] alexandair commented on #14964
@yungezz Thanks.

[2020-09-10 10:11] #14964 closed

[2020-09-10 11:28] kunaldhanuka opened #15119 "az vmss update fails JSON serialization for updating secrets on windows"
I am trying to add the secrets (on windows) in the vmss using cli with Json parameters but it's failing to deserialize. I came across an existing closed [bug](https://github.com/Azure/azure-cli/issues/12623) and followed the instructions suggested [here](https://github.com/Azure/azure-cli/issues/12623#issuecomment-634472185). However, it still doesn't work.
Please note: once add starts working, I

[2020-09-10 11:54] ashinzekene commented on #14809
Sorry if it feels like I'm bothering, but when I run this on `ev2`
[code]
I get

` Operation failed with status: 'Forbidden'. Details: 403 Client Error: Forbidden for url: https://graph.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/getObjectsByObjectIds?api-version=1.6`

I don't know if you're familiar with this type of error

[2020-09-10 11:57] RobHofmann opened #15120 "Uploading pfx with 2 public certificates goes wrong"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp config ssl upload`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp config ssl upload --certificate-file {}

[2020-09-10 12:22] gbrault opened #15121 "container access generate [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:852)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container exec`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container exec --resource-group {} --name {} --exec-command {}`

##

[2020-09-10 12:46] bsuchorowski commented on #15110
@yugangw-msft it is still happening. Today we had same issues.

[2020-09-10 13:04] KevinBuchs commented on #15025
@Juliehzl are you asking us to do this as a test or a work-around?

[2020-09-10 14:03] brunooliveiramac commented on #15110
I'm facing this issue as well
Error: You have tried to upload a chart that already exists. Correlation ID: b11fbaaa-0033-4756-9521-8fca29c24f9a.

[2020-09-10 16:05] hivyas commented on #12297
Hi there, using the repro steps above this issue is no longer present so we are closing the ticket on our team.
Please reach out if the issue persists.

[2020-09-10 16:23] yonzhan commented on #15120
functionapp

[2020-09-10 16:24] yonzhan commented on #15121
container

[2020-09-10 16:27] gbrault commented on #15121
@yonzhan thanks for the feedback, could you elaborate please?

[2020-09-10 16:33] yonzhan commented on #15121
container instances service team should look into this issue.

[2020-09-10 16:34] gbrault commented on #15121
thanks @yonzhan

[2020-09-10 18:52] wasker commented on #13930
@fengzhou-msft Thanks for heads up!

With regards to `az upgrade` - does it work in Azure Cloud Shell environment? I.e., is it able to upgrade azure-cli itself there?

[2020-09-10 19:23] yugangw-msft commented on #15110
I am reactivating this issue and and will update once the latency issues get addressed. The flakiness of helm push appears a different issue, CC @shizhMSFT

[2020-09-10 19:40] dablon opened #15122 "extension hack not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az hack`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az hack -h`

## Expected Behavior

## Environment Summary
[code]
## Additional C

[2020-09-10 20:06] johnwildes commented on #14777
@haroldrandom thanks for the info.  WRT the MSI installed AZ CLI, there is none.  I only use CLI in WSL.  I'm just going to destroy this image and start over again.  Thanks.

[2020-09-10 20:06] #14777 closed

[2020-09-10 23:02] XeniaP opened #15124 "Azure CLI update Log Profiles Error."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor log-profiles update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az monitor log-profiles update --name {} --set {} --set {

[2020-09-10 23:10] XeniaP opened #15125 "Azure CLI update Log Profiles Error."
Hello Everyone

i'm Trying to update the log-profiles from az-cli but when i want update the locations value i receive a error related with the type of values, the object i'm try to send is an array but the az-cli show an error about this object isn't iterable.

we try this two commands but receive the same error

-- az monitor log-profiles update --name default --set location="eastus" **--set loc

[2020-09-10 23:29] yonzhan commented on #15124
add to S176

[2020-09-10 23:31] yonzhan commented on #15125
add to S176

[2020-09-11 00:31] gabriel-kohen-by commented on #12415
Hi @panchagnula , I still see this. issue in this CLI version:
azure-cli                         2.0.80 *

command-modules-nspkg              2.0.3
core                              2.0.80 *
nspkg                              3.0.4
telemetry                          1.0.4 *
Is there an API issue you can point to that will resolve this issue when fixed?
Thanks

[2020-09-11 00:58] brianlehr commented on #15015
@yonzhan @haroldrandom  Hi team - which version of the CLI will the new API be included in?  Need to include for our documentation.

[2020-09-11 01:29] yungezz commented on #15116
hi @samuel-velazquez could you pls share detail of the issue you met to  help trouble shooting?

[2020-09-11 01:31] yungezz commented on #15119
cc @houk-ms  for awareness since NoneType error

[2020-09-11 01:33] yungezz commented on #15105
duplicate with https://github.com/Azure/azure-cli/issues/14800.
did you install azure-cli via pip? If yes, it might caused by situation in #13343 (comment). Could you pls install decorator? Recommended way to install azure cli is there: #14011

[2020-09-11 01:36] samuel-velazquez commented on #15116
be trouble ad in shold  attribute lastst call disk top remote asset check

[2020-09-11 02:04] yonzhan commented on #15116
This issue was trigger by a bot.

[2020-09-11 02:04] #15116 closed

[2020-09-11 02:42] brucezlata opened #15127 "az login hangs after open browser and select login user"
az login

Powershell 7.0

~ $ az -v
azure-cli                         2.11.1
core                              2.11.1
telemetry                          1.0.5 *
Python location 'C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe'
Extensions directory 'C:\Users\xiaopsu\.azure\cliextensions'
Python (Windows) 3.6.8 (tags/v3.6.8:3c6b436a57, Dec 23 2018, 23:31:17) [MSC v.1916 32 bit (Intel)]

[2020-09-11 03:14] bim-msft commented on #15091
Closing this since David confirmed that it's a service side error.

[2020-09-11 03:14] #15091 closed

[2020-09-11 05:20] yonzhan commented on #15127
add to S176

[2020-09-11 05:22] haroldrandom commented on #14011
Add one issue might related https://github.com/Azure/azure-cli/issues/14777#event-3752926198 (could deleted if it's unnecessary)

[2020-09-11 05:55] idear1203 commented on #14960
@jayendranarumugam we did some investigation from backend, it seems this is not a server side issue. Since the issue was reported 2 weeks ago, some logs cannot be found any more. Could you please help trigger the issue again and share the related logs (command output)? Especially the `x-ms-correlation-request-id`

[2020-09-11 06:06] haroldrandom commented on #15015
@brianlehr As far as I know, the SDK for 2020-07-01 is till waiting for release and it might take 1~1.5 month to ship. And we are still at 2020-06-01. And the 2020-08-01 is sound to be ready at November. Based on the duration between releases is 3 weeks, I think the version might be between 2.15-2.17

[2020-09-11 06:45] oleksii-gudz commented on #15119
Faced the same issue. Need solution for this.

[2020-09-11 07:06] zackliu commented on #9382
Already fixed in the current azure-cli version 2.9.1.

[2020-09-11 07:08] zackliu commented on #13364
Already fixed in the current azure-cli version 2.9.1.

[2020-09-11 07:12] pascalnaber commented on #13752
@yungezz Maybe I don't understand what you mean with client side idempotency. Because I would not know why somebody needs that. Idempotency is about server side behavior if you ask me.

If I read about the az cli Standard Command Types, The CREATE command MUST be idempotent according to the documentation.

https://github.com/Azure/azure-cli/blob/dev/doc/command_guidelines.md#standard-command-types

[2020-09-11 07:14] jayendranarumugam commented on #14960
@idear1203  here is the logs which I just ran now

[2020-09-11 07:45] pjboardman commented on #13364
What do you mean by ”already"?

[2020-09-11 07:48] zackliu commented on #13364
The bug should has been fixed. Can not reproduce in 2.9.1. Did you still have the issue?

[2020-09-11 07:54] #14745 closed

[2020-09-11 08:12] hisasima opened #15130 "To create AppGW v1 without Public IP is failed by Azure CLI 2.11.1."
**Describe the bug**
Issue: Behavior of Azure CLI was changed from version 2.11.1.  I can not create AppGW v1 without Public IP when I used Azure CLI 2.11.1.

**To Reproduce**
command (To repro)

[code]

**Expected behavior**
When I used 2.10.1, the issue was not reproduced. I also confirmed that I created AppGW with Public IP using version 2.10.1.

az network application-gateway create --resource

[2020-09-11 09:03] zkatsavelis commented on #15105
Originally was installed by apt but looks like that this version is unsupported?

anyway I have reinstall it from https://aka.ms/InstallAzureCLIDeb and looks ok now

[2020-09-11 09:03] #15105 closed

[2020-09-11 10:31] yonzhan commented on #15130
add to S176

[2020-09-11 12:59] TomGeske commented on #14995
PR has been merged. Target is Ignite.

[2020-09-11 14:22] cscoon opened #15132 "'az servicebus queue update' updates some properties not included in the command, leaves others unchanged"
**Describe the bug**
'az servicebus queue update' includes several optional parameters that will update a property on a service bus queue.  When a parameter is not included in the command, the behavior is inconsistent.  Some properties will remain unchanged, and others will be changed to a default or non-default value.

So if you only want to update the lock duration, for example, executing 'az se

[2020-09-11 14:32] yonzhan commented on #15132
servicebus

[2020-09-11 14:50] happyiphone opened #15133 "az upgrade failed when az --version returning "You have 1 updates available. Consider updating your CLI installation with 'az upgrade'""
### **This is autogenerated. Please review and update as needed.**

## Because Azure CLI is a lot more trusted by us than anything else we automated our processes using Azure CLI, because of this we check the Azure CLI version installed before we do anything with it and if it is outdated we prevent the user from continuing, because of this we found out that after 2.11.1 the `az --version` is alway

[2020-09-11 16:20] kceiw commented on #12871
There are two issues here
1. az aks enable-addons --addons virtual-node --name MyManagedCluster --resource-group
MyResourceGroup
   I looked at the PR and found it's added in March 2019. With @MikkelHegn PR, I think we should not introduce it back again. We'll look at how we can prevent it in future. Most of the examples are from telemetry. I think we need to look examine the telemetry.
2.  The he

[2020-09-11 16:22] clook commented on #15121
Hi there,

similar traceback on my side (but with more details). Please appologize if it is not the same problem, I will delete it and create another issue.

My env:
[code]

The traceback is the following:
[code]

It tries to open a SSL connection to the Websocket URL wss://bridge-linux-02.francecentral.management.azurecontainer.io/...
but SSL verification fails because of untrusted chain.

The ou

[2020-09-11 17:09] tfitzmac commented on #10324
We could try adding a redirect in the docs that includes the anchor value. I am not sure how that would be handled because the page itself is valid so we don't want to redirect all requests.

[2020-09-11 18:18] glennmusa opened #15134 "az network private-link-resource list has no result for Cognitive Services Accounts"
**Describe the bug**

Querying for for the group ID of a Cognitive Services Account returns an empty result

**To Reproduce**

When you run:
[code]

You get:
[code]

**Expected behavior**

Looking through unit tests for private endpoints leads you to assume that the expected result for this query should be `account`.

Unit test: https://github.com/Azure/azure-cli/blob/4e68492d4d03a2338d27771a58ee4

[2020-09-11 18:26] akucer commented on #11431
@haroldrandom - I removed the Media Services label and assignment to AMS team members as AMS issue has been fixed. As per previous comment the other hardcoded string is not owned by AMS and needs assignment to appropriate team / owner. Thanks.

[2020-09-11 18:35] glennmusa opened #15135 "`az network private-link-resource list` - arguments documented as optional are not optional"
**Describe the bug**

All of the arguments on the `az network private-link-resource list` command are documented as optional. But the command requires a certain combination of arguments.

**To Reproduce**

When you run:

`az network private-link-resource list --type Microsoft.CognitiveServices/accounts`

You get:

`usage error: --id / -g -n --type`

**Expected behavior**

An accurate description o

[2020-09-11 18:40] glennmusa opened #15136 "`az network private-endpoint create` - "group Id" is not an optional argument"
**Describe the bug**

When creating a private endpoint, the target resource's group Id is listed as optional, but it is required.

**To Reproduce**

When you run:

[code]

You get back:

[code]

**Expected behavior**

An accurate description of the required arguments in documentation and `--help`.

**Environment summary**
azure-cli version 2.11.1

---
#### Document Details

⚠ *Do not edit this sec

[2020-09-11 19:25] akshat-harit commented on #14116
@Juliehzl  Sorry somehow missed this in my email.
Can you tell me how you reproduced this?

[2020-09-11 19:36] akharit commented on #10118
Please close this if there aren't any other asks. This seems to be a user error i.e. trying to use adls gen1 commands for adls gen2 account.

[2020-09-11 19:36] #10118 closed

[2020-09-11 21:55] opticyclic opened #15137 "Provide An Example For az apim api import"
If I want to import a swagger file into the API Management with terraform I can do it like this:
https://www.terraform.io/docs/providers/azurerm/r/api_management_api.html

[code]

I can't work out how to do this from the documentation using the az cli.

I'm not even sure if this section is doing the same thing as this.

The page says "Import an API Management service instance."

What is a "service

[2020-09-11 22:48] sebansal commented on #10276
Adding @rashmi-jha @RandalliLama

[2020-09-11 23:29] yungezz commented on #15133
thanks for reporting. hi @fengzhou-msft could you pls have a look?

[2020-09-11 23:30] yungezz commented on #15137
routing to appropriate team

[2020-09-12 00:33] grace-liang opened #15138 "Add GalleryImageDefinitionFeature to the SIG image definition object"
**Resource Provider**

Azure.Compute

**Description of Feature or Work Requested**

Add an array of GalleryImageFeature objects named "features" under the image definition object in Shared Image Gallery. The array is not updatable after creation.

Image definition CLI docs: https://docs.microsoft.com/en-us/cli/azure/sig/image-definition?view=azure-cli-latest

Example usage:
`az sig image-definitio

[2020-09-12 04:50] yonzhan commented on #15134
add to S176

[2020-09-12 04:54] yonzhan commented on #15135
add to S176

[2020-09-12 04:57] yonzhan commented on #15136
add to S176

[2020-09-12 08:14] akishaha opened #15139 "Error while running az interactive on mac in Terminal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-09-12 09:23] fengzhou-msft commented on #15138
@qwordy please take a look.

[2020-09-12 14:19] yonzhan commented on #15139
interactive

[2020-09-13 16:24] fengzhou-msft commented on #13930
@wasker `az upgrade` is not supported in Cloud Shell as you cannot gain sudo permission. Cloud Shell incorporates new versions of azure-cli when building, usually we're in sync for the 3-week release cadence.

[2020-09-13 17:51] Phenix51 opened #15141 "Creating PoshBot Powershell-Based Azure function."
I'm following the guide from LAzy Admin "SETTING UP POSHBOT FOR MICROSOFT TEAMS"
https://www.thelazyadministrator.com/2019/08/19/chatops-setting-up-poshbot-for-microsoft-teams/

The guide does state that we may no longer need to worry about using v1 functions in the future, but I am not certain if this is the reason for this error.

### **This is autogenerated. Please review and update as needed.*

[2020-09-13 18:47] andreacassioli opened #15142 "Azure CLI error updating servicebus queue seems wrong"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az servicebus queue update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az servicebus queue update --namespace-name {} -n {} -g {} --lock-duration {}`

## Expected Behavior

[2020-09-13 22:11] DAD713 commented on #15133
FYI: Having the same issue

[2020-09-14 00:50] yonzhan commented on #15141
functionapp

[2020-09-14 00:51] yonzhan commented on #15142
servicebus

[2020-09-14 01:45] Juliehzl commented on #15025
Hi the provided solution for `--account-key`... is work-around.
And the fix is already merged. You could try with edge build installed now.
See here for more information https://github.com/Azure/azure-cli#edge-builds.

[2020-09-14 01:46] #12653 closed

[2020-09-14 01:47] #14684 closed

[2020-09-14 02:20] snowlatern opened #15143 "Cannot add the member of the secrets list for VMSS"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vmss update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vmss update -g {} -n {} --add {} {} {}`

## Expected Behavior

## Envi

[2020-09-14 02:22] yungezz commented on #15142
cc @houk-ms

[2020-09-14 02:23] yungezz commented on #15141
hi @Phenix51 could you pls run `az login` to workaround the issue? This is a known cloud shell issue #11749 .  Add Cloud Shell label to route to appropriate team.

[2020-09-14 02:26] yungezz commented on #15143
another case of NoneType

[2020-09-14 02:58] yungezz opened #15144 "[Keyvault] using absolute path instead of relative path when importing"
**Describe the bug**

Keyvault.

Today in code it's relative path instead of absolute path when importing, this will cause issue when pacakge changes to Pyinstaller.

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-09-14 02:59] yungezz commented on #15144
cc @arrownj , this will be a cross-commands effort not only for keyvault. @arrownj  pls help to define a plan to drive it. thanks.

[2020-09-14 03:24] #14527 closed

[2020-09-14 03:37] jiasli commented on #15144
FYI, [PEP 8](https://www.python.org/dev/peps/pep-0008/#imports) states:

[2020-09-14 03:56] #14794 closed

[2020-09-14 03:58] fengzhou-msft commented on #14794
Close due to inactivity. Please feel free to open new issues if the latest version of Azure CLI still does not work for you.

[2020-09-14 03:59] fengzhou-msft commented on #14800
Close duplicate issue.

[2020-09-14 03:59] #14800 closed

[2020-09-14 04:39] #14526 closed

[2020-09-14 04:46] yungezz commented on #14129
hi @prakashb83 could you pls share azure cli commands you're using if you met same issue when using cli? thanks.

[2020-09-14 04:48] yungezz commented on #14275
thanks @mateustanaka for the update. Will close the issue for now,  pls feel free to create new issue if any other error. thanks.

[2020-09-14 04:48] #14275 closed

[2020-09-14 04:55] yungezz commented on #14524
hi @viniciusbuscacio does installing latest version resolved your issue?

[2020-09-14 04:57] yungezz commented on #14560
hi @qwordy so this is by design? can we close the issue then?

[2020-09-14 05:07] #14013 closed

[2020-09-14 05:12] qwordy commented on #14539
Any idea about command name of this API?
`az vm boot-diagnostics retrive-data`?
[code]

[2020-09-14 06:05] #13930 closed

[2020-09-14 07:09] qwordy commented on #14560
We have fixed this issue. We will always create snapshot in same location with disk.

[2020-09-14 07:09] #14560 closed

[2020-09-14 08:42] bim-msft commented on #14941
@A30004028 @jim-minter @Makdaam It's a keyvault authentication bug involved in version 2.11.0, please downgrade your CLI to 2.10.1 and lock the version temporarily. We are fixing this, sorry for the inconvenience.

[2020-09-14 09:28] #14691 closed

[2020-09-14 09:36] #15143 closed

[2020-09-14 09:37] snowlatern commented on #15143
It's a mistake on the format of the property for the parameter --add.

[2020-09-14 11:10] sandeepmindwave commented on #14207
@ thanks for replay , i am facing new issue, this command working` **--commit-trigger-enabled false --base-image-trigger-enabled true**` but auto trigger is not working while i get new commit tasker is not running

[2020-09-14 12:23] code-to-joy commented on #15113
I'm getting an identical stack and error when running "query" in the "costmanagement" extension. (Yes I know it's not supported)

[2020-09-14 12:41] Phenix51 commented on #15141
Thanks for your responses, I found updated information from another source that showed that I needed to be in function v3. I was abole to push forward with this project.

[2020-09-14 12:41] #15141 closed

[2020-09-14 12:50] fengzhou-msft commented on #15133
`az --version` checks for all updates of `azure-cli` related packages while `az upgrade` only updates when `azure-cli` has new versions. Normally, all related packages are released together. We had some issue with the pypi package of telemetry and had to release a new pypi version for it. The telemetry inside MSI/deb/RPM is not impacted and we did not release a new version for them. That's why you

[2020-09-14 14:39] librucha opened #15154 "Azure CLI from Azure functions"
**Describe the bug**
I need use `az` commands from azure function because some Powershell comamnds doesn't work.

**To Reproduce**
Create azure function with `az -h` command or else az command

**Expected behavior**
show help for az cli
**Environment summary**
Azure functions on runtime 2.0.14248.0

[2020-09-14 17:47] jamesthurley commented on #5657
For future people trying this, for `pip install azure-cli` to succeed you'll also need to have done `sudo apt-get install` for `gcc`, `python3-dev` and `libffi-dev`.

[2020-09-14 20:02] sebansal commented on #10276
CT is supported.  CT will be on by default in any certs issued by OneCert.

[2020-09-14 20:02] #10276 closed

[2020-09-14 20:48] apawast commented on #15041
@gzuber could you please take a look at this?

[2020-09-14 20:51] apawast commented on #15066
@lrbuermann are you still experiencing this issue?

[2020-09-14 20:54] apawast commented on #15087
@panchagnula could you please take a look at this?

[2020-09-14 21:43] panchagnula commented on #15087
@apawast is this specific to functionapp? I also recommend to update to the latest update since functionapp identity was recently updated during this release https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md#appservice

[2020-09-14 22:10] avanigupta commented on #14809
Hi @ashinzekene, it looks like the user or service principal logged in to Azure CLI does not have permission to create this role assignment. Please make sure you are using the same credentials on EV2 which were working for you on non-EV2.
Could you please run `az account show` to make sure you are logged in with the right credentials?

[2020-09-14 23:16] yonzhan commented on #15154
functionapp

[2020-09-14 23:56] hivyas commented on #14687
Hi there, thanks for reporting this. I have opened bug 8272644 on our team and we will be fixing this very shortly. Thank you!

[2020-09-15 00:32] #13837 closed

[2020-09-15 01:34] colemickens opened #15158 "Azure VM Creation Failure needs better errors - "Resource state cancelled" ???"
**Describe the bug**

`$ az vm create --name nix-shell --resource-group nix-shell --size Standard_D2s_v3 --image /subscriptions/aff271ee-e9be-4441-b9bb-42f5af4cbaeb/resourceGroups/defaultaz1/providers/Microsoft.Compute/images/20.09.20200911.895cd45.vhd --admin-username azurenix-shell --location westus2 --ssh-key-values 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDs+BX6TVt3QYjZFfiCQmLLq7HE9EtonzoIWxxOIB

[2020-09-15 01:35] #15158 closed

[2020-09-15 01:36] colemickens commented on #15158
Looks like the deployment was indeed canceled, so I guess 200 Canceled makes sense.

[2020-09-15 02:23] alexpilon666 opened #15159 "Can't disable WAF Policy managed rules without knowing group rules"
**Is your feature request related to a problem? Please describe.**
When using the `az network application-gateway waf-policy managed-rule rule-set update` command, it requires the use of `--group-name`, even if we only want to disable a single rule, or even multiple rules in multiple rule groups.
This makes scripting a huge issue to maintain, because every script needs to basically have a full tab

[2020-09-15 04:19] fengzhou-msft commented on #15159
@haroldrandom please take a look.

[2020-09-15 04:34] fengzhou-msft commented on #15074
@bim-msft can you help evaluate the impact to key vault if we bump up cryptography to 3.0+ ?

[2020-09-15 04:38] #14811 closed

[2020-09-15 05:38] pratibhashenoy opened #15163 "The parameter "--public-ip-address" is deprecated, please update the document."
The parameter "--public-ip-address" is deprecated, please update the document.
Reference: https://github.com/Azure/azure-cli/commit/23e60faab3cb41b358ffc645688798402fef9ac7
https://github.com/Azure/azure-cli/pull/14098

Run the command - "az network application-gateway frontend-ip update --help" we do not see parameter "--public-ip-address".

---
#### Document Details

⚠ *Do not edit this section.

[2020-09-15 06:37] #14552 closed

[2020-09-15 07:28] davidpoltorak commented on #15060
Many thanks, and apologies for the delay in responding. I'm running a deployment later and will try this version. Thanks

[2020-09-15 07:35] bim-msft commented on #15074
@fengzhou-msft Sure will do. Please do not bump up the version for now.

[2020-09-15 07:38] bim-msft commented on #14129
Hi @prakashb83 please try upgrade your CLI to latest (2.11.0 or later). It might work. If it still doesn't work, please let me know, thanks!

[2020-09-15 07:44] bim-msft commented on #14753
PR merged.

[2020-09-15 07:44] #14753 closed

[2020-09-15 07:46] jkvbe commented on #14941
There is the same bug in blob storage. I found the following instances:

`az storage blob list`
`az storage blob show`

upload, download, snapshot,... work fine.

[2020-09-15 07:50] bim-msft commented on #14927
@abrignola Hi, to let you quickly unblocked: do not specify `--enable-soft-delete=true`, the default value is `true`.

[2020-09-15 08:01] #14192 closed

[2020-09-15 08:08] bim-msft commented on #14941
Adding @Juliehzl for storage commands.

[2020-09-15 08:13] bim-msft commented on #14658
PR merged.

[2020-09-15 08:13] #14658 closed

[2020-09-15 08:14] bim-msft commented on #14630
Closing this one due to long-time inactivity.

[2020-09-15 08:14] #14630 closed

[2020-09-15 08:14] jkvbe commented on #14941
Note that with CLI version 2.10.1 _az storage blob list_ works, but _az storage blob show_ doesn't.

[2020-09-15 08:33] Juliehzl commented on #14796
I think we lose it now.
To contribute the code, you could just build your developer environment and write code according to https://github.com/Azure/azure-cli#developer-setup

[2020-09-15 08:41] ashinzekene commented on #14809
Thanks

[2020-09-15 09:03] subhasishdc commented on #15163
Deprecated commands in the CLI are not labelled accordingly in the doc. This issue has been brought up in other issues before too. I think the cli team is working with the docs team on this. @MyronFanQiu  and @haroldrandom can throw some more light on that.

Similar issues to this one: https://github.com/Azure/azure-cli/issues/12794, https://github.com/Azure/azure-cli/issues/12549

[2020-09-15 09:27] bauca opened #15167 "Webapp:Pipeline fails with an unexpected error ['int' object is not iterable]"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config appsettings set -n $Env:WebAppName -g $Env:ResourceGroup --settings "InstrumentationEngine_EXTENSION_VERSION=~1" "XDT_MicrosoftApplicationInsights_BaseExtensions=~1"`

**Errors:**
The command failed with an unexpected error. Here is the traceback:

**'int' object is not itera

[2020-09-15 11:10] puagarwa commented on #13752
@bim-msft Is there any ETA for this fix ? I am also facing this issue in my CMK code where i create key vault and then add ACL for CMK to work but once we deploy template again, things break because it altogether remove access policy. I have to everything via ARM here.

[2020-09-15 12:43] timvanderweijde commented on #15011
Any update on this?

[2020-09-15 12:46] #14539 closed

[2020-09-15 14:04] hobothulhu commented on #14841
@avirishuv Have there been any findings?

[2020-09-15 15:45] Aaronmcd1978 commented on #11261
Hi I am trying to do a zip deployment from my download folder in CLI and i get the following error
Zip deployment failed. {'id': '206d94e91e7049a48748061a41de549c', 'status': 3, 'status_text': '', 'author_email': 'N/A', 'author': 'N/A', 'deployer': 'ZipDeploy', 'message': 'Created via a push deployment', 'progress': '', 'received_time': '2020-09-15T15:43:58.1498639Z', 'start_time': '2020-09-15T15:

[2020-09-15 16:57] yonzhan commented on #15163
add to S176

[2020-09-15 16:59] yonzhan commented on #15167
webapp

[2020-09-15 17:21] #14917 closed

[2020-09-15 17:33] gzuber commented on #15041
Hi @LLautt! Are you still experiencing this issue on more recent versions of the cli? It says here you're using 2.0.80, but I don't believe support was added for Powershell 7.0 until ~2.7.0

[2020-09-15 17:56] codeayra commented on #12722
@bim-msft now there is no option to disable soft-delete in key vault. so any solution to avoid sleep in the code/script?

[2020-09-15 18:39] divyagandhisethi opened #15171 "az resource show does not populate linuxfxversion in function apps"
**Describe the bug**
This issue was found in https://github.com/Azure/azure-functions-nodejs-worker/issues/283#issuecomment-692506951 . Linux function apps use linuxfxversion to specify what language version the app is running on. The issue is that linuxfxversion does not get populated in 'az resource show', although it is set in backend.

[2020-09-15 18:50] mhoeger opened #15172 "Unable to deploy Linux Function App"
Cannot deploy a function app using the az CLI (command: az functionapp deployment source config-zip  -g test  -n mahoeger-linux --src ./helloworld.zip).

The deployment fails with 2.7.0 and 2.11.1, but is ok with 2.0.77. I am running on a Mac, using az CLI 2.11.1 and deploying to Linux Consumption function apps that are already deployed (both v2 and v3 sites).

[code]

[2020-09-15 20:31] mateustanaka commented on #15110
@yugangw-msft We are facing the same instability issue a few days already to perform `az acr helm push` even with --force and retries when failing. I know that as of Helm 3, az acr helm commands for use with the Helm 2 client are being deprecated, but this could not impact current projects that are using helm 2. CC @brunooliveiramac

[2020-09-15 21:56] yiyiguo commented on #14626
@Azure/azure-iot-cli-triage

[2020-09-15 21:58] yiyiguo commented on #14377
@Azure/azure-iot-cli-triage

[2020-09-15 21:59] mattduguid commented on #12748
Similar issue, is random though, some runs works fine, some runs get this error, not changing anything in the pipeline

##[error]Error: An unexpected error occurred while trying to push the package. Exit code(17) and error({"@t":"2020-09-15T21:50:57.0002997Z","@m":"Ignoring --cache-directory because the cache is not yet supported on OS \"Linux 5.4.0-1025-azure #25~18.04.1-Ubuntu SMP Sat Sep 5 15:2

[2020-09-15 22:25] yiyiguo commented on #13755
@Azure/azure-iot-cli-triage

[2020-09-15 22:27] yiyiguo commented on #13729
@Azure/azure-iot-cli-triage

[2020-09-15 22:29] yiyiguo commented on #13098
@Azure/azure-iot-cli-triage

[2020-09-15 22:29] yiyiguo commented on #13203
@Azure/azure-iot-cli-triage

[2020-09-15 22:32] prbans commented on #13203
Have you installed the `az iot` cli extension? It's not part of the base azure cli

https://docs.microsoft.com/en-us/azure/iot-central/core/howto-manage-iot-central-from-cli#install-the-extension

[2020-09-15 22:32] jikuma commented on #15110
Here is how force option works. First 'helm push' sends uploadChartPackage request as PATCH call. If the chart already exists, its not a problem and this issue will not happen. Chart will be pushed and we are done.

Now if the chart does not exists it will return 404 error, which is as expected. Then cli makes PUT call, PUT call can be only made for chats which does not exists. Cli assumes that si

[2020-09-15 22:34] prbans commented on #13755
There is currently an open issue in cloudshell that manifests this error. The solution is to [re]run az login and then execute the original command.

Linking to the running issue thread Azure/azure-cli#11749

[2020-09-15 22:47] juhacket commented on #15121
@gbrault @clook @elagree This issue has been resolved.

[2020-09-15 22:59] digimaun commented on #14377
Sorry you've run into issues with the input format using update, we fully acknowledge your feedback.

Actually usage of `--set` for `az iot hub device-twin update` is now deprecated. You will want to use the `--desired` or `--tags` arguments. There are some examples available in the [IoT extension reference](https://docs.microsoft.com/en-us/cli/azure/ext/azure-iot/iot/hub/device-twin?view=azure-cl

[2020-09-15 22:59] #14377 closed

[2020-09-15 23:05] digimaun commented on #13755
Closed as the root cause is the known CloudShell issue @prbans mentioned.

[2020-09-15 23:05] #13755 closed

[2020-09-15 23:20] digimaun commented on #13203
Closed as @prbans stated the resolution of first having the IoT extension installed as a pre-requisite.

[2020-09-15 23:24] irenehua opened #15175 "LoadBalancerBackendAddress cannot be deleted using "az network lb address-pool address remove""
**Describe the bug**
User cannot delete loadBalancerBackendAddresses using the following command: **az network lb address-pool address remove --lb-name "myLoadBalancer" --resource-group "myResourceGroupLB" --pool-name "myBackendPool" --name "myResourceGroupLB_myvm1302ipconfig1"**

An error shows up stating that this operation cannot be completed:
![image](https://user-images.githubusercontent.com/

[2020-09-15 23:26] irenehua commented on #15175
Adding @MyronFanQiu to help

[2020-09-15 23:48] c-ryan-k commented on #14626
Hey @navidarry - I couldn't manage to repro this in a fresh local redhat distro (granted, running under WSL) with the following versions:
[code]

There are - however - newer versions of both the core CLI [`2.11.1`] and the azure-iot extension [`0.9.9`].
Can you please try updating these and trying the `az iot hub list` command again?

If the issue persists, please re-open this issue - and if you d

[2020-09-15 23:50] #14626 closed

[2020-09-16 00:14] seanknox opened #15176 ""az functionapp create --app-insights" doesn't link Application Insights"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Attempting to create a new functionapp and link to an existing Application Insights instance. The key appears to be saved but `--app-insights` doesn't seem to do anything.

**Command Name**
`az functionapp create -g MyGroup -n MyFunctionApp --disable-app-insights false --app-insights em --app-insights-key $APP

[2020-09-16 00:17] seanknox commented on #15176
I tried providing a fake app-insights name and the CLI didn't process it as an error. Maybe I'm misunderstanding what `--app-insights` does?

`az functionapp create -g MyGroup -n MyFunctionApp --disable-app-insights false --app-insights totally-fake-name-doesnt-exist ...`

[2020-09-16 01:13] #14020 closed

[2020-09-16 02:17] nkorojoseph opened #15178 "--diskId deprecated"
[Enter feedback shere]
--disk deprecated error while trying to attach a disk.
--name worked fine

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbc06453-93e1-e616-9649-c1487c605a65
* Version Independent ID: 76d52328-613f-bd5f-7daf-f62841300e2b
* Content: [az vm disk](https://docs.microsoft.com/en-us/cli/azure/vm/disk?v

[2020-09-16 03:08] jiasli opened #15179 "{Core} AdalAuthentication doesn't honor `scopes` for Track 2 SDK"
**Describe the bug**

In Track 2 SDK, `scopes` (`resource`) is managed by SDK, instead of Azure CLI. For example, in [`AzureAppConfigurationClient`](https://github.com/Azure/azure-sdk-for-python/blob/022bc80f2bc645d8d82d647620376fcea2229522/sdk/appconfiguration/azure-appconfiguration/azure/appconfiguration/_azure_appconfiguration_client.py#L128):

[code]

But in `get_token`, `scopes` is not honore

[2020-09-16 03:11] yonzhan commented on #15179
Core

[2020-09-16 03:32] #14830 closed

[2020-09-16 03:40] clook commented on #15121
LGTM for the cert chain :) Many thanks for the reactivity @juhacket!

@gbrault Could you confirm it is OK on your side (still not sure if we are relating about the same issue)?

[2020-09-16 04:31] djaus2 commented on #13203
Yes I had the extensions installed.

[2020-09-16 04:32] djaus2 commented on #13203
I did have the extensions installed.

David Jones MVP

________________________________
From: Paymaun <notifications@github.com>
Sent: Wednesday, September 16, 2020 9:21:10 AM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: David Jones (MVP) <davidjones@sportronics.com.au>; Author <author@noreply.github.com>
Subject: Re: [Azure/azure-cli] No az iot central and no az iot central commands (#1

[2020-09-16 04:35] djaus2 commented on #13098
Please don't close this until it is resolved. Seems bots are closing a few of these unresolved issues saying they have been orphaned.

[2020-09-16 04:36] haroldrandom commented on #15011
@timvanderweijde Sorry for the late reply. I asked round my teammates, we considering it might be a bug the service or some potential permission problem.

I will mark this as "Service Attention", add @bim-msft might help.

Also, you could contact Azure Support to check detail about your operation.

[2020-09-16 04:36] yonzhan commented on #15171
add to S176

[2020-09-16 04:40] yonzhan commented on #15172
functionapp

[2020-09-16 04:46] yonzhan commented on #15175
add to S176

[2020-09-16 04:49] yonzhan commented on #5338
Service Fabric

[2020-09-16 04:51] yonzhan commented on #15176
functionapp

[2020-09-16 05:12] #11106 closed

[2020-09-16 06:35] qwordy commented on #14106
If "provisioningState" is "Deleting" forever, it seems a service problem.

[2020-09-16 07:01] #14795 closed

[2020-09-16 07:17] qwordy opened #15183 "Hang forever in Powershell ISE"
**Describe the bug**

A customer runs `az vm create -g rg -n vm1 --image Win2016DataCenter --admin-username azurename` in Powershell ISE and he can never get a prompt to input password. It hangs forever. I reproduce this bug in my machine.

Correct result:
![image](https://user-images.githubusercontent.com/5019528/93304388-882ca500-f82f-11ea-9702-5ebbdaa040c0.png)

I read the code. It calls `promp

[2020-09-16 07:22] gbrault commented on #15121
Yes, I can now attach to the running container. Thx for the fix. I don't know if it was the same issue than yours @clook, but the correction solved mine!

I have now some other issues now as I can use the terminal in my container. It is however another issue, I will open another ticket.
I use the jupyter/scipy image (with some slight modifications)
I am using chrome and entering my container with:

[2020-09-16 07:28] yungezz commented on #15178
hi @qwordy could you pls help to check if the deprecation from service side or from client side? thanks.

[2020-09-16 07:29] qwordy commented on #15178
Can you describe it with more details? The information is not complete.

[2020-09-16 07:43] yonzhan commented on #15183
Hang forever

[2020-09-16 07:49] yungezz commented on #14924
currently PR in CLI side, while blocked by a VMSS service issue. When service deployment done, will merge CLI side change.

[2020-09-16 08:12] AjayKce commented on #6913
You are using saml federated authentication , In which your organization create a saml assertion and this assertion is encoded and post via https://login.onmicrosoft.com . After the assertion is verified and create a trust relation between your organisation where it process the flow token to kmsi endpoint.

May be your issue is solved by connecting azure aad from your organization to azure portal

[2020-09-16 08:15] jiasli commented on #15183
This is an issue with [`msvcrt`](https://docs.python.org/3.8/library/msvcrt.html) and Windows PowerShell ISE.

Knack uses `getpass.getpass`:

https://github.com/microsoft/knack/blob/cf628bf3930c622f16d6eb31b275f0ec81ca4174/knack/prompting.py#L60

[code]

And `getpass.getpass` uses `msvcrt.getwch`:

https://github.com/python/cpython/blob/929112ef81ccef20d3aef25c8a1142059ee941da/Lib/getpass.py#L103

[2020-09-16 08:45] jiasli commented on #15183
Reproduced directly by calling [`_getwch`](https://docs.microsoft.com/en-us/cpp/c-runtime-library/reference/getch-getwch?view=vs-2019):

[code]

![image](https://user-images.githubusercontent.com/4003950/93313680-5c172100-f83b-11ea-8eba-9c9d213856d3.png)

[2020-09-16 08:47] #15183 closed

[2020-09-16 08:50] haymansfield commented on #9423
While the document referenced is useful, it should be pointed out the formats have a lot of differences.

[2020-09-16 09:48] enema17484 opened #15186 "Az APIM backup fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim backup`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim backup --backup-name {} --name {} --resource-group {} --storage-a

[2020-09-16 09:56] Juliehzl commented on #14941
Fixed in https://github.com/Azure/azure-cli/pull/15118

[2020-09-16 09:57] yonzhan commented on #15186
apim

[2020-09-16 09:57] Juliehzl commented on #14941
please try with edge build https://github.com/Azure/azure-cli#edge-builds now and official release will be available on 9/22

[2020-09-16 09:58] Juliehzl commented on #15113
fixed on https://github.com/Azure/azure-cli/pull/15118
please try with edge build https://github.com/Azure/azure-cli#edge-builds now and official release will be available on 9/22

[2020-09-16 10:47] Phydeauxman commented on #14963
This is also an issue when setting the environment variable ARM_CLOUD_METADATA_URL to the new discovery endpoint in air gapped clouds to get AZ CLI to use the discovered environment versus the explicit environment definition.

[2020-09-16 13:08] stazz commented on #14941
For those still waiting for fix, the workaround for _az storage blob show_ is to downgrade to `2.2.0` (I admit I didn't try _all_ versions between current newest and 2.2.0, but 2.2.0 worked).

[2020-09-16 14:06] mateustanaka commented on #15110
@jikuma Thanks for your explanation. Do you know if this latency issue in west Europe has been resolved? Today we started facing timeout errors to push helm charts to our ACR and just worked after some retries.

`HTTPSConnectionPool(host='xxxxxx.azurecr.io', port=443): Read timed out. (read timeout=300)`

[2020-09-16 15:44] Bunzab commented on #14142
Is there an ETA for this being released in the CLI?

[2020-09-16 16:14] tdevopsottawa opened #15188 "Service principal role assignment fails with "can't find" error"
**Describe the bug**
When attempting to assign permissions to my AKS service principal, it fails with "Cannot find user or service principal in graph database for 'msi'. If the assignee is an appId, make sure the corresponding service principal is created with 'az ad sp create --id msi'" - even though I have confirmed that this is the correct service principal ID.

**To Reproduce**
Run the followi

[2020-09-16 16:50] digimaun commented on #13203
@djaus2 Are you still experiencing this issue? Something to point out (as a double check) is the IoT extension is called `azure-iot`. The legacy IoT extension `azure-cli-iot-ext` has been deprecated for awhile and should no longer be used. It's scheduled for deletion.

[2020-09-16 16:57] digimaun commented on #13203
These are the docs for the PnP commands (which are entirely in the IoT extension) https://docs.microsoft.com/en-us/cli/azure/ext/azure-iot/iot/central?view=azure-cli-latest and these are the docs for the central commands in the extension https://docs.microsoft.com/en-us/cli/azure/ext/azure-iot/iot/central?view=azure-cli-latest. Note you do not need the IoT extension for the basic central app manag

[2020-09-16 17:09] clook commented on #15121
@gbrault Coukd you check with a 80 colums terminal if it helps for display?

[2020-09-16 17:14] gbrault commented on #15121
@clook can you guide me to do that? Wher is that option?

[2020-09-16 17:27] gbrault commented on #15121
@clook I am using https://shell.azure.com/ the built-in azure terminal. I don't see such kind of option. I am using the bash option (as my target is a linux container). I don't know how to make progress there. For me, the bugs I have is linked to the cloud shell implementation which is not behaving properly or some middleware failing. I have other environments where I can use terminal feature work

[2020-09-16 17:31] clook commented on #15121
Ok, I thought about a terminal on your workstation configured with `az login`

[2020-09-16 17:50] #15188 closed

[2020-09-16 18:59] c-ryan-k commented on #13098
@cocowalla - just ran through this scenario, and @djaus2 is correct, the `generate-verification-code` function (and service call) returns the cert with a new etag along with the verification code. Because the verification code is stored in the properties of the backing certificate object, the etag will have changed since the initial show step, as both the `verificationCode` and `updated` time stam

[2020-09-16 19:07] c-ryan-k commented on #13098
To clarify the verification process of commands (assuming all have `--dps-name {dps} -g {resource_group}`):

1.  `az iot dps certificate create  -p "path\to\cert" -n {cert_name}`
         - This uploads the certificate to the DPS instance, and returns `{..."etag": "etag1"}`
2.  [optional] `az iot dps certificate show -n {cert_name}`
         - This returns `{..."etag": "etag1"}`
3. `az iot dps cer

[2020-09-16 19:13] michaelschmit commented on #15175
I'm essentially running into the same thing trying to add and remove ips from the backend pool.  However, my error doesn't state that the feature is in preview:

`az network lb address-pool: 'address' is not in the 'az network lb address-pool' command group. See 'az network lb address-pool --help'. If the command is from an extension, please make sure the corresponding extension is installed. To l

[2020-09-16 20:13] shuruev commented on #12710
Having the same issue.
Also found this SO question which describes similar situation: https://stackoverflow.com/questions/60770160/azure-function-deployment-failed-with-azure-cli-2-2-0-updates-in-azure-pipeline

[2020-09-16 20:16] shuruev commented on #13655
Having the same issue, started being worse recently. Not sure what it really depends on.

[2020-09-16 23:17] Drewm3 commented on #14106
@amjads1, could you please look into this issue.

[2020-09-16 23:37] v-Ajnava commented on #11213
@ablyler sorry for late response, --zone-redundant property is added to az eventhubs namespace create command. please use the latest release.

I am closing the issue, if you have any question please feel to open this one or new issue. Thanks !

[2020-09-16 23:37] #11213 closed

[2020-09-17 01:38] johanburati opened #15189 "Option to use managed storage account with boot diagnostics"
It seems it is possible to use managed storage account with boot diagnostics from the portal now:

![image](https://user-images.githubusercontent.com/106444/93409420-d1cdcc00-f8d1-11ea-8257-8ce559e44547.png)

However I cannot find the corresponding option with the latest version of azure-cli (version 2.11.1).

Please let us know when this option will be available.

[2020-09-17 02:13] qwordy commented on #15183
Open an issue in PowerShell repository.

[2020-09-17 02:57] yungezz commented on #15189
hi @qwordy could you pls share release plan and how to do it in new release? thanks.

[2020-09-17 03:15] bim-msft commented on #15011
Hi @timvanderweijde I saw your steps:
[code]

Could you try directly paste the value of the principal id and do not use the shell variable? It might work, but not sure. Anyway, it worth a try. :-)

[2020-09-17 03:16] bim-msft commented on #15011
@timvanderweijde
Also please provide the result of your `az keyvault show`, I'd like to know what `accessPolicies` part looks like. Thanks!

[2020-09-17 03:44] #14132 closed

[2020-09-17 03:58] haroldrandom commented on #14674
I believe the correct usage format is
`az network application-gateway http-listener update -g harold --gateway appgw1 -n appGatewayHttpListener --host-names www.example.com www.example2.com`

It's supposed to be `Space-separated list of host names that allows special wildcard characters as well `. We will update it for clearness.

[2020-09-17 04:10] bim-msft commented on #14396
Hi @magnus-longva-bouvet Could you please try the latest CLI 2.11.1 to verify if it works? I cannot reproduce this using the latest version. Thanks.

[2020-09-17 04:12] bim-msft commented on #10877
PR for Ignite has been merged. Closing this one.

[2020-09-17 04:12] #10877 closed

[2020-09-17 04:16] saipraveen-a commented on #11089
I am using CLI version 2.11.1 and still facing the same issue

[2020-09-17 04:17] igniterwick opened #15193 "Replace internal/backend QuickPrint subsystem with displacing automation"
**Is your feature request related to a problem? Please describe.**
Currently using AZ-CLI to, for example, delete a resource group with even just a simple application gateway in it can take up to 584.816 seconds.  This solution would speed it up to *sub-second* response time.

**Describe the solution you'd like**
Replacing the Quickprint System with an automation would solve this:  When provisioni

[2020-09-17 04:25] saipraveen-a opened #15194 "Webapp:az webapp up failing with error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up -n {}`

## Expected Behavior

## Environment Summary
[code]
##

[2020-09-17 04:25] #14674 closed

[2020-09-17 05:03] haroldrandom commented on #15010
Based on the error output, I think the service protect deletion from this situation while there is nested resource linked to it.

And, the docs says:

Could you please check whether there are some resources linked to it and remove them first?

If you insist that the nested resource should be deleted automatically, I will mark this issue as _Service Attention_ to leit service guy help.

[2020-09-17 05:09] yungezz commented on #14129
hi @prakashb83 will close the issue for now given less information for investigation. and issue is tracked at sdk side. Feel free to create new issue if any other ask. thanks!

[2020-09-17 05:09] #14129 closed

[2020-09-17 05:48] erichrt commented on #14167
Hi @MyronFanQiu this is not a service limitation. You can confirm this by doing the above steps in the Portal and it works as expected

[2020-09-17 07:24] jiasli opened #15196 "[Role] az role assignment list --subscription fails for subscription"
**Describe the bug**
`az role assignment list --subscription` fails for subscription which is not under the current tenant (shown in `az account show`).

The

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-09-17 08:38] yonzhan commented on #15194
webapp

[2020-09-17 08:40] yonzhan commented on #15196
add to S176

[2020-09-17 09:04] Kotasudhakarreddy commented on #9324
@JKamsker we are unable to repro the issue in latest CLI version (2.11.1) . could you please try with the latest CLI version and let us know if you still face the issue.

[2020-09-17 09:06] haroldrandom commented on #15012
@baartch , I could reproduce your problem. And afert debugging, I found we did pass the SOA entity in correct format and correct value, but what server response is incorrect, especially the serial number.

I will found service team to help you here.

[2020-09-17 09:07] arthfl commented on #13655
We found btw. out that (at least for our simple use-case), the app deployment works perfectly fine when you use `az webapp` instead of `az functionapp`.
This makes this whole issue a bit weirder, but maybe this is helping somebody ;-)

[2020-09-17 10:18] yonzhan commented on #15193
@jiasli  please help with this.

[2020-09-17 10:37] kmadof opened #15198 "Webapp:Cannot add the same webapp restriction rule to scm site when rules is already in the main site"
**Describe the bug**
When I add rule to the main site and then try to add rule to scm site with the same ip address I got this error:

However, when I first add tule to scm site and then to main site all is fine.

**To Reproduce**

Run command in this order:
[code]
**Expected behavior**
I know I can use `az webapp config access-restriction set --use-same-restrictions-for-scm-site ` but this behavi

[2020-09-17 12:09] yonzhan commented on #15198
webapp

[2020-09-17 15:00] timvanderweijde commented on #15011
Hi @bim-msft, is there a way to share this information on a secure way?

[2020-09-17 15:38] achandmsft commented on #15193
Thanks for your feedback.

If your issue is specifically regarding performance of resource group deletion in Azure CLI, we have an option called `--no-wait` to make the command asynchronous and unblock you. For example, when you run ...
[code]
the command won't block and will return immediately.

That said, Azure CLI is just a client tool calling into Azure services. So performance of commands lik

[2020-09-17 15:38] #15193 closed

[2020-09-17 17:18] amjads1 commented on #14106
Looking into the issue.

[2020-09-17 18:17] apawast commented on #15154
@librucha when you say some Powershell commands don't work, are you using the az module in the Powershell function?

[2020-09-17 18:22] ssc327 commented on #13319
I have this same issue as well. We use MFA and if I come back after a few days to interact with my aks cluster via kubectl I get the following error
[code]
The only way to resolve it seems to be to get the aks credentials again.
Is there a way to refresh and get prompted for MFA again?

[2020-09-17 18:24] apawast commented on #15176
@seanknox --app-insights and --app-insights-key are mutually exclusive, you should only be using one or the other. If you use just --app-insights-key does it work? We can also do some work to enhance the experience and make it clear what should happen.

[2020-09-17 18:27] btardif opened #15199 "Webapp:Az webapp up fails when it's executed from a directory in the root."
## Expected behavior
- I can run az webapp up from a directoy in root as long as the directory has valid code to deploy...

## Observed behavior
- az webapp up fails when it's executed from a directory in the root.

![2020-09-17_11h18_07](https://user-images.githubusercontent.com/4119816/93511685-0a70a400-f8d8-11ea-8d11-d15a284b67c9.gif)

## Suggestions

- this scenario should work, if there a tec

[2020-09-17 18:28] caksoylar opened #15200 "[Storage] Recursive download and uploads for ADLS Gen2 folders"
**Is your feature request related to a problem? Please describe.**

There is currently no way to download or upload a directory with the `az storage fs` interface. Since ADLS Gen2 is a hierarchical system, it needs to have a way to interact with directories as a first-class citizen. [This was possible](https://github.com/Azure/azure-cli-extensions/tree/master/src/storage-preview#mapping-from-adls-

[2020-09-17 19:06] btardif opened #15201 "Webapp:deploying a .net app to a linux webapp with az-webapp-up fails"
Our defaults when creating a new .net core app should continue to target windows.

However deploying to a linux app should be supported for .net core.

![2020-09-17_12h02_27](https://user-images.githubusercontent.com/4119816/93515810-09db0c00-f8de-11ea-9afc-8ace0011876f.gif)

## command output

Webapp 'bk-linux-dotnet' already exists. The command will deploy contents to the existing app.
The webap

[2020-09-17 19:14] JacobStruiksma commented on #15198
The same Issue as #14862 But that one is not been resolve yet.

[2020-09-17 19:16] JacobStruiksma commented on #14862
I have also posted this on [stackoverflow](https://stackoverflow.com/questions/63935457/whitelist-hosted-agent-for-azure-app-service-with-azure-cli/63936048#63936048) and got as a workaround to first add the scm part of the whitelist and then to the regular site (reverse order). I have not tested this yet but if look at the code, this should be able to work.

[2020-09-17 19:41] btardif commented on #11923
Any news here @chenlomis ?

[2020-09-17 19:43] janegilring commented on #9141
@ekelmans I currently experience the same when developing an Azure Function running PowerShell 7 for exporting some files to an Azure File Share. Did you have any progress on your case?

[2020-09-17 20:31] ekelmans commented on #9141
Hi J,

No answer just yet, though the dev team said they have added it to the todo list, but gave no timeframe for a new release.

The problem with the foreach-object loop is that is is *Very* slow if  you have millions of files in thousands of folders. BUT... for now it helps to get rid of the smallest folders

Thanks fo sharing :)

[2020-09-17 20:38] kmadof commented on #14862
What is worth to add is that we can add first rule to scm site and then to main site.

[2020-09-17 20:39] janegilring commented on #9141
I see. Did you try the new -Parallel switch on Foreach-Object in PowerShell 7?

[2020-09-17 21:30] ekelmans commented on #9141
WOW.... No,

I never knew the existence of such a switch, I will give it a try, thanks again :)

[2020-09-17 21:43] btardif opened #15202 "Webapp:Improve the error message for az webapp up runtime auto detection"
There are 2 things to fix in this bug:

## Improve formating:

Notice the difference between az webapp up error message formatting and the formating for az --versions command.

1) Multiple lines instead of runoff text make it more readable.
2) links are color coded to stand out

![image](https://user-images.githubusercontent.com/4119816/93531042-73194a00-f8f3-11ea-89f7-73912b1a0f01.png)

Here is m

[2020-09-17 22:06] Mjiduser commented on #15198
Same issue here, but figured it out by adding first scm site rules  and then the main app site.

[2020-09-17 23:35] yonzhan commented on #15199
webapp

[2020-09-17 23:36] yonzhan commented on #15200
add to S176

[2020-09-17 23:38] yonzhan commented on #15201
webapp

[2020-09-17 23:40] yonzhan commented on #11923
@dbradish-microsoft may help with the latest status.

[2020-09-17 23:41] yonzhan commented on #15202
webapp

[2020-09-18 02:33] qwordy commented on #15189
This feature will be released on 9/22.
Omit `--storage` to use managed storage.
[code]
PR: https://github.com/Azure/azure-cli/pull/15145

[2020-09-18 02:33] #15189 closed

[2020-09-18 02:36] bim-msft commented on #15011
Hi @timvanderweijde send it to me via email (bim@microsoft.com), thanks!

BTW, did this way work?

[2020-09-18 02:49] #15172 closed

[2020-09-18 03:33] yungezz commented on #15194
https://github.com/Azure/azure-cli/issues/14287

[2020-09-18 03:41] haroldrandom commented on #13901
@Gitdevnttuser Is your question solved? I don't understand, did you want us to update the doc?

[2020-09-18 03:59] bim-msft commented on #9423
As @jiasli said, `az keyvault certificate get-default-policy --scaffold` will give you a rough frame to work with. Closing this issue due to long time inactivity.

[2020-09-18 03:59] #9423 closed

[2020-09-18 04:03] bim-msft commented on #12722
@codeayra Unfortunately I think there is still no way to avoid sleeping.
May I know why you need to purge it immediately? It's fine to just leave it in the "Recycle bin".

[2020-09-18 04:14] kaalkop opened #15204 "Webapp:Can't run azure cli commands because of error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp show`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-09-18 04:57] timvanderweijde commented on #15011
Goodmorning. I tried to paste the value directly, but it did not work.

I will send you the log/json of the az keyvault show.

[2020-09-18 06:35] yungezz commented on #15204
hi @kaalkop this is a known issue in version 2.0.81 https://github.com/Azure/azure-cli/issues/14011. Could you pls try install latest Azure CLI to resolve the issue? Thanks.

[2020-09-18 06:38] hg-test3 commented on #12722
I want to replace the secret, and the only option is to first delete it and then purge it and set it with new value. I do not want to make multiple version of the same secret, just want to replace it. Any other way to do it?

[2020-09-18 07:05] pmolinam commented on #12513
I am encountering this exact same issue @bpossolo when i try to deploy it via Azure Devops, with the Az Cli Task.
Any solutions there?

[2020-09-18 07:29] finesse-fingers opened #15205 "'az apim api import' doesn't take api version argument"
Really liking the az apim api, however, is there a way to set the API version?

I notice the option to specify --api-revision. Would be nice to have --api-version option as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86f27e34-66e0-1d08-f734-26ce29c56c36
* Version Independent ID: d1a421eb-807c-c0bd-cee3-a5aed73

[2020-09-18 07:31] bpossolo commented on #12513
I wrote the workaround two comments up. Use the azure functions cli tool instead.

[2020-09-18 07:32] pmolinam commented on #12513
I know, but the Azure Functions Core tools task in Azure Devops is still on preview, and i am not allowed to do it.

[2020-09-18 07:33] bpossolo commented on #12513
are you using java or python?

[2020-09-18 07:35] pmolinam commented on #12513
netcore

[2020-09-18 07:42] bpossolo commented on #12513
oh wow. It doesn’t even work for a .net app 🤦
Ummm... have you tried twiddling the —build-remote flag? It didn’t do anything for me.

The really painful workaround is to upload your zip to blob storage container then use the option to deploy from blob

[2020-09-18 07:44] pmolinam commented on #12513
Yes I did tried with the --build-remote flag, and it does not work either.

But I will give a try to that work around you mentioned there. Thanks.

[2020-09-18 08:49] pmolinam commented on #12513
It's seems that running it in a Windows host works.
Hope that's helpfull.

[2020-09-18 08:58] pmolinam commented on #15167
I'm facing this issue aswell.
Is a netcore3.1 function running on a Windows host.
The **az functionapp config appsettings set** command is running on a Ubuntu 1604 agent

Any solutions here?

[2020-09-18 09:03] DoppoM opened #15206 "az backup policy create --workload-type {} KeyError: 'AzureFileShare'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az backup policy create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az backup policy create --backup-management-type {} --name {} --

[2020-09-18 12:36] yonzhan commented on #15205
apim

[2020-09-18 12:40] yonzhan commented on #15206
backup

[2020-09-18 18:22] kwelch2015 commented on #14729
I am also seeing this issue. My password contains special characters. Uploading the same file with the same password works via the UX.

[2020-09-18 18:32] netapp-juliec opened #15209 "Creating a volume with az cli only works when subnet field is set with full resource id"
Received the following doc change request from NetApp team member (Stefan.Smarason@netapp.com) --

Microsoft documentation has to be corrected: https://docs.microsoft.com/en-us/cli/azure/netappfiles/volume?view=azure-cli-latest#az_netappfiles_volume_create
i.e.
--subnet
The ARM Id **or name** of the subnet for the vnet. If omitted 'default' will be used.
default value: default

Please remove "or n

[2020-09-18 21:13] qike-ms commented on #11984
Share some learnings:

If the value is non-string, need to use \` instead of ‘
For example: if the value is a boolean:
az account list -o json --query "[?isDefault==\`true\`].name"

You can find out if the value is string or not by observing if it's quoted.

[2020-09-19 01:02] yonzhan commented on #15209
netappfiles

[2020-09-19 01:17] ramaganesan-rg commented on #8488
Update on Powershell scripts is in work in progress. In the interim, you can use this link as the reference to REST APIs.

https://docs.microsoft.com/en-us/rest/api/consumption/budgets/createorupdate
Here is the tutorial to create Budget using ARM template deployment - https://docs.microsoft.com/en-us/azure/cost-management-billing/costs/quick-create-budget-template?tabs=CLI- https://docs.microsoft

[2020-09-19 01:17] #8488 closed

[2020-09-19 03:47] #14950 closed

[2020-09-19 03:51] #14781 closed

[2020-09-19 03:52] #14796 closed

[2020-09-19 03:52] #14850 closed

[2020-09-19 04:01] #14323 closed

[2020-09-19 04:01] #13937 closed

[2020-09-19 04:07] #14804 closed

[2020-09-19 04:13] #14760 closed

[2020-09-19 04:13] #13355 closed

[2020-09-19 04:16] #14936 closed

[2020-09-19 05:26] #15025 closed

[2020-09-19 05:32] #11558 closed

[2020-09-19 05:39] lahmhub opened #15211 "AZ CLI issue - OSError: [Errno 30] Read-only file system"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

az group list
``

The command failed with an unexpected error. Here is the traceback:

[Errno 30] Read-only file system: '/home/cloud/.azure/versionCheck.json'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 215, in invoke
    cmd_result = self.invocation.exec

[2020-09-19 06:11] yungezz commented on #15211
hi @fengzhou-msft could you pls help to look is this related to az upgrade? thanks.

[2020-09-19 08:31] yonzhan commented on #15038
@santoshpandey11 any update?

[2020-09-19 08:32] yonzhan commented on #15040
@dbradish-microsoft Could you please help with this ?

[2020-09-19 09:21] santoshpandey11 commented on #15038
pl close this tkt

On Sat, 19 Sep 2020, 6:31 pm yonzhan, <notifications@github.com> wrote:

[2020-09-19 14:56] flobeier commented on #14963
Upgrading to azure-cli-telemetry-1.0.6 fixed my issue too, azure-cli 2.11.1 now works fine for me.

[2020-09-19 15:25] fengzhou-msft commented on #15211
This is a known issue of Cloud Shell file system,  same cause as #13855

[2020-09-19 18:00] ianhelle opened #15212 "msal and msal extensions pinned to old versions"
**Describe the bug**
azure-cli-core has dependencies on msal (~= 1.0.0) and msal-extensions (0.1.3) that are incompatible with with recent versions of azure-identity (anything after 1.3.1).

azure-identity recently released support for use AzureCliCredential - pretty much the only way to obtain an AzureCredential from an existing Azure CLI logon. An AzureCredential is needed for recent versions of

[2020-09-19 22:27] shaunco commented on #11315
+1 on this request. Given that a docker push can dynamically create new repositories, creating a read or write token that has access to `company/*` would be super helpful.

[2020-09-20 00:40] yonzhan commented on #15212
add to S176

[2020-09-20 04:01] yonzhan commented on #14496
pending on service issue rollout

[2020-09-20 04:29] lahmhub commented on #15211
@fengzhou-msft  Can you advise on the solution?

[2020-09-20 05:35] aaaaasam opened #15213 "Use Azure CLI create subnet issue"
**Describe the bug**
The IPv6 subnet can be successfully created using the CLI, but it cannot be viewed and referenced by azure portal

**To Reproduce**
Can Work Code：
az network vnet subnet create \
	--address-prefixes  '10.1.2.0/24' 'ace:cab:decb:deed::/64' \
	--name TestIPv6Subnet \
	--resource-group sam-test-resource-group \
	--vnet-name samtestresourcegroupvnet150

Can't work code:
az network

[2020-09-20 10:04] yonzhan commented on #15213
add to S176

[2020-09-20 17:33] ergihu commented on #15176
Second this: I cannot get Function App to be linked to Application Insights with Azure CLI.

If I create the Function App with the command

az functionapp create \
  --name "MyFunctionApp" \
  --resource-group "MyGroup" \
  --consumption-plan-location "westeurope" \
  --os-type Linux \
  --runtime node \
  --functions-version 3 \
  --assign-identity '[system]' \
  --storage-account "MyStorageAccou

[2020-09-20 19:02] geordle opened #15214 "`Az rest` messes up with `$` in the URL on windows"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az rest`

**Errors:**

Some html is outputted. Followed by `'$expand' is not recognized as an internal or external command,
operable program or batch file.`

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive informati

[2020-09-20 21:51] ramaganesan-rg commented on #13983
Thank you for the feedback! Agree, and we will take actions to update documentation.

[2020-09-20 21:51] #13983 closed

[2020-09-20 22:36] chenlomis opened #15215 "Cannot remove extension in development mode?"
**Describe the bug**
Attempting to remove an experimental extension that can't be loaded but no luck

**To Reproduce**
![image](https://user-images.githubusercontent.com/30876406/93723808-bb847200-fb56-11ea-902e-b4d47339ae53.png)

**Expected behavior**
Being able to remove the extension...

**Environment summary**
![image](https://user-images.githubusercontent.com/30876406/93723845-07371b80-fb57-1

[2020-09-20 22:47] chenlomis opened #15216 "Display command successes?"
**Is your feature request related to a problem? Please describe.**

Problem: No clear feedback and/or indication whether the setting has gone through or not

Scenario: Was attempting to suppress warning text with az config set only show error:

![image](https://user-images.githubusercontent.com/30876406/93723969-f63ada00-fb57-11ea-8e45-ba1261ead127.png)

and was surprised to see that the pumpkin t

[2020-09-20 23:01] yonzhan commented on #15214
add to S176

[2020-09-20 23:05] yonzhan commented on #15215
extension

[2020-09-20 23:09] yonzhan commented on #15216
add to S177

[2020-09-21 01:10] alexeldeib opened #15217 "az vmss update can't set osDisk caching to None"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

These commands work:
[code]
This one does not. It returns successfully but will not change the value of the field to "None".
[code]

If I try to PATCH the VMSS directly and then update all instances via the CLI, the operation succeeds. So it's not an API level issue, the bug is in CLI or Python SDK.
[code]

**

[2020-09-21 01:40] yungezz commented on #15217
hi @qwordy could you pls help to look at is this a partial patch issue? thanks.

[2020-09-21 01:42] yungezz commented on #15215
hi @fengzhou-msft could you pls look at the error about the removing command? thanks.

[2020-09-21 02:01] qwordy commented on #15217
You can't set it to None through PUT. None means don't change. It keeps the old value. This is designed by service.

[2020-09-21 02:11] alexeldeib commented on #15217
@qwordy can you please explain the sample output for my PATCH? 'None' does **NOT** mean "don't change". It is a valid value from the service perspective?

[2020-09-21 02:12] alexeldeib commented on #15217
I disagree that this works as intended. Please see my workaround for this bug: https://github.com/alexeldeib/azbench/blob/3d59017d1a0c3dcb5a6a9a06088ff825da5145e3/scripts/cluster.sh#L73-L88

[2020-09-21 02:27] Juliehzl commented on #15200
Hi @caksoylar, thanks for your feedback.
For the reason we don't migrate `directory upload`/`donwload`, it is because we have similar command in main CLI, which is `az storage copy`.
Could you try with `az storage copy` fisrt? And if you still think `az storage fs directory upload/donwload` are useful, we could consider add such support.

[2020-09-21 02:48] Juliehzl commented on #15051
Hi @bluca , 0.4.1 is already available now

[2020-09-21 03:04] qwordy commented on #15217
It is a known issue in Azure CLI. The default implementation of update command in CLI is using PUT. We are migrating it to PATCH. It is a long term plan.

[2020-09-21 03:26] jiasli commented on #14913
The command `az identity show` does return [exit code](https://github.com/Azure/azure-cli#exit-codes) `3` for a non-existing identity resource (the REST response is `404`).

[code]

It is the behavior of `export` to return `0` even if the inner command fails. In other words, `export` ignores the exit code of the inner command.

For `export`, [the POSIX specification](http://pubs.opengroup.org/onli

[2020-09-21 05:16] jiasli commented on #15212
Yes, `azure-cli-core` has dependency on https://github.com/Azure/azure-cli/blob/573e66b75c1a6b102d32ef50e6740950e8c4fd4d/src/azure-cli-core/setup.py#L53-L54

However, [installing Azure CLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest) with `pip` is not supported. If you must install with `pip`, we don't recommend installing Azure CLI and other Python SDKs in

[2020-09-21 06:51] qwordy commented on #14524
Close since no reply. This a common issue and the solution has been verified by many users.

[2020-09-21 06:51] #14524 closed

[2020-09-21 07:01] #15028 closed

[2020-09-21 07:07] arrownj opened #15220 "Support Conditional Access"
**Is your feature request related to a problem? Please describe.**
Azure CLI does not support [Conditional Access](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/) currently. For cases that require MFA for specific resources (VM for example), CLI will not be able to  handle it. We need to define a flow to communicate with user in this case.

**Describe the solution you'

[2020-09-21 07:20] qwordy commented on #14308
You can try `disk-encryption-set list-associated-resources` in next version of Azure CLI Release day is Sep 22. It is a common feature request in various resources.

[2020-09-21 07:46] yungezz commented on #15220
for VM SSH.

[2020-09-21 07:47] MikkelHegn commented on #12871
The `az aks create --enable-addons` is implemented in this PR: https://github.com/Azure/azure-cli/pull/15129

[2020-09-21 07:58] bluca commented on #15051
Great, thank you!

[2020-09-21 07:58] #15051 closed

[2020-09-21 08:21] #12278 closed

[2020-09-21 10:34] nicohun13 opened #15224 "azure farmbeats installation failure!"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --resource {}`

## Expected Beha

[2020-09-21 10:34] dazinator commented on #7579
Any update on this? We currently automate the provisioning of QA environments to azure, however as part of that automation we want the QA engineer to be able to log into the app with their azure ad account via saml. This means we have to automate the creation of a SAML app in azure AD for that QA environment (our qa environments have different URLs). Very disappointing to see this is apparently no

[2020-09-21 10:40] kwelch2015 commented on #14729
Looks like this was the error we got when the password was incorrect. Fixing the password allowed the command to work. Would've been nice if the library gave some reasonable error instead of the stack trace. FYI - we saw this behavior on PS, command prompt and bash.

[2020-09-21 11:41] AkihiroSuda opened #15225 "passing stdin to `az container exec` fails with ENOTTY"
## Describe the bug
passing stdin to `az container exec` fails with ENOTTY (`termios.error: (25, 'Inappropriate ioctl for device')`)

**Command Name**
`az container exec`

**Errors:**
[code]

## To Reproduce:

`echo "echo foo" | az container exec -g $MY_RESOURCE_GROUP --name $MY_DEBIAN_CONTAINER --exec-command "/bin/bash"`

## Expected Behavior

The stdin content should be passed to the process, a

[2020-09-21 11:43] rajaprad opened #15226 "Webapp:Webapp deployment: Unable to target folders other than wwwroot"
**Resource Provider**
Microsoft.Web

**Description of Feature or Work Requested**

- Am using Azure CLI to deploy two projects from a single solution.

- There are two zip packages out of the build and i wanted to deploy both. Ex: firstproject.zip and secondproject.zip

- I used the below Azure CLI command: az webapp deployment source config-zip --resource-group "dummy" --name "sample" --src "firs

[2020-09-21 12:34] yonzhan commented on #15224
add to S176

[2020-09-21 12:38] yonzhan commented on #15225
container

[2020-09-21 12:39] yonzhan commented on #15226
webapp

[2020-09-21 13:29] TitanRintu opened #15227 "Not able to create Service Principal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac`

## Expected Behavior

## Environment

[2020-09-21 14:21] yungezz commented on #15227
This is a known issue in Cloudshell #11479. To workaround it, pls run `az login`.

[2020-09-21 15:41] techadmin1982 commented on #14396
Hey Same Problem .. i mean BIG PROBLEM. I am testing the Azure CAF Landing Zones using Terraform. The workflow would try to create a keyvault during the process and later i will destroy the resources. Yesterday I ran it for the first time and it created a KV by the name of Launchpad in my subscription. Later i destroyed the resources and after some time tried running the deployment script again. B

[2020-09-21 15:55] #14079 closed

[2020-09-21 16:00] ramaganesan-rg commented on #14697
We are working on upgrading the SDK to a newer version that will fix this. thank you for your feedback!

[2020-09-21 16:00] #14697 closed

[2020-09-21 16:25] erstaples opened #15229 "Unable to add a VMSS to an LB backend address pool"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network lb address-pool create`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network lb address-pool create`

## Expected Behavior
I ex

[2020-09-21 17:27] avirishuv commented on #15064
@jiasli @qwordy was the vm1 in deleting state when you queried using list and show commands? Are you still facing this issue?

[2020-09-21 17:30] caksoylar commented on #15200
Hi @Juliehzl, I wasn't aware of `az storage copy`. At first glance the interface looks like `azcopy` which I used before, so I assume I can pass the blob URL (`https://<account-name>.blob.core.windows.net/<container-name>/path`) for ADLS Gen2, however I couldn't get it to work because it couldn't find my storage account. It also seems to be using a different authentication setup than Azure CLI, wh

[2020-09-21 17:48] avirishuv commented on #14841
Marking this as a bug. The CLI cmdlet az vm start --resource-group {} --name {} does not complete even though the VM finishes starting and reaches 'Running' state (this is reflected in portal as well as through get instance view API call).

[2020-09-21 19:23] grecoe opened #15231 "Getting PIP install to work..."
Hi,

I *thought* I had this working last week....using

az functionapp deployment source config-zip

To push a zip file to an app service containing python function app code. Codes all there but the problem is the requirements.txt file is having no effect...that is the needed azure libraries listed are not getting installed to the environment. If I then publish with VS code I see the pip install h

[2020-09-21 23:44] yonzhan commented on #15229
add to S176

[2020-09-21 23:50] yonzhan commented on #15231
functionapp

[2020-09-22 00:11] grecoe commented on #15231
Sorry, this can be closed. I completely missed the flag --build-remote which solved the problem.

[2020-09-22 00:11] #15231 closed

[2020-09-22 01:45] qwordy commented on #14841
Should we use https://management.azure.com:443 "GET /subscriptions/6106db48-494a-4767-a0ca-689bb7c63c07/providers/Microsoft.Compute/locations/southcentralus/operations/fe776d73-a214-4ea9-8149-da276d98231a?api-version=2019-07-01 HTTP/1.1 to check state?

[2020-09-22 01:46] skingd commented on #14963
I can confirm as well. Had the issue after updating CLI, **pip install --upgrade azure-cli-telemetry** resolves it.

[2020-09-22 01:48] Catramen commented on #13577
I accidentally did this:

az role assignment create  --assignee "$SOME_VAR" --role "Owner"

SOME_VAR was accidentally set to empty string. I did not get any prompt and EVERY OWNER WAS DELETED.I lost access to my subscription. Cannot even file a support ticket cause I lost permissions.
Is there a way to fix this?

[2020-09-22 01:51] Catramen commented on #13577
Forget to mention:
azure-cli                          2.7.0 *

core                               2.7.0 *
telemetry                          1.0.4 *

[2020-09-22 01:54] skingd opened #15232 "Upload to blob always fails with authentication error"
**Describe the bug**

I have a storage blob that I can, with the account used, upload, download and delete blobs from the portal without any issue. I've confirmed the account is being used and functional. I've run az login tons of times and can read all the data including from the blob.

I'm calling the following command to upload:

az storage blob upload --account-name $STORAGE_ACCOUNT --containe

[2020-09-22 02:07] yonzhan commented on #15232
add to S176

[2020-09-22 02:20] qwordy commented on #15064
I can't get instance view of this VM. I can't get state of it. I don't know if it exists indeed.
The Resource 'Microsoft.Compute/virtualMachines/vm1' under resource group 'fy' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix

[2020-09-22 02:38] amjads1 commented on #14106
Working with 'OmsAgentForLinux' extension team to identify the issue and get additional details. Sent a follow up today again and I will update as soon as I have more details.

[2020-09-22 03:07] Juliehzl commented on #13704
Hi @Alexei-B , it is supported in https://github.com/Azure/azure-cli/pull/14832.
Please install latest azure cli and try`az storage blob list` with `--show-next-marker`

[2020-09-22 03:07] #13704 closed

[2020-09-22 03:08] #15113 closed

[2020-09-22 03:45] Juliehzl commented on #14869
Hi @AmoebaCell, you are right for general storage account you cannot upload blobs with sub-virtual folder which has '/' in blob name.

[2020-09-22 06:20] techadmin1982 commented on #14396
Please fix this problem. I now have a new subscription and tenant however keyvault with the name "launchpad" still can not be created.
![Capture](https://user-images.githubusercontent.com/42249185/93849440-c14e9480-fcc9-11ea-9cca-271cd0acd9ac.JPG)

[2020-09-22 06:22] mepand commented on #14983
@hmi12 Just wanted to check if the issue is fixed for you.

[2020-09-22 06:35] haroldrandom commented on #15163
Thanks @subhasishdc. We have a plan and will kick off this ASAP.

[2020-09-22 06:41] maartenba commented on #14859
This seems to have been fixed now on the portal side.

[2020-09-22 06:41] #14859 closed

[2020-09-22 06:58] haroldrandom commented on #15010
@digeler Also, you could provide feedback in the page https://docs.microsoft.com/en-us/azure/dns/private-dns-overview through that feedback button

[2020-09-22 07:00] #15050 closed

[2020-09-22 07:05] FlourishS opened #15235 "Webapp:az webapp does not support installing extensions"
### Expected

On the azure portal new extensions can be installed as shown below. It is expected that the same action can be taken via the "az webapp" command.

![image](https://user-images.githubusercontent.com/40595784/93852679-c18f6580-fcb2-11ea-9492-f56b79b2e883.png)

### Actual

The az webapp command does not support installing extensions such as Pythong 2.7.

[2020-09-22 07:08] FlourishS opened #15236 "Webapp:az webapp does not support deployment source of Azure Pipeline"
### Expected

In the azure portal a webapp can be configured to be deployed from azure pipeline. "Az webapp" is expected to support this configuration as well.

### Actual

"Az webapp" does not support configuring a webapp to be deployed from azure pipeline.

[2020-09-22 08:26] haroldrandom commented on #15130
@hisasima The issue is awared, we will fix it ASAP

[2020-09-22 09:09] yungezz commented on #15235
route to appropriate team

[2020-09-22 09:10] yungezz commented on #15236
route to appropriate team

[2020-09-22 09:18] prajyot-joshi-kr opened #15240 "Webapp:Unable to backup Function/Web App using Azure Cli az webapp config backup create"
I am facing an issue when executing the Azure Cli command to backup my Azure App Service:

Cli Command :

az webapp config backup create --resource-group --webapp-name
--backup-name testbackup --container-url

**I generated a new SaS key to be passed along with the command.**

Is this the correct approach.

Cli Output:

`{ "backupId": 64862, "backupItemName": "testbackup", "blobName": "testbackup"

[2020-09-22 09:24] prajyot-joshi-kr commented on #10070
Has anyone encountered **"sizeInBytes": 0** issue while executing the az webapp config backup create ? which causes the backup to fail[](https://github.com/Azure/azure-cli/issues/15240)

[2020-09-22 11:21] niravcybage commented on #13911
I am not able to create Instance Pool with below PowerShell cmd.

Getting Error : "New-AzSqlInstancePool: Long running operation failed with status 'Failed'. Additional Info:'An unexpected error occured while processing the request. Tracking ID: 'f498bd70-9018-4bbf-ab1e-d2633954538d''"

$virtualNetwork = Get-AzVirtualNetwork -Name "vnetname" -ResourceGroupName "rgname"
$subnet = Get-AzVirtualNetwo

[2020-09-22 11:37] yonzhan commented on #15240
webapp

[2020-09-22 13:42] julesman101 opened #15242 "--policy-assignment parameter is incorrectly defined."
With reference the the following AZ CLI docs page: https://docs.microsoft.com/en-us/cli/azure/policy/state?view=azure-cli-latest

There are 2 references on this page to the definition of the "--policy-assignment" parameter. Both are incorrect.
The 2 references currently show:
![image](https://user-images.githubusercontent.com/7341236/93889546-39748480-fce1-11ea-9f11-e298e5a33c7c.png)

The correct

[2020-09-22 13:53] cnadgonde opened #15243 "az vm create with scope argument gives an error"
**Describe the bug**
Creating a VM with scope argument where the scope is granting a role to a storage account in a different resource group than the VM resource group throws following error

Deployment failed. Correlation ID: 08673f9b-d369-4f65-95aa-ab8e24115e7d. {
  "error": {
    "code": "ResourceNotFound",
    "message": "The Resource 'Microsoft.Storage/storageAccounts/mystorage' under resourc

[2020-09-22 14:02] yonzhan commented on #15242
add to S176

[2020-09-22 14:39] ahoka opened #15244 "az aks install-cli ignores --install-location flag for kubelogin"
[code]

## Expected Behavior

az should work without root privileges.

## Environment Summary
[code]

[2020-09-22 14:41] ahoka commented on #15244
Disregard that, I need to use --kubelogin-install-location. You just broke backward compatibility...

[2020-09-22 14:41] #15244 closed

[2020-09-22 15:40] avirishuv commented on #14837
@biltongza For region access related issues and requests, you can open a support request with our Support team. This document has helpful instructions for this: https://docs.microsoft.com/en-us/troubleshoot/azure/general/region-access-request-process

[2020-09-22 15:55] hulseware opened #15246 "az vm auto-shutdown not properly supported in az interactive and the --email options are ignored when specified"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**az vm auto-shutdown**
``
The az interactive mode does not recognize auto-shutdown as a valid command while typing the command line, but does run the command. However, the command ignores all forms of --email parameters (xxx@myco.com -or- aaa@myco.com;bbb@myco.com - regardless of quoting. The command runs and

[2020-09-22 16:01] ThejaChoudary commented on #15009
@perkops Can you please let us know exactly what cli command you are using and also are you facing the same with the cli command itself without the azure Devops Cli ?

[2020-09-22 16:59] Dunning-Kruger opened #15247 "Timeout on az sql server vnet-rule create"
## Describe the bug
Operation time out while creating a vnet-rule in SQL server.
During the execution, rule does show up in the UI as state: InProgress.

![image](https://user-images.githubusercontent.com/1564825/93912476-d16a7200-fcd1-11ea-9ac4-17cc25e8c2ca.png)

**Command Name**
`az sql server vnet-rule create`

**Errors:**
[code]

## To Reproduce:
[code]

[code]
## Expected Behavior
Virtual net

[2020-09-22 17:07] pvrk commented on #15206
@DoppoM : Just wanted to confirm: Are you passing the policy definition as a JSON encoded object?

[2020-09-22 17:18] MikePennington commented on #11871
I am receiving this error even on the _default_ subscription.

[code]

[code]

The `keyvault-test` keyvault is in the default subscription listed above. I am certain that this used to work.

[2020-09-22 17:22] hulseware commented on #15246
A little more information. Apparently, the CLI believes that the webhook is a required field. If it is not present, then the notificationSettings comes back from the command as disabled and null values for the other properties. Only if the webhook is present, will it process the email addresses.

[2020-09-22 18:34] csmcallister commented on #11980
Chiming in to say that I, too, am experiencing this issue:

[code]

[2020-09-22 20:16] nerddtvg opened #15249 "Update network vrouter Help Text"
## Describe the bug

The help text is confusing.

**Command Name**
`az network vrouter`

**Errors:**

https://github.com/Azure/azure-cli/blob/1fcfa989e9545348e287296b2b52bb0214e4812a/src/azure-cli/azure/cli/command_modules/network/_params.py#L1835

The redirect value should have a dash (hosted-subnet) and not underscore (hosted_subnet).

https://github.com/Azure/azure-cli/blob/2b0e639001248204ba26

[2020-09-22 21:01] cachai2 opened #15252 "Consumption to EP Migration - via CLI"
Create an experience to allow Azure Functions users to upgrade from a consumption plan to a premium plan through the CLI. With the new command, we will need to ask the user for sku and size for target, and all additional information when creating the premium plan can be inferred from the source plan.

[2020-09-22 21:05] allegradomel commented on #12689
Quick update: we're still looking into this - I have passed it on to the dev team

[2020-09-22 21:30] t-l-k commented on #14864
I would like to bump this issue, some insight into the behaviour would be useful, can you advise?

[2020-09-22 22:18] allegradomel commented on #12689
My finding was that this was done by design - you must have some read access to the subscription in able to receive results from the command. Please let me know if you have any other questions, @EitZei

#please-close

[2020-09-22 22:19] #12689 closed

[2020-09-22 23:00] chenlomis opened #15253 "Can't seem to revert back to previous CLI version"
**Describe the bug**
(not sure if it's a bug) but attempted to revert back to 2.11.0 version using pip install but didn't work

**To Reproduce**

![image](https://user-images.githubusercontent.com/30876406/93945892-ab060000-fcec-11ea-826b-3c542ee33325.png)

**Expected behavior**
being able to revert back to version 2.11.0

**Environment summary**

![image](https://user-images.githubusercontent.com

[2020-09-23 01:09] lissff commented on #14596
@yugangw-msft  any update for this issue?
"when running "az acr network-rule add " to create a network rule for a subnet , it appears to attempt to re-apply all existing rules as well as the one you are adding."
we encountered the same issue here, do we plan a fix or workaround?

[2020-09-23 01:27] yonzhan commented on #15247
sql

[2020-09-23 01:31] yonzhan commented on #15249
add to S176

[2020-09-23 01:34] yonzhan commented on #15252
Functions

[2020-09-23 01:58] qwordy commented on #13271
Another user's feedback:
The command used is “az vm list-skus” where the restricted SKUs are not listed as designed. Though, this command has the “--all” parameter which will list all the SKUs regardless of any restrictions imposed.
Even with a restriction to a single Zone, without the “--all” parameter, those sizes won’t be listed by simply running “az vm list-skus”.

The customer’s challenge in

[2020-09-23 02:52] #15202 closed

[2020-09-23 03:12] yungezz commented on #15253
hi @fengzhou-msft could you pls to have a look?

[2020-09-23 03:14] yungezz commented on #15246
hi @arrownj could you pls look at the ask.

[2020-09-23 03:17] yungezz commented on #15243
hi @qwordy could you pls have a look? thanks.

[2020-09-23 03:43] dharmab commented on #13577
@Catramen I'm so sorry. I'm not a MSFT employee but I'll forward your comment to my TAM and hopefully they can help route it.

[2020-09-23 04:25] haroldrandom commented on #15019
@steveaustin0101 What do you mean `for version number to change = 3.1` ?

[2020-09-23 06:07] perkops commented on #15009
Hi @ThejaChoudary,

We managed to work around this issue, by simply making the names not match that much, so I do not have the current error setup at hand atm. From my memory this was only an issue on Azure DevOps, and only sometimes, as I wrote in the initial text.

For the webapp part, the code looks like the following in one project:

Write-Host "  Create web app" -ForegroundColor DarkYellow
$o

[2020-09-23 07:29] siddharthrepal opened #15258 "az command not found"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm open-port`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm open-port --port {} --resource-group {} --name {}`

## Expected Be

[2020-09-23 07:33] andxu opened #15259 "az webapp create-remote-connection should bound only to localhost (127.0.0.1)"
When using command `az webapp create-remote-connection`, this command listens on a port but it also accepts any connections not limited to current machine, by `ssh root@< ip> -p <port>`, any user under the same gateway will be able to connect to the ssh server proxy-ed by `az webapp create-remote-connection`, this is not safe(as the password is hard-coded).

See vscode app service implementation:

[2020-09-23 07:46] bim-msft commented on #15100
Message from the service team: "Our GA changes of swagger are expected to be checked in by Oct 2nd"

[2020-09-23 07:51] pfsantosaad opened #15260 "Incorrect statement on documentation"
Azure CLI groups doc (https://docs.microsoft.com/en-us/cli/azure/ad/group/member?view=azure-cli-latest#az_ad_group_member_add) states that you need to use the Object ID of Service Principals to add them to a group, however this is incorrect as in order to CLI to resolve the Service Principal it uses the Application ID.

Current:
--member-id
The object ID of the contact, group, user, or service pri

[2020-09-23 07:52] yungezz commented on #15259
route to appropriate team

[2020-09-23 07:53] yungezz commented on #15258
https://github.com/Azure/azure-cli/issues/14011

[2020-09-23 07:53] yungezz commented on #15258
hi @siddharthrepal could you pls reinstall latest Azure CLI?

[2020-09-23 08:10] #15258 closed

[2020-09-23 08:37] MehaKaushik commented on #13229
Since we do not have a timeline for this ask in the near future and we tracking it internally, I am closing this issue from github.

[2020-09-23 08:37] #13229 closed

[2020-09-23 08:39] MehaKaushik commented on #15024
Closing, since no action is required from CosmosDB end.

[2020-09-23 08:39] #15024 closed

[2020-09-23 08:42] MehaKaushik commented on #13869
As a part  of[ S175](https://github.com/Azure/azure-powershell/milestone/109) a CosmosDB was updated. @sharan779 please verify if your issue is resolved now.

[2020-09-23 08:43] fengzhou-msft commented on #15260
@jiasli can you take a look?

[2020-09-23 08:44] MehaKaushik commented on #13808
As a part of S175(https://github.com/Azure/azure-powershell/milestone/109), a CosmosDB was updated. @alsastre please verify if the issue is resolved.

[2020-09-23 08:45] MehaKaushik commented on #13820
As a part of S175(https://github.com/Azure/azure-powershell/milestone/109), a CosmosDB was updated. @sireza  please verify if your issue is resolved now.

[2020-09-23 08:46] MehaKaushik commented on #13808
As a part of S175(https://github.com/Azure/azure-powershell/milestone/109), a CosmosDB was updated. @alsastre please verify if your issue is resolved now.

[2020-09-23 08:58] rakku-ms opened #15262 "[Azure Stack] az keyvault create throwing ValidationError: The suffix 'mhsm_dns' for this cloud is not set but is used"
**Describe the bug**
unable to create keyvault using below cmd for az version >= 2.11.0
az keyvault create throwing ValidationError: The suffix 'mhsm_dns' for this cloud is not set but is used

**To Reproduce**
**Code**
[code]

**Output**
[code]

**Expected behavior**
 az keyvault create was successfully creating keyvault in Azure Stack environment for az version < 2.11.0

**Environment summary**

[2020-09-23 09:00] rakku-ms commented on #15262
@bganapa @sarathys FYI

[2020-09-23 09:40] fengzhou-msft commented on #15253
@chenlomis based on the Python information, it looks like you're using the MSI-installed azure-cli. Please install
https://azurecliprod.blob.core.windows.net/msi/azure-cli-2.11.0.msi to revert to 2.11.0

[2020-09-23 09:43] fengzhou-msft commented on #15215
@chenlomis azdev can only be used in a Python venv. You need to activate your venv then use azdev to remvoe the extension.

[2020-09-23 09:48] fengzhou-msft commented on #15211
@lahmhub  there is a workaround provided by CloudShellTeam: https://github.com/Azure/azure-cli/issues/13855#issuecomment-652793995

[2020-09-23 09:49] fengzhou-msft commented on #15204
Duplicate of #14011

[2020-09-23 09:49] #15204 closed

[2020-09-23 09:57] #15112 closed

[2020-09-23 09:58] #14999 closed

[2020-09-23 10:05] fengzhou-msft commented on #14963
azure-cli 2.12.0 released and pinned to azure-cli-telemetry 1.0.6 to fix the issue.

[2020-09-23 10:06] #14963 closed

[2020-09-23 10:47] jabielecki commented on #5099
Yeah, nope. The `az` as installed from base on my Ubuntu 18.04 LTS is definitely ignoring exported REQUESTS_CA_BUNDLE or AZURE_CLI_DISABLE_CONNECTION_VERIFICATION=1 and always using one hardcoded certificates file. I used `strace` to verify that.

This bash command was enough as a workaround for me (ugly and fragile):
[code]

[2020-09-23 11:30] ShreyasNBS commented on #13032
@parasdesaicims How did you fix this on MAC? Did you download any ca bundle online and trust in locally in system keychain?

[2020-09-23 11:32] yonzhan commented on #15260
add to S176

[2020-09-23 11:43] KjetilMobit opened #15263 "Feedback on request"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp list --output {}`

## Expected Behavior

## Environment Summary
[

[2020-09-23 12:01] steveaustin0101 commented on #15019
the default owasp version is 3.0 , and trying to change to another version , like 3.1

Sent from Yahoo Mail on Android

  On Tue, Sep 22, 2020 at 11:25 PM, Jianhui Harold<notifications@github.com> wrote:

@steveaustin0101 What do you mean for version number to change = 3.1 ?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-09-23 12:27] watsonb commented on #11548
I am having this same issue.

[code]

[2020-09-23 13:05] yonzhan commented on #11548
consumption service team should look into this issue.

[2020-09-23 13:07] yonzhan commented on #15263
add to S176

[2020-09-23 13:30] DoppoM commented on #15206
@pvrk,  of course, I use .json file in cmdlet
[code]

[2020-09-23 14:29] ajezione commented on #15247
Also seeing this issue :(

### Environment Summary:

**Azure-cli:**
azure-cli                        2.12.0
core                             2.12.0
telemetry                        1.0.6

Extensions:
front-door                       1.0.9

**System:**
Ubuntu 18.04.5 LTS
Python (Linux)					 3.6.10

[2020-09-23 15:23] AlBlanc commented on #14643
Any update?

[2020-09-23 15:23] AlBlanc commented on #14625
Can't we have a `pull-policy` like there is in k8s?

[2020-09-23 16:05] enigmae opened #15264 "Issue trying to update subnet of a VMSS using set command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vmss update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vmss update --name {} --resource-group {} --set {}`

## Expected Behav

[2020-09-23 16:13] bacmodung opened #15279 "Webapp: VBXCBXC"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 56fc532d-8c75-3681-3c26-c6276df401a2
* Version Independent ID: 1e51db86-6ad9-d6ea-cdb5-ced1b86fc65d
* Content: [az webapp scan](https://docs.microsoft.com/en-us/cli/azure/ext/webapp/webapp/scan?view=azure-cli-latest#ext_webapp_az_webapp_scan_start)
*

[2020-09-23 17:16] smoop-msft opened #15265 "Issue with az vm list-skus"
I have a customer who is having issues with az vm list-skus CLI command not listing a particular VM SKU(D15_v2) in a region(CentralUS) as being available.

![image](https://user-images.githubusercontent.com/71783322/94046047-02f04580-fd85-11ea-8467-0af364ff790e.png)
But the SKU is shown as being available in PS AzureRM command Get-AzureRmVMSize and also shows up as available in the Azure Portal.
I

[2020-09-23 17:19] fabiocav commented on #15252
@gzuber for awareness

[2020-09-23 17:44] narendraugh opened #15266 "Issue - az backup vault create"
**Describe the bug**
I am creating recovery service vault using the below command
$ResourceGroup = "Test-RG"
$Location = "westeurope"
$RecoveryServiceVaultName = "Test-RSV"
az backup vault create -g $ResourceGroup -n $RecoveryServiceVaultName -l $Location

Error:
az : Command group 'backup' is in preview. It may be changed/removed in a future release.
At line:5 char:1
+ az backup vault create -g $

[2020-09-23 17:57] pvrk commented on #15206
@DoppoM : Thanks for the clarity. Will come back on this. @hiaga : Let's take a look and respond.

[2020-09-23 18:56] RedTeamOperations opened #15268 "Azure Cli Command Not Working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad user list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad user list`

## Expected Behavior

## Environment Summary
[code]
##

[2020-09-23 19:23] bganapa commented on #15262
@Juliehzl , @yonzhan We consume the build from the edge nightly builds in our CI and this is a regression.  We need to fix this before we release the CLI. Could you please investigate?

[2020-09-23 20:02] brandonmartinez commented on #12713
I've also run into this same issue, but when deploying an ARM template. I can run an ARM template to create the resources, but if I need to rerun the template (e.g. to update any settings in my cluster/nodes), it will fail even if the SPN hasn't changed. Currently, I would need to have to two ARM templates (one with and one without the SPN stuff).

[2020-09-23 20:18] btardif commented on #13641
@awentzel Workers are the unit of scale for an app. you can learn more about scale out here --> https://docs.microsoft.com/en-us/azure/app-service/manage-scale-up

[2020-09-23 20:18] #13641 closed

[2020-09-23 20:21] btardif opened #15269 "webapp: Refresh Available stack API with ANT89 updates"
@panchagnula the ARM bridge for Available stacks API will not be available until ANT91

So we should update the current list with each milestone until then.

[2020-09-23 20:23] btardif opened #15270 "webapp: refresh Available stack API with ANT90 updates"
@panchagnula the ARM bridge for Available stacks API will not be available until ANT91

So we should update the current list with each milestone until then.

[2020-09-23 20:24] btardif opened #15271 "Hook up to the new available stack API with ANT91"
ARM bridge should be available once ANT91 rolls out.

[2020-09-23 20:25] ohadschn commented on #14072
Wait, `az acr login --password` accepts a PEM file???
Please add this to the docs: https://docs.microsoft.com/en-us/cli/azure/acr?view=azure-cli-latest#az_acr_login

[2020-09-23 20:37] panchagnula commented on #15270
@calvinsID FYI.

[2020-09-23 21:02] VariableDeclared opened #15272 "[Load Balancer] Adding VMs via CLI does not work"
**Describe the bug**

Currently it is not possible to add VMs to the backends of Load Balancers using their VM/NIC IDs, but by an IP address. Whereas on the Console it is possible to do exactly this. Adding VMs by their IP fails to add them to the load balancer.
**To Reproduce**

Create a LB via az cli, adding VMs via their IPs.
**Expected behavior**

VMs be found by their IP, or allow the ability

[2020-09-23 21:02] btardif commented on #15199
We agreed to use TEMP folder for ZIP generation

[2020-09-23 21:51] VariableDeclared commented on #15272
Attempting to workaround this via Azure Templates, also does not work.

[2020-09-23 22:27] panchagnula commented on #13907
@singlessis is working currently on this

[2020-09-23 22:28] panchagnula commented on #13204
closing due to lack of response.

[2020-09-23 22:28] #13204 closed

[2020-09-23 23:07] allegradomel commented on #13750
@jiasli - this seems like a feature request for the CLI team. I will remove the Network - Virtual Network tag.

[2020-09-23 23:37] #13635 closed

[2020-09-23 23:49] yonzhan commented on #15266
backup

[2020-09-23 23:53] yonzhan commented on #15268
add to S176

[2020-09-23 23:57] yonzhan commented on #15269
webapps

[2020-09-23 23:58] yonzhan commented on #15271
webapps

[2020-09-24 00:01] yonzhan commented on #15270
webapps

[2020-09-24 00:04] yonzhan commented on #15272
add to S176

[2020-09-24 00:06] chenlomis opened #15274 "[UX lab] Password policy is not clear for az postgres up"
**Describe the bug**
PWD validation failed but no concrete explanations
![image](https://user-images.githubusercontent.com/30876406/94086841-fbe72880-fdc0-11ea-9daa-fe616288fd67.png)

**To Reproduce**

![image](https://user-images.githubusercontent.com/30876406/94085771-d7d61800-fdbd-11ea-9376-e8ad15ca0625.png)
![image](https://user-images.githubusercontent.com/30876406/94085778-defd2600-fdbd-11ea

[2020-09-24 00:11] yonzhan commented on #15274
add to S177

[2020-09-24 00:18] chenlomis opened #15275 "[UX lab] Git bash auto replacing user input?"
**Describe the bug**
![image](https://user-images.githubusercontent.com/30876406/94086725-9d21af00-fdc0-11ea-82c3-dbd8a6f87fc3.png)

**To Reproduce**
Users attempting to pass in admin password for postgres db but apparently the password got auto-translated to something else

**Expected behavior**
(not sure if this is as expected)

**Environment summary**
@shizn to provide additional context on VM

[2020-09-24 01:48] haroldrandom commented on #15019
@steveaustin0101 I get your point. An RP is under reviewing and this will be fixed in the upcoming release

[2020-09-24 02:15] yungezz commented on #15262
hi @bganapa are you creating a normal vault or mhsm?

[2020-09-24 02:17] yonzhan commented on #15275
add to S177

[2020-09-24 02:25] yungezz commented on #15262
hi @fengzhou-msft @bim-msft one workraround is to add a fake "mhsm_dns" in cloud.json. Does it sound good?

[2020-09-24 02:30] jiasli commented on #13577
This issue was previously reported in #2933 and the prompt for "delete all" was added in #8862.

I agree **this behavior is insane** and should be changed even though it is a breaking change.

If you have already deleted all role assignments, and luckily you are a **Global Administrator** in AAD tenant, there is a chance to recover it: https://docs.microsoft.com/en-us/azure/role-based-access-contr

[2020-09-24 02:38] jjohndrow commented on #10641
This seems broken to me at the api level. I'm just using postman against the azure api directly via the instructions here https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-list-rest. Its blocking me right now.

Scoped at subscription level it succeeds
https://management.azure.com/subscriptions/:subscriptionId/providers/Microsoft.Authorization/roleAssignments/?api-ve

[2020-09-24 02:47] Juliehzl commented on #15262
Add more information here.
I think I should expose one additional argument for `az cloud register` to enable the capability for config managed hsm in custom cloud. If you have any concern, feel free to let me know.

@bim-msft, hope we could hide hsm related arguments in the future if it is not supported in Azure Stack Cloud. For the feature we don't support,we shouldn't expose it to customer.

[2020-09-24 03:03] yungezz opened #15278 "azure role assignment delete will delete all assignments when --assignee is empty string"
**Describe the bug**

Fork the issue from #13577, to track specific issue from customer when --assignee is empty string, az role assignment delete will delete all assignments. After fix, az will throw error when --assignee is empty string

[code]
**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-09-24 03:04] yungezz commented on #15278
let's fix the specific issue firstly.

[2020-09-24 03:04] yungezz commented on #13577
https://github.com/Azure/azure-cli/issues/15278

[2020-09-24 03:07] yungezz commented on #13577
This specific issue is tracked in https://github.com/Azure/azure-cli/issues/15278. We'll fix it to throw error when --assignee is empty string in `az role assignment delete`.

Today `az role assignment delete` behavior isn't that consistent on when to promoting, when to delete all. Let's use this issue to track refine work on role assignment delete behavior. Worth to check `policy assignment delet

[2020-09-24 03:28] #15130 closed

[2020-09-24 03:44] yungezz commented on #15265
hi @qwordy could you pls check why the sku not sured? this is pure rest call. Maybe caused by API version difference?

[2020-09-24 03:46] yungezz commented on #15264
hi @qwordy could you pls have a look? thanks

[2020-09-24 03:58] jiasli opened #15280 "[Error Handling] "usage error" is prefixed with ValidationError"
**Describe the bug**
The code has many checks which include `usage error` in the error message.

https://github.com/Azure/azure-cli/blob/419bf8b4a7988d853b9ab5a4b75b1be6c0dace5f/src/azure-cli/azure/cli/command_modules/storage/_validators.py#L1324

https://github.com/Azure/azure-cli/blob/c763c5bbd7c0a79ede49b540341347a48231beb4/src/azure-cli/azure/cli/command_modules/network/_validators.py#L191-L19

[2020-09-24 05:13] justinyoo commented on #13777
I'm using azure CLI v2.11.1. I added the `--xml` option. However, it returns escaped string. Do we need to handle those escaped characters by ourselves?

[2020-09-24 05:44] fengzhou-msft commented on #15262
@Juliehzl before exposing the option, users can add the endpoint in a file for `--cloud-config` with the key `suffix_mhsm_dns` or `suffixMhsmDns`
It's not added in ARM and we need a patch for it.

[2020-09-24 06:19] prajyot-joshi-kr commented on #15240
Team,

Any update on the issue raised ?

[2020-09-24 06:30] yonzhan commented on #15280
Error Handling

[2020-09-24 07:51] frank-fischer-by commented on #13777
It's "slightly" confusing.
You have to combine `--xml` with `--output tsv` to get a useable format.

[2020-09-24 07:59] narendraugh commented on #15266
@yonzhan: I do not understand your reply?

[2020-09-24 08:11] haroldrandom commented on #15159
As for the 1st solution,

I did that in https://github.com/Azure/azure-cli/pull/15261.

As for the 2nd solution,

This could be supported. Will done in the next release.

However, the 3rd solution,

We lack of API to do it. Service side doesn't provide such API to query a list of rule groups and rules. Which will need service support.

[2020-09-24 08:44] justinyoo commented on #13777
That's far better than what I do:

[code]

[2020-09-24 09:39] haroldrandom commented on #15175
I trid add and then remove a vm as backend from a Load Balance, it all succeeded. Cannot reproduce your question.

Which version are you using @irenehua.

[2020-09-24 09:55] pvrk commented on #8676
Added examples for all az backup related commands which should also be appearing in the command help text. Working on adding documentation in Azure Backup section using CLI.

Closing this bug. Please feel free to re-open if the command help-text or documentation is in-sufficient.

[2020-09-24 09:55] #8676 closed

[2020-09-24 10:02] pvrk commented on #9135
Sincere apologies for the delay. We have updated help text and examples first and now we are working on updating documentation.

[2020-09-24 10:16] steveaustin0101 commented on #15019
super , thank you

Sent from Yahoo Mail on Android

  On Wed, Sep 23, 2020 at 8:49 PM, Jianhui Harold<notifications@github.com> wrote:

@steveaustin0101 I get your point. An RP is under reviewing and this will be fixed in the upcoming release

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-09-24 10:36] stefje-nd opened #15285 "Azure-cli version 2.12 not availible in brew as formula on mac"
**Describe the bug**

Warning: azure-cli 2.11.1 already installed

Eventhough current version is 2.12

We work with apim and needs to use cli to import functions api to apim but it fails in version 2.11 so hopefully it will work in 2.12

**To Reproduce**
Brew formula for 2.12 not availible

**Expected behavior**
When updating azure-cli please add version to brew

**Environment summary**
Mac OSX

[2020-09-24 10:40] #15249 closed

[2020-09-24 10:45] pvrk commented on #13999
Sincere apologies for the delay. Investigation is in progress.

[2020-09-24 10:58] ohadschn commented on #14072
@yugangw-msft is this included in 2.12.0?

[2020-09-24 11:09] yonzhan commented on #15266
backup service team should look into this issue.

[2020-09-24 11:17] pvrk commented on #14177
@andboyer : The error usually comes when the item to be protected is not found/identified. Can you please re-run the command with "--debug" parameter to know more about the service response?

[2020-09-24 11:20] pvrk commented on #14379
Closing this issue since it is fixed for the customer.

[2020-09-24 11:20] #14379 closed

[2020-09-24 11:21] pvrk commented on #14976
@houk-ms : So, should this bug be open until all issues are closed? Or can we close this and follow the dashboard?

[2020-09-24 11:32] frasdav opened #15286 "CSR return value from az keyvault certificate create doesn't base64 decode to a valid CSR"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault certificate create`

**Errors:**
The `csr` property in the JSON response doesn't base64 decode correctly. The decoded CSR comes out as:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive informatio

[2020-09-24 11:34] frasdav commented on #15286
@bim-msft I'm having the same issue as in #13231 - would you mind taking another look please?

[2020-09-24 12:09] #15286 closed

[2020-09-24 12:11] frasdav commented on #15286
Sorry, being stupid - the `csr` property is the content between `-----BEGIN CERTIFICATE REQUEST-----` and `-----END CERTIFICATE REQUEST-----`, rather than an encoded version of the block with the header and footer.

[2020-09-24 12:12] christophernruud opened #15287 "Creating Azure Service Principal fails from script"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac --name {} --role {} --scopes {} --sdk-

[2020-09-24 12:44] machielvisser commented on #12946
Is there an indication when azure cli will be migrated to Microsoft Graph API?

[2020-09-24 13:07] yonzhan commented on #15287
add to S176

[2020-09-24 13:50] fengzhou-msft commented on #15133
azure-cli 2.12.0 released and fixed the issue.

[2020-09-24 13:50] #15133 closed

[2020-09-24 14:26] Dunning-Kruger commented on #15247
This only happens when the SQL server was created using`--enable-public-network false`

[2020-09-24 16:33] smoop-msft commented on #15265
Please note the issue persistent in cloud shell session too.

[2020-09-24 16:56] panchagnula commented on #13777
@Kotasudhakarreddy is this true? I thought your change took care of the hack to not needing the --output tsv. Can you take a look or update the help document as well accordingly? Thanks!

[2020-09-24 17:26] 345James opened #15288 "az rest fails to upload a file to an integration account if the file contains special latin characters i.e. ä"
## Describe the bug

When trying to store an XML schema into an integration account using the `az rest` command and the management api, the schema fails to be uploaded if the schema contains latin special characters i.e. í or ä.

The same schema can be loaded into the integration account, by using the same management api and curl.

**Command Name**
`az rest --method PUT `

**Errors:**

`Validation

[2020-09-24 18:00] allegradomel commented on #13259
I'm looking into this - will update soon

[2020-09-24 18:09] apawast commented on #15176
@ehamai is this a portal issue? What permission does portal look for to check if App Insights is configured?

[2020-09-24 18:48] PiroHiroPiro opened #15289 "When creating a VM from a custom image, I want to specify the Data Disk name."
**Describe the bug**

When creating a VM from a custom image, I want to specify the Data Disk name.
This is possible with Azure Powershell, but not with azure cli.

**To Reproduce**

This is possible with Azure Powershell:
[code]

But not with Azure CLI:
[code]

**Expected behavior**

When creating a VM from a custom image, the data disk name specify.

**Environment summary**

**Additional context

[2020-09-24 20:53] Craigmeister68 opened #15291 "Remove IP Filter from Cosmos DB via Azure CLI does not work"
**Describe the bug**
We are migrating from firewall to using VNET using this document:
https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-configure-vnet-service-endpoint#migrate-from-firewall-to-vnet

Step 5 is "Remove the IP firewall rule for the subnet from the Azure Cosmos DB account's Firewall rules."

However, when attempting to do this using Azure CLI, I get the error:
ArgumentParseErro

[2020-09-24 21:11] Drewm3 commented on #13974
This is a bug, and we are working with the dev team to understand the fix timeline.

[2020-09-24 21:31] MehaKaushik commented on #15291
Hey @Craigmeister68 thanks for reporting this. Let me debug this. As a temporary work around you can use Powershell module Az.CosmosDB to do the same.

[2020-09-25 00:14] justinyoo commented on #13777
@panchagnula This is what I ran:

[code]

This is what I get:

[code]

As you can see, I've got all double quotes escaped, and leading and trailing double quotes. I suspect that the original XML string is JSON serialised with that `---xml` option.

[2020-09-25 00:16] panchagnula commented on #13777
Thanks @justinyoo to confirm if you run the same command with --output tsv at the end the return object is formatted as true XML?

[2020-09-25 00:19] justinyoo commented on #13777
@panchagnula If I put the `--output tsv` at the end, then the escaping goes away.

[2020-09-25 01:48] houk-ms commented on #14976
yeah, I think we'd better leave the issue opened here,so that our issue fixing prs can be referenced here to track our progress :)

[2020-09-25 02:14] qwordy commented on #15264
@enigmae Can you add --debug to your command and post output here?

[2020-09-25 02:20] qwordy commented on #15265
My result.
[code]
Can you add `--debug` to your command to check the request and response?

[2020-09-25 02:39] yungezz commented on #15289
thanks for reporting, this is a feature request, will plan it acoordingly.

[2020-09-25 02:41] yungezz commented on #15285
we're blocked by merging of PR https://github.com/Homebrew/homebrew-core/pull/61520 at homebrew side, it's closed now. Hopefully it will available soon. @fengzhou-msft  to share latest update.

[2020-09-25 02:53] panchagnula commented on #15236
@FlourishS I am not sure I understand the issue here - what exact deployment are you referring? GitHub deployment/ git hub actions? can you share the screenshot from azure portal you are referring to? Thanks!

[2020-09-25 02:55] panchagnula commented on #15271
@btardif can you assign this back to me once the new API is swagger ready & merged to rest-api-specs - then we can proceed with Python SDK deployment and use with CLI. Thanks!

[2020-09-25 02:57] panchagnula commented on #15269
@calvinsID with the current deployment rolling we can probably do this this sprint. Thanks!

[2020-09-25 02:58] fengzhou-msft commented on #15285
@stefje-nd 2.12.0 is available now for homebrew. You can run `az upgrade` to update.

[2020-09-25 03:00] panchagnula commented on #15240
@prajyot-joshi-kr Is this operation failing from CLI only & works from other clients. If this fails with portal as well - I recommend opening a support ticket directly so the API folks can engage on the issue. Thanks!

[2020-09-25 03:07] panchagnula commented on #15194
closing this to be handled with the Error handling by the issue #14287

[2020-09-25 03:07] #15194 closed

[2020-09-25 03:09] panchagnula commented on #15259
@btardif can you help me figure out if the current implementation on CLI - and why this is not limited to localhost?

[2020-09-25 03:10] panchagnula commented on #15235
Thanks for reporting we will add support to this in upcoming milestones.

[2020-09-25 03:12] panchagnula commented on #15226
This is currently by design and not supported.

[2020-09-25 03:12] #15226 closed

[2020-09-25 03:14] panchagnula commented on #15201
@btardif as per our discussion az webapp up has restrictions and follows the same rules it follows for create + deploy with az webapp up i.e .netcore defaults to windows. happy to have discussion to change design - but keep it consistent and avoid causing more confusion. for deployments we have az webapp config deployment - zip deploy commands & that should be used.

[2020-09-25 03:17] panchagnula commented on #15108
@calvinsID when you get a chance can you check this error "Max retries exceeded with url: /api/deployments/latest (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x07061290>: Failed to establish a new connection: [Errno 11001] getaddrinfo failed',))" seems like the command is failing trying to make a call to the Kudu for checking status of deployment.

[2020-09-25 03:20] panchagnula commented on #15009
thanks for the update @perkops - have you tried to add a wait b/w the two create calls when calling via DevOps? Also if you repro this again can you run both CLI commands in AzureDevops with --debug at the end so we can get a stack trace & see if we can capture more info? Please feel free to re-activate when you have more info.

[2020-09-25 03:20] #15009 closed

[2020-09-25 03:21] panchagnula commented on #14909
@ThejaChoudary were you able to repro this? Any updates?

[2020-09-25 03:27] panchagnula commented on #14729
@singlessis can you see if can repro this with a bad password & check if we can fix the error message in CLI? Thanks!

[2020-09-25 03:31] panchagnula commented on #14521
@sivakumarss can you share the name of he RG you were using here - since this error is from our API validation that says that the RG is not in the expected format. Thanks!

[2020-09-25 03:32] panchagnula commented on #14319
Closing this to be tracked with the uber error handling bug linked above

[2020-09-25 03:32] #14319 closed

[2020-09-25 03:33] panchagnula commented on #14264
@calvinsID can we close this if this doesn't repro anymore? Thanks!

[2020-09-25 03:34] panchagnula commented on #14142
still waiting for Python SDK to be published.

[2020-09-25 03:37] panchagnula commented on #13647
@zsolt-halo any updates here?

[2020-09-25 03:38] sivakumarss commented on #14521
I don't remember the Resource Group now.  It is used when developing app using Azure Sandbox environment.
I resolved it by using Power shell.

[2020-09-25 05:00] kingadit opened #15300 "Unable to install kubectl"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli --install-location={}`

## Expected Behavior

## E

[2020-09-25 06:44] chirangaalwis opened #15302 "[AKS] AKS cluster deletion should remove the entry in Kubernetes client configuration"
**Is your feature request related to a problem? Please describe.**
No, this feature request is not related to a problem. But probable, related issues have been discussed in https://github.com/Azure/azure-cli/issues/7040 and https://github.com/MicrosoftDocs/azure-docs/issues/8070.

**Describe the solution you'd like**
The suggestion is to remove the Kubernetes client configuration file (for example

[2020-09-25 06:53] FlourishS commented on #15236
Thank you very much for your reply.

Please see below the screenshots from azure portal:

![image](https://user-images.githubusercontent.com/40595784/94235772-5d67de00-ff0c-11ea-9ffd-a0e5b8de2e62.png)

![image](https://user-images.githubusercontent.com/40595784/94235871-8e481300-ff0c-11ea-8237-e65927cce76a.png)

[2020-09-25 07:01] mstavrev opened #15303 "Huge delay after creation of NSG and 'az network nsg list' showing it"
Hello,

I am creating an AKS instance using Terraform (via its azurerm module). Nothing fancy, using the defaults.
Once the AKS creation had been completed successfully, I can see via Azure Portal the NSG automatically created by AKS.

However, the NSG is not apprearing on the list provided by  'az network nsg list' no matter if I specify the correct RG or leave it to list all NSGs.
The same is tr

[2020-09-25 07:23] haroldrandom commented on #15134
On  the CLI side, there is no extra code to process before calling HTTP request but just invoking the correcponding Cognitve service client and call the API directly. I think some potential problems might occurs in server side.

[2020-09-25 07:31] prajyot-joshi-kr commented on #15240
It is failing only for the CLI client, when trying with Portal things are working as expected.

[2020-09-25 07:40] HMatsumura opened #15305 "urllib3.exceptions.LocationParseError when proxy setting has un-safe characters"
**Describe the bug**
If proxy username/password has un-safe characters (like "\"), az login is failed due to URL parsing error by urllib3.

[code]

**To Reproduce**
In Windows OS and using PowerShell.
1. set the following variables (with un-safe character.)
e.g.)
[code]

2. run `az login` and sign-in operation

**Expected behavior**
Doesn't happen this error. Users can use un-safe characters.
(If

[2020-09-25 07:49] qwordy commented on #15138
Asking SDK team for SDK release.

[2020-09-25 07:50] rajaprad commented on #15226
@panchagnula  - What is the alternative for this design ? when will it be supported ?

[2020-09-25 08:32] yungezz commented on #15054
[Swagger bug](https://github.com/Azure/azure-rest-api-specs/pull/10813) fixed, SDK released https://pypi.org/project/azure-mgmt-compute/13.1.1/ hi @qwordy could you pls pick up this work again? thanks.

[2020-09-25 08:44] qwordy commented on #15054
OK

[2020-09-25 09:08] #15144 closed

[2020-09-25 09:09] #15016 closed

[2020-09-25 09:35] jl-ms commented on #13853
We are looking into this. Thanks for the feedback, @geoarchitect .

[2020-09-25 10:41] yonzhan commented on #15288
add to S176

[2020-09-25 11:02] yonzhan commented on #15300
aks

[2020-09-25 11:05] yonzhan commented on #15302
AKS

[2020-09-25 15:06] yonzhan commented on #15303
add to S176

[2020-09-25 15:11] yonzhan commented on #15305
add to S176

[2020-09-25 21:58] ianhelle commented on #15212
@jiasli - I understand the not supporting pip install for the whole of azure-cli and using separate environments, etc. but why is azure-cli-core even available on PyPI if you don't support installing with pip?
There's still the question that azure-identity now has AzureCliCredential support but in the current state of things you cannot use it in a supported way because it's impossible to have azur

[2020-09-25 23:22] #14264 closed

[2020-09-26 02:58] DAD713 commented on #15133
Worked perfectly, thanks for the quick fix

[2020-09-26 04:09] JsHuang opened #15312 "az group failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group {}`

## Expected Behavior

## Environment Summary
[code]
## Additional

[2020-09-26 08:29] yonzhan commented on #15312
add to S176

[2020-09-26 11:46] #14913 closed

[2020-09-26 14:47] jiasli commented on #15212
I will leave this question to @fengzhou-msft who is working on CLI release pipeline.

The dependency of MSAL is for VM SSH. @arrownj will bump the MSAL version accordingly and test with the latest MSAL. Hope this will unblock you.

May I know how the dependency is using Azure CLI? Ideally it should also use sub-process like `AzureCliCredential` does.

`az` is supposed to be visible on the `PATH`.

[2020-09-26 15:15] jiasli commented on #10250
The original issue description was replaced with the contents from https://github.com/Azure/azure-rest-api-specs/issues/10250 by @azure-sdk and got reopened. Is the bot going nuts?

[2020-09-26 15:24] #10250 closed

[2020-09-27 01:28] yungezz opened #15313 "azure cli such as az upgrade run un-signed powershell scripts"
**Describe the bug**

az upgrade run un-signed poewrshell scripts, this will cause problem in high secure clouds. We need either way in below
- powershell execution policy check
- sign the script

Also, pls help to check **ALL** all scripts running in Azure CLI, to make sure it could work in air-gapped clouds. thanks.

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional

[2020-09-27 01:28] yungezz commented on #15313
let's pick this up in S176, hopefully we can release in S177.

[2020-09-27 01:45] haroldrandom commented on #13901
Closed as inactive

[2020-09-27 01:45] #13901 closed

[2020-09-27 02:01] houk-ms opened #15314 "Fix non-actionable code bugs: Core"
This issue is used to track the process of fixing non-actionable errors in CLI core.

[2020-09-27 02:01] yungezz commented on #15303
This might be a AKS proxy service management issue.

[2020-09-27 02:04] yungezz commented on #15300
This should due to Cloudshell permission issue, no way to change system files in cloudshell

[2020-09-27 02:06] houk-ms commented on #15314
**Error message is suppressed.**

Command arguments: ['adp', 'data-pool', 'create', '--account-name', 'adptest23', '--data-pool-name', 'dp2', '-g', 'rptest2', '--subscription', 'adp_dev_playground1', '--locations', 'name=westeurope', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x03E8B8E8>, <function OutputProducer.on

[2020-09-27 02:21] yungezz commented on #15314
starts working on it in S176

[2020-09-27 02:31] #14127 closed

[2020-09-27 23:29] bacmodung commented on #15279
vhgfh

[2020-09-28 02:28] theasphaltworld opened #15320 "az cli 2.12.0, no matter what command I run, always throws " ValidationError:""
**Describe the bug**

I can successfully do az login, and select my subscription, but no matters what I do next, like az group list, it throws error in red
"ValidationError:"

tried with powershell, windows terminal, CMDer

**To Reproduce**

az login, az account set -s
az group list

**Expected behavior**

**Environment summary**

azure-cli                         2.12.0
windows 10 1909

**Additio

[2020-09-28 02:33] jiasli commented on #15320
Could you run the command with `--debug` and share the output?

[code]

[2020-09-28 02:38] theasphaltworld commented on #15320
Command arguments: ['group', 'list', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x033DC8E8>, <function OutputProducer.on_global_arguments at 0x0356AD68>, <function CLIQuery.on_global_arguments at 0x0358FD68>]
Event: CommandInvoker.OnPreCommandTableCreate []
Modules found from index for 'group': ['azure.cli.command_m

[2020-09-28 03:29] jiasli commented on #15320
This seems to be the same issue as #5548, #6147, #6957.

There are actually 2 issues:

1. The actual error is hidden
2. ADAL raises `adal.adal_error.AdalError: More than one token matches the criteria. The result is ambiguous.`

[2020-09-28 03:34] jiasli commented on #15320
## The actual error message is hidden

The original issue gives an incorrect error (`TypeError`) because `in` has higher [precedence](https://docs.python.org/3/reference/expressions.html#operator-precedence) than `or`, thus

[code]

raises

[code]

Instead, it should be

[code]

Thus, the original error is replaced by `TypeError`.

Even though in the current code the error detail is extracted firs

[2020-09-28 03:44] theasphaltworld commented on #15320
Hi, After run Az account clear, it seems fine now

[2020-09-28 03:44] #15320 closed

[2020-09-28 03:47] jiasli commented on #15320
@theasphaltworld, if the issue happens again, do you mind sharing your `~/.azure/accessTokens.json` to my email address <my_github_username>@microsoft.com? Please remove sensitive information `accessToken` and `refreshToken`. Thank you very much.

[2020-09-28 03:57] jiasli commented on #15320
Checked the [code from ADAL](https://github.com/AzureAD/azure-activedirectory-library-for-python/blob/be39feb3d1037ac6a45e2e2147f451228afc5fd3/adal/cache_driver.py#L103-L124), it look like sometimes there is more than one entry that matches `_clientId`, `userId`, `resource` and `_authority`.

[code]

@rayluo, just wondering if you have seen this issue before in ADAL. Thanks.

[2020-09-28 04:54] fouskarinis opened #15323 "Failure to create Kubernetes Cluster via Azure CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
az aks create --resource-group AzureMOLCh19 --name MOL-AKS --node-count 2 --vm-set-type VirtualMachineScaleSets --zones 1 2 3 --no-wait

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-09-28 05:30] ibidani commented on #14694
my suggestion is to refer on this page https://docs.microsoft.com/en-us/azure/app-service/configure-common#edit-in-bulk
where appsettings syntax is explained
https://docs.microsoft.com/en-us/cli/azure/webapp/config/appsettings?view=azure-cli-latest#az_webapp_config_appsettings_set

[2020-09-28 05:44] #15054 closed

[2020-09-28 05:48] yonzhan commented on #15323
aks

[2020-09-28 06:00] Hidden-22 opened #15326 "Not found 'antlr4' module when run command of `az vm availability-set ` in azure cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm availability-set list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm availability-set list`

## Expected Behavior

## Envir

[2020-09-28 06:03] jiasli commented on #14397
I agree that in `az configure --list-defaults`, the overridden value should not be displayed.

However, it is the behavior of Linux Bash to be **case-sensitive** for environment variables:

[code]

Note that `AZURE_DEFAULTS_GROUP` and `AZURE_DEFAULTS_group` exist at the same time.

On the contrary, Windows PowerShell is **case-insensitive** for environment variables:

[code]

In order for Azure CL

[2020-09-28 06:31] krish-gh commented on #15226
It is recommended to use separate WebApps. If cost is the concern, you can use same 'app service plan' for multiple web apps.

[2020-09-28 08:32] GSYankov opened #21037 "Unable to deserialize to object: type, KeyError: 'FlowAccessControlConfiguration'"
### Extension name (the extension in question)
logic

### Description of issue (in as much detail as possible)
If to Settings => Workflow settings => Access control configuration of an Azure Logic App had been added an IP,
`az logic workflow show --resource-group "rgName" --name "laName"`, returns the following error:

[code]
The deletion of this IP doesn't solve the error, a possible way to recov

[2020-09-28 08:38] djcse opened #15329 "Auto scale on app service not using cli command not working"
Below command for auto-scaling on memory usage returning the "UnsupportedMetric"] error

az monitor autoscale rule create --resource-group $COMMON_RESOURCE_GROUP_NAME   \
  --subscription $ARM_SUBSCRIPTION_ID   \
  --resource $WEBAPP_NAME   \
  --resource-type 'Microsoft.Web/sites'   \
  --autoscale-name "testing"  \
  --condition "Percentage memory > 70 avg 5m"  \
  --scale out 1

---
#### Docume

[2020-09-28 08:41] georak opened #15330 "Cannot create disk"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az disk create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az disk create -g {} -n {} --source {} --size-gb {}`

## Expected Behavio

[2020-09-28 09:14] timvanderweijde commented on #15011
@bim-msft Goodmorning. Do you have any update on this issue?

[2020-09-28 09:20] yonzhan commented on #15011
@yungezz for awareness.

[2020-09-28 09:20] yonzhan commented on #15329
add to S177

[2020-09-28 09:48] yungezz commented on #15011
hi @timvanderweijde ,when you run below command, are the logged in user identity same as identity created by `az identity`?
[code]

Unfortunately, @bim-msft is on long vacation now.

[2020-09-28 10:37] richeney commented on #14397
100% agree with Bash only honoring the all caps AZURE_DEFAULTS_GROUP.

AZURE_DEFAULTS_group isn't honored by the az commnds, as per the text in Example 2.

But if AZURE_DEFAULTS_group is set as an env var then the value was erroneously reported by the `az configure --list-defaults` command. The problem is only with the logic in that specific command.

[2020-09-28 12:00] PtrKllr opened #15332 "AZ webapp list --> error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-09-28 13:13] yonzhan commented on #15332
webapp

[2020-09-28 13:23] jsacapdev opened #15333 ""DEV" parameter value breaks az deployment group create"
**Describe the bug**

Using DEV as a parameter  naming convention breaks `az deployment group create`

**To Reproduce**

Take the following template:

[code]

And run the following command:

`az deployment group create --name $(uuidgen) --resource-group euw-apipt-dev-rg-02 --template-file ./azuredeploy.json --debug`

Comes back with the following error:

[code]

Change the parameter `environmentNa

[2020-09-28 13:40] yungezz commented on #15332
hi @PtrKllr could you pls try uninstall firstly, then install latest Azure CLI? This is an known issue in #14011

[2020-09-28 13:40] yungezz commented on #15330
hi @georak  could you pls try uninstall firstly, then install latest Azure CLI? This is an known issue in #14011

[2020-09-28 13:42] yungezz commented on #15326
hi @Hidden-22  could you pls try uninstall firstly, then install latest Azure CLI? This is an known issue in #14011

[2020-09-28 15:17] #15333 closed

[2020-09-28 15:21] textminer opened #15334 "Can not create Azure docker container using AZ Container Create"
## Describe the bug
az container create breaks while trying to create a docker container.

**Command Name**
`az container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
- _Put any pre-requisite steps here..._
- `az login`
- `az container create --name skh-cdqa-container-dev --re

[2020-09-28 20:11] sonic1981 commented on #12710
Reported here as well https://github.com/Azure/azure-cli/issues/13655

[2020-09-28 20:18] sonic1981 commented on #13655
I'm starting to think that this is caused by some timing issue. It seems if you make any changes to the function, the upload basically fails for a period of time. Then it will start working again. This seems like a really poor user experience at best.

I've seen a few posts about proxys. I'm not behind a proxy yet have had this issue for multiple days now. This really needs a fix

[2020-09-28 20:33] shurd commented on #13808
Closing this issue as the error messaging was improved in CLI release 2.12.0 as Meha mentioned. Please re-open or open a new issue if the problem persists.

[2020-09-28 20:33] #13808 closed

[2020-09-28 20:38] shurd commented on #13686
To provide an update, the updated connection string for Mongo 3.6 accounts has been merged and is awaiting deployment from the service side. Based on current deployment cycles, we expect it to be deployed around mid to late October.

[2020-09-28 21:30] chenlomis opened #15335 "Not sure I understand the local context error"
**Describe the bug**
Interesting... not sure if local context worked or not...
![image](https://user-images.githubusercontent.com/30876406/94488104-df6b3780-0196-11eb-94d3-1733ef8aea41.png)

**To Reproduce**
![image](https://user-images.githubusercontent.com/30876406/94488145-f3169e00-0196-11eb-94bd-c163471965d1.png)

**Expected behavior**
1) Output from az config param-persist that either it's su

[2020-09-28 23:11] rayluo commented on #15320
@jiasli Sorry I have not. By the way, ADAL Python's successor - MSAL Python - uses a different design which would handle this situation internally without raising an exception. Assuming Az CLI is going to adopt MSAL (even just indirectly), you might not need to invent a new error type for this.

[2020-09-28 23:31] christopher-o-toole opened #15336 "Don't use naïve datetime objects in CLI telemetry"
**Describe the bug**

[`datatime.utcnow()`](https://docs.python.org/3/library/datetime.html#datetime.datetime.utcnow) returns a [naive datetime object](https://docs.python.org/3/library/datetime.html#aware-and-naive-objects) instead of an aware current UTC datetime.    [`datetime.now(timezone.utc)`](https://docs.python.org/3.8/library/datetime.html#datetime.datetime.utcnow) should be used instead.

[2020-09-28 23:38] yungezz commented on #15336
hi @houk-ms could you pls take a look? thanks.

[2020-09-29 00:10] yungezz commented on #15335
hi @arrownj could you pls have a look? thanks

[2020-09-29 00:11] yungezz commented on #15334
cc @fengzhou-msft for awareness

[2020-09-29 00:27] arde0708 opened #15338 "Test Failing despite raising a CLI error"
Context for the test : Create a db server. Attempt to recreate another server with the same name and it should throw a CLI error. I am trying to test the above behavior.

In the test, I am using the instructions here for validating the message returned in the CLI error :
https://github.com/Azure/azure-cli/blob/dev/doc/authoring_tests.md#sample-9-assert-specific-error-occurs

I do see the CLI error

[2020-09-29 01:48] yonzhan commented on #15338
add to S177

[2020-09-29 01:53] houk-ms commented on #15336
Yes, already sync it with @christopher-o-toole, will open a pr to fix it.

@fengzhou-msft Are there any considerations we didn't use aware datetime before?

[2020-09-29 05:22] houk-ms commented on #15335
Currently, **CLIError** message will be prefixed with the 'ValidationError', but I have no idea why the message is blank.

As we discussed, the 'ValidationError' will not shown to users any more unless we know it's a **ValidationError**.

[2020-09-29 05:41] chenlomis commented on #15215
Sounds good
Thanks for the resolution!

[2020-09-29 05:41] #15215 closed

[2020-09-29 05:58] qwordy commented on #14642
Hi guys, does RemoveRunCommandLinuxExtension or RemoveRunCommandWindowsExtension solve your problem?

[2020-09-29 06:21] qwordy opened #15343 "Fix sql test"
**Describe the bug**

https://clitestresultstac.blob.core.windows.net/20200926-214150-475111/sql.report.parallel.html
Some test cases access resource groups without creating them. So they fail.
E.g. azure/cli/command_modules/sql/tests/latest/test_sql_commands.py::SqlManagedInstanceOperationMgmtScenarioTest::test_sql_mi_operation_mgmt
Sql team, can you help fix them?

**To Reproduce**

**Expected b

[2020-09-29 06:27] djcse commented on #15329
I am still finding issue with the condition -

--condition "Percentage memory > 70 avg 5m"

[2020-09-29 06:31] nadesu commented on #14642
It works with the provided work-around. When the issue is present, we run 'az vm run-command invoke -g MyResourceGroup -n MyVM --command-id RemoveRunCommandLinuxExtension' that will remove the extension. When the RunCommand is re-run, the extn is automatically installed and the flow goes through.
However, I will suggest that the time-out is honoured and make the above steps transparent to the clie

[2020-09-29 06:35] yonzhan commented on #15343
sql test

[2020-09-29 06:50] qwordy commented on #15265
Your log:
[code]
My log:
[code]
The only difference is subscription.
Can you try `GET https://management.azure.com/subscriptions/1fd1d0ad-a457-4f28-a2e7-810438683bc1/providers/Microsoft.Compute/skus?api-version=2020-06-01`

[2020-09-29 07:13] qwordy commented on #14642
Hi service team, can you confirm that service doesn't honor the 90 min timeout defined in doc?
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/run-command#restrictions
And if it is a bug, please fix it. Thanks!