[2020-07-12 01:41] yugangw-msft commented on #14298
Bin, please investigate

[2020-07-12 07:08] qianwens commented on #14302
@jongio @jiasli , this behavior is by design that CLI will build a subscription level scope if there is no scope specified https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/role/custom.py#L181
You need to specify --all to list all the assignments under the current subscription.
I agree that this behavior is not intuitive for the customer, but fix this issue may ca

[2020-07-12 07:14] jongio commented on #14302
I have confirmed that using the --all switch returns the role:

Do we have tests in place to see if this will cause a breaking change to make --all the default?

I personally, an avid CLI user and my customer, a novice CLI user, could not figure this out.  I strongly suggest that we make --all the default to avoid these types of situations. In fact, I had to engage multiple on-call support teams,

[2020-07-12 08:14] dvgamerr opened #14328 "400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create -g {} -n {} --generate-ssh-keys --attach-acr {}`

## Expecte

[2020-07-12 08:54] AftabSaraz commented on #14089
Ok sure, let me update Azure CLI. Thank you.

[2020-07-12 12:05] yonzhan commented on #14328
aks

[2020-07-12 16:58] HQJaTu commented on #7646
Sure. On an OpenSuse machine go for a: `zypper install azure-cli` and see how everything gets tangled.

[2020-07-12 20:00] PaulCharlton commented on #12903
+1 -- same issue.    "network-policy add" does not work for this purpose either.

[2020-07-13 01:43] qwordy commented on #13602
I don't think this issue is resolved. And it not only happens in this command.

[2020-07-13 01:56] haroldrandom commented on #13417
Close as https://github.com/Azure/azure-cli/issues/14301

[2020-07-13 01:56] #13417 closed

[2020-07-13 01:57] zhoxing-ms commented on #13768
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-07-13 01:57] #13768 closed

[2020-07-13 02:23] yungezz commented on #14328
hi @dvgamerr did you meet the error in Cloudshell? If yes, it's a  known Cloudshell issue #11749 . You can run `az login` to workaround the issue.

[2020-07-13 02:24] yungezz commented on #14325
hello @profedsonbelem could you pls be more specific about the ask? Thanks. Is it same with https://github.com/Azure/azure-cli/issues/14326?

[2020-07-13 02:25] yungezz opened #14330 "add documentation link in .local-context file"
**Describe the bug**

Add a documentation link in .local-context file.

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-07-13 02:25] yungezz commented on #14330
This is to provide more info for  user who want to learn more about the file.

[2020-07-13 02:32] fengzhou-msft commented on #13235
Right. And we have a [troubleshooting section](https://github.com/Azure/azure-cli/blob/dev/doc/install_troubleshooting.md#errors-on-install-with-cffi-or-cryptography) in case libffi is missing after installation on some old systems.

[2020-07-13 02:44] fengzhou-msft commented on #13505
@mithuns1986 any update? How about running `pip install azure-cli` directly instead of using the https://aka.ms/InstallAzureCli script?
The recommended way is to use the RPM package. Since you already have a Python 3.6 installed, you can just install azure-cli with no dependency as instructed in https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-yum?view=azure-cli-latest#install-on-rhel-

[2020-07-13 02:49] #13660 closed

[2020-07-13 03:00] yungezz commented on #13887
thanks for confirmation. Routing to CLoudshell team to continue looking at it.

[2020-07-13 03:04] qwordy opened #14332 "--no-wait (1) CLI always returns 0 even HTTP status code is not 200 (2) CLI should return a "polling object""
**Is your feature request related to a problem? Please describe.**

- The CLI should return a "polling object", a json response which has the operation ID that can be queried for the completion status
- The CLI should return non-zero when the http API returns non-200

This issue is reported by Michael Requa

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Addit

[2020-07-13 03:04] fengzhou-msft commented on #13773
@Tanusree7 are you on WSL? Please follow the instructions to fix the issue:https://github.com/Azure/azure-cli/issues/14011#issue-640943121.

[2020-07-13 03:07] yonzhan commented on #14332
Core

[2020-07-13 03:28] yungezz commented on #14332
What's the current behavior? Is this compute specific?

[2020-07-13 03:29] yungezz commented on #14318
hi @Newlearns did you meet the error in Cloudshell? If yes, could you pls try 'az login` to workaround? This is a known issue in Cloudshell #11749 . They're working on fixing.

[2020-07-13 03:31] yungezz commented on #14322
hi @Kalyan-Alamuru could you pls try `az login`  to see if it workarounds your issue? If you meet the error in Cloudshell, it's related with #11749.

[2020-07-13 03:43] jiasli commented on #14299
This is a known issue of Git Bash that it translates a resource ID like `/subscriptions/xyz/resourceGroups/rg-test-001/providers/Microsoft.DBforPostgreSQL/servers/psql-test` to a Windows path, thus corrupting Azure CLI commands. (https://github.com/Azure/azure-cli/issues/6545#issuecomment-644025439)

Please see [Use Azure CLI with Git Bash](https://github.com/fengzhou-msft/azure-cli/blob/ea149713d

[2020-07-13 05:41] PaulCharlton commented on #12903
Is there any means via the az CLI to set the "defaultAction" in the resource below?    I have only been able to change it manually via the online portal.

`az eventhubs namespace network-rule list --resource-group {redacted} --namespace-name {redacted}`

`{
  "defaultAction": "Deny",
  "id": "/subscriptions/{redacted}/resourceGroups/{redacted}/providers/Microsoft.EventHub/namespaces/{redacted}/net

[2020-07-13 06:21] qwordy commented on #14332
I am looking at it.
[code]

[2020-07-13 06:30] zhoxing-ms commented on #12766
@tstibbs
Hi, I have submitted a PR #14333 that make the command `az storage blob upload` can support setting access tier for block blob, like:
[code]

However, for command `az storage blob upload-batch`, I personally think that there are not many scenarios where access tier needs to be set, because this must ensure that all the blobs uploaded in the same batch need the same access tier.
May I ask

[2020-07-13 08:46] yene opened #14337 "az acr import does not support tag and digest"
**Steps:**
[code]

**Result:**
Invalid value k8s-artifacts-prod/ingress-nginx/controller:v0.34.0@sha256:56633bd00dab33d92ba14c6e709126a762d54a75a6e72437adefeaaca0abb069 for property parameters.Source.SourceImage for resource name acrbobdepsmirror. Kindly refer to the docs: https://aka.ms/acr/import

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2020-07-13 08:47] zhoxing-ms commented on #13784
@Mounika-M776 Hi, in fact, the `--management-group\-m` parameter can specify the scope of management group
[code]
It seems that your usage is correct:

The problem now is that you use `-m` but it doesn't have the effect of limiting management group?

[2020-07-13 09:04] tstibbs commented on #12766
@zhoxing-ms thanks for looking at this. Regarding `upload-batch` I generally find that everything I upload in a batch is going to the same tier, so for me it makes sense to have the option there too. If uploading as a batch, it normally means I've got a load of files on disk that I want to transfer into a blob all in one go, and normally therefore the tier is likely to be the same. Specific use-ca

[2020-07-13 09:07] zhoxing-ms commented on #13786
@wahyuen Hi, could you please show me the specific parameters you used? please add `--debug` to the original command and email the printed information to me~
My email address is Zhou.Xing@microsoft.com, thanks~

[2020-07-13 09:09] spatialman commented on #14299
Thanks for the workaround...

[2020-07-13 09:15] zhoxing-ms commented on #13835
@plzm Hi, this problem will not appear in the latest version. Could you please upgrade the version of CLI to the latest version (2.8.0) and have a try?

[2020-07-13 09:26] pvrk commented on #14261
@asnogordo : Ah yes. You have to wait for the cool down to move VMs from one vault to another. If this is something you want, you can let me know and I will treat this as a feature request (move VMs from one vault to another without waiting for cool down). When you want to move, you want earlier backups to be deleted or retained?

[2020-07-13 09:57] yonzhan commented on #14337
acr

[2020-07-13 10:54] nidhyn commented on #11017
@c-mccutcheon @cjmcewan  If you are still like to hear what the issue is, What I got from Microsoft is that the system is whitelisting the private IP of the Azure Vm instead of the public IP. And it is not always that case, 2/10 attempts gets successful. But that's a shame. We resolved the issue with a custom agent in the same vnet.

[2020-07-13 11:02] cloudengineers opened #14339 "Azure cli command to download the latest report"
Hi All,
Can someone please help me on the below query?
I am running a smoke test on my Azure VM, all the generated smoke test results reports will be saved on the Azure blob storage in the following format:
SmokeTest{{ BUILD_NUMBER }}_{{ ENV }}_{{DATE_TIME}}.html
I always need to download the latest file and send it to team? Is there any az command to download the latest report?
Thank you

[2020-07-13 11:20] VijayRod opened #14340 "Add --disable-aad to az aks update"
**Is your feature request related to a problem? Please describe.**
az aks update has --enable-aad, no disable-aad. https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/acs/_help.py/

**Describe the solution you'd like**
please add --disable-aad to az aks update

**Describe alternatives you've considered**
NA

**Additional context**

[2020-07-13 12:04] yonzhan commented on #14339
add to S174

[2020-07-13 12:05] Juliehzl commented on #14339
Hi @cloudengineers, you can consider `az storage blob download` to download it.

[2020-07-13 12:06] yonzhan commented on #14340
aks

[2020-07-13 13:59] cloudengineers commented on #14339
@ Juliehzl --> i am already using that command, but i need to download only latest report only

[2020-07-13 14:03] mateustanaka commented on #14275
Today I’m receiving the following error when try to `az login -u username -p password`

[code]

[2020-07-13 15:30] mtricolici commented on #11567
How do you close the issues without solutions? I have exactly the same damn issue and I don't know how to fix it.

[2020-07-13 16:08] spatialman commented on #14299
Since we have workaround, i am closing this issue...

[2020-07-13 16:08] #14299 closed

[2020-07-13 16:46] mtricolici commented on #11567
If you are running this in linux then workaround is: in your default browser install an extension that changes user agent....
set it to a windows user agent.. azure portal think you're on windows.. and accepts it.

[2020-07-13 16:52] toddysm commented on #14337
Thanks @yene for reporting this. @yugangw-msft Would you mind taking a look?

[2020-07-13 17:00] #13825 closed

[2020-07-13 17:04] yugangw-msft commented on #13365
Yes, we can have the command to take a helm3 command line and drive the authentication flow. Let us discuss with the team and update here

[2020-07-13 17:11] northtyphoon commented on #13694
@dorfire is there any known issue with "Heroku Buildpacks"?

[2020-07-13 17:12] panchagnula commented on #14264
@calvinsID can you investigate this, especially to check if we have a regression. Thanks!

[2020-07-13 17:37] maertendMSFT commented on #13160
This issue may be resolved with the latest deployment.  I could not repro after a few attempts.  This may be close-able

[2020-07-13 17:39] maertendMSFT commented on #13387
Please close as there is a centralized issue tracking the root of this error.

[2020-07-13 17:41] ilanRosenbaum commented on #12710
I have a very similar issue, is there any consistently working way of deploying Azure functions through the CLI?

[2020-07-13 17:41] maertendMSFT commented on #13393
@astapell this should be fixed in Cloud Shell.  Can you see if it is fixed your your scenario?
If so, please close the issue.
If not, please provide an update here.

[2020-07-13 17:42] maertendMSFT commented on #13425
Please close as this is a duplicate issue.

[2020-07-13 17:43] maertendMSFT commented on #13458
Please close as there is a centralized issue being tracked.

[2020-07-13 17:44] maertendMSFT commented on #13623
This is related to https://github.com/Azure/azure-cli/issues/13855
Can we close this as a duplicate?

[2020-07-13 18:26] pvrk commented on #14279
@yungezz : Sorry for the delay. Acknowledging this. Can you please check for the protectable item by running az backup protectable item list or az backup protectable item show command?

[2020-07-13 18:28] pvrk commented on #14280
@yungezz : Sorry for this experience. We will fix the documentation with the right examples soon.

[2020-07-13 18:31] pvrk commented on #14280
@steharp : Just for information. To get the policy JSON, you can use the [az backup default policy for VM](https://docs.microsoft.com/cli/azure/backup/policy?view=azure-cli-latest#az-backup-policy-get-default-for-vm) command, route it to a file, then edit with necessary values. In this way, you need worry about syntax.

[2020-07-13 18:32] pvrk commented on #14270
@sambitratha : Can you please look into this or assign somebody else accordingly?

[2020-07-13 19:11] nsantin commented on #14279
Hi, Autoprotect is now working

Followed your recommendation for checking the output of *“az backup
protectable-item list” *to identify the values that any *“az backup”* would
expect.

I found that *“server-name”* used in *“az backup protection
auto-enable-for-azurewl” **needs to have the fqdn when joined to a domain*

In other words:

Auto-protection was failing:

az backup protection auto-enable

[2020-07-13 21:27] pvanroos opened #14341 "Tag VM extensions"
Is it possible to tag extensions using az CLI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ebbeb5f-6ab6-3fb3-c969-5d935e60f251
* Version Independent ID: 9d4169c9-f5b5-512a-8061-2234d6dec1eb
* Content: [az vm extension](https://docs.microsoft.com/en-us/cli/azure/vm/extension?view=azure-cli-latest)
* Content Source:

[2020-07-13 21:58] thejohnbackes opened #14342 "Uncaught Exception when adding an address to a load balancer backend pool"
I am unable to add an address to a backend pool via the CLI.

Error:
[code]

https://github.com/Azure/azure-cli/blob/50f3a3750542be0e06c33a28ac43ce7d49cca040/src/azure-cli/azure/cli/command_modules/network/custom.py#L3307

[2020-07-13 22:48] calvinsID commented on #14264
@asw101 Thanks for logging this. I was unable to repro, do you mind sharing what your deployment logs looks like from https://{your webapp}.scm.azurewebsites.net/api/deployments/latest, as well as the logs from running `az webapp up`?

[2020-07-14 00:00] #13387 closed

[2020-07-14 00:02] #13458 closed

[2020-07-14 00:03] #13623 closed

[2020-07-14 00:06] yonzhan commented on #14342
add to S174

[2020-07-14 00:13] yugangw-msft commented on #13415
we can live with this and let the next update on this command pick up

[2020-07-14 00:13] #13415 closed

[2020-07-14 00:17] yugangw-msft commented on #14089
This is less likely on ACR, rather on proxy server. Please run other command to cross check like "az group list".
Meanwhile, i am closing this issue, but please reopen it if it is indeed ACR command issue.

[2020-07-14 00:17] #14089 closed

[2020-07-14 00:19] yugangw-msft commented on #13336
Again, this is not ACR issue

[2020-07-14 00:22] yugangw-msft commented on #13341
Fixed.

[2020-07-14 00:22] #13341 closed

[2020-07-14 00:32] huanwu opened #14343 "The CLI throw the typeerror instead of return the error detail"
https://github.com/Azure/azure-cli/issues/14207
In the above repro, it is expected to display the error message but actually it throw the type error. By dig deep into the issue, I found it was caused by the line
https://github.com/Azure/azure-cli/blob/dev/src/azure-cli-core/azure/cli/core/util.py#L93

It returns a string not a dictionary probably because of the ex.response.text format. If call loa

[2020-07-14 00:41] huanwu commented on #14207
@yugangw-msft I filed another issue by my investigation.  When the status is not expected, it is supposed to throw the error detail. But the cli util failed to parse the error from the ex response.

[2020-07-14 01:43] MyronFanQiu commented on #14342
@thejohnbackes Hey. Sorry for the uncaught exception. To quickly unblock you, before you add one address into the lb, you need a load_balancer_backend_addresses first. Please try `az network lb address-pool create` first. Meanwhile, it should only support Standard lb. I will refine the error message soon.

[2020-07-14 02:10] yonzhan commented on #14343
add to S174

[2020-07-14 02:39] wahyuen commented on #13786
@zhoxing-ms I've emailed the output to yourself

[2020-07-14 02:50] qwordy commented on #13035
Does service validates the request of duplicate IPs?

[2020-07-14 06:03] neelbhavsar97 opened #14345 "[Network] add "az network express-route port generate-loa" for generating Letter of Authorization"
**Resource Provider**

Network

**Description of Feature or Work Requested**

 We have updated the Azure-Powershell with a new Cmdlet.

Changes:
1. Added New-AzExpressRoutePortLOA cmdlet. This cmdlet fetches a pdf document as base64 encoded string in the JSON response from Nfv-RP and saves the pdf on the local machine.

**Minimum API Version Required**

2020-06-01

**Swagger Link**

https://github

[2020-07-14 06:06] neelbhavsar97 commented on #14345
This issue will be re-opened when the feature is required to be added to Az-CLI.

[2020-07-14 06:06] #14345 closed

[2020-07-14 06:22] pvrk commented on #13779
@ggg333 : Since the feature is currently in preview, we don't have options for CLI yet. Current plan is to provide around Sept end.

[2020-07-14 06:27] qwordy commented on #13480
Any update?

[2020-07-14 06:34] anduran opened #14347 "Unable to use MSI on Ubuntu"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Hi,

I'm following this guide: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication-managed-identity#example-2-access-with-a-system-assigned-identity on a MSI enabled HDInsight cluster.

I have written my own python code to access AKV today, so I know MSI works on this mac

[2020-07-14 06:44] aki0061 opened #14348 "adding "Storage" as possible option for --destination-address-prefixes"
adding "Storage" as possible option for --destination-address-prefixes

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: afe4941c-7b46-b9fb-1c52-98e68f6354cc
* Version Independent ID: d1bc72fb-ccf9-9645-7b1d-98c91bc75a55
* Content: [az network nsg rule](https://docs.microsoft.com/en-us/cli/azure/network/nsg/rule?view=azur

[2020-07-14 06:48] MyronFanQiu opened #14349 "[Monitor] az monitor metrics alert create: support dynamic thresholds"
RE: Azure Metric Alerts - Proposed CLI Commands. Item 9

[2020-07-14 06:48] galiacheng commented on #1622
Hi @tjprescott I am trying to use `--remove` to remove one of the backendAddresses  and failed, not sure if I passed the parameter in right way.
[code]

Could you please help!

[2020-07-14 06:57] yonzhan commented on #14347
add to S173

[2020-07-14 07:03] galiacheng commented on #1622
I updated az cli with 2.8.0, and it worked with the following command:
`az network application-gateway address-pool update -g oraclevm-cluster-07134 --gateway-name myAppGateway --name myGatewayBackendPool --remove backendAddresses 1'
Still not worked with key=value.

[2020-07-14 07:24] MyronFanQiu opened #14350 "[Monitor] az monitor metrics alert create: Support metric alerts in a resource group"
RE: Azure Metric Alerts - Proposed CLI Commands. Item 12

[2020-07-14 07:25] MyronFanQiu opened #14351 "[Monitor] az monitor metrics alert create: Support metric alerts in a subscription"
RE: Azure Metric Alerts - Proposed CLI Commands. Item 13

[2020-07-14 07:27] mmyyrroonn opened #14352 "[Monitor] az monitor metrics alert create: support metric alert for Application Insights Web Test"
RE: Azure Metric Alerts - Proposed CLI Commands. Item 14

[2020-07-14 07:33] Juliehzl commented on #10353
done

[2020-07-14 07:33] #10353 closed

[2020-07-14 07:59] zhoxing-ms commented on #13860
@christiankuhtz Hi, I tried many times and found that this problem was related to the special character `%2F` in the ID of the privateDnsZones. If the ID of privateDnsZones contains `%2F`(`/`), will report an error when created, like:
[code]
So May I ask why does your resource ID include `%2F`?

[2020-07-14 08:05] yungezz commented on #14341
I don't think it's doable even in portal today. @qwordy could you pls help to have a look?

[2020-07-14 08:17] StingyJack commented on #13428
This is because the presentation of deployment credentials in Azure is very misleading. Being only visible from an app service, without any highlight to say otherwise, it looks like a per app service setting. This command takes no app service name as a parameter.

[2020-07-14 08:17] #13428 closed

[2020-07-14 08:28] qwordy opened #14355 "azdev test --max-retry"
**Is your feature request related to a problem? Please describe.**

Add a parameter `--max-retry`.
[code]

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-07-14 09:25] haroldrandom commented on #14355
Could you put it in Azure/azure-cli-dev-tools repo?

[2020-07-14 09:26] haroldrandom commented on #11431
Add one related issue https://github.com/Azure/azure-cli-dev-tools/issues/215

[2020-07-14 09:49] ChiefInnovator opened #14357 "Classic SKU not available with Container registry."
The documentation lists the available SKUs for the Azure Container Registry as ..

accepted values: Basic, Classic, Premium, Standard

Classic is not a SKU of Container Registry as seen by ...

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-skus

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-07-14 10:06] yonzhan commented on #14348
add to S174

[2020-07-14 10:08] yonzhan commented on #14349
add to S174

[2020-07-14 10:10] yonzhan commented on #14350
add to S174

[2020-07-14 10:11] yonzhan commented on #14351
add to S174

[2020-07-14 10:12] yonzhan commented on #14352
add to S174

[2020-07-14 10:22] yonzhan commented on #14355
add to S174

[2020-07-14 10:26] yonzhan commented on #14357
acr

[2020-07-14 10:48] profedsonbelem commented on #13035
Erro meu, desculpe o transtorno

Em seg, 13 de jul de 2020 às 23:50, Feiyue Yu <notifications@github.com>
escreveu:

--
*Prof e Diretor Técnico  *
*Arquiteto de Solução *
*  Edson Belém*
www.cotiinformatica.com.br, www.blogedsonbelem.com.br
<http://www.edsonbelem.com.br/>
21 98199-0108
*  "Veni, Vidi, Vici"*
*        Júlio César *

is

[2020-07-14 11:16] Alexei-B commented on #13704
@Juliehzl that makes sense to me!

[2020-07-14 11:44] Kotasudhakarreddy commented on #13035
Yes it validate for duplicate IPs.

[2020-07-14 13:20] matendie commented on #14116
I found another issue, same problem, command works in web terminal but it fails in DevOps release pipeline
I'm not sure if your coming up fix will repair this too or not, but figure you may want to know this is widespread issue.

command:
$dlaExists =  az dla account list --subscription $SubscriptionId --query "[?contains(name, '$DataLakeAnalyticsName')].[name]" --output tsv

error output:
2020-07

[2020-07-14 13:29] matendie opened #14359 "cli dla command fails while running in DevOps release pipeline"
**Describe the bug**
I found another issue, same problem, command works in web terminal but it fails in DevOps release pipeline

**To Reproduce**
run CLI command for DLA in powershell inside of DevOps Release Pipeline
command:
$dlaExists = az dla account list --subscription $SubscriptionId --query "[?contains(name, '$DataLakeAnalyticsName')].[name]" --output tsv

error output:
2020-07-14T13:09:25.

[2020-07-14 13:32] yonzhan commented on #14359
add to S173

[2020-07-14 14:07] sschols commented on #12023
@fengzhou-msft sorry for the delay on my part now. Yes, seems like that is the case. Just check it with a fresh install. We use a local mirror of EPEL, which still has it available, but when I use the public version, then there's no normally usable python3 > 3.3 available. I'm pretty much at a loss as what to do about it really 🤷

[2020-07-14 14:45] marlowp opened #14360 "'az network application-gateway waf-policy managed-rule rule-set add' cannot set OWASP 3.1"
**Describe the bug**
When using the Azure CLI to set the managed rule set it is not possible to set it to OWASP 3.1. It always defaults to OWASP 3.0.

**To Reproduce**
Create a waf-policy via:
[code]

Then add a managed rule via:
[code]

**Expected behavior**
The managed rule set should be set to OWASP_3.1 but is instead set to OWASP_3.0

**Environment summary**
azure-cli - 2.9.0

command-modules-

[2020-07-14 16:12] basnijholt commented on #9444
This is still a problem:
https://github.com/Azure/azure-cli/blob/df3943f539d29596abd03dd00b28e06b4eace0e5/src/azure-cli/azure/cli/command_modules/storage/util.py#L32

@Juliehzl, could you reopen this issue? Suggesting to "just use another command" isn't a proper solution IMHO.

[2020-07-14 16:45] pvrk commented on #14279
@nsantin : Thanks for confirming. This can be taken as a generic rule (using az backup list and show commands) to make sure all the parameters are correct. Closing this issue since this is solved.

[2020-07-14 16:45] #14279 closed

[2020-07-14 16:48] nidiculageorge opened #14361 "AKS nodepool add CLI command"
Hi Team,

When running the below command

az aks nodepool add `
    --cluster-name aks-idsemuat1 `
    --name vmseabln2 `
    --resource-group rg-idsemuat-aks `
    --enable-cluster-autoscaler `
    --enable-node-public-ip `
    --kubernetes-version 1.16.10 `
    --min-count 3 `
    --max-count 30 `
    --max-pods 100 `
    --mode System `
    --node-vm-size Standard_B2ms `
    --os-type Linux `

[2020-07-14 16:49] nidiculageorge commented on #14361
[Nodepooladd.zip](https://github.com/Azure/azure-cli/files/4920090/Nodepooladd.zip)
 The file is attached

[2020-07-14 16:54] nidiculageorge commented on #14361
![image](https://user-images.githubusercontent.com/43850474/87453809-ba980700-c620-11ea-8704-7246e3869aa6.png)
I am not getting any errors also

[2020-07-14 17:56] MehaKaushik commented on #11137
This was merged in the last release branch.

[2020-07-14 17:56] #11137 closed

[2020-07-14 19:21] shurd commented on #13820
We have updated the swagger so that the SDK will provide an error message when the account does not exist. This change will be in the next SDK release and then can be applied to the CLI. Target is middle of August release.

[2020-07-14 19:21] shurd commented on #13808
We have updated the swagger so that the SDK will provide an error message when the account does not exist. This change will be in the next SDK release and then can be applied to the CLI. Target is middle of August release.

[2020-07-14 19:23] shurd commented on #13869
Hi @sharan779 sorry for the delay. Could you please share account name either here or by opening on support request via Azure portal? I have not been able to reproduce this error unless the target account does not exist.

We have updated the swagger so that the SDK will provide an error message when the account does not exist. This change will be in the next SDK release and then can be applied to

[2020-07-14 20:41] #11454 closed

[2020-07-14 21:45] fitzgeraldsteele opened #14364 "Update VMO VMSS Support"
**Resource Provider**

Microsoft.compute

**Description of Feature or Work Requested**

Update support for VMSS VM Orchestration mode

- Should only support SPG=false
- Enable PPG + VMO support
- Currently requires whitelisting AFEC flag; show warning that old version is deprecated, new version must be whitelisted

**Minimum API Version Required**

2019-12-01
**Swagger Link**

https://github.com/A

[2020-07-14 21:46] dorfire commented on #13694
Thanks for reporting this @ericmichael!

Seems like it's related to an outdated version of the `pack` CLI tool. I'm working on a new `pack` runner image with pack 0.12.0; I'll let you know if it resolves the issue and post exact instructions.

[2020-07-14 22:06] yonzhan commented on #14360
add to S174

[2020-07-14 22:09] yonzhan commented on #14361
aks

[2020-07-14 22:43] kacperryniec opened #14365 "Not a very user friendly error when the functionapp is not found."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp identity assign`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Try calling `az functionapp identity assing` on a non-existing function app.
- `az functionapp ide

[2020-07-14 22:49] yonzhan commented on #14365
functionapp

[2020-07-15 01:51] jiasli commented on #14322
Hi @maertendMSFT, could you take a look? Shouldn't it have already been fixed on 2020-07-09 according to https://github.com/Azure/azure-cli/issues/11749#issuecomment-655814461?

[2020-07-15 02:14] yungezz commented on #14364
thanks for @fitzgeraldsteele . The ask is tracked.

[2020-07-15 02:20] yungezz commented on #14361
hi @nidiculageorge which terminal you're using? If you're running in bash, you need add `\` at end of each line to split commands over multiple lines.

For the screencut, seems you're using VSCode powershell terminal, you need add ``` at end of each lien to split commands over lines. Could you pls give it a try? thanks.

[2020-07-15 02:21] MyronFanQiu commented on #14348
@aki0061 Thanks for raising this issue. I need some time to check it in detail. I'll keep you posted.

[2020-07-15 02:27] fitzgeraldsteele commented on #13480
With upgraded cli, seems to be working!
[code]
Python location '/opt/az/bin/python3'
Extensions directory '/home/fisteele/.azure/cliextensions'

Python (Linux) 3.6.5 (default, Apr 30 2020, 06:21:47)
[GCC 7.5.0]

[2020-07-15 02:33] qwordy commented on #14355
OK

[2020-07-15 02:33] yugangw-msft commented on #14357
Thanks for reporting this. We will address this in the near future when roll out a new api-version.

Since #11487 was opened to track the same thing, hence I am closing this one.

[2020-07-15 02:33] #14357 closed

[2020-07-15 02:37] qwordy commented on #14355
https://github.com/Azure/azure-cli-dev-tools/issues/230

[2020-07-15 02:37] #14355 closed

[2020-07-15 02:45] zhoxing-ms commented on #13786
@wahyuen Thank you for your feedback. I have located the problem and will submit a PR to fix it

[2020-07-15 02:51] MyronFanQiu commented on #14360
@marlowp Hi. The first managedRuleSets is always 3.0. You can add more 3.1 0.1 managedRuleSets into the waf policy. Service team need a mandatory rule set when we create waf policy. Is it a blocker for you?

[2020-07-15 02:56] qwordy commented on #14341
https://docs.microsoft.com/en-us/rest/api/compute/virtualmachineextensions/createorupdate
"Virtual Machine Extensions - Create Or Update" supports `tags`
But CLI does not support it yet.
It is a reasonable feature request.
Planned in S173.

[2020-07-15 03:20] jiasli commented on #13360
I am not able to reproduce it anymore:

[code]

For SQL service, now both resource IDs are supported:

- `https://database.windows.net`
- `https://database.windows.net/`

If I remember correctly, there is a known issue that some resource providers require the trailing slash `/` while some don't:

https://github.com/Azure/azure-cli/blob/81ff7bfad67383a9d8aba2e2e0bd5a7457b0f8b9/src/azure-cli-core/az

[2020-07-15 03:21] jiasli commented on #13702
Closing. If it still happens, please kindly provide a screenshot.

[2020-07-15 03:21] #13702 closed

[2020-07-15 03:24] qwordy commented on #13480
COOL!

[2020-07-15 03:24] #13480 closed

[2020-07-15 03:31] yugangw-msft commented on #14337
@yene, we don't support using both tag and digest, and you can only use one of them. Because we don't see obvious benefit of supporting the format with both, we are closing it. Feel free to let us know if you have scenarios locked

[2020-07-15 03:31] #14337 closed

[2020-07-15 03:36] jiasli commented on #14152
I can confirm this is a bug introduced by #13782:

https://github.com/Azure/azure-cli/blob/62eb25feac0da927d219321538046faee6882886/src/azure-cli-core/azure/cli/core/util.py#L807-L808

I will fix it as soon as possible.

There is an issue https://github.com/Azure/azure-cli/issues/13653 for allowing installing old versions. Solutions can be found at https://github.com/Azure/azure-cli/issues/13331#i

[2020-07-15 04:09] nidiculageorge commented on #14361
@yungezz I had already given a try with the ` character .I was trying with that only

![image](https://user-images.githubusercontent.com/43850474/87502375-0aa5b680-c67f-11ea-9a01-53d90fc54e69.png)

[2020-07-15 04:21] tejasshah7 opened #14369 "Support for AllowActiveFTP parameter on Azure Firewall"
**Resource Provider**
Network (NRP)

**Description of Feature or Work Requested**
Need to add a new parameter named AllowActiveFTP to the base command of creating the Firewall.
az network firewall create -g MyResourceGroup -n MyFirewall --allow-active-ftp true

Only parameter needed is:
- allow-active-ftp
Default value is false

**Minimum API Version Required**
There is no NRP change so no API ver

[2020-07-15 04:31] #14342 closed

[2020-07-15 04:53] yungezz commented on #14361
Thanks @nidiculageorge for the i nfo. Could you pls try run it in a standalone powershell terminal? instead of vscode? If it works, then issue is in VSCode extension.

[2020-07-15 04:55] nidiculageorge commented on #14361
@yungezz

PS C:\Users\nidicula> az aks nodepool add `
    --cluster-name aks-idsemuat1 `
    --name vmseabln2 `
    --resource-group rg-idsemuat-aks `
    --enable-cluster-autoscaler `
    --enable-node-public-ip `
    --kubernetes-version 1.16.10 `
    --min-count 3 `
    --max-count 30 `
    --max-pods 100 `
    --mode System `
    --node-vm-size Standard_B2ms `
    --os-type Linux `
    --node-

[2020-07-15 04:56] yungezz commented on #14365
https://github.com/Azure/azure-cli/issues/14287

[2020-07-15 04:58] yungezz commented on #14343
cc @houk-ms who work on exception improvement.

[2020-07-15 04:59] nidiculageorge commented on #14361
@yungezz When I ran in a single line

PS C:\Users\nidicula> az aks nodepool add --cluster-name aks-idsemuat1 --name vmseabln2 --resource-group rg-idsemuat-aks --enable-cluster-autoscaler --enable-node-public-ip --kubernetes-version 1.16.10 --min-count 3 --max-count 30 --max-pods 100 --mode System --node-vm-size Standard_B2ms --os-type Linux --node-zones {1,2,3} --vnet-subnet-id '/subscriptions/14b

[2020-07-15 05:05] ahamad-MS commented on #14193
Investigating this issue and will update the thread with findings.

[2020-07-15 05:09] ahamad-MS commented on #14193
This is related to Logic App itself. Trying to find the appropriate owner from Logic App team

[2020-07-15 05:18] yungezz commented on #14361
thanks @nidiculageorge for the info
- Run the command in single line and in multiple line in Powershell directly got same result. So the problem previously you saw: empty output is in vscode. Could you pls open issue at https://github.com/microsoft/vscode/issues to report it
- For the error met in single line execution `az : az aks: 'nodepool' is not in the 'az aks' command group.` . Could you rur

[2020-07-15 05:23] nidiculageorge commented on #14361
![image](https://user-images.githubusercontent.com/43850474/87506559-3b8ae900-c689-11ea-8c9b-530ed8389ea7.png)

@yungezz

[2020-07-15 06:21] techsaau commented on #13362
@yungezz Can you help in this

[2020-07-15 06:33] nidiculageorge commented on #14361
@yungezz I have updated the cli and checked saame issue

[2020-07-15 06:39] haroldrandom commented on #10509
dup https://github.com/Azure/azure-cli/issues/11078

[2020-07-15 07:09] nidiculageorge commented on #14361
@yungezz I think i have identified ,if we add node zone its just going to the next line if we remove node  zones its running,

I am running it in a single line.

Is it because of --node-zone {1,2,3}.

[2020-07-15 07:12] jiasli commented on #13818
`--only-show-errors` was introduced in [2.3.0](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli-core/HISTORY.rst#230). Please make sure you are using the latest version of Azure CLI.

[2020-07-15 07:12] #13818 closed

[2020-07-15 07:13] #13880 closed

[2020-07-15 07:18] jiasli commented on #13987
Could you follow [Get a token using CURL](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-token#get-a-token-using-curl) to get an access token directly with `curl` instead of `az`?

If you are receiving an error using `curl`:

[code]

this simply suggests that Managed Identity is not turned on.

Also see
- [Configure managed identities for A

[2020-07-15 07:21] #14152 closed

[2020-07-15 07:36] #12936 closed

[2020-07-15 07:36] #14196 closed

[2020-07-15 07:46] MyronFanQiu commented on #14167
@Phlak106 I think it's a service limitation. Let me invite service team to check.

[2020-07-15 07:48] #14283 closed

[2020-07-15 07:48] MyronFanQiu commented on #14167
@anavinahar  Could you please take a look at this issue?

[2020-07-15 07:52] swathi-muthiyam commented on #11695
Hello ,
Is the fix already identified?   I get same exception for the below command.
az functionapp identity assign --resource-group $resourceGrp --name $funcAppName

The command failed with an unexpected error. Here is the traceback:
'NoneType' object has no attribute 'identity'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 215, in invoke
    c

[2020-07-15 07:52] MyronFanQiu commented on #14132
@subhasishdc Thanks for raising this issue. Based on my understanding, expiry time is part of SSL cert and we can obtain the data information of the cert. Using some X509 library, should we be able to see the date?

[2020-07-15 08:20] gthibaud opened #14373 "InvalidTemplate - Deployment template language expression evaluation failed"
**Describe the bug**
When I try to deploy ARM resources, using the `az deployment group create`command, I get an error saying that my template is invalid because an expression is badly formed. However my ARM template file is more than 50,000 lines (it is an extract of an API Management resource, extracted with the azure-api-management-devops-resource-kit extractor, and the alert don't gives the li

[2020-07-15 08:35] wdrdres3qew5ts21 commented on #14151
Sorry for late in reply your message I already try both way it still didn't work.
It seem like I must create new Dockerfile base on AzureCLI by myself If I really want to run with another user than Root user.
[code]
![image](https://user-images.githubusercontent.com/25000903/87522770-37be8d00-c6b0-11ea-8446-47cc4efe0e26.png)
![image](https://user-images.githubusercontent.com/25000903/87522825-4dcc

[2020-07-15 09:06] zhoxing-ms commented on #13864
Hi, could you please try to use the command `az policy assignment create -h` to view the help information and examples.
The following are the explanations and examples of scope:
[code]
Do you hava any other questions?

[2020-07-15 09:19] zhoxing-ms commented on #13896
This is a problem returned by service, which needs to be investigated by the service team.

[2020-07-15 09:42] zhoxing-ms commented on #13926
This is a problem returned by service, which needs to be investigated by the service team.

[2020-07-15 10:11] ealkalai commented on #5275
It's a bit quiet here. Any updates on this?
As a workaround I'm base64 encoding the file, then i run a command to decode and save to a file. Do **not** use this, method if the content of the file is confidential, since it will appear in logs

sample powershell scripts on the host
[code]

content of decodeToFile.sh:
[code]

[2020-07-15 10:23] dorfire commented on #13694
Hey @ericmichael,
this seems to resolve the issue:
[code]

Can you confirm that it works for you?

[2020-07-15 10:49] basnijholt opened #14374 "'az storage blob download-batch' extremely slow (40x slower than azcopy)"
**Describe the bug**

I have been using the [AzureCLI pipeline task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-cli?view=azure-devops) to download files from a Data Lake with the `az` tool because the [AzureFileCopy](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-file-copy?view=azure-devops) task isn't available on Linux (only on Windows)

[2020-07-15 11:09] sdebruyn commented on #14112
@yonzhan this is not a feature-request but a bug

stacktrace:

[code]

[2020-07-15 12:15] yonzhan commented on #14369
add to S174

[2020-07-15 12:37] yonzhan commented on #14373
add to S174

[2020-07-15 12:39] GeeWee commented on #14083
Definitely still not solved. When running something like `az storage account create --name foobarteststorageaccount --kind StorageV2` under Python 3.8 on Fedora 32 I get a barrage of warnings like below.

[code]
Seems like it's subtly different from the problem above, where mine is actually trying to run libraries from python 3.6's `site-packages`

Perhaps it's a packaging issue on the yum repo on

[2020-07-15 12:39] GeeWee commented on #12390
I'm still having this issue with 2.9.0.. More details in #14083 14083

[2020-07-15 12:48] yonzhan commented on #14374
add to S174

[2020-07-15 13:07] navidarry opened #14375 "BUG az login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2020-07-15 13:45] yonzhan commented on #14375
add to S174

[2020-07-15 14:06] flipthetrain opened #14376 "az login redirects to https://localhost:8400"
**Describe the bug**
When I execute "az login" I get prompted for my username and password and MFA approval.  After this, I get redirected to https://localhost:8400/?code={super secret code}&state=brmq8zox8nt1qutejbet&session_state={session_state guid}

the "az login" command just hangs and has to be terminated with ctrl-c.  upon doing this, I am not authenticated to auzre.

this makes it impossib

[2020-07-15 14:13] yonzhan commented on #14376
add to S174

[2020-07-15 15:10] MikeWilcoxMicrosoft commented on #13093
Hmm..

$ az extension remove --name azure-cli-iot-ext
The extension azure-cli-iot-ext is not installed.
$ az extension add --name azure-cli-iot-ext
An error occurred. Pip failed with status code 1. Use --debug for more information.
$

[2020-07-15 16:00] tejasshah7 commented on #14369
This is not needed at this time. Sorry about submitting it.

[2020-07-15 17:05] pskelley55 opened #14377 "--set needs examples"
In Windows - PowerShell
In Linux - pwsh

Please provide CLI examples using "--set" for both Windows and Linux platforms. They're DIFFERENT!
I spent hours just discovering on the Windows side that you MUST have a SPACE between "k2":  and "v1" !!!
Sheesh!
I NEVER figured out Linux version of CLI !!!
HELP!!!

Windows:
az iot hub device-twin update --hub-name test --device-id 000680015ba1 --set proper

[2020-07-15 17:27] rnkhouse opened #14378 "--slot : command not found in az webapp deployment source config-zip"
**Describe the bug**
I am trying to run `az webapp deployment source config-zip` with `--slot` param but it's giving me `--slot: command not found error`

**To Reproduce**
Install latest `az cli`. I also have webapp extension installed. Run webapp deployment command with `config-zip` and provide `slot` param.

**Expected behavior**
It should deploy the app in defined slot.

**Environment summary**

[2020-07-15 19:18] jarens7 opened #14379 "'list' object has no attribute 'name'"
Trying to run any 'az backup restore restore-disks' command produces this error, tried in PS5, PS7, and Cloudshell.

`The command failed with an unexpected error. Here is the traceback:

'list' object has no attribute 'name'
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-lt3pwpnx\knack\knack\cli.py", line 215, in invoke
  File "D:\a\1\s\build_scripts\wi

[2020-07-15 19:32] maburlik commented on #13320
Hi there, Max from Service Fabric team. We are planning a migration path for which we need the image offer to match the previous Ubuntu LTS image releases under offer "UbuntuServer".

Our current main consumed images on Linux are:
**16.04-LTS**:
  {
    "id": "/Subscriptions/13ad2c84-84fa-4798-ad71-e70c07af873f/Providers/Microsoft.Compute/Locations/southcentralus/Publishers/Canonical/ArtifactTypes

[2020-07-15 22:51] yonzhan commented on #14379
backup

[2020-07-15 22:51] yonzhan commented on #14378
webapp

[2020-07-15 22:52] yonzhan commented on #14377
iot hub

[2020-07-15 23:51] digimaun commented on #11749
I wouldn't close this issue until there is more confirmation. The issue still happens in cloudshell (today).

[2020-07-16 00:00] Drewm3 commented on #14059
Updated from compute to networking because this is a Network Service API.

[2020-07-16 01:51] subhasishdc commented on #14132
@MyronFanQiu : Thank you for the clarification. The `publicCertData` field shown in the example able displays the cert but there is no information anywhere on what format this cert is in. I read somewhere online that the format returned by the command in the example is PKCS7. Is that correct? Can you provide some clarity on the field `publicCertData` which is returned by the `az network applicatio

[2020-07-16 02:34] MyronFanQiu commented on #14132
@subhasishdc Hi. I don't know too much about PKCS7. User need to input a `.pfx` file. so I think it might be PKCS 12? Here is one of our [test file](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/network/tests/latest/TestCert2.pfx) and hope it can help you.

[2020-07-16 02:52] yungezz commented on #14378
cc @fengzhou-msft for awareness

[2020-07-16 02:53] yungezz commented on #14376
cc @arrownj  for awareness

[2020-07-16 02:53] #14378 closed

[2020-07-16 03:29] tejasshah7 commented on #14369
I just found that we may still need this. I had a quick question. If today someone creates this firewall with this new property and then does a get via az cli to modify some other parameter and does a put on the firewall without this new property, will it be lost? If so, then we would need this.

[2020-07-16 03:49] zhoxing-ms commented on #13972
@haohaiyu May I ask is there any progress?

[2020-07-16 05:36] MyronFanQiu commented on #14369
@tejasshah7 From server side, you won't receive this field at all if you don't set any default value in swagger spec. I assume if server doesn't receive this value, it won't be changed.

[2020-07-16 05:39] tejasshah7 commented on #14369
@MyronFanQiu server will return this value if it is set from ARM and is NOT a default value. In that case, if a Put is done from az cli will it carry the field back or not? If not, then it will reset it in the backend and we would need the support in az cli for it.
Powershell has this issue and hence I am going to add support for this in Powershell.

[2020-07-16 05:47] MyronFanQiu commented on #14369
@tejasshah7 For an update scenario, if server return this field and you also define this field in swagger spec, az cli would put same value back to server right now.

[2020-07-16 05:49] MyronFanQiu commented on #14369
I cannot find this field in the swagger spec. https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2020-05-01/azureFirewall.json In that case, CLI would drop this field and won't send it back.

[2020-07-16 05:50] tejasshah7 commented on #14369
Exactly, This field is not in swagger. Then we will need support for this feature.

[2020-07-16 05:53] MyronFanQiu commented on #14369
@tejasshah7 I assume there will be a swagger PR soon?

[2020-07-16 05:56] tejasshah7 commented on #14369
There is no swagger change for this. These fields are like:
https://github.com/Azure/azure-cli/issues/13350

[2020-07-16 05:58] zhoxing-ms commented on #13980
@cchildress Hi, could you please show me the specific parameters you used? please add --debug to the original command and email the printed information to me~
My email address is Zhou.Xing@microsoft.com, thanks~

[2020-07-16 06:40] pvrk commented on #14379
@jarens7 : Can you please make sure that the parameters passed are correct values? Particularly for recovery point name you can use [```az backup recoverypoint show```](https://docs.microsoft.com/cli/azure/backup/recoverypoint?view=azure-cli-latest#az-backup-recoverypoint-show) command to make sure that the recovery point exists and valid.

[2020-07-16 06:53] zhoxing-ms commented on #13998
@StephenWeatherford Hi, could you please upgrade the version of CLI to the latest version (2.8.0) and have a try?

[2020-07-16 07:02] zhoxing-ms commented on #14002
@MostlyArmless Hi, could you please show me the specific parameters you used? please add --debug to the original command and email the printed information to me~
My email address is Zhou.Xing@microsoft.com, thanks~

[2020-07-16 07:04] jikuja opened #14387 "AZ CLI displaying misleading error message when creating Y1 app service"
## Describe the bug

**Command Name**
`az functionapp plan create`

**Errors:**
[code]

## To Reproduce:

- `az functionapp plan create --name foo --sku Y1 --is-linux false -g bar`
- Consumption plan is not created. Instead misleading error message is shown
  - The SKU exists in Azure but Y1 is not hardcoded at AZ CLI source code

## Expected Behavior

- Requested resource should be created
- or A

[2020-07-16 07:19] MyronFanQiu commented on #14369
well... If user doesn't set this field, should server keep it same instead of reset it? Please provide enough examples and schema for this feature request if you don't have swagger spec.

[2020-07-16 07:27] subhasishdc commented on #14132
@MyronFanQiu : I did a lot of digging on the `publicCertData` field returned by the `az network application-gateway ssl-cert list|show` commands to find out what format it is in. It looks like it is in PKCS7 format. Example is as follows:

`$ openssl pkcs7 -print_certs -in test_domain_com.p7b | openssl x509 -noout -enddate
notAfter=Jul 30 12:00:00 2020 GMT`

I created a cert file in the example ab

[2020-07-16 07:48] jiasli commented on #14343
@huanwu, I don't have the ACR context so it won't be easy for me to reproduce.

Usually `ex.response.text` should be a valid JSON, so it is abnormal for the first invocation of `json.loads(ex.response.text)` to return a `str`.

For example, when I run this invalid command (non-existing location `westus3`) which returns a `CloudError`:

[code]

Then drop a breakpoint in

https://github.com/Azure/az

[2020-07-16 07:48] egelke opened #14390 "Subscriptions not found when having AAD B2C setup"
**Describe the bug**
When running:
`az login`

It gives the warning

It does not actually login.

In order for it to work I need to provide my tenant:
`az login -t egelke.net`

**To Reproduce**
Setup an AAD *B2C* as specified by the doc: https://docs.microsoft.com/en-us/azure/active-directory-b2c/tutorial-create-tenant
Note that is did it quite a while ago and at that time it was mandatory to firs

[2020-07-16 07:50] MyronFanQiu commented on #14025
@Mexicoder I modified the help example. However, I think this issue is not related with quote. Do you still encounter this issue?

[2020-07-16 07:57] zhoxing-ms commented on #14002
@MostlyArmless Sorry, I can't reproduce your question. Could you please show me the specific parameters you used? please add `--debug` to the original command and email the printed information to me~
My email address is Zhou.Xing@microsoft.com, thanks~

[2020-07-16 08:02] stefan-hudelmaier opened #14391 "After update to version 2.9.0, `az aks list` fails"
## Describe the bug

**Command Name**
`az aks list`

**Errors:**
[code]

## To Reproduce:

- `az aks list`

## Expected Behavior

List AKS clusters

## Environment Summary
[code]
## Additional Context

[2020-07-16 08:09] hem-sharma opened #14392 ".NET SDK support for Management policies in Azure storage account."
I am using .NET SDK to create blob containers on the fly and it's not feasible to set policy manually or CLI/PowerShell every time a container is created using SDK. There should be a configuration during creation APIs in SDK to support the same, I didn't find any documentation for the same or is it being developed? Can someone from team help me into this?

---
#### Document Details

⚠ *Do not edit

[2020-07-16 08:12] MyronFanQiu commented on #14132
@subhasishdc We always appreciate any better help message. 😄 Based on your command, looks like you store the data into `.p7b` file. `.p7b` file is PKCS7. According to my understanding, if you use a `.pfx` to store this file, it will need pkcs12? I'm not sure whether we can use `.p7b` file as the cert-file. I can invite service team to double confirm this behavior.

[2020-07-16 08:23] subhasishdc commented on #14132
@MyronFanQiu : I tried saving it to a `.pfx` file and tried to decode it but it throws an error. Hence, it is not in pkcs12 format. On storing it in `.p7b` format, the decoding is successful. Therefore, I am sure the format is pkcs7. Can you confirm with the service team on this. If they confirm, I will modify the help message.

`$ openssl pkcs12 -in test_domain_com.pfx -out test_domain_com.pem -n

[2020-07-16 08:27] zhoxing-ms commented on #14026
@StephenWeatherford Hi, this seems to be an problem of the old version, and it has been fixed in the new version. Could you please upgrade the version of CLI to the latest version (2.9.0) and have a try?

[2020-07-16 08:48] zsolt-bognar opened #14393 "az aks update-credentials failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update-credentials --resource-group {} --name {} --rese

[2020-07-16 09:00] qwordy commented on #12858
@avirishuv May I know if there is any update?

[2020-07-16 09:08] zhoxing-ms commented on #14145
@fabio2602 Sorry, I can't reproduce your question. Could you please show me the specific parameters you used? please add `--debug` to the original command and email the printed information to me~
My email address is Zhou.Xing@microsoft.com, thanks~

[2020-07-16 10:42] yonzhan commented on #14387
functionapp

[2020-07-16 10:49] yonzhan commented on #14390
add to S174

[2020-07-16 10:51] yonzhan commented on #14391
aks

[2020-07-16 10:54] yonzhan commented on #14392
@hem-sharma  this is Azure CLI repo, please create an issue in PowerShell repo. Thanks

[2020-07-16 10:54] #14392 closed

[2020-07-16 10:57] yonzhan commented on #14393
aks

[2020-07-16 11:03] zhoxing-ms commented on #14168
@Phlak106 Hi, could you please show me the specific ARM template and parameters you used? And please add `--debug` to the original command and email the printed information to me~
My email address is Zhou.Xing@microsoft.com, thanks~

[2020-07-16 11:30] Juliehzl commented on #14374
Hi @basnijholt, thanks for your feedback. Actually CLI is utilizing Azcopy with command `az storage copy` for better performance and we are trying to utilize new SDK to improve the performance for `az storage blob download-batch`.

[2020-07-16 11:34] Juliehzl commented on #14359
@matendie could help confirm the running command is `az dla` or `az dls`? The issue you linked is for `dls` but what you show is `dla`.

[2020-07-16 11:46] Juliehzl commented on #14359
one more question is that when you run it in powershell, it works as expected, right?

[2020-07-16 11:50] Juliehzl commented on #14359
I think it is because this command is in preview and the prompt preview information which is in stderr crashed powershell scripts. you could add `--only-show-errors` in your command or add `2> $null` in your scripts to make sure the warning in stderr not crash your script.

[2020-07-16 12:02] Juliehzl commented on #14116
@akharit could you also take a look? I can reproduce with current azure cli.
[code]

[2020-07-16 12:05] mtricolici commented on #6962
Linux guys: if you have this kind of issue. Workaround is: install addon in your browser that modify UserAgent. Set it to a windows 10 ... and microsoft will allow logins.

[2020-07-16 12:06] Juliehzl commented on #14019
@dgcaron could you specify --account-key, --connection-string or --sas-token? if possible, please add `--debug` in your command to provide more debug information.

[2020-07-16 12:12] Juliehzl commented on #14138
it is available in azure cli 2.9.1. please have a try.

[2020-07-16 12:17] Juliehzl commented on #14119
Hi @dbradish-microsoft , it is because for such design, there are two options to run the command:
1. `az storage account show --ids <resource-id>`
2. `az storage account show  -g <rg>-n <name> --subscriptrion`.

It is by design.

[2020-07-16 12:17] #14119 closed

[2020-07-16 12:20] Juliehzl commented on #14159
thanks for feedback. fixed in https://github.com/Azure/azure-cli/pull/13273. please try with latest azure cli.

[2020-07-16 12:21] Juliehzl commented on #14112
thanks for feedback. fixed in https://github.com/Azure/azure-cli/pull/13273. please try with latest azure cli.

[2020-07-16 12:21] #14112 closed

[2020-07-16 12:22] Juliehzl commented on #13876
fixed already. please try with latest azure cli.

[2020-07-16 12:52] oliviercastonguay opened #14394 "az network list-service-tags --location parameter not working"
**Describe the bug**
The "--location" parameter does not return the locations requested.  Instead, it returns all the locations no matter if we specify it or not.

**To Reproduce**
az login
#Both queries below returns the same values
az network list-service-tags --location canadaeast
az network list-service-tags

**Expected behavior**
az network list-service-tags --location canadaeast should retur

[2020-07-16 13:01] yonzhan commented on #14394
add to S174

[2020-07-16 13:41] booyaa opened #14395 "User Experience after enabling MFA in Active Directory"
**Is your feature request related to a problem? Please describe.**

After enabling MFA (Multi Form Authentication) on an Azure user, the CLI when try to execute a command provides a confusing error message:

[code]

**Describe the solution you'd like**

A better message would be

[code]

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2020-07-16 14:45] yonzhan commented on #14395
add to S174

[2020-07-16 15:02] magnus-longva-bouvet opened #14396 "Deleted keyvault with option --enable-soft-delete true does not appear in list of deleted keyvaults"
**Describe the bug**
I create a keyvault with `--enable-soft-delete true` and then delete this keyvault. The keyvault does not show up in `az keyvault list-deleted` afterwards, the keyvault can't be purged with `az keyvault purge <kv_name>`, and a new keyvault of the same name can *not* be created.

**To Reproduce**
[code]

**Expected behavior**
After running `az keyvault create --name test-kv1231

[2020-07-16 15:30] jarens7 commented on #14379
Yes when I'm using the 'name' field from the 'az backup recovery point' show  command like this:

`
    "location": null,
    "name": "9977524400204",
    "properties": {
      "isInstantIlrSessionActive": false,
      "isManagedVirtualMachine": true,
`

This gives me the original error.

[2020-07-16 15:34] jeroenhabets commented on #13876
@Juliehzl Ah! Great! That's why I no longer got the error yesterday afternoon when I pip updated my local installation _nor_ in the new installation for one of the starters within my team :)

I reran the repro steps (BTW: they miss the venv activation) and got no error so I'm closing this issue.

Thanks @Juliehzl, @fengzhou-msft

[2020-07-16 15:34] #13876 closed

[2020-07-16 16:30] jarens7 commented on #14379
I got it figured out, the issue was the container name needed to be the result of "az backup item list --resource-group common --vault-name BackupMain --backup-management-type AzureIaasVM --container-name openvpn" for example. I was using the same name for both the 'container name' and 'item name' when in fact the container name needed to be in the format of "IaasVMContainer;iaasvmcontainerv2;mana

[2020-07-16 16:42] panchagnula commented on #13777
@SeanFeldman sorry no updates yet - I will keep this updated though  - the milestone flag should be a good indicator of our tentative ETA for now. Thanks!

[2020-07-16 17:15] richeney opened #14397 "az configure --list-defaults should not be case sensitive for environment variables"
### Background

It appears that the following environment variables are respected by the CLI (and mentioned in closed issue [#7411](https://github.com/Azure/azure-cli/issues/7411)), but they are undocumented:

* AZURE_DEFAULTS_LOCATION
* AZURE_DEFAULTS_GROUP

They correctly override any defaults in ~/.azure/config when running CLI commands. They are not listed as available [environment variables](

[2020-07-16 17:16] huanwu commented on #14343
@jiasli To repro this issue, you just need do the following.
Create a registry -  az acr create -r "myresourcegroup" -n "myregistry"
Replace the registry with your own's in the following command like.
az acr task create --registry myregistry --name staging --image myregistry.azurecr.io/rstage:{{.Run.ID}} --image myregistry.azurecr.io/stage:latest --context https://github.com/SANDEEP/STAGING-app.gi

[2020-07-16 17:24] waderobson commented on #13910
I have the same issue

[2020-07-16 18:11] shurd commented on #13535
We have introduced free tier as a part of this change: https://github.com/Azure/azure-cli/pull/13985. It was included in version 2.9.0, which was released earlier this week.

[2020-07-16 18:11] #13535 closed

[2020-07-16 18:12] shurd commented on #14000
Closing this issue for now as documentation is auto-generated and the deprecation is noted in the help menu.

[2020-07-16 18:12] #14000 closed

[2020-07-16 18:32] shurd commented on #13686
To provide an update on this issue, we are going to be moving the portal to use the connection string returned from our resource provider in the near future. With this change, the connection string will be consistent between the two places. We are tracking this internally as work item 822064, and the ETA is early September for this switch. It is possible we will update the connection string return

[2020-07-16 18:58] pvrk commented on #14379
@jarens7 : Thanks. Ideally, there are 2 combinations. One which uses the full name like you mentioned above "IaasVMContainer;...." and "VM;iaasvmcontainerv2....". Another is to just give friendly name and backup-management-type AzureIaaSVM. I see that you have tried with native/full name approach. Can you please also try with friendly name (then container name and item name can be the same) along

[2020-07-16 19:51] JosXa commented on #13229
I am trying to use the mongodb-csharp driver with the following create index command:

[code]

And it fails with `----> MongoDB.Driver.MongoCommandException : Command createIndexes failed: TTL index 'expireAfterSeconds' option cannot be less than 0. Index spec: { key: { _ts: 1 }, name: "_ts_1", expireAfterSeconds: -1.0 }.`, which I think is related.

[2020-07-16 21:20] shurd commented on #13229
Hi, just to provide an update, we are tracking a fix for this problem in our service as work item 553745. We do not yet have a firm timeline for the fix, but I will update once we finalize that.

[2020-07-16 22:18] yonzhan commented on #14397
add to S174

[2020-07-16 23:52] yungezz commented on #14396
hi @bim-msft could you pls have a look?

[2020-07-16 23:54] yungezz commented on #14393
hi @zsolt-bognar did you meet the issue in Cloudshell? Could you pls try workaround with `az login`? This is a known Cloudshell issue #11749 .

[2020-07-16 23:54] yungezz commented on #14391
hi @stefan-hudelmaier how your az cli installed? by pypi? thanks.

[2020-07-17 01:44] MyronFanQiu commented on #14394
@oliviercastonguay Hi. It's a known issue on server side. https://github.com/Azure/azure-cli/issues/12546. @allegradomel any updates?

[2020-07-17 01:46] MyronFanQiu commented on #14394
@oliviercastonguay To quickly unblock you, there is a `--query` argument for you to filter the response.

[2020-07-17 01:52] zhoxing-ms commented on #14122
@Xiaojing123456 Hi, could you please show me the specific ARM template and parameters you used? And please add `--debug` to the original command and email the printed information to me~
My email address is Zhou.Xing@microsoft.com, thanks~

[2020-07-17 02:11] oliviercastonguay commented on #14394
I actually just used a | Where-Object which did the trick for me.  It just appeared a few days ago so thought it would be great to advise.
Thanks !

[2020-07-17 02:38] zhoxing-ms commented on #14111
There are some problems in updating the tags of Redis Cache by using `PUT` request. So we will update the tags of Redis Cache with `PATCH` request instead.
However, there are some problems in the REST API of [`Redis - Update`](https://docs.microsoft.com/en-us/rest/api/redis/redis/update), which needs to be checked by the service team.
The error returned by service is as follows:
[code]

[2020-07-17 03:00] qwordy commented on #14364
@fitzgeraldsteele Could you clarify the expected changes in Azure CLI with more details?
Add a validation in VMSS Orchestration Mode that SPG must be false?
Enable `az vmss update` to support updating `ppg` and `spg`?

[2020-07-17 03:18] #13425 closed

[2020-07-17 03:27] bim-msft commented on #14396
Thanks for the feedback, this seems to be a bug. Working on this.

[2020-07-17 03:55] guangying94 opened #14400 "Error in the description"
[Enter feedback here]
Error is the description:

1. **--endpoint-dest-address**
Error in description, it should be "Address of the destination of connection monitor endpoint"

2. **--endpoint-source-resource-id**
If endpoint is intended to used as source, this option is required. The resource ID should be the source of connection monitor endpoint instead of destination as documented.

---
#### Doc

[2020-07-17 05:14] JohnLBevan opened #14401 "Max retries exceeded during kubdernetes upgrade"
## Describe the bug

This is the same symptoms as reported on #12725.

i.e. running `az aks upgrade --subscription $azSub --resource-group $azRG --name $azClus --kubernetes-version 1.15.12` to upgrade from 1.13.12 to 1.15.12 results in error:

**Command Name**
`az aks upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as th

[2020-07-17 05:38] qwordy commented on #13421
@apivaras Does this issue still exist?

[2020-07-17 05:40] #13633 closed

[2020-07-17 05:43] qwordy commented on #13747
Are you using the bundled Azure CLI of Ubuntu? The package is old and has some problems. Could you install the latest version and retry?
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-07-17 05:48] qwordy commented on #13984
Any update?

[2020-07-17 05:48] #13862 closed

[2020-07-17 05:49] qwordy commented on #13812
Any update?

[2020-07-17 06:35] Kotasudhakarreddy commented on #13907
@ThejaChoudary - try to repro the issue.

[2020-07-17 06:42] JohnLBevan commented on #14401
Issue resolved, thanks to my colleague, Sercan.

The issue was down to our service principal having expired.  The portal's error message gave more context to help resolve the issue, compared to the the command line's output.

For others with this issue, documentation is [available here](https://docs.microsoft.com/en-us/azure/aks/update-credentials).

To check if this is your issue you can run this

[2020-07-17 09:56] AccsoSG opened #14404 "Values for request parameters are invalid: networkAcls.virtualNetworkRules[*].id"
## Describe the bug

**Command Name**
`az deployment group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az deployment group create --name "api-deployment" --resource-group "api" --template-file "api.json" --parameters "api.parameters.json"`

## Expected Behavior
deploy tem

[2020-07-17 11:19] mibo32 commented on #13460
@jiasli
´´´
$account = az ad signed-in-user show --query objectId --output tsv
az keyvault set-policy --name $kvName --spn $account --secret-permissions set
´´´

i get the same error as above

[2020-07-17 12:49] forty opened #14405 "Webapp:Support env file style files for @arguments"
To configure the environment of my webapp for containers, I'm running this:
`az webapp config appsettings set -g "$RG" -n "$NAME" --settings WEBSITES_PORT=3000 "@$CONFIG"`

$CONFIG is a file containing several environment variables. It works great when the file is in JSON format, but it works weirdly when the file in in "env file" format (similar to the format that is supported by `docker run --en

[2020-07-17 13:00] sirlatrom commented on #11166
I've tried both approaches, and neither work. It is most likely due to the `az container exec` command using a websocket connection, whereas many other commands use a regular HTTP connection.

[2020-07-17 15:01] yonzhan commented on #11749
@maertendMSFT  any update for this issue ? There are a bunch of customers are impacted by this.

[2020-07-17 15:17] yonzhan commented on #14400
add to S174

[2020-07-17 15:22] yonzhan commented on #14401
aks

[2020-07-17 15:28] yonzhan commented on #14404
add to S174

[2020-07-17 15:31] yonzhan commented on #14405
webapp

[2020-07-17 16:33] jordotech commented on #6537
same here

[2020-07-17 17:38] dmraymond opened #14406 "az local-context: 'show' is not in the 'az local-context' command group"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az local-context`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az local-context {}`

## Expected Behavior
https://docs.microsoft.com/e

[2020-07-17 18:42] chenlomis opened #14407 "az mysql up error on password-too-short isn't descriptive enough"
**Describe the bug**

Command error around password isn't descriptive enough, and hence users can't follow up to resolve it

**To Reproduce**

(have cross linked with the ADO issue)

**Expected behavior**

Error message aligning with portals

**Environment summary**

Across all OS

**Additional context**

[2020-07-17 18:50] khowling opened #14408 "ACI - allow better container creation automation options"
I'm using the 'az container create -f file.yml' option to create aci containers, this works really well, but I'd like to automate this through my pipeline, and not have any credentials or container tags hard-wired in the yml

I'd like to be able to do
sed -e "s|DEPLOY_TAG|${i}|g" ./aci.yml |  az container create --registry-login-server ${ACR_NAME}.azurecr.io --registry-password $ACR_PASSWD  --regi

[2020-07-17 20:00] sebansal commented on #9763
ping @bim-msft

[2020-07-17 20:36] sebansal commented on #11576
@bim-msft can you add feature request label
Key vault does not store the password once cert is imported.
https://docs.microsoft.com/en-us/azure/key-vault/certificates/import-cert-faqs#after-importing-password-protected-certificate-into-the-key-vault-and-then-downloading-it-i-am-not-able-to-see-the-password-associated-with-the-certificate

[2020-07-17 20:47] sebansal commented on #12288
@bim-msft It's a feature request (Related to #11576)
Can you please mark appropriately

[2020-07-17 20:57] sebansal commented on #13006
Is this deployed? @jlichwa

[2020-07-17 21:05] calvinsID opened #14409 "[AppService] Bug: az webapp create --runtime doesn't set specified runtime"
**Describe the bug**
`az webapp create -g RG -n WebappName --plan Plan -r "php|7.3"` sets the runtiem to "php|5.x" instead of "php|7.3".

**To Reproduce**
Run `az webapp create -g RG -n WebappName --plan Plan -r "php|7.3"`
Run `az webapp config show -g RG -n WebappName`

**Expected behavior**
Verify runtime version from `az webapp config show` command: Should be php 7.3 instead of 5.x

[2020-07-17 21:18] kevinsrose opened #14410 "`az batch pool create` is not assigning public IPs in networkConfiguration on version 2.9.1"
**Describe the bug**
I have a JSON file with batch pool configurations as outlined in the [documentation](https://docs.microsoft.com/en-us/azure/batch/create-pool-public-ip#public-ip-address-requirements). Specifically, I have publicIps listed in the `networkConfiguration` as follows:
[code]
When I am using version 2.9.1 of the az-cli, the batch pool is created successfully but it is using the dyn

[2020-07-17 22:37] jlautman opened #14411 "az role definition update failing with KeyError roleName when using an input file"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I am attempting to update an existing role definition with an additional action.

**Command Name**
`az role definition update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisit

[2020-07-17 22:47] nkindberg opened #14412 "Azure DNS zone export missing trailing "." on MX, NS, PTR, SRV record targets"
**Describe the bug**
When exporting a DNS zone from Azure DNS, MX/NS/PTR/SRV record type targets don't get a trailing "." appended which means the zone file is incorrect.

**To Reproduce**
az network dns zone create -g <resource group> -n <zone name>
az network dns record-set mx add-record -e contoso.com -p 0 -n mxtest -g <resource group> -z <zone name>
az network dns record-set ns add-record -d n

[2020-07-17 23:05] tejasshah7 commented on #14369
I am talking about the scenario where user sets this field say using Powershell. Here is the powershell PR for reference:
https://github.com/Azure/azure-powershell/pull/12430

[2020-07-18 00:03] yareyes commented on #14291
@qwordy I've created a PR with the test that have successfully run. https://github.com/Azure/azure-cli/pull/14413/files

[2020-07-18 00:54] yonzhan commented on #14407
add to S173

[2020-07-18 00:56] yonzhan commented on #14408
container

[2020-07-18 00:58] yonzhan commented on #14409
webapp

[2020-07-18 00:59] yonzhan commented on #14410
batch

[2020-07-18 01:00] yonzhan commented on #14411
add to S174

[2020-07-18 01:02] yonzhan commented on #14412
add to S174

[2020-07-18 04:42] asnogordo commented on #14261
In my particular case I wanted them hard deleted. I appreciate your input and help @pvrk!

[2020-07-18 05:52] #12876 closed

[2020-07-18 16:56] mleziva opened #14414 "az storage blob download finished is written to std err"
**Describe the bug**
When running the az storage blob download command the finished output is written to std err. Any external callers that look for std err as a sign that the script failed will think that the script has failed even though it succeeded

**To Reproduce**
(az storage blob download --container-name $container_name \
                         --file ./$blob \
                         -

[2020-07-18 23:48] yonzhan commented on #14414
add to S174

[2020-07-19 16:41] minutice opened #14415 "Webapp:python webapp"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --plan {} --location {} --sku {} --name {}`

## Expected Behav

[2020-07-19 22:11] kappa opened #14416 "error: error in setup.cfg: command 'bdist_wheel' has no such option 'azure_namespace_package'"
**Describe the bug**

I am trying to build the wheel for azure-cli and the build fails with the message
"error: error in setup.cfg: command 'bdist_wheel' has no such option 'azure_namespace_package'" in several dependant packages which I am trying to list here:

azure-mgmt-billing
azure-mgmt-applicationinsights
azure-mgmt-consumption
azure-mgmt-datalake-analytics
azure-mgmt-relay

**To Reproduce**

[2020-07-19 22:23] Orthaanc opened #14417 "az webapp config container set Base64 encoding of multicontainer-config-file is invalid"
## Describe the bug

**Command Name**
`az webapp config container set`

**Errors:**
Generated compose text results in invalid app service configuration. Specifically the DOCKER_CUSTOM_IMAGE_

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
using the example [dev.test.

[2020-07-19 22:57] yonzhan commented on #14415
webapp

[2020-07-19 22:58] yonzhan commented on #14417
webapp

[2020-07-19 22:59] yonzhan commented on #14416
packaging

[2020-07-19 23:06] kappa commented on #14416
I see that this issue may be more suitable for https://github.com/Azure/azure-sdk-for-python. I'll move it once I've collected all the failing package names.

[2020-07-19 23:50] Orthaanc commented on #14417
This appears to be a related or duplicate issue to #14208 where the compose content is lowercased

[2020-07-19 23:50] #14417 closed

[2020-07-20 01:39] Yao725 commented on #14092
Close the issue. Please open a new issue if there is any problem.

[2020-07-20 01:39] #14092 closed

[2020-07-20 01:43] yungezz commented on #14416
thanks @kappa . @arrownj could you pls see if the issue could be resolved by PEP 420? thanks.

[2020-07-20 01:47] yungezz commented on #14406
hi @dmraymond  could you pls upgrade to latest Azure CLI version? az local-context show is supported later than 2.4.0. thanks.

[2020-07-20 01:51] MyronFanQiu commented on #14412
@nkindberg Thanks for raising this issue. Let me reproduce this issue and find the root cause.

[2020-07-20 01:59] arrownj commented on #14416
Hi @kappa , which repo are you building ? Is it azure-cli ? Azure CLI has a customized `azure_bdist_wheel` file, and it is only valid for azure cli code base. So if you are building other SDKs with copied setup.py from CLI, it is not recommended.

[2020-07-20 02:03] yungezz opened #14418 "[PLR] New RP Swiftlet"
**Resource Provider**

Swiftlet

**Description of Feature or Work Requested**

Speclet: https://nam06.safelinks.protection.outlook.com/ap/w-59584e83/?url=https%3A%2F%2Fmicrosoft.sharepoint.com%2F%3Aw%3A%2Ft%2FAzureManagementExperience%2FEX5gyn3QuqdCtZaGVJws9Q0B1R0W7GuCE1H6-CuVBUYOuw%3Fe%3DCt1meS&data=02%7C01%7Cyungez%40microsoft.com%7Cf802f9b7df2c41b7c62a08d82c07923f%7C72f988bf86f141af91ab2d7cd011

[2020-07-20 02:03] yungezz commented on #14418
this is new RP PLR support.

[2020-07-20 02:04] arrownj commented on #14406
Hi @dmraymond , `local-context show` is supported from `2.6.0`, you can upgrade your CLI version and try again.

[2020-07-20 02:17] houk-ms commented on #14100
It seems @qwordy has already supported this feature.

[2020-07-20 02:22] kappa commented on #14416
@arrownj Did not copy anything. To reproduce (without cloning any repositories):

$ pip wheel --no-binary :all: azure-cli

It breaks on 5 packages that are listed in the task.

[2020-07-20 02:25] qwordy commented on #14100
https://docs.microsoft.com/en-us/cli/azure/disk-encryption-set?view=azure-cli-latest#az-disk-encryption-set-update

[2020-07-20 02:30] jiasli commented on #13460
@bim-msft, could you help take a look at this `keyvault` command?

[code]

[2020-07-20 03:19] fengzhou-msft commented on #13336
The versions are now 2.7.0 in Debian repository. But as they're still in testing/unstable mode, we would still suggest to use the package from Microsoft repository at least for a while.

[2020-07-20 03:19] #13336 closed

[2020-07-20 04:55] #13235 closed

[2020-07-20 05:11] qwordy commented on #14100
not yet

[2020-07-20 06:18] jiasli commented on #14411
Duplicate of #12027

Please note that for `create`, the provided JSON should have `Name`, while for `update`, the provided JSON should have `roleName`.

[code]

[code]

[2020-07-20 06:30] jiasli commented on #11166
Routing to container team. @samkreter

[2020-07-20 06:42] houk-ms opened #14421 "[Compute] Make single-placement-group default to false for VM create operation.."
Currently, the parameter `single-placement-group` defaults to true when creating a VM.

Now, service team is planning to make changes on the paramter, and make `single-placement-group` default to false for VM create operation.

[2020-07-20 06:43] houk-ms commented on #14421
Waitting for service team's response.

[2020-07-20 07:18] jsntcy commented on #14163
@spatialman, I cannot find the command `az monitor action-rule` you mentioned above in Azure CLI, could you help check and provide the correct command?

![image](https://user-images.githubusercontent.com/16348853/87910187-31f3ed80-ca9c-11ea-8a50-970233651034.png)

[2020-07-20 08:34] jiasli commented on #14302
@qianwens, Nice analysis. In other words, **by default CLI only lists assignments at the subscription level. With `--all` specified, all assignments at sub-resource levels are also listed.**

I am able to reproduce with

[code]

This is also indicated in the help message:

[code]

The lines responsible for this behavior are at

https://github.com/Azure/azure-cli/blob/4c28536a6db8c8e43b7182d0aaf202

[2020-07-20 08:42] pvrk commented on #14261
@asnogordo : Thanks for the clarity. If you want them hard-deleted, then it means you don't want those backups to be soft-deleted. So, in this case, you might want to think to switch off soft-delete at a vault level. Further instructions to permanently delete already deleted items are mentioned [here](https://docs.microsoft.com/azure/backup/backup-azure-security-feature-cloud#permanently-deleting-

[2020-07-20 08:51] sambitratha commented on #14270
hi @qwordy  sure i'll take a look.

[2020-07-20 12:43] spatialman commented on #14163
Here is the link from MS.
https://docs.microsoft.com/en-us/cli/azure/ext/alertsmanagement/monitor/action-rule?view=azure-cli-latest

[2020-07-20 13:33] softveda commented on #14040
I found out this can be done like below.
az webapp update -g $rgName -n $appName --set clientCertEnabled=true
az webapp update -g $rgName -n $appName --set clientCertExclusionPaths="/Health"

[2020-07-20 14:37] asnogordo commented on #14261
Hi pvrk,
This is likely what I needed at the beginning. The vault has been deleted I believe, but I really appreciate your help and the provided doc for removing the soft-delete feature.

Thank you!

[2020-07-20 14:37] #14261 closed

[2020-07-20 15:08] hristodragolovbede opened #14425 "run-command invoke doesn't produce correct error/status fields"
**Describe the bug**
az vm run-command invoke reports success even though command execution failed

**To Reproduce**
Execute **az vm run-command invoke --ids SOMEID --command-id RunShellScript --scripts "exit 123"** or any other command that would fail

**Expected behavior**
Status should be failed (or error)

**Environment summary**
[code]

**Additional context**
Whatever command I try to run on

[2020-07-20 15:42] dgcaron commented on #14019
i'll take a look, will get back to you asap!

[2020-07-20 16:23] kevinwedwards commented on #8530
I'm seeing this issue as well

[2020-07-20 16:45] bgklein commented on #14410
Thank you for reporting this. There was a breaking change in the publicIps portion of the API and it looks like the documentation was not updated (and our API references look to be missing quite a few features in the examples section). I have contacted our document writer to get this resolved.

The network configuration should look like:
[code]

[2020-07-20 16:45] #14410 closed

[2020-07-20 16:54] pvrk commented on #14379
@jarens7 : A gentle reminder

[2020-07-20 16:54] pvrk commented on #13779
Closing this issue since this is a planned item.

[2020-07-20 16:54] #13779 closed

[2020-07-20 16:54] demdante opened #14426 "Unable to encode the output with cp1252 encoding. Unsupported characters are discarded."
**Describe the bug**

I don't know if this is specific to the command that I am about to reference, but whenever I run the command

[code]

in a powershell console, the console window will return the message "Unable to encode the output with cp1252 encoding. Unsupported characters are discarded" to the console before processing the command.  To be more specific, the message does **NOT** appear if

[2020-07-20 17:22] calvinsID opened #14427 "[AppService] Bug: Unable to create remote connection after setting remote-debug-enabled config"
**Describe the bug**
Unable to create remote connection to webapp after setting remote-debug-enabled config to true.
Test case 'test_linux_webapp_remote_debug' doesn't pass when running live

**To Reproduce**
Run `webapp config set --remote-debugging-enabled true -g {} -n {}`
Run `webapp create-remote-connection -g {} -n {} --timeout 5`

**Expected behavior**
Expect create-remote-connection comman

[2020-07-20 18:00] kappa opened #14428 "error: error in setup.cfg: command 'bdist_wheel' has no such option 'azure_namespace_package'"
Describe the bug

I am trying to build the wheel for azure-cli and the build fails with the message
"error: error in setup.cfg: command 'bdist_wheel' has no such option 'azure_namespace_package'" in several dependant packages which I am trying to list here:

azure-mgmt-billing
azure-mgmt-applicationinsights
azure-mgmt-consumption
azure-mgmt-datalake-analytics
azure-mgmt-relay

To Reproduce

$ pip

[2020-07-20 18:09] kevinsrose commented on #14410
@bgklein Thank you for the update on this. When I used this networkConfiguration the batch pool was created successfully with the public IP address using version 2.9.1.

[2020-07-20 18:24] kappa commented on #14416
There are new details from @lmazuel in https://github.com/Azure/azure-sdk-for-python/issues/12612.

[2020-07-20 18:32] chenlomis opened #14430 "Parsing issue with az CLI in DevOps"
**Describe the bug**

"I am creating app registrations in our AAD using DevOps release pipelines and Azure CLI component with Powershell. I am running into an issue when running the commands within an inline script with a parser in az cli that is taking my app role description and breaking up the input into a list of values at the spaces within the description. I've run the same script via command

[2020-07-20 18:36] elafnit commented on #14430
The string.Replace command should be .Replace("'",'\"')

[2020-07-20 18:54] wasker commented on #14138
Confirmed it works in 2.9.1. Thanks for quick turnaround!

[2020-07-20 19:03] jlichwa commented on #13006
Yes it is. #please-close

[2020-07-20 19:10] jlichwa commented on #13006
#please-close @bim-msft

[2020-07-20 22:08] sebansal commented on #10276
@jiasli can you remove keyvault label and add OneCert?

[2020-07-20 23:39] elafnit commented on #14430
After trying different combination of single, double quoting, and escaped double quote, along with formatting within the function calling the 'az ad app create' command, I am able to get to the point where the parsing is mostly complete in CICD powershell/az cli. The spaces are still causing parsing issues.

The debug output shows the following for the parser:
Command arguments: ['ad', 'app', 'cre

[2020-07-21 00:28] yonzhan commented on #14426
add to S174

[2020-07-21 00:48] jsntcy commented on #12449
@aaronyeung, I ran the following commands,
`az network vnet-gateway create -g azure-cli-test-rg --vnet my-vnet -n my-vnet-gw --public-ip-addresses my-pub-ip`
`az network vnet-gateway update -g azure-cli-test-rg --vnet my-vnet -n my-vnet-gw --custom-routes 10.1.0.0/16 10.2.0.0/16 10.3.0.0/16`
`az network vnet-gateway show -g azure-cli-test-rg -n my-vnet-gw`

and the custom routes did update correct

[2020-07-21 00:59] yonzhan commented on #14427
AppService

[2020-07-21 01:40] yungezz commented on #14425
hi @qwordy could you pls have a look?

[2020-07-21 01:43] yungezz commented on #14430
hi @arrownj could you pls have a look? thanks.

[2020-07-21 02:22] arrownj commented on #14430
Hi @chenlomis @elafnit , it's not the problem of quote of the whole `--app-roles` value. It's because that there is no quote for `'isEnabled':true`. There are 2 options to do this:

1. add quote for `true`, the command should like this:

2. write json content in a json file, and specify json path to `--app-roles`

[
  {
    "allowedMemberTypes": [
      "User"
    ],
    "description": "Users have

[2020-07-21 03:32] qwordy commented on #13214
Please refer to
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-linux#extension-schema
https://docs.microsoft.com/en-us/azure/virtual-machines/extensions/custom-script-windows#extension-schema

[2020-07-21 03:35] qwordy commented on #13214
@ArcturusZhang

[2020-07-21 03:57] bureado commented on #13320
Yes, @maburlik, publishers can change the offer name as Canonical has for the 20.04 release. There are currently no plans to move the 20.04 LTS image to the previous offer name.

[2020-07-21 04:59] nkolench opened #14437 "'NoneType' object has no attribute 'get'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {} --subscripti

[2020-07-21 05:27] nkolench commented on #14437
Hello
I've re-installed az cli. But it doesn't help
sudo yum remove azure-cli
sudo rm /etc/yum.repos.d/azure-cli.repo
MSFT_KEY=`rpm -qa gpg-pubkey /* --qf "%{version}-%{release} %{summary}\n" | grep Microsoft | awk '{print $1}'`
sudo rpm -e --allmatches gpg-pubkey-$MSFT_KEY
sudo yum remove -y python3 azure-cli
sudo yum install -y python3 azure-cli
sudo rpm --import https://packages.microsoft.com/k

[2020-07-21 05:59] MyronFanQiu commented on #14348
@aki0061 It seems that we don't do any check for this value and it should support Storage type.

[2020-07-21 05:59] MyronFanQiu commented on #14348
Which kind of error did you meet?

[2020-07-21 06:11] fengzhou-msft commented on #13981
`az configure show` only shows what has been set, right? Then we can add `az configure list-available` command to show all the options that can be configured to increase their publicity.

[2020-07-21 07:29] yonzhan commented on #10276
@bim-msft  to help with Keyvault.

[2020-07-21 07:36] zhoxing-ms commented on #14373
@gthibaud Hi, could you please show me the specific ARM template and parameters you used? And please add --debug to the original command and email the printed information to me~
My email address is Zhou.Xing@microsoft.com, thanks~

[2020-07-21 08:25] jsntcy commented on #14163
@spatialman, thanks, I'll take a look.

[2020-07-21 08:36] haroldrandom opened #14442 "Test framework migration"
**Is your feature request related to a problem? Please describe.**

As bussiness logic going more and more complex, we might overwrite/extend the our test framework Azure/azure-python-devtools more and more.

For now, we temporary decide to keep sharing the that repo between Azure SDK team and us. Because we found it's not necessary to split for now as human resource, degree of code dependency, co

[2020-07-21 08:38] haroldrandom commented on #14442
https://github.com/Azure/azure-python-devtools/pull/63

[2020-07-21 08:38] haroldrandom commented on #14442
support Python 3.8.3 https://github.com/Azure/azure-python-devtools/pull/59

[2020-07-21 08:43] Juliehzl commented on #10302
please try in next release.

[2020-07-21 08:43] #10302 closed

[2020-07-21 08:43] haroldrandom commented on #14442
Support multi-subs in TESTSDK https://github.com/Azure/azure-cli/pull/13592

[2020-07-21 08:54] jsntcy commented on #14163
@spatialman, is it enough that CLI provides an example for rule type ActionGroup? You can find the example by running `az monitor action-rule create`.

[2020-07-21 09:16] PeterUpfold commented on #13691
This also occurred for me on azure-cli 2.9.1 on macOS 10.15.6 installed with Homebrew 2.4.8.

The installation was performed using a different user account (with administrator privileges) than the user who is running the `az` command. (Although it's not technically about administrator rights _per se_, it's about the files below being owned by the installation user and unreadable by anyone else.)

[2020-07-21 09:17] alexeyshishkin01 opened #14444 "cannot create storage account"
**Describe the bug**
I cannot create storage account of particular name - 'ubuntusa'.
I get error message that this name is already taken.
When I get the list of storage accounts in my resource group, there's no such account with this name.

**To Reproduce**

root@Alexey-HP:~# az storage account create \

The storage account named ubuntusa is already taken.

root@Alexey-HP:~# az storage account li

[2020-07-21 09:36] nrobert commented on #13691
@PeterUpfold  thanks for the clarification, that's exactly what I am facing.
On my side, the error starts on the 1st file you mentioned:

Doing the following fixed my `az` commands which were failing:

[code]

[2020-07-21 09:41] yonzhan commented on #14444
add to S174

[2020-07-21 09:43] ericstephens commented on #13691
Yes - my default login does not have admin rights.

Sent from my iPhone

[2020-07-21 09:48] arrownj commented on #14416
Hi @kappa , do you mean you are building azure-cli wheel ? I can build an azure-cli wheel successfully with below commands:

python setup.py bdist_wheel

I'm still not sure how to reproduce your problems.

[2020-07-21 09:59] yungezz commented on #14437
#14287

[2020-07-21 10:06] sivaramsk opened #14445 "Unable configure kubectl after creating a AKS cluster"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2020-07-21 10:07] yonzhan commented on #14445
aks

[2020-07-21 10:09] spatialman commented on #14163
The thing which is not clear is, how do i pass actionId as part of the command, that is not their in the help that is provided...
If you could share the help text with sample including "actionId", that would be great...

[2020-07-21 10:11] sivaramsk commented on #14445
I deleted the ~/.kube/config and retried the command and it worked as expected. The issue for me is resolved, I guess it needs a --overwrite flag.

[2020-07-21 10:43] karthikvarmak1 opened #14446 "Virtual Machines Run Commands - 'RunPowerShellScript' Run command is giving incorrect output"
I want the services running in a windows vm and I queried the below script using Run command API.
[code]
Output is returning only less number of data. (34 services out of 211 services)

`{
  "startTime": "2020-07-21T10:11:47.0488466+00:00",
  "endTime": "2020-07-21T10:13:45.147466+00:00",
  "status": "Succeeded",
  "properties": {
    "output": {
      "value": [
        {
          "code": "Compo

[2020-07-21 10:57] yonzhan commented on #14446
This is not Azure CLI issue, right? Please open an issue to Service team.

[2020-07-21 10:57] #14446 closed

[2020-07-21 11:06] karthikvarmak1 commented on #14446
How to assign it to service team? Can you let me know.

[2020-07-21 12:14] Juliehzl commented on #14444
Hi @alexeyshishkin01, it may be caused that your subscription enable https policy.  please add `--https-only` in your command to enable https transfer.

[2020-07-21 12:20] Juliehzl commented on #14414
HI @mleziva, it is azure cli core framework design. progress bar is used to let interactive users see download /upload progress.
currently it is hard to change the core framework due to limited bandwidth, but hope it doesn't break your usage and we will recommend to use exit code as error sign for customers.

[2020-07-21 12:45] stefan-hudelmaier commented on #14391
Hi @yungezz , thanks for getting back to me. I have installed it via apt-get (https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest).

I was able to resolve the problem by uninstalling via `apt-get remove azure-cli && apt-get remove --purge python3-azure-cli- az* and re-installing again. No idea what the actual problem was.

Closing the ticket.

[2020-07-21 12:45] #14391 closed

[2020-07-21 13:04] alexeyshishkin01 commented on #14444
hello @Juliehzl, so you're saying I can create storage account with name 'ubuntusa2' and cannot create 'ubuntusa' due to 'https policy' ?
it really sounds strange - could you pls. explain your thoughts ?

you see the error message is 'The storage account named ubuntusa is already taken' and in fact there's no such storage account in the list

[2020-07-21 14:33] fengzhou-msft commented on #14309
@rakku-ms It seems to me that the issue is caused by the endpoints in "https://management.northwest.azs-longhaul-01.selfhost.corp.microsoft.com/" does not contain one for `sqlManagementEndpointUrl`?

Technically, we can allow `sqlManagementEndpointUrl` to be null and fall back to use the endpoint in `AzureCloud`. Can the environment of `AzureStackLH` access public internet?

[2020-07-21 15:03] zhangpengchen commented on #12087
I had the same issue today, by checking openssl version, switch that to the right version did the trick `brew switch openssl 1.0.2r`

[2020-07-21 15:10] fengzhou-msft commented on #14151
According to this [answer](https://stackoverflow.com/a/42822143/2100487), docker-workflow-plugin hardcoded the --user to be the result of whoami, so you actually don't need to provide --user again. In your case, it's an unknown user to the conatiner with uid 1000. Then the home(~) directory falls back to the root directory /. You need `args '-v ${HOME}:/home/az -e HOME=/home/az'` to make user 1000

[2020-07-21 15:34] #13488 closed

[2020-07-21 16:17] BellaLi commented on #14393
@zsolt-bognar
When you see this error "400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token",  can you try "az login --identity" and paste the response here? Please also share the time that this error shows, so we can dig into our logs. Thank you.

[2020-07-21 16:39] elafnit commented on #14430
Something else may be occurring here. I quoted the "true" and it is still parsing on the spaces. I've added debugging to the script and found this in the arm logs
2020-07-21T15:00:59.9184690Z Command arguments: ['ad', 'app', 'create', '--display-name', 'myAppReg', '--debug', '--app-roles', '[{"allowedMemberTypes":["User"],"description":"Users', 'have', 'the', 'ability', 'to', 'create,', 'modify,',

[2020-07-21 16:47] elafnit commented on #14430
[SOLVED]
I was using Azure CLI with "Powershell" as "Script Type". I updated this to "Powershell Core", realizing that azure cli is supported on core only, and this has corrected the issues I was seeing. Thanks for your willingness to support me through this. You can close this issue as resolved.

[2020-07-21 18:52] kappa commented on #14416
@arrownj  Does building with "pip"work for you? Try running "pip wheel --no-binary :all: azure-cli".

The main differences of building with "pip wheel" versus what you propose are:
1. "pip wheel" command also builds all the dependencies.
2. "pip wheel" will download the sources from pypi.org.

Some of azure-cli dependencies on pypi.org (parts of azure-sdk) are very old and that's why the whole bui

[2020-07-21 19:23] rakku-ms commented on #14309
@bganapa what's the desired behavior for `sqlManagementEndpointUrl`? use null or the endpoint of `AzureCloud`

[2020-07-21 22:26] rockbass2560 opened #14450 "Webapp:It can't create a webapp in a app service plan"
**Describe the bug**
When I tried to create an webapp in a service plan I received a error.

Command used
az webapp create --resource-group myResourceGroup --plan myAppServicePlan --name app --runtime "DOTNETCORE|LTS" --deployment-local-git

Error received
ResourceNotFound - The Resource 'Microsoft.Web/sites/app' under resource group 'myResourceGroup' was not found. For more details please go to h

[2020-07-22 01:00] yonzhan commented on #14450
webapp

[2020-07-22 01:49] qwordy commented on #14446
Click "help" in Azure Portal?

[2020-07-22 01:49] jiasli commented on #14446
The Azure CLI command for **Run Command** is [`az vm run-command`](https://docs.microsoft.com/en-us/cli/azure/vm/run-command?view=azure-cli-latest).

For REST API issue, you may [create a support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) and a support engineer will gladly help you with this issue.

[2020-07-22 02:06] qwordy commented on #14425
I think `"status": "Succeeded"` means the `az vm run-command invoke` runs successfully. The command execution failure in the VM is an expected behavior, so `az vm run-command invoke` does its job correctly.

[2020-07-22 02:45] yungezz commented on #13214
hi @techn0rome0 does above examples looks good for you? For Terraform example, could you pls help to create issue at Terraform repo? thanks.

[2020-07-22 03:07] #14409 closed

[2020-07-22 03:11] panchagnula commented on #14450
@rockbass2560 what is the version on CLI you are using can you make sure you are using 2.9.0 or higher? thanks

[2020-07-22 03:12] panchagnula commented on #14427
@sanchitmehta can you take a look?

[2020-07-22 03:16] panchagnula commented on #14415
@minutice can you please more info here either by running the command by --debug info or share the details of command you are trying to run with the values you are using in the parameter and the  approximate date time in UTC when you ran into this error so that we can check our longs on our end? Thanks!

[2020-07-22 03:20] panchagnula commented on #14326
Sorry i am not sure what this issue is about please add details or open a new bug following the template.

[2020-07-22 03:20] #14326 closed

[2020-07-22 03:21] panchagnula commented on #14325
Please add details and re-open the issue thanks!

[2020-07-22 03:21] #14325 closed

[2020-07-22 03:25] panchagnula commented on #14319
@kaletkamk can you try if you see the same error when you run the command as
az webapp list --subscription ?

[2020-07-22 03:26] panchagnula commented on #14282
@yungezz are you planning to make a fix for all azure-cli services to handle this?

[2020-07-22 03:27] panchagnula commented on #14264
@asw101  / @luciferankon any updates on the ask from Calvin here? Thanks!

[2020-07-22 03:28] panchagnula commented on #14258
Thanks for the update on this alternately you can set default subscription as az account set -s <sub>

[2020-07-22 03:28] #14258 closed

[2020-07-22 03:35] panchagnula commented on #14142
@peter-dolkens we need the Python SDK updated with this new property for CLI to expose this. We are working on it.  this got added to the rest-api-sepc as a part of this https://github.com/Azure/azure-rest-api-specs/pull/10117 we will get the SDK updated & released soon. Adding  tentative ETA to the milestone tag to track this.

[2020-07-22 03:38] panchagnula commented on #14034
@klinki can you re-try with the latest version of CLI & let us know you can also make sure you are authenticated by CLI by running az login. THanks!

[2020-07-22 03:40] panchagnula commented on #14023
@btardif is this something we plan to consider? Thanks!

[2020-07-22 03:43] panchagnula commented on #13909
closing due to lack of response.

[2020-07-22 03:43] #13909 closed

[2020-07-22 03:44] panchagnula commented on #13907
@tsgenge APP service certificates do use KV - however you cannot use the Import app service certificate command for App service certificates - we will have separate commands for those in the future. Thanks!

[2020-07-22 03:45] panchagnula commented on #13883
closing this please open new issue if this is still a problem with the latest version of CLI

[2020-07-22 03:45] #13883 closed

[2020-07-22 03:46] panchagnula commented on #13805
closing due to lack of response.

[2020-07-22 03:46] #13805 closed

[2020-07-22 03:59] panchagnula commented on #13777
@yonzhan i want to understand some details here before making change to support this.
The current command returns XML to JSON since i believe CLI doesn't support XML as output - is my assumption correct is there a suggestion on how to support the request here? Thanks!

[2020-07-22 04:00] panchagnula commented on #13775
closing due to lack of response.

[2020-07-22 04:00] #13775 closed

[2020-07-22 04:03] panchagnula commented on #13758
@paviomuniz please try the latest version we had some regressions in this version that we have since fixed. Please re-open if you are still seeing this with the latest version of CLI

[2020-07-22 04:03] #13758 closed

[2020-07-22 05:27] aiden-liu opened #14456 "azure issue feedback"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`terraform --version`

**Errors:**
The command failed with an unexpected error. Here is the traceback:

[Errno 5] Input/output error: '/home/lau/.azure/commands/2020-07-22.05-32-22.account_show.225.log'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py

[2020-07-22 05:30] fabiocav commented on #14198
In addition to what @panchagnula , can you also share more details about the hosting model you're using? Is this a consumption or dedicated app? Linux or Windows? Thanks!

[2020-07-22 05:44] Juliehzl commented on #14159
Hi @yannick-Lapierre, it is fixed now. please try with edge build. here is install instruction.
https://github.com/Azure/azure-cli#edge-builds

[2020-07-22 05:44] #14159 closed

[2020-07-22 05:56] hristodragolovbede commented on #14425
So the only way to see if the script failed or not is by looking into the **message** field and whether there is **stderr** output? Using this in pipeline makes it a bit difficult to check whether the script has been successful or not. I'd expect having this kind of information saved in a separate key.

[2020-07-22 07:17] kaletkamk commented on #14319
Yes, as per my original report, the command
`az webapp list --subscription`
returns the same error.

[2020-07-22 07:20] yungezz opened #14458 "[Compute] automatic in-guest patching"
**Resource Provider**

Compute

**Description of Feature or Work Requested**

Automatic in-guest patching provides customers an easy-to-onboard solution to maintain security compliance for their virtual machines. This feature provides:
1.	Simple onboarding – Enrolling a VM requires configuring one property on the VM model (process detailed below) with no further onboarding actions needed.
2.	Autom

[2020-07-22 07:20] yungezz commented on #14458
checking with service status now

[2020-07-22 07:29] josiahlaivins commented on #13167
I have been using az version 2.9~ and am having these issues again. I downgraded to your version and it still doesnt work.

[code]

[2020-07-22 07:38] helayoty commented on #14096
I'm facing the same problem

az version : 2.9.1
operating system: macos

[2020-07-22 08:05] wdrdres3qew5ts21 commented on #14151
Thank you for your help but I think this might be the complicate problem one because now I got stuck at the first problem again that
[code]

![image](https://user-images.githubusercontent.com/25000903/88151184-91810300-cc2c-11ea-9927-cdd41c777b71.png)
The last resort left is must use Root user...
because same problem again "whoami" didn't work so sudo didn't work too.

[2020-07-22 09:40] Juliehzl commented on #14444
Hi @alexeyshishkin01, sorry for misunderstanding.

although you cannot find the account name in your resource group, storage account name should be unique around the world, not only resource group or sunscription.

[2020-07-22 09:57] alexeyshishkin01 commented on #14444
oh, really ?
is it possible to find out what storage account names are already taken in the world ?

[2020-07-22 10:43] runemy commented on #12242
@charleszipp with reference to: https://github.com/Azure/azure-cli/issues/12242#issuecomment-588500949

I get this in version 0.5.12

`2020-07-22T10:19:13.1063859Z ##[section]Starting: Terraform Init
2020-07-22T10:19:13.1073835Z ==============================================================================
2020-07-22T10:19:13.1074207Z Task         : Terraform CLI
2020-07-22T10:19:13.1074486Z Descr

[2020-07-22 10:56] yungezz commented on #14456
hi @aiden-liu could you pls share more repro steps? `terraform --version` is terraform command, not azure cli. while your stacktrace is from azure cli.

[2020-07-22 11:36] adusumallisuresh opened #14466 "Python issue in Azure Container"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-07-22 11:51] aiden-liu commented on #14456
Hi @yungezz after changing privileges of folder "~/.azure/commands" and reconnected to bash, it doesn't show any more. Still not sure why this happened in the first place since I left all the folder privileges to default. As the command does not pop error any more, I suggest to close this issue.

[2020-07-22 11:51] #14456 closed

[2020-07-22 12:26] yonzhan commented on #14466
Please share your detailed command and error message if this is a CLI issue.

[2020-07-22 12:32] jiasli commented on #13777
Hi @panchagnula, CLI is never designed or tested with XML. Even for storage data-plane API, the XML response body is converted to JSON.

I can think of 2 solutions:

1. Make [Knack](https://github.com/microsoft/knack/) compatible with XML, but this will of course take some development efforts.
2. Wrap the response in JSON when `--xml` parameter is specified, so that we don't introduce breaking cha

[2020-07-22 13:39] WilldotNET opened #14467 "az acr helm commands not working"
Yesterday my pipelines were working.

Today, they fail with :
This command is implicitly deprecated because command group 'acr helm' is deprecated and will be removed in a future release. Use 'helm v3' instead.

The error is caused by a bash script step in the pipeline :
 bash: |
    echo attempting push
    chartPackage=$(ls $(projectName)/$(imageName)-$(helmChartVersion).tgz)
    az acr helm pus

[2020-07-22 13:41] yonzhan commented on #14467
acr

[2020-07-22 13:48] yungezz commented on #14467
hi @WilldotNET could you pls share error message, repro steps to help investigation? thanks.

[2020-07-22 14:19] yungezz commented on #14456
thanks

[2020-07-22 14:23] javiplx opened #14468 "monitoring command stopped working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor log-analytics workspace create`

**Errors:**
[code]

## To Reproduce:

Just running the command as part of a larger script to create an AKS cluster. It worked some hours ago (with a message about preview status or something similar) but when tried to spin a new cluster suddenly sto

[2020-07-22 14:31] WilldotNET commented on #14467
Error Message:
##[error]Bash wrote one or more lines to the standard error stream.
##[error]This command is implicitly deprecated because command group 'acr helm' is deprecated and will be removed in a future release. Use 'helm v3' instead.

Reproduce with:

Create the following bash task as a step in the azure pipeline YAML:

- bash: |

    chartPackage=$(ls $(projectName)/$(imageName)-$(helmChar

[2020-07-22 14:54] davej commented on #13475
Apologies for the +1 but I'm also seeing this issue.

[2020-07-22 15:26] klemenberti opened #14469 "Webapp:az webapp config access-restriction show - broke on powershell"
**Describe the bug**
az webapp config access-restriction show when used with powershell hangs without response.

**To Reproduce**
az webapp config access-restriction show --resource-group group --name name -o json | ConvertFrom-Json
or
$var=az webapp config access-restriction show --resource-group group --name name

**Expected behavior**
List of rules should be returned.

**Environment summary**
a

[2020-07-22 15:41] javiplx commented on #14468
I've removed the python module antlr4-python3-runtime and its working again. This is very strange, because I did only install that module because it previously complains about antlr4 things and that runtime solved the issue.

I've installed the python library again and the command now works. As this seems to be non-reproducible, I'll close the issue

[2020-07-22 15:41] #14468 closed

[2020-07-22 16:07] WilldotNET commented on #14467
Also tried with helm version 3.2.4 but I get the same issue.

[2020-07-22 16:44] WilldotNET commented on #14467
Here is the log for this task from the same pipeline yesterday if it helps:

2020-07-21T14:04:05.6034671Z Task         : Bash
2020-07-21T14:04:05.6034914Z Description  : Run a Bash script on macOS, Linux, or Windows
2020-07-21T14:04:05.6035141Z Version      : 3.171.1
2020-07-21T14:04:05.6035334Z Author       : Microsoft Corporation
2020-07-21T14:04:05.6035638Z Help         : https://docs.microsoft

[2020-07-22 16:56] allschu opened #14470 "az group creation and az keyvault create failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

Enter the following values

 $myResourceGroup="<<VAULTNAME>>"
 $myKeyVault="<<VAULTNAME>>" + $(get-random -minim

[2020-07-22 17:35] allschu commented on #14470
if I do this directly like so:
` az keyvault create --resource-group "testvault" --name "testVault" --location "westus"`

it works fine!

[2020-07-22 19:22] panchagnula commented on #14319
Got it

Got it. could you try one more thing please - what is the default subscription set on CLI when you run az account show , does this subscription match the sub you are trying to query on? Also, if possible can you run the command with --debug flag & share the details - feel free to remove an PII info. Thanks again

[2020-07-22 21:10] ajlam commented on #11655
Closing this item and #11656 for long-term planning.

[2020-07-22 21:10] #11655 closed

[2020-07-22 21:10] ajlam commented on #11656
Closing for long-term planning.

[2020-07-22 21:12] ajlam commented on #11656
Closing for long-term planning.

[2020-07-22 21:12] #11656 closed

[2020-07-22 21:52] krispenner commented on #12629
@panchagnula I'm not 100% convinced is the same root cause. That issue is about ASE (App Service Environment) and VNet being in different resource groups.

My issue is about an App Service Plan not being located in the original resource group is was created in.

Very different and I really doubt the underlying root cause is the same.

There are many known problems with moving App Service Plans out

[2020-07-22 22:42] yonzhan commented on #14469
webapp

[2020-07-22 22:48] yonzhan commented on #14470
@zhoxing-ms  please help check az group part.

[2020-07-22 23:06] rockbass2560 commented on #14450
@panchagnula it happens on Ubuntu 20.4 LTS, az --version returns this:
azure-cli                          2.9.1
command-modules-nspkg              2.0.3
core                               2.9.1
nspkg                              3.0.4
telemetry                          1.0.4

Python location '/opt/az/bin/python3'
Extensions directory '/home/rockbass2560/.azure/cliextensions'

Python (Linux) 3.6.10

[2020-07-22 23:15] calvinsID commented on #14450
@rockbass2560 Thanks for reporting! It is because the name "app" is already taken, and not in your subscription. I opened a PR to surface a better error for this. Will change error msg to "Unable to retrieve details of the existing app 'app'. Please check that the app is a part of the current subscription" instead of "ResourceNotFound..."

[2020-07-22 23:54] gxtaillon opened #14473 "az login hangs on WSL"
## Describe the bug

Running `az login` hangs, no output is shown. This is on Debian 10 over WSL on Windows 1809.

Running `az login --debug` logs the following link, opening manually and logging in works fine.
`Open browser with url: https://login.microsoftonline.com/common/oauth2/authorize?....`

**Command Name**
`az login`

**Errors:**
None

## To Reproduce:
Steps to reproduce the behavior. Not

[2020-07-23 00:38] zhoxing-ms commented on #14470
@allschu Hi, does this problem occur in CloudShell? If so, it's a known issue #11749 of Cloudshell. You can try to run `az login` as a workaround.

[2020-07-23 01:37] yonzhan commented on #14473
add to S174

[2020-07-23 02:12] yungezz opened #14474 "[Keyvault] deprecate soft-delete"
**Resource Provider**

Keyvault team will deprecate soft-delete at July 27th. CLI need to deprecate it also

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2020-07-23 02:13] yungezz commented on #14474
working with service team to get more info: when they're going to remove the property from Swagger. What's the behavior before the property is removed from Swagger.

[2020-07-23 02:26] #14407 closed

[2020-07-23 02:57] yungezz commented on #14287
https://github.com/Azure/azure-cli/pull/14335

[2020-07-23 03:01] #14328 closed

[2020-07-23 05:03] Juliehzl commented on #14444
you can use `az storage account check-name` to check.

[2020-07-23 05:09] qwordy commented on #14425
I think you are right.
The response schema is defined here https://docs.microsoft.com/en-us/rest/api/compute/virtual%20machines%20run%20commands/runcommand#runcommandresult
@Drewm3 How do you think the customer's feature request?

[2020-07-23 05:30] jiasli commented on #13777
Checked the source code of `az webapp deployment list-publishing-profiles`, the response body from the underlying SDK is already  XML. It is actually **`appservice` command module** that is doing the **XML -> Python object** conversion.

https://github.com/Azure/azure-cli/blob/3cd3b456dc5f18bca38700431cf3b8ca477d820d/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L1874

To return the

[2020-07-23 05:34] panchagnula commented on #13777
@jiasli that is correct - this command was infact authored by the core-cli team this way a long time back & assume it was done this way was because the command if run without the xml to JSON conversion minus the  --output tsv would lead to errors - hence my question here is is there a way to make the output tsv the default output type for just this command instead of asking the customers to add th

[2020-07-23 05:57] allschu commented on #14470
@zhoxing-ms tried to login again, but resulted in exactly the same error

[2020-07-23 06:16] jiasli commented on #13777
Fortunately, yes! But it is a little bit hacky. I have drafted a PR in my own repo https://github.com/jiasli/azure-cli/pull/8 and you may follow the same pattern to submit an official PR and fix related test cases.

Perhaps we can avoid introducing breaking change by specifying `--xml`. 😉

[2020-07-23 06:16] houk-ms commented on #14282
Will be fixed in #14335

[2020-07-23 06:28] yungezz commented on #14282
hi @panchagnula we'll fix known issues reported now. While it will be great if new code could do NoneType check when developing. We're working on guideline on this.

[2020-07-23 06:39] #13363 closed

[2020-07-23 07:22] huski1017 commented on #13502
Could it be possible to get some updates about my request?

It's been 2 months that someone is supposed to take care of it on the S170 we're now about to reach the end of the S173 and still nothing changed.

[2020-07-23 07:35] alexeyshishkin01 commented on #14444
ok, here we are:

root@Alexey-HP:~# az storage account check-name --name ubuntusa
NameAvailable
---------------
True
root@Alexey-HP:~#

root@Alexey-HP:~# az storage account check-name --name ubuntusa2
NameAvailable
---------------
True
root@Alexey-HP:~#

so, both names are available, but I cannot create storage account with 'ubuntusa' name and can create with 'ubuntusa2'

really odd

[2020-07-23 07:43] qwordy opened #14481 "Validation of resource group name has a bug!"
**Describe the bug**

[code]

Resource group name can be one character. The message misleads users.

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-07-23 07:53] jiasli commented on #13924
Duplicate of #13855

[2020-07-23 07:58] jiasli commented on #14067
@hirenrpatel1610, is the browser opened and ask you to log in to https://login.microsoftonline.com/? Could you share the `--debug` log?

[2020-07-23 08:10] jiasli commented on #14088
Looks like you installed an old version of `azure-mgmt-resource` which doesn't support `2019-06-01`.

Could you run `pip list` and check the version of `azure-mgmt-resource`?

[code]

Also, please check if `/usr/local/lib/python3.6/dist-packages/azure/mgmt/resource/subscriptions/subscription_client.py` contains the same content as the [10.0.0 version of `_subscription_client.py`](https://github.co

[2020-07-23 08:11] Drewm3 commented on #13298
Closing this now that the docs are updated.

[2020-07-23 08:11] #13298 closed

[2020-07-23 08:17] Drewm3 commented on #13320
@bureado, I believe the original question has been answered. So, can the issue/question be closed?

[2020-07-23 08:28] jiasli commented on #9204
@snpdev, your issue is caused by Git Bash's path conversion. Please see [Use Azure CLI with Git Bash](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_with_git_bash.md) for detailed explanations and solutions.

[2020-07-23 08:48] jiasli commented on #9204
This is a bug in Git Bash itself, irrelevant to Azure CLI.

To reproduce, create a cmd file with spaces in the path, such as `D:\path with space\test.cmd`:

[code]

Directly invoking this file works:

[code]

But it fails when a parameter with space is provided:

[code]

[2020-07-23 08:53] #9204 closed

[2020-07-23 09:02] jiasli commented on #10420
This feature request has been implemented in https://github.com/Azure/azure-cli/pull/14229

Now you may use `metadata.geographyGroup` to filter on regions.

[code]

[2020-07-23 09:02] #10420 closed

[2020-07-23 09:07] jiasli commented on #10421
As `availabilityZone` is not provided by REST API [Subscriptions - List Locations](https://docs.microsoft.com/en-us/rest/api/resources/subscriptions/listlocations), it is impossible for Azure CLI to retrieve such information.

[2020-07-23 09:07] #10421 closed

[2020-07-23 09:11] #9919 closed

[2020-07-23 09:16] #9944 closed

[2020-07-23 09:28] javiplx opened #14482 "Using `--resource-group` listing public addresses gives empty sets"
## Describe the bug

Using `--resource-group` listing public addresses gives empty sets

**Command Name**
`az network public-ip list`

**Errors:**
Produces an empty list when explicitly requesting a resource group. It apparently only happens during a few minutes just after creating the resource, although I've not made extensive research on this.

## To Reproduce:

JME_FILTER="[?(tags.owner=='kuber

[2020-07-23 09:30] jiasli commented on #9517
`tags` is not a simple type like `string` or `int`, but a complex type - `dict`:

[code]

There is no default transformer for `dict`. The `resource-graph` extension owner needs to implement a corresponding `transformer`, such as those in [`_transformers.py`](https://github.com/Azure/azure-cli/blob/c3fd340dbd8a734c6246bf0f860539d0fb71bca8/src/azure-cli/azure/cli/command_modules/storage/_transformer

[2020-07-23 11:27] yonzhan commented on #14481
add to S174

[2020-07-23 11:38] yonzhan commented on #14482
add to S174

[2020-07-23 11:52] shawnxzq commented on #11527
@RodgeFu Shall close this since we already have the autogen for now? Thanks!

[2020-07-23 13:07] rockbass2560 commented on #14450
Thanks @calvinsID, I created the webapp from webpage and I can see that the ID needs to be new. The error message gave not a clue about the problem. The message can be clearer for new users.

[2020-07-23 13:12] Dicolla opened #14487 "Error getting Application Gateway Certificate info"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network application-gateway auth-cert show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network application-gateway auth-cert s

[2020-07-23 13:13] Dicolla opened #14488 "Error getting Application Gateway Certificate info"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network application-gateway auth-cert show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network application-gateway auth-cert s

[2020-07-23 14:14] lucassimoesmaistro opened #14489 "Error to set secret on Keyvault"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac --name {} --scopes {} --role {} --quer

[2020-07-23 14:23] webstean opened #14490 "Followed the doco and get ridiculous confusing error - where the error handling"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create -g {} -n {}`

## Expected Behavior

## Environment Summary
[

[2020-07-23 14:29] RodgeFu commented on #11527
DataFactory CLI has been released. @yungezz , @yonzhan , I think you can close this one. thanks.

[2020-07-23 14:45] yonzhan commented on #14487
add to S174

[2020-07-23 14:46] webstean opened #14491 "Operation failed with status: 'Bad Request'. Details: Changing property 'servicePrincipalProfile.clientId' is not allowed."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create -g {} -n {}`

## Expected Behavior

## Environment Summary
[

[2020-07-23 14:47] yonzhan commented on #14488
add to S174

[2020-07-23 14:48] yonzhan commented on #14489
add to S174

[2020-07-23 14:50] yonzhan commented on #14491
aks

[2020-07-23 14:50] #11527 closed

[2020-07-23 14:51] yonzhan commented on #14490
aks

[2020-07-23 14:55] TomGeske commented on #14490
@webstean: can you share the full command you used? Are you using cloud shell?

[2020-07-23 16:34] Preeti1910 opened #14492 "azure bot prepare deploy gives error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az bot prepare-deploy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az bot prepare-deploy --lang {} --code-dir {} --proj-file-path {}`

[2020-07-23 17:31] cysecops opened #14493 "Az.Network for PrivateLink - Set-AzPrivateEndpointConnection, Dictionary Issue"
Set-AzPrivateEndpointConnection -ResourceId <Nameofresourceid> -PrivateLinkServiceConnectionState "Approved"

Set-AzPrivateEndpointConnection: The given key 'Microsoft.Network/privateEndpoints' was not present in the dictionary.

AZ.network version 3.2.0

[2020-07-23 17:41] alexpilon666 opened #14494 "`--private-ip-address` does nothing during Application Gateway w/ WAF_v2 creation"
When using `az network application-gateway create` with the `--private-ip-address` argument, Azure CLI throws no errors but also does not create/associate the Private IP address.

Without this argument doing anything, I have to then use a second command, `az network application-gateway frontend-ip create` to create the private frontend IP configuration, which adds extra time and steps.

---
#### D

[2020-07-23 17:57] kawayiboy opened #14495 "User with contributor permission to a resource group can create through CLI"
**Describe the bug**
The user in his domain with only Support Request Contributor per subscription to be able to create custom IoT Central App in a designated resource group, where the user has Contributor role.  The customer cannot assign to his User a Contributor role on the Subscription, they can only do it at Resource Group level.

Customer found that if the User runs AZ CLI command like follo

[2020-07-23 17:59] irenehua opened #14496 "Azure CLI integration for Global Public load balancer"
Is your feature request related to a problem? Please describe.
Global Public load balancer is a Standard SKU Global tier load balancer which has a global anycast IP and backend pool of Standard Regional load balancer.

Swagger:
https://github.com/Azure/azure-rest-api-specs/pull/10529

Describe the solution you'd like
CLI support for create/delete/configure global public load balancer.

**We need c

[2020-07-23 18:09] johnakash opened #14497 "Not able to update tag with tag contributors role"
**Describe the bug**
We are trying to update / add tag to resource group using a service principal. While using PowerShell it is working as expected. But when we are trying to update tag via JAVA sdk we are getting following error

`The client 'f73daaab-9eaf-484d-83e9-b22ecbf00102' with object id 'f73daaab-9eaf-484d-83e9-b22ecbf00102' does not have authorization to perform action 'Microsoft.Resour

[2020-07-23 18:13] keerthiadu commented on #12651
[use-azcopy-for-model-upload.py](https://gist.github.com/keerthiadu/363e4e6cbae20e8b7a6f6f5cefbb0f89) has code snippet for uploading models using azcopy . This workaround is makeshift and future support and compatibility is not guaranteed.

[2020-07-23 18:17] Dmitry1987 commented on #14088
thanks @jiasli , I think the format of my CLI command doesn't work because new packages are incompatible with the old way of using "username" as ID of the application. The moment I switched from using ID to using "http://url" it started working :)))
I will close the issue. But it's still a backwards incompatibility question, so you might want to put a note somewhere in docs about this transition.

[2020-07-23 18:17] #14088 closed

[2020-07-23 18:21] gregdasney opened #14498 "acr helm group is deprecated, please update documentation"
The most recent version of the cli has deprecated this group.  Please update the documentation to reflect that.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2bed94c3-b7a7-40d4-0102-8c9b1f1145ca
* Version Independent ID: 2d4ac8bd-dc7a-236c-56db-7f0e1ce0fd05
* Content: [az acr helm](https://docs.microsoft.com/e

[2020-07-23 18:42] keerthiadu commented on #12651
#please-close

[2020-07-23 18:44] #12651 closed

[2020-07-23 18:48] TomGeske commented on #14491
@webstean: can you share the full command you used? Also, which doc did you use?

[2020-07-23 20:37] lucassimoesmaistro commented on #14207
It works for me.

[2020-07-23 20:38] alexpilon666 opened #14499 "Cannot switch between OWASP rule sets using add/remove or update in WAF_v2"
Due to how the WAF_v2 is setup, you need at least one set of OWASP rules enabled, and by default, the CLI creates the WAF using OWASP 3.0 (instead of 2.2.9 or 3.1), and there's no way in `az network application-gateway waf-policy create` to specify the OWASP version.

My first line of thinking was to add OWASP 3.1 using `az network application-gateway waf-policy managed-rule rule-set add`, but it

[2020-07-23 20:45] jonsing opened #14500 "az cdn custom-domain enable-https call is not idempotent"
In our deployment script for our CDN I noticed that executing `az cdn custom-domain enable-https` will actually re-provision a new certificate and deploy it even though one is already provisioned and deployed.

No big issue for us because I can not see any impact on the existing certificate and the site continues to work normally during the re-provisioning. But it feels unnecessary and I thought a

[2020-07-23 20:56] pquinton opened #14501 "Struggling to assign policy to resource group with parameters."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az policy assignment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az policy assignment create --display-name {} --policy {} --

[2020-07-23 21:40] lsmith130 commented on #13677
The id, name, resource group, and profile name are all listed under optional parameters in the documentation because there is at least one situation where each of these is optional, (ie. `--ids` is optional when specifying the endpoint name, resource group, and profile name individually, and vice-versa). However, the requirement to provide one of the two sets is stated in the description of `--ids

[2020-07-23 21:40] #13677 closed

[2020-07-23 21:53] karravi-msft commented on #10467
We will look into how other azure resources handle this scenario

[2020-07-23 21:56] karravi-msft commented on #12263
Looking into this from the service team

[2020-07-23 22:01] yonzhan commented on #14492
bot

[2020-07-23 22:02] yonzhan commented on #14493
Please open this issue to PowerShell repo.

[2020-07-23 22:02] #14493 closed

[2020-07-23 22:03] yonzhan commented on #14494
add to S174

[2020-07-23 22:05] yonzhan commented on #14495
iot

[2020-07-23 22:06] yonzhan commented on #14496
add to S174

[2020-07-23 22:08] yonzhan commented on #14497
add to S174

[2020-07-23 22:11] yonzhan commented on #14498
acr

[2020-07-23 22:14] yonzhan commented on #14499
add to S174

[2020-07-23 22:15] yonzhan commented on #14500
cdn

[2020-07-23 22:16] yonzhan commented on #14501
add to S174

[2020-07-24 00:06] sotaneja opened #14502 "Supporting new preview version in Swagger Maintenance RP for CLI Extension"
**Resource Provider**

MaintenanceRP

**Description of Feature or Work Requested**

We have released a new preview Maintenance RP swagger version which adds an optional property in the json body and additional enum types.  We will also be creating a new resource which will require a GET and LIST API. It will not be an ARM tracked resource. This has not been published in the swagger yet. We already

[2020-07-24 00:23] hytao commented on #14238
Expected Action name should be "ResponseHeader".

[2020-07-24 00:23] hytao commented on #14238
Please close the ticket

[2020-07-24 00:24] timMSFT commented on #14238
Expected Action name should be "ResponseHeader".

[2020-07-24 00:24] #14238 closed

[2020-07-24 00:29] hytao commented on #12857
We'll add possible values for action-name in the future update.

[2020-07-24 00:34] hytao commented on #12929
This is a typo and we'll fix it in the future update.

[2020-07-24 00:37] hytao commented on #13709
Currently we are using "RequestHeader" instead of "ModifyResponseHeader" as action name in CLI. We'll probably change this but please use "RequestHeader" as the action name for now.

[2020-07-24 00:58] lsmith130 commented on #14500
Unfortunately the CDN service uses a POST for this request and is inherently non-idempotent. We do have plans to fix this in the future, but in the mean time we can add a check to see if the parameters are identical in the CLI command before making the update.

[2020-07-24 01:19] yonzhan commented on #14502
Maintenance

[2020-07-24 01:32] jsntcy commented on #14502
@gautamd-ms, for awareness as he released the CLI extension for GA version of Maintenance RP.
If need any help from us, please let us know.

[2020-07-24 01:56] jiasli commented on #14088
Hi @Dmitry1987, I am glad the issue is solved.

However, the current Azure CLI version is 2.9.1. We haven't reached 4.0 or 5.0 yet. 😉

https://github.com/Azure/azure-cli/blob/b01fbe373a059aa6c746e6e067aac4ac77323211/src/azure-cli-core/setup.py#L20

I tested with both formats of `--username` and they all work correctly:

[code]

Per the debug log, the error is irrelevant to login but to listing sub

[2020-07-24 02:10] yungezz commented on #14489
#11749

[2020-07-24 02:11] yungezz commented on #14489
hi @lucassimoesmaistro could you pls try `az login` to workaround? thanks.

[2020-07-24 02:31] Juliehzl commented on #13509
yes

[2020-07-24 02:41] Juliehzl commented on #13509
Hi @iUnknwn, error message is already refined in PR https://github.com/Azure/azure-cli/pull/13963. Besides --auth-mode, you can consider using `--account-key` or `--connection-string` as credential. for more information, you can refer to [here ](https://github.com/Azure/azure-cli/blob/3113258ba38f0415cae2c30347491030e76c08f4/doc/use_cli_effectively.md#using-storage-commands).

I will close the iss

[2020-07-24 02:41] #13509 closed

[2020-07-24 02:58] fengzhou-msft commented on #14082
Close due to inactivity. If the issue still persists, please feel free to reopen it.

[2020-07-24 02:58] #14082 closed

[2020-07-24 03:09] jiasli commented on #14473
I tried Debian WSL on Microsoft Store but couldn't repro.

![image](https://user-images.githubusercontent.com/4003950/88357413-c1034d00-cd9d-11ea-81eb-708ed40e2c9a.png)

The code for opening a browser is at

https://github.com/Azure/azure-cli/blob/04210197837bbceb547f86df7f086a42c96e0d2a/src/azure-cli-core/azure/cli/core/util.py#L526

Does it work if you run `powershell.exe` in WSL? It should prin

[2020-07-24 03:40] fengzhou-msft commented on #14309
Currently, the behavior in Azure CLI is to use null for all endpoints not set in a cloud. I'm not sure if it will cause trouble to use endpoint of `AzureCloud` when it's not set.

[2020-07-24 04:44] Dmitry1987 commented on #14088
got it :)))  I referred to the "azure" python package. because the error appears when I upgrade from 4.x to 5.
but it works now, so it's ok. And thank you for the information, it's appreciated!

[2020-07-24 05:14] jiasli commented on #13801
@asranja @bishal-pdMSFT could you please share me the `--debug` log to my Microsoft email (same as my GitHub user name)?

[2020-07-24 05:28] jiasli commented on #13995
Looks like you installed Azure CLI with `pip` and then manually installed the Track 2 SDK `azure-mgmt-resource` 15.0.0b1 which changed `config` to `_config`:

[code]

You may confirm the installed version of `azure-mgmt-resource` with `pip list`:

[code]

Azure CLI depends on

https://github.com/Azure/azure-cli/blob/b01fbe373a059aa6c746e6e067aac4ac77323211/src/azure-cli/requirements.py3.windows.tx

[2020-07-24 06:02] Juliehzl commented on #13971
Hi @Tim-Hodge, thanks for your feedback. It is because there is no response in SDK design. In addtion, there is only SDK to get/list all cors in a storage account not specific cors properties.

Adding additional operations will increase the cost to maintain in CLI and it may cause breaking change for existing customers if we change the response.

Considering above concern and limited bandwidth, it

[2020-07-24 06:08] #13971 closed

[2020-07-24 06:08] Juliehzl commented on #14019
any update?

[2020-07-24 06:20] SeanFeldman commented on #13777
That'd be ideal.

[2020-07-24 06:25] jiasli commented on #11634
`.azure` should be a **folder** instead of a **file**, created by Azure CLI as the configuration folder.

https://github.com/Azure/azure-cli/blob/3b4d10d473a8d72dc2a1607478beb14424ce2004/src/azure-cli-core/azure/cli/core/_environment.py#L12

It is by-default created under the user's home folder, unless

1. [`AZURE_EXTENSION_DIR`](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.

[2020-07-24 06:25] #11634 closed

[2020-07-24 06:40] jiasli commented on #10563
Looks like the AD Graph API `oauth2PermissionGrants` doesn't return 404 anymore:

[code]

@pascalnaber, is the issue still happening for you? If so, could you provide the raw `--debug` log.

[2020-07-24 06:43] zhoxing-ms commented on #13860
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-07-24 06:43] #13860 closed

[2020-07-24 06:43] zhoxing-ms commented on #13835
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-07-24 06:43] #13835 closed

[2020-07-24 06:44] zhoxing-ms commented on #13784
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-07-24 06:44] #13784 closed

[2020-07-24 07:10] #14126 closed

[2020-07-24 07:19] jiasli commented on #14096
@haokanga, glad to know the issue is solved. You are correct - `jq`'s output is still in JSON, which is why it is quoted. See https://github.com/stedolan/jq/issues/1735.

[code]

This is also revealed in the `--debug` log:

[code]
You may also append `--raw-output` to each `$()` sub-command:

[code]

I will try to improve the error message.

[2020-07-24 07:30] #14265 closed

[2020-07-24 07:45] yungezz commented on #13214
hi @techn0rome0 , will close the issue for now since no response. Feel free to create new issue if any other problem met. thanks.

[2020-07-24 07:45] #13214 closed

[2020-07-24 08:10] sjra88 opened #14510 "az backup policy set bug"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az backup policy set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az backup policy set --name {} --resource-group {} --subscription {

[2020-07-24 08:11] #14510 closed

[2020-07-24 08:14] MyronFanQiu commented on #14025
Close this issue first since it should be solved. Feel free to re-open it if you have any more question.

[2020-07-24 08:14] #14025 closed

[2020-07-24 08:29] lukasmrtvy commented on #11594
Same problem with azure-cli 2.9.1

[2020-07-24 08:37] jsntcy commented on #14163
@qwordy, using "ActionGroup" as rule type is not supported in AlertsManagement, could you please help take a look?
Please also add example for "ActionGroup" in help after you support it.

[2020-07-24 08:43] jtemperv commented on #9804
Stumbled on this thread as I was searching for a way to do this. Can anyone confirm that the --ids argument is a way to work around for now?

[2020-07-24 09:28] #14311 closed

[2020-07-24 09:54] pvrk commented on #14177
@sebastianrogers : Sorry for the delay. We discussed this internally and one of the option is as you suggested "Maybe to avoid a breaking change an idempotent option is needed which creates or modifies if needed". We can think of a parameter that indicate an idempotent response is required. If that parameter is not given, then current behavior continues i.e., error if the given resource is already

[2020-07-24 11:03] gvdm90 commented on #14494
Hi,
I found this same bug running this command
[code]

My az CLI version is 2.9.1

[2020-07-24 11:19] ThejaChoudary commented on #11519
@panchagnula we can transfer this to API team as the same behavior is observed using API as well.

[2020-07-24 12:37] pvrk commented on #14177
@sebastianrogers : Also want to clarify that this command will not replace the resume backup behavior. If protection is stopped, you still have to az backup protection resume (which takes in different set of parameters i.e., item-name, container-name etc). This can be the final behavior.

An Azure File share sampleFileShare is not protected.
```az backup protection enable-for-fileshare``` is ran w

[2020-07-24 13:41] 0x53A opened #14511 "Install from zip"
For CI, it would be great if azure-cli could be directly run from an extracted zip file, without having to execute a setup

[2020-07-24 14:18] LexBurner97 opened #14512 "The command suggestion on the account list --all"
**Describe the bug**

When I ran the Azure CLI on my terminal (use az interactive mode), the CLI cannot detect the command "account list --all" as "account list -a".

**To Reproduce**

UserName@DeviceName ~ % az interactive
This command is in preview. It may be changed/removed in a future release.
az>>
az>> account list -a -o table
az: error: unrecognized arguments: -a
usage: az [-h] [--verbose] [

[2020-07-24 14:20] yonzhan commented on #14511
CI

[2020-07-24 14:23] yonzhan commented on #14512
add to S174

[2020-07-24 15:39] sebastianrogers commented on #14177
That sounds ideal.

[2020-07-24 16:14] wdrdres3qew5ts21 commented on #10345
I also confront the problem too that I can only use AZ cli from powershell only inorder to access :8001 dashboard but in WSL sometime i will not work even though how many time you restart your computer it still didn't work !
The way to fix this problem is using
[code]
then restart your wsl with docker integration again and then you can run AZ CLI inside WSL and access dashboard proxy through local

[2020-07-24 17:26] jwilk opened #14517 "ssh directory created insecurely"
The `generate_ssh_keys()` function does this:

[code]

This is racy: between the directory creation and the `chmod()` call, the directory has default permissions.
Please use `os.makedirs(..., mode=0o700)` instead.

[2020-07-24 17:40] skoladich opened #14518 "az functionapp create gives 400 Bad Request error"
**Describe the bug**
Upon attempting to create a function app based on the syntax in the documentation, I receive an error message: "There was a conflict. The remote server returned an error: (400) Bad Request."

**To Reproduce**
- `az functionapp create --name {} --resource-group {} --runtime {} --storage-account {} --plan {}`
- `az functionapp create --name {} --resource-group {} --runtime {} --

[2020-07-24 18:21] LexBurner97 commented on #14496
Yep! I just wanna add this issue! Pls tackle this issue as quickly as possible, really wanna to use CLI to manage Global Load Balancer on my Azure!

[2020-07-24 18:25] rido-min commented on #14120
do you need a new issue to officially support the WinGet distribution?

[2020-07-24 19:20] alexpilon666 commented on #14360
@MyronFanQiu , flagged a similar-enough issue yesterday: #14499
TL;DR: Right now, with Azure CLI, there's no way to set a newly-created WAF Policy to OWASP 3.1 or even 2.2.9.
You can easily add the `Microsoft_BotManagerRuleSet` v0.1 on top of OWASP, but since you can't remove OWASP nor add a second version, and the `update` action does nothing, we're screwed.

[2020-07-24 21:18] hytao commented on #13935
can you share a sample command that reproduce the issue? Ideally you should provide a comma separated string as input.

[2020-07-24 21:55] FcoAbreu opened #14519 "Webapp:PermissionError: [Errno 13] Permission denied: 'C:\\\\hello.zip'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --sku {} -n {}`

## Expected Behavior

## Environment Summary

[2020-07-24 21:56] bganapa commented on #14309
@fengzhou-msft / @rakku-ms  AzureStack does not support Sql Azure and setting empty or null is the right thing to do. The issue here is though
az ad sp create-for-rbac should not throw an error for sqlManagementEndpointUrl being empty

[2020-07-24 22:58] yonzhan commented on #14517
Please provide detailed command and error message if this is CLI related issue.

[2020-07-24 23:00] yonzhan commented on #14518
functionapp

[2020-07-24 23:11] yonzhan commented on #14519
webapp

[2020-07-25 05:18] sivakumarss opened #14521 "[App service]:Azure CLI When creating appservice plan Parameter 'resource_group_name' must conform to the following pattern: '^[-\\w\\._\\(\\)]+[^\\.]$'."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az appservice plan create`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az appservice plan create --name {} --resource-group {} --location {}

[2020-07-25 07:38] yonzhan commented on #14521
appservice

[2020-07-25 20:19] MikePennington commented on #11614
This still seems to be an issue. Any update here?

[2020-07-25 22:18] subhasishdc opened #14522 "az network application-gateway auth-cert show : clarification on certificate format"
**Is your feature request related to a problem? Please describe.**
The authorization certificates of an application gateway can be found as follows:

`az network application-gateway auth-cert show -g test-rg --gateway-name test-aag --name test.com --query data`

Note: Argument values have been redacted to hide sensitive information

However, the certificate data is displayed in raw format. After t

[2020-07-25 23:12] yonzhan commented on #11614
API Management service team should look into this.

[2020-07-25 23:14] yonzhan commented on #14522
add to S174

[2020-07-25 23:29] #14220 closed

[2020-07-26 00:45] yonzhan commented on #14348
@aki0061 any update?

[2020-07-26 00:56] subhasishdc opened #14523 "az network application-gateway auth-cert list shows authentication cert from another subscription and app gateway"
**Describe the bug**
Listing authorization certificates of an application gateway is done as follows:

`az network application-gateway auth-cert list -g test --gateway-name test-aag --query '[].name' -o tsv`

Note: Argument values have been redacted to avoid showing sensitive information.

What is being observed is that apart from showing the backend authentication certificates of the application

[2020-07-26 02:22] viniciusbuscacio opened #14524 "Missing antlr4, Command not working on Ubuntu Server 20.04 - az vm list-ip-addresses"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm list-ip-addresses`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm list-ip-addresses`

## Expected Behavior

## Environment S

[2020-07-26 05:47] dmarinere opened #14525 "[Interactive] AttributeError: module 'azext_interactive' has no attribute 'start_shell'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-07-26 06:48] yugangw-msft commented on #14467
@WilldotNET, any chance you can get rid of "failOnStderr: true"? Warning always goes to stderr, but doesn't mean the command failed.
Helm2 is deprecating. On how to use helm3, please check out: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-helm-repos

[2020-07-26 06:49] yugangw-msft commented on #14498
Done. https://docs.microsoft.com/en-us/azure/container-registry/container-registry-helm-repos

[2020-07-26 06:49] #14498 closed

[2020-07-26 09:31] adstep commented on #9696
Was looking to spin up a VM from a SIG image using az cli and this seems to be unsupported/undocumented still.

@tanmayeekamath any updates?

[2020-07-26 12:40] #14411 closed

[2020-07-26 12:42] #14414 closed

[2020-07-26 12:51] yonzhan commented on #14442
add to S174

[2020-07-26 13:01] #14489 closed

[2020-07-26 13:08] yonzhan commented on #14523
add to S174

[2020-07-26 13:10] yonzhan commented on #14524
@qwordy please take a look

[2020-07-26 13:13] yonzhan commented on #14525
interactive

[2020-07-26 17:02] irrogozh opened #14526 "ConnectionMonitor: need to update endpoint parameters"
**Is your feature request related to a problem? Please describe.**
We updated some properties in connection monitor endpoint. We will need to update cli cmdlets with regard to this change

**Describe the solution you'd like**
Here is updated swagger interface:
[code]
**Updated swagger:** https://github.com/Azure/azure-rest-api-specs/blob/network-june-release/specification/network/resource-manager/

[2020-07-26 17:15] irrogozh opened #14527 "Connection-monitor test-configuration cmdlet: need to add new parameter"
**Is your feature request related to a problem? Please describe.**
We added a new parameter into TCPConfiguration interface. Need to do the same in cli cmdlet.

Here is swagger update
[code]

Updated swagger: https://github.com/Azure/azure-rest-api-specs/blob/network-june-release/specification/network/resource-manager/Microsoft.Network/stable/2020-06-01/networkWatcher.json

**Describe the solution

[2020-07-26 20:52] tanmayeekamath commented on #9696
Hello @adstep
Yes you should be able to use an ARM template or the REST API for this today.
Here is a doc on the same: https://docs.microsoft.com/en-us/azure/devtest-labs/add-vm-use-shared-image#resource-manager-template

CLI is not yet supported for the SIG related actions in DTL.

Thanks,
Tanmayee

[2020-07-26 23:33] yonzhan commented on #14526
add to S174

[2020-07-26 23:34] yonzhan commented on #14527
add to S174

[2020-07-27 01:46] MyronFanQiu commented on #14488
https://github.com/Azure/azure-cli/issues/14487 Duplicated issue.

[2020-07-27 01:46] #14488 closed

[2020-07-27 01:47] MyronFanQiu commented on #14487
@Dicolla Hi. I'm investigating this issue right now and will keep you posted.

[2020-07-27 02:01] MyronFanQiu commented on #14487
@Dicolla The root cause should be your application gateway doesn't have any auth-cert. Please double check the value and I would improve the error message.

[2020-07-27 02:30] peterekhator opened #14528 "AAD App Permission"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad app permission admin-consent`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad app permission admin-consent --id {}`

## Expec

[2020-07-27 02:39] yonzhan commented on #14528
add to S174

[2020-07-27 03:19] qwordy commented on #14524
Are you using the bundled Azure CLI of Ubuntu? The package is old and has some problems. Could you install the latest version and retry?
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-07-27 03:34] qwordy commented on #14163
OK. It is not supported yet. The initial release of AlertsManagement module only supports most commonly used commands.

[2020-07-27 05:40] zhoxing-ms commented on #13980
As I communicated with @cchildress offline, the feedback was as follows：

This issue seems to be related to `az login`, @jiasli could you please help to have a look~

[2020-07-27 05:44] RehanShahid opened #14530 "Issue while copying image files from Azure Blob storage to Azure ML workspace directory"
Issue while copying image files from Azure Blob storage to Azure ML workspace directory

[2020-07-27 06:01] Juliehzl commented on #13824
Hi @ezYakaEagle442,  `--expiry`  only accepts UTC time which is required by SDK side.  you could use end=`date -u -d "30 minutes" '+%Y-%m-%dT%H:%MZ'` to get valid datetime.

So I will close the issue now and feel free to create a new one if you still have problems.

[2020-07-27 06:01] #13824 closed

[2020-07-27 06:11] Juliehzl commented on #10740
Hi @rajaprad, I have tried with latest [azure cli](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest) in MacOS and it works.

could you try with latest azure cli first?  if it still doesn't work, could you add `--debug` in you command and provide more information for your scenario?

[2020-07-27 06:14] MyronFanQiu commented on #14499
@alexpilon666 Hi. Could you please have a try before we merge this PR? I don't fully catch your usage scenario and may misunderstand something. I exposed the type and the version in `az network application-gateway waf-policy` command. Could you help us to have a try and verify the functionality? You can download edge build from this [link](https://dev.azure.com/azure-sdk/public/_build/results?buil

[2020-07-27 06:21] jiasli commented on #13980
`<U+FEFF>` is the [Byte Order Mark (BOM)](https://en.wikipedia.org/wiki/Byte_order_mark). **UTC-8 with BOM** is used as the encoding method since the dawn of Azure CLI (516f4faf9173fd32efdbbf708ba4ceb9ada28b3b):

https://github.com/Azure/azure-cli/blob/026016e7bf205bfa378f79351f99c9d536efa3d5/src/azure-cli-core/azure/cli/core/_session.py#L38

See the Python doc [Encodings and Unicode](https://docs

[2020-07-27 06:34] jiasli commented on #14397
Looks like a bug. Will investigate in S174.

[2020-07-27 06:39] RehanShahid commented on #14530
az storage copy --source-blob azure_blob_source_path --destination-file-path ./destination_path
This command is in preview. It may be changed/removed in a future release.
The command failed with an unexpected error. Here is the traceback:

Not valid file
Traceback (most recent call last):
  File "/anaconda/envs/azureml_py36/lib/python3.6/site-packages/knack/cli.py", line 215, in invoke
    cmd_res

[2020-07-27 06:47] #13360 closed

[2020-07-27 06:51] #13987 closed

[2020-07-27 07:29] qwordy commented on #13271
`az vm list-skus` does not have restrictions now. All skus' restriction fields are empty arrays.

[2020-07-27 07:44] qwordy commented on #13984
Close it. If it still occurs in latest version, please open a new issue.

[2020-07-27 07:47] qwordy commented on #13553
Could you share a screenshot?
"az : Command group 'vm monitor metrics' is in preview. It may be changed/removed in a future release." This is not an error, but a warning.

[2020-07-27 08:30] jiasli commented on #14016
Azure CLI currently doesn't have a command for **Adding Azure AD Group to Azure AD Enterprise Application**.

The doc [Assign a user or group to an enterprise app in Azure Active Directory](https://docs.microsoft.com/en-us/azure/active-directory/manage-apps/assign-user-or-group-access-portal) mentions alternatives for how to do that in Azure Portal and PowerShell.

By capturing the network trace,

[2020-07-27 09:55] WilldotNET commented on #14467
Thanks - this stopped the warning breaking the build. I'll check out moving to Helm3 - but I thought I was already using version 3 - the error message seemed to state the az acr helm push command was being deprecated. Is az acr helm push being removed do you know?

[2020-07-27 10:16] yonzhan commented on #14530
add to S174

[2020-07-27 12:43] ashu3496 commented on #10641
Faced similar problem,
Faced similar issue. The error message is misleading and it has nothing to do with version. After removing the last asterix from AssignableScopes, it worked for me.

ashutosh.singh:~$ az role definition create --role-definition '{ \

The api-version '2018-01-01-preview' is invalid. The supported versions are '2020-06-01,2020-05-01,2020-01-01,2019-11-01,2019-10-01,2019-09-01,

[2020-07-27 13:22] NJura-PartnerAuchan commented on #14047
Hello,

I got the same error with the 2.9.0 version of azure cli directly in the cloud shell portal, the option is here but it's don't do the job.

BR

[2020-07-27 17:55] irenehua opened #14536 "az network nic ip-config inbound-nat-rule remove failed with unexpected error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network nic ip-config inbound-nat-rule remove`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network nic ip-config inbound-nat-ru

[2020-07-27 18:17] priyanka-shetty opened #14537 "Can i call one az command within another one?"
**Resource Provider**

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2020-07-27 18:25] priyanka-shetty opened #14538 "Can i call one az command within another one?"
**Resource Provider**
Azure Cli+az commands

**Description of Feature or Work Requested**
i need to call call one azure az command within another one .Is there a possibility.

**Minimum API Version Required**
Any Powershell or command line which has az installed

I want to query name of a service and export the key value into app configuration.Is there a single line command for it.

Using 2 line i

[2020-07-27 18:26] #14537 closed

[2020-07-27 19:29] gxtaillon commented on #14473
@jiasli Running this spins up the loading icon on the mouse for about half a second, and then nothing happens.

[code]
However this works (from https://github.com/PowerShell/PowerShell/issues/5715#issuecomment-400857048):
[code]

That powershell is 5.1.17763.x

[2020-07-27 21:32] yugangw-msft commented on #14467
`az acr helm` is based on helm2. We won't pull the plug right now, but we don't make further change on it. Helm3 will be a standalone command; and "az acr helm" command will just be removed when the time comes

[2020-07-27 22:05] yonzhan commented on #14536
add to S174

[2020-07-27 22:06] yonzhan commented on #14538
add to S174

[2020-07-27 22:26] #6155 closed

[2020-07-28 01:35] avinashakka opened #14539 "az vm boot-diagnostics commands update to support managed boot diagnostics"
**Resource Provider**
- Compute Resource Provider (Microsoft.Compute)

**Description of Feature or Work Requested**
Starting api-version **2020-06-01**, CRP will support VMs with boot diagnostics using managed storage. Traditionally client was required to provide storageUri at **vm.properties.diagnosticsProfile.bootDiagnostics.storageUri**  while enabling boot diagnostics which was used internally

[2020-07-28 02:02] yonzhan commented on #14539
@qwordy  please take a look

[2020-07-28 02:05] #14487 closed

[2020-07-28 02:51] jiasli commented on #10641
@ashu3496, looks like a separate issue. I will take a look when time permits.

[2020-07-28 03:02] #13981 closed

[2020-07-28 03:22] Chryogenic commented on #12513
Any updates on fixing this bug?

[2020-07-28 05:00] ampacheco-kubtec opened #14543 "spring-cloud create issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az spring-cloud create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az spring-cloud create -g {} -n {} --sku {}`

## Expected Behavio

[2020-07-28 05:14] jiasli opened #14544 "[Identity] Support EnvironmentCredential from Azure Identity"
When using `az login` with `--password`, it is possible for malicious program to retrieve the command line parameter, including the password. For example, this can be done using the [`ps`](https://man7.org/linux/man-pages/man1/ps.1.html) command.

[code]

The password `something` is exposed in the output.

A better choice is to utilize [`EnvironmentCredential`](https://azuresdkdocs.blob.core.windo

[2020-07-28 05:27] jiasli commented on #14544
A workaround is to use a password file through Azure CLI's [`@` convention](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#generic-update-arguments):

[code]

[2020-07-28 05:57] elbuenizzy commented on #11596
Hey guys! This worked for me:

I first did a zip of my app, afterwards I used this command instead for the deployment:

az webapp deployment source config-zip --resource-group <group-name> --name <app-name> --src clouddrive/<filename>.zip

Hope it works for you!

https://docs.microsoft.com/en-us/azure/app-service/deploy-zip

[2020-07-28 06:01] elbuenizzy commented on #14264
Hey guys! This worked for me:

I first did a zip of my app, afterwards I used this command instead for the deployment:

az webapp deployment source config-zip --resource-group --name --src clouddrive/.zip

Hope it works for you!

https://docs.microsoft.com/en-us/azure/app-service/deploy-zip

[2020-07-28 06:52] ragnarwessels opened #14545 "AZ CLI join command doesn't appear to work"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Trying to concatenate 2 files in ADLS Gen1 using the Azure CLI throws Python exception

**Command Name**
`az dls fs join`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite step

[2020-07-28 07:26] ludovicbonivert commented on #12415
@mcalnd70 tested your snippet and I have still duplicated ip addresses while I use same name and priority

[2020-07-28 07:29] mcalnd70 commented on #12415
@ludovicbonivert which snippet? The Azure CLI one or the PowershellAz one?

[2020-07-28 07:31] fengzhou-msft commented on #14543
please update to the latest version of `spring-cloud`: `az extension update -n spring-cloud`

[2020-07-28 07:46] ludovicbonivert commented on #12415
I tested this in a Azure DevOps pipeline
My code looks like this

[code]

[2020-07-28 09:41] jiasli commented on #14043
This is actually a very interesting finding. The reason why it is not reported as **unrecognized argument** is tricky.

Usually CLI detects unrecognized arguments:

[code]

As `--id` is not a valid parameter of `az ad app create`, it is recognized as `--identifier-uris` due to [Argument abbreviations (prefix matching)](https://docs.python.org/3/library/argparse.html#argument-abbreviations-prefix-m

[2020-07-28 09:56] alextes opened #14548 "Azure AKS get-credentials exits with code 1 but no clear error"
## Describe the bug
`az aks get-credentials` does not pull credentials.

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
- Create a cluster named `k8s-dev` in a resource group named `kubernetes-dev`.
- Login with the CLI using `az login`
- `az aks get-credentials --resource-group kubernetes-dev --name k8s-dev`

## Expected Behavior
Pulls the credentials.

## Environ

[2020-07-28 10:01] yonzhan commented on #14545
add to S174

[2020-07-28 10:50] #14021 closed

[2020-07-28 12:00] deepakk11 commented on #10812
Any update on this issue?

[2020-07-28 12:29] abrignola commented on #11867
@madsd Hi, this command seems to be in preview at the moment, is there an ETA for the GA of this? We cannot use preview features in production. Thank you

[2020-07-28 12:29] yonzhan commented on #14548
AKS

[2020-07-28 12:35] scals44 commented on #12946
@jiasli thanks for all the examples of utilizing az rest to call service principals. I'm fighting with a possible edge case now. In an attempt to categorize and programmatically rotate client secrets we're aiming to use Tags on service principal objects. For the most part, this works fine by running az commands like:
`az ad sp update --id appID --add tags "tags:value"`

Before I got to this point

[2020-07-28 12:37] pvrk commented on #13999
@sbugalski : Sincere apologies, I missed updating the thread. We took this up in our investigation and are planning to fix this. Will let you know the plan once this finalized.

[2020-07-28 12:40] jiasli commented on #12946
@scals44, do you mind creating a new issue for us to track? Thank you.

[2020-07-28 12:49] A30004028 opened #14550 "Triggering only on a change to the contents of a github repo folder"
Hi,

I have my triggers setup to specify on branch and folder in a Github repo, but the ACR tasks are being triggered for changes to files outside of the specified folder.

Is it possible to only trigger on a push for the contents of the folder? Otherwise it looks like we can only have one task per repo.

In the example below I'd expect that a Task run only to occur when the contents of `task_fold

[2020-07-28 13:01] scals44 opened #14551 "Tagging service principals with az ad sp update --id appID --add tags throws "Update to existing credential with KeyId 'keyID' is not allowed.""
**Describe the bug**
@jiasli New issue here. Thanks for all the examples of utilizing az rest to call service principals. I'm fighting with a possible edge case now. In an attempt to categorize and programmatically rotate client secrets we're aiming to use Tags on service principal objects. For the most part, this works fine by running az commands like:
az ad sp update --id appID --add tags "tags:

[2020-07-28 14:08] yonzhan commented on #14550
acr

[2020-07-28 14:10] yonzhan commented on #14551
add to S174

[2020-07-28 14:11] dgcaron commented on #14019
sorry for the late reply but i am no longer able to reproduce this error and can now talk to the storage account normally

[2020-07-28 14:14] #14019 closed

[2020-07-28 14:18] TomGeske commented on #14548
@alextes: do other cli commands work?

Do you get an access token if you run:
`az account get-access-token`

[2020-07-28 14:29] Herve-Stephane commented on #13855
Hello,

Get the same error trying first to create AKS and now az login doesn't work anymore.

Stef

[2020-07-28 17:11] panchagnula commented on #14264
@elbuenizzy glad you found a work around. if zip deploy worked for you for the same content then that means that the BUILD on our end is failing since the only difference is UP does a zip deploy + build and doesn't zip the python env files, & triggers a build on our end to complete the deployment + build.

[2020-07-28 17:13] hkuadithya commented on #14550
@northtyphoon could you take a look?

[2020-07-28 18:11] apawast commented on #14518
Hi @skoladich, can you show us the output when you use the` --debug` flag?

[2020-07-28 18:39] dagoroz opened #14552 "Request to add new properties to Role Assignment objects and operations"
**Resource Provider**

Microsoft.Authorization

**Description of Feature or Work Requested**

Th properties "Condition", "Condition Version" and "Description" need to be added to the RoleAssignment request and response objects.
Additionally we require that a method to update role assignments is implemented, but limiting it to just those 3 new properties.

**Minimum API Version Required**

2020-04-

[2020-07-28 19:20] northtyphoon commented on #14550
@A30004028, ACR Tasks don't support folder filter. Please submit your request to http://aka.ms/acr/uservoice. /cc: @SteveLasker

[2020-07-28 19:28] smcgrawDotNet commented on #13855
Good day,

Confirm (or fix) your login first.
Make sure you have:

   - Close and open a new ACS tab;
   - Some-times ACS works better in Chrome than IE;
   - In both cases clear the browser cache (logout first - after
   logback-in);

Sam

On Tue, Jul 28, 2020 at 7:29 AM Herve-Stephane <notifications@github.com>
wrote:

[2020-07-28 20:05] jtarchie opened #14553 "CVE in python package dependency `invoke`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

There is a CVE in PyYAML that is vendored in `invoke` which Azure CLI installs.
This is a [cross post](https://github.com/pyinvoke/invoke/issues/747) of the issue on their repo.

**Command Name**
n/a

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, a

[2020-07-28 20:12] skoladich commented on #14518
I found the bug! I was specifying the --storage-account argument with capital letters (i.e. StorageAccount instead of storageaccount), and the storage accounts API returned the account information anyways, but the account name with capital letters was used to generate the connection strings in the AzureWebJobsStorage and WEBSITE_CONTENTAZUREFILECONNECTIONSTRING app settings, the web site API retur

[2020-07-28 20:52] rafagsiqueira commented on #11233
@palma21 you mentioned: "We are now working on a UDR outbound type for SLB that will allow users to confirm they have egress through UDRs and in this case the SLB won't be created with a Public IP for egress". Is this on a roadmap somewhere? Is it already available?

[2020-07-28 21:19] #11946 closed

[2020-07-28 22:08] yonzhan commented on #14552
add to S174

[2020-07-28 22:10] yonzhan commented on #14553
@fengzhou-msft please take a look

[2020-07-28 23:08] A30004028 commented on #14550
Thanks all - Will do. Cheers

[2020-07-28 23:08] #14550 closed

[2020-07-28 23:50] bbkane opened #14556 "Allow users to set `allowBlobPublicAccess` with a flag on `az storage account create`"
**Is your feature request related to a problem? Please describe.**

My company recently changed security policy - All storage accounts created must have the `allowBlobPublicAccess` property ( https://docs.microsoft.com/en-us/azure/storage/blobs/anonymous-read-access-configure?tabs=azure-cli ) disabled. However, I think this means it will be impossible for our engineers to use `az storage account c

[2020-07-29 01:29] arrownj commented on #14556
Hi @Juliehzl , could you please check with this issue ? Thanks

[2020-07-29 01:52] fengzhou-msft commented on #14309
I see, will investigate why it throws the error.

[2020-07-29 02:04] architectone opened #14560 "az image copy failed create snapshot"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az snapshot create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az snapshot create --resource-group {} --name {} --location {} --sour

[2020-07-29 02:08] #14293 closed

[2020-07-29 02:12] edyoung commented on #13855
I don't believe this would be resolved by reopening Cloud Shell or using an alternative browser. Please see my comment earlier in this thread for troubleshooting steps.

[2020-07-29 02:16] #12959 closed

[2020-07-29 02:54] yonzhan commented on #14556
add to S174

[2020-07-29 02:59] yonzhan commented on #14560
@qwordy please take a look

[2020-07-29 03:00] meghachauhan0392 opened #14561 "az group command not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group list`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group list`

## Expected Behavior

## Environment Summary
[code]
## Additional

[2020-07-29 03:14] nestor-qhr opened #14562 "Deploy python written functions with the CLI"
## Describe the bug
I tried to deploy functions from a zip file into an existing function app

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

I only ran the following command on the terminal:
- `az functionapp deployment so

[2020-07-29 03:47] jwisener opened #14563 "Azure functions started breaking"
**Describe the bug**
We had an azure function we created by hand, inside the azure function app instance (aka inside the portal). This morning around 4:00 AM CST, the function started breaking, no code change has been done the function. The function app does use the extension per the documentation provided by microsoft. I think the Controller (azure function code) must have changed. Because, or az

[2020-07-29 04:33] yonzhan commented on #14561
add to S174

[2020-07-29 04:40] yonzhan commented on #14562
functionapp

[2020-07-29 05:19] #12449 closed

[2020-07-29 05:21] jsntcy commented on #12449
Close as no response from customer. @aaronyeung  If you still have the issue, you can reopen it.

[2020-07-29 05:26] jsntcy commented on #10764
@microkost, I have tried the commands and the warning is by design (scale in and scale out are expected to be created as a pair. The warning can notify users when they forget to create a paired rules which may cause unexpected behaviors for auto-scale, such as unlimited scale out, or scale in to zero.) I use azure cli 2.9.1. Could you try that version?

Below is the screenshot that I created scale

[2020-07-29 05:35] rudym opened #14564 "Files with names 2020-07-12T08:00:00.000-0-z7xXMEib21_RpAdci8 make it impossible to download via az CLI"
Files with names like _2020-07-12T08:00:00.000-0-z7xXMEib21_RpAdci8.log_ make it impossible to download via az CLI

**Command Name**
`az storage blob download-batch`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behaviour.

Upload any file to your blob with names like 2020-07-12T08:00:00.000-0-z7xXMEib21_RpAdci8.log

Run
- `az storage blob download-batch -d . --pattern *.log -s <con

[2020-07-29 05:45] meghachauhan0392 commented on #14561
Issue has been solved

[2020-07-29 05:45] #14561 closed

[2020-07-29 05:51] #14043 closed

[2020-07-29 05:58] rudym commented on #14564
The issue is windows filename restriction.

Might be an interesting option having an ability to replace restricted characters.

[2020-07-29 06:00] #14499 closed

[2020-07-29 06:00] #14360 closed

[2020-07-29 06:09] Herve-Stephane commented on #13855
Hello, Thanks.

Sam it's the first thing i've done. Restarting everything.
Ed i can't do it by command line but with the portal it works. I will try to recreate the directory as you explain.

Thanks again

[2020-07-29 06:41] #14096 closed

[2020-07-29 06:52] jiasli commented on #14085
Same as https://github.com/Azure/azure-cli/issues/10563#issuecomment-663370704. Could you still reproduce it?

[2020-07-29 06:56] jiasli commented on #14086
`az ad` commands are designed and implemented to assist integrating AAD with Azure, instead of as a fully functioning client to interact with AAD. You may use `az rest` with Microsoft Graph API to manipulate those properties. See https://github.com/Azure/azure-cli/issues/12946 for examples.

[2020-07-29 06:56] #14086 closed

[2020-07-29 07:04] jiasli commented on #14104
Duplicate of #11749

[2020-07-29 07:04] #14104 closed

[2020-07-29 07:19] jiasli commented on #14285
You may capture `--debug` log and then [create a support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) to AAD. A support engineer will help you identify the service-side issue.

[2020-07-29 07:29] jiasli commented on #13776
This is a known issue of Azure Stack (https://github.com/Azure/azure-rest-api-specs/issues/9567) pending a fix from service side.

[2020-07-29 07:29] #13776 closed

[2020-07-29 07:30] yonzhan commented on #14564
add to S174

[2020-07-29 07:39] Herve-Stephane commented on #13855
Hi,

This morning everything works fine. To be continued...

[2020-07-29 07:40] damienbod commented on #14086
Maybe you should remove the **az ad app update** and **az ad app create**  if it is not possible to use these or update the docs to recommend az rest.

https://docs.microsoft.com/en-us/cli/azure/ad/app?view=azure-cli-latest

[2020-07-29 07:53] jiasli commented on #14086
`az ad app update` and `az ad app create` do work for basic application operations. `az rest` is purely for advanced operations out of the scope of the current Azure CLI implementation.

We plan to migrate them to use Microsoft Graph instead in the future, but now many customers are still using them.

[2020-07-29 08:06] damienbod commented on #14086
So Azure CLI cannot be used to create Azure APP registrations, Graph API should be used, correct? Some of the missing featurea are basic operations. Using `az rest` (Graph API call) together with `az ad app update` and `az ad app create` in an automated process does not work together.

[2020-07-29 08:15] mataralhawiti commented on #14095
I managed to get this work, thanks for the help from @prernavashistha from Microsoft support
it turned out there's some inconsistency in the documentations.

According to the documentation here :
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostics-extension-windows-install
In **protected-settings.json** I should pass the storage URI to  "storageAccountEndPoint" key :
`{ "stor

[2020-07-29 08:31] jiasli commented on #14086
Azure CLI **can** be used to create Azure APP registrations. It internally uses AD Graph (we plan to migrate to MS Graph).

Using `az rest` (Graph API call) together with `az ad app update` and `az ad app create` in an automated process **do work together**.

You can use `az ad app update` and `az ad app create` for basic operations and `az rest` for advanced operations.

If you have a repro, plea

[2020-07-29 08:44] zhoxing-ms commented on #14122
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-07-29 08:44] #14122 closed

[2020-07-29 08:44] zhoxing-ms commented on #14168
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-07-29 08:44] #14168 closed

[2020-07-29 08:44] zhoxing-ms commented on #14145
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-07-29 08:44] #14145 closed

[2020-07-29 08:44] zhoxing-ms commented on #14026
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-07-29 08:44] #14026 closed

[2020-07-29 08:44] zhoxing-ms commented on #14002
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-07-29 08:44] #14002 closed

[2020-07-29 08:45] zhoxing-ms commented on #13998
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-07-29 08:45] #13998 closed

[2020-07-29 08:45] zhoxing-ms commented on #13972
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-07-29 08:45] #13972 closed

[2020-07-29 08:45] zhoxing-ms commented on #13864
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-07-29 08:45] #13864 closed

[2020-07-29 08:47] damienbod commented on #14086
@jiasli  Thanks for you answer.

I have a basic example here:

https://damienbod.com/2020/06/22/using-azure-cli-to-create-azure-app-registrations/

scripts:

https://github.com/damienbod/AzureAD-Auth-MyUI-with-MyAPI/tree/master/CreateAppRegistrations

When using `az rest` after the `az ad app`, it does not work for n-seconds. If I wait a small amount of time before calling the `az rest` graph api

[2020-07-29 09:29] deephack1982 commented on #13563
Hello Azure team! I would much prefer to use the snap package for the Azure CLI and I have time to maintain this package if you would like a hand?

[2020-07-29 09:51] bart986 commented on #12751
Hello,
Allow me to share similar issue with our VMSS. It is pretty stable and each day it is being started and stopped by runbooks that twe hold in automation account. Until today: without particular reason vmss didn't start instance today, when I checked erorrs in jobs I found:
![image](https://user-images.githubusercontent.com/68948199/88785204-318cde00-d191-11ea-925e-76bcbb23e423.png)
looks lik

[2020-07-29 10:40] kipal opened #14572 "`az functionapp plan show` doesn't return exit code 1 at non-existing resource"
```az functionapp plan show``` returns exit code 0 when the resource doesn't exist.

**Command Name**
`az functionapp plan show`

**Errors:**

## To Reproduce:
- `az functionapp plan show -n {} -g {}`

## Expected Behavior
It should return with a non-zero exit code.

## Environment Summary
[code]
## Debug log
[code]

[2020-07-29 12:36] IgnacioAlvarezArenas opened #14573 "Webapp:az webapp deleted restore needs always the slot parameter to succeed, otherwise returns "not found""
az webapp deleted restore command instruction seems to be wrong. If you run it without specifying the slot, it seems to be failed with something like:

az webapp deleted restore --deleted-id "yourdeletedid" -g yourresourcegroup --name yourappname --subscription yoursubscriptionID

The error is:

ResourceNotFound - The Resource 'Microsoft.Web/sites/yourapp' under resource group 'yourresourcegroup'

[2020-07-29 12:45] siddharth7 commented on #7493
@sambitratha  can you look at this?

[2020-07-29 13:30] TimtationOne opened #14574 "AZ VMSS singlePlacementGroup can't be disabled but has to be"
azure-cli 2.9.1

Hi,

I am trying to create a VM Scale Set with --orchestration-mode VM but getting following error:
[code]

[code]

If I try to create the VMSS with disabled singlePlacementGroup it get following Errror:
[code]

[code]

So I really don't know how I can create the VMSS with --orchestration-mode VM using the Azure Client. Using an older version (2.0.70) worked.

[2020-07-29 14:25] joshschmitter commented on #6397
@mgeorgebrown89 and others with this issue, try deleting your ~/.azure directory and run az login again.  (in my case I completely re-installed the az cli, but I think only removing the .azure dir may have been sufficient.)

[2020-07-29 14:33] pvrk commented on #7493
@ggg333 : Can you please elaborate on idempotency? The "enable-protection" command is for enabling backup for "yet-unprotected-items" and there is a "resume" command for "protection-stopped-items". Can you help me understand what is the expectation here?

[2020-07-29 15:11] cpdohert commented on #14347
I am having the same problem, albeit in a different context.

I have two Ubuntu VMs hosted in Azure: "Production" and "Staging".  Each VM is in a dedicated Subscription.  Both VMs were instantiated with the same terraform 0.12 script.  Each VM has its own system-assigned identity.

There is a single ACR in the Production subscription.  Both the Production and Staging VM identities have been grante

[2020-07-29 16:20] danielsollondon opened #14575 "az image builder create"
**Describe the bug**
az image builder create does not contain the vmProfile config properties:
        "vmProfile":
            {
            "vmSize": "<vmSize>",
            "osDiskSizeGB": <sizeInGB>,
            "vnetConfig": {
                "subnetId": "/subscriptions/<subscriptionID>/resourceGroups/<vnetRgName>/providers/Microsoft.Network/virtualNetworks/<vnetName>/subnets/<subnetName>"

[2020-07-29 17:09] cpdohert commented on #14347
I tried this with a user-assigned managed service identity instead:

Run on the Staging VM by logging in directly and executing `az login --identity --username <objId>`: works correctly, JSON returned.

Run on the Staging VM under the Azure Pipelines Environment agent:
`Failed to connect to MSI, check your managed service identity id.`

[2020-07-29 17:11] btardif commented on #13662
@sanchitmehta

[2020-07-29 17:20] IanBoudreaux commented on #13320
@maburlik @bureado I agree and I think it is fairly confusing to have the offer name changed for the 20.04 release.

I was looking into upgrading our VMs from 18.04-LTS to 20.04-LTS and because I expected `Canonical:UbuntuServer:20.04-LTS:latest` but it didn't exist in the `az vm image list`, I wouldn't have known it existed at all if not for the [marketplace link](https://azuremarketplace.microso

[2020-07-29 17:34] btardif commented on #13281
@panchagnula can this be closed?

[2020-07-29 17:44] btardif commented on #14023
`az webapp up` is **opinionated** as far as OS goes. so we provide default with no overrides.

For advanced scenarios use `az webapp create` where you have full flexibility

Once we have an official story for static hosting on linux app service we can revisit defaults for `az webapp up`

[2020-07-29 17:44] #14023 closed

[2020-07-29 17:47] btardif commented on #12141
FYI @sanchitmehta

[2020-07-29 17:48] panchagnula commented on #13281
@btardif Kota & Theja are taking care of triage - and they will verify and close accordingly. Thanks for checking

[2020-07-29 17:49] btardif commented on #11280
FYI @sanchitmehta

[2020-07-29 18:26] v-sijeff opened #14577 "az login --identity tries to connect to host 169.254.169.254 port 80 and fails because there is no host there."
### **This is autogenerated. Please review and update as needed.**
I am trying to login to ` https://msazure.visualstudio.com/LSG-linux/` with a PAT.

## Describe the bug

v-sijeff@ovlvm102:~$  az login --identity
The command failed with an unexpected error. Here is the traceback:

HTTPConnectionPool(host='169.254.169.254', port=80): Max retries exceeded with url: /metadata/identity/oauth2/token?r

[2020-07-29 19:03] JohnKeippel opened #14578 "Initiatives Misspelled in Tree"
On this [page](https://docs.microsoft.com/en-us/cli/azure/policy/set-definition?view=azure-cli-latest) the parent of this Overview page in the tree structure on the left misspells Initiatives as "Initiatves".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bfe29c90-ab37-174c-3365-d33044447272
* Version Independent ID: 3

[2020-07-29 19:41] azuresg opened #14579 "Unable to perform a file share in azure"
I am trying to perform a file share upload in Azure. I am using Katacoda to perform this. The command should have: the account name, account key, share name, source, and path parameters correctly so that the file (index.php) is uploaded to the created directory. The share and directory inside share has same name sgfileshare1.

The path specified in the "source" is downloaded using the command : gi

[2020-07-29 19:43] fbarresi commented on #7447
In newer version of az CLI still not getting better. Almost 4 seconds for getting version number.

[code]

[code]

[2020-07-29 19:51] flyingUnderTheRadar opened #14580 "Webapp:Multiple bugs - `az webapp config appsettings set` command"
Facing two problems

- `az webapp config appsettings set -g $ResourceGroupName -n "app-name" --settings SettingKey=$SettingValue SettingKey2=$SettingValue2` does not work even though the settings are space separated, it errors out. If it is set as a string it puts all of it in the one config setting (with the "()" for keyvault reference. This is relevant for the next problem.)
- `az webapp config

[2020-07-29 19:53] flyingUnderTheRadar commented on #14580
Service attention and for webapp

[2020-07-29 19:57] jluk commented on #11233
Yes this capability is GA, please use this documentation.

aka.ms/aks/outboundtype

[2020-07-29 20:44] gopi158 opened #14581 "Unable to create "CorrelationFilter" rule in ServiceBus subscription from AZ CLI - 'az servicebus topic subscription rule create'"
Hello,

I am able to create ServiceBus subscription rules/filters through the Azure portal, but I am not able to create the same subscription rule/filter through AZ CLI.

while creating through az-cli, I am getting below error.
az servicebus topic subscription rule create --resource-group myresourcegroup --namespace-name mynamespace --topic-name mytopic --subscription-name mysubscription --name my

[2020-07-29 20:56] DPatrickBoyd opened #14582 "incorrect command for http redirect?"
az cdn endpoint rule add -g group -n ep --profile-name name --order 1 --rule-name "http-redirect" --match-variable RequestScheme --operator Equal --match-values HTTPS --action-name "UrlRedirect" --redirect-protocol Https --redirect-type
 Moved

This appears to be redirecting https to https? I think the match-values should be HTTP

---
#### Document Details

⚠ *Do not edit this section. It is requi

[2020-07-29 21:27] btardif opened #14583 "[az webapp up] if --name parameter is not provided we should auto generate one."
We should do similar logic to how static webapps auto generates the cname for a SWA

for example: zealous-tree-06c552e1e --> *adjective*-*noun*-shortguid

This is related to Python worklod review issue: [Issue 1457](https://azuretracking.visualstudio.com/Azure%20tracking/_workitems/edit/1457?src=WorkItemMention&src-action=artifact_link): [az webapp up] Make name optional, generate random name if l

[2020-07-29 21:39] btardif commented on #14264
@calvinsID can we close this?

[2020-07-29 21:40] btardif commented on #14415
@calvinsID can we close this?

[2020-07-29 21:43] #14306 closed

[2020-07-29 21:49] nestor-qhr commented on #14562
It works now. I fixed my deploy of the App Service, that I did through Terraform: turns out I didn't specify that I wanted Python to be the `FUNCTIONS_WORKER_RUNTIME` in my app service resource. **I just tried to deploy and I had no issues** 👍  thank you for your time!

[2020-07-29 21:49] #14562 closed

[2020-07-29 23:12] SimSama opened #14584 "az image create -- Limited command options as compared to Azure Portal"
**Describe the bug**

Perhaps a maturity issue as opposed to bug. The documentation for az image create does not list a clear way to specify storage-sku for each data disk attached to an image.

Also encryption options visible in Image create UI, is not listed in configuration options in Azure CLI.

Sample command: -- this is a long multi-line command in windows cmd. It works, but does not allow s

[2020-07-29 23:13] Drewm3 commented on #14425
@axayjo, could you take a look at this issue?

[2020-07-29 23:34] stevenjh opened #14585 "“az webapp create-remote-connection” pauses powershell script"
**Describe the bug**
When the following line runs in my powershell script, execution of the rest of the script stops
`az webapp create-remote-connection --subscription 00000000-9dfs-4fdsxexxxx-324jklsdf4308320324 --resource-group my-resource-group -n my-app-name -p 12345`

I'm calling it from Windows Task Scheduler, a powershell dialog pops up indicating progress, and then pauses the script with t

[2020-07-29 23:44] yonzhan commented on #14572
functionapp

[2020-07-29 23:47] yonzhan commented on #14573
webapp

[2020-07-29 23:49] yonzhan commented on #14574
@qwordy please take a look

[2020-07-29 23:57] kinzleb commented on #14498
Seemed like Microsoft was a little too hasty on deprecating this... I know it was a preview feature and all but the alternative to use Helm3's OCI experimental features like "helm chart save" and "helm chart push" are still far from mature... simple things like setting the chart's version and app-version require ugly workarounds... this unexpectedly took my development team out of commission for t

[2020-07-30 01:14] arrownj commented on #14575
Hi @qwordy , could you please help with this issue ? Thanks

[2020-07-30 01:16] arrownj commented on #14577
Hi @v-sijeff , thanks for reporting, we will look at it.

[2020-07-30 01:17] arrownj commented on #14578
Hi @zhoxing-ms , could you please help with this issue ? Thanks

[2020-07-30 01:18] arrownj commented on #14579
Hi @Juliehzl , could you please help with this issue ? Thanks

[2020-07-30 01:20] arrownj commented on #14581
Hi @gopi158 , thanks for reporting, we will look at it.

[2020-07-30 01:20] arrownj commented on #14582
Hi @DPatrickBoyd , thanks for reporting, we will look at it.

[2020-07-30 01:22] arrownj commented on #14584
Hi @qwordy , could you please help with this issue ? Thanks

[2020-07-30 01:22] arrownj commented on #14585
Hi @stevenjh , thanks for reporting, we will look at it.

[2020-07-30 01:28] panchagnula commented on #14583
@arrownj  yep - we discussed this recently in a scrum. Adding tentative milestone

[2020-07-30 02:55] jiasli commented on #7447
`az --version` has a network request to `PyPI` to check if there are any updates. Could you try `az version` instead? We have added a new mechanism called **Command Index** to boost the performance (https://github.com/Azure/azure-cli/pull/13294).

With the release version, I got:

[code]

[2020-07-30 03:19] haroldrandom commented on #14526
To be clear, the --include-item and --exclude-item is for ConnectionMonitorEndpointScope

[2020-07-30 03:30] irrogozh commented on #14526
@haroldrandom , yes, this is correct

[2020-07-30 03:42] colemickens commented on #1062
For anyone else here: `az vm list-ip-addresses -n nixos-29606 -g nixos-29606 -o tsv --query '[0].virtualMachine.network.publicIpAddresses[0].ipAddress'`

[2020-07-30 04:54] jsntcy opened #14586 "[CI][Test] The behavior of incremental test is not correct sometimes"
When the diff between the PR branch (source) and master branch (target) contains not only the PR changes, the incremental test will test other changes as well beside the current PR changes and it's not a correct behavior as incremental test should only test the changes in the current PR.

Potential solution:
Rebase the PR branch on latest master, then diff between the PR branch and master branch,

[2020-07-30 05:22] yonzhan commented on #14586
CI

[2020-07-30 05:49] #13786 closed

[2020-07-30 05:54] jiasli commented on #14473
Thanks for the information. However, I still can't reproduce it in Debian WSL.

In WSL:

[code]

In `powershell.exe`:

[code]

Could you update the Windows system to 1909 or 2004 and try again?