[2018-06-04 17:35] troydai commented on #6486
Workaround:
Option 1. In the virtual environment force install `prompt_toolkis==1.0.15`
Option 2. Install Azure CLI from other package management system

[2018-06-04 17:37] SeanTurner026 commented on #6445
Some additional information, I am unsure how to get the cluster name. Running `az acs list` returns `[]`. I was going to try and input the cluster name from this output into `az acs kubernetes get-credentials -g <resource-group> -n <cluster-name>`, as I am pretty sure that this command would give me the master VM's IP address.

Any help would be absolutely incredible. Thanks again!

[2018-06-04 18:16] xingwu1 commented on #4870
I don't think it is possible for JSON format since this is exactly json.dump result. Unless we convert the result to a new json object by stripping other fields of standard response.

[2018-06-04 18:25] p- opened #6487 "Allow selecting the protocol when creating an ACI container (az container create)"
**Is your feature request related to a problem? Please describe.**
At the moment [it seems](https://docs.microsoft.com/en-us/cli/azure/container?view=azure-cli-latest) not to be possible to specify the protocol of a port when creating a container with `az container create`. It is possible to specify the ports with `--ports`, but the protocol is always TCP.

**Describe the solution you'd like**
May

[2018-06-04 18:35] itowlson commented on #4870
I believe the Batch API would return JSON containing only the `select`-ed fields, so it seems weird that the CLI would add the unselected fields back in with null values.  Or is it the Python SDK that adds back all the fields?  If so, it should be possible for the CLI to transform the object by selecting only the fields listed in the `--select` option (aren't Python objects treatable as maps, simi

[2018-06-04 18:36] akramwaseem opened #6488 "What does upgrade option mean on the azure portal?"
Hi, Lets say I have a VMSS which is running 4 VMs and I deployed them using ARM template.
now I made some changes to cloud init files or some other files which are used by the VMSS. Here there are two things which I can do
1) I can delete the whole resource group and redeploy the updated ARM Templates which is like fresh installs the VMSS from scratch.which is good.
2) I can use two options which

[2018-06-04 18:44] xingwu1 commented on #4870
The server did only response the single field, however, Batch SDK convert the json response back to pool object, and now dump the pool object back to json with so many null fields.

I need to ask SDK team about the behavior of other commands (if they supports select).

[2018-06-04 18:59] williexu commented on #6475
The same would happen if one tried to do a `resource show` on `/subscriptions/00977cdb-163f-435f-9c32-00000000000/providers/Microsoft.Storage/storageAccounts`

While this and `/subscriptions/deadbeaf-1111-2222-3333-666666666666/resources` are valid ARM IDs, they do not refer to specific ARM resources.

[2018-06-04 19:07] tjprescott commented on #6475
I would argue we not error out, but simply detect these special-case IDs and pass them along. I think it would be too much work to try and "redirect" the user to different commands. It seems that there is (potentially) some additional metadata that the resource show command might expose that the corresponding list command does not.

[2018-06-04 19:12] tjprescott commented on #6475
We would need to fix this in msrest, imo, if this form of ID was accepted anywhere an ARM ID could be supplied. I doubt that this is the case. If it is only interpreted by the ARM resource endpoints, then I believe we should just adjust the custom command in the CLI.

[2018-06-04 19:50] ahmedelnably commented on #4565
@ahmelsayed Can you please comment if this is something that can be supported in the Functions CLI

[2018-06-04 20:01] williexu commented on #6475
Even the resource sdk docs expect a id to be given for a specific ARM resource:
https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-resource/azure/mgmt/resource/resources/v2018_02_01/operations/resources_operations.py#L1222

Anything other than a ARM resource id should be unknown territory.

[2018-06-04 22:12] alexeyshishkin01 opened #6490 "cannot update azure cli (bash on windows)"
**Describe the bug**
A clear and concise description of what the bug is.

I run the following command to check for azure cli updates:
sudo apt-get update && sudo apt-get -s dist-upgrade | grep "^Inst"

I get the following error message:
...
Get:1 https://packages.microsoft.com trusty InRelease
Err https://packages.microsoft.com trusty InRelease
W: An error occurred during the signature verificatio

[2018-06-04 22:32] williexu commented on #6424
@MisinformedDNA works for me on windows terminal:
[code]

[2018-06-05 00:17] MisinformedDNA commented on #6424
Just figured it out. It's a PowerShell "issue". In PS, the `$` needs to be escaped! So it should be

[code]

[2018-06-05 00:17] #6424 closed

[2018-06-05 05:09] gatneil commented on #6388
Hey @colemickens! Long time no see. I actually don't work in Azure anymore, but I agree that the information should get out there. For #1 and #2, I threw together a couple blog posts that cover the topics:

Updating a scale set (including details around how POST APIs like reimage operate at the control plane): https://negatblog.wordpress.com/2018/06/05/updating-a-scale-set/
Reimaging VMs in a scal

[2018-06-05 05:30] sabbour opened #6491 "az acr build --no-logs returns before the build is pushed to ACR"
**Describe the bug**
Doing `BUILD_ID=$(az acr build -r <registry> -g <resource group> -t <registry>.azurecr.io/foo/bar:{{.Build.ID}} ./foobar --no-logs --query buildId)` returns the buildId before it actually makes into the registry.

This causes issues in automation, for example if you follow that command with `helm install foobar/charts/foobar --set image.repository=<registry>.azurecr.io/foo/bar

[2018-06-05 05:44] sabbour opened #6492 "az acr build --no-logs still returns a line of log, distrupting --query"
**Describe the bug**
`az acr build --no-logs` should not return any logs to the console. This currently returns the following:

[code]

**Expected behavior**
Only the queried buildID (or other field) is returned.

**Environment summary**
Homebrew on MacOS
azure-cli (2.0.32)
acr (2.0.24)

[2018-06-05 05:48] colemickens commented on #6388
@gatneil :wave:  This is really great, I can't thank you enough. The PUT/PATCH/POST is a great resource too, especially including knowing how to know the request type from the docs. Thank you very much.

I think I only have one more question that you might know, and if not, I can experiment.

1. Deploy VMSS with user image `foo.vhd`.
2. Update the VMSS mode with user image `bar.vhd`.
3. (Do not do

[2018-06-05 06:19] gatneil commented on #6388
@colemickens, glad the blog posts were helpful. Let me know if you have other questions that come up. For this particular question, the new OS disk will come back as bar.vhd :)

[2018-06-05 14:01] AlexL-CC opened #6493 "incorrect parameters processing at az vm run-command invoke"
**Describe the bug**
[Here](en-us/cli/azure/vm/run-command?view=azure-cli-latest)  I see:

--parameters
Space-separated parameters in the format of '[name=]value'.

When I try to follow this, it does not work:

[code]

**To Reproduce**
[code]

**Expected behavior**
file /var/lib/waagent/run-command/download/XX/script.sh should contain something like

export wsci=055...-the-id-here-...6939
export p

[2018-06-05 15:02] neutrongenious commented on #6336
+1 same issue when trying to scale, also with custom vNets

[2018-06-05 15:37] cloudmelon opened #6494 "Duplication introduction sentence and not cover the exact definition."
First sentence is redundant and not cover the exact definition.

" Manage run commands on a Virtual Machine. "  appeared twice

Here is the proposed definition :
Azure VM run command is used to run scripts on an Azure VM directly from cloudshell or local Azure CLI tools without having to connect to the Azure VM.

Doc url : https://docs.microsoft.com/en-us/cli/azure/vm/run-command?view=azure-cli-la

[2018-06-05 15:44] tjprescott commented on #6482
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-custom-images

[2018-06-05 15:44] #6482 closed

[2018-06-05 15:45] yugangw-msft commented on #6493
You probably should get POSH script out of the way first, and use fixed argument values on the CLI run command. If it doesn't work in the plain command window, let me know.
Error like `An expression was expected after '('` has nothing to do CLI.

[2018-06-05 15:47] tjprescott commented on #6490
So you are trying to update your MSI installation using `apt-get`?  @troydai is that supported?

[2018-06-05 15:49] yugangw-msft commented on #6481
This is in the area of graph ownership support we plan to work on in the near furture.
//cc @mayurid

[2018-06-05 15:50] yugangw-msft commented on #6481
Same thing with #6258

[2018-06-05 15:50] #6481 closed

[2018-06-05 15:53] #6474 closed

[2018-06-05 15:54] tjprescott commented on #5566
@yugangw-msft

[2018-06-05 15:56] #6450 closed

[2018-06-05 15:58] tjprescott commented on #3614
The service team is responsible for on-boarding their commands, not the CLI team.  @KendarJoshi @twitchax for comment.

[2018-06-05 16:04] alexeyshishkin01 commented on #6482
oh, no - my question is about https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/linux/troubleshoot-recovery-disks-portal.md#create-vm-from-original-hard-disk
I have to recreate VM by attaching the disk, but I need this VM to be exactly of the same configuration as before deleting.

[2018-06-05 16:30] tjprescott commented on #6464
@twitchax @johanste @mayurid for comment.

[2018-06-05 18:15] xingwu1 commented on #4061
@lmazuel @troydai This issue wasn't fixed yet. I use the latest cloudshell.

"nodeAgentSKUId": "batch.node.ubuntu 16.04"  --> deserialize succeed
"nodeAgentSkuId": "batch.node.ubuntu 16.04"  --> Parameter 'VirtualMachineConfiguration.node_agent_sku_id' can not be None.

[2018-06-05 18:15] Tiano2017 opened #6498 "Support 2018-05-01 version of Microsoft.Resources API"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Need to subscription level deployment APIs introduced in Microsoft.Resources/2018-05-01.

**Describe alternatives you've considered**
No

**Additional context**
swagger PR: https://github.com/Azure/azure-rest-api-specs/pull/2976
Python SDK PR: https://github.com/Azure/azure-sdk-for-python/pu

[2018-06-05 18:17] nwohlgemuth opened #6499 "Adding a tag to a resource is unacceptably slow"
**Describe the bug**
Running 'az resource tag --id ID --tags KEY=VALUE' or running the equivalent update operation (e.g. 'az network public-ip update --tags') consistently takes just over 30 seconds

**To Reproduce**
Run 'az resource tag --id ID --tags KEY=VALUE' and time the command. It will take just over 30 seconds.

**Expected behavior**
Adding a tag to a resource through the Azure portal take

[2018-06-05 19:11] nwohlgemuth opened #6502 "Specifying 'disabled' for '--endpoint-status' creates an endpoint in the 'Enabled' state"
**Describe the bug**
The '--endpoint-status' argument value of 'az network traffic-manager endpoint create' is case sensitive and does not behave the way one would expect. If 'Disabled' is specified as the value, the new endpoint has 'Disabled' as the status. If 'disabled' is specified, the new endpoint has 'Enabled' as the status.

**To Reproduce**
Create a new traffic manager endpoint using 'az

[2018-06-05 19:57] #6158 closed

[2018-06-05 21:56] twitchax commented on #3614
@KedarJoshi, can you give an update here, please?

[2018-06-05 23:28] davidlbyrne opened #6505 "I'm getting an error when trying to run this example"
$ az webapp deployment source config-zip -g devops -n my-node --src my-node3.zip
Zip deployment https://my-node.scm.azurewebsites.net/api/zipdeploy failed with status code '500' and reason '&lt;html&gt;&lt;head&gt;&lt;title&gt;500 - The request timed out.&lt;/title&gt;&lt;/head&gt;&lt;body&gt;  &lt;font color ="#aa0000"&gt;         &lt;h2&gt;500 - The request timed out.&lt;/h2&gt;&lt;/font&gt;  Th

[2018-06-06 06:50] LiliDeng opened #6507 "Connect to AzureStack failed using version 2.0.34"
**Describe the bug**
Use azure cli 2.0.34 to connect azure stack hit issue, use azure cli 2.0.33, no such issue

The authority url must be of the format https://login.microsoftonline.com/your_tenant
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 197, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packa

[2018-06-06 08:18] AlexL-CC commented on #6493
@yugangw-msft  Do you mean that?
PS O:\_my\azure\oms> echo $WorkSpace.CustomerId.ToString()
5fe1d........d87f7ee

PS O:\_my\azure\oms> echo $Keys.PrimarySharedKey.ToString()
tW2c.......ZHw==

[2018-06-06 08:47] krishnakumarq commented on #5099
Showing the below error when running the azcopy command from a scheduler ::

ImportError: /usr/lib64/libgssapi_krb5.so.2: symbol k5_buf_free, version krb5support_0_MIT not defined in file libkrb5support.so.0 with link time reference
Traceback (most recent call last):
  File "/usr/lib64/python2.7/runpy.py", line 162, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib64

[2018-06-06 16:00] kbroughton opened #6508 "az lock list and az lock show do not seem to reveal the resource which is locked."
bash-4.4# az lock show -n "MY-DEV-LOCK"
{
  "id": "/subscriptions/&lt;mysubscription&gt;/providers/Microsoft.Authorization/locks/MY-DEV-LOCK",
  "level": "CanNotDelete",
  "name": "MY-DEV-LOCK",
  "notes": "Locks the resource to protect from accidental deletion.",
  "owners": null,
  "type": "Microsoft.Authorization/locks"
}

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2018-06-06 16:06] JJ commented on #5674
The problem is that Alpine has a `wget` clone which is actually an alias for their all-purpose shell, `busybox`. It works almost the same, but not quite. You can, however, add the real one with apk add wget.

[2018-06-06 16:19] tjprescott commented on #6508
You can tell the resource that was locked by looking at the ID of the lock. In your case, you have locked your entire subscription. If you have a resource locked, you'd see the resource ID, followed by the `Microsoft.Authorization/locks/{lock-name}` piece.

[2018-06-06 16:19] #6508 closed

[2018-06-06 17:01] raihanchdy opened #6511 "azure cli 2.0.31 hangs."
Hi,

I am facing issue while performing disk operation using azure cli in bash script.

sometime it hangs and runs for hours.

[2018-06-06 17:43] garajo opened #6512 "Could not install packages due to EnvironmentError"
**Describe the bug**
Installation error, 'Could not install packages due to an EnvironmentError: [Errno 2] No such file or directory'

![screenshot from 2018-06-06 10-38-55](https://user-images.githubusercontent.com/2825366/41055493-56855dc0-6976-11e8-9953-47942d5535d5.png)

**To Reproduce**
On my machine, I ran `curl -L https://aka.ms/InstallAzureCli | bash` , from https://docs.microsoft.com/en-u

[2018-06-06 18:06] garajo commented on #6512
Strange, after the fifth or so retry, it worked...

[2018-06-06 18:06] #6512 closed

[2018-06-06 18:33] garajo opened #6513 "Requirement error for urllib3 on installation"
**Describe the bug**
I get an error, `requests 2.18.4 has requirement urllib3<1.23,>=1.21.1, but you'll have urllib3 1.23 which is incompatible.` on installation.

**To Reproduce**
Installing on Linux Mint, following instructions from, https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?view=azure-cli-latest

After, trying `az login` results in this warning,

[code]

**Expected beha

[2018-06-06 19:38] anhoward commented on #6447
This is also an issue for `az role definition update`, not just `create`.

[2018-06-06 21:41] mboersma commented on #6445
@SeanTurner026 if `az acs list` doesn't show the cluster, the CLI commands won't help you unfortunately. In that case, navigating to the VM through the portal (or an equivalent `az vm` command) is the only way to discover the IP address.

I'm not sure how the terraform code works, but I'm guessing it doesn't call the expected APIs to create a proper ACS cluster.

[2018-06-06 22:15] alexeyshishkin01 opened #6515 "I don't see offers with Azure CLI"
**Describe the bug**
A clear and concise description of what the bug is.

root@Alexey-HP:~# az vm image list --location northeurope --publisher OpenLogic --offer CentOS$ --all

<EMPTY OUTPUT>

root@Alexey-HP:~# az vm image list --location northeurope --publisher OpenLogic
You are viewing an offline list of images, use --all to retrieve an up-to-date list
Offer    Publisher      Sku  Urn

[2018-06-06 23:57] tjprescott commented on #6511
Please update to the latest version of the CLI. If you still encounter this issue, please open a new issue and fill out all of the required information.

[2018-06-06 23:57] #6511 closed

[2018-06-07 00:15] yugangw-msft commented on #6513
This is a known issues on the request package `https://github.com/requests/requests/issues/4673`, CLI installers to roll out will workaround it by using urllib3 1.22. If you are on pip, make sure to do the same thing

[2018-06-07 00:16] yugangw-msft commented on #6507
Fixed by #6500

[2018-06-07 00:16] #6507 closed

[2018-06-07 01:28] panchagnula opened #6519 "fucntionapp: az functionapp should support syncFunctionTriggers functionality"
**Is your feature request related to a problem? Please describe.**
az functionapp does not currently support syncTriggers functionality. This is one the commands that we should add support for.

**Describe alternatives you've considered**
The current support is using resources.azure.com or portal. CLI should have parity for one the common function app features.

[2018-06-07 03:09] garajo commented on #6513
Thanks @yugangw-msft  for your help. I'm not experienced with python, and I don't understand even though I specify the package version, and get confirmation of using 1.22, when I run `az login`, it says I'm still using 1.23. Do you have a pointer or two of what I'm doing wrong and need to do? Thank you

[code]

[2018-06-07 09:02] krishnakumarq commented on #613
Getting below error while trying to login using azure CLI command

Traceback (most recent call last):
  File "/usr/lib64/python2.7/runpy.py", line 162, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib64/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/usr/lib64/az/lib/python2.7/site-packages/azure/cli/__main__.py", line 32, in <module

[2018-06-07 13:13] Inspyro opened #6521 "CLI sometimes waits a long time before executing a function"
**Describe the bug**
Sometimes it takes around 1m until the azure cli runs a function

See the log:
[07.06.2018 13:08:09] Generating 1 job function(s)
[07.06.2018 13:08:09] Found the following functions:
[07.06.2018 13:08:09] FunctionApp1.Function1.Run
[07.06.2018 13:08:09]
[07.06.2018 13:08:09] Host initialized (1105ms)
[07.06.2018 13:08:09] Executing HTTP request: {
[07.06.2018 13:08:09]   "requ

[2018-06-07 13:49] rondemena commented on #3445
The issue is fundamentally not recognizing the .cmd execution extension in windows.  Just alias it out in the git bash shell wiht "alias az='az.cmd'"

[2018-06-07 14:23] Inspyro opened #6522 "EntryPointNotFoundException with Autofac"
**Describe the bug**
When referencing Autofac in an old version in a referenced project of the function app, and referecing a newer version of Autofac in the function app via nuget we get an EntryPointNotFoundException that is rather strange.

**To Reproduce**
Use the attached repro sample, Press F5 to debug the function app -> see the EntryPointNotFoundException
[FunctionApp1_Repro.zip](https://g

[2018-06-07 15:30] akanieski commented on #4000
Has the fix for this been released in Azure SDK 2.x yet? If so which version?

[2018-06-07 15:31] tjprescott commented on #6522
This is not the correct repo for this issue. @panchagnula for redirection.

[2018-06-07 15:31] #6522 closed

[2018-06-07 15:32] tjprescott commented on #6521
This issue is not related to Azure CLI 2.0. @panchagnula for redirection.

[2018-06-07 15:32] #6521 closed

[2018-06-07 15:38] troydai opened #6523 "Remove cap on urllib3 after requests is updated."
Reference: https://github.com/Azure/azure-cli/pull/6520

[2018-06-07 15:42] #6502 closed

[2018-06-07 15:54] yugangw-msft commented on #6515
works for me
[code]

[2018-06-07 15:58] yugangw-msft commented on #6513
@garajo how did you install the CLI at the first place, through `pip`, `apt-get`, etc?

[2018-06-07 16:22] alexeyshishkin01 commented on #6515
so only one offer?
of older version of 7.3?
it used to be at least 20 options to choose from

[2018-06-07 16:27] yugangw-msft commented on #6515
Ah, i see, you 2nd command doesn't include `--all` which is needed for CLI to query from live service

[2018-06-07 16:27] #6515 closed

[2018-06-07 16:28] mmacy opened #6525 "`az container export` specifies old apiVersion in resultant YAML file"
**Describe the bug**
Although current (at time of this bug report) `apiVersion` for Azure Container Instances is **2018-06-01**, the `az container export` command yields an `apiVersion` value of **2018-02-01-preview**.

**To Reproduce**
1. Deploy a [container group via YAML](https://docs.microsoft.com/azure/container-instances/container-instances-log-analytics#create-container-group) that specifie

[2018-06-07 16:41] KedarJoshi commented on #3614
Unfortunately, due to other priorities we had to postpone this work.  Please feel free to add Azure CLI request for APIM @ http://aka.ms/apimwish . This will tremendously help us prioritize this work accordingly.

There are obviously lot of other option for automation including ARM templates, PS cmdlets, REST API.

Totally understand that if you have built all other automation using CLI then it is

[2018-06-07 16:52] alexeyshishkin01 commented on #6515
but what about my first command empty output (it used to work for me before yesterday)
az vm image list --location northeurope --publisher OpenLogic --offer CentOS$ --all

[2018-06-07 16:53] alexeyshishkin01 commented on #6515
or this one

az vm image list \
--location northeurope \
--publisher OpenLogic \
--offer CentOS$ \
--sku ^7.* \
--all

[2018-06-07 16:58] yugangw-msft commented on #6515
you can remove the `$` from the offer. CLI doesn't do regular expression matching rather plain case insensitive partial string match.

[2018-06-07 17:07] alexeyshishkin01 commented on #6515
yes, I can but in this case I'll have other offers which I don't need
and besides it works well in 2.32

[2018-06-07 17:08] tjprescott commented on #3614
I have created the requested issue here:

https://feedback.azure.com/forums/248703-api-management/suggestions/34482196-on-board-commands-to-azure-cli-2-0

[2018-06-07 17:11] tjprescott commented on #3571
I've posted this request in the Azure feedback forms:

https://feedback.azure.com/forums/217335-hdinsight/suggestions/34482229-on-board-hdinsights-to-azure-cli-2-0

For those who have +1'ed this thread, please go to the link and cast your votes for this feature.

[2018-06-07 17:58] panchagnula commented on #6522
@ahmelsayed or @davidebbo this seems to be a functionapp using Autofac which I am not familiar with can one of you please help navigate this to the right GitHub and/or resolution. Thank you.

[2018-06-07 18:27] panchagnula commented on #6438
Assigning to myself to investigate this further.

[2018-06-07 19:16] williamthiago opened #6527 "WebApp deployment crashing after WebApp stop"
**Describe the bug**
Sometimes during a zip deployment, az crashes with the following exception:

[code]

My guess's because the application isn't fully stopped by `az webapp stop` command, so there's a DLL blocked by WebApp IIS.

**To Reproduce**
This behavior is inconstant, but it occurs in 1 out 10 tries in my environment.

1 - Stop webapp
`az webapp stop --name ${AZURE_APP_WEB} --resource-grou

[2018-06-07 19:23] javgarces commented on #6508
By the "/providers/Microsoft.Authorization/locks/{lock-name}" piece, to be exact.

[2018-06-07 22:04] yugangw-msft commented on #5369
//CC @troydai

[2018-06-07 23:03] lastcoolnameleft opened #6530 "az use-dev-spaces is failing in Azure Shell"
* Describe the bug*

When I run `az aks use-dev-spaces` in shell.azure.com, I get the following error:

[code]

**To Reproduce**
Run `az aks use-dev-spaces -g $RG -n $CLUSTER` in a new cluster in shell.azure.com

**Expected behavior**
I expect it to successfully install.

**Environment summary**
Azure Shell
[code]

[2018-06-07 23:38] ehotinger commented on #6491
By default it blocks and streams logs until the build is complete. Using `--no-logs` immediately returns, it's like `--no-blocking`, so it's expected right now. If you don't care about the logs you could just redirect it to `/dev/null` for now and use the current behavior to block without "seeing" the logs.

What do you think would make it better; better docs on what the parameter does; change the

[2018-06-07 23:42] ehotinger commented on #6492
What's the use case here? Right now it will skip logs from the build itself but some pieces that you need to view logs, etc. are returned.

[2018-06-08 00:28] williexu commented on #6391
Closing this as we have decided to not suppress 404 errors and to instead exit with a code of 3.
https://github.com/Azure/azure-cli/pull/6489

[2018-06-08 00:42] evandropaula opened #6532 "az function create with --plan parameter does not support resource id as documentation describes"
**Describe the bug**
It is not possible to create an Azure Function App in a resource group different than the on that holds the Application Service Plan by using az function create with --plan parameter using the Azure Function Plan resource id (e.g. /subscriptions/{Subscription Id}/resourceGroups/{Resource Group Name}/providers/Microsoft.Web/serverFarms/{App Service Plan Name})

Command:
az func

[2018-06-08 00:53] TsuyoshiUshio commented on #4565
Hi guys. I developing some environment with Azure Functions. I encounter this issue, and eventually we move to ARM. Is it very difficult to implement that? if not, we might contribute that if you like.

[2018-06-08 07:29] TsuyoshiUshio commented on #4041
I also interesting this feature. without the function keys, we can't identify the endpoints.

[2018-06-08 13:50] jpoizat opened #6536 "Stack trace on SF cluster create"
**Describe the bug**

[code]
Get the following error :
[code]

**To Reproduce**
See above

**Expected behavior**
Error on missing parameters or variable

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

**Additional context**
Add any other context a

[2018-06-08 14:42] superminiek commented on #4202
Anything new here?

[2018-06-08 16:34] mmacy opened #6537 "az container exec: garbage characters inserted at shell prompt"
**Describe the bug**
When exec'ing a shell in an Alpine-based container running in Azure Container Instances, garbage characters are inserted on key press. In the example output below, the `ls` command is attempted, but `[6;5R` was inserted when the "l" key was pressed, and the command fails:
[code]

**To Reproduce**
1. Start Alpine container in ACI:
[code]

1. Use `az container exec` to spawn and

[2018-06-08 17:28] #6391 closed

[2018-06-08 17:52] #6439 closed

[2018-06-08 20:49] davidebbo commented on #4041
Note that there is an ARM API to get the keys: https://github.com/projectkudu/kudu/wiki/Functions-API. Though it doesn't support everything, and we have plans to improve it in the future.

[2018-06-08 21:54] yugangw-msft commented on #6532
remove `webapps` tag. webapp handles correctly the cross resource group scenario, this bug is functionapp only

[2018-06-08 22:02] yugangw-msft commented on #6527
@panchagnula, we might have a bug [here](https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py#L186-L189) that the initial response might not be json data and that will break CLI. I suggest you ensure it is a json object say `response = response.json()`
[code]

[2018-06-08 22:03] yugangw-msft commented on #6505
//CC: @panchagnula

[2018-06-08 22:09] yugangw-msft commented on #6459
Opened https://github.com/Microsoft/vsts-cd-manager/issues/21

[2018-06-08 22:30] davidlbyrne commented on #6505
Removing the BOM fixed the encoding issue. Maybe this should be added to the documentation or a fix to handle the BOM should be applied.

[2018-06-08 22:49] panchagnula commented on #6505
Thanks for the update @davidlbyrne. I am guessing .BOM is the file format you were trying to use? we  currently we only support .war & .zip formats. Will update help & our commandline to throw a better message for non- supported formats.

[2018-06-08 23:36] yugangw-msft commented on #6318
this is done

[2018-06-08 23:36] #6318 closed

[2018-06-09 01:18] worldspawn commented on #4041
I think the first thing that should happen is have the host keys returned in the result of creating a function app with the cli. Much like when I create storage I get the access keys

[2018-06-09 14:08] burkeholland opened #6545 "webapp:'NoneType' object has no attribute 'location' error when setting up Github deployment"
**Describe the bug**
When setting up Github deployment, the following command returns an error for one of my resource groups.

[code]

If I create a new resource group, everything seems to work fine. It's just this one that is a problem.

**To Reproduce**
Execute the command to setup Github deployment from the CLI

[code]

**Expected behavior**
The Github deployment should be enabled on the site.

[2018-06-10 17:46] niwsa commented on #6414
I am facing the exact issue, works on bash but not on zsh.It would we really cool to fix this for zsh.

[2018-06-10 17:58] benc-uk commented on #6414
I've reinstalled the CLI under zsh and it still doesn't work. It's really annoying that bash is the only shell where autocomplete works

[2018-06-10 18:01] ZachTB123 commented on #6483
I am experiencing a similar issue when trying to create a storage container. Creating the storage account succeeds but creating the storage container (az storage container create ...) returns ResourceNotFound.

[2018-06-11 03:15] badarosama opened #6547 "Unexpected polling state code_expired"
I installed azure-cli 2.0.34 because I can't find 2.04 on the install website (https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest#install-or-update). I am using windows 10 machine and chrome and edge browsers to test. I tried az login and it throws the above mentioned error.

It shows me the site and code and then when i enter the code on the link posted, it

[2018-06-11 04:39] suntong opened #6548 "Azure CLI to open many ports"
**Is your feature request related to a problem? Please describe.**
Need to open a bunch of ports, **not just one**, to my VM using Azure CLI

**Describe the solution you'd like**
Able to open a bunch of ports, **not just one**, to my VM using Azure CLI

**Describe alternatives you've considered**
being able to declare what you want for your VM in a single operation, like #2011

**Additional contex

[2018-06-11 08:59] Dawny33 opened #6549 "TypeError: new_cluster() missing 1 required positional argument: 'client' ServiceFabric cluster create"
I get the following error when trying to create an Azure Fabric Cluster from the CLI:

Command:
`az sf cluster create --resource-group 'datasciencesdev' --location "southeastasia"   --template-file template.json --parameter-file parameters.json
`

Error Trace:
[code]

OS: Ubuntu 16 (Azure VM)
Environment: A python3 virtualenv with sfctl installed

[2018-06-11 12:48] jijiechen commented on #6235
Um, the `--ports` accepts a maximum of 5 ports, and it seems does not support mapping --just opening a same port that exposed from the container.

[2018-06-11 16:02] prashanthmadi commented on #3571
It would be great if we could also have a way to delete edge node using az cli which doesn't exist in azure cli v1.0

[2018-06-11 16:21] tjprescott commented on #6548
[code]

So you have a couple options:
1. Specify a range of ports and issue one command
2. Specify each port or port range with separate calls and specify the priority (you can omit on the first call if you are okay with the default of 900).

[2018-06-11 16:21] #6548 closed

[2018-06-11 16:26] tjprescott commented on #6547
I don't know where you saw a reference to "2.04" but there is no such version. @yugangw-msft

[2018-06-11 16:35] yugangw-msft commented on #6547
Please opt-out the insider ring using the instructions below. (In near future,  I will rework `az login`'s authentication flow to no longer use device flow if you are on a desktop with window manager, this way you don't need to opt-out of the insider ring.)

[code]

[2018-06-11 16:36] dougthomas71 opened #6551 "Update table output for `nsg show`"
To provide a middle ground of information between the json and table outputs.
Often times the json output is too much detail and the table output is not enough.
### Example
`az network nsg show -n {NSG_NAME} -g {RESOURCE_GROUP} -o table`
Gives an output with 5 pieces of information of which you supplied 2 pieces of the information and you probably already saw the rest of the info from a `az networ

[2018-06-11 16:53] tjprescott commented on #6551
You can filter the data shown using `--query`.  This can be used to limit the returned info using JSON format or to specify which info you want to display using table format.

Since you cite `nsg show` in your example, what would you consider the ideal amount of information to display?  The default table formats (using `-o table` without `--query`) for each command can be updated in code.

[2018-06-11 17:00] tjprescott commented on #4202
The item is on our backlog but not planned for upcoming work.  @yugangw-msft does this fit into your upcoming sprint plans?

[2018-06-11 17:01] yugangw-msft commented on #6547
please reactivate if the workaround does not work or contact me at yugangw at microsoft dot com

[2018-06-11 17:01] #6547 closed

[2018-06-11 17:06] troydai opened #6552 "Improve memory pressure while listing a large number of blobs in a container."

[2018-06-11 17:10] yugangw-msft commented on #4202
@tjprescott, I will take a look in the next sprint

[2018-06-11 17:33] yugangw-msft commented on #6447
@praveendhac, please remove the outside `[]`  so to input an object instead of an array of such objects.
If you get such samples json from azure documents, please let me know.

[2018-06-11 17:52] yugangw-msft commented on #6447
At the same time, I will update CLI to avoid this bad error.

[2018-06-11 20:46] williexu opened #6556 "Completions in Interactive-Mode sends incorrect request header, "CommandName"."
**Describe the bug**
When a completion sends a request, the command name sent in the header matches the last command run in the interactive session.

**Expected behavior**
Completion should either send the command being completed for, or "interactive

[2018-06-11 20:46] #5665 closed

[2018-06-11 20:46] #807 closed

[2018-06-11 21:41] yugangw-msft commented on #4202
I have confirmed with Compute team that adding an existing VM to an existing av-set only works with RDFE(cloud service). For Compute RP, the only time you can add to an av-set is during VM create.

[2018-06-11 21:41] #4202 closed

[2018-06-11 22:31] dougthomas71 commented on #6551
Thanks for responding @tjprescott
For the task specific task I was working on was on some nsg 😁
For that specific command I'd say the same fields that are in the portal would be enough.
i.e.
Priority, Name, Port(s), Protocol, Source, Destination and Action

[2018-06-11 22:59] yugangw-msft commented on #6532
Fixed, thanks @theMichaelB

[2018-06-11 22:59] #6532 closed

[2018-06-12 01:00] #6505 closed

[2018-06-12 01:01] suntong commented on #6548
Thanks @tjprescott,

- what's the implication for the priority? Does it determine the order Azure ... hmm... still can't think of any reason port number need to be associated with priority.
- when I was creating the VM using to portal, I used to open the following port, is there any way to know how the portal assign the priorities to each of them?

[code]

- also, with the portal, the Endpoints ca

[2018-06-12 12:44] williamthiago opened #6560 "webapp:WARNING message during zip deploy"
**Describe the bug**
Random error occurring during zip deployment, showing the message WARNING looping over more than 15 minutes until we detect and manually stop the process (CTRL + C)

Unfortunately, there's no message other than "WARNING:" in logs.

[code]

**To Reproduce**
Try to deploy zip file.
[code]

**Expected behavior**
Run with success or show the message of error/warning to be addresse

[2018-06-12 13:56] cello86 commented on #6444
the issue was related to the impossibility on azure side to configure a Load Balancer with mixed private and publc addresses. We have moved the configuration in 2 different load balancer.

Marcello

[2018-06-12 15:56] troydai commented on #6560
@yugangw-msft

[2018-06-12 15:57] yugangw-msft commented on #6560
//CC: @panchagnula

[2018-06-12 16:00] troydai commented on #6483
@williexu

[2018-06-12 16:12] hectoralicea commented on #6513
Still do not understand the work around while we wait for a new installer release.  Should this have not have been tested prior to release?  Did I somehow pull down a version of az that has not been tested?  This is pretty sloppy.

[2018-06-12 17:06] tjprescott commented on #6548
The priority is related to the NSG rule. Rules are executed in priority from high to low and once a rule is satisfied, lower priority rules are not processed. Priority really doesn't have to do with ports--it has to do with conflicting the rules (which is the mechanism through which you can allow or deny ports).

If you run `network nsg show` on the network security group for your VM, it should li

[2018-06-12 17:08] suntong commented on #6548
thanks, appreciate the detailed answer.

[2018-06-12 17:10] suntong commented on #6548
Just to be 100% sure, vm open-port open but UDP/TCP ports, right, or it is just TCP?

[2018-06-12 17:13] tjprescott commented on #6548
Yes, it opens both.

[2018-06-12 17:16] williexu opened #6561 "Smart command correction believes argument to be a command:"
**Describe the bug**
[code]
Same when I do -h:
[code]
**Expected behavior**
-There should NOT be a msg saying 'basic' is a command
-When doing `-h`, I expect to see help, not an error

**Environment summary**
windows, dev-setup, python3 venv

[2018-06-12 17:16] johanste opened #6562 "az acr create: Specifying the wrong case for --sku gives a confusing error message"
**Describe the bug**
$> az acr create -g connectorregistry -n xxsamplejohanstexx --sku basic
az acr create: 'basic' is not an az acr create command. See 'az acr create --help'.

The most similar command to 'basic' is:
        Basic

**To Reproduce**
See description

**Expected behavior**
An error message telling me the set of valid values for the --sku parameter. Additionally, the --sku parameter

[2018-06-12 17:17] #6561 closed

[2018-06-12 17:22] yugangw-msft commented on #6513
This should not happen with pre-built installers(windows msi, debian bundle, etc), rather only when you go through `pip install` and let it to resolve the whole dependency for you. CLI is not the only party gets impacted, you can check out the root issues `https://github.com/requests/requests/issues/4673`

[2018-06-12 17:40] williexu commented on #6484
@ElvenSpellmaker it looks like all your blobs failed the `--if-unmodified-since "$DATE"` precondition

[2018-06-12 17:42] tjprescott commented on #6551
I believe the command you are looking for then is `az nsg rule list … -o table` which already has a custom table format. We wouldn't show the rules in the `nsg show` table because we don't have the capability to display tables within tables, which this would require.

[2018-06-12 17:42] #6551 closed

[2018-06-12 17:51] ElvenSpellmaker commented on #6484
@williexu Hey, this works if I delete each blob individually by working out the dates manually, see: https://github.com/ElvenSpellmaker/AzureOldBlobDelete/pull/2

[2018-06-12 17:51] ElvenSpellmaker commented on #6484
Basically if I work out the date manually then blobs clearly need deleting, so as far as I can tell it's a server-side bug.

[2018-06-12 18:50] panchagnula commented on #6521
@fschmied this one sounds like the FUNC CLI https://github.com/Azure/azure-functions-core-tools

[2018-06-12 19:11] williexu commented on #6483
@Epoxboy can you try generating your sas without specifying the expiration date? That should be picked up from the access policy?

@ZachTB123 I don't know why you can't create a storage container... Please check your account name spelling.

[2018-06-12 22:30] panchagnula commented on #6545
@burkeholland  is the App you are trying to deploy belong to the ResourceGroup 'MyFirstAppResourceGroup'?  Can you share the name of the App as well? thank you.

[2018-06-12 23:40] williexu commented on #6484
@ElvenSpellmaker seems to work fine for me:
[code]
Can you try once more?
Keep in mind that the dates you provide must be in UTC.
Also make sure that the date you provide in the parameter is later than the 'lastModified' property on your blobs if you expect them to be deleted.

[2018-06-12 23:43] tjprescott opened #6570 "[Interactive] Parameter descriptions don't appear"
**Describe the bug**
When I type a command, the command description appears but the parameter descriptions do not appear in the adjacent panel, even when turned on.

**To Reproduce**
type `group create` and witness how nothing shows up in the parameter pane.

**Expected behavior**
Parameter descriptions appear.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker,

[2018-06-12 23:50] williexu commented on #6570
I see the following:
![image](https://user-images.githubusercontent.com/8580552/41322945-878fac60-6e60-11e8-8efd-a9747f075f54.png)
![image](https://user-images.githubusercontent.com/8580552/41322969-9b114bcc-6e60-11e8-9437-5bbeaffdb0e4.png)

Do you see/expect something different?

[2018-06-12 23:51] tjprescott commented on #6570
Yeah, I expected something different. I didn't realize you had to actually specify a parameter to see something. Makes sense though.

[2018-06-12 23:51] #6570 closed

[2018-06-13 00:21] yugangw-msft opened #6571 "Standard load balancer: support https probing"
Spec needs to be updated first:
 https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2018-05-01/loadBalancer.json#L1207-L1213

//CC: @christiankuhtz  @tjprescott

[2018-06-13 00:47] mmikulicic commented on #6265
Changelog for 2.0.34 claims to have some improvements that might be relevant to this issue

source: https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?view=azure-cli-latest#june-5-2018

[2018-06-13 02:30] yugangw-msft commented on #5413
I will fix this no later than the end of july

[2018-06-13 03:39] neilpeterson commented on #6178
We have received another instance of this issue on the documentation GitHub project and I have been able to repro.

https://github.com/MicrosoftDocs/azure-docs/issues/9976

@MicahMcKittrick-MSFT / @efwe for visibility.

[2018-06-13 04:07] williamthiago commented on #6560
Checked. There's no log during this time. I checked "D:\home\LogFiles\kudu\trace" as well and found a partial XML.

The file has no closing tags, it just ends as below:

[code]

It's obviously an Azure/Kudu issue... I appreciate your time, tks.

[2018-06-13 04:07] #6560 closed

[2018-06-13 06:49] konread opened #6575 "az redis import error"
**Describe the bug**
I would like to import data into redis in azure resource group using azure cli. I think there is missing method in redis module.
![image](https://user-images.githubusercontent.com/20407084/41334667-b87ae7b4-6ee6-11e8-98bc-b38e42e346ac.png)

**To Reproduce**
Steps to reproduce the behavior.
az redis import --file-format RDB --files <name> --resource-group <name> --name <name>

[2018-06-13 14:51] ElvenSpellmaker commented on #6484
@williexu I'll see if I can find an account to try it on, but is that seriously the expected response format, an array of nulls if it's deleted something, plus a load of `Failed precondition` to the terminal with no blob names or anything if it fails to meet the date?

That output is so unusable for anything. 😂

[2018-06-13 15:18] scottaddie commented on #6459
@kuvinodms I tested the same command depicted in the screenshot above. I still have the problem. Does it take a while for the change to propagate?

[2018-06-13 15:30] praveendhac commented on #6447
Seeing below error after removing []
[code]

[2018-06-13 17:02] troydai commented on #6265
@stevenyang95 is this still a problem for you in recent releases?

[2018-06-13 17:12] steveyang95 commented on #6265
@troydai I have disabled the telemetry overall and have not seen any issues.

[2018-06-13 17:12] #6265 closed

[2018-06-13 17:13] tjprescott commented on #6178
Currently, this is the expected behavior. When you set a default resource group, you are basically saying you want `-g {default-rg}` added to any commands that support it.

[2018-06-13 17:13] williexu commented on #6484
@ElvenSpellmaker can you raise a separate issue for the messages displayed?
On that note, `Failed Precondition` messages do seem like unnecessary bloat, I may change that to 'debug' output or remove them entirely.

[2018-06-13 17:17] tjprescott commented on #6484
@williexu you can just repurpose this issue.  We should probably do some smart collecting of errors instead for these batch cases.  There are other issues around this theme (confirm on a delete with --ids, for example).  The error should look something like:

[code]

Or something similar. I don't think it would be useful for anyone's debug stream to get that output either.

[2018-06-13 17:20] ElvenSpellmaker commented on #6484
Hey @tjprescott, most commands from `az` may be used in scripts and parsed appropriately, however this endpoint doesn't even return (just) valid JSON (or whatever format is chosen, like tsv), and the JSON it does return is just `null`s in an array.

Showing the failed precondition messages at all in the normal (non-debug) stream will just cause parsing problems.

In my case it'd be nice to know th

[2018-06-13 17:21] dougthomas71 commented on #6551
@tjprescott Uhhhh no.
`az nsg rule list … -o table` is not what I'm looking for at all.
I don't need to see a list of nsg's I need to see a summary of the rules of a specific nsg. There's no nested tables. Just a single simple table with a summary of the rules that are in a nsg.

[2018-06-13 17:27] tjprescott commented on #6551
That's what `az nsg rule list` does...

[2018-06-13 17:34] tjprescott commented on #6484
Such messages are printed to stderr so they will not interfere with any parsing. This command in particular is a CLI convenience command, not the result of a single API call, so we have full control over the output format (which is sounds like needs some work).

[2018-06-13 17:39] dougthomas71 commented on #6551
Sorry - I just re-read your message (need more coffee I guess)
Yes `az network nsg rule list -g {ResourceGroup} --nsg-name {NsgName} -o table` works! Thanks for pointing me in that direction.
However ^^^^ this is rather convoluted and not obvious esp when `az network nsg show -g {ResourceGroup} -n {NsgName} -o json` provides you with the list of rules in json format. It would be more obvious that

[2018-06-13 18:17] mrdfuse opened #6576 "example of list is wrong, it shows 'show'"
the example for az servicebus queue authorization-rule list uses the 'show' command, that should be 'list'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 402e0cc8-ccb9-c2a9-f66f-225a6d023707
* Version Independent ID: a565e443-4e35-e4d3-6dfb-ad9303fe4413
* Content: [az servicebus queue authorization-rule](https://docs.m

[2018-06-13 18:22] yugangw-msft commented on #6459
@scottaddie,  how do you install CLI, through installers/apt-get? If yes, you need to wait till next week when we will release new installers including @kuvinodms's new version; if you use pip to acquire CLI, then you just ensure to get newer `vsts-cd-manager`

[2018-06-13 18:23] scottaddie commented on #6459
@yugangw-msft I'm doing everything from Azure Cloud Shell in the portal.

[2018-06-13 18:27] scottaddie commented on #6459
@yugangw-msft No problem. Do you know when next week, so I can check back then?

[2018-06-13 18:29] yugangw-msft commented on #6459
Based on the milestone info https://github.com/Azure/azure-cli/milestone/41, we will release on June 19

[2018-06-13 18:55] djyou commented on #5619
This appears to be supported by https://github.com/Azure/azure-cli/pull/6516

Thank you @tjprescott for adding the support, could you please also close this issue?

[2018-06-13 18:58] djyou commented on #6478
@beaudryj This looks like a client with unsigned cert issue. Could you try setting the env variable
[code]
to bypass cert check?
/cc @sajayantony

[2018-06-14 02:43] djyou commented on #6562
This appears to be a general issue in the CLI that enum params are not showing the proper error message.

[2018-06-14 03:40] Epoxboy commented on #6483
@williexu  thank you for the reply! I tried, but still same error.

[2018-06-14 09:04] MassimoSporchia commented on #1863
@tjprescott any way to create/modify tags with a spaced-key?
e.g.
{
  "Spaced Key": "Spaced value"
}

[2018-06-14 17:08] williexu commented on #6530
@saurabsa

[2018-06-14 17:40] jakepearson opened #6580 "az keyvault download returns incorrect exit code if not logged in"
**Describe the bug**
If I try to download a secret from the azure keyvault, but I am not logged in. The process returns with no error message and a exit code of `0`.

**To Reproduce**
1. Delete (or move) your `.azure` credentials folder
2. Run `az keyvault secret download --vault-name <your-vault-name> -n <secret-name> -e base64 -f <filename>

**Expected behavior**
After running the above command

[2018-06-14 19:29] ahmedelnably opened #6581 "Add slot support for all az functionapp commands"
Add slot support for all az functionapp commands

[2018-06-14 19:50] hoangpx commented on #4620
how is this going ? I got the same error.  What is publisher for custom image ?

[2018-06-14 20:24] #6571 closed, assigned to nobody

[2018-06-14 20:29] williexu commented on #6484
I think @tjprescott's suggestion to print out the number of failures to stderr is the right move.

In terms of output, we have to consider breaking users scripts, if we do make a change and currently, most delete commands that utilize the `--ids` parameter will output the same result.
As most `delete` operations in the CLI are supposed to return no output, whatever change we might make will likely

[2018-06-14 20:31] mboersma opened #6584 "[AKS] AAD feature needs tests"
The new AKS features to integrate with AAD are not yet covered by scenario tests. See #6567.

[2018-06-14 22:03] saurabsa commented on #6530
Looking into it.

[2018-06-14 22:06] saurabsa commented on #6530
Currently we don't support shell.azure.com
It is a known issue. We have it in our back logs and intend to work on it.

[2018-06-14 22:10] siliconcat commented on #6336
+1 yeah, same using using vnets

[2018-06-14 22:10] Kannaj commented on #4953
I'm unfortunately still seeing this error
[code]

[2018-06-14 22:31] panchagnula commented on #4953
@Kannaj this means you don't have the right RBAC access on the app to access, that is failing connecting to your scm site. One thing you can try is navigate to your scm site using this link & see if you have access https://xxx.scm.azurewebsites.net

[2018-06-14 22:42] Kannaj commented on #4953
@panchagnula  - yes , i do have access to via KUDU. Currently streaming logs from there but its really slow :(

[2018-06-15 15:02] rallyspeed opened #6587 ""ipConfigurations" return null"
**Describe the bug**
ipConfiguration is returning null even if interface exist and public and private IP are set

**To Reproduce**
az network nsg list --query [*].[networkInterfaces]

**Expected behavior**
Would except to return the name, type ,private and public ip for each interfaces

**Environment summary**
azure-cli version (2.0.32)

**Additional context**
Add any other context about the probl

[2018-06-15 17:52] areyesjr commented on #5615
Hello are there any updates?

[2018-06-15 20:36] #6491 closed

[2018-06-15 20:36] #6492 closed

[2018-06-15 23:45] yugangw-msft commented on #4662
Let us use #5806 to track this work.

[2018-06-15 23:45] #4662 closed

[2018-06-15 23:49] yugangw-msft commented on #4662
`azure-mgmt-resource` doesn't need to expose the zone list API, rather CRP/NRP should do it. CRP has done and #5806 will track for NRP's service support.

[2018-06-16 00:03] yugangw-msft commented on #5186
closing as it is not actionable, and will re-open when the service is ready

[2018-06-16 00:03] #5186 closed

[2018-06-16 00:07] yugangw-msft commented on #4896
please reactivate if you are still blocked

[2018-06-16 00:07] #4896 closed

[2018-06-16 00:08] yugangw-msft commented on #4795
yes

[2018-06-16 00:08] #4795 closed

[2018-06-16 00:10] yugangw-msft commented on #4775
CLI has been updated to use newer graphrabc package.
Please reactivate if you still see the issue.

[2018-06-16 00:10] #4775 closed

[2018-06-16 00:12] yugangw-msft commented on #4187
Closing it as this is PowerBI service related, not a CLI/Authorization Service thing

[2018-06-16 00:12] #4187 closed

[2018-06-16 00:14] yugangw-msft commented on #2533
we have exposed `az provider operation list`, please check out

[2018-06-16 00:14] #2533 closed

[2018-06-16 23:55] theheatDK opened #6594 "Service principal id != name"
When you create a service principal like this:
``
az ad sp create-for-rbac --name mySP ...
``

and you want to show it. You have to use the URI not the name:
``
az ad sp show --id http://mySP
``

The help text for the show command states that --id should be "Service principal name, or object id."

Took me some time to figure out that the name I input for the create-for-rbac command is converted to

[2018-06-17 02:01] colemickens opened #6595 ""Please re-register for this provider...", show me the command"
When receiving a message like this:

[code]

Rather than telling me I need to re-register, suggest the command to run to resolve the situation. In my case, this was: `az provider register --namespace Microsoft.ContainerService`

[2018-06-18 04:46] adi-nair opened #6598 "Need Example for Incremental-copy command."
It would be good if you could provide atleast one example of the full url to be used for getting the snapshot

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e96703a2-cb15-40d5-b091-b489d902210e
* Version Independent ID: dc26c68d-92f6-5c8d-4f10-aa388b276f98
* Content: [az storage blob incremental-copy](https://docs.micr

[2018-06-18 06:34] Ycallaer opened #6599 "Az monitor diagnostic setting EventHub - Cannot deserialize as [LogSettings]"
**Describe the bug**
I am trying to enable diagnostic settings for eventhub through the azure CLI.
I have seen that the JSON format was recently changed, but even after changing the JSON format I am unable to deploy successfully. I am currently running into the following issue:

[code]

**To Reproduce**
After spinning up an eventhub instance I use the following command to try to enable the diagnos

[2018-06-18 06:58] slootzky commented on #5734
what's the point if list and set don't work in the same format?
it used to be like that but you broke the behaviour.

[2018-06-18 09:34] josrom commented on #3451
Hej same issue here uploading:
2018-06-18T08:50:20.189470061Z azure.common.AzureHttpError: The block list may not contain more than 50,000 blocks.ErrorCode: BlockListTooLong
2018-06-18T08:50:20.189475561Z <?xml version="1.0" encoding="utf-8"?><Error><Code>BlockListTooLong</Code><Message>The block list may not contain more than 50,000 blocks.
2018-06-18T08:50:20.189481861Z RequestId:3728d12a-001e-0

[2018-06-18 13:03] nicolaibaralmueller opened #6601 "az storage blob generate-sas bug 403 error"
Azure cli command generates bad sas taken:

`az storage blob generate-sas --account-name $name--account-key $key --container-name $container --name $filename --permissions r --start $($today)T$($now)Z --expiry $($today)T$($later)Z --https-only`

This code has worked for months. I have only updated azure cli, not my azure content or code.

When trying to download with url the following error shows:

[2018-06-18 14:05] stan-morisse opened #6602 ""az network dns zone import" fails with error 'list index out of range'"
**Describe the bug**
I exported multiple BIND files from an existing Linux server to import them in Azure DNS. I am trying to import the zones using Azure CLI 2.0. According to [this document](https://docs.microsoft.com/en-us/azure/dns/dns-import-export) BIND files should be supported.
When executing the command "az network dns zone import -f "_bind-file_" -n "_zone-name_" -g _resourcegroup-name_"

[2018-06-18 17:23] tjprescott commented on #6587
Does this information show if you run the command without `--query`? If so then it means your query string is incorrect.

[2018-06-18 17:28] tjprescott commented on #6595
What command did you run that gave you this error?  msrest or msrestazure should handle the automatic registration of such providers for you. This has been the case for a while now. cc/ @lmazuel

[2018-06-18 18:00] tjprescott commented on #6602
Hi @stan-morisse it looks like the command is not liking the `$ttl 600` on line 2. If you remove it, it should import. We'll get the command fixed to support that syntax though. Thanks for the report and detailed repro.

[2018-06-18 18:16] tjprescott commented on #6602
Upon further investigation, you only need to change `$ttl 600 => $TTL 600`.  We'll fix the case sensitivity in the next release.

[2018-06-18 18:21] colemickens commented on #6595
I actually got that with AKS when doing a simple `az aks create`.

I had definitely registered previously though. Not sure if it was something to do with leaving preview? Either way, it didn't happen automatically.

I don't recall, but I don't think I retried the command, I think I immediately just re-registered.

[2018-06-18 18:37] robsonpeixoto commented on #1685
But how to get the private ip?

[2018-06-18 18:44] rallyspeed commented on #6587
No, it always return null.

 "networkInterfaces": [
      {
        "additionalProperties": {},
        "dnsSettings": null,
        "enableAcceleratedNetworking": null,
        "enableIpForwarding": null,
        "etag": null,
        "id": "xxx",
        "ipConfigurations": null,

[2018-06-18 20:27] tjprescott commented on #6587
What happens when you run `az network nic ip-config list` for the NIC in question?

[2018-06-18 23:21] rchithracse commented on #1552
How to check whether storage account keys are regenerated using azure policy using json script ?

[2018-06-18 23:54] #6602 closed

[2018-06-19 00:47] olivelawn opened #6605 "How to properly escape a : (colon) when setting a tag?"
**Describe the bug**
I cannot wrap my head around how to tag resource groups when there are special characters involved. I'm not sure this is a bug, but this does seem very odd. I am trying to put some name/value pairs, separated by a colon inside a tag.

**To Reproduce**
This almost does what I want:

<pre>
$ az group update -n testing --set tags.sampletag={\"Name\"=\"Value\"}
(output omitted)

[2018-06-19 05:17] josrom opened #6606 "Unable to send filers larger than 195G and/or change MAX_BLOCK_SIZE to 100M..."
Hej same issue here uploading:
2018-06-18T08:50:20.189470061Z azure.common.AzureHttpError: The block list may not contain more than 50,000 blocks.ErrorCode: BlockListTooLong
2018-06-18T08:50:20.189475561Z BlockListTooLongThe block list may not contain more than 50,000 blocks.
2018-06-18T08:50:20.189481861Z RequestId:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
2018-06-18T08:50:20.189486961Z Time:2018-06-18

[2018-06-19 15:36] hectoralicea opened #6607 "az network lb frontend-ip create will sometimes not honor the --private-ip-address parameter"
**Describe the bug**
The command `az network lb frontend-ip create` sometimes it will not honor the `--private-ip-address` parameter but rather assigns it some random IP in the same subnet.

**To Reproduce**
Not sure if it's limited to my large config or if its reproducible in a simple config

**Expected behavior**
IPs assigned to the frontend IP configuration should be the IPs provided in the `--

[2018-06-19 16:06] yugangw-msft commented on #6447
@praveendhac, could you please paste here the definition artifacts particularly the `registries` mentioned in the error? I don't believe the original definition you provided would cause this error.

[2018-06-19 17:04] ekamioka10 commented on #6513
Hello folks, any update on this?

I am having the same problem with AppVeyor. The log can be seen here: https://ci.appveyor.com/project/asieira/magnet-api2-sdk-python/build/1.0.136/job/3cmmr37nf0ov60v9

On June 5th I could build it successfully but after June 8th this problem begun.

[2018-06-19 17:20] yugangw-msft commented on #6488
The comments from https://github.com/Azure/azure-cli/issues/6388#issuecomment-394583422 should have the majority clarified.
For `I don't see any az commands which can be used to do both upgrade and reimage using the command line. `, this is by-design as upgrade and reimage are different actions which we don't expect lots of users would do them together
Please let me know if there are anything else

[2018-06-19 17:23] yugangw-msft commented on #5679
Closing as share gallery image would be the official solution

[2018-06-19 17:23] #5679 closed

[2018-06-19 17:49] yugangw-msft commented on #6304
It is a CLI bug that we are not resolving the role definitions from the assignable scopes correctly.
@anoff Sorry for the delay in response. For now the reliable workaround is to delete and recreate the definition before we release the fix

[2018-06-19 17:54] yugangw-msft commented on #5948
Be more specific, that the spec must be updated to support "service principal patch/update" which is missing right now.

[2018-06-19 18:18] yugangw-msft commented on #5738
The CLI/RBAC uses AAD-Graph instead of MS-Graph. You are right, the endpoint is `graph.windows.net`
For `set the owner of e.g. a Resource group` you don't go through the graph permission, rather go through role assignment, e.g. `az role assignment create -g myResourceGroup --role owner`
The error of `Forbidden for url: https://graph.windows.net/` is caused by you logged in using a service principa

[2018-06-19 18:18] #5738 closed

[2018-06-19 18:29] v-tisheg opened #6608 ""Az Storage Blob Download .. -Max-Connections 1" file handling needs improvement."
Currently the "AZ Storage Blob Download ... --Max-connections 1" arguments will only attempt to pull the larger files in one peice.  When the file it is trying to download is larger than the memory on the workstation running the task the process consumes the workstation's entire memory and swap file then fails.

Looking to get the Azure CLI Storage blob download command structure to handle "--Max-

[2018-06-19 18:44] yugangw-msft opened #6609 "vm list-skus: improve it with more filter support for common user scenarios"
This command is getting more important because `az vm list-sizes` doesn't return accurate information, as some sizes are not actually available because of subscription level of restrictions.
For context, this API returns ~3MB payload with everything, and becomes an increasing challenge for users to extract out relevant data. Propose here to expose a few filters for common scenarios so to give user

[2018-06-19 19:40] kskvarci commented on #6609
To put it very simply, this command needs to be capable of returning a human readable list of VM sizes that are available in a given subscription and region. It should be able to effectively mirror what is returned in the size picker in the portal.

output from az vm list-sizes is easy to parse, it doesn't however pay any attention to the restrictions that are in play w/ in the selected subscripti

[2018-06-19 20:11] hectoralicea commented on #6607
Got it to work by adding a ```az network lb frontend-ip update```  command following the ```az network lb frontend-ip create``` .  So my code looks like this:

[code]
in cases where its the second frontend-ip being created I had to add the update command to ensure that the private ip sticks and that the privateIpAllocationMethod sets to Static.  Running debug before the update command is set, the

[2018-06-19 21:13] tjprescott commented on #6605
The generic set operation has to work with JSON objects, strings, etc. It recognizes `{\"Name\":\"Value1\"}` as valid JSON and thus converts it to a JSON object rather than treating it as a string. Is the behavior just odd or is it blocking your scenario?

[2018-06-19 21:15] olivelawn commented on #6605
@tjprescott The behavior is blocking a scenario. Is there a way to force it to be interpreted as a string and not JSON?

[2018-06-19 21:23] tjprescott commented on #6605
There isn't. What is the scenario that is blocked?

[2018-06-19 22:05] akramwaseem commented on #6488
seems good.

[2018-06-19 22:05] #6488 closed

[2018-06-19 22:36] williexu commented on #6608
The CLI relies on the [storage sdk](https://github.com/Azure/azure-storage-python/blob/master/azure-storage-blob/azure/storage/blob/baseblobservice.py#L1704) to download blobs.

Looping in storage team guys @seguler, @zezha-msft to answer the question regarding support via sdk.

[2018-06-19 23:10] olivelawn commented on #6605
@tjprescott I've been in the thick of a retagging effort (we use tags to determine how to charge $ back individual projects). The syntax of our existing tags looks like this.  The existing values (somehow) get into the tags using a runbook/powershell, but I'm a doofus when it comes to powershell.

We so happen to have 3 name/value pairs, but the same issue would exist even if we just had 1.

<pre>

[2018-06-19 23:21] zezha-msft commented on #6608
Hi @v-tisheg and @williexu, I took a look at the code, and it seems to me that this is a design flaw in the SDK and should be fixed.

To be more specific, the SDK currently does not address the scenario that @v-tisheg has described, where a large file needs to be downloaded serially to a non-seekable stream.

@williexu Please create an issue in the SDK's repo, so that we can track this work. Thank

[2018-06-19 23:38] williexu opened #6612 "`show` commands in the CLI will fail with an exit code of 3 upon a missing resource(404)."
---
Opening this issue for comments/question/searches regarding the new change.
This decision is to resolve issues like https://github.com/Azure/azure-cli/issues/5006 and https://github.com/Azure/azure-cli/issues/6442.

Currently in our CLI we have two main issues related to our `show` commands:
1. There is a huge **inconsistency** in the way in which our commands deal with a 404(missing resource)

[2018-06-20 00:05] williexu commented on #6324
Closing this due to: https://github.com/Azure/azure-cli/issues/6612

[2018-06-20 00:05] #6324 closed

[2018-06-20 00:17] amms-mnl opened #6613 "'KeyVault Secret Set' command unable to set tag as null"
**Describe the bug**
Issuing a command like "az keyvault secret set --tag '' -n <some secret> --vault-name <some vault> "
will not set the tag as null instead it will only set it as "file-encoding": "utf-8".

Keyvault and Cli 2.0 Version:
azure-cli (2.0.33)
keyvault (2.0.22)

Below are some examples during the testing that we had:

Command:az keyvault secret set -n <some secret> --vault-name <some

[2018-06-20 00:34] williexu commented on #6608
Done: https://github.com/Azure/azure-storage-python/issues/464

[2018-06-20 00:39] weznagwama commented on #1528
az group deployment delete --no-wait would be great, ATM there's no way to async delete a batch of deploys, have to serially do it one by one and it takes a long time.

[2018-06-20 09:58] bhushangholave opened #6614 "az acs kubernetes get-credentials fails with error The api-version '2017-07-01' is invalid"
**Describe the bug**
successfully login usinag az login --service-principal -u ${CLIENT_ID} -p ${SECRET_KEY} --tenant ${TENENT_ID}
but next command to get credentials
az acs kubernetes get-credentials --resource-group=${RESOURCE_GROUP_NAME} --name=${CLUSTER_NAME} -f  ${LOCAL_CONFIG_DIR}/kube_config --ssh-key-file ${SSH_FILE_PATH}

This fails with error
The api-version '2017-07-01' is invalid. The

[2018-06-20 13:13] rogerywoo opened #6615 "Give Examples delete-batch"
It would help if actual examples were provided.  For source should you include https.  Should it be:
az storage file &lt;command&gt; -- source https://&lt;your_account_name1&gt;.blob.core.windows.net/&lt;your_container_name1&gt;/&lt;your_sub_directory_at_blob1&gt; or something else?

I have tried various commands to delete a number of files without success.  Here are some examples I tried:

az sto

[2018-06-20 14:16] rogerywoo commented on #6615
Never mind.  I figured it out.  I should have used az storage **blog** delete-batch.   Also, for the pattern it should have been xxx*_2015.  You need an asterisk.

[2018-06-20 14:31] rallyspeed commented on #6587
Got the info i was looking for with this command. Thanks.

[2018-06-20 15:01] tjprescott commented on #6587
Glad to hear it worked for you.

[2018-06-20 15:01] #6587 closed

[2018-06-20 15:11] tjprescott commented on #6605
We can expose the `--tags` convenience argument, which would not have this issue. But it would have the issue that it would replace the entire tags collection, so you wouldn't just be able to set one tag.  Have you tried the using the `az tag` command?

[2018-06-20 17:27] jorgecotillo opened #6616 "Policy assignment - Scope: resource group"
**Describe the bug**
Assigning a policy definition to a resource group

**To Reproduce**

1. az login

2. Create any policy (I am using the one from this [website](https://docs.microsoft.com/en-us/azure/azure-policy/create-manage-policy):

az policy definition create --name 'denyCoolTiering' --description 'Deny cool access tiering for storage' --rules '{
    "if": {
        "allOf": [{

[2018-06-20 18:32] djyou opened #6617 "Args parsing unexpected behavior and prints incorrect error messages"
**Describe the bug**
When providing an arg in the format `-abcdef` (i.e., single dash with multiple letters), the CLI parses it into
[code]
and thus prints incorrect error messages.

**To Reproduce**

The command `az group -name foo` is parsed into `az group -n ame foo` and thus prints the error:
[code]

If I have a resource group called `foo`, running `az group show -nfoo` is equavalent to runnin

[2018-06-20 18:38] tjprescott commented on #6617
This is standard argparse behavior and is expected. It is also part of the reason that multi-character short options are not allowed in the CLI.

[2018-06-20 18:51] djyou commented on #6617
It however seems to me that multi-character short options are allowed because of this behavior. If they are truly not allowed, shouldn't they always error out?

It really puzzled me when `az group show -nfoo` gives me back the resource group `foo`.

[2018-06-20 19:06] tjprescott commented on #6617
For whatever strange reason, argparse allows them, but for all the weird ambiguity that can result, we do not allow them in the CLI. There is a linter rule that will prevent them from being checked in. I routinely make use of the short-option "feature" when I'm using output formats (i.e.: `az group list -otable`)

[2018-06-20 20:07] badarosama opened #6620 "ImagePullBackoff error when creating a kubernetes cluster using yaml file"
I am using the following tutorial but using my own project and not the example code used in the tutorial.
https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-deploy-cluster

I created a yaml file and replaced the image source to following image: listingssdfregistry.azurecr.io/listingsdevfrontend:v1

Ran the following command to see the image in my azure registry:
**az acr repository lis

[2018-06-20 20:20] lmazuel commented on #6595
@mboersma I never seen this message, is this something specific to AKS that will not be detected by my auto-registration code?
To trigger the auto-registration, answer must be 409 with a code "MissingSubscriptionRegistration". Is this answer different?

[2018-06-20 20:27] colemickens commented on #6595
@mboersma That sounds possible, but I had thought AKS was in `westus` since the initial preview days. If not, and registrations are region-specific, this would likely be the cause.

(Note, the error message above was taken verbatim from my terminal on the date that I filed the issue.)

[2018-06-20 20:53] v-tisheg commented on #6608
3116c4c9-8997-451c-a249-5cd093312804

[2018-06-20 20:59] v-tisheg commented on #6608
Has this been published?
Does the customer need to download the cli modules?
The customer tried again this morning and the issue persists

[2018-06-20 21:21] zezha-msft commented on #6608
No @v-tisheg, this work will be scheduled soon.

[2018-06-20 21:56] mboersma commented on #6595
AKS was initially in `westus2` but was decommissioned after public preview began last year. `westus` is a new region for AKS only recently. I don't know for sure if the registrations are region-specific actually (although that might explain this behavior). Let me get some more info and see if I can reproduce this as well.

[2018-06-20 22:30] mboersma commented on #6595
I am able to reproduce this, and it is returning a 409, so it seems that the CLI should have auto-registered, but the code is `MIssingRegistrationForLocation`, not `MissingSubscriptionRegistration`. Should the CLI be catching that as well, or should the RP change its error code?

[code]

[2018-06-20 23:29] yxiang92128 opened #6621 "Does SAS connection to a Azure emulator work?"
**Describe the bug**
I am trying to use "az" to connect to an Azure emulator instance but it failed to parse and reported a malformed connection string.

**To Reproduce**
Steps to reproduce the behavior.
root@sdl23981:~# az storage blob list --container-name lotsofobjects --connection-string "DefaultEndpointsProtocol=http;AccountName=devstoreaccount1;SharedAccessSignature=?sv=2017-07-29&sr=c&sig=4

[2018-06-20 23:48] williexu commented on #5006
Take a look at https://github.com/Azure/azure-cli/issues/6612 for updates to this issue and our decision to resolve it.

[2018-06-20 23:53] colemickens commented on #5006
@williexu Thank you for cross-linking. I'm also quite happy with the decision. Cheers!

[2018-06-21 00:48] #6617 closed

[2018-06-21 02:53] suntong opened #6622 "Publisher: KasperskyLab.SecurityAgent was not found, when list images by offer"
**Describe the bug**
when listing images by `--offer`, az now returns `Publisher: KasperskyLab.SecurityAgent was not found` error. It was OK just about a week ago.

**To Reproduce**

[code]

**Expected behavior**
a list of images returned.

**Environment summary**
CLI version (`az --version`) / OS version / Shell Type: bash

running in https://shell.azure.com/ using bash:

[code]

**Additional con

[2018-06-21 05:34] waytai opened #6623 "az login"
**Describe the bug**
A clear and concise description of what the bug is.
To sign in, use a web browser to open the page https://microsoft.com/deviceloginchina and enter the code xxxxxxxx to authenticate.
No subscriptions were found for 'None'. If this is expected, use '--allow-no-subscriptions' to have tenant level accesses

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**

[2018-06-21 06:14] yupsay commented on #2128
Any idea for why this statement fails?
az vm create -n MyVmTst22 -g "AZtstEUWvmBld" --public-ip-address "" --image win2016datacenter --admin-username "adminBOSS" --admin-password "abcde@12345#" --vnet-name "$(az network vnet show -g Net-DB -n CIND-DB-WEU-VNET-8532 -o tsv --query id)" --subnet "$(az network vnet subnet show -g Net-DB --vnet-name CIND-DB-WEU-VNET-8532 -n SUBNET-1 -o tsv --query id)"

[2018-06-21 10:58] janbrunrasmussen commented on #5651
Any plans to add this? or workarounds?

[2018-06-21 11:13] marinnedea opened #6626 "--encrypt-format-all UUID issue when run for DATA disks only"
The --encrypt-format-all parameter will also cause the UUIDs to be changed post encryption, therefore adding the disks into the /etc/fstab with UUIDs before encryption will most likely result in a "no boot" situation for that VM due to wrong UUID. Removing that parameter allows the system keeping the same UUIDs. Please have this tested on your own end.

---
#### Document Details

⚠ *Do not edit th

[2018-06-21 11:16] marinnedea commented on #6626
Before partitioning:

/dev/sda2: UUID="3c11fba3-32c7-4d0c-b614-aad5630504eb" TYPE="xfs"
/dev/sda1: UUID="ca02dd2d-a91b-4fb1-b24b-0fb19c18b89d" TYPE="xfs"
/dev/sdb1: UUID="d4de616e-7a99-4904-9a4d-9cae793e2f9f" TYPE="ext4"
/dev/sdc1: UUID="62afbe50-54dc-4d73-a46b-36ab52c5017d" TYPE="ext4"
NAME   MAJ:MIN RM  SIZE RO TYPE MOUNTPOINT
fd0      2:0    1    4K  0 disk
sda      8:0    0   32G  0 disk
├─sda

[2018-06-21 13:03] thebitguru commented on #2128
@yupsay what operating system are you running this on?  Instead of using subcommands to look up the vnet and subnet, why not copy paste the actual IDs?

[2018-06-21 13:15] yupsay commented on #2128
Running this from a Win 10 box.

________________________________
From: Farhan Ahmad <notifications@github.com>
Sent: Thursday, June 21, 2018 6:34:02 PM
To: Azure/azure-cli
Cc: yupsay; Mention
Subject: Re: [Azure/azure-cli] [VM] How to specify virtual network from another resource group? (#2128)

@yupsay<https://nam05.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fyupsay&data=02%

[2018-06-21 13:49] thebitguru commented on #2128
I see.  Sorry, I am not familiar with this on Windows CLI, but I would recommend using the resource IDs instead of the subcommands if you don't need this command to be dynamic.

[2018-06-21 13:51] yupsay commented on #2128
If you may, please post an example.

________________________________
From: Farhan Ahmad <notifications@github.com>
Sent: Thursday, June 21, 2018 7:19:22 PM
To: Azure/azure-cli
Cc: yupsay; Mention
Subject: Re: [Azure/azure-cli] [VM] How to specify virtual network from another resource group? (#2128)

I see. Sorry, I am not familiar with this on Windows CLI, but I would recommend using the resource

[2018-06-21 14:46] thebitguru commented on #2128
Something like...

    az vm create -n MyVmTst22 -g "AZtstEUWvmBld" --public-ip-address "" --image win2016datacenter --admin-username "adminBOSS" --admin-password "abcde@12345#" --vnet-name "YOUR_VMNET_NAME_HERE" --subnet "SUBNET_HERE"

You can lookup the vnet and subnet in the Azure Portal.

Lastly, these questions might be more appropriate for Stack Overflow.

[2018-06-21 14:51] Treemendus opened #6627 "az aks use-dev-spaces"
I am trying to setup an environment to debug a remote kubernetes pod.

![image](https://user-images.githubusercontent.com/16299007/41726385-034e20d0-7540-11e8-90d3-aceb4452b37b.png)

I have followed the example in this article https://docs.microsoft.com/en-gb/azure/dev-spaces/quickstart-netcore I am getting the above error message and not sure how to proceed.

When the Cluster was originally creat

[2018-06-21 15:28] berndverst opened #6628 "az container create / azure container instances creation should automatically provide credentials for ACR images"
**Is your feature request related to a problem? Please describe.**
`az container create` should automatically provide credentials for ACR images

**Describe the solution you'd like**
`az acr login` already obtains credentials for `docker` to log into ACR. Use these same credentials automatically for `az container create` if the image specified is from ACR.

**Describe alternatives you've considere

[2018-06-21 16:04] berndverst commented on #6628
@TanishShinde this is what we were trying to investigate today

[2018-06-21 17:01] brichins opened #6630 "Make --cloud a global parameter for all commands"
This feature request is similar to issue #5618 where a global --subscription parameter was added but request a global --cloud argument.  I'm adapting that request and borrowing heavily from it's text.

The current CLI currently requires this workflow:
[code]
This makes it very unfriendly and dangerous for scripts and interactive use.

Consider:

Long running script sets curernt sub to SubProductio

[2018-06-21 17:07] #6419 closed

[2018-06-21 17:13] krishnand commented on #6023
Have a follow-up question on this since the documentation is still not quite clear. Could you clarify if a json file needs to be created/saved in the local file system and then referenced here or can the manifest.json string be inlined?

[2018-06-21 19:26] saurabsa commented on #6627
We are about to release our latest Azure Dev Spaces cli today. That should fix the issue. Meanwhile, please try to run these commands to use a dev space controller:
`azds controller create`
`azds space select`

[2018-06-21 19:36] Treemendus commented on #6627
Thank you for the quick update

[2018-06-21 19:36] #6627 closed

[2018-06-21 20:40] olivelawn commented on #6605
@tjprescott the fix you're describing would mean we would need to know every tag at at the same right?  Anotherwords, if we had the situation below, we would need to know the name/value pairs for sampletag1, sampletag2, sampletag3, right?

<pre>
$ az group show -g sample-rg
{
(output omitted)
  {
 "tags": {
    "sampletag1": "{\"Name1\":\"Value1\",\"Name2\":\"Value2\",\"Name3\":\"Value3\"}"
    "s

[2018-06-21 23:28] lmazuel commented on #6595
@mboersma I'm only looking for MissingSubscriptionRegistration right now, so I don't know if I'm missing a valid return code from ARM, or if the code is incorrect.
@ravbhatnagar thoughts?

[2018-06-22 03:09] #6623 closed

[2018-06-22 04:25] nzregs opened #6637 "list-keys is not a command"
EXAMPLE is incorrect:&gt;az eventhubs namespace authorization-rule list-keys --resource-group myresourcegroup --namespace-name mynamespace --name myauthorule

az eventhubs namespace authorization-rule: 'list-keys' is not an az eventhubs namespace authorization-rule command. See 'az eventhubs namespace authorization-rule --help'.

The correct syntax is: az eventhubs namespace authorization-rule key

[2018-06-22 06:20] cornem opened #6638 "Parameter --configuration-source does not copy app settings and connection strings"
I expected the `--configuration-source` parameter on `az webapp deployment slot create` command to copy app settings and connection strings to the new slot, but it doesn't.

Is there another way to achieve this using the CLI? Using the Azure Portal, it is possible to clone the configuration from another slot. It would be really useful if this functionality were also available from the CLI.

---
##

[2018-06-22 08:49] pvrk commented on #5615
@areyesjr : We are working on this. Please give us time until July mid to give you a proper response

[2018-06-22 12:36] nicolaibaralmueller opened #6640 "az vmss rolling-upgrade"
Hi,

_az vmss rolling-upgrade -start --name $vmssName --resource-group $resourceGroup_ always fails with the following error:

`The OS Rolling Upgrade API cannot be used on a VM Scale Set unless the VM Scale Set is using a Platform Image select the OS by setting imageReference.`

This does not make sense to me as the image reference is set in azure:

![image](https://user-images.githubusercontent.

[2018-06-22 17:32] mboersma commented on #6595
This is a routine problem for RPs--when a new region is brought online, a provider needs to be re-registered to be able to access that region. We started running a batch script yesterday to update all existing AKS customer registrations, and we should finish updating them all today, which will fix this problem for now.

If the CLI did handle this error code by re-registering, it appears that would

[2018-06-22 21:57] robplahn commented on #3490
This would be a really nice feature if added.  Spent a couple hours figuring this out today as it's not intuitive to have the TARGET available in portal but not in the CLI.
Wrote this shell script to handle this in our automation.
resrouce_group="yourResourceGroupName"
loadbalancer_name="YourLBname"
natrule_name="yourNATruleName"
nic_name="yourNICname"
ipconfig_name="this part was trickier since I

[2018-06-22 22:38] yugangw-msft commented on #6638
`--configuration-source` is the way to copy settings over, if it doesn't work then there is a bug. Can you please confirm it is indeed not working. We have a [test](https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/tests/latest/test_webapp_commands.py#L512-L514) to cover this scenario

[2018-06-22 22:42] yugangw-msft commented on #6640
you can check out [the document](https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-automatic-upgrade#supported-os-images). I don't think you can use your own customer images.

[2018-06-22 22:42] #6640 closed

[2018-06-22 22:49] BrandynThornton opened #6641 "filter-sql-expression quotes"
Create/Update a rule using Powershell and the Azure CLI you may need to wrap the rule in double quotes as an example:
az servicebus topic subscription rule create --resource-group myresourcegroup --namespace-name mynamespace --topic-name mytopic --subscription-name mysubscription --name myrule --filter-sql-expression "myproperty='myvalue'"

---
#### Document Details

⚠ *Do not edit this section. I

[2018-06-23 00:01] #6562 closed

[2018-06-23 05:45] miaojiang commented on #5302
Facing the same issue on Mac when running az aks install-cli, using v2.0.38

[2018-06-23 17:47] codymullins commented on #5503
The fix by @grimaldou worked after I followed the [instructions here](https://github.com/Homebrew/homebrew-core/issues/19286) by chingNotCHing.

[2018-06-23 21:09] derekbekoe commented on #1880
Can we re-open this? I'm trying to set the default API version for blobs and `az storage logging/metrics` does not let me do this.

https://stackoverflow.com/questions/11503776/serving-video-content-from-azure-blob-storage

[2018-06-24 08:56] ccic commented on #6084
I encountered the same issue when I create VM through a customized VM image on Ubuntu 16.04. I have invoked "az account set" before "az vm create". I can create VM on Azure portal.

az vm create --resource-group honzhantestimg --name benchserver1 --image /subscriptions/guid/resourceGroups/honzhansignalrbench/providers/Microsoft.Compute/images/hzbenchserverimg --admin-username honzhan --ssh-key-val

[2018-06-25 07:21] cornem commented on #6638
I have narrowed it down a bit further. The difference between the portal and `--configuration-source` is that the portal also clones app settings or configuration strings that are configured as 'slot settings'. The CLI tools apparently ignore slot settings.

It would probably be helpful if `--configuration-source` worked exactly like the clone functionality in the portal.

[2018-06-25 11:09] JasonHaley opened #6643 "az container create with yaml file and secureValue fails with not supported before version 2018-06-01"
**Describe the bug**
When I try to use the az container create with a yaml file it fails when new features like secureValue for an environment variable or connecting to Log Analytics with the message:

az : ERROR: The secure environment variable is not supported before version '2018-06-01'.
At line:1 char:1

**To Reproduce**
Create the following yaml file as secure-env.yaml (taken from the docs: h

[2018-06-25 15:48] tjprescott commented on #6641
Quoting behavior is shell-dependent and we do not generally attempt to alter it in the CLI. I read this as a general comment or observation vice a specific ask, so I will close this GitHub issue. If there is an ask, we can reopen it.

[2018-06-25 15:48] #6641 closed

[2018-06-25 16:02] tjprescott commented on #6605
@olivelawn yes, that is correct. When you use `--tags` in other update commands it does a replacement. Only the generic update lets you mutate things with finer granularity. I will investigate some options in our next sprint.

[2018-06-25 16:21] #5619 closed

[2018-06-25 16:22] tjprescott commented on #6023
You can inline the string, but it will generally be a painful process because you'll need to escape all of the internal quotes. Using the @syntax is definitely the best way to go.

[2018-06-25 16:58] #4050 closed

[2018-06-25 16:58] #4773 closed

[2018-06-25 16:58] #5385 closed

[2018-06-25 17:02] #6396 closed

[2018-06-25 17:10] ccanuel opened #6645 "Add default values"
would be great to know the default values to all the parameters
eg:
[--default-action {Allow, Deny}]
[--https-only {false, true}]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92115d19-d7a0-93a8-bf2b-5126d1cddcd0
* Version Independent ID: a657f09b-e1ac-12a2-4b9c-7aaa1f0e3f5c
* Content: [az storage account](https://doc

[2018-06-25 17:12] troydai commented on #3451
@williexu could you take a look?

[2018-06-25 17:21] tjprescott commented on #6645
For flags (--https-only), the default is always false (flag not specified). For some parameters, like `--default-action` the default from the CLI to specify nothing and allow the server to enforce the default.  However, that default should be expressed via the rest API specs, in which it would bubble up to the CLI. cc/ @johanste

[2018-06-25 18:13] MGoedtel opened #6647 "az monitor diagnostic-settings create cmdlet help"
**Describe the bug**
When using the 1.	–workspace  to create a new Log Analytics workspace, it is not clear that the -workspace parameter requires the full resource object ID "path" and not just the name of the workspace.  The reference documentation and any other related documentation for performing this in CLI does not clearly specify the value required.

**To Reproduce**
If following the docume

[2018-06-25 20:42] #6027 closed

[2018-06-25 21:02] sugarjig commented on #6206
I'm also interested in the answer to this question. It doesn't appear that there is a way to automate the process of creating unique keys.

[2018-06-25 21:38] samkreter commented on #6525
Currently the API version is based on the SDK version for exporting. This will be updated in an upcoming release.

[2018-06-25 21:38] tjprescott commented on #6599
Your JSON format is wrong.  It should be a list not a dictionary.  I've verified that this works:
[code]

[2018-06-25 21:38] #6599 closed

[2018-06-25 21:41] tjprescott commented on #6647
The help documentation states:
[code]

If you supply the name, you must also supply resource group. If you don't you get the following error message:
[code]

For the error you are seeing, it looks like you are supplying something that just doesn't exist.

[2018-06-25 21:52] tjprescott commented on #4856
This fix should have been released already. Please reopen if this is still an issue.

[2018-06-25 21:52] #4856 closed

[2018-06-25 22:56] ReveelTeam commented on #5302
Just like 'miaojiang' wrote I am too .. "Facing the same issue on Mac when running az aks install-cli, using v2.0.38"

[2018-06-25 23:47] ReveelTeam opened #6651 "az aks cli == [SSL: CERTIFICATE_VERIFY_FAILED] -- during "az aks install-cli" (Azure Cli 2.0.38) on Mac HighSierra"
**Describe the bug**
Cannot Install AKS CLI
Device: MAC HIghSierra
Azure CLI v2.0.38

--- this is also reported by 'miaojiang'  ... "Facing the same issue on Mac when running az aks install-cli, using v2.0.38" IN ISSUE: 'In az aks install-cli "certificate verify failed" #5302'

**To Reproduce**
while trying to execute: az aks install-cli

**Expected behavior**
install aks cli

**Environment summar

[2018-06-25 23:57] ReveelTeam opened #6652 "az aks install-cli on Windows CMD"
**Describe the bug**
After installing and version updates, users will encounter an error as follows:
"Can not find kubectl executable in PATH'

**To Reproduce**
after logging in, installing new aks cli, and getting credentials vi cli. Then finally when trying  'Open the Kubernetes dashboard by running the following command:' this error occurs:
**"Can not find kubectl executable PATH"**

THE SOLUTI

[2018-06-26 11:18] Makovec opened #6654 "az network vnet check-ip-address - error in doc"
Hi,
--ip-address is also mandatory. If not specified, returned error is: Private IP address is null or empty in the CheckIpAddressAvailability call. Specify IpAddress=$(ipaddress) as a query parameter in the request URI.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc99d572-abdb-ab6b-7a9a-c6951a1c1466
* Version Indep

[2018-06-26 11:22] Pr0t0star commented on #3512
@dano-reisys your example is missing in your comment.

Im facing the exact same issue as @dnplkndll on both examples

if your referring to backslashes on the path, these have been added and are in the example above too.

[2018-06-26 13:28] alexvicegrab opened #6655 "az vm list-sizes should allow filtering by HDD / SDD"
**Describe the bug**

I can filter on the Azure Portal based on SSD, but this is impossible to natively do on the command line.

**To Reproduce**

[code]

See that there is no property relating to SSD/HDD status, so can't filter with JMESPath

**Expected behavior**

I'd expect to be able to filter the machines based on SSD/HDD status.

**Environment summary**

Installed with Homebrew:

Az version:

[2018-06-26 16:00] tjprescott commented on #6654
Thanks for the report @Makovec!

[2018-06-26 16:47] mboersma commented on #5158
@EdwardOst is this still problematic for you? Does it work to collapse the first three lines into just `apk add -U curl`?

(@tjprescott it doesn't look like this issue has anything in particular to do with ACS, it's a packaging-related question.)

[2018-06-26 16:50] mboersma commented on #1149
@tjprescott I'm not entirely clear on the generic update mechanism that was discussed here. I do know we don't plan to implement changes other than bug fixes and maintenance to ACS itself, so this can probably be closed or retargeted to AKS.

[2018-06-26 16:51] mboersma commented on #1310
This behavior is no longer the case--`az acs delete` removes all the expected resources. @mayurid @tjprescott we can close this issue.

[2018-06-26 16:53] mboersma commented on #1517
We don't plan to implement this change for `az acs`. @tjprescott this issue can be closed.

[2018-06-26 16:55] mboersma commented on #3030
@sauryadas correct me if I'm wrong, but we're not planning to implement this for `az acs`. @tjprescott let's close this issue.

[2018-06-26 17:00] Matty9191 opened #6657 "invoices_operations.py generating a stack trace"
**Describe the bug**

I am getting a Python stack trace when I run `az billing invoice list`:

(UnsupportedSubscriptionType) Offer id XXXXX is not supported.
Traceback (most recent call last):
  File "/usr/lib64/az/lib/python2.7/site-packages/knack/cli.py", line 197, in invoke
    cmd_result = self.invocation.execute(args)
  File "/usr/lib64/az/lib/python2.7/site-packages/azure/cli/core/commands/_

[2018-06-26 17:08] mboersma commented on #3232
@tjprescott this issue can be closed now.

[2018-06-26 17:09] mboersma commented on #3845
We don't plan to implement this `az acs` change. @tjprescott this issue can be closed.

[2018-06-26 19:17] yiliaomsft opened #6663 "webapp:az appservice plan create support Pv2 SKUs for Linux"
**Describe the bug**
Add support for Pv2 SKUs for Linux appservice plan,

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash o

[2018-06-26 19:38] coldwell opened #6664 "resource-group mixup during az sql db copy"
**Describe the bug**
When attempting to copy a sql database with the command `az sql db copy`, there appears to be confusion about which resource group is referenced. It may be noteworthy that I'm:
* copying within the same subscription
* copying to a difference resource group
* the source and destination use elastic pools

**To Reproduce**
This is the command and parameters I'm attempting to run:

[2018-06-26 20:00] tjprescott commented on #5158
@mboersma sorry about that. Saw the `acs` call.  @troydai  for comment

[2018-06-26 20:03] tjprescott commented on #1149
Updated to target AKS, which apparently doesn't have an `update` method at all.

[2018-06-26 20:17] #1310 closed

[2018-06-26 20:17] #1517 closed

[2018-06-26 20:17] #3030 closed

[2018-06-26 20:18] #3232 closed

[2018-06-26 20:18] #3845 closed

[2018-06-26 20:38] #6654 closed

[2018-06-26 20:43] troydai commented on #5158
Have the same impression. I will take a look when  I have the time.

[2018-06-26 21:43] williexu opened #6665 "When no collision, <Mod_name>.<name> format for test argument does not work"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash o

[2018-06-26 23:30] mboersma commented on #6614
I can't reproduce this so far:

[code]

@bhushangholave what Azure region is this cluster in? And are you able to run any other `az acs` commands against this cluster after `az login`, or do they all fail similarly?

[2018-06-26 23:36] samkreter commented on #6643
@JasonHaley I could not reproduce it. The CLI directly calls the Azure Resource Manager API to create that with the specified API version. The only way that the API version would default to 2018-02-01-preview is if it wasn't specified.

The next CLI release this week will default to using the latest apiversion which should fix the issue either way unless an older version is explicitly set in the Y

[2018-06-27 02:30] MGoedtel commented on #6647
@tjprescott - I understand and my point was that the reference documentation isn't clear on how you should pass the value for --workspace, which my example above is showing the incorrect way I originally followed based on interpretation of the documentation.  However, I learned that it should be including the fully qualified "path" (i.e. resource object id) of the workspace: --workspace /subscript

[2018-06-27 10:11] JasonHaley commented on #6643
Ok, I'll check it when it comes out.  The Cloud Shell (where it works) says its using azure cli/2.0.38 where my local version is azure cli/2.0.3.

Is there a way to get the newer version early?

[2018-06-27 11:45] bhushangholave commented on #6614
Hey @mboersma  I figured it out what was missing in my script..
Anyways thanks for your response on this :)

[2018-06-27 11:45] #6614 closed

[2018-06-27 19:38] yevster opened #6667 "Missing default values"
There are no default values provided for the optional parameters for `az postgres server create`. For instance, is ssl enforcement enabled by default if it is omitted? What is the storage size if none is provided?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d11bd3f4-efbf-691d-76a4-293ab97ad845
* Version Independent

[2018-06-27 19:56] rameshjanjyam opened #6668 "network-rule command not working"
here is the error I am seeing - az keyvault: 'network-rule' is not an az keyvault command. See 'az keyvault --help'

az --version is "azure-cli (2.0.38)"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: caa4484b-7b01-45d5-4d5c-61f274395eac
* Version Independent ID: de5c4486-080b-6406-5dcb-febd66a5a626
* Content: [az keyv

[2018-06-27 20:14] tjprescott commented on #6668
This might be a feature in the KeyVault extension. @schaabs can you verify?

[2018-06-27 20:23] schaabs commented on #6668
@rameshjanjyam This feature is currently only supported in the keyvault-preview extension. To install the extension run the command

    az extension add -n keyvault-preview

You can get more info on the extension, as well as file any issues [here](https://github.com/azure/azure-keyvault-cli-extension/).  We are currently in the process of releasing the features in the preview extension, so they s

[2018-06-28 06:55] TsuyoshiUshio opened #6674 "az eventhubs namespace create shows wrong help"
**Describe the bug**

`az eventhubs namespace create --help`  shows this as an example.

[code]
However, there is `--sku` option. not `--sku-name` or `--sku-tier` . Other part of the help says

[code]

**To Reproduce**

`az eventhubs namespace create --help`

**Expected behavior**

I'm not sure which is correct. However `--sku Standard` might be right.

**Environment summary**

Windows

[code]

**

[2018-06-28 07:26] TsuyoshiUshio opened #6676 "az eventhubs eventhub create throws BadRequest when I specify only the mandatory parameters"
**Describe the bug**
When I try `az eventhubs eventhub create` command it returns BadRequest, however, when I added the `--message-retention` and `--partition-count` it works.  However, these two parameters is not required.

**To Reproduce**

To cause an error.

[code]

To success.

[code]

**Expected behavior**

The first one should work. or `--message-retention` and `--partition-count` should be

[2018-06-28 07:35] dtissen opened #6677 "az group deployment create failes because of Circular dependency detected"
**Describe the bug**
Deployment template validation failed: 'Circular dependency detected on resource: '/subscriptions/96df8737-1173-496d-abee-c828eee4d264/resourceGroups/demo/providers/Microsoft.Compute/virtualMachines/demo-apl01'. Please see https://aka.ms/arm-template/#resources for usage details.'.

The issue is, that the az group export function exports a json configuration of the ressourcegr

[2018-06-28 08:39] liorbiu opened #6678 "No module named 'azure.cli' Uubntu 18.04 LTS"
I tried to install azure-cli on Ubuntu 18.04. The installation was successfull (I didn't received any error messages. The installation done via apt-get).
When I'm trying to run `az login` the command seems to work correctly, but I received this error:

`File "/opt/az/lib/python3.6/site-packages/azure/cli/core/telemetry_upload.py", line 24, in <module>
    import azure.cli.core.decorators as decora

[2018-06-28 10:29] nagpal opened #6679 "Application gateway: http settings: --path option does not work"
**Describe the bug**
The --path option of app gateway http-settings does not work.

In the help, it says the value in --path option is prefixed to all HTTP requests. Currently this value seems to have no effect on the http request.

**To Reproduce**
1. Setup an app gateway
1. Create a listener to listen to a domain (listener1)
1. Create two http settings (httpsetting1 and httpsetting2)
1. Create t

[2018-06-28 18:01] #5954 closed

[2018-06-28 18:01] #5968 closed

[2018-06-28 18:01] #6059 closed

[2018-06-28 20:39] rameshjanjyam commented on #6668
awesome. it worked. Thank you very much @schaabs and @tjprescott

[2018-06-28 20:41] #6668 closed

[2018-06-28 22:43] digimaun opened #6686 "Windows MSI embedded pip install operation warnings"
**Describe the bug**
Using pip from the Windows MSI CLI environment causes a number of ‘X requires Y which is not installed’ messages.

Example:
[code]

**To Reproduce**
Fast way to reproduce....

0) Install using latest Windows MSI (2.0.39 as of this writing)
1) install the IoT extension
2) run 'az iot hub monitor-events' ....this will do an out of band uamqp install in the extension space using

[2018-06-28 22:47] troydai commented on #6686
@williexu can you dive into this scenario a little bit? I'm a bit concern about using the pip to alter the dependencies here.

[2018-06-28 23:33] wstrox commented on #4816
A similar issue occurred with resizing an Elastic Pool. e.g. the following invocation failed with a similar message as reported above:
[code]
but the following succeeded:
[code]
In this case, it was just a matter of adding the required options.

[2018-06-29 00:56] williexu commented on #6606
@josrom can you update to a newer container?
I believe you are hitting this issue: https://github.com/Azure/azure-cli/pull/5881
The fix should be in versions v2.0.30 and later

[2018-06-29 08:08] ninijay opened #6687 "Table Storage Policy List Doesn't return an array"
**Describe the bug**
When listing all the policies for a given table storage, the az tool returns an object with sub- objects rather than an array of objects

**To Reproduce**
1. Create Table Storage
2. Add 2 or more Access Policies
![image](https://user-images.githubusercontent.com/6756364/42080272-63a38dce-7b82-11e8-9c7d-d64cd56e7f23.png)
3. Query for a list of policies for that table:
[code]
4.

[2018-06-29 11:03] chubin opened #6688 "Can't enable accelerated networking for a VM"
When I am trying to enable accelerated networking for a VM, nothing happens:
[code]

Inside the VM after that I see the same devices as before, no Mellanox:

[code]

[2018-06-29 12:10] ninijay commented on #6687
Same in other storage types like queues and shares

[2018-06-29 14:35] burkeholland commented on #6545
The name of the app is MyFirstApp-burke

I should note that if I delete that Resource Group and then wait long enough, I can recreate it without any problems. It looks like this is only an issue when you delete a resource group (with a service plan and webapp in it) and then immediately recreate it.

[2018-06-29 15:56] MisinformedDNA opened #10828 "Auth instructions result in unrecognized arguments"
The instructions [here](https://github.com/Azure/azure-libraries-for-net/blob/master/AUTH.md) for creating a SP results in an error

Here's the call:

azure-cli (2.0.9)

[2018-06-29 16:09] samkreter commented on #6525
#6650 Fixes this API version

[2018-06-29 16:54] tjprescott commented on #6687
@williexu, since we are using the list verb, we should consider using a transform to force the returned object to be a list. We would also need to move the policy name into the dictionary or wrap each policy in a dictionary.

[2018-06-29 17:21] yugangw-msft commented on #6688
It would be worthwhile to cross check whether the size of the VM is qualified for this. Not a great source, but there is a [raw list here](https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py#L569-L595). Hope this helps.

[2018-06-29 17:23] yugangw-msft commented on #6678
//CC :@troydai

[2018-06-29 17:32] yugangw-msft commented on #6688
Can you do a "az vm show" and cross check the os image you are using? Not all OS images support accel-net.
Here is the [raw list](https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_validators.py#L620-L623)

[2018-06-29 17:37] chubin commented on #6688
@yugangw-msft That is my *own image*, but it has all needed drivers inside

[2018-06-29 17:44] yugangw-msft commented on #6688
@gsilva5, is there a way to diagnose why the accelnet is not picked up? like boot diagnostics?
@chubin, I can only suggest you create a new vm  with "--accelerated-networking ", and to cross check whether you can get it with the same size and same image.

[2018-06-29 18:18] panchagnula commented on #6638
Let me look at this is details & update the issue.

[2018-06-29 19:25] priyaananthasankar opened #6691 "Azure login repeatedly asks for login information after a "read" command in bash script on WSL"
Using a bash script in WSL Ubuntu subsystem to automatically perform Azure login using service principal.

**To Reproduce**
Execute this sh script in Ubuntu WSL.

#!/bin/bash
az login --service-principal --username $servicePrincipalAppId --password $servicePrincipalPassword --tenant $servicePrincipalTenantId
read subscriptionId
az account set --subscription $subscriptionId
read key
az group create

[2018-06-29 20:20] yugangw-msft commented on #6691
Are you able to reproduce the same issue by running the 3 command manually?
[code]
Particularly, you can cross check after `az login` whether you see the `$subscriptionId` shows up in the output.

[2018-06-29 22:01] #5413 closed

[2018-06-30 07:18] huangpf commented on #6440
This API already exists:
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2018-06-01/compute.json#L1031

[2018-06-30 07:19] huangpf commented on #6440
Please close this issue?

[2018-06-30 07:29] huangpf commented on #4341
mark

[2018-07-01 11:21] pmarques commented on #1043
@derekbekoe this bug annoying specially when dealing with custom stuff like brew for OS X. What is the propose of that bash script wrapper for az?
I'm not a python expert, but if this was a python script (with shebang pointing to python), pip would update the script to use the right python version. For instance:

pip2 install azure-cli would use python2(...)
pip3 install azure-cli would use python

[2018-07-01 17:20] shershen08 commented on #5034
Having the same problem!

Tried:
[code]
[code]
Didn't solve an issue for me.

[2018-07-01 19:10] kventil commented on #5034
Same here.

` △ ~ az --version
azure-cli (2.0.38)

 ▲ ~ python3 --version
Python 3.7.0`

[2018-07-02 02:18] #6486 closed

[2018-07-02 10:39] t-muko opened #6696 "container create --secrets to set environment variables does not work"
**Describe the bug**
When trying to set a secret environment variable for a container instance by using az cli switch "--secret mysecret=verysecret", an error message appears:
"Please specify --secrets --secrets-mount-path to enable secrets volume mount."

Secret environment variable does not have anything to do with a secret mount.
If a mount name is specified the command runs, but no environment

[2018-07-02 12:51] shershen08 commented on #5034
@kventil Thanks!

[2018-07-02 16:25] brichins commented on #5034
@kventil - Your workaround worked like a charm for me.

[2018-07-02 16:41] prawin2k opened #6697 "Azure Functions CLI Tools 2.2.2 - Unable to Debug Azure Functions from VS2017"
**Describe the bug**
We are unable to debug the Azure Functions (we tried Timer, HTTP & Cosmos DB) locally in VS 2017 after the 2.2.2 CLI Tools got downloaded . Everything was working perfect before that.

![2 2 2-downloading](https://user-images.githubusercontent.com/10738750/42175712-edc2cd7c-7e15-11e8-8d41-cebc1706a2e4.png)

Below is the screen capture of the releases.
![versionfolder](https://

[2018-07-02 16:46] brugos commented on #4715
@djyou , it worked for me after updating az cli from 2.0.22 to 2.0.39

[2018-07-02 18:00] tjprescott commented on #6697
This is not the correct repo for this issue.  It belongs here:
https://github.com/Azure/azure-functions-core-tools

[2018-07-02 18:00] #6697 closed

[2018-07-02 18:35] maximbaz opened #6698 "Unable to login with the new experience"
**Describe the bug**

I updated from `2.0.35` to `2.0.40` and now the `az login` behaves differently and is unable to sign me in.

I run `az login`, the browser is being opened, I select my account and see the success message:

[code]

However in the terminal I see an error:

[code]

What kind of client secret is it talking about?

Luckily the old experience is still present, and when I use `az lo

[2018-07-02 19:21] theheatDK opened #6700 "Option to disable automatic saving of authentication token"
**Is your feature request related to a problem? Please describe.**
When you use az login an authentication token is saved that is available for 14 days. So you only need to log in every 14 days. So if your laptop is compromised they will have access to your Azure account. If the last log in you did was with a user that for example has owner rights, things could get nasty.

**Describe the solution

[2018-07-02 21:01] tjprescott commented on #6700
cc/ @yugangw-msft @johanste

[2018-07-02 21:03] priyaananthasankar commented on #6691
Manually it works, but when using it in a bash script we might want to read in the subscription id, and when using "read" command in ubuntu WSL, the azure creds are reset. Probably Azure should not be using environment variables that the read command can mess with. This issue is sneaky and requires either a documentation write up or a fix. This was quite hard to find.

[2018-07-02 22:05] djyou opened #6703 "Positional argument doesn't work after flag argument"
**Describe the bug**
https://github.com/AzureCR/azure-cli/issues/161

**To Reproduce**
[code]
The following however works:
[code]

**Expected behavior**
The CLI shouldn't take the positional argument as a value for flag argument.

**Environment summary**
azure-cli (2.0.41)

acr (2.0.29)
acs (2.1.3)
advisor (0.5.3)
ams (0.1.3)
appservice (0.1.37)
backup (1.1.3)
batch (3.2.6)
batchai (0.3.3)
billing

[2018-07-02 22:05] djyou commented on #6703
/cc @sajayantony @ankurkhemani

[2018-07-03 00:07] lmazuel opened #6706 "KeyVault and MSI is broken in recent CLI releases"
More precisely, since IMDS was introduced in msrestazure (March 28, 0.4.25)

This is because `resource` was moved to `_ImdsTokenProvider` internally, and then the `resource` at the credentials level was not used anymore. But KeyVault is using it to change the resource on the fly. This makes all KV call from MSI `Unauthorized` from a VM using IMDS.

Fixed in msrestazure 0.4.35 (unreleased yet).
htt

[2018-07-03 00:15] lmazuel commented on #6706
Being that KV is doing a lot of black magic in Authentication, that's complicated to test as mock. Best would be to record some tests in MSI env, which I'm not sure we are doing right now.

[2018-07-03 00:41] williexu opened #6707 "New `az login` feature throws error in python 2 environment"
**Describe the bug**
From: https://github.com/Azure/azure-cli/pull/6689/files
the python2 `platform.uname()` returns a tuple, not a uname object like in python3.
code for opening browser expects the latter.

**To Reproduce**
[code]
**Expected behavior**
No failure, either browser or previous device code login fallback.

[2018-07-03 08:42] twitchax commented on #5034
@mboersma for FYI.

[2018-07-03 10:14] diirib commented on #6560
I get a similar warning message: az : WARNING: Generating deployment script. Nothing seems to be wrong, but it's annoying...

[2018-07-03 12:43] sfico commented on #6664
Hello, I'have the same problem with version 2.0.37 and 2.0.38

[2018-07-03 15:27] jamonation opened #6710 "snapped az forks infinite python subprocesses and consumes all available memory"
**Describe the bug**
Running `az` from the azure-cli snap causes the parent  azure.cli process to fork infinite children until all available memory is consumed, causing system lock ups and OOM killer invocations.

**To Reproduce**
Run `az feedback` as an example. Even `az` on its own. Look at pstree/ps output for the parent pid:

[code]

**Expected behavior**
`az` and subcommands should work per t

[2018-07-03 15:54] tjprescott commented on #6706
Is the issue the KeyVault SDK or CLI?

[2018-07-03 16:16] tjprescott commented on #6703
The reason you observe this behavior is because `--no-push` isn't a pure flag--you have it registered as `three_state_flag` which means it could have a value (true/false).  Thus, it is parsing `.` against the allowed values of `true/false`.

This is standard argparse behavior so we would not make alterations to the CLI to change this; however, it looks like `--no-push` is a behavioral flag on the

[2018-07-03 16:28] tjprescott commented on #6664
cc/ @jaredmoo

[2018-07-03 18:06] jaredmoo commented on #6664
The problem is that the old version of the REST API expects the elastic pool name such as `pool1`, but the new version of the REST API expects full elastic pool resource id such as `/subscriptions/00000000-1111-2222-3333-444444444444/resourceGroups/rg/providers/Microsoft.Sql/servers/myserver/elasticPools/pool1`.

In order to maintain compatibility of SQL CLI commands, I implemented a helper functi

[2018-07-03 19:52] lmazuel commented on #6706
msrestazure, but since it impacts CLI, I thought it deserves an issue for tracking.

[2018-07-03 21:59] drum7 opened #6715 "python error when entering interactive mode on macos"
**Describe the bug**
When entering interactive (az interactive) - shell throws several errors seemingly related to python.

**To Reproduce**
Install azure-cli following homebrew installation method discussed [here](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-macos?view=azure-cli-latest)
type "az interactive" to enter interactive mode

**Expected behavior**
should be able to run in

[2018-07-04 00:22] gopitk opened #6717 "Interactive login experience breaks on text interface"
**Describe the bug**
Updated to AZ CLI 2.0.40 and tried "az login" on Ubuntu text terminal.  Noticed that it is trying to open a text browser which does not have JS support.

**To Reproduce**
See above

**Expected behavior**
Fallback to --use-device-code option by default if default browser is a not JS capable or text based.

**Environment summary**
Ubuntu 16.04 LTS, AZ CLI 2.0.40

[2018-07-04 01:02] Gusymochis opened #6718 "Is it possible to attach "az aks browse" to a specific interface?"
Running this command in a container always attaches to the "127.0.0.1" interface but to be able to expose this port it has to be attached to the "0.0.0.0" interface. Are there any plans to support this?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d75c3a8d-1187-bea1-a7d4-7ebba71c1790
* Version Independent ID: 75b0c35

[2018-07-04 03:43] #6707 closed

[2018-07-04 03:47] yugangw-msft commented on #6707
Released 2.0.41 works fine, it is just the current dev branch is not working. I will submit a PR with test coverage.

[2018-07-04 05:20] yugangw-msft commented on #6717
@gopitk, i assume with `--use-device-code`, you would use a JS capable browser in another machine to finish up the authentication? Or you have other JS capable browsers in the same machine, but you happened to use CLI in the text terminal where the text browser is the default?
I am trying to understand your context before figure out the right option. More information will help.

[2018-07-04 05:29] yugangw-msft commented on #6698
CLI doesn't really support `Arch Linux`(at least we never maintained and tested it).
This error means the `adal` is too old that it still puts `none` secret in the token request payload instead of omitting it for public clients. Please let the `Arch Linux` maintainer update the "python-azure-cli" to use newer [version](https://github.com/AzureAD/azure-activedirectory-library-for-python/releases/ta

[2018-07-04 05:29] #6698 closed

[2018-07-04 05:33] gopitk commented on #6717
In this scenario, I have SSHed into a Linux VM on Azure using putty and need to run cli commands on the Linux VM. In general, I think opening a text browser that is incapable of supporting the Interactive Azure Auth is not the best UX.

Get Outlook for Android<https://aka.ms/ghei36>

From: Yugang Wang
Sent: Tuesday, July 3, 10:20 PM
Subject: Re: [Azure/azure-cli] Interactive login experience break

[2018-07-04 08:39] daxianji007 opened #6720 "az deployment --help fail for 2017-03-09-profile"
**Describe the bug**
Run `az deployment --help` fail with message:
[code]

**To Reproduce**
[code]

**Expected behavior**
show the help message for `az deployment`

**Environment summary**
Python (3.6.5)
pip (10.0.1)
azure-cli (2.0.41)

**Additional context**
Could be related to this [commit](https://github.com/Azure/azure-cli/commit/6a923cbc417209481c08aebfc3ff17f6acdf664f#diff-9ea07fda6d56572359

[2018-07-04 09:17] Koning53 commented on #4565
+1 in need for managing (Function App) CORS settings with the Azure CLI.

[2018-07-04 11:03] asote opened #6721 "webapp: Error when creating resource group from bash script in Azure Cloud Shell"
**Describe the bug**
Error when creating resource group from bash script in Azure Cloud Shell

Command:
az group create --location centralus --name myResourceGroup

Error:
Parameter 'resource_group_name' must conform to the following pattern: '^[-\w\.\(\)]+$'.
Traceback (most recent call last):
File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 197, in invoke
cmd_result = self.invocatio

[2018-07-04 12:44] maximbaz commented on #6698
Thank you!

The biggest challenge with maintaining Arch Linux package for `azure-cli` is the amount of dependencies to keep track of (they all should be published as separate packages, e.g. now I marked [python-adal](https://aur.archlinux.org/packages/python-adal/) as outdated), and at the same time there are no packages yet for modules within [azure-sdk](https://github.com/Azure/azure-sdk-for-pyt

[2018-07-04 15:58] johnggilmartin commented on #4897
Indeed, at time of writing, one might say that by saying 'This will permanently delete the selected virtual machines and their related resources.' the Azure web console indicates that it will delete the disk too. (But I agree, it does not - I too have tested it.)

![image](https://user-images.githubusercontent.com/24229419/42286355-86c3bcee-7faa-11e8-84d9-05cf1915b4a8.png)

The above is displayed

[2018-07-04 18:00] grandynguyen opened #6722 "Cannot purge all content from a CDN"
**Describe the bug**
`az cdn endpoint purge ... --content-paths "/" "/*"` does not purge files in root directory.

**To Reproduce**
- Create a blob storage container.
- Create a Premium Verizon CDN instance that relays the blob storage container.
- Place any test file into root of the blob storage container.
- Access the new file through the CDN endpoint. It should give you the new file.
- Replace

[2018-07-05 06:56] iamalexmang opened #6723 "Support for Windows Server Nano"
Maybe I'm missing something, but when I try to install this on Server Nano it says that the OS Type isn't supported.

[2018-07-05 08:39] amang2205 commented on #6723
The actual error is "The system cannot execute the specified program.".
Just for confirmation, the .msi pack isn't blocked or anything alike.

[2018-07-05 12:45] agimenez commented on #4634
Yeah, can we reopen this?

[2018-07-05 13:31] tjprescott commented on #6720
Thank you for the report. The `az deployment` commands should not appear on that profile as they are new.  You might be looking for the `az group deployment` commands. We'll issue a fix in an upcoming release.

[2018-07-05 13:35] tjprescott commented on #6721
The name "myResourceGroup" does conform to the required pattern and I am able to create that resource group without issue. You might try running the command with --debug to see if the name being sent to the service is changed.

[2018-07-05 13:36] tjprescott commented on #6721
Assigning to webapps team since it looks like, if there is an issue, it is with their sample script.  cc/ @panchagnula

[2018-07-05 13:38] asote commented on #6721
The resource name group is an example. Try the script using a valid
resource name group and it will fail

On Thu, Jul 5, 2018, 8:35 AM Travis Prescott <notifications@github.com>
wrote:

[2018-07-05 14:15] tjprescott commented on #6721
The example resource group name in the script is valid

[2018-07-05 14:28] dazinator commented on #2386
Just hit this now. Using Azure CLI 2.0 and following the quickstart: https://docs.microsoft.com/en-gb/azure/container-service/dcos-swarm/container-service-swarm-mode-walkthrough

[2018-07-05 14:33] dazinator commented on #2386
Transforming it to the short format worked.

[2018-07-05 15:22] grandynguyen commented on #6722
I've figured out what was causing the issue. I had a URL Rewrite Rule on my CDN that must have been interfering with the purge requests.

Adding the following conditional check to the URL Rewrite Rule fixed everything:
[code]

[2018-07-05 15:22] #6722 closed

[2018-07-05 15:58] panchagnula commented on #6721
@asote how exactly are you running the script did you copy the whole script & just paste in cloudshell? i tried it & script failed with other errors expected - however was able to create a RG with the name myResourceGroup. @cephalin  as FYI.

[2018-07-05 16:40] yugangw-msft commented on #6700
Each CLI's command execution involves a new process, so disabling the token persistence means each command will require the user to punch in passwords to get the token which itself is more like a security concern on top of the usability problem.
Azure PowerShell's process is per window, so as long as you keep the shell window open, it is able to persist tokens in the memory and get other cmdlets r

[2018-07-05 16:40] #6700 closed

[2018-07-05 16:44] yugangw-msft commented on #6691
What you got from the stdout & stderr when run the bash script?

[2018-07-05 17:01] efratshabtai commented on #6717
In general, having a breaking change to the az login API without changing a major version is not a good practice. There are several products that are taking a dependency on az cli, specifically the az login command. Every time there is a breaking change like this one breaks these products too.

It will be great if you can follow the semantic version of az cli to reflect breaking changes in the fut

[2018-07-05 17:16] tjprescott commented on #6721
@asote what resource group name did you actually try?  It might very well not be valid. The one used in the example is valid and I run into no issues creating it.

[2018-07-05 17:20] samkreter commented on #6525
@tjprescott This issue was fixed with the latest. Please close.

[2018-07-05 17:20] #6664 closed

[2018-07-05 17:23] samkreter commented on #6487
--protocol has been added to the latest release of the CLI which is availble in [Cloud Shell](https://shell.azure.com). @tjprescott Please close this issue.

[2018-07-05 17:24] samkreter commented on #6643
@tjprescott This issue can now be closed.

[2018-07-05 17:25] #6643 closed

[2018-07-05 17:25] troydai commented on #6643
thank you

[2018-07-05 17:30] troydai commented on #6718
@mboersma

[2018-07-05 17:41] yugangw-msft commented on #6717
Thanks for the feedback. CLI doesn't use semantic version, but we are considering.
For context, this change only impacts interactive logging, other flows(mainly for scripting) stay unchanged. We thought the transition would be fine with the warning emitted and the benefit coming with the new flow; but it didn't go perfect because of this bug and I would apologize for this as honestly I didn't know

[2018-07-05 18:16] liorbiu commented on #6678
`az --help` output:

[code]

[2018-07-05 18:40] asote commented on #6721
@tjprescott This is the content of  webappdeployment.sh

#!/bin/bash
# Create a resource group.
az group create --location 'centralus' --name 'asResourceGroup'

This is what happens when I run the script in Azure Cloud Shell

antonio@Azure:~/clouddrive/quickstart$ bash webappdeployment.sh
Parameter 'resource_group_name' must conform to the following pattern: '^[-\\w\\._\\(\\)]+$'.
Traceback (most

[2018-07-05 18:53] asote commented on #6721
antonio@Azure:~/clouddrive/quickstart$ az --version
azure-cli (2.0.40)

acr (2.0.28)
acs (2.1.2)
advisor (0.5.1)
ams (0.1.1)
appservice (0.1.36)
backup (1.1.2)
batch (3.2.4)
batchai (0.3.1)
billing (0.1.8)
cdn (0.0.14)
cloud (2.0.15)
cognitiveservices (0.1.13)
command-modules-nspkg (2.0.1)
configure (2.0.17)
consumption (0.3.1)
container (0.2.0)
core (2.0.40)
cosmosdb (0.1.21)
dla (0.1.0)
dls (0.0

[2018-07-05 19:33] glaisne commented on #6677
Additional information, For me, the issue was in an availability set. I removed the availability set's dependency on the VM and I passed the test-azurermresourcegroupdeployment

[2018-07-05 19:43] gopitk commented on #6717
Thanks @yugangw-msft . What are the next steps and ETA? Ideally, if you can recognize the browser you are trying to use to open the interactive login is a text browser and fallback to using device code that would be great and avoid this issue.

[2018-07-05 19:49] yugangw-msft commented on #6717
The fix will be released in 2 weeks.
The change would be to detect whether you have GUI available. As with GUI, the text browser will be skipped and the UI browser will be launched; otherwise, you will get device code flow which is your case
I am still cross checking the right detection mechanism for multiple distros, but the fix should be merged by the end of this week.

[2018-07-05 21:30] troydai commented on #6678
Sorry, my bad. I meant `az --version`

The __Python location__ is what I'm interested in.

[code]

[2018-07-05 22:15] alohaninja opened #6727 "webapp:Application Recycle"
It's not clear in the docs whether delete or set operations recycle the application pool - can we please get a note about this somewhere in here? Updating settings via the portal recycles the application.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30f2ae52-2c7f-7e7e-8a62-f1b614f281d3
* Version Independent ID: 9f23f

[2018-07-05 23:33] derekbekoe opened #6728 "Service bus queue create - Stacktrace on name not found"
A red stacktrace is shown when `az servicebus queue create` throws an `Operation returned an invalid status code 'Not Found'` not clearly indicating what was 'Not Found'.

**To Reproduce**
Create an empty resource group then attempt to immediately create a queue in that RG.

[code]

**Expected behavior**
No stacktrace and the name that was not found should be returned. e.g. Was it the queue that w

[2018-07-06 04:46] #6703 closed

[2018-07-06 07:05] bennovakovic commented on #5533
I would also REALLY like this.

At this stage the only solution is to boot up a windows VM, use PowerShell to export it; and then reimport it as a PFX file; which breaks the automation rule.

Other solutions include scripting a clickthrough via phantomJS, which is flakey at the best of times.

How does this not exist yet? Is there really so few people who use wildcard domains?

[2018-07-06 08:28] liorbiu commented on #6678
[code]

[2018-07-06 08:36] eosfor opened #6729 "the doc is outdated, script is wrong"
[code]

this piece is wrong. it is not aligned with https://github.com/MicrosoftDocs/azure-docs/issues/8212

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7a9ab822-6524-9dd7-3bf4-1889e10d1266
* Version Independent ID: ec780873-d291-dda8-6b1d-c410e2d87b98
* Content: [az vm diagnostics](https://docs.microsoft.com/en-us/c

[2018-07-06 09:09] eosfor opened #6730 ""az vm diagnostics set" does not seem to be working"
i'm running az vm diagnostics set. it runs well with no issues or failures. however,

- no new tables under Storage Account given are created
- "Basic" checkbox under diagnostics on the portal is not set.

this is the piece of code

[code]

**Version**
azure-cli (2.0.38)

acr (2.0.27)
acs (2.1.1)
advisor (0.5.1)
ams (0.1.1)
appservice (0.1.35)
backup (1.1.1)
batch (3.2.4)
batchai (0.3.0)
billing (

[2018-07-06 09:45] eosfor opened #6731 "Inconsistency between the portal and the command"
Here is the command, which appears to be working. At least it creates tables in the storage

[code]

However, "basic metrics" checkbox on the portal is not set. Which creates a lot of confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ebbeb5f-6ab6-3fb3-c969-5d935e60f251
* Version Independent ID: 9d4169c9-f5b5-5

[2018-07-06 09:46] eosfor commented on #6730
Seems like an issue with the ```--expiry 2037-12-31T23:59Z``` of a SAS token. What is the maximum possible value for it?

[2018-07-06 15:56] yugangw-msft commented on #6717
#6725 will fix this. I also put in the code to exclude the text browser.

[2018-07-06 15:56] #6717 closed

[2018-07-06 16:08] troydai commented on #6678
Thank you for the info. However, for the time being, I can't think of anything cause this issue. This must be related to your environment settings (not necessarily meant your fault, but some settings we may not expect). And we haven't got a repo and didn't hear others report similar issue yet.

The problem may be caused by an incorrect `PYTHON_PATH` variable for the telemetry upload process.

For

[2018-07-06 16:22] iainfoulds opened #6733 "Invalid orchestrator type for `az acs create` with DockerCE"
**Describe the bug**
The `az acs create` command indicates `--orchestrator-type dockerce` as a valid value, but the following error is encountered:

[code]

If you use `--orchestrator type swarm`, the cluster is correctly created.

**To Reproduce**
Try to create a cluster as follows:

[code]

**Expected behavior**
A cluster is created that uses Docker CE. I suspect it's just a mismatch in the help

[2018-07-06 17:33] #6062 closed

[2018-07-06 17:45] mariusstrom opened #6737 "Terminating an `aks browse` session also terminates `az interactive` session"
**Describe the bug**
When closing an aks browse session, it prompts you to hit CTRL+C to terminate the tunnel. Hitting CTRL+C terminates the AzCLI interactive session.

**To Reproduce**
Launch `az interactive`, then use `aks browse -r <rg> -n <name>`. Note that it says hit CTRL+C to close the tunnel. Hit CTRL+C and AzCLI drops you back to the command line.

**Expected behavior**
Expected tunnel to

[2018-07-06 18:14] #6720 closed

[2018-07-06 18:29] troydai commented on #6729
@yugangw-msft @williexu

[2018-07-06 18:35] priyaananthasankar commented on #6691
stdout and stderr did not say anything, this fails silently. Just try the following inside a bash script in ubuntu WSL and you can reproduce the bug:

az login --service-principal --username $servicePrincipalAppId --password $servicePrincipalPassword --tenant $servicePrincipalTenantId

read $subscriptionId

az account set --subscription $subscriptionId

Once you perform "read" command, the azure l

[2018-07-06 20:30] tjprescott commented on #6721
And if you try it without the quotes?

[2018-07-06 20:53] #6525 closed

[2018-07-06 20:53] #6487 closed

[2018-07-06 21:59] yugangw-msft commented on #6440
@huangpf, the link you provided is no longer accurate, but if you are talking about listSize/listSku, then that doesn't help as not all sizes with same vCPU number can work with ACC-net.

[2018-07-06 22:03] yugangw-msft commented on #5727
That is right, but we can live with this

[2018-07-07 07:44] gatneil commented on #6102
Hey @akramwaseem! I find myself running this command (and other similar ones) frequently, so I wrote a script to run these commands periodically and upload them here: https://negatblog.blob.core.windows.net/lists/meta_list

It's not an official doc, but hopefully it helps :)

Cheers,
Neil

[2018-07-07 14:29] bingosummer opened #6743 "Failed to create load balancing rule for a Standard SKU load balancer"
**Describe the bug**
Failed to create load balancing rule for a Standard SKU load balancer

**To Reproduce**
1. Create a standard load balancer.
2. az network lb rule create --lb-name <lb> --resource-group <rg> --name tcp-rul-1031 --protocol Tcp --frontend-port 1031 --backend-port 1031
Sku property is set at creation time and cannot be changed from Standard to Basic on resource update for resource

[2018-07-07 22:26] noelbundick opened #6744 "Can't create Azure Container Instance with anonymous access when pulling from a registry that's not Docker Hub"
**Describe the bug**
https://github.com/Azure/azure-cli/commit/19d48bc08829cafe0e90017aa9ec183bcf7138d1 introduced a change that checks for presence of `.` rather than `azurecr.io` to require `--registry-username`.

When pulling from public Docker registries other than Docker Hub (quay.io, gcr.io, etc) - I don't have a login credential, but Azure CLI prompts me for one anyway. If I enter an empty

[2018-07-08 04:35] yugangw-msft commented on #6352
please reactivate if you are still blocked

[2018-07-08 04:35] #6352 closed

[2018-07-08 04:44] yugangw-msft commented on #6730
Please use a right format e.g. `2037-12-31T23:59:00Z.` like commented in a [related issue](https://github.com/MicrosoftDocs/azure-docs/issues/8212#issue-321030028)
I will fix the example at the same time

[2018-07-08 05:03] yugangw-msft commented on #6723
Nano Server does not include MSI as an installation technology due to dependencies and the open ended nature of MSI custom actions. See full blog [here](https://cloudblogs.microsoft.com/windowsserver/2015/11/16/moving-to-nano-server-the-new-deployment-option-in-windows-server-2016/).

The only way I can suggest is you install the msi in a full window OS, back-up the `C:\Program Files (x86)\Microso

[2018-07-08 05:30] #6678 closed

[2018-07-08 05:32] yugangw-msft commented on #6691
The `az` commands must have outputted something; otherwise it means they didn't execute. Please do provide the output from `az login` and `az account set` for us to help you out

[2018-07-08 06:32] ameetkonnur commented on #3000
same issue as @rccueva dont see the private ipv6 address for the VM. Any fixes ?

[2018-07-08 17:53] smereczynski opened #6745 "Python 3.7 compatibility assurance"
On Mac (using homebrew) azure-cli is installed with Python 3.7 (as for 08.07.2018). It worls but there is no clear information in repo and documentation about compatibility with 3.7.

[2018-07-09 08:18] dtissen opened #6746 "Blob awareness of VM"
**Is your feature request related to a problem? Please describe.**
My initial Problem is to restore a blob snapshot for a blob hosted on premium storage. In that case a break lease is not allowed from serverside - remember blob on standard storage --> you are allowed to break lease.

In my case i have a vm with blobs on standard and premium. In case of standard Storage i just break lease. in case

[2018-07-09 10:57] TanishShinde opened #6747 "Azure Cli Command Problem"
The bug is that when you try some commands on the cli it does not respond

[2018-07-09 11:34] the1bit opened #6748 "Stuck deployment validation: urllib3.connectionpool : Starting new HTTPS connection (1): management.microsoftazure.de"
**Describe the bug**
I use my deployment validation command with my ARM template for 1.5 years without any issue in **MCD**.
About 2 weeks ago this command does not work due to a strange issue.

[code]

**To Reproduce**
I am logged in to my Azure subscription in Azure MCD then I execute the following validation:
[code]

**Expected behavior**
Azure validates the template with the parameters and giv

[2018-07-09 12:19] the1bit commented on #6748
Please ignore it.

[2018-07-09 12:19] #6748 closed

[2018-07-09 13:03] letmaik opened #6749 "What is package activate good for?"
`package create` creates and activates a package. When would `package activate` be used? Also, why does it require a `--format` parameter?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aa179798-6ff5-80e0-4f78-adf2392649a3
* Version Independent ID: 230d4bc3-5f84-e972-33af-4a48cd096e58
* Content: [az batch application p

[2018-07-09 13:44] claasd opened #6750 "tags do not work with az lab vm create"
**Describe the bug**
When using --tags with lb vm create, a error message `Parameter 'tags' must be of type '{str}'` is thrown.

I tried different escaping methods, none of them worked.

[code]

**To Reproduce**
in the azure CLI, use the command
`az lab vm create --lab-name someLab -g someRG --name insidious-string --image "Ubuntu Server 18.04 LTS" --image-type gallery --tags 'AutoStartOn=true' --

[2018-07-09 14:14] tjprescott commented on #6750
Confirmed this is a bug.  Tags are not registered properly in `params.py`

[2018-07-09 14:16] tjprescott commented on #6750
cc @ericwol-msft

[2018-07-09 14:17] tjprescott commented on #6747
There is not enough information in this report to do anything about. Please provide the required minimum information when posting an issue.

[2018-07-09 14:17] #6747 closed

[2018-07-09 14:21] tjprescott commented on #3000
According to the Networking team, there is nothing to fix. IPv6 address is not for the VM itself but for the load balancer.
https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-ipv6-overview

[2018-07-09 14:40] v-tisheg commented on #6608
Hello all,
I was out last week.  has there been any update to this issue yet?

[2018-07-09 14:46] letmaik opened #6751 "Document --json-file format"
There are no details on the format of the JSON file supported via the `--json-file` parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 065a1d73-5ead-81c2-8b7b-5405c2a112b1
* Version Independent ID: fbae9a55-b731-ed86-ff6a-22c1a97d4e53
* Content: [az batch pool](https://docs.microsoft.com/en-us/cli/azure/batch/po

[2018-07-09 14:56] letmaik opened #6752 "Why is --account-name required if --account-endpoint is given?"
`az batch pool create --account-endpoint https://myaccount.northeurope.batch.azure.com ...`
Here `myaccount` is the account name, so why do I have to provide this as a separate argument in `--account-name`?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 065a1d73-5ead-81c2-8b7b-5405c2a112b1
* Version Independent ID: fba

[2018-07-09 16:00] akramwaseem commented on #6102
@gatneil --thanks for the links.

[2018-07-09 16:15] doodlemania2 opened #6753 "az appservice plan create does not allow P"
**Describe the bug**
az appservice plan create does not allow P SKUs

**To Reproduce**
az appservice plan create --name wplab --resource-group wplab --sku p2v2 --is-linux (can't create Linux P2V2 in CLI)
Error:
usage error: P2 is not a valid sku for linux plan, please use one of the following: B1, B2, B3, S1, S2, S3

**Expected behavior**
Ability to create P series like I can in the portal.

**Env

[2018-07-09 16:35] OddBloke opened #6754 "Add `get-page-ranges` command for page blobs"
**Describe the bug**

Given a sparse image.vhd:

[code]

Running

[code]

takes substantially longer than uploading a file that contains only the non-sparse parts of the image. This strongly suggests to me that (a) the upload isn't taking advantage of the file's sparseness, and (b) the file as stored in Azure won't be sparse (making operation on it more expensive in the future).

**To Reproduce**

[2018-07-09 16:41] tjprescott commented on #6754
Seems related to #5872.

[2018-07-09 16:43] williexu commented on #6608
@zezha-msft

[2018-07-09 16:45] ahmedelnably commented on #6753
Thanks for reporting the issue, closing this is as it is a dupe of https://github.com/Azure/azure-cli/issues/6663
This is a known issue, we are working on a fix for it.

[2018-07-09 16:45] #6753 closed

[2018-07-09 17:05] tjprescott commented on #6743
Hi @bingosummer, I could not reproduce your issue with the steps you provided. The rule creation completed successfully.  Can you share the command and arguments you used to create the standard load balancer?

[2018-07-09 17:31] OddBloke commented on #6754
Potentially, yes; in https://github.com/Azure/azure-cli/issues/5872#issuecomment-375093913 @zezha-msft said "We have the sparse file optimization for upload but not for download" which is why I filed this as a bug rather than a feature request.

(Some grepping through git history has no mention of "sparse" either here or in the storage repo, so I'm not sure what that comment is based upon to try a

[2018-07-09 17:32] tjprescott commented on #6754
@zezha-msft for comment. cc/ @williexu

[2018-07-09 17:49] williexu commented on #6746
Currently the lease owner is not included in the lease information. Including this information would require a service change and is not something that can be done from the CLI side.
@seguler to comment on this issue.

[2018-07-09 18:17] tjprescott commented on #1290
This will not work like PS but we will expose a `--include-default` flag to include the default security rules in the output.  To change the default behavior would introduce a breaking change.

[2018-07-09 18:49] zezha-msft commented on #6754
Hi @OddBloke, thanks for reaching out!

The sparse file upload optimization for page blobs is contained in the following 2 commits: [commit1](https://github.com/Azure/azure-storage-python/commit/eb9183a20ba67cdbab868df3241258e93eb3cc3f) and [commit2](https://github.com/Azure/azure-storage-python/commit/ff4e72d20e901d0ae9e011328c0bae137d309f7e). In short, we read each chunk before uploading it to v

[2018-07-09 18:54] zezha-msft commented on #6608
Hi @v-tisheg, the code is in review. I'll update this thread once it's ready to be released.

[2018-07-09 18:58] malopMSFT commented on #1290
Sounds good to me, it's hard to change a default behavior :(

[2018-07-09 18:58] OddBloke commented on #6754
Aha, thanks @zezha-msft, that's really helpful!

Is there a way that I can confirm for myself that the files in Azure are being stored sparsely?

(This would be useful both to double-check here, and for existing files we have which may predate those fixes.)

[2018-07-09 18:59] OddBloke commented on #6754
Thanks, @zezha-msft, that's really helpful!

Is there a way to do the "get page range" from the CLI?

[2018-07-09 19:30] williexu commented on #6754
@OddBloke Not at the moment.
Would this be a useful utility for you?
If so, I can add a `az storage blob get-page-ranges` command as a new feature.

[2018-07-09 19:34] OddBloke commented on #6754
That would be useful for us, definitely!

On Mon, Jul 9, 2018 at 3:30 PM Willie Xu <notifications@github.com> wrote:

[2018-07-09 19:39] tjprescott commented on #1292
- [ ] vnet: Add type, address prefixes, subnets
- [ ] vnet peering show: Add 'allow_virtual_network_access', 'allow_forwarded_traffic', 'allow_gateway_transit', 'use_remote_gateways', 'remove_virtual_network'
- [ ] lb list: Add probe, FIP, backend pool, rule, inbound NAT rule, inbound NAT pool, outbound nat rule
- [ ] lb show: Add type, frontend IP configs, probes, BAP, LB rules, inbound NAT rules

[2018-07-09 20:53] priyaananthasankar commented on #6691
I have provided the exact bash commands that have led to this issue. Can you please execute a bash script with my instructions? The az login and az account set seemed to behave normally. Please try the bash script on an ubuntu wsl.

[2018-07-09 21:20] v-tisheg commented on #6608
Thank you so much.

Timothy Shegrud

Support Engineer
Cloud & Infrastructure Solutions
Customer Services & Support | Microsoft Corporation
(425) 706-4408; * v-tisheg@microsoft.com<mailto:v-tisheg@microsoft.com> | Hours: Mon - Fri, 7:00am-4:00pm PST
Need help outside of my working hours for a technical issue?
*: AzBackup@microsoft.com<mailto:AzBackup@microsoft.com>

Meeting and exceeding your expec

[2018-07-09 21:53] yugangw-msft commented on #6691
Works for me. A side note, you probably should improve the script to output a few traces, and add a prompt for `read` to help the self-diagnosis. Also you recent script has a bug at `read $subscriptionId`, that the `$` should not be there.
![image](https://user-images.githubusercontent.com/6014209/42477904-bdd08c18-8387-11e8-957a-522877395502.png)

[2018-07-09 21:55] yugangw-msft commented on #6691
No repro'd on WSL. Unlikely caused by CLI. Closing.

[2018-07-09 21:55] #6691 closed

[2018-07-09 22:23] #6663 closed

[2018-07-10 00:15] grayjeremy opened #6760 "webapp:Misspelling"
Under the --name parameter, I think this should read "Name of the webpp" as opposed to "Name of the web"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a2bf26b4-3d91-ec60-c64d-8f910a4f0f00
* Version Independent ID: 33547311-9105-6e41-e477-3681d2a87087
* Content: [az webapp identity](https://docs.microsoft.com/en-us/cli

[2018-07-10 09:50] fabsenet opened #6761 "sample for more than one key/value in --secrets needed"
I tried several types of providing more than one secret at a time but it always either fails to create the container at all or the first key has the everything else as the value.
I tried

[code]

please provide a sample!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e5d1da7-7c4f-c9e6-e4b9-a30407675acf
* Version Indep

[2018-07-10 11:36] drum7 commented on #6715
Continues to happen on CLI ver 2.0.41 when entering Interactive Session.

Traceback (most recent call last):
  File "/usr/local/Cellar/python/3.7.0/Frameworks/Python.framework/Versions/3.7/lib/python3.7/threading.py", line 917, in _bootstrap_inner
    self.run()
  File "/usr/local/Cellar/azure-cli/2.0.41/libexec/lib/python3.7/site-packages/azure/cli/command_modules/interactive/azclishell/threads.p

[2018-07-10 15:27] #6744 closed, assigned to nobody

[2018-07-10 16:36] #6605 closed

[2018-07-10 16:39] #6729 closed

[2018-07-10 16:47] olivelawn commented on #6605
@tjprescott Thanks for making this happen. I'll be on the lookout for the --force-string flag. Much appreciated.

[2018-07-10 17:01] tjprescott commented on #6605
No problem @olivelawn it should be released July 17th.

[2018-07-10 17:22] yugangw-msft commented on #6730
fixed

[2018-07-10 17:22] #6730 closed

[2018-07-10 21:22] #5970 closed

[2018-07-11 01:08] kmin1223 opened #6767 "az vm update --remove with --ids does't work"
**Describe the bug**
I tried to remove some tags of VMs in specific resource group, but It didn't work.
Removing of one VM's tag was success, but several VM's with --ids job was failed.

**To Reproduce**
1) command
az vm update --ids $(az vm list -g RG-krza-m-world-central-w01-VM --query "[].id" -o tsv)  --remove tags.dedicated_node_group

2) error
pop from empty list
Traceback (most recent call l

[2018-07-11 01:19] kmin1223 opened #6768 "az vm resize --ids with --no-wait does not work"
**Describe the bug**
Resizing of VMs with --no-wait tags didn't work.
Without --no-wait, it succeeded.

**To Reproduce**
1. az vm resize --ids $(az vm list -g RG-krza-m-world-central-w01-VM --query "[].id" -o tsv) --size Standard_D32S_v3
==> success

2. az vm resize --ids $(az vm list -g RG-krza-m-world-central-w01-VM --query "[].id" -o tsv) --size Standard_D32S_v3 **--no-wait**
==> error occured

[2018-07-11 03:14] JeetSharan commented on #5841
I was facing the same issue when running az login in my cmd:

"_HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /common/oauth2/devicecode?api-version=1.0 (Caused by NewConnectionError ('<urllib3.connection.VerifiedHTTPSConnection object at 0x03F5A9D0>: Failed to establish a new connection: [WinError 10060] A connection attempt failed because the conn

[2018-07-11 04:53] amang2205 commented on #6723
I completely understand that, but .msi certainly is not the only installation technology.
In my humble opinion, it is increasingly difficult to install Azure CLI in a Windows Container and the entire nature of a Nano Container becomes a no-go because of a limited range of installation options on Windows. Why is it that you have Bash installation scripts, yum, apt-get, pip options for Linux, but on

[2018-07-11 04:58] bingosummer commented on #6743
az group deployment create -g <resource-group-name>--template-uri https://raw.githubusercontent.com/bingosummer/bosh-azure-cpi-release/standard-load-balancer/docs/advanced/standard-load-balancers/load-balancer-for-tcp-routers.json

[2018-07-11 12:54] kalavan opened #6769 "Cannot update redis cache with vnet integration"
**Describe the bug**
When I try to scale redis cache that has vnet integration with command `az redis  update --name <<REDIS_NAME> --resource-group <RG_NAME> --set shardCount=1` command fails with:
`The requested update to the resource is not permitted. The following properties(s) cannot be modified: 'properties.subnet,properties.staticIP'.`

**To Reproduce**
1) Create clustered redis cache with v

[2018-07-11 15:07] fercho-ayala opened #6770 "az cosmosdb database does not work with --key parameter"
**Describe the bug**
The az cosmosdb database commands does works using --key parameter.

`az cosmosdb database exists --db-name mydb --key "XXXX" --name mycosmosdb`

This just happens after upgrade to azure-cli (2.0.38) or the latest 2.0.41

**To Reproduce**
1. Open command prompt
2. Sign in with Azure CLI 2.0
`az login`
3. Run any az cosmosdb database command:
`az cosmosdb database exists --db-n

[2018-07-11 16:09] tjprescott commented on #6723
You can also install the CLI directly with `pip install azure-cli`. It is highly recommended you do this inside a virtual environment.

[2018-07-11 16:15] yugangw-msft commented on #6723
@tjprescott, python installer for window is a .msi :)

[2018-07-11 16:31] tjprescott commented on #6743
Thanks for that @bingosummer.  Unfortunately, I still couldn't repro your issue--the rule was created successfully!  Please shoot me an email to trpresco 'AT' microsoft.com and include the output of these two commands, including `--debug` when you run them.  That will help me identify the issue.

On my end, I ran your deployment, followed immediately by the rule create.  Are there other steps in y

[2018-07-11 16:43] bingosummer commented on #6743
Another thing: It's weird that my azure cli doesn't have the sku parameter. Do I need to register the feature Standard LB? I believe not because it's a GA feature.

[code]

[2018-07-11 16:51] amang2205 commented on #6723
This is about Windows Nano. Is pip available on Windows Nano?!

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Yugang Wang <notifications@github.com>
Sent: Wednesday, July 11, 2018 7:16 PM
To: Azure/azure-cli
Cc: Alex Mang; Author
Subject: Re: [Azure/azure-cli] Support for Windows Server Nano (#6723)

@tjprescott<https://github.com/tjprescott>, python installer

[2018-07-11 16:57] #5006 closed

[2018-07-11 16:57] #6612 closed

[2018-07-11 16:58] tjprescott commented on #6743
From your help output, it looks like you are using the `2017-03-09-profile` profile instead of `latest`.  What is the output of `az cloud show`?  If you are not using the `latest` profile, your CLI will not support standard load balancers and that is why you are running into this issue.

[2018-07-11 17:03] TrevinAvery opened #6772 "--version is unrecognized in az 2.0.41"
Running this command:
az vm image list -l eastus --publisher "RedHat" --offer "RHEL" --sku "7.3" --version "7.3.2017090105" --all
I get this response:
az: error: unrecognized arguments: --version 7.3.2017090105

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90dfc804-87d6-913a-27fe-a9446a04eb13
* Version Independent ID:

[2018-07-11 17:03] colemickens commented on #6298
Closing for now due to #6740. Thanks.

[2018-07-11 17:03] #6298 closed

[2018-07-11 17:08] tjprescott commented on #6723
Python has an embeddable zip that can be used on Windows without MSI.  You can also get the standalone `get-pip.py` installation script. If you run `python get-pip.py`, you should have pip on your machine, at which point you should be able to pip install azure-cli.

[2018-07-11 17:13] tjprescott commented on #6772
`--version` is not an argument for that command. I don't see anything in the docs referenced that suggest that it is. Were you following a blog or other document?

[2018-07-11 17:13] #6772 closed

[2018-07-11 17:16] TrevinAvery commented on #6772
I just figured out that it was supposed to be "show" not "list":
az vm image show -l eastus --publisher "RedHat" --offer "RHEL" --sku "7.3" --version "7.3.2017090105"

Sorry about that. Thanks for the quick response.

[2018-07-11 19:28] mcgov opened #6773 "list the command-list commands that are possible other than RunShellScript"
list the command-list commands that are possible other than RunShellScript

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f04b196d-7d11-7213-f037-f12b85b19c52
* Version Independent ID: adc05d8e-b13b-134b-5f61-42aaf23666df
* Content: [az vm run-command](https://docs.microsoft.com/en-us/cli/azure/vm/run-command?view=azur

[2018-07-11 20:33] #1290 closed

[2018-07-11 20:37] yugangw-msft opened #6774 "VMSS: support ASG"

[2018-07-11 21:40] sptramer opened #6775 "Undocumented but required parameter (az network route-table update)"
Some commands' documentation are simply wrong. E.g. az network route-table route update expects a parameter --route-parameters that is not even documented on this page.

__NOTE__: No further information is available. This is a duplicate of a VSTS ticket filed from verbatim text.

[2018-07-11 21:48] tjprescott commented on #6775
There is no `--route-parameters` argument for `route-table update` and the command runs fine. There's nothing actionable here so I'm closing this and you can cite this to close the VSTS ticket.

[2018-07-11 21:48] #6775 closed

[2018-07-11 23:32] #6754 closed

[2018-07-12 04:06] troydai commented on #4679
@sharmagaurav03 this is likely a different issue. Please open an new issue.

[2018-07-12 10:46] nagpal commented on #6679
Any update on this? It has been 2 weeks. Is it not a bug at all or is it low on the priority list?

[2018-07-12 13:45] gigadie commented on #6235
that is something they should add asap to make this really powerfull..
something like `--ports 80:8080 443:8443`

[2018-07-12 15:58] tjprescott commented on #6679
Based on your original post, it looked like a service issue. If you set the path through the portal, does the request forward as you expect it? If so, then the issue is with the CLI specifically.

[2018-07-12 16:09] yugangw-msft opened #6777 "ad: support az ad sp update --required-resource-access""
CLI supports the flag on "az ad app create/update" command, but not on sp. This blocks managed service identity which hides the app object.

[2018-07-12 16:10] yugangw-msft commented on #6777
//CC: @skwan

[2018-07-12 16:37] RandalliLama opened #6778 "az vmss get-instance-view returns nothing if instance-id "*" and query specified."
**Describe the bug**
When running

az vmss get-instance-view --resource-group test-sc --name kvvmtest4 --instance-id '*' --query "extensions"

The command completes with no output, which is not expected.

If I remove the --query parameter I get the full view of all instances as expected.  If I leave the --query parameter in the command but specify a specific instance instead of "*" then I get the

[2018-07-12 17:36] tjprescott commented on #6778
If you are using "*" you probably get a list output, in which case your query needs to be `[].extensions`.

[2018-07-12 17:40] RandalliLama commented on #6778
Awesome.  That did it.  Thank you!

[2018-07-12 17:40] #6778 closed

[2018-07-12 18:39] dctucker opened #6780 "vm create --generate-ssh-keys is unsafe"
**Describe the bug**

When running `vm create --generate-ssh-keys`, the logic of whether to overwrite keys is not as safe as used elsewhere in the product. This has caused us some turbulence with our CI builds, as we do include a private key but not a public key in our build servers, and running with `--generate-ssh-keys` causes our keys to get wiped out.

Ideally, the same logic from batchai cust

[2018-07-12 21:35] DarinMacRae commented on #5533
I just ran into this issue because we have a cert expiring soon and without it will have to manually update >30 sites (plus slots). Any good news for me?

[2018-07-12 21:39] samkreter commented on #6761
Hey @fabsenet
You can create multiple secrets by having a space separating each secret. Below is an example.
az container create -g myResourceGroup -n myContainerGroup --image nginx --secrets test=hey wow=hey2 --secrets-mount-path /secrets

Let me know if this works for you and i'll close this ticket.

[2018-07-12 21:46] tjprescott commented on #6761
The help text should call out that it is a space-separated list of key=value pairs

[2018-07-13 01:27] ahmelsayed opened #6785 "Azure Container Registry"
_From @Deepfat on July 9, 2018 6:23_

When I tried this everything was fine but I had to use Docker.com to store the container and NOT ACR as your cli command doesnt' have a way of authenticating against ACR.  For AKS we can create permissions as we know the SPN of that service.  #OneMicrosofDo

_Copied from original issue: Azure/azure-functions-core-tools#572_

[2018-07-13 16:13] yugangw-msft commented on #5841
It is not about the credential, nor about that CLI having bugs which it doesn't. Cmd and WSL could have different network configuration system. You will need to configure the proxy setting with the credential in WLS correctly, otherwise, CLI (more accurately, the basic python requests package) would not work. There are a few blog posts covering this which I hope will help, say [this one]. (https:/

[2018-07-13 16:26] bmoore-msft opened #6787 "az group deployment fails on empty parameters object"
**Describe the bug**
az group deployment create -g "$resourceGroupName" -n AzureRMSamples --template-uri $templateUri --parameters "$parameterJson" --verbose

throws an error when $parametersJson = {}

**Expected behavior**
If the parameters object is empty, and empty object should be passed to the deployment (or not) - command should not fail.

**Additional context**
Without this, it means the ca

[2018-07-13 16:34] tjprescott commented on #6787
Thanks for the report.

[2018-07-13 16:42] ahmedelnably commented on #6785
To configure ACR, you will need to use [“az webapp config container set”](https://docs.microsoft.com/en-us/cli/azure/webapp/config/container?view=azure-cli-latest#az-webapp-config-container-set) command and specify the url, username, password of your container. Here is a tutorial to know the exact syntax of these parameters [https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-cu

[2018-07-14 01:47] marekr opened #6794 "aks browse very buggy"
**Describe the bug**
I use aks browse on a RBAC cluster often. It seems the proxying gets messed up often where requests just stop working and it gets stuck reloading the same content in the dashboard no matter what is navigated to. i.e. navigating to controllers just reloads the pods page i may have been on when it broke.

Killing the running az aks browse command and restarting is the only way i

[2018-07-14 05:03] selvasingh opened #6795 "ACR Credential Helper for Docker and Maven Settings"
**Is your feature request related to a problem? Please describe.**
An ACR credential helper for Docker and Maven Settings file will ease the pain for developers

**Describe the solution you'd like**
This should be modeled after [`az aks get-credentials`](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-get-credentials)

Credentials should be set for Docker CLI and Maven

[2018-07-14 05:05] selvasingh commented on #6795
server credentials in Maven can be [encrypted](https://maven.apache.org/guides/mini/guide-encryption.html)

[2018-07-14 05:22] selvasingh opened #6796 "View Logs for Azure App Service and Functions"
**Is your feature request related to a problem? Please describe.**
When developers are developing Web apps and functions, they often need to view server side logs. They are forced to jump out of their dev environments and view logs by navigating through multiple blades in Azure Portal. This must be easier than that.

**Describe the solution you'd like**
[code]
Developers can view logs without navi

[2018-07-14 22:12] ahmedelnably commented on #6796
We already have
az webapp log download
az webapp log tail
https://docs.microsoft.com/en-us/cli/azure/webapp/log?view=azure-cli-latest

Both should work for webapp and functions app

[2018-07-15 01:52] mehtanilay10 opened #6797 "Got 'bot' is not in the 'az' command group"
I have downloaded Azure CLI 2, and after login when I am trying to execute this bot command then got an error.
&gt; az bot show
az: 'bot' is not in the 'az' command group. See 'az --help'.
CLI Version: azure-cli (2.0.41)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f1cd893e-fe5b-9de8-fe9a-56d741f8b51c
* Version Indep

[2018-07-15 04:00] mehtanilay10 commented on #6797
okay, find issue. Here bot is under extension so we need to install botservice extension first.
For this use below command.
`az extension add --name botservice`

[2018-07-15 04:02] #6797 closed

[2018-07-15 08:00] shkit opened #6798 "ACR does regular expression matching in .dockerignore"
**Describe the bug**
When I try "az acr build" to build PyTorch, some files are not copied.
With --debug option for az command, I got these logs.
[code]
In "az acr" command .dockerignore seems to be treated as regular expression at _upload_source_code()@azure/cli/command_modules/acr/build.py, but it should be matched as glob expression, I think.

**Expected behavior**
Above files are copied to ACR

[2018-07-15 13:18] JamesDLD opened #6799 "Manage Owner of groups through Az CLI"
Would be really convenient for Az CLI or Linux users to implement this feature request.

Same feature that could be done through the PowerShell module « azuread version 2.0.0.115», associated « how to » is available here : https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/groups-settings-v2-cmdlets#manage-owners-of-groups

---
#### Document Details

⚠ *Do not edit this sec

[2018-07-15 13:19] JamesDLD commented on #6799
Not sure that it’s the good place, I have also added a feature request on the Azure Voice here : https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/34835497-manage-owner-of-groups-through-az-cli

[2018-07-15 13:22] JamesDLD commented on #6799
Just adding 2 cent context. This would be very useful for one of my client where we build apps environment As Code where AD group access are created and assigned to AzureRm roles on our resources.

When this is done we set manually an owner of the group (this is the painfull action part) and this person just have to add it’s team members to groups to inherit to the assigned privileges of this grou

[2018-07-15 21:17] selvasingh opened #6801 "Take Developers to App Service Linux SSH Quickly - az webapp ssh"
**Is your feature request related to a problem? Please describe.**
From dev box command lines, connect developers to App Service Linux instances quickly without requiring them to download and configure SSH clients or navigate through 9-10 blades in Azure Portal to reach SSH client windows that very often disconnect or reset connections.

The same solution can be extended to Azure Functions on Linu

[2018-07-16 12:02] fabsenet commented on #6761
so basically leaving out all quotes is the solution here:

[code]

I tested it and it works! 🎺 🎆

thanks

[2018-07-16 12:02] #6761 closed

[2018-07-16 16:51] jjasghar opened #6802 "az status"
`az status` will tell you who you are logged in as if you are logged in.

I imagine the ability to get the same info after you use `az login`

[code]

For instance:

[code]

[2018-07-16 18:29] tjprescott commented on #6801
We have considered this before, not necessarily for webapps but for VMs. Based on the amount of time and future maintenance it would require to make a command that would work on all required platforms, we have typically evaluated this as a high cost, low return item. cc/ @johanste

[2018-07-16 18:37] tjprescott commented on #6799
@yugangw-msft are you familiar with these PS commands?

[2018-07-16 18:51] johanste commented on #6801
Is the high order bit getting the information needed to connect to the app service, or is it installing and maintaining an SSH client?

If the former, having specific commands that makes it easier to translate the information we have (i.e. the resource group/name of the app service to the DNS name/IP Address) would be feasible.

[2018-07-16 18:54] yugangw-msft commented on #6799
Yes, I know the PS cmdlet. Ownership management is the area with good amount of user voices, and we have discussed with AAD graph team for a while to have this gap filled. This work would have to start from [swagger spec](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/graphrbac/data-plane/stable/1.6/graphrbac.json)

Closing this, as #5651 was opened for the same ask.

[2018-07-16 18:54] #6799 closed

[2018-07-16 19:03] ahmedelnably commented on #6801
What we decided when we launched the ssh capability is to call the command
`az webapp remote-connection create`, it is currently available in the webapp cli extension.
As we are opening a "remote connection" that can be used for multiple reasons (other than SSH), we opted only to provide the user a create connection option, and not specifically just an SSH connection.

That's said, the original de

[2018-07-16 19:42] jjasghar commented on #6802
Oh! I totally didn't realize that they were commands to do that already.

I guess it would just basically be an alias to `az account list`. I was trying to figure out a quick and way to see if I was logged in without logging in and out.

If there a templatized way to make aliases for `az`? If so I'd like to take a stab at that PR.

[2018-07-16 19:47] jjasghar commented on #6802
You could even take the `az status` command to the next level too. `az status` could give you a readout of the https://azure.microsoft.com/en-us/status/ page too, so you could see the health of the Cloud and that you are authenticated too.

[2018-07-16 23:30] yantang-msft opened #6811 "'az aks browse' doesn't work. Error listening on port 8001"
**Describe the bug**
This command used to work for me, but not recently even after I restarted the machine. This is the error message:
[code]

The 8001 port seems to be occupied by the "System" process with process id 4. But I can't kill the process or close the connection.

**To Reproduce**
Simply run the command and it gives me the error.

**Expected behavior**
There are other available ports am

[2018-07-17 00:00] zezha-msft commented on #6608
Hi @v-tisheg, the issue has been fixed in version 1.3.1 of the blob package. It is up to the CLI to pick up the new version in their next release. Thanks.

[2018-07-17 06:29] troydai opened #6812 "Implicit circular dependency between core and profile module"
In `azure.cli.core.commands.arm` there is a reference to the command module profile's module:

https://github.com/Azure/azure-cli/blob/dev/src/azure-cli-core/azure/cli/core/commands/arm.py#L301

1. Implictly make every command modules depend on the `profile` module, since it referenced in core.
2. Unable the break down the boundary between modules to run tests individually in each module.

[2018-07-17 06:29] troydai commented on #6812
@yugangw-msft let's chat about it tomorrow.

[2018-07-17 06:48] troydai opened #6813 "Invalid code in azure.cli.command.modules.profile.custom._load_subscriptions"
https://github.com/Azure/azure-cli/blob/0bbbae84283fde744f79497b43ce0bef00051e1c/src/command_modules/azure-cli-profile/azure/cli/command_modules/profile/custom.py#L27

[code]
The `subscriptions` will be always overridden no matter `refres` is true or false. Unless the `refress_accounts()` changes the state, these two lines are useless. Otherwise, there is not reason to have the `subscriptions` on

[2018-07-17 06:48] troydai commented on #6813
@yugangw-msft

[2018-07-17 07:03] nagpal commented on #6679
Nope, even through the portal it does not give me an error but seems like the path option is not used at all in routing. Should I open the bug some place else?

[2018-07-17 08:09] karthikananth opened #6815 "Azure CLI for Microsoft.Network/virtualNetworkTap"
This is an Ignite preview feature. Please help complete the Azure CLI development.
Azure/azure-rest-api-specs-pr#521

[2018-07-17 08:10] karthikananth commented on #6815
This is an Ignite preview feature. Please help complete the Azure CLI development.

https://github.com/Azure/azure-rest-api-specs-pr/pull/521

[2018-07-17 08:55] lawrencegripper commented on #6678
I'm on ubuntu 17.10 and also see this issue after install the CLI through `APT`. Using `az configure` then selecting `n` when asked the telemetry question below worked and I no longer see the error.

[code]

Version and env details:

[code]

[code]

[2018-07-17 10:12] letmaik opened #6816 "Cannot define Batch start task user identity (admin/non-admin)"
In the Azure Portal you can define whether the start task should run as admin or not. The `az batch pool create` command doesn't seem to support that. It makes certain scenarios impossible.

[2018-07-17 13:12] weiserdl opened #6817 ""az container delete" using half name"
Is there a way to use this command to delete containers with partial name? for i.e.
az container delete Container1*  (to remove every container starting like that, but not the ones starting with Container2#)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e5d1da7-7c4f-c9e6-e4b9-a30407675acf
* Version Independent ID: b

[2018-07-17 15:15] #6787 closed

[2018-07-17 15:20] diirib opened #6818 "az webapp deployment source config-zip throws useless warning"
**Describe the bug**
When deploying a WebApp from a zip file with az webapp deployment source config-zip (azure cli 2.0.39), I get this warnings:

az : WARNING: Generating deployment script.
At C:\my\full\path\MyScript.ps1:129 char:13
+             az functionapp deployment source config-zip --src $Packag ...
+             ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInf

[2018-07-17 15:23] yugangw-msft commented on #6813
`refresh_account` shall make live requests to update cached accounts at local. The code logic is right here.
`refresh` is a pretty heavy operation which could fail, say, you have an account which have not used for a while and the refresh token associated with its tenant has expired.

[2018-07-17 16:11] tjprescott commented on #6679
If it doesn't work when set through the portal then it is a service bug, not a CLI issue. You can open a support request through the portal to get the issue routed to the service team. That would be the quickest way to get resolution.

I will keep this issue open as it will eventually be assigned to the service team based on its labels, but my recommendation would be to open the support request in

[2018-07-17 17:01] morgangrobin opened #6819 "az webapp up -n <webapp name> produces an error in bash due to malformed path"
**Describe the bug**
It appears the 'az webapp up' command is mixing Linux style paths with windows style paths.

It appears the 'az webapp up' command is mixing Linux style paths with windows style paths.
Here is what happens when I run the command on the bash cloud shell:
`morgan@Azure:~/clouddrive/quickstart/nodejs-docs-hello-world$ az webapp up -n mg18sampleapp2`
[omitted for brevity]
`[Errno

[2018-07-17 17:19] tjprescott commented on #6819
Hi @morgangrobin, `az webapp up` is part of a CLI extension, so I posted your issue there and cc'ed you on it. I will close this issue, but you can follow the status here:

https://github.com/Azure/azure-cli-extensions/issues/236

[2018-07-17 17:19] #6819 closed

[2018-07-17 19:55] yugangw-msft commented on #6818
@diirib , are you running the CLI inside the PowerShell ISE?

[2018-07-17 19:57] #6796 closed

[2018-07-17 20:31] rigerosa commented on #6811
Found a workaround,
instead of az aks browse run:
`kubectl proxy --port 8002`
then navigate to:
`http://127.0.0.1:8002/api/v1/namespaces/kube-system/services/http:kubernetes-dashboard:/proxy/`

[2018-07-17 20:52] isaacrlevin opened #6821 "Chain commands on one line similar to other CLIs"
**Please describe.**
Being able to chain commands together would be valuable

**Describe the solution you'd like**
Similar to other CLIs, something like `&` allowing the ability to have multiple commands in one statement

**Describe alternatives you've considered**
Currently, I have the commands in PowerShell and than run my ps file to get batch experience

[2018-07-17 20:58] #6813 closed

[2018-07-17 21:58] MichaelSmyth184 opened #6823 "Enable diagnostics"
az vm boot-diagnostics get-boot-log --ids $(az vm list -g MyResourceGroup --query "[].id" -o tsv)
Returns null.
az vm list -g MyResourceGroup --query "[].id" -o tsv returns vms ok, but the command as a whole returns null and doesnt apply diagnostics.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0d2d4fa0-d32e-5628-878

[2018-07-17 22:04] #6608 closed

[2018-07-17 22:47] samkreter commented on #6817
@weiserdl We currently do not plan on supporting a wildcard feature. The best way would be writing a quick bash script to use 'az container list' to get all the container names in the group then 'az container delete' for each result.

[2018-07-17 23:00] tjprescott commented on #6817
You could also use a script to get a list of container IDs, filter the list of IDs and then supply that list to the `delete` command with `--ids …`.  Effectively this does what @samkreter is suggesting, calling the delete command for each item in the list.

[2018-07-17 23:00] #6817 closed

[2018-07-17 23:03] #6696 closed

[2018-07-18 00:41] unacceptable opened #6826 "[RBAC] `az app update` generic arguments do not work"
What if I want to set a value such as a key name (that's in a json list.)? Like so:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 921aa920-c25f-5227-aabb-49116da38fa7
* Version Independent ID: 9b5a53ad-edf8-4d89-f8e6-cde01b7866f6
* Content: [az ad app](https://docs.microsoft.com/en-us/cli/azure/ad/app?view=azu

[2018-07-18 00:47] ScriptMyJob commented on #6826
Sorry I didn't realize that this would open a GitHub bug.  However, it would appear that this is not well documented if the capability does exist.  I am rather surprised that `az ad app create` does not appear to have a way to set this but it does have a way to set the password.

¯\_(ツ)_/¯

[2018-07-18 02:50] lukeb1961 commented on #6770
same error for SHOW as well as EXISTS. Oh and LIST fails too...

[2018-07-18 03:43] lukeb1961 opened #6827 "Compile-time path saved in compiled PYC files causes issues on Powershell"
Has trdai become hard-coded?
[code]

[2018-07-18 09:14] arunjohn opened #6829 "How do you resize the VMSS using azure cli ?"
I was not able to find a proper command that would help upgrading the VMSS size( eg: Standard_D2 to Standard_D3 ). Please advise how this can be done in command-line as I looking more into automating this task. rather than performing this on the Portal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0408c294-207a-2b72-

[2018-07-18 10:16] tmakin opened #6830 "az container create from yaml gives 'LROPoller' error"
**Describe the bug**
When I try and create a container from a yaml definition I get a python error.
[code]
However, the deployment does appear to succeeed. Full trace below:
[code]

**To Reproduce**
test.yaml
[code]

**Expected behavior**
No error on successful deployment

**Environment summary**
* azure-cli (2.0.41)
* windows 10
* installed from msi:
https://docs.microsoft.com/en-us/cli/azure/ins

[2018-07-18 11:14] diirib commented on #6818
Yes, I am. That might be the problem. Any workarounds?

[2018-07-18 12:26] rohittidke opened #6831 "Parameter for GPU memory"
please provide support for GPU as a parameter in creating a container instance. Most of the containers we spin need GPU support. Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e5d1da7-7c4f-c9e6-e4b9-a30407675acf
* Version Independent ID: ba32e12d-8283-f980-e1d0-1ca2a75a5152
* Content: [az container](https://do

[2018-07-18 15:55] yugangw-msft commented on #6818
There is no workaround really. Please consider using a regular POSH?
I am closing this as this is not something CLI can handle, the warnings have to get to stderr

[2018-07-18 15:55] #6818 closed

[2018-07-18 16:08] tjprescott commented on #6826
`--set passwordCredentials[0].customKeyIdentifer='blah'`

[2018-07-18 16:09] tjprescott commented on #6826
You should also be able to use syntax like:
`--set passwordCredentials[keyId='blah'].customKeyIdentifier='foo'` so that you can search for a key value in the list.

[2018-07-18 16:16] ScriptMyJob commented on #6826
@tjprescott I have already tried the first syntax that you have suggested.  I will have to try the second recommendation after I get back from lunch.

[2018-07-18 16:34] tjprescott commented on #6826
If you run the first syntax with `--debug` you can see if your value was correctly set.  If nothing happened it doesn't mean the syntax didn't work--it could very well mean that you can't change that property.

[2018-07-18 16:54] tjprescott commented on #6829
`az vmss update -g {rg} n {name} --set sku.name="YOUR_VALUE"` If you are changing from Standard to Premium you must also include `--set sku.tier="Premium"`

[2018-07-18 17:11] tjprescott commented on #6826
Actually, this is a bug in the RBAC update command.

[2018-07-18 17:38] tjprescott commented on #6826
cc/ @yugangw-msft

[2018-07-18 18:52] dctucker commented on #2974
Just bumping this since it would reduce our dependency on [azure-vhd-utils](https://github.com/Microsoft/azure-vhd-utils) if this was built into the CLI.

[2018-07-18 19:45] tjprescott commented on #6827
@troydai can you comment?

[2018-07-18 19:48] tjprescott commented on #6408
@samkreter

[2018-07-18 21:23] viananth opened #6833 "Public IP SKU for VM not yet supported in profile 2017-03-09-profile"
**Describe the bug**
When trying to create a Vm with public ip in Azure using 2017-03-09-profile, it fails with the following error:

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)
dev setup

[2018-07-18 21:34] yugangw-msft commented on #6833
@viananth, this is a test issue that this scenario is not meant for stack profile

[2018-07-18 21:46] viananth commented on #6833
Thank you Yugang! But I don't suppose checking for not null isn't a bad idea. Thoughts? #6834

[2018-07-18 21:46] #6833 closed

[2018-07-18 22:05] viananth commented on #6833
@yugangw-msft Can we still keep this check for null?

[2018-07-18 22:42] cblackuk commented on #6433
Any update on this guys please? This has been broken for months and is preventing users consuming Azure Stack service. @bganapa

[2018-07-18 23:05] troydai commented on #6827
What ...

[2018-07-18 23:06] tjprescott commented on #6827
File "C:\Users\**trdai**\AppData\Local\Temp\pip-install-pfctf_lg\azure-cli-cosmosdb\azure\cli\command_modules\cosmosdb_exception_handler.py", line 76, in chained_handler

[2018-07-18 23:07] troydai commented on #6827
I know. I don't see that string in the source code.

[2018-07-18 23:08] troydai commented on #6827
looking into the windows installer

[2018-07-18 23:10] tjprescott opened #6837 "[RBAC] Add commands to manage key/password credentials on an AD app"
**Is your feature request related to a problem? Please describe.**
The portal supports adding one or more password or key credential objects. The current `ad app create` command only supports adding one, and doesn't permit all of the customizations. Furthermore, these objects can't be updated after the fact.

**Describe the solution you'd like**
Add sub-commands to `az ad app` for managing these c

[2018-07-18 23:12] tjprescott commented on #6837
@ScriptMyJob this is your underlying issue. The problem with the generic update will be fixed via a workaround, but even once it is, you would not be able to change the customKeyIdentifier. It has to be set on creation. Please follow this issue.

[2018-07-18 23:12] troydai commented on #6827
This is not because the `trdai` is hard-coded. This is because we release compiled `pyc` file, therefore, the compile-time path is captured.

The command failure is caused by running az command in a powershell terminal, where `$` has different meaning.

[2018-07-18 23:14] tjprescott commented on #6827
So then this is more of a packaging issue?

[2018-07-18 23:53] lukeb1961 commented on #6770
https://github.com/Azure/azure-cli/issues/6827

[2018-07-19 01:10] bganapa opened #6838 "Remove Features Resource types in the 2017-03-09-profile map"
**Describe the bug**
Features api is not supported in azurestack. The profile map should not have the entry

[2018-07-19 01:25] bganapa opened #6839 "Consume multi api KV control/data plane in CLI"
**Describe the bug**
Azure KV is moving on to support the api version '2018-02-14' and azure stack only supports 2016-10-01.
WE need to consume multi api KV Control/Data plane packages in CLI and make respective changes for azurestack

[2018-07-19 08:06] cblackuk commented on #6433
Also, it is worth noting that despite the new azure-mgmt-authorization 50.0 was released and if you manually install it, then change manually the API version in python authorization_management_client_py all you get is:

[code]

[2018-07-19 08:30] claasd opened #6840 "wring documentation of --expiration-date"
lab vm create: The expiration date must be given in the format yyyy-MM-ddTHH:mm:ss (e.g. 2018-07-26T10:24:35) and not in the format YYYY-mm-dd.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef5457fd-c38a-6fb8-1df4-24a15e6ba787
* Version Independent ID: ef65acdc-464a-08c7-b013-d9e3f1560977
* Content: [az lab vm](https:

[2018-07-19 09:27] dancowen opened #6841 "Unable to specify ports without dns-name-label"
It doesn't seem possible to spin up a container with specific ports open without specifying a DNS name.

az group create --name someResourceGroup --location eastus
az container create --resource-group someResourceGroup --name seleniumhub --image selenium/hub:3.13.0-argon --dns-name-label my-selenium-hub --ports 4444

Returns:

"ports": [
        {
          "port": 4444,
          "protocol": "TCP

[2018-07-19 12:31] justinhauer opened #6842 "Error when upgrading from command line"
I am able to upgrade my kubernetes version from the Azure console but when I try to upgrade from the command line with the mandatory parameters listed above I get the following error: "ValidationError: Parameter 'ManagedClusterAADProfile.server_app_secret' can not be None" What else needs to be set besides the three mandatory parameters for an upgrade listed above?

---
#### Document Details

⚠ *D

[2018-07-19 12:32] jdogg89 commented on #6842
specifically I am using the CLI, not PowerShell

[2018-07-19 13:00] iankesh commented on #154
Can anyone tell me what are all the power states for Azure VM.?

[2018-07-19 16:35] yugangw-msft commented on #154
Here is the list, might not be very up to date:
https://azure.github.io/azure-sdk-for-java/com/microsoft/azure/management/compute/PowerState.html

[2018-07-19 16:39] tjprescott commented on #6033
Unable to repro. Closing.

[2018-07-19 16:39] #6033 closed

[2018-07-19 16:47] selvasingh commented on #6801
@ahmedelnably and @rramachand21 - agree that this should be in the main CLI branch.

The remote-connection does not appear to work.

[code]

[2018-07-19 16:49] selvasingh commented on #6801
@ahmedelnably and @rramachand21 - imagine there are multiple instances of a Web app, when developers log in, which instance are they logging in?

[2018-07-19 16:52] #4271 closed

[2018-07-19 18:10] tjprescott commented on #6826
The generic arguments now work, but I will keep this issue open to remove the workaround once the REST API specs issue is fixed.

[2018-07-19 18:19] tjprescott commented on #6721
Closing as we are unable to repro.

[2018-07-19 18:19] #6721 closed

[2018-07-19 18:39] dctucker commented on #2792
I propose re-opening this issue, as the error messaging is still pretty vague, even without specifying `--no-wait`.

[code]

[code]

[2018-07-19 19:46] tjprescott commented on #2792
@dctucker you are using a version of the CLI that is over 6 months old. I'd recommend you try it on a newer version and if the errors are still too vague, open a new issue.

[2018-07-19 20:11] ScriptMyJob commented on #6826
@tjprescott when is the documentation going to be updated to reflect this change?

[2018-07-19 20:51] ronnytag233 commented on #6336
+1 same issue when trying to scale.

[2018-07-19 21:29] xingwu1 opened #6847 "Run command 'az batch account login --show' in cloud shell throw error."
**Describe the bug**
Run command 'az batch account login --show' in cloud shell throw error.

**To Reproduce**
Open cloud shell in portal
Run command 'az batch account login --show'
There will be an error displayed.

**Expected behavior**
It should show the current AAD token information.

**Environment summary**
Cloud shell

[2018-07-19 21:51] samkreter commented on #4110
@tjprescott  This has been. We can close the issue.

[2018-07-19 22:34] #4110 closed

[2018-07-19 22:36] #6847 closed

[2018-07-19 22:45] tjprescott commented on #6826
My PR was a bugfix, so the documentation won't change. It ensures that the syntax `--set passwordCredentials[0].customKeyIdentifer='blah'` will work as it should.

[2018-07-20 08:11] dtissen opened #6850 "Expand Parameter?"
What are the expand arguments? What is the parameter for? Any example???

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2ebbeb5f-6ab6-3fb3-c969-5d935e60f251
* Version Independent ID: 9d4169c9-f5b5-512a-8061-2234d6dec1eb
* Content: [az vm extension](https://docs.microsoft.com/en-us/cli/azure/vm/extension?view=azure-cli-

[2018-07-20 09:26] mariojacobo opened #6851 "Identity assign does not seem to work"
$ az vm identity assign -g MyResourceGroup -n MyVm --role Reader
usage error: '--role Reader' is not applicable as the '--scope' is not provided

This works:
$ az vm identity assign -g MyResourceGroup -n MyVm
{
  "systemAssignedIdentity": "80594eff-4edb-4599-8973-b29afcef251b",
  "userAssignedIdentities": []
}

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2018-07-20 10:29] frli opened #6852 "az eventhubs eventhub create with data lake capture destination"
**Is your feature request related to a problem? Please describe.**
There currently is no way to enable event capture to `Data Lake` when creating an `Event Hub` via the `az eventhubs eventhub create` command. Currently only capture to `Blob Storage` appears to be supported although the current documentation is a bit cryptic.

**Describe the solution you'd like**
Since the `destination-name` (possi

[2018-07-20 12:04] benketteridge opened #6853 "python.exe Application Error"
**Describe the bug**
The az.cmd script won't run python.exe correctly. It responds with "The application was unable to start correctly (0xc000007b). Click OK to close the application."

**To Reproduce**
Install Azure CLI 2.0.41 or 2.0.42, attempt to run 'az login' from a cmd window in Windows.

**Environment summary**
Installed using the Windows MSI, running using cmd.exe on Windows 7 Pro, fully p

[2018-07-20 13:18] kwanlowe opened #6854 "Missing help for upload option"
There is no help text for "--progress-callback".  How do the chunk-size and buffer-size affect the upload?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b124629b-d0c8-f761-ac49-4242475d4d2a
* Version Independent ID: 9e85d033-b96d-2b1d-3989-b2d339bffc3f
* Content: [az dls fs](https://docs.microsoft.com/en-us/cli/azure/

[2018-07-20 16:42] troydai commented on #6827
@tjprescott the main issue is not caused by the pyc. The pyc just introduce a minor issue where the compile time path is "persisted" in the build. It doesn't affect the functionality.

[2018-07-20 16:43] troydai commented on #6827
The root issue is #6770

[2018-07-20 16:56] tjprescott commented on #6827
In that case it sounds like this is a dupe and I will close this.

[2018-07-20 16:56] #6827 closed

[2018-07-20 17:17] yugangw-msft commented on #6853
can you check out the eventlog and see any stack trace?

[2018-07-20 17:19] yugangw-msft commented on #6851
Please do like the error says `usage error: '--role Reader' is not applicable as the '--scope' is not provided` by providing the `--scope`, since explicitly setting the `--role`  voids the defaults

[2018-07-20 18:32] tjprescott opened #6855 "Streamline and simplify profile structure"
Many of these concepts are implemented, but in an inconsistent and potentially confusing way. With the requirements that have evolved, we should consider whether our implementation can be improved.

- [ ] Allow date-based comparison of dates and semver
- [ ] Make command appearance declarative (i.e. a module doesn't appear in the CLI unless it explicitly registered in a profile)
- [ ] Make API ver

[2018-07-20 21:00] vin-yu opened #6858 "[Keyvault] az keyvault secret show --query value does not return anything on Mac"
**Describe the bug**
Running  `az keyvault secret show -n <name> --vault-name <valuename> --query value` returns nothing on mac.
_This works on windows._

**To Reproduce**
Run `az keyvault secret show -n <name> --vault-name <valuename> --query value`

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Installed via Homebrew

Package Versi

[2018-07-20 21:06] mariojacobo commented on #6851
Your tutorial literally says  to run that specific command: az vm identity assign -g MyResourceGroup -n MyVm --role Reader

I offered the workaround, shouldn't you fix the tutorial since the actual command does not work ????

[2018-07-20 21:09] mariojacobo opened #6859 "Command not working"
Your tutorial literally says to run the command as follows:

$ az vm identity assign -g MyResourceGroup -n MyVm --role Reader
usage error: '--role Reader' is not applicable as the '--scope' is not provided

As you can see, the command you literally specify gives an error. Below is what works, so please fix the documentation instead of closing the bug and offering some nonsense feedback !!

This wo

[2018-07-20 21:13] yugangw-msft commented on #6851
I see, doc issue, Thanks.

[2018-07-20 21:56] tjprescott commented on #6859
This is a dupe. The original issue was reopened. We'll track on that one.

[2018-07-20 21:56] #6859 closed

[2018-07-20 21:57] tjprescott commented on #6858
If you omit `--query` does it work?

[2018-07-20 22:51] vin-yu commented on #6858
tried omitting  --query. no results.

thanks for responding

[2018-07-20 23:33] digimaun commented on #6686
Resolved in v0.5.1 of the IoT extension, wrapping output with subprocess.check_output similar to the extension command module implementation.

This does not resolve underlying elements causing the messages but is a sufficient workaround for my use case.

[2018-07-20 23:33] #6686 closed

[2018-07-21 00:12] kungpaolam opened #6861 "'az storage account show-usage' does not work as expected"
**Describe the bug**
'az storage account show-usage' does not report the number of storage accounts in the subscription. Instead, i have seen it report 0.

**To Reproduce**
* log in to azure account
* set a subscription where there are storage accounts
* run "az storage account list --output json | jq -r '.[].name'  | wc -l"    to verify that Azure CLI can see the storage accounts (the number shou

[2018-07-21 04:04] pinboro opened #6862 "Could not create AKS ckuster from CLI"
**Describe the bug**
When creating a AKS cluster from the command line following the official guide, an error is returned and the cluster is not created.

https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough

**To Reproduce**

[code]

**Expected behavior**

Cluster is created successfully.

**Environment summary**

[code]
Installed with brew on Mac OS.

**Additional context**

n/a

[2018-07-22 15:02] gsacavdm commented on #6372
This is related to this issue: [Empty results on query for table output](https://github.com/Azure/azure-docs-cli-python/issues/638), while there's a workaround, it's a pretty terrible one. As it stands, the `az keyvault secret list -o table` command is useless if you don't add adding this hack `--query "[].{i:id}"`.

Options:
* **IDEAL**: the Key Vault team adds a name property to the result set o

[2018-07-22 15:09] gsacavdm commented on #6372
@joshgav , can you include in the issue's **Describe the bug** the current output for the command, which is a table consisting only of the ContentType and Managed, both of which are empty for any non-cert secrets. Example:

|ContentType|Managed|
|---|---|
|application/x-pkcs12|True|
|*{empty}*|*{empty}*|
|*{empty}*|*{empty}*|

[2018-07-22 21:12] egallo90 opened #6863 "az dls download doesn't work for multiple files in directory"
Using the az dls download command to download all the content of a directory into Data Lake Store, all the hierarchy of the folder into the Data Lake has been downloaded, instead of only the files contained into the source folder, into the local folder where the command is executed, so ignoring the --destination-path option.

Machine OS: RHEL 7.5

Data Lake:
-test
  -folder1
      file1.txt

[2018-07-23 09:50] racha999 opened #6864 "Feed back scammer"
If want just ask by problaby no have any problem if scam or hacks sure got problem .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 76359976-5b9b-a7fb-88c9-a4b2ec5655aa
* Version Independent ID: 78330d13-b961-317f-602c-41ab78b9ebdd
* Content: [az](https://docs.microsoft.com/en-us/cli/azure/ext/alias/?view=azure-cli-lat

[2018-07-23 11:58] rkujawa opened #6865 "az ad sp create-for-rbac reports failure if ran from script"
**Describe the bug**
Trying to run:
[code]

Works correctly if ran in an interactive terminal session, but results in the following failure if ran from inside of bash script:

Role assignment creation failed.

role assignment response headers: {'Content-Length': '156', 'Strict-Transport-Security': 'max-age=31536000; includeSubDomains', 'x-ms-failure-cause': 'gateway', 'X-Content-Type-Options': 'no

[2018-07-23 13:44] nakonczy opened #6866 "After update to cli 2.0.42 command az group show --name changed behavior"
**Describe the bug**
The output of "az group show --name" when the group does not exist changed after updating from version 2.0.41 to 2.0.42.
This breaks all shell scripts depending on this output.

**To Reproduce**
With version 2.0.41 and earlier:
az group show --name test
Prints nothing, exit status is 0 when 'test' does not exist.
With version 2.0.42 prints 'Resource group 'test' could not be f