[2019-09-26 04:12] fengzhou-msft commented on #10624
@paulliu10  run `cat /etc/centos-release` and paste the exact centos verison here. I'll try to reproduce with your centos verison

[2019-09-26 04:28] panchagnula commented on #10607
can you share more details on the actual command you are trying to run plus the appsetting you are try to set? Thanks! is this the command you are referring to here? https://docs.microsoft.com/en-us/cli/azure/webapp/config/appsettings?view=azure-cli-latest#az-webapp-config-appsettings-set

[2019-09-26 04:31] panchagnula commented on #10587
the command is sets this as optional because you can set a default value for it using az configure --defaults group=<name>, otherwise you either need a RG or resource ID

[2019-09-26 04:31] #10587 closed

[2019-09-26 04:33] panchagnula commented on #10475
@btardif can you make sure you follow up on this with Patrick during your scrum. Thank you.

[2019-09-26 04:36] panchagnula commented on #10110
closing this due to inactivity please open new issue if if you still see this repro with the latest CLI. Thanks!

[2019-09-26 04:36] #10110 closed

[2019-09-26 04:37] panchagnula commented on #9803
please refer to the documentation - closing this since there is nothing we would fix here from CLI command perspective.

[2019-09-26 04:37] #9803 closed

[2019-09-26 04:39] panchagnula commented on #9186
closing this due to inactivity please let us know if this is still an issue. thanks!

[2019-09-26 04:39] #9186 closed

[2019-09-26 04:39] panchagnula commented on #8453
closing this since we already finished this.

[2019-09-26 04:39] #8453 closed

[2019-09-26 04:40] panchagnula commented on #8048
closing this due to inactivity. Please file a new issue if you see this error with the latest version of CLI

[2019-09-26 04:40] #8048 closed

[2019-09-26 04:49] panchagnula commented on #9290
Marking this as Feature request

[2019-09-26 04:50] panchagnula commented on #9804
@btardif something we need to follow up with the SSL feature crew.

[2019-09-26 04:51] panchagnula commented on #8831
Closing this due to inactivity.

[2019-09-26 06:23] #10268 closed

[2019-09-26 06:41] fengzhou-msft commented on #10624
Great. Thanks.

[2019-09-26 06:41] #10624 closed

[2019-09-26 06:56] jiasli commented on #10626
Thank you for raising this issue. The blog is not the current official channel for CLI documentation. We will improve the [official documentation](https://docs.microsoft.com/en-us/cli/azure/interactive-azure-cli?view=azure-cli-latest). Since `az interactive` is still under preview, we are actively working on it.

[2019-09-26 07:18] jurgyy commented on #10496
@wshamroukh For me it's in `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\Lib\site-packages\azure\mgmt\apimanagement\models`

[2019-09-26 07:56] wshamroukh commented on #10496
For me not to get it working i had to have two files with the following names under `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\Lib\site-packages\azure\mgmt\apimanagement\models\`:
[code]

Because when I renamed the file from **_api_management_client_enums.py** to **api_management_client_enums.py** the **__init__.py** was still looking for **_api_management_client_enums.py**

[2019-09-26 08:01] crucibles opened #10650 "az cosmosdb update Error: cannot import name SqlDatabaseResource"
%23%23%23 **This is autogenerated. Please review and update as needed.**

%23%23 Describe the bug

**Command Name**
`az cosmosdb update`

**Errors:**
[code]

%23%23 To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az cosmosdb update --name {} --resource-group {} --ip-r

[2019-09-26 08:08] qwordy commented on #9937
I tried your command. I am afraid you can't. $VAR will be interpreted in your current shell. You can put $VAR in the script file so that it will be interpreted in host.

[2019-09-26 08:08] #9937 closed

[2019-09-26 08:44] vbrinza opened #10651 "Az cli requires --cert-file, --cert-password when using --key-vault-secret-id"
**Describe the bug**
az network application-gateway ssl-cert create --resource-group openitems_res_gr_acc_westeurope --gateway-name openitems-waf-acc-westeurope --name wildcard --key-vault-secret-id https://myvault-key-vault-dt.vault.azure.net/secrets/somelongid/somelongversionofthesecret

Results into:
az network application-gateway ssl-cert create
error: the following arguments are required: --c

[2019-09-26 09:07] jurgyy commented on #10496
Great that it works, but that's exactly what I said in my earlier comment ;)

[2019-09-26 09:42] StiviiK opened #10653 "Functionapp settings with url"
# Describe the bug
When trying to set a function app setting to an url with at least 2 GET parameters, the second to last GET parameters are tried to execute as a command.
E.g. `www.my-url.tld/get?param1=345&param2=dfg`, as appsetting will be set `www.my-url.tld/get?param1=345` and the `param2` get interpreted as command which causes `'param2' is not recognized as an internal or external command,

[2019-09-26 10:27] qwordy commented on #8933
[code]
In order to create VM, we need to create publicIPAddresses. The default sku for publicIPAddresses is basic. But in some region, zone are not allowed in basic sku.
@MyronFanQiu Do you know which regions allows zones in basic sku?

[2019-09-26 10:29] qwordy commented on #10560
I have fixed the following test cases:
test_vm_commands.VMDiskAttachDetachTest.test_vm_ultra_ssd_disk_update
test_vm_commands.VMDiskAttachDetachTest.test_vm_ultra_ssd_storage_sku

[2019-09-26 10:33] #9362 closed

[2019-09-26 10:48] qwordy commented on #10625
Could you provide the concrete command you run? Thanks.

[2019-09-26 10:50] qwordy commented on #10625
I guess the user adds space around '='.

[2019-09-26 11:07] qwordy commented on #10645
Oh! That really limits the diversity of VM names. I'll confirm it.

[2019-09-26 11:11] qwordy commented on #10464
I have made the error message more clear. PR merged.

[2019-09-26 11:13] qwordy commented on #4611
OK. I don't think Github is a file server.

[2019-09-26 11:20] qwordy commented on #10645
Issue confirmed.

[2019-09-26 11:22] #9665 closed

[2019-09-26 12:06] jiasli commented on #10642
I tried to enable **argcomplete** in **fish** following https://pypi.org/project/argcomplete/, but the actual functionality is half-broken, as CLI is trying to execute the command first, and results in an error. I will look into it.

[2019-09-26 12:35] jurgyy commented on #6080
Any updates? This issue is from a year ago and is currently still a problem in the latest version of az cli in combination with Powershell

[2019-09-26 12:37] jiasli commented on #10643
`AuthenticationContext` is created at https://github.com/Azure/azure-cli/blob/1beb6352ece2d06187bbccd66f1638f45b0340f7/src/azure-cli-core/azure/cli/core/_profile.py#L97

What is URL for `--endpoint-active-directory` you have registered? It will be examined at https://github.com/Azure/azure-cli/blob/1beb6352ece2d06187bbccd66f1638f45b0340f7/src/azure-cli-core/azure/cli/core/_profile.py#L84 to decide

[2019-09-26 12:37] jiasli commented on #10643
`AuthenticationContext` is created at https://github.com/Azure/azure-cli/blob/1beb6352ece2d06187bbccd66f1638f45b0340f7/src/azure-cli-core/azure/cli/core/_profile.py#L97

What is the URL for `--endpoint-active-directory` you have registered? It will be examined at https://github.com/Azure/azure-cli/blob/1beb6352ece2d06187bbccd66f1638f45b0340f7/src/azure-cli-core/azure/cli/core/_profile.py#L84 to de

[2019-09-26 12:50] Cam-Borrowell commented on #10495
@panchagnula I'm so confused why this issue was closed, it's still a bug (even if I'm missing some information). I don't have any resources that are public, so does it matter if I supply a resource group?

In general, I'm able to reproduce this with any web app that has a connection string. The problem is when you run the same command, with a different `--output`, you get a different set of inform

[2019-09-26 13:25] laashe commented on #10174
I am also experiencing problems when using `az network vnet-gateway vpn-client generate ...`, has there been any development on this issue?

[2019-09-26 13:47] prabhakarreddy1234 opened #10654 "Get all service endpoints across the organization"
Currently it's not possible to list down all service endpoints in the organization since project is mandatory. It's difficult when there are 100s of projects and 1000s of service endpoints scattered and duplicated across many projects.

It would be great if `--project` is made optional in `az devops service-endpoint list` command.

[2019-09-26 14:01] amitsuneja commented on #9665
susenode03:~ # zypper install --from azure-cli azure-cli
Refreshing service 'SUSE_Linux_Enterprise_High_Availability_Extension_12_SP3_x86_64'.
Refreshing service 'SUSE_Linux_Enterprise_Server_12_SP3_x86_64'.
Loading repository data...
Reading installed packages...
Resolving package dependencies...

Problem: nothing provides python-virtualenv needed by azure-cli-2.0.74-1.el7.x86_64
 Solution 1: do

[2019-09-26 14:04] ctstone commented on #8068
I suspect I accidentally dropped the `container` command when I typed the issue here. I think running `az export ...` would show an unsupported command message, not a Python exception stack.

Anyway `az container export` is working today for me on CLI 2.0.63, so I am OK if you want to close this issue

[2019-09-26 14:23] fengzhou-msft commented on #9665
@amitsuneja can you type 2 for the prompt and continue the install?

[2019-09-26 14:49] 1dasdave7 commented on #8736
This also appears to happen if using inline JSON. Here I'm trying to install a package via the chocolatey artifact in the public repo.

p.s. yes i know there is already an artifact for Firefox. This is just a proof of concept around deploying other chocolatey packages.

[code]

[2019-09-26 15:53] panchagnula commented on #10495
sorry ignore my comments above the comments for a different issue - reactivating this.

[2019-09-26 15:57] 1dasdave7 opened #10655 "Parameters being ignored when installing artifacts with vm create and inline JSON."
## Describe the bug

**Command Name**
`az lab vm create`

**Errors:**

The VM is created but the choclatey install reports the following error:

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[code]

## Expected Behavior
The VM is created and Firefox is installed via chocolatey

## Environment Summary
[cod

[2019-09-26 16:07] matheus-santoro commented on #9665
@fengzhou-msft

Ignoring the dependency I could install and run it successfully.
`
matheus@suse-syslog:~> az --version
azure-cli                         2.0.74

command-modules-nspkg              2.0.3
core                              2.0.74
nspkg                              3.0.4
telemetry                          1.0.3

Python location '/usr/bin/python'
Extensions directory '/home/matheus/.azu

[2019-09-26 16:25] jlian commented on #10637
This error comes from the service (as opposed to CLI itself) when the routing endpoint type isn't one of the valid types.

Can you post the command that you actually used?

[2019-09-26 16:28] krojzl commented on #9665
If python2-virtualenv is not required - would it be possible to remove the dependency to get error-free experience?

When installed manually you might type in 2 but this is extremely unfriendly for any automated install..

[2019-09-26 16:34] wk-n opened #10656 "az storage blob copy start: FAILURE"
I have "Owner" role on this Resource Group. Below autogenerated output.
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob copy start`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps h

[2019-09-26 16:49] mangobanaani opened #10657 "az role definition create --role-definition @params.json crashes"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role definition create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az role definition create --role-definition {}`

## Expected B

[2019-09-26 16:58] jseely commented on #4611
I have opened this PR #10658 which should fix the issue we were running into.

I also noticed a remark in https://github.com/Azure/azure-powershell/issues/8027 from @BorisB2015 that a solution for this may be to add the aliases doc, that's currently on githubusercontent.com, into the build process for both the Powershell module and the Azure CLI. I think that may be a better long term solution as

[2019-09-26 17:56] ifeoluwaokunoren commented on #8068
Hi @ctstone,
Thank you for confirming this issue is now resolved.

[2019-09-26 17:56] #8068 closed

[2019-09-26 18:05] gfoligna opened #10659 "Set python3 as default dependency on rpm package"
Based on python2.7's deprecation soon (Jan 2020) I would like to have the rpm package defaulting to python3 as dependency and as it is recommended in the manual linux install.

Thanks.

[2019-09-26 18:51] sajitsasi opened #10660 "Error when getting ER connection list"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network express-route gateway connection show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network express-route gateway connec

[2019-09-26 19:40] kalpana73 opened #10661 "Couldnt Zip deployment for Azure Functions"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2019-09-26 20:46] dscpl opened #10662 "ModuleNotFoundError: No module named 'azure.mgmt.apimanagement.models.api_management_client_enums'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## Addition

[2019-09-26 20:48] dscpl opened #10663 "No module named 'azure.mgmt.apimanagement.models.api_management_client_enums'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## Addition

[2019-09-26 21:16] rosanch commented on #10608
@Salamandastron1 if you want to get only access to the registry without docker. I'd recommend creating a service principal and give access it access to only the registry (in the registry access policy).
Then do:
az login --service-principal --username APP_ID --password PASSWORD --tenant TENANT_ID
You don't even need admin enable in the registry with this method, and still, ensure you only share us

[2019-09-26 22:10] sbhuttan opened #10664 "webapp: VNet Integration - Location Check Issue"
**Describe the bug**
While trying to add VNet-integration to the webapp, getting following error:
`The app and the vnet resources are in different locations.                         Cannot integrate a regional VNET to an app in a different region`

Both application and VNet are in same region. Region used - "East US 2"

**To Reproduce**
1. Use "East US 2" as region for Web app and VNet
2. Also, VN

[2019-09-27 00:15] tmacro commented on #10643
something in the format of `https://manage.blob.local`

[2019-09-27 01:22] megan-beatty opened #10665 "MoI Ignite Work"
**Resource Provider**
What is the Azure resource provider your feature is part of?

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.

**Minimum API Version Required**
What is the minimum API version of your service required to implement your feature?

**Swagger Link**
Provide a link to

[2019-09-27 01:35] fengzhou-msft commented on #9665
@krojzl We're working on the improvement of packaging #7387 and will consider the possibility of removing python-virtualenv.

[2019-09-27 02:17] MyronFanQiu commented on #10174
@Iaashe Hello. Which kind of problem? Do you mean installing problem? The original issue might be caused by the version of msrestazure. Could you please check it? About install problem, @fengzhou-msft is taking a look at it.

[2019-09-27 02:29] MyronFanQiu commented on #8933
@qwordy Well. I don't know the answer either. It's a quite detail question. But for this issue, my opinion is to expose an argument for user to choose the sku for public ip or you can automatically set the sku of the public ip to Standard if they want to use `--zones`. @anilingle-ms may know which regions allows zones in basic sku.

[2019-09-27 02:52] ranokarno commented on #7493
hi @siddharth7 ,
any update on idempotent script for enable/disable backup ? the az cli code return error

Command group 'backup' is in preview. It may be changed/removed in a future release.

            The specified Azure Virtual Machine Not Found. Possible causes are
               1. VM does not exist
               2. The VM name or the Service name needs to be case sensitive

[2019-09-27 03:07] qwordy commented on #10665
The user didn't write anything.

[2019-09-27 03:32] MyronFanQiu commented on #10660
@sajitsasi Thanks. For this command we shouldn't expose `--ids`. We will fix it.

[2019-09-27 03:33] MyronFanQiu commented on #10664
@sbhuttan Hello. I will try to reproduce this error.

[2019-09-27 03:35] MyronFanQiu commented on #10651
@vbrinza Hello. I'm looking at this issue. Thanks

[2019-09-27 05:01] MyronFanQiu commented on #10665
@megan-beatty reopen it. @qwordy is not included in our thread so he doesn't know this issue.

[2019-09-27 05:47] archmangler commented on #2851
I get a whole list of IP addresses when using "--query privateIps -d --out tsv" against an AKS cluster node:

"172.16.107.35,172.16.107.36,172.16.107.37,172.16.107.38,172.16.107.39,172.16.107.40,172.16.107.41,172.16.107.42,172.16.107.43,172.16.107.44,172.16.107.45,172.16.107.46,172.16.107.47,172.16.107.48,172.16.107.49,172.16.107.50,172.16.107.51,172.16.107.52,172.16.107.53,172.16.107.54,172.16.10

[2019-09-27 06:23] MyronFanQiu commented on #10664
@sbhuttan It's a webapp command and I will route this issue to them.

[2019-09-27 06:27] MyronFanQiu commented on #10664
@panchagnula Could you please take a look at this issue?

[2019-09-27 06:59] xor-ranavikrant commented on #10487
@panchagnula  No, what I'm saying is the command that I have written (-az webapp deployment source config-zip --resource-group {} --name {} --src 'C:\Windows\system32\outfile.zip') returns me file not found error despite the file being present at that location. From the error message I tried to navigate to the path 'C:\\Windows\\system32\\outfile.zip'  from file explorer and it gave the same error

[2019-09-27 07:25] Juliehzl commented on #10370
@hKaspy For me, `)` still works now with azure-cli 2.0.74 as follows:
![image](https://user-images.githubusercontent.com/49508232/65750386-d803ef00-e13a-11e9-8dfe-0a112741881c.png)

Can you try again? If you still have such problem, please let me know.

[2019-09-27 07:40] MyronFanQiu commented on #9380
@number213 Hello. I still get errors like "Region centralus is not enabled for DdosCustomPolicy feature." and "Region eastus is not enabled for DdosCustomPolicy feature." Is there a feature flag which should be enabled for my subscription?

[2019-09-27 08:03] laashe commented on #10174
@MyronFanQiu yes, the exact same issue as described above. I'm glad to hear that is actively being looked at.
[code]

[2019-09-27 08:11] MyronFanQiu commented on #10174
@laashe Hello. Do you mean that you meet same error even your version of msrestazure is 0.6.2?

[2019-09-27 08:13] MyronFanQiu commented on #10174
@laashe Can you paste your error message and your `pip freeze` result here?

[2019-09-27 08:18] laashe commented on #10174
@MyronFanQiu of course. Thank you for a quick reply!

[code]

[2019-09-27 09:44] Fastdruid opened #10672 "azure cli 2.0.74 create nsg rule fails when attempting to use an ASG that is not in the same resource group"
Creating an NSG rule that uses a ASG that resides in a different resource group fails with the error:

Resource /subscriptions/_subscription-id_/ResourceGroups/_NSG-Resource-Group_/providers/Microsoft.Network/applicationSecurityGroups/_ASG-Name_ not found.

This is possible to perform from the portal.

Actions to reproduce:
1) Create two resource groups
2) First resource group create an ASG
3) Sec

[2019-09-27 10:59] heaths commented on #2324
As @thomaslevesque pointed out, the dotnet CLI supports *any* shell that supports expansions. That same documentation has instructions that enable it for bash and zsh, as common examples.

The big benefit to you is that - with a little introspection - you don't have to maintain it have users install separate expansion files. Users set up completion once and are done no matter how many times they u

[2019-09-27 12:01] hKaspy commented on #10370
@Juliehzl Still an issue for me, `<` works and `)` fails for both (keyvault, sql) commands.

[code]

[2019-09-27 15:26] jurjenoskam opened #10673 "az storage account network-rule add is not idempotent"
(azure-cli 2.0.74, I did not try other versions)

`az storage account network-rule add` is not idempotent. The first time I run it it works, subsequent invocations result in:

`Values for request parameters are invalid: networkAcls.virtualNetworkRules[*].id(unique). For more information, see - https://aka.ms/storagenetworkruleset`

In the spirit of https://github.com/Azure/azure-cli/blob/dev/doc/c

[2019-09-27 16:32] panchagnula commented on #10487
Python language uses '\' for escaping special characters in string. I don't think \\ is the problem here - can you try by having the same file in a different directory under your user profile & not system32 , I believe CLI doesn't have the privileges to read the file.

One more thing to check is are you running the CLI command line where you are running this command from as ADMIN.

[2019-09-27 17:52] alex-frankel opened #10674 "--handle-extended-json-format missing from subscription level az deployment create command"
**Describe the bug**
As of .74, the group deployment create command has the flag for --handle-extended-json-format, but it is missing from az deployment create. We will need it there as well.

As a side-note, can we have a short version of the flag? Maybe -j?

[2019-09-27 18:30] shurd commented on #10635
Hi @ragoragino thank you for this question. The CLI does support TTL for APIs that have TTL. You can see some examples here:
[SQL](https://docs.microsoft.com/en-us/cli/azure/cosmosdb/sql/container?view=azure-cli-latest#az-cosmosdb-sql-container-update)
[Cassandra](https://docs.microsoft.com/en-us/cli/azure/cosmosdb/cassandra/table/throughput?view=azure-cli-latest#az-cosmosdb-cassandra-table-throug

[2019-09-27 18:38] spottedmahn opened #10676 "Help for my acr repository list not formatted correctly"
## Describe the bug
Isn't the following missing a CRLF?

![image](https://user-images.githubusercontent.com/14079228/65793318-85730480-e133-11e9-83de-a9df212d936f.png)

**Command Name**
`az acr repository list`

**Errors:**
n/a

## To Reproduce:
- `az acr repository list`

## Expected Behavior
Shouldn't it be like this?

![image](https://user-images.githubusercontent.com/14079228/65793703-717bd280

[2019-09-27 18:45] seanmck commented on #10569
Need more information to investigate. Please reopen if this is still happening and you can answer my question above.

[2019-09-27 18:45] #10569 closed

[2019-09-27 22:06] shurd commented on #10650
Hi @crucibles thank you for opening this issue. We are working on trying to replicate this behavior. Do you know if a previous version of the CLI worked as expected on your machine?

[2019-09-27 23:51] jackchenquest opened #10677 "Got InvalidResourceType for any netappfiles command"
az netappfiles account list -g rg-netapp
Command group 'netappfiles' is in preview. It may be changed/removed in a future release.
Azure Error: InvalidResourceType
Message: The resource type could not be found in the namespace 'Microsoft.NetApp' for api version '2019-06-01'.

az -v
azure-cli                         2.0.74

command-modules-nspkg              2.0.3
core

[2019-09-27 23:53] jackchenquest commented on #10677
Please ignore it. I need to change subscription to the one with netapp enabled first.

[2019-09-27 23:53] #10677 closed

[2019-09-28 00:35] number213 commented on #9380
@MyronFanQiu strange, I don't see anything related to ddos in my enabled flags
@mancgupta could you please clarify if you need to get ddos custom policy activated in any way?

[2019-09-28 01:46] yonzhan commented on #10519
@mzms  Please help to make the swagger spec and related Python SDK PRs ready in public repo for us to implement the CLI.

[2019-09-28 02:05] yonzhan commented on #9030
@fengzhou-msft please take a look and comment.

[2019-09-28 02:20] yonzhan commented on #9592
@qwordy  We already planned in this sprint, right?

[2019-09-28 03:56] yonzhan commented on #6080
@jiasli please take a look and comment.

[2019-09-28 07:39] fengzhou-msft commented on #9030
@curiousminion starting from 2.0.72, azure-cli upgraded to openssl 1.1. please run `brew update` and `brew upgrade azure-cli` to install the lastest version to retry. let me know if you still have the SSL error after upgrade.

[2019-09-28 08:47] yonzhan commented on #10656
@Juliehzl  please take a look and comment

[2019-09-28 09:08] yonzhan commented on #10672
@MyronFanQiu please take a look and comment.

[2019-09-28 13:01] ragoragino commented on #10635
Hi @shurd,

thanks for your reply. However, I believe the links you sent me provide a way to enable just the default TTL. But what I meant was to enable per-document TTL which is currently Azure preview feature. I cannot find a way to enable that via az cli.

Nonetheless, I have found that terraform provides this feature via capabilities option (setting mongoEnableDocLevelTTL): https://www.terrafo

[2019-09-28 13:01] #10635 closed

[2019-09-28 14:44] Juliehzl commented on #10674
Hi @alex-frankel , thanks for your reaching out. I will add the --handle-extended-json-format parameter for `az deployment create` command and give it a short version for both two commands soon.

[2019-09-28 14:49] Juliehzl commented on #10656
Hi @wk-n, can you show me more information with `--debug` in your command? You can also try the new `az storage copy` command to do what you want. Anyway, please show me your debug information and I will help you figure what happened and hide the account key info if it is in your debug information.

[2019-09-28 14:52] Juliehzl commented on #9863
Sorry for late response. CLI team is in transition process in the past few months. I will try to fix it when available as soon as possible.

[2019-09-28 14:54] Juliehzl commented on #8532
Thanks for reaching out. I will look into it .

[2019-09-28 14:55] Juliehzl commented on #9826
Thanks for your feedback. We will improve it as soon as possible.

[2019-09-28 14:58] zhusulai commented on #9863
@Juliehzl Thank you. FYI, I tried your previous suggestions of setting `--auth-mode login` and it did work.

[2019-09-28 15:00] Juliehzl commented on #9863
Sounds good! In this way, I will close this issue and if you still have any problem when using azure cli, feel free to open a new one.

[2019-09-28 15:00] #9863 closed

[2019-09-28 17:08] yugangw-msft commented on #10676
This is not an ACR specific issue rather Python ArgParse's default behavior. @jiasli , let us keep it active in case we can do something at core layer to make the output layout more reasonable.

[2019-09-28 19:17] sahlemkharaka opened #10684 "Cant get valid access token with CLI - not a region problem"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --resource={}`

## Expected Beha

[2019-09-29 01:44] jiasli commented on #10684
Looks like the command is run in Cloud Shell. May I know the `--resource` provided? I can't repro using the default (ARM).

[2019-09-29 02:23] qwordy commented on #9592
Yes. But can't guarantee a fix in this sprint. First time for me to dive into extension.

[2019-09-29 02:24] MyronFanQiu commented on #10672
@Fastdruid Hello. If you want to use an ASG that is not in the same resource group. Please provide the resource ID for `--source-asgs` and have a try again. I think it will work.

[2019-09-29 02:25] MyronFanQiu commented on #10672
like `--source-asgs ASG-ID`

[2019-09-29 03:17] qwordy commented on #4611
https://github.com/Azure/azure-rest-api-specs/blob/master/arm-compute/quickstart-templates/aliases.json
This is the file that we use to convert alias to urn.
@jseely Thanks for creating the PR.
I agree. Let the CI task copy the latest file to project as a resource file. Then CLI/Powerver no longer need to visit github.

[2019-09-29 05:56] jiasli commented on #10676
[argparse](https://docs.python.org/3/library/argparse.html) doesn't print usage for every argument in a new line, according to https://github.com/python/cpython/blob/master/Lib/argparse.py#L324. It adds CRLF when `COLUMNS` env var (line width, by default 80) is reached.

If you find `COLUMNS` to be too small, set `COLUMNS` env var so that argparse can adjust the wrapping:
- Linux: `export COLUMNS`

[2019-09-29 07:27] alvnary18 opened #10685 "2019-09-29T07:24:28.4916779Z ##[error]Error: Azure login failed using Managed Service Identity"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2019-09-29 07:27] #10685 closed

[2019-09-29 08:13] qwordy commented on #9592
--ids should be ids of extensions. E.g. /subscriptions/0000-0000-0000-0000/resourceGroups/fytest2/providers/Microsoft.Compute/virtualMachines/vm1/extensions/LinuxDiagnostic

[2019-09-29 08:39] qwordy commented on #9757
PR merged.

[2019-09-29 08:39] #9757 closed

[2019-09-29 10:21] yuxisun1217 commented on #9757
Got it. Thank you so much!

[2019-09-29 12:26] fengzhou-msft commented on #10644
As per team discussion, it is not a good practice to lock versions with upper bound in setup file, since other software may depend on a higher version of the same package. We will take no further actions with this issue. This issue is unblocked with the release of tablulate 0.8.5,

[2019-09-29 12:26] #10644 closed

[2019-09-29 16:12] tamirkamara opened #10687 "az storage account create succeed but returns an invalid json"
**Describe the bug**
A [recent change](https://github.com/Azure/azure-cli/blob/93bbc71faccbef32fe3df3fc5cc953fa1277208d/src/azure-cli/azure/cli/command_modules/storage/operations/account.py#L24) in the storage account create command introduced a fixed warning about the default kind moving to StorageV2 in the near future. It is printed even when the output is requested in json which makes downstrea

[2019-09-29 19:31] nofunatall opened #10688 "Can't use a list of arguments/values stored in a variable for az commands"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I can't seem to get az storage commands (possibly might effect all commands haven't tested) to work using a list of arguments stored in a variable.

**Command Name**
`az storage blob list`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may

[2019-09-29 20:34] tamirkamara commented on #10447
I have the exact same issue with brand new storage account, no firewall rules and I'm the owner of the subscription. Very simple flow:
[code]

I'll just add that the cli prints the following before the exception provided in the first message:

Both values of the auth-mode param don't change anything.

@Juliehzl any progress on this?

[2019-09-29 21:08] vfabio opened #10689 "BUG az container attach"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container attach`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container attach --resource-group {} --name {}`

## Expected Behavior

#

[2019-09-30 01:02] yugangw-msft commented on #10526
This is not an ACR issue; rather a generic setup problem that the SDK azure-mgmt-resource(3.1.0) is missing. Moving to the setup area.
@fengzhou-msft, please follow up with the @dbilleci-lightstream, particularly what setup option was used to install the CLI.

[2019-09-30 01:41] #10676 closed

[2019-09-30 01:55] #9880 closed

[2019-09-30 02:05] qwordy commented on #8933
You can use `--public-ip-sku Standard` to specify a standard public ip sku.
Complete command:
[code]

[2019-09-30 02:39] jiasli commented on #10687
All `logger` messages are written to std.err which will not be saved to files or variables.

To save to a variable (on Linux), `out=$(az storage account create --name {} --resource-group {} --location eastus2 --sku Standard_LRS --output json)`

To save to a file, `az storage account create --name {} --resource-group {} --location eastus2 --sku Standard_LRS --output json > output.json`

To disable

[2019-09-30 02:47] yugangw-msft commented on #10142
@sdatta1, sorry for the delay. The error was more generic, not related with the command of `az acr login`
[code]
The question here is did you run the command behind a firewall/proxy or have a whitelists of IPs you can reach out?
There are a few diagnostics suggested at `https://github.com/docker/for-win/issues/611`, which you can try out, and let us know whether they help.

[2019-09-30 03:08] yugangw-msft commented on #9748
https://github.com/Azure/azure-cli/pull/10406 should have addressed this
CC: @northtyphoon

[2019-09-30 03:08] #9748 closed

[2019-09-30 03:08] peizhou298 opened #10692 "Arguments start with "-" cause error"
**Describe the bug**
If your command input starts with "-", it would throw an error "Excepted one argument".

**To Reproduce**
Type any command with a string argument, and give input starts with "-".
eg. this is our cli extension:
![Capture](https://user-images.githubusercontent.com/53513383/65847151-f18f7b80-e372-11e9-8598-1e27f86c5afd.PNG)

[2019-09-30 03:09] jiasli commented on #10688
Tested on Ubuntu Bash and it works well:

[code]

(To get a list of blob names, use `--query [].name`.)

You may append `--debug` to `az` to check the args received. In this case, it is correct:

If there is still problem, please kindly share the error message. Thanks.

[2019-09-30 03:10] jiasli commented on #10689
Please share the error message received. Thanks.

[2019-09-30 03:11] yugangw-msft commented on #9505
@tomko80, we are closing this issue due to inactivities, but we can reactivate it if you can respond to our question.

[2019-09-30 03:11] #9505 closed

[2019-09-30 03:16] yugangw-msft commented on #9112
Your contribution of https://github.com/Azure/azure-cli/pull/9459 handled it

[2019-09-30 03:16] #9112 closed

[2019-09-30 03:29] jiasli commented on #10692
This is actually an issue with python's **argparse**. See https://stackoverflow.com/questions/16174992/cant-get-argparse-to-read-quoted-string-with-dashes-in-it

`--jvm-options="-XxMaxSize=1024"` should work.

[2019-09-30 03:35] nofunatall commented on #10688
I had \ for line breaks in the arguments which was breaking it.
Close this thread then.

[2019-09-30 03:35] #10688 closed

[2019-09-30 04:42] #10538 closed

[2019-09-30 04:53] jiasli commented on #10688
Thanks for letting us know. Actually `\` shouldn't break the arg list.
[code]

[2019-09-30 04:53] shiv-rajawat opened #10693 "Adding CORS to Storage account blob failed with invalid xml error"
**Command Name**
`az storage cors add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login`
- `az storage cors add --account-name {} --origins {} --methods {} --allowed-headers {} --exposed-headers {} --max-age {} --services {}`

## Expected Behavior
A CORS entry should be added

[2019-09-30 04:58] yonzhan commented on #10526
@fengzhou-msft please take a look and comment.

[2019-09-30 05:01] jiasli commented on #10688
Thanks for letting us know. Actually `\` shouldn't break the arg list.

[code]

[2019-09-30 05:06] jiasli commented on #10688
Thanks for letting us know. Actually `\` shouldn't break the arg list. Make sure there is no space following `\`.

[code]

[2019-09-30 05:11] jiasli commented on #10644
Fixed in https://github.com/astanin/python-tabulate/issues/4

[2019-09-30 05:31] nofunatall commented on #10688
Put them within the quotes and it breaks.
________________________________
From: Jiashuo Li <notifications@github.com>
Sent: Monday, 30 September 2019 3:06 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: nofunatall <r.toms@live.com>; State change <state_change@noreply.github.com>
Subject: Re: [Azure/azure-cli] Can't use a list of arguments/values stored in a variable for az commands (#10

[2019-09-30 05:42] tamirkamara commented on #10687
Hi,
Thank you @jiasli however I don't think your suggestion is practical in my scenario - I'm working from within python as a cli extension and calling other cli commands. This was the decision back when the extension was created...
You can view the section where this happens here: https://github.com/Azure/azure-cli-extensions/blob/master/src/image-copy/azext_imagecopy/cli_utils.py#L21

@tjprescot

[2019-09-30 05:57] Juliehzl commented on #10673
Hi @jurjenoskam , thanks for your feedback. We are looking into it.

[2019-09-30 07:23] wk-n commented on #10656
Hi @Juliehzl, I've made more tests and looks like it's some kind of network issue, unlike the error message. I've done the same steps on 4 environments (linux vm in Azure, linux server standalone and 2runs on same windows laptop, but inside and outside corporate network).

Problem exist only on windows laptop behind corporate network, but with error message:
[code]
As i said - same laptop outside

[2019-09-30 08:42] jjindrich opened #10694 "How to disassociate routetable from subnet ?"
Hi, how can I remove route table association from existing subnet ?
For association using this:
az network vnet subnet update -g $rg -n XXX --vnet-name YYY --route-table RTNAME
What to use to remove association ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 385e420c-4bd0-3ddd-d9cd-a9a411ec1f7b
* Version Independent I

[2019-09-30 09:57] apurvc commented on #7489
My use case was getting the pfx from keyvault and upload that in Azure Apim instance, we tried what @bradwilson has suggested and then uploaded the pfx via Rest API.

Not sure if that is the best option but that has worked.

[2019-09-30 10:58] vfabio commented on #10689
Hi,

        Follow the error:
[root@unknown ~]# az container exec \

The command failed with an unexpected error. Here is the traceback:

[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:618)
Traceback (most recent call last):
  File "/usr/lib64/az/lib/python2.7/site-packages/knack/cli.py", line 206,
in invoke
    cmd_result = self.invocation.execute(args)
  File
"/usr/lib64/az/

[2019-09-30 12:18] prabhakarreddy1234 opened #10696 "How to specify currency in az consumption budget create command"
I don't see a way to specify `currency` in  `az consumption budget create`  command. By default it's taking $. But i want GBP and AUD at least.

### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az consumption budget create`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command argume

[2019-09-30 12:30] centiqmurphy opened #10697 "AttributeError: 'unicode' object has no attribute 'get'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault list --verbose`

## Expected Behavior

## Environment Summa

[2019-09-30 13:28] tfitzmac commented on #10324
No, I don't own that aka link.

@lpavel - are you able to change the link in the error message to go to the link from @alex-frankel ?

[2019-09-30 13:35] CraigWiand commented on #9592
I disagree wit this approach.  Having --ids of the extension paths serves little utility in my opinion.  What I want to do is be able to do a `az vm list --query ` and have that as input to this operation such that I can run an extension against all the VMs in my query (e.g. custom script).  My expectation is that I could use `--ids` for this instead of the `--vm-name` and `--resource-group`.

I b

[2019-09-30 13:53] deaksa opened #10698 ""az ad app permission add" description not understandable"
Under the Required Parameters, the --api-permissions property documentation states this:
Space seperated list of =.
The values next to the "=" are not visible.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a5b5348-f67e-ef14-0529-4c80fddd4bc6
* Version Independent ID: bfd7e6b1-1fba-3d25-8ee3-5105bcf4157d
* Content: [a

[2019-09-30 13:59] sahlemkharaka commented on #10684
Yes.  I think I figured it out.

Thanks again

On Sat, Sep 28, 2019 at 6:44 PM Jiashuo Li <notifications@github.com> wrote:

--
Sahlem Kharaka
VP of IT
linkedin.com/in/Sahlem

[2019-09-30 14:24] spottedmahn commented on #10676
Thanks for the quick response.  I see now, there's a dependency on [argparse](https://docs.python.org/3/library/argparse.html) that controls the behavior.

My 2cents is I don't necessarily care that every arg is on its own line but that **an arg doesn't cross** lines, I find that hard to follow.

[2019-09-30 14:37] jurgyy commented on #10562
Any updates?

In the meanwhile, some debug information:

With the following body

    {\"foo\":\"this is foo\",\"bar\":\"this is bar\",\"description\":\"this is desc\",\"baz\":\"this is baz\"}

`az rest` with the `--debug` flag shows the problem

[code]

Notice the strange comma separation of the json in the command arguments and the number of `{}` in az_command_data_logger.

[2019-09-30 14:49] fengzhou-msft commented on #10526
@dbilleci-lightstream please describe how you installed azure-cli. Based on the error message, the dependency package azure-mgmt-resource is missing.

[2019-09-30 14:52] yugangw-msft commented on #8960
@dluc, we are closing this issue, but feel free to reactivate if you can provide a debug trace `az acr login -n myregistry --debug`

[2019-09-30 14:52] #8960 closed

[2019-09-30 14:55] yugangw-msft commented on #8932
@abhishekkarigar, we are closing this issue, but feel free to reactivate if you can provide the error text of pip install

[2019-09-30 14:55] #8932 closed

[2019-09-30 16:03] dbilleci-lightstream commented on #10526
with ansible:

[code]

[2019-09-30 16:21] CharmanderJieniJieni commented on #10694
+1

[2019-09-30 16:42] alex-frankel commented on #9087
Hi,

We are working on a fix now that will return line number and position number when there is an error in deployment. Will update this once the feature is released.

Thanks,
Alex

[2019-09-30 17:07] shurd commented on #4505
Hi everyone. The change has been deployed and you can now create accounts with global database account name length of 44 and region ids of up to 63 characters.

[2019-09-30 17:07] #4505 closed

[2019-09-30 17:08] CharmanderJieniJieni commented on #10694
foud it, use --remove routeTable

[2019-09-30 17:25] rajaprad opened #10699 "Ability to download (download - batch) folders/sub-path from Container"
**Is your feature request related to a problem? Please describe.**
Unlike upload-batch, there is no option in download-batch to target a folder in the container. There is option just for the container url which means entire container download is forced.

My File Structure is like below, and i want to download just the folder **_grandchild_** and its contents.
"https://pradebban.blob.core.windows.n

[2019-09-30 17:37] pangiole opened #10700 "Cannot create DataLake Gen2 container using AZ CLI yet"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage container create --name {} --account-name {} --ac

[2019-09-30 18:14] shurd commented on #10650
Hi @crucibles, can you please retry the command and also specify `--debug` as a parameter? This will show more details about what is happening. Based on the error message, it looks like "azure-mgmt-cosmosdb" is not properly loaded.

[2019-09-30 18:49] darshit95 opened #10701 "Azure CLI issue : raise error, v # invalid expression while creating nic interface or getting pulic-ip list using azure-cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network public-ip list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network public-ip list`

## Expected Behavior

## Environme

[2019-09-30 18:59] mrwizard82d1 opened #10702 "Enable setting "auto pause" value when creating databases"
**Is your feature request related to a problem? Please describe.**
I want to create a SQL database with a non-default auto-pause delay. I see no option to accomplish via azure cli (although it appears available via Powershell).

**Describe the solution you'd like**
I'd like to run the command
`az sql db create ... --auto-pause-delay-hours 2` to set the auto-pause delay to 2 hours

**Describe alter

[2019-09-30 19:03] jjindrich commented on #10694
@CharmanderJieniJieni thank you ! I would suggest to update documentation.

[2019-09-30 19:13] maravmsft opened #10703 "AZ CLI support for Firewall Policy"
**Resource Provider**
What is the Azure resource provider your feature is part of?
NFVRP (Microsoft.Network)

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
Firewall manager is a new service we are launching which manages several Azure Firewalls in Hub. As part of this we have a new r

[2019-09-30 20:47] Spyntek commented on #10637
$iothubend = az iot hub routing-endpoint list --endpoint-type eventhub  --hub-name $iothubname `
-g $resgroup --subscription $subname | ConvertFrom-Json

[2019-09-30 21:05] jlian commented on #10637
I thought the error came from `delete`, not `list`?

[2019-09-30 21:56] gbowerman opened #10704 "Add a confirm option to CLI vm create commands which cause downtime"
Reference: Feature 4947992: [Linux E2E] Add a confirm option to CLI vm create commands which cause downtime

**Description:**
"If you az vm create with a size, say DS1_v3, and then repeat that same command with DS2_v3 or another size, it changes the VM size. (I was trying to create many instances and forgot to change the -n parameter)

It might be by design, but I wonder if we should warn customer

[2019-09-30 22:21] panchagnula commented on #10664
@sbhuttan the command support only the latest VNET integration feature - Regional VNET & not classic or V2VNET - this message

are on different regions & this need to be the same region - that's by design. if are trying to use the classic or point to site please use portal, for RegionalVNET - the VNET & APP resources should be created on the same region/location.

[2019-09-30 22:49] Hazhzeng opened #10705 "TestSDK utilities.py fails to convert byte to string for test recording"
**Describe the bug**
When implementing an E2E test scenario to upload a zip file to a storage account, the _py3_byte_to_str() function inside testsdk/utilities.py fails to convert byte to string.

This affects the recording in `env\lib\site-packages\azure_devtools\scenario_tests\base.py:157` if the test is decorated by StorageAccountPreparer

**To Reproduce**
1. Paste the following e2e test scenar

[2019-09-30 22:52] Hazhzeng commented on #10705
This issue is related to https://github.com/Azure/azure-cli/pull/9784#issuecomment-505541134
cc: @ankitkumarr

[2019-10-01 00:36] panchagnula commented on #10664
if they are in the same region can you share the name of the app & VNET? thank you.

[2019-10-01 00:40] juliusl commented on #10426
@jiasli Yup that seems to fix it. Closing now. Thanks!

[2019-10-01 00:40] #10426 closed

[2019-10-01 00:41] ankitkumarr commented on #10207
I apologize that this got lost somewhere. Would you mind sharing the ID along with an approximate time-period for me to dig this down.

I will prioritize this for this week and get back to you as soon as I have the above information.

[2019-10-01 04:51] Juliehzl commented on #10700
Hi @angiolep, thanks for your reaching out. We already have planned for it with service team. We will do it as soon as possible.

[2019-10-01 05:01] Juliehzl commented on #10699
Hi @rajaprad, thanks for your feedback. If you want to download a folder in container, you can try  `az storage copy` command.

[2019-10-01 05:05] MyronFanQiu commented on #10703
@maravmsft We will plan for it. Thanks.

[2019-10-01 05:06] MyronFanQiu commented on #10694
@jjindrich Thanks. We will take a look and improve the doc.

[2019-10-01 05:09] MyronFanQiu commented on #10701
@darshit95 Thanks. I will take a look at this issue.

[2019-10-01 05:24] Juliehzl commented on #10693
Hi @shiv-rajawat, I can't see the command details you run. But typically, this is because cmd doesn't parse single quote `'*'`, can you try  bare * instead? e.g.  `--allowed-headers *`. If it still don't work, please show me your command details with `--debug` in your command.

[2019-10-01 05:27] kumarinfo90 opened #10707 "azure bot deployment fails using azure cli."
we trying to deploy our bot application to azure and its failing with the below error ,please let me know if anyone familiar with this kind of issues.

$az webapp deployment  source config-zip --resource-group "Resource group name" --name  "sps-custjrn"  --src "deploy.zip"

Zip deployment failed. {'id': 'd529aca9c05b4754u409u094i81c6350e', 'status': 3, 'status_text': '', 'author_email': 'N/A',
'au

[2019-10-01 05:42] Drewm3 commented on #8933
Moving this over to @yonzhan who is the owner of the CLI, and removing Service Attention. This needs to be fixed in the CLI when it automatically creates IP addresses it must create a standard IP address instead of a basic IP address when the IP address is being created to be used with a zonal VM.

[2019-10-01 06:21] shiv-rajawat commented on #10693
@Juliehzl Yes it was the single quotes. Closing the issue, and thanks a lot for the help.

[2019-10-01 06:21] #10693 closed

[2019-10-01 06:48] michaelw85 opened #10708 "Unclear how to start using (this) preview feature"
It took me quite some time to find a blog where it shown to use `az extension add --name azure-devops` to be able to start using the az pipelines command. It would be nice if there would be some explanation that this is part of the azure-devops extension and should be installed.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2019-10-01 09:36] abelal83 opened #10710 "Python has stopped working"
**Describe the bug**
When running az is succeeds however, Python has stopped working always pops up.
Attaching a debugger shows this

[code]

**To Reproduce**
run az

**Expected behavior**
Error should not appear

**Environment summary**
Windows-10-10.0.14393-SP0
Python 3.6.6
Shell: cmd.exe

azure-cli 2.0.74

Extensions:
interactive 0.4.1

**Additional context**
uninstall and reinstalled several t

[2019-10-01 11:13] rhummelmose opened #10711 "Access app role assignments for service principals"
**Is your feature request related to a problem? Please describe.**
When interacting with Azure Active Directory, creating app registrations, creating service principals and granting consent for both role- and delegated permissions, there is an unpredictable delay between when the API accepts a resource changing request and when the change is actually visible by querying the API.
Because of this we

[2019-10-01 12:00] Spyntek commented on #10496
When should we expect a fix for this issue?

[2019-10-01 12:10] d4md1n opened #10712 "Is az network application-gateway ssl-cert update --keyvault-secret-id a valid option?"
I am trying to set a certificate on an appgw instance using the keyvault reference instead of providing the file
but I get the following error az: error: unrecognized arguments: --key-vault-secret-id

Looking on the help manual ( az network application-gateway ssl-cert update --help) there is no such option, is this option
 in documentation valid?

---
#### Document Details

⚠ *Do not edit this se

[2019-10-01 12:49] bcmonk opened #10713 "Quickstart Python Webapp up ResourceGroup issue"
Just running this tutorial - https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-python
Fails on the "az webapp up" steps

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contai

[2019-10-01 14:31] ferantivero commented on #10574
Also getting same issue here. @rodbutters In my case re-trying will do the trick

[2019-10-01 14:42] jurgyy opened #10714 "az rest response code"
**Is your feature request related to a problem? Please describe.**
Currently when making `put` or `patch` requests using `az rest` it can be unclear whether the request is executed successfully. Unsuccessful execution returns an error, but there are certain commands that have multiple successful responses such as [api create/update](https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-01-0

[2019-10-01 15:38] yonzhan commented on #10704
@qwordy  please take a look and comment.

[2019-10-01 15:48] jaredmoo commented on #10702
Thank you for the feedback! Let me chat with the team and find out what our plans are.

[2019-10-01 16:11] gettek opened #10715 "MSI Install as User Context"
**Is your feature request related to a problem? Please describe.**
As a Windows user without Administrative privileges it would be beneficial to have the option to install the MSI under the **per-user installation** context instead of **per-machine**

**Describe the solution you'd like**
Current [install instructions](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-

[2019-10-01 16:17] yonzhan commented on #8933
@Drewm3 we will triage and plan it after National holiday.

[2019-10-01 17:43] adewaleo commented on #9592
I think `--ids` accepting a list of VM's makes sense. It would be good to discuss this with your team @qwordy after the holiday over there.

cc: @yugangw-msft @yonzhan

[2019-10-01 17:59] singhkays opened #10716 "Generate a test CLI build for Gallery API version 2019-07-01"
**Resource Provider**
Azure.Compute

**Description of Feature or Work Requested**
We need help from CLI team to generate test CLI tooling for Shared Image Gallery service from our new swagger file. The new swagger file contains a new api-version and a few new API fields: https://github.com/Azure/azure-rest-api-specs/pull/6745

**Minimum API Version Required**
2018-06-01

**Swagger Link**
https://g

[2019-10-01 18:55] jaredmoo commented on #10702
Looks like we plan to implement this in the next 1-2 months :)

[2019-10-01 19:55] ankitkumarr commented on #9811
Blocked on https://github.com/Azure/azure-cli/issues/10705

[2019-10-01 21:12] poochwashere opened #10717 "AKS VMSS - Cannot enable on existing cluster."
**Describe the bug**
I am trying to enable `VMSS` on an existing `AKS` cluster. Per the latest AKS announcement this should be GA now.

[code]

https://github.com/Azure/AKS/releases/tag/2019-09-09

**To Reproduce**

[code]

**Expected behavior**
Enable autoscaler on cluster...

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`a

[2019-10-01 21:24] danielsollondon commented on #10551
Hi @qwordy, have you checked out the video and reading material?

[2019-10-01 21:52] Dalubash commented on #10352
@vaishnavk Anders indicated you were the owner for this area.

[2019-10-01 22:00] Dalubash commented on #10417
@dkamstra Duke can you respond on this request please.

[2019-10-01 22:02] Dalubash commented on #10283
@nkiest Please update.

[2019-10-01 22:39] nkiest commented on #8010
We are shipping the new API method "Subscription Diagnostic Settings" this month. The CLI should be available shortly thereafter.

[2019-10-01 23:51] yonzhan commented on #10703
@MyronFanQiu  this is planned for Ignite release.

[2019-10-02 00:06] yonzhan commented on #10663
@jiasli  please take a look and comment.

[2019-10-02 00:13] achandmsft commented on #10697
Hi @centiqmurphy, Thanks for reporting this issue. An underlying error is probably being swallowed by a format mismatch. Could you please run the command with '--debug' and let us know what you get?

[2019-10-02 00:13] yonzhan commented on #10662
@jiasli please take a look and comment.

[2019-10-02 00:14] yonzhan commented on #10659
@fengzhou-msft  please take a look and comment.

[2019-10-02 00:14] yonzhan commented on #10657
@jiasli  please take a look and comment.

[2019-10-02 00:26] yonzhan commented on #10698
@jiasli  please take a look and comment.

[2019-10-02 00:51] hichemaichour commented on #6499
Is there any work-around?

[2019-10-02 01:17] fengzhou-msft commented on #10705
@Hazhzeng Thanks for reporting the issue. I will look into details next week after holidays.

[2019-10-02 01:21] fengzhou-msft commented on #10659
@gfoligna Thanks for the suggestion. We will evaulate this change.

[2019-10-02 04:23] #10708 closed

[2019-10-02 04:23] maggiepint commented on #10708
Issue moved to [Azure/azure-cli-extensions #976](https://github.com/Azure/azure-cli-extensions/issues/976) via [**ZenHub**](https://www.zenhub.com/)

[2019-10-02 04:24] maggiepint commented on #10708
Hey - moved this over to the extensions repo. Happy to help you there.

[2019-10-02 05:27] maggiepint commented on #10714
Hi,
I've routed this to the appropriate team for follow-up.

[2019-10-02 05:30] maggiepint commented on #10715
@mozehgir can you route this request appropriately?

[2019-10-02 05:32] juyamash opened #10718 "Error when run 'az ad app permission add'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad app permission add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad app permission add --id {} --api {} --api-permissions {}`

[2019-10-02 06:39] t-my commented on #4897
Could we have an optional parameter in ARM template that signifies if the disks will be deleted or not. Much like cascade rule on databases.

[2019-10-02 07:52] abelal83 commented on #10710
resolved by removing ALL python environment variables

[2019-10-02 07:52] #10710 closed

[2019-10-02 08:44] centiqmurphy commented on #10697
they error happened when running in azure cli that had been pip installed, reinstalling azure cli with apt removes issue and creates a new one.
the current issue i get when runnning the same code is "'str' object has no attribute 'get'". this code runs fine on others running the same wsl enviroment

[2019-10-02 08:51] arjunDhanAi commented on #9730
Hi,
I am seeing the same issue today i.e (october 2nd IST). I am using the azure devops to deploy my app, but it is continously throwing the same error.
2019-10-02T08:43:21.5488443Z WARNING: Starting zip deployment. This operation can take a while to complete ...
2019-10-02T08:48:01.9385853Z ERROR: The command failed with an unexpected error. Here is the traceback:
2019-10-02T08:48:01.9386555Z
201

[2019-10-02 08:57] centiqmurphy commented on #10697
unexpected token at 'ERROR: The command failed with an unexpected error. Here is the traceback:

      ERROR: 'str' object has no attribute 'get'
      Traceback (most recent call last):
        File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
          cmd_result = self.invocation.execute(args)
        File "/opt/az/lib/python3.6/site-packages/azure/cli/core/commands/_

[2019-10-02 09:30] yugangw-msft commented on #6795
I would suggest Java SDK team just documents that users can invoke `az acr credential show -n <ACR>` and then propagate the output to the maven xml file. Yes, this requires admin user enabled, but otherwise CLI can only provide 1 hour long token which is not meaningful to be persisted either.
Kubectl has much tighter relationship with AKS in a sense that you can't manage AKS w/o kubectl, hence it

[2019-10-02 09:43] yugangw-msft commented on #7142
It was finished. Thanks @mnltejaswini

[2019-10-02 09:43] #7142 closed

[2019-10-02 09:48] yugangw-msft commented on #6952
Looks like https://github.com/Azure/azure-cli/pull/7255 has handled this
@northtyphoon, please reactivate otherwise.

[2019-10-02 09:48] #6952 closed

[2019-10-02 10:11] yugangw-msft commented on #7438
Closing, as the original issue was considered fixed. @LudwigTirazona, please let us know otherwise
@dibraser, please open a new issue per suggestion from @yuwaMSFT2.

[2019-10-02 10:11] #7438 closed

[2019-10-02 12:02] jurjenoskam opened #10719 "az monitor diagnostic-settings categories list incorrectly always returns an empty list"
(On azure-cli 2.0.74 using the Cloud Shell; I did not try any other versions)

`az monitor diagnostic-settings categories list` always returns an empty list of categories, even though the resource does have categories. This happens with every resource type I tried. Example:

[code]

I would expect the first command to return the same list of categories as the second command.

I believe this is cau

[2019-10-02 12:04] yugangw-msft commented on #7805
Sorry the delay.
Based on the [doc](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-roles), ` AcrPush` should be sufficient. The key is whether you ran `az acr helm repo add -n <ACR-Name>` to initialize helm with required credentials so push would work through `az acr helm push`. Do check out the [e2e](https://docs.microsoft.com/en-us/azure/container-registry/container

[2019-10-02 12:36] ArgTang opened #10720 "Error in az ad app create --credential-description"
**Describe the bug**
When creating ad app with credentials-description you may get an error if it is too long
[code]

**Expected behavior**
If this is intended behaviour, a better logmessage would be very helpful in identifying which argument is wrong. there is no argument called `applicationKeyIdentifierValue` in the command so it is hard to know what went wrong here

[2019-10-02 13:24] qwordy commented on #10704
It's by design. It's called idempotence.
https://blogs.msdn.microsoft.com/cloud_solution_architect/2017/08/09/understanding-idempotence-and-scope-in-azure-resource-manager-templates/
But we'll discuss your advice.

[2019-10-02 13:29] qwordy commented on #8933
It's a feasible method.  It seems some regions such as East US 2 are allowing Basic IP addresses to be used for Zonal VMs. Will users complain that an expensive standard IP address are automatically created?

[2019-10-02 13:44] yugangw-msft opened #10721 "CI: travis task of 'Integration for profiles' is failing"
I am disabling this task, meanwhile let us investigate for the root cause
Note, we have 2 tasks on this. Python 2.7 one works; while 3.6 is failing
[code]

[2019-10-02 13:46] qwordy commented on #9592
I'm on holiday from 1st Oct to 7th Oct . --ids is a general parameter in Azure CLI. It doesn't support the usage you expect. But your advice is great. We'll discuss if it's feasible later.

[2019-10-02 13:53] yonzhan commented on #10317
@MyronFanQiu  please take a look and comment.

[2019-10-02 14:50] bureado commented on #10704
I disagree that this behavior is a result of idempotent design. I think the concepts are orthogonal.

I don't think anyone is disagreeing that issuing a second `az vm create` command with different parameters will result in a scoped deployment that is sufficiently different from the original one to mutate the state of the resource.

The point of this issue is that, unlike the example covered in th

[2019-10-02 16:08] coldwell opened #10723 "Manage Azure SQL Database long-term backup retention"
**Describe the solution you'd like**
I would like to be able to manage Azure SQL Database long-term backup retention from the az cli. I currently switch to powershell and utilize Az.Sql/AzureRM.Sql to accomplish this from a script.

**Additional context**
This documentation describes what I'd like to accomplish, but with az cli.
https://docs.microsoft.com/en-us/azure/sql-database/sql-database-long

[2019-10-02 16:29] martinvelos opened #10724 "Assigning "Monitoring Metrics Publisher" role to AKS fails"
## Trying to enable advanced aks monitoring according to https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-update-metrics#upgrade-per-cluster-using-azure-cli was very poor on pointing on the right <clusterResourceId> format. When I gave URL from Azure portal for try, the `az` failed.

**Command Name**
`az role assignment create`

**Errors:**
[code]

## To Reproduce:

[2019-10-02 16:54] stevengum commented on #9954
@ericchansen, the changes went live so you should be able to call the update API for Direct Line now.

Yesterday I tested the calling the API via a local branch of Azure CLI and it worked.

I'm planning on adding support for this API in the Azure CLI in either sprint 75 or sprint 76. (Azure CLI version 2.0.75 or 2.0.76)

[2019-10-02 18:34] cristhianbicca commented on #7489
My use case is:
Generate pem with cert and key, after this imported in azure:
az keyvault certificate import --file certandkey.pem --name test --vault-name kevaulttest

When download in Azure:
az keyvault certificate download --vault-name kevaulttest -n test -f certificate.pem

Only certificate with:

 -----BEGIN CERTIFICATE----- -----END CERTIFICATE-----

Private key not show in certificate.pem

[2019-10-02 19:10] adewaleo commented on #9592
Hello @qwordy, no problem, let's continue this conversation when you are back.

I would say that even though --ids is a general parameter, its presence and behavior depends on code in params.py. If you don't specify id_part, then I don't believe --ids will be exposed. And how --ids behaves depends on which parameter you specify id_part on.

When setting an extensions you need to specify the extens

[2019-10-02 19:30] adewaleo commented on #4897
I am no longer on the CLI team. Hmm, the CLI is a client of ARM / Compute, I think this would need to be a feature request to the Azure Compute Service.

cc: @qwordy @yonzhan

Do you think you could follow up on this issue?

[2019-10-02 19:33] bradwilson commented on #7489
This is just how these APIs work in Azure Key Vault. The "get certificate" API is only intended to permit access to the public part of the certificate; if you need access to the private key, then you request the certificate through the "get secret" API.

[2019-10-02 20:13] dkamstra commented on #10417
The updates to PowerShell were merged into the public repo over the past couple days. Current ETA for corresponding updates to the CLI is late November.

[2019-10-02 21:09] tejasshah7 opened #10725 "Support for Destination FQDNs in Network Rule and Translated FQDN in NAT Rule"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Network (NRP)

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.

Need support for following 2 things:

- Just like the option to specify Destination IPs while configuring Network Rule, need a new option t

[2019-10-02 21:27] maggiepint commented on #10720
Thanks for the feedback - I have routed to the appropriate team for follow up.

[2019-10-02 21:53] ssripadham opened #10726 "Support for Source & Destination IpGroups in AzureFirewall Rules"
### **Resource Provider**
 Microsoft.Network

### Description of Feature or Work Requested

We are building a facility in Azure Networking that will allow Azure customers to group of Ip Address prefixes to define rules in Azure Networking. This will help customers manage & minimize the overall complexity for security rules creation.

Customer will create an IpGroups (new top-level resource) and sp

[2019-10-02 23:44] yonzhan commented on #10509
@zikalino please take a look and comment.

[2019-10-03 00:04] Drewm3 commented on #10717
AKS team, could you please look into this issue.

[2019-10-03 00:24] jluk commented on #10717
@poochwashere the az aks nodepool command set is still in public preview, please reference the multiple node pools document. In addition the cluster autoscaler feature is also in preview.
https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#before-you-begin

The release notes describe the availability of being able to select a cluster backed by VMSS or VMAS, please refer to these rel

[2019-10-03 00:24] #10717 closed

[2019-10-03 00:32] ibabou commented on #10352
@porrascarlos802018
VN utilizes the same omsagent secret used by omsagents on AKS cluster’s nodes. and workspace information is passed along during the creation of pods on ACI side (that’s how the sidecar monitoring agents on ACI side gets configured).

I believe the main purpose is to get the logs collected and pushed to the same loganalytics workspace used by AKS cluster. So a short answer is th

[2019-10-03 00:40] yonzhan commented on #10697
@jiasli  please take a look and comment.

[2019-10-03 00:49] yonzhan commented on #10716
@qwordy please take a look and comment.

[2019-10-03 03:10] ianiona opened #10727 "Invalid resource name"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob upload-batch`

**Errors:**
az storage blob upload-batch

ERROR: The specifed resource name contains invalid characters. ErrorCode: InvalidResourceName.

No error when ran at terminal but error thrown at Azure CLI at DevOps

## To Reproduce:
Steps to reproduce the behavior. Not

[2019-10-03 03:21] Juliehzl commented on #10727
Hi @ianiona, thanks for your feedback. Can you show me more information with `--debug` appending your original command? Do you have `$` in your parameter value?

[2019-10-03 03:27] ianiona commented on #10727
Yes I have $. I use it like this az storage blob upload-batch --account-name $(STORAGE_ACCOUNT_NAME) --account-key $(STORAGE_ACCOUNT_KEY) --destination '$web' --source $(SOURCE_DIR).

I ran same command on Windows powershell and it's okay. then on command-line, I was able to reproduce the error I got from Azure DevOps

[2019-10-03 03:53] arjunDhanAi commented on #9730
Hi @panchagnula,

Can you please look into the above issue and help. We are stuck in the middle of deployment and i am finding no answers to this problem on the net.
just point me in the direction where I can find the solution, I will try to get it on.

Thanks
Arjun Narasimha K

[2019-10-03 04:17] ianiona commented on #10727
d19kk5tx1152pj.cloudfront.net
2019-10-03T03:26:30.6335749Z ##[section]Starting: Azure CLI
2019-10-03T03:26:30.6457269Z ==============================================================================
2019-10-03T03:26:30.6457409Z Task         : Azure CLI
2019-10-03T03:26:30.6457492Z Description  : Run Azure CLI commands against an Azure subscription in a Shell script when running on Linux agent or Ba

[2019-10-03 04:18] ianiona commented on #10727
d19kk5tx1152pj.cloudfront.net
2019-10-03T03:26:30.6335749Z ##[section]Starting: Azure CLI
2019-10-03T03:26:30.6457269Z ==============================================================================
2019-10-03T03:26:30.6457409Z Task         : Azure CLI
2019-10-03T03:26:30.6457492Z Description  : Run Azure CLI commands against an Azure subscription in a Shell script when running on Linux agent or Ba

[2019-10-03 04:51] oneoneonepig opened #10728 "az vm create - option "--subnet" having incorrect behavior"
## Describe the bug

**Command Name**
`az vm create`

**Errors:**
Unable to delete the subnet 'Default' because the subnet is in used

## To Reproduce:
- Multiple VM instances are created with the same vnet "MyRG-vnet" and subnet "Default" within it
- Only a single vnet and a single subnet exist in the resource group
- `az vm create -n MyRG --image Win2019Datacenter --size Standard_D2s_v3 --nsg sq

[2019-10-03 05:37] qwordy commented on #10716
We have received the feature request.

[2019-10-03 05:44] qwordy commented on #4897
Sure. I'll look into it after holiday (1st Oct ~ 7th Oct).

[2019-10-03 06:21] ianemv opened #10729 "Azure CLI not working in command-prompt"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob upload-batch`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

Run an az storage upload-batch to Powershell command and command prompt.

- _Put any pre-requisite ste

[2019-10-03 07:05] ianiona commented on #10727
Why it would throw an error InvalidResourceName when it does not with Powershell

[2019-10-03 07:07] MyronFanQiu commented on #10726
@ssripadham Hello. Thanks. We will plan for Ignite. We have a release just before Ignite.

[2019-10-03 07:08] MyronFanQiu commented on #10725
@tejasshah7 Thanks. We will include this issue in the plan for Ignite.

[2019-10-03 07:14] shin-akuma commented on #10218
Same issue with ARM template. I've assigned value 'laravel-main' to parameters('databaseName') and the resource below returns error 'InvalidDatabaseName  The provided database name is invalid'
                 {
                    "type": "Microsoft.DBforMySQL/servers/databases",
                    "apiversion": "2017-12-01",
                    "name": "[concat(parameters('serverName'), '/', pa

[2019-10-03 07:46] milkshakeuk opened #10730 "JMESPATH query fails when using az cli with gitbash"
**Describe the bug**
When trying to use any az cli command which supports JMESPATH under gitbash the command fails.

**Example**
[code]

If I run the same command with cmd.exe:

[code]

**To Reproduce**
See example above

**Expected behavior**
I would expect gitbash to work the same as cmd.exe

**Environment summary**
installed azure cli using the msi installer

Windows-10-10.0.18362-SP0
Python 3.

[2019-10-03 07:55] algattik opened #10731 "Add doc on how to pass array parameters"
This is explained at https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-deploy-cli#inline-parameters but missing in this doc page.

To pass inline parameters, provide the values in parameters. For example, to pass a string and array to a template is a Bash shell, use:

Azure CLI

Copy
az group deployment create \
  --resource-group testgroup \
  --template-file d

[2019-10-03 07:56] ianiona commented on #10727
Resolved: Use Linux instead of Windows in Azure DevOps

[2019-10-03 07:56] #10727 closed

[2019-10-03 09:40] jpr-edfl opened #10732 "how to view schema extensions data using group or user list ?"
How can I retrieve schema extensions (added via Graph API) using az-cli ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 34960494-f5eb-4144-b508-0573f7382e40
* Version Independent ID: 0c7138d1-9849-0b71-8e76-22d0116ff663
* Content: [az ad group](https://docs.microsoft.com/en-us/cli/azure/ad/group?view=azure-cli-latest#

[2019-10-03 10:04] michaelw85 commented on #10518
@Juliehzl Any update on this topic? This is blocking me from updating the cli, at some point this will become an issue

[2019-10-03 12:07] mmulhearn opened #10733 "web app update for slot doesn't work"
**Versions**
azure-cli                         2.0.74
command-modules-nspkg              2.0.3
core                              2.0.74
nspkg                              3.0.4
telemetry                          1.0.3

**Describe the bug**
I'm attempting to automate resource tagging in across different subscriptions for reporting purposes.  My script works fine against production-slots, however, n

[2019-10-03 12:33] kumarinfo90 commented on #10707
Have any update on this please.

[2019-10-03 12:37] ezzy1337 opened #10734 "Required fields are not listed in --help output"
### **This is autogenerated. Please review and update as needed.**
A user must specify either `--resource-group` and  `--name` parameters or the `--ids` parameter when setting a connection string. None of these fields are documented in the `--help` output.

## Describe the bug

**Command Name**
`az webapp config connection-string set --help`

**Errors:**
The `--help` output does not mark `--resour

[2019-10-03 12:38] ezzy1337 commented on #10734
I'm game for fixing this but could use help understanding how the documentation is being generated. I've found the `_params.py` file where I think the change needs to be made, just can't find any examples of how to do it.

[2019-10-03 13:29] ezzy1337 opened #10735 "Required fields are not listed in apim create --help output"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
A user must specify `--publisher-name` when creating a new APIM resource. This is not currently documented.

**Command Name**
`az apim create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put a

[2019-10-03 13:33] rem-aj commented on #7065
Hello @tjprescott I notice this issue is closed since last summer, however I am still experiencing this issue currently, passing in subscription ID as a workaround doesnt fix it either.

$ az network watcher flow-log configure --resource-group XXX--enabled true --nsg XXX--storage-account XXX
ResourceNotFound - The Resource 'Microsoft.Storage/storageAccounts/XXX' under resource group 'XXX' was not

[2019-10-03 13:41] imabedalghafer opened #10737 "az resource tag failed with error : Required parameter 'storageAccountId' is missing (null)."
**Describe the bug**
When a managed disk is created from unamanged disk on the portal , the storage account ID is missing when it is there as in below:
 $disk.CreationData
CreateOption     : Import
StorageAccountId :
ImageReference   :
SourceUri        : https://xxxxx.blob.core.windows.net/XXXXXXXXX-745b9b331ea64494969e77e6df298a93/hemavmcrypt1-XXXXXX-000-20190924-162221.vhd
SourceResourceId :

wh

[2019-10-03 14:36] rem-aj commented on #7018
I was able to get around this by specifying the full resource ID for the storage account as recommended. I assume this is only a workaround though and look forward to a full solution.

[2019-10-03 14:38] arnoldna opened #10739 "Role definition update failure"
### **This is autogenerated. Please review and update as needed.**

I received the following error while trying to update an existing RBAC role.
**Command Name**
`az role definition update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._

I update

[2019-10-03 17:50] rajaprad opened #10740 ""az storage file upload-batch" does not work with connectionstring and account key"
When trying to use the command  - az storage file upload-batch with --connection-string am getting the below error

Suppress exception There are no active accounts.
Suppress exception Please run 'az login' to setup account.

The purpose of using --connection-string is to suppress the need to login, and that does not work.

**Command used:**

az storage blob upload-batch --connection-string "Defaul

[2019-10-03 18:19] rajaprad opened #10741 ""az storage copy" does not have a way to suppress authentication"
**Command**: az storage copy

**Command used:**
az storage copy -s "SourceFolder" -d https://SAMPLE.blob.
core.windows.net/blob/container/folder1/folder2

**Error**: Please run 'az login' to setup account.

**Issue**: There is no parameters for --connection-string, --account-name , --account-key , --auth-mode

[2019-10-03 18:22] rajaprad commented on #10699
@Juliehzl  - `az storage copy` does not provide a way to suppress the need to use az login. Another bug here: [https://github.com/Azure/azure-cli/issues/10741](url)

[2019-10-03 19:28] sinhru opened #10742 "Issues running ADF script"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac --role {} --scope {}`

## Expected Beh

[2019-10-03 20:21] pagariyaalok opened #10743 "It's always good to add actual example of each command."
It's always good to add actual example of each command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9abfaa54-0895-29f7-f3bb-ff604912b2ac
* Version Independent ID: d1ff3478-8a86-59e4-62ef-449900132a67
* Content: [az account](https://docs.microsoft.com/en-us/cli/azure/account?view=azure-cli-latest#az-account-set)
* Co

[2019-10-03 20:49] pagariyaalok opened #10744 "The article doesn't list any samples."
Please refer this page. It has all the details required with examples :
https://docs.microsoft.com/en-us/rest/api/monitor/diagnosticsettingscategory/list

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55b103cb-dc59-8949-663f-f968a48d204e
* Version Independent ID: 387ce519-f57b-e817-6046-08552966744a
* Content: [az moni

[2019-10-03 21:43] tjprescott commented on #7065
@MyronFanQiu fyi

[2019-10-03 22:18] cocowalla opened #10746 "Opion to specify precise credential end date for Service Principal secrets"
At present, the Azure CLI lets you specify an end date in _years_ for Service Principal client secrets.

I'd like to be able to specify a _precise_ end date for Service Principal secrets, when creating new Service Principals using `az ad sp create-for-rbac`, but especially when adding/updating secrets using `az ad sp credential reset --append`.

An alternative is to use certificates, which allow y

[2019-10-03 22:53] ssripadham commented on #10726
This is marked as Service Request correct?

[2019-10-03 23:06] naveenchekuri opened #10747 "Add Identity under ExpressRoutePort and MacSec fields under ExpressRouteLink"
**Resource Provider**
Microsoft.Network

**Description of Feature or Work Requested**
We are adding MacSec support for ExpressRoute Direct Port. ExpressRoute Direct Port is an existing feature which gives customers ability to create dedicated port for them. Customers could choose to enable Mac Security for direct ports.

Following are the workflow steps of customer to enable Mac Security on Direct

[2019-10-03 23:13] naveenchekuri opened #10748 "Support new Network resource VirtualRouter and VirtualRouterPeer"
**Resource Provider**
Microsoft.Network

**Description of Feature or Work Requested**
This feature is to support customer creating new resource called VirtualRouter under Microsoft.Network and peerings child resource under virtualRouter. Customer can choose to reference VirtualNetworkGateway or Subnet where VirtualRouter would be hosted

Following is the work flow by customers using this feature

[2019-10-04 01:18] zikalino commented on #10743
This is pretty generic issue

[2019-10-04 03:13] yaegashi opened #10750 "Unable to create Windows Server 2019 Datacenter VM in DevTest Labs"
## Describe the bug

**Command Name**
`az lab vm create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az lab vm create -g {} --lab-name {} --name {} --image "Windows Server 2019 Datacenter" --image-type gallery --size {} --disk-type {} --ip-configuration {} --admin-username {} --a

[2019-10-04 03:42] Juliehzl commented on #10741
Hi @rajaprad , thanks for your feedback. We will improve it ASAP.

[2019-10-04 06:24] Juliehzl commented on #10729
Hi @ianemv , accourding to your message `(host="'anothervue'.blob.core.windows.net", port=443)` , your storage account name is `'anothervue'` , which has single quotes and is not valid here. Can you check your storage account name again? If you still have problem, please post the full debug information by running your original command with `--debug`.

[2019-10-04 06:39] ianemv commented on #10729
Working now using Ubuntu instance. azure cli doesn't work windows command prompt both on my computer and Azure devops

[2019-10-04 06:48] Juliehzl commented on #10740
@rajaprad Do you specify your storage account name with `--account-name` parameter in your command?

[2019-10-04 07:43] yugangw-msft commented on #10142
Please reactivate with more information for us to diagnose for the root cause

[2019-10-04 07:43] #10142 closed

[2019-10-04 07:46] rajaprad commented on #10740
@juliehzl, I have tried two scenarios.

1. With --connection-string (this does not require --account-name)

2. With --account-name and --account-key.

Both does not work in MAC OS, works in Windows and Linux machines. Same version of azure-cli in all 3 OS.

[2019-10-04 14:09] joelddiaz opened #10752 "az cli client falures on Fedora 31 beta"
[code]

sadly even 'az feeback' doesn't work
[code]

**Describe the bug**
the az client absolutely doesn't work on Fedora 31 beta right now.

**To Reproduce**
Install the az cli as documented.

**Expected behavior**
az cli work like it does on Fedora 30.

**Environment summary**
Followed these instructions https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-yum?view=azure-cli-latest

**Ad

[2019-10-04 14:22] gambtho opened #10753 "Unable to create storage containers"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage container create --name {} --account-name {}`

##

[2019-10-04 15:08] aweiker commented on #9891
The `pipelines` commands had the same thing happen to them. The side effect here is that our Azure DevOps pipelines now fail because warnings are written to STDERR.

How is this new feature disabled so that we can differentiate between an error and an informational notice?

[2019-10-04 16:40] LazzariPaolo opened #10754 "vhd is not a valid resource reference when creating vm with --attach-os-disk"
azure-cli version 2.0.68

**Issue**

I have an unmanaged vhd in my storage account.
I have generated a SAS which allows access to this blob with read access.

I tried to create a virtual machine with this SAS:

`az vm create -g 000 -n myVm --attach-os-disk $SAS --os-type windows`

where $SAS is the SAS token.

But I get a "BadRequest" Error, telling me the .vhd is not a valid resource reference.
T

[2019-10-04 17:13] chojrak11 commented on #8296
But for `New-AzVM` PowerShell cmdlet this hack doesn't work. We need the proper self-explanatory option such as `--withoutPublicIpAddress`, not be resorted to using obscure feature with semantic from 1980s.

[2019-10-04 22:03] tucane opened #10755 "Azure CLI get applications with the differential query option"
Does Az ad app list support [differential query ](https://docs.microsoft.com/en-us/previous-versions/azure/ad/graph/howto/azure-ad-graph-api-differential-query)?

[Az ad app list api reference](https://docs.microsoft.com/en-us/cli/azure/ad/app?view=azure-cli-latest#az-ad-app-list)

[2019-10-04 23:35] sm947 opened #10757 "Modifications to az network public-ip prefix CLI cmdlet to introduce new optional parameter --version"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Network Resource Provider

**Description of Feature or Work Requested**
We are extending support for IPv6 Public IP prefixes for Standard SKUs in addition to existing IPv4 public ip prefixes and we need newer **version** optional parameter to distinguish between IPv4/IPv6 Public IP address prefix to be created.

Sam

[2019-10-04 23:45] danielsollondon commented on #10551
Can you share your designs please, we have common scenarios we would like to achieve?

[2019-10-05 02:56] MyronFanQiu commented on #10748
@naveenchekuri Thanks. We will make a plan for it.

[2019-10-05 02:56] MyronFanQiu commented on #10747
@naveenchekuri Thanks. We will make a plan for it.

[2019-10-05 02:59] MyronFanQiu commented on #10744
@pagariyaalok Hello. I cannot fully understand your request. The reference is a article related with rest API. So do you mean that CLI should contain same information?

[2019-10-05 02:59] panchagnula commented on #10625
@n3rd253 please re-activate this if you are still having trouble - also make sure before you reactivate you follow the suggestions @qwordy stated above plus give us more info (concrete command you are using). Thanks!

[2019-10-05 02:59] #10625 closed

[2019-10-05 03:02] panchagnula commented on #10607
Closing this due to lack of response, please reactivate if you are still facing this and also providing us more information for debugging this like we requested above. Thanks!

[2019-10-05 03:02] #10607 closed

[2019-10-05 03:04] panchagnula commented on #10531
@DaveSin can you please share more details here for debugging please, after trying this with the latest version of CLI? Thank you.

Reactivate when you add more details here.

[2019-10-05 03:04] #10531 closed

[2019-10-05 03:06] MyronFanQiu commented on #10757
@sm947 Thanks. We will make a plan for it.

[2019-10-05 03:27] panchagnula commented on #10495
@qwordy need your advice on this issue - is this expected behavior, is there something specific the command needs to do here to support the non JSON output?

[2019-10-05 03:29] panchagnula commented on #10492
please give us more info here & re-activate az web app up will work for subsequent deployments if the app is already created - only thing is if the app Name is already taken by another customer then  we throw an error.

[2019-10-05 03:29] #10492 closed

[2019-10-05 03:30] panchagnula commented on #10507
Same as #10487

[2019-10-05 03:30] #10507 closed

[2019-10-05 03:31] panchagnula commented on #10487
Please re-activate if this still happens. with more info after trying the instructions above

[2019-10-05 03:31] #10487 closed

[2019-10-05 03:32] panchagnula commented on #10476
closing since this has now released.

[2019-10-05 03:33] panchagnula commented on #10475
@btardif assigning this to you as well so that this is your radar to follow-up with Patrick.

[2019-10-05 03:35] panchagnula commented on #10215
@sawyerh please re-activate after providing the info above so we can investigate this further, given there is an assumption that portal is doing the right behavior here. Thanks!

[2019-10-05 03:35] #10215 closed

[2019-10-05 03:35] pagariyaalok commented on #10744
Apologies if it wasn't clear. My suggestion was to add examples in cli document for each command. For example, you can refer the above api documentation link which has good summarization of the operations with examples.

[2019-10-05 03:36] panchagnula commented on #9972
we need to work with the feature crew to fix the API to handle these scenarios we don't want to make these changes on the client to support cross RG. No ETA at this point

[2019-10-05 03:38] panchagnula commented on #7154
@kishdubey are you still planning on creating a PR for this issue here?

[2019-10-05 13:32] fengzhou-msft commented on #10721
will look into details next week after national holidays

[2019-10-05 14:37] fengzhou-msft commented on #10752
seems like some package conflicts. @joelddiaz can you run `pip list |grep enum` to see if you have any other enum related packages?

[2019-10-05 17:54] MachLearnPort opened #10758 "--public-ip-address "" needs space in documentation"
Received an error when not using space between quotes (i.e. az vm create: error: argument --public-ip-address: expected one argument)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 152b549b-d4b3-13e5-081c-c604b6e4d89e
* Version Independent ID: 3f79be78-ce75-ad31-304b-bad7d475ec9e
* Content: [az vm](https://docs.microso

[2019-10-06 11:13] yonzhan commented on #9592
@qwordy  we can sync up after holiday.

[2019-10-06 11:23] yonzhan commented on #10518
@Juliehzl   is this a service issue ?

[2019-10-06 11:27] yonzhan commented on #10732
@jiasli  please take a look and comment.

[2019-10-06 12:24] Juliehzl commented on #10518
@hjhhh3000vitae Can you take a look at this issue? API v2019-05-10 returns response with less properties than v2018-05-01.

[2019-10-06 12:33] Juliehzl commented on #10753
Hi @gambtho, can you show me more information with `--debug` in your command?

[2019-10-06 12:37] qwordy commented on #10758
Received. National day holiday: 1st Oct ~ 7th Oct.

[2019-10-06 12:37] qwordy commented on #10728
Received. National day holiday: 1st Oct ~ 7th Oct.

[2019-10-06 12:43] panchagnula commented on #10733
Thanks for reporting - what happens when you run the command using the --slot parameter instead of the --resourceId? https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-update

[2019-10-06 12:58] yonzhan commented on #10739
@jiasli please take a look and comment.

[2019-10-06 13:03] yonzhan commented on #10742
@jiasli please take a look and comment.

[2019-10-06 13:07] yonzhan commented on #10746
@jiasli  please take a look and comment.

[2019-10-06 13:30] yonzhan commented on #10754
@qwordy please take a look and comment.

[2019-10-06 13:34] yonzhan commented on #10755
@jiasli  please take a look and comment.

[2019-10-06 13:38] cocowalla commented on #10746
I should add that the REST API also let's you specify a precise end date, both the "application/addPassword" and "update service principal credentials" endpoints (on mobile right now, and can't remember the exact endpoint names!).

[2019-10-06 16:57] slowtree commented on #10574
Same here, looking at the logs it keeps saying missing authorization headers on trigger sync.
`Operation failed with status: 'Bad Request'. Details: 400 Client Error: Bad Request for url: https://management.azure.com/subscriptions/ASUBSCR/resourceGroups/weathercachets/providers/Microsoft.Web/sites/ASITESS/syncfunctiontriggers?api-version=2018-11-01`

[2019-10-07 01:17] yonzhan commented on #10638
@gunjanj  any update for swagger spec and python SDK PRs ?

[2019-10-07 06:35] Drewm3 commented on #8933
I am not sure why basic is allowed in some of these regions. My understanding was that only standard IP addresses were going to be supported for zonal VMs. Please work with the Azure Networking folks to understand why there is differing support in different regions. I believe that the regions that support basic for zonal VMs may have been a mistake which will eventually be removed by Azure Network

[2019-10-07 10:53] C4P-KorbenDallas opened #10759 "AZ Logging status check not working"
### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage logging show`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az storage logging show --account-name {} --account-key {}`

## Expected Behavior

A

[2019-10-07 11:49] yonzhan commented on #6249
@MyronFanQiu  we are working on this.

[2019-10-07 11:52] yonzhan commented on #8361
@MikhailTryakhov  any update about this issue ?

[2019-10-07 12:04] mmulhearn commented on #10733
Yup that did it.  I overlooked that argument.

[2019-10-07 12:04] #10733 closed

[2019-10-07 12:08] yonzhan commented on #9380
@number213 @mancgupta  CLI is blocked from testing. Any update for this ?

[2019-10-07 12:25] yonzhan commented on #10519
@mzms CLI implementation is blocked. Any update ?

[2019-10-07 13:03] kumarinfo90 commented on #10707
The bot deployment got succeeded .
the issue with package manager ,we changed YARN with NPM  .
Its worked fine.

[2019-10-07 13:03] #10707 closed

[2019-10-07 13:12] jubobs commented on #9069
Same here... Very annoying...

[2019-10-07 13:30] thomas-schilling-adn opened #10760 "az login crashes if subscription has no name"
Somehow, somebody created a nameless subscription in our Azure enterprise account. This breaks "az login". See below for details

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:

Have a subscription with no display name, i.e. `None`. I honestly don't know how that can happen, but it did.

- `az login`

## Expected Behavior

## Environment Summary
[code]
## Ad

[2019-10-07 13:32] thomas-schilling-adn commented on #10760
Manually editing the files to the following fixes the issue:
[code]

[2019-10-07 14:38] Rakesh-Gnana-Selvan-888 opened #10761 "more info Needed"
Please add samples as this is very confusing.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44e1bd9c-c9ca-3abd-9c9f-0a1318d88c4e
* Version Independent ID: 0e999302-0e64-083f-718b-0ee575d235df
* Content: [az monitor activity-log alert scope](https://docs.microsoft.com/en-us/cli/azure/monitor/activity-log/alert/scope?vi

[2019-10-07 15:08] mmulhearn opened #10762 "Secondary service bus - allow updates"
**Resource Provider**
Service Bus Namespace

**Description of Feature or Work Requested**
Ability to update tags on secondary service bus namespaces.  Currently, if you try to, for instance, add tags to a secondary namespace, you receive the error "Cannot update a namespace which is secondary"

**Swagger Link**
N/A, using CLI

[2019-10-07 16:44] viananth commented on #10476
@panchagnula Multi-api package for azure.mgmt.web is now released which can be consumed in Azure CLI -> that would fix this issue in 2019-03-01-hybrid profile.

[2019-10-07 16:59] alex-frankel opened #10763 "--handle-extended-json-format support needs to be added to az [group] deployment validate commands"
Just like we support this flag for the two `create` commands, we also need the same support for the two versions of `validate`

[code]

[2019-10-07 17:10] joelddiaz commented on #10752
[code]

[2019-10-07 17:46] microkost opened #10764 "Rule dependecy loop and warning"
I have az cli commands:
  az monitor autoscale rule create ... --scale in 2
  az monitor autoscale rule create ... --scale out 1
but executing sequentionally I get error independently on commands orders:
az : WARNING: Profile 'default' has rules to scale out but none to scale in. Recommend creating at least 1 scale in rule.
How to avoid this warning except ignoring it?

---
#### Document Details

[2019-10-07 18:28] mancgupta commented on #9380
@yonzhan @number213 This feature is disabled in NRP side on all the prod regions, that's why it's returning region not enabled. Since feature is not active, can we hold off with the testing. I will enable the feature and the thread.

[2019-10-07 18:33] MikhailTryakhov commented on #8361
api version was added

[2019-10-07 20:51] craigc40 opened #10765 "Azure blob storage quickstart fails on container creation"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage container create --name {}`

## Expected Behavior

[2019-10-07 21:19] ahmedelnably opened #10766 "Change node version at functionapp creation"
We need to set the "WEBSITE_NODE_DEFAULT_VERSION" app setting should have a value of "~10" instead of current value

[2019-10-07 22:47] ahmedelnably commented on #9889
@TechWatching, will close this issue. please reopen if you still facing the same issue

[2019-10-07 22:47] #9889 closed

[2019-10-07 22:51] ahmedelnably commented on #9530
If the issue still persists in the latest version please reopen

[2019-10-07 22:51] #9530 closed

[2019-10-07 22:52] ahmedelnably commented on #9369
Please reopen if the issue still persists in the latest CLI version

[2019-10-07 22:52] #9369 closed

[2019-10-07 22:58] ahmedelnably commented on #8614
This is related to #8388

[2019-10-07 23:01] ahmedelnably commented on #8797
closing this related to #10549

[2019-10-07 23:01] #8797 closed

[2019-10-07 23:44] ezzy1337 commented on #10734
I did throw up a PR #10738 for what I thought could be a fix. Again don't mind making any updates needed.

[2019-10-08 01:20] MyronFanQiu commented on #10761
@Rakesh-Gnana-Selvan-888 Thanks. We will take a look at this issue and improve the help information.

[2019-10-08 01:30] MyronFanQiu commented on #10764
@microkost Hello. which command sends the warning message? Both or the second one?

[2019-10-08 01:33] MyronFanQiu commented on #10766
@ahmedelnably  Hello. Looks like you are from service team. I'm not sure. Was CLI maintained by yourselves or CLI team?

[2019-10-08 02:05] haroldrandom commented on #10576
@midacts Do you mean you want to test your code that are using azure-cli ?

[2019-10-08 02:21] MyronFanQiu commented on #10726
@ssripadham Hello. They are almost same for us. Don't worry.

[2019-10-08 02:26] midacts commented on #10576
Yes.   : )

On Mon, Oct 7, 2019, 10:05 PM Jianhui Harold <notifications@github.com>
wrote:

[2019-10-08 02:32] MyronFanQiu commented on #8361
@MikhailTryakhov Hello. I had a discussion with @akshaysngupta offline. The current status is that the value of "enableFips" is not returned by the GET call for the application gateway. The server will return `enableFIPS: true`. However, the swagger define this field as `enableFips`. I think that's the reason.

[2019-10-08 02:37] yonzhan commented on #9891
@jiasli  please take a look and comment.

[2019-10-08 02:38] MyronFanQiu commented on #10317
@ntmggr Hello. It may be caused by the non-existence of the profile. I will test it and fix this error. Could you check whether the profile exists or not?

[2019-10-08 02:53] Juliehzl commented on #10763
Got it! We will do it soon.

[2019-10-08 03:09] haroldrandom commented on #10576
@midacts Since you are a end user, I would assume that the results of azure-cli deliver matter. If that's the case, then the test framework is not important.

You can test the result that azure-cli returns or check whether the modification on Azure Cloud through azure-cli satisifies your design.
Both cases can be done by code automatically or watch the monitor to see the reaction.

If you test by

[2019-10-08 03:22] Juliehzl commented on #10759
Hi @C4P-KorbenDallas, can you check the supported storage service of your storage account type? I think that maybe your storage account don't support queue service, therefore you cannot query from azcgfingestion.queue.core.windows.net. But here blob, queue and table host will be query by default,  and you can use `--services` to define the storage services you want to retrieve logging.

[2019-10-08 03:33] Juliehzl commented on #10765
@craigc40  How do you do the authentication for your command? Can you check if your storage account key or connection string is valid value?

[2019-10-08 04:31] jiasli commented on #9891
Writing to std.err is a very common behavior across many CLI tools.

The CI should not rely on the contents in std.err. The CI should check the exit code instead: https://github.com/Azure/azure-cli#exit-codes

[2019-10-08 04:47] bgelens opened #10768 "az policy set-definition create is missing metadata argument"
**Describe the bug**
az policy set-definition create is missing the metadata argument. This is necessary to provide, among else, the category information.

This is similar to #5798

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

[2019-10-08 05:52] jiasli commented on #10724
Similar to: https://github.com/Azure/azure-cli/issues/10127#issuecomment-519095585

A scope is simply an Azure resource ID. In this case, it should be `/subscriptions/37dccafa-b44f-41e6-b945-fd37e3790d1c/resourceGroups/mv-testProbes/providers/Microsoft.ContainerService/managedClusters/aks-cluster`

[2019-10-08 05:55] jiasli commented on #10746
Thank you for the feedback. We will consider this as a feature request.

[2019-10-08 06:25] jiasli commented on #10739
Please note in `az role definition update` the json has `roleName`, instead of `Name`. The sample works as expected: https://docs.microsoft.com/en-us/cli/azure/role/definition?view=azure-cli-latest#az-role-definition-update

If the issue persists, please share the input json.

[2019-10-08 06:49] qwordy commented on #10716
@singhkays What platform do you require? Windows, Linux or Mac?

[2019-10-08 07:04] jiasli commented on #10755
Per [differential query doc](https://docs.microsoft.com/en-us/previous-versions/azure/ad/graph/howto/azure-ad-graph-api-differential-query#url-query-string-parameters), differential query is not applicable to applications:

Also differential query requires the caller to maintain `deltaLink`. CLI can't do this because it is a stateless tool (except for login credentials).

[2019-10-08 07:23] dcbrown16 commented on #9495
@adewaleo did this change ever get made? It looks like it was pushed through a few sprints and dropped.
Our customer is now asking for an update.

[2019-10-08 07:26] qwordy commented on #8933
OK. Thanks for explanation. Let's use standard IP address automatically when using zones. I suggest put it into Sprint 76 since only 2 days left before release. If coding and testing go very smoothly, maybe we can catch up with Spring 75.

[2019-10-08 08:15] jiasli commented on #10732
Azure CLI is not designed for complicated AAD operations. Also `az ad group` is still using AAD Graph API `https://graph.windows.net/`, instead of MS Graph API `https://graph.microsoft.com/`. As a workaround, you may use `az rest` to directly call the REST API: https://docs.microsoft.com/en-us/graph/extensibility-schema-groups

[code]

[2019-10-08 08:54] jiasli commented on #10760
Actually when you change the subscription name in Azure Portal and leave it empty, it say

I have created PR #10771 to make CLI more robust. Could you open a support ticket to Azure subscription team to report this issue as well? (I don't have your subscription's detail.) Thank you.

[2019-10-08 08:57] qwordy commented on #10754
I have received your issue. I am investigating it.

[2019-10-08 10:36] yonzhan commented on #10731
@haroldrandom  please take a look and comment.

[2019-10-08 10:47] milodotnet opened #10772 "az storage account network-rule add does not work for two different resource groups"
I'm trying to use

az storage account network-rule add

with the vnet and subnet flag

If the storage account and network are in different resource group the cli fails to find one or the other depending on which resource group you specify in the resource-group flag

azure cli version 2.0.74

[2019-10-08 10:49] evandervalk opened #10773 "'NoneType' object has no attribute 'server_farm_id'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az functionapp create ...`
- `az functionapp deployment source config-zip --src {} -

[2019-10-08 11:27] Juliehzl commented on #10633
@yuemlu do you have any update now?

[2019-10-08 12:00] #10576 closed

[2019-10-08 12:40] craigc40 commented on #10765
This appears to be user error, but the quickstart (https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-cli) is not very helpful. I'm not sure if this is the place to provide feedback about it.

It says to set these environment variables:
export AZURE_STORAGE_ACCOUNT="mystorageaccountname"
export AZURE_STORAGE_KEY="myStorageAccountKey"

Despite the fact that the above use

[2019-10-08 18:03] adewaleo commented on #9495
Hello @dcbrown16, I apologize that I didn't got to follow up on this issue due to other work / issues on my plate when the cli was transitioning owners. I am no longer on the CLI team.

Hopefully @yonzhan and @qwordy can follow up on this issue.

[2019-10-08 19:01] northtyphoon commented on #10153
@BenjaminHerbert thanks for the question. Unfortunately tasks doesn't support path filter. Can you raise your feature request in https://aka.ms/acr/uservoice.

One workaround is disable Tasks built-in commit trigger and instead using Azure Pipeline to subscribe to the filtered commit events and call `az acr build -t image .` from Azure Pipeline CLI task.

[2019-10-08 21:03] jimsander commented on #10289
I had the same issue and it was resolved with fix by @kasunsjc

[code]

[2019-10-08 21:40] mganeshphani opened #10778 "Mismatch in data between two documents on client aad application"
Following document says AAD client application should be of type web
https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration#create-the-client-application

while this document optional parameter says it should be of type native
--aad-client-app-id
The ID of an Azure Active Directory client application of type "Native". This application is for user login via kubectl.
https://docs.microsoft.

[2019-10-08 21:49] davemulford opened #10779 "RHEL8 packaging regression?"
**Describe the bug**
The azure-cli-2.0.74-1.el7 package fails to install on RHEL8. The most recent version that installs successfully is azure-cli-2.0.69-1.el7.

**To Reproduce**
Install the azure-cli as described in the [azure-cli install docs](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-yum?view=azure-cli-latest).

**Expected behavior**
The azure-cli should be installed.

**Envi

[2019-10-08 22:48] msyihchen commented on #8616
@EriksonBahr Let us know if you need anything from this thread.

[2019-10-08 22:58] #6925 closed

[2019-10-08 23:17] ahmedelnably commented on #10766
@MyronFanQiu The Functions CLI maintained by the Functions CLI team, myself, @fabiocav, and others on the team

[2019-10-09 02:38] jiasli commented on #8820
This is blocked by Azure/azure-rest-api-specs#5427

[2019-10-09 02:52] qwordy commented on #9592
Understand. You want to use --ids to specify VM(s) and -n to specify extension. It should be supported. Currently, --ids always require extension-level ids no matter whether -n is provided, which is not flexible. Add it to Sprint 76.

[2019-10-09 02:55] fengzhou-msft commented on #10721
Based on the message `pkg_resources.ContextualVersionConflict: (six 1.11.0 (/home/travis/virtualenv/python3.6.3/lib/python3.6/site-packages), Requirement.parse('six==1.12'), {'astroid'})`, it seems six 1.11.0 was installed on the machine but the requirements file needs six==1.12.

[2019-10-09 03:13] jiasli commented on #10697
First, from the call stack, it doesn't seem to be a keyvault command, but vnet:
[code]

Please share the full command that results in this error.

Second, it looks like `~\.azure\accessTokens.json` is corrupted, that's why json fails to parse it. The correct format is:

[code]

Please clear the access token and re-login:

[code]

[2019-10-09 03:33] qwordy commented on #9592
Yes. A certain command can have its own behavior for --ids.
Do you think we should remove --vm-name and --extension-instance-name out of Resource Id Arguments group so that --ids can refer to VMs? But this command is about setting extension. The target is extension and extension has ID.

[2019-10-09 05:45] haroldrandom commented on #10481
@number213 Hi, I have some questions for you to make this request more clear.

Do you want us to add three keyword arguments to only those three commands `az network vnet-gateway create`, `az network vnet-gateway show`, `az network vnet-gateway list` ?

[2019-10-09 06:09] jiasli commented on #10657
Looks like the issue is caused by malformed JSON arg. Please follow the sample https://docs.microsoft.com/en-us/cli/azure/role/definition?view=azure-cli-latest#az-role-definition-create

If the issue persists, please share the full command.

[2019-10-09 06:20] fengzhou-msft commented on #10721
Why previous builds succeed and recent builds fail?
Previously when running `pip install $ALL_MODULES`, [azure-cli is installed before azure-cli-core](https://travis-ci.org/Azure/azure-cli/jobs/591298798#L875), and recently [the order reversed](https://travis-ci.org/Azure/azure-cli/jobs/592562968#L875). [azure-cli requires `six~=1.12` ](https://github.com/Azure/azure-cli/blob/84d81aee7f5bfe0264561

[2019-10-09 06:52] jiasli commented on #10515
As CLI is still using AAD Graph. The Service Principal used to login needs to have corresponding permissions.

Go to Azure Portal > Azure Active Directory > App registrations > {app} > API permissions > Add a permission > Add **Azure Active Directory Graph** related permissions.

Then click **Grant admin consent for {tenant}**.

Corresponding CLI commands are https://docs.microsoft.com/en-us/cli/a

[2019-10-09 07:17] viresh-contino commented on #7579
Hi, i am very keen to see this bit of automation!  Has anybody found a workaround ?

[2019-10-09 07:44] qwordy commented on #8933
I've added this feature. https://github.com/Azure/azure-cli/pull/10691

[2019-10-09 08:09] yugangw-msft commented on #6478
Likely there was a proxy server involved. If yes, then this is not a ACR command specific; rather common to all CLI commands. For secure ways to only accept unsigned certificates of proxy server, we wrote a [doc](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy) with detail instructions

[2019-10-09 08:10] #6478 closed

[2019-10-09 08:15] yugangw-msft commented on #7777
Closing as the fix was deployed

[2019-10-09 08:15] #7777 closed

[2019-10-09 08:21] yugangw-msft commented on #8616
@EriksonBahr, we are closing this, but please feel free to reactivate it with more information so that we can provide more effective assistence

[2019-10-09 08:21] #8616 closed

[2019-10-09 08:21] microkost commented on #10764
It doesn't matter which one is first if first scale-out or first scale-in. It's always worried that there is no opposite command.

[2019-10-09 08:29] microkost commented on #10764
It's maybe also related: the previous command:
`az monitor autoscale create --name...`
produce error:
`az : WARNING: Follow up with `az monitor autoscale rule create` to add scaling rules.`
even the next commands is:
`az monitor autoscale rule create --autoscale-name  ... --scale in 2`
produce error:
`az : WARNING: Profile 'default' has rules to scale in but none to scale out. Recommend creating a

[2019-10-09 09:21] guibirow commented on #9894
I was facing the same issue, couldn't find other alternative other than REST.
I've tried terraform, arm, az-cli, powershell, and nothing supports this feature yet, the closest one is az-cli that accepts the parameters but whatever you pass to it will fail with the error mentioned in this issue above.

I managed to make it work using the following REST api call in bash with CURL:

[code]

before ca

[2019-10-09 09:29] C4P-KorbenDallas commented on #10759
Hi @Juliehzl

Well, if that's the reason then I would expect that message to be returned by that command, when i execute it, it hangs and no response.

When i add "--services b" to the command, it works and returns :
{
  "blob": {
    "delete": true,
    "read": true,
    "retentionPolicy": {
      "days": 7,
      "enabled": true
    },
    "version": "1.0",
    "write": true
  }
}

is thatthe lo

[2019-10-09 09:41] yasikmondal commented on #8840
In Varibale field we have added some extra ","

"variables": {
    "skuName": "Standard",
    "enabledForVMDeployment": false,
    "enabledForDiskEncryption": false,
    "enabledForTemplateDeployment": false,
    "tenantId": "xxx",
    "objectId": "xxx",
    "keysPermissions": "all",
    "secretsPermissions": "all"**,**
  },

[2019-10-09 11:34] kh-sonrai commented on #9903
Any updates on this issue? Still seeing this problem with az cli version 2.0.74 on mac when running in pycharm.
@zikalino @yugangw-msft

[2019-10-09 11:45] yugangw-msft commented on #7814
@sand32 and @lindhe , with helm 3 around the corner, we don't plan for feature work for helm 2; rather we will consider this when we add support for helm 3.
Meanwhile, please keep on upvote this which would be a good data point for us to plan for helm3.

[2019-10-09 11:45] #7814 closed

[2019-10-09 15:19] Gordonby commented on #8849
The value should be;
"/subscriptions/<subscription-id>/resourcegroups/<resource-group>/providers/microsoft.operationalinsights/workspaces/<workspace-name>"

[2019-10-09 15:47] rerime opened #10786 "Can't create VM without NSG"
**Describe the bug**
Can't create VM without NSG

The name to use when creating a new Network Security Group (default) or referencing an existing one. Can also reference an existing NSG by ID or specify "" for none.
https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-create

**To Reproduce**
`az vm create --name name --resource-group group --admin-username user --admin-passwo

[2019-10-09 16:08] anavinahar opened #10787 "Adding Public IP to each scale set command missing in CLI"
**Resource Provider**
What is the Azure resource provider your feature is part of?
ARM

**Description of Feature or Work Requested**
Here are the docs for templates. https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-networking#public-ipv4-per-virtual-machine
But looks like CLI needs to be updated for VMSS.

**Minimum API Version Required**
What is the min

[2019-10-09 18:04] josemaguilar opened #10789 "Error with "az aks browse""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --resource-group {} --name {}`

## Expected Behavior

## Env

[2019-10-09 18:55] jfggdl commented on #10762
@mmulhearn, thanks for creating this issue. We are investigating the level of support we have to add tags to secondary service bus namespaces.

[2019-10-09 19:03] sajayantony commented on #5961
@bdelsaz  - can you please share the set of commands you are running to the az before you login to acr?

[2019-10-09 19:05] djyou commented on #5961
@bdelsaz Your issue is not related to this one.

Email as username is not a supported auth method for `az acr login`. Could you run `az login` first with your email account and then `az acr login` without providing -u/-p?

Or you may run `az acr login -u <SP appID> -p <SP password>`

More info https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication

[2019-10-09 19:11] bdelsaz commented on #5961
@sajayantony I only run
[code]
Website is opened in browser, I introduce my credentials there. Then 'login successful' webpage is displayed

Then I try
[code]

@djyou indeed when I try with Service Principal I can log in without problems.
If I do ```az acr login``` without specifying username and password it will log me in with the admin account of the container registry.

My issue is, when I try

[2019-10-09 19:27] djyou commented on #5961
@bdelsaz `az acr login` without specifying username/password logs you in with the credential you use to `az login`. Assuming your email account or SP have image sign permission, you may run

[code]
or
[code]
And then run
[code]
which will populate the correct credential for docker.

[2019-10-09 19:42] igelineau commented on #9891
The problem is Powershell is not very friendly with programs writing to STDERR. I've spend half of my day trying to strip out what is written to STDERR and only keep the JSON output from STDOUT, but didn't find a solution yet. Any workaround at this point would be much appreciated.

[2019-10-09 19:44] bdelsaz opened #10790 "az login not passing complete credentials to az acr login"
**Describe the bug**
az login does not seem to pass the right credentials to az acr login. As a result I cannot sign my images before pushing to ACR:
[code]

**To Reproduce**
Enable content trust on ACR
Assigned roles 'acrImageSign' and 'acrPush' to AAD user account either by portal or CLI.
Run:
[code]

**Expected behavior**
Signing 'handshake' is successful, image is signed before being pushed to

[2019-10-09 19:44] bdelsaz commented on #5961
@djyou that is a clear explanation, thanks.
I opened a [separate issue](https://github.com/Azure/azure-cli/issues/10790).

[2019-10-09 20:17] tejasshah7 commented on #10725
Here is a link to the Swagger PR for this that has been merged in now:
https://github.com/Azure/azure-rest-api-specs/pull/7427

[2019-10-09 20:18] tejasshah7 commented on #10725
Added the swagger changes link for reference.

[2019-10-09 20:26] #10419 closed

[2019-10-09 20:34] rachel-msft commented on #10614
@danielbecroft Thank you for your feedback. We are aware of the issue and working to fix it. We expect the fix to be available by end of November.

(523139)

[2019-10-09 21:50] djyou commented on #10790
If `az acr login` showed
[code]
The credential should be correctly populated. Were you able to do `docker push/pull` without enabling content trust?

This issue seems to be related to permission validation on user account, since you mentioned SP worked properly.

/cc @shizhMSFT @msyihchen

[2019-10-09 21:52] dedhar opened #10792 "AZ CLI Support for RouteTable - Child of Virtual Hub"
Resource Provider
What is the Azure resource provider your feature is part of?
NRP (Microsoft.Network)

Description of Feature or Work Requested
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
Virtual Hub is an existing top level resource. We want to add support for RouteTable which is child resource of Virtual Hub and needed in

[2019-10-09 23:05] number213 commented on #10481
Also to `az network vnet-gateway update`

[2019-10-09 23:59] nkiest commented on #10283
@asheniam can you help here?

[2019-10-10 00:00] nkiest commented on #10719
@asheniam can you route this to an engineer to investigate?

[2019-10-10 00:25] Drewm3 commented on #8933
Thanks for adding the feature. I am going to close out this issue now.

[2019-10-10 00:25] #8933 closed

[2019-10-10 00:43] DavidLangworthy opened #10793 "Popup during linux script blocks install"
On mint and WSL a popup comes up when running the one line install script from an XTerm. This does not occur over ssh. The title is Configuring libssl1.1:amd64 and it asks for permission to restart services.

See

[https://github.com/MicrosoftDocs/azure-docs-cli/issues/1607#issuecomment-540241416](url)

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Step

[2019-10-10 00:55] brianbar-MSFT commented on #8933
Thanks for the hard work on resolving this everyone. :)

[2019-10-10 01:59] qwordy commented on #10551
Sorry for reply late. I checked the material very quickly when this issue was created. I think I need to check it again. And share my design and thought. After the release tomorrow, I'll spend more time on this.

[2019-10-10 02:08] MyronFanQiu commented on #10792
@dedhar We will make a plan for it and let you know the ETA latter.

[2019-10-10 02:43] artemuwka opened #10794 "CLI module for object replication service"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Azure Storage

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
Adding ORS configuration to CLI: Set/Get/Remove-AzStorageObjectReplicationPolicy, New-AzStorageObjectReplicationPolicyRule, New-AzStorageObj

[2019-10-10 02:48] shizhMSFT commented on #10790
The root cause is that the permission list is not recognizable by ACR if the current login user has a classic subscription administrator role, such as `Service Administrator` and `Co-Administrator`.

We are sorry that those classic admins roles are currently not supported by ACR, and we plan to resolve this issue.

[2019-10-10 03:21] qwordy commented on #10787
I have received your feature request.

[2019-10-10 03:24] qwordy commented on #10613
If you have any other questions, reopen this issue or open a new issue. Thanks.

[2019-10-10 03:24] #10613 closed

[2019-10-10 05:29] qwordy commented on #10786
What's the output of the command?

[2019-10-10 05:35] qwordy commented on #8933
https://github.com/Azure/azure-cli/pull/10691 has been merged.

[2019-10-10 05:35] Juliehzl commented on #10794
Hi @artemuwka, if there is any update for swagger file, please let me know and provide the link in your template.

[2019-10-10 06:19] Juliehzl commented on #10772
Hi @milodotnet, sorry for inconvenience. You are right for the scenario when you specify vnet and subnet using their name, we will think it is in the same resource group with what you specify for your storage account. If you want to use a subnet in different resource group, you need to specify your subnet with subnet id. e.g. `az storage account network-rule add --subnet /subscriptions/0vdsdbgns/r

[2019-10-10 06:40] #10721 closed

[2019-10-10 07:06] rrottmann opened #10798 "Consider alternative method to handle multiple tags when creating resources"
While the current way to generate tags does not pose any difficulties in a bash shell, it is **very** cumbersome when calling it from an Azure DevOps Pipeline in an Azure-Cli task when you want to use tags that are generated from different variables.

## Example:
* Create Azure-CLI task in Azure DevOps with an inline shell script:
[code]
### Resulting  good command (shell):
[code]
### Resulting ba

[2019-10-10 07:10] bdelsaz commented on #10790
thanks @shizhMSFT that explains it. Closing for now.

[2019-10-10 07:17] haroldrandom commented on #10481
Working on it.

Could you provide some examples to demonstrate how to use these three arguments?

[2019-10-10 09:16] fengzhou-msft commented on #9030
@curiousminion Please also check for network settings, such as using a corporate proxy. Here's some tips for working behind a proxy: https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy

[2019-10-10 10:04] jzghaib opened #10801 "Failed to Browse AKS Dashboard after upgrade to 1.13.9"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --resource-group {} --name {}`

## Expected Behavior

## Env

[2019-10-10 10:21] yonzhan commented on #9495
@MyronFanQiu Please help to take a look.

[2019-10-10 10:23] yonzhan commented on #9495
@qwordy  please take a look and comment.

[2019-10-10 10:42] sandy98maurya1 opened #10802 "web app up: getting error on command Create a web app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --location {} --name {}`

## Expected Behavior

## Environment

[2019-10-10 11:23] cbtham commented on #8900
I am still facing the same issue when using terraform to create a SP. After SP creation, azure portal does not show a secret being saved. When i do "az sp list" output is []

[2019-10-10 11:24] yonzhan commented on #10665
Planned for Ignite release.

[2019-10-10 13:34] pvrk commented on #8677
@christiankuhtz : Any update on this please?

[2019-10-10 13:43] pvrk commented on #5800
Closing this issue since I didn't receive a response. Can be re-opened if the issue still persists.

[2019-10-10 13:43] #5800 closed

[2019-10-10 14:10] peterchoo opened #10803 "Bug: `az account show` or`az account set --help` give `tuple index out of range`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account show --debug`

## Expected Behavior

## Environment Summary
[

[2019-10-10 14:53] bramvdklinkenberg opened #10804 "ERROR: The command failed with an unexpected error. Here is the traceback:"
**Describe the bug**
When running the az aks get-credentials command from an azure devops agent we get error:
[code]

**To Reproduce**
Steps to reproduce the behavior.
az login
az aks get-credentials --resource-group $RG --name $NAME --overwrite-existing

**Expected behavior**
I would expect that the config file is correctly downloaded

**Environment summary**
Install Method (e.g. pip, interactive

[2019-10-10 15:51] BenjaminHerbert commented on #10153
@northtyphoon I am currently using _base image update triggers_. (See https://docs.microsoft.com/bs-latn-ba/azure/container-registry/container-registry-tasks-overview#automate-os-and-framework-patching).

Do you have a pointer how/if this (read: a base-image update triggers all dependent builds) is is possible with Azure (DevOps) Pipeline?

[2019-10-10 16:45] MaurGi commented on #10793
Happened to me as well, real nasty -
repro:
- Install WSL2 on Win build 18999
- Instal Ubuntu 18.04
- Instal Windows Terminal (https://github.com/microsoft/terminal)
- Run the script

[2019-10-10 17:22] shurd commented on #10650
Hi @crucibles, I am going to close this issue for now. If you are still experiencing this problem, you can open another issue and provide the debug output from the terminal.

[2019-10-10 17:22] #10650 closed

[2019-10-10 17:50] MaurGi commented on #10793
The step that creates the popup is:
[code]

Here is what I see:
![image](https://user-images.githubusercontent.com/13138584/66593377-b8fa5980-eb4b-11e9-8beb-951f5868a906.png)

I can't get past this

[2019-10-10 18:04] ChrisCalzaretta commented on #8313
I some digging in the repo to see what the expected values really should be.
It seems that the case stated in the docs does not match what is really required.
Instead of "on" or "off" the values must be
"On"
or
"Off"

[2019-10-10 18:17] IkePCampbell opened #10805 "What is the intended scope of apim for cli?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim list --resource-group {}`

## Expected Behavior

## Environment Sum

[2019-10-10 18:48] chadcarlton opened #10806 "Azure CLI - webapp: Keyvault and Azure App Services certificate commands"
I'm trying to use Azure CLI to configure an Azure app service SSL certificates that are stored in an Azure KeyVault.  I'm not sure if I'm not understanding something, or if the Azure CLI commands are missing functionality/functionality isn't performing correctly to accomplish what
I'm trying to do.

I chained these three commands together, but am not able to get it to work.

[code]

I can confirm

[2019-10-10 20:11] johnhof opened #10807 "Updating app display name does not seem to work"
## Describe the bug

Updating app displayName does not seem to work.

**Command Name**

`az ad app update`

**Errors:**

No errors logged.

## To Reproduce:

- `az ad app create --display-name "tmp"`
- `az ad app update --id {} --display-name "tmp - renamed" --debug`
- `az ad app show --id {}`
- Observe that `displayName` still reads `tmp`

## Expected Behavior

The apps display name should be cha

[2019-10-10 21:31] number213 commented on #10481
Like `create/update -aad-tenant-uri "https://login.microsoftonline.com/99163270-c9ab-4279-bb12-5353ed9bf6e1" -aad-audience-id "fd11706c-e78c-4828-8be7-ac7dcefd4b17" -aad-issuer-uri "https://sts.windows.net/99163270-c9ab-4279-bb12-5353ed9bf6e1/"`
Also there should be a way to clear those three properties. I'm not sure which would be the best way to do that in CLI, maybe instead of adding new parame

[2019-10-10 22:42] adewaleo commented on #9592
Its okay for `--vm-name` to be associated with resource id arguments group, as the vm name should be extracted from the ids. But `--extension-instance-name` should not be extracted from the id as the id should refer only to vms.

This is similar to `az vm delete --help` where --name and --resource-group all fall under resource id arguments. A user can use either --ids or both --name and --resource

[2019-10-11 01:49] #10401 closed

[2019-10-11 01:51] #10479 closed

[2019-10-11 02:42] #10674 closed

[2019-10-11 02:51] #8583 closed

[2019-10-11 03:16] Juliehzl commented on #10279
Blocked by service API. Have to move to next sprint.

[2019-10-11 03:35] qwordy commented on #10495
`table` prints summary, which only contains the most important fields.
Take a look at
https://github.com/Azure/azure-cli/blob/dev/doc/authoring_command_modules/authoring_commands.md#custom-table-formats

[2019-10-11 04:40] #10630 closed

[2019-10-11 06:01] Juliehzl commented on #10805
Hi @zikalino when you are available, you also can have a look at it.

[2019-10-11 06:20] #10638 closed

[2019-10-11 06:25] Juliehzl commented on #10798
Hi@rrottmann, thanks for your suggestion! We will consider it and if there is any update, I will let you know. Thanks!

[2019-10-11 06:57] Juliehzl commented on #10731
Hi @algattik, thanks for you feedback. We will improve it soon.

[2019-10-11 07:48] bramvdklinkenberg commented on #10804
Some extra info: I run the same script in Azure Devops on 4 different environment. 1 or 2 out of 4 it fails. It is on random environments that it fails.
And again when I run it locally on my macbook it works fine all the time, and when directly executing it in the pod myself it works as well.
It's a weird issue and hard to troubleshoot and say it is the cli, or it is aks or azure devops..

[2019-10-11 07:53] haroldrandom commented on #10806
Hi, @chadcarlton , for your three questions. We will look into them.

Before that, please provide some extra information:

1. The **secret** you downloaded, is it a plain text file or a certification file like *.crt / *.cer,  *.pem, * that can be operated by OpenSSL?
2. How do your create your cert file? By command line on your computer and then upload to Azure KeyVault, or auto generated through

[2019-10-11 08:04] fengzhou-msft commented on #10752
@joelddiaz I'm able to reproduce your issue. And the root cause is that python refers to python3 as default on Fedora 31 beta while on Fedora 30 python refers to python2. You can edit the second line of `/usr/bin/az` (result of `which az`) to specify using python2:
`PYTHONPATH=/usr/lib64/az/lib/python2.7/site-packages python2 -sm azure.cli "$@"`.

Meanwhile, I will look for solutions to solve this

[2019-10-11 08:13] qwordy commented on #9592
Tosin. Thank you so much! Your great insight of Azure CLI really impress me.
I misunderstood the semantics of `vm extension set`. I thought it is like general `set` command of other command. But it’s more like a `create` command to create or add an extension to VM.
We can use id for existing resource rather then the resource we're going to create or install.

[2019-10-11 08:29] FooBarWidget opened #10812 "`az aks get-credentials` throws exception if ~/.kube/config does not contain the expected sections"
**Describe the bug**
`az aks get-credentials` expects ~/.kube/config to contain a `clusters`, `users` and `contexts` section. If even one of them is missing, then the command will bail out with a Python KeyError exception.

**To Reproduce**
Create ~/.kube/config with the following contents:

[code]

Then run:

[code]

**Actual behavior**

[code]

**Expected behavior**
I expect the command to succe

[2019-10-11 08:33] FooBarWidget commented on #10307
I think this is a duplicate of https://github.com/Azure/azure-cli/issues/10812

[2019-10-11 08:33] #10804 closed

[2019-10-11 08:34] bramvdklinkenberg commented on #10804
See #10812

[2019-10-11 08:41] MyronFanQiu opened #10813 "Support exclusions for application gateway firewall"
https://docs.microsoft.com/en-us/azure/application-gateway/waf-overview

bump version to 2019-08-01 which include Python SDK breaking change for Ignite. Need to expose these commands to user to support such feature.

[2019-10-11 08:41] MyronFanQiu commented on #10813
Planned after Ignite.

[2019-10-11 09:13] haroldrandom commented on #10803
Sorry, I **cannot** reproduce the situation under the same environment you are in.

Have you tried a newer version of azure-cli ? Or help me with more information.

[2019-10-11 09:16] haroldrandom commented on #10027
Sorry to have you waiting. We will look into it.

[2019-10-11 09:29] #10543 closed

[2019-10-11 09:30] MyronFanQiu commented on #10527
Duplicated with https://github.com/Azure/azure-cli/issues/10757. Will close it. Feel free to re-open it if I made any mistake.

[2019-10-11 09:30] #10527 closed

[2019-10-11 09:35] fengzhou-msft commented on #10526
@dbilleci-lightstream I'm not able to reproduce the issue using ansible and pip for install on ubuntu 18.04. azure-cli 2.0.73 and the latest 2.0.74 both work for me.  Can you uninstall and then reinstall azure-cli?

[2019-10-11 10:56] yonzhan commented on #10787
We will plan this during next sprint.

[2019-10-11 12:02] peterchoo commented on #10803
I thought I had included it in the issue, I installed the `azure-cli` through `pip`.

My intention was to be able to create a virtualenv containing certain versions of tools related to specific customer projects.

I have since re-installed the `azure-cli` through `apt` following [these instructions](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest#manual-insta

[2019-10-11 12:50] swapnild2111 opened #10814 "MacOs catalina is not supported"
Hello Team,

I upgraded my MacOS to Catalina and `az aks` stopped working. I do not see `aks` option anymore.
Does azure-cli supports this new version of MacOS or is there any plan to release its support?

Best regards,
Swapnil

[2019-10-11 15:00] lufussel opened #10815 "Firewalls and virtual network blob on a storage account show authentication error rather than firewall error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage container create --name {} --account-name {}`

##

[2019-10-11 15:01] lufussel commented on #10815
"Storage Blob Data Contributor" role is assigned to the user. Containers create without firewall rules, but are blocked when locked by firewall. Error message is not accurate.

[2019-10-11 15:29] haroldrandom commented on #10803
@peterchoo Thanks for updating Additional Context in the autogenerated. That's the critical step I missed to reproduce your situation.

Now I tried 2.0.66, 2.0.67, 2.0.68, 2.0.69, 2.0.70  in the same environment:

- Linux-5.0.0-31-generic-x86_64-with-Ubuntu-18.04-bionic
- Python 2.7.15+
- Shell: bash

And the problem you report disappeared.

So, I would suggest you upgrade a newer version of azure

[2019-10-11 15:56] bahreex opened #10816 "Error encountered when Issuing az interactive command on PS or CMD"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Error encountered when Issuing az interactive command on PS or CMD. I have tried on multiple machines. The error is as shown in the screenshot attached from PS Console.

**Command Name**
`az interactive`

**Errors:**

 PS>az interactive

[2019-10-11 17:42] adewaleo commented on #9592
Thanks @qwordy for the compliment and kind words. It took months to get as familiar with the CLI and to be honest there is still stuff in the CLI I don't know.

Yes you are totally right, `vm extension add` is more consistent / clear than `set`, at least according to these [guidelines](https://github.com/Azure/azure-cli/blob/dev/doc/command_guidelines.md#command-naming-and-behavior).

[2019-10-11 18:30] blmeyers opened #10817 "Bug: Minor typo for list command help when using "az sql midb --help""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sql midb`

**Errors:**
Typo in the help documentation shown for the az sql midb list command, "maanged databases" instead of "managed databases".

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `

[2019-10-11 19:01] nnja opened #10818 "az webapp up fails with AttributeError 'NoneType' object has no attribute 'resource_group'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**

Get an error saying `Webapp NAME already exits. The command will deploy contents to the existing app` even though the web app with this name **does not exist**

[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted,

[2019-10-11 20:18] yareyes commented on #10533
Hello @giovannifl,

Thank you for your suggestion. Let me clarify how the command works:

Once you run the "az sql vm create", we create a new SQL Virtual Machine resource available in Portal which will allow you to manage your SQL Server and do licensing changes.

![image](https://user-images.githubusercontent.com/36422356/66677449-83727080-ec1e-11e9-8052-99339dff917f.png)

This command will not

[2019-10-11 21:53] asheniam commented on #10283
We are looking at a fix in GET logprofiles API which will populate the location property correctly to 'global'.  I believe that should address the issue the customer is facing.  The fix is under testing and we want to roll it out in the next few weeks.

[2019-10-11 23:54] irrogozh commented on #3766
there is no  bug in swagger. I checked both cli and powershell to see packet capture status when it's running. All works fine.

PS C:\Users\irrogozh> az network watcher packet-capture show-status --location westcentralus --name cliTest --subscription 61cc8a98-a8be-4bfe-a04e-0b461f93fe35
{
  "captureStartTime": "2019-10-11T23:51:28.159908+00:00",
  "id": "/subscriptions/61cc8a98-a8be-4bfe-a04e-0b46

[2019-10-12 02:21] dotMikeH opened #10820 "az ad app create remove requirement for EOF"
**Is your feature request related to a problem? Please describe.**
Reference: https://stackoverflow.com/questions/55500388/issue-creating-azure-app-registration-with-az-cli

There seems to be a dependency on certain parameters requiring a file as it's expecting an EOF.
**Command Example:** `az ad app create --display-name gizmo-auto-create --required-resource-accesses [{"resourceAppId": "00000002-

[2019-10-12 02:41] #7970 closed

[2019-10-12 03:28] fengzhou-msft commented on #10779
@davemulford Thanks for reporting the issue. I am going to reproduce the issue and see what's broken.

[2019-10-12 03:30] yorek opened #10821 "GeoDR creation succeed even when server do not exist"
**Describe the bug**
When setting up Azure SQL GeoDR, the AZ CLI executes correctly even if the server specified in --server do not exist

**To Reproduce**
az sql db replica create --name <database_name> --server <server1> --resource-group <rg_name> --partner-server <server2>

Make sure that <server1> do not exists, while database and <server2> exists.

**Expected behavior**
En error, saying that

[2019-10-12 03:30] yorek commented on #10821
@maboja-msft

[2019-10-12 03:34] yorek opened #10822 "GeoDR Link Deletion help do not show mandatory parameters"
**Describe the bug**
The usage for az sql db replica delete-link shows that only –-partner-server is required, while instead also --server and –name and –resource-group (or –ids) are needed.

**To Reproduce**
az sql db replica delete-link  --help

**Expected behavior**
--server and -name and --resource-group or --ids should be reported a required an not optional

**Environment summary**
[code]

[2019-10-12 03:47] #9480 closed

[2019-10-12 05:42] maggiepint commented on #10812
Thanks for the feedback. I have routed to the appropriate team for follow up.

[2019-10-12 05:49] m4r10k commented on #7579
There's currently a work in progress going on behind the scenes. I've asked back and currently there is some kine of alpha work in progress -> https://docs.microsoft.com/en-us/graph/api/resources/applicationtemplate?view=graph-rest-beta to get application templates accessible via the API. But this will still take some time.

There is no workaround available beside doing it manually because the API

[2019-10-12 06:29] yonzhan commented on #9030
@curiousminion  We did not receive your response for a while. We will close this issue right now. If any further question, please open a new issue.

[2019-10-12 06:29] #9030 closed

[2019-10-12 07:11] qwordy commented on #9495
I check the Azure CLI code.
If using an existing NIC, Azure CLI will ignore accelerated_networking setting.
Azure CLI forbids passing `nsg, public_ip_address, subnet, vnet_name, application_security_groups` when using an existing NIC. If any of them is given, an error raises: "When specifying an existing NIC, do not specify NSG, public IP, ASGs, VNet or subnet."
So the current design is "Just use

[2019-10-12 08:06] qwordy commented on #10786
Hi rerime, could you try:
`az vm create --name name --resource-group group --admin-username user --admin-password pass --availability-set AVS --public-ip-address vmName-ip --public-ip-address-allocation static --subnet id_of_subnet --storage-sku Standard_LRS --size Standard_B2ms --image Win2019Datacenter`

Thank you for the feedback. The doc is inconsistent with actual behavior of Azure CLI. "" is

[2019-10-12 08:44] qwordy commented on #10787
Hi Anavi,
Azure CLI has the following parameters for `vmss create` related to public IP
[code]
Could you tell me more details? What's the feature you expect?

[2019-10-12 09:16] MyronFanQiu commented on #10786
@qwordy If `--nsg` is not a required argument for the command, I think we should modify the help information.

[2019-10-12 09:45] #10493 closed

[2019-10-12 09:59] rerime commented on #10786
Without `--nsg`, it generate it with some random name.

[2019-10-12 13:33] andrePKI opened #10826 "Can't access blob storage from AZ CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Account is signed in correctly, has the appropriate roles. However commands fail with "You do not have the required permissions" and listing roles the account is member of

**Command Name**
`az storage blob upload`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values

[2019-10-12 18:57] andrePKI opened #10827 "az interactive gives error on startup"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
startup error. Also autotype suggestions don't seem to work well

**Command Name**
`az interactive`

**Errors:**
az>> Exception in thread Thread-1:
Traceback (most recent call last):
  File "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\lib\threading.py", line 916, in _bootstrap_inner
    self.run()
  File "

[2019-10-13 00:40] yonzhan commented on #6080
This is a PowerShell issue. Issue created: https://github.com/PowerShell/PowerShell/issues/10729

[2019-10-13 04:28] yonzhan commented on #10716
@qwordy this issue can be closed, right ?

[2019-10-13 04:28] #10716 closed

[2019-10-13 05:00] yonzhan commented on #10609
Done

[2019-10-13 05:00] #10609 closed

[2019-10-13 05:00] yonzhan commented on #6249
Done

[2019-10-13 05:00] #6249 closed

[2019-10-13 09:12] yonzhan commented on #10519
@mzms  any update?

[2019-10-13 09:55] yonzhan commented on #10515
solution provided

[2019-10-13 09:55] #10515 closed

[2019-10-13 09:57] yonzhan commented on #10657
solution provided

[2019-10-13 09:57] #10657 closed

[2019-10-13 09:58] yonzhan commented on #10755
Solution provided.

[2019-10-13 09:58] #10755 closed

[2019-10-13 10:28] LaurentLesle commented on #4722
@neilpeterson I would like to re-open that ticket. I am experimenting the same issue when I am running the azure cli from a docker container and mapping my local ~/.azure folder to access the cache from the container.

My local azure-cli and in the container are running the same version of azure cli 2.0.74. I even tried older versions but same issue from the container. Looks like the access token

[2019-10-13 10:37] yonzhan commented on #10697
Solution provided

[2019-10-13 10:37] #10697 closed

[2019-10-13 10:56] yaohaizh commented on #10828
CLI issue, not sure if this is reproed.

[2019-10-13 11:25] yonzhan commented on #10292
@fengzhou-msft  please take a look

[2019-10-13 11:33] yonzhan commented on #9266
What is the status of this issue ?

[2019-10-13 11:43] yonzhan commented on #10523
@adewaleo  Kindly ask whether we can close this issue ?

[2019-10-13 19:40] ybelMekk opened #10829 "apim backup only returns error, with no description"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim backup`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim backup -g {} -n {}`

## Expected Behavior

## Environment Summary

[2019-10-14 01:54] haroldrandom commented on #10817
Partially fixed, typo problom in #10825

[2019-10-14 02:05] Juliehzl commented on #10826
@andrePKI Please don't show up your storage account key in github.  To upload a file, you need ""Storage Blob Data Contributor"  not  "Storage Account Contributor" role. In addition, when you already have the account key, no matter what role you have for the storage account, you should have the permission to the storage account.
From your posted information, can you check the storage account key a

[2019-10-14 02:24] Juliehzl commented on #10815
Hi @lufussel, thanks for your feedback. What you said is really right. I think you are unblocked now with root cause found, right? We will improve error message for firewall scenario.

[2019-10-14 04:34] qwordy commented on #10758
Hi @MachLearnPort, thank you for finding this problem.
I think it's a mistake of doc.
```or specify "" for None```

[2019-10-14 05:01] yonzhan commented on #10814
@fengzhou-msft  please take a look.

[2019-10-14 05:04] yonzhan commented on #10807
@jiasli please take a look.

[2019-10-14 05:04] qwordy commented on #10786
@rerime I understand now. The default NSG name is "{vm_name}NSG" in my experimentation where no --nsg is given.
@Drewm3 Do you know whether Azure supports VM without NSG?
Thanks.

[2019-10-14 05:05] yonzhan commented on #10816
@jiasli  please take a look.

[2019-10-14 05:09] yonzhan commented on #10730
@jiasli please take a look.

[2019-10-14 05:18] yonzhan commented on #10253
@Juliehzl  please take a look.

[2019-10-14 05:19] yonzhan commented on #10125
@qwordy please take a look.

[2019-10-14 05:22] yonzhan commented on #9949
@fengzhou-msft  please take a look.

[2019-10-14 05:22] qwordy commented on #10716
Yes. Thank you for closing it.

[2019-10-14 05:23] yonzhan commented on #10006
@fengzhou-msft please take a look.

[2019-10-14 05:25] yonzhan commented on #10106
@MyronFanQiu  please take a look.

[2019-10-14 05:26] yonzhan commented on #10175
@Juliehzl please take a look.

[2019-10-14 05:29] yonzhan commented on #9726
@qwordy please take a look.

[2019-10-14 05:41] yonzhan commented on #10143
@Juliehzl please take a look.

[2019-10-14 05:44] yonzhan commented on #10132
@MyronFanQiu  please take a look.

[2019-10-14 06:01] BevanG commented on #7707
I'm having the same issue on Windows 10 in CMD and Powershell. Azure CLI v2.0.74

```OpenSSL.crypto.Error: [('asn1 encoding routines', 'asn1_check_tlen', 'wrong tag'), ('asn1 encoding routines', 'asn1_item_embed_d2i', 'nested asn1 error')]```

[2019-10-14 06:38] gauravsaralMs commented on #6454
similar issue: https://github.com/Azure/azure-cli-extensions/issues/976

[2019-10-14 07:53] yonzhan commented on #8820
@darshanhs90 this is blocked by Azure/azure-rest-api-specs#5427, please take a look.

[2019-10-14 08:07] andrePKI commented on #10826
No worries - I rotated the keys ;-)
I already added the Storage Account Data Contributor role - but somehow didn't find the expected results... When trying today with a fresh mind, I found:
`C:\WINDOWS\system32>az role assignment list --all
Principal                    Role                                       Scope
---------------------------  -----------------------------------------  ---------

[2019-10-14 08:07] #10826 closed

[2019-10-14 09:19] fengzhou-msft commented on #10292
@cryptolukas did you follow the install instructions [here](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest). Please use `https://packages.microsoft.com/repos/azure-cli/` as the repo address.

[2019-10-14 09:30] qwordy commented on #10125
OK

[2019-10-14 09:30] qwordy commented on #9726
OK

[2019-10-14 09:45] yonzhan commented on #10828
@jiasli please take a look.

[2019-10-14 11:24] #10760 closed

[2019-10-14 13:11] esoler-sage commented on #9004
I'm interested in this scenario as well. Do you have any information about this?

[2019-10-14 15:19] bgklein commented on #10296
Hi @JonShelley . Thanks for the feedback.

I am slightly confused by 'I am able to add a start_task but it fails since the user_id is not set'. Is this that your task needs to run as admin or are you reporting a bug that this property is not set? There should a service side default so I am unsure exactly what you are requesting/reporting.

For a little bit of background, historically we have not a

[2019-10-14 15:21] grimstoner opened #10836 "Cannot move blob to different tier using "az storage blob set-tier" in Azure CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob set-tier`

**Errors:**
[code]

## To Reproduce:
Nothing funny... just tried to move a blob to the archive tier.

- `az storage blob set-tier --account-name {} --container-name {} --name {} --tier {}`

## Expected Behavior
The selected blob is moved to the specified tier.

## E

[2019-10-14 16:04] arianpopalyar opened #10837 "az monitor alert and action group"
**Resource Provider**
I want to be able to create alert and link it to the action  group
**Description of Feature or Work Requested**
current documentation gives you example of setting alert but with webhook, I want to use the default feature of sending email and sms.
all the example code that i come up with did not work for example this one will only create the alert
![image](https://user-images.

[2019-10-14 16:16] fengzhou-msft commented on #10814
@swapnild2111 can you tell me more about how you installed azure-cli, what is the version you use(are you able to run `az --version`)?

[2019-10-14 17:10] tmacro commented on #10643
@jiasli Any update on this?

[2019-10-14 17:19] praveen-pk opened #10838 "azure-cli fails to install on CentOS 8"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
[code]
**Expected behavior**
azure-cli will be successfully installed in a CentOS 8x container.

**Environment summary**
Followed the instructions on https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-yum?view=azure-cli-latest and installed azure-cli with yum.

[2019-10-14 17:52] #3766 closed

[2019-10-14 18:16] adewaleo commented on #9495
Forbidding --accelerated-networking if an existing nic is used, doesn't sound like a bad idea. However, that might be extreme or a breaking change. A warning might be gentler. That being said if this is not doing what the user intends then maybe failing is okay.

I will leave it to you all to decide between, warning, error / failure, or updating the nic within vm create.

[2019-10-14 18:23] cwhitten commented on #9954
@stevengum do you have an ETA on which sprint this will be landing in?

[2019-10-14 18:37] swapnild2111 commented on #10814
I have installed `az` with `homebrew` on mac.
`$az --version
azure-cli (2.0.17)

acr (2.0.11)
acs (2.0.15)
appservice (0.1.16)
batch (3.1.3)
billing (0.1.4)
cdn (0.0.8)
cloud (2.0.7)
cognitiveservices (0.1.7)
command-modules-nspkg (2.0.1)
component (2.0.7)
configure (2.0.10)
consumption (0.1.4)
container (0.1.10)
core (2.0.16)
cosmosdb (0.1.12)
dla (0.0.11)
dls (0.0.13)
eventgrid (0.1.3)
extension

[2019-10-14 18:40] KarenHammons commented on #6688
@gsilva5 can you please review this?

[2019-10-14 19:06] billbertrand opened #10839 "az find"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
The azure training has the user issue "az find blob" in the cli.  I will check proxy settings
**Command Name**
`az find blob`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite

[2019-10-14 19:41] shurd commented on #10282
Hi @chshihMSFT thank you for opening this issue. You are correct that we no longer allow you to disable multiple write locations via the CLI. As you point out, you get the BadRequest error. Is there a question regarding this behavior? We have the flag as an option because you can enable multiple write locations via the CLI.

[2019-10-14 20:17] davejhahn commented on #8633
Worked beautifully, thanks!

Dave

On Mon, Aug 19, 2019 at 1:52 PM shurd <notifications@github.com> wrote:

--

Dave Hahn
m. 414-803-6713 | LinkedIn <http://www.linkedin.com/in/davejhahn/>

[2019-10-14 20:20] jfggdl commented on #10229
@thelethalkind, it seems that you are using an environmental variable when you are using --enable-capture $false. Would you please try without using environment variables?

[2019-10-14 20:51] nachakra commented on #7644
We are currently working on adding this support. It should be available by the end of next week.

[2019-10-14 21:25] sloscialo commented on #10578
The port doesn't seem to be the problem.

[2019-10-15 01:28] Juliehzl commented on #10836
Hi @grimstoner, I try to reproduce your issue but failed. Can you provide more information for your scenario? e.g. storage account type and blob type.
Through your error message, it shows that the access tier value you want to set is invalid, which is "Archive". But it should be valid. It will help a lot if you can also provide more debug information with  `--debug` in your command.

[2019-10-15 01:32] MyronFanQiu commented on #10837
@arianpopalyar  Hello. we had another feature request about alertmanagement days ago. This feature request may be related with that one. We had a discussion with service team trying to create a new umbrella called "monitor alert". It may have impact on this feature and I will update the status  later in this issue.

[2019-10-15 01:49] qwordy commented on #9495
Thanks! Agree. Maybe we can use a warning first, then change warning to error later (like after 6 months) in order to be consistent with existing behavior shown in the code below. But we can give users some time to be used to new behavior.

[code]

[2019-10-15 02:21] qwordy commented on #9495
The fix will be released at milestone S160. Official Release time: 11/04/2019.

[2019-10-15 02:47] MyronFanQiu commented on #10726
@ssripadham  Hello. I have a question for this issue. Here is the public link for [firewallPolicy](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2019-07-01/firewallPolicy.json#L702). I cannot find IpTags in it. I want to know the relationship between this one and the swagger you provided.

[2019-10-15 03:13] fengzhou-msft commented on #10838
Red Hat Enterprise Linux 8 systems are not officially supported yet. You can follow the workaround for now:
[code]
Then edit the second line of `/usr/bin/az` (result of `which az`) to specify using python2:
`PYTHONPATH=/usr/lib64/az/lib/python2.7/site-packages python2 -sm azure.cli "$@"`

[2019-10-15 03:31] qwordy commented on #10705
Thanks for your feedback.

[2019-10-15 04:21] jaredmoo commented on #10817
Where is the remaining typo that isn't fixed?

[2019-10-15 04:26] jaredmoo commented on #10822
Thank you for reporting!

When a command supports `--ids`, both `--ids` itself and the corresponding params in the resource id (in this case, `--resource-group` + `--server` + `--name`) are all not marked as `[Required]`. This is an issue in CLI Core that you will see with any command that supports `--ids`. For example:

[code]

[2019-10-15 04:52] smartpcr opened #10840 "unable to run docker daemon with azure container instance (created using az container create)"
**Is your feature request related to a problem? Please describe.**
As a developer, I would like to create ACI to run build pipeline, which need to install docker and other CLI with dockerfile.

However, in order to run docker daemon, docker argument for volume needs to be passed in.

**Describe the solution you'd like**
Please allow docker run arg (-v) to be passed in.

**Describe alternatives you

[2019-10-15 05:05] tmanOC opened #10841 "`az app update` doesn't work for guest owner of app registration"
It just says "Insufficient privileges to complete the operation." It doesn't allow me to change the redirect URLs. I've also tried changing the implicit grant flow and that sends the same error. Is it possible to have a guest user be allowed to edit app registrations that they own?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-10-15 05:10] tmanOC commented on #10841
This seems to happen when guest users have restricted permissions. However does it make sense that a guest user who is an owner of an app registration where guest users have restricted permissions cannot edit the app registrations that they own?

[2019-10-15 05:36] palma21 commented on #10778
The portal doc is changing it to public client on the next step.
![image](https://user-images.githubusercontent.com/7065724/66802969-10ddeb00-eed3-11e9-9ae9-3cacce2eadad.png)

Also if you are using the CLI please use
https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli

Do provide any feedback you might have on our docs pages, and thank you!

[2019-10-15 06:43] jiasli commented on #10828
Please update to the latest version.

[code]
`--sdk-auth` should be used with `false, true`.

So the command is like
[code]

[2019-10-15 06:43] qwordy commented on #9495
My PR #10832 has been merged. If you still have issues, you can reopen and comment. Thanks.

[2019-10-15 06:43] #9495 closed

[2019-10-15 06:44] fengzhou-msft commented on #10803
I can reproduce the bug with 2.0.65, but not with latest 2.0.74. This could be a bug that was fixed in later versions after 2.0.65. Not an issue with packaging, I'm going to unassign with myself.

[2019-10-15 06:44] jiasli commented on #10578
When CLI is logining in, can `psping` connect?

[2019-10-15 06:50] jiasli commented on #10643
Yes. Currently the URL needs to end with `/adfs` to disable verification. Is there any factor that is preventing using this URL?

[2019-10-15 07:49] fengzhou-msft commented on #10803
The stacktrace was misleading because it's the info for an exception inside exception handler caused by `ex.args[0].dest`. The real stacktrace for the issue is :
[code]
After debugging, the options passed in is:
[code]

[2019-10-15 08:01] #10757 closed

[2019-10-15 08:09] arianpopalyar commented on #10837
@MyronFanQiu thanks for that, I will be looking forward to your response, about this in future.

[2019-10-15 08:10] jiasli commented on #10730
This seems to be a bug with gitbash.

If I add `echo %*` to C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\az.cmd, double quotes are lost.

[code]
That's why az.cmd fails to parse it.

Even this fails:

[code]

Gitbash is currently not supported by Azure CLI.

[2019-10-15 08:10] #10730 closed

[2019-10-15 08:22] #10739 closed

[2019-10-15 08:29] jiasli commented on #10827
Looks like reference issue. @zikalino, could you take a look at this?

[2019-10-15 08:44] jiasli commented on #6080
This also happens in cmd. Looks like a colorama issue https://github.com/tartley/colorama/issues/200. Root cause provided by https://github.com/tartley/colorama/issues/200#issuecomment-476104215.

[2019-10-15 08:47] yugangw-msft commented on #10608
Closing, based on the clarification the right command to run in the Azure CLI container is `az login`, though feel free to reactivate if there are issues specific to ACR

[2019-10-15 08:47] #10608 closed

[2019-10-15 09:07] jiasli commented on #10820
Thank you for reaching us. We will investigate this issue.

[2019-10-15 09:09] yugangw-msft commented on #9442
So to address the ask here, maybe `az acr login` can expose a flag of `--skip-docker-login` and do like aws ecr does to output a docker login command for users to copy away.
@cwebbtw, will this help?

[2019-10-15 09:13] yugangw-msft commented on #9010
@AndyMoore, we assume this issue has been addressed and you are unblocked, please feel free to reactivate otherwise

[2019-10-15 09:13] #9010 closed

[2019-10-15 09:14] qwordy commented on #9592
The PR has been merged. If you still have questions, feel free to reopen the issue.

[2019-10-15 09:14] #9592 closed

[2019-10-15 10:20] nitishrsingh opened #10844 "webapp: Cannot create app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up -n {}`

## Expected Behavior

## Environment Summary
[code]
##

[2019-10-15 14:11] peterchoo commented on #10803
Thanks for looking into it.  For my purposes, I will just have to manually manage which version is installed when working with a particular project.  I will at some point investigate updating the CLI version with this project, but for now it has to remain version-locked.

[2019-10-15 14:20] chadcarlton commented on #10806
I was not involved in initially creating the certs, or the webapp. I've been asked to script a repeatable process on recreating them in a different resource group (a start to look into CI/CD).

I believe the Certs were created using a non involved separate IIS CSR which was sent to entrust, then imported into a local PC and exported to a PFX (with password) which was then uploaded into the webapp

[2019-10-15 15:14] fengzhou-msft commented on #10814
2.0.17 is quite old now. Please run `brew upgrade azure-cli` to upgrade to the latest version.

[2019-10-15 15:44] trevonmckay opened #10845 "az ad app update --id OBJID --remove replyUrls "http://my-reply-url" fails"
**Describe the bug**
I am unable to remove a reply URL from an Azure AD app, I receive the error
[code]

**To Reproduce**
[code]

**Expected behavior**
The item to be removed from the replyUrls array

**Environment summary**
[code]
**Additional context**
#9895

[2019-10-15 18:32] heaths opened #10846 "Calling az keyvault secet show-deleted --id <value> still says secret_name "can not" be none"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret show-deleted`

**Errors:**
[code]

## To Reproduce:
Call
[code]

According to documentation, no other ID fields should be used. However, I get an error back: "Parameter 'secret_name' can not be None" (BTW, should be "cannot").

I have to pass name as well:
[code]
That then

[2019-10-15 19:19] ankitkumarr commented on #10766
Assuming this is just for Windows.

Linux doesn't care about that setting.

[2019-10-15 21:02] thnk2wn opened #10847 "Generic error deploying function app"
## Describe the bug
Might not be a bug just perhaps an improvement to error messages / error handling.

I had added `IOptions` support to my function (with matching function Startup code) and set some settings in a deployment script with `az functionapp config appsettings set`. On deployment I get a general error. I suspect there's perhaps some kind of mismatch between the function app settings an

[2019-10-15 21:49] Petermarcu opened #10848 "Incorrect grammar in message for Storage"
c:\>`az storage account create -n mypythonstoragesample -g PythonStorageSampleResourceGroup'
The default kind for created storage account will change to 'StorageV2' from 'Storage' in future

Should be:
The default kind for created storage account will change to 'StorageV2' from 'Storage' in the future

[2019-10-15 21:54] tmacro commented on #10643
Works perfectly, Thanks!

[2019-10-15 21:54] #10643 closed

[2019-10-15 21:57] Petermarcu opened #10849 "Incorrect english in warning message"
c:\>az login
Note, we have launched a browser for you to login. For old experience with device code, use "az login --use-device-code"

Should be:
Note, we have launched a browser for you to login. For the old experience with device code, use "az login --use-device-code"

[2019-10-15 23:06] Petermarcu opened #10850 ""az storage account create" doesn't give enough permissions to do the simple stuff"
I created a storage account using the CLI and then tried to do the simple things like create a container and upload a blob to it using the data plane. I could create the container but I could not upload a blob to it. I had to go in and explicitly add "Storage Blob Data Owner" permissions. This is not discoverable and was extremely frustrating to try to figure out why it wasn't working.

[2019-10-16 00:56] Drewm3 commented on #10786
I believe it is possible to have a VM without an NSG, but it is highly discouraged to create a VM with a public IP address without an NSG. This would mean the VM has all ports open to all traffic on the internet. We should never do something like this as a default behavior.

[2019-10-16 01:55] yugangw-msft commented on #10850
@Juliehzl, we had a conversation on this before and we all agreed there is some space here to improve this very basic end to end experience. Let us sync up and find a reasonable UX to set users up for success.

[2019-10-16 02:15] kishdubey commented on #10849
Hello,
I have just started to look into this issue. You should be expecting a pull request within the next few minutes. Thanks!

[2019-10-16 02:32] kishdubey commented on #10849
@jiasli thank you for letting us know. Would you like for the warning to be completely removed in the PR?

[2019-10-16 02:56] fengzhou-msft commented on #10779
The package is for el7, and there are assumptions based on el7 that are no longer true for RHEL8. For now, instead of running `sudo yum install azure-cli`, please follow the workaround to install azure-cli:
[code]
Then edit the second line of `/usr/bin/az` (result of `which az`) to specify using python2:
`PYTHONPATH=/usr/lib64/az/lib/python2.7/site-packages python2 -sm azure.cli "$@"`

Meanwhile,

[2019-10-16 03:08] Juliehzl commented on #10759
@C4P-KorbenDallas Yes. We will improve the error message to give user the right guide.

[2019-10-16 03:12] Juliehzl commented on #10656
@wk-n Thanks for you information. We will improve the error message.

[2019-10-16 03:20] Juliehzl commented on #10447
Any update for this?

[2019-10-16 03:28] Juliehzl commented on #10447
Hi @tamirkamara, for your scenario, you create the storage account successfully, right? So I assume you encounter the error when creating container, can you show me your debug information with `--debug`?

[2019-10-16 03:33] Juliehzl commented on #10447
Hi @cherimckeown, for your scenario, the error is caused by 'CannotVerifyCopySource', not authentication error. Sorry for incorrect message and we need to improve the error message soon.

[2019-10-16 03:37] Juliehzl commented on #10318
Hi @jumping, ADLS gen2 haven't been integrated in storage commands but it will come in the future. I think you can try it next sprint in storage-preview extension.

[2019-10-16 03:38] Juliehzl commented on #10236
I will look into it. @ivanignatiev have you tried REQUESTS_CA_BUNDLE  as above?

[2019-10-16 05:32] sai-manoj-kumar opened #10854 "[AppGw] Rewrite rule set can't be associated with Request routing rules"
Support request for reference: https://azuresupportcenter.msftcloudes.com/caseoverview?srId=119100425000173

**Describe the bug**
Application Gateway RewriteRuleSet can not be referenced in requestRoutingRule.
Similar to the backendPool, Listener, and HttpSettings, users should be able to *update* a requestRoutingRule with a RewriteRuleSet. Same for the UrlPathMap and PathRules in UrlPathMap.

**T

[2019-10-16 05:57] yonzhan commented on #10850
@Petermarcu thanks for the valuable feedback, we will take a look and fix it in our next sprint.

[2019-10-16 06:29] panchagnula commented on #10806
Sorry we don't have a first class support for this using CLI & PowerShell, for now portal is the way to support this.

[2019-10-16 07:18] #9352 closed

[2019-10-16 07:33] fengzhou-msft commented on #10793
We can disable the popup through debconf settings before starting the installation of azure-cli:
`sudo apt-get update && sudo apt-get -y install debconf-utils`
`echo 'libssl1.1 libraries/restart-without-asking boolean true' | sudo debconf-set-selections`

[2019-10-16 07:44] #10849 closed

[2019-10-16 07:44] #10848 closed

[2019-10-16 07:45] yonzhan commented on #10848
related PR is merged.

[2019-10-16 07:46] yonzhan commented on #10849
PR is merged.

[2019-10-16 07:48] tejasd1990 opened #10856 "az cli version 2.0.74 commands write to stderr stream even when the command succeeds"
We own the "Azure CLI" Azure Pipelines task.
We have come across 3 customer issues so far where az cli version 2.0.74 commands write to stderr stream even when the command succeeds
Could be happening since some other older version, I don't know about that, but see this issue with at least this version.

**Describe the bug**
We have come across 3 customer issues so far where az cli version 2.0.74 c

[2019-10-16 08:22] Juliehzl commented on #10850
Hi @Petermarcu, after discussing with yugang and yong, we plan to add more accurate message to tell users which action they need to take when error occurs e.g. run `az role assignment create --role "Storage Blob Data Owner" --assignee  sp_name`, or we can automatically register the required role for storage account owner without confusing users.

Anyway, we will fix it in next Sprint to give users

[2019-10-16 08:23] Juliehzl commented on #10850
dupe of #10447.

[2019-10-16 08:28] Juliehzl commented on #10656
dupe of #9995

[2019-10-16 08:31] Juliehzl commented on #9003
dupe of #10656

[2019-10-16 08:32] #8809 closed

[2019-10-16 08:47] microkost opened #10857 "Error with no reason"
I experienced the following error:

az :
At C:\dev\azure\test.ps1:12 char:1
+ az storage file upload --share-name shname --account-name ...
    + CategoryInfo          : NotSpecified: (:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
Alive[################################################################]  100.0000%
Finished[#############################################

[2019-10-16 08:56] MyronFanQiu commented on #10854
@sai-manoj-kumar Thanks. I'm a little bit busy right now. I will take a look later to check the reasons.

[2019-10-16 09:43] alibutt30 opened #10860 "az login error"
**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login`

## Expected Behavior
Expect list of subscriptions

## Environment Summary
[code]
## Additional Context

The command used to work fine till yesterday. Today is giving this error.

[2019-10-16 09:58] dmitrykarnitski commented on #10856
Hi, We have experienced this issue as well.

But according to the reply from this comment (https://github.com/Azure/azure-cli/issues/9891#issuecomment-539316006), this is the expected behavior.

So, what is the right approach?
IMO, the error stream should not contain any garbage that is not really related to errors happened during the execution.

[2019-10-16 11:17] jiasli commented on #10846
I can reproduce. Will fix it soon.

[2019-10-16 11:25] jiasli commented on #10845
As the error suggests: `--remove property.list <indexToRemove> OR --remove propertyToRemove`, `--remove` can only remove by index or the whole property. For example:

https://github.com/Azure/azure-cli/blob/5377c20e9651e629a2522527d988a6037c901eb6/src/azure-cli/azure/cli/command_modules/role/tests/latest/test_graph.py#L162

It doesn't support remove by value.

[2019-10-16 12:26] panchagnula commented on #10844
@nitishrsingh apologize for the delay in the response here.
We had a regression in az webapp up with 2.0.74, can you re-try with the latest version 2.0.75?
If the latest version doesn't fix this as well, please share the following info:
1. Are you running this command with an existing webapp? or trying to Create a new one?
2. Run the command with --debug & see if you get some more useful info.

Th

[2019-10-16 12:52] DJM0502 commented on #8222
In my case is see the resource group is created as Network watcherRG but inside this i do not see the resource which is network-watcher.

[2019-10-16 13:07] tomasszabo opened #10861 "Unable to upload Blob with --auth-mode=key"
## Describe the bug

**Bug**
Seems that Signature parameter in HTTP request is wrongly calculated (see XML error description from server bellow).

**Command Name**
`az storage blob upload`

**Errors:**

Response from Blob Storage (using `--debug` parameter):
[code]

Azure CLI interpretation of Blob Storage response:
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument value

[2019-10-16 13:14] davemulford commented on #10779
@fengzhou-msft excellent! I had tried something similar to what you suggested, but was missing the need to modify /usr/bin/az.

Your instructions worked. Thank you!

[2019-10-16 13:14] #10779 closed

[2019-10-16 13:17] microkost commented on #9362
Just note:
azure-cli 2.0.71 *
az vmss create --name XXX... --computer-name-prefix machine...
az : ERROR: az: error: unrecognized arguments: --computer-name-prefix machine

azure-cli 2.0.75
It's OK, just for debug of someone dealing with error.

[2019-10-16 13:21] DavidLangworthy commented on #10793
That sounds good.

Are you putting that into the script or is that a workaround that goes into the doc?

[2019-10-16 13:27] chadcarlton commented on #10806
Can this be added to the backlog? I'd really like to use Azure CLI to create the app service, get the cert from keyvault, and bind it.  (It would even be better if the new reference capabilities could be used: https://azure.microsoft.com/en-us/updates/general-availability-of-key-vault-references-in-app-service-and-azure-functions/ )

[2019-10-16 13:50] tiago-cruz-movile opened #10862 "Unable to drop database due to illegal character"
## Describe the bug

Unable to drop database due to illegal character

[code]

**Command Name**
`az mysql db delete`

**Errors:**
[code]

## To Reproduce:
[code]

## Expected Behavior
database should be deleted, like `gcloud sql databases delete` does

## Environment Summary
[code]
## Additional Context

How to handle the delete:

[code]
Link: https://stackoverflow.com/questions/7618575/unable-to-

[2019-10-16 14:06] epleterte commented on #10793
Have you considered `export DEBIAN_FRONTEND=noninteractive` instead of permanently setting/changing this?

[2019-10-16 14:11] swapnild2111 commented on #10814
Thank you :)

[2019-10-16 14:11] #10814 closed

[2019-10-16 15:09] dedhar opened #10863 "AZ CLI Support : Add flag Internet-Security to ExpressRouteGatewayConnection"
Can we also add support for enableInternetSecurity property to the following command? The customer facing property would have name internet-security
https://docs.microsoft.com/en-us/cli/azure/ext/express-route/network/express-route/gateway/connection?view=azure-cli-latest#ext-express-route-az-network-express-route-gateway-connection-create

EnableInternetSecurity is a property on VpnConnection, Ex

[2019-10-16 16:05] abhiramani-iptiq commented on #7304
yes pls close

[2019-10-16 16:16] DavidLangworthy commented on #10793
Any solution is fine.  I'd like it to be added to the script so it just runs independent of platform.

[2019-10-16 16:31] esnellmidmark commented on #7304
@abhiramani-iptiq -sorry, it is closed, I should have been more clear: if you resolved it, what was the fix?

[2019-10-16 17:37] haroldrandom commented on #10747
@naveenchekuri For a `ManagedServiceIdentity` which a `ExpressRoutePort` need, this [doc](https://docs.microsoft.com/en-us/azure/expressroute/expressroute-howto-macsec) told me it's actually a `AzUserAssignedIdentity `,
![Jietu20191017-013344](https://user-images.githubusercontent.com/14357159/66943671-3e1acc80-f07e-11e9-8c22-0b55f56aa1a2.jpg)

then I look for the definition of something like `Use

[2019-10-16 17:44] JasonRShaver opened #10867 "Aladdin: Add examples to group -h"
For more context, contact JasonSha

Current Experience:
[code]

Proposed Experience:
[code]

[2019-10-16 17:50] naveenchekuri commented on #10747
@haroldrandom We would need "Id" field as string from ManagerServiceIdentity. Sample example for that would be "/subscriptions/ae4fd9c1-f57f-4077-8cb5-e9c0a1bb8796/resourcegroups/SeaMACsecCkt/providers/Microsoft.ManagedIdentity/user
AssignedIdentities/macSecTestIdentity". Let me know if you need anything else

[2019-10-16 17:51] JasonRShaver opened #10868 "Aladdin: Add help and examples to failed commands/groups"
For more context, contact JasonSha

Current experience
[code]

Proposed experience for Groups
[code]

Proposed experience for Commands
[code]

[2019-10-16 17:54] JasonRShaver commented on #10868
@glGarg @albaloo

[2019-10-16 18:11] jfggdl commented on #10304
Just got this in our queue. @axisc should be able to validate the queue size and update the documentation, if needed. Thanks for reporting this documentation issue.

[2019-10-16 19:17] nesteffe opened #10869 "Ability to associate application-gateway rewrite-rule sets to request routing rules"
I am unable to find a way to associate a rewrite rule set to a request routing rule using the CLI. I am not sure if I am just missing this or if it was an oversight when the rewrite-rule commands were added.

I believe the rule create & update commands should have a rewrite-rule-set-name switch or something similar. For example:

`az network application-gateway rule update -g MyResourceGroup --gat

[2019-10-16 19:28] jfggdl commented on #10762
@mmulhearn, we have created an internal backlog item to be able to update tags on secondary service bus namespaces. I am closing this issue, but feel free to request to open it again if you have any questions or concerns. At this time, we do not have an ETC, but rest assured that we will get to it.

https://msazure.visualstudio.com/DefaultCollection/One/_workitems/edit/5529891

[2019-10-16 19:28] #10762 closed

[2019-10-16 19:29] robgarrett commented on #9396
Can we re-open this issue? - it's still a problem.

[2019-10-16 19:33] JeffBor commented on #6962
To add insult to injury, this is happening to an account/ID that is in multiple AAD directories-member and guest in others, MFA (via AAD) required on some, AND it is marked with risky logins from an expired trial of AAD Identity Protection.  Needless to say, the conditional access is working :).

It seems to me that this is an ambiguous scenario, meaning AAD cannot determine if the ID can be "full

[2019-10-16 19:42] mmulhearn commented on #10762
Sounds good, @jfggdl . Thanks for the update

[2019-10-16 19:42] shelwig opened #10870 "Cannot Delete Application Gateway redirect-config"
**Describe the bug**
The portal allows creation of a Redirect Config but not deletion. In attempting to do so using the CLI I receive and error despite entering the proper commands.

**To Reproduce**

1. Create an application gateway and path based rule.
2. Create a redirect-config
3. Attempt to delete redirect config using the CLI with the following command:
   az network application-gateway redi

[2019-10-16 20:14] chadcarlton commented on #5790
I've only been using powershell for a little while now.. How do you use parameters after using the stop parsing command?
as soon as you use a --%, any of your parameters (like $ResourceGroupName) stop working for the arguments

[2019-10-16 20:48] nofunatall opened #10872 "JMES query on blob creation/modified time not working"
**To Reproduce**
[code]

**Expected behavior**
Should return blobs older then XYZ but always returns a blank regardless of what `[?creationTime>=] ` is set to.

**Environment summary**
[code]

**Additional context**
These types of queries seem to work fine with AWS cli.

[2019-10-16 20:56] nofunatall commented on #10872
Sorry disregard that.
creationTime/modifiedTime is underneath properties.
Query should be:
'[?properties.creationTime>=`2017-10-14`][name, properties.creationTime]'

[2019-10-16 20:56] #10872 closed

[2019-10-16 21:53] johndowns opened #10873 "Typos in `az monitor metrics alert create -h` text"
**Describe the bug**
There are two typos in the `az monitor metrics alert create -h` help text, in the portion of the help text relating to the `--condition` argument.

**To Reproduce**
Execute `az monitor metrics alert create -h` and observe the following section of the text:

[code]

**Expected behavior**
The following typos are present in the above text:

1. `Usage:  --conditon` should read `Us

[2019-10-16 22:28] JasonRShaver opened #10874 "Client-side telemetry incorrectly reports extension name"
When viewing groups loaded from extensions, such as `az devops` or `az devops -h`, the telemetry does not populate the 'context.default.azurecli.extensionname' value.

Without this being set, it becomes difficult to evaluate usage/success of the core CLI vs extensions.

[2019-10-16 22:32] PaulCharlton commented on #10869
+1

[2019-10-16 22:33] PaulCharlton commented on #10854
+1

[2019-10-16 22:42] nagula-ritvika opened #10875 "Add cli support to expose Type in VirtualWan and Sku in VirtualHub"
**Resource Provider**
What is the Azure resource provider your feature is part of?
NRP (Microsoft.Network)

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
We have added a new property called Sku to VirtualHub and Type to VirtualWan and need these properties exposed.

**Minimum API Ver

[2019-10-16 22:48] amitbapat opened #10876 "Azure Key Vault Feature Request for Vendor Agnostic BYOK CLI Changes"
Dummy ticket

[2019-10-16 22:49] JasonRShaver commented on #10874
This also seems to be true for some Commands as well, such as (full set over the past 30d):

[code]

[2019-10-16 22:49] amitbapat opened #10877 "Azure Key Vault Feature Request for Key Vault with managed HSM"
Dummy ticket

[2019-10-16 22:49] JasonRShaver commented on #10874
For the above list, all commands ran and completed successfully.

[2019-10-16 23:22] yonzhan commented on #10877
@jiasli this request is for Key Vault with managed HSM.

[2019-10-16 23:24] yonzhan commented on #10876
@jiasli this is dummy Ticket for Vendor Agnostic BYOK CLI Changes.

[2019-10-17 00:32] dwhanger opened #10879 "az eventgrid event-subscription create fails..."
**Describe the bug**
I can't get the az eventgrid event-subscription create command to work.  Here is, to the best of my ability to read and consume the documentation, my best guess:

az eventgrid event-subscription create --name EndPointCheckerDynatrace --endpoint 'https://<url>.azurewebsites.net/runtime/webhooks/EventGrid?functionName=<function name>' --endpoint-type webhook --subject-begins-wit

[2019-10-17 01:33] Juliehzl commented on #10868
Hi @JasonRShaver, according to  your request, I think maybe you hope we can throw out more accurate error message, right? Especially when incorrect parameters usage, CLI should give correct guide? You suggestion is really good!

[2019-10-17 01:35] MyronFanQiu commented on #10875
@nagula-ritvika Thanks! We will try our best to finish it before Ignite.

[2019-10-17 01:36] MyronFanQiu commented on #10873
@johndowns Thanks~ I will fix it later.

[2019-10-17 01:41] MyronFanQiu commented on #10869
@nesteffe Hello. Is this issue similar with this one? https://github.com/Azure/azure-cli/issues/10854

[2019-10-17 01:44] MyronFanQiu commented on #10870
@shelwig Hello. I will take a look later. We're quite busy for Ignite. So it may take some time for me to take at this issue. Thanks.

[2019-10-17 01:46] nesteffe commented on #10869
Yes, this is the same issue. Sorry, that issue didn't show up when I was searching for this earlier today.

[2019-10-17 01:55] haroldrandom commented on #10747
So, the Object I need to set actually is the `userAssignedIdentities` of `ManagedServiceIdentity`, but which has two properties: `principalId` and `clientId`. Which one I should set?

[2019-10-17 01:59] MyronFanQiu commented on #10869
@nesteffe oh. No problem. I just want to double check. We can leave this issue open. I'm quite busy right now for the Ignite. So I may need some time to take a look at this issue later. I'm sorry for it.

[2019-10-17 02:00] MyronFanQiu commented on #10863
@dedhar. Hello. I will try my best

[2019-10-17 02:03] MyronFanQiu commented on #10116
Sorry for the delay. I will take a look at it later.

[2019-10-17 02:11] Juliehzl commented on #10861
Hi @tomasszabo, I can reproduce your error when I typo account-key on purpose. So can you check your storage account key is correct or not?
In addition, if you don't provide account-key and with access permission to the storage account, you also can do the upload. So you can also remove account-key value if you don't know what is the correct account-key.

[2019-10-17 02:13] Juliehzl commented on #10861
dupe of #9995 for inaccurate error message

[2019-10-17 02:47] panchagnula commented on #5790
Thats's correct once you add --% any other $arguments cannot be used & instead should be the explicit value. One question is is there a reason you are running the CLI commands (az webapp create) in PowerShell can you run them in a normal bash window, then you don't need to worry about this. Alternately you could use the Az.PowerShell commands directly as well https://docs.microsoft.com/en-us/power

[2019-10-17 02:49] qwordy commented on #10786
Thank you for your reply. I tried in portal. NSG can be set to None. So Azure CLI should also be able to offer this option although it's not recommended.

[2019-10-17 02:52] Juliehzl commented on #10857
Hi @microkost, this command works well in cmd and PS without variable. I am not sure about if it is a PS client issue because you are using PS script.
Can you try this command in PS not using script again?

[2019-10-17 02:52] qwordy commented on #9362
Thank you for the tips.

[2019-10-17 03:14] MyronFanQiu commented on #10867
@JasonRShaver Should we add examples for you? Do you want to fix this issue by improving Aladdin system?

[2019-10-17 04:18] #10752 closed

[2019-10-17 04:30] MyronFanQiu commented on #10748
just need hostedGateway(express-route gateway) for virtualrouter. peerIp and peerAsn can be arbitrary values.

[2019-10-17 05:33] kenoby-dev opened #10881 ""az webapp config ssl bind" wipes tags"
**Describe the bug**
When "az webapp config ssl bind" command is run (including within the Azure Cloud Shell) the tags that were applied to the App Service are removed.

**To Reproduce**
- Apply tags to the App Service
- Run the "az webapp config ssl bind" command to bind a TLS certificate to the App Service
- Check the tags on the App Service

**Expected behavior**
The tags of the App Service sho

[2019-10-17 06:22] Petermarcu commented on #10850
Thanks, ideally the solution yields no more steps. I did not get an error from the CLI where you could put that message. I was writing an application using the blobs python library. The point here is that I created the Storage account using the CLI and after doing that, it really should be ready for me to start using from the data plane.

[2019-10-17 06:24] Petermarcu commented on #10850
I'd also add that this isn't exactly a dupe of that other bug because its not about getting an error from the CLI or about getting an error on creating containers. This one is about getting an error when using the data plane libraries to upload a blob. I was able to create a container without an error.

[2019-10-17 06:29] Petermarcu commented on #10850
Here is an example of the workflow I was trying to follow when I hit this: https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/storage/azure-storage-blob/README.md

[2019-10-17 07:38] atbagga commented on #9891
@igelineau Follow this thread for detailed conversations and some workarounds - https://github.com/microsoft/knack/issues/166

[2019-10-17 08:20] KosukeHosoda opened #10897 "'az network application-gateway create' doesn't work when associating WAF policy with AppGW."
**Describe the bug**
'az network application-gateway create' doesn't work when associating WAF policy with AppGW.
we might have succeeded in creating AppGW associated with WAF policy when Azure CLI version was 2.0.70.

**To Reproduce**
You can repro when using the following commands.
*******
$lacation = "japaneast";
$vnetName = "AppGW-VNet";
$subnetName = "AppGW-Subnet";
$rgpVnetName = "AppGwGroup

[2019-10-17 08:56] chaami opened #10899 "az storage commands do not work on classic Storage accounts"
Hi,
These command are not working on the classic storage account.
That's a major blind spot.. is this expected or are you planning to add that in the future ?
Thanks and kind regards.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92115d19-d7a0-93a8-bf2b-5126d1cddcd0
* Version Independent ID: a657f09b-e1ac-12a2-4b9c-7a

[2019-10-17 09:54] #10763 closed

[2019-10-17 11:01] yonzhan commented on #10737
@zikalino please take a look.

[2019-10-17 11:02] yonzhan commented on #10735
@zikalino please take a look.

[2019-10-17 11:03] panchagnula commented on #10881
will take a look, thanks for reporting.

[2019-10-17 11:04] yonzhan commented on #9871
We will take a look after Ignite.

[2019-10-17 11:06] yonzhan commented on #10284
@jiasli We will plan after Ignite.

[2019-10-17 13:22] sloscialo commented on #10578
I get the following whether the CLI is logging in (when not logging in, it's all just refusals).

[code]

[2019-10-17 14:00] knobel-dk commented on #10269
I am seeing this with version `2.0.75-1~xenial` too running Ubuntu 16.04 issuing:

[code]

[2019-10-17 14:03] panchagnula commented on #9290
@reaco finally got around to looking at this & noticed that this already works as expected if you run the command as follows

` az webapp config appsettings set -g myRG -n myApp --slot-settings mySetting=value`
OR
`az webapp config appsettings set -g sisirap_rg_Linux_centralus -n sisirap-reactApp --slot-settings @appsettings.json`

where my appsetings.json is as follows:
{
  "endpoints": {

[2019-10-17 14:03] #9290 closed

[2019-10-17 14:25] panchagnula commented on #10269
Note the az webapp up command always needs to run from the context of the DIR the code to be deployed is located in the original issue that was the cause. Given you are running it via Devops make sure the command runs from the context of the code.