[2022-05-25 00:31] yonzhan commented on #22589
storage

[2022-05-25 00:33] yonzhan commented on #22590
route to CXP team

[2022-05-25 01:27] evelyn-ys commented on #22578
Seems like the dependency package is broken. Can you make sure you have installed CLI correctly with https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?

[2022-05-25 01:59] calvinhzy commented on #22240
It should be part of the fix in version 2.37.0.

[2022-05-25 03:03] vsha041 commented on #20596
@navba-MSFT - great thanks, it's sorted now.

[2022-05-25 03:03] #20596 closed

[2022-05-25 04:01] yonzhan commented on #22591
route to CXP team

[2022-05-25 04:02] jiasli commented on #19858
Good news is that Red Hat Enterprise Linux (RHEL) 8 now has Python 3.6, 3.8, and 3.9:

- https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/8/html/configuring_basic_system_settings/assembly_installing-and-using-python_configuring-basic-system-settings
- https://developers.redhat.com/blog/2019/05/07/what-no-python-in-red-hat-enterprise-linux-8

[2022-05-25 04:09] Thirumalaisamy-paulraj opened #22604 "I couldn't login while deploying to azure portal"
### **This is autogenerated. Please review and update as needed.**

## Describe teh bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce teh behavior. Note that argument values has been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Con

[2022-05-25 05:29] panchagnula commented on #19492
@carlrab it could b possible that cloud shell was not updated with the new version yet. Please run az--version & check if the core-cli version used.

[2022-05-25 05:34] cpinotossi commented on #19482
Same issue here:

PS C:\WINDOWS\system32> $prefix="cptdafsync"
PS C:\WINDOWS\system32> $vmid=az vm show -g $prefix -n $prefix --query id -o tsv
PS C:\WINDOWS\system32> az network bastion rdp -n $prefix -g $prefix --target-resource-id $vmid
Command group 'network bastion' is in preview and under development. Reference and support levels: https://aka.ms/CLI_refstatus
Exception in thread Thread-1 (_s

[2022-05-25 05:40] evelyn-ys commented on #22575
CLI didn't make any change😂

[2022-05-25 06:09] rdhruval commented on #22583
@yonzhan

[2022-05-25 06:14] navba-MSFT commented on #22480
@bbi-adamvengroff The SLA followed by Service Team items is to provide an update on all questions once every 30 days, and an update on all bugs once every 90 days. If this issue is very critical, I would recommend you to open a support ticket.

@v-anvashist, @V-hmusukula Could you please provide an update on this ? Awaiting your reply.

[2022-05-25 06:22] jiasli opened #22605 "[Packaging] Drop Mariner 1.0 support"
**Describe the bug**

Since CBL Mariner 2.0 is now GA, Mariner 1.0 will be fully deprecated roughly by the **end of October**.

Azure CLI can drop Mariner 1.0 support in 2.41.0 which is the next breaking change window.

[2022-05-25 06:38] alphonse-rms commented on #16881
I'm experiencing the same issue
I tried to add the `--if-match '*'` option with '--dryrun' and the command seems displaying the right blobs to delete
BUT once I remove the `--dryrun` option, the command delete **ALL** of the blobs inside the container, not only the previously displayed ones during the dry run.

[2022-05-25 06:39] v-anvashist commented on #22480
@navba-MSFT  We received this incident last week and recently start working on this service.

We are trying to repro it and will share the updates to you.

Thanks,
Anjali

[2022-05-25 06:44] navba-MSFT commented on #22559
@asafsofer-sl Thanks for reaching out to us and sharing this feedback. Looking at the error message, it seems like the issue is at the Network socket layer causing the connection failure. Could you confirm if there are any proxy / firewall in your corporate network ? Could you please test it from a different network and check if you still face the same issue ? Awaiting your reply.

[2022-05-25 06:50] asafsofer-sl commented on #22559
Hi @navba-MSFT  , Yes you are totally right , look like there was security update on my laptop causing my FW to block the access.
anyway resolved now , after i regain the access by changing my FW configuration .

[2022-05-25 07:14] navba-MSFT commented on #22567
@tagoreanand Thanks for reaching out to us and sharing this feedback. We are looking into this issue. We will get back to you if we need more information on this.

[2022-05-25 07:27] navba-MSFT commented on #22575
@dtzar Since there were no changes on the AzCLI side, it could have been a transient issue. Since the issue is auto-resolved, feel free to reopen this thread if the issue resurfaces again. We would be happy to investigate and assist you further.

[2022-05-25 07:27] #22575 closed

[2022-05-25 07:41] byteknacker commented on #21678
This issue needs to be reopened. I just did a clean terraform apply after deleting my previous infra. A related error occurred. I am using Terraform 1.1.6:

Error: waiting for creation/update of Bastion Host: (Name "bastion-host-name" / Resource Group "rg-name"): Code="InternalServerError" Message="An error occurred." Details=[]

When upgrading from Terraform azurerm 2.98 to 3.6.0 where there have

[2022-05-25 08:00] #12488 closed

[2022-05-25 08:03] navba-MSFT commented on #22590
@osiotugo Thanks for reaching out to us and sharing this feedback. Could you please confirm if you are using a Mac OS with an **M1 chip** ? If Yes, check if running the below command helps. Awaiting your reply.

[code]

If it doesn't help, my recommendations would be to add and use the CLIv2 (ml) extension using the below command. More Info [here](https://docs.microsoft.com/en-us/azure/machine-lea

[2022-05-25 08:18] alphonse-rms commented on #16881
Looks like updating to the latest version (2.37.0+) of az cli resolved the issue for me

[2022-05-25 10:14] saikumar843 opened #22610 "az repo create command must include the option to initialize a branch with README.md"
**Related command**
 az repo create

**Is your feature request related to a problem? Please describe.**
A default/specific branch must be initialized while creating the repo.

**Describe the solution you'd like**
az repo create --org *** -p *** --name *** --default-branch heads/main

**Describe alternatives you've considered**
Referred the "az repo ref create" as well which requires an object-id o

[2022-05-25 10:41] yonzhan commented on #22593
route to CXP team

[2022-05-25 11:09] yonzhan commented on #22594
route to CXP team

[2022-05-25 11:09] yonzhan commented on #22595
route to CXP team

[2022-05-25 11:15] yonzhan commented on #22597
route to CXP team

[2022-05-25 11:16] yonzhan commented on #22598
monitor

[2022-05-25 11:17] yonzhan commented on #22599
route to CXP team

[2022-05-25 11:23] Saglodha commented on #19278
Hi @AnthonyRobinson - this has been fixed in our latest release. Please review and let us know. Thanks!

[2022-05-25 11:24] Saglodha commented on #15132
@cscoon , this behavior is fixed in our latest release. Please review and let us know. Thanks!

[2022-05-25 11:38] yonzhan commented on #22604
Duplicate of https://github.com/Azure/azure-cli/issues/20231

[2022-05-25 11:38] #22604 closed

[2022-05-25 11:40] yonzhan commented on #22605
Packaging

[2022-05-25 11:52] yonzhan commented on #22610
route to CXP team

[2022-05-25 12:06] v1ferrarij commented on #21753
I am also having this issue.

[2022-05-25 12:32] zhoxing-ms commented on #22583
@rdhruval The CLI version and Python version you used are too old. Could you upgrade the Python version to `3.8+` and CLI version to the latest version (`2.37.0`)?

[2022-05-25 12:37] gdrozario opened #22613 "All az commands result in "Decryption failed: [WinError -2146893813] Key not valid for use in specified state.. App developer may consider this guidance: https://github.com/AzureAD/microsoft-authentication-extensions-for-python/wiki/PersistenceDecryptionError""
No matter what az command I run, I get the following error message:

Decryption failed: [WinError -2146893813] Key not valid for use in specified state.. App developer may consider this guidance: https://github.com/AzureAD/microsoft-authentication-extensions-for-python/wiki/PersistenceDecryptionError

Az version
{
  "azure-cli": "2.37.0",
  "azure-cli-core": "2.37.0",
  "azure-cli-telemetry": "1.0

[2022-05-25 13:24] osiotugo commented on #22590
Ah I missed that issue. I am running on the m1 chip and installed v2 yesterday, so it looks like the export commands did the trick. Thank you!

[2022-05-25 13:24] #22590 closed

[2022-05-25 13:38] vivek602 opened #22614 "Failed to update application: '**', because patch resource group failure [with latest az cli version 2.37.0]"
**Related command**
Installed version

Dependencies:
msal                            1.18.0b1
azure-mgmt-resource      21.1.0b1
azure-cli                         2.37.0

**To Reproduce**
az tag create \
--resource-id /subscriptions/***********/resourceGroups/********/providers/Microsoft.Databricks/workspaces/****** \
--tags version=*****

**Expected behavior**
 it should update the tag for the men

[2022-05-25 14:05] yonzhan commented on #22613
@jiasli for awareness

[2022-05-25 14:05] yonzhan commented on #22614
ARM

[2022-05-25 14:08] byteknacker opened #22615 "Put Diagnostics Setting as a Separate Resource under a Resource Group"
**Description**
This is not a direct part of Azure CLI but since I cannot find the repository for Azure Portal or Azure Platform itself, I will post the feature request here to get redirected to the right team.

**Motivation**
I am deploying Azure infrastructure using Terraform. Currently, diagnostics settings are managed outside of resource groups. It is hard to find and go to the correct diagnos

[2022-05-25 14:43] yonzhan commented on #22615
route to CXP team

[2022-05-25 14:43] gdrozario commented on #22613
Resolved by deleting:
C:\Users\<username>\.azure\
    - msal_http_cache.bin
    - msal_token_cache.bin

[2022-05-25 14:43] #22613 closed

[2022-05-25 15:39] vivek602 commented on #22614
I didn't get you, What do mean by ARM?

[2022-05-25 16:02] TeamDman opened #22616 "az rest command opening json body as latin-1 instead of utf-8"
**Related command**

[code]

**Describe the bug**
az cli opening the json file without using utf-8 encoding

[code]

**To Reproduce**

Have a json with `W▄RTTEMBERG` as a value somewhere

**Expected behavior**
No error

**Environment summary**

[code]

**Additional context**

Trying to avoid https://github.com/Azure/azure-cli/issues/10339 by using a json file instead of inlining the json in the co

[2022-05-25 16:16] kadzu opened #22617 "Unable to create an elastic monitor resource"
**Related command**
`az elastic monitor create`

**Describe the bug**
Unable to create an Elastic Cloud resource from the AZ CLI.
A valid value is requested for SKU (I counldn't find information in the official documentation about possible values, the only one they show is "_free_Monthly_" and it doesn't work).

**To Reproduce**
`az elastic monitor create --name "myEC" --resource-group "MyResource

[2022-05-25 16:31] FinVamp1 commented on #20390
Hello, @andygjp if you wanted to send me an app name and time frame to finbar.ryan at microsoft.com then I can check out to see why this might fail. I can look at this tomorrow.

[2022-05-25 16:40] jaganpani commented on #22270
@jsntcy , lets setup a meeting to go over the tool.

[2022-05-25 19:25] techmist opened #22618 "`az webapp list` No module named 'decorator'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list --resource-group {}`

## Expected Behavior

## Environment

[2022-05-25 20:08] KSchlobohm opened #22619 "Installed extensions are not available on WSL"
**Related command**
`az postgres flexible-server`

**Describe the bug**
Installed *az cli* on Windows 11 environment and switched to doing dev tasks in WSL. Saw that *az cli* was available but that my extensions were not. *az cli* said they were installed when I listed my extensions but they weren't recognized when I tried the commands.

**To Reproduce**
1. Install az cli on Windows
2. Install the

[2022-05-25 20:27] SindibadJafar commented on #21003
@dbielik god bless you dude, you saved me from destroying a cluster

[2022-05-25 20:28] ellismg opened #22621 "[Regression] `--stdout` does not work for `az bicep build` in v2.37.0"
**Related command**
az bicep build

**Describe the bug**
Since v2.37.0 the `--no-restore` flag has to be passed to `bicep build`, as well as `--stdout` to for the compiled template to be printed.

**To Reproduce**
run `az bicep build --stdout -f <path-to-bicep>` and you'll see not output.  Add `--no-restore` and you will.

**Additional context**
It was introduced, I think, with https://github.com/

[2022-05-25 21:10] MSFT-tellison opened #22622 "Azure CLI login fails with "The security token could not be authenticated or authorized""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login -u {} -p {}`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-05-25 21:14] pallavgupta commented on #22593
@navba-MSFT we didn't see this issue today, so closing it now. We will reopen it, if we see same issue in future. Thanks.

[2022-05-25 21:14] #22593 closed

[2022-05-25 22:00] alfeilex commented on #22345
Thanks for the help. Your procedure is a local installation. Is there also the possibility to install Azure globally on Mac like on Windows?

If not, the ticket can be closed. I can work with your suggestion.

[2022-05-25 22:26] yonzhan commented on #22616
@jiasli for awareness

[2022-05-25 22:27] yonzhan commented on #22617
elastic monitor

[2022-05-25 22:29] yonzhan commented on #22618
route to CXP team

[2022-05-25 22:29] yonzhan commented on #22619
route to CXP team

[2022-05-25 22:30] D1v38om83r commented on #22501
I can't afford it being postponed, our GA date is June 30th.

[2022-05-25 22:31] D1v38om83r commented on #22499
I can't afford it being postponed, our GA date is June 30th.

[2022-05-25 22:31] yonzhan commented on #22621
route to CXP team

[2022-05-25 23:01] yonzhan commented on #22622
@jiasli for awareness

[2022-05-26 00:20] Euanher opened #22623 "azure cli application=databricks databricks-environment=true defaultExperience=Azure Cosmos DB for MongoDB API MLWorkspaceLinkUpdateTime=05/11/2022 16:44:01 +00:00 ms-resource-usage=azure-cloud-shell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`Unknown`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az connectedk8s connect --name {} --resource-group {} --location {} --tags {} {}

[2022-05-26 00:28] yonzhan commented on #22623
route to CXP team

[2022-05-26 00:29] omerzubair opened #22624 "Unable to uncheck 'Allow requestors to approve their own changes' under Completion options"
I was not able to find the switch to be able to uncheck the "Allow requestors to approve their own changes".
There is no switch for update policy.

$requiredReviewer = az repos policy required-reviewer create `
    --blocking true `
    --branch "main" `
    --branch-match-type "exact" `
    --enabled true `
    --repository-id $($repositoryid) `
    --required-reviewer-ids $reviewerGroupId `

[2022-05-26 00:30] yonzhan commented on #22624
route to CXP team

[2022-05-26 01:01] omerzubair opened #22625 "Unable to Check the option 'Prohibit the most recent pusher from approving their own changes'"
using this code and cannot find the switch which will Check the option 'Prohibit the most recent pusher from approving their own changes'

$approvercount = az repos policy approver-count create `
    --allow-downvotes false `
    --blocking true `
    --branch main `
    --creator-vote-counts false `
    --enabled true `
    --minimum-approver-count 1 `
    --repository-id $($repositoryid) `
    -

[2022-05-26 01:29] kairu-ms commented on #22598
This issue will be fixed in https://github.com/Azure/azure-cli/issues/22572

[2022-05-26 01:29] yonzhan commented on #22625
route to CXP team

[2022-05-26 01:45] jsntcy commented on #22270
My teammate Kai Ru will setup a meeting with you to go over the tool.

[2022-05-26 01:47] kairu-ms commented on #22617
Could you try `ess-monthly-consumption_Monthly`?

[2022-05-26 01:47] zhoxing-ms commented on #22614
This is an ARM service related issue. We need the server team to confirm whether they register the resource provider or we upgrade the api-version

[2022-05-26 01:53] kairu-ms commented on #22617
Hi @v-sadafm. The enum value missed in swagger definition.

[2022-05-26 02:07] spottedmahn opened #22626 "old link"
## Describe the bug
When I ran `az ad sp create-for-rbac --name` it provided this link:
https://docs.microsoft.com/en-US/cli/azure/ad/sp?view=azure-cli-latest#az_ad_sp_create_for_rbac

but the anchor link part isn't right; hyphens not underscores 😊:
https://docs.microsoft.com/en-US/cli/azure/ad/sp?view=azure-cli-latest#az-ad-sp-create-for-rbac

**Command Name**
`az ad sp create-for-rbac`

[code]

[2022-05-26 02:14] zhoxing-ms commented on #22350
@laurawu19 After our internal discussion, we will develop and release this requirement in this sprint.
By the way, for the support of managed identity, we usually do not use `--identity-type`, but we have an unified specifications. Please refer to the [managed_identity_command_guideline.md](https://github.com/Azure/azure-cli/blob/dev/doc/managed_identity_command_guideline.md)for details
May I ask

[2022-05-26 02:35] yonzhan commented on #22626
@jiasli for awareness

[2022-05-26 02:39] navba-MSFT commented on #22562
Adding Service team to look into this ask.

@aznetsuppgithub Could you please provide an update on this ?

[2022-05-26 02:45] navba-MSFT commented on #22618
@techmist Thanks for reaching out to us and sharing this feedback. I see that you are using an older version of Azure CLI. Could you please use the [most recent version of AzCLI ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)and check if you are still facing the same issue ? Awaiting your reply.

[2022-05-26 02:47] jiasli commented on #22613
Duplicate of #20231

[2022-05-26 02:55] navba-MSFT commented on #21003
@ianjirka Thanks for confirmation and feedback. The Service team is looped in this email can look into this feedback. If you have any questions in the meantime, feel free to ask.

[2022-05-26 03:29] italukder commented on #20848
subject : global international faqs. org and RFC trust board

Introduction.
faqs.org all application and RFC all application subject beside separate and separate position but relationship holly family
note.faqs.org / rfc -all application new rfc future members including rfc trust board and all faqe.org application and rfc application my gold family members.

faqs.ord all application Rfe all applic

[2022-05-26 04:16] jiasli commented on #22626
The link is from Aladdin's recommendation:

https://github.com/Azure/azure-cli/blob/02cb00efbf661a1c18bab4a1fe03f2b1c59e30ef/src/azure-cli-core/azure/cli/core/command_recommender.py#L306-L309

[2022-05-26 04:54] jiasli opened #22628 "[Graph] Support `deletedItems` APIs"
**Related command**
`az ad`

When deleting objects from Microsoft Graph, they are soft-deleted. They still count against the quota

https://docs.microsoft.com/en-us/azure/active-directory/enterprise-users/directory-service-limits-restrictions

There are APIs for finding deleted objects and permanently (purge) them:

- [List deletedItems (directory objects)](https://docs.microsoft.com/en-us/graph/a

[2022-05-26 04:56] jiasli commented on #22628
Currently this can be achieved by running `az rest` to call the REST API, like what we are currently doing in the tests:

https://github.com/Azure/azure-cli/blob/cac3f06cf483d8c81f93c9cd556116e27aff2182/src/azure-cli/azure/cli/command_modules/role/tests/latest/test_graph.py#L133-L135

[2022-05-26 05:00] navba-MSFT commented on #22463
@kventil The action is pending on you to follow the above action plan. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-26 05:00] #22463 closed

[2022-05-26 05:24] navba-MSFT commented on #22536
@haybeewhy The action is currently pending on you to follow the above plan. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-26 05:24] #22536 closed

[2022-05-26 05:31] v-sadafm commented on #22617
Hi @kairu-ms,
I have tried creating elastic monitor resource with below az command which worked for me
az elastic monitor create --name "testcli" --resource-group "rg-name" --location "West US 2" --sku "ess-monthly-consumption_Monthly" --user-info "{'companyInfo':{'business':'Technology','country':'US','domain':'microsoft.com','employeeNumber':'10000','state':'WA'},'companyName':'Microsoft','email

[2022-05-26 05:34] ToruMakabe opened #22629 "az ad signed-in-user show in 2.37.0 does not work: ADSTS50005: User tried to log in to a device from a platform (Unknown) that's currently not supported through Conditional Access policy."
## Describe the bug

`az ad signed-in-user show` in 2.37.0 does not work in my env. The cause seems to be AD Conditional Access policy, but in the previous version (2.36.0), it works as expected without error.

[The migration doc](https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-migration?tabs=powershell) doesn't seem to have any known issues with this error.

This command is [used in in

[2022-05-26 05:44] jiasli commented on #22629
@ToruMakabe, Azure CLI 2.36.0 works before because it calls AD Graph. Now Azure CLI 2.37.0 calls Microsoft Graph, and **the error message comes from the underlying API which has Conditional Access policy configured**.

Could you try to run this command on a supported device (iOS, Android, Mac, and Windows flavors) which has Company Portal installed and is complaint?

I can successfully run it on m

[2022-05-26 05:51] #22244 closed

[2022-05-26 05:51] jiasli commented on #22622
Similar to #21050. Please see https://github.com/Azure/azure-cli/issues/21050#issuecomment-1017922460 and try if interactive login works.

[2022-05-26 05:54] ToruMakabe commented on #22629
@jiasli Thanks! Unfortunately, I'm running the Azure CLI on a Linux server... Logged in with --use-device-code option. There may be many users who have similar issues.

I'll talk to the tenant admin. Thanks!

[2022-05-26 06:04] navba-MSFT commented on #22587
@mlovse1 Thanks for reaching out to us and sharing this feedback. Could you please let me know the complete Az CLI command that you had executed ? Also please run the CLI command with --debug switch and share the output here. Awaiting your reply.

[2022-05-26 06:38] navba-MSFT commented on #22626
Removing the CXP attention label since this needs Service team

[2022-05-26 06:44] johanburati opened #22630 "Create VM using private image"
I have some images that show up under Private Products on the Azure Portal.

I tried to deploy VM using the "`az vm create`" command and specifying the SKU for the image but it returns a "`ERROR: (NotFound) Artifact: VMImage was not found.`" message.

Is it possible to deploy such image from the cli ?

Screenshot from Azure Portal:

![image](https://user-images.githubusercontent.com/106444/1704325

[2022-05-26 06:45] yonzhan commented on #22630
Compute

[2022-05-26 06:49] kairu-ms commented on #22617
I see. The customer don't know which values are valid to pass into sku property. "ess-monthly-consumption_Monthly" is not appeared in swagger. The customer tried with "free_Monthly" value which is used in [swagger example](https://github.com/Azure/azure-rest-api-specs/blob/ef5e61721cf3ce245ec78f2908da1aced5a83b42/specification/elastic/resource-manager/Microsoft.Elastic/stable/2020-07-01/examples/M

[2022-05-26 06:51] Sharmistha-Rai opened #22631 "Terraform and CLI work for GA of Site Recovery: V2ARCM"
**Related command**

**Resource Provider**
Microsoft.RecoveryService

**Description of Feature or Work Requested**
Azure Site Recovery allows customer to enable disaster recovery on their machines. As a part of the service, we allow customers to perform DR of Azure VMs, VMware VMs, Hyper-V VMs and physical servers. This feature focuses on the DR of VMware VMs and we are working on the GA release o

[2022-05-26 06:58] yonzhan commented on #22631
PLR

[2022-05-26 07:30] franpb90 commented on #16166
It has a side effect, users lose their role assignment.
I am testing updating the ids in roles.json for the existing roles and using  `az rest --method PATCH --uri "https://graph.microsoft.com/v1.0/applications/$($app.objectId)" --headers 'Content-Type=application/json' --body "@$PSScriptRoot\roles.json"`

[2022-05-26 08:01] #21572 closed

[2022-05-26 08:36] v-sadafm commented on #22617
Thank you for your feedback @kairu-ms, we will consider defining enum values for sku in upcoming development cycles.

[2022-05-26 09:17] jsntcy commented on #22631
@Sharmistha-Rai, could you please tell the relationship between this feature and https://github.com/Azure/azure-rest-api-specs/tree/master/specification/recoveryservices/resource-manager as the resource provider is also Microsoft.RecoveryService. We already have [commands](https://github.com/Azure/azure-cli/blob/1fc5ac9c9bc43198c91173db15e6538ae3ecbf09/src/azure-cli/azure/cli/command_modules/backu

[2022-05-26 09:20] Sharmistha-Rai commented on #22631
Hi @jsntcy - the resource provider RecoveryServices covers two products - Azure Site Recovery and Azure Backup. The commands which you have shared are all related to Azure Backup.

This request has been submitted for Azure Site Recovery.

[2022-05-26 09:23] vivek602 commented on #22614
Please let me know if any other details is needed

[2022-05-26 09:26] jsntcy commented on #22631
Got it, thanks.

[2022-05-26 10:07] jiasli commented on #22629
I think it is expected that Microsoft tenant `72f988bf-86f1-41af-91ab-2d7cd011db47` blocks Linux machines to call MS Graph API. You may consider using a service principal which is designed to be used on automated environments, like a server.

[2022-05-26 10:07] #22629 closed

[2022-05-26 10:11] jiasli commented on #19652
Duplicate of #16401

[2022-05-26 10:28] ToruMakabe commented on #22629
@jiasli As a result of additional verification, it was found that even Linux behaves differently depending on the login method.

* Can be performed without error in an environment where authentication can be redirected to the browser (like WSL2, Azure Cloud Shell via Windows Terminal)
* Error occurs in device flow authenticated environment. `az login --use-device-code`

Apart from conditional acce

[2022-05-26 10:55] jiasli commented on #22629
I am able to reproduce on Linux VM:

[code]

Then I ran

[code]

I got rejected by AAD in the browser:

![image](https://user-images.githubusercontent.com/4003950/170473494-1c771f88-6536-41df-a1ca-a903e2c3c31b.png)

WSL 2 works because it can utilize the [auth code flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow).

Per my understanding, Cloud Shell in

[2022-05-26 11:44] ac101m opened #22634 "Python error when trying to list keyvault role assignments"
**Related command**
az keyvault role assignment list --id ${HSM_URI}

**Describe the bug**
The following python error occurs when trying to list keyvault role assignments:

`'dict' object has no attribute 'object_id'`

There is no accompanying stack trace.

**To Reproduce**
Create an HSM via the cli (I used [these](https://docs.microsoft.com/en-us/azure/key-vault/managed-hsm/quick-create-cli) inst

[2022-05-26 11:45] yonzhan commented on #22634
keyvault

[2022-05-26 11:54] andygjp opened #22635 "Adding tag to service principal fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp update --id {} --add --tags "mytag" --debug`

## Expected Behav

[2022-05-26 12:06] jiasli commented on #22635
As explained in https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-migration?tabs=powershell, generic update operations like `--set` are currently not supported.

You may use `az rest` to directly update the service principal by calling [Update servicePrincipal](https://docs.microsoft.com/en-us/graph/api/serviceprincipal-update?view=graph-rest-1.0&tabs=http) API.

[2022-05-26 12:20] tagoreanand commented on #22567
Thank You team for considering. Can you please make it bit priority as it is important to know at earliest.

[2022-05-26 12:47] pmatthews05 opened #22636 "Can I call 'az ad user list' using the Graph Beta?"
## Describe the bug
When using `az ad user list` in the new version of AZ CLI 2.37.0, the result that comes back is the graph call
https://graph.microsoft.com/v1.0/users

I would like to know if you can tell the az cli to use the Beta version of the MS Graph calls?
https://graph.microsoft.com/beta/users

**Command Name**
`az ad user list`

## Environment Summary
[code]
## Additional Context

[2022-05-26 14:20] yonzhan commented on #22636
@jiasli for awareness

[2022-05-26 15:33] tallywizu opened #22637 "AZL"
**Related command**

az portal dashboard update

https://docs.microsoft.com/en-us/cli/azure/portal/dashboard?view=azure-cli-latest

**Describe the bug**
The AZ portal dashboard update command only accepts files with specific encoding which is not mentioned in the Microsoft documentation and throwing up errors when running other encoding types , the encoding type that is accepted is UTF-8

**To Rep

[2022-05-26 16:22] MSFT-tellison commented on #22622
@jiasli Unfortunately for our use case interactive login via the browser is not possible, as the account we're trying to login with is a service account and is restricted from interactive login / Remote Desktop.

[2022-05-26 16:29] jackheuberger opened #22638 "az policy definition create --rules not optional"
When trying to create a policy definition with the Azure CLI without specifying rules, an error appears saying "--rules is required", though the rules flag is specified in the documentation as optional.

![image](https://user-images.githubusercontent.com/7830838/170531875-8d26db0c-e79d-4b48-8118-6b07a8999d16.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2022-05-26 16:55] kadzu commented on #22617
Exactly,
`--sku "ess-monthly-consumption_Monthly"` works as expected. However, please enhance your swagger file.

Thanks all of you.

[2022-05-26 16:55] #22617 closed

[2022-05-26 17:21] a3y3 opened #22639 "Creating deployment slots via the cli vs the portal results in different behavior."
**Related command**
`az functionapp deployment slot create`. Full command:
[code]

**Describe the bug**
- When creating a Deployment Slot, using the CLI to do so versus using the Azure Portal results in different behavior.
- If the slot is created using the CLI, pushing code to the slot results in the code automatically being also deployed/swapped to the production slot over a period of times (~5

[2022-05-26 17:24] pmatthews05 commented on #22636
For context, with the BETA graph calls there is so much more information you can grab about the user when using the beta. Originally in my code I called `az ad user` and queried/filtered on userType=Member. This ensured I didn't bring back any Guest users. Or the reverse userType=Guest.

With the latest cli, due to using MS Graph and V1.0 this property isn't available, only with beta.

Having a co

[2022-05-26 18:08] pabrams commented on #20231
PS F:\> (New-Object System.Net.WebClient).Proxy.Credentials = `
  [System.Net.CredentialCache]::DefaultNetworkCredentials

PS F:\> az login
az : WARNING: A web browser has been opened at
https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize. Please continue the login in the web
browser. If no web browser is available or if the web browser fails to open, use device code flow with `a

[2022-05-26 20:01] PatrickMessierGoC commented on #18415
Same issue here. Unable to use the above az cli command sequence in a pipeline in a predictable way. What's going on?

[2022-05-26 20:37] jetnet opened #22641 "az aks command invoke: read from stdin"
**Related command**

*PowerShell*
[code]
*bash*
[code]

**Is your feature request related to a problem? Please describe.**
az-aks invoke command cannot read configuration from the standard input.

**Describe the solution you'd like**
Since kubernetes does not support variables in manifests, that would be great if the `az aks command` would support `STDIN` to read manifest from the standard input.

[2022-05-26 22:35] TeamDman commented on #22616
May also be an issue with fetching data and not just posting using the `az rest` command, when I manually fetch details on our configured trusted publishers for [adaptive application controls](https://docs.microsoft.com/en-us/azure/defender-for-cloud/adaptive-application-controls) the umlaut shows properly in the azure portal but the fetched data seems to have changed the character to a square

[2022-05-26 23:31] kingces95 opened #22642 "az login --password-file"
**Related command**
`az login`

**Is your feature request related to a problem? Please describe.**
As a bash user logging script output I do not want to inadvertently capture a secret in my logs. To use `az login` with a password I need to pass the password as an argument. This forces me to load the password into a shell variable which increases the likelihood the password will be captured in a lo

[2022-05-26 23:38] yonzhan commented on #22637
portal

[2022-05-26 23:41] yonzhan commented on #22639
route to CXP team

[2022-05-26 23:41] yonzhan commented on #22638
ARM

[2022-05-26 23:44] yonzhan commented on #22641
route to CXP team

[2022-05-26 23:45] yonzhan commented on #22642
@jiasli for awareness

[2022-05-26 23:47] jiasli commented on #22635
@andygjp, you are hitting a known PowerShell issue: https://github.com/Azure/azure-cli/issues/15529

[2022-05-26 23:50] jiasli commented on #21050
If you can't use the browser-based interactive flow, such as in automation environment, the recommendation is to [sign in with a service principal](https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli#sign-in-with-a-service-principal) or [sign in with a managed identity](https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli#sign-in-with-a-managed-identity).

[2022-05-26 23:50] jiasli commented on #22622
If you can't use the browser-based interactive flow, such as in automation environment, the recommendation is to [sign in with a service principal](https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli#sign-in-with-a-service-principal) or [sign in with a managed identity](https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli#sign-in-with-a-managed-identity).

[2022-05-26 23:53] jiasli commented on #22636
Azure CLI currently doesn't have native support for beta API. We will consider this as a feature request.

[2022-05-27 00:00] jiasli commented on #22642
I understand your concern. Another possible approach is to use environment variables: https://github.com/Azure/azure-cli/issues/10241

[2022-05-27 00:31] eldridgeb opened #22643 "--enable-hibernation parameter does not work with az vm update"
Documentation states that the  `--enable-hibernation ` can be used with `az vm update`.

However this does not seem to work:
`az vm update -n dev-app-001 -g EXAMPLE-APP-01 --enable-hibernation
(BadRequest) Hibernation capability can only be set while creating a new VM. For more information, see https://aka.ms/hibernate-resume/errors.`

The error message also includes a dead link.

Can the document

[2022-05-27 01:56] kingces95 commented on #22642
@jiasli, putting the secret in a script or environment variable is what I'd like to avoid as it's more likely to end up in a log if, say, I dump the environment to a log.

[2022-05-27 02:36] evelyn-ys commented on #22634
This is a bug during our MSGraph migration. We will fix in our next release. Sorry for the inconvenience.

[2022-05-27 03:25] jiasli commented on #22642
@kingces95, fully understood. I have made this PR a feature request and will certainly discuss with our PM @chasewilson @Jacekey23.

[2022-05-27 04:56] navba-MSFT commented on #22625
Adding the Service team for the Devops issue.

 @v-anvashist, @V-hmusukula. Could you please look into this issue and provide an update once you get a chance ?

[2022-05-27 04:58] navba-MSFT commented on #22624
Adding the Service team for the Devops issue.

 @v-anvashist, @V-hmusukula. Could you please look into this issue and provide an update once you get a chance ?

[2022-05-27 05:06] navba-MSFT commented on #22577
@je-ru Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. I am looking into this issue. I will get back to you if I need more information.

[2022-05-27 05:14] navba-MSFT commented on #22581
@bd-clara Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. I am looking into this issue. I will reach out to you, if I need more information.

[2022-05-27 05:15] navba-MSFT commented on #22639
Adding Service team to take  look into this.

[2022-05-27 05:16] navba-MSFT commented on #22639
@Stefanus Hinardi, @Francisco-Gamino Could you please look into this issue ? Any help on this is much appreciated.

[2022-05-27 05:30] nmowatt commented on #22164
I'm still getting the same issue on my TabularDataset, and applying the proposed fix above by using mltable in the yaml file, it gives me `Message: Unable to mount dataset because the input raw_data is not a FileDataset but instead a TabularDataset. Please make sure you pass a FileDataset.`

[2022-05-27 05:46] PramodValavala-MSFT commented on #22595
@bcosden You can already connect using native clients as covered in [this doc](https://docs.microsoft.com/en-us/azure/bastion/connect-native-client-windows). Currently, it opens Remote Desktop Connection for RDP and `az ssh` for SSH connections.

For other clients, you can create a tunnel first and then connect via the local tunnelled port.

[2022-05-27 06:06] PramodValavala-MSFT commented on #22619
@KSchlobohm I wasn't able to reproduce this behavior. Could you upgrade both Azure CLI and the ContainerApp extension to the latest, 2.37.0 and 0.3.5 respectively and try again?

[2022-05-27 06:12] navba-MSFT commented on #22577
@je-ru Could you please run the below command and check if that helps ? The below command initiates the recommendation generation or computation process for a subscription. This operation is asynchronous.

Awaiting your reply.

[2022-05-27 06:34] PramodValavala-MSFT commented on #22591
@nayato I was able to fetch the value by wrapping the query in quotes. Here is what I used, for both Linux (WSL) / PowerShell and Windows

### Linux / PowerShell
[code]

### Windows
[code]

[2022-05-27 06:50] navba-MSFT commented on #22581
@bd-clara I was able to create the netappfiles snapshot successfully. I am sharing you the commands which I ran inorder:

This command creates the Resource group

This command creates the netappFiles account

This command creates the pool

This command creates volume

This command creates snapshot

[2022-05-27 06:59] vivek602 commented on #22614
any update on this?

[2022-05-27 07:13] cxznmhdcxz commented on #22630
Hi @johanburati  could you share the command with arguments that you specified?

[2022-05-27 07:44] andygjp commented on #22635
Thank you @jiasli, changing `$body = '{"tags":["mytag"]}'` to `$body = '{"tags":[\"mytag\"]}'` worked.

[2022-05-27 08:00] #16427 closed

[2022-05-27 08:00] #10812 closed

[2022-05-27 08:02] bogd-a-n opened #22647 "Azure MDE.extension stucks on 'Deleting' on an Azure Arc vm"
I wanted to delete this extension from the machine but It got stucked:

![image](https://user-images.githubusercontent.com/106374076/170657506-055a073d-2e3f-4c27-970b-07703a2212d9.png)

Also tried to remove it from PowerShell but it gets stuck too..

![image](https://user-images.githubusercontent.com/106374076/170657660-631dfa95-6dad-415d-a708-e084ac0ed28e.png)

any ideas?

[2022-05-27 08:03] pmatthews05 commented on #22636
Thanks @jiasli for the confirmation. With the recent swap from Windows Graph to Microsoft Graph, the lack of these properties will require this feature.

I can see two useful places to put the beta switch.
1. On the command you are calling, allowing just that call to use the beta.
2. Within the az config section making all call use the beta.

Alternative for now is just calling `az rest --method g

[2022-05-27 08:06] kamlesh2015 commented on #22614
###  "message":"No registered resource provider found for location 'uksouth' and API version '2019-08-31' for type 'userAssignedIdentities'.

**I got similar error while modifying databric workspace (re-deploying) via Terraform**  ..... `Details=[{"code":"NoRegisteredProviderFound","message":"No registered resource provider found for location 'uksouth' and API version '2019-08-31' for type 'userAs

[2022-05-27 08:08] je-ru commented on #22577
I get "Successfully refreshed recommendations for Azure Advisor" in the notifications, but when I select the affected VM and go to "Advisor recommendations" I can see under "last updated" the date from yesterday. So that one is still old.

[2022-05-27 08:11] navba-MSFT commented on #22577
@je-ru Thanks for getting back. Did you follow my above suggested action plan ? May I know the outcome of that ?

[2022-05-27 09:00] navba-MSFT commented on #22623
@Euanher Thanks for reaching out to us. Could you please share the below details ?

1. Az CLI command that you have executed
2. Error details with the --debug output
3. Elaborate the issue you are facing.

Awaiting your reply.

[2022-05-27 09:55] vivek602 commented on #22614
@zhoxing-ms Please let me know if you have any update on the ongoing issue

[2022-05-27 10:14] PramodValavala-MSFT commented on #22567
@tagoreanand Since this is related to the [APIM DevOps Resource Kit](https://github.com/Azure/azure-api-management-devops-resource-kit) and not Azure CLI directly, it would be best to direct your query there.

That being said, if you had following the steps mentioned [here](https://github.com/Azure/azure-api-management-devops-resource-kit/blob/main/docs/AzDO-Example.md), you would have set the dep

[2022-05-27 10:15] v-soujanya commented on #22480
Hi @bbi-adamvengroff,
We are not able to repro the use, we are able to download the artifacts successfully. Please try to pass the correct path to download artifacts. Please find the Image for reference.
<img width="621" alt="Cli" src="https://user-images.githubusercontent.com/101401302/170680127-77d3bf74-fae3-479b-af5b-a0aab0cf2e44.PNG">

Currently we are using azure-cli 2.34.1 version *
Please l

[2022-05-27 10:26] sureddyk opened #22651 "Unable to upgrade Az version to latest on microsoft hosted agents"
Issue: Unable to update Azure CLI to 2.37.0.

Scenario: Using Azure pipelines, tried to upgrade the Az cli version to the latest with the below script.

az upgrade --all --yes -y

The script runs for well over 40 mins and is stuck in installing msi stage.

Kindly could you help on upgrading the script on the Microsoft hosted machines.

[2022-05-27 10:35] yonzhan commented on #22651
@jiasli for awareness

[2022-05-27 10:40] jiasli commented on #22528
Explanation from ARM service team:

I feel the REST API spec should remove it or at least explain this is an Azure-internal property.

[2022-05-27 10:46] yonzhan commented on #22643
Compute

[2022-05-27 10:51] #22528 closed

[2022-05-27 10:57] je-ru commented on #22577
Yes, I did.
I see no output from the second command.
Beyond that the result was described in my previous comment.

[2022-05-27 11:07] jiasli commented on #22651
This is similar to https://github.com/Azure/azure-cli/issues/18363 but not exactly the same since you are using Windows agent.

`az upgrade` currently doesn't work in Azure DevOps agent.

## Solutions

You may either

1. Wait for Azure DevOps agent to upgrade to the latest Azure CLI by itself (no action from your side)
2. Install Azure CLI from the official source: https://docs.microsoft.com/en-us

[2022-05-27 12:46] yonzhan commented on #22647
route to CXP team

[2022-05-27 14:00] zhoxing-ms commented on #22614
@mvvsubbu Could you please help take a look at the `Microsoft.Databricks` RP service related issue

[2022-05-27 15:16] #22514 closed

[2022-05-27 16:02] BCOps opened #22654 "How to access parameters in az vm run-command create"
I am trying to run a command using az vm run-command create (as per https://docs.microsoft.com/en-us/cli/azure/vm/run-command?view=azure-cli-latest#az-vm-run-command-create) . I am running this on a Windows 10 workstation, communicating with a Windows Server VM in Azure, where I wish to run a remote PowerShell script.

I am trying to understand how to access the parameters that I pass in via the a

[2022-05-27 16:24] mvvsubbu commented on #22614
@kamlesh2015 sorry to hear you are facing this issue, can you please share me the azure resource id of the workspace to take a look at the issue?

[2022-05-27 16:43] mvvsubbu commented on #22614
@kamlesh2015 we figured out the issue, we are working on deploying a fix, it should available in few days. My colleague @sabose1 is going to update you the state of the fix deployment. Sorry for the inconvenience again.

[2022-05-27 17:04] panchagnula commented on #22639
@Francisco-Gamino who owns slots behavior from functions perspective. AFAIk CLI doesn't do any special on the client side & just calls the API with the parameters from the command - I cannot speak for portal implementation. @StrawnSC can you check CLI code & if we need functions folks to look at it - then lets involve them.

[2022-05-27 17:15] jennyhunter-msft commented on #22528
@tfitzmac - Is updating the REST API spec in your realm, or do we need to update the related Swagger?

[2022-05-27 17:24] tagoreanand commented on #22567
Thank you for information. I tried the same strategy mentioned in sample config file for Products and Tags section

In sample config file - You have mentioned 2 products and 2 tags, it means the api will associate for both products and tags? Please confirm me.
If yes - why it is not working for me

[2022-05-27 17:27] rzand opened #22655 "build-first-bicep-template error"
I receive the error below:
Found multiple accounts with the same username. Please report to us via Github: https://github.com/Azure/azure-cli/issues/new

[2022-05-27 17:34] rzand commented on #22655
Sorry, please disregard the above issue. I solved the problem by changing directory in Azure and log off / log on again from cli

[2022-05-27 18:34] kevin-secrist commented on #20901
@haroonf I replicated this again using the instructions I posted on https://github.com/Azure/azure-cli/issues/15800#issuecomment-1075235705

[code]

[2022-05-27 18:57] solwr-ssk opened #22656 "az synapse trigger update issues"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az synapse trigger update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az synapse trigger update --file {} --name {} --workspace-name

[2022-05-27 18:59] vivek602 commented on #22614
@mvvsubbu Thanks for the reply, Please keep us updated on the progress :)

[2022-05-27 19:11] adriancuadrado commented on #14656
I am running into the same issue, except because I am using Ubuntu 20.04 and I used to have this working. I don't know why today it doesn't work. @jiasli this is the output I get with `--debug`:
[code]

[2022-05-27 19:14] adriancuadrado commented on #14656
Oh crap now I got the web browser opening. It took surprisingly long. More surprising is the fact that it opened long after I pressed `Ctrl+C` to kill the process. Weird.

[2022-05-27 19:38] mvvsubbu commented on #22614
My colleague @sabose1 will post updates next week as I am going on PTO.

[2022-05-27 21:10] rakku-ms opened #22659 "[AzureStack] az keyvault create fails with error "the endpoint 'microsoft_graph_resource_id' for this cloud is not set but is used". azure-cli version 2.37.0"
**Related command**
[code]

**Describe the bug**

Starting az cli version 2.37.0, creation of keyvault in Azure Stack is failing with error "The endpoint 'microsoft_graph_resource_id' for this cloud is not set but is used"
The same command works with version 2.36.0

**To Reproduce**

- `az login   # login to any Azure Stack Environment`
- `az keyvault create --name {} --resource-group {} --locatio

[2022-05-27 21:14] Francisco-Gamino commented on #22639
Adding @FinVamp1 from the Functions team who might be able to help.

[2022-05-27 23:58] hyoshioka0128 opened #22660 "Typo "Github"→"GitHub""
https://docs.microsoft.com/en-us/cli/azure/staticwebapp?view=azure-cli-latest

![azure_staticwebapp_e](https://user-images.githubusercontent.com/40815708/170801332-a2d21b66-19f4-4c60-9336-8a21a0acb342.png)

related #22453 (Typo "Github"→"GitHub")
#PingMSFTDocs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e683c181-f00

[2022-05-28 00:11] yonzhan commented on #22654
Compute

[2022-05-28 00:16] #22655 closed

[2022-05-28 00:16] yonzhan commented on #22656
route to CXP team

[2022-05-28 00:19] yonzhan commented on #22659
keyvault

[2022-05-28 00:20] yonzhan commented on #22660
route to CXP team

[2022-05-28 02:13] dsab123 commented on #20505
Bump. I'm getting the same error when I try to `list` storage queues.

[2022-05-28 02:17] aldass-snc opened #22661 "AzureUSGovernment; `az identity create`; NoRegisteredProviderFound API version `2021-09-30-preview` for type `userAssignedIdentities`"
## Describe the bug

Error when using `Az CLI v2.37.0` with API version `2021-09-30-preview` for type `userAssignedIdentities` in `AzureUSGovernment` cloud. The error happens when doing an `az identity create ...` (see below).

**Command Name**

[code]
**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive i

[2022-05-28 02:57] yonzhan commented on #22661
identity

[2022-05-28 03:24] carlosporter opened #22662 "Ctrl+] doesn't on non-english keyboard"
The Azure documentation indicates that a user should press Ctrl+] to exit "az serial-console connect"

Reference:
https://docs.microsoft.com/en-us/cli/azure/serial-console?view=azure-cli-latest#az-serial-console-connect

However this doesn't work with a keyboard that uses a  layout in Spanish or Latin American, I presume there might be a similar problem with any non-english keyboard layout while u

[2022-05-28 03:27] zhoxing-ms commented on #22661
This issue is caused by upgrading the api-version for `Microsoft.ManagedIdentity` in the latest profile.  PR link https://github.com/Azure/azure-cli/pull/22284
Since CLI currently does not support setting different api-version for different clouds, so under the same profile, all clouds use the same api-version for easier maintenance. CLI only supports setting different api-version for different pr

[2022-05-28 03:30] zhoxing-ms commented on #22661
@arndt-s May I ask do you know when the api-version `2021-09-30-preview` for `Microsoft.ManagedIdentity` will be supported in `AzureUSGovernment`?

[2022-05-28 04:39] aldass-snc commented on #22661
Understood... gonna have to go with `2.36.0` for now then since it does work with that version.

Officially, AzureUSGovernment tracks +90 days after Azure Commercial features go GA... but about 80% of the time it does just seem to work in AzureUSGovernment... but, figuring out which %20 does not work is the hard part.  😄

[2022-05-28 04:39] #22661 closed

[2022-05-28 08:00] #22130 closed

[2022-05-28 08:00] #21953 closed

[2022-05-28 10:11] yonzhan commented on #22662
route to CXP team

[2022-05-28 12:48] italukder commented on #20848
Subject : global international married relationship and couple relationship human Rights trust board

example
Every moments and moments of life is beautiful

[2022-05-28 12:51] italukder commented on #20848
Important : many nany more subject issues human right trust board
quickly process and honor this human rights man and woman

thank you

[2022-05-28 13:15] italukder commented on #20848
Subject : global international Islamic beautiful married lif human rights trust board

process

[2022-05-28 15:22] diondrapeck commented on #22164
@nmowatt Could you please confirm that you're using the 2.3.1 version of the extension?

[2022-05-28 22:17] italukder commented on #20848
Subject : global international Islamic all bank business market.  human righy Islamic solution Islamic all bank business role and low Islamic trust board

[2022-05-28 22:30] italukder commented on #20848
Subject : global international Islamic economy trust board

economic business market. Islamic human rights solution . Islamic economy business policy trusr board

[2022-05-28 22:54] italukder commented on #20848
Subject  : global international  noyeeitgfovhmaek
trusoar..

[2022-05-29 00:05] italukder commented on #20848
Subject :  global international khafifa government Democratic trust board

example.
global international khalifa government democracy and sutatan government democracy and kingdom government Democracy follows Islamic saria and Islamic role and  low

support Honor dr zakir nike peac tv india and also all honorable Islamic  human bing Islamic care and support in globally   and also support Islamic  s

[2022-05-29 14:00] tagoreanand commented on #22567
Team - any update on this?

[2022-05-29 15:38] italukder commented on #20848
Subject : global international Android software store gallery

example all Android software store business gallery plate

[2022-05-29 20:00] italukder commented on #20848
Note. All the companies that help and support. Review and help and support  them work support

if this partnere interested in the business   respect their partnership business member chair.and partnership business total income percentage ane both families  office employees development partnership business. income ratio 40% to 60%  just from them.

thank you

[2022-05-30 01:44] evelyn-ys commented on #20505
@jonie001 Can you help take a look?

[2022-05-30 02:00] evelyn-ys commented on #22659
Hi @rakku-ms, keyvault creation would query Graph API to auto assign access policies. Along with our migration from AAD Graph to MS Graph, azure stack will be influenced because there's no MS Graph support in Azure Stack. See [Azure CLI MS Graph Known issues](https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-migration?tabs=powershell#known-issues)

There're two solutions:
1. Do not upgrad

[2022-05-30 02:18] #21228 closed

[2022-05-30 02:19] kairu-ms commented on #21228
Done https://github.com/Azure/azure-cli-extensions/pull/4898

[2022-05-30 02:23] magodo opened #22663 "Can't upgrade in WSL2: UNC paths are not supported."
**Related command**

[code]

**Additional context**

I'm running this under WSL2, Ubuntu distribution:

[code]

[2022-05-30 02:41] yonzhan commented on #22663
@jiasli for awareness

[2022-05-30 03:19] sethbacon commented on #22253
I would like to do this:
AZCLI=$(az --version|grep azure-cli)
echo "$AZCLI"
and get azure-cli                         2.37.0
with out the extra crap. If I wanted the extra, I would be fine entering az --version --verbose.

[2022-05-30 03:34] johanburati commented on #22630
Looking at the debug log I realized that the image required to specify the plan information. Closing this issue.

[2022-05-30 03:34] #22630 closed

[2022-05-30 03:35] zhoxing-ms commented on #22350
In addition, I found that the property of `federatedClientId` was introduced in the `2022-03-02` api-version folder [Swagger link](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/compute/resource-manager/Microsoft.Compute/stable/2022-03-02/DiskRP/diskEncryptionSet.json#L418
) so we need to use version `2022-03-02` instead of api-version `2021-08-01`, right?

[2022-05-30 03:58] jiasli commented on #22660
The doc for `--token` was generated from

https://github.com/Azure/azure-cli/blob/7978dd44aa83375c18a35f30cd6e79e372df9897/src/azure-cli/azure/cli/command_modules/appservice/_params.py#L991

Looks like the word 'Github' (instead of `GitHub`) is used everywhere:

https://github.com/Azure/azure-cli/blob/7978dd44aa83375c18a35f30cd6e79e372df9897/src/azure-cli/azure/cli/command_modules/appservice/_help

[2022-05-30 04:01] jiasli commented on #22663
`az upgrade` currently doesn't support WSL. Please follow the official doc to update: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt

[code]

[2022-05-30 04:06] jiasli commented on #14656
Azure CLI uses MSAL which uses Python's built-in library `webbrowser` to open the browser on host Windows:

https://github.com/AzureAD/microsoft-authentication-library-for-python/blob/c7e81baf0fb807182e39293711c4bce8f22155a7/msal/oauth2cli/authcode.py#L51-L71

[code]

`webbrowser.open` internally uses `www-browser` to launch a browser. If you see any problem with it, you may report to WSL at https

[2022-05-30 04:07] RakeshMohanMSFT commented on #22660
@hyoshioka0128 I will create a PR to fix this.

[2022-05-30 04:07] jiasli commented on #22253
The recommended why to get the version for automation is using `az version` which shows versions in JSON:

[code]

[2022-05-30 04:11] jiasli commented on #22253
There is indeed a switch to turn the survey links off:

https://github.com/Azure/azure-cli/blob/0d71b506a3242c51e6153c0b1eead64b7e698174/src/azure-cli-core/azure/cli/core/__init__.py#L127

https://github.com/Azure/azure-cli/blob/8264073bbec8424fc7329c5587c61725ef619880/src/azure-cli-core/azure/cli/core/_help.py#L174

We definitely should document it at https://docs.microsoft.com/en-us/cli/azure/az

[2022-05-30 04:11] RakeshMohanMSFT commented on #22568
@Kalamazoo-DBA Thank you for reaching out, we are looking into it.

[2022-05-30 04:31] #22663 closed

[2022-05-30 05:17] nmowatt commented on #22164
<img width="303" alt="image" src="https://user-images.githubusercontent.com/104932398/170921640-73f3a611-8911-45c3-9edf-d8f8f7bc6a82.png">

Using 2.4.1.
I'm running it through ML Studio.

[2022-05-30 06:25] magodo commented on #22663
@yonzhan Why do you just close this issue given it is not resolved?

[2022-05-30 06:40] jonie001 commented on #20505
It looks like an issue in the environment configuration. Could you please try to update requests package or check your requests configuration?

[2022-05-30 07:50] tagoreanand commented on #22567
Team - I'm able to deploy multiple products and tags for single api. Thank you for your help. Can you answer my second question now,
**Q)**: If I added 3 products in v1 and if I add another 5 new products and removed previous 3 products in v2. Will the 3 previous products data of particular api get removed from APIM portal? If no, what is the process to remove
**Ans:** ?
Q2): If I added 3 products

[2022-05-30 07:58] kamlesh2015 commented on #22614
@mvvsubbu , @sabose1  Many thanks for your quick response; please keep us on loop on this progress.

[2022-05-30 08:48] navba-MSFT commented on #22581
@bd-clara I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-05-30 08:48] navba-MSFT commented on #22587
@mlovse1 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please share the --debug output details so that we can assist you further on this. Awaiting your reply.

[2022-05-30 08:49] navba-MSFT commented on #22618
@techmist I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-05-30 08:51] navba-MSFT commented on #22623
@Euanher I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please provide us the above details so that we can assist you further. Awaiting your reply.

[2022-05-30 08:52] navba-MSFT commented on #22577
@je-ru Thanks for your reply. I am checking with the Product Owners regarding this. I will get back to you once I hear from them

[2022-05-30 08:57] yonzhan commented on #22663
@magodo  I thought Jiashuo provided you solution/workaround. I can reopen it and add it as feature request in our backlog.

[2022-05-30 09:00] kevinharing opened #22664 "`az ad group member list` does not list service principals"
**Related command**
 az ad group member list

**Describe the bug**
`az ad group member list` does not list service principals.

**To Reproduce**
Run `az ad group member list --group <group_name>` on a group with members of type `Service Principal`.

**Expected behavior**
Returns all members of the group, including Service Principals.

**Additional context**
[code]

[2022-05-30 09:08] arndt-s commented on #22661
@zhoxing-ms

We are in the progress of enabling sovereign clouds but don't have any ETA yet.

@aldass-snc
As far as I know the guidance for GA is to support all of them at once. However, this feature is in public preview and the guidance here for Fairfax is 30 days since public preview in public if I'm not mistaken.

[2022-05-30 09:18] yonzhan commented on #22664
@jiasli  for awareness

[2022-05-30 09:49] doanduyhai commented on #11315
+1 on wildcard feature to manage access on namespaces

[2022-05-30 09:56] bashilias opened #22665 "Can't create storage account"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage account create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage account create --name {} --resource-group {} --loca

[2022-05-30 10:42] madsd commented on #22491
@sdowie73 this issue should have been mitigated. Sorry for the inconvenience.

[2022-05-30 10:43] madsd commented on #22495
@alin-devnet @ishepherd this issue should have been mitigated. Sorry for the inconvenience.

[2022-05-30 10:57] iddqdiddqd opened #22666 "User `objectId` is returned as `null`"
## Describe the bug

**Command Name**
`az ad signed-in-user show`

**Errors:**
[code]

## To Reproduce:
- `az ad signed-in-user show --query {object_id:objectId} -o json`

## Expected Behavior
`object_id` of the user currently logged in should be returned.

## Environment Summary
[code]
## Additional Context
I am also trying to `terraform apply` the below code that utilizes user `object_id`. Accor

[2022-05-30 11:56] jiasli commented on #22666
Please see https://github.com/Azure/azure-cli/issues/22328#issuecomment-1122159498

As described in https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-migration?view=azure-cli-latest&tabs=powershell#breaking-changes

[2022-05-30 11:56] janegilring commented on #22629
I also ran into this issue from an Ubuntu 20.04-based dev-container in VS Code after upgrading Azure CLI from 2.36 to 2.37.

I have always used device codes to authenticate from device containers in order to run the authentication in the proper browser session:
`az login --use-device-code`

Authenticating using the scope suggested in the error message works fine for me:
`az login --scope https://g

[2022-05-30 11:56] #22666 closed

[2022-05-30 11:58] jiasli commented on #22328
Added as requested 😉:  https://github.com/MicrosoftDocs/azure-docs-cli/pull/3122

[2022-05-30 12:15] mossywell commented on #20826
It can be done in PowerShell as follows:

$context = New-AzApiManagementContext -ResourceGroupName "my-rg" -ServiceName "my-apim"
$product = Get-AzApiManagementProduct -Context $context -ProductId "my-product"
$product.SubscriptionRequired = $false
$product | Set-AzApiManagementProduct -Context $context

[2022-05-30 12:33] ttsakpc opened #22667 "az batch pool autoscale parameter "--auto-scale-evaluation-interval" lacks documentation"
I am trying to use `az batch pool autoscale` and set the "--auto-scale-evaluation-interval" parameter.

The [docs](https://docs.microsoft.com/en-us/cli/azure/batch/pool/autoscale?view=azure-cli-latest#az-batch-pool-autoscale-enable) do not provide any help on how this parameter should be set.

The error I am getting when using this parameter is:

`msrest.exceptions.SerializationError: Unable to se

[2022-05-30 13:19] evelyn-ys commented on #22665
Seems like CLI's dependency isn't installed correctly. `azure-multiapi-storage` package went wrong. Can you please install Azure CLI following https://docs.microsoft.com/en-us/cli/azure/install-azure-cli

[2022-05-30 13:51] onlyillusion opened #22668 "Can't upgrade static web apps github setting"
**Related command**

az staticwebapp update --name static-webapps  --source https://github.com/xxx --branch main  --token {{PAT}}

**Describe the bug**

When trying to update existing static web app with new private github repo setttings there is an error
Error code
BadRequest
Message
RepositoryToken is invalid. Please ensure the Github repository exists and the RepositoryToken is for an admin of

[2022-05-30 13:51] bashilias commented on #22665
Thanks. I had an old repo in my repolist and there is an old 'az-cli' version in the Fedora repo.
Reinstalled az-cli from the correct repo.

[2022-05-30 13:56] #21512 closed

[2022-05-30 14:35] jayendranarumugam opened #22669 "Supporting Multi Version"
**Is your feature request related to a problem? Please describe.**

For [some Dependencies reason](https://stackoverflow.com/a/70736802/7073340) with Terraform (using azure cli internally). I'm trying to use multiple versions of azure CLI in my machine. e.g, 2.30.0 ,2.22.0

Depending on the need we are planning to change the version whenever required. But I couldn't find a way to change the azure

[2022-05-30 15:31] stefanes commented on #21572
I can confirm this now seems to work with the Azure CLI version in Azure Cloud Shell:

[code]

[2022-05-30 17:50] jonasnorlund opened #22671 "Create Container Apps CLI Docs is wrong - Log analytics"
Below is from docs page

--logs-workspace-id

Name or resource ID of the Log Analytics workspace to send diagnostics logs to. You can use "az monitor log-analytics workspace create" to create one. Extra billing may apply.

It doesn't work with name or resource ID, however it works with Workspace ID (=guid), so docs need to be updated.

 az monitor log-analytics workspace show -g $RESOURCE_GROUP -n

[2022-05-30 18:35] RakeshMohanMSFT commented on #22568
@Kalamazoo-DBA I believe you are talking about the mismatch in the number of results returned, if so the portal only displays top 10 rows of the results returned.

![image](https://user-images.githubusercontent.com/49954584/171045380-4e06911d-bc08-40b7-b3fa-10b8873fa29f.png)

If i misunderstood the question, please let me know.

[2022-05-31 01:25] yonzhan commented on #22669
@jiasli for awareness

[2022-05-31 01:27] yonzhan commented on #22671
route to CXP team

[2022-05-31 02:01] aivanou commented on #16312
Can you please prioritize this? Several years has past and no progress... As far as I know acr is paid service.

Getting the same issue when repo is not found:

[code]

[2022-05-31 02:16] zhoxing-ms commented on #22275
--access-level Write --duration-in-seconds 86400 \
    --secure-vm-guest-state-sas true)

@AjKundnani I suggest that users use `--secure-vm-guest-state-sas` to indicate query `securityDataAccessSAS` instead of `--secure-vm-guest-state-sas True`, because there is no case for `--secure-vm-guest-state-sas False`, so the user's input should be simplified. What do you think of it?

[2022-05-31 02:51] zhoxing-ms commented on #22275
I concern that this design will lead to breaking change, because if the create option of disk queried in the CLI scripts are `secureOSUpload`, the execution will fail due to the `--secure-vm-guest-state-sas` parameter is an additional required parameter

[2022-05-31 03:31] hyoshioka0128 opened #22673 "Typo "Github"→"GitHub""
https://docs.microsoft.com/en-us/cli/azure/aks/draft?view=azure-cli-latest

![image](https://user-images.githubusercontent.com/40815708/171087017-c893713b-408a-433a-ac01-d7c2c12e6b71.png)

![image](https://user-images.githubusercontent.com/40815708/171087116-35e784bb-19c8-404a-8534-eb0084aaae6c.png)

![image](https://user-images.githubusercontent.com/40815708/171087142-7ce51fd3-6f5a-42a0-928a-ed5e

[2022-05-31 03:46] yonzhan commented on #22673
route to CXP team

[2022-05-31 03:49] RakeshMohanMSFT commented on #22673
@hyoshioka0128 will fix it with a PR.

[2022-05-31 03:50] RakeshMohanMSFT commented on #22667
@ttsakpc Thank you for reaching out, we are looking into it.

[2022-05-31 04:17] RakeshMohanMSFT commented on #22667
@ttsakpc You can refer this for ISO 8601 duration format https://www.digi.com/resources/documentation/digidocs/90001437-13/reference/r_iso_8601_duration_format.htm. I will get the document updated

[2022-05-31 04:17] PARADISSEEKR commented on #22199
Hi @AjKundnani , When I test `Create Virtual Machine Scale Set with ConfidentialVM Security Type`, service returned an error: `BadRequest: Virtual Machines Scale Sets do not allow setting managedDisk.securityProfile.diskEncryptionSet.` Is this as expected?

[2022-05-31 06:05] AjKundnani commented on #22275
@zhoxing-ms - Agreed, we can use it as a switch rather than bool parameter.

[2022-05-31 06:46] #22634 closed

[2022-05-31 07:01] JayChase commented on #22314
If anyone else can't wait for a fix. The power shell cmdlet `New-AzResourceGroupDeployment -Whatif `  is still working for me with deployments that are failing with azure-cli.

[2022-05-31 07:04] #22673 closed

[2022-05-31 07:28] divyansh3131 opened #22675 "Dynatrace.Observability GA Release"
**Related command**

**Resource Provider**
Dynatrace.Observability

**Description of Feature or Work Requested**
New GA Service through PLR.
High-level overview: https://review.docs.microsoft.com/en-us/azure/partner-solutions/dynatrace/dynatrace-create?branch=pr-en-us-199600

**Minimum API Version Required**
2021-09-01-preview

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/blob/ma

[2022-05-31 07:30] yonzhan commented on #22675
PLR

[2022-05-31 08:00] #22289 closed

[2022-05-31 08:01] AjKundnani commented on #22275
@zhoxing-ms - As discussed, CLI will query disk resources created using `az disk create` command and if `--for-upload` is set to **secureOsUpload** then `--secure-vm-guest-state-sas` switch will be auto-added in `az disk grant-access` command.

Additionally, `--for-upload` parameter will continue to support **true** as alias for **nonSecureOsUpload** with warning message that true will be deprecat

[2022-05-31 08:46] RakeshMohanMSFT commented on #22525
@ljns I really tried too many times but unable to reproduce the issue. Also the issue is not in Azure CLI Per se, therefore please file a support ticket that would help to get to the root of this issues

[2022-05-31 08:48] sabose1 commented on #22614
The fix has been tested and merged. It will be deployed in public regions before June 10th.

[2022-05-31 08:49] RakeshMohanMSFT commented on #22656
@solwr-ssk Thank you for reaching out to us, we will look into it. In the meantime can you please upgrade to latest Azure CLI [2.37.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and try?

[2022-05-31 08:57] solwr-ssk commented on #22656
Tried `az upgrade`
<pre>azure-cli is already the newest version (2.32.0-1~hirsute).
The following packages were automatically installed and are no longer required:
  libgdk-pixbuf-xlib-2.0-0 libgdk-pixbuf2.0-0 linux-headers-5.13.0-23
  linux-headers-5.13.0-23-generic linux-image-5.13.0-23-generic
  linux-modules-5.13.0-23-generic linux-modules-extra-5.13.0-23-generic
  python3-debconf update-notif

[2022-05-31 09:08] jgezelscorp commented on #22214
Seeing the same behavior. Any insides?

[2022-05-31 09:11] guitarrapc opened #22677 "Error from Container Apps- Failed to connect to MSI. Please make sure MSI is configured correctly."
**Related command**

[code]

**Describe the bug**

Running `azure-cli` in ContainerApps with MSI, both System assigned and User assigned, but `az login --identity` failed with 405.

[code]

**To Reproduce**

1. Prepare ResourceGroup `foo`.
2. Prepare ContainerApps Environment `bar`.
3. Save YAML as follows, please replace xxxx with your subscription id.

[code]

4. Deploy Container App.

[code]

5

[2022-05-31 09:48] birdnathan commented on #22314
I have a ticket open too, definitely a bug it would seem. Just need somebody to confirm and own it. Will report back if i get a resolution.

[2022-05-31 09:49] tagoreanand commented on #22567
Team - any update on my above comment?

[2022-05-31 09:54] RamakantDBA commented on #20863
Graphql in APIM is now GA. I still cannot find the SpecificationFormat to import a graphql api. Please help

[2022-05-31 10:19] zhoxing-ms commented on #22275
@AjKundnani The `az snapshot create` command also has the `--for-upload` parameter and similar parameter logic.
Do we also need to consider supporting `nonSecureOSUpload` and `secureOSUpload` of `--for-upload` for the `az snapshot create` command in the same way?

[2022-05-31 12:10] mxftw commented on #16359
Any news on correcting this bug?

[2022-05-31 12:10] mxftw commented on #16359
Any news on correcting this bug?

[2022-05-31 12:36] bluehatgeek opened #22679 "AZ CLI `az storage account file-service-properties update` returns - Non-Type SMB Object error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage account file-service-properties update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage account file-service-proper

[2022-05-31 13:13] italukder commented on #20848
Subject : global international universal children care human right trust board

[2022-05-31 13:23] Kalamazoo-DBA commented on #22568
@RakeshMohanMSFT  - The issue is unrelated to the number of rows returned by the command:

az security task list

The issue is that the command will report some recommendations with the Severity reported as **High** while the exact same recommendation viewed in the Azure Portal is reported as **Low** or **Medium**.  A support request was opened with Microsoft and a summary of the reply provided be

[2022-05-31 14:21] panchagnula commented on #22495
Closing this since we got confirmation from the feature team.

[2022-05-31 14:21] #22495 closed

[2022-05-31 14:32] VNBharadwaja opened #22680 "Getting No module named 'azure.keyvault.v7_0' error"
I installed `azure cli` in Dockerfile like so:

`RUN echo Y | apt-get install azure-cli`

and I don't see any errors. I also logged into a service principal like so:
`RUN az login --verbose --service-principal -u  $AZ_APPID -p $AZ_PASSWORD --tenant $AZ_TENANT_ID --allow-no-subscriptions`

but when I'm trying to run the following command in Dockerfile:
`RUN az keyvault secret show --name "<secretna

[2022-05-31 14:49] yonzhan commented on #22680
keyvault

[2022-05-31 14:52] Totorman commented on #22233
OK will give it a try tomorrow. thx. I'll keep you informed here.

[2022-05-31 14:53] Totorman commented on #15439
OK, Thx. Trying this format tomorrow. I'll keep you informed here.

[2022-05-31 14:56] VNBharadwaja commented on #22680
what is this supposed to mean?

[2022-05-31 15:27] zhouwangzw opened #22681 "Aure Cli 2.37: Storage blob url: the result url has "/" at the end, and in case of SAS token is used, the url becomes an invalid one."
**Related command**
az storage blob url

**Describe the bug**
The url generated by "az storage blob url" has "/" at the end, which makes the generated URL be invalid if sas token is used. See example below.
It works correctly with 2.36.

**To Reproduce**

15:02:22 [0] $ az version
{
"azure-cli": "2.36.0",
"azure-cli-core": "2.36.0",
"azure-cli-telemetry": "1.0.6",
"extensions": {}
}
15:02:28 [0] $

[2022-05-31 15:33] evelyn-ys commented on #22680
Can you share the CLI version with `az version`?

Our official installation doc is https://docs.microsoft.com/en-us/cli/azure/install-azure-cli

[2022-05-31 15:53] VNBharadwaja commented on #22680
`az version`
`2.18.0`

[2022-05-31 16:48] fitzgeraldsteele opened #22682 "Update VMSS + LB to use NATv2"
**Related command**

az vmss

**Resource Provider**

Microsoft.compute

**Description of Feature or Work Requested**

With VMSS create there is currently client logic like:

- If VMSS Uniform, configure NAT Pool,
- If VMSS Flex, do not configure NAT pool

LB has recently launched an update to NAT rules that work for both VMSS Uniform and Flex. We would like to revise the VMSS create to always set

[2022-05-31 16:56] AjKundnani commented on #22275
@zhoxing-ms - Currently we do not have plans to support SecureOSUpload scenario for snapshots. I am checking more with team and if needed will setup new request for `az snapshot create` command.

cc @lakmeedee

[2022-05-31 17:09] laurawu19 commented on #22350
Yes. The design you provided looks good to us.

[2022-05-31 17:11] laurawu19 commented on #22350
In DiskRP internally, the minimun api version required is 2021-08-01, and it is included in the swagger for "2022-03-02". Is the policy that cli should follow the same as swagger? If so, we will go with 2022-03-02.

[2022-05-31 17:22] diondrapeck commented on #22164
@nmowatt - okay, thank you for that information. The fix should work for any version >= 2.3.1.

The error message you're seeing is not coming from the client-side, so I'm going to pull in someone from the backend data team to help sort out your issue. Could you also please post your YAML file? Please omit any personal information.

[2022-05-31 18:25] BigBearBrian opened #22684 "(InvalidApiVersionParameter) The api-version '2020-07-01-preview' is invalid."
**Related command**
`az policy exemption create -n "Exempt_<SNOWINC>_Tags_<RSGName>" --policy-assignment "/providers/Microsoft.Management/managementGroups/<MGName>/providers/Microsoft.Authorization/policyAssignments/<AssignmentName>" --exemption-category "Waiver" --resource-group "/subscriptions/<SubGUID>/resourceGroups/<RSGName>" --expires-on "2022-06-02T00:00:00Z"`

**Describe the bug**
Using mo

[2022-05-31 18:35] KSchlobohm commented on #22619
Hi @PramodValavala-MSFT I installed another WSL instance after upgrading to the latest versions of `az cli` and the two extensions mentioned. I was also unable to recreate any issue.

Sorry about that, I didn't realize how out of date my `az cli` was.

[2022-05-31 18:35] #22619 closed

[2022-05-31 18:59] diondrapeck commented on #22164
@nmowatt

I apologize for the confusion, but I have been informed by the Datasets team that only File Datasets are supported for MLTable and no SQL database mounting is supported, so the error message is expected.

[2022-05-31 19:04] nmowatt commented on #22164
Ok thanks for the info @diondrapeck. May I ask how I can mount TabularDatasets (SQL Database) in the yaml file then?

[2022-05-31 21:53] omerzubair commented on #22624
any update?

[2022-05-31 21:54] omerzubair commented on #22625
Just reaching out for any update, please?

[2022-05-31 22:08] SatishBoddu-MSFT commented on #22550
Hello @cResults Thanks for sharing more information on this, we are routing this to the Service Teams Attention!

[2022-05-31 22:10] SatishBoddu-MSFT commented on #22547
We are routing this to the Service Teams' attention for further action!

[2022-05-31 22:50] Francisco-Gamino commented on #22547
Adding Functions Deployment folks @amamounelsayed and @FinVamp1 .

[2022-05-31 23:12] yonzhan commented on #22681
storage

[2022-05-31 23:42] yonzhan commented on #22684
ARM

[2022-06-01 00:02] rguptar commented on #22597
@yonzhan Is this being looked into?

[2022-06-01 00:05] yonzhan commented on #22597
devops service team should take a look

[2022-06-01 00:11] rakku-ms commented on #22659
FYI @sarathys @TheOnlyWei @vasanthrajams

[2022-06-01 00:32] ishepherd commented on #22495
@madsd @panchagnula Thanks for your investigation.

I'm glad to see the feature team sent out a security advisory. Copying it here for anyone who lands here in future

----

[2022-06-01 01:44] zhoxing-ms commented on #22350
Yes, because CLI depends on the Python SDK, and the api-version folder of Python SDK comes from the definition of Swagger

[2022-06-01 02:00] jiasli commented on #22214
Currently running `az upgrade` inside Azure DevOps is not officially supported. Please see https://github.com/Azure/azure-cli/issues/18363.

[2022-06-01 02:51] zhoxing-ms commented on #22684
This issue is caused by ARM service does not support api-version `2020-07-01-preview`, so ARM service team needs to investigate it

[2022-06-01 03:06] BigBearBrian commented on #22684
Public cloud only. I'll try to get you a debug log after I log in to work tomorrow (6/1/2022).

[2022-06-01 03:43] italukder commented on #20848
Subject : global international universal jock human rights trust board

[2022-06-01 03:45] italukder commented on #20848
Subject : global international Islamic joke human right trust board

[2022-06-01 03:48] ynot-commit opened #22690 "Attempting to create volume group via CLI."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az netappfiles volume-group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az netappfiles volume-group create -g {} --account-na

[2022-06-01 03:59] RakeshMohanMSFT commented on #22690
@ynot-commit Thank you for reaching out, we are looking into it.

[2022-06-01 04:00] PramodValavala-MSFT commented on #22619
@KSchlobohm Glad that you are unblocked! It wasn't that old per se but upgrading to the latest is a quick way to get unblocked for most issues since we are constantly improving Azure CLI. It happens more often that you would expect 😄

[2022-06-01 04:03] evelyn-ys commented on #22680
Can you reinstall following https://docs.microsoft.com/en-us/cli/azure/install-azure-cli and see if the keyvault dependency works?

[2022-06-01 04:52] RakeshMohanMSFT commented on #22568
@Kalamazoo-DBA Thank you for the clarification and apologies for the misunderstanding. I will request the engineering team to fix this.

[2022-06-01 05:13] v-soujanya commented on #22597
@rguptar we are trying to figure out the same and will share the updates asap.

[2022-06-01 06:04] GiridharIITM opened #22693 "Azure CLI as an exe or NuGet package"
**Is your feature request related to a problem? Please describe.**
COSMIC team in M365 is working on building a service that invokes PowerShell scripts in a remote server. These PowerShell scripts in turn call az commands. However, the server doesn’t have az-CLI installed. We want to install az-CLI in a sandboxed way just for our project.

**Describe the solution you'd like**
1. Exporting az CLI a

[2022-06-01 06:08] #22660 closed

[2022-06-01 06:14] goelankit opened #22694 "Can not update storage file share smb properties"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage account file-service-properties update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage account file-service-proper

[2022-06-01 06:40] v-soujanya commented on #22597
Hi @rguptar,
 az pipelines release create is based on [this](https://docs.microsoft.com/en-us/rest/api/azure/devops/release/releases/create?view=azure-devops-rest-5.0#artifactmetadata) REST API.
 we found the similar issue link (mentioned below) which has the solution to try it out. Please check the issue link.[https://github.com/Azure/azure-devops-cli-extension/issues/872].
Thanks!

[2022-06-01 08:00] #20073 closed, assigned to navba-MSFT

[2022-06-01 08:25] hokb commented on #18531
currently waiting on ~40kb/s DL rate, Hamburg, Germany

[2022-06-01 08:45] arty-hlr opened #22697 "az start and stop failing after apt update / upgrade: ModuleNotFoundError: No module named 'azure.mgmt.compute.v2022_03_01'"
## Describe the bug

**Command Name**
`az vm start`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az vm start --ids`

## Expected Behavior

VMs succesfully started and stopped

## Environment Summary
[code]
## Additional Context

Azure CLI fails at starting and stopping VMs after t

[2022-06-01 08:47] arty-hlr commented on #22697
![image](https://user-images.githubusercontent.com/38589602/171365136-d1eb6f12-fa81-47d7-96ee-46019f8c94ea.png)

Apparently API version 2022-03-01 can't operate on virtual machines??!

[2022-06-01 09:52] kazeshini178 opened #22699 "Description types"
There just seems to be some minor typos when referring to `rsa` some places refer to `ras`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 662379f5-1e62-d0f0-1a86-d98b6a32e2e8
* Version Independent ID: 1bca0624-d1a2-89f2-f86a-e79382ab31a4
* Content: [az storage account local-user](https://docs.microsoft.com/en-us/cli/az

[2022-06-01 10:12] dabenhamMic commented on #22310
Hi @kairu-ms @jsntcy

We have a couple of open tickets on the CLI module:
https://msazure.visualstudio.com/One/_workitems/edit/14318495
https://msazure.visualstudio.com/One/_workitems/edit/14318510

Bugs description:

1.	Updating CMK key with empty version “” fails. I verified and it works fine in REST
PS C:\Users\yossiy> $kUri = 'https://yossiy-eus.vault.azure.net'
PS C:\Users\yossiy> $kName = 'y

[2022-06-01 10:16] #22424 closed

[2022-06-01 10:19] yonzhan commented on #22693
@jiasli for awareness

[2022-06-01 10:23] yonzhan commented on #22690
route to CXP team

[2022-06-01 10:27] #22529 closed

[2022-06-01 10:57] italukder commented on #20848
Subject : global international seve the fish life human right trust board

[2022-06-01 11:38] yonzhan commented on #22694
storage

[2022-06-01 11:48] yonzhan commented on #22699
storage

[2022-06-01 13:24] arty-hlr commented on #22697
@yonzhan The azure.mgmt.compute seems to be missing indeed. I don't see how I can fix it myself though, that's the azure cli installed from apt. If you have any solution more than one word long, I'm all in :)

[2022-06-01 13:47] zhoxing-ms commented on #21366
@adthorn Currently, REST service does not support querying all resources under a tenant. If you have the requirements, please submit a new feature request and we will transfer it to the relevant service team

[2022-06-01 14:01] zhoxing-ms commented on #22697
@arty-hlr Please refer to this document [install-azure-cli-linux?pivots=apt](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) reinstall CLI with apt

[2022-06-01 14:28] italukder commented on #20848
Important : all subject  global member leaders one the top presidential persons in saudi Arabia  Prince family  prerson and all subject one and one president prerson solve global member leader and others leaders permanent link registration.
Note. President honestly global all member chiar persons certification and future a person losses  link connection  complaint. president operations return  giv

[2022-06-01 14:36] EmilAlipiev commented on #7874
Still not working for me. Can you please describe what is the solution here? I am getting `unrecognized arguments: --linux-Fx-Version 'DotNet|6.0'`

[2022-06-01 16:21] italukder commented on #20848
subject : global internationa religious relationship trust organization

introduction : all religious united international religious relationship  (UIRR)
every religious in ( U I R R )leadership

[2022-06-01 16:30] italukder commented on #20848
Subject : global international religious relationship human right trust bord

every religious equal religious relationship leadership

[2022-06-01 17:37] arty-hlr commented on #22697
@zhoxing-ms I just did a `apt remove --purge azure-cli`, `apt update && apt upgrade`, and `apt autoremove`, then again `apt install azure-cli`. I have the *exact* same issue. I installed azure-cli a while ago following that document you linked. Everything is up-to-date. The issue doesn't seem to come from my end, I have the latest version of azure-cli, 2.37.0 coming straight from apt.

[2022-06-01 20:03] bbi-adamvengroff commented on #22480
Hi @v-soujanya

Thanks for the response
We tried reproing the issue and it's stopped happening
I will re-open the ticket if it happens again

[2022-06-01 21:07] jtmackoy opened #22700 "`az ad group show --group` breaks with group names that use `+` in v2.37"
**Related command**
`az ad group show --group <group_name>`

**Describe the bug**
Prior to `v2.37` of the azure-cli, this command would complete successfully:
`az ad group show --group some_group+`
As of `v2.37` that same command returns the following error:
`No group matches the name of 'some_group+'`

If you execute the same command on another group that does not have the `+` in its name:
`az ad

[2022-06-01 21:24] sritapa opened #22701 "How to remove API permissions from App Registration using Microsoft graph ?"
**Related command**

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

![image](https://user-images.githubusercontent.com/5651864/171504208-0a790fc4-503a-4417-9dcc-79a61353d988.png)

[2022-06-01 22:27] marklemmon opened #22702 "az storage file list --exclude-dir fails when specified --path is non-empty"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage file list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- pass a value for --path that contains a sub-directory to:
- `az storage file list --exclude-dir --num-result

[2022-06-01 23:51] rguptar commented on #22597
@v-soujanya The solution presented there does not work for us. We see the following error:

Cannot retrieve the default version for artifact '<redacted>' because default version type is 'selectDuringReleaseCreationType'

[2022-06-02 00:24] yonzhan commented on #22700
@jiasli for awareness

[2022-06-02 00:25] yonzhan commented on #22701
@jiasli for awareness

[2022-06-02 00:25] yonzhan commented on #22702
storage

[2022-06-02 02:41] zhoxing-ms commented on #22697
This is an issue related to the package installation. @jiasli Could you help take a look?

[2022-06-02 03:06] evelyn-ys commented on #22702
Thanks for your report. Sorry for the inconvenience. We will fix this in our next release!

[2022-06-02 03:38] #22563 closed

[2022-06-02 04:03] cxznmhdcxz commented on #22200
Hi @AjKundnani , after supporting the arguments in CLI, I could create a DES with ConfidentialVmEncryptedWithCustomerKey as described in Scenario 2. Then I tried Scenario 1 with the DES just created, and returned this error:
[code]
So could you please provide an image that would support ConfidentialVM_DiskEncryptedWithCustomerKey?

[2022-06-02 04:49] #19074 closed

[2022-06-02 04:49] #19070 closed

[2022-06-02 04:50] #19094 closed

[2022-06-02 04:50] #19096 closed

[2022-06-02 04:50] #19034 closed

[2022-06-02 04:50] #19033 closed

[2022-06-02 04:51] #19031 closed

[2022-06-02 04:51] #18874 closed

[2022-06-02 04:51] #18872 closed

[2022-06-02 04:52] #18871 closed

[2022-06-02 04:52] #18860 closed

[2022-06-02 04:52] #18863 closed

[2022-06-02 04:52] #19013 closed

[2022-06-02 04:53] #19021 closed

[2022-06-02 04:53] #19014 closed

[2022-06-02 04:53] #18858 closed

[2022-06-02 04:53] #18857 closed

[2022-06-02 04:54] #19040 closed

[2022-06-02 04:54] #19046 closed

[2022-06-02 04:54] #19068 closed

[2022-06-02 04:54] #19018 closed

[2022-06-02 04:54] #19102 closed

[2022-06-02 04:55] #19075 closed

[2022-06-02 04:55] #19009 closed

[2022-06-02 04:55] #19010 closed

[2022-06-02 04:55] #19011 closed

[2022-06-02 04:55] #19022 closed

[2022-06-02 04:56] #19023 closed

[2022-06-02 04:56] #19049 closed

[2022-06-02 04:56] #19107 closed

[2022-06-02 04:57] #18933 closed

[2022-06-02 04:57] #18952 closed

[2022-06-02 04:57] #18959 closed

[2022-06-02 04:57] #18965 closed

[2022-06-02 04:57] #18967 closed

[2022-06-02 04:57] #18979 closed

[2022-06-02 04:57] #18981 closed

[2022-06-02 04:58] #18913 closed

[2022-06-02 04:59] northtyphoon commented on #18914
The issue has been fixed since 2.26.1

[2022-06-02 04:59] #18914 closed

[2022-06-02 04:59] northtyphoon commented on #18916
The issue has been fixed since 2.26.1

[2022-06-02 04:59] #18916 closed

[2022-06-02 04:59] #18925 closed

[2022-06-02 04:59] #18926 closed

[2022-06-02 04:59] #18929 closed

[2022-06-02 05:00] northtyphoon commented on #18812
The issue has been fixed since 2.26.1

[2022-06-02 05:00] #18812 closed

[2022-06-02 05:00] northtyphoon commented on #18806
The issue has been fixed since 2.26.1

[2022-06-02 05:00] #18806 closed

[2022-06-02 05:00] northtyphoon commented on #18790
The issue has been fixed since 2.26.1

[2022-06-02 05:00] #18790 closed

[2022-06-02 05:01] northtyphoon commented on #18796
The issue has been fixed since 2.26.1

[2022-06-02 05:01] #18796 closed

[2022-06-02 05:01] northtyphoon commented on #18789
The issue has been fixed since 2.26.1

[2022-06-02 05:01] #18789 closed

[2022-06-02 05:01] northtyphoon commented on #18784
The issue has been fixed since 2.26.1

[2022-06-02 05:01] #18784 closed

[2022-06-02 05:01] northtyphoon commented on #18773
The issue has been fixed since 2.26.1

[2022-06-02 05:01] #18773 closed

[2022-06-02 05:02] northtyphoon commented on #18755
The issue has been fixed a while ago.

[2022-06-02 05:02] #18755 closed

[2022-06-02 05:02] northtyphoon commented on #18754
The issue has been fixed a while ago.

[2022-06-02 05:02] #18754 closed

[2022-06-02 05:03] #18813 closed

[2022-06-02 05:04] #18832 closed

[2022-06-02 05:04] #18834 closed

[2022-06-02 05:04] #18841 closed

[2022-06-02 05:04] #18876 closed

[2022-06-02 05:04] #18897 closed

[2022-06-02 05:04] #18908 closed

[2022-06-02 05:05] #19109 closed

[2022-06-02 06:12] #22097 closed

[2022-06-02 06:56] mahmkhan commented on #21030
I faced the same issue for Linux VM. Any solution for this problem?

[2022-06-02 08:00] #22295 closed

[2022-06-02 08:00] #22142 closed

[2022-06-02 08:02] matkoch commented on #20063
still an issue

[2022-06-02 08:02] #19473 closed

[2022-06-02 08:29] baaym opened #22704 "`az storage account create` ignores encryption parameters when configuring table/queue encryption key type"
**Related command**

[code]

**Describe the bug**

When including the `--encryption-key-type-for-queue` or `--encryption-key-type-for-table` properties, other provided encryption parameters are ignored.

I could trace back the section of code that triggers this behavior here: https://github.com/Azure/azure-cli/blob/azure-cli-2.37.0/src/azure-cli/azure/cli/command_modules/storage/operations/account

[2022-06-02 09:08] hannenijhuis opened #22705 "Error when generating sas-token with auth-mode login"
## Describe the bug

**Command Name**
`az storage container generate-sas`

**Errors:**
[code]

## To Reproduce:
If I run the command without `--auth-mode login` it works, but I get the following warning:
[code]

If I *do* add the `--auth-mode login` I get the error described above.

- `az storage container generate-sas --subscription {} --account-name {} -n {} --https-only --permissions {} --expir

[2022-06-02 09:18] cuijun-1993 opened #22706 "creating managed identity failing in azure china with az-2.3.7"
**Related command**

 az identity create --n identityforwindow -g window

**Describe the bug**

creating managed identity  is   failed  in azure china  with az-2.3.7,but  with another azure  cli  versions , the reault is fine.

the picture below is  the result   with azure-cli 2.3.7
![image](https://user-images.githubusercontent.com/66300274/171594773-28100dd6-051a-420b-a090-a6c02f2ab46a.png

the

[2022-06-02 09:26] worldsayshi commented on #15589
For others who end up here: Make sure that you specify which subscription azure-cli should look at.

You can run this command:
[code]

[2022-06-02 09:31] CharbelHanna opened #22707 "Az login error [WinError -2146893813] Key not valid for use in specified state.."
I got a strange error today when I am trying to login or logout to azure via Az cli

Decryption failed: [WinError -2146893813] Key not valid for use in specified state.. App developer may consider this guidance: https://github.com/AzureAD/microsoft-authentication-extensions-for-python/wiki/PersistenceDecryptionError

I am running the below environment

azure-cli                           2.37.0

c

[2022-06-02 09:54] wkoeter opened #22708 "az storage-blob upload batch fails yet exitcode 0"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
As described in #21477
`az storage blob upload-batch` gives errors when blob already exists and `--overwrite` is absent.

Yet the exitcode is still `0` indicating `success`. Someone might not pick up on these errors.

**Command Name**
`az storage blob upload-batch`

**Errors:**
![image](https://user-images.gith

[2022-06-02 10:20] yonzhan commented on #22708
storage

[2022-06-02 10:25] yonzhan commented on #22705
storage

[2022-06-02 10:26] yonzhan commented on #22706
identity

[2022-06-02 10:30] yonzhan commented on #22707
Duplicate of https://github.com/Azure/azure-cli/issues/20231

[2022-06-02 10:30] #22707 closed

[2022-06-02 11:02] floushee opened #22710 "App roles update is broken after Azure CLI upgrade"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad app update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad app update --id {} --app-roles {}`

## Expected Behavior

## Envi

[2022-06-02 11:14] UQRakesh opened #22711 "az webapp config appsettings set fails with error No module named 'decorator'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config appsettings set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config appsettings set --name {} --resource-g

[2022-06-02 11:25] yonzhan commented on #22710
@jiasli for awareness

[2022-06-02 11:26] yonzhan commented on #22711
route to CXP team

[2022-06-02 11:27] TharinduK opened #22712 "Incorrect command for setting up blueprint in management group scope"
I believe target scope assignment for management group scope is incorrect. it needs to be
`az blueprint create --management-group MyManagementGroup
--name MyBlueprint \
--description "blueprint contains all artifact"
--target-scope managementGroup `
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e584f1d8-f5c1-51e8-b0bf-

[2022-06-02 11:28] yonzhan commented on #22712
route to CXP team

[2022-06-02 11:38] erikadanis0312 commented on #21377
Hi is there a proper fix this yet? I am trying to run this on Microsoft Hosted Agents ADO pipeline and im having trouble controlling which version of python the azure-cli is picking up. I am specifying version 3.7 using the task "UsePythonVersion@0"
![image](https://user-images.githubusercontent.com/75587367/171621116-fbf01923-a021-4040-ac19-29738b0c2eb7.png)

 but in the "train model" task logs i

[2022-06-02 11:39] floushee commented on #22710
It is working when I remove the "lang" property. Until now it did not matter. The "lang"=null is also visible in manifest json in the portal and I have seen it in some blog posts etc like this.

[2022-06-02 12:01] spartananish commented on #17075
Conflict of operation, another operation on same entity is already running in workspace

The above error even I am getting but not able to fix it . Please suggest urgent solution.

[2022-06-02 12:34] zhoxing-ms commented on #22706
@cuijun-1993 It is a known issue, so I close it first. Please refer to issue #22661 for details

[2022-06-02 12:52] devteng commented on #22253
FYI:

`az config set output.show_survey_link=no`

or

`vi ~/.azure/config`
`[output]
show_survey_link = no`

[2022-06-02 14:34] mdenhoedt commented on #22494
This looks related to #20996 and #21135, which also don't have a solution yet.

[2022-06-02 15:30] jtmackoy commented on #22700
I believe this confirms the problem is with the azure-cli and not the Microsoft Graph as the following command executes successfully:

[code]

[2022-06-02 15:38] charris-msft opened #22713 "`az webapp up` failure leaves orphaned resource groups"
**Related command**
az webapp up

**Describe the bug**
When running `az webapp up` without specifying --resource-group it will create a new resource group with a random name.
If the `webapp up` command fails after the resource group is created, the resource group is left.
If the `webapp up` command is run a subsequent time, a new resource group is created and the one from the previous failure is o

[2022-06-02 15:59] sredman commented on #22191
Fixed by #22609

[2022-06-02 16:02] #22191 closed

[2022-06-02 16:22] derekjoos opened #22714 "Cannot delete and purge an app configuration via CLI"
## Describe the bug

**Command Name**
`az appconfig delete`
`az appconfig list-deleted`
`az appconfig purge`

**Describe the bug**
I cannot delete and purge an app configuration instance

**Errors:**
[code]

## To Reproduce:
1. `az appconfig create -g MyResourceGroup -n MyAppConfiguration -l eastus --sku Standard` (successfully completes)
2. `az appconfig delete -g MyResourceGroup -n MyAppConfigur

[2022-06-02 16:24] Brudem opened #22715 "Issue when trying to create rule via AZ CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cdn endpoint rule action add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az cdn endpoint rule action add --action-name {} --rule-

[2022-06-02 16:44] sabose1 commented on #22614
Deployment has now been completed in all regions. I have tested the scenario in uksouth and it seems to work.

[2022-06-02 19:25] ynot-commit commented on #22690
Hi, Any update around this bug?

[2022-06-02 19:52] kamlesh2015 commented on #22614
Hi @sabose1 , I tested it worked. Thank you for sorting this out this issue.

[2022-06-02 20:52] JohnCarmichael3000 commented on #16921
Any update on this? I was seeing double logging in "az webapp log tail" output for a function this week.

[2022-06-02 23:02] yonzhan commented on #22714
route to CXP team

[2022-06-02 23:31] #21796 closed

[2022-06-03 02:16] cxznmhdcxz commented on #22479
Hi, could you share debug log or steps to reproduce?

[2022-06-03 02:48] dhageman commented on #22578
@evelyn-ys I am also seeing this issue.  This is on Fedora 36 using the RPMs installed from the link you referenced.  I tested the 2.37.0 and the 2.36.0 rpms.  They both demonstrated the behavior above.

As a test, I installed the azure-cli (2.37.0) using pip into a python virtual environment and that installation is working fine.

I do see a difference in the installed supporting libraries betwee

[2022-06-03 03:39] Gambit-14 commented on #10974
Hi guys. Good day. I am also encountering this problem. How did you fix it? Thanks in advance!

[2022-06-03 04:08] RakeshMohanMSFT commented on #22690
@ynot-commit We are still working on it, will keep you posted. It looks like a regression but we are yet to confirm.

[2022-06-03 04:55] zoeperryman commented on #22694
Getting the same problem, slightly different timing though.

I did a deployment this morning at 2022-06-03T01:51Z and this worked fine, a few hours later at 2022-06-03T04:23:34Z and we are getting the above error. As far as I can see nothing in the environment changed, these are being run from an Azure DevOps Agent:

[code]

Running from my own laptop using the `storage-preview` extension of `0.7.

[2022-06-03 05:44] dhananjaypatkar opened #22718 "Incorrect column reference in the example"
In the example section  https://docs.microsoft.com/en-us/cli/azure/monitor/scheduled-query?view=azure-cli-latest#az-monitor-scheduled-query-create-examples

The sample command used
`az monitor scheduled-query create -g {rg} -n {name1} --scopes {rg_id} --condition "count 'Placeholder_1' > 360 resource id _ResourceID at least 1 violations out of 5 aggregated points" --condition-query Placeholder_1="

[2022-06-03 06:03] sagarkul opened #22719 "ERROR: Unable to prompt for confirmation as no tty available. Use --yes. With az monitor app-insights component update"
Unable to automate command `az monitor app-insights component update ` with error ERROR: Unable to prompt for confirmation.

Like other commands, I tried to add --yes argument. but it is not supported.

unrecognized arguments: --yes

**Related command**
`
az monitor app-insights component update --app "$applicationInsightsName" -g $"$resourceGroupName" --workspace "$logAnalyticsWorkspaceId"

`**De

[2022-06-03 06:27] vRITHNER opened #22720 "az aks create failed with an unexpected error."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --node-count {} --generate-ssh

[2022-06-03 06:28] vRITHNER opened #22721 "az aks get-credentials failed with an unexpected error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2022-06-03 06:36] italukder commented on #20848
Subject : global international universal Low f
recharge humanity   trust board

example
1 international universal low recharge humanity center
2. Countries low recharge humanity center
Note. All low. Not international universal low. Not countries universaw low.

[2022-06-03 06:55] italukder commented on #20848
Subject : global international Islamic low recharge human center / rights trust board

example.
1.international Islamic low recharge center
2. Religious international Islamic low recharge center
3. international Islamic low humanity
. e.t.c

Saudi Arabia

[2022-06-03 07:00] italukder commented on #20848
My massage not books

subject :

[2022-06-03 07:42] IstvanCsVarga commented on #16138
Another day which could've been productive work.

[2022-06-03 07:49] stan-sz commented on #22548
Closing as a duplicate.

[2022-06-03 07:49] #22548 closed

[2022-06-03 08:00] #22227 closed

[2022-06-03 08:00] #21148 closed

[2022-06-03 08:26] christianhelle opened #22722 "`az webapp config ssl import` fails: AttributeError: 'GraphClient' object has no attribute 'service_principals'"
## Description

**Command Name**
`az webapp config ssl import`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[code]

## Expected Behavior
This worked fine with Azure CLI v2.35

## Environment Summary
[code]
## Additional Context

[2022-06-03 09:11] curlybapchap opened #22723 "Edit of existing Azure SQL Firewall setting displays delete operation scope error"
**Related command**
Azure Portal => SQL Server => Security => Networking => Edit firewall rule

**Describe the bug**
Changing any of the firewall rule settings (name, strt ip or end ip) for an existing firewall rule generates a "cannot perform delete operation because following scope(s) are locked" error:

"ScopeLocked"
"The scope '/xxx/resourceGroups/xxx/providers/Microsoft.Sql/servers/xxx-db-ser

[2022-06-03 10:04] bweben commented on #22230
Is there any possibility to get this working even without a new az version?
This is quite a high priority issue for us. Or are there any other Microsoft support options available for the Azure CLI?
I am sorry if this is the wrong channel to ask but if anyone has any answer to my questions I would be happy to hear them.

[2022-06-03 10:38] mcquiggd commented on #16138
Like others, I am exhausted by having to learn and maintain multiple ways to manage Azure.

PowerShell, CLI, REST, ARM, Blueprints, Bicep. Add to that, that clients also want to use Terraform, Pulumi etc...

It's become a joke.

Days are wasted sifting through out-of-date documentation, only to find there is an obscure REST call to enable us to work with a feature that was silently released withou

[2022-06-03 10:43] italukder commented on #20848
Subject : global international all historical honorable man , educational history subject trust board

[2022-06-03 10:50] sgerace opened #22724 "'az monitor metrics alert create' does not support namespaces containing dashes"
**Related command**
az monitor metrics alert create

**Describe the bug**
When trying to create a new metric alert where the namespace contains a dash (e.g., `some-namespace`), the command fails with the message: "Couldn't find a metric named some-namespace.Sample Alert. Make sure the name is correct." even though the metric exists. It appears as though the namespace is not being parsed properly f

[2022-06-03 11:30] ivana-a opened #22725 "Unable to deploy VM bicep template due to error: The value of parameter linuxConfiguration.ssh.publicKeys.keyData is invalid"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az deployment group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az deployment group create --resource-group {} --template-fil

[2022-06-03 11:41] linusryl commented on #22314
Just got a confirmation on my support request that the product team has created a fix for the bug and that it will pushed out in about two weeks.

[2022-06-03 12:11] jiasli opened #22726 "Drop CentOS 7 RPM package"
**Is your feature request related to a problem? Please describe.**

According to https://wiki.centos.org/About/Product, CentOS 7 has already reached its maintenance phase since 2020-08-06:

![image](https://user-images.githubusercontent.com/4003950/171850072-9ee37851-4140-457d-8d0c-2726c6f4dd52.png)

CentOS 7 still only has Python 3.6, but Python 3.6 has been deprecated on 2021-12-23 (https://www.

[2022-06-03 12:14] KarlRanseier commented on #21030
still not working in "azure-cli": "2.37.0"

[2022-06-03 12:15] jiasli commented on #22722
Importing protected method `_graph_client_factory` is never a supported usage.

https://github.com/Azure/azure-cli/blob/ccdc56e7806b6544ddf228bb04be83e485a7611a/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L2767-L2779

`appservice` should migrate to the new `GraphClient`. See

- https://github.com/Azure/azure-cli/blob/dev/doc/microsoft_graph_client.md
- https://github.com/Azure/azu

[2022-06-03 13:45] italukder commented on #20848
Important Subject  : global international Families Crime  Board  (  F C B )  protocols

introduction: Family Crime Board ( F C B )
 unity family and uni family Trust protocols  working warehouse service.
1. over all families members criminal position save,
2. criminal victims,
3. hacking criminal, and
4. service development setting family  protocol
5. Family members victims complaint accepted
e. t

[2022-06-03 14:42] yonzhan commented on #22718
monitor

[2022-06-03 14:43] yonzhan commented on #22720
route to CXP team

[2022-06-03 14:43] yonzhan commented on #22721
route to CXP team

[2022-06-03 14:44] yonzhan commented on #22722
route to CXP team

[2022-06-03 14:47] yonzhan commented on #22725
route to CXP team

[2022-06-03 15:58] panchagnula commented on #22722
@jiasli we will work on migration on this extension. Sorry we should have identified this on our end earlier.

[2022-06-03 16:15] ffarinha-msft opened #22728 "az webapp create-remote-connection needs Kudu Basic Auth enabled"
On the following section (for the command az webapp create-remote-connection): https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-create-remote-connection

A NOTE should be added that in order to use this command, Kudu Basic Auth needs to be enabled or else you well get an HTTP 401 error message without further explanation for the reason.

![image](https://user-image

[2022-06-03 16:57] luticm opened #22729 "Improve --actions documentation for Az sql db audit-policy update"
"Az sql db audit-policy update" documentation doesn't state how to proper use parameter "--actions" with multiple entries, and example only shows one action group.

Trying to use command with comma separated list will fail with generic error "(InvalidBlobAuditActionsAndGroups) Invalid audit actions or action groups." (ex.: --actions SUCCESSFUL_DATABASE_AUTHENTICATION_GROUP, FAILED_DATABASE_AUTHENT

[2022-06-03 17:31] rmcolbert commented on #22722
I have confirmed that this worked properly in v2.36.0 also.

[2022-06-03 19:35] NoahStahl commented on #18531
Currently 300 kbps download of az cli on a 1 gb fiber connection.

[2022-06-03 19:44] Kerry-G commented on #22279
We had the same issue with az cli version 2.37. There is no problem creating a rule without any priority with az cli 2.34. Is this intended?

[2022-06-03 20:20] sidoverflow opened #22730 "Cannot create GPU-enabled container instance"
## Describe the bug

**Command Name**
`az container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az container create --resource-group {} --file {} --location {}`

## Expected Behavior

Container created

## Environment Summary
[code]
## Additional Context

[2022-06-03 20:28] keystroke commented on #22693
I would also like this, working in private cloud space and want to have test project for our older shipped versions of Azure services and test the functionality in a sandboxed integration test using specific drops of Azure CLI, AzurePS, etc. - This requires ability to reference versions of azurecli ideally as a nuget package and so they can be executed directly from test server.

[2022-06-03 23:24] charris-msft opened #22731 "`az webapp up` should not change previous configuration when argument not specified"
**Related command**
`az webapp up`

**Describe the bug**
I created a Python web app using the following command:
az webapp up --runtime "PYTHON:3.9" --logs

**To Reproduce**
- Create a new site and specify the runtime version as Python 3.9
  - `az webapp up --runtime "PYTHON:3.9"`
- confirm that the webapp has a runtime of Python 3.9
  - PS > `(az webapp list | convertfrom-json).siteConfig.linuxFx

[2022-06-03 23:52] yonzhan commented on #22728
route to CXP team

[2022-06-03 23:53] yonzhan commented on #22729
route to CXP team

[2022-06-03 23:56] yonzhan commented on #22730
route to CXP team

[2022-06-03 23:57] yonzhan commented on #22731
route to CXP team

[2022-06-04 03:59] #22621 closed

[2022-06-04 05:05] ramankumarlive opened #22732 "New Premiumv2_LRS SKU for disks storage"
### Related command

1.	az vm create must accept Premiumv2_LRS value for --storage-sku parameter
3.	az vm disk must accept Premiumv2_LRS value for –sku parameter
4.	az vmss create must accept Premiumv2_LRS value for --storage-sku parameter
5.	az vmss disk must accept Premiumv2_LRS value for –sku parameter

### Resource Provider

Microsoft.Compute/disks;Microsoft.Compute/virtualMachines;Microsoft.C

[2022-06-04 12:38] tbluejeans commented on #22562
Any update on this?

[2022-06-04 14:18] yonzhan commented on #22732
Compute

[2022-06-04 18:33] user81017012 opened #22733 "Monitoring data factory pipeline runs using "az datafactory pipeline-run query-by-factory" not working as expected, and missing pipeline runs?"
[The following command doesn't work correctly : ` **az datafactory pipeline-run query-by-factory** --factory-name XXXXX --last-updated-after $last_updated_after --last-updated-before $last-updated-before --resource-group XXXXX
`
I encountered the following issues:

1/I am not able to get pipeline runs that occured less than two hours ago (even though my pipelines are running every 10 minutes, ever

[2022-06-04 18:38] tmccart1 commented on #22722
This is causing the CD pipeline to fail for my public web site...is there any time estimate on when this will be corrected?

[2022-06-04 20:57] erudinsky commented on #6052
Just bumped into this using Bicep, location equals global solves the issue. Thanks.

[2022-06-05 02:14] yonzhan commented on #22733
data factory

[2022-06-05 04:54] sabaripkumar opened #22734 "az login issue"
Hi,
After creating a paid azure subscription, I am not able to connect to it using az cli from ubuntu terminal. I am able to do so from windows terminal.

Error starts as follws:
The command failed with an unexpected error. Here is the traceback:
HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /organizations/v2.0/.well-known/openid-configuration (Cau

[2022-06-05 05:18] italukder commented on #20848
Subject :  global international independent father of national in county trust board

introduction : independent father of national men's all independent country freedom amd independent dream meaker man history. Or non independent country history
 1. country religious history.
 2. country special person history
3.  Country population history.
4. Country economics and financial history
5. country p

[2022-06-05 05:20] sabaripkumar commented on #22734
Closing this issue as it works after adding `nameserver 64.6.64.6` to /etc/resolv.conf . I have earlier set changed the setting in wsl.conf to not populate resolv.conf automatically. This was done because the message size returned from the default name server was too big and I could not run terraform plans due to that.
Regards,
Sabari

[2022-06-05 05:20] #22734 closed

[2022-06-05 05:57] italukder commented on #20848
Subject : global international religious territories save center (i r t s c)

example
1. All human beings of the have the right to follow  ther one religious
2. Weather every one adheares to religious and regional relationship environmental culture
3. weather every one is the following the culture cultural of society properly

e.t.c
all country equal leadership and corridor house platform Saudi Ar

[2022-06-05 06:00] italukder commented on #20848
subject : global international population and dust human right trust bord

[2022-06-05 06:07] italukder commented on #20848
Subject : global international  forest and animal human right trust board

international : natural forest zone save. discovery forest and animal planning
example

process

[2022-06-05 06:18] italukder commented on #20848
Subject : global international All religious place of worship human rights trust bord

example

All religious humanity members equal member and corridors platforms Saudi Arabia

[2022-06-05 11:15] mvvsubbu commented on #22614
Thanks @sabose1 for addressing this issue. @vivek602 can you close this issue?

[2022-06-05 17:56] sidoverflow commented on #22730
Closing the issue, I was able to create the instance.

Tried creating the instance by removing the `apiVersion` from the YAML and that seemed to work, weirdly.

[2022-06-05 17:56] #22730 closed

[2022-06-05 18:59] jamescrowley commented on #22595
@PramodValavala-MSFT I believe the issue is you can connect using native clients, but you cannot configure the bastion to *enable* the native client support. (the properties.enableTunneling   attribute documented here: https://docs.microsoft.com/en-us/rest/api/virtualnetwork/bastion-hosts/list-by-resource-group)

[2022-06-06 02:01] Icybiubiubiu opened #22735 "Azcli withversion2.37.0 cannot create identity cause of no proper api is binded"
**Related command**
az identity create --name MyIdentity --resource-group MyResourceGroup

**Describe the bug**
when use latest az cli to create managed identity, always hit errors like: no registered resource provider found.
![image](https://user-images.githubusercontent.com/61815812/172082362-adfc61fb-0d1c-4826-b780-43ad0a4b25af.png)

![image](https://user-images.githubusercontent.com/61815812/1

[2022-06-06 02:12] yonzhan commented on #22735
identity

[2022-06-06 02:18] bebound commented on #22345
Unfortunately, brew package is the only way to install CLI globally on Mac.

[2022-06-06 02:30] necusjz commented on #22279
@Kerry-G, actually, it's a breaking change involved by service, you can refer to this document: https://docs.microsoft.com/en-us/azure/application-gateway/multiple-site-overview.

[2022-06-06 02:40] zhoxing-ms commented on #22735
@Icybiubiubiu Are you using CLI in public cloud? If not, please refer to issue https://github.com/Azure/azure-cli/issues/22661 for details

[2022-06-06 02:53] houk-ms opened #22736 "Error message improvement for `az group show`"
**Related command**

`az group show`

**Describe the bug**

when the RG is not in current subscription, the error message is
`Message: Resource group 'foo' could not be found.`

Can we add the subscription info in the message, e.g,
`Message: Resource group 'foo' could not be found in subscription <xxx>.`

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2022-06-06 03:34] jiasli commented on #22693
We are currently considering releasing Azure CLI as a ZIP (https://github.com/Azure/azure-cli/issues/22462).

But since the ZIP will basically just pack the `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2` folder, perhaps some dll/exe files will be blocked?

[2022-06-06 03:45] Icybiubiubiu commented on #22735
@zhoxing-ms ,

Thanks for your reply.
 The two workarounds are fine. And could you share with us the ETA of this issue?
Our environment is Mooncake

[2022-06-06 03:53] jiasli commented on #22710
I saw the PR https://github.com/pnp/cli-microsoft365/pull/3137 just deletes `lang` property:

https://github.com/pnp/cli-microsoft365/pull/3137/files#diff-4bffc2f0d69d60fce428e83ed0b46c80a224eea3de200b3197330bdfb59a7fd0R381-R385

[code]

Actually, Azure CLI's `az ad app update --id {} --app-roles {}` doesn't make any special processing for `appRole` property. It sends the JSON to [Update applicati

[2022-06-06 04:41] yonzhan commented on #22736
ARM

[2022-06-06 04:48] RakeshMohanMSFT commented on #22534
Thank you @sstoops. I will close this issue now.

[2022-06-06 04:48] #22534 closed

[2022-06-06 04:52] RakeshMohanMSFT commented on #22568
@Kalamazoo-DBA Thank you for the work around provided it will definitely help others in the community while the bug is fixed. In the meantime I will close this issue, considering the fact that there is no ETA for the fix.

[2022-06-06 05:29] navba-MSFT commented on #22616
@TeamDman Apologies for the late reply. I think it's a platform issue related to the unique combination Windows + Python.

Could you please try to update the Windows system language setting ?

Control panel -> Clock and Region -> Region -> Administrative -> Change system locale -> Check Beta: Use Unicode UTF-8 for worldwide language support.

![image](https://user-images.githubusercontent.com/5735

[2022-06-06 06:06] zhoxing-ms commented on #22735
Our environment is Mooncake

@arndt-s  Could you please help answer when the api-version 2021-09-30-preview for Microsoft.ManagedIdentity will be supported in `Mooncake`?

[2022-06-06 06:33] v-anvashist commented on #22625
@omerzubair We are working only on azure devOps CLI service.

Can you please share the CLI command for the same?

[2022-06-06 06:37] cbellee opened #22737 "`az group deployment --what-if` should haven option to return a non-zero exit code rather than having to parse the output."
**Related command**
`az deployment group create`

**Is your feature request related to a problem? Please describe.**
I don't want to parse the `--what-if` text output.

**Describe the solution you'd like**
Add an additional flag to `az deployment group create` to control `--what-if` output. Return an integer indicating the result rather than text. For example, like Terraform's `-detail-exitcode` p

[2022-06-06 06:40] RakeshMohanMSFT commented on #22656
@solwr-ssk https://docs.microsoft.com/en-us/cli/azure/install-azure-cli 2.37.0 is the latest version of azure cli, perhaps i am missing something. I will troubleshoot further and update. In the meantime go through this document https://docs.microsoft.com/en-us/cli/azure/install-azure-cli and see if you could update.

[2022-06-06 06:54] v-anvashist commented on #22346
@VNoveski We are owing only azure devOps CLI service.

We are not owing the same.

Thanks,
Anjali

[2022-06-06 07:34] jhdxr commented on #8654
There is always a reason why azure is behind aws.

Related issue is created 4 years ago, and rejected by the azure team arrogantly. Installing with homebrew is still **the ONLY official support way** to install azure cli.
(the doc clearly states for the catch-all bash script

)

Do you guys think we don't use homebrew is just because we don't know/have homebrew?

[2022-06-06 07:40] navba-MSFT commented on #22581
@bd-clara The action is currently pending on you to follow the above suggestion. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-06-06 07:40] #22581 closed

[2022-06-06 07:46] navba-MSFT commented on #22587
@mlovse1 Once you are ready to resume troubleshooting on this, please provide us the details of the issue with --debug switch and the complete command that was executed. So for now, we will now proceed with closure of this github issue. Please feel free to reopen this thread once you have the requested details. We would be happy to help.

[2022-06-06 07:46] #22587 closed

[2022-06-06 07:48] navba-MSFT commented on #22618
@techmist The action is currently pending on you to update the AzCLI version and test again. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-06-06 07:48] #22618 closed

[2022-06-06 07:53] navba-MSFT commented on #22623
@Euanher Since we didn't hear back from you, we will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-06-06 07:53] #22623 closed

[2022-06-06 07:56] gshyamMS commented on #22693
It is not a guaranteed solution. We were able to download the helm zip package on the remote server and use it from there, so if the zip is made available for download it MAY work. But the zip cannot be exported into NuGet as you mentioned.

[2022-06-06 08:01] #19507 closed

[2022-06-06 08:38] yonzhan commented on #22737
route to CXP team

[2022-06-06 08:54] AjKundnani commented on #22200
@cxznmhdcxz - if you can try with image **2019-datacenter-cvm** or **2022-datacenter-cvm** under offer **windows-cvm**

[2022-06-06 10:13] datadot opened #22738 "aks command invoke failing due to init container failure"
**Related command**

az aks command invoke

**Describe the bug**

When running az aks command invoke to run any command eg kubectl get pods -A, the command returns with:

(KubernetesOperationError) Failed to run command due to cluster perf issue, container command-4a5fb8583ae44b069516eb2d9db9fc88 in aks-command namespace did not start within 30s on your cluster, retry may helps. If issue persist,

[2022-06-06 10:23] yonzhan commented on #22738
route to CXP team

[2022-06-06 10:25] ramgopal24 commented on #11455
---------
Thanks #main was what I was missing !!!

[2022-06-06 10:40] v-soujanya commented on #22597
Hi @rguptar
I am able to create a release successfully in my machine. Please find the image for reference.
![image](https://user-images.githubusercontent.com/101401302/172144902-6ca480bf-641c-44c4-b458-9360f581c463.png)

In our case, please go through the below information and try to set the artifacts version.

This check is introduced to prevent customers ending up choosing wrong version of artif

[2022-06-06 13:07] grzeg1 opened #22740 "Can't get reservation order list."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az reservations reservation-order list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az reservations reservation-order list`

## Expec

[2022-06-06 13:09] grzeg1 commented on #22740
This one works OK though so it does not seem to be RBAC related:
`az reservations reservation-order show --reservation-order-id 24..02`

[2022-06-06 13:14] grzeg1 commented on #15952
[code]

[2022-06-06 13:16] grzeg1 commented on #22740
[code]

[2022-06-06 13:30] kairu-ms commented on #22310
Hi @dabenhamMic, could you create another feature request issue for this? Thanks.

[2022-06-06 13:57] mikeblakeuk opened #22741 "Improve the az upgrade locking"
**Related command**
az upgrade

**Describe the bug**
Terminal spawns the MSI so the MSI locks Python. If you close the terminal window, the installation will stop.
![image](https://user-images.githubusercontent.com/1986660/172174117-16bf1714-76a4-4218-bb72-ad90137420ae.png)

**To Reproduce**
Upgrade within a terminal

**Expected behavior**
Install with no locks.

**Environment summary**
Windows-10

[2022-06-06 13:59] yonzhan commented on #22741
@jiasli for awareness

[2022-06-06 14:59] keranem1 opened #22742 "az synapse pipeline KeyError 'properties'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az synapse pipeline update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az synapse pipeline update --workspace-name {} --name {} --fi

[2022-06-06 14:59] keranem1 commented on #22742
Same error occurs when running on Windows 10 PowerShell 7 prompt.

[2022-06-06 15:01] Kerry-G commented on #22279
Are you saying that it is intended to not have the same behaviour between az cli version 2.34 and 2.37 because of the service? I understand the change in the service part, what I am still confuse is why we have different response depending on our az cli version.

[2022-06-06 15:56] Javier-Moreno-Personal opened #22743 "issue with az"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad signed-in-user show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad signed-in-user show -o={}`

## Expected Behavior

## Env

[2022-06-06 16:28] cT-m00cat opened #22744 "Consistent "az storage account management-policy" FAILURE"
## Description

**Command Name**
`az storage account management-policy create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az storage account management-policy create --account-name MyStorageAcc --resource-group MyResourceGroup --policy .\policy.json`

## Expected Behavior
I expe

[2022-06-06 16:56] SatishBoddu-MSFT commented on #22711
@UQRakesh
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-06-06 17:14] petetian commented on #22721
The same issue occurs to me.

Tried: `az login` and `az login --use-device-code`, it returns error with the same traceback.

[2022-06-06 19:55] ran-ten21 opened #22746 "--any-of not making sense"
Can you please provide a better example of how to use --any-of
I'm trying to test code with these parameters and can't tell why it's failing:
--field entities.ip.address --any-of ['155.60.0.0/16']

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a24e89f-d91c-e713-a96a-e2ecadce5811
* Version Independent ID: 5fb3861b-67d8

[2022-06-06 20:53] brianlehr commented on #21831
I see the warning now, thank you @necusjz

[2022-06-06 21:26] omerzubair commented on #22625
Hi @v-anvashist ,
this is the az command i use and cannot see any option for 'Prohibit the most recent pusher from approving their own changes'

 az repos policy approver-count create --allow-downvotes false
--blocking true --branch main
--creator-vote-counts false --enabled true
--minimum-approver-count 1 --repository-id $($repositoryid)
--reset-on-source-push true --org $adoOrg
--project $adoPro

[2022-06-06 21:41] sapphire-sk opened #22747 "Storage accounts of type other than 'StorageV2' do not get linked to the log analytics workspace"
**Related command**
- az monitor log-analytics workspace linked-storage create --type Query -g rg-test01 --workspace-name test01 --storage-accounts testbucket01

**Describe the bug**
- When a storage account of type other than 'StorageV2' is linked to a workspace, the command executes successfully. The 'Linked Storage Accounts' summary page on the Portal also displays the storage account specified

[2022-06-06 22:00] rudraTransact2 opened #22748 "How can I find out which product contains a given API?"
I am trying to figure out if a given API is part of any products. The "az apim api list" command does not have any information on products for a given api.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 197d8382-ee16-6001-4941-768877379c0d
* Version Independent ID: 1423fa76-977f-ad88-8129-0b52a38e68e6
* Content: [az api

[2022-06-06 22:28] VNBharadwaja commented on #22680
everything works fine if I install with `pip` . I still face issues when I use `apt`

[2022-06-06 22:55] rudraTransact2 opened #22749 "How to get Product Id and API Id information?"
How do you get product id and api id to be used in some of these commands?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 197d8382-ee16-6001-4941-768877379c0d
* Version Independent ID: 1423fa76-977f-ad88-8129-0b52a38e68e6
* Content: [az apim](https://docs.microsoft.com/en-us/cli/azure/apim?view=azure-cli-latest)
* Cont

[2022-06-07 00:23] dndao opened #22750 "Azure CLI v2.37.0 breaks pipeline CLI task with "az role assignment create" command"
The below task produces three:
`WARNING: This command or command group has been migrated to Microsoft Graph API. Please carefully review all breaking changes introduced during this migration: https://docs.microsoft.com/cli/azure/microsoft-graph-migration
`

[code]

If the "failOnStandardError" is set to "true" then this step will fail with this error:
`##[error]Script failed with error: Error: The

[2022-06-07 00:33] zdelacerda-microsoft opened #22751 "Azure Image Builder API 2022-02-14 Update"
**Resource Provider**
Azure VM Image Builder

**Description of Feature or Work Requested**
We now support VM Validation and custom resource group naming.

changes:

1. 1 new parameter for `az image builder create`
* `--stagingResourceGroup <string>`, type string, example inputs: "Custom_RG_Name001"

2. 3 new commands
*`az image builder validator`, get's validate information from template
*`az imag

[2022-06-07 00:50] yonzhan commented on #22742
route to CXP team

[2022-06-07 01:06] jiasli commented on #22750
Duplicate of #21683

[2022-06-07 01:09] jiasli commented on #21683
One should never decide whether an Azure CLI command is successful based on `stderr`, so for Azure CLI task, we recommend always setting `failOnStandardError` to false.

BTW, the WARNING for Microsoft Graph migration will be removed in 2.38.0 (https://github.com/Azure/azure-cli/pull/22612).

[2022-06-07 01:09] #21683 closed

[2022-06-07 01:09] #22750 closed

[2022-06-07 01:11] jiasli commented on #22743
Duplicate of #20231

[2022-06-07 01:11] #22743 closed

[2022-06-07 01:12] yonzhan commented on #22744
storage

[2022-06-07 01:14] yonzhan commented on #22746
route to CXP team

[2022-06-07 01:17] yonzhan commented on #22747
monitor

[2022-06-07 01:18] yonzhan commented on #22748
route to CXP team

[2022-06-07 01:20] yonzhan commented on #22749
route to CXP team

[2022-06-07 01:21] evelyn-ys commented on #22680
@jiasli Do you know what could happen to cause this with `apt`?

[2022-06-07 01:23] yonzhan commented on #22751
Compute

[2022-06-07 01:27] evelyn-ys commented on #22744
The policy format is wrong. See https://docs.microsoft.com/en-us/azure/storage/blobs/lifecycle-management-overview#lifecycle-management-policy-definition

[2022-06-07 01:50] VNBharadwaja commented on #22680
I'm not sure honestly

[2022-06-07 01:53] necusjz commented on #22279
More specifically, the reason is 2.34 and 2.37 send requests based on different API versions:
- 2.34: https://github.com/Azure/azure-cli/blob/598673dae676ead1fee4f58afa8c127b67f41be6/src/azure-cli-core/azure/cli/core/profiles/_shared.py#L147
- 2.37: https://github.com/Azure/azure-cli/blob/913767e3d77868586cb50eab1053aef20a7aa010/src/azure-cli-core/azure/cli/core/profiles/_shared.py#L150

And, as I

[2022-06-07 02:47] rguptar commented on #22597
@v-soujanya

Given the following URLs,
- build pipeline: https://dev.azure.com/ORG/PROJECT/_build?definitionId=BUILD_DEFINITION_ID
- specific build: https://dev.azure.com/ORG/PROJECT/_build/results?buildId=BUILD_ID&view=results
- release pipeline: https://dev.azure.com/ORG/PROJECT/_release?_a=releases&view=mine&definitionId=RELEASE_DEFINITION_ID
- edit release pipeline: https://dev.azure.com/ORG/P

[2022-06-07 03:13] kairu-ms commented on #22718
@YuanyuanNi, please create a PR to update this example.

[2022-06-07 03:27] evelyn-ys commented on #22578
@jiasli Can you help take a look on packaging issue?

[2022-06-07 03:50] navba-MSFT commented on #22720
@vRITHNER Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. We are looking into this issue. We will provide an update once we have more details on this.

[2022-06-07 03:50] kairu-ms commented on #22719
Hi @sagarkul, `az monitor app-insights component update` does not need confirmation. That's why `--yes` is not recognized. For more information, you can run `az monitor app-insights component update --help` to see the help message.

[2022-06-07 03:53] navba-MSFT commented on #22740
@grzeg1 Thanks for reaching out to us and sharing this feedback. We are looking into this issue. We will provide an update once we have more details on this.

[2022-06-07 04:01] kairu-ms commented on #22724
Hi @sgerace, thanks for your feedback. The namespace format maybe out of date now. We will update its format. Before that could you provide an example with '-' contained in namespace? Thanks.

[2022-06-07 04:03] kairu-ms commented on #22747
Hi @YuanyuanNi, could you help to reproduce this issue first? Thanks.

[2022-06-07 04:09] navba-MSFT commented on #22721
@vRITHNER Thanks for reaching out to us and sharing this feedback. We are looking into this issue and we will provide an update.

[2022-06-07 04:12] navba-MSFT commented on #22713
Adding Service Team to take a look into this.

[2022-06-07 04:29] sagarkul commented on #22719
@kairu-ms Well DevOps pipeline throw error
When I run this command locally, it prompts for confirmation.
![image](https://user-images.githubusercontent.com/9719341/172295816-94028454-96ad-4849-84d6-b74c4d50ba39.png)

And when I run it from Azure DevOps CLI task, it returns error.
ERROR: Unable to prompt for confirmation as no tty available. Use --yes.

![image](https://user-images.githubuserconten

[2022-06-07 04:31] v-soujanya commented on #22597
Hi @rguptar,
For Some of the projects you are able to create a release then I think issue is not with cli command. Please guide me how to repro the issue in our machine for those projects in which you are facing issue.
Thanks!

[2022-06-07 04:45] navba-MSFT commented on #22738
@datadot Thanks for reaching out to us and sharing this feedback. Please answer the below questions:

1. Could you please let us know if you are still facing the same issue or was it a transient issue ?
2. Are you trying to connect to a private AKS cluster ?
3. Could you please share the `--debug `output ?

Awaiting your reply.

[2022-06-07 04:56] jiasli commented on #22680
Apparently, you are not installing the official Azure CLI. Please see https://github.com/Azure/azure-cli/issues/19640.

[2022-06-07 05:00] jiasli commented on #13101
This is bug in the unofficial Azure CLI delivered by Ubuntu's repo. Please see https://github.com/Azure/azure-cli/issues/19640 and install the official Azure CLI from Microsoft Linux Repo.

[2022-06-07 05:01] jiasli commented on #19706
Duplicate of #13101. To fix it, please see https://github.com/Azure/azure-cli/issues/19640#issuecomment-924578571.

[2022-06-07 05:01] #19706 closed

[2022-06-07 05:04] jiasli commented on #13507
Duplicate of #13101. To fix it, please see https://github.com/Azure/azure-cli/issues/19640#issuecomment-924578571.

[2022-06-07 05:04] jiasli commented on #13648
Duplicate of #13101. To fix it, please see https://github.com/Azure/azure-cli/issues/19640#issuecomment-924578571.

[2022-06-07 05:05] jiasli commented on #15686
Duplicate of #13101. To fix it, please see https://github.com/Azure/azure-cli/issues/19640#issuecomment-924578571.

[2022-06-07 05:05] jiasli commented on #15957
Duplicate of #13101. To fix it, please see https://github.com/Azure/azure-cli/issues/19640#issuecomment-924578571.

[2022-06-07 05:06] jiasli commented on #17639
Duplicate of #13101. To fix it, please see https://github.com/Azure/azure-cli/issues/19640#issuecomment-924578571.

[2022-06-07 05:07] kairu-ms commented on #22719
I see. Let me check.

[2022-06-07 05:08] jiasli commented on #19640
The unofficial package 2.0.81 on Ubuntu repo also contains a bug that makes keyvault commands fail (https://github.com/Azure/azure-cli/issues/13101):

[code]

Errors:

[code]

[2022-06-07 05:09] jiasli commented on #22143
Please see https://github.com/Azure/azure-cli/issues/19640#issuecomment-1148202854

[2022-06-07 05:09] jiasli commented on #21805
https://github.com/Azure/azure-cli/issues/19640#issuecomment-1148202854

[2022-06-07 05:09] jiasli commented on #21635
Please see https://github.com/Azure/azure-cli/issues/19640#issuecomment-1148202854

[2022-06-07 05:10] jiasli commented on #18281
Please see https://github.com/Azure/azure-cli/issues/19640#issuecomment-1148202854

[2022-06-07 05:10] jiasli commented on #18285
Please see https://github.com/Azure/azure-cli/issues/19640#issuecomment-1148202854

[2022-06-07 05:11] jiasli commented on #19108
Please see https://github.com/Azure/azure-cli/issues/19640#issuecomment-1148202854

[2022-06-07 05:11] jiasli commented on #19121
Please see https://github.com/Azure/azure-cli/issues/19640#issuecomment-1148202854

[2022-06-07 05:11] jiasli commented on #20929
Please see https://github.com/Azure/azure-cli/issues/19640#issuecomment-1148202854

[2022-06-07 05:11] jiasli commented on #19974
Please see https://github.com/Azure/azure-cli/issues/19640#issuecomment-1148202854

[2022-06-07 05:11] #19974 closed

[2022-06-07 05:12] jiasli commented on #20052
Please see https://github.com/Azure/azure-cli/issues/19640#issuecomment-1148202854

[2022-06-07 05:12] #20052 closed

[2022-06-07 05:12] jiasli commented on #21784
Please see https://github.com/Azure/azure-cli/issues/19640#issuecomment-1148202854

[2022-06-07 05:12] #21784 closed

[2022-06-07 05:12] #22680 closed

[2022-06-07 05:13] kairu-ms commented on #22719
Hi @jsntcy, this issue refers to the change in these [lines](https://github.com/Azure/azure-cli-extensions/blob/a1ac7443895dd794ae3a86dfabfab5c4ea04a5d3/src/application-insights/azext_applicationinsights/custom.py#L91-L106), could you have a look. Thanks.

[2022-06-07 05:15] jiasli commented on #16268
Please see https://github.com/Azure/azure-cli/issues/19640#issuecomment-1148202854

[2022-06-07 05:15] jiasli commented on #16022
Please see https://github.com/Azure/azure-cli/issues/19640#issuecomment-1148202854

[2022-06-07 05:15] jiasli commented on #13457
Please see https://github.com/Azure/azure-cli/issues/19640#issuecomment-1148202854

[2022-06-07 05:16] #19797 closed

[2022-06-07 05:35] m-moris opened #22755 "How to grant TrustFrameworkKeySet.Read.All to az cli"
## Describe the bug

**Command Name**
`az rest`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- ` az rest --method get --url https://graph.microsoft.com/beta/trustFramework/keySets`

## Expected Behavior

az cli can retrieve the keyset

## Environment Summary
[code]
## Additional Cont

[2022-06-07 05:35] evelyn-ys commented on #22694
This is a regression because of service response breaking change. CLI will be more compatible after https://github.com/Azure/azure-cli/pull/22691

[2022-06-07 05:45] jiasli commented on #22578
Fedora 35 is not official supported (https://github.com/Azure/azure-cli/issues/22278).

Fedora repo has its own unofficial Azure CLI published which overrides our official `el7` package:

[code]

https://packages.fedoraproject.org/pkgs/azure-cli/azure-cli/

![image](https://user-images.githubusercontent.com/4003950/172303862-340dfbbf-8c0c-4c70-a17e-2de6691ea706.png)

Even the official RPM doesn't

[2022-06-07 05:52] jiasli commented on #22235
Debug log shows why some import failed:

[code]

This is because Python 3.10 is used to import Python 3.6 libraries which are not compatible.

[2022-06-07 06:23] TomMalow commented on #10032
Is there any update if this side effect is intentionally or not?

I just discovered this myself when trying to optimize our deployment infrastructure to only provision azure resources or deploy code when there are changes to these respective areas. But this is not possible as this command clear any existing running code in the function.

I can also add that the command has the side-effect of overw

[2022-06-07 06:26] #22545 closed

[2022-06-07 06:45] RakeshMohanMSFT commented on #22749
@rudraTransact2 you can use these commands and store them in [variables ](https://docs.microsoft.com/en-us/cli/azure/azure-cli-variables)
[az apim product list -g "v-aghose-Mindtree" -n "ajaymttest" --query "[].[id, name]" -o table
az apim api list -g "v-aghose-Mindtree" -n "ajaymttest" --query "[].[id, name]" -o table
az apim api list -g "v-aghose-Mindtree" -n "ajaymttest" --filter-display-name "

[2022-06-07 06:49] kjoth commented on #20284
Is this command "az storage blob directory delete" deprecated or can be used?

[2022-06-07 06:50] yonzhan commented on #22755
@jiasli for awareness

[2022-06-07 07:04] jiasli commented on #22755
`https://graph.microsoft.com/beta/trustFramework/keySets` is [Get trustFrameworkKeySet](https://docs.microsoft.com/en-us/graph/api/trustframeworkkeyset-get?view=graph-rest-beta&tabs=http) API which requires **TrustFrameworkKeySet.Read.All**, **TrustFrameworkKeySet.ReadWrite.All** permissions.

Azure CLI is a First Party App that doesn't have these delegated permissions.

![image](https://user-imag

[2022-06-07 07:29] evelyn-ys commented on #20284
It's deprecated

[2022-06-07 07:37] RakeshMohanMSFT commented on #22748
@rudraTransact2 You can use these commands to check APIs mapped to a particular product
https://docs.microsoft.com/en-us/cli/azure/apim/product/api?view=azure-cli-latest
[code]

[2022-06-07 08:09] andyliuliming commented on #22738
working on the fix now.

[2022-06-07 08:10] killbox101 opened #22757 "Issue importing azure app service certificate into webapp"
I believe this was running in AZ CLI 2.8.0, was working locally but failing in ADO, upgraded my local to reflect the same version now im able to reproduce the issue locally as well.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config ssl import`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that

[2022-06-07 08:13] #22744 closed

[2022-06-07 08:13] datadot commented on #22738
@navba-MSFT thanks for following this up:

1) Yes issue is persistent
2) Both private and public AKS clusters.
3) Will update shortly.

@andyliuliming thanks, so you are confirming reproduction of this issue?

[2022-06-07 08:14] yonzhan commented on #22757
route to CXP team

[2022-06-07 08:20] franpb90 opened #22758 "Error in 'az ad sp update --set appRoleAssignmentRequired=true'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp update --id $app.appId --set appRoleAssignmentRequired=true`

#

[2022-06-07 08:22] yonzhan commented on #22758
@jiasli for awareness

[2022-06-07 08:52] navba-MSFT commented on #22721
@vRITHNER Closing this issue as a duplicate of https://github.com/Azure/azure-cli/issues/22720. The action plan has been shared [in this ](https://github.com/Azure/azure-cli/issues/22720#issuecomment-1148370997)comment. Please test and get back to us on that GitHub thread.

[2022-06-07 08:52] #22721 closed

[2022-06-07 09:00] #20452 closed

[2022-06-07 09:02] RakeshMohanMSFT commented on #22712
@TharinduK It can be either managementgroup or subscription.

https://docs.microsoft.com/en-us/cli/azure/blueprint?view=azure-cli-latest#az-blueprint-create
The scope where this blueprint definition can be assigned.

accepted values: managementGroup, subscription
default value: subscription

Its mentioned here as well
https://docs.microsoft.com/en-us/azure/governance/blueprints/overview#blueprint-

[2022-06-07 09:03] YuanyuanNi commented on #22747
![image](https://user-images.githubusercontent.com/95396631/172341061-ec7dd23f-8dc4-4a93-9967-a8d457f4ddff.png)
Hi, team:
please see the pic above, thanks.

[2022-06-07 09:30] navba-MSFT commented on #22740
@grzeg1 Could you please run the below command and let me know if that helps ?

Awaiting your reply.

[2022-06-07 10:08] v-anvashist commented on #22625
Hello @omerzubair

We have checked in the doc where CLI command definition(https://docs.microsoft.com/en-us/cli/azure/repos/policy/approver-count?view=azure-cli-latest#az-repos-policy-approver-count-create) is documented and   same is supported by the code.

Even in documentation we are not able to see the parameter(Prohibit the most recent pusher from approving their own changes).

If you want to

[2022-06-07 10:23] asos-vinodpatil opened #22761 "az functionapp config ssl import - breaks with latest CLI version (Microsoft Graph api updates)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp config ssl import`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp config ssl import --resource-group {} --

[2022-06-07 10:42] yonzhan commented on #22761
route to CXP team

[2022-06-07 11:24] jkb1372 opened #22763 "typo at "az vm encryption enable""
..., see: ttps://docs.microsoft.com/azure/security/fundamentals/azure-disk-encryption-vms-vmss.

Should be 'https', not 'ttps'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4762f857-8a1e-f1bb-7843-3d8fefe28f8e
* Version Independent ID: 91ce956c-c915-5053-56b0-a489fb2f7b00
* Content: [az vm encryption](https://docs.mic

[2022-06-07 11:32] RakeshMohanMSFT commented on #22746
@ran-ten21 Thank you for reaching out, we are looking into it.

[2022-06-07 11:52] #22679 closed

[2022-06-07 11:56] etlock commented on #20052
Thanks!!

[2022-06-07 12:08] WaitingForGuacamole commented on #17938
FWIW, I get this error running in a Windows VM in Azure. No corporate proxy. Win 2022 Datacenter. I'd have hoped that this wouldn't happen there as well?

[2022-06-07 12:13] nilesh-rawal opened #22764 "issue in importing SSL certificate in azure web app using cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config ssl import`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config ssl import --resource-group {} --name {} --

[2022-06-07 12:20] Poil commented on #22581
It looks like OK, probably I forget to do an `az account set -s`.

It should be probably better catched

Best regards,

[2022-06-07 13:05] yonzhan commented on #22763
Compute

[2022-06-07 13:31] yonzhan commented on #22764
route to CXP team

[2022-06-07 13:52] mdjx commented on #20105
Can we please get clarification if this is a feature-request as labelled or a bug/defect? The az commands appear to be present to achieve the desired configuration (so the feature would appear to be implemented) but the result is not what is expected.

[2022-06-07 14:16] grzeg1 commented on #22740
[code]

[2022-06-07 14:17] grzeg1 commented on #22740
although
[code]
seems to work

[2022-06-07 16:03] RakeshMohanMSFT commented on #22764
@nilesh-rawal Duplicate of https://github.com/Azure/azure-cli/issues/22761. We are tracking this issue on the other one therefore closing this.

[2022-06-07 16:03] #22764 closed

[2022-06-07 16:06] naioja opened #22765 "az network public-ip update fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network public-ip update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network public-ip update -g {} -n {} --set {}`

## Expect

[2022-06-07 16:14] RakeshMohanMSFT commented on #22761
@asos-vinodpatil it looks like a regression in Az CLI 2.37.0 can you downgrade to 2.36.0 and check if it works? I verified and it works for me.

[2022-06-07 16:15] ben-garside opened #22766 "`az acr repository show-tags` Unable to get AAD authorization tokens"
When running: `az acr repository show-tags -n <regName> --repository <repoName> -o tsv` in an ADO pipeline (so running as a service priciple) we are getting the following error:

    Unable to get AAD authorization tokens with message: An error occurred: CONNECTIVITY_ACCESS_TOKEN_ERROR
    Access to registry '<regName>.azurecr.io' was denied. Response code: 504. Please try running 'az login' again

[2022-06-07 16:16] asos-vinodpatil commented on #22761
Hi Rakesh,

Yes it works for 2.36.0. Opened this ticket for 2.37.0

Thanks,
Vinod

[2022-06-07 16:18] ben-garside commented on #22766
Also, to add. this has previously worked without issue. We are only seeing this error as of today.

[2022-06-07 16:22] RakeshMohanMSFT commented on #22757
Duplicate of this issue https://github.com/Azure/azure-cli/issues/22761. Work around is provided in the other issue and we will continue to track this bug there, therefore closing this as duplicate.

[2022-06-07 16:22] #22757 closed

[2022-06-07 16:55] sgerace commented on #22724
Hi @kairu-ms, in our case, we were attempting to create an alert for a custom metric located in a custom namespace. We were attempting something similar to:
[code]

[2022-06-07 17:26] charris-msft opened #22767 "`az webapp up` says it's "creating" AppServicePlan even when the plan already exists"
**Related command**
`az webapp up`

**Describe the bug**
When using `az webapp up` to update a deployment and specifying the --runtime, --resource-group and --name, it re-uses the same AppServicePlan, but the output in the console says:

[code]
This gives the mistaken impression that it is in fact creating a new plan

**To Reproduce**
1. run `az webapp up --runtime 'PYTHON:3.9' -g my-group-1 --nam

[2022-06-07 17:38] jiasli opened #22768 "[Feature Request] Provide native commands for `appRoleAssignment` API"
**Related command**
`az ad app permission admin-consent`

**Is your feature request related to a problem? Please describe.**
Currently `az ad app permission admin-consent` uses "internal, deprecated, and unsupported" API at https://main.iam.ad.ext.azure.com/ to grand admin consent:

https://github.com/Azure/azure-cli/blob/710c821b2920df504ae037e7b05763193b051a30/src/azure-cli/azure/cli/command_mod

[2022-06-07 17:44] DmitriSmirnovCTL opened #22769 "az security alerts-suppression-rule upsert_scope is not accepting IP ranges for entities.ip.address field"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az security alerts-suppression-rule upsert scope`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az security alerts-suppression-rule update --rule-name SQL_DW_GeoAnomaly-Name -

[2022-06-07 18:19] luigiw commented on #21429
@duclinh84bk , you can specify location in the compute YAML file. Please see reference here. https://docs.microsoft.com/en-us/azure/machine-learning/reference-yaml-compute-aml

[2022-06-07 18:42] naioja commented on #22765
Zone object cannot be changed.

[2022-06-07 18:42] #22765 closed

[2022-06-07 18:44] rcgokhale commented on #22738
This is affecting us as well. All our CI/CD pipelines are broken and kind of P1 for us. Issue seems to appear only when "AKS-managed Azure Active Directory" option is enabled and "az aks command invoke" is used.

We use "az aks command invoke" on Microsoft hosted agents on azure devops with private cluster enabled.

kubectl get pods -n aks-command
command-527f7f3d04ab440da4fb36229fe57d39   0/1

[2022-06-07 18:56] sdavis3 commented on #1528
az vm run-command needs --no-wait option.

Example command:
az vm run-command invoke -g rgName -n vmName --no-wait --command-id RunPowerShellScript --scripts @c:\temp\run_this_script.ps1

[2022-06-07 20:58] bbaileyod opened #22771 "az storage share-rm list returns a different share ID"
The share ID returned in the share-rm command accepts permissions.  Those permissions can be found by looking for the assignment against the azuread object, but in the case of assigning an RBAC to that share-rm ID, it was not functional.

The difference is the the "share" vs "fileshare" in the second to last position.

I am sure there is a reason for this... but reading the share-rm ID and applyin

[2022-06-07 22:27] BigBearBrian commented on #22684
[debugoutput.txt](https://github.com/Azure/azure-cli/files/8856928/debugoutput.txt)

Sorry for the delay. I've attached the debug output, with critical GUIDs like TenantId, SubscriptionId, and my calling ObjectId obfuscated.

I noticed in the list of allowed APIs, api-version '2020-07-01' *is* valid, even though '2020-07-01-preview' is not. Doesn't sound as much like an ARM problem, as ARM has tak

[2022-06-07 22:30] SatishBoddu-MSFT commented on #22711
Hello @UQRakesh Could you please try one more time and do let us know if the issue still persists?

![image](https://user-images.githubusercontent.com/62923178/172493918-670fdccd-de51-4f35-96ea-6ccd1b98f1fe.png)

[2022-06-07 22:31] chasewilson commented on #21903
Hey @thisisdevanshu, just wanted to pin on @jsntcy's earlier message as we are trying to improve the expereince for our partner teams to easily Generate CLI commands for their service. We'd greatly appreciate any and all feedback you have :)

[2022-06-07 22:31] chasewilson commented on #21903
Hey @thisisdevanshu, just wanted to pin on @jsntcy's earlier message as we are trying to improve the expereince for our partner teams to easily Generate CLI commands for their service. We'd greatly appreciate any and all feedback you have :)

[2022-06-07 23:16] SatishBoddu-MSFT commented on #22728
Hello @ffarinha-msft What is the CLI version you are using, just wanted to check if it is the latest one.

![image](https://user-images.githubusercontent.com/62923178/172498587-e0237ce0-0b2c-4044-94b9-b8685c46514b.png)

[2022-06-07 23:50] arikt-ms opened #22772 "Terraform and CLI work for GA of |"
Related command

Resource Provider
Microsoft.RecoveryService

Description of Feature or Work Requested
Azure Site Recovery allows customer to enable disaster recovery on their machines. As a part of the service, we allow customers to perform DR of Azure VMs, VMware VMs, Hyper-V VMs and physical servers. This feature focuses on the DR of VMware VMs and we are working on the GA release of this featu

[2022-06-08 00:08] MaximeKjaer opened #22773 "SRP swagger version 2022-05-01"
See https://github.com/Azure/azure-rest-api-specs/pull/19357

[2022-06-08 00:09] yonzhan commented on #22766
route to CXP team

[2022-06-08 00:12] yonzhan commented on #22767
route to CXP team

[2022-06-08 00:13] yonzhan commented on #22768
Looking forward for the native commands.

[2022-06-08 00:14] yonzhan commented on #22769
route to CXP team

[2022-06-08 00:18] yonzhan commented on #22771
storage

[2022-06-08 00:22] yonzhan commented on #22772
RecoveryService

[2022-06-08 00:28] yonzhan commented on #22773
storage

[2022-06-08 01:26] kairu-ms commented on #22747
This issue needs involve service team to check.

[2022-06-08 02:01] evelyn-ys commented on #22771
Need storage service to explain the difference in response

[2022-06-08 02:39] jsntcy commented on #22772
@arikt-ms, there is another similar request in https://github.com/Azure/azure-cli/issues/22631, are they the same?

[2022-06-08 02:59] zhoxing-ms commented on #22763
@cxznmhdcxz Please help correct the help message of `az vm encryption enable` command
![Screenshot 2022-06-08 105725](https://user-images.githubusercontent.com/16612065/172522074-7edc1fd1-7393-4c20-be9a-48eff6a18af2.png)

[2022-06-08 03:12] arikt-ms commented on #22772
Oops ... this must have been submitted accidentally, my bad. I was using the contents of the issue submitted for Recovery Service as a template to author a similar issue for our service, however our swagger spec is not ready for this yet. I am closing this issue and will open another one when we are ready. Apologies for inconvenience.

[2022-06-08 03:12] #22772 closed

[2022-06-08 03:14] zhoxing-ms commented on #1528
@sdavis3 If you have new requirements, please create a [feature request](https://github.com/Azure/azure-cli/issues/new?assignees=&labels=&template=Feature_request.md&title=). We will arrange our development plan according to the priority.

[2022-06-08 03:27] zhoxing-ms commented on #22684
This is the error message from service

Request URL:

Currently, the version of `PolicyExemptionsOperations` used in the Python SDK is [`2020-07-01-preview`](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/resources/azure-mgmt-resource/azure/mgmt/resource/policy/v2021_06_01/operations/_operations.py#L4333), so this issue needs the ARM service team to see why the api-version `2020-07-01

[2022-06-08 03:34] zhoxing-ms commented on #22684
@robga Please take a look at this issue

[2022-06-08 03:34] jiasli commented on #22700
`az ad group show` internally uses [`$filter` query parameter](https://docs.microsoft.com/en-us/graph/query-parameters#filter-parameter) to find groups.

It seems [`$search`](https://docs.microsoft.com/en-us/graph/query-parameters#search-parameter) follows a different pattern that does allow `+` to be un-encoded.

[code]

Anyway, I will fix the encoding issue in https://github.com/Azure/azure-cli/

[2022-06-08 04:12] robga commented on #22684
@zhoxing-ms , the error message is not from the auth RP. It's from ARM.
Another thing is the request Uri is not a legit Uri. I don't think ARM can parse it correctly.

PUT /subscriptions//resourceGroups//subscriptions//resourceGroups/BLPSandbox/providers/Microsoft.Authorization/policyExemptions/Exempt_Sandbox_Tags?api-version=2020-07-01-preview HTTP/1.1

It should be something like
/subscriptions/

[2022-06-08 04:17] jiasli opened #22775 "[Feature Request] Support custom client ID"
**Related command**
`az login`

**Is your feature request related to a problem? Please describe.**
Currently Azure CLI uses a fixed client ID to authenticate into AAD

https://github.com/Azure/azure-cli/blob/1d973cceb38980181eeaa45934497d2148a3e7b2/src/azure-cli-core/azure/cli/core/auth/identity.py#L22

This client ID `04b07795-8ddb-461a-bbee-02f9e1bf7b46` is a First Party Application, registered

[2022-06-08 04:32] v-soujanya commented on #22597
@rguptar Yes Please! Please create a support ticket.

[2022-06-08 04:48] yonzhan commented on #22775
Support custom client ID

[2022-06-08 04:58] andyliuliming commented on #22738
fix released. please check.

[2022-06-08 04:58] #22738 closed

[2022-06-08 05:11] jiasli opened #22776 "[Feature Request] Show object ID of the signed in account"
## Context

Currently, in order to get the object ID of the signed in account, we have to query Microsoft Graph API:

- User account: `az ad signed-in-user show`
- Service principal account: `az ad sp show`

However, since some tenant (including Microsoft tenant) has Conditional Access policies that block accessing Microsoft Graph with device code (https://github.com/Azure/azure-cli/issues/22629),

[2022-06-08 05:59] yonzhan commented on #22776
Show object ID

[2022-06-08 06:22] navba-MSFT commented on #22740
@grzeg1 Thanks for getting back and clarifying this. Could you test with the below command:

Please replace XXXXX with your concerned subscription id and let me know if that works. Awaiting your reply.

[2022-06-08 06:36] navba-MSFT commented on #22775
Removing CXP Attention label from this issue since this was created internally by SDK team

[2022-06-08 06:40] navba-MSFT commented on #22722
Service team has been involved already. So removing the CXP attention label from this.

[2022-06-08 06:43] RakeshMohanMSFT commented on #22769
@DmitriSmirnovCTL There is a known bug with --any-of parameter and it is being worked up, currently we do not any ETA for the fix.

[2022-06-08 06:46] #22769 closed

[2022-06-08 07:14] zhoxing-ms commented on #22684
@robga This URI comes from the deg log [debugoutput.txt](https://github.com/Azure/azure-cli/files/8856928/debugoutput.txt) provided by customer @BigBearBrian. I believe he may have made some manual modifications to hide the name of the resource. The real URI he used should be valid, this issue is mainly about the api-version

Yes, I know that. Because I see you submitted the related PR #17565, so

[2022-06-08 07:27] rcgokhale commented on #22738
@andyliuliming Many thanks for quick response and fix, It is now working for us.

[2022-06-08 07:37] StefanPuntNL opened #22777 "az ad sp update: GraphClient object has no attribute service_principals"
**Related command**

`az ad sp update`

**Describe the bug**

The following error appears after executing the command.
[code]

**To Reproduce**

1. Create new app registration
2. Execute the command: `az ad sp update --id "<app id here>" --set appRoleAssignmentRequired=true`

**Expected behavior**

Worked as expected in 2.36.0

**Environment summary**

[code]

**Additional context**

A similar iss

[2022-06-08 07:42] yonzhan commented on #22777
@jiasli for awareness

[2022-06-08 08:01] #20908 closed

[2022-06-08 08:01] #20768 closed

[2022-06-08 08:01] #20747 closed

[2022-06-08 08:01] #20544 closed

[2022-06-08 08:05] jiasli commented on #22757
Will track in #/22722

[2022-06-08 08:08] jiasli commented on #22777
This is a known issue and we will fix in next release. Please see https://github.com/Azure/azure-cli/issues/22635 for a workaround.

[2022-06-08 08:12] #22777 closed

[2022-06-08 08:22] datadot commented on #22738
@andyliuliming confirmed - thanks for the fix.

[2022-06-08 08:26] RakeshMohanMSFT commented on #22761
Closing this issue, it is being tracked in https://github.com/Azure/azure-cli/issues/22722

[2022-06-08 08:26] #22761 closed

[2022-06-08 08:28] #22763 closed

[2022-06-08 09:25] navba-MSFT commented on #22715
@Brudem Apologies for the late reply. Could you please use the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) of AzCLI and let us know if you are still running into the same issue ? Awaiting your reply.

[2022-06-08 10:24] grimstoner opened #22782 "Allow native client connection to IP-based Bastion RDP"
**Related command**
az network bastion rdp

**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
As documented on https://docs.microsoft.com/en-us/cli/azure/network/bastion?view=azure-cli-latest#az-network-bastion-rdp, the native client can be used to establish RDP connections through Bastion to VM resources.

Now that IP-based Bastion support

[2022-06-08 10:37] zhoxing-ms commented on #22275
@AjKundnani Actually, the `false` value seems to have no practical effect on `--for-upload`. When users do not pass in the parameter `--for-upload`, it already represents `OS Disk created is not using upload method`, so there is no need to pass in the extra parameter `--for-upload false`, right?

If so, I suggest we could add a new parameter `--upload-type` to support the `nonSecureOSUpload` and `

[2022-06-08 11:01] ApplyGroup opened #22784 "Failed: az webapp config ssl import"
### **We have the az webapp config ssl import in our deployment script. Suddenly it starts throwing the GraphClient error during the deployment. We haven't had the issue before.**

## Describe the bug

**Command Name**
`az webapp config ssl import`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive info

[2022-06-08 11:02] vishwakant-singh opened #22785 "AZ cli error for az webapp auth"
C:\Users\VSI118>az webapp auth set -g rg-mepc-sit --name ztest-app --body @auth.json
The command requires the extension authV2. Do you want to install it now? The command will continue to run after the extension is installed. (Y/n): y
Run 'az config set extension.use_dynamic_install=yes_without_prompt' to allow installing extensions without prompt.
The command failed with an unexpected error. Here

[2022-06-08 11:06] ApplyGroup commented on #22784
OK, it is being tracked in https://github.com/Azure/azure-cli/issues/22722

[2022-06-08 11:06] #22784 closed

[2022-06-08 11:08] subbartt commented on #22776
@jiasli , @yonzhan - this won't help our scenario...we use az ad sp show command to get the object id of the SPN and not the logged in user which used to work till now.

[2022-06-08 11:14] uthsab commented on #22776
@jiasli the mentioned workaround here fetches the object id of the signed in user. We need the object id of the provided sp. Is there a similar workaround for this?

[2022-06-08 11:42] manpreetsinghbhatia opened #22786 "unable to run az commands from terraform script"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network {} {} {} --name {} --resource-group {} --query {} -o {}`

## Expec

[2022-06-08 11:47] yonzhan commented on #22782
route to CXP team

[2022-06-08 11:49] yonzhan commented on #22785
route to CXP team

[2022-06-08 11:50] yonzhan commented on #22786
network

[2022-06-08 12:15] HansZimmer5000 commented on #22173
Since https://github.com/Azure/azure-cli/pull/22043 is merged and addresses this issue, can I test this somehow?
Would I need the full [dev-setup](https://github.com/Azure/azure-cli#developer-setup) or is there a dev branch version of the Azure CLI (e.g. that can be installed via brew)?

[2022-06-08 12:21] nmowatt commented on #22164
@diondrapeck is there any way to mount TabularDatasets or is that not possible?

[2022-06-08 12:37] solwr-ssk commented on #22656
Install worked but upgrade does not
`azure-cli                         2.37.0`
I have switched to `az rest`, might try `az synapse` after it is out of preview.

[2022-06-08 13:12] diondrapeck commented on #22164
I'll forward that question to @Man-MSFT since it's not my area. @Man-MSFT could you please help @nmowatt with the two questions above?

[2022-06-08 13:48] RakeshMohanMSFT commented on #22690
Thank you @hildurhodd. @ynot-commit Let me know if that helps please.

[2022-06-08 13:49] Steiniche commented on #9506
At some point objectId seems to have been updated to id in the graph api.
The command is now:

`az ad signed-in-user show --query id --output tsv`

[2022-06-08 13:55] #22656 closed

[2022-06-08 14:07] AjKundnani commented on #22275
Hello @zhoxing-ms - **false** value for `--for-upload` parameter is being carried forward from existing [az disk create](https://docs.microsoft.com/en-us/cli/azure/disk?view=azure-cli-latest#az-disk-create) command. If users do not specify `--for-upload` the default value is false currently.

For upload type, I am discussing internally what would be best option, will discuss proposed solution as w

[2022-06-08 14:28] FokkoVeegens commented on #22346
@yonzhan / @SatishBoddu-MSFT / @v-anvashist can you please route this to the correct team? I am running into the same issue.

[2022-06-08 14:39] derekscha commented on #13994
Is documenting the extendedProperties member for each recommendation category something that is on the road map? There is a discrepancy for cost savings recommendations between what is shown in the portal (savings amount) vs what's returned from the API in extendedProperies (savings amount & annual savings amount), and neither are documented. The portal shows one and the two returned from the API

[2022-06-08 14:48] mukulcho commented on #17910
@jscheeringa thanks for summarizing this issue as  we are experiencing same issue since last week and MS PG is unable to provide us root cause other then "Slow ARM replication issue between different regions". Our code rely heavily on az resource list for devops automation. As you have mentioned that az graph will not fix this issue as we need to operate on resources. requesting MS to prioritize t

[2022-06-08 14:52] sdavis3 opened #22788 "Add wait/no-wait support to Commands"
az vm run-command needs ```--no-wait``` option.

**Related command**
[code]

**Is your feature request related to a problem? Please describe.**
When trying to run PowerShell scripts against a VM, the CLI forces you to await the results before being able to continue. A long running command reduces productivity. A ```--no-wait``` option could significantly improve productivity.

**Describe the solut

[2022-06-08 14:57] FokkoVeegens commented on #22346
@yonzhan Can you mention the right people, so they are aware?

[2022-06-08 15:25] mukulcho commented on #17910
can you please provide detail on ARM replication re-architecture and what is current status? this issue reported here is more than 1 year back with no update on status and resolution.

[2022-06-08 15:41] charris-msft opened #22789 "`az webapp up` needs --startup-file argument for single command deployment of FastAPI apps"
**Related command**
`az webapp up`, `az webapp create`

**Is your feature request related to a problem? Please describe.**
I'm trying to write docs on deploying python webapps with `az webapp up`. However, because app service doesn't have auto-detection for FastAPI applications, instead of running a single command, I have to run `az webapp up` followed by another long command:

`az webapp config s

[2022-06-08 15:44] robga commented on #22684
@zhoxing-ms There is correlationId in the debug log you shared. The Uri format is incorrect. It should be the client issue. Will send you the query via email.

[2022-06-08 15:54] BigBearBrian commented on #22684
OK, found the problem. Was giving parameter --resource-group in the full URI format (/subscriptions/<subID>/resourceGroups/<rsgName>) instead of simply giving just the Resource Group name. When I entered ONLY the Resource Group name, the exemption got created.

Sorry to have wasted your time.

[2022-06-08 15:54] #22684 closed

[2022-06-08 16:50] FinVamp1 commented on #22639
@a3y3  if you can provide a sample app name to me and which SKU you are using we can check the backend logs if you are still able to reproduce?

[2022-06-08 17:20] Man-MSFT commented on #22164
Hi @nmowatt , you mentioned you have a SQL database TabularDataset. SQL databases are not mountable, since SQL lacks file structure.
For all other non-SQL TabularDatasets, you have to use FileDatasets.
There're a few options here:
1. You can recreate your v1 asset as a v2 asset
2. You can create a new version, or new v1 asset similar to your existing TabularDataset, but as FileDataset.

[2022-06-08 17:29] nmowatt commented on #22164
Ok thanks @Man-MSFT. So if I have a CSV/Parquet file, I cannot mount it as long as it's a TabularDataset. I have to recreate it as a FileDataset and it will then be mountable?

[2022-06-08 17:35] danielwagn3r commented on #18866
Having this error as well.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az servicebus namespace list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az servicebus namespace list`

[2022-06-08 18:18] jjaguirre394 opened #22791 "Error downloading python package from Azure DevOps: The package description exceeds the maximum length of 324608 bytes."
**Related command**

**Describe the bug**

Cannot download latest (2.37.0) azure-cli python package from Azure Devops Feeds. Following issue is reported:
  ERROR: HTTP error 400 while getting https://devdiv.pkgs.visualstudio.com/579bc0c8-404b-48fd-a86e-9d65b001f1bf/_packaging/3c5a07a2-e014-4a2e-960b-f664b7a57bf8/pypi/download/azure-cli/2.25/azure_cli-2.25.0-py3-none-any.whl#sha256=ba1107740e2a0dee

[2022-06-08 20:33] jennyhunter-msft commented on #17910
We've done a lot of work over the past year to reduce these types of replication issues. In addition to our ongoing short-term efforts, as you mentioned, Azure Resource Graph should be able to reliably list these resources.  The platform overall will be betting more on Resource Graph in the future, and it already powers close to 80% of portal resource list experiences today. There shouldn't be an

[2022-06-08 21:20] jetnet commented on #22641
@PramodValavala-MSFT , thanks for clarifying this. Yes, the "temp-file" workaround is better.
Since it looks like I'm the only person, who would like to use STDIN with `az aks command invoke`, the feature would probably never get implemented :)
The issue can be closed.
Thanks again.

[2022-06-08 21:32] mukulcho commented on #17910
@jennyhunter-msft Fully understand complexity and scale involved. We have more than 100 repos (with 3 versions) of the product which is using az resource list command, so changing code and using AZ Graph will be huge effort. we are using az resource list command to list single resource and it is still failing intermittently. Same code was working fine for last 2 years now we are facing lot of erro

[2022-06-08 21:51] ritaroloff opened #22794 "CLI support for predictive autoscale"
Targeting GA mid-October
Service: Autoscale

[2022-06-08 22:26] tnein commented on #20703
Any progress on this?

You could also consider cross-subscription 😉

My workaround:
- Restore the DB backup in the environment it was created in.
- Export the resulting DB as a BACPAC to the destination environment.
- Import the BACPAC into the destination sql server.

[2022-06-08 22:26] zaynchen115 opened #22795 "[Feature Request] Add routing intent CRUD as child resource of virtual hub"
**Related command**

Similar PS command, not sure about cli
Get-AzRoutingIntent
Get-AzRoutingPolicy
Add-AzRoutingPolicy
New-AzRoutingPolicy
New-AzRoutingIntent
Set-AzRoutingPolicy
Set-AzRoutingIntent
Remove-AzRoutingPolicy
Remove-AzRoutingIntent

**Is your feature request related to a problem? Please describe.**

Virtual Wan customers will be able to create a routing intent resource (which will be

[2022-06-08 22:53] yonzhan commented on #22346
cc @v-anvashist, @V-hmusukula

[2022-06-08 22:53] yonzhan commented on #22788
compute

[2022-06-08 23:05] yonzhan commented on #22789
route to CXP team

[2022-06-08 23:07] yonzhan commented on #22791
@jiasli for awareness

[2022-06-08 23:11] yonzhan commented on #22794
Did you go through the PLR process and please put more info about this such as swagger spec link, etc.

[2022-06-08 23:12] yonzhan commented on #22794
Autoscale for monitor

[2022-06-08 23:17] yonzhan commented on #22795
network

[2022-06-09 00:32] zhoxing-ms commented on #22751
@zdelacerda-microsoft Since the workload of this sprint has been arranged **super fully** *(**17-18** requirements have been committed in this sprint, **6** requirements have been postponed to the next sprint)*, so this requirement is proposed a little late. And this requirement needs much effort, so I am worried that there is not enough time for us to develop and release it in this sprint. May I

[2022-06-09 02:44] wangzelin007 commented on #22732
Hi @ramankumarlive,

When I test Premiumv2_LRS, the server always returns:
SKU PremiumV2_LRS is not supported for resource type Disk in this region. Supported SKUs for this region are Premium_LRS,StandardSSD_LRS,Standard_LRS,UltraSSD_LRS.
May I ask which region should I use?
I have already tried in these regions: west us, east us

-----

I want to confirm if these commands also need to support Pre

[2022-06-09 03:06] jiasli commented on #22791
We addressed this issue in https://github.com/Azure/azure-cli/pull/18485.

According to the log you provided, a very old version 2.25.0 is installed. You may want to look into `requirements_local.txt` to check if there is any pinned version.

With local pip, I am able to install 2.37.0 correctly:

[code]

[2022-06-09 03:09] navba-MSFT commented on #22789
Adding Service team to look into this ask.

@AzureAppServiceCLI @antcp Could you please look into this ask and provide an update on this ?

[2022-06-09 03:21] navba-MSFT commented on #22785
@vishwakant-singh Thanks for reaching out to us and sharing this feedback. Could you please run the below CLI command and check if that helps ?

[code]

**_Note_**: You need to update your resource name details in the above command.

The commands effectively adds a loginParameters property with additional custom scopes. Here's an explanation of the requested scopes:

More Info [here](https://githu

[2022-06-09 03:25] jiasli commented on #22701
Regarding error:

Your problem is that the `requiredResourceAccess` property references permissions from more than 10 "remote" APIs (i.e. API registered in tenants different from the tenant where this app is registered). This limitation is documented here: https://docs.microsoft.com/en-us/azure/active-directory/develop/supported-accounts-validation (which is linked to from https://docs.microsoft.c

[2022-06-09 03:26] navba-MSFT commented on #22767
Adding Service Team to look into this ask.

@AzureAppServiceCLI @antcp Could you please look into this ask and provide an update ?

[2022-06-09 03:27] jiasli commented on #22697
Judging from the `dist-packages` in file path, this is not the official Azure CLI, please see https://github.com/Azure/azure-cli/issues/19640

[2022-06-09 03:33] navba-MSFT commented on #22731
Adding Service team to look into this ask

[2022-06-09 03:34] navba-MSFT commented on #22747
@sapphire-sk Thanks for reaching out to us and sharing this feedback. We are looking into this and we will provide an update shortly.

[2022-06-09 04:10] Omar-rob commented on #3411
run the Set-AzMarketplaceTerms cmdlet to accept terms. you need that only one time per product/vendor

https://docs.microsoft.com/en-us/powershell/module/az.marketplaceordering/set-azmarketplaceterms?view=azps-8.0.0&viewFallbackFrom=azps-4.1.0

[2022-06-09 04:16] navba-MSFT commented on #22747
@sapphire-sk Please refer the below table. Its documented that only 2 Storage account types for the Azure monitor logs are supported.

Storage account type | Blob Storage (default support) | Data Lake Storage Gen2 1 | NFS 3.0 1 | SFTP 1
-- | -- | -- | -- | --
Standard general-purpose v2 |  Supported | Supported   | Not Supported   | Not Supported  
Premium block blobs |  Supported | Supported  | N

[2022-06-09 04:22] johanburati opened #22796 "Cannot create VM using private image"
I am trying to create a VM out of a private image (SKU: *redhat:rhel-arm64-preview:8_6-arm64:8.6.2022053101*), I can do it from the **Azure Portal** but it does not work from **azure-cli**.

Here's the details for the image:
![image](https://user-images.githubusercontent.com/106444/172763393-efb8c899-3e45-445a-8be2-247173d5e8ef.png)

SKU:
[code]

It is failing with the error below:
[code]

Any ide

[2022-06-09 05:02] MattoHopkins opened #22797 "az alias extension broken due to MarkUpSafe version increase"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
AZ alias extension no longer works due to the removal of soft_unicode from latest markupsafe version.
https://github.com/aws/aws-sam-cli/issues/3661 <- similar issue, different app

**Command Name**
az alias list

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values ha

[2022-06-09 05:30] jiasli commented on #22580
## Call Microsoft Graph API with `az rest`

Azure CLI's `az ad` command group is only designed to facilitate interacting with Azure resources. It is NOT designed to be a fully-fledged client for managing Microsoft Graph. Therefore, only a limited subset of [Microsoft Graph API](https://docs.microsoft.com/en-us/graph/api/overview) is supported natively by Azure CLI.

For non-supported Microsoft Gra

[2022-06-09 05:30] johanburati commented on #22796
I found out there are also some tricky plan restrictions on this image :-/

[2022-06-09 05:30] #22796 closed

[2022-06-09 05:40] RakeshMohanMSFT commented on #22766
@ben-garside did you try this action plan? https://docs.microsoft.com/en-us/azure/container-registry/container-registry-health-error-reference#connectivity_access_token_error

[2022-06-09 05:57] jiasli commented on #22758
Duplicate of #22777

[2022-06-09 06:42] afsalva1 opened #22799 "Throwing issue when using 'az cognitiveservices account update --name cmvsn --resource-group cmvsn --storage smstddpoop'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cognitiveservices account update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az cognitiveservices account update --name {} --reso

[2022-06-09 06:59] FokkoVeegens commented on #22346
Seems to me like an infinite loop... These guys have already been cc'd and have indicated that they are not involved with this Azure CLI extension.

[2022-06-09 07:15] chgeuer opened #22801 "`az keyvault role assignment create` doesn't add `Authorization` header and body"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**

`az keyvault role assignment create`

**Errors:**

[code]

## To Reproduce:

### Run on 'latest' version (2.37.0)

[code]
### Have a KeyVault which is enabled for RBAC

[code]

### Try to use `az keyvault role assignment create` against the KeyVault
[code]

### Underlying HTTP trace

The unde

[2022-06-09 08:01] #22376 closed

[2022-06-09 08:51] v-soujanya commented on #22346
Hi @VNoveski,
we have checked in our system the output in is JSON array. Please check the image for reference, and we confirmed by using JSON Viewer in online the result is in formatted string. Please let us know if any queries.

![image](https://user-images.githubusercontent.com/101401302/172805653-6f7650ef-13f4-498d-87d2-cc02feff122e.png)

Double checked in JSON Viewer
![image](https://user-imag

[2022-06-09 09:30] ZengTaoxu commented on #21160
Hello, I am trying to reproduce this problem, but there is no error any more. Microsoft.Network/privateLinkServices resource has been added to the code. Please upgrade the CLI version and try again, thank you!

[2022-06-09 09:32] jsntcy commented on #21792
Supported in https://github.com/Azure/azure-cli-extensions/pull/4931

[2022-06-09 09:38] AjKundnani commented on #22275
@zhoxing-ms - After internal discussion and understanding more from DiskRP team, I've edited the request to include new parameter **for-upload-with-security-data** in the request. No edit or modification needed to **for-upload** parameter at this point.

`--secure-vm-guest-state-sas` can be switched on for `az disk grant-access` command when **CreateOption** for disk is set to **UploadpreparedSecu

[2022-06-09 09:47] Brudem commented on #22715
@navba-MSFT My bad I should always update CLI version when I meet an unrocoverable exception (and more when I see that it is a preview version).

So as you expected exception disappears, many thanks.

I have another "issue" (perhaps you can help) when I try an AZ CLI to create a rule.

 **(BadRequest) Rules other than the base rule (order greater than 0) must have at least one condition.**

So I c

[2022-06-09 09:47] AjKundnani commented on #22199
@PARADISSEEKR - Currently Confidential VMSS supports PMK / CMK with Azure Compute Gallery (or Shared Image Gallery), please test with image from ACG / SIG.

Support for Platform images will be added in future API release.

[2022-06-09 09:55] Brudem commented on #22715
@navba-MSFT sorry again, just after writing my preceding comment I found that the missing argument was the "--match-variable" which is not very clear since it become condition "name" in JSON config.

All seems OK now :)

[2022-06-09 10:19] yonzhan commented on #22797
alias

[2022-06-09 10:30] mdhomer opened #22807 "NotAllAgentPoolOrchestratorVersionSpecifiedAndUnchanged during `az aks update --enable-managed-identity`"
**Related command**
`az aks update --resource-group <> --name <> --enable-managed-identity--assign-identity <>  --assign-kubelet-identity <>`
OR the simplified:
`az aks update --resource-group <> --name <> --enable-managed-identity`

(both give same error, which I believe is a validation error before proceeding)

**Describe the bug**
We recently updated our Azure Managed AKS clusters and their con

[2022-06-09 10:31] yonzhan commented on #22799
route to CXP team

[2022-06-09 10:51] yonzhan commented on #22807
route to CXP team

[2022-06-09 11:12] kvskranthikumar commented on #9141
Any update?

[2022-06-09 11:34] navba-MSFT commented on #22715
@Brudem  Thanks for the update. I am glad that the issue is now resolved. Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-06-09 11:47] JSCProjects opened #22808 ""az functionapp deployment source config-zip --slot" generates 503 on production slot"
**Related command**
az functionapp deployment source config-zip --slot staging --src ".\azure-net-function.zip" -n FunctionName -g ResourceGroupName

**Describe the bug**
I've got multiple azure v4 functions on .net 6 running with slots and when I deploy our functions with Azure Devops task AzureFunctionApp@1 on our staging slot it gives 503 after the command is accepted. The same thing happens wh

[2022-06-09 11:55] NdagiStanley opened #22809 "Bug logging w/ email & password"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login -u {} -p {}`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-06-09 11:59] NdagiStanley commented on #22809
Probably it's because of my 2FA: https://docs.microsoft.com/en-gb/cli/azure/authenticate-azure-cli#sign-in-with-credentials-on-the-command-line

[2022-06-09 12:02] FokkoVeegens commented on #22346
Although you have valid XML, the expected format would be:
[code]
Please note the brackets and the absence of the additional line with the descriptor as name of the object.

[2022-06-09 12:03] bb-froggy opened #22810 "az rest does not support POSTing binary data"
**Related command**
az rest

**Is your feature request related to a problem? Please describe.**
I want to upload a logo for an application registration. MS Graph requires this to be uploaded binary, but az rest Base64-encodes it. I tried
`az rest --method put --headers ContentType=image/png --url https://graph.microsoft.com/v1.0/applications/0b1ec71d-0f88-a661-1ca7-104888888888/logo --body @image.

[2022-06-09 12:04] alfeilex commented on #22345
Counter question... is there a way to install Azure CLI for Windows locally without Python? Are there installation urls to ZIP files?

[2022-06-09 12:07] navba-MSFT commented on #22747
@sapphire-sk Thanks for getting back. I am involving the Service team to take a look into this.

@sameergMS @dadunl Could you please look into this issue and provide an update ?

[2022-06-09 12:16] gopal-amlekar opened #22811 "az containerapp throws errors for module azure.cli.core.auth"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Error while using az containerapp commands. _No module named 'azure.cli.core.auth'_

**Command Name**

This is not specific to a command, it is with all the az containerapp commands. For example `az containerapp list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument valu

[2022-06-09 12:34] gopal-amlekar commented on #22811
Fixed this. It was just that an upgrade of azure cli and then upgrade of the containerapp extension was required. I missed to do that before creating the issue.
For anyone coming here facing same error, run az upgrade to upgrade the core azure cli. Then run az containerapp commands. If any more uprade of the containerapp extension is required then the cli will indicate accordingly.

Closing the is

[2022-06-09 12:34] #22811 closed

[2022-06-09 12:46] evelyn-ys commented on #22801
`az keyvault role assignment create` only accepts a HSM but you are using a vault
![image](https://user-images.githubusercontent.com/10227683/172850200-569db75a-10fa-4fb2-a428-f051dc744a41.png)

[2022-06-09 13:31] yonzhan commented on #22808
route to CXP team

[2022-06-09 13:31] yonzhan commented on #22809
@jiasli for awareness

[2022-06-09 13:54] rotorr opened #22812 "https://docs.microsoft.com/en-us/azure/aks/devops-pipeline?pivots=pipelines-yaml&tryIt=true&source=docs#code-try-1"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr create --resource-group {} --name {} --sku {}`

## Expected Behavio

[2022-06-09 14:33] yonzhan commented on #22812
route to CXP team

[2022-06-09 14:35] ashish-raj-wenovate opened #22814 "az cli alternate for Get-AzVirtualNetworkUsageList"
I am not able to find the az CLI alternative for Get-AzVirtualNetworkUsageList from the azure Powershell module. Can you please let me know if this alternative exists in az cli or is it only possible through the PowerShell module only.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc99d572-abdb-ab6b-7a9a-c6951a1c1466

[2022-06-09 14:48] jghal commented on #20735
@AndrewRobie  I am still seeing this issue. I had an old (more than a year ago) Bastion instance deployed with Basic SKU via Terraform, and just updated it in-place to Standard with tunneling enabled. When I look in the Azure portal, _Native client support_ is enabled and it doesn't say it's in preview. But the CLI is still showing this error that tunneling is disabled. I confirmed I have the late

[2022-06-09 14:51] chgeuer commented on #22801
Thanks @evelyn-ys , you're right, I'm using a 'regular' vault, not a dedicated HSM.

When looking at the documentation for the feature (https://docs.microsoft.com/en-us/azure/key-vault/general/rbac-guide?tabs=azure-cli), the article indicated this:

So my understanding was that the given `az` command applies to vaults as well.