[2017-04-27 19:16] derekbekoe commented on #2859
@johanste is there any action required here?

[2017-04-27 19:20] derekbekoe commented on #2659
Closing this and marking as FAQ as it's not actionable and there are other install methods available.
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli

[2017-04-27 19:20] #2659 closed

[2017-04-27 19:22] derekbekoe commented on #2915
Closing as the above comment should address the issue.
Thanks.

[2017-04-27 19:22] #2915 closed

[2017-04-27 19:22] derekbekoe commented on #2907
Closing and marking as FAQ as I've seen a few others run into this.

[2017-04-27 19:22] #2907 closed

[2017-04-27 20:02] tjprescott commented on #3036
@aanandr I can't speak for Powershell, but I would guess they make an extra get call when the command completes to smooth over the deficiency. Based on the service response, it seems like the output should be nothing, in which case the Swagger is incorrect because it says the gateway object is returned.  Alternatively, the service can be fixed to actually return the object that the swagger says it

[2017-04-27 20:03] tjprescott commented on #3047
I love it! (but it still probably still be fixed...)

[2017-04-27 20:05] aanandr commented on #3036
Ok I will look into this. Two things

1.       Who updates the Swagger specs? Is that a contact in the Engineering team (in this case GW)?

2.       Can CLI also make extra calls to get the Gateway object?

Aanand

From: Travis Prescott [mailto:notifications@github.com]
Sent: Thursday, April 27, 2017 1:03 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Aanand Ramachandran <aanandr@micros

[2017-04-27 20:11] tjprescott commented on #3036
1. Service teams own their swagger.
2. Yes, but if the service returns nothing then this (and thus PS) would be the incorrect behavior. The only reason for the output oddity is because the SDK is trying to deserialize null into a gateway object and so you get all null values for the properties..

[2017-04-27 20:30] johanste commented on #2859
This has been addressed.

[2017-04-27 20:30] #2859 closed

[2017-04-27 21:14] seanknox opened #3049 "get-credentials password prompt should indicate system password required"
When running `az acs get-credentials` for the first time, I always seem to forget whether the tool wants my system (OS) password, az user password, SSH key passphrase, etc. Might just be me experiencing this, but it would be helpful if the prompt could be more explicit which password is required.

The error on a wrong password raises an SSHException which could give users the wrong idea about the

[2017-04-27 21:35] yugangw-msft opened #3051 "vmss: improvement on create"
1. Default to no balancer for large scaleset
2. Default subnet prefix for app-geteway

[2017-04-27 21:36] yugangw-msft commented on #3051
//cc:@gbowerman @gatneil

[2017-04-27 21:38] tjprescott opened #3052 "[Monitor] alert-rule create exposes 'alert-rule-resource-name' and 'name'"
### Description
[code]

This exposes two required parameters: `--alert-rule-resource-name` and `--name`.  Both refer to the same thing and NEITHER refer to the name or ID of the target resource (which is actually buried deep inside the condition object--FUN TIMES).

Also, in general this command is painfully unusable.

---

### Environment summary

**Install Method:** How did you install the CLI?

[2017-04-27 21:40] gatneil commented on #3051
awesome; thanks! :)

[2017-04-27 21:44] tjprescott commented on #3051
How is this a trivial fix?  It's a breaking change.

[2017-04-27 21:57] yugangw-msft commented on #3051
Based on the client usage data which I will share with you offline, it is not that big impact
But again, thanks for pointing out this is breaking change

[2017-04-27 22:55] jefffall commented on #3052
Wanted to comment..

the --condition parameter is not documented in the CLI.

--condition @{condition}

the file condition: (which I had to guess how to write from looking up the REST API)

{
    "odatatype": "Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition",
    "operator": "GreaterThan",
    "threshold": "90.0",
    "window_size" : "PT15M"
}

And in the python code of CLI 2.0 t

[2017-04-27 23:50] oakeyc opened #3055 "Storage completions cause Attribution error"
### Description

**Outline the issue here:**
[code]
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:

**OS Version:** What OS and version are you using?
Answer here:

**Shell Type:** What shel

[2017-04-28 00:29] lisawong19 opened #3057 "az lab vm apply-artifacts doesn't work with python 2.7"
### Description
**Outline the issue here:**
command only works on python 3.5

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here: CLI 2.0

**OS Version:** What OS and version are you using?
Answe

[2017-04-28 01:33] aanandr commented on #3036
Travis – I checked and found that in the case of PS they actually make a call to get the GW object. So the fix, as you rightly pointed, is to either have the service return the object or update Swagger. That being said, when the service doesn’t return anything, why do you display what you display today? Why not just blank?

From: Travis Prescott [mailto:notifications@github.com]
Sent: Thursday, Ap

[2017-04-28 01:44] mayurid commented on #3057
@vishrutshah : This will be for Build

[2017-04-28 01:49] mayurid commented on #3055
@troydai as fyi

[2017-04-28 02:36] piotrpMSFT opened #3058 "Enable silent install of the azure cli"
### Description
**Outline the issue here:**
The current install.py does not support a silent installation mode. This makes usage of the CLI on build servers cumbersome as it requires updating the base image of the server. If required inputs could be specified when kicking off the script then installation could progress automatically without user interaction and the end-to-end automation scenario w

[2017-04-28 03:48] troydai commented on #3055
The completion logic is not robust. It doesn't guard the situation where the attribute is missing from the instance.

[2017-04-28 04:01] troydai commented on #3058
@piotrpMSFT can the build servers access to `apt-get`? `az` can be installed from `apt-get`.

[2017-04-28 04:01] troydai commented on #3058
/cc @derekbekoe

[2017-04-28 04:30] jefffall opened #3059 "Can't create an Alert for a VM on Azure using: az monitor alert-rules create ..."
### Description
**Outline the issue here:**
I have tried many permutations to create ANY monitoring alert on Azure using az cli.

Here is an example invoke of the az cli 2.0:
[code]
Here is the condition file I am using:
[code]
After lots of trial and error for two days, I would be VERY HAPPY to create
any working alert at all.

I really need alerts about CPU load.

If you could get me a condition

[2017-04-28 04:36] yugangw-msft commented on #3051
We need to output a warning for at least one release before switch to no balancer

[2017-04-28 04:37] jefffall commented on #3059
Ah yes.
Most importantly when I run the command:

c5256381% az monitor alert-rules create --is-enabled IS_ENABLED --name JeffFallRuleTestCPU --resource-group HCM-Monitoring-RG --alert-rule-resource-name /subscriptions/my_subscription/resourceGroups/H-Monitoring-R/providers/Microsoft.Compute/virtualMachines/myvm --location westus --condition @{jeffcondition} --description 'processor time'
Request c

[2017-04-28 07:42] neilpeterson opened #3062 "`az vm create --secrets` fails with "not a properly encoded Base64 string""
### Description
I am using the following commands to create a keyvault, a key value pair secret, and then a VM.
[code]

The secret is successfully returned and formatted using `az vm format-secret`.
[code]
However the following is thrown:
[code]
I see that the `az keyvault secret set` command has an `--encoding` argument, however this only applies when providing a file, which I am not.

I can repr

[2017-04-28 13:31] RutgerP opened #3063 "Rolling update vmss"
### Description
Hello,
Is it possible to do a rolling update on a vmss? The only thing I found is az vmss update and az vmss reimage. But the problem is it takes down all the instances and then updates them. Is there an option to say that there has to be atleast 1 instance running? So is there a command in cli or a json template I can use to do this?

My vmss is a simple load balancer, autoscaling

[2017-04-28 14:49] vishrutshah commented on #3057
@lisawong19

**Reasons:**
- [ ] `json.load` for `--artifacts` parameter does not perform snake_case translation for keys of input dictionary
- [ ] Validator was missing onto `--artifacts` that is causing `artifactId` from json input was not converted into fully qualified resource Id

Fix is included https://github.com/Azure/azure-cli/pull/2997/commits/50aa53135d86cc2a6582c6e911d332bff5aa9990#diff-

[2017-04-28 16:10] tjprescott commented on #3059
Hi @jefffall please see this issue #3052. There is a bug in this command.  You are putting the VM id in "alert-rule-resource-name".  Because of the bug, you actually would put "JeffFallRuleTestCPU" for this parameter, you can literally put ANYTHING for "name" (it shouldn't be exposed) and your VM ID goes inside that "condition" object.

[2017-04-28 16:13] tjprescott commented on #3036
This is because the SDK is expecting a gateway object (because it is generated against the Swagger and that's what the Swagger says it returns).  So it is deserializing a Gateway object and since nothing is provided, all the fields of that object have null values, hence the output you see.

[2017-04-28 16:18] tjprescott commented on #3062
@neilpeterson I believe this command was intended for passing the private portion of a certificate (which is stored as a secret in KeyVault) into a VM. @devigned can confirm.

Is there a reason you want to save the secret value onto the VM instead of just having your VM retrieve the value from KeyVault?

[2017-04-28 16:20] tjprescott commented on #3057
Since your PR is merged, @vishrutshah can this be closed?

[2017-04-28 16:29] vishrutshah commented on #3057
Yes. PR is merged.

@lisawong19 Could you please use the latest bits and verify?

[2017-04-28 16:29] #3057 closed

[2017-04-28 16:31] vishrutshah commented on #2860
- [ ] Creating an environment in the lab
[code]

[2017-04-28 16:33] neilpeterson commented on #3062
Thanks, I had considered that as the case, but it is not super clear from existing docs / help.

I am trying to use cloud-init to configure an app at VM deployment time. I would like to grab a secret from keyvault and use this in a configuration file /  mysql connection string. Beyond building logic into the app for key retrieval, is there another option?

Thanks

[2017-04-28 16:33] devigned commented on #3062
@tjprescott to be accurate, it's both, the private and the public PEM within the `/var/lib/waagent/` directory of the VM.

I too would have liked to have string based secrets added a VM, but alas, it's not possible today (cc: @squillace @sauryadas). It would be even cooler to be able to provide a file name for the secret.

As of right now, the path you can go down is to provision a certificate to

[2017-04-28 16:33] vishrutshah commented on #2860
- [ ] Show an environment in the lab
[code]

- [ ] List an environment in the lab
[code]
- [ ] Delete an environment in the lab
[code]

[2017-04-28 16:33] aanandr commented on #3036
Travis – when nothing proper is being returned why even display it. I think you should either do what PS is doing or don’t display anything. What is being displayed today doesn’t provide any value. Also, can you open the bug on Swagger? I will route it internally here.

From: Travis Prescott [mailto:notifications@github.com]
Sent: Friday, April 28, 2017 9:13 AM
To: Azure/azure-cli <azure-cli@norep

[2017-04-28 16:35] vishrutshah commented on #2860
- [ ] List VMs in the environment

[code]

[2017-04-28 16:37] devigned commented on #3062
In that case, @neilpeterson, I have something else for you. The cloud-init that goes with the above script: https://github.com/devigned/level1/blob/master/scripts/cloud-config-template.yml

Hope that helps!

[2017-04-28 16:39] neilpeterson commented on #3062
Thanks @devigned, just checking that out. To confirm, in this case the CLI would be installed on the targeted VM and then something like `az keyvault show` would be used to return the secret value.

Thanks to both for the quick response +@tjprescott

[2017-04-28 16:43] devigned commented on #3062
@neilpeterson, yes, precisely. The cloud-init installs the CLI and pre-authenticates with the Key Vault cert via vm-secrets.

The deploy user should be ready to execute any command against the subscription it was provisioned against.

If one would like to limit the RBAC privileges of the service principal, then you can specify the roles on `az ad sp create-for-rbac` via `--scopes`.

[2017-04-28 16:47] devigned commented on #3062
@tjprescott perhaps, `az vm format-secret --secret "$secret"` should fail if the secret is not a certificate. Thoughts?

[2017-04-28 16:49] neilpeterson commented on #3062
@devigned thanks a bunch.

This issue can be closed. Is there a proper way to enter a feature request to plump secrets into the `az vm create --secrets` argument?

[2017-04-28 17:52] yugangw-msft commented on #1800
FYI, the `/skus` api is being finalized by Azure Compute team which will return the permission and restrictions information which CLI can leverage for better errors/suggestions.

[2017-04-28 17:54] devigned commented on #3062
@neilpeterson I'd suggest just creating a new issue, describe your scenario, and how you'd like to see it implemented. Perhaps, also link to this issue for some background. Thanks!

[2017-04-28 17:54] #3062 closed

[2017-04-28 17:55] devigned commented on #3063
Good discussion going on here too: https://www.reddit.com/r/AZURE/comments/67unod/rolling_update_vm_scale_set/

[2017-04-28 17:55] yugangw-msft commented on #1800
Essentially each subscription has its own restrictions due to capacity or offer type, CLI will try to surface actionable messages with the assistance of the new API

[2017-04-28 17:58] derekbekoe commented on #3058
@piotrpMSFT Like @troydai mentioned, there are other ways to install that are non-interactive.
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli
Do those not satisfy your scenario?

[2017-04-28 18:11] tjprescott commented on #3062
@devigned if the command is only intended for importing certificates, then perhaps it would make most sense to change the name to "format-certificate", have it accept KeyVault and certificate name and then it gets the "secret" for you.

[2017-04-28 18:19] devigned commented on #3062
Seems reasonable. Perhaps, this calls for a feature discussion.

[2017-04-28 18:19] jefffall commented on #3052
Would there be a way for someone to post a working command to create a monitor alert rule?
I just need ONE example that will actually create a rule.

Then I can go from there.

I had no idea the --args were misnamed. I can see why that could be confusing and convoluted.

We are at V 2.0.3 on Azure CLI 2.0.

Two requests:

1) Can someone post a working command for Azure CLI V 2.0.3 with all the par

[2017-04-28 18:51] jefffall commented on #3052
Digging...

/azure-cli/lib/python2.7/site-packages/azure/mgmt/resource/resources/v2016_09_01/operations/resources_operations.py:

         /subscriptions/{guid}/resourceGroups/{resource-group-name}/{resource-provider-namespace}/{resource-type}/{resource-name}

So resource-name is just the name of my VM?

So these two arguments are the paradox:

--azure-resource-name : Azure resource name.

And I s

[2017-04-28 18:56] JasonRShaver commented on #2974
Investigating options for supporting this

[2017-04-28 19:03] tjprescott commented on #3052
They are BOTH the name of the rule (but the service ignores 'name'). Your VM ID goes inside the "condition" object. It's a bug for sure.

[2017-04-28 19:04] tjprescott commented on #3052
`az monitor alert-rules create --is-enabled true --name JeffFallRuleTestCPU -g HCM-Monitoring-RG --alert-rule-resource-name JerrFailRuleTestCPU --location westus --condition @{condition} `

[2017-04-28 19:05] tjprescott commented on #3052
Well, and you'd probably want to add the actions with @{action}

[2017-04-28 19:06] jefffall commented on #3052
Well finally I got a different response. I hit a nerve?

az monitor alert-rules create --is-enabled IS_ENABLED --condition @{jeffcondition} --resource-group /resourceGroups/HCM-Monitoring-RG --alert-rule-resource-name /providers/Microsoft.Compute/virtualMachines/hcm99mon01 --name JeffFallTestRule2 --location westus
The api-version '2016-03-01' is invalid. The supported versions are '2017-03-01,201

[2017-04-28 19:10] tjprescott commented on #3052
az monitor alert-rules create --is-enabled IS_ENABLED --condition @{jeffcondition} --resource-group <del>/resourceGroups/</del>HCM-Monitoring-RG <del>--alert-rule-resource-name /providers/Microsoft.Compute/virtualMachines/hcm99mon01</del> --name JeffFallTestRule2 **--alert-rule-resource-name JeffFallTestRule2** --location westus

[2017-04-28 19:15] jefffall commented on #3052
az monitor alert-rules create --is-enabled true --name JeffFallRuleTestCPU -g HCM-Monitoring-RG --alert-rule-resource-name JeffFallRuleTestCPU --location westus --condition @{jeffcondition}

Request content is not well formed or supported.

{
      "data_source": {
        "metric_name": "Percentage CPU",
        "odata.type": "Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource",

[2017-04-28 19:29] jefffall commented on #3052
This command seems to get further.

[ZZZM00650289A:~] c5256381% az monitor alert-rules create --is-enabled IS_ENABLED --condition @{jeffcondition} --resource-group /resourceGroups/HCM-Monitoring-RG --alert-rule-resource-name /providers/Microsoft.Compute/virtualMachines/hcm99mon01 --name JeffFallTestRule2 --location westus
The api-version '2016-03-01' is invalid. The supported versions are '2017-03

[2017-04-28 19:37] tjprescott commented on #3052
The change will not be in 2.0.4, unfortunately.  However, I just test this and this works...

<condition>
{
	"dataSource": {
	  "odata.type": "Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource",
	  "resourceUri": "<your resource ID here>",
	  "metricName": "Percentage CPU"
	},
	"odata.type": "Microsoft.Azure.Management.Insights.Models.ThresholdRuleCondition",
	"operator": "GreaterTha

[2017-04-28 19:39] tjprescott commented on #3052
Which cloud are you trying to run against?

[2017-04-28 20:06] jefffall commented on #3052
Hi Travis,

  How can I tell what cloud I am running against?

I am logged into Azure at http://portal.azure.com

I tried to find a HELP About or a version for the Azure cloud.

NO luck.

and thank you for the new conditions file.

Thank you for taking an interest and giving me a hand with this.

On 4/28/17 12:39 PM, Travis Prescott wrote:

[2017-04-28 20:09] squillace commented on #3062
+1

[2017-04-28 20:16] jefffall commented on #3052
HI Travis,
Can I please ask you for a good download link of the Azure CLI 2.0.3 you are using?

I have given the commands you sent me a try..

more travistested
{ "dataSource": { "odata.type": "Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource", "resourceUri": "/subscriptions/my_subscription/resourceGroups/HCM-Monitoring-RG/providers/Microsoft.Compute/virtualMachines/hcm99mon01", "me

[2017-04-28 20:23] tjprescott commented on #3052
Well, I'm running off of master.  You probably have the latest public build.  Try this:

[code]

The case conversion *will* be in the next release but until then you'd need to make sure to use python_casing instead of CamelCasing.

[2017-04-28 20:36] piotrpMSFT commented on #3058
@troydai @derekbekoe thanks for the quick reply

The available installation mechanisms seem to carry some undesirable characteristics for the build server scenario. Here are characteristics that are important to us:
- Per-User: we can't assume we have root access to our build servers
- Scriptable: we don't want to add  machine setup instructions for new developers/new machines
- Private: we don't

[2017-04-28 20:39] jefffall commented on #3052
Hi Travis,
 DataSource bombed.
So changed it to data_source.

Can you please give me a link to pull Azure CLI 2.0.3 from master?

{
    "data_source": {
      "odata.type": "Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource",
      "resource_uri": "/subscriptions/my_subscription/resourceGroups/HCM-Monitoring-RG/providers/Microsoft.Compute/virtualMachines/hcm99mon01",
      "metric_na

[2017-04-28 21:24] troydai commented on #3058
@piotrpMSFT can you please elaborate the third point? What do you mean by "leak changes" from `az component update`?

[2017-04-28 21:29] lisawong19 commented on #3057
@vishrutshah: It works! Thanks

[2017-04-28 21:31] tjprescott commented on #3052
azure-cli-monitor 0.0.3 was just released so you might give that a try and see if it unblocks your scenario.

[2017-04-28 21:38] piotrpMSFT commented on #3058
as I understand `az component update` it updates the implementation of a component with another implementation. So let's say I have a shared CLI installed, and I run two builds on one build agent:

- BuildA.1: `az appservice ....` <- success
- Build B.1: `az component update appservice` <- success
- Build A.2: `az appservice ....` <- failure because of some difference between the pre-and-post upda

[2017-04-28 21:39] jefffall commented on #3052
Hi Travis,

  Found nightly and trying that..

pip3 install --pre azure-cli --extra-index-url
https://azureclinightly.blob.core.windows.net/packages

Is there a link for:

azure-cli-monitor 0.0.3???

https://www.google.com/search?q=azure-cli-monitor&rlz=1C5CHFA_enUS734US734&oq=azure-cli-monitor&aqs=chrome..69i57j0l5.9616j0j8&sourceid=chrome&ie=UTF-8#q=azure-cli-monitor+0.0.3+download

Is azure-cli

[2017-04-28 21:51] jefffall commented on #3052
Can't get master branch to install.
or nightly.
I can't get all the Python modules to link up - like Module azure.

I will try:

azure-cli-monitor 0.0.3

[2017-04-28 21:59] vishrutshah commented on #2860
As we are not planning to surface "start environment" and "stop environment" for now as it'd be great to have that inside the REST endpoint.

Rest of the features have been implemented and pushed to master.

[2017-04-28 21:59] #2860 closed

[2017-04-28 22:02] jefffall commented on #3052
Ok so guessing that to install

https://pypi.python.org/packages/9f/b9/00ad1ffabd67357eef4845dc776527011aca7a21997df310eefcbde015fd/azure-cli-monitor-0.0.3.tar.gz#md5=ca3d4da9a2758ce7ea18884e4fe1b711

I need to first get a public copy of Azure CLI 2.0.3

and then untar this file right over where the old files are in the az distribution?

Looks to be a ./setup.py which can build or install...

[2017-04-28 22:16] jefffall commented on #3052
Just reinstalled public distribution of Azure CLI 2.0 and did an ls -lR and

Looks like monitor 0.0.3 is included?

-rw-r--r--   1 c5256381  1694527156  5257 Apr 28 15:08 monitor_client.pyc
./azure-cli/lib/python2.7/site-packages/azure/monitor/models:
-rw-r--r--  1 c5256381  1694527156  1039 Apr 28 15:06 monitor_client_enums.py
-rw-r--r--  1 c5256381  1694527156  1662 Apr 28 15:08 monitor_client_e

[2017-04-28 22:23] jamescgibson commented on #1528
I'd love to get --no-wait on `az disk delete`

[2017-04-28 23:47] jefffall commented on #3052
Finally Success.
Firstly, Thank you Travis P. I would NOT have gotten this far in two days WITHOUT YOU.
Thank you...

Turns out .. I was missing a comma ",". More on that later.

I put in a comma out of sheer desperation. And I about fell over when I finally got an Alert RULE1 created.

This has been two full days of trial and error.

What really finally worked for creating an Alert was your great

[2017-04-29 00:00] jefffall commented on #3052
Oh wanted to comment..

TO make this work I had to

0) Install the public: curl -L https://aka.ms/InstallAzureCli | bash

1) Install the nightly: pip3 install --pre azure-cli --extra-index-url

2) Then deleted the public with an rm -fr

2) Install the public next:  curl -L https://aka.ms/InstallAzureCli | bash

and then

Make sure the condition file is correct like this one:

{
    "dataSource": {

[2017-04-29 00:18] jefffall opened #3100 "Azure CLI needs --help ADDITIONS on how to properly form a condition file for creating a monitoring alert"
### Description
**Outline the issue here:**

I spent two days trying to figure this out.
And Lucky for me Travis P. gave me a hand.

Please please put in MORE HELP in the

az monitor alert-rules create --help command.

What is needed:

1) full example of command in real usage as here:

So just add to the --help this example:

az monitor alert-rules create -g 'Your_Monitoring_Group_NAME' --alert-ru

[2017-04-29 05:29] lostintangent opened #3103 "[Webapp] VSTS CI/CD config displays stack along with error message"
### Description
**Outline the issue here:**

If you attempt to configure VSTS-based CI/CD on a web app, using a Git repo, but omitting the `--cd-account` flag, then you get the following error:

[code]

The error message itself is actually really clear. However, it would be ideal if the stack wasn't also displayed.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.

[2017-04-29 05:38] lostintangent opened #3104 "[App Service] VSTS account creation doesn't appear to work when configuring CI/CD"
### Description
**Outline the issue here:**

The new `--cd-account` flag (for the `az appservice web source-control config --cd-provider vsts` command), indicates that the account will be created if it doesn't already exist. However, when trying to run it, using unique account names, I get the following error:

[code]

Aside from the fact that the command doesn't appear to function correctly, the

[2017-04-29 05:46] lostintangent commented on #3104
As an aside, I noticed that if you specify an existing account in the `--cd-account`, that you don't have access to, you get a similarly unfriendly error response.

[code]

It would be ideal if this simply displayed something like `The user '72f988bf-86f1-41af-91ab-2d7cd011db47\joncart@microsoft.com' is not authorized to access this resource.`, as opposed to the HTTP response info.

[2017-04-29 06:20] troydai commented on #3058
The chance in which the scenario you described happens is rare in my opinion.

In what case you will run `az component update` during a build? The caller to the CLI is in control of the build script so this is totally avoidable.

It is honestly an unavoidable scenario as long as a tool can be upgraded.

In case you really want to avoid it, the CLI installed through `apt-get` will not have the comp

[2017-04-29 06:23] troydai commented on #3058
Get back to the original topic, @derekbekoe as far as you know is there a way to provide @piotrpMSFT a mean to install quietly with the script? What change shall we make?

[2017-04-29 22:23] yugangw-msft commented on #3104
//cc: @jpricketMSFT

[2017-04-29 22:23] yugangw-msft commented on #3103
//cc: @jpricketMSFT

[2017-04-29 23:52] thebitguru commented on #2128
@tjprescott, thanks for sharing this info. Is the fully qualified ID of the subnet something like this or is there a friendlier version?

`/subscriptions/<MY_SUBSCRIPTION_ID>/resourceGroups/<MY_RESOURCE_GROUP>/providers/Microsoft.Network/virtualNetworks/<MY_VNET>/subnets/<MY_SUBNET>`

[2017-04-30 02:13] jpricketMSFT commented on #3104
@lostintangent - you are correct this functionality is still in progress. It will work as expected soon. Right not you have to use an existing vsts account.
Thanks,
Jason

[2017-04-30 02:15] jpricketMSFT commented on #3103
@lostintangent - thanks for the feedback. Most error conditions with this feature just throw an error and so you will probably get a call stack. I will try to fix this soon.

[2017-05-01 00:39] bganapa opened #3109 "Enable creating an issue right from the cli"
may be like az bug or az issue
You can collect all the below environment details needed by yourself

### Description
**Outline the issue here:**

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer her

[2017-05-01 15:28] tjprescott commented on #2128
That's the format. We opted to consume that because it can be easily copied and pasted and/or programmatically retrieved with query and TSV output.

[2017-05-01 17:19] #2963 closed

[2017-05-01 17:29] piotrpMSFT commented on #3058
@troydai agreed regarding rarity, but this is exactly the sort of corner case that ends up causing long and complicated investigations. Nobody wants to deal with build system variability...

[2017-05-01 17:32] tjprescott commented on #3052
@jefffall glad you got it working. So sorry it was such a difficult process. I'll be working to fix this experience up in the coming weeks.

[2017-05-01 17:51] JasonRShaver opened #3116 "`clear` should clear the terminal in interactive"
Currently clear seems to be a nop.

[2017-05-01 17:56] tjprescott commented on #3116
That's because you have to use # to specify a non-az command.

[2017-05-01 18:01] tjprescott commented on #3109
Or az feedback could be extended in some way. Either way, this would be nice as we could automatically collect certain info to include with the issue instead of hoping people supply it.

[2017-05-01 18:16] derekbekoe commented on #3116
`Ctrl+L` works as well. Standard to bash/unix.

[2017-05-01 18:18] oakeyc commented on #3116
PR #3118, I originally had 'clear' map to something that clears the history. I changed that to 'clear-history,' and I hooked up 'clear' to clear the screen

[2017-05-01 18:20] troydai commented on #3058
But you as the build system manager is responsible for how and when you call `az component update`. As long as you don't call it the component module won't be updated. Am I right? Otherwise, if there are scenarios in which CLI voluntarily update/change itself, which I'm not aware of, please let us know the repo steps, which we can address further.

In terms of the silent installation, `apt-get` is

[2017-05-01 18:26] lmazuel commented on #1800
@yugangw-msft this RestAPI will be in Swagger right? So update to the compute package?

[2017-05-01 18:38] #2494 closed

[2017-05-01 18:38] #2870 closed

[2017-05-01 18:41] yugangw-msft commented on #1800
@lmazuel , correct

[2017-05-01 19:21] dkarakas1 opened #3120 "VM Create: differences between Xplat CLI and Azure CLI 2.0"
### Description
**Outline the issue here:**

Azure CLI tools no longer taking plan information and requires new storage flags.

This command was working on April 7, 2017 but does not today:

[code]
The --plan* flags are no longer accepted for Marketplace Images.
The --storage* flags no longer work without the --use-unmanaged-disk flag.

---

### Environment summary

**Install Method:** How did you

[2017-05-01 19:33] dkarakas1 commented on #3120
More on the installation history:
[code]

[2017-05-01 19:47] tjprescott commented on #3120
A couple things here:

1) "azure" refers to Xplat CLI (https://github.com/Azure/azure-xplat-cli) or Azure CLI 1.0. Thus arguments you listed are from Xplat CLI. What you describe are difference between the two products.

2) Azure CLI 2.0 does support creation of images that require plan information.  The CLI simply handles this behind the scenes.  @yugangw-msft, correct me if I'm wrong.

3). It wo

[2017-05-01 20:03] dkarakas1 commented on #3120
Pretty sure Xplat is not installed on my dev platform.  Xplat requires nodejs, which is not installed on my dev platform.  I installed azure-cli via:

curl -L https://aka.ms/InstallAzureCli | bash

I then ran "pip install azure==2.0.0rc5" as per Ansible Azure getting started doc here:

[2017-05-01 20:07] oakeyc commented on #3037
In the next shell release, there will be multiple color options.

[2017-05-01 20:26] tjprescott commented on #3120
Commands in Azure 2.0 are run using `az`.  Commands in Xplat are run using `azure`.  The parameters you listed:

[code]

These are parameters used in Xplat, not Azure CLI 2.0.  You have installed it correctly, but the thing you are comparing it to isn't the older version of Azure CLI 2.0, but rather Xplat CLI.

[2017-05-01 20:28] oakeyc commented on #3037
PR #93 for azure-cli-shell added the colors

[2017-05-01 20:28] #3037 closed

[2017-05-01 20:34] dkarakas1 commented on #3120
Are you saying that running

`pip install azure==2.0.0rc5`

resulted in Azure XPlat being installed?

Checking rpm database I don't have the npm or nodejs packages installed, which appear to be required to install XPlat.

[2017-05-01 20:41] DonMartin76 opened #3123 "Choosing ACS orchestrator version (Kubernetes version)"
Hey guys,

How do I specify which Kubernetes version I want `az acs create` to provision? I know `acs-engine` supports this.

Right now, I get a 1.5.3 Kubernetes cluster, which is currently fine; I would like to be able to use `az acs create` to create a 1.6.2 cluster for testing purposes as well.

Is this currently possible? Are there plans on getting this in to the `az` command line?

Best regar

[2017-05-01 20:46] derekbekoe commented on #3123
@brendandburns or @colemickens may be able to help here.

[2017-05-01 20:47] yugangw-msft commented on #3120
@tjprescott it is correct. CLI 2.0 never ever exposes `--plan`

This is definitely xplat. Please run `azure` and share the ouput

[2017-05-01 20:47] tjprescott commented on #3120
Well `pip install azure==2.0.0rc5` would result in an older version of the Azure SDK being installed. We have never supported `--plan*` arguments within Azure CLI 2.0. Only Xplat has supported those.

If you run `az -h` and `azure -h` you will get very different output.

[2017-05-01 22:39] #3029 closed

[2017-05-01 22:48] dkarakas1 commented on #3120
@tjprescott On my system, az and azure are the same command.  I created a softlink from az to azure:

[code]

So the actual command on my box is /usr/local/bin/az

[2017-05-01 23:20] tjprescott commented on #3120
The plan arguments were not removed as they have never existed in CLI 2.0 (however you can create Marketplace Images that require this information).

That storage account parameters do not work without specifying `--use-unmanaged-disks` is by design.

Closing this issue.

[2017-05-01 23:20] #3120 closed

[2017-05-02 02:58] lostintangent commented on #2347
@davidebbo What is the recommendation here for Linux-based Web Apps? The `Tools...Download deployment script` menu isn't displayed in Kudu for Linux.

@yugangw-msft Was there any further discussion on this item? It'd be cool to see something happen to support this scenario.

[2017-05-02 03:04] davidebbo commented on #2347
@lostintangent You can install [kuduscript](https://www.npmjs.com/package/kuduscript) directly from npm and run that. e.g. try:

[code]

[2017-05-02 03:07] lostintangent commented on #2347
@davidebbo Ah cool! Thanks for the quick response. Was this tool what the Azure CLI 1.0 was using behind the scenes to generate the deployment script?

[2017-05-02 03:08] troydai commented on #3109
Maybe we can print an environment information digest in markdown format so the users can copy and past the diagnostics information directly in github issue page.

We can also print stack trace and other information in markdown when the command runs into an error and --debug is specified.

[2017-05-02 03:09] davidebbo commented on #2347
@lostintangent Yep. So all the switches are identical.

[2017-05-02 03:10] lostintangent commented on #2347
@davidebbo Very cool. Thanks so much for that pointer! I'd definitely love to see this integrated into Az CLI 2.0 (per this request), but it's awesome to know about this NPM module in the meantime.

[2017-05-02 03:14] davidebbo commented on #2347
I guess it comes down to the feasibility of shelling out to a Node tool from a Python tool. I'll let @yugangw-msft comment further.

[2017-05-02 04:56] #2647 closed

[2017-05-02 05:20] troydai commented on #2347
The problem with shelling out approach is that we can't guarantee that node.js is installed. We probably could look into the possibility of migrating https://www.npmjs.com/package/kuduscript to python.

[2017-05-02 13:02] writeameer commented on #655
Trying to use
[code]
 with Kubernetes like this example from @colemickens (https://github.com/colemickens/azure-kubernetes-demo/blob/master/test-azure-disk.yaml) , where I need to specify VHD url.  Managed disks don't seem to have the notion of VHD URLs ? How can I use managed disks in the yaml for Kubernetes ?

[2017-05-02 16:39] yugangw-msft commented on #655
I don't really know the e2e flow, but for this specific question, try `az disk grant-access`

[2017-05-02 18:13] derekbekoe commented on #1522
Following up with a solution:
[code]

http://stackoverflow.com/a/19604913

[2017-05-02 18:26] mayurid opened #3134 "Clean up help in case of wrong command usage"
### Description
           az vm foo

Which generates an error like:
[code]
Proposed format:
[code]

[2017-05-02 18:56] jpoon commented on #655
@writeameer managed disk support in k8s is coming and I think is slated for 1.7 (https://github.com/kubernetes/kubernetes/pull/41950)

[2017-05-02 19:07] #3116 closed

[2017-05-02 19:10] jefffall commented on #3052
# Here is some python to create the JSON @condition file or inline code
#But the JSON required is bad JSON as there is an extra comma "," required and no extra JSON #following the comma

def create_monitor_rule(name_of_rule, operator, metricName, threshold, resourceGroup, vm):

    odatatypeDS = "Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource"
    resourceUri = "/subscriptions/you

[2017-05-02 19:22] jefffall opened #3135 "conditions JSON format required is not syntactically correct JSON"
### Description
**Outline the issue here:**

The only JSON which the Azure cloud will accept for creating a Monitoring rule is as below:

{
    "dataSource": {
      "odata.type": "Microsoft.Azure.Management.Insights.Models.RuleMetricDataSource",
      "resourceUri": "/subscriptions/your_subscription/resourceGroups/your_resource_group/providers/Microsoft.Compute/virtualMachines/hcm99mon01",

[2017-05-02 19:45] #2905 closed

[2017-05-02 20:06] JasonRShaver opened #3137 "You should be able to call out of a interactive mode scoping"
I expect this command set to invoke three total commands without requiring me to leave the scoping.

%%vm
list
az group list
list
^^vm

The trigger should be a command starting with 'az', it would ignore scoping for that command

[2017-05-02 21:26] tjprescott commented on #3135
I tested this on CMD.exe (Windows) with both variants and it worked fine. It might be a peculiarity with your shell. Right now the CLI only officially supports CMD.exe, bash and zsh.  I'll try it out on bash as well.

[2017-05-02 21:33] EricJizbaMSFT opened #3138 "az acs kubernetes get-credentials fails when specifying ssh-key-file"
As of v2.0.4, I get an error when I use `--ssh-key-file` along with `az acs kubernetes get-credentials` (the command works if my key is in the default location of `~/.ssh/id_rsa`).

I took a look at past commits and I believe https://github.com/Azure/azure-cli/commit/b26248718cc1a66e27836b0c5d238cdc2bfcc997 by @derekbekoe and @brendandburns might've introduced the bug. It looks like 'pkey' is set

[2017-05-02 21:35] tjprescott commented on #3135
When I run this on bash (Mac) without the comma, the request succeeds.  If I run it with the extra comma I get the following error:
[code]

[2017-05-02 21:42] tjprescott commented on #3137
I agreed--until I realize you can already do with with:
`#az group list`

[2017-05-02 21:49] jefffall commented on #3135
Interesting.

Must be the CLI Version which I am running.

I for the life of me could not get it to work without that comma at the end.

Maybe try the vanilla Public build and see how that one goes?

I think my installation is a mix of Public build and the newer 0.0.3
Monitoring.

On 5/2/17 2:35 PM, Travis Prescott wrote:

[2017-05-02 21:58] derekbekoe opened #3141 "'az component update' fails with ImportError: No module named..."
### Description
**Outline the issue here:**

![image](https://cloud.githubusercontent.com/assets/16448634/25641188/a5887354-2f47-11e7-8245-e794d9ccdf2f.png)

![image](https://cloud.githubusercontent.com/assets/16448634/25641191/a94919ee-2f47-11e7-87cc-cd0d92d900dd.png)

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MS

[2017-05-02 22:06] tjprescott commented on #3135
Could be.  I did a fresh pip install of the latest public build and it worked.

My az --version for reference:
[code]

[2017-05-02 22:14] tjprescott opened #3142 "[Network] Add test for Network Watcher test-connectivity"
PR #3140 adds the `network watcher test-connectivity` command. Because the endpoint isn't publicly available, I cannot record for this command.

Once the endpoint has been published, add this test.

[2017-05-02 22:50] jefffall commented on #3135
Ah
2.0.4 now

:-)

[2017-05-02 23:01] tjprescott commented on #3135
Yeah, but it's 2.0.5 that you want that won't be super crappy.  2.0.4 is only slightly less crappy.

[2017-05-02 23:54] derekbekoe commented on #3141
PR with the code fix https://github.com/Azure/azure-cli/pull/3144

PR with the release of the module to PyPI https://github.com/Azure/azure-cli/pull/3145

[2017-05-03 00:11] #3024 closed

[2017-05-03 01:52] jefffall commented on #3052
List of Metrics to use:

Percentage CPU
Network In
Network Out
Disk Read Bytes
Disk Write Bytes
Disk Read Operations/Sec
Disk Write Operations/Sec
\Processor |nformation(_Total)\% Processor Time
\Processor |nformation(_Total)\% Privileged Time
\Processor |nformation(_Total)\% User Time
\Processor |nformation(_Total)\Processor Frequency
\System\Processes
\Process(_Total)\Thread Count
\Process(_Tota

[2017-05-03 01:54] writeameer commented on #655
@yugangw-msft  Thank you.

@jpoon Got it, thank you for the link to the issue - great insight - much appreciated.

[2017-05-03 02:22] johnpapa commented on #2009
I ran into this today on python 2.7. Are we saying the CLI must use python 3.5?

Or should it work with 2.7, too?

[2017-05-03 02:22] davidebbo commented on #2347
@troydai that's a much bigger investment. Not saying it can't happen, but definitely not in the near term.

[2017-05-03 05:04] johnpapa commented on #2688
I had similar problems. However I had to include the resource type, name, resource group and resource name flags to remove the lock.

[code]

[2017-05-03 17:38] derekbekoe commented on #3138
Is this what https://github.com/Azure/azure-cli/pull/3102 addresses?

[2017-05-03 17:53] #3134 closed

[2017-05-03 17:54] EricJizbaMSFT commented on #3138
Looks like it to me. I still don't get what the point of the 'keys' array is, though.

[2017-05-03 18:10] brendandburns commented on #3138
@EricJizbaMSFT the keys are loaded from the ssh-agent program.

(although that fix fixes the bug temporarily, we still should consider all keys in that array when doing auth)

[2017-05-03 18:12] EricJizbaMSFT commented on #3138
I get that part - but where are the keys used? Nowhere at the moment, right? (Although I guess the fix in the PR would use the first key)

[2017-05-03 18:23] brendandburns commented on #3138
Right, the true fix is to loop through the keys and catch `AuthenticationException` and try the next...

Please file an issue on me and I will fix that.

[2017-05-03 19:55] oakeyc opened #3157 "Feedback given flag should be in the '.azure' config not '.azure-shell'"
### Description
**Outline the issue here:**

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:

**OS Version:** What OS and version are you using?
Answer here:

**Shell Type:** What shell are y

[2017-05-03 22:11] EricJizbaMSFT commented on #3138
Seems like that's already covered by this issue: https://github.com/Azure/azure-cli/issues/2612

In any case, I was more concerned about the `--ssh-key-file` scenario. When should I expect the fix to be shipped?

[2017-05-03 22:41] brendandburns commented on #3138
I'll fix it this evening.

--brendan

________________________________
From: Eric Jizba <notifications@github.com>
Sent: Wednesday, May 3, 2017 3:11:47 PM
To: Azure/azure-cli
Cc: Brendan Burns; Mention
Subject: Re: [Azure/azure-cli] az acs kubernetes get-credentials fails when specifying ssh-key-file (#3138)

Seems like that's already covered by this issue: #2612<https://na01.safelinks.protection.

[2017-05-03 22:58] brendandburns commented on #3138
Actually, I just tested @ head. The fix from #3102 fixes this problem.

[2017-05-03 22:59] #3138 closed

[2017-05-03 23:11] EricJizbaMSFT commented on #3138
Thanks for verifying the fix - what's the ETA for the new 'acs' package to be published?

[2017-05-03 23:12] brendandburns commented on #3138
not sure, up to the az CLI team (I'm on the ACS team...)

[2017-05-03 23:13] EricJizbaMSFT commented on #3138
Ah okay thanks

[2017-05-03 23:23] derekbekoe commented on #3138
It will be released later this week or next week.
Alternatively, we have nightly builds. Since it was merged today, it'll be available tomorrow.
https://github.com/Azure/azure-cli/#nightly-builds

[2017-05-04 02:00] jefffall commented on #3052
really need example JSON of --action

--actions
JSON encoded array of actions that are performed when the alert rule becomes active, and when an alert condition is resolved. Use @{file} to load from a file.

[2017-05-04 03:10] brendandburns commented on #3123
Currently ACS only supports a single version (1.5.3, soon to be 1.6.x)

We are currently working on multi-version support and expect it to roll out in the coming months.

[2017-05-04 03:11] brendandburns commented on #3123
Closing for now, since this is planned for the future, and currently unactionable.

Please feel free to open an issue in https://github.com/Azure/ACS if you want a tracking issue.

Thanks!

[2017-05-04 03:11] #3123 closed

[2017-05-04 03:12] brendandburns commented on #3138
(and fwiw, I'm going to improve testing too so that I don't break this again in the future)

[2017-05-04 04:19] Mmdixon commented on #2187
I get the same error with:
[code]

[2017-05-04 08:03] akempe opened #3160 "Unable to install on windows using pip (error in azure-mgmt-resource setup command)"
### Description

When trying to install azure-cli using the Windows command line, I get this error:

`pip install --user azure-cli`

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

`pip install --user azure-cli`

Python 2.7.13

**CLI Version:** What version of the CLI and modules are installe

[2017-05-04 15:34] grahamsk opened #3162 "az ad group create fails with "Property should not be set.""
### Description
**Outline the issue here:**
az ad group create fails with "Property  should not be set."
Full command: az ad group create --verbose --mail-nickname=XXX --display-name=YYY
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:
Installed using the interactive script

**CLI Version:** Wh

[2017-05-04 15:47] grahamsk commented on #3162
Also tried in the latest azure cli docker container and got this error message:

[code]

[2017-05-04 16:04] tjprescott commented on #3052
@jeffall, in the coming changes, what I plan to do is make managing the actions on an alert rule a group of subcommands:

[code]
My goal will be to remove the need for raw JSON objects at all.

[2017-05-04 16:20] jefffall commented on #3052
Travis

Can I ask you for a current JSON

--actions example

For adding emails

and one for adding webhooks?

I have no idea how to format the JSON for --action

Thanks so much!

J

On 5/4/17 9:04 AM, Travis Prescott wrote:

[2017-05-04 16:58] tjprescott commented on #3052
Hi @jefffall:

Here's an example of actions that I've tested on the latest (2.0.4):

[code]

[2017-05-04 17:16] derekbekoe commented on #3160
@akempe what's the output of `pip --version` and `pip freeze`?
I suspect there's an old version of `pip` or `setuptools`.

[2017-05-04 17:40] tjprescott opened #3163 "[RBAC] Create for RBAC with self-signed cert fails sporadically"
Running `az ad sp create-for-rbac --create-cert` will occasionally fail with the following:

`azure.graphrbac.models.graph_error.GraphErrorException: Key credential start date is invalid.`

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: dev_setup.py

**CLI Version:** What version of the CLI a

[2017-05-04 18:00] jefffall commented on #3052
Hi Travis,

  Do I need to specify the whole JSON each time as:

|{ "odatatype":
"Microsoft.Azure.Management.Insights.Models.RuleEmailAction",
"sendToServiceOwners": true, "customEmails": [ "email1@contoso.com",
"email2@contoso.com" ] }, { "odatatype":
"Microsoft.Azure.Management.Insights.Models.RuleWebhookAction",
"serviceUri": "https://your-endpoint-here", "properties": { "key":
"value", "key2":

[2017-05-04 18:19] tjprescott commented on #3052
You'll need the whole JSON each time--add as many email or webhook actions as you need.  When the redesign is done, you'll be able to manage these selectively.

[2017-05-04 19:16] jefffall commented on #3052
Excited about new changes coming.

When shall extensive redesign hit the public Azure CLI 2.0.x?

And -

Can you please give me a working example of:

"odatatype": "Microsoft.Azure.Management.Insights.Models.RuleWebhookAction",

"serviceUri": "https://your-endpoint-here",

"properties": {

"key": "value",

"key2": "value2

Key : value

key2 : value

Not sure what those keys are?

Have only done a

[2017-05-04 19:48] tjprescott commented on #3052
https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/insights-webhooks-alerts

I would think they'd be the POST parameters.  According to the docs:
[code]

[2017-05-04 20:59] JasonRShaver opened #3165 "az vm list-usages needs table/tsv work"
Currently outputs like:

[code]

But should have a formatter written to provide output like
[code]

In addition, when the `CurrentValue`values are 0, we should still show the 0 in `table` output, where it seems we suppress the 0 value now (it is in the JSON doc).

[2017-05-04 21:11] yugangw-msft opened #3166 "Auth: avoid the global singleton object if creds-cache"
PR #3164 introduces this global variable which i should get rid of at post //build. I should leverage CLI Application's property

[2017-05-04 22:01] yugangw-msft commented on #2187
fixed in the upcoming release

[2017-05-04 22:01] #2187 closed

[2017-05-04 22:08] #2603 closed

[2017-05-04 22:23] yugangw-msft commented on #3165
this is a dupe of #2333, but we can leave that as the general item and use this for individual command

[2017-05-04 22:33] mattreatMSFT opened #3169 "[Network] Network Watcher Topology default location not working"
### Description
**Outline the issue here:**
Works when I specify a location:
`$ az network watcher show-topology -g contosoapplication -l westus`
but not when I do not (should default to the location of the resource group)

[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: pip

**CLI Ver

[2017-05-04 22:55] GuyMacguffin commented on #3005
Is this issue going to be addressed? Are there any possible workarounds?

[2017-05-04 23:16] brendandburns commented on #3001
Reproduced this error, debugging...

[2017-05-04 23:31] mayurid commented on #3162
I tried this and its working for me on the same build. Could we get a the log with --debug as an option?
@yugangw-msft as Fyi

[2017-05-04 23:57] mayurid commented on #3157
@derekbekoe as fyi to be aware that this PR is coming.

[2017-05-05 00:03] tjprescott opened #3171 "[KeyVault] Get-default-policy returns gibberish in Python2"
When I run `get-default-policy` on Python 2 many of the fields are filled with gibberish such that I can't immediately turn around and use it to get a self-signed cert:

[code]

When I run on Python3:
[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: dev_setup.py

**CLI Version:** What v

[2017-05-05 00:12] mayurid commented on #3141
adding Build milestone to make sure we verify and resolve this

[2017-05-05 00:24] mayurid commented on #3137
@JasonRShaver : I believe what we have right now is a great start. Lets see if we get more feedback here

[2017-05-05 00:24] #3137 closed

[2017-05-05 04:43] brendandburns commented on #3001
Please see: https://github.com/Azure/azure-cli/pull/3173 for the fix. Apologies.

[2017-05-05 12:41] blndev opened #3177 "Sending Telemetry Data behind a proxy will cause in background python process which consumes 7-10% CPU"
### Description

If you are
- behind a proxy which also does the name resolution for external requests
- did not set the HTTPS_PROXY environment variable
- did not switch off the sending of telemetry data

then a command like `az vm list ` will be executed and after that a new process is spawned which consumes 7-10% of CPU and will never end.
After 7 times executing the `az vm list` command, my cp

[2017-05-05 13:07] iain-peddie-tessella opened #3178 "[Storage] It should be possible to configure storage in the local storage emulator"
### Description
**Overview**

I have some configuration scripts to configure my storage accounts, and upload certain data files to set storage containers. I also use the Azure Storage Emulator, and would like to be able to use the same scripts to configure both in an equivalent way.

This is possible in other azure tools, where you can use a connection string of "UseDevelopmentStorage=true", or by

[2017-05-05 13:11] IainColledge opened #3179 "az acs kubernetes get-credentials --ssh-key-file does not override searching in .ssh for release 2.0.4"
### Description
**Outline the issue here:**

When using a custom ssh key with the command line option --ssh-key-file for az acs kubernetes get-credentials if a file exists in .ssh in the users home dir the command fails with Authentication Failed.

Looking at debug for

`az acs kubernetes get-credentials --resource-group=<rg> --name=<acsn> --ssh-key-file=<key_rsa> --debug`

results in the relevant

[2017-05-05 15:15] devigned commented on #3171
Well... this is dumb. I'm simply returning an instance of a model class and the serializer is returning what looks to be base64 encoded strings.

[2017-05-05 15:17] devigned commented on #3171
@tjprescott we should have a label of python 2 vs 3 silliness.

[2017-05-05 15:20] agegould opened #3180 "Tags are shown as "null" when listing resources by tag name"
When using the command below, the Tags property is returned as null :-

** az resource list --tag NewTag **
[
  {
    "id": "/subscriptions/4ef077d8-550f-4367-861b-e73ce1114a98/resourceGroups/Development/providers/Microsoft.Storage/storageAccounts/influxury",
    "identity": null,
    "kind": "Storage",
    "location": "westeurope",
    "managedBy": null,
    "name": "influxury",
    "plan": null,

[2017-05-05 15:24] tjprescott commented on #3171
I fixed it in my current PR by converting strings from:
`'my merry string'` to `u'my merry string'`.  This causes the desired behavior on Python 2 and 3 (and I agree, it is dumb.)

[2017-05-05 15:30] devigned commented on #3171
Wanna add this too?

[code]

[2017-05-05 15:39] tjprescott commented on #3171
Yup.  Also added similar checks for --scaffold since it is a different code path.

[2017-05-05 16:14] tjprescott opened #3181 "Help Subgroups Regression"
PR #3149 caused a regression such that help subgroups are now lumped into commands.

[2017-05-05 16:46] lmazuel opened #3182 "Confusing component installation guide"
I wasted enough time to consider this as a bug (at least in documentation) :)

I was trying to install the dls component. First thing I showed help of "component":
[code]

Does not explain to me how to install a new one. This doc neither https://docs.microsoft.com/en-us/cli/azure/component

Finally went on the DLS doc page to find the syntax:
az component update --add dls

I have to call "update"

[2017-05-05 17:20] jefffall commented on #3052
Trying --action

1242841962 24276 24275   0 Wed12PM ttys005    0:00.04 -csh

-csh on macbook pro

I can do a create metric alert just fine without the --action.

Problem is we need the --action as an alert to email and / or webhook.

ZZZM00650289A:~] c5256381% /Users/c5256381/lib/azure-cli/bin/az monitor
alert-rules create --is-enabled true --location 'westus' -g
'HCM-Monitoring-RG' --alert-rule-r

[2017-05-05 17:25] #2793 closed

[2017-05-05 17:25] #2937 closed

[2017-05-05 17:55] tjprescott opened #3187 "[RBAC] Issues with Role Definition commands"
The `role definition` commands work very poorly and are extremely unreliable.

If I run the following:
[code]
Now when I run `az role definition list -n my-custom-role` multiple times, I get very unpredictable results. Sometimes I get nothing, implying the delete succeeded. Other times I get something, implying the delete failed.

Also, if I run `az role definition delete -n my-custom-role` multip

[2017-05-05 17:59] tjprescott opened #3188 "Help file validation needs to be part of CI."
Follow up work for PR #3184.

While doing work for `az interactive` we should be able to validate the help files against the command table to find things like:
- [x] missing type (command or group)
- [x] command entries in help that aren't in the command table (for example, a command name changed)
- [x] extra parameters in help that aren't in the command (I think it used to do this, but it should

[2017-05-05 17:59] #3181 closed

[2017-05-05 19:38] #3157 closed

[2017-05-05 19:43] yugangw-msft opened #3193 "output: An extra line of "?25..." at the end of command output"
I am on windows command. This needs to be fixed for //build

![output](https://cloud.githubusercontent.com/assets/6014209/25761641/5ebf4448-3190-11e7-900e-ec408dcfae6b.png)
/build

[2017-05-05 20:05] derekbekoe commented on #3193
@oakeyc is looking at this as part of https://github.com/Azure/azure-cli/pull/3192

[2017-05-05 20:12] derekbekoe commented on #3055
@oakeyc can this be closed?

[2017-05-05 20:20] yugangw-msft commented on #3193
@derekbekoe, thanks!

[2017-05-05 20:40] #3055 closed

[2017-05-05 21:07] thebitguru opened #3195 "--license-type in az vm create?"
### Description
We would like to deploy Windows servers with the Hybrid Use Benefit.  To do this with 1.0 we could specify `--license-type Windows_Server`, but it seems that 2.0 does not support this flag.  Is this intentional or is there a way to achieve this using 2.0?

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker,

[2017-05-05 21:12] lostintangent opened #3196 "[ACS] Allow specifying custom vnet when creating a cluster"
### Description
**Outline the issue here:**

It would be great if the `az acs create` command allowed specifying an existing vnet/subnet that the created VMs should be attached to, as opposed to creating a new one. ACS Engine appears to [support this](https://github.com/Azure/acs-engine/blob/master/examples/vnet/kubernetesvnet.json#L19), however, this option isn't expose via the CLI or set in the

[2017-05-05 21:15] lostintangent commented on #3196
@brendandburns Apologies, I just noticed that this is a dupe of #2856. However, I'm confused why the CLI couldn't simply set the `vnetSubnetId` property in the [template](https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py#L563) it generates via the `az acs create` command.

[2017-05-05 21:28] yugangw-msft opened #3198 "vm: expose license type when create windows vm"
Need to sort out how many types we have now, in addition to "Windows_Server" and "Windows_Client"

[2017-05-05 21:51] devigned opened #3199 "Docstrings for CLI core methods"
### Description
`cli_command` and other often used core methods should provide doc string comments. This is particularly important for methods accepting `**kwargs`.

Having this documentation will help developers to understand all of the options available and likely help them to produce better commands. For example, a developer building a command would see they can provide a table transformation w

[2017-05-06 00:08] derekbekoe commented on #3198
Same as https://github.com/Azure/azure-cli/issues/3195?

[2017-05-06 00:10] derekbekoe commented on #3193
The change was reverted so it's no longer in the product. Closing...

[2017-05-06 00:10] #3193 closed

[2017-05-06 00:15] aanandr opened #3226 "Output of az network vpn-connection still has a lot of NULL values"
### Description
The resource IDs of the two Gateways are present, which is good. But there are still many settings showing up with NULL value and the output is not useful as a result. Powershell shows proper values for all the settings. For e.g. take a look at connection status and egressBytesTransferred. These are two settings that a customer would definitely look at to figure out how his connect

[2017-05-06 00:23] suwatch commented on #2545
@lostintangent many issues were mentioned.  Let do one at a time.

The user performs CLI must either have admin privilege to `https://github.com/scotch-io/node-todo.git` and setup the GitHub token, otherwise one would need to provide `--manual-integration` to indicate on-demand deployment.    Note that GitHub unauthenticated repo access returns a non-obvious 404 NotFound (what the first error indi

[2017-05-06 00:33] derekbekoe opened #3227 "Webapp log tail AttributeError"
### Description
**Outline the issue here:**

Ran `az webapp log tail -g RG -n APPNAME` and got this exception.

The webapp was a container-based Linux App Service app.

[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: `interactive script`

**CLI Version:** What version of the CLI and mo

[2017-05-06 01:37] aanandr opened #3228 "az network vpn-connection delete doesnt seem to be working when the conn name and RG are specified but works when resource ID of the connection is specified"
### Description
Tried deleting VNet-VNet connection. The command exited but the connections didnt get deleted
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: PIP

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here: Networking 2.0.3

**OS Versio

[2017-05-06 03:31] yugangw-msft commented on #3198
yes, thanks!

[2017-05-06 03:31] #3198 closed

[2017-05-06 03:41] yugangw-msft commented on #3187
The `delete` was definitely committed, but due to server replicate latencies, if the subsequent `get\list` hit a not yet propagated sever, you might see the deleted definition coming back.

[2017-05-06 03:50] thebitguru commented on #3198
@yugangw-msft, did you already take care of this? I am having to rewrite some provisioning code as PowerShell to work around this. Any chance you can share this as a patch?  It might be quicker for me to patch my local version than rewrite as PowerShell script.  Thanks!

[2017-05-06 06:11] christianhxc opened #3231 "az container not working in 2.0.5"
Why it was removed the container module in the latest version? What's the replacement now?

[2017-05-06 06:14] christianhxc opened #3232 "az dcos browse returning NoneType found error"
### Description
When running the command to create the tunnel:

`az acs dcos browse -g containers -n containerservice-containers
`

I'm getting the following error:

---

### Environment summary

**Install Method:** pip install

**CLI Version:** 2.0.5 (don't know why I can't choose an older version with pip)

**OS Version:** Windows 10 Pro

**Shell Type:** Powershell

[2017-05-07 23:45] lostintangent opened #3233 "[ACS] Default ACS value isn't respected by the delete, show or scale commands"
### Description
The `acs delete`, `acs show` and `acs scale` commands don't seem to support their `--name` parameter being defaulted if you set it via `az configure -d acs=<foo>`. All other commands (e.g. `az acs browse`,`az acs install-cli`), support it, so it would be awesome if all of the commands within the `acs` group provided consistent behavior.

---

### Environment summary

**Install Meth

[2017-05-08 07:06] jahongirman opened #3235 "How to delete number of resources using pipe"
### Description
I need to delete all the network interfaces within the Resource Group. For that I am issue the command az resource list --resource-type Microsoft.Network/networkInterfaces But then how can I pipe the results to another command to delete all the nic cards?

[2017-05-08 09:23] dgkanatsios commented on #2525
Can't get it to work either, Python 3.6 on Windows 10. Logs

[code]

[2017-05-08 14:34] akempe commented on #3160
Right so...

`pip --version`

I then ran `pip install --upgrade pip` and `pip install --upgrade setuptools` and now get:

`pip show setuptools` now shows:

This fixed the issue above, but now it's erroring with:

Prior to the pip upgrade, `pip freeze` gave me:

After the update I get:

[2017-05-08 15:36] tjprescott commented on #3187
Even so, something needs to be addressed as it makes it nearly impossible to test in its current form. I would imagine it would also make it incredibly frustrating to use as well.

[2017-05-08 15:37] tjprescott commented on #3235
Try this:
[code]

[2017-05-08 16:16] yugangw-msft commented on #3187
Please open a conversation with the service team

[2017-05-08 17:07] tjprescott commented on #3228
So if you compare the URLs in both cases (names or IDs), the DELETE URLs are the same. This means there is no bug in the CLI as far as handling names or IDs works.  If you had tried IDs first and then names, or names twice you would likely have gotten the same results.

Both calls return success from the service.  The difference is only the code (204--completed with no content, vs 202--accepted).

[2017-05-08 17:17] aanandr commented on #3228
I don’t know why this happens. How do we debug this further? Also, I didn’t follow what you meant about the order in which the command is executed with IDs and names.

From: Travis Prescott [mailto:notifications@github.com]
Sent: Monday, May 8, 2017 10:08 AM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Aanand Ramachandran <aanandr@microsoft.com>; Author <author@noreply.github.com>
Subjec

[2017-05-08 17:48] #3227 closed

[2017-05-08 17:52] tjprescott commented on #3228
I could not reproduce this issue.  I created the two connections and deleted them successfully both using names and using IDs. However, based on your debug traces, if there is a bug, it lies in the service, not in the CLI.

[2017-05-08 17:52] #3228 closed

[2017-05-08 17:56] aanandr commented on #3228
Travis
As we have discussed several times, there are equivalent PS cmdlets for all these operations which are working fine. So if something doesn’t work at the CLI level we cant blame the service immediately. In this case you have successfully run these commands which goes on to more strongly prove that a service level issue is highly unlikely.

ow can we investigate this more effectively? You und

[2017-05-08 18:17] tjprescott commented on #3228
I attempted to reproduce your issue and could not--the CLI (and by extension the SDK) worked exactly as intended.

The debug logs you submitted prove that the issue is not in the CLI. A sporadic issue would very likely not exist in the SDK since it is autogenerated (and, as far as I can tell, working fine).  It doesn't seem like a swagger bug, and that leaves the service as the most likely culprit

[2017-05-08 18:28] yugangw-msft opened #3241 "vm: support create managed disk from storage account"
This is to enable cross subscription disk create by taking a storage account id which is exposed by the API

[2017-05-08 19:02] tjprescott commented on #3005
@GuyMacguffin to clarify, do the NIC assignments change potentially with each restart of the VM?  Or do you observe the behavior only after running VM create?

[2017-05-08 19:07] jboeshart commented on #3187
I see the same delay on `az role definition create` as well. I can run it, then run `az role definition list` with the name of the role I just created and it comes back with nothing. Not sure how to handle this on the back end, but is a poor end user experience.

The output from the `create` command also does not line up with the actual JSON in the definition file as well, making it harder to trou

[2017-05-08 19:34] yugangw-msft opened #3245 "webapp: update the create command logics to avoid scm shutdown"
There is a known racing issue between appsettings update and sourcecontrol update. In a nutshell, updating appsettings returns immediately,. however it may take 5-10s to take affect and could shutdown the SCM site. So if CLI submits source control change too soon, it will fail for internal server error.
The mitigating option at client side is to move all appsetting changes into webapp create, whic

[2017-05-08 19:50] GuyMacguffin commented on #3005
I observed the behavior after running VM create.

[2017-05-08 20:27] troydai opened #3247 "Update the installation script message"
[code]
The suggested command for native dependencies lack the `sudo`. As a result, under most of the circumstances, except container, the command won't work.

[2017-05-08 20:27] troydai commented on #3247
@derekdekoe

[2017-05-08 20:30] derekbekoe commented on #3247
Didn't want to imply that `sudo` was always required.
For example, if you're already root or have enough permissions, sudo isn't needed.

If a user runs the commands and they get a PermissionError, hopefully the message should be clear. :)

[2017-05-08 20:34] troydai opened #3248 "Cognitiveservices lack description."
[code]

[2017-05-08 20:48] derekbekoe commented on #3248
See https://github.com/Azure/azure-cli/pull/3238

[2017-05-08 20:49] troydai commented on #3248
Awesome.

[2017-05-08 21:02] troydai opened #3249 "Update/Improve documentation regarding automation"
quote
[code]

[2017-05-08 21:05] jboeshart opened #3250 "[RBAC] Role definition JSON mismatch"
### Description
When creating the role definition using a definition file, the nomenclature on the commands does not line up with the nomenclature in the definition file. Using the below definition file and `list` output, the following mismatches exist. See the following table for the corresponding elements. Each is mismatched, and the `--name` parameter actually corresponds to the `roleName` elem

[2017-05-08 21:16] troydai commented on #3247
Yes, the difficult part is that this is a one-line composed of two commands. So adding `sudo` to the beginning the command is not enough. The second one should be added after `&&`.

[2017-05-08 21:25] #3248 closed

[2017-05-08 21:49] tjprescott commented on #3005
I have not been able to reproduce this issue. I added a unit test to verify that CLI creates the same NIC array in a stable order for the same input. I got consistent results when I created multi-NIC VMs in terms of which Windows Server said was Ethernet and Ethernet 2.

To TS further, please try the following:
1) Update to the latest release (vm module will be 2.0.5).
2) When you deploy your mult

[2017-05-08 22:01] troydai opened #3253 "az resource link command lack description"
[code]

[2017-05-08 22:15] colemickens opened #3255 "Azure CLI (stable) breaks when invoked multiple times in parallel"
[code]

Produces this:
[code]

[2017-05-08 22:39] derekbekoe commented on #3255
@colemickens Was `/home/cole/.azure/clouds.config` modified manually?
Looks like the setting for `endpoint_management` was included twice.

[2017-05-09 00:28] mayurid commented on #3253
@ravbhatnagar and @vivsriaus : something for you guys to look into.

[2017-05-09 01:01] colemickens commented on #3255
@derekbekoe Note that my steps include blowing away the `~/.azure` directory.

[2017-05-09 02:18] jefffall opened #3262 "command: az monitor alert-rules list -g 'Your_group' | grep operator produces mostly null operators"
### Description
**Outline the issue here:**

This is very bad.

I have all these alert-rules defined via the Web GUI

az monitor alert-rules list -g our_group'' | grep name
    "name": "CPU Greater Than Rule",
    "name": "Critical All Processor Time",
    "name": "CriticalCPUIdleTime",
    "name": "CriticalCPUIdleTime-2",
    "name": "CriticalCPUPercent",
    "name": "CriticalMemoryUsed",
    "na

[2017-05-09 05:08] yugangw-msft commented on #3195
@thebitguru , are you willing to install from my fork? Otherwise, I will submit the change the first thing when the master branch is open

[2017-05-09 05:33] troydai commented on #3253
If we dive into the `link` command, there are more descriptions to be filled.

[2017-05-09 05:43] vivsriaus commented on #3253
Ack. We'll send out a PR for this. Do we need this for //build? @troydai

[2017-05-09 05:57] troydai commented on #3253
I hope. But @mayurid can comment on if we can accept change of documentation at this point.

[2017-05-09 07:21] rubin55 opened #3264 "(recent version) pip install azure-cli (with or without --pre) fails: azure-nspkg not found"
### Description
Installed Python 3.5.3, came with pip 9.0.1 (latest, pip install --upgrade pip tells me so)

    pip install azure-cli

and

    pip install --pre azure-cli

fail with:
[code]

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Installed python 3.5.3, came with pip 9.0.1, then: 'pip install azure-c

[2017-05-09 08:15] piorot opened #3265 "appservice connection string update not possible"
### Description
Using such command :
` az appservice web config connection-string update -g existingresourcegroup -n existingwebapp --type MySQL --connections conn1=abc123
`
results in :
![image](https://cloud.githubusercontent.com/assets/18365032/25841245/a5fb6ec4-349f-11e7-8edf-56312582c4c9.png)

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactiv

[2017-05-09 12:05] piorot commented on #3265
The answear to this  is that `az appservice` is deprectaing and `az webapp` should be used instead.

[2017-05-09 12:05] #3265 closed

[2017-05-09 13:54] thebitguru commented on #3195
Sure, I can do that. I looked in the [commit history](https://github.com/yugangw-msft/azure-cli/commits/master), but didn't see any obvious commits for this change.  Is it already committed?

[2017-05-09 15:01] rubin55 commented on #3264
Note: In my case, specifying --pre did not work globally because of this (bug?) in pip: https://github.com/pypa/pip/issues/4468 . I passed --install-option to control where the scripts are installed and this clobbers --pre specification, resulting in unresolvable packages.

So to clarify:

BAD: Stable packages are pointing to pre-release package dependencies which are unresolvable. This should be

[2017-05-09 15:30] tjprescott commented on #3262
Hi @jefffall, I ran into this same issue while working on the overhauled alert commands. After creating an alert rule, the object returned has "null" as the operator. I believe this may be a service-side issue.

cc/ @johnkemnetz

[2017-05-09 16:42] yugangw-msft commented on #3250
This is mostly server behavior. And I agree we can use more client side transformation for more consistency

[2017-05-09 17:34] derekbekoe opened #3269 "`az mysql db list` argument name not consistent with CLI pattern."
### Description
[code]

I'd expect `--name -n` instead of `--server-name -s`.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: n/a

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)

[code]

**OS Version:** What OS and version are you using?
Answer here:

[2017-05-09 18:03] tjprescott commented on #3269
--name would refer to the database, not the server. So this is the correct pattern for a list command.

[2017-05-09 18:18] derekbekoe opened #3271 "Add msrest.exceptions.ValidationError to core exception handling logic"
### Description
[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: n/a

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
[code]

**OS Version:** What OS and version are you using?
Answer here: n/a

**Shell Type:** What shell are you using? (e.g. bas

[2017-05-09 18:57] peterj commented on #2789
Any updates on this issue?

[2017-05-09 20:45] jefffall opened #3276 "Limit of 100 alerts per Subscription"
### Description
**Outline the issue here:**

We need more than 100 Alerts per subscription.

We have 250+ VM's in one Subscription.

We also need to know how Azure figures out
Warning,
Critical and resolved alerts.

We see alerts self resolving.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

[2017-05-09 21:28] tjprescott commented on #3276
Hi @jefffall, in order to increase your subscription limit, you'd need to open a support request from inside the portal. From any resource blade (a VM for instance) choose "New Support Request" at the bottom.

Choose Issue Type "Quota" and Quota type "Questions or Other service and subscription limits".

[2017-05-09 21:31] tjprescott commented on #3276
@johnkemnetz

[2017-05-09 21:37] jefffall commented on #3276
Thank you Travis.

As my previous boss many years used to say:

"You are an Ace".

"You are a Gem".

Coming from my old boss Larry - those were high complements.

On 5/9/17 2:31 PM, Travis Prescott wrote:

[2017-05-09 22:14] yugangw-msft commented on #2545
The retry logic i am putting in the #3258 should mitigate this

[2017-05-09 22:22] yugangw-msft commented on #1835
We disucssed and decided to keep the `hostname`. Portal is not consistent by itself and the `Custom Domain` blade mentions both

[2017-05-09 22:22] #1835 closed

[2017-05-09 22:23] yugangw-msft commented on #2325
We went with `webapp`

[2017-05-09 22:23] #2325 closed

[2017-05-09 22:31] tjprescott opened #3304 "[CDN] Stacktrace for 404"
When I run `cdn profile delete` on a profile that doesn't exist, I get a stack trace:

[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: dev_setup.py

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here: latest master

**OS Version:** What

[2017-05-09 22:31] jefffall commented on #3276
Hi Travis,

  is this limit cast in stone?

Can we go to 1000 or even higher?

Has it been done for certain customers?

My employer is a fortune 50 probably

Resource 	Limit
Autoscale Settings 	100 per region per subscription
Metric Alerts 	100 active alert rules per subscription

On 5/9/17 2:31 PM, Travis Prescott wrote:

[2017-05-09 22:36] tjprescott commented on #3276
Hi @jefffall, I don't personally know the limits for the Azure Monitor service, but if you create a support ticket in the portal, they should be able to bump up your subscription's limit (assuming it is possible for this service).

@johnkemnetz, @gucalder might be able to shed light on this question as well.

[2017-05-10 00:07] mayurid opened #3306 "Investigate az interactive start and exit performance"
### Description
Start is fairly slow
Exit also has a perceivable delay and i see "Have a lovely day!!" and wait for prompt to show

---

### Environment summary

**OS Version:** What OS and version are you using?
Answer here: Windows 10 (Creators update)

**Shell Type:** What shell are you using? (e.g. bash, cmd.exe, Bash on Windows)
Answer here: cmd

[2017-05-10 16:48] #3269 closed

[2017-05-10 17:49] tjprescott commented on #2505
Hi @mdekoster, an update to the KeyVault data plane SDK should resolve this issue. It should be fixed in the next release. As a workaround, you can try installing 'azure-keyvault==0.3.2' directly (assuming you did a pip install).

[2017-05-10 18:57] tjprescott commented on #3262
This is a service bug.  I created an issue in the REST API specs since that has the most visibility with the service team. https://github.com/Azure/azure-rest-api-specs/issues/1211

[2017-05-10 19:04] tjprescott opened #3309 "[Monitor] Table/TSV Output useless for Metric/Metric-definition list commands"
`az monitor metric-definitions list` is a "cataloging" endpoint for displaying information that can be used to create alerts.  The table output for this command (on a VM) looks like:

[code]

Completely useless.

`az monitor metrics list` actually displays metric values over a period of time.  The table format for this looks like:

[code]

Also useless.

I recommend an output transformer (so that

[2017-05-10 19:07] tjprescott opened #3310 "[Monitor] Monitor commands that target a resource should use the same name/ID nomeclature as resource commands"
Currently to specify the target (for example, for an alert) you can only specify the target resource ID.  We should support the same mechanisms as the resource commands to allow names OR IDs for these properties.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: dev_setup.py

**CLI Version:** W

[2017-05-10 19:09] tjprescott opened #3311 "[Monitor] Alert rule update fails due to service bug"
Due to a service bug (https://github.com/Azure/azure-rest-api-specs/issues/1211) the alert-rule update command will fail unless you manually specify the condition operator, because this field is not returned from the service (but should be).  Issue for tracking purposes.

cc/ @johnkemnetz

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script,

[2017-05-10 19:30] jefffall commented on #3262
Thank you Travis !!!!

[2017-05-10 19:39] yugangw-msft opened #3312 "functionapp: need support to retrieve function urls"
Found it when walked through the end to end experience. We need support to retrieve FucntionURL for client applications to invoke a specific function; otherwise we have to goto portal.
One piece of work involved is to get the function key using https://github.com/Azure/azure-webjobs-sdk-script/wiki/Key-management-API
Unfortunately we don't have such support in SDK yet

[2017-05-10 20:25] yugangw-msft commented on #2352
Onboard-ed and released. Please open individual issues for feature requests

[2017-05-10 20:25] #2352 closed

[2017-05-10 20:33] #2545 closed

[2017-05-10 20:33] #3245 closed

[2017-05-10 20:38] yugangw-msft commented on #2630
Main issue is resolved, and the bad error has been tracked at #1007
So closing...

[2017-05-10 20:38] #2630 closed

[2017-05-10 20:39] yugangw-msft commented on #2544
Both `webapp create` and `webapp show` now show the endpoint

[2017-05-10 20:39] #2544 closed

[2017-05-10 20:41] yugangw-msft commented on #1430
We do now

[2017-05-10 20:42] #1430 closed

[2017-05-10 20:54] devigned opened #3314 "[Key Vault] InsecureRequestWarning"
### Description
See: https://github.com/Azure/azure-sdk-for-python/issues/1162

Current master causes raises this warning.

[code]

---

### Environment summary

**Install Method: source**

**CLI Version: master 047d00e9**

**OS Version: OS X**

**Shell Type: bash**

[2017-05-10 21:48] derekbekoe commented on #3314
This was the commit where we changed the SDK version https://github.com/Azure/azure-cli/commit/1e4e0505248a37d8957db58ef66ba79d76e4c43e

[2017-05-10 21:53] derekbekoe commented on #3314
@tjprescott should we revert this change until SDK is fixed?

[2017-05-10 22:27] u6006 opened #3315 "v2.0.6: need to unset storage-connection-string env-var when creating SAS token for another SA"
### Description
As the title says, if the other account's information is provided, 1) the set storage-connection-string env-var should not be used, 2) I'm not sure if this order (of env-var -> cmd-line arguments) was clearly communicated in the manual page (help page)

It might be an issue for all related cmd-lines.

### Environment summary

**Install Method:** How did you install the CLI? (e.g. p

[2017-05-10 22:43] u6006 commented on #1787
- copy info's still missing when using table output format (table output format has limited info for most command-lines for now (v2.0.6))
- hope you can bring the old command-line "azure storage blob copy show" back

[2017-05-10 22:48] vishrutshah commented on #2650
Completed as part of https://github.com/Azure/azure-cli/pull/3064

[2017-05-10 22:48] #2650 closed

[2017-05-10 22:51] vishrutshah opened #3317 "[DevTestLabs] Enable more Lab vm commands"
**Scenario:**
I am a student and I use pre-created VMs in the classroom Lab to do my assignment.  I need to be able to:

- [x] List claimable VMs
- [x] Claim a VM
- [x] Claim any – The system picks one for me – I do not specify which one

**CC**
@ericame @gxy001

[2017-05-10 23:28] yugangw-msft opened #3319 "login: expose ADFS flow for azure stack env"

[2017-05-11 02:29] colemickens commented on #3255
@derekbekoe I continue to have problems with latest nightly build... here's a full literal demonstration:

[code]

[code]

[code]

[code]

[2017-05-11 04:01] derekbekoe commented on #3255
@colemickens is there any useful trace with the `--debug` flag or it's the same `configparser.DuplicateOptionError: While reading from '/home/cole/.azure/clouds.config' [line 17]: option 'endpoint_management' in section 'AzureCloud' already exists
` error?

[2017-05-11 04:01] lostintangent commented on #1430
Awesome! Just saw this change in the latest bits. Thanks!

[2017-05-11 04:13] tjprescott commented on #3314
Yes.  We can just go back to using 0.3.0.

[2017-05-11 04:25] tjprescott commented on #2505
Reopening this issue since the change for the dataplane had to be reverted.

[2017-05-11 04:28] tjprescott commented on #3315
You are correct, the order *should be* arguments > environment variable.

[2017-05-11 04:30] tjprescott commented on #3231
@mayurid can you comment on this one?

[2017-05-11 09:14] denisbollinne opened #3321 "vmss: Adding an IpConfiguration using a jsonString returns a msrest serialization error"
### Description
Hello,

I'm trying to add an IpConfiguration to a VMSS using the cli (using the docker image).
using the following command:
`az vmss update --name 'vmssName' --resource-group 'resourceGroupName' --add virtualMachineProfile.networkProfile.networkInterfaceConfigurations[0].ipConfigurations "$jsonData"`

`$jsonData` is set with the following json:
(i also tried to use double quotes in

[2017-05-11 11:43] fanoush commented on #2597
the interactivity part is now solved by az-shell which is now integrated into 'az interactive' command.  The input from standard input or file still does not work, just tried azure cloud shell in portal

f@Azure:~$ echo vm list >file
f@Azure:~$ echo vm list | az @file
az: error: argument _command_package: invalid choice: vm list
usage: az [-h] [--output {json,tsv,table,jsonc}] [--verbose] [--debug

[2017-05-11 14:50] tjprescott commented on #3321
Hi @denisbollinne, I would recommend you try a couple things:
1. Remove any properties that are null. Omission itself should accomplish that.
2. Change your keys from "camelCasing" to "snake_casing".  All properties in the SDK use snake casing, which may be why you are getting the KeyError.

[2017-05-11 16:19] larryms opened #3322 "az vm open-port returns error but executes successfully"
### Description
az vm open-port returns an error but executes successfully

Example:
PS C:\Users\larry> az vm open-port -g JUMPBOXRG -n jumpbox --port 80  --priority 500
Operation failed with status: 'Not Found'. Details: 404 Client Error: Not Found for url: https://management.azure.com/subscriptions/5ba80c27-8c76-[***]/providers/Microsoft.Network/locations/eastus/operations/5c5fa1c7-3e4a-4dd3-[**

[2017-05-11 16:49] yugangw-msft commented on #3162
Not repro, Note, it is a server error
Please reopen it with more details

[2017-05-11 16:49] #3162 closed

[2017-05-11 16:57] tjprescott commented on #3322
When you say it executes successfully, do you mean the port is open as expected or just that it returns the result in white text (instead of red error text)?

[2017-05-11 16:58] yugangw-msft opened #3323 "output: support async streaming output"
To display large list generated from Paging API, would be nice to start the output when the current page is retrieved. To wait till all data retrieved would be a sub optimal experience as the whole command appears hang for long long time
Repro:
    1. login to corp tenent
    2. run `az ad user list`

[2017-05-11 17:01] yugangw-msft commented on #1150
I logged #3323 for the original perf issue. Closing this one as it was re-topic'd

[2017-05-11 17:03] #773 closed

[2017-05-11 17:15] tjprescott commented on #3322
This is happening when the command tries to update the NIC. The reason the command still "succeeds" (from a functional perspective) is because the NIC doesn't need to be updated since it is already associated with the NSG.  I'll create a fix to avoid updating the NIC/subnet when the NSG already existed and investigate if this happens when the NSG does need to be created.

[2017-05-11 17:16] #2836 closed

[2017-05-11 17:16] #3163 closed

[2017-05-11 17:16] #3171 closed

[2017-05-11 17:24] yugangw-msft commented on #2774
@colemickens, i should get it done early next week. Let me know if there are any plan change at your end.

[2017-05-11 17:27] jtuliani opened #3325 "Command paths should be case insensitive"
Example. This works:
  az network dns record-set a show
This fails:
  az network dns record-set A show
That's strange, since DNS record types are normally capitalized!
The record type, in all DNS commands, should be case-insensitive.

[2017-05-11 17:28] jtuliani opened #3326 "[DNS] 'show' on empty record set doesn't show empty record list"
If I do 'az network dns record-set show', I get shown the record set details. That includes the list of records in the record set.

However, if the record set is empty (no records), then the empty record set list is NOT shown. That's bad. I'm left looking for it. It's quite a jump to realize the record set must have no records because the list isn't shown.

By contrast, if there is no metadata ass

[2017-05-11 17:28] jtuliani opened #3327 "[DNS] Removing a record from a record set should have a confirmation prompt"
If I remove a record set, I get a confirmation prompt (which I can suppress with '--yes')

Removing a record from a record set is just as potentially dangerous. Most record sets contain a single record, and by default removing the last record also removes the record set--so it's probably exactly the same, in fact. However, removing a record from a record set does not include a confirmation prompt.

[2017-05-11 17:29] jtuliani opened #3328 "[DNS] 'az network dns record-set cname set-record' should be '... update' instead"
The DNS 'SOA' and 'CNAME' record types are similar, in that they don't support multiple records in the same record set. For that reason, they can't use the same method as the other record types to update the existing record (for the existing types, we use 'add-record' to add a new record followed by 'remove-record' to remove the old one...that doesn't work since the record set must support 2 recor

[2017-05-11 17:30] oakeyc commented on #3306
related to #3019

[2017-05-11 17:30] #3019 closed

[2017-05-11 17:43] tjprescott opened #3330 "[Network] NIC Update throws 404 Not Found error"
If I create a nic:
`az network nic create -g {rg} -n {name} --vnet-name {vnet} --subnet {subnet}`

And then try to update that newly created NIC:
`az network nic update -g {rg} -n {name}`

I get this response:
[code]

This uses the `create_or_update` method from the SDK, which is an LRO. The initial response to the PUT request on the update is a 200. It seems that, despite the fact that the respon

[2017-05-11 17:44] tjprescott commented on #3330
@lmazuel is this typical behavior for LROs?

[2017-05-11 17:46] tjprescott commented on #3325
This actually applies to the entire CLI.  If I type `az Network -h` I get an error that "Network" is an invalid choice!  We should force the "command part" of the input to lowercase before we try to match it to commands.

[2017-05-11 17:52] tjprescott commented on #3326
Likely a side effect of #2095.

[2017-05-11 18:11] tjprescott commented on #3322
The root cause of this is issue #3330. I'll keep this open to track fixing the fact that we unnecessarily attempt to update the NIC/subnet in some cases.

[2017-05-11 18:20] tjprescott commented on #3314
This should be fixed now.

[2017-05-11 18:20] #3314 closed

[2017-05-11 18:35] derekbekoe commented on #3325
I would say this is open to discussion if the issue is for the whole CLI in general...

[2017-05-11 18:49] tjprescott commented on #3325
It applies to the entire CLI.  Do you see any reason the command "path" should be case sensitive?

[2017-05-11 19:15] GuyMacguffin commented on #3005
I updated to the latest version (vm module is on 2.0.6). I'm still seeing the issue reproduce. I tried redeploying the VM 5 times and only 1 of those tries did the first NIC in the list become the first NIC on the OS.

I tried running with the --validate --verbose options 10 times and each time had the same networkProfiles output. I can see my first NIC is marked primary. It sounds like this is a

[2017-05-11 20:06] tjprescott commented on #3005
@GuyMacguffin thanks for the response.

We've ruled out that it has to do with the order the CLI sends the NICs in.

`az vm show -g {rg} -n {name} --query networkProfile`
If you run this in each case, do you notice anything different between the two?

Xplat calls the Compute APIs directly while AzureCLI 2.0 builds an ARM template deployment which orchestrates the creation of (potentially) many dif

[2017-05-11 22:32] tjprescott opened #3334 "[Monitor] Stacktrace for validation errors"
When attempting to create an alert rule, a validation error caused the following:
[code]

These commands will need a custom exception handler.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: dev_setup.py

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)

[2017-05-12 00:27] bganapa opened #3336 "Azurestack: Infrastructure of tests needed against azure with older profiles 2017-03-09-profile"
### Description
Azure stack uses the profile 2017-03-09-profile . We need minimal tests with this profile to make sure that this profile is not broken.

---

[2017-05-12 00:31] bganapa opened #3337 "Azurestack: Need per cloud or per profile default value for vm sizes"
### Description
CLI uses the default size as Standard_DS1_v2 all the time. however this size is not available in azurestack

[2017-05-12 00:41] bganapa opened #3338 "Azurestack: az vm images list returns a cached response which is not applicable for azurestack"
### Description
az vm images list right now lists a cached response. The images listed in this are not likely available in azure stack instance.

In azure stack the admin uploads the images as part of the initial setup and he may upload only a specific set of images.

az vm images list --all actually makes the api call and gets the right set of images. May be the solution is to make --all as the d

[2017-05-12 00:43] #2547 closed

[2017-05-12 00:44] bganapa opened #3339 "AzureStack: provide an option to select the profile while selecting default cloud"
### Description
az cloud set command can take additional parameter --profile to select thedefault profile

right now we need to do two commands
az cloud set -n AzureStack
az cloud update --profile 2017-03-09-profile-preview

it could be simply

az cloud set -n AzureStack --profile 2017-03-09-profile-preview

[2017-05-12 01:06] bganapa opened #3340 "AzureStack: images aliases is not applicable for azurestack"
### Description
CLI has a set of aliases for the images referred from the following location
https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json

These aliases makes the assumption that these images are available in all the clouds and matches the
definition like below
          "UbuntuLTS":{
            "publisher":"Canonical",

[2017-05-12 04:44] colemickens commented on #3255
Still the same error. And the clouds.config file looks fine. Are there nightly docker images? I can try to repro there.

[2017-05-12 08:22] denisbollinne commented on #3321
Thanks @tjprescott,

I applied your recommendations, and in addition, I had to remove the `resource_group` elements.
With all these changes, the json was parsed successfully.

But then my journey was not over, so for sake of completeness, here are the different steps i had to do in order to "Add a second IpConfiguration to an existing virtual scale set"

Closing the ticket.
---

1.  I had to use t

[2017-05-12 08:22] #3321 closed

[2017-05-12 09:01] jtuliani commented on #3325
Thinking about other CLIs, folks are used to command *switches* being case sensitive. E.g. "git branch -d" is different from "git branch -D".

However, I see no reason for the command *path* to be case sensitive.

[2017-05-12 11:50] deltadan opened #3341 "Parameters not accepted from command-line"
### Description
**Outline the issue here:**
When trying to use az group deployment create command if there are parameters that the user needs to provide text the cli errors.  When the deployment command is running the - user will be prompted for:  WebVMName, WebVMAdminUserName, WEbVMAdminPassword, WebPublicDNSName.  The parameters are accepted as they are being typed, but the following error occur

[2017-05-12 15:25] tjprescott commented on #3341
Sounds like this may be related to or a dupe of #3001.  @brendandburns does PR #3173 address this?

[2017-05-12 15:29] #1068 closed

[2017-05-12 15:30] tjprescott commented on #3325
@jtuliani I agree.

[2017-05-12 15:40] jluk opened #3342 "VMCreate: Update key gen message"
### Description
**Outline the issue here:**
Need to update keygen message to remove cloud shell reference. Opening issue here per thread with Mayuri/Yugang.

New string:
SSH key files ‘id_rsa.pub’ and ‘id_rsa’ have been generated under ~/.ssh to allow SSH access to the VM. If using machines without permanent storage, back up your keys to a safe location.

---

### Environment summary

**Install Me

[2017-05-12 15:46] #3047 closed

[2017-05-12 16:12] chrmarti opened #3343 "Error when trying to retrieve plans in a resource group"
### Description
**Outline the issue here:**

Error when trying to retrieve plans in a resource group. Note that this is when running as part of the VSCode extension, it doesn't seem to be specific to that though.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: azure-cli-0.2.8.msi

**CLI Versi

[2017-05-12 16:53] yugangw-msft commented on #3343
This was broken by we pulling in the latest resource sdk

[2017-05-12 17:29] bganapa commented on #3319
Three things to fix are
1.	Passing validate_authority as false in case of adfs
2.	Removing TenantId from the token request url incase of adfs
3.	Detect the environment as ADFS from the az cloud register command or from the authority url

[2017-05-12 17:40] yugangw-msft commented on #3319
@bganapa, those are the workaround we made to get you testing going. I will first cross check adal-python's implementation to ensure it does things right for adfs on-prem, particularly inline with adal-dotnet

[2017-05-12 17:44] bganapa commented on #3319
@yugangw-msft  Thank you.  You are the expert in auth:)

[2017-05-12 17:47] mayurid commented on #3342
approved to @yugangw-msft for upcoming sprint.

[2017-05-12 18:04] #3195 closed

[2017-05-12 18:05] yugangw-msft commented on #3195
@thebitguru, you can either pick up the docker image, or try the nightly tomorrow

[2017-05-12 18:10] yugangw-msft opened #3344 "VMSS: revisit perf diagnostics commands"
1. Ensure the default config is right. The current version has visible defects
2. Configured metrics can load in portal

[2017-05-12 18:35] dottorblaster commented on #1773
Is this issue still open? I see this closed but I'm getting:

[code]

[2017-05-12 19:31] #3342 closed

[2017-05-12 19:54] thebitguru commented on #3195
Great, thanks!

[2017-05-12 20:32] tjprescott commented on #3100
Hi @jefffall I am working on the promised alert rule command revisions and I'd love your private feedback before I open a PR.  Please email me at trpresco@microsoft.com if you get a chance and I'll send you some examples of the proposed changes.

[2017-05-12 21:23] devigned opened #3347 "[VMSS] `az vmss create` should build a NSG"
### Description

When creating a VMSS, I'd expect the instances to reside within a subnet protected by a network security group similar to `az vm create`.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: source

**CLI Version:** What version of the CLI and modules are installed? (Use `az --ver

[2017-05-12 21:31] devigned opened #3348 "[Key Vault] Using Key Vault quickly after create fails"
### Description
When creating a Key Vault using `az keyvault create` with a randomly selected DNS entry, then subsequently running `az keyvault certificate create` it will often fail stating: `Max retries exceeded attempting to connect to vault. The vault may not exist or you may need to flush your DNS cache and try again later.`

The error only happens for a short time following initial creation.

[2017-05-12 22:19] tjprescott opened #3349 "[Monitor] Autoscale-settings "autoscale-parameters-template.json" file not included with PIP install"
After doing a PIP install, if I run `az monitor autoscale-settings get-parameters-template` I get the following error:
[code]

It seems like the JSON file that is embedded in the command module for a dev_setup does not get included in the final package.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answ

[2017-05-13 07:58] tiagorosendo commented on #3231
not work on 2.0.6 too

[2017-05-14 03:47] kasunsjc opened #3350 "Public IP creation with --version parameter"
### Description
When I run the following command it should create IPv4 IP address but as an output I get versions of each Azure CLI modules

**Command**
network  public-ip create --name linuxvm --resource-group clivm --allocation-method Dynamic --location southeastasia --version "IPv4" --verbose

**Output**
azure-cli (2.0.6)

acr (2.0.4)
acs (2.0.6)
appservice (0.1.6)
batch (2.0.4)
cdn (0.0.2)
clo

[2017-05-14 16:49] JJ opened #3351 "`No module named azure.cli`"
### Description

I'm pretty sure this can be fixed with a "start all over again from scratch", but just wanted to let you know just in case some environmental issues are lurking here.

This is the deal. I run `az login` and get

[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

    pip

[2017-05-14 21:44] wi5nia commented on #2403
I have the exact same issue and just following this docs - https://docs.microsoft.com/en-us/azure/container-service/container-service-kubernetes-walkthrough

[2017-05-15 05:18] jan-wang opened #3352 "How to get the VM's container?"
Hi,
If I know the VM's name and the resource group, how can I get its container name?
And if enable boot diagnosis option, there will be a new container created.
If I have many VMs and I want to delete one VM and all associated resources, how can I find these containers?

[2017-05-15 06:26] Sneezry opened #3353 "After installed azure-cli, some users' pip is down"
### Description
**Outline the issue here:**
After installed azure-cli, some users' pip is down.

In the screenshot, you may see we are trying to install pip, however, you can see the error is thrown when we call `pip --version`, and pip has been already broken.

I'm not sure if it is related, but I find a similar issue in one of Google's projects https://github.com/GoogleCloudPlatform/google-cloud

[2017-05-15 12:21] jimyjohny commented on #2190
"az image create " fails with same message for the gov cloud. Is there any eta ?

[2017-05-15 12:45] jtuliani commented on #2094
SDK issue tracked as [VSO bug 1213981](https://msazure.visualstudio.com/web/wi.aspx?pcguid=41bf5486-7392-4b7a-a7e3-a735c767e3b3&id=1213981)

[2017-05-15 13:15] jpricketMSFT commented on #3104
This feature was completed last week. Let us know if there are any issues.
Thanks,
Jason

[2017-05-15 13:15] jpricketMSFT commented on #3104
@yugangw-msft - can you close this issue? I don't have access.

[2017-05-15 15:08] #3104 closed

[2017-05-15 15:32] derekbekoe commented on #3349
This is a bug in the setup.py of the module. The file should be included in the setup.py file of the module.
https://docs.python.org/2/distutils/setupscript.html#installing-package-data

[2017-05-15 15:34] derekbekoe commented on #3325
Makes sense. I was thinking of command path and command params as one.

[2017-05-15 15:44] derekbekoe commented on #3255
We have `docker run azuresdk/azure-cli-python:latest` available. That's an automated build from master branch.

[2017-05-15 15:49] derekbekoe commented on #3351
I assume this is with Python 2?
Thanks for the report. We have seen this before.
Under site-packages, there is likely an __init__.py file missing after the upgrade (likely under `site-package/azure/cli`).

Similar to https://stackoverflow.com/questions/43811428/azure-cli-fails-on-az-component-update

[2017-05-15 15:51] JJ commented on #3351
That is correct. Thanks for answering so fast. I have Python 2.7.6

[2017-05-15 16:55] vishrutshah commented on #3349
Thanks @tjprescott for finding this & @derekbekoe for point to the solution. Let me fix this soon

[2017-05-15 18:49] lostintangent opened #3356 "[CosmosDB] Create command doesn't support the full list of DB kinds"
### Description

The `az cosmosdb create` command doesn't seem to support the full set of database "kinds" that are available in the Azure portal. Namely, graph/gremlin, and key-value/Azure Tables aren't available via the `--kind` flag.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: nightly

[2017-05-15 18:57] lostintangent opened #3357 "[Discussion] [CognitiveServices] Is the "account" subgroup necessary?"
### Description

It's interesting that the `az cognitiveservices list` command allows listing accounts, but the other account-related CRUD operations are nested underneath the `az cognitiveservices account` subgroup. This seems somewhat inconsistent with the rest of the CLI. Should the `account` sub-group just be flattened to form the set of commands underneath the `az cognitiveservices` group its

[2017-05-15 19:01] lostintangent opened #3358 "[CognitiveServices] Could the create command include param enums?"
### Description

When looking at the help for the `az cognitiveservices account create` command, neither the `--kind` nor `--sku` params display an enumerated set of allowable values. From the example provided in the help text, you can see that `Face` is an acceptable input for `--kind`, but it would be awesome if you could easily see the complete list of kinds + have auto-completion (e.g. like yo

[2017-05-15 19:05] colemickens commented on #3255
I'm not sure what's going on... I'm having problems even on the latest stable in pypi.

I've purged `~/.local` and have run `pip install --user azure-cli`.

I've then run `az login`. The first `az group list -o table` works. Then when I try to delete, I get the same errors. Then when I even just try to `az group list -o table` again, it fails. Somehow, the delete is mucking with config and breakin

[2017-05-15 19:06] colemickens commented on #3255
This is the literal contents of `~/.azure/clouds.config`. Doesn't look right at all.

[code]

[2017-05-15 19:07] lostintangent opened #3359 "[MySQL/Postgres] Can't list servers across a subscription"
### Description

The `az mysql server list` (and `az postgres server list`) commands currently require specifying a resource group, which isn't consistent with most of the other `list` commands in the CLI. It would be great if these commands allowed omitting the group, and simply specifying it when you want to filter the list to a specific group.

---

### Environment summary

**Install Method:**

[2017-05-15 19:08] colemickens commented on #3255
@derekbekoe I can pretty confidently say there is a concurrency issue/race. When I delete manually `az group delete`... by hand... then it's fine. When I run my cleanup script, it runs many instances of `az` in parallel which seems to corrupt the `clouds.config` file.

This pattern of calling `az ... --nowait` in parallel was working weeks ago, something somewhat recently seems to have broken it.

[2017-05-15 21:20] derekbekoe commented on #3255
Ah @colemickens understood. Yes this may be a concurrency race condition when the CLI modifies the cloud config file from multiple instances of `az`.
I will take a look.

[2017-05-15 21:36] mayurid commented on #3359
@Suna-MS for this issue.

[2017-05-15 21:49] lindydonna opened #3362 "az storage cors throws python exception"
### Description
Run the command `az storage cors add --connection-string $connstr --methods GET --origins * --services blob`

Output:

[code]
---

### Environment summary

**Install Method:** Docker

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here: azure-cli (2.0.6+dev)

acr (2.0.4+dev)
acs (2.0.6+dev)
appservice (0.1.6+dev)
batch (2.0.4+dev)
cd

[2017-05-15 23:03] tjprescott commented on #3356
This is because the SDK has not been released which reflects the addition of these Kinds.

[2017-05-15 23:47] #3325 closed

[2017-05-16 00:42] derekbekoe opened #3363 "Interactive install script on RHEL 6.6"
### Description
Errors whilst running `curl -L https://aka.ms/InstallAzureCli | bash` from a RHEL 6.6. machine with Python 2.7 installed.

[code]

[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
`interactive script`

**CLI Version:** What version of the CLI and modules are installed? (Use `az --ver

[2017-05-16 02:30] Suna-MS commented on #3359
Will fix it.

[2017-05-16 07:38] karataliu opened #3364 "Question on vmss update-instances help message"
### Description
[code]
'--instance-ids' is a required parameter, then when does 'If not provided' apply? Something needs update?

[code]

---

### Environment summary
**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
azure-cli (2.0.5)

[2017-05-16 09:32] jtuliani commented on #3325
Brilliant, thanks Travis

[2017-05-16 12:29] Parth6288 opened #3365 "api-ms-win-crt-runtime-l1-1-0.dll is missing error while running az commands"
### Description
Just installed azurecli.msi and getting the subjected error while running az commands (ran az --version) from command prompt.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: MSI

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer he

[2017-05-16 15:46] tjprescott commented on #3352
@jan-wang which command did you use to create your VM?

[2017-05-16 15:54] tjprescott commented on #3364
Thanks for the report @karataliu.  Taking a look at the command implementation and the SDK, this appears to be a documentation bug. This command only applies to the VMs within the scale set so the part about "the action will be applied on the scaleset itself" is not correct.

[2017-05-16 17:11] hensilva opened #3366 "az vm create: attach data disks at creation time"
### Description
**Outline the issue here:**
It is not possible to create a VM from an existing set of disks using CLI. Using az vm create It is possible to attach an OS disk, but it is not possible to attach existing data disks. Only parameter supported is related to the creation of new data disks.

Using PowerShell (tested from steps provided here: https://docs.microsoft.com/en-us/azure/virtual-m

[2017-05-16 17:12] alexeyshishkin01 opened #3367 "issues with paste on bash on ubuntu on windows"
### Description
**Outline the issue here:**
I've installed Bash on Ubuntu on Windows following the
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli#windows
I open 'Notepad' and type 'hello-привет'.
Then I copy typed text and try to paste it onto Ubuntu command line.
If my current keyboard language is English the result of paste command it 'hello-' (i.e. Russian letters are not pasted).

[2017-05-16 17:26] alexeyshishkin01 opened #3368 "issue with accessing created VM"
### Description
**Outline the issue here:**
I'm using Azure CLI 2.0.
I've installed it under Bash on Ubuntu on Windows according to https://docs.microsoft.com/en-us/cli/azure/install-azure-cli#windows
I have a VHD-image in Azure and I try to create VM from it.
I have issue with accessing to created VM if I use the command:
az vm create ... --attach-os-disk ... --admin-password Azure1234567890+ --a

[2017-05-16 17:40] yugangw-msft commented on #1806
The stack runtime version for a linux web is controlled by the site configuration `linux_fx_version`. CLI has done 2 improvement to help set up:
    1. On `webapp create`, you can set through `--runtime`
    2. On `webapp config container set`, when the arg of `--docker-custom-image-name` is used, CLI will also patch it.
With those, the original confusion will be greatly mitigated.
Note, the `--no

[2017-05-16 17:53] yugangw-msft commented on #3368
The pertinent issue is when attach to an existing OS disk, the creds provided in the command line are not picked up by server, probably by design. We should either error out on unused args or make it work
[code]

[2017-05-16 18:00] yugangw-msft commented on #3366
Comparing with POSH, CLI has a much flattered out command arg structures for easy-to-use, but front-loading too much support will make the `create` too complex to be usable.
So for this scenario, please use separate command of `az vm disk attach` to accomplish. Of course, if you can elaborate scenarios that the attaching will have to be done at provisioning time, that will help the triage.

[2017-05-16 18:04] GuyMacguffin commented on #3005
The NetworkProfile from the command you gave me is the same if it's in the correct or incorrect order. By your conclusions this indicates an issue with the Compute service itself or the OS.

[2017-05-16 18:23] tjprescott commented on #3368
+1 for raising an error. If you are attaching an existing OS disk, you have to know that disk's credentials.

[2017-05-16 18:35] tjprescott commented on #3005
It does look that way.

[2017-05-16 20:43] yugangw-msft commented on #3312
Function app service team plans apis to return urls

[2017-05-16 21:08] alexeyshishkin01 commented on #3368
ok, I see.
Frankly I don't understand the difference for creating new VM's OS user:
- either during creating VM
- or after it
Compare it with VM creation using OS image:
az vm create ... --image CentOS ... --admin-password Azure1234567890+ --admin-username azureuser --authentication-type password --os-disk-name myosdisk
It works fine, no authentication failure at all.
Why?

Another point is about

[2017-05-16 21:10] alexeyshishkin01 commented on #3322
when the fix is supposed to be available?
how to grab it?

[2017-05-16 21:25] tjprescott commented on #3368
If you were using a generalized image, you would be able to create a VM from that image and supply the credentials at create time. That is essentially what happens when you specify --image CentOS.

https://www.tech-coffee.net/deploy-azure-vm-from-a-generalized-image/

Using an existing (non-generalized) disk you can still log in to it (assuming you know the credentials) and then set up additional

[2017-05-16 21:38] alexeyshishkin01 commented on #3368
that's the issue: in both cases I provide the same '--admin-password Azure1234567890+ --admin-username azureuser --authentication-type password' but in case of VHD-image I cannot login to VM after creation with these credentials.
Am I alone?

[2017-05-16 21:59] tjprescott commented on #3368
Was your VHD generalized beforehand?  If not, this is the expected behavior.

[2017-05-16 22:23] alexeyshishkin01 commented on #3368
existing VHD image has credentials, but I try to create new user 'azureuser' which doesn't exist in VHD image.
at the same time I can add it in separate command after creating VM - that's odd a bit.

[2017-05-16 22:26] tjprescott commented on #3368
Yes, you cannot create a new user in that VHD during the VM create process.

[2017-05-16 22:26] #3349 closed

[2017-05-16 22:55] tjprescott opened #3374 "[Network] LB address-pool create - CLI/Portal discrepancy"
When creating a backend address pool for the load balancer, the portal allows you to specify the IP version type and associate it with an availability set or single VM.

This results in the creation of one or more backendIpConfigurations.

** single VM **
[code]

**availability set**
[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive scrip

[2017-05-16 23:27] brendandburns commented on #3196
That would be the vnet of the ACS resource, not the VMs...

[2017-05-16 23:27] #3196 closed

[2017-05-16 23:29] brendandburns commented on #3341
Yes, sounds like this is a dupe of #3001, I'll get that PR to a mergeable state.

[2017-05-16 23:53] derekbekoe opened #3376 "Create a bundled/versioned installer for the CLI"
### Description

An install method should exist that is:
- Reproducible - I should be able to specify a version and always get that version of the CLI (and all related dependencies). This is useful for CI/build server scenarios.
- Scriptable/Non-interactive - CI/build machines cannot accept user prompts so it should be scriptable with command line arguments for options.
- Private & Offline - PyPI

[2017-05-16 23:56] derekbekoe commented on #3376
Before this is implemented, the current recommendation is as follows:

- Check that you at least have Python 2.7.
- Verify you have the [Linux Prerequisites](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli#linux-prerequisites) satisfied.
- Install the CLI with pip.
[code]

**What about reproducibility?**
The best way right now is to run ‘pip install --user azure-cli -r REQUIREMENTS.tx

[2017-05-16 23:59] tjprescott opened #3377 "[Network] LB/AG rule create -- default names if only one exists"
When creating a balancing rule for a LB or AG, for things like backend-pool, frontend-ip, http-settings, etc. we should be able to make these optional since, the majority of the time, these collections only contain a single entity (particularly if created using the CLI).

- [x] AG http-listener create (frontend-ip)
- [x] AG rule create (address-pool, http-settings, http-listener)
- [X] LB rule cre

[2017-05-17 00:00] derekbekoe commented on #3058
@piotrpMSFT I have created https://github.com/Azure/azure-cli/issues/3376 which should address your requirements.

[2017-05-17 00:01] yugangw-msft commented on #3241
fixed

[2017-05-17 00:01] #3241 closed

[2017-05-17 00:16] yugangw-msft commented on #1806
Submitted https://github.com/Azure/azure-cli/pull/3375 to remove the --node-version.
Closing this issue as we don't have other things to handle.

[2017-05-17 00:16] #1806 closed

[2017-05-17 01:01] jan-wang commented on #3352
We use template to deploy our VMs and I know we can define the container name in template.
But for case such like boot diagnosis container, I don't find any related information to the VM.
Anyway, I am always wanting to know how to delete a VM cleanly. I find many boot diagnosis container left in our storage account after the VMs have been removed.

[2017-05-17 01:48] yugangw-msft commented on #3352
@jan-wang, you can find it using command of "vm get-instance-view": `az vm get-instance-view -g myRG  -n myVM --query "instanceView.bootDiagnostics"`

[2017-05-17 05:38] alexeyshishkin01 commented on #3368
ok, got it!
what I have is:

1) clear case
create new user credentials works fine
az vm create ... --image ... --admin-password Azure1234567890+ --admin-username azureuser --authentication-type password

2) needs to be fixed/documented case, but at least with known solution
create new user credentials doesn't work with
az vm create ... --attach-os-disk ... --admin-password Azure1234567890+ --admin

[2017-05-17 05:43] alexeyshishkin01 commented on #3367
one more thing:
the issue doesn't exist when copying to 'cmd.exe' console, i.e. the pasted text is the same as copied - 'hello-привет' regardless of the current keyboard language

[2017-05-17 08:34] alexeyshishkin01 opened #3380 "az disk update doesn't increase os disk filesystem size"
### Description
**Outline the issue here:**
According to https://docs.microsoft.com/pdfstore/en-us/Azure.azure-documents/live/virtual-machines/linux.pdf it's possible to expand os disk.
Documentation also shows expanding data disk automatically increase filesystem size.
However it doesn't clarify if it's possible to automatically increase filesystem size for os disk after its expansion.
I expanded

[2017-05-17 11:46] jan-wang commented on #3352
thanks very much! It helps.

[2017-05-17 15:29] #3322 closed

[2017-05-17 16:20] tjprescott commented on #3262
Also, I've observed this only occurs when the operation is "GreaterThan".  For the other operators, this value returns normally.  So, if >= makes sense for your case, I would encourage you to use that until the service fixes the bug.

[2017-05-17 16:40] GuyMacguffin commented on #3005
Thanks @tjprescott. What are the next steps I need to perform to continue working on this issue? Do I need to engage another team?

[2017-05-17 17:18] tjprescott commented on #3005
Open a new support ticket or re-engage an existing support ticket if you have one. Reference this thread so they can see what troubleshooting we have done to rule out the CLI/SDK as the cause. They should then engage the service team, as they are best positioned to identify the cause of your issue.

[2017-05-17 17:39] lostintangent commented on #3196
@brendandburns Was this issue closed because the user scenario is solved (or won't fix), or because I misinterpreted the intent of #2856 and/or the `vnetSubnetId` property?

[2017-05-17 17:52] #2818 closed

[2017-05-17 18:18] tjprescott opened #3385 "[Network] Network watcher service errors"
Track re-enabling of tests related to:

1. Attempting to run `az network watcher packet-capture create` results in an unhandled service side exception ("An error occured").  Working with the service team on this.
2. Attempting to use the `az network watcher troubleshooting start` command on a VPN connection results in a server-side error that didn't occur when the commands were merged. `"This gate

[2017-05-17 18:20] #3364 closed

[2017-05-17 18:24] tjprescott opened #3386 "[Network] Live test failures"
- [ ] test_network_watcher **(intermittent service issues)**
- [ ] test_network_vnet_peering **(service regression when attempting to turn off "useRemoteGateways")**

[2017-05-17 19:07] vishrutshah commented on #2709
More tests :

- [ ] Claim a specific vm in the lab
- [ ] Claim any vm from the lab
- [ ] List my vms in the lab

[2017-05-17 19:44] yuemlu opened #3388 "[Storage]Support max page blob up to 8191GB"
### Description
**Outline the issue here:**

az storage blob upload command need to increase the max page blob size from 1,023GB to 8,191GB. Currently the max page blob is 1,023GB.

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

**CLI Version:** What version of the CLI and modules are installed?

[2017-05-17 20:15] lindydonna commented on #3362
Update: with the following command, I also get an error. This happens on the Cloud Shell in the portal as well as on my local machine:

Command:
[code]

Output:

[2017-05-17 20:52] troydai commented on #3388
As far as I know we rely on the storage SDK for this. Does SDK currently current support 8T file size?

[2017-05-17 21:00] squillace commented on #1773
+1 -- ditto. passphrase protected keyfile.

[2017-05-17 21:08] squillace commented on #1773
Update: Same event on most recent CLI on mac as well.

[2017-05-17 21:12] bganapa opened #3391 "AzureStack: Support for registering cloud just with ARM endpoint"
This will immensely reduce the number of parameters needed for cloud register from 8 to just 2 (ArmEndpoint and Name)

1. Call Arm Metdata Endpoint (like https://management.azure.com/metadata/endpoints?api-version=1.0) and populate the other fields from the metadata needed for the cloud register

Arm metadata provides the following details
[code]

2. During az login, also call /providers (just lik

[2017-05-17 21:26] tjprescott commented on #3380
I would expect this would increase the size of the "physical" hard disk, but not the size of the disk partition within the OS.  For that, you would likely need to interact directly with the OS.  I'll confirm though.

[2017-05-17 21:36] alexeyshishkin01 commented on #3380
let's see what documentation says:
'If you've resized the operating system disk, the partition is automatically be expanded. If you have resized a data disk, any current partitions need to be expanded in the VMs operating system'
'To verify the OS disk has been resized, use df -h'.
It doesn't work unfortunately for operating system disk.
Disk size is increased, but neither partition nor filesystem

[2017-05-17 21:50] tjprescott commented on #3380
@yugangw-msft can you confirm the expected behavior with the managed disk folks?  It looks like the documentation is wrong here.

[2017-05-17 22:48] alexeyshishkin01 commented on #3380
is it possible to automate OS disk file system size increase based on
https://blogs.msdn.microsoft.com/cloud_solution_architect/2016/05/24/step-by-step-how-to-resize-a-linux-vm-os-disk-in-azure-arm/
in order not to fix documentation?
described solution works fine for me, but it has to be done manually

[2017-05-17 23:41] tjprescott commented on #3380
Right, but the fact that you have to manually go in an adjust the partition size seems to imply that the documentation is wrong about it being automatic.

The technical requirements are such that we can't make the CLI command automate these tasks:
1) the CLI doesn't have a way to connect to the VM
2) the process would be different for each OS image

[2017-05-17 23:47] yugangw-msft commented on #3380
@tjprescott, agreed. Let us close this issue

[2017-05-17 23:51] tjprescott commented on #3380
Yes, but we should report this somewhere so the docs can be fixed.

[2017-05-18 00:56] deltadan commented on #3341
Thanks guys...

[2017-05-18 02:36] yugangw-msft commented on #3388
closing. It is an issue in SDK

[2017-05-18 02:36] #3388 closed

[2017-05-18 02:43] squillace commented on #1773
My bad: ignore above comments: user error.

[2017-05-18 06:53] alexeyshishkin01 commented on #3380
ok, pls. fix documentation then. cheers

[2017-05-18 08:14] dottorblaster commented on #1773
@squillace what was the error? Maybe it's worth sharing. Did you get the PasswordRequiredException

[2017-05-18 15:21] brendandburns commented on #3196
@lostintangent eventually this will be supported in ACS, but it's not currently, the `vnetSubnetId` property is currently only in ACS-Engine...

[2017-05-18 17:20] #3169 closed

[2017-05-18 17:36] #3052 closed

[2017-05-18 17:36] #3059 closed

[2017-05-18 17:36] #3100 closed

[2017-05-18 17:36] #3135 closed

[2017-05-18 17:36] #3334 closed

[2017-05-18 17:40] vishrutshah commented on #3317
- [ ] List claimable VMs

[code]

- [ ] Claim a specific VM from the lab

[code]
[code]

- [ ] Claim any available VM from the lab

[code]

[2017-05-18 17:48] gxy001 commented on #3317
Is it possible to rename -g to --lab-resourcegroup (or --lab-rg) so as to reduce confusion which resource group (lab's or VM's) it is?

[2017-05-18 20:56] mayurid commented on #3340
@yugangw-msft and@derekbekoe to discuss for upcoming sprint.

[2017-05-18 21:05] mayurid commented on #3338
Not sure if --all is default behavior or having user pass profile or make a call in the context of profile they are in. @yugangw-msft and @derekbekoe to discuss as well

[2017-05-18 21:06] mayurid commented on #3337
@yugangw-msft and @derekbekoe to close on plan here and other defaults that we have which will need adjustment for profiles (and sovereign clouds)

[2017-05-18 21:13] mayurid commented on #3336
@troydai to pick up the PR https://github.com/Azure/azure-cli/pull/3056#issuecomment-298040722 and provide the infrastructure piece.

[2017-05-18 22:22] mayurid commented on #3380
@alexeyshishkin01 : can you point to the exact link to the docs you would like to change? I can work with the right folks.

[2017-05-18 22:53] oakeyc opened #3397 "Check for Double Counted Telemetry for Interactive Mode and Az"
### Description
**Outline the issue here:**

---

[2017-05-18 23:35] mayurid commented on #3359
@Suna-MS : Added this to upcoming milestone.

[2017-05-18 23:36] mayurid commented on #3351
@JJ : Hope you were able to resolve this. Please reopen if that's not the case

[2017-05-18 23:41] derekbekoe commented on #3365
@Parth6288 do you have the Windows updates for Windows 7 (including service packs)?
If so and you still see this error, install [Visual C++ Redistributable for Visual Studio 2015
](https://www.microsoft.com/en-us/download/details.aspx?id=48145)

[2017-05-18 23:46] mayurid commented on #3367
@alexeyshishkin01 : This looks like an issue with bash on windows and not something to do with the CLI.
You can redirect it here https://github.com/Microsoft/BashOnWindows
Please reopen if I have missed something and it relates to the CLI 2.0

[2017-05-18 23:46] #3367 closed

[2017-05-19 01:06] oakeyc opened #3399 "Telemetry between Server-side and Client-side is broken for Interactive Mode"
### Description

Interactive mode uses the same client-request-id for all commands, which breaks the information sent out

[2017-05-19 01:12] matt1883 opened #3400 "Data Lake Store - can't list files under root directory"
### Description
Using Data Lake Store's command to list files, I get an exception when passing in "" or "/" as the path to indicate that I want to list files/folders under the account's root directory.

When running `az dls fs show --account myaccount --path "/"`, below is the error output. Other folder paths work just fine.

[code]

---

### Environment summary

**Install Method:** How did you in

[2017-05-19 02:17] johanste opened #3401 "Telemetry: in order to improve command usage, we want to make sure that we are capturing which commands users invoke tab completion for"
We need to verify that, if the user has opted in to providing usage telemetry data, we capture which command we are providing tab completion for.

[2017-05-19 04:48] tjprescott commented on #2586
cc/ @johanste, since we were talking about this very thing just the other day. Thoughts?

[2017-05-19 05:25] JJ commented on #3351
No, I could not.

[2017-05-19 07:09] alexeyshishkin01 commented on #3380
sure, for example the link
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-manage-disks#resize-vm-disk
says:
'If you’ve resized the operating system disk, the partition is automatically be expanded. If you have resized a data disk, any current partitions need to be expanded in the VMs operating system.'

another link
https://docs.microsoft.com/en-us/azure/virtual-machines/li

[2017-05-19 15:01] adubnik opened #3403 "Azure CLI does not report error code"
### Description
**Outline the issue here:**

Group blabla does not exists and cli should return 1 if so as this is also what portal generated script expect. Unfortunately it returns 0 as successful completion.

az group show --name blabla
echo $?
0
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer her

[2017-05-19 15:39] derekbekoe commented on #3403
This was as a result of https://github.com/Azure/azure-cli/issues/1952

[2017-05-19 16:02] valtynikov opened #3404 "az ad sp create-for-rbac: unrecognized arguments --key-vault"
### Description
Getting the following error when trying to use the `--key-vault` argument with the `az ad sp create-for-rbac` command.

The argument should be supported by Azure 2.0 CLI according to the documentation: https://docs.microsoft.com/en-us/cli/azure/ad/sp#create-for-rbac.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-g

[2017-05-19 16:22] adubnik commented on #3403
Thanks it make sense now.

I suggest MS to change portal code generator as well. It still thinks show return status code. Also some CLI commands portal generator uses are out of date.

Issue is easy to workaround just thought I post it here.

[2017-05-19 16:22] #3403 closed

[2017-05-19 16:24] tjprescott commented on #3404
Hi @valtynikov this is a documentation bug. The parameter should is `--keyvault` so that it matches the `az keyvault` commands.  We'll get the help text fixed.

[2017-05-19 16:27] vitorarins opened #3406 "[Lock] az create lock Fails"
### Description
Creating locks fails with:
[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: `pip3`

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:
[code]

**OS Version:** What OS and version are you using?
Answer here: Arch Linux, k

[2017-05-19 16:28] valtynikov commented on #3404
@tjprescott I actually tried that too. Still get the same error: `az: error: unrecognized arguments: --keyvault`

[2017-05-19 16:31] tjprescott commented on #3404
When you run `az ad sp create-for-rbac -h` does it show as an argument?

[2017-05-19 16:35] yugangw-msft commented on #2999
@kamil-mrzyglod, we are waiting for service API available. If no ETA, I will submit a PR to support at least `adding/retrieving keys for a specific function`

[2017-05-19 16:36] yugangw-msft commented on #3312
dupe to #2999

[2017-05-19 16:36] #3312 closed

[2017-05-19 16:40] valtynikov commented on #3404
No, it doesn't.
[code]

[2017-05-19 16:43] tjprescott commented on #3404
Ah, yes, that is because this change has not yet been released!  It was merged in the last week or so, and thus it won't be available publicly until the next release.  You could get a nightly install or dev_setup to acquire it.

At the same time, @mayurid do we need to have a discussion with the docs team to publish docs based on the last public release rather than the latest master?

[2017-05-19 16:45] valtynikov commented on #3404
OK, that makes sense. I'll try to get a nightly build.

When is the next release date?

[2017-05-19 16:52] tjprescott commented on #3404
Should be at the end of the month.

[2017-05-19 16:54] johnsta commented on #3231
Hi Christian,

The CI/CD pipeline creation commands in the Azure CLI and ACS portal blade have been deprecated. We experimented with the ‘az container release create’ functionality, but based on user feedback and product usage, it became clear that we needed to improve container experiences directly within the VS Team Services portal and client tools like Visual Studio IDE, as well as target a bro

[2017-05-19 16:55] derekbekoe commented on #3404
We are following milestones and are currently on Sprint 16 - https://github.com/Azure/azure-cli/milestones?direction=asc&sort=due_date&state=open

[2017-05-19 17:50] christianhxc commented on #3231
Thanks @johnsta for the feedback 👍 I was able to create the registry and the integration manually, the problem I had then was that when creating the tunnel by running this command:

That command was useful because I could easily access the DC/OS UI and access the containers in a private manner. Sure, I can create the tunnel using Putty but I couldn't access the containers because they're using a d

[2017-05-19 18:14] #2215 closed

[2017-05-19 18:22] iainfoulds commented on #2215
Nice! Thanks.

[2017-05-19 18:29] mayurid commented on #3397
@troydai please work with @oakeyc on this

[2017-05-19 18:29] mayurid commented on #3399
@troydai as fyi to help as needed.

[2017-05-19 18:33] mayurid commented on #3362
@troydai to take a look
@lindydonna : can you also provide the complete output by running the command with --debug.

[2017-05-19 18:40] mayurid commented on #3271
@Suna-MS : incoming issue assigned to upcoming sprint.

[2017-05-19 18:41] johanste commented on #2586
Both suggestions sound reasonable. I would definitely advocate to do something along the lines of what @tjprescott  suggests (have explicit/easy option to add VMs/NICs to the load balancer without having to go through hoops of finding nics associated with VM/backend address pool names)

Adding the ability to specify a load balancer in the VM/NIC create is also interesting, but that would come with

[2017-05-19 18:43] mayurid commented on #3406
@brendandburns : can you please take a look at this?

[2017-05-19 18:44] brendandburns commented on #3406
@vitorarins can you send the specific command you ran, as well as output you got by adding `--debug --verbose`

Thanks!

[2017-05-19 18:49] oakeyc opened #3408 "--debug on Interactive mode doesn't work"

[2017-05-19 18:53] mayurid commented on #595
Closing this backlog item since we have had no feedback around this.
We will look into this if we hear anything.

[2017-05-19 18:53] #595 closed

[2017-05-19 18:54] vitorarins commented on #3406
Sure, actually every `lock` command I tried failed, but I will paste a simple one here:

Command: `λ> az lock create -n stuff --debug --verbose`

Debug:
[code]

[2017-05-19 19:11] johnsta commented on #3232
Christian, try providing the --ssh-key-file argument, which should include the full path to the SSH private key associated with your cluster.

[2017-05-19 19:15] johnsta commented on #3231
The 'az acs dcos browse' command continues to be supported. Seems like there was a recent regression and how you need to also explicitly pass in the --ssh-key-file argument, which should include the full path to the SSH private key associated with your cluster.

The command used to look up your default SSH path, and that behavior now seems to have regressed. I noticed you opened up a separate issu

[2017-05-19 19:25] christianhxc commented on #3231
Ok, got it, I thought it was related, sorry 👍

I'll continue in the other ticket then and for me that will be all for this one :)

[2017-05-19 19:26] christianhxc commented on #3232
I'll give it a try this weekend, I just needed to include the key with Pageant and it was working.

[2017-05-19 19:45] brendandburns commented on #3406
Ah, ok this is in the validation path.  I'll look.

Thanks

[2017-05-19 20:00] brendandburns commented on #3406
Sorry for the bug, fix is here: https://github.com/Azure/azure-cli/pull/3409

[2017-05-19 20:01] iainfoulds commented on #2586
That workflow isn't too dissimilar to the current approach. Here's where all this came from, when I was first putting together a tutorial that details how to load balance VMs - how we add and remove from LB now - https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-load-balancer#add-and-remove-vms

I'm totally glossing over the fact that you already know/assume myNic**2** is atta

[2017-05-19 20:04] sanar-microsoft opened #3410 "[ACS] DCOS Browse should use a default value if ssh key path is not provided or throw error"
### Description
**Outline the issue here:**
---
az acs dcos browse doesn't work without specifying the --ssh-key-file argument and this argument is not marked as a required parameter. The error thrown says 'TypeError: stat: can't specify None for path argument'. I think in case it is not provided, the command should default to a path like  "/Users/user/.ssh/id_rsa" or throw a well defined error sp

[2017-05-19 20:06] #3404 closed

[2017-05-19 20:17] mayurid commented on #3410
@brendanburns to comment.

[2017-05-19 20:26] mayurid commented on #3358
@kostenray to comment.

[2017-05-19 20:27] mayurid commented on #3357
@kostenray to comment.

[2017-05-19 20:29] mayurid commented on #3356
@moderakh to comment.

[2017-05-19 20:31] mayurid commented on #3351
Did you run the following
 pip install --force-reinstall --upgrade azure-nspkg azure-mgmt-nspkg.

[2017-05-19 20:35] mayurid commented on #3350
@troydai to take a look

[2017-05-19 20:51] mayurid commented on #1847
@troydai : i have moved this to the current sprint to close on this. Please close if already addressed.

[2017-05-19 20:52] mayurid commented on #2513
@troydai moving to current sprint to close on this/

[2017-05-19 20:53] mayurid commented on #2417
Lets close on this in this sprint.

[2017-05-19 22:20] #3001 closed

[2017-05-19 22:50] moderakh commented on #3356
I added the dataplane. This is management api: @dmakwana Digvijay are you adding this?

[2017-05-19 23:14] alexeyshishkin01 opened #3411 "Support market-place ordering"
### Description
**Outline the issue here:**
When I try to install VM from Azure Marketplace via Azure CLI 2.0 I get the error message:
At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details. {
  "error": {
    "code": "ResourcePurchaseValidationFailed",
    "message": "User failed validation to purchas

[2017-05-19 23:29] oakeyc opened #3412 "Pulling latest resource SDK update breaks most tab completions [Regression]"
### Description
**Outline the issue here:**
completions for:
[code]
show the right completions
but when you do
[code]
the '-g' is supposed to narrow the completions to ones of just that resource group, but no completions appear all together
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: dev-s

[2017-05-19 23:35] Ali92hm opened #3413 "Installation using homebrew"
### Description
**Outline the issue here:**
---

Create a brew formula for Azure-Cli 2. I know azure-cli version one is on brew, are there any plans to make a brew formula for `az`?

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:
`curl -L https://aka.ms/InstallAzureCli | bash`

**CLI Version:** Wh

[2017-05-19 23:36] derekbekoe commented on #3413
Please see https://github.com/Azure/azure-cli/issues/643

[2017-05-19 23:36] #3413 closed

[2017-05-19 23:36] derekbekoe commented on #3413
@Ali92hm Please add any comments you have there. Thanks!

[2017-05-19 23:37] Ali92hm commented on #3413
Thanks, sorry I did a search on the issues and didn't find that initially. Thanks for the pointer!

[2017-05-19 23:56] johanste opened #3414 "Telemetry: in order to better understand what linux distros we should support, we should include the distro in the usage data"
It looks like we are sending platform.version() but not platform.linux_distribution(). It would be helpful to understand which distros are used.

(I was trying to look up which distros are used when making requests in order to better understand what native installers we should look at)

[2017-05-20 00:10] #2962 closed

[2017-05-20 01:13] squillace commented on #1773
No. I get the same Private key file is encrypted line. `paramiko.ssh_exception.PasswordRequiredException: Private key file is encrypted`. I thought I had it figured out, but I didn't. I"ll try again tomorrow. This is on WSL and mac.

[2017-05-20 08:34] dottorblaster commented on #1773
Hope you'll find a solution. I'm still stuck here, no luck.

[2017-05-22 05:23] vivsriaus commented on #3343
@chrmarti Thanks for reporting this issue. Should be fixed in the upcoming release.

[2017-05-22 05:25] neilpeterson commented on #2835
+1 on this using two methods for applying the tag.

[code]

and then similar to @metazog

[code]

[2017-05-22 07:00] Suna-MS commented on #3271
In swagger specs,  the validation pattern of IP address was added to the firewall rule schema definition, and the auto generated python sdk will has this pattern validation, which is a common usage and I was suggested to do validation like this.  Not sure how to avoid the too long stack trace, any suggestions?
 Maybe we need autorest team' s help for the improvement?

[2017-05-22 15:25] tjprescott commented on #3271
It may just be we should catch this type of exception in addition to the CloudError exception as part of core. @derekbekoe thoughts?

[2017-05-22 15:28] christianhxc commented on #3232
@johnsta I just tried putting the --ssh-key-file argument and now I get this error:

I even disabled the firewall but no success

[2017-05-22 15:48] christianhxc commented on #3232
Ok, it worked but I needed to add the key with Pageant. I ran the same command with --debug and saw that it said "Authentication (publickey) failed" so I thought it wasn't putting the correct username then I added the key with Pageant and it worked.

[2017-05-22 15:51] tjprescott commented on #3411
I believe @yugangw-msft has looked into this and would be best able to answer your question.

[2017-05-22 15:53] christianhxc commented on #2525
@xtophs @dgkanatsios try specifying the --ssh-key-file parameter and put the full path of the RSA private key. If it doesn't work, try adding the key with Pageant and run the same command again. I reported the same problem here https://github.com/Azure/azure-cli/issues/3232

[2017-05-22 15:53] christianhxc commented on #2365
@yoanisgil try specifying the --ssh-key-file parameter and put the full path of the RSA private key. If it doesn't work, try adding the key with Pageant and run the same command again. I reported the same problem here #3232

[2017-05-22 15:55] christianhxc commented on #3231
@johnsta I see you even deleted the page I was using as reference :( https://docs.microsoft.com/en-us/azure/container-service/container-service-setup-ci-cd

[2017-05-22 15:58] tjprescott commented on #3412
This has the same root cause as #3343.

[2017-05-22 16:01] alexeyshishkin01 commented on #3411
ok, I'm waiting for the answer

[2017-05-22 16:05] tjprescott commented on #3412
This was caused by PR #3256.

While it needs to be fixed, we also need to add unit tests to cover these completer methods and protect against future regression.

[2017-05-22 16:07] yoanisgil commented on #2365
I'll keep that in mind for the next time, since  we finally decided to move on and use Kubernetes.

[2017-05-22 16:42] yugangw-msft commented on #3411
It is about legal terms with the vendor for this market place image. The only way to do this is creating the VM through portal. The error is pretty clear that you only need to do it once, after that you can use CLI w/o issues.

[2017-05-22 16:55] derekbekoe commented on #3271
Yes that makes sense.

[2017-05-22 17:24] vishrutshah commented on #3317
@gxy001 Yes it is possible to do it in CLI. I'll open a separate bug for that as It has to be done for all the commands not just `az lab vm`.

[2017-05-22 17:28] vishrutshah opened #3418 "[DevTestLab] Rename --resource-group/-g to --lab-resource-group/-lg for all commands"
### Description
Rename `--resource-group/-g` to `--lab-resource-group/-lg` for all commands

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: Development version from master

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:
[code]

**OS Versi

[2017-05-22 17:28] vishrutshah commented on #3317
Closing this in favor of https://github.com/Azure/azure-cli/issues/3418

[2017-05-22 17:28] #3317 closed

[2017-05-22 17:30] vishrutshah commented on #2709
Closing this as most of the listed tests are checked-in. We can open and manager new test as part of future command implementations. Thanks!

[2017-05-22 17:30] #2709 closed

[2017-05-22 17:43] tjprescott commented on #3418
-lg is not a valid flag. It can only be a single letter.

[2017-05-22 17:47] vishrutshah commented on #3418
@tjprescott Aha I see.

@gxy001 As Travis has pointed out the short flag must be a single letter, feel free to provide your suggestion on what letter makes more sense to represent `Lab's Resource Group`.

[2017-05-22 18:24] #3319 closed

[2017-05-22 18:39] #2774 closed

[2017-05-22 19:32] yugangw-msft commented on #2909
done

[2017-05-22 19:32] #2909 closed

[2017-05-22 21:02] alexeyshishkin01 commented on #3411
ok, thanks for that - the problem is I have to use another tool (portal) even though I was going to use only CLI.
I'm pretty sure clicks on portal somehow can be transformed to CLI command which can be scripted well.

[2017-05-22 22:09] yugangw-msft commented on #1407
I am closing this, as we have flags of `vm/vmss create --secret` for similar kinds of support.
We can reopen this when we have user voices with clearly defined scenario and scope.

[2017-05-22 22:09] #1407 closed

[2017-05-22 22:13] yugangw-msft commented on #302
@johanste, I think you are the better person to drive for the desired option. I don't really have strong opinions on this, and we don't have user voices on the end behaviors.
I am closing this as we have no near term plan and motivations to change this

[2017-05-22 22:13] #302 closed

[2017-05-22 22:13] yugangw-msft commented on #635
@troydai, do you plan to do this work?

[2017-05-22 22:24] tjprescott opened #3422 "Best way to spin up mutliple Kubernetes clusters?"
I was approached with the following scenario:

Customer wants to spin up a number of Kubernetes clusters and would like to use the same SSH key for each. He would like to spin these up in parallel for faster deployment.

Option 1
===

Use an ARM template deployment to deploy the clusters in parallel. However, this throws away any convenience introduced by the ACS create command, including the abil

[2017-05-22 22:26] dmakwana commented on #3356
Ack, I'll have a look at this

[2017-05-22 22:27] troydai commented on #3401
Investigated. The current structure doesn't support feed enough information to telemetry for tab completion. The scope of the changes requires for this feature may be beyond sprint 16.

[2017-05-22 22:32] tjprescott opened #3423 "[KeyVault] KeyVault Mgmt 2016-10-01"
Update KeyVault mgmt SDK and support for the following:

- [x] Deleted vault operations (show, list, purge)
- [x] Add support for 'soft delete', 'create mode' and 'storage permissions
- [ ] Add support for Managed Storage Account Keys

See:
https://github.com/Azure/azure-sdk-for-python/pull/1186
https://github.com/Azure/azure-sdk-for-python/pull/1182

[2017-05-22 23:25] troydai commented on #3362
@lindydonna for the exception complaining `l`, that is because the `type` parameter only accepts `b` `f` `q` and `t`. We should probably improve the error message.

For the issue of `XML specified is not syntactically valid`, I looked into it last week. This is a service issue. The error can be repoed with SDK, and the issue can't be produced constantly. I'm in talk with the storage team.

Be more

[2017-05-22 23:41] #3343 closed

[2017-05-23 13:12] Parth6288 commented on #3365
It is working now, Thanks.

[2017-05-23 13:12] #3365 closed

[2017-05-23 14:20] johanste opened #3425 "Azure CLI 2.0 is missing a "strongly typed" command for enabling the chef extension on VMs"
### Description
The xplat CLI has a `azure vm extension set-chef` command that helps enabling the compute chef extension. The `az`, there is only the generic `az vm extension set` command. It would be nice to provide more named parameters that are specific to the chef extension.

[2017-05-23 14:22] johanste commented on #3425
In addition, we should update the documentation (i.e. https://github.com/chef-partners/azure-chef-extension/blob/master/examples/azure-xplat-cli-examples.md, https://github.com/chef-partners/azure-chef-extension/tree/master/examples) to show how to use Azure CLI 2.0 instead of xplat for ARM compute resources...

[2017-05-23 15:12] tjprescott commented on #3425
Would you advodate adding this as a convenience command or adding parameters to the VM extension set command?

[2017-05-23 15:26] johanste commented on #3425
Since I would envision the parameters for the command to be specific to the extension configuration schema for the chef extension, it would have to be a specific (convenience) command.

It does raise the question what to do for extensions in general, since VM/compute extensions are also extensions for the platform (meaning that new ones can be registered/added both by Microsoft as well as by partn

[2017-05-23 15:47] tjprescott opened #3426 "no module found 'azure.cli' after dev_setup.py"
Possibly related to #3351.

The steps I've taken:

1. Pull the latest repo
2. Create a new virtual environment with `python -m venv env`
3. Run `python scripts\dev_setup.py`
4. Run `az`.  Get the error:
`E:\github\azure-cli\env\Scripts\python.exe: No module named azure.cli`
5. Tried `pip install --force-reinstall --upgrade azure-nspkg azure-mgmt-nspkg`. Same error.
6. Tried inserting a bunch of ra

[2017-05-23 15:55] paulmey opened #3427 "[VM] [Feature request] Platform image support"
### Description
With the advent of Managed Disks and Images as first class resources, Azure now has a new way to reference [Platform Images](https://docs.microsoft.com/en-us/rest/api/compute/platformimages).
The capability that I am interested in is to [create a Managed Disk from a Platform Image](https://docs.microsoft.com/en-us/rest/api/manageddisks/disks/disks-create-or-update), so that I can a

[2017-05-23 16:00] johanste opened #3428 "Commands run from az interactive are missing parameters"
### Description
If I run vm show from `az interactive`, the --ids parameter is not showing in the parameters list.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: interactive script

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:

azure-c

[2017-05-23 16:06] johanste opened #3429 "az interactive: Unable to use previous results operator as parameter value"
### Description
I was trying to use the previous results using `?` from az interactive:

[code]

I would have expected value to be picked from the id from the first VM returned in `az vm list`.

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: interactive script

**CLI Version:** What version of the

[2017-05-23 16:19] tjprescott commented on #3426
So I don't know why this fixed it, but I wiped my entire repo and recloned it.  Then after I created a venv and ran dev_setup everything worked.  Good times!

[2017-05-23 16:19] #3426 closed

[2017-05-23 16:21] tjprescott commented on #3428
This may have to do with the fact that the "handle IDs parameter stuff" happens after the command table is loaded.

[2017-05-23 16:26] troydai commented on #635
I don't think this belong to the test framework. The random value generating mechanism should be mocked.

[2017-05-23 16:44] mmacy opened #3430 "az storage blob list --num-results: unsupported operand type(s) for -: 'str' and 'int'"
### Description

When limiting the result set with the `az storage blob list` command's `--num-results` argument to any number less than the number of blobs in a container, I receive the following error:

**unsupported operand type(s) for -: 'str' and 'int'**

Here's output from both a successful list operation and a failed operation (there are 10 blobs in the container):

[code]

[code]

---

###

[2017-05-23 17:44] troydai commented on #3430
Found the issue, I'm working on a solution.

[2017-05-23 18:18] oakeyc commented on #3428
What does the handling for ID parameters?

[2017-05-23 18:19] oakeyc commented on #3429
related to #3020

[2017-05-23 18:22] tjprescott commented on #3428
It's in `arm.py`.  `command_loaded_handler`.

[2017-05-23 19:33] oakeyc commented on #3428
duplicate #3018

[2017-05-23 21:24] troydai commented on #1847
Many things have changed since this issue was filed:
1. The trace logs are removed from the test output. Today only test names and failed tests' stack traces are printed.
2. The xunit log can't be generated when tests are run in parallel, that is the default setting. To mitigate, you can feed `--non-parallel` to the `run_test` command.

Given the item has greatly improved the test results readabil

[2017-05-23 21:24] #1847 closed

[2017-05-23 21:24] troydai commented on #2262
Done

[2017-05-23 21:24] #2262 closed

[2017-05-23 21:41] #3430 closed

[2017-05-23 22:28] #3271 closed

[2017-05-23 22:29] tjprescott commented on #3428
Since it's a duplicate, feel free to close one of them. :)

[2017-05-24 05:18] neilpeterson commented on #3410
I've also encountered this, which led me to this issue. I agree with the desired outcome as expressed by @sanar-microsoft .

[2017-05-24 05:43] devmanhinton commented on #3255
Any updates here!? We use `az` to download a JAR for a monitoring check and am getting called because download fails --> check fails --> pager duty alert :p

[2017-05-24 10:37] Cato2 commented on #2384
@agates - any chance you could share your Python wrapper for the Azure Backup REST API, even as a GitHub gist?

[2017-05-24 12:03] jbrozena22 commented on #3000
same issue here. Seems to happen randomly because worked when I tried creating a new one.

[2017-05-24 15:48] tjprescott commented on #3000
The service does not return a value for the IP address, and that is why it is deserialized to `null`. @markjbrown, is this is expected behavior?

[2017-05-24 15:52] jbrozena22 commented on #3000
After more digging on my end I realized I was wrong in my prior report, or at least it was not the cause of the problem. I was getting a resource not found error for a NIC I had made, which led me to look into the components of the NIC, public IP included. It seemed odd that the IP was null, leading me to believe it was the culprit. However, now I believe you are right, it doesn't get assigned an

[2017-05-24 16:00] #2513 closed

[2017-05-24 16:17] troydai opened #3438 "Fixing all too-many-nested-blocks pylint disabled code."

[2017-05-24 16:39] tjprescott commented on #3412
TL/DR -- closing issue

This was fixed by PR #3416 as both the command and the generic completer used the same method. Thus, as long as we have a test for `resource list` (which we do) then this is protected. Issue #3336 covers testing for API profiles more generally, so when that is done, the testing aspect will be covered here as well.

[2017-05-24 16:39] #3412 closed

[2017-05-24 16:47] tjprescott commented on #3165
As a caveat, the table-formatter only works for table output. The official policy on TSV is: use `--query`.

[2017-05-24 17:07] johanste opened #3439 "az group deployment show is missing tab completion for the name parameter"
### Description
Run `az group deployment show -g <one of your resource groups> -n <tab>`

Results: no tab completion.

And, yes, tab completion is hooked up and works for other parameters
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:
script

**CLI Version:** What version of the CLI and modul

[2017-05-24 17:08] johanste opened #3440 "az group deployment show: using an invalid value shows stack trace/error"

[2017-05-24 17:09] markjbrown commented on #3000
Yes, that's correct. The IP Address doesn't get assigned until its either associated to the VM for the NIC it's attached to or to a Load Balancer.

[2017-05-24 17:14] JasonRShaver commented on #2384
We (the CLI and Azure Batch teams) are working on Azure Batch for CLI 2.0 presently.

[2017-05-24 17:20] markjbrown commented on #3000
Is this resolved? Can it be closed?

[2017-05-24 17:44] tjprescott commented on #3000
When I create an IPv6 public IP and then create a VM using that IP, the value that displays for that public IP is an IPv4 address:

[code]

[2017-05-24 17:47] #3018 closed

[2017-05-24 17:47] #3428 closed

[2017-05-24 18:40] PaulTrampert opened #3443 "az webapp config ssl bind results in error when binding valid wildcard certificate."
### Description
Attempting to bind a wildcard ssl certificate (valid for hostnames `*.example.com` and `example.com`) to a deployment slot with the hostname, `slot-master.example.com`, results in the following error:
`Certificate for thumbprint '<thumbprint>' not found.`

The command I used was `az webapp config ssl bind --certificate-thumbprint <thumbprint> -n <appname> -g <resourceGroup> --ssl-t

[2017-05-24 19:05] agates commented on #2384
@Cato2 I've made a repo for it.  It's a bit rough as we just needed something quick and dirty.

https://github.com/agates/azure-python-scripts

[2017-05-24 19:12] #3165 closed

[2017-05-24 19:31] Teodelas commented on #3000
As far as I know IPv6 addresses can / should only be assigned to load balancers.  VM's don't yet support native IPv6 addresses.  But I'm no longer seeing the issue:
{
    "dnsSettings": null,
    "etag": "W/\"dcc7a9ac-75b3-4fbc-8729-597be38dae5c\"",
    "id": "/subscriptions/fed7f475-6055-4e3c-8529-c1345df70589/resourceGroups/IPv6/providers/Microsoft.Network/publicIPAddresses/XREMemcacheLBIPv6PubA

[2017-05-24 19:42] markjbrown commented on #3000
Our announcement last September was for native IPv6 for VM's so we do support it.

@tjprescott I'm researching this now. I've recreated this and also cannot find how to query for the v6 address. Will revert back once I get an answer.

[2017-05-24 19:52] berndverst commented on #1773
I followed these instructions: https://docs.microsoft.com/en-us/azure/container-service/container-service-kubernetes-walkthrough

@squillace I'm also getting `PasswordRequiredException: Private key file is encrypted` on Mac. Latest CLI, latest everything (updated via homebrew).

[2017-05-24 19:54] derekbekoe commented on #3439
Is this different from https://github.com/Azure/azure-cli/issues/3412#issuecomment-303780989?

[2017-05-24 20:03] Teodelas commented on #3000
Right.  But you can't assign a public IPv6 address directly to a VM (or you shouldn't be able to).  The 'right' way for the VM to get an IPv6 address (today) is through DHCP.  The IPv6 communication / connectivity to other IPv6 addresses is through the LB.

[2017-05-24 20:07] tjprescott commented on #3439
It is different because deployment_name just doesn't have a completer (as opposed to have a broken one!)

[2017-05-24 20:26] berndverst commented on #1773
Workaround:
[code]
where `<master-dns-name>` is `<cluster-name>.<location>.cloudapp.azure.com`

[2017-05-24 20:36] markjbrown commented on #3000
So I talked to some folks and you do indeed can only do this as a Public IP for a Load Balancer.

See the article here. In particular the "details" section and limitations. Including the DHCP assigned IPv6 address for the VMs.
https://docs.microsoft.com/en-us/azure/load-balancer/load-balancer-ipv6-overview

sorry for the confusion. I was also under the impression that we enabled this directly on t

[2017-05-24 20:36] #3166 closed

[2017-05-24 20:44] #2417 closed

[2017-05-24 21:16] tjprescott commented on #3000
In light of this, I'm closing this issue.

[2017-05-24 21:16] #3000 closed

[2017-05-24 21:25] v-iam opened #3445 ".msi install doesn't work with git-for-windows bash"
### Description

Installing the .msi (0.2.9) and issuing the `az` command in the bash shell that comes with https://git-for-windows.github.io gives the following error:

[code]
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: Installed using the .msi.

**CLI Version:** What version of the CLI a

[2017-05-24 22:04] derekbekoe commented on #3445
Does it work in cmd.exe?

[2017-05-24 22:05] v-iam commented on #3445
Yes, it does. Sorry, should have mentioned.

From: Derek Bekoe<mailto:notifications@github.com>
Sent: Wednesday, May 24, 2017 3:04 PM
To: Azure/azure-cli<mailto:azure-cli@noreply.github.com>
Cc: Ian McCowan<mailto:v-iam@microsoft.com>; Author<mailto:author@noreply.github.com>
Subject: Re: [Azure/azure-cli] .msi install doesn't work with git-for-windows bash (#3445)

Does it work in cmd.exe?

—
You

[2017-05-24 22:05] derekbekoe commented on #3255
PR created.

[2017-05-24 22:42] alanbach opened #3447 "az storage blob upload should read from pipes"
### Description
It would be very nice if "az storage blob upload" could support reading from pipes instead of trying to read from an existing file.
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: apt-get

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)

[2017-05-24 23:51] yugangw-msft commented on #3344
The things I will do for LAD (linux diagnostics) and WAD (windwow diagnostics) to get things less confusing
1: `az vmss diagnostics` should output a warning telling the users the right protected settings should look like. Particularly, for WAD, the sas token should have leading `?`, while LAD should have.
2. For LAD:
    1. On standalone VM, we should upgrade older major version to newer one.

[2017-05-25 00:57] JasonRShaver opened #3449 "Add legal note to --version"
Let's put a legal note inside the --version:

[code]

The link goes to our MSI license (in yucky RTF), but we should post a clean version to the repo if there is not already a copy and assign back to me to update the aka.

[2017-05-25 03:42] lostintangent opened #3450 "[DevTestLabs] How do you create a lab?"
### Description

Most (all?) of the commands underneath the `az lab` group require a lab name to be specified (which makes sense), but I don't actually see a way from the CLI to create a lab. Is this functionality missing? Is it expected that the lab creation is done via the portal, and then everything else can be done via the CLI?

Apologies if I'm missing something super obvious here. I noticed

[2017-05-25 06:01] Cato2 commented on #2384
Thanks for sharing that code @agates - looks very useful!

[2017-05-25 10:33] cornelcreanga opened #3451 "Can't upload blob files larger than 200GBytes"
### Description

I'm running this command

az storage blob upload --container-name backup --file <some file> --type block --account-name <acount name) --account-key <key>

The file size is around than 210GB.

The upload fails with the message

[2017-05-25 13:34] fbejarano opened #3452 "Fail of cli when we execute some commands in parallel"
### Description
**Outline the issue here:**

Hi

I am executing some commands of cli in parallel. In some cases the commands fails and the cli does not correctly run anymore.

I have been investigating and sometimes the execution of cli commands change de file `${home}/.azure/cloud.configs` changing the order of blocks ¿¿?? so I have deleted de .azure directory and execute login and all is ok. The

[2017-05-25 14:18] derekbekoe commented on #3452
Closing as this looks like a dupe of https://github.com/Azure/azure-cli/issues/3255

[2017-05-25 14:18] #3452 closed

[2017-05-25 14:38] tjprescott commented on #3450
@vishrutshah can confirm, but I believe that yes, indeed, lab create isn't currently supported. You would create it using an ARM template or the portal right now.

[2017-05-25 15:28] tjprescott commented on #3408
As a thought, should these be configurable in interactive?  i.e. you want ALL commands to run with --debug or --verbose?  Since an interactive experience would be expected to be "chattier", having to add --verbose to each invocation seems very inconvenient.

[2017-05-25 15:54] troydai commented on #3451
Supposedly the block size should be increased to enable 200GB+ file. I'll take look.

https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/custom.py#L213

[2017-05-25 16:47] SergeyKanzhelev opened #3457 "properties are shown as null when query microsoft.insights resources"
### Description
When I run `az resource list --namespace microsoft.insights --resource-type components` I get the list of Application Insights components. Json field `properties` is shown as `null` for them:

[code]

Actual properties looks like this:

[code]
---

### Environment summary

**Install Method:** Just used it from Azure portal:

![image](https://cloud.githubusercontent.com/assets/99500

[2017-05-25 17:12] oakeyc commented on #3408
Currently, since you have to run 'interactive' through az, if you add run the intial command with --debug or --verbose then all the commands will pick that up eg:
[code]
will output vm list --debug

[2017-05-25 17:20] #2684 closed

[2017-05-25 17:21] #3142 closed

[2017-05-25 17:23] #3255 closed

[2017-05-25 17:28] troydai commented on #3451
@rambo-msft I can confirm that the `MAX_BLOCK_SIZE` property is set to 100MB. Is there any other settings are missing here?

[2017-05-25 17:36] rambo-msft commented on #3451
Hi @cornelcreanga , @troydai
No, that is the only required setting. The issue here is likely as the error states (there are to many uncommitted blocks). This usually occurs after continually uploading to the same blob, where each failed attempt will stack up the uncommitted blocks beyond the service limit.

Try deleting that blob or uploading to a new blob and let me know if this problem persists.

[2017-05-25 17:44] tjprescott commented on #3457
Where the actual properties supplied by the resource show command?  If so, this may simply reflect a difference in what the generic ARM APIs return for list and show.

[2017-05-25 17:50] SergeyKanzhelev commented on #3457
@frankguodongchen do you know?

[2017-05-25 17:55] tjprescott commented on #3425
Also, since the Azure documentation on configuration management seems to promote both Puppet and Chef, we probably also should have convenience commands for Puppet configuration.

[2017-05-25 18:32] frankguodongchen commented on #3457
ARM have a cache copy for the resources (it does not cache properties of resources), and for the list api, it was handled by ARM directly and does not pass to resource provider, so it will return back properties as null. When ask individual resource, ARM pass through the call to resource provider, so it will be able to get the full properties information.

[2017-05-25 18:32] troydai commented on #3451
Is there a way for user to debug or trace the number of blocks?

[2017-05-25 18:36] SergeyKanzhelev commented on #3457
@tjprescott I'd really like to be able to get the list of components and their instrumentation key (which is in properties) in a single query to azure cli. Do you know who can we ask from ARM to return properties when cache is being used?

[2017-05-25 18:46] frankguodongchen commented on #3457
I think a work around can try out is that give a "$filter=" parameter (accept OData format) in to filter by a property, it will force it go to resource provider, and then I think it possible get back properties.

[2017-05-25 19:27] #3344 closed

[2017-05-25 19:58] tjprescott commented on #3457
My first thought was you do something like:
[code]

However, that doesn't work because the resource show command doesn't accept --ids!

I've reached out to the ARM team to see if they have any recommendations on this.

[2017-05-25 21:04] rambo-msft commented on #3451
You can use the `get_block_list` API to check the number of [uncommitted blocks](https://github.com/Azure/azure-storage-python/blob/master/samples/blob/block_blob_usage.py#L409-L411).

[2017-05-25 21:19] cornelcreanga commented on #3451
Hello,

I've tried again to upload to a new blob (the same command). It fails again, the error message is

"The block list may not contain more than "

[2017-05-25 21:26] troydai commented on #3451
@cornelcreanga I'm sorry to hear about your situation. I did a 210G upload this morning and can't repro your issue. At this point, it is very difficult for me to diagnose. I know it is frustrating because upload a large file must take a lot of time. Can you do a few things for us so that we can gather more information to help you?

1. Can you run the command with `--debug` to print the richer erro

[2017-05-25 21:43] rambo-msft commented on #3451
@troydai @cornelcreanga
Yes, this error is generally caused if the block count exceeds our max limit -- 50,000. This indicates the block size being used is too small for the file being uploaded. If it's truly set to 100 MB then it should cover up to ~5TB upload.

[2017-05-25 21:46] troydai commented on #3451
@cornelcreanga for the error `The block list may not containing more than `, when did you encounter it? Reaching the end of the uploading?

[2017-05-25 21:49] rambo-msft commented on #3451
I will go ahead and introduce a fail fast mechanism in our upload logic to avoid having to wait until end of upload.

[2017-05-25 21:52] brendandburns commented on #3422
`--no-wait` flag is the way to go.  The service principal work alone in the `az` CLI makes it way easier to use than in a template...

[2017-05-25 21:52] #3422 closed

[2017-05-25 21:54] brendandburns commented on #3231
the `az container` command is not owned by ACS, removing label.

[2017-05-25 22:08] brendandburns commented on #3341
Closing since #3173 is merged.

[2017-05-25 22:08] #3341 closed

[2017-05-25 22:09] brendandburns commented on #2688
I'm closing this for now since I believe the original confusion has been addressed as best we can for now.

[2017-05-25 22:09] #2688 closed

[2017-05-25 22:11] brendandburns commented on #2348
Please see the recently launched Managed Applications:

https://docs.microsoft.com/en-us/azure/azure-resource-manager/managed-application-overview

For a better way to do this.

Closing this.

[2017-05-25 22:11] #2348 closed

[2017-05-25 22:11] brendandburns commented on #2771
Closing this since #3106 is merged.

[2017-05-25 22:11] #2771 closed

[2017-05-25 23:02] #3408 closed

[2017-05-25 23:04] #3429 closed

[2017-05-25 23:20] derekbekoe commented on #3408
@oakeyc the one action item I might add is to then remove the --debug and --verbose options from the completions provided by the shell.

[2017-05-25 23:54] SergeyKanzhelev commented on #3457
@frankguodongchen I do not know how to pass filter to the `az resource list` command. Can you please advice

@tjprescott using pipes I can write something like

[code]

However now I struggle with `az resource show` that do not work well even with the "take all" query like `--query [*]`. I need `--query [*].[Properties].[InstrumentationKey]`. Not talking about performance as querying component by

[2017-05-26 02:05] bganapa opened #3466 "az interactive errors out with the profile 2017-03-09-profile-preview"
### Description
after updating the default profile as 2017-03-09-profile-preview  az interactive  errors out with the following

No module named 'azure.mgmt.network.v2015_06_15.operations.packet_captures_operations'
Traceback (most recent call last):
  File "d:\github\azure-cli\src\azure-cli\azure\cli\main.py", line 36, in main
    cmd_result = APPLICATION.execute(args)
  File "d:\github\azure-cli

[2017-05-26 02:08] bganapa opened #3467 "az interactive errors out with the profile 2017-03-09-profile-preview"
### Description
after updating the default profile as 2017-03-09-profile-preview,  az interactive  errors out with the following
[code]
---

### Environment summary

**Install Method:**
pip install nightly builds

**OS Version:**
Windows

**Shell Type:**
cmd

[2017-05-26 02:09] bganapa commented on #3466
redundant

[2017-05-26 02:09] #3466 closed

[2017-05-26 02:09] bganapa commented on #3466
to this issue https://github.com/Azure/azure-cli/issues/3467

[2017-05-26 02:30] mayurid commented on #3467
@oakeyc to take a look in upcoming sprint.
@derekbekoe as FYI

[2017-05-26 02:41] dmitsh opened #3468 "az fails when running in parallel threads"
### Description
**Outline the issue here:**

When running az in parallel threads, observing the following randomly appearing error:

ERROR: Error loading command module 'acr'
ERROR: Error loading command module 'acs'
ERROR: Error loading command module 'appservice'
ERROR: Error loading command module 'cdn'
ERROR: Error loading command module 'dla'
ERROR: Error loading command module 'dls'
ERROR: E

[2017-05-26 02:59] dmitsh commented on #3468
Another randomly observed error:

ERROR: The cloud 'AzureCloud' is not registered.
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-packages/azure/cli/main.py", line 36, in main
    cmd_result = APPLICATION.execute(args)
  File "/usr/local/lib/python2.7/dist-packages/azure/cli/core/application.py", line 203, in execute
    result = expanded_arg.func(params)
  File "/usr/loc

[2017-05-26 05:34] derekbekoe commented on #3255
Nightly builds have been published so should contain the fix.

[2017-05-26 05:34] derekbekoe commented on #3468
Closing as this is the same as https://github.com/Azure/azure-cli/issues/3255

[2017-05-26 05:34] #3468 closed

[2017-05-26 05:50] derekbekoe commented on #3445
We don't officially support Git Bash.
I would recommend using cmd.exe or if you'd like a *nix experience, [Bash on Windows](https://msdn.microsoft.com/en-us/commandline/wsl/about) is available and the CLI can be installed with apt-get [see this](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli#windows).

[2017-05-26 07:48] alexeyshishkin01 opened #3470 "cannot find out attached disk caching policy"
### Description
**Outline the issue here:**
I cannot find out attached disk caching policy
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:
According to https://docs.microsoft.com/en-us/cli/azure/install-azure-cli#windows (Bash on Ubuntu on Windows)
**CLI Version:** What version of the CLI and

[2017-05-26 08:29] danielaene opened #3471 "az vm disk attach ignores caching argument"
### Description
The argument "--caching" from "az vm disk attach" command is ignored. The disk is attached with host caching None

To reproduce the issue I ran the commands:
az group create  -l eastus -n topo-ene

az vm create -n topo-ene-vm-1 -g topo-ene \
--size "Standard_DS3_v2" \
--image RHEL \
--admin-username azureuser --ssh-key-value $ssh_key_path \
--storage-caching ReadOnly \
--storage-sk

[2017-05-26 11:17] pipern opened #3472 "az long running operations never complete"
### Description
Using 'az' to remove resource groups never completes.

Example:

[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)

pip and virtualenv (via ansible)

    - name: Set up azure-cli version 2
      pip:
        name: azure-cli
        virtualenv: /opt/azure-cli-2.0.6
        version: 2.0

[2017-05-26 11:34] ericvanwijk opened #3473 "macOS install fails: 'Failed building wheel for scandir'"
### Description
**Outline the issue here:**
Install fails: 'Failed building wheel for scandir'
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: curl -L https://aka.ms/InstallAzureCli | bash

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here: N/

[2017-05-26 14:14] PascalRD opened #3474 "Cannot create VM with new unmanaged data disks"
### Description
To create VM I use command:

az vm create  \
    -g some-group \
    -n VM_NAME \
    --os-type linux \
    --attach-os-disk "https://path_to_vhd_in_storage" \
    --data-disk-sizes-gb 50 \
    --size Standard_F1S \
    --use-unmanaged-disk \
    --debug

and got error:

usage: az vm create
az vm create: error: 'data_disk_sizes_gb

Is this key is forbidden with "--use-unmanaged-dis

[2017-05-26 14:16] pg1809 opened #3475 "az command fails when invoked inside xargs"
### Description
I have a following bash command:
echo -n [some valid input] | xargs --max-args 3 -P 16 -d' ' bash -ec 'az storage blob download --container-name [valid container name] --name ${2} --file [valid file path]/${1}/${3} --output tsv --query [].name'

When invoked it returns strange errors:
ERROR: Error loading command module 'acr'
ERROR: Error loading command module 'acs'
ERROR: Error l

[2017-05-26 14:29] derekbekoe commented on #3475
I suspect this is due to https://github.com/Azure/azure-cli/issues/3255 since you're running commands in parallel.
Running `--debug` would confirm this.

A fix for this will be released first part of next week.

[2017-05-26 14:33] derekbekoe commented on #3473
Run `xcode-select --install`.
There will be an xcode license agreement to be signed. Afterwards, run the CLI install again.

[2017-05-26 14:45] PascalRD commented on #3474
OK, I patched cli/command_modules/vm/_validators.py in order to avoid forbidden of this keyboard and got error from server:

"code": "OperationNotAllowed",
    "target": "dataDisk",
    "message": "Addition of a managed disk to a VM with blob based disks is not supported."
But in web gui I can attach adidtional data disk to blob based disk, why I accon do it in VM creation stage?

[2017-05-26 14:46] cornelcreanga commented on #3451
Hello,

I've attached the file containing the command output (with --debug).

@troydai - see the file, it's received at the end. I'm not familiar with the Python SDK but I'll play with the Java one during the weekend.
[out2.txt.zip](https://github.com/Azure/azure-cli/files/1032198/out2.txt.zip)

[2017-05-26 15:22] #3231 closed

[2017-05-26 15:30] #3406 closed

[2017-05-26 15:31] tjprescott opened #3476 "[ARM] Scenario test for resource locks"
Follow-up item from #3409.

[2017-05-26 15:49] tjprescott commented on #3457
@SergeyKanzhelev as written, you cannot write a custom filter. Instead the command provides convenience arguments for common scenarios and we build the OData filter behind the scenes. However, we can (and probably should) offer this for expert users.

I'm glad you found a way to get the information you wanted. I experimented with some ways that essentially do what you did in a slightly more conven

[2017-05-26 15:55] tjprescott opened #3477 "Add support for --filter for commands when supported"
Currently, there are a number of commands where we build up an OData filter based using convenience arguments based on our assumptions of what the most common scenarios are. We should also expose `--filter` so that power users can write their own OData expressions for advanced scenarios.

- [ ] resource list
- [ ] monitor (various)

[2017-05-26 15:57] tjprescott opened #3478 "[AppInsights] On-board AppInsights service"
- [x] REST API Specs
- [ ] Python SDK support
- [ ] Create command module
- [ ] Scenario tests

[2017-05-26 15:58] troydai commented on #3451
@rambo-msft can you take a look at the log from the SDK's perspective. Base on the log, the full blocks list are uploaded (100% of the bits were uploaded.) The error occurs to the last request confirming the upload:
[code]

[2017-05-26 15:58] tjprescott commented on #3457
Created issue #3478 to track the on-boarding of the AppInsights service.  Issue #3477 tracks adding support for --filter.

[2017-05-26 16:03] #3377 closed

[2017-05-26 16:03] tjprescott commented on #3445
Closing this issue as git-bash is not a supported shell for the CLI.

[2017-05-26 16:03] #3445 closed

[2017-05-26 16:08] tjprescott commented on #3472
If you look at your resource group in the portal, does it show it is in a deleting state or that deleting failed for some reason? After `Starting long running operation 'Starting group delete'` do you not see any additional output?  There should be periodic waves of text as the SDK polls the service.

[2017-05-26 16:15] SergeyKanzhelev commented on #3457
@tjprescott thanks for the follow up!

@tjprescott my hope was that `az resource list` is a generic command that have to allow access and query by any json property visible in https://resources.azure.com/ The entire experience of cached vs. non-cached results with the missing fields looks like a bug. The fact that `az resource show --id "<id>" --query [*].[properties]` doesn't return result and fo

[2017-05-26 16:28] tjprescott commented on #3474
We should definitely clean up that error message; however, the help text is clear:

[code]
The CLI only supports creating new *managed* data disks at the time of VM creation.

For your scenario, you would first create the VM, then use the following commands:
`az vm unmanaged-disk attach -g {rg} --vm-name {vm} ... --new`

@yugangw-msft may have more insight on this.

[2017-05-26 16:33] tjprescott commented on #3457
For resource show, I think your query syntax is incorrect.  It should look like `--query properties.instrumentationKey`

[2017-05-26 16:45] PascalRD commented on #3474
Thanks for reply. If there are any possibility to attach data disk before VM starts to execute?

[2017-05-26 16:46] SergeyKanzhelev commented on #3457
@tjprescott oh, I see. I haven't noticed that `az resource show` returns a single element. When you mentioned that it doesn't support `--ids` - did you mean that the plan is to make it work similarly to `az resource list`?

Thank you again for the help understanding cli.

[2017-05-26 17:01] tjprescott commented on #3474
Not that I'm aware of.  @yugangw-msft might know more. However, I did create the VM (it is created in the running state) and then attached the new data disks.  You can then restart the VM.

[2017-05-26 17:07] tjprescott opened #3479 "[ARM] Resource commands should support --ids"
Currently the generic resource commands only support --id.  We should enhance these commands to support --ids so that they are consistent with the rest of the CLI.  See issue #3457 for an example of why this lack of support is problematic.

The lock commands don't have support for even one ID.

We should ensure both sets of commands support the --ids semantic.

- [x] resource (PR #3791)
- [ ] lock

[2017-05-26 17:08] tjprescott commented on #3457
@SergeyKanzhelev I mean that most of the strongly typed show/update/delete commands support a parameter called --ids.  It essentially performs that operation once for each ID in the list and is implemented in the CLI's infrastructure so that it can be common across command modules.

Resource show doesn't support this same mechanism (it only accepts a single ID) so we should see if it can be made t

[2017-05-26 17:44] pipern commented on #3472
Thanks - No, unfortunately nothing shows in the Activity Log in the portal for the Resource Group which I'm trying to delete. (It's any resource group. Right now tested with one which is empty, and still never returns.)

How often are the 'periodic' waves of text? I believe I've left it up to 20 minutes before with no output at all. I've never seen it output information after "Starting long runnin

[2017-05-26 17:45] troydai opened #3481 "Provide mechanism for paging"
A paging mechanism is helpful when a command needs to process large operation results. It should reduce the memory pressure and improve UI responsiveness.

[2017-05-26 17:45] troydai opened #3482 "Investigate the performance of tab completion."

[2017-05-26 17:46] troydai opened #3483 "Investigate the performance difference while executing az on A0, A1, F1 machine"
Compare the regression to competitors.

[2017-05-26 17:48] troydai opened #3484 "Improve performance feedback"
Implement/improve the mechanism of self-reporting performance data. The data can be presented in the log or separate performance file. The source of the data can be simple time delta or cProfile output.

[2017-05-26 17:49] troydai opened #3485 "Add mechanism to compare performance of az under Python 2 and 3"

[2017-05-26 17:49] troydai opened #3486 "Investigate az interactive performance"
1. start up time
2. exit time
3. tab completion
4. hints and context menu

[2017-05-26 17:52] tjprescott commented on #3472
They would be approximately every 30 seconds give or take.

[2017-05-26 18:00] troydai opened #3487 "Expand performance automation matrix"
1. Python 2 vs 3
2. Windows CMD + MSI
3. Windows Bash / apt-get / curl
4. Ubuntu Bash / apt-get / curl

[2017-05-26 18:04] dmitsh commented on #3255
@derekbekoe was the PR approved? merged? in which version?

[2017-05-26 18:30] derekbekoe commented on #3255
@dmitsh Yes the PR was merged. see #3446.
It's in our (nightly build)[https://github.com/Azure/azure-cli/#nightly-builds].
Alternatively, we'll release a full update to the CLI in the first half of next week.

[2017-05-26 18:40] pipern commented on #3472
No further output at all for over an hour.

[2017-05-26 18:45] tjprescott opened #3489 "[Network] Load Balancing Rules CLI/Portal Discrepancies"
When creating load balancing rules in the portal a probe is required before any rules can be created. In the CLI, probe is optional.

Additionally, the portal exposes a SessionPersistence setting that the CLI does not.

[2017-05-26 18:54] tjprescott opened #3490 "[Network] LoadBalancer inbound NAT rule CLI/portal discrepancies"
- [ ] The portal allows you to select a service from a dropdown to immediately populate the protocol and
frontend-port fields. This seems like a pure convenience.
- [ ] The portal allows you to select the target backendIpConfiguration (target VM) but the CLI does not.
- [x] The portal allows you to use "default" port mapping, which basically means the the backend-port is the same as the frontend-p

[2017-05-26 19:37] tjprescott commented on #3472
Is this only happening with resource group delete or does it happen with other long running operations?  For example, does it happen with VM create?

[2017-05-26 20:15] tjprescott opened #3491 "[Network] AppGateway BackendPool CLI/Portal Discrepancies"
The CLI only supports adding IP addresses or FQDN to an application gateway backend address pool (using the `--servers` parameter).  However, the portal allows you to specify a VM, similar to LB, which results in the creation of a "backendIpConfiguration" object.

Mixing IP/FQDN and Virtual Machine targets is not allowed.

[2017-05-26 20:40] tjprescott opened #3492 "[ARM] Issues deleting locks"
I created a lock on a VM using the following
`az lock create -g {rg} -n {lock-name} --resource-type Microsoft.Compute/virtualMachines --resource-name {vm-name}`

When I went to delete the lock I tried:
`az lock delete -g {rg} -n {lock-name}`

This failed with:
`Unexpected --namespace for lock lockvm, expected Microsoft.Compute`

So first, I was surprised that it failed. Then I was surprised by the

[2017-05-26 20:41] pipern commented on #3472
Same with vm create, no output after claiming to start the log running operation, and no sign of activity in the portal:

[code]

[2017-05-26 20:44] tjprescott opened #3493 "[ARM] Lock show command doesn't work"
I created a lock on a VM with the following:
`az lock create -g {rg} -n lockvm --resource-type Microsoft.Compute/virtualMachines --resource-name vm1`

The signature for the lock show command is:
[code]

When I tried:

`az lock show -g {rg} -n lockvm`

I get no results. There are no other parameters I could use, even though I know the structure of a lock ID includes the resource that it applies to.

[2017-05-26 21:03] tjprescott commented on #3472
If you try doing a regular PIP install into a virtual environment, do you observe the same behavior?  @derekbekoe do you see anything in his Ansible script that might be the culprit here?

[2017-05-26 21:10] tjprescott opened #3494 "[VM/VMSS] Cannot create a new subnet on an existing Vnet"
Scenario:  I created an app-gateway, which creates a VNET and a subnet. I want to add a VM to the backend pool, which requires the VM exists in the same VNET; however, the app-gateway itself has to be in its own subnet.  SO, what I'd like to do is create the VM, specify the existing VNET but specify a new subnet for that VNET. This does not work. The VM attempts to create a new VNET with the same

[2017-05-26 21:19] derekbekoe commented on #3472
I'm not familiar with Ansible but don't see anything obvious in there.
Would also be interested to see if this happens with a regular pip install into a virtualenv.

[2017-05-26 23:05] troydai commented on #2099
It was done.

[2017-05-26 23:05] #2099 closed

[2017-05-26 23:53] troydai commented on #3362
@lindydonna the 400 is caused by too many rules. An account can't hold more than 6 CORS rules.

[2017-05-27 07:05] cornelcreanga opened #3496 "Can't obtain full blob list for a large blob container"
### Description
I'm running this command

creanga-macOS:tmp creanga$ time  az storage blob list --container-name REMOVED--output table --account-name REMOVED --account-key REMOVED> list.txt

The blob container has about 6.5 millions blobs.
Command result:

/Users/creanga/bin/az: line 2: 60560 Killed: 9               /Users/creanga/lib/azure-cli/bin/python -m azure.cli "$@"

real	329m28.797s
user	8

[2017-05-27 08:14] PascalRD commented on #3474
My use case assumes that VM first started before data disk is attached. For some reason I cannot restart VM after data drive is attached. If there are no possibility to do it please tell me.

[2017-05-27 08:57] ericvanwijk commented on #3473
Thx, that worked

[2017-05-27 08:57] #3473 closed

[2017-05-27 09:01] ericvanwijk opened #3497 "CLI fails to import "requests" package"
### Description
**Outline the issue here:**
az login: 'ValueError: need more than 2 values to unpack'

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: curl -L https://aka.ms/InstallAzureCli | bash

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer

[2017-05-27 09:39] KylieLiang commented on #3497
met same problem. How to resolve it?

[2017-05-27 09:42] KylieLiang commented on #3497
I met this problem on FreeBSD 11.0 though curl -L https://aka.ms/InstallAzureCli | bash

[2017-05-27 13:23] du8die commented on #3497
Same here.

[2017-05-27 16:05] Xurma2 opened #3498 "Requests dependency 'urllib3' must be version >= 1.21.1, < 1.22!"
### Description
**Outline the issue here:**
[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: `curl -L https://aka.ms/InstallAzureCli | bash`

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here: 2.0.6

**OS Version:** What OS and version

[2017-05-28 05:27] micli commented on #3498
I have been gotten this same issue.  I am still finding workaround.

[2017-05-28 06:01] micli commented on #3498
@Xurma2 I have been found resolve steps:
1. jump into <azure cli installation folder>/azure-cli/lib/python2.7
2. pip install urllib3
If it still doesn't work. The reason is that the python you are running is not under azure-cli folder. It might be located at: /usr/local/lib/python2.7
In this situation, you have to copy urllib3 manually, like this:
1. cd /usr/local/lib/python2.7/site-packages
2. ls

[2017-05-28 06:19] dazzur commented on #3497
Exactly the same problem as ericvanwijk; exactly same environment.

Darrens-MacBook-Pro:~ dazzur$ az login
Traceback (most recent call last):
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/runpy.py", line 162, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/runpy.py", line

[2017-05-28 09:02] floresboy commented on #3497
Same here on Raspberry03
File "/home/pi/lib/azure-cli/local/lib/python2.7/site-packages/requests/__init__.py", line 49, in <module>
    major, minor, patch = urllib3.__version__.split('.')[:3]
ValueError: need more than 2 values to unpack

Please resolve cause having a CLI on Raspi would be great!

[2017-05-28 10:26] squillace opened #3499 "[Keyvault][2.0.6] "az keyvault secret list" doesn't show "name" of secret, but download/show require it"
### Description
To use keyvault as a rsa keystore, I'll need to use **download** and **show** when I setting up new local machines (let alone servers in Azure). But both of those require `--name` of the secret. Unfortunately, the `name` value is not displayed by the output of `list`.

Result: I can't script directly from `list`, because I have to put a `sed` from `xargs` in there to calculate the

[2017-05-28 11:59] bargitta opened #3500 "Error when installing on mac os"
### Description
**Outline the issue here:**
I got error when installing azure-cli2.0 on macos,
I installed it via this : curl -L https://aka.ms/InstallAzureCli | bash
here is the error

Traceback (most recent call last):
  File "/var/folders/zw/49g51ryj2nbcp8w6csnwrc8c0000gn/T/azure_cli_install_tmp_XXXX.cvoL0rkx", line 370, in <module>
    main()
  File "/var/folders/zw/49g51ryj2nbcp8w6csnwrc8c000

[2017-05-28 15:12] squillace commented on #3179
+repro here: mac 2.0.6. Oh, yeah, both files **_exist_**

[code]

[2017-05-28 15:15] squillace commented on #3179
@brendanburns You see this?

[2017-05-28 19:52] BrodaUa commented on #3498
Getting the same issue when trying to login:
`broda@standartubuntu:/usr/local/lib/python2.7/site-packages$ az login
Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/home/broda/lib/azure-cli/lib/python2.7/