[2020-02-05 14:54] msglueck commented on #11740
Yep, did use homebrew, but the error was exactly the same. Will retry with python alias pointing to python3. Thx!

[2020-02-05 14:54] stan-sz commented on #12056
Duplicate of #9904

[2020-02-05 14:54] #12056 closed

[2020-02-05 14:55] qwordy commented on #11420
PR is merged.

Will implement in a separate PR

[2020-02-05 14:56] ajklotz commented on #12041
This appears to be a bug with Azure Function version 1. If I upgrade to Azure Function 2, the Azure CLI command successfully toggles the state of the function.

[2020-02-05 15:20] qwordy commented on #10986
@robhat1

[2020-02-05 15:38] TomBonnerAtTFL commented on #12055
Seeing the same issue consistently in our CI.

Version:
[code]

Output:
[code]

[2020-02-05 15:41] TomBonnerAtTFL opened #12057 "az webapp list-runtimes"
## Describe the bug
Running `az webapp list-runtimes` is the easiest way to cause a crash likely related to a host of other failures we're seeing, all related to `knack\cli.py`.

**Command Name**
`az webapp list-runtimes`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az webapp list

[2020-02-05 16:03] houssems opened #12058 "Automation AD B2C tenant Creation"
I want to automate creation of AD B2C Create Tenant and linked to my existing AD. So I'm asking if there's a CLI or ansible playbook can automate this.

[2020-02-05 16:24] torosent commented on #11099
@jiasli Any update on this issue?

[2020-02-05 16:55] shurd commented on #11181
This change was merged last month. It went in as a part of S163.

[2020-02-05 16:55] #11181 closed

[2020-02-05 17:02] mohamedsaif opened #12059 "az network application-gateway create creates a basic public IP (v2 SKU)"
[Enter feedback here]
When providing a name for the --public-ip-address $AGW_PIP_NAME argument for non-existing IP address, the CLI will provision a basic IP address which is not compatible with AG v2 which will cause the command to fail.

Expected behavior to provision a Standard IP address instead.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-02-05 17:04] ridgebackdad opened #12060 "az aks enable-addons fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons --addons {} --resource-group {} --name {} --su

[2020-02-05 20:27] CJavierSaldana commented on #11975
I used Windows terminal to do the tutorial, but it didn't work, after 2 times it failed, I switched to using the shell from azure and it worked fine.

[2020-02-05 20:32] splatteredbits commented on #9867
@fayora Any way to use that command to set a budget for an entire subscription not a resource group?

[2020-02-05 20:33] MrBill2U commented on #11767
While we wait for the code fix can someone please do a data fix to get rid of the reference to Symantec.test.ru4mp1.latest?

[2020-02-05 22:34] fayora commented on #9867
Hi @splatteredbits, Yes! Just remove `-ResourceGroupName $resourceGroupName` and it will apply at the currently set subscription (i.e., context). So, if this is for a script, you would also want to use something like this before you run `New-AzResource`:
`Set-AzContext -SubscriptionId $SubscriptionId | Out-Null`

[2020-02-05 22:44] gogowings opened #12062 "CLI calls the wrong version SDK when a different version SDK is installed in current pyenv"
**Describe the bug**
Details are in https://github.com/microsoft/MLOpsPython/issues/136

**To Reproduce**
NOTE: to repro the error reported in https://github.com/microsoft/MLOpsPython/issues/136 you will need more setup, such as creating ML workspace, register a model etc. The following repro step is simplified. You won't see an error but you will see the symptom of different version SDK is loaded

[2020-02-05 23:11] gaburn opened #12063 "Command to add RdpGateway setting for DevTest Lab"
**Is your feature request related to a problem? Please describe.**
I can't find a way to programatically add an RdpGateway to a DevTest Lab.

**Describe the solution you'd like**
This command works for updating the vmCreationResourceGroupId which is displayed in the same configuration pane in the azure portal as the RdpGateway setting:

az resource update -g $labResourceGroup -n $labName --resourc

[2020-02-06 01:06] shenmuxiaosen commented on #11992
Hi @djsowa we are not shipping extension anymore as we have merged to main CLI. Regarding to your question about adding keyvault reference, please download the latest CLI and do
```az appconfig kv set-keyvault -h``` and you will see explanations and examples. We will update the official CLI doc shortly.

[2020-02-06 01:31] AbelHu commented on #11740
@fengzhou-msft , thanks for the help. The script does not work now so I used pip3 to install azure_cli.

[2020-02-06 01:41] shenmuxiaosen commented on #11965
Hi @billpieper , I can somehow repo the similar scenario but I am not sure if this is the same problem that you have. When I use powershell to execute ```$x = $(az appconfig kv list --name $AzureAppConfigServiceName --subscription $AzureAppConfigServiceSubscriptionId)``` It first returned a line "Command group 'appconfig' is in preview. It may be changed/removed in a future release." as expected,

[2020-02-06 01:44] shenmuxiaosen commented on #11610
May I know what specific ```az appconfig``` command do you use in your powershell?

[2020-02-06 01:45] arrownj commented on #12051
Hi @jiasli , could you please help check this ?

[2020-02-06 01:51] arrownj commented on #12058
Hi @jiasli , could you please help with this ?

[2020-02-06 01:54] arrownj commented on #12059
Hi @MyronFanQiu , could you please help with this ?

[2020-02-06 02:00] arrownj commented on #12063
Hi @zhoxing-ms , could you please help with this ?

[2020-02-06 02:01] yungezz commented on #12062
thanks for reporting the issue. @fengzhou-msft  is on this.

[2020-02-06 02:02] yungezz commented on #12053
thanks for reporting the issue, we're looking at it.

[2020-02-06 02:15] arrownj commented on #12060
@ridgebackdad , thanks for reporting, we are looking at it.

[2020-02-06 02:16] arrownj commented on #12057
@TomBonnerAtTFL , thanks for reporting, we are looking at it.

[2020-02-06 02:17] arrownj commented on #12055
@selvan123 , thanks for reporting, we are looking at it.

[2020-02-06 02:18] arrownj commented on #12044
@eamonoreilly , thanks for reporting, we are looking at it.

[2020-02-06 02:18] arrownj commented on #12042
@jyennaco , thanks for reporting, we are looking at it.

[2020-02-06 02:19] arrownj commented on #12041
@ajklotz , thanks for reporting, we are looking at it.

[2020-02-06 02:19] arrownj commented on #12035
@SaschaSchlemmer , thanks for reporting, we are looking at it.

[2020-02-06 02:52] zhoxing-ms commented on #11942
@a-vishar Sorry, I haven't received your email yet. Could you please send the scripts to me again?
Email: Zhou.Xing@microsoft.com

[2020-02-06 03:22] jiasli commented on #12051
[Owner](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#owner) is an ARM RBAC concept on subscription level. To create AAD app, you will need AAD permission equal or higher than [Application Administrator](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#application-administrator).

[2020-02-06 03:26] #12015 closed

[2020-02-06 03:26] zhoxing-ms commented on #12009
@ovidiu10 Service does not support the `metadata` in template parameters file, azure-cli sends the user's parameters file to the Service without modification, so the situation is in line with expectations.

[2020-02-06 04:52] yonzhan commented on #9067
@pilor  nice to know, please let us know when the PR is ready.  @zhoxing-ms  to follow up.

[2020-02-06 04:58] alex-frankel opened #12066 "Make "az deployment create" commands use --handle-extended-json-format by default"
**Resource Provider**
Microsoft.Resources/deployments

**Description of Feature or Work Requested**
Make the flag `--handle-extended-json-format` the default behavior for all variants of `az deployment create` (`deployment group create`, `deployment sub create`, `deployment tenant create`, `deployment mg create`)

**Minimum API Version Required**
all

**Swagger Link**
Provide a link to the locatio

[2020-02-06 04:58] yonzhan commented on #12058
add to S166.

[2020-02-06 05:01] yonzhan commented on #12066
add to S166.

[2020-02-06 05:03] jiasli commented on #12058
I don't think Azure CLI currently can have the ability to manage B2C tenants without public API or SDK from AAD, as shown in [Deploy and manage Active Directory B2C using ARM templates and RM PowerShell cmdlets](https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/18960694-deploy-and-manage-active-directory-b2c-using-arm-t).

If the API is published, you may use `az rest` wi

[2020-02-06 05:03] #12058 closed

[2020-02-06 05:03] ashamanx1 opened #12067 "image-copy-extension 0.2.3 failing during snapshot creation"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az snapshot create`

**Errors:**
[code]

## To Reproduce:

 az image copy --source-resource-group <redacted> --source-object-name EX_Analytics-1 --target-location australiaeast --target-reso
urce-group "<redacted>" --cleanup
Getting os disk id of the source vm/image
Creating source snapshot
c

[2020-02-06 06:20] arrownj commented on #12067
Hi @qwordy , could you please help check this ?

[2020-02-06 06:28] bganapa opened #12068 "Include Eventhub part of the azurestack profile 2019-03-01-hybrid"
**Resource Provider**
EventHub - AzureStack

**Description of Feature or Work Requested**
 Azurestack recently added EventHub as one of the supported services. We have decided to add the EventHub as part of the existing profile 2019-03-01-hybrid profile. 2019-03-01-hybrid profile for CLI does not include eventhub. This request is to add the EventHub part of the profile and add necessary conditions

[2020-02-06 06:33] bganapa opened #12069 "Include IotHub part of the API profile 2019-03-01-hybrid"
**Resource Provider**
IOTHub , AzureStack

**Description of Feature or Work Requested**
Azurestack recently added IotHub as one of the supported services. We have decided to add the IOTHub as part of the existing profile 2019-03-01-hybrid profile. 2019-03-01-hybrid profile for CLI does not include IOTHub. This request is to add the IOTHub part of the profile and add necessary conditions if needed

[2020-02-06 07:10] bim-msft commented on #10876
#11912 is another part, all BYOK changes will be released on Feb 18 officially.

[2020-02-06 07:10] #10876 closed

[2020-02-06 07:28] jongio opened #12070 "--output none still prints text."
**Describe the bug**

`az login --output none` produces this output

`You have logged in. Now let us find all the subscriptions to which you have access...`

It doesn't print the subs.

But it also shouldn't print the message above.

**To Reproduce**
Run the above command.

**Expected behavior**
Don't print anything, esp the message that it is trying to find subs.

If you need to leave You have lo

[2020-02-06 07:30] yonzhan commented on #12059
add to S166.

[2020-02-06 07:32] yonzhan commented on #12063
add to S166.

[2020-02-06 07:40] yonzhan commented on #12068
add to S166.

[2020-02-06 07:51] sondretj opened #12072 "'Create a rule for http to https redirect' - Example error."
When testing out the example the following error occurs:

"validation error: Parameter 'UrlPathMatchConditionParameters.operator' can not be None"

azure-cli 2.0.81

The only thing i've changed is the resource-group, profile-name, endpoint-name

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fef54fc4-b4a8-d366-40de-a0ae

[2020-02-06 08:18] zhoxing-ms commented on #12009
So this is implemented according to the Service design. Do you have any other questions? @ovidiu10

[2020-02-06 08:23] #6454 closed

[2020-02-06 08:57] jiasli commented on #2925
For Python applications, it is not a convention to display system information.

[code]

To open an issue, you may use `az feedback` which automatically generates the issue template with system information:

## Environment Summary
[code]

[2020-02-06 09:34] a-vishar commented on #11942
Resent.

[2020-02-06 10:30] #11988 closed

[2020-02-06 11:19] yonzhan commented on #12069
add to S166.

[2020-02-06 11:29] yonzhan commented on #12072
add to S166

[2020-02-06 12:51] djsowa commented on #11992
I see this documentation is already available. So this issue can be closed since documentation was all I want to solve ;)
Thanks.

[2020-02-06 12:51] #11992 closed

[2020-02-06 12:59] billpieper commented on #11965
Sounds like same behavior.  I am not running this from PowerShell ISE -- but rather trying to use in a stand-alone PowerShell script.  If you follow the same pattern of `$x = $(az .... pick your command here)` for any other az command $x will be populated with the results and it does not hang like it is doing when using az appconfig kv list.

[2020-02-06 13:36] edjwhho commented on #11825
same error on ubuntu:
azure-cli                         2.0.81
command-modules-nspkg              2.0.3
core                              2.0.81
nspkg                              3.0.4
telemetry                          1.0.4

[2020-02-06 14:48] sidroopdaska commented on #7616
Why do you folks make it so difficult to upload a directory to Azure Blob Service. The experience with AWS S3 is seamless and here I have wasted an hour to get this to work without any success. There are a dozen APIs some of which are deprecated, some don't work or report progress. UGh!

[2020-02-06 15:00] jluk commented on #11825
Thank you for the report, this looks like the same issue being reported on the separate issue below. We believe we've found the bug, goal of fix on the next cli release version 2.0.82.

https://github.com/Azure/azure-cli/issues/11456

[2020-02-06 16:55] derekmckinnon commented on #11867
Just hit the same problem as well, with LetsEncrypt certs in Key Vault in a different RG then the Web Apps.

It would be great to have `--key-vault-resource-group` option in order to get around this issue.

[2020-02-06 17:25] kylecweeks opened #12079 "--dns-servers"
When executing az network vnet create including --dns-servers the space-separated list is returned as invalid. It functions when submitted as an array.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc99d572-abdb-ab6b-7a9a-c6951a1c1466
* Version Independent ID: 0a50e966-cbc8-8960-c01f-e117cac842d4
* Content: [az networ

[2020-02-06 17:48] cpatterson26 opened #12081 "az apim create does not work"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim create -h`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim create`

## Expected Behavior

## Environment Summary
[code]
#

[2020-02-06 17:59] bmukes opened #12082 "cannot run az network firewall ip-config create using Azure CLI in powershell 6 Locally"
**Describe the bug**
cannot run _az network firewall ip-config create_ in powershell on local Windows 10 PC.  Error returned from the script is
**_request failed: Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /subscriptions/xxxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/Test-FW-RG/providers/Microsoft.Network

[2020-02-06 18:12] sumeetmittal opened #12083 "Include "EnableProxyProtocol" parameter to private-link-service create and update"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Network Resource Provider

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
Include "EnableProxyProtocol" parameter to private-link-service create and update
https://docs.microsoft.com/en-us/cli/azure/net

[2020-02-06 18:42] shenmuxiaosen commented on #11965
Yeah, I was suggesting that if running in PowerShell ISE works fine in your case, then we are hitting the same issue. Regarding to the root cause, I believe it is not due to ```appconfig``` command but the preview help message. It somehow change the background color or font color so we are not able to see it in terminal. But I tried to copy the block and paste in notepad, it actually returned some

[2020-02-06 19:01] shenmuxiaosen opened #12084 "Weird output in powershell for commands tagged as preview."
**Describe the bug**
When I run CLI preview commands in Powershell script, the output messed up. It returned a message "Command group is in preview. It may be changed/removed in a future release" as expected but followed by a black chunk. It looks like the command hanged but actually it has return value just not able to see it in terminal. When I copied and pasted to notepad, I can see the expecte

[2020-02-06 19:48] bnb opened #12085 "dx: Add more context around the `--subscription` flag in the `az account set` command."
**Is your feature request related to a problem? Please describe.**
Yes. When trying to figure out a subscription ID, I realized I was on the wrong subscription. Using `az account set`, I was trying to change my subscription to the one I was looking for and realized that I have no clue what the argument for the `--subscription` flag is.

**Describe the solution you'd like**
Have either an example o

[2020-02-06 19:49] bnb commented on #12085
Here's an example of what it currently spits out. The only indicator is "SUBSCRIPTION"
![image](https://user-images.githubusercontent.com/502396/73973055-b67bf680-48d6-11ea-851e-67280cbea22d.png)

[2020-02-06 19:57] pilor commented on #9067
@zhoxing-ms issue is fixed in the linked PR

[2020-02-06 19:59] bmukes commented on #12082
Another update.
I have a previously created resource group, firewall, vnet and correct subnet
AzureFirewallSubnet 172.20.216.0/26

I Tried to run az network firewall ip-config create on the firewall and getting the same error as mentioned in the previous post.  The difference is that I executed the command within the Cloud Shell in both BASH and PowerShell.
[code]

[2020-02-06 20:05] mamhh commented on #12051
Thanks a lot @jiasli , I can execute the command now

[2020-02-06 20:05] #12051 closed

[2020-02-06 21:36] barabo opened #12087 "no idea why this happened - pip installing azure-cli fixed it"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2020-02-06 21:37] ashamanx1 commented on #12067
An update: it works if you include '--source-type vm' but fails if you leave it out or use '--source-type image'

[2020-02-07 00:56] arrownj commented on #12079
Hi @MyronFanQiu , could you please help take a look at this ?

[2020-02-07 00:58] arrownj commented on #12070
Hi @jiasli , could you please help take a look at this ?

[2020-02-07 01:02] arrownj commented on #12081
@cpatterson26 , thanks for reporting, we are looking at it.

[2020-02-07 01:05] arrownj commented on #12082
Hi @MyronFanQiu , could you please help take a look at this ?

[2020-02-07 01:13] arrownj commented on #12083
Hi @MyronFanQiu , could you please help take a look at this ?

[2020-02-07 01:16] arrownj commented on #12084
Hi @jiasli , could you please help take a look at this ?

[2020-02-07 01:17] arrownj commented on #12085
Hi @jiasli , could you please help take a look at this ?

[2020-02-07 01:19] arrownj commented on #12087
@barabo , thanks for reporting, we are looking at this ?

[2020-02-07 01:22] MyronFanQiu commented on #12083
@sumeetmittal Hello. This has been down in this PR. https://github.com/Azure/azure-cli/pull/12021 thanks.

[2020-02-07 01:22] #12083 closed

[2020-02-07 02:28] jiasli commented on #12085
Hi @bnb, the error message only reviews the root cause itself. You may always use `-h` in every command like `az account set -h` to view the details about each parameter, which will tell you:

[code]

This is the convention of terminal applications, like `git pull -h`, `pip install -h`.

[2020-02-07 02:53] MyronFanQiu commented on #12072
@lsmith130 Hello. Can you take a look or help us find the correct person?

[2020-02-07 02:53] yonzhan commented on #12079
add to S166.

[2020-02-07 02:55] yonzhan commented on #12070
add to S166.

[2020-02-07 02:56] lsmith130 commented on #12072
@hytao can you take a look at this?

[2020-02-07 02:57] yonzhan commented on #12082
add to S166.

[2020-02-07 03:03] yonzhan commented on #12084
add to S166.

[2020-02-07 03:05] MyronFanQiu commented on #12082
@bmukes Hello. Let's confirm the problem.
1. running the full scripts within cloudshell in bash/powershell will success.
2. running the full scripts in local powershell will fail.
3. running the command with existed RG/Vnet/IP within cloudshell will fail.
Am I right?

[2020-02-07 03:09] yonzhan commented on #12085
add to S166.

[2020-02-07 03:56] jiasli commented on #11965
Thanks for reporting this issue. Let's move to #12084.

[2020-02-07 04:07] jiasli commented on #12084
Here is a similar screenshot of what is happening:

![](https://user-images.githubusercontent.com/4003950/66366994-ebc61580-e9c4-11e9-9764-8ef29a3257b9.png)

This is the same issue as #6080.

Root cause: https://github.com/Azure/azure-cli/issues/6080#issuecomment-542106546
Fix (TODO): https://github.com/Azure/azure-cli/issues/6080#issuecomment-561107810

[2020-02-07 04:12] jiasli commented on #12070
Similar to #10856.

`--output none` only works for `stdout`, while the message are actually written to `stderr`. We are evaluating whether to add `--no-warning` or `--quite` switch. @achandmsft

[2020-02-07 04:23] #2925 closed

[2020-02-07 04:23] #5134 closed

[2020-02-07 04:46] jiasli commented on #5017
I can't find `has_feedback` in the project anymore. Also after running `az feedback`, `~/.azure/config` is not changed.

But the point is correct, for private config like
[code]
ideally it shouldn't appear in user-configurable `config` file.

But since we already have a warning in the doc [CLI configuration values and environment variables](https://docs.microsoft.com/en-us/cli/azure/azure-cli-conf

[2020-02-07 04:46] #5017 closed

[2020-02-07 05:23] sobaner opened #12088 "CLI support for URL Rewrite in Application Gateway"
**Resource Provider**
What is the Azure resource provider your feature is part of?

NRP

**Description of Feature or Work Requested**
URL Rewrite refers to that action by the Application Gateway that replaces the original URL path with a new URL path while it routes the incoming request to the backend. Using URL Rewrite, user can use the App Gateway to rewrite request URL path before it is process

[2020-02-07 05:23] jiasli commented on #4884
I tested on an Azure VM running Ubuntu 18.04.4 LTS with the latest [Docker Engine - Community for Ubuntu](https://docs.docker.com/install/linux/docker-ce/ubuntu/) and followed [Run Azure CLI in a Docker container](https://docs.microsoft.com/en-us/cli/azure/run-azure-cli-docker?view=azure-cli-latest). `az login` works correctly.

`azuresdk/azure-cli-python` is not maintained anymore:

[code]

Pleas

[2020-02-07 05:23] #4884 closed

[2020-02-07 05:27] jiasli commented on #4813
Azure CLI 2.0 already supports auto-completion.

As https://github.com/stuartleeks/posh-azurecli is archived, closing this issue.

[2020-02-07 05:27] #4813 closed

[2020-02-07 06:00] na2ko-ucym opened #12089 "How to list policy assignments applied to management group."
I try to list policy assignments applied to management group.
&gt; $ az policy assignment list --scope /managementGroups/management-group-id

However, I get this error.
&gt; usage error `--scope`: must be a fully qualified ARM ID.

Could you tell me how to get the list ?

For your reference, I can list policy assignment applied to subscriptions.
&gt; $ az policy assignment list --scope /subscripti

[2020-02-07 06:46] danielbecroft opened #12090 "'az webapp create' with different resource group to plan"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
It is not possible to create a Web App in a different resource group to the App Service Plan. This functionality is possible in the Azure Portal UI.

Running `az webapp create` to create a webapp in a different resource group to the service plan results in an error message.

**Command Name**
`az webapp create`

[2020-02-07 07:14] yungezz commented on #12090
thanks for reporting the issue. we're looking at it.

[2020-02-07 07:44] yungezz commented on #12089
HI @jiasli could you pls have a look? thanks.

[2020-02-07 08:19] jiasli commented on #4182
I can repro with:

[code]

`35064` keeps running, which is the designed behavior of Linux that it doesn't forward `SIGTERM` to child processes.

As @troydai suggested, you may use `pkill -9 -P <PPID>` to kill the python process and the script will error out automatically:

http://manpages.ubuntu.com/manpages/bionic/man1/pgrep.1.html

[code]

Or you may change the `az` script directly so that it ca

[2020-02-07 08:19] #4182 closed

[2020-02-07 08:29] comrade-sre opened #12091 "az can't enable addons"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons --addons {}`

## Expected Behavior

## Environ

[2020-02-07 08:35] zhoxing-ms commented on #10714
This issue is related to asynchronous operation, asynchronous execution will be adopted for some time-consuming operations.
Usage documents of asynchronous API: [link](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/async-operations)

[2020-02-07 08:44] zhoxing-ms commented on #10714
@jurgyy What do you expect to return? Is the location URL returned when you manually request to create the API or the ValidationError returned when you send a GET request for the second time?

[2020-02-07 08:55] na2ko-ucym commented on #12089
I tried some pattern and found out that I can only list policy assignment applied to the current active subscription.

[2020-02-07 11:16] jiasli commented on #11099
Sorry for the delay as we are very heavily loaded recently.

From the error message:

[code]

We can see it reaches this line:

https://github.com/Azure/azure-cli/blob/c0e345c7719cf20898ad4257171557b8e7e4d955/src/azure-cli/azure/cli/command_modules/acs/custom.py#L2101

Apparently the program when into a step where user input is needed. As commands running in DevOps doesn't have a tty, this failure

[2020-02-07 11:27] daledev-uk opened #12092 "Creating event grid topic subscription to Azure Function"
I am trying to subscribe to one of my functions to topic events. Via the Azure portal, this can be done easily.

![](https://i.imgur.com/wjQG1XP.png)

The Advanced editor shows the config like so

[code]

However, when it comes to doing this via the Azure CLI, it doesn't seem possible. I've been reading documentation and try all kinds of variants and nothing seems to work.

The documentation from

[2020-02-07 11:51] yonzhan commented on #12089
add to S166.

[2020-02-07 11:51] saaj562 opened #12093 "Unable to download the Blob."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob download`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob download -f {} -c {} -n {} --account-name {}`

[2020-02-07 12:11] stmax82 commented on #5573
@EstebanSmits are you sure it's -e 'key:"value"'?

I had to replace the colon with an equals sign to make it work:

Trying to set:

`GF_DATABASE_URL=sqlite3://data/mygrafana.db?cache=private&mode=rwc&_journal_mode=WAL`

requires:

`-e 'GF_DATABASE_URL="sqlite3://data/mygrafana.db?cache=private&mode=rwc&_journal_mode=WAL"'`

[2020-02-07 12:13] jurgyy commented on #10714
@zhoxing-ms Due to the asynchronous nature of the problem I'd suppose the location URL would suffice and let the end user decide what to do with it. But not returning anything is undesired behavior in my opinion.

[2020-02-07 12:15] eriolchan opened #12094 "deploy specified folder in GitHub repository for webapp"
**Resource Provider**
WebApp

**Description of Feature or Work Requested**
When I use command "az webapp deployment source config" to deploy webapp from GitHub repository, is there any way to deploy the source code of specified folder instead of root of GitHub repository.

E.g. If I want to deploy the ChatRoom sample from this [link](https://github.com/aspnet/AzureSignalR-samples/tree/master/sampl

[2020-02-07 13:21] keriksson-rosenqvist commented on #8204
Is there a more general way of doing this, if you don't know the number of current serviceEndpoints?

[2020-02-07 13:32] zhoxing-ms commented on #10714
OK, I will submit a PR to fix it.
After that, you can get information about the header by using `--debug`, such as the location URL.

[2020-02-07 15:38] dalemyers opened #12097 "az functionapp update fails with Python error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp update -g {} -n {}`

## Expected Behavior

## Envir

[2020-02-07 16:59] jvanderbiest commented on #11867
Same here... I have a key vault that is used cross resource group because it contains the 1 wildcard certificate that I want to bind a number of apps in different resource groups :-(.

[2020-02-07 18:12] t3mi commented on #11871
Any updates on this?

[2020-02-07 18:42] TsuyoshiUshio commented on #12035
I had the same issue on an Azure Pipeline Mac hosted agent. It seems the same version.

[code]

[2020-02-07 20:17] para0056 opened #12099 "Limitation using ASG arguments"
According to the documentation, when using either the `--source-asgs` or `--desination-asgs `arguments, there is a limitation in that only one application group name or ID can be used.

Has this limitation been addressed?
If so, can the documentation be updated?

Thanks,
NP

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID

[2020-02-07 21:22] sputnik13 commented on #11973
fixed as of https://github.com/Azure/azure-cli/releases/tag/azure-cli-2.0.81

[2020-02-07 21:22] #11973 closed

[2020-02-07 22:33] Diastro opened #12101 "AKS Template deployment fails when providing a keyvault reference to the "servicePrincipalProfile" attribute."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When deploying an arm template for AKS, the "servicePrincipalProfile" cannot retrieve secrets from keyvault based on dynamic values (as described here : [Keyvault dynamic ids](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/key-vault-parameter?tabs=azure-cli)).

When providing the follow

[2020-02-08 02:12] #9442 closed

[2020-02-08 03:07] yungezz commented on #12101
HI @qwordy  could you pls help to have a look at this issue to see if it's feature related firstly? if no, but arm related, could you pls help to route the issue to @Juliehzl ? thanks a lot.

[2020-02-08 03:08] yungezz commented on #12099
thanks for reporting the issue. hi @MyronFanQiu could you pls help to have a look? thanks.

[2020-02-08 03:09] yungezz commented on #12097
thanks for reporting the issue. we'll look at it.

[2020-02-08 03:10] yungezz commented on #12094
thanks for reporting the issue. we'll look at it.

[2020-02-08 03:11] yungezz commented on #12093
hi @saaj562 which user you're when running the az command. From the error, seems it's permission issue to local dir.

[2020-02-08 03:12] yungezz commented on #12092
thanks for reporting the issue. we'll look at it.

[2020-02-08 03:13] yungezz commented on #12091
thanks for reporting the issue. we'll look at it.

[2020-02-08 03:35] yonzhan commented on #12099
add to S166.

[2020-02-08 03:39] yonzhan commented on #12093
add to S166.

[2020-02-08 04:44] jyennaco commented on #12042
Thanks so much! 😀

[2020-02-08 05:43] bim-msft commented on #11871
@t3mi This is a cross-tenants issue, I believe it's similar with #7607 , the parameter `--subscription` seems broken now as we are facing some complicated cross-tenants problems, please avoid using this parameter as a workaround. For more info, please refer to: #7902

[2020-02-08 05:59] bim-msft commented on #5146
I've checked the latest status of these 3 tests:
`test_keyvault_certificate_import` and `test_keyvault_certificate_download` works fine for me, now they can be re-recorded as well.
For `test_keyvault_softdelete`, there is still some chance of failure as we have to wait for service side's status. So we added a `time.sleep` for this, which can improve the possibility of recording success. When it is

[2020-02-08 05:59] #5146 closed

[2020-02-08 10:42] RachelChen3 commented on #9069
I got the same problem .... Any updates?

[2020-02-08 13:13] #11740 closed

[2020-02-08 13:18] fengzhou-msft commented on #11621
Close due to inactivity. Please feel free to reopen this issue if it still exists for you.

[2020-02-08 13:18] #11621 closed

[2020-02-08 13:20] fengzhou-msft commented on #11612
Close due to inactivity. Please feel free to reopen this issue if it still exists for you.

[2020-02-08 13:20] #11612 closed

[2020-02-08 13:27] fengzhou-msft commented on #6464
Previously we only update patch version for any changes in a regular release. We're about to change that. More context [here](https://github.com/Azure/azure-cli/blob/8e076bb75603115fa59cb2753e49f5a182613baf/doc/version_management.md).

[2020-02-08 13:27] #6464 closed

[2020-02-08 13:36] fengzhou-msft commented on #6710
Close old issues. We don't have active support for snap package at this moment.

[2020-02-08 13:36] #6710 closed

[2020-02-08 15:15] fengzhou-msft commented on #9781
RPM, Deb and Docker already use requirements.*.txt file now. MSI and Homebrew still use setup.py for dependencies. For pip, we can use `pip install -r requirements.txt`.

I will evaluate the work to change MSI and homebrew.

[2020-02-08 15:16] fengzhou-msft commented on #9781
add @haroldrandom to check CI and tests.

[2020-02-08 17:13] jluk commented on #12091
@comrade-sre the error shows you did not pass in all the required parameters. can you please retry by passing in a valid resource group and cluster name? Closing, but feel free to open a new issue if that again does not work.

[2020-02-08 17:13] #12091 closed

[2020-02-08 22:19] mamhh opened #12103 "Cannot execute command "az group deployment create" using an existing App Service Plan"
Dears,
I'm trying to execute the command `az group deployment create ...`  to deploy a bot to an existing app service plan using an ARM template. I get below error
`The specified app service plan was not found.`

Please advise ..

[2020-02-08 23:08] patriziotomato opened #12104 "'bool' object has no attribute 'provider'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list-runtimes`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list-runtimes --linux`

## Expected Behavior

## Envir

[2020-02-09 02:51] eriolchan commented on #12094
I think I find a solution that configure the WebApp appsettings with "PROJECT" to identify the source code folder. Please help confirm if this is the official recommendation.

[2020-02-09 05:27] krishjag opened #12105 "az login fails with Azure AD service principal and certain client secrets."
When attempting to login using az cli using Azure AD service princiapal, certain client secrets are causing errors.

Here's an example of a client secret that failed and the error message.

az login --service-principal --username <service_principal_application_id> --password "**-6fkdUrc:x-]M63JPPosVWJS47cWiiUX**" --tenant <azure_ad_tenant_id>

ERROR: az login: error: argument --password/-p: expect

[2020-02-09 08:55] Rodske commented on #11932
@dazinator & @MaximeRastello - Yes it would mount the share into c: as the folder name data. It's not creating a new drive for the mount.

[2020-02-09 13:22] #11662 closed

[2020-02-09 15:12] themorey opened #12107 "Error creating Key Vault using azcli from Cloud Shell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault create -n {} -g {} -l {} --enable-purge-protection {} --e

[2020-02-09 16:10] bnb commented on #12085
@jiasli definitely familiar with the `-h` flag, but it would nice if – like `git pull` in a non-repo and `pip install` without a requirement (see below) –  additional context that could lead the user to success 👍

Here's what `git pull` does in a non-git directory:

[code]

This is specifically useful since it gives you the specific context you need - the current directory and none of its parents

[2020-02-09 18:42] prfinnie opened #12108 "'az hack create' Issue encountered running lab @ https://github.com/microsoft/Reactors/tree/master/AI_1"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az hack create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az hack create --name {} --runtime {} --location {} -a{} --output {}`

##

[2020-02-09 20:53] yugangw-msft commented on #11836
please reactivate when you have a repro, thanks!

[2020-02-09 20:53] #11836 closed

[2020-02-09 20:54] yugangw-msft commented on #11355
@Wwwsylvia, please fix this

[2020-02-09 20:57] yugangw-msft commented on #8974
@Wwwsylvia, please fix this

[2020-02-10 00:06] torosent commented on #11099
@jluk  since `--yes` is already added to the command, this line shouldn't be reached.

[2020-02-10 00:30] hassanalbudairiqts opened #12109 "webapp: error in creating a new service plan"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create --resource-group {} --plan {} --name {} --runtime {} -

[2020-02-10 00:30] hassanalbudairiqts commented on #12055
Same issue, I tried to create a service plan using the following command
az webapp create --resource-group {} --plan {} --name {} --runtime "PHP|7.0" --deployment-local-git
and got the following error
update_site_config() takes 2 positional arguments but 3 were given

[2020-02-10 01:17] arrownj commented on #12103
Hi @zhoxing-ms , could you please help take a look at this ?

[2020-02-10 01:18] arrownj commented on #12104
@patriziotomato , thanks for reporting, we are looking at this ?

[2020-02-10 01:19] arrownj commented on #12105
Hi @jiasli , could you please help with this ?

[2020-02-10 01:19] arrownj commented on #12107
Hi @bim-msft , could you please help with this ?

[2020-02-10 01:22] arrownj commented on #12108
Hi @jsntcy , could you please help with this ?

[2020-02-10 01:22] arrownj commented on #12109
@hassanalbudairiqts , thanks for reporting, we are looking at this ?

[2020-02-10 01:34] fengzhou-msft commented on #8531
Added task in ADO.

[2020-02-10 01:34] #8531 closed

[2020-02-10 01:46] yonzhan commented on #12103
add to S166.

[2020-02-10 01:48] yonzhan commented on #12105
add to S166.

[2020-02-10 01:53] yonzhan commented on #12108
add to S166.

[2020-02-10 02:46] MyronFanQiu commented on #12099
@para0056 Hello. I checked the code and found that this limitation happened in server side. @malopMSFT Could you help us confirm that?

[2020-02-10 02:48] KjWhal opened #12110 "Trying to use azure shell - encountering [Errno 30] Read-only file system error"
I am attempting to follow along with: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/terraform-install-configure

On trying to set the subscription I am getting the following, and googling is providing several cases of other people asking the same question, without resolution. How do I resolve?

[Errno 30] Read-only file system: '/home/kevin/.azure/commands/2020-02-10.02-41-53.accou

[2020-02-10 02:50] MyronFanQiu commented on #12088
@sobaner Hello. Do you mean this part?

[2020-02-10 03:20] yonzhan commented on #12088
add to S166.

[2020-02-10 06:29] #11834 closed

[2020-02-10 06:46] Juliehzl commented on #12093
Hi @saaj562, can you check the permission for your local dir and if there is still a problem, please share the debug information with `--debug` in your command.

[2020-02-10 06:49] jiasli commented on #8047
@jonlorusso, using `HTTP_PROXY` and `HTTPS_PROXY` requires the proxy to work without authentication or with basic authentication. They don't work with NTLM authentication.

[2020-02-10 06:54] Drewm3 commented on #11035
It looks like the the API spec has been updated. So this should be available in an upcoming release of the CLI: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2019-07-01/compute.json

[2020-02-10 06:58] Drewm3 commented on #10980
Removing VMSS and ServiceAttention labels because this appears to be an issue with the az CLI as compared to a API issue.

[2020-02-10 07:08] jiasli commented on #8047
Due to the poor support of NTLM in Python community, this 407 issue has been mentioned in all 3 libraries which Azure CLI relies on: https://github.com/pypa/pip/issues/1182, https://github.com/psf/requests/issues/2036, https://github.com/urllib3/urllib3/issues/242

Adding [requests-ntlm](https://github.com/requests/requests-ntlm) in [msrest](https://github.com/Azure/msrest-for-python) is not pract

[2020-02-10 07:35] mayanknayar commented on #10400
@qwordy, per the last comment from heolri, the issue seems to have been resolved by removing #!/bin/bash from the script. Is there further action needed here?

[2020-02-10 07:52] iverberk commented on #10980
So you guys are saying that we can in fact add an application security group to a AKS nodepool vmss in an automated way? The API allows this? Could someone please provide a pointer on how to achieve this if you cannot use the default CLI command for this?

[2020-02-10 09:44] #10016 closed

[2020-02-10 09:48] hawkeyes0v0 opened #12114 "Creating PHP WebApp Fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create --resource-group {} --name {} --plan {} --runtime {} -

[2020-02-10 12:13] jiasli commented on #11908
It appears we are over-complicate things. Instead of letting **requests** dump headers by itself, why don't we dump for it? I have submitted PR #12117 to show the headers. @jongio, kindly let me know if the change suits your need.

[2020-02-10 12:41] celaus commented on #12035
Similarly on Linux:
[code]

I am not sure why it even uses different Python versions:

[code]

[2020-02-10 13:17] alex-goncharov opened #12119 "VMSS update failure AttributeError: 'NoneType' object has no attribute 'pop'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vmss update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vmss update --resource-group {} --name {} --remove {} {}`

## Expected

[2020-02-10 13:25] Kinjara commented on #11518
Sorry for the slow response; i have not tested it but you can close the ticket... Scope makes sense to use :)

[2020-02-10 13:25] #11518 closed

[2020-02-10 15:02] KjWhal commented on #12110
Tried again this morning - seems to work fine. A provisioning issue perhaps?

[2020-02-10 15:02] #12110 closed

[2020-02-10 15:07] KarenHammons commented on #10491
HI @PuffTMD, we are going to close this issue.  Please reach out if any additional questions remain.

[2020-02-10 15:07] #10491 closed

[2020-02-10 15:12] dajoen opened #12121 "webapp list-runtimes doesn't work after latest update of the azure cli."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list-runtimes`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list-runtimes --linux`

## Expected Behavior

## Envir

[2020-02-10 15:12] dajoen commented on #12121
Got the same error in Azure Cloud Shell.

[2020-02-10 15:51] bmukes commented on #12082
Yes confirmed

[2020-02-10 16:11] marinnedea opened #12122 "Powershell with Az CLI module on Linux - Unable to disable SSL Certificate check"
**Describe the bug**
If you need to pass with your az cli through a proxy/firewall that does SSL inspect, your SSL fingerprint will change and the system will see it as "self signed" instead of CA verified.

Now, in normal Az Cli , installed directly into Linux, you have the option to disable the SSL check.
Same goes when you install AzCli as a module inside PowerShell on Windows.

However, none o

[2020-02-10 16:12] bigdatamoore opened #12123 "Issue installing az cli extension"
**Describe the bug**
Error when installing az extensions on Windows

**To Reproduce**
- Download and Install az cli using Windows MSI installer on Windows 10.
- Try installing an extension
- Get the error: "Could not install packages due to an EnvironmentError."

**Expected behavior**
- Extension should install successfully.

**Environment summary**
Windows 10 install with MSI

**Manual Workaround

[2020-02-10 16:36] amrit143 commented on #8305
I'm facing the same problem while passing ssh private key as a build argument.
Any solution or workaround to solve it ?

[2020-02-10 16:38] zhoxing-ms commented on #11942
@a-vishar Thanks for the script you provided, which made me have a clear understanding of the whole process.
But the problem is a little complicated, may I ask if you have the log for the whole workflow? If there is any, please send it to me, thank you~

[2020-02-10 16:38] josiahls commented on #8305
Tried doing encoding / decoding base64 and still had formatting issues. The \n kept getting ignored. Opted to manually download rsa file and use that instead.

[2020-02-10 17:08] a-vishar commented on #11942
Sent.

On Mon, Feb 10, 2020 at 4:38 PM Xing Zhou <notifications@github.com> wrote:

[2020-02-10 17:32] malopMSFT commented on #12099
limitation still applies :)

[2020-02-10 18:17] connec opened #12124 ""az aks get-credentials" does not return exit code 3 when the cluster does not exist"
**Describe the bug**

The `az aks get-credentials` command errors with exit code 1 when no cluster exists with the given `--name`. https://github.com/Azure/azure-cli/issues/6612 suggests that all CLI commands should error with exist code 3 when the target resource is missing.

**To Reproduce**

Attempt to get credentials for a cluster that does not exist and observe that the exit code is 1:

[code

[2020-02-10 18:23] amrit143 commented on #8305
I tried building with docker build command and it ran successfully, so I re-tagged my docker image to acr registry name and then pushed it.
This could be the one of the workaround until acr build command supports complex value in build arg parameter.
What do you think about this approach ? @josiahls
How do you manage to solve ? @josiahlaivins

[2020-02-10 19:41] phuot opened #12125 "az webapp deployment source config-zip command often fail and always log warnings."
Az Cli version: 2.0.77

**Describe the bug**
When trying to use az webapp deployment we often have error and the deployment does not always complete.
It happen most of the time when deploying to a slot that has been created few seconds ago.
_more details in step to reproduce section_

**To Reproduce**
here is my creation workflow (in case other steps might be causing the issue):
[code]

sometime t

[2020-02-10 19:41] phuot commented on #11261
I have a very similar comment when trying to use az webapp deployment:
az webapp deployment source config-zip --resource-group $resourceGroupName --name $WebAppName --src $src --slot $slotName

It happen most of the time when deploying to a slot that has been created few seconds ago.

here is my creation workflow (in case other steps might be causing the issue):
[code]

note: I am using azure-cli

[2020-02-10 20:14] Drewm3 commented on #9871
The current behavior is a side-effect of the current implementation of VMSS. The NIC operations are serviced by the network resource provider while the determination of which instances will remain after over-provisioning is complete is handled by the compute resource provider. In an effort to optimize for create deployment time speed we complete the create API call as soon as we have the appropria

[2020-02-10 20:14] #9871 closed

[2020-02-10 20:43] BrainSlugs83 commented on #11891
Apologies for the long-wait, we were engaging with Azure support finally.

1. FYI: It looks like the original issue was not that the service was reporting 429 back to az.exe -- it was the AKS load balancer was encountering 429 issues on it's own -- and that was being reported to the az.exe tool. -- It's very odd though, since the deployment might succeed, with the load balancer in a good state, bu

[2020-02-10 21:49] hoff2-ACN commented on #12094
@eriolchan Adding an Application Setting named PROJECT pointing to the `.csproj` file also seems to be working for us. Thanks

[2020-02-10 22:01] joshsten commented on #3180
Also experiencing this.

[2020-02-10 22:02] MarcDenman opened #12126 "az vmss update --enable-terminate-notification failing"
## Describe the bug

**Command Name**
`az vmss update`

**Errors:**
[code]

## To Reproduce:

- `az vmss update --name {vmss} --resource-group {rg} --enable-terminate-notification --terminate-notification-time 8`

## Expected Behavior

To update the VMSS to have terminate notifications turned on and be set to 8 minutes

## Environment Summary
[code]
## Additional Context

[2020-02-10 22:48] davidbIQ commented on #7779
The problem with the +/- percentage is it varies alot if it's scaled at 2 units or 10 units, it would be nice to allow for a mechanism to reflect this.  i.e. if my thing is at 13 machines I want it to downscale if both memory & cpu fall below 80%, but I don't want that to happen if it's at 2 machines, I would want that number to be closer to 40%.  similarly the converse is true for the scale up.

[2020-02-10 22:52] sozercan opened #12127 "az aks get-credentials error with existing kubeconfig"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

-  Have ~/.kube/config with following contents:
[code]
- `az aks get-credentials -n $RESOURCE_NAME -g $RESOU

[2020-02-11 00:03] josiahls commented on #8305
@amrit143 I think your way is about as good as mine. I did try docker build a while back and it succeeded. Best way might be avoiding acr build and just build docker, use build-args, then push to azure container registry. My solution for using acr was to have a script that downloads the rsa key as a file then have a dockerfile add that file.

So basically, your solution is likely the most elagant.

[2020-02-11 01:14] arrownj commented on #12114
@hawkeyes0v0 , thanks for reporting, we are looking at it.

[2020-02-11 01:15] arrownj commented on #12119
@alex-goncharov , thanks for reporting, we are looking at this.

[2020-02-11 01:16] arrownj commented on #12121
@dajoen , thanks for reporting, we are looking at this.

[2020-02-11 01:20] arrownj commented on #12122
Hi @jiasli , could you please help with this ?

[2020-02-11 01:20] arrownj commented on #12123
Hi @jsntcy , could you please help with this ?

[2020-02-11 01:21] arrownj commented on #12124
@connec , thanks for reporting, we are looking at this.

[2020-02-11 01:22] arrownj commented on #12125
@phuot , thanks for reporting, we are looking at this.

[2020-02-11 01:23] arrownj commented on #12126
@MarcDenman , thanks for reporting, we are looking at this.

[2020-02-11 01:24] arrownj commented on #12127
@sozercan , thanks for reporting, we are looking at this.

[2020-02-11 01:31] arrownj commented on #12042
Hi @Azure/aks-pm , could you please help with this issue ? Seems there are several similar issues about this recently.

[2020-02-11 01:47] jluk commented on #12042
@sauryadas do you know if 2019-11-01 is supported in US Gov? The error seems to say no, sounds like we might need to rev new API version compat for sovereign clouds.

[2020-02-11 02:24] #11868 closed

[2020-02-11 02:28] jsntcy commented on #11583
This feature was already released in [Azure CLI 2.0.81](https://docs.microsoft.com/en-us/cli/azure/storage/share-rm?view=azure-cli-latest).

[2020-02-11 03:20] #12068 closed

[2020-02-11 03:35] goodwillhacking commented on #12046
@uda This was bugging me too. As a temporary fix in az.completion.sh - comment out the
`echo 'Enabling ZSH compatibility mode';
`
Assuming az is installed in /opt/ - the file will be in /opt/az/bin
I am on Ubuntu 18.0.4
Hope this helps

![image](https://user-images.githubusercontent.com/3004543/74209103-ef57fa80-4c4b-11ea-8ba8-1539c8866120.png)

[2020-02-11 05:04] rosanch opened #12130 "az storage blob copy start-batch: error: not enough values to unpack (expected 2, got 1)"
**Describe the bug**
I'm trying to copy files from different clouds my command looks as follows:
 az storage blob copy start-batch --account-key <dest-key> --account-name <dest-name> --destination-container <dest-container-name> --source-sas <SAS-Token> --source-uri <container-source-uri>
I'm currently connected to destination cloud

**To Reproduce**
run in a sovereign cloud and try to copy files

[2020-02-11 06:08] zhoxing-ms commented on #5587
@aku105 Could you please install the latest version of azure-cli(2.0.81) and try using `az find "redis"` to solve your problem? If you still hava some problems, please feel free to let us know.

[2020-02-11 06:36] joshtriplett commented on #7387
Following up on this. I'd love to see azure-cli packages that work with the system Python. Is this still being worked on?

[2020-02-11 06:39] Juliehzl commented on #12130
Hi @rosanch, because your scenario is a little complicated and we need some time to reproduce for different clouds, can you show me your debug information first with `--debug` in your command?
Secondly, can you try `az storage copy` command with latest azure cli?

[2020-02-11 07:37] karataliu commented on #12042
'2019-11-01' is available in US Gov now, please retry.

[2020-02-11 07:41] bim-msft commented on #12107
Duplicate with #11779
@themorey As a workaround, you may manually run az login or use a local installed Azure CLI to get unblocked.

[2020-02-11 07:49] bim-msft commented on #11975
@CJavierSaldana Yea, we are facing lots of network connectivity issues caused by other teams or environment. Sorry for the inconvenience. Retry and switch between different clients (Cloud shell or Windows terminal) can always be a practical workaround.

[2020-02-11 07:50] bim-msft commented on #11975
Issue closed. If you have any other question, feel free to reopen it.

[2020-02-11 07:50] #11975 closed

[2020-02-11 08:22] MarcDenman commented on #12126
After investigating further, running

[code]

[2020-02-11 10:22] ARCHIMEDES25 opened #12131 "az lock delete does not work on Microsoft.DocumentDB"
Azure CLI "az lock delete" command does not seem to work on `providers/Microsoft.DocumentDB`

In my specific scenario, the locks are created for the collections within a cosmos db, when I try to delete the lock as below:

`az lock delete --ids /subscriptions/mySubcription/resourcegroups/myRG/providers/Microsoft.DocumentDB/databaseAccounts/myDB/apis/mongodb/databases/myCollection/providers/Microsof

[2020-02-11 10:39] yungezz opened #12132 "az keyvault rbac change"
**Describe the bug**
A clear and concise description of what the bug is.
RBAC feature in azure keyvault is depending on swagger new property `enable-rbac-authoriazation`, the swagger is not ready yet. create the issue to track the effort to work to call into SDK for rbac.

same story for BYOK create key importing.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear an

[2020-02-11 10:40] yungezz commented on #12132
put in backlog for now since no determined timeline yet.

[2020-02-11 10:58] aku105 commented on #5587
Yeah, this seems to be working for me now. Tried multiple search strings and I got no errors this time around.

[2020-02-11 10:58] #5587 closed

[2020-02-11 11:26] yonzhan commented on #12122
add to S166.

[2020-02-11 11:29] yonzhan commented on #12123
add to S166.

[2020-02-11 12:05] jiasli commented on #12122
Python uses its own certificate store instead of the systems. We have polished the error with https://github.com/Azure/azure-cli/pull/11093

Please check this doc and see if you can get unblocked: https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy

[2020-02-11 12:14] jiasli commented on #10236
It doesn't look like storage data-plane SDK is willing to support disabling SSL verification. We have to change `site-packages\certifi\cacert.pem` or `REQUESTS_CA_BUNDLE` to make it work.

[2020-02-11 12:14] #10236 closed

[2020-02-11 12:22] qwordy commented on #11767
Hi service team, could you help confirm and fix the data inconsistency problem?
In Azure CLI,
Step 1. use `client.virtual_machine_images.list_publishers(location)` to get publishers
Step 2. use `client.virtual_machine_images.list_offers(location, publisher)` to get offers
Step 3, 4, ...

Step 2 fails for some publishers retrieved from step 1

[2020-02-11 12:31] qwordy commented on #11767
I wrote a patch for this problem.

[2020-02-11 13:14] pczar1 commented on #9867
Any update here related to create budget from arm template? I get the error described in a subject when running ARM, however creating budget and costs alert from portal works for that subscription with no issue.

[2020-02-11 13:19] sunib commented on #9382
Is there any progress on this? I'm noticing the same behavior. Creating the resource works fine, but it's sadly enough not idempotent due to this behavior.

My output of `az -v`

[code]

[2020-02-11 13:29] zhoxing-ms commented on #11942
@a-vishar This issue is mainly caused by two factors:

1. After executing `az resource move`, there is an interval between the status update time of Resource(S1) and the status update time of Resource Group(R1).
It took a long time after Resource(S1) completed the migration before the status of the Resource Group(R1) changed from "MovingResources" to "Succeeded".

2. The operation of moving Resour

[2020-02-11 13:29] zhoxing-ms commented on #11942
As for the reason that there is no problem on portal:
The Resource attribution refresh on the GUI is based on the refresh of Resource Group status, so when we delete the Resource Group, the Resource Group is already in the state of "Succeeded".

[2020-02-11 13:41] zhoxing-ms commented on #11942
Service Doc: [link](https://docs.microsoft.com/en-us/rest/api/resources/resources/moveresources)
When moving a Resource, why does the Resource update first, and then it will take a long time before the status of the Resource Group changes from "MovingResources" to "Succeeded"?
Could you take a look? @Tiano2017

[2020-02-11 14:45] happyiphone commented on #11981
Any news on this? I need to be able to use this command or an alternative for it. Any help on this will be highly appreciated. thanks!

[2020-02-11 15:50] contento opened #12135 "az webapp up -n MyApp => unable to publish to Linux App Service"
azure-cli                         2.0.81
command-modules-nspkg              2.0.3
core                              2.0.81
nspkg                              3.0.4
telemetry                          1.0.4

**Describe the bug**
az webapp fails to deploy .NET Core API as  Linux App Service

**To Reproduce**
az webapp up -n MyApp

Renders:
The webapp MyApp is a Linux app. The code detected at 'C:\Pro

[2020-02-11 16:09] bim-msft commented on #11038
PR merged, will release on Feb 18.

[2020-02-11 16:09] #11038 closed

[2020-02-11 16:10] jluk commented on #12042
Closing as this looks resolved according to @karataliu - please comment if this is not the case though.

[2020-02-11 16:10] #12042 closed

[2020-02-11 17:22] ramniwaschaurasiaTR opened #12136 "Login with user managed identity fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --identity -u {}`

## Expected Behavior

## Environment Summary
[code]

[2020-02-11 17:25] pragnagopa commented on #11257
@ankitkumarr - please prioritize this work item as backend changes are now deployed as part of ANT86.2

[2020-02-11 17:52] nikunjrc-azcli commented on #12125
I am also facing same issue while deploying zip thru az cli....

[2020-02-11 19:18] dmprantz opened #12137 "az ad app grants not working or usable as expected"
**Describe the bug**
"az ad app permission grant" only seems to grant a single scope.  If I call it successive times, the existing scope is overwritten.  This behaviour is not clearly documented, nor is the way to grant. multiple scopes.

"az ad app permission admin-consent" appears to be non-functional.  How can admin consent be granted without three key pieces of information, AppID, APIID, and S

[2020-02-11 19:26] lsmith130 commented on #12072
@sondretj, could you please provide the full command you're executing? Feel free to redact the resource group, profile, and endpoint names from the command.

[2020-02-11 19:46] oomichi opened #12138 ""az aks create" is failed due to failing to encode character u'\u2018'"
## Describe the bug

"az aks create" command was failed like the following:

**Command Name**
`az aks create`

**Errors:**
[code]

**Version**
I believe az command is the latest at this time:
[code]

[2020-02-11 20:57] dpippert opened #12141 "az webapp create-remote-connection SSL certificate error"
![cert_error](https://user-images.githubusercontent.com/7669192/74278330-0bf54080-4ce7-11ea-92b2-2974a5d5e596.png)

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create-remote-connection`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sens

[2020-02-11 21:04] a-vishar commented on #9967
Any resolution to this? This is currently causing our build pipelines to fail transiently...

[2020-02-11 21:04] david618 opened #12142 "az aks upgrade still prompts for confirmation even when -y or --yes specified"
**Describe the bug**
When we run

[code]

 When we add the -y or --yes

[code]
It gets up past this first yes; then wait at another prompt.

Then either

[code]
or

[code]

**To Reproduce**
Run az aks upgrade on a cluster with the -y or --yes option.

**Expected behavior**
If -y or --yes is provided; the upgrade should proceed without prompts.

**Environment summary**
Install Method
- Ubuntu: apt-

[2020-02-11 21:41] mikew1927 commented on #12109
I also have this problem - during the follow learning lab:
https://docs.microsoft.com/en-us/learn/modules/load-balance-web-traffic-with-application-gateway/3-exercise-create-web-sites
Section "Create App Service and deploy the license renewal site"
Step 3.

[2020-02-11 22:18] ahamad-MS commented on #12092
Hello @daledev-uk  Thanks for reaching out.

AzureFunction as destination is supported in CLI through the event grid extension version 0.4.4 as this still in Preview. It will become part of mainsteam CLI soon.

To use the extension, please follow these steps:

1. Please make sure you remove any older eventgrid extension by running this command
@Azure:~$ az extension remove --n eventgrid

2. Make s

[2020-02-11 22:18] ahamad-MS commented on #12092
Please let us know if you are hitting any additional issue. Closing this issue as addressed.

[2020-02-11 22:18] #12092 closed

[2020-02-11 23:30] adlangx commented on #11924
Application Service principals also cannot have ownership apparently.

The reference target '<OWNER_OBJECT_ID>' of type 'Application' is invalid for the 'owners' reference.

[2020-02-11 23:46] happyiphone opened #12143 "az resource create --properties not accepting JSON"
**Describe the bug**
Run the example on [`az resource create`](https://docs.microsoft.com/en-us/cli/azure/resource?view=azure-cli-latest#az-resource-create)  and it will fail.

[code]

[code]
**To Reproduce**
Just the above line of code will fail, it won't even check the existance of the resource group or the other parameters.

**Expected behavior**
Parse the JSON passed so it can read the default

[2020-02-12 00:03] winthrop28 opened #12144 "Azure CLI support for Per-Site and Per URI WAF Policies"
**Resource Provider**
Network

**Description of Feature or Work Requested**
Global WAF Policies already exist. This feature is now being extended to apply to Application Gateway Listeners for per-site coverage, and to URL Path Maps for per-URI coverage.

**Minimum API Version Required**
2019-09-01

**Swagger Link**
App GW:https://github.com/Azure/azure-rest-api-specs/blob/master/specification/netw

[2020-02-12 00:03] winthrop28 commented on #12144
We also need to Add GeoMatch custom rule support and the Bot Mitigation ruleset for Application Gateway WAF. Let me know if I should create another request or if we can just use this one.

[2020-02-12 01:23] arrownj commented on #12135
@contento , thanks for reporting, we are looking at it.

[2020-02-12 01:24] arrownj commented on #12136
@jiasli , could you please help take a look at this ?

[2020-02-12 01:26] arrownj commented on #12137
Hi @jiasli , could you please help take a look at this ?

[2020-02-12 01:27] arrownj commented on #12138
@oomichi , thanks for reporting, we are looking at this.

[2020-02-12 01:27] arrownj commented on #12141
@dpippert , thanks for reporting, we are looking at this.

[2020-02-12 01:28] arrownj commented on #12142
@david618 , thanks for reporting, we are looking at this.

[2020-02-12 01:29] arrownj commented on #12143
Hi @zhoxing-ms , could you please help take a look at this ?

[2020-02-12 01:30] arrownj commented on #12144
@MyronFanQiu , could you please help take a look at this?

[2020-02-12 01:50] yonzhan commented on #12136
add to S166.

[2020-02-12 01:52] yonzhan commented on #12137
add to S166.

[2020-02-12 02:01] yonzhan commented on #12143
add to S166.

[2020-02-12 02:04] yonzhan commented on #12144
@winthrop28 it is better that you can create a separate one.

[2020-02-12 02:04] yonzhan commented on #12144
add to S166.

[2020-02-12 03:53] zhoxing-ms commented on #12089
@na2ko-ucym Hi, this is a known issue. It's the same problem as https://github.com/Azure/azure-cli/issues/9067 and the relevant team is repairing.

[2020-02-12 06:45] seanmck commented on #11997
Yes. The extension in question is not in this repo yet, so closing.

[2020-02-12 06:45] #11997 closed

[2020-02-12 07:12] #12026 closed

[2020-02-12 07:16] Juliehzl opened #12147 "[Storage] Support PITR (point in time restore) in SRP"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Storage

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.

`Point in Time restore helps to undo (block blob) changes until the time that is deemed to be good (like the time before the last deployment). Po

[2020-02-12 07:16] Juliehzl commented on #12147
Requested by service team.

[2020-02-12 07:43] #7878 closed

[2020-02-12 07:48] #11206 closed

[2020-02-12 07:48] #11362 closed

[2020-02-12 07:54] jiasli commented on #2935
Thanks for the feedback. This feature has been implemented in https://github.com/Azure/azure-cli/pull/9210: now available as `az configure --list-defaults`. Run `az configure -h` for more details.

[2020-02-12 07:55] #2935 closed

[2020-02-12 08:17] marinnedea commented on #12122
@jiasli that make sense when running AzCli directly in Linux or when running in through PowerShell on Windows.

The issue is when running **AzCli through PowerShell on Linux**

[2020-02-12 08:19] titombo opened #12148 "Command az webapp list-runtimes"
When I run the following command:

az webapp list-runtimes

I get the error below

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list-runtimes`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite

[2020-02-12 09:28] stefan-stojkovski opened #12150 "webapp: Please make a command that accepts SubnetId for Vnet itegration"
Hi,
Currently the az webapp vnet-integration add only supports specifying Vnet Name and Subnet Name.
It would be nice if you can add support for SubnetId as this is the case for most of the other Azure Services.
Also it is not clear which Resource Group to specify, either that where the WebApp is located, or the RG where the Vnet is located. This can be described more clearly
Kind regards,
Stefan

[2020-02-12 10:04] zincob commented on #11594
When should we expect to get a fix on this issue?

[2020-02-12 10:53] sayak1711 commented on #12138
Facing same issue

[2020-02-12 11:12] yonzhan commented on #12147
add to S165.

[2020-02-12 12:10] feksai opened #12152 "Unable to enable https on custom domain for a CDN endpoint after upgrading to az cli 2.0.81"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When I try to enable https for custom domain on cdn endpoint I get error

**Command Name**
`az cdn custom-domain enable-https`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite

[2020-02-12 12:12] feksai commented on #12152
Attaching debug information
[code]

[2020-02-12 12:19] feksai commented on #12152
I noticed in debug information that request budy is empty
[code]
But when I enable https on custom domain on Azure Portal I see that browser sends request on
[code]
with body
[code]

[2020-02-12 12:25] feksai commented on #12152
One more fact: same request with api-version=2017-04-02 using empty body is allowed

[2020-02-12 12:38] stan-sz opened #12153 "--policy parameter in the create command is a required one"
When running the command without the --policy parameter, we get:

`validation error: Parameter 'ManagementPolicy.policy' can not be None.`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f84b325-33af-86ab-749e-faec2e01a1f3
* Version Independent ID: 87036460-df59-9239-680d-29c68a0490bb
* Content: [az storage account man

[2020-02-12 12:58] jiasli commented on #12122
I am not aware of such "AzCli module" and we don't have the `az connect` command. For Azure CLI, it is `az login`. For PowerShell, it is `Connect-AzAccount`.

Could you elaborate:

1. How you installed "AzCli module"
2. How you disabled certificate check
3. What the error message is

[2020-02-12 13:05] feksai commented on #12152
Workaround solution is to replace this code
[code]
by this
[code]
Note that $(..) is tfs specific variables in my case

[2020-02-12 13:37] oasalonen commented on #12104
Same issue here. Just updated to az 2.0.81.

[code]

[2020-02-12 13:40] cuxtud opened #12157 "Azure APIM List failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim list`

## Expected Behavior

## Environment Summary
[code]
## Addit

[2020-02-12 14:13] arrownj commented on #12148
@titombo , thanks for reporting, we are looking at it.

[2020-02-12 14:14] arrownj commented on #12150
@stefan-stojkovski , thanks for reporting, we are looking at it.

[2020-02-12 14:17] arrownj commented on #12152
Hi @Juliehzl , could you please help take a look at it ?

[2020-02-12 14:18] dalemyers commented on #12097
This was caused by not having a default subscription set.

[2020-02-12 14:18] #12097 closed

[2020-02-12 14:18] jacekmackiewicz opened #12158 "--attach-acr is inconsistent"
Depending on using the --attach-acr parameter with az aks create or az aks update we're supposed to use registry ID or only the name. For both the parameter description points to using the registry ID but the example of az aks update says to use the name of acr.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d75c3a8d-1

[2020-02-12 14:19] arrownj commented on #12153
Hi @Juliehzl , could you please help take a look at it ?

[2020-02-12 14:20] arrownj commented on #12157
@cuxtud  , thanks for reporting, we are looking at it.

[2020-02-12 14:24] arrownj commented on #12158
@jacekmackiewicz , thanks for reporting, we are looking at it.

[2020-02-12 14:42] larryclaman opened #12159 "az webapp list-runtimes"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list-runtimes`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list-runtimes`

## Expected Behavior

## Environment S

[2020-02-12 14:45] ynguyenluat opened #12160 "az webapp list-runtimes error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list-runtimes`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list-runtimes --linux --output {}`

## Expected Behavi

[2020-02-12 14:49] RoyKimYYZ commented on #10345
This issue is still happening with kubernetes cluster version 1.16.4. I was able to load k8s dashboard with the workaround mentioned and updated by az CLI. Is this an issue on the service side?

[2020-02-12 15:18] sauryadas commented on #12158
in both the instance the description is : Grant the 'acrpull' role assignment to the ACR
                                                specified by name or resource ID.

Can you point to the specific example? Also what version of CLI are you on?

[2020-02-12 15:22] yonzhan commented on #12152
add to S166.

[2020-02-12 15:48] rmtier opened #12163 "Cannot create custom alerts trought az"
Same issue was closed #9640, but it looks like its not working. I am using azure-cli 2.0.81.
Non of whis works:

az monitor metrics alert create -n xxx -g xxxx --scopes "/subscriptions/xxxx/resourceGroups/xxxx/providers/Microsoft.Insights/components/Insights" --condition "avg 'Azure.ApplicationInsights.xxx/Failed' > 10" --description "xxxx"

az monitor metrics alert create -n xxx -g xxxx --scopes

[2020-02-12 16:00] PhilippJust commented on #9522
I tried to directly use the RestApi as a workaround.
## Observation 1 - Rest Api V1.6 doesn't work
Using a PATCH request on `https://graph.windows.net/myorganization/applications/{app-id}?api-version=1.6` I receive exactly the error message the original poster observed.
So it is only partially the CLI's fault....

## Observation 2 - Rest Api V2.0 is accessible for users but not for Service Princip

[2020-02-12 16:14] marinnedea commented on #12122
@jiasli  - finally, you asked the right questions, which made me realize how wrong I was. Thank you!

I was confusing Az Cli with the "Az" module from PowerShell, which is actually the newest PowerShell module for Azure and has nothing to do with the Az Cli.
The confusion was due to the fact I had Az Cli installed on the same system, and it works even if it's called from the pwsh shell (which is n

[2020-02-12 16:38] sayak1711 commented on #12138
I managed to resolve it after uninstalling and reinstalling azure cli from [here](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest). Then I reinstalled kubectl. Then all worked fine.

[2020-02-12 16:49] jstott opened #12164 "az webapp list-runtimes fails"
**Command Name**
`az webapp list-runtimes`

**Errors:**
[code]

## To Reproduce:

- `az webapp list-runtimes --linux`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-02-12 17:20] gnadaraj-coder commented on #7746
if both Vnet in same resource group then the above command will work if the both Vnet is in different resource group then you have to use --remote-vnet-id of the Hub01-vnet. you can get this from vnet properties

[2020-02-12 18:56] oomichi commented on #12138
I confirmed I don't face this issue with multiple creations of AKS cluster at this time.
I am not sure the reason, the Azure stops to return a response which includes invalid string?

[2020-02-12 19:03] ap-bansal opened #12165 "Create repo with a README using AZ CLI, and return the current commit id"
**AZ Repos Create Feature request**
- I cannot create repos with an initial readme, when I use az repos create command.
- An optional flag to create the repo with a README, would be really helpful. The command after running should also return the commit-id on the command line.
Please add this functionality.
- The main point of having this is cloning this repo with a README, and not totally empty.

[2020-02-12 19:06] anweiss commented on #8974
This would also address the use of the `az acr helm ... ` commands using the official Docker images. At the moment, you can't run `az acr helm ...` commands using the `mcr.microsoft.com/azure-cli` images, which subsequently prevents one from using these commands with the official GitHub Action for the Azure CLI (https://github.com/Azure/cli).

[2020-02-12 22:29] arinmupenn commented on #11555
I am using the following

az version:

az --version
azure-cli                         2.0.81

command-modules-nspkg              2.0.3
core                              2.0.81
nspkg                              3.0.4
telemetry                          1.0.4

Python location '/usr/local/Cellar/azure-cli/2.0.81/libexec/bin/python'
Extensions directory '/Users/arindammukherjee/.azure/cliextensions'

[2020-02-13 00:22] yonzhan commented on #12153
add to S166.

[2020-02-13 01:08] #12122 closed

[2020-02-13 01:10] cloudmelon opened #12166 "az aks create unrecognized arguments: --vm-set-type VirtualMachineScaleSets"
**Describe the bug**
Tested in linux VM and CloudShell unrecognized arguments: --vm-set-type VirtualMachineScaleSets

az: error: unrecognized arguments: --vm-set-type VirtualMachineScaleSets --load-balancer-sku standard

![image](https://user-images.githubusercontent.com/4621560/74391877-5963d180-4dfd-11ea-8512-6dce365d4bea.png)

**To Reproduce**
Steps to reproduce the behavior.
Go to Linux VM or

[2020-02-13 01:41] arrownj commented on #12159
@larryclaman , thanks for reporting, we are looking at it.

[2020-02-13 01:48] arrownj commented on #12159
Hi @panchagnula , could you please help with this ? There are several similar issues recently(#12159, #12160 , #12164 )

[2020-02-13 01:49] panchagnula commented on #12159
@arrownj i will take a look - this seems like a regression from the hybrid profile support change.

[2020-02-13 01:50] arrownj commented on #12160
@ynguyenluat , thanks for reporting, we are looking at it. And please kindly be noted that is issue is similar to #12159.

[2020-02-13 01:52] arrownj commented on #12164
@jstott , thanks for reporting, we are looking at it. And please kindly be noted that this issue is similar to #12159.

[2020-02-13 01:54] arrownj commented on #12163
Hi @MyronFanQiu , could you please help take a look at it ?

[2020-02-13 01:59] arrownj commented on #12166
@cloudmelon , thanks for reporting, we are looking at it.

[2020-02-13 02:16] yonzhan commented on #12163
add to S166.

[2020-02-13 02:20] zhoxing-ms commented on #11981
@happyiphone Thanks for your feedback, It seems that example is not friendly to users, I will submit a PR to improve it

[2020-02-13 03:03] zhoxing-ms commented on #11981
@happyiphone For the `az resource create` command, please use like this:
`az resource create -g myRG -n myApiApp --resource-type Microsoft.web/sites --is-full-object --properties "{ \"kind\": \"api\", \"location\": \"West US\", \"properties\": { \"serverFarmId\": \"/subscriptions/{SubID}/resourcegroups/{ResourceGroup}/providers/Microsoft.Web/serverfarms/{ServicePlan}\" } }"`

[2020-02-13 03:14] arrownj commented on #12165
Hi @gauravsaralMs , could you please help with this devops extension issue?

[2020-02-13 03:34] #9432 closed

[2020-02-13 03:59] #10728 closed

[2020-02-13 06:07] Juliehzl commented on #12101
@Diastro I have tried with the template you provide and there is no problem to me. Please make sure the parameter values you provided correct, especially service principal information.
What I provided here is my service principal application id for servicePrincipalClientId and password for servicePrincipalClientSecret. I also provide sshPublicKeys and others.

Can you check your parameter again? A

[2020-02-13 07:33] rajaprad commented on #10741
@juhee0202  @yonzhan  - Is this getting addressed. This is making things to be manual and a stopper for automation : any update is greatly appreciated

[2020-02-13 07:47] #11349 closed

[2020-02-13 07:47] #11364 closed

[2020-02-13 07:47] #11813 closed

[2020-02-13 08:33] #12159 closed

[2020-02-13 09:20] Timost commented on #9444
Stumbled on this issue too...

Seeing this issue has been left unattended, if anyone stumbles on this and was previously using the `--connection-string` parameter of `batch-download` and now needs to use the `az storage copy` command to have something working, it seems one can use the `AZURE_STORAGE_CONNECTION_STRING` envvar to have something that works.

[2020-02-13 09:47] alexis-landrieu-avanade opened #12175 ""az container start" should provide "--attach" as an optional parameter"
**Is your feature request related to a problem? No**

**Describe the solution you'd like**
Be able to attach local standard input, output, and error streams to a starting container.

[code]

**Describe alternatives you've considered**
For now we are using these following command lines

[code]
**Additional context**
This parameter is already available in Docker CLI : [docker start](https://docs.doc

[2020-02-13 09:54] MyronFanQiu commented on #12152
@lsmith130 hello. could you take a look at this issue?

[2020-02-13 09:55] Chibuzor27 opened #12176 "Error getting token for azure in vs"
I get this error when trying to run my function code in vs

It breaks at this point
builder.AddAzureKeyVault(
                    $"https://{builtConfig[KeyVaultName]}.vault.azure.net/",
                    keyVaultClient,
                    new DefaultKeyVaultSecretManager());
builder.Build();

Microsoft.Azure.Services.AppAuthentication.AzureServiceTokenProviderException: 'Parameters: Connection

[2020-02-13 10:17] manoj-murali opened #12177 "Az image copy extension fails while creating snapshot from Source blob uri"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
**Az image copy extension fails while creating snapshot from Source blob uri.
I see this was fixed in release https://github.com/Azure/azure-cli-extensions/pull/1211  version 0.2.3  I reinstalled the extension still have the same issue**
### Error:
 _source_os_disk_type: BLOB. source_os_disk_id: https://amitcsd

[2020-02-13 10:34] jiasli commented on #12122
Glad to know you are able to solve it. 😃

[2020-02-13 10:55] alexis-landrieu-avanade opened #12178 ""az container attach" doesn't writing in the stderr"
**Describe the bug**
Exit code is not well returned through the stderr when ```az container --attach``` is used.

**To Reproduce**
Steps to reproduce the behavior.

1. Create simple docker image:
[code]

2. Push the image to an ACR or any other image registry.
3. Start your container with Azure CLI.
[code]
Exit code must be 1 instead of 0.

**Expected behavior**
If you make the same scenario throu

[2020-02-13 11:23] TomBonnerAtTFL opened #12179 "Edge url results in 404"
**Describe the bug**
In `README.md`, the information for Edge builds uses the URL "https://azurecliprod.blob.core.windows.net/edge", which results now at a 404 (Blob not found).

**To Reproduce**
Try run follow the steps in "Edge Builds" `pip3 install --pre azure-cli --extra-index-url https://azurecliprod.blob.core.windows.net/edge --upgrade-strategy=eager`, the output error should be:

[code]

**

[2020-02-13 11:30] TomBonnerAtTFL commented on #12057
Hi @arrownj, is there any way to roll-back a version of Az-cli? Our CI pipeline is using the latest and it's now blocking our release.

[2020-02-13 11:30] stmax82 opened #12180 "az container exec cursor keys don't work"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When I log into a container's shell (bash or similar) cursor keys don't work. Makes it impossible to use text editors like vi, nano,...

**Command Name**
`az container exec --exec-command bash`

**Errors:**

This is what I get when I press up / down / left / right cursor keys...:

![image](https://user-images.

[2020-02-13 13:05] TomBonnerAtTFL commented on #12057
If anyone else is finding this issue, you can roll-back by using direct version referencing:
[code]

[2020-02-13 13:35] rbankole commented on #11159
only workaround it to use a **user account** on azure as opposed to a service principal.  ie. create a jenkins user on Azure

[2020-02-13 14:02] aleksey-korolev opened #12182 "Add az interactive mode support for extensions"
az interactive is very helpful providing command and parameters suggestions for commands included in cli. As I understand this doesn't work for commands added by extensions.
For example I've added azure-cli-iot-ext to use command monitor-events:
az extension add --name azure-cli-iot-ext
az iot hub monitor-events --hub-name myiothub

New command became available for invocation but az interactive mo

[2020-02-13 14:34] qianwens commented on #10861
Hi @tomasszabo, an error like "The MAC signature found in the HTTP request***" is a generic error message indicating that the access key is incorrect or does not have permission when sending a request to Azure storage. I tried exactly the same command in my environment, but I cannot repro. Could you please help provide more information like OS and file size?
Could you please try this command for s

[2020-02-13 14:36] qianwens commented on #10861
Hi @tomasszabo, an error like "The MAC signature found in the HTTP request***" is a generic error message indicating that the access key is incorrect or does not have permission when sending a request to Azure storage. I tried exactly the same command in my environment, but I cannot repro. Could you please help provide more information like OS and file size? To verify if it is due to some specific

[2020-02-13 14:52] jstoneham commented on #9444
@Timost connection strings can contain SAS tokens, can they?

[2020-02-13 15:04] #11872 closed

[2020-02-13 15:52] #12099 closed

[2020-02-13 16:10] Timost commented on #9444
Hum I'm not sure, I guess they can but I don't know how you would pass them to `az storage copy`.

What I ended up doing to use `az storage copy` was:
- create a sas token (which seems like a better practice than connections string because you can have rights control, expiration etc...)
- Build the url containing the path pattern to the blobs I wanted to download and then append the sas token as a

[2020-02-13 17:01] lsmith130 commented on #7644
Closing as a duplicate of #9894. A fix for this is in progress.

[2020-02-13 17:01] #7644 closed

[2020-02-13 17:03] lsmith130 commented on #12152
This will be fixed as part of my fix that's in progress for #9894.

[2020-02-13 17:16] Diastro commented on #12101
@Juliehzl If you look at the example I put above, this is supposed to be a reference to a keyvault (not providing the secret and appid directly in the template. Providing these directly also works for me but what I'm trying to achieve it providing a reference to a secret which is in keyvault.

[2020-02-13 17:23] panchagnula commented on #11698
The issue is originating from the _validate_subnet call https://github.com/Azure/azure-cli/blob/46a142f2a6987ced98d5682721eec71626a9ea2b/src/azure-cli/azure/cli/command_modules/appservice/access_restrictions.py#L128
will look at getting a fix for this.

[2020-02-13 17:28] qwordy opened #12184 "ImageBuilder commands improve and new features"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Microsoft.VirtualMachineImages

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
1. Rename `image template` to `image builder`.
2. Support specifying image template in `image builder create` , e.g. `--ima

[2020-02-13 19:05] kicha0 opened #12185 "Add application insight endpoint to azure cli"
**Is your feature request related to a problem? Please describe.**
Currently azure cli does not provide some of the application insight endpoint for different cloud regions. For example, ingestion endpoint for application insight in us government region is
https://dc.applicationinsights.us/v2/track

**Describe the solution you'd like**
Azure cli team maintain application insight endpoint mapping a

[2020-02-13 19:10] mzkaramat opened #12186 "Azure CLI copying entire storage account recursively failed."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage copy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage copy -s {} -d {} --recursive`

## Expected Behavior

## Envir

[2020-02-13 19:24] irrogozh opened #12187 "New cmdlets for FlowLog feature"
FlowLog feature was created around 3 years ago. It allows customer to view information about ingress and egress IP traffic through an NSG. It used to be a proxy child resource of NetworkWatcher. Customer could enable/disable it using POST ConfigureFlowLog call. The problem with this approach was that customers couldn’t deploy flowLogs through template and couldn’t easily track and update them.

So

[2020-02-13 20:47] anthonykjose opened #12188 "Request to support Encryption Scopes for Microsoft.Storage."
**Resource Provider**
Microsoft.Storage

**Description of Feature or Work Requested**
Encryption scopes provide the ability to create isolated encryption enclaves within a storage account. Currently, Storage provides server-side encryption through AES-256 symmetric encryption in 2 flavors – using platform-managed keys(i.e. Storage creates and manages the life-cycle of these keys internally) & BYOK

[2020-02-13 20:48] tfedalto opened #12189 "argument of type 'NoneType' is not iterable"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network dns zone import`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network dns zone import -g {} -n {} -f {}`

## Expected Be

[2020-02-13 22:00] sbhuttan opened #12191 "Unexpected error while list autoscale rules"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor autoscale rule list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az monitor autoscale rule list --autoscale-name {} --reso

[2020-02-13 22:47] oomichi commented on #12138
I faced this issue today like
[code]

[2020-02-13 23:56] Drewm3 commented on #6898
Closing this now that the fix is deployed

[2020-02-13 23:56] #6898 closed

[2020-02-14 00:14] msft-adrianma commented on #8378
Is this issue still happening? I dont see the disallowed error happening anymore.
C:\WINDOWS\system32> az billing invoice list
UnsupportedSubscriptionType - Offer id MS-AZR-0017G is not supported.

That being said, this sdk is using 2018-11-01-preview apis which are old. There is a newer version of apis 2019-10-01-preview that you can use using REST apis.

[2020-02-14 00:18] ynambiar opened #12192 "az keyvault command to download certificate private key?"
Is there an Azure CLI command to download a certificate's private key? I've tried "az keyvault secret download" and "az keyvault certificate download" and both give me the certificate value.

I was able to download the certificate from the Portal in pem/pfx format but when I try to use openssl to split it, it asks for an import password which I don't have or know about.

---
#### Document Details

[2020-02-14 01:19] yonzhan commented on #12187
add to S166.

[2020-02-14 01:30] hughesjon opened #12193 "az storage entity merge outputs invalid warning message"
## Describe the bug

**Command Name**
`az storage entity merge`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az storage entity merge --entity PartitionKey=foo RowKey=bar SomethingElse=whatever --table-name MyTable --account-name MyAccount`

Note warning that is output:

Try to fol

[2020-02-14 01:32] arrownj commented on #12175
@alexis-landrieu-avanade , thanks for reporting, we are looking at it.

[2020-02-14 01:34] arrownj commented on #12176
Hi @bim-msft , could you please help take a look at it?

[2020-02-14 01:35] arrownj commented on #12177
Hi @qwordy , could you please help take a look at it?

[2020-02-14 01:36] arrownj commented on #12178
@alexis-landrieu-avanade , thanks for reporting, we are looking at it.

[2020-02-14 01:37] arrownj commented on #12179
Hi @fengzhou-msft , could you please help take a look at it?

[2020-02-14 01:38] arrownj commented on #12180
@stmax82 , thanks for reporting, we are looking at it.

[2020-02-14 01:39] arrownj commented on #12182
Hi @jiasli , could you please help take a look at it?

[2020-02-14 01:40] arrownj commented on #12184
Hi @qwordy , please help take this issue.

[2020-02-14 01:42] arrownj commented on #12185
@kicha0 , thanks for reporting, we are looking at it.

[2020-02-14 01:43] arrownj commented on #12186
Hi @Juliehzl , could you please help take a look at it?

[2020-02-14 01:45] arrownj commented on #12188
Hi @Juliehzl , could you please help take a look at it?

[2020-02-14 01:46] yungezz commented on #11758
release of this RP is holding off since open questions on RP. will resume until go signal. move to backlog.

[2020-02-14 01:47] arrownj commented on #12189
Hi @MyronFanQiu , could you please help take a look at it ?

[2020-02-14 01:48] yungezz commented on #12193
hi @Juliehzl could you pls help to have a look? Thanks.

[2020-02-14 01:48] arrownj commented on #12191
Hi @MyronFanQiu , could you please help take a look at it?

[2020-02-14 01:49] yungezz commented on #12192
hi @bim-msft could you pls help to have a look? Thanks.

[2020-02-14 01:52] #11355 closed

[2020-02-14 02:12] qwordy commented on #12184
Usage of image template:
"NumInvocations": 46,
"UniqueSubscriptions": 17,

Query:
HttpIncomingRequests
| where TIMESTAMP > ago(30d)
| where userAgent contains 'AzureCLI/2.'
| where commandName startswith 'image template'
| summarize NumInvocations=dcount(clientRequestId), UniqueSubscriptions=dcount(subscriptionId)

No risk to rename "template" to "builder"

[2020-02-14 02:16] yungezz commented on #12184
thanks @qwordy , it's great that impact of renaming `template` to `builder`. Let's use this issue for item 1 and 2. for further asks, let's use new issue.

[2020-02-14 02:34] yungezz opened #12196 "VM image builder support cancel/status"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
This is feature request to support cancel/status in VM image builder. The issue is a placeholder now, since service isn't ready yet.
a.	az image builder cancel
b.	az image builder status

https://github

[2020-02-14 02:35] yungezz commented on #12196
put it into backlog now since no determined timeline yet.

[2020-02-14 02:44] anavinahar opened #12197 "Breaking change warning"
**Is your feature request related to a problem? Please describe.**
When creating a Standard Public IP, today by default, customers get a zone-redundant IP (indicated by zones: [] in ARM templates)
We are changing the default to be no-zone (indicated by zones: [] in ARM templates) and zone redundant to be indicated by zones [“1”, “2”, “3”] or a combination of any of the 2 zones.

**Describe the sol

[2020-02-14 02:44] Juliehzl commented on #12188
Planned in next sprint.

[2020-02-14 02:52] nyetwurk commented on #8998
`azure/cli/core/commands/arm.py`
[code]

[2020-02-14 02:59] yungezz commented on #12197
HI @MyronFanQiu, could you pls help to have a look? thanks.

[2020-02-14 03:02] nyetwurk opened #12199 "`az vm create` template exception results in `AttributeError: 'str' object has no attribute 'message'`"
**Describe the bug**
[code]
**To Reproduce**
`az vm create` an instance that would generate a quota error

**Expected behavior**
A simple error, not a big backtrace dump.
Likely simply
[code]

**Environment summary**
apt install on debian buster
`2.0.81-1~buster`

workaround diff:
[code]

[2020-02-14 03:41] MyronFanQiu commented on #12189
@tfedalto Hello. Did you fetch the correct file? Looks like it cannot find the file.

[2020-02-14 04:35] rvarunikaa opened #12202 "Kubernetes Dashboard addon - error when enabling addon"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons --addons {} -g {} -n {}`

## Expected Behavior

[2020-02-14 04:48] hughesjon commented on #12193
Additional context: the same thing happens for `az storage entity insert` and `az storage entity delete`, I just happened to notice it when running a script that used `merge`

[2020-02-14 06:05] haroldrandom commented on #11659
Close as long time no response.
Please feel feel to reopen if anything you want us to catch up. :)

[2020-02-14 06:05] #11659 closed

[2020-02-14 06:56] MyronFanQiu commented on #7816
closed this issue since looks like this issue has been solved. `--max-event`'s description is correct.

[2020-02-14 06:56] #7816 closed

[2020-02-14 09:12] arrownj commented on #12180
Hi @tjprescott , could you please help take a look at this ?

[2020-02-14 09:12] arrownj commented on #12175
Hi @tjprescott , could you please help take a look at this ?

[2020-02-14 09:14] arrownj commented on #12178
Hi @tjprescott , could you please help take a look at this ?

[2020-02-14 09:16] arrownj commented on #12199
@nyetwurk , thanks for reporting, we are looking at it.

[2020-02-14 09:16] arrownj commented on #12202
@rvarunikaa , thanks for reporting, we are looking at it.

[2020-02-14 09:30] AgnosticCoder commented on #12159
Hello All, I am facing same error as #12164 , #12160  while creating a .NetCore web app. Here is the link https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-dotnetcore#create-a-web-app. Any workaround ?

I am trying to create a webapp
$ az webapp create -n tail-spinxxxx -g tailspin-space-gamexxx -p tail-spinxxx --runtime "DOTNETCORE|3.1"
Runtime 'DOTNETCORE|3.1' is not suppor

[2020-02-14 09:40] imaskm opened #12207 "Azure CLI : UnicodeEncodeError: 'ascii' codec can't encode character u'\u2018' in position 598: ordinal not in range(128)"
**Describe the bug**
az vm create command throws above-mentioned exception if there is an error in deployment. We had error of "QuotaLimitExceeded" for our account. Instead of getting this error message in cli we are getting the exception.
`File "/usr/lib/python2.7/site-packages/msrestazure/azure_exceptions.py", line 104, in __str__
   error_str += "\n\tMessage: {}".format(error_obj.message)
 Unic

[2020-02-14 10:08] yungezz commented on #12207
thanks for reporting the issue. we're looking at it.

[2020-02-14 10:16] yungezz commented on #11268
service readiness date is around mid of April. move to later sprint.

[2020-02-14 10:18] fzoccara commented on #7593
Hello everybody, any update about this issue?

I cannot use the "az container create" cli command and use both --file and registry params credentials (--registry-login-server, --registry-password and --registry-username)
I need file to setup livenessProbe parameters, and I need credentials via cli instead saving them in the file for the pipeline security.

Best.
Francesco.

[2020-02-14 10:39] OvervCW opened #12209 "ARM deployment with AKS always triggers an update"
I have a deployment template for an AKS cluster with two non-autoscaling nodepools. Whenever I redeploy it using `az group deployment create` it results in the cluster status changing to "Updating" for 2 minutes, even when the template or its parameters have not changed.

I haven't seen this happen for any other type of resource, why is AKS different in this regard?

[2020-02-14 12:35] chrisatrotter opened #12210 "Failed running 'az aks enable-addons'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons --addons {} --resource-group {} --name {}`

##

[2020-02-14 13:12] yonzhan commented on #12182
add to S166.

[2020-02-14 13:33] yonzhan commented on #12197
add to S167.

[2020-02-14 13:49] yonzhan commented on #12186
add to S167.

[2020-02-14 13:51] yonzhan commented on #12191
add to S167.

[2020-02-14 14:48] ArgTang opened #12212 "different behaviour in web and cli az ad app credential"
**Describe the bug**
Creating a secret with long description has different constraints on the web and with cli.
[code]
However in the portal interface it works good:
![image](https://user-images.githubusercontent.com/8416172/74540646-705f0c80-4f40-11ea-915f-af0e8745965a.png)

**Expected behavior**
I would expect that the length requirements on web and cli should be the same

**Environment summary*

[2020-02-14 14:59] tjprescott commented on #12178
@arrownj I am no longer on the CLI team and am not on a service team, so I do not have any context on this issue.

[2020-02-14 14:59] tjprescott commented on #12175
@arrownj I am no longer on the CLI team and am not on a service team, so I do not have any context on this issue.

[2020-02-14 15:06] larsakerlund opened #12213 "Cannot create diagnostic settings for a subscription"
**Describe the bug**
When trying to create diagnostic settings for a subscription, the command fails. Error seem to indicate that a resource group is required, but since its a subscription this cannot be provided.

[code]

**To Reproduce**
Run the following command:

[code]

Additional parameters does not alter the outcome.

**Expected behavior**
Expected a diagnostic setting to be created for the

[2020-02-14 15:30] yungezz commented on #12210
thanks for reporting the issue, we'll look at it.

[2020-02-14 15:31] yungezz commented on #12212
HI @jiasli  could you pls have a look? thanks.

[2020-02-14 15:32] yungezz commented on #12213
hi @MyronFanQiu could you pls have a look? thanks.

[2020-02-14 15:41] larsakerlund commented on #12213
Seems like it only possible to set the activity log diagnostic setting via ARM templates: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-settings-template

[2020-02-14 15:47] yonzhan commented on #12189
add to S167.

[2020-02-14 15:52] yonzhan commented on #12193
add to S167.

[2020-02-14 16:10] yonzhan commented on #12212
add to S166.

[2020-02-14 16:30] hatsem78 opened #12214 "error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-02-14 18:57] jaloplo opened #12215 "Running az webapp list-runtimes error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list-runtimes`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list-runtimes --linux --subscription {}`

## Expected

[2020-02-14 19:10] ghost opened #12216 "az apim commands dont work looking for missing module"
I uninstalled cli, rebooted, and installed latest version and same issue still occurs.

Have tried in powershell from portal and it works fine, installer seems to be missing files?

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values

[2020-02-14 19:14] jongio opened #12217 "Refactor `--assign-identity` and `identity assign` to common implementation"
In the CLI today, we have multiple implementations of commands that parse `--assign-identity` and `identity assign` parameters. Since managed identities will be enabled for many Azure services, we should implement the `--assign-identity` and `identity assign` functionality once for the entire CLI and share that implementation across modules. If we don't address this now, then we'll have many more

[2020-02-14 19:16] jongio commented on #9887
I created a new issue to track the refactoring of `--assign-identity` and `identity assign`.  https://github.com/Azure/azure-cli/issues/12217

That refactor needs to be completed before this can be implemented.

[2020-02-14 19:34] haroldrandom commented on #2174
seems like the bug described in issue body has been fixed on serivice side. I can't reproduce.

The problem Travis menetioned also resolved. Nowadays, the restriction of frontend ip is listed in [Application Gateway Frontend IP](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-components#frontend-ip-addresses). By default in CLI, it's allow to create both public ip an

[2020-02-14 19:49] para0056 commented on #12099
Are there plans to remove this limitation and allow multiple ASGs to be tagged under the `--source-asgs` or `--destination-asgs` ?

[2020-02-14 20:41] KarenHammons commented on #12099
@malopMSFT ?

[2020-02-14 22:28] BrahmaFarmBeats opened #12218 "FarmBeats - AAD Creation error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --resource {}`

## Expected Behavior

#

[2020-02-14 23:10] malopMSFT commented on #12099
We don't have near term roadmap to remove this limitation

[2020-02-15 00:24] muazmian commented on #10230
Hi Sayan,

Sorry for the inconvenience. Billing Periods are being deprecated and won't be supported in the long term.

To get usage through Azure cli, you can directly pass in dates using -s and -e options
[https://docs.microsoft.com/en-us/cli/azure/consumption/usage?view=azure-cli-latest](url)
`az consumption usage list -s -e`

However the Consumption team recommends that you directly call the RE

[2020-02-15 02:15] yonzhan commented on #12217
@jiasli  please take a look at this request.

[2020-02-15 02:34] yonzhan commented on #12213
add to S167.

[2020-02-15 03:42] Diastro opened #12219 "AKS arm template deployment failling with "Required parameter servicePrincipalProfile is missing (null)" when no servicePrincipalProfile is provided"
## Describe the bug
When deploying an AKS cluster using ARM templates, if no `servicePrincipalProfile` is specified a validation exception happens preventing the deployment. According to the  [documentation](https://docs.microsoft.com/en-us/azure/templates/microsoft.containerservice/2020-01-01/managedclusters), the "servicePrincipalProfile" is an optional field.

This is either an ARM bug or a doc

[2020-02-15 04:10] yungezz commented on #12217
this will need a design discussion.

[2020-02-15 04:12] yungezz commented on #12219
HI @qwordy could you pls have a look at this issue firstly to see if it's error in arm template? thanks.

[2020-02-15 04:13] yungezz commented on #12219
no milestone yet before investigation done.

[2020-02-15 04:14] yungezz commented on #12218
Hi @BrahmaFarmBeats , thanks for reporting. Could you pls share the error detail for investigation? thanks.

[2020-02-15 04:16] yungezz commented on #12214
HI @hatsem78  thanks for reporting. Could you pls add more detail about which commands and what's error? thanks.

[2020-02-15 04:16] yonzhan commented on #12218
add to S167.

[2020-02-15 04:24] yonzhan commented on #12131
add to S167.

[2020-02-15 04:45] #11510 closed

[2020-02-15 04:48] yonzhan commented on #10495
move to S166.

[2020-02-15 05:21] yonzhan commented on #4245
@rohinkoul any update for this issue?

[2020-02-15 05:22] yonzhan commented on #1481
@rohinkoul any update for this?

[2020-02-15 05:23] #4771 closed

[2020-02-15 05:25] yonzhan commented on #4961
@KarenHammons @sfiguemsft any update for this issue?

[2020-02-15 05:29] yonzhan commented on #8010
@nkiest any update for this issue?

[2020-02-15 05:29] yonzhan commented on #1636
@Nilambari any update?

[2020-02-15 05:31] yonzhan commented on #2824
@rohinkoul any update for this issue? Can we close it?

[2020-02-15 05:35] yonzhan commented on #11192
move to S166.

[2020-02-15 08:10] yonzhan commented on #5115
@seguler any update about this issue?

[2020-02-15 08:12] #12160 closed

[2020-02-15 08:13] #12164 closed

[2020-02-15 08:22] #11646 closed

[2020-02-15 08:24] #11981 closed

[2020-02-15 08:25] #10714 closed

[2020-02-15 08:25] #6343 closed

[2020-02-15 08:28] yonzhan commented on #11942
Any update for this issue @Tiano2017 ?

[2020-02-15 08:33] yonzhan commented on #9067
@zhoxing-ms please check the PR to fix the issue.

[2020-02-15 08:45] yonzhan commented on #3180
@armleads-azure any update for this issue?

[2020-02-15 08:46] yonzhan commented on #11457
@Tiano2017 any update for this issue?

[2020-02-15 08:47] yonzhan commented on #9060
@leylakazemi  any update for this?

[2020-02-15 08:47] yonzhan commented on #8016
@sandipsh any update for this issue?

[2020-02-15 08:50] yonzhan commented on #11616
@Tiano2017 any update for this issue?

[2020-02-15 08:52] yonzhan commented on #12009
@ovidiu10 any update for this issue?

[2020-02-15 09:23] MyronFanQiu commented on #11701
@hardjopranoto Do you solve this issue? If so, I will close this issue later.

[2020-02-15 09:25] MyronFanQiu commented on #11401
@vermaaakansha Hello. Do you have any other question?

[2020-02-15 09:42] #7779 closed

[2020-02-15 10:27] sdayal opened #12220 "az webapp up is looking for a file todo.csproj"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --name {}`

## Expected Behavior

## Environment Summary
[code

[2020-02-15 10:56] yonzhan commented on #12085
@bnb was your issue resolved?

[2020-02-15 11:46] yonzhan commented on #5598
move to S166.

[2020-02-15 11:47] yonzhan commented on #11634
move to S166.

[2020-02-15 11:47] yonzhan commented on #11454
move to S166.

[2020-02-15 11:48] yonzhan commented on #8912
move to S166.

[2020-02-15 11:48] yonzhan commented on #11519
move to S166.

[2020-02-15 11:49] yonzhan commented on #11340
move to S166.

[2020-02-15 11:49] yonzhan commented on #5575
move to S166.

[2020-02-15 11:51] yonzhan commented on #11207
move to S166.

[2020-02-15 11:52] yonzhan commented on #11412
move to S166.

[2020-02-15 11:52] yonzhan commented on #11244
move to S166.

[2020-02-15 11:53] yonzhan commented on #10229
move to S166.

[2020-02-15 12:04] #4911 closed

[2020-02-15 12:09] yonzhan commented on #10673
add to S166.

[2020-02-15 12:32] yonzhan commented on #9291
move to S166.

[2020-02-15 12:35] #7957 closed

[2020-02-15 13:59] jsntcy opened #12222 "[Breadth Coverage] Onboard Databox Commands"
**Spec Link**
https://microsoft.sharepoint.com/:w:/t/AzureManagementExperience/EXmYKGg6W21JgsJLXb_E59gBWWxPSzu955FRSDGG2UCf0g?e=I8QY8W

**Resource Provider**
What is the Azure resource provider your feature is part of?
Microsoft.Databox

**Description of Feature or Work Requested**
Support Azure CLI commands for databox

**Minimum API Version Required**
Microsoft.Databox 2019-09-01

**Swagger Link

[2020-02-15 14:06] jsntcy opened #12223 "[Breadth Coverage] Onboard TimeSeriesInsights Commands"
**Spec Link**
https://microsoft.sharepoint.com/:w:/t/AzureManagementExperience/EeASGSS9OH5EoETiy56ZqKYBr85-KD5u6uxLJt3QIVNg8A?e=ZGZqHW

**ADO Item Link**
https://dev.azure.com/azure-mgmt-ex/Onboarding/_workitems/edit/126

**Resource Provider**
What is the Azure resource provider your feature is part of?
Microsoft.TimeSeriesInsights

**Description of Feature or Work Requested**
Support Azure CLI co

[2020-02-15 16:45] BrahmaFarmBeats opened #12224 "FarmBeats Error (AAD)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --resource {}`

## Expected Beha

[2020-02-15 16:50] stephenmontgomery opened #12225 "az backup protectable-item list"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az backup protectable-item list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az backup protectable-item list --resource-group {} --va

[2020-02-15 16:50] jongio commented on #12217
Sounds good.  LMK if you want me to participate in that discussion.

[2020-02-15 18:26] cloudmelon opened #12226 "az: error: unrecognized arguments: aksmsmelonacr"
URL doc:
https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-update

**Describe the bug**
A clear and concise description of what the bug is.

Use the same command as follows with different outcomes while testing with Cloud Shell and Windows Command Processor:
az aks update --name aksworkshopk8s --resource-group msaksworkshop-rg--attach-acr aksmsmelonacr

When testing with

[2020-02-16 00:24] anthonychu commented on #4041
@ankitkumarr Here's an attempt at what the commands might look like. Let me know what you think:

Function details and keys:

[code]

Host keys (unsure how this would work with systemKeys and functionKeys):

[code]

[2020-02-16 00:26] anthonychu commented on #2999
Related #4041

[2020-02-16 01:03] yonzhan commented on #12222
add to S166.

[2020-02-16 01:04] yonzhan commented on #12223
add to S166.

[2020-02-16 01:08] sipazzo commented on #692
I don't know what was fixed because I can't get the policy definition to show whether it is a built in definition or not. It works in Powershell but not cli:
``
Get-AzPolicyDefinition | Where-Object { $_.Properties.DisplayName -eq "blah" }

Name               : 66288472-91a0-447a-8bfd-a9daf1cb5571
ResourceId         : /subscriptions/b4eebb81-65ae-4a23-a46e-beae9f953e8a/providers/Microsoft.Authoriz

[2020-02-16 01:10] sipazzo commented on #692
I don't know what was fixed because I can't get the policy definition to show whether it is a built in definition or not. It works in Powershell but not cli:
``
Get-AzPolicyDefinition | Where-Object { $_.Properties.DisplayName -eq "blah" }

Name : 66288472-91a0-447a-8bfd-a9daf1cb5571
ResourceId : /subscriptions/xxxxxx-xxxx-xxxx/providers/Microsoft.Authorization/policyDefini
tions/66288472-91a0-447

[2020-02-16 01:13] yonzhan commented on #12224
add to S166.

[2020-02-16 07:25] sweetmandoo opened #12227 "az webapp list-runtimes error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**

az webapp list-runtimes

**Errors:**

The command failed with an unexpected error. Here is the traceback:

'bool' object has no attribute 'provider'
Traceback (most recent call last):
  File "/usr/local/Cellar/azure-cli/2.0.81/libexec/lib/python3.8/site-packages/knack/cli.py", line 206, in in

[2020-02-16 07:38] fengzhou-msft commented on #12179
@TomBonnerAtTFL you may be running a lower version of pip. Please upgrade with `pip3 install --upgrade pip` first.

[2020-02-16 10:51] CodingSta opened #12228 "2.0.81 version error - $ az webapp list-runtimes"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list-runtimes`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list-runtimes`

## Expected Behavior

## Environment S

[2020-02-16 13:13] TomBonnerAtTFL commented on #12179
@fengzhou-msft is correct, a fresh install of `pip3` does not see the issue. I guess the error message from `pip` could be more helpful, but oh well, live and learn.

Thank you for your time.

[2020-02-16 13:13] #12179 closed

[2020-02-16 13:17] stoune commented on #7439
This just don't work.
If I supply
`--source-address-prefix "195.xxx.xxx.0/22 xx.xxx.201.0/24"`
I get an error
`Security rule /subscriptions/<subscr guid>/resourceGroups/resgroup/providers/Microsoft.Network/networkSecurityGroups/AnsibleVMNSG/securityRules/default-allow-ssh has invalid Address prefix. Value provided: 1195.xxx.xxx.0/22 xx.xxx.201.0/24`
Parser is broken.
I can't supply multiple values

[2020-02-16 14:44] johnverwoerd opened #12229 "Error creating an webapp"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create --resource-group {} --plan {} --name {} --runtime {} -

[2020-02-16 15:21] haroldrandom commented on #12187
@irrogozh Is ther min API version restricted?

[2020-02-16 17:18] haroldrandom commented on #12187
@irrogozh Besides, I think it's possible to merge the response of GET call return into the previous response of POST call.
It takes care of backward compatibility, meanwhile supporting new response content.

![image](https://user-images.githubusercontent.com/14357159/74609119-d5be2380-5121-11ea-9fc7-efe427470e72.png)

What do you think?

[2020-02-17 01:04] fengzhou-msft commented on #7753
The script is not tested on Yocto as we don't have support plans for Yocto.
The error comes from python 2 lacking a module on Yocto. You may try the install script again. It uses Python 3 by default now.

[2020-02-17 01:31] arrownj commented on #12220
@sdayal , thanks for reporting, we are looking at it.

[2020-02-17 01:35] arrownj commented on #12227
@sweetmandoo , thanks for reporting, we are looking at it.

[2020-02-17 01:35] arrownj commented on #12228
@CodingSta , thanks for reporting, we are looking at it.

[2020-02-17 01:36] arrownj commented on #12229
@johnverwoerd , thanks for reporting, we are looking at it.

[2020-02-17 01:45] arrownj commented on #12225
@stephenmontgomery , thanks for reporting, we are looking at it.

[2020-02-17 01:52] arrownj commented on #12226
@cloudmelon , thanks for reporting, we will have a look.

[2020-02-17 01:57] sauryadas commented on #12226
you are missing a space between the rg name and --attach-acr flag.. come on!!

[2020-02-17 02:31] panchagnula commented on #12159
@AgnosticCoder the fix will be available with the next release please use the Edge builds in the mean time. https://github.com/Azure/azure-cli#edge-builds

[2020-02-17 02:32] panchagnula commented on #12229
This because of the --runtime parameter same as. https://github.com/Azure/azure-cli/issues/12159. Please use the Edge builds or run the command without the  --runtime parameter.

[2020-02-17 02:33] panchagnula commented on #12228
Same as https://github.com/Azure/azure-cli/issues/12159 please use Edge builds the fix will be available with 2.0.82 release.

[2020-02-17 02:34] panchagnula commented on #12220
@sdayal the az web app up command needs to run from the local dir where the code to be deployed exists.

[2020-02-17 02:35] panchagnula commented on #12215
Same as https://github.com/Azure/azure-cli/issues/12159 the fix will be available with release 2.0.82 please use the edge builds in the meantime.

[2020-02-17 02:36] panchagnula commented on #12148
Same as https://github.com/Azure/azure-cli/issues/12159 please use EdgeBuilds

[2020-02-17 02:59] panchagnula commented on #12135
Currently .NETCore app defaults to windows using az webapp up - this is by design

[2020-02-17 02:59] #12135 closed

[2020-02-17 03:03] panchagnula commented on #12125
az webapp deployment source config-zip has a default timeout so if the deployment takes longer, the command throws an error & exists. Run the command with a long timeout using --timeout

[2020-02-17 03:04] panchagnula commented on #12121
this will be fixed by 2.0.82 - in the meantime use the EdgeBuilds same as #12159

[2020-02-17 03:05] panchagnula commented on #12114
Same as #12159, please use the EdgeBuilds the fix will be in 2.0.82

[2020-02-17 03:05] panchagnula commented on #12109
Same as #12159 please use the edge builds until the fix is released in 2.0.82

[2020-02-17 03:07] panchagnula commented on #12090
Can you please run the command with --debug and check the details. Thanks!

[2020-02-17 03:08] panchagnula commented on #12057
issue will be fixed in 2.0.82 - please use the edge builds in the meantime Same as #12159.

[2020-02-17 03:09] panchagnula commented on #12055
Rootcause same as #12159. please use the Edge builds

[2020-02-17 03:13] panchagnula commented on #12008
when running this command follow the example here az webapp config connection-string set -g MyResourceGroup -n MyUniqueApp -t mysql \
    --settings mysql1='Server=myServer;Database=myDB;Uid=myUser;Pwd=myPwd;'

https://docs.microsoft.com/en-us/cli/azure/webapp/config/connection-string?view=azure-cli-latest#az-webapp-config-connection-string-set

[2020-02-17 03:13] jiasli opened #12231 "HTTP Headers not shown for requests failed with 429 TooManyRequests"
This might be the same root cause as my problem, running `az vmss list --verbose --debug` does not show HTTP Headers when the request fails because of 429 TooManyRequests.

Yet the very information I need about the current rate limit buckets etc are in the HTTP Headers.

_Originally posted by @StianOvrevage in https://github.com/Azure/azure-cli/issues/10189#issuecomment-575245856_

[2020-02-17 03:14] jiasli commented on #10189
The original issue was fixed in https://github.com/Azure/azure-cli/pull/11587. Moving the 429 TooManyRequests issue to a new issue.

[2020-02-17 03:14] #10189 closed

[2020-02-17 03:14] panchagnula commented on #12010
@madsd I haven't tried to repro this but wanted to check with you if this was by design. Thanks!

[2020-02-17 03:17] panchagnula commented on #11951
az webapp up needs to run from the local DIR where the code to deploy is

[2020-02-17 03:18] panchagnula commented on #11944
@nnja please re-activate if this is still an issue

[2020-02-17 03:18] #11944 closed

[2020-02-17 03:19] panchagnula commented on #11939
Can you share more details on how you are using the command -set needs a key-value pair. see example for more details https://docs.microsoft.com/en-us/cli/azure/webapp/config/appsettings?view=azure-cli-latest#az-webapp-config-appsettings-set

[2020-02-17 03:22] panchagnula commented on #11937
@SidShetye is this is a Linux or windows app? Are you still seeing this?

[2020-02-17 03:37] MyronFanQiu commented on #11743
@surajmb Hello. Do you mean this filed? https://github.com/Azure/azure-rest-api-specs/blob/6e1747c9ae9975e78d04074eaf409d5a9ae6f32a/specification/network/resource-manager/Microsoft.Network/stable/2019-09-01/applicationGateway.json#L1544

[2020-02-17 03:42] MyronFanQiu commented on #12088
@sobaner Hello. Could you give the PR link?  Do you mean this fields？ https://github.com/Azure/azure-rest-api-specs/blob/6e1747c9ae9975e78d04074eaf409d5a9ae6f32a/specification/network/resource-manager/Microsoft.Network/stable/2019-11-01/applicationGateway.json#L1921

[2020-02-17 03:51] qwordy commented on #10986
This feature is published. You can download the latest Azure CLI and use it.

[2020-02-17 03:51] #10986 closed

[2020-02-17 03:58] qwordy commented on #10980
You can refer to these articles. It's not difficult. It will cost you several minutes to learn it.
https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_for?view=powershell-7
https://www.gnu.org/software/bash/manual/html_node/Looping-Constructs.html

[2020-02-17 04:01] fengzhou-msft commented on #7829
@hurricaneeb1 azure-cli installs az.completion to /usr/local/etc/bash_completion.d/, the folder is created when Homebrew is installed. You need to configure completions for your shell first to enable completions in this directory: https://docs.brew.sh/Shell-Completion

[2020-02-17 04:24] qianwens commented on #12218
@BrahmaFarmBeats, you have opened another issue [#12224](https://github.com/Azure/azure-cli/issues/12224) with the same problem, let's track this issue in #12224 , I will close this one.

[2020-02-17 04:24] #12218 closed

[2020-02-17 04:25] jiasli commented on #12231
Hi @StianOvrevage. We once discussed about 429 at https://github.com/Azure/azure-cli/issues/11891#issuecomment-580649450

Azure CLI uses msrest which uses urllib3. The [response is logged by msrest](https://github.com/Azure/msrest-for-python/blob/master/msrest/http_logger.py#L68) and the [retry logic of 429 is performed by urllib3](https://github.com/urllib3/urllib3/blob/728d9244665ef5b03103cb74d7

[2020-02-17 04:41] SidShetye commented on #11937
Windows app and this still happens.

[2020-02-17 04:52] qianwens commented on #4138
Hi @dragonfly91 , have you tried the proposal provided by @tjprescott , is there any update?

[2020-02-17 04:52] jiasli commented on #11891
As for item 2, I think it is hard-coded in msrestazure to only retry [4 times](https://github.com/Azure/msrestazure-for-python/blob/0a07586816351e3b7abd60a55a8b736e007fb7a8/msrestazure/azure_configuration.py#L57). @lmazuel, do you think if it is possible to expose this config so that users can control the behavior? Maybe via environment variables.

As for item 3, indeed it is good practice to make

[2020-02-17 05:00] bnb commented on #12085
It has been closed on the internal tracker with no further work being committed to it at present, from what I understand.

[2020-02-17 05:01] surajmb commented on #11743
@MyronFanQiu It's in L1572 (HostNames)
https://github.com/Azure/azure-rest-api-specs/blob/6e1747c9ae9975e78d04074eaf409d5a9ae6f32a/specification/network/resource-manager/Microsoft.Network/stable/2019-09-01/applicationGateway.json#L1572

[2020-02-17 05:06] panchagnula commented on #11936
This looks like an older issue that since has been fixed can you try with the latest version of CLI & let us know.

[2020-02-17 05:09] jiasli commented on #2855
As discussed in https://github.com/Azure/azure-cli/issues/10676#issuecomment-536253290, Azure CLI uses Python's [argparse](https://docs.python.org/3/library/argparse.html) for the help text, so we have little control over the format if we don't override that. You may always use `-h` to view better-printed help text.

As for **positional** arguments, they are not supported by Azure CLI. All argumen

[2020-02-17 05:09] #2855 closed

[2020-02-17 05:10] panchagnula commented on #11920
if you are still seeing this can you run the webapp up command with --debug flag at the end and share the details. The message you are seeing means that we were not able to detect a runtime stack

[2020-02-17 05:13] panchagnula commented on #11884
This means the app name you provided is already taken - must belong to some other subscription, so you need run with a different app name.

[2020-02-17 05:15] panchagnula commented on #11752
yes the SDK is updated & released.

[2020-02-17 05:17] #11343 closed

[2020-02-17 05:33] danielbecroft commented on #12090
Hi @panchagnula

Here is the output:

[code]

[2020-02-17 05:55] yungezz commented on #9332
hi @RandalliLama are you still on this? Could you pls share if piping to stdout using shell resolving your issue? Thanks.

[2020-02-17 05:59] yungezz commented on #7692
need a design discussion.

[2020-02-17 06:09] #12085 closed

[2020-02-17 06:26] panchagnula commented on #12090
Thanks for sharing the details quickly.

[2020-02-17 06:34] MyronFanQiu commented on #11743
@surajmb Thanks. I'm a little confused about hostName and hostnames. Since `az network application-gateway http-listener` already has one argument called `--host-name`, it might cause confusion to have another argument called `--host-names`. Can you share the designs of PS or portal? Is it ok to name it like `--wildcard-host-names`?

[2020-02-17 06:39] qwordy commented on #10551
We have the following issues to track the further work of image builder. So close this one.
https://github.com/Azure/azure-cli/issues/12184
https://github.com/Azure/azure-cli/issues/12196

[2020-02-17 06:39] #10551 closed

[2020-02-17 06:56] jiasli commented on #12085
I believe the errors message from `git pull` and `pip install` you provided are in a different category as the original argument missing issue. If required arguments are provided, we also give comprehensive error messages like

[code]

But when required arguments are unspecified, the error message is actually from python's [argparse](https://docs.python.org/3/library/argparse.html) module and we h

[2020-02-17 07:05] fengzhou-msft commented on #11396
@mattlorimor Thanks for bringing up this issue and providing a solution. We definitely learned something valuable from your sharing. We welcome you to provide any feedback in the future.

[2020-02-17 07:05] #11396 closed

[2020-02-17 07:19] jiasli commented on #5548
If there is a steady repro, please kindly let us know.

[2020-02-17 07:19] #5548 closed

[2020-02-17 07:22] iverberk commented on #10980
Sorry, I know how to create a loop. What I want to know is which API I can call in the loop and with which parameters, since it is not possible to make the vmss API call to set an ASG on the vmss created by the nodepool. There has to be some kind of API call that does it one-at-a-time but I can't find it.

[2020-02-17 07:22] fengzhou-msft commented on #9535
As time goes by, the necessity of fixing this issue is significantly decreased. We do receieved one request for old MSI as referenced above since the time the issue was created. It was solved by using a newer version.

Closing this issue now. Let us know if you need to install an MSI older than 2.0.64.

[2020-02-17 07:22] #9535 closed

[2020-02-17 07:36] johnverwoerd commented on #12229
Ok thanks @panchagnula

[2020-02-17 08:01] Poil commented on #12159
Hi,

Not better on edge this morning

[code]

[2020-02-17 08:10] Juliehzl commented on #5115
I have checked with the latest azure cli. It should already be fixed. If there is still any other problem, please create a new issue ticket to us.

[2020-02-17 08:10] #5115 closed

[2020-02-17 08:25] Poil opened #12235 "[SSH] - az webapp ssh send/receive messages"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp ssh`

**Errors:**
It shows all receive/send command; it's like bytestring aren't decode, or a debug stays enabled ....

[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-

[2020-02-17 08:27] rahulgraph opened #12236 "I am getting the error while upgrading the Cluster and after upgrade application pods showing ErrImagePull/ImagePullBackOff"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks upgrade --resource-group {} --name {} --kubernetes-version {}`

##

[2020-02-17 08:30] MyronFanQiu commented on #4245
@rohinkoul Hello. There is a special logic for soa type. Is it due to service limitation?

https://github.com/Azure/azure-cli/blob/5edbd822ee860d7ba5d5182811b68233e0846ba8/src/azure-cli/azure/cli/command_modules/network/custom.py#L1664-L1665

[2020-02-17 08:37] #11399 closed

[2020-02-17 09:06] madsd commented on #12010
Hi @panchagnula, this was by design, but that could be changed :-) Perhaps something as simple as checking for '.' or ':' (to know if it is ipv4 or ipv6) and then add respectively /32 and /128. Would that make sense?

[2020-02-17 09:11] Juliehzl commented on #6466
@zezha-msft Can you take a look at azcopy? It looks it doesn't work with content-type and it still use file extension.

[2020-02-17 09:21] jiasli commented on #7731
Checked again the code of `refresh_accounts`:

https://github.com/Azure/azure-cli/blob/5edbd822ee860d7ba5d5182811b68233e0846ba8/src/azure-cli-core/azure/cli/core/_profile.py#L640

but couldn't locate where the issue may happen. Also can't repro with `az account list --refresh` after changing the subscription name. If it happens again, please capture the network trace with `--debug` and reply to th

[2020-02-17 09:21] #7731 closed

[2020-02-17 09:25] jiasli commented on #5566
@Eskibear, could you try clearing the browser cache and run `az login` again? It also may be possible the `common` tenant for your account doesn't require MFA. In that case, you may try `az login --tenant` to directly login to the tenant that requires MFA.

[2020-02-17 09:34] Eskibear commented on #5566
No need. We tried before. I'm sure that it was not the cache issue.

Azure Tools for Java was using exactly the same way with Azure CLI (if you didn't change it) to login for users. For KPMG customers were experiencing the issue as both two of their tenants requires MFA. There must be case uncovered, and that was the reason I open this issue.

[2020-02-17 09:34] jiasli commented on #7901
This issue has been addressed in https://github.com/Azure/azure-cli/pull/9857.

`--subscription` is not shown in the help message anymore.

[code]

And it gives error when being called with:

[code]

[2020-02-17 09:34] #7901 closed

[2020-02-17 09:37] jiasli commented on #5357
This doesn't cause issue with track 1 SDK. But in Keyvault track 2 SDK this does cause problem.

[2020-02-17 09:42] aeghbal1 opened #12238 "Description of a config/feature flag is not being exported via "az appconfig kv export" commad"
**Describe the bug**
Description of a config/feature flag is not being exported via "az appconfig kv export" commad

**To Reproduce**
This is the command that is used:
az appconfig kv export -n $primaryStore -d file --path $outputFile --format json --label \0 --subscription $subscriptionName --skip-feature false -y

**Expected behavior**
All the attributes (including description) of a configuratio

[2020-02-17 09:45] sobaner commented on #12088
Here is the swagger for this feature: https://github.com/Azure/azure-rest-api-specs/pull/7905

[2020-02-17 09:49] sschols commented on #12023
Any progress on this?

I was reading up on rpm requirements, and it seems that with version 4.13, rpm supports boolean operators on requirements (https://rpm.org/user_doc/boolean_dependencies.html), which would enable something like `Requires: (python3 or python36)` but RHEL 7.6 currently still uses rpm 4.11, so that wouldn't really address this problem.

Second option could be to require the actu

[2020-02-17 09:58] yonzhan commented on #5357
add to backlog.

[2020-02-17 10:00] jiasli commented on #6645
The help message for `--https-only` has been refined in https://github.com/Azure/azure-cli/pull/10824. cc @Juliehzl

As for `--default-action`, it is an `Enum`, so there is no default value for it and a specific value is mandatory:

https://github.com/Azure/azure-cli/blob/5edbd822ee860d7ba5d5182811b68233e0846ba8/src/azure-cli/azure/cli/command_modules/storage/_params.py#L230-L231

As @tjprescott s

[2020-02-17 10:00] #6645 closed

[2020-02-17 10:07] jiasli commented on #5566
That is indeed very strangle. Microsoft tenant also requires MFA and we didn't see any issue. Does logging in with `--tenant` work? Also could you capture `--debug` log during `az login` and send the result to my email? Thanks.

[2020-02-17 10:11] larsakerlund commented on #12213
This seems to be what causes my issue, resource ID is expected to contain a resource group: https://github.com/Azure/azure-cli/blob/85ad0a4219c67289080d95ab26af67bd5ecd6460/src/azure-cli/azure/cli/command_modules/monitor/validators.py#L147-L149

When using `az monitor diagnostic-settings list`, the command uses Azure SDK instead which can fetch the resource by subscription ID: https://github.com/A

[2020-02-17 10:20] #5566 closed

[2020-02-17 10:33] jiasli commented on #3187
There is no fancy logic in `delete_role_definition`:

https://github.com/Azure/azure-cli/blob/5edbd822ee860d7ba5d5182811b68233e0846ba8/src/azure-cli/azure/cli/command_modules/role/custom.py#L107-L114

This AD Graph latency is by-design and there is no plan on the service side to improve it. As a workaround, the script can use `az role definition list` to query on the result and take actions accord

[2020-02-17 10:33] #3187 closed

[2020-02-17 10:46] jiasli commented on #2324
Azure CLI uses Python's [argcomplete](https://github.com/kislyuk/argcomplete/issues/166) for auto-completion. As mentioned in https://github.com/kislyuk/argcomplete/issues/166, currently there is no good implementation for Python apps to achieve auto-completion in PowerShell terminal.

[2020-02-17 11:50] jacekmackiewicz commented on #12158
Close issue.

[2020-02-17 11:50] #12158 closed

[2020-02-17 13:01] sdayal commented on #12220
Thanks!

On Mon, Feb 17, 2020 at 3:34 AM Sisira Panchagnula <notifications@github.com>
wrote:

[2020-02-17 13:07] william-liebenberg commented on #10579
Is this issue being looked at? the workarounds to use graph instead of the az cli is not fantastic at all.

[2020-02-17 15:06] bim-msft commented on #12192
@ynambiar Hi, for security concern, there is no way to download/show a private key from Key Vault, once it was imported/created, it can only be used via internal ways.

[2020-02-17 15:11] bim-msft commented on #12176
@Chibuzor27 It seems that you are facing some login issues, could you try to re-login?

[2020-02-17 15:12] bim-msft commented on #12107
Issue closed, if anything else, feel free to reopen.

[2020-02-17 15:12] #12107 closed

[2020-02-17 16:05] devigned commented on #12199
Looks like this is affecting AKS-Engine as well.

[2020-02-17 16:06] RobertoBorges commented on #9047
Confirmed the problem is on the Powershell :

Major  Minor  Build  Revision
-----  -----  -----  --------
5      1         18362    628

[2020-02-17 21:18] joshuaheslin commented on #6409
Thanks @derekperkins ,

I ran into the same issue you were having. I think the version of openssl azure was wanting was not the correct on install and the symlink was somewhere dropped. I fix this issue by doing the following.

1. `brew resinstall openssl@1.1`
2. `brew link --force openssl`
3. `brew reinstall azure-cli`
4. `az login`

Hope that helps anyone.

[2020-02-18 00:37] Falconne commented on #9501
Is there no progress on this issue? In our product I have a PowerShell script that uses `az` during the install process to create a suitable app registration, but I can't add a public reply-url because of this issue. We need to include instructions for customers to go to the Portal and manually add that, which is not a good look.

[2020-02-18 01:13] arrownj commented on #12235
@Poil , thanks for reporting, we will have a look.

[2020-02-18 01:13] arrownj commented on #12236
@rahulgraph , thanks for reporting, we will have a look.

[2020-02-18 01:19] arrownj commented on #12238
Hi @shenmuxiaosen , could you please help take a look at this ?

[2020-02-18 02:41] MyronFanQiu commented on #12088
@sobaner Thanks. I check our current status and I have a question. `urlConfiguration` is part of `ApplicationGatewayRewriteRuleActionSet`. However, I don't see any command to set `requestHeaderConfigurations` and `responseHeaderConfigurations`. However, I saw two commands to list the request header and response header. Can customer set these two headers as well?

[2020-02-18 02:47] MyronFanQiu commented on #12213
@larsakerlund Hello. Thanks for the investigation. Currently, resourceUri must be a resource id of a resource. CLI cannot create a diagnostic settings for a subscription.
[code]
Looks like it's the limitation of the service. I will add service attention to invite someone to help you answer the question.

[2020-02-18 02:52] yungezz opened #12239 "az dls fs download should return message from service side instead of CLI core"
**Describe the bug**
when user run `az dls fs download` command, the command failed because file/dir not exists. While the exception/stacktrace is confusing, because it's from CLI core. pls see below. The error is not from service side although it supposed to when file/dir not exists. Missing clear info from service side error message makes trouble shooting less informative, and causes user confus

[2020-02-18 02:52] yungezz commented on #12239
HI @Juliehzl I'm not sure the right owner. Could you pls help to reassign if you're not right contact point? Thanks.

[2020-02-18 02:58] yonzhan commented on #12239
The same issue mentioned in Sev 3: ID 175946000: [bkw.ch][sev B][120021222002848 - Since 2020 the "az dls fs"command don't seem to work properly, right?

[2020-02-18 03:02] yungezz commented on #12239
more info from service team about the exception from service side when downloading failure:
https://github.com/Azure/azure-data-lake-store-python/blob/d7293c7690870bf730f3001ac64933a4183d9e8d/azure/datalake/store/exceptions.py#L32

[2020-02-18 03:25] bim-msft commented on #8096
@SyntaxGeek Yea, you are right, `jq` is not a Azure-CLI dependency so it's not installed automatically. But the scope of documents is much larger, using some independent uninstalled packages/tools is not harmful to tutorial.
Anyway, thanks for the information!

[2020-02-18 03:26] bim-msft commented on #8096
Issue closed, if you have anything unresolved, feel free to reopen and ask me again, thanks!

[2020-02-18 03:26] #8096 closed

[2020-02-18 03:32] panchagnula commented on #12235
@btardif and @patricklee2 FYI.

[2020-02-18 03:39] panchagnula commented on #12010
Thanks @madsd - Hmm not sure what the reasoning was for this to be ByDesign since on Portal we do support Ipv4 and IpV6.

[2020-02-18 03:49] yonzhan commented on #12239
We will take a look and follow up, thx.

[2020-02-18 04:46] manoj-murali commented on #12177
Hi @qwordy , this issue is with the latest version of the CLI and on azure cloud shell CLI
_manoj@Azure:~$ az --version
azure-cli                         2.0.81 *
command-modules-nspkg              2.0.3
core                              2.0.81 *
nspkg                              3.0.4
telemetry                          1.0.4
Extensions:
image-copy-extension               0.2.3
Python location '/

[2020-02-18 05:14] jiasli commented on #6886
I am not a Groovy expert. I followed [this answer](https://stackoverflow.com/a/25292664/2199657) and tried these 2 scripts with `az --debug` which tells you the actual arguments Azure CLI received. On Linux both work for me:

t1.groovy
[code]

[code]

t2.groovy
[code]

[code]

On Windows, since az is a bat file, `"` needs to be escaped as `\"` for cmd.exe and `\` needs to escaped again for Groovy

[2020-02-18 05:36] MyronFanQiu commented on #12082
@bmukes Hello. It's quite strange because azure cli doesn't do anything special. Do you still meet such problem? Do you try to create new RG, Vnet and IP?

[2020-02-18 05:38] MyronFanQiu commented on #10917
@allegradomel Hello. Did you fix this issue? Is it ok to close this one?

[2020-02-18 05:41] Juliehzl commented on #12239
@akharit Can you take a look for this issue?

[2020-02-18 05:46] yungezz commented on #12217
hi @yonzhan pls involve @qianwens and myself in discussion, thanks.

[2020-02-18 05:56] MyronFanQiu commented on #12079
@kylecweeks Hello. What's the meaning of `invalid`?

[2020-02-18 06:00] MyronFanQiu commented on #12059
@mohamedsaif Hello. CLI cannot get such limitation information. We just to create a general default public ip. If you want to create WAF_v2 application-gateway, you'd better to create a standard public ip using `az network public-ip create`.

[2020-02-18 06:09] MyronFanQiu commented on #12001
@NiryaAestus Hello. Currently, the format of CLI's response is json. Natively, we cannot use `az network application-gateway waf-config set` to send them back. You have to write a script to do this. If you want, you can try `az resourse update`. This should be simpler for you.

[2020-02-18 06:10] MyronFanQiu commented on #11812
@ITEMuyideen Hello. Did you still meet such issue? If not, I will close this one later.

[2020-02-18 06:13] MyronFanQiu commented on #11833
@winthrop28 Looks like it's service issue. Could you take a look and verify to see whether we can update these fields or not?

[2020-02-18 06:21] MyronFanQiu commented on #11030
@sirwarshade Hello. The last `null"` should be `null\"`. This problem is caused by different parsers in different terminals. Currently, it's a know issue. But we need some time to fix it in the future.

[2020-02-18 06:34] MyronFanQiu commented on #10544
This should have been done. Thanks.

[2020-02-18 06:34] #10544 closed

[2020-02-18 06:36] MyronFanQiu commented on #10505
@jochenvanwylick Hello. we have fixed the help message. In the near future, we will onboard more commands to get group id. Thanks.

[2020-02-18 06:36] #10505 closed

[2020-02-18 06:39] MyronFanQiu commented on #10144
close this one since no response. Feel free to open a new one if you still encounter such issue.

[2020-02-18 06:39] #10144 closed

[2020-02-18 06:42] qianwens commented on #12224
Hi @BrahmaFarmBeats , it seems you are using MSI authentication (Az login --identity) in Azure VM.  This error may happen if the resource type does not support MSI authentication.
Could you please help provide the parameter value of --resource?

[2020-02-18 06:56] madsd commented on #12010
@panchagnula the command does support both ipv4 and ipv6 today - but for both ipv4 and ipv6 you have to specify the subnet range - that is the /xx. So even if you just want a single IP, you need to specify /32. What is being asked here (as I read it), is that if you just want a single IP, we would automatically add the /32 or /128.

[2020-02-18 07:18] jiasli commented on #6826
I think there is still a bug in the code: In `update_application`, if no `password` is provided,  `password_credentials` will be set to `None`, causing the generic update `--set` to fail.

https://github.com/Azure/azure-cli/blob/1c0e9c3e18c34116d5a2e25cb7460d1af8a85969/src/azure-cli/azure/cli/command_modules/role/custom.py#L963

At the same time, updating an existing password credential is not a s

[2020-02-18 07:18] #6826 closed

[2020-02-18 07:34] MyronFanQiu commented on #10423
@hindocha85 Hello. Do you still have such issue? If not, I will close this one.

[2020-02-18 07:41] MyronFanQiu commented on #10869
This issue has been fixed in #11421.

[2020-02-18 07:41] #10869 closed

[2020-02-18 07:52] #8047 closed

[2020-02-18 08:19] jochenvw commented on #10505
Thanks !

[2020-02-18 08:19] jiasli commented on #7430
The certificate created by `az ad sp create-for-rbac --create-cert` is only designed for RBAC related usage. It is not designed for VM deployment. It is recommended to use `openssl` to create a new certificate instead. Thanks for understanding.

[2020-02-18 08:19] #7430 closed

[2020-02-18 08:22] #6886 closed

[2020-02-18 08:30] onstwedder commented on #12010
@madsd  True.
In the documentation page ( https://docs.microsoft.com/en-us/cli/azure/webapp/config/access-restriction?view=azure-cli-latest#az-webapp-config-access-restriction-add ) it states:

I would expect an ip address to be without /32 and a cidr of 1 ip to be with a /32.
e.g. My first try to add an ip to the access restriction was to use it without a /32.

Anyway. when not specifying a subne

[2020-02-18 09:32] yonzhan commented on #12217
@jiasli will schedule a meeting to talk about this later this week, will include you both together with Xiaojian.

[2020-02-18 10:47] petegrimsdale opened #12241 "az group deployment validate v2.0.81 does not return error message details"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When runninng az group deployment validate in version 2.0.81 the detailed error status message is not returned as with previous versions of the cli.

**Command Name**
`az group deployment validate`

**Errors:**
[code]

As above the Error response is not returned.  Version 2.0.73 for example returns the followin

[2020-02-18 11:00] surajmb commented on #11743
@MyronFanQiu , this has been checked in to the swagger and PowerShell already. Please find the PRs below

Swagger Link: https://github.com/Azure/azure-rest-api-specs/pull/7453
PS Cmdlet: https://github.com/Azure/azure-powershell-cmdlet-review-pr/issues/463
PS PR: https://github.com/Azure/azure-powershell/pull/10878

We already have plural arguments like "backendIPAddresses" and "backendFqdns" in b

[2020-02-18 11:14] Demeleo opened #12242 "WARNING: No connection string, account key or sas token found"
**Describe the bug**
I have old and new release pipelines failing on a Terraform CLI task for Command init.

deployment of state resources task YAML:

variables:
  environment: 'test'

steps:
- task: AzureResourceGroupDeployment@2
  displayName: 'Release deployment state resources'
  inputs:
    azureSubscription: 'subscriptiondetials removed'
    resourceGroupName: '$(names.prefix)-$(names.projec

[2020-02-18 11:18] mrscommentor commented on #12057
It is failing even in your own Cloud Shell for both bash and Powershell, maybe you should prioritize this, we are people running production here.

[2020-02-18 11:25] mrscommentor commented on #7874
That is really nasty, can you please change that pipe into something more valid such as an underscore or space. These values are most likely fixed (enum) values on your side anyways, so what is the point of using a special character like a pipe, it is really bad practice.

[2020-02-18 11:31] themorey commented on #12107
Thank you

On Mon, Feb 17, 2020, 10:12 AM Bin Ma <notifications@github.com> wrote:

[2020-02-18 11:37] hihorika commented on #12229
Hi @panchagnula

I see same error when executing `az webapp create` specified runtime by `java|1.8|Tomcat|8.5` or other value which are listed by `az webapp list-runtimes` as following.

[code]

I always have updated Azure CLI to 2.1.0 as following.

[code]

Could you please check this behavior of the command?

[2020-02-18 12:16] nmaarse commented on #10422
same here with:
PS C:\Users\Niek> az apim delete

No module named 'azure.mgmt.apimanagement.models.api_management_client_enums'
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-0u_uiwkq\knack\knack\cli.py", line 206, in invoke
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-0u_uiwkq\azure-cli-core\azure\cli\core\commands\__init__.py", line 528, i

[2020-02-18 12:29] nmaarse commented on #10422
same here with az apim delete:
No module named 'azure.mgmt.apimanagement.models.api_management_client_enums'
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-0u_uiwkq\knack\knack\cli.py", line 206, in invoke
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-0u_uiwkq\azure-cli-core\azure\cli\core\commands\__init__.py", line 528, in execute
  File "C

[2020-02-18 12:53] stan-sz commented on #9904
The fix for this issue seems to be to change the `g.command('show',...)` in
https://github.com/Azure/azure-cli/blob/86ff170f45d1f04a65ab1bc8278cdb112ace5b10/src/azure-cli/azure/cli/command_modules/signalr/commands.py#L34
to `g.show_command('show', ...)`

[2020-02-18 13:12] honeykatrina commented on #12242
I have the same error today. The last successful deployment was on Friday 14/02/2020, and today it failed with an error message:

[2020-02-18 13:17] a-vishar commented on #11942
@zhoxing-ms - Is there anyone other than @Tiano2017 that can look into this?  This has fairly large cost implications to us and it would be good to have it addressed soon!

[2020-02-18 14:13] hindocha85 commented on #10423
Yes still having issues

On Tue, Feb 18, 2020 at 01:34 MyronFanQiu <notifications@github.com> wrote:

[2020-02-18 15:32] mohamedsaif commented on #12059
@MyronFanQiu I understand your point. This is not the issue. Issue is when a missing public IP name is sent to az network application-gateway create with a v2 sku, the command will create a new basic public IP (behind the scenes) and then fails (because of the automatically created PIP by the CLI command is basic not standard)

[2020-02-18 15:39] kylecweeks commented on #12079
The error from the CLI is that the provided DNS Servers are invalid when providing them as space separated. The command worked when the dns servers were provided as an array object.

[2020-02-18 15:40] Krystof-pl opened #12245 "Failed to create Service Fabric"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sf cluster create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sf cluster create --resource-group {} --location {} --certificat

[2020-02-18 15:55] scott-zhou opened #12246 "Fail to execute az aks install-cli with ssl certificate issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2020-02-18 16:22] bmukes commented on #12082
I stopped trying to create a firewall using CLI for now because they cost approximarely $1000 per month which is a bit much for a development environment.

BRIAN MUKES | Architect
INSURANCE TECHNOLOGIES
t: +1 719.442.6400 | f: +1 719.442.0600
[cid:image001.png@01D5E63C.DAD58430]<https://www.insurancetechnologies.com/>

From: MyronFanQiu <notifications@github.com>
Sent: Monday, February 17, 2020 10

[2020-02-18 16:49] brianlwong opened #12247 "az webapp create: Web app deployment failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Encountered issue while following this exercise on the very last step trying to create and deploy the web app :
https://docs.microsoft.com/en-us/learn/modules/load-balance-web-traffic-with-application-gateway/3-exercise-create-web-sites

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:

[2020-02-18 17:28] panchagnula commented on #12057
@mrscommentor this fix has already been merged to our dev branch - and is available with this release https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md

Not sure what version cloud shell is using .

[2020-02-18 17:30] panchagnula commented on #12229
@hihorika yes the regression is mainly in code path that retrieves runtime version. and is fixed by this release https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md

[2020-02-18 18:03] Tiano2017 commented on #11457
@ifeoluwaokunoren to take a look and triage.

[2020-02-18 18:06] irrogozh commented on #12187
@haroldrandom, it's a good idea as a temporary approach. But I don't think it's going to work in a long run. The reason is that
1. Customer will not see essential properties of the resource. Like, provisioningState, for example. So, he will not be aware if creating of resource succeeded or not.
2. Customer will not be able to use 'show' cmdlet, and, then, modify resource using 'update' cmdlet with

[2020-02-18 18:07] Tiano2017 commented on #11616
template deployment does PUT for each resource, so it always "replaces"  the existing resource. This is by design as of today. @dmvtech you can put the tags you want in the template for the "Microsoft.Resources/resourceGroups" resource. Please let us know if that doesn't work.

[2020-02-18 18:44] rodbutters opened #12249 "az storage core add does not support --auth-mode option"
**Command Name**
`az storage cors add`

**Errors:**
[code]

## To Reproduce:
- `az storage cors add --auth-mode login ...

## Expected Behavior
As with other storage-cli commands, `az storage core add` should support the option `--auth-mode login`. Without this it's impossible to script set up for my application.

Previously, --auth-mode login was not required for other az storage ... commands. Ot

[2020-02-18 19:05] akharit commented on #12239
I am not sure if this is an adls issue as there doesn't seem to be dls module in the stack trace.

The stack trace shows
[code]

This means the current dir in the according to python was somehow deleted.

It is possible that adls destination path was specified in such a way to delete the current dir, but I would classify that as a user error. It could have been deleted by any other user process as

[2020-02-18 19:06] ynambiar commented on #12192
Okay, thanks for the info @bim-msft

[2020-02-18 19:06] #12192 closed

[2020-02-18 19:20] Hazhzeng opened #12251 "Fail to deploy using az functionapp deployment source config-zip"
**CLI version**
2.0.81

**Describe the bug**
When deploying a local function app content to Azure Functions on Linux, the deployment can possibly fails if it requires **changes in app settings**.

There's a race condition here:
1. If the app settings are changed before the deployment is initiated, the build **succeeds**.
2. If the app settings are changed at the same time as the deployment is init

[2020-02-18 19:21] Hazhzeng commented on #12251
Please assign this issue to me. This issue is for tracking.

[2020-02-18 19:23] adam-pursley opened #12252 "Stop / Cancel command?"
Any plans to add a stop or cancel command for stopping a deployment that is already in progress, similar to the Stop-AzureRmResourceGroupDeployment PowerShell command?
https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/stop-azurermresourcegroupdeployment?view=azurermps-6.13.0
The delete command cannot delete a deployment if it's still active.

---
#### Document Details

⚠ *Do not

[2020-02-18 19:29] hihorika commented on #12229
Thanks @panchagnula
But this error of `az webapp create --runtime` happens on Azure CLI 2.1.0.

Could you please check it again ?

[2020-02-18 19:37] winthrop28 opened #12253 "Azure CLI support for GeoMatch WAF custom rules"
**Resource Provider**
Network

**Description of Feature or Work Requested**
Adding GeoMatch as an operator for custom rules to allow/block by country code.

**Minimum API Version Required**
2019-09-01

**Swagger Link**
App GW:https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2019-09-01/applicationGateway.json
WAF Policies: htt

[2020-02-18 19:38] winthrop28 opened #12254 "Azure CLI support for WAF Bot Mitigation ruleset"
**Resource Provider**
Network

**Description of Feature or Work Requested**
Adding the Bot Mitigation ruleset. It can be used alongside 1 OWASP CRS ruleset.

**Minimum API Version Required**
2019-09-01

**Swagger Link**
App GW:https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2019-09-01/applicationGateway.json
WAF Policies: ht

[2020-02-18 19:40] lsong0905 opened #12255 "How to provide customer provided key for server side encrypted blob in azure cli?"
Hello,

How can I upload/download blobs with server side encryption with customer provided key? I have not found any article that explains how to pass customer provided key and its sha256 which would be used to encrypt the blobs. If it is possible option in azure cli, would you please give an example how to pass the information in connection string?

I am using azure-cli 2.0.37.

[2020-02-18 19:52] dmvtech commented on #11616
Thanks for the info. I will give it a try.

[2020-02-18 20:06] singhramkumar commented on #7245
In case someone else also struggled like me, the json file name should be in double-quotes:

`az webapp config appsettings set -g MyResourceGroup -n MyUniqueApp --settings "@moreSettings.json"`

[2020-02-18 21:33] shenmuxiaosen commented on #12238
@avanigupta Can you follow up this issue? Thanks.

[2020-02-18 21:44] allegradomel commented on #10917
@MyronFanQiu  Still waiting on fixes for IPv4

[2020-02-18 22:19] viananth opened #12256 "Default Storage account kind V2 not supported in Azure Stack"
**Describe the bug**
The recent update to default Storage kind to V2 is breaking Azure Stack as we don’t support this.

**To Reproduce**
az storage account create -n testsa -g testrg --sku Standard_LRS --debug

**Expected behavior**
To be able to create a storage account without specifying the "kind".

**Fix**
Update "min_apiversion" to a higher version than "2017-10-01" in
https://github.com/Azur

[2020-02-18 22:27] jaijitendra opened #12257 ""az bot msteams create" commands fails in local powershell but works in azure cloud shell"
Bug:
"az bot msteams create" command fails in local PowerShell but works in azure cloud shell.

Local powershell:
az cli version :  2.0.81
![image](https://user-images.githubusercontent.com/907483/74782470-5c751c80-5258-11ea-9b33-8c2324531a29.png)

Azure cloud powershell shell:
az cli version :  2.0.81
![image](https://user-images.githubusercontent.com/907483/74782920-516ebc00-5259-11ea-965e-1be9a

[2020-02-18 22:34] leylakazemi commented on #3180
This work is planned for the 2nd half of the year as part of the backend work that we are doing

[2020-02-18 22:34] #3180 closed

[2020-02-18 22:38] leylakazemi commented on #9060
This work has not been planned, I just created a uservoice item for this, and will add it to our backlog.
https://feedback.azure.com/forums/281804-azure-resource-manager/suggestions/39741979-ability-to-list-resources-by-multiple-tags

[2020-02-18 22:38] #9060 closed

[2020-02-18 22:52] hihorika opened #12258 "Error creating an webapp with runtime option on v2.1.0"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create -g $RESOURCE_GROUP -n $SITE_NAME -p $PLAN_NAME -r "jav

[2020-02-18 22:56] Drewm3 commented on #8283
The name of the resource groups returned through a VM List operation will always be upper-cased. This is the currently designed and expected behavior for VM List when no resource group is provided. When a resource group is provided then the response will use the casing of the resource group that was provided in the API.

The Resource URIs are not case sensitive. So when comparing any two resource

[2020-02-18 22:56] #8283 closed

[2020-02-18 22:56] hihorika commented on #12258
And output with `--debug` is following

[code]

[2020-02-18 23:17] yonzhan commented on #10423
add to S167.

[2020-02-18 23:48] jluk commented on #11456
This is being addressed in this PR: https://github.com/Azure/azure-cli/pull/12250

[2020-02-19 00:24] adewaleo commented on #10243
cc: @Wwwsylvia @yugangw-msft

[2020-02-19 00:46] joaocc opened #12259 "az interactive crashes when changing scope"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
az interactive crashes when changing scope

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`
- `%% ad`

##

[2020-02-19 01:14] dominicha64 opened #12261 "Need an option to specify the number of the recent snapshot in the query connection monitor command"
Looks like the query commands was set to query 10 snapshots of the most recent connection state of a connection monitor by default. It took around 34 seconds for my query.
date;az network watcher connection-monitor query -l eastus -n connectionName | grep "probesFailed";date
Wed Feb 19 01:11:49 UTC 2020
      "probesFailed": 0,
      "probesFailed": 0,
      "probesFailed": 0,
      "probesFailed"

[2020-02-19 01:51] Tiano2017 commented on #11942
@ifeoluwaokunoren to triage this issue.

[2020-02-19 02:12] Juliehzl commented on #12242
Hi @Demeleo and @honeykatrina, the warning information is by design, because the credentials for such command should be provided by users. Although CLI can query the credentials for users but when there are very large calls it will break storage resource provider. In this way, we show up such kind of warning message and will make credentials required in the future.

To solve your problem, you need

[2020-02-19 02:12] MyronFanQiu commented on #10423
@hindocha85 Hi. Can you run it with `--debug` and paste the error log?

[2020-02-19 02:19] jiasli commented on #12261
@MyronFanQiu Please help take a look.

[2020-02-19 02:20] MyronFanQiu commented on #12079
Hi. I checked the code and I think it should work. Could you give me an example and the error message? It's better run the command with `--debug`.

[2020-02-19 02:21] jiasli commented on #12259
We are sorry that we currently don't have bandwidth maintaining the experimental `az interactive`. Please consider using normal mode instead. Thanks for understanding.

[2020-02-19 02:22] sauryadas commented on #12226
@cloudmelon please run the command with a space between the rg name and --attach-acr flag and you should be good.

[2020-02-19 02:22] #12226 closed

[2020-02-19 02:23] MyronFanQiu commented on #11743
@surajmb ok. I see.

[2020-02-19 02:26] Juliehzl commented on #12249
Hi @rodbutters, thanks for your feedback. As what you have mentioned, not all storage commands have --auth-mode parameter. Whether the command has the parameter depends on service to some degree.

For `storage cors add`, it is because for file service they don't accept token credentials(--auth-mode-login). In this way, this command cannot have such support.

Please use account key, connection stri

[2020-02-19 02:26] #12249 closed

[2020-02-19 02:34] Juliehzl commented on #12256
Hi @viananth, may I know which profile is used for your Azure Stack? We have such min_api constraint which is following https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2017_10_01/models/_storage_management_client_enums.py#L39.

And for server side, v2017-10-01 should already support storagev2. Does your Azure Stack support storage api ve

[2020-02-19 02:56] Juliehzl commented on #12255
Hi @lsong0905, for azure storage blob, there are two kinds of encryption, one is Microsoft.Storage managed key, another one is customer managed key.

At first, please find which kind of encryption is used for your storage account using `az storage account show --account-name xxx ` and you can find encryption information as follows:
[code]

"Microsoft.Storage" means microsoft managed key. To use cu

[2020-02-19 02:58] jiasli commented on #12257
I believe you are running this command in `[DBG]` mode which warns about messages in `stderr`. The command actually succeeds. If you check `$result`, it should contain the correct result.

I can repro in vscode while in `[DBG]` mode:

[code]

You may mute it with `$result = az group list --verbose 2>$null`. If you run the command in normal mode, it won't trigger this warning.

[2020-02-19 03:05] jiasli commented on #12254
@MyronFanQiu

[2020-02-19 03:06] jiasli commented on #12241
@Juliehzl Please help with this issue.

[2020-02-19 03:06] jiasli commented on #12252
@Juliehzl Please help with this issue.

[2020-02-19 03:25] lsong0905 commented on #12255
@Juliehzl Thank you for the reply and the link! What about SSE with customer provided key, not customer managed key as explain in the link here (https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption?toc=%2fazure%2fstorage%2fblobs%2ftoc.json)?

[2020-02-19 03:28] MyronFanQiu commented on #12261
@haroldrandom Could you take a look~

[2020-02-19 03:30] qwordy commented on #10980
1. Try this command. It should fail, it is a limitation of AKS VMSS according to the error message.
az vmss update -g <> -n <> --add virtualMachineProfile.networkProfile.networkInterfaceConfigurations[0].ipConfigurations[0].applicationSecurityGroups id="/subscriptions/<>/resourceGroups/<>/providers/Microsoft.Network/applicationSecurityGroups/<>"
2. You want to set multiple ip configurations.
Metho

[2020-02-19 03:31] MyronFanQiu commented on #12254
@winthrop28 Hello. Could you give the PR link. If we already have PS cmdlet, it's nice to have it too.

[2020-02-19 03:31] MyronFanQiu commented on #12253
@winthrop28 Hello. Could you give the PR link. If we already have PS cmdlet, it's nice to have it too.

[2020-02-19 03:36] qwordy commented on #10980
You can ping Azure/AKS#1388

[2020-02-19 03:44] MyronFanQiu commented on #12254
meanwhile, we're too close to March 1st. Currently, we received five feature requests about application-gateway. #12088 #11743 #12254 #12253 #12144. I don't think we have enough bandwidth to support all these features. Do you have a priority list? cc @yonzhan

[2020-02-19 03:54] viananth commented on #12256
@Juliehzl The 2019-03-01-hybrid profile was crafted especially for Azure Stack with the promise of no breaking changes within a profile. Though Azure Stack has moved to support 2017-10-01 for Storage mgmt, not all features are supported in this API.
You can use this profile map to verify the latest versions supported by azure stack: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/mast

[2020-02-19 03:55] yonzhan commented on #10917
@allegradomel  who is fixing for IPv4, do you have timeline?

[2020-02-19 06:25] jaijitendra commented on #12257
jiasli, you are right. It works in non-debug mode but command still fails in debug mode even though I have added `--verbose 2>$null `

![image](https://user-images.githubusercontent.com/907483/74807451-58b7b900-529d-11ea-83d7-6d82fe56399b.png)

[2020-02-19 06:37] MyronFanQiu opened #12263 "[Network] network dns zone import --zone-name should be case-insensitive."
Do it after 2020.5.1.
#7907

[2020-02-19 06:37] MyronFanQiu commented on #12263
plan in S171

[2020-02-19 06:41] MyronFanQiu commented on #7907
@zvargams Thanks for this issue. I think your suggestion should be right. However, there are existing users using this command. This would be a breaking change for them. So I added warning information first and open another issue to track it. This would be fixed months later. Thanks.

[2020-02-19 07:15] waseemjda commented on #12166
Upgrade the version of CLI , i faced the same error but after upgrading it works fine

[2020-02-19 08:17] zhoxing-ms commented on #12143
This is a duplicate question which has been answered in another issue #11981

[2020-02-19 08:17] #12143 closed

[2020-02-19 08:20] jiasli commented on #12257
This seems like a PowerShell issue https://github.com/PowerShell/PowerShell/issues/11133

1. What is your system?
2. Which is your PowerShell version?
3. How did you enter DBG mode?

[2020-02-19 08:36] mrscommentor commented on #12057
Thanks I see that, and cloud shell has now been upgraded to 2.1.0 I can see. Unfortunately the list does no longer contain DOTNETCORE versions, why is that?

[code]

[2020-02-19 08:48] Chibuzor27 commented on #12176
I've been able to proceed. I had to run az login and re-authenticate.
Thank you very much.
    On Monday, 17 February 2020, 15:11:20 GMT, Bin Ma <notifications@github.com> wrote:

@Chibuzor27 It seems that you are facing some login issues, could you try to re-login?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-02-19 08:59] tmakin commented on #12241
This problem also seems to affect `cli 2.1.0`. I'm getting the same ErrorResponse object embedded in the error message as reported above.
[code]

[2020-02-19 09:13] sirwarshade commented on #11030
`az network application-gateway address-pool update --gateway-name dekey-firewall --name test-apps --resource-group dekey --add backendAddresses '{\"fqdn\":\"20191030R2-Ontwikkel.azurewebsites.net\",\"ip_address\":null\"}'`

For me this gives the same error

[2020-02-19 09:16] Poil commented on #12235
Hi,

Not sure why but it looks like this part detect I'm in verbose

[code]

If I force enableTrace to False no more debugging message.
If I pprint cli_logger.handlers :
[code]

My azure config is
[code]

[2020-02-19 09:16] cloudmelon commented on #12166
Hello the error is on Cloudshell. I have latest version on my laptop, it works fine. Thanks

[2020-02-19 09:24] alopix opened #12267 "Support to create directline speech for bot channel registration"
**Is your feature request related to a problem? Please describe.**
Currently you can only create the bot channel registration for the types listed in this file: https://github.com/Azure/azure-cli/blob/master/src/azure-cli/azure/cli/command_modules/botservice/commands.py
`'facebook', 'email', 'msteams', 'skype', 'kik', 'directline', 'telegram', 'sms', 'slack', 'webchat'`

Directline speech is still

[2020-02-19 10:26] fawohlsc opened #12268 "az lock create does not allow to set resource locks for VNet subnets"
2.0.81

**Describe the bug**
`az lock create` does not allow to set resource locks for VNet subnets. The following error is shown:

**To Reproduce**
See this screenshot below - basically setting a resource lock on a VNet works, but setting a resource lock in one of it's VNet subnets results in an error:
![Bug](https://user-images.githubusercontent.com/41372128/74825501-56d80f00-530a-11ea-8c16-393d

[2020-02-19 11:07] jiasli commented on #11381
We are sorry that we currently don't have bandwidth maintaining the experimental `az interactive`. Please consider using normal mode instead. Thanks for understanding.

Marking as feature request.

[2020-02-19 11:11] honeykatrina commented on #12242
The Terraform CLI task in Azure DevOps pipelines that we are using doesn't propose to specify any credentials except a key. So it is not possible to pass sas token, connetion-string or auth-mode that causes the pipeline to fail.

[2020-02-19 11:33] jiasli commented on #11386
This is the design of Cloud Shell that its MSI restricts `--resource` to only a few well-known ones.

As a workaround, in Cloud Shell, you may run `az login` to manually log in and run `az account get-access-token --resource=https://azurehealthcareapis.com` again.

Alternatively, you may use Azure CLI on a local machine to run this command.

[2020-02-19 12:13] sebader commented on #10345
same here with both, 1.16.4 and also 1.17.0
@seanmck  could you please take a look? thanks!

[2020-02-19 12:25] avnes opened #12269 "Docker layer scan reveal critical and high security issues with azure-cli:2.1.0 (and earlier)"
## Security issues found in azure-cli Docker image

I have run the mcr.microsoft.com/azure-cli:2.1.0 through Twistlock scan, because our company require that we do Docker layer scanning on both images we build ourself and on images we use. Several issues were found:

[code]

## To Reproduce:

- `You will need a Docker layer scanning tool. I used Twistlock. There are others.`

## Expected Behavior

[2020-02-19 12:31] yonzhan commented on #12241
add to S167.

[2020-02-19 12:35] yonzhan commented on #12252
add to S167.

[2020-02-19 12:38] mrscommentor commented on #8388
This is extremely bad, I should be able to use an F1 free tier plan, which I can through the portal, but via the az cli it assumes for some reason that always on is true even though I don't need always on. Also using consumption based ruins our naming standards as we can't control the name of the auto generated plan, so that is not an option either. Please default to always on false, or give us th

[2020-02-19 12:40] yonzhan commented on #12261
add to S167.

[2020-02-19 12:54] yonzhan commented on #12253
add to S167.

[2020-02-19 12:56] yonzhan commented on #12254
add to S167.

[2020-02-19 13:16] qwordy commented on #11035
This issue is fixed. Download the latest Azure CLI and have a try!

[2020-02-19 13:16] #11035 closed

[2020-02-19 13:32] clinsted opened #12271 "'az functionapp create' fails with '... AlwaysOn cannot be set ...'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When creating a function with the --plan arg and specifying an existing F1\FREE app service plan the command fails with '... AlwaysOn cannot be set for this site as the plan does not allow it....'. However it is possible to create a Function App through the Azure Portal on a F1\FREE plan.

**Command Name**
`az

[2020-02-19 14:03] RoyKimYYZ commented on #10345
I to managed to resolve this issue by updating my Az CLI (windows) and doing az aks brows ...

[2020-02-19 14:24] hentismith opened #12272 "Add support for performance counters"
**Is your feature request related to a problem? Please describe.**
Performance counters in Windows and Linux provide insight into the performance of hardware components, operating systems, and applications. This feature is not currently accessible via the Azure-cli.

I found a commit that notes:
  New features added in 2018-03-01
    - Performance counters settings

I cannot find any documentation

[2020-02-19 15:58] Masahigo opened #12273 "Enabling HTTPS for Azure CDN custom domain returns error (InvalidResource)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cdn custom-domain enable-https`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Azure DNS zone exists and CNAME record from there points to Azure CDN endpoint
- Following scri

[2020-02-19 16:15] #12166 closed

[2020-02-19 16:27] jluk commented on #12246
I'm unable to reproduce this on the same version, we'll need to investigate. Are you able to execute all other az cmds?

[2020-02-19 16:41] Diastro commented on #12101
@Juliehzl Any update on this?

[2020-02-19 16:47] fgauna12 opened #12274 "Could not enable aks dashboard on aks cluster"
## Describe the bug

Was trying to enable the kubernetes dashboard on an existing aks cluster deployed through Terraform.

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons --addons {}

[2020-02-19 16:55] Diastro commented on #12219
@qwordy, any update on this?

[2020-02-19 17:19] avanigupta commented on #12238
@aeghbal1 , are you trying to export key values to a file? If so, we only support exporting 'key' and 'value' to file. No other attributes are exported. Please see https://docs.microsoft.com/en-us/cli/azure/appconfig/kv?view=azure-cli-latest#az-appconfig-kv-export  for reference.

[2020-02-19 17:25] panchagnula commented on #12258
This is fixed by this PR https://github.com/Azure/azure-cli/pull/12260

[2020-02-19 17:30] panchagnula commented on #12247
the error is due to using --runtime, the fix is https://github.com/Azure/azure-cli/pull/12260

[2020-02-19 17:44] nyetwurk commented on #12199
[code]
solves the problem for me.

[2020-02-19 17:58] nyetwurk commented on #12199
The root cause is that the error message for going over quota contains non-ascii characters ("Details" is surrounded by smart single quotes).
https://github.com/Azure/azure-cli/pull/12200/commits/0fdb2b8d096858c7fb05f83117b0629fa7465e5b#r381434412

[2020-02-19 17:59] rodbutters commented on #12249
This worked previously w/o any credentials other than being logged in to Cloud Shell or via az login. Latest upgrade broke this and now my installation and configuration scripts no longer function. This is impacting my ability to install new subscriptions for customers - I now need to require a manual step in the installation process. Is there a CLI command to extract the connection string from a

[2020-02-19 18:04] sandipsh commented on #8016
@yonzhan, swagger update is completed now - https://github.com/Azure/azure-rest-api-specs/pull/8312

[2020-02-19 18:12] nyetwurk commented on #12199
Root cause is described here https://github.com/Azure/msrestazure-for-python/issues/140

[2020-02-19 18:14] aeghbal1 commented on #12238
But it totally makes sense for other attributes to be exportable and imprtable.  This will help with automated deployment/etc.

Thanks,
Arash

From: Avani Gupta <notifications@github.com>
Sent: Wednesday, February 19, 2020 9:19 AM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Arash Eghbal <aeghbal@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli] Descript

[2020-02-19 18:31] tkoestler commented on #12193
Ran into this yesterday with az storage blob generate-sas.  Makes it difficult to handle output from the az commands.

[2020-02-19 18:44] MarkHerhold commented on #10773
I hit this issue and it turns out that I typo'd a resource name (the function app itself). The CLI errors are terrible and make it look like a CLI bug when it actually was mine.

I used `--debug` at the end of my CLI command to help figure out the issue - there was a 404 HTTP response.

Hope this helps someone.

[2020-02-19 19:53] charleszipp commented on #12242
I do not think this is an issue with the Azure CLI necessarily but, more how the TerraformCLI task interprets failure. The azure cli writes warnings to stderr but still returns exit code 0. The task interprets the existence of text in std err as a failure regardless of the exit code. This will be resolved in the task itself by factoring in the exit code returned by the azure cli to determine if th

[2020-02-19 20:36] meetamitbhatia opened #12275 "apply-network-updates doc is incorrect as it doesn't reflects its right purpose"
The az apim apply-network-updates should be updating APIM resource running in the Virtual network to pick the updated network settings. However, docs suggests that it "Back up an API Management service to the configured storage account" which is wrong.

More details:
az apim apply-network-updates calls below REST call internally which should update the network settings.
https://management.azure.co

[2020-02-19 20:37] scott-zhou commented on #12246
I fixed it by manually install certificates. I will close it.

[2020-02-19 20:37] #12246 closed

[2020-02-19 20:37] scott-zhou commented on #12246
thanks for help

[2020-02-19 22:17] charleszipp commented on #12242
FYI, the TerraformCLI extension will no longer fail under the condition above as of 0.4.21.

[2020-02-19 22:26] adewaleo commented on #9522
@rbhadti94, @bradcavanagh-ffs . Unfortunately, I am no longer on the CLI team. Although, it seems this has been added to the current teams backlog.

In the [AD App Manifest reference docs](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#manifest-reference) preAuthorizedApplications have this in their description: "Requires an admin to have provided consent to

[2020-02-19 22:42] rbhadti94 commented on #9522
Hi @adewaleo ,

This isn't a permissions issue. I can get this command working using:
[code]
and then patching the JSON payload to https://graph.windows.net

But when trying to directly run the azure cli command as mentioned by @bradcavanagh-ffs :
[code]
it fails.

So why does the POST method work but not the CLI method?

[2020-02-19 23:22] RogerBestMsft opened #12276 "Failed to update task with "--commit-trigger-enabled true""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Unable to update an existing task to enable commit trigger.

**Command Name**
`az acr task update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr ta

[2020-02-19 23:42] adewaleo commented on #9522
@rbhadti94, my comment about permissions was in response to @PhilippJust's comment about the difference in API behavior depending on the kind of token.

I haven't investigated why the command isn't working properly (I'm no longer on the CLI team). But hopefully the person assigned can get to it soon.

[2020-02-20 01:45] fengzhou-msft commented on #12269
Thanks for reporting the issue. We'll take a look.

[2020-02-20 01:56] asarkar84 commented on #11207
This looks like an authorization issue, we need to know the subscription id to see what went wrong. The command az billing invoice list uses below rest API. We need few more details to investigate further:
- Please go to the following link: https://docs.microsoft.com/en-us/rest/api/billing/2017-04-24-preview/invoices/list
- Click on the "Try It" link and "Run" it after selecting the Subscription.

[2020-02-20 02:01] zhoxing-ms commented on #8016
@sandipsh We also need the method of obtaining resource evaluation results asynchronously, please add it.

Service API: https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/asyncOperationResults/{ResourceContainerGUID}?api-version=2018-07-01-preview

[2020-02-20 03:15] Juliehzl commented on #12242
In this way, you can use account key in your commands. Please let me know if your problem can be solved with account key provided.

[2020-02-20 05:57] zfchen95 opened #12278 "CLI support for file share soft delete"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Storage
**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
Storage RP will provide the API for user to list and restore deleted file shares once the share retention policy is set.
https://microsoft-my.share

[2020-02-20 06:38] Juliehzl commented on #12278
Thanks @zfchen95. Could you please share with us the target date for your feature?

[2020-02-20 08:08] panchagnula commented on #11869
@Roeche just to be clear you are seeing this error when you are trying to create an appservice plan? This appservice plan doesn't already exist with a different SKU? It could mean that you are out of quota (allowed number for FREE appservice plans). Can you run the same command with --debug flag & share the details? Thank you.

[2020-02-20 08:09] avanigupta commented on #12238
@aeghbal1 sure, we will be considering this functionality for a future release.

[2020-02-20 08:10] panchagnula commented on #11619
closing since there is no info here for this to be actionable

[2020-02-20 08:10] #11619 closed

[2020-02-20 08:10] panchagnula commented on #11479
there is no way to rename & existing resource. Thanks.

[2020-02-20 08:10] #11479 closed

[2020-02-20 09:20] #9904 closed

[2020-02-20 09:40] jiasli commented on #12272
@qwordy please help with this issue.

[2020-02-20 09:58] szaboferee opened #12280 "az acr login returns with error 1"
## Describe the bug
Using the official microsoft/azure-cli docker image, the az acr login command returns with a simple docker login warning and an error code. This warning was present before and didn't cause any issue.

the warning is the following:
[code]

it looks like the root cause is this change:
https://github.com/Azure/azure-cli/pull/12156/files

**Command Name**
`az acr login`

**Errors:*

[2020-02-20 11:07] vazach commented on #11984
I'm running into the same issue and same error message when listing blobs and trying to filter them by content length. So this is really not an issue related to VMs but rather to the JMESPath implementation in CLI.

az storage blob list --query "[?properties.contentLength>`0`]" --container-name <container-name> --account-name <sa name>  --sas-token <token>

also results in the error message descri

[2020-02-20 11:09] vsnarkhede13 opened #12281 "Azure cli uptime"
Is it possible to fetch uptime for each resource through azure cli without using additional service like cloudyn? If yes then how?

[2020-02-20 11:36] glaubitz opened #12283 "Please support newer versions of humanfriendly"
The ```azure-cli-core``` package currently depends on ```humanfriendly~=4.7``` meaning the minimum version is 4.7 and the maximum version supported is 5.0.

The current upstream version is 7.1.1 (https://pypi.org/project/humanfriendly) and in openSUSE, ```humanfriendly``` got just bumped to 5.0 making ```azure-cli-core``` uninstallable.

I will try to relax the dependency of the openSUSE package a

[2020-02-20 12:12] bim-msft commented on #12176
@Chibuzor27 According to the error log: `The refresh token has expired due to inactivity`. It means that your refresh token is expired, you may obtain it again or just re-login/re-authenticate.
Issue closed, if you have anything else unresolved, feel free to reopen and ask me again, thanks!

[2020-02-20 12:12] #12176 closed

[2020-02-20 12:25] bim-msft commented on #9332
Issue closed due to long time inactivity.
From my perspective, all `download` commands are not designed for piping, they just download some files and return nothing. I think a command like `az keyvault certificate show --encoding PEM` would be helpful, but we don't have it right now.
If anything else, feel free to reopen, thanks!

[2020-02-20 12:55] ahardin13 opened #12284 "az webapp update --set clientCertEnabled=true fails"
## Describe the bug
I am trying to enable mutual TLS using the command found at https://docs.microsoft.com/en-us/azure/app-service/app-service-web-configure-tls-mutual-auth

**Command Name**
`az webapp update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite step

[2020-02-20 13:08] ahardin13 commented on #12284
This is a duplicate of https://github.com/Azure/azure-cli/issues/10616 and the response there resolved my problem.

[2020-02-20 13:08] #12284 closed

[2020-02-20 13:12] atbagga opened #12285 "Telemetry enabled flag should be easy to query from azure cli extensions"
**Is your feature request related to a problem? Please describe.**
We have an extensions where we log telemetry after user permission. Since Azure CLI allows users to set this we depend on reading this value.

There should be a way to query this using azure cli core api so the logic is consistent.

**Describe the solution you'd like**
Azure CLI core telemetry module should have a is_telemetry_enab

[2020-02-20 14:12] chbe8475 opened #12287 "Architect"
The different parameters should have a list of accepted values to make the documentation even better. Like in the Storage section: https://docs.microsoft.com/en-us/cli/azure/storage/account?view=azure-cli-latest#az-storage-account-create

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 15cb3fd0-5d13-ab34-223b-f7972aae16a

[2020-02-20 14:18] chbe8475 commented on #11195
@David-Stark did you find a solution or work around for this?

[2020-02-20 14:47] thall commented on #11576
I have the same problem, very very confusing! Why is the password removed?
I want my clients to download the password protected pkcs12 certificate. I don't want to give them access to `keys` or `secrets`.

@haroldrandom @bim-msft

[2020-02-20 14:55] evmimagina commented on #11576
Hi all,

My 5 cents on this.

A workaround all around this, create the certificate as a secret, leaves the password on the PFX (but not easy to import a pfx file as a secret neither!) so I wrote this script;

#START OF PS SCRIPT
write-host " ========= Set Variables =========="
write-host "kvname=$kvname"
write-host "pfxFilePath=$pfxFilePath"
write-host "pwd=$pwd"
write-host "kvsecretname=$kvsecret

[2020-02-20 15:01] jiasli commented on #11984
According to [JMESPath specification](http://jmespath.org/specification.html#comparison-operators), for Filter Expressions, numbers need to be quoted by backtick `` ` ``.

To get a list of VM sizes where the name contains **_B** and the number of CPU cores is **4**, on Windows:

[code]

On Linux, since `` ` `` is interpolated by Bash, either escape it with `\` or use `'` (see [this post](https://s

[2020-02-20 15:05] thall opened #12288 "Distribute Self-Signed Client Certificates"
Hi,

I have created self-signed root ca certificate, intermediate certficate and client certificates.
I have imported the certificates to the KeyVault (in both formats, pem and pkcs12 (without password, seems to be removed..)).

The problem I'm facing is how I can distribute my password protected client certificate in pkcs12 format. I don't want to give access to download my `keys` or `secrets` in

[2020-02-20 15:11] jikuja opened #12289 "functionapp: az cli disables build on deploy for windows function apps"
**Describe the bug**
https://github.com/Azure/azure-cli/pull/10706 effective disables remote builds for windows consumption plan function apps.

Changelog does not mention that new flag is for linux function apps only:

Also no deprecation warning for have been given for windows consumption plan with SCM_DO_BUILD_DURING_DEPLOYMENT=true

Documentation[1] does not specify any ways to trigger `npm in

[2020-02-20 16:09] fengzhou-msft commented on #12023
Thanks for the investigation. I will try your proposed solution.

[2020-02-20 16:11] fengzhou-msft commented on #11953
Close due to inactivity. Please feel free to reopen the issue if it still exists.

[2020-02-20 16:19] pekkaar commented on #11207
Thanks for the feedback. I just tried "az billing invoice list" and now it
works! I am not sure what changed since last Nov. I have had the exact same
permissions to the subscriptions.

Anyway, thanks for the effort and information.

Kind regards,
Peter

On Thu, Feb 20, 2020 at 2:56 AM Anirban Sarkar <notifications@github.com>
wrote: