[2020-06-23 11:19] nordquist commented on #13909
So, what is happening with this? Did it go straight to trash can? @AzureAppServiceCLI @antcp

[2020-06-23 11:45] markthebault opened #14074 "Azure AD permissions needed"
Hi There, I am running a pipeline under a service principal and I try to add new owners to the Azure AD applications that I create through this SP. The latter as the following permissions granted:
<img width="871" alt="image" src="https://user-images.githubusercontent.com/3846664/85399565-5325f480-b557-11ea-9708-5d504745d99d.png">
However I am not able to add new owners when I create a new applica

[2020-06-23 12:04] yonzhan commented on #14073
add to S172

[2020-06-23 12:06] yonzhan commented on #14074
add to S172

[2020-06-23 13:16] ttjackott commented on #14032
Hi @Juliehzl sorry yes it looks like i was passing in a string to the --entity argument! I think i was having trouble calling this programatically in powershell without without there being quotes either side it, if that makes sense.

[2020-06-23 13:21] ttjackott commented on #14032
Since this isn't technically a bug i'll close the issue

[2020-06-23 13:21] #14032 closed

[2020-06-23 14:11] shreya6491 opened #14075 "Az storage entity query unable to fetch all entries from table"
**Description**
I am trying to use Az storage entity query to get entries from a cosmos db table. (following  https://docs.microsoft.com/en-us/cli/azure/storage/entity?view=azure-cli-latest#az-storage-entity-query)

The table has about 100 entries, but even after removing all filters, it is able to fetch only ~30 of them.
This is how we are getting the rows -
$tb = (az storage entity query --table

[2020-06-23 14:58] Ulrich208 commented on #11831
Hey @shurd,

I could confirm that the created index is contained in the output of the `az cosmosdb mongodb collection create` and `show` commands.

Thanks for letting me know!

[2020-06-23 14:58] #11831 closed

[2020-06-23 15:06] maxramqvist opened #14076 "az ad signed-in-user show fails (terraform plan fails)"
The command `az ad signed-in-user show` fails with below error. I discovered this while troubleshooting running "terraform plan".  This works with the same account on other machines.

Terraform gives me the error:
`Error building account: Error getting authenticated object ID: Error parsing json result from the Azure CLI: Error waiting for the Azure CLI: exit status 1`

Im logged in to azure via A

[2020-06-23 15:12] maxramqvist commented on #14076
works in latest version of azure cli

[2020-06-23 15:12] #14076 closed

[2020-06-23 15:22] SQLDataSide commented on #13330
still getting an error
az : ERROR: az kusto cluster create: 'name=Dev(No SLA)_Standard_D11_v2' is not a valid value for '--sku'. See 'az kusto cluster create --help'.

[2020-06-23 15:25] SQLDataSide commented on #13330
i did run "az extension add -n kusto" got an error

az extension add -n kusto
az : ERROR: No matching extensions for 'kusto'. Use --debug for more information.
At line:1 char:1
+ az extension add -n kusto
+ ~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (ERROR: No match...re information.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError

[2020-06-23 15:28] SQLDataSide commented on #13330
I even ran the "**az extension add -n kusto --debug**" and i git the error

ERROR: cli.azure.cli.core.util : No matching extensions for 'kusto'. Use --debug for more information.
ERROR: No matching extensions for 'kusto'. Use --debug for more information.

[2020-06-23 15:51] SQLDataSide commented on #13330
i did run it and got the error

z : ERROR: No matching extensions for 'kusto'. Use --debug for more information.
At line:1 char:1
+ az extension add -n kusto
+ ~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (ERROR: No match...re information.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError

[2020-06-23 15:56] praveen-pk commented on #14054
@Juliehzl  is the trace with --debug.
[code]

[2020-06-23 15:56] ugrewal opened #14078 "cannot create any RG through the BASH"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac`

## Expected Behavior

## Environment Summar

[2020-06-23 16:22] mojayara commented on #13994
Hi @assaf-grth, yes you are correct the extended properties are dynamic for each recommendation type. But unfortunately there are no documentation for all available possibilities of these extended properties.

[2020-06-23 16:29] assaf-grth commented on #13994
Hi @mojayara,
Is there an API call or a github file containing these details?

[2020-06-23 16:52] mojayara commented on #13994
@assaf-grth, sorry we do not have such elaborate details in our public recommendation metadata avaialable in either form you asked for.

FYI though, we have a ARM API to fetch basic details for the all [recommendation metadata details](https://docs.microsoft.com/en-us/rest/api/advisor/recommendationmetadata). Unfortunately this does not have the extended properties information.

[2020-06-23 17:20] vladris commented on #13330
Could you please share the full command you ran to create the cluster?

[2020-06-23 17:44] ramayer-fli opened #14079 "Why does the range of --top for 'az consumption usage list' have a maximum of 1000?"
[Enter feedback here]

Why this restriction:

    --top -t
    Maximum number of items to return. Value range: 1-1000.

on:

https://docs.microsoft.com/en-us/cli/azure/consumption/usage?view=azure-cli-latest#az-consumption-usage-list

It would be very useful to be able to look at all of a month's consumption (or even a day's) in detail, kinda like we could with https://ea.azure.com/report/download

[2020-06-23 17:47] SQLDataSide commented on #13330
yes i did run ........

az kusto cluster create --name $AzureDataExplorer --resource-group 'IoT_Project_RG' --location westus2 --sku name='Dev(No SLA)_Standard_D11_v2' capacity=1 tier='Basic'

..... and got the error

az : ERROR: az kusto cluster create: 'name=Dev(No SLA)_Standard_D11_v2' is not a valid value for '--sku'. See 'az kusto cluster create --help'.
At line:1 char:1
+ az kusto cluster cr

[2020-06-23 17:51] vladris commented on #13330
Strange, that worked for me. I'll let the product engineers follow up.

[2020-06-23 17:57] dkirrane commented on #9204
I'm hitting this in GitBASH using `--query`
[code]

[2020-06-23 17:59] SQLDataSide commented on #13330
can you check this please
....
I even ran the "az extension add -n kusto --debug" and i git the error

ERROR: cli.azure.cli.core.util : No matching extensions for 'kusto'. Use --debug for more information.
ERROR: No matching extensions for 'kusto'. Use --debug for more information.

------ how do you i know that the KUSTO have been installed correctly?????
thanks

[2020-06-23 18:12] vladris commented on #13330
I just ran that command and it worked fine for me. Maybe try updating Az CLI?

[2020-06-23 19:52] sitereactor commented on #13777
Additionally, the official Azure App Service github actions expects the publishing profile for deploying and if you are creating the app service webapp as part of the Github Workflow its close to impossible to automate the deployment, because the az cli is not able to produce the expected xml file.

https://github.com/marketplace/actions/azure-webapp#dependencies-on-other-github-actions

[2020-06-23 20:08] SQLDataSide commented on #13330
hi i did reinstall AZURE CLI and Kusto and it did work
I gave you  the code
az kusto cluster create --name $AzureDataExplorer --resource-group ........
and you mentioned it worked , on kkmy side i had to change the code to
az kusto cluster create --**cluster-**name $AzureDataExplorer --resource-group ........

**Feedback**:
when running anything related to "az kusto ....." the first thing you get

[2020-06-23 20:39] tejasshah7 commented on #13811
Why was this release pushed out? Our GA release was this week. With this being pushed out, it would impact our GA.

[2020-06-23 20:58] yonzhan commented on #14075
add to S172

[2020-06-23 21:04] yonzhan commented on #14079
consumption

[2020-06-23 21:34] ifeoluwaokunoren commented on #8941
az feature unregister is now supported - [PR merged](https://github.com/Azure/azure-cli/pull/13487)
Documentation Here: https://docs.microsoft.com/en-us/cli/azure/feature?view=azure-cli-latest

[2020-06-23 21:34] #8941 closed

[2020-06-23 21:35] tejasshah7 commented on #13634
What is the update on this?

[2020-06-23 21:35] PaulCharlton commented on #12242
this is nowhere near resolved.
in a pipeline, one can no longer do

1) az storage account create
2) az storage share create

simply put, the contributor role that allows #1 to succeed does not allow #2 to succeed (because  it needs the special SA role) and there is no way in a pipeline to assign the IAM permissions for the SA role without giving the pipeline OWNER access over the subscription.

wh

[2020-06-23 21:40] PaulCharlton opened #14080 "No connection string, account key or sas token found,"
referencing #12242

this is nowhere near resolved.
in a pipeline, one can no longer do

1) az storage account create
2) az storage share create

simply put, the contributor role that allows #1 to succeed does not allow #2 to succeed (because it needs the special SA role) and there is no way in a pipeline to assign the IAM permissions for the special SA role without giving the pipeline OWNER access

[2020-06-23 22:49] yonzhan commented on #14080
add to S172

[2020-06-24 00:33] PaulCharlton commented on #14080
acceptable workaround for now:
1) az storage account create --name SA
2) CS="$(az storage account show-connection-string --name SA)"
3) az storage share create --connection-string CS --account-name SA --name SHARE_NAME

however, any identity (User, AP, MI) capable of retrieving the connection string should also be able to perform direct action without it

[2020-06-24 01:05] shenmuxiaosen commented on #14007
Hi ajafry, thanks for reporting this issue. We do have an example for how to use ```--fields``` for other list commands but not for revision. Will have a pull request to add.

[2020-06-24 01:26] yungezz commented on #14078
hi @ugrewal could you pls share the error you met when running the command? It will help investigate and trouble shooting. thanks

[2020-06-24 01:37] shenmuxiaosen commented on #14007
PR link: https://github.com/Azure/azure-cli/pull/14081

[2020-06-24 01:39] JPPintoDotCom opened #14082 "Control Panel uninstall fails - azure-cli-2.0.58.msi"
Its looking for **azure-cli-2.0.58.msi**, it will not uninstall without it. When installing a newer version it tries to uninstall the old one first, resulting in the same error. Install via PowerShell does not work either.

[2020-06-24 01:52] PaulCharlton opened #14083 "update AZ CLI for compatibility with Python 3.8"
re: https://github.com/Azure/azure-cli/issues/12390

see: https://docs.python.org/3.8/whatsnew/3.8.html#changes-in-python-behavior

This issue is still wide open with many AZ CLI modules

[code]

see, for example:
[code]

[2020-06-24 02:07] yungezz commented on #14083
hi @fengzhou-msft could you pls have a look?

[2020-06-24 02:09] yungezz commented on #14082
hi @fengzhou-msft could you pls have a look? thanks

[2020-06-24 02:16] akucer commented on #7052
Not able to repro so closing out.

[2020-06-24 02:16] #7052 closed

[2020-06-24 02:41] nkemakolam commented on #7261
I tried creating a web app for container I used the -i option yet it didn’t give me acr as a default container reg instead it treated my parameter as a private container repo.where as i supplied my acr url and image name to the command.please any idea.??????

[2020-06-24 03:05] Juliehzl commented on #14075
Hi @shreya6491, for the filter with `RowKey`, it can work as below:
[code]

[2020-06-24 03:23] Juliehzl commented on #14075
For querying without filter, i can list all items, e.g. 111 here.
[code]

[2020-06-24 03:24] Juliehzl commented on #14075
could you share debug information with me through `--debug` in your command?

[2020-06-24 04:55] staff0rd opened #14085 "az ad app permission list fails with 404 when permission list is not empty"
## Describe the bug

**Command Name**
`az ad app permission list`

**Errors:**

[code]

Items inside `<>` are redacted

## To Reproduce:

Note that prior to adding a permission, `az ad app permission list  --id <myAppId>` correctly returns `[]`.

- Browse to App Registration on portal.azure.com for the given app
- Click API Permissions
- Add Permission > Microsoft Graph > Delegated permissions > C

[2020-06-24 05:11] damienbod opened #14086 "Missing Azure CLI features for Azure AD App registrations"
The signInAudience, groupMembershipClaims, accessTokenAcceptedVersion cannot be set, updated. For example, it is not possible to set the value AzureADandPersonalMicrosoftAccount for the signInAudience.

## Missing Azure CLI features for Azure AD App registrations

- Not possible to set all 4 values of the `signInAudience` property
- Not possible to assign the Application to the Azure AD group (Or

[2020-06-24 05:12] SeanFeldman commented on #13777
@panchagnula any updates on this?

[2020-06-24 05:15] panchagnula commented on #13777
@SeanFeldman  we will take a look at this - no ETA yet to share.

[2020-06-24 05:18] SeanFeldman commented on #13777
I was hoping this would be already in a validation state as it was reported a week ago...

[2020-06-24 05:30] panchagnula commented on #13777
Looking at our code CLI seems to be explicitly converting this to JSON - API returns XML since this will be a breaking change we need to handle this correctly - we might need to add a property to allow XML, so give me sometime to run this by cli folks to handle breaking changes

[2020-06-24 05:41] SeanFeldman commented on #13777
Too bad `--output` doesn't support XML. It would solve the problem.

[2020-06-24 05:43] SeanFeldman commented on #13777
BTW, it feels like the proper response should be XML. And if `--output` would be `json` only then the conversion would take place.

[2020-06-24 05:56] logachev opened #14087 ""az tag delete" doesn't delete Subscription tags"
**Describe the bug**

`az tag delete` doesn't delete Subscription tags.

**To Reproduce**
1. Add some tag via the portal to your subscription
2. `az set account -s <subscription>`
3. `az tag list` - verify you see subscription tag
4. `az tag delete --name <your_tag>` -- no error, API returns 204 (checked with Debug)
5. `az tag list` -- your tag is still there (also visible via the portal)

**Expec

[2020-06-24 05:58] Dmitry1987 opened #14088 "az login fails unexpectedly "NotImplementedError: APIVersion 2019-06-01 is not available""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
az login fails unexpectedly, in the same environment and docker container where it always was working, very strange.
100% reproducible, fails all the time.

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they ma

[2020-06-24 06:03] Dmitry1987 commented on #14088
More detailed debug output is here https://gist.github.com/Dmitry1987/65f00f6bf49242c75d68ec4663456591

[2020-06-24 06:10] SeaDude commented on #13466
And other commonly deployed Azure Resources! Allow az cli calls with flag `--available-skus` to list all for a given resource (or the like).

[2020-06-24 06:43] shreya6491 commented on #14075
Hi @Juliehzl  these are the debug info
[code]

[2020-06-24 07:07] AftabSaraz opened #14089 "Exception in container registry login command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr login --name {}`

## Expected Behavior

## Environment Summary
[code

[2020-06-24 07:07] AftabSaraz commented on #14089
he command failed with an unexpected error. Here is the traceback:

HTTPSConnectionPool(host='whitelabelprod.azurecr.io', port=443): Max retries exceeded with url: /v2/ (Caused by SSLError(SSLError("bad handshake: SysCallError(-1, 'Unexpected EOF')")))
Traceback (most recent call last):
  File "/usr/local/Cellar/azure-cli/2.3.1/libexec/lib/python3.8/site-packages/urllib3/contrib/pyopenssl.py", lin

[2020-06-24 07:52] silentbobbert opened #14090 "Cannot update AAD App Registration in B2C Tenant after first user logs in"
**Command Name**
`az ad app update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behaviour. Note that argument values have been redacted, as they may contain sensitive information.

- Create an Azure B2C Tenant
- Log in to Azure Cli, using a Service Principal or user, with rights over the app registration.
`az login --allow-no-subscriptions --service-principal -t $tenantId -u $clie

[2020-06-24 11:09] yonzhan commented on #14085
add to S172

[2020-06-24 11:30] yonzhan commented on #14086
add to S172

[2020-06-24 11:33] yonzhan commented on #14088
add to S172

[2020-06-24 11:35] yonzhan commented on #14087
az tag

[2020-06-24 11:37] yonzhan commented on #14089
acr

[2020-06-24 12:55] bursson opened #14091 "az keyvault list-deleted returns an empty result instead of an AuthorizationError"
**Describe the bug**
 Command `az keyvault list-deleted` does not return an error even though the user does not have rights to `Microsoft.KeyVault/locations/deletedVaults/read`. Instead it returns an empty result.

**To Reproduce**
1. Soft delete a key vault
2. Run `az keyvault list-deleted` with credentials that do not have `Microsoft.KeyVault/locations/deletedVaults/read`

**Expected behavior**

[2020-06-24 13:32] vishal8k opened #14092 "Error when running command "az vmss update""
## Describe the bug

**Command Name**
`az vmss update --resource-group myrgname --name myssname --add virtualMachineProfile.networkProfile.networkInterfaceConfigurations[0].ipConfigurations[0].ApplicationGatewayBackendAddressPools '{"id": "/subscriptions/mysubid/resourceGroups/myrgname/providers/Microsoft.Network/applicationGateways/Myappgwname/backendAddressPools/mybpnanme"}'`

**Errors:**
[code]

[2020-06-24 14:27] jiasli opened #14093 "[Packaging] Update the bundled Python to 3.8"
## Description

On windows, Azure CLI installed with `pip` (which uses the system Python 3.8) is faster than the one installed with MSI installer (which uses the bundled Python 3.6):

Installed with `pip`:
[code]

Installed with MSI installer:
[code]

## Goal

We should evaluate whether to update the bundled/built-in Python of MSI installer (or maybe deb installer on Ubuntu) to 3.8 for performance

[2020-06-24 14:31] yonzhan commented on #14093
Packaging

[2020-06-24 15:35] mbirgi opened #14094 "az find returns error 400 (BodyMalformed)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az find`

**Errors:**
`[?] Unexpected Error: [HTTP 400]: Content: b'{"error":{"code":"BadRequest","message":"The request message could not be processed. Please check it for errors.","target":null,"details":[{"code":"BodyMalformed","message":"The request body is missing required properties","t

[2020-06-24 17:16] mataralhawiti opened #14095 "az vm extension set - doesn't seem working probably"
**Describe the bug**
Running `az vm extension set`

will enable the extension on the target VM _**but won't**_  create the expected table/s (in my case : **WADWindowsEventLogsTable**) in the give storage account (or write to it if it's already exist).

**To Reproduce**
run the command :
 `az vm extension set --resource-group myrg --vm-name myvm --name IaaSDiagnostics --publisher Microsoft.Azure.Di

[2020-06-24 17:20] toddysm commented on #14089
@AftabSaraz would you mind updating the Azure CLI with `brew update && brew upgrade azure-cli` and try again? You seem to be running an outdated version of azure-cli (2.3.1), the latest is 2.8.0 I have on my machine and it is able to connect.

Let us know if you are experiencing the issue after upgrade and we can investigate.

[2020-06-24 17:27] toddysm commented on #14072
@danashviro would you mind updating the Azure CLI. The latest version is 2.8.0 and you seem to be running an outdated version. Please let us know if the issue persists after the upgrade.

[2020-06-24 17:33] ufalak commented on #10564
Im having the same issue

[2020-06-24 17:36] danashviro commented on #14072
I upgraded to 2.8.0 and the issue persists

[2020-06-24 17:46] calvinsID commented on #13863
@mkosieradzki Thanks for reporting this! This behaviour happens whenever an invalid vnet name is used. The command's --vnet parameter expects a vnet name rather than resourceId. I'll fix the error handling/message for invalid vnet name, however please continue using vnet name rather than resourceId

[2020-06-24 17:48] mkosieradzki commented on #13863
Thanks. How can I connect vnet from a different RG using CLI? Do I need to use ARM template or REST API?

[2020-06-24 18:14] shurd commented on #13686
Hi @preddy727 thank you for opening this issue. We are currently working on reconciling the differences between the portal listed connection string and the CLI-listed connection string. I will update once we have a better idea of when this will be resolved

[2020-06-24 18:54] edsonharantes commented on #13569
hi @arrownj , I used the MSI

[2020-06-24 19:58] haokanga opened #14096 "Error "az login: error: 'issuer'" with "az login --service-principal""
**Describe the bug**
`az login --service-principal` failed with the error message `az login: error: 'issuer'`.

The same Service Principal Credentials JSON proved to work successfully in [Azure Login GitHub Actions](https://github.com/Azure/login)

However, the effectively identical `az login --service-principal` command that worked in https://github.com/Azure/login/blob/master/src/main.ts#L38 fai

[2020-06-24 20:47] ajlam commented on #13856
Closing issue.

[2020-06-24 20:47] #13856 closed

[2020-06-24 21:09] btardif commented on #12876
![image](https://user-images.githubusercontent.com/4119816/85628015-49b68e00-b624-11ea-9da7-96b748e53eff.png)

Use this FWLink --> https://go.microsoft.com/fwlink/?linkid=2133856

See: https://go.microsoft.com/fwlink/?linkid=2133856

[2020-06-24 21:13] aks02hay commented on #14096
We have reproduced this same error in Azure Cloud Shell

## Environment Summary
[code]

[2020-06-24 21:36] subhasishdc commented on #13891
@MyronFanQiu : Created this PR to deprecate this argument and remove it from the help section: https://github.com/Azure/azure-cli/pull/14098

[2020-06-24 21:38] calvinsID opened #14099 "az webapp log deployment show should show actual logs instead of the log info"
**Describe the bug**
az webapp log deployment show should show actual logs instead of the log info

**To Reproduce**
az webapp log deployment show

**Expected behavior**
Show actual deployment logs instead of info about the deployment logs

Sample output:
[
  {
    "log_time": "2020...",
    "id": "id",
    "message": "log message",
    "type": 0,
    "details_url": null
  },
  {
    "log_time": "

[2020-06-24 21:57] calvinsID commented on #13863
Using the vnet name of a vnet in a different RG should work. However if there are multiple vnets of the same name, that can be an issue.. I'll put in a fix to allow using the vnet resourceId in place of the name

[2020-06-24 21:58] mkosieradzki commented on #13863
Thanks! That would be a big improvement in my scenario.

[2020-06-24 22:07] haokanga commented on #14096
Resolved

[2020-06-24 22:12] haokanga commented on #14096
Resolved. This is a pure Linux scripting error on the client side.
This is caused by the double quotes produced by the jq command.

The snippet below will work with az login --service-principal
[code]

The following command will throw `"az login: error: 'issuer'"` error because the tenant ID is invalid.
[code]

As a conclusion, there is no technical bug on Azure CLI. Azure CLI may consider providi

[2020-06-24 23:36] yonzhan commented on #14094
az find

[2020-06-24 23:42] yonzhan commented on #14099
webapp

[2020-06-24 23:46] yonzhan commented on #14096
add to S172

[2020-06-25 00:09] yungezz commented on #14095
@qwordy could you pls have a look? thanks

[2020-06-25 00:12] yungezz commented on #14094
add @christopher-o-toole @mirdaki to help have a look

[2020-06-25 00:13] yungezz commented on #14093
this need furthur discussion.

[2020-06-25 00:14] yungezz commented on #14092
hi @qwordy could you pls have a look

[2020-06-25 00:17] yungezz commented on #14091
hi @bim-msft could you pls have a look?

[2020-06-25 01:00] yungezz opened #14100 "[VMSS] support update the disk encryption set for a VMSS"
**Resource Provider**

VMSS

**Description of Feature or Work Requested**

To support update the disk encryption set for a VMSS

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2020-06-25 01:01] yungezz commented on #14100
this is a feature request

[2020-06-25 03:49] yonzhan opened #14102 "Support multi-API capability on cross-RP scenario"
The concern we have is any API-version change in ARM is limited to ARM’s own resource types (subscriptions, RGs, tags etc.), and should have absolutely no impact on any other service, including the ring-0 services. At least that is the idea. Otherwise I feel there is something fundamentally wrong with the api-version work in ARM, or in how they are used in CLI tests.

We saw a couple of examples o

[2020-06-25 03:51] yonzhan commented on #14102
multi-API capability on cross-RP scenario

[2020-06-25 04:15] mirdaki commented on #14094
My guess it that the user was not logged into a subscription. I'll look at our telemetry to see if I can find this call to verify.

We will work on a fix for the next release.

[2020-06-25 08:04] aarroyoc commented on #13968
It seems to be working right now. Thanks!

[2020-06-25 08:04] #13968 closed

[2020-06-25 09:29] sven73a commented on #13928
With the option `--only-show-errors` it works nicely. Thank again.

[2020-06-25 14:10] dschmack commented on #12909
Multi-line may not be supported by vanilla JSON, but the [ARM template documentation](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-syntax#multi-line-strings) says that it is valid.  I find the lack of multi-line support particularly frustrating when dealing with [stored procs](https://docs.microsoft.com/en-us/azure/templates/microsoft.documentdb/2020-04-01/datab

[2020-06-25 14:30] dschmack commented on #12909
I'd also make the argument that the value after the service processing is precisely what is expected.  The fact that it won't work is specific to the field.  It should be perfectly valid to have a variable whose value includes newlines.  You just can't use that variable in a context where the new line wouldn't be allowed.

For example, both of these values should be equivalent, and neither of them

[2020-06-25 14:44] etherge opened #14104 "Failed to get service principle with app id"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp show --id {} --query {}`

## Expected Behavior

## Environment Su

[2020-06-25 15:34] ezYakaEagle442 opened #14105 "Azure Arc for Kube GitOps Policy deletion fails silently"
**Describe the bug**

I have successfully deployed the Azure Policy "Deploy GitOps to Kubernetes cluster" - in Preview -
which I can then see with CLI:
az policy assignment list -g $k3s_rg_name

But then when I sue CLI to delete it, there is no output but the polcy is not deleted, I can see it in the portal and also with:
az policy assignment list -g $k3s_rg_name

See:
- [https://docs.microsoft.co

[2020-06-25 15:36] ezYakaEagle442 commented on #14105
I could successfully delete it from the portal

[2020-06-25 16:19] yonzhan commented on #14105
add to S172

[2020-06-25 16:21] yonzhan commented on #14104
add to S173

[2020-06-25 17:24] ajay15283 opened #14106 "az vm extenstion delete timed out and left the "provisioningState": "Deleting""
az vm extension delete timed out and left the extension in "deleting" state and re installation fails with below error

Operation 'PUT Extension' is not allowed on VM extension 'OmsAgentForLinux' since it is marked for deletion. You can only retry the Delete operation (or wait for an ongoing one to complete).

azure-cli                          2.2.0

command-modules-nspkg              2.0.3
core

[2020-06-25 18:59] MehaKaushik commented on #13797
https://github.com/Azure/azure-cli/pull/13950

Merged and released.

[2020-06-25 18:59] #13797 closed

[2020-06-25 19:37] toddysm commented on #14072
@danashviro I just tested this with 2.8.0 on both Windows and Mac and it works without issues. Are you sure that the registry is in the subscription that is set in `az login`? You may need to set the proper subscription. Can you try:
[code]

[2020-06-25 20:29] hivyas commented on #14021
Hi there, thanks for reporting. We filed this as bug 7540668 with our team and set it to milestone S172. We will be investigating

[2020-06-25 21:24] kbooth-insight commented on #11980
Facing the same problem, sometimes it works, other times it doesn't.

[2020-06-25 21:31] ramankumarlive opened #14107 "CLI Support for enabling double encryption for Managed Disks"
**Resource Provider**
Microsoft.Compute

**Description of Feature or Work Requested**

Double encryption at rest is the continuation of server-side encryption (SSE) at rest with customer managed keys (CMK) that we recently announced in GA for managed disks. SSE with CMK allows customers to encrypt the data stored on managed disks at rest with AES 256 encryption. High security sensitive customers w

[2020-06-25 21:47] sabieler opened #14108 "WindowsTerminal: 400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm list`

## Expected Behavior
List available VMs, which does work from Az

[2020-06-25 22:37] ezwiefel commented on #13927
@yugangw-msft I believe it was the default installation on the Azure Machine Learning Compute Instance

[2020-06-25 22:44] udayansarma commented on #9942
I see that the all the az CLI command is doing is a post to the endpoint below. If that end point or equivalent exists in the sovereign cloud I don't see that this is a huge amount of work. Also, if that endpoint is available then we should be able to leverage that in the interim without having to go through the portal.
On another though if we are able to consent using the Azure portal then there

[2020-06-25 22:46] toddysm commented on #8984
@skudryk The first command does validation for the AKS cluster while the second command does validation for the ACR you are trying to create. The error in the second command is that the name of the ACR cannot have the special symbols that you added (see the pattern). This is an expected behavior and it is by design.

[2020-06-25 22:46] #8984 closed

[2020-06-25 23:29] bureado commented on #13320
Hello! We launched both Ubuntu Server 20.04 LTS and Ubuntu Pro 20.04 on 23 April.

While this means that images are tested, built, published and supported in Azure (see below), I want to acknowledge that the `UbuntuLTS` alias that many of you use when creating new VMs still points to the 18.04 LTS release.

This is not an omission, but a way to give users additional time to prepare for the switch

[2020-06-26 00:09] freemansoft commented on #13866
The "|" is a bad character to put in the API.  Are you saying this change would have to happen in a different project?

[2020-06-26 00:13] panchagnula commented on #13866
@freemansoft yes our API team is working on re-writing the API & this is the feedback I already shared with them. If API doesn't make that change - we plan to  obscure this info from CLI command & handle it on the client before passing it to the API, but that will take time unfortunately.

[2020-06-26 03:00] zhoxing-ms commented on #12909
@dschmack Thank you for your feedback. I think this requires our service team to confirm whether automatically adding line breaks to the muti-line value is in line with the expected behavior.
If they think the design works as expected and can ensure that the effect of the original parameters is not affected by these line breaks, then CLI will let the ARM template containing muti-line pass the veri

[2020-06-26 05:16] seanmck commented on #14071
Looks like a transient network issue.

[2020-06-26 05:16] #14071 closed

[2020-06-26 05:40] dbradish-microsoft opened #14110 "az account reference content is stating that --display-name is optional; also needs clarification of an enrollment account"
# Primary feedback
Link to reference --> https://docs.microsoft.com/en-us/cli/azure/ext/subscription/account?view=azure-cli-latest

### description of command
Create a subscription.

### now create a subscription
az account create --enrollment-account-name  mySub --offer-type MS-AZR-0148P

#### see error
MissingParameter - Required parameter DisplayName not provided.

### check reference content
h

[2020-06-26 06:13] tr-hagfjall opened #14111 "Cannot update tag on Azure Cache via 'az resource tag' if the tier is Basic"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az resource tag`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az resource tag -i --ids <ID to a Redis cache with basic tier> --tags Name=Value`

## Expected Behavior
The tag

[2020-06-26 08:07] breiter commented on #8654
My company is standardized on MacPorts for years. We evaluated Homebrew but it is not for us. We considered Joyent's pkgsrc but it wasn't really better than MacPorts for us.  Not everyone uses Homebrew and `brew ` certainly is not the official package manager for macOS.

It feels pretty hostile for you to not support MacPorts #7361 and also not have a .pkg.

FWIW, MacPorts has a `py-awscli` packag

[2020-06-26 10:50] yonzhan commented on #14110
add to S173

[2020-06-26 10:51] yonzhan commented on #14111
add to S173

[2020-06-26 12:29] alex-goncharov opened #14112 "az storage fs command crashes when run with AZURE_STORAGE_CONNECTION_STRING env variable"
## Describe the bug

**Command Name**
`az storage fs access show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `export AZURE_STORAGE_CONNECTION_STRING=$(az storage account show-connection-string --subscription XXX --name YYY | jq .connectionS

[2020-06-26 12:42] siva273 opened #14113 "az aks get-credentials giving error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2020-06-26 12:56] subesokun opened #14114 "Add 'az apim restore' command"
**Is your feature request related to a problem? Please describe.**

The Azure CLI only supports creating a backup of the APIM but provides no command to restore it from a given backup.

**Describe the solution you'd like**

Add a `az apim restore` command to restore the APIM from a backup

**Additional context**

https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-disaster-r

[2020-06-26 13:05] verndrade opened #14115 "tried listing locations and failures thrown"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az appservice list-locations`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az appservice list-locations --sku {}`

## Expected Behavio

[2020-06-26 13:15] tbojanowski opened #14116 "az dls fs access set-entry errors out in powershell, bash and shell"
Originally reported in DevOps, but they don't think its their problem.

https://developercommunity.visualstudio.com/content/problem/1090879/az-dls-fs-access-set-entry-errors-out-in-powershel.html

While running manually in Azure web Shell, command succeeds and returns no errors.
While running the same command in Azure DevOps release pipeline with fail on standard error turned off:
Powershell succe

[2020-06-26 14:56] yonzhan commented on #14112
add to S173

[2020-06-26 14:58] yonzhan commented on #14113
aks

[2020-06-26 15:00] yonzhan commented on #14114
apim

[2020-06-26 15:00] yonzhan commented on #14115
appservice

[2020-06-26 15:04] yonzhan commented on #14116
add to S173

[2020-06-26 15:20] panchagnula commented on #11454
@calvinsID with the ventresourceID change you are making I am hoping this experience would be a lot better. Can you check? Thanks!

[2020-06-26 15:27] yonzhan commented on #14090
add to S173

[2020-06-26 15:28] yonzhan commented on #14108
400 Client Error

[2020-06-26 17:00] calvinsID commented on #11454
Sounds good, working on a fix

[2020-06-26 18:17] mvvsubbu commented on #13540
Yes I know it doesn't support. Ask here is may be you would want to add the support. Given so many options in the tool, it will be easy for anyone to use. Users can't switch OS for tool right!!

[2020-06-26 23:49] dbradish-microsoft opened #14119 "az storage account show is requiring non-required parameters"
### Link to reference content:
https://docs.microsoft.com/en-us/cli/azure/storage/account?view=azure-cli-latest#az-storage-account-show

#### All of these parameters are listed as optional:
az storage account show [--expand]
                        [--ids]
                        [--name]
                        [--resource-group]
                        [--subscription]

### Azure Cloud Shell syn

[2020-06-27 00:31] yonzhan commented on #14119
add to S173

[2020-06-27 05:10] yugangw-msft commented on #14072
Chances are token from sn+issuer flow might not be supported by ACR. Let me confirm.

[2020-06-27 05:29] yugangw-msft commented on #14072
@danashviro, if you can provide registry name and the time when this happens, we can cross check the server log for root cause. I can be reached at yugangw at microsoft dot com

[2020-06-27 06:15] fengzhou-msft commented on #14082
@JPPintoDotCom You may need to manually delete `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2` to remove the old `azure-cli-2.0.58`.

[2020-06-27 08:25] fengzhou-msft commented on #13660
@cuzzlor you need to first remove the packages installed by the old 2.0.81 azure-cli that comes with the Ubuntu 20.4 LTS. Try `sudo apt remove azure-cli` and make sure `/usr/lib/python3/dist-packages/azure` is deleted.

[2020-06-27 09:14] cuzzlor commented on #13660
Ok. At the time it was a brand new install of WSL and the azure cli install script. I’ll try again maybe something has changed. Thanks.

[2020-06-27 11:50] wjvii opened #14120 "Release to WinGet Simultaneously"
**Resource Provider**
Releases

**Description of Feature or Work Requested**
I would like to request that new versions, including beta/preview versions, be available via WinGet at the same time they are available for download on the Install Azure CLI on Windows page. Not sure if it is because WinGet is new but noticed that 2.8.0 has been available for download from the web page for a while but the

[2020-06-27 12:41] fengzhou-msft commented on #10003
Fixed by #10005

[2020-06-27 12:41] #10003 closed

[2020-06-27 12:54] fengzhou-msft commented on #13927
@ezwiefel can you run `pip show azure-mgmt-containerregistry` to check the version?

[2020-06-27 19:03] snair01 commented on #11486
"attempting to read file C:\Users\michael.brown\.azure\accessTokens.json as utf-8-sig
adal-python : 8050f655-5365-4ef8-a94b-bb15913c6f6d - Authority:Performing instance discovery: ...
adal-python : 8050f655-5365-4ef8-a94b-bb15913c6f6d - Authority:Performing static instance discovery
adal-python : 8050f655-5365-4ef8-a94b-bb15913c6f6d - Authority:Authority validated via static instance discovery
ada

[2020-06-27 19:19] waigitdas commented on #8565
I had the same problem with Putty. But when I used Anaconda, I could them list the webapp. Anaconda is a free download.

[2020-06-28 01:33] jiasli commented on #13928
@sven73a, glad to know it work for you. The `--only-show-errors` option was introduced in https://github.com/Azure/azure-cli/pull/12544, and has been documented at [CLI configuration values and environment variables](https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration?view=azure-cli-latest#cli-configuration-values-and-environment-variables). There is also a corresponding config opti

[2020-06-28 01:33] #13928 closed

[2020-06-28 01:40] yungezz commented on #14120
thanks for reporting the issue. today Azure cli support in WinGet is contributed by community. We'll evaluate the requirement and see what's next step.

[2020-06-28 01:41] yungezz commented on #14108
this is duplicate issue with #11749. Pls try rerun `az login` to work around. Corresponding team is working on fixing it.

[2020-06-28 01:43] yungezz commented on #14107
JEDI feature request. hi @ramankumarlive next Azure CLI official release date will be July 14th. Let's discuss the timeline offline in email.

[2020-06-28 01:44] yungezz commented on #14106
hi @qwordy could you pls have a look?

[2020-06-28 01:55] jiasli commented on #9942
`az ad app permission admin-consent` will be deprecated soon in the future, because as @udayansarma said, it is calling an AAD internal API: https://github.com/Azure/azure-cli/blob/4c28536a6db8c8e43b7182d0aaf202ac2b4ab777/src/azure-cli/azure/cli/command_modules/role/custom.py#L905-L907

For the new way of granting admin permissions, please check https://github.com/Azure/azure-cli/issues/12137#issu

[2020-06-28 02:42] yungezz opened #14121 "Executing az cli command that references a RG with resource in zonal mode should succeed even when zone is down"
**Describe the bug**

During canary DR drill, when one of the zone (zone 3) was down, we used the below az command which did not return even after waiting for several minutes.
##Get list of VMs tagged for redis/sentinel (mys)
vmspri=$(az vm list -d -g ${fo_prirg} --query "[?tags.role == '${fo_role}' ].id" --output tsv)
vmssec=$(az vm list -d -g ${fo_secrg} --query "[?tags.role == '${fo_role}' ].id

[2020-06-28 02:42] yungezz commented on #14121
copied from https://dev.azure.com/AZGlobal/Azure%20Global%20CAT%20Engineering/_workitems/edit/24516/?triage=true for tracking purpose

[2020-06-28 03:13] aim-for-better commented on #10271
I have tested, `--workernode-count` works well in the latest azure cli.  I want customer to retry but customer didn't reply. Just closed this issue. If customer still have such issue, they can reopen, but please provide azure cli version so that we can save confirmation time.

[2020-06-28 03:13] #10271 closed

[2020-06-28 03:16] aim-for-better commented on #11398
This issue is a question. ` --script-parameters` needs a string, this is by design.

[2020-06-28 03:16] #11398 closed

[2020-06-28 03:31] bim-msft commented on #14020
Reproduced, working on this.

[2020-06-28 03:36] houk-ms commented on #12809
I could not reproduce it, @qwordy need your more investigations.

@pgbconfirmit Sorry for the long time to response. May I ask that do you always encounter the problem when using Terraform to deploy while CLI to operate?

[2020-06-28 03:43] zhoxing-ms commented on #13687
I have reproduced this problem in the WSL environment and identified the root cause:
The newline character in WSL is `LF` and the newline character in windows is `CRLF`. Therefore, when a script written under Windows is used in WSL, only `\n` in the newline character `\r\n` of `CRLF` is recognized as the newline character of `LF`, while `\r` is recognized as plain text.

For example:
1. Write a ba

[2020-06-28 03:44] zhoxing-ms commented on #13573
@arekpalinski Hi, I have reproduced this problem in the WSL environment and identified the root cause:
The newline character in WSL is `LF` and the newline character in windows is `CRLF`. Therefore, when a script written under Windows is used in WSL, only `\n` in the newline character `\r\n` of `CRLF` is recognized as the newline character of `LF`, while `\r` is recognized as plain text.

For exam

[2020-06-28 03:45] Xiaojing123456 opened #14122 "Got "unable to parse parameter: xxxx.parameters.json " error when running az deployment group create command"
Questions:

1. I try to deploy AKS with ARM template via CLI, but when i run below command
az deployment group create --resource-group test --name test --template-file azuredeploy.json --parameters xxxx.deploy.parameters.json
it prompts me "unable to parse parameter: xxxx.deploy.parameters.json" error.
2. My colleague use same commands ，same template, same machine, but different azure account, the

[2020-06-28 04:45] yonzhan commented on #14122
add to S172

[2020-06-28 05:45] #13634 closed

[2020-06-28 05:49] houk-ms commented on #14121
The command `az vm list -d` will first call the `list` api to list all the vms, and then call the `instance view` api to get the details of each vm.

I checked that it works well if we deallocate or delete some vms manually in a certain Zone and then apply the `az vm list -d` command.

So, the error occurs due to the unexpected failure of certain zone, which may cause the service-side behave unnor

[2020-06-28 05:57] jiasli commented on #14090
There seems to be some service-side logic with B2C tenants. Unfortunately, we (Azure CLI) currently don't have enough bandwidth on developing and testing with AAD B2C teanants. Sorry about that...

Could you try `az rest` with Microsoft Graph and see if you can get unblocked? See https://github.com/Azure/azure-cli/issues/12946.

[2020-06-28 05:59] jsntcy commented on #13968
@aarroyoc, I just verified that this issue has already been fixed in the service side. Could you please help double verify for this issue?

[2020-06-28 06:16] #13009 closed

[2020-06-28 07:08] danashviro commented on #14072
@yugangw-msft, I sent you an email with the details

[2020-06-28 07:55] #13631 closed

[2020-06-28 07:55] #13811 closed

[2020-06-28 08:36] ms-premp commented on #8651
This should be working already. Please close this out.

[2020-06-28 08:43] ms-premp commented on #10696
This is by design. This is derived from your pricing currency.

[2020-06-28 09:21] ms-premp commented on #9867
This talks to an older version of API. This will get updated later this year.

[2020-06-28 09:23] ms-premp commented on #12281
No, this is not possible. The consumption module only gives the consumption and cost. There is no concept of uptime.
Please use individual service SDKs to get that data.

[2020-06-28 09:41] ms-premp commented on #13468
This can take from 8 hours to 24 hours for usage to appear.

[2020-06-28 09:46] #8651 closed

[2020-06-28 09:49] ms-premp commented on #14079
We need to ensure the response, does not exceed 30 seconds or 8 MB in size.
This restrictions ensure, that the response is meeting these SLAs.

[2020-06-28 11:30] jsntcy commented on #10837
@arianpopalyar, any update on this issue.

[2020-06-28 13:58] haroldrandom commented on #12871
@MikkelHegn You could ping me as assignee, then we revert what Aladdin did.

[2020-06-28 14:46] mbirgi commented on #14094
Update: after a while, as I was trying to show the problem to a colleague, it worked without error. I didn't change or do anything in the shell, just retried after a few hours. I have no idea what it might have been, and I can't reproduce it anymore. I'll let you know if it happens again.

[2020-06-29 00:21] ramaganesan-rg commented on #12458
Thanks for your feedback. This is by-design.

[2020-06-29 00:21] #12458 closed

[2020-06-29 00:24] ramaganesan-rg commented on #13468
Resolving as per Prem's comments. Please feel free to re-open as needed.

[2020-06-29 00:24] #13468 closed

[2020-06-29 00:33] ramaganesan-rg commented on #13983
Team is investigating.

[2020-06-29 00:43] ramaganesan-rg commented on #9867
Closing the issue based on above comments. Please reopen if needed, after the update is released, and if you still see the error.

[2020-06-29 00:43] #9867 closed

[2020-06-29 00:44] ramaganesan-rg commented on #12281
closing the issue based on comments above.

[2020-06-29 00:44] #12281 closed

[2020-06-29 00:48] AdminTurnedDevOps commented on #9867
Then the documentation should be updated to reflect this. You can’t just
expect people to “know” randomly. Please update the documentation to
reflect this.

On Sun, Jun 28, 2020 at 8:43 PM ramaganesan-rg <notifications@github.com>
wrote:

--
Kind Regards,

Michael J. Levan
Chief Engineer and Principal DevOps Consultant

CloudDev.Engineering LLC
E – michael.levan@clouddev.engineering
W - https://ww

[2020-06-29 02:06] fengzhou-msft commented on #13501
Close due to inactivity. Please feel free to reopen the issue if it still exists.

[2020-06-29 02:06] #13501 closed

[2020-06-29 02:20] yugangw-msft commented on #14072
@danashviro, I am fixing this for the upcoming release

[2020-06-29 03:18] fengzhou-msft commented on #13660
You may need to run `sudo apt autoremove` after `sudo apt remove azure-cli` to remove the old azure packages that `azure-cli 2.0.81` depends on.

[2020-06-29 03:20] fengzhou-msft commented on #13660
Duplicate with #14011

[2020-06-29 03:23] fengzhou-msft commented on #14083
@Juliehzl can you take a look at the error message with azure-multiapi-storage SDK?

[2020-06-29 03:28] fengzhou-msft commented on #12390
The issue with `jmespath` is fixed in 2.7.0. Issue with `azure-multiapi-storage` is tracked by #14083.

[2020-06-29 03:37] Andriy-dev commented on #13954
Thank you its working now

[2020-06-29 03:37] #13954 closed

[2020-06-29 03:38] Juliehzl commented on #14083
Hi @PaulCharlton, could you provide more information with `--debug` in your command?

[2020-06-29 03:47] fengzhou-msft commented on #13691
@ericstephens is there some reason that you need to run `su admin` before `brew install azure-cli`?

[2020-06-29 03:49] edwardwu-servian commented on #9141
@ekelmans try `az storage file delete-batch -s=$SHARE_NAME --account-name=$ACCOUNT_NAME`

[2020-06-29 04:23] PaulCharlton commented on #14083
@Juliehzl This occurs on MacOS with BREW install of az-cli.

For specific example, just look at the source code file `azure-cli/2.7.0/libexec/lib/python3.8/site-packages/azure/multiapi/storage/v2018_11_09/blob/_upload_chunking.py` at line 403.

That line says `if n is 0 or self._buffer.closed:`

This is incorrect syntax on Python3.8 and should read `if n == 0 or self._buffer.closed:`

[2020-06-29 04:45] yungezz commented on #12655
this is postponed to Aug.

[2020-06-29 05:05] jiasli commented on #13954
Duplicate of #12837

[2020-06-29 05:41] Sneezry opened #14126 "Enable dimension for Azure Monitor auto-scale rule"
**Resource Provider**

Microsoft.Insights/autoscaleSettings

**Description of Feature or Work Requested**

https://github.com/Azure/azure-rest-api-specs/pull/9945

**Minimum API Version Required**

2015-04-01

**Swagger Link**

https://github.com/Azure/azure-rest-api-specs/pull/9945

**Target Date**

TBD

[2020-06-29 05:43] Sneezry commented on #14126
Copy @MyronFanQiu for awareness.

[2020-06-29 06:17] rolandas-rimkus opened #14127 "az lab custom-image create __init__() takes 1 positional argument but 2 were given"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az lab custom-image create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az lab custom-image create --lab-name {} --resource-group {}

[2020-06-29 06:24] yungezz commented on #14127
routing to appropriate team

[2020-06-29 06:27] nrobert commented on #13691
@fengzhou-msft if it is like for me, it is due to non-admin rights on the account initially running the terminal. So brew will not execute correctly

[2020-06-29 06:55] yonzhan commented on #14126
add to S173

[2020-06-29 06:57] Juliehzl commented on #14083
could you share the cli command you are using? For `az storage account list`, we cannot reproduce the issue.

[2020-06-29 07:00] qwordy commented on #14106
Have you retried the delete operation or waited for an ongoing one to complete?

[2020-06-29 07:03] ramaganesan-rg commented on #9867
Good feedback. Agree. we will make the doc changes to reflect that current SDK (all languages) for budget supports EA subscriptions.

[2020-06-29 07:09] #14072 closed

[2020-06-29 07:10] prakashb83 opened #14129 "azure.core.exceptions.ServiceRequestError: Can't connect to HTTPS URL because the SSL module is not available"
**Describe the bug**
using Python script to retrieve Azure Key Vault Certificates using client library (azure-keyvault-certificates 4.1.0)

Facing below issue in Linux Ubuntu VM and windows 10
azure.core.exceptions.ServiceRequestError: Can't connect to HTTPS URL because the SSL module is not available.

**To Reproduce**
from azure.identity import DefaultAzureCredential
from azure.keyvault.certific

[2020-06-29 07:39] qwordy commented on #13559
I noticed that swagger is merged to master branch. I will start my work.

[2020-06-29 07:50] subhasishdc commented on #13852
PR (https://github.com/Azure/azure-cli/pull/14098) has been merged to deprecate the `--public-ip-address` parameter.

[2020-06-29 08:14] tino-reichel opened #14130 "az create db when using compute-model "provisioned" capacity should be > 1"
az create db when using compute-model "provisioned" capacity should be > 1
doucmentation and warning is wrong

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1bdd674-b454-e863-c943-9c979b466a92
* Version Independent ID: b15341f9-3f1b-00e0-a1c2-970f25a6ab03
* Content: [az sql db](https://docs.microsoft.com/en-us/cli/azu

[2020-06-29 08:19] Kotasudhakarreddy commented on #11340
looking in to this.

[2020-06-29 08:23] Kotasudhakarreddy commented on #11340
@aamrun - I am unable to repro the issues in **CLI 2.8.0**. Please find the screen shot FYR. if you still repro run command with --debug flag & share the details. Thanks!
![image](https://user-images.githubusercontent.com/60102891/85990556-d770ef80-ba0f-11ea-9bc1-ba3d4a9b6b15.png)

[2020-06-29 08:52] subhasishdc opened #14132 "az network application-gateway ssl-cert -- Is there any option to view the expiry of SSL cert"
**Is your feature request related to a problem? Please describe.**
`az network application-gateway ssl-cert` is used to manage the SSL certificates of an application gateway. However, I am not able to find any option to view the expiry date of the certificate. Getting to know the expiry date is essential at times and would be a helpful feature to have. Is there any way to view the expiry of the SS

[2020-06-29 08:52] qwordy commented on #13918
Hi Rakesh, Do I need to remove the "preview" label of --eviction-policy? Is it in preview?

[2020-06-29 10:11] qwordy commented on #13972
"source" should be at same level as "vmProfile"
This repo has many examples. https://github.com/danielsollondon/azvmimagebuilder

[2020-06-29 11:03] qwordy commented on #14066
Hi Feiyu, I test it in Azure CLI 2.8.0. `vmProfile` appears in request body. Could you test it again? And could paste the template here?
Log:
[code]
Template:
[code]

[2020-06-29 11:06] Bengkel opened #14135 "Unable to install Azure CLI on ARM"
**Describe the bug**
I created a custom ARM build agent (Raspberry Pi 4)  for Azure DevOps. The Azure CLI cannot be installed on a ARM device.

**To Reproduce**
Run curl -L https://aka.ms/InstallAzureCli | bash on a ARM OS and following exception is thrown:

`Step 17/20 : RUN curl -L https://aka.ms/InstallAzureCli | bash ---> Running in be258d20be60 % Total % Received % Xferd Average Speed Time Ti

[2020-06-29 11:13] qwordy commented on #14059
[code]
[code]
I don't know exact meaning of it, either.
@MyronFanQiu Do you know what it means?

[2020-06-29 11:15] qwordy commented on #14059
Hi service team, could you share what VM protection means? Thanks!

[2020-06-29 11:20] qwordy commented on #13602
Sounds good.

[2020-06-29 11:50] #14115 closed

[2020-06-29 12:00] MikkelHegn commented on #12871
@haroldrandom - not sure I understand your latest update. Do you want me to submit a PR with the change and assign the PR to you as a reviewer?

[2020-06-29 12:18] markthebault commented on #14074
Any update on this ? It should not be too difficult that someone from Microsoft answer this question ?

[2020-06-29 12:34] yonzhan commented on #14129
Python SDK issue

[2020-06-29 12:36] yonzhan commented on #14130
sql

[2020-06-29 12:37] yonzhan commented on #14132
add to S173

[2020-06-29 12:46] yonzhan commented on #14135
packaging

[2020-06-29 12:54] prakashb83 commented on #14129
Hi Yonzhan,
I have already included "azure-keyvault-certificates 4.1.0" using pip install azure-keyvault-certificates.
could you please share more details?

[2020-06-29 14:12] prchanda opened #14136 "az login --identity command failing - "MSI: Failed to acquire tokens after 12 times""
## Describe the bug
**az login --identity** command is failing inside an azure container instance having ubuntu-1804 image with the below error. The error is only happening in Mooncake tenant, in public it works as expected. The below command is a part of a bash script which runs inside the container.

**Command Name**
az login --identity

**Errors:**
The command failed with an unexpected error. H

[2020-06-29 14:22] yonzhan commented on #14129
@yungezz can help you with it.

[2020-06-29 14:25] yonzhan commented on #14136
add to S173

[2020-06-29 15:20] yungezz commented on #14135
hi @Bengkel could you pls share detail OS version info?  I don't think azure cli is supported on ARM device officially. we didn't test it before, while would like to see more info.

[2020-06-29 15:23] yungezz commented on #14136
HI @prchanda, if it's mooncake, did you try `az cloud set` to set to AzureChinaClou?

[2020-06-29 15:26] prashanthmadi opened #14137 "support no-wait on Cosmos DB sql stored-procedure update"
**Is your feature request related to a problem? Please describe.**
We have to update Stored procedure before running nodejs script every time. unfortunately this operation seems to be async on azure cli causing us to delay script run by 30sec-1min. Appreciate if you could add no-wait on below command
[code]

**Describe the solution you'd like**
have no-wait option

**Describe alternatives you've c

[2020-06-29 15:28] yonzhan commented on #14137
cosmosdb

[2020-06-29 15:46] ajay15283 commented on #14106
I waited for a while it was in a "Deleting" state .approx after 3 to 4 hours it changed to "Failed" state but if i retry again it timed out leaving the extension in "Deleting" state .

To Test I removed the extension rpm packages from the VM and cleaned up all relevant directories but still the az-cli extension list command  still shows the extension details so i am not sure how it checks the exte

[2020-06-29 15:52] pgbconfirmit commented on #12809
We don't encrypt the drives anymore using Terraform, but when we did, yes, we encountered this every time we deployed a new VM using Terraform and pre-pended the name of the VM to the encryption extension.
It is my theory that if we had left the name of the encryption extension as the default, and not renamed it in the YAML, then perhaps this problem would not have happened. But since we don't enc

[2020-06-29 15:56] pgbconfirmit commented on #12809
Maybe this will be helpful ... here is a snippet from the .tf file we used in the past, relevant to the disk encryption:

// ## Disk encryption ##
// resource "azurerm_virtual_machine_extension" "FE01-Disk-encryption" {
//   name                 = "${var.env-name}-FE01-Disk-encryption"
//   location             = var.azure_location
//   resource_group_name  = azurerm_resource_group.RG.name
//   vi

[2020-06-29 16:05] haroldrandom commented on #12871
Yeah.

[2020-06-29 17:00] ramaganesan-rg commented on #10696
Closing as per Prem's comments.

[2020-06-29 17:00] #10696 closed

[2020-06-29 17:10] ramaganesan-rg commented on #10028
Team is investigating.

[2020-06-29 19:10] Bengkel commented on #14135
Hi, as you can read in [this blog](https://devblogs.microsoft.com/iotdev/setup-azure-iot-edge-ci-cd-pipeline-with-arm-agent/), Azure CLI was supported on ARM devices.

I tried to install the Azure Cli on arm32/v7Ubuntu18.04, raspbian/stretch and raspbian/buster.

I included [Docker.zip](https://github.com/Azure/azure-cli/files/4847548/Docker.zip). It shows the several attempts to install the Azure

[2020-06-29 19:46] arturoqu77 commented on #14135
I have a similar ask, I have partners using RASPBERRY PIs in TEST envirs for Azure IoT Edge scenarios, they need to use azure cli in the RASPBERRY PI 4 model (armhf). I saw that there used to be an azure-cli for use in armhf before in the snapd store from canonical, but it was deprecated and never updated since 2018. The partners I have are running kubernetes clusters in the PIs with no issues as

[2020-06-29 19:56] wasker opened #14138 "az storage blob generate-sas requires --permissions now"
**Describe the bug**

`az storage blob generate-sas` command started requiring `--permissions` flag and doesn't make it exclusive to `--policy-name`.

**To Reproduce**

Run `az storage blob generate-sas` with all required args, except `--permissions`, specify `--policy-name` instead. Alternatively, specify both `--permissions` and `--policy-name`.

If `--permissions` is not specified, the command

[2020-06-29 20:24] pvrk commented on #13999
@sbugalski : Sorry for the delay.  Can you please let me know what is the intent of this command?
[code]

[2020-06-29 21:16] sbugalski commented on #13999
Sure if it matters.
We assign the comand ouput to variable and then consume it. We run it in the pipeline using Powershell task.
It was easier for use to do it using AZ CLI, but logic is made using Powershell.

[2020-06-29 21:36] mirdaki commented on #14094
Thank you for the update! That is weird. Fortunately I did find an improvement for `az find`, which I will work on, but it wouldn't explain why it started working later.

[2020-06-29 21:55] BalaAnbalagan opened #14139 "provider instance creation"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sapmonitor provider-instance create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sapmonitor provider-instance create -g {} -n {

[2020-06-29 23:15] yonzhan commented on #14138
add to S173

[2020-06-29 23:23] yonzhan commented on #14139
sapmonitor

[2020-06-29 23:49] rakeshakkera commented on #13918
Hi @Feiyue Yu<mailto:Feiyue.Yu@microsoft.com>,

Please remove the preview label. It should not be in preview?

-Rakesh

From: Feiyue Yu <notifications@github.com>
Sent: Monday, June 29, 2020 1:53 AM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Rakesh Akkera <raakkera@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [Azure/azure-cli] Support 'Delete' eviction policy for Azu

[2020-06-30 00:26] iUnknwn commented on #13509
@Juliehzl - Ok, so when no auth is specified, it's equivalent to "--auth-mode key"?

[2020-06-30 01:29] arrownj commented on #12728
Hi @wonderplayer , any feedback ?

[2020-06-30 01:46] yungezz commented on #14139
hi @PakDLiu could you pls look at the issue? thanks.

[2020-06-30 02:20] jiasli commented on #14074
If you are using `az ad`, the only permission needed to manage an application is **Azure Active Directory Graph > Application.ReadWrite.OwnedBy**:

![image](https://user-images.githubusercontent.com/4003950/86075602-f7112200-baba-11ea-8328-862da89fadd6.png)

I refined your script a little bit and it works fine:

[code]

![image](https://user-images.githubusercontent.com/4003950/86075478-ab5e7880-b

[2020-06-30 02:21] qwordy commented on #13812
@fitzgeraldsteele Any update?

[2020-06-30 02:56] jiasli commented on #13750
Apologize for the inconvenience, but `az interactive` is currently not actively maintained. Could you use the normal CLI command for now?

[2020-06-30 02:57] jiasli commented on #13310
Please follow the common flow to login, as [Windows 10 Accounts](https://chrome.google.com/webstore/detail/windows-10-accounts/ppnbnpeolgkicgegkbkbjmhlideopiji) extension is not actively maintained.

[2020-06-30 02:57] #13310 closed

[2020-06-30 02:58] jiasli commented on #13460
Hi @Raul150, if you have more information. Please kindly reply here.

[2020-06-30 02:58] #13460 closed

[2020-06-30 03:00] jiasli commented on #13702
@MyronFanQiu, could you try to repro this? I think the color may be controlled by the command itself.

[2020-06-30 03:19] #13918 closed

[2020-06-30 03:41] jiasli commented on #10294
Duplicate of #11749. For a workaround, please check https://github.com/Azure/azure-cli/issues/11749#issuecomment-570975762

[2020-06-30 03:41] #10294 closed

[2020-06-30 03:43] jiasli commented on #9852
This issue has been fixed in https://github.com/Azure/azure-cli/pull/10955. If it persists, please open a new issue.

[2020-06-30 03:43] #9852 closed

[2020-06-30 03:46] jiasli commented on #9992
As AD Graph 1.6 has been deprecated, please use `az rest` with Microsoft Graph. Detailed explanations can be found at https://github.com/Azure/azure-cli/issues/12946#issuecomment-611922734.

[2020-06-30 03:46] #9992 closed

[2020-06-30 04:29] jonsamwell opened #14142 "webapp: Way to get 'Custom Domain Verification ID' for web app"
I need a way to get the `Custom Domain Verification ID` of a web app so that I can automate binding a custom host name.

![image](https://user-images.githubusercontent.com/3694497/86083529-dad2ac80-badd-11ea-9652-cf7d3db9d7a7.png)

I've looked through all the documentation and methods exposed on `az webapp` but I am unable to find a way to get the verification id which I can use to add a TXT recor

[2020-06-30 05:01] ksrimmy commented on #13750
Sure, but it is very handy for beginners to have something like the
interactive mode.

With kind regards
Florian Steiner

Am Di., 30. Juni 2020 um 04:56 Uhr schrieb Jiashuo Li <
notifications@github.com>:

[2020-06-30 05:09] yungezz commented on #14142
routing to appropriate team to help look if it's a feature reqeust or doc issue

[2020-06-30 05:23] fabio2602 opened #14145 "Error on creating az group"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
I logged in with az login --allow-no-subscriptions

and I got in the output
[
  {
    "cloudName": "AzureCloud",

[2020-06-30 05:35] zhoxing-ms commented on #13768
@motim6026 May I ask what do you mean by the `mode parameters`?

[2020-06-30 06:07] zhoxing-ms commented on #13768
@motim6026 Hi, You can declare the deployment mode of resources in the ARM template, for example:
[code]
Do you have any other questions?

[2020-06-30 06:42] asarkar commented on #12390
@fengzhou-msft You previously said this issue was fixed in 2.6.0, why should anyone believe you now?

[2020-06-30 06:55] yonzhan commented on #14145
add to S173

[2020-06-30 07:57] erikbotta commented on #14049
@yonzhan Hello. Anything I can send here more to solve this? I cannot upgrade jenkins for now, because this plugin is crucial for us. Thx.

[2020-06-30 08:53] fengzhou-msft commented on #12390
@asarkar The [PR](https://github.com/Azure/azure-cli/pull/13435) to fix `jmespath` was planned to release with 2.6.0 but somehow missed the build date. Then it is merged and built into 2.7.0.

[2020-06-30 09:03] #13942 closed

[2020-06-30 10:11] MikkelHegn commented on #12871
I noticed that the aks-preview extension has the correct autogenerated help text. https://github.com/Azure/azure-cli-extensions/blob/29e8b3386e23c2d121059193ec72dadce98301d6/src/aks-preview/azext_aks_preview/_help.py#L644

Can you help figure out why that is the case?

[2020-06-30 11:22] thomashendriksen commented on #11863
I'm having the same experience as @sanderploegsma describes. Only difference is that my pipeline deploys a functionapp using the dotnet runtime, but the result is the same: contents are lost and default app settings are reset to their default value and custom app settings are removed completely.

Currently solved this using an `az resource show` to check in my infrastructure that the function app

[2020-06-30 11:35] yonzhan commented on #14049
I think you should find jenkins team for help. This issue is not related to CLI.

[2020-06-30 11:43] Mina69 commented on #7579
@yugangw-msft Any update on this case?

[2020-06-30 12:05] erikbotta commented on #14049
Oh. Sry for my mistake. Bad repository :( .
For others they have issue like this opened from 2018 , so maybe it is some regression. https://github.com/jenkinsci/azure-cli-plugin/issues/15

[2020-06-30 12:05] #14049 closed

[2020-06-30 14:03] ezYakaEagle442 commented on #14105
my bad the CLI command was wrong, the correct one is :
[code]

[2020-06-30 14:04] wdrdres3qew5ts21 commented on #613
**Sorry but this problem still persistent if you using "Jenkins Docker in Docker"**

![image](https://user-images.githubusercontent.com/25000903/86135028-7da61d80-bb14-11ea-932e-49c851da5c9a.png)

![image](https://user-images.githubusercontent.com/25000903/86134254-97933080-bb13-11ea-8a40-2f8f4f825519.png)

![image](https://user-images.githubusercontent.com/25000903/86134392-c14c5780-bb13-11ea-976

[2020-06-30 14:08] wdrdres3qew5ts21 opened #14151 "**Sorry but this problem still persistent if you using "Jenkins Docker in Docker"**"
**Sorry but this problem still persistent if you using "Jenkins Docker in Docker"**

![image](https://user-images.githubusercontent.com/25000903/86135028-7da61d80-bb14-11ea-932e-49c851da5c9a.png)

![image](https://user-images.githubusercontent.com/25000903/86134254-97933080-bb13-11ea-8a40-2f8f4f825519.png)

![image](https://user-images.githubusercontent.com/25000903/86134392-c14c5780-bb13-11ea-976

[2020-06-30 14:23] nishanperera commented on #14074
Did you run it on Azure dev-ops?

[2020-06-30 14:51] fengzhou-msft commented on #14135
Can you use `pip install azure-cli`?

[2020-06-30 14:57] yonzhan commented on #14105
@ezYakaEagle442  Do you still need this issue or your issue was resolved?

[2020-06-30 15:02] yonzhan commented on #14151
Jenkins

[2020-06-30 16:07] ezYakaEagle442 commented on #14105
@yonzhan issue resolved, cab be closed, Thanks.

[2020-06-30 16:07] #14105 closed

[2020-06-30 16:18] arturoqu77 commented on #14135
Thank you, that did the trick, I used pip3 as I need it to work with python3. The install worked, I will now check the commands we require...thank you

[2020-06-30 16:46] Bengkel commented on #14135
Doesn't work for me

[code]

[2020-06-30 17:29] feiyushi commented on #14066
Hi Feiyue, looks like it's fixed/good in the `2.8.0`. Thanks for looking. Closing the issue.

[2020-06-30 17:29] #14066 closed

[2020-06-30 17:49] navarro-chamberlain commented on #11032
Was there any resolution to this. Encountering the same error

[2020-06-30 18:10] rgardler commented on #9780
It's been some time since this issue was updated. I'm sorry about that. Unfortunately we don't have any concrete action for this specific issue to report, however I can report on some progress in the space of SSH keys.

As of this month we have deployed a new infrastructure for managing SSH keys. This provides more flexibility in the way we manage and deploy keys. This is a foundational step in a

[2020-06-30 18:33] avirishuv commented on #12858
@qwordy thanks for updating the comment with specific results of cmdlets. We are investigating this and will provide an update to align the lists of skus for consistency.

[2020-06-30 18:36] tanmayeekamath commented on #14127
@rolandas-rimkus
Thanks for your feedback.

We have filed a bug for this issue and working on fixing it.

I will update once the fix is out.

-Tanmayee

[2020-06-30 18:50] smokedlinq opened #14152 "No subscription ID specified in the URL"
**Describe the bug**
When using `az rest` command the error _No subscription ID specified in the URL_ is returned in version 2.8.0.

**To Reproduce**
1. Install azcli 2.8.0
2. After login, run the command: `az rest --uri /subscriptions?api-version=2014-04-01`

**Expected behavior**
The API JSON response from the endpoint

## Environment Summary
[code]

**Additional context**
I verified that this c

[2020-06-30 21:15] nishanperera commented on #14074
Hi @jiasli

Part of the log.

2020-06-30T20:33:20.1579640Z msrest.http_logger : Request method: 'POST'
2020-06-30T20:33:20.1580139Z msrest.http_logger : Request headers:
2020-06-30T20:33:20.1580569Z msrest.http_logger :     'Content-Type': 'application/json; charset=utf-8'
2020-06-30T20:33:20.1581012Z msrest.http_logger :     'accept-language': 'en-US'
2020-06-30T20:33:20.1581406Z msrest.http_logg

[2020-06-30 21:35] bytesemantics commented on #4618
Same error - I signed up to Free trial subscription. I can login from browser, and Account Center indicates I have 1 subscription active ('Free trial').

But AZ Cli (installed in Opensuse Tumbleweed using sudo zypper) *and* using bash shell from 'portal.azure.com' - both report the same error: 'Please run az login to setup account'

[2020-06-30 22:16] yonzhan commented on #14152
add to S173

[2020-06-30 23:54] ankitkumarr commented on #11863
Hi, apologies for the delay! I must have missed notifications on this one.

As pointed out, the issue is that at every create call, the `az functionapp create` command creates a payload to create a new site with empty-ish "App Settings" config. This likely updates the already existing function app, and wipes out Application Settings. Deployments often depend on Application Settings such as `WEBSIT

[2020-06-30 23:55] brjohnstmsft commented on #12356
@0papen0 Closing this issue since an answer was provided. Please re-open if you need clarification.

[2020-06-30 23:55] #12356 closed

[2020-07-01 00:38] ramankumarlive commented on #14107
@yungezz Please use this swagger link: https://github.com/Azure/azure-rest-api-specs/pull/9937

[2020-07-01 00:46] snaheth commented on #10324
The [aka.ms/arm-template-expressions](https://aka.ms/arm-template-expressions) link is surfaced in other error responses so I don't think changing the forwarding URL is the right change here.

I'm following up with Laurentiu to see if there's a separate aka.ms link for the Resources page so we can use that.

[2020-07-01 01:04] MyronFanQiu commented on #13852
Thanks for @subhasishdc's contribution. Closed this issue since it's solved.

[2020-07-01 01:04] #13852 closed

[2020-07-01 01:04] MyronFanQiu commented on #13891
Thanks for @subhasishdc's contribution. Closed this issue since it's solved.

[2020-07-01 01:04] #13891 closed

[2020-07-01 01:37] jsntcy commented on #11032
@navarro-chamberlain, Could you replace `@` with $ORIGIN in RDATA in DNS Zone file to workaround this issue?

[2020-07-01 02:01] changlong-liu opened #14154 "--help parameter description: handle comma in enum value"
We found this strange "Allowed values" description in containerregistry.
![image](https://user-images.githubusercontent.com/59815250/86194469-225e4480-bb81-11ea-9a44-a3d126f31385.png)

It's generated with below code:
[code]

And the swagger definition for that parameter is:
[code]

[2020-07-01 02:14] qwordy commented on #12594
@aronneagu Any update?

[2020-07-01 02:23] chengweijian commented on #9902
hi,
I tried to uninstall and reinstall as per the above post
brew uninstall azure-cli brew uninstall python brew install python brew install azure-cli.
error:
dyld: Library not loaded: @executable_path/../.Python
  Referenced from: /usr/local/Cellar/azure-cli/2.8.0/libexec/bin/python
  Reason: image not found
/usr/local/bin/az: line 2:  9193 Abort trap: 6           AZ_INSTALLER=HOMEBREW /usr/local

[2020-07-01 02:36] yonzhan commented on #9902
@fengzhou-msft to help take a look

[2020-07-01 02:50] jiasli commented on #14074
Hi @nishanperera, I ran that script on a local machine, but I don't think there is any difference between running on DevOps or a local machine.

From the debug log, the failed request is

[code]

Does the service principal has **Azure Active Directory Graph > Application.ReadWrite.OwnedBy** permission?

[2020-07-01 03:03] yungezz commented on #14154
hi  @houk-ms this is

[2020-07-01 03:23] fengzhou-msft commented on #13209
If you have other Python applications installed, you can use the follwoing workaround:
First, install back the old azure-cli that comes with the VM image:
`sudo zypper install --oldpackage azure-cli-2.0.45-4.22.noarch`
This way zypper knows what packages the old azure-cli depends on, then remove the old azure-cli and its dependencies:
`sudo zypper rm --clean-deps azure-cli`
Finally, follow the doc

[2020-07-01 04:02] haroldrandom commented on #12871
@fengzhou-msft  @qwordy Could you help here ?

[2020-07-01 04:51] fengzhou-msft commented on #12871
@haroldrandom can we submit a PR to fix it first, then ask Aladdin team to fix the autogeneratetion?

[2020-07-01 05:07] qwordy commented on #12871
@jluk Do you know why Azure CLI and Azure CLI extension have duplicate aks commands. Which one will be loaded and which help message will be loaded?

[2020-07-01 06:55] jiasli commented on #14151
Hi @wdrdres3qew5ts21, Azure CLI is never designed to be run as root only.

#613 is talking about a separate issue.

The config directory should be your `HOME` folder + `/.azure`, such as `/home/foo/.azure`:

https://github.com/Azure/azure-cli/blob/3b4d10d473a8d72dc2a1607478beb14424ce2004/src/azure-cli-core/azure/cli/core/_environment.py#L10-L12

But in your case, it is `/.azure`:

[code]

Could yo

[2020-07-01 06:57] qianwens commented on #13981
`az configure` can set the properties in the core/logging section, but it is interactive mode so that it is not script friendly.

[2020-07-01 07:49] jiasli commented on #4618
@bytesemantics, could you run `az login --debug` and share the result to me jiasli at microsoft.com?

At the same time, could you check if there is anything in `~/.azure/azureProfile.json`?

[2020-07-01 07:57] bytesemantics commented on #4618
I was tempted to ask for this issue to be closed. I was using Chrome, and having read a linked ticket talking about Chrome and MFA issues, I thought I'd try Firefox. Logged in successfully in Firefox and noticed the Auth flow was different to chrome.

Restarted Chrome and logged in successfully.

I can understand this may not be easy to replicate - But from an end users perspective (particularly s

[2020-07-01 08:01] nishanperera commented on #14074
Hi @jiasli,

Yes, it does have access. It can create the AAD application but can not add owners. I am using Azure CLI task.
![image](https://user-images.githubusercontent.com/3266772/86218973-6fd6b380-bb79-11ea-97c7-1830f1a510b8.png)

[2020-07-01 08:02] yungezz commented on #14107
need bump version

[2020-07-01 08:13] mbirgi commented on #14094
also, in case it helps your debugging: I think that I *was* logged in, since other stuff was working, I only had trouble with the "az find" command. hth ;-)

[2020-07-01 08:13] yungezz commented on #13917
service not ready, feature isn't ready.

[2020-07-01 08:15] jiasli commented on #4618
Glad to know it is solved.

Usually, this is caused by outdated AAD cache in Chrome. In such case, `az login` will **show a warning** then continue with the next tenant or exit, **instead of raising an error**:

https://github.com/Azure/azure-cli/blob/c508fa4aa181872c2ed2c7f53712e9d329d7a3f6/src/azure-cli-core/azure/cli/core/_profile.py#L901-L913

As it is hard to reproduce, it is also difficult f

[2020-07-01 08:23] eandresr opened #14158 "Many CLI errors when trying to get the consumption os certain subscription..."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az consumption usage list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az consumption usage list --start-date {} --end-date {} --subs

[2020-07-01 08:26] yonzhan commented on #14158
consumption

[2020-07-01 08:30] jiasli commented on #14074
The screenshot doesn't contain the **admin consent status**. Please make sure it shows a green check mark (similar to ✅) as shown in https://github.com/Azure/azure-cli/issues/14074#issuecomment-651480005.

If so and adding owner still doesn't work, could you open a support ticket to AAD in Azure Portal and provide the `--debug` log? A support engineer will gladly help you troubleshoot it from back

[2020-07-01 08:54] prakashb83 commented on #14129
@bim-msft: could you please update the status of the above issue? it would be helping me.

[2020-07-01 08:57] nishanperera commented on #14074
@jiasli Yes, it has admin consent.

![image](https://user-images.githubusercontent.com/3266772/86224801-3dc94f80-bb81-11ea-8056-e9272645bd36.png)

[2020-07-01 09:00] jiasli commented on #14074
This is really weird. 🤔 Could you reach out to AAD team? As I don't have access to the AAD logs.

[2020-07-01 09:21] fengzhou-msft commented on #13416
Please see instructions [here](https://github.com/Azure/azure-cli/issues/14011#issue-640943121).

[2020-07-01 09:21] #13416 closed

[2020-07-01 09:28] arrownj commented on #13693
Hi @sbenalohm , if no more problem, I will close this issue first. You can reopen it or submit a new one if you have other concerns.

[2020-07-01 09:28] #13693 closed

[2020-07-01 09:54] yannick-Lapierre opened #14159 ""Failed to perform remove operation" with az storage remove"
**Describe the bug**
When I use **az storage remove** method, I got the following error:
[code]
when none blob exists.

**To Reproduce**
create a blob container, upload a file like "myblobfolder/xxx-myfile.txt"

execute a call like that:
[code]
you will get a result like:
[code]
execute the call a second time and you will get:
[code]

**Expected behavior**
When calling the remove method with using

[2020-07-01 10:08] yonzhan commented on #14159
add to S173

[2020-07-01 10:19] phakkarainen opened #14161 "API error at login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login -o {}`

## Expected Behavior

## Environment Summary
[code]
## Additio

[2020-07-01 10:28] yonzhan commented on #14161
add to S173

[2020-07-01 11:24] MiguelElGallo opened #14162 "Cannot install add on Application Gateway Ingress Controller on AKS"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
az aks enable-addons -g rg -n kname -a ingress-appgw

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons -g {} -n {} -a {

[2020-07-01 12:24] yannick-Lapierre commented on #14159
I found a workaround by using *az storage blob delete-batch*
But this command is not case sensitive:
[code]

[code]

[2020-07-01 12:26] phakkarainen commented on #14161
This issue got resolved deleting browser cache.

Thanks,
Pete
________________________________
From: yonzhan <notifications@github.com>
Sent: Wednesday, July 1, 2020 1:29 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Petteri Hakkarainen <PHakkarainen@suse.com>; Author <author@noreply.github.com>
Subject: Re: [Azure/azure-cli] API error at login (#14161)

add to S173

—
You are receivin

[2020-07-01 13:19] spatialman opened #14163 "azure monitor action rule create fails with rule type ActionGroup"
**Describe the bug**
Getting and issue, while trying to create a "azure monitor action rule" with "ActionGroup" as rule type using Azure CLI.
No specific parameter to pass "action group id" when rule-type is passed as ActionGroup.
What is the name of the parameter that should be used to pass the "action group id".

**To Reproduce**
Run the below CLI command to reproduce the issue.
`az monitor acti

[2020-07-01 13:41] yonzhan commented on #14162
aks

[2020-07-01 13:43] #14161 closed

[2020-07-01 13:45] yonzhan commented on #14163
add to S173

[2020-07-01 14:41] wdrdres3qew5ts21 commented on #14151
I already try $HOME enviroment variable it still working fine.
But it located to    "/ "  directory thay perhaps why my error is:
[code]
Because
[code]
![image](https://user-images.githubusercontent.com/25000903/86256349-6cc3dd80-bbe2-11ea-9863-6b400926af6b.png)

[2020-07-01 14:48] CSharpBoardy opened #14164 "https://docs.microsoft.com/en-gb/learn/modules/welcome-to-azure/6-exercise-cloud-shell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group list --output {}`

## Expected Behavior

## Environment Summary
[

[2020-07-01 14:52] CSharpBoardy commented on #14164
All sorted, lost connection to Sandbox.

[2020-07-01 14:52] #14164 closed

[2020-07-01 15:21] fengzhou-msft commented on #14151
Try to run the docker as a non-root user with `-u` option: https://github.com/Azure/azure-cli#docker

[2020-07-01 16:14] scgbear commented on #7430
<details>
<summary>Internal Tracking</summary>
CSEF151343
</details>

[2020-07-01 16:54] mmitchell80 opened #14165 "creating a functionapp deployment slot and the httpsonly setting"
### Describe the bug

I'm trying to use az cli to create a staging slot for my functionapp with https only set to true or on, but az cli does not appear to support this feature.

- az functionapp deployment slot does not have an update command
- az functionapp deployment slot create using the configuration source option does not copy the https only setting from production

### To Reproduce

az fun

[2020-07-01 17:04] samson-ite commented on #9902
Any update on this? I am having the same issue. Tried uninstall/install of python and azure-cli.

$ az login
/usr/local/bin/az: line 2: 89472 Abort trap: 6           AZ_INSTALLER=HOMEBREW /usr/local/Cellar/azure-cli/2.8.0/libexec/bin/python -m azure.cli "$@"

[2020-07-01 18:06] prchanda commented on #14136
Yeah after setting the cloud, the issue got resolved.

On Mon, Jun 29, 2020, 8:53 PM Yunge Zhu <notifications@github.com> wrote:

[2020-07-01 18:22] one-random-dev commented on #12035
also hit this today, while performing an upload-batch to a storage account fileshare

`az storage file upload-batch --account-name managementops --destination destionation --source source  --pattern '*.app'
/usr/local/Cellar/azure-cli/2.8.0/libexec/lib/python3.8/site-packages/azure/multiapi/storage/v2018_11_09/blob/_upload_chunking.py:403: SyntaxWarning: "is" with a literal. Did you mean "=="?
  i

[2020-07-01 19:43] shurd commented on #14137
Thank you for opening this issue. We are currently working on adding support for the "no wait" command, and we will update here once we have a timeline for the addition.

[2020-07-01 20:47] sdg002 commented on #13851
Absolutely agree.

I see no reason why Microsoft would want to install a command line tool with elevated privileges , which is not expected to make serious changes with the local computer.

Technically, I should be able to install Azure CLI anywhere, on any folder , with minimum privileges to local workstation.

[2020-07-01 21:50] ckittel commented on #14073
The Azure Architecture Center has taken a dependency on `az network application-gateway root-cert create` with pointing to a keyvault-secret for some of our upcoming guidance.  We too are experiencing the same issue, and are needing to implement a workaround.  What's the likelyhood that this will complete in this sprint? If the chance is low, we are going to have to implement an `az rest` workarou

[2020-07-01 22:10] Benoitlotfallah commented on #13855
Hi @jiasli i have the same problem, and couldn't write on any of them
[code]

[2020-07-01 22:14] yonzhan commented on #14165
functionapp

[2020-07-01 22:14] #14136 closed

[2020-07-01 23:31] Phlak106 opened #14167 "Cannot delete Load Balancer rule that shares a health probe with another rule"
**Describe the bug**
Cannot delete a Load Balancer Rule that shares a health probe with another rule.

**To Reproduce**
0. Create a Load Balancer, backend pool, and health probe
1. Configure Load Balancer with rule to backend pool using health probe
2. Configure a 2nd rule to same pool using same probe.
3. Try do delete 2nd rule.

**Expected behavior**
Rule gets deleted without affecting any other

[2020-07-01 23:36] Phlak106 opened #14168 "[ARM] Sub-resources Do Not Respect Deployment Mode Incremental"
**Describe the bug**
Sub-resources such as ALB rules and subnets do not respect ARM template deployment mode 'Incremental'.  Deployment tries do delete subnets and rules when they are not in the template even though incremental says it should only add new resources or update existing ones.

**To Reproduce**
1. Create a LoadBalancer through the portal
2. Export the ARM template
3. Add a rule to the

[2020-07-02 00:45] PranayAnchuri opened #14169 "Missing antlr4 package"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm open-port`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm open-port --resource-group {} --name {} --port {}`

## Expected Be

[2020-07-02 01:51] jiasli commented on #13855
Thanks @Benoitlotfallah for the information. We can isolate the issue to Cloud Shell itself. I will work with Cloud Shell team to see how we can address it.

[2020-07-02 02:01] MyronFanQiu commented on #14073
I would check this issue today and let you know whether we can fix this in a short time or not. @ckittel

[2020-07-02 03:15] lerlacher-haylix commented on #14152
Confirming this bug, also noting:

- There does not seem to be a way to downgrade on Ubuntu (I am running 18.04)
- The following commands can be used on Ubuntu 18.04 to install 2.7.0 through pip:

[code]

Activating the venv and doing `alias az=env/bin/az` will need to be done in every session.

[2020-07-02 03:42] yungezz commented on #14169
hi @qwordy another incident. what's our conclusion on this? thanks.

[2020-07-02 04:12] #14073 closed

[2020-07-02 05:02] qwordy commented on #14169
Are you using the bundled Azure CLI of Ubuntu? The package is old and has some problems. Could you install the latest version and retry?
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-07-02 05:36] edyoung commented on #13855
Unfortunately, it looks as though the file which stores your home directory _may_ have become corrupted. However I don't know exactly how so we'll need to investigate a bit.

Can you (any user experiencing this problem) confirm:
- does this issue persist across multiple Cloud Shell sessions?
- if you are comfortable doing so, please share the value of "echo $ACC_PUID" - we can use this to identify

[2020-07-02 05:50] jeroenhabets commented on #13876
Update title/description to reflect issue is still there in 2.8.0.

Why not just remove the azure-storage-blob<2.0.0 and run your regression test? (Note that I haven't encountered any issues but our usage does not offer wide coverage)

[2020-07-02 05:53] fengzhou-msft opened #14175 "ai-did-you-mean-this extension is not loaded after a first run"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
With the latest dev branch code, `ai-did-you-mean-this` extension is not loaded after a first run.
It cloud be related to https://github.com/Azure/azure-cli/pull/13294.

**Command Name**

**Errors:**
The log shows that `ai-did-you-mean-this` extension is not loaded.

[code]

## To Reproduce:
Steps to reproduce

[2020-07-02 05:55] ckittel commented on #14073
Thanks for the prompt response! You rock, @MyronFanQiu . Very much appreciated.

[2020-07-02 05:56] haroldrandom opened #14176 "Add Command level benchmark comparison in CI"
**Is your feature request related to a problem? Please describe.**
With https://github.com/Azure/azure-cli/pull/14156 merged, we are able to collect statstictic data of every command.

But lack of storing them and visualizing it, and leverage the data to monitor and alert any regression.

**Describe the solution you'd like**
Since measuring a command's performance could cost much time, we could se

[2020-07-02 05:59] PowellTravis commented on #13855
This issue has persisted across all of my cloud shells, and kept up even when I delete the cloud shell storage and create a new one.

[2020-07-02 06:18] sebastianrogers opened #14177 "'NoneType' object has no attribute 'id' for az backup protection enable-for-azurefileshare if fileshare already protected"
**Describe the bug**
'NoneType' object has no attribute 'id' for az backup protection enable-for-azurefileshare if fileshare already protected

**To Reproduce**
[code]

**Expected behavior**
Running command twice with same parameters works so that it is idempotent

**Environment summary**
azure-cli                          2.8.0

command-modules-nspkg              2.0.3
core

[2020-07-02 06:27] suterma commented on #10836
I can confirm this works in UK West Location.

[2020-07-02 07:17] Yao725 commented on #14092
Hi vishal8k , please try this command
`az vmss update --resource-group myrgname --name myssname --add virtualMachineProfile.networkProfile.networkInterfaceConfigurations[0].ipConfigurations[0].ApplicationGatewayBackendAddressPools id="/subscriptions/mysubid/resourceGroups/myrgname/providers/Microsoft.Network/applicationGateways/Myappgwname/backendAddressPools/mybpnanme"`

[2020-07-02 07:30] yungezz commented on #14177
routing to appropriate team

[2020-07-02 07:45] kummanish commented on #13857
#please-close

[2020-07-02 08:23] haroldrandom commented on #13819
@jaishals questions:
1. Does AppGw need to set PrivateLinkConfigurations before seting a private endpoint?
2. Is AppGw able to update PrivateLinkConfigurations after an AppGw is created?
3. Is AppGw able to update PrivateLinkConfigurations after it's associated with a private endpoint？

[2020-07-02 09:14] dgcaron opened #14182 "Run a script on behalf of a user with a JWT token"
**Is your feature request related to a problem? Please describe.**
we are creating a service that requires updating several resources in the users azure subscription. in order to do so, we have setup an azure ad application that has the proper permissions (https://management.azure.com/user_impersonation). when we request a token on behalf of the user for managing resources we are able to use the r

[2020-07-02 09:23] leehi0418 opened #14183 "Webapp:az webapp config container set failed with missing argument"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config container set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config container set --name {} --resource-group

[2020-07-02 09:39] yungezz opened #14186 "[Databricks] support double encryption"
**Resource Provider**

Databricks

**Description of Feature or Work Requested**

Support double encryption. [Double Encryption Design Doc ](https://nam06.safelinks.protection.outlook.com/ap/w-59584e83/?url=https%3A%2F%2Fmicrosoft.sharepoint.com%2F%3Aw%3A%2Ft%2FAzureDataBricks-EnggTeam%2FEQDPA6ikywxOvOUuTK1HzeQBqcVakAg5yOqzYE0Z3_4ntw%3Fe%3Dt9LiHB&data=02%7C01%7Cyungez%40microsoft.com%7C68e8b2f79741

[2020-07-02 09:40] yungezz commented on #14186
put in S174 for now since serivce not ready yet.

[2020-07-02 09:41] yungezz commented on #14183
routing to appropriate team

[2020-07-02 11:45] abhisheksinghrathod commented on #12804
Is this issue resolved? I dont see `--ttl` option available with command `az network dns record-set txt add-record` and it defaults to 3600 which is way too high for my usecase.

Thanks,
Abhishek

[2020-07-02 12:03] yonzhan commented on #14175
add to S172

[2020-07-02 12:06] mal-risma commented on #12804
I haven't actually tested this since the bug was closed, but I think the idea is that you have to first create a record set with for example:
`az network dns record-set txt create -g something_dns -z example.com -n _acme-challenge --ttl 1 --output json`
And then you add records to it with:
`az network dns record-set txt add-record -g something_dns -z example.com -n _acme-challenge --value some-val

[2020-07-02 12:22] yonzhan commented on #14167
add to S173

[2020-07-02 12:24] yonzhan commented on #14168
add to S173

[2020-07-02 13:53] mattruma commented on #13301
Hi @yonzhan, any update on this?

[2020-07-02 13:58] samson-ite opened #14189 "Mac: After cli update with Homebrew all az commands fail: Abort trap: 6"
The issue started after I updated the azure-cli via Homebrew. Any 'az' command throws the following error. I know there is a closed issue where there was a suggestion to remove python and azure-cli and re-install. This did not work for me.

I have tried pointing the /usr/local/Cellar/azure-cli/2.8.0/bin/   python symbolic links to an older version of python (3.7.7) with the azure.cli modules insta

[2020-07-02 14:58] yungezz commented on #14189
hi @fengzhou-msft could you pls have a look? thanks

[2020-07-02 15:12] andscho-msft opened #14191 "Cosmosdb collection create command should support partition key version field"
**Is your feature request related to a problem? Please describe.**

Cannot set cosmosdb collection partition key version from CLI

**Describe the solution you'd like**

The Cosmosdb collection partition key settings have a version field detailed here:
https://docs.microsoft.com/en-us/azure/cosmos-db/large-partition-keys?tabs=dotnetv3#supported-sdk-versions

Seems like that field is already in the

[2020-07-02 15:27] fengzhou-msft commented on #13876
@Juliehzl is working on removing azure-storage-blob and currently blocked by an extension that is still using it.

[2020-07-02 15:36] fengzhou-msft commented on #9902
Please don't reinstall python as cli depends on python 3.8 now and will install it as a dependency. Try:
[code]

[2020-07-02 15:56] BruceHaley opened #14192 "Global parameters link is inadequate"
The link to Global parameters on this page simply lists them without giving any details.
This link should go to the Global parameters page that shows full syntax for each. Right now we have to search for that page.

[2020-07-02 15:59] BassamBallaji opened #14193 "connectors to applications 'azureeventgrid' is not compatible with the Gmail"
As part of microsoft integration service. I'm using an azure logic app that should send message to my GMAIL address each time an event is happening in a VM under a specified resource group.

Scenario applied is :

create RG + VM

create blank logic app

add event grid trigger

add condition ......

send email notificiations

(as of the link : https://docs.microsoft.com/en-us/azure/event-grid/monit

[2020-07-02 16:04] danielsollondon commented on #13298
Sorry for the delay, docs have been updated.

[2020-07-02 16:15] yonzhan commented on #14176
add to S173

[2020-07-02 17:01] edyoung commented on #13855
@PowellTravis that's quite strange. Nothing is actually persisted outside the storage so I'm confused how that works.

When you say 'delete the cloud shell storage', do you mean actually delete the storage account or file share via the portal, or run 'clouddrive unmount'? If you run the latter and then reselect the same file share when you reconnect to cloud shell, you'd still be using the same fi

[2020-07-02 17:02] PowellTravis commented on #13855
I have deleted the storage account where the cloud shell data is stored.

[2020-07-02 17:48] samson-ite commented on #9902
@fengzhou-msft Thank you for the response. I have tried your suggestion with the same result.

$ brew uninstall azure-cli
$ brew uninstall python
$ brew install azure-cli
Updating Homebrew...
==> Auto-updated Homebrew!
Updated 2 taps (homebrew/core and homebrew/cask).
==> New Formulae
buildozer                                         gofish                                            terraform-ls
=

[2020-07-02 18:44] edyoung commented on #13855
Do you have write access to files in the ~/clouddrive directory?
When you recreated the cloud drive storage after deleting it, did you see this 'access denied' issue immediately?
If you try the steps I list above, does it make a difference? (If deleting the storage account didn't, it's unlikely)

[2020-07-02 18:49] PowellTravis commented on #13855
I do have access to the ~/clouddrive directory. That is the only thing I have the permission to view on the system still. I do get the access denied even after deleting and recreating the storage account.

[2020-07-02 18:55] MehaKaushik opened #14194 "[Network] The latest module in dev branch is broken"
**Describe the bug**
Network module's vnet commands are broken in the latest dev branch. Calling any command from the module fails bcz of a code error.

**To Reproduce**
az network vnet {create, list}

Both fail with:
(env) PS D:\azure-cli> az network vnet list
The command failed with an unexpected error. Here is the traceback:

'NoneType' object has no attribute 'standard_medium'
Traceback (most

[2020-07-02 19:10] robkac opened #14195 "error: az account get-access-token"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --resource {}`

## Expected Beha

[2020-07-02 19:12] MehaKaushik commented on #14194
Additional stack:

(env) PS D:\azure-cli> az network private-link-resource list
The command failed with an unexpected error. Here is the traceback:

'NoneType' object has no attribute 'standard_medium'
Traceback (most recent call last):
  File "D:\azure-cli\env\lib\site-packages\knack\cli.py", line 215, in invoke
    cmd_result = self.invocation.execute(args)
  File "d:\azure-cli\src\azure-cli-cor

[2020-07-02 19:50] MehaKaushik commented on #14191
Made changes in https://github.com/Azure/azure-cli/pull/13985 to address this issue.

[2020-07-02 20:58] Silvenga opened #14196 "ACR Rotate Key - 'NoneType' object has no attribute 'key_identifier'"
## Describe the bug

The command fails with a stacktrace.

**Command Name**
`acr encryption rotate-key`

**Errors:**

[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

Setup:
[code]

[code]

## Expected Behavior

Encryption should be enabled with the system assigned identity and vault key.

## Environ

[2020-07-02 21:04] Silvenga commented on #14196
Ah, this might be due to using a sku of basic for the registry. Either way, I feel that a stack trace should never be given.

[2020-07-02 22:18] doherty100 opened #14197 "az graph query -o table missing columns in output"
**Describe the bug**
az graph query command using -o table option is missing columns from output that are included when using other output formats such as -o tsv.

**To Reproduce**
* Write your query, e.g.:
`resources
| project
    id,
    type 
| summarize resourceCount=count() by type
| order by type asc`
* Save your query to a file e.g. `resource-summary.kql`
* Run your query using `-o table`,

[2020-07-02 22:19] doherty100 commented on #9517
Logged similar issue:

https://github.com/Azure/azure-cli/issues/14197

[2020-07-02 22:30] #13857 closed

[2020-07-02 23:06] sirredbeard commented on #13298
Thank you!

[2020-07-02 23:32] ms-v-csacha opened #14198 "List possible outbound IPs Command not returning complete list"
az webapp show --resource-group <group_name> --name <app_name> --query outboundIpAddresses --output tsv

**About the Bug**
When the previous command is used against a function app, the returned IPs list is incomplete. This issue was encountered while trying to setup an NSG to protect another resource, adding the returned IPs to the allowed list didn't permit outgoing traffic from the Function App

[2020-07-03 00:51] sspott commented on #13382
I'm having the same issue and don't seem to be able to get the Alias Record Set flag to set to YES?

I followed the commands above (and it doesn't seem to work), perhaps I'm missing something?

`az network dns record-set cname set-record -g MyResourceGroup -z www.mysite.com -n MyRecordSet -c www.contoso.com`

Any help would be appreciated!

[2020-07-03 01:28] yungezz commented on #14192
hi @arrownj could you pls see what's in today's doc. and how to align the exprience on global params as command params,  configuration items and local context etc. thanks.

[2020-07-03 01:29] yungezz commented on #14193
routing to appropriate team

[2020-07-03 01:29] yungezz commented on #14196
routing to appropriate team

[2020-07-03 01:30] yungezz commented on #14198
routing to appropriate team

[2020-07-03 01:38] yungezz commented on #14195
hello @robkac where did you see the error? Is it in Cloudshell? If yes, it's a known issue in Cloudshell #11749. As a workaround, you can try 'az login` explicitly.

[2020-07-03 01:39] yungezz commented on #14195
hi @arrownj pls help to label `Service attention` if user confirmed it's cloud shell issue, thanks

[2020-07-03 01:47] chengweijian commented on #9902
sorry,I still received the same error :
dyld: Library not loaded: @executable_path/../.Python
  Referenced from: /usr/local/Cellar/azure-cli/2.8.0/libexec/bin/python
  Reason: image not found
/usr/local/bin/az: line 2: 23423 Abort trap: 6           AZ_INSTALLER=HOMEBREW /usr/local/Cellar/azure-cli/2.8.0/libexec/bin/python -m azure.cli "$@"

[2020-07-03 01:54] MyronFanQiu commented on #13382
@sspott Hi. Could you share more context? what's your purpose and what's the error?

[2020-07-03 01:58] MyronFanQiu commented on #14167
@Phlak106 Hi, could you share the error message?

[2020-07-03 02:02] fengzhou-msft commented on #13499
Does this issue still exist? I cannot reproduce it now. @qwordy

[2020-07-03 02:09] zhoxing-ms commented on #13311
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-07-03 02:09] #13311 closed

[2020-07-03 02:10] zhoxing-ms commented on #10253
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-07-03 02:10] #10253 closed

[2020-07-03 02:10] zhoxing-ms commented on #13580
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-07-03 02:10] #13580 closed

[2020-07-03 02:12] zhoxing-ms commented on #13759
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-07-03 02:12] #13759 closed

[2020-07-03 02:12] sspott commented on #13382
Thanks so much for the fast reply!

The CLI command creates the record without issue `az network dns record-set cname set-record -g MyResourceGroup -z www.mysite.com -n MyRecordSet -c www.contoso.com`

The problem seems to be that when the CNAME is created there's no way to set the ALAIS RECORD SET flag to yes?

<img width="830" alt="dns2" src="https://user-images.githubusercontent.com/702888/8642

[2020-07-03 02:37] MyronFanQiu commented on #13382
@sspott Looks like CLI cannot do it right now. I need check with service team about this one. I cannot find corresponding swagger spec as well.

[2020-07-03 02:38] MyronFanQiu opened #14200 "How to set alias record set for cname"
The CLI command creates the record without issue `az network dns record-set cname set-record -g MyResourceGroup -z www.mysite.com -n MyRecordSet -c www.contoso.com`

The problem seems to be that when the CNAME is created there's no way to set the ALIAS RECORD SET flag to yes via the CLI?

Perhaps I need to execute a follow-up command?

<img width="830" alt="dns2" src="https://user-images.githubuse

[2020-07-03 02:38] sspott commented on #13382
Thanks for the follow-up, I've got a ticket going with Azure support, I'll gladly post any information I receive from them.

[2020-07-03 02:39] MyronFanQiu commented on #14200
I cannot find corresponding swagger spec as well. Could anyone from service team help?

[2020-07-03 02:40] MyronFanQiu commented on #13382
Hi. I open an other issue. #14200. Let's close this one for now.

[2020-07-03 02:40] #13382 closed

[2020-07-03 06:04] qwordy commented on #13499
The extension version is still unknown. But I can run `az -v` now.
[code]

[2020-07-03 06:04] #13499 closed

[2020-07-03 07:03] bim-msft commented on #12655
Pending due to Swagger not ready.

[2020-07-03 07:24] sandeepmindwave opened #14207 "AZ ACR TASK CREATION ERROR: Traceback (most recent call last):"
`Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 215, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line 654, in execute
    raise ex
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line 718, in _run_jobs_serially
    resu

[2020-07-03 07:26] bim-msft commented on #13752
@mcalnd70 Hi, sorry for the late response. We are working on it.

[2020-07-03 07:30] SnehaAgrawal-MSFT opened #14208 "webapp: Multi- container quickstart is broken from CLI"
Bug Description:

Multi-container [quickstart](https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-multi-container) is broken from CLI

![image](https://user-images.githubusercontent.com/46553948/86443490-f7b0ef00-bd2c-11ea-9ecd-76511edc9650.png)

 Reproduced:
    This has been reproduced by trying two different compose YML files and got the same result.
   Portal -> container

[2020-07-03 07:48] bim-msft commented on #13895
Fixed

[2020-07-03 07:48] #13895 closed

[2020-07-03 09:49] chengweijian commented on #9902
I got it the right way.
try:

if you dont have pip3, please  install first.

[2020-07-03 12:36] yonzhan commented on #14182
add to S173

[2020-07-03 12:50] yonzhan commented on #13301
Api management service team should look into this.

[2020-07-03 12:55] yonzhan commented on #14194
add to S173

[2020-07-03 12:58] yonzhan commented on #14197
add to S173

[2020-07-03 13:14] yonzhan commented on #14207
ACR

[2020-07-03 13:17] yonzhan commented on #14208
Was this a portal bug or CLI issue?

[2020-07-03 14:35] hijili opened #14215 "az command sometimes freeze"
**Describe the bug**

az command sometimes freeze forever because socket timeout is not set to adal.AuthenticationContext.
When that occurs, the process will have to be killed.

**To Reproduce**

It is difficult to let this occur naturally, as it appears to be a network problem.
So I prepared an https server that does not return HTTP layer responses and rewrote /etc/hosts.

[code]

After establish

[2020-07-03 14:44] igorzi84 opened #14216 "az storage blob show fails on ErrorCode:OperationTimedOut"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Trying to list all blobs (az storage blob show) and getting ErrorCode:OperationTimedOut on some of the blobs.
Blobs where not all properties set is returned with
azure.core.pipeline.policies.http_logging_policy : Response status: 500

![image](https://user-images.githubusercontent.com/10531625/86479212-b7944100

[2020-07-03 15:21] yonzhan commented on #14216
add to S173

[2020-07-03 15:23] yonzhan commented on #14215
add to S173

[2020-07-03 15:37] wpbrown opened #14218 "Authentication with credential acquired in cloud shell fails"
**Describe the bug**
Trying to use a credential retrieved from the CLI fails when using Cloud Shell MSI because the token format  does not match the code.

**To Reproduce**
[code]

Use the credential in the blob client...
[code]

**Expected behavior**
`adal_authentication.get_token` returns a valid `AccessToken`.

**Environment summary**
`azure_cli_core-2.8.0` in Azure Cloud Shell.

**Additional c

[2020-07-03 16:39] Nepomuceno opened #14219 "Error when using JMESPATH with the keyword SELECT"
## Describe the bug

**Command Name**
`az policy definition list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az policy definition list --query 'select(policyType == "Custom")'`

## Expected Behavior

List the custom policy definitions

##

[2020-07-03 21:15] SeanFeldman commented on #13777
@panchagnula, any updates?

[2020-07-03 23:49] yonzhan commented on #14218
add to S173

[2020-07-03 23:52] yonzhan commented on #14219
add to S173

[2020-07-04 02:27] yonzhan commented on #14197
resource graph

[2020-07-04 07:37] yungezz commented on #14208
this looks like a portal bug instead of Azure CLI bug. hi @SnehaAgrawal-MSFT the screencut resolution is low, I cannot see the scirpt on it. while the flow hasn't been in Azure CLI yet. It's portal logic to show the script. This should not be a Azure CLI bug.

[2020-07-04 11:27] yonzhan commented on #13768
@motim6026 any update?

[2020-07-04 11:49] yonzhan commented on #13848
tracked on #13855 and close this one.

[2020-07-04 11:49] #13848 closed

[2020-07-04 13:41] samson-ite commented on #9902
I finally got it to work.

- I uninstalled python/azure-cli with Homebrew
- removed all python packages (3.x & 2.x) from my machine as well as pip/pip3
- ran 'brew install azure-cli' and it worked.
- It looks like there was some weird linking or PATH conflicts going on and removing python completely fixed the issue.

[2020-07-04 13:42] samson-ite commented on #14189
I finally got it to work.

I uninstalled python/azure-cli with Homebrew
removed all python packages (3.x & 2.x) from my machine as well as pip/pip3
ran 'brew install azure-cli' and it worked.
It looks like there was some weird linking or PATH conflicts going on and removing python completely fixed the issue.

[2020-07-04 14:32] #13859 closed

[2020-07-04 14:39] yonzhan commented on #13880
@DavideDelVecchio any update?

[2020-07-04 14:41] yonzhan commented on #13886
@ausafonly any update?

[2020-07-04 14:42] yonzhan commented on #13887
@RSchoedel any update?

[2020-07-04 14:43] yonzhan commented on #13893
@feiyushi any update?

[2020-07-04 15:10] yonzhan commented on #13934
@yoshuhire was your issue resolved by above solution?

[2020-07-05 02:43] yonzhan commented on #14078
@ugrewal any update?

[2020-07-05 07:14] atrauzzi commented on #13365
Following up on this one, would really love to have the Azure CLI able to take care of this based on the currently authenticated user.

[2020-07-05 13:07] blrchen commented on #11949
Any ETA for when the fix will be ready?

[2020-07-05 20:35] yugangw-msft commented on #14196
Will polish the error, and yes this is because the registry is not yet encrypted

[2020-07-05 20:37] yugangw-msft commented on #14207
Please investigate

[2020-07-05 20:41] Silvenga commented on #14196
Not yet encrypted? Is there another way to enable encryption? It appears that the `[system]` managed identity isn't an option for registry identity when creating the registry. That option is only available afterwards (at least the command currently fails).

The docs suggest that using `rotate-key` can both rotate keys and update encryption settings, and the `update` command doesn't have any docume

[2020-07-05 21:04] yugangw-msft commented on #14196
Before encrypting existing registry gets supported, you need to enable encryption through user assigned identity first, and then rotate to system assigned identity.

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-customer-managed-keys#create-a-registry-with-customer-managed-key

[2020-07-05 22:57] yonzhan commented on #11949
service team should look into this.

[2020-07-06 01:13] willson556 commented on #14208
@yungezz, @yonzhan I've run into the same problem and I also believe this is a CLI issue.

I ran:
[code]
and had a YAML parse exception like @SnehaAgrawal-MSFT. The configuration appeared to be improperly encoded in the portal. I then pasted the configuration into the portal and saved. The configuration was then correctly parsed and the app deployed.

[2020-07-06 01:26] wahyuen opened #14220 "az rest - Retrieving Functions keys results in InternalServerError"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
We have a script which currently calls the HTTP endpoint to retrieve the Function Keys from a newly created FunctionApp to place into Key Vault. The HTTP call seems to fail with an InternalServerError. If we wait long enough, this then succeeds. We suspect this might be some timing issue related to how the Func

[2020-07-06 01:41] yungezz commented on #14208
thanks @willson556 for the detail! could you pls paste the error messages? thanks.

[2020-07-06 01:46] MyronFanQiu commented on #14194
@MehaKaushik Please use `azdev setup` to setup the environment again. It need new version of azure-mgmt-network.

[2020-07-06 01:52] yonzhan commented on #14220
add to S173

[2020-07-06 02:15] #1636 closed

[2020-07-06 02:19] wahyuen commented on #11695
@yonzhan any chance this issue could get some attention? this has been completely broken for the better part of half a year now :/

[2020-07-06 02:25] fengzhou-msft commented on #13235
@jetzerb which Ubuntu distro are you using? I tested on Bionic and Xenial, and the install of azure-devops can be done successfully.

For the debug log in [comments](https://github.com/Azure/azure-cli-extensions/pull/535#issuecomment-471240107), I noticed there's a mismatch between the package repo and the distro:

And it could be the reason for the failure according to this [comment](https://gith

[2020-07-06 02:26] #13339 closed

[2020-07-06 02:39] #13524 closed

[2020-07-06 02:48] jiasli opened #14221 "{Versioning} dev version for dev branch"
**Is your feature request related to a problem? Please describe.**
`dev` branch's version is the same as the released Azure CLI. For example, the current release is `3.8.0` and `dev` branch is also `3.8.0`. This causes the real `3.8.0` telemetry to be polluted by `dev` branch's telemetry.

**Describe the solution you'd like**
After a release, `dev` branch should have a version in the form of `3.9.

[2020-07-06 02:49] houk-ms commented on #13892
@dustymabe Thanks for your reporting and investigation. As you have found, this is an OS specific issue, which we recorded in the [troubleshooting](https://github.com/Azure/azure-cli/blob/dev/doc/install_troubleshooting.md#errors-on-install-with-cffi-or-cryptography) before a better solution is decided.

Your suggestion about dynamically loading modules and better deal with the `checked` keywarg i

[2020-07-06 03:19] jiasli opened #14223 "{REST} `az rest` should support polling on asynchronous Azure operations"
**Is your feature request related to a problem? Please describe.**
`az rest` should support polling on [asynchronous Azure operations](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/async-operations).

As difference Resource Providers uses different methods of indicating async operations, there are three possible ways to poll on asynchronous Azure operations

- By respons

[2020-07-06 03:21] jiasli commented on #14220
`az rest` currently doesn't support support polling [asynchronous Azure operations](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/async-operations) (tracked at https://github.com/Azure/azure-cli/issues/14223). The script is responsible for querying the provisioning status of the prerequisite resources.

An example can be found from the scenario test:

https://github.com/

[2020-07-06 03:22] jsntcy commented on #10837
Close this now as no response is from customer for a long time.
@arianpopalyar, if you think the issue still exists, please reopen this issue.

[2020-07-06 03:22] #10837 closed

[2020-07-06 03:29] jiasli commented on #14221
Temporarily, we can disable telemetry on CI with `AZURE_CORE_COLLECT_TELEMETRY = no`, but this can't prevent the telemetry being polluted by developers' execution.

[2020-07-06 03:35] peter-dolkens commented on #14142
@jonsamwell there's some older methods which still work - I was hoping to move to this new TXT based record too, but unfortunately we're stuck using CNAMEs for now.

Instead, you can create an extra `awverify` record as follows:

[code]

Note: this additional `awverify` record is only needed if you're unable to point `yourdns.com` directly at your website immediately. The `awverify` record allows

[2020-07-06 03:38] wahyuen commented on #14220
@jiasli What operation are we supposed to inspect for the 'async' scenario? We provision the function app via a previous Azure DevOps task via ARM templates. Would this not imply that the resource already exists at this point?

We are following the recommendation from https://github.com/Azure/azure-cli/issues/4041#issuecomment-603894815

[2020-07-06 04:41] yonzhan commented on #11695
functionapp service team should look into this.

[2020-07-06 05:28] willson556 commented on #14208
Yeah, the error in the container logs was:
[code]

Also, my cloud shell session history seems to have cleared but the output of the command contained something like:
[code]

[2020-07-06 05:33] srudin commented on #13788
Any news on this?

[2020-07-06 05:42] haroldrandom commented on #14221
What I thinking we need to fix for this is we need to upgade the version of dev branch again after we release, which needs @fengzhou-msft to update the release pipeline a little bit.

[2020-07-06 05:43] jiasli commented on #14220
`az rest` simply makes the REST call and doesn't care about the business logic.

Could you create a **support ticket** to **Function Ap**p team to investigate? You may provide the `--debug` log of `az rest` (containing the raw HTTP request and response). A support engineer can help you identity the issue from service-side. Thanks for understanding.

[2020-07-06 05:48] #14175 closed

[2020-07-06 05:53] #13692 closed

[2020-07-06 06:07] PaulCharlton commented on #14083
Hi @Juliehzl -- I am not sure what to say ... I have MacOS + home-brew + AZ CLI installed via home-brew.

I still get, as of moments ago:
[code]

When I look at the path in the error above, it shows Az Cli 2.7.0 and also python3.8 as part of that path.

[2020-07-06 06:30] yonzhan commented on #14223
az rest

[2020-07-06 06:35] #13994 closed

[2020-07-06 06:37] yonzhan commented on #14221
add to S172

[2020-07-06 07:03] jiasli opened #14228 "{Test} Some long-running tests are agonizingly slow"
Some long-running tests like [`test_storage_account_with_routing_preference`](https://github.com/Azure/azure-cli/blob/a9fe6167381b53dac19a3007f726adf27b64f28b/src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py#L300) are agonizingly slow, thus slowing down the whole CI pipeline:

![image](https://user-images.githubusercontent.com/4003950/86564252-7c537580

[2020-07-06 07:43] logachev opened #14230 "Admin Consent is not working in Cloud Shell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad app permission admin-consent`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Use Cloud Shell to run az cli
- `az ad app permission admin-consent --id {}`

## Expected Beha

[2020-07-06 07:49] logachev commented on #14230
Looks like MSI doesn't like this GUID: https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/role/custom.py#L907

[2020-07-06 08:18] yonzhan commented on #14228
Test

[2020-07-06 08:22] yonzhan commented on #14230
Cloud Shell

[2020-07-06 09:41] jiasli commented on #14230
It is a known issue that `resource='74658136-14ec-4630-ad9b-26e160ff0fc6'` or `https://main.iam.ad.ext.azure.com/` is not accepted by Cloud Shell's managed identity. You will need to manually run `az login` before using this command.

For more information, you could check https://github.com/Azure/azure-cli/issues/9942#issuecomment-650669473.

[2020-07-06 12:48] jetzerb commented on #13235
@fengzhou-msft I am using Focal (20.04).  I just tried it now and it worked fine.

I think you're right about the version mismatch.  At the time, Microsoft didn't have a Ubuntu 20.04 repository, so I was overriding the installation script to pull the 19.10 version of `azure-cli` and creating a symlink of libffi7 to libffi6 to satisfy the older version's requirement. I removed that workaround at th

[2020-07-06 13:14] pvrk commented on #14177
Looking at this. Sorry for the delay in response.

[2020-07-06 13:15] pvrk commented on #14177
@hiaga: Can you please look into this?

[2020-07-06 14:03] alessandromuresan opened #14238 "Adding a CDN profile rule that modifies a response header fails"
**Describe the bug**
Trying to add a CDN profile rule that modifies a response header fails with `validation error: Parameter 'DeliveryRuleAction.name' can not be None`

**To Reproduce**
Run the command below. You will need to create a resource group, cdn profile and cdn endpoint beforehand.
[code]

**Expected behavior**
Should create a new rule

**Environment summary**
MSI on Windows (running the

[2020-07-06 14:04] yonzhan commented on #14238
CDN

[2020-07-06 14:31] jeroenhabets opened #14240 "Support pip as installation method (over MSI and scripts)"
For Python the standard way of installing packages is pip.

The pip installation works already but is not promoted nor supported. If it were we could just add a `azure-cli` line to our `requirements.txt `and it would automatically get installed and updated.

**Additional context**
Is there any reason (left) that requires alternative installation options like MSI on Windows and package managers on

[2020-07-06 14:55] jeroenhabets commented on #14093
@yonzhan / @jiasli Ideally installation using pip would get supported. I've logged this as a Feature Request: https://github.com/Azure/azure-cli/issues/14240

[2020-07-06 14:55] Silvenga commented on #14196
Ah, got it. Thanks for that insight.

[2020-07-06 16:12] MehaKaushik commented on #14194
@MyronFanQiu  my environment summary is:
## Environment Summary
[code]

This after azdev setup on the latest master. I still see the issue.

[2020-07-06 17:21] Jen7714 commented on #14113
Hello! Please try again with the latest Azure CLI version. Feel free to reopen an issue if it still doesn't work.

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-07-06 17:21] #14113 closed

[2020-07-06 17:26] akshaysngupta commented on #14162
@MiguelElGallo Did you install the `aks-preview` extension ?
Use the following command:
`az extension add --name aks-preview`

[2020-07-06 17:42] atulaggarwal commented on #14053
Have you logged into az cli command using `az login` ([link](https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#az-login)) ? The error statement looks like it was unable to retrieve oauth token.

[2020-07-06 17:50] atulaggarwal commented on #13846
Looking at the stack trace, it looks like merging of cluster into to kubeconfi files is failing which could mean most likely kubectl config files are corrupted (normal path to file is ~/.kube/config).

Can verify the configuration file using steps mentioned in [link](https://kubernetes.io/docs/tasks/tools/install-kubectl/#verifying-kubectl-configuration)? If you find the file to be corrupted, can

[2020-07-06 17:50] AShchepachev commented on #14053
Yes, I have. A few times

[2020-07-06 17:52] AShchepachev commented on #14053
It seems like the problem caused by two accounts being signed in

[2020-07-06 17:52] #14053 closed

[2020-07-06 17:54] atulaggarwal commented on #14047
The option --yes was introduced in azure cli version 2.8.0 as mentioned in the [link](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?view=azure-cli-latest&tabs=azure-cli) . The version which you are using is 2.7.0 which does not contains that option.

[2020-07-06 18:06] djsly commented on #13881
seems that your service principal or the service principal secret weren't quoted properly ?

can you ensure that you pass the appID/AppSecret

[2020-07-06 18:08] djsly commented on #13910
@provenstyle can you try again, there were some issue with the Certificate for the kubectl location on the google side I think

[2020-07-06 18:20] panchagnula commented on #14208
@Kotasudhakarreddy could you please check if you can repro this using CLI. Seems like CLI is incorrectly parsing some values. We can chat more on this during our meeting.

[2020-07-06 18:30] djsly commented on #13807
could you share your json of your cluster using resources.azure.com to ensure that the add-on was indeed present ?

Also, which versions of AKS are you targeting ?

[2020-07-06 18:42] Jen7714 commented on #14047
Closing since Atul answered the question!

[2020-07-06 18:42] #14047 closed

[2020-07-06 20:15] Phlak106 commented on #14167
Failed to delete load balancer rule '<RULENAME>'. Error: Load balancer rule <FULL_RULE_ID> cannot be removed because the rule references the load balancer probe <FULL_PROBE_ID> that is used as health probe by VM scale set <BACKEND_ID>. To remove this rule, please update VM scale set to remove the reference to the probe.

The scenario is to open 2 ports to the same backend that share a health probe

[2020-07-06 20:57] yonzhan commented on #14240
installation

[2020-07-06 22:36] pranotipr opened #14244 "expired token. need help."
Error:  Get Token request returned http error: 400 and server response: {"error":"invalid_grant","error_description":"AADSTS700082: The refresh token has expired due to inactivity. The token was issued on 2020-02-26T21:52:54.2810613Z and was inactive for 90.00:00:00.\r\nTrace ID: 6e94ade5-10de-4d67-909a-14d845813500\r\nCorrelation ID: 0e87b495-1e24-4882-be85-d012c216f4f6\r\nTimestamp: 2020-07-06 2

[2020-07-06 22:41] mirdaki commented on #14094
@mbirgi Did you happen to have telemetry disabled? That would of also caused an issue.

[2020-07-06 23:50] yugangw-msft opened #14245 ""az acr login" should persist port information in user provided registry url"
`docker push` could fail for `unauthorized: authentication required` with port in the registry url

[code]

[2020-07-06 23:51] yugangw-msft commented on #14245
Not a common scenario, but an issue to fix anyway

[2020-07-07 00:21] yonzhan commented on #14244
@pranotipr please share more detailed info, such as in which scenario you met with this error.

[2020-07-07 00:47] chenlomis opened #14246 "Failure to install CLI on Linux machines"
**Describe the bug**
New users having trouble installing CLI on Linux

**To Reproduce**
refer to video link

**Expected behavior**
Users being able to install CLI without issues

**Environment summary**

(no info on this, perhaps data could tell us more)

**Additional context**

[2020-07-07 01:08] yungezz commented on #14240
hi @jeroenhabets thanks for the feedback.  Main concern of pip install is that cli dependencies mess up with users' python environment and existing installed packages,  all those unexpected python packages dependencies version issues. That's why we recommend user install via package manager per OS

[2020-07-07 01:12] yungezz commented on #14246
will try to get detail from the video, so far no permission yet.

[2020-07-07 01:15] yungezz commented on #14244
hi @pranotipr are you met the issue via `az  get-access-token`? could you try `az login`?

[2020-07-07 01:37] MyronFanQiu commented on #14194
latest `dev` branch? it should work. We have seen such error message several times. Could you run `pip show azure-mgmt-network`?

[2020-07-07 01:50] arrownj commented on #12728
Hi @wonderplayer , will close this issue first as lacking of further feedback. You can reopen it or submit a new one if you still have problems with it. Thanks

[2020-07-07 01:50] #12728 closed

[2020-07-07 01:57] MehaKaushik commented on #14194
(env2) PS D:\azure-cli> pip show azure-mgmt-network
Name: azure-mgmt-network
Version: 11.0.0
Summary: Microsoft Azure Network Management Client Library for Python
Home-page: https://github.com/Azure/azure-sdk-for-python
Author: Microsoft Corporation
Author-email: azpysdkhelp@microsoft.com
License: MIT License
Location: d:\azure-cli\env2\lib\site-packages
Requires: msrestazure, azure-common, msrest

[2020-07-07 02:32] #14194 closed

[2020-07-07 02:32] MyronFanQiu commented on #14194
fixed offline

[2020-07-07 02:53] jiasli commented on #10841
This is actually a very good finding.

I am able to reproduce as a guest user:

![image](https://user-images.githubusercontent.com/4003950/86695449-208ff780-c03f-11ea-9ffa-82a30d9124fe.png)

However, a tenant user does have the permission to edit owned application:

![image](https://user-images.githubusercontent.com/4003950/86695578-40272000-c03f-11ea-8dbe-ba7231c2d48a.png)

This contradicts the d

[2020-07-07 05:37] rickardp commented on #13881
I quotes the SP and secret using normal Bash rules (I verified that the strings were quoted correctly). Am I supposed to quote the quoted secret?

My expectation was that as long as the secret was interpreted correctly as an argument, AZ CLI would do the rest for me.

[2020-07-07 06:05] jiasli commented on #13702
Hi @ShaunWilkinson, I tested on a local machine but couldn't repro.

[code]

![image](https://user-images.githubusercontent.com/4003950/86723684-b5ecb500-c05a-11ea-8f75-01ea5e5fb9a1.png)

Could you share a screenshot of what you are actually seeing?

[2020-07-07 06:18] jiasli commented on #13976
Duplicate of #11749. Please see https://github.com/Azure/azure-cli/issues/11749#issuecomment-570975762 for solutions.

[2020-07-07 06:41] #14162 closed

[2020-07-07 06:41] MiguelElGallo commented on #14162
Thanks, now it works!

[2020-07-07 06:53] Yao725 commented on #14092
Any update?

[2020-07-07 06:54] #14039 closed

[2020-07-07 06:59] hiaga commented on #14177
Able to reproduce this issue. further debugging.

[2020-07-07 07:31] mbirgi commented on #14094
@mirdaki: I don't know, do you know if I can still check it?

[2020-07-07 07:49] qwordy opened #14252 "Can we enable API version isolation among modules?"
**Is your feature request related to a problem? Please describe.**

It is a disaster when upgrading API version, especially Ring 0 service for it is used everywhere. If each module has its own API version configuration, it will be easier to upgrade API version.

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-07-07 07:51] yonzhan commented on #14252
![image](https://user-images.githubusercontent.com/54048360/86741039-ad4fab00-c069-11ea-8074-46729efc7399.png)

[2020-07-07 07:51] qwordy commented on #14252
It's a screenshot..

[2020-07-07 07:51] yonzhan commented on #14252
similar to #14102

[2020-07-07 07:52] #14252 closed

[2020-07-07 07:52] qwordy commented on #14102
Similar issue: https://github.com/Azure/azure-cli/issues/14252

[2020-07-07 07:54] yannick-Lapierre opened #14253 "az storage blob Upload return an error in Devops Custom task"
**Describe the bug**
az storage blob Upload return an error in DevOps **Custom task** in Powershell:
[code]
 *(but work if called directly from a Powershell Task)*

**To Reproduce**
Create and deploy a custom task.
Include an az call like that:
[code]
that pass if we force the *$ErrorActionPreference* like:

[code]

**Expected behavior**
Don't fire an error, or Provide information to know what the

[2020-07-07 08:07] yonzhan commented on #14253
add to S173

[2020-07-07 08:30] jiasli commented on #13417
`azdev`'s change was done in https://github.com/Azure/azure-cli/pull/14156.

[2020-07-07 08:32] #14191 closed

[2020-07-07 09:59] Yao725 commented on #14013
Hi rioriost, I test the command in Azure CLI 2.8.0 and update the Ultra Disk successfully. Could you test it again?

[2020-07-07 10:20] rouke-broersma opened #14257 "az aks update --attach-acr throws python exception"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update --attach-acr <acr-resource-id>`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- create acr (in different subscription but same tenant, not sure if relecant)
- `az l

[2020-07-07 11:08] rioriost commented on #14013
If you have enrolled the white list for 'Shared Disk', the command does work. But I didn't want to operate 'Shared Disk' related feature just to update IOPS and bandwidth.

[code]

[2020-07-07 11:10] gerhardcit opened #14258 "webapp: 'NoneType' object has no attribute 'reserved'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config container set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config container set --name {} --resource-group

[2020-07-07 11:32] yonzhan commented on #14257
aks

[2020-07-07 11:33] yonzhan commented on #14258
webapp

[2020-07-07 11:42] hiaga commented on #14177
@sebastianrogers - this error is expected because the given command is used to enable protection for the first time. If you want to re-enable/ resume the backup for your file share please use "az backup protection resume" command. Please refer to a sample below -

**az backup protection resume  -c StorageContainer;Storage;sample-rg;samplefileshare -i AzureFileShare;b119aujkkjg3j535jkjkj4h3h535jkh6

[2020-07-07 11:44] gerhardcit commented on #14258
Turns out I did not specify the --subscription param.

[2020-07-07 12:21] sebastianrogers commented on #14177
That doesn't make it idempotent which is a big drawback meaning conditional logic has to be introduced into pipelines.

Can it be made idempotent please?

[2020-07-07 13:18] bishal-pdMSFT commented on #13801
I am facing same problem with my @microsoft.com account. Issues happen only when doing `az login`, and portal login works fine.

[2020-07-07 13:42] PranayAnchuri commented on #14169
Using the latest version worked for me.

[2020-07-07 14:59] dimanngo opened #14259 "Could not create a role assignment for ACR within the subscription where I am an Owner"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update -g {} -n {} --attach-acr {}`

## Expected Behavior

## Envir

[2020-07-07 15:57] #14189 closed

[2020-07-07 16:02] Kotasudhakarreddy commented on #11340
@aamrun were you able to verify this and still able to repro in the latest version. To verify you can use shell.azure.com .

[2020-07-07 16:33] panchagnula commented on #14198
@ms-v-csacha function app has its own set of commands & we don't recommend using az webapp, are you seeing the same issue when using az functionapp show?

[2020-07-07 16:42] #14099 closed

[2020-07-07 16:53] mirdaki commented on #14094
You can check if telemetry is enabled or disabled by opening up the config file (`C:\Users\NAME\.azure\config` on Windows) and checking in the core section. Mine looks like this:
[code]

I haven't merged my changes yet, so if that's the problem, you would (hopefully 😅) be able to reproduce it.

[2020-07-07 17:34] pranotipr commented on #14244
Thanks. This has been resolved.

On Mon, Jul 6, 2020 at 6:15 PM Yunge Zhu <notifications@github.com> wrote:

[2020-07-07 17:36] IntoTheNature commented on #14208
I can reproduce this issue. Seems like a CLI issue: base64-encoded file gets lowercased.
I have az cli 2.7 and 2.8 next to each other:
2.8 lowercases the file content while 2.7 doesn't.

[2020-07-07 18:10] kevinhillinger commented on #13111
Looking into this.

[2020-07-07 18:26] panchagnula commented on #14208
@IntoTheNature thanks for comment are you saying that if you use version 2.7 - you don't see this problem on portal?

[2020-07-07 18:44] yugangw-msft commented on #14245
Both CLI and doc need to update, as users should use the port number on "az acr login -n myreg.azurecr.io:443"

[2020-07-07 19:15] IntoTheNature commented on #14208
That is correct, the base64 isn't lowercased in the command output:
This is a screenshot of 2.0.75:
![image](https://user-images.githubusercontent.com/2073524/86829848-e9334200-c062-11ea-873d-e5e41470185b.png)
Same file on 2.8.0:
![image](https://user-images.githubusercontent.com/2073524/86831176-93f83000-c064-11ea-85c7-3f46d6878504.png)

(pay attention to lowercased DOCKER_CUSTOM_IMAGE_NAME value

[2020-07-07 19:20] Kris824 commented on #7414
This didn't solve the problem, I;m facing thesame issue

[2020-07-07 20:01] rebecca-makar commented on #12987
@yonzhan how do I contact them?

[2020-07-07 20:43] panchagnula commented on #14208
This seems like it regressed with this change https://github.com/Azure/azure-cli/commit/728301a9ebda73ce57ad6440254323af260fa5c5#diff-75a1767a60b87df72982d626136921db

@vinisoto can you please take care of fixing the regression in Linux - i want to make sure we don't regress your windows container fix while trying to fix the regression. Thanks!

[2020-07-07 20:45] vinisoto commented on #14208
Looking at it

[2020-07-07 21:25] panchagnula commented on #13909
@nordquist as per the title the deployment issue is not specific to CLI - are you still seeing this issue.
Few things to consider
1. When using CLI please upgrade to the newer version from the current issue - seems like you are using a  very old version
2. App service currently cannot mix windows and linux apps in the same RG, so if you are trying to use the RG that has windows apps you can use it

[2020-07-07 21:27] panchagnula commented on #13647
@zsolt-halo in CLI please run the command with --debug to check if you get a useful error message. let us know if that helps.

[2020-07-07 21:31] maertendMSFT commented on #12671
I cannot repro this issue, this looks to be working in Windows Terminal.  Please close

[2020-07-07 22:10] maertendMSFT commented on #12757
This should be fixed now.  I cannot repro, please close.

[2020-07-07 22:11] yonzhan commented on #14259
aks

[2020-07-07 22:11] maertendMSFT commented on #12802
This should be fixed now.  I cannot repro, please close.

[2020-07-07 22:12] maertendMSFT commented on #13309
@reddyfull , please provide repro steps.  Otherwise, please close this issue.

[2020-07-07 22:15] #14244 closed

[2020-07-07 22:16] maertendMSFT commented on #13329
This should be fixed now.  I cannot repro, please close.

[2020-07-07 22:17] maertendMSFT commented on #13528
This should be fixed now.  I cannot repro, please close.

[2020-07-07 22:17] maertendMSFT commented on #13556
This should be fixed now.  I cannot repro, please close.

[2020-07-07 22:17] maertendMSFT commented on #13663
This should be fixed now.  I cannot repro, please close.

[2020-07-07 22:17] maertendMSFT commented on #13730
This should be fixed now.  I cannot repro, please close.

[2020-07-07 22:18] maertendMSFT commented on #11749
This should be fixed now.  I cannot repro, please close.

[2020-07-07 22:18] maertendMSFT commented on #13778
This should be fixed now.  I cannot repro, please close.

[2020-07-07 22:20] maertendMSFT commented on #14009
This should be fixed now.  I cannot repro, please close.

[2020-07-07 22:21] maertendMSFT commented on #14195
This should be fixed now.  I cannot repro, please close.

[2020-07-07 22:22] #13663 closed

[2020-07-07 22:22] maertendMSFT commented on #14230
This should be fixed now.  I cannot repro, please close.

[2020-07-07 22:51] asnogordo opened #14261 "az backup protection disable throwing traceback when no item name is found"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az backup protection disable`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az backup protection disable --container-name {} --delete-b

[2020-07-07 22:54] robkac commented on #14195
thanks

[2020-07-07 22:54] #14195 closed

[2020-07-07 23:00] yungezz commented on #14261
routing to appropriate team

[2020-07-07 23:49] scottgorlick commented on #13556
I'm unable to tell if this is working or not with my work account, but both of my "personal" accounts looked acceptable... I do think this issue is closed, but would like to point out another potential problem that is blocking my use of cloud shell with my work account.  If there is another issue open for the "Key Not Found", we're good, but if not, I'll create an issue for that item.

with my wor

[2020-07-08 01:49] panchagnula commented on #13647
Also regarding this "Also, another thing that will lead to confusion is that the CLI command for adding a custom domain to a function app requires you to use the awverify prefix. "

which specific functionapp command are you referring to - please file a separate issue, if this is function app specific Thank you.

[2020-07-08 01:51] panchagnula commented on #13355
@yonzhan managed app is not app service - can you check with owner file & assign this to the correct team? Thanks!

[2020-07-08 01:52] panchagnula commented on #13646
@Kotasudhakarreddy / @ThejaChoudary  can you check if we can pass ResourceGroup ID instead of RG Name here to fix this?

[2020-07-08 01:54] panchagnula commented on #12834
@calvinsID will this be handled with your current PR?

[2020-07-08 02:44] bim-msft commented on #14129
Hi @prakashb83 this seems to be an error on Python SDK side, please create an issue here: https://github.com/Azure/azure-sdk-for-python/issues
Based on my knowledge, this library (`azure-keyvault-certificates==4.1.0`) is a new one with many breaking changes. Azure CLI uses `azure-keyvault==1.1.0` to handle certificates, you may try this one for a quick solution.

[2020-07-08 02:48] bim-msft commented on #13956
Hi @BassamBallaji , you may use command `az ad user list` to make sure your upn is existing. As far as I can see, some upn formats are not email-like, eg: `xxxx_microsoft.com#EXT#@AzureSDKTeam.onmicrosoft.com`

[2020-07-08 02:57] djsly commented on #13881
seems that your issue has been seen by a few other folks

https://github.com/MicrosoftDocs/azure-docs/issues/56103

https://docs.microsoft.com/en-us/answers/questions/32361/az-aks-create-fails-with-details-token-contains-an.html

It seems that the changed they regex for accepted password at the AD SP create logic.

[2020-07-08 03:08] sudo-n00b commented on #9187
is there any alternate cmdlet that we can use?

[2020-07-08 03:13] #13556 closed

[2020-07-08 03:13] #13730 closed

[2020-07-08 03:14] #13528 closed

[2020-07-08 03:14] #14169 closed

[2020-07-08 03:27] zhoxing-ms commented on #13573
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-07-08 03:27] #13573 closed

[2020-07-08 03:27] zhoxing-ms commented on #13687
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-07-08 03:27] #13687 closed

[2020-07-08 03:32] #13863 closed

[2020-07-08 03:34] #14061 closed

[2020-07-08 03:38] panchagnula commented on #14040
@softveda thanks for opening this - this a a new feature that is not available on Python SDK - the feature owner is working on it once we have this we will start supporting this. Thanks!

[2020-07-08 03:38] jiasli commented on #9776
The logic for showing environment variables is simple: https://github.com/Azure/azure-cli/blob/0ce0448c9cbe73faa26c56ffcc9bc10bbf3b30f2/src/azure-cli/azure/cli/command_modules/configure/custom.py#L46

https://github.com/Azure/azure-cli/blob/be84df6aa4c47249abe8e9e89954bf344b53bc02/src/azure-cli-core/azure/cli/core/_config.py#L13

It lists all key-value pairs in all environment variables where the

[2020-07-08 03:42] #9779 closed

[2020-07-08 03:43] panchagnula commented on #13773
@yonzhan tis error seems familiar to other issues where the package install was failing on Ubuntu - I cannot repro  this so can we check if this a package issue?

[2020-07-08 03:52] panchagnula commented on #13428
@StingyJack I don't understand the question here - please elaborate. what do you mean which app service? App service is an Azure service - what are you trying to find?

[2020-07-08 05:23] asw101 opened #14264 "Webapp:az webapp up error ("...returns malformed data. Retrying...") when deploying a Python application"
as webapp up returns the following when deploying a Python application:

"Deployment status endpoint https://<...>/api/deployments/latest returns malformed data. Retrying"

Output of `az version` is as follows:
[code]

End user is running Linux:

[code]

Opening a new issue per https://github.com/Azure/azure-cli/issues/11596 (cc: @panchagnula)

[2020-07-08 06:06] fengzhou-msft opened #14265 "vm create error in docker when --admin-username not provided"
**Describe the bug**

When `--admin-username` is not provided in `az vm create`, the default is to get the current user.
https://github.com/Azure/azure-cli/blob/b361d116a82c725d9a3322e3a8683376ebf6b785/src/azure-cli-core/azure/cli/core/util.py#L597-L601
When running in Docker, the default user is `root` and can not pass the validator check:
https://github.com/Azure/azure-cli/blob/b361d116a82c725d9

[2020-07-08 06:07] #13949 closed

[2020-07-08 06:09] MyronFanQiu commented on #13436
closed this issue since they should be solved. Feel free to reopen it.

[2020-07-08 06:09] #13436 closed

[2020-07-08 06:09] MyronFanQiu commented on #13351
closed this issue since no response and cannot reproduce. Feel free to reopen it.

[2020-07-08 06:09] #13351 closed

[2020-07-08 06:16] jiasli opened #14267 "{Find} az find should support non-quoted input"
It will be user-friendly to support non-quoted input in `az find`.

For example, this format works:

[code]

But `az find vm create` fails:

[code]

On the other hand, the Bash command `eval` and `echo` support such format:

[code]

[2020-07-08 06:17] jiasli commented on #14267
@mirdaki, could you help evaluate or implement this feature?

[2020-07-08 06:17] yungezz commented on #14265
@qwordy could you pls help to look at it

[2020-07-08 06:18] yungezz commented on #14264
routing to appropriate team

[2020-07-08 06:48] jiasli commented on #11749
Hi @maertendMSFT, this issue doesn't happen **consistently**, but **intermittently**. If there are any changes on the Cloud Shell side, could you put some more details?

[2020-07-08 07:33] pvrk commented on #14261
@asnogordo : Thanks for reaching out. So, if I understand this right, you verified the parameters using az backup item show and provided the same parameter to the disable command and it failed. Is my understanding right?

If yes, I can see that the item current state is already protection stopped and it is scheduled to be purged permanently on (July 6th + 14 days). So, in effect, the item is no lo

[2020-07-08 07:36] pvrk commented on #14177
@sebastianrogers : Sorry, but I still do not understand the final requirement. This is a command to enable backup for a 'yet-unprotected-item'. So, not able to understand what does idempotent mean. Can you please help me out here?

[2020-07-08 07:43] qwordy opened #14270 "Backup test"
**Describe the bug**

Hi, owner of backup, I upgrated Compute API version recently. Some tests are marked record only and can not pass when I rerun them. So I skip them. Please help rerun them.

https://github.com/Azure/azure-cli/pull/14212
{Compute} Bump version disks 2020-05-01, compute 2020-06-01

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-07-08 07:50] sebastianrogers commented on #14177
If the command was idempotent it would be an 'ensure that this item is protected regardless of its current state, i.e. protected or unprotected'

[code]

As I'm sure you can see this means that the pipeline that does the backup deployment can then be run multiple times without making changes.  Otherwise it has to detect the state and change its behaviour accordingly.

The ARM templates and Az CLI

[2020-07-08 08:05] pvrk commented on #14177
@sebastianrogers : From an ARM template/deployment perspective, we got a feedback that they customers want different behaviors for protected and unprotected behaviors and hence they don't usually combine both. Because when it is unprotected, there are inputs like vault and policy and when it is protected, there are other parameters like adhoc backup and retention time. So, it will help if you can

[2020-07-08 09:31] yonzhan commented on #12987
@leonardbf could you please help with this?

[2020-07-08 09:58] #12671 closed

[2020-07-08 09:58] #12757 closed

[2020-07-08 09:59] #12802 closed

[2020-07-08 09:59] #13309 closed

[2020-07-08 09:59] #13329 closed

[2020-07-08 10:01] #13778 closed

[2020-07-08 10:01] #14009 closed

[2020-07-08 10:05] yonzhan commented on #13355
add to S173

[2020-07-08 10:25] yonzhan commented on #13773
@fengzhou-msft  could you help with this.

[2020-07-08 10:40] yonzhan commented on #14270
Backup

[2020-07-08 10:44] lmeyerov commented on #11457
We're still seeing this, any reason it's closed?

[2020-07-08 10:47] lmeyerov commented on #11457
In particular, when we create a vm under some rg `abc`, the osDisk is labeled as rg `ABC`, and trying to move all entries of `show -g abc` fails with the mismatch error.

[2020-07-08 11:27] mateustanaka opened #14275 "Error 503 has been constant when performing ‘az login’"
**Describe the bug**
I’m using the Docker image **mcr.microsoft.com/azure-cli:latest** (2.8.0) as base of my image to perform `az login -u <username> -p <password>` inside a Hosted Agent on Azure DevOps to be able to push Images to ACR and get AKS credentials later, this process is executed a lot of times for each microservices we have because we are using Multipliers. Unfortunately I’m facing a l

[2020-07-08 11:40] BassamBallaji commented on #13956
Hello @bim-msft , thnks for answer, this is the reason behind the issue, I had to pass this particular format.

[2020-07-08 11:40] #13956 closed

[2020-07-08 11:43] fbellame opened #14276 "az aks create error when doing aks_workshop"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --vm-set-type {} --load-balanc

[2020-07-08 11:50] gabrielbcn commented on #6537
Same is happening to me, container is openjdk:8-jre-alpine3.9 and I get plenty of:

[code]

Thanks!

[2020-07-08 11:57] yungezz commented on #14276
hi @fbellame did you meet the error in Cloudshell? If yes, it's a known issue in Cloudshell #11749 . pls try `az login` to workaround.

[2020-07-08 11:58] yungezz commented on #14275
hi @arrownj could you pls have a look?

[2020-07-08 11:59] yungezz commented on #14270
routing to appropriate team

[2020-07-08 12:49] basnijholt commented on #13148
Anyone looking how to change the OS disk size *after* creation.

Create `patch-disk.json`
[code]
and run
[code]

[2020-07-08 13:22] Gismork opened #14277 "Where to find OData supported query operators in --filter parameter"
Hi,

In several Azure CLI commands, you can use a `--filter` parameter to use OData syntax to filter your query.
It's seems that all OData operators aren't supported.

You can do:
`az ad app list --filter "displayName eq 'myAppRegistrationDisplayNameHere'"`

Or:
`az ad app list --filter "startswith(displayName,'myAppRegistration')"`

But you can't use endswith;
`az ad app list --filter "endswith(d

[2020-07-08 13:35] JamieMagee commented on #13995
@yonzhan I'm also experiencing the same issue on azure-cli 2.8.0. Happy to provide further debugging information if required.

[2020-07-08 14:25] prakashb83 commented on #14129
Hi @bim-msft : thanks for your updates. I will create an issue here: https://github.com/Azure/azure-sdk-for-python/issues.
I tried with Azure CLI to use azure-keyvault==1.1.0 but facing the same issue.

[2020-07-08 14:35] asnogordo commented on #14261
@pvrk Thank you. I would like to setup a new backup item for this mock-production VM. For simplicity, let's just say I want to associate it with a different vault in the same RG. Do I have to wait for this cool down period to finish before being able to do that? Here's the output I see what I try to do that:

[code]

[2020-07-08 15:48] nsantin opened #14279 "Failing to enable autoprotect for workload-type MSSQL"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az backup protection auto-enable-for-azurewl`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- This is the command I'm running:
- az backup protection auto-enable-for-azurewl --po

[2020-07-08 15:54] steharp opened #14280 "Az Backup Policy Set - Processing with Az Cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az backup policy set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az backup policy set -g {} --subscription {} -v {} --policy {}`

$R

[2020-07-08 16:14] sebastianrogers commented on #14177
Its always the same in that I don't know or care what state the system is currently in, I want it to be in the described state when  the command has run.

In the case of an adhoc backup I would expect that to be an imperative command not a declarative one.  In the case of retention time I would expect that to be available when specifying how the fileshare should be protected, if I specify again an

[2020-07-08 16:27] fyvekatz opened #14281 "az webapp create fails when '-r "DOTNETCORE|3.1"' specified"
**Describe the bug**
`az webapp list-runtimes`

...
[code]
...

When I specify `"DOTNETCORE|3.1"` in the -r option of `az webapp` create, it fails with:

`Runtime 'dotnetcore|3.1' is not supported. Please invoke 'list-runtimes' to cross check`

This runtime can be specified when creating the webapp via the web UI

**To Reproduce**

`az webapp create -n <webappname> -g <resource_group_name> -l -p <

[2020-07-08 16:28] maertendMSFT commented on #11749
@jiasli , this appears to fundamentally be the same issue as a few of the other issues that I requested to close, all of which are solved with a `az login`.  We have put out a fix and that should have been included in the latest release (20200702) and be available for all customers now.

[2020-07-08 16:56] panchagnula commented on #14281
@fyvekatz thanks for reporting we will take a look. However, just a quick test, have you tried using all lowercase "donetcore|3.1" in the create command and check if that works - we might have a .lower() bug on our end. Thanks.

[2020-07-08 17:08] feiyushi commented on #13893
hi @yonzhan I don't think there's any action items for me and I'm the user reporting the bug. Maybe @arrownj have some idea how to improve it.

[2020-07-08 18:00] ssemyan opened #14282 "webapp:'NoneType' object has no attribute 'location' error when missing app service plan - need better error message"
**Describe the bug**
When creating a web app when the app service plan does not exist, you get the message:

`az webapp create: error: 'NoneType' object has no attribute 'location'`

However, when running with --debug you can see the error is the app service plan is missing:
`msrest.http_logger : {"error":{"code":"ResourceNotFound","message":"The Resource 'Microsoft.Web/serverFarms/myplan' under r

[2020-07-08 19:11] chintanrp opened #14283 "Please update --vm-set-type VirtualMachineScaleSet to plural form "VirtualMachineScaleSets" in document"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d75c3a8d-1187-bea1-a7d4-7ebba71c1790
* Version Independent ID: 75b0c352-762e-16ae-5cc6-d807ffc1dc3f
* Content: [az aks](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest)
* Content Source: [src/azure-cli/azure/cli/command_modules/ac

[2020-07-08 19:39] Random-Word opened #14285 "503 on get token request during az account get-access-token"
Re-running worked, so I definitely had access.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az account get-access-token --subscription {} -o {}`

[2020-07-08 20:02] dimanngo commented on #14259
I tried today -- there is no error. So, was it a problem with the service or something else I don't know.

[2020-07-08 20:02] #14259 closed

[2020-07-08 21:23] MikkelHegn commented on #12871
The help text for `az aks create` for the --enable-addons also seems to be wrong as we have no support for virtual-node in that command:

[code]

[2020-07-08 22:39] yonzhan commented on #14277
add to S173

[2020-07-08 22:55] nachakra commented on #13650
Origin path should meet the following requirement - should start with / and only contain letters, numbers and following characters: - . / _

[2020-07-08 23:06] yonzhan commented on #14279
backup

[2020-07-08 23:07] yonzhan commented on #14280
backup

[2020-07-08 23:10] yonzhan commented on #11749
@maertendMSFT  good news, please let us know when the latest change rolls out.

[2020-07-08 23:15] yonzhan commented on #14282
webapp

[2020-07-08 23:18] yonzhan commented on #14283
aks

[2020-07-08 23:19] yonzhan commented on #14285
add to S173

[2020-07-08 23:46] maertendMSFT commented on #11749
The updated image should be available everywhere already :)

[2020-07-09 00:14] andrijaperovic opened #14286 "az disk create --source : Changing property 'creationData' is not allowed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az disk create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az disk create -n {} -g {} --location {} --sku {} --source {}`

## Expect

[2020-07-09 01:27] andrijaperovic commented on #14286
Looks like this was fixed in azure-cli 2.8.0 version. Closing.

[2020-07-09 01:27] #14286 closed

[2020-07-09 01:37] yungezz commented on #14282
need check get resource result. @houk-ms

[2020-07-09 01:40] yungezz commented on #14280
hi @steharp  the error is due to the input policy string isn't a valid json string. Could you pls  fix the format and try again? thanks
[code]

[2020-07-09 01:41] yungezz opened #14287 "None type object errors due to not checking object exists"
**Describe the bug**

This is a typical and frequent error we met. use this issue to track reported cases.

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-07-09 01:42] yungezz commented on #14279
#14287

[2020-07-09 01:44] yungezz commented on #14282
#14287

[2020-07-09 01:44] yungezz commented on #14258
#14287

[2020-07-09 01:45] yungezz commented on #14177
#14287

[2020-07-09 01:45] yungezz commented on #14158
#14287

[2020-07-09 01:45] yungezz commented on #14055
#14287

[2020-07-09 01:46] yungezz commented on #13909
#14287

[2020-07-09 01:46] yungezz commented on #14052
#14287

[2020-07-09 01:46] fengzhou-msft commented on #9270
The installation of MSI needs elevated priviledge. Without the priviledge the installation step of the CI script would fail silently.

[2020-07-09 01:46] yungezz commented on #14054
#14287

[2020-07-09 01:55] #13947 closed

[2020-07-09 01:59] zhoxing-ms commented on #11457
@ifeoluwaokunoren Hi, could you please take a look and triage it. There are some customers need to solve relevant problems~

[2020-07-09 02:04] zhoxing-ms commented on #11457
@lmeyerov Hi, this problem does not belong to our team. I have communicated with relevant teams to solve this problem

[2020-07-09 02:20] yonzhan commented on #14287
None type object errors

[2020-07-09 02:33] arrownj opened #14290 "Refine experimental tag message"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Currently the `experimental` tag message is:

which calls out that customer support is limited and might turn people away from trying it.

PM gives some other suggestions, they are as follows:

or

**Describe alternatives you've considered**
No

**Additional context**
No

[2020-07-09 02:34] arrownj commented on #14290
Update `experimental` message in Knack.

[2020-07-09 02:37] jiasli commented on #14290
[Knack](https://github.com/microsoft/knack) is a general CLI framework. I am not sure if **limiting the error message to Azure CLI** is a good idea.

[2020-07-09 02:41] qwordy opened #14291 "sqlvm test"
**Describe the bug**

Hi, dear owner of sqlvm, I upgrated Compute API version recently. Some tests can not pass when I rerun them. So I added @unittest.skip. Please help rerun them. Thanks!

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-07-09 02:46] houk-ms commented on #14282
@ssemyan Thanks for reporting the issue. It's valid and I reproduced it, where we tries to get a service plan in the validation function while use it without properly checking the result. It will be fixed soon.

@yungezz  This is the typical error we want to fix in #14287.

[2020-07-09 02:50] qwordy commented on #13148
Are you asking how to change the OK disk size after creation? Can your command work?

[2020-07-09 03:17] qwordy opened #14292 "test_vm_images_list_thru_services replay error"
**Describe the bug**

test_vm_images_list_thru_services
This test case can pass live test, but replay test has problems. It sometimes passes while sometimes fails.

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-07-09 03:33] #14015 closed

[2020-07-09 04:28] yungezz commented on #14287
this issue acts as a tracking record.

[2020-07-09 04:37] yungezz commented on #14292
Compute test baseline issue

[2020-07-09 04:52] KaiWalter opened #14293 "command for listing private link group-ids is wrong"
In the parameter descriptions of --group-id and --group-ids state, that the command `az network private-link-resource list` can be used to obtain a list of group ids.

When running the command I get

[code]

When specifying a resource as requested I just get the specification for this particular resource.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.co

[2020-07-09 05:00] jiasli commented on #14285
This looks like service-side issue. Could you reproduce and capture `--debug` log?

[2020-07-09 05:39] #10020 closed

[2020-07-09 05:39] pvrk commented on #14177
Since the underlying REST API doesn't behave this way, we need to discuss internally on this and come back. Please give us some time. Current ETA: July 23rd.

[2020-07-09 05:39] #13527 closed

[2020-07-09 05:56] #11949 closed

[2020-07-09 05:57] jiasli commented on #11949
We have bumped the SDK and API version. The feature will be released in version 2.9.0 on 07/14/2020.

[2020-07-09 06:08] yonzhan commented on #14293
add to S173

[2020-07-09 06:12] MyronFanQiu commented on #14293
@KaiWalter  Which resource?

[2020-07-09 06:33] KaiWalter commented on #14293
@MyronFanQiu I was checking for blob / storage - but in general I would like to have a command or way to see the possible `groupdIds`

[2020-07-09 06:40] basnijholt commented on #13148
I just posted it because it took me a very long time to figure out how to do it. And yes command works 😄

[2020-07-09 07:07] MyronFanQiu commented on #14293
@KaiWalter I believe we have several tests to show group id for storage account. Based on my knowledge, it's just used for some SKU. @Juliehzl Could you help?

[2020-07-09 07:43] MyronFanQiu commented on #14293
@KaiWalter  If you run the following command ` az network private-link-resource list --id /subscriptions/xxxxxxxxxxxx/resourceGroups/MyRG/providers/Microsoft.Storage/storageAccounts/MySA`, you would find `groupId` field.

[2020-07-09 07:47] KaiWalter commented on #14293
@MyronFanQiu sure - but only for this particular resource. The section in the article says

hence I would expect to obtain a list of all available group ids.

So for me either remove this statement or make it unambiguous.

[2020-07-09 07:51] MyronFanQiu commented on #14293
@KaiWalter Good suggestion. I would make this help message clearer.

[2020-07-09 07:55] #14057 closed

[2020-07-09 07:57] markthebault commented on #14074
Hi Guys I managed to solve the issue, this is the permission that was missing:
<img width="896" alt="Screenshot 2020-07-09 at 09 55 34" src="https://user-images.githubusercontent.com/3846664/87013107-7349ea80-c1ca-11ea-8f73-584654ef6d70.png">

You do only need the following permissions to do the use-case presented:
Azure active directory graphs:
- Application.readWrite.OwnedBy -- Application
- Dir

[2020-07-09 08:00] qwordy commented on #13633
Any update?

[2020-07-09 08:01] qwordy commented on #13862
Any update?

[2020-07-09 08:12] jiasli commented on #14074
Hi @markthebault, `Directory.Read.All -- Application` is not a trivial permission, and may grant the application the permission to read sensitive data in the directory. I would still recommend contacting AAD support team to report this issue or asking for clarification.

[2020-07-09 08:22] sebastianrogers commented on #14177
Certainly, thank you

[2020-07-09 09:11] nishanperera commented on #14074
Hi, @markthebault I am in the process of adding the permission. Found this article
https://docs.microsoft.com/en-us/graph/api/application-post-owners?view=graph-rest-1.0&tabs=http seems like it is necessary @jiasli

[2020-07-09 09:52] cdelacruzpinto commented on #13247
I still get this error for northeurope.

[2020-07-09 09:55] KaiWalter commented on #14293
@MyronFanQiu maybe it is an option to point to the list of Subresources (which are the groupIds in question) : https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-overview#private-link-resource

[2020-07-09 10:02] MyronFanQiu commented on #14293
@KaiWalter I think it's indeed the list of subresources, which has enough information we need. This doc is just a short summary.

[2020-07-09 12:10] Juliehzl commented on #13333
Hi @rangernet, because there is no response for several days, I will close the PR now and if you still have the problem, feel free to reopen it.

[2020-07-09 12:11] #13333 closed

[2020-07-09 12:11] Juliehzl commented on #13308
Hi , because there is no response for several days, I will close the PR now and if you still have the problem, feel free to reopen it.

[2020-07-09 12:11] #13308 closed

[2020-07-09 12:13] Juliehzl commented on #13383
Hi, because there is no response for several days, I will close the PR now and if you still have the problem, feel free to reopen it.

[2020-07-09 12:13] #13383 closed

[2020-07-09 12:14] qwordy opened #14297 "servicefabric test"
**Describe the bug**

Hi, dear owner of servicefabric, Compute API version is upgraded recently. A test case `test_cluster` can not pass when I rerun them. So I added @unittest.skip. Please help look at test issue.  Thanks!

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-07-09 12:33] Kylemiller995 opened #14298 "More information on --cmd parameter"
It would be useful to have more information regarding the --cmd parameter. From: https://docs.microsoft.com/en-us/azure/container-registry/container-registry-quickstart-task-cli
"The cmd parameter in this example runs the container in its default configuration, but cmd supports additional docker run parameters or even other docker commands."
---
#### Document Details

⚠ *Do not edit this section.

[2020-07-09 12:41] IRLeif commented on #7646
I'm using `azure-cli` in an internal Python package. As such, I need to include `azure-cli` as a dependency in the internal package, so that `azure-cli` gets installed automatically whenever a developer in my organization installs the internal package.

I would have to agree with @wvxvw that, if the package cannot be installed via pip without jumping through hoops, then it should not be available

[2020-07-09 12:57] IRLeif commented on #14240
I just want to add that being able to install `azure-cli` as a dependency via `pip` in the usual Pythonic way is required when `azure-cli` is used within another Python package.

We have an internal Python package which uses `azure-cli`, which is currently broken (specifically, due to a dependency conflict related to `azure-storage-blob`).

My `requirements.txt` looks like this:

[code]

Which res

[2020-07-09 13:10] spatialman opened #14299 "azure cli commands automatically appends git-bash path in the parameter that contains forward slash"
**Describe the bug**
While executing a azure cli command (in bash shell) that expects parameter called --scope with fully qualified name. When i pass the parameter value which starts with forward slash e.g. '/subscriptions/70c-xyz-35ac-/resourceGroups/rg-test-001/...' during execution time the actual value is replaced with 'C:/program files/Git/subscriptions/70c-xyz-35ac-/resourceGroups/rg-test-00

[2020-07-09 13:40] yungezz commented on #14298
routing to appropriate team

[2020-07-09 13:41] yungezz commented on #14297
routing to appropriate team

[2020-07-09 13:42] jeroenhabets commented on #14240
@IRLeif thanks for bringing another use-case.
Regarding your issue, that bit me as well and actually motivated me to log this feature request. I had already logged the azure-storage-blob conflict issue, see : #13876

[2020-07-09 13:43] jeroenhabets commented on #13876
Also reported by @IRLeif, see https://github.com/Azure/azure-cli/issues/14240#issuecomment-656111287

[2020-07-09 13:46] yungezz opened #14301 "Revert CI job to use released azdev instead of master branch of azure-cli-dev-tool"
**Describe the bug**

Using released package is a common practice. For CI jobs, stabilization of the job is important. This issue is to change CI job to use released azdev, revert change https://github.com/Azure/azure-cli/pull/14156/files#diff-a878a38b96673b29ca3248b6ec653537R17

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-07-09 13:47] yungezz commented on #14301
HI @haroldrandom could you pls take care of this? cc @yonzhan

[2020-07-09 13:53] steharp commented on #14280
Hi thanks for your comment:  Im aware its a syntax error, however I cannot gather the correct syntax, find any use-full documentation, even when following this will templates, they lack the required information to build a successful policy.

It is most frustrating that guidance from Microsoft is non-existent in this area, anyone who has successfully scripted with Az Cli or via ARMTemplate who coul

[2020-07-09 14:02] yungezz commented on #14280
@steharp thanks for sharing the detail. it's valid painpoint. we're routing the issue to appropriate team to investigate.

[2020-07-09 14:20] jongio opened #14302 "Role assigned to scope not returned unless scope is specified"
**Describe the bug**

When I assign a role to an SP at a given scope that role is not returned with the `az role assignment list` command.

Both
[code]

Do not return roles that are assigned.
![image](https://user-images.githubusercontent.com/2163001/87050374-07a85300-c1b3-11ea-9502-43d29bfa01fc.png)

The portal does not show roles
![image](https://user-images.githubusercontent.com/2163001/8705033

[2020-07-09 14:29] FilBot3 opened #14303 "Update description of what this actually does."
I have no idea what this does and it's not very well explained in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbda4d31-92b4-a30e-551b-fd950303e36d
* Version Independent ID: e82ef68d-b83f-dd03-eed7-64a946655a5e
* Content: [az repos policy case-enforcement](https://docs.microsoft.com/en-us/cli/azure

[2020-07-09 15:17] yonzhan commented on #14302
add to S173

[2020-07-09 15:24] yonzhan commented on #7646
@fengzhou-msft to take a look

[2020-07-09 15:26] yonzhan commented on #14299
add to S173

[2020-07-09 15:35] yonzhan commented on #14301
@haroldrandom please use released azdev right now.

[2020-07-09 15:42] yonzhan commented on #14303
add to S173

[2020-07-09 15:44] #14094 closed

[2020-07-09 16:17] mirdaki commented on #14267
Great idea! I will look into it.

[2020-07-09 16:18] ajlam commented on #14291
@qqwordy - is this issue mean to be opened against the SQL Server Virtual Machines team? I'm not sure if this is applicable to Azure Database for MySQL?

[2020-07-09 16:23] audunn commented on #12987
Quick test using Azure CLI docker images shows this working the same in latest and 2.2.0.

However note that list-mount-targets is due for deprecation/removal in upcoming version of the CLI, as mount target information can be retrieved using volume show.

az netappfiles volume show -g TestRG -a test-account -p test-pool -v tests-vol-1

`
.
.
  "mountTargets": [
    {
      "endIp": "",
      "file

[2020-07-09 16:36] fengzhou-msft commented on #7646
Conflicts can be expected when you pip install multiple Python packages that share common dependnecies because pip only supports installing one verison of a dependency and does not have a [dependency resolver](https://github.com/pypa/pip/issues/988). It has the "first found wins" behavior for dependency requirements/constraints. If you change the order to `pip install azure-cli azure`, `azure-cli`

[2020-07-09 16:36] audunn commented on #13011
Quick test using Azure CLI docker images shows this working the same in latest (2.8.0), 2.3.1 and 2.2.0.

However note that list-mount-targets is due for deprecation/removal in upcoming version of the CLI, as mount target information can be retrieved using volume show.

az netappfiles volume show -g TestRG -a test-account -p test-pool -v tests-vol-1

. . "mountTargets": [ { "endIp": "", "fileSyste

[2020-07-09 16:38] #14301 closed

[2020-07-09 16:41] fengzhou-msft commented on #7646
In this case, you can try to put azure-cli in a different location with `--target`/`--prefix` options of pip and include the az script in the path.

[2020-07-09 16:46] MSEvanhi commented on #13355
We're investigating why this would be happening. Will provide an update within 72 hours.

[2020-07-09 17:37] metwally opened #14305 "missing documentations for the results object"
I am using "az aks create" command
I need to parse the results object to extract some info.
before doing that, I need to know how the results object looks like!
or I have to run the command and see what I will get, which not a proper method
since this method will create the resource .. and every time I need to back to the object reference I will run the command and create a new resource again and

[2020-07-09 17:54] panchagnula opened #14306 "az webapp up: When deploying Python apps avoid deploying .env folder even if the .env folder is not in the root level"
Repro:

Create a new webapp following the flask quickstart, but create a .env file before deploying.

After deploying, browse to the app (e.g. using VS Code), see .env file exists:

![cef27868-2459-4b00-883e-3d76993cfa86](https://user-images.githubusercontent.com/13839372/87074540-ddb35880-c1d3-11ea-81e7-aa8bdf4eeac7.png)

Expected behavior: .env file is not deployed as it is common for this file

[2020-07-09 17:56] panchagnula commented on #14306
@calvinsID lets talk about this in our next sync - so we can get this fixed for S173

[2020-07-09 18:09] HQJaTu commented on #7646
...

Ok. Make sure to mention all of this appropriately in documentation.

When Azure-CLI is installed from RPM-package, it does not work. All we users need is a working approach.

[2020-07-09 18:42] snpdev commented on #9204
I'm having the problem from Git Bash for Windows with:
[code]
I can run the command without the `--resource-ids` parameter. I've tried passing the resource-id without quotes, with single quotes, and with back slashes in place of the forward slash. Nothing seems to work.

The command runs fine in Azure shell.

[2020-07-09 18:48] huanwu commented on #14207
@sandeepmindwave , thanks for the report. To make it work, you need enable either the commit-trigger or base-image trigger when using the git-access-token. It works if adding "--commit-trigger-enabled false --base-image-trigger-enabled true" in the end of your command. But there's a bug in our side, it should give you the clear error message.

[2020-07-09 18:49] msjunzh opened #14307 "About "redis-configuration""
Hi Could you give an example how to set "--redis-configuration"?
And we want to setup "maxmemory-policy" when creating. Is that supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecb66426-9b0f-be54-5530-0673e6821f39
* Version Independent ID: 3d89a838-9a95-3cfe-ea58-7d7484e94956
* Content: [az redis](https://docs

[2020-07-09 19:08] drebake commented on #13483
Is there an alternative way to communication with a _-secondary endpoint of a RAGRS using an accesskey? Right now, it would be impossible to recover data from a storage account using a accesskey if there would be a outage in the main storage account location.... defeating the purpose of RAGRS.

[2020-07-09 19:55] Random-Word commented on #14285
If I run into it again I'll add the debug flag and reopen this. In the meantime it looks like it was a random service failure. Who manages the service the CLI hits, and where do I file issues with them?

[2020-07-09 19:55] #14285 closed

[2020-07-09 20:19] nickmcmahan opened #14308 "Adding list-usage command to disk-encryption-set command group"
**Is your feature request related to a problem? Please describe.**

I tried to use the CLI to get a quota for Disk Encryption Sets using `az disk-encryption-set list-usage -l eastus` in a manner similar to how you would check quota usage for VMs or for networks (for example, `az vm list-usage -l eastus`), but the list-usage isn't part of the command group for disk-encryption-set.

The issue faced

[2020-07-09 20:24] calvinsID commented on #12834
No it wont, there will need to be a new fix

[2020-07-09 22:16] rakku-ms opened #14309 "sql_management endpoint not set error while trying to create service principal against azurestack"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Connect to 'https://rr1masd.corp.microsoft.com/' vpn
- Run below cmds
[code]

## Expected Behavior
- Wor

[2020-07-09 22:34] danisaurio opened #14310 "VM creation"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm create -n {} -g {} --image {} --generate-ssh-keys`

## Expected Behav

[2020-07-09 23:12] jiasli commented on #14302
Possibly related to https://github.com/Azure/azure-cli/pull/13762. @qianwens, could you help take a look as well?

[2020-07-09 23:18] #14310 closed

[2020-07-09 23:18] danisaurio commented on #14310
Needed full restart of CLI

[2020-07-10 00:08] #13721 closed

[2020-07-10 00:27] MyronFanQiu commented on #14299
@spatialman Hey. I think it's not an issue for Azure CLI. It should be an issue for git bash. @jiasli @zhoxing-ms

[2020-07-10 01:16] lerlacher-haylix commented on #14152
Hi @yonzhan why is this tagged as a feature request? This is a bug.

[2020-07-10 01:47] haroldrandom opened #14311 "Network Application Gateway priavet link support specifying subnet ID while adding and wait command"
**Is your feature request related to a problem? Please describe.**
As follow up of #14185 , private link should follow the Azure CLI command guide line to support wait command and --no-wait feature.
Also, as https://github.com/Azure/azure-cli/pull/14185#discussion_r451967842 mentioned, it would be better to support subnet ID while adding a new subnet.

**Describe the solution you'd like**

**Descr

[2020-07-10 01:55] #13819 closed

[2020-07-10 02:25] Juliehzl commented on #13498
Hi, because there is no response for several days, I will close the PR now and if you still have the problem, feel free to reopen it.

[2020-07-10 02:25] #13498 closed

[2020-07-10 02:42] qwordy commented on #14291
Oh, sorry. It should be SQL Server Virtual Machines team.

[2020-07-10 02:46] Juliehzl commented on #13478
Thanks for your feedback. It is by design from server side. `--requires-sync` only support blob blob and we will refine the help message. :)

[2020-07-10 02:49] qwordy commented on #13148
Thank you for sharing. You can also try `az vmss update --set property=value`.

[2020-07-10 02:54] #14281 closed

[2020-07-10 02:56] qwordy commented on #14265
OK. I will take over this issue.

[2020-07-10 03:14] qwordy commented on #14291
@yareyes

[2020-07-10 03:24] #13559 closed

[2020-07-10 04:55] yungezz commented on #14308
hi @qwordy could you pls help to check if service side supports list usage functionality? If yes let's support it in CLI. thanks.

[2020-07-10 04:56] yungezz commented on #14307
routing to appropriate team

[2020-07-10 04:57] yungezz commented on #14305
routing to appropriate team

[2020-07-10 04:58] yungezz commented on #14309
hi @fengzhou-msft could  you pls help to look at is the endpoint missing in cloud endpoints? thanks

[2020-07-10 05:18] houk-ms commented on #14058
No response for long time, closed.

[2020-07-10 05:18] #14058 closed

[2020-07-10 05:21] houk-ms commented on #13892
Close the issue now.

[2020-07-10 05:21] #13892 closed

[2020-07-10 05:22] houk-ms commented on #13583
PR merged, close the request now.

[2020-07-10 05:22] #13583 closed

[2020-07-10 05:22] houk-ms commented on #13582
PR merged, close the request now.

[2020-07-10 05:22] #13582 closed

[2020-07-10 05:26] houk-ms commented on #14121
As we sync on email thread, debug info needs to be recorded before we can take further investigations. This issue can be repoened after we have the error details.

[2020-07-10 05:26] #14121 closed

[2020-07-10 06:47] blummichellec opened #14315 "App Services: Block adding wildcard CORS domain"
**Describe the bug**

For an Azure Web App, customers are able to add CORS settings from Portal or CLI.
From the Portal, adding a setting for a wildcard domain (https://*.curofic.com) is blocked and shows a syntax error because this is a limitation within Azure Functions and Web Apps due to standard CORS behavior.

HOWEVER, this URL is able to be added via CLI without error.
Once this is done, an

[2020-07-10 08:22] Juliehzl commented on #14035
Hi, because there is no response for several days, I will close the PR now and if you still have the problem, feel free to reopen it.

[2020-07-10 08:22] #14035 closed

[2020-07-10 08:27] Juliehzl commented on #3447
@xiafu-msft Does it support in track2 SDK?
@zezha-msft  May I know if it is support in Azcopy already?

[2020-07-10 08:34] zezha-msft commented on #3447
@Juliehzl  yes for AzCopy.

[2020-07-10 09:09] Newlearns opened #14318 "Azure VM Extension Set error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm extension set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm extension set --resource-group {} --vm-name {} --name {} --pub

[2020-07-10 09:13] rmachielse commented on #13694
Is there any update on this? We're running into the same issue.

[2020-07-10 09:44] katerd commented on #13655
We're seeing exactly the same read timeout error too. One of our pipelines deploys 5 function apps in sequence, and it's a dice roll if it succeeds. We're considering retry loops for each of the az commands as a workaround.

[2020-07-10 09:48] ttjackott commented on #13655
We do exactly that - we retry up to 3 times sometimes to work around this. Here is our workaround powershell which we do via an AzureCLI task in our yaml multi stage pipelines:

[code]

[2020-07-10 09:49] nordquist commented on #13909
It has nothing to do with the version of the CLI as implicated by the fact that there is no way that works. This is the latest message from VS when trying to deploy an Azure Function (..and yes, I have tried setting WEBSITE_RUN_FROM_PACKAGE to 0 (and why this is not default when it never works?)).

![image](https://user-images.githubusercontent.com/1436622/87141238-1706c980-c2a3-11ea-86ee-52bb3348

[2020-07-10 11:10] yonzhan commented on #14152
@lerlacher-haylix Correct the label and we will take a look.

[2020-07-10 11:13] yonzhan commented on #14311
add to S173

[2020-07-10 11:24] yonzhan commented on #14315
webapp

[2020-07-10 12:54] kaletkamk opened #14319 "Webapp:`az webapp list` argument of type 'NoneType' is not iterable for only one subscription"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When running against one of our subscriptions below error appears, it was working fine for the last two weeks.
Error was confirmed on multiple workstations.
Subscription contains around 180 webapps.

az account set -s {subscription}
az webapp list

az webapp list --subscription {subscription}

**Command Name**

[2020-07-10 13:32] cathymarkle opened #14320 "Deploying Application Insights Template fails on WorkspaceResourceId when trying to update properties"
**Describe the bug**
I am trying to update the Application Insights template using the Azure portal to include the DisableIpMasking property.  I am following the instructions for updating in the portal that I found here:  https://docs.microsoft.com/en-us/azure/azure-monitor/app/ip-collection.  One of the parameters being requested is the WorkspaceResourceId.  I do not have OMS set up for this Azur

[2020-07-10 13:34] yonzhan commented on #14319
webapp

[2020-07-10 13:36] yonzhan commented on #14320
This issue is not for Azure CLI, please open issue to Azure Portal.

[2020-07-10 13:36] #14320 closed

[2020-07-10 13:50] aggerritsen commented on #11576
This issue is persist. I found some help at https://coombes.nz/blog/azure-keyvault-export-certificate/
Please read the comments of Alex Angas on that article. The combined workaround that worked for me was:

[code]

But I would highly appriciate when this issue gets solved in Azure KeyVault itself,

Kind regards, Arjen Gerritsen

[2020-07-10 16:16] yashwant opened #14321 "Command "az bot directline show" throws error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az bot directline show`

**Errors:**
[code]

## To Reproduce:

Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

-  create new WebApp bot via Azure portal
- `az login`
- `az bot directline show --name {} --resource-group

[2020-07-10 16:33] panchagnula commented on #14208
Closing since this is now merged & will release with the upcoming release

[2020-07-10 16:33] #14208 closed

[2020-07-10 16:55] Kalyan-Alamuru opened #14322 "Unable to Create Client Secret using az ad sp in Azure CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac --name {} --role {} --scopes {} --quer

[2020-07-10 16:58] panchagnula commented on #13909
@nordquist given this is CLI I am going to focus on getting this working with CLI -> and if using az webapp up, my recommendation would be to use a more recent version, and run the up command from the context of the DIR where you code to be deployed is. and try creating & deploying a new webapp using webapp up. If this is a function app then this command is not supported for it.

If your question

[2020-07-10 17:24] jamesbak opened #14323 "Azure Storage Query Acceleration"
**Resource Provider**
Microsoft.Storage

**Description of Feature or Work Requested**
Add data plane support for Query Acceleration feature (https://docs.microsoft.com/azure/storage/blobs/data-lake-storage-query-acceleration) into CLI.

**Minimum API Version Required**

**Swagger Link**

**Target Date**
8/1/2020

[2020-07-10 17:47] lsmith130 commented on #12273
Fixed in #12648

[2020-07-10 17:47] #12273 closed

[2020-07-10 17:49] lsmith130 commented on #13679
These were autogenerated parameters, and have been replaced with simpler, documented parameters in #12648.

[2020-07-10 17:49] #13679 closed

[2020-07-10 17:49] lsmith130 commented on #10529
Fixed in #12648.

[2020-07-10 17:49] #10529 closed

[2020-07-10 17:50] lsmith130 commented on #9894
Fixed in #12648.

[2020-07-10 17:50] #9894 closed

[2020-07-11 00:33] yonzhan commented on #14321
bot

[2020-07-11 00:34] yonzhan commented on #14322
add to S173

[2020-07-11 00:36] yonzhan commented on #14323
add to S173

[2020-07-11 02:54] ilanRosenbaum commented on #11980
same issue here

[2020-07-11 03:42] seanmck commented on #13910
Closing pending repro.

[2020-07-11 03:42] #13910 closed

[2020-07-11 05:04] #8768 closed

[2020-07-11 05:07] yonzhan commented on #10302
@zezha-msft was this issue resolved?

[2020-07-11 10:11] profedsonbelem opened #14325 "projetoAzul"
[Projeto Azul]

---
#### Detalhes do documento

⚠ *Não edite esta seção. É necessário para a vinculação do problema do docs.microsoft.com ➟ GitHub.*

* ID: a9dc8c24-cda6-8672-8017-b66435eadbb7
* Version Independent ID: a0be523a-ff1f-18ed-0fc4-ba0e0befe4d1
* Content: [az appservice](https://docs.microsoft.com/pt-br/cli/azure/appservice?view=azure-cli-latest#az-appservice-list-locations)
* Content S

[2020-07-11 10:14] profedsonbelem commented on #13035
Read and Write, thank you

[2020-07-11 10:14] profedsonbelem opened #14326 "ProjetoSeviceAzulNodejs"
Read and Write, thank you

_Originally posted by @profedsonbelem in https://github.com/Azure/azure-cli/issues/13035#issuecomment-657033951_

[2020-07-11 10:17] profedsonbelem opened #14327 "Thanks"
Read and Write, thank you

_Originally posted by @profedsonbelem in https://github.com/Azure/azure-cli/issues/13035#issuecomment-657033951_

[2020-07-11 10:17] profedsonbelem commented on #14327
crud

[2020-07-11 10:18] profedsonbelem commented on #14327
thaks

[2020-07-11 10:18] #14327 closed

[2020-07-11 10:22] #13307 closed

[2020-07-11 10:23] luciferankon commented on #14264
I'm also getting the same error. It works when I deploy it from vscode. But the command `az webapp up` does not seem to work

[2020-07-11 10:47] #13500 closed

[2020-07-11 10:50] #13602 closed

[2020-07-11 10:56] #10857 closed

[2020-07-11 10:57] #10729 closed

[2020-07-11 13:20] fengzhou-msft commented on #7646
Can you submit an issue for the RPM-package with more details about your environment?

[2020-07-11 14:28] #10537 closed

[2020-07-11 14:59] yonzhan commented on #14325
appservice

[2020-07-11 15:00] yonzhan commented on #14326
web Apps

[2020-07-11 20:31] itsho commented on #11006
Hi.

I'm getting the very same error. tried multiple times, and I do have internet access.
any idea how to go on from here?

thank you.

![UnableToInstallExtensions](https://user-images.githubusercontent.com/1774797/87233288-ad83d980-c3ce-11ea-8a1c-19849e34dd83.png)

[2020-07-12 00:27] RSchoedel commented on #13887
Yes, in Cloudshell.  I agree it's similar to #11749.

On Sat, Jul 4, 2020 at 7:42 AM yonzhan <notifications@github.com> wrote: