[2021-03-10 02:09] #17245 closed

[2021-03-10 02:22] Juliehzl commented on #17133
Hi @manoj-devops, `--enabled-protocols` is supported in `az storage share-rm create` not `az storage share create`.

For more usage info, you could add `-h` in your command to see allowed parameters and examples.

[2021-03-10 02:22] #17133 closed

[2021-03-10 02:29] Juliehzl commented on #15200
@evelyn-ys could you help support the issue?

[2021-03-10 03:33] brianlehr commented on #15015
Both these commands need to also have the exact same zone behavior as **az network public-ip create**

**az network public-ip prefix create**
**az network lb frontend-ip create** (for a Standard load balancer only)

In other words, when you create these resources, you need to explicitly specify --zone 1 2 3 to create a zone-redundant resource.  If no --zone parameter is provided, then the resource

[2021-03-10 03:45] santhoshraj2960 commented on #12308
any update yet?

[2021-03-10 03:45] Kotasudhakarreddy commented on #17207
Able to repro this issue. working on fix.

[2021-03-10 03:45] #16712 closed

[2021-03-10 03:45] #16962 closed

[2021-03-10 03:45] #16392 closed

[2021-03-10 03:46] qwordy commented on #16392
It has been fixed in next release on 3/23.

[2021-03-10 03:46] qwordy commented on #16712
It has been fixed in next release on 3/23.

[2021-03-10 03:46] qwordy commented on #16962
It has been fixed in next release on 3/23.

[2021-03-10 05:18] yungezz commented on #17256
route to appropriate team

[2021-03-10 05:23] TakafumiSakai commented on #15305
Can you please increase the priority for the customer's request?

[2021-03-10 06:15] msyyc commented on #17158
@neethirshetty Which cli-cmd do you want to add? Which swagger file is related with the issue? Please give more detailed description.

[2021-03-10 06:57] neethirshetty commented on #17158
there is no swagger for this as we were allowing only 1 entry for -vpnAuthenticationType property in New-AzVpnServerConfiguration and Update-AzVpnServerConfiguration. With multi auth we would like to allow multiple vales to be passed. eg: -vpnAuthenticationType AAD,Certificate,Radius(allowed now). (Before this change only 1 value was allowed to be set. -vpnAuthenticationType )

[2021-03-10 07:02] jiasli commented on #16591
We are currently running out of bandwidth maintaining `az ad` which uses the deprecated AD Graph. Could you follow https://github.com/Azure/azure-cli/issues/12946 and try calling MS Graph directly with `az rest`?

Thanks for understanding.

[2021-03-10 07:05] Kotasudhakarreddy commented on #16757
@yasenstar - closing this issue as no response from you. Please try with latest `azure-cli  version - 2.20.0`. If you still face the issue please reopen with `--debug` details

[2021-03-10 07:05] #16757 closed

[2021-03-10 07:10] neethirshetty opened #17260 "CLI for VNG : p2s multiple authentication"
**Is your feature request related to a problem? Please describe.**
P2S multiple authentication feature has been released. Hence we will need to add CLI support to it.
previously we were allowed to set only single authentication for P2S VNG. Support for multiple authentication has to be added.

**Describe the solution you'd like**

Brief about multi auth: . A point-to-site (P2S) VPN lets you create

[2021-03-10 07:13] jiasli opened #17261 "Instruct user to upgrade to the latest version if a command (group) is not found"
**Is your feature request related to a problem? Please describe.**

Users are complaining `az config` can't be found: https://github.com/MicrosoftDocs/azure-docs-cli/issues/2469, https://github.com/MicrosoftDocs/azure-docs-cli/issues/2465

**Describe the solution you'd like**

Instead of showing error message

![](https://user-images.githubusercontent.com/37556655/110429580-01c78200-8060-11eb-8b9f

[2021-03-10 07:37] yonzhan commented on #17260
network

[2021-03-10 07:40] yonzhan commented on #17261
error handling

[2021-03-10 09:33] jonasmiederer commented on #8902
Any updates on this?

[2021-03-10 09:44] cxbuilders opened #17265 "az bot authsetting create throws AuthorizationFailed Error"
When running the following command in the azure CLI:

az bot authsetting create `
            --resource-group $resourceGroupName `
            --name $botRegistration.name `
            --service Aadv2 `
            --setting-name $_.name `
            --client-id $_.clientId `
            --client-secret $_.clientSecret `
            --provider-scope-string $_.scopes `
            --parameters c

[2021-03-10 09:45] t-bzhan commented on #17234
@wasker , you could just omit the "--user-cert-secret-version" parameter. The "Latest" version will be used by default and CDN will pick up the renewed certificate once your certificate is auto rotated.

The command goes like:
`az cdn custom-domain enable-https -g huaiyiz --profile-name huaiyiz-msft --endpoint-name huaiyiz-rpv2-test1 -n byomsft-localdev-cdn-azure-cn --user-cert-group-name bzhanafd

[2021-03-10 09:57] zhoxing-ms commented on #17253
...

...

Could you please email me the specific commands and parameters used in these steps?
My email address is Zhou.Xing@microsoft.com Thanks~

[2021-03-10 10:00] melkamar commented on #8099
Yeah, this is still an issue. Merging the PEM cert and key files into a single file does not work:

[code]

[code]

But converting them to pfx first does:

[code]

[2021-03-10 10:01] #16463 closed

[2021-03-10 10:19] yonzhan commented on #17265
bot

[2021-03-10 14:51] Evilk1llah opened #17267 "az repos requiredArgumentMissing error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az repos`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az repos`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2021-03-10 16:47] wasker commented on #17234
Ah, it's the good old "I'm using the old version of az CLI" bug. I was on 2.14, but it seems that the auto-rotation support was added in at least 2.16. The problem is not reproducing with the latest version (2.20) - I'm able to remove the version arg and CDN endpoint reports that it uses "Latest" version.

Thanks for looking into this!

[2021-03-10 16:47] #17234 closed

[2021-03-10 17:11] ivan-sam opened #17268 "Exception in an attempt to remove and add action group for a metric alert rule"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor metrics alert update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az monitor metrics alert update --ids {} --remove-action

[2021-03-10 17:18] #16087 closed

[2021-03-10 17:29] wasker opened #17269 "az network front-door backend-pool backend add doesn't allow to specify empty value for backend host header value"
**Describe the bug**

Empty value of a backend host header parameter has a special meaning in AFD: if value is empty, the Host header will be populated with what came as part of the request. This is important when same backend pool is used by multiple frontends and needs to be able to know which domain had made the request.

It is possible to make the value blank in Azure Portal, but impossible to

[2021-03-10 17:36] sebansal commented on #14396
https://docs.microsoft.com/en-us/azure/key-vault/general/key-vault-recovery?tabs=azure-portal#prerequisites

Permission | Description
-- | --
Microsoft.KeyVault/locations/deletedVaults/read | View the properties of a soft deleted key vault
Microsoft.KeyVault/locations/deletedVaults/purge/action | Purge a soft deleted key vault

[2021-03-10 17:48] wasker opened #17270 "az network front-door backend-pool backend family of commands should provide an easy way to enable/disable backends"
**Is your feature request related to a problem? Please describe.**

It's impossible to enable or disable an existing backend in the backend pool of the AFD resource. The only way to do that from the command line is to get an existing backend, create a new backend with the same parameters but desired value for the "disable" arg of the CLI, then delete the original backend.

This approach is bad for

[2021-03-10 18:39] MehaKaushik commented on #17016
@andresmmujica please reopen this issue if you still face any issues. Closing it due to inactivity.

[2021-03-10 18:39] #17016 closed

[2021-03-10 20:14] geertn opened #17272 ""az network application-gateway private-link add" assumes AppGw same RG as Vnet"
**Describe the bug**

My Application Gateway lives in a resource group separate from the vnet resource group. When attempting to add a Private Link to the AppGw I get the error:

[code]

When moving the Application Gateway to the same RG as the Vnet it works.

AFAICS the logic happens in this function:
https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/network/cust

[2021-03-10 20:35] fboylu opened #17273 "az login fails from Linux"
az login produces the following errors on Ubuntu 18.04, which was working since yesterday.
![image](https://user-images.githubusercontent.com/11618557/110707262-0d818880-81c7-11eb-8ceb-59b896ccfdda.png)
![image](https://user-images.githubusercontent.com/11618557/110694087-30577100-81b6-11eb-9f72-0f804dd16d5e.png)
![image](https://user-images.githubusercontent.com/11618557/110694129-406f5080-81b6-1

[2021-03-10 21:57] 08nholloway commented on #10209
@colemickens we have a few end to end examples that are similar to what you described:

https://github.com/Azure-Samples/azure-cli-samples/blob/master/virtual-machine/copy-managed-disks-vhd-to-storage-account/copy-managed-disks-vhd-to-storage-account.sh

https://github.com/Azure-Samples/azure-cli-samples/blob/master/virtual-machine/copy-snapshots-to-storage-account/copy-snapshots-to-storage-accoun

[2021-03-10 23:01] yonzhan commented on #17268
monitor

[2021-03-10 23:02] yonzhan commented on #17269
network

[2021-03-10 23:04] yonzhan commented on #17270
network

[2021-03-10 23:06] yonzhan commented on #17272
network

[2021-03-10 23:23] llwang8 opened #17276 "https://docs.microsoft.com/en-us/learn/modules/manage-iot-central-apps-with-rest-api/5-exercise-manage-devices"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --identity`

## Expected Behavior

## Environment Summary
[code]
## Additiona

[2021-03-11 00:17] yonzhan commented on #17276
account

[2021-03-11 02:12] #16511 closed

[2021-03-11 02:13] jiasli commented on #15305
https://github.com/Azure/azure-cli/pull/16663 already fixed this issue:

https://github.com/Azure/azure-cli/blob/c9d47420c4c644099d18c4879bf203be23fd579b/src/azure-cli/requirements.py3.windows.txt#L131

Please upgrade to the latest version of Azure CLI: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli

[2021-03-11 02:13] #15305 closed

[2021-03-11 02:21] #16571 closed

[2021-03-11 02:27] jiasli commented on #17273
As the error indicated

![image](https://user-images.githubusercontent.com/11618557/110694129-406f5080-81b6-11eb-8f31-465f526210ce.png)

your login is blocked by [Conditional Access: Require compliant devices](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-policy-compliant-device) because Ubuntu is not a supported device.

Several solutions:

-

[2021-03-11 02:38] yungezz commented on #17267
route to appropriate team

[2021-03-11 03:29] colemickens commented on #10209
We can close this, I don't need an example. It now works as one might expect. From my recollection, when I filed this the service wasn't working very... predictably.

Also, when I wrote this up and tested it, due to Azure's polling, this method of direct pushing to a managed disk blob was actually slower than pushing to storage and then creating a MD from the blob. Which of course means that I hav

[2021-03-11 03:29] #10209 closed

[2021-03-11 04:03] qwordy commented on #16585
It is caused by a recent upgrade of Azure Python SDK. A pull request has been opened to fix it.

[2021-03-11 05:25] ishepherd opened #17278 "'az storage container policy' commands don't support auth-mode login"
## Describe the bug

**Command Name**
`az storage container policy list`

**Errors:**
[code]

## To Reproduce:

- `az storage container policy list --account-name <Account> -c <BlobContainer> --auth-mode login`
- `az storage container policy create` also reproduces it.

## Expected Behavior

* A list of storage policies on the container or `{}` if none.
* (The command works if you use `--auth-mode

[2021-03-11 05:36] ishepherd commented on #17278
I presume this is a limitation of Azure Storage REST API but I couldn't find any documentation or bug report about it.

It would be nice if the Azure CLI can help out the next wanderer by printing a special warning if this scenario is attempted.

[2021-03-11 06:40] kairu-ms commented on #17268
Please reinstall Azure-CLI and make sure its requirements are updated as well.

[2021-03-11 08:01] lihantao3 commented on #16591
@ jiasli How can I create an app with specified password by using az rest？

[2021-03-11 09:55] yonzhan commented on #17278
storage

[2021-03-11 11:34] jiasli commented on #16591
According to [passwordCredential resource type](https://docs.microsoft.com/en-us/graph/api/resources/passwordcredential?view=graph-rest-1.0), MS Graph doesn't support creating an app with specified password. You will need to call [application: addPassword](https://docs.microsoft.com/en-us/graph/api/application-addpassword?view=graph-rest-1.0&tabs=http) to let MS Graph generate one for you.

[2021-03-11 11:49] mossywell opened #17284 "Front door: enable HTTPS using Latest secret"
**Is your feature request related to a problem? Please describe.**

Inability to enable front door HTTPS using a custom certificate without specifying the exact secret version. However, the GUI allows selection of "Latest". Moreover, if you don't select "Latest" the GUI generates a warning and recommends using Latest to avoid downtime during certificate rotation! This is the warning:
"The domain '

[2021-03-11 11:54] yonzhan commented on #17284
front-door

[2021-03-11 12:58] fathorMB commented on #16499
Same behavior on West Europe.
This is the output:

ERROR: 'NetworkProfile' object has no attribute 'result'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 233, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line 660, in execute
    raise ex
  File "/opt/az

[2021-03-11 13:26] jiasli commented on #13413
I re-thought about this issue today and it is actually a colorama bug with `head` command (linked above 👆).

Anyway, we no longer init colorama if `stdout` is not a TTY, so we are good.

[2021-03-11 14:40] markp4ward commented on #16499
We got the same error, any news from Microsoft?

[2021-03-11 14:57] ivan-sam commented on #17268
Thanks, @kairu-ms!
I've tried to uninstall/install the Azure CLI msi. The issue is still reproducible.
I'm not sure about updating requirements though. I haven't found any info about that. Could you provide the details, please?

[2021-03-11 17:41] rryanq opened #17285 "Error when attempting to deallocate multiple vm scaleset instances at once"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
An unexpected error occurs when attempting to deallocate multiple vm scaleset instances at once. When running the same command and only specifying a single instance to deallocate, the command runs as expected.

**Command Name**
`az vmss deallocate`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the be

[2021-03-11 20:20] Keithsc opened #17286 "network route-table is deprecated use network vhub route-table"
az cli = v2.19.1

I noticed today that the "az network route-table create" command outputs a prompt stating that it is going to be deprecated and replaced with "az network vhub route-table create".  I tried using the new command but it failed as it seems I need to create a vhub.

Are we being forced down the vhub route or is there another way to create a route table ?

[2021-03-11 21:08] bondib commented on #9346
I can verify this issue occurs when you try to run the command and your AZ is logged in to a different subscription than where your storage account is

[2021-03-11 21:12] #16987 closed

[2021-03-11 22:54] yonzhan commented on #16499
container instance service team should look into this issue.

[2021-03-11 22:58] yonzhan commented on #17286
network

[2021-03-11 23:11] Keithsc commented on #17286
I should have said it was the "az network route-table create" command that I was querying. I have edited my original post.

[2021-03-11 23:49] tarunngc opened #17287 "Support for enabling Azure Private Marketplace cli command"
**Is your feature request related to a problem? Please describe.**

Unable to enable and manage Private Marketplace in Azure using az CLI

**Describe the solution you'd like**

A subcommand in az cli that will enable private marketplace and allow for management of offers.

`az marketplace set --private true`

`az marketplace list-offers`

`az marketplace add-offer --offer-file offer.json`

**Descr

[2021-03-12 01:17] yungezz commented on #17287
hi @tarunngc could you pls share what's the Rest API or namespace of the service you're referrring to? We're working on support microsoft.marketetplaceordering. Is it same?

[2021-03-12 01:18] yungezz commented on #17285
hi @qwordy, can this be fixed with Neil's PR together?

[2021-03-12 02:44] qwordy commented on #17285
@rryanq @yungezz This issue will be fixed by https://github.com/Azure/azure-cli/pull/17274. Release date is 3/23/201.

[2021-03-12 02:49] #17207 closed

[2021-03-12 03:46] kairu-ms commented on #17268
Thanks for your feedback. There's an issue in CLI and I will fix it in next version. Currently it can be workaround by removing that existing action and then adding id again. For example

[code]

[2021-03-12 05:16] stuartatmicrosoft commented on #17273
I am encountering this issue as well, however I am using an iPhone with the latest 14.4.1 iOS.

[2021-03-12 05:34] #16585 closed

[2021-03-12 05:59] stuartatmicrosoft commented on #17273
I also get the message:

Sorry, but we’re having trouble signing you in.

AADSTS900561: The endpoint only accepts POST requests. Received a GET request.

[2021-03-12 07:22] ivan-sam commented on #17268
Thank you, @kairu-ms!
I did some more testing.
It looks like the issue that I experience is a bit different.

So, first remark - my scenario was about replacing one action with the other, so actionGroupIds are different.
And second - I've tried to execute just `--add-action` and got the same issue:

[code]
It failed with the same error: ERROR: `'MetricAlertAction' object has no attribute 'webhook_

[2021-03-12 08:47] kairu-ms commented on #17268
That's because `/subscriptions/<subs>/resourceGroups/<rg>/providers/microsoft.insights/actiongroups/<action-group>` already exists. I think the following command can work for your scenario.

[code]

[2021-03-12 08:50] kairu-ms commented on #17268
In order to workaround the bug, you should add the actionGroupId behand `--remove-action` first and then use it in `--add-action` again.

[2021-03-12 09:20] yonzhan commented on #9346
@evelyn-ys please take a look

[2021-03-12 09:41] Juliehzl commented on #9346
seems dupe of #17176. @bondib could you check and comment in #17176?

[2021-03-12 10:47] doozMen commented on #3351
@jiasli sorry for the late reply Problem was I tried to run azure with the latest python 3.9, that did not work. Eventually I installed it again and now the cli uses its own python from brew, which is 3.8 and that works now.

[2021-03-12 11:32] bondib commented on #9346
Yes - seems like it. The thing is people do not understand why it occurs and why the command just stops working.
For me as well - it took me time to understand why suddenly it stopped working and the error message is misleading - as you know (as a user) that the same thing worked for you earlier.

I think the error message should be more descriptive (not just a key error failure) and say that "Mak

[2021-03-12 11:35] bondib commented on #17176
As I noted in #9346 -
I can verify this issue occurs when you try to run the command and your AZ is logged in to a different subscription than where your storage account is.
The thing is users do not understand why it suddenly occurs and why the command just stops working (and the error message is misleading).

I think the error message should be more descriptive (not just a key error failure) and

[2021-03-12 11:37] taurit opened #17293 "`az network vnet list -g rg_name` returns different results when executed on different machines"
**Describe the bug**
The command `az network vnet list -g {rgName}` sometimes repeatedly returns incorrect value (empty array, `[]`).
The same command executed on another machine at the same time for the same resource (e.g. from Cloud Shell in Azure Portal) returns correct, non-empty result.

**To Reproduce**
This might be complex to reproduce in practice. I think that the correlation ids from log

[2021-03-12 13:56] ivan-sam commented on #17268
Yes, that works! Thank you! I got documentation incorrectly. Now I know that **properties** stands for webHookProperties.

[2021-03-12 15:02] yonzhan commented on #17293
network

[2021-03-12 15:41] gukoff opened #17295 "`az iot edge deployment create` leaks the server stacktrace"
## Describe the bug

**Command Name**
`az iot edge deployment create`

Extension Name: azure-iot.
Version: 0.10.9.

**Errors:**

See the stacktrace [here](https://microsoft-my.sharepoint.com/:w:/p/kgukov/EfsOsNQuV2JDhLmy_wgTkY0BxLxwptQ2BhgKhEfdFRvnfQ?e=Pine3B).

## To Reproduce:

Try to create a deployment with the name that already exists:
- `az iot edge deployment create --content {} --deploymen

[2021-03-12 15:54] qTipTip opened #17296 "'NoneType' object has no attribute 'identity'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp identity assign`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp identity assign -g {} -n {}`

## Expected

[2021-03-12 18:11] adiun commented on #17176
Yes, the storage account didn't exist in that subscription which caused this error. Sorry for the delay in follow-up.

I totally agree with @bondib - the error message needs to be fixed since it made me think there was some internal error, especially since it contains:

[code]

[2021-03-12 19:01] mxplusb commented on #14774
I think this issue today. Here is a dockerfile which can be used as a reference.

[code]

[2021-03-12 20:06] gdbc opened #17297 "I'm getting this error from cloudshell and the binary, might need some looking into!"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr check-health`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr check-health --name {}`

## Expected Behavior

## Environment

[2021-03-12 21:30] PyxieLouStar opened #17298 "az storage copy --recursive moves directory with files rather than just files"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage copy`

Using `--include-pattern` with `--recursive` moves not only files with the pattern, but also the directory those files are in.

## To Reproduce:

- `az storage copy -s https://[account].blob.core.windows.net/[container]/path/to/old_file_dir --include-pattern "*.my_file_patte

[2021-03-12 22:28] DaeunYim commented on #15855
Hi @wdesplas
We are very sorry for late reply.
Postgres server doesn't support geo redundancy for basic tier . Please use General Purpose or Burstable tier to enable geo redundancy.
We will work on improving guidance in CLI when features are not supported. We are very sorry for your inconvenience.

[2021-03-12 22:58] PawelWMS opened #17300 "Support setting parameters through the "az pipelines run" CLI command"
**Is your feature request related to a problem? Please describe.**

My main blocker right now, is that the `pipelines` extension for the Azure CLI doesn't have an argument for setting the pipeline's parameters. You can set variables with the `--variables` switch, but not parameters.

For example, I can run the following command:

    az pipelines run --id `[pipeline_id]` **--variables** "var1=valu

[2021-03-12 23:18] mksuni commented on #16939
Thanks for pointing this out. I shall get the documentation updated .

[2021-03-13 01:25] sebansal commented on #13475
This has been fixed and is no longer an issue.
#please-close

[2021-03-13 01:26] #13475 closed

[2021-03-13 01:53] RupengLiu commented on #16262
checking....

[2021-03-13 02:26] yonzhan commented on #17295
iot

[2021-03-13 02:26] yonzhan commented on #17296
functionapp

[2021-03-13 02:29] yonzhan commented on #17176
@evelyn-ys will fix the error message in this sprint.

[2021-03-13 02:30] yonzhan commented on #17298
storage

[2021-03-13 02:32] yonzhan commented on #17300
pipelines

[2021-03-13 12:47] streaak opened #17302 "WebApp:cannot import name 'BlockBlobService' from 'azure.storage.blob' while running anything related to az webapp"
## Describe the bug

**Command Name**
`az webapp create`
However, running even `az webapp --help` causes this issue.

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az webapp create -g {} -p {} -n {} --runtime {} --deployment-local-git`

## Environment Summary
[code]
## Additional Co

[2021-03-14 15:46] #16310 closed

[2021-03-14 15:51] #15253 closed

[2021-03-14 22:10] mohanperera opened #17303 "az aks install-cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli --install-location={}`

## Expected Behavior

## E

[2021-03-15 01:17] jochav commented on #16779
Hi @DonPetry-EY, thanks for reaching out! Could you please provide us with a sample query you are running better understand and investigate the reason for slowness?

[2021-03-15 01:55] yungezz commented on #17303
route to appropriate team

[2021-03-15 01:55] yungezz commented on #17302
route to appropriate team

[2021-03-15 01:55] yungezz commented on #17297
route to appropriate team

[2021-03-15 01:56] yungezz opened #17304 "[Keyvault] MHSM softdelete"
**Resource Provider**

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

https://github.com/Azure/azure-rest-api-specs/pull/13282

spec
https://microsoft.sharepoint.com/:w:/t/AzureKeyVault-SDKPSHCLICollaboration/ETixR_Vb365Al7UzP3UVKp0B8IoJweHfwxB5JcbFdTeL7g?e=DkeZrP&CID=A29F108D-CC5B-4C14-B562-5649A476D17F

**Target Date**

MHSM GA 5/10

[2021-03-15 01:57] yungezz commented on #17304
only need to cover 2 more endpoints:
a.	/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/locations/{location}/deletedManagedHSMs/{name}
b.	/subscriptions/{subscriptionId}/providers/Microsoft.KeyVault/locations/{location}/deletedManagedHSMs/{name}/purge

[2021-03-15 01:59] yungezz commented on #17296
#14287

[2021-03-15 02:05] jiasli commented on #16209
@shalin231, `~/.azure` is where Azure CLI's configuration and token cache is stored. Running `az login` again will also refresh the token cache and achieve the same effect of directly deleting it.

[2021-03-15 02:05] #16209 closed

[2021-03-15 03:23] msyyc commented on #17286
what is the detailed prompt, I don't find it :
![image](https://user-images.githubusercontent.com/70930885/111099588-ce658580-8580-11eb-8b4d-ac18550c41a4.png)

[2021-03-15 03:31] yugangw-msft commented on #17297
Fixed by https://github.com/Azure/azure-cli/pull/17177. Please wait for the new release

[2021-03-15 03:31] #17297 closed

[2021-03-15 03:42] msyyc commented on #17293
@service team. According to the debug info, the client send same request body with same rest api, but the response is different. Please pay attention to it.

[2021-03-15 03:45] msyyc commented on #17272
Thank you for your feedback, and we will check it soon.

[2021-03-15 03:47] msyyc commented on #17270
thank you for your feedback and we will think about it seriously.

[2021-03-15 05:15] #16159 closed

[2021-03-15 05:15] #16346 closed

[2021-03-15 05:30] msyyc commented on #16615
we will fix it at this sprint.

[2021-03-15 06:09] aim-for-better commented on #16815
Will handle it soon--HDInsight

[2021-03-15 06:38] yonzhan commented on #17205
Hi @Filip232, any update for debug info?

[2021-03-15 07:01] #16452 closed

[2021-03-15 07:40] MortenKartevoll commented on #17055
I would really like some feedback one this.

[2021-03-15 07:44] msyyc commented on #17269
Thank you for feedback and we may do it in the future. https://github.com/Azure/azure-cli-extensions/blob/94b491f5565f504cc046ed66924fbd381998213c/src/front-door/azext_front_door/custom.py#L395

[2021-03-15 08:38] chicago7 commented on #16591
@jiasli  thanks for your reply. I tried to use the MS Graph to call API. but we encounter the below error messages. FYI.

az rest --method post --url "https://microsoftgraph.chinacloudapi.cn/v1.0/applications/63488455-a508-4a02-abe2-f4786a4f602c/addPassword" --body @C:\body.json
Not Found({
  "error": {
    "code": "Request_ResourceNotFound",
    "message": "Resource '63488455-a508-4a02-abe2-f4786

[2021-03-15 08:49] jiasli commented on #16591
Is `63488455-a508-4a02-abe2-f4786a4f602c` in the URL object ID?

[code]

Please make sure to use object ID, instead of application ID.

Sure. I will certainly look into this issue when time permits.

[2021-03-15 09:00] AntonioNaranjo1 commented on #11315
+1

[2021-03-15 09:34] chicago7 commented on #16591
hi jiasli  thanks for your quick response. I try to use object id instead of application id. it works.

{
  "@odata.context": "https://microsoftgraph.chinacloudapi.cn/v1.0/$metadata#microsoft.graph.passwordCredential",
  "customKeyIdentifier": null,
  "displayName": "azresttest01",
  "endDateTime": "2023-03-15T09:21:54.1438256Z",
  "hint": "c_E",
  "keyId": "a0ad2857-6a4e-44fa-b634-ba22610e48ce",

[2021-03-15 09:58] fengzhou-msft commented on #16870
@joshhighet This is what I saw on my machine, and when I type a new command, it appears in position `[9]`. This is by desgin to put the most recent record closest to the end of output so you don't need to scroll up if the output is long.
[code]

[2021-03-15 10:05] jiasli commented on #16870
@joshhighet, are you running multiple commands within 1 second? The precision of metadata logs is 1 second. Could you share the latest log?

BTW, I am considering fixing it.

[2021-03-15 10:45] Tbohunek opened #17306 "Blob Directory Exists replacement?"
Hi,

The command `az storage blob directory exists` does not return folders that are not represented by an empty file. For blob `folder/file.txt` the `directory exists -d folder` is `false`.

I see that the command is on deprecation path, however `az storage fs directory exists` does not work for blobs. What is the right replacement then?

Thanks!

---
#### Document Details

⚠ *Do not edit this se

[2021-03-15 12:56] yonzhan commented on #17306
storage

[2021-03-15 13:47] Tbohunek opened #17308 "Cannot create role assignments for Managed Identities"
Hi,
I have Data Factory with Managed Identity, and I have a simple Service Principal that I am logged in `az cli` with.

I want to create role assignment for the Managed Identity using the Service Principal, but this...

[code]

...gives me

[code]

This happens also with `applicationId` of the Managed Identity. It works if `assignee` is Enterprise Application.

Indeed, the SP does not have permis

[2021-03-15 14:39] Kotasudhakarreddy commented on #17256
looking in to it.

[2021-03-15 14:43] Kotasudhakarreddy commented on #17302
@streaak - I am unable to repro the issue. could you please try with the latest `CLI version - 2.20.0`.

[2021-03-15 14:48] yonzhan commented on #17308
RBAC

[2021-03-15 15:39] diegotrsl opened #17309 "Get-AzDisk returns something only when I pass the Name parameter"
When I execute the command below, it doesn't return anything:
Get-AzDisk -ResourceGroupName "RGNAME"

But when I execute the following command, it returns the disk:
Get-AzDisk -ResourceGroupName "RGNAME" -Name "RGNAME-os-disk"

I can see eleven disks in this resource group while looking through Azure Portal.

I have seen this issue, but even waiting for hours I can't get the expected response:
[ht

[2021-03-15 17:57] daryltucker commented on #11657
Microsoft Docs has [a page with scripts to interact with `az storage`](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/find-unattached-disks).  `WARNING: Next Marker:` is shown frequently when using the **Unmanaged disks: Find and delete unattached disks** example.

Is this a failure for the documentation to be updated, or is this unintended behavior in `az` ?

[2021-03-15 19:57] kumarsen26 opened #17310 "Error "Authentication failed." during az Login"
I am getting Authenctication Failed as below when trying login into Azure (az login)

![image](https://user-images.githubusercontent.com/3154296/111213563-29bf6400-85d1-11eb-846f-b5ccb6fdc7c1.png)

I am not sure what is the reason.

Kindly check.

[2021-03-15 19:59] andrewlehmann-whs commented on #17310
I'm getting the same issue. There's currently an issue with Azure AD that you can read more about on the status site, which is likely the reason for this. https://status.azure.com/en-us/status

[2021-03-15 21:13] WongyuChoi commented on #17310
Same issue here. We are experiencing enterprise-wide issues, not only with Azure CLI but also with many MS products with AD. Thanks for the status update.

[2021-03-15 23:20] yonzhan commented on #17310
Azure AD server-side issue.

[2021-03-16 01:31] #16917 closed

[2021-03-16 01:44] anavinahar opened #17311 "New feature for Azure Load Balancer"
Due to the nature of the feature, I am not able to put information into a public repo. I will email the details. Once it is more public, I can update this comment. However, I want to make sure CLI team is able to plan for this.

[2021-03-16 02:03] evelyn-ys commented on #17176
Thanks @bondib @adiun
PR #17200 has added warning message like this:
[code]

[2021-03-16 02:16] yonzhan commented on #17311
@msyyc for awareness

[2021-03-16 02:18] qwordy opened #17312 "Live test regression"
This issue is created by a program.
[Latest testing results of Azure CLI](https://clitestresultstac.blob.core.windows.net/latest/index.html)
[User Manual of Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EZGC9LwrN3RAscVS5ylG4HMBX9h7W0ZSA7CDrhXN5Lvx6g?e=V8HUmd)
[Upgrading API Versions in Azure CLI Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EcgPLHSkef9Mi14Rj

[2021-03-16 02:23] yonzhan commented on #17312
@zhoxing-ms for awareness.

[2021-03-16 02:44] vsabella commented on #9537
We are reproducing this issue as well. The issue is in the delay in assigning the identity.

[2021-03-16 03:09] RupengLiu commented on #17001
I think there was already another post https://github.com/Azure/azure-cli/issues/17029

[2021-03-16 03:09] #17001 closed

[2021-03-16 03:11] RupengLiu commented on #17029
looks like not cli issue, can you forward your commands and files to my email: rupliu@microsoft.com, I will take a look

[2021-03-16 03:14] RupengLiu commented on #17026
sorry, we can't make api-id and name the same name, api-id is the resource ID, name is the Resource name, they are used in different scenarios in the backend

[2021-03-16 03:14] #17026 closed

[2021-03-16 03:18] RupengLiu commented on #16946
![image](https://user-images.githubusercontent.com/29927264/111250885-60927b80-85cb-11eb-8b53-5dfee679e923.png)
they exception shows that you need to specify the --specification-format, and you can check all values by runing "az apim api import -h"

[2021-03-16 03:18] #16946 closed

[2021-03-16 03:21] qwordy commented on #16720
It is already released.
az vm create --enable-hotpatching

[2021-03-16 03:21] #16720 closed

[2021-03-16 03:22] qwordy commented on #16640
@asilverman

[2021-03-16 03:22] fengzhou-msft commented on #17218
@j-hudgins what agent do you use, Ubuntu or windows?

[2021-03-16 03:23] #17083 closed

[2021-03-16 04:46] fengzhou-msft commented on #16874
Duplicate of #16952

[2021-03-16 04:46] fengzhou-msft commented on #17248
Duplicate of #16952

[2021-03-16 06:31] #16988 closed

[2021-03-16 06:31] #16989 closed

[2021-03-16 08:46] WhoAteDaCake opened #17319 "az monitor app-insights component show crashes"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor app-insights component show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az monitor app-insights component show`

## Expec

[2021-03-16 08:59] YohanSciubukgian commented on #17219
2.20.0 return success but it doesn't bind the certificate on the webapp.
I have downgraded to 2.19.1 and it's working properly.

[2021-03-16 09:21] yungezz commented on #16414
hi @sshingler could you share how CLI is installed? it seems dependency pacakges missed. Re-install might help. let us know how it works. cc @fengzhou-msft

[2021-03-16 09:23] yungezz commented on #16397
hi @PritiM0912 does the workaround work for you? thanks.

[2021-03-16 09:25] yungezz commented on #16341
hi @mkoziel2000 could you pls try the solution mentioned above? Will close the issue for now since it's container issue.  Feel free to create new issue if any other error. thanks.

[2021-03-16 09:25] #16341 closed

[2021-03-16 10:12] BigCat20196 commented on #16525
hi @nameier I didn't have this problem in my test environment. My azure cli version is 2.20.0. Could you try to upgrade the version first to see if this problem is solved?

[2021-03-16 10:23] PetrPospisil opened #17323 "Unable to login B2B guest user using "az login -u""
**Describe the bug**
I have invited a guest user using email address that is not B2B AAD related (like XXX@gmail.com), but I am unable to login using "az login -u" command. Thx for help.

**To Reproduce**
1) Invite user XXX@gmail.com.
2) Accept invitation
3) a)
`az login -u "XXX@gmail.com" -p "XXX" -t "XXX"`
ERROR: Get Token request returned http error: 400 and server response: {"error":"invalid_g

[2021-03-16 11:03] yonzhan commented on #17319
monitor

[2021-03-16 11:18] yonzhan commented on #17323
Account

[2021-03-16 11:53] Skmonkay opened #17325 "terminal colour settings"
**Resource Provider**

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2021-03-16 11:54] Skmonkay commented on #17325
Hi,

I can't find out how to either reset or change the Azure CLI Cloud Shell terminal settings.  I have larger scripts now and find the black background I changed it to difficult to use.

Thanks.

[2021-03-16 12:46] Friedrg opened #17326 "Container exec - ConnectionResetError: [Errno 104] Connection reset by peer"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

We are trying to connect to a running container. We see a blocked access by the firewall on 152.199.19.160. The container is running in a private section and cannot be accessed via the internet.

**Command Name**
`az container exec`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note th

[2021-03-16 12:47] yonzhan commented on #17325
color

[2021-03-16 12:50] yonzhan commented on #17326
container

[2021-03-16 13:01] nameier commented on #16525
Hi @BigCat20196 I haven't seen this in a while either.  Assuming it was either a one-time thing, or it has since been fixed in the newer releases of CLI.  Thanks for checking back in!

[2021-03-16 13:01] #16525 closed

[2021-03-16 13:05] Skmonkay commented on #17325
Tried it.

Can you give me more?

Alan

[2021-03-16 13:20] mgroetan commented on #16910
I have experienced the very same problem for appservice slots.
I have pin-pointed it to happen only if there's a single appsetting with the deployment slot setting option turned on in the production slot.
If there are more than one such appsetting, the clearing of the option does not seem to happen.
It also happens based on the name of the appsetting, i.e. if you issue a delete command on a differ

[2021-03-16 13:23] pukauw commented on #11614
This issue has been open since December 2019 and still doesn't appear to have been resolved, judging by my inability to deploy with a managed identity today.

Is there any update or any plan to resolve this?

[2021-03-16 13:23] jpattina opened #17327 "Cant Execute "az ad group list""
## Describe the bug

**Command Name**
`az ad group list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az ad group list`

## Expected Behavior

list of groups in active directory output

## Environment Summary
[code]
## Additional Context

[2021-03-16 13:32] yonzhan commented on #17327
graph

[2021-03-16 13:36] byteknacker commented on #13655
Having a similar issue, I am using Gitlab to deploy my Function App using az cli commands. It started two days ago but worked fine until then.

[2021-03-16 13:39] kmkelly2015 opened #17328 "Unable to Set HeathCheck Path"
$HealthPath = @{ "healthCheckPath" = "/HealthApi" } | ConvertTo-Json
az webapp config set --subscription $SUB --resource-group $RG --name $Name --generic-configurations $HealthPath

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument

[2021-03-16 14:24] yvanturcot-acceocom opened #17329 "errors while attemptin to install azure cli via "az aks install-cli""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2021-03-16 14:29] byteknacker commented on #13655
This workaround with webapp works for me. But I hope there is another more standard way. Will this be fixed in the next releases?

[2021-03-16 15:46] limelobo opened #17330 "When using --protocols parameter in apim api update I encounter a list object has no attribute 'split'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim api update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim api update --service-name {} --resource-group {} --api-id {}

[2021-03-16 16:19] #16952 closed

[2021-03-16 16:20] #16874 closed

[2021-03-16 16:20] #17248 closed

[2021-03-16 18:08] ilanRosenbaum commented on #16138
Same here, constantly having to rename stuff just to avoid this "feature"

[2021-03-16 18:17] c-ryan-k commented on #13497
@cocowalla @yonzhan @yiyiguo `--tags` should be supported in update/create for both Hub and DPS

[2021-03-16 19:05] Morriz opened #17332 "no response format for cli calls anywhere in the docs"
How are we supposed to find out the response format of cli call? Trial and error? Please generate docs from code.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c12e07f8-d82f-a9ac-895a-b6d980c8c4c2
* Version Independent ID: 43924bb5-20bd-6a0e-9cdc-90b1db46e599
* Content: [az network public-ip](https://docs.microsoft.co

[2021-03-16 19:44] #8415 closed

[2021-03-16 19:55] Goosho opened #17333 "deploing flask web app on azure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --sku {} --name {}`

## Expected Behavior

## Environment Summ

[2021-03-16 21:20] rane-rajasi commented on #16790
@qwordy Any updates on when this will be picked up?

[2021-03-16 23:53] genegc commented on #16311
Using az login did not work - I get the same result.
I also tried to use the json from the [rest api example](https://docs.microsoft.com/en-us/rest/api/synapse/data-plane/notebook/createorupdatenotebook), but I get the same result.

Then I tried just using the rest api directly like this (where $body was set to valid json):
`az rest --method PUT --uri https://syn-oea-cisd3west9.dev.azuresynapse.ne

[2021-03-17 00:28] mrsquish opened #17335 "Web App created with local git defaults to "main" branch when "master" branch is the default for deployment"
**Design Fault - Description**
When creating a Web App with the option for local-git deployment. The branch that gets created is "main". Whereas the branch used for deployment (by default) is master. This causes some confusion and is only fixed by another call to change the default deployment branch to "main"

**To Reproduce**
[Azure Cli]
az group create -n "FooyFooDevTest" -l australiaeast
az app

[2021-03-17 00:42] manishtulsiani commented on #12608
we are also facing this exact same issue. the below command returns key not found whereas the key exists in the keyvault. the keyvault and sql server are in the same subscription.

az sql server tde-key set --resource-group myresourcegroup --server myserver --server-key-type AzureKeyVault --kid "https://myresource.vault.azure.net/keys/mykeyname/key"

Deployment failed. Correlation ID: . The reques

[2021-03-17 00:59] yungezz commented on #17335
route to appropriate team

[2021-03-17 00:59] yungezz commented on #17333
route to appropriate team

[2021-03-17 01:01] yungezz commented on #17332
cc @yonzhan since this is network command

[2021-03-17 01:01] yungezz commented on #17330
route to appropriate team

[2021-03-17 01:02] yungezz commented on #17328
route to appropriate team

[2021-03-17 01:03] yungezz commented on #17329
route to appropriate team

[2021-03-17 02:40] #16979 closed

[2021-03-17 02:40] kairu-ms commented on #17319
Please reinstall azure cli by this [doc](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli).

[2021-03-17 03:40] manishtulsiani opened #17337 "unable to set tde-key to a customer managed key imported from another keyvault"
When trying to set the tde-key to a customer managed key that was imported from another keyvault, the az sql server tde-key set returns: key not found.

The sql server and the keyvault are in the same subscription, same region, same resource group. And the key exists in the keyvault

az sql server tde-key set --server <sqlservername> --resource-group <resourcegroup> --server-key-type AzureKeyVault

[2021-03-17 04:15] rahuls-microsoft opened #17339 "Onboarding Microsoft.Capacity RP"
**Resource Provider**

RP: Microsoft.Capacity
Features: reservations, Quota
**Description of Feature or Work Requested**

Details of Quota APIs:  https://docs.microsoft.com/en-us/rest/api/reserved-vm-instances/quotaapi

https://github.com/AzureSDKAutomation/azure-cli-extensions/pull/700 - This PR was created automatically. It was tested. How can we release it or take it to release?
**Minimum API V

[2021-03-17 05:05] yonzhan commented on #17337
sql

[2021-03-17 06:03] furey commented on #8388
Something like a `--consumption-plan-name` option would be a massive help.

🤓
🙏

[2021-03-17 07:10] fengzhou-msft commented on #17197
@da0ist can you update the `ssh` extension and run `az ssh vm`  command with `--debug` appended? You should see it's running a command like `ssh-keygen command ssh-keygen -L -f /tmp/aadsshcerto1d1853o/id_rsa.pub-aadcert.pub` near the end. Try to run this command by yourself and see the account in the `Principals` property. Does that match with your account?

[2021-03-17 07:27] NissesSenap opened #17340 "ohmyzsh plugin to view current account"
**Is your feature request related to a problem? Please describe.**

Half the AZ commands i run is "az account list -o table" to see what subscirption is active since I switch between allot of customers + dev, qa and prod.

**Describe the solution you'd like**

I would like to see what subscirptioon that is active in my shell preferably without calling the az api every 5 min . So some kind of cache

[2021-03-17 07:39] NissesSenap commented on #17340
Hmm got a tip from a colleague.
We should be able to use ~/.azure/azureProfile.json and see which subscription currently have "isDefault": true

[2021-03-17 07:52] #17268 closed

[2021-03-17 08:34] yonzhan commented on #17340
account

[2021-03-17 08:46] BigCat20196 commented on #16824
Hi @sanjaydatasciencedojo ,I found the "-- webhook" parameter missing in your input command. After my test, this is the main reason for your issue. Please add this parameter according to the example and try again.

eg:
az vm auto-shutdown -g MyResourceGroup -n MyVm --time 1730 --email "foo@bar.com" --webhook "https://example.com/"

[2021-03-17 09:56] NON2057 opened #17341 "cannot upload and unzip large zip"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment source config-zip -g {} -n {

[2021-03-17 10:40] yungezz commented on #17341
route to appropriate team

[2021-03-17 10:50] Skmonkay commented on #17325
az config set core.no_color=true  # no change
reset # no change

az config --help # nothing

Microsoft Docs for "color" in AZ CLI # nothing

[2021-03-17 11:29] jiasli commented on #17325
Hi @Skmonkay, apologize for the confusion. @yonzhan is only triaging this issue indicating we have received your request.

Could you share a screenshot of what you are seeing, so that I can better understand your requirement?

[2021-03-17 11:34] pvrk commented on #17244
@lovelinuxalot : Thanks for the feedback and sorry for the delay in response. Acknowledged as a bug. Will come back and update the thread on the ETA for fixing it.

[2021-03-17 12:16] airwalk-neilashbysenior opened #17342 "Unable to create a log analytics data export rule, either python exception or "table doesn't exist""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Command doesn't create rule as it says no table (UpdateRunProgress) in database or I get a python exception. The table does exist and I did try creating the rule while data was going into the table. I have also tried the command with parameters as well as environment variables. It is going to a preexisting even

[2021-03-17 14:13] Skmonkay commented on #17325
![image](https://user-images.githubusercontent.com/78912796/111481570-01e41380-872b-11eb-9316-d2e0552f5148.png)

[2021-03-17 14:15] Skmonkay commented on #17325
This is Bash.  Only a black background for now.  Very hard to see coding.

![image](https://user-images.githubusercontent.com/78912796/111481734-2a6c0d80-872b-11eb-8ae4-b1fb0cb74188.png)

[2021-03-17 14:17] Skmonkay commented on #17325
And in PowerShell it's really nice with the blue default backgroud:

![image](https://user-images.githubusercontent.com/78912796/111482092-7b7c0180-872b-11eb-97b5-d232c11098f9.png)

[2021-03-17 14:57] yonzhan commented on #17342
monitor

[2021-03-17 15:11] romeomorcia-wipro commented on #16729
@yonzhan @houk-ms any news regarding the fix?
I'm trying to find a workaround but couldn't find any.

[2021-03-17 15:18] sujitdmello commented on #17337
Just wanted to add some more detail here as I was assisting @manishtulsiani with this issue.

This AZ command (**az sql server tde-key set**) fails when it is invoked on a _newly restored key_. The workaround is to use the Portal to set the TDE encryptor on this newly restored key, which works without errors.

The odd thing is that after associating the customer key with the SQL TDE encryption via

[2021-03-17 16:25] sujitdmello commented on #17337
Steps to reproduce:
- Create Azure SQL server instance - by default a system managed key is configured for encryption.
- Create Key Vault  A and Key Vault B in the same subscription as the SQL Server.
- Generate a new Key in Key Vault B.
- Take a Backup of the Key and Restore it into Key Vault A.
- Issue the **az sql server tde-key set** command to configure the SQL server to use the newly restore

[2021-03-17 16:45] rkapso commented on #15952
You need to have RBAC access on the reservations to run these commands, I see that you are able to do this when u log in as service administrator can you please elaborate on the case when you are not able to run this

[2021-03-17 16:45] sjuarezgx commented on #12513
Hello,
Could you please send feedback about this issue? It doesn't seem to be fixed yet.

Thanks.

[2021-03-17 16:57] paul-kr commented on #12608
@manishtulsiani, we resolved this error by running two az cli commands: `az sql server key create <options> && az sql server tde-key set <options>`. Setting the tde key via the portal apparently takes care of both, but if you're doing it purely from the az cli, you have to take both actions to first create the key and then set it.

[2021-03-17 17:18] RupengLiu commented on #16262
pr submitted, fix expected to be next release

[2021-03-17 17:37] sfmskywalker commented on #11261
Same problem here:

![image](https://user-images.githubusercontent.com/938393/111512168-c0199400-874f-11eb-8b9a-b24a3c6a42aa.png)

[2021-03-17 18:16] TonyWu3027 commented on #17204
Hi @calvinsID, sorry for the late reply. I was following an Azure tutorial to deploy a Flask app and I forgot to `cd` into project directory. Thanks for the help. I wonder if there can be any prompt or warning implemented to handle such errors? The error report seems confusing. But thanks!

[2021-03-17 18:16] #17204 closed

[2021-03-17 18:29] norvegec commented on #8388
2 years gone by and this is still open?

[2021-03-17 18:54] fabiocav commented on #8388
@norvegec I hope the fact that a lot of the work done by the team is in the open provides good evidence that the team hasn't been addressing problems. Issues do need to be prioritized and, unfortunately, as much as we would love to, particularly with the challenges we all had to deal with this previous year, we can't always address them in a timely manner. I do agree that there should have been a

[2021-03-17 19:36] anweshs-ms opened #17345 "Document need to be updated"
[Enter feedback here]
Hi Team,

When we use the "az sql server tde-key set" command from CLI, it is failing with "ServerKeyNotFound" error and this is because there is a prerequisite step before using the "az sql server tde-key set" command which is to use "az sql server key create" command.

Following is the sequence of commands that need to be used in order to set a CMK TDE encryption Key for Az

[2021-03-17 19:40] blinkyblink opened #17346 "az storage account or-policy create silently fails on canada-central"
## Describe the bug

**Command Name**
`az storage account or-policy create`

**Errors:**
No error is given. The failure is silent.

## To Reproduce:
- Create a resource group in the Canada Central region: `example-rg`
- Create two StorageV2 accounts in the Canada Central region: `sourceaccount` and `destaccount`
- Create a blob storage container in both accounts: `sourcecont` and `destcont`
- `az

[2021-03-17 19:42] avirishuv commented on #13974
hi @qwordy are you still facing this issue? the dev team is unable to repro. If any more details can be shared that may help.

[2021-03-17 19:54] norvegec commented on #8388
@fabiocav agree, given 16 👍 this looks like low-priority issue. My point is to either provide an estimate for a fix, mark @hentie solution as recommended or an alternative solution(s) and close this.

[2021-03-17 20:38] sanjaydatasciencedojo commented on #16824
@BigCat20196 What value should I use for webhook? Should not email and webhook be decoupled?

[2021-03-17 21:28] trevors20 opened #17347 "Missing Python modules azure-storage-blob and azure-eventhub"
Azure-cli version: 2.20.0

I have an azure-cli extension that requires the python modules azure-storage-blob and azure-eventhub.
It looks like the azure-cli uses a private version of python and those modules are not installed in that version of python.

What is the best and recommended way to install these python modules into the private version of python that the azure-cli is using?

In my "setup

[2021-03-17 22:28] melmullen commented on #17102
Currently Powershell uses a previous version of the usage details API that does not support some Azure offer types. For instance, it does not support CSP (partner) subscriptions for which support is only available from the 2019-10-01 API version forward. However, the API can directly be called for getting the required data. More information can be found at: https://docs.microsoft.com/en-us/rest/ap

[2021-03-18 00:37] yonzhan commented on #17345
sql

[2021-03-18 00:40] yonzhan commented on #17347
storage

[2021-03-18 00:42] yonzhan commented on #17346
storage

[2021-03-18 01:51] jongio commented on #15375
We should fix this.

I had a customer type in

`az policy _subcommand`

because they thought that was missing.

[2021-03-18 02:36] qwordy commented on #13974
@avirishuv This is the logs. The old value of the VMSS is -1, new value in request is still -1. Full logs are available in previous comment.
@belgiajong Does this error still occur?
[code]

[2021-03-18 02:42] jiasli commented on #17325
@Skmonkay, I see what you are talking about.

Azure CLI `az` is simply a command line executable running on Cloud Shell. It has nothing to do with the black background of Cloud Shell. In other words, the black background of Cloud Shell is out of the control of Azure CLI.

[This screenshot](https://github.com/Azure/azure-cli/issues/17325#issuecomment-801116114) you shared is coming from `vi`, right

[2021-03-18 02:46] PCNZ opened #17351 "Add more detail about Event Hub status values"
Please add a summary or link to documentation about what each of Event Hub status values do.
Active, Disabled, SendDisabled

Are they the same as the Azure Service Bus equivalents for example?
https://docs.microsoft.com/en-us/azure/service-bus-messaging/entity-suspend#queue-status

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2021-03-18 02:49] #16262 closed

[2021-03-18 02:52] #17167 closed

[2021-03-18 02:54] jiasli commented on #17325
The colors in Cloud Shell (including the background) are not configurable, and that's why Azure CLI hardcodes RGB colors to get better visual effect in Cloud Shell (#17283).

I have also created https://github.com/Azure/CloudShell/issues/84 to track this readability issue.

[2021-03-18 03:20] jiasli commented on #16729
@romeomorcia-wipro, Thank you for the SOPS solution.

This is never an Azure CLI issue as I explained in https://github.com/Azure/azure-cli/issues/16729#issuecomment-772179264.

You may reach out to SOPS and instruct them to follow the standard Key Vault's `WWW-Authenticate` challenge protocol instead.

[2021-03-18 03:20] #16729 closed

[2021-03-18 03:45] eyesis commented on #16214
I got the same error, with the same sample API. My full command was:

`az apim api import --path https://conferenceapi.azurewebsites.net?format=json --resource-group ApiResourceGroup --service-name AndrewApiM --protocols https`

[2021-03-18 04:12] blgorman commented on #15188
I just had this same error.  You could try reversing the order and create the ACR First, then attach it to the AKS on creation as shown here:
https://docs.microsoft.com/en-us/azure/aks/cluster-container-registry-integration

The set of the principle still errs out, but you **should** be able to then leverage the acr from your aks cluster.

[2021-03-18 05:37] #16700 closed

[2021-03-18 05:46] yonzhan commented on #17351
event hubs

[2021-03-18 05:50] kairu-ms commented on #17342
Same as https://github.com/Azure/azure-cli/issues/17231

[2021-03-18 08:06] Kotasudhakarreddy commented on #17058
@RyanHill-MSFT - It is not possible to delete an `AppService plan` when it is associated with a `WebApp` . This is not possible in portal as well.
if you want to delete both the last  `webapp` and `appservice plan` together you can use ` webapp delete` command.

[2021-03-18 08:08] msyyc commented on #17332
@Morriz  Could you describe your question with more details?

[2021-03-18 08:35] msyyc commented on #17249
Please make sure it exists before removing the resource.('az network application-gateway waf-policy custom-rule match-condition list ' may help to check it before)

[2021-03-18 08:38] #17169 closed

[2021-03-18 08:39] msyyc commented on #17104
Thank you for your feedback. We will check it soon

[2021-03-18 08:39] #17071 closed

[2021-03-18 08:40] msyyc commented on #17050
Thank you for your feedback. we will check it soon.

[2021-03-18 08:48] msyyc commented on #16976
I have a try and it could be removed. My azure-cli version is 2.20.0

[2021-03-18 08:49] msyyc commented on #16972
I could not reproduce it. Does it ever happen after that?

[2021-03-18 08:55] msyyc commented on #16958
Could you provide detailed log with 'az network nsg rule delete -g {} --nsg-name {} -n {} --debug'?(Please delete sensitive info).

[2021-03-18 08:57] msyyc commented on #16929
I have a try and it could work. My azure-cli version is 2.20.0

[2021-03-18 09:01] msyyc commented on #16913
Hi@service team, according to the description, it seems need support from service to allow this kind of certificate.

[2021-03-18 09:04] msyyc commented on #16904
It has been merged(https://github.com/Azure/azure-cli/pull/17336) and new azure-cli version could resolve the issue

[2021-03-18 09:04] #16904 closed

[2021-03-18 09:06] ChrisKlug commented on #16972
Nope, it seems like it just started working for some reason...

[2021-03-18 09:06] #16972 closed

[2021-03-18 09:09] msyyc commented on #16875
I have a try and it works. Could you have a try to upgrade azure-cli ?

![image](https://user-images.githubusercontent.com/70930885/111600773-b144e700-880c-11eb-9cb5-0aaddf6dd320.png)

[2021-03-18 09:15] msyyc commented on #16820
Hi @service team. I run 'az network dns zone create -g yyc -n www.mysitex.com --tags ms:resource:usage=cloudshell --debug'. According to debug info, it sends content including 'tag', but the response does not include anything about 'tag'.

[2021-03-18 09:16] #16808 closed

[2021-03-18 09:28] airwalk-neilashbysenior commented on #17342
Currently I only have one rule. This would be a second rule. I have had two rules before in testing so I don't think this is due to exceeding a limit?

[2021-03-18 09:35] anon65856 commented on #16138
We've just deployed an APIM instance using API version Microsoft.ApiManagement/service@2019-12-01 - We're seeing soft delete applied when we've deleted this resource through the portal. Was under the impression this was only a feature in the new preview version 2020-06-01-preview ?

Seems the 2019-12-01 version does not include the property "restore" so unsure why it's applying soft delete?

[2021-03-18 09:43] airwalk-neilashbysenior commented on #17342
I have one rule from the workspace going into the same event hub namespace already. That is for the Update table. The command that fails is for the UpdateRunProgress table and wants to go into the same namespace but a different event hub.

I had previously a rule for this, which I deleted. The rule listing command shows only one rule, the one for Update.

[code]

However, --debug reveals this:

[c

[2021-03-18 11:11] IanKemp commented on #8388
@fabiocav Problems have been addressed, yes, but they honestly haven't been addressed as quickly as they should have been. I don't blame you or other teams that are similarly slow to provide feedback (NuGet comes to mind), because I'm quite certain that the reason is that you simply don't have enough people to deal with the number of issues reported. That's a management problem not a dev team prob

[2021-03-18 11:20] sicklittlemonkey commented on #16958
Sure. I think I obscured anything sensitive - mainly the subscription ID.

[delete-debug.txt](https://github.com/Azure/azure-cli/files/6163587/delete-debug.txt)

[2021-03-18 11:32] Skmonkay commented on #17325
Hi,

Yeah, I came to the same conclusions as you.  I'll have to live with it and stick with the VS Code Editor.

Thanks.

Alan

[2021-03-18 12:02] Morriz commented on #17332
Sure. The docs nicely describe input format, but no ouput format.

[2021-03-18 12:12] jiasli commented on #17325
@Skmonkay, I am glad to know the workaround works for you. You may also vote on these issues:

- https://github.com/Azure/CloudShell/issues/84
- https://feedback.azure.com/forums/598699-azure-cloud-shell/suggestions/34656385-font-background-color
- https://feedback.azure.com/forums/598699-azure-cloud-shell/suggestions/35185162-the-red-on-blue-can-be-hard-to-read-for-color-cha

[2021-03-18 12:35] Friedrg commented on #17326
We found it - it was a wrong config on the NGINX running in the container
Thanks

[2021-03-18 12:35] #17326 closed

[2021-03-18 12:57] jpattina commented on #17327
As far as I can tell, when there are no groups to list this command gets stuck and doesn't output anything until it crashes

[2021-03-18 13:09] jiasli commented on #17327
`MemoryError` is similar to https://github.com/Azure/azure-cli/issues/15268#issuecomment-772388341.

But for the "gets-stuck" issue, I need some more time to investigate and repro it.

[2021-03-18 14:05] yonzhan commented on #17332
@Morriz Could you please share the doc link you mentioned?

[2021-03-18 14:08] yonzhan commented on #17339
Capacity

[2021-03-18 14:30] RyanHill-MSFT commented on #17058
You're right @Kotasudhakarreddy. I confused the order of operation steps when I reported the bug. When I reported it, I had in my mind deleting the web app and subsequently deleting the app service plan like you can in the portal.

![image](https://user-images.githubusercontent.com/47189704/111642825-cdc52d00-87d4-11eb-8f52-b27224252e94.png)

I know that you can't delete an app service plan when i

[2021-03-18 15:15] Kotasudhakarreddy commented on #17058
@RyanHill-MSFT - I hope you are referring to the `webapp` DELETE action in portal.  If yes, I can able to see my `AppService plan` is deleted along with `webapp` when I confirm to delete. Please cross check one more time if issue is still persist open a ticket with azure support team or you can you can respond here so that I can transfer it to the appropriate team.

[2021-03-18 15:31] RyanHill-MSFT commented on #17058
I am. I sent you `--debug` entries. I don't see where the app service plan is being deleted. I also don't see a switch to delete the plan when the web app is deleted.

[code]

[2021-03-18 16:19] anoop7181 opened #17358 "AKS CLI enable insights error - Operation failed with status: 'Bad Request'. Details: The credentials in ServicePrincipalProfile were invalid."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons -a monitoring -n akscluster-name -g akscluster

[2021-03-18 18:53] rahuls-microsoft commented on #17339
Yes, Microsoft.Capacity RP.
Will it generate PowerShell modules also or there is a separate process for it?
What's the timeline, we are already in GA and this has been requested by customers and ARM team.

[2021-03-18 23:30] yonzhan commented on #17339
@qiaozha Do you have latest status for this?

[2021-03-19 00:19] sicklittlemonkey commented on #16958
I updated my comment above. The portal can't delete the NSG rule with the lock in place. (But the portal *can*, as I said, delete Load Balancer and App Gateway rules.)

[2021-03-19 01:48] qiaozha commented on #17339
No, we haven't validated for this RP as they are not PLR and there's no need to because Service Team already had some tests on the generated cli by themselves.

[2021-03-19 02:03] msyyc commented on #16976
Sure. But I did not create address with 'network interface ip config' and maybe the config is the key. Could you run delete cmd with ' --debug' to give more debug info? (Please hide sensitive info)

[2021-03-19 02:49] msyyc commented on #17158
@neethirshetty Which cli-cmd do you want to add the new parameters? Is the issue same with https://github.com/Azure/azure-cli/issues/17260?

[2021-03-19 03:20] yungezz commented on #17358
route to appropriate team

[2021-03-19 03:23] rahuls-microsoft commented on #17339
Is there anything required from my side?
https://github.com/AzureSDKAutomation/azure-cli-extensions/pull/700 - was created automatically based on the swagger PR - https://github.com/Azure/azure-rest-api-specs/pull/13202

Please let me know, if any action is needed from myside?

[2021-03-19 04:15] jiasli commented on #14767
@gischethans, I previously commented at https://github.com/Azure/azure-cli/issues/14086#issuecomment-671685599 for this issue. It was also discussed at https://github.com/Azure/azure-cli/issues/7375#issuecomment-423410402.

This error message:

is _not_ the same as the public cloud's exception:

So it bypasses the retryable check:

https://github.com/Azure/azure-cli/blob/88a6056229413f3a8326a2fe29

[2021-03-19 04:16] jiasli commented on #14767
@tejado, could you share the exception you are seeing? Is it the same as @gischethans's?

[2021-03-19 04:17] jiasli commented on #14767
@ryanhofdotgov, it is expected that calling `az ad sp create` immediately after `az ad app create` may fail. Please see https://github.com/Azure/azure-cli/issues/14086#issuecomment-671685599 for an explanation and the retry logic.

[2021-03-19 04:37] #16862 closed

[2021-03-19 04:37] #16692 closed

[2021-03-19 07:55] jsntcy commented on #17339
@rahuls-microsoft,
For CLI, you need create a PR to the master branch in https://github.com/Azure/azure-cli-extensions, and we'll help review your PR.
For PowerShell, you need contact @dingmeng-xue.

[2021-03-19 08:58] msyyc commented on #16755
@jeffbearer It is the problem in the use of JMESPath. You could reference https://jmespath.org/.
'''--query "[?dnsSettings.internalDomainNameSuffix='{dnsSuffix}']"
may should be
'''--query "[?dnsSettings.internalDomainNameSuffix=='{dnsSuffix}']"

[2021-03-19 09:01] msyyc commented on #16754
same with https://github.com/Azure/azure-cli/issues/16754

[2021-03-19 09:01] #16754 closed

[2021-03-19 09:10] kairu-ms commented on #17342
That's a good question. I think the limitation is on workspaces level. You can only add a single rule for your workspace. Because when you create a data-export rule, the command never needs a event hub name. And prefix of the rule ID is workspace ID.

[2021-03-19 09:10] msyyc commented on #16699
@wordlessitguy Thank you for your feedback and we will add it to 'help' message.

[2021-03-19 09:21] #16699 closed

[2021-03-19 09:28] msyyc commented on #16750
Thank you for your feedback and we will check it soon

[2021-03-19 10:06] kairu-ms commented on #17342
Yes, the limitation is on service side. If they are on different workspaces, I think it can work.

[2021-03-19 10:12] cveld opened #17365 "How to query postgresql?"
Is it possible to execute a query on a postgresql instance with the az cli?
To enable the Timescaledb extension this query must be executed:

`CREATE EXTENSION IF NOT EXISTS timescaledb CASCADE;`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5a0d6be8-0e95-0994-ace2-235d909d4714
* Version Independent ID: 0920947d-a29b-

[2021-03-19 11:17] Morriz commented on #17332
I am talking about all your az cli documentation. All input parameters are always nicely given, and some examples. None give response formats, even though your docs mention to be "Azure CLI / Reference".

Sample links:

- https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az_aks_create
- https://docs.microsoft.com/en-us/cli/azure/keyvault?view=azure-cli-latest#az_keyvault_create

[2021-03-19 13:56] pvrk commented on #17244
We are fixing this in the upcoming API release. This change will be reflected from that API version onwards.

[2021-03-19 14:46] miguelahonen commented on #16858
This helped me:

`python3 -m pip install --upgrade pip `

..and after this just try again! :-)

[2021-03-19 15:18] pascal-hauser opened #17371 "webapp: 'deployment slot swap' results in 'too many 500 error reponses'"
## Describe the bug

**Command Name**
`az webapp deployment slot swap`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Have a Web App for Containers running on a Linux plan with a staging and the production slot.
- Configure a path mapping to Azure File Shares
- Set the path mapping a

[2021-03-19 15:50] opticyclic commented on #10310
Interestingly the runtime list is now different.

[code]

Probably due to 8 reaching EOL.

[2021-03-19 15:52] henti opened #17372 "az vm user update failed with an unexpected error"
## Describe the bug

Created a 2016-Datacenter server and setup some new users, Then did system updates and rebooted. After reboot I could not log in anymore.

Tried to reset password to log back in.

**Command Name**
`az vm user update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

-

[2021-03-19 16:08] Saaman opened #17373 "Application gateway: unable to create rewrite rule without headers rewrites"
# Describe the bug

The command is throwing an error when trying to create a rewrite rule with no request-headers nor response-headers configurations. Therefore, it is possible (at least in the Azure portal) to create such a rule with only an url rewrite. Should it then be possible to do the same thing using the CLI?

#### command name
`az network application-gateway rewrite-rule create`
#### Erro

[2021-03-19 17:15] yonzhan commented on #17365
postgresql

[2021-03-19 17:29] yonzhan commented on #17373
network

[2021-03-19 18:04] sr-msft commented on #17365
Hello @cveld, AZ CLI is not a full-fledged PostgreSQL client. You have to invoke Postgres clients like psql or pgAdmin to connect to the server and you can execute the create extension command.

For example:
$ psql "host=myTargetServer port=5432 dbname=postgres user=myUser password=###### sslmode=mySSLmode"

[2021-03-19 18:28] naveedaz commented on #16644
@ElvenSpellmaker I was trying to figure out the expectation. By default we do not copy over configuration from production slot. If the --configuration-source is set, we do copy over configuration but I do not believe that includes tags.

@panchagnula Can you confirm?

This is what I am looking at:
https://github.com/Azure/azure-cli/blob/2daa61ef140903aa020006eadb51693dfc2715b1/src/azure-cli/azure/

[2021-03-19 18:30] naveedaz commented on #16805
@panchagnula Can you please take a look if this is happening on the Az Cli or backend?

[2021-03-19 18:38] Kotasudhakarreddy commented on #17058
@RyanHill-MSFT - Thanks for sharing `--debug` entries. You don't see any separate call to delete `appservice plan`. It handles by the  `webapp delete` API internally. Yes, Switch is not present in the current command. I think it could be a `feature request` .

When comes to the reported issue I am unable to repro it in the latest version of `az cli 2.20.0`. To validate you can use below commands a

[2021-03-19 22:05] matthchr opened #17375 "az aks create says only -g and -n are required, but command doesn't succeed with only those two options"
**Describe the bug**
According to [the documentation](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az_aks_create), only `-rg` and `-n` are required paramters to `az aks create`. Running `az aks create -g $RESOURCE_GROUP -n $KUBERNETES_CLUSTER_NAME` fails with the following error:

**To Reproduce**
Run `az aks create -g $RESOURCE_GROUP -n $KUBERNETES_CLUSTER_NAME`

**Expecte

[2021-03-19 22:30] matthchr commented on #17375
This looks like #13171, except that issue doesn't address the: "but the docs say this should work" part of it

[2021-03-19 23:18] simon-an opened #17376 "It is not possible to pass azure storage account name and key as a cli parameter when using --file option."
[Enter feedback here]

It is not possible to pass azure storage account name and key as a cli parameter when using --file option.

Example:

[code]

container.yaml
[code]

The storageAccountName and storageAccountKey for the azureFile object inside the yaml file should be optional. If omitted they should be overwritten by the "azure-file-volume-account-key" and "azure-file-volume-account-name" cli

[2021-03-20 02:26] yonzhan commented on #17376
container

[2021-03-20 03:22] #16071 closed

[2021-03-20 04:18] #17166 closed

[2021-03-20 04:18] #17168 closed

[2021-03-20 04:26] #17176 closed

[2021-03-20 04:45] Qdigital opened #17377 "Cli Team"
**Resource Provider**

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2021-03-20 04:52] yonzhan commented on #16654
@harics24 any update?

[2021-03-20 05:04] yonzhan commented on #17377
@Qdigital please provide more detailed info for this issue.

[2021-03-20 12:06] SenseiJoe opened #17378 "Suppress all output to console"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I do "az --version | Out-Null" or any version of this syntax where I'm trying to put the version information into a variable.  I always get
[code]
**Describe the solution you'd like**
If I pipe to Out-Null there is no console output.

My goal is control if and when I need to upgrade.  if something is out

[2021-03-20 12:15] KarimJedda commented on #10131
I wasted so much time on this it was driving me nuts, thanks @loomchild !

[2021-03-20 16:42] #16920 closed

[2021-03-20 17:04] #15015 closed

[2021-03-20 17:46] BAAdeosun commented on #16636
@ElvenSpellmaker
Hi ElvenSpellmaker, i tired to use your fix but i keep getting "NotSpecified: (UnrecognizedArg...ments: Europe"}:String) []," whenever the script get to "az resource create"
Could the "--properties ("$jsonDocument" -replace'(\\*)"','$1$1\"')" be missing something ?

[2021-03-20 18:04] ElvenSpellmaker commented on #16636
Hey, it's working fine for me, I've just checked master and re-copied and pasted it in above, please double check.

[2021-03-20 19:23] ElvenSpellmaker commented on #16636
You'll also need these:
[code]

[2021-03-20 19:46] BAAdeosun commented on #16636
@ElvenSpellmaker
below is exact code, after changing the variables to be pre-set variables:

$appServicePlan = (
			az appservice plan show `
				--name $planName `
				--resource-group $rgName `
			| ConvertFrom-Json
		)

		$servicePlanResourceLocation = $appServicePlan.location

		$jsonDocument = @{
			name = $functionAppName
			tags = $Tags
			location = $servicePlanResourceLocation
			kind = '

[2021-03-20 19:49] ElvenSpellmaker commented on #16636
[code]
Did you set the variables I showed above?

[2021-03-20 19:58] BAAdeosun commented on #16636
No i didn't, not sure where to retrieve the exact values, as this is a new function app creation

[2021-03-20 20:00] ElvenSpellmaker commented on #16636
Right, this script assumes you have an App Service Plan, as that can be done in ARM/Terraform without much difficulty. 🙂

Are you planning on running the function in an App Service Plan or Consumption?

[2021-03-20 20:02] BAAdeosun commented on #16636
It is from App Service Plan.
App Service Plan will be created by Az Cli, "az functionapp plan create"

[2021-03-20 20:04] ElvenSpellmaker commented on #16636
OK the plan has to be created first such that the plan can be retrieved by my script. 🙂

[2021-03-20 20:12] BAAdeosun commented on #16636
Yeah, plan was created and function app created in the plan
The steps to create includes:
az group create - creates resource group
az storage account create - create storage account
az functionapp plan create  - create webapp plan

My initial script was to add the httpOnly after creation, that is wait 2 minutes before the below, but still didnt work, until i ran the below separately.

if ($functio

[2021-03-20 20:14] ElvenSpellmaker commented on #16636
If the plan exists and you have the right variables set it should work, hrm.

[2021-03-20 20:45] felipebbc opened #17379 "Bicep auto install results in invalid json output from deployment"
**Describe the bug**

When deploying a bicep file using az cli without having the bicep executable installed, the bicep auto install feature sends installation result messages to stdout. This breaks the ability to read and parse the expected json output from the deployment.

**To Reproduce**

[code]
**Error:**
[code]

**Expected behavior**

When bicep installation occurs in the background through

[2021-03-20 23:57] yonzhan commented on #17379
Route to ARM service team to take a look

[2021-03-21 04:48] fengzhou-msft commented on #16882
@Tatsinnit we've updated https://github.com/Azure/azure-cli-dev-tools#setting-up-your-development-environment, please follow it and let us know if you still meet issues.

For the `azdev` issue, you're using the one in https://github.com/azure/azure-cli/blob/dev/tools/automation/__main__.py which is deprecated. There is also a PR to update doc: https://github.com/Azure/azure-cli/pull/17236

[2021-03-21 09:25] yonzhan commented on #16882
@Juliehzl for awareness

[2021-03-21 13:16] jiasli commented on #17378
`--output none` only works for `stdout` . These survey lines

[code]

are written to `stderr` which can be disabled with `2> $null`:

[code]

`az --version` is only designed for better human readability. To only check the version, you may use `az version` which outputs a JSON:

[code]

As for

perhaps we can add a programmatic way to `az version` to detect if update is available? Something like:

[2021-03-21 14:17] fengzhou-msft commented on #16283
Added retry when fetching extension index to reduce this error caused by unstable network.

[2021-03-21 14:17] #16283 closed

[2021-03-21 16:33] mepand commented on #13999
Investigation is still in progress.

[2021-03-21 16:36] mepand commented on #14177
We are working on making the API response idempotent and tracking it internally. Once the changes are live, we will update the thread. Since there is no immediate action pending on the PG team, closing this thread. Incase you have any further questions or concerns, please feel free to reopen this case or open a new one with reference to this issue.

[2021-03-21 16:36] #14177 closed

[2021-03-21 19:02] qwordy opened #17381 "Live test regression"
This issue is created by a program.
[Latest testing results of Azure CLI](https://clitestresultstac.blob.core.windows.net/latest/index.html)
[User Manual of Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EZGC9LwrN3RAscVS5ylG4HMBX9h7W0ZSA7CDrhXN5Lvx6g?e=V8HUmd)
[Upgrading API Versions in Azure CLI Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EcgPLHSkef9Mi14Rj

[2021-03-21 19:27] ruchinmunjal commented on #15300
Tried the same command as sudo and it worked. Dont know if this is correct way or not, but it worked and I was able to use it after that

[2021-03-21 23:15] yonzhan commented on #17381
@kairu-ms for awareness.

[2021-03-22 02:02] msyyc commented on #17311
@anavinahar Have you sent the e-mail?

[2021-03-22 02:09] Juliehzl commented on #12766
HI @tstibbs , uploading with --tier is supported in cli extension `storage-blob-preview`. You could install with `az extension add -n storage-blob-preview` and try upload again. For `upload-batch`, we don't have support plan for limited bandwidth.

[2021-03-22 02:09] #12766 closed

[2021-03-22 02:11] Juliehzl commented on #16217
Given there is no response for long time, I will close the PR and please create a new one if there is still the issue.

[2021-03-22 02:11] #16217 closed

[2021-03-22 02:17] yungezz commented on #17375
route to appropriate team

[2021-03-22 02:18] yungezz commented on #17372
hi @qwordy, is this issue fixed in latest version?

[2021-03-22 02:18] yungezz commented on #17371
route to appropriate team

[2021-03-22 02:18] Juliehzl commented on #16925
@evelyn-ys could you take a look for this issue? We already support read form stdin for upload, and I think we could also add stdout support for download scenario with track2 sdk.
Let's add the feature first in `storage-blob-preview` extension.

[2021-03-22 02:20] Juliehzl commented on #17233
@altwohill please try with `az storage share-rm create`, which has access tier support.

[2021-03-22 02:20] #17233 closed

[2021-03-22 02:22] msyyc commented on #17332
@Morriz Format of input parameters are defined in https://github.com/Azure/azure-rest-api-specs, but most of response format is not defined in it. Usually we run the cmd in practical environment to get the response format. In the future we may think about to add it.

[2021-03-22 02:26] msyyc commented on #17373
Thank you for your feedback  and we will check it soon.

[2021-03-22 02:27] sanghoon-damien-yang opened #17382 "If resource group of Vault and VM are different"
[Enter feedback here]

I've tested az backup protection enable-for-vm  when RG from Vault and VM are different,
I front the error like below.

sanghoon@Azure:~$ az backup protection enable-for-vm --resource-group SanghoonYang_KoreaAzureLab --vault-name KorCen-Vault --vm DiskTest-01 --policy-name DefaultPolicy --disk-list-setting exclude --diskslist 0
Command group 'backup' is in preview and under

[2021-03-22 02:35] msyyc commented on #16744
Thank you for your feedback and we will check it soon.

[2021-03-22 02:42] Juliehzl commented on #17306
Hi ＠Tbohunek, thanks for your feedback. `az storage blob directory exists` is deprecated and it is for ADLS Gen2 account, which do have folder in such account.
But for blobs in standard storage account, the folder is virtual path not real resource. It is impossible to check virtual path with REST. If you do want to see if the virtual path exists or not, you could consider using `az storage blob li

[2021-03-22 02:42] #17306 closed

[2021-03-22 02:54] qwordy commented on #17372
@henti Thank you for reporting it. This issue is fixed in the coming version on 3/23/2021.
It is fixed by https://github.com/Azure/azure-cli/pull/17257.

[2021-03-22 02:54] #17372 closed

[2021-03-22 02:59] msyyc commented on #16665
@smokedlinq We support 'az network  vnet update -g {} -n {} --set tags.mytag2=tag2' to add or update tags for existing vnet.

[2021-03-22 03:17] Juliehzl commented on #17238
@septst, we do read location from resource group if there is no location input.
But have you ever set location with `az configure`? You could check with `az configure -l`.

[2021-03-22 05:02] septst commented on #17238
No, I haven't set location for the configuration. But, it didn't use the location from resource group when I didn't give location for the above resource.

[2021-03-22 06:07] Juliehzl commented on #17238
Could you provide debug info with `--debug` in your command?

[2021-03-22 06:26] msyyc commented on #17286
@Keithsc I could not find the prompt. Could you show the detailed prompt?
![image](https://user-images.githubusercontent.com/70930885/111948746-9b8c3600-8b1a-11eb-8581-7b0f1c3389ec.png)

[2021-03-22 06:28] #16615 closed

[2021-03-22 06:33] msyyc commented on #16481
@Kamran-Bilgrami I could not reproduce it. Could you have a try to upgrade azure-cli?

[2021-03-22 06:43] anthonychu commented on #12513
@apawast Can we prioritize for investigation?

[2021-03-22 06:47] Juliehzl commented on #17278
Hi @ishepherd, you need to assign `Storage Blob Data Owner` rule if you want to see access policy info. For details about RBA role, see https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#storage-blob-data-owner.

[2021-03-22 06:47] #17278 closed

[2021-03-22 06:57] msyyc commented on #16186
Hi@service team. I run the cmd with ' --debug'. The debug info shows that cli sends the request but service response error. Could you help explain why the cmd failed?

[2021-03-22 06:59] #16195 closed

[2021-03-22 07:03] Juliehzl commented on #17347
Hi @trevors20, for `azure-storage-blob`, we will recommend to use `azure-multiple-storage`, which already has storage blob support.
But if you want to add dependency for your extension, your method is right and you can see here
https://github.com/Azure/azure-cli-extensions/blob/97f2afc5a0f707505a650d4f92cbd874688b09cc/src/db-up/setup.py#L25-L29. For such dependencies, it will be installed in exten

[2021-03-22 07:09] Juliehzl commented on #17346
Hi @blinkyblink , have you tested other regions? In my test case, `eastus2` seems work to me.

[2021-03-22 07:19] msyyc commented on #16215
similar issue : https://github.com/Azure/azure-cli/issues/17272

[2021-03-22 07:36] piersfinlayson opened #17384 "Cannot delete postgres database with CLI"
Trying to delete a postgres database I get the error listed below.

**Command Name**
`az postgres db delete`

**Errors:**
[code]

## To Reproduce:

Have been running django webapp connected to this postgres database, but created a new database and switched over to that - so now want to delete this old database.  I've tried repeatedly to delete the database with this command but always get the same

[2021-03-22 07:37] piersfinlayson commented on #17384
I also tried creating a database with the same name (and server-name and resource-group) in case the CLI's view of the database had got into a duff state per this comment, but no success then deleting:

https://github.com/Azure/azure-cli/issues/7285#issuecomment-420717903

[2021-03-22 08:12] yungezz commented on #17382
route to appropriate team

[2021-03-22 08:47] gorkemgoknar opened #17386 "AZ Cli setting subscription/account asks extension install in loop mode (cannot set)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Setting account/subscription required downloading account or subscription plugin but even done that it asks again for download. Cannot set account/subscription from CLI

**Command Name**
`az account`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as

[2021-03-22 08:58] yonzhan commented on #17384
postgres

[2021-03-22 09:01] yonzhan commented on #17386
@jiasli for awareness

[2021-03-22 09:16] jiasli commented on #17332
CLI doesn't explicitly document the response body, but you may refer to the document of underlying services.

Take **ResourceGroup** as an example, corresponding docs are

- **Azure REST spec** - definition: [`ResourceGroup`](https://github.com/Azure/azure-rest-api-specs/blob/e10fd5f5f0b3444e589cd816321fce7036e33554/specification/resources/resource-manager/Microsoft.Resources/stable/2020-10-01/res

[2021-03-22 09:22] #17220 closed

[2021-03-22 09:25] jsntcy commented on #15094
@stephgou, --vnet-to-vnet-traffic is deprecated in 0.2.1 https://github.com/Azure/azure-cli-extensions/pull/2237 which is a breaking change from service side.
See release note: https://github.com/Azure/azure-cli-extensions/blob/master/src/virtual-wan/HISTORY.rst#021

[2021-03-22 09:25] #15094 closed

[2021-03-22 09:47] zhoxing-ms opened #17390 "Bicep related live test issue"
**Describe the bug**

For both tests `test_subscription_level_deployment_with_bicep` and `test_management_group_level_deployment_with_bicep`, the following errors occurred:

@shenglol Because this is bicep related issues, please help to investigate it.

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2021-03-22 10:22] yonzhan commented on #17390
Bicep

[2021-03-22 10:36] dkreeft opened #17392 "Make 'az network private-dns record-set a' consistent with 'az network dns record-set a'"
**Is your feature request related to a problem? Please describe.**
It seems like it is impossible to create a non-empty A record and set ttl for a private DNS using Azure CLI. If you compare this with the equivalent command for a public DNS, one finds that the `ttl` parameter is available for `az network dns record-set a add-record`. The latter allows us to add a new record with a custom ttl. The

[2021-03-22 10:43] dkreeft opened #17393 "Add 'az feedback' examples"
**Is your feature request related to a problem? Please describe.**
I came across the `az feedback` command that allows you to send feedback to the Azure CLI team. Unfortunately, the documentation of the feature is not so clear to me. Am I supposed to send a string with my feedback? Executing `az feedback --help` suggest the following:

However, executing `az find "az feedback"` does not return any

[2021-03-22 10:52] dkreeft commented on #17392
As an addition: I am getting a "400 - Bad Request" back if I am trying to add the same A record twice. I believe that adding the `if-none-match` parameter, like for the equivalent public DNS command, could be a solution. The parameter would allow me to indicate that it should only add the A record if it is not already there.

[2021-03-22 11:56] yonzhan commented on #17392
network

[2021-03-22 12:29] jiasli commented on #17393
Hi @dkreeft, `az feedback` is an interactive command. It creates the GitHub issue body automatically for you.

Simply run `az feedback` and see what you get! 😀

[2021-03-22 12:47] blinkyblink commented on #17346
I mentioned in the original description that it works on canada east.

[2021-03-22 13:14] jiasli opened #17395 "Error recommendation doesn't work for enum values"
**Describe the bug**

Error recommendation doesn't work for enum values.

**To Reproduce**

For example, when I provide `storage` for `--resource-type`:

[code]

Instead of telling me the allowed values, the recommendation simply removes `--resource-type` which is not helpful.

**Expected behavior**

[code]

As there is a chance that the content of `TRY THIS:` is not helpful, so `TRY THIS:` should

[2021-03-22 13:18] SenseiJoe commented on #17378
I like the --latest option but...
I still like having an option that tells me if the core or extension needs updating. returning true of false.
something like
az version --name azure-cli --upgrade
or
az version --name azure-cli --islatest

You could apply that to any module or extension

this way I could write
if (az version --name azure-cli --upgrade) ) {
   az upgrade
}

You suggestion for suppr

[2021-03-22 13:36] dkreeft commented on #17393
Great, thanks for your swift reply and action!

[2021-03-22 13:40] gbakthavatchalam opened #17397 "Error while running azure cli check-acr command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks check-acr`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks check-acr`

## Expected Behavior

## Environment Summary
[code]

[2021-03-22 13:41] blinkyblink commented on #17346
I just did a little bit more investigation. It appears that this command fails when using `Standard_ZRS` for the destination storage account SKU in canadacentral. Here is a script I used to test.
[code]

Here are combinations of variables that I ran this with and whether or not it failed.
| LOCATION | SRC_ACC_SKU | DST_ACC_SKU | Pass / Fail |
|:-------------:|:-------------:|:-----:|:-----:|
|cana

[2021-03-22 13:48] jiasli opened #17398 ""For more specific examples, use: az find" doesn't really give more examples"
**Describe the bug**

All commands' help (like `az feedback --help`) shows

[code]

However, if a user really runs `az find "az feedback"`, the output can sometimes give no helpful information:

[code]

This causes frustration and distrust.

**Expected behavior**

Possible solutions:

1. `For more specific examples, use: az find` should be hidden if no more examples can be given, but this will cau

[2021-03-22 13:52] jiasli commented on #17393
Let me refine the help message in #17396 and track the `az find` problem in #17398.

[2021-03-22 13:53] yonzhan commented on #17398
route to Aladdin team to investigate.

[2021-03-22 14:01] kaletkamk opened #17399 "az keyvault certificate list --id"
**Describe the bug**
According to the documentation az keyvault certificate list --id (kv_id) should list all of the certificates. Other parameters should not be required when using --id
But when you run  az keyvault certificate list --id (kv_id) you get response 'vaultBaseUrl'

[code]
**To Reproduce**
az keyvault certificate list --id (kv_id)
**Expected behavior**
List of certificates
**Environme

[2021-03-22 14:14] jiasli commented on #17378
@SenseiJoe, glad to know it works for you!

Perhaps we can make something like

[code]

Then you may query the result with `--query '\"azure-cli\"'` (pay attention to [Quoting issues with PowerShell](https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-with-powershell.md)).

Indeed, comparing version doesn't seem like a good option to me, as `2.10.0` can actually be smaller than `2.9.0`

[2021-03-22 15:56] miwithro commented on #15300
https://github.com/Azure/azure-cli/issues/2558

Either run sudo az aks install-cli or install it to a different directory that you have permission over.

[2021-03-22 17:03] devsh4 commented on #17219
This issue also happens if both the app service plan & app service are in the **same resource group**. This seems to be happening due to a recent change in 2.20.0 version.

Tried with version 2.19.0 and it worked perfectly fine.

[2021-03-22 17:04] lucen-ms commented on #16209
fyi I had the same issue when running e.g. `kc get services`

`E0322 17:45:49.947710   13076 azure.go:154] Failed to acquire a token: unexpected error when refreshing token: refreshing token: adal: Refresh request failed. Status Code = '400'. Response body:{"error":"interaction_required","error_description":"AADSTS70043: The refresh token has expired or is invalid due to sign-in frequency checks b

[2021-03-22 17:13] airwalk-neilashbysenior commented on #17342
Thanks for clarification.
I did find that you can precreate the event hubs with the name tablename and "am-" prefix (e.g. am-updates), so that at least you can control the event hub settings. This is better for me than letting Azure Monitor create the event hubs.
I'll close this issue.

[2021-03-22 17:13] #17342 closed

[2021-03-22 17:16] scott-doyland-burrows opened #17400 "Using the az cli or az rest to obtain TLS certificate information does not return all the output (missing output)"
[code]

When running either of the following, there is missing output, for example the ```properties.siteName``` is shows as ```null``` when run using ```az rest```.

This makes it impossible to see which webapps have TLS certificates configured.  The only way to do this is via the portal.

```az webapp config ssl list --resource-group <resource-group>```

```az rest --method GET --url https://man

[2021-03-22 17:21] SenseiJoe commented on #17378
Thanks, I think that will work just fine. (as long as that banner doesn't show up) ;)

[2021-03-22 18:42] Saaman commented on #17373
Thanks a lot! 😃

[2021-03-22 19:02] richeney commented on #16573
@jimdigriz We definitely need this.

In the meantime, do you have any bash code that generates a valid token object in ~/.azure/accessTokens.json using the REST API?

[2021-03-22 21:24] devsh4 commented on #17219
Please escalate this issue accordingly as there is no workaround to bypass this error, using --name or --ids doesn't work.

If working locally, one can downgrade to 2.19.1 and resolve it but there is no workaround for Azure DevOps as we can't specify a version for the `AzureCLI` task.

[2021-03-22 21:56] aegal opened #17402 "CLI support needed for New Delegated Network Controller"
**Resource Provider**
Microsoft.DelegatedNetwork

**Description of Feature or Work Requested**
DNC web api provides way to create, get and delete dnc controller

**Minimum API Version Required**
2021-03-15

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/pull/13545/files?file-filters%5B%5D=.json

**Target Date**
April release

[2021-03-22 22:48] yonzhan commented on #17400
route to service team

[2021-03-22 22:50] yonzhan commented on #17402
network

[2021-03-22 22:59] ericsnowcurrently commented on #16611
Also, the first beta release of Python 3.10 is coming at the beginning of May.

[2021-03-22 23:30] jiasli commented on #16573
[Using a managed identity with Arc enabled servers](https://docs.microsoft.com/en-us/azure/azure-arc/servers/security-overview#using-a-managed-identity-with-arc-enabled-servers) is supported by Azure Identity in https://github.com/Azure/azure-sdk-for-python/pull/15020. The commit https://github.com/Azure/azure-sdk-for-python/commit/d32f4b3a78d41d4f90e2694c69d62b009e5b5dd4 is released in `azure-ide

[2021-03-22 23:34] jiasli commented on #16573
⚠ Manipulating `~/.azure/accessTokens.json` is NEVER a supported scenario. `~/.azure/accessTokens.json` will be deprecated in the beta MSAL-based Azure CLI.

This approach will stop working immediately once you start using MSAL-based Azure CLI.

[2021-03-22 23:38] opticyclic opened #17403 "Deploying Java Function As Zip Fails With Python Error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

The zip was built with `./gradlew azureFunctionsPackageZip`.

The command was then run to deploy the zip.

**Command Name**
`az functionapp deployment source config-zip`

    az functionapp deployment source config-zip -g dev_rg -n dev-upload-function --src function-test/dev-upload-function/build/azure-functio

[2021-03-22 23:53] yonzhan commented on #17403
route to service team.

[2021-03-23 01:42] yungezz commented on #17399
hi @houk-ms,  could you pls have a look?

[2021-03-23 01:43] yungezz commented on #17397
route to appropriate team

[2021-03-23 02:21] bmc-msft commented on #14767
Note, I'm seeing this on the public cloud.

[2021-03-23 04:21] philipedwards commented on #16499
Same issue in Australia East, failed on first attempt, succeeded on second. Making it difficult to automate.

[2021-03-23 06:11] c-arnab opened #17407 "After deleting the resource group that the cloud shell creates to initialise, errors start"
The cloud shell on first use creates a resource group and storage. I by mistake used that resource group to do a few things like creating a vm etc. Once job was done, I deleted the resource group. It threw errors.
So, I signed out and then signed in and tried using cloud shell. It told me that it was going to create a storage which I accepted. But even now when I try to create a resource (new reso

[2021-03-23 06:14] yonzhan commented on #17407
ARM

[2021-03-23 06:17] ishepherd commented on #17278
Thanks @Juliehzl

After checking, yes I only had Contributor on this storage account.

It's a shame the Storage API implemented this as a 404.
403 Forbidden would have given me the clue what was wrong. (I am authorized to know the account exists).

[2021-03-23 06:41] #16215 closed

[2021-03-23 07:52] msyyc commented on #17272
@geertn I try to execute the same cmd with '--subnet ' which belongs to different vnet of different resource group. And the service responses error:
![image](https://user-images.githubusercontent.com/70930885/112111697-82a18480-8bef-11eb-8c66-b0d2216b6f7f.png)
It seems that service does not support it. This doc may help you : https://docs.microsoft.com/en-us/azure/private-link/

[2021-03-23 07:58] jimdigriz commented on #16573
@richeney Sorry no, I explored this and found the juice was not worth the squeeze; it quickly became apparently that tinkering with `accessTokens.json` was going to be fragile at best.

In the end I baked the logic into my application and moved on.

Maybe you could slum it with shell wrapper for cURL that then goes and calls `az rest --skip-authorization-header --headers authorization=... ...`? Aw

[2021-03-23 08:05] msyyc commented on #17286
similar issue : https://github.com/Azure/azure-cli/issues/16744

[2021-03-23 08:09] chtourou-youssef opened #17409 "Azure CLI for run manually webjob"
**Is your feature request related to a problem? Please describe.**
Hello , Azure CLI have a command to run manually webjob in Azure web app ?

[2021-03-23 08:10] msyyc commented on #16744
@pandeyvaibhav It seems that I couldn't reproduce it.
![image](https://user-images.githubusercontent.com/70930885/112113781-3c015980-8bf2-11eb-8dc5-bc94ed02e19e.png)

[2021-03-23 09:08] Morriz commented on #17332
So can you see that it is confusing to NOT be given explicit response formats for each command?

[2021-03-23 09:17] ondrejbudai commented on #17123
Thanks for looking into this! May I ask if there is docs on how to create a VM and then delete it with all associated resources including disks?

[2021-03-23 10:14] yonzhan commented on #17409
route to service team.

[2021-03-23 11:20] jiasli commented on #17332
Yes, I can see that. However, in short, it is hard.

Azure CLI is built on Python which is not a strong-typed language, so CLI is not aware of the type of the returned object from Python SDK forehandedly. Also, there is no 1:1 mapping between Azure CLI commands and SDK/REST APIs. (Yes, in most cases, one CLI command calls one REST API, but there are exceptions like `az vm create` which calls multi

[2021-03-23 12:21] dcasota opened #17413 "Broken exercise content in https://docs.microsoft.com/en-us/learn/modules/protect-virtual-machines-with-azure-backup/4-exercise-back-up-azure-virtual-machine"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az backup protection enable-for-vm`

**Errors:**
[code]
Before launching 'az backup protection' in the UI the 'choose backup policy' always displayed 'Loading...'.

## To Reproduce:
Did all the steps in https://docs.microsoft.com/en-us/learn/modules/protect-virtual-machines-with-azure-backup/

[2021-03-23 12:58] yungezz commented on #17413
route to appropriate team

[2021-03-23 13:51] joaocc commented on #16697
Similar issue here.
* macOS BigSur 11.2.3 on Apple Silicon
* installed python formulas
[code]
[code]

[2021-03-23 14:51] MatthewSteeples commented on #16387
Early indications suggest that this is fixed in 2.21

[2021-03-23 15:20] nordquist opened #17415 "webapp:az webapp up"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up`

## Expected Behavior

## Environment Summary
[code]
## Addit

[2021-03-23 16:37] panchagnula commented on #16805
@naveedaz this is function app specific to tagging the right folks to look. @fabiocav - can someone from functions take a look.

[2021-03-23 16:38] panchagnula commented on #16644
@fabiocav - Slots support for functionapp should be different from webapp.

[2021-03-23 17:10] Morriz commented on #17332
That sounds like a good plan. I suggest to always link to the REST doc counterpart for now (with a warning about potential incongruence), assuming it is easy to put that link underneath a CLI page.

[2021-03-23 17:46] dgroh opened #17416 "Fix `az ad app permission grant` in the docs"
**Describe the bug**
The docs for [az ad app permission add](https://docs.microsoft.com/en-us/cli/azure/ad/app/permission?view=azure-cli-latest#az_ad_app_permission_add) says to invoke `az ad app permission grant`, but when invoking it a **404 error** is shown. Workaround is to use `az ad app permission admin-consent` instead.

![image](https://user-images.githubusercontent.com/16785357/112183633-

[2021-03-23 21:03] CMihalcik opened #17418 "CosmosDB Delete Command Fails But Still Appears to Delete the Database"
Running the following command as an inline script in an `AzureCLI@2` task in an Azure DevOps Pipeline leads to the error below. It appears that the database is actually deleted though.

Repro Command
[code]

Observed Error
[code]

Expected Behavior

The database is deleted and the command completes successfully.

[2021-03-23 21:42] timheuer opened #17419 "WebApp:Unhelpful error on `az webapp up`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When trying to use `az webapp up` I was met with an 'Unauthorized' error message and that let me on a wild chase of permission issues with my account, RBAC rules, etc. as it led me to believe that my user account didn't have access to create the resource.

Turns out that was an unhelpful message and the actual

[2021-03-23 23:00] yonzhan commented on #17416
@jiasli for awareness

[2021-03-23 23:02] yonzhan commented on #17418
CosmosDB

[2021-03-24 00:17] henrykironde commented on #15932
I am getting the same error https://github.com/weecology/DeepForest-pytorch/pull/41/checks?check_run_id=2179945044

[2021-03-24 00:33] dbamaster opened #17420 "Service objective update example is wrong"
[Enter feedback here]

The service objetive in the <code>az sql dw update</code> example is wrong. It has "S1" instead of something like "DW1000c".

Suggested example:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6c6ca27-08d8-9c51-d68e-dad749bf8402
* Version Independent ID: a4e3d208-2717-9761-3968-59bd943085

[2021-03-24 01:38] yonzhan commented on #17420
sql

[2021-03-24 02:40] BigCat20196 commented on #16443
hi @outcast, have you ever run the command `az network public-ip create` to create  a public IP addresses for the VM front-end network interface? Please describe what you did before running 'az vmss nic show', so that we can quickly locate and fix this issue. thanks

[2021-03-24 02:46] tommy-dunn commented on #13365
@yugangw-msft any update on this? Almost been a year, still looking for azure supported authentication flow with helm3.

[2021-03-24 03:27] msyyc commented on #17392
FYI note : 'privatedns' is in independent folder compared with 'dns' in 'network' folder.

[2021-03-24 03:36] qwordy commented on #17123
@ondrejbudai `vm delete` only deletes VM. We need to run other commands to delete other resources. Another way is delete the whole resource group. I think your suggestion is promising. I am also tired of deleting resources one by one.

[2021-03-24 04:24] banibrata opened #17422 "Debug log shows: cli.azure.cli.core.extension: Unable to get extension experimental/preview status"
**Describe the bug**
We are developing an extension for azure machine learning. It works fine, but while running a command with --debug I see a lot  of messages like below:
cli.azure.cli.core: Loading extensions:
cli.azure.cli.core: Name                  Load Time    Groups  Commands  Directory
cli.azure.cli.core.extension: Unable to get extension preview status: Traceback (most recent call last):

[2021-03-24 04:59] jsntcy commented on #17392
@rahisshaikh, please help take a look.

[2021-03-24 05:33] undervillain opened #17424 "webapp:az appservice plan show does not provide correct exit status"
**Describe the bug**
`az appservice plan show` does not provide correct exit status

**To Reproduce**
1. execute `az appservice plan show` with arguments describing a non-existent resource, for instance:

`az appservice plan show --resource-group nonesuch-rg-doesntexist --name nonesuch-app-doesntexist`

**Expected behavior**
non-zero exit status, similar to as provided by other `az <resource> show

[2021-03-24 06:14] msyyc commented on #17373
FYI. It is permitted without '--request-headers' and '--response-headers'. We will delete the unnecessary parameters check soon :
## Additionnal information
The code generating this error is here:
https://github.com/Azure/azure-cli/blob/b6ffdc153bec5ef46259f57538128d6ae6b406c9/src/azure-cli/azure/cli/command_modules/network/custom.py#L999

[2021-03-24 06:31] AdCognita opened #17426 "Sandbox Excerise : attempted manual cleanup of VM and resource group in CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group delete`

**Errors:**
The command failed with an unexpected error. Here is the traceback:
[Errno 30] Read-only file system: '/home/clouddenizen/.azure/commands/2021-03-24.06-20-03.group_show.247.log'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/

[2021-03-24 06:33] msyyc commented on #17270
FYI. Customer wants ''az network front-door backend-pool backend update" to update parameters of an existing backend in a backend-pool. (front-door is in 'extension' repo)

[2021-03-24 06:36] msyyc commented on #17269
the issue could be fixed together with https://github.com/Azure/azure-cli/issues/17270

[2021-03-24 08:00] pvrk commented on #17382
@sanghoon-damien-yang : Please pass the complete VM ID as VM as mentioned in this [document](https://docs.microsoft.com/azure/backup/quick-backup-vm-cli#enable-backup-for-an-azure-vm) in the 'Note' section

[2021-03-24 08:01] pvrk commented on #17382
Closing this since the solution is given. Can re-open if that doesn't help.

[2021-03-24 08:01] #17382 closed

[2021-03-24 08:04] yungezz commented on #17424
route to appropriate team

[2021-03-24 08:05] pvrk commented on #17413
@dcasota: Can you please clarify whether this is a portal error or CLI error? You mentioned that backup policy screen is always loading but filed this issue under CLI issues. Please clarify.

[2021-03-24 08:48] ktzyl opened #17431 "Need a cli command to show available skus in size list."
Need a cli command to show available skus in size list. I could not find a good way to do it only by az cli. So I made a workaround mixed with Bash shell. It will be great if I can do that in a single az cli command.
--------------------------------------------------------------
az vm list-skus -l westeurope --query '[].name' -o tsv >skuList.txt
az vm list-sizes -l westeurope -o table >sizeList.tx

[2021-03-24 09:17] #16824 closed

[2021-03-24 09:35] dcasota commented on #17413
@pvrk CLI throws a "Resource 'Microsoft.RecoveryServices/vaults/azure-backup' under resource group 'vmbackups' was not found." error as well.

Thanks on service attention to docs in advanced. For sure I'm missing something. I couldn't figure out how to enable the vm backup functionality.

[code]

Imho actually the content of the exercise in in https://docs.microsoft.com/en-us/learn/modules/protect

[2021-03-24 10:00] pvrk commented on #17413
@dcasota : Thanks for this clarification. I see that the VM is present in a different resource group than that of vault. Can you please modify the ```az backup protection enable-for-vm``` as suggested [here](https://docs.microsoft.com/azure/backup/quick-backup-vm-cli#enable-backup-for-an-azure-vm)?

[code]

[2021-03-24 10:00] pvrk commented on #17413
If this works, please let me know. I will work on changing the example in the exercise content.

[2021-03-24 11:03] dcasota commented on #17413
yes, this works for me.

[code]

On the exercise in step "2. Create a resource group to contain all the resources for this exercise." your suggestion to enable backup protection if not already enabled, helps to accomplish the task successfully.

[2021-03-24 11:03] yonzhan commented on #17426
ARM

[2021-03-24 11:35] pvrk commented on #17413
@dcasota : Thanks for verifying.

Basically, the current CLI command will work if both VM and vault are present in same RG. The updated example will work when the VM and vault are present in different RGs. But I will update the CLI example with the latest one since it will work in any scenario.

Working with the PMM to fix this.

[2021-03-24 12:11] jiasli opened #17435 "Recording YAML shouldn't include `index.json` and `.whl` files"
**Describe the bug**

If an extension is installed by a command module in main repo, the recording `.yaml` file includes

https://github.com/Azure/azure-cli/blob/5b95a87f0294ee95feae1a43a14aa8e0656dea3a/src/azure-cli/azure/cli/command_modules/network/tests/latest/recordings/test_private_link_resource_event_grid.yaml#L58

[code]

https://github.com/Azure/azure-cli/blob/5b95a87f0294ee95feae1a43a14aa

[2021-03-24 12:40] timothy-netapp commented on #16148
Just ran into this with az v2.21.0 kubectl 1.20.2 on MacOS 11.2.2 installed via brew.  Ran get-credentials and it updated the default kube config file, not the one referenced by KUBECONFIG environment variable.

[2021-03-24 13:06] geertn commented on #17272
The error you mention is stating that the AppGW should be in the same Vnet as the PLS. In my case that condition is met. My problem is about the Resource Group and that az-cli assumes the AppGw is in the same Resource Group as the Vnet.

[2021-03-24 13:23] yungezz commented on #17431
could be enhancement to table output

[2021-03-24 14:17] srothery commented on #16956
Still needing help on this one if anyone has met this issue before

[2021-03-24 15:08] jainr commented on #13518
Just now had the same issue for a template that I took from the template repo.

[2021-03-24 15:42] mattsmall1972 opened #17436 "JSON requires escaped double quotes"
**Describe the bug**
When passing JSON to CLI, an error occurs:
az : Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

**To Reproduce**
PS C:\Users\msmall.NORTHAMERICA> az monitor diagnostic-settings create `
-n "msmall-01" `
--resource "/subscriptions/<subscriptionid>/resourceGroups/SME/providers/Microsoft.DocumentDB/databaseAccounts/msmall" `
--event-hub "msmall" `
--e

[2021-03-24 15:46] Kotasudhakarreddy commented on #17424
Able to repro the issue. Will work on this in future releases.

[2021-03-24 16:03] Kotasudhakarreddy commented on #17415
@nordquist - this is because the discrepancy b/w the OS of `appservice` and the `deployment code ` your are trying to deploy. Here the `appservice` is of `windows` type and the deployment code form `'D:\Work\HaW\Code\happyatwork-admin\admin-ui` is of `Linux`. Please try with same OS types. If you still face the issue please reply back with `--debug` log.

[2021-03-24 16:08] Mikej81 opened #17437 "After update cannot create ManagedClusters with azure-cli local or cloudshell in GovRegions."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --node-count {} --node-vm-size

[2021-03-24 17:33] rahuls-microsoft commented on #17339
Hi, What do I need to add in the PR?
Copy the files generated from- https://github.com/AzureSDKAutomation/azure-cli-extensions/pull/700

Please guide me through the process.
Thanks.
Rahul.

[2021-03-24 18:14] williamohara opened #17439 "az acr helm install-cli kills previous installs of helm"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
i used helm directly to deploy open source packages directly to my Azure Kubernetes Cluster. I wanted to start to develop my own charts  for my containers in acr. everything stopped working when I entered `az acr helm install-cli` now I just want to undo what I  just did - and I don't se any other way to do so

[2021-03-24 21:52] coelho5br commented on #17219
@panchagnula
We got some cases related to this

[2021-03-24 22:13] panchagnula commented on #17219
@calvinsID can you take a look at this especially since this states that this is a regression from this change https://github.com/Azure/azure-cli/pull/16778

[2021-03-24 22:27] Matovic opened #17442 "az webapp up failed with an unexpected error"
## Describe the bug

Everything worked fine, but my Azure for Students subscription was deactivated, so I upgraded to Pay-as-you-go and since then I can't deploy the app even though the az login works and app is ready. Location is West Europe.

Failed with an unexpected error.

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior.

- `az login`
- `a

[2021-03-24 23:22] yonzhan commented on #17435
Recording

[2021-03-24 23:28] yonzhan commented on #17436
monitor

[2021-03-24 23:30] Matovic commented on #17442
[Solved] App memory was smaller than my deploy.

[2021-03-24 23:30] #17442 closed

[2021-03-25 01:56] jiasli commented on #17436
@mattsmall1972, I believe you are hitting [Quoting issues with PowerShell](https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-with-powershell.md). That's why double quotes need to be escaped again as `\"` with CMD syntax.

[2021-03-25 01:58] yungezz commented on #17439
route to appropriate team

[2021-03-25 01:58] yungezz commented on #17437
route to appropriate team

[2021-03-25 01:59] yungezz commented on #17422
cc @yonzhan

[2021-03-25 02:01] jiasli commented on #17436
BTW, your string provided in **Additional context** is not rendered correctly. Even though you do escaped double quotes:

![image](https://user-images.githubusercontent.com/4003950/112407396-fd35e580-8d50-11eb-848a-c6871cb0c22e.png)

Markdown removes the backward slash in normal text, so it should be marked as code block to get the raw string displayed:

[code]

[2021-03-25 02:15] hoangelos opened #17444 "UnicodeError thrown when using az login without browser"
UnicodeError thrown when you do an az login with a username and password. I was using lhomebrew on my Mac, and thought it was related, so I

docker run -it mcr.microsoft.com/azure-cli

And got the same error.

bash-5.0# az login -u peter.halliday@walgreens.com -p ************
The command failed with an unexpected error. Here is the traceback:
'ascii' codec can't encode characters in position 1617-

[2021-03-25 02:16] yonzhan commented on #17444
@jiasli for awareness

[2021-03-25 02:20] Juliehzl commented on #17189
As mentioned in https://github.com/Azure/azure-powershell/issues/14395#issuecomment-804596969, the issue is resolved now.

[2021-03-25 02:20] #17189 closed

[2021-03-25 02:37] yugangw-msft commented on #17137
@r3-jerrysteele, sorry for missing this. The best way to diagnose this is to verify the DNS setting. If not resolving to the private ip, then the error is expected. Doc is here:

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-private-link#validate-private-link-connection.

Please let us know what you found out

[2021-03-25 02:39] msyyc commented on #17272
@geertn As I described, azure-cli send the request to service server, but service server response error. It means that it is service server request vnet should be in the same RG with AppGW. azure-cli is a client tool and is responsible to send correct cmd to service server. If service server does not support this kind of usage, we may help to add 'service attention' label to cause attention of ser

[2021-03-25 03:25] yugangw-msft commented on #17439
`az acr helm install-cli` installs 2.16.3. If you remember the old version, you can run the command again with `--client-version` to do so.

[2021-03-25 04:03] mrsquish commented on #17335
This seems to be resolved, the branch that get's created by default is now back to "master"

[2021-03-25 04:59] qiaozha commented on #17339
You can cherry-pick the commits https://github.com/AzureSDKAutomation/azure-cli-extensions/pull/700/commits

Or you can run `autorest --az` in your local then submit those generated files after you make sure `azdev test <your-module-name> --live` passes.

[2021-03-25 05:23] tapanp opened #17447 "WebApp:az webapp deploy throws error after successful copy"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I tried to copy my spring boot webapp.jar (size: ~213Mb) using following command

```az webapp deploy --name plan2test --resource-group xxx-rg --src-path path_to_local_webapp.jar --type static --target-path path_to_local_webapp.jar --verbose```

az --version
[code]

While transfer was successful, I got followin

[2021-03-25 07:40] msyyc commented on #17104
@setunol I have a try to create private-endpoint with subnetid which is in different resource group and it could work.(please use 'az network vnet subnet update -g yyc2 --vnet-name vnet-yyc2 --name subnet-yyc2 --disable-private-endpoint-network-policies true' before use the subnetid)

![image](https://user-images.githubusercontent.com/70930885/112435866-43566d80-8d80-11eb-97d7-9717ee9c0612.png)

[2021-03-25 08:15] yungezz commented on #17447
route to appropriate team

[2021-03-25 08:31] msyyc commented on #17402
not network, it is new service base on azure-mgmt-delagatednetwork which has not been released before.

[2021-03-25 09:26] cveld opened #17452 "Is there way to set up an Az Cli session with only an access token?"
In the PowerShell Az modules ecosystem you have the `Connect-AzAccount -AccessToken` option. Is something comparable available for Az CLI?
We have use cases where ideally only an access token is shared instead of a principal id and principal secret.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9abfaa54-0895-29f7-f3bb

[2021-03-25 09:47] yonzhan commented on #17452
@jiasli for awareness

[2021-03-25 09:54] geertn commented on #17272
Hi @msyyc I might misunderstand you, if so please forgive me. however in the error that you show I see the following text:
"All subnets for PrivateLinkConfiguration ....xx-waf-apigw-pls should be in the same vnet as ApplicationGateway Subnet".

This error specifically mentions the subnet not the Resource Group. Is it possible that you tested this with the subnet not belonging to the same Vnet?

[2021-03-25 10:35] vveider commented on #11945
@kimitake — so how did you resolved the issue?

[2021-03-25 10:51] vveider commented on #6175
@kwoodson — can you please update how did you solve the problem.
`az storage container generate-sas` still generates Singature did not match error.

[2021-03-25 11:05] vveider opened #17453 "`az storage container generate-sas` does not produce string that is accepted by SAS URI"
**Describe the bug**
`az storage container generate-sas` generates string that cannot be used in SAS URI field while updating offer in Azure Marketplace.
The error is
[code]
Direct URL hit produces the following error.
[code]

**To Reproduce**
`az storage container generate-sas --name gg-vhd-8-8-3.vhd --account-key <account-key> --account-name ggvhd883diskstest --auth-mode key --permissions lr --s

[2021-03-25 11:56] cbellee opened #17454 "Add the ability to enable ATP for Azure Storage using azure-cli"
Question:
The Docs article [here](https://docs.microsoft.com/en-us/azure/storage/common/azure-defender-storage-configure?tabs=azure-security-center) describes how to enable Advanced Threat Protection for Azure Storage using a variety of methods, but there's no mention of how to use azure-cli to achieve this.

Desired Solution:
The ability to enable ATP for Azure storage using the azure-cli, ideall

[2021-03-25 11:59] DSpirit commented on #17029
@malikouadfel have you tried adding the --specification-format parameter?
E.g. `--specification-format OpenApi`
I get the same error when not passing it.

[2021-03-25 12:07] cbellee opened #17455 "Ability for 'az deployment group create' command to automatically create the specified resource group if it doesn't already exist"
When testing ARM templates, a very common pattern is to create a resource group and then immediately deploy the template into it. Currently this requires two steps:

	az group create -n MyResourceGroupName -l location
	az deployment group create -g MyResourceGroupName -f template.json

It would be great if we had a single step operation to do both of these. Please consider adding the ability for t

[2021-03-25 12:44] Divyansh00 opened #17457 "az cosmosdb : Collection exists and Gremlin graph exists command show different results"
Repo:

Enable firewall for the cosmos db account
Run the following commands from the test machine, whose IP is not whitelisted in the cosmos db
az cosmosdb collection exists --collection-name $collectionName --db-name $dbName -n $accountName -g $resourceGroupName
az cosmosdb gremlin graph exists -n $collectionName -d $dbName -a $accountName -g $resourceGroupName
Expected result :
Both the command

[2021-03-25 13:00] georgeAccnt-GH opened #17458 "I can not az login"
**Describe the bug**

I am using a freshly pulled mcr.microsoft.com/azure-cli (as described in https://docs.microsoft.com/en-us/cli/azure/run-azure-cli-dockers)
	run: az login, get the regular:
	To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code A73PMXDXN to authenticate.

	I follow the regular signin process in browser, and in stead of being pointe

[2021-03-25 13:05] jiasli commented on #17444
The error is raised by ADAL:

https://github.com/AzureAD/azure-activedirectory-library-for-python/blob/f1bc11d5b6e0ace54d7f5ed6972a098547638df2/adal/wstrust_response.py#L217

[code]

Transferring to ADAL repo https://github.com/AzureAD/azure-activedirectory-library-for-python/issues/250

[2021-03-25 13:08] yonzhan commented on #17453
storage

[2021-03-25 13:10] yonzhan commented on #17454
Storage

[2021-03-25 13:12] yonzhan commented on #17455
ARM

[2021-03-25 13:13] jiasli commented on #17458
This is a known issue of Microsoft tenant. Please see https://github.com/Azure/azure-cli/issues/17273#issuecomment-796384345for for solutions.

[2021-03-25 13:13] #17458 closed

[2021-03-25 13:15] jiasli commented on #17452
This feature request is being tracked at https://github.com/Azure/azure-cli/issues/16459. You may vote on that.

[2021-03-25 13:19] jiasli commented on #17416
The error was refined in https://github.com/Azure/azure-cli/pull/17051. Please see https://github.com/Azure/azure-cli/issues/16862#issuecomment-783922013 for the solution.

[2021-03-25 13:21] #17273 closed

[2021-03-25 13:22] #17325 closed

[2021-03-25 13:24] #17452 closed

[2021-03-25 13:25] yonzhan commented on #17457
cosmosdb

[2021-03-25 13:27] jiasli commented on #17254
Good suggestion. It is being tracked at https://github.com/Azure/azure-cli/issues/13285.

[2021-03-25 13:27] #17254 closed

[2021-03-25 13:29] #17416 closed

[2021-03-25 13:59] mrweiland opened #17459 "Problem with az devops security with on-premise azure devops server 2020"
## Describe the bug
Onpremise azure devops 2020 cant get security groups or permissions.

I tried with ados.xxx.se/defaultcollection and without defaultcollection as default. I login with PAT token. Other commands work but with this commands regarding security i cant run commands.

PAT token are created with full access and im administrator on the system.

It seems i cant do anything with az devop

[2021-03-25 14:07] Juliehzl commented on #11945
please use `az storage container generate-sas` instead of `az storage blob generate-sas`.

[2021-03-25 14:09] Juliehzl commented on #6175
please make sure you are using correct account key to generate sas. To get valid account key, you could use `az storage account keys list`

[2021-03-25 14:13] vveider commented on #6175
With incorrect key the whole request is failed while my problem is in fact that sig field that is generated does no match with command line (I do not know why).

[2021-03-25 14:17] vveider commented on #11945
It does not work ¯\_(ツ)_/¯
https://github.com/Azure/azure-cli/issues/17453

[2021-03-25 14:30] watsonb commented on #16014
Any updates on this?  I'm suddenly running into this now.

[code]

[2021-03-25 14:41] Kotasudhakarreddy commented on #17447
Same issue has been tracking under #17228. Closing this as a duplicate. For more details please refer to #17228

[2021-03-25 14:41] #17447 closed

[2021-03-25 14:57] Kotasudhakarreddy commented on #17419
@panchagnula - seems this error has been returned by the API. could you please check this one.

[2021-03-25 14:59] Kotasudhakarreddy commented on #17371
@calvinsID could you please check this one.

[2021-03-25 15:25] setunol commented on #17104
@msyyc  The issue is not with the subnet ID from a different resource group.  It's the issue with using subnet ID from a different subscription (as mentioned on the documentation below).

--subnet
Name or ID of an existing subnet. If name specified, also specify --vnet-name. **If you want to use an existing subnet in other resource group or subscription,** please provide the ID instead of the name

[2021-03-25 15:29] abassett-nh opened #17460 "az command not executable"
## Describe the bug

**Command Name**
`az login`

**Errors:**
`-bash: /home/ubuntu/aztest/bin/az: Permission denied`

## To Reproduce:
[code]
## Expected Behavior
az should be installed with the executable bit set:

[code]

setting the bit fixes it
[code]
## Environment Summary
[code]
## Additional Context

[2021-03-25 15:47] gsuttie opened #17461 "Value should be set as required"
[Enter feedback here]
The docs say that for creating a keyvault secret that the -value isnt required but it is required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39cfb8ed-c246-2ffb-9dff-070b90c18b21
* Version Independent ID: c09c1597-1b6c-b0a2-b3fc-bdc16764d096
* Content: [az keyvault secret](https://docs.microso

[2021-03-25 16:42] #17335 closed

[2021-03-25 16:44] panchagnula commented on #17419
@timheuer apologize but the detailed error message currently is not displayed by default in CLI commands & --debug is usually the recommended approach for CLI commands - you do have a good point about adding the info about using --debug to all error/warning messages. Will check with core-cli folks on
1. displaying detailed error messages as default
2. exposing the use of --debug.
@yonzhan -- will

[2021-03-25 16:45] panchagnula commented on #17328
Please check quoting issues https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#quoting-issues based on the terminal being used. Hope this helps.

[2021-03-25 17:02] carync5 opened #17462 "Unable to install aks cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**

[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[c

[2021-03-25 17:33] solita-burri commented on #14091
Hi, as Azure is now by default enabling soft delete on key vaults I feel like this issue needs a higher priority. Developers are almost always working with Contributor level access and therefore this issue causes a lot of frustration and unnecessary debugging (like seen in #14396).
Please consider implementing a mitigation even though I understand that the root cause is a bit complex (and one coul

[2021-03-25 17:34] #17462 closed

[2021-03-25 17:34] carync5 commented on #17462
It was a proxy issue which I was able to resolve.

[2021-03-25 17:37] mattsmall1972 commented on #17436
@jiasli It appears you are correct that I am running into the known problem. However, is this expected to be fixed or is it by-design?

[2021-03-25 17:44] apawast commented on #17201
@gzuber could please help investigate?

[2021-03-25 17:44] apawast commented on #17296
@gzuber could please help investigate?

[2021-03-25 17:44] apawast commented on #17403
@gzuber could please help investigate?

[2021-03-25 17:49] jlichwa commented on #14091
@solita-burri not sure I understand. Contributor level access has '*' which include above permissions.
The problem occur when user does not have Contributor access.

[2021-03-25 18:32] rayluo commented on #17444
Hi @hoangelos , would you mind alter this:

and change that line from:

[code]

to

[code]

and let us know how it pans out?

If that still won't work, we would need you to add one more line `open("/tmp/saml.txt", "w").write(tokens[0])` before it, and then send that /tmp/saml.txt file to my email, so that we can follow up with further investigation.

[2021-03-25 18:34] mihaimircea commented on #12042
Hi, I'm getting this from Azure Cloud Shell trying to execute `az aks show` on a 1.18.14 cluster
[code]
So the version of the cluster dictates the API version az cli will use ?

[2021-03-25 18:44] timheuer commented on #17419
Thank you @panchagnula -- just looking for a little more hinting as the current state was unhelpful and didn't direct me to how it could be more helpful.

[2021-03-25 19:31] hoangelos commented on #17444
@rayluo I made that change and it worked.

[2021-03-25 19:38] #17358 closed

[2021-03-25 19:40] anoop7181 commented on #17358
The ServicePrincipal key was not updated properly on expiry. After the AKS successful update-credential, we were able to enable insights using Azure CLI.

[2021-03-25 20:22] ishanic opened #17465 "az login fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2021-03-25 20:36] Vaibhav-Agar commented on #16385
This is in the backlog but doesn't have an ETA right now.

[2021-03-25 20:56] evgenyb opened #17466 "Failed upgrading vmss extensions"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Tried to upgrade extensions for my VMSS.

**Command Name**
`az vmss extension upgrade --ids`

and same error when I tried

`az vmss extension upgrade -g RGNAME -n VMSS_NAME`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain s

[2021-03-25 21:05] daweim0 opened #17467 "az connectedk8s connect crashes with native module load error"
## Describe the bug

**Command Name**
`az connectedk8s connect`

**Errors:**
[code]

here is the full error message: (not sure if I should leave the above auto-generated one as is)
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az connectedk8s connect --name {} --resource-group {}`

## Expected

[2021-03-25 23:30] yonzhan commented on #17459
devops

[2021-03-25 23:34] yonzhan commented on #17460
@jiasli for awareness

[2021-03-25 23:43] yonzhan commented on #17465
@jiasli for awareness

[2021-03-26 00:19] caseymullineaux opened #17468 ""KeyError: 'tag_name'" error when attempting to decompile an ARM template"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When trying to decompile a template, I get the verbose error below.
The ARM template is perfectly valid, and I can deploy it successfully using the CLI.

For reference, this is the template i'm trying to decompile.

[code]

**Command Name**
`az bicep decompile`

**Errors:**
[code]

## To Reproduce:
Steps to re

[2021-03-26 00:47] caseymullineaux commented on #17468
There's also an interesting observation I've made...

The decompile command works initially, however when I run a script that processes roughly 150ish arm templates, the decompile command will start to fail around the 50-60th template it's processing. From that point on, ANY template I try to decompile, even one's that decompiled successfully a few moments ago, will fail with the above error.

![i

[2021-03-26 00:48] yonzhan commented on #17468
route to service team

[2021-03-26 01:19] yungezz commented on #17467
hi @fengzhou-msft could you have a look firstly is it related to cryptography ? thanks

[2021-03-26 01:20] yungezz commented on #17466
hi @qwordy, could you have a look?

[2021-03-26 01:21] yungezz commented on #17461
hi @BigCat20196 could you pls help to have a look? thanks

[2021-03-26 01:44] Juliehzl commented on #17453
`gg-vhd-8-8-3.vhd` is blob name. please use `az storage container generate-sas --name vhds --account-key <account-key> --account-name ggvhd883diskstest --auth-mode key --permissions lr --start 2021-03-24T00:00Z --expiry 2023-03-24T00:00Z -o tsv`

[2021-03-26 01:54] jiasli commented on #17436
@mattsmall1972, I am glad to know it works!

This is a has been a known issue of PowerShell for a long time, but fixing it will actually cause huge breaking changes. It is being traced at https://github.com/PowerShell/PowerShell/issues/1995.

[2021-03-26 01:54] #17436 closed

[2021-03-26 01:57] jiasli commented on #17444
Thanks @hoangelos for the confirmation. I will close this issue from Azure CLI side.

[2021-03-26 01:57] #17444 closed

[2021-03-26 02:01] jiasli commented on #16014
This is because you used an incorrect API version/profile on Azure Stack and triggered an Azure Stack bug https://github.com/Azure/azure-rest-api-specs/issues/9567.

I have already fixed it in https://github.com/Azure/azure-cli/commit/24fe6f6a5843518639f0f3a16a9b7a3e64e103e2 and the change is included since `2.15.0`.

[2021-03-26 02:04] #16014 closed

[2021-03-26 02:08] jiasli commented on #14969
This is because you used an incorrect API version/profile on Azure Stack and triggered an Azure Stack bug https://github.com/Azure/azure-rest-api-specs/issues/9567.

I have already made a better error message in https://github.com/Azure/azure-cli/pull/15550. Per https://github.com/Azure/azure-cli/commit/24fe6f6a5843518639f0f3a16a9b7a3e64e103e2, the change is included since `2.15.0`.

[2021-03-26 02:08] #14969 closed

[2021-03-26 02:12] jiasli commented on #13642
Error message is improved in https://github.com/Azure/azure-cli/pull/15550.

[2021-03-26 02:13] jiasli commented on #13776
Error message is improved in #15550.

[2021-03-26 02:22] msyyc commented on #17272
@geertn I think now the question is whether it is permitted if vnet is not in the same Resource Group with AggGW. I tried and found that service server response error if that. So let us wait for service team to explain it.

[2021-03-26 02:28] fengzhou-msft commented on #16566
Close as it's caused by an incompatible version of `azure-mgmt-containerregistry` installed together with `azure-cli`.

[2021-03-26 02:28] #16566 closed

[2021-03-26 02:36] jiasli commented on #17465
Please provide the error message you see when `az login` fails.

Also, I noticed you are using a very old version `2.3.1`. Please [install the latest Azure CLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and see if the issue is gone.

[2021-03-26 02:43] caseymullineaux commented on #17468
Another quick update after some more troubleshooting:
The problem does not occur when running the same steps using the bicep binary (`bicep.exe`). This is my workaround for now.

[code]

[2021-03-26 02:57] qwordy commented on #17466
Change `start_extension_upgrade` to `begin_start_extension_upgrade` should fix this bug.

[2021-03-26 02:59] fengzhou-msft commented on #17150
I tried to set cleanup off with `HOMEBREW_NO_INSTALL_CLEANUP=1`, but a bunch of packages like `ansible` will still be updated. `brew` somehow treats these packages as related, will invistigate further about this behavior.

[2021-03-26 03:10] yonzhan commented on #17158
@neethirshetty any feedback or update?

[2021-03-26 03:16] worldspawn commented on #8934
What exactly happened here?? running 2.2.0
[code]

`--context` appears to do absolutely nothing.

[2021-03-26 03:16] yonzhan commented on #17311
@anavinahar any feedback or update?

[2021-03-26 03:17] worldspawn commented on #8934
Ah its works after I remove the original context that i didn't specify the name of.

[2021-03-26 03:28] aim-for-better commented on #16815
fixing, will submit pr soon

[2021-03-26 03:30] kairu-ms commented on #16815
Fixing

[2021-03-26 03:38] fengzhou-msft commented on #17467
The Crypto dependency is from the extension, route to service team to take a look.

[2021-03-26 03:46] vsabella commented on #17437
We updated to latest Azure CLI and all AKS functions in GovCloud are failing. Same error:

No registered resource provider found for location 'usgovvirginia' and API version '2021-02-01' for type 'managedClusters'.

[2021-03-26 03:47] fengzhou-msft commented on #16918
@missa112 try to update your pip with: `python3 -m pip install -U pip`

[2021-03-26 03:48] fengzhou-msft commented on #16858
Please try with Azure CLI 2.21.0. The issue should be resolved.

[2021-03-26 03:56] neethirshetty commented on #17158
This is for virtual wan and  #17260 is for VNG.
In this VWan scenario:
The PS command **New-AzVpnServerConfiguration**
[-VpnClientRootCertificateFilesList <String[]>] [-VpnClientRevokedCertificateFilesList <String[]>]
[-RadiusServerAddress <String>] [-RadiusServerSecret <SecureString>] [-RadiusServerList <PSRadiusServer[]>]
 [-RadiusServerRootCertificateFilesList <String[]>] [-RadiusClientRootCert

[2021-03-26 05:15] fengzhou-msft commented on #15074
Close due to inactivity. Please feel free to open new issues if the latest Azure CLI still does not work for you.

[2021-03-26 05:15] #15074 closed

[2021-03-26 05:28] fengzhou-msft commented on #17378
@SenseiJoe It looks like you may be interested in the auto-upgrade feature. You can enable it by running:
`az config set auto-upgrade.enable=yes auto-upgrade.prompt=no` Azure CLI will then periodically check for new versions and auto-upgrade when a command finishes running.

[2021-03-26 06:17] usrme opened #17469 "Update Kali Linux image version in Azure Marketplace"
**Is your feature request related to a problem? Please describe.**

When using the latest available Kali Linux image in the Azure Marketplace I have to go through an arduous and time-consuming process to update the operating system to the latest available version. This takes several hours and upgrade path is riddled with pitfalls as the image is so dated that you can't just do an `apt dist-upgrade

[2021-03-26 06:26] #16307 closed

[2021-03-26 06:29] fengzhou-msft commented on #16088
The `providerhub` extension is released.

[2021-03-26 06:29] #16088 closed

[2021-03-26 06:31] fengzhou-msft commented on #15434
We've added retry for fetching the extension index file. This issue should be mitigated.

[2021-03-26 06:31] #15434 closed

[2021-03-26 06:49] #17379 closed

[2021-03-26 07:29] #17393 closed

[2021-03-26 07:30] vveider commented on #17453
Oh, thanks! That solves the issue!
Do you know how can I raise a ticket about documentation updates? (https://docs.microsoft.com/en-us/cli/azure/storage/container?view=azure-cli-latest#az_storage_container_generate_sas)

[2021-03-26 07:30] #17453 closed

[2021-03-26 08:19] solita-burri commented on #14091
@jlichwa Ah sorry, formulated that badly. Developers are often working with rg level Contributor rights (in result of least priviledge and [MS best practises](https://docs.microsoft.com/en-us/azure/cloud-adoption-framework/decision-guides/subscriptions/). This leads in situations where developers can create and delete a keyvault succesfully but then it becomes invisible to them.

[2021-03-26 08:39] usrme commented on #17460
I'm not affiliated with Microsoft nor the Azure CLI, but I just tested the exact same steps as you provided on my own machine and was unable to reproduce this :thinking:

What is the output of the `umask` command?

[2021-03-26 08:52] jiasli commented on #17460
Thanks @usrme. I also tested with a clean Ubuntu 20.04 VM and couldn't repro it.

[2021-03-26 10:12] finlaysawyer commented on #16858
Yep, all working now that the pip upgrade is performed. Thanks

[2021-03-26 11:33] usrme commented on #17460
Yeah, it seems like a super specific client-side issue. I would go ahead and close this if I were you.

[2021-03-26 12:30] rahisshaikh commented on #17392
Private DNS record set A record add command currently does not support --ttl and --if-none-match filed in cli command. Which is in parity from DNS zone.

We will work on this new feature request.

https://docs.microsoft.com/en-us/cli/azure/network/private-dns/record-set/a?view=azure-cli-latest#az_network_private_dns_record_set_a_add_record
Below options to be enable for this operation.

--if-none-

[2021-03-26 13:17] abassett-nh commented on #17460
[code]

fwiw i'm using a cis hardened ubuntu image from the azure marketplace: "CIS Ubuntu Linux 20.04 LTS Benchmark L1"

This is the only python package I've encountered with this issue. The others I've installed on the same node all correctly mark their executables executable.

[2021-03-26 14:33] mattsmall1972 opened #17478 "JSON requires escaped double quotes"
When using JSON as part of a CLI command, the double quotes must be escaped or an error will occur.  The problem is described here:  https://github.com/Azure/azure-cli/issues/17436

The documentation shows the following:

**--logs
JSON encoded list of logs settings. Use '@{file}' to load from a file.**

The request is that you make it clear that double quotes must be escaped.
--
#### Document Deta

[2021-03-26 14:34] yungezz commented on #17469
route to compute service team. The offer is managed by service team.

[2021-03-26 14:56] hoangelos commented on #16764
I still get this error.  Even though I have aks-preview installed

`bash$ az version
{
  "azure-cli": "2.21.0",
  "azure-cli-core": "2.21.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "aks-preview": "0.5.6",
    "azure-devops": "0.18.0",
    "databricks": "0.5.0",
    "interactive": "0.4.4"
  }
}`

Then when I try to use the -auto-upgrade-channel it fails in the same way despite the

[2021-03-26 14:56] yonzhan commented on #17478
@kairu-ms for awareness

[2021-03-26 19:00] keithsmith-ascendum commented on #16138
This is a crappy feature. Been fighting this for a few hours trying to purge hidden resources.

[2021-03-26 22:13] memontic-ms opened #17481 "Generate Communication 1.0.0 CLI extension"
**Resource Provider**

Azure Communication Services (short name: Communication)

**Description of Feature or Work Requested**

Generation of CLI extension
Release 1.0.0 version for GA

Currently the service has a public preview version, 0.1.0, available:
https://github.com/Azure/azure-cli-extensions/tree/master/src/communication

**Minimum API Version Required**

2020-08-20

**Swagger Link**

http

[2021-03-26 22:32] irenehua opened #17482 "<az network public-ip update> Parameter SKU is deprecated"
![image](https://user-images.githubusercontent.com/59070966/112699089-546ab180-8e48-11eb-97ef-f751d7b7f978.png)
Why are we deprecating SKU? This is the only CLI command customers can use the upgrade their IP from Basic to Standard

[2021-03-27 01:03] jerowlan opened #17483 "Running the command "az acr login" results in the error 'acr' is misspelled."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`Unknown`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Install Azure CLI version 2.21.0
- `az acr login`

## Expected Behavior

## Environment Summary
[code]
## Additional Cont

[2021-03-27 01:19] #17483 closed

[2021-03-27 01:23] jerowlan commented on #17483
PEBKAC. Figured it out. I didn't understand what I was doing when I selected a cloud profile. I changed it to latest and I see now it changes which commands are available. I hadn't upgraded the cli in a while so that step was new to me.

[2021-03-27 02:39] yonzhan commented on #17482
@msyyc please take a look

[2021-03-27 11:55] ad0sm opened #17484 "First time with Azure Trial - error when creating RG, or anything else"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group create --name --location {}`

## Expected Behavior

## Environm

[2021-03-27 12:06] ad0sm commented on #17484
just needed to restart cloud shell

[2021-03-27 12:06] #17484 closed

[2021-03-28 17:46] MaisaDaoud commented on #7447
same here in NZ, azure shell and the portal shell are too slow.

[2021-03-28 19:01] qwordy opened #17485 "Live test regression"
This issue is created by a program.
[Latest testing results of Azure CLI](https://clitestresultstac.blob.core.windows.net/latest/index.html)
[User Manual of Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EZGC9LwrN3RAscVS5ylG4HMBX9h7W0ZSA7CDrhXN5Lvx6g?e=V8HUmd)
[Upgrading API Versions in Azure CLI Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EcgPLHSkef9Mi14Rj

[2021-03-28 21:21] nreed84 opened #17487 "az bash shell query examples non-exist"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9abfaa54-0895-29f7-f3bb-ff604912b2ac
* Version Independent ID: d1ff3478-8a86-59e4-62ef-449900132a67
* Content: [az account](https://docs.microsoft.com/en-US/cli/azure/account?view=azure-cli-latest#az_account_list)
* Content Source: [latest/docs-ref-au

[2021-03-28 23:34] yonzhan commented on #17485
@zhoxing-ms @Juliehzl for awareness

[2021-03-28 23:36] yonzhan commented on #17487
@jiasli for awareness

[2021-03-29 02:05] msyyc commented on #12570
The deprecation is to fix https://github.com/Azure/azure-cli/issues/12570. In the future, sku can not be updated after creation for public ip.

[2021-03-29 02:06] msyyc commented on #17482
The deprecation is to fix https://github.com/Azure/azure-cli/issues/12570. In the future, sku can not be updated after creation for public ip.

[2021-03-29 02:21] jiasli opened #17490 "`az repos` take 100+ seconds to run"
Hi,

I am running some az-cli commands that are taking forever to complete.
My python script logs the user in ADO by: cat ~/.ssh/ado.pat | az devops login;

Following are the commands that are a part of my script and get called multiple times in a loop:
**az repos list --org https://dev.azure.com/my-org/ --project my_project --query ‘[\*].name’;
az repos show --org https://dev.azure.com/my-org/ --

[2021-03-29 02:22] jiasli commented on #7447
@PushkarVaity,

The delay should be caused by `azure-devops` service issue. Investigating in https://github.com/Azure/azure-cli/issues/17490.

[2021-03-29 02:22] yungezz commented on #16397
close since no response. feel free to create new issue if any other error met.

[2021-03-29 02:22] #16397 closed

[2021-03-29 02:26] BigCat20196 commented on #17461
hi @gsuttie  The docs say that for creating a keyvault secret that -value isn required is because the parameter '--value' or '--file' can be selected in the optional parameter description, and they cannot exist simultaneously.
I guess when you use the 'az keyvault secret set' command and only enter the parameters ' -- name ' and '-- vault name',  an error statement like 'incorrect usage: [Required

[2021-03-29 02:28] jiasli commented on #7447
@MaisaDaoud, please see my comment at https://github.com/Azure/azure-cli/issues/7447#issuecomment-666058032.

A client-side command now only takes 400ms on Windows:

[code]

Please share the command you used and open a new issue for us to investigate. Thanks.

[2021-03-29 02:28] #7447 closed

[2021-03-29 02:31] yonzhan commented on #17490
route to service team to take a look

[2021-03-29 03:11] #17219 closed

[2021-03-29 03:34] MaisaDaoud commented on #7447
time az --version
real    0m1.039s
user    0m0.328s
sys     0m0.060s
--------------------------------------
time kubect
real    0m5.654s
user    0m0.086s
sys     0m0.026s

[2021-03-29 08:11] #16931 closed

[2021-03-29 08:12] fengzhou-msft commented on #16931
The fix will be released with azure-cli `2.22.0` on 04/13/2021.

[2021-03-29 08:35] qwordy commented on #17223
@roipmsft When will the 2021-03-01 API be merged into master branch?

[2021-03-29 08:45] DanielLarsenNZ commented on #7447
Re-running my test [az-cli-vs-ps.ps1](https://github.com/DanielLarsenNZ/examples/blob/main/Scripts/Utilities/az-cli-vs-ps.ps1)
[code]

PowerShell is still faster, but AZ CLI performance is much better compared to [one year ago](https://github.com/Azure/azure-cli/issues/7447#issuecomment-600291475). Thanks team! 🎉

[2021-03-29 08:51] yungezz commented on #16658
https://github.com/Azure/azure-cli/issues/16747

[2021-03-29 09:04] qwordy commented on #16747
@ajjha-az According to Jerry's latest email, Azure CLI has supported all available features now. Next is Public Preview 5/3.

[2021-03-29 09:04] #16747 closed

[2021-03-29 09:04] qwordy commented on #16658
According to Jerry's latest email, Azure CLI has supported all available features now. Next is Public Preview 5/3.

[2021-03-29 09:19] qwordy commented on #16790
@rane-rajasi Added to S185

[2021-03-29 10:10] kufelm commented on #15225
Any news?

[2021-03-29 10:40] jiasli commented on #7447
@MaisaDaoud, how is the performance of `az version` without `--`?

[2021-03-29 13:31] Juliehzl commented on #17454
Thanks for your feedback! Azure CLI supports it with `az security atp storage -h`, but it is not documented. @tamram could you help add Azure CLI part？

[2021-03-29 14:01] ajjha-az commented on #16038
@qwordy -  Any update?

[2021-03-29 14:17] #17377 closed

[2021-03-29 14:21] kufelm commented on #13352
Any news?

[2021-03-29 14:38] Daivikpalasandra commented on #17431
Any ETA, as to when this feature will be available ?

[2021-03-29 15:05] joelnotified opened #17493 "ACR Build doesn't honor included directories in dockeringore"
**Describe the bug**
A directory is excluded by a `.dockerignore` file, and a single directory within that directory is included. `az acr build` doesn't seem to understand this.

**To Reproduce**
Have a Dockerfile that exludes a directory called `database/`, but includes the directory within that `database/directory-to-include`

Like this:
[code]

`az acr build` will throw an error because the con

[2021-03-29 15:12] yonzhan commented on #13352
container instance service team should look into this

[2021-03-29 15:59] Klaas- opened #17494 "az backup protection disable does not accept id of AzureIaasVM backup container"
Hi,
I used to delete backup like this:
`az backup protection disable --ids {{ backup_vault_id }} --container-name {{ virtualMachineName }} --item-name {{ virtualMachineName }} --delete-backup-data true --backup-management-type AzureIaasVM --yes`

This no longer works after one of the last upgrades. So I had a look at the error and I may have been using the id switch wrong because it expects an id

[2021-03-29 16:49] andrewlehmann-whs commented on #17310
This issue has been resolved for me since a couple hours after the original question was posted. Can this be closed?

[2021-03-29 17:10] rahuls-microsoft commented on #17339
https://github.com/Azure/azure-cli-extensions/pull/3194 - I have created the PR based on - https://github.com/AzureSDKAutomation/azure-cli-extensions/pull/700/commits

[2021-03-29 17:34] kumarsen26 commented on #17310
@andrewlehmann-whs Yes this can be closed.

[2021-03-29 18:04] joelnotified commented on #17493
Minimal repro:

Create a file under:
`/ignoredfolder/includedsubfolder/file.txt`

`Dockerfile`:
[code]

`.dockerignore`:
[code]

Then run:
`az acr build --image some-name  --registry myregistry.azurecr.io --file .\Dockerfile .`

[2021-03-29 18:14] holtalanm commented on #17210
this is also not an idempotent command, which results in needing to check the list of CORs before adding.

[2021-03-29 18:52] roipmsft commented on #17223
Api version for 2021-03-01 is already available for CRP in all regions.

UserData for regular VMs is currently rolling out.
UserData for VMSS is not done yet and may not being rolling out until week of April 5.

Swagger PR for UserData (for both VM and VMSS) may not finish until week of April 12, unfortunately.

[2021-03-29 19:31] gsuttie commented on #17461
Hi There

I think it needs to be a little clearer, if you try this

az keyvault secret set --name $secretname --vault-name $keyvaultName

It doesnt work so it needs to be pointed out that you should supply a --value or --file.

I see the same issue with az keyvault secret show if you dont supply a --vault-name

I think some examples of each should be included in the docs so that its clearer that i

[2021-03-29 19:43] itsforbrijesh opened #17497 "az aks get-credentials does not completed due to The command requires the extension aks-preview"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
az aks get-credentials

**Errors:**
Issue while getting AKS credentials using az cli

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --

[2021-03-29 20:10] jonathancisneros opened #17498 "Cannot create a linked-service of type AzureDatabricksDeltaLake"
**Describe the bug**
Getting "Bad Request" error when using **az datafactory linked-service create** command to create a linked service of type **AzureDatabricksDeltaLake**, any other type is working fine.

**To Reproduce**
Run the following command in a PowerShell console in a Windows machine:
`az datafactory linked-service create --factory-name "myadf" --resource-group "myrg" --linked-service-na

[2021-03-29 20:24] meet1993shah opened #17499 "Support for DiskRP 2020-12-01 changes"
**Resource Provider**
Microsoft.Compute/DiskRP

**Description of Feature or Work Requested**

**Minimum API Version Required**
2020-12-01

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/pull/12796

**Target Date**

[2021-03-29 20:25] meet1993shah commented on #17499
Will provide the description and target Date soon

[2021-03-29 21:01] itsforbrijesh commented on #17497
The command requires the extension aks-preview. Do you want to install it now? The command will continue to run after the extension is installed. (Y/n): Y
Run 'az config set extension.use_dynamic_install=yes_without_prompt' to allow installing extensions without prompt.
Extension 'aks-preview' 0.5.6 is already installed.
It will be updated if available.
No updates available for 'aks-preview'. Use

[2021-03-29 22:06] d0ctajones commented on #17497
I am also experiencing this behavior, in multiple versions of the azure-cli docker container and in my local environment. When it goes to install the `aks-preview` extension, it loops forever trying to find updates, ask permission to update, find none, ask permission to update, etc.

Versions I've tried (azure-cli container tags):
- latest
- 2.20.0
- 2.19.0

Here's some output:
[code]

This area o

[2021-03-29 22:24] kishanraaj77 opened #17500 "WebApp:Az webapp timeout"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up -n {}`

## Expected Behavior

## Environment Summary
[code]
##

[2021-03-29 23:25] anthonychu opened #17501 "WebApp:staticwebapp - [P1] add command to update a static web app"
**Describe the solution you'd like**

This enables changing settings on the Static Web App, including its plan.

**Additional context**

Required for Static Web Apps GA.

[2021-03-30 00:16] #17310 closed

[2021-03-30 01:37] millifawler opened #17503 "az keyvault set-policy"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault set-policy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault set-policy --secret-permissions {} {} --name {} --obj

[2021-03-30 01:49] nikigao opened #17504 "Errors when az login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2021-03-30 02:30] qwordy commented on #16038
@ajjha, put into S185

[2021-03-30 03:39] yonzhan commented on #17504
@jiasli for awareness

[2021-03-30 03:49] sunkararp commented on #17497
I am also experiencing this behavior
Surface Book3
azure-cli version 2.21.0

[2021-03-30 04:01] yonzhan commented on #17481
Communication

[2021-03-30 04:44] anthonychu opened #17506 "WebApp:staticwebapp - [P2] enable and remove managed identity"
**Describe the solution you'd like**

Enable managed identity. See [`az functionapp identity assign`](https://docs.microsoft.com/en-us/cli/azure/functionapp/identity?view=azure-cli-latest#az_functionapp_identity_assign) for optional params.

[code]

Remove managed identity. See [`az functionapp identity remove`](https://docs.microsoft.com/en-us/cli/azure/functionapp/identity?view=azure-cli-latest#

[2021-03-30 04:48] anthonychu opened #17507 "WebApp:staticwebapp - [P2] add support for linking existing function app (bring your own functions)"
**Is your feature request related to a problem? Please describe.**

Azure Static Web Apps is adding the ability to link a Static Web App to an existing Azure Functions app. This requires gestures in Az CLI to add and remove the link.

**Describe the solution you'd like**

Link:

[code]

Unlink:

[code]

**Additional context**

Needed for Static Web Apps GA

[2021-03-30 05:04] anthonychu opened #17508 "WebApp:staticwebapp - [P1] support adding hostname via TXT record validation"
**Is your feature request related to a problem? Please describe.**

Azure Static Web Apps is adding the ability to add hostnames using TXT record validation method. This is a two-step process:

1. Initiate the process, which kicks off a background process to genreate a validation code
2. Client calls a command to poll for status. When code is generated, the status includes a code.

**Describe the

[2021-03-30 05:20] #17482 closed

[2021-03-30 05:44] BigCat20196 commented on #16943
@sd40250  This issue has been fixed by #17320.Thanks for finding it!

[2021-03-30 05:49] karataliu commented on #12042
@mihaimircea azure-cli version will control api version to use, should be working now(api rollout out done there)

[2021-03-30 06:16] fengzhou-msft commented on #13101
Please follow https://github.com/Azure/azure-cli/issues/14011#issue-640943121 for the fix.

[2021-03-30 06:16] #13101 closed

[2021-03-30 06:25] BigCat20196 commented on #16804
Hi @SenseiJoe,  is this still bothering you? If so, please let us know the version of Azure-CLI you are currently using, and we will verify and fix this issue as soon as possible.

[2021-03-30 06:34] fengzhou-msft commented on #16646
@vladris sorry for the delay. The issue is caused by the generated vendored SDK. I'm working with codegen Team on a fix.

[2021-03-30 06:40] mihaimircea commented on #12042
Yes, working now, thanks!

[2021-03-30 08:21] evelyn-ys commented on #16881
@msha1026 Thanks for reporting. This error shows because CLI is using Azure Storage SDK for Python and it's logged in SDK code. I'm afraid this need SDK changes to hide such error.

@xiafu-msft Could you help take a look? It runs into [code in StorageClient](https://github.com/Azure/azure-storage-python/blob/4306898850dd21617644fc537a57d025e833db74/azure-storage-common/azure/storage/common/storage

[2021-03-30 08:31] evelyn-ys commented on #17237
Can't reproduce either. Could reopen if meet again with more details and traces.

[2021-03-30 08:31] #17237 closed

[2021-03-30 08:47] ipg-informatik opened #17512 ""az keyvault secret set" have many parsing errors"
## Description
"az keyvault secret set" have many parsing errors, when a value have special characters. For example the command have problem with ")", ">", "&" and ...?

Example Command:
**az keyvault secret set --name test --value ')aaa@aa>:{&aaa'**

## To Reproduce:
Simply try to add a secret with some special character from above.

## Workaround
You can put every special character in quotation

[2021-03-30 08:55] qwordy commented on #16541
@JiandongRuan
We are going to add an instruction in `vmss update` help message.
Bye the way, VMSS has an "upgrade policy" that determine how VMs are brought up-to-date with the latest scale set model.
https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-upgrade-scale-set#how-to-bring-vms-up-to-date-with-the-latest-scale-set-model

[2021-03-30 08:58] qwordy commented on #16626
@guemuno I think it is a problem of `"` character. It has special meaning in terminal. It should be escaped so that it can be treated as a normal character.
https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#quoting-issues

[2021-03-30 09:06] theo-albers commented on #16881
I'm open to alternatives, so If there is another way, let us know....

[2021-03-30 09:14] fengzhou-msft commented on #17497
Please run `az config set extension.use_dynamic_install=no` to disable the infinite extension install bug. Then rerun the aks command with `--debug` to check the real error.

[2021-03-30 09:26] egodigitus opened #17513 "az login: Invalid profile error for non-AzureStack cloud"
## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --service-principal -u {} -p {} -t {}`

## Expected Behavior

login as a service-principal works

## Environment Summary
[code]
## Additio

[2021-03-30 09:54] dhmoto17 opened #17514 "Error using az login to Azure Portal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Cannot login to Azure Portal with az login

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --query "sort_by([].{name:

[2021-03-30 09:55] dhmoto17 commented on #17514
I'm comparing this to ticket https://github.com/Azure/azure-cli/pull/15550 but 15550 seems to be referring to a customer Azure Stack as opposed to the Azure portal.

[2021-03-30 10:09] jiasli commented on #17504
This is caused by an ongoing ARM service incident. Please see #17509.

[2021-03-30 10:09] jiasli commented on #17514
This is caused by an ongoing ARM service incident. Please see #17509.

[2021-03-30 10:10] jiasli commented on #17513
This is caused by an ongoing ARM service incident. Please see #17509.

[2021-03-30 10:12] dhmoto17 commented on #17514
Ah, thank you for the update.  Happy for this bug to be closed.

I've updated to az 2.21 and get this error now, for reference if anyone else has the same issue and stumbles across my issue first..

Invalid profile is used for cloud 'AzureCloud'. To configure the cloud profile, run `az cloud set --name AzureCloud --profile <profile>(e.g. 2019-03-01-hybrid)`. For more information about using Azure

[2021-03-30 10:35] fengzhou-msft commented on #17497
aks commands are only supported in `latest` profile.

This issue may be related to https://github.com/Azure/azure-cli/pull/17509, please revert to the latest profile `az cloud set --name AzureCloud --profile latest` and apply the quick patch in the PR.

[2021-03-30 10:46] egodigitus commented on #17513
Thanks for the quick response.
A workaround without the patch #17509 is to use the hybrid profile:
`az cloud set --name AzureCloud --profile 2020-09-01-hybrid`
`az login`

[2021-03-30 10:50] egodigitus commented on #17514
A workaround without the patch #17509 is to use the hybrid profile:
az cloud set --name AzureCloud --profile 2020-09-01-hybrid
az login

[2021-03-30 10:52] jiasli commented on #17513
@egodigitus, setting `--profile 2020-09-01-hybrid` will cause other failures (like for `az aks`) because `2020-09-01-hybrid` has a reduced command set compared to `latest`.

[2021-03-30 11:00] AlissonMMenezes opened #17515 "error az login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2021-03-30 11:05] Kotasudhakarreddy commented on #17415
@nordquist hope you are unblocked now. Please let us know your response on whether we are good to close this issue.

[2021-03-30 11:11] egodigitus commented on #17515
Known issue.
See https://github.com/Azure/azure-cli/pull/17509 for details and quickfix

[2021-03-30 11:17] Kotasudhakarreddy commented on #17058
@RyanHill-MSFT - Did you try with the information given. Can you please update your findings. If no issue is persists we will close this issue.

[2021-03-30 11:20] adam-stafford1 opened #17516 "Web Apps Settings: Combining Plain Text and Key Vault Secrets"
Hi, I am trying to combine a Key Vault secret value with plain text in the connection strings section of an Azure Web App. For instance, I have removed the username from the connection string and stored this value in Key Vault. Now I'd like to be able to use the Key Vault value in the connection string. However, it the secret reference is not recognized and the application reads the connection str

[2021-03-30 11:21] yonzhan commented on #17515
ARM team is working on this with high priority.

[2021-03-30 11:24] Kotasudhakarreddy commented on #17501
We will check and consider it for future milestone.

[2021-03-30 11:28] Kotasudhakarreddy commented on #17500
@kishanraaj77 I am unable to repro this issue. Please retry and provide `--debug` log if it fails with `timeout` error.

[2021-03-30 11:30] Kotasudhakarreddy commented on #17508
Thanks for your feedback. We will check and consider for future milestones .

[2021-03-30 11:31] Kotasudhakarreddy commented on #17508
@panchagnula FYI.

[2021-03-30 11:31] Kotasudhakarreddy commented on #17506
Thanks for your feedback. We will check and consider for future milestones .
@panchagnula FYI.

[2021-03-30 11:32] Kotasudhakarreddy commented on #17507
Thanks for your feedback. We will check and consider for future milestones .

@panchagnula FYI

[2021-03-30 11:33] Kotasudhakarreddy commented on #17501
@panchagnula FYI

[2021-03-30 13:56] dhmoto17 commented on #17514
Thanks @jiasli and @egodigitus , I'm up and running with the fix in https://github.com/Azure/azure-cli/pull/17509

[2021-03-30 14:17] angethom opened #17517 "unable to create vnet within learn sandbox"
angel_lizthomas@Azure:~$ az network vnet create \

The command failed with an unexpected error. Here is the traceback:
[Errno 30] Read-only file system: '/home/angel_lizthomas/.azure/commands/2021-03-30.14-10-29.network_vnet_create.273.log'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 233,in invoke
    cmd_result = self.invocation.execute(args)

[2021-03-30 14:25] Leonidas-MOH opened #17518 "Error with Django webapp up"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --name {} -l {}`

## Expected Behavior

## Environment Summary

[2021-03-30 14:28] SeaDude commented on #16620
I'm getting the same error from `az sql server ad-admin create`. Its actually addressed in the official docs [here](https://docs.microsoft.com/en-us/cli/azure/query-azure-cli#get-a-single-value). Use the flag `--output tsv` to return a value with no double quotes.

Testing now

[2021-03-30 14:32] RyanHill-MSFT commented on #17058
@Kotasudhakarreddy, knowing that `webapp delete` doesn't delete the app service plan by default is a feature request, I'm good with closing this issue. But could be used as a basis for the feature request.

[2021-03-30 14:32] #17058 closed

[2021-03-30 15:15] sd40250 commented on #16943
No problem!

From: Jiefeng Chen ***@***.***>
Sent: Tuesday, March 30, 2021 1:44 AM
To: Azure/azure-cli ***@***.***>
Cc: Darden, Samuel ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [Azure/azure-cli] Missing character (#16943)

@sd40250 [github.com]<https://urldefense.com/v3/__https:/github.com/sd40250__;!!D60pOmjYakNXXA!eqRzbvNJR6DXnuk1VlJWiPC8NuqWFK7MTXlLm95MxqV1t8YoBLQ-QVLzvnPfMwol3

[2021-03-30 15:25] Forcebyte commented on #17513
shouldn't there be an incident communication from Microsoft in situations like this?

Not trying to be needy or anything; but it appears to be affecting three orgs I communicate with regularly

[2021-03-30 16:00] septst commented on #17238
I don't have it. You can use the above two commands to reproduce the steps but ensure that the location is not set in config to check if the resource group location is used when a location is not given for a new resource like storage accout.

[2021-03-30 17:44] rahuls-microsoft commented on #17339
Hi
I herry-pick the commits https://github.com/AzureSDKAutomation/azure-cli-extensions/pull/700/commits<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FAzureSDKAutomation%2Fazure-cli-extensions%2Fpull%2F700%2Fcommits&data=04%7C01%7Crahul.singh%40microsoft.com%7Cbfbcc52447dd4468ae0d08d8ef4ad726%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637522452048851186%7CUnknown%

[2021-03-30 19:43] J0F3 commented on #17513
@jiasli I wondering the same as @Forcebyte. Why is there no official communication in the service health dashboard or somewhere that there is a problem with the ARM service. So that it is clear that we not to have to search on our side which the "az login" suddenly does not work anymore resp. that we, customers, can actually not do much to fix it.

[2021-03-30 22:39] yonzhan commented on #17517
network

[2021-03-30 23:22] meet1993shah commented on #17499
will create a separate issue

[2021-03-30 23:22] #17499 closed

[2021-03-30 23:54] jsntcy commented on #17482
@msyyc, please double check if sku can be upgraded from `Basic` to `Standard`. I guess it cannot be downgraded from `Standard` to `Basic`, but it can be upgraded from `Basic` to `Standard`.

[2021-03-30 23:54] evanlwj opened #17520 ""az extension add --name aks-preview" in airgap cloud attempts to connect to aka.ms"
**Describe the bug**
An execution of "az extension add --name aks-preview" in airgap cloud, a connection attempts reach out to aka.ms where is public url, it definitely failed.

Are aks-preview features unavailable in airgap cloud and sovereign cloud (mooncake and fairfax)?

Response
[code]

**To Reproduce**

**Expected behavior**

**Environment summary**
az-cli 2.17.1

**Additional context**

[2021-03-31 01:33] Juliehzl commented on #17238
Please see
![image](https://user-images.githubusercontent.com/49508232/113077607-0963ec00-9204-11eb-9e8f-7f12b06871a6.png)

As location is required when creating storage account, if there is no location specified in parameter list, we have to read from resource group. If you still have the issue, please send me debug log as I cannot reproduce your issue.

[2021-03-31 01:57] msyyc commented on #17482
for service, it cannot be downgraded from Standard to Basic, but it can be upgraded from Basic to Standard. So azure-cli keep correspondence with service. We will remove the 'deprecation' message.

[2021-03-31 02:25] avanigupta commented on #15220
We want to support Conditional Access for Azure App Configuration service too (`az appconfig` command module). Currently, assigning multi-factor authentication as a Conditional Access policy and trying to access App Config using AAD authentication fails with the following error:
`AADSTS50076: Due to a configuration change made by your administrator, or because you moved to a new location,
you must

[2021-03-31 02:41] yungezz commented on #17520
add @fengzhou-msft to help

[2021-03-31 02:41] yungezz commented on #17518
route to appropriate team

[2021-03-31 02:42] yungezz commented on #17516
add @houk-ms to have a look

[2021-03-31 02:42] yungezz commented on #17512
add @houk-ms to have a look

[2021-03-31 02:43] yungezz commented on #17503
hi @millifawler could you pls share value for secret-permissions? from error, it seems contains invalid value. add @houk-ms

[2021-03-31 02:44] yungezz commented on #17498
add @qwordy to have a look

[2021-03-31 02:44] yungezz commented on #17494
route to appropriate team

[2021-03-31 02:45] yungezz commented on #17493
route to appropriate team

[2021-03-31 03:29] septst commented on #17238
Sure, thanks for your time and help.

[2021-03-31 03:29] #17238 closed

[2021-03-31 05:29] jiasli commented on #15220
@avanigupta we have made some progress with VM SSH (https://github.com/Azure/azure-cli/pull/17093).

**Conditional Access** for **Azure Storage** is currently being developed. I guess **Azure App Configuration** will catch the same train 🚄 .

Let's talk offline with PM to get it scheduled!

[2021-03-31 05:53] jiasli opened #17521 "[Compute] Support getting VM SSH certificate with Service Principal credential"
Getting VM SSH certificate with user credential has been implemented by https://github.com/Azure/azure-cli/pull/17093.

The VM SSH service is ready for Service Principal, so Azure CLI should support getting VM SSH certificate with Service Principal credential.

[2021-03-31 05:55] yonzhan commented on #17521
Compute

[2021-03-31 06:18] qiaozha commented on #16646
a correct example would look like this. The servicePrincipalKey is not a string type. it should be a SecretBase type.
[code]

[2021-03-31 07:23] a13marquez opened #17525 "The command az webapp list-runtimes --linux fails on PopOS 20.10"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list-runtimes`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list-runtimes --linux`

## Expected Behavior

## Envir

[2021-03-31 07:57] qiaozha commented on #17339
@rahuls-microsoft  Did you make sure azdev test <your-module-name> --live passes before you submit the PR?

[2021-03-31 08:00] qiaozha commented on #17339
@rahuls-microsoft  I recommend you to follow the steps here. https://github.com/Azure/autorest.az#how-to-use-azure-cli-code-generator
![image](https://user-images.githubusercontent.com/55688292/113110850-22878f80-923a-11eb-878b-c271ffbd72d4.png)

[2021-03-31 09:17] #16858 closed

[2021-03-31 09:36] dvdvorle commented on #17514
To add further to the ugly workaround @egodigitus, I was able to set the profile to `2020-09-01-hybrid`, then `az login`, then set the profile back to `latest` to continue using `az aks` and other features

[2021-03-31 09:58] MahmoudRamezani opened #17527 "Failure in az login in powershell"
### **This is autogenerated. Please review and update as needed.**

## When I try to log in by az login command, it goes well and the openned page says that the login was succesful, but lots of red lines in the powershel shows failure!

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contai

[2021-03-31 10:05] jiasli commented on #17527
Looks like you previously ran `az login` with `sudo`. Please check https://github.com/Azure/azure-cli/issues/15638 and see if you can get unblocked.

[2021-03-31 11:02] jiasli commented on #17513
Thanks to everyone for the feedbacks. We have internally forwarded your feedbacks to program manager team and ARM service.

The rollback of ARM has completed at 2021-03-31 08:00 UTC, so this issue should have been resolved.

Apologize for the inconvenience caused.

[2021-03-31 11:02] #17513 closed

[2021-03-31 11:04] #17514 closed

[2021-03-31 11:04] #17515 closed

[2021-03-31 12:12] bucheron88 opened #17529 "Azure CLI ADO Extension installation : An error occurred. Pip failed with status code 2. Use --debug for more information."
Thanks in advance for your help

**Describe the bug**
Az CLI version 2.21 fails with Pip error on extension install. (e.g. az extension add --name azure-devops)
cli.azure.cli.core.azclierror: An error occurred. Pip failed with status code 2. Use --debug for more information.

**To Reproduce**
az extension add --name azure-devops

**Expected behavior**
No failure

**Environment summary**
Az CLI Ver

[2021-03-31 14:00] yvespp opened #17530 "az container exec: Not a tty"
**Describe the bug**
I'm running `az container exec` on our CI/CD inside a docker container to test my app. az cli throws this exception because there is no tty:
[code]
I can't add a tty because it runs inside our CI/CD.

Similar to this issue https://github.com/Azure/azure-cli/issues/15225

**To Reproduce**

Run az cli inside a container without attching tty (-t) and then run `az container exec`

[2021-03-31 14:24] tamram commented on #17454
@cbellee - I've updated the doc with instructions for enabling Azure Defender for a storage account with Azure CLI or PowerShell.

@Juliehzl - FYI

[2021-03-31 14:27] panmail opened #17531 "WebApp:az webapp deployment slot create DOESN'T duplicate all settings from source slot"
**Describe the bug**
The following powershell command doesn't duplicate all settings from the source slot.
`az webapp deployment slot create --name 'newSlotName' --resource-group 'rscGroup' --slot 'test' --configuration-source 'srcSlotName' --subscription 'subID' --debug`

**To Reproduce**
run command above and found that the source slot setting of "ASPNETCORE_ENVIRONMENT" was not duplicated over

[2021-03-31 14:32] chull434 commented on #16895
+1 on this

just came across the same, got bash az cli scripts for all my other deployment scripts but now I need to use PowerShell instead for this one task

[2021-03-31 16:45] panchagnula commented on #17531
@panmail thanks for reporting - out of curiosity is this specific setting - "set as slot Setting or not"? I believe only settings marked slot settings should be copied over & not others - portal doesn't follow this rule. Can you please share this info.

@Kotasudhakarreddy  can you or Parveen test this behavior & share your notes as well? Thank you.

[2021-03-31 17:16] panmail commented on #17531
@panchagnula, I can confirm that if using PS, then 'yes' ONLY non-slot settings are cloned over; however, when using the Azure portal UI, then ALL (slot and non-slot) settings are cloned over.  I would like to see PS to have same behavior as portal.
![image](https://user-images.githubusercontent.com/7851873/113184443-0835bd80-920a-11eb-89d0-94b863925b7e.png)

[2021-03-31 18:23] Drewm3 commented on #17469
Actually the offers in the marketplace are supported by the publishers. In this case the publisher is [Offensive Security](https://www.offensive-security.com/). The link the company has provided for support is: https://www.kali.org/community/. Please use that link to request for the publisher to update the image in the Azure Marketplace.

I also suggest that you leave a review for other users at h

[2021-03-31 18:41] #17518 closed

[2021-03-31 18:55] alexhudson commented on #13070
This bug has just bitten me; a deployment that was working fine last week (BST) is now broken this week (GMT, UK).

This is a surprisingly quiet bug for so serious an issue - I genuinely can't see how this deployment model will work for people. I also suspect that most people are going to see the "Azure Functions runtime is unreachable" error in the portal and assume something else is wrong - it's

[2021-03-31 19:11] MehaKaushik commented on #17457
Hi @Divyansh00, thanks for opening this issue. az cosmosdb collection  commands are deprecated, we no longer maintain them. That is also the reason we would not want customers to use it.

I would recommend to rely on az cosmosdb graph commands for your usage. They are maintained actively, if you face any issue in those commands please let us know.

[2021-03-31 19:14] MehaKaushik commented on #17418
Hi @CMihalcik from the message it looks like the command failed on polling on the operation status. Since the initial Put request to cosmos-db went through the database was deleted. It is only on polling on the operation that the request failed.

[2021-03-31 19:16] MehaKaushik commented on #17418
AAD team to recommed solution for:

[2021-03-31 21:40] NetworkAdministratorsALI opened #17532 "Error attempting to update a log-analytics export"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor log-analytics workspace data-export update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- az monitor log-analytics workspace

[2021-03-31 21:41] NetworkAdministratorsALI commented on #17532
Note, this is being done by Azure CLI

[2021-03-31 21:44] NetworkAdministratorsALI commented on #17532
Full error details:
The command failed with an unexpected error. Here is the traceback:
Cannot deserialize content-type: text/plain
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 233, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line 660, in execute

[2021-03-31 22:36] martinjanitor opened #17533 "functions:Cannot deploy zip package using CLI az functionapp deployment source config-zip"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2021-03-31 22:57] dcoder4 commented on #13070
Well I can only tell you I have given up, after receiving ZERO support for this issue and posting this problem and fix almost a year to this day.. I can only consider that Python is not a first tier language in Microsoft's mind for them to leave this bug for so long. It is mind-boggling.

[2021-04-01 00:06] nvwolf418 opened #17535 "restore"

[2021-04-01 00:06] #17535 closed

[2021-04-01 00:06] nvwolf418 commented on #17535
test

[2021-04-01 00:11] skotz opened #17536 "Helpful WAF policy custom rule match condition example"
It would be helpful to note in the `az network application-gateway waf-policy custom-rule match-condition` documentation that each match variable specified in the space-separated `--match-variables` list is further period-separated in the form `name.selector`. After a lot of searching for a way to create a specific rule using the CLI, I eventually found the solution by looking at the CLI's source

[2021-04-01 00:12] yonzhan commented on #17532
@kairu-ms for awareness

[2021-04-01 00:13] yonzhan commented on #17533
route to service team

[2021-04-01 00:15] yonzhan commented on #17536
@msyyc for awareness

[2021-04-01 01:32] yungezz commented on #17525
hi @a13marquez could you pls upgrade to latest CLI to resolve the issue? there's a pinned issue related to this

[2021-04-01 02:38] Juliehzl commented on #16743
@zhangyan133  could you help add it?

[2021-04-01 03:10] qiaozha commented on #16646
[code]

This way works too.

[2021-04-01 03:18] kairu-ms commented on #17532
Same as https://github.com/Azure/azure-cli/issues/17231

[2021-04-01 05:01] yungezz commented on #17529
hi @bucheron88 could you pls run `az extension add --name azure-devops --debug` to help trouble shooting?

[2021-04-01 05:45] #16943 closed

[2021-04-01 05:54] usrme opened #17537 "Passing empty string to 'az vm list --resource-group' acts as a wildcard"
## Describe the bug

**Command Name**
`az vm list --resource-group`

## To Reproduce:

Call `az vm list --resource-group` with an empty string in quotes:

- `az vm list --resource-group ''`

## Expected Behavior

For the command to **not** return all virtual machines in a subscription and for the command to display an identical error message as is the case when just `az vm list --resource-group` i

[2021-04-01 07:24] anish opened #17539 "az storage blob does not seem to work with a managed disk SAS"
**Describe the bug**
When using `az storage blob upload` to upload a vhd to a managed disk using SAS uri, upload to blob completes but is never imported as disk

**To Reproduce**
[code]

**Expected behavior**
az disk list will show a non null size for disk

**Environment summary**
apt-get install on Ubuntu 20.04

**Additional context**
I already verified the vhd works, so does the blob upload, I a

[2021-04-01 07:26] anish commented on #10192
@yonzhan @Juliehzl  Was this actually fixed ? #17539 looks like a repeat of this issue

[2021-04-01 07:26] yungezz commented on #17537
hi @qwordy, could  you pls have a look?

[2021-04-01 07:44] #17285 closed

[2021-04-01 07:51] Klaas- commented on #17494
This is not really a question, the bug is `The ID does not work for deleting AzureIaasVM container`. This could be a different bug  though, `az backup container list [...] --backup-management-type AzureIaasVM --query '[].id'` does not show the correct ID :)

[2021-04-01 09:16] a13marquez commented on #17525
Hi @yungezz this solution fixes the problem, thank you, I was using the npm package

[2021-04-01 09:16] #17525 closed

[2021-04-01 09:32] woozar commented on #17234
2.15 does not yet support it

[2021-04-01 11:03] yonzhan commented on #17539
Storage

[2021-04-01 17:07] alexhudson commented on #13070
So, I tried to fork this to see if I could work up a patch, but it's not even clear how to run the test suite :(

The problem appears to be in `src\azure-cli\azure\cli\command_modules\appservice\custom.py:558` on the current dev head. The function `upload_zip_to_storage` is doing `now = datetime.datetime.now()` - which is a timezone-unaware datetime object - and passing that over to `generate_blob

[2021-04-01 17:24] jakraft opened #17542 "How to use the key "sign" operation"
Version 7.1 of the Azure REST API allows users to generate a signature using a key stored in key vault:
https://docs.microsoft.com/en-us/rest/api/keyvault/keys/sign/sign?tabs=HTTP

Is there an equivalent `az keyvault key sign` command for Azure CLI?

[2021-04-01 17:36] wasker opened #17543 "Allow passing of command line arguments via file"
**Is your feature request related to a problem? Please describe.**

We rely on AZ CLI to maintain our service infra. One of the things that we do is configure Web Access Firewall rules to allow access to endpoints only to certain IP address ranges. Unfortunately, the list of IP address ranges is too long and we're running into a problem with command line length (at least on Windows). I.e., when fu

[2021-04-01 17:46] #17469 closed

[2021-04-01 18:50] langboost commented on #13881
A password that I got w/ a tilde in it was also failing. But eventually I had one where the only special characters were underscores, and that worked.

[2021-04-01 20:00] CMihalcik commented on #17418
The task ran without error yesterday. Seems to be resolved. Thanks.

[2021-04-01 21:17] mwilensky768 opened #17544 "`azcopy --cap-mbps` option unavailable from `az storage copy`"
**Is your feature request related to a problem? Please describe.**

I cannot tell `azure storage copy` to limit the transfer rate, which is causing an overload on my compute resource's 1Gb external link, causing symptoms not unlike a DDOS attack.

**Describe the solution you'd like**

Somehow make `--cap-mbps` option available from `azure storage copy` call.

**Describe alternatives you've conside

[2021-04-01 22:02] #17418 closed

[2021-04-01 22:03] MehaKaushik commented on #17457
yes this behavior was designed to be like this. The internal implementation of the two commands is different. The deprecated ones use our Data plane which is guarded by firewall properties. The Graph commands use control plane and do not require firewall whitelisting.

[2021-04-01 22:50] yonzhan commented on #17543
@jiasli to take a look

[2021-04-01 22:54] yonzhan commented on #17544
storage

[2021-04-02 00:03] etcetc opened #17545 "No registered resource provider found for location 'westus' and API version '2018-01-01-preview' for type 'virtualNetworks'"
Upgraded az to the latest version available via brew on Mac running Big Sur.  Trying to set up peering for Mongo Atlas per their instructions.  When running

`atlas> az role definition create --role-definition peering-role.json
`

`No registered resource provider found for location 'westus' and API version '2018-01-01-preview' for type 'virtualNetworks'. The supported api-versions are '2014-12-01-