[2020-03-10 06:46] panchagnula commented on #12308
@btardif can you please check with the Linux folks on this command please. Thanks.

[2020-03-10 06:47] panchagnula commented on #12302
This is fixed with the latest version https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md#appservice please upgrade & re-try. Thanks!

[2020-03-10 07:05] vveider commented on #12446
UP!

[2020-03-10 07:22] akingscote opened #12517 "`az keyvault key download` dosent exist"
Hello, the command az keyvault dosent exist on my az cli
https://docs.microsoft.com/en-us/cli/azure/keyvault/key?view=azure-cli-latest#az-keyvault-key-download

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe0f363b-7f21-0ea9-3e27-da7866c94102
* Version Independent ID: 6cc413e4-4f7d-9baa-a365-c9275fc6a7ad
* Con

[2020-03-10 07:32] yonzhan commented on #12517
@bim-msft  please take a look.

[2020-03-10 08:20] JavedEqbal commented on #10469
Hello @geminiyeak geminiyeak

I have tested the script in my lab environment and here is an analysis on it.

**Error –**
WARNING: Creating source snapshot
**WARNING: Getting sas url for the source snapshot with timeout: 3600 seconds**
WARNING: Creating resource group: image-copy-rg
WARNING: Target location count: 1
WARNING: SoutheastAsia - Creating target storage account (can be slow sometimes)
WA

[2020-03-10 08:48] GerhardRuckriegel commented on #11952
Curl works from powershell

Regards,
Gerhard Ruckriegel
Tool Product Manager
Global Services, CTO, Architecture & Security, Nokia
Gerhard.Ruckriegel@nokia.com<mailto:Gerhard.Ruckriegel@nokia.com>

Nokia Solutions and Networks GmbH & Co. KG Thurn-und-Taxis-Straße 10, 90411 Nürnberg Sitz der Gesellschaft: München / Registered office: Munich Registergericht: München / Commercial registry: Munich, HRA

[2020-03-10 09:00] qianwens commented on #11952
Assign to AKS team to investigate this issue. Install Kubernetes CLI failed.

[2020-03-10 09:05] fengzhou-msft commented on #11952
cc @Azure/aks-pm

[2020-03-10 09:13] gregorybleiker commented on #12508
so is the recommended way to create a dotnet core webapp to do it on a linux host???

[2020-03-10 09:15] jiasli opened #12519 "[Storage] Azure policy fails if --https-only is omitted"
**Describe the bug**
When creating storage account without `--https-only`:
[code]

This command will fail if the built-in Azure policy `Secure transfer to storage accounts should be enabled` is enabled.

**Expected behavior**
The policy shouldn't be triggered, as the Storage Resource Provider will set it to `true` on server's side since API 2019-04-01.

https://github.com/Azure/azure-cli/blob/1174

[2020-03-10 09:46] jakaruna-MSFT opened #12520 "--ssh-key-value in the example for az vm create"
** CLI version **
2.0.80

**Describe the bug**
In the `az vm create -h`, we replaced `--ssh-key-value` with `--ssh-key-values`.
One of the example is still using  `--ssh-key-value` . Its creating confusion among the customers.
I think we can update that to `--ssh-key-values`

Both options work well though.  May be because of the prefix matching

**To Reproduce**
`az vm create -h`
and look at the e

[2020-03-10 09:47] jakaruna-MSFT commented on #12520
https://github.com/Azure/azure-cli/issues/8669#issuecomment-492398459  Link to comment which had the info about the change from --ssh-key-value to --ssh-key-values

[2020-03-10 09:48] jakaruna-MSFT commented on #12520
@adewaleo Please add your comments

[2020-03-10 09:49] jakaruna-MSFT commented on #12520
@pipern    added you here for visibility since you raised the initial [issue ](https://github.com/MicrosoftDocs/azure-docs/issues/49728)in Azure docs

[2020-03-10 09:52] jakaruna-MSFT commented on #12520
https://github.com/Azure/azure-cli/blob/f6e542a5ab5b4115fc76e39c5b3509da0b7e3a44/src/azure-cli/azure/cli/command_modules/vm/_help.py#L834

this link has `--ssh-key-value`

[2020-03-10 10:18] yonzhan commented on #12519
add to S168

[2020-03-10 10:27] yonzhan commented on #12520
@qwordy  please take a look.

[2020-03-10 11:15] zhoxing-ms commented on #6687
@ninijay Hi, after discussions with our PM, we think this will trigger a breaking change, and we are cautious about it.
This issue is temporarily holding on now. If the impact of this issue becomes larger or more people feedback in the future, we will reopen it, thank you.

[2020-03-10 11:20] #6687 closed

[2020-03-10 13:41] a-vishar commented on #12313
Any update on this?

[2020-03-10 13:42] a-vishar commented on #12463
Hi, any update on this?

[2020-03-10 13:55] sirwarshade commented on #11978
@zhoxing-ms , i execute the azure cli command from a Linux device and it fails but if i execute the azure cli from a Windows device it succeeds.

The web app is allways a .NET 4.7 PaaS service. So Windows

[2020-03-10 14:05] fengzhou-msft commented on #12446
@vveider The source code to add the path is [here](https://github.com/Azure/azure-cli/blob/dev/build_scripts/windows/Product.wxs#L92).

I removed the cli directory from my Path, unintalled azure-cli and then reinstall, the path is added back for me. Do you have any security software/settings that may prevent the msi to change the Path?

[2020-03-10 14:07] vveider commented on #12446
No, I have not. However — I use public unactivated image of Windows 10, can that be a problem?

[2020-03-10 14:10] fengzhou-msft commented on #12446
This is my path.
![image](https://user-images.githubusercontent.com/55177366/76320505-c181d680-631b-11ea-9cbb-350c477a54a5.png)

[2020-03-10 14:25] MaximRouiller commented on #12316
Yes it did.

[2020-03-10 14:38] SimonTheLeg commented on #12332
ah okay. Well that explains why it was such a weird error :D
But yeah with the workaround not too much of a problem. :) Maybe it would be good idea to add a small message stating this to the cli's output?

[2020-03-10 14:40] jim-minter commented on #12514
Thanks for the error report.  It makes sense that you got that error having not registered the RP first.  We'll add in a better error message at https://github.com/Azure/ARO-RP/pull/264 .

[2020-03-10 14:53] jim-minter opened #12525 "az 2.2.0 does not appear to be compatible with Python 3.5"
**Describe the bug**
az 2.2.0 does not appear to be compatible with Python 3.5.

**To Reproduce**
Run `azdev linter` on a custom extension using Python 3.5.9.  The latest az published at https://packages.microsoft.com/repos/azure-cli started breaking this.  It looks like a Python 3.6-style format string at azure/cli/command_modules/cdn/custom.py line 113 is to blame.

**Expected behavior**
Either

[2020-03-10 14:54] jim-minter commented on #12525
Here's the traceback I get:

[code]

[2020-03-10 14:55] vveider commented on #12446
Ok, I guess without solid reproducer I have no chance to prove that sometimes PATH is not being modified. You can close issue then.

[2020-03-10 15:02] sinedied opened #12526 "[CosmosDB] az cosmosdb list-connection-strings deprecation with incorrect replacement"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cosmosdb list-connection-strings`

**Errors:**
Report deprecation notice and tells us to use `az cosmosdb keys list` instead, but it's not the same thing and can't be used as a replacement. Keys alone are useless to me as a MondoDB user, I need the full connection string.

## To Reproduce:

[2020-03-10 15:12] pvrk commented on #8677
Closing this issue since un-register is not required for VM backups. It has been added for AFS backups and HANA backups.

[2020-03-10 15:12] #8677 closed

[2020-03-10 15:31] #12446 closed

[2020-03-10 16:16] kevinhillinger commented on #11556
This should be fixed now. Recommend closing.

[2020-03-10 16:30] benradstone opened #12527 "Sub-heading links do not function correctly"
For example, when clicking on the 'Required Parameters' or 'Optional Parameters' subheading links for the 'az vm create' section, I am redirected to the equivalently named links for the 'az vm capture' section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 152b549b-d4b3-13e5-081c-c604b6e4d89e
* Version Independent ID:

[2020-03-10 16:43] dariuszbz opened #12528 "az network front-door - dosen't exist"
**Describe the bug**
based on documentation https://docs.microsoft.com/en-us/cli/azure/ext/front-door/network/front-door?view=azure-cli-latest

but I can't see:

az network --help
Group
    az network : Manage Azure Network resources.

Subgroups:
    application-gateway    : Manage application-level routing and load balancing services.
    asg                    : Manage application security group

[2020-03-10 16:54] jongio commented on #9887
Spec:

## --assign-identity

When creating a resource the `--assign-identity` parameter must allow a user to specify whether they want a system-assigned identity and/or one or many user-assigned identities.

We need to add this functionality for
1. functionapp
2. appservice
3. webapp

This behavior should be modeled after the way that `az vm create --assign-identity` works because it handles the l

[2020-03-10 18:04] adewaleo commented on #12520
You are right @jakaruna-MSFT, the CLI will match against a prefix if no other options share that prefix. Which is nice when we switched to --ssh-key-values as it isn't a breaking change. But we should update our examples to use the full option

[2020-03-10 18:10] anthonychu commented on #12513
@infrageek Is this an intermittent issue or does it happen when you try to redeploy?

[2020-03-10 18:30] ap-bansal commented on #12165
Hello @arrownj @gauravsaralMs ,
Do you need any info from my side?
I'd really appreciate a response.
Thanks!

[2020-03-10 18:40] brandonh-msft commented on #11590
ok so after getting a Cloud Shell
[code]

I then ran `az login`
[code]

followed by `az account set` and then my `create-for-rbac` call:

[code]

So it appears to succeed then.

Seems like instead of closing #11749 we should work to resolve this problem with Cloud Shell that, after prompting for my tenant and getting an instance, I'm not _really_ logged in (despite being able to issue many command

[2020-03-10 21:22] haymansfield commented on #11610
Here's an example:
az appconfig kv set --name $appConfigName --key "<key>" --value "<value>" --yes

[2020-03-10 21:24] bradcavanagh-ffs commented on #12528
Have you added the front door extension by typing `az extension add --name front-door` first?

[2020-03-10 21:42] shenmuxiaosen commented on #11610
As we are GA now, preview tags has been removed for most ```az appconfig ``` commands. So please just update the CLI version. The preview tags is not controlled by service team but CLI framework. @yonzhan Can you take a look?

[2020-03-10 21:48] yungezz commented on #12526
thanks for reporting, we'll have a look

[2020-03-10 21:49] yungezz commented on #12525
hi @fengzhou-msft could you pls have a look? thanks.

[2020-03-10 21:50] yungezz commented on #12527
hi @qwordy could you pls have a look? thanks.

[2020-03-10 21:51] yungezz commented on #12528
hi @MyronFanQiu  could you pls have a look? thanks.

[2020-03-10 22:03] venkateshjayanaik opened #12530 "Copy data between containers within same storage account"
Hi,

I've two containers - container1 & container2 in a same storage account - Mystorage.
I'm trying to copy data from container1 to container2 but it fails
When I tried to use below command it fails and I printed all variables and it is having values.
I'm not sure how to migrate data between containers on same storage account using az cli command. I can't use Azcopy because i'm trying it in azure

[2020-03-10 22:43] Karishma-Tiwari-MSFT opened #12531 "Azure CLI command create permissions with incorrect case"
**Describe the bug**
After executing az keyvault set-policy -n $keyVaultName -g $rgName --object-id $desIdentity --key-permissions wrapkey unwrapkey get
the actual permission values are in camel case ("wrapKey","unwrapKey").

{
        "applicationId": null,
        "objectId": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
        "permissions": {
          "certificates": null,
          "keys": [

[2020-03-11 00:18] chriswue commented on #12159
This is still broken on Azure CLI 2.2 which was released yesterday:

    chrisw@home$ az webapp create -n XXX -p YYY --runtime 'DOTNETCORE|2.2'
    Runtime 'DOTNETCORE|2.2' is not supported. Please invoke 'list-runtimes' to cross check
    chrisw@home$ az --version

[code]

[2020-03-11 00:20] geminiyeak commented on #10469
Yes, its resolved with add in --timeout parameter..
many thanks for help

[2020-03-11 01:14] arrownj commented on #11563
Hi @Morriz , this is a by design feature. And I think there are some reasons to design as this. The password is auto generated when creating the sp and return to user only once. There is no way to get this password from any API call. So if we keep it same with before when creating the sp for the second time, previous password would not be able to return to user. Also there are some other fields(st

[2020-03-11 01:29] yonzhan commented on #11610
Yes, preview tag is controlled by CLI framework. https://github.com/Azure/azure-cli/blob/dev/doc/onboarding_guide.md#preview-extensionmodule-to-ga-module

[2020-03-11 01:42] MyronFanQiu commented on #12528
@dariuszbz Hi. @bradcavanagh-ffs is correct. front-door is an CLI extension right now. We need to run `az extension add --name front-door` to add the extension first.

[2020-03-11 02:08] zhoxing-ms commented on #12089
@na2ko-ucym Hello, this issue has been fixed in the latest version of azure-cli (2.2.0), please download the latest version of the package to try.
If there are any questions, please feel free to give us feedback~

[2020-03-11 02:08] #12089 closed

[2020-03-11 02:10] zhoxing-ms commented on #9067
@murarisumit Hello, this issue has been fixed in the latest version of azure-cli (2.2.0), please download the latest version of the package to try.
If there are any questions, please feel free to give us feedback~

[2020-03-11 02:10] #9067 closed

[2020-03-11 02:22] zhoxing-ms commented on #11342
Because I haven't received any reply for a long time, I will close this issue first. If you still have questions, please feel free to give feedback.

[2020-03-11 03:08] qwordy commented on #11857
I opened a pull request for this issue.

[2020-03-11 03:18] jiasli commented on #12313
Fixed the regression with https://github.com/Azure/azure-cli/pull/12532

From the `--debug` log of `az sql server wait`, the sql server doesn't use `"provisioningState": "Succeeded"`, but `"state": "Ready"`.

[code]

Since `wait` is a generic ARM command, I am not sure whether we need to make an exception for SQL or add `--ready` since this will confuse customers using other commands like `vm wait

[2020-03-11 03:31] jiasli opened #12534 "[CDN] High module load time"
CDN module's load time is high and makes the [CI fail](https://dev.azure.com/azure-sdk/public/_build/results?buildId=287224&view=logs&j=7404ef1f-783f-5679-928f-0d7cc5ba4824&t=67e27e1d-03f1-5d3a-1b07-cd8c854bcc38&l=137) frequently:

[code]

[2020-03-11 03:35] #7753 closed

[2020-03-11 03:41] yonzhan commented on #12530
add to S168

[2020-03-11 03:43] yonzhan commented on #12531
@bim-msft please take a look

[2020-03-11 03:43] gauravsaralMs commented on #12165
Hi

I am no longer working on this project, please contact @ishittam8

[2020-03-11 03:46] bim-msft commented on #12517
@akingscote Hi, what's version are you using? You may run `az --version` to check your version. The key downloading feature is only available at versions that `>= 2.0.81`

[2020-03-11 05:22] #12361 closed

[2020-03-11 05:28] bim-msft commented on #12288
Related to #11576 , we are investigating this.

[2020-03-11 05:32] #12254 closed

[2020-03-11 05:32] #12387 closed

[2020-03-11 05:32] MyronFanQiu commented on #12253
close this issue since it's already supported.

[2020-03-11 05:32] #12253 closed

[2020-03-11 05:35] fengzhou-msft commented on #9667
RPM is now using python 3 and this issue can not be replicated with azure cli 2.2.0.

[2020-03-11 05:41] fengzhou-msft commented on #12062
need to figure out how to reproduce this issue.

[2020-03-11 05:42] panchagnula commented on #12159
@chriswue note the difference in the stack trace error message
looks like in this case you are trying ti create a windows app with the following runtime version & as per az webapp list-runtimes this is not a supported runtime version. If you are trying to create a linux app make sure you use an ASP that supports Linux. Also if you still believe you have an issue please file a new issue. since the

[2020-03-11 05:42] yungezz commented on #10877
move to later Sprint, managed HSM control plane will be ready around April.

[2020-03-11 05:43] #12229 closed

[2020-03-11 05:43] #12228 closed

[2020-03-11 05:43] #12215 closed

[2020-03-11 05:43] #12148 closed

[2020-03-11 05:43] #12121 closed

[2020-03-11 05:44] #12114 closed

[2020-03-11 05:44] #12109 closed

[2020-03-11 05:44] #12057 closed

[2020-03-11 05:44] #12055 closed

[2020-03-11 05:45] fengzhou-msft commented on #12345
DataMigration already covered with `az dms`.

[2020-03-11 05:45] #12345 closed

[2020-03-11 05:46] #12483 closed

[2020-03-11 05:46] #12491 closed

[2020-03-11 05:46] #12408 closed

[2020-03-11 05:46] #12398 closed

[2020-03-11 05:47] #12393 closed

[2020-03-11 05:47] #12388 closed

[2020-03-11 05:48] panchagnula commented on #12360
Thanks for the feedback - for now this is by design & we will consider this when we re-create / rewrite support for webapp ASP create

[2020-03-11 05:48] #12360 closed

[2020-03-11 05:49] panchagnula commented on #12227
This now fixed with the latest version of CLI 2.2.0 please re-try. Thanks!

[2020-03-11 05:49] #12227 closed

[2020-03-11 05:51] jakaruna-MSFT commented on #12520
Thanks @adewaleo

[2020-03-11 05:51] #12534 closed

[2020-03-11 05:52] panchagnula commented on #11936
Closing due to lack of response please re-open or file a new issue if this still persists. Thanks!

[2020-03-11 05:52] #11936 closed

[2020-03-11 05:52] panchagnula commented on #11920
Closing due to lack of response- please re-open or file a new issue if this is still a problem. Thanks!

[2020-03-11 05:52] #11920 closed

[2020-03-11 06:02] panchagnula commented on #11412
@kotasudhakarreddy can you check if this still repros with the latest version please? Thanks!

[2020-03-11 06:05] yungezz commented on #12319
released in 2.2.0, close the issue now.

[2020-03-11 06:05] #12319 closed

[2020-03-11 06:05] yungezz commented on #12328
feature work done and tested by service team. release is pending on service side public, currently private preview.

[2020-03-11 06:29] Kotasudhakarreddy commented on #11412
looking in to it.

[2020-03-11 06:46] bim-msft commented on #12531
@Karishma-Tiwari-MSFT Hi, I did some investigations on this and finally found that this is not a CLI issue.
For KeyVault, I believe the permission options are case insensitive, both `wrapKey/unwrapKey` and `wrapkey/unwarpkey` are correct, so if you run `az keyvault set-policy --object-id xxx --key-permissions wrapKey/wrapkey/WRAPKEY`, the results are all same.
Although we can pass different cases

[2020-03-11 06:55] michaelringholm commented on #12057
So I wrote in the previous post that dotnet core is missing completely from the list, and it **still is** I can see, why close it then?

[2020-03-11 07:02] akingscote commented on #12517
@bim-msft I assumed it would be something like this. Im using version 2.0.80.
Can you please add something more obvious to the documentation to say you need 2.0.81?
Thanks, Ashley

[2020-03-11 07:19] bim-msft commented on #12517
@akingscote It's a good idea to add the version limit info into the documentation, thanks for your suggestion, we'll find out a good way to implement this.

Actually, we have release notes here: https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?view=azure-cli-latest#february-04-2020 , but it's still inconvenient (at least for me).

Issue closed, feel free to reopen if you have any

[2020-03-11 07:19] #12517 closed

[2020-03-11 07:35] zhoxing-ms commented on #11963
@DLHForsberg Hi, I did some tests according to my understanding of the problem, but I can't reproduce the problem. Could you please give me some specific information?
Please send me the template of deployment and command parameters you used by email (replace the confidential information with other string). My email address is Zhou.Xing@microsoft.com, Thank you~

[2020-03-11 07:48] #12222 closed

[2020-03-11 07:50] dariuszbz commented on #12528
Aha !!!!
🤔
I did not going the clue in documentation.

On Tue, 10 Mar 2020, 21:24 Brad Cavanagh, <notifications@github.com> wrote:

[2020-03-11 08:31] nsavelyeva commented on #9831
Hi All,
I see S164 is closed on Feb 4, 2020.
I have azure-cli v.2.2.0 and I install devops extension (v.0.17.0), but still the extensions is not available for other users. Is there any workaround to make extensions visible to other users? The one mentioned above did not work for me.
Thanks.

[2020-03-11 08:44] chriswue commented on #12159
@panchagnula Indeed - I'm sure I checked it many time, still missed it. Thanks.

[2020-03-11 08:51] Atif-byte opened #12538 "while creating a deployment through Azure CLI I am facing one issue as mentioned below."
**Resource Provider**
What is the Azure resource provider your feature is part of?

https://portal.azure.com/?quickstart=true#blade/HubsExtension/BrowseResourceGroups

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.

I am deploying DELL-EMC CLoudboost, Please refer below guide for refe

[2020-03-11 09:03] wangdian opened #12540 "Error when creating resource group"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group create --name {} --location {} --subscription {}`

## Expected

[2020-03-11 09:47] ksiuda93 commented on #12496
using lowercase and no special char it is working :) THX!

[2020-03-11 10:01] yonzhan commented on #12538
add to S168

[2020-03-11 10:03] yonzhan commented on #12540
add to S168

[2020-03-11 10:25] mustafa-rean commented on #12346
Do we have any updates on this issue?
I am facing the same issue as mentioned by @sinelshchikov

[2020-03-11 10:59] ishitam8 commented on #12165
Hi @ap-bansal ,

Apologies for the late reply.
Currently this feature is not supported in the azure-devops-cli, since there are no separate cmds to add/commit a file.
We rely on your git commands for this.

You can still combine the 'az repos create' command and git add/commit commands and automate your functionality.
Will that work for you ?

If not, can you please share your exact use-case?

[2020-03-11 11:04] Atif-byte commented on #12538
Hi Yonzhan can you please update what is a"add to S168" all about? Do you need any further information from my end?

[2020-03-11 11:36] BillChirico commented on #7245
What does the @ symbol do in this case? I’m looking to implement this in Azure DevOps using the classic editor and I have a bash script that I’m currently executing. Will the CLI automatically read the JSON file when prefixed with @?

[2020-03-11 11:49] mbsnl commented on #12297
We observe similair issues from CloudShell. This command is also not reliable and doesnot work every now and then and aprox. 30 minutes later it's fine:
`azureuser@Azure:~$ az acr list
The access token has been obtained for wrong audience or resource 'https://graph.windows.net/'. It should exactly match with one of the allowed audiences 'https://management.core.windows.net/','https://management.co

[2020-03-11 11:51] yonzhan commented on #12538
Planned in https://github.com/Azure/azure-cli/milestones

[2020-03-11 11:56] richeney commented on #11985
I was really hoping this issue would have an explanation and examples for OData filters!

[2020-03-11 12:05] richeney commented on #11985
Some old documentation:
<https://docs.microsoft.com/en-us/previous-versions/azure/ad/graph/howto/azure-ad-graph-api-supported-queries-filters-and-paging-options#filter>

Examples:
[code]

[2020-03-11 12:26] infrageek commented on #12513
Happens while redeploying

[2020-03-11 12:50] julianosecondo opened #12545 "Trying add rule on CDN sku MS"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cdn endpoint rule action add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az cdn endpoint rule action add -g {} -n {} --profile-na

[2020-03-11 12:58] yonzhan commented on #12545
cdn

[2020-03-11 13:24] stevenkaras commented on #11783
@jsntcy Is the ID format fully stable and intended for use in that manner? Are you willing to commit to that stability?

If so, where is the ID format documented? If Azure partners with a thirdparty provider of cloud compute or networking, how will it show up in the ID format? Will it follow the exact same format as your ids, or will it be per-provider?

[2020-03-11 13:25] jwrightazure opened #12546 "az network list-service-tags --location westus2 lists all regions"
az network list-service-tags --location westus2 lists all regions, not just westus2.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a1f75594-b95b-a85d-b971-c06e207e3fe2
* Version Independent ID: 16a09479-ff9b-9029-aae4-6ba14ccc8260
* Content: [az network](https://docs.microsoft.com/en-us/cli/azure/network?view=azure-cl

[2020-03-11 15:07] Kotasudhakarreddy commented on #11412
@panchagnula yes I am able to repro this is issue. looking further to fix the issue.

[2020-03-11 15:30] edwardsp commented on #12315
I am seeing this as well.  You can easily reproduce this with any ARM template where you don't have enough quota for the resources.

[2020-03-11 16:32] ericrousse opened #12549 "az network application-gateway waf-config want deprecation info on CLI Docs"
This page should reflect az cli, it says that waf-config is deprecated and replaced by waf-policy

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68725488-1e3a-ac2d-c454-bcedd26e4b70
* Version Independent ID: 706d7f46-f132-10ab-423c-4a640d65d2dc
* Content: [az network application-gateway waf-config](https://docs.microso

[2020-03-11 17:20] kenieva commented on #8016
Hi yonzhan, we don't have this in the upcoming plans due to other features in the pipeline. One of those is an improvement in the time for compliance evaluation to surface. With this exciting change, there will be little need to trigger an evaluation. However, I would recommend adding a feature request to our UserVoice on this request: https://feedback.azure.com/forums/915958-azure-governance. You

[2020-03-11 17:20] #8016 closed

[2020-03-11 17:55] lilyjma opened #12550 "testing bot"

[2020-03-11 17:58] #12550 closed

[2020-03-11 19:12] shannawaz opened #12552 "Remove deprecated option from example"
Modify example to change --name to --vmss-name.
 Option '--name' has been deprecated and will be removed in a future release. Use '--vmss-name' instead.

az vmss disk attach --name MyVmss --resource-group MyResourceGroup --size-gb 50

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8adcfd37-16cb-c9b8-531b-b2811ed62bcd
*

[2020-03-11 19:21] Nilambari commented on #1636
For Powershell command let:- https://github.com/Azure/azure-powershell/blob/master/src/Network/Network/VirtualNetworkGateway/NewAzureVirtualNetworkGatewayCommand.cs (New-AzureRmVirtualNetworkGateway), we do validate if the same named gateway already exists in this resource group in same region, and throw proper error. But, seems this issue is for CLI, and we(VPN team) don't own that codebase. So a

[2020-03-11 19:36] kjdeepthi commented on #6071
Is there a way to enable ip forwarding on vmss network interface ?Currently i see it is set to false with azure cni

[2020-03-11 19:43] Vishakha-Git commented on #11942
I am looking at the logs for the correlationIds provided, can we get an approximate timeframe for when these operations were done?

Portal move:
"correlationId": "3e132999-4a0b-4c28-ac29-3aeabf042adc"
Time: 4 minutes
CLI Move:
"correlationId": "154cc4f8-4d22-4d2d-b208-3ca68b8a1b68"
Time: 3 hours

[2020-03-11 20:02] Vishakha-Git commented on #11942
For CLI Move:
"correlationId": "154cc4f8-4d22-4d2d-b208-3ca68b8a1b68"
Time: 3 hours

The resource move completed for this case, The notifications for one of the resource post move kept retrying for around 2 hours before they succeeded. Hence the resource groups were locked till the notifications complete.

[2020-03-11 20:08] tjprescott commented on #1636
I'm no longer on the CLI team, but generally the pattern is that CLI create commands do not do an existence check for resources.

[2020-03-11 21:59] shurd commented on #12526
Hi @sinedied, thank you for opening this issue. The "az cosmosdb keys list" accepts an optional parameter "--type" that can be "connection-strings", "keys", or "read-only-keys". If you want the connection strings for the account, you can use a command similar to:

`az cosmosdb keys list --name {} --resource-group {} --type connection-strings`

You can view all details about this command using `az

[2020-03-11 21:59] #12526 closed

[2020-03-11 22:01] RogerBestMsft opened #12553 "Error message for Uppercase Image name is misleading"
### Describe the bug
The error message when using uppercase letters in the image name is misleading

**Command Name**
`az acr task create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

-Create Container registry
-az acr task create --image ARMoreTF:{{.Run.ID}} --name ARMoreTF_Task --r

[2020-03-11 22:54] thisisbrianstewart commented on #11863
Any update or feedback on this?  @fabiocav or @ankitkumarr ?  Would really love to get this fixed.  Happy to help out in any way I can -- examples, repro, PR, etc.

[2020-03-12 00:13] yonzhan commented on #12546
add to S168

[2020-03-12 00:20] yonzhan commented on #12549
add to S168

[2020-03-12 00:25] yonzhan commented on #12552
@qwordy please take a look

[2020-03-12 00:56] yonzhan commented on #12553
acr

[2020-03-12 01:02] yugangw-msft commented on #12553
@northtyphoon, error improvement

[2020-03-12 01:44] kashishk-2001 opened #12555 "az boards query doesnt return results for query with tree of work items"
**Describe the bug**
az boards query --id <ID> returns no items if the query is a tree of work items.

**To Reproduce**
Create a query on ADO; save it as tree of work items; run the command and it should return nothing.
Change the query to flat list of work items and return the same command; it will return the results.

**Expected behavior**
AZ cli should return a flat list of work items regardles

[2020-03-12 01:50] jsntcy commented on #11783
Yes, I think the ID format is fully stable as it conforms to Azure Resource Manager schema. You can find the resource id format in https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions-resource#return-value-5

Even if a third-party provider, it should also conform to Azure Resource Manager schema as all traffic will be through ARM service.

[2020-03-12 01:55] kjdeepthi commented on #6071
Figured out a way with az vmss update --resource-group <resource group name> --name <vmss-scale-set> --set virtualMachineProfile.networkProfile.networkInterfaceConfigurations[0].enableIPForwarding=false

[2020-03-12 01:57] zhoxing-ms commented on #11942
@a-vishar Could you please provide the correlationIds of Resource and Resource Group again when moving resources on CLI? The investigation conducted by @Vishakha-Git has made progress, and we have some problems that need to be confirmed by other correlationIds.

[2020-03-12 02:58] MyronFanQiu commented on #12549
@haroldrandom Could you please take a look at this issue?

[2020-03-12 03:00] MyronFanQiu commented on #12546
@jwrightazure Yes. I think you are right. Let me check.

[2020-03-12 03:26] Juliehzl commented on #11729
It is already fixed in PR https://github.com/Azure/azure-cli/pull/12327.
Please try with new azure cli version.

[2020-03-12 03:26] #11729 closed

[2020-03-12 03:38] MyronFanQiu commented on #12546
@chandrasekarsrinivasan Hi. I check the rest call and the endpoint is
[code]
Could you take a look at this issue?

[2020-03-12 03:42] Juliehzl commented on #11643
Verified current command behavior with "file 1.txt". The output is "https://zuhors1.blob.core.windows.net/test/file 1.txt?sv=2018-11-09&sr=b&sig=yIveRn2O5hWBXMeTFnF42Ryxox8ZOnWWNj3hIlxAahU%3D", which is the same as user reported.

[2020-03-12 03:45] MyronFanQiu commented on #1636
In my opinion, CLI can do such validation. But I think server should not return the "Internal Server Error". For a PUT method, I think it should have idempotency。

[2020-03-12 03:49] zhoxing-ms commented on #11978
@sirwarshade Hi, `az resource update` is not designed to support updating the webapp config. (I can't actually update path mappings by executing this command on either Windows or Linux)
It only supports the following functions:
1. Resources - Update [(doc link)](https://docs.microsoft.com/en-us/rest/api/resources/resources/update)
2. Resources - Update By Id [(doc link)](https://docs.microsoft.com

[2020-03-12 03:50] Juliehzl commented on #11643
potential solution:
- use urllib.parse.quote() to encode url.
- for both `blob url` and `blob generate-sas`

[2020-03-12 03:55] zhoxing-ms commented on #11978
@sirwarshade You can have a try. If you have any other questions, please let us know.

[2020-03-12 03:56] MyronFanQiu commented on #12528
@dariuszbz it's fine. 😄 If you don't have other question, we can close this issue.

[2020-03-12 05:13] gaoruifeng commented on #12368
there is already `az network nic ipconfig update` to update the application security groups
https://docs.microsoft.com/en-us/cli/azure/network/nic/ip-config?view=azure-cli-latest#az-network-nic-ip-config-update

[2020-03-12 05:24] dcbrown16 opened #12557 "Linked as how-to"
It seems very irregular to me that this page is linked in the AKS How-to guides as "Create an AKS cluster" with the following link:
https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest&toc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Faks%2FTOC.json&bc=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Fazure%2Fbread%2Ftoc.json#az-aks-create

I expect how-to docs to be prose explanatio

[2020-03-12 05:42] enzigma-gaurav-wadghule opened #12558 "error with az storage blob upload-batch command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob upload-batch`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob upload-batch -s {} -d {} --account-key {} -

[2020-03-12 05:51] gaoruifeng commented on #12368
https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/network/custom.py#L3049
This code shows when creating NIC, an ip-config is created and ASG is associated to ip-config

According to doc https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-network-interface-addresses#secondary

So to update ASG of a NIC, instead of updating NIC, we need to update

[2020-03-12 06:53] Juliehzl commented on #11631
Reproduced. I will take a look at it.

[2020-03-12 07:08] bertrandpons commented on #12427
@panchagnula ok thank you too bad. Do you know if it is planned ?

[2020-03-12 07:24] Juliehzl commented on #11629
There are several things to be improved:
1. Preview information for commands when is_preview=True is specified in commands or commands group.
Currently it only shows up ***blue information*** when inputting `-h`.

2. Show up commands belonging to extension and need additional step to install it.
Current generated doc structure is as follows:
![image](https://user-images.githubusercontent.com/49508

[2020-03-12 07:26] Juliehzl commented on #11629
For Preview kwargs part, it is dupe of #11923.

[2020-03-12 07:32] OrionGG opened #12559 "HTTPError: 400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token"
## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac --name {} --role {} --scopes {} --query {} --output {}`

## Expected Behavior

## Environment Summary
[cod

[2020-03-12 08:10] jukkamaljanen commented on #12334
1) Uploading files. Getting a publish profile, using it to authenticate and pushing things to the webapp without too many third party apps.
2) Should the PS be able to execute the syntax that its own help files print? This is a bug, people!

[2020-03-12 08:38] zhoxing-ms commented on #11963
@DLHForsberg Thank you for the templates and parameters provided in your email. I simplified the templates and parameters, and found that the command can be executed successfully, and the problem should not be related to Ä or ä.
Because I don't have the resources in your environment (such as keyvault), it's not easy for me to reproduce your problem.
According to the error log you provided on githu

[2020-03-12 08:55] x10an14 commented on #7957
I still have this exact same error message, is it due to a different reason?

<details>
<summary>Azure CLI metadata</summary>

[code]

</details>

<details>
<summary>Azure CLI `az ad sp credential reset --append --debug` output</summary>

[code]

</details>

[2020-03-12 09:10] yungezz commented on #12559
HI @OrionGG could you pls share context ? from exception, it's talking to localhost and get msi token

[2020-03-12 09:11] yungezz commented on #12557
thanks for reporting the issue, we're looking at it

[2020-03-12 09:12] x10an14 opened #12561 "Unable to append password credential to ServicePrincipal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Unable to append a new password credential to a Service Principal (read: `az ad app` Azure Application).

**Command Name**
`az ad sp credential reset`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[2020-03-12 09:13] x10an14 commented on #12561
also referenced/first mentioned here: https://github.com/Azure/azure-cli/issues/7957#issuecomment-598075136

[2020-03-12 09:36] #11710 closed

[2020-03-12 09:47] Juliehzl commented on #12558
Hi @enzigma-gaurav-wadghule , as you know python 2 is deprecated from 2020.01.01. In this way, CLI will not support python2 in the future.
I have tested the reported command in python 3 environment and it works well.
Please upgrade your python version to 3.x or using the following linux package to install azure cli:
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-03-12 09:49] Juliehzl commented on #12558
I will close the issue and if you still have problem with the solution I provided, feel free to reopen itnor create a new one.

[2020-03-12 09:49] #12558 closed

[2020-03-12 09:55] sanderploegsma commented on #11863
We are experiencing somewhat the same issue: we have a functionapp (Node.js) deployed as package through `func`, and our build pipeline provisions the Azure resources using the CLI under the assumption that it's idempotent.

As soon as the `az functionapp create` command is run, all functions in the app lose their contents and the app settings are reset to their defaults.

[2020-03-12 10:20] yungezz commented on #12184
https://github.com/Azure/azure-cli/pull/11865

[2020-03-12 10:21] #12184 closed

[2020-03-12 10:34] winseng-ws opened #12564 "create aks cluster failture"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --node-count {} --enable-addon

[2020-03-12 10:46] dariuszbz commented on #12528
az extension add --name front-door - works :)

[2020-03-12 10:46] #12528 closed

[2020-03-12 11:24] nidiculageorge opened #12565 "az aks update: error: argument --api-server-authorized-ip-ranges: expected one argument"
When running the aks update for authorized IP range i am getting the below error

 az aks update `
    --resource-group aks-poc-seab `
    --name aksseabpoc `
    --api-server-authorized-ip-ranges

az aks update: error: argument --api-server-authorized-ip-ranges: expected one argument

[2020-03-12 11:28] x10an14 commented on #12561
A colleague of mine who's more comfortable with Azure Portal than the Azure CLI helped me and managed to add the new password-credential via Portal (this says to me the problem most likely lies within the `az` CLI itself):

[code]

`keyId` `5f309054-2814-49a9-8657-dbde5a6ba145` is the new one, the other (the old) one being the one referenced in the error message.

[2020-03-12 11:29] x10an14 commented on #12561
Attempting to add anew with the CLI after having done so via Portal still returns the same error message;
[code]

[2020-03-12 12:05] yungezz commented on #12565
thanks for reporting, we are looking at it

[2020-03-12 12:05] enihcam opened #12566 "The user or administrator has not consented to use the application with ID"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az rest`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login`
- `az rest -m {} -u {}`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-03-12 12:07] yungezz commented on #12566
HI @zhoxing-ms could you pls have a look? thanks

[2020-03-12 12:08] yungezz commented on #12564
thanks for reporting, we are looking at it

[2020-03-12 12:08] yungezz commented on #12561
HI @jiasli could you pls have a look?

[2020-03-12 12:36] nidiculageorge commented on #12565
any update on the below

[2020-03-12 12:47] Juliehzl commented on #11631
Actually the config file is in user `~/.azext_db_up`. e.g.

[code]

From code https://github.com/Azure/azure-cli-extensions/blob/master/src/db-up/azext_db_up/_validators.py#L33-L44, we can find the set operation.

[2020-03-12 12:51] nidiculageorge commented on #12565
We are trying to delete the IP authorization

https://docs.microsoft.com/en-us/azure/aks/api-server-authorized-ip-ranges

az aks update \
    --resource-group myResourceGroup \
    --name myAKSCluster \
    --api-server-authorized-ip-ranges ""

This is the command but its not running

[2020-03-12 13:03] yungezz commented on #12565
hi @jluk could you have a look at this?

[2020-03-12 13:25] yonzhan commented on #12561
add to S168

[2020-03-12 13:30] yonzhan commented on #12566
add to S167

[2020-03-12 13:39] Juliehzl commented on #11633
It is because we will cache first generated random server name.

Typically, when running `az postgres up`, we will find cached resource group and server name first. And if existing, we will upgrate the server with other parameters.

But in the video scenario, in the second time, with additional `-g` parameter, with first cached server name, CLI will try to create a server with existing name in a n

[2020-03-12 13:47] Juliehzl commented on #11635
Yes. For the simplest `az postgres up`, we don't enable SSL enforcement by design.
We will discuss if we need to enable it by default.

[2020-03-12 13:52] Juliehzl commented on #6250
Add SDK information https://pypi.org/project/azure-mgmt-automation/.

[2020-03-12 13:53] Juliehzl commented on #6250
What about we add it in azure cli extension with CodeGen tool?

[2020-03-12 14:13] Juliehzl commented on #12193
Yes. Currently all commands in `storage entity` may have the same warning message, because there will be a breaking change for such data plane operations. Please provide your credentials as suggested to avoid the message and breaking change in the future.

[2020-03-12 14:15] Juliehzl commented on #12193
We are working on a new feature `--only-show-errors` to provide a way to avoid warning message. But you may lose some useful warning information.
For the warning message, please try to provide credentials as shown in your script, because we may make it required in the future.

[2020-03-12 14:46] LockTar commented on #9778
Uggly workaround to check if origin is already set in PowerShell.
If not set, add it otherwise skip.

[code]

[2020-03-12 15:08] greentree8 opened #12569 "Errror running aks get-credentials"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
The command failed with an unexpected error. Here is the traceback:

'users'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/li

[2020-03-12 15:14] yungezz commented on #12569
thanks for reporting, we'll look at it

[2020-03-12 15:16] jiasli commented on #12566
@enihcam, as discussed offline, from the `az resource` log, the management endpoint you used is `https://api-dogfood.resources.windows-int.net/`, but it seems `az rest` fails to get the access token.

- Please try `az account get-access-token --resource https://api-dogfood.resources.windows-int.net/ --debug` and share the output
- Please follow this doc to capture a Fiddler trace: https://github.c

[2020-03-12 15:20] Juliehzl commented on #11632
Printed message during deployment.
[code]

[2020-03-12 15:29] enzigma-gaurav-wadghule commented on #12558
Hi Juliehzl, thanks for your response.

I tried with updating python version to 3 but now I am getting this error

  Installing build dependencies ... error
  ERROR: Command errored out with exit status 1:
   command: /usr/bin/python3.8 /usr/lib/python3.8/site-packages/pip install --ignore-installed --no-user --prefix /tmp/pip-build-env-1nzsyts2/overlay --no-warn-script-location --no-binary :none:

[2020-03-12 15:32] jluk commented on #12557
Thanks for the report - this is a docs issue we will get fixed. I am going to close this as this is the azure-cli repo and not azure docs, should be fixed in 2 days.

[2020-03-12 15:32] #12557 closed

[2020-03-12 15:41] jluk commented on #12557
Given we have the full walkthrough of how to create/delete in the AKS tutorial, we will be removing those ToC references as we agree it is not the proper docs experience to link to a CLI help guide.

[2020-03-12 15:45] jluk commented on #12564
The error looks like a registration error, can you validate microsoft.containerservice is returned on `az provider list`?

If not you can register the provider with `az provider register -n microsoft.containerservice'

[2020-03-12 15:46] jluk commented on #12565
An empty string is required like the second command you ran

`az aks update
--resource-group myResourceGroup
--name myAKSCluster
--api-server-authorized-ip-ranges ""`

Can you share the error message returned when running that? The original post shows an error that will return if the empty string is not passed in.

[2020-03-12 15:47] vbrinza opened #12570 "update SKU"
What is the purpose of having the --sku flag into the update subcommand if the change is not allowed by the API?

az network public-ip update -g rg -n pip --sku Basic
Sku property is set at creation time and cannot be changed from Standard to Basic on resource update for resource

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-03-12 16:49] cachuahu opened #12571 "SetOrchestrationServiceState CLI Request"
Hi,
 We have a new compute API that we want to release by March 31 2020.

So far, the swagger and SDK changes are not merged yet in public repo but its estimated to be merged by end of week or next week.

The swagger changes: https://github.com/Azure/azure-rest-api-specs/pull/8613
SDK changes: https://github.com/Azure/azure-sdk-for-net-pr/pull/967/commits
Powershell cmdlet design approved: https:/

[2020-03-12 17:08] nidiculageorge commented on #12565
Hi Jluk,

I was geeting the same error as before when using the "" also

[2020-03-12 17:09] alessandromuresan commented on #11226
What exactly did you discuss in Teams? We're facing a similar issue

[2020-03-12 17:49] amergey opened #12573 "In "az vmss update --set" property value is calculated instead of using its string form"
I'd like to change a sku on a scale set. My sku is called "5-1" when I tried to change it using cli

`az vmss update --set virtualMachineProfile.storageProfile.imageReference.sku=5-1`

It seems 5-1 is calculated so 4 is used as a value, but I really want 5-1 to be used as the error message is _The platform image 'semarchy:xdm-solution-vm:4:latest' is not available._
the image I want is **semarchy:

[2020-03-12 18:37] anthonychu commented on #12513
@infrageek Can you please share a repro or your function app name so we can investigate? Thanks.

[2020-03-12 19:01] contento commented on #12090
FYI: I'm getting the same error even if the resource group is the same for all resources.

[2020-03-12 19:04] contento commented on #12090
and the version is 2.2.0
`▶ az --version
azure-cli                          2.2.0

command-modules-nspkg              2.0.3
core                               2.2.0
nspkg                              3.0.4
telemetry                          1.0.4
`

[2020-03-12 19:14] amasover commented on #12308
I see the same behavior as @garimpeirodouniverso, both running the CLI locally on my machine, and from Cloud Shell. I hadn't tried `az webapp ssh` before today, so I've never seen successful behavior. I also get a timeout error with `az webapp create-remote-connection`.

[2020-03-12 20:11] sinedied commented on #12526
Hi @shurd , that's good to heard 👍
But then if the option is there, you should indicate it in the deprecation message, it would avoid needless confusion. Would you be open to a PR for this?

[2020-03-12 20:50] lokijota opened #12575 "Documented syntax is deprecated"
For example when running "az cosmosdb database create ..." there's a warning saying:

"This command has been deprecated and will be removed in a future release. Use 'cosmosdb sql database, cosmosdb mongodb database, cosmosdb cassandra keyspace or cosmosdb gremlin database' instead."

This is with az cli version 2.0.79 (which is not the latest).

---
#### Document Details

⚠ *Do not edit this secti

[2020-03-12 21:09] Dje-Bos opened #12576 "Failed to create Azure Kubernetes Service"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --node-count {} --enable-addon

[2020-03-12 21:30] jnoller commented on #10400
@Drewm3 this is not resolved - the string interpolation that's occuring isn't correct - or not documented. Specifically, omitting the `#!/bin/...` line is a super weird thing and non intuitive for linux users.

[2020-03-12 22:11] mayanknayar commented on #10400
@koralski can you comment on the string interpolation? And do we require #!/bin/bash to be removed?

[2020-03-12 22:52] jkruis commented on #9427
I have encountered the same issue twice when running a .NET Core project (targeting netcoreapp3.1) from Visual Studio 2019 (16.4.2) on win10. No Azure orchestration was involved. Maybe this sheds some new light on the issue.

I am authentating with "az login" (azure-cli 2.0.77) and [accessing a keyvault from the .NET Core project](https://docs.microsoft.com/en-us/azure/key-vault/service-to-service

[2020-03-12 23:14] dcbrown16 commented on #12557
Sounds good, thanks @jluk!

[2020-03-12 23:41] yungezz commented on #12573
HI @qwordy could you pls have a look? thanks.

[2020-03-12 23:42] yungezz commented on #12576
thanks for reporting it, we'll look at it

[2020-03-12 23:42] yungezz commented on #12575
thanks for reporting, we'll look at it

[2020-03-12 23:43] yungezz commented on #12570
HI @MyronFanQiu could you pls have a look? thanks

[2020-03-13 00:14] ankitkumarr opened #12577 "az functionapp create should change LinuxFxVersion for dotnet"
For dotnet, the setting needs to be empty, rather than `Dotnet`. Setting it to `Dotnet` is not recommended and will fail to create on Linux Consumption.

We should set it to empty string for all skus for consistency.

[2020-03-13 00:17] alex-frankel commented on #10324
can this issue be assigned to @lpavel? Or @lpavel can you assign ownership of the link to @tfitzmac?

[2020-03-13 00:23] yungezz commented on #12577
thanks for reporting, we'll have a look

[2020-03-13 00:35] planteman opened #12578 "Unable to run az storage copy"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage copy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage copy`

## Expected Behavior

## Environment Summary
[code]
##

[2020-03-13 01:39] MyronFanQiu commented on #12570
@vbrinza You're right. Usually we cannot update it. But it's out of our control. For this scenario, I will check with service team to see whether we need to deprecate this one or not. Thanks for raising this issue.

[2020-03-13 02:11] jsntcy commented on #11226
@alessandromuresan ,

Here is the script that had issue we talked in Teams, and after we remove "**az login --service-principal -u $(serviceprincipal) -p $(servicepass) --tenant $(tenant)**", the issue was gone.

- task: AzureCLI@2
  displayName: Azure CLI
  inputs:
    azureSubscription: blob
    scriptType: ps
    scriptLocation: inlineScript
    inlineScript: |
        **az login --service-prin

[2020-03-13 02:11] winseng-ws commented on #12564
I ran the command again and it runs successfully. Thank you.

[2020-03-13 02:11] #12564 closed

[2020-03-13 03:04] yungezz commented on #12578
hi @Juliehzl could you pls have a look? thanks.

[2020-03-13 04:05] zhoxing-ms commented on #11978
By the way, there is another unreasonable phenomenon: when the error message contains special characters, it will print a lot of less related error logs more than when there are no special characters in the error message.
The reason for this phenomenon is related to the bug of msrestazure-for-python: https://github.com/Azure/msrestazure-for-python/issues/143. When calling the logging library to pr

[2020-03-13 04:08] yungezz commented on #12571
put it in S167

[2020-03-13 05:13] qianwens commented on #12039
@vtjc2002 , you can find some json samples for policy here https://docs.microsoft.com/en-us/azure/storage/blobs/storage-lifecycle-management-concepts?tabs=azure-portal

[2020-03-13 05:29] qianwens commented on #11788
@dhbl-in , it seems CLI failed to resolve the host name nq2cyclecloudrgdiag.file.core.windows.net. Is there any network proxy configured in your network?

[2020-03-13 05:39] zhoxing-ms commented on #11963
By the way, there is another unreasonable phenomenon: when the error message contains special characters, it will print a lot of less related error logs more than when there are no special characters in the error message.
The reason for this phenomenon is related to the bug of msrestazure-for-python: Azure/msrestazure-for-python#143. When calling the logging library to print the log, we encountere

[2020-03-13 06:31] amolagar5 commented on #6011
I have fixed the test in latest code , its working now.

[2020-03-13 06:49] Juliehzl commented on #6121
@achandmsft Do you need we should support the feature?
@alexeyshishkin01 Is this what you want for the feature? https://docs.microsoft.com/en-us/azure/marketplace/cloud-partner-portal/cpp-marketplace-offers.

[2020-03-13 06:54] Juliehzl commented on #5576
@elibarzilay May I know which kind of scenario you want to support for regexp pattern? Can you show me an example for the usage?

[2020-03-13 08:13] nidiculageorge commented on #12565
any update

[2020-03-13 08:54] seanhamlin commented on #11456
Can confirm the latest CLI resolved this issue for me.

[code]

[2020-03-13 09:03] alexeyshishkin01 commented on #6121
this is almost two year old question
your cloud competitors work better

your 'answers' had nothing to do with my question all these two years
I don't know the reason of that

[2020-03-13 09:54] davide-sergi opened #12581 "Azure CLI - KeyVault extension - set-policy command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault set-policy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault set-policy --name {} --object-id {} -g {} --secret-pe

[2020-03-13 09:55] #12581 closed

[2020-03-13 10:04] qianwens commented on #11956
@wjia7 yes, it is a random password generated by CLI which is the secret of the created service principle app.

[2020-03-13 10:42] naymore commented on #9250
I cannot reset something where I am not an owner of.
So I really need the possibility to add owners to SPN.

Please fix the incomplete CLI.

[2020-03-13 13:13] yonzhan commented on #12578
add to S167

[2020-03-13 14:11] kapilt opened #12582 "remove azure-cli-core wheel==0.30 wheel pin"
instead of hard coding a static wheel pin, azure cli should use a semver constraint
latest wheel is (0.34.2) vs current pin (0.30.0)

[2020-03-13 14:16] yonzhan commented on #12582
@fengzhou-msft  please take a look

[2020-03-13 15:16] Atif-byte commented on #12538
Hello zhoxing-ms and yonzhan.. Can you help me on the above mentioned please?

[2020-03-13 15:31] qwordy commented on #12520
Opened a PR to fix it.

[2020-03-13 15:33] qwordy commented on #12504
I haven't seen this error before. It's a ModuleNotFoundError. How do you installed Azure CLI?

[2020-03-13 17:17] jluk commented on #11456
Thanks for the confirm @seanhamlin! I am also unable to reproduce this issue, so closing as a result. However if you still encounter this issue please comment here and we will revisit.

Appreciate everyone's feedback as we drive these fixes.

[2020-03-13 17:17] #11456 closed

[2020-03-13 17:24] elibarzilay commented on #5576
@Juliehzl, I moved away from the project where I needed this, so I don't remember exactly what I needed it for -- but one example would be an operation on files with a suffix of `foo` or `bar`: if there are only glob patterns, then such things must be done in two operations and since the time overhead for each use is high, the result is much slower.

[2020-03-13 18:06] trvsmtchll commented on #9250
Looking for any updates on how to add a service principal completely with CLI without going to the GUI/Portal at all please.

[2020-03-13 18:27] jjnwu commented on #11871
Our deployment is blocked due to the same error code

2020-03-12T19:23:08.4378500Z        Operation Info:
2020-03-12T19:23:08.4386094Z            Start Time: 03/12/2020 19:22:40
2020-03-12T19:23:08.4392880Z            End Time: 03/12/2020 19:22:40
2020-03-12T19:23:08.4439932Z            Error Reason: Error in 'payloadProperties' for extension 'Microsoft.Azure.Portal.HostingService/DeployPortalExte

[2020-03-13 18:50] MarcPow opened #12585 "[Role] Typo in "Role Assignment already exists" message"
Found an existing application instance of "97faf87e-9041-4703-b0b7-905c03f074a6". We will patch it
Creating a role assignment under the scope of "/subscriptions/ff5bfe84-dc63-4b4c-ad36-2324ae8480ad"
  Role assignment already **exits**.

[2020-03-13 18:53] dekimsey commented on #9250
Made worse by the fact that owners must be User objects, so I cannot even set my team's security group here. I have to enumerate and add every individual member.

[2020-03-13 21:54] KyleHammackRS commented on #11454
are your vnet and webapps in the same resource group? i tried running this but it just errors saying the app and vnet need to be in the same region. i dont even have vnets with the same name so not sure how it is getting confused

[2020-03-13 23:56] minzhang28 commented on #10439
@jiasli  is there any update on this? We have the pod managed identity integrated but from the current cli implementation, there's no way for us to verify the identity form cli for the pod...

[2020-03-14 00:58] yonzhan commented on #12585
add to S168

[2020-03-14 01:03] yonzhan commented on #10439
add to S167

[2020-03-14 08:07] karataliu opened #12587 "'az aks update --api-server-authorized-ip-ranges' will also enable private cluster"
2.2

**Describe the bug**
az aks update -g <>-n <> --api-server-authorized-ip-ranges '' --debug

Will also update 'enablePrivateCluster' to true
"apiServerAccessProfile": {"authorizedIPRanges": [], "enablePrivateCluster": true}}}

This PR adds 2nd parameter instance to _populate_api_server_access_profile
https://github.com/Azure/azure-cli/pull/10976/files
This PR adds another parameter to _populat

[2020-03-14 11:21] yonzhan commented on #12587
aks

[2020-03-14 13:58] bellwether-thomas commented on #7013
This is still not fixed years later? Wow.

[2020-03-14 14:10] dbradish-microsoft opened #12590 "az notification-hub authorization-rule create --rights does not allow for multiple comma delimited values"
**Problem:** The ability to create a new authorization rule with > 1 **-- right** doesn’t seem to be working.

**Published Extensions Reference Documentation**
https://docs.microsoft.com/en-us/cli/azure/ext/notification-hub/notification-hub/authorization-rule?view=azure-cli-latest#ext-notification-hub-az-notification-hub-authorization-rule-create
“
--rights
The rights associated with the rule. _**

[2020-03-14 15:03] yonzhan commented on #12590
notification-hub

[2020-03-14 21:36] a-vishar commented on #11942
@zhoxing-ms - I have emailed you a full set of logs that include all of the information you should require.

[2020-03-15 00:38] yungezz commented on #12590
hi @fengzhou-msft could you pls help to follow up on this? thanks.

[2020-03-15 02:32] fengzhou-msft commented on #12590
@dbradish-microsoft Thanks for spotting this. The help message is not correct. When we use list in CLI, the common pattern is to separate by space. I have fixed the help message and provided examples in this [PR](https://github.com/Azure/azure-cli-extensions/pull/1380/files#). If you search rights, you'll see the changes.

[2020-03-15 04:10] haroldrandom commented on #4809
Closed as context lost, those scripts are removed. Besides, integration test and code static check are almost the between Azure/azure-cli and Azure/azure-cli-extensions. Besides azdev now has the ability to test and check style on extensions.

[2020-03-15 04:10] #4809 closed

[2020-03-15 04:48] cspadmin opened #12591 "Unable to delete Application security Group"
Im unable to delete ASG with error: Failed to delete the application security group 'myAsgWebServers'. Error: Application Security Group myAsgWebServers cannot be deleted because it is referenced by IpConfiguration(s) ipconfig1.

Tried the portal and PS but to no avail. there are no resources in the RG, only the ASG but cant delete it

[2020-03-15 05:36] haroldrandom commented on #7978
providing some data:

1. In the past 90 days, there is zero download of azure-cli-testsdk:
[code]

2. `azdev setup` install azure-cli-testsdk from source code via `pip install -e`
3. azure-cli-extensions only use azure-cli-testsdks in CI, but install it from "git+https://github.com/Azure/azure-cli@dev#egg=azure-cli-testsdk&subdirectory=src/azure-cli-testsdk" instead of PyPI
4. In Azure/azure-cli,

[2020-03-15 05:42] sudlo opened #12592 "az group delete not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group delete {}`

## Expected Behavior

## Environment Summary
[code]

[2020-03-15 07:12] yungezz commented on #12591
HI @MyronFanQiu could you pls have a look?

[2020-03-15 07:14] yungezz commented on #12592
hi @Juliehzl could you pls look at it?thanks.

[2020-03-15 07:17] yungezz commented on #12571
automatic instance repair related

[2020-03-15 09:00] qianwens commented on #12186
@mzkaramat , it seems you are using Python 2 which is not supported by CLI now. Could you please help try to install CLI with Python 3 and try again?

[2020-03-15 09:39] yonzhan commented on #12591
add to S167

[2020-03-15 09:40] yonzhan commented on #12592
add to S167

[2020-03-15 09:43] fengzhou-msft commented on #7978
@haroldrandom azure-cli-testsdk is not published on pypi. This issue requests to publish it so developers can develop extensions without cloning azure-cli repo. I think we need to verify that if we develop extensions without azure-cli repo, there are no other blockers.

[2020-03-15 09:46] qianwens commented on #12255
@lsong0905 Customer provided key is used in Rest API request or Storage SDK which is used to secure the data per request. https://docs.microsoft.com/en-us/azure/storage/common/storage-service-encryption?toc=%2fazure%2fstorage%2fblobs%2ftoc.json#about-encryption-key-management
So that it is not supported in Azure CLI.

[2020-03-15 09:57] qianwens commented on #12357
Same issue as #12193 , this will be fixed by new feature --only-show-errors to provide a way to avoid warning message.

[2020-03-15 10:17] qianwens commented on #12433
@scbedd , This error is due to Powershell interpreting & as a new command. You can fix this issue by wrapping "<SAS Token>" with quotes like this : --sas-token '"<SAS Token>"'

[2020-03-15 10:34] qianwens commented on #12447
@nitrosx , I cannot reproduce this error with the same command. Could you please help provide more information to help us to investigate?

[2020-03-15 16:35] lsong0905 commented on #12255
@qianwens Ok. Is there any plan that this feature will be supported in Azure CLI in future?

[2020-03-15 20:42] anaik91 opened #12594 "az vmss diagnostics set --resource-group <rg> --vmss-name <vmss> --settings router_config.json --protected-settings protected.json gives error The value of parameter type is invalid."
**Describe the bug**
az vmss diagnostics set cli gives  error"The value of parameter type is invalid."

**To Reproduce**
Steps to reproduce the behavior.
Run the command
- az vmss diagnostics set --resource-group <rg> --vmss-name <vmss> --settings router_config.json --protected-settings protected.json

**Expected behavior**
Enable LinuxDiagnostic on VM scale set

**Environment summary**
Install Me

[2020-03-15 20:57] cspadmin commented on #12591
its ok now. i deleted the other resource group. and was able to delete the ASG. not sure why it happened. i did not associate the ASG to another resources on that resource group.

[2020-03-16 01:31] yungezz commented on #12594
hi @qwordy , could you pls help to look at it? thanks.

[2020-03-16 02:09] MyronFanQiu commented on #12591
good to know you have been unblocked. 😄

[2020-03-16 02:21] zhoxing-ms commented on #12538
@Atif-byte Are you using the old version of azure-cli?
In the old version of azure-cli, the shorthand `-f` for `--template-file` is not supported. This shorthand can be used in the latest version of azure-cli (2.2.0), please try it.

[2020-03-16 02:27] MyronFanQiu commented on #12449
@jsntcy Hi. Could you please take a look?

[2020-03-16 03:12] zhoxing-ms commented on #12463
@a-vishar I cannot reproduce your problem. What version of azure-cli and python do you use?
And could you please try the latest version of azure-cli(2.2.0) to see if this problem still exists?

[2020-03-16 03:41] #12468 closed

[2020-03-16 03:42] qianwens commented on #12255
@lsong0905 , there is no plan to support the customer provided key in CLI now since it is designed for SDK for Rest API to use. Could you please let us know why you need this support? Does customer managed key not meet your requirements?

[2020-03-16 05:28] haroldrandom commented on #11431
Add an example https://github.com/Azure/azure-cli/pull/12589#issuecomment-599158870

[2020-03-16 05:29] #12048 closed

[2020-03-16 05:29] #11758 closed

[2020-03-16 05:31] haroldrandom commented on #5761
add an similar request that help to understand https://github.com/MicrosoftDocs/azure-docs-cli/issues/604

[2020-03-16 05:32] qwordy commented on #5866
If other SDK also has this problem, highly suspect it's a service problem.

[2020-03-16 05:32] bim-msft commented on #11565
@pvrk Thanks for the notification!

[2020-03-16 07:12] zhoxing-ms commented on #11277
@jerryeml Hi, may I ask if this question can be reproduced now?
If the problem can still be reproduced, could you please look at the activity log of the undeleted resource on the portal? After clicking the failed operation name, there is a JSON information corresponding to the failure reason, please then tell me what is the error message and correlationId of the failure, thanks.

[2020-03-16 07:15] zhoxing-ms commented on #11963
@DLHForsberg Any update?

[2020-03-16 07:23] zhoxing-ms commented on #12592
@sudlo Because the name of the resource group must be specified when deleting the resource group, so the parameter `--name/-n/--resource-group/-g` must be passed in.
Do you have any questions about this?

[2020-03-16 07:31] zhoxing-ms commented on #10175
@itaylaufer Because we haven't received any reply for a long time, so I will close this issue first. If you still have any questions, please feel free to let us know~

[2020-03-16 07:31] #10175 closed

[2020-03-16 07:56] zhoxing-ms commented on #12505
@hlinh1988 The format `"[?starts_with(name,'az30004')]".name` of `--query` parameter is incorrect, please try changing it to `"[?starts_with(name,'az30004')].name"`

[2020-03-16 08:12] haroldrandom opened #12597 "{Core} The name of extension of dev is None if has incompatibility problem"
**Describe the bug**
install an extension which has compatibility restriction, like connnection-monitor-preview (azure-cli-core <= 2.0.82 ). and some comamnds might give warning, but the name of the extension is 'None'.

**To Reproduce**
install connection-monitor-preivew exntension, and then `az -h`:
![image](https://user-images.githubusercontent.com/14357159/76735761-988c9600-67a0-11ea-8ba6-77d2

[2020-03-16 08:16] yonzhan commented on #12597
add to S167

[2020-03-16 08:31] zhoxing-ms commented on #12389
@arnoldna We don't support this function yet. Could you please tell me what scenario do you need to add comments in the parameter file?

[2020-03-16 08:34] haroldrandom commented on #8923
Dup https://github.com/Azure/azure-cli/pull/12583.
There are some context, It needs a bit effort to make change.

[2020-03-16 08:56] imaskm commented on #12207
@qwordy when will this issue be resolved?

[2020-03-16 09:08] qwordy commented on #12520
PR is merged. You can see the changes in next version of Azure CLI. Official Release: 03/31/2020.

[2020-03-16 09:08] #12520 closed

[2020-03-16 09:18] qwordy commented on #12380
[code]
Can you help? Sent you subscription ID in teams.

[2020-03-16 09:48] qwordy commented on #12476
PR is merged. Release: 03/31/2020.

[2020-03-16 09:48] #12476 closed

[2020-03-16 10:09] yungezz commented on #11594
@arrownj could you pls update here with communication from Swagger related engrs? need service team's clarification on allowed value.

[2020-03-16 10:25] alonisser opened #12599 "az keyvault list fails with NoneType error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault list`

## Expected Behavior

## Environment Summary
[code]

[2020-03-16 11:10] JonasJurczok opened #12602 "az webapp up -g parameter ignored"
**Describe the bug**
I tried adapting the quickstart tutorial for webapps to my companies setup.
The resource group that is created during `az webapp up` is always named after the default name, not after the one I provided.

**To Reproduce**
* create a static html file as content
* issue the command `az webapp up --name my-name --html -g my-resource-group`

**Expected behavior**
In the output the

[2020-03-16 12:52] JonasJurczok commented on #12602
After some more digging I assume the problem is upstream from the initial webapp_up call. But I'm just guessing.

[2020-03-16 13:31] nrjohnstone opened #12605 "Exprort/Import from file breaks keyvault references"
When exporting and then import from a file there is no metadata regarding wether it is a Value or KeyVault reference.
This means that all values get created as a Value, rendering an export/import from file useless if you have KeyVault references in your AppConfig

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e35da3a9-

[2020-03-16 13:33] #12585 closed

[2020-03-16 13:34] jiasli commented on #12585
Thanks for the contribution. I have merged https://github.com/Azure/azure-cli/pull/12586.

[2020-03-16 13:39] jiasli commented on #12310
Hello! Yes, this is the expected result and it indicates your python environment is correctly set up. Don't hesitate to let me know if there are any further issues.

[2020-03-16 13:44] jiasli commented on #11168
Hi @KatjaBF, glad to know it works for you.

[2020-03-16 13:44] #11168 closed

[2020-03-16 14:08] olandese opened #12606 "Using az appconfig on a VM with a managed identity throws error: Cannot find the App Configuration {{app config name}}. Check if it exists in the subscription that logged in."
**Describe the bug**
With the Cli 2.2.0 on a Azure Windows VM with a Managed Identity a call like this:

az appconfig kv show --name my-appconfig-test --key test

Gives the following error:

**Cannot find the App Configuration my-appconfig-test. Check if it exists in the subscription that logged in.**

The VM's Managed Identity has the "App Configuration Data Reader" role on the Azure App Configur

[2020-03-16 14:17] mikaelliljedahl opened #12607 "Network ip address required to allow to be able to export to Storage account"
I am trying to export to Blob Storage. It works fine when the blob storage has no network access restrictions. As soon as I enable network restrictions, I get the following error. I have tried to add the IP of the sql database server and the IP of the management API:

40.68.37.158 and 65.52.129.125 (which I had to add to the database ip filtering to be able to remove the first error message I got)

[2020-03-16 14:46] yonzhan commented on #12599
@bim-msft please take a look.

[2020-03-16 14:49] yonzhan commented on #12602
webapp

[2020-03-16 14:54] yungezz commented on #12606
thanks for reporting, we'll look at it

[2020-03-16 14:55] yonzhan commented on #12605
appconfig

[2020-03-16 14:56] yungezz commented on #12607
thanks for reporting the issue, we'll look at it

[2020-03-16 14:56] naman1901 commented on #12594
This may be a related issue: https://github.com/MicrosoftDocs/azure-docs/issues/50180

[2020-03-16 15:19] lsong0905 commented on #12255
@qianwens It is not 'must have' feature to our organization; I would say it is rather a 'good to have' feature in CLI so that when we need to diagnose issues, it would be easier to do via CLI. Thank you for the help.

[2020-03-16 16:00] jluk commented on #12587
This is being addressed with PR #12589

[2020-03-16 17:59] jose-lima2011 opened #12608 "Command Error"
az sql server tde-key Set --resource-group myresourcegroup --server myserver --server-key-type AzureKeyVault --kid "https://myresource.vault.azure.net/keys/mykeyname/key"

Deployment failed. Correlation ID: . The requested server key was not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ea369391-5bd1-845a-83c8-

[2020-03-16 19:02] #12608 closed

[2020-03-16 21:04] alonisser commented on #12599
pip install --upgrade azure-cli --user to the latest version 2.2.0 solved the issue

[2020-03-16 21:12] jongio opened #12611 "az webapp up - 'NoneType' object has no attribute 'resource_group'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**

`az webapp up --name testapi -g jongrg --subscription jongdevdiv -l westus --sku F1 --debug`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._

[2020-03-16 21:18] jongio commented on #12611
Just realized i have an old cli version on this machine. Will update and close if resolved.

[2020-03-16 21:21] #12611 closed

[2020-03-16 23:05] jongio commented on #11261
Seeing this today:

.NET Core SDK (3.1.101)

azure-cli                          2.2.0

command-modules-nspkg              2.0.3
core                               2.2.0
nspkg                              3.0.4
telemetry                          1.0.4

Python location 'C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe'
Extensions directory 'C:\Users\JonGallant\.azure\cliextensions'

Pytho

[2020-03-16 23:38] panchagnula commented on #11261
Thanks for sharing from our logs I do see an error on Kudu while completing zip deployment  - following up with them to see if this any known issue with Kudu.

[2020-03-17 00:24] harleypig opened #12612 "Please describe or link to configuration file format details."
In the create and update options there is a configuration file mentioned, but no details about how to create one.
Also, is there a way to create a config file based on the current configuration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81eb6db8-249f-2ab0-963c-7e9141191dc6
* Version Independent ID: 417fb6c8-75ea-c

[2020-03-17 00:41] jongio opened #12613 "az webapp create with invalid app service plan name throws: 'NoneType' object has no attribute 'location'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I tried to create a webapp with an invalid app service plan and got this error:

[code]

**Command Name**
`az webapp create`

**Errors:**
az webapp create: error: 'NoneType' object has no attribute 'location'

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as th

[2020-03-17 01:26] yungezz commented on #12613
thanks for reporting, route to appropriate team

[2020-03-17 01:28] #12587 closed

[2020-03-17 02:01] arpitjain099 opened #12614 "Documentation bug"
**Describe the bug**
Example has wrong braces.
URL: https://docs.microsoft.com/en-us/cli/azure/network/private-endpoint?view=azure-cli-latest#examples

will add more details later

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Do

[2020-03-17 02:01] azabbasi opened #12615 "Azure CLI for role assignment fails if the app registration is created from CLI also."
**Describe the bug**
If I create an app registration from the command line (azure cli) and try to do a role assignment using its application Id, I get the following error:
No matches in graph database for 'xxxxxx' which is the app Id.

This issue doesn't repro if I use azure portal to create the application registration.
I also waited for an hour in case this was an propagation issue. That does no

[2020-03-17 02:14] gzuber opened #12616 "[Azure Functions] Azure CLI needs to set "javaVersion" config when creating java function app"
cc @pragnagopa

[2020-03-17 02:43] jiasli commented on #12615
Hi @azabbasi, Per the source code https://github.com/Azure/azure-cli/blob/c66411567b87eefabbc78b75d27faa91043d8772/src/azure-cli/azure/cli/command_modules/role/custom.py#L1658

`az role assignment create` works on a Service Principal, instead an App. `az ad app create` only creates the App, but not the Service Principal. You will need an extra step to create the corresponding Service Principal in

[2020-03-17 02:51] yonzhan commented on #12614
add to S168

[2020-03-17 02:53] #12255 closed

[2020-03-17 02:53] yonzhan commented on #12616
Functions

[2020-03-17 03:07] yugangw-msft commented on #10243
This will be fixed by #12375

[2020-03-17 03:09] #10243 closed

[2020-03-17 05:55] #11631 closed

[2020-03-17 06:13] yonzhan commented on #11644
Hi @dsk-1337, any update for this issue?

[2020-03-17 06:23] jiasli commented on #11671
Will be fixed by https://github.com/microsoft/knack/pull/181, https://github.com/Azure/azure-cli/pull/12604

[2020-03-17 06:23] #11671 closed

[2020-03-17 08:09] zhoxing-ms commented on #12339
@happyiphone Hi, I cannot reproduce this issue. Do you still have this problem?  If so, please give me some of your log information:
1. You can view the Activity log of the Resource Group on the portal after the resource creation fails. After clicking the failed operation name, there is a JSON information corresponding to the failure reason, then tell me what is the error message and correlationId

[2020-03-17 08:20] zhoxing-ms commented on #12471
@hiteshmadan The error message means that the parameter `--active-directory-data-lake-resource-id` is not set in the command `az cloud register`. May I ask if this setting is not required in your dogfood environment?

[2020-03-17 08:28] qwordy commented on #11909
I reproduce the problem using the following code.
[code]
Some logs of `snapshot create` command
[code]
Azure CLI doesn't have location limitation in this command. In this example, it sends request to service and gets an error from service. I am not very familiar with PowerShell. Can you share PowerShell commands? Or can you paste HTTP request of PowerShell snapshot create command from log if the l

[2020-03-17 08:40] jsntcy commented on #11783
@stevenkaras, did you have a chance to take a look at my comments?

[2020-03-17 08:43] qwordy commented on #11785
The patch has released in latest Azure CLI. Hope it can solve your issue. If any problem, you can open a new issue.

[2020-03-17 08:43] #11785 closed

[2020-03-17 08:50] qwordy commented on #11857
The update will be available in next version of Azure CLI. Release: 03/31/2020

[2020-03-17 09:30] zhoxing-ms commented on #12472
@hiteshmadan This seems to be a problem with the jmespath syntax usage of `--query`. Because the outer layer of the resource group list is wrapped with the `value` key, so the parameter of `--query` should be `value[].{N:name, L:location}`.
Please have a try~   If you still have any questions, please feel free to let us know.

[2020-03-17 09:42] #12239 closed

[2020-03-17 09:55] jiasli commented on #6080
This issue can be solved after PR https://github.com/Azure/azure-cli/pull/12604 is merged. We are planing to include the change in this release.

[2020-03-17 09:55] #6080 closed

[2020-03-17 10:21] dariuszbz commented on #12302
PS F:\Repos\Offline\Auth-Hub> az version

This command is in preview. It may be changed/removed in a future release.
{
  "azure-cli": "2.2.0",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli-core": "2.2.0",
  "azure-cli-nspkg": "3.0.4",
  "azure-cli-telemetry": "1.0.4",
  "extensions": {
    "aks-preview": "0.4.33",
    "dev-spaces": "1.0.3",
    "front-door": "1.0.2"
  }
}

and still g

[2020-03-17 10:33] stevenkaras commented on #11783
@jsntcy I have not had a chance until now due to other more urgent work.

That should be sufficient, but an explicit response for nested resources would be easier to discover.

[2020-03-17 13:48] sudlo commented on #12592
@zhoxing-ms  thanks for your response..
for example i am using the following command
az group delete --name linux

[2020-03-17 16:22] thisisbrianstewart opened #12621 "Complete az apim commands"
**Is your feature request related to a problem? Please describe.**
Azure API Management is a critical, core service for creating modern web architectures, particularly when coupled with app service, functions, etc.  The `az apim` module is missing nearly all required functionality to create and manage apis, policies, products, etc within apim.  The feature request is to complete the module, to get

[2020-03-17 16:40] azabbasi commented on #12615
Thank very much. I will give this a shot :)

[2020-03-17 16:40] #12615 closed

[2020-03-17 17:05] jerryeml commented on #11277
Hi, This issue has been resolved
Many thanks

何柏儒
國立中央大學網路學習科技研究所
HE,Bo-Ru
Graduate Institute of Network Learning Technology,
National Central University
E-mail: jerryeml1004615@g.ncu.edu.tw

Xing Zhou <notifications@github.com> 於 2020年3月16日 週一 下午3:12寫道：

[2020-03-17 20:33] clawrenceks commented on #11718
Same issue here. App Settings in an ARM template are not respecting the incremental nature of ARM template deployments.

[2020-03-17 20:33] clawrenceks commented on #11718
The same goes for connection strings.

[2020-03-17 20:53] DanielLarsenNZ commented on #7447
I don't think this is a WSL issue, I think this is an `az` CLI issue. I am observing differences in performance when comparing az CLI to PowerShell AZ. Why would az CLI commands run slower than PowerShell AZ?

My script and an example observation below. Note that I am in New Zealand connecting to Australia East. I expect some latency, but I don't expect difference in performance between CLI and Po

[2020-03-17 20:55] sixeyed opened #12622 "`az functionapp create` for .NET Core 3.1 on Linux fails"
`az version`:
"azure-cli": "2.2.0",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli-core": "2.2.0",
  "azure-cli-nspkg": "3.0.4",
  "azure-cli-telemetry": "1.0.4",
  "extensions": {
    "interactive": "0.4.3"
  }

**Describe the bug**
Creating a function app for an existing app plan & storage account, using Linux consumption plan for a .NET Core 3.1 app fails with the error: `The parame

[2020-03-17 21:02] AgSync-Aaron opened #12623 "az vmss update fails JSON serialization on windows"
## Describe the bug

I am unable to run `az vmss update` with JSON parameters in windows; the equivalent works fine in bash. Here is a script I was working on...
[code]

**Command Name**
`az vmss update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Setup an azure vault
- Store a se

[2020-03-17 22:54] yonzhan commented on #12621
apim

[2020-03-17 23:16] yungezz commented on #12623
hi @qwordy could you pls help to have a look, thanks.

[2020-03-17 23:17] yungezz commented on #12622
thanks for reporting, will look at it

[2020-03-17 23:29] yungezz commented on #12049
done is S167. https://github.com/Azure/azure-cli-extensions/pull/1386

[2020-03-17 23:29] yungezz commented on #11759
https://github.com/Azure/azure-cli-extensions/pull/1386

[2020-03-17 23:29] #11759 closed

[2020-03-17 23:29] #12049 closed

[2020-03-17 23:35] panchagnula commented on #11261
As per our Kudu folks the error is because the dotnet source code is trying to use dotnet core 3.1 SDK that is still not available on these VMs- since the deployment for this is still in progress and the changes are rolling out. For now if you want to use this SDK the work around would be to not use webapp up -> but do
dotnet new webapi --no-https
dotnet restore
dotnet build
Create a Zip file and

[2020-03-18 00:35] iyerusad commented on #12193
In Azure DevOps/VSTS: Isn't the Azure Service Principal connection the credential?

Ran into this today with the new warning breaking pipelines with seemingly benign output in sterr. Seems wrong....

[2020-03-18 00:47] Drewm3 commented on #10932
Removing the Service Attention label since this is not an issue with the backend service.

[2020-03-18 01:21] johanburati opened #12624 "csv output option"
Would be good to have a *csv* output option, so that we could easily extract fields using good old linux cli commands and without redoing any formatting of any kind.

Like in the example below the first field has space in it.

[code]

Would be good to have this:
[code]
So we can do things like this:
[code]

I think this option could come handy sometimes.

[2020-03-18 02:29] yonzhan commented on #12624
add to S168

[2020-03-18 02:35] #11115 closed

[2020-03-18 02:35] #12136 closed

[2020-03-18 02:36] #12294 closed

[2020-03-18 02:36] #12105 closed

[2020-03-18 02:42] Juliehzl commented on #12402
Hi @chbe8475, thanks for your feedbac;=k.
CLI  has completed the change.  In latest profile, we are using StorageV2 for storage kind now in the latest CLI.
But if you are using CLI in Azure Stack with profile 2019-03-01-hybrid profile, the default kind will be Storage.

[2020-03-18 02:42] #12402 closed

[2020-03-18 03:34] gzuber opened #12627 "[Azure Functions] Remove dotnet version from help menu and add warning if user tries to specify runtime_version for dotnet"
dotnet version is not configurable, so it shouldn't be presented as an option. We should also warn any users if they specify a runtime_version for dotnet that it's not configurable.

[2020-03-18 03:41] krispenner commented on #11454
@KyleHammackRS this command is strictly for **regional** vnet integration which does require the app service plan and vnet to be in the same region.

[2020-03-18 03:48] kumarallamraju opened #12628 "az aks enable-addons --addons ingress-appgw throws python error"
**Describe the bug**

I noticed there's an option (in preview) to specify ingress-appgw to az aks enable-addons but I get this error

az aks enable-addons --resource-group aksRG --name kaohaks --addons ingress-appgw --appgw-id /subscriptions/{sub-id}/resourceGroups/myagwRG/providers/Microsoft.Network/applicationGateways/allamrajuagw --appgw-name allamrajuagw

The behavior of this command has been

[2020-03-18 03:54] krispenner opened #12629 "`az webapp vnet-integration add` fails when the App Service Plan was moved"
**Describe the bug**
Move an app service and its app service plan to a new resource group and you can no longer use the `az webapp vnet-integration` commands. This seems to be a common and frustrating recurring theme with app services in general - they don't work well if you move them out of their original resource group which their webspace is tied to. I only have the one app service plan and it

[2020-03-18 03:59] KyleHammackRS commented on #11454
i understand that its for regional vnet integration and that is what i am trying to enable, however as mentioned above, when i ran this the command it told me they need to be

[2020-03-18 04:40] ryanmaclean commented on #9585
This is still occurring, unfortunately, though I do see it merged above. Of course, manually creating an SP and providing it via az cli args does work, but this previously worked without the need to do so.

[2020-03-18 05:35] ryanmaclean commented on #9585
This is still occurring, unfortunately. Of course, manually creating an SP and providing it via az cli args does work, but this previously worked without the need to do so.

Multiple attempts at this also pollutes the AppID list found here: https://portal.azure.com/#blade/Microsoft_AAD_RegisteredApps/ApplicationsListBlade

After cleaning these up, I made an attempt at scripting up the process base

[2020-03-18 05:43] clinsted commented on #12302
This is now working for me:
az webapp create --name {} --plan {} --resource-group {} --subscription {} --% --runtime "aspnet|V4.7"

webapp was created successfully with the correct stack.

az version

{
  "azure-cli": "2.2.0",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli-core": "2.2.0",
  "azure-cli-nspkg": "3.0.4",
  "azure-cli-telemetry": "1.0.4",
  "extensions": {
    "application

[2020-03-18 05:47] #12302 closed

[2020-03-18 05:55] #12597 closed

[2020-03-18 06:00] qwordy commented on #12177
@tamirkamara Can you help take a look at this issue? Thank you so much!

[2020-03-18 06:55] shizhMSFT opened #12631 "Omit login server endpoint for `--registry` on `az acr`"
**Is your feature request related to a problem? Please describe.**
Many customers are frustrated in the experience of running the `az acr` command like below:
[code]
The correct input for `--registry` is `myregistry` but many customers mistype it with the login server `myregistry.azurecr.io`. When the customers read the error message, they are confused.

**Describe the solution you'd like**
To les

[2020-03-18 07:24] qwordy opened #12633 "Upgrade VMAccessAgent version. The VM was restarted by running az vm user update"
**Describe the bug**
This issue is reported from Microsoft IcM system. ID: 180185500. Open it here to track the fix progress.
Azure CLI uses Extension VMAccessAgent version: 2.0.2. It's too stale.
Please upgrade it to 2.4.

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-03-18 07:24] qwordy commented on #12633
OK

[2020-03-18 08:15] RishiMaini commented on #11909
Hi Feiyue, In your example CLI definitely has issues with location since its expecting to see the disk in RG location(WestUS) and not the actual disk location (EastUS). Thus the error.

Below is the PowerShell example that you were looking for which just works fine.

New-AzResourceGroup -ResourceGroupName "fyrg3" -Location "westus"

$diskConfig = New-AzDiskConfig -Location "EastUS" -CreateOption E

[2020-03-18 08:26] Juliehzl commented on #12291
Hi @Guilhermeslucas, sorry for  inconvenience and late response.

I have tried to reproduce your scenario and I generate two kinds sas uri as follows:
1. `/` in sas token
https://zuhlrs.blob.core.windows.net/test/file%201.txt?sp=r&st=2020-03-18T08:10:22Z&se=2020-03-18T16:10:22Z&sip=100.64.23.1&spr=https&sv=2019-02-02&sr=b&sig=1bd9QpZOGkOJ%2FTjRLB3HpGAuYYTaqTI%2Bv8GM00QYwZk%3D
1. `.` in sas token
h

[2020-03-18 08:31] #11277 closed

[2020-03-18 08:40] zhoxing-ms commented on #12592
@sudlo I can't reproduce your question. Could you please add `--debug` to the original command? And then please show me the information returned, thanks~

[2020-03-18 08:46] yungezz commented on #12631
thanks for reporting, we'll look at it

[2020-03-18 08:47] yungezz commented on #12629
thanks for reporting, we'll look at it

[2020-03-18 08:48] yungezz commented on #12628
thanks for reporting, we'll look at it

[2020-03-18 08:49] yungezz commented on #12627
pr created

[2020-03-18 09:16] fawohlsc commented on #12268
@zhoxing-ms first of all many thanks for your insightful response and proactivity to add this to the documentation. Great job! 🥇

Many customers want to empower their developers to create or change VNet subnets, i.e. all auto-scalable resources in Azure usually require a dedicated subnet (VMSS, AAG, APIM, ...). But some of the subnets contain shared resources or resources managed by central IT - h

[2020-03-18 09:17] qwordy commented on #12016
I try the below code. It works fine. Can you share your commands? Thank you!
[code]

[2020-03-18 09:48] dapontin commented on #9833
Has this been fixed?

I am still receiving the error when creating a new resource group, using hosted agents. If I re-run the pipeline a second time the error no longer occurs?

[2020-03-18 10:20] neilamoran opened #12636 "Unclear documentation for "az sql server ad-admin update" command"
Have started getting errors regarding the --parameters option with this command. It's not at all clear how it should be used - does it simply have to be present and prefix the other parameters?

Or are there some secret required parameters which you're not telling us and won't give an example of?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHu

[2020-03-18 13:23] yonzhan commented on #12636
sql

[2020-03-18 13:27] Make-Make opened #12638 "Connection Protocol IKEv1, IKEv2."
I don't see parameter to choose between  IKEv1, IKEv2.
How to deploy IKEv1?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9cd3cc3-90c6-19d0-1486-b779d65f6b97
* Version Independent ID: f3033d7d-e123-57a2-7eab-0837c3d9c8c0
* Content: [az network vpn-connection](https://docs.microsoft.com/en-us/cli/azure/network/vpn-con

[2020-03-18 13:29] yonzhan commented on #12638
add to S168

[2020-03-18 13:51] Raka74 opened #12640 "az sql server ad-admin create gives error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

az sql server ad-admin create -g {} -s {} -u {} -i {}`  - doesnt work , below error is displayed.

**Command Name**
`az sql server ad-admin create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

-

[2020-03-18 14:06] yonzhan commented on #12640
sql

[2020-03-18 15:47] jluk commented on #12628
I don't think this is a supported addon option yet? @kumarallamraju where are you taking this example command from?

[2020-03-18 15:55] balazs92117 opened #12642 "Multiple tags"
At create: "Space-separated tags: key[=value] [key[=value] ...]. Use "" to clear existing tags." doesn't work. It craetes one long tag, it doen'st parse at space. It doesn't work with " " (space), "," or ", ".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d11bd3f4-efbf-691d-76a4-293ab97ad845
* Version Independent ID:

[2020-03-18 16:04] northtyphoon commented on #12631
--registry is a command option used in most `az acr` commands. So for consistency, it's better update all of them.

[2020-03-18 16:26] kumarallamraju commented on #12628
@jluk

bash-3.2$ az aks enable-addons  -h
The behavior of this command has been altered by the following extension: aks-preview
The extension is in preview

Command
    az aks enable-addons : Enable Kubernetes addons.
        These addons are available:
            http_application_routing  - configure ingress with automatic public DNS name creation.
            monitoring                - turn on

[2020-03-18 16:37] ajay15283 opened #12643 "azure backup - enable VM backup with an recovery vault in different resource group"
**Is your feature request related to a problem? Please describe.**
Enabling Backup for a VM with an recovery vault in different resource group. as it currently shows error as below

az backup protection enable-for-vm \
    --resource-group <VM resourcegroup>  \
    --subscription <Sub ID> \
    --vault-name <Vault name> \
    --vm <VM name> \
    --policy-name DefaultPolicy

The Resource 'Microsof

[2020-03-18 17:12] crystiangol commented on #9585
Can you help me ?

Operation failed with status: 'Bad Request'. Details: The credentials in ServicePrincipalProfile were invalid. Please see https://aka.ms/aks-sp-help for more details. (Details: adal: Refresh request failed. Status Code = '400'. Response body:

I'm triying to make this lab of course: 40565G

[2020-03-18 17:26] skwasiborski opened #12645 "az sql server ad-admin create fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sql server ad-admin create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
- `az sql server ad-admin create --display-name {} --object-id {} --resource-group {} --server={} --de

[2020-03-18 17:27] skwasiborski commented on #12645
duplicate of #12640 sorry

[2020-03-18 17:27] #12645 closed

[2020-03-18 17:28] skwasiborski commented on #12640
The issue seems to be caused bu wrong argument name in /azure/cli/command_modules/sql/custom.py
line 2074 should be:
parameters=kwargs instead of the current properties=kwargs

[2020-03-18 17:34] allegradomel commented on #12268
If this issue concerns only Portal side I will untag SDN

[2020-03-18 17:55] fawohlsc commented on #12268
@allegradomel issue works in Azure CLI but not documented. @zhoxing-ms opened a pull request to enhance documentation. Feature is unfortunately not available in Azure Portal.

[2020-03-18 17:58] JunSun17 commented on #9585
@ryanmaclean if you can share the subscription id and resource group name, I can take a look on the server side to see what might go wrong. Or you can file an incident and pass these information through an incident ticket.

[2020-03-18 18:00] JunSun17 commented on #9585
@ryanmaclean @crystiangol also make sure you have upgrade to the latest version of Azure CLI for the fix.

[2020-03-18 18:03] crystiangol commented on #9585
I have last version CLI 2.2.0

I share you:

Executing: az group create --name mssql-20200318153654 --location eastus
 {
  "id": "/subscriptions/9b4ebc79-0f7c-4a5d-82dc-1cb864590216/resourceGroups/mssql-20200318153654",
  "location": "eastus",
  "managedBy": null,
  "name": "mssql-20200318153654",
  "properties": {
    "provisioningState": "Succeeded"
  },
  "tags": null,
  "type": "Microsoft.Reso

[2020-03-18 19:20] JunSun17 commented on #9585
@crystiangol @ryanmaclean We found another issue which introduce this error. I will create a Work item on our side for fixing it. Will update when it is rolled out.

[2020-03-18 19:43] sauryadas commented on #12565
which cli version are you using ? and can you copy paste the error?

@feiskyer FYI

[2020-03-18 20:24] cwickham33 opened #12646 "az resource create example with json file as property input unclear"
The example for reading properties from a file shows @filename. I'm assuming that the @ is the splatting operator and I can't find any documentation that is consistent with this usage. Splatting is meant to supply an array of key-value pairs for parameters and not to read input from a file. It could be my file isn't formatted properly too so showing the contents of a sample file would be really us

[2020-03-18 21:54] jaredmoo commented on #12636
Fixed by #12541 . Thank you!

[2020-03-18 21:54] jaredmoo commented on #12640
Fixed by #12541 . Thank you!

[2020-03-18 21:54] #12640 closed

[2020-03-18 21:54] #12636 closed

[2020-03-18 21:59] #12007 closed

[2020-03-18 22:36] zezha-msft commented on #6466
Hi @Juliehzl @yonzhan sorry for the delay (I've been on leave), could you please show the command that you used?

[2020-03-18 22:48] ficocesari opened #12651 "allow setting timeout for model register"
In COVID19 times we all work form home and network upload speeds are suboptimal. I can't upload a model that is ~500M
 $az ml model register --name sow2_macro_micro_5_class --model-path models/faster_rcnn_r101_fpn_1x_sow2_5cls_weights --workspace-name "sow2" --resource-group ml
{'Azure-cli-ml Version': '1.0.57', 'Error': AzureHttpError('Operation could not be completed within the specified time. E

[2020-03-18 23:12] jasonzio opened #12652 "Documentation for "az vm user delete" should say home directory is also deleted"
The `az vm user delete` command, when directed to a Linux VM, will also delete the user's home directory. The documentation should clarify this. (See #12649 )

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0474c5a5-4231-0e39-f63f-f7bc05cb7797
* Version Independent ID: 22ea94c8-cc6f-97aa-77b1-4ffca845807e
* Content: [az

[2020-03-18 23:18] jongio opened #12653 "az webapp log config --application-logging false doesn't turn it off"
# Issue
az webapp log config --application-logging false doesn't turn it off

## Default state
![image](https://user-images.githubusercontent.com/2163001/77015501-3368aa00-6932-11ea-8def-2414b3dff649.png)

## Turn on
Run `az webapp log config --application-logging true -n mvpsdkdemoapp -o yaml` to turn on

[code]

## Turn off

To turn off I run the following:
`az webapp log config --application-lo

[2020-03-18 23:43] wasker commented on #12594
I'm observing same issue for  `az vmss extension set --vmss-name akswin1 --resource-group MC_something --publisher Microsoft.Powershell --name DSC --version 2.9.1 --settings @./settings.json --protected-settings @./psettings.json --force-update` when running that in Azure Cloud Shell.

Version info:

[code]

[2020-03-19 01:22] yungezz commented on #12653
thanks for reporting, we'll have a look

[2020-03-19 01:23] yungezz commented on #12652
thansk for the reporting the issue and PR!

[2020-03-19 01:24] yungezz commented on #12651
thanks for reporting, we'll have a look

[2020-03-19 01:25] yungezz commented on #12646
HI @zhoxing-ms could you pls have a look? thanks

[2020-03-19 01:26] yungezz commented on #12643
thanks for reporting, we'll have a look

[2020-03-19 01:27] yungezz commented on #12642
hi @qwordy could you pls help to look at it? thanks

[2020-03-19 01:33] yungezz opened #12654 "[Depth][JEDI] DataBricks CMK support"
**Resource Provider**
What is the Azure resource provider your feature is part of?
DataBricks
**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
Databricks will support CMK, rough timeline now:
•	5/31 for CMDLet to have preview
•	6/30 for GA

**Minimum API Version Required**
What is the m

[2020-03-19 01:35] yungezz opened #12655 "[Depth][JEDI] Databricks network isolation support"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Databricks

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
Databricks will support network isolation, needs support it in Azure CLI.
rough timeline:
•	5/31 for CMDLet to have preview
•	6/30 for GA

**Mi

[2020-03-19 01:36] yungezz commented on #12654
JEDI related ask

[2020-03-19 01:36] yungezz commented on #12655
JEDI related ask

[2020-03-19 01:58] yonzhan commented on #12646
add to S167

[2020-03-19 02:00] MyronFanQiu commented on #12638
@Make-Make Hi. Could you share the context or related documentation about IKEv1, IKEv2?

[2020-03-19 02:22] azureml-github commented on #12651
@Kevin Riehm<mailto:Kevin.Riehm@microsoft.com> @Salil Bapat<mailto:Salil.Bapat@microsoft.com>

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Yunge Zhu <notifications@github.com>
Sent: Wednesday, March 18, 2020 6:24 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: azureml-github <azureml-github@microsoft.com>; Mention <mention@noreply.github.com>
Subje

[2020-03-19 03:04] Wwwsylvia commented on #12631
Will look at it.

[2020-03-19 04:53] shenmuxiaosen commented on #12605
Hi @nrjohnstone, do you have a user scenario that needs to import key-vault reference from files? Currently there is no way to tell the difference between a key-vault reference or a value which also contains something like ```
{"uri":"https://myUri"}```

[2020-03-19 05:07] zqxjjj opened #12660 "service fabric NoneType error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sf cluster create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sf cluster create --location {} --resource-group {} --certificat

[2020-03-19 05:10] shenmuxiaosen commented on #12606
Hi @olandese does the managed identity has access to the subscription where App Configuration has been created? Currently ```appconfig``` data plane does not support AAD(Azure Active Directory) yet. That explains adding App Configuration Data Reader role didn't work in your case. It only uses connection string to authenticate with App Configuration data plane server. So either directly passing in

[2020-03-19 05:14] josh-qf commented on #11261
Hi @panchagnula. I'm running into the same issue with a Python app deploy and tried the `config-zip` command with the same failure:
```Zip deployment failed. {'id': '', 'status': 3, 'status_text': '', 'author_email': 'N/A', 'author': 'N/A', 'deployer': 'Push-Deployer', 'message': 'Created via a push deployment', 'progress': '', 'received_time': '2020-03-19T05:09:38.8865191Z', 'start_time': '2020-0

[2020-03-19 05:34] qwordy commented on #11984
@yooakim Is your problem solved?

[2020-03-19 05:46] nrjohnstone commented on #12605
Yes, we are keeping our configuration as code (yaml scripts) and using the
Azure CLI to import changes to it.

This allows us to have PR's and a second pair of eyes over the changes.

One of the main reasons for this is the abysmal user interface experience
of having to set up configuration values in the Azure Portal with
AppConfig, but for keyvault references it's even worse.

Also, if it can't t

[2020-03-19 05:57] #12566 closed

[2020-03-19 07:26] yungezz commented on #12660
thanks for reporting, we'll have a look

[2020-03-19 09:00] #11644 closed

[2020-03-19 09:00] olandese commented on #12606
you are right, giving Contributor rights for the managed identity on the App Configuration work

[2020-03-19 09:24] jsntcy commented on #11783
It's not a reasonable way to add another explicit id for nested resource as it is duplicated information for response.
For solution, You can extract id for nested resource from resource id or you can "show" command for nested resource, for example `az network nic show` to get nic id.

Based on the discussion above, I'll close this issue.

[2020-03-19 09:24] #11783 closed

[2020-03-19 09:50] qwordy commented on #12013
I haven't reproduced you issue. public_ip_addresses is assigned to
[code]
It's equivalent to `az network public-ip list`. What's the output of `az network public-ip list` in your environment?

[2020-03-19 10:54] zhoxing-ms commented on #12298
@toddysm Hi, the reason for this problem is that the format of parameter `-p` is incorrect. The correct format should be  ` -p "{ \"tagName\": { \"value\": \"Department\" } , \"tagValue\": { \"value\": \"MyDepartment\" } }"`
Specific parameter writing guide can refer to the document:  [click](https://docs.microsoft.com/en-us/azure/governance/policy/concepts/assignment-structure#parameters)

[2020-03-19 11:03] venkatrajupalepu commented on #12640
I'm facing the same issue. Is this in production?

[2020-03-19 12:39] #12606 closed

[2020-03-19 14:14] bojingo opened #12668 "Equivalent for az cosmosdb collection exists"
**Is your feature request related to a problem? Please describe.**

I am writing a script that will update a property of a Cosmos DB container and perform a variety of other operations, **but only if the container already exists**. I'm not interested in getting an error if the container doesn't exist as in my case it doesn't really represent an error condition.

I am using the command `az cosmosdb

[2020-03-19 14:27] ryanmaclean commented on #9585
@JunSun17 - this is via the Azure CLI in Azure Cloud Shell. Default sub, new resource group for every test (it's an AKS creation test script in fact).

[code]

[2020-03-19 14:28] kevinwedwards opened #12669 "az aks update --api-server-authorized-ip-ranges {} results in "Changing enablePrivateCluster is not allowed. It can only be set while creating the cluster.""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Since Private AKS clusters went GA, we're unable to set --api-server-authorized-ip-ranges.  upon doing so we get an error saying we can't enablePrivateCluster.  Our cluster is public, and we're not attempting to enable a private cluster.

**Command Name**
`az aks update`

**Errors:**
[code]

## To Reproduce:
St

[2020-03-19 14:42] bim-msft commented on #8489
Hi @abhiramani-iptiq , thanks for the feedback, really nice catch! Actually we create a secret and a key for each certificate to store its public key by design. Anyway, in order to make it consistent with Azure Portal (which doesn't display those auto-generated keys/secrets), I will filter them out.

[2020-03-19 14:42] yungezz commented on #12669
thanks for reporting, we're routing to appropriate team to have a look.

[2020-03-19 14:43] yungezz commented on #12668
thanks for reporting, routing to appropriate team

[2020-03-19 14:53] yungezz commented on #11862
confirmed ZIm is not working on this, and breadth priority is tracked in ADO, close this one

[2020-03-19 14:53] #11862 closed

[2020-03-19 14:54] yungezz commented on #11861
confirmed Zim is not working on this, breadth priority is tracked in ADO, close this one

[2020-03-19 14:54] #11861 closed

[2020-03-19 14:58] Juliehzl commented on #6466
Hi @zezha-msft, it is resolved in new azcopy! thanks for your reply!

[2020-03-19 15:16] kevinwedwards commented on #12669
My boss jun ran this with CLI v 2.1.0 and it didn't fail, succeeded and returned JSON.  I'd upgraded my CLI on Monday morning, to test out creating a Private AKS cluster....   I'm near certain it's related to v2.2.0 CLI.

[2020-03-19 15:34] kevinwedwards commented on #12669
test

[2020-03-19 15:53] kevinwedwards commented on #12669
We first noticed it on the 18.04 build agent in AzDevOps,

18hrs ago the 'included software' documentation was updated ([see here](https://github.com/actions/virtual-environments/commit/0ddeb1ac4b2e81f45ba752d49ec5825b77141d40#diff-43bac3def16599ef5b79ea8b7d9e0a9a
))

About as close to 100% sure as I can be that it's a bug with CLI 2.2 issue and the "az aks update" command.

[2020-03-19 16:24] kausali commented on #11261
Hi @panchagnula I am running into similar issue trying to deploy a bot that use Dotnet core sdk.
When I runt this command, I get Zip deployment failed error :
 `az webapp deployment source config-zip --resource-group "Test-Bot" --name "Test-Application" --src "Test.zip"`

If I look at the log_url, I see this message:

`{"Message":"An error has occurred.","ExceptionMessage":"No log found for 'lates

[2020-03-19 16:39] dreamuth opened #12671 "az ad app list - 400 Client Error - Azure Cloud Shell via Windows Terminal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad app list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad app list`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-03-19 16:57] jaredmoo commented on #12640
No, it's not released yet :( next release is https://github.com/Azure/azure-cli/milestone/84

[2020-03-19 17:08] panchagnula commented on #11261
@kausali this is not the same error as above - the file not found exception is coming since the command is not able to find the Test.zip file - try running the above command by giving the full path of the test.zip file. Thanks!

[2020-03-19 17:23] keriehm commented on #12651
Do you experience this with the most recent version of the AzureML CLI extension? Update instructions here: https://docs.microsoft.com/en-us/azure/machine-learning/reference-azure-machine-learning-cli#update-the-extension

[2020-03-19 17:25] kausali commented on #11261
I am in the same directory as where the .zip folder is located. I have also tried from a different location and giving a full path of the zip folder.
![image](https://user-images.githubusercontent.com/27708074/77096031-f9e47d00-69cb-11ea-87d8-54ac6d6c0dea.png)

[2020-03-19 17:52] panchagnula commented on #11261
@kausali  this is a different error - so I think earlier the path was incorrect. Did you happen to check the scm site(link is in the error stack trace) for logs? Unfortunately I cannot be of help without the details on appName - If you have the Kudu error message you can file an issue on Kudu directly for this. Thanks!

[2020-03-19 18:01] LEUMUS commented on #1308
i have a similar problem but with installing python-xmpp, help me out

1.ERROR: Could not find a version that satisfies the requirement xmpp (from versions: none)
2.ERROR: No matching distribution found for xmpp

[2020-03-19 18:20] shannawaz opened #12672 "az vmss encryption enable fails with azure-cli version 2.2.0 but works with version 2.0.78"
AZ cli versions -    2.2.0

**Describe the bug**
az vmss encryption enable fails with azure-cli version 2.2.0 but works with version 2.0.78
With  2.2.0 ,  you get the following error
cli.azure.cli.core.util : The value of parameter type is invalid.
The value of parameter type is invalid.

**To Reproduce**
Follow https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/disk-encryption-cli

[2020-03-19 19:24] pbstrein opened #12673 "Az Login Throws error when reading .DER encoded certificate"
## Describe the bug
When logging in as a service principal and using a certificate, if a .DER encoded file is given (for example, .pfx) a error gets thrown, with no good description of what went wrong (for example, it needs to be in .PEM encoding and not .DER.)

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:

Login using a service principal and a .DER encoded certificate (eg .pf

[2020-03-19 19:43] jluk commented on #12669
Thanks @kevinwedwards for the report, we're looking into it. cc @feiskyer

[2020-03-19 20:21] timlharrison opened #12674 "AZ AKS CREATE Windows Credential Flags Missing 2.2.0"
**Describe the bug**
On AZ CLI 2.2.0, it appears that multiple flags have been removed from **az aks create** from 2.1.0 with no alternative provided and no documentation in release notes.  The flags removed are:

--node-resource-group
--windows-admin-username
--windows-admin-password

**To Reproduce**
Upgrade from 2.1.0 to 2.2.0 and execute **az aks create --help**

**Expected behavior**
Same fla

[2020-03-19 21:20] #12674 closed

[2020-03-19 21:44] brett-todd commented on #8544
Are there any updates on this issue please?

[2020-03-19 22:11] cditcher commented on #9585
I just came across this issue for the first time today when creating a new cluster from the azure cli (version 2.2.0) during a demo (naturally).  @pvandorp mentioned deleting ~\.azure\aksServicePrincipal.json file which made me think to look at the file and there were my client secret and service principal.

I supplied the values using the --client-secret and --service-principal flags from this fi

[2020-03-19 22:22] clarkezone opened #12675 "Unable to create AKS cluster using cloudshell"
## Describe the bug
Following the steps in the book k8s up and running to create a kube cluster on Azure.  Unclear what's wrong based on the error.  If I do the same thing using the Azure CLI installed locally in WSL everything works OK hence this looks like a cloudshell issue.

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argume

[2020-03-19 22:43] yonzhan commented on #12671
add to S168

[2020-03-19 22:55] a-santamaria commented on #12470
Thanks for reporting. this is caused by a breaking change introduced in the new key vault management sdk (azure-mgmt-keyvault) introduced in azure-cli 2.1.0. Unfortunately we didn't have test coverage for this path, I'll send a pr shortly with the fix and updating the tests. Please use previews version [Azure CLI 2.0.81](https://github.com/Azure/azure-cli/releases/tag/azure-cli-2.0.81) in the mean

[2020-03-19 23:00] yonzhan commented on #12672
@qwordy please take a look.

[2020-03-19 23:04] yungezz commented on #12675
thanks for reporting, routing to appropriate team

[2020-03-19 23:05] yungezz commented on #12673
hi @arrownj could you pls have a look? thanks.

[2020-03-19 23:36] jluk commented on #12675
This looks like an issue to call the cloud shell MI endpoint, @yungezz could you ping the cloud shell team?

[2020-03-19 23:51] anthonychu commented on #12622
This should be fixed with #12577

[2020-03-20 00:29] feiskyer commented on #12669
Fixed by https://github.com/Azure/azure-cli/pull/12589, pending a new release of CLI

[2020-03-20 01:31] shenmuxiaosen commented on #12605
Thanks for the sharing your user scenario and suggestions. Currently there is a cr ongoing to add ```--skip-keyvault``` optional argument to exclude key vault references from kv exporting. https://github.com/Azure/azure-cli/pull/12650 Hopefully this can catch the next round of release. In the meanwhile, there are some other practices which can solve your problem if you want to stick with existing

[2020-03-20 02:21] qwordy commented on #12573
Issue confirmed. It happens in bash. But it works fine in PowerShell.
This line from log indicates that bash passes 5-1 to Azure CLI instead of 4.
[code]
It shows that Azure CLI has different behavior in different system.
I am investigating this issue. I will update here when I have promising findings.

[2020-03-20 02:30] qwordy commented on #12552
OK. Thank you for finding this issue! Planned in S167.

[2020-03-20 02:40] qwordy commented on #12552
I wrote a PR to fix it. It will be available in next version of Azure CLI. Release date: 03/31/2020.

[2020-03-20 02:40] #12552 closed

[2020-03-20 02:48] guilhermesurek commented on #8506
It's possible to use sigle-quote with double-quote, like this: 'sidFKedhs")"ahwey'
It worked for me.

[2020-03-20 03:04] fengzhou-msft opened #12678 "[Breadth Coverage] Onboard Datashare Commands"
**Spec Link**
https://microsoft.sharepoint.com/:w:/t/AzureManagementExperience/EQ-hQ0oBQv9Hsplk-sfJ97kBWBXiZR4D9_FEcX3pGTJ5MA?e=LLw4Go

**ADO Work Item Link**
https://dev.azure.com/azure-mgmt-ex/Onboarding/_boards/board/t/Onboarding%20Team/Features/?workitem=152

**Resource Provider**
What is the Azure resource provider your feature is part of?
Microsoft.DataShare

**Description of Feature or Work

[2020-03-20 03:16] kevinwedwards commented on #12669
Also a work around is here:
https://github.com/Azure/AKS/issues/1519

[2020-03-20 03:20] qwordy commented on #11748
I tried your command
[code]
I got a result of
[code]
Can you add a `--debug` to the end of this command and send the output here?
And how do you create the VM?

[2020-03-20 03:49] bim-msft commented on #9034
@mattsmall1972 Hi, are you still being blocked by this issue? Does `az keyvault set-policy --object-id` work for your case? Thanks.

[2020-03-20 07:10] arrownj opened #12682 "[Breadth Coverage] Onboard Azure Import/Export Jobs Commands"
**Speclet Link:**
https://microsoft.sharepoint.com/:w:/t/AzureManagementExperience/EaOb6MtSL1ROsAtnpAQEJe4B8mH93dth5G63ZdzYazbvfg?e=HhzJDb

**ADO work item link:**
https://dev.azure.com/azure-mgmt-ex/Onboarding/_boards/board/t/Onboarding%20Team/Features/?workitem=168

**Swagger Link:**
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storageimportexport/resource-manager/Micr

[2020-03-20 07:20] qwordy commented on #11822
[code]
I run the above command with no error.
Can you paste the complete command and paste output the command with --debug?

[2020-03-20 07:24] qwordy commented on #11822
@dNetGuru @ecalder6  For imageReference.id, Can you paste the complete command and paste output the command with --debug? Thanks!

[2020-03-20 07:51] #12509 closed

[2020-03-20 07:54] yungezz commented on #12675
HI @arrownj could you pls have a look? thanks.

[2020-03-20 08:18] fengzhou-msft opened #12684 "Remove py2 in wheel package names"
Current name: azure_cli-2.2.0-py2.py3-none-any.whl
Shold be: azure_cli-2.2.0-py3-none-any.whl

Same for all other packages including extensions. This may involve code change in release scripts and azdev.

[2020-03-20 08:19] jiasli commented on #12684
Fixed in PR https://github.com/Azure/azure-cli/pull/12683

[2020-03-20 09:02] #12424 closed

[2020-03-20 09:45] #11956 closed

[2020-03-20 09:47] qianwens commented on #12131
This issue is fixed in sprint 167.

[2020-03-20 09:47] #12131 closed

[2020-03-20 09:47] qianwens commented on #11985
This issue is fixed in the sprint 167

[2020-03-20 09:47] #11985 closed

[2020-03-20 09:49] qianwens commented on #12332
Thanks for the advice. The help message is added in sprint 167.

[2020-03-20 09:49] #12332 closed

[2020-03-20 11:04] jiasli commented on #10579
Apologize for the delay. Of course you can use Azure CLI. 😊

The MS Graph equivalents of [`oauth2AllowImplicitFlow`](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#key-value-type-oauth2allowimplicitflow-boolean) and [`oauth2AllowIdTokenImplicitFlow`](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest#key-value-type-oauth2a

[2020-03-20 11:16] jiasli commented on #10714
We have changed the behavior in PR https://github.com/Azure/azure-cli/pull/12117 for `--verbose` log (including `--debug`) to show more information as other commands do (like `az group show --debug`).

[code]

For including raw http information in the response body from `stdout`, I have a proposal at https://github.com/Azure/azure-cli/pull/12117#discussion_r378015134. It would be great if anyone c

[2020-03-20 11:58] EitZei opened #12689 "az network list-service-tags requires subscription level rights"
## Describe the bug

**Command Name**
`az network list-service-tags`

**Errors:**
Returns empty list if the user does not have subscription level rights. I didn't debug which rights are required but compared two logins; one that has Service Administrator to a subscription and other that does not have any role.

## To Reproduce:

- `az network list-service-tags --location westeurope`

## Expected B

[2020-03-20 12:15] yonzhan commented on #8544
@radwiv any update?

[2020-03-20 12:31] mzkaramat commented on #12186
thanks, I have tried with python3 and it works.

[2020-03-20 12:31] #12186 closed

[2020-03-20 13:08] yonzhan commented on #12678
Datashare

[2020-03-20 13:28] axelgMS commented on #12594
Looks like Azure CLI version 2.2.0 forgot to pass the extension's type to the underlying Resource Provider.

eg. with CLI 2.1.0
        _"extensions": [
          {
            "name": "customScript",
            "properties": {
              "autoUpgradeMinorVersion": true,
              "publisher": "Microsoft.Azure.Extensions",
              **"type": "CustomScript",**
              "typeHandle

[2020-03-20 13:28] axelgMS commented on #12672
Looks like Azure CLI version 2.2.0 forgot to pass the extension's type to the underlying Resource Provider.

eg. with CLI 2.1.0
        _"extensions": [
          {
            "name": "customScript",
            "properties": {
              "autoUpgradeMinorVersion": true,
              "publisher": "Microsoft.Azure.Extensions",
              **"type": "CustomScript",**
              "typeHandle

[2020-03-20 13:41] bim-msft commented on #12599
@alonisser Thanks for the feedback, glad to know that your issue was resolved in the latest version, maybe this is a bug exists in some old versions.
I will close this issue, if you have anything else need us to help with, feel free to reopen it, thanks!

[2020-03-20 13:41] #12599 closed

[2020-03-20 13:49] bim-msft commented on #12423
Thanks @justSteve for the super useful information.
Hi @jaipaldom , as @justSteve just said that you would get this error when your vault name was too long, I'm not sure whether this is the exact same scenario as yours, but it worth a try! Thanks.

[2020-03-20 15:10] rohank-proarch commented on #12251
I am still facing this issue while using Ubuntu 16.04 DevOps Hosted Agent. See az --version
azure-cli                          2.2.0

command-modules-nspkg              2.0.3
core                               2.2.0
nspkg                              3.0.4
telemetry                          1.0.4

Extensions:
azure-devops                      0.17.0

Python location '/opt/az/bin/python3'
Extension

[2020-03-20 15:18] yonzhan commented on #12682
Import/Export

[2020-03-20 15:39] yonzhan commented on #12689
add to S168

[2020-03-20 15:47] hytao commented on #12545
Looks like client is trying to add a rule to an endpoint which doesn't exist. Can you share the full command including endpoint name resource group name?

[2020-03-20 19:13] julianosecondo commented on #12545
I changed the parameters that I was using and it works properly
az cdn endpoint rule add -g ${var.rgname} -n ${azurerm_cdn_endpoint.cdnstr[count.index].name} --profile-name ${azurerm_cdn_profile.cdnprofile[count.index].name} --order 1 --rule-name "RewriteSSL" --match-variable RequestScheme --operator Equal --match-values HTTP --action-name "UrlRedirect" --redirect-protocol Https --redirect-type Pe

[2020-03-20 21:02] johanste opened #12691 "Allow generation of stable but unique name for resources"
**Is your feature request related to a problem? Please describe.**
Generating globally unique names for resources that require a (globally unique) dns entry is challenging. In ARM templates, I would use the [uniqueString](https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/template-functions-string#uniquestring) function, seeding it with the "name" of the storage account (and p

[2020-03-20 21:34] ecalder6 opened #12692 "Cannot enable termination notification using Azure CLI"
## Describe the bug
Cannot enable termination notification using Azure CLI. I used the CLI command in this doc: https://docs.microsoft.com/en-us/azure/virtual-machine-scale-sets/virtual-machine-scale-sets-terminate-notification

**Command Name**
`az vmss update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain

[2020-03-20 21:42] dluc commented on #6016
I'm experiencing the same problem, any suggestion?

Repro:
`az login --service-principal --username ..... --password ..... --tenant .....`

output:
[code]

`az ad sp credential reset --name ......`

output

[code]

[2020-03-20 23:23] lsmith130 commented on #12273
This looks like a duplicate of #12152. PR #12648 will fix this when it is merged.

[2020-03-20 23:25] lsmith130 commented on #9894
This will be fixed by #12648 which will hopefully be merged in time for the next release.

[2020-03-21 00:21] gavinbarron commented on #11867
I think the correct fix is not to require the resource group that the keyvault is in as a parameter at all.

I guess I'll just keep on downloading and uploading the SSL cert in PowerShell scripts until this actually works

The docs on this should clearly callout the that the current implementation require the webapp and the keyvault to be in the same resource group.

[2020-03-21 00:40] yungezz commented on #12691
this is a request on azure core change to request unique name creation when resource name is global unique. HI @qianwens could you pls have a look? thanks.

[2020-03-21 00:41] yungezz commented on #12692
hi @arrownj  could you pls have a look? thanks.

[2020-03-21 01:05] yonzhan commented on #12691
add to S168

[2020-03-21 08:03] mlevay opened #12693 "'az webapp up' has been running into '[Errno 110] Connection timed out' for the past 24 hours"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --sku {} --name {} --resource-group {} --location {} --plan {}

[2020-03-21 10:58] yonzhan commented on #12693
webapp

[2020-03-21 11:51] mlevay commented on #12693
We suspect a connectivity issue on our end. Will re-open if not confirmed. Thanks

[2020-03-21 11:51] #12693 closed

[2020-03-21 12:29] yonzhan commented on #11952
@Azure/aks-pm any update?

[2020-03-21 14:33] fengzhou-msft commented on #12525
Thanks for reporting this issue. While format string could be fixed quickly, the underlying CLI framework `knack` that Azure CLI depends on has [dropped support for 3.5](https://github.com/microsoft/knack/pull/182/files#diff-d9ae695c8119e58c2ec435b6deae2d53R10) recently.

The CI tests for 3.5 was removed for over a year and the [prerequisites](https://docs.microsoft.com/en-us/cli/azure/install-azu

[2020-03-21 16:57] ghstahl opened #12695 "generate-sas needed Contributor role"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I created an app registration via AD.  I assigned the role: Storage Blob Data Contributor at the container and account level.    I received the permissions error.

[code]

I then assigned the Contributor Role to the App Registration and then it finally created a SAS.

**Command Name**
`az storage container gene

[2020-03-21 17:57] sanghoonkim0918 opened #12696 "az group create: TypeError: 'NoneType' object is not callable"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group create --location eastus2 --name TestGroup`

## Expected Behavi

[2020-03-21 18:20] joshlang opened #12697 "Warning (to stderr) about a future (non-existent) argument being required"
You guys have added this warning:

`WARNING: The record set doesn't exist and is automatically created. In the future, an extra argument will be supported to confirm this auto creation.`

Which appears when we run `az network dns record-set txt add-record ...` to add a new record.

This broke our pipeline because it's written to `stderr`.

It's no *big* deal - we just run it again and it's fine.

[2020-03-22 01:07] yonzhan commented on #12696
add to S168

[2020-03-22 01:09] yonzhan commented on #12697
add to S168

[2020-03-22 05:00] k7faq opened #12698 "Link to API Info"
Please provide reference URL on this page to the page that defines the API ID and description.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6a5b5348-f67e-ef14-0529-4c80fddd4bc6
* Version Independent ID: bfd7e6b1-1fba-3d25-8ee3-5105bcf4157d
* Content: [az ad app permission](https://docs.microsoft.com/en-us/cli/azure/a

[2020-03-22 08:18] qwordy commented on #12698
Thanks for your feedback!

[2020-03-22 10:31] hrishioa commented on #12594
Is there a known fix? Can the type be set or passed from the cli interface?

[2020-03-22 10:40] lalitadithya commented on #12594
@hrishioa I was able to perform the operation using powershell. You can set the type version as shown below:
`
Add-AzVmssExtension
  -VirtualMachineScaleSet $vmss
  -Name "customScript"
  -Publisher "Microsoft.Compute"
  -Type "CustomScriptExtension"
  -TypeHandlerVersion 1.9
  -Setting $customConfig
`
For more information you can look at https://docs.microsoft.com/en-us/azure/virtual-machine-scal

[2020-03-22 10:42] hrishioa commented on #12594
@lalitadithya Thanks! Is there a way to add a type to azure-cli? There doesn't seem to be a type parameter mentioned in the reference. I'll try using powershell for now.

[2020-03-22 10:48] lalitadithya commented on #12594
@hrishioa No. I couldn't find anything to add a type parameter to the azure-cli command. I spent all morning trying to add a script extension to my VMSS using the azure cli. It is rather unfortunate that there is no way to download a previous release of the cli.
As far as I can tell, the only way to do it (before a patch is released) would be to use powershell or an ARM template or by calling the

[2020-03-22 10:57] hrishioa commented on #12594
@lalitadithya thanks anyway!

[2020-03-22 13:15] qwordy commented on #12594
Similar issue: #12672

[2020-03-22 13:33] qwordy commented on #12672
Similar issue: #12594

[2020-03-22 14:04] qwordy commented on #12594
I have opened a PR to fix this issue.
Python SDK abandoned `type`. Instead, it uses `type1` now. I am very confused why there is such kind of change!!!
[code]

[2020-03-22 14:28] Elthas17 opened #12700 "AttributeError: 'NoneType' object has no attribute 'reserved'"
## Describe the bug

Hi,

trying to run the hello world github code of the following tutorial https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-python?tabs=bash , with a app service created manually in portal.azure

the command az webapp up recognizes it is an exising app service (notice the typo 'exits')

[code]
**Command Name**
`az webapp up`

**Errors:**
[code]

## To Rep

[2020-03-22 15:24] evandropomatti commented on #7234
There is no reason why it shouldn't be available out-of-the-box in the Azure CLI.

Are we getting this feature or not?

[2020-03-22 15:36] evandropomatti opened #12701 "Feature request: Auto-shutdown"
**Is your feature request related to a problem? Please describe.**
I am unable to set auto-shutdown schedule when creating a VM from Azure CLI.

**Describe the solution you'd like**
The possibility to create a VM with auto-shutdown and edit the auto-shutdown from Azure CLI.

Something like this:

[code]
**Describe alternatives you've considered**
It would be nice to have it on the `create` command

[2020-03-22 19:33] mrnafanya commented on #11348
Faced the same issue as @techspeque, with bionic release. Solution, in my situation, was to get to https://packages.microsoft.com/repos/azure-cli/pool/main/a/azure-cli/ and download .deb package for proper debian release (bionic in my case) and install with package manager. However, before I did install (libssl-dev, libffi-dev, python-dev, build-essential) manually. )

[2020-03-22 20:48] j4v commented on #12283
@jiasli what's the status on this? Having such an outdated dependency is causing us significant headaches for the https://github.com/nccgroup/ScoutSuite project (and countless others I'm sure).

[2020-03-23 01:16] yungezz commented on #12700
thanks for reporting, routing to appropriate team

[2020-03-23 01:55] yonzhan commented on #12701
add to S169

[2020-03-23 02:03] jiasli commented on #12283
@j4v, does it work if we set the [dependency](https://github.com/Azure/azure-cli/pull/12477/files#diff-0a78917e35830ab9a36ead21024f5dedR58) to `humanfriendly>=4.7,<9.0`?

[2020-03-23 02:29] zhoxing-ms commented on #7431
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-03-23 02:29] #7431 closed

[2020-03-23 02:32] zhoxing-ms commented on #11978
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-03-23 02:32] #11978 closed

[2020-03-23 02:56] #12627 closed

[2020-03-23 02:56] #12616 closed

[2020-03-23 02:57] bim-msft commented on #11565
Certificate backup/restore was supported now, the release time is Mar 31.

[2020-03-23 02:57] #11565 closed

[2020-03-23 04:00] jsntcy opened #12706 "[Breadth Coverage] Onboard OperationsManagement Commands"
**Spec Link**
https://microsoft.sharepoint.com/:w:/t/AzureManagementExperience/EUNqd7JD34xNhxzKqbsMQ1sBqk305EwnAfgfZpv6yuC5vw?e=BkPS5O

**ADO Work Item Link**
https://dev.azure.com/azure-mgmt-ex/Onboarding/_workitems/edit/98

**Resource Provider**
What is the Azure resource provider your feature is part of?
Microsoft.OperationsManagement

**Description of Feature or Work Requested**
Support Azure

[2020-03-23 04:30] jiasli commented on #10241
**Python SDK - Azure Identity** also supports environment variables [here](https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/identity/azure-identity#environment-variables). Maybe we can implement this independently of Azure Identity integration. Even after the Azure Identity integration, this won't be a breaking change.

[2020-03-23 04:31] jiasli commented on #9282
Let's discuss this further in https://github.com/Azure/azure-cli/issues/9282.

[2020-03-23 05:14] Astersss opened #12707 "docker run -it mcr.microsoft.com/azure-cli does not work on Windows Mode Docker Container"
**Is your feature request related to a problem? Please describe.**
I tried to install Azure CLI on docker with Windows Mode not Linux mode using: docker run -it mcr.microsoft.com/azure-cli and it throws error: C:\Program Files\Docker\Docker\resources\bin\docker.exe: image operating system "linux" cannot be used on this platform.

**Describe the solution you'd like**
Any command line for installing

[2020-03-23 06:32] yonzhan commented on #12706
add to S168

[2020-03-23 07:07] rohank-proarch opened #12710 "Fail to deploy .net core function app using az functionapp deployment source config-zip"
**Describe the bug**

When deploying a .net core function app to Azure Functions on Windows App Service Plan, the deployment fails if it requires changes in app settings.

There's a race condition here:

1. If the app settings are changed before or after the deployment is initiated, the build fails.
2. If the app settings are not changed before the deployment is initiated, the build succeeds.

**T

[2020-03-23 07:11] qwordy commented on #11626
PR to fix it: https://github.com/Azure/azure-cli/pull/12687

[2020-03-23 07:26] GeeWee opened #12711 "az acr network-rule add is not idempotent"
## Describe the bug

**Command Name**
`az acr network-rule add`

**Errors:**
`az acr network-rule add` throws the following error if the networking rule already exists, e.g. if I try to add the same subnet twice.
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create a container registry and a vne

[2020-03-23 08:20] j4v commented on #12283
@jiasli yes it will :+1:

[2020-03-23 08:32] #11267 closed

[2020-03-23 08:51] GeeWee commented on #12622
Just want to chime in that I've tried this locally with the az cli as well, and I also cannot deploy any dotnet functions. It does not matter if you specify functions version, runtime version or anything like that.

[2020-03-23 09:14] GeeWee opened #12713 "Rerunning `az aks create` with updated service principal fails"
## Describe the bug
I have a script that creates a service principal and a AKS cluster.
It fails when I run it the second time.
Seeing as the Azure CLI is supposed to be idempotent, I would expect the following to work.

- I update an existing service principal with the same name:
`az ad sp create-for-rbac --skip-assignment --name "http://sp-foo-bar"`
This seems to work, as the azure cli responds

[2020-03-23 09:15] GeeWee commented on #12711
Seems to be a transient issue. Rerunning the commands I no longer get the error. Weird.

[2020-03-23 09:15] #12711 closed

[2020-03-23 09:31] devallish opened #12714 "Azure-cli install on Codeship.com failing missing Public Key."
**Describe the bug**
While running install on Codeship.com we are seeing missing public key error.
Below are logged steps around error message.

Get:13 https://dl.yarnpkg.com/debian stable/main amd64 Packages [9,953 B]
**Err:3 https://cli-assets.heroku.com/branches/stable/apt ./ InRelease
The following signatures couldn't be verified because the public key is not available: NO_PUBKEY 5DC22404A6F9F

[2020-03-23 09:32] ptoluganti opened #12715 "az apim show"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim show -n {} -g {}`

## Expected Behavior

## Environment Summary
[co

[2020-03-23 10:44] yungezz commented on #12715
routing to appriopriate team

[2020-03-23 10:45] yungezz commented on #12707
HI @fengzhou-msft could you pls have a  look? thanks.

[2020-03-23 10:46] yungezz commented on #12714
HI @fengzhou-msft could you pls have a  look? thanks.

[2020-03-23 10:46] yungezz commented on #12713
thanks for reporting, routing to appropriate team

[2020-03-23 10:46] yungezz commented on #12710
thanks for reporting, routing to appropriate team

[2020-03-23 11:22] #11743 closed

[2020-03-23 14:41] #12631 closed

[2020-03-23 15:17] fengzhou-msft commented on #12714
@devallish the error seems to be caused by the https://cli-assets.heroku.com/branches/stable/apt repo.  There's an existing issue https://github.com/heroku/cli/issues/497 which was referenced multiple times recently.

azure-cli is not from this repo. Please follow our [installation instructions](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest) for Ubuntu. You

[2020-03-23 15:23] fengzhou-msft commented on #12707
@Astersss the image is for linux. For windows, we have the [dockerfile](https://github.com/Azure/azure-cli/blob/dev/Dockerfile.nanoserver), but we don't release the image built on that. You can build it by yourself.

[2020-03-23 15:45] fawohlsc opened #12718 "Add command to az policy to trigger on-demand evaluation scan"
**Is your feature request related to a problem? Please describe.**
When developing Azure Policies, it can take up to 30 min for a policy assignment to be applied to a defined scope and even some more time for the evaluation cycle to be processed (see [Evaluation triggers](https://docs.microsoft.com/en-us/azure/governance/policy/how-to/get-compliance-data#evaluation-triggers)). Therefore, developer

[2020-03-23 18:19] ajay15283 opened #12719 "Zypper error after Installing Python3.6 on SLES12SP4"
Hello,

After installing python3.6.9 as mentioned in the document https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-zypper?view=azure-cli-latest

zypper failed to retrieve the metadata and forcing cloudregistration failed with SSL error . Other systems without Python3.6.9 doesn't have this problem

[2020-03-23 18:20] ajay15283 commented on #12719
[azurecli-error.docx](https://github.com/Azure/azure-cli/files/4371204/azurecli-error.docx)

[2020-03-23 18:56] rudolfdobias commented on #2174
Unfortunately I ran into it right now:

`    "frontendIpConfigurations": [
      {
        "etag": "W/\"5093649c-5263-40be-b579-c2f85dde5717\"",
        "id": "/subscriptions/XXXX/resourceGroups/rg_agw_stagedev/providers/Microsoft.Network/applicationGateways/agw_stage/frontendIPConfigurations/fc-default",
        "name": "fc-default",
        "privateIpAddress": null,
        "privateIpAllocationM

[2020-03-23 19:46] DrReedo opened #12720 "I don't see all of the IP addresses that I have added in the Azure Portal reflected in the Portal"
Earlier I updated the IP addresses manually in the Portal but when I returned I couldn't see them all in the Azure Portal leading me to think they had been removed.  However, when I run the show command I can see them in the ip-range-filter.  Is this a bug?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abc8d652-2eda-2

[2020-03-23 21:09] happyiphone opened #12721 "az resource create and x-ms-version"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az resource create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az resource create --location {} --name {} --properties {} --resource

[2020-03-23 21:12] t3mi opened #12722 "Failed to purge a secret right after it was removed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret purge`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `id=$(az keyvault secret delete -n 'test-secret' --vault-name 'test-vault' --query recoveryId --output t

[2020-03-23 21:32] lastcoolnameleft opened #12723 "Unclear error when specifying "az aks nodepool add" with --node-count 0"
**Describe the bug**
Azure CLI does not provide a clear error when setting "--node-count 0"
**To Reproduce**

Create a normal AKS cluster
[code]

Add a Nodepool with 0 nodes:
[code]

**Expected behavior**
It should either provide a useful error message (e.g. "Node Count must be a positive integer"), or proceed to create the AKS node pool with 0 nodes in it.  There is nothing in the documentation w

[2020-03-23 23:19] yonzhan commented on #12718
add to S168

[2020-03-23 23:20] yonzhan commented on #12719
@fengzhou-msft  please take a look.

[2020-03-23 23:46] yungezz commented on #12723
thanks for reporting, routting to appropriate team

[2020-03-23 23:46] yungezz commented on #12722
hi @bim-msft could you pls have a look?

[2020-03-23 23:47] yungezz commented on #12720
routing to appropriate team

[2020-03-23 23:52] yonzhan commented on #12721
add to S168

[2020-03-24 02:02] qwordy commented on #12594
The fix will be available in next version of Azure CLI. Release date is 3/31/2020.

[2020-03-24 03:45] shurd commented on #12668
Hi @bojingo, thank you for opening this issue. When adding the new commands, we did not create an "exists" command. As you indicate, currently you must use the "show" command and determine if there was an error. We will work on adding an "exists" option. We are tracking this internally as work item 672701 and have an ETA of the end of April.

[2020-03-24 03:53] bim-msft commented on #11538
This was supported, release date: Mar 31

[2020-03-24 03:53] #11538 closed

[2020-03-24 03:55] shurd commented on #12720
Hi @DrReedo thank you for opening this issue. For clarification, you are saying that there is a discrepancy between the IP ranges shown in the portal and returned via the CLI? The CLI returns the exact list we store internally. In some cases, the portal might filter out certain IP addresses in the UI (the "allow access via portal" IP addresses are condensed into a checkbox).

If the CLI is returni

[2020-03-24 04:35] matthewdchambers opened #12725 "az aks upgrade fails with Error occurred in request"
**Describe the bug**
Upgrade from 1.11.8 to 1.13.12 using `az aks upgrade` fails with

**To Reproduce**
run `az aks upgrade  --resource-group rgroup --name name --kubernetes-version 1.13.12` on cluster currently running 1.11.8

**Expected behavior**
Cluster upgraded to 1.13.12

**Environment summary**

[2020-03-24 04:56] yungezz commented on #12725
thanks for reporting, routing to appropriate team

[2020-03-24 05:16] fengzhou-msft commented on #12684
PR #12727 to fix az extension add skipping wheels that do not contain py2.py3 in name.

[2020-03-24 05:51] fengzhou-msft commented on #12684
PR https://github.com/Azure/azure-cli-dev-tools/pull/174 to fix azdev always build wheel as universal

[2020-03-24 07:21] MyronFanQiu commented on #12079
@kylecweeks Hi. Do you still meet this issue?

[2020-03-24 07:45] wonderplayer opened #12728 "Refresh page"
If anybody besides me is using reset and wondering why secret doesn't appear, then please, refresh the secret page. It will appear only then as it turns out.
Spent too much time with this...
P.S. Might be good to add this as an instruction under reset command :)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 364ccdfb-2

[2020-03-24 07:47] #6466 closed

[2020-03-24 08:30] juliuszsielski opened #12733 "'central' is not in the 'az iot' command group"
# Describe the bug
**Command Name**
` az iot central app monitor-events --app-id <Application ID> --properties all`

**Error**
`az iot: 'central' is not in the 'az iot' command group`

# Expected behavior
Connect to IOTC instance and monitor all incoming messages.

**Environment summary**
`Windows 10, Powershell`
`azure-cli 2.2`

[2020-03-24 08:35] zhoxing-ms commented on #11963
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-03-24 08:35] #11963 closed

[2020-03-24 09:53] DrReedo commented on #12720
Hi @shurd ,
Yes, ok, that might make sense because I'm adding in the ipRange for the Azure Portal for 'All other regions' as described here:
https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-configure-firewall
But you're saying they are automatically enabled?
It's not clear that the checkbox filters out these addresses though - one for the documentation team.  Shall I post it there?
thank yo

[2020-03-24 10:10] pvasek commented on #12565
Having the same issue. Running command:
[code]

returns:
[code]

`az version -o json` returns:
[code]

Just updated to _Azure CLI 2.2_ before I had _Azure CLI 2.1_ but error was the same.

But running that in https://shell.azure.com gives me completely different error:
[code]

[2020-03-24 10:49] qetza opened #12735 "Warnings should not be writton on stderr"
Currently warnings (preview feature, deprecated feature...) is written to stderr but those are not errors.

This behaviors can break scripts in powershell if we make them fail automatically if something is written to stderr.

Those outputs should be written to the standard output to avoid false error.

[2020-03-24 11:08] mumische commented on #8296
I'm having this issue too.

[2020-03-24 11:10] yungezz commented on #12728
hi @arrownj could you ps have a look? thanks

[2020-03-24 11:11] yungezz commented on #12735
thanks for reporting, this is a known issue, and there's a fix in underlying framework to fix it. @jiasli can share more detail

[2020-03-24 11:12] yungezz commented on #12733
routing to appropriate team

[2020-03-24 11:35] feiskyer commented on #12565
`Details: Changing enablePrivateCluster is not allowed` issue has been fixed by #12589.

For the first error, I couldn't reproduce it. @yonzhan have you seen similar errors on other CLI commands?

[2020-03-24 11:40] yungezz commented on #12565
hi @fengzhou-msft  could you pls help to look at the error to see if it caused by empty string? thanks

[2020-03-24 13:02] fengzhou-msft commented on #12565
@nidiculageorge @pvasek Are you using Powershell? You can pass `--api-server-authorized-ip-ranges=` instead of `--api-server-authorized-ip-ranges ""`.  Powershell has known issues to strip double quotes when passing parameters in a batch script which is what our az.cmd/az.bat does.

A more general workaround is to replace one double quotes with three double quotes  `--api-server-authorized-ip-rang

[2020-03-24 13:06] jiasli commented on #12735
We have added option `--only-show-errors` to disable warnings in https://github.com/Azure/azure-cli/pull/12604. We will release this version at 2020-04-31.

[2020-03-24 13:07] #12735 closed

[2020-03-24 13:16] jiasli commented on #12070
We have added option `--only-show-errors` in #12604 to disable warnings that are written to `stderr`. It will be included in [S167](https://github.com/Azure/azure-cli/milestone/84) release.

[2020-03-24 13:16] #12070 closed

[2020-03-24 13:19] jiasli commented on #10856
We have added option `--only-show-errors` in #12604 to disable warnings that are written to `stderr`. It will be included in [S167](https://github.com/Azure/azure-cli/milestone/84) release.

[2020-03-24 13:20] jiasli commented on #9891
We have added option `--only-show-errors` in #12604 to disable warnings that are written to `stderr`. It will be included in [S167](https://github.com/Azure/azure-cli/milestone/84) release.

[2020-03-24 13:24] jiasli commented on #10687
As an alternative, we have added option `--only-show-errors` in #12604 to disable warnings that are written to `stderr`. It will be included in [S167](https://github.com/Azure/azure-cli/milestone/84) release.

[2020-03-24 13:46] jiasli commented on #5667
We have added option `--only-show-errors` in #12604 to disable warnings that are written to `stderr`. It will be included in [S167](https://github.com/Azure/azure-cli/milestone/84) release.

[2020-03-24 13:48] jiasli commented on #6341
We have added option `--only-show-errors` in #12604 to disable warnings that are written to `stderr`. It will be included in [S167](https://github.com/Azure/azure-cli/milestone/84) release.

[2020-03-24 13:48] #6341 closed

[2020-03-24 13:53] fawohlsc commented on #12718
Based on the docs of [on-demand evaluation scans](https://docs.microsoft.com/en-us/azure/governance/policy/how-to/get-compliance-data#on-demand-evaluation-scan), there is the possibility to retrieve the status of the on-demand evaluation scan. A REST API GET command to `https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/asyncOperationResults/{ResourceCon

[2020-03-24 14:03] fawohlsc commented on #7967
Just having the same issue with Azure CLI 2.2.0. Will the pull request be merged anytime soon? Many thanks!

[2020-03-24 14:25] pvasek commented on #12565
@fengzhou-msft you are right, I am using powershell and your solution works for me.  Thanks a lot!

The working command:
[code]

[2020-03-24 14:47] feiskyer commented on #12565
@fengzhou-msft thanks for the detailed guides.

[2020-03-24 15:07] bim-msft commented on #12722
Hi @t3mi , based on my experience, you should wait several seconds before `purge` operation since the `delete` operation is an async operation inside the backend.

This is our scenario test code for delete/purge, we use a `time.sleep` here:
https://github.com/Azure/azure-cli/blob/b8449a869207f26eec7ec3a768b67f46b5d5a7da/src/azure-cli/azure/cli/command_modules/keyvault/tests/latest/test_keyvault_co

[2020-03-24 15:35] t3mi commented on #12722
Thanks, I'm using that as a workaround. But any chance that could be updated to a blocking operation? So that response for 'delete' could be process right away.

[2020-03-24 16:46] KarenHammons commented on #2174
@amitsriva FYI looks like this is occurring again.

[2020-03-24 16:47] akokskis opened #12736 "az resource tag overwrites existing tags"
**Describe the bug**
When using `az resource tag`, any existing tags on the object are overwritten.  There is no mention of this in the documentation, and to my mind, is unexpected behavior.

**To Reproduce**
Create a resource in the UI (or via cli) and ensure it has some tag on it.
Using the cli, add a tag. Eg. `az resource tag --tags environment=production --ids /subscriptions/.........`
Now ver

[2020-03-24 17:24] jongio commented on #12217
Update: @yonzhan and team will take this refactoring work.  In the mean-time, we are working on implementing for functionapp and webapp here spec is here: https://github.com/Azure/azure-cli/issues/9887#issuecomment-597195457

[2020-03-24 17:54] manojmu commented on #12177
@tamirkamara do you have any update on this ?

[2020-03-24 18:13] anthonychu commented on #12710
@rohank-proarch Can you please share with us the error message as well as your app name? Thanks. https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2020-03-24 18:25] rohank-proarch commented on #12710
App Name: pa-dw-funcapp-dev
Error Message:
 WARNING: Setting SCM_DO_BUILD_DURING_DEPLOYMENT to false
 WARNING: Waiting SCM site to be updated with the latest app settings
 ERROR: The command failed with an unexpected error. Here is the traceback:

 ERROR: HTTPSConnectionPool(host='pa-dw-funcapp-dev.scm.azurewebsites.net', port=443): Read timed out. (read timeout=3)
 Traceback (most recent call las

[2020-03-24 18:26] kutsyk-neocles commented on #11718
Hey guys, is this bug getting fixed?

[2020-03-24 18:31] alex-frankel commented on #11718
Incremental, unfortunately, is a misleading term.

`Incremental` mode does not apply to properties of a resource, it applies to the resource itself. If a deployment is done in `complete` mode, that means it will delete resources not declared in the template, but it does not affect how the properties within a resource are handled. That is up to the RP itself (in this case the web RP).

@bim-msft or

[2020-03-24 20:35] happyiphone commented on #12339
It has been fixed in one of the latest releases (S166 I think). Thanks for checking!

[2020-03-24 20:35] #12339 closed

[2020-03-24 20:43] ficocesari commented on #12651
Updated to latest

$az --version
azure-cli                          2.2.0

command-modules-nspkg              2.0.3
core                               2.2.0
nspkg                              3.0.4
telemetry                          1.0.4

Extensions:
azure-cli-ml                       1.1.5

Python location '/opt/miniconda3/bin/python'
Extensions directory '/Users/federicocesari/.azure/cliextensi

[2020-03-24 21:24] shurd commented on #12720
Yes those IP addresses are added when you check the box next to "Allow access from Azure portal". I just confirmed also that if you leave the box unchecked but manually add those IP addresses, the box will appear checked and the IP addresses will not be listed when refreshed.

Raising an issue on the documentation page would be the right path forward for this.

[2020-03-25 01:49] qwordy commented on #12736
@Juliehzl can you have a look?

[2020-03-25 01:58] zhoxing-ms commented on #8016
@calecarter Hi, Here is another customer who also has similar requirements. #12718
May I ask how is your progress?

[2020-03-25 02:05] zhoxing-ms commented on #12718
@calecarter Hi, please pay attention to this issue. Here are the same requirements for adding `https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/asyncOperationResults/{ResourceContainerGUID}?api-version=2018-07-01-preview` to the Python SDK.
After that I will support this feature in CLI.

[2020-03-25 02:12] #12469 closed

[2020-03-25 02:27] #12283 closed

[2020-03-25 02:28] jiasli commented on #12283
Done. Thank you for the feedback.

[2020-03-25 03:32] #12525 closed

[2020-03-25 03:32] jiasli commented on #9250
As AAD is deprecating AD Graph API,  for now you may use `az rest` to call MS Graph API [Add owner](https://docs.microsoft.com/en-us/graph/api/application-post-owners) directly:

[code]

Also see https://github.com/microsoftgraph/microsoft-graph-docs/issues/1645, https://blogs.aaddevsup.xyz/2018/11/how-to-add-an-owner-to-an-azure-ad-application/

[2020-03-25 03:40] jiasli commented on #9250
@dekimsey, MS Graph currently doesn't support group as owner.

[code]

I will mark this as service attention. You may vote on these feedback pages:

https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/37337278-add-group-as-owner-on-azure-ad-application-and-ser
https://feedback.azure.com/forums/169401-azure-active-directory/suggestions/6688284-ad-groups-in-application-owners

[2020-03-25 03:53] bim-msft commented on #12722
@t3mi This is decided by service back-end implementation which is owned by another team, currently Azure CLI can do nothing about this (Actually we can do a sleep in `delete`, but it will impact the performance).
How about disable the `soft-delete`? If it was disabled, you don't need to `purge` anymore, thanks!

[2020-03-25 03:55] bim-msft commented on #12722
If there are updates on service implementation about this, I will let you know. :-)

[2020-03-25 04:05] jiasli commented on #9522
AD Graph 1.6 does define [`preAuthorizedApplications`](https://github.com/Azure/azure-rest-api-specs/blob/31511259798adf4dcb0cfce94c825bb22f47f719/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json#L3179) but it is somehow not working with PATCH request.

Since AAD is deprecating AD Graph API, as @rbhadti94 pointed out, for now you may use `az rest` to call MS Graph A

[2020-03-25 05:36] #9013 closed

[2020-03-25 05:37] mcipekci opened #12739 "webapp: Tenant can create Azure products from other regions not belonging to their subscription via Azure Classic/Modern CLIs"
**Summary**: Tenant can create Azure products from other regions not belonging to their subscription via Azure Classic/Modern CLIs.

**Description**: I was testing classic Azure CLI (version 0.10.20) for actually automating my pentesting tools like creating TrafficManager profiles, Cloud services and Azure websites.

While I was looking syntax for making Azure websites, I noticed that it was actua

[2020-03-25 06:25] haroldrandom commented on #9798
closed as done.

[2020-03-25 07:53] DrReedo commented on #12720
OK, I will do that.  thanks.

[2020-03-25 08:04] juliuszsielski commented on #12733
Response on `az --version`
[code]

[2020-03-25 08:19] #12059 closed

[2020-03-25 08:27] yonzhan commented on #12736
add to S168

[2020-03-25 09:11] qwordy commented on #12739
@jiasli Please have a look

[2020-03-25 10:32] yonzhan commented on #12739
add to S168

[2020-03-25 12:22] zhoxing-ms commented on #11718
@alex-frankel I would like to confirm with you the key issues:
What you mean is that the incremental mode and complete mode of the ARM template only affects whether the undefined resources in template are deleted, but they do not take effect on the property settings in resources defined in the template.
These original property settings will be directly overwritten by new properties in the paramete

[2020-03-25 12:56] #12722 closed

[2020-03-25 13:09] zhiweiv opened #12745 "Typo in az aks create -h"
**Describe the bug**
az aks create -h, the output:

**Expected behavior**
It should be **_up to_**?

**Environment summary**
Windows

[2020-03-25 13:19] yonzhan commented on #12745
aks

[2020-03-25 13:25] johnsk3131 commented on #8767
{
  "error": {
    "code": "Malformed backup blob",
    "message": "Cannot decrypt backup blob."
  }
}

[2020-03-25 13:26] johnsk3131 commented on #8767
Backup & Restore Key Vault Secrets via Logic Apps I'm geeting error while restoring from azure storage blob
Error message :
{
"error": {
"code": "Malformed backup blob",
"message": "Cannot decrypt backup blob."
}
}

[2020-03-25 14:54] alex-frankel commented on #11718
In most cases that is correct, but some RPs will treat this as a PATCH request which will do a strategic merge instead of overwriting. This is totally up to the RP teams though.

The rest of what you said is correct.

[2020-03-25 15:08] jabrena commented on #4041
Yes, the feature is necessary.

Currently, it is very manual the operation:

[code]

[2020-03-25 15:11] compusaurusrex opened #12746 "CloudShell & Azure CLI Azure Command Builder Concept"
One of my frustrations using CloudShell and PowerShell is that I often need to spend a significant amount of time researching the options and option values required to implement a command. This is frustrating because Azure should know and could make all of the command options and many of the option values, like VMs, NIC and disk names, resource groups and subscription IDs available for selection.

[2020-03-25 15:34] kenieva commented on #12718
Hi zhoxing-ms, we don't have this in the upcoming plans due to other features in the pipeline. One of which is to improve the time for compliance evaluation to surface. With this exciting change, there will be little to no need to trigger an evaluation. Thanks!

[2020-03-25 15:34] #12718 closed

[2020-03-25 15:35] kenieva commented on #8016
@zhoxing-ms  changes will come in throughout the year.

[2020-03-25 16:38] jessemillar commented on #12569
I'm getting a similar error when I run `az aks get-credentials --overwrite-existing -g jessemillar-provision-test -n jessemillar-provision-test`:
[code]
**Environment:**
Shell: Zsh
OS: Ubuntu 18.04.4 LTS
[code]

[2020-03-25 17:13] jessemillar commented on #12127
Seems similar to https://github.com/Azure/azure-cli/issues/12569

[2020-03-25 17:15] VladimirSuhovRepository commented on #12159
same issue for me

[2020-03-25 18:04] brunomartinspro commented on #10031
@zikalino how did you solve it?

[2020-03-25 18:06] jessemillar commented on #11881
For any other internet people that find this when they're too tired to think, removing your `KUBECONFIG` file (e.g. `rm ~/.kube/config`) and re-running the `get-credentials` command appears to fix things.

[2020-03-25 18:09] brunomartinspro commented on #10031
never mind my bad, i thought this was used to link a storage account container..

[2020-03-25 18:25] muralidharvr commented on #692
I am also facing same issue.
This works:
Get-AzPolicyDefinition | where-object {$_.Properties.metadata.category -eq "General" -and $_.Properties.displayName -eq 'Allowed resource types'}

This fails:
az policy definition show --name 'Allowed resource types'

[2020-03-25 18:41] hivyas commented on #12469
Issue has been resolved in with this merge: https://github.com/Azure/azure-cli/pull/12610

[2020-03-25 19:22] greentree8 commented on #12569
@jessemillar, I ended up uninstalling and deleting my .azure and .cube directories.  Might have worked with just deleting those directories. anyway, reinstalled,and now it's working again.  Hope this helps!

[2020-03-25 20:33] Jackbk commented on #12733
Hi @juliuszsielski ,
The IoT CLI extension name as recently changed.  It looks like you have an old and a new version installed which may be conflicting.

Can you please try remove azure-cli-iot-ext ?

`az extension remove --name azure-iot`

[2020-03-25 20:47] shemminger opened #12748 "Artifact downloads lots of errors and failures"
Having lots of issues downloading packages. It always generates lots of noisy retry errors, and sometimes dies altogether.

Example:

$ az artifacts universal download \

Universal Packages is currently in preview.
Ignoring --cache-directory because the cache is not yet supported on OS "Linux 4.19.0-6-amd64 #1 SMP Debian 4.19.67-2+deb10u2 (2019-11-11)".

[https://vsblobprodeussu2shard35.blob.core.

[2020-03-25 23:29] yonzhan commented on #12746
@arrownj  please take a look.

[2020-03-26 01:02] btardif commented on #11923
@Juliehzl any news on this issue, looks like it's just getting punted form sprint to sprint.

[2020-03-26 01:43] sanghoonkim0918 opened #12750 ""Please run 'az login' to setup account" while I already logged in"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm create --subscription {my_own_subscription} --location eastus2 --reso

[2020-03-26 01:44] yonzhan commented on #12748
Artifact

[2020-03-26 01:47] sanghoonkim0918 opened #12751 "An unexpected error occured while processing the network profile of the VM. Please retry later."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm create --subscription {} --location {} --resource-group {} --name {}

[2020-03-26 01:49] yonzhan commented on #12750
@qwordy please take a look.

[2020-03-26 01:50] yonzhan commented on #12751
@qwordy please take a look

[2020-03-26 01:59] Juliehzl commented on #11923
Hi @btardif, for the document part, which is owned by docs team. We need to discuss with docs team for further upgrade.

But because the limit of work bandwidth, we have to do some features with higher priority this sprint. We will move it to backlog and make a plan for it with docs team asap.

[2020-03-26 02:05] zhoxing-ms commented on #11718
@Tiano2017 Could you please help to see whether the original property settings should be directly overridden or merged by strategy during deployment ARM template?

[2020-03-26 02:56] yungezz opened #12753 "[AKS] dependency version management"
**Is your feature request related to a problem? Please describe.**

AKS

**Describe the solution you'd like**

Evaluate whether to support AKS multipleapi.

**Describe alternatives you've considered**

**Additional context**

[2020-03-26 02:56] yungezz commented on #12753
dependency enhancement

[2020-03-26 03:42] jsntcy commented on #5479
![image](https://user-images.githubusercontent.com/16348853/77607843-8526bb00-6f56-11ea-8db7-bcd6eb4cb428.png)
It seems GoDaddy has fixed their zone file format, so close this issue.
If there are similar requests in the future, we can reopen this as an improvement request.

[2020-03-26 03:42] #5479 closed

[2020-03-26 06:29] tamirkamara commented on #12177
Sorry, not yet. I will get around to this by the end of the week.

[2020-03-26 06:36] fengzhou-msft commented on #12390
The version bump of azure-storage-blob relies on track 2 adoption. We'll do it after we add support for track 2 SDKs.

[2020-03-26 08:08] #9798 closed

[2020-03-26 08:09] jsntcy commented on #11772
Close this issue as it is resolved by #12740 (PR)

[2020-03-26 08:09] #11772 closed

[2020-03-26 08:28] juliuszsielski commented on #12733
I removed az cli and all dependencies and installed fresh ones. Then I add
`azure-iot extension`
and run
`az iot central app monitor-events --app-id xxxxxxxxxxxxxxxxxxxxxxxxxxxx`

Now I got an error
`Error 403.043.004.005 getting tokens. User principals must get tokens from the common tenant.`
I read that I need to set up my tenant. I did this but still I got the error above. I can see that my rol

[2020-03-26 08:44] haroldrandom commented on #12549
@ericrousse What does it mean "reflect az cli"?

[2020-03-26 09:23] wudong opened #12757 "Not able to get access token from cloud shell for resource type oss-rdbms"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --resource-type oss-rdbms`
## Ex

[2020-03-26 10:08] jiasli commented on #4712
We have added option `--only-show-errors` in #12604 to disable warnings that are written to `stderr`. It will be included in [S167](https://github.com/Azure/azure-cli/milestone/84) release.

[2020-03-26 10:08] #4712 closed

[2020-03-26 10:10] yonzhan commented on #12757
add to S169

[2020-03-26 10:53] shmink opened #12758 "No release for tricia?"
OS: Mint 19.3 tricia
Kernel: x86_64 Linux 5.3.0-42-generic

[code]

Running `curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash` gives me the above error.

[2020-03-26 11:30] harals opened #12759 "MemoryError on up with large binary files"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I'm trying to update an application which has some large ZIP-files to be served statically, e.g. 5 GB in total.

On update, the process runs for a few minutes, and then terminates with a "MemoryError".

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note t

[2020-03-26 11:49] yonzhan commented on #12758
@fengzhou-msft please take a look.

[2020-03-26 11:49] yonzhan commented on #12759
webapp

[2020-03-26 13:28] Masahigo commented on #11190
@nofunatall Thanks! Getting AzCopy working from Linux/Docker container is very difficult atm.

[2020-03-26 14:31] fengzhou-msft commented on #9831
@nsavelyeva By `The one mentioned above did not work for me`, do you mean the environment variable does not change the extension install location successfully for you, or it does not suit your need? Can you explain?

[2020-03-26 15:04] fengzhou-msft commented on #9831
Another way to customize extension install location is to add `dir` value under `extension` section in your config file (By default `~/.azure/config`, configurable by environment variable `AZURE_CONFIG_DIR`).  An example is:

[2020-03-26 15:33] alex-frankel commented on #11718
Here is the RPC for ARM PUTs: https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md#put-resource

It's supposed to overwrite by design because ARM does not distinguish between an update or create. However, certain RP teams have chosen to treat PUTs on existing resources as a PATCH. That's why I recommend bringing in someone from the Web RP.

[2020-03-26 15:58] darrenhull commented on #6545
Just in case it helps, I got this error when the appservice plan didnt exist.

[2020-03-26 16:30] pascencio commented on #12750
Hi, I have the same issue. The weird thing happens when sign out of the azure portal, then I execute `az login`, write my credentials and proceed with the login and it's fail again.

This happens even if I already logged or not.

![azure_error](https://user-images.githubusercontent.com/9783678/77670604-346a8e80-6f65-11ea-8b1a-90d3e2c1ee0b.png)

This is the output from my terminal:
[code]

Thanks i

[2020-03-26 18:05] ElleTojaroon opened #12760 "CLI add SSL binding command does not pass right payload"
**Describe the bug**
command: **az webapp config ssl bind --certificate-thumbprint 6a436bd2eb1ba32ca31d0c0253790dbf4ea86b34 --ssl-type SNI --name bioticdr --resource-group rg-p02-prd-bioticdr-01 --slot dr --debug --verbose**

ICM: [Incident 181031414 : WA-WebSites:ANTDOMCERT ARR - Rabobank | Not able to bind a certificate using AZ CLI 'webapp config ssl bind' in an ASE even if the certificate is u

[2020-03-26 18:14] ajay15283 opened #12761 "Enable Azure update management for a VM"
Hello,

Azure CLI to deploy the Log Analytics Agent VM extension to an existing virtual machine is not enabling the azure update management so everytime after installation we have to enable in portal

az vm extension set \
  --resource-group myResourceGroup \
  --vm-name myVM \
  --name OmsAgentForLinux \
  --publisher Microsoft.EnterpriseCloud.Monitoring \
  --version 1.10.1 --protected-settings

[2020-03-26 18:24] anthonychu commented on #12710
Looks like the app was still restarting after changing the app setting when you started the deployment command. Can you either wait until the restart completes or change the setting after deployment is complete?

[2020-03-26 18:24] ajklotz commented on #11718
I'm observing back and forth conversation. Can you define "RP"? Thanks

[2020-03-26 18:40] rohank-proarch commented on #12710
Even if I update the appsettings later after deployment it fails with same error. It started to fail after azure cli was updated to latest version on azure DevOps hosted agent

[2020-03-26 18:40] alex-frankel commented on #11718
Resource Provider - the first part of the resourceType (e.g. Web, Compute, Sql, etc.).

[2020-03-26 20:13] paulanguiano commented on #11369
We fall back on Azure Resource Graph to make up for many of these shortcomings:

`az graph query -q 'resourcecontainers | where type == "microsoft.resources/subscriptions" | where properties.state != "Disabled" | project subscriptionId, name, properties.subscriptionPolicies.quotaId'`

The so-called quotaId isn't the same text as the OfferID, but can be mapped directly to it.

[2020-03-26 20:37] giorni commented on #12013
Yes. `az network public-ip list` is returning an empty array, which I discovered due to one missing permission. What happens is that after returning the empty array when running `az vm list-ip-addresses` it tries to access builds a dict and tries to access it, breaking. It probably had the right permission to list NIC ip configurations, which are then used to make this access.

At this method:
[co

[2020-03-26 20:46] RogerBestMsft opened #12762 "Azure Container Instance to download blob from storage"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I have a bash script that logs in using a User assigned identity that has access to the storage and runs the download-batch which fails

**Command Name**
`az storage blob download-batch`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they

[2020-03-26 20:57] nsavelyeva commented on #9831
@fengzhou-msft
Thank you for your reply.
I double-checked the 1st way (with environment variable) and also the alternative one (with the configuration file) - I confirm both are working and perfectly meet my need.
In my case I made a mistake in the very beginning when setting the environment variable. Sorry about that.

[2020-03-26 22:58] jrmilholland opened #12763 "Attempting to add application-gatewate to a waf-policy"
## Describe the bug
Command executes without errors, but doesn't actually update anything. Value for applicationGateways still is null.
Used syntax from:
https://github.com/Azure/azure-cli/issues/10011#issuecomment-520281381

**Command Name**
`az network application-gateway waf-policy update`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redact

[2020-03-26 23:21] yonzhan commented on #12760
webapp

[2020-03-26 23:21] yonzhan commented on #12761
@qwordy please take a look

[2020-03-27 01:44] zhoxing-ms commented on #12538
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-03-27 01:44] #12538 closed

[2020-03-27 01:46] zhoxing-ms commented on #12463
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-03-27 01:46] #12463 closed

[2020-03-27 01:48] zhoxing-ms commented on #12505
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-03-27 01:48] #12505 closed

[2020-03-27 01:50] qwordy commented on #12762
@Juliehzl

[2020-03-27 01:50] qwordy commented on #12763
@MyronFanQiu

[2020-03-27 01:53] MyronFanQiu commented on #12763
@haroldrandom Could you please take a look?

[2020-03-27 01:54] para0056 commented on #10772
Any updates as to when this will be resolved?
Thanks

[2020-03-27 02:33] yonzhan commented on #12762
add to S169

[2020-03-27 03:03] yonzhan commented on #12763
add to S169

[2020-03-27 03:07] qwordy commented on #11909
In your commands, the disk and snapshot are in same location.
The equivalent CLI commands of powershell commands you provided are
[code]
It succeeds.
And if I change
[code]
into
[code]
I get the same error `Resource myDisk is not found`.
Add a service attention to confirm with service team if it is possible to create a snapshot from a disk in different location.

[2020-03-27 03:26] qwordy commented on #12751
Is there any existing resource in the resource group? And can you add `--debug` to your command and post the output here?

[2020-03-27 06:51] #11901 closed

[2020-03-27 07:41] #8489 closed

[2020-03-27 07:42] bim-msft commented on #12531
Closed the issue due to long time inactive.

[2020-03-27 07:42] #12531 closed

[2020-03-27 08:19] yonzhan commented on #10772
add to S168

[2020-03-27 09:10] #11651 closed

[2020-03-27 09:51] ellieCallcutART commented on #11113
I have a similar problem. I'm trying to do a POST request to a website with a valid SSL Certificate. When I run it I get:

Unverified HTTPS request is being made to host '*'. Adding certificate verification is strongly advised

When I add `verify=true` during `create session ` I get a new error:

connection broken by 'SSLError(SSLError("bad handshake: Error([('SSL routines', 'tls_process_server_ce

[2020-03-27 10:00] yonzhan commented on #11113
add to S169

[2020-03-27 11:48] tstibbs opened #12766 "Ability to set blob tier directly on upload"
**Is your feature request related to a problem? Please describe.**
When uploading to archive storage, you have to first upload to standard storage, then move it to archive. Functionally, this works fine, but you pay for the initial write to standard storage and then pay to move to archive.

**Describe the solution you'd like**
It would be better if you could upload directly to archive storage, and

[2020-03-27 12:18] yonzhan commented on #12766
add to S169

[2020-03-27 13:08] jiasli commented on #12561
@x10an14, according  to the log provided at https://github.com/Azure/azure-cli/issues/7957#issuecomment-598075136, the response from AAD server is:

[code]

The last digit `6` in `2022-03-12T07:50:52.4637406Z` and `2020-03-12T07:50:52.4637406Z` is exceeding Python's `datetime` limit which is microsecond, and causes Python to truncate it.

This credential was created by Azure Portal with nanosecond

[2020-03-27 13:32] kamranayub commented on #7431
Sorry, here's a clear example. You can do this in PowerShell, you can't do this easily in `az cli`

https://github.com/kamranayub/pluralsight-azure-cors-storage/blob/master/Module%203/demo-azure-powershell/03-Set-Cors-Rules.ps1

This is what I had to present in my course:

https://github.com/kamranayub/pluralsight-azure-cors-storage/blob/master/Module%203/demo-azure-cli/03-add-cors-rules.sh

If yo

[2020-03-27 13:40] sixeyed commented on #12577
Hi @ankitkumarr - do you have an ETA for the fix on this? I have a very smooth CI/CD pipeline which automates a ton of stuff, except for creating the function app which I need to do manually. It would be great to close that off.

[2020-03-27 13:48] egeyer opened #12767 "'az ad group member add' does not return any result"
**Is your feature request related to a problem? Please describe.**
Most az cli commands that I've used so far return some sort of json object on success.  I've been using the presence of a valid json object to check for successful completion of the command in my automation scripts.  However, `az ad group member add` does not return anything even when the command is successful.

**Describe the solu

[2020-03-27 14:37] x10an14 commented on #12561
@jiasli Hi!

This is not an acceptable solution for us, since in this particular instance that first credential was created along with the Service Principal whose credential(s) this bug-report describes.
The reason why that is not acceptable for us, is that this credential you suggest we delete is the credential our https://dev.azure.com utilizes to modify/read our Azure Subscription's.

With my c

[2020-03-27 15:22] invidian commented on #9427
I hit this issue many times as well. It's very annoying.

[2020-03-27 16:08] 01011011 commented on #12470
Thanks Alfredo.  I will check it out.

[2020-03-27 16:56] EarthNotMars commented on #5341
I had the same issue, then I tried to login from Shell console locally from VM and it was successful.
Steps :
1.docker login <loginServer>
2.Visit locally your <ResourcesGroup> from Azure Manager and find passwords, where you'll see current login and pass
3. finish your login with login and password data
To pushing image to Registry use CLI

[2020-03-27 17:44] Karishma-Tiwari-MSFT commented on #12531
Thanks @bim-msft for detailed investigation and updating the CLI. Appreciate your help on this. I will share this feedback with the product team.

[2020-03-27 18:06] abhiramani-iptiq commented on #11934
@axthosarouris  can you pls give full command for update.i am facing same issue

[2020-03-27 18:51] abhiramani-iptiq opened #12768 "SQL Server Update of AD Admin not working using Azure Cli"
**Describe the bug**
Both of below commands does not work to update AD Admin on SQL Server.keep getting error
az sql server ad-admin update: error: the following arguments are required: --parameters
usage: az sql server ad-admin update [-h] [--verbose] [--debug]
                                     [--output {json,jsonc,table,tsv,yaml,yamlc,none}]
                                     [--query JMES

[2020-03-27 20:17] MichaelSEA opened #12769 "Install of azure-cli on MacOS 10.15.3 results in InsecureRequestWarning from /usr/local/Cellar/azure-cli/2.2.0_1/libexec/lib/python3.8/site-packages/urllib3/connectionpool.py"
**Describe the bug**
running `az` commands such as `az login` *work*, but every command raises several InsecureRequestWarmings as follows:

[code]

**To Reproduce**
brew update && brew install azure-cli
az login

*NOTE*: My system python is 3.6.8, this is using python 3.8 requests.  Maybe I need to install azure-cli for python 3.6?  Which version is that?

**Expected behavior**
I expect no request

[2020-03-27 20:21] panchagnula commented on #12613
Can you run the command with --debug with the same scenario & check the error message is more informative. Unfortunately this is a by design issue where the API returns a default error message and to see the internal error message you need use the --debug flag.

[2020-03-27 20:24] panchagnula commented on #12602
Thanks for reporting due to limitation of not supporting windows and linux apps on same ASP, we make this check so that folks who are not aware of the limitations are not confused by this. However, I can see how this can still be confusing/ incorrect. Will discuss this with team further.

[2020-03-27 20:26] panchagnula commented on #12507
az webapp deployment slot create - doesn't copy the Settings from the PROD application by default. Have you tried this command with the parameter  [--configuration-source]. Thanks!

[2020-03-27 20:37] bmc-msft opened #12770 "functionapp deployment user show fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment user show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment user show`

## Expected Be

[2020-03-27 20:44] panchagnula commented on #12508
CLI uses the API to verify the list of supported runtimes before an app is created currently the API has a known issue where dotnetcore is not listed as a supported runtime for windows you can verify this by running the command az webapp list-runtimes - once the API fix rolls out this will automatically work. Closing this since this is not a CLI issue.

[2020-03-27 20:44] #12508 closed

[2020-03-27 20:45] avoidik commented on #9399
after https://github.com/Azure/azure-cli/pull/11665 has been merged it is possible to install latest azure-cli in cygwin

[2020-03-27 20:57] ElvenSpellmaker commented on #9399
That's great news, let's hope it makes a release soon! @avoidik Could you update this issue when it makes a release please?

[2020-03-27 21:10] panchagnula commented on #12502
closing due to lack of response

[2020-03-27 21:10] #12502 closed

[2020-03-27 21:12] panchagnula commented on #12427
Don't have an ETA at this point since portal has been the way to achieve this.

[2020-03-27 21:15] panchagnula commented on #12415
Once API updates to make this idempotent CLI will support it.

[2020-03-27 21:15] #12415 closed

[2020-03-27 21:21] panchagnula commented on #12334
Are you saying this is a bug in Powershell and not the command. You can use a non PowerShell command (Ex. CommandPrompt in Windows , Terminal in Mac) and the current syntax will work.  We might change the runtime syntax to not use | in the future, which will not be a problem for Powershell.

[2020-03-27 21:21] #12334 closed

[2020-03-27 21:25] avoidik commented on #9399
@ElvenSpellmaker it is already in there

[code]

[2020-03-27 21:27] panchagnula commented on #12316
The error here as per the stack trace is the Python Zip library is having issues unable to access to the folder or permissions to write. Not specific to CLI or the command can you make sure you have the right permissions .

[2020-03-27 21:27] #12316 closed

[2020-03-27 21:31] ElvenSpellmaker commented on #9399
Thanks!

[2020-03-27 21:31] panchagnula commented on #12141
@btardif can you check with Patrick on this since he is owner of this. Thanks.

[2020-03-27 21:32] panchagnula commented on #12125
closing due to lack of response.

[2020-03-27 21:32] #12125 closed

[2020-03-27 21:34] panchagnula commented on #12090
@Kotasudhakarreddy can you look at this issue?

[2020-03-27 21:35] panchagnula commented on #12094
please re-open if this is still an open issue

[2020-03-27 21:35] #12094 closed

[2020-03-27 21:35] panchagnula commented on #12008
Closing due to lack of response on this.

[2020-03-27 21:35] #12008 closed

[2020-03-27 21:36] panchagnula commented on #11970
Not a CLI issue but an API issue and we are aware of this. @btardif FYI.

[2020-03-27 21:36] #11970 closed

[2020-03-27 21:37] panchagnula commented on #11971
@Kotasudhakarreddy can you take a look at this issue please. Thank you.

[2020-03-27 21:52] panchagnula commented on #11939
Closing this due to lack of response If this is still an issue with the latest version of CLI please reactivate. Thanks!

[2020-03-27 21:52] #11939 closed

[2020-03-27 21:55] panchagnula commented on #11937
@SidShetye if you  have a more recent repro for this can you send me an email at sisirap@microsoft.com with the full debug log - I need the name of the app & the timestamp in UTC so that I can check the logs on our end & contact Kudu folks. Thanks!

[2020-03-27 21:55] pragnagopa opened #12773 "[Azure Functions] Update linuxFxVersion for dotnet function apps"
cc @gzuber @ankitkumarr @divyagandhii
- For V3 linux function apps - set linuxFxVersion to `dotnet|3.1`
- For V2 linux function apps - set linuxFxVersion to `dotnet|2.2`

[2020-03-27 21:56] tbennett0 commented on #10467
Any update on this? Thanks!

[2020-03-27 21:57] panchagnula commented on #11867
@madsd FYI.

[2020-03-27 21:58] panchagnula commented on #11869
closing due to lack of response.

[2020-03-27 21:58] #11869 closed

[2020-03-27 22:00] panchagnula commented on #11454
Moving to S169

[2020-03-27 22:02] panchagnula commented on #6638
Moving to S169

[2020-03-27 23:41] colemickens opened #12775 "az vm create: add flag for "requireGuestProvisionSignal" api field"
**Is your feature request related to a problem? Please describe.**
Yes. I would like to boot VMs without the agent, but I do want to boot them through the CLI.

**Describe the solution you'd like**
Expose a `az vm create` flag that corresponds to the `requireGuestProvisionSignal` that is part of hte VM Create REST API.

Ex:
[code]

**Describe alternatives you've considered**
I can't come up with a

[2020-03-28 00:41] yonzhan commented on #12767
add to S169

[2020-03-28 00:53] yonzhan commented on #12768
sql

[2020-03-28 00:54] yonzhan commented on #12769
@fengzhou-msft please take a look

[2020-03-28 00:56] yonzhan commented on #12770
functionapp

[2020-03-28 01:34] yonzhan commented on #12773
Functions

[2020-03-28 01:38] yonzhan commented on #10467
add to S168

[2020-03-28 01:39] yonzhan commented on #12775
@qwordy please take a look.

[2020-03-28 02:39] yonzhan commented on #11632
any feedback for this issue?

[2020-03-28 02:46] #11788 closed

[2020-03-28 02:56] #12036 closed

[2020-03-28 02:57] yonzhan commented on #12592
@sudlo any update?

[2020-03-28 02:59] yonzhan commented on #12389
@arnoldna any update?

[2020-03-28 03:00] yonzhan commented on #12471
@hiteshmadan any update?

[2020-03-28 03:01] #12472 closed

[2020-03-28 03:02] #12298 closed

[2020-03-28 03:07] #12066 closed

[2020-03-28 03:07] #12268 closed

[2020-03-28 03:09] #12009 closed

[2020-03-28 03:10] yonzhan commented on #11942
any update for this issue?

[2020-03-28 03:25] #10579 closed

[2020-03-28 03:25] #12137 closed

[2020-03-28 03:27] #12434 closed

[2020-03-28 03:30] #11737 closed

[2020-03-28 03:30] drdamour commented on #9250
@yonzhan why did this get closed?  regardless of the adding groups, it still be good to add users without having to use az rest

[2020-03-28 03:51] yonzhan commented on #9250
@drdamour Is it a requirement for CLI or AAD team?

[2020-03-28 03:52] drdamour commented on #9250
cli

[2020-03-28 03:53] yonzhan commented on #9250
I will discuss with @jiasli about this and keep this issue reopen.

[2020-03-28 04:05] yonzhan commented on #10537
add to S168

[2020-03-28 04:07] yonzhan commented on #10495
move to S168

[2020-03-28 04:08] #9227 closed

[2020-03-28 04:09] #11643 closed

[2020-03-28 04:13] #12447 closed

[2020-03-28 04:15] #12496 closed

[2020-03-28 04:16] yonzhan commented on #11137
move to S168

[2020-03-28 04:16] yonzhan commented on #10230
move to S168

[2020-03-28 04:32] #12500 closed

[2020-03-28 04:33] yonzhan commented on #11519
move to S168

[2020-03-28 04:33] yonzhan commented on #11340
move to S168

[2020-03-28 04:34] yonzhan commented on #5598
move to S168

[2020-03-28 04:35] yonzhan commented on #10229
move to S168

[2020-03-28 04:51] #9522 closed

[2020-03-28 08:00] #12039 closed

[2020-03-28 08:20] yonzhan commented on #12093
Hi @saaj562, any update?

[2020-03-28 08:29] yonzhan commented on #12130
Hi @rosanch, any update?

[2020-03-28 08:46] JonasJurczok commented on #12602
Hey,
thanks for looking into it.

As I said my code references are a wild guess and most probably not connected to the problem.

My main issue is that I cannot name resource groups via the command line :)

Have a great weekend and stay healthy.

[2020-03-28 09:47] tamirkamara commented on #12177
Hi,
@manoj-murali, @manojmu I believe this is (yet another) breaking change in the snapshot command the image-copy extension is using. It should be fixed when version 0.2.4 is merged (please watch the above PR).

[2020-03-28 11:24] #12214 closed

[2020-03-28 11:31] yonzhan commented on #12231
add to S169

[2020-03-28 11:31] geekzter commented on #12761
You can do this with PowerShell Az: `New-AzAutomationSoftwareUpdateConfiguration`, but I don't think there is an azure cli equivalent to that.

[2020-03-28 11:54] Kotasudhakarreddy commented on #11698
Looking in to it.

[2020-03-28 11:54] Kotasudhakarreddy commented on #11971
will look in to it.

[2020-03-28 11:55] Kotasudhakarreddy commented on #12090
sure. will look in to it @panchagnula

[2020-03-28 19:11] jaredmoo commented on #12768
Fixed by #12541. Thanks!

[2020-03-28 19:11] #12768 closed

[2020-03-29 10:43] atlemagnussen commented on #12135
Really, something is default by design?
If something is default, it sounds like you can override it. So can you at least tell us **IF** it is at all possible to use `az webapp up` for app services for Linux?
And if yes; how?

[2020-03-29 20:30] colemickens commented on #10192
Any update on this? Is `azcopy` still strangely required for this one blob upload scenario?