[2019-09-03 01:42] #7197 closed

[2019-09-03 01:44] Juliehzl commented on #9599
@raviteja22 Feel free to reopen it if not fixed.

[2019-09-03 01:46] Juliehzl commented on #9599
Reopen it for my triage later

[2019-09-03 01:58] #10244 closed

[2019-09-03 02:09] jiasli commented on #10394
This issue has been fixed in [2.0.71](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/HISTORY.rst#2071). Please install the latest version.

[2019-09-03 02:09] #10394 closed

[2019-09-03 06:05] MyronFanQiu commented on #8361
No response from the service team. I cannot test the code. Move it to the next sprint.

[2019-09-03 06:13] MyronFanQiu commented on #9236
@Nilambari Hello. Could you please take a look at this issue?

[2019-09-03 06:28] qwordy commented on #10124
Next time, provide a pull request link so that we can see the swagger changes.
Thank you!

[2019-09-03 06:28] qwordy commented on #10136
Next time, provide a pull request link so that we can see the swagger changes.
Thank you!

[2019-09-03 06:52] MyronFanQiu commented on #9934
@bulkware Hello. From Azure CLI perspective, we do not validate the value of the `filter`. Based on my understanding, the dimension key should be part of the metrics. Here is a doc. https://docs.microsoft.com/en-us/azure/azure-monitor/platform/metrics-custom-overview#dimension-keys. So, maybe we cannot do this filter. Anyway, let's wait for the response from the service team.

[2019-09-03 07:06] #8132 closed

[2019-09-03 07:09] Juliehzl commented on #10228
@zhusijia26 This error occurs because file share service don't support token_credential like blob service https://github.com/Azure/azure-storage-python/blob/54e60c8c029f41d2573233a70021c4abf77ce67c/azure-storage-file/azure/storage/file/fileservice.py#L169.

[2019-09-03 08:29] qwordy commented on #10136
And what's the effect to Azure CLI? We have `show` and `get-instance-view`.

[2019-09-03 08:49] qwordy commented on #10314
Thank you for your feedback. The bug has been confirmed. The doc text format has problems. We are fixing it.

[2019-09-03 09:09] Carlovo opened #10400 ""az vm run-command invoke" cannot pass parameters to a Linux machine via a script file"
**Describe the bug**
"az vm run-command invoke" cannot pass parameters to a Linux machine via a script file.

**To Reproduce**
Make a file called script.sh containing:

[code]

Execute the script above on a VM with Azure CLI with a command that looks like this:
 `az vm run-command invoke --resource-group MyRG --name MyVM --command-id RunShellScript --scripts '@script.sh' --parameters bar`

If I lo

[2019-09-03 10:49] thelethalkind opened #10401 "az network vnet subnet list required parameters"
(--resource-group --vnet-name | --ids) are required parameters, but are marked as optional in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 385e420c-4bd0-3ddd-d9cd-a9a411ec1f7b
* Version Independent ID: 65172372-f485-3d2b-64aa-57c38ac11538
* Content: [az network vnet subnet](https://docs.microsoft.c

[2019-09-03 11:51] sahitkumarreddy commented on #8193
@akramwaseem
 az aks show --name yourClusterName --resource-group yourResourceGroup --query agentPoolProfiles[0].count

This command will print the nodes

[2019-09-03 14:52] tomfaltesek commented on #10382
Thanks for the reply, @Juliehzl. The `az storage remove` command with the `--exclude` flag looks like it should work fine. Although, that command was added in version 2.0.70 of the Azure CLI and my Azure DevOps build agent currently has version 2.0.68.

Fortunately, I can use [the answer to this SO question](https://stackoverflow.com/questions/57713726/azure-cli-storage-blob-delete-batch-to-delete

[2019-09-03 14:54] bodaduk opened #10402 "Exception on launch of az interactive and then no command completion or suggestion"
**Describe the bug**
Exception on launch of az interactive and then no command completion or suggestion

**To Reproduce**
Install Azure CLI 2.0.72
run 'az interactive'

**Expected behavior**
No errors or exceptions on launching  az interactive and then command completion / suggestion

**Environment summary**
Install Method (MSI) on clean 1903 Windows 10 Ent run in PowerShell

azure-cli

[2019-09-03 15:00] sam-cogan opened #10403 "Support az ad app permission admin-consent being called by a service principal"
**Is your feature request related to a problem? Please describe.**
Based on the discussion [here](https://github.com/Azure/azure-cli/issues/8912) I understand it is not possible to have a service principal run the az ad app permission admin-consent CLI command. This is a major blocker to being able to fully automate AKS deployments that use Azure AD integration, as the apps you create for this nee

[2019-09-03 15:07] bodaduk commented on #10402
Apologies, here is the exception:

PS C:\Users\candidate> az interactive
This command is in preview. It may be changed/removed in a future release.
az>> Exception in thread Thread-1:
Traceback (most recent call last):
  File "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\lib\threading.py", line 916, in _bootstrap_inner
    self.run()
  File "C:\Users\candidate\.azure\cliextensions\interactive\a

[2019-09-03 15:21] joaopgrassi commented on #8985
How come this is not documented? I just spent almost ah hour bashing my head because:

- I don't know the JSON format expected for `@settings.json`
- Calling `az webapp config appsettings set -g MyResourceGroup -n MyUniqueApp --settings mySetting=value @moreSettings.json` in Azure CLI (poweshell) throws an error. The exact command which is in the docs

I had to come to this ticket to:

- Know that

[2019-09-03 15:23] Carlovo commented on #10400
Well, it turns out this actually works if you omit the:

[code]

I find this behavior strange still and it's not documented, but I feel it's not really a bug.

[2019-09-03 15:33] hcyang commented on #9954
@stevengum : Any updates?

[2019-09-03 16:11] stevengum commented on #9954
It's in the Swagger spec and in the currently generated code in the azure-mgmt-botservice SDK, so I can add this feature in. 👍 I'll add the feature for [Sprint 74](https://github.com/Azure/azure-cli/milestone/73).

[2019-09-03 16:18] asheniam commented on #8570
Thanks for sharing this feedback.  We plan to rollout an improvement to the error message by early October.

[2019-09-03 17:44] vgorbenko commented on #9934
You are seeing a limited set of dimensions because the underlying metrics API only works with standard pre-aggregated metrics. These metrics implement fewer dimensions comparing to log-based metrics. The https://docs.microsoft.com/azure/azure-monitor/app/pre-aggregated-metrics-log-metrics explains the difference between log-based and pre-aggregated standard AppInsights metrics. Use https://dev.app

[2019-09-03 18:28] adewaleo commented on #4869
@daxianji007 I see, thanks for this. What PR was this?

[2019-09-03 18:32] marcelboccato commented on #10402
Same issue here...

[2019-09-03 18:42] DebashishSarkar opened #10404 "Get-AzSqlServer says Resource group not found while az group shows it does"
**Describe the bug**
_Get-AzSqlServer_ says Resource group not found while _az group exists_ shows it does.
I was trying to get details of the sql servers in a particular resource group and saw this error message. After connecting the specific account of interest and then checking if resource-group exists or not through az group exists command, I found it is returning true.

**To Reproduce**
- Use

[2019-09-03 19:21] jaysterp commented on #10359
@BenjaminHerbert the `--assign-identity` flag is used to attach a managed identity to your ACR task. This managed identity can then be used to grant that task access to other Azure resources (ie. Azure Key Vault, another ACR). `--assign-identity` alone will provision a system-assigned identity for your task, while `--assign-identity <resourceID>` will assign an existing Azure Identity resource to

[2019-09-03 19:24] jaysterp commented on #10359
@BenjaminHerbert also thank you for the feedback. We will improve our CLI reference docs to clarify how tasks use managed identity to avoid further confusion.

[2019-09-03 20:27] hkiang01 opened #10405 "NO_PUBKEY - Unable to install az on Ubuntu 18.04"
I'm trying to install using the instructions posted here: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest

However, I get something like the following:

[code]

I'm running Ubuntu 18.04

Here's a similar issue: https://github.com/Azure/azure-cli/issues/6383
@dtzar was able to update the key last time. The fix here is probably similar

[2019-09-03 20:40] hkiang01 commented on #10405
This is an internal issue at my work, closing

[2019-09-03 20:40] #10405 closed

[2019-09-03 22:17] djyou commented on #10350
I think `-o json` only applies to stdout, not stderr, while this is an error case with a user-friendly message.

[2019-09-03 23:17] avtakkar commented on #7814
@djyou

[2019-09-04 01:13] richardgragasin opened #10408 "Could not generate kubeconfig file"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials -g {} -n {} --file {}`

## Expected Behavi

[2019-09-04 01:31] northtyphoon commented on #10359
Fixed by PR #10406

[2019-09-04 01:31] #10359 closed

[2019-09-04 02:08] adewaleo commented on #10350
Agreed, errors, warnings, etc are written to stderr while command output it written to stdout. The CLI does not apply output formatting to errors and other messages (debug, info, warning) logged to stderr.

[code]

Is there a reason you would like the error message to be formatted in json?

If the reason is to programmatically detect errors, so we can better understand?

If you are trying to deter

[2019-09-04 02:24] metrue opened #10409 "`backup now` command always got invalid item name."
[code]

**Describe the bug**

Always got error
[code]

But actually the item name is got from `az list` command, it should not be wrong.
[code]
Then I tried to run `backup now` with
[code]

**To Reproduce**
Above.

**Expected behavior**
The item name is got from `az list` command, it cannot be incorrect.

**Environment summary**
[code]
**Additional context**
Add any other context about the problem

[2019-09-04 02:25] Juliehzl commented on #10228
Blocked by service side. To not confuse customers, I plan to remove --auth-mode now for `az storage remove` and add it when feature is ready.

[2019-09-04 02:25] metrue commented on #9135
@pvrk

Just open a related ticket with detail description. https://github.com/Azure/azure-cli/issues/10409

[2019-09-04 02:31] Juliehzl commented on #4869
@nbering It is fixed now. Thanks for your feedback. And @daxianji007 thanks a lot for quick action. Also thanks @adewaleo for keeping track of this issue.

[2019-09-04 02:31] #4869 closed

[2019-09-04 02:32] MyronFanQiu commented on #10401
@thelethalkind Thanks. I will fix it soon.

[2019-09-04 02:35] Juliehzl commented on #10316
@asoccer It is already fixed. Thanks for you feedback!

[2019-09-04 02:35] #10316 closed

[2019-09-04 02:40] mingxhzhu commented on #9066
Still failing for me. Company intercepts SSL certificate, how can I turn verification off?

[2019-09-04 02:53] haibei opened #10411 "Failure on "az aks install-cli""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2019-09-04 03:08] qwordy commented on #10314
Fixed.
https://docs.microsoft.com/en-us/cli/azure/disk?view=azure-cli-latest
https://docs.microsoft.com/en-us/cli/azure/vm/disk?view=azure-cli-latest
https://docs.microsoft.com/en-us/cli/azure/vm/unmanaged-disk?view=azure-cli-latest

[2019-09-04 03:09] #10314 closed

[2019-09-04 03:16] #8244 closed

[2019-09-04 03:16] #10072 closed

[2019-09-04 03:16] #10073 closed

[2019-09-04 03:17] #10339 closed

[2019-09-04 03:24] #10372 closed

[2019-09-04 03:24] #10367 closed

[2019-09-04 03:34] jiasli opened #10413 "`azdev test --live` fails with azure-mgmt-sql==0.13.0"
`azdev test --live` fails with `azure-mgmt-sql==0.13.0`. Need to update `setup.py`, fix it and re-record.

[2019-09-04 03:36] mingxhzhu commented on #6651
This is not resolved.

[2019-09-04 05:06] jseely commented on #4611
This is for a government client. They have their environment locked down. I would assume that would mean they would not have access to Azure Public Cloud resources either. I can try to get more details...

Is it not possible to have the CLI pull the data required from the Resource Provider?

[2019-09-04 05:26] yugangw-msft commented on #4611
@jseely
This doc contains the alias for a few commonly used images.  It is co-maintained by CLI and Compute service team, you can bypass the query by providing the urn. here are the examples to pull from the RP
[code]

[2019-09-04 05:43] yugangw-msft commented on #10369
please reactivate if @jiasli's suggestion still doesn't work

[2019-09-04 05:43] #10369 closed

[2019-09-04 06:07] NikunjPatelv24 opened #10414 "az dls join command not work properly."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az dls fs join`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az dls fs join --destination-path {} --source-paths {} {} --account {} --

[2019-09-04 06:08] yonzhan commented on #10195
resolved

[2019-09-04 06:08] #10195 closed

[2019-09-04 06:08] NikunjPatelv24 commented on #10414
When I was join two files into destination path then destination path file was deleted by join command. And because of this it raise File not found exception.

[2019-09-04 06:19] veleek commented on #10024
Was finally able to confirm that this is all working properly now.  Cut 2 minutes off of my build times by being able to switch to Linux machines! :)

[2019-09-04 06:40] dragonsappire opened #10416 "az login failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2019-09-04 06:52] svaenn opened #10417 "Enable creation of Azure app Push Notifications with az monitor action-group create"
When I create action groups with az cli I can not configure Azure app Push Notifications. The help only shows actions for Email, SMS and Webhook:

Actions Arguments
    --action -a                    : Add receivers to the action group during the creation.
        Usage:   --action TYPE NAME [ARG ...]
        Email:   --action email bob bob@contoso.com
        SMS:     --action sms charli 1 555123

[2019-09-04 07:40] #9404 closed

[2019-09-04 08:24] qwordy commented on #10400
I tried and I got the same result. It's quite interesting.
text.txt has a empty line after foo. So `echo $1` is executed. But $1 is empty.

[2019-09-04 08:35] qwordy commented on #9937
Similar to https://github.com/Azure/azure-cli/issues/10400

[2019-09-04 08:44] msbhanuprakash commented on #8685
do we have az postgres add_schema  with options

[2019-09-04 08:48] msbhanuprakash opened #10419 "AZ postgres support for schema creation"
**Resource Provider**
What is the Azure resource provider your feature is part of?  Azure DB for postgresql

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.

I am trying to automate creation of postgresql server from azure portal for the project and create database and schema inside th

[2019-09-04 09:15] jiasli commented on #10199
We have fixed Cloud Shell to accept both `https://management.azure.com/` and
`https://management.azure.com`. Please try again.

[2019-09-04 10:14] jiasli commented on #10112
Could you run again to see if it is working? If not, please run with `--debug` and share the output.

[2019-09-04 10:14] jiasli commented on #10212
Could you run again to see if it is working? If not, please run with `--debug` and share the output.

[2019-09-04 10:15] jiasli commented on #9345
Could you run again to see if it is working? If not, please run with `--debug` and share the output.

[2019-09-04 10:40] richeney opened #10420 "Add geopolitical zone to `az account list-locations`"
Please add the geopolitical zone as an additional field in the output json.

This would allow JMESPATH filtering on all regions in, say, europe.

E.g.

`az account list-locations --query "[?geo == 'europe']"`

[2019-09-04 10:42] richeney opened #10421 "Add availabilityZone boolean to `az account list-locations`"
Please add the availability zone support as an additional field in the output json.

This would allow JMESPATH filtering on all regions that support availability zones.

E.g.

`az account list-locations --query "[?availabilityZone == true]"`

[2019-09-04 10:44] qwordy commented on #10400
I find that the request body is `{"commandId": "RunShellScript", "script": ["#!/bin/bash\r\ncd /home && echo \"foo\" > test.txt && echo $1 >> test.txt"], "parameters": [{"name": "arg1", "value": "bar"}]}`
So CLI expands the file to string, then send it to server.

[2019-09-04 10:46] psyrus commented on #10403
Agreed, this single limitation is stopping our automation of the advanced networking features in AKS cluster deployments through automated pipelines... it always has to have a human in the loop for just this one step.

[2019-09-04 11:30] Carlovo commented on #10400
Ah nice to see that!

Probably the Az command uses a different bash than the default #!/bin/bash and then loses it's environment variables when switching. If this is so, that's not wrong, but it should at least be documented somewhere. Starting bash scripts with a Shebang is so natural, it should be mentioned somewhere if this should not be done with the Azure CLI.

[2019-09-04 11:37] #10228 closed

[2019-09-04 13:11] vitaly-livshits commented on #10212
It's working in Cloud Shell now. Thanks!

[2019-09-04 13:42] a3nick commented on #10188
I'm sorry for the late response but i was out-of-office. I don't think that the problem is due by a poor connection as i used the same connection with my Windows 10 machine which works well, the only difference is that the Windows Server is running as a virtual machine on an ESXi instance.
Tomorrow i'll try to upload the files with the command you suggest and i'll give you a feedback with the deta

[2019-09-04 13:56] nbering commented on #4869
Confirmed fixed. Good word!

![image](https://user-images.githubusercontent.com/4421371/64261214-2b976a00-cefa-11e9-8e2d-b606fa65fb8a.png)

[2019-09-04 13:56] tehyatt opened #10422 "az apim list fails with ModuleNotFoundError"
## Describe the bug
az apim list fails with ModuleNotFoundError using version 2.0.72 of the CLI, which I installed yesterday.

**Command Name**
`az apim list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

-No prerequisites_
- `az apim list`

## Expected Behavior
The CLI would list the

[2019-09-04 14:44] hindocha85 opened #10423 "DNS import"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network dns zone import`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network dns zone import -g {} -n {} -f {}`

## Expected Be

[2019-09-04 15:56] anavinahar commented on #8933
Basic zonal is not supported. We are working to block this in the few regions that remain.

[2019-09-04 16:26] rachel-msft commented on #8685
To create a schema, you would sign in to the server and issue a Postgres CREATE SCHEMA command

[2019-09-04 16:47] davidtom commented on #7925
Thanks so much for the documentation and links @jannikbuschke! I've upvoted the docs issue you linked - definitely agree it needs more visibility.

For the time being it seems that getting the guids from the manifest after creating the permissions in the UI is the best way to go about this, but I couldn't agree more that this is not at all how things should be done. Especially from the 2nd largest

[2019-09-04 18:10] adewaleo commented on #10400
@Carlovo The CLI does not interpret the script, it sends the contents of the script to the run-command service which interprets and executes what was sent by the CLI on the VM.

According to `az vm run-command show --command-id runshellscript -l westus`. The run-command service expects the script to be a list of lines. However when the CLI reads in the script using @{file} it passes a single line

[2019-09-04 19:00] akharit commented on #9729
Similar to issue https://github.com/Azure/azure-cli/issues/6406.
This seems to be by design.

[2019-09-04 19:02] akharit commented on #10118
I think this is trying to access gen2 account using gen1 commands?

This is not supported so will not work.

[2019-09-04 20:37] juliusl opened #10426 "az login broken on chrome, partially broken on edge"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When I try to do `az login` on my dev machine it will not succeed in Chrome. In edge I need to refresh the browser for the login process to finish. This was also broken 19 days ago so this time I tried and disabled all of my ad/tracker blocking extensions in chrome. However that didn't seem to help.

**Command

[2019-09-04 21:23] panchagnula commented on #1337
we will assign a dev to work on this once the backend work to support this is complete.

[2019-09-04 22:15] ajlam commented on #10218
@6heads  - I was using the Azure CLI Cloud Shell available in the Azure portal. I believe I was using 2.0.71 as well.

Sorry for the delay. Myself and my teammate have just returned from vacation, so I am following up with the team now.

[2019-09-04 23:35] megan-beatty opened #10430 "xxx"

[2019-09-04 23:51] szimmerMicrosoft commented on #10136
I am unsure how the CLI works with respect to show and get-instance-view.

The new properties should be visible. Will updating the swagger import not just automatically display the new properties?

Here is my pull request link:
https://github.com/Azure/azure-rest-api-specs/pull/6683

If you want us to include the pull request link in the future I would suggest that you ask for it in the issue crea

[2019-09-05 00:23] #10430 closed

[2019-09-05 01:34] jseely commented on #4611
@yugangw-msft in our usage the `--image` value that we provide is a Managed Image. Are you saying it shouldn't be looking up the `githubusercontent.com` content in this case?

[2019-09-05 01:45] yugangw-msft commented on #4611
No, it shouldn't be.
For managed images which were captured/built by customers, they have 2 kinds of residences:
1. As a standalone images, which can be retrieved through `az imge list`
2. In a shared image gallery which can be retrieved through  `az sig image-version list`

[2019-09-05 01:46] #10216 closed

[2019-09-05 01:46] #10248 closed

[2019-09-05 01:54] Geof23 opened #10431 "It looks like azcopy isn't supported with Azure managed disk exports -- something about list permissions? Who do I talk to about this?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage copy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage copy -s {}`

## Expected Behavior

## Environment Summary
[co

[2019-09-05 02:41] atimeless opened #10432 "az login --identity"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --identity`

## Expected Behavior

## Environment Summary
[code]
## Ad

[2019-09-05 03:00] atimeless commented on #10432
im so sorry， I forgot to switch the cloud area.

configure： az cloud set -n ChinaCloud

[2019-09-05 03:00] #10432 closed

[2019-09-05 03:26] yugangw-msft commented on #8912
CC @jiasli the new owner of CLI/Graph support

[2019-09-05 05:08] seanmck commented on #10355
Not able to repro with preview extension 0.4.13. Please reopen if you are still seeing this with the latest extension.

[2019-09-05 05:08] #10355 closed

[2019-09-05 05:23] seanmck commented on #10345
This was a temporary issue caused by shifting the dashboard to serve from an HTTPS endpoint (on port 8443) for RBAC clusters prior to the associated CLI changes going out. We've reverted the service side change for now until the updated CLI is released.

[2019-09-05 05:23] #10345 closed

[2019-09-05 05:27] jonasbutt commented on #10216
Thanks for fixing this :)

[2019-09-05 05:47] seanmck commented on #10321
Looks like a popup blocker stopping the ingress URL from being opened.

[2019-09-05 05:47] #10321 closed

[2019-09-05 06:24] Drewm3 commented on #8933
Thanks @anavinahar. Let me find the current owner of the Azure CLI VM quick-create functionality, and then assign this issue to them.

[2019-09-05 06:42] YuchenWell commented on #10392
It works now!

[2019-09-05 06:42] #10392 closed

[2019-09-05 07:55] #7649 closed

[2019-09-05 08:05] rgherta commented on #2680
I am sorry for the flashback but I am having issues passing --indexing-policy to cosmosdb as a string. I get all sorts of errors. I saw this statement
--settings @settings.json

But I do not understand how exactly should I use it... let's say I save my json to disk as "C:\path\my.json" . How exactly do I pass this file as parameter? If I put the part or the path as a string it simply fails at firs

[2019-09-05 08:19] rgherta opened #10434 "Updating Indexing Policy"
Regarding this line

"Indexing Policy, you can enter it as a string or as a file, e.g., --indexing-policy @policy-file.json)"

Please provide example. I tried updating the indexing policy without success. I gave json as string argument but it fails with all sort of parsing errors, also involving this '$v' workaround that you should recognize.

The proper way to update would be to save the policy o

[2019-09-05 08:52] rickardp opened #10435 "Azure command logging is leaking file handles"
## Describe the bug
When running the azure-cli from within Python and running commands in a loop, the azlogging.py seems to leak file handles.

## To Reproduce:
Run an 'az' command using the Python library in a loop.

## Expected Behavior
Files are deleted, file handles are closed. Disk space is reclaimed.

## Observed behavior

Files are deleted, but left open. `lsof` gives:

[code]

This causes

[2019-09-05 08:53] Sviatik commented on #10162
@sMiik
Yes, it works great for me.
Thanks a lot!

[2019-09-05 08:55] a3nick commented on #10188
Dear @Juliehzl, this is the output of the command with the `--debug` switch (i replaced the sensitive info with `file-name`, `storage-name` and `container-name`).

[code]

[2019-09-05 09:19] #9327 closed

[2019-09-05 10:17] miicahjardine commented on #9250
Yugangw-msft, I don't suppose you know the az rest command to remove a owner??

[2019-09-05 10:50] jiasli commented on #10426
Looks like Chrome is forcing traffic through HTTPS which Azure CLI doesn't support for `localhost` login (possibly enabled by some extensions). Please follow [this answer](https://stackoverflow.com/a/28586593/2199657) to check if `HSTS` is turned on for `localhost`.

[2019-09-05 11:43] kloeffler opened #10436 "az storage blob list not working properly within Azure environment"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob list`

**Errors:**
[code]

This command works fine from VMs outside of the Azure environment, but not within.
Roles are set properly, the same command will produce valid output.

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as

[2019-09-05 12:17] yugangw-msft commented on #10426
On top of @jiasli's suggestion, you can use `az login --use-device-code` to get unblocked meanwhile.

[2019-09-05 12:24] MyronFanQiu commented on #10423
@hindocha85 Hello. Could you please run command with `--debug` to check the real path of the file? This `inforblock_dns.csv` should your personal file. This issue may be caused by relative path or wrong path.

[2019-09-05 12:26] phekmat commented on #9972
This approach should also fix the issue I had in https://github.com/Azure/azure-cli/issues/8157#issuecomment-490180966 @panchagnula (assuming it wasn't resolved in the meantime)

[2019-09-05 13:22] msbhanuprakash commented on #10419
Hi All,

I just thought that i would follow up and give updated information.

I have tried with command like below with no luck

az postgres db create schema -g $rg_name -s $postgres_name -n $PostgresdbName

I was referring to   this documentation from microsoft site  https://docs.microsoft.com/en-us/cli/azure/postgres/db?view=azure-cli-latest

I have need for implementing multiple schemas for a d

[2019-09-05 13:54] rgherta commented on #10434
The @file.json is the '@' character followed by the name of the file located in the same path as the terminal.

[2019-09-05 13:54] #10434 closed

[2019-09-05 15:23] aandroulakas opened #10437 "az network watcher flow-log configure --interval error"
azure-cli                         2.0.72

command-modules-nspkg               2.0.3
core                              2.0.72
nspkg                              3.0.4
telemetry                          1.0.3

Python (Darwin) 3.7.4

**Describe the bug**

az network watcher flow-log configure: error: unrecognized argument: --interval 10

**To Reproduce**

**Expected behavior**
Expecting --interval 10

[2019-09-05 15:24] paulpuvi06 commented on #10234
@jiasli did you get an update from REST specs team ?

[2019-09-05 15:33] jaredmoo commented on #10370
Thank you for reporting this issue. It looks like this issue affects more than just SQL commands.

[code]

I'll include the CLI core team to help investigate deeper.

[2019-09-05 15:41] seanmck commented on #10408
@richardgragasin Need a little help to repro this. Were you creating a brand new kubeconfig or merging into an existing one?

[2019-09-05 15:42] gmowhiz opened #10438 "Error during MacOS installation via brew"
**Describe the bug**
Attempting to install azure-cli via brew on MacOS is resulting in the following error:

Error: An unexpected error occurred during the `brew link` step
The formula built, but is not symlinked into /usr/local
Permission denied @ dir_s_mkdir - /usr/local/Frameworks
Error: Permission denied @ dir_s_mkdir - /usr/local/Frameworks

**To Reproduce**
Run the following in a terminal:
`

[2019-09-05 15:43] seanmck commented on #10411
Looks like a network error. Please reopen if there's a consistent repro.

[2019-09-05 15:43] #10411 closed

[2019-09-05 15:48] gmowhiz commented on #10438
This is potentially not an issue with azure-cli specifically. A little searching turned up this solution:
`sudo install -d -o $(whoami) -g admin /usr/local/Frameworks`

After running the above, I was able to successfully install it.

[2019-09-05 15:51] seanmck commented on #10368
Error as shown here is a dupe of #7686, which is fixed. However, it does mean that there was an error connecting or that the connection dropped. If it was after a period of inactivity (~5 min) that is a known issue caused by the Azure LB. If it was an immediate failure and it's still reproducible on the latest CLI, please open a new issue with the details.

[2019-09-05 15:51] #10368 closed

[2019-09-05 16:21] seanmck commented on #8867
As mentioned, this is a permissions issue. Running with sudo should work. We will update the docs to call that out, but closing this as there's no action on CLI.

[2019-09-05 16:21] #8867 closed

[2019-09-05 17:08] achandmsft commented on #9880
We are working on Buster support currently. @zikalino will update this issue once it is released.

[2019-09-05 17:27] mreyeros commented on #7064
I seem to be having a similar issue, when executing an azure cli script that includes a call to create a service principal we are receiving the error message(s) shown below. The pipeline principal has been granted the following permissions via the portal as suggested [here](https://github.com/Azure/azure-sdk-for-node/issues/2363#issuecomment-354897064), but we continue to receive the same error. T

[2019-09-05 17:45] pvrk commented on #10409
Thanks for the feedback. Now the issue is clear. If you run the az backup item list command with output as table, there will be a column called 'Name'. That should be passed as name. The value under that column 'Name' is actually 'FriendlyName' in the JSON output. Basically, you should pass the value 'FriendlyName' as 'Name'. We wanted users to pass the friendlyName but as per CLI guidelines the p

[2019-09-05 17:46] rachel-msft commented on #10419
Hi Bhanuprakash. Thanks for reaching out Azure Database for PostgreSQL doesn't support using the Azure CLI to create a schema or other database commands ([apart from the ones listed at the link you provided](https://docs.microsoft.com/cli/azure/postgres/db?view=azure-cli-latest)). To create a schema, you would need to connect directly to the Postgres server using your preferred client (same as you

[2019-09-05 17:48] pvrk commented on #9135
@metrue : I have updated the other incident. Also pasting the same comments here for clarity.
Thanks for the feedback. Now the issue is clear. If you run the az backup item list command with output as table, there will be a column called 'Name'. That should be passed as '--name' in 'backup now'. The value under that column 'Name' in az backup item list table output is actually 'FriendlyName' in th

[2019-09-05 17:53] logachev opened #10439 ""az ad signed-in-user show" crashes for SP authentication"
**Describe the bug**
A clear and concise description of what the bug is.

`az ad signed-in-user show` crashes if signed in using Service Principal

[code]

**To Reproduce**

Steps to reproduce the behavior.

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

Command behaves same way for SP and User signed in

**Environment summary**
Install Method (e.g.

[2019-09-05 18:52] ewekansige commented on #7013
Last time I had this issue, it was because I was specifying the wrong resource group.
az webapp create --resource-group $resourceGroup --plan $hostingPlan --name $applicationName --deployment-container-image-name $dockerCustomImageName

Make sure the the resource group is the one in which your service plan is created.

[2019-09-05 18:53] xlash commented on #10422
Environment Summary
    Windows7 Enterprise 6.1.7601 64-bit
    Python 3.6.6
    Shell: powershell.exe
    azure-cli 2.0.72

Installer was run with a privilege limited user, then UAC prompt was authorized with a different user with admin rights.

[2019-09-05 18:54] thrustCoder commented on #8840
Thanks @jiasli. I was able to unblock myself by specifying the tenant id during 'az login' step
[code]

[2019-09-05 18:55] ewekansige commented on #6545
Last time I had this issue, it was because I was specifying the wrong resource group.
az webapp create --resource-group $resourceGroup --plan $hostingPlan --name $applicationName --deployment-container-image-name $dockerCustomImageName

Make sure the the resource group is the one in which your service plan is created.

[2019-09-05 20:45] bradhannah opened #10440 "Unable to enable session affinity in Front Door with AZ CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
The Create routine for FrontDoor frontend-endpoints is unable to set the session-affinity-enabled flag. When I enter "true" it wants "disabled", when I enter "disabled" it wants "true"... see errors below

**Command Name**
` az network front-door frontend-endpoint create --resource-group myrg --front-door-name

[2019-09-05 21:17] kizerkizer commented on #10385
It's a recipe for a "disaster" (maybe not that severe), but it will certainly be common for users to manage their static site with azure-cli, and the fact that only "\$web", with the dollar sign escaped, would work will cause a few headaches.

[2019-09-05 22:23] yonzhan commented on #10437
@MyronFanQiu please take a look

[2019-09-05 22:23] yonzhan commented on #10436
@Juliehzl  please take a look

[2019-09-06 00:19] MyronFanQiu commented on #10437
@aandroulakas Hello. This has been fixed and will be release soon.

[2019-09-06 00:21] MyronFanQiu commented on #10437
https://github.com/Azure/azure-cli/pull/10347

[2019-09-06 01:01] jlian commented on #7791
IoT Central has a separate CLI than IoT Hub

[2019-09-06 03:09] Juliehzl commented on #10370
@jaredmoo  are you want to run `az group create -n "a<b" -l "westus"` not `-g "westus"`? If yes, `az group create` will tell you ` Parameter 'resource_group_name' must conform to the following pattern: '^[-\\w\\._\\(\\)]+$'`. `az group` have validation for parameters. So I think this may be just related to SQL not core.

[2019-09-06 03:49] jaredmoo commented on #10370
In that case it might just be PowerShell interpreting as I/O redirection.

[2019-09-06 04:21] rulrok commented on #6638
I was expecting the behaviour as described by OP because that is how it works from the azure portal:

![image](https://user-images.githubusercontent.com/3097987/64400876-82a95600-d044-11e9-8934-e246e4452617.png)

Following the azure portal wizard, it copies all appsettings and connection strings (as expected by me).

[2019-09-06 04:26] panchagnula commented on #6638
@rulrok you are not incorrect in expecting this behavior - it turns out our backend APIs that CLI uses don't automatically copy the settings over - CLI needs to explicitly handle this. We need make the change.

[2019-09-06 05:13] Juliehzl commented on #10436
@kloeffler can you show me more information using `az storage blob list --debug` ? P.S. Remember not post your account key information in the Internet.

[2019-09-06 05:57] kloeffler commented on #10436
``
Command arguments: ['storage', 'blob', 'list', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function on_global_arguments at 0x7f86f0ed6f50>, <function on_global_arguments at 0x7f86f0a58aa0>, <function on_global_arguments at 0x7f86f0a5cd70>]
Event: CommandInvoker.OnPreCommandTableCreate []
Installed command modules ['acr', 'acs', 'advisor', 'ams', 'appconfig

[2019-09-06 07:17] yonzhan commented on #5275
We need compute service support to copy large file content from client machine to VM.

[2019-09-06 07:24] #9046 closed

[2019-09-06 07:24] yonzhan commented on #9046
Close it since using azdev unblocked you.

[2019-09-06 07:30] #5767 closed

[2019-09-06 07:32] yonzhan commented on #5767
I refine the title to make search engine can find it easily.

[2019-09-06 07:35] yonzhan commented on #6167
Hi @bganapa, could you please confirm whether  the API needed for az image create is available now ?

[2019-09-06 07:44] yonzhan commented on #7720
Close it since we do not have bandwith to do it and this issue is not common because it is only repro when you invoke install under admin mode.

[2019-09-06 07:44] #7720 closed

[2019-09-06 10:04] carct commented on #10037
not only from PowerShell ISE environment, had this in a script and called-up the script from a PowerShell.Core Session, it worked only when i used ` --public-ip-address '""' `

[2019-09-06 11:42] jiasli commented on #8099
Please make sure the PEM is in correct format. You may create a self-signed cert using OpenSSL:
[code]

The generated `upload.pem` looks like:
[code]

Then it can be uploaded successfully.
[code]

[2019-09-06 12:01] jiasli commented on #10438
I am glad it is solved. If any issue comes up, please don't hesitate to let us know.

[2019-09-06 12:02] #10438 closed

[2019-09-06 13:55] xpillons commented on #9362
Being able to control the computerNamePrefix thru the CLI will unblock some HPC scenarios. Especially there are applications that doesn't support such long names, some are crashing like OpenMPI 4.0.1 or others failed to get licences like Fluent. Because the name is random there is no easy way to work around this

[2019-09-06 15:06] malingel commented on #9972
I think this should go even deeper.  You can technically upload a wild card cert to a web app and it would be placed in that web app's RG.  If you try and upload the same cert to a different web app in a different RG on a different service plan, you would get a conflict that a cert with that thumbprint already exists.

This binding should follow the same rules that the upload does, which seems to

[2019-09-06 15:50] matt-FFFFFF opened #10447 "az storage container create fails"
## Describe the bug
Cannot create storage container using az cli.

**Command Name**
`az storage container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Have existing v2 storage account
- az login with account that has blob owner and contributor access
- `az storage container

[2019-09-06 16:09] hasheddan commented on #2458
@asc-adean are you still experiencing this issue?

[2019-09-06 17:10] porrascarlos802018 opened #10463 "Azure CLI command Az login wont process cross domain AD authentication when proxy its involved."
**Describe the bug**
2 AD domains, 1 azure, 1 customer domain
users from customer domain will use az login to authenticate to our services for example ACR and fail when the customer has a proxy in the middle:

**To Reproduce**

az login
az acr login --name <registryname> --debug --verbose
using external AD.

**Expected behavior**
Authentication to work.

**Environment summary**
computer ---> proxy

[2019-09-06 19:17] ericlobner commented on #10197
If you have multiple subscriptions, you will need to set the subscription first, use:

`az account set --subscription "YOUR SUB NAME"`

[2019-09-06 19:49] viananth commented on #6167
@yonzhan, with the latest AzureStack profile (2019-03-01-hybrid), the support for creating custom images using VMs/Disks is available.

[2019-09-06 19:49] #6167 closed

[2019-09-06 20:44] naragati opened #10464 "Failure in running az vmss update on diskprofile"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vmss update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vmss update -g {} -n {} --set {} {} {}`

## Expected Behavior

## Envi

[2019-09-06 22:19] #6549 closed

[2019-09-06 22:30] naragati commented on #10464
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vmss update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vmss update --name {} -g {} --set {} {} {}`

## Expected Behavior

##

[2019-09-06 22:31] naragati commented on #10464
The same works from Powershell

PS C:\Users\naragati> $vmss = Get-AzVmss -ResourceGroupName "inmobilab" -VMScaleSetName "navininmboi"
PS C:\Users\naragati> $vmss.VirtualMachineProfile.StorageProfile.OsDisk.DiskSizeGB = 512
PS C:\Users\naragati> $vmss | Update-AzVmss

ResourceGroupName                      : inmobilab
Sku                                    :
  Name                                 :

[2019-09-06 23:31] yonzhan commented on #9880
@zikalino is working on this issue and will give update by next week.

[2019-09-06 23:58] yonzhan commented on #10464
@qwordy  please take a look and response.

[2019-09-07 03:04] zikalino commented on #10351
@vogd This issue doesn't seem to be related to Azure CLI, but rather to your environment.

You can try to run **apt-get update** command and you will see the same errors.

From what I see they are related to Ansible

https://launchpad.net/~ansible/+archive/ubuntu/ansible

[2019-09-07 05:35] #9396 closed

[2019-09-07 08:48] jurjenoskam opened #10467 "'az network dns record-set txt add-record' is not idempotent"
(azure-cli 2.0.72, did not try earlier versions) The command:

[code]
runs fine the first time, but subsequent invocations result in the following error:

[code]

In the spirit of https://github.com/Azure/azure-cli/blob/dev/doc/command_guidelines.md#standard-command-types I believe the subsequent operations should not result in an error, but should be a no-op instead (making this command idempoten

[2019-09-07 16:53] rajrao opened #10468 "Add zone redundant parameter to az servicebus create command"
ServiceBus supports ZoneRedundancy in Premium SKU. There is currently not a mechanism to create ASB with ZoneRedundancy in premium tier using the CLI
https://docs.microsoft.com/en-us/cli/azure/servicebus/namespace?view=azure-cli-latest#az-servicebus-namespace-create

Ideally, this should be implemented similar to how SQL dbs can be created with Zone-Redundancy turned on (by applying --zone-redunda

[2019-09-07 16:55] rajrao commented on #10468
For reference: Zone-Redundancy was added to Sql commands via this issue: https://github.com/Azure/azure-cli/pull/5560

[2019-09-07 19:25] sunilvaltix opened #10469 "Failed to copy image from one region to another"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Trying to copy an image from region eastus to westus2 and it failed after about an hour.

**Command Name**

$ az image copy --subscription <subid> --source-resource-group eastrg --source-object-name datapathimageeast06sep2019 --target-location westus2 --target-name datapathimagewest206sep2019 --target-resource

[2019-09-07 23:10] spr0ut opened #10470 "az sql mi create fails with 400 error"
**Describe the bug**
Creating a managed instance fails with 400 error.
Virtual cluster is created but no other resources are deployed.

**Command Name**
`az sql mi create`

**Errors:**
[code]

**To Reproduce:**
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create subnet, nsg, route table using steps listed here https://

[2019-09-08 02:35] qwordy commented on #10464
Thanks for you feedback.
Could you please run `az vmss update --name {} -g {} --set {} {} {} --debug` and paste the output here

[2019-09-08 03:53] yonzhan commented on #10351
We will close it currently since it is not related to Azure CLI. Please let us know if any further questions.

[2019-09-08 03:53] #10351 closed

[2019-09-08 06:01] MyronFanQiu commented on #10467
@jurjenoskam Hello. I will double check the logic for this command.

[2019-09-08 16:28] taziki commented on #4618
This is a bit of an old thread, but I will give in my $0.02, If you are logged in the Azure Portal you can skip the login cell and go next and see if you are able to run. (Sound like a conflict of credentials) the one is session and a supplied one.

Regards

[2019-09-08 17:04] HWouters opened #10471 "EventGrid create should not log handshake warning for EventGrid trigger based Azure functions V2"
Every time an eventgrid subscription is created for Azure Functions V2, it logs a warning 'If the provided endpoint does not support subscription validation handshake...'

It should not show this warning for known EventGrid trigger based Functions, similar to V1 trigger based functions.

I think the following function should be extend for azure functions V2
https://github.com/Azure/azure-cli/blob/

[2019-09-08 18:05] spr0ut commented on #10470
Minor update - the step creates a "Microsoft.Network/networkIntentPolicies" resource and "Virtual cluster" resource and leaves these in the resource group upon failing. They cannot be deleted manually, and running the command **az sql mi delete** produces the following result after some time:

[code]

[2019-09-08 20:11] panchagnula commented on #9804
We will update this with details after we review this with the SSL feature crew.

[2019-09-08 20:12] panchagnula commented on #6155
Assigning this to myself to track

[2019-09-09 01:01] Juliehzl commented on #10431
@Geof23 What is your source parameter value here?  Azure cli only support url and local_path now.

[2019-09-09 02:01] greggilbert commented on #9003
For what it's worth, I had a similar issue. Giving the account the `Reader` and `Storage Account Key Operator Service` roles solved it for me.

[2019-09-09 02:05] qwordy commented on #10464
Hi, could you provide more detailed info? You can paste the full command here except sensitive information like resource group or name, so that I can diagnose it.

[2019-09-09 02:08] #10231 closed

[2019-09-09 02:37] qwordy commented on #10469
In the command output, `u'statusDescription': u'403 AuthenticationFailed "Copy failed when reading the source."`
It says that you can't read the source image due to authentication problem.

[2019-09-09 02:41] sunilvaltix commented on #10469
That's what is perplexing. I am the owner of that image.

[2019-09-09 02:51] Juliehzl commented on #10300
For my traige only

[2019-09-09 02:53] Juliehzl commented on #10223
Thanks for your feedback. We will have a look at your request and consider it carefully.

[2019-09-09 03:03] qwordy commented on #10136
OK. Thank you. We will revise the issue template.
vmss show visit GET https://management.azure.com/subscriptions/{...}/resourceGroups/{...}/providers/Microsoft.Compute/virtualMachineScaleSets/{name}?api-version=2019-03-01.
vmss get-instance-view visit GET https://management.azure.com/subscriptions/{...}/resourceGroups/{...}/providers/Microsoft.Compute/virtualMachineScaleSets/{name}/instanceView?ap

[2019-09-09 03:07] qwordy commented on #10469
OK. Quite perplexing. Let me try your command.

[2019-09-09 04:21] itelligence opened #10472 "Issues with retrieving monitor metrics data"
**Resource Provider**
Azure EA

**Description of Feature or Work Requested**
Our company had been using az command to retrieve resource usage/costs stats from our subscriptions. Up until the last 3 days all the reports were returning all the data as expected however now we are getting null values.

The command we execute is:
az monitor metrics list --resource /subscriptions/[subscription-id]/resou

[2019-09-09 05:42] qwordy commented on #10469
I create a image in one resource group and copy it to another resource group and specify a different location.
[code]
Your problem is really strange.

[2019-09-09 06:25] sunilvaltix commented on #10469
What was your command line?

[2019-09-09 07:41] Juliehzl opened #10474 "Add --blob-type for az storage copy command"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Add `--blob-type` for `az storage copy command`

**Describe alternatives you've considered**
A clear and concise description of any alternativ

[2019-09-09 07:41] Juliehzl commented on #10474
For traige.

[2019-09-09 07:51] dineshsharmads commented on #5714
I see this behavior when running az storage blob upload from PowerShell ISE. For some reason it writes progress messages to stderr. However, it works fine from PowerShell console.

[2019-09-09 08:48] robert-skarzycki commented on #10131
@loomchild - it helped me too, great thanks!

[2019-09-09 08:48] #10131 closed

[2019-09-09 08:55] qwordy commented on #10469
1. I create an image from a disk using `az image create`
2. I copy it to another resource group and location using `az image copy`

[2019-09-09 08:59] jiasli commented on #10439
Azure CLI internally uses Python SDK to call AAD Graph REST API "Get the signed-in user".

https://github.com/Azure/azure-sdk-for-python/blob/6aba868527568e83625103475d97c03ccd13b5e8/sdk/graphrbac/azure-graphrbac/azure/graphrbac/operations/signed_in_user_operations.py#L92

https://docs.microsoft.com/en-us/previous-versions/azure/ad/graph/api/signed-in-user-operations#get-the-signed-in-user--

This

[2019-09-09 09:02] #10285 closed

[2019-09-09 09:27] #10254 closed

[2019-09-09 15:53] rodent-x opened #10475 "azcreate-remote-connection fails with error as below"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create-remote-connection`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create-remote-connection --subscription {}

[2019-09-09 16:34] naragati commented on #10464
Hi,

I’ve updated the outputs in the github page on same day.

Regards,
Navin

From: Feiyue Yu <notifications@github.com>
Sent: Sunday, September 8, 2019 7:05 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Navin Kumar Ragati <Navin.Ragati@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [Azure/azure-cli] Failure in running az vmss update on diskprofile (#10464)

Hi, could

[2019-09-09 17:11] viananth opened #10476 "webapp:2019-03-01-hybrid profile is not supporting "az appservice""
**Describe the bug**
appservice module should be supported in 2019-03-01-hybrid profile. But its not available.

**To Reproduce**
az cloud update --profile 2019-03-01-hybrid
az appservice -h

**Expected behavior**
appservice module should be supported.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS versio

[2019-09-09 17:27] jpreese commented on #9880
Just ran into this, so looking forward to the release. Thanks @zikalino !

[2019-09-09 17:40] sunilvaltix commented on #10469
Can you pls give me exact commands you used? May be I am missing something in the command line.

[2019-09-09 17:45] tsuwandy commented on #9954
@stevengum, has this been added to Sprint 74?

[2019-09-09 17:52] pollock4595 opened #10477 "[DiskRP] Microsoft.Azure.Management.Compute CLI"
**Resource Provider**
DiskRP

**Description of Feature or Work Requested**
We need a Azure CLI support for the new API version for managed disks. This API version change allows direct upload (specifying the exact size of the upload for customers who upload their disks directly) , incremental snapshots for managed disks, and 'encryptionSettingsVersion'. It also returns some previously privileged fi

[2019-09-09 18:27] rakeshakkera opened #10478 "Update Azure Compute VM/VMSS cmdlets with the changes in the PR "Added priority, eviction policy and billing profile to VirtualMachineProperties. Also, adding optional billing profile to VMSS Create and Update APIs""
**Resource Provider**
What is the Azure resource provider your feature is part of?
Azure Compute

**Description of Feature or Work Requested**
Ability to create low-priority standalone VMs with variable pricing. Also adding variable pricing to low priority VMSS.

**Minimum API Version Required**
What is the minimum API version of your service required to implement your feature?
2019-03-01

**Swagg

[2019-09-09 19:32] marcissimus commented on #9665
Same on SLES 12 SP 4, Python 3.4

Problem: nothing provides python-virtualenv needed by azure-cli-2.0.72-1.el7.x86_64

[2019-09-09 19:50] ahamad-MS commented on #10471
Thanks @HWouters for the feedback. We are adding this into our backlog and will handle it appropriately if needed.

[2019-09-09 20:15] chfa opened #10479 "HTTP post request wrong Json output"
Hi,

When calling for my API from CLI, the Post request returns a Json string with all the escape character inside. it feels like the string has been json marshalled twice.
Example:  {\n  \"properties\": {\n   \"disabled\": true\n  }\n }
Expected output:
{
  "properties": {
"disabled": true
   }
 }

in comparison I also have the default command which returns the correct value.
The code I used for

[2019-09-09 21:02] oising commented on #10422
Just ran into this now on windows server 2019. I'm running inside a VM on a private subnet (same vnet as APIM, different subnet). Also 2.0.072.

[2019-09-09 21:44] Thiago4breu opened #10480 "Restore Point in Time not working"
## Describe the bug
Restore to point in time not working.

**Command Name**
`az mysql server restore`

**Behavior:**
After an issue, I needed to restore my MySql Azure database to a point in time (some hours ago). Using the Azure Portal interface, I had no luck, the command executes successfully, but when I analyze my database, it's just restore with some minutes ago, not the time I provided.

I j

[2019-09-09 22:25] yonzhan commented on #10477
@qwordy , please take a look and response whether we can finish this by September 13th.

[2019-09-09 22:38] yonzhan commented on #10478
@qwordy , please take a look and response whether we can finish this by this sprint.

[2019-09-09 23:12] number213 opened #10481 "Add AAD authentication options to 'az network vnet-gateway'"
**Resource Provider**
Microsoft.Network

**Description of Feature or Work Requested**
Need to add three string properties used to configure AAD authentication in VirtualNeworkGateway

**Minimum API Version Required**
2019-04-01

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/pull/5935

**Target Date**
No specific target, these are missing properties found by comparing Swagger and C

[2019-09-09 23:12] number213 commented on #10481
cc: @Nilambari

[2019-09-09 23:42] stevengum commented on #9954
@tsuwandy that's correct; I'm planning on getting it in next week.

[2019-09-10 00:16] naragati commented on #10464
This is the same command that I ran the other day for my internal lab

C:\Users\naragati>az vmss update -g inmobilab -n navininmboi --set VirtualMachineProfile.StorageProfile.OsDisk.DiskSizeGB = 512

[2019-09-10 01:31] v-Ajnava commented on #10468
@rajrao , Thanks for submitting the bug, right now the ZoneRedundancy is available in 2018-01-01-preview, we are working on making it available in current stable version.

we will update the CLI with --zone-redundant parameter, for now, supporting 2018-01-01-preview API version.

will keep thread posted

[2019-09-10 01:47] MyronFanQiu commented on #10481
@number213 Thanks. I will put this one into our work list.

[2019-09-10 01:53] MyronFanQiu commented on #10472
@itelligence Hello. Azure CLI doesn't do anything else except for calling the service endpoint. I will invite service team to take a look. Meanwhile, could you please run the command with `--debug` and paste the log to see whether the http response contains values or not?

[2019-09-10 01:57] qwordy commented on #10478
My answer is yes by my estimation

[2019-09-10 01:59] qwordy commented on #10477
Yes, we can. I think I can provide a initial version on time. However, it may need review and revision.

[2019-09-10 02:00] itelligence commented on #10472
This will contain a lot of sensitive information. How can I send this to you without making this public?

[2019-09-10 02:21] jaybeesarmiento opened #10482 "az vmss update to enable accelerated networking no matches found."
**Describe the bug**
**az vmss update -n MyVmss -g MyResourceGroup --set virtualMachineProfile.networkProfile.networkInterfaceConfigurations[0].enableAcceleratedNetworking=true** returns `no matches found: virtualMachineProfile.networkProfile.networkInterfaceConfigurations[0].enableAcceleratedNetworking=true`

**To Reproduce**
az vmss update -n MyVmss -g MyResourceGroup --set virtualMachineProfile

[2019-09-10 02:46] jiasli commented on #10363
Closing due to no response. If the issue happens again, please let us know.

[2019-09-10 02:46] #10363 closed

[2019-09-10 02:50] #10249 closed

[2019-09-10 02:55] #10482 closed

[2019-09-10 02:56] jaybeesarmiento commented on #10482
nevermind. It's a ZSH issue. just add quotations on the property to make it work.

[2019-09-10 03:19] jiasli commented on #10211
Since it's not possible to inject non-certificate secret to VM, you may [create a support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) to get assistance from Azure VM team for best practice for injecting secrets.

[2019-09-10 03:25] MyronFanQiu commented on #10472
@itelligence Can you open a ticket through Azure portal? Or you can just check the debug information by yourself to see whether the content is null value or not? My assumption is that this issue is a service issue. I want to double confirm my assumption with the debug information.

[2019-09-10 03:57] qwordy commented on #9597
Your advice is great! I suggest we have a new category of “az image terms” with 3 commands underneath like “accept”, “list” and “reject”.

[2019-09-10 04:18] itelligence commented on #10472
For your reference ticket id 119091024000322. All the details are there.

[2019-09-10 04:57] qwordy commented on #10477
Hi Joshua, I can't find the definition in Python SDK of the new features.
The Python SDK owner said

I don't know the specific rules. Just remind if you forget doing something. Thanks.

[2019-09-10 05:12] MyronFanQiu commented on #10472
@itelligence Thanks~

[2019-09-10 05:27] adewaleo commented on #10350
I will be closing this issue, given the previous comment. Please let us know if you have any more questions.

[2019-09-10 05:27] #10350 closed

[2019-09-10 05:32] SreekanthOAuth opened #10483 "web.cofig is not getting created"
**Describe the bug**
To publish the bot, we are using publish.ps1 script. While executing seeing below error at web.config creation
Command is :

if (-not (Test-Path (Join-Path $projFolder 'web.config'))) {
	az bot prepare-deploy --code-dir $projFolder --lang Typescript
}
az bot: 'prepare-deploy' is not in the 'az bot' command group.

**To Reproduce**
Run publish.ps1 script

**Expected behavior**

[2019-09-10 05:34] MyronFanQiu commented on #10472
@itelligence Hello. Based on the debug information, looks like this is a service issue. I talked with our CSS team, they will help you route this problem to the service team. Meanwhile, there are some bugs for our system in github page. There should be a robot appearing. I'm tracking this problem. I will leave this issue open. Please close it after your problem solved.

[2019-09-10 05:48] itelligence commented on #10472
@MyronFanQiu Thanks

[2019-09-10 06:08] jiasli commented on #9850
Hi @ernani, I believe @tjprescott means `--debug` for `az keyvault certificate create --vault-name jlkv1 -n cert2 -p "$(az keyvault certificate get-default-policy)" --debug`

However in my test in WSL, it passes the param without any issue.

Could you try updating to the latest version and test again?

[2019-09-10 06:08] qwordy commented on #10464
Do you have a space between DiskSizeGB and 512?
It's the problem. I see the same error if I insert space between key and value.
Space is used to separate multiple key-value pairs in --set.
However, I think the error message is confusing. I plan to make it more user-friendly.

[2019-09-10 06:24] gbuckmaster opened #10485 "az ad signed-in-user show breaks"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad signed-in-user show`

**Errors:**
[code]

[2019-09-10 06:33] gbuckmaster commented on #10485
Discovered this is desired behaviour as per: https://github.com/Azure/azure-cli/issues/10439.  Closing

[2019-09-10 06:33] #10485 closed

[2019-09-10 06:48] archmangler commented on #8193
One could use (with BASH):

[code]

[2019-09-10 07:08] x10an14 commented on #9880
I'm also eagerly awaiting this! =D

[2019-09-10 07:15] Juliehzl commented on #9574
I will have a look at it.

[2019-09-10 07:16] Juliehzl commented on #10479
@chfa Thanks for reaching out. I will have a look at this issue later.

[2019-09-10 07:27] xor-ranavikrant opened #10487 "az webapp deployment source config-zip command results in an error"
**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behaviour:

-az webapp deployment source config-zip --resource-group {} --name {} --src 'C:\Windows\system32\outfile.zip'

## Expected Behavior
Command should accept single '\\' in the source path
## Environment Summary
[code]
## Additional Context
The command tries to take double

[2019-09-10 07:44] grjw opened #10488 "Intermittent "mismatched OAuth state" when logging in; succeeds anyway"
## Describe the bug

When logging in to azure using the `az login` command, I sometimes get the following error stack trace as below. However the next command in the script always automatically runs and succeeds, as if the login request was successful. I receive message this only some days. Other days, I receive the normal message (in expected behavior section)

**Command Name**
`az login`

**Erro

[2019-09-10 07:46] jiasli commented on #9818
Enabling "soft delete" and "purge protection" are irreversible operations, which is by-design behavior of Key Vault service. You may vote or submit a feedback at https://feedback.azure.com/forums/906355-azure-key-vault/suggestions/37900363-allow-keyvault-purge-when-purge-protection-is-en

[2019-09-10 07:46] #9818 closed

[2019-09-10 08:02] snehithm commented on #9640
Hi @MyronFanQiu , this issue should be fixed now based on https://github.com/Azure/azure-cli/pull/10108. @tjprescott can you confirm?

[2019-09-10 08:25] lisardggY commented on #10118
Is there anywhere to keep updated about when gen2 will be supported by CLI? Judging by the DNS suffix in the error description, it's almost certainly accessing gen1 stores, but is there any alternative? The standard blob api (`az storage blob *`) give an error (with stack trace, again):

`Blob API is not yet supported for hierarchical namespace accounts. ErrorCode: BlobApiNotYetSupportedForHierarc

[2019-09-10 08:30] priya0917 opened #10489 "az storage blob upload-batch: error: too many values to unpack (expected 2)"
On executing below script in azure Devops(VSTS),

resources:
- repo: self
trigger:
- next
queue:
  name: Hosted Ubuntu 1604

steps:
- task: NodeTool@0
  displayName: 'Install NodeJS'
  inputs:
    versionSpec: 10.14.2

- task: geeklearningio.gl-vsts-tasks-yarn.yarn-installer-task.YarnInstaller@2
  displayName: 'Install yarn'
  inputs:
    versionSpec: 1.12.3

- task: geeklearningio.gl-vsts-tasks-y

[2019-09-10 08:39] jiasli commented on #9763
This command works fine on a Linux (debian 9.11) Azure VM
[code]
Please share the complete command that results in the error. Also, please share the `--output` result. You may paste it here or send to my email address.

[2019-09-10 08:44] MyronFanQiu commented on #8361
No response from the service team. I cannot test the code. Move it to the backlog.

[2019-09-10 08:46] jrauschenbusch commented on #8809
@Juliehzl No, it isn't supported.

I think there is an update needed for azure-storage-blob to at least v2.0.0 in the following files:
- https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/requirements.py2.Linux.txt#L81
- https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/requirements.py2.Darwin.txt#L81
- https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/requirements.py2.windo

[2019-09-10 08:49] qwordy commented on #10477
`CreationData` is also used by snapshot. Does snapshot support `uploadSizeBytes` too?
Disk and snapshot share some common functions in our project.

[2019-09-10 08:53] kalkun opened #10490 "CommandResultItem is not iterable"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob upload-batch`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob upload-batch -d {} --source {} --connection

[2019-09-10 09:10] MyronFanQiu commented on #10162
@Sviatik Hello. I'm looking into this issue recently. I used the `az monitor metric alert create` to create an alert rule for storage account. Then I tried to disable it and it worked. I couldn't reproduce this error. Could you please give me more details about your process? What's your process to create a resource and then create a metric alert?

[2019-09-10 09:29] jiasli commented on #9423
You may use `az keyvault certificate get-default-policy --scaffold` to get a template to work with. This is a Python representation of `Create Certificate REST API`'s body: https://docs.microsoft.com/en-us/rest/api/keyvault/createcertificate/createcertificate#certificatepolicy

[2019-09-10 09:43] qwordy commented on #10477
After experiment, I know uploadSizeBytes must be a multiple of MiB + 512.
But still fail:
[code]
Can you help me with it?

[2019-09-10 11:19] DanielHWe commented on #10207
Does still not work, any updates?

[2019-09-10 12:13] jiasli commented on #10079
Closing due to no update. If the issue persists, please let us know.

[2019-09-10 12:13] #10079 closed

[2019-09-10 13:02] jrauschenbusch commented on #8809
I've to withdraw my last comment. It seems that it's supported now. But i don't have any clue which change was responsible for it. Unfortunately there is also no single release note which notes the added functionality.

[2019-09-10 13:51] pvrk commented on #9437
@Wand3rvogel: Thanks for the update. You cannot get backup items for MARS in PS but you can get containers for MARS. We do not have plans to onboard MARS to CLI in the current CY. I will re-visit this next year and since you are unblocked using REST API, I will close this issue.

Added to backlog and closing this since this is not taken up in this CY, 2019

[2019-09-10 13:51] #9437 closed

[2019-09-10 13:56] Juliehzl commented on #10490
@kalkun Can you show me more information with `--debug` for your command? Please note that don't put connection-string information here.

[2019-09-10 13:57] Juliehzl commented on #10490
One more thing to check is that if there is firewall for target storage account.

[2019-09-10 14:12] Juliehzl commented on #10489
dupe of  https://github.com/Azure/azure-cli/issues/9422. @priya0917 Is the same problem you encounted? Here for your inlineScript in Azure CLI task, it looks you don't specify your storage account name. Have you already set it in environment variable or somewhere else?

[2019-09-10 14:21] Juliehzl commented on #10489
If it still don't work, can you show me the debug information with `--debug` appended in your inline script? Please note don't show your account key information.

[2019-09-10 14:31] PuffTMD opened #10491 "traffic-mangaer create failed with timeout 10 set"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When enter the command, below (👇) I receive Operation failed with status: 'Bad Request'. Details: Monitor timeout must be between 5 and 10 seconds. the timeout value is 10.  If i change this to any other value the command work.

**Command Name**
`az network traffic-manager profile create`

**Errors:**
[code]

#

[2019-09-10 14:37] asc-adean commented on #2458
@hasheddan I will try it again this afternoon, thank you for responding

[2019-09-10 14:39] kalkun commented on #10490
(un)fortunately its working again. To my knowledge there has not been changes on our side from when these commands worked, then did not work and now are working again.
In any case, I cannot replicate it again.

[2019-09-10 14:46] qwordy commented on #10477
This doesn't need modification of CLI.  CLI users can see them as long as the server provides them.

I can set `incremental` property in creation without error. But how can I know whether it is successful? I can't see this property in the returned JSON string.

[2019-09-10 15:46] kyallanum opened #10492 "webapp up:This does not work for subsequent deployments."
I know this would make sense for most developers, but something that should be noted in these docs is that subsequent deployments will error out. It looks like it may even create an "async" task and then later come back with a 204 response "No Content".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2983e943-cce1-effd-

[2019-09-10 15:48] kyallanum commented on #10492
My apologies let me clarify since it made the issue for the whole page. az webapp up does not work for subsequent deployments because it is already created.

[2019-09-10 16:03] psignoret opened #10493 "az ad sp delete --id "{sp-object-id}" should not fail when Application object is not found"
## Describe the bug

In Azure AD, a backing Application object will not always be present in the same tenant as the app's ServicePrincipal object. In this situation, a user should still be able to delete just the ServicePrincipal object in their tenant. The call to `_get_app_object_id_from_sp_object_id` in `delete_service_principal` should not raise an exception if the Application object is not fo

[2019-09-10 16:40] TCourtneyOwen opened #10494 "Azure CLI lab command doesn't work in latest release(2.0.72)"
I updated the Azure CLI recently to version 2.0.72 and now my scripts that creates DevTestLab VMs and apply artifacts don't work.  I get the following error:

az : Command group 'lab' is in preview. It may be changed/removed in a future release.

An example command that worked previously but fails now is the following:

az lab vm apply-artifacts --lab-name 'OPX-Dev-Test-Lab' --name opx-azure-01 --

[2019-09-10 17:36] Cam-Borrowell opened #10495 "az webapp config connection-string list does not give values for non-JSON output"
**Command Name**
`az webapp config connection-string list`

**Errors:**
Values are missing with non-JSON output (such as `table` and `tsv`)

## To Reproduce:
- `az webapp config connection-string list --name {} --resource-group {} --output tsv`

## Expected Behavior
The output should be similar to `az webapp config connection-string list --name {} --resource-group {} --output json`

## Environment

[2019-09-10 18:16] zezha-msft commented on #8809
Hi @jrauschenbusch, for context, the storage package in azure-sdk-for-python is the redesigned version that is in preview right now.

[2019-09-10 18:29] Spyntek opened #10496 "Error running az apim command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim show`

## Expected Behavior

## Environment Summary
[code]
## Addit

[2019-09-10 19:04] chfa commented on #10479
Some update. I ran the Cli commands with --debug on , and this is what I see

![Cli](https://user-images.githubusercontent.com/55109447/64642329-f9d34700-d3c2-11e9-8819-4dcec617b064.PNG)

So in the header it seems to be the correct format and once displayed, it got Json marshalled again it seems.

[2019-09-10 19:22] akharit commented on #10118
@lisardggY Sorry wasn't clear. The first line
`az storage account create -n [name]-g [resource-group] --sku Standard_LRS --kind StorageV2 --hierarchical-namespace true`

reads on creating a storagev2 account and then trying to access it as adls gen1 storage account, which will not work.

[2019-09-10 21:44] mhbkb commented on #10232
Created https://github.com/Azure/azure-cli/pull/10497

[2019-09-11 00:13] naragati commented on #10464
Thanks for the feedback, yeah if the error message can be user friendly it would help in self-serving.

From: Feiyue Yu <notifications@github.com>
Sent: Monday, September 9, 2019 11:09 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Navin Kumar Ragati <Navin.Ragati@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [Azure/azure-cli] Failure in running az vmss update on diskp

[2019-09-11 00:26] ankitkumarr opened #10500 "Azure Functions - command says failed with a 200 code"
When using the command below with a GitLab repo, --
`az functionapp deployment source config --repo-url --branch  --name --resource-group --manual-integration`

the output says
`Deployment failed. Correlation ID:<id>. Operation failed with status: 200. Details: Resource state Failed`

It looks like it actually succeeded because it's a 200. But I am guessing it shows failed because it's only lookin

[2019-09-11 01:54] MyronFanQiu commented on #10491
@PuffTMD Hello. Thanks for opening this issue. I checked the logic, this issue happened on server side. I will invite service team to answer.

[2019-09-11 02:24] MyronFanQiu commented on #10491
@sfiguemsft Hello. Please take a look at this issue.

[2019-09-11 03:12] Juliehzl commented on #10490
OK. In this way, I will close this issue and if you have any problem, feel free to open a new one or reopen it.

[2019-09-11 03:12] #10490 closed

[2019-09-11 03:18] Juliehzl commented on #10447
@matt-FFFFFF Can you check the following two things for your storage account? 1. Contributor role to the storage account, not Storage Blob Data Contributor role. 2. Is there an firewall for your storage account? If everything is right but still failed, can you show me the debug information with `--debug` appending your command? Please note to hide your personal storage key and any credential infor

[2019-09-11 04:34] ernani commented on #9850
Hello, here is the full output, btw, I've used --debug before...

`ernani@ernmarti-ms:/c/Users/ernmarti/Documents/go/others$ az keyvault certificate create --vault-name keyvault-ernani -n cert2 -p "$(az keyvault certificate get-default-policy)" --debug
Command arguments: ['keyvault', 'certificate', 'create', '--vault-name', 'keyvault-ernani', '-n', 'cert2', '-p', '{\n  \x1b[94m"issuerParameters"\x

[2019-09-11 05:03] Juliehzl commented on #10188
@a3nick Thanks for your feedback and sorry for my late response. I have tried to reproduce your issue but  it works for me in Windows 2019 Server. For the azure.common.AzureException, which is from python SDK, not cli command, @zezha-msft do you have any idea for such error?

[2019-09-11 05:13] rashmipatil opened #10502 "az functionapp list: FAILURE"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp list -o{} --query {}`

## Expected Behavior

## Envir

[2019-09-11 06:27] qwordy commented on #10477
Already solved. It must be used together with --for-upload.

[2019-09-11 06:30] ackbaradmiral commented on #10197
Figured it out - needed to pass in the "App Service Plan" name. I was originally passing in "App Service" name.

[2019-09-11 06:30] #10197 closed

[2019-09-11 07:27] qwordy commented on #10136
Copy comments from szimmer:

virtualMachineScaleSets/{name}/instanceView just returns the expensive runtimestate without the vmScaleSet goal state infromation

[2019-09-11 07:33] qwordy commented on #10270
I am sorry that I am not an expert of backup schedule policy and I am not working on this area.
Maybe you can click the question mark in the top right corner of Azure Portal to request support.

[2019-09-11 07:34] Juliehzl commented on #10436
@kloeffler Thanks for your more information.
From the debug information, it looks that you don't have the permission to access the storage account. What kind of --auth-mode is used here? Can you try to remove `--auth-mode` in your command?
In addition, what is your (service principal) role for the storage account?
And what do you mean for "outside of the Azure environment and within Azure"?

[2019-09-11 07:41] qwordy commented on #10469
I just write commands as simple as possible.

Command output: {u'name': u'datapathimageeast06sep2019_os_disk_snapshot.vhd', u'deleted': False, u'content': u'', u'snapshot': None, u'properties': {u'pageRanges': [], u'blobTierInferred': False, u'lastModified': u'2019-09-07T19:15:55+00:00', u'blobTier': None, u'contentLength': 0, u'serverEncrypted': True, u'appendBlobCommittedBlockCount': None, u'del

[2019-09-11 07:48] priya0917 commented on #10489
On Debugging its giving :

The command failed with an unexpected error. Here is the traceback:

The specifed resource name contains invalid characters. ErrorCode: InvalidResourceName
<?xml version="1.0" encoding="utf-8"?><Error><Code>InvalidResourceName</Code><Message>The specifed resource name contains invalid characters.
RequestId:ed20e415-201e-0006-5d75-686cba000000
Time:2019-09-11T07:46:25.799

[2019-09-11 08:25] qwordy commented on #10124
Merged.

[2019-09-11 09:00] whoeipingo commented on #10176
Check https://github.com/Azure/azure-powershell/issues/8992. This is based on the same issue. No limit in PS or CLI but in the backend.

[2019-09-11 09:30] #10270 closed

[2019-09-11 10:00] a3nick commented on #10188
Dear @Juliehzl, as you suggested i checked if the problem was related to a network connection issue and finally i found a solution.
As i wrote, the server runs on a esxi instance.
Changing the network adapter type from `E1000` to `VMXNET 3` solved the connection issue and now everything works well

[2019-09-11 10:07] jiasli commented on #10493
Similar to https://github.com/Azure/azure-cli/issues/8467. We will take a look.

[2019-09-11 10:29] a3nick commented on #10188
@Juliehzl, i need more time as i had the same problem randomly, even with the network adapter type change, uploading about 20 files.
The problem don't seems related to the file size.

[2019-09-11 10:57] jochenvanwylick opened #10505 "Command 'az network private-resource show' does not exist"
In the current CLI (2.0.73) does not have any 'az network private-resource' commands as suggested under Optional Parameters &gt; --group-id . Any idea when we can expect this?
Also the styling seems a bit off, maybe put ticks (`) around it to make Markdown understand that it's code ?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-09-11 10:59] jiasli commented on #10488
Every time `az login` is executed, a new `state` is generated in the URL. Please make sure the login page is from the same login session.

[2019-09-11 11:01] jiasli commented on #10435
Could you please share some Python code snippet to repro this issue? Thanks.

[2019-09-11 11:04] jiasli commented on #10421
Thank you for raising this feature request. We will look into it.

[2019-09-11 11:05] jiasli commented on #10420
Thank you for raising this feature request. We will look into it.

[2019-09-11 11:06] jiasli commented on #10416
Looks like a reference issue. Could please reinstall and see it works?

[2019-09-11 11:08] jiasli commented on #10403
Thank you for raising this feature request. We will look into it.

[2019-09-11 11:11] jiasli commented on #10349
You may use `az login --allow-no-subscriptions` to enable tenant access: https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#az-login

[2019-09-11 11:11] #10349 closed

[2019-09-11 11:29] chezuma opened #10506 "Windows: CLI very slow if CDROM/BLURAY is assigned as D drive"
**Describe the bug**
If you have a CD-ROM / BLURAY as D drive, the cli uses ages to start because of the cli tries to read, for instance:
  File "D:\a\1\s\build_scripts\windows\artifacts\cli\lib\site-packages\pkg_resources\__init__.py", line 76, in <module>
  File "D:\a\1\s\build_scripts\windows\artifacts\cli\lib\site-packages\pkg_resources\_vendor\packaging\specifiers.py", line 11, in <module>

*

[2019-09-11 12:20] joelnibejpi opened #10507 "webapp:Web app Zip deployment fails with JSONDecodeError"
## Web app Zip deployment fails with JSONDecodeError

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:

- `az webapp deployment source config-zip --src {} --name {} --resource-group {} --subscription {} --verbose`

## Environment Summary
[code]

[2019-09-11 14:24] Sviatik commented on #10162
@MyronFanQiu
Hello,
Here are steps to reproduce:
- Create manually availability check (web test) in application insight. It can be ping to google.com (It automatically create alert)
![image](https://user-images.githubusercontent.com/15470583/64704978-d0e0ae00-d4b7-11e9-9cc1-cb6a8ab02edc.png)
.
![image](https://user-images.githubusercontent.com/15470583/64705544-cbd02e80-d4b8-11e9-8e97-5d4c236bfbff

[2019-09-11 14:39] sunilvaltix commented on #10469
What's happening is that the copy operation is just too slow and it does not finish in 1 hour. I enabled --debug and saw that it was copying but very slowly and then, it just throws that error. That error "403 AuthenticationFailed "Copy failed when reading the source."" is a red herring or false error. We should improve on that. It should say "I could have finished copy if you gave me more time"..

[2019-09-11 15:44] colemickens commented on #10192
One more issue I've run into:

1. Create a disk "nixosDisk1". Upload the blob. Revoke the access token.
2. Many days later, try again, with the same disk name.

Here's what happens:
1. `az disk create ...` succeeds (no error that disk already exists.
2. The `az disk grant-access` command times out and fails with an "unexpected error occurred while processing disk".

[2019-09-11 15:49] colemickens commented on #10192
Actually, no, the same script that was working ~15 days ago is now not working. The `grant-access` call keeps failing. I updated the docker container I'm running, but changed nothing else:

[code]

This is a new error that I haven't seen before. cc: @ramankumarlive .

[2019-09-11 16:08] colemickens commented on #10192
This time I was able to upload the disk, but creating the image failed (despite revoking the access-token as expected)

[code]

[2019-09-11 16:37] rmcolbert commented on #10403
This is also blocking CI/CD for rolling out new Azure Functions w/ RBAC

[2019-09-11 16:45] sunilvaltix commented on #10469
It worked:
[code]
0 to 100 straight. And 12.5 hrs for 256GB image.

[2019-09-11 16:53] jluk commented on #9585
We've noted this in some portal create flows, pointing to this troubleshooting section. Thanks for your patience while we work with the AAD team to get this propagation time improved. https://docs.microsoft.com/en-us/azure/aks/troubleshooting#im-receiving-errors-that-my-service-principal-was-not-found-when-i-try-to-create-a-new-cluster-without-passing-in-an-existing-one

[2019-09-11 16:53] colemickens commented on #10192
And now I'm 12 minutes into a blob upload that usually takes 30 seconds (and the "upload" is a s2s blob copy from another MD blob, so it's entirely Azure's fault that this transfer of a 1GB image is taking 13+ minutes).

[2019-09-11 17:08] pollock4595 commented on #10477
@qwordy

The `uploadSizeBytes` field will only be valid for disks created with the , `--for-upload` option, not snapshots nor any other disks.

`diskSizeBytes` isn't available in create. For disks with `--for-upload` `uploadSzeBytes` is used, and for all other disks/snapshots `diskSizeGB` is used. We just want to return the size of a customer's disk/snapshot to them in bytes too, but they can't us

[2019-09-11 17:25] colemickens commented on #10192
And after nearly 20 minutes, the disk upload finished and then the image creation failed. Again. If there weren't people repeatedly asking for this...

[2019-09-11 17:44] colemickens commented on #10192
`az sig image-version create` is similarly taking a huge amount of time. This is incredibly painful - it's very slow and prone to api failures.

The latest copy of scripts and instructions are here: https://github.com/colemickens/nixpkgs/tree/azure/nixos/maintainers/scripts/azure.

Is there an expectation I should have around "how long does it take to replicate an existing OS image (*already in Az

[2019-09-11 18:06] stevengum commented on #10483
This looks to be due to using an older version of the CLI. az bot prepare-deploy was added to the command group in the March 26, 2019 release. The version of Azure CLI that needs to be used is at least 2.0.61. Can you upgrade to a later version and try running the power shell script again?

[2019-09-11 18:15] brianholley opened #10509 "az extension update failed with access denied for azure-cli-ml"
## Describe the bug

CLI extension update from azure-cli-ml 1.0.41 to latest (1.0.60) failed with an access denied error. After failing, the extension was uninstalled (rather than left unchanged).

**Command Name**
`az extension update`

**Errors:**

:open_mouth:

[code]

## To Reproduce:

- Install azure-cli-ml extension v 1.0.41
- `Run: az extension update -n azure-cli-ml`

## Expected Behavior

[2019-09-11 18:19] arbrubusa opened #10510 "Problem trying to access recently created AKS"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --resource-group {} --name {}`

## Expected Behavior

## Env

[2019-09-11 19:16] DaveKlassen opened #10511 "az network nic show command fails with Python error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network nic show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network nic show --name {} --resource-group {}`

## Expected Beha

[2019-09-11 20:41] colemickens commented on #10192
This time I even got an internal stack trace:

[code]

[2019-09-11 21:01] espensb opened #10512 "Exception while trying to set key vault policy"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault set-policy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az keyvault set-policy --secret-permissions get -n <vault-name>`

## Expected Behavior
Expected to be abl

[2019-09-11 21:05] zezha-msft commented on #10192
@colemickens sorry for the inconvenience, could you please submit a support ticket?

[2019-09-11 21:07] espensb commented on #10512
I was missing the `--upn` argument here. It would still be nice with a proper error message instead of a crash here, though.

[2019-09-12 01:47] Juliehzl commented on #10188
@zezha-msft Thanks a lot for you looking at it!! @a3nick Sound good that it works now. I will close it now and you can reopen it or open a new one if you still have the issue in the future.

[2019-09-12 01:47] #10188 closed

[2019-09-12 01:53] arbrubusa commented on #10510
Hi guys,

This seems to do the trick:
kubectl create clusterrolebinding kubernetes-dashboard -n kube-system
--clusterrole=cluster-admin
--serviceaccount=kube-system:kubernetes-dashboard

Em qua, 11 de set de 2019 às 22:40, msftbot[bot] <notifications@github.com>
escreveu:

--
I believe in Christianity as I believe that the sun has risen. Not only
because I see it, but because by it I see everythin

[2019-09-12 02:05] MyronFanQiu commented on #10511
@DaveKlassen Hello. I tested the command on linux and python 2.7.15. However I cannot reproduce same error. Can you run the command with `--debug`? Did this command fail for your all nic resource? This command in all versions from v2.0.65 to v2.0.72 CLI has failed for you. Right?

[2019-09-12 02:18] MyronFanQiu commented on #10505
@jochenvanwylick These commands are under preview version. Based on my knowledge, the server side was not ready days ago. The rest api swagger and the python SDK are not ready yet. I don't know when we can expect private-resource. Currently, the private-endpoint can be created for private link service. You can just ignore the `--group-ids` since the private link service doesn't accept a group-id.

[2019-09-12 02:21] Juliehzl commented on #10192
@colemickens Sorry for your inconvenience again.

@qwordy is the expert in Compute and I think he can give us some instruction for this. @qwordy Do you know what happened here?

[2019-09-12 02:22] MyronFanQiu commented on #10505
I will leave this issue open as a tracker for private-resource. @malopMSFT Hi. I'm not sure about the current status about the first party resource for private endpoint. If there is any update, can you share the information here?

[2019-09-12 02:33] MyronFanQiu commented on #10437
@aandroulakas Hello. This has been fixed in the latest release. Please check it. I will close this issue. Please feel free to reopen it or open a new issue. 😄

[2019-09-12 02:33] #10437 closed

[2019-09-12 02:51] MyronFanQiu commented on #10162
@Sviatik Thanks! I have reproduced the error. I will take a look.

[2019-09-12 02:55] qwordy commented on #10477
Thanks a lot. Useful information.

[2019-09-12 03:09] Juliehzl commented on #10489
@priya0917 I try to reproduce your issue in Azure DevOps using the following task:
steps:
- task: AzureCLI@1
  displayName: 'Azure CLI '
  inputs:
    azureSubscription: 'Java Tooling Tests with TTL = 7 Days'
    scriptLocation: inlineScript
    inlineScript: 'az storage blob upload-batch -d test -s VSCodeJava/bin --account-name zuhtest

But it works for me. The CLI version I used in Azue Dev Ops

[2019-09-12 03:12] MyronFanQiu commented on #10162
@Sviatik Hello. Looks like the server will return some odata.types which are not supported by python SDK. There is not [subtype](https://github.com/Azure/azure-sdk-for-python/blob/483a33447ba26e62c1b6d4a389055a191b5d4b6e/sdk/monitor/azure-mgmt-monitor/azure/mgmt/monitor/v2018_03_01/models/_models_py3.py#L695)  for Microsoft.Azure.Monitor.WebtestLocationAvailabilityCriteria. I will invite service t

[2019-09-12 03:13] Juliehzl commented on #10489
From the given trace information, it looks you use Azure CLI in your local machine. For this scenario, you are using storage SDK with v2018_03_28, which is not defined in azure cli profile. Can you also show me your local azure cli information and how do you install your azure cli?

[2019-09-12 03:16] MyronFanQiu commented on #10162
@Dalubash Hello. Could you please take a look at this issue?

[2019-09-12 05:25] #10319 closed

[2019-09-12 05:56] qwordy commented on #10469
So the error message misleads you. The operation can finally succeed if you wait patiently. Right?
What's the size of datapathimageeast06sep2019 ?

[2019-09-12 06:01] qwordy commented on #10469
@Service team:
What is the usual speed when coping across regions?

[2019-09-12 06:16] HimeshRavi commented on #10250
So what is the `az` command to install the updates? I can't seem to find it anywhere.

[2019-09-12 06:39] michaelw85 opened #10515 "az ad app update Insufficient privileges in yaml build pipeline"
az cli version: 2.0.73

**Describe the bug**
Command: `az ad app update --id <xxx-yyyy-zzzz> --add replyUrls https://test.something`
Error: `ERROR: Insufficient privileges to complete the operation.`

Command is run from a yaml multistage build pipeline with a service principle where I enabled literally all permissions from all api's and used grant permissions after

**To Reproduce**
Run command u

[2019-09-12 07:49] grjw commented on #10488
Ah. I'm starting two VMs in quick succession (via separate shortcuts). This pops up two login pages. Perhaps i'm logging in to the pages in the wrong order? I will try doing them consecutively and see if that resolves the issue.

Thanks!

[2019-09-12 11:36] michaelw85 opened #10518 "az group deployment validate missing data in response"
cli version: 2.0.73

**Describe the bug**
I'm using the following command to validate my arm templates and since I updated to the latest version the response is lacking allot of details on the resources.
[code]

**To Reproduce**
Run validate with cli `2.0.72`
It will produce validated resources something as detailed as this:
[code]
compared to latest version .73:

[code]

**Expected behavior**
Exp

[2019-09-12 17:15] sm947 opened #10519 "Modifications to New-az vmss create CLI cmdlet to introduce new field --public-ip-per-vm-address-version"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Compute Resource Provider of API Version 2019-07-01 and related changes in Network Resource Provider

**Description of Feature or Work Requested**
We are extending support for Ipv6 public Ips to be created in normal VM scenarios in addition to Ipv4 instance level public ips and we use **publicIpAddressVersion** fiel

[2019-09-12 18:53] sbhuttan opened #10520 "--ttl parameter not working"
Getting following error while trying to create a CName with TTL parameter, using Azure CLI -

[code]
Azure command used:
az network dns record-set cname set-record

Version of azure-cli - 2.0.73 (latest as of 9/12)

Environment - Tried on both - Visual Studio Code and shell.azure.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2019-09-12 18:54] JohnSchmeichel opened #10521 "az aks browse always prompts for login for AAD/RBAC clusters"
**Describe the bug**
Using az aks browse on an AAD/RBAC enabled cluster prompts for credentials every time the command is run. kubectl/helm commands for the same cluster do not do this and re-use the access token.

**To Reproduce**
1. Setup AAD/RBAC enabled cluster
2. Run az aks browse -g <resourcegroup> -n <mycluster>
3. Complete authentication (To sign in, use a web browser to open the page http

[2019-09-12 23:33] #5875 closed, assigned to nobody

[2019-09-13 07:19] jochenvw commented on #10505
@MyronFanQiu - thanks ! Can you suggest a workaround to get the group ids ? Because I think we need it in order to set up the private resource for an Azure SQL database.

[2019-09-13 08:15] frgomes commented on #9880
I'm using the binaries for Debian Stretch on Debian Buster and ... "it works".
However, I don't remember if I had troubles when I've first installed it.

[2019-09-13 10:10] jakaruna-MSFT opened #10523 "az acr import with port number fails in validation"
## Describe the bug
I am opening this issue as part this [MSDN thread ](https://social.msdn.microsoft.com/Forums/en-US/b0d50ace-e740-401b-a5da-c6a1b1219239/how-can-i-use-port-in-registryuri-when-i-import-container-images-from-a-nonazure-private-container?forum=AzureContainerServices) opened by panyoung.kim

**Command Name**
`az acr import`

**Errors:**
[code]

## To Reproduce:

have a port num as

[2019-09-13 10:49] SreekanthOAuth commented on #10483
Thanks. After upgrading web.config is getting created.

[2019-09-13 10:49] #10483 closed

[2019-09-13 10:57] jakubhalun commented on #10308
@rachel-msft yes indeed to the problem was with the environment variable. It was our fault resulting from coping a step between two pipelines that each executes on a different type of MS hosted-machine. Thank you very much for your test and sorry we took your time.

Still, I believe the regex pattern put in the error message is not valid with this double backslash and can be improved.

[2019-09-13 10:57] #10308 closed

[2019-09-13 12:57] yonzhan commented on #10519
@qwordy  please take a look and comment.

[2019-09-13 14:03] yonzhan commented on #10511
@MyronFanQiu  please take a look and comment.

[2019-09-13 16:39] ericmoses opened #10524 "Is az deployment related to auto-created deployment?"
Under a resource group =&gt; deployments, I see hundreds of deployments. These seem to be auto-generated(?) as I have no code that creates or generates them. Since I'm a heavy user, this sometimes leads to the error below:

Creating the deployment 'Microsoft.VirtualNetwork-20190226034727' would exceed the quota of '800'. The current deployment count is '800', please delete some deployments before

[2019-09-13 16:55] komcdo opened #10525 "Description not set with az bot create or az bot update"
**Describe the bug**
When running `az bot create` or `az bot update` and providing a description parameter, the description does not show up in the Azure portal after the bot has been created/updated.

**To Reproduce**
Create/update a bot while passing the description parameter
Example:
`az bot create -p "<password>" --appid "<guid>" -k webapp -n "korysanitizetest4" --lang CSharp -d "asdf" -g "<gr

[2019-09-13 16:58] dbilleci-lightstream opened #10526 "setup: invalid azure-mgmt-resource dependency"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr login --name {}`

## Expected Behavior

## Environment Summary
[code

[2019-09-13 20:59] cherimckeown commented on #10447
I am having this issues as well.  My user has both the Contributor and Storage Blob Data Contributor roles.  There is no firewall for my storage account.  Attached is the debug output (minus my keys and identifiers):
[debug_for_container_access_issue.txt](https://github.com/Azure/azure-cli/files/3611819/debug_for_container_access_issue.txt)

[2019-09-13 21:03] matt-FFFFFF commented on #10447
Hi,

Confirming no firewall and that the account has contributor access to the RG. Will test again with —debut and report back.

[2019-09-13 22:46] ahmedelnably commented on #10502
Thanks @rashmipatil, from the error it seems the code is having issues authenticating, can you execute `az login` again and re run the command? if it is still failing, please send us the output while specifying the --debug flag

[2019-09-13 23:23] number213 opened #10527 "PublicIpPrefix: add parameters PublicIpAddressVersion and IpTags"
**Resource Provider**
`Microsoft.Network`

**Description of Feature or Work Requested**
Two parameters that are the same as in PublicIpAddress: `PublicIpAddressVersion` which is either a `IPv4` or `IPv6` and a list of `IpTags`

**Minimum API Version Required**
2018-07-01

**Swagger Link**
Initial PR: https://github.com/Azure/azure-rest-api-specs/pull/3520
Current spec: https://github.com/Azure/azu

[2019-09-14 00:43] Juliehzl commented on #10518
@michaelw85 Thanks a lot for your feedback. Because it is related to service API, I think we can wait for service response for why detailed information is reduced.  I can reproduce this issue with storage account template. In "validatedResources" part, I can get the flooding information in API v2018-05-01:
[code]
With API v2019-05-10, I only get:
[code]

[2019-09-14 07:16] KevinZonda opened #10529 "custom-domain create fail."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cdn custom-domain create`

**Errors:**
[code]

## Produce:

- Deploy cdn and endpoint in the portal.
- `az cdn custom-domain create --endpoint-name {} --hostname {} --profile-name {} -g {} -n {}`

## Expected Behavior

Deployment seems be successful(in portal). But failed in Azure-cli retu

[2019-09-14 10:28] timwebster9 commented on #9831
Hi @yugangw-msft

How do you `leverage the Azure_Extension_dir` exactly?

[2019-09-14 11:01] sorensenp opened #10530 "The az webapp command is missing 'Hybrid-Connection'"
When I run the 'az webapp hybrid-connection' command locally or in Azure DevOps the 'hybrid-connection' subgroup is not listed and I receive the message:
'hybrid-connection' is not in the 'az webapp' command group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27c7cfef-5b38-2f56-5016-93dd4c248b6c
* Version Independent

[2019-09-14 11:29] DaveSin opened #10531 "webapp:[('PKCS12 routines', 'PKCS12_parse', 'mac verify failure')] when attempting to upload new certificate"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config ssl upload`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config ssl upload --name {} --resource-group {} --

[2019-09-14 13:22] lawsuf opened #10532 "az webapp up: error: argument --name/-n: expected one argument"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --name --resource-group --plan --sku --location {}`

## Expect

[2019-09-14 16:53] giovannifl opened #10533 ""az sql vm create" description is not correct"
Hello,
I believe it should be updated "az sql vm create" definition because what this command does is to "Register SQL Server IaaS extension in Full or Lightmode "

https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/windows/sql/virtual-machines-windows-sql-register-with-resource-provider.md

It doesn't literally create a SQL virtual machine  as stated

---
#### Docum

[2019-09-15 01:58] yonzhan commented on #10232
Resolved by https://github.com/Azure/azure-cli/pull/10497

[2019-09-15 01:58] #10232 closed

[2019-09-15 08:02] linuxunderground commented on #10130
My last findings :
If azure-cli-profile and other azure-cli-* (except azure-cli-core and telemetry) packages have become obsolete with current azure-cli package then this issue may be closed.

[2019-09-15 08:02] #10130 closed

[2019-09-15 08:23] SQLHorizons commented on #10250
az --upgrade would be to simple to expect?

[2019-09-15 16:01] Juliehzl commented on #10524
@ericmoses Thanks for your feedback. I am the new owner for `az deployment` command. From my current knowledge for `az deployment`, I think it cannot achieve what you want. But let's involve @yugangw-msft   for more information for this.

[2019-09-15 20:47] sbhuttan commented on #10520
Thanks for looking into this. TTL is still supported through the portal. Is support going away from portal as well? Or just not supported through CLI at this point?

[2019-09-16 01:37] MyronFanQiu commented on #10505
@malopMSFT Hello. Could you please answer the question? @jochenvanwylick  I checked the swagger spec. Looks like you can use this path `"/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/privateLinkResources"` to get the group-ids. https://github.com/Azure/azure-rest-api-specs/pull/6866/files. I will sync with @malopMSFT to support new

[2019-09-16 01:42] MyronFanQiu commented on #10527
@number213  Hello. Which command needs this new feature?

[2019-09-16 01:43] MyronFanQiu commented on #10520
@sbhuttan I assume that CLI doesn't support this feature at this point. I cannot image any reason that this feature will go away from portal.

[2019-09-16 01:50] MyronFanQiu commented on #10511
@DaveKlassen Thanks. Based on your trace, this issue isn't related with nic. I will check the dns part in detail. Meanwhile, is it possible for you to try other python version?

[2019-09-16 02:16] #9901 closed

[2019-09-16 02:53] qwordy commented on #9757
We have received your feature request.

[2019-09-16 02:54] #10124 closed

[2019-09-16 03:08] qwordy commented on #10211
If you have further questions, open a new issue. Thanks.

[2019-09-16 06:21] qwordy commented on #10469
OK. I need to perform an experiment with a large image to see what will happen.

[2019-09-16 06:23] qwordy commented on #10519
Your feature request has been added to Sprint 75.

[2019-09-16 06:25] amwate opened #10537 "Support for ipv6CircuitConnectionConfig object from Azure CLI"
**Resource Provider**
Network

**Description of Feature or Work Requested**
We have updated the Azure-Powershell with new Cmdlet, and have modified existing add cmdlet to support IPv6 address prefixes as well.

Changes :
1. Add-AzExpressRouteCircuitConnectionConfig: AddressPrefix parameter accepts a IPv6 address prefix.
In addition, PeerAddressType is added to support enum (IPv4/IPv6) as accepted

[2019-09-16 06:47] qwordy commented on #10464
Add to Sprint 75. Make error message more understandable.

[2019-09-16 06:53] MyronFanQiu commented on #10537
@anwate which api-version？2019-08-01？

[2019-09-16 07:22] harelbr commented on #10162
Disabling the alert rule of an Application Insights web test using the `az monitor metrics alert update` command isn't supported currently.

As a workaround, you can achieve this by directly modifying the 'enabled' property of the alert rule's underlying resource, using the following command:
`az resource update --set properties.enabled=false --name {} --resource-group {} --resource-type Microsoft

[2019-09-16 07:55] kloeffler commented on #10436
I apologize for the late response.
I did not provide any auth-mode running the command.
After it failed I tried using auth-mode login and key. Neither brought any other results.

"In addition, what is your (service principal) role for the storage account?" - what do you mean?

I meant on premise VMs, work laptops, desktops, etc... It will work fine from non-Azure-environment machines but fail from

[2019-09-16 08:11] qwordy commented on #9436
https://github.com/Azure/msrestazure-for-python/blob/master/msrestazure/azure_exceptions.py#L198
`self.error = self.deserializer('CloudErrorRoot', response).error`

I find the root cause. This line fails.

[2019-09-16 10:23] docunid opened #10538 "az login --service-principal --username <> --tenant <> --password <>/service-principal.key errors with below error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --service-principal --username {} --tenant {} --password {}`

## Expec

[2019-09-16 10:46] rgherta opened #10539 "Add support for Azure Bastion"
Hello It would be nice to add support for Azure Bastion to Azure CLI

[2019-09-16 11:21] MyronFanQiu commented on #10539
@rgherta Hello. Thanks for opening this issue. I need check the current status of this service and make a plan for it. It may take some time. I will share the update here later.

[2019-09-16 11:52] Carlovo commented on #10400
Sorry for the long delay. Anyway, I tried.

Running the command you state works. Probably because it gets executed as two separate scripts.
Running the script with Unix line endings doesn't work.

[2019-09-16 14:14] edwardsp commented on #9976
From looking at the commit I can't see this fixing the issue where a vnet can be in a different resource group to ANF.  All this patch does is extract the subnet from the string and build a new subnet_id with the resource group that is passed to it.

Also, if you specify a subnet id you could also extract the vnet from it - you wouldn't need to also specify it.

[2019-09-16 14:57] jurgyy commented on #10496
The `custom.py` file seems to reference a file called `azure\mgmt\apimanagement\models\api_management_client_enums.py` however if we look in the `azure\mgmt\apimanagement\models` directory we see that the file is actually called `_api_management_client_enums.py`.

Removing the underscore in the filename seems to work. But in order to not break anything else I advice you to copy the file and remove

[2019-09-16 16:58] matheus-santoro commented on #9665
Any updates on this?

VM created on azure today using Suse 12 SP4 same dependecy error.

suse-syslog:/scripts # cat /etc/os-release
NAME="SLES"
VERSION="12-SP4"
VERSION_ID="12.4"
PRETTY_NAME="SUSE Linux Enterprise Server 12 SP4"
ID="sles"
ANSI_COLOR="0;32"
CPE_NAME="cpe:/o:suse:sles:12:sp4

Problem: nothing provides python-virtualenv needed by azure-cli-2.0.72-1.el7.x86_64
 Solution 1: do not inst

[2019-09-16 18:36] number213 commented on #10527
@MyronFanQiu `network public-ip prefix`'s create/update

[2019-09-16 18:48] sumantmehtams commented on #10346
az dls commands work with ADLS Gen1 and not ADLS Gen2. So this is working as expected.

[2019-09-16 18:49] #10346 closed

[2019-09-16 20:04] sumantmehtams commented on #9729
@akharit to check with @yugangw-msft and close this out.

[2019-09-16 20:45] jfggdl commented on #10471
@HWouters, Thanks again for requesting this change. I am going to be closing this issue as we have this item tracked in our internal backlog. If you feel that you need to reopen the issues, please let us know and we will reopen it.

[2019-09-16 20:45] #10471 closed

[2019-09-16 20:54] divyagandhii opened #10541 "Add versioning support for linux consumption function apps"

[2019-09-16 20:54] divyagandhii commented on #10541
cc @ahmedelnably @ankitkumarr

[2019-09-16 21:48] itshemant09 opened #10542 "az webapp up --resource-group {} --sku {} --name {}` not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --resource-group {} --sku {} --name {}`

## Expected Behavior

[2019-09-16 21:51] panchagnula commented on #10542
Are you running the command from the directory where the code is & from the error message does this exist? /home/itshemant09/mslearn-secure-app-with-oidc-and-azure-ad/WebApp-OpenIDConnect-DotNet.cspro

[2019-09-16 22:22] itshemant09 commented on #10542
Thanks , Its resolved with your help

[2019-09-16 22:23] #10542 closed

[2019-09-16 23:39] number213 commented on #9380
@MyronFanQiu could you please take a look at this issue again? It seems the resource is available in all regions now
[code]

[2019-09-16 23:49] number213 opened #10543 "Add support for Firewall Policy"
**Resource Provider**
Microsoft.Network

**Description of Feature or Work Requested**
Please add new top-level resource Firewall Policy, it's child resource Rule Group and related reference to firewall policy in Azure Firewall.

**Minimum API Version Required**
2019-06-01

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/pull/6708

**Target Date**
No specific date unless @gimotwanMSF

[2019-09-16 23:53] number213 opened #10544 "Add support for VirtualHub in Azure Firewall"
**Resource Provider**
Microsoft.Network

**Description of Feature or Work Requested**
There is a way to attach Azure Firewall to Virtual Hub by adding reference in Azure Firewall's properties.
[code]
Please add support for that

**Minimum API Version Required**
2019-06-01

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/pull/6708

**Target Date**
No specific target date

[2019-09-17 00:00] HimeshRavi commented on #10250
@SQLHorizons that would be the most logical thing, but sadly it doesn't work :/

[2019-09-17 00:02] panchagnula commented on #7261
This has been fixed.

[2019-09-17 00:02] #7261 closed

[2019-09-17 00:45] kulkarnisonia16 commented on #10541
For Linux Consumption and Dedicated.

[2019-09-17 00:47] #8840 closed

[2019-09-17 01:19] #9729 closed

[2019-09-17 02:00] jiasli commented on #10538
Looks similar to https://github.com/Azure/azure-cli/issues/9970. Please let us know if this solves the issue. If not, please provide all commands used. Thanks.

[2019-09-17 02:05] jiasli commented on #10463
Thank you @porrascarlos802018. I have updated the initial description as well.

[2019-09-17 02:05] #10463 closed

[2019-09-17 02:43] MyronFanQiu commented on #10544
@number213 Hello. The link is under private repo. Could you please give me the corresponding PR in public repo?

[2019-09-17 02:44] MyronFanQiu commented on #10543
@number213 Thanks. I will take a look soon.

[2019-09-17 02:45] MyronFanQiu commented on #10537
@anwate 2019-06-01?

[2019-09-17 02:56] MyronFanQiu commented on #9380
@number213 No problem. I will take a look soon

[2019-09-17 05:56] amwate commented on #10537
It would be 2019-08-01

[2019-09-17 08:10] kautsig commented on #9250
I ran into the same issue of having to add an additional owner to an existing SP.

Unfortunately the API responds with "bad request":
```Unsupported resource type 'DirectoryObject' for operation 'Create'.```

My first suspicion was a permission problem, but I would expect a proper repsonse then. Any ideas?

[2019-09-17 10:07] hemant6488 commented on #7579
Any ETA on this yet?

[2019-09-17 13:58] Juliehzl commented on #10479
@chfa I think the different format is because you have different response content format. When you run `az resource show --ids "/subscriptions/$Subscription/providers/Microsoft.SerialConsole/consoleServices/default" | jq .properties --debug`, you can see the response content is in string format without line breaks. However, in the debug information you show, response content includes line breaks,

[2019-09-17 15:37] ivanignatiev commented on #10236
I have the same issue, all commands works well except "az storage"

[2019-09-17 16:50] ryansantaana commented on #9141
Is this feature going to be added soon?

[2019-09-17 16:50] number213 commented on #10544
@MyronFanQiu sorry, copied the wrong one. This is the PR in public repo: https://github.com/Azure/azure-rest-api-specs/pull/6708

[2019-09-17 16:56] divyagandhii commented on #10541
cc @pragnagopa

[2019-09-17 17:19] adewaleo commented on #10400
I doubt it gets run as separate scripts.

[code]
[code]

It shows how to use the run-command endpoint. You pass the lines of your script as a list of lines.

What payload is sent on to Azure (ARM) via the CLI when you run each of the two scenarios above with `--debug`?

[2019-09-17 17:29] fabiocav commented on #10541
@divyagandhii / @pragnagopa do we have an owner for this?

[2019-09-17 17:46] m4r10k commented on #7579
I have no new information on this, but I can ask back.

[2019-09-17 18:39] KrishnanHumanize opened #10548 "az webapp up is Failing consistently due to permissions on /home/krishnan.zip file"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --location {} --name {}`

## Expected Behavior

## Environment

[2019-09-17 20:12] ahmedelnably opened #10549 "az functionapp create and config needs to have a way to specify & config the runtime version"
az functionapp create and config needs to have a way to specify & config the runtime version

[2019-09-17 20:14] pragnagopa commented on #10549
Please ensure this follows same semantics as webapp. Here is an example for linux webapp: https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-create

[2019-09-17 20:15] pragnagopa commented on #10549
is this issue a dup of #Azure/azure-cli#10541 ?

[2019-09-17 20:17] ahmedelnably commented on #10541
closing this one, will track the work for Windows and Linux in https://github.com/Azure/azure-cli/issues/10549

[2019-09-17 20:17] #10541 closed

[2019-09-17 20:34] pragnagopa commented on #10549
cc @fabiocav  @Francisco-Gamino
@ankitkumarr / @ahmedelnably - can you please share proposed design for create flow?

[2019-09-17 21:10] ahmedelnably commented on #10549
We will introduce a new optional parameter called `--runtime-version` instead of aligning with az webapp

[2019-09-17 21:35] KrishnanHumanize opened #10550 "Deployment failing"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --location {} --name {}`

## Expected Behavior

## Environment

[2019-09-17 21:36] #10550 closed

[2019-09-17 21:36] KrishnanHumanize commented on #10550
duplicate

[2019-09-17 21:38] chfa commented on #10479
can you please add a transformer function?

thanks

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Zunli Hu <notifications@github.com>
Sent: Tuesday, September 17, 2019 6:58 AM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Chen Fan <chfa@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli] HTTP post request wrong Json out

[2019-09-17 21:55] rajarshi-singh commented on #7535
Thanks, this helps. Also note that you need Azure CLI version 2.0.68 or beyond for this extension to be available for installation.

[2019-09-17 21:56] panchagnula commented on #10548
@KrishnanHumanize how are you running this command? are you using cloudShell or running from a command line - if you are using a commandline make sure you run as ADMIN since the command creates a .zip file & needs permissions to write

[2019-09-17 22:03] KrishnanHumanize commented on #10548
Got it, Will go check on it. Good suggestion.

Best Regards
—
Krishnan

________________________________
From: Sisira Panchagnula <notifications@github.com>
Sent: Tuesday, September 17, 2019 2:56:16 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Krishnan Iyer (Humanize) <Krishnan@humanize.ngo>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli] az webapp up is Failing c

[2019-09-17 22:05] danielsollondon opened #10551 "Azure VM Image Builder"
**Resource Provider**
Microsoft.VirtualMachineImages

**Description of Feature or Work Requested**
Image builder simplifies custom image building for Windows and Linux, aiding migration, building more reliable images, without customers needing to learn how to build custom images for Azure.

Here is an intro video: https://www.youtube.com/watch?v=nalr2rHRDew&feature=youtu.be

For your team, here is

[2019-09-17 22:10] panchagnula commented on #10532
This means that the command parameters are being parsed correctly. I see that you are using -l  if this value has spaces make sure you use the value in double quotes ""

[2019-09-17 22:31] divyagandhii commented on #10549
@ahmedelnably @ankitkumarr Is there a specific reason for not aligning with the web app experience? We just need to update the existing --runtime flag to accept the version as well (--runtime "PYTHON|3.7") to align with webapps

[2019-09-17 22:43] ahmedelnably commented on #10549
it came down to consistency between the **Functions** experiences. As I believe the portal will be 2 drop down lists.

[2019-09-18 00:33] KrishnanHumanize commented on #10548
Hi Sisira, Can you help me get the command to give azure admin permissions? I am using the Azure CLI console from the portal.azure.com location. Thanks much. I could not find it.. on google.. or bing

[2019-09-18 01:42] pragnagopa commented on #10549
Can you please clarify what do you mean by

[2019-09-18 03:03] qwordy commented on #10551
We have received your feature request. I will reply later after I watch the video and read the link.

[2019-09-18 04:12] yanfa317 opened #10554 "Create new CLi for ManagedNetwork"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Microsoft.Azure.Management.ManagedNetwork

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.

ManagedNetwork will enable customer to control and configure their network from one single place. It will help

[2019-09-18 05:42] jeremysingh opened #10556 "Add support to deactivate Subscription via CLI"
**Is your feature request related to a problem? Please describe.**
Since it is possible to create a subscription via the Azure CLI:
https://docs.microsoft.com/en-us/cli/azure/ext/subscription/account?view=azure-cli-latest

I would like to see the same to deactivate a subscription.

**Describe the solution you'd like**
Similar to az account create:
az account deactivate --name
                  [--

[2019-09-18 06:35] qwordy commented on #10156
We have received you feature request.

[2019-09-18 07:28] #10354 closed

[2019-09-18 07:29] qwordy opened #10560 "Remember to fix failed test cases in regression testing of live mode."
Remember to fix failed test cases in regression testing of live mode.
test_vm_commands.VMManagedDiskScenarioTest.test_vm_large_disk
test_vm_commands.VMDiskAttachDetachTest.test_vm_ultra_ssd_disk_update
test_vm_commands.VMDiskAttachDetachTest.test_vm_ultra_ssd_storage_sku

[2019-09-18 07:31] qwordy commented on #10560
Sure!

[2019-09-18 08:34] jakaruna-MSFT commented on #10523
@adewaleo Providing the port number fails in validation.
Is providing port number supported?

[2019-09-18 09:40] jurgyy opened #10562 "az rest fails to parse json whitespace"
**Describe the bug**
Using powershell, az rest fails to parse my json correctly. I already read issue #9742 where @konrad-jamrozik had troubles parsing json correctly and he ended up having to escape the quotes (with `\"` not `` `" ``, the .ps1 escape character). So I tried that, but it didn't solve all my problems. After some fiddling I found the problem: It was the whitespace in a string.

**To

[2019-09-18 11:50] MyronFanQiu commented on #10554
@yanfa317 Thanks. I will check it soon and it's better for us to have a short meeting next week.

[2019-09-18 12:03] kloeffler commented on #10436
The problem has been solved. It was a firewall issue after all.
The error message was confusing though.
Thank you.

[2019-09-18 12:03] #10436 closed

[2019-09-18 12:29] pascalnaber opened #10563 "az ad app permission list gives error when a permission is not granted"
**Describe the bug**
When a permission is added which needs a grant, "az ad app permission list" gives an exception.
After the grant it works again as it should.

**To Reproduce**
Create Client SPN
Create Backend SPN
Configure Oauth on BackendSPN

Request Permissions from Client SPN
az ad app permission list --id $SPN_CLIENT_ID

Add Permissions
az ad app permission add --id $SPN_CLIENT_ID --api $S

[2019-09-18 12:30] MyronFanQiu commented on #10537
@amwate. Looks like the 2019-08-01 has not been published. If you need this feature in the future, please open another issue or reopen this one and @me. Thanks.

[2019-09-18 12:46] MyronFanQiu commented on #10537
@amwate. Do you have any idea about the ETA of 2019-08-01 version?

[2019-09-18 12:49] amwate commented on #10537
It should be in anytime as per the release schedule on One note
https://microsoft.sharepoint.com/teams/WAG/AzureNetworking/_layouts/OneNote.aspx?id=%2Fteams%2FWAG%2FAzureNetworking%2FOneNotes%2FNRP%20migrated&wd=target%28Hydra%20%2B%20SDK.one%7C96F7B95B-A378-4CA5-903B-C88F894873EF%2FContribution%20milestones%7CA21DA6B0-FCD4-4C63-AEDD-D2352254ECC5%2F%29
onenote:https://microsoft.sharepoint.com/team

[2019-09-18 12:58] MyronFanQiu commented on #10537
@amwate The SDK will be released on 10/23 which is behind 10/15.

[2019-09-18 14:12] adodado opened #10564 "Cant login and get subscriptions in CLI"
When i try to login with Azure CLI i cannot get my subscriptions. But if i login via browser there is no issue. Please help.

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Enviro

[2019-09-18 16:10] KrishnanHumanize commented on #10548
Sisira did you see my message ?

Best Regards
—
Krishnan

________________________________
From: Krishnan Iyer (Humanize)
Sent: Tuesday, September 17, 2019 3:02:54 PM
To: Azure/azure-cli <reply@reply.github.com>; Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli] az webapp up is Failing consistently due to permissions on /home/kri

[2019-09-18 17:04] panchagnula commented on #10548
@KrishnanHumanize i am confused on how you are trying to use the az webapp up command from the portal cloudShell , webapp up creates its own zip with the contents - there is nothing you need to do in this case for Admin permissions.  can you follow the tutorial here https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-python#use-azure-cloud-shell

[2019-09-18 17:10] KrishnanHumanize commented on #10548
Hi Sisira, thank you for your response. I am trying to push configuration for a website from github over to Azure. One of my developers was able to do that and it worked. But when I try to do it – it fails in the zip file step.

git clone git@github.com:<git<mailto:git@github.com:%3cgit> repository>
az webapp up --location <locale>  --name <websitename>

Does this clear things up?

Thanks

From: S

[2019-09-18 17:17] panchagnula commented on #10548
if you look at the tutorial link you will see that you need to run az webapp up from the context of the dir where the content of the code to be deployed is.
So after git clone git@github.com:<git<mailto:git@github.com:%3cgit> repository>

you need to cd to the directory where the repo is cloned to

see the first line of this https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-

[2019-09-18 17:19] KrishnanHumanize commented on #10548
Ok got it!! I did just that and it worked. Thank you so much. Appreciate it.

From: Sisira Panchagnula <notifications@github.com>
Sent: Wednesday, September 18, 2019 10:17 AM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Krishnan Iyer (Humanize) <Krishnan@humanize.ngo>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli] az webapp up is Failing consistently due to permissi

[2019-09-18 17:20] #10548 closed

[2019-09-18 17:26] KrishnanHumanize commented on #10548
Sisira – sorry one more thing – maybe permissions related. When I go to that website URL it says
“ You do not have permission to view this directory or page. “

The new directory I created do I have to give it permissions? I did not see any permission steps in the link you sent me.

Thanks
--
Krishnan

From: Sisira Panchagnula <notifications@github.com>
Sent: Wednesday, September 18, 2019 10:21 AM

[2019-09-18 17:28] panchagnula commented on #10548
that just means on loading the site we are receiving a 500, which means for the repo you are using you might need some extra set up to be complete like connect a DB or something. All this command does is takes the content & deploys it.

[2019-09-18 17:29] #8407 closed

[2019-09-18 17:31] #9955 closed

[2019-09-18 17:33] akramwaseem commented on #9384
@yugangw-msft -- It's still the same. I don't see anything changed even after upgrading to latest version.
▶ az --version                                                                                                                                                     (K8AKSGreenProsDv2/default)
azure-cli                         2.0.72 *

command-modules-nspkg               2.0.3
core

[2019-09-18 17:33] akramwaseem commented on #9384
/reopen

[2019-09-18 17:36] KrishnanHumanize commented on #10548
Ok got it. Really appreciate it – this is the first time we are deploying the DB – so maybe that’s why its broken. Is there a way I can create a diagnostic log that I can share with the developers?

We know it works without the Database portions.

Thanks
--
Krishnan

From: Sisira Panchagnula <notifications@github.com>
Sent: Wednesday, September 18, 2019 10:29 AM
To: Azure/azure-cli <azure-cli@nore

[2019-09-18 17:39] panchagnula commented on #10548
NP - happy to help however we can. if you open the app on the Portal & select 'Diagnose and Solve Problems' you can see if that gives you some useful information for debugging. One thing you can also try is that you stop & restart the App & see if some configuration on app needs an app restart.

[2019-09-18 18:14] MarkHerhold commented on #10194
I'm having the same issue on MacOS.

[code]

Version:
[code]

[2019-09-18 19:04] akramwaseem opened #10568 "Need a proper examples for the az ad sp update"
Hi,
Is there a proper example on how to use the az ad sp update --id &lt;&gt; --add &lt;&gt; command.
Looks like there  is none on the page even for some of the other sections.
Can you please add a proper example, so people can easily understand it.
something like : az ad sp update --id &lt;http://test-sp-account&gt; --add &lt;appDisplayName=newname&gt;
Not sure if the above one is correct.

also

[2019-09-18 20:10] akramwaseem commented on #10568
Update on the issue :
if I do : az ad sp create-for-rbac -n test-sp-testother --skip-assignment -o json
it works fine.
and the name shows "appDisplayName": "test-sp-testother",

adding http://test-sp-testother  throws it of.

[2019-09-18 21:15] j-windsor commented on #10339
This is a weakness in the implementation of azure-cli. I have a similar issue and the error is in az.cmd, meaning that even if you use powershell, its running a windows command prompt command, not a powershell module. @qwordy, it would be great if you could build a powershell module as well. For now, I am going to try AzureRM as my workaround, but I would consider this issue open.

[2019-09-18 21:55] rachel-msft commented on #10419
#please-close

[2019-09-18 21:57] mbalsam-refind commented on #6537
I just reported this to my azure support account. Ticket number 119091824005018.

[2019-09-18 22:35] SatishRanjan opened #10569 "The command az aks create failed with an unexpected error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --node-count {} --enable-addon

[2019-09-18 22:59] kulkarnisonia16 commented on #10549
This is waiting on Ant85 release.

[2019-09-19 00:01] panchagnula commented on #10530
@sorensenp what is the version of CLI you are using?

[2019-09-19 01:56] jiasli commented on #10564
Is `-t` used or simply `az login`? Could you share the `--debug` output to my email?

[2019-09-19 02:09] oising commented on #10422
This is a blocker for me. Any updates?

[2019-09-19 02:12] Drewm3 commented on #1788
Cleaning up old issues from 2016 - 2018. Please reactivate this if it is still a problem.

[2019-09-19 02:12] #1788 closed

[2019-09-19 02:31] jiasli commented on #10568
`-add` is a generic update operation: https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#using-the-generic-update-arguments

The actual value is defined by Azure AD Graph API: https://docs.microsoft.com/en-us/previous-versions/azure/ad/graph/api/api-catalog

'Display name' is for Application instead of Service Principal. The proper way is to use `az ad app update
` to update `-

[2019-09-19 02:35] Juliehzl commented on #10562
@jurgyy Thanks a lot for your feedback. I am out of office now and I will have a look when come back.

[2019-09-19 04:19] somesh84 opened #10570 "Create CLI for Microsoft Azure Peering Service"
**Is your feature request related to a problem? Please describe.**
Microsoft Azure peering service is a new service for Microsoft customers to connect using Internet. This service provides reliable and fast internet path from customers branch office to Microsoft network.

**Describe the solution you'd like**
We have powershell today, we would like to add CLI.

**Describe alternatives you've consid

[2019-09-19 04:25] MyronFanQiu commented on #10570
@somesh84 Thanks. I will take a look soon.

[2019-09-19 04:27] somesh84 commented on #10570
thanks
________________________________
From: MyronFanQiu <notifications@github.com>
Sent: Wednesday, September 18, 2019 9:25 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Somesh Chaturmohta <somesh@live.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli] Create CLI for Microsoft Azure Peering Service (#10570)

@somesh84<https://github.com/somesh84> Thanks. I will

[2019-09-19 05:00] stevengum commented on #9954
@ericchansen, @CezaryMarcjan this is at risk; when using the Azure CLI to create a new directline site, the new parameters `--is-secure-site-enabled` and `--trusted-origins` are passed along to the request and sent to the server but the response does not configure the appropriate settings using these two values.

I'm going to follow up with @swagatmishra2007 in the morning to see if we can figure

[2019-09-19 05:01] jiasli commented on #9384
Please test if 2.0.73 work. Here is my result:

[code]

[2019-09-19 05:02] jiasli commented on #9384
Please test if 2.0.73 works. Here is my result:

[code]

[2019-09-19 05:57] qwordy commented on #9436
msrestazure has fixed the bug:
https://github.com/Azure/msrestazure-for-python/pull/135

[2019-09-19 06:25] Drewm3 commented on #4232
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:25] #4232 closed

[2019-09-19 06:25] Drewm3 commented on #4341
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:25] #4341 closed

[2019-09-19 06:25] Drewm3 commented on #4553
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:25] #4553 closed

[2019-09-19 06:26] Drewm3 commented on #4796
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:26] #4796 closed

[2019-09-19 06:27] Drewm3 commented on #5103
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:27] #5103 closed

[2019-09-19 06:28] Drewm3 commented on #3809
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:28] #3809 closed

[2019-09-19 06:35] Drewm3 commented on #5243
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:35] #5243 closed

[2019-09-19 06:36] Drewm3 commented on #5313
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:36] #5313 closed

[2019-09-19 06:37] Drewm3 commented on #5727
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:37] #5727 closed

[2019-09-19 06:38] Drewm3 commented on #5736
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:38] #5736 closed

[2019-09-19 06:39] Drewm3 commented on #6440
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:39] #6440 closed

[2019-09-19 06:40] Drewm3 commented on #6773
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:40] #6773 closed

[2019-09-19 06:41] Drewm3 commented on #6898
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:41] Drewm3 commented on #6954
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:41] #6954 closed

[2019-09-19 06:41] Drewm3 commented on #6970
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:41] #6970 closed

[2019-09-19 06:41] Drewm3 commented on #7262
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:41] #7262 closed

[2019-09-19 06:42] Drewm3 commented on #7356
Cleaning up old issues from 2016 - 2018. Please reopen this issue if it is still a concern.

[2019-09-19 06:42] #7356 closed

[2019-09-19 06:43] sorensenp commented on #10530
Hi Sisira,

I have updated my CLI to the latest version and the switch is now appearing.

Thanks for your help.

Kind Regards,
Paul.

On Thu, Sep 19, 2019 at 10:01 AM Sisira Panchagnula <
notifications@github.com> wrote:

[2019-09-19 07:05] #9436 closed

[2019-09-19 08:57] qwordy commented on #10339
After debug, I found the problem happens before the Azure CLI entrance function. It's not recommended to use a too long command. For-loop is pervasive in most shell environments like bash, cmd, powershell.

[2019-09-19 09:03] Bschitter opened #10574 "Bad Request 400 with command 'az functionapp deployment source config-zip' for Linux function apps"
**Describe the bug**
On running the command `az functionapp deployment source config-zip  -g myResourceGroup -n <app_name> --src <zip_file_path>` the Azure CLI returns sometimes a Bad Request 400 error on Linux function apps.

**To Reproduce**
 - `az group create --name myResourceGroup --location westeurope`
 - `az storage account create --name <storage_name> --location westeurope --resource-group

[2019-09-19 09:06] #10361 closed

[2019-09-19 11:17] amiraliw opened #10575 ""az apim update" does not work"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim update --resource-groups {} --name {} --publisher-mail {}`

## Ex

[2019-09-19 11:39] jiasli commented on #10563
Thank you for reaching us. We will investigate this issue.

[2019-09-19 12:02] midacts opened #10576 "Question: What tool to use to test azure cli"
What testing framework do most people use to unit/acceptance/integration test their azure cli code?

Python uses pytest.
PowerShell uses Pester.
Ansible uses Molecule.
etc

[2019-09-19 14:29] CapitalistHippie opened #10577 "az appservice plan create resets plan SKU to B1"
## Describe the bug
The az appservice plan create command without the SKU parameter specified resets the app service plan SKU when run on an existing plan. It resets it back to the default: B1. This goes against the idempotent nature of Azure CLI and makes it difficult for us to manually scale services while also deploying new versions of our software.

**Command Name**
`az appservice plan create`

[2019-09-19 14:46] sloscialo opened #10578 "az login hangs after selecting account"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
The command does launches a browser and allows me to select an account. After selecting an account, the browser just spins and the shell just waits.

I've left it running for 5 minutes before closing the browser or hitting `Ctrl-C`.

## To Reproduce:
Steps to reproduce

[2019-09-19 16:02] dangrima90 commented on #10374
@Juliehzl using the `az storage remove` with `--exclude` how can one ignore a directory?

I'm running the following command, but everything is being deleted:

`az storage remove -c $web --acount-name storageaccountname` -n folder --recursive --exclude "folder-to-ignore/*"

I had a look at the [documentation](https://docs.microsoft.com/en-us/cli/azure/storage?view=azure-cli-latest#az-storage-remove

[2019-09-19 17:02] pemari-msft commented on #3983
We have supported this:
``A way to serve some default sub-blob for requests for foo/bar/ paths
that end with a slash.``

and this:
`` dealing with the redirections`` is in our backlog. Sorry for the missed response.

[2019-09-19 17:02] #3983 closed

[2019-09-19 17:28] panchagnula commented on #10530
Great thanks for the update @sorensenp

[2019-09-19 17:28] #10530 closed

[2019-09-19 17:40] elibarzilay commented on #3983
@pemari-msft, I see that the first bullet works with a random jpeg, and I'm happy that redirections are planned.

But I still don't see serving `some/path/index.html` when browsing `some/path/`.  If you're talking about the special `$web` blob, than that's different since it forces moving blobs...

[2019-09-19 17:42] panchagnula commented on #10577
@CapitalistHippie - B1 is the default SKU value of appservice plan create it calls it out in the documentation https://docs.microsoft.com/en-us/cli/azure/appservice/plan?view=azure-cli-latest#az-appservice-plan-create

accepted values: B1, B2, B3, D1, F1, FREE, P1V2, P2V2, P3V2, PC2, PC3, PC4, S1, S2, S3, SHARED
default value: B1

What i am trying to understand here is this command is meant to cre

[2019-09-19 18:07] dbilleci-lightstream commented on #5866
Does anyone actually work for Microsoft lol what a joke

[2019-09-19 18:44] adewaleo commented on #10523
This is a service side validation issue. Not a CLI issue. I am looking into it

[2019-09-19 20:06] shaunco opened #10579 "az ad app update needs to support set/add of oauth2AllowIdTokenImplicitFlow"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Now that oauth2AllowIdTokenImplicitFlow is split out of oauth2AllowImplicitFlow, azure-cli needs to support oauth2AllowIdTokenImplicitFlow. Trying to --set or --add the oauth2AllowIdTokenImplicitFlow property results in the errors below.

**Command Name**
`az ad app update`

**Errors:**
1:
[code]

2:
[code]

##

[2019-09-19 20:23] BillMincey opened #10580 "Cannot run az commands in powershell or cmd.exe after upgrade"
**Describe the bug**
Cannot run az commands in powershell or cmd.exe after upgrade

**To Reproduce**
Install latest MSI
Run PowerShell as administrator
execute **az login**

receive this error:
Traceback (most recent call last):
  File "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Program Files (x86)\Microsoft

[2019-09-19 20:35] stevengum commented on #9954
Unfortunately we're blocked for this, and tentatively targeting the first week in October for getting the REST API up and running.

[2019-09-19 20:51] CapitalistHippie commented on #10577
We are using the command to create the ASP. The problem we're having with it is that the command resets the SKU back to B1 when the ASP already exists.

[2019-09-19 21:07] panchagnula commented on #10577
Are you saying that you are using the command with a name that already exists? Ideally we would not let you use this command with an existing ASP name but due to  these command guidelines
https://github.com/Azure/azure-cli/blob/dev/doc/command_guidelines.md

so for now i recommend you can pass a SKU parameter  this command, so that at the end you get ASP of your choice doesn't matter it exists or

[2019-09-19 22:11] shurd commented on #4505
Hi all, thank you for your patience. This change is something that we are making in our resource provider, so it does not follow the CLI release schedule. The change should be deployed in the next 2-3 weeks. I will update this issue when it is in production.

After the change, you will be able to create database accounts with names up to 44 characters long. The error message will better reflect th

[2019-09-20 00:49] Drewm3 commented on #2394
Cleaning up old issues from 2016 - 2018. Please let us know if this issue if it is still a concern.

[2019-09-20 00:49] #2394 closed

[2019-09-20 00:55] Drewm3 commented on #2633
Cleaning up old issues from 2016 - 2018. Please let us know if this issue is still a concern.

[2019-09-20 00:55] #2633 closed

[2019-09-20 00:55] Drewm3 commented on #2974
Cleaning up old issues from 2016 - 2018. Please let us know if this issue is still a concern.

[2019-09-20 00:55] #2974 closed

[2019-09-20 01:45] MyronFanQiu commented on #10570
@psanapathi Hello. Is [this](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/peering/resource-manager/Microsoft.Peering/preview/2019-08-01-preview/peering.json) the public swagger spec? I checked the python SDK, however I cannot find the corresponding SDK. Do we have python SDK?

[2019-09-20 01:46] somesh84 commented on #10570
+ Praneeth
________________________________
From: MyronFanQiu <notifications@github.com>
Sent: Thursday, September 19, 2019 6:45 PM
To: Azure/azure-cli
Cc: Somesh Chaturmohta; Mention
Subject: Re: [Azure/azure-cli] Create CLI for Microsoft Azure Peering Service (#10570)

@psanapathi<https://github.com/psanapathi> Hello. Isthis<https://github.com/Azure/azure-rest-api-specs/blob/master/specification

[2019-09-20 02:01] psanapathi commented on #10570
Yes, that's the public spec. And, yes, we don't have Python SDK. We have [readme](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/peering/resource-manager/readme.python.md) for generating Python SDK automatically but AutorestCI doesn't pick this up.
![image](https://user-images.githubusercontent.com/1693630/65293273-87274180-db0f-11e9-9758-99f588d0d793.png)

[2019-09-20 02:08] Juliehzl commented on #10474
Fixed in PR #10535

[2019-09-20 02:08] #10474 closed

[2019-09-20 02:14] Juliehzl commented on #8937
dupe of ##10354

[2019-09-20 02:15] #8937 closed

[2019-09-20 02:18] MyronFanQiu commented on #10570
@psanapathi Hi. You can send a request for python SDK through https://portal.azure-devex-tools.com/

[2019-09-20 02:31] qwordy commented on #10576
We use unittest library. And we write our own testing module based on it. It includes features like recording, replay, etc.
https://docs.python.org/3/library/unittest.html
https://github.com/Azure/azure-cli/tree/dev/src/azure-cli-testsdk

[2019-09-20 02:40] midacts commented on #10576
Moreso as a consumer of the module, what do you see end users using to test their azure-cli code?

[2019-09-20 03:21] qwordy commented on #10576
@zikalino Do you have any idea?

[2019-09-20 03:24] qwordy commented on #4611
Close issue for it's inactive for a long time.

[2019-09-20 05:06] jakaruna-MSFT commented on #10523
Thanks @adewaleo .
Then we cant make that work with private registries right.

[2019-09-20 06:24] jiasli commented on #10578
Azure CLI opens port 8400 to listen to returned auth code. The hang is usually caused by blocked 8400 port. You may use **psping** to test if port 8400 can be reached: https://docs.microsoft.com/en-us/sysinternals/downloads/psping
[code]
If the device can't open 8400, you may use `az login --use-device-code`.

[2019-09-20 06:31] #10272 closed

[2019-09-20 06:33] jiasli commented on #10439
Thank you for the feedback. We will consider this as a feature request.

[2019-09-20 06:40] jiasli commented on #10579
Similar to https://github.com/Azure/azure-cli/issues/9992. `oauth2AllowIdTokenImplicitFlow` is defined in AAD doc
https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest
but missing from REST API
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json

We will work with AAD team to fix

[2019-09-20 07:56] jiasli commented on #10580
Tested with a new Windows 10 Pro 1809 VM which runs CLI correctly. Please remove `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2` and reinstall.

[2019-09-20 09:46] dangrima90 commented on #10374
I think I found what the issue is from my end. I'm trying to ignore a sub-folder of the folder being deleted, example:

`az storage remove -c $web --account-name storageaccountname -n folder --recursive --exclude "folder-to-ignore/*" `

Where the path is `"$web/folder/folder-to-ignore/"`

Since the function is recursive I guess you cannot exclude a sub-folder in that case.

[2019-09-20 10:40] olesjo opened #10587 "webapp: Seems like more attributes are required then specified here"
When running the command

az webapp webjob triggered run --webjob-name nameofmywebjobhere

I get the following error in azure devops: ERROR: (--resource-group --name | --ids) are required

---
#### Dokumentinformasjon

⚠ *Ikke rediger denne delen. Den kreves for koblingen docs.microsoft.com ➟ GitHub-problem.*

* ID: 658f1fef-16b7-df78-9d60-926f6699943a
* Version Independent ID: d3354ba5-8dba-1c56-

[2019-09-20 11:57] jecarlsen commented on #9831
I'd like to upvote as well.
Unfortunately it prevents me from pre-installing the extension for my vscode-containers remote dev box.
My own attempt both using user and none-user fails with "INFO: Suppress exception There are no active accounts."

Sample build:
`Step 11/13 : USER vscode
Step 12/13 : RUN az extension add --name azure-devops --verbose     && az extension add --name dev-spaces     && a

[2019-09-20 15:57] akezyt commented on #10422
Any update? I also ran into this issue on Windows 10.

Windows-10-10.0.18362
Python 3.6.6
Shell: cmd.exe

azure-cli 2.0.73

[2019-09-20 16:07] brianstringfellow commented on #9300
I still see the problem when I deploy a new Cosmos DB account. Deployed using an ARM template from PowerShell that indicated a successful deployment.

![image](https://user-images.githubusercontent.com/22823524/65341316-ed9a7700-db84-11e9-9ca7-a9230e4fddf5.png)

Partial deployment output without giving up too much info about environment:
[code]
and
[code]

[2019-09-20 16:22] mjconnection commented on #10321
@Azure/aks-pm - Testing

[2019-09-20 17:59] panchagnula commented on #7888
Moving this out to the next sprint

[2019-09-20 18:00] panchagnula commented on #10043
@btardif lets sync on this next week

[2019-09-20 18:02] panchagnula commented on #9887
@ahmedelnably we don't have an ETA on this -if there is an urgency for this, this needs to be reassigned. Thank you.

[2019-09-20 18:04] panchagnula commented on #6463
changing the ETA

[2019-09-20 18:05] panchagnula commented on #5760
still waiting for PR to be completed on this - updating milestone.

[2019-09-20 18:10] ahmedelnably commented on #9887
@mattchenderson for FYI

[2019-09-20 18:13] panchagnula commented on #8742
the current plan is to support this with az webapp up

[2019-09-20 18:17] panchagnula commented on #8743
we will add support for this to the existing deployment command

[2019-09-20 18:23] panchagnula commented on #10476
tracked by PR #10522

[2019-09-20 22:31] ifeoluwaokunoren commented on #9142
@fidorz & @alex-frankel can you please address this issue - thank you.

[2019-09-20 22:55] nwohlgemuth opened #10592 "Minor grammar issue"
Documentation for --timeout option "The time in seconds allowed for endpoints to response to a health check." has a minor grammar issue - should be "respond" instead of "response".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8f3db91-d932-fd75-a98e-e125bc297ca8
* Version Independent ID: 985b32d5-634c-9883-6e27-223cb

[2019-09-20 23:21] seanmck commented on #10569
@SatishRanjan which add-ons were you trying to enable on your cluster?

[2019-09-20 23:23] seanmck commented on #10408
Closing due to lack of response. If you are still seeing this and can provide more repro detail, please reopen.

[2019-09-20 23:23] #10408 closed

[2019-09-21 00:50] adewaleo commented on #10523
No sorry, I made a mistake.

What I mean is I don't believe it would work for a [locally running  registry](https://docs.docker.com/registry/deploying/#run-a-local-registry). Which is a common reason to use a port number with docker commands.

acr import works for private registry given certain prereqs. Please see the [docs ](https://docs.microsoft.com/en-us/azure/container-registry/container-regi

[2019-09-21 12:31] sumgr0 opened #10606 "Error when running the az webapp up on my debian 10 box running azure-cli version 2.70"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --location {} --name {}`

## Expected Behavior

## Environment

[2019-09-21 12:52] qwordy commented on #10478
PR has been merged. Close.

[2019-09-21 12:52] #10478 closed

[2019-09-21 12:52] qwordy commented on #10477
PR has been merged. Close.

[2019-09-21 12:52] #10477 closed

[2019-09-21 15:03] panchagnula commented on #10606
this is a known issue that was fixed on a later version. You can fix this either by installing the newer cli version https://github.com/Azure/azure-cli/releases/tag/azure-cli-2.0.72 or install Python 3.5 on your machine.

[2019-09-21 15:14] carlosMedrano27 opened #10607 "webapp:App service configuration variables"
I'm running an app service on azure using Ruby on Rails and Ubuntu, the problem is that with Application settings, I add a variable for Azure Container Key is not recognizing the '==' that are at the end of the key, I try to add '/=/=' instead and is not working, I also try to put the hole key around double quotes but still not working, I also try to generate new keys but it seems that every keys

[2019-09-21 15:15] sumgr0 commented on #10606
Thanks for the quick revert @panchagnula. I've already got the python3.7.3 installed, so as a workaround, created an alias to python pointing to my python3 location.

What is the best way to install the azure-cli2.0.72 on debian 10, since the repos are not available yet?

[2019-09-21 16:49] panchagnula commented on #10606
Have you tried using this command pip install azure-cli==2.0.72

[2019-09-21 17:20] Salamandastron1 opened #10608 "az acr --login requires Docker"
**Describe the bug**
A clear and concise description of what the bug is.
`az acr login` requires that docker be running a docker daemon as the azure cli runs `docker ps`. I am trying to run the login command as part of a pipeline with with microsoft azure cli docker image. I don't care about docker, I care about the azure login. Please remove the tight coupling.

**To Reproduce**
Steps to reproduc

[2019-09-21 17:56] sumgr0 commented on #10606
This worked, thanks @panchagnula

[2019-09-21 21:56] panchagnula commented on #10606
I am going to close this one out.

[2019-09-21 21:56] #10606 closed

[2019-09-21 21:57] panchagnula commented on #10577
I am closing this out - with the recommendation to pass SKU if using this to set a SKU to an existing ASP or use the show command to view the properties of an existing command. Thanks!

[2019-09-21 21:57] #10577 closed

[2019-09-21 21:59] panchagnula commented on #10532
Closing this since I haven't heard back on this for 4 days now. Please let us know if you are still seeing this. Thanks!

[2019-09-21 21:59] #10532 closed

[2019-09-22 01:44] MyronFanQiu commented on #10162
@Sviatik Hello. Since service team doesn't provide SDK for CLI currently. I will left this issue open and move it to backlog.

[2019-09-22 01:49] MyronFanQiu opened #10609 ""--workspace" for vm create/update"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-09-22 01:49] MyronFanQiu commented on #10609
Plan for sprint 75

[2019-09-22 08:58] yonzhan commented on #9598
Close this issue since no response for months. Please create a new issue for further question.

[2019-09-22 08:58] #9598 closed

[2019-09-22 09:00] yonzhan commented on #9788
@panchagnula What is the status of this issue ? Can we close it or move to next milestone ?

[2019-09-22 09:02] yonzhan commented on #9972
@panchagnula What is the current status of this issue ?

[2019-09-22 09:04] yonzhan commented on #9291
@panchagnula what is the status of this issue ?

[2019-09-22 09:17] CapitalistHippie commented on #10577
The recommended solution does not work in our situation. We want to be able to manually scale our app service plans up or down without our CD pipelines setting it to a constant value.

We have also considered a solution where we check if the app service plan already exists or not. If it already exists we could then just not create the app service plan again. This solution however would introduce a

[2019-09-22 12:06] kishoreachint commented on #1871
Hello I got the same issue. I re-install the azure cli by using az aks install-cli. After that added the same in environmental variable. Make sure that you add the C:\Users<user>.azure-kubectl" to your search path.

For current session, run Run "set PATH=%PATH%;C:\Users\achin.azure-kubectl" or "$env:path += 'C:\Users\achin.azure-kubectl'" for PowerShell.

For future, Update system PATH environment

[2019-09-22 14:21] ivanguravel opened #10610 "Can't list/get users from managed system identity on vm"
**Describe the bug**
I assigned `Global administrator` permissions on my MSI, but when i call `az ad user list` and see `Insufficient privileges to complete the operation.`

**To Reproduce**
1) Create VM
2) Assign MSI to that
3) go to AAD
4) assign role `Global administrator` to your MSI
5) login to VM and do `az ad user list`

**Expected behavior**
command should return list of users

**Environme

[2019-09-23 01:32] MyronFanQiu commented on #10592
@nwohlgemuth Thanks. I will make a fix for this issue soon.

[2019-09-23 02:23] yonzhan commented on #8820
@jiasli please take a look and comment.

[2019-09-23 03:27] yugangw-msft commented on #9628
We are closing it as we don't have enough information to diagnose the root cause. Please reactivate with more data.

[2019-09-23 03:27] #9628 closed

[2019-09-23 03:30] yugangw-msft commented on #9386
We are deprecating the support on Python 2.7. Hence we are won't fix this.

[2019-09-23 03:30] #9386 closed

[2019-09-23 03:35] yugangw-msft commented on #4514
@yonzhan, suggest assign to a CLI crew member and handle all tests which were marked as record_only

[2019-09-23 04:20] jakaruna-MSFT commented on #10523
@adewaleo Thank you.
Its clear now.

[2019-09-23 05:33] Juliehzl commented on #10370
@hKaspy When I want to reproduce your issue, it looks "<" works but ")" cannot be parsed correctly in PS. Can you verify it?
I really agree with what @jaredmoo said, it is more related to PS and there is a little we can do. But I will add these specific letters scenario in CLI document [here](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md) to make users know these cases and

[2019-09-23 05:57] Juliehzl commented on #10038
Hi @mgwelch can you try your command with the latest azure-cli version? I cannot reproduce your issue now.

[2019-09-23 05:57] qwordy commented on #10464
The user's problem has been solved. However, we'll improve user experience by providing more accurate error information in future release. Close the issue.

[2019-09-23 05:57] #10464 closed

[2019-09-23 05:59] Juliehzl commented on #9407
Hi @Mrmozz, can you show me more information with `--debug` appended? I cannot reproduce your issue with azure cli 2.0.73.

[2019-09-23 05:59] qwordy commented on #10309
Close issue for it's inactive for a long time.

[2019-09-23 05:59] #10309 closed

[2019-09-23 06:14] #10592 closed

[2019-09-23 07:13] hKaspy commented on #10370
@Juliehzl Tested again with following config, issue still completely valid. However it does not happen in cmd.exe.
[code]

I disagree with you and @jaredmoo, as this hints at bad string handling inside your script, since this happens no mather what string quotation technique I use. Per [powershell documentation](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/abo

[2019-09-23 07:37] hKaspy commented on #10370
Tested now with Azure Key Vault, so we can rule out the SQL:

[code]

[2019-09-23 08:41] vwxyzh opened #10613 "Batch file stopped after az command."
**Describe the bug**
Command line stopped after execute az command.

**To Reproduce**
Create an batch file like following:
[code]

**Expected behavior**
Show Great! after run `az --help`

**Environment summary**
* Install Method: MSI
* CLI version:

* OS version: Win 10
* Shell Type: cmd.exe

**Additional context**

[2019-09-23 09:05] danielbecroft opened #10614 "Duplicate field names in JSON of `az postgres server list`"
## Describe the bug
There are duplicate fields with names that differ only by case appearing in the `storageProfile` node of the JSON output.

**Command Name**
`az postgres server list`

**Errors:**
There are duplicate fields appearing under the `storageProfile` node:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensit

[2019-09-23 10:17] yonzhan commented on #4514
@yugangw-msft  got it.

[2019-09-23 11:55] darrens280 commented on #5099
You need to use a .PEM file for the certificate type, rather than a .CER file (can convert it using OpenSSL)

[2019-09-23 12:17] cicorias opened #10615 "What algorithm used for secret"
What is the specific algorithm used for `az ad sp create` for the generated password that is returned? How is it attempting randomization and obscurity?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e99d25ff-03e2-e015-37f4-a29b59ec50d4
* Version Independent ID: 1a8e88ed-72c7-fbe7-b0ad-68f23b3946cd
* Content: [az ad sp

[2019-09-23 12:50] pjirsa commented on #10615
Looks like it is just using a new uuid
https://github.com/Azure/azure-cli/blob/f8aeed58c3af83a2ab8ce57bf060fab29088e81b/src/azure-cli/azure/cli/command_modules/role/custom.py#L1197

[2019-09-23 13:02] DrReedo opened #10616 "webapp:Was trying to set the clientCertEnabled = true but it failed with the following error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Was trying to set the clientCertEnabled = true for my API in my resource group as described here:
https://docs.microsoft.com/en-us/azure/app-service/app-service-web-configure-tls-mutual-auth but it failed as below.

**Command Name**
`az webapp update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the

[2019-09-23 13:45] cicorias commented on #10615
Thanks for finding, seems all are using whatever uuid package comes in as some connected dependency as I don’t see any explicit demand in setup

https://github.com/Azure/azure-cli/blob/c83710e4176cf598fccd57180263a4c5b0fc561e/src/azure-cli-core/azure/cli/core/commands/arm.py#L1096

[2019-09-23 14:01] ivanguravel commented on #10610
Hello! Issue is related to the RBAC in aad. after adding my app to the related group all works fine. Sorry for this. i'm going to close the issue

[2019-09-23 14:01] #10610 closed

[2019-09-23 15:47] martinvelos commented on #10321
That seems not to be the case, I have not any such browser extension to either Chrome nor Firefox, have tried _private window_, there just seems not to be any reasonable link generated.`<a href="http://" target="_blank" layout="" layout-align="start center" class="layout-align-start-center layout-row">` stands there, when I inspect the field of the table.

[2019-09-23 17:07] cegraybl commented on #10608
Hello @Salamandastron1, I'm not sure if I'm getting the question right, if not please elaborate further.

If you just need the Azure login you should just run "az login", which is independent from docker.

The "az acr login" is a different command which is actually a wrapper for "docker login" to get access to the registry itself, so it is a dependency.

[2019-09-23 18:04] Salamandastron1 commented on #10608
My desire to use `az acr login` was to limit the scope of users access as part of pipeline. As it only points to that repository.

The cli runs a `docker ps`. Which errors:
[code]

Perhaps the issue is better brought forward to those who maintain the container image on dockerhub? Thanks for taking the time to look this over.

[2019-09-23 23:40] mzms commented on #10519
Is this on track for Sprint 75? We need this for GA that we are announcing on Oct 15. So this absolutely MUST come.

[2019-09-24 01:36] #10615 closed

[2019-09-24 01:56] Juliehzl commented on #6008
Thanks for your feedback. I will look into it soon.

[2019-09-24 06:04] Juliehzl commented on #9959
Hi @jimmythedog, sorry for the late response. CLI team is in transition process in the past few months. I can reproduce your scenario in my computer. You get "ResourceNotFound" error because your file share snapshot don't have any file inside. If your snapshot share contains valid files, no error occurs. Out of curiosity, why do you want to download a null share snapshot?

[2019-09-24 06:11] Juliehzl commented on #9959
@zhusijia26 @zezha-msft Can you give a more detailed explanation for null snapshot scenario? I wonder that when users create a snapshot for file share without files,  in portal we can see the snapshot information, but why python storage SDK cannot find it.

[2019-09-24 06:14] zezha-msft opened #10620 "ADLS Gen 2 inter-op work"
**Resource Provider**
Storage

**Description of Feature or Work Requested**
Expectations for ADLS Gen 2 inter-op work in the CLI:

1. Targeting October 25th, but may be ready earlier.
2. The scope includes the directory operations (create/rename/delete), and access control operations (get/set).
3. Private drop will be made available for testing purposes.
4. Sample scripts will be shown in the help

[2019-09-24 06:33] jimmythedog commented on #9959
Hi all,
Perhaps I wasn't too clear on what I think the problem is, so please let try to elaborate.

Consider a file share with a single file in it: foo.txt
Now take a snapshot of that file share - that snapshot will contain just the single file.

Now add another file to the file share: bar.txt

If I now try to download the snapshot version of that file share, I get the original error I posted.
Wha

[2019-09-24 07:38] qwordy commented on #10613
I have reproduced your problem. Very interesting!

[2019-09-24 07:47] qwordy commented on #10613
Use `call`

[code]

[2019-09-24 08:04] qwordy commented on #10613
https://docs.microsoft.com/en-us/windows-server/administration/windows-commands/call

[2019-09-24 09:03] Juliehzl commented on #5590
Hi @alonisser  do you still have wrong exit code problem? If yes, can you share me your tenmplate.json and parameters.json file for reproduce your issue to "zuh at microsoft dot com"?

[2019-09-24 09:08] Juliehzl commented on #10279
dupe of issue #5590

[2019-09-24 09:57] mapdegree commented on #8818
Please reopen as this is still not working and functionality not introduced.

We need to add firewall rules via a JSON template and it failed with the exact same error:

"Updating the KafkaEnabled property on a namespace is not supported"

We are deploying this through Terraform and Azure provider.

Regards,
D

`* azurerm_template_deployment.event_hub_kafka_enabled_firewallrule: Error waiting for

[2019-09-24 10:11] yonzhan commented on #10620
@Juliehzl  please take a look and response.

[2019-09-24 10:19] Juliehzl commented on #10620
CLI team already have a plan for your feature request.

[2019-09-24 11:28] paulliu10 opened #10624 "Install Cli error"
In my local CENTOS 7.x  environment when I install the Cli have below error, any idea for this issue?

============================================
Loaded plugins: fastestmirror, langpacks
Loading mirror speeds from cached hostfile
Resolving Dependencies
--> Running transaction check
---> Package azure-cli.x86_64 0:2.0.74-1.el7 will be installed
--> Processing Dependency: python-virtualenv for pac

[2019-09-24 12:39] jurgyy commented on #10422
Same problem as #10496? I made a pull request that should fix this: #10623

[2019-09-24 15:40] n3rd253 opened #10625 "Using az webapp config appsettings set from Powershell results in python error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config appsettings set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config appsettings set --name {} --resource-g

[2019-09-24 15:41] psgivens opened #10626 "Incorrect documentation."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
The introduction blog for [Query Previous Command](https://azure.microsoft.com/en-us/blog/welcome-to-azure-cli-shell)] is incorrect. It shows a single question mark (?) where there should be two.

The [official documentation](https://docs.microsoft.com/en-us/cli/azure/interactive-azure-cli?view=azure-cli-latest

[2019-09-24 16:23] panchagnula commented on #9788
This is complete - was expecting the merge to auto close this.

[2019-09-24 16:23] #9788 closed

[2019-09-24 17:17] perkops opened #10628 "Able to link the same iothub twice to IoT Device Provisioning Service"
## Describe the bug
When linking an IoTHub, through the portal, to a Device Provisioning Service, you are not able to link the same IotHub twice. This is possible through the az cli.

The az cli accepts the command twice, but the third time, the error below is thrown:

Cannot have duplicate iot hubs in description. If you contact a support representative please include this correlation identifier:

[2019-09-24 17:23] rachel-msft commented on #10419
#please-close

[2019-09-24 17:23] rachel-msft commented on #10419
@jiasli can you please close this item?

[2019-09-24 19:24] zezha-msft commented on #9959
@Juliehzl in your repro, is the share snapshot completely empty?

[2019-09-24 19:26] zezha-msft commented on #9959
To clarify, the scenario is:
- create snapshot on an empty share
- invoke download batch from the CLI

When does the "resource not found" error happen in the CLI's download batch code? I.e. on which API call to the SDK?

[2019-09-24 19:55] anEXPer commented on #4611
This is not inactive for a long time. This is an active issue we still have.

[2019-09-24 20:53] alex-frankel commented on #10324
@tfitzmac - I think we just need to update the link to this:
https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-functions-resource#resourceid

Do you have ownership of that aka link?

[2019-09-24 21:21] alex-frankel commented on #9476
We have identified the root cause of this issue, but have not started work on the fix yet. We will update this thread once the work has started

[2019-09-24 22:46] ankurkhemani commented on #10526
@dbilleci-lightstream I was unable to repro this. Can you please update to the latest az [Version 2.0.74](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?view=azure-cli-latest#september-24-2019) and try again?

[2019-09-24 23:19] alex-frankel commented on #5549
The -WhatIf powershell cmdlet is not actually doing what was described in the issue. It doesn't preview what the deployment is going to do. -WhatIf is a standard flag for many powershell cmdlets.

Having said that, the feature you are describing is being worked on as we speak :) We are hoping to have a public preview available of ARM template what-if for both powershell and CLI by Ignite of this y

[2019-09-24 23:22] thavlik commented on #5841
I can confirm this fixes the issue for me on WSL Debian 9.

[2019-09-24 23:34] alex-frankel commented on #9142
As of CLI version 2.0.74 this has been fixed. It is not the default behavior, but you can use the `--handle-extended-json-format` flag to send the ARM template unmodified which will preserve the line numbers and positions and you will get more helpful information back.

Once we verify this is working as intended, this will become the default behavior.

Closing this since users are now unblocked

[2019-09-24 23:34] #9142 closed

[2019-09-24 23:52] simonmckenzie opened #10629 "There's no way to create a secondary managed instance for use in a failover group"
When creating a managed instance for use as a secondary within a failover group, it must share the DNS Zone Partner of the primary managed instance. There does not appear to be a way to specify the DNS Zone Partner (or the name of the primary managed instance) using `az sql mi`.

[Microsoft documentation on failover groups](https://docs.microsoft.com/en-us/azure/sql-database/sql-database-auto-fail

[2019-09-25 00:37] dwhanger commented on #9547
I upgraded the eventgrid extension for the az cli...still the same message.

Here is what I am using (what am I missing):

az eventgrid event-subscription create
	--name EndPointCheckerXXXX
	--endpoint 'https://<url from configured from url for a sister function eventgrid setup from within the portal>.azurewebsites.net/runtime/webhooks/EventGrid?functionName=<function name>'
	--endpoint-type webho

[2019-09-25 00:52] jessebenson opened #10630 "'az storage copy' fails between Standard and Premium blob storage"
`az storage copy` fails when copying between Standard storage (StorageV2) and Premium storage (BlockBlobStorage).
[code]

Error logs show the following:

2019/09/25 00:46:37 ERR: [P#0-T#0] COPYFAILED: https://standard.blob.core.windows.net/container/file.json?se=2019-09-26t00%3A46%3A32z&sig=REDACTED&sp=rwdlacup&srt=sco&ss=b&sv=2018-03-28 : 400 : 400 Value for one of the query parameters specified

[2019-09-25 01:47] Juliehzl commented on #10630
Hi @jessebenson, thanks for your feedback. `az storage copy` command depends on Azcopy v10. And I can reproduce your issue with storageV2 and Premium storage accounts using both `az storage copy command` and Azcopy v10. Let's wait for the feedback from Azcopy team.

[2019-09-25 01:54] jiasli commented on #10426
Does deleting **localhost** from **Delete domain security policies** solve the issue?

[2019-09-25 01:54] jiasli commented on #10416
Closing due to no update. If the issue persists, please let us know.

[2019-09-25 01:54] #10416 closed

[2019-09-25 01:56] jiasli commented on #10294
This is likely an old Cloud Shell issue. Does it work now?

[2019-09-25 03:02] davidchua commented on #9585
Hi,

I'm experiencing the same issue when creating a AKS cluster via terraform with AD integration.

Although the error I received is on the service_principal of the AKS cluster itself and not the servicePrincipal for AD integration.

I can verify that the client_id exists (via azure portal) and have waited for 45 min and upwards before retrying and it still wouldn't detect the service principal

[2019-09-25 05:03] Juliehzl commented on #10630
After the discussion with Azcopy team, this is because AzCopy is trying to preserve the access tier.  ANd your premium storage account don't support access tiers. Details are here https://docs.microsoft.com/en-us/azure/storage/common/storage-use-azcopy-blobs#copy-blobs-between-storage-accounts.
If it is blocking you now, you can use Azcopy with `--s2s-preserve-access-tier=false` and it will work.

[2019-09-25 05:10] ranjitk99 opened #10631 "az group list and az group list --subscription does not work"
**Describe the bug**
az group list and az group list --subscription does not work with latest cli
Error-
AADSTS9002313: Invalid request. Request is malformed or invalid.
Trace ID: 5da7935b-d53a-4924-a6c7-b751628c1000
Correlation ID: c9be7f6d-ee6e-46f7-83bf-68a53a3b0403
Timestamp: 2019-09-25 05:09:54Z

**To Reproduce**
1. Install latest cli
2. az login
3. az group list
**Expected behavior**
List al

[2019-09-25 05:14] curiousminion commented on #9030
Hi - is there any update on this?  there have been many users in our company that use Mac and a lot of people reporting same issue.   For now, we are following the step to install manually on linux with the curl (https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-macos?view=azure-cli-latest#other-installation-methods) - which also have a NOTE: **... Note that this process is not official

[2019-09-25 05:59] #9851 closed

[2019-09-25 06:43] jiasli commented on #10268
`--body` actually does support @ notation. @ notation applies to all CLI args. https://github.com/Azure/azure-cli/blob/516d297a9f1276bd9a9208e4a43281238b0c496e/src/azure-cli-core/azure/cli/core/commands/__init__.py#L83

I have created PR #10632 to fix the help message.

[2019-09-25 07:54] yuemlu opened #10633 "Azure Files AD DS Authentication"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Azure Storage

**Description of Feature or Work Requested**
We would like to release a Preview Module for Azure Files native AD Authentication in Mid Oct. Zhenfeng from SRP team is working on the SRP changes and the changes including swaggers will be available by 9/13. We would need your help to assess the dev cost

[2019-09-25 08:56] jurgyy commented on #10575
Same problem as #10496 and #10422. I've issued a pull request that should solve this: #10623

[2019-09-25 09:01] petrformanek commented on #8547
Hello @yugangw-msft,
which examples demonstrate it? I cannot see any at this page.
It is somehow possible to get the result of the **list** command in this format?
To be able easily import and export settings among apps.

[2019-09-25 09:17] qwordy commented on #10519
Have you merged it to master branch? I need the Python SDK which contains this feature.

[2019-09-25 09:17] #10199 closed

[2019-09-25 09:18] #10112 closed

[2019-09-25 09:20] jiasli commented on #9933
This is a Cloud Shell issue which has been fixed. If the issue persists, please let us know.

[2019-09-25 09:20] #9933 closed

[2019-09-25 09:20] rtbins commented on #6242
Complete login workflow (using device code)

$login_creds = (az login --use-device-code |  ConvertFrom-Json)
$adtoken_container = (az account get-access-token --resource "https://graph.windows.net/ " | ConvertFrom-Json)

$adtoken = $adtoken_container.accessToken
Connect-AzureAD -aadaccesstoken "$adtoken" -accountid  $login_creds.user.name  -tenantid $login_creds.tenantId
Get-AzureADUser -top 1 

[2019-09-25 10:38] ragoragino opened #10635 "Ability to set per-document TTL via azure cli"
**Is your feature request related to a problem? Please describe.**
Currently, as far as I have been able to look up, one can enable per-document TTL on CosmosDB collections only via Azure Portal. It would be great to be able to enable this feature via az cli.

**Describe the solution you'd like**
Adding another option to create and update commands for az CosmosDB:
az cosmosdb collection create/upd

[2019-09-25 11:08] Juliehzl commented on #10633
Thanks @yuemlu. We will plan it in this sprint.

[2019-09-25 11:18] cwebbtw commented on #9442
We've had similar pains in actually getting docker login tokens. On AWS, the ECR login provides a token, whereas on ACR, it attempts to login for you automatically, which isn't helpful if you don't have docker installed.

A nasty workaround is to get a refresh token ourselves.

[code]

This allows you to do:

[code]

[2019-09-25 13:11] paulliu10 commented on #10624
Any Suggestions on this?

Thanks!

Paul

[2019-09-25 13:40] wshamroukh commented on #10496
@jurgyy ,

I can't find a file called custom.py in my machine. Where do you find it?

Mine is referring to a path where it is not there at all. This user doesn't exist **C:\Users\VSSADM~1**

 `az apim show
The command failed with an unexpected error. Here is the traceback:

No module named 'azure.mgmt.apimanagement.models.api_management_client_enums'
Traceback (most recent call last):
  File "C:\U

[2019-09-25 13:57] edwardsp opened #10636 "Missing support for subnet-id when creating a volume with netappfiles (reopening again)"
**Describe the bug**
Previously a subnet id could be used when creating volumes when it was an extension.  Since being moved to the main cli this is not available.  The impact here is that I cannot create a volume in a separate resource group to where the vnet is located.

With the previous bug report it has been changed such that a subnet_id can be passed as the subnet parameter but the code only

[2019-09-25 15:01] fengzhou-msft commented on #10624
@paulliu10 I cannot reproduce this issue on Centos 7. It seems in your environment azure-cli requires 2.7.5-76.el7, on my side the required version is 2.7.5-86.el7. According to the error message, do you have python-devel 2.7.5-77.el7_6 installed on your machine? Please run `yum --showduplicates list python-devel` and paste the result here.

[2019-09-25 15:43] CraigWiand commented on #9592
Issue still present in 2.0.74.  What is missing from the description above is the logged line:
`option '--name' will be ignored due to use of '--ids'.`
We also see that in `az vm extension set --help` that it is treating `--name` as a parameter associated with the target resource, but it isn't.  That is the `vm-name` parameter.  If it is really ignoring the `--name` then it is ignoring the require

[2019-09-25 15:58] Spyntek opened #10637 "AZ CLI Deleting IoT Hub Routing Endpoint Failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az iot hub routing-endpoint delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az iot hub routing-endpoint delete -g {} --hub-name {

[2019-09-25 16:10] #5760 closed

[2019-09-25 16:55] gunjanj opened #10638 "Add support for large file shares (LFS) proprety for storage account"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Storage
Contacts: Zhenfeng Chen <Zhenfeng.Chen@microsoft.com> (SRP),
LFS Dev: Sehgal Vipin <Vipin.Sehgal@microsoft.com>
PM owner: Gunjanj

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
(more details sh

[2019-09-25 17:44] alex-frankel commented on #9476
Work has now started. Will close once complete.

[2019-09-25 17:50] ziwa-msft commented on #10629
Yes the support for creating managed instance with the correct Dns Zone is still pending. I apologize for the gap in the experience. Please use Azure Portal or Azure PowerShell to create the managed instances needed as a temporary workaround.

[2019-09-25 18:02] adewaleo commented on #9592
@feiyushi would you be able to look into this?

@bmc-msft, @CraigWiand, I am no longer on the Azure CLI team.

[2019-09-25 18:49] feiyushi commented on #9592
@adewaleo I'm not the right person to solve this.

[2019-09-25 18:54] jluk commented on #9585
Could we close this now that we have a doc reference for this issue? It's a known issue captured here:
https://github.com/Azure/AKS/issues/1206

Requires a fix from Azure Active Directory which should provided updates on the issue above.

[2019-09-25 18:57] MicahMcKittrick-MSFT commented on #9585
#please-close

[2019-09-25 19:08] stevengum commented on #9954
I tested the code on Monday against a development environment and it all worked! 🎆

Still targeting the first week in October for code complete, and it would be released with the [Sprint 75](https://github.com/Azure/azure-cli/milestone/75) timeframe of 10/15/2019.

After the ability to change the Direct Line configuration is live on the REST API, I'll update this thread so that @ericchansen is unb

[2019-09-25 19:10] stevengum commented on #10525
Hi @komcdo thanks for reporting this issue! I'll investigate and try to get a reproduction running by early next week.

[2019-09-25 19:22] jlian commented on #10628
Adding a label for DPS. @iluican can you confirm that this is a bug on the CLI? Also @nberdy for FYI

[2019-09-25 19:45] panchagnula commented on #10386
Closing this out due to lack of activity

[2019-09-25 19:45] #10386 closed

[2019-09-25 19:46] panchagnula commented on #10475
@patricklee2 can you look at this one?

[2019-09-25 19:47] panchagnula commented on #10487
@xor-ranavikrant are you saying that if you run the command with the \\ in the filePath it works?

[2019-09-25 19:49] panchagnula commented on #10492
i am not sure what the issue here is pointing to => az webapp up does work for subsequent deployments - what exactly are you seeing?

[2019-09-25 19:49] panchagnula commented on #10507
Can you re-try from the message looks like KUDU failed to return a JSON object, the first time after deployment

[2019-09-25 19:52] panchagnula commented on #10531
Can you run the command with --debug & share the details please excluding any sensitive info. Thank you.

[2019-09-25 19:55] panchagnula commented on #10495
RG is marked as optional because ingeneral on CLI you can set a default value for RG using az configure --defaults group=<name>. if you don't do this you need to give us a RG or ID value

[2019-09-25 19:58] panchagnula commented on #10616
when using CLI make sure the subscription you are using is the  one that has the RG you are using in the command.

you can az account show to verify this. This error indicates that App or RG values are either incorrect or are not on the subscription that is being used

[2019-09-25 19:58] #10616 closed

[2019-09-25 19:59] panchagnula commented on #10625
This is not specific to webapp commands make sure you escape the parameters correctly when using CLI commands in Powershell. @qwordy do you have any tips on using CLI comamnds with Powershell?

[2019-09-25 20:00] panchagnula commented on #5004
NO ETA on this for now. We will  update when we have an ETA - for now please use portal.

[2019-09-25 20:10] panchagnula commented on #7154
I believe the change should go here https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/appservice/_params.py#L258

[2019-09-25 20:10] panchagnula commented on #7617
Have no ETA on this.

[2019-09-25 20:12] panchagnula commented on #7468
Not sure what is the ask for CLI here - we just call the SCM API to get logs.

[2019-09-25 20:12] #7468 closed

[2019-09-25 20:29] rodbutters opened #10639 "Unclear what this error means?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- was running a deployment for a large function app - zip file is 227705146 bytes.
- `a

[2019-09-25 20:59] rodbutters commented on #10574
Getting same issue. Currently a blocker. Is there a work-around?

[2019-09-25 20:59] bgall-teainc opened #10640 "Not able to connect to adls gen2 account with cli dls command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az dls fs list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az dls fs list -n {} --path {}`

## Expected Behavior

## Environment Sum

[2019-09-25 21:08] adewaleo commented on #9592
@feiyushi, sorry, I meant to mention @qwordy (Feiyue Yu)

[2019-09-25 21:44] buchs opened #10641 "Complaint about API version with az role assignment command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
CLI command fails to execute with complaint about the API version not being supported.

**Command Name**
`az role assignment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- install CLI on U

[2019-09-25 22:04] buchs commented on #10641
Just updated CLI, same behavior.

$ az --version
azure-cli                         2.0.74

command-modules-nspkg              2.0.3
core                              2.0.74
nspkg                              3.0.4
telemetry                          1.0.3

Python location '/opt/az/bin/python3'
Extensions directory '/home/kbuchs/.azure/cliextensions'

Python (Linux) 3.6.5 (default, Sep 20 2019, 05:4

[2019-09-25 22:13] buchs commented on #10641
Debugging logs
[debugging-on.txt](https://github.com/Azure/azure-cli/files/3655036/debugging-on.txt)

[2019-09-25 22:22] marchenm opened #10642 "Fishshell autocompletion"
Is it possible to add auto-completion for fishshell?

[2019-09-25 22:27] buchs commented on #10641
I found, in the end, that the error was nothing about api-versions. Please consider creating an appropriate error message. I had misspelled one of the shell variables I was using to define the scope. So the last segment of the scope, following the slash was unpopulated and the scope was actually `subscriptions/$subscription/resourceGroups/`.

[2019-09-25 22:46] ifeoluwaokunoren commented on #8068
Hello,

The command should be az container export not az export.
For example: az container export -g MyResourceGroup --name mynginx -f output.yaml

You can find more details here:  https://docs.microsoft.com/en-us/cli/azure/container?view=azure-cli-latest#az-container-export

[2019-09-25 23:16] tmacro opened #10643 "Unknown or Invalid instance during login with custom cloud"
**Describe the bug**
Azure-adal (on which azure-cli depends, and uses for auth) defines a static list of authority servers [here](https://github.com/AzureAD/azure-activedirectory-library-for-python/blob/094812ca3b7651d87d637e4719a3a5f546d21ec0/adal/constants.py#L212). It then uses this list [here](https://github.com/AzureAD/azure-activedirectory-library-for-python/blob/094812ca3b7651d87d637e4719a3

[2019-09-26 00:16] mreid-contrast commented on #7234
I would like to see this implemented as well. Very useful.

[2019-09-26 00:25] gavinbarron commented on #5004
I've written a script to pull the cert from keyvault to the machine executing the script and then using the existing CLI commands to upload and bind. Using the portal is not a feasible workaround for the volume of times that we're doing this.

[2019-09-26 00:54] at1012 commented on #5503
Seeing this issue on macos:

**$ az --version**
azure-cli                         2.0.72 *

command-modules-nspkg               2.0.3
core                              2.0.72 *
nspkg                              3.0.4
telemetry                          1.0.3

Python location '/usr/local/Cellar/azure-cli/2.0.72_1/libexec/bin/python'
Extensions directory '/Users/****/.azure/cliextensions'

Python (D

[2019-09-26 01:28] #10510 closed

[2019-09-26 01:30] seanmck commented on #10288
Looks like a connection failure in pulling the kubectl CLI. Please reopen if you see a consistent repro.

[2019-09-26 01:30] #10288 closed

[2019-09-26 01:47] Juliehzl commented on #10638
We have received your feature request and we plan to do it in this sprint. If there is any question, I will reach out you. Thanks 😊

[2019-09-26 01:49] Juliehzl commented on #10638
@gunjanj If the swagger file is in public repo, please help update your template and let me know.

[2019-09-26 02:00] jiasli opened #10644 "Tabulate fails to install on Windows"
Tabulate library issue. Tracking https://bitbucket.org/astanin/python-tabulate/issues/182/tabulate-fails-to-install-on-windows

PR https://github.com/Azure/azure-cli/pull/10634 created to lock version.

[2019-09-26 02:04] Juliehzl commented on #10631
Hi @ranjitk99, I cannot reproduce your issue with azure cli 2.0.74 in my computer. Can you show me more information with `--debug` appended your original command and give me a more detailed description for your error scenario?

[2019-09-26 02:24] ranjitk99 commented on #10631
Well, I cannot reproduce now as well. Please find the screenshot from yesterdays which shows the error below.
1. I think if you have 0 resource groups in all of your subscriptions it will show. I was having 4 resource groups in one of subscription and I deleted 2 days back and when I run command yesterday it has given that error which i shown. Now it is giving different message showing "[]" which

[2019-09-26 02:31] fengzhou-msft commented on #9665
Please remove the -y option when install: `sudo zypper install --from azure-cli azure-cli`, then input `2` to continue install. You don't really need python-virtualenv when you install through zypper. It should work. Let me know if you still have any issue.

[2019-09-26 02:46] paulliu10 commented on #10624
Hi Fengzhou,

Thank you for reply, the result as below:

yum --showduplicates list python-devel
Loaded plugins: fastestmirror, langpacks
Loading mirror speeds from cached hostfile
Available Packages
python-devel.x86_64                                                                                          2.7.5-76.el7

[2019-09-26 02:48] MyronFanQiu opened #10645 ""az vm create -n my_vm -g xxx --image UbuntuLTS“ failed"
**Describe the bug**
A clear and concise description of what the bug is.
`--computer-name` uses the same name with `--name` by default. However, `--computer-name` doesn't support `_` and raise an error.
**To Reproduce**
Steps to reproduce the behavior.
az vm create -n my_vm -g xxx --image UbuntuLTS

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environmen

[2019-09-26 02:56] fengzhou-msft commented on #10644
tabulate released [0.8.5](https://pypi.org/project/tabulate/0.8.5/#history) and fixed the issue. tabulate is imported by [knack](https://github.com/microsoft/knack), will set tabulate version there.

[2019-09-26 03:06] fengzhou-msft commented on #10624
@paulliu10 from the message, no python-devel package is installed on your centos and the available package matches azure-cli's requirement. Please run `sudo yum update` and `sudo yum install azure-cli` to try again. If it's still not working, please run `cat /etc/centos-release` and paste the exact centos verison here.

[2019-09-26 03:51] paulliu10 commented on #10624
Hi Fengzhou

When run yum update got below information:
=====================================
---> Package tuned.noarch 0:2.10.0-6.el7_6.3 will be updated
---> Package tuned.noarch 0:2.11.0-5.el7_7.1 will be an update
--> Finished Dependency Resolution
Error: Package: kernel-3.10.0-1062.1.1.el7.x86_64 (updates)
           Requires: linux-firmware >= 20190429-72
           Installed: linux-firmware