[2019-04-03 20:59] tjprescott commented on #5690
@yugangw-msft is there still demand to do this? In a year we have had no customer mentions, +1's or anything on this. It might just be worth closing.

[2019-04-03 22:50] adewaleo commented on #8956
Sounds good @yugangw-msft. This makes sense!

[2019-04-03 23:23] northtyphoon commented on #7084
@dersia You can create a .dockerignore file with the following setting. It will tell acr command to include back all files under .git which is effectively include .git folder. Let me know if it works.

[code]

[2019-04-03 23:38] #8913 closed

[2019-04-04 00:31] jluk commented on #7979
@tjprescott could you reassign this to @maertendMSFT who is the new service owner?

[2019-04-04 01:58] #8659 closed

[2019-04-04 03:52] yugangw-msft commented on #8900
@hvnsweeting, if you run `az ad sp show --spn yyy-zzz-zzzz-zzzz-xxx`, do you get anything? If nothing, then it is multi-tenant app which was created in an external tenant. The error needs polish, but the behavior is by-design

[2019-04-04 03:53] #5690 closed

[2019-04-04 04:08] Sas002 commented on #8967
I found about the restriction which timed out for operation runs more than 90 minutes. Is there any work around for bypass 90 minutes ?  SAP and other enterprise softwares require more than 90 minutes and sometimes triggered with one script and can't modular to run in phases. So higher timed out value will be really help here .

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/run-com

[2019-04-04 04:13] yugangw-msft commented on #8977
PermissionError: [WinError 5] Access is denied: C:\WINDOWS\system32\config\systemprofile\.azure'

This error shows the launcher (Fabric MSI?) sets CLI's configuration folder under system32 instead of the user profile folder like `c:\users\johndoe\.azure`?  Very wrong. Unless you run as admin, CLI will not be able to initialize its profile data under system32.

Pretty sure, not a CLI issue, please

[2019-04-04 04:13] #8977 closed

[2019-04-04 06:34] aircyz opened #8983 "required permissions"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash o

[2019-04-04 07:02] skudryk opened #8984 "Invalid validation rules for registry name in ACR"
Environment: Cloud shell at https://portal.azure.com

The rules used to validate resource group for AKS are invalid and misleading:

1)  i was able to create cluster using this command:

serhii@Azure:~$ az aks create --resource-group Helloguest_RG --name HelloguestCluster --node-count 1 --enable-addons monitoring --generate-ssh-keys

notice that in returned output JSON  resource group listed under

[2019-04-04 08:49] grant-d-scribestar commented on #3490
Does the load balancer and the virtual machine have to be in the same resource group?

[2019-04-04 09:46] r0bnet commented on #7417
Had the same issue with /31 and /32 addresses. In the portal it said that prefix must be <= 30. Strange thing is that this works for keyvault.

[2019-04-04 10:35] sjwaight opened #8985 "webapp:moreSettings.json undocumented and GitHub comments are wrong."
The correct format for 'moreSettings.json' is a JSON array in this format:

[code]
This was discovered using the new bulk edit option in the new Configuration Blade in the Portal. Please document to save others time!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30f2ae52-2c7f-7e7e-8a62-f1b614f281d3
* Version Independe

[2019-04-04 10:56] vitaly-zdanevich opened #8986 "Text-to-speech looks like is not supported"
With aws-cli I can do this:
`aws polly synthesize-speech --voice-id Gwyneth --text "Helo 'na! Gwyneth ydw i" cy-Gwyneth.ogg --output-format ogg_vorbis`

[2019-04-04 11:26] anhowe opened #8987 "az login --identity --debug fails with 'ascii' codec can't encode characters in position 16-24: ordinal not in range(128)"
**Describe the bug**
az login --identity --debug fails with 'ascii' codec can't encode characters in position 16-24: ordinal not in range(128)

Relevant parts of debug log from using `--debug`:
[code]

**To Reproduce**
In the portal configure your subscription name to contain any non-ascii character.  Next deploy an Ubuntu VM with managed identity, set appropriate role assignment to the VMs identi

[2019-04-04 11:57] reddy-sucharit opened #8988 "Can I retrieve Potential Annual Cost Savings and Recommendation Detail/Rule using this CLI ?"
Hello Team, My customer is trying to consolidate an Exec report over 1400 + Subscriptions and they have to programaticaly retrieve all of the following Fields that they see when they download a report from Advisor. Is this possible ? , If so would you be kind enough to post an example on how to retrieve ? (Recommendation & Potential Annual Cost Savings ?)

Recommendation	Subscription ID	Subscripti

[2019-04-04 12:22] johnymachine opened #8989 "SQL DB UPDATE command does not accept short name for elastic-pool argument"
**Describe the bug**
SQL DB UPDATE command does not accept short name for elastic-pool argument

[Documentation](https://docs.microsoft.com/en-us/cli/azure/sql/db?view=azure-cli-latest#az-sql-db-update) for **az-sql-db-update** on elastic-pool argument states: The name or resource id of the elastic pool to create the database in.

**This does not work:**
`user@machine:~$ az sql db update -g resgrp

[2019-04-04 16:54] ankitkumarr commented on #8888
@ahmedelnably, this can be closed (I don't have access). This was included in https://github.com/Azure/azure-cli/pull/8947

[2019-04-04 16:57] #8543 closed

[2019-04-04 17:17] tjprescott commented on #8983
Closing due to no actionable information.

[2019-04-04 17:17] #8983 closed

[2019-04-04 17:24] tjprescott commented on #8986
You are correct. Text-to-speech is not a feature in Azure CLI.

[2019-04-04 17:36] tjprescott commented on #8989
Thank you for the report @johnymachine. This should follow the guidance here:
https://github.com/Azure/azure-cli/blob/dev/doc/authoring_command_modules/authoring_commands.md#supporting-name-or-id-parameters

[2019-04-04 17:37] #8888 closed

[2019-04-04 17:39] #8813 closed

[2019-04-04 17:51] fergara opened #8991 "az account: 'create' is not in the 'az account' command group"
**Create Azure Enterprise subscriptions Programmatically**
I'm trying to use the "az account create" to create a new subscription via the azure cli. The az cli gives me a warning stating that the azure client account command does not have the "create" instruction.

**Description of Issue**
Using the following URL.
https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/azure-resource-mana

[2019-04-04 18:23] scapri opened #8992 "az iot hub monitor-events returns almost immediately"
**Describe the bug**
I run the command:
az iot hub monitor-events --hub-name nrf91-blemesh-firetruck-demo-hub
and the command line returns almost immediately (< 1 second, and no error messages) without waiting to give information about messages to the IoT hub.

**To Reproduce**
Run the command described above in our Azure terminal window.  It reproduces this problem each time.

**Expected behavior

[2019-04-04 18:36] tjprescott commented on #8991
You need to install the extension first.

[2019-04-04 18:36] #8991 closed

[2019-04-04 18:57] asc-adean opened #8994 "Stuck on registering feature"
**Documentation Followed**
https://docs.microsoft.com/en-us/azure/aks/cluster-autoscaler

**Resource Provider**
VMSSPreview

**Command Run**
`az feature register --name VMSSPreview --namespace Microsoft.ContainerService`

**Expected outcome**
For the feature to register and allow me access to Kubernetes cluster autoscaling

**What is happening**
Running `az feature list -o table --query "[?contain

[2019-04-04 19:13] tjprescott commented on #8994
Some features have to be manually enabled by the service. @mboersma since this is an AKS feature, do you have any context?

[2019-04-04 19:17] MattMencel commented on #8900
@yugangw-msft I'm seeing the same error and ran that command you posted.

[code]

Running the credential list command gives me an error...

[code]

This Application, SPN, and credential was created using Terraform...

[code]

The SPN and credential work fine for my purposes, I just can't list the credentials from `az cli`.

[2019-04-04 19:23] mboersma commented on #8994
I don't know if this feature requires the AKS team to approve manually. @jnoller do you know?

[2019-04-04 19:33] ahmedelnably commented on #7890
Reopening the issue as we have new requirements:
Proposed design:

0.	The user need to do a single action to create a Function app that is configured with App Insights
1.	Every Function App created through CLI should have App Insights enabled by default
o	The user can specify:
i.	Instrumentation Key
ii.	App Insights resource ID
iii.	Opt-Out from App Insights creation/configuration
2.	Add a command

[2019-04-04 19:54] johnymachine commented on #8989
Thanks for a tip, looks like some unfinished business here: https://github.com/Azure/azure-cli/blob/e843e2291a9b0dff264e11858c007fadf5a9a816/src/command_modules/azure-cli-sql/azure/cli/command_modules/sql/_validators.py

No trace of elastic pool validator.

[2019-04-04 19:59] limingu commented on #4872
#8161

[2019-04-04 20:00] limingu commented on #5437
#8161

[2019-04-04 20:02] limingu commented on #5437
The Storage api should give out more meaningful error message for such cases.

[2019-04-04 20:02] limingu commented on #4872
The Storage api should give out more meaningful error message for such cases.

[2019-04-04 20:02] #4872 closed

[2019-04-04 20:09] #5437 closed

[2019-04-04 20:24] #2048 closed

[2019-04-04 20:29] marstr commented on #8603
These are being built as part of our ADO setup, we just need to decide which of these deb packages we would like to publish. It seems a bit extraneous to publish all of the .debs that we currently produce :)

[2019-04-04 20:36] jluk commented on #8994
This feature is set to be auto-approved, @asc-adean can you check what the registrationState shows when using the `az provider show -n Microsoft.ContainerService` cmd?

It should look similar to ` "registrationState": "Registered",`.

[2019-04-04 20:48] jluk commented on #8994
As a next step to help us debug - @asc-adean could you email me your subscriptionID (juluk [at] microsoft dot com)

[2019-04-04 21:32] asc-adean commented on #8994
Hello
@jluk here's the output of

[code]

[2019-04-04 22:11] rigerosa commented on #8830
It's not even clear if it has to be a /16 range, and if you can reuse the same range for two AKS clusters in two Vnet that are peered

[2019-04-04 22:45] adewaleo commented on #8967
@Sas002 this timeout restriction is a service side restriction. It doesn't appear from the docs your recommended that the timeout can be modified.  You are welcome to leave feedback on the run-commands docs page that run-commands should have configurable timeouts.

I can think of two solutions:
- If your script is custom written and can be broken down into more manageable portions, you can run the

[2019-04-04 23:17] adewaleo commented on #8917
Hello @alexeldeib, this works for me.

I have two questions for you:

- What version of the CLI are you running?
- Have you [registered for the shared image gallery public preview ](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/shared-image-galleries#frequently-asked-questions)in the current subscription.
- ```az feature register --namespace Microsoft.Compute --name GalleryPrevie

[2019-04-04 23:17] christiankuhtz opened #8998 "az resource show traceback"
**Describe the bug**
The command failed with an unexpected error. Here is the traceback:

'namespace'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line 351, in execute
    raise ex
  File "/opt/az/lib/p

[2019-04-04 23:19] tjprescott commented on #8998
We will add a warning. Azure CLI does not support classic (pre-ARM) resources.

[2019-04-04 23:21] tjprescott commented on #8998
Could you post an example of the resource ID you tried to show?

[2019-04-04 23:41] xizhamsft commented on #8994
@asc-adean , you only need to run 'az provider register -n Microsoft.ContainerService' once. After that, you should use  'az provider show -n Microsoft.ContainerService' to check the status. Calling register again and you will always get that message.

I checked on the server side, your subscription state is all good.

[2019-04-04 23:41] adewaleo commented on #8720
@bsemperlotti so this issue is indeed a service end issue. A fix will be rolled out this month, after which the CLI command should be working correctly. They haven't gotten back to me on the release date yet.

I will close the issue when the update has been released by the compute team.

[2019-04-04 23:46] panchagnula commented on #7261
CC: //@apwestgarth for windows containers

[2019-04-04 23:46] alexeldeib commented on #8917
Apologies -- got sloppy switching back and forth between subs with this feature enabled and disabled during testing.

Still, I don't think the scenario above should occur at all. The image creation actually succeeds in the logs:
[code]
Is that intended behavior for an unregistered subscription? Feels a bit like an RBAC hole that an unregistered sub has permissions to to create operations and not r

[2019-04-04 23:49] jluk commented on #8994
@asc-adean did you install the azure cli aks-preview extension? the preview flags won't show up without that cli module. doc about it here: https://github.com/Azure/azure-cli-extensions/tree/master/src/aks-preview#how-to-use

[2019-04-04 23:58] adewaleo commented on #8917
@alexeldeib, You are right that image creation should not have succeeded if the subscription is unregistered. I will try to surface this issue to the compute team in charge of shared image galleries

cc: @yugangw-msft

[2019-04-05 00:07] adewaleo commented on #8917
@alexeldeib are you able to view the resource by running:
[code]

Also fyi, @alexeldeib, as this repo/issue is public be careful not to include sensitive information in your comments.

[2019-04-05 00:37] asc-adean commented on #8994
Thanks for looking into this for me.

It appears I misread the documentation when it explained about usage of `az provider register --namespace Microsoft.ContainerService`, though the returned message makes it sound like it's still registering even though it's fully registered?

@jluk I ran the command in the README but found my `az` version was too old (2.0.45) and got the error `No matching exte

[2019-04-05 00:42] jluk commented on #8994
Got it thanks @asc-adean for confirm we'll improve the experience glad you got unblocked! @tjprescott please close this issue.

[2019-04-05 00:48] alexeldeib commented on #8917
Yes, I am able to see it both in the CLI and in the Portal. I did **just** register the subscription after you mentioned this could be the issue. However, I went back and checked in the portal and I've been using the **unregistered** subscription to do custom image operations without issue for a while now -- 7 days ago according to activity log. I have multiple image versions published there.

The

[2019-04-05 00:49] alexeldeib commented on #8917
I'm not aware of any sensitive info in this issue, do edit it out or ping me offline if I missed something. I am treating both of these subs as non-sensitive -- they are throwaway subscriptions with no real use and are for testing this demo case only. They will be deleted and don't have anything else in them.

[2019-04-05 02:53] wwvlada opened #9000 "Azure AKS (az aks browse) crash every 5 minutes"
The command failed with an unexpected error. Here is the traceback:

HTTPConnectionPool(host='localhost', port=8888): Max retries exceeded with url: /closeport/8001 (Caused by NewConnectionError('<urllib3.connection.HTTPConnection object at 0x05119690>: Failed to establish a new connection: [WinError 10061] No connection could be made because the target machine actively refused it',))
Traceback (m

[2019-04-05 02:55] antgonmir opened #9001 "Setting the AZURE_CLI_DISABLE_CONNECTION_VERIFICATION does not have any effect for SSL verification"
**Describe the bug**
Setting the **AZURE_CLI_DISABLE_CONNECTION_VERIFICATION** does not have any effect. SSL verification still takes place when running Azure CLI commands.

**To Reproduce**
When sitting behind an SSL intercepting Proxy, the Azure CLI fails for certain commands with errors like:

_Error occurred in request., SSLError: HTTPSConnectionPool(host='xxxxxx.vault.azure.net', port=443): M

[2019-04-05 03:56] yugangw-msft commented on #8900
@MattMencel, what you get if you use `app credential list` with appId
[code]

[2019-04-05 04:18] yugangw-msft commented on #8987
I can't reproduce even renaming my subscriptions to Japanese

[2019-04-05 07:59] thiruma0203 opened #9003 ""az storage blob copy start" fails even with "Storage Blob Data Contributor" role"
**Describe the bug**
A clear and concise description of what the bug is.

"az storage blob copy start" fails even when "Storage Blob Data Contributor" role is assigned to both source and destination storage account.
Error message is like

**To Reproduce**
Steps to reproduce the behavior.

1. On Azure VM, assign managed ID (MSI).
2. Connect to the VM with SSH, and install latest Azure CLI.
3. Creat

[2019-04-05 08:27] MrLuje opened #9004 "Are QnaMaker cognitiveservices compatible with a linux service plan ?"
**Describe the bug**
A QnaMaker cognitiveservice created on a linux serviceplan cannot be linked to https://qnamaker.ai

![image](https://user-images.githubusercontent.com/632075/55613896-0d331400-578c-11e9-83c7-fc8aeda89cbb.png)

I used the commands from [this post (windows serviceplan version)](https://github.com/Azure/azure-cli/issues/6888#issuecomment-417817480) to create the cognitiveservices

[2019-04-05 11:49] mathwro commented on #8963
After some futher testing, it looks like it only crashing upon requesting the premade authorization key, "RootManagedAccessKey".

Authorization rules i have made my self, even with the same access (Read, Write, Manage) currently gives me the expected results

[2019-04-05 13:07] MattMencel commented on #8900
`az ad app credential list --id 37d49879-b9....`

The command returns an empty line.  No errors.

[2019-04-05 14:59] tightightight opened #9005 "Programmatically Alter Number of Paid 'Azure DevOps Services Users'"
We are looking for a way to increase/decrease the number of paid users through the marketplace.

A solution involving a cli command to take care of this would be great, and also something to assign those roles to an AD email.

An available api endpoint that can be hot to make these changes would also be hugely appreciated!

I have done a lot of searching through the documentation for cli commands

[2019-04-05 15:25] treymorgan commented on #8988
I'm interested in seeing this example.

[2019-04-05 15:43] tjprescott commented on #9001
Thanks for the details @antgonmir. I'll try and take a look at it this sprint.

[2019-04-05 15:48] tjprescott commented on #9005
Azure DevOps has an extension in the azure-cli-extension repo, so I will transfer this issue there. cc @gauravsaralMs

[2019-04-05 16:25] judyanndixon opened #9007 "KeyError exception when deleting resource that has a delete lock on it"
Using the lock feature on resources and resource group to prevent accidentally deleting resource or resource group.

Using az cli attempt to delete a resource with a lock at either the resource or resource group level and get this KeyError exception

To reproduce

Create a resource with a lock
Attempt to delete the resource using the az cli

Receive this exception

 ERROR: 'subscription'
2019-04-0

[2019-04-05 17:20] adewaleo commented on #8917
@alexeldeib, thanks for the info and clarification. I've reached out to people responsible for the sig service and referred them to this issue, as this is a service end issue, regardless.

To confirm, now that you've registered for the feature, are you now able to run `az sig image-definition create` and `show` without any issues?

[2019-04-05 18:44] #8989 closed

[2019-04-05 19:19] simonness opened #9010 "az acr helm push with service principal has stopped working"
We have Azure DevOps Build Pipelines with the steps:

`az login --service-principal -u $(servicePrincipalId) -p $(servicePrincipalPassword) -t $(tenantId)`

`az acr helm push -n $(registryName) something.tgz`

Today we're suddenly getting the following error from the `az acr helm push` command:

**`ERROR: Error: authentication required. Correlation ID: 753e02ea-9dd7-400e-878c-2647a66e5006.`**

The

[2019-04-05 19:34] danielestevez opened #9011 "Are there SKUs with no versions? What do they mean?"
Hi!
I was able to get some SKUs with apparently no version
[code]

[code]

What are those SKUs? Are they usable?

(Also there's a typo at can't resolve version/vesion error message :))

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90dfc804-87d6-913a-27fe-a9446a04eb13
* Version Independent ID: bfcb97df-2055-9eca-7a93-6

[2019-04-05 19:49] gbellmann opened #9012 "Link to Docs for 'az appservice plan update' not showing correctly"
The link to Docs for 'az appservice plan update' not showing correctly, it's being shown as the HTML source text instead of the actual anchor.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9dc8c24-cda6-8672-8017-b66435eadbb7
* Version Independent ID: a0be523a-ff1f-18ed-0fc4-ba0e0befe4d1
* Content: [az appservice](htt

[2019-04-05 19:55] yugangw-msft opened #9013 "telemetry: include Azure CLI acquisition information in the user-agent"
For us to know how people acquired CLI, like pip, bundle, curl? We need this information to help out with the decision that whether and when CLI can be Python3 only

//CC: @marstr

[2019-04-05 20:03] tjprescott commented on #9013
Additionally, it will allow our update message to be more useful when users run `az --version`.

[2019-04-05 20:12] tjprescott commented on #9012
@sptramer @dendeli-msft which repo should this go to? It seems like a general docs display issue.

[2019-04-05 20:16] rloutlaw commented on #9012
@tjprescott can you move this to https://github.com/MicrosoftDocs/feedback ?

[2019-04-05 20:20] tjprescott commented on #9012
Couldn't transfer it directly, but I created a new issue there. https://github.com/MicrosoftDocs/feedback/issues/1362

Closing this one. Thank @rloutlaw!

[2019-04-05 20:20] #9012 closed

[2019-04-05 20:22] marstr commented on #9013
Adding a little more context on how we've talked about doing this:
Many of our release channels create their own launcher script. We do this to accommodate different manners of acquiring Python. However, we can take advantage of this by setting an environment variable as we invoke the CLI.

Take our RPM spec for example:
https://github.com/Azure/azure-cli/blob/e241fd56c07a03445ea5d7db99a776696acfa

[2019-04-05 21:01] bigdatamoore commented on #7032
Just spent about 2 hours trying to get this to work and finally found this github issue.  I think this might be worth putting something in the docs mentioning that you need to quote your setting values.  The case I had was related to using keyvault backed app settings for function apps as outlined here: https://azure.microsoft.com/en-us/blog/simplifying-security-for-serverless-and-web-apps-with-az

[2019-04-05 21:01] Sas002 commented on #8967
Thanks for your reply but this install script is provided by SAP and I do not think I can modify it. I am triggering install script using Ansible-playbook which is running fine inside VM for 3 hours or more only az vm is terminating with error after 90 minutes , which cause error and exit 1 code . As part of work around , I trigger one more check using az vm command which check Ansible process in

[2019-04-05 21:14] yuwaMSFT2 commented on #9010
for now, can you assign both AcrPush and AcrDelete roles to the user as a workaround?

[2019-04-05 21:21] mathieu-benoit commented on #9010
It looks like you could now do `az acr helm push -n $(registryName) -u $(registryLogin) -p $(registryPassword) something.tgz`. See `-u` and `-p` part of this `az acr push` command. And you don't need anymore the previous task `az login`.

[2019-04-05 21:28] adewaleo commented on #8967
@Sas002. Thanks for the clarification.

The timeout of the run-command operation is not determined or modifiable by the CLI, it is determined by the compute service that manages VMs. The CLI simply interacts with the service via REST calls.

Given what you have described. I will go with the second recommendation I made. Let the run command run the install script as a background process (this means

[2019-04-05 21:35] limingu commented on #9003
@thiruma0203 it looks like that your login doesn't have the 'destaccount'. Can you try 'az storage account list -g your-resource-group' to see if 'destaccount' shows or not? Or try 'az storage account show -n destaccount' to see if destaccount is found or not? I think 'destaccount' won't show up. That means your login doesn't include 'destaccount'. That is the root cause of this error.

[2019-04-05 21:40] marstr commented on #8987
Howdy, @anhowe. How did you install the Azure CLI? I believe this issue should only repro in environments where the CLI is being executed by Python2.

[2019-04-05 21:40] tjprescott commented on #8988
@Prasanna-Padmanabhan for comment.

[2019-04-05 21:41] tjprescott commented on #8597
@Prasanna-Padmanabhan for comment.

[2019-04-05 21:43] marstr commented on #8632
@englishbobsnr, see this work around from https://github.com/Azure/azure-cli/issues/8734#issuecomment-471954827.

[2019-04-05 21:45] marstr commented on #8632
Because this isn't something actionable by our team, I'm going to close it out.

[2019-04-05 21:45] #8632 closed

[2019-04-05 23:06] djyou commented on #8960
@dluc Could you provide a debug trace `az acr login -n myregistry --debug`, or send it to `acrsup@microsoft.com`? Thanks.

[2019-04-05 23:14] Sas002 commented on #8967
I am calling Ansible-playbook
az vm run-command invoke -g
'${azurerm_virtual_machine.myserver.resource_group_name}' -n
'${azurerm_virtual_machine.myserver.resource_group_name}' --
command-id RunShellScript —scripts 'Ansible-playbook myplaybook.yaml’

[2019-04-05 23:15] tjprescott commented on #9007
This occurs when using `az resource delete ...`. Strongly typed delete commands do not do this.

[2019-04-05 23:16] Sas002 commented on #8967
Which run Ansible playbook inside vm nite than 3 hours but the az vm timed out with error after 90 minutes

[2019-04-06 00:59] #8958 closed

[2019-04-06 02:04] #8914 closed

[2019-04-06 02:06] panchagnula commented on #8666
Added a --logs parameter for now as an optional parameter

[2019-04-06 02:06] #8666 closed

[2019-04-06 04:51] yugangw-msft commented on #4778
no longer needed as ACS is deprecated

[2019-04-06 04:51] #4778 closed

[2019-04-07 04:21] mhilmiasyrofi commented on #7593
I have that error too

[2019-04-07 07:04] shaochen opened #9018 "az functioapp cors remove"
with reference to https://github.com/Azure/azure-cli/issues/8514

`az functionapp cors remove -g {myRG} -n {myAppName} --allowed-origins *` doesn't remove all the allowed origins as suggested in the examples

`az functionapp cors remove -g {myRG} -n {myAppName} --allowed-origins` will clear all the allowed origins

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mic

[2019-04-07 08:24] mjisaak commented on #700
Same issue within the Azure Cloud Shell!

[2019-04-07 20:58] Prasanna-Padmanabhan commented on #8597
This issue was resolved more than a month ago, please let us know if this is still an issue.

[2019-04-07 20:58] #8597 closed

[2019-04-07 21:12] Prasanna-Padmanabhan commented on #8988
This is not yet possible but something we are planning for. I would encourage you to submit this request at https://feedback.azure.com/forums/919474-azure-advisor so others can see and upvote it which will help us prioritize this.

[2019-04-07 21:12] #8988 closed

[2019-04-07 22:30] thiruma0203 commented on #9003
@limingu I do have 'destaccount' in my subscription. Downloading and uploading from/to the storage account works with below comands and on the same environment.

As you have suspected, 'az storage account show -n destaccount' does not return any results, as MSI only has "Storage Blob Data Contributor" role. But uploading and downloading single file succeeds with above commands. I dont see why "az

[2019-04-08 06:01] simonness commented on #9010
Thanks very much @yuwaMSFT2 @mathieu-benoit.  To confirm adding the `AcrDelete` role to the service principal also worked for me.

[2019-04-08 06:06] sdkks commented on #8777
`brew install azure-cli` exits non zero because symlink can't be created. Maybe:
`brew update && brew install azure-cli || brew link --overwrite azure-cli` ?

[2019-04-08 13:45] MikeLangley68 opened #9019 "az aks get-credentials failure"
**Describe the bug**
While trying to pull the credentials for another azure environment I got an error messages as follows:
Traceback (most recent call last):
  File "/usr/lib/python2.7/logging/__init__.py", line 868, in emit
    msg = self.format(record)
  File "/home/mike/lib/azure-cli/local/lib/python2.7/site-packages/knack/log.py", line 78, in format
    msg = logging.StreamHandler.format(self

[2019-04-08 14:45] #9007 closed

[2019-04-08 14:46] tjprescott commented on #5343
The issue isn't resolved until all points are addressed. Reopening for tracking purposes.

[2019-04-08 14:51] tjprescott commented on #9019
You will need to update to the latest CLI. It sounds like you may need to uninstall an old version, potentially that was installed a different way. Try running `which az`. That should help identify where your executable is coming from.

[2019-04-08 14:52] tjprescott commented on #9019
I believe this particular bug is fixed, so I will close this. If it persists after you update, please reopen.

[2019-04-08 14:52] #9019 closed

[2019-04-08 15:27] MikeLangley68 commented on #9019
Travis,
It can't be fixed if I've uninstalled and reinstalled 3 times with the same exact results each time. What verion is the latest azure-cli version? 2.0.61? If so then your issue isn't fixed. It tells me to update to Python 3.6 or 3.7. I've done that but it doesn't help when you install a version of python 2.7.x and force the cli to use that version.

Thanks,
Mike Langley
____________________

[2019-04-08 15:30] y-melo opened #9021 "List Blob doesn't work when top folder name starts with -"
**Describe the bug**
When The  the first folder in the container start with `-` the command fails.
I've tried with double quote, single quote, scape it with \ and ` .

**To Reproduce**
This works
[code]
This Works
[code]
This Fails
[code]

**Expected behavior**
Expected to return the size. of the blobs.

**Environment summary**
Running AZ CLI on Windows 10.
[code]
**Additional context**
Also is th

[2019-04-08 15:59] tjprescott commented on #8998
Currently I'm unable to repro. I've used `az resource show --ids {id}` on several classic resources and they work fine. While I can add logic to the area in the stack trace, when I have tried to trigger it, I find something else catches the problem first, so I would really need to know the structure of the ID you are using to be able to repro.

[2019-04-08 16:01] tjprescott commented on #9019
Yes, the latest version is 2.0.61. Is that the version you have installed?

[2019-04-08 16:04] MikeLangley68 commented on #9019
Yes, I state that very clearly in my initial notes.

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Travis Prescott <notifications@github.com>
Sent: Monday, April 8, 2019 11:01:27 AM
To: Azure/azure-cli
Cc: Mike Langley; Author
Subject: Re: [Azure/azure-cli] az aks get-credentials failure (#9019)

Yes, the latest version is 2.0.61. Is that the version you ha

[2019-04-08 16:10] tjprescott commented on #9001
You mention that you get this error "for certain commands". Could you be more specific about which commands are showing this error?

[2019-04-08 16:12] simongdavies commented on #8912
Thanks , IMO we should fix this, having things like this not work in CloudShell is not a great experience, if we cannot fix it then at the least we should produce an error message so the user knows what the issue is.

[2019-04-08 16:18] tjprescott commented on #9019
Your initial report states that running `az --version` shows you are running 2.0.44, which means that even if you have 2.0.61 installed, it is clearly not being run.

You need to find the 2.0.44 installation and remove it. Please provide the output of `which az` and `pip list`. If the error persists when you are running version 2.0.61 then I will gladly reopen the issue and direct it to the AKS te

[2019-04-08 16:23] MikeLangley68 commented on #9019
Yes, but if you read the whole thing APT things it has 2.0.61 installed. As mitigation I removed the "y" folder and the az bash script in my bin folder. I've also cleaned up my .bashrc file. I've now reinstalled the azure-cli 2.0.61 but it doesn't know anything about the az command.
________________________________
From: Travis Prescott <notifications@github.com>
Sent: Monday, April 8, 2019 11:18

[2019-04-08 16:41] tjprescott commented on #9019
I did read the whole thing and the bottom line is that it isn't running 2.0.61 whether it is installed or not, which is not an AKS issue and they won't be able to help you.

Again, please provide the output of `which az` and `pip list`. If you don't provide the requested information, there is nothing I can do to help you.

[2019-04-08 16:46] MikeLangley68 commented on #9019
I removed everything for the cli and reinstalled and recreated the az bash file in my bin folder and pointed that at the /usr/bin/az. It seems that the install was trying to create the azure-cli under the lib folder again which was the bad version.

Look at this page: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest

[2019-04-08 16:47] ahmedelnably commented on #9018
@panchagnula what is the intended behavior here?

[2019-04-08 16:48] tjprescott commented on #9019
So it sounds like you were able to get the latest version to run?  Does your issue persist?

[2019-04-08 17:05] MikeLangley68 commented on #9019
yes, I had to recreate the plumbing but it seems to be working now. It didn't create an az bash file when I installed the 2.0.61 version. Should it have?

[2019-04-08 17:06] panchagnula commented on #9018
@shaochen see this known issues on the documentation https://github.com/Azure/azure-cli/issues/8514  if the cors values is not set to * (i.e to allow all then it won't remove this) if you want remove all the values  run the command as az functionapp cors -g {} -n {} --allowed-origins

[2019-04-08 17:38] bebarb commented on #8987
Hello Everybody,

I have the same issue, CLI was installed using both methods:

	https://docs.microsoft.com/ja-jp/cli/azure/install-azure-cli-linux?view=azure-cli-latest#install-or-update
	https://docs.microsoft.com/ja-jp/cli/azure/install-azure-cli-yum?view=azure-cli-latest#install

CLI version is: azure-cli 2.0.60
And the debug of the command shows the same output as the posted by @anhowe

Is

[2019-04-08 17:48] tjprescott commented on #9019
@MikeLangley68 I don't believe so, no. My best guess is that you installed the CLI some time ago potentially using a different mechanism (maybe the curl script) and that was the source of the trouble. We have an open issue to be able to identify how people installed the CLI so that we can avoid these kinds of headaches. https://github.com/Azure/azure-cli/issues/9013

[2019-04-08 17:49] tjprescott commented on #4046
This has been implemented as part of `az --version`.

[2019-04-08 17:49] #4046 closed

[2019-04-08 18:24] adewaleo commented on #8967
@Sas002 this issue is not a CLI-side issue as the CLI simply sends the request to the VM for the run-command to be executed. The CLI does not determine the run-command timeout, this is a limit set on the service side.

As I have suggested above, your best bet would be to run Ansible playbook as a background process, so it is not constrained by the timeout. You can then run another script to valida

[2019-04-08 18:25] adewaleo commented on #8967
As this is not a CLI issue and a workaround as been provided, I will be closing this issue. You can definitely follow up on the run-command docs page and request the ability to modify the command's timeout. This is something we cannot control on the CLI side.

[2019-04-08 18:25] #8967 closed

[2019-04-08 18:56] fishd72 commented on #8654
This would be especially helpful for environments where the local user does not have full local admin rights and clients require software to be installed via management tooling.

[2019-04-08 18:56] chriskuech commented on #2324
I just spent an hour trying to get WSL to integrate like a native terminal with unsatisfactory results.  Please fully support Windows.  Many of the Azure docs only feature `az` and lack parity with Azure PowerShell.

[2019-04-08 18:58] reddy-sucharit commented on #8988
Posted this question in Azure Feedback: https://feedback.azure.com/forums/919474-azure-advisor/suggestions/37323007-can-i-retrieve-potential-annual-cost-savings-and-r

Request followers on here to kindly vote against this feedback to help prioritize this request/recommendation.

[2019-04-08 19:43] sptramer opened #9023 "`az group create` incorrectly requests `--rg-name` argument"
**Describe the bug**
In some situations, the Azure CLI requres the use of the `--rg-name` argument with `az group create`. When this argument is required, `--name` does not work as an alias.

This argument only works when the `--name` argument is refused; otherwise the `--name` argument is reported as required, and `--rg-name` does not work.

**To Reproduce**
* Reproduction may require a fully cle

[2019-04-08 19:54] tjprescott commented on #9023
`--rg-name` is definitely not an allowable option. @adewaleo please take a look.

[2019-04-08 20:11] tjprescott commented on #9023
Actually, I think that this is most likely a bug in `az interactive`. I'm going to transfer the issue there and I will investigate. If it turns out to be an issue with the help system, I'll transfer it back.

[2019-04-08 21:39] TravisEz13 opened #9024 "--os is no longer supported"
I get this error when I use it `Docker build failed with: az.cmd : WARNING: Argument 'os_type' has been deprecated and will be removed in a future release. Use 'platform' instead.`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c608162e-cf40-9d53-da4a-51f51a0311ea
* Version Independent ID: eccbb543-be68-7de2-d41d-abee5

[2019-04-08 22:05] ThePhunny opened #9026 "Please update to clarify CREATE options."
It might be useful to clarify that in az snapshot create --resource-group -g that it is the TARGET RG the snapshot will be created in not the location of the source.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fca6f8c5-a518-04ee-08e3-4ad8d4c9516e
* Version Independent ID: 17710c8c-9cd9-57ea-b6b0-1411648ea03f
* Conte

[2019-04-08 22:05] adewaleo commented on #9011
@danielestevez.

This is very strange. I investigated and it appears there are no images for that offer:

[code]

My guess is its some sort of internal testing sku. I will reach out to the Compute service team for clarification.

P.S. Thanks for catching and reporting the typo. I have created a [PR](#9025) to fix it.

cc: @yugangw-msft @kmoussa

[2019-04-08 22:32] singhkays commented on #8933
Adding @shandilvarun VM PM for taking a look

[2019-04-08 23:24] antgonmir commented on #9001
I was able to reproduce the issue with any commands that involved operating with a Key Vault, for example `az keyvault secret list`, `az keyvault secret set`, `az keyvault key list`, etc.

[2019-04-08 23:45] tjprescott commented on #9001
In that case, this seems related to #6958.

[2019-04-09 00:01] balag0 opened #9027 "Remove WEBSITE_CONTENTAZUREFILECONNECTIONSTRING and WEBSITE_CONTENTSHARE appsettings when creating linux consumption function apps"
https://github.com/Azure/azure-cli/blob/9ad476d1911b2c46351f142c6112516d66e2af85/src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py#L2087

We no longer need this to be set.

[2019-04-09 01:55] adewaleo commented on #8657
It would be good to get feedback from users on this. I opted for `--output-name` because the command is adding an output to a template. I would be more inclined towards `--template-name` if outputs were bonafide resources and the command was associating a template with an image template. Moreover, the command support the use of `--ids` to add an output to multiple templates given their resource id

[2019-04-09 02:05] curiousminion opened #9030 "SSL Error when brew install azure-cli"
**Describe the bug**
az login throws error: Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /common/oauth2/token (Caused by SSLError(SSLError("bad handshake: Error([('SSL routines', 'ssl3_get_server_certificate', 'certificate verify failed')])")))

**To Reproduce**
run brew install azure-cli
as

[2019-04-09 10:45] MikeLangley68 commented on #9019
At the time I don't believe that the azure-cli was being pushed any other way. In any case, I have now cleaned up all the nastiness that I believe the previous install created. Is there any documentation that exists that says what should have been installed where on Ubuntu 18.04 Bionic?

[2019-04-09 11:00] thiruma0203 commented on #8987
This issue also reproduced on my environment with Azure CLI 2.0.61. After changing my subscription name to mixture of alphabet and Japanese charcters, this issue has come to be observed.

As far as I've tested, this issue does not occur back in Azure CLI 2.0.42, in which version output of 'az login --identity' does not contain subscription name like below.

  {
    "environmentName": "AzureCloud",

[2019-04-09 12:29] qxsch opened #9031 "respect proxy settings on KDE (RHEL7)"
**Describe the bug**
/etc/profile.d/proxy.sh has global proxy settings for every user. And export shows, that root and my user have the same proxy settings.

az login with root works, but az login with a non-root user fails with message:

Open browser with url: xxxxxx
Note, we have launched a browser for you to login. For old experience with device code, use "az login --use-device-code"
kioclient(

[2019-04-09 12:44] je-munobia opened #9032 "--display-name-idempotent flag: az ad group create --display-name "AAD DC Administrators" --mail-nickname "AADDCAdministrators""
When working with azure cli up to now, the idempotency has been a strong feature. Not having to add conditionals and instead state desired result is great.

I would like az ad commands to work the same and not complain or create a new instance if the existing entry exists. I understand that your argument has been "if not explicitly documented as illegal to have two of the same, then create an addi

[2019-04-09 17:14] tjprescott commented on #9019
Generally speaking there is only the installation doc https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2019-04-09 17:24] mattsmall1972 opened #9034 "Key Vault set-policy needs "--applicationId" parameter for OBO Token (user+application)"
**Describe the bug**
az keyvault set-policy needs an additional parameter to allow users to add an on-behalf-of access policy for user+application.

**To Reproduce**
No reproduction needed.  It simply does not exist.

**Expected behavior**
Add "--applicationId" as a parameter which populates the "applicationId" property of an Azure Key Vault.  This feature exists in the Azure Portal as well as Pow

[2019-04-09 17:26] tjprescott commented on #9032
@marstr for review. Several people have pointed out this limitation in the AD commands (which is essentially a reflection of the limitations in the AD service).

[2019-04-09 17:54] wtam commented on #6811
I tried but still not work with still the same permission error, what I did was on Cloud shell, I run 'kubectl proxy --port 8002'.  And on my laptop, I run 'az aks browse --resource-group AKSK8ClusterRG --name K8Cluster --listen-port 8002'

[2019-04-09 18:45] adewaleo commented on #6475
@tjprescott @yugangw-msft, what is our consensus on this? Do we want to permit this type of ID or not?

[2019-04-09 18:48] adewaleo commented on #7661
@kristianjaeger, what command(s) exactly would you like to see examples for or what type of examples would you like?

[2019-04-09 19:12] tjprescott commented on #6475
I would say no. The Azure CLI script tab was removed because the scripts in it were not actually verified to work. The resource explorer cannot make statements about what the CLI command should do, but should instead rely on what the CLI does. Since the type of ID does not work in the CLI, it should never have appeared in the Resource Explorer. I would recommend closing this.

[2019-04-09 19:48] adewaleo commented on #6475
Thanks @tjprescott. This all makes sense.

I will close this issue

[2019-04-09 19:48] #6475 closed

[2019-04-09 19:57] adewaleo opened #9037 "[feedback] az feedback feature updates"
Feature Updates. When az feedback is run:

- [x] The CLI should include the autogenerated issue in the opened browser via the url. If necessary, any exceptions should be minified to stick with the defacto standard of [2000 characters](https://stackoverflow.com/questions/417142/what-is-the-maximum-length-of-a-url-in-different-browsers).
- [x] The CLI should open a bug report issue if the command se

[2019-04-09 20:21] adewaleo commented on #9037
Concerning getting brand / os flavor names, see:

- https://unix.stackexchange.com/questions/92199/how-can-i-reliably-get-the-operating-systems-name/92218#92218
- https://github.com/easybuilders/easybuild/wiki/OS_flavor_name_version
- https://askubuntu.com/questions/459402/how-to-know-if-the-running-platform-is-ubuntu-or-centos-with-help-of-a-bash-scri

[2019-04-09 20:27] brusMX opened #9038 "az aks scale fails when using CustomVnet + kubenet"
**Describe the bug**

When deploying a cluster with Custom VNET + kubenet, we are unable to run the scale command on it if we provided custom values for the serviceCIDR and/or the DNS service IP.​

[code]

**To Reproduce**

Deploy the cluster with custom `serviceCIDR` and custom DNS Service IP and Kubenet plugin.
​Try to scale the cluster using `az aks scale`

**Expected behavior**

The cluster sh

[2019-04-09 20:33] #8957 closed

[2019-04-09 21:00] adewaleo commented on #9026
@ThePhunny. Thanks for reaching out about this. This is the existing general pattern of the CLI
`--resource-group` is the destination of the resource to be created.
see the following commands and their examples:
- az vm create --help
- az storage account create --help
- az image create --help

This is why --source accepts **a name or ID** for source managed disks and snapshots. I

[2019-04-09 21:00] adewaleo commented on #9026
@ThePhunny

Is there any way you think we could make this command clearer? Could an example showing snapshot creation from a source in a different resource group help?

[2019-04-09 21:03] adewaleo commented on #8774
Closed through #8876

[2019-04-09 21:03] #8774 closed

[2019-04-09 22:23] JasonRShaver opened #9039 "please ignore, do not label or remove until 4/11"
sla testing
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd

[2019-04-10 00:40] marstr commented on #9032
Thanks for this feedback, @je-munobia. I really like the idea of adding a flag to make this an idempotent operation.

Is it safe to assume that you'd prefer it to be idempotent by default, and add a flag that says "allow-duplicates" or similar? Obviously, it would be a bit of a breaking change. But as you point out, it may do a better job of catering to a wider audience.

[2019-04-10 03:49] sureshpaulraj opened #9043 "`az kusto database create`"
az kusto database create --cluster-name adbdemo --name demodb --resource-group hipodemo-rg --soft-delete-period 3650:00:00:00 --hot-cache-period 3650:00:00:00

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az kusto database create --cluster-name {} --name {} --resource-group

[2019-04-10 06:44] mandarsj commented on #8642
i have same issue. does anyone know what is the  solution. My CLI version is 2.0.59 which seems fine as well

[2019-04-10 07:04] #9039 closed

[2019-04-10 07:45] i3anaan commented on #8415
I agree with you, I ran into the same problem.
Best I can give you is a little trick/workaround:

use container show to get a response json object that contains most of the fields, you can then mirror this structure in your yaml file.

Not a full solution, but did help me a bit, hope it does for you too!

[2019-04-10 08:13] moonmeister commented on #8783
@ahmedelnably Can I get some help on this?

[2019-04-10 08:50] DMKmod opened #9044 "az interactive stopped working after 2.0.62 update"
### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az interactive`

## Expected Behavior

A clear and concise description of what you expected t

[2019-04-10 09:07] mariojacobo opened #9045 "Az account set switches the user logged on"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

Create a service principal and use that to login
$ az login --service-principal -u "app-url" --password "password" --tenant "tenant" --allow-no-subscriptions

{
    "cloudName": "AzureCloud",
    "id": "REDACTED",
    "isDefault": true,
    "name": "N/A(tenant level account)

[2019-04-10 09:15] sandeepiiit commented on #7903
I see the same error when querying for "networkInterface".
When I run:
`az lab vm show --lab-name $lab --name $name --resource-group $rg`
I am able to see general details about the VM, but all entries under networkInterface are null.

When I try to expand that using "--expand",
`az lab vm show --lab-name$lab --name $name --resource-group $rg --expand 'properties($expand=artifacts,computeVm,network

[2019-04-10 09:30] mariojacobo commented on #9045
after more testing, it looks like this is due to missing permissions on the subscription in question. So, I need to add the service principal to that subscription first, then login (remove --allow-no-subscriptions) and then set the subscription. Kind of backwards if you ask me, defeats the whole purpose of automation with AZ cli.

[2019-04-10 10:10] daxianji007 opened #9046 "Packages conflict for azure.storage.blob"
**Describe the bug**
I installed the code in azure-cli repo. The code dependent on package azure-storage-blob and it is installed. But I cannot import azure.storage.blob in python.

**To Reproduce**
1. Clone the repo
2. run `python scripts/dev_setup.py`
3. run `pip show azure-storage-blob`, this package is installed.
4. run `python -c "import azure.storage.blob"`, get error `ModuleNotFoundError: N

[2019-04-10 11:14] ronaldgreeff commented on #6721
I'm following the [guide](https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-python) and I get this error. I haven't set "resource_group_name" to begin with. I have no idea how to change CRLF to LF endings. Why's it so difficult for Microsoft to do anything right?

[2019-04-10 11:50] ArgTang opened #9047 "powershell --query error"
**Describe the bug**
When not putting space in --query clause, cli will not work. If ignoring powershell formatting with --% same command works

**To Reproduce**

Using powershell 5.1
[code]

**Expected behavior**
While invoking the command it should return values from keyvault. Or give better errormessage

**Environment summary**
win10
powershell 5.1
az cli version 2.0.60

[2019-04-10 12:32] joakimrapp opened #9048 "please decide which characters that are valid when naming items in Azure"
It is a mess naming stuff in Azure in general because you are not consistent through out the platform which characters are valid. Some times dash is allowed, some times it is not, the same with underscore.

It would be so much more pleasant to work with Azure if the same rules applies everywhere in Azure.

Just as an example, a resource group can be named with dashes, e.g. xxx-yyy-zzz, while a con

[2019-04-10 13:08] marcelkonings opened #9049 "az webapp ssh failed to setup connection"
The issue has been copied to your clipboard. Paste it here!
To print out the issue body locally, run `az feedback --verbose`

### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug
az webapp ssh failed to setup ssh connection

**Command Name**
`az webapp ssh`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Com

[2019-04-10 14:26] tjprescott commented on #9044
You have to update your extension. A new version was released compatible with 2.0.62.

[2019-04-10 14:27] #9044 closed

[2019-04-10 14:32] tjprescott commented on #9046
@daxianji007 why do you think it was introduced by #8855?

[2019-04-10 14:41] tjprescott commented on #7903
This means the service does not support the value you supplied.

[2019-04-10 15:01] ronaldgreeff opened #9050 "msrest.exceptions.ValidationError: Parameter 'resource_group_name' must conform to the following pattern: '^[-\\w\\._\\(\\)]+$'."
**Describe the bug**
Azure automatically creates a resource-group for you. Mine is called "cloud-shell-storage-northeurope".

**To Reproduce**
Click "Cloud Shell"
Choose a storage solution
mkdir <anything>
cd <anything>
az webapp up -n <app-name>

**Expected behavior**
I expected the 'resource_group_name' automatically generated by Azure not to fail it's own validation.

**Environment summary**
Az

[2019-04-10 15:02] kristianjaeger commented on #7661
@adewaleo This was a long time ago.  I believe I was looking for ways to tags resources as I was creating them via the Azure CLI on OS X.

One thing I've noticed, in the past at least, is that the PowerShell Azure CLI seems to be better documented than the OS X / *nix CLI.  Thanks.

[2019-04-10 15:06] panchagnula commented on #6721
@ronaldgreeff  are you running the az web app up command?  What error are you getting? This thread talks of a couple of errors.

[2019-04-10 15:11] tjprescott commented on #9047
[code]

You might try using PS 6.2, but since this is a shell issue, it occurs before the input ever reaches the CLI and thus there is nothing in the CLI we can do to mitigate this.

[2019-04-10 15:11] #9047 closed

[2019-04-10 15:14] tjprescott commented on #9046
I am not able to reproduce this. I followed your directions and do not get the ModuleNotFoundError.

[2019-04-10 15:14] mhyllander opened #9051 "vnet peering create --allow-vnet-access help text wrong?"
**Describe the bug**
It seems to me that the help text for the --allow-vnet-access option of the "az network vnet peering create" command is wrong. I think the effect is the opposite.

**To Reproduce**
Create two vnets in a resource group, "net-a" and "net-b".

Create a vnet peering:

[code]

The help text for option "--allow-vnet-access" as output by "az network vnet peering create -h" states:

[

[2019-04-10 15:15] tjprescott commented on #9046
You might try the following:
`pip install --upgrade azure.storage.blob`

[2019-04-10 15:18] tjprescott commented on #9051
Thanks for the report @mhyllander! I'll take a look.

[2019-04-10 15:23] mhyllander commented on #9051
In addition, the help text for option "--allow-forwarded-traffic" says:

[code]

This also looks strange. According to the portal:

![VNet peering 2019-04-10 172108](https://user-images.githubusercontent.com/3501939/55891590-1a4d6a00-5bb5-11e9-8d0d-06a0d81cf988.png)

This states that the option will allow traffic not originating in net-a to be forwarded to net-b.

[2019-04-10 15:52] jluk commented on #8941
Opened an issue on swagger as well https://github.com/Azure/azure-rest-api-specs/issues/5607

[2019-04-10 15:53] jb289 opened #9052 "webapp update should validate the RG & Webapp exists before trying to run an update"
**Describe the bug**
The webapp update CLI command always returns ERROR - 'NoneType' object has no attribute 'kind'
when resource name does not exist.

**To Reproduce**
Example:

------------------------------
Where resource name 'waName' does not exist
[code]
-----------------------------------

This happens on the PS cloud shell and PS locally (and on DevOps build servers).

**Expected behavior*

[2019-04-10 16:32] wordrak opened #9054 "az login with managed identity times out."
### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az login --identity -u {}`

## Expected Behavior

A clear and concise description of what you expec

[2019-04-10 18:54] tjprescott commented on #9046
As I'm not able to repro this, and @dendeli-msft indicated the issue has been fixed on the docs side, I'm going to close this.

[2019-04-10 19:11] tjprescott commented on #9048
Thanks for the feedback @joakimrapp. From the CLI side, there isn't anything we can do when it comes to the service-side restrictions on naming. However, this should not have printed a stack trace, so we will look at fixing our exception handling to ensure that this error at least displays in less frustrating way.

[2019-04-10 19:32] sebastianrogers commented on #6721
There are multiple ways to do this but the easiest is to open the file in a suitable editor, I use VSCode, and then access the file properties and change the line endings.

In VSCode this can be done from the bottom status bar for a file:

![image](https://user-images.githubusercontent.com/5982044/55907791-a1a7d700-5bcf-11e9-9869-7544c4b8ba19.png)

Just change CRLF to LF and save the file.

[2019-04-10 20:49] danielestevez commented on #9011
It looks like some kind of internal testing so i think they shouldn't be exposed by the API?

[2019-04-10 21:13] adewaleo commented on #7661
@kristianjaeger.  How do you find Powershell's documentation to be better, so we can improve the CLI's docs?

[az resource tag](https://docs.microsoft.com/en-us/cli/azure/resource?view=azure-cli-latest#az-resource-tag) has an example on how to tag resources. Also most create commands include `--tags` for tagging resources on resource creation. e.g. [az vm create](https://docs.microsoft.com/en-us/c

[2019-04-10 21:18] kristianjaeger commented on #7661
@adewaleo Thanks. As I mentioned as of 10/24/18 when I filed this issue.  There were more examples for using Azure CLI with Powershell rather than Bash on OS X.  If that's not the case now then your teams should know. If the *nix CLI docs / examples are better now that's great. Cheers.

[2019-04-10 22:05] adewaleo commented on #7661
It's interesting you say that, because we've gotten some feedback that some of our commands tend to be more bash-oriented rather that powershell/cmd-oriented.

Seeing there aren't any directly actionable items concerning this issue. I will go ahead and close it. Thanks @kristianjaeger

[2019-04-10 22:05] #7661 closed

[2019-04-10 23:12] itelligence opened #9060 "Ability to list resources by multiple tags"
At the moment when you request resource list you are only allowed to request list based only on single tag.

`az resource list --tag foo=bar`

Ideally it would be nice to request that list by specifying multiple tags to narrow down the results you wish to retrieve.

`az resource list --tag foo=bar --tag foo2=bar2`

[2019-04-10 23:32] varveti opened #9061 "az storage account check-name"
I am seeing issue when I try check if the storage account name exists or not with the following command
 az storage account check-name --name ryess

Error:
Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /subscriptions/7d24b5bf-ffd4-4417-a35a-fd302310ed51/providers/Microsoft.Storage/checkNameAvailability?api-version

[2019-04-10 23:33] varveti commented on #9061
I am seeing issue when I try check if the storage account name exists or not with the following command
 az storage account check-name --name ryess

Error:
Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /subscriptions/7d24b5bf-ffd4-4417-a35a-fd302310ed51/providers/Microsoft.Storage/checkNameAvailability?api-version

[2019-04-10 23:36] glGarg opened #9062 "Valid Example Failing Linter Test"
**Describe the bug**
A clear and concise description of what the bug is.
The following command fails 'faulty_help_example_parameters_rule' in linter.
az batch pool set --account-endpoint https://accountname.location.batch.azure.com --account-name MyAccount --application-package-references app01#1.0 --pool-id mypool

I believe this is because linter code uses shlex.split(command, comment=True) to s

[2019-04-11 00:05] adewaleo commented on #9062
Thanks for posting this linter issue @glGarg, we might have to transfer this issue to azdev's repo

[2019-04-11 00:11] sandeepiiit commented on #7903
@tjprescott Do you mean the the value I provided for the expand parameter is incorrect?
I copied that from the documentation: https://docs.microsoft.com/en-us/cli/azure/lab/vm?view=azure-cli-latest#az-lab-vm-show

I also tried the below command with lesser properties in expand and got the same error:
`az lab vm show --lab-name $lab --name $name --resource-group $rg --expand 'properties($expand=net

[2019-04-11 04:34] sandeepiiit commented on #7903
Nevermind, I figured out my mistake.
I was using the CLI from within the powershell (and I assume I am not escaping the characters appropriately to get that to work).

I switched to command prompt, and I had to change ' to " and then the command works as expected.
`az lab vm show --lab-name $lab --name $name -g $rg --expand "properties($expand=networkInterface)"`

I think the doc should be updated

[2019-04-11 07:20] DenisBiondic opened #9065 "vnet create should allow creation of multiple subnets"
**Describe the bug**
az network vnet create is idempotent, and this is ok. If you run vnet create on a vnet with multiple existing subnets however, the subnets will be deleted; and altough this is also expected behaviour, there should be a way to create a vnet with mutliple subnets at the same time. Similar approach exists in Azure Python SDK create_or_update method, so why not expose it in CLI as

[2019-04-11 07:54] willierowe opened #9066 "az aks install-cli failed"
The command failed with an unexpected error. Here is the traceback:

<urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.
c:841)>
Traceback (most recent call last):
  File "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\lib\urllib\request.py",
 line 1318, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "C:\Program Files (x86)\Microsoft SDKs\A

[2019-04-11 08:17] schdief commented on #9010
@mathieu-benoit thanks a lot for this advice, works like a charm - this issue made me crazy yesterday :) maybe you can update [your phippyandfriends guide](https://cloudblogs.microsoft.com/opensource/2018/11/27/tutorial-azure-devops-setup-cicd-pipeline-kubernetes-docker-helm/) so others won't run in the same problem?
@simonness thanks for opening the issue

[2019-04-11 08:23] murarisumit opened #9067 "Not able to list polices on management group"
**Describe the bug**
Not able to list polices on management group.

[code]

**To Reproduce**

Steps to reproduce the behavior.

1. Create a policy
[code]

2. Assign the policy to management group.
[code]

below command should work, but not working for me.

[code]

**Expected behavior**
I should be able to list the assigned polices in management group

**Environment summary**

Install : pip
CLI ver

[2019-04-11 08:31] ronaldgreeff commented on #6721
@panchagnula - the error is the error which this thread is about. I use " az webapp up --name <name> " and I get the error " msrest.exceptions.ValidationError: Parameter 'resource_group_name' must conform to the following pattern: '^[-\\w\\._\\(\\)]+$'. "
The resource group name (generated by Azure) is " cloud-shell-storage-northeurope "
If I use regex101.com to check the resource group name again

[2019-04-11 08:33] daxianji007 commented on #9046
@tjprescott I find this PR because I run Docs CI locally for specified commit. The CI passed at commit 35f9aec6684fe36b1a08297e6b64b7a5b0f7f5b7 and failed at commit 9e360fc664c8acd0a1f1a9246fd58ffe5238acb5. The only difference between the two commits is #8855.

I have deeper investigation today, this could be related to pip version change in #8855. I think it is the reason why you did not repro it

[2019-04-11 08:53] cchchoi1986 commented on #8126
I ran into this issue as well when I tried to script the azure cli key vault tutorial at the set-policy step:
`
principalidvar="$(az webapp identity assign \
  --resource-group $resourcegroupvar \
  --name $appvar \
  --query principalId
)"

az keyvault set-policy \
  --secret-permissions get list \
  --name $vvar \
  --object-id $principalidvar
`

After a long debug session I realized it happened

[2019-04-11 09:10] ruijarimba commented on #8545
Any workaround using Azure CLI?

[2019-04-11 14:14] moonmeister commented on #8783
@azure anyone?

[2019-04-11 14:15] #8622 closed

[2019-04-11 15:30] bmc-msft opened #9069 "exception when setting a new container version for a functionapp"
## Describe the bug

When trying to push a new version of an image to an azure function, I encountered the following exception.

**Command Name**
`az functionapp config container set`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az functionapp config container set --docker

[2019-04-11 15:53] ahmedelnably commented on #8783
@ColbyTresness as he knows the inner workings of Zip Deploy

[2019-04-11 16:26] tjprescott commented on #9046
@lmazuel do you know why `azure.storage.blob` would require `azure-nspkg-1.0.0` and not work with `azure-nspkg-3.0.2`?

[2019-04-11 16:51] tjprescott commented on #9046
@daxianji007 I still cannot repro this. When I do a pip list in my environment, I show `pip 19.0.3` and `azure-nspkg 3.0.2`. Yet all of our storage commands and tests run fine and I can run `python -c "import azure.storage.blob"` without issue.

[2019-04-11 16:51] tjprescott commented on #9046
@daxianji007 I still cannot repro this. When I do a pip list in my environment, I show `pip 19.0.3` and `azure-nspkg 3.0.2`. Yet all of our storage commands and tests run fine and I can run `python -c "import azure.storage.blob"` without issue.

[2019-04-11 16:59] tjprescott commented on #9065
The ability to create any subnets at the time of Vnet creation was always intended purely as a convenience for those who only cared about getting a vnet with some subnet. For multiple subnets, the intention has always been to require multiple commands, because the subnet create command itself has many parameters.

We are working on an infrastructure level feature that would support your scenario t

[2019-04-11 17:15] #7740 closed

[2019-04-11 18:10] dlott opened #9072 "az storage blob generate-sas returns double url-encoded sas token"
**Describe the bug**
sas token returned is incorrectly double url-encoded in azure-cli 2.0.62

**To Reproduce**
`az storage blob generate-sas --container-name foo --name bar --account-name baz --expiry 2020-04-10T10:44:56Z --permissions r`

returns

`"se=2020-04-10T10%253A44%253A56Z%26sp=r%26sv=2018-03-28%26sr=b%26sig=[omitted]"`

**Expected behavior**
Previously in azure-cli

[2019-04-11 18:15] stevengum opened #9073 "Incompatible name space package requirements (`azure-mgmt-nspkg`)"
**Describe the bug**
Incompatible name space package requirements (`azure-mgmt-nspkg`) when running dev_setup script.

**To Reproduce**
1. Clone repo
2. Create new virtual environment
3. Activate virtual environment
4. Run `scripts/dev_setup.py`
5. Receive incompatible requirements message (See below screenshot)

![4-11-dev_setup py](https://user-images.githubusercontent.com/14935595/55980993-9940

[2019-04-11 18:23] sebastianrogers commented on #6721
@ronaldgreeff its not the files but the script your using to run the commands, check it's end of line encoding.

[2019-04-11 18:24] stevengum commented on #7192
@cloudguy-pro, my apologies for not seeing your response. As part of our refinement of the `az bot` CLI, we are pushing users to rely more on built in Azure CLI functionalities. As such, users should use `az ad app create` to create a MSA AppId and App Password; we've documented this scenario here: https://github.com/Microsoft/BotBuilder-Samples/blob/0cc96a35dee3cb5f4f8678d0c240ec5756eb8175/sample

[2019-04-11 18:32] MakerSquid commented on #8637
I feel like I have the same issue.  Is there any new information?

When I add permissions to an application, I get the message showing how to invoke the permission grant.  When I execute that permission grant I get the same error as above.

Example:
Invoking "az ad app permission grant --id c23346c7-8cac-4c0a-9e18-c7f2721143a9 --api 00000002-0000-0000-c000-000000000000" is needed to make the chang

[2019-04-11 18:44] panchagnula commented on #6721
@ronaldgreeff I can see how the error message from the backend make you believe that Azure is failing its own validation.  Looking at the Guide you have referred to - it gives you a sample to download & run the command from this directory. Please try that.

Also, few things you can try
1. Please type the command out instead of Copy pasting - the script copied might have line encoding
2. Run the co

[2019-04-11 19:30] MakerSquid commented on #8637
My CLI was slightly outdated.  Using 2.0.62 produces the same 404 as the cloud shell.

[2019-04-11 19:48] MakerSquid commented on #8637
Finally, I see that there is an issue where 404 means there are no permissions found.  Seemingly, the adding of permissions via CLI isn't working unless the portal is used to give admin consent.  Possibly fixed by changes discussed here: https://github.com/Azure/azure-cli/issues/8310

[2019-04-11 21:12] limingu opened #9077 "az storage account create to set firewall rules"
az storage account create that we can specify a few network firewall settings:

 

Network Rule Arguments

    --bypass                       : Bypass traffic for space-separated uses.  Allowed values:

                                     AzureServices, Logging, Metrics, None.

    --default-action               : Default action to apply when no rule matches.  Allowed values:

                   

[2019-04-11 21:26] limingu commented on #9061
@varveti, your az version is azure-cli (2.0.28). It is old and it is using /subscriptions/7d24b5bf-ffd4-4417-a35a-fd302310ed51/providers/Microsoft.Storage/checkNameAvailability?api-version=2017-10-01

We have newer CLI version and the Azure api version is also upgraded.

Can you upgrade your azure-cli and try again? Thanks.

[2019-04-11 22:24] MakerSquid commented on #8637
The problems I was having seem to all be related to the fact that a couple of my guids identifying permissions were wrong.  An error to that effect would be nice, but things seem to work fine with the latest version and valid guids.

[2019-04-11 22:30] yugangw-msft commented on #7579
Hi folks, we are actively working on this, but at this moment we are not able to offer any ETAs you should align/plan your work with. One thing for sure is once the Service API goes public, CLI team will prioritize the work to expose the support as early as possible.

[2019-04-11 22:32] lzomlot opened #9078 "az should prevent user from generating sas with a friendly message"
The issue has been copied to your clipboard. Paste it here!
To print out the issue body locally, run `a

### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob generate-sas`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in addi

[2019-04-11 22:45] mgrabarz opened #9080 "403 Error when creating AKS cluster."
CLI version 2.0.62 with AKS-Preview extension (0.3.0)

**Describe the bug**
I am **able to create AKS** cluster **from portal**, but **cannot create it with CLI** due to 403 error. Error states that I'm lacking 'resourceGroups/write' permission on linked scope 'providers/Microsoft.ContainerService/managedClusters/azureuser' in the same resource group.

The "azureuser" is unexpected and this is lin

[2019-04-11 23:29] limingu commented on #9021
@y-melo, you can pass the '-system-' as --prefix='-system-'. It works like:

az storage blob list --subscription "$subs" `
--account-name "$STORAGE_ACCOUNT" -c "$CONTAINER"  --prefix=-system- `
-ojsonc --query [].properties.contentLength

You can reopen the issue if it didn't work for you. Thanks.

[2019-04-11 23:29] #9021 closed

[2019-04-11 23:46] achandmsft commented on #9045
Hi @mariojacobo,
Thanks a lot for your feedback! We are looking into this issue. In the meantime, could you please let us know what is your specific automation scenario? For several automation scenarios, we recommend using [Managed Identity](https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview) if it is supported by the related Azure resources.

We pr

[2019-04-11 23:48] vanbasten2323 opened #9081 "Create CLI Support For Shared Image Gallery GA"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Azure.Compute

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
We need help from CLI team to generate CLI tooling for Shared Image Gallery service from our new swagger file. The new swagger file contains

[2019-04-11 23:56] achandmsft commented on #9054
Hi @wordrak,
Thanks a lot for your bug report (and for using our new and improved az feedback mechanism!). Can you tell us a little bit more about what you are trying to accomplish here?

Thanks,
Arun Chandrasekhar
Principal Program Manager
Azure Management Experience

[2019-04-11 23:58] achandmsft commented on #9060
Hi Jacek (@itelligence),
Thanks a lot for your feature request! To better prioritize this request, can you give me some specific real world cases where you think this will be valuable?

Thanks,
Arun Chandrasekhar
Principal Program Manager
Azure Management Experience

[2019-04-12 00:03] achandmsft commented on #9067
Hi Sumit (@murarisumit) ,
Thanks a lot for your bug report! Could you please send us what error you are getting when you try to list the assigned policies?

Thanks,
Arun Chandrasekhar
Principal Program Manager
Azure Management Experience

[2019-04-12 00:39] achandmsft commented on #9054
@wordrak How did you install the Azure CLI? Want to see if this is related to #9030.

[2019-04-12 00:41] achandmsft commented on #9030
Thanks for your feedback @smurf2smurf!

@marstr, FYI. I wonder if this is the same issue mentioned in #9054?

[2019-04-12 00:50] achandmsft commented on #9031
Thanks for your bug report @qxsch!
@yugangw-msft, I wonder if this is an internal permission issue on their side like in #4905? Could you please share instructions as you did in that issue if you think this is related? Might be good to place those instructions in this bug so that others can benefit from the same.

Thanks,
Arun

[2019-04-12 01:00] yugangw-msft commented on #8912
//CC: @jluk

[2019-04-12 01:39] yugangw-msft commented on #9001
It is the same issue. We will take a look at this soon. Meanwhile, non key-vault commands work fine under proxy

[2019-04-12 01:39] #9001 closed

[2019-04-12 01:47] yugangw-msft commented on #8987
@thiruma0203, since 2.0.5x, we started to use the real subscription name on `az login --identity`, guess that caused the problem. This issue is specific on Python2, so what is your linux distro? Based on that we might be able to provide workaround in the meanwhile we are fixing this.

[2019-04-12 02:00] itelligence commented on #9060
Hi Arun,

For example, in my case where we primarily use Azure Cognitive Search subscriptions, we provide various search feeds to our clients based on type of search they perform and at the same time to optimise subscription costs.

So we have few subscriptions of S2, S3, S4 and S5. These could related to web, images, video and news. We then assign tags such as feed_id and category.
By adding tags

[2019-04-12 02:11] yugangw-msft commented on #9032
My 2 cents:
    - I would vote for `idempotent by default`
    - It would be good to fix at one shot with other graph commands.

[2019-04-12 02:22] daxianji007 commented on #9046
@tjprescott Now I am confused. Could the virtualenv impact something? Here is the full script I/DocsCI use:
[code]
Get error `ModuleNotFoundError: No module named 'azure.storage'`

I tried `pip install --upgrade azure.storage.blob` it does not work. I will try to add `pip install --force-reinstall azure-nspkg==1.0.0` before `make xmlwithversion` in Docs CI to work around. Do you have any better id

[2019-04-12 05:01] tjprescott commented on #9046
Is your Docs CI running python 2 or 3?  It looks like Python 2 (because you are using vitualenv instead of venv). You should really use Python 3.

[2019-04-12 05:20] dpbevin commented on #6272
I've just noticed this too.

[2019-04-12 06:45] dsparkplug opened #9086 "New "az webapp up" change which launches default browser cannot be turned off"
**Describe the bug**

As of commit 02afe0a9cd1cfcae7fcad9e9924757fcf40e946a the command `az webapp up` automatically launches the URL of the new web app in the default browser (line 2420 in [/src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py](https://github.com/Azure/azure-cli/blob/02afe0a9cd1cfcae7fcad9e9924757fcf40e946a/src/command_modules/azure-cli-appservi

[2019-04-12 06:57] mariojacobo commented on #9045
That's not going to work for us. "--identity" is for VMs, but we don't have any , so not sure how that applies to the issue.

[2019-04-12 06:57] #9045 closed

[2019-04-12 07:19] tbertenshaw opened #9087 "az group deployment template parse error unhelpful"
`azure-cli version 2.0.62`

when running `az group deployment create` with a scaleset template file it appears to parse the template file ok. Running it with debug i can see it creates a json file with the template section and parameters section which watches what i expect from my inputs. It even validates in the Azure Portal Templates if i create a new template and paste the json in. However it e

[2019-04-12 08:54] revanthalampally commented on #8863
Can I know what would be the dockerfile with alpine:3.7

[2019-04-12 08:55] revanthalampally commented on #8863
Getting this error with 3.7
[code]

[2019-04-12 10:33] lewisj commented on #8109
I solved this, it seems the CLI behavour has changed.

Before if you exported the account-name or account-key to your env it would be used with the azure cli commands.

Now it appears that the command needs to have every argument defined, it won't use your env.

[2019-04-12 11:10] AndyMoore commented on #9010
this doesnt seem to work anymore (as of today). looks like

does work though

[2019-04-12 14:45] tjprescott commented on #9087
Thank you for your report @tbertenshaw. We will notify the service team of your feedback, as they control the error message emitted in this scenario.

[2019-04-12 14:54] daxianji007 commented on #9046
The Docs CI uses python 3, I am using python 3 too. I tried to use venv but got the same result....

[2019-04-12 15:01] y-melo commented on #9021
Lively, it worked.
@limingu Thank you, I haven't though about that. : )

[2019-04-12 15:09] tbertenshaw commented on #9087
I've found my error but as above the error message made it quite difficult to diagnose

This was in my template
[code]
but after my variable contained an object of the sku rather than `Standard_DS1_v2` for example so the resulting transformed template was

[code]
rather than
[code]
If it could have told me what line or column or surrounding object or something i could have worked it out much soone

[2019-04-12 15:11] TomChantler commented on #8882
Have you tried running the webapp config command against your functionapp?

I just created a new Azure Function App (consumption model) and ran this:
[code]

And got this output:
[code]

And when I checked through the Azure Portal, it had configured my Connection Strings section correctly.

[2019-04-12 15:14] ptsapralis opened #9089 "Error when running command "az vm list -d --verbose -o table"."
The issue has been copied to your clipboard. Paste it here!
To print out the issue body locally, run `az feedback --verbose`

### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

When running command "az vm list -d --verbose -o table" within Windows Subsystem for Linux" using Ubuntu Linux, I receive the following error. This command ran OK until a fe

[2019-04-12 15:38] tjprescott commented on #9089
This looks like a temporary service issue. @adewaleo, perhaps we should improve the generic exception handler to catch this error and emit a more useful error (and not a stack trace)

[2019-04-12 15:42] VictorioBerra commented on #8882
@TomChantler Thats a great idea, I am hosting in an App Service Plan as well which im not sure if that makes a difference or not. For now, I will probably keep my conn str in app settings but ill bookmark this for next time.

[2019-04-12 15:42] #8882 closed

[2019-04-12 16:03] malopMSFT opened #9090 "NSG support for additional protocols"
**Resource Provider**
Microsoft.Network

**Description of Feature or Work Requested**
Accepting new protocol on NSG security rules: 'Icmp'

**Minimum API Version Required**
2019-02-01

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/pull/5582/files
Note: 'Esp', 'Ah' are not ready yet, only ICMP for now

**Target Date**
May release

[2019-04-12 16:08] Kunalkatdare opened #9091 "Weird characters when using Azure VM (Linux-Ubuntu)"
**Bug Description**
I am seeing weird characters in my azure VM CLI when I type 'ls'.
Also, when hitting backspace, I see weird characters popping up

**To Reproduce**
After using ssh to login to the VM, I usually like to see a list of my directories.
When I type **ls** I see weird characters along with the expected output.
Please see the screenshot for reference.
![azure](https://user-images.gith

[2019-04-12 16:16] yuwaMSFT2 commented on #9010
@andymoore AcrPush+AcrDelete should still work. Can you try to az login again before doing docker command (az login gets an token which is only valid for one hour [)](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication).

If you still have issue, could you please send the follow information to acrsup@microsoft.com so that we can do further investigation? Tha

[2019-04-12 16:19] ColbyTresness commented on #8783
Not sure why this would be happening - @ahmelsayed can you take a look?

[2019-04-12 16:30] kimsk opened #9092 "az webapp config storage-account add with slot settings return 'Not Found'"
**Describe the bug**
The command returns `Operation returned an invalid status code 'Not Found'` and the configurations was not updated.

**To Reproduce**
[code]

**Expected behavior**
The storage account configurations for a specific AppService/Slot is updated successfully.

**Environment summary**
Install Method **chocolatey**
CLI version **2.0.62**
OS version **Windows 10**
Shell Type **PowerSh

[2019-04-12 16:36] stevengum commented on #9073
I should note that after the failed setup, executing `az webapp -h` results in the following stack trace and `ModuleNotFoundError`:

[code]

[2019-04-12 16:52] stevengum commented on #9073
@lmazuel, @tjprescott any ideas? I noticed in the dev_setup.py it force installs the old azure-mgmt-nspkg to use the old style namespace...

[dev_setup.py [L54-L57]](https://github.com/Azure/azure-cli/blob/dev/scripts/dev_setup.py#L54-L57)
[code]

[2019-04-12 17:07] #9072 closed

[2019-04-12 17:19] tjprescott commented on #9090
Hi @malopMSFT to clarify, do you need this request in for Build?

[2019-04-12 17:21] malopMSFT commented on #9090
Not required for //Build

Updated the list, it's only 1 protocol for now ICMP

[2019-04-12 17:29] tjprescott commented on #9073
Looks like this is related #9046.

[2019-04-12 17:58] stevengum commented on #9073
Thanks for linking that @tjprescott, downgrading pip to 9.0.1 via `pip install --upgrade pip==9.0.1` got rid of the error messages and problems when directly calling a command module (e.g. `az webapp -h`).

[2019-04-12 18:28] AndyMoore commented on #9010
this was using an azure devops pipeline, and so i added the az login step directly before i ran the az acr helm push

i tried it locally as well which also failed. the time frame was about 10 minutes before i commented above

i'll email some details shortly

[2019-04-12 18:58] stevengum commented on #9046
I ran into a similar problem (#9073) with the namespace package `azure.mgmt`. Installing pip at 9.0.1 has everything working again.

[2019-04-12 19:01] jluk commented on #8912
+ @maertendMSFT who is now cloud shell owner

[2019-04-12 19:08] tjprescott commented on #9046
@stevengum just installing pip fixed your issue?

[2019-04-12 19:14] tjprescott commented on #9073
@stevengum instead of using scripts\dev_setup.py does it work if you do the following:

[code]

[2019-04-12 19:16] tjprescott commented on #9046
@daxianji007 the `dev_setup.py` script is no longer the recommended way to set up a dev environment. Can you try the following:

[code]

[2019-04-12 19:18] sshorkey commented on #8220
Yes, and it worked. However, I constantly have to use a new port number every time. Pretty inconvenient...

[2019-04-12 19:57] panchagnula commented on #8721
@NOtherDev - we believe this should be fixed with the latest version of CLI - please re-activate if this is not the case. Thank you!

[2019-04-12 19:57] #8721 closed

[2019-04-12 20:00] panchagnula commented on #9086
@limingu we made this change since this was one of the top requests for az webapp up -> Noted about the breaking change update on the documentation. Let me run this with our team & update the thread

[2019-04-12 20:10] limingu commented on #9086
@dsparkplug , the previous message is for you.

[2019-04-12 20:10] stevengum commented on #9073
That worked, I tested running a couple of commands, the linter and recorded tests. Everything seems to be working great 👍

[2019-04-12 20:12] stevengum commented on #9046
@tjprescott, I should clarify, I used pip at 9.0.1 and then ran the dev_setup.py script again. This solution worked.

@daxianji007 I followed Travis' [instructions](https://github.com/Azure/azure-cli/issues/9046#issuecomment-482691861) and these worked for me in a new environment.

[2019-04-12 20:16] adewaleo commented on #8863
@marstr

[2019-04-12 20:28] panchagnula commented on #9049
@yiliaomsft can you please check & follow up with Ranjith and/OR Patrick.

[2019-04-12 20:46] jaredmoo commented on #9073
If dev_setup.py is broken, can you please remove it or update it to point to the new method?

[2019-04-12 20:58] tjprescott commented on #9046
Thanks @stevengum.  @daxianji007 please try using azdev in your script. For what it is worth, we plan to migrate the doc generation script to azdev as well in the future.

[2019-04-12 21:00] tjprescott commented on #9073
We will remove it in the future, but we have already updated our documentation to point to the new tooling:
https://github.com/Azure/azure-cli/blob/dev/doc/configuring_your_machine.md

[2019-04-12 21:02] tjprescott commented on #9073
I will note though that I did use `dev_setup.py` with the updated pip and it worked for me still.

[2019-04-12 21:04] jaredmoo commented on #9073
Understood, but I am sure that Steven and I will not be the only folks who run into this. A helpful note will save time.

[2019-04-12 21:39] Serenya commented on #8867
I've faced with similar error. On my Win10 under WSL based on Ubuntu 18.04, azure cli version 2.0.62.
When I run **sudo az aks install-cli**, I get:

[code]

[2019-04-12 21:59] yugangw-msft commented on #9031
@qxsch, would be possible to use `az login --debug`, capture 2 traces and compare, one under root and one w/o? This doesn't appear an Azure CLI specific issue.

[2019-04-12 22:04] panchagnula commented on #8939
Looks like this API is not returning a JSON https://{my-app}.scm.azurewebsites.net/api/deployments/latest which caused the command to fail. Are you still seeing this?  What happens when you re-try?
Do you have contributor permissions on the APP that you are trying to deploy to?  Try navigating to scm site directly https://{my-app}.scm.azurewebsites.net/ & see if this loads, once it loads you shoul

[2019-04-12 22:05] panchagnula commented on #9086
we will add a parameter to make launching in browser an optional parameter.

[2019-04-12 22:12] panchagnula commented on #8901
@ahmedelnably & @ankitkumarr do you know az webapp log tail not work for Python Function apps? if this is the case we add some exception handling for this case?

[2019-04-12 22:28] panchagnula commented on #8884
@johnpaultthomas  when running this command the -w parameter should just be the name of the webjob instead of <webappname/webjobname>

so try this
az webapp webjob continuous stop -n <webappname> -g <resourceGroupName> -w <webjobname>

Please let me know if this fixes the issue. thank you.

[2019-04-12 22:31] ankitkumarr commented on #8901
Yes, and I think they might not work on any linux consumption apps, because there's no scm endpoint. I believe we are looking into other log streaming options. Until then, we should definitely do proper error handling. I can add that in a future sprint.

[2019-04-12 22:31] patricklee2 commented on #9049
@marcelkonings is it possible for you to provide more detailed reproduction steps?

[2019-04-12 23:00] panchagnula commented on #9092
@kimsk i am unable to repro this on CLI - can you re-try and let me know if you are still seeing this.
If so will you be willing to share the name of the app so that we can check the logs on our end?

Alternately you can run the command with --debug flag at the end & see if you see any specific error returned on your end & just share this info as well. Thanks again.

[2019-04-13 00:08] patricklee2 commented on #9049
The issue is due to the scm url being incorrectly generated for ASEs

[2019-04-13 00:50] panchagnula commented on #9049
@patricklee2 we took a fix for this on remote-connect command on the extension, feel free to move that change to core as well. Also, can you add a test case for this when you make this change - thank you.

[2019-04-13 15:04] tchachra opened #9099 "Az Image Copy Problem"
The is

### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az snapshot create`

**Errors:**

:confused:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az snapshot create --name {} --resource-group {} --source {} --output {} --tags {}`

[2019-04-13 15:04] tchachra opened #9120 "Stack trace using storage command in CLI 2.0.62."
The is

### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az snapshot create`

**Errors:**

:confused:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az snapshot create --name {} --resource-group {} --source {} --output {} --tags {}`

[2019-04-13 19:32] dougbrad opened #9100 "az resource link create - fails with takes 1 positional argument but 3 were given"
## Describe the bug

Attempting to use the 'az resource link create' command, it fails with:
  takes 1 positional argument but 3 were given

Per the help, more than 1 argument is needed.
Is this command broken, help wrong, or I am using it wrong?
If the latter, could there be a working sample of its use?

**Command Name**
`az resource link create`

**Errors:**

:confused:

[code]

## To Reproduce:

[2019-04-13 21:14] jlorich commented on #7374
I don't think this should be closed.  The install time on Linux compared to other platforms is insane and makes for a terrible and confusing experience.

[2019-04-13 23:01] vidarw opened #9101 "No package for Ubuntu 19.04 (Disco)"
**Is your feature request related to a problem? Please describe.**
Ubuntu is officially releasing version 19.04 (Disco Dingo) within a week.
There is currently no package available for this version in the Microsoft repository.
The old 18.10 package is still installed from before upgrading from 18.10 is still present and works. But all matters related to the Microsoft repository fails in 19.04 (ins

[2019-04-14 08:49] mountainbrother commented on #4126
Get an exepction an an Azure VM
az 2.062 works but if i try to install an extenstion like the interactive i run in this error i never ever seen bevor:

Exception in thread Thread-1:
Traceback (most recent call last):
  File "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\lib\threading.py", line 916, in _bootstrap_inner
    self.run()
  File "C:\Users\aatv\.azure\cliextensions\interactive\azext_i

[2019-04-14 08:54] mountainbrother opened #9102 "Azure CLI Interactive on a Azure VM"
Get an exepction an an Azure VM
az 2.062 works but if i try to install an extenstion like the interactive i run in this error i never ever seen bevor:
Try to run the cmd also as an admin, repair the az installation all with no sucess.
Exception in thread Thread-1:
Traceback (most recent call last):
File "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\lib\threading.py", line 916, in bootstrap_inn

[2019-04-14 11:00] mountainbrother commented on #9102
get the same error on my a new physical machine / also with the edge msi
there is something wrong !

[2019-04-14 16:16] jdvor opened #9103 "ImportError: cannot import name StorageAccountTypes"
**Command Name**
`az sf cluster list`

**Errors:**

:open_mouth:

[code]

## To Reproduce:

- install az CLI on Windows using MSI installer (https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest)
- `Run: az login -u ... -p ....` (successful)
- `Run: az sf cluster list -g ... --subscription ...` (fails)

## Expected Behavior

List SF cluster in the account

## E

[2019-04-14 19:36] DevSE99 opened #9104 "az resource delete doesn't delete a vnet"
### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az resource delete`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az resource delete -g {} --ids {}`

## Expected Behavior

A clear and concise description

[2019-04-14 19:38] DevSE99 commented on #9104
--ids /subscriptions/24a10425-c230-4b86-8ddd-0f3d3b9c64e7/resourceGroups/weareone/providers/Microsoft.Network/virtualNetworks/miitya-vnet

[2019-04-15 08:29] murarisumit commented on #9067
Sorry for late reply, but when I just went into scope without `--disable-scope-strict-match` flag. I am getting empty list.

When trying with `--disable-scope-strict-match` flag, I am getting policies from different scope, but still not the policy that I'm able to view in azure UI portal and created by using `az policy assignment create` command.

[2019-04-15 09:35] daxianji007 commented on #9046
@tjprescott Thanks for the solution! Now I can finnally go through the Docs CI. And I also tested that the generated document is almost the same with before.

[2019-04-15 09:50] JavedEqbal opened #9106 ""--unmodified-since" is not working with "az storage blob delete""
**Describe the bug**
Trying to delete all the snapshots which are older than 3 days using "az storage blob delete" using --unmodified-since switch and throwing the below error.

[code]

**To Reproduce**
Run the below az cli command

`javed@Azure:~$ az storage blob delete --name "unmanagedvm-datadisk.vhd" --account-name eastussa --account-key '' -c vhds --if-unmodified-since $date --delete-snapshot

[2019-04-15 12:14] LennartOlsen commented on #9000
I also encountered this issue.

It was present on 2.0.47 as well, cant say if the error was exactly the same

### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Run: az aks browse --r

[2019-04-15 14:38] DKresselBD opened #9107 "Azure portal fails to load IAM"
[code]

[2019-04-15 16:05] tjprescott commented on #9104
If you provide `--ids` you should not provide `-g`

[2019-04-15 16:06] tjprescott commented on #9104
I will update the CSV to issue a proper error rather than a stack trace.

[2019-04-15 16:15] tjprescott commented on #9091
@Kunalkatdare you will need to open a support ticket to engage with the service team. This repository is only for issues related to the Azure CLI and its commands.

[2019-04-15 16:15] #9091 closed

[2019-04-15 16:20] ferantivero commented on #6019
hope I'm not adding noise @derekbekoe, but same here with another extensions (azure-devops). In my case was wheezy but xenial.

After running https://github.com/Azure/azure-cli/issues/6019#issuecomment-379987830 I got it working.

IIRC, originally I followed the instructions via apt https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest

$lsb_release -a
[code]

$una

[2019-04-15 16:42] #9073 closed

[2019-04-15 17:30] marstr commented on #9101
Thanks for the reminder on this, @vidarw.

[2019-04-15 17:50] sumgro commented on #9050
Any update on the error?

Experiencing the same error after 5days too...

[2019-04-15 18:24] marstr commented on #8863
Looks to me like you need the [linux-headers package](https://github.com/Azure/azure-cli/blob/d7e087132ba5bf0c5c731f0c7ca2fedf8564a99c/Dockerfile#L37).

[2019-04-15 18:34] kimsk commented on #9092
@panchagnula thanks for the information. I tried creating new linux container appservice, and I can mount the storage to slot deployments without any issue. So I think it could be our specific settings and not the `azure-cli` issue. If we continue experiencing the issue, we will submit a ticket to our Azure support directly.

[2019-04-15 18:34] #9092 closed

[2019-04-15 18:40] tjprescott commented on #9050
@panchagnula for comment.

[2019-04-15 18:59] revanthalampally commented on #8863
@marstr Yes, I had added that and it worked. Forgot to update it here thanks.

[code]

[2019-04-15 19:53] ankitkumarr commented on #9027
@jeffhollan, we are removing `WEBSITE_CONTENTAZUREFILECONNECTIONSTRING` and `WEBSITE_CONTENTSHARE` for consumption. I remember we had added this for Premium as well. Do you know if we still need them for premium?

[2019-04-15 19:54] panchagnula commented on #9092
@Kimsk thanks for the update on this.

[2019-04-15 20:01] jeffhollan commented on #9027
Yes we need them for premium

[2019-04-15 20:01] jeffhollan commented on #9027
Premium linux and premium windows as well I believe

[2019-04-15 20:24] ankitkumarr commented on #9027
Ok, thanks Jeff!

[2019-04-15 21:09] ni-reis opened #9112 "ACR Health Diagnose"
## Problem

It is a common situation for customers to face an issue when dealing with containers that can be solved by themselves (like docker daemon failures or authorization  issues), but as there's a lack of guidance, they end up contacting the Azure Container Registry team. Although issues end up being fixed, they can take, for example, one day when they could be solved in one hour.

## Soluti

[2019-04-15 21:37] Nking92 commented on #8872
I think you are using an old version of the webapp extension. Let's check that and see if updating it fixes the issue.

Please check the version of the extension:
`az extension list`

The latest version is 0.2.16. If you need to update it, please use this command:
`az extension update -n webapp`

Let me know if that helps!

[2019-04-16 00:00] dlott commented on #9072
Thanks for the quick fix.  In the interim, as a workaround, I've been manually url decoding the current token and it usually works.  Sometimes however, I've noticed if the token contains a `/` (forward slash) it is doubled as `//`.  Is that also fixed with this commit?  Or is that a separate issue?

[2019-04-16 00:28] Prasanna-Padmanabhan commented on #5343
All of them were addressed back in Jan 2018. You can look through your email for more details if you like :)

[2019-04-16 01:24] yugangw-msft commented on #9107
you are working behind proxy with untrusted certificate, please follow [the doc](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy) here to get it work

[2019-04-16 01:24] #9107 closed

[2019-04-16 01:40] andreyabramov opened #9113 "webapp deployment failure"
### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

az webapp up fails to create web app.

**Command Name**
`az webapp up`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az webapp up -n {}`

## Expected Behavior

Expected this

[2019-04-16 02:53] yugangw-msft commented on #5543
Closing. PR made from @alexeldeib has taken care of this.
To use it, please run "az extension add -n application-insights", and you will see related commands under `monitor app-insights`. Once commands are stabilized, we will move them to CLI's core monitor command module

[2019-04-16 02:53] #5543 closed

[2019-04-16 03:43] nickwalkmsft commented on #1369
I went hunting for this feature today and was surprised to find https://github.com/Azure/azure-cli/pull/2550, but then saw it was backed out in https://github.com/Azure/azure-cli/pull/2671.

Obviously a lot has changed since then. Has plan autocreation received any further consideration?

[2019-04-16 06:44] daxianji007 opened #9114 "--expiry default value is the current datetime"
**Describe the bug**
I run `az ams asset get-sas-urls -h`. The default value of `--expiry` changes every time and seems it is equal to the current datetime. Is that something by-designed?

**To Reproduce**
Install azure-cli
run `az ams asset get-sas-urls -h`
The default value of `--expiry` changes every time

**Expected behavior**
Maybe it should be an constant value or more clear description?

**

[2019-04-16 06:56] dozer75 opened #9115 "Error text when using az login and wrong tenant"
I have struggled using a service-principal login today, but the error on wrong tenant is wrong and caused confusion and frustration.

It states:

But, the tenant shall NOT be in the format `https://login.microsoftonline.com/your_tenant`  it's just the tenant id without `https://login.microsoftonline.com/`. It would also be nice that it says `tenant_id` instead of `your_tenant`.

Using azure-cli 2.

[2019-04-16 06:59] tuthan opened #9116 "webapp:Try stop webjob on a slot but not working"
### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp webjob continuous stop`

**Errors:**

:confused:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az webapp webjob continuous stop --webjob-name {} --name {} --resource-group

[2019-04-16 08:00] daxianji007 opened #9117 "content with '*' is displayed as <emphasis> in document"
**Describe the bug**
In our Docs CI, we leverage sphinx and the `--help` message to generate document. However, sphinx has [reStructuredText](http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html) that will transfer `*` to `<emphasis>`, which will cause weird output in document pages.

**To Reproduce**
Check the [Source Code](https://github.com/Azure/azure-cli/blob/aee0d6d9752da98

[2019-04-16 09:41] ronaldgreeff commented on #9050
So after a frustrating week with Azure, I figured out that my issue was actually with their docs.

There's a step that says ["click shell"](https://github.com/MicrosoftDocs/azure-docs/blob/fab94d0c7fc9d8a65c0809d83c7ee0ec10214b25/includes/cloud-shell-try-it.md), then no explanation of what happens shortly after which is you are prompted to choose a storage option / sign up to a subscription.

**Th

[2019-04-16 10:16] jofroe commented on #9050
I'm having the same issue and thus I'm unable to deploy my app. It worked a few weeks ago with the exact same procedure.
Following the tutorial: https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-python

1. I open the cloud shell and create:
- new resource group, i.e.: myapprg
- new storage, i.e.: myappstorage
- new file share, i.e.:myappfs

2. Then I login and clone my git r

[2019-04-16 11:21] sumgro commented on #9050
True, following the tutorial worked good till about a week back. And now it does not. Even after specifying the resource group it gives the same error.

[2019-04-16 11:45] JackHasABoat commented on #9050
I got the same following the simple document https://docs.microsoft.com/en-gb/azure/app-service/containers/quickstart-python

[2019-04-16 11:47] panchagnula commented on #9050
I see that this error is specific to cloud shell, in the meanwhile you can try by installing CLI directly
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

I am not sure what changed on cloud shell, will take a look One thing has anyone tried running the command with --debug command at the end to see if you get any detailed error message when running on cloud shel

[2019-04-16 12:05] panchagnula commented on #9050
I just tried to run the example posted on tutorial by @JackHasABoat  above below is my analysis
1. cloud shell has a web app extension installed by default I believe , run az extension list & check if the webapp extension is installed, if so run the command az extension remove -n webapp
2. when following the tutorial  when you use 'copy' to paste the commands in the cloud shell bash window - pleas

[2019-04-16 12:08] jofroe commented on #9050
Here's the debug output:
[code]

[2019-04-16 12:23] panchagnula commented on #9050
@jofroe thanks for sharing here what I see when I run the above command
<img width="1118" alt="image" src="https://user-images.githubusercontent.com/13839372/56208932-2b5c0800-6007-11e9-8a30-d00875d50e67.png">

Do you have a default resource group configured on CLI using az configure --defaults

if so try to reset this using az configure --defaults group=''

[2019-04-16 12:51] jofroe commented on #9050
Hm it does not seem to work with resetting the config. It is a fresh instance anyways:
[code]

[2019-04-16 14:04] avirup28 opened #9118 "az sql elastic-pool update | az: error: unrecognized arguments: --dbu-min-capacity"
**Describe the bug**
Argument parameter is unrecognized for setting perdb min settings using az cli

**To Reproduce**
az sql elastic-pool update --ids $ID -c "4" -e GeneralPurpose -f Gen4 --db-dtu-max "3" --dbu-min-capacity "1"

**Expected behavior**
It should set the per DB min settings which Im passing using Az cli.

**Environment summary**
We are in elastic pool vcore model and I'm trying to sc

[2019-04-16 14:45] #9118 closed

[2019-04-16 15:00] #8815 closed

[2019-04-16 15:51] panchagnula commented on #9050
@jofroe I might have an idea on what's happening here. we recently made a change to az web app up command where we use the logged username as the prefix to a RG or  Appserviceplan name, so that the resources unique to the user. Looking at the above snippet of log you shared I see no username associated on cloudShell i.e @Azure - instead of username@Azure. I will definitely add error handling on my

[2019-04-16 16:03] jofroe commented on #9050
@panchagnula Sorry, this is my fault. I have removed my username from the logs since I did not want to share it publicly. I have edited the logs above and added my github pseudonym. It should be more clear now.

[2019-04-16 16:40] adamra-msft commented on #8548
Is there an update on this? We would really like to be able to create 80 GB service bus topics on Premium SKU via CLI automation.

[2019-04-16 17:10] adewaleo commented on #9102
Please can you try to give us more context. What scenario and what commands are actually failing? @mountainbrother

Please provide the information requested in the bug report template:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**

[2019-04-16 18:21] #8519 closed

[2019-04-16 18:21] #8750 closed

[2019-04-16 18:21] #9032 closed

[2019-04-16 18:22] panchagnula commented on #9050
@jofroe thanks for the clarification - if this is the case then I am not really sure why the command is failing!
One last thing if you can share the version of CLI on cloud shell . this is the version I am using

azure-cli                         2.0.62
appservice                        0.2.17

[2019-04-16 18:30] jofroe commented on #9050
@panchagnula I have the same version of CLI on cloud shell.
[code]

[2019-04-16 18:53] #9100 closed

[2019-04-16 19:30] brentmcconnell commented on #6372
Is there a plan to fix this?

[2019-04-16 20:10] Charmendar opened #9121 "Missing comma in the role definition example"
Should be a comma after "Description": "Perform VM actions and read storage and network information."  and before "Actions" in the example code. Otherwise JSON is not loaded properly

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40e649cf-40e3-1b9e-141a-c62d244eda61
* Version Independent ID: 78ea89c1-7c56-e33b-d10a-dae

[2019-04-16 20:13] tjprescott commented on #9120
@marstr this may be related to the potential packaging issue we've seen reported.

[2019-04-16 20:53] yugangw-msft commented on #8568
Fixed

[2019-04-16 20:53] #8568 closed

[2019-04-16 21:03] limingu opened #9122 "az extension add has an Unicode display issue"
**Describe the bug**
A clear and concise description of what the bug is.
az extension add has an Unicode display issue

**To Reproduce**
Steps to reproduce the behavior.
az extension add --name azure-devops

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.
has an Unicode display issue

[2019-04-16 21:04] limingu commented on #9122
![unicode](https://user-images.githubusercontent.com/48228819/56243910-87974a00-6050-11e9-9047-dce1835a3e35.png)

[2019-04-16 21:07] adewaleo commented on #9122
I will add this command was an issue on the command prompt

[2019-04-16 21:45] tjprescott commented on #9122
What is the python version?

[2019-04-16 21:48] tjprescott commented on #8548
@v-Ajnava for comment.

[2019-04-16 22:32] kscerri commented on #9113
Getting the same error following the simple guide: https://docs.microsoft.com/en-us/azure/app-service/containers/quickstart-python

[2019-04-17 03:00] Know1 opened #9123 "Inbound NAT pools are Poorly documented."
After much head-scratching I finally figured out these do not work as I thought they would.
I thought they were a quick way to map multiple inbound ports to multiple backend ports on the same VM or VMs. This is not the intent and function of Inbound NAT pools.

Documentation requires clarification of the actual function of Inbound NAT pools.
Something like the following.

Inbound NAT pools are for

[2019-04-17 03:04] nabsthevagabond commented on #8488
Any updates on this?

[2019-04-17 03:49] ehotinger commented on #9024
@TravisEz13 How are you determining failure, anything on stderr instead of exit code? Otherwise what's the issue with the long-term deprecation?

[2019-04-17 03:53] mattpetrick opened #9124 "ad app credential reset not allowed"
**Describe the bug**
`az ad app credential reset --append` on not newly created apps with existing keys results in error "Update to existing credential with KeyId 'XXXXXXX-XXXXX-XXX-XXXX-03b6b0c4f7bf' is not allowed." Key creation for impacted apps works through portal just not CLI. Can't reproduce for newly created apps.

**To Reproduce**
`az ad app credential reset --append --id <app-id> --appen

[2019-04-17 04:58] yugangw-msft commented on #9124
dupe of #7957

[2019-04-17 04:58] #9124 closed

[2019-04-17 05:01] yugangw-msft commented on #9115
The `your_tenant` can either be a domain name like `mycompany.onmicrosoft.com` or a GUID style of tenant id; either the error should be more clear. Can you please open an bug at https://github.com/AzureAD/azure-activedirectory-library-for-python?

[2019-04-17 05:01] #9115 closed

[2019-04-17 05:08] mattpetrick commented on #9124
@yugangw-msft in #7957 you advised

however for these apps all passwords were created through CLI (not portal) which is why i thought this may be a different issue. thanks for quickly confirming otherwise.

[2019-04-17 06:48] exc3eed opened #9126 "function app: az functionapp create should support slots creation"
**Describe the bug**
Cannot create slot for Function app. Following error is returned.
"Function App app settings are not expected to be empty. Please try again with WEBSITE_CONTENTAZUREFILECONNECTIONSTRING as a storage account connection string"
**To Reproduce**
Just execute this command
az webapp deployment slot create --name <function_app_name>--resource-group deletete --slot <slot_name>
**Expe

[2019-04-17 07:11] qxsch commented on #9031
**Not Working Sample with normal user:**

[code]

**Working Sample with root user:**

[code]

[2019-04-17 07:21] qxsch commented on #9031
Our current workaround for this issue is:
[code]

[2019-04-17 07:45] qxsch commented on #9031
The issue seems to come from DNS queries. Our internal DNS do not resolve public names such as login.microsoftonline.com (The http Proxy can resolve the domain names.).
I see dns queries that fail with NXDOMAIN, when logging in a normal user.

[2019-04-17 08:30] qxsch commented on #9031
### the problem are the environment variables with azure login.

unset the following variables, so that the host can be resolved using proxy
[code]

See full example:
[code]

[2019-04-17 09:39] teejam2 opened #9127 "[Bug]az extension add --name azure-devops fails when $ is present in username"
**Describe the bug**

**To Reproduce**
Try to install the az devops cli extension with $ character in username

**Expected behavior**
The devops cli extension is installed

**Environment summary**
Windows 10 - issue is down to $ in username

**Additional context**
n/a

[2019-04-17 10:28] jakub-zieba opened #9128 "Encrypt/decrypt local file with key vault"
**Is your feature request related to a problem? Please describe.**
No, it is not.

**Describe the solution you'd like**
I would like to be able to encrypt sensitive files with Azure Key Vault keys same way as for example google cloud cli does:
[code]
It would be very convinient and useful in daily work.

Example expected functionality behaviour:
[code]

**Describe alternatives you've considered**

[2019-04-17 10:33] tamirkamara commented on #9120
BTW, the docker image for version 62 works just fine.
I personally have the problem manifest on windows. Looks like @tchachra is also on widows, not sure about @gpin1120

[2019-04-17 11:08] ernani opened #9129 "az webapp --help failure"
### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az webapp --help`

## Expected Behavior

A clear and concise description of what you expected to h

[2019-04-17 11:34] glenvillef opened #9130 "az create command fails on ubuntu-16.04"
Hey everyone:

Following the Kubernetes tutorial found here:
https://docs.microsoft.com/en-us/azure/aks/tutorial-kubernetes-prepare-acr

When getting to the az create acr part I get the below log:

The command failed with an unexpected error. Here is the traceback:

### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr create`

[2019-04-17 11:43] #9130 closed

[2019-04-17 11:44] glenvillef commented on #9130
Sorted, think it was my naming convention. Sorry to bother. Ran this command instead:
az acr create --resource-group myResourceGroup --name labDemoAcr --sku Basic

[2019-04-17 13:54] peteribbett commented on #3597
when using az webapp config container set, for ACR, do the credentials passed have to be the admin credentials? These are the only credentials I can get to work. I tried the login details for an azure user that has ownership role on the Access Policy for the ACR resource but this didn't work

    --docker-registry-server-user <registry_user>
    --docker-registry-server-password <registry_password

[2019-04-17 14:01] panchagnula commented on #9126
@ankitkumarr this is the bug from the CRI - if you have an existing bug please link the bugs.

[2019-04-17 14:26] panchagnula commented on #9050
@jofroe what happens if you try the command this way
az webapp up -n myapp -l 'west Europe". I have seen this error message show up when the command was not used correctly.

[2019-04-17 14:32] sumgro commented on #9050
@panchagnula trying the same format with below, results in the same error:
az webapp up -l 'east US' -n  myapp

[2019-04-17 15:05] mountainbrother commented on #9102
Describe the bug
I download the version 2.062 on several machines Physical or VM´s on azure.
I can install the cli and it works.
If i start the az interactive it runs always the same error.

A clear and concise description of what the bug is.
Exception in thread Thread-1:
Traceback (most recent call last):
  File "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\lib\threading.py", line 916, in _bo

[2019-04-17 15:07] garyericson commented on #8897
We've decided that we're okay with leaving this as-is. #please-close

[2019-04-17 15:07] #8897 closed

[2019-04-17 15:28] yugangw-msft commented on #9124
So you are able to reproduce it by creating a new app with creds and add a new one?

[2019-04-17 15:31] panchagnula commented on #9050
ok this is rather bizzare. I am sorry for all the inconvenience this is causing.
1. az web app up -n myapp --dryrun give you the same error?
2. Can you make sure in the appName the name is a distinct one & you are not using an existing appName.

After you run #1 above can you share the name of the app you were using the exact date time in UTC you tried this operation let me see if I find anything

[2019-04-17 15:35] panchagnula commented on #9129
CC: @Nking92
@ernani looks like you have an older version of a web app extension can you delete this & re-try
run
1. az extension list to confirm you have extensions installed
2. az extension remove -n webapp

& then re-try.

[2019-04-17 15:44] tjprescott commented on #9120
On Windows, installed through... the MSI?

[2019-04-17 16:10] yiliaomsft opened #9132 "az webapp up add --resource-group and --plan as optional paramaters"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-04-17 16:42] patkearney commented on #8905
Closing as this appeared to be a general AKS issue with Addons as per [Azure/AKS#886](https://github.com/Azure/AKS/issues/886) which is now resolved.

[2019-04-17 16:42] #8905 closed

[2019-04-17 16:49] tjprescott commented on #9031
@marstr for triage

[2019-04-17 16:57] tjprescott commented on #9103
@marstr it looks like the common thread here may be the Windows MSI installer.

[2019-04-17 17:33] tjprescott opened #9133 "Windows MSI (2.0.62) broken"
Latest MSI is broken. A few things should happen:

- [x] Find root cause and fix prior to upcoming release
- [ ] Fix release pipeline to automatically check the MSI release like other channels or add a manual check to install and run `az self-test` with the MSI.

## Workaround

For customers impacted by this bug, you should be able to install the 2.0.61 release with the following link: https://bit

[2019-04-17 17:36] tjprescott commented on #9120
This is being tracked by #9133. Please see that issue to be able to roll back your MSI installation.

[2019-04-17 17:36] #9120 closed

[2019-04-17 17:38] tjprescott commented on #9103
This is being tracked by #9133. Please see that issue to be able to roll back your MSI installation.

[2019-04-17 17:38] #9103 closed

[2019-04-17 17:56] tjprescott commented on #9051
@MikhailTryakhov can you give clarification on this? The CLI help was adapted from the help text in the Swagger specs. Here's the text in the Python SDK (which is from the Swagger)

[code]

If this is incorrect, I'm happy to fix the CLI text, but it should also be fixed in the Swagger.

[2019-04-17 17:58] TravisEz13 commented on #9024
This is a doc bug.  The docs should say that you shouldn't use the switch.  Also, the error is not clear, as it says `os_type` when it is referring to `--os`

[2019-04-17 19:00] achandmsft commented on #6278
Hi @iyerusad,
Thanks for your feedback. Azure Logic Apps fully replaces Scheduler capabilities, and Scheduler will be retired as a standalone service on September 30, 2019. For more details, please refer to - [Azure Scheduler will retire on September 30 2019](https://azure.microsoft.com/en-us/updates/azure-scheduler-will-retire-on-september-30-2019/)

If you are interested in Logic Apps support in

[2019-04-17 19:00] #6278 closed

[2019-04-17 19:14] ehotinger commented on #9024
Can you point out what docs you're referring to? All the ones I checked out refer to platform, so I don't understand. The error can be improved for sure.

[2019-04-17 19:37] TravisEz13 commented on #9024
It would be nice if when you filed a bug on the doc, it linked to the doc.  I'll try to find the doc.  I assume the docs are generated based on this python.

[2019-04-17 19:57] tameek opened #9135 "az backup protection backup-now 'ValueError: Item not found. Please provide a valid item_name'"
Attempting to backup my VM, and got a Trackback error:

The command failed with an unexpected error. Here is the traceback:

Item not found. Please provide a valid item_name.
Traceback (most recent call last):
  File "/usr/lib64/az/lib/python2.7/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocation.execute(args)
  File "/usr/lib64/az/lib/python2.7/site-packages/azure/cl

[2019-04-17 20:10] achandmsft commented on #5671
removing this as there has been no reaction/comments on this for over a year. Please open a new issue if this is of interest

[2019-04-17 20:10] #5671 closed

[2019-04-17 20:50] ehotinger commented on #9024
Hmm, yeah I'm not sure. I checked https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/_help.py and there's no mention of os, there's only platform.

[2019-04-17 20:50] MikhailTryakhov commented on #9051
@amo18 can you please fix swagger cause you are an owner of Vnets

[2019-04-17 20:51] tjprescott commented on #9024
@TravisEz13 if you make a comment from the docs page, it will be linked. However, in this case, we have already communicated to the docs team that they need to display the deprecation info that is in CLI and it is on their backlog. There is nothing in the CLI repo we can do about this as we are sending them the correct data.

@ehotinger to fix the message displayed in the CLI this is what needs to

[2019-04-17 20:53] tjprescott commented on #9051
@Amo18 if I can get confirmation on whether Swagger or Portal is correct, I can make the update in CLI if needed.

[2019-04-17 20:53] TravisEz13 commented on #9024
@ehotinger  do you mean why?  Because:
https://docs.microsoft.com/en-us/cli/azure/acr?view=azure-cli-latest#az-acr-build
![image](https://user-images.githubusercontent.com/10873629/56320025-102ced80-6118-11e9-8bbc-bf67782f6892.png)

[2019-04-17 20:55] ehotinger commented on #9024
@TravisEz13 ah okay, so just that it's showing up as an available option at all. I thought you meant it was in the samples. I think Travis answered your question for now then. @tjprescott thanks, will PR it in a bit.

[2019-04-17 20:57] tjprescott commented on #9135
When opening a new issue, please either use `az feedback` or fill out the requested information in the issue template. Copied here for you convenience.

==================

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment s

[2019-04-17 21:07] adewaleo commented on #9102
@mountainbrother I was able to reproduce it.

I will be closing this as a duplicate of #9133

[2019-04-17 21:07] #9102 closed

[2019-04-17 21:33] ehotinger commented on #8305
In general this issue is because of quotes. We interpret the command as if it were written directly to a shell. So if there's a space, or a special character like `&`, then the shell interprets that and decides how to split args. We have a related issue over at https://github.com/Azure/acr-builder/issues/329 for possibly escaping these to make it easier. In general though you can fix all of these

[2019-04-17 21:35] rahulunlimited opened #9137 "Error importing database"
I am getting the below error while trying to import a database bacpac from BLOB.
I have made sure that the StorageKey and UserID/Password are correct.

Operation failed with status: 'Bad Request'. Details: There was an error that occurred during this operation : '&lt;string xmlns="http://schemas.microsoft.com/2003/10/Serialization/"&gt;Error encountered during the service operation. ; Exception Mi

[2019-04-17 21:38] rahulunlimited commented on #9137
Please close. There were some issue with the blob store name. Fixed it.

[2019-04-17 21:38] #9137 closed

[2019-04-17 21:51] ehotinger commented on #8616
@EriksonBahr yeah so this is expected behavior right now. We could consider increasing the timeout or adding an additional CLI flag that allows you to control the client-side timeout maybe, what do you think? How long do your builds go without writing anything?

[2019-04-17 23:15] Am018 commented on #9051
Swagger already has correct text in [this file]([url](https://github.com/Azure/azure-rest-api-specs/blob/network-march-release/specification/network/resource-manager/Microsoft.Network/stable/2018-12-01/virtualNetwork.json)):

This seems to be an issue only in CLI.

"VirtualNetworkPeeringPropertiesFormat": {
      "properties": {
        "allowVirtualNetworkAccess": {
          "type": "boolean",

[2019-04-18 00:07] ankitkumarr commented on #9027
Fixed by https://github.com/Azure/azure-cli/pull/9111. Can be closed

[2019-04-18 01:03] rohitsaigal opened #9139 ""Try it" experience doesn't work even though same command works from Azure CLI locally"
Specific command that I was using is given below. Just try to grant permissions for one of my app signed in as global administrator for the Azure AD Tenant.

Even though command parameters are correct and signed in user has required permissions, the `Try it` experience kept returning 403 Forbidden error. When using the same command locally instead it works just fine. My guess is that incorrect cli

[2019-04-18 01:08] marstr commented on #9133
I'm got this figured out, and it's an interesting bug.

The problem we're having is because `StorageAccountTypes` is declared as a copy of `DiskStorageAccountTypes` [here](https://github.com/Azure/azure-sdk-for-python/blob/ed77d0f3ce442775288ba8c38627d247b0c36dd1/azure-mgmt-compute/azure/mgmt/compute/v2018_09_30/models/__init__.py#L57). There's nothing wrong with doing that from the Python SDK's p

[2019-04-18 02:08] yugangw-msft commented on #9049
fixed by #9098

[2019-04-18 02:08] #9049 closed

[2019-04-18 02:22] dsparkplug commented on #6464
I have also noticed that there are many breaking changes in every point release. It is generally considered good practice that changes which break backwards compatibility are only introduced in a major versions (see [https://semver.org/](https://semver.org/) or at least in minor versions.

We are planning to call the Azure CLI from actions in our CI server. This can soon become unworkable if we ha

[2019-04-18 03:00] yugangw-msft commented on #8892
okay, this is rather a bad error from the service end.

[2019-04-18 03:01] #8875 closed

[2019-04-18 03:06] yugangw-msft commented on #8637
Closing per comment that things seem to work fine in the latest version. Also admin-grant has been implemented in the latest, which should get all scenario working

[2019-04-18 03:06] #8637 closed

[2019-04-18 03:44] yugangw-msft commented on #8900
I still can't reproduce it.
[code]

[2019-04-18 03:50] yugangw-msft commented on #8262
it is hard to polish the error message just based on logged in as a service principal because a service principal can be as powerful as a admin while a user can have less permission than a service principal.
Let us live with it since we only have one user with such confusion, and the error itself is not that bad.

[2019-04-18 04:03] #9086 closed

[2019-04-18 04:03] yugangw-msft commented on #8770
#9125 fixes it

[2019-04-18 04:03] #8770 closed

[2019-04-18 04:03] yugangw-msft commented on #8833
#9125 fixes it

[2019-04-18 04:03] #8833 closed

[2019-04-18 05:53] atbagga opened #9140 "[Windows only] Extension add command shows some random characters before the status message"
Az CLI version 2.0.62

**Describe the bug**
Extension add command shows some random characters before the status message
![image](https://user-images.githubusercontent.com/11888714/56339383-b554ce00-61cb-11e9-8911-951f5d411c70.png)

Only on windows. Works fine on mac and cloud shell.

**To Reproduce**
az extension add -n <any extension>

**Expected behavior**
The extra characters should not  be th

[2019-04-18 05:55] atbagga commented on #9140
Related PRs -
Similar issue: https://github.com/Azure/azure-cli/pull/5320
Where this issue was introduced - https://github.com/Azure/azure-cli/pull/8946

Please assign this to me. I will raise a fix for this.

[2019-04-18 06:10] dsparkplug opened #9141 "Cannot delete full directory structure from File Share or Directory"
**Is your feature request related to a problem? Please describe.**

The `az  storage file upload-batch` command can be used to upload a full directory structure to an Azure File Share or Directory.

The `az  storage file delete-batch` command can be used to recursively delete all the files in an Azure File Share or Directory. It does however leave all the empty subfolders.

There does not seem to

[2019-04-18 06:42] sumgro commented on #9050
@panchagnula here are the details:

1. Ran the said command and got the same error.
2. The app name is the same app which was created using the App Service on the GUI

App Name - hbsportal
UTC Time: 6:39am /18-04-2019

[2019-04-18 07:03] JackHasABoat commented on #9050
--dryrun output with execution timestamp:

jackhasaboat@Azure:~/quickstart/python-docs-hello-world$ date;az webapp up -n Jack_webapp_test3 --dryrun
Thu Apr 18 07:02:55 UTC 2019
The command failed with an unexpected error. Here is the traceback:

Parameter 'resource_group_name' must conform to the following pattern: '^[-\\w\\._\\(\\)]+$'.
Traceback (most recent call last):
  File "/opt/az/lib/pytho

[2019-04-18 07:08] JackHasABoat commented on #9050
@panchagnula Here's everything else being tried following the suggestions. Similar to others this is a new Azure account. And I'm using Free Trial. If you have a new account to have a try, there's a good chance to reproduce it. It's a very bad experience to start playing with Azure by following this quickstart-python guide.

jackhasaboat@Azure:~/quickstart/python-docs-hello-world$ az extension lis

[2019-04-18 07:33] JackHasABoat commented on #9050
Ok I downloaded az CLI, the same version "azure-cli 2.0.62".
As a start it corrected me to update the invalid name. I changed it from sth like Jack_webapp to Jack-webapp then everything worked perfectly.
So it looks like to me the problem is with Azure Cloud Shell only.
Using the valid app name I still got failure on Cloud Shell.

[2019-04-18 08:54] sumgro commented on #9050
I tried deploying through azure-cli on my linux box as @JackHasABoat  and got a different error:
---------
The command failed with an unexpected error. Here is the traceback:

glob() got an unexpected keyword argument 'recursive'
Traceback (most recent call last):
  File "/root/lib/azure-cli/local/lib/python2.7/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocation.execu

[2019-04-18 09:34] Peter-Optiway opened #9142 "Line number is always 1"
## Describe the bug
When i try to validate my templates i always get 1 as line number,  "at line '1' and column '16535'" it not helpful i have tried with both windows and linux line endings.

**Command Name**
`az group deployment validate`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Run: az group deployment validate -g {} --templa

[2019-04-18 10:25] jeroendelooze opened #9143 "az login issue callback fails with NoneType"
## Describe the bug

**Command Name**
`az login`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az login`

## Expected Behavior

A clear and concise description of what you expected to happen.

## Environment Summary
[code]
## Additional Context
Add any other context about t

[2019-04-18 13:24] pimjansen opened #9144 "K8s Max retries exceeded with url"
## Describe the bug
Error while creating K8s tunnel which is open for some time.
[code]
[code]

**Command Name**
`az aks browse`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Run: az aks browse --resource-group {} --name {}`

## Expected Behavior

Expect the tunnel to stay open

## Environment Summary
[code]
## Additional Context
Ad

[2019-04-18 15:35] tjprescott commented on #9024
With #9136 merged to fix the warning message, I will close this issue. Docs already has the item on their backlog to use the CLI's metadata. There is no action we can take form the CLI in this regard.

[2019-04-18 15:35] #9024 closed

[2019-04-18 15:42] lmazuel commented on #9133
StorageAccountTypes has been renamed to DiskStorageAccountTypes by the Compute team. To anticipate the future, I would strongly suggest you adapt the CLI code anyway, since the next major version I will be able to do will kill StorageAccountTypes compat import

That being said, I'm looking at your PR right now.

[2019-04-18 16:13] marstr commented on #9133
As far as I can tell, we do not actually use StorageAccountTypes. It's only that we end up creating an `__init__` that's destined to fail.

[2019-04-18 16:52] Am018 commented on #9051
Agreed, this needs to be fixed in the Swagger document.

[2019-04-18 17:11] adewaleo commented on #9133
Please let us know in the future when you release the compute SDK that breaks StorageAccountTypes.

[2019-04-18 17:35] wawrzek opened #9146 "az interactive doesn't work"
seems to be regresion, because az interactive worked fine for a long time.

### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az interactive`

[2019-04-18 17:42] lmazuel commented on #9133
@adewaleo I would not think like that :). Since you know TODAY, that it will break soon, put a task to do it in the next sprint ;). That would be my advice at least, especially since there is 4 characters to change :)

[2019-04-18 17:56] tjprescott commented on #9146
You need to update your version of interactive. 0.4.1 is not compatible with CLI core 2.0.62.

[2019-04-18 17:56] #9146 closed

[2019-04-18 18:00] tjprescott commented on #6464
@achandmsft @yugangw-msft for comment.

[2019-04-18 18:05] adewaleo commented on #9133
@lmazuel, sounds good. I was thinking of creating the issue. I guess I was unsure because it seems like `StorageAccountType` is still in use by services such as shared image gallery see this [swagger pr](https://github.com/Azure/azure-rest-api-specs/pull/5528). So it seemed like the compute change isn't complete.

[2019-04-18 18:13] tjprescott commented on #8305
Since this is a shell quoting issue, there is nothing that can be done from the CLI side as the shell interprets the command line before it reaches the CLI. Closing.

[2019-04-18 18:13] #9027 closed

[2019-04-18 18:18] tjprescott commented on #8305
I'll leave this to @ehotinger's discretion whether to take further action.

[2019-04-18 21:10] rayluo commented on #9115
@dozer75
Wait a minute. Could it be possible that, you somehow already got an impression from SOMEWHERE ELSE, that you would need to use a full url "https://login.microsoftonline.com/your_tenant_name" as your tenant name? If that is the case, let's know where that "SOMEWHERE ELSE" is, and try to clean it up there.

From Azure CLI's underlying library [ADAL Python's perspective](https://github.com/

[2019-04-18 21:51] tjprescott commented on #8055
#9094 has been merged. Closing.

[2019-04-18 21:51] #8055 closed

[2019-04-18 21:59] adewaleo commented on #9133
@lmazuel @marstr

In **2018_09_30**: [disk.json](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2018-09-30/disk.json#L803) defines `DiskStorageAccountType`.
However, in **2019_03_01**: [compute.json](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/201

[2019-04-18 22:12] tjprescott commented on #9144
This looks like it might be a transient error

[2019-04-18 22:21] marstr commented on #9133
I've tested it, and this issue will not reproduce in 2.0.63 which will be released early next week.

[2019-04-18 22:37] tjprescott commented on #9133
I will keep the issue pinned until the release happens.

[2019-04-18 22:45] marstr commented on #9031
Seems like this is a KDE specific bug, and I'm not sure how large our audience of KDE users working behind a corporate proxy is. Seems like a good thing to fix, but I'm afraid it isn't at the top of the list right now.

[2019-04-18 22:51] marstr commented on #9054
Stack trace indicates that the CLI is installed in the Homebrew Cellar.

However, the failure looks pretty different to me. This stack trace makes no mention of SSL failure, which leads me to believe it's not as likely to be about newtwork configuration.

[2019-04-18 23:06] marstr commented on #9030
Howdy @smurf2smurf,

IS this still reproing for you? I believe there were some known SSL problems with the federated AAD servers right around when you posted this. Could be unrelated though, I'm curious to hear back.

[2019-04-18 23:08] klausshg opened #9151 "az disk create FAIL"
The command failed with an unexpected error. Here is the traceback:

'NoneType' object has no attribute 'import_enum'
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-z6u9vbmn\knack\knack\cli.py", line 206, in invoke
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-z6u9vbmn\azure-cli-core\azure\cli\core\commands\__init__.py", line 326, in execute

[2019-04-18 23:21] tjprescott commented on #9151
When opening a new issue you should either use `az feedback` or provide all of the information requested in the bug report template (copied below for you convenience). This is not an actionable report.

========

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what

[2019-04-18 23:27] klausshg commented on #9151
PS C:\Users\klaus> az disk create --resource-group RG_WebPage --name myManagedDisk --source https://webpageequidad.blob.
core.windows.net/vhds/abcd.vhd
The command failed with an unexpected error. Here is the traceback:

'NoneType' object has no attribute 'import_enum'
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-z6u9vbmn\knack\knack\cli.py", line 206

[2019-04-18 23:47] adewaleo commented on #9081
addressed in #9105

[2019-04-18 23:47] #9081 closed

[2019-04-18 23:59] adewaleo commented on #9011
I agree @danielestevez, it seems like this might be a sku used for internal testing that is being leaked out.

[2019-04-19 00:08] tjprescott commented on #9151
Closing as there is not enough information for us to triage. Feel free to open a new issue and provide the required information for a bug report.

[2019-04-19 00:08] #9151 closed

[2019-04-19 00:22] danielestevez commented on #9011
Thanks @adewaleo !

[2019-04-19 07:09] dozer75 commented on #9115
@raylou No, it was the error message that confused me. Since I didn't find any good description of the parameter then i tried with a bogus text first to see what the error was, then I got that message and tried all kinds of combinations starting with https://login.microsoft.online. After @yugangw-msft answered me I found a documentation that stated what he said.

I would agree that Azure CLI could

[2019-04-19 07:39] qxsch commented on #9031
@marstr RHEL is very common in enterprises and proxies as well.
So I guess the user base is not that little.

[2019-04-19 16:02] jboeshart commented on #9065
Upvote for this. We could benefit from this feature on Microsoft Learn to simplify the steps required to create resources. Came here to see if this exact feature had been requested, would be great to have.

[2019-04-19 16:11] tjprescott commented on #9121
@Charmendar thank you for the report!

[2019-04-19 16:18] tjprescott commented on #9139
@sptramer @dendeli-msft the "Try It" feature is not under the ownership of the CLI team. Please help us route this to the appropriate backlog/issue tracker.

[2019-04-19 16:33] bgklein commented on #8978
@wonjoonSeol sorry for the delayed response, but didn't see this issue come in.
I believe the issue is that you used 'az batch account set' rather than 'az batch account login'. Set operations in the Batch CLI are meant as patch operations(ie changing the details of the account itself).

Also  the latest CLI targets our latest REST API which uses httpUrl instead of blobSource, so that will need to

[2019-04-19 16:54] marstr commented on #9031
Sorry, my understanding may not be quite right here, @qxsch. Do you think this bug repros even outside of KDE? Most notably, do you think it's impacting Gnome users as well?

[2019-04-19 17:00] qxsch commented on #9031
@marstr i think, i am using Gnome. (Standard RHEL Desktop should be gnome) But let me verify this after Easter on Tuesday.

[2019-04-19 17:11] marstr commented on #9030
Another thing to take a look is our troubleshooting guide when working through proxy issues: https://github.com/Azure/azure-cli/blob/43daaefc5da67ab7a39e0d78ca475a11fb45edb3/doc/use_cli_effectively.md#working-behind-a-proxy

[2019-04-19 17:16] jboulter11 opened #9157 "Tab completion is incredibly slow and picky about formatting"
### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug
Tab completion is painfully slow.  See repro.

**Command Name**
`az`

**Errors:**

## To Reproduce:

1. Properly configure tab completion for your shell, I'm in zsh but this all holds true in bash as well.
1. Type `az` in the terminal
1. Hit tab, it adds a space instead of giving you tab completion.

[2019-04-19 17:57] tjprescott commented on #9142
Can you provide the actual error returned and/or upload a sample of your template (with any sensitive info removed).

[2019-04-19 17:58] limingu commented on #9157
It can't repro on Windows. It may be Mac/Linux only issue.

[2019-04-19 17:59] tjprescott commented on #9142
When I intentionally mess up a template file, I will get correct line numbers for JSON format errors, but ARM template errors do always say line 1. I think that is because the template is serialized when sent to the service and thus does not retain any concept of "line numbers". In that case, the service team would need to address this.

[2019-04-19 18:00] #9121 closed

[2019-04-19 18:01] limingu commented on #9157
@jboulter11 , can you try other commands (not az) to see if it has the same issue. I think it may the OS issue not az command issue.

[2019-04-19 18:03] jboulter11 commented on #9157
Other commands provide an instant response.  `az` and its nested commands are what is slow, my OS is fine.

[2019-04-19 20:42] sgellock commented on #8577
customer issue has been resolved

[2019-04-19 20:42] #8577 closed

[2019-04-19 20:44] sgellock commented on #5565
The issues has been resolved

[2019-04-19 20:44] #5565 closed

[2019-04-19 20:45] sgellock commented on #7192
Issue has been addressed

[2019-04-19 20:45] #7192 closed

[2019-04-19 20:45] sgellock commented on #7563
behavior is by design.

[2019-04-19 20:45] #7563 closed

[2019-04-19 21:47] sgellock commented on #8890
we've published a fix for this issue.

[2019-04-19 21:47] #8890 closed

[2019-04-19 21:50] sgellock commented on #7761
we've made a design change in that users need to provide AppId and AppPassword to az bot create.  this assumes an az ad call that that would have been mapped to a plan.  said another way, because we've changed how this command works, we no longer need the ability to specify a plan as this occurs with commands run prior

[2019-04-19 21:50] #7761 closed

[2019-04-19 22:41] smurf2smurf commented on #9030
Ah... I did this over span of multiple days of switching to new machine.  I gave up using brew and eventually just use the curl install for azure cli.It should easy to reproduce if you can get access to new machine.  

    On Friday, April 19, 2019, 10:11:15 AM PDT, Martin Strobel <notifications@github.com> wrote:

Another thing to take a look is our troubleshooting guide when working through prox

[2019-04-19 22:52] timomta opened #9158 "Cannot generate a working SAS key from a policy"
**Describe the bug**
Cannot generate a working SAS key from a policy

**To Reproduce**
Welcome to Azure Cloud Shell

Type "az" to use Azure CLI 2.0
Type "help" to learn about Cloud Shell

tim@Azure:~$ az account set --subscription MYSUBSCRIPTION
tim@Azure:~$ account_name=tomtaexpenses
tim@Azure:~$ account_key=MYSTORAGEACCOUNTKEY
tim@Azure:~$ group=tomtaexpenses
tim@Azure:~$ storageAccount=MYSTORAG

[2019-04-19 23:13] rayluo commented on #9115
Fair enough. Stay tuned.

[2019-04-20 09:45] panchagnula commented on #9050
@sumgro , apologize for the delay here - the Python version being used here seems to 2.7 , which is not compatible with the glob method used in the command - can you verify your version of Python used & update to newer version if possible & re-try?

[2019-04-20 13:20] sumgro commented on #9050
@panchagnula I've got both Python 2.7 and Python 3.6. How can i make the azure-cli use the python3 instead of python2?

Additionally, when bringing up the web app from cloud shell, I use to go to a specific directory path when the files where located. how can I traverse to the same path using the local azure-cli command?

Thanks

[2019-04-20 15:35] panchagnula commented on #9050
if you don't need Python 2.7 - just delete it or use aliasing using the command
alias python=python3 -> once you run this confirm that the version by running python --version

Also, regarding running up from the directory you can follow the exact same instructions as in the documentation, git clone "the Project' & then cd to the directory.

[2019-04-20 18:46] sumgro commented on #9050
Hi @panchagnula, I need python2.7 and hence using the alias python=python3 will break the system as the default version is 2.7.

Is there an alternative command to allow azure-cli to use the python3 instead of the default 2.7 one?

[2019-04-22 00:48] chanezon opened #9159 "az aks use-dev-space is broken in current release branch"
## Describe the bug

**Command Name**
`az aks use-dev-spaces`

**Errors:**
`az aks use-dev-spaces -g dodoRg -n dodoAks --debug `
creates nothing.
The detailed debug logs are below
The interesting bit is
[code]

The root cause of the bug is that https://azurecliextensionsync.blob.core.windows.net/index1/index.json has been updated from dev-spaces-preview to dev-spaces in production while the releas

[2019-04-22 00:50] chanezon commented on #9159
@amsoedal @tjprescott you might want to look into this one, Azure dev Spaces is not usable without your dev branch fix.

[2019-04-22 00:51] chanezon commented on #9159
@squillace following our conversation on Friday I spent some quality time with az CLI this weekend:-)

[2019-04-22 07:10] sdementen opened #9160 "cannot import name 'AppRole' from 'azure.graphrbac.models'"
### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad app create`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Run: az login`
- `Run: az ad app create --display-name {}`

## Expected Behavior

Command running and either executing or showing

[2019-04-22 13:45] Denisnjeru opened #9161 "azure cli gitbash - Anaconda"
### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cognitiveservices account show`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az cognitiveservices account show --resource-group {} --name {} --query {}

[2019-04-22 13:45] Denisnjeru opened #9162 "azure cli gitbash"
### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cognitiveservices account show`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az cognitiveservices account show --resource-group {} --name {} --query {}

[2019-04-22 14:45] tjprescott commented on #9162
Duplicate of #9161.

[2019-04-22 14:45] #9162 closed

[2019-04-22 14:56] tjprescott commented on #9159
This fix should already be in the 2.0.63 release that happens tomorrow.

[2019-04-22 14:59] #9159 closed

[2019-04-22 15:01] tjprescott commented on #9133
Reopening and re-pinning this issue. The release has not yet happened, and the release pipeline hasn't been updated to detect future breakage.

[2019-04-22 17:26] adewaleo commented on #9161
From first glance, this might be a packaging issue @marstr, @tjprescott
It appears that you are using **Anaconda** @Denisnjeru. (see file path for failed import)

Could you give us more information about your installation environment @Denisnjeru? How did you install the CLI? Are you using conda to manage CLI modules and dependencies?

[2019-04-22 17:32] adewaleo commented on #9157
@tjprescott, @limingu, I would be interested in this post build. We should try and imitate powershell. Maddie once mentioned how they cache tab completions...

[2019-04-22 18:11] mayanknayar opened #9164 "Support for new parameters for VMSS instances - protectFromScaleIn and protectFromScaleSetActions"
**Resource Provider**
CRP

**Description of Feature or Work Requested**
Support for new parameters for VMSS instances - protectFromScaleIn and protectFromScaleSetActions

Under instance properties, the protection parameters are configured as follows:
"protectionPolicy": {
      "protectFromScaleIn": boolean,
      "protectFromScaleSetActions": boolean
    }

This is updateable after create. Not ap

[2019-04-22 18:23] adewaleo commented on #9164
@mayanknayar, thanks for the information.

[2019-04-22 18:49] mkowalskigps commented on #9072
Another potential workaround is to use the new `--full-uri` flag (if you need to full URI) as that does not double escape the token.

[2019-04-22 18:59] DzonnyDZ opened #9165 "az batch account show failed with unexpected error"
**Command Name**
`az batch account show`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az batch account show --subscription {} --name {}`

## Expected Behavior

I expected information about the batch account, no error.

## Environment Summary
[code]
## Additional Context
Ad

[2019-04-22 19:20] lukasmrtvy commented on #8863
I have no luck with:
[code]
Log:
[code]

az login:
[code]

[2019-04-22 19:49] patricklee2 commented on #8831
@Primital can you open https://patle-test.scm.azurewebsites.net/AppServiceTunnel/Tunnel.ashx?GetStatus in a browser?
what is the name of the app?, can you confirm that the webapp and scm sites are running?

[2019-04-22 20:04] #9133 closed

[2019-04-22 20:05] lukasmrtvy opened #9167 "azure-cli and alpine:3.9 - requests dependencies"
I have no luck with this Dockerfile on alpine:3.9.
Can anyone check dependecies?
Thanks
[code]
# log output:
[code]

# az login output:
[code]

Reference: https://github.com/Azure/azure-cli/issues/8863

# Workaround
[code]

[2019-04-22 20:21] kimsk opened #9168 "az disk --help returns error"
### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az disk`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az disk --help`

## Expected Behavior

A clear and concise description of what you expected to happe

[2019-04-22 20:30] jparada-ucv commented on #9050
Hi @panchagnula, I am experiencing the same error:

jaime@Azure:~/quickstart/python-docs-hello-world$ python --version
Python 3.5.2
jaime@Azure:~/quickstart/python-docs-hello-world$ az webapp up -n jaime_webapp_test --debug
Command arguments: ['webapp', 'up', '-n', 'jaime_webapp_test', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_

[2019-04-22 20:43] shaochen commented on #9018
I found it indeed, as referenced in a github issue.
Thank you for pointing out that the behaviour I've reported is the behaviour you're suggesting.
Hover this is nowhere to be found in the documentation, for which the issue has been raised.

The suggestion is to properly document this "intended behaviour" so people don't need to sherlock holmes it from a github issue through google.

The existing

[2019-04-22 20:44] limingu commented on #9106
Looking it. @JavedEqbal, can you provider the CLI version that you are using? Thanks.

[2019-04-22 20:54] limingu commented on #9141
We will add the option to 'az storage directory delete' to delete all empty subfolders.

[2019-04-22 21:32] v-Ajnava commented on #8548
@adamra-msft I have fixed the issue, will included it in current PR. it should be in the next CLI release

[2019-04-22 22:20] panchagnula commented on #8505
Closing since this is merged

[2019-04-22 22:20] #8505 closed

[2019-04-22 23:38] ernani commented on #9129
Sure thing, on it, will report back when done!

[2019-04-22 23:43] ebertrams opened #9169 "az login authentication fails"
On corpnet wifi
Re-installed latest az with windows MSI installer 2.0.62
az login
choose my MS corpnet account in browser (which is already signed in)
Authentication in browser seems successful
Then getting authentication failed. see verbose logs below:
![image](https://user-images.githubusercontent.com/33331084/56540466-ab113780-651d-11e9-98fe-7b2cc8c7f9cf.png)
Verified that commands do not work:

[2019-04-23 00:05] panchagnula commented on #9129
the error here is you had an older version of webapp extension installed, & the core cli had some SDK updates that caused the error you are seeing. Is there a specific command from extension you are trying to use? Some of the extension commands did get moved to core.
this command however is still an extension command If you need this one please install the latest extension az extension add -n weba

[2019-04-23 00:42] jeff-shepherd commented on #7507
I had the same issue today.  I installed the latest Azure CLI but the issue was still there.  After installing the latest, the only difference was that it printed the message "To open an issue, please run: 'az feedback'"

I ran az feedback and it generated:
### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role assignment list

[2019-04-23 07:30] EivydasKo opened #9173 "tutorial-static-website-serverless"
Hi,

I ran your tutorial to generate a static webpage app on azure storage as per:
https://docs.microsoft.com/en-us/azure/functions/tutorial-static-website-serverless-api-with-database?tutorial-step=1

I am getting the bellow error on the last step az storage blob upload-batch -s . -d \$web --account-name <storage account name>

### **This is an autogenerated template. Please review and update as

[2019-04-23 08:03] oerpli opened #9174 "Updating extension results in AttributeError (null derefence)"
**Describe the bug**
I tried to update an extension, which resulted in an AttributeError

**To Reproduce**
` az extension update --name azure-cli-iot-ext` results in:

[code]

**Expected behavior**
Updating extensions should not result in exceptions.

**Environment summary**
Windows 10 1709, installed with MSI, version 2.0.61 (not updated  to 2.0.62 as I have read that it is broken).

**Additional

[2019-04-23 08:32] oerpli commented on #9174
Possibly related to #6441

[2019-04-23 09:10] andreacassioli commented on #8262
@yugangw-msft I am quite surprise by your message. Proper error messaging in key for a good CLI and basically ignoring user feedback is quite annoying. Maybe you do not care that much at MS.

[2019-04-23 09:16] atongkuze opened #9175 "ATG7373"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash o

[2019-04-23 09:49] chanezon commented on #9159
Excellent

[2019-04-23 10:20] jofroe commented on #9050
I have tried the same procedure using **CLI on my local computer** which **worked**. So it really seems to be an issue related to the Web CLI probably some release/update within the last weeks (?).

This is what I did (Windows 10):

1.  Install the CLI locally https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest
2. Run CMD
3. Change directory to my local git repositor

[2019-04-23 11:20] pniederlag commented on #9159
brilliant... seems this big is root cause of my dev spaces troubles... (azure-cli 2.0.61)

[2019-04-23 13:04] zipper97412 opened #9176 "az ad app permission add ERROR : Property requiredResourceAccess.resourceAccess is invalid."
I have some trouble adding roles via the permission subcommand:
[code]

if I add my role manually via the manifest on azure, it works,
if I do the same thing with this command, I get the following error:
[code]
I only found examples using "Scope" instead of "Role" as permission type

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2019-04-23 13:35] tjprescott commented on #7415
@prasanthmadi has this been fixed in the service?

[2019-04-23 13:35] tjprescott commented on #7415
Ah, nevermind, I see you posted this issue. Must be resolved.

[2019-04-23 13:35] #7415 closed

[2019-04-23 14:04] Chedberg84 commented on #9126
👍
I am also experiencing this issue.

I am using an Azure Function runtime version ~2. Following the Terraform example here: https://vgaltes.com/post/deploying-azure-functions-using-slots/

I was able to confirm I see the same issue as stated by @exc3eed above when running the az webapp deployment slot create command. Adding the storage account connection string doesn't seem to change the exceptio

[2019-04-23 15:40] bgklein commented on #9165
This is an expected failure (albeit a bad error).

az batch account show has required arguments
[code]

If these are both not specified we try to show you the current account you are logged into.

[2019-04-23 15:41] marstr commented on #9175
Seems like an empty bug. Closing this out.

[2019-04-23 15:41] #9175 closed

[2019-04-23 16:03] murarisumit opened #9177 "Default name for policy assignment exceeds '24' characters."
**Describe the bug**
Default name for policy assignment  exceed '24' characters, which results in error.

**To Reproduce**
* Try creating any policy.
* Creating policy assignment without `name` flag
[code]

Steps to reproduce the behavior.

**Expected behavior**
I should be able to create assignment of policy at given management group with some system generated name.

**Environment summary**
Runni

[2019-04-23 16:14] qxsch commented on #9031
@marstr The problem just occurs only in KDE Desktop (on RHEL7). Gnome Desktop on RHEL7 is not affected.
Our default seems to be KDE, but gnome can be used as well.

[2019-04-23 16:18] qxsch commented on #9031
To summarize: when using KDE on RHEL7, the following workaround helps:
[code]

@marstr  feel free to close this issue in case you do not plan to support KDE.

[2019-04-23 16:46] panchagnula commented on #9126
@Chedberg84 az webapp should not be used for functionapp - the az functionapp * commands should be used for functionapp & slots creation for functionapp is not currently supported.

[2019-04-23 16:56] yugangw-msft commented on #9176
@zipper97412 Can you please use `--debug` share with me the trace?

[2019-04-23 17:04] marstr commented on #9031
Thanks for getting back to me on this, @qxsch! I think I will close it out, but thanks for providing this work around for anybody impacted in the future.

[2019-04-23 17:04] #9031 closed

[2019-04-23 17:06] yugangw-msft commented on #9143
@jeroendelooze, do you remember how did you install the Azure CLI? To me, it appears the azure-mgmt-resource library is missing or at least not installed correctly.
CC @marstr

[2019-04-23 17:08] yugangw-msft commented on #9169
@ebertrams, it appears you are using your MS account in Azure dogfood environment? I am seeing the ARM endpoint of `https://api-dogfood.resources.windows.net:443` from the trace. Please use a correct test account.

[2019-04-23 17:10] marstr commented on #9168
Thanks for reaching out. This is a duplicate of https://github.com/Azure/azure-cli/issues/9133. Our 2.0.63 release will not have this issue, and it shouldn't be present in 2.0.61 if you need to roll-back before 2.0.63 is available.

[2019-04-23 17:10] #9168 closed

[2019-04-23 17:11] tjprescott commented on #9174
@oerpli what version of the IOT extension do you currently have?  Use `az --version`

[2019-04-23 17:15] marstr commented on #9165
Thanks for responding to this @bgklein. Are you planning on following up by catching the NoSectionError and giving a more intuitive error message?

[2019-04-23 17:19] marstr commented on #9169
Ah, I hadn't noticed this. Good catch, @yugangw-msft. I'm going to close this out, but the issue is that your standard Microsoft account won't have access to a dogfood environment like this.

[2019-04-23 17:19] #9169 closed

[2019-04-23 17:28] tjprescott commented on #9133
The new MSI has been released. Unpinning this issue.

[2019-04-23 17:32] bgklein commented on #9165
Yea, I'll set aside some time this week to improve error handling for this and #8978 .

[2019-04-23 17:55] JavedEqbal commented on #9106
@limingu : I'm running from Azure Cloud shell, I believe that should be the latest one. I can still confirm this.

[code]

[2019-04-23 20:26] chris-camm opened #9179 "Error creating az network lb rule create"
The issue has been copied to your clipboard. Paste it here!
To print out the issue body locally, run `az feedback --verbose`

### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network lb rule create`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted

[2019-04-23 21:35] kristapratico commented on #8790
@razmohan could you tell us more about the environment you're running?
I spun up a Windows 7 VM and downloaded azure-cli 2.0.60, but was unable to reproduce the error.

[2019-04-23 21:39] yugangw-msft commented on #833
Hi folks, we have released a CLI extension with the initial support and we are looking for users to try out and give us the feedback
[code]

[2019-04-23 22:17] yugangw-msft commented on #8790
@razmohan, maybe you can run with "az --version --debug". Likely accessing to the folder of `%USERPROFILE%` is blocked

[2019-04-23 22:26] #9051 closed

[2019-04-24 02:01] dsparkplug opened #9181 "Recent "az webapp up" change removes json from output"
**Describe the bug**

As of commit 02afe0a the command `az webapp up` no longer outputs json containing properties of the deployed web app

**To Reproduce**

run `az webapp up --output json --name MyFancyWebApp`

Output using version 2.0.63 is:

[code]

**Expected behavior**

Output from the same command using version 2.0.61 was:

[code]
I would expect the json at the end of this output to be incl

[2019-04-24 04:21] tjprescott commented on #9179
What actual values did you supply?

[2019-04-24 05:57] adewaleo opened #9182 "[cache]`cache show` fails with stack trace if resource type is not specified"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

az cache show -n {} -g {} fails...
az cache show -n {} -g {} -t {} succeeds...

**Command Name**
`az cache show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..

[2019-04-24 05:57] adewaleo commented on #9182
Full stack trace:

The command failed with an unexpected error. Here is the traceback:

[code]

[2019-04-24 06:44] subesokun opened #9183 "Role definition update throws error "KeyError: 'roleName'""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role definition update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az role definition update --role-definition {}`

## Expected Behavior

## Environment Summary
[code]
#

[2019-04-24 06:51] oerpli commented on #9174
0.3.7

[code]

[2019-04-24 06:53] prathiparaj opened #9184 "Automate Azure Bot registration channel with Azure CLI"
Below are the Azure CLI commands which am using to create bot channel registration.

az ad app create --display-name "TestBot" --homepage "https://testbot" --identifier-uris "https://testbot" --password "123adfaesdf" --end-date 2100-12-12

az bot create --resource-group "BotTest-RG" --kind "registration" --description "description-of-my-bot" --name "BotTest" -e https://pratbotreg.com --appid 2b658

[2019-04-24 06:59] chris-camm commented on #9179
I created a function within a script to pass the values:

az network lb rule create             \
      --resource-group "${RG_NAME}"       \
      --lb-name "${LB_NAME}"              \
      --name "${RULE_NAME}"               \
      --protocol "${PROTOCOL}"            \
      --frontend-port "${FPORT_NBER}"     \
      --backend-port "${BPORT_NBER}"      \
      --frontend-ip-name "${FPOOL_NAME

[2019-04-24 07:10] oerpli commented on #9174
As I've just noticed that 2.0.63 has been released a few hours ago I updated to that version.

Running `az extension update --name azure-cli-iot-ext` results in:

 which seems fine. So either the issue only arises when there actually is an update that can be performed or the bug has been fixed somewhere between 2.0.61 and 2.0.63.

As far as I am concerned this issue can be closed - I may reopen it

[2019-04-24 07:10] #9174 closed

[2019-04-24 09:04] Serenya commented on #8867
Actually message `Please ensure that /usr/local/bin is in your search PATH, so the `kubectl` command can be found.` is just an information. Kubectl command works!

[2019-04-24 11:06] razmohan opened #9185 "Issue in installing Azure CLI with apt (ubuntu 16.04)"
i am following the same steps mentioned in the below path
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest

1) sudo apt-get install curl apt-transport-https lsb-release gpg
error message :
Reading package lists... Done
Building dependency tree
Reading state information... Done
Package gpg is not available, but is referred to by another package.
This may mean t

[2019-04-24 12:23] stefano-corricelli opened #9186 "webapp:Error publishing zip"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment source config-zip --resource

[2019-04-24 13:41] neiltingley3 commented on #8900
I get the exact same error for a  SP created with terraform .

[2019-04-24 13:47] tjprescott commented on #9182
All three arguments should be required. Thanks for the report.

[2019-04-24 16:46] adewaleo commented on #9182
@tjprescott I also add two other issues:
-  cli_ctx.data['_cache'] is persisted between self.cmd() calls in scenariotests.
- cacheObject.result() fails when the model is not in a API-versioned sdk.

[2019-04-24 17:09] tjprescott commented on #9182
Yes, I found the same and that is fixed.

What error do you get?

[2019-04-24 17:19] kjcho-msft opened #9187 ""az sf application certificate add" failed"
**Describe the bug**
"az sf application certificate add" failed.

The command failed with an unexpected error. Here is the traceback:

add_app_cert() missing 1 required positional argument: 'client'
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-68v0_w99\knack\knack\cli.py", line 206, in invoke
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-68

[2019-04-24 17:21] jonnylove opened #9189 "Error on adding api-server-authorized-ip-ranges"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update -g {} -n {} --api-server-authorized-ip-ranges {}`

## Expect

[2019-04-24 17:25] adewaleo commented on #9182
@tjprescott. Nice to hear it was fixed. I would pull in dev into my branch.

Below is the error I got:

[code]

I believe model_cls is `None` because get_models only works on versioned models.

[2019-04-24 17:44] kjcho-msft opened #9190 "Need an azure cli command to add a document into CosmosDB (SQL API, MongoDB)"
**Is your feature request related to a problem? Please describe.**
Using az cli command, I could create a database and collecton in CosmosDB. But there is no command to create a document. This is a blocking issue for me to move to azure cli.

**Describe the solution you'd like**
Need an azure cli command to add a document into CosmosDB (SQL API, MongoDB)

**Describe alternatives you've considered*

[2019-04-24 18:24] bmukes opened #9191 "az monitor autoscale create no longer working"
**Describe the bug**
When attempting to run az monitor autoscale create I always get the same error message
error retrieving default location: Resource group '{resource group name}' could not be found.

**To Reproduce**
Create a S2 (2) instance service plan for Windows.

Attempt to create an AutoScale as shown below I am using the ID of the service plan for the --resource parameter.

az monitor au

[2019-04-24 19:35] yugangw-msft commented on #9183
@subesokun, can you double check whether or not the input contains `roleName`?

[2019-04-24 19:43] tjprescott commented on #9191
Thanks for the detailed report @bmukes. I will take a look.

[2019-04-24 20:00] lmazuel commented on #9133
@adewaleo This is two differents enums, treats then as such:
- disk.json provides RT "disks" and "snapshots". Use enums from this file only in those scenarios and calls
- compute.json provides the rest

[2019-04-24 20:44] Chedberg84 commented on #8407
Hi,
I'm wondering if this is something that is going to happen. I'd like to be able to add ip restrictions to an Azure Function App programmatically. It that possible? This is currently the closest solution I've seen:
https://docs.microsoft.com/en-us/azure/app-service/app-service-ip-restrictions

[2019-04-24 21:18] tbock opened #9194 "cannot delete wcf relay that has empty string as a name"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When trying to delete a wcf relay that has no name this error is thrown.  Using the list command the wcf relay shows up with "name": "".

**Command Name**
`az relay wcfrelay delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may c

[2019-04-24 21:56] tbock commented on #9194
Does not seem to be bug in cli but more an operation that is not supported in the API (https://docs.microsoft.com/en-us/rest/api/relay/wcfrelays/delete).  How does one get rid of a nameless wcf relay.

[2019-04-24 22:25] adewaleo commented on #9182
Has the fix been merged to dev? I am still having this issue

[2019-04-24 22:56] tjprescott commented on #9191
I was not able to repro this. Does the resource group it complains about in fact exist?

[2019-04-24 23:20] stewartadam commented on #8978
Running into this as well. It's unclear why the separate login to batch is required, given the Python SDK can operate with simply the account url/key... But either way, it should fail gracefully and print and error about requiring login instead of a random Python error.

[2019-04-24 23:25] bmukes commented on #9191
Yes the resource group exists.

But I think I have it figured out.
I tested using a different Directory + subscription  ‘InsTech FSPOC PROD’ and EVERYTHING WORKS
But not under Directory + subscription ‘InsTech POC-2 Test’ I AM GETTING THE ERROR.

I was testing all last week using Directory + subscription  ‘InsTech POC-2 Test’ and everything worked, but obviously something has changed within the su

[2019-04-25 04:01] #9191 closed

[2019-04-25 04:02] tjprescott commented on #9182
It is in the PR.

[2019-04-25 07:11] ranokarno opened #9196 "az vm image accept-terms failing"
### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm image accept-terms`

**Errors:**

:confused:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az vm image accept-terms --plan sg-byol --offer check-point-vsec-r80 --publish checkp

[2019-04-25 09:31] fauxcoding opened #9197 "az container - Specify private IP to use."
**Is your feature request related to a problem? Please describe.**
I'm currently using Azure Container Instances with the bring your vNet functionality. Whilst we can specify the subnet, there doesn't seem to be a way to specify the private IP we would like to use.

To get the IP we must run the following command after the container is created

[code]

**Describe the solution you'd like**
I'd like

[2019-04-25 09:50] lawrencegripper opened #9198 "The AKS default VM size should be larger"
**Describe the bug**
Currently the VM Size used by default is a `Standard_DS2_v2` I'd like to submit a PR to update this to `Standard_D4s_v3` or `Standard_DS3_v2`

**To Reproduce**
`az aks create -n aks1 -g aks-test`

**Expected behavior**
For the vast majority of workloads this is too small a VM size.

The effect, in my opinion, is that users start a cluster and notice very quickly that it doesn'

[2019-04-25 12:19] drum7 opened #9199 "failure after running 'az interactive' on mac after upgrade"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2019-04-25 14:02] fkaksa opened #9200 "Unable to create empty disk with 'az disk create' command"
## Describe the bug
Unable to create data disk following the sample on the official Azure site: https://docs.microsoft.com/en-us/cli/azure/disk?view=azure-cli-latest#az-disk-create

**Command Name**
`az disk create`

**Errors:**

:confused:

[code]

## To Reproduce:
- `Run: az disk create -g <my-rg> --name <my-disk> --size-gb 10`

## Expected Behavior

Disk is created

## Environment Summary
[code

[2019-04-25 14:24] bigdatamoore opened #9201 "Invalid example in az functionapp config appsettings set"
The example included here is not valid. There should not be spaces between the setting name and the value of the setting.   Here's a corrected example:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06e69fb3-f10c-98ac-0506-35d02f2a7481
* Version Independent ID: ad86610e-e20d-2c96-80fd-61c3d6e7f9ff
* Content: [az

[2019-04-25 15:10] tjprescott commented on #9199
Please run `az extension upgrade -n interactive` to get the version that is compatible with CLI core 2.0.63.

[2019-04-25 15:10] #9199 closed

[2019-04-25 15:13] pacuna commented on #7676
getting same `Both 'password' and 'sshProfile' cannot be null,Both 'password' and 'sshProfile' cannot be null` when trying to create a cluster.

[2019-04-25 15:15] tjprescott commented on #9194
It is a bug because when you supply an ID the CLI should extract the name from the ID.

[2019-04-25 15:22] jessebarocio commented on #9173
Hi, I ran into the same problem. This is a problem in the tutorial not the CLI. I can't find a repository to report issues to for the tutorial though.

The command in the tutorial assumes you're using the CLI in bash. The `$` in the $web container name is escaped with a `\`.

    az storage blob upload-batch -s . -d \$web --account-name <storage account name>

If you're using powershell you need t

[2019-04-25 15:35] tbock commented on #9194
To be clear this is what the id looks like:
`"/subscriptions/{subscription_id}/resourceGroups/{resource_group}/providers/Microsoft.Relay/namespaces/{namespace}/wcfRelays/"`

[2019-04-25 15:37] tjprescott commented on #9194
In that case you are talking about a usage error... BUT... the CLI should really be able to catch and wrap a ValidationError so no stack trace is thrown.

[2019-04-25 16:00] tbock commented on #9194
Fair but I'm not following the usage error.  This is the id returned by the CLI/Rest API.  Is there no way to delete,update etc a relay with an ID like that?

[2019-04-25 16:16] tjprescott commented on #9194
No. What are you trying to do? Delete all relays in the namespace?

[2019-04-25 16:30] tjprescott commented on #9194
Looking back at the comments, I see that you say the list command shows name as empty string. How did you create this relay in the first place? Was name not required?

[2019-04-25 16:32] abbr opened #9204 "Error "'C:\Program' is not recognized as an internal or external command" when running az role assignment create cmd"
**Describe the bug**
Running the 1st bash script in doc [Authenticate with Azure Container Registry from Azure Kubernetes Service](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-auth-aks), last cmd generates error

[code]

Other az-cli cmds work in the same environment so far.

**Environment summary**
Windows 10, git bash in mingw64, alias az=az.cmd

[code]

[2019-04-25 16:35] tjprescott commented on #9194
Can you provide the command you used to create the relay? When I tried to repro, I was not able to create a relay without specifying a name.

[2019-04-25 16:42] tbock commented on #9194
Hah... yeah that's the key to my problem.   Someone has misconfigured a .net based client and inadvertently created this relay (an AddressAlreadyInUseException is thrown when the client attempts to create a named relay).  This has broken the namespace as no other relays can be created.  Azure support indicates having a listener on the root is not supported, yet the service allows the relay to be c

[2019-04-25 16:47] tjprescott commented on #9194
No worries. In this case, the Validation that is blocking your command is not actually in the CLI, but in the SDK. Your best bet to try and delete this anomalous relay would be to try the portal or using the rest API directly, which would bypass that validation. If that doesn't work, I'd recommend you open a support ticket from the portal to see if they can get the service team to remove the relay

[2019-04-25 16:48] tjprescott commented on #9194
I'm flagging this with service attention to call out that the service allowed creation of a bad relay, but the CLI command is actually working as intended and as specified in Swagger.

[2019-04-25 16:54] tbock commented on #9194
Tried via the rest API.  That was a no go as it requires a name as well.  Asked support to remove the relay, they more or less said no as the client will just recreate it unless it is reconfigured.  Which led me here as a stop gap, while we work on other solutions, to keep removing the relay myself repeatedly in the hopes of other relays retrying and connecting before the unnamed relay to is recre

[2019-04-25 17:02] limingu commented on #9173
Thank you, @jessebarocio

@EivydasKo can you try the command like:
az storage blob upload-batch -s . -d $web --account-name <storage account name>

[2019-04-25 17:05] tjprescott commented on #9194
@tbock that would be a bug in the service end, which may still exist or may have been fixed (which is why I'm leaving this issue open with the ServiceAttention label). It doesn't help your situation. If is it permissible in your scenario, can you delete the relay namespace and recreate it? Deleting the namespace should wipe out any child resources.

[2019-04-25 17:08] tbock commented on #9194
Thanks for your attention.  I will look into that option.

sidenote... cli is great so thanks for that.

[2019-04-25 17:12] tjprescott commented on #9194
Thanks @tbock. I hope you get it straightened out, and I did open a PR so that you at least don't get an ugly stack trace when a validation error is thrown by the SDK, so you are helping make the CLI better :)

[2019-04-25 17:14] adewaleo commented on #9184
@prathiparaj, what exactly is the problem, issue or question?

[2019-04-25 17:18] adewaleo commented on #9186
@stefano-corricelli, please some context on top of the auto-generated issue would be helpful.

However from the looks of things it looks like you are passing a json file or string that is incorrectly formatted.

cc: @panchagnula

[2019-04-25 17:21] adewaleo commented on #9187
@QingChenmsft looks like there is a bug in the command. The fix should be quick

[2019-04-25 17:24] tjprescott commented on #9184
If you looking for general advice on how to work with Powershell variables, this is not the appropriate forum, but you will find plenty of tutorials on the web. If you are looking to work with Powershell objects explicitly, you should should consider using the Azure Powershell cmdlets at https://github.com/Azure/azure-powershell.

[2019-04-25 17:25] adewaleo commented on #9189
@rjtsdl @JackQuincy @mboersma this should be an easy fix.

[2019-04-25 17:27] marstr commented on #9198
@mboersma, is this something you have an opinion on?

[2019-04-25 17:28] marstr commented on #9200
Howdy @fkaksa, does this bug repro when you install 2.0.63? We had some trouble with the Windows installer in 2.0.62 that may be causing this behavior.

[2019-04-25 17:30] marstr commented on #9204
Just to be clear, are you referring to the `az role assignment create`?

[2019-04-25 17:34] marstr commented on #9201
/cc @tjprescott

[2019-04-25 17:36] abbr commented on #9204
yes

[2019-04-25 17:37] tjprescott commented on #9201
@JasonRShaver @albaloo please fix this in the Aladdin code gen and update this example asap.

[code]

[2019-04-25 17:48] marstr commented on #9185
Howdy, is this a new enough environment that you may not have run `sudo apt-get update`?

[2019-04-25 17:48] adewaleo commented on #9196
I just tried this command out and it succeeded:

[code]

This seems like a (temporary) service side error similar to #9089

Have you retried the command? @ranokarno

[2019-04-25 18:29] daherna opened #9205 "P1 no longer available"
support notified a customer that P1 is no longer supported as a sku and to use p1v2. P1 is still listed in the documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f99cdf3a-4fd3-e949-aabe-1b26fe828444
* Version Independent ID: 1c2e7517-1275-9e30-db67-393c0451055f
* Content: [az appservice plan](https://docs.mic

[2019-04-25 18:32] panchagnula commented on #9186
@stefano-corricelli can you re-try it looks like the API is not returning a valid JSON at times - have seen this recently myself once - also this doesn't block the Zip Deployment itself, this is the API that we query to get the status of the Zip Deployment - so most like Deployment worked - but command has failed.

[2019-04-25 19:22] mboersma commented on #9198
We shouldn't change the default VM size except by agreement with the project management team, IMHO.

[2019-04-26 00:07] ahmedelnably opened #9208 "Change az functionapp devops-build to devops-pipeline"
the current command `az functionapp devops-build` need to get into deprecation mode, and we should replace it with `az functionapp devops-pipeline` as the command creates an azure pipeline to build and release.

[2019-04-26 00:26] JasonRShaver commented on #9201
Thanks for reporting; We're fixing the issue and should have a fix out soon.

[2019-04-26 01:22] yugangw-msft commented on #9181
@panchagnula, expected?

[2019-04-26 03:32] panchagnula commented on #9181
Yes expected —dryrun still shows this but on running the operation. We show the url & how to redeploy. Since we got feedback that the output JSON is not very useful.

[2019-04-26 04:26] panchagnula commented on #9205
This is a bug on the CLI documentation that we will fix - as per out official documentation these are the supported SKU's https://azure.microsoft.com/en-us/pricing/details/app-service/windows/

[2019-04-26 04:41] panchagnula commented on #9050
@tjprescott or @yugangw-msft I can use some help trying to figure out why this is failing on CloudShell for a few customers. The parameters the az web app up command defines
https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_params.py#L363-L369

However, looking at the --debug error shared here 'File "/opt/az/lib/python3.6/sit

[2019-04-26 04:59] snehithm opened #9211 "Monitor: metric alerts cmd should accept count as an aggregation type"
**Describe the bug**
CLI commands for metric alerts dont support Count as an aggregation type.

**To Reproduce**
Steps to reproduce the behavior.
![image](https://user-images.githubusercontent.com/20316932/56784321-7cd97380-680d-11e9-8240-082ce8079bef.png)

**Expected behavior**
Count should be an allowed aggregation type. This was added to metric alerts a few months ago.

**Environment summary**

[2019-04-26 05:22] dsparkplug commented on #9181
Surely, if we explicitly state that the output format is json using `--output json`, then we should get json. People who don't want json, can use a different output format.

A bigger issue here is that this functionality has been released and people are already  using it. Fair enough, if you remove this as a part of a major, or event minor release, but  as part of a point change from 2.0.61 to 2.0

[2019-04-26 05:30] panchagnula commented on #9181
@dsparkplug unfortunately this is a breaking change that we are not willing add back at this time. I apologize for the inconvenience here, but the reason we are making some changes on a regular basis is because we are seeing an increase in the usage of this command & receiving a lot of feedback. We heard that url is the only useful part of the JSON that is useful post operation is completed so we

[2019-04-26 06:00] dsparkplug commented on #9181
The main problem here is the resource group. There does not appear to be a way to get any details about the deployed web app, using `az webapp show` for example, without knowing the resource group.

I know that the resource group, app service plan, web app name and app url are included in the text, but this is not really a machine readable format.

People who are giving feedback that they don't li

[2019-04-26 06:06] panchagnula commented on #9181
we are going to be adding RG & ASP as parameters to the command itself soon & hoping that will solve the problem you are seeing since the command parameters then match the rest of the CLI commands. Currently we are trying to stop add too many parameters to this command we will add RG & Plan, but no intentions of supporting JSON at this time.  Actually your comment gives an idea here is to do a GET

[2019-04-26 06:12] ranokarno commented on #9196
@adewaleo , yes issue resolved.
I will proceed to close this ticket now

[2019-04-26 06:12] #9196 closed

[2019-04-26 06:53] wahyuen opened #9212 "AMS - MRU commands fail with 'The access token is invalid' for Service Principal"
## Describe the bug
Attempted to programatically set the MRU as described in documentation. After successfully creating the media service account and running the below command, the following error was returned.

`The access token is invalid.`

**Command Name**
`az ams account mru set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacte

[2019-04-26 07:05] simondel opened #9213 "Service principal password can no longer be retrieved"
## Describe the bug
Earlier this week, it was still possible for me to retrieve the password of a service principal after it had been created. Right now, that no longer seems possible.

**Command Name**
`az ad sp list`

**Errors:**
Password is not returned in the info of a service principal

## To Reproduce:
[code]

## Expected Behavior
The value of the `rbac` password is returned:
![image](https:

[2019-04-26 07:13] simondel commented on #9213
Nvm. Turns out this was an issue in our automation. The password that was returned after creating the service principal was not stored due to an error elsewhere.

The name of the secret is still a bit odd though.

[2019-04-26 07:13] #9213 closed

[2019-04-26 07:14] dsparkplug commented on #9181
👍 to this. I guess that would make the output similar to that of the `az webapp create` command.

[2019-04-26 07:23] subesokun commented on #9183
@yugangw-msft It seems like my role definition was no longer valid as there has been some breaking changes. I've managed now to fix it and the command works again. Nevertheless, a helpful error message (e.g. role definition is invalid) would have been nice instead of some error stack trace.

[2019-04-26 07:23] #9183 closed

[2019-04-26 07:48] fkaksa commented on #9200
Hi! I can confirm that new version fixed the bug. Thanks!

[2019-04-26 08:08] lukasmrtvy commented on #8149
I have to do:
[code]
Seems that We have two groups with same name (Distribution and Security Group type), one synced from AD and second one created in AAD ? :/

[2019-04-26 08:35] DevSE99 commented on #9104
Now it's shown a proper message "Azure Error: InUseSubetCannotBeDeleted". But this doesn't solve the problem that I still can't delete the vnet. The subnet is not connected to any running service, but was connected to a ACI. Other networks can be deleted without problems.

[2019-04-26 09:02] lawrencegripper commented on #9198
Agreed. To play devils advocate to my own proposal moving to a larger size by default might annoy people as it would increase the cost of a cluster by default.

[2019-04-26 09:13] alexjmoore opened #9214 "az postgres server vnet-rule create does not have option to specify rg of the vnet"
## Describe the bug
The option to specify subnet names and vnet names assumes that the vnet is within the same resource group as the postgresql instance, which is likely rarely the case.  It therefore errors as it cannot find the vnet in the resource group.  There should be an option to specify the resource group name.

**Command Name**
`az postgres server vnet-rule create`

**Errors:**
[code]

##

[2019-04-26 09:26] S93rastogi commented on #8714
Hi, I am also facing the same issue. I want to edit this relative url as Rancher can't read this relative url to get to show the app catalog.

[2019-04-26 09:38] liammoat opened #9215 "az security pricing create only enabled "Virtual Machines""
**Describe the bug**
I am using ```az security pricing create``` to updates the Azure Security Center Pricing tier to "Standard" for a subscription.

As you can see, in the screen capture below, this only enables the pricing tier for the "Virtual Machine" resource type.

![image](https://user-images.githubusercontent.com/2767292/56797949-c75af000-680d-11e9-9451-5f11f20418b5.png)

**To Reproduce**

[2019-04-26 10:00] lukasmrtvy opened #9216 "az ad user list --upn should support starts_with functionality like --display-name does"
I am not quite sure if its feature request or bug...

[code]
Will quckly find all users starting with `"displayName"` :`"John Doe (Exter"`

-> It will find `John Doe (External)` in this case, which is OK.

I suppose that:
[code]
should do the same with `"userPrincipalName"`  attribute

-> It will not find anyting, unless You supply full `--upn` name.

I understand that this is neccessary for `az a

[2019-04-26 10:52] oliverroer commented on #7283
I just updated my Azure CLI to v2.0.63.
The following works now:
[code]

[2019-04-26 11:51] samanshariq opened #9217 "Hi There I am unable to create resource group from pycharm terminal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group create {}`

## Expected Behavior

## Environment Summary
[code]

[2019-04-26 11:52] samanshariq commented on #9217
I am using below script:
az group create \
   --name “samandemo-rg” \
   --location “centralus”

[2019-04-26 14:53] wahidsaleemi commented on #7404
You need to download the pfx using:
az keyvault secret download --vault-name $VaultName --name $CertName --encoding base64 --file $CertName.pfx

Then convert it to PEM using:
openssl pkcs12 -in $CertName.pfx -clcerts -nodes -out $CertName.pem

Once you do that, you can login with the PEM certificate.

[2019-04-26 15:34] tjprescott commented on #9211
Please update your CLI. This was already added in azure-cli-monitor 2.0.12.

[2019-04-26 15:34] #9211 closed

[2019-04-26 15:35] tjprescott commented on #9217
It looks like you need to correctly annotate the line breaks in your script or put everything on the same line.

[2019-04-26 15:35] #9217 closed

[2019-04-26 15:36] tjprescott commented on #9204
Can you run with `--debug` and include the first line of output (which says "Command arguments":")

[2019-04-26 15:37] tjprescott commented on #9214
If the vnet is not in the same resource group, then you must submit the subnet by ID. This is the standard pattern in the CLI.

[2019-04-26 15:37] #9214 closed

[2019-04-26 15:41] tjprescott commented on #9104
You would need to the delete the ACI and try again. There is nothing the CLI can do if the service fails to delete the resource. You could try opening a support ticket in the portal.

[2019-04-26 15:46] #9200 closed

[2019-04-26 15:48] marstr commented on #9200
Related to #9133

[2019-04-26 15:51] marstr commented on #9208
Howdy @ahmedelnably, what's the timeline you're targeting for this?