[2022-02-16 21:09] SatishBoddu-MSFT commented on #21327
Hello @kayasax Thanks for the great Feedback!

Are you using the Azure Portal to connect via Bastion? or using RDP?

Some related old thread on this topic may help : [Link ](https://social.technet.microsoft.com/Forums/ie/en-US/8e641777-2d3e-4c14-9954-6dde8d3af0e6/how-to-change-title-bar-text-of-a-remote-desktop-connection?forum=winRDc#:~:text=The%20solution%20that%20worked%20for%20me%20was)

_The

[2022-02-16 21:13] panchagnula commented on #21058
@StrawnSC can you follow up with SWA team on this - AFAIK SWA cannot be used with DevOps pipeline & so this is not specific to CLI.

[2022-02-16 21:15] panchagnula commented on #21168
We need new SDK drop for us to support this.

[2022-02-16 21:16] panchagnula commented on #21193
@notywala433 please upgrade your CLI version & re-try. The error indicates something missing on the cli install package.

[2022-02-16 21:16] #21193 closed

[2022-02-16 21:17] bmay-cloudwallcapital commented on #21058
@panchagnula for your reference, DevOps Pipelines can be used with it: https://docs.microsoft.com/en-us/azure/static-web-apps/publish-devops

[2022-02-16 21:18] panchagnula commented on #21186
The error here is that the quota has reached "The maximum number of custom domains allowed for this static site is 2."
@StrawnSC can we show the detailed error message by default on SWA command?

[2022-02-16 21:33] panchagnula commented on #21176
The error here is: the path is incorrect or doesn't exit "No such file or directory: '/home/gadeakshay2713/site.zip"

[2022-02-16 21:38] panchagnula commented on #21080
@szofar thanks for sharing the feedback - the 404 error seems to be this "ResourceNotFoundError: App service environment 'myservice' not found in subscription."

& seems like it works when you explicitly mention the ASP & RG name?

[2022-02-16 21:41] panchagnula commented on #21080
@StrawnSC check if for an App on ASE we try to create an ASP?  create_app_service_plan(cmd, rg_name, plan, _is_linux, hyper_v=False, per_site_scaling=False, sku=sku,
  File "/usr/local/Cellar/azure-cli/2.32.0/libexec/lib/python3.10/site-packages/azure/cli/command_modules/appservice/custom.py", line 1813, in create_app_service_plan
    raise ResourceNotFoundError(err_msg)

[2022-02-16 21:41] singankit commented on #20712
@gro1m Can you please try updating az ml extension to the latest version (2.0.7)

[2022-02-16 21:47] iamalexmang commented on #14995
Excellent answer, @navba-MSFT. This definitely helps a lot.
I believe it's safe to close down the issue now.

[2022-02-16 21:49] JasonFreeberg commented on #21168
@panchagnula , Satish's request for a new Python SDK build was approved. Is that what you mean? --> https://pypi.org/project/azure-mgmt-web/6.1.0/

https://github.com/Azure/sdk-release-request/issues/2397

[2022-02-16 22:12] vxfield commented on #21307
During early investigations we noticed that this happen to any Az CLI extension, not just `quantum`.

@jsntcy, @yonzhan: is this expected in the CLI?
[code]

If I remember correctly, when a parameter was missing the Az CLI would complain but automatically print the help with the available options. That is not present anymore, perhaps due to a bug in CLI.

@warren-jones is continuing the investigat

[2022-02-16 22:25] pmalczak commented on #21310
I've been installing and upgrading azure-cli via apt-get.
It's not enough to fix the problem.

As I see, **/etc/apt/sources.list.d/azure-cli** contains:
deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ una main

which ends up with:
Błąd:13 https://packages.microsoft.com/repos/azure-cli stable Release
  404  Not Found [IP: 13.81.215.193 443]
Czytanie list pakietów... Gotowe
E: The r

[2022-02-16 22:53] panchagnula commented on #20957
@RobertBudzko-TomTom when trying pigtail command for slot are you using the --slot parameter?
https://docs.microsoft.com/en-us/cli/azure/webapp/log?view=azure-cli-latest#az-webapp-log-tail

[2022-02-16 23:01] panchagnula commented on #21168
@JasonFreeberg yes, we need to update CLI to use the new SDK & ensure no breaking changes or handle it correctly, this will take time, before we support the changes in the deploy API. hope this clarifies, the work involved & timelines. Thanks!

[2022-02-16 23:06] kmo-dev commented on #13143
hi, I can confirm that. this feature is now available. case closed. thanks to all ♥

[2022-02-16 23:06] #13143 closed

[2022-02-16 23:09] SaurabhSharma-MSFT commented on #21252
@tux3 I am not able to reproduce this issue in my environment.  As mentioned in [another](https://github.com/Azure/azure-cli/issues/21254) GitHub issue can you please follow https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt to install Azure CLI on stable/GA versions of Debian, like 11 Bullseye, instead of Sid.

Ref: https://wiki.debian.org/DebianUnstable

[2022-02-16 23:21] yonzhan commented on #21331
keyvault

[2022-02-16 23:24] rumstead commented on #16148
[code]
LGTM

[2022-02-16 23:33] panchagnula commented on #21211
@JasonFreeberg FYI - this is not CLI specific issue.

[2022-02-16 23:39] panchagnula commented on #21133
@StrawnSC would be a good one to look at  for cross RG scenario for SSL certs, especially when using mixture of clients (portal + CLI for different operations) We can add an ASP argument to this command specifically, that should help.

[2022-02-16 23:44] panchagnula commented on #21129
@seligj95 FYI, this is not a CLI specific issue but something worth calling out in documentation? Could you pass this to the feature PM?

[2022-02-16 23:55] panchagnula commented on #21058
@simonaco FYI. @StrawnSC from the learning supporting this on function apps my proposal would be to make this a separate command in azure-cli extensions, which has devops pipeline support as well. See https://github.com/Azure/azure-cli/pull/19716/files

[2022-02-17 00:02] panchagnula commented on #21046
@realrubberduckdev thanks for reporting. We will fix our documentation to not be misleading. Thanks!

[2022-02-17 00:05] panchagnula commented on #21005
closing due to lack of response, if the suggestion resolved the issue.

[2022-02-17 00:05] #21005 closed

[2022-02-17 00:08] panchagnula commented on #20983
@SamWhitby this is correct Certificates on App Service currently are not associated with a webapp but rather a webspace (note not RG) hence --name is not necessary

[2022-02-17 00:43] Ochirkhuyag commented on #20420
@zhoxing-ms

As it removed from previous swagger, we should be good to remove the dependency on the referred URI.

We are now going through "az account alias create".

Here is a public documentation which refers to it.
https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/programmatically-create-subscription-enterprise-agreement?tabs=azure-cli

Please let us know if you need anythi

[2022-02-17 00:45] yonzhan commented on #21332
@jiasli for awareness

[2022-02-17 00:56] evelyn-ys commented on #21118
#19640 for details

[2022-02-17 00:56] #21118 closed

[2022-02-17 00:56] evelyn-ys commented on #21331
#19640 for details

[2022-02-17 00:57] johndowns commented on #21160
@YuanyuanNi I don't think that's accurate. If I deploy a storage account with a private endpoint, then I can run

[code]

And it successfully returns a list of private endpoint connections for that storage account.

My feedback here is that it should behave the same way when I run the command and provide a Private Link Service resource ID.

(Note that your comment would be correct for other comman

[2022-02-17 00:59] tux3 commented on #21252
@SaurabhSharma-MSFT Noted. While I used the instructions from this page (the curl | bash script), I missed the note that says Debian testing is unsupported.

[2022-02-17 00:59] #21252 closed

[2022-02-17 01:09] SaurabhSharma-MSFT commented on #10502
@rashmipatil Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-17 01:14] SaurabhSharma-MSFT commented on #10525
@komcdo Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-17 01:23] rachelxj-ms commented on #21319
No, I'm using the plan name, not function app name.

[2022-02-17 01:29] rachelxj-ms commented on #21319
I tried it again today, there is no error now, but the result is not expected.
az functionapp plan update -g hybrid-rg -n ASP-hybridrg-af34 --min-instances 2
![image](https://user-images.githubusercontent.com/66855967/154386433-88f0b196-a232-4ce0-a7cd-3274e59ef8c2.png)
I removed my sub id from the result.
C:\Users\xuejl>az functionapp plan update -g hybrid-rg -n ASP-hybridrg-af34 --min-instances 2

[2022-02-17 01:43] SaurabhSharma-MSFT commented on #10628
@iluican @nberdy Do you have any updates ?

[2022-02-17 01:44] SaurabhSharma-MSFT commented on #10637
@Spyntek Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-17 01:46] SaurabhSharma-MSFT commented on #10639
@rodbutters I believe this issue has been fixed and can be closed. Please let us know.

[2022-02-17 01:47] SaurabhSharma-MSFT commented on #10653
@StiviiK Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-17 01:49] SaurabhSharma-MSFT commented on #10655
@1dasdave7 Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-17 01:49] yonzhan commented on #10654
route to service team

[2022-02-17 01:51] SaurabhSharma-MSFT commented on #10661
@kalpana73 Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-17 02:23] jsntcy commented on #21307
@vivienlonde @vxfield, it's by design currently as `az quantum offerings` and `az storage` are command group, only command will show recommendation, for example `az quantum offerings list`.

@vivienlonde, you need run command with arguments instead of command group, such as `az quantum offerings list`,

![image](https://user-images.githubusercontent.com/16348853/154392280-45d259f4-6084-426d-8f98-c

[2022-02-17 02:56] zhoxing-ms commented on #20420
@Ochirkhuyag So we don't need to upgrade the api-version for `az account create` command, but just need to upgrade the `az account alias create` command, right?

[2022-02-17 03:19] vxfield commented on #21307
Thanks. Are there any plans (or concerns why not) to print the help message (as if using —help argument) when a command or parameter is missing?
________________________________
From: Yu Chen ***@***.***>
Sent: Wednesday, February 16, 2022 6:24:02 PM
To: Azure/azure-cli ***@***.***>
Cc: XField ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] 'az quantum offerings' not recognized (

[2022-02-17 03:39] navba-MSFT commented on #14995
@iamalexmang Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-17 03:39] #14995 closed

[2022-02-17 04:09] navba-MSFT commented on #9585
@duaneguthrie Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-17 04:09] #9585 closed

[2022-02-17 04:19] jsntcy commented on #21307
@vxfield, sorry, I didn't quite understand what you mean, do you mean CLI should tell users that a command is missing when they only run command group?
CLI does print help message when users run command missing some parameters as the example above `az quantum offerings list`, it will tell users "location" is needed.

[2022-02-17 04:32] navba-MSFT commented on #20495
@tomkregenbild Apologies for the late reply. We are looking in to this issue. We will provide an update once we have more details.

@amjads1 Could you please provide an update on this once you get a chance ? Awaiting your reply.

[2022-02-17 05:16] navba-MSFT commented on #20736
@sarbaker Apologies for the late reply. Could you please let us know if the above workaround has helped ? Also please use the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the AzCLI and test the behavior ? Awaiting your reply.

[2022-02-17 05:21] navba-MSFT commented on #20854
@amjads1 Apologies for the late reply. Could you please use the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the AzCLI and check if you still face the issue ? Awaiting your reply.

[2022-02-17 05:27] navba-MSFT commented on #20927
@mihammer Apologies for the late reply. We are looking into this issue. We will provide an update once we have more details on this.

@haagha Could you please provide an update on this once you get a chance ? Awaiting your reply.

[2022-02-17 05:41] PramodValavala-MSFT commented on #21319
@rachelxj-ms According to [this section of the doc](https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan?tabs=portal#plan-and-sku-settings), looks like the minimum is set to the max always ready instance count of the apps deployed in that play.

But I too couldn't increase it using Azure CLI like the doc mentions. I will confirm with the team concerned and get back to you.

[2022-02-17 05:46] sriramvu commented on #20420
@zhoxing-ms: as we have removed that API itself from the Swagger as a breaking change couple of apiVersions before, do we still want to maintain the command referring to that?
by any chance, can we get some telemetry on usage of the command?

[2022-02-17 05:56] sriramvu commented on #20420
- [ ]

- [ ] #

[2022-02-17 06:02] panchagnula commented on #20966
This is the second case I am seeing reporting this behavior, however, I don't seem to be able to repro it. @StrawnSC can you check if this happens of Lima Apps specifically?

[2022-02-17 06:04] panchagnula commented on #20938
@StrawnSC this is a slightly older version but can you check this logic - that could lead to this exception?     _asp_generic = plan_name[:-len(plan_name.split("_")[4])]
IndexError: list index out of range

[2022-02-17 06:06] panchagnula commented on #20908
This seems like there was a problem with the CLI install - can you try to re-install & re-try? Thanks!

[2022-02-17 06:07] StrawnSC commented on #20938
I'll double-check, but IIRC this was a known error with `az webapp up` ( when no `--plan` argument was provided) that was fixed in a recent version

[2022-02-17 06:10] panchagnula commented on #20861
Oops sorry for this - we are working on fixing this behavior.

[2022-02-17 06:11] panchagnula commented on #20830
@StrawnSC what is the status of this?

[2022-02-17 06:12] panchagnula commented on #20808
@calvinsID / @StrawnSC is this fixed? who is working on this fix, if this is not?

[2022-02-17 06:15] panchagnula commented on #20793
@gvt don't have M1 Max Pro - but don't repro this on my Intern Mac book pro. Could you please try this on cloud shell bash terminal of portal & let me know if you repro the same behavior? See aka.ms/cloudshell on how to use this. Thanks!

[2022-02-17 06:16] panchagnula commented on #20729
Please reopen if this still repros post the fix on the latest version of CLI. Thanks

[2022-02-17 06:18] panchagnula commented on #20728
@StrawnSC this is specific to k4apps - might be already fixed - can you check & comment?

[2022-02-17 06:20] sycao5 opened #21336 "az role assignment create: IndexError: list index out of range"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role assignment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az role assignment create --role {} --scope {} --assignee {}`

[2022-02-17 06:20] panchagnula commented on #20709
@tanigon I am unable to reproduce this - do you still see this with the latest version of CLI?

[2022-02-17 06:21] panchagnula commented on #20686
Closing this to try with the latest version of CLI & re-open if still not fixed.

[2022-02-17 06:22] panchagnula commented on #20685
@rksakai are you still seeing this with the latest version of CLI?

[2022-02-17 06:23] panchagnula commented on #20625
@Kotasudhakarreddy did you report this via ICM or email to the portal team already? what is the status?

[2022-02-17 06:26] zhoxing-ms commented on #20420
@sriramvu Hi, may I ask will the service team maintain the REST in the future?  And do you confirm that command `az account alias create` (REST: https://management.azure.com/providers/Microsoft.Subscription/aliases/sampleAlias) has the same function as command `az account create`, and suggest that we deprecate command `az account create` and replace it with command `az account alias create`?

In f

[2022-02-17 06:27] panchagnula commented on #20596
@vsha041 yes the timeout is a polling operation for client to not use the default timeout, because based on the package to deploy & build (if enabled by appsetting) this can take longer for config zip (webapp & functionapp) the implementation is seconds, need to check the logic of the new deployment command to check if this is seconds or milliseconds & keep it consistent.

[2022-02-17 06:28] panchagnula commented on #20564
Please try latest version & re-open if this still repros. Thanks!

[2022-02-17 06:31] vxfield opened #21337 "Azure CLI to automatically print help message when there is a missing argument"
**Is your feature request related to a problem? Please describe.**
Azure CLI should automatically print the help message in the absence of a sub_command or required parameter.
Still, differently then running it with "--help", which has a successful exit code with value `0`, it should still return a failure non-zero exit code.

Some users get confused with the current error message. See #21307

For

[2022-02-17 06:31] sriramvu commented on #20420
Yes, with 'az account alias create', we should be getting same functionality as of 'az account create'.
1) as the command is currently getting used by many customers, can you please share the process of deprecation.
2) will check with my manager and confirm either if we want to leave the command as is or remove as there is other equivalent command to achieve the same functionality.

referring to b

[2022-02-17 06:34] vxfield commented on #21307
@yonzhan , yes, I guess I'm asking for a feature to improve user experience.
I created a separate issue for that.
Let's close this one and please consider #21337.

@vivienlonde, since this behavior is by design, I'm closing this issue.
Please reopen it if you disagree.

[2022-02-17 06:34] #21307 closed

[2022-02-17 06:35] yonzhan commented on #21336
@jiasli for awareness

[2022-02-17 06:35] panchagnula commented on #20472
@spottedmahn this was a regression on the 2.29 & 2.30 version of CLI - & hence it blew up. Please re-try with the latest CLI version.

[2022-02-17 06:37] yonzhan commented on #21337
Storage

[2022-02-17 06:37] panchagnula commented on #20359
@mkarmark please take a look at the feedback on V2 extension. Thanks!

[2022-02-17 06:38] panchagnula commented on #20358
@mkarmark please update the help on v2? Thanks!

[2022-02-17 06:39] panchagnula commented on #20323
@Kiratpal000 looks like the issue is that the zip file location is incorrect or doesn't exist

No such file or directory: '/home/kiratapal/site.zip'

[2022-02-17 06:42] #19415 closed

[2022-02-17 06:42] panchagnula commented on #20230
@lucafaggianelli do you still repro this with the latest version of CLI?

[2022-02-17 06:43] panchagnula commented on #20163
@bprakashputta can you try this with re-installing the latest version, seems like the cli package did not install completely, originally.

[2022-02-17 06:45] panchagnula commented on #19738
Please re-open if this repros.

[2022-02-17 06:46] panchagnula commented on #19519
@Kotasudhakarreddy any update on this?

[2022-02-17 06:47] panchagnula commented on #19460
@Chibuzor27 are you still seeing this issue?

[2022-02-17 06:48] panchagnula commented on #19418
Not something planned to support at this time for create. Thank you for the feedback.

[2022-02-17 06:48] #19418 closed

[2022-02-17 07:06] kayasax commented on #21327
Hello @SatishBoddu-MSFT I'm using the bastion rdp feature ( az network bastion rdp ) as seen  [here](https://argonsys.com/microsoft-cloud/library/how-to-transfer-files-to-your-azure-vm-with-no-public-open-rdp-port/ )

[2022-02-17 07:25] zhoxing-ms commented on #20420
@sriramvu If we need to deprecated this command, we will mark the `deprecate_info` [doc_link](https://github.com/Azure/azure-cli/blob/dev/doc/authoring_command_modules/authoring_commands.md#deprecating-commands-and-arguments). So when users use it, they will be prompted `This command is implicitly deprecated because command 'account create' is deprecated and will be removed in a future release. Us

[2022-02-17 07:47] tanigon commented on #20709
@panchagnula

az upgrade and tried again, still reproduce.

[code]

[2022-02-17 07:59] rouke-broersma commented on #14257
Hi @navba-MSFT,

We now simply grant the managed identity the correct permissions on the container registry using Bicep, so we no longer use this az-cli command. I won't be reproducing this again, apologies. You may close this issue if you wish, I no longer have a need for this functionality.

[2022-02-17 08:00] navba-MSFT commented on #14257
@rouke-broersma Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-17 08:00] #14257 closed

[2022-02-17 08:21] navba-MSFT commented on #13301
@mattruma Apologies for the late reply. I was able to run the below command in azure cloud shell and it worked fine.

More Info [here](https://docs.microsoft.com/en-us/cli/azure/apim?view=azure-cli-latest). Could you please test the same and let me know if you face any issues ? Awaiting your reply.

[2022-02-17 08:34] navba-MSFT commented on #11608
@mont5piques Apologies for the late reply. Refer #14127 #14830 . Please use the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) of the AzCLI and let us know if you still see the issue ? Also this issue is open for quite sometime now. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-17 08:53] #20903 closed

[2022-02-17 08:56] Chandrb commented on #21288
Thanks @archidda, @SaurabhSharma-MSFT  and it worked.

[2022-02-17 08:56] #21288 closed

[2022-02-17 09:05] navba-MSFT commented on #14695
@nezoic Apologies for the late reply. We are looking into this issue. We will update this thread once we have more details.

@adrianhall Could you please provide an update on this issue ? Awaiting your reply.

[2022-02-17 09:22] Xitric opened #21338 "Intermittent rate limit errors cause CI/CD pipelines to fail when using the azure cli"
**Describe the bug**
We are running the azure cli in a pipeline on Bitbucket to deploy Bicep templates to our development environment, and soon enough to production as well. Intermittently, our pipelines fail due to rate limits when the Azure CLI performs a version check for Bicep. Running `az deployment group create ...` _sometimes_ fails with:

[code]

**To Reproduce**
Run `az deployment group c

[2022-02-17 09:23] sergiohjInditex opened #21339 "Error executing az login: FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\xxx\\Documents\\WireShark\\ssl-keys.log'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-02-17 09:58] vivienlonde commented on #21307
Thank you for the answers. But the error I have is different:
![Capture](https://user-images.githubusercontent.com/45631143/154451291-b3e7d7f9-06f7-4bf0-a308-43eb43c2e5f0.PNG)

Here are the versions I use:
azure-cli 2.33.1
quantum 0.15.2101.2800

[2022-02-17 10:16] navba-MSFT commented on #15000
@tonyalanschleich Apologies for the late reply. We are looking into this issue. We will provide an update once we have more details on this.

@adrianhall Could you please provide an update on this ? Awaiting your reply.

[2022-02-17 10:26] navba-MSFT commented on #15027
@mbpolan Apologies for the late reply. Please refer [this](https://github.com/Azure/azure-api-management-devops-resource-kit/issues/538) thread. Could you please let us know if you are still facing this issue ? This issue is open for quite some time. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-17 11:02] yonzhan commented on #21338
ARM

[2022-02-17 11:02] yonzhan commented on #21339
@jiasli for awareness

[2022-02-17 11:07] lucafaggianelli commented on #20230
At the end I'm not using the CLI for the deployment anymore but I'm deploying from an Azure DevOps pipeline and it works.
On top of that issue I also had a problem with the proxy, as my App Service instance is inside an Isolated ASP and apparently the az CLI doesn't like that, so at the end the DevOps pipeline is working fine.

[2022-02-17 12:12] shayco-tr opened #21341 "keyvault- How to add tags to existing key vault"
Hi,
I am trying to add tags to key vault, after running this command:
az keyvault update --resource-group test-rg --name test-kv --set tags.test=test
its not adding the tags. ( this comand works on vm)
Can anyone assist?

Thanks,
Shay

[2022-02-17 12:16] navba-MSFT commented on #11614
@thisisbrianstewart Apologies for the late reply. I was able to run the below command in azure cloud shell and it worked fine.

More Info [here](https://docs.microsoft.com/en-us/cli/azure/apim?view=azure-cli-latest). Could you please test the same using [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) of AzCLI and let me know if you face any issu

[2022-02-17 12:16] navba-MSFT commented on #13613
@jt000 Apologies for the late reply. I was able to run the below command in azure cloud shell and it worked fine.

More Info [here](https://docs.microsoft.com/en-us/cli/azure/apim?view=azure-cli-latest). Could you please test the same using [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) of AzCLI and let me know if you face any issues ? Awaiting

[2022-02-17 12:53] jsntcy commented on #21307
The latest version is 0.12.0, I'm curious why your version is 0.15.xxxx, could you upgrade to latest version to try again?
![image](https://user-images.githubusercontent.com/16348853/154484776-05ed5ca8-089a-4417-82bc-25fc553e22f3.png)

[2022-02-17 13:05] vivienlonde commented on #21307
Indeed ! I don't know either.. I was not able to upgrade it (response: "no update available"). But removing the quantum extension and then adding it again installed version 0.12.0. And it fixed the error I had.
Thank you for the help !

[2022-02-17 13:19] jamesryanuk commented on #19873
I encountered this issue today, but found a workaround in #20795. The `--display-name` parameter appears to be required, despite what it says on the [documentation](https://docs.microsoft.com/en-us/cli/azure/sql/server/ad-admin?view=azure-cli-latest). When I supply this parameter the command works as expected.

[2022-02-17 13:26] SenorRagequit opened #21342 "Cloudshell, lost file access"
**Describe the bug**
I created some files in the cloudshell, one xyz.ps1 and one xyz.yaml for Terraform.
Since today, I can't open those files anymore.
![grafik](https://user-images.githubusercontent.com/50502395/154490536-7fd9c8a1-40f8-4a47-a068-a441d21799d9.png)
I created those files a while back in the cloudshell itself and used it without any problem every day - until today.

I can even open t

[2022-02-17 13:34] SenorRagequit commented on #21342
Additional note: Switching the Cloudshell to Powershell helped, as I could start the *.ps1 script.
But Bash won't execute it. But iirc I started the ps1 script always with Bash sofar(?)

[2022-02-17 13:51] Abdelkrim commented on #11584
@navba-MSFT I'll close the issue.

I don't recall what i did to overcome the issue.

thank you for popping it up

[2022-02-17 13:51] #11584 closed

[2022-02-17 14:19] neslop8 opened #21343 "'VMCustomization' is not enabled for the Subscription."
**Resource Provider**
VMCustomization

**Description of Feature or Work Requested**
USERNAME=azureuser
PASSWORD=$(openssl rand -base64 32)
az vm create \
  --resource-group learn-71120265-74f9-4e22-9c89-7e151156f4d9 \
  --name myVM \
  --image win2019datacenter \
  --admin-username $USERNAME \
  --admin-password $PASSWORD

**Minimum API Version Required**
az --version
azure-cli

[2022-02-17 14:22] nithinmohantk commented on #19562
Issue seems to have resolved in updated vesions. Hence closing the ticket.

[2022-02-17 14:22] #19562 closed

[2022-02-17 14:22] #19388 closed

[2022-02-17 14:47] yonzhan commented on #21343
Compute

[2022-02-17 14:49] yonzhan commented on #21342
route to CXP team

[2022-02-17 14:52] #13613 closed

[2022-02-17 14:57] PramodValavala-MSFT commented on #21342
@SenorRagequit You need the execute (x) flag for the file too. Try running the following and then run your script again

[code]

[2022-02-17 16:05] SenorRagequit commented on #21342
That worked, thanks.

[2022-02-17 16:24] archidda commented on #21288
Happy to help :)

[2022-02-17 16:45] panchagnula commented on #20230
@lucafaggianelli az webapp up is not support for ILBASE - you can use az webapp create, az webapp deployment config zip  or ASE commands under az AppService , which is similar to using devops pipeline directly. @StrawnSC with up enable for ASE V3 only - we need add better exceptional handling & validations to call out when something is not supported, instead of crashing.

[2022-02-17 16:53] italukder commented on #20848
Subject : global fast party protocol ony me

example

[2022-02-17 17:01] panchagnula commented on #20709
@tanigon what I see is the validation failure (which is what I expect)
 (ResourceGroupNotFound) Resource group 'invalid_rg' could not be found.
Code: ResourceGroupNotFound
Message: Resource group 'invalid_rg' could not be found. Let me try this on cloud shell install of my local cli installed

[2022-02-17 17:52] italukder commented on #20848
Subject : global second party protocol

Example
second party : families with my dreams are second party families

thank you

[2022-02-17 17:55] steveluper commented on #21224
Still failing in Cloud Shell. @dsajanice  and @edyoung update please.

[2022-02-17 17:58] tanigon commented on #20709
@panchagnula
hmm, strange, and what I expected to see is such error message. it's informative.  but strange stack trace is not.
can I help in any way?
what I quote is everything and it looks some sort of stacktrace of problematic line of az cli tool?(I'm not sure)

[2022-02-17 18:03] CoffeeExpress opened #21344 "Unable to list subscriptions for Event Grid Topic"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az eventgrid event-subscription list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az eventgrid event-subscription list --source-resou

[2022-02-17 18:06] mgrazebrook commented on #20168
Same problem. I set up a starter Azure account with $200 credit. All fine for a few days. Then I had weird login problems. Then I could login but could not see my subscription. Support reported " I see that it is recognized as a “Personal Account” and as well as “Work or School Account”" and gave instructions starting "Open Edge browser | InPrivate mode" which I followed (but using Chrome/Incognit

[2022-02-17 18:12] italukder commented on #20848
Subject global second party protocol trust bord organization

example.
 Facebook.
Microsoft.
Google
Twitter.
Apple.
Amazon.

thank yuo
third party
I will always help the family of all the parties

[2022-02-17 19:02] italukder commented on #20848
Subject : global village business protocol thust bord organization

example

[2022-02-17 19:54] panchagnula commented on #20709
Thanks @tanigon I am checking the core-cli team directly to check on the possible - since you are not the only customer reporting this :( I will keep this forum posted with updates & reach out directly if I need further help from you.

[2022-02-17 19:59] sriramvu commented on #20420
@zhoxing-ms: based on telemetry & internal discussions - request to keep 'az account create' as is - and only upgrade alias commands.

[2022-02-17 20:45] StrawnSC commented on #20938
@buentead sorry you're running into this issue. Please upgrade your CLI with: ` az upgrade` and retry the command. The issue was solved in a recent release.

Please reopen the issue if you're still encountering the same bug.

[2022-02-17 20:45] #20938 closed

[2022-02-17 20:54] StrawnSC commented on #20938
That line was corrected to `_asp_generic = plan_name[:plan_name.rindex("_")]` so it doesn't error out if the generic ASP plan name can't be split on `"_"` into at least five parts. This was causing an issue because the generic ASP name was changed to have only two underscores

[2022-02-17 21:49] rickdgray opened #21347 "Runbook Replace Incorrect Parameter"
Currently the documentation on replacing the content of a runbook specifies to use the --content @/path/to/file argument. This argument will not parse correctly as it needs to be in double quotes.

The documentation should reflect this:
--content "@/path/to/file"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cbb98a7a-

[2022-02-18 00:04] yonzhan commented on #21344
route to CXP team

[2022-02-18 00:10] yonzhan commented on #21347
route to CXP team

[2022-02-18 00:59] bion opened #21349 "Python error thrown with az role assignment create: AttributeError: 'RoleAssignmentsOperations' object has no attribute 'config'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role assignment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az role assignment create --role {} --assignee {} --scope {}`

[2022-02-18 01:25] sagarlankala commented on #9696
Hi @SaurabhSharma-MSFT ,

We are currently working on the next version of API's and associated SDK's, CLI's. SIG support in CLI will be available after we publish them. Until then, we recommend using REST API's and ARM templates for automation.

[2022-02-18 01:34] bion commented on #21349
uninstalled and then reinstalled using [this method](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=script#option-1-install-with-one-command) and it works now

[2022-02-18 01:39] #15765 closed

[2022-02-18 02:04] yonzhan commented on #21349
@jiasli for awareness

[2022-02-18 02:11] jiasli commented on #21339
Judging from this line:

[code]

Looks like Wireshark somehow affected the request. Could you turn off Wireshark and try again?

[2022-02-18 02:37] abatishchev commented on #4511
@ugangw-msft shall this issue be closed if addressed?

[2022-02-18 02:46] chrisriu commented on #21271
This is working now but when I added the django updated version. it is not working.
So I am using python3.7.9 version to match azure.

If anyone knows how to use 3.9 python in Azure, please let me know.

[2022-02-18 02:47] jsntcy commented on #21347
Will take a look.

[2022-02-18 02:54] zhoxing-ms commented on #20420
@sriramvu OK, but I suggest we can add the `deprecate_info` flag to this command in advance. So as to inform users that this command may be deprecated in the future and guide them to migrate to the new command.
It will not affect the subsequent normal usage of this command, but will add some prompt message to users

[2022-02-18 03:43] jiasli commented on #21349
See https://github.com/Azure/azure-cli/issues/19640

[2022-02-18 03:50] jiasli commented on #21336
2.7.0 is very old. Please install the latest version and see it the issue is solved: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli

[2022-02-18 04:31] navba-MSFT commented on #21344
@CoffeeExpress Thanks for reporting the issue. I was able to run the below command to list the subscription for EG Topic and it worked fine. Could you please refer this thread #20244 for the similar issue? And then run the below command using most recent version of Azure CLI:

az account set --subscription "1234-123-****-1234"
az eventgrid event-subscription list --source-resource-id /subscription

[2022-02-18 04:53] likamrat commented on #21349
Been seen the same behavior while running az login in a PowerShell session
_az login --service-principal --username $Env:spnClientID --password $Env:spnClientSecret --tenant $Env:spnTenantId_
<img width="855" alt="Snag_286cf40" src="https://user-images.githubusercontent.com/46730876/154619812-79265a96-a7c1-466a-a06b-31470640e22e.png">

[2022-02-18 05:49] ringerc commented on #21298
Thanks. Documenting it would be a good start - it's not *terrible* behaviour as it stands, though it's not ideal. But it's surprising and confusing when you don't know to expect it.

[2022-02-18 06:00] DCMattyG commented on #21349
Issues in the last day or so with similar behavior:

https://github.com/Azure/azure-cli/issues/21306
https://github.com/Azure/azure-cli/issues/21331
https://github.com/Azure/azure-cli/issues/21332
https://github.com/Azure/azure-cli/issues/21333

Possibly some systemic issue with the latest Azure CLI release?

[2022-02-18 06:02] jiasli commented on #21333
Duplicate of #20231

[2022-02-18 06:02] #21333 closed

[2022-02-18 06:02] jiasli commented on #21332
Please share more info.

[2022-02-18 06:12] DCMattyG commented on #21349
Thanks for clarifying @jiasli!

[2022-02-18 06:15] christiankuhtz opened #21352 "I never want to see this error again: the following arguments are required: _subcommand"
**Is your feature request related to a problem? Please describe.**

Why does azcli not produce command help when it doesn't see the appropriate subcommand?  you can still fail with exit code 2 but also throw me a bone with showing me what I would've gotten with -h. in fact, save me from typing -h when you don't understand.

**Describe the solution you'd like**

when I enter az bicep show me what I

[2022-02-18 06:31] zhoxing-ms commented on #21343
Fixed by #21232

[2022-02-18 06:31] #21343 closed

[2022-02-18 06:47] navba-MSFT commented on #21259
@mountain65 A quick follow-up to check if you had a chance to follow the action plan in my above comment. Awaiting your reply.

[2022-02-18 06:52] italukder commented on #20848
Subject : global Android mobile account trust bord organization

[2022-02-18 06:54] italukder commented on #20848
Subject : global  oil & gas & gold stock business protocol.

example

[2022-02-18 07:18] navba-MSFT commented on #19791
@sjuarezgx Apologies for the late reply. We are looking into this and we will update once we have more details.

@adrianhall Could you please let us know when will the az apim CLI command be ready for production use ? Awaiting your reply.

[2022-02-18 07:24] #21332 closed

[2022-02-18 07:29] PARADISSEEKR commented on #21180
Hi, @sirfamelin When I use the image in the [example](https://github.com/Azure/azure-rest-api-specs/blob/1659cfde425308fc46b5f2cd962c3be40ba04ace/specification/compute/resource-manager/Microsoft.Compute/stable/2020-12-01/examples/CreateAScaleSetWithUefiSettings.json#L17-L21) to test the new parameters, the service return `The value of parameter version is invalid`.. When I use the common image to

[2022-02-18 07:46] PARADISSEEKR commented on #21180
Hi @sirfamelin ,When I test the new parameters, the service returns `Use of TrustedLaunch setting is not supported for the provided image`. What conditions should the image used meet? Can you provide an image for testing? Thank you.

[2022-02-18 07:47] PramodValavala-MSFT commented on #21342
@SenorRagequit Glad we could help! Closing.

[2022-02-18 07:47] #21342 closed

[2022-02-18 08:07] oalimerko commented on #12946
is there via `az rest` any replacement for the command `az ad sp credential reset --name <name>`?
With `az ad sp credential reset` i am facing the well known issue `Insufficient privileges to complete the operation.`

[2022-02-18 08:14] lucafaggianelli commented on #20230
Ah here we go, OK good to know!

[2022-02-18 08:24] navba-MSFT commented on #14298
Refer PR https://github.com/Azure/azure-cli/pull/21303

[2022-02-18 08:24] #14298 closed

[2022-02-18 08:44] navba-MSFT commented on #19277
@abragsta @owingruters Apologies for the late reply. We are looking into this issue. We will provide an update once we have more details on this.

@adrianhall Could you please look into this ask once you get a chance ? Awaiting your reply.

[2022-02-18 09:32] jiasli commented on #12946
@oalimerko, please use `az rest` to invoke Microsoft Graph API like [application: addPassword](https://docs.microsoft.com/en-us/graph/api/application-addpassword?view=graph-rest-1.0&tabs=http) or [servicePrincipal: addPassword](https://docs.microsoft.com/en-us/graph/api/serviceprincipal-addpassword?view=graph-rest-1.0&tabs=http).

[2022-02-18 09:34] navba-MSFT commented on #19205
@PhaniChiruvolu Apologies for the late reply. Could you please try the below steps and let us know if you still face the issue ?

az extension update --name connectedk8s # This will update the existing connectedk8s extension

Then you can try to run the [az connectedk8s connect](https://docs.microsoft.com/en-us/cli/azure/connectedk8s?view=azure-cli-latest#az-connectedk8s-connect) command and let u

[2022-02-18 10:03] mkemmerz commented on #21003
Any update on this? The disable and enable of the addon takes quite some time and does only work sometimes on the cluster for us.

[2022-02-18 10:15] navba-MSFT commented on #19752
@zaidmohd Apologies for the late reply. The similar issue was reported https://github.com/Azure/azure-cli/issues/20554#issuecomment-1027533628 and https://github.com/Azure/azure-cli/issues/21306#issuecomment-1040353757. So could you try the plan mentioned in their comment and check if that helps ?

Also could you please try the below steps and let us know if you still face the issue ?

Then you ca

[2022-02-18 10:21] navba-MSFT commented on #20554
@ckt-github Apologies for the late reply. Could you please check and let us know if you had a chance to try the above plan ?
 Do let us know if you are still facing the issue. Awaiting your reply.

[2022-02-18 10:30] mountain65 commented on #21259
I have

azure-cli                         2.31.0 *

core                              2.31.0 *
telemetry                          1.0.6

Extensions:
application-insights              0.1.14
azure-devops                      0.18.0
containerapp                       0.2.0
interactive                        0.4.4

[2022-02-18 10:30] mountain65 commented on #21259
Will upgrade. But ultimately this is gonna run in my DevOps pipeline. I hope I can upgrade Az CLI there too.

[2022-02-18 10:33] navba-MSFT commented on #21259
@mountain65 Thanks for getting back. Please let me know if you still run into the same issue after upgrading.

[2022-02-18 10:35] #20977 closed

[2022-02-18 10:41] mountain65 commented on #21259
Locally it even works before I upgraded....
Upgraded to 2.33.1 and it still works.

I will now try the Pipeline Task AzureCLI@2

[2022-02-18 10:45] mountain65 commented on #21259
It is working in the pipeline too. Great. What to do with the "please upgrade" message:

[code]

[2022-02-18 11:45] ssennettau commented on #21224
For reference, I've submitted an issue to the Azure CloudShell repo as well, linking back to this issue. Thanks to the CLI team for the rapid fix, look forward to seeing it also in CloudShell!

https://github.com/Azure/CloudShell/issues/145

[2022-02-18 12:12] navba-MSFT commented on #15478
@milanchavda Apologies for the late reply. This is documented [here](https://docs.microsoft.com/en-gb/azure/cloud-shell/troubleshooting#user-permissions) if you do not have full access to the /usr/local/bin path.

You can try with the `sudo az aks install-cli` and check if that helps. Alternatively, You can follow the below to install in a different location (download to a specified path) in the h

[2022-02-18 12:15] navba-MSFT commented on #15432
@manuvrat Apologies for the late reply. This is documented [here](https://docs.microsoft.com/en-gb/azure/cloud-shell/troubleshooting#user-permissions) if you do not have full access to the /usr/local/bin path.

You can try with the sudo az aks install-cli and check if that helps. Alternatively, You can follow the below to install in a different location (download to a specified path) in the home f

[2022-02-18 12:46] umbeb opened #21357 "Error on az login: RuntimeError: 0. The ID token is not yet valid."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-02-18 12:58] nc-ruth commented on #20858
@evelyn-ys is there any update on this?

[2022-02-18 13:07] navba-MSFT commented on #19250
@elissonalvesilva Apologies for the late reply. This is documented [here](https://docs.microsoft.com/en-gb/azure/cloud-shell/troubleshooting#user-permissions) if you do not have full access to the /usr/local/bin path.

You can try with the sudo az aks install-cli and check if that helps. Alternatively, You can follow the below to install in a different location (download to a specified path) in th

[2022-02-18 13:35] 5dive commented on #21330
similar ticket: https://github.com/Azure/azure-cli/issues/18167 .  seems quite an old behavior.

[2022-02-18 13:36] yonzhan commented on #20858
@nc-ruth Did you try out the above solution?

[2022-02-18 13:36] yonzhan commented on #21357
@jiasli for awareness

[2022-02-18 13:38] navba-MSFT commented on #19248
@blackbaud-james-williams Apologies for the late reply. Could you please let me know if you are still facing the issue ? Awaiting your reply.

[2022-02-18 14:51] steinaw commented on #21038
In addition to outputting the the error, is it also possible to output a message based on incorrect IAM permissions.  If a user does not have login permissions (e.g. virtual machine user login), even using the -v option the only hint we get is a connection closed response.  Can the cli check for permissions to the resource before attempting and provide a access denied message?

[2022-02-18 15:08] Adulis opened #21358 "Found multiple accounts with the same username."
$ az deployment group validate --template-file main.bicep
Found multiple accounts with the same username. Please report to us via
 Github: https://github.com/Azure/azure-cli/issues/new

No other info was given.

[2022-02-18 15:14] ravkash commented on #15765
thanks for addressing this quickly!

[2022-02-18 16:41] Aminadad27 opened #21360 "​  ​[​certTypes​.​relationalDatabasesV8​]​: ​'Relational Databases'"
https://github.com/daniellee/freeCodeCamp/blob/main/config/certification-settings.ts#L159

[2022-02-18 16:43] Aminadad27 commented on #21360
@Aminadad27 _s_

[2022-02-18 16:44] #15478 closed

[2022-02-18 18:15] italukder commented on #20848
Subject : global cyber crime protocol trust bord organization

[2022-02-18 18:18] italukder commented on #20848
Subject : global capital protocol

leader Donal trumb us past time present

[2022-02-18 18:42] italukder commented on #20848
Subject: All my protocols can not do any  harm to any party and protocol. https,  http/2 and http/3 nothing
 will work there will be rest

Thank you

[2022-02-18 18:50] SaurabhSharma-MSFT commented on #9696
@sagarlankala Thanks for the information.

[2022-02-18 19:39] seansund opened #21361 "Allow non-interactive install of az cli using script"
**Is your feature request related to a problem? Please describe.**
I'm trying to install the az cli using the script approach (`curl -L https://aka.ms/InstallAzureCli | bash`) in an automated fashion. Unfortunately, the script prompts for a number of directories with no apparent way to provide those values via command line arguments or environment variables so the script can't run headless.

**Des

[2022-02-18 20:09] christiankuhtz commented on #21352
This is not unique to the bicep command. I’ve seen it all over the place. Needs hygiene.
________________________________
From: yonzhan ***@***.***>
Sent: Thursday, February 17, 2022 11:50:26 PM
To: Azure/azure-cli ***@***.***>
Cc: Christian Kuhtz ***@***.***>; Author ***@***.***>
Subject: Re: [Azure/azure-cli] I never want to see this error again: the following arguments are required: _subcommand

[2022-02-18 23:44] shayco-tr commented on #21341
Don't work...  also I don't get any error

[2022-02-18 23:45] neanderson commented on #21224
Cloud Shell is showing the 2.33.1 update now.

`@Azure:~$ az --version
azure-cli                         2.33.1`

[2022-02-19 00:42] SaurabhSharma-MSFT commented on #10720
@ArgTang Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-19 00:43] SaurabhSharma-MSFT commented on #14051
@ahmedelnably, @fabiocav Do you have any updates to share.

[2022-02-19 00:47] SaurabhSharma-MSFT commented on #10841
@jiasli Do you have any updates on this issue to share.

[2022-02-19 00:53] SaurabhSharma-MSFT commented on #10944
@irwinwilliams Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-19 00:54] SaurabhSharma-MSFT commented on #11103
@bijithlal09 Apologies for the delayed response. This GitHub issue has been open for quite some time. Could you please let us know if you still facing this issue and need assistance? Awaiting your reply.

[2022-02-19 01:00] yonzhan commented on #21360
Not related to Azure CLI

[2022-02-19 01:00] #21360 closed

[2022-02-19 01:03] yonzhan commented on #21358
ARM

[2022-02-19 03:08] roalexan opened #21363 "online deployment failed - cannot import name 'json' from 'itsdangerous'"
I'm consistently getting an error when deploying my online endpoint. I can reproduce it using both the cli and arm templates. For example: az ml online-deployment create -f 41_deploy_pretrained.yml -e ${ENDPOINT_NAME} --set environment=${environment} --all-traffic. The error is shown in the [deployment logs](https://ml.azure.com/endpoints/realtime/rba4cli-geoloc-aml-endpoint/logs?wsid=/subscriptio

[2022-02-19 04:38] yonzhan commented on #21363
route to CXP team

[2022-02-19 04:39] dilip814 commented on #21269
Hello,

Apologies, I missed to respond. Thanks for follow up. Yes, I am able to ssh VM using bastion but problem is it is only allowing to do only one connection to VM.

Thanks,
Dilip Patel

From: navba-MSFT ***@***.***>
Reply-To: Azure/azure-cli ***@***.***>
Date: Friday, 18 February 2022 at 12:07 PM
To: Azure/azure-cli ***@***.***>
Cc: Dilip Patel ***@***.***>, Mention ***@***.***>
Subject: Re:

[2022-02-19 05:40] vsha041 commented on #20596
Hi @panchagnula - ok thanks, that's fine. Just reply here when you have found out whether it's seconds or milliseconds for these 3 commands.
az webapp deployment source config-zip .......
az functionapp deployment source config-zip .......
az webapp deploy .......

[2022-02-19 06:21] ghost opened #21364 "how to rectify it"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault set-policy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault set-policy --secret-permissions {} {} --name {} --obj

[2022-02-19 07:58] PhaniChiruvolu commented on #19205
I don't have the repro setup anymore.

[2022-02-19 07:58] #19205 closed

[2022-02-19 08:16] #13242 closed

[2022-02-19 09:20] MahalingamEaswarasamy opened #21365 "Error pops while az login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-02-19 09:54] badsyntax commented on #7368
@jiasli confirming

I've confirmed these instructions work on Ubuntu arm64 in a [qemu virtual machine](https://mac.getutm.app/) on a Mac Mini M1

[2022-02-19 10:24] zhoxing-ms commented on #20420
@sriramvu Yes, `expiration`  is not mandatory, I also mean that it only indicates deprecated information, but does not specify the target date and version

[2022-02-19 10:28] zhoxing-ms commented on #21358
Could you please provide specific information and debug logs to me by email? My email address is Zhou.Xing@microsoft.com

[2022-02-19 11:28] pradeep-upadhyay opened #21366 "List the subscription for any azure resource(vm,aks,subnet.. etc) using az cli"
I tried the _az resource list --name <aks-cluster-name>._
To get the details of the aks-cluster. but it returned empty.

Is there any other way to search for this? I want to find the subscription/subscriptionID and Resource-group for a particular aks-cluster-name.
 As pre-steps, I have just logged in to my Azure tenant, from which I can access all other subscriptions
I get the below output.
[code]

[2022-02-19 13:36] yonzhan commented on #21364
keyvault

[2022-02-19 13:38] yonzhan commented on #21365
@jiasli for awareness

[2022-02-19 13:41] yonzhan commented on #21366
ARM

[2022-02-19 13:50] pradeep-upadhyay commented on #21366
I tried the below
[prupadhy001@myvm002~/aks_script]$ az resource list --resource-type=Microsoft.ContainerService/managedClusters/privateLinkResources
[]

Still, the answer is nothing. Is az resource list not capable to run for the above tag?

[2022-02-19 14:00] Adulis commented on #21358
Hi,
Thanks for reaching out but that is all I have to give.
Az login after the sandbox was created may have solved the problem.
I don't have the problem anymore.

Regards

From: Xing Zhou ***@***.***>
Sent: Saturday, February 19, 2022 11:29
To: Azure/azure-cli ***@***.***>
Cc: Adulis ***@***.***>; Author ***@***.***>
Subject: Re: [Azure/azure-cli] Found multiple accounts with the same username. (I

[2022-02-19 14:44] #21358 closed

[2022-02-19 18:23] sriramvu commented on #20420
@zhoxing-ms: as the permission gap takes more time to bridge - we would like to defer the deprecation plan for now and to proceed with the upgrading alias commands with the latest.

[2022-02-20 00:55] #17420 closed

[2022-02-20 05:18] rayluo commented on #21201
Indeed. While the integration is currently designed to be as simple as bumping MSAL, the implication is serious.

There will be a new broker (WAM) layer operates beneath MSAL Python. Each layer has its own cache mechanism.

Based on your description, it sounds like Azure CLI simply deletes MSAL's token file without using [MSAL's `remove_account()` API](https://msal-python.readthedocs.io/en/latest/

[2022-02-20 08:00] #20339 closed

[2022-02-20 12:38] ArgTang commented on #10720
@SaurabhSharma-MSFT
Yes this is still an issue we run into regurarly. my understanding is that this ties into the azcli graph migration, do you have any eta on that one?

[2022-02-20 14:01] zhoxing-ms commented on #20420
@sriramvu May I ask what is the permission gap you mean?

[2022-02-20 15:03] alexjmoore commented on #9236
Unfortunately I no longer worth with Azure and do not have a subscription available, however this should be super easy to reproduce, just follow the instructions given and evaluate if the error provided is meaningful or not.  Thanks!

[2022-02-20 15:04] alexjmoore commented on #8544
Unfortunately I no longer worth with Azure (I raised this some years ago), however it should be very easy to validate with someone who has a BGP based configuration to understand if it is correctly returning the right values.

[2022-02-20 20:22] italukder commented on #20848
Subject : global whatsapp business protocol

[2022-02-20 20:23] italukder commented on #20848
Subject : global third party Yahoo business protocol

[2022-02-20 20:24] italukder commented on #20848
Subject : global third party bitcon business protocol

[2022-02-20 20:28] italukder commented on #20848
Subject : global third party  cloudflare business protocol

[2022-02-20 20:30] italukder commented on #20848
Subject : global third party alibaba business  protocol

[2022-02-21 01:56] zhoxing-ms commented on #21366
[]

@pradeep-upadhyay Could you send me the debug log after the command is executed and tell me the information of the resource you want to query? My email address is Zhou.Xing@microsoft.com

[]

Please note that the format of `--resource-type` parameter is `namespace/type`, so the parameter input here should be `Microsoft.ContainerService/managedClusters`.

In addition, you can also try to use `-

[2022-02-21 02:08] zhoxing-ms commented on #21224
![Screenshot 2022-02-21 100344](https://user-images.githubusercontent.com/16612065/154877447-27dfe2ea-e393-4941-9877-68a148c53bc7.png)

[2022-02-21 02:08] #21224 closed

[2022-02-21 03:43] pradeep-upadhyay commented on #21366
[prupadhy01@myvm001 ~/aks_script]$ az resource list --name aks-cluster-name-01

Does this above command works only for the set subscription only. and not across all the subscriptions in a tenant

[2022-02-21 03:58] evelyn-ys commented on #21341
@shayco-tr After #21350 get merged and released, this should be fixed.
Do you mean that you tested with the modified code and it doesn't work?

[2022-02-21 04:10] evelyn-ys commented on #21364
From the error msg:
[code]
You are trying `az keyvault set-policy --name hi --secret-permissions {} --object-id {}`, right?

Do you really have a vault named `hi`? Please use existing keyvault name for `--name` parameter.

[2022-02-21 04:47] navba-MSFT commented on #21269
@dilip814 Thanks for getting back. Each instance can support 10 concurrent RDP connections and 50 concurrent SSH connections. The number of connections per instances depends on what actions you are taking when connected to the client VM. For example, if you are doing something data intensive, it creates a larger load for the instance to process. Once the concurrent sessions are exceeded, an additi

[2022-02-21 05:47] navba-MSFT commented on #21363
@roalexan Apologies for the late reply. Could you please test the deployment again and let me know if you are still facing the issue ? Awaiting your reply.

[2022-02-21 05:51] zhoxing-ms commented on #21366
@pradeep-upadhyay Yes

[2022-02-21 06:09] jafishjafish commented on #21364
Then how to find keyvault ?

On Mon, 21 Feb 2022, 9:40 am Yishi Wang, ***@***.***> wrote:

[2022-02-21 06:11] spacedragon commented on #21363
@roalexan Could you please update the `azureml-defaults` to version 1.38.0? This should fix your problem.

[code]

[2022-02-21 06:29] jiasli commented on #10720
Same as https://github.com/Azure/azure-cli/issues/20561

[2022-02-21 06:29] #10720 closed

[2022-02-21 07:02] alexxiongxiong opened #21367 "example should be corrected"
Please correct the example part https://docs.microsoft.com/en-us/cli/azure/vmss/run-command?view=azure-cli-latest#az-vmss-run-command-invoke-examples

No need " \ " in it
![image](https://user-images.githubusercontent.com/87124423/154904909-08216807-17ee-4a85-8583-00f78390019c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2022-02-21 08:24] navba-MSFT commented on #21239
@pwillia6 Thanks for getting back. SMS messages can be sent to and received from United States phone numbers. Phone numbers located in other geographies are not yet supported by Communication Services SMS. see [this](https://docs.microsoft.com/en-us/azure/communication-services/quickstarts/sms/send?pivots=programming-language-csharp). Did you try sending SMS to United States phone number and check

[2022-02-21 08:29] yonzhan commented on #21367
Compute

[2022-02-21 08:32] m4tx commented on #21239
@navba-MSFT none, the issue happens even when I just exec `az communication sms send-sms --help`. I haven't tried sending messages to any specific phone numbers. My Communication Services resource Data Location is Europe, if that matters.

[2022-02-21 08:55] #18844 closed

[2022-02-21 09:04] navba-MSFT commented on #21239
@m4tx I ran the same above command on my Windows box with AzCLI 2.33.1 and it worked just fine. Could you please test it using the Azure Cloud Shell by clicking on the [Try It option here](https://docs.microsoft.com/en-us/cli/azure/communication/sms?view=azure-cli-latest#code-try-1) and test if you are facing the same issue ? Awaiting your reply.

[2022-02-21 09:11] navba-MSFT commented on #21344
@CoffeeExpress I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-21 09:11] navba-MSFT commented on #21325
@mirakelsvampen I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-21 09:14] #19673 closed

[2022-02-21 09:40] navba-MSFT commented on #15059
@maheshsabnis Apologies for the late reply. This is documented [here](https://docs.microsoft.com/en-gb/azure/cloud-shell/troubleshooting#user-permissions) as you do not have full access to the cloud shell environment. So you can follow the below steps:

To install in cloud shell you can use the `--install-location` and download to a specified path in the home folder, for example:

Please ensure th

[2022-02-21 10:00] 711712 opened #21372 "Perivication"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeedb9a7-2aed-6727-4cfb-1515809d676e
* Version Independent ID: 2c83180d-22ad-db42-e2eb-f27f11977963
* Content: [az](https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest)
* Content Source: [latest/docs-ref-autogen/reference-

[2022-02-21 10:18] navba-MSFT commented on #19170
@tocy1 Apologies for the late reply. Could you please let me know if you are still facing the same issue with [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-macos) of the Azure CLI ? This issue is open for quite sometime. Please let me know if you need any further assistance on this. Awaiting your reply.

[2022-02-21 10:27] navba-MSFT commented on #19268
@mcarter106 Apologies for the late reply. Apologies for the late reply. Is there a proxy in your environment ? Could you please try to run the command on another machine which is on a different network and check if that works fine ? If this is not feasible, you can append your corporate proxy certificate(s) to the end of the certifi library's cacert.pem file. Sharing the location of this on Window

[2022-02-21 10:36] navba-MSFT commented on #19362
@gerhardatball Apologies for the late reply. Could you please refer [this](https://github.com/Azure/azure-cli/issues/19365#issuecomment-906909821) comment ? Also do let me know if you need any further assistance on this. Awaiting your reply.

[2022-02-21 11:14] navba-MSFT commented on #19419
@derhoppe Apologies for the late reply. The similar issue was discussed [here](https://github.com/Azure/azure-cli/issues/19476) and refer the comment https://github.com/Azure/azure-cli/issues/19476#issuecomment-918187237. Please let me know if you have any queries or concerns. Awaiting your reply.

[2022-02-21 11:25] navba-MSFT commented on #19479
@karthikgouni Apologies for the late reply. Could you please use the `--install-location` parameter and try giving a different path and check if the installation works fine ? Refer [this](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-install-cli) for more details.

Path at which to install kubectl.
default value: ~/.azure-kubectl/kubectl.exe

Awaiting your reply.

[2022-02-21 11:34] #21372 closed

[2022-02-21 11:39] navba-MSFT commented on #19612
@michaelfouad Apologies for the late reply. You can check under the user profile for file ~/.kube/config for the existing kubeconfig file. You can try to rename or delete the file and then run the command az aks get-credentials and check if that helps.

Alternatively you can pass the --file or --overwrite-existing parameter and run the command again. More Info [here](https://docs.microsoft.com/en-

[2022-02-21 11:42] navba-MSFT commented on #20468
@Kannadasans Apologies for the late reply. Did you get a chance to follow the action plan mentioned in the above comment ? This issue is open for quite sometime. Please let me know if you need any further assistance on this. Awaiting your reply.

[2022-02-21 11:51] navba-MSFT commented on #19794
@istarbuxs Apologies for the late reply. Could you please let me know if you are still facing this issue with [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli) of AzCLI ? Awaiting your reply.

[2022-02-21 11:52] shandesa opened #21374 "az"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-02-21 12:17] SeniorTigr commented on #12461
I had similar error when trying to attach existing LB. It looked like this:
_{"error":{"code":"InvalidTemplate","message":"Deployment template validation failed: 'The template resource '/subscriptions/<subscription_id>/resourceGroups/net-rg/providers/Microsoft.Network/loadBalancers/**elk-lb**' for type 'Microsoft.Network/**loadBalancers**' at line '1' and column '243' has incorrect segment lengths

[2022-02-21 13:02] Kannadasans commented on #20468
Please close this ticket

On Mon, 21 Feb 2022 at 11:42, navba-MSFT ***@***.***> wrote:

This message may contain confidential information. If you are not the intended recipient please notify the sender immediately, delete and destroy all copies. Any unauthorised dissemination of this message is not permitted. WorldRemit Ltd is a limited company registered in England and Wales (registration number:

[2022-02-21 13:03] robotNo201 commented on #21363
I have the same problem as well, I try the solution above, but it doesn't work. I tried deploying my model before with a different yml file and it works, but I deleted some dependencies in yml file yesterday for a nice looking, and I got this error now.

[2022-02-21 13:22] #20468 closed

[2022-02-21 13:23] yonzhan commented on #21374
@jiasli for awareness

[2022-02-21 13:29] surajssd commented on #8305
This is still an issue for me, any idea on what's going on with this issue?

[2022-02-21 13:53] lakshay0302 opened #21375 "Azure Login Error | Can't access this resource right now | Sign-in successful"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --use-device-code`

## Expected Behavior

## Environment Summary
[code

[2022-02-21 13:59] mbulik commented on #20370
I get the same error on Linux (using the 2.33.1 version installed from the official repository https://packages.microsoft.com/repos/azure-cli)

[2022-02-21 14:07] Saglodha commented on #15132
Hi @cscoon, thank you for bringing this to our attention.

We would triage internally and keep you posted.

[2022-02-21 14:37] Saglodha commented on #12369
Hi Team,

Sincere apologies for the delay in response here.

We will triage internally and get back to you with an update soon.

[2022-02-21 14:38] Saglodha commented on #14581
Hi Team,

Apologies for the delay here. We have been looking into it and would get back with an update soon.

[2022-02-21 14:56] italukder commented on #20848
Subject :  global  saudi Arabia Prince family business protocol

[2022-02-21 15:08] atkachuk-corgi commented on #20011
Doesn't work on the latest version
[code]
[code]

[2022-02-21 15:19] #19362 closed

[2022-02-21 15:41] italukder commented on #20848
Subject : global relationship and married trust bord organization

[2022-02-21 17:50] italukder commented on #20848
Subject : global kholifa protocol in soudi Arabia

[2022-02-21 19:26] roalexan commented on #21363
out for afternoon - will test when back this evening.

[2022-02-21 19:48] mgrabarz commented on #9080
After 3 years, number of cli releases and aks part being ga'ed I don't think this issue is still there.

If you believe it requires investigation, please do it - you have repro steps. If you read it carefully you would notice that issue isn't about my user permissions.

[2022-02-21 19:57] mgrabarz commented on #9080
Please close this issue, i don't think it is still there.

[2022-02-21 19:59] mgrabarz commented on #9080
Please note, that issue was about incorrect cli parameter handling (--azure-user) not permissions :)

[2022-02-21 22:01] majorsmann opened #21376 "login with --service-principal results in following error:"
###  Certificate was provided in .cer then converted to .pem using openssl and java keytool and results into following error.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive informati

[2022-02-21 22:55] mossywell commented on #20826
Thank you

[2022-02-21 23:08] roalexan commented on #21363
operation.log - [link here](https://saawndn6jj7h224.blob.core.windows.net/azureml/ImageLogs/67b06879-67ee-4e72-9058-01116a8d59f4/build.log?sv=2019-07-07&sr=b&sig=SAIFNYXQlq5E4xdJMIQKXV1zFxw3lIprsh3yYS1oPj4%3D&st=2022-02-21T22%3A54%3A13Z&se=2022-02-22T06%3A59%3A13Z&sp=r) - shows a pip error:

...
Pip subprocess error:
ERROR: Cannot install -r /azureml-environment-setup/condaenv.oi9s838c.requirement

[2022-02-21 23:09] roalexan commented on #21363
maybe 'azureml-sdk[notebooks,contrib]==1.32.0' needs to be increased to 1.38.0? I'm going to try that.

[2022-02-21 23:36] roalexan commented on #21363
think that got further, but now see [this error](https://ml.azure.com/endpoints/realtime/geoloc-endpoint-mnxytizjamx3a/logs?wsid=/subscriptions/9086b59a-02d7-4687-b3fd-e39fa5e0fd9b/resourcegroups/rbaenergykm92rg/workspaces/amlworkspace-mnxytizjamx3a&tid=72f988bf-86f1-41af-91ab-2d7cd011db47&deploymentName=geoloc-deploy-mnxytizjamx3a):

...
    main_module_spec.loader.exec_module(main)
  File "/var/

[2022-02-21 23:45] scheung38 commented on #17027
Hi @jeroenvervaeke is this solution also applicable for Mac OSX?

az extension add --name db-up

az_command_data_logger: exit code: 1
cli.__main__: Command ran in 30.720 seconds (init: 0.173, invoke: 30.547)
telemetry.save: Save telemetry record of length 3232 in cache
telemetry.check: Negative: The $HOME/.azure/telemetry.txt was modified at 2022-02-21 23:39:40.243934, which in less than 600.00000

[2022-02-22 00:01] jeroenvervaeke commented on #17027
@scheung38 you should run the command `az extension add --name db-up` in the docker image I was talking about.
If you run azure-cli in docker it shouldn't make a difference which platform you use.

This is step by step how you can use my workaround:

1. Create a new directory where you will save the docker image
2. Create a file named `Dockerfile`, paste the following into it:
[code]
3. Open a ter

[2022-02-22 00:07] yonzhan commented on #21375
@jiasli for awareness

[2022-02-22 00:10] yonzhan commented on #21376
@jiasli for awareness

[2022-02-22 00:49] lsnliu opened #21377 "trying to import iterator from collections with python 3.10 for az ml"
**Describe the bug**
Get the following error when trying to submit a training script to the remote computer cluster via az ml

cannot import name 'Iterator' from 'collections' (/usr/local/Cellar/python@3.10/3.10.2/Frameworks/Python.framework/Versions/3.10/lib/python3.10/collections/__init__.py)

![image](https://user-images.githubusercontent.com/2326746/155043598-de2bbf3f-0e4f-41e4-aed4-61a32449e1

[2022-02-22 00:55] SatishBoddu-MSFT commented on #21327
Hello @kayasax Thanks for the info!
Yes, I too see this behavior, let me check further on this!

[2022-02-22 01:33] yonzhan commented on #21377
route to CXP team

[2022-02-22 02:54] navba-MSFT commented on #21239
@m4tx Thanks for the update.

@pwillia6 Since you are using the AzCLI on macOS (x86_64) installed via homebrew, Could you also test with Azure Cloud shell [TryIt option ](https://docs.microsoft.com/en-us/cli/azure/communication/sms?view=azure-cli-latest#code-try-1)instead ?

[2022-02-22 03:20] navba-MSFT commented on #9080
@mgrabarz Thanks for your reply. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-22 03:20] #9080 closed

[2022-02-22 03:48] navba-MSFT commented on #21363
@roalexan Thanks for getting back and sharing the error details. The workspace link you had shared is not accessible to me due to permission issue. Moreover the error message is from your script due to the missing _Pandas_ module.
There are similar issues reported for the same. You can share [this](https://docs.microsoft.com/en-us/answers/questions/55489/modulenotfounderror-no-module-named-39panda

[2022-02-22 04:17] navba-MSFT commented on #21377
@lsnliu Thanks for reaching out to us. This issue seems to be related to #20348. Could you please refer this github thread and check if that helps ? Awaiting your reply.

[2022-02-22 05:24] sergey-ivanchuk commented on #21363
I'm dealing with the same situation myself. Any formal feedback & position from Microsoft would be great here.

So far I've been downgrading to `itsdangerous==2.0.1` to resolve the new bug. The [release notes](https://itsdangerous.palletsprojects.com/en/2.1.x/changes/)  for `2.1.0` seem pretty minor, and don't seem to meaningfully modify the core package. However the tweak around importing JSON is

[2022-02-22 05:27] PramodValavala-MSFT commented on #21250
@Ashakya1511 According to the [products available by region page](https://azure.microsoft.com/en-us/global-infrastructure/services/?regions=all&products=ddos-protection), looks like DDoS Protection isn't available in the China Region.

![image](https://user-images.githubusercontent.com/43602528/155068673-9acca3fa-ebe2-4ad9-9a50-89d5da11cf03.png)

[2022-02-22 07:30] shayco-tr commented on #21341
@evelyn-ys  I found the comand to do it.
Let me share the comand -
az resource update --set tags.test=test -g test-rg -n test --resource-type "Microsoft.KeyVault/vaults"

[2022-02-22 07:48] lsnliu commented on #21377
I installed azure cli with pip from python 3.9 and it works.  I have a work around.  This ticket is just to let you know that this bug requires attention
________________________________
From: navba-MSFT ***@***.***>
Sent: Tuesday, 22 February 2022 3:17 PM
To: Azure/azure-cli ***@***.***>
Cc: lsnliu ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] trying to import iterator from co

[2022-02-22 07:50] navba-MSFT commented on #19681
@kmathewmk Apologies for the late reply. Thanks for the feedback. We have created the above PR for the same and it is pending on review. In the meantime, if you have any questions, please feel free to ask.

[2022-02-22 07:56] navba-MSFT commented on #19723
@CoRlfKrl Apologies for the late reply. I wasn't able to replicate this issue in my box. I am using version Az CLI 2.33.1.
Could you please let me know if you are still seeing this issue with the [recent version of the CLI ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli)? Also this issue is open for quite sometime. Please do let me know if you still need assis

[2022-02-22 08:21] navba-MSFT commented on #19733
@rafagsiqueira Apologies for the late reply. Please find below the below commands which you can execute using the most [recent version of Az CLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and let me know if the issue occurs.

Update the cluster to use system assigned managed identity in control plane.

Update the cluster to use user assigned managed identity in control plane.

[2022-02-22 08:41] #21341 closed

[2022-02-22 08:45] navba-MSFT commented on #19779
@geekifier Apologies for the late reply. Thanks for the feedback. The above PR has been created to address this. In the meantime, if you have any questions, please feel free to ask.

[2022-02-22 08:55] RavivBenami opened #21382 "Cant get all the available ips in a subnet"
**Describe the bug**

I want to get all the available ips in all the subnets in a vnet.

What I've did is to get all the subnets ids by
$subnetIds = az network vnet subnet list -g test --vnet-name test --query [].{id:id} -o tsv
and save them into a var called subnetIds.
Then I used
az network vnet list-available-ips --ids $subnetIds
and the print was

[
  {
    ip1,
    ip2,
    ip3
   }
  {
    i

[2022-02-22 09:21] navba-MSFT commented on #20734
@wasker Apologies for the late reply. Thanks for sharing the feedback. We are looking into this ask and we will update this thread once we have more details.

@Azure/aks-pm Could you please look into this issue once you get a chance ? Awaiting your reply.

[2022-02-22 09:29] navba-MSFT commented on #21377
@lsnliu Thanks for getting back and providing the feedback. Could you please share the `--debug` output while running the above command ? You can remove the sensitive information from the output before sharing. Awaiting your reply.

[2022-02-22 10:00] navba-MSFT commented on #19902
@lorenzo-biava Apologies for the late reply. The parameter `--max-surge ` is for the Extra nodes used to speed upgrade. AKS accepts both integer values and a percentage value for max surge. An integer such as "5" indicates five extra nodes to surge. A value of "50%" indicates a surge value of half the current node count in the pool. For production node pools, we recommend a max_surge setting of 33

[2022-02-22 10:32] lorenzo-biava commented on #19902
@navba-MSFT Thanks for the explanation. However the gist of the issue is that you have such flag available in the `az aks nodepool upgrade` command, but it's not doing anything. You need to issue the `update` command first, and then run the `upgrade`.

My ask would be to fix the `upgrade` command to *actually* use the flag.

[2022-02-22 10:36] navba-MSFT commented on #19902
@lorenzo-biava thanks for getting back. We will update this thread once we have more details on this.

@Azure/aks-pm Could you please look into this issue once you get a chance ?

[2022-02-22 11:09] mohakhlf opened #21384 "issue to connect to az via terraform"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account show -o={} -s {}`

## Expected Behavior

## Environment Summa

[2022-02-22 11:35] navba-MSFT commented on #19752
@zaidmohd I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-22 11:36] navba-MSFT commented on #20554
@ckt-github I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-22 11:56] gulycka commented on #20370
I hit the same issue via shell.azure.com (Bash version), issue is only when running command against certain subscriptions.

[2022-02-22 12:25] yonzhan commented on #21384
@jiasli for awareness

[2022-02-22 12:27] yonzhan commented on #21382
network

[2022-02-22 12:43] chris-hibberd opened #21386 "az cdn endpoint rule add does not parse match-values correctly"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cdn endpoint rule add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create a CDN profile and endpoint. I am using Premium Verizon.
- `az cdn endpoint rule add -g {} -n {} -

[2022-02-22 12:48] fgheysels commented on #15188
I'm running into the same problem: I want to create a role assignment via a yaml pipeline.
When creating the role assignment, or querying for the id of the principal using `az ad sp show --id thename`  I get this error, although the pipeline has just created a resource (Azure Function) with the name 'thename'.

[2022-02-22 14:07] janvanuytrecht commented on #20653
How can this be done if the issue occurs on a Microsoft hosted agent in Azure DevOps?

[2022-02-22 14:15] tobys-playground opened #21387 "Cannot deploy Azure Machine Learning online endpoint using Cli"
I was trying to create an endpoint and deployment in Cloud Shell and Azure Pipelines using the commands from this documentation

https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-mlflow-models-online-endpoints?tabs=endpoint%2Cstudio

My commands are :
`
az ml online-endpoint create  --resource-group $(databricks.resourcegroup) --workspace-name $(databricks.workspace.name) --fil

[2022-02-22 14:33] alexhudson opened #21388 "az functionapp deployment source config-zip fails in obscure way when Code Function runtime mismatched"
**Describe the bug**

When deploying a new code function written in python and built as a local Zip, I could not convince az-cli to deploy it:

[code]

None of the log options suggested helped, and there was no useful output. However, when I then went to deploy directly (without zip) I got something useful:

[code]

**Expected behavior**

It would be great to get that same error back somehow, or f

[2022-02-22 15:28] pragnagopa commented on #21157
We do not expect customers to set LinuxFxVersion with blessed image - combination of FUNCTIONS_EXTENSION_VERSION and `linuxFxVersion` - `runtime|version` - should work - for example - For V3 python 3.7 app

`FUNCTIONS_EXTENSION_VERSION` should be set to `~3`
`linuxFxVersion` should be set to `python|3.7`

[2022-02-22 16:05] dhoeltgen commented on #20947
I get the same result with either
`az extension add -n azure-cli-ml --debug` or
`az extension add -n ml -y --debug `
Please reopen this issue

[2022-02-22 17:11] sriramvu commented on #20420
@zhoxing-ms: here is bit more details:

CLI command 'az account create':
* user needs permission on enrollmentAccounts/{enrollmentAccountObjectId}
* public doc: https://docs.microsoft.com/en-us/azure/cost-management-billing/manage/programmatically-create-subscription-preview?tabs=rest#create-subscriptions-under-a-specific-enrollment-account

CLI command 'az account alias create':
* user needs perm

[2022-02-22 17:20] adrianhall commented on #19277
This is "by design".  There are several fields in the OpenAPI specification that cannot be updated unless you are changing the current API revision.  For details, please see https://docs.microsoft.com/en-us/azure/api-management/edit-api#update-the-swagger

#please-close

[2022-02-22 17:23] #19277 closed

[2022-02-22 17:25] olsenme commented on #21003
@mkemmerz  is it just this addon that takes alot of time to disable/enable, or have you experienced the same with other addons?

[2022-02-22 17:25] adrianhall commented on #20826
Thanks for the report.  I've included this in our backlog so that a fix will be available in the next APIM release of the CLI.  I'll update when then release happens.

[2022-02-22 17:43] panchagnula commented on #20011
yes known issue on our end - we are working on getting the fix out with the upcoming deployment.

[2022-02-22 17:49] italukder commented on #20848
Subject : global UAE protocol

 Leader  United Arob Emirates Dubai

[2022-02-22 17:57] mossywell commented on #20826
Excellent - thanks for the update.

[2022-02-22 17:57] adrianhall commented on #19791
Hello,

We are currently working on that specific release!  The next release will be GA, not experimental.

#please-close

[2022-02-22 18:03] EverAzureRest opened #21389 "In az-cli WSL using --install-location to a writable directory, kubelogin still attempts to install to /usr/local/bin/kubelogin"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli --install-location {/path/to/writable/dir}`

## Ex

[2022-02-22 18:06] EverAzureRest commented on #21389
Oops just inspected the CLI, there is another switch parameter.  Closing

[2022-02-22 18:06] #21389 closed

[2022-02-22 18:26] #20686 closed

[2022-02-22 18:26] #20729 closed

[2022-02-22 18:50] migdaepp commented on #21387
Az ml and azi-cli-ml https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-cli is a conflicting extension -- see [this doc](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-cli ) to troubleshoot

[2022-02-22 19:02] migdaepp opened #21390 "az ml : 'ml' is misspelled or not recognized by the system"
I'm trying to update a model that was deployed with az ml.
When I run any command starting with `az ml` (e.g. `az ml -h`) I now get the error:

cannot import name 'ARMChallengeAuthenticationPolicy'
'ml' is misspelled or not recognized by the system.

az extension add --name anextension
Add extension by name

List all publicly available extensions

I am using the following versions:
`az version`

[2022-02-22 19:25] panchagnula commented on #21319
@rachelxj-ms is this behavior similar (minInstances not getting updated) in portal as well? because if so this is not CLI specific issue - & need to be looked at by the right owner.

[2022-02-22 19:58] MikeLam630 commented on #21363
Can someone explain how to downgrade to "itsdangerous==2.0.1"? I started using AzureML this week and can't even complete trainings. I've tried creating an environment and putting the value in a yaml file. I've also tried to do the CondaDependencies add_conda_package as well as add_pip_package. It still always fails and in the deployment logs I see the PIP Dependencies still show "itsdangerous=2.1.

[2022-02-22 20:13] Swimburger opened #21391 "Add `TwilioValidationUrl` to `az bot sms create` command"
The `az bot sms create` command has options to configure the Twilio Account SID, the Auth Token, and the phone number, but not the `TwilioValidationUrl` property.

Here's some information on the `TwilioValidationUrl` property: https://docs.microsoft.com/en-us/azure/bot-service/bot-service-channel-connect-twilio?view=azure-bot-service-4.0

---
#### Document Details

⚠ *Do not edit this section. It

[2022-02-22 20:17] Nilambari commented on #9236
I am from service team. Probably, somebody from CLI team can try reproducing the issue. We can help look into it if it reproduces and let us know the timestamp/subscription used. Thanks!

[2022-02-22 20:31] calvinsID commented on #20808
This looks to be fixed in the `add` command, just made PR for the `remove` command

[2022-02-22 20:52] simratsatia opened #21393 "az cli equivalent of Get-AzureRmVMExtension"
Aim: Get the output of the script provisioned using 'Custom Script Extension' using azure-cli

Approach: I came across the answer [here](https://stackoverflow.com/questions/38152873/how-can-i-get-the-output-of-a-customscriptextenstion-when-using-azure-resource-m) that uses "Get-AzureRmVMExtension" with "status" field

Question: What is the azure-cli equivalent of Get-AzureRmVMExtension that allows

[2022-02-22 20:57] Swimburger commented on #21391
Nvm, this is probably not necessary, I though this was the same as configuring the adaptor.

[2022-02-22 20:57] #21391 closed

[2022-02-22 21:05] dylanfprice commented on #21090
It works now! Thanks.

[2022-02-22 21:05] #21090 closed

[2022-02-22 21:09] rpsqrd opened #21394 "Support Azure Arc managed identity with az login --identity"
**Is your feature request related to a problem? Please describe.**
No, this is not related to a problem.

**Describe the solution you'd like**
Azure Arc provides the ability for on-premises and multicloud servers to get an AAD system assigned managed identity. It would be great if the `az login --identity` command were updated to also try to obtain a token from the [Azure Arc IMDS](https://docs.mi

[2022-02-22 22:14] roalexan commented on #21363
temporary conda env workaround I'm using (bolded line added):

                - pip:
                    - 'azureml-sdk[notebooks,contrib]==1.32.0'
                    - azureml-defaults==1.32.0
                    - spacy==3.0.4
                    - joblib==1.1.0
                    - **itsdangerous==2.0.1**

[2022-02-22 22:35] zandym commented on #21157
What about container-based function apps?

Running `az functionapp config set` with `--linux-fx-version 'DOCKER|<image>:<tag>'` immediately after `az functionapp create` was the only way we could successfully deploy.

[2022-02-22 22:55] pragnagopa commented on #21157
Yes, for custom containers - `az functionapp config set --linux-fx-version 'DOCKER|<image>:<tag>' is the right command.  Validation should be added in the backend to ensure docker image provided is valid - this will help all the tooling to rely on a single validation that is built into the Platform

[2022-02-22 23:04] yonzhan commented on #21388
route to CXP team

[2022-02-22 23:08] sirfamelin commented on #21180
@PARADISSEEKR, please ensure you are using the gen2 version of the images. Examples:
publisher: CANONICAL, SUSE
offer: UBUNTUSERVER, SLES-15-SP2
Sku: 18_04-gen2, 18_04-LTS-GEN2, 20_04-LTS-GEN2, GEN2

Is Windows going to be tested as well?

[2022-02-22 23:14] sirfamelin opened #21395 "Include Guest Attestation Extension and enable System Assigned MSI by default when Trusted Launch configuration is met"
**Is your feature request related to a problem? Please describe.**
Trusted Launch VMs (GA in Nov 2021) are Gen 2 VMs with new security guarantees. The north star is to have all Gen 2 VMs created in Azure be Trusted Launch VMs - greatly improving the security posture of Azure and customer workloads. One feature of Trusted Launch that we need help driving user adoption is to lower the bar of entry o

[2022-02-22 23:16] yonzhan commented on #21394
@jiasli for awareness

[2022-02-22 23:17] yonzhan commented on #21393
Compute

[2022-02-22 23:19] yonzhan commented on #21390
route to CXP team

[2022-02-22 23:20] pragnagopa commented on #21157
@FinVamp1 - let us know if you think validation should be built into App Services . We discuss more details offline.

[2022-02-22 23:20] yonzhan commented on #21387
route to CXP team

[2022-02-22 23:20] yonzhan commented on #21389
route to CXP team

[2022-02-22 23:48] michaelfouad commented on #19612
Thank you for your response.
I am unblocked now, it was kubeconfig file that was recreated.

[2022-02-22 23:48] #19612 closed

[2022-02-22 23:49] zandym commented on #21157
@pragnagopa  - Why do we have to run the `az functionapp config set` command though?
The `az functionapp create` with the `--deployment-container-image-name` argument has all the information it needs to set that config value behind the scenes.

Another thing... in our experience, this type of deployment using containers doesn't work on other registries besides ACR. We've tried both Gitlab and Arti

[2022-02-23 00:09] yonzhan commented on #21395
Compute

[2022-02-23 00:22] dainomat opened #21397 "when WAD installing the command succeed even though storageAccountSasToken is empty (in LAD, installation fail when storageAccountSasToken is empty)"
Hi experts,

When az vm diagnostics set running, WAD installation will succeed even though storageAccountSasToken is empty. However, in LAD installation, it will fail.

"storageAccountSasToken is empty" mean like this:
set="{'storageAccountName':'$sa', 'storageAccountSasToken':''}"
extension=$(az vm diagnostics set --settings "$defcon" --protected-settings "$set" --subscription $subscription --res

[2022-02-23 01:02] yonzhan commented on #21397
Compute

[2022-02-23 03:48] zhoxing-ms commented on #21393
@simratsatia Could you please try `az vm extension show`?

[2022-02-23 04:56] navba-MSFT commented on #21291
@samrueby I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-02-23 05:03] panchagnula opened #21401 "Update App Service / websites extension to the latest SDK (6.0.1)"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-02-23 05:04] navba-MSFT commented on #21363
This problem should be fixed already, could you please use the the latest version of python packages ?
The version of azureml-defaults package in your conda file should be `- azureml-defaults=1.38.0`
Also please make sure you are using a newly created environment instead of reusing the old before the fix. Also refer [this](https://github.com/Azure/azure-cli/issues/21363#issuecomment-1046508087). H

[2022-02-23 05:06] hayorov opened #21402 "Support for desktopvirtualization sessionhost"
**Is your feature request related to a problem? Please describe.**
az cli doesn't have Desktop Virtualization Session Hosts functionality.

**Describe the solution you'd like**
Support `desktopvirtualization sessionhost` cli command

**Describe alternatives you've considered**
N/A
**Additional context**
REST API Documentation https://docs.microsoft.com/en-us/rest/api/desktopvirtualization/session-

[2022-02-23 06:22] Ajay250496 commented on #11576
Sorry may be missing your workaround here. While you are importing the secret as a base64 encoded contents. It doesn't show up in azure as a cert so you will automatically have to download the base64 file and convert it back to pfx? Also does the 'content-type' : 'application/x-pkcs12' actually make any difference? I've set it and havent really noticed any difference.

Ofc your workaround may not

[2022-02-23 06:35] yonzhan commented on #21401
route to service team

[2022-02-23 06:39] yonzhan commented on #21402
route to CXP team

[2022-02-23 06:49] blueww opened #21404 "[StorageMover] public preview"
**Resource Provider**

Microsoft.StorageMover

**Description of Feature or Work Requested**

https://microsoft.sharepoint.com/:w:/r/teams/AzureStorageMigration/_layouts/15/Doc.aspx?sourcedoc=%7B34B68371-4359-4821-A644-2234678AE055%7D&file=Azure%20Data%20Mover%20Resource%20Provider%20Design%20and%20Use%20Cases.docx&action=default&mobileredirect=true&share=IQFxg7Y0WUMhSKZEIjRniuBVAQENHVNHc6Uznb-8w1e

[2022-02-23 06:54] wangzelin007 opened #21405 "[FunctionApp] Test auto-assign"
**Resource Provider**

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2022-02-23 06:55] #21405 closed

[2022-02-23 06:55] yonzhan commented on #21404
storage

[2022-02-23 06:56] suha-glal commented on #13855
I had the same issue but @[dempsey93](https://github.com/dempsey93) solution solved it.
Thanks you very much!

[2022-02-23 07:12] PramodValavala-MSFT commented on #21402
@hayorov Thanks for the feedback! We are routing this to the concerning team to address.

@yonzhan Looks like the `desktopvirtualization` module is under the `cli-extensions` repo. Can this issue be moved there? Thanks!

[2022-02-23 07:18] wangzelin007 opened #21406 "[App Service] Test auto assign"
**Resource Provider**

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2022-02-23 07:18] #21406 closed

[2022-02-23 07:55] simratsatia commented on #21393
# az vm extension show -g <rg-name> --vm-name rhel79-2 -n customScript
{
  "autoUpgradeMinorVersion": true,
  "enableAutomaticUpgrade": null,
  "forceUpdateTag": null,
  "id": "/subscriptions/18938738-9a46-4644-90d4-b899dee5c934/resourceGroups/ahbv3-cloudtest-testvms-rg/providers/Microsoft.Compute/virtualMachines/rhel79-2/extensions/customScript",
  "instanceView": null,
  "location": "eastus",

[2022-02-23 08:00] #20018 closed

[2022-02-23 08:11] #21180 closed

[2022-02-23 08:12] simratsatia commented on #21393
Attaching output of CustomScript Extension from Azure Portal:
![image](https://user-images.githubusercontent.com/28175383/155281835-cc188c69-0232-44fb-b200-024fc8a1608b.png)

I want to retrieve the stdout/stderr of the status message

[2022-02-23 08:47] navba-MSFT commented on #21388
@alexhudson Thanks for reaching out to us. I tried to run the same below command using the Function App [python sample](https://github.com/yokawasa/azure-functions-python-samples) and I was able to successfully deploy to function app.

I was using the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli) of Azure CLI in my box. Could you please

[2022-02-23 09:43] IvanLieckens commented on #20810
@navba-MSFT I'm unsure what happened because I replied to this ticket yet I don't see the message here. Regarding the suggestions:

1. I actually did this, I created a new subnet to assign to the monitoring (that's the reason I had `--subnet-name {}` in the command). This raised the same error and prompted me to create the issue.
2. Could you give some more detailed instructions around this? I'm d

[2022-02-23 09:51] zama202 commented on #13753
ok, It's solved. Thank you, you can close the ticket.

[2022-02-23 09:52] #13753 closed

[2022-02-23 10:11] Wwwsylvia commented on #19759
Hi @robin-wayve , thanks for the feedback.  `az acr login` internally calls `docker login`,  so this error was probably thrown by docker.
Can you compare the docker version on the machine where this issue happened and the another machine?

[2022-02-23 10:34] italukder commented on #20848
Subject : global all third party link rod only github and meta link close

[2022-02-23 11:50] doggy8088 opened #21409 "ERROR: 'charmap' codec can't encode characters in position 4790-4801: character maps to <undefined>"
**Describe the bug**

Recently, my script run into this problem. My az script is run on Azure Pipelines. Here is my PowerShell script on Windows Server 2019 agent:

[code]

Here is the error output:

[code]

For the following command, it works.

[code]

So the error only shows when running `az deployment sub what-if` command.

**To Reproduce**

**Expected behavior**

My script is running for more

[2022-02-23 12:25] yonzhan commented on #21409
ARM

[2022-02-23 12:26] fabnord commented on #15765
I know this issue has been closed, but I don't think the proposed change of concurrency is a solution rather than a workaround. Essentially `az config set core.disable_concurrent_ids=True` will result in Azure CLI sequentially attaching the disks and not attaching them in one single operation. Can we change the behaviour of Azure CLI to add all disks with **one** API call?

[2022-02-23 13:08] zhoxing-ms commented on #21393
@simratsatia Could you please show me the results of `Get-AzureRmVMExtension` and the debug log (I‘d like to see what the requested REST URL is) ? So I can know more about the effect you want

[2022-02-23 13:14] zhoxing-ms commented on #21409
@Shenglol Could you please help look at the issue related to `what-if`?

[2022-02-23 13:23] simratsatia commented on #21393
##OUTPUT USING Get-AzVMExtension

$output = Get-AzVMExtension -ResourceGroupName ahbv3-cloudtest-testvms-rg -VMName rhel79-2 -Name customScript -Status

PS C:\Users\sisatia> $output.Statuses.Message
Enable succeeded:
[stdout]
hello world

[stderr]

##Debug Output
HTTP Method:
GET

Absolute Uri:
https://management.azure.com/subscriptions/18938738-9a46-4644-90d4-b899dee5c934/resourceGroups/ahbv3-clo

[2022-02-23 13:27] simratsatia commented on #21393
So interestingly, I see the '--expand instanceView' doing the trick as follows:

az vm extension show -g ahbv3-cloudtest-testvms-rg --vm-name rhel79-2 -n customScript --expand instanceView

Argument 'expand' has been deprecated and will be removed in version '3.0.0'.
{
  "autoUpgradeMinorVersion": true,
  "enableAutomaticUpgrade": null,
  "forceUpdateTag": null,
  "id": "/subscriptions/18938738-9a

[2022-02-23 13:40] zhoxing-ms commented on #21397
such as storage account keys, etc.

Because the value passed in by parameter `--protected-settings` is flexible, the value types other than storage account keys can be passed in. And there is no processing logic for `--protected-settings` in CLI, `--protected-settings` is directly sent to the REST service. Therefore, the verification logic of the special attribute `storageAccountSasToken` is not s

[2022-02-23 14:39] sbonds commented on #15765
Yes, the provided solution documents a workaround but doesn't solve the underlying issue. It's not any different than running in a loop.

However, it's much harder to take the list of IDs and build a single REST call for them.

[2022-02-23 14:40] lastnod opened #21411 "az aks get-credentials API issus"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --name {} --resource-group {} --subscripti

[2022-02-23 14:42] yonzhan commented on #21411
aks

[2022-02-23 15:26] jreynolds0962 opened #21412 "failure on az ask install-cli MacOS"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2022-02-23 15:42] ravkash opened #21413 "CLI to attach multiple disks to a VM in one single operation"
**Is your feature request related to a problem? Please describe.**
az config set core.disable_concurrent_ids=True will result in Azure CLI sequentially attaching the disks and not attaching them in one single operation (related to https://github.com/Azure/azure-cli/issues/15765) which takes a long time

**Describe the solution you'd like**

change the behavior of Azure CLI to add all disks with on

[2022-02-23 15:46] italukder commented on #20848
Global government investigation and income tax... category

Subject : global government investigation  and income tax protocol USA government

Government Investigation and income tax Protocol
United state ot America

thank you

[2022-02-23 15:51] italukder commented on #20848
subject :( number two) government investigation and income tax protocol trust organization

European Union
thank you

[2022-02-23 16:32] pragnagopa commented on #21157
@zandym - Thanks for the details. I understand the issue better now.  Yes, `--deployment-container-image-name` command should set the `linuxFxVersion` and should not require user to run another command.

We will add validation if the image is valid or not on the platform.

For this - please open an issue on https://github.com/Azure/azure-functions-docker with details on the AppName / appx time ran

[2022-02-23 16:39] scarolan commented on #9696
You can close it out, thanks.

[2022-02-23 16:39] #9696 closed

[2022-02-23 16:52] samrueby commented on #21291
I'm sorry, I don't think I understand. This is `az`, so I'm using cmd, not PowerShell. I recognize you can run az in powershell, but I'm not a powershell expert. I tried to pipe the output to | Format-Table -Wrap -Autosize, but that didn't do anything because the default output is json, and it wouldn't make sense to do it to the output with -o table because the values are already truncated before

[2022-02-23 16:55] navba-MSFT commented on #21291
@samrueby Thanks for getting back. Did you check the feasibility of the second action plan mentioned in my above comment ?

[2022-02-23 16:57] jayqi opened #21414 "az storage blob sync's deletion behavior can lead to unexpected data loss"
**Is your feature request related to a problem? Please describe.**

Currently, the `az storage blob sync` command will delete blobs at the destination that are not present in the source. This is hardcoded into the command, with no documentation of its behavior or an option to change it. Additionally, this is inconsistent with the default behavior of other prominent tools for Azure as well as other

[2022-02-23 17:10] roalexan commented on #21363
Yes, I agree that updating from 1.32.0 to 1.38.0 fixes this particular problem, and perhaps you can close this bug.

Just please be aware that this approach, in my environment, introduces another error in that 'pandas' cannot be found. I can probably get that to work, but for now have opted to stick with 1.32.0 and add 'itsdangerous==2.0.1' until I have more time to fully figure this out.

[2022-02-23 17:11] asahoo1-humana opened #21415 "az login failing"
### **This is autogenerated. Please review and update as needed.**

HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /organizations/v2.0/.well-known/openid-configuration (Caused by SSLError(SSLError(136, '[X509: NO_CERTIFICATE_OR_CRL_FOUND] no certificate or crl found (_ssl.c:4270)')))
Certificate verification failed. This typically happens when using

[2022-02-23 17:23] navba-MSFT commented on #21363
@roalexan Thanks for getting back. We will now proceed with closure of this github issue. If this issue resurfaces in future, Please let us know. We would be happy to help.

[2022-02-23 17:23] #21363 closed

[2022-02-23 17:24] dhoeltgen opened #21416 "Azure cli ml extension on M1 Mac cannot be installed"
**Describe the bug**
ml extension cannot be installed using Homebrew on an M1 Mac following the guide:
1) https://docs.microsoft.com/de-de/cli/azure/install-azure-cli-macos
2) https://docs.microsoft.com/de-de/azure/machine-learning/reference-azure-machine-learning-cli

[code]

**To Reproduce**
`brew update && brew install azure-cli`
`az login`
`az extension add -n azure-cli-ml --debug`

**Expected

[2022-02-23 17:36] italukder commented on #20848
Subject : government criminal investigation and Internet  income tax trust bord organization

European Union.
#government Internet  criminal investigation forces
 ( GICIF )
# Government Internet income tax forces
 ( GIITF )

thank  you

[2022-02-23 17:37] itpropro opened #21417 "Cross-Tenant subscription deployments"
**Is your feature request related to a problem? Please describe.**
We have multiple customer cases, where we need to deploy VMs based on ARM/Bicep templates with image references. These images are located in a Azure Compute Library in another tenant and have a specific, second service principal they use to authenticate.
The docs doesn't mention this scenario, only using CLI and PowerShell to reali

[2022-02-23 17:53] callumhester opened #21418 "Unable to pass JSON file to Azure CLI"
## Describe the bug
When the below command is run, a unknown error appears. I am trying to update my AKS resource with Diagnostic settings with the use of 2 JSON files for metics and logs.

**Command Name**
az monitor diagnostic-settings create --resource $aksid -n akslogging --event-hub-rule $ehid --workspace $logid --logs '@akslogs.json' --metrics  '@aksmetrics.json'

**Errors:**
The command fai

[2022-02-23 18:07] shenglol commented on #21409
@doggy8088 Could you attach the Bicep file?

[2022-02-23 18:09] italukder commented on #20848
Subject : ( number four ) global government
 Internet criminal investigation and government Internet income tax protocol trust bord organization.

Middle East- Soudi Arabia.
# government intenet criminal investigation
 forces ( GICIF )
# government internet income tax forces
( GIITF )

thank you

[2022-02-23 18:22] italukder commented on #20848
Subject : ( number five ) global government Internet criminal investigation and government Internet income tax trust bord organization.

Asia
# government Internet criminal investigation and government Internet  income tax trust bord organization.

Africa
# government Internet criminal investigation forces ( GICIF ).
# government Internet income tax forces   ( GIITF )
thank you

[2022-02-23 18:29] italukder commented on #20848
Subject ( number six ) government Internet criminal investigation and government Internet tax trust bord organization.

# Africa
#government intetnet criminal investigation forces  ( GICIF )
#government Internet income tax
( GIITF )

[2022-02-23 18:38] italukder commented on #20848
Subject : ( number  seven ) global governmente Internet criminal investigation
 and government Internet  income tax trust bord organization

# Oceania
# government Internet criminal investigation forces  ( GICIF )
# government Internet income tax forces
 ( GIITF)

thank you

[2022-02-23 18:59] italukder commented on #20848
subject : ( number eight ) global countries government Internet criminal investigation trust bord organization

# every country of government Internet criminal investigation forces  and government internet income tax forces
# government Internet criminal investigation forces   (GICIF).
# government internet income tax forces
( GIITF )

thank you

[2022-02-23 19:31] dlekovic opened #21421 "not able to log in to azure account"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --tenant {}`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-02-23 19:56] barneschism opened #21422 "az apim api import --api-revision bug"
When importing a new api using `az apim api import`, the newly imported api always has a revision number of 1, regardless of the value of the parameter passed to --api-revision.

This issue is not present when using --api-id to import an api to an existing api as a new revision.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2022-02-23 19:58] StrawnSC commented on #19891
This issue should be resolved now. Please reopen if you're still running into this bug

[2022-02-23 19:58] #19891 closed

[2022-02-23 19:58] kangsun-ctrl opened #21423 "Publish Community Gallery to official CLI"
**Resource Provider**

Azure.Compute

**Description of Feature or Work Requested**

Previously we had this request:
https://github.com/Azure/azure-cli/issues/19882

And all commands have been published to cli extension.
We will do public preview at the end of next month and we hope to publish all the commands into official CLI.

**Minimum API Version Required**

2021_10_01 for community gallery pu

[2022-02-23 21:55] SenorRagequit opened #21424 "Azure Key Vault - Add network option "allow access from azure portal""
**Is your feature request related to a problem? Please describe.**

We are using Terraform to create KeyVaults (KV) and add secrets to it.
The networking we have to use for the KV is pretty strict so that pretty much nothing leaves the network of the KV. But since we have that option enabled, we can't just start a Terraform Script in the Cloudshell from anywhere, we always have to use a jumphost o

[2022-02-23 22:50] yonzhan commented on #21412
route to CXP team

[2022-02-23 22:51] yonzhan commented on #21413
Compute

[2022-02-23 22:53] yonzhan commented on #21414
storage

[2022-02-23 22:53] yonzhan commented on #21415
@jiasli for awareness

[2022-02-23 23:02] yonzhan commented on #21424
key vault

[2022-02-23 23:06] yonzhan commented on #21423
Compute

[2022-02-23 23:07] yonzhan commented on #21421
@jiasli for awareness

[2022-02-23 23:13] yonzhan commented on #21416
route to CXP team

[2022-02-23 23:17] yonzhan commented on #21417
ARM

[2022-02-23 23:18] yonzhan commented on #21418
monitor

[2022-02-23 23:25] StrawnSC commented on #20728
@panchagnula I tried this just now and successfully ran the zip deploy to an Azure Arc App

@paulsony13 thanks for reporting. If you update to the latest CLI version (with `az upgrade`), do you still get the error?

[2022-02-24 00:45] SaurabhSharma-MSFT commented on #21411
@lastnod I do not think it is supported on the Debian version you are using.  Can you please follow https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt to install Azure CLI on stable/GA versions of Debian, like 11 Bullseye.

[2022-02-24 01:13] RyanHill-MSFT opened #21425 "Updating SKU for app service plan fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When attempting to update the sku for an appservice plan, the command fails with the error down below

**Command Name**
`az appservice plan update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

-

[2022-02-24 01:33] bion commented on #21349
@jiasli  yep:

[code]

[2022-02-24 01:42] zhoxing-ms commented on #15765
Yes, the solution of building a single REST call is feasible, but we can only support attaching multiple disks by one API call through another parameter (such as `--disk`). Because `--ids` parameter is a global parameter, each id in `--ids` will be processed by independent API call, which is a common logic in CLI core.

[2022-02-24 01:43] yonzhan commented on #21425
route to CXP team

[2022-02-24 01:46] zhoxing-ms commented on #21413
This solution is feasible, but we can only support attaching multiple disks by one API call through another parameter (such as `--disk`). Because `--ids` parameter is a global parameter, each id in `--ids` will be processed by independent API call, which is a common logic in CLI core.

[2022-02-24 02:00] zhoxing-ms commented on #20420
Yes, we have finished the upgrade in PR #4409, you can have a try~

[2022-02-24 02:04] irenehua opened #21426 "Query inbound NAT rule port mapping on Azure Load Balancer"
Customer should be able to query port mapping after creating inbound NAT rule for the entire backend pool.
Upon creation of inbound NAT rule for backend pool, LB will create port mappings for individual Virtual Machine of the backend pool. Customer can use the assigned frontend port to access a specific Virtual Machine in the backend. Thus they should be able to query the port mappings of the back

[2022-02-24 02:17] zhoxing-ms commented on #21417
This feature request requires the ARM service team to confirm whether the REST [create-or-update-at-subscription-scope](https://docs.microsoft.com/en-us/rest/api/resources/deployments/create-or-update-at-subscription-scope) can support the deployment across tenant by using [`x-ms-authorization-auxiliary` ](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/authenticate-multi-

[2022-02-24 02:18] #20916 closed

[2022-02-24 02:34] jiasli opened #21427 "{testsdk} No YAML recording file is generated if there is no record-able requests"
Tests such as `test_create_account_sas` don't contain record-able requests:

https://github.com/Azure/azure-cli/blob/30216d0268f3491b8af2aa060d90a9e1f94f9b3c/src/azure-cli/azure/cli/command_modules/storage/tests/latest/test_storage_account_scenarios.py#L779-L797

`ResourceGroupPreparer`, `StorageAccountPreparer`'s requests won't be recorded. In such case, running this test in live mode will delete

[2022-02-24 03:05] yonzhan commented on #21427
testsdk

[2022-02-24 03:21] zhoxing-ms commented on #21393
Because the meaning of parameter `--expand`  is not clear enough, it was deprecated in PR #7868. We will develop a more explicit parameter `--instance-view` to replace it in the next sprint (04-05), do you think it is acceptable?

[2022-02-24 03:33] SubhashVasarapu-MSFT commented on #21425
@RyanHill-MSFT , Looks like the command requires extra params inputs like "SKU" value. Could you please try this way,
[code]

[2022-02-24 03:46] SubhashVasarapu-MSFT commented on #21412
@jreynolds0962, could you please try running this in command in "sudo" command or in any other directory that you have permissions in?

[2022-02-24 03:54] duclinh84bk opened #21429 "why is the new version of ML not allowed to set location when creating compute?"
why is the new version of ML not allowed to set location when creating compute?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 71c25404-a256-62b2-3ac8-dd699fc677ba
* Version Independent ID: 5f3dccba-b2ee-224b-9e84-80ba2bbde641
* Content: [az ml compute](https://docs.microsoft.com/en-us/cli/azure/ml/compute?view=azure-c

[2022-02-24 03:59] yonzhan commented on #21426
network

[2022-02-24 04:03] jiasli commented on #21409
We previously worked on a similar issue https://github.com/Azure/azure-cli/issues/17994 and that issue has been solved long ago. @doggy8088 could you also run the command with `--debug` flag? It will show the call stack of the error. Thanks.

[2022-02-24 04:05] yonzhan commented on #21429
route to CXP team

[2022-02-24 05:05] PramodValavala-MSFT commented on #21416
@dhoeltgen Since the error is when building cryptography, could you follow the steps in [their doc](https://cryptography.io/en/latest/installation/#building-cryptography-on-macos). There are commands which install dependencies like rust and openssl which are required.

I suppose the problem might be that there isn't a statically linked wheel for ARM64 perhaps.

[2022-02-24 05:09] PramodValavala-MSFT commented on #21429
@duclinh84bk An [Azure ML Workspace](https://docs.microsoft.com/en-us/azure/machine-learning/concept-workspace) is the top-level resource, which is deployed to the location of your choice, containing all required resources. You create your compute resources in the workspace, which are deployed in the same resource as the workspace.

[2022-02-24 05:32] duclinh84bk commented on #21429
Thank you for your response!

I've known this, but it is not convenient. We need to create
many workspaces.
When I use REST API, I can deploy any location in the same workspace.

Vào Th 5, 24 thg 2, 2022 vào lúc 12:09 Pramod Valavala <
***@***.***> đã viết:

[2022-02-24 05:56] navba-MSFT commented on #21269
@dilip814 Hope you had a chance to look at my above comment. Please let me know if you need any further assistance on this.

[2022-02-24 05:57] navba-MSFT commented on #21239
@pwillia6 A quick follow-up to check if you had a chance to look at my above comment. Awaiting your reply.

[2022-02-24 06:04] #19681 closed

[2022-02-24 06:09] navba-MSFT commented on #21325
@mirakelsvampen We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-24 06:09] #21325 closed

[2022-02-24 06:11] #20139 closed

[2022-02-24 06:14] simratsatia commented on #21393
Yes, that would be good. Thanks!

[2022-02-24 06:31] #19779 closed

[2022-02-24 07:27] #21367 closed

[2022-02-24 07:39] Wwwsylvia commented on #8714
Hi @vazexqi @S93rastogi  , not sure are you still facing the issue? Would you like to migrate to Helm 3?

[2022-02-24 07:47] Aminadad27 opened #21431 "Cha'che'"
![5b94ce351c53a1c6a74cc88695131dd574ff8cba0de486dfd7799f93f53cc0ef.0.gif](https://user-images.githubusercontent.com/82472953/155480681-492492bd-bcd0-460a-ab73-5dfebacf1919.gif)h

[2022-02-24 07:48] ian90911 commented on #21409
@jiasli Hi, I'm @doggy8088 's coworker, I added `--debug` flag and here's Azure devops' output log:
[issues21409-bicep what if err log.txt](https://github.com/Azure/azure-cli/files/8130589/issues21409-bicep.what.if.err.log.txt)

[2022-02-24 08:00] #20575 closed

[2022-02-24 08:00] #14091 closed

[2022-02-24 08:00] #13098 closed

[2022-02-24 08:00] #13071 closed

[2022-02-24 08:00] #12715 closed

[2022-02-24 08:00] #12216 closed

[2022-02-24 08:00] #12157 closed

[2022-02-24 08:00] #12081 closed

[2022-02-24 08:00] #11941 closed

[2022-02-24 08:01] #11890 closed

[2022-02-24 08:01] #11164 closed

[2022-02-24 08:01] #10422 closed

[2022-02-24 08:01] priyjain358 opened #21432 "Updation of CLI for AzureStackHCI"
**Resource Provider**
 AzureStackHCI

**Description of Feature or Work Requested**

We want to update our CLI based on the swagger. Currently, we have the cli commands for clusters resource, we would like to add for our other resources: arcsettings, extensions as well.

Extension: https://github.com/Azure/azure-cli-extensions/tree/main/src/stack-hci

**Minimum API Version Required**
 2021-09-01

*

[2022-02-24 08:12] malikmtayyab opened #21433 "Permission Denied Error"
I am trying to deploy my bot via ARM template but in the template file it gives me **PERMISSION DENIED** error in the path, I am giving it an absolute path and the command I am using is:
az deployment group create --resource-group "Resource group" --template-file "Template Path" --parameters appId="My appId" appType="UserAssignedMSI" tenantId="My tenantId" existingUserAssignedMSIName="Identity Nam

[2022-02-24 08:12] jiasli commented on #21431
Spam. Similar to https://github.com/python/cpython/pull/31140.

[2022-02-24 08:12] #21431 closed

[2022-02-24 08:25] #20786 closed

[2022-02-24 08:26] bluebrown commented on #17981
This happens in a pipeline in my case. Using AzureCLI@2 task.

[2022-02-24 08:26] #20671 closed

[2022-02-24 09:19] jiasli commented on #21409
Thanks @ian90911 for the debug log which is extremely helpful.

Judging by the log:

[code]

The failed code is at

https://github.com/Azure/azure-cli/blob/67568014e3df1f183b92ee1ad7699b3b86f35dc0/src/azure-cli/azure/cli/command_modules/resource/custom.py#L930

Apparently `print` throws this error.

Also from the log, I noticed you have a resource name with Unicode characters:

[code]

I used Pyth

[2022-02-24 09:36] navba-MSFT commented on #8388
@Jameskmonger Apologies for the late reply. I am able to create function app with existing consumption plan now. Did you get a chance to test this and check? This issue is open for quite sometime now. Could you please let us know if you need any assistance on this ? Awaiting your reply.

[2022-02-24 09:41] jiasli commented on #21409
@shenglol, I saw this line was submitted by you in https://github.com/Azure/azure-cli/pull/12942:

https://github.com/Azure/azure-cli/blob/67568014e3df1f183b92ee1ad7699b3b86f35dc0/src/azure-cli/azure/cli/command_modules/resource/custom.py#L930

Another less optimal solution I can think of is to discard Unicode characters if `UnicodeEncodeError` happens, like Knack does:

https://github.com/microso

[2022-02-24 10:53] Segflow opened #21434 "unexpected error running az aks scale"
## Describe the bug

**Command Name**
`az aks scale`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks scale --resource-group {} --name {} --node-count {} --nodepool-name {} --subscription {}`

## Expected Behavior

I expected the nodepool

[2022-02-24 11:08] JQUINONES82 commented on #11718
Will give this a go and test this out and see if this fits my use case.  Thank you for the reply.

[2022-02-24 11:09] yonzhan commented on #21432
AzureStackHCI

[2022-02-24 11:11] yonzhan commented on #21433
ARM

[2022-02-24 11:15] navba-MSFT commented on #9804
@docgregt Apologies for the late reply. We are looking into this and we will provide an update on this thread once we have more details.

@panchagnula @Kotasudhakarreddy Could you please provide an update on this ? Awaiting your reply.

[2022-02-24 11:17] evelyn-ys commented on #17981
`azure-cli 2.0.81` is not our official Azure CLI. See #19640 for details

Please install our CLI following https://docs.microsoft.com/en-us/cli/azure/install-azure-cli
The latest version is 2.33.0

[2022-02-24 11:22] spricesoft-samuel opened #21435 "Warning text output to error stream (2) instead of warning stream (3)"
"az functionapp create" and "az webapp create" both send "Warning:" messages to the error stream.
This causes deployments to fail when running in a Parallel context.

Example warning messages sent to error stream:
az functionapp create:
WARNING: Application Insights "<name>" was created for this Function App. You can visit <URL>/overview to view your Application Insights component

az webapp creat

[2022-02-24 11:22] yonzhan commented on #21434
route to CXP team

[2022-02-24 11:22] doggy8088 commented on #21409
@jiasli I'm just curious why my script works for months. Only failed recently. I was running on Windows for a while.

[2022-02-24 11:25] yonzhan commented on #21435
route to CXP team

[2022-02-24 11:34] navba-MSFT commented on #12090
@danielbecroft Apologies for the late reply. We will update this thread once we have more details.

@panchagnula @calvinsID Could you please update this thread once you get a chance ? Awaiting your reply.

[2022-02-24 11:49] navba-MSFT commented on #12141
@dpippert Apologies for the late reply. Is there a proxy in your environment ? Could you please try to run the command on a another machine which is on a different network and check if that works fine ? If this is not feasible you can append your corporate proxy certificate(s) to the end of the certifi library's cacert.pem file. Sharing the location of this on Windows: C:\Program Files (x86)\Micro

[2022-02-24 11:52] spricesoft-samuel commented on #21435
Actually I think this is a general issue with Powershell " ForEach-Object -Parallel " redirecting the warning stream to error. I will close this bug, investigate further and maybe post something in the powershell issues if needed.

[2022-02-24 11:52] #21435 closed

[2022-02-24 11:57] navba-MSFT commented on #12391
@krknopp Apologies for the late reply. We will update this thread once we have more details.

@panchagnula Could you please provide an update on this ? Awaiting your reply.

[2022-02-24 12:05] navba-MSFT commented on #12427
@bertrandpons Apologies for the late reply. Could you please refer [this](https://docs.microsoft.com/en-us/cli/azure/webapp/config/ssl?view=azure-cli-latest#az-webapp-config-ssl-import) article and let us know if you need any further information on this ? Awaiting your reply.

[2022-02-24 12:21] navba-MSFT commented on #12759
@harals Apologies for the late reply. Could you please refer this thread for the similar issue #12325 and let us know if the suggestion provided there helps? Awaiting your reply.

[2022-02-24 12:30] navba-MSFT commented on #12801
@acidsunburn Apologies for the late reply. Could you please update the [python libraries](https://www.python.org/downloads/) and use the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) of the CLI and let us know if you are still running into the same issue ? Awaiting your reply.

[2022-02-24 12:36] navba-MSFT commented on #12832
@pmblr2020 Apologies for the late reply. The error message seems like a failure at the network layer due to connectivity issues. Could you please let us know if you are still facing this issue ? Awaiting your reply.

[2022-02-24 12:44] navba-MSFT commented on #13205
@dazinator Apologies for the late reply. More Info about this paramater:

The runtime stack used for your linux-based webapp, e.g., "RUBY|2.5.5", "NODE|10.14", "PHP|7.2", "DOTNETCORE|2.1". See https://aka.ms/linux-stacks for more info.

The similar ask is discussed here Azure/azure-cli#21192. Please let me know if that helps. Awaiting your help.

[2022-02-24 13:00] dhoeltgen commented on #21416
@PramodValavala-MSFT yes, thank you! That was the right hint! It works with:
`xcode-select --install`
`brew install openssl@1.1 rust`
`env LDFLAGS="-L$(brew --prefix openssl@1.1)/lib" CFLAGS="-I$(brew --prefix openssl@1.1)/include" az extension add -n azure-cli-ml --debug`

[2022-02-24 13:00] #21416 closed

[2022-02-24 13:12] LotteVoorhorst commented on #21156
I've tried the --no-wait option, but unfortunately I'm getting the next error when concurrently creating domain entrypoints:

Invoke-Executable az network application-gateway rule create --gateway-name {gateway-name} --name {name} --resource-group {resourcegroup} --http-listener {name} --rule-type Basic --redirect-config {redirect-config} --no-wait

ERROR: (RetryableError) A retryable error occurr

[2022-02-24 13:31] defenestration commented on #18762
This seems to be working now in azure-cli 2.33.1.

[2022-02-24 13:31] #18762 closed

[2022-02-24 13:49] Crossbow78 commented on #20892
Our deployment pipeline retrieves the Function App master key to invoke a HTTP trigger as part of an automated smoke-test after deployment of our application. We notice that this step sometimes randomly fails with a "Bad Request", and when we try to retrieve the key a few minutes later it succeeds.

This is the command:
`az functionapp keys list -g "xxxxx" -n "xxxxx" --query "masterKey" --output t

[2022-02-24 14:04] RyanHill-MSFT commented on #21425
I did have `--sku`

[code]

The command isn't recognizing the sku argument. Seems like a bug in the subcommand.

[2022-02-24 14:13] thomasddn commented on #11195
Currently, this is the workaround I use to create a consumption plan and to let it have a name I choose: https://github.com/Azure/azure-cli/issues/8388#issuecomment-618601562

[2022-02-24 16:34] snowsky opened #21436 "Image List shows an empty list of images"
## Describe the bug

**Command Name**
`az image list --debug --verbose`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az image list --debug --verbose`
- show an empty list of images (it should show one existing image)

## Expected Behavior
Should show one existing image

## Environ

[2022-02-24 16:36] ckarrasalithya commented on #20766
@favoretti I think the bug should be reopen, as the workaround is only applicable in a specific situation (Angular CLI), and we have encountered the same bug in several other situations, when running Python and R commands. Each situation needs a new workaround and we have to clutter our code with these workarounds.

For example:
* pip needs to be used with --progress-bar off
* We also had to chang

[2022-02-24 16:46] chrisdeely commented on #15893
similar to @jochenvw I ran into this issue because I had the _wrong_ value for the `--address-prefixes` argument. once corrected to the current live value, the command went through and applied the desired changes. It seems that attempting to (inadvertently) change the prefixes is what causes this error. as stated above a more detailed error message would make this easier to detect.

[2022-02-24 16:50] JBines commented on #21006
Also searching for an update on this topic

[2022-02-24 16:57] snowsky commented on #21436
Not sure if this is related to throttling issue, I can see the response header `'x-ms-ratelimit-remaining-resource': 'Microsoft.Compute/HighCostGetImages3Min;79,Microsoft.Compute/HighCostGetImages30Min;399'` in a working request, but not in the response of an empty image list.

[2022-02-24 17:05] panchagnula commented on #12427
no immediate plans currently for this using ARM template is the suggested approach.

[2022-02-24 17:18] panchagnula commented on #9804
no ETA at this point for support on our end. Thanks!

[2022-02-24 17:50] harneetvirk commented on #21390
This seems like an issue with the dependency of azure-core in azure-cli that does not contains azure.core.rest.  azure.core.rest is the new public simple HTTP library in azure.core introduced in azure-core 1.20.0
A similar issue (No module named 'azure.core.rest') has been reported here: https://github.com/Azure/azure-cli-extensions/issues/4462

[2022-02-24 19:22] italukder commented on #20848
Subject : global russia investment market protocol

Russia Investment market

thank you

[2022-02-24 20:05] speak2beeb commented on #10039
@navba-MSFT , Yes, I can confirm that this is still a bug with the latest az version.  Notice:

`$ az version
{
  "azure-cli": "2.33.1",
  "azure-cli-core": "2.33.1",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "aks-preview": "0.5.48"
  }
}

$ az container exec -n XX -g XX --container-name XX --exec-command "ls"
file  file  file

$ az container exec -n XX -g XX --container-name XX --ex

[2022-02-24 20:18] italukder commented on #20848
subject : global investment market trust bord organization.

example.
Each country will doits investment marketing  work

thank you

[2022-02-24 21:10] Drewm3 commented on #17197
I believe this feature request is fully for the compute CLI as compared to the service. So adding Compute-CLI tag and removing Compute

[2022-02-24 22:48] yonzhan commented on #21436
Compute

[2022-02-25 00:04] b1ackhawk-uh60 commented on #20625
This is partially an issue with the portal, partially an issue with the CLI. Deleting a setting via CLI will allow you to re-add the setting with a different slot setting. However, the CLI should overwrite or replace whatever the previous setting was. In fact, this is what happens when issuing a CLI command with the "--slot-settings" parameter will overwrite a previous slot setting (it will go fro

[2022-02-25 00:44] panchagnula commented on #21388
@alexhudson thanks for the feedback - does the command webapp log deployment (that the zip deploy offered at the end of the error message)  offer any guidance as to cause of failure here?

[2022-02-25 00:51] panchagnula commented on #21271
@StrawnSC is this (Python 3.9 failing to deploy) with up due to the fact the runtime version was not updated on CLI (Stacks API)?

@chrisriu can you share the samples of the latest version you are trying to use here? Thanks!

[2022-02-25 00:56] panchagnula commented on #21168
@StrawnSC assigning this to you to take care of next miestone once we have the new SDK

[2022-02-25 00:57] StrawnSC commented on #21271
I don't believe this error is caused by the runtime stacks update, but I will look more into it

[2022-02-25 00:59] panchagnula commented on #21271
@StrawnSC not caused by - but checking the fact the hardcoded support stacks didn't have Python 3.9 this was failing?

[2022-02-25 01:06] StrawnSC commented on #21271
@panchagnula version `2.33.0` would have included this change: https://github.com/Azure/azure-cli/pull/20770, so it should have python 3.9 support. Also if the runtime passed in wasn't in one of the hardcoded files, it would return an error like so:

`Linux runtime 'XXX' is not supported. Please invoke 'az webapp list-runtimes --linux' to cross check`

[2022-02-25 01:51] italukder commented on #20848
Subject: world investment msrked place  trust bord organization

example.
each country will to do its investment msrketing place work

thank you

[2022-02-25 01:56] piyush-nimbalkar commented on #13386
@navba-MSFT I haven't tried this in a while. I will close this issue for now as it is very old. I will re-open it in case it happens again.

[2022-02-25 01:56] #13386 closed

[2022-02-25 02:03] #20058 closed

[2022-02-25 02:05] italukder commented on #20848
support global Award

Subject : global  Noble Prize protocol  trust bord organization.

example.
Alfred Noble prize business protocol

thank you

[2022-02-25 02:24] italukder commented on #20848
Subject : global  musical award protocol trust bord organization

Example.every year the song will  be awarded.
Categories of songs award.
1. pop music
2. Rock music
3. culture music
e.t.c

thand you

[2022-02-25 02:25] jiasli commented on #21409
I think this is because previously you don't have Chinese characters in the output of the command `az deployment sub what-if`.

Anyway, please use `ubuntu-latest` to avoid hitting Unicode character issues in Azure DevOps.

[2022-02-25 02:29] italukder commented on #20848
Subject : global box office protocol  thust bord organization

example.
box office award business proto

[2022-02-25 02:31] #20946 closed

[2022-02-25 02:48] italukder commented on #20848
Subject : global  others award families business protocol trust bord orgorganization.

example.
Other awards families interest business apply policy

thank you

[2022-02-25 03:14] northtyphoon commented on #21114
Does it help? https://docs.microsoft.com/en-us/azure/container-registry/container-registry-faq#how-do-i-include-the--git-folder-in-az-acr-build-command-

[2022-02-25 03:52] navba-MSFT commented on #9804
@Kotasudhakarreddy @panchagnula Thanks for the update.
@docgregt Please check the above comments. In the meantime, if you have any further questions on this, please free feel to ask. We would be happy to assist. Awaiting your reply.

[2022-02-25 04:03] navba-MSFT commented on #12427
@panchagnula Thanks for your reply.
@bertrandpons As a workaround, please follow the action plan mentioned in [this](https://github.com/Azure/azure-cli/issues/12427#issuecomment-635143335) comment and let us know if that helps. Awaiting your reply.

[2022-02-25 04:04] MS-sraghuwanshi commented on #14774
One of our Clients having the same issue

[2022-02-25 04:09] jiasli commented on #14223
This is tracked https://github.com/Azure/azure-cli/issues/11908. A proposal was made at https://github.com/Azure/azure-cli/pull/12117#discussion_r378015134.

[2022-02-25 04:24] navba-MSFT commented on #10039
@speak2beeb Since the image details are not mentioned here, it would be difficult to provide a plan. Nonetheless, I am sending the below command if you could try that and then run the` ls -l` command from the _cli shell_ it should help.

More Info [here](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-exec#run-a-command-with-azure-cli).

[2022-02-25 04:37] panchagnula commented on #21271
I was checking incase up was surfacing the right error, since Python 3.9 is supported by platform & looks like user downgraded to a different version version to unblock themselves. If we get a repro we should share with linux team as runtime issue - if not then this is not a CLI specific issue & we can close this.

[2022-02-25 04:56] navba-MSFT commented on #21434
@Segflow Thanks for reaching out to us. Please update your [python libraries ](https://www.python.org/downloads/)and use the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) of the AzCLI and check if you still see the issue. Awaiting your reply.

[2022-02-25 06:03] YuanyuanNi opened #21438 "{monitor} when execute 'az monitor app-insights metrics get-metadata --app ', CLI shows error:"__init__() missing 1 required keyword-only argument: 'error'""
**Describe the bug**

when execute 'az monitor app-insights metrics get-metadata --app ', CLI shows error:__init__() missing 1 required keyword-only argument: 'error', see below for detail:
The command failed with an unexpected error. Here is the traceback:
__init__() missing 1 required keyword-only argument: 'error'
Traceback (most recent call last):
  File "D:\a\1\s\build_scripts\windows\artifac

[2022-02-25 06:07] navba-MSFT commented on #14040
@softveda Apologies for the late reply. We will provide an update on this thread once we have more details.

@Kotasudhakarreddy @panchagnula Could you please provide the latest update on this feature ? Awaiting your reply.

[2022-02-25 06:17] navba-MSFT commented on #14405
@forty Apologies for the late reply. We will update this thread once we have more details on this.

@seligj95 Could you please provide the latest update on this thread ? Awaiting your reply.

[2022-02-25 06:28] navba-MSFT commented on #9141
@dsparkplug Apologies for the late reply. We will provide an update on this once we have more details on this.

@zhoxing-ms @Juliehzl Could you please provide an update on this once you get a chance ? Awaiting your reply.

[2022-02-25 06:33] yonzhan commented on #21438
monitor

[2022-02-25 06:37] navba-MSFT commented on #19543
@shariq-mcs @MSFTeegarden Could you please provide an update on this once you get a chance ?

[2022-02-25 07:03] armaciej opened #21439 "Contradicting example for az webapp deploy, parameter --async"
For the command `az webapp deploy`, in the code template it says: `... --async {true, false}`.

However, in the example it says `... --async IsAsync`.

Which of those is true?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2983e943-cce1-effd-57d0-cce4b0c0a7e1
* Version Independent ID: 4262c40a-7140-b420-58b5-5cf40ab231

[2022-02-25 07:14] navba-MSFT commented on #11610
@haymansfield Apologies for the late reply. This issue is open for quite sometime. Could you please let us know if you still need any assistance on this ?

[2022-02-25 07:16] YuanyuanNi commented on #21438
SDK issue

[2022-02-25 07:16] #21438 closed

[2022-02-25 07:30] rammada commented on #20150
Im facing the same error `__init__() got an unexpected keyword argument 'async_persist'` in my Github actions workflow. I
 cannot downgrade to CLI version to 2.29 since I'm using OIDC authentication for logging in to azure and OIDC requires at least 2.3 version of CLI.  Please suggest a work around for this.

[2022-02-25 07:34] navba-MSFT commented on #12605
@nrjohnstone Apologies for the late reply. Could you please refer [this](https://docs.microsoft.com/en-us/cli/azure/appconfig?view=azure-cli-latest) article ?

Export items excluding all key vault references. By default, all key vault references with the specified label will be exported.
accepted values: false, true t

This issue is open for quite sometime. Please let us know if you have any furth

[2022-02-25 07:35] YuanyuanNi commented on #21418
Hi,
     For AKSmetrics.Json file, you should add a '[ ]' (as below), then try again, best wishes.

   [{
"category": "AllMetrics",
"enabled": true,
"retentionPolicy": {
"enabled": true,
"days": 1
}
}]

[2022-02-25 07:45] zhoxing-ms commented on #21436
@snowsky Could you please send the debug log to me by email, my email address is Zhou.Xing@microsoft.com, thanks

[2022-02-25 07:47] navba-MSFT commented on #14809
@ashinzekene Apologies for the late reply. This issue is open for quite sometime. Could you please let us know if you need any further assistance on this ? Awaiting your reply.

[2022-02-25 07:49] navba-MSFT commented on #14845
@ChristopherL-STCU Apologies for the late reply. I hope your issue is addressed. This github thread is open for quite sometime. Could you please let us know if you need any further assistance on this ? Awaiting your reply.

[2022-02-25 08:00] #20178 closed

[2022-02-25 08:00] #19952 closed

[2022-02-25 08:13] panchagnula commented on #17296
This has been fixed. Please re-try & let us know if you still see this problem.

[2022-02-25 08:13] #17296 closed

[2022-02-25 08:52] navba-MSFT commented on #11457
@timio73 Apologies for the late reply. I hope you had a chance to look at the above comment. Could you please let me know if you are still facing this issue ? Awaiting your reply.

[2022-02-25 08:59] necusjz commented on #21156
@HemantErappa , it seems that service side has some adjustments in handling concurrent operations against application gateway. Could you give us a hand? Thanks!

[2022-02-25 09:02] FlorentATo opened #21441 "az aks (...) --enable-managed-identity creates a user-assigned managed identity"
According to this article, https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest using the argument `--enable-managed-identity` creates a system-assigned managed identity for the control plane (i.e. nodes):

Quotes:

Unclear; the type of identity should be specified i.e. user-assigned

This is incorrect. Instead it creates a user-assigned managed identity, named as follow `<aks_clus

[2022-02-25 09:32] navba-MSFT commented on #12314
@sseveringhaus-newclassrooms Apologies for the late reply. I was able to run the AzCLI command and set the tags with colon on CDN resource. Could you please test the same and get back to me if you face any issues ?

Also this issue is open for quite sometime. Please let me know if you need any further assistance on this. Awaiting your reply.

[2022-02-25 09:53] PramodValavala-MSFT commented on #21439
@armaciej Thanks for catching that! We have worked up a PR to address this.

[2022-02-25 09:58] millanie opened #21443 "VMSSH with managed identity"
https://github.com/Azure/azure-cli/blob/4a8879f587378615ff0e1d10728dffe63f462b2d/src/azure-cli-core/azure/cli/core/_profile.py#L620

**After MSAL adopted completely, would it be available with Managed Identity for VMSSH?
If yes, when would it be possible?**

* Login with MI : az login -i -u /subscriptions/{subscription id}/resourceGroups/{resource group}/providers/Microsoft.ManagedIdentity/userAss

[2022-02-25 10:17] sseveringhaus-newclassrooms commented on #12314
Thanks for following up, but we're no longer using Azure CDN, so I don't have a way to test this. Please feel free to close the issue.

[2022-02-25 10:41] navba-MSFT commented on #12314
@sseveringhaus-newclassrooms Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-25 10:41] #12314 closed

[2022-02-25 11:52] Jerry1309 commented on #20150
this issue got resolved with latest version of azml cli extension

[2022-02-25 12:21] zboldyga commented on #14405
@navba-MSFT

We have a similar need for .env file support, here's a gist with the [current workaround](https://gist.github.com/zboldyga/8f51868c7b1d7269bb2679fb036d4995) using the python-dotenv package, which has a well-tested, production-hardened implementation of .env file parsing.

I'm happy to implement this as an open source contribution if you'd like?

I see the underlying JSON support [here

[2022-02-25 12:59] italukder commented on #20848
Subject : global pharmaceutical medicine trust bord organization.

medicine two category information
1#human medicine
2#animals medicine

exexample.
1. The genetic name of the drug
2. the name of the medicine
3. The potency of medicine
4. pharmaceutical company  and country name
5. Medicine import - export information

thank you

[2022-02-25 14:19] manuvrat commented on #15432
Thank you.

On Tue, 15 Dec 2020, 20:14 Xu Ya, ***@***.***> wrote:

[2022-02-25 14:20] blackbaud-james-williams commented on #19248
@navba-MSFT Yes, I can still reproduce this on 2.33.1 via the steps in the issue. Non-error messages are being written to stderr.

We worked around this problem in August (by updating our release pipeline to not treat stderr output as an error when running this command) so it's not really a problem for us any longer, though the behavior still seems wrong to me.

[2022-02-25 14:38] yonzhan commented on #21441
route to CXP team

[2022-02-25 14:43] MCKLMT commented on #19908
Hi @yonzhan, @kairu-ms,
My customer encounters the same issue and it's blocking for deployments in production.
Is there a known workaround while the cmdlet is not fixed?

[2022-02-25 14:43] yonzhan commented on #21443
route to CXP team

[2022-02-25 14:44] yonzhan commented on #21439
route to CXP team

[2022-02-25 14:49] snowsky commented on #21436
@zhoxing-ms sent, thanks :)

[2022-02-25 15:09] speak2beeb commented on #10039
Apologies. The image I am using is Microsoft's, namely: mcr.microsoft.com/azure-pipelines/vsts-agent

As for the "/bin/bash" command, this gives me an interactive session. The requirement is for the command to be executed non-interactively. (Clearly, the "ls -l" was just an example to show that any command with a space does not work.)

I hope this brings more clarity to this defect.

[2022-02-25 15:12] bruno-salapic opened #21447 "Redis V6 doesnt allow scaling down from c1 to c0, but v4 did"
**Describe the bug**

When i was working with azure redis v4 i was able to scale down from a c1 to a c0 on the standard tier, but now with redis v6 i cannot perform that very same action.
**To Reproduce**

create azure v4 scale down from c1 to c0,
create azure v6 scale down from c1 to c0, fails

**Expected behavior**

 to be able to scale down to c0

**Environment summary**

**Additional context**

[2022-02-25 15:25] bruno-salapic opened #21448 "redis v6 returns showing that the scale is set, but still remains in progress if other operations are tried"
**Describe the bug**

When scaling redis v6, for example S1 to S2 right after the operation if i was to call `az redis show` it would display that sku is for to be S2 under the object "SKU". however if i was to try another update it would say there is a conflicting because the current resource is in the middle of an operation/process still

the bug is showing that something is fully scaled when in

[2022-02-25 16:15] #21448 closed

[2022-02-25 16:36] dilip814 commented on #21269
Yes, we are good now.

[2022-02-25 16:48] Phoenix1112 opened #21449 "Bring --check-dns feature for cloudapp.net."
hello. I want to create cloudapp.net service with az cli program. When using az cli, first of all, a new feature should be added to understand whether the cname address I want to use is used by another user. For example, when I want to do this with trafficmanager, I use the following command.

[code]

There needs to be a similar feature in cloudapp.net. If such a feature already exists and I don't

[2022-02-25 16:53] navba-MSFT commented on #21269
Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-25 16:53] #21269 closed

[2022-02-25 17:10] navba-MSFT commented on #19248
@blackbaud-james-williams Thanks for getting back. Please refer these threads for the similar issue and for the workaround Azure/azure-cli#19314 and Azure/azure-cli#19315. Hope this helps.

[2022-02-25 17:12] navba-MSFT commented on #15432
@manuvrat Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-25 17:12] #15432 closed

[2022-02-25 18:20] italukder commented on #20848
Subject : global geneva convention protocol trust bord

geneva convention in swizerland peace of mind

thank you

[2022-02-25 18:26] italukder commented on #20848
Subject ; international earh health trust bord organization

example

[2022-02-25 18:47] italukder commented on #20848
Subject : international fight of world humanity trust bord organization

[2022-02-25 18:47] snowsky commented on #21436
It happened after a new image was pushed to Azure and after a certain period (sometimes an hour, or half a day), the image can be seen in the outputs of `az image list`

[2022-02-25 19:11] ChristopherL-STCU commented on #14845
Thanks @navba-MSFT. From @avanigupta comment my understanding is that YAML import was deprecated. So the issue remains but my understanding is it is expected and that there are no plans to support YAML functionality. If this is correct then it seems this issue can be closed. But if YAML deprecation was a mistake and this functionality is intended then this issue can remain open to track it.

[2022-02-25 19:46] italukder commented on #20848
Subject : economics and finance human right trust bord organization

[2022-02-25 19:48] italukder commented on #20848
Subject : kholifa and khelafot human right protocol

soudi arao

[2022-02-25 19:48] avanigupta commented on #14845
Hi @ChristopherL-STCU, this issue occurred because we don't support importing key-values from a YAML file with JSON content-type. If you still want this feature, feel free to open a new issue in https://github.com/Azure/AppConfiguration/issues repo and we will get this prioritized.

This issue can be closed now.

[2022-02-25 20:16] StrawnSC commented on #20728
@paulsony13 I am unable to reproduce the error. Please reopen if you're still encountering it after upgrading your CLI

[2022-02-25 20:16] #20728 closed

[2022-02-25 20:50] b1ackhawk-uh60 commented on #20625
Using Azure Resource Explorer, I found that there is a separate webapp json called "slotConfigNames" which stores a list of app insights setting names that are slot settings. Unchecking the slot setting in the portal or deleting a setting in the portal does not remove a setting name from this list. Adding a setting that is not a "slot setting" via the CLI will not remove that setting name from thi

[2022-02-25 20:51] StrawnSC commented on #20230
@panchagnula it looks like the ASE error handling is a little messed up. For some reason, the CLI buried the original error:
`knack.util.CLIError: Only pricing tier 'Isolated' is allowed in this app service plan. Use this link to learn more: https://docs.microsoft.com/azure/app-service/overview-hosting-plans`

This is also happening in the case of https://github.com/Azure/azure-cli/issues/21080

I

[2022-02-25 20:56] StrawnSC commented on #21080
I reference this here https://github.com/Azure/azure-cli/issues/20230#issuecomment-1051257343 . We do try and create an ASP if the user passes in an argument for `--app-service-environment`
I'm going to fix the error handling so that the correct errors are shown. In this case the CLI should just show: `App service environment 'myservice' not found in subscription`

[2022-02-25 20:57] StrawnSC commented on #21080
@szofar were you trying to refer to the App Service Environment (ASE) by name or resource ID? Was the webapp you were trying to create in the same resource group or a different resource group from the ASE?

[2022-02-25 21:43] SatishBoddu-MSFT commented on #21327
Hello @kayasax thanks for the time on this issue!

We have a confirmation from the Product team and this is expected behavior as of now!

As it turns out at this time the product feature you are looking for is not supported. May I request you to please log the same on the[ official IDEAS portal?](https://feedback.azure.com/d365community/search/?q=bastion)

The product group does monitor the reques

[2022-02-25 21:43] #21327 closed

[2022-02-25 22:04] ptsapralis opened #21450 ""az sf application list" and "az sf application-type list" commands do not return any results."
## Describe the bug

**Command Name**
`az sf application list`

**Errors:**
No results returned by these commands although several applications / application-types do exist on the target cluster. Different output formats have been tested without any success. Bug seen in interactive 'az' shell, too. Tested on Linux hosts - failing on those, too.

## To Reproduce:
Steps to reproduce the behavior. No

[2022-02-25 22:50] yonzhan commented on #21447
route to CXP team

[2022-02-25 22:53] yonzhan commented on #21450
route to CXP team

[2022-02-25 22:57] yonzhan commented on #21449
network

[2022-02-26 00:07] #20420 closed

[2022-02-26 00:55] SaurabhSharma-MSFT commented on #21386
@yonzhan I could see some different error however I could see that IP addresses are passed as single string and thus redirecting this to services team.

[2022-02-26 01:00] yonzhan commented on #20914
pending on Service readiness

[2022-02-26 01:05] yonzhan commented on #21120
Some packages are missing from the SBOM generator (ado-sbom-generator)

[2022-02-26 01:16] #20001 closed

[2022-02-26 01:25] #20606 closed

[2022-02-26 03:05] eoq commented on #16573
Any update on this?

[2022-02-26 04:44] docgregt commented on #9804
No further questions. It would be great to get it done.

[2022-02-26 04:52] hayorov commented on #21402
Many thanks @PramodValavala-MSFT , it totally makes sense why this resource cannot be presented as a resource (lack of creating operation), and based on my humble research thesis is no direct way to create (add) session. It seems that creation happens indirectly after VM Azure VD agent installation with a unique node pool token (automatically via Azure VD control plane - VM extension or manual age

[2022-02-26 09:39] #16722 closed

[2022-02-26 11:36] sjuarezgx opened #21451 "Add support for updating APIM policies using the AZ Cli"
Please add support to add/update policies in APIM at any level, using the az CLI.
It would be great to be part of the az apim commands.
https://docs.microsoft.com/en-us/cli/azure/apim?view=azure-cli-latest

[2022-02-26 16:06] valrusu opened #21452 "Failed to create a ADLS directory using a SAS token"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage fs directory create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage fs directory create --file-system {} --name {}

[2022-02-26 16:36] italukder commented on #20848
Subject : global business chamber porotocol trust bord organization

example
 leader soudi Arabia

[2022-02-26 16:59] italukder commented on #20848
Subject : global sultan humans right protocol trust bord organization.

middle east trust bord

[2022-02-26 17:39] italukder commented on #20848
Subject : peace of comment human right protocol trust bord organization

[2022-02-26 17:40] italukder commented on #20848
Subject : peace dialogue human right protocol trust bord organization

[2022-02-26 17:44] italukder commented on #20848
Subject : international earth safe human right protocol trust bord organization

[2022-02-26 17:48] italukder commented on #20848
Subject : international low human right protocol trust bord organization

[2022-02-26 18:18] italukder commented on #20848
Subject : global Sultan policy protocol trust bord organization.
example.
....

[2022-02-26 19:35] lmmarsano opened #21453 "`az login` opens web browser to _AADSTS900144: The request body must contain the following parameter: 'scope'._"
## Describe the bug

**Command Name**
`az login`

**Errors:**
Web browser opens & displays
[code]
instead of a login prompt.
This wasn't required months ago.
Not sure what to include in `--scope` parameter (nothing seems to work).

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login`

## Expected Be

[2022-02-26 21:13] jamessmith-ab opened #21454 "Command not working: az container delete"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container delete -n {} -g {}`

## Expected Behavior

## Environme

[2022-02-26 22:50] yonzhan commented on #21451
route to CXP team

[2022-02-26 22:50] yonzhan commented on #21452
storage

[2022-02-26 22:51] yonzhan commented on #21453
@jiasli for awareness

[2022-02-27 04:37] agm83 commented on #19298
Hello, this is still not fixed... any ETA?

[2022-02-27 05:48] navba-MSFT commented on #21388
@alexhudson Hope you had a chance to look at the above comment. Awaiting your reply.

[2022-02-27 08:00] #21155 closed

[2022-02-27 09:10] ozbillwang commented on #21443
I saw this error when run `az cli` via **Cloud Shell**.

[code]

But I am fine to run it from my own mac book

### Use case:

We need this feature because normally team members have no permission to install `az cli` on their laptops (need administrator permission, but it need approval process). So we have to use **Cloud Shell** to run theses commands.

[2022-02-27 13:47] italukder commented on #20848
Subject : All my sites will always be safe. No country or people can do any harm or harm to it. I will never sell my site and all my site will not be used by third party for free.

Leader Saudi Arabic government

[2022-02-27 14:21] v-mohithgc commented on #19042
Hi @CCostaT , i am facing the same issue in my Azure CLI task, tried using Microsoft hosted agent, didn't work, also tried using the above commands in my docker file, its showing the same error.

Repro:
1. Create a ACR named XYZ in azure portal
2. Use the powershell script type “az acr build  -r XYZ  -f $(dockerfile)  .” command in Azure CLI task(v1 and v2)
3. added dockerfile path in variable set

[2022-02-27 18:15] matkosoric commented on #18624
I was getting the same error. The reason was in missing --parameters.

[2022-02-27 23:41] dingliu commented on #21003
I had the same issue:

[code]

[code]

The OS is Ubuntu 20.04 running on WSL 2, kernel version `5.10.60.1-microsoft-standard-WSL2`.

The version of Az CLI is:

[code]

[2022-02-28 01:06] dingliu commented on #21003
I looked at #20438 and noticed something from the suggested workaround:

When querying the AKS cluster **before** disabling and re-enabling the `azure-keyvault-secrets-provider` addon, it has a `null` valued `config`:

[code]

[code]

**After** disabling and re-enabling the `azure-keyvault-secrets-provider` addon, querying the AKS cluster returns a properly populated `config`

[code]

I encountere

[2022-02-28 01:27] kairu-ms commented on #19908
Hi @MCKLMT and @Welasco , I think it's a usage error. Please pass `PrivateEndpointConnection` id instead of `PrivateEndpoint` id. The example is already added in help message. You can run `az network private-endpoint-connection approve -h` to see it.

![image](https://user-images.githubusercontent.com/69238381/155909818-2c4bba73-4440-4f3c-94f9-caaec3f75640.png)

[2022-02-28 01:33] kairu-ms commented on #21449
Hi @Phoenix1112, could provide the cli commands you used for cloudapp.net service. We need to check whether there is any API support to check dns.

[2022-02-28 01:46] SubhashVasarapu-MSFT commented on #21454
@jamessmith-ab, looks like there is a bug in Azure CLI 2.28.0 version as per the reference issue [here](https://github.com/Azure/azure-cli/issues/19475). Please do upgrade to 2.29.0 or later to mitigate this issue.

[2022-02-28 02:11] jiasli commented on #21453
Could you please share

- The output of `az cloud show`
- The URL in the browser when it launches
![image](https://user-images.githubusercontent.com/4003950/155912861-3790c5c0-863c-4052-b720-817ec71da35d.png)

[2022-02-28 02:11] cbellee opened #21456 "Add '--ip' to the list of possible parameters for the 'az ssh vm' CLI command"
Very small issue, but can '--ip' be added to the list of possible parameters for the 'az ssh vm' CLI command in this doc.
The parameters --name or --ip are listed as mutually exclusive parameters for this command in the 'Optional Parameters' section, but the initial command syntax example (see attached screen shot) doesn't reflect this.

``
az ssh vm [--certificate-file]
          [--hostname] [**

[2022-02-28 02:14] evelyn-ys commented on #21452
Please provide either `--connection-string` or `--sas-token`(need to be used with `--account-name`), don't use them together.

[2022-02-28 02:21] jiasli commented on #16573
Nope. We'll make sure to update this thread when there is. In the meantime, might I recommend the **Subscribe** button?

![image](https://user-images.githubusercontent.com/4003950/155913610-6a788ba6-4bbe-4377-b1b4-efa48bc2e680.png)

That way you'll be notified of any updates to this thread, without needlessly pinging everyone on this thread. :)

[2022-02-28 02:23] zhoxing-ms commented on #18624
@alexagr Could you please use the command `az upgrade --yes` to upgrade the CLI to the latest version and then try again to see if you can reproduce this issue?

[2022-02-28 02:27] jiasli commented on #21443
@millanie, you can see from the source code that currently "VM SSH currently doesn't support managed identity or Cloud Shell":

https://github.com/Azure/azure-cli/blob/2e0a42f304f5fd543818a98a9eab2faf8d1fd6d6/src/azure-cli-core/azure/cli/core/auth/adal_authentication.py#L21-L23

We are working on it.

@ozbillwang, for Cloud Shell, there is a workaround: you may manually run `az login (--service-pr

[2022-02-28 02:44] yonzhan commented on #21456
route to Service team

[2022-02-28 02:53] jsntcy commented on #19298
Will fix and release on 4/5.

[2022-02-28 03:28] kairu-ms commented on #21292
Hi @zaynchen115, we cannot support this feature unless python SDK with api version 2021-08-01 is public released.

[2022-02-28 03:29] kairu-ms commented on #21165
Hi @gk-ms, we cannot support this feature unless python SDK with api version 2021-08-01 is public released.

[2022-02-28 03:49] chinadragon0515 opened #21457 "Az cli add additional new line into string output"
For command like
az k8s-extension show \
    --cluster-type connectedClusters \
    --cluster-name $clusterName \
    --resource-group $groupName \
    --name $extensionName \
    --query id \
    --output tsv > id.txt

If we open id.txt, we can see it has string with additional new line, and this is some for other commands like az monitor related cli.

This will cause some issue when to use these

[2022-02-28 03:57] yonzhan commented on #21457
route ton CXP team

[2022-02-28 05:33] navba-MSFT commented on #21447
@[bruno-salapic](https://github.com/bruno-salapic)  Apologies for the late reply. Thanks for reaching out to us. In both v4 and v6 version of Azure Redis, cache, scaling down to C0 (250 MB) size is unsupported. The same has been documented in our article. Refer [this](https://docs.microsoft.com/en-us/azure/azure-cache-for-redis/cache-how-to-scale#operations-that-arent-supported). 

&gt;You can't s

[2022-02-28 05:53] PARADISSEEKR commented on #21423
Hi @kangsun-ctrl, Could you please provide a swagger link for python.

[2022-02-28 05:54] navba-MSFT commented on #21344
@CoffeeExpress We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-02-28 05:54] #21344 closed

[2022-02-28 05:57] navba-MSFT commented on #21377
@lsnliu I wanted to do quick follow-up to check if you had a chance to look at my above comment. Awaiting your reply.

[2022-02-28 05:59] kairu-ms commented on #21457
It seems `-o tsv` will add a newline at the end of output.

[2022-02-28 06:06] kairu-ms commented on #21457
This part of logic is in knack. @jiasli Could you have a look. Thanks. https://github.com/microsoft/knack/blob/d407b81d451d36c6ca1baeb3cd067a3f1275cb85/knack/output.py#L231-L258

[2022-02-28 06:37] necusjz commented on #21426
@irenehua, I'm aware that "queryInboundNatRulePortMapping" (mentioned in the doc) is not shown in the above swagger link. But shown in ".../stable/2021-05-01/...", is it the correct link?

[2022-02-28 07:14] lsnliu commented on #21377
@navba-MSFT sorry missed your last email.  Is this the chunk you want?

![image](https://user-images.githubusercontent.com/2326746/155940109-5623c125-1567-4963-b2b0-c4a165c169a5.png)

[2022-02-28 07:15] navba-MSFT commented on #10229
@thelethalkind Apologies for the late reply. We are looking into this issue. We will update this github thread once we have more details on this.

cc @Saglodha

[2022-02-28 08:21] zhoxing-ms commented on #21436
This should be a service related issue. For the same REST request
[code]

One request returned data: **'x-ms-correlation-request-id': 'c6d303a1-5c58-47d2-965a-486f0f486635'**

Another request did not return data: **'x-ms-correlation-request-id': '196cb60e-3d5a-414d-85b1-e698cb121b2f'**

[2022-02-28 08:22] navba-MSFT commented on #21377
@lsnliu Thanks for getting back. I am discussing this internally. In the meantime, I also did some quick research on the above error, I could see a compatibility issue with Python 3.10 version. If you have a requirement to use just Python 3.10, could you please check these 2 threads [this](https://github.com/platformio/platformio-home/issues/3316) and [this](https://github.com/Kozea/pygal/issues/5

[2022-02-28 08:29] navba-MSFT commented on #12903
@gandhirajan @kvendingoldo Apologies for the late reply. We are looking into this issue. We will update this thread once we have more details on this.

@jfggdl Could you please look into this issue and provide an update on this ? Awaiting your reply.

[2022-02-28 08:39] lsnliu commented on #21377
@navba-MSFT as I mentioned before, I have work arounds.  This ticket is solely to notify you that such a bug exists with 3.10.  I do not need this ticket resolved.

[2022-02-28 08:54] MCKLMT commented on #19908
Hi @kairu-ms
I will check with the customer but we definitely need to fix this nonsense error message!
Thanks

[2022-02-28 08:57] jonie001 commented on #20346
"Sync" is a one-way synchronization from local to container. Local files will not change.

The results of the four scenarios are as follows:

1. Files exist locally, but no on the remote: Files will be uploaded to the container, local files will not change.
2. Files exist on the remote, but not locally: Files will be deleted from the container, local files will not change.
3. The same file exists

[2022-02-28 09:10] Wwwsylvia commented on #14774
@MS-sraghuwanshi Does [this](https://github.com/Azure/azure-cli/issues/14774#issuecomment-892584901) solution work for you?

[2022-02-28 09:12] MS-sraghuwanshi commented on #14774
waiting for our client to try this

[2022-02-28 09:28] Phoenix1112 commented on #21449
@kairu-ms I don't have any commands for this. I did some research just to explore this feature and couldn't find the right command.

When you look at the picture below, azure does not allow this because the dns name I want to use is used.

"DNS name must be available."

![Ekran Görüntüsü (121)](https://user-images.githubusercontent.com/42475284/155957966-af2fb14d-b40d-47fc-9cff-c96b0202a229.png)

[2022-02-28 09:30] Wwwsylvia commented on #19968
@Konnor5092 Does [this](https://github.com/Azure/azure-cli/issues/19968#issuecomment-1015607984) help?

[2022-02-28 09:34] navba-MSFT commented on #20127
@nomchom Apologies for the late reply. Could you please run the below commands in order and then let us know if you still face this issue ?

Then run [this](https://docs.microsoft.com/en-us/cli/azure/eventhubs/namespace?view=azure-cli-latest#az-eventhubs-namespace-create) EventHub command to create an EH resource. Please let me know if you still run into any issues. Awaiting your reply.

[2022-02-28 09:41] navba-MSFT commented on #20416
@gabriel-kohen-by Apologies for the late reply. Thanks for sharing the feedback. A PR Azure/azure-cli#21460 has been filed to address this issue. It is being reviewed now. In the meantime, if you have any questions, please feel free to ask. Awaiting your reply.

[2022-02-28 10:18] navba-MSFT commented on #21377
@lsnliu Thanks for your reply. I am involving the Service Team to look into this and provide an update.

@azureml-github Could you please look into this issue once you get a chance ?

[2022-02-28 10:30] CCostaT commented on #19042
Hi @v-mohithgc . I'm not entirely sure what could be wrong but It seems you are installing and cleaning stuff in the wrong order.

Your docker file installs the `locales` package and imediately deletes the downloaded files

[code]
and only afterwards do you install all the other required packages:
[code]

What I did was install everything using one `apt-get install -y <packages>`, then clean all c

[2022-02-28 11:10] callumhester commented on #21418
I've added '[]' to the metrics file but it still fails. It looks to be failing on the AKSlogs.json file rather then the aksmetics.json file.

Thanks

[2022-02-28 13:24] navba-MSFT commented on #14193
@BassamBallaji Apologies for the late reply. The same issue has been discussed [here](https://docs.microsoft.com/en-us/answers/questions/42264/connectors-to-applications-azureeventgrid-is-not-c.html). Please check if the suggestion provided there helps in your scenario. Also this issue is open for quite sometime. Please let me know if you need any further assistance on this. Awaiting your reply.

[2022-02-28 14:52] heyitsmekishore opened #21461 "`az aks check-acr`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks check-acr`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks check-acr --name {} --resource-group {} --acr {}`

## Expected B

[2022-02-28 16:01] jamessmith-ab commented on #21454
Thanks @SubhashVasarapu-MSFT, that was the issue.  I upgraded to 2.33 and the command worked fine.

[2022-02-28 16:01] #21454 closed

[2022-02-28 16:13] alex-frankel commented on #21417
It looks like we do not support this header and we do not have any work scheduled at the moment to start supporting it.

[2022-02-28 16:30] #17193 closed

[2022-02-28 16:55] calvinsID commented on #16719
@nexxai apologies for the delayed response. What CLI action enables this flag?

[2022-02-28 16:59] calvinsID commented on #16399
This scenario is not supported in `az webapp up`, as it assumes csproj is in the same directory/subdirectories. We should add better error handling to gracefully error

[2022-02-28 17:50] dannmichelson commented on #20901
I'm still seeing this issue. This should be a bigger deal because people may be intending to modify a staging slot but end up modifying their production slot, causing unexpected production restarts!!

[2022-02-28 18:06] dayland opened #21462 "NoRegisteredProviderFound for 'az synapse spark pool' for AzureUSGovernment environment"
## Describe the bug
When trying to access a spark pool in environment AzureUSGovernment, none of the available Azure CLI profiles match the resource provider versions available in the sovereign cloud.

**Command Name**
`az synapse spark pool show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive infor

[2022-02-28 18:10] kurt-mueller-osumc opened #21463 "az postgres throws a python error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az postgres`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az postgres`

## Expected Behavior

## Environment Summary
[code]
## Additio

[2022-02-28 18:18] #21418 closed

[2022-02-28 19:13] StrawnSC commented on #19747
I encountered this bug when running `az webapp up` on a windows node app that already exists

[2022-02-28 19:37] Qi77Qi opened #21464 "az login fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-02-28 19:37] snowsky commented on #21436
Thanks @zhoxing-ms, how can we inform service team?

[2022-02-28 19:39] StrawnSC opened #21465 "`az staticwebapp update` should have `-g/--resource-group` param"
**Is your feature request related to a problem? Please describe.**

If you have two static webapps with the same name (in different RGs) you can't specify which one to make the update to

**Describe the solution you'd like**

`az staticwebapp update` should have `-g/--resource-group` param

**Describe alternatives you've considered**

Allow `-n/--name` to take an RID

**Additional context**

[2022-02-28 19:47] StrawnSC commented on #21186
I also need to fix this for `az staticwebapp identity assign`:

<img width="1439" alt="Screen Shot 2022-02-28 at 11 46 43 AM" src="https://user-images.githubusercontent.com/10121214/156048621-fdc637b8-9f9d-46f9-b8c6-3027a4bd5fb3.png">

It seems this feature is only available for the standard SKU, but the error message here is simply the unhelpful `Bad Request`

[2022-02-28 20:41] billxu2007 opened #21466 "Failed connect from visual code to Azure Ubuntu VM, any method to run applications on the Azure Linux VMs?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network bastion ssh`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network bastion ssh --name {} --resource-group {} --target-res

[2022-02-28 21:42] jackrichins opened #21467 "Default Key Policy Parameter for CVM Disk Encryption"
**Resource Provider**

Azure Key Vault

**Description of Feature or Work Requested**

az keyvault key create --default-cvm-policy
Passes a default policy to be specified by CVM team.

**Minimum API Version Required**

7.3

**Swagger Link**

**Target Date**

[2022-02-28 21:49] ozbillwang commented on #21443
Thanks @jiasli

The workaround works.

[2022-02-28 22:33] cbellee opened #21468 "Add integer exit code for 'az deployment group what-if' command"
**Is your feature request related to a problem? Please describe.**
When using the what-if feature in a deployment pipeline, it would be much easier to parse an integer exitcode that many lines of text. In a similar way to the Terraform command's [--detailed-exitcode](https://www.terraform.io/cli/commands/plan#detailed-exitcode)  flag, which returns 0,1 or 2.  This would allow a pipeline script to

[2022-02-28 23:15] yonzhan commented on #21468
ARM

[2022-02-28 23:16] irenehua commented on #21426
@necusjz you are correct. Let's use the latest swagger which is 2021-05-01. Thanks for catching this!

[2022-02-28 23:17] yonzhan commented on #21467
keyvault

[2022-02-28 23:19] yonzhan commented on #21466
route to CXP team

[2022-02-28 23:19] yonzhan commented on #21465
route to CXP team

[2022-02-28 23:20] yonzhan commented on #21464
@jiasli for awareness

[2022-02-28 23:21] yonzhan commented on #21463
route to CXP team

[2022-02-28 23:22] yonzhan commented on #21462
route to CXP team

[2022-02-28 23:23] yonzhan commented on #21461
route to CXP team

[2022-03-01 00:11] kangsun-ctrl opened #21470 "CLI request for community gallery list"
**Is your feature request related to a problem? Please describe.**

For azure compute gallery, from https://github.com/Azure/azure-cli/issues/19882, we have GET community gallery/image/version and LIST community image/version. The LIST community galleries call is missing there because we do not have API level support for it.

**Describe the solution you'd like**

Currently on portal we plan to rep

[2022-03-01 00:24] yonzhan commented on #21470
compute

[2022-03-01 01:04] ynden commented on #20921
Hey!

Can you try this:
[code]
It should return: C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\Lib\site-packages\certifi\cacert.pem

Then use:
[code]
Basically we are explicitly giving to the "requests" library the path to the cacert (which it should do behind the scene even if you don't pass a value into the 'verify' param)

If that command returns "200", you might have something that is confl

[2022-03-01 06:27] zhoxing-ms commented on #21468
@Shenglol Could you help take a look at the feature request related to what-if commands?

[2022-03-01 06:45] #21433 closed

[2022-03-01 07:00] zhoxing-ms commented on #21436
Don't worry. After we label this issue as `CXP Attention`, our CXP team will route the issue to service team. If this issue does not receive a timely reply, please tell me again and I will find the relevant team

[2022-03-01 07:11] ringerc commented on #7387
I was stunned to find that my diagnostic Docker containers grew by over 1GB when I installed the Azure CLI. This is ... astonishing.

[2022-03-01 07:35] RunCai commented on #21467
Hi, here is default CVM key release policy json file.

{
    "anyOf": [
        {
            "allOf": [
                {
                    "claim": "x-ms-attestation-type",
                    "equals": "sevsnpvm"
                },
                {
                    "claim": "x-ms-compliance-status",
                    "equals": "azure-compliant-cvm"
                }
            ],

[2022-03-01 08:00] #21163 closed

[2022-03-01 08:00] #9104 closed

[2022-03-01 08:10] zhoxing-ms commented on #21417
@alex-frankel Just curiosity, why only  [create-or-update-at-group-scope](https://docs.microsoft.com/en-us/rest/api/resources/deployments/create-or-update) supports `x-ms-authorization-auxiliary` , but [create-or-update-at-subscription-scope](https://docs.microsoft.com/en-us/rest/api/resources/deployments/create-or-update-at-subscription-scope) does not support `x-ms-authorization-auxiliary` , is

[2022-03-01 08:35] #20718 closed

[2022-03-01 11:02] itpropro commented on #21417
@alex-frankel what is the current way to deploy a bicep or arm template for a VM that is based on a Azure Compute Gallery image from another tenant? This is a common problem I have and I would really like to know what the Microsoft recommended way is, as the base recommendation is to use IaC wherever possible.

[2022-03-01 12:05] DanoThom commented on #20892
Can we get an update on this please. I've been dealing with this issue for several months now and it seems very hit or miss as to whether this az cli request works or not. If it was broken then I'd be more understanding but the variability of the request succeeding is most frustrating. Also, I've tried with both public network access and allow blob public access enabled and I still get this issue:

[2022-03-01 12:53] bb980701 opened #21475 "az storage fs file exists utf-8' codec can't encode characters in position"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage fs file exists`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Set a files on a blob containing é è   french character like 131318-(n) Hamilton Densité.JPG
- `az stor

[2022-03-01 13:10] arambazamba opened #21476 "Use az ad app create to creata a SPA"
Could you please provide a sample on how to create an app registration of type SPA. When using:

az ad app create --display-name $app-ui --required-resource-accesses @manifest-ui.json \
    --oauth2-allow-implicit-flow false \
    --reply-urls $urlUI --query appId -o tsv

the resulting replyUrlsWithType is always

"replyUrlsWithType": [
  {
	  "url": "http://localhost:4200",
	  "type": "Web"
  }
]

[2022-03-01 13:14] yonzhan commented on #21475
storage

[2022-03-01 13:15] yonzhan commented on #21476
@jiasli for awareness

[2022-03-01 14:30] nosvalds opened #21477 "az storage blob upload-batch returns ErrorCode:BlobAlreadyExists error v2.34.0 on upload"
**Describe the bug**
Trying to upload a file to the '$web' container for a static site with `az storage blob upload-batch` from GitHub Actions is failing on the latest version of the cli [v2.34.0](https://github.com/Azure/azure-cli/releases/tag/azure-cli-2.34.0) saying that the blob already exists. The errors says to use `--overwrite`.

[code]

Adding --overwrite command results in this error:
[co

[2022-03-01 15:44] Kamran-Bilgrami commented on #20886
Any comment/update about this?

[2022-03-01 16:12] alex-frankel commented on #21417
@bmoore-msft -- do you happen to know anything about this? My understanding is that cross-tenant VM image access is possible in some capacity, but I do not know the details. It might also be helpful to reach out to someone on the compute team via a support case if we can't figure it out here.

[2022-03-01 16:30] petemounce commented on #20695
+1 azure CLI `2.30.0` and `2.34.0`.

This blocks me while remotely provisioning on-premise machines via ansible (or anything really).

I (probably; about to embark on this) have to work around the issue by authenticating as the service principal locally then copying up my `~/.azure` to the remote nodes.

That in turn means I need to carefully account for not accidentally publishing my own personal

[2022-03-01 16:35] italukder commented on #20848
Subject: International war tribunal protocol trust bord organization

Example
# International War Tribunal ( IWT)
1.Why do war?
2.international rule & war low.
3.International normal people sefe rul & war low.
4.international animal and forest sefe rule & war low
5.the basic elements of the international common man is safe war rule & low
6.international air pollution rule & war low.
international

[2022-03-01 17:33] heavenlyren commented on #18962
Is there any ETA for this ?

[2022-03-01 18:24] pushkarcMS commented on #21264
Any update here?  We are currently relying on portal XU to unblock us but this prevents us from completing e2e automation.  Any recommended workarounds besides the manual UX gen2 image creation?

[2022-03-01 18:36] sirfamelin commented on #21395
@PARADISSEEKR I see you have self-assigned this feature request, what are the next steps? Do you need more information from me?

[2022-03-01 20:52] btardif commented on #15271
🍻🍻🍻🍻🍻�
![EmotionsMishaGIF](https://user-images.githubusercontent.com/4119816/156246895-08f01aa0-21d2-482b-a6bb-3ac9c2cc552c.gif)
�

[2022-03-01 21:57] dejeroWilliamScott commented on #11315
I'm also interested in this feature.  We've manually expanded the scope as a workaround but have discovered a limit of 500 actions/scope group.  This would be reduced to 4~10 with the implementation of wildcard rules.

[2022-03-01 22:23] SaurabhSharma-MSFT commented on #21441
@FlorentATo I could see a System managed identity not a user assigned identity is being created when creating the cluster with `--enable-managed-identity`.  Please see below -
![image](https://user-images.githubusercontent.com/38112130/156258620-8894dfbf-6a34-4e9f-be72-cb326e0d04c2.png)

Also, agent pool user assigned managed identity with name like `<aks_cluster_name>-agentpool` is separate ident

[2022-03-01 22:52] snowsky commented on #21436
Awesome, thanks @zhoxing-ms

[2022-03-01 23:25] millanie commented on #21443
@jiasli
Thanks for the update. Is there an estimated date to support the managed identity?

[2022-03-01 23:28] yonzhan commented on #21477
storage

[2022-03-02 01:04] SaurabhSharma-MSFT commented on #21462
@dayland Have you tried updating the Azure CLI version to latest ?

[2022-03-02 01:19] kairu-ms commented on #20886
Hi @YuanyuanNi, Could you have a look? Thanks.

[2022-03-02 01:40] lmmarsano commented on #21453
@jiasli

[code]

`https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize?client_id=04b07795-8ddb-461a-bbee-02f9e1bf7b46`

[2022-03-02 01:42] zaidmohd commented on #19752
It was version issue, it was fixed with the updated version. Don't have the version details handy. Thanks

[2022-03-02 01:42] #19752 closed

[2022-03-02 02:00] zhoxing-ms commented on #21395
@sirfamelin `self-assigned` means that he will help develop this requirement. There is no need for other information at present. We will communicate with you when necessary, thanks for you help~

[2022-03-02 02:46] #20416 closed

[2022-03-02 02:53] evelyn-ys commented on #21477
@calvinhzy Can you help take a look? Might be a bug introduced by track2 migration

[2022-03-02 03:19] loudlumi opened #21481 "Az login command on cli fails: OSError: [WinError 13]"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-03-02 03:50] navba-MSFT commented on #19747
@StrawnSC Thanks for reaching out to us. This issue seems to be addressed Azure/azure-cli#14335. Could you please let us know if you are still facing this issue with [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the AzCLI ? If it does, Could you please share the `--debug` output along with the AzCLI version ? Awaiting your reply.

[2022-03-02 03:53] YuanyuanNi commented on #20886
Hi，
      I have tried this command in version 2.33.0/2.33.1/2.34.0  and all works well, maybe you can upgrade to the latest version (2.34.0) and try again, if you still have this issue, pls describe your pre condition in detail, thanks.
Best wishes.

[2022-03-02 04:26] yonzhan commented on #21481
@jiasli for awareness

[2022-03-02 04:32] jiasli commented on #21453
@lmmarsano, is this a Linux VM? What is the image you are using? How did you install GUI on that VM?

[2022-03-02 04:38] jiasli commented on #21481
We will investigate the root cause for this failure. Meanwhile, please see the workaround at https://github.com/Azure/azure-cli/issues/20278#issuecomment-965938701.

[2022-03-02 04:42] jiasli commented on #20695
@petemounce, though I don't fully understand your scenario, but **copying `~/.azure` to another computer is not a supported use case**. You should run `az login` on the "remote nodes", instead of copying it from somewhere else.

[2022-03-02 05:37] SubhashVasarapu-MSFT commented on #21450
@ptsapralis, The "az sf" commands only support ARM deployed applications. Try using [sfctl](https://github.com/MicrosoftDocs/azure-docs/blob/main/articles/service-fabric/service-fabric-sfctl-application.md#sfctl-application-type-list) here in this case.

[2022-03-02 05:37] navba-MSFT commented on #21466
@billxu2007 Thanks for reaching out to us. Could you please run the below command to install the _ssh_ extension ?

`az extension add --name ssh`

Then you can run [this](https://docs.microsoft.com/en-us/cli/azure/network/bastion?view=azure-cli-latest#az-network-bastion-ssh) command and check if that works. Please let me know if you face any issues. Awaiting you reply.

[2022-03-02 05:55] zhoxing-ms commented on #20966
duplicate with #20489

[2022-03-02 05:55] #20966 closed

[2022-03-02 05:56] zhoxing-ms commented on #20793
duplicate with https://github.com/Azure/azure-cli/issues/20489

[2022-03-02 05:56] #20793 closed

[2022-03-02 06:23] PARADISSEEKR commented on #21395
Hi @sirfamelin, I'm not sure how `--enable-integrity-monitoring` works, could you please provide an example, such as a swagger link.

[2022-03-02 06:26] anders2202 opened #21487 "Links to cert info not found."
[https://docs.microsoft.com/rest/api/keyvault/createkey/createkey#jsonwebkeycurvename](https://docs.microsoft.com/en-us/rest/api/keyvault/createkey/createkey#jsonwebkeycurvename).

And

[https://docs.microsoft.com/rest/api/keyvault/createkey/createkey#jsonwebkeytype](https://docs.microsoft.com/en-us/rest/api/keyvault/createkey/createkey#jsonwebkeytype).

retuns 404.

---
#### Document Details

⚠ *

[2022-03-02 06:54] calvinhzy commented on #21477
Hotfix is getting merged today. You can specify --overwrite to overwrite existing blobs. This is a breaking change as we believe overwriting silently is not a good default. Thanks.

[2022-03-02 06:54] #21477 closed

[2022-03-02 06:55] pallxk commented on #20713
Fixed in 2.32.0

[2022-03-02 06:55] #20713 closed

[2022-03-02 07:01] yonzhan commented on #21487
keyvault

[2022-03-02 07:16] navba-MSFT commented on #21465
@StrawnSC Thanks for reaching out to us. I see that you have created and assigned this issue to yourself. I just wanted to check if you will be working on this issue or need any assistance from the CXP team. Awaiting your reply.

[2022-03-02 07:22] navba-MSFT commented on #21434
@Segflow I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-03-02 07:23] jonie001 commented on #21235
Hi @Freia3 ,you can try the following:
az storage fs access set -f raw --acl "user::rwx,group::rwx,other::r-x,default:user::rwx,default:group::rwx,default:other::rwx" --account-name sa_name -p /

[2022-03-02 08:01] #19936 closed, assigned to nobody

[2022-03-02 08:01] #19824 closed, assigned to nobody

[2022-03-02 08:01] #19814 closed, assigned to nobody

[2022-03-02 08:01] #19735 closed

[2022-03-02 08:01] #19632 closed

[2022-03-02 08:01] #19566 closed

[2022-03-02 08:01] #14720 closed

[2022-03-02 08:01] #13760 closed

[2022-03-02 08:01] #8736 closed

[2022-03-02 08:01] #8650 closed

[2022-03-02 08:17] bb980701 commented on #21475
Unusual for english speaker yes, usual in french  :-)   character like  é è ç °

The strange stuff it is that under windows os with git terminal, no problem.
Same code under ubuntu docker , then problem arise

[2022-03-02 08:27] wibbico opened #21489 ""az synapse pipeline create" FROM "az synapse pipeline show" output does not work"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az synapse pipeline create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- az synapse pipeline show --workspace-name NAME-OF-WORKSPACE --name NAME-OF-PIPELINE_TO_COPY > NAME-OF-

[2022-03-02 09:03] Icybiubiubiu opened #21491 "Azcli API issu额"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2022-03-02 09:03] Icybiubiubiu opened #21492 "Azcli API issue: No registered resource provider found for location 'chinaeast2' and API version '2022-01-02-preview' for type 'managedClusters'"
**Describe the bug**

when use latest azcli in Mooncake/ChinaAzure, always found API issue as bellow:

Message: No registered resource provider found for location 'chinaeast2' and API version '2022-01-02-preview' for type 'managedClusters'. The supported api-versions are '2017-08-31, 2018-03-31, 2019-02-01, 2019-04-01, 2019-06-01, 2019-08-01, 2019-10-01, 2019-11-01, 2020-01-01, 2020-02-01, 2020-03

[2022-03-02 09:12] LynAutumn commented on #21477
Overwrite is not working for me either, failing with:

`ERROR: argument --overwrite: expected one argument`

[2022-03-02 09:13] #21491 closed

[2022-03-02 09:19] DragonBale commented on #21477
You need to do
`--overwrite true`

[2022-03-02 09:21] qmacro commented on #19529
Thanks! 👍

[2022-03-02 09:23] yonzhan commented on #21492
route to CXP team

[2022-03-02 10:07] ozcanbecoms commented on #21477
Thanks you @DragonBale

`--overwrite true `
works well

[2022-03-02 10:34] pkoziol opened #21494 "az storage blob upload fails with --content-md5 fails on azure-cli 2.34.0"
## Describe the bug

**Command Name**
`az storage blob upload ... --content-md5 ...`

**Errors:**
[code]

## To Reproduce:

- `echo 12765 > /tmp/upload-test-12765.txt`
- `openssl dgst -md5 -binary /tmp/upload-test-12765.txt | base64`
- `az storage blob upload --verbose --container-name stuff-and-things --file /tmp/upload-test-12765.txt --content-md5 y3N9S9wst5SO/myHRqM1uQ== --name dev/test-12765.t

[2022-03-02 10:35] yonzhan commented on #21494
storage

[2022-03-02 11:02] Saglodha commented on #20823
Hi @mdroogendijk , thanks for bringing this to our attention.

We would review the behavior and keep you posted with updates.

[2022-03-02 11:11] Saglodha commented on #20499
Hi @mkistler , can you please confirm if you are having any namespaces in subscription where you are running the list command?

If there are none, then this looks to be a duplicate of #18866

[2022-03-02 11:31] keyss-manoj opened #21495 "Not able to deploy app by zip"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2022-03-02 11:45] navba-MSFT commented on #12721
@happyiphone Apologies for the late reply. Could you please let us know if you are still facing this issue with [recent version ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli)of the CLI ? Awaiting your reply.

[2022-03-02 11:51] navba-MSFT commented on #12885
@mattcuk @e14mattc Apologies for the delayed response. Could you please let me know if you are still facing this issue ? Awaiting your reply.