[2020-08-14 08:30] jsntcy opened #14789 "Webapp:Enable AI on web app"
**Resource Provider**
Microsoft.Insights

**Description of Feature or Work Requested**
We add all functionalities in AI commands instead of in web app commands for APM 2.1.

`az monitor app-insights component connect-webapp –ids resource-id-for-webapp --enable-profiler false --enable-snapshot-debugger`
`az monitor app-insights component connect-webapp -g rg -n myApp --enable-profiler false --enabl

[2020-08-14 08:32] jsntcy opened #14790 "Enable AI for Functions"
**Resource Provider**
Microsoft.Insights

**Description of Feature or Work Requested**
We add all functionalities in AI commands instead of in functions commands for APM 2.1.

**Add a new command**
`az monitor app-insights component connect-function –g rg -app myAI --function resource-id-for-function`  (using function resource id)
`az monitor app-insights component connect-function –g rg -app myAI

[2020-08-14 08:48] synergiator commented on #14773
Please check this scenario: no subscriptions avaiable in an Enterprise account. Azure CLI issues this finding as error.

[2020-08-14 09:22] yonzhan commented on #14789
for ignite

[2020-08-14 09:22] jiasli commented on #14634
I see you are using `interactive`. Unfortunately, currently `interactive` doesn't work with `--output table`. You may use the normal CLI to execute those commands.

Thanks for your understanding.

[2020-08-14 09:23] yonzhan commented on #14790
feature request

[2020-08-14 09:34] Shahar-do commented on #14634
Thank you for this comment.
I would like to point out that the error "Table output unavailable. Use the --query option to specify..."
Is extremely confusing, and it sure does not say that this feature is simply unavailable in interactive mode.
Should I open another bug about it? or open a feature request?

[2020-08-14 10:28] mepand commented on #14280
[Sample policy.docx](https://github.com/Azure/azure-cli/files/5073830/Sample.policy.docx)

@steharp Please refer the sample VM policy in the attached document. Copy it in a file and save it as Policy.json. Then execute the below command .

az backup policy set --resource-group rg1234 --vault-name testvault --policy C:\temp2\Policy.json --name testing123

[You can modify the policy path in the abov

[2020-08-14 12:19] nadworny opened #14792 "Cannot create a mongodb collection using azure cli with an index policy"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cosmosdb mongodb collection create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az cosmosdb mongodb collection create -a {} -g {}

[2020-08-14 12:24] nadworny commented on #14792
I'm one step further - the index.json has to be an array. So adding "[" and "]" fixed the first issue (btw please update your documentation as everywhere it's in a dict format --> https://docs.microsoft.com/en-us/azure/cosmos-db/manage-with-cli#create-a-container-with-a-custom-index-policy)

Now when I execute the command I get:
[code]

[2020-08-14 13:12] TomGeske commented on #14786
Sounds reasonable. @palma21: what do you think?

[2020-08-14 14:33] JayDoubleu commented on #13355
Any update on this ?

[2020-08-14 15:08] EelcoLos commented on #14723
Updated to Version: 1.1.2233.0. Either that, rbac, az remote updates resolved the issue

[2020-08-14 15:23] anuradhaarao commented on #14729
To add to this, I tried it in a separate env(VM) and did a fresh installation of python, pip and azure-cli.

az --version output:
![azversion](https://user-images.githubusercontent.com/40577033/90265357-774bd680-de20-11ea-8166-e13bd73bb973.png)

But i still get the same error, so I am assuming it is a package installation error. It shows the package is installed.

[2020-08-14 16:10] pavankumarda2136 commented on #14778
Hi @mybayern1974 , I have followed the same steps before I posted my issue here. However, there might be an issue with azure-cli 2.6.0 * when working on terraform. so, downgrading my azure cli to different version solved my issue. Thank you everyone !

[2020-08-14 16:23] yonzhan commented on #14792
cosmosdb

[2020-08-14 16:24] #14723 closed

[2020-08-14 17:00] esnell-midmark commented on #5841
used the set HTTP_Proxy and HTTPS_Proxy commands and that didn't work, but checked settings and there was an "all_proxy" value as well ;
used set all_proxy=
and that fixed the issue
.... end result all "proxy" settings are blank

[2020-08-14 17:37] chenlomis commented on #14781
@Juliehzl  Thanks for the investigation!
Surprisingly I actually do have the _helloworld_ file in the directory...
And gave it another try given your recommendation
But it seems like there's additional permissions needed/required ...
![image](https://user-images.githubusercontent.com/30876406/90277106-d9550d80-de19-11ea-8f41-edbcd5a1bb80.png)

[2020-08-14 17:50] amchaney opened #14793 "Self signed certificate error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az dls fs list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az dls fs list --account {} --path {}`

## Expected Behavior

## Environm

[2020-08-14 17:52] quantrpeter opened #14794 "unable to install in mac"
Hi
    latest mac os, installed python and az by homebrew. Bug:

[code]

thanks
Peter

[2020-08-14 17:52] stewartadam commented on #14086
@jiasli imho this issue should not be closed, it is an active issue with the Azure CLI:
1. The `az ad app update` has a `--set` flag that fails on certain values or properties
2. The docs and helpstring don't mention what the "complex" unsupported scenarios are

This should at least be documented, and while I understand AD Graph vs MS Graph is the technical reason behind the limitation, from a use

[2020-08-14 17:57] MehaKaushik commented on #14792
Thanks @nadworny for bringing this to our notice. Is there any other issue you are facing ?

[2020-08-14 20:40] amchaney commented on #14793
due to corporate VPN

[2020-08-14 20:40] #14793 closed

[2020-08-14 20:44] gzuber opened #14795 "[AppService] Linux Dedicated with custom image shouldn't set FUNCTIONS_WORKER_RUNTIME"
When creating a Linux Dedicated functionapp with a custom image, the cli is setting FUNCTIONS_WORKER_RUNTIME to dotnet. This config should be set to null seeing as the custom image doesn't have to be dotnet.

[2020-08-14 21:21] #14758 closed

[2020-08-14 22:02] markjbrown commented on #14792
You can't use an index policy for SQL API for a MongoDB collection.

Please refer to the example here for how to create indexes for MongoDB API collection.
https://docs.microsoft.com/en-us/azure/cosmos-db/scripts/cli/mongodb/create

Thanks.

[2020-08-14 22:41] mgrandi opened #14796 "CONTRIBUTING.rst has a broken link"
**Describe the bug**
https://github.com/Azure/azure-cli/blob/dev/CONTRIBUTING.rst at revision  5173fd1 has a broken link, the `Microsoft Azure Projects Contribution Guidelines` link goes to `http://azure.github.io/guidelines.html` which is a HTTP 404

**To Reproduce**
click on the link in CONTRIBUTING.rst

**Expected behavior**
that it should link to a page where it shows the azure project contrib

[2020-08-14 23:52] yonzhan commented on #14795
AppService

[2020-08-14 23:56] yonzhan commented on #14796
add to S175

[2020-08-15 00:00] sysadmin-exe opened #14798 "Az image list does not work"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm image list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm image list`

## Expected Behavior

## Environment Summary
[code]

[2020-08-15 03:16] yugangw-msft commented on #14768
We will prioritize based on user voice on https://feedback.azure.com/forums/903958-azure-container-registry

[2020-08-15 12:06] jayendranarumugam commented on #14708
Thanks you all for fixing the bug. I just came across another one https://github.com/MicrosoftDocs/azure-docs/issues/60927. Not sure really it is a bug in the code or docs issue. Just putting it here FYI.

Cc: @idear1203  @fengzhou-msft

[2020-08-15 13:50] yungezz commented on #14798
hi @sysadmin-exe could you pls check if it's same issue as https://github.com/Azure/azure-cli/issues/14011?

[2020-08-15 13:53] yungezz commented on #14794
hi @fengzhou-msft could you pls help to have a look?

[2020-08-15 14:20] digeler commented on #14769
PS C:\Users\digeler> az extension add -n kusto
Extension 'kusto' is already installed.

same result:
az_command_data_logger : command args: kusto cluster create -l {} -n {} -g {} --sku {} --capacity {} --debug
metadata file logging enabled - writing logs to 'C:\Users\digeler\.azure\commands'.
Event: CommandInvoker.OnPreArgumentLoad [<function register_global_subscription_argument.<locals>.add_subs

[2020-08-15 19:11] cutty201 commented on #2940
YOu guys are awful --- return the Approximate Message count --- you are so full of yourselves --- it comes in when you make the call and you are so terrible even with "VERBOSE" on you will not show me those headers --- for what purpose? you guys are terribly shameful --- your Azure Cli has the data and you wont release it to me --- this is really awful --- if Computers had rights this would defini

[2020-08-16 03:30] fengzhou-msft commented on #14653
@carlowahlstedt It looks like the code itself cannot pass in Python 3.8. Please do not use the config file for Python 3.8 before we release the fix. You can specify the endpoint with command options:
`az cloud register -n test --endpoint-resource-manager "https://management.usgovcloudapi.net/" --endpoint-active-directory "https://login.microsoftonline.us" --suffix-acr-login-server-endpoint ".azure

[2020-08-16 05:24] robdmoore commented on #12860
Hi @zhoxing-ms,

I'm confused. I've seen a number of reports like this one that `az group deployment` is being deprecated for `az deployment group`, but I've just updated to the latest version of az CLI and I don't get the deprecation warning, and the `az group deployment` docs pages don't mention it either:

![image](https://user-images.githubusercontent.com/573791/90327194-bbc3a780-dfc3-11ea-82a

[2020-08-16 07:28] sysadmin-exe commented on #14798
HI @yungezz, yea, must be related as the resolution fixed the issue. Thanks

[2020-08-16 07:52] fengzhou-msft commented on #6409
Close due to inactivity. Please try the latest `azure-cli` and feel free to open a new issue if any problem.

[2020-08-16 07:52] #6409 closed

[2020-08-16 10:01] kallsu opened #14799 "Azure-CLI WebApp Create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az appservice plan create --name {} --resource-group {} --sku FREE `
- `az webapp create --resource-group {} --

[2020-08-16 10:52] fengzhou-msft commented on #13691
@nrobert The `azure-cosmos` package is upgraded in this [PR](https://github.com/Azure/azure-cli/pull/14372/files#diff-a2ee9569f39205b90420fb434778cf6c) and is targeted to be released on August 25 with `2.11.0`.

[2020-08-16 11:00] fengzhou-msft commented on #13563
@deephack1982 feel free to submit PRs for the snap package. There is a [.snapcraft.yaml](https://github.com/Azure/azure-cli/blob/dev/.snapcraft.yaml) that was not touched for a while.

[2020-08-16 11:28] fengzhou-msft commented on #10506
Close due to inactivity. Please try the latest version of `azure-cli` and feel free to reopen the issue or submit a new one if it still has a problem.

[2020-08-16 11:28] #10506 closed

[2020-08-16 11:48] yonzhan commented on #14799
webapp

[2020-08-16 13:05] zhoxing-ms commented on #12860
@robdmoore Sorry, I cannot reproduce your question, and the prompt message of deprecate on my side is as follows:
[code]
May I ask how you install CLI and what is the specific environment you use?

The document does not mention the deprecate information which is a known issue, and we have a long-term plan to improve it in the future

This command `az group deployment` is still be deprecated, so pl

[2020-08-16 14:12] ayush3298 opened #14800 "Webapp:No module named 'decorator'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config container set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config container set --name {} --resource-group

[2020-08-16 14:18] nomula commented on #6409
for some reason all these emails went to my junk folder and so i missed to reply .....
I will try installing latest cli and please don't close the case until i response in next couple days ....
________________________________
From: Feng Zhou <notifications@github.com>
Sent: Sunday, August 16, 2020 3:52 AM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Nomula, Ravi <Ravi.Nomula@LibertyMutu

[2020-08-16 14:28] fengzhou-msft commented on #14120
Added a task to publish to winget in our release pipeline.

[2020-08-16 14:28] #14120 closed

[2020-08-16 18:02] sam-cogan commented on #14596
@yugangw-msft how does that help in a multi region setup? If you have multiple vNets peered you need service endpoints in each region, otherwise if the region with the PE goes down you loose all connectivity.

[2020-08-16 22:27] yonzhan commented on #14800
webapp

[2020-08-17 01:41] yungezz commented on #14798
thanks for the update. Will close the issue for now, pls feel free to create new issue if any other ask.

[2020-08-17 01:41] #14798 closed

[2020-08-17 01:44] yungezz commented on #14800
duplicate with https://github.com/Azure/azure-cli/issues/13343. hi @ayush3298 did you install azure-cli via pip? If yes, it might caused by situation in https://github.com/Azure/azure-cli/issues/13343#issuecomment-635811624.  Could you pls install decorator? Recommended way to install azure cli is there: https://github.com/Azure/azure-cli/issues/14011

[2020-08-17 01:46] yungezz commented on #14799
same issue with https://github.com/Azure/azure-cli/issues/14758. fixing in latest azure cli release.

[2020-08-17 01:50] Juliehzl commented on #14796
Hi @mgrandi, I think the right cod you want should be https://github.com/Azure/azure-cli/tree/dev/doc/authoring_command_modules.

[2020-08-17 01:55] Juliehzl commented on #14796
please also sync with the latest dev branch

[2020-08-17 01:57] jiasli commented on #14230
Hi $ az ad app permission admin-consent --id b9df9246-f8c2-4505-8556-814b7ecc95a9
The command failed with an unexpected error. Here is the traceback:

400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 215, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/

[2020-08-17 02:00] zhoxing-ms commented on #14219
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-08-17 02:00] #14219 closed

[2020-08-17 02:17] jiasli commented on #14634
@Shahar-do, thanks for the feedback. However, `az interactive` is not being actively maintained. We would recommend always using the normal `az` commands.

[2020-08-17 02:17] #14634 closed

[2020-08-17 02:22] fengzhou-msft commented on #11613
I have verified that `pywin32.pth` is honored by the embeddable Python in MSI and we don't need these patch code now.

[2020-08-17 02:23] jiasli commented on #14773
These messages are triggered by **telemetry** module which tries to get the **current user** and **subscription**:

[code]
[code]

I believe this message only appears in the `--debug` log which has been suppressed by

https://github.com/Azure/azure-cli/blob/04210197837bbceb547f86df7f086a42c96e0d2a/src/azure-cli-core/azure/cli/core/decorators.py#L68-L81

It this log causing any side-effect to your

[2020-08-17 02:25] Juliehzl commented on #14781
It is because you doesn't grant RBAC roles for your storage account. To grant rbac roles, you could refer to the document here https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-rbac-portal in portal and  https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-rbac-cli?toc=/azure/storage/blobs/toc.json in azure cli.

I will recommend you to grant at least `Storag

[2020-08-17 02:45] jiasli commented on #14778
@pavankumarda2136, glad to know the issue is solved for you. However, I don't think this is related to Azure CLI's version. We recommend always using the [latest version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest). Could you try the latest version and see if the issue persists?

[2020-08-17 03:02] jiasli commented on #5841
Azure-RM is built on PowerShell which has different network logic as Azure CLI, which is built on Python.

If you are still facing the same issue with Azure CLI, please check your proxy setting and set [`HTTP_PROXY`, `HTTPS_PROXY`](https://2.python-requests.org/en/master/user/advanced/#proxies) or [`ALL_PROXY`](https://2.python-requests.org/en/master/community/updates/#id37) correctly, especially

[2020-08-17 04:39] jiasli commented on #5841
@esnell-midmark, [`HTTP_PROXY`, `HTTPS_PROXY`](https://2.python-requests.org/en/master/user/advanced/#proxies) and [`ALL_PROXY`](https://2.python-requests.org/en/master/community/updates/#id37) should have the same effect.

Could you try directly invoking `requests`?

[code]

It will be great if you can create a new issue with detailed **error message** and **proxy configuration** provided. Thanks

[2020-08-17 04:50] jiasli commented on #5841
BTW, I have created https://github.com/psf/requests/issues/5558 to [requests](https://github.com/psf/requests) to report the missing `ALL_PROXY` doc.

[2020-08-17 05:04] jiasli commented on #14086
@stewartadam, `--set` won't work without the underlying API support. AD Graph API simply doesn't have those functionalities.

The available properties that Azure CLI supports is described in the [AD Graph 1.6 REST spec](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json).

The plan to migrate to MS Graph is bei

[2020-08-17 05:40] qwordy commented on #13732
You can try `az resource tag` command.
https://docs.microsoft.com/en-us/cli/azure/resource?view=azure-cli-latest#az-resource-tag
Update operation should pass the whole model of the resource. So it contains image reference.
[code]
Could you share the PowerShell command that you use?

[2020-08-17 06:15] magodo commented on #14778
One similar [issue](https://github.com/terraform-providers/terraform-provider-azurerm/issues/5694#issuecomment-585949039) under WSL, fixed by following workaround:

[2020-08-17 06:52] haroldrandom commented on #14522
Yes. please :) . Appreciated in ahead for helping us to improve this, Thanks!

[2020-08-17 07:18] #14350 closed

[2020-08-17 07:18] #14351 closed

[2020-08-17 07:20] MyronFanQiu commented on #14745
@GhostInThePotato Thanks for the suggestion. Will work on it later.

[2020-08-17 07:55] jsntcy opened #14804 "[Breadth Coverage] Onboard Azure Stack HCI Commands"
**Spec Link**
https://microsoft.sharepoint.com/:w:/t/AzureManagementExperience/ESUpnBLbm3xEvFpNLxn25kYB3X7hHr10LNZlpDcT9OFJ3Q?e=XYCASy

**ADO Work Item Link**
https://dev.azure.com/azure-mgmt-ex/Onboarding/_workitems/edit/2757

**Resource Provider**
What is the Azure resource provider your feature is part of?
Microsoft.AzureStackHCI

**Description of Feature or Work Requested**
Support Azure CLI c

[2020-08-17 07:59] yonzhan commented on #14804
for Ignite

[2020-08-17 08:02] jsntcy opened #14805 "[Breadth Coverage] Onboard Project Spool Communication Platform Commands"
**Spec Link**
Not ready

**ADO Work Item Link**
https://dev.azure.com/azure-mgmt-ex/Onboarding/_workitems/edit/2939

**Resource Provider**
What is the Azure resource provider your feature is part of?
MICROSOFT.COMMUNICATION

**Description of Feature or Work Requested**
Support Azure CLI commands for Project Spool Communication Platform

**Minimum API Version Required**
2019-10-10-preview

**Swagge

[2020-08-17 08:03] nadworny commented on #14792
@markjbrown my bad! Thanks for a tip!

I've just tried with the following index file:
[code]

But now I get this error: `Index definition does not contains '_id' index specification.`

1. Any idea what am I doing wrong?

1. Also, for the _modifiedDate_ field I would like to define an index with sorting DESC, in mongodb this would be { "modifiedDate" : -1 }

[2020-08-17 08:06] yonzhan commented on #14805
for Ignite

[2020-08-17 09:35] #14575 closed

[2020-08-17 11:34] #14683 closed

[2020-08-17 11:35] synergiator commented on #14773
hi there, the current effect is the if there are no subscriptions the az cli issues an exist code 1.

[2020-08-17 13:08] ashinzekene opened #14809 "Set access policy for app configuration"
Please is there a script for setting access policies using managed identities for app configuration. I can't seem to find it on this page
Something like [az keyvault set-policy](https://docs.microsoft.com/en-us/cli/azure/keyvault?view=azure-cli-latest#az-keyvault-set-policy)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2020-08-17 13:50] yonzhan commented on #14809
appconfig

[2020-08-17 14:29] luigibk opened #14811 "dockerfile: add dockerignore override support"
**Is your feature request related to a problem? Please describe.**

There is currently no way to specify (or override) the `.dockerignore` file in the `acr build` command. This prevents multiple Dockerfile(s) to share the same context effectively.

**Describe the solution you'd like**

I suggest that different Dockerfiles define different subsets of the context files.
The frontend (e.g. `acr build

[2020-08-17 15:03] #11613 closed

[2020-08-17 15:14] petenorth commented on #8663
Would be really go to have this and hoping that it would print the  resource id of a log alert that I need to import into terraform state! Guess I'll have to do a manual REST API call ...

[2020-08-17 17:57] avanigupta commented on #14809
Hello @ashinzekene , the command group [az appconfig identity](https://docs.microsoft.com/en-us/cli/azure/appconfig/identity?view=azure-cli-latest) can be used to assign/remove/show managed identities. You can also assign managed identity during store creation by specifying `--assign-identity` argument with the command [az appconfig create](https://docs.microsoft.com/en-us/cli/azure/appconfig?view

[2020-08-17 18:57] esnell-midmark opened #14812 "AZ Login and Request call fails when there is a value in the environment variables for proxy (all_proxy, https_proxy, http_proxy)"
**Describe the bug**
403 error when a proxy is in place
requests.exceptions.ProxyError: HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: / (Caused by ProxyError('Cannot connect to proxy.', OSError('Tunnel connection failed: 403 Forbidden',)))

**To Reproduce**
have a value set in all_proxy
This is set when a company uses secure tools, e.g. ZScaler
e.g

[2020-08-17 18:58] esnell-midmark commented on #5841
@jiasli  I created https://github.com/Azure/azure-cli/issues/14812 to track the bug with all_proxy setting

[2020-08-17 19:09] feiyushi opened #14813 "az image builder list returns duplicate results"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az image builder list`

**Errors:**
Duplicate results showed:
BuildTimeoutInMinutes    Location       Name                 ProvisioningState    ResourceGroup

0                        eastus         eus                  Succeeded            prod
0                        eastus         identit

[2020-08-17 22:19] yonzhan commented on #14811
acr

[2020-08-17 22:22] yonzhan commented on #14812
add to S175

[2020-08-17 23:10] ashinzekene commented on #14809
The first use case was what I was looking for. Thank you @avanigupta

Might be useful to have it here
https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-integrate-azure-managed-service-identity?tabs=core2x

[2020-08-18 01:20] #12723 closed

[2020-08-18 02:18] jiasli commented on #14773
This is the desired behavior if no subscription is found.

[code]

You may use `--allow-no-subscriptions` for such scenario.

[code]

Please note that in the [beta version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest&tabs=azure-cli#azure-cli-beta-version), `--allow-no-subscriptions` has been deprecated, you may use `--tenant-access` instead:

[code]

[2020-08-18 03:12] wanglijun378617 commented on #14786
Hi team, may I know if any update?

[2020-08-18 04:59] #14799 closed

[2020-08-18 05:02] yungezz commented on #14813
hi @qwordy could you pls have a look? thanks

[2020-08-18 05:22] calvinsID commented on #14693
@dazinator Please try `--slot-settings Foo='"foo|bar"'` as per this guide on escaping: https://octopus.com/blog/powershell-pipe-escaping

[2020-08-18 05:23] #14693 closed

[2020-08-18 05:53] synergiator commented on #14773
thank you @jiasli , this solves my problem!

[2020-08-18 05:53] #14773 closed

[2020-08-18 05:55] pedroneil commented on #14127
Is there any update on this bug; or a work around or documentation of which vesion of azure-cli I could use to avoid this bug?

[2020-08-18 06:05] richardlm57 opened #14820 "Webapp:I tried to use --xml option in az webapp deployment list-publishing-profiles but I can't"
I tried to use --xml option in az webapp deployment list-publishing-profiles but I can't. Those are the option I have available from Azure CLI

![AzureCLIIssue](https://user-images.githubusercontent.com/10284438/90476307-81066000-e0e6-11ea-8baf-e2e7dfdff600.png)

With this, I can assume there is an issue with the documentation, right?

---
#### Document Details

⚠ *Do not edit this section. It is

[2020-08-18 06:18] arrownj commented on #13803
Hi @eliassal , close this as it is not CLI command issue. If you have other concerns, you can submit a new one.

[2020-08-18 06:18] #13803 closed

[2020-08-18 06:23] yonzhan commented on #14820
webapp

[2020-08-18 06:39] arrownj commented on #13886
Hi @ausafonly , this is a know issue of cloud shell. The problem is tracked in #11749 . For a workaround solution, you can run `az login` and retry the command. Close this one first.

[2020-08-18 06:39] #13886 closed

[2020-08-18 06:46] arrownj commented on #13878
Hi @motim6026 , actually the formats of `az role definition update` and `az role definition create` are different. You can reference #14411 where @jiasli Jiashuo Li FTE gave us a very clear explanation. So please use a valid json format to update the role definition. You can get an example from `az role definition update -h`.

[2020-08-18 06:52] arrownj commented on #13934
Close this issue first, the cloud shell issue will be tracked in #11749 .

[2020-08-18 06:52] #13934 closed

[2020-08-18 06:53] arrownj commented on #14406
Close this first, as `az local-context show` is support from `2.6.0`.

[2020-08-18 06:53] #14406 closed

[2020-08-18 06:55] arrownj commented on #13893
Hi @houk-ms , can we handle such exception in a general way in the future ?

[2020-08-18 07:11] idear1203 commented on #14708
Hi @jayendranarumugam , for the issue described on this page, we have already fixed it in the PR: https://github.com/Azure/azure-cli/pull/14755 . The fix will be available in the next Azure CLI release.

For https://github.com/MicrosoftDocs/azure-docs/issues/60927 , this is a docs issue indeed. I have notified our PM for a fix. Thanks a lot for your feedback!

[2020-08-18 07:11] #14708 closed

[2020-08-18 07:17] arrownj commented on #14031
Hi @rukawata , it seems that you `azure-mgmt-resource` package is not installed correctly. Could you please check whether `2019-06-01` is in your system, it should located in folder like `/usr/lib64/az/lib/python3.6/site-packages/azure/mgmt/resource`. If not, you can reinstalled it by `pip install azure-mgmt-resource==9.0.0 --prefix /usr/lib64/az`.

[2020-08-18 07:18] #14632 closed

[2020-08-18 07:42] arrownj opened #14821 "webapp : Migrate vsts dependency to azure-devops"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

Currently `appservice` depends on `vsts` which is not maintained anymore. There will be no further support for this package if there are bugs for feature requests. The `vsts` package is migrated to [`azure-devops`](https://github.com/microsoft/azure-devops-python-api).

This is a request to mi

[2020-08-18 07:44] Shr3ps opened #14822 "SSL error when trying to execute azure container command"
## Describe the bug

azure-cli crashes when tring to execute a command in one of my Azure containers (ACI group).

**Command Name**
`az container exec`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container exec --resource-group {} --name

[2020-08-18 07:45] arrownj commented on #14821
Hi @panchagnula , could you please help check this ? Thanks

[2020-08-18 08:08] arrownj commented on #13970
Will add this message in next release (2.11.0).

[2020-08-18 08:14] yonzhan commented on #14822
container

[2020-08-18 08:16] Shr3ps commented on #14822
For the record, I have the same error in Azure cloud shell on the Azure portal.

[2020-08-18 08:46] zhoxing-ms commented on #14501
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-08-18 08:46] zhoxing-ms commented on #14501
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-08-18 08:46] #14501 closed

[2020-08-18 14:13] aleksandrov commented on #9361
New link to API call - https://docs.microsoft.com/en-us/rest/api/container-instances/location/listcachedimages

[2020-08-18 14:45] rukawata commented on #14031
Hi, it's been some time and the VM has been deleted. We can close this.

[2020-08-18 14:45] #14031 closed

[2020-08-18 16:10] MrBirdJesus opened #14826 "Webapp:Setting Custom Entity Framework Connection String type via CLI fails"
## Describe the bug

**Command Name**
`az webapp config connection-string set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create a new Resource Group
- Create a new Web App
- Run the following command: `az webapp config connection-string set --name [Name of WebApp] --resource-gro

[2020-08-18 16:22] amchaney commented on #11418
Had to do this:
[code]
on Amazon Linux 2 to install since I kept getting an error about a python3 library that couldn't be loaded (even though python 3 was installed).

[2020-08-18 16:41] panchagnula commented on #14821
ACK @arrownj will take a look just to be sure is this the one you are referring to https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/appservice/vsts_cd_provider.py

Can you point me to the new vets package on devops so I can update the references & test on our end? Thanks!

[2020-08-18 17:07] stewartadam commented on #14086
Thanks for the explanation, although this is why I'm this issue should not be closed: from a user-facing perspective this `--set` feature *is* broken. Internal technical debt and AD Graph schema specs aren't something we should expect all users of `az ad` to be familiar with.

In the interim I would suggest documenting this issue, certainly in the error responses if someone tries to set an unsuppo

[2020-08-18 17:15] panchagnula commented on #14820
@richardlm57 I can't tell the version of CLI you are currently using --xml option is a newly added support so you need to be on the latest version of CLI which is 2.10.1. Please update if needed & let us know if you still see this. Thanks!

[2020-08-18 17:28] panchagnula commented on #12613
@calvinsID can you check if this is fixed by any of the validations you added. Moving to next milestone.

[2020-08-18 17:32] panchagnula commented on #14264
@calvinsID are we planning to fix this during this sprint - tomorrow is last day of sprint,

[2020-08-18 18:17] calvinsID commented on #12613
Fixed with newer versions of CLI

[2020-08-18 18:17] #12613 closed

[2020-08-18 18:19] yugangw-msft commented on #14774
@northtyphoon, this is on dealing with unicode file

[2020-08-18 18:20] yugangw-msft commented on #14811
+ @northtyphoon to comment

[2020-08-18 18:21] hulseware opened #14828 "az interactive gets stuck in error mode after the first failed attempt to use sort_by"
### **This is autogenerated. Please review and update as needed.**

While developing command lines with complex query content (sort_by, filtering, and column renaming), you will, of course, make errors trying to interpret what is the correct query syntax for your situation. az interactive has a tendency to have an error during this time become sticky, in that any attempt to correct the problem wil

[2020-08-18 18:36] MehaKaushik commented on #14792
Hey @nadworny

1. For Mongo 3.6 with apiVersion >=2020-04-01 _id is a required index. An index with a single key, equal to _id should be present.
 "key": {"keys": ["_id"]}

2. When creating indexes using Rest-API for Azure resource manager, there is no way to provide the sorting. By default, the sort order is set to 1. This is a known system limitation and we hope to fix it in the future. But no t

[2020-08-18 18:50] mangalorereshmi commented on #14768
Hi @mjudeikis - Thank you for your feedback. We are tracking this feature request using [UserVoice](https://aka.ms/acr/uservoice) item:   https://feedback.azure.com/forums/903958-azure-container-registry/suggestions/41179153-acr-login-with-podman. We will prioritize this in our backlog based on customer feedback/votes.

Regards,
Reshmi Mangalore

[2020-08-18 20:00] nadworny commented on #14792
Thanks @MehaKaushik

I've just splitted and created both indices and it works:
[code]

[2020-08-18 21:04] avanigupta commented on #14809
Thanks for the feedback @ashinzekene. We have created a work item to add this to our documentation.

[2020-08-18 23:12] tanmayeekamath commented on #14127
@pedroneil Apologies for the delay on this one. We are actively working on this and should push the fix in within the next couple of days. It will be fixed once the CLI team incorporates our fix.
Reverting to the previous version of the cli should temporarily solve this problem.

Thanks for your patience,
Tanmayee

[2020-08-18 23:27] yonzhan commented on #14826
webapp

[2020-08-18 23:35] yonzhan commented on #14828
add to backlog

[2020-08-18 23:56] harshbangad commented on #13927
Hi, I get the same error during az acr login --name *name* while running it on jupyter terminal of my compute instance.
Any workaround?

@fengzhou-msft

Here is the version of container registry-
The
azureuser@dockertest4:/mnt/batch/tasks/shared/LS_root/mounts/clusters/dockertest4/code$ pip show azure-mgmt-containerregistry
Name: azure-mgmt-containerregistry
Version: 2.8.0
Summary: Microsoft Azure

[2020-08-19 00:20] ausfestivus commented on #8071
I just wasted an hour trying to understand why this didn't work:

[code]

This documentation needs updating. Considering the age of this issue as well thats a poor user experience.

[2020-08-19 01:16] cxznmhdcxz commented on #14701
PR merged. Close this issue.

[2020-08-19 01:16] #14701 closed

[2020-08-19 01:59] #14788 closed

[2020-08-19 02:02] zhoxing-ms commented on #8071
@ausfestivus In fact, the lock related commands describe the scope which they support in help, please add parameter `-h` to the commands to see these instructions:

[code]
[code]
[code]

[2020-08-19 02:09] jiasli commented on #14086
Hi @stewartadam, I think the topic has diverged.

I tried to update `groupMembershipClaims` and it is working as expected.

[code]

Could you create a new issue and provide the actual command with `--set` that fails for you? We can see how we can improve the error message.

[2020-08-19 02:54] qwordy commented on #14813
Hi Feiyu, what's the result of calling Azure REST API to list templates?

[2020-08-19 02:57] feiyushi commented on #14813
it's filed in the bug under `Errors`

[2020-08-19 03:00] yungezz opened #14830 "[Error] TypeError from code"
**Describe the bug**

This issue is acting as a track of all "TypeError" from github, since we're working on fixing TypeError.

**Examples**
- string indices must be integers

[2020-08-19 03:00] yungezz commented on #14830
https://github.com/Azure/azure-cli/issues/14127

[2020-08-19 03:00] yungezz commented on #14127
https://github.com/Azure/azure-cli/issues/14127

[2020-08-19 03:07] yungezz commented on #13858
https://github.com/Azure/azure-cli/issues/14830

[2020-08-19 03:07] yungezz commented on #11608
https://github.com/Azure/azure-cli/issues/14830

[2020-08-19 03:20] stewartadam commented on #14086
Hi @jiasli, the topic is as described by OP - many of the new App Registration experience features are not available through the CLI. I also cannot repro the issue with groupMembershipClaims, but the other properties mentioned fail in various different ways, for example signInAudience:
[code]

accessTokenAcceptedVersion:
[code]

As you mention this is due to AD vs MS graph under the hood, which if

[2020-08-19 03:39] jiasli commented on #14086
`Property 'signInAudience' is read-only and cannot be set.` is returned by AD Graph API when setting `signInAudience`, instead of Azure CLI.

[code]

Same for `accessTokenAcceptedVersion`

[code]

So these issues should rather go to AAD support and service team.

**It is not very practical for Azure CLI to know _in advance_ which property is support by AD Graph API or not.** `--set` is just a gene

[2020-08-19 04:06] richardlm57 commented on #14820
My apologies, indeed the Azure CLI version was the issue from my side. Thanks!

[2020-08-19 04:14] panchagnula commented on #14820
Thanks for the confirmation will close this

[2020-08-19 04:14] #14820 closed

[2020-08-19 05:31] qwordy commented on #14813
Sorry. I don't understand. More details?
CLI doesn't add custom logic for show and list command. It's a wired problem. Let's first check if calling RESP API directly works.

[2020-08-19 06:09] arrownj commented on #14330
Local context document is not published now, move this to S175.

[2020-08-19 06:15] arrownj commented on #14192
Hi @BruceHaley , could you please also share us what exactly `The link` and `this page` is ?

[2020-08-19 06:16] #13970 closed

[2020-08-19 06:33] #14474 closed

[2020-08-19 06:36] sanderaernouts commented on #14788
Thanks @qwordy for fixing this 👍

[2020-08-19 06:37] sanderaernouts commented on #14788
Thanks @calvinsID for fixing this 👍

[2020-08-19 07:48] arrownj commented on #13788
Hi @srudin , sorry for late reply. For you case, you need to create a service principal for the application after you create it. The commands should be like this:

[2020-08-19 08:40] valenca opened #14835 "Creating an HDInsight object with a Datalake Gen1 as primary storage (feature parity with REST/WebUI)"
**Describe the bug**
`az hdinsight create` returns error `If storage details are specified, the storage account, storage account key, and the default container must be specified` when no explicit storage flags are given. The attempt here is to use a Datalake Gen1 as the primary storage. This is doable via UI (and I suspect REST API), but not via the CLI tool.

**To Reproduce**
Running the followin

[2020-08-19 09:08] biltongza opened #14837 "Can't create VMSS in South Africa West"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
VMSS and VNets are indicated as generally available:

![image](https://user-images.githubusercontent.com/2845704/90615161-046da180-e20c-11ea-8583-71f33b2b375b.png)

https://azure.microsoft.com/en-us/global-infrastructure/services/?products=virtual-machine-scale-sets,virtual-network

However any attempt to creat

[2020-08-19 09:31] yonzhan commented on #14835
hdinsight

[2020-08-19 09:40] jsntcy opened #14839 "[Legal] Include NOTICE file in Azure CLI distributions"
Azure CLI:
- Add a NOTICE file at the root of the repo. (**✔ Done**)
  - Need generate a new NOTICE file by CG once [the bug](https://dev.azure.com/mseng/AzureDevOps/_workitems/edit/1706668) of Component Govenance UI is fixed.
- Add the NOTICE file to the distributions. (Need update packaging script)

Azure CLI extensions:
- Add a NOTICE file in each extension folder.
  - The NOTICE file only need

[2020-08-19 09:59] ThejaChoudary commented on #14826
Assigning it to myself to repro

[2020-08-19 10:02] yonzhan commented on #14839
Legal

[2020-08-19 10:50] aim-for-better commented on #14835
Thanks for feedback, We will investigate it soon.

[2020-08-19 13:11] jarpsimoes opened #14840 "ResponseError('too many 500 error responses')"
**Describe the bug**

When I trying delete board from project on command line with AZ CLI:
`$ az boards area project delete --path [board_path] --project [project_name] --org [ORG_URL] --yes`

I've got an error bellow:

`request failed: Error occurred in request., RetryError: HTTPSConnectionPool(host='dev.azure.com', port=443): Max retries exceeded with url: /EX93137/demo-project-automated/_apis/w

[2020-08-19 14:06] yonzhan commented on #14840
boards

[2020-08-19 15:36] hobothulhu opened #14841 "Azure CLI failing to finish/return from `az vm start ...` command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I have an Azure DevOps Release Pipeline with the Azure CLI task wherein I have this command run:
az vm start --resource-group GROUP --name NAME
Last week (the second week of August) the command had been running fine. As of around August 17th, the command began being stuck in the `in progress` state for up to >9

[2020-08-19 15:58] tukseedo opened #14842 "Creating an Azure KeyVault in Microsoft Learn Sandbox"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault create --resource-group {} --location {} --name {}`

## E

[2020-08-19 16:46] harshbangad opened #14844 "Error: az acr login- APIVersion 2019-12-01-preview is not available"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr login --name {}`

## Expected Behavior

## Environment Summary
[code

[2020-08-19 16:46] SupriyaGangineni commented on #14142
Hi,

You can use the Azure Resource Graph to achieve this. https://docs.microsoft.com/en-us/azure/governance/resource-graph/overview

If you are using CLI, you can get the Custom Verification ID of Azure App Service with following commands.

az extension add --name resource-graph
az graph query -q "Resources | project name,  properties.customDomainVerificationId, type | where type == 'microsoft.we

[2020-08-19 16:56] feiyushi commented on #14813
I'm sorry that I misunderstood the question.
I added `--debug` to `az image builder list` and it contains duplicate results.
I then used `az resource list --resource-type Microsoft.VirtualMachineImages/imageTemplates` to list the templates, it doesn't contain the duplicates.
By invoking REST API directly `http GET https://management.azure.com/subscriptions/{sub-id}/resourceGroups/{rg-name}/provide

[2020-08-19 17:39] jaslloyd commented on #12946
sorry to jump on this thread but is there any easy of updating the redirectUris (by adding one property) using the rest API...it seems like patch will overwrite all of the redirectUrls e.g:

` az rest --method PATCH --uri "https://graph.microsoft.com/v1.0/applications/$OBJECT_ID" --headers 'Content-Type=application/json' --body "{\"spa\":{\"redirectUris\": [\"https://addanotherurlhere.com\"]}}"`

[2020-08-19 17:52] jantari commented on #4897
@CraigRubendall I use:

[code]

and it works perfectly

[2020-08-19 18:03] ChristopherL-STCU opened #14845 "AppConfig Key Vault reference import causes invalid Content Type for YAML files"
## Describe the bug

I see in the release notes there was recently the breaking change "Support settings with JSON content type" for AppConfig and I suspect this is what is impacting me.

**Command Name**
`az appconfig kv import`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior.

- Create file `test.yml` with content such as: MySecret: '{"uri":"https://my-key-vault.vault.azure

[2020-08-19 19:37] rmsy commented on #12946
@jaslloyd Someone else may correct me, but I don't believe there is a way to atomically add one URI. However, you can query the Graph API to obtain the existing redirect URIs and use that to formulate your PATCH body:

[code]

returns:

[code]

With that said, it is disappointing that the CLI itself is so incapable when it comes to many common functions 😕

[2020-08-19 19:55] datarocksAmy opened #14847 "Error : Unable to load extension azure-cli-ml"
## Describe the Bug
It was working a couple of days ago when I ran the CI for installing azure ml extension and create a resource group through Azure CLI in Azure DevOps. Now it errors out saying it can't find the command.

- #### Command Name
  `az extension add -n azure-cli-ml`
   `az ml workspace create -g $(azureml.resourceGroup) -w $(azureml.workspaceName) -l $(azureml.location) --exist-ok --

[2020-08-19 20:30] BrandonE commented on #9128
I tried this on the latest version of the Azure CLI (2.10.1) and got the following:

[code]

[2020-08-19 22:03] chenlomis opened #14849 "az configure doesn't check the validity of the arguments/values before configuring"
**Describe the bug**
CLI tells me rg isn't avail after I'd already explicitly configured it

![image](https://user-images.githubusercontent.com/30876406/90693926-8f5e9400-e22c-11ea-87f8-e3194d2b69ed.png)

**To Reproduce**
1) used az configure to set global rg
![image](https://user-images.githubusercontent.com/30876406/90694005-b4eb9d80-e22c-11ea-9724-39d037f11942.png)

2) created appservice plan b

[2020-08-19 22:11] chenlomis commented on #14849
Another follow up Q...
Is there a way for folks to clear/delete any defaulted values in the CLI without going to the file and edit it?
I must be missing something but can't seem to find it either in doc or via intool help

![image](https://user-images.githubusercontent.com/30876406/90694900-41e32680-e22e-11ea-9b48-0e8436a57001.png)

[2020-08-19 22:22] tiny-dancer opened #14850 "Response Objects"
Where can one view the response objects for any azure cli command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adcba5ed-e693-6345-2c1b-c17422d7b8f9
* Version Independent ID: 58297400-b777-6868-1687-0af3a512a16f
* Content: [az storage container](https://docs.microsoft.com/en-us/cli/azure/storage/container?view=azure-

[2020-08-19 22:29] gregberns opened #14851 "Storage Blob Upload - Error: path should be string..."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob upload-batch`

**Errors:**
[code]

## To Reproduce:

Just trying to upload some files to blob storage for the first time for a static website `$web`.

- `az storage blob upload-batch --auth-mode login -s ~/Downloads/upload -d "http://<my storage account>.blob.core.windows.net/

[2020-08-19 22:44] gregberns commented on #14851
Update:
This supposedly was reported in #14641 and 'fixed' in hotfix version 2.10.1
https://github.com/Azure/azure-cli/issues/14641#issuecomment-669938641

After updating with `brew update && brew upgrade azure-cli`

[code]

[code]

[2020-08-19 23:12] yonzhan commented on #14844
acr

[2020-08-19 23:15] #14851 closed

[2020-08-19 23:15] yonzhan commented on #14845
appconfig

[2020-08-19 23:20] yonzhan commented on #14847
ml

[2020-08-19 23:23] yonzhan commented on #14849
add to S175

[2020-08-19 23:26] yonzhan commented on #14850
add to S175

[2020-08-19 23:57] azureml-github commented on #14847
@Cody Peterson<mailto:Cody.Peterson@microsoft.com>  / @Shivani Patel<mailto:Shivani.Patel@microsoft.com>  / @Jenny So<mailto:jenns@microsoft.com>  - can you follow up?

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: yonzhan <notifications@github.com>
Sent: Wednesday, August 19, 2020 4:20:53 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: azureml-github

[2020-08-20 00:03] hpourreza opened #14852 "example for the --plan option"
[Enter feedback here]
Is it possible to provide an example using the --plan option? All the examples use --urn. When I run az vm image show --urn <urn> it print json with plan section which has three subsections. how can I use this plan section to call az vm image terms with the --plan option?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub i

[2020-08-20 01:38] #14653 closed

[2020-08-20 01:43] yonzhan commented on #14840
devops

[2020-08-20 01:50] jiasli commented on #12946
Hi @jaslloyd, @rmsy's answer is correct. As `spa.redirectUris` is a property, there is no API from MS Graph API to add new entries to it. You need to `GET` the value first, do the addition, then `PATCH` it back.

[2020-08-20 01:53] jiasli opened #14853 "Delete any defaulted values in the CLI without going to the file and edit it"
Is there a way for folks to clear/delete any defaulted values in the CLI without going to the file and edit it?
I must be missing something but can't seem to find it either in doc or via intool help

![image](https://user-images.githubusercontent.com/30876406/90694900-41e32680-e22e-11ea-9b48-0e8436a57001.png)

_Originally posted by @chenlomis in https://github.com/Azure/azure-cli/issues/14849#issu

[2020-08-20 02:02] #14083 closed

[2020-08-20 02:28] jiasli commented on #14849
Hi @chenlomis, for the original post, this behavior is expected. Imagine these scenarios:

[code]

If we enforce the validation in `az configure`, this scenario will fail at `az configure` because of the non-existing resource group.

Or

[code]

There are 2 cases:
1. The old subscription **has** the resource group, but the new subscription **doesn't**. In this case, after switching the subscriptio

[2020-08-20 02:28] jiasli commented on #14849
For the second question, moving to a separate issue https://github.com/Azure/azure-cli/issues/14853.

[2020-08-20 02:34] jiasli commented on #14853
The help message does have the instruction for clearing the default value:

[code]

But the downside is that it will leave some "trash" in the `~/.azure/config` file. For example, after running

[code]

The `config` file contains:

[code]

The new `az config unset` can fully remove the key and value:

[code]

`config` file is now clean:

[code]

[2020-08-20 02:42] Juliehzl commented on #14545
Hi @akharit, it seems although there is sdk issue, the root cause should be error occurred during implementation, right?
Anyway I think we should upgrade the package version for sdk issue. Could you help take a look at my #14689?

[2020-08-20 03:13] zhoxing-ms commented on #13004
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-08-20 03:13] #13004 closed

[2020-08-20 03:16] avanigupta commented on #14845
Hi @ChristopherL-STCU, thanks for providing all the details.
You're right, importing KeyVault references from a YAML file will not be possible with Azure CLI version 2.10.0 or later. This change was recently introduced in order to support proper import/export of key-values in App Configuration without losing their data type. So if you want to import settings with valid JSON values and a valid JSON

[2020-08-20 03:31] Juliehzl commented on #14253
closed given there is no response for a long time

[2020-08-20 03:31] #14253 closed

[2020-08-20 03:32] Juliehzl commented on #10740
closed given there is no response for a long time

[2020-08-20 03:32] #10740 closed

[2020-08-20 05:02] subhasishdc commented on #14522
@haroldrandom : Here is the PR to add the example to the help and documentation: https://github.com/Azure/azure-cli/pull/14856

[2020-08-20 05:13] arrownj commented on #8582
Hi @tpetkovic , is this issue still valid ? It seems that your json file wasn't parsing well , could you please also paste your json content here ? Thanks

[2020-08-20 05:16] arrownj commented on #11590
Close this issue first ,the cloud shell issue will be traced in #11749 .

[2020-08-20 05:16] #11590 closed

[2020-08-20 05:24] hihorika opened #14857 "Webapp:Cannot update config of app service which has setting access restriction by subnet."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create an App Service and a VNET which has one subnet at least.
- Set Access Restriction by the subnet to th

[2020-08-20 05:26] arrownj commented on #13213
Close this first, as it is not a problem of CLI.

[2020-08-20 05:26] #13213 closed

[2020-08-20 05:28] arrownj commented on #13293
Close this for CLI will support this in 2.11.0.

[2020-08-20 05:28] #13293 closed

[2020-08-20 05:34] fengzhou-msft commented on #14794
@quantrpeter please check your `$PATH` environment variable and add `/usr/local/bin` if not in there.

[2020-08-20 05:43] #14522 closed

[2020-08-20 05:57] Kotasudhakarreddy commented on #13837
looking in to it.

[2020-08-20 06:31] Steven-Tuccio-wwt opened #14858 "SSL: CERTIFICATE_VERIFY_FAILED error on "az aks install-cli""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az aks install-cli `

## Expected Behavior

## Environment Summary
[code]
## Additional Context

Operating Sy

[2020-08-20 06:40] yonzhan commented on #14853
add to S175

[2020-08-20 07:06] maulberto3 commented on #11951
Hi @panchagnula I get this when trying to deploy with az webapp up --sku F1 -n some_name
[code]
I am using gunicorn to serve, but I am new to Azure so I want to know the clud details so as to deploy Python webapps.

[2020-08-20 07:15] maartenba opened #14859 "Azure Cli-generated access token can not access Cloud Shell API's"
Cross-post of https://github.com/microsoft/azure-tools-for-java/issues/4529, as I'm not sure which channel works best...

In the Azure Toolkit, I'm trying to integrate with Azure Clou Shell, setting up a console socket etc. This all works when using device login flow with another application id.

Now, I want to use the Azure CLI to manage authentication. This works for other features, but unfortun

[2020-08-20 07:18] yonzhan commented on #14857
webapp

[2020-08-20 07:50] bim-msft commented on #9128
@BrandonE Sorry, it's a typo. Please use `--kty`.

[2020-08-20 08:31] arthfl opened #14861 "Webapp deployment to App Service Environment fails with HTTPSConnectionPool error"
## Describe the bug

Tried to deploy a very simple sample application to an Azure App Service Environment, which did result in the errors below.

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here

[2020-08-20 08:48] yonzhan commented on #14858
aks

[2020-08-20 08:49] yonzhan commented on #14859
Cloud Shell

[2020-08-20 08:53] TomGeske commented on #14858
Can you access https://storage.googleapis.com/kubernetes-release/ and https://github.com/Azure/kubelogin/releases/ without cert issue? Are you able to run other commands in az CLI?

[2020-08-20 08:57] yonzhan commented on #14861
webapp

[2020-08-20 10:17] houk-ms commented on #13893
@arrownj yes, we can

[2020-08-20 10:22] houk-ms commented on #14100
Now blocked by service.

[2020-08-20 10:23] #13917 closed

[2020-08-20 10:29] jan-hudec commented on #12946
@jaslloyd, here is my build step for ensuring an URI is included:

[code]

(I actually need two URIs for each environment, so I have `jq -c ". + [\"$NEW_URI\", \"$NEW_URI/silent-renew.html\"] | unique"` for the addition).

It could probably be simplified using the built-in JMESPath capability of az to directly calculate the patch in the initial GET, but this was easier to debug.

[2020-08-20 11:21] arthfl commented on #14861
The cause for this is probably that there's just no SCM URL for the created webapp. For whatever reason.

[2020-08-20 11:31] JacobStruiksma opened #14862 "Webapp:Cannot add access restriction for scm part of the Webapp if the same adress is already used for the regular site"
**Describe the bug**
If the access restriction has been added for the regular website, and if an extra access restriction is set for the scm-site part is added with the same ip cidr, then an error is thrown back:

cli.azure.cli.core.util : IP address 4.3.2.1/32 already exists.Cannot add duplicate IP address values.

Where 4.3.2.1/32 is the given ip address

**To Reproduce**
az webapp config access

[2020-08-20 11:44] gtirloni commented on #7447
Timings from Linux 5.7.14 and Python 3.8:

[code]

It's much faster when running with Python 3.6 (edit /usr/bin/az and point it to python3.6 interpreter):

[code]

Disabling telemetry has no impact here.

[2020-08-20 12:51] yonzhan commented on #14862
webapp

[2020-08-20 15:10] ChristopherL-STCU commented on #14845
Thank you @avanigupta. I will move our App Configuration files from YAML to JSON.

[2020-08-20 15:59] panchagnula commented on #11951
@maulberto3 have you checked the logs by running this az webapp log deployment show
                           -n agile-bank -g mmaroto_rg_Linux_centralus like the message showed looks like the failing deployment ID is '43ae94526de54d8588b085395bdcc1c3'

[2020-08-20 16:33] BrandonE commented on #9128
`az keyvault key create: 'otc' is not a valid value for '--kty'. See 'az keyvault key create --help'.`

`[--kty {EC,EC-HSM,RSA,RSA-HSM,oct}]`

Did you mean oct? With that, I get an error as well:

[code]

[2020-08-20 17:19] j-so commented on #14847
We did have a new extension release this Monday. However, I am unable to reproduce it.

Can you run `az extension show -n azure-cli-ml` and make sure you are on the latest version of azure-cli-ml (1.12.0)?
If you are still seeing that error, you can also try running `pip install azure-cli-common` and see if that gets you past the error.

[2020-08-20 17:44] yugangw-msft commented on #14844
This is installation issue

[2020-08-20 17:54] Steven-Tuccio-wwt commented on #14858
This command is being run by Powershell on Windows Server Datacenter 2019, as part of a pre-deployment script

1. **Can you access https://storage.googleapis.com/kubernetes-release/ and https://github.com/Azure/kubelogin/releases/ without cert issue?**

- https://storage.googleapis.com/kubernetes-release/ - I am able to curl and get content / Status 200 back
- https://github.com/Azure/kubelogin/re

[2020-08-20 17:57] Steven-Tuccio-wwt commented on #14858
Steps to reproduce:

1. Instantiate new Azure Compute VM, Windows Server 2019
2. Install Azure CLI (Invoke-WebRequest -Uri https://aka.ms/installazurecliwindows -OutFile .\AzureCLI.msi; Start-Process msiexec.exe -Wait -ArgumentList '/I AzureCLI.msi /quiet'; rm .\AzureCLI.msi)
3. Run **az aks install-cli**

[2020-08-20 18:23] t-l-k opened #14864 "az sql db copy - performance characteristics: what is the impact on source db?"
I just wanted to enquire, because there is [nothing in the documentation](https://docs.microsoft.com/en-us/cli/azure/sql/db?view=azure-cli-latest#az-sql-db-copy), but what are the performance or uptime considerations when executing `az sql db copy` ?

Like, what is it actually doing behind the scenes?

I ask because for some reason, when managing via `az sql db export` and `az sql db import` of ba

[2020-08-20 18:45] anoopmanikantas opened #14865 "az interactive"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-08-20 19:23] dcatalano-figure commented on #13881
same issue.

did the format of secrets change? much different than what is in: https://docs.microsoft.com/en-us/azure/aks/update-credentials#update-aks-cluster-with-new-service-principal-credentials

run this command back in April and worked fine. Updating another cluster today is causing said problem.

[2020-08-20 19:28] dcatalano-figure commented on #13881
for reference we are attempting to update creds

[code]

[2020-08-20 19:48] datarocksAmy commented on #14847
I tried the `az extention show -n azure-cli-ml` + pip install `azure**ml**-cli-common' w/ the latest version = 1.12.0 and this is what I got:
[code]

[2020-08-20 20:11] akharit commented on #14545
@Juliehzl
So this code did a concat operation, which failed for some reason. It went into the retry loop with policy NoRetryPolicy, which had a bug. The sdk fix only makes sure that the NoRetryPolicy is correct. I don't know why it failed on the first attempt. Could be anything from user error to server error.

After sdk update, if this issue still occurs, we will get a better exception message th

[2020-08-20 23:24] yonzhan commented on #14864
sql

[2020-08-20 23:25] yonzhan commented on #14865
add to backlog

[2020-08-20 23:56] pragnagopa opened #14866 "[Functions] Update stacks to new schema"
cc @gzuber   @anthonychu @ammanifold

Repo: https://github.com/pragnagopa/azure-functions-supported-runtime-stacks is a temporary location and will be deprecated soon.

Please move to updated schema: https://github.com/Azure/azure-functions-ux/tree/dev/server/src/stacks/functionapp/2020-06-01/stacks

NOTE: This info will be available on ARM API. No ETA yet for this.

[2020-08-21 00:57] subhasishdc commented on #14132
@MyronFanQiu : Discussed this with Akshay Gupta from the service team. He has confirmed that the command takes a `pfx` file as input which is `pkcs12` and show/list shows only the public part of the cert which `pkcs7`.

I will create a PR to add a good example to the help section and documentation to demonstrate this behavior so that it is of help for everyone. Will let you know once I do it.

[2020-08-21 01:26] yungezz commented on #14866
hi @pragnagopa is it ok to assign the issue to you?

[2020-08-21 01:58] #14598 closed

[2020-08-21 02:02] zhoxing-ms commented on #14497
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-08-21 02:02] #14497 closed

[2020-08-21 02:02] zhoxing-ms commented on #14610
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-08-21 02:02] #14610 closed

[2020-08-21 03:01] maperr opened #14867 "Policy link doesn't work"
[Enter feedback here]
For more details, see: https://docs.microsoft.com/rest/api/keyvault/certificates-and-policies.
 link doesn't work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9c661d7-bf43-5354-015e-3859f30a42a2
* Version Independent ID: fa69e552-5904-ce97-d02c-915c819bdde1
* Content: [az keyvault certificate](

[2020-08-21 03:26] #13003 closed

[2020-08-21 03:26] #14060 closed

[2020-08-21 03:28] jiasli commented on #14859
I think the [portal extension](https://github.com/Azure/azure-cli-extensions/tree/master/src/portal) may be responsible for this operation (in the future).

`https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/providers/Microsoft.Portal/dashboards` works well with Azure CLI's client ID and token.

[code]

But I got the same error with

[code]

\+ owner of portal extensi

[2020-08-21 03:34] haroldrandom commented on #14748
Duplicate with https://github.com/Azure/azure-cli/issues/14494

[2020-08-21 03:42] chenlomis opened #14868 "Errors with dynamic extension install ?"
**Describe the bug**
Testing out new dynamic extension install feature

**To Reproduce**
1) az config set extension.run_after_dynamic_install=yes_without_prompt -- succeeded
![image](https://user-images.githubusercontent.com/30876406/90849966-6a9a1780-e325-11ea-9e15-398af23581c9.png)

2) run az mysql up -- failed
![image](https://user-images.githubusercontent.com/30876406/90849987-7685d980-e325-11

[2020-08-21 03:43] haroldrandom commented on #14494
From the service side, we cannot specify both private IP and public IP while creating an application gateway.
If we did so, it would return `ApplicationGatewayFrontendIpCannotHavePublicIpAndSubnet` error.

In current CLI implementation, it will ignore the value of `--private-ip-address` once `--public-ip-address` is specified without warning:
https://github.com/Azure/azure-cli/blob/4dba577c2dcede9

[2020-08-21 03:48] chenlomis commented on #14868
yes_prompt also failed:
![image](https://user-images.githubusercontent.com/30876406/90850355-4ee34100-e326-11ea-80bd-fc3a37a7e7f1.png)

but no and yes did not fail:
![image](https://user-images.githubusercontent.com/30876406/90850452-87831a80-e326-11ea-9f06-71f92b5a71be.png)

[2020-08-21 04:24] #13770 closed

[2020-08-21 04:56] fengzhou-msft commented on #14653
Azure CLI 2.11.0 will be released on Aug 25 and you should be able to register a cloud with the output from `az cloud show`.

[2020-08-21 04:57] AmoebaCell opened #14869 "Cannot upload folder to $root container while the folder has child folder and files inside"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``
az storage blob upload-batch --account-name jianbingstorage --source source -d $root --account-key xxxxxxxxx
**Errors:**
The requested URI does not represent any resource on the server. ErrorCode: InvalidUri
<?xml version="1.0" encoding="utf-8"?><Error><Code>InvalidUri</Code><Message>The re

[2020-08-21 04:59] fengzhou-msft commented on #14844
@harshbangad are you using a VM? What is the sku? We would like to reproduce the issue.

[2020-08-21 05:07] harshbangad commented on #14844
@fengzhou-msft  So, i am trying to build my docker image in azure container registry as per this document
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-deploy-custom-docker-image#build-a-custom-base-image

I am using the terminal in Jupyterlab from a compute instance in Azure machine learning. Any new machine we spin up in azure fails with this error in the terminal. It fails at a

[2020-08-21 05:55] #14647 closed

[2020-08-21 05:59] #14545 closed

[2020-08-21 05:59] koolrays opened #14871 "Webapp:Runtime parameter does not work properly from powershell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create --name {} --resource-group {} --plan {} --runtime {}`

[2020-08-21 06:50] wanglijun378617 commented on #14786
Any update?

[2020-08-21 07:50] astaykov commented on #14043
Still, having `--id` parameter with the `create` operation, when having and `id` property of the application object is rather ambiguous and not explicitly documented. I truly believe the `--id` should be removed from the `create` or explicitly described that it is used for the `identifier-uris` property of the application object.

[2020-08-21 08:40] alexwlchan opened #14875 "Add a --dryrun flag to the `az storage remove` command"
**Is your feature request related to a problem? Please describe.**
I'm a new user trying to delete some blobs in a container. I've never used the Azure CLI before, and I'm a bit nervous.

Being able to see what's going to happen before I run a destructive operation like `az storage remove` would be helpful, and give me confidence I'm not about to break something.

**Describe the solution you'd lik

[2020-08-21 08:47] alexwlchan commented on #14875
Spoiler alert: yeah, I got this wrong, and accidentally deleted everything in the container.

It's not a disaster because I was in a staging environment and everything can be recreated, but having a `--dryrun` command would have helped.

[2020-08-21 15:23] seanvelir opened #14879 "Error in Examples"
In the examples for deleting the .py script for files older than 10 days there are a few errors

the first line should use date as a varible so it should be $date
also there are 2 quotation marks in it that do not seem correct.

here is a modified line that should work..

 $date=date -d "10 days ago" '+%Y-%m-%dT%H:%MZ

az storage blob delete-batch -s mycontainer --account-name mystorageaccount --p

[2020-08-21 15:54] MonikaReddy-MSFT opened #14880 "Docs missing for az cli for adding replyUrls for SPAs"
Customer Scenario - Raised issue in a different repo, so raising it in CLI Repo - https://github.com/MicrosoftDocs/azure-docs/issues/61078

There is documentation around for updating replyUrls for web applications but doesn't seem to be anyway of doing it for SPA web applications.

- az ad app update --id <my_app> --add replyUrls "http://blah2.company.com"
This will add a reply url into the web se

[2020-08-21 16:23] mradulmodi opened #14881 "az --version Getting permission denied exception after installing Azure CLI"
**Describe the bug**
I installed Azure CLI's latest version and have been not able to run commands over power shell or command prompt. I tried running as an Admin

[code]

**To Reproduce**
Installed Azure CLI and run any command. Ex az login , az --version

**Expected behavior**
`az `commands should run

**Environment summary**
[code]

**Additional context**

[2020-08-21 22:21] KonstantinTr opened #14883 "Webapp:az webapp create fails to create an app with java runtime"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Cloud shell fails to create a webapp if I choose java as a runtime.
Same command works perfectly well with the "python" runtime

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
- `az appservice plan create --name $APP_PLAN_NAME --is-linux`
- `az webapp create --name $WEB_APP_NAME --pla

[2020-08-22 00:12] heaths opened #14884 "Cannot purge a SAS definition for Key Vault (no purge command)"
## Describe the bug

There is no `purge` command for `az keyvault storage sas-definition`, so once a SAS definition is deleted there's no way to purge it. There is, oddly, a `recover` command, though:

[code]

## Expected Behavior

I can purge a deleted sas definition, just like I can purge a deleted secret, key, or certificate. Instead, I now have to set up Postman to do this, since the Portal do

[2020-08-22 04:37] mobindaraie opened #14886 "az network vnet peering delete fail to delete network peering using --ids"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network vnet peering delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
(Tested successfully in Powershell using az 2.0.81)

1 - create network peering for two vnet
2- get p

[2020-08-23 20:07] cmpunches opened #14888 "SP Display Name and SP ID are not interchangeable"
**Describe the bug**
When connecting up a service principal for terraform and AZ CLI to log in and do things, it will not recognize the SP by its human readable identifier.  The only ID it takes is the appID

**To Reproduce**
[code]
**Expected behavior**
az cli to show the same result when using either the SP's displayName attribute or appId attribute.

**Environment summary**
az-cli installed via

[2020-08-23 22:24] yonzhan commented on #14888
add to S175

[2020-08-23 22:26] yonzhan commented on #14841
@yungezz will help you with this issue.

[2020-08-24 01:39] arrownj commented on #13296
Hi @the-vampiire , I will close this issue first. If you still have problems, you can reopen it or submit a new one. Thanks

[2020-08-24 01:39] #13296 closed

[2020-08-24 01:40] #13878 closed

[2020-08-24 01:50] fengzhou-msft commented on #14729
The error is caused by certificate verification. @jiasli can you take a look?

[2020-08-24 01:51] jiasli commented on #14086
If the the schema you are talking about is the [application manifest](https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-app-manifest), unfortunately, this is **not an information source for Azure CLI** - **REST spec is the only source which CLI relies on**, as AAD service doesn't provide a JSON version of the schema (manifest) that can be consumed by SDKs like Azure CLI.

B

[2020-08-24 02:19] zhoxing-ms commented on #14760
@RDukes425 Hi, in fact, command `policy definition create` supports the parameter `--management-group` to pass in the name of the management group.

What is the error when the customer passed in the name of management group? This may be due to some other problems, which need to be investigated

[2020-08-24 02:32] jiasli commented on #14849
This is difficult to achieve because **the configuration is not bound to a subscription**. In other words, **all configurations apply to all subscriptions**. So, it is difficult for Azure CLI to detect if the default resource group becomes invalid due to
- subscription change, or
- that the resource group is simply deleted by the user.

We can of course implement this but it requires big developme

[2020-08-24 02:57] jsntcy opened #14889 "[Breadth Coverage] Onboard Network Watcher Connection Manager Commands"
**Spec Link**
Not ready

**ADO Work Item Link**
https://dev.azure.com/azure-mgmt-ex/Onboarding/_workitems/edit/3685

**Resource Provider**
What is the Azure resource provider your feature is part of?
MICROSOFT.NETWORK

**Description of Feature or Work Requested**
Support Azure CLI commands for Network Watcher Connection Manager

**Minimum API Version Required**
2020-05-01

**Swagger Link**
https:/

[2020-08-24 03:08] Juliehzl commented on #14869
Hi @AmoebaCell, could you upgrade your azure cli to latest version and try again?
Here is install instruction https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest.

[2020-08-24 03:13] yungezz commented on #14841
hi @qwordy could you pls help to look at the issue? thanks.

[2020-08-24 03:15] yungezz commented on #14837
hi @biltongza from the description, service doesn't support VMSS in region South Africa West. Since you cannot do it either in azure cli or Potal. Involve service team to help on this. thanks.

[2020-08-24 03:18] yungezz commented on #14842
hi @tukseedo did you meet the error in Cloudshell? If yes, it's a known issue in Cloudshell https://github.com/Azure/azure-cli/issues/11749. Could you pls try run `az login` to workaround?

[2020-08-24 03:19] yungezz commented on #14852
hi @qwordy could you pls have a look?

[2020-08-24 03:19] yungezz commented on #14868
hi @fengzhou-msft could you pls help a look? thanks.

[2020-08-24 03:20] Juliehzl commented on #14444
Hi @alexeyshishkin01, actually we do nothing in CLI side. I am not sure if there is anything change in server die. anyway it works as expected, so we close it now. If you have any furthur issue, feel free to let us know.

[2020-08-24 03:20] yungezz commented on #14867
hi @bim-msft could you pls have a look? thanks.

[2020-08-24 03:25] fengzhou-msft commented on #14868
`run_after_dynamic_install` is currently a boolean, only supports `yes` or `no` while `use_dynamic_install` is a string and supports `yes_prompt`, `yes_without_prompt`, `no`.

[2020-08-24 03:30] AmoebaCell commented on #14869
![image](https://user-images.githubusercontent.com/46150839/91000875-bfc37b00-e5fc-11ea-881f-91d7c6d5b0db.png)

az version info
{
  "azure-cli": "2.10.1",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli-core": "2.10.1",
  "azure-cli-nspkg": "3.0.4",
  "azure-cli-telemetry": "1.0.4",
  "extensions": {
    "resource-graph": "1.0.0"
  }
}

source folder structure: 1 sub folder (test) which

[2020-08-24 03:32] Juliehzl commented on #14850
Hi @tiny-dancer , adding `--debug` in your commands should work.

[2020-08-24 03:34] Juliehzl commented on #14875
@zezha-msft could you help prioritize the feature request for azcopy?

[2020-08-24 03:38] yonzhan commented on #14889
Network Watcher Connection Manager Commands

[2020-08-24 03:39] Juliehzl commented on #14743
Hi @brooke-hamilton, it should be caused by lacking of RBAC permission for storage blob as shown here https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-rbac-portal#azure-roles-for-blobs-and-queues.
We will refine the error message.
IN addition, we will recommend you to use account key as credential if you can. `--auth-mode login` will  require specific RBAC roles assigned.

[2020-08-24 03:40] chenlomis commented on #14868
Oh okay. Thanks!
I see what happened here. Conflated the _use dynamic install_ with _run after dynamic install_

Awesome! Fixed the command and they worked
![image](https://user-images.githubusercontent.com/30876406/91001539-d5935a80-e580-11ea-9cb9-05511653fc3d.png)

[2020-08-24 03:40] #14868 closed

[2020-08-24 03:41] bim-msft commented on #14867
This has been fixed in #14757 . The doc will be updated soon.

[2020-08-24 04:29] fengzhou-msft commented on #14729
@anuradhaarao how do you get the certificate? @panchagnula any requirements or documentation about using the certificate?

[2020-08-24 04:34] #14418 closed

[2020-08-24 04:38] fengzhou-msft commented on #13795
Close due to inactivity. Please feel free to open new issues if you still have issues with the latest version of Azure CLI: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-08-24 04:38] #13795 closed

[2020-08-24 04:55] qwordy commented on #14642
I tested systemctl restart walinuxagent. It executes successfully. I think the problem is https://docs.microsoft.com/en-us/rest/api/compute/virtual%20machines%20run%20commands/runcommand. This API does not allow run multiple commands at the same time. I run az vm run-command invoke -g fy3 -n vm --command-id RunShellScript --scripts "sleep 60s" twice. The 2nd one returns Run command extension execu

[2020-08-24 05:35] hihorika commented on #14857
Is there any update on this?

[2020-08-24 05:57] arrownj commented on #13389
Close this first for no feedback for a long time.

[2020-08-24 05:57] #13389 closed

[2020-08-24 06:00] arrownj commented on #13788
Close this first as it's a usage issue.

[2020-08-24 06:00] #13788 closed

[2020-08-24 06:04] yungezz commented on #14078
hi @ugrewal could you pls share specific error here for investigate? Or is this not a problem for you now?

[2020-08-24 06:07] zezha-msft commented on #14875
Hi @Juliehzl, thanks for letting us know! I've entered a PBI into our backlog to be prioritized.

Hi @alexwlchan, to clarify, the service is the only source of truth, so even if we implemented this dry run option, its results may still be different from the actual delete operation, since there may be changes in between when the dry run is executed and the actual delete happens, e.g. a new blob got

[2020-08-24 06:24] alexwlchan commented on #14875
Yes, having thought about it some more, this makes more sense to me than when I originally opened the issue.

I'd mostly be using it to check the broad shape of the command – e.g. _"I expect to delete everything starting with `a/b/c`_", and checking the dry run output doesn't include unrelated objects.

[2020-08-24 06:34] alexeyshishkin01 commented on #14444
really strange, it did not work, you did not change anything, now it works - ok, let's close the case

[2020-08-24 06:47] zezha-msft commented on #14875
Sounds good @alexwlchan, and just to confirm, you expect the output of the command to be the whole list of blobs that will be deleted? That can get a bit crazy if there are thousands of entries. I guess you could pump it into a file and then perform a search.

[2020-08-24 06:48] alexwlchan commented on #14875
Without giving it too much thought, yes. I'd usually dump it to a file or `less`.

[2020-08-24 07:01] TomGeske commented on #14786
@gtxistxgao: is it possible to call [aks_upgrade](https://github.com/Azure/azure-cli/blob/0f9e4af5912c4db5f232663d865fe6e5668928af/src/azure-cli/azure/cli/command_modules/acs/custom.py#L2397
) directly?

[2020-08-24 07:02] zezha-msft commented on #14875
Thanks for the info @alexwlchan. We'll discuss the general UX a bit more on our side and schedule the feature accordingly.

[2020-08-24 07:10] bim-msft commented on #9128
@BrandonE My bad, I misremembered something. `oct` is not supported on normal Vault now, it can be only used on HSM, which will be introduced in the mid-Sept version.

[2020-08-24 07:24] qwordy commented on #14841
Azure CLI doesn't add custom logic to start operation. I suspect it's a service problem.
https://management.azure.com:443 "GET /subscriptions/6106db48-494a-4767-a0ca-689bb7c63c07/providers/Microsoft.Compute/locations/southcentralus/operations/fe776d73-a214-4ea9-8149-da276d98231a?api-version=2019-07-01 HTTP/1.1" always return inProgress even if the VM has started already.

[2020-08-24 08:32] digeler commented on #14769
any updates on this please ?

[2020-08-24 09:13] yungezz commented on #14095
thanks @mataralhawiti . Is it ok to close the issue now?

[2020-08-24 09:16] yungezz commented on #12035
hi @fengzhou-msft https://github.com/Azure/azure-multiapi-storage-python/pull/31 is merged. Can this issue been closed now? thanks.

[2020-08-24 09:18] yungezz commented on #13930
thanks for the feedback @wasker . We're working on extension upgrading recently.  @fengzhou-msft could share more instruction on this after released. Pls give it a try and let us know if any feedback. :)

[2020-08-24 09:19] yungezz commented on #8103
hi @qwordy any update on this issue?

[2020-08-24 09:30] astauben commented on #14769
Hi @digeler, Sorry for the late response.
We have changed the command's syntax a bit. Can you please follow this: https://docs.microsoft.com/en-us/cli/azure/ext/kusto/kusto/cluster?view=azure-cli-latest#ext-kusto-az-kusto-cluster-create doc and try again?

[2020-08-24 10:31] ThejaChoudary commented on #14857
Assigning to myself to do repro

[2020-08-24 10:38] ThejaChoudary commented on #14871
Assigning it to myself to do repro

[2020-08-24 10:42] ThejaChoudary commented on #14862
Assigning it to myself to do repro

[2020-08-24 10:43] ThejaChoudary commented on #14883
Assigning it ti myself to do repro

[2020-08-24 12:29] AnuRadhaRao commented on #14729
@fengzhou-msft  - The idea is to get it from keyVault eventually, but for now, I am trying to upload certificate from desktop.

[2020-08-24 12:46] nc-ruth commented on #10467
Hi, any update to this?

[2020-08-24 14:40] douglaswaugh opened #14895 "Invalid resource ID error when deleting firewall rule"
One of the IDs returned by `az sql server firewall-rule list -g [myResourceGroup] -s [myServer]` returns an 'Invalid resource ID' error when used with `az sql server firewall-rule delete --ids [idForResource]`

The ID returned does have a different format to the other IDs.  It has hypens instead of colons in the date: /subscriptions/[mySubscription]/resourceGroups/[myResourceGroup]/providers/Micro

[2020-08-24 15:34] BrandonE commented on #9128
Thanks for the clarification, @bim-msft. Will this be possible to use with an HSM-backed Key Vault key, or will customers need to use a Dedicated HSM instance.

[2020-08-24 16:19] panchagnula commented on #14729
@fengzhou-msft no special requirements this command simply lets you upload a local pfx to you an Azure app service app/

[2020-08-24 16:23] panchagnula commented on #14729
@AnuRadhaRao from the screenshot above  I see you are using PS as your client to run CLI commands - could yo try to use a normal window or may use cloudshell shell.azure.com & use BASH to verify if this still fails for you? Thank you. please refer to this link on cloudshell as well https://docs.microsoft.com/en-us/azure/cloud-shell/quickstart?view=azure-cli-latest

[2020-08-24 16:38] panchagnula commented on #14631
@calvinsID this needs the new SDK for Python, i am working on that but something might need to be done for Ignite release. No action needed right away.

[2020-08-24 17:48] jaslloyd commented on #12946
@rmsy @jialindai @jan-hudec thanks for the help, p.s by chance do you happen to know what permissions a service principal needs to update the redirect_uris of itself? I tried adding Application.ReadWrite.OwnedBy but no luck

[2020-08-24 18:39] AnuRadhaRao commented on #14729
@panchagnula  - Used BASH on Azure. Same issue :

`cli.azure.cli.core.util : The command failed with an unexpected error. Here is the traceback:

The command failed with an unexpected error. Here is the traceback:

cli.azure.cli.core.util : [('PKCS12 routines', 'PKCS12_parse', 'mac verify failure')]
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line

[2020-08-24 18:39] anlsh-msft opened #14896 "Artifacts: inspecting directory structure & download specifiers?"
The Problem
---------------

Our team is using Azure DevOps to manage our builds, and every so often needs to download artifacts from pipelines. We wanted a CLI for doing so, and some research turned up the Azure CLI.

However, it doesn't look like the CLI has all the functionality which the DevOps website does.

For one, the website can detect whether an uploaded artifact is a folder, and will al

[2020-08-24 19:01] #14095 closed

[2020-08-24 20:13] heaths commented on #14884
As I dug into this further, I realized there is no "purge sas definition" command. I ended up having to unregister the storage account from KV and re-add it. Seems more like a service issue, so I'm closing this bug.

/cc @RandalliLama

[2020-08-24 20:13] #14884 closed

[2020-08-24 20:17] rswe commented on #11984
I found the workarounds above did not work for me in my environment:
Windows 10
PSVersion                      7.0.3
PSEdition                      Core
azure-cli                         2.10.1
Extensions:
azure-devops                      0.18.0

I used this workaround - converted the source value to compare from an integer to a string, so the integer comparison is never needed:

Pre-req:
Azure D

[2020-08-24 20:20] anlsh-msft commented on #14896
It looks like this actually belongs in [azure-devops-cli-extension](https://github.com/Azure/azure-devops-cli-extension), so I'll move it there

[2020-08-24 20:20] #14896 closed

[2020-08-24 21:09] chenlomis opened #14897 "Display all PWD requirements in error messages?"
**Is your feature request related to a problem? Please describe.**

Yes, frustrated when the error guidance/output only check one condition at a time rather than providing complete holistic guidance
See following example. Is there a way to inform the user both PWD requirements at once?
![image](https://user-images.githubusercontent.com/30876406/91096611-26ec2a00-e613-11ea-8e11-0d1eeaf9859c.png)

*

[2020-08-24 21:47] yshkrishna opened #14898 "az ad app update in azure cli version 2.10.1 not working and getting error "Updates to converged applications are not allowed in this version.""
When I am trying to update app roles in a registered app with Azure CLI it is trowing errors

 az ad app update --id e7d43612-c5fe-4c9e-b2c1-b355580077e5 --app-roles @C:\Users\v-sryala\Desktop\Appman.json                                                  Updates to converged applications are not allowed in this version.

Also ,I believe it is an existing issue from 2018 by reference to  https://git

[2020-08-24 22:00] calvinsID commented on #12996
Fixed by #14633

[2020-08-24 22:00] #12996 closed

[2020-08-24 23:04] yonzhan commented on #14895
sql

[2020-08-24 23:11] yonzhan commented on #14897
VM

[2020-08-24 23:12] yonzhan commented on #14898
add to S175

[2020-08-24 23:36] feiyushi commented on #14813
Confirmed that this is a service bug. I've logged a bug and am closing this bug.
Thanks for taking a look!

[2020-08-24 23:36] #14813 closed

[2020-08-25 00:51] laurawu19 opened #14899 "DiskRP 2020-06-30 CLI changes"
**Resource Provider**
Microsoft.Azure.Management.Compute (specifically DiskRP)

**Description of Feature or Work Requested**
Customers can create ultra disks with specific logicalSectorSize. The support values are 4096 and 512. And 4096 is the default value.

Customers can set performance tier of the disks when creating premium disks.

Customers can list associated resources which are using a spec

[2020-08-25 01:37] qwordy commented on #14813
You are welcome!

[2020-08-25 01:45] yonzhan commented on #14899
DiskRP

[2020-08-25 02:47] yungezz commented on #14899
hi @laurawu19 will sync with you on timeline via email.

[2020-08-25 02:50] yungezz commented on #14897
thanks @chenlomis for the feedback. This is valid point. hi @houk-ms let's confirm is this message from service or from CLI, If service, let's feedback to service team. If CLI, let's fix it in next iteration. and check if there any other similar case.

[2020-08-25 03:27] bim-msft commented on #9128
@BrandonE It works well on Dedicated HSM instances, for HSM-backed Vault it has not been supported yet.

[2020-08-25 04:05] bingosummer commented on #14858
From the error message `File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-unpacked-wheel-clkvqii1\azure\cli\command_modules\acs\custom.py", line 340, in k8s_install_kubectl`, `az aks install-cli` failed when installing kubectl.

There are multiple issues about "CERTIFICATE_VERIFY_FAILED".
https://github.com/Azure/azure-cli/issues?q=CERTIFICATE_VERIFY_FAILED
In https://github.com/Azure/azure-cli/issue

[2020-08-25 04:16] bingosummer commented on #14858
Please see details in https://bugs.python.org/issue36011

[2020-08-25 04:35] avirishuv commented on #14841
I'll look into this issue

[2020-08-25 04:38] avirishuv commented on #14837
Let me follow up on the availability of VMSS in this region.

[2020-08-25 04:42] AmoebaCell commented on #14869
Find the information from link: https://docs.microsoft.com/en-us/rest/api/storageservices/working-with-the-root-container#managing-the-root-container -> Important: **A blob in the root container cannot include a forward slash (/) in its name.**
Based on this information, does it mean "sub-virtual folder is not supported in $root", am I understanding correct?

[2020-08-25 04:52] JacobStruiksma commented on #14862
just a quick look
https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/appservice/_validators.py
line 201, it only checks the regular site not the scm

[2020-08-25 05:48] houk-ms commented on #14897
This is a client-side validation, will open a pr to improve the behavior

[2020-08-25 06:18] jsntcy commented on #14772
@dedhar, could you help take a look this issue?

It seems it's a regression issue (allowVnetToVnetTraffic is missing in http response from service side) in service side on 2020-05--01 as there is no such issue in previous version before 2020-05-01.

Below are http logs for calling 2020-05-01 and 2018-08-01:

- **Use 2020-05-01**:

- **Use 2018-08-01**

[2020-08-25 07:01] gzuber commented on #14866
@yungezz you can assign it to me, thanks!

[2020-08-25 07:30] #14494 closed

[2020-08-25 07:30] #14748 closed

[2020-08-25 11:21] jwshive opened #14907 "setting min-capacity with az sql db update --min-capacity does not appear to actually set the capacity."
**Describe the bug**
I am attempting to use the azure cli to change the min-capacity on a mssql database on an basic sku elastic pool.
I've created the elastic pool with per database settings of min-capacity = 0 and max-capacity = 5.
When I create the sql database through the portal, it creates a sql database with the minCapactiy set to null. When I then try to update that on the azure cli, no mat

[2020-08-25 12:17] yonzhan commented on #14907
sql

[2020-08-25 12:30] forty commented on #14405
Sorry to ask, but is there any plan to work on this soon? (I saw that it was put in S174, but it's not anymore, I'm not sure what it means?) - I'm just asking to know if I can count on it or not.

Thanks!

[2020-08-25 12:39] nrobert commented on #13691
\o/
I can confirm that the error seems to be fixed in `2.11.0` on my machine. Thanks!

[2020-08-25 13:16] ashutoshvarma opened #14908 "az interactive: cannot import name 'BlockBlobService' from 'azure.storage.blob'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

To resolve this I fol

[2020-08-25 13:27] yonzhan commented on #14908
add to backlog

[2020-08-25 14:33] richardlm57 opened #14909 "Webapp:FTPS endpoint is not returned with 'az webapp deployment list-publishing-profiles' after enforcing FTPS"
**Describe the bug**
If I use 'az webapp deployment list-publishing-profiles' from Azure CLI to list the publish methods, enforcing FTPS in the Web App, it is not returning any FTPS endpoint

**To Reproduce**
- Enforcing FTPS in the Web App
- Retrieve Web App Publish Profile with 'az webapp deployment list-publishing-profiles' (as here https://docs.microsoft.com/en-us/azure/app-service/scripts/cli

[2020-08-25 14:59] yonzhan commented on #14909
webapp

[2020-08-25 15:34] tommy-dunn commented on #13365
@yugangw-msft any update on this? helm2 is essentially deprecated, looking for azure supported authentication flow with helm3.

[2020-08-25 15:41] mikebutak opened #14910 "az login succeeds, but later fails with "connection actively refused""
From command prompt, `az login` launches browser, prompting me to select my user account.  Clicking on my name, the next screen in the browser says "You have logged into Microsoft Azure!" However, about 30 seconds or so later my command line spits out:

`Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded wi

[2020-08-25 15:47] mountain65 opened #14911 "Webapp:az create webapp for dotnetcore 3.1 fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create --resource-group {} --name {} --plan {} --runtime "DOT

[2020-08-25 17:27] tormodfj opened #14912 "Webapp:Cannot set "additionalLoginParams" with `az webapp auth update`"
**Is your feature request related to a problem? Please describe.**
Occasionally, one has to specify `additionalLoginParams` for a web app. One such scenario is described at [https://docs.microsoft.com/en-us/azure/app-service/app-service-authentication-how-to#refresh-identity-provider-tokens](https://docs.microsoft.com/en-us/azure/app-service/app-service-authentication-how-to#refresh-identity-provi

[2020-08-25 18:06] NillsF opened #14913 "az identity show without resource name does not have exit code."
**Describe the bug**

When running `az identity show` with a wrong name (making the command return `The Resource XXX under resource group YYY was not found`), does not exit with a exit code. When running this in a pipeline (e.g. GitHub actions) this doesn't stop the pipeline, which is not expected behavior after a failed command.
**To Reproduce**

Run `az identity show -g $RGNAME -n _doesnotexist_

[2020-08-25 18:48] matthchr commented on #13846
I'm having this issue too:
[code]

I believe that this is a bug in the CLI, [located here](https://github.com/Azure/azure-cli/blob/0f9e4af5912c4db5f232663d865fe6e5668928af/src/azure-cli/azure/cli/command_modules/acs/custom.py#L1217)

We assume that the existing config has all of the keys (`clusters`, `contexts`, etc). Clearly though, it's possible that this isn't the case.

Other tooling (for exam

[2020-08-25 18:51] r-t-m commented on #12790
Can this be considered as a global feature request please? As there are a lot of services requires that besides mention in tags, like azure key vault secrets,azure key vault certificates, network rules for storage account as mentioned above, storage file shares etc.

[2020-08-25 18:56] vinisoto opened #14915 "AKS create fails (not specifying --node-osdisk-diskencryptionset-id)"
## Describe the bug

AKS create fails. Seems similar to [this](https://github.com/Azure/azure-cli-extensions/issues/1187)

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create -g {} -n {} --enable-aad -

[2020-08-25 19:16] hihorika commented on #14857
hello @ThejaChoudary
can you reproduce this?

please let me know if you need further information to do it.

[2020-08-25 19:50] maperr commented on #10812
Also need update one this.

[2020-08-25 20:06] CamSoper commented on #14915
I can also repro this.

This is a regression that has broken Microsoft Learn content that relies on Az CLI. See: https://aka.ms/learn-microservices

![image](https://user-images.githubusercontent.com/137648/91221089-c6c4b900-e6e2-11ea-8133-e64e158b01cc.png)

cc: @scottaddie @nishanil

[2020-08-25 21:47] hobothulhu commented on #14841
@avirishuv Thank you for any aid. I can attest to the issue still occurring. I am happy to help if able.

[2020-08-25 22:22] vinisoto commented on #14915
@MyronFanQiu This issue seems to have been introduced by [this change](https://github.com/Azure/azure-cli/pull/14688/files#r476665073)

[2020-08-25 23:01] yonzhan commented on #14910
add to S175

[2020-08-25 23:03] yonzhan commented on #14911
webapp

[2020-08-25 23:04] yonzhan commented on #14912
webapp

[2020-08-25 23:06] yonzhan commented on #14913
identity

[2020-08-25 23:21] yonzhan commented on #14915
aks

[2020-08-25 23:55] naveenchekuri opened #14917 "Feature request for new feature Virtual Router"
**Resource Provider**
Microsoft.Network

**Description of Feature or Work Requested**
AZ CLI support for virtualrouter and virtualrouterpeering is already there. We are changing the behavior where we would want to introduce HostedSubnet. Backend resource would also change. For HostedSubnet, backend resource that needs to be created is Microsoft.Network/virtualHubs and Microsoft.Network/virtualHubs

[2020-08-26 00:05] yonzhan commented on #14917
Network

[2020-08-26 00:27] lilyjma opened #14918 "test (cosmos)"
- testing iot/cli tag
- cosmos routing based on 'cosmos' keyword in issue

[2020-08-26 00:28] lilyjma commented on #14918
@Azure/azure-iot-cli-triage

[2020-08-26 00:29] #14918 closed

[2020-08-26 01:39] yungezz commented on #14915
add @andyzhangx for this

[2020-08-26 01:42] yungezz commented on #14911
duplicate with https://github.com/Azure/azure-cli/issues/14871, cc @ThejaChoudary for awareness of another instance of the issue

[2020-08-26 01:42] andyzhangx commented on #14915
fixed by https://github.com/Azure/azure-cli/pull/14920, is `azure-cli 2.11.0` released? I could only find `2.10.1` release in this project now.

[2020-08-26 01:43] yungezz commented on #14908
hi @fengzhou-msft could you pls help to look at the missing package issue? thanks

[2020-08-26 01:50] qwordy commented on #14899
4k alignment? What's the benefit of 512?

[2020-08-26 02:28] northtyphoon commented on #14774
@allianz-shay-katzir  can you try `--no-format` option in `az acr build`?

[2020-08-26 03:29] fengzhou-msft commented on #12035
Resolved by #14785, please try with Azure CLI 2.11.0.

[2020-08-26 03:29] #12035 closed

[2020-08-26 06:07] TomGeske commented on #14915
@please-close

[2020-08-26 06:12] yungezz commented on #14915
hi @andyzhangx your PR merged after build cut at last Friday, so it will be released at next release: 2.12.0 released at Sep 22th.

[2020-08-26 06:15] andyzhangx commented on #14915
@yungezz this is a broken change for creating AKS cluster, is it possible to merge this PR into `2.10.1` release? thanks.

[2020-08-26 06:18] yungezz commented on #14915
will sync with you on teams

[2020-08-26 06:37] #14400 closed

[2020-08-26 07:20] allianz-shay-katzir commented on #14774
using `--no-format` I still got the same error.
using `--no-logs` went through build without any error. But of course I would like to have the logs in the output.

[2020-08-26 07:36] yangl900 opened #14924 "Should exclude storageProfile on VMSS update command request"
**Describe the bug**

When a VMSS is created using Shared Image Gallery image from a different tenant, any VMSS update operation like `az vmss update` or `az vmss extension add` will fail at ARM linked access check. This is because the client CLI use won't have permission in the SIG tenant.

The error message you see will be:
[code]

AKS recently rolled out a change to subset of customers to pilot

[2020-08-26 07:52] jiasli commented on #12790
@r-t-m, the issue is caused by [asynchronous Azure operations](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/async-operations) which already show **finished** but are actually not on the service-side. There is no way for Azure CLI to detect whether the operation is finished or not on the service-side.

Could you [create a support ticket](https://azure.microsoft.com/en-us

[2020-08-26 07:58] yonzhan commented on #14924
VMSS

[2020-08-26 08:13] nishanil commented on #14915
Thanks for the fix. I hope you're able to prioritize the release to Cloud Shell sooner than Sep 22. Something as basic as this walkthrough https://docs.microsoft.com/en-in/azure/aks/kubernetes-walkthrough  is broken.

[2020-08-26 08:18] andyzhangx commented on #14915
maybe cut a new `2.11.1` release earlier than 9/22?

[2020-08-26 08:28] yungezz commented on #14924
cc @arrownj , could be done via support of aux-tenant-id in header?

[2020-08-26 08:31] jsntcy commented on #14772
@AshwinSarimin, Confirmed from service team, --vnet-to-vnet-traffic is deprecated in 2020-05-01 which azure cli 2.10.1 uses. CLI will remove this argument from the command `az network vwan create`.

[2020-08-26 09:19] HackerBaloo commented on #14915
It's fixed in aks-preview so a work around is to install that: `az extension add --name aks-preview`

[2020-08-26 09:27] haroldrandom commented on #14777
HI @johnwildes, Sorry I couldn't reprod your situation. It worked for me. If that's case, could you give it a try for Azure CLI 2.11.0?

[2020-08-26 10:45] abrignola opened #14927 "az keyvault create with --enable-soft-delete=true -> confusing logs"
**Describe the bug**
az keyvault create --location "xxx" --name "xxx" --resource-group "xxx" --enable-soft-delete=true

When using cli 2.10.1 to create a KeyVault with the soft delete flag on, it will log that this has been deprecated and will be removed in 2.11.0.
The release notes for 2.11.0 don't mention anything about that.
When updating cli to 2.11.0 and running the same command, the message

[2020-08-26 10:53] yonzhan commented on #14927
keyvault

[2020-08-26 11:26] ThejaChoudary commented on #14909
Assigning it to myself to do repro

[2020-08-26 11:38] qwordy commented on #14924
This piece of code is copied from `vmss update`. It was added in July. It checks existence of image reference and sets auxiliary subscription so that it won't trigger the permission error. Which version of Azure CLI do you use? Maybe you can try the latest version of Azure CLI, 2.11.0 and see if it still fails.
[code]

[2020-08-26 12:21] abrignola commented on #14927
UPDATE:
The task is failing even when I disable failOnStandardError, it returns exit code 1.

**Current scenario is:**
Azure CLI @2 loads cli version 2.10.1.
failOnStandardError is set to false

Outcome:
![image](https://user-images.githubusercontent.com/52066880/91302832-f76a2880-e79e-11ea-8942-1bfd4a96a2c4.png)

How do we get around this?

[2020-08-26 13:14] yungezz commented on #14927
hi @bim-msft, could you pls check the message there? thanks

[2020-08-26 13:37] shortpoet opened #14928 "Dynamically retrieve correct IP address"
When I create a container it shows the ip address.  I can retrieve that ip address with the below command.

[code]
The problem is, that is not the ip address under which the container actually runs.  When checking container logs in azure portal, I see the error that says the server is trying to connect to my database under a different ip.  I need that ip to be able to configure server firewall.

i

[2020-08-26 13:59] xuto2 commented on #14924
@qwordy  setting aux_subscription won't help here  - the SP that invokes the CLI command doesn't have permission to access the image under the aux_subscription so it will still fail (the aux_subscription is an AKS owned prod subscription and the images resources under that subscription is not accessible to anyone other than AKS 1st party SP).

[2020-08-26 14:45] yonzhan commented on #14928
container

[2020-08-26 15:50] shortpoet commented on #14928
I found this in the [docs](https://docs.microsoft.com/en-us/azure/app-service/tutorial-multi-container-app#create-an-azure-app-service-plan)

Which would solve the general problem. Still would want to know if there is a way to be more explicit about it. Also, wondering if this general solution is still open to security vulnerabilities?

[code]

[2020-08-26 17:31] Silvenga commented on #11195
@anthonychu is there a way to set the name of the created dynamic plan? I would like to get it to follow our conventions, the dynamic plan name sticking out just doesn't look all the professional.

[2020-08-26 17:37] FHPIENAAR commented on #14915
Any update on the issue?  I'm trying to create a private cluster and cannot set the property --outbound-type userDefinedRouting without using Azure CLI, but when I do, I get the error Property id '' at path 'properties.diskEncryptionSetID' is invalid.

[2020-08-26 17:37] FHPIENAAR commented on #14915
I will attempt this now.

[2020-08-26 17:56] DerekStrickland commented on #13846
I think I can confirm this.  I worked around the issue by creating a `kind` cluster, then issuing a `get-credentials` command.  It' downloaded the info fine after that. Easy workaround,.  Thanks to everyone that documented this so well.

[2020-08-26 17:58] dcatalano-figure commented on #13881
was able to make this work by recreating a secret until the secret had no dashes, then ran the `update-credential` command

[2020-08-26 18:05] panchagnula commented on #14857
@hihorika can you run the command with --debug & share the logs please? it could be that that the API requires specific permissions on the VNET - which the Contributor role doesn't have. the logs will help us narrow down if this is API or CLI

[2020-08-26 18:12] nbihan-mediware commented on #14656
I totally understand the priorities but a bit disappointing to see no support for WSL2 when Microsoft is now backporting it to Windows 10 19.09 and 19.03.
I think the bug is rather simple and resides in the way the CLI is detecting WSL vs WSL2, and fall back in the default behavior.

[2020-08-26 18:23] atrauzzi commented on #13365
@tommy-dunn - Agreed, would be nice if azure CLI could help us out here.

[2020-08-26 18:35] Silvenga commented on #8388
Wonder if you tried your workaround recently @hentie - it looks like it's causing the Azure management API to throw 500's when trying to create a new function app. Or maybe Azure is just having a bad day - can never really tell. 🤷

[2020-08-26 18:50] laurawu19 commented on #14899
Hi @qwordy ,
Ultra disk is a 4k native disk. There are some customers, for example, Blackrock using legacy apps or applications that allow < 4K IOs sector size (512E). So, diskRP introduces this property to support customers to create disks with 512E logicalSectorSize.

[2020-08-26 19:22] yugangw-msft commented on #14596
@sam-cogan, sorry for the delay, yes your point is correct. Since we are at it, does your solution require 10+ region replicates?

[2020-08-26 19:45] FHPIENAAR commented on #14915
100% working and fine after I added the ask-preview extension.  Thank you all!

[2020-08-26 20:20] cerrakoth opened #14931 "[Errno 30] Read-only file system: '/home/NAME/.azure/commands/2020-08-26.20-06-21.login.452.log'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Deleted my cloud shell resource group via ACS, since then I'm unable to run any command due to the error message below. The first command I tried after deleting the group via 'az group delete -n GROUPNAME was az group list.

I have seen this posted in other threads with no answer from MS.

**Command Name**
az g

[2020-08-26 20:32] toddysm commented on #13365
@yugangw-msft If we have a plan, let's update the thread.

[2020-08-26 20:37] hihorika commented on #14857
The debug log which show 403 error is following.

I wonder why the cli command returns 403 and a user who has same role can do same operation successfully on Azure portal.

[code]

[2020-08-26 20:50] hihorika commented on #14857
There is a difference between REST APIs used by the cli and portal.

- The cli uses `PATCH` method for /config/web with api-version `2019-08-01`
- Azure portal uses `PUT` method for /config/web with api-version `2018-11-01`

It seems that this causes the difference result.

[2020-08-26 20:59] Drewm3 commented on #13320
Toggling the feature request flag because it looks like the MSFT monitoring tools didn't pickup the change from two weeks ago.

[2020-08-26 23:06] ghosh9691 commented on #14915
Thanks! Worked for me, but such a key fix needs to be pushed through quicker. This breaks the AKS lessons.

[2020-08-26 23:11] yonzhan commented on #14931
add to S175

[2020-08-26 23:40] hihorika commented on #14857
Hello @panchagnula , @ThejaChoudary

I suppose that this issue is caused by both of followings:

  - The cli's payload has `ipSecurityRestriction` property
  - The property includes subnet id which the service principal does not access right for for

I checked both of the payloads with/without `ipSecurityRestriction` property using `az rest`
Then operation using the payload **without** this proper

[2020-08-26 23:46] panchagnula commented on #14857
@hihorika in CLI we get the full SitePayload as per the API https://docs.microsoft.com/en-us/rest/api/appservice/webapps/get
portal doesn't use SDK API hence the difference. This would be a breaking change for CLI & PS and hence not something we will be able to handle anytime soon. Portal would be the best alternate for now.

[2020-08-27 00:18] calvinsID commented on #14911
@mountain65 Please try using the newest CLI version, the fix should be in 2.11.0
Duplicate with #14758

[2020-08-27 00:18] #14911 closed

[2020-08-27 00:19] calvinsID commented on #14871
@koolrays Please try using the newest CLI version, the fix should be in 2.11.0
Duplicate with #14758

[2020-08-27 00:19] #14871 closed

[2020-08-27 00:26] calvinsID commented on #14883
@KonstantinTr Please use the list-runtimes command with --linux flag to get the list of available linux runtimes. Using the list-runtimes command without this flag will show you runtimes available for windows
`az webapp list-runtimes --linux`

[2020-08-27 00:26] #14883 closed

[2020-08-27 00:33] hihorika commented on #14857
Thanks @panchagnula

I will send followins as workaround:
  - User Azure portal
  - Assign a role, which contains an action `joinViaServiceEndpoint/action`, to the service principal

But it doesn't seem reasonable that the SP needs to has the action for the VNET/subnet even though the user doesn't change the network configuration.

Do we have a plan to change this behavior in the future, not soon?

[2020-08-27 00:46] calvinsID commented on #14826
@MrBirdJesus can you try putting your settings under quotation marks like so: `--settings DataEntities=**'**[Entity Framework Connection String]**'**`

[2020-08-27 01:02] calvinsID commented on #14580
@flyingUnderTheRadar Can you try putting quotations around your settings like so: `--settings 'SettingKey=$SettingValue' 'SettingKey2=$SettingValue2'` and let me know if the problem still persists

[2020-08-27 01:14] calvinsID commented on #14319
@kaletkamk Can you please try using the latest version of CLI to see if this problem persists? I was unable to repro

[2020-08-27 01:28] AaronHsiao commented on #14915
It works for me
`az extension add --name aks-preview`

But when I try to create aks
`az aks create -g {} -n {} --enable-managed-identity`

There is another problem
`Directory permission is needed for the current user to register the application. For how to configure, please refer 'https://docs.microsoft.com/azure/azure-resource-manager/resource-group-create-service-principal-portal'. Original erro

[2020-08-27 01:44] calvinsID commented on #13672
@Rinal can you please try with the latest CLI? I was unable to repro with v2.10.1

[2020-08-27 01:56] jiasli commented on #14656
Let me reopen it and put it into our roadmap.

[2020-08-27 02:19] qwordy commented on #14924
Discuss in internal email. I will give a summary here.

[2020-08-27 02:30] jiasli opened #14933 "[Enhancement Proposal] Support `--subscription` in `az login`"
**Is your feature request related to a problem? Please describe.**

Sometimes, the user's account has access to many subscriptions (for example, over 300) (https://github.com/MicrosoftDocs/azure-docs-cli/issues/2148).

**Describe the solution you'd like**

A parameter `--subscription` can be added to explicitly select the subscription without calling [Subscriptions - List](https://docs.microsoft.c

[2020-08-27 02:46] yonzhan commented on #14933
add to S`175

[2020-08-27 03:05] jsntcy commented on #14917
Summary after meeting discussion.
- This feature will be announced as Public Preview in Ignite.
  - @naveenchekuri will help add the following aliases to their test subscription so that CLI can test the feature: ychenu, fan.qiu, Jianhui.zeng
    - After the aliases are added to test subscription, we can test the feature in centraluseuap region.
  - It’s better to make the feature available in cana

[2020-08-27 03:29] ernani commented on #14915
@AaronHsiao In your case you may not have the permissions to create service principals in your tenant, please refer to the given link to check if or your tenant admin can create them for you here: https://docs.microsoft.com/azure/azure-resource-manager/resource-group-create-service-principal-portal

And, then specify the params by referring to the az aks create command, more details here:

https:/

[2020-08-27 03:42] yungezz commented on #13732
hi @ecsousa could you pls try the command above? are you still on this issue?

[2020-08-27 03:51] yungezz commented on #13752
This one is a feature request because previously az keyvault don't support idempotent at client side, but depends on service to provide idempotency. To support at client side, there's little debate at existing user experience impact. PR is ready, we're working on reviewing and fine design on it.

[2020-08-27 03:57] allegradomel commented on #12546
Hi @jwrightazure - providing an update here. The location parameter is described more accurately in the corresponding PowerShell command doc:

"Please note that the Azure region information you specify will be used as a reference for version (not as a filter based on location). For example, even if you specify -Location eastus2 you will get the list of service tags with prefix details across all r

[2020-08-27 04:06] allegradomel commented on #14394
@oliviercastonguay  thanks for the feedback! From the PowerShell documentation for the same command:

"Please note that the Azure region information you specify will be used as a reference for version (not as a filter based on location). For example, even if you specify -Location eastus2 you will get the list of service tags with prefix details across all regions but limited to the cloud that your

[2020-08-27 04:41] #12546 closed

[2020-08-27 04:55] hentie commented on #8388
Hi @Silvenga , I just tested it this morning and the '_terrible workaround_' is still working on my side.  I was using Azure CLI version 2.4.0 and deploying the the resources to West Europe region for the test.

[2020-08-27 05:11] PeterSek opened #14936 "400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group list --query {} --output {}`

## Expected Behavior

## Environmen

[2020-08-27 05:21] NullMDR commented on #14769
Hi @astauben it's because you introduced a breaking change in swagger in api version 2019-01-20 which updates the enum but SDK and cli didn't get update and release. I suggest sending SDK release request for this change or maybe request cli update on kusto.

[2020-08-27 05:24] yonzhan commented on #14936
add to S175

[2020-08-27 05:24] NullMDR commented on #14769
https://github.com/Azure/azure-rest-api-specs/pull/6197/files#diff-8cd41463a9cc7c1a75a89c3aec008e2dR1532-R1543 FYI

[2020-08-27 05:27] MyronFanQiu commented on #14394
@allegradomel In other word, I can say this is by design. Is that correct?

[2020-08-27 05:47] haroldrandom commented on #14527
@irrogozh I prefer to use `--tcp-port-behavior`, removing the term `destination` as I don't see any pair of source and destination in the concept of TestConfiguration. What do you think?

[2020-08-27 06:48] yungezz commented on #14936
known Cloudshell issue in #11749 . hi @PeterSek as a workaround, could you pls try run `az login`?

[2020-08-27 06:59] bz-wow opened #14939 "Azure cli alway append error message when execute az command with --help parameter"
Installed Azure cli v2.11.0 from https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest&tabs=azure-cli.

Hyper-V System:
Windows 10 Enterprise, version 2004, build 19041.450

Issue:
Run "az --help" or "az -h" in cmd window, it always displays the help info, and after a short while, it then prints the following error.

The command failed with an unexpected error.

[2020-08-27 07:44] Houlberg-Nielsen commented on #14915
It fails in preview as well
az aks create -g $resourceGroup -n $clusterName --node-count 1 --generate-ssh-keys

Operation failed with status: 'Bad Request'. Details: Service principal clientID: d8fb2cad-59b1-4f9d-8cfb-5fe38b2f0e16 not found in Active Directory tenant 0cbd4674-a427-493e-834f-e014c4a8cd25, Please see https://aka.ms/aks-sp-help for more details.

Gives no sense, is it possible to dow

[2020-08-27 07:59] #14665 closed

[2020-08-27 08:08] A30004028 opened #14941 "Crash when running az keyvault list using a managed identity"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Assign a system managed identity to a VM
- Give it access to a key vault
- on the VM, log into az cli using `az

[2020-08-27 08:14] bim-msft commented on #14867
Doc updated

[2020-08-27 08:14] #14867 closed

[2020-08-27 08:32] A30004028 commented on #14941
Also fails when running only `az keyvault list`

[2020-08-27 08:44] antrikshdev commented on #14915
It works for me
az extension add --name aks-preview

[2020-08-27 08:47] A30004028 commented on #14941
Full trace

[code]

[2020-08-27 08:52] kaletkamk commented on #14319
@calvinsID
The issue is not persistent. It happens randomly.

[2020-08-27 09:02] TomGeske commented on #14915
@AaronHsiao: you issue looks different. It seems like you don't have permissions on your AAD to create app registrations. Are you able to create managed identity in your subscription?

[2020-08-27 09:20] naioja opened #14943 "az cli adding a system node pool"
## Describe the bug

I'm trying to add a system node pool using the az-cli command following the options here :
https://docs.microsoft.com/en-us/cli/azure/aks/nodepool?view=azure-cli-latest#az-aks-nodepool-add

The command fails as the option `--mode` is reported to be unrecognized.

**Command Name**
`az aks nodepool add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note

[2020-08-27 09:23] yonzhan commented on #14939
installing

[2020-08-27 09:33] yonzhan commented on #14943
aks

[2020-08-27 10:42] Silvenga commented on #8388
Perfect, thanks for checking @hentie!

[2020-08-27 12:35] MikkelHegn commented on #12871
Anything we can do to override the crafted example? Could we just PR the change here: https://github.com/Azure/azure-cli/blob/3f24ada49f3323d9310d46ccc1025dc99fc4cf8e/src/azure-cli/azure/cli/command_modules/acs/_help.py#L517 @qwordy @haroldrandom @fengzhou-msft

[2020-08-27 12:40] dmitry86 opened #14944 "'az vm create --help' returns an unexpected error in azure-cli 2.0.81"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm create --help`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

Description:    Ubuntu 20.04.1 LTS
Release:        20.04
Codename:       focal

- az vm create  -h
 or
- az vm

[2020-08-27 12:47] dmitry86 commented on #14944
I had to install antlr4 for python through pip3:
[code]

[2020-08-27 12:48] #14944 closed

[2020-08-27 13:22] MrBirdJesus commented on #14826
Passing a raw string like that works. It's not a workaround I can use in this instance however as I need to build the connection string based on variables and parameters passed to a Powershell script during resource group deployment. I was trying to pass it as `--settings DataEntities=$entityFrameworkConnectionString`

[2020-08-27 13:25] MortlMcCrisis commented on #14915
I am facing the same issue. Also az _extension add --name aks-preview_ did not work for me an I get the same permission error. The problem raised without any changes to the cluster or the AAD.

[2020-08-27 13:33] jim-minter commented on #14941
cc @Makdaam .  ARO has seen also this issue, it broke our deployment pipelines.

[2020-08-27 13:34] andyzhangx commented on #14915
another workaround is remove `2.11.0` cli and install `2.10.1`

[2020-08-27 13:38] josh-ferrell opened #14945 "Updating extensions fails in certain circumstances."
**Describe the bug**
I was unable to update the aks-preview extension from 0.4.50 to 0.4.61 and kept receiving the following error.

Command '['/opt/az/bin/python3', '-m', 'pip', 'install', '--target', '/home/joferr/.azure/cliextensions/aks-preview', '/tmp/tmpqo7exm6p/aks_preview-0.4.61-py2.py3-none-any.whl', '-vv', '--disable-pip-version-check', '--no-cache-dir']' returned non-zero exit status 1.

[2020-08-27 13:42] fengzhou-msft commented on #14939
@bz-wow can you check whether you can visit `https://raw.githubusercontent.com/Azure/azure-cli/master/src/azure-cli-core/setup.py`?

As a workaround, you can modify the `~/.azure/versionCheck.json` file with the following content:
`{"versions": {"azure-cli": {"local": "2.11.0", "pypi": "2.11.0"}, "telemetry": {"local": "1.0.5", "pypi": "1.0.5"}, "core": {"local": "2.11.0", "pypi": "2.11.0"}}, "upd

[2020-08-27 13:44] fengzhou-msft commented on #14941
@bim-msft can you take a look at this issue?

[2020-08-27 14:02] fengzhou-msft commented on #14945
@josh-ferrell in the implementation of `az extension update`, it first backup the current extension in a temp directory and removes it, then use `pip install` to add the new version.

If using `pip install` directly, you're right to add the `--upgrade` option.

[2020-08-27 14:02] Makdaam commented on #14941
I checked on our RHEL7 VMs in Azure.
I'm getting the same exception with get_token arguments from 2.11.0 installed via RPM from the https://packages.microsoft.com/yumrepos/azure-cli repo.
2.10.1 (previous to 2.11 in the repository) and earlier versions installed via RPM work as expected (they return the keyvault data).

[2020-08-27 14:05] josh-ferrell commented on #14945
For some reason the upgrade via `az extension update -n aks-preview` would fail every time. Fixing it with `pip install` works one you see the `--upgrade` flag recommended but it's preferable to find out why the backup and removal of the extension wasn't working via the CLI.

[2020-08-27 14:48] TomGeske commented on #14915
Windows download is availble here: https://azurecliprod.blob.core.windows.net/msi/azure-cli-2.10.1.msi

[2020-08-27 15:58] allegradomel commented on #14394
@MyronFanQiu yes

[2020-08-27 19:46] eholman commented on #14758
I see 2.11.0 is released at August 25, 2020 but the DevOps agents is currently using 2.10.1 so it's still an issue.

Is there any workaround available? I couldn't find any command to set it separately.

Also `az upgrade` doesn't work in the pipeline, so that doesn't help:
[code]

[2020-08-27 19:51] lilyjma commented on #8214
@Azure/aks-pm do we have any updates on this?

[2020-08-27 19:53] lilyjma commented on #8449
@jberezanski-mdg are you still experiencing this problem?

[2020-08-27 19:54] trimble opened #14947 "get-access-token bad request error"
**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az account get-access-token --resource==https://{redacted}.azurehealthcareapis.com`

## Expected Behavior
Access token returned

## Environment Summary
[code]
## Additional Context

[2020-08-27 20:32] rgoddard-DE opened #14948 "az account get-access-token --resource fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --resource {}`

## Expected Beha

[2020-08-27 20:33] axayjo commented on #14425
Tracking this as feature request as we're looking to address this in the future. The current run command implementation doesn't produce status fields.

[2020-08-27 21:35] rgoddard-DE commented on #14948
I was doing it wrong. figured out my issue

[2020-08-27 21:35] #14948 closed

[2020-08-27 21:40] trimble commented on #14947
Temporary workaround of `az login` fixed this for now. See https://github.com/Azure/azure-cli/issues/11749#issuecomment-570975762

[2020-08-27 21:40] #14947 closed

[2020-08-27 22:27] msweeney-ahc opened #14950 "az error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role assignment list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az role assignment list`

## Expected Behavior

## Environment S

[2020-08-27 23:02] yonzhan commented on #14758
@fengzhou-msft  to help with

[2020-08-27 23:03] yonzhan commented on #9623
SignalR

[2020-08-27 23:05] yonzhan commented on #14950
add to S175

[2020-08-27 23:23] hamidtirmizi commented on #14087
`az tag list` behaves differently based on the parameters.

Assuming that you used the parameters you have mentioned above:

- `az tag list` is a computed result. It lists all the tags used on any **resource / resource group under the subscription or the subscription itself**, plus the **predefined tags** on a subscription.
- `az tag delete --name` option deletes **predefined tags** only. If the s

[2020-08-27 23:23] #14087 closed

[2020-08-28 00:24] flyingUnderTheRadar commented on #14580
Appreciate your response. Ended doing doing something different. Don't have it set up to test anymore.

However just for others I ended up having to use powershell like this to make it work

[code]

[2020-08-28 00:28] chenkennt commented on #9623
@zackliu please help take a look

[2020-08-28 02:07] zackliu commented on #9623
I will follow the issue.

[2020-08-28 02:18] MyronFanQiu commented on #14394
@oliviercastonguay I would close this issue since it's by design confirmed by service team. We had add more explanation into our cmdlet. Feel free to raise any more question.

[2020-08-28 02:18] #14394 closed

[2020-08-28 03:30] #14939 closed

[2020-08-28 04:13] yugangw-msft commented on #14596
The reason I am asking for the replication topology is if a region is down, through PE in other regions (even peered), you can pull from other healthy regions. Of course with limits at 10, you can't have a PE in each region, but 10 regions all simultaneously down is much less likely

[2020-08-28 05:00] yungezz commented on #14950
known issue in #11749 . Pls try `az login` to workaround.  thanks

[2020-08-28 05:01] yungezz commented on #14941
cc @houk-ms  since this is a typical non-actionable error code

[2020-08-28 05:16] Rinal commented on #13672
We solved with another CLI command. Thank you!

[2020-08-28 05:57] #13672 closed

[2020-08-28 07:59] qwordy commented on #13732
I found the root cause. Recently, a similar issue https://github.com/Azure/azure-cli/issues/14924 was reported. He said we can pass a partial model of a VM/VMSS via PUT API to update it. I am fixing it. Close it for now. Will update in #14924

[2020-08-28 07:59] #13732 closed

[2020-08-28 08:09] yuriwoof opened #14957 "Setting alert for Microsoft.ContainerRegistry/registries/privateEndpointConnections/writ"
**Is your feature request related to a problem? Please describe.**

I have requested from customer to be able to set alert for the private endpoint approval activity from different AAD tenant.

Currently, we can see "Microsoft.ContainerRegistry/registries/privateEndpointConnections/write" in activity log, but "az monitor activity-log alert create" said it is not supported.

![image](https://user-i

[2020-08-28 08:26] jayendranarumugam opened #14960 "Running "az synapse workspace delete " with contributor SPN access giving Error "Can not perform requested operation on nested resource. Parent resource '<workspacename>' not found.""
I ran `az synapses workspace delete` command with SPN , the SPN having contributor access to the sub, getting the error like

Even though i get the above error the workspace getting deleted successfully.

running this with `--debug` I get the below

*Note: This error is not coming if I run it with owner access*

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micros

[2020-08-28 09:24] LayZeeDK commented on #12369
Duplicate of https://github.com/Azure/azure-cli/issues/11389.

[2020-08-28 09:24] LayZeeDK commented on #14581
Duplicate of https://github.com/Azure/azure-cli/issues/11389.

[2020-08-28 09:32] LayZeeDK commented on #11389
Related to https://github.com/Azure/azure-cli/issues/12369.

[2020-08-28 09:35] LayZeeDK commented on #12369
For some reason, it seems that the `--filter-sql-expression` parameter is required, even though it is marked as optional in [the docs](https://docs.microsoft.com/en-us/cli/azure/servicebus/topic/subscription/rule?view=azure-cli-latest#az-servicebus-topic-subscription-rule-create).

Whether this is by design in Azure or a mistake in Azure CLI, I don't know.

As a workaround, try adding this paramet

[2020-08-28 09:47] yonzhan commented on #14957
monitor

[2020-08-28 10:28] AbdulWas1 opened #14961 "az login --identity: HTTPConnectionPool(host='169.254.169.254', port=80): Max retries exceeded with url"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --identity`

## Expected Behavior

## Environment Summary
[code]
## Ad

[2020-08-28 12:00] benjamin2605 opened #14963 "az cli 2.11.1 completely broken: cannot import name '__version__'"
Today, all of our DevOps pipelines requiring azure cli suddenly failed with the error

[code]

Installing the newest update locally showed me the same error, running az --version gives me

[code]

Reverting to azure-cli 2.11.0 fixes the error

[2020-08-28 12:32] djpugh commented on #14963
Happened to us as well - how did this get released with this issue?

[2020-08-28 12:47] johnwildes commented on #14777
@haroldrandom Recently updated to az cli 2.11.1 condition is the same.

[2020-08-28 13:24] mirageglobe commented on #11984
interestingly backticks dont work out always the same.

[code]

[2020-08-28 13:32] andyzhangx commented on #14915
already fixed by latest version: https://github.com/Azure/azure-cli/releases/tag/azure-cli-2.11.1

[2020-08-28 13:51] andyzhangx commented on #14915
/close

[2020-08-28 14:23] PeterUpfold commented on #13691
This looks like it is fixed for me too.

    % az --version
    azure-cli                         2.11.0

[2020-08-28 14:52] jberezanski-mdg commented on #8449
I haven't done any ACI work in over a year, but I've just checked and yes, the behavior is still the same (I have az 2.11.0 now).

[2020-08-28 15:18] idear1203 commented on #14960
Thanks for the notification. We will add some logic at CLI side to handle this. Meanwhile, we will check if there is a server issue or not.

[2020-08-28 15:36] alexandair opened #14964 "az vm assess-patches fails with "Subscription is not registered." error"
## Describe the bug
`az vm assess-patches` fails with "Subscription is not registered." error.
What does that mean? How to fix it?

**Command Name**
`az vm assess-patches`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm assess-patches -g

[2020-08-28 15:45] yonzhan commented on #14961
add to S175

[2020-08-28 15:49] yonzhan commented on #14963
@fengzhou-msft  could you please help with this?

[2020-08-28 15:51] yonzhan commented on #14964
vm

[2020-08-28 16:10] alexandair commented on #14964
@yonzhan vm?

[2020-08-28 16:28] fengzhou-msft commented on #14963
@benjamin2605 @djpugh how did you install azure-cli 2.11.1? You may have an older version of telemetry in your environment.
Please update to `azure-cli-telemetry` 1.0.6 with `pip install --upgrade azure-cli-telemetry`

[2020-08-28 16:38] yonzhan commented on #14964
@yungezz will help you with this issue

[2020-08-28 16:43] fengzhou-msft opened #14965 "Catch azure-cli-telemetry code change without bumping up the version"
`azure-cli-telemetry` code is not changed a lot and when it's changed, we need to bump the version, otherwise the changes won't be published to pypi. This has happened for a few times (twice as far as I know), such as PR #14905 causing issue #14963. We should catch this as early as possible.

We already have code change detection in incremental tests, so we can add a task to detect if the version

[2020-08-28 16:48] yonzhan commented on #14965
azure-cli-telemetry

[2020-08-28 16:51] djpugh commented on #14963
It was on an azure pipeline task this morning - pip install azure-cli

[2020-08-29 01:49] arde0708 opened #14968 "How to pass an argument parameter without defining a value?"
I am trying to achieve three scenarios for a command. Is there a way to do this ?
1. az postgres server create                                        **(no argument parameter passed)**
2. az postgres server create --public-access               **(no value passed for argument parameter _--public-access_)**
3. az postgres server create --public access <value> **( a valid value is passed to argument

[2020-08-29 03:13] yonzhan commented on #14968
postgres

[2020-08-29 03:30] mclagett opened #14969 "az login into the AzureStackUser cloud fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login -u {azurestack@mclagetthotmail.onmicrosoft.com} --tenant {mclagetthotm

[2020-08-29 04:07] #14915 closed

[2020-08-29 04:21] yonzhan commented on #14969
add to S175

[2020-08-29 04:23] yungezz commented on #14964
hi @alexandair that means the feature need to be registered firstly before using. @qwordy could you pls help with instruction?

[2020-08-29 04:27] yungezz commented on #14963
https://github.com/Azure/azure-cli/issues/14965

[2020-08-29 05:00] yonzhan commented on #14760
@RDukes425  any feedback?

[2020-08-29 07:27] JesHansen opened #14970 "az functionapp crashes in WSL2"
## Describe the bug
Using Ubuntu-20.04 in WSL2. After installing azure-cli with
[code]
I'm able to login, create resource groups, create storage accounts etc. However, the az functionapp subcommands seems to be broken. az feedback --verbose gave the following output:

**Command Name**
`az functionapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument

[2020-08-29 09:31] yonzhan commented on #14970
functionapp

[2020-08-29 11:13] djpugh commented on #14963
Even running with azure-cli-telemetry in a brand new virtualenv it is failing still:

Installed packages are azure-cli-2.11.1 azure-cli-core-2.11.1 azure-cli-telemetry-1.0.6

[2020-08-29 12:06] djpugh commented on #14963
Reverting back to 2.11.0 is still installing azure-cli-telemetry-1.0.6 and failing now as well

[2020-08-29 12:29] djpugh commented on #14963
Ok please ignore the above I think this is an issue now with https://github.com/Microsoft/azure-pipelines-tasks - AzureCLITask I think

[2020-08-29 12:37] djpugh commented on #14963
/the (private) build agent having the 2.11.1 version, but an older telemetry version before that fix was performed.

[2020-08-29 13:17] fengzhou-msft commented on #14970
Duplicate with #14011. Please follow the [instruction](https://github.com/Azure/azure-cli/issues/14011#issue-640943121) to upgrade your azure-cli.

[2020-08-29 13:36] fengzhou-msft commented on #14968
@arde0708 what are the sample values of `--public-access`? What is the behavior for 2?
We have [get_three_state_flag](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli-core/azure/cli/core/commands/parameters.py#L161) arg_type that can achieve 2 and 3, but it only support boolean values.

[2020-08-29 17:13] JesHansen commented on #14970
Thanks @fengzhou-msft, upgrading solved the issue.

[2020-08-29 17:13] #14970 closed

[2020-08-29 17:32] arde0708 commented on #14968
We would want to define three kind of values for --public-access

1. **No value.** Just the parameter is passed. _Ex : 'az postgres flexible-server create --public-access'_ ( Adds neither a Vnet, nor a firewall rule)
2. **Single IP**. _Ex :  'az postgres flexible-server create --public-access 10.23.202.44'_ (Behavior : Adds single firewall rule)
3. **Multiple IP**. _Ex :  'az postgres flexible-ser

[2020-08-30 19:43] ralfkret opened #14972 "az cli incorrect parsing of query "--query "[0].keys(@)""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I get an error message (see below) when I issue the following command. The command should output the structure of the json data.

**Command Name**
` az vm list -d --query "[0].keys(@)"`

**Errors:**
[code]

As you may notice in the error message the closing parenthesis of the query is missing.
So I reissued the

[2020-08-30 19:52] avbhaskar opened #14973 "az update failed to check available update for "storage-preview""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az extension update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
ran az update. version update was completed successfully followed by extension updates. most extensions were che

[2020-08-31 00:46] snaheth commented on #13926
This could be happening for a variety of reasons so it'd be useful to gain some more understanding around what you're deploying. If you're still experiencing the same problem, feel free to reopen this issue and provide some additional context (e.g. the resource type, operation, HTTP method) and a newer Correlation ID.

[2020-08-31 00:46] #13926 closed

[2020-08-31 01:57] qwordy commented on #14964
Run these two commands.
https://docs.microsoft.com/en-us/cli/azure/feature?view=azure-cli-latest#az-feature-register
https://docs.microsoft.com/en-us/cli/azure/provider?view=azure-cli-latest#az-provider-register
If it still does not work, it requires service's manual intervention to whitelist it.

[2020-08-31 02:03] haroldrandom commented on #14777
@johnwildes Could you post the log trying to install `azure-firewall` via raw command `pip install https://azurecliprod.blob.core.windows.net/cli-extensions/azure_firewall-0.6.0-py2.py3-none-any.whl` in this environment?

BTW, Have you installed another older Azure CLI via MSI ? If so, try to remove it first.

[2020-08-31 02:04] qwordy commented on #12871
You can modify it manually

[2020-08-31 02:11] yungezz commented on #14963
we're reaching out to Azure pipeline team on this also.

[2020-08-31 02:12] yungezz commented on #14973
hi @fengzhou-msft from description, the error is specific to storage-preview extension. Could you pls confirm it and route to the extension owner is not general issue? thanks.

[2020-08-31 02:14] yungezz commented on #14972
thanks for reporting the issue! hi @qwordy could you pls help to have a look? Is this a general issue in query? thanks

[2020-08-31 02:48] yungezz commented on #14078
hi @ugrewal will close the issue for now since missing detail error to further trouble shooting. Pls feel free to create a new issue with detail if you met any other error.

[2020-08-31 02:48] #14078 closed

[2020-08-31 03:23] qwordy commented on #14972
Remove the compute label.

[2020-08-31 03:24] qwordy commented on #14964
Message from service team:
The public preview feature documentation will be shipping next week. That will include instructions for onboarding subscription to the feature.

[2020-08-31 03:26] snaheth commented on #8953
@midgleyc - I looked into this just now since the behavior still exists. The issue is not the result of the ARM API itself, which correctly respects the `top` parameter (I checked this on all of the stable API releases in 2019 and 2020 via Postman). We (ARM) are on it and will work with the SDK teams to get this addressed.

It was annoying me why this was happening, so I investigated:
**tl;dr:** A

[2020-08-31 03:30] houk-ms opened #14975 "Telemetry Issues: for AKS"
These issues are from Telemetry records, and most of them are caused by obvious code bugs. The detail error messages and the corresponding command and CLI version info can be viewed in the CLI error dashboard [here](https://msit.powerbi.com/groups/de995b1a-16c1-4cc7-a49b-bc9f90bc6acd/reports/b657544c-ab0a-4306-bc7b-5bedab1bb5a9/ReportSection01812df080cad06afcb4?noSignUpCheck=1power).

As the info

[2020-08-31 03:33] houk-ms opened #14976 "Fix non-actionable code bugs: Backup"
These issues are from Telemetry records, and most of them are caused by obvious code bugs. The detail error messages and the corresponding command and CLI version info can be viewed in the [CLI error dashboard](https://msit.powerbi.com/groups/de995b1a-16c1-4cc7-a49b-bc9f90bc6acd/reports/b657544c-ab0a-4306-bc7b-5bedab1bb5a9/ReportSection01812df080cad06afcb4?noSignUpCheck=1power).

As the info of th

[2020-08-31 03:35] houk-ms opened #14977 "Telemetry Issues: for Container"
These issues are from Telemetry records, and most of them are caused by obvious code bugs. The detail error messages and the corresponding command and CLI version info can be viewed in the CLI error dashboard [here](https://msit.powerbi.com/groups/de995b1a-16c1-4cc7-a49b-bc9f90bc6acd/reports/b657544c-ab0a-4306-bc7b-5bedab1bb5a9/ReportSection01812df080cad06afcb4?noSignUpCheck=1power).

As the info

[2020-08-31 03:37] houk-ms opened #14978 "Fix non-actionable code bugs: Deployment"
These issues are from Telemetry records, and most of them are caused by obvious code bugs. The detail error messages and the corresponding command and CLI version info can be viewed in the [CLI error dashboard](https://msit.powerbi.com/groups/de995b1a-16c1-4cc7-a49b-bc9f90bc6acd/reports/b657544c-ab0a-4306-bc7b-5bedab1bb5a9/ReportSection01812df080cad06afcb4?noSignUpCheck=1power).

As the info of th

[2020-08-31 03:39] snaheth commented on #13967
Hi @techadmin1982 - Let me know if you have a newer correlationId for this as @zhoxing-ms also requested.

I was actually able to repro this using an older version of Azure CLI (2.0.76) and a newer version (2.11.1), both of which returned different results. In the former case, Azure CLI returned a parsing error (as it should). In the latter case, I hit the same issue as you (repeated 500s from ARM

[2020-08-31 03:39] yonzhan commented on #14973
@Juliehzl to help confirm

[2020-08-31 03:40] houk-ms opened #14979 "Fix non-actionable code bugs: KeyVault"
These issues are from Telemetry records, and most of them are caused by obvious code bugs. The detail error messages and the corresponding command and CLI version info can be viewed in the [CLI error dashboard](https://msit.powerbi.com/groups/de995b1a-16c1-4cc7-a49b-bc9f90bc6acd/reports/b657544c-ab0a-4306-bc7b-5bedab1bb5a9/ReportSection01812df080cad06afcb4?noSignUpCheck=1power).

As the info of th

[2020-08-31 03:41] houk-ms opened #14980 "Telemetry Issues: for Lab"
These issues are from Telemetry records, and most of them are caused by obvious code bugs. The detail error messages and the corresponding command and CLI version info can be viewed in the CLI error dashboard [here](https://msit.powerbi.com/groups/de995b1a-16c1-4cc7-a49b-bc9f90bc6acd/reports/b657544c-ab0a-4306-bc7b-5bedab1bb5a9/ReportSection01812df080cad06afcb4?noSignUpCheck=1power).

As the info

[2020-08-31 03:42] houk-ms opened #14981 "Fix non-actionable code bugs: Login"
These issues are from Telemetry records, and most of them are caused by obvious code bugs. The detail error messages and the corresponding command and CLI version info can be viewed in the [CLI error dashboard](https://msit.powerbi.com/groups/de995b1a-16c1-4cc7-a49b-bc9f90bc6acd/reports/b657544c-ab0a-4306-bc7b-5bedab1bb5a9/ReportSection01812df080cad06afcb4?noSignUpCheck=1power).

As the info of th

[2020-08-31 03:44] houk-ms opened #14982 "Fix non-actionable code bugs: Logout"
These issues are from Telemetry records, and most of them are caused by obvious code bugs. The detail error messages and the corresponding command and CLI version info can be viewed in the [CLI error dashboard](https://msit.powerbi.com/groups/de995b1a-16c1-4cc7-a49b-bc9f90bc6acd/reports/b657544c-ab0a-4306-bc7b-5bedab1bb5a9/ReportSection01812df080cad06afcb4?noSignUpCheck=1power).

As the info of th

[2020-08-31 04:01] hmi12 opened #14983 "item-name not found"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az backup protection backup-now`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az backup protection backup-now --resource-group test_re

[2020-08-31 04:13] houk-ms opened #14984 "Fix non-actionable code bugs: Network"
These issues are from Telemetry records, and most of them are caused by obvious code bugs. The detail error messages and the corresponding command and CLI version info can be viewed in the [CLI error dashboard](https://msit.powerbi.com/groups/de995b1a-16c1-4cc7-a49b-bc9f90bc6acd/reports/b657544c-ab0a-4306-bc7b-5bedab1bb5a9/ReportSection01812df080cad06afcb4?noSignUpCheck=1power).

As the info of th

[2020-08-31 04:15] houk-ms opened #14985 "Fix non-actionable code bugs: Storage"
These issues are from Telemetry records, and most of them are caused by obvious code bugs. The detail error messages and the corresponding command and CLI version info can be viewed in the [CLI error dashboard](https://msit.powerbi.com/groups/de995b1a-16c1-4cc7-a49b-bc9f90bc6acd/reports/b657544c-ab0a-4306-bc7b-5bedab1bb5a9/ReportSection01812df080cad06afcb4?noSignUpCheck=1power).

As the info of th

[2020-08-31 04:16] houk-ms opened #14986 "Fix non-actionable code bugs: VM"
These issues are from Telemetry records, and most of them are caused by obvious code bugs. The detail error messages and the corresponding command and CLI version info can be viewed in the [CLI error dashboard](https://msit.powerbi.com/groups/de995b1a-16c1-4cc7-a49b-bc9f90bc6acd/reports/b657544c-ab0a-4306-bc7b-5bedab1bb5a9/ReportSection01812df080cad06afcb4?noSignUpCheck=1power).

As the info of th

[2020-08-31 04:18] houk-ms opened #14987 "Fix non-actionable code bugs: VMSS"
These issues are from Telemetry records, and most of them are caused by obvious code bugs. The detail error messages and the corresponding command and CLI version info can be viewed in the [CLI error dashboard](https://msit.powerbi.com/groups/de995b1a-16c1-4cc7-a49b-bc9f90bc6acd/reports/b657544c-ab0a-4306-bc7b-5bedab1bb5a9/ReportSection01812df080cad06afcb4?noSignUpCheck=1power).

As the info of th

[2020-08-31 05:17] yonzhan commented on #14983
backup

[2020-08-31 05:40] yungezz commented on #14987
Non-actionable error messages are helpless to end users when Azure CLI error out. One of Fe OKR is to improve Azure CLI command pass rate for better user experience. We've identified non-actionable errors of top used command groups. Pls help to fix non-actionable errors. More detail in email. Feel free to ping us at [teams](https://teams.microsoft.com/l/team/19%3a0e3d8b3a0c40468884a92709305d5898%4

[2020-08-31 05:40] yungezz commented on #14986
Non-actionable error messages are helpless to end users when Azure CLI error out. One of Fe OKR is to improve Azure CLI command pass rate for better user experience. We've identified non-actionable errors of top used command groups. Pls help to fix non-actionable errors. More detail in email. Feel free to ping us at [teams](https://teams.microsoft.com/l/team/19%3a0e3d8b3a0c40468884a92709305d5898%4

[2020-08-31 05:41] yungezz commented on #14980
Non-actionable error messages are helpless to end users when Azure CLI error out. One of Fe OKR is to improve Azure CLI command pass rate for better user experience. We've identified non-actionable errors of top used command groups. Pls help to fix non-actionable errors. More detail in email. Feel free to ping us at [teams](https://teams.microsoft.com/l/team/19%3a0e3d8b3a0c40468884a92709305d5898%4

[2020-08-31 05:41] yungezz commented on #14977
Non-actionable error messages are helpless to end users when Azure CLI error out. One of Fe OKR is to improve Azure CLI command pass rate for better user experience. We've identified non-actionable errors of top used command groups. Pls help to fix non-actionable errors. More detail in email. Feel free to ping us at [teams](https://teams.microsoft.com/l/team/19%3a0e3d8b3a0c40468884a92709305d5898%4

[2020-08-31 05:41] yungezz commented on #14976
Non-actionable error messages are helpless to end users when Azure CLI error out. One of Fe OKR is to improve Azure CLI command pass rate for better user experience. We've identified non-actionable errors of top used command groups. Pls help to fix non-actionable errors. More detail in email. Feel free to ping us at [teams](https://teams.microsoft.com/l/team/19%3a0e3d8b3a0c40468884a92709305d5898%4

[2020-08-31 05:41] yungezz commented on #14975
Non-actionable error messages are helpless to end users when Azure CLI error out. One of Fe OKR is to improve Azure CLI command pass rate for better user experience. We've identified non-actionable errors of top used command groups. Pls help to fix non-actionable errors. More detail in email. Feel free to ping us at [teams](https://teams.microsoft.com/l/team/19%3a0e3d8b3a0c40468884a92709305d5898%4

[2020-08-31 05:49] houk-ms commented on #14985
Non-actionable error messages are helpless to end users when Azure CLI error out. One of Fe OKR is to improve Azure CLI command pass rate for better user experience. We've identified non-actionable errors of top used command groups. Pls help to fix non-actionable errors. More detail in email. Feel free to ping us at [teams](https://teams.microsoft.com/l/team/19%3a0e3d8b3a0c40468884a92709305d5898%4

[2020-08-31 05:49] houk-ms commented on #14984
Non-actionable error messages are helpless to end users when Azure CLI error out. One of Fe OKR is to improve Azure CLI command pass rate for better user experience. We've identified non-actionable errors of top used command groups. Pls help to fix non-actionable errors. More detail in email. Feel free to ping us at [teams](https://teams.microsoft.com/l/team/19%3a0e3d8b3a0c40468884a92709305d5898%4

[2020-08-31 05:49] houk-ms commented on #14982
Non-actionable error messages are helpless to end users when Azure CLI error out. One of Fe OKR is to improve Azure CLI command pass rate for better user experience. We've identified non-actionable errors of top used command groups. Pls help to fix non-actionable errors. More detail in email. Feel free to ping us at [teams](https://teams.microsoft.com/l/team/19%3a0e3d8b3a0c40468884a92709305d5898%4

[2020-08-31 05:49] houk-ms commented on #14981
Non-actionable error messages are helpless to end users when Azure CLI error out. One of Fe OKR is to improve Azure CLI command pass rate for better user experience. We've identified non-actionable errors of top used command groups. Pls help to fix non-actionable errors. More detail in email. Feel free to ping us at [teams](https://teams.microsoft.com/l/team/19%3a0e3d8b3a0c40468884a92709305d5898%4

[2020-08-31 05:50] houk-ms commented on #14979
Non-actionable error messages are helpless to end users when Azure CLI error out. One of Fe OKR is to improve Azure CLI command pass rate for better user experience. We've identified non-actionable errors of top used command groups. Pls help to fix non-actionable errors. More detail in email. Feel free to ping us at [teams](https://teams.microsoft.com/l/team/19%3a0e3d8b3a0c40468884a92709305d5898%4

[2020-08-31 05:50] houk-ms commented on #14978
Non-actionable error messages are helpless to end users when Azure CLI error out. One of Fe OKR is to improve Azure CLI command pass rate for better user experience. We've identified non-actionable errors of top used command groups. Pls help to fix non-actionable errors. More detail in email. Feel free to ping us at [teams](https://teams.microsoft.com/l/team/19%3a0e3d8b3a0c40468884a92709305d5898%4

[2020-08-31 06:05] yonzhan commented on #14985
@Juliehzl  for awareness.

[2020-08-31 06:07] yonzhan commented on #14984
@haroldrandom for awareness.

[2020-08-31 06:09] yonzhan commented on #14982
@jiasli  for awareness.

[2020-08-31 06:11] yonzhan commented on #14981
@jiasli  for awareness.

[2020-08-31 06:15] yonzhan commented on #14978
@zhoxing-ms  for awareness.

[2020-08-31 06:19] houk-ms opened #14988 "Fix non-actionable code bugs: Monitor"
These issues are from Telemetry records, and most of them are caused by obvious code bugs. The detail error messages and the corresponding command and CLI version info can be viewed in the [CLI error dashboard](https://msit.powerbi.com/groups/de995b1a-16c1-4cc7-a49b-bc9f90bc6acd/reports/b657544c-ab0a-4306-bc7b-5bedab1bb5a9/ReportSection01812df080cad06afcb4?noSignUpCheck=1power).

As the info of th

[2020-08-31 06:23] yonzhan commented on #14988
@jsntcy  for awareness.

[2020-08-31 06:30] benjamin2605 commented on #14963
Ok, yes updating the telemetry package does fix the problem locally, will test it on the pipelines next.

However, I don't understand why updating azure-cli does not also update azure-cli-telemetry, what is the reasoning behind that?

[2020-08-31 07:05] hmi12 commented on #14983
@pvrk could you please advise somthing?

[2020-08-31 07:38] pvrk commented on #14976
Thanks for initiating this @yungezz @houk-ms . You mentioned "more detail in email". So, would we get a list of issues in email?

[2020-08-31 08:08] houk-ms commented on #14976
hello @pvrk , thanks for the quick reponse. You can get a list of issues in [CLI error dashboard](https://msit.powerbi.com/groups/de995b1a-16c1-4cc7-a49b-bc9f90bc6acd/reports/b657544c-ab0a-4306-bc7b-5bedab1bb5a9/ReportSection01812df080cad06afcb4?noSignUpCheck=1power).

[2020-08-31 08:39] arnaudjumelet opened #14991 "How to verify that a particular key was imported into a HSM with BYOK method?"
There is no command or display option to list or verify that a particular key was imported using BYOK method.
It's a need for compliance reason.

---
#### Détails du document

⚠ *Ne pas modifier cette section. C’est obligatoire pour docs.microsoft.com ➟ Liaison des problèmes GitHub.*

* ID: fe0f363b-7f21-0ea9-3e27-da7866c94102
* Version Independent ID: 6cc413e4-4f7d-9baa-a365-c9275fc6a7ad
* Conten

[2020-08-31 08:52] pvrk commented on #14976
Thanks @houk-ms . We will make this as an internal, tracked item.

[2020-08-31 11:39] eholman commented on #10066
Azure CLI version 2.11.0 gives me still the issue, in Powershell and Powershell Core (in Functions for me).

Using the ^ symbols are preventing the python error but I don't like the syntax that much tbh.

This also works for me from Powershell:
[code]

But when I run the same command from Azure Portal Command Line with Powershell the command succeeds but Function Configuration fails to load (not t

[2020-08-31 12:25] danielvdende commented on #14112
I'm having the exact same problem with the latest version:
[code]

[2020-08-31 13:23] datarocksAmy commented on #14847
Just want to follow-up on this issue. Thanks

[2020-08-31 13:54] yungezz commented on #14963
hi @benjamin2605 are you using the official Azure CLI task in Azure pipeline ? Based on our sync with Azure pipeline team, Azure CLI is installed by package manager, not pip. We'd like to learn more on the install story to help understand where's the problem. thanks

[2020-08-31 14:03] Crossbow78 commented on #7245
The formatting of the command line - with `--settings` taking multiple arguments each wrapped in double-quotes - feels somewhat clunky, and seems incompatible with powershell variables.

If I have my configuration in a reusable hash-table variable:
[code]
...I wouldn't know how to properly format the variable so that it can be appended to the 'az' command.

I tried unwrapped and quoting it with so

[2020-08-31 15:08] iamalexmang opened #14995 "Upgrade kubectl by using `aks install-cli` on Cloud Shell"
Hi,

I'm trying to leverage AKS-managed AAD integration in a brand new AKS cluster and by using exclusively Cloud Shell (which is, in my opinion, the preferred way everyone should work with).
Seems though that there are prerequisites on the Azure CLI and on kubectl, specifically versions 2.11 and 1.18.1 respectively.

Hence Cloud Shell comes installed with kubectl 1.16.0, this is a blocker which b

[2020-08-31 15:21] ZacBleningerTR opened #14996 "Traffic analytics enablement: AttributeError: 'NoneType' object has no attribute 'workspace_id'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network watcher flow-log update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network watcher flow-log update --location {} --na

[2020-08-31 15:35] qubitron commented on #11634
@jiasli @chenlomis should we re-open the issue?

[2020-08-31 16:04] jim-minter opened #14997 "Command index broke dev_sources workflow"
ARO has the following CI workflow:

* install latest released `az`
* update [extension] dev_sources in .azure/config in order to override the core 'aro' module with a local 'aro' extension
* run `az aro ...` to test it

As far as 2.10.1, this worked fine (when we did this, the local 'aro' extension would run, not the core 'aro' module).

In 2.11.1, we find that the above behaviour does not work an

[2020-08-31 16:04] jim-minter commented on #14997
@jiasli please could you take a look at this question?

[2020-08-31 20:53] sysadmin-exe commented on #9926
this is closed but I am having the same issue. The command here is without a = sign

az vmss update-instances  --instance-ids * --name server_scaleset --resource-group web_rg

the error I get is this: The provided instanceId data.tf is invalid. It must be a non-negative integer or the character "*". data.tf is actually the first file in the PWD where the command was run from on the terminal.

Trie

[2020-08-31 21:10] sharma-abhay commented on #7447
Hi,

I'm from Australia East and am using `az devops` to interact with Azure DevOps instance. Currently have 11 projects in my SandPit instance and here's how long it takes to list the projects.

`PS> Measure-Command { az devops project list --org https://dev.azure.com/XXXXXX/ | Out-Default }`

[code]

[2020-08-31 21:38] sysadmin-exe opened #14998 "az vmss update-instances not working"
I am having an issue.

az vmss update-instances --instance-ids * --name server_scaleset --resource-group web_rg

the error I get is this: The provided instanceId data.tf is invalid. It must be a non-negative integer or the character "*".

data.tf is actually the first file in the PWD where the command was run from on the terminal.

Tried same on Portal CLI and the error was: The provided instanceI

[2020-08-31 21:50] lovettchris opened #14999 "update from command line?"
**Is your feature request related to a problem? Please describe.**
Hunting down and installing the .msi is a pain.

**Describe the solution you'd like**
can you please provide a "az update" command that updates az in place?

**Describe alternatives you've considered**
Lots of other command line tools do this.

**Additional context**
The screenshot should be a terminal window, I never have to leave

[2020-08-31 22:37] tonyalanschleich opened #15000 "Unable to import function api into apim"
### **This is autogenerated. Please review and update as needed.**

## Unable to import function api into apim

**Command Name**
`az apim api import`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim api import --path {} --resource-group

[2020-08-31 22:40] yonzhan commented on #14995
aks

[2020-08-31 22:41] yonzhan commented on #14996
network

[2020-08-31 22:44] yonzhan commented on #14997
Command index

[2020-08-31 22:53] yonzhan commented on #15000
apim

[2020-09-01 00:23] snaheth commented on #9983
Duplicate of #8953

[2020-09-01 00:23] #9983 closed

[2020-09-01 01:48] miaojiang commented on #15000
It is not supported at the moment.

cc @RupengLiu

[2020-09-01 03:07] jiasli commented on #14997
This is a known issue of **command index** that when underlying extensions are manually updated, either by running `azdev extension add` or editing related files or configs like `[extension] dev_sources` in `~/.azure/config`, command index will not detect the change and use the old index. This is not something command index can detect and handle.

There are 2 ways to fix it:

1. Manually deleting

[2020-09-01 03:25] jiasli opened #15001 "[Config] Add comments in ~/.azure/config"
We have a document [Azure CLI configuration](https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration?view=azure-cli-latest) explaining what `~/.azure/config` is.

In addition, we should put comments in `~/.azure/config` explaining what it is, using [INI comments](https://docs.python.org/3/library/configparser.html#supported-ini-file-structure).

_Originally posted by @jiasli in https://

[2020-09-01 03:25] jiasli commented on #11634
Created issue https://github.com/Azure/azure-cli/issues/15001 to track.

[2020-09-01 03:28] yonzhan commented on #15001
Config

[2020-09-01 04:28] yungezz commented on #14991
hi @bim-msft could you pls help to have a look? thanks

[2020-09-01 04:30] yungezz commented on #14998
hi @qwordy could you pls have a look?

[2020-09-01 04:32] yungezz commented on #14999
hi @fengzhou-msft could you pls share the instruction of az upgrade? hi @lovettchris thanks for the feedback, we'd also love to hear your feedback after trying the new az upgrade command, feel free to comment here if found any issue with it.

[2020-09-01 05:08] fengzhou-msft commented on #14999
@lovettchris we have added the `az upgrade` command in version `2.11.0` to update azure cli and all installed extensions. You can find more information in this [PR](https://github.com/Azure/azure-cli/pull/14803).

[2020-09-01 05:11] haroldrandom commented on #14886
@mobindaraie Please refer to this https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively?view=azure-cli-latest#output-formatting-json-table-or-tsv

It's by design, the JEMSPath output is json by default should re-format them via `-o tsv` to remove the double quote

[2020-09-01 05:11] #14886 closed

[2020-09-01 05:24] lovettchris commented on #14999
Sweet, thanks!

[2020-09-01 05:39] jiasli opened #15003 "[Enhancement Proposal] Support hint message after output is printed"
## Issue

Related to #14933. Sometimes, the user's account has access to many subscriptions (for example, over 300).

## Proposal

Azure CLI should support a **hinting mechanism** that can print some hint message to `stderr` after the output is sent to knack, in order to provide a better user experience.

For example, after `az login` prints all available subscriptions, CLI can show:

[code]

Hint

[2020-09-01 05:41] yonzhan commented on #15003
Support hint message

[2020-09-01 05:59] TomGeske commented on #14995
Thank you for your feedback. We are currently working on getting cloud shell updated.

PR: https://github.com/Azure/CloudShell/pull/28

@maertendMSFT, @edyoung do you have an ETA?

cc: @palma21

[2020-09-01 06:45] jiasli opened #15005 "[Enhancement Proposal] User and tenant isolation"
## Issue

Currently, Azure CLI uses `subscriptionId` as the primary key to distinguish between accounts (stored in `~/.azure/azureProfile.json`).

https://github.com/Azure/azure-cli/blob/58c9f78be2db3b7097558cbe76bc8d1ca1d304d6/src/azure-cli-core/azure/cli/core/_profile.py#L399-L405

This causes problem when

1. `az login` is run twice with different accounts that have access to the same subscript

[2020-09-01 06:47] yonzhan commented on #15005
login Enhancement

[2020-09-01 06:47] andresgomezfrr commented on #14177
I have the same problem but the first time that I execute the command `az backup protection enable-for-azurefileshare` within an unprotected fileshare. Any idea?

[code]

[2020-09-01 07:56] yene opened #15006 "Export template of a deployed resource"
Hi, currently I manually open the application gateway in Azure portal and export its template (via the "Export template" page) to my local PC. As a backup and for configuration review.
https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/export-template-portal#export-template-from-a-resource

Is it possible to get the Template of the current deployed Application Gateway from com

[2020-09-01 08:00] cveld opened #15007 "Improve start-up time"
**Describe the bug**
The start-up time of Az is not ideal. I ran the following:
[code]

The result:

[code]

**Expected behavior**
The first time the Az cli runs, should start some smart server for a short time like the dotnet cli does. The second time the Az cli runs it can work against this server.

[code]

Results in:

[code]

**Environment summary**
Installed by MSI.

[code]

[2020-09-01 08:58] perkops opened #15009 "Webapp:"az webapp create" call fails - claiming ressource is in another resource group"
**Describe the bug**
We have 2 resource groups.

Resource Group A and Resource Group B.

A webapp is created in Resource Group **A**.
A FunctionApp is created in Resource Group **B**.

The naming of the webapp is: xxx
The naming of the FunctionApp is: xxxsource

Whenever we try to run our az cli deployment step from Azure DevOps, we get this error when trying to deploy webapp (after FunctionApp ha

[2020-09-01 08:59] naioja commented on #14943
The command works if I update the aks-preview to latest version :     "aks-preview": "0.4.61",

[2020-09-01 08:59] #14943 closed

[2020-09-01 09:06] KonstantinTr commented on #14883
@calvinsID Thanks for clarification!

[2020-09-01 09:12] cveld commented on #13028
Setting up this as a 50 MB zip package on a CDN within Azure would be reachable right? Then you could stream the unzip command from this CDN location towards the disk of the agent.
Or maybe preinstalling Az CLI on your shared agents. PowerShell Az Modules are already there with various versions.
Or, @ghstahl you could set up your self-hosted agent with Az CLI preinstalled.

[2020-09-01 10:10] digeler opened #15010 "Not Able to delete private azure dns zone even if there is no nested link"
**Describe the bug**
Cannot delete private dns zone even if there are no nested links

**To Reproduce**
create global zone and try to delete

**Expected behavior**
zone should be deleted , if there is no nested resources in it.

**Environment summary**
PS C:\Users\digeler> az network private-dns zone show -n documents.azure.com -g polydgeuse1
{
  "etag": "a69969af-60b0-4490-8059-1906c48b48c9",
  "

[2020-09-01 11:12] timvanderweijde opened #15011 "Incorrect error message when adding ssl-cert to the application gateway from the keyvault"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network application-gateway ssl-cert create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- az identity create -g {}-n {}
- $principalId = $(`az identity show -g {} -n {} --q

[2020-09-01 12:34] baartch opened #15012 "import private DNS zone file ignores serial in SOA"
I'm importing DNS zone files with the command
`az network private-dns zone import -g $resourceGroup -n $dnsZoneName -f $file.FullName`

Everything works fine. Except the serial number I have in the SOA record is not importet or rather changed.
Even in the Portal (portal.azure.com) changes to the serial of SOA of a private DNS aren't working.

The same import command for public DNS (without the "pr

[2020-09-01 12:41] gympohnpimol opened #15013 "How to create az aks,Operation failed with status: 'Bad Request"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --name {} --resource-group {} --generate-ssh-keys --node-vm-

[2020-09-01 12:41] yonzhan commented on #15006
Export template

[2020-09-01 12:43] yonzhan commented on #15007
Improve start-up time

[2020-09-01 12:45] yonzhan commented on #15009
webapp

[2020-09-01 12:49] yonzhan commented on #15010
network

[2020-09-01 12:51] yonzhan commented on #15011
network

[2020-09-01 12:53] yonzhan commented on #15012
add to S175

[2020-09-01 12:56] yonzhan commented on #15013
aks

[2020-09-01 13:24] zhoxing-ms commented on #15006
@yene Hi, could you please try command `az deployment group/mg/sub/tenant export` to see if it meets your needs?

[2020-09-01 13:58] David-Stark commented on #11195
@chbe8475 Sorry i have not =/

@Silvenga Yeah i wonder the same

[2020-09-01 15:11] allianz-shay-katzir commented on #14774
sent an email. Thanks!

[2020-09-01 15:20] TomGeske commented on #15013
Did you verify you have enough core quota?

`Message: Operation could not be completed as it results in exceeding approved Total Regional Cores quota. Additional details - Deployment Model: Resource Manager, Location: eastus, Current Limit: 4, Current Usage: 1, Additional Required: 40, (Minimum) New Limit Required: 41.`

[2020-09-01 15:37] linuxunderground commented on #14963
Hi,
By th way, can you please add azure-cli-telemetry-1.0.6.tar.gz file at [https://pypi.org/project/azure-cli-telemetry/#files](https://pypi.org/project/azure-cli-telemetry/#files). Only .whl file is released.
Thanks

[2020-09-01 16:04] maxheld83 opened #15014 "az configure --list-defaults does not respect --scope local"
## Describe the bug

**Command Name**
`az configure`

**Errors:**

`az configure --list-defaults true --scope local` will still show defaults from `~/.azure/config`, as opposed to just from the working directory.

## To Reproduce:

[code]

## Expected Behavior

see above.

## Environment Summary

[code]

## Additional Context

[2020-09-01 17:29] idatum commented on #12314
CDN has unique limitations on keys and only allows the following characters (per regex):
`^([a-zA-Z0-9-_\s]+)$`

We don't have a timeline when this limitation will ultimately be lifted. In the meantime, we will update our tag documentation for CDNs.

Our goal is to make tags consistent across all resource providers, including acceptable key characters.

[2020-09-01 18:27] brianlehr opened #15015 "Utilize new API for Public IPs"
**Resource Provider**
Az.Network

**Description of Feature or Work Requested**
Please begin to use API 2020-08-01, which has a breaking change for public IP creation as described here: https://github.com/brianlehr/azure-docs-pr/blob/brianlehrbranch/articles/virtual-network/create-public-ip-cli.md

That is, to create a standard zone-redundant public ip, you must now use --zone 1,2,3 in the paramete

[2020-09-01 18:46] #14594 closed

[2020-09-01 19:07] samsmithnz opened #15016 "Add an example for az keyvault set-policy"
There is example for some of the other commands, but not az keyvault set-policy, and it's not clear what the format should be, and I had to go to another page to find an example.

for example:

az keyvault set-policy --name MyKeyVault --object-id $MyPrincipalId --secret-permissions list get

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issu

[2020-09-01 19:28] chjaress opened #15017 "Add az vmss extension-upgrade start API to CLI"
**Resource Provider**
Compute Resource Provider

**Description of Feature or Work Requested**
To add az vmss extension-upgrade start command to CLI to invoke extension upgrades on VMSS resources. This should invoke the extensionRollingUpgrade API in CRP to upgrade all extensions to their latest version on a VMSS.

Sample command: az vmss extension-upgrade start --name "VMScaleSetName" --resource-g

[2020-09-01 19:41] chjaress opened #15018 "Update az vm get-instance-view command with VMHealth field"
**Resource Provider**
Compute Resource Provider

**Description of Feature or Work Requested**
There is a new property being returned by the get instance view API called VMHealth. This VMHealth has the following json structure: "vmHealth": {
"status": {
"code": "HealthState/unhealthy",
"level": "Error",
"displayStatus": "The VM is reporting itself as unhealthy or is unreachable",
"time": "2020-06-2

[2020-09-01 21:49] steveaustin0101 opened #15019 "cannot change app gw waf owasp version via cli"
**Describe the bug**
az network application-gateway waf-policy managed-rule rule-set add
issue was included in milestone
-  https://user-images.githubusercontent.com/70607958/91909283-88934080-ec72-11ea-883f-13011c493ae4.png

milestone released
downloaded / install cli 2.11.1
issue persists

**To Reproduce**
az login
az account set --subscription "subid"
az network application-gateway waf-policy m

[2020-09-01 22:22] yonzhan commented on #15014
add to S176

[2020-09-01 22:26] yonzhan commented on #15015
add to S176

[2020-09-01 22:46] Silvenga commented on #8388
Spoke with Azure Support - trying to create a Linux consumption plan with a custom name will return a 500 error, which seems to be a "works as designed". I may be in the minority, but that seems a little, uhm, wrong.

So it looks like something is fundamentally broken in Azure that needs to be fixed before this feature can be supported.

[2020-09-01 23:11] yungezz commented on #15018
hi @chjaress is this Ignite ask?

[2020-09-01 23:12] yungezz commented on #15017
hi @chjaress is this Ignite ask?

[2020-09-01 23:19] yungezz commented on #15016
hi @bim-msft could you pls add the example? thanks.

[2020-09-01 23:46] chjaress commented on #15017
hi @yungezz if possible yes :)

[2020-09-01 23:46] chjaress commented on #15018
hi @yungezz if possible yes :)

[2020-09-02 00:49] #14735 closed

[2020-09-02 03:01] andyzhangx commented on #14924
any progress about fix on `az vmss extension` command?

[2020-09-02 03:05] jiasli commented on #15007
It looks like you are using a very old version (2.1.0) of Azure CLI. Please consider [installing the latest Azure CLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest).

We have improved the performance of Azure CLI to about ~300ms for client-side command with [several PRs](https://github.com/Azure/azure-cli/pulls?q=is%3Apr+label%3APerformance+is%3Aclosed).

[cod

[2020-09-02 03:25] mateustanaka commented on #14275
I'm not facing this issue anymore. Also I made a change to use Service Principal instead.

[2020-09-02 05:03] qwordy commented on #14924
https://github.com/Azure/azure-cli/pull/14992
PR is ready

[2020-09-02 05:36] #14762 closed

[2020-09-02 06:45] fengzhou-msft commented on #15019
@MyronFanQiu can you take a look?

[2020-09-02 09:23] arrownj commented on #14560
To give a background introduction, the root cause is that `az snapshot create` do not accept `location` value which differ from the source disk's location.

Not sure it's an issue from the very beginning or introduced by service side from some point.  HI @qwordy , could you please help involve service team member into this ?

[2020-09-02 09:41] qwordy commented on #9926
I notice you opened a new issue. So we will not update here.

[2020-09-02 10:51] yonzhan commented on #15019
add to S176

[2020-09-02 11:27] mornemaritz opened #15023 ""No module named 'antlr4'" exception when issuing azure-cli command ''az vm list-sizes southafricanorth""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm list-sizes southafricanorth`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- was following this terraform tutorial https://www.terra

[2020-09-02 13:07] flobeier commented on #14963
Today I got the same error while trying to use `terraform plan`. Reverting to azure-cli 2.11.0 fixed the issue for the time being.

[2020-09-02 14:29] brooke-hamilton commented on #14743
Thank you for following up on this.

I wonder why the Python SDK and the Azure Portal do not require any RBAC permissions for creating a storage container.

Ideally, the AZ CLI would not require any additional permissions or require using an account key, which would be consistent with other methods of creating a storage container.

[2020-09-02 15:29] lincolnpires opened #15024 "Add notice on future depracated command group"
The command group `cosmosdb database` will be deprecated soon - maybe add a notice on the docs :)

Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da15197a-eca2-19d6-72e3-be853337a759
* Version Independent ID: eb84d467-86df-121e-3b04-66b499342f7f
* Content: [az cosmosdb database](https://docs.microsoft.com/en-us

[2020-09-02 15:29] KevinBuchs opened #15025 "az storage blob list - crash"
## Describe the bug

**Command Name**
`az storage blob list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- From Azure Windows VM with a managed identity allowing access to the storage account.
- This worked:
  - az storage container list --account-name <my-account> --auth-mode login

[2020-09-02 15:36] yonzhan commented on #15025
add to S175

[2020-09-02 15:38] yonzhan commented on #15024
cosmosdb

[2020-09-02 15:39] elliotpeele opened #15026 "az vm create tutorial link broken"
The end-to-end tutorial link in the az vm create section returns a 404.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 152b549b-d4b3-13e5-081c-c604b6e4d89e
* Version Independent ID: 3f79be78-ce75-ad31-304b-bad7d475ec9e
* Content: [az vm](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest)
* Content Sou

[2020-09-02 15:45] ivan-sam commented on #11980
The same problem. When I create a new empty function app using any method (tried just portal web UI) on ASE and try to navigate to its scm endpoint it returns 503. It can take around 10 minutes before this endpoint is available. ASE runs on test environment with Isolated pricing tier:
[code]

But this issue never happened before.

[2020-09-02 17:28] #15013 closed

[2020-09-02 19:36] johnwildes commented on #14777
@haroldrandom I ran the cmd you posted above and attached is the output.  It worked successfully. The AZCLI isn't installed via MSI, I ran the `curl script` within WSL to install it.

[code]

[2020-09-02 19:42] johnwildes commented on #14777
I'm trying `az network firewall` cli commands and they aren't working.  I've restarted the WSL environment, and I've authenticated to azure again.  Not sure that last part matters.

![image](https://user-images.githubusercontent.com/1375512/92029003-842a5e80-ed2a-11ea-8f7d-dbc671be7b37.png)

[2020-09-02 19:43] mbpolan opened #15027 "Unable to override API name in APIM import"
**Describe the bug**
According to the [documentation for apim api import](https://docs.microsoft.com/en-us/cli/azure/apim/api?view=azure-cli-latest#az-apim-api-import), there is an optional `--display-name` parameter that can be provided. My understanding is that this parameter should set the name of the API, once imported into APIM. This does not seem to be the case when importing an API from Swa

[2020-09-02 19:48] tejasshah7 opened #15028 "az firewall create is passing "Network.DNS.EnableProxy": "True" instead of lower case true"
**Describe the bug**
It seems when configuration EnableProxy field on Azure Firewall via Az CLI, the value being passed is True instead of true and this causes failure in the backend.

**To Reproduce**
https://portal.microsofticm.com/imp/v3/incidents/details/203146390/home

**Expected behavior**
This field needs to be set as "true" like it is set by Powershell and portal.

**Environment summary**

[2020-09-02 21:01] ianblitz commented on #14698
Hi, any word on this?

[2020-09-02 22:26] carlosnunez-10m opened #15029 "--network-profile does not accept custom network profile names"
## Summary

Trying to place an ACI container into a subnet within a vnet with a really long name fails due to network profiles.

## Description

I tried to add an ACI container into a subnet within a vNet whose RG was different than the one belonging to the container. In other words, given subnet `SUBNET-x1EwoIU3fUlU3yHZrbr6J10thCvkRC` which exists in vnet `VNET-6Ck2ICBzlac4SWRV2MUFtXnLzUKXjA` whi

[2020-09-02 22:38] yonzhan commented on #15027
apim

[2020-09-02 22:40] yonzhan commented on #15028
add to S176

[2020-09-02 22:41] yonzhan commented on #14698
eventhubs service team should look into this issue.

[2020-09-02 22:45] yonzhan commented on #15029
container

[2020-09-02 23:06] alexeyshishkin01 commented on #14444
Hello, all!

I have the same issue with 'dockersa' account.

Could you pls. shed more light on it ?

[2020-09-02 23:11] serkantkaraca commented on #14698
This limitation is from CLI client. @v-Ajnava can you help or pull in a dev who can?

[2020-09-03 00:04] carlosonunez commented on #15029
container!

[2020-09-03 01:37] MyronFanQiu commented on #14698
@serkantkaraca This limitation is defined in swagger spec. It seems like you just changed it 21 days ago. Please send sdk request and change the dependency for Azure CLI. https://github.com/Azure/azure-rest-api-specs/blob/master/specification/eventhub/resource-manager/Microsoft.EventHub/common/v1/definitions.json#L129

[2020-09-03 02:12] yungezz commented on #15023
duplicate with #14011 . hi @mornemaritz does workaround mentioned in #14011: uninstall then install azure cli?

Please first uninstall azure-cli 2.0.81 and its dependencies:
sudo apt remove azure-cli -y && sudo apt autoremove -y
Then install the latest azure-cli:
curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

[2020-09-03 02:13] yungezz commented on #15026
@qwordy , could you pls have a look?

[2020-09-03 02:20] haroldrandom commented on #14777
@johnwildes From the original log you posted, I noticed that there is an error `ImportError: libffi.so.6: cannot open shared object file: No such file or directory` reporting.

There are some related issues like you said you could refer to https://github.com/Azure/azure-cli-extensions/issues/65. You might get some ideas from there.

As for `The AZCLI isn't installed via MSI, I ran the curl script

[2020-09-03 03:41] qwordy commented on #15026
Thanks for finding this problem. I can't open it, either.
https://docs.microsoft.com/azure/virtual-machines/virtual-machines-linux-quick-create-cli
I search the internet. This is new link: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/quick-create-cli
I don't think docs team should change the link. Anyway, I will fix it.

[2020-09-03 05:30] mornemaritz commented on #15023
Hi @yungezz, issue resolved. Thank you very much for your prompt response.

[2020-09-03 05:30] #15023 closed

[2020-09-03 05:45] qwordy commented on #14899
512 doesn't work for me. 4096 works.
[code]

[2020-09-03 08:24] qwordy commented on #14560
Service team confirms that snapshot must locate in same location as source disk.

[2020-09-03 09:18] HackerBaloo commented on #14482
Where can we find the result of your problem routing? I experience this problem today.

[2020-09-03 10:07] #14772 closed

[2020-09-03 10:08] se-xiaoc opened #15035 "delete fabric node error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sf cluster node remove`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sf cluster node remove -g {} -c {} --node-type {} --number-

[2020-09-03 10:09] jsntcy opened #15036 "Update vpn connection do put on connection instead of in s2s gateway"
**Resource Provider**
Microsoft.Network

**Description of Feature or Work Requested**
Currently the s2s gateway connections are specified as a part of PUT on the s2s gateway. Now the connections can be created/updated or deleted only using direct PUT/DELETE calls on the s2s gateway connections.

- Only implementation change, no command interface change.
- Need update the following commands in `vir

[2020-09-03 10:26] santoshpandey11 opened #15038 "az account list-locations"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account list-locations`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account list-locations --query {} --output {}`

## Expected Behavi

[2020-09-03 10:28] jsntcy commented on #15015
Check if #12197 covers the same feature.

[2020-09-03 11:24] yonzhan commented on #15035
sf

[2020-09-03 11:26] yonzhan commented on #15036
add to S176

[2020-09-03 11:31] yonzhan commented on #15038
add to S176

[2020-09-03 11:37] Djoels opened #15039 "when logging in to azure container registry (az acr login): cannot import name 'BlockBlobService' from 'azure.storage.blob'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr login --name <acr_name>`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr login --name {}`

## Expected Behavior

## Environ

[2020-09-03 12:01] pvrk commented on #14983
@hmi12 : Examples are provided [here](https://docs.microsoft.com/azure/backup/tutorial-sap-hana-backup-cli#trigger-an-on-demand-backup) for SAP HANA. You can also use `az backup item list' to get items and `az backup item show` commands to view a particular database. The same parameters used for these commands will work for any item-name or container-name params in other commands.

[2020-09-03 12:54] yonzhan commented on #15039
acr

[2020-09-03 12:56] ashinzekene commented on #14809
I have an issue with this @avanigupta

After running this and verifying that a resource has been assigned the given role
[code]

This return an empty object
[code]

[2020-09-03 15:34] yugangw-msft commented on #15039
This is setup issue

[2020-09-03 15:51] yonzhan commented on #15039
@fengzhou-msft to help with.

[2020-09-03 16:41] JonasDewit opened #15040 "Indicate if a command group is in preview"
The documentation should reflect whether a command group is in preview and will potentially be changed/removed in a future release.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 141619ee-fd83-7493-88a3-afd818d6c56e
* Version Independent ID: 25e4c840-d438-02ef-2363-77b9616f006b
* Content: [az appconfig](https://docs.mi

[2020-09-03 18:01] pilarragorri commented on #11889
Hey @colutti , probably after 8 months you got your things sorted out.
But just in case, and if another poor soul runs on this issue again

AZ Cli expects the DBs to be sent with just the name separated by blank spaces

i.e -- `az sql failover-group update --add-db mydb1 mydb2 --name myfg1--resource-group myrg1--server mysrv1`

Is it documented? Nope , and I hope MSFT will fix that
@jeroenterheerd

[2020-09-03 19:51] dosani commented on #11871
any update? we are also running into this issue while attempting cross tenant key access. tried both with and without subscription parameter.

[2020-09-03 20:59] LLautt opened #15041 "Creating a function App With Powershell Version 7.0 runtime fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

Runtime is powershell, version is 7.0

- _Put any pre-requisite steps here..._
- `az functionapp create --res

[2020-09-03 21:02] Drewm3 commented on #9780
Removing and adding "Feature Request" back to this issue to update the MSFT internal tracking.

[2020-09-03 21:47] yonzhan commented on #15040
appconfig

[2020-09-03 21:49] yonzhan commented on #15041
functionapp

[2020-09-03 21:58] NoelAbrahams opened #15042 "Value 'Standard_B2s' specified for parameter 'RoleSize' is invalid"
**Describe the bug**

I'm using Visual Studio Community 2019 version 16.7.2 to deploy a cloud service. The cloud service has been deployed successfully on numerous occasions using the `Standard_A1_v2` `vmsize`.

Trying to specify 'Standard_B2s' for `vmsize` results in the following error:

[code]

My Service definition looks a bit like this:

[code]

**Expected behaviour**
This is a [valid VM size

[2020-09-03 22:04] pragnagopa commented on #14649
@gzuber - any update on this?

[2020-09-03 22:16] avanigupta commented on #15040
Hi @yonzhan, this looks like a duplicate of [#11923](https://github.com/Azure/azure-cli/issues/11923).

[2020-09-03 22:22] chenlomis opened #15043 "Detect the argument "-name" is actually "--name""
**Is your feature request related to a problem? Please describe.**

Please refer to link here: https://azuretracking.visualstudio.com/Azure%20tracking/_workitems/edit/1528
Users frustrated when typing in az webapp up -name MyWebApp and being thrown with _az: error: unrecognized arguments: MyWebApp_

The more appropriate and expected error is surfacing that "-name" is misspelled and that it should

[2020-09-03 23:09] chenlomis opened #15044 "Is there a way for us to cleanly output newly created config file or local context file?"
**Is your feature request related to a problem? Please describe.**
Notifying end user that the config file or local context file has been created

Please refer to more details here https://azuretracking.visualstudio.com/Azure%20tracking/_workitems/edit/1531/

**Describe the solution you'd like**
Some form of one liner that indicates

"We've created a .config file to save your XYZ config settings"

[2020-09-03 23:18] yonzhan commented on #15040
Got it, we are working with doc team to autogenerate the tag.

[2020-09-04 01:12] avanigupta commented on #14809
Hi @ashinzekene, I was able to list the role assignment by using `--scope` filter instead of `--assignee`. Will that work for you?

`az role assignment list --role "App Configuration Data Reader" --scope $appConfigId`

I'm not sure why we can't filter based on `--assignee`. Feel free to create an issue for [az role assignment list](https://docs.microsoft.com/en-us/cli/azure/role/assignment?view=az

[2020-09-04 01:40] #14889 closed

[2020-09-04 01:41] haroldrandom commented on #14889
Closed as no one is tracing.

[2020-09-04 01:55] fengzhou-msft commented on #15042
@qwordy can you help to take a look?

[2020-09-04 02:00] fengzhou-msft commented on #15039
@Djoels can you update to the lastest version of Azure CLI? We have upgraded the storage package.

[2020-09-04 02:05] jiasli commented on #15044
There is currently no warning for `config` file creation.

But the help message of the new `az config set` does indicate where `config` file is stored in the help message:

[code]

[2020-09-04 02:20] chenlomis commented on #15044
@jiasli
Thanks! May I ask whether the file could either be created via az configure, az config, and also local context?
In that case then can we detect when the file is first created and output something? That's essentially the feature ask

I'm happy to work on the design first too if that helps

[2020-09-04 02:39] qwordy commented on #14899
Hi Lu. Some questions
1.What is tier? What's the corresponding swagger definition?
I find a "tier". It is read only.
[code]
2.List associated resources which are using a specific disk encryption set
Is there a REST API for it? How do you implement it in PowerShell?

Thanks,

[2020-09-04 02:48] qwordy commented on #15042
I need to verify your assertion "Visual Studio uses the CLI under the covers" first.

[2020-09-04 03:54] laurawu19 commented on #14899
Hi Feiyue,

1. The "tier" refers to performance tier of the disk (e.g, P4, S10)  and  is different from the DiskTier in DiskSku model.
Here is the description: https://azure.microsoft.com/en-us/pricing/details/managed-disks/

2. Yes. There is an API for it.
Powershell command:
Get-DiskManagerDiskEncryptionSetAssociatedResources -SubscriptionId sub -ResourceGroup rg --DiskEncryptionSetName desName

[2020-09-04 05:06] qwordy commented on #14899
Thanks Lu

[2020-09-04 05:06] #14787 closed

[2020-09-04 08:06] shurd commented on #15024
Hi @lincolnpires thank you for opening this issue. Right now, I believe all the documentation is auto-generated, and the generator does not include information about deprecation warning. I am not sure if the CLI team is planning on adding support for including deprecation info in the documentation.

[2020-09-04 09:14] smichel-training opened #15046 "Error on az container from Windows Terminal / Cloud shell tab"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container create --resource-group {} --name {} --image {} --ports

[2020-09-04 09:16] smichel-training commented on #15046
The same command worked correctly from Azure cloud shell within the Azure portal application.
Exact command was :
az container create   --resource-group myrg   --name mycontainer   --image microsoft/sample-aks-helloworld   --ports 80   --ip-address Public   --location westeurope