[2019-05-24 16:10] malopMSFT opened #9475 "Private Link Service Support"
Resource Provider
Microsoft.Network

Description of Feature or Work Requested
Support for private link service operations, new top level resource that provides capabilities to create a private service and expose for consumtion using private endpoints

Minimum API Version Required
2019-02-01

Swagger Link
Azure/azure-rest-api-specs#5860
Pending for merge to master

Target Date
July release

Private

[2019-05-24 16:36] panchagnula commented on #9462
@Maissae  thanks for the update - i will take a look.

[2019-05-24 16:52] adewaleo commented on #9473
Hello @amramtamir, what is your CLI installation method?

[2019-05-24 17:09] adewaleo commented on #9399
@ElvenSpellmaker, Yes, unfortunately it turns out that [psutil does not support cygwin](https://github.com/giampaolo/psutil/issues/82) yet.

This sprint, I will remove it as a dependency and try to find other ways to detect what shell a user is running.

For now there are two workarounds:
- Install version 2.0.60 of the CLI. I believe az feedback was updated around 2.0.61 or so
- Install the azure

[2019-05-24 17:28] amramtamir commented on #9473
Hi,
brew install azure-cli

[2019-05-24 17:36] ElvenSpellmaker commented on #9399
Unfortunately as I've stated above, it's a dependency that tries to install the psutil and so I can't install an older version even! =(

[2019-05-24 18:35] adewaleo commented on #9399
Yes, this is why I asked you to try installing 2.0.60 or earlier. az feedback only started using psutil recently. We didn't always have this dependency.

[2019-05-24 19:33] chasehuber2 opened #9476 "'az group export' does not escape apostrophes when parameterizing Microsoft.Logic/workflows"
**Describe the bug**
The ARM Template produced by 'az group export' does not escape apostrophes in Logic App definitions.

**To Reproduce**

1. Create a Logic App using this definition:
[code]
2. Export the resource group the Logic App was created in:
`az group export --name Apostrophe_Bug --include-comments --include-parameter-default-value >> template.json`

3. Inspect template.json and note the

[2019-05-24 20:35] panchagnula commented on #9462
@Maissae this is due to a regression on the validation API on our end with specific to Linux where the validation API fails when the location name is not the Geo region format i.e  ("West Europe" -> works in the validation API & not "westeurope"). However, CLI --location always converts the georegion('west europe')  format to location name format ('westeurope'). We do have a fix rolling out for th

[2019-05-24 20:37] Maissae commented on #9462
Alright awesome, thanks for the info!

[2019-05-24 20:49] BellaLi commented on #8912
@josh-sonrai
Workaround is to grant the permission in portal UI.
We will discuss within cloudshell team for this request.

[2019-05-24 20:58] goatmale commented on #9467
Using @ did not work unfortunately.

[2019-05-24 21:20] yugangw-msft commented on #9473
@marstr, can you please take a look?

[2019-05-24 21:42] marstr commented on #9473
Investigating now

[2019-05-24 21:46] marstr commented on #9473
I need more information, @amramtamir! When I run `brew install azure-cli`on my Mac running 10.14.4, all seems well. Is there anything special about your machine? Have you installed Python on your machine outside of using Homebrew?

[2019-05-24 21:49] sumeetmittal commented on #9474
"name": "Microsoft.Network.privateLinkServers",
"id": "/subscriptions/e05dbbce-79c2-45a2-a7ef-f1058856feb3/providers/Microsoft.Network/availablePrivateEndpointTypes/Microsoft.Network.privateLinkServers",
"type": "Microsoft.Network/availablePrivateEndpointTypes",
"resourceName": "Microsoft.Network/privateLinkServers"

This should be - "Microsoft.Network/privatelinkservices" not "Microsoft.Network.p

[2019-05-24 21:51] tjprescott commented on #1685
No one has expressed interest in this in 6 months. Closing.

[2019-05-24 21:51] #1685 closed

[2019-05-24 21:52] tjprescott commented on #3870
No one has expressed interest in taking up this task in 6 months. Closing.

[2019-05-24 21:52] #3870 closed

[2019-05-24 21:52] mathieu-benoit opened #9477 "`variables` parameter for az pipelines create|update"
**Is your feature request related to a problem? Please describe.**
Some variables can't be in the azure-pipelines.yaml file in source control. For that we have the ability to edit via the UI the variables of the pipeline definition. It would be ideal to have the ability to set `variables` while leveraging `az pipelines create` and `az pipelines update`.

**Describe the solution you'd like**
`az pi

[2019-05-24 21:53] tjprescott commented on #5009
No one has shown interest in taking up this task in the past 6 months. Closing.

[2019-05-24 21:53] #5009 closed

[2019-05-24 21:53] tjprescott commented on #5797
No one has expressed interested in taking up this task in the past 6 months. Closing.

[2019-05-24 21:53] #5797 closed

[2019-05-24 23:54] yugangw-msft commented on #9221
please activate if you are still blocked

[2019-05-24 23:54] #9221 closed

[2019-05-24 23:54] yugangw-msft commented on #9176
please reactivate with more traces

[2019-05-24 23:54] #9176 closed

[2019-05-25 00:02] yugangw-msft commented on #7618
i will take this

[2019-05-25 04:44] andyliuliming opened #9479 "az group delete --name '-biubiubiu' will fail."
**Describe the bug**
if the resource group name have hyphens prefix, "-biubiubiu", then az group show or az group update or az group delete would fail.
**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI

[2019-05-25 05:16] amramtamir commented on #9473
Hi @marstr ,
Nothing special on my Mac - I used brew to install python.
I also tried to:
reinstall azure-cli, python, brew, Six package.

[2019-05-25 20:41] ElvenSpellmaker commented on #9399
Unfortunately installing older versions has the same effect, it always tries to pull in psutil
[code]

[2019-05-26 06:57] adewaleo commented on #9467
I tried the following and it worked for me:

[code]

The solution is to use `--add [path] [key-value pair]`

I will be closing the issue, but please let me know if you have any other questions.

cc: @yugangw-msft

[2019-05-26 06:57] #9467 closed

[2019-05-26 18:54] montebhoover opened #9480 "Az aks install-connector documentation should be updated"
The snippet for `install-connector` still refers to ACI Connector instead of Virtual Kublet.  Should be updated from
[code]
to
[code]
(see https://docs.microsoft.com/en-us/azure/aks/virtual-kubelet#installation)

There should also be a note stating that the recommended method for acheiving virtual-kubelet functionality in most cases is now [*virtual nodes*](https://docs.microsoft.com/en-us/azure/a

[2019-05-27 08:33] aroumeliotis commented on #9146
az extension update --name interactive

[2019-05-27 09:55] ruifengma commented on #7833
I have this issue while installing the CUDA driver. When execute `sudo apt-get update` and I got this error
`Hit:1 http://azure.archive.ubuntu.com/ubuntu xenial InRelease
Hit:2 http://azure.archive.ubuntu.com/ubuntu xenial-updates InRelease
Hit:3 http://azure.archive.ubuntu.com/ubuntu xenial-backports InRelease
Hit:4 http://security.ubuntu.com/ubuntu xenial-security InRelease
Get:5 https://package

[2019-05-27 11:23] gauravsaralMs opened #9483 "Update `az feedback` to open issues in github repo of extension if extension is coming from a different repo"
**Is your feature request related to a problem? Please describe.**
Currently giving feedback on any command coming from extension goes into azure cli extension repo. While a extension can even live outside of the main cli extension repo, like devops cli extension.

**Describe the solution you'd like**
Say some user wants to give feedback for command coming from devops-cli-extension, then also curr

[2019-05-27 11:58] axthosarouris opened #9484 "jmeshpath filtering not working as expected"
## Describe the bug
Given that the command `az account list ` gives the following list

[code]

**Command Name**
az account list --query [?state=='Enabled']

**Errors:**
Produces empty list when it should produce  a list of with all enabled elements.

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

-  `az a

[2019-05-27 12:39] atbagga commented on #9477
az pipelines is a az devops command. The issues are tracked in the repository - https://github.com/Azure/azure-devops-cli-extension/issues.

[2019-05-27 12:59] atbagga commented on #9204
This happens anytime you input a param within " (double quote) character with space in between using bash.

e.g. Command like this will fail..
[code]

Another related issue reported on our extension - https://github.com/Azure/azure-devops-cli-extension/issues/606

You will not get debug logs for this since the execution it self fails. Check the related issue above for more details and yes this doe

[2019-05-27 13:05] abbr commented on #9204
@atbagga , not true in my case since the cmd I executed doesn't contain strings with spaces - `az role assignment create --assignee $CLIENT_ID --role acrpull --scope $ACR_ID`

[2019-05-27 14:04] asindl commented on #9003
I was stumbling upon the same issue today: the client is logging-in using service principles; upload, download to the blob container does work for example using the HTTP REST API, but when executing the `az storage blob upload` command in the CLI, I see the same error as described above.
The client has "Storage Blob Data Contributor" privileges as mentioned above.
What would be a work around BTW?

[2019-05-27 17:53] pvrk commented on #5152
@tjprescott: Trying to clean up issues. Is this still open? can we close this?

[2019-05-27 18:10] slowik21861 opened #9485 "is:issue is:open az login fails on fresh OpenSUSE Leap 15.1"
marek@opensuse151:~/Pobrane> az login
Traceback (most recent call last):
  File "/usr/lib64/python2.7/runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib64/python2.7/runpy.py", line 72, in _run_code
    exec code in run_globals
  File "/usr/lib64/az/lib/python2.7/site-packages/azure/cli/__main__.py", line 33, in <module>
    az_cli = get_default_cl

[2019-05-28 00:47] mathieu-benoit commented on #9477
Got it thanks @atbagga, feature request moved there: https://github.com/Azure/azure-devops-cli-extension/issues/639 Thanks!

[2019-05-28 00:47] #9477 closed

[2019-05-28 02:05] kirk-spragg opened #9486 "az ad sp list --query will traceback while attempting to filter a nullable field"
## Describe the bug
Trying to filter service principles based on publisherName (or indeed any other field that is nullable) results in a traceback. For example:

az ad sp list --query "[?contains(publisherName, 'someName')]

produces the following error:
[code]

## To Reproduce:
Run the command above. Appears to happen if you attempt to filter on ANY nullable field. So the following will also brea

[2019-05-28 10:15] matt-lethargic opened #9487 "Query argument on az servicebus topic subscription list returns nothing"
## Describe the bug
`az servicebus topic subscription list --query id` returns nothing

**Command Name**
`az servicebus topic subscription list`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az servicebus topic subscription list --namespace-name {} --resource-group {} --topic-name {} --qu

[2019-05-28 11:35] ehrnst commented on #7674
Any updates on this. I see the same issue running REST requests directly.

[2019-05-28 15:30] mdwoernhard opened #9489 "Zone Import fails to import an exported zone if a wildcard * record is present"
I have exported a DNS zone and tried to import the exact same file into another tenant.

**Command Name**
`az network dns zone import`

The line in the exported file containing a wildcard A record caused the import to fail:

**Errors:**
`Unable to parse: * 3600 IN A <public-ip>`

## To Reproduce:

- Add a wildcard (*) record to the portal
- `az network dns zone export -n {} -g {} -f {}`
- `az netw

[2019-05-28 16:46] yugangw-msft commented on #7618
folks, check out my #9490 and let me know if you have any comments. The command signature looks like:
[code]

[2019-05-28 16:49] yugangw-msft commented on #4041
Folks, I will fill the gap through #9490. The command will be `az functionapp key list/update/delete`. The command signature will be pretty intuitive. You can check out the details through the end to end test included in the PR. Please let me know if you have any comments.

[2019-05-28 16:57] ahmedelnably commented on #4041
@yugangw-msft we are deploying a new set of APIs that will manage functions keys, I would prefer to wait for these set of APIs to be in production before creating these new commands

also note that the keys are for functions not functionapps, and AFAIK the current (old) API only list the keys

[2019-05-28 17:29] adewaleo commented on #9479
I am not sure why one would want to create a resource group with a hyphen as a prefix, but I was able to reproduce this issue.

At first I thought it was simply a quoting issue:

[code]

But even with correct quoting, we see that msrest does not approve of this name in its validation.

[code]
With --debug:

[code]
cc: @lmazuel @yugangw-msft

[2019-05-28 17:29] adewaleo commented on #9479
I will add that I was able to create a rg with this name through the portal. I imagine this should be possible through ARM templates. However, I have not tested this yet.

[2019-05-28 17:38] adewaleo commented on #9483
This should be possible via the extension's [project_url link in the index.json file](https://github.com/Azure/azure-cli-extensions/blob/master/src/index.json#L673). If this could be surfaced up within the CLI, it should be possible to direct a user to this link instead.

cc: @achandmsft

[2019-05-28 17:44] dtzar commented on #9399
Not the same error, but related to psutil with a Docker build regardless of using 2.0.46 or 2.0.65
https://dev.azure.com/csedevops/MLOps/_build/results?buildId=757  (2.0.46)
https://dev.azure.com/csedevops/MLOps/_build/results?buildId=760 (2.0.65)

[code]

[2019-05-28 17:47] adewaleo commented on #9484
This worked for me:

`az account list --query "[?state=='Enabled']"
`

The solution is to wrap the query argument in quotes. It also seems like the string value for the key you are matching must be quoted with single quotes.

This did not work:

`az account list --query '[?state==Enabled]'
`
nor this:

`az account list --query '[?state=="Enabled"]'`

This also worked for me:

[code]

[2019-05-28 17:47] #9484 closed

[2019-05-28 17:49] adewaleo commented on #9485
Please try to include more information!. It helps us help you:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az -

[2019-05-28 18:20] adewaleo commented on #9486
Try this, you misspelled 'homepage' :

`az ad sp list --query "[?contains(homepage, 'Seequent')]"
`

and **if it still fails then try this:**

`az ad sp list --query "[?contains(to_string(homepage), 'Seequent')]"`

### Explanation:

The reason for `to_string()` is that some service principals have their homepage set to `null` which is not an array or string. So the [jmespath](http://jmespath.org/t

[2019-05-28 18:22] adewaleo commented on #9486
Still the CLI should not throw a stack trace. So I will mark this as a bug so that the CLI gracefully handles this error.

[2019-05-28 19:36] mxplusb commented on #7618
@yugangw-msft that looks fantastic, it definitely solves my original ask, thanks for following through!

[2019-05-28 20:09] slowik21861 commented on #9485
Bug description:
Trying to login win Azure CLI (az login) produced error instead of asking for login name.
To reproduce:
Fresh install of OpenSUSE 15.1 in virtual machine. All recommended updates installed.
Expected behavior:
Command prompt asking for login name and password to Azure.
Environment summary:
OpenSUSE 15.1 x64 default install with GNOME in Vmware Fusion 11.1.0.
Install method: zyppier

[2019-05-28 21:30] marstr commented on #9485
Howdy @slowik21861, did you install using the EL7 RPM, or using pip?

[2019-05-28 21:31] marstr commented on #9485
Regardless, try using zypper to install `python-base` and `python-xml`.

[2019-05-28 21:43] adewaleo commented on #9473
This might help? https://stackoverflow.com/questions/27630114/matplotlib-issue-on-os-x-importerror-cannot-import-name-thread

[2019-05-28 22:45] rcarun commented on #9167
@marstr any update on this issue?

[2019-05-28 23:04] yugangw-msft commented on #9476
This is a service end bug. Azure CLI  doesn't really tweak the output of template export. Meanwhile, @chasehuber2, are you blocked on this?

[2019-05-28 23:07] marstr commented on #9167
Sorry, should have closed the loop. This is a dupe of https://github.com/Azure/azure-cli/issues/9257

Basically though, the answer is that the workaround presented is a totally viable one without any drawbacks. (Other than having to had applied a workaround, which stinks in and of itself.) Since this issue was filed, we've locked down the particular version of urllib3 in all of our release channel

[2019-05-28 23:07] yugangw-msft commented on #9250
Okay, i will follow up to add the support back.

[2019-05-28 23:16] yugangw-msft commented on #9375
It is bug that we should fix.

[2019-05-28 23:18] yugangw-msft commented on #9407
//CC: @zikalino

[2019-05-28 23:19] yugangw-msft commented on #9455
@adewaleo, let us come out with one

[2019-05-28 23:21] #9167 closed

[2019-05-28 23:39] adewaleo commented on #9399
What dovcke

What docker file are you using to build the docker image? Are you using the one in our repo?

[2019-05-29 00:12] dcbrown16 opened #9495 "Behavior of accelerated networking and NICs"
Question about az vm create.
It appears that when using an existing NIC, the accelerated networking settings of that NIC override the accelerated networking setting specified when creating the VM.
i.e. if you create a NIC with accelerated networking disabled and then use that NIC to create a VM that would otherwise have the setting enabled, the VM is created with the setting disabled.
This specifi

[2019-05-29 00:16] KeiroKamioka0000 opened #9496 "What are the default value for --accelerated-networking?"
Please consider to add the default value for this.
I assuming it is false, is am I correct?

--accelerated-networking
Enable accelerated networking.

accepted values: false, true

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29b6bb22-cb91-c7f8-995e-134d0fe5627f
* Version Independent ID: a92f24e8-36a0-808b-a9e7-598f855

[2019-05-29 00:45] kirk-spragg commented on #9486
@adewaleo I did not realize that i needed to to a string conversion in my JMESPath query, thank you for pointing that out. I've got it working as you suggested.

Having the az cli report some sort of useful error instead of a traceback would be useful for users like me who are not so familiar with the az cli or JMESPath query syntax.

[2019-05-29 03:41] rogeraustin opened #9498 "az storage container generate-sas fails when using auth-mode login"
## Describe the bug

**Command Name**
`az storage container generate-sas` fails when using `auth-mode login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

1. Create a service principal account
2. For an existing storage account, assign role Storage Account Contributor to this service

[2019-05-29 03:55] amramtamir commented on #9473
Hi @marstr
It seems to work!
I have done this steps:
opened python from the terminal
import six
print six.__file__

the output showed that the six.pyc and six.py was on my home path
I ran rm -rf six.*
and the "az" command is now working :)

[2019-05-29 04:58] luizhmcarvalho opened #9499 "[webapp] - Failed Web app deploy"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --name {}`

## Expected Behavior

## Environment Summary
[code

[2019-05-29 06:10] voltaire-ilustrisimo-webjet commented on #9065
+1 This feature makes building up my vnet much easier.

[2019-05-29 06:30] Huge opened #9500 "`browse` proxy seems fragile"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --resource-group {} --name {}`

## Expected Behavior

## Env

[2019-05-29 06:36] dtzar commented on #9399
https://hub.docker.com/r/dtzar/conda3mlops

[2019-05-29 07:05] vinkobedek opened #9501 "Updating replyUrlsWithType property of a App Registration does not work"
**Describe the bug**
`az ad app update --set` does not work as intended for the replyUrlsWithType property.
The error is as following:
[code]

**To Reproduce**
1. Create a new app registration and note the applicationID
2. Open Powershell
3. `$replyUrls = '[{\"url\":\"http://localhost:8081\",\"type\":\"Web\"},{\"url\":\"http://localhost:8181\",\"type\":\"Web\"},{\"url\":\"urn://test-public-client/

[2019-05-29 09:49] piotrzajac commented on #7245
@ketaanhshah in case this is a nested structure  than please try using colon ":" instead of dot ".", according to [suggestion from Darren Neimke](https://gist.github.com/dneimke/83efc7ad6859c4f90b20b00cdca1177a#file-flattened-json)  e.g.:

[code]

[2019-05-29 10:44] tomko80 opened #9505 "az acr login without az login - should it work?"
When I try to login to ACR using the "admin user" credentials I get the error "Get Token request returned http error: 400 and server response ... invalid_grant" indicating the token as expired.

My assumption is that the _az acr login_ can be used using the admin user account without doing a _az login_ first. Is this assumption wrong? Does this work only with docker login and az login is required

[2019-05-29 14:22] chasehuber2 commented on #9476
@yugangw-msft hi, yes, blocked. How should I proceed to resolve? thanks,

[2019-05-29 16:21] marstr commented on #9473
This is troublesome to me, as my hope was that using a Virtualenv in the Homebrew installer would isolate us from these sorts of problems.

@lmazuel, my take away from this is that in addition to invoking the python inside of the virtualenv, I should be invoking it with the `-s` flag. Do you think that's the right conclusion?

[2019-05-29 16:37] zippy1981 opened #9506 "Have az account list/show contain the object id of the user or principle"
**Is your feature request related to a problem? Please describe.**

My ultimate goal is to use the Azure CLI to get the object id of user that I am logged into the Azure CLI with to set an environment variable which terraform will use to give itself permission to create certificates in the azure key vault it is creating.

**Describe the solution you'd like**
Ideally I'd like `az account show` to h

[2019-05-29 16:47] tjprescott commented on #9065
We do not plan to implement this request. The subnet create command contains many parameters. Trying to support all of those features on vnet create is impractical, and not supporting those features means the user would need to follow up with just as many update commands to configure them.

In regards to idempotency, simply running:
[code]

Will ensure that the vnet is set up correctly each time w

[2019-05-29 16:47] #9065 closed

[2019-05-29 16:58] tjprescott commented on #5152
@pvrk this is still open and I don't think it has been fixed

[2019-05-29 16:59] tjprescott commented on #9487
This is user error. You need to use `--query "[].id"`

[2019-05-29 16:59] #9487 closed

[2019-05-29 17:10] tjprescott commented on #9479
This is a known issue with argparse. You can use `az group show -n=-biubiubiu` and it will work.

[2019-05-29 17:10] #9479 closed

[2019-05-29 17:13] matt-lethargic commented on #9487
Happy to be corrected 😁

[2019-05-29 17:18] tjprescott commented on #9496
Yes, if omitted, it would be false. This is the case for any flag.

[2019-05-29 17:50] adewaleo commented on #9499
this looks like a transient possibly networking issue.

What happens if you delete the webapp / webapp's rg and retry the command?

cc: @panchagnula and @yugangw-msft

[2019-05-29 17:58] adewaleo commented on #9425
Hmm, looks like aks browse might indeed be flakey and / or have other issues.  We should find ways to try to handle these connection errors more cleanly.

related issues: #9500, #9000, #9144

@mboersma, would you be able to look into this issue and the other related `aks browse issues`

[2019-05-29 17:59] adewaleo commented on #9000
@mboersma, please can you look into this issue and other aks browse issues? It seems like a lot of users are having issues with this command

[2019-05-29 19:53] ankitkumarr commented on #6581
@ahmedelnably, please add Sprint 63 milestone to this, I do not have the right permissions.

[2019-05-29 20:14] lmazuel commented on #9473
@marstr venv should not load any system or user system directory by default, so that option should be useless. If you're able to show me an example with venv and user directory where "-s" makes a difference I'm curious :)
That being said, it seems the story is more subtle:
https://github.com/pypa/pip/issues/4141
https://github.com/pypa/pip/issues/5702

[2019-05-29 20:18] amitsriva opened #9507 "AppGateway HTTP settings create/update needs root cert"
CLI missing support for trusted root certificate. This is at the same level as authentication certificate and is applicable only for V2 SKU.

[2019-05-29 21:18] adewaleo commented on #9399
In our dockerfile, I had to add the linux-headers dependency for psutil to work. There might be a similar case where you need to include (a dependency) with gcc in your docker file

[2019-05-29 21:21] panchagnula commented on #9462
@Maissae  this should now be fixed.

[2019-05-29 21:22] adewaleo commented on #9486
You are right @kirk-spragg. I will add some logic to try to catch these jmespath errors and redirect users to CLI and JMESPATH documentation.

[2019-05-29 22:16] KeiroKamioka0000 commented on #9496
Thanks!

[2019-05-29 22:46] ehotinger commented on #9449
@northtyphoon  I vaguely recall you answering this somewhere else. Was it fixed / can this be closed now?

[2019-05-29 23:09] Nking92 commented on #8872
@tjprescott I think we can close this issue.

[2019-05-29 23:14] benktesh commented on #2677
For vms => az vm list-ip-addresses --output table
For vm by name => az vm list-ip-addresses --output table -n <myvmname>

To view in JSON format remove ' --output table' from the above commands.

[2019-05-29 23:35] adewaleo commented on #9496
closing this then

[2019-05-29 23:35] #9496 closed

[2019-05-29 23:40] adewaleo commented on #9507
Please can you give more information? This helps us help you. Maybe something like:

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build)

[2019-05-29 23:58] amitsriva commented on #9507
This isnt a bug. Its a feature request. Most of the sections on environment, bug, steps to repro are not relevant.

Trusted root cert is missing in backend http settings.
"az network application-gateway http-settings create" does not have any way of associating a trusted root cert. There is a --auth-certs param for V1 authentication certificates and similarly it should have a --trusted-root-certs

[2019-05-30 00:02] adewaleo commented on #9507
I used that as a template of what information is generally helpful. From your original description, I didn't know what command you were referring to or whether you were reporting a bug or requesting a feature.

Thanks for the follow up and adding more detail.

P.S. [Feature request issue template.](https://github.com/Azure/azure-cli/issues/new?template=Feature_request.md)

[2019-05-30 01:29] kim0 opened #9510 "az sql mi create crashes"
## Describe the bug
az sql mi create with certain options, causes python to barf

**Command Name**
`az sql mi create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sql mi create -g {} -n {} -l {} -i -u {} -p {} --subnet {} --capacity {} --

[2019-05-30 05:14] hisasima commented on #9447
Thank you for your advice. I'll check.

[2019-05-30 05:15] #9447 closed

[2019-05-30 09:07] giovannifl opened #9513 "az run-command script sample"
Hi,
Please could you provide a sample about how to execute az run-command using a file with bash or ps1 script ? Powershell version of this command has a "--scriptpath" switch while here it's written " Use @{file} to load from a file"

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f04b196d-7d11-7213-f037-f12b85

[2019-05-30 11:20] bgatefficient opened #9514 "Unable to set supportCredential using azure webapp cors - Please extend this functionality"
We set cors in our development pipeline using:

[code]
Works great but we are unable to set supportCredential flag to true.

We are able to do this via :
[code]

Can we get a flag on az webapp cors to set this (eg):
[code]

This would allow us to edit all the relivant credentials using the same format for cors and set the flag in the same command as setting the cors.

[2019-05-30 12:53] makokui opened #9515 "Failed to establish a new connection: [Errno 110] Connection timed out"
It regularly execute Azure CLI commands from Azure Virtual Machine (REL 7).. It had been stable for a while, but recently errors sometimes occur. Please tell me how to avoid this error.

- Batch command
/bin/az monitor metrics list --resource /subscriptions/xxxxxxxxxxxx/resourceGroups/xxxxx/providers/Microsoft.Cache/Redis/xxxxx --start-time yyyy-mm-ddTnn:nn:nnZ --end-time yyyy-mm-ddTnn:nn:nnZ --me

[2019-05-30 13:09] amaturehr opened #9517 "az graph query for tags using table output does not show correct output"
**Description**

Running az graph query with TABLE output shows empty tags despite tag values showing up in JSON output

**To Reproduce**
[code]
[code]

**Expected behavior**

I would expect the table output to look similar to the following:

[code]
In the event of a resource having multple tag values I would expect something like:

[code]

**Environment summary**

Install Method: pip
CLI Version:

[2019-05-30 13:25] corppeon opened #9518 "Cannot download universal package"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az artifacts universal download`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az artifacts universal download --organization {} --feed

[2019-05-30 13:31] tjprescott commented on #9507
This is already implemented.

`az network application-gateway root-cert`

[2019-05-30 14:47] mboersma commented on #9000
@zqingqing1 @julienstroheker @samkreter could someone on the AKS team please take a look?

[2019-05-30 14:53] mboersma commented on #9425
@zqingqing1 @julienstroheker @samkreter could someone on the AKS team please take a look?

[2019-05-30 14:57] tjprescott commented on #9515
@makokui  are you on the Redis Cache service team? This issue template is for service teams to request the CLI team to add features.

[2019-05-30 15:00] mboersma commented on #6949
@zqingqing1 @GaneshaThirumurthi @samkreter could someone on the AKS team please take a look?

[2019-05-30 15:01] mboersma commented on #9392
@zqingqing1 @GaneshaThirumurthi @samkreter could someone on the AKS team please take a look?

[2019-05-30 15:09] #8872 closed

[2019-05-30 15:13] #3876 closed

[2019-05-30 16:07] jamesc opened #9520 "`az acr task create` doesn't enforce required -f when supplying --context"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Az CLI throws exception instead of printing error when supplying a context without specifying `-f`. If I specify `-f Dockerfile` then it doesn't throw exception

**Command Name**
`az acr task create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redac

[2019-05-30 16:37] stevengum commented on #9378
@PrajithB and @KevinBrooke if you want to update the App Service and its App Service Plan, these are configurable using the following command modules:

 - `az webapp`: https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest
 - `az appservice`: https://docs.microsoft.com/en-us/cli/azure/appservice?view=azure-cli-latest

Since these are distinct resources on Azure, `az bot` doesn't s

[2019-05-30 17:18] #8369 closed

[2019-05-30 17:18] #9255 closed

[2019-05-30 17:48] DavidArayaSanabria opened #9521 "All ports are exposed"
I deploy a container (ACI) on a private subnet and allow 7019 and 8090 ports on the container.
After testing this, everything works perfectly however all port are open on the container.
If i try to use the port 9998 i can reach the container and the service inside even if i didn't allow this port on the container.
Is it normal ? i don't see in the documentation this feature and it could be very da

[2019-05-30 18:08] bradcavanagh-ffs opened #9522 "Adding preAuthorizedApplications with az ad app update fails"
## Describe the bug

**Command Name**
When running `az ad app update` to add to the list in `preAuthorizedApplications`, I receive the following error:

**Errors:**
[code]

I've tried varying combinations of quotes, escaping out `[]{}`, or trying to pass the JSON through as `@preAuthorizedApplications.json` but all fail.

When run with `--debug` it looks like the PATCH request to `https://graph.wi

[2019-05-30 18:13] #8780 closed

[2019-05-30 18:48] jfggdl commented on #4997
@derekbekoe, we are closing this issue for now. Feel free to reopen it if you feel that we still have not addressed your concerns.

[2019-05-30 18:48] #4997 closed

[2019-05-30 21:18] Arnavion commented on #8780
@achandmsft @marstr The issue https://github.com/Azure/azure-cli/issues/7523 that was duped against this one still repros with the latest package `azure-cli-2.0.65-1.el7.x86_64.rpm`. Should one of these be reopened?

[2019-05-30 21:29] adewaleo commented on #9515
@makokui is your issue with a `redis`command or with `az monitor metrics list`

@makokui for bugs please use the template [here](https://github.com/Azure/azure-cli/issues/new?template=Bug_report.md):

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected

[2019-05-30 21:39] adewaleo commented on #9522
cc: @yugangw-msft

[2019-05-30 21:40] marstr commented on #8780
Good call, yes. I'll reopen #7253 for this.

[2019-05-30 21:43] marstr commented on #7523
Now that the RPM spec has been updated to be more accommodating of different distros, this issue should be reassessed.

[2019-05-30 22:08] yugangw-msft commented on #4041
Okay, @ahmedelnably, I have backed out the change from my PR. The lesson is we should not have made this issue block the community for such a long time.
Meanwhile, I look forward to seeing you drive your team to address this ask soon.

[2019-05-30 22:23] brobichaud opened #9524 "Set analytics workspace with az vm create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When creating a VM it is using the "Default" log analytics workspace. This is less than ideal, I would like the ability to specify an existing workspace to use.

**Command Name**
az vm create

**Errors:**
None

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as th

[2019-05-30 22:49] richardmansfield opened #9525 "az storage blob sync error: File is not a zip file"
## Describe the bug

**Command Name**
`az storage blob sync`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az storage blob sync -c {} --account-name {} -s {} -d {}`

## Expected Behavior
Files in the local source path are transferred to the destination path in the container

## Env

[2019-05-31 00:47] ahamad-MS commented on #5572
@polarapfel

Thanks for reporting this issue/question.

The list that can be used with --included-event-types depends on the topic type. For custom topic, you will need to contact the topic owner to know this list as this is controlled by the user himself. For specific Azure Resource Publisher (e.g., StorageAccounts, IoT Hub, Azure Maps, etc), these are documented here: https://docs.microsoft.com/

[2019-05-31 06:53] robinrogne commented on #9319
I also have the same error. At the moment my deployment process is stalled. Please fix this asap.

[2019-05-31 11:31] jurjenoskam opened #9529 "az ad app owner add is not idempotent"
Adding an Object ID as an owner to an application fails when that Object ID already is owner of that application:

[code]

This makes writing scripts more difficult. Could you please make this operation idempotent?

[code]

[2019-05-31 13:23] vfragola opened #9530 "Cant build azure function using zip deployment"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2019-05-31 14:04] makokui commented on #9515
@adewaleo my issue with a az monitor metrics list, and this issue is occurring in user's environment. I am waiting for information from the user. I will file a bug report as soon as I can confirm the execution environment.

[2019-05-31 14:50] tjprescott commented on #9515
If you are getting flaky behavior with the `monitor metrics list` command, that would be a service issue. You would likely want to escalate your scenario by opening a ticket on the portal.

However, looking at your command, you should not be providing comma-separated metrics.

[code]

So this:
[code]
should be:
[code]

[2019-05-31 15:25] #5572 closed

[2019-05-31 15:31] #9463 closed

[2019-05-31 15:32] #9401 closed

[2019-05-31 16:17] tjprescott commented on #9443
I can reproduce this. It looks like different versions of the service are deployed in different regions. I will flag this with service attention, but my recommendation would be to open a support ticket on the portal to more quickly reach the service team.

[2019-05-31 16:21] tjprescott commented on #9443
Have you tried supplying `--workspace`?

[2019-05-31 16:45] droessmj commented on #9319
Can recreate as well, and can confirm dropping --max-size resolves the issue.

[2019-05-31 16:50] MisinformedDNA commented on #9186
Not sure if this is related but I am trying to deploy and am getting an error:

And then while watching the logs I tried again and saw:

I also confirmed on Kudu that the files were *not* deployed.

[2019-05-31 17:16] crowcoder opened #9532 "No throughput argument on az cosmosdb database create"
This page says there is a throughput argument on "az cosmosdb database create" but there isn't. How do we use the cli to create a shared throughput database?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da15197a-eca2-19d6-72e3-be853337a759
* Version Independent ID: eb84d467-86df-121e-3b04-66b499342f7f
* Content: [az

[2019-05-31 17:21] #9532 closed

[2019-05-31 17:21] crowcoder commented on #9532
I guess I was using an old cli.

[2019-05-31 17:24] tjprescott commented on #9443
I have tracked down the issue and will open a PR to fix.

[2019-05-31 17:35] maertendMSFT commented on #8912
Given the high level of permissions required and the low frequency that these operations are performed the team Cloud Shell is not going to support this scenario.  We recommend that users run this on a local CLI experience.

[2019-05-31 17:40] adewaleo commented on #9525
@limingu we should catch this exception and handle it properly.

@richardmansfield it seems like your source file should be a zip file but it is not...

[2019-05-31 17:43] adewaleo commented on #9529
@yugangw-msft

[2019-05-31 17:54] colinuipath opened #9534 "failure on az login --identity"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --identity`

## Expected Behavior

## Environment Summary
[code]
## Ad

[2019-05-31 17:56] #9489 closed

[2019-05-31 17:57] adewaleo commented on #9534
I might be wrong but this look like a network issue

cc: @marstr and @yugangw-msft

[2019-05-31 18:00] adewaleo commented on #9013
this information would be helpful for az feedback as well!

[2019-05-31 18:00] colinuipath commented on #9534
169.254.169.254 is a reserved IP address which is not internet routable. Why does the az need to talk to it? Is there some setup I need to do first?

[2019-05-31 18:23] yugangw-msft commented on #9534
You should only run this inside Azure virtual machine. We can call out in the help, and also fail early if we detect you are not inside VM

[2019-05-31 18:29] yugangw-msft opened #9535 "Windows MSI installer: old version <2.0.64 are unavailable"
We will recover them and will close once it is done.

[2019-05-31 18:29] yugangw-msft commented on #9535
//CC: @marstr

[2019-05-31 19:13] schade-l opened #9536 "Windows SAS token parsed badly"
**Describe the bug**
Using a SAS token, provided as a string in powershell, causes it to not be fully parsed, attempting to execute various commands for each of the parameters in the token, and only parsing small portions of it.

Input
[code]

Output
[code]

This can be circumvented by wrapping the SAS token with double quotes inside the string literal:

[code]

This seems like a hacky workaround,

[2019-05-31 19:30] marstr commented on #9535
In order to correctly prioritize, if you are currently reading this and are impacted by this: Please tell us how far back you need. We are still deciding how far back to scope our recovery efforts.

[2019-05-31 20:34] jfggdl commented on #6676
@dsouzaarun, would you please validate the behavior and provide clarity to @TsuyoshiUshio.

Thanks.

[2019-05-31 20:35] #9534 closed

[2019-05-31 20:36] jfggdl commented on #6852
@aj-nava, would you please check on this. I heard that there is already a PR to fix this issue.

[2019-05-31 20:41] jfggdl commented on #7085
@dsouzaarun  and @v-ajnava, would you please check the behavior of the CLI and the documentation. We may need to change the message that we are presenting to the user to make clear that the maximum value for retention is 1 for Basic tier, for example. We also need to double-check that our public documentation provides that information.

[2019-05-31 21:14] jfggdl commented on #5824
@v-ajnava. This is an issue close to #3149 (https://github.com/Azure/azure-sdk-for-python/issues/3149). Would you please validate the kind of message that we are showing the users and provide/release a better message. Please consult within the team, but we have two options: 1) Show an error indicating that Manage includes both Send and Listen rights and need to be specified with the request or 2)

[2019-05-31 21:18] jfggdl commented on #7502
@paulgmiller, would you please confirm if you try what @tjprescott suggested?

[2019-05-31 21:21] Bowbaq opened #9537 "az login --identity fails in AKS with aad-pod-identity"
**Describe the bug**
`az login --identity` sometimes fails with a stacktrace when used in AKS in combination with [`aad-pod-identity`](https://github.com/Azure/aad-pod-identity)

[code]

**To Reproduce**
- Setup an AKS cluster (we're on K8S 1.11.9) with aad-pod-identity (we use the helm chart)
- Start a pod using the `microsoft/azure-cli:latest` docker image, with the proper labeling to assign a M

[2019-05-31 22:36] dlstucki commented on #9194
A bit of history since Relay Cloud Service has been around for over 10 years... The original-style relays only existed as long as a listener was connected. There were no separate Create/Delete operations. A listener connecting created the relay and listener disconnecting resulted in the relay being deleted. I refer to these as "Dynamic" relays and they are still supported to this day. Listeners ru

[2019-05-31 22:44] #6728 closed

[2019-05-31 22:44] v-Ajnava commented on #6728
This should be Resolved. I verified by creating the queue In non-existing namespace, got the below error message.

ParentResourceNotFound - Can not perform requested operation on nested resource. Parent resource 'testingqueuecreationNS' not found.

I am closing the issue.
Please let us know if you have any more questions.

[2019-05-31 22:46] panchagnula commented on #9283
@patricklee2 can you look at this, its related to bring your own storage feature. Thank you

[2019-05-31 22:49] panchagnula commented on #9244
This PR has the new SDK https://github.com/Azure/azure-cli/pull/9492 @Nking92 can you verify this once this change is merged?

[2019-05-31 22:50] panchagnula commented on #9113
@andreyabramov are you still seeing this issue?

[2019-05-31 22:51] panchagnula commented on #9069
@ahmedelnably , @ankitkumarr can you look at this one?

[2019-06-01 00:36] achandmsft commented on #9495
@adewaleo could you please respond to Dillon's question?

[2019-06-01 00:38] achandmsft commented on #9498
Thanks for the feedback @rogeraustin. We have identified this as a possible bug and @limingu is investigating.

[2019-06-01 00:45] achandmsft commented on #9513
Thanks for your feedback @giovannifl Could you let me know if the blog [here] (https://techcommunity.microsoft.com/t5/ITOps-Talk-Blog/How-to-Run-scripts-on-Azure-Virtual-Machines-with-the-Run/ba-p/292446 ) is what you are looking for or do you need something else?

[2019-06-01 00:54] achandmsft commented on #9524
@brobichaud Thanks for this feature request. As we look to build out this feature, I would very much like to have a quick 30 minute conversation to better understand your e2e scenario around this request. Could we have a quick 30 minute conversation around this? If interested, please email me (askazcli at microsoft dot com) your availability and timezone and I will setup something.

Looking forwar

[2019-06-01 01:28] adewaleo commented on #9495
@dcbrown16 my apologies for the late response. According to this [doc](https://docs.microsoft.com/en-us/azure/virtual-network/create-vm-accelerated-networking-cli#enable-accelerated-networking-on-existing-vms), a vm (and its nic) can be updated to support accelerated networking.

Given this is possible, `vm create` should be able to enable accelerated networking on the existing nic, when `--accele

[2019-06-01 04:18] Arnavion commented on #9506
Doesn't `az ad signed-in-user show --query objectId --output tsv` do what you want?

[2019-06-01 04:24] Arnavion commented on #9485
Yeah, this is problem 2 in https://github.com/Azure/azure-cli/issues/7523 ; installing `python-xml` will resolve it. (`python-base` must already be there to be able to get as far as this error.)

[2019-06-01 05:13] singingfish opened #9539 "all commands should return json"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash o

[2019-06-01 06:05] zippy1981 commented on #9506
@Arnavion Why yes that will work. I didn't see that.

[2019-06-01 06:12] singingfish commented on #9539
I've got a specific situation here where `az vm delete` returns invalid json as it's returning nothing.:

The code I'm running is:

[code]

and the warning I'm getting is:

[code]

Which tells me it's returning an empty string.  Really all operations should be returning JSON for consistency.  In this case some informative valid json  should be returned.  For example:

[code]
or anything really.  H

[2019-06-01 12:52] zippy1981 commented on #9506
Reopening, because, which that does solve my particular issue, the object id or upn of the user seems more important than the display name for in the `account list/show` output.

[2019-06-01 18:30] paulgmiller commented on #7502
We haven't hit this in some time so I assume this is fixed

[2019-06-01 18:30] #7502 closed

[2019-06-01 20:24] mrdfuse commented on #5867
I'm still seeing the same error with az aks update-credentials, is that related to this issue?

[2019-06-02 11:47] giovannifl commented on #9513
Hi,
Not exactly.
This document should also include an example such as:
az vm run command invoke  -g MyResourceGroup -n MyVm --command-id RunPowerShellScript --scripts @test.ps1

[2019-06-02 17:12] devbeard commented on #9513
+1 to Giovannis suggestion. I am currently struggeling with starting a PowerShell script (.ps1) on a VM including positional parameters. Would be great to see an example in the docs of a PowerShell script with parameters.

[2019-06-02 21:39] sirredbeard commented on #7374
@pasisavolainen Well Python 2 reaches EOL in 7 months. I imagine they will move to Python 3 and will still bundle it.

[2019-06-02 23:12] dcbrown16 commented on #9495
@adewaleo I have a customer report that setting --accelerated-networking to true is not honored if an existing NIC with accelerated networking disabled is specified. If the intended specification is to have the NIC switch to enabled in that case, please verify on your end or contact me at v-dibr internally if we need IcM or something.

[2019-06-02 23:38] dcbrown16 commented on #9496
@tjprescott @adewaleo it seems odd that accelerated networking is disabled by default when creating the NIC, but enabled by default (if able) when creating a VM.
from az vm create:
--accelerated-networking
Enable accelerated networking. Unless specified, CLI will enable it based on machine image and size.
accepted values: false, true
https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-lat

[2019-06-02 23:41] dcbrown16 commented on #9495
See #9496 also, there is some confusion as to why creating the NIC explicitly leaves accelerated networking disabled but creating it implicitly while creating a VM supposedly enables it.
CC @KeiroKamioka0000

[2019-06-03 06:58] Maissae commented on #9462
I still have issues running the command, same error message. Do I need to update anything?

[2019-06-03 10:37] colemickens opened #9542 "public access container creation fails"
## public access container creation fails

**Command Name**
`sudo docker run -it -v /nix:/nix -v /tmp/azure-cli:/tmp/azure-cli -e AZURE_CONFIG_DIR=/tmp/azure-cli -e 'AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;EndpointSuffix=core.windows.net;AccountName=nixos0westus2aff271ee;AccountKey=pizza==' microsoft/azure-cli:latest az storage container create --name vhds --public-access co

[2019-06-03 15:03] Teketel opened #9543 "Failure to start dashboard for a Kubernetes cluster in a web browser."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --resource-group {} --name {}`

## Expected Behavior

## Env

[2019-06-03 15:08] tjprescott commented on #9536
This is due to Powershell interpreting `&` as a new command. There is nothing the CLI can do about this since it occurs before the input reaches the CLI. You will need to escape your string appropriately for your Powershell version.

[2019-06-03 15:08] #9536 closed

[2019-06-03 15:16] CPeacockSoltec commented on #9396
@limingu Same issue. Windows 10, Azure Cli v 2.0.65 (latest version downloaded today 3rd June 2019)

Error running command 'az storage blob upload -f <FILENAME> -c resources -n <FILENAME> --auth-mode key --account-name <SAName>--account-key <SAKey>': exit status 1. Output: ERROR:
You do not have the required permissions needed to perform this operation.
Depending on your operation, you may need to

[2019-06-03 15:43] tjprescott commented on #9539
It is the standard behavior of deletes in Azure and thus the CLI that they do not return any payload on a successful delete. Thus, you will need to adjust your script so that it is not reliant on the structure of the JSON payload. As you point out, you can examine the exit code to determine that the command was successful.

[2019-06-03 15:43] #9539 closed

[2019-06-03 15:55] goatmale commented on #9467
We ended up going a different route - **assigning the command to an alias and then calling that alias.**

[2019-06-03 16:06] schade-l commented on #9536
I'm not sure this is correct, because `&` isn't a command separator in Powershell (it's a separate reserved character with no functionality:

[code]
It seems more likely that it's being passed through CMD, where `&` is a command separator. This actually makes some sense, in that it seems that you are passing the value of the string literal to a separate call that executes in CMD.

[2019-06-03 16:22] tjprescott commented on #9536
Run on CMD with --debug:
[code]

Run on Powershell with --debug:
[code]

Powershell is splitting at the & and treating it as a new command.

[2019-06-03 16:55] viananth opened #9545 "Error loading command modules: TypeError: Unrecognized kwargs: ['is_preview']"
**Describe the bug**
Error while loading command modules during VM creation

**To Reproduce**
az cloud update --profile 2018-03-01-hybrid
az vm create -g testrg -n testvm

**Expected behavior**
To create a VM without issues

**Environment summary**
Edge build
C:\Users\AzureStackAdmin>az -v
azure-cli                         2.0.65

acr                       2.2.8.dev19715
acs

[2019-06-03 17:43] pvrk commented on #5152
@tjprescott : Can you please assign this to @siddharth7 ?

[2019-06-03 17:50] schade-l commented on #9536
It still doesn't seem right, because "not operable as an internal or external command" is a CMD output, not a Powershell one and other Powershell commands parse `"<SASToken>"` perfectly.

For example:
In powershell, with the following test.py:

[code]

Running `python test.py "<SAS Token>"` works as expected

[2019-06-03 17:55] ajlam commented on #4324
The Azure Database for MySQL service is now available in Azure China.

@tjprescott, @bsiegel - can you please help close?

[2019-06-03 17:58] tjprescott commented on #9545
This isn't really a Stack-specific issue. @limingu can you take a look

[2019-06-03 17:59] tjprescott commented on #9545
You need to update your version of knack. `pip install --upgrade knack`

[2019-06-03 18:02] viananth commented on #9545
@tjprescott Thank you Travis! Seems like its already up-to-date.

Requirement already up-to-date: knack in c:\program files (x86)\python35\lib\site-packages (0.6.2)
Requirement already satisfied, skipping upgrade: pygments in c:\program files (x86)\python35\lib\site-packages (from knack) (2.4.2)
Requirement already satisfied, skipping upgrade: colorama in c:\program files (x86)\python35\lib\site-p

[2019-06-03 18:11] bsiegel commented on #4324
Thanks Andrea, closing the issue!

[2019-06-03 18:11] #4324 closed

[2019-06-03 18:18] tjprescott commented on #9545
`pip list`?

[2019-06-03 18:20] viananth commented on #9545
C:\Users\AzureStackAdmin>pip list
Package                               Version
------------------------------------- ---------------
adal                                  1.2.1
antlr4-python3-runtime                4.7.2
applicationinsights                   0.11.7
argcomplete                           1.10.0
asn1crypto                            0.24.0
azure-batch                           6.0.0

[2019-06-03 18:22] davidtom commented on #7925
I'm still a bit confused here. From what I can tell, in order to grant a new permission to an app I need the following details:
- app id (--id)
- api id (--api)
- api permission id (--api-permissions)

Getting the app id seems straightforward, but not the other two. When I open my manifest (after adding a permission), it looks like the api id (from `requiredResourcesAccess[0].resourceAppId`) is `0

[2019-06-03 19:18] dwhanger opened #9547 "az eventgrid event-subscription create does not work az cli but via portal.azure.com it does"
**Describe the bug**
Using the az eventgrid event-subscription create should work like it does via the UI.

**To Reproduce**
using the following command:

az eventgrid event-subscription create  --name EndPointCheckerAlertSite --endpoint "https://xxxxxxx-app.azurewebsites.net/runtime/webhooks/EventGrid?functionName=EndPointTypeAlertSite" --endpoint-type webhook --subject-begins-with AlertSite --su

[2019-06-03 19:33] adewaleo commented on #8402
@carlosvsilva. fyi, --computer-name has been added to vm create.

[2019-06-03 19:52] adewaleo commented on #9543
@zqingqing1 @GaneshaThirumurthi @samkreter, is this related to

#9425,  #9500, #9000, #9144

[2019-06-03 20:01] carlosvsilva commented on #8402
Thank you very much :) I will be sure to use it.

Best regards,
Carlos

[2019-06-03 20:24] limingu commented on #9396
@CPeacockSoltec, can you send me the details of the command with --debug? Please also verify that your account-key has the permission to upload the blob.

[2019-06-03 21:13] richardmansfield commented on #9525
I'm not sure why it thinks my source file should be a zip file, does az
storage blob sync command only work on zip files? I thought it would sync a
whole folder. It'd be good to clear this up in the documentation; "az
storage blob sync --help" doesn't mention zip files at all.

On Sat, 1 Jun 2019 at 05:40, adewaleo <notifications@github.com> wrote:

[2019-06-03 22:00] brobichaud commented on #9524
Hi Arun,

Sure, we could have a conversation, though my scenario is super simple and I could start by explaining it here in email.

I am using AKS, which itself utilizes log analytics for container monitoring. In setting up AKS clusters we use a specific Analytics workspace that I am able to specify during creation. As part of that I also create a Windows VM that acts as a “jumpbox” to allow me to

[2019-06-03 22:16] #9443 closed

[2019-06-03 22:17] #9319 closed

[2019-06-03 22:20] tjprescott commented on #9545
Hmm... thanks. I'll investigate.

[2019-06-03 22:25] tjprescott commented on #9545
I recreated my virtual environment and this error went away.

[2019-06-03 22:38] ajlam commented on #7035
Updated in PR #8607.

@bsiegel, please help close this issue.

[2019-06-03 22:42] ajlam commented on #7109
@omichels - the server names must be unique as the underlying provisioning server is shared between the Azure SQL DB, MySQL, PostgreSQL, and MariaDB services. Is there a specific ask for this issue?

[2019-06-03 22:48] ajlam commented on #4183
Will track this internally in VSO.

@bsiegel - please help close this.

[2019-06-03 22:49] ajlam commented on #4209
Will also track this internally in VSO.

@bsiegel - please help close this issue.

[2019-06-03 22:53] bsiegel commented on #7035
Closing this issue as completed. @ajlam can you please comment to inform the customer what version of the CLI will contain this fix? Thanks!

[2019-06-03 22:53] #7035 closed

[2019-06-04 03:03] ankitkumarr commented on #9126
We have started the work https://github.com/Azure/azure-cli/pull/9550. It should be completed in [Sprint 63](https://github.com/Azure/azure-cli/milestone/66) (Official Release: 6/18/2019).

[2019-06-04 03:10] Arnavion commented on #9525
It's not that `az storage blob sync` only works with zip files. It's that it downloads `azcopy` and expects that download to be a zip file (that it then extracts `azcopy` from).

[2019-06-04 03:32] limingu commented on #9525
This is bug for Linux. I will fix it soon.

[2019-06-04 08:39] CPeacockSoltec commented on #9396
@limingu

az storage blob upload -f FILE.txt -c resources -n FILE.txt --auth-mode key --account-name SANAME--account-key KEY --debug
Command arguments: ['storage', 'blob', 'upload', '-f', 'FILE.txt', '-c', 'resources', '-n', 'FILE.txt', '--auth-mode', 'key', '--account-name', 'SANAME', '--account-key', 'KEY', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<functi

[2019-06-04 09:13] andrei-dascalu opened #9552 "Kubernetes Dashboard doesn't provide access to any resources"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**az aks browse --resource-group <group> --name <cluster name>**

**Errors:**
`nodes is forbidden: User "system:serviceaccount:kube-system:kubernetes-dashboard" cannot list resource "nodes" in API group "" at the cluster scope`

## To Reproduce:
1. Create a K8S cluster, either under existing RS or new RS
2. Ru

[2019-06-04 11:22] riedwaanb opened #9553 "cli creation of aks cluster fails on southafricanorth - other regions fine"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --node-count {} --service-prin

[2019-06-04 12:57] x10an14 opened #9554 "Unable to `list-owned-objects`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Wanted to check whether or not I had created a secret to permit my AKS cluster to `docker pull` images from my ACR.
(Yes, I am logged in, and yes, I can list/view both the AKS and the ACR both through `az` and `kubectl` - logged in through `az`).

**Command Name**
`az ad signed-in-user list-owned-objects`

**Er

[2019-06-04 13:01] x10an14 commented on #9552
You've met the situation described here; https://blogs.msdn.microsoft.com/kennethteo/2018/07/26/aks-with-aad/

It's not a bug per se, it's rather a (not well documented in AKS imho) missing link that is indeed missing.

[2019-06-04 14:15] ahmedchater commented on #6463
For others looking to set virtual applications for webapps in Azure using the Azure CLI task in an Azure DevOps pipeline, I described the approach I took here:

https://github.com/Microsoft/azure-pipelines-tasks/issues/5125#issuecomment-498685695

Basically I use az webapp config show, grab and convert the json, create n copies of the virtualapplications object, update them, then reapply using az

[2019-06-04 15:12] #4209 closed

[2019-06-04 15:50] viananth commented on #9545
@tjprescott Travis, this should work out-of-the-box without virtual environments, right? We are hitting this issue in our CI, which assumes no virtual environments.

[2019-06-04 15:51] Ben-65535 opened #9555 "az policy assignment list --scope "/subscriptions/xxxx" Failed"
I'm just trying to understand why this command failed as it returned an unknown error and there doesn't appear to be an issue with the syntax.

I ran this from the Azure CLI from my local CMD window where xxxx is my subscription ID.
az policy assignment list --scope "/subscriptions/xxxx"

I retrieved my subscription ID using the following command.
az account list --output table

### **This is auto

[2019-06-04 17:32] tjprescott commented on #9555
I can confirm this bug. We should have a fix in the next release.

[2019-06-04 17:36] Ben-65535 commented on #9555
Thanks for the quick response Travis. Glad to hear this is being addressed.
Best,
Ben

[2019-06-04 17:37] tjprescott commented on #9545
@marstr do you think this has to do with the fact that the released CLI is 2.0.66 but the dev branch still says 2.0.65?  We have had these problems before with the edge build.

[2019-06-04 17:39] #4183 closed

[2019-06-04 18:00] stevehedrick opened #9557 "Unable to import images from gcr.io"
**Describe the bug**
Images imported from gcr.io with broken manifests.  No error message is generated during import, az acr repository show-manifests shows the image manifest, as does the portal.  But any attempt to pull the image, either via a `docker pull` or an `az acr import` to another repository fail with an error message indicating that the manifest is missing.

**To Reproduce**

[code]

*

[2019-06-04 18:20] jfggdl commented on #5824
@axisc - We have decided for 1).  We need to provide better messaging. Would you please work with @v-ajnava on this?

[2019-06-04 18:21] #9498 closed

[2019-06-04 19:03] michaelbpalmer opened #9559 "Can't connect to AKS by az aks get-credentials"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2019-06-04 19:39] yairt1974 opened #9561 "FQDN Tags bug: az network firewall application-rule create"
**Resource Provider**
What is the Azure resource provider your feature is part of?

NRP

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.

**When using two or more FQDN tags as shown below, only the first one is considered.**

az network firewall application-rule create --firewall-name

[2019-06-04 19:42] jlarrow opened #9562 "az returns stack trace from Powershell but works from cmd"
## Describe the bug

az returns stack trace when executed from Powershell but works for the command prompt.

**Errors:**

[code]

This directory "C:\Users\VSSADM~1" does not exist.

vs.

[code]

## To Reproduce:

I think this is only my system but I can't determine the difference in environment between Powershell and cmd.

[code]
... and from cmd:
[code]

## Expected Behavior

az will work in Powe

[2019-06-04 19:45] yairt1974 opened #9563 "Bug: az network firewall network-rule create"
**Resource Provider**
NRP

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.

This CLI command is broken. It is supposed to create the network rule collection if it doesn't exist (as done with the corresponding command for application rule). Currently it gives this error:

vic@Azure:~$ a

[2019-06-04 19:55] zhusijia26 commented on #8452
Close this issue based on last comment and the idle time.

[2019-06-04 19:55] #8452 closed

[2019-06-04 20:05] tjprescott commented on #9562
If you run `where az` on CMD and `get-command az.bat` on Powershell, are they pointing to the same path?

[2019-06-04 20:11] tjprescott commented on #9561
This is a usage error. `--fqdn-tags` clearly calls out that it is a space-separated list of tags, not comma-separated. Nothing in the CLI is comma-separated.

[code]

[2019-06-04 20:58] #9411 closed

[2019-06-04 21:24] #6245 closed

[2019-06-04 21:32] aamalvea commented on #6442
This isn't SQL specific, but a core CLI functionality. Reassigning to Core team

[2019-06-04 21:46] sawyerh opened #9566 "'management-policy' is not in the 'az storage account' command group"
In the azure-cli (v2.0.64) for Mac, "az storage account management-policy" is not a valid command group and results in the following error:

az storage account: 'management-policy' is not in the 'az storage account' command group. See 'az storage account --help'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f84b325-

[2019-06-04 22:16] ChNorman opened #9567 "az webapp create returns Error : There was a conflict. AlwaysOn cannot be set for this site as the plan does not allow it."
**Describe the bug**
when you create an ASP on Shared SKU and then create a web app on that ASP it tries to enable AlwaysOn. Returns Error : There was a conflict. AlwaysOn cannot be set for this site as the plan does not allow it.

**To Reproduce**
1.	install AZ CLI  2.0.66
2.	az group create -l wewstus -n MyTestRG
3.	az appservice plan create --name "MyDemoASP" --resource-group MyTestRG --locatio

[2019-06-05 00:09] achandmsft commented on #9517
Hi @amaturehr, Thanks for the feedback. So we can prioritize this better, could you please let us know if you needed this formatting for readability while using this interactively or for any other scenario?

[2019-06-05 02:14] liko9 opened #9568 "azure-cli-2.0.66-1.el7.x86_64.rpm has an unknown GPG key"
**Describe the bug**
The package azure-cli-2.0.66-1.el7.x86_64.rpm is signed with a different GPG key than the one provided at https://packages.microsoft.com/keys/microsoft.asc

**To Reproduce**
Using any RPM-based Linux OS (here, Fedora 29):
sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc
sudo sh -c 'echo -e "[azure-cli]\nname=Azure CLI\nbaseurl=https://packages.microsoft.com/

[2019-06-05 06:55] adewaleo commented on #9524
I can also look into this, i.e. being able to specify the analytics work space via vm create.

I would mention that the CLI commands are a compromise between power and convenience. Ultimately arm templates offer the most power and flexibility. To make vm create more convenient / simple we do make certain assumptions and choose certain defaults, depending on the scenario. All this being said, being

[2019-06-05 06:59] adewaleo commented on #9513
I will work on adding some examples that should hopefully shed light on this

[2019-06-05 09:07] alexjmoore commented on #9436
You can reproduce this by assigning the built-in policy "Allowed virtual machine SKUs", full policy I used to reproduce it here:

`{
  "properties": {
    "displayName": "Allowed virtual machine SKUs",
    "policyType": "BuiltIn",
    "mode": "Indexed",
    "description": "This policy enables you to specify a set of virtual machine SKUs that your organization can deploy.",
    "metadata": {

[2019-06-05 10:21] tmakin commented on #3443
I've just run into this. with cli 2.0.64. Details as follows:
- wildcard cert
- multiple domains
- app service plan in a different resource group to app service

[2019-06-05 10:29] vanraz79 opened #9569 "updating nic ip-config results in error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network nic ip-config update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network nic ip-config update --nic-name {} --ids {} -

[2019-06-05 11:11] jlarrow commented on #9562
There is no at.bat ...
[code]

... as initially reported in this issue, az from either shell does show the same path "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\az.cmd".

[2019-06-05 13:00] amaturehr commented on #9517
Hi @achandmsft , I just needed this formatting for readability.  I often provide sample commands for users to verify a specific output, the table output is more friendly for ad-hoc things, rather than the json.

I also realized in the above example the "type" column is missing too, I was mostly just looking for the tag values, but "type" seems to be missing too...

Thanks for the response.

Doug

[2019-06-05 14:45] andrei-dascalu commented on #9552
@x10an14  hm, indeed. This should definitely be part of the official documentation, at the very least. Though, at the same time, it stands to reason that if the dashboard is part of the cluster provisioning then appropriate bindings and role bindings should be there.

[2019-06-05 14:55] brobichaud commented on #9524
@adewaleo I made that assumption about default because after VM creation I found a new Analytics Workspace in my subscription. It had "default" in the name. So at some level it was being created on my behalf.

[2019-06-05 15:01] jalberto commented on #9568
This is at least 3rd time it happens, this process needs to be improved as it blocks other system updates.

[2019-06-05 15:33] tjprescott commented on #9568
We had updated our release pipeline to specifically check for this and block if things were unsigned. I believe we tried a new process this time where the signing was supposed to have occurred automatically in the pipeline. Not sure if the verification steps were altered. cc/ @marstr @yugangw-msft.

[2019-06-05 15:42] tjprescott commented on #9569
What are the inputs you are actually using (redacted in the initial report)? I see a usage error in that you should not be specifying `--ids` and `--nic-name`. What are you trying to set?

[2019-06-05 16:03] tjprescott commented on #9566
@limingu please take a look. This may be an OSX packaging bug, but right now I can't brew install azure-cli at all to be able to repro this. cc/ @marstr

[2019-06-05 16:05] S3v3nL34fKl0v3r commented on #9568
Until this is fixed to the root, folks that are affected can work around it by setting gpgcheck=0

[2019-06-05 16:13] jalberto commented on #9568
@S3v3nL34fKl0v3r careful there, that can open the door to a big security hole, as we are talking a very sensible package :)

[2019-06-05 16:27] S3v3nL34fKl0v3r commented on #9568
It's true! My docker images currently aren't used in production, but I still need `az` to work... So i'm just going to hang out on this ticket until i can change it back. ;)

[2019-06-05 16:52] tjprescott commented on #6442
This is supported in the CLI core and the SQL commands have already been converted to use this paradigm. If the resource does not exist, the command will return exit code 3, which can be used for an `exists` check. I am closing this issue.

[2019-06-05 16:52] #6442 closed

[2019-06-05 16:55] marstr commented on #9568
Howdy folks,

Sorry for the inconvenience. As a team, we've been focused on automating our release pipeline. This was the first release where we had introduced an automated job to sign the RPM package. Despite our best efforts to make sure everything was working, clearly something didn't go quite right and we're still getting to the bottom of it. Once we understand the root cause, we'll update thi

[2019-06-05 17:17] tjprescott commented on #9545
@viananth you are right that this shouldn't have anything to do with virtual environments. You are installing via the Edge Build, right? Is this still giving you this error?

[2019-06-05 17:24] panchagnula commented on #9567
@chNorman thanks for reporting this. Shared SKU doesn't support Always ON & is a regression on our end. For not you can create an app with a different SKU & Scale Out to Shared. Sorry for the inconvinience.

[2019-06-05 17:24] limingu commented on #9566
azure-cli (v2.0.64)  won't have the 'management-policy' command. Please install the newest azure-cli version v2.0.65/v.2.0.66.

[2019-06-05 17:24] #9566 closed

[2019-06-05 17:46] rachel-msft commented on #6667
Thank you for reporting this issue. The defaults were updated: https://github.com/Azure/azure-docs-cli-python/blob/live/latest/docs-ref-autogen/postgres/server.yml

#please-close

[2019-06-05 17:49] #6667 closed

[2019-06-05 17:52] marstr commented on #9568
UPDATE:

I have a copy of the 2.0.66 RPM in hand, which I have confirmed is signed with the following key: `be1229cf`. Furthermore, I have submitted it to the official Microsoft repository at https://packages.microsoft.com. Once their ingestion process is complete, the signed bits will be what is available to your package manager.

RCA:
This looks to have been a pretty simple problem: In our relea

[2019-06-05 17:54] tjprescott commented on #9566
@limingu I didn't see any release notes in storage for these commands. We should definitely update the history accordingly.

[2019-06-05 18:00] panchagnula commented on #8889
CC: @ankitkumarr

[2019-06-05 18:11] viananth commented on #9545
Thank you Travis! With the latest edge build, the issue is gone. Was it because the az version of previous edge build was 2.0.65? The current version of edge build is 2.0.66.

[2019-06-05 18:17] tjprescott commented on #9545
Yes. @marstr has more context on the issue.

[2019-06-05 18:34] northtyphoon commented on #9520
@ElianaLiberman  can you take a look?

[2019-06-05 18:37] northtyphoon commented on #9449
In a multi-stage Dockerfile, users can build the binaries based on one or more “buildtime” image and then package the binaries to a “runtime” image. The final output image is based on the “runtime” image.

ACR Tasks currently supports tracking runtime base image. We plan to support buildtime in the future. “All” is reserved for this purpose.

[2019-06-05 18:37] northtyphoon commented on #9398
@ElianaLiberman can you take a look?

[2019-06-05 19:04] marstr commented on #9545
Yep, it seems like a bit of a race condition was exposed. When we release new PyPI packages, pip factors the newer version of the package over local copies. This broke a few bits of our CI/CD infrastructure. This problem should be eased when we merge all of the command modules into azure-cli package (https://github.com/Azure/azure-cli/issues/8592).

[2019-06-05 19:09] viananth commented on #9545
Thank you @marstr @tjprescott

[2019-06-05 19:09] #9545 closed

[2019-06-05 19:15] marstr commented on #9568
UPDATE 2:

Replacing the existing RPM with a signed one is causing `dnf` and `yum` to complain about mismatching checksums. Even running the suggested metadata cleans will not solve the problem. An attempt to fix this by renaming the RPM to `azure-cli-2.0.66-2.el7.x86_64.rpm` and resubmitting did not solve the problem

To fix this, I'm building a new RPM with the release tag `3.el7` from the azure

[2019-06-05 19:24] marstr commented on #9568
Just to reiterate the work around, I've confirmed that the following commands are working:

Enterprise Linux 7:
[code]

Fedora:
[code]

[2019-06-05 19:40] eashweragero101 opened #9572 "az aks get-credentials --resource-group aimcorecluster --name aimcoreresourcegrp"
error

 command failed with an unexpected error. Here is the traceback:

argument of type 'NoneType' is not iterable
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/adal_authentication.py", line 26, in signed_session
    scheme, token, _ = self._token_retriever()
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/_profile.py", line 535, in _ret

[2019-06-05 19:48] ahmedelnably commented on #6519
/cc @ankitkumarr

Thanks @panchagnula this is definitely good to have

[2019-06-05 20:36] zhusijia26 commented on #6334
Close the issue based on last comment and the idle time.

[2019-06-05 20:36] #6334 closed

[2019-06-05 20:38] ahmedelnably commented on #9530
@vfragola can you please provide the function app name so we can investigate more
Also if you can provide the --debug output (note that it may contain sensitive data, please remove these before sharing it with us)

[2019-06-05 20:39] ahmedelnably commented on #9369
@nebrius can you please share the function app name so we can investigate more

[2019-06-05 20:40] nickwalkmsft opened #9573 "`az webapp up` redeploy fails for S1 tier"
**Describe the bug**
Using `az webapp up` to create a new app with `--sku S1` then subsequently using `az webapp up` with no parameters to redeploy fails to detect the existing App Service plan and fails with `Cannot update the site 'MyUniqueAppName' because it uses AlwaysOn feature which is not allowed in the target compute mode`.

**To Reproduce**
[code]

**Expected behavior**
Second invocation

[2019-06-05 20:43] ahmedelnably commented on #9018
The example need to be updated, so the correct behavior is documented

[2019-06-05 20:51] marstr commented on #9568
UPDATE 3:

`azure-cli-2.0.66-3.el7.x86_64.rpm` was succesffuly built and extracted from a container on my Fedora 29 machine. The build was taken from commit d536d7d69c41815d4fe8449d79de55d039167014. It has been submitted to be signed.

[2019-06-05 21:03] ahmedelnably commented on #8169
Closing this, please reopen if the issue is still happening

[2019-06-05 21:03] #8169 closed

[2019-06-05 21:12] ahmedelnably commented on #6785
Closing this issue, if there is any update, please reopen the issue

[2019-06-05 21:12] #6785 closed

[2019-06-05 21:13] marstr commented on #9568
UPDATE 4:

Incident resolved. I'm now able to successfully run `sudo dnf upgrade azure-cli` from my machine which previously had 2.0.65 installed, and in container environments running Centos 7 and Fedora 30, I'm able to run `dnf install azure-cli`, and have it pulled down and install the correct signed RPM.

[2019-06-05 21:14] S3v3nL34fKl0v3r commented on #9568
@marstr THANKS!!!!

[2019-06-05 21:15] paolosalvatori commented on #8912
I started to experience exactly the same issue from local Azure CLI in a WSL\bash session on my machine.  I'm a global administrator of the Azure AD tenant, still I get the following error when running:

az ad app permission admin-consent --id $aksServerApplicationAppId --debug --verbose

it was working fine before, so I think you introduced a regression bug in a recent version of Azure CLI.

Here

[2019-06-05 21:27] ahmedelnably commented on #8053
Closing this issue, if this is still happening please open a support ticket for investigation

[2019-06-05 21:27] #8053 closed

[2019-06-05 21:31] ahmedelnably commented on #7053
@suwatch is this still an issue? the error is coming from the backend

[2019-06-05 21:34] suwatch commented on #7053
The error came from Azure DevOps service and we relay it as is.

[2019-06-05 21:52] #9568 closed

[2019-06-05 21:53] zezha-msft commented on #5872
This issue will be solved in the new AzCopy V10. The related issue is [here](https://github.com/Azure/azure-storage-azcopy/issues/391).

[2019-06-05 22:01] iyerusad commented on #5872
@zezha-msft - Please note AzCopy is NOT available under Azure Automation: Even if I manually downloaded AzCopy within the Azure Automation, Azure Automation didn't/doesn't allow running of arbitrary binaries.

It would be preferable that `az storage blob download ` handles sparse file downloading efficiently (similarly to AZcopy).

[2019-06-05 22:19] zikalino opened #9574 "More examples for **az cli resource**"
**Is your feature request related to a problem? Please describe.**
When using **az cli resource** it's pretty difficult to format the command properly, especially in case of resources that need a lot of properties.
It requires either using Azure REST API docs or digging in the documentation.

**Describe the solution you'd like**
My suggestion is to provide more sample in a separate repo.
I have cr

[2019-06-05 22:27] shurd commented on #2660
This has been addressed. The API call to our resource provider that the CLI makes returns connection strings based on the account API.

[2019-06-05 22:37] zezha-msft commented on #5872
Hi @iyerusad, thanks for the clarification! I see that it's still necessary to provide this functionality in the Python SDK.

[2019-06-05 22:39] shurd commented on #2661
Our resource provider does not return account keys when retrieving the database account as users with read only permissions can make this request. For consistency across our management tools, we are leaving account keys out of the response for now. You can either use `list-connection-strings` to view the account connection strings or `list-keys` to construct the connection strings.

[2019-06-05 22:47] shurd commented on #3356
Thank you for reporting this lack of documentation. As @grayjeremy mentions, you can select the account "kind" by adding a capability. This functionality is now documented through examples at: https://docs.microsoft.com/en-us/azure/cosmos-db/cli-samples

[2019-06-05 22:56] shurd commented on #4317
The CLI now uses version 0.5.2 of the SDK management, which contains this fix.

[2019-06-05 23:00] #7053 closed

[2019-06-05 23:04] shurd commented on #4505
Thank you all for the feedback. Account creation in the portal validates that the account name is less than 32 characters. We are now tracking a fix (Bug 445256) that will do this validation as well through our API, which the CLI uses. Our ETA for adding this validation is August.

[2019-06-05 23:12] shurd commented on #6770
@fercho-ayala thank you for identifying this problem. I have reverted the change that introduced the problem as a part of #7929. It should be working as of CLI version 2.0.53

[2019-06-05 23:23] shurd commented on #6894
Hi @letmaik if you are still experiencing this problem, could you open a support ticket via the Azure portal with details about your account, subscription and RBAC rule assigned to the user? The provider giving you the error is the Resource team, so there is likely a mismatch between the active subscription in the CLI and where your resource is located.

[2019-06-05 23:24] tjprescott commented on #6770
Closing since this has been fixed. Please open if that is not the case.

[2019-06-05 23:24] #6770 closed

[2019-06-05 23:27] #4317 closed

[2019-06-05 23:28] #2660 closed

[2019-06-05 23:29] #2661 closed

[2019-06-05 23:29] #3356 closed

[2019-06-05 23:36] shurd commented on #7079
@edykim @PeterRockstars If you are still experiencing this response, could you provide a subscriptionId, account name and date/time you saw the error so we can investigate?

[2019-06-05 23:38] shurd commented on #7396
Hi @jackchenquest thank you for identifying this issue. I have reverted the change that introduced the problem as a part of #7929. It should be working as of CLI version 2.0.53

[2019-06-05 23:41] shurd commented on #7495
Hi @chetanmeh it looks like you found the right IP addresses. For future reference, the IP addresses to allow requests from the Azure portal are documented here: https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-configure-firewall#allow-requests-from-the-azure-portal

[2019-06-05 23:46] shurd commented on #8273
This is a data plane question @moderakh @christopheranderson

[2019-06-06 00:28] dbaio opened #9576 "az storage blob sync: path NoneType"
The path is valid, it seems the arguments are not read...

**Command Name**
`az storage blob sync`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob sync -c {} --account-name {} -s {} -d {}`

## Expected Behavior

## Environment S

[2019-06-06 00:30] #9272 closed

[2019-06-06 01:06] paolosalvatori commented on #7955
Any update? I need to set the following properties in the manifest of a registered app:

"allowPublicClient": true,
"oauth2AllowIdTokenImplicitFlow": true,
"signInAudience": "AzureADMultipleOrgs",

[2019-06-06 03:17] devaradhanm opened #9577 "az batch commands fails asking for account credentials even when logged in"
**Describe the bug**
This seems to be a regression. I suspect this is caused by this commit https://github.com/Azure/azure-cli/commit/c234eace46488506c5db82f58c2af09d6606fe2c

**To Reproduce**
az batch login --name <name> --resource-group <group name>
az batch pool list

**Expected behavior**
Should return pools details for the logged in batch account.

**Actual behavior**
usage: az batch pool lis

[2019-06-06 05:51] chetanmeh commented on #7495
Thanks @shurd for the details We can close this issue then

[2019-06-06 05:51] #7495 closed

[2019-06-06 09:02] elibarzilay opened #9579 "Bad documentation bug in az acr repository delete"
When I run `az acr repository delete -h`, the help text has this at the
top:

    az acr repository delete : Delete a repository or image in an Azure
    Container Registry.
        This command deletes all associated layer data that are not
        referenced by any other manifest in the container registry.

This made me think that removing a specific tag with the delete command
will not affect a

[2019-06-06 09:18] ahamad-MS commented on #4194
@tjprescott  @jfggdl  This is an old issue and many of the requests are already taken care or not applicable any more and remaining ones are being addressed currently. Here is an update for these issues. I am planning to close this one and open a task on the last issue remaining (table format) if still applicable. thanks

1. Add support for update commands (with generic update support) (https://gi

[2019-06-06 09:30] dibraser commented on #7438
Hello everyone

Maybe I can give some additional information about this. IMHO this problem only occurs if a repository has >10 tags for the same digest. This behaviour can only be reproduces if the same digest has this many tags, maybe thats why it aint detected earlier in this thread.

**Explanation**
Azure az currently offers three interresting commands for our case:

1. az acr show-tags which c

[2019-06-06 12:45] alexeldeib commented on #8917
Apologies for missing the follow up here. As far as I can tell, `az image show` works fine for me. I don't have a new subscription to validate the behavior is valid in terms of feature registration. I haven't validated `az image create`, but I think this is safe to close. If I do find anything else I'll reopen with more details.

[2019-06-06 12:45] #8917 closed

[2019-06-06 13:52] oldoni opened #9580 "Failed to establish a new connection: [Errno 61] Connection refused'))"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2019-06-06 13:52] #9580 closed

[2019-06-06 14:18] ctaggart commented on #7978
It would really be helpful if we could download it from https://pypi.org/project/azure-cli-testsdk/ . Some examples for using it would also be very welcome.

[2019-06-06 14:40] wvxvw opened #9581 "Username / password authentication no longer works"
`az login -u user -p password` is no longer a feasible way to authenticate to Azure: it requires extra steps from user (opening some garbage webpage, which requires JavaScript and other nonsense).

I mean, Azure login was always a piece of shit.  But, this finally did it in.

On the other hand, there's no reason for you to support this API anymore.  So, you can remove it.  Will make it a little le

[2019-06-06 15:01] MikaJustas commented on #9396
Any update on the topic? Which is the previous version that does not contain this bug?

[2019-06-06 15:11] CPeacockSoltec commented on #9396
I think there was an update in feb 2019. That worked fine. Still waiting for feedback from @limingu

[2019-06-06 16:14] tjprescott commented on #9574
We have talked about something similar for a long time--i.e. making example payloads available via a repo. We've discussed doing this with ARM templates for these resources rather than resource creates since the `az group deployment create` command already works with parameters (including prompting for missing ones) and you would get a lot of functionality out-of-the-box. For example, you can, wit

[2019-06-06 16:29] limingu commented on #9396
@CPeacockSoltec for the log:
azure.multiapi.storage.v2018_03_28.common.storageclient : Client-Request-ID=ID Receiving Response: Server-Timestamp=Tue, 04 Jun 2019 08:30:10 GMT, Server-Request-ID=ID, HTTP Status Code=403, Message=This request is not authorized to perform this operation., Headers={'content-length': '246', 'content-type': 'application/xml', 'server': 'Microsoft-HTTPAPI/2.0', 'x-ms-req

[2019-06-06 16:34] jesulink2514 opened #9582 "´aks browse´ disconnects constantly"
## Describe the bug
Using Azure cli, I connect to AKS cluster and use the dashboard without problems, but after a couple of minutes the connection just drops out. This happens time after time. You can see error details below.

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behaviour. Note that argument values have been redacted, as they may contain se

[2019-06-06 16:37] iatodoro opened #9583 "Multiple public IP support for Azure Firewall"
**Resource Provider**
What is the Azure resource provider your feature is part of?
- Network (NRP)

**Description of Feature or Work Requested**
Azure Firewall now supports multiple public IPs
We need CLI support for the following:

- Create firewall with one or more public IPs
- Attach additional public IPs to an existing firewall
- Detach public IPs from firewall
- Letting users see all the publ

[2019-06-06 16:42] shurd commented on #1968
This was addressed by adding the `list-connection-strings` command. As explained in #2661 we are not going to provide the keys in the `show` command to remain consistent.

[2019-06-06 16:57] shurd commented on #7396
@tjprescott Can we close this issue? It was a duplicate of #6770

[2019-06-06 16:58] tjprescott commented on #9581
The login flow you described does work. You may have policies in place requiring 2FA, in which case you can't always use it. These parameters are also used to log in as a service principal, so we would not remove them.

Additionally, supplying `--password` from the command line directly is not encouraged for security reasons because the operating system may keep a log of all commands executed.

[2019-06-06 16:58] #9581 closed

[2019-06-06 16:59] #7396 closed

[2019-06-06 17:31] tejasshah7 opened #9584 "Availability Zones support for Azure Firewall"
**Resource Provider**
What is the Azure resource provider your feature is part of?
- Network (NRP)

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
Support for Availability Zones for Azure Firewall.
https://docs.microsoft.com/en-us/azure/availability-zones/az-overview

We need CLI supp

[2019-06-06 17:47] zhusijia26 commented on #1837
Close the issue due to the idle time. Please reopen if there is still questions.

[2019-06-06 17:47] #1837 closed

[2019-06-06 17:49] zhusijia26 commented on #2649
Close due to the idle time. Please reopen if there is still questions.

[2019-06-06 18:11] jfggdl commented on #8818
@dipesharora, Thanks for suggesting this new feature. Again, we acknowledge this feature and will consider adding that capability in a future release.
I am closing this issue as we have a record of your request. That said, please free to reopen it if you have additional questions.

Thanks.

[2019-06-06 18:11] #8818 closed

[2019-06-06 18:14] zhusijia26 commented on #7108
Close the issue due to the idle time. Please reopen if there is still questions.

[2019-06-06 18:14] #7108 closed

[2019-06-06 18:15] vfragola commented on #9530
GET https://management.azure.com/resources?api-version=2018-09-01&$filter=(SubscriptionId%20eq%20'cb0f5d39-b859-40c4-a52e-5a22e7189743'%20and%20name%20eq%20'MasterPersistDev'%20and%20resourceType%20eq%20'Microsoft.Web/sites') HTTP/1.1
User-Agent: functions-core-tools/2.7.1158
Accept: application/json
x-ms-request-id: d8066234-32da-44a4-a275-e378a664f154
Host: management.azure.com

HTTP/1.1 504 Fid

[2019-06-06 18:31] jfggdl commented on #4194
@tjprescott, would you please help us with questions 6 above?

[2019-06-06 18:45] jfggdl commented on #9194
@tbock, would you please confirm if you have tried or able to try what @dlstucki suggested as a way to "kill" a dynamic listener at the root of the namespace?

[2019-06-06 19:02] davis-x opened #9585 "az aks create fails to obtain SP credentials"
**Describe the bug**
Failed to create aks cluster using command line `az aks create -n my-cluster -g test`

Instead the cli fails to pull the service principal credentials

[code]

**To Reproduce**
Run `az aks create -n my-cluster -g test`

**Expected behavior**
A cluster is created

**Environment summary**
[code]

**Additional context**
https://docs.microsoft.com/en-us/azure/aks/kubernetes-servic

[2019-06-06 19:17] davis-x commented on #9585
I've run this command three times, and the first 2 it failed with the above error and the third time it looks like it's working. So .....

[2019-06-06 20:09] anttipo commented on #9585
I am witnessing this exact same behaviour. First two attempts failed but simply retrying the same command worked on 3rd attempt. Using Azure Cloud Shell with Bash.

[2019-06-06 20:29] maliksahil opened #9587 "az ad sp credential reset --name <> --years is broken"
**Describe the bug**

The -- years calculation in the following command is broken
az ad sp credential reset --name <> --years is broken

**To Reproduce**

1. Create a SP `az ad sp create-for-rbac --skip-assignment`
2. Try to reset it's expiration date - `az ad sp credential reset --name "fd1889c0-b742-443c-bc8f-829231965044" --years 2`

You get the following error `Non-integer years and months are

[2019-06-06 21:21] tjprescott commented on #9587
Please update your CLI instance. You have azure-cli-role 2.4.3. It was fixed in 2.5.0.

[2019-06-06 21:21] #9587 closed

[2019-06-06 21:32] aamalvea commented on #7340
Here is the documentation for the REST API that contains samples: https://docs.microsoft.com/en-us/rest/api/sql/databases%20-%20import%20export/export#examples.

[2019-06-06 21:37] yugangw-msft commented on #7523
Per discussion, we will live with this limitation, as there is workaround available

[2019-06-06 21:49] #7340 closed

[2019-06-06 21:50] #9555 closed

[2019-06-06 21:53] shurd commented on #6168
Hi @samboustani thank you for bringing up this lack of examples for data plane operations. We are working on making the `database` command API-specific, so we are not planning on adding examples right now. If you have specific errors you need help resolving, provide the specific command and error message so I can look into it.

[2019-06-06 22:00] shurd commented on #6171
Hi @prashanthmadi, we are not planning on adding the ability to access data via the CLI at this time. We have other SDKs that deal specifically with data stored in accounts. You can see the options for each API type here: https://docs.microsoft.com/en-us/azure/cosmos-db/

[2019-06-06 22:34] Arnavion commented on #7523
Then please document it on https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-zypper?view=azure-cli-latest Something like

Incidentally, the "Important" note at the top of the page also implies that `azure-cli` works with `python3` if that is available:

But this is clearly not the case, as not supporting Python 3 is why this issue exists in the first place. So it would be good to fix th

[2019-06-06 22:39] #6171 closed

[2019-06-06 22:48] Arnavion commented on #7523
Actually, with `azure-cli-2.0.66-3.el7.x86_64` that is the latest as of just now:

[code]

The `python2-virtualenv` dep added in https://github.com/Azure/azure-cli/commit/45579caa99b7f1d81bfc1f05adacab8f5ae59f69#diff-28fbe56abba57837471970f7a05e3edf is pulling `python-base` and `python-xml` in transitively. So this works but it is brittle. It would still be good to add the `python-base` and `pytho

[2019-06-06 22:49] shurd commented on #6206
Hi all, right now it is not possible to add unique keys when creating a collection via the CLI. We do not plan on adding this functionality to the CLI at this time. You can use one of our [other SDKs](https://docs.microsoft.com/en-us/azure/cosmos-db/) to create the unique keys right now.

We recently added support to perform this operation through our resource provider. You can make direct request

[2019-06-06 23:00] zhusijia26 commented on #7734
Close this issue due to idle time. Please reopen if there is still question.

[2019-06-06 23:00] #7734 closed

[2019-06-06 23:13] shurd commented on #6887
Hi @letmaik thank you for identifying this lack in documentation. At this point, we have deprecated the fixed storage option, so only "unlimited" collections can be created.

[2019-06-06 23:25] shurd commented on #3871
@tjprescott is there any other action we need to do to resolve this issue? It would be confusing if we changed the property name from "id", and scripts that rely on that property name would begin to fail. This is more of a display problem, and other display types correctly show the database id.

[2019-06-06 23:28] #6223 closed

[2019-06-07 00:14] ankitkumarr opened #9591 "Re-recording an old test or creating a new test fails on next run"
This is a development issue while creating and running tests.

__To Reproduce -__

1. Delete a test recording (that uses attribute `@ResourceGroupPreparer`) from a module (example- `src\command_modules\azure-cli-appservice\azure\cli\command_modules\appservice\tests\latest\test_webapp_commands.py`).
2. Run the test, recording will be created and the test will pass.
3. Re-run the test without deleti

[2019-06-07 00:42] northtyphoon commented on #9579
@ElianaLiberman can you take a look?

[2019-06-07 03:46] bmc-msft opened #9592 "Specifying VM ID in "az vm extension set" generates an exception"
## Describe the bug

When specifying a VM via the ID rather than the resource group & vm name, az cli generates an exception.

**Command Name**
`az vm extension set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm extension set --ids {} -

[2019-06-07 06:38] jaredmoo commented on #5490
Let's not close this. We should do it.

[2019-06-07 06:39] jaredmoo commented on #6204
Let's not close this. We should do it.

[2019-06-07 06:49] adi658 commented on #9423
Awesome... that helped.. So we use download secret instead of download certificate. Wierd :(

[2019-06-07 06:58] razvangoga commented on #1528
**az postgres server firewall-rule create** and **az postgres server firewall-rule delete**  could use the same flag. I'm provisioning a PgSQL db with firewall rules from azure devops and from the ~8 mins pipeline run time ~4 are just to set 5 firewall rules

[2019-06-07 09:45] PeterRockstars commented on #7079
@shurd It's been a while since I attempted this, if it happens again (which probably won't be anytime soon), I'll post the details here.

[2019-06-07 11:30] dilyankostov commented on #6876
This is a short powershell script that checks if an IP is free and if not, displays a free one. I think it gets a free IP from the same subnet, but it could be just a close one to the one given, not sure.
$IP="X.X.X.X"
$vnetName = "XXXXXXX"
$rgname="XXXXXXX"

$freeIPs=$(Get-AzureRmVirtualNetwork -Name $vnetName -ResourceGroupName $rgname | Test-AzureRmPrivateIPAddressAvailability -IPAddress $IP).A

[2019-06-07 12:30] bmc-msft commented on #9592
Verified this still fails on 2.0.66.

[2019-06-07 12:31] bmc-msft commented on #9592
To recreate:

[code]

[2019-06-07 13:20] wvxvw commented on #9581
No. No two-factor authentication was ever configured for my account. But,
like I said, Azure login is a piece of shit. It fails randomly, often with
incorrect error messages, suggesting wrong treatments etc. Azure support is
incompetent and has no idea of how to manage their own system. But, that's
really not your fault. The functionality you describe as eorking, however,
does not work (things tha

[2019-06-07 14:10] kkoyot opened #9596 "No parameters when invoking shell script from file with #! at the beginning"
When launching shell script via
`az vm run-command invoke --command-id RunShellScript --script '@foo.sh' --parameters="Param1"`
I get two different results when I insert #!/bin/bash at the beginning of foo.sh.

foo.sh:
[code]
Result:
[code]
Second version:
foo.sh:
[code]
Result:
[code]
In short: all arguments passed via --parameter option in azure-cli disappear. Please advise

No target date

[2019-06-07 14:35] slawchod opened #9597 "equivalent of Get-AzureRmMarketplaceTerms to check license state"
Hi,

We do CI/CD deployment where we create dedicated subscription (if not exist already) and we accept MartketPlace License terms of images which we are going to use.

In a case of solution update for existing subscription license are accepted again which take some time while it's not needed. For instance we accept FortiGate NVA using this command:
`for urn in $(az vm image list --all --publisher

[2019-06-07 15:28] maguirpd opened #9598 "az acre login --name <docker-reg-name> fails"
**Describe the bug**
when I run the following command via an SSH session:
[code]
get the following error:
[code]
However, when I physically log into my Mac-mini to run the command it works!

**To Reproduce**
1. setup azure-cli and docker on a Mac-mini
2. try ssh'ing into Mac-mini and run the above command..

**Expected Behaviour**
I expect instead of an error message to see a message "Login succee

[2019-06-07 15:41] ManuelGalindo commented on #8388
I have the same issue with an App Service, when I try to create a Service Plan and then assign to a shared SKU App Service I got this message

`az` appservice plan create --name "MyAwesomePlan" --resource-group "Super" --location "canadacentral" --sku SHARED
`az` webapp create -g "Super" -p "MyAwesomePlan" -n "MySuperWebApp" --verbose

Is possible to still doing so or cancel the property of Always

[2019-06-07 15:48] raviteja22 opened #9599 "Misbehaving pattern option in azure storage blob download-batch command when there is a local directory with the same name as that of the blob being used in command"
**Describe the bug**
I have a blob in the container. I have a local directory which has the same name. When I run download-batch command with pattern option as "blob_name/*", it is expanding the command options with the files in the local directory and failing.

**To Reproduce**
Create a directory locally test_pattern with multiple files file1 and file2 in it.
Upload a blob with the same name test

[2019-06-07 15:58] elibarzilay opened #9600 "az cli fails on windows using git's bash"
I have the az cli installed on windows (versions below).  Running the following in powershell, or using linux throws an error (as it should):

    az.cmd account list --query ""

but when I do that in the bash that comes with git, I get:

    $ az.cmd account list --query ""
    'C:\Program' is not recognized as an internal or external command,
    operable program or batch file.

A hint that some

[2019-06-07 15:58] tjprescott commented on #6219
@aamalvea what is the basis for closing this?

[2019-06-07 15:59] tjprescott commented on #6223
@aamalvea what is the basis for closing this?

[2019-06-07 16:00] aamalvea commented on #6219
This one should be re-opened, closed in error

[2019-06-07 16:02] elibarzilay commented on #9600
After trying out more things with the actual command that was failing, I discovered something more helpful -- the following fails:

    az acr repository show-tags ... --detail --query "[*].[name, digest]"

but dropping the space from the jmes query works:

    az acr repository show-tags ... --detail --query "[*].[name,digest]"

[2019-06-07 16:12] tjprescott commented on #9600
Hi @elibarzilay I am not able to repro this:

[code]

If you run the command with `--debug`, can you output the first line of the output? It should look like:
`DEBUG: Command arguments: ['group', 'list', '-otable', '--query', '[*].[name, location]', '--debug']`

[2019-06-07 16:21] #6206 closed

[2019-06-07 16:21] #6887 closed

[2019-06-07 16:24] tjprescott commented on #3871
@shurd you should be able to provide a custom table format to display the ID. Worst case you alias the column name. Scripts should not be utilizing table format anyways, so it would not break any scripts.

[2019-06-07 16:34] tjprescott commented on #7079
Since 500 errors tend to be transient server issues, I will close this. @PeterRockstars if you do encounter this again, please reopen this issue or post a new one.

[2019-06-07 16:34] #7079 closed

[2019-06-07 16:36] tjprescott commented on #9597
This seems like a feature request, but @adewaleo might know how to do this in the CLI as is.

[2019-06-07 16:59] bitsofinfo commented on #9585
experiencing a similar issue which previously worked before, now we can't create a cluster bound to another tenant-id anymore. This previously worked.

See: https://github.com/MicrosoftDocs/azure-docs/issues/32883

[2019-06-07 17:15] elibarzilay commented on #9600
It fails only in Git bash.

But adding `--debug` didn't make any difference, which made me look more and I realized that it's a bug in Git bash.  I'll report it there.

Sorry for the noise.

[2019-06-07 17:15] #9600 closed

[2019-06-07 17:41] akshaysngupta opened #9604 "[network]: missing reference of trusted root certificate in Backend http settings in Application Gateway"
**Describe the bug**
For Application Gateway resource, CLI allows to create `root-cert` sub resource using
`az network application-gateway root-cert create`
Additionally, this resource needs to be referenced in the `backendHttpSettings` sub-resource (same as `auth-certs` (Authentication Certificates)) which can't be done with options provided.
[code]

**To Reproduce**
N/A

**Expected behavior**
Ad

[2019-06-07 17:45] tjprescott commented on #9600
No worries. For what it's worth, I attempted my repro in git bash. It looks like the shell might be splitting on a space or something.

[2019-06-07 17:55] akshaysngupta commented on #9604
This is arising from a customer issue. Let's keep this on priority.

[2019-06-07 18:07] aullom1 opened #9605 "Add ability to supply runbook receiver parameters through az monitor action-group"
Currently, we can add an automation runbook receiver to an existing action group with something like this.

[code]

However, there is no way to set the parameters to the runbook except through the UI.

I would like to be able to add parameters to the runbook by appending something like this to the above cli call.

[code]

I have considered creating a webhook that is pre-configured with the desired

[2019-06-07 18:17] jluk commented on #6862
@pinboro this looks like it was a service issue at the time and not CLI specific - that hopefully is not reproducing anymore. If it is please feel free to reopen. @yugangw-msft can you please close this out?

[2019-06-07 18:19] jluk commented on #7389
This has been fixed, you can only pass in an RG name that exists which means only valid names can be handled. @yugangw-msft could you #please-close?

[2019-06-07 18:19] jluk commented on #7389
#close

[2019-06-07 18:28] jluk commented on #8220
The browse behavior is behaving correctly, it has to have an open port to listen on. It looks like you are using cloud shell as well, so double check you don't have other processes using port 8001 - when the port is free as expected it should function appropriately.

@yugangw-msft can you help close this?

[2019-06-07 18:37] elibarzilay commented on #9600
Yeah, see [the issue](https://github.com/git-for-windows/git/issues/2219) I submitted there.

[2019-06-07 19:00] adewaleo commented on #9524
Hello @brobichaud,

Are you able to reproduce this behavior after deleting the log analytics workspace?

I have a very stong feeling this default log analytics workspace is being created by an aks command.

See [`aks create`](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-create) --workspace-resource-id:

[code]

aks create create a default log analytics workspace when

[2019-06-07 19:18] awesomenix commented on #7389
/close

[2019-06-07 19:19] #7389 closed

[2019-06-07 19:21] brobichaud commented on #9524
I've not tried to repro the issue, but your comments make sense. Since I can;t specify a workspace-resource-id when creating a VM I assume it is maybe is creating one for me.

[2019-06-07 20:03] limingu commented on #9576
PR: https://github.com/Azure/azure-cli/pull/9589 should fix this issue.

[2019-06-07 20:10] panchagnula opened #9607 "webapp: Update UnDelete commands to use the new Geo-region API"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-06-07 20:41] limingu commented on #9542
@colemickens can you confirm that you pass the correct account key in the command? In the issue, 'AccountKey=pizza==' is that you replace the real key with 'pizza=='.

[2019-06-07 20:52] colemickens commented on #9542
Yes, I'm using the right key, the command works fine without that flag.

On Fri, Jun 7, 2019, 1:41 PM Limin Gu <notifications@github.com> wrote:

[2019-06-07 20:57] limingu commented on #9542
That flag is referred to 'AccountKey'? If it works fine, why do you add that flag?

[2019-06-07 21:02] dorfire commented on #5969
Looks like the warning appears twice:
`
$ az acr pack build https://github.com/johnpapa/node-hello.git -t node-hello:{{.Run.ID}}
This command group is in preview. It may be changed/removed in a future release.
Command group 'acr pack' is in preview. It may be changed/removed in a future release.
[...]
`

[2019-06-07 21:06] colemickens commented on #9542
What? I am setting the account key correctly. The error message has nothing to do with the account key being wrong.

The az storage commands execute fine. The container create commands works fine, unless I add the `--public-access` flag, as I wrote in the Issue, and which the error message is referencing.

[2019-06-07 21:27] #9591 closed

[2019-06-07 22:17] tjprescott commented on #5969
Reopening to investigate the double warning.

[2019-06-07 22:42] limingu commented on #9599
@raviteja22 , as the debug message: ['storage', 'blob', 'download-batch', '-d', '.', '--pattern', ' test_pattern/file1', ' test_pattern/file2', '-s', 'mlebarstoragecontainer', '--debug']

Your command is not right. You can only set one parameter for --pattern.
For example, these commands will work.
az storage blob download-batch -d . --pattern test_pattern/file1 -s mlebarstoragecontainer
az storag

[2019-06-07 22:53] limingu commented on #9542
I can't reproduce the issue.

@colemickens can you please rerun the command with --debug and send the logs to limgu@microsoft.com? So I can look into. Thanks.

[2019-06-08 01:07] patricklee2 commented on #9283
ill take a look

[2019-06-08 01:33] #6581 closed

[2019-06-08 04:02] #7618 closed

[2019-06-08 04:12] yugangw-msft commented on #7618
I have merged it to release on June 18. //CC @achandmsft
@nickwalkmsft,  the command for your scenario would be:
[code]

[2019-06-08 04:39] #8220 closed

[2019-06-08 04:58] adewaleo commented on #9524
As far as I know, vm create does not create a log analytics workspace by default. Please make sure you or someone else using your subscription is not creating this workspace via aks create. I will be closing this issue.

Please feel free to reach out with any other questions

[2019-06-08 04:58] #9524 closed

[2019-06-08 05:28] bookersysops commented on #7707
Im having the same issue

[2019-06-08 06:17] raviteja22 commented on #9599
As you can see in my "To reproduce" details, I have used the valid command only.
`az storage blob download-batch -d . --pattern test_pattern/* -s mlebarstoragecontainer`

The third command that you mentioned was the exact command I used.

The following was the debug log which shows that the command is expanding the local directory and adding extra parameters with file1 and file2.

Basically, this

[2019-06-08 17:04] brobichaud commented on #9524
OK, but I do know for sure that nobody else is cresting the workspace.

[2019-06-08 19:04] ahmedelnably commented on #4041
Reopening as we will be picking this work once the app is deployed to the platform

[2019-06-08 19:04] ahmedelnably commented on #4041
Reopening as we will be picking this work once the app is deployed to the platform

[2019-06-08 20:24] sawyerh commented on #9566
Thanks. At the time when I created this issue, `v2.0.64` was the latest version available for Mac using `brew`. I've since been able to update and now see the `management-policy` command.

[2019-06-09 05:18] yugangw-msft commented on #7925
Yes

I don't think so. Still the the same approach that you configure a sample one through portal and check out the manifests.

[2019-06-09 10:37] guanwenlng commented on #6876
az network lb create \
    --resource-group $RgName \
    --name $LoadBalancerName \
    --frontend-ip-name $FrontEndName \
    --private-ip-address $privateIPAddress \
    --backend-pool-name $BackEndPool \
    --vnet-name $vnetName \
    --subnet $SubNet

[2019-06-09 10:39] guanwenlng commented on #6876
$ IP =“XXXX”
$ vnetName =“XXXXXXX”
$ rgname =“XXXXXXX”

$ freeIPs = $（Get-AzureRmVirtualNetwork -Name $ vnetName -ResourceGroupName $ rgname | Test-AzureRmPrivateIPAddressAvailability -IPAddress $ IP）.AvailableIPAddresses
if（$ freeIPs）{
Write-Output“IP $ IP不是免費的”
寫輸出“這裡是一些免費的IP`n $ freeIPs“
$ freeIP = $ freeIPs | Select-Object -First 1
Write-Output“變量freeIP設置為$ freeIP，這是一個免費IP”
}否則{
$ freeIP = $ I

[2019-06-09 23:08] KeiroKamioka0000 commented on #9495
@adewaleo
Hello, any information would be appreciated regarding about this question.

[2019-06-10 01:48] yugangw-msft commented on #7955
Can you try `az ad app update --id $aksClientApplicationAppId --set publicClient=true --remove identifierUris`? Public client is not supposed to have `identifierUris` which is what this error tries to communicate.

[2019-06-10 05:41] nofunatall opened #9613 "Piping blob lists or reading from source file for az storage blob operations"
Is it possible to pipe through a list of blob files or read a list source file for blob operations?

Example:
I have a large amount of blobs to cleanup that are stored using UUID naming - the list of files that needs deleting is generated from our SQL.
I have a script that can delete those files line by line using xargs but it's extremely slow given that the list can be in the 100,000s or even 1,0

[2019-06-10 07:53] daqing613 commented on #9400
@idear1203 So sorry for replying late. I need to create the application automatically.  Do you have other workaroud except Azure portal ?   restful api or cli?

[2019-06-10 12:45] omerlh opened #9615 "upload-batch command not working on MacOS"
I tried the following example:
[code]
It failed with the following error:
[code]
I fixed it by escaping the relevant part:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472d5f5f-3ce0-1220-3058-4b27068f512b
* Version Independent ID: 76e1699e-e6ba-c0dd-aad4-c5a7ab58260d
* Content: [az storage blob](https://docs.m

[2019-06-10 16:17] #6862 closed

[2019-06-10 17:01] jluk commented on #7074
Quota error messages should be updated since this was opened, but if seeing the same issues please feel free to reopen.

[2019-06-10 17:01] #7074 closed

[2019-06-10 17:02] jluk commented on #6842
This should be resolved by using the latest CLI modules, closing as a result.

[2019-06-10 17:02] #6842 closed

[2019-06-10 17:07] jluk commented on #7211
This has greatly improved since issue opened so closing as a result. If continues please open a support ticket with AKS as it's unlikely the CLI is the culprit of a 504 create error.

[2019-06-10 17:07] #7211 closed

[2019-06-10 17:09] jluk commented on #7573
Closing this CLI issue in favor of the existing one on the AKS project. This is on the roadmap and we are likely 3-4 weeks away from supporting cascading tags onto the managed RG.

Please ref this for status:
https://github.com/Azure/AKS/issues/970

[2019-06-10 17:09] #7573 closed

[2019-06-10 17:10] jluk commented on #7927
This is now supported with multiple agent pools feature in preview. You can create and delete new pools which enable a different VM SKU to be defined for a given cluster.

Docs are here: https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools

Closing.

[2019-06-10 17:10] #7927 closed

[2019-06-10 17:11] jluk commented on #8243
This should be resolved with @GaneshaThirumurthi changes a few weeks back. Closing unless I am mistaken, if so please re-open.

[2019-06-10 17:11] #8243 closed

[2019-06-10 17:14] #9525 closed

[2019-06-10 17:45] wurp commented on #2283
I just spent the better part of three days debugging an issue caused by this. I just had to update my output entry in c:\User\XXX\.azure\config to be json instead of yaml.

[2019-06-10 17:46] wurp commented on #2283
Symptom:
[gw0] win32 -- Python 3.6.6 E:\git-clones\azure-cli-extensions\env\Scripts\python.exe
env\lib\site-packages\azure_devtools\scenario_tests\preparers.py:41: in _preparer_wrapper
    **kwargs
..\azure-cli\src\azure-cli-testsdk\azure\cli\testsdk\preparers.py:46: in create_resource
    execute(self.cli_ctx, template.format(self.location, name))
..\azure-cli\src\azure-cli-testsdk\azure\cli\test

[2019-06-10 19:07] TheBlueSky commented on #9462
I'm also getting the same error while using the latest version of Azure CLI.

[2019-06-10 20:40] ahmedelnably opened #9621 "Add cli user agent to functionapp deployments"
**Is your feature request related to a problem? Please describe.**
No
**Describe the solution you'd like**
In the request, we need to add a user agent identifying that this request is from Azure CLI

**Describe alternatives you've considered**
None
**Additional context**
None

[2019-06-10 21:28] tjprescott opened #9623 "[SignalR] SignalR lacks CLI conventions"
Tracking issue since SignalR is considered GA.  This module lacks the following CLI conventions/features:

- [ ] missing generic update `az signalr update`
- [ ] `az signalr show/delete`: missing `--ids` convention.
- [ ] `az signalr key` command group should be `az signalr keys` command group for consistency.

[2019-06-10 21:29] adewaleo commented on #9524
have you run aks create recently? As it is the command (apparently along with two others in the aks command group) which creates a default workspace

[2019-06-10 21:39] brobichaud commented on #9524
Yeah we have created AKS clusters but are using their option to specify a workspace. I suppose it's possible we ran one pass without that and the workspace got created. If you're convinced than I believe you.

[2019-06-10 21:43] adewaleo commented on #9496
@dcbrown16, yes I suppose it's an "exception to the rule". This is not surprising given the complexity of the command.

Accelerated networking greatly boosts up vm performance essentially for free (as long as its enabled and you have the correct vm image and size). I imagine that the desire is that it be set to true by default. However, given that not all vm sizes support it it can't always be tru

[2019-06-10 21:53] adewaleo commented on #9495
@KeiroKamioka0000, I followed up on the [thread](#9496).

@dcbrown16 sorry if I was not clear. The goal will be to update the nic or at least fail and inform the user that the supplied nic doesn't have the correct setting.

[2019-06-10 21:56] adewaleo commented on #2283
@tjprescott, what are your thoughts on this? If we don't have the bandwidth to add this logic we could simply error out or warn the user to use a correct configuration?

[2019-06-10 21:58] thatguylong opened #9624 "azure-cli stopped working with Python3.7.3"
**Describe the bug**
The azure-cli does not work with python 3.7.3. Keep getting this error:

**Error**
[code]

**To Reproduce**
Have the following versions and try to run az command.

**Expected behavior**
"The Azure CLI is guaranteed to be compatible with the latest version of python3 published on Homebrew."

**Environment summary**
Python3 version is:
[code]

Azure-cli is installed:
`🍺  /usr/lo

[2019-06-10 22:21] #9624 closed

[2019-06-10 22:21] element-of-surprise opened #9625 "AZ Login seems to stop working on Linux hosts"
## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
- `az login`

## Expected Behavior
Directed to a web url in order to authenticate.

## Environment Summary
[code]
## Additional Context
Also is broken on another Linux box running an older version.  I also updated this to a new version today to see if that would fix it.  Works fine under OSX, so it appears to on

[2019-06-10 22:24] tjprescott commented on #5933
Since BatchAI is deprecated, I will close this issue.

[2019-06-10 22:24] #5933 closed

[2019-06-10 22:32] tjprescott commented on #5343
This module is now GA.

[2019-06-10 22:32] #5343 closed

[2019-06-10 23:01] tjprescott commented on #6657
Stack trace no longer displayed.

[2019-06-10 23:01] #6657 closed

[2019-06-10 23:20] patrickheinzelmann opened #9626 "Dashboard crashed multiple times"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --name {} --resource-group {}`

## Expected Behavior

## Env

[2019-06-10 23:26] dcbrown16 commented on #9496
Thanks, the specification seems fine as long as it is documented correctly.

[2019-06-10 23:32] Eilon opened #9627 "Installing extension progress shows escape code '?[K'"
## Describe the bug

Running `az interactive` for the first time causes it to install the interactive extension. The progress bar for download/installation renders incorrectly:

![image](https://user-images.githubusercontent.com/202643/59233392-0e722a00-8b9d-11e9-935a-22a622ab771e.png)

Note the escape sequence (ANSI escape?) at the bottom left.

## To Reproduce:
1. Fresh install of Azure CLI on W

[2019-06-10 23:36] #7955 closed

[2019-06-10 23:36] #9375 closed

[2019-06-10 23:36] #9529 closed

[2019-06-11 01:31] yugangw-msft commented on #9574
//CC: @achandmsft.
We can use this as the stop-gap to fill in the service coverage gap. We can update the document for `az resource create`, or even blog it that people can use those examples to get things done before we on-board strong types of commands.

We do need to have a test script to loop through the commands and flag out failed ones.

[2019-06-11 03:24] feiskyer commented on #9189
the aks-preview extension requires Python 3

[2019-06-11 03:45] christinewong2019 opened #9628 "About the OpenShift in Azure"
![image](https://user-images.githubusercontent.com/48715450/59242273-809a4b80-8c3d-11e9-9c7b-69d30349cd0a.png)
I following this document https://docs.microsoft.com/en-us/azure/virtual-machines/linux/openshift-prerequisites, but I try to run this command get the wrong message
the result:

![image](https://user-images.githubusercontent.com/48715450/59242397-f56d8580-8c3d-11e9-80bd-0e1885cfcc8f.png)

[2019-06-11 05:25] ctaggart opened #9629 "webapp:azure-cli 2.0.66 cryptography <2.5 and >2.5"
azure-cli 2.0.66 [from pypi](https://pypi.org/project/azure-cli/) requires cryptography `<2.5` and `>=2.5`. 😢

azure-cli-core is requiring `>=2.5` becauseof paramiko:
[code]

It is azure-cli-appservice that is putting a dependency on `<2.5` [here](https://github.com/Azure/azure-cli/blob/891d259dd9e98698cf3d396261cfad149abcec2b/src/command_modules/azure-cli-appservice/setup.py#L43) and should proba

[2019-06-11 07:08] paolosalvatori commented on #7955
Hi @yugangw-msft

I tried your suggestion, but it didn’t work for me. I still get a Property identifierUris is invalid error when the script executes the command below. The script below is taken from the first part of my script to generate an AKS cluster integrated with Azure AD. Note: I’m a global administrator of the Azure AD tenant in question.

#!/bin/bash

# variables

# service principal, se

[2019-06-11 07:11] zikalino commented on #9574
## Initial Notes

- This document applies to both **az resource** and **az rest**.
I am just using **az resource** as a sample here.
- The user experience for both commands could be significantly improved.
- In the same time this work could contribute to generat improvement of examples in Azure REST API specs, and greatly improve work of service teams

## How REST API Examples could be integrated?

[2019-06-11 09:54] fredgate commented on #8934
Yes it is very frustrating. I have sevreal resource groups each containing a k8s cluster with the same name. So I can not have several kubernetes contexts, because they will have the same name. A simple option could be to add an optional paramater to `az aks get-credentials` that specifies the name of the context to create (if the parameter is not specified, the actual behaviour can be preserved.

[2019-06-11 10:00] edwardsp opened #9630 "Unable to create a VMSS in single-placement-group larger than 100 nodes"
**Describe the bug**
I am trying to create a VMSS larger than 100 instances with RDMA (all H series node types).  This is possible using the `az vmss scale` but a hard-coded limit stops this with `az vmss create`.

**To Reproduce**
Create a VMSS with `--single-placement-group true` and `--instance-count` greater than 100.
 The error is:

    ERROR: usage error: '--single-placement-group' should be

[2019-06-11 10:43] edwardsp opened #9631 "Creating a vmss with --no-wait causes an warning message"
**Describe the bug**
When creating a VMSS and using `--no-wait` it will return the following message to stderr:

    'ClientRawResponse' object has no attribute 'properties'

**To Reproduce**
Just create a vmss with `--no-wait` option.

**Expected behavior**
No stderr.

**Environment summary**
Just the az cli.

**Additional context**
None

[2019-06-11 12:55] tjprescott commented on #9629
Hi @ctaggart this has been fixed as part of https://github.com/Azure/azure-cli/pull/9612

[2019-06-11 12:56] tjprescott commented on #9629
@panchagnula is there a reason that `azure-cli-appservice` required cryptography < 2.5?

[2019-06-11 12:56] tjprescott commented on #9629
Leaving open for @marstr to weigh in on.

[2019-06-11 13:02] tjprescott commented on #9627
Duplicate of #9122.

[2019-06-11 13:02] #9627 closed

[2019-06-11 13:03] J00MZ opened #9632 "sync fails on: BadZipFile("File is not a zip file")"
## Describe the bug
Trying to run `sync` command from Linux machine to Blob store according to [documentation](https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az-storage-blob-sync).
command fails on zip file error although I'm not uploading any zip file.

**Command Name**
`az storage blob sync`

**Errors:**
[code]

## To Reproduce:
- `az storage blob sync -c {} -d {}

[2019-06-11 13:05] J00MZ commented on #9632
Oops.
I see this is exact duplicate of #9525

[2019-06-11 13:26] ctaggart commented on #9629
It looks like [the change](https://github.com/Azure/azure-cli/pull/8324#discussion_r251573381) was done to suppress some warning at the time. With the updated version of paramiko, I doubt this is needed anymore. @patricklee2 @yugangw-msft

[2019-06-11 13:45] jjgriff93 commented on #9585
Also facing a similar error, tried deploying twice today with a two hour window between deployments, no luck.

[code]

[2019-06-11 16:02] yugangw-msft commented on #7955
@paolosalvatori, did you try the CLI from the latest dev ?

[2019-06-11 16:08] panchagnula commented on #9629
@patricklee2 - assigning this to you to weigh in on this & make the update if needed. //CC: @rramachand21

[2019-06-11 16:33] yugangw-msft commented on #9628
if you type `echo $scope` which do you get?

[2019-06-11 16:59] limingu commented on #9632
The fix will be in azure-cli: 2.0.67

[2019-06-11 16:59] #9632 closed

[2019-06-11 17:16] marchanddesable commented on #9585
Same thing here, it doesn't work, unable to create a new AKS cluster with the portal or Cli...

[2019-06-11 17:27] adewaleo commented on #9630
I'll do this today

[2019-06-11 17:32] adewaleo commented on #9496
This is documented in [az vm create -h](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-create):

[code]

[2019-06-11 18:05] jjgriff93 commented on #9585
@marchanddesable as a temporary workaround I manually created a service principal then passed in the details into the `az aks create` command, which worked

[2019-06-11 18:32] marstr commented on #9629
Looks to me like `paramiko` and `cryptography` are playing nice now. I believe the appropriate fix is to remove the ceiling from the appservice package. Whatever changes are made, I'll make sure it gets applied to the [`flatten`](https://github.com/Azure/azure-cli/tree/flatten) branch as well.

[2019-06-11 18:36] patricklee2 commented on #9629
I'll make the fix

[2019-06-11 18:42] tjprescott commented on #9604
This property can currently be updated using the `--set` argument in `az network application-gateway http-settings update`. Example:

[code]

[2019-06-11 20:42] #6204 closed

[2019-06-11 20:46] #9569 closed

[2019-06-11 21:43] nebrius commented on #9369
@ahmedelnably unfortunately the function app has since been deleted because we needed to clean up our subscription.

[2019-06-11 22:17] zikalino opened #9636 "Official Docker Image based on Ubuntu"
**Is your feature request related to a problem? Please describe.**
Current official Docker image is based on Alpine:

https://github.com/Azure/azure-cli/blob/dev/Dockerfile

I think at some point it would be good to have official image that can be used by **Visual Studio Code Remote - Containers**.
https://code.visualstudio.com/docs/remote/containers

Unfortunately:

"Note: Alpine Linux and Window

[2019-06-11 23:02] zikalino opened #9637 "Support Tab Completion for Resource IDs"
**Is your feature request related to a problem? Please describe.**
Resource IDs are usually copied & pasted, and that's really inconvenient.

**Describe the solution you'd like**
It would be great to have resource completion in place that would use current subscription id, resource groups, etc. User should be able to create resource id on the fly.
That would be extremely useful for **az resource**

[2019-06-11 23:02] panchagnula commented on #3660
The API call here is a POST call & if a user doesn't have write RBAC access for the App  or Config level the API fails.  No GETs work on this API. In general we have an effort going on move to using KeyValut. Closing this.

[2019-06-11 23:02] #3660 closed

[2019-06-11 23:03] zikalino commented on #9574
I am creating some subissues:

https://github.com/Azure/azure-cli/issues/9637

[2019-06-11 23:07] dcbrown16 commented on #9496
@adewaleo sorry for the lack of clarity.
My understanding is that currently, although the quoted part suggests accelerated networking is always enabled when supported, it is NOT enabled if you are specifically attaching an existing NIC that doesn't have it enabled.
It sounds like you are working to change the behavior so that accelerated networking would be enabled in those cases, which would be g

[2019-06-11 23:08] panchagnula commented on #1801
Thanks for the suggestion - not something we plan , but we will re-activate if we do consider it in the near future.

[2019-06-11 23:08] #1801 closed

[2019-06-11 23:37] rachel-msft commented on #7168
This has been resolved in the latest release.

@tjprescott please close.

[2019-06-11 23:42] #7168 closed

[2019-06-12 03:13] konrad-jamrozik opened #9640 "Cannot create custom metric alert via azure cli."
Note: this pertains to
https://docs.microsoft.com/en-us/cli/azure/monitor/metrics?view=azure-cli-latest#az-monitor-metrics-list-definitions
and
https://docs.microsoft.com/en-us/cli/azure/monitor/metrics/alert?view=azure-cli-latest#az-monitor-metrics-alert-create

**Describe the bug**
I ran
[code]
and expected to see my custom metric definitions (in custom namespaces), but didn't found any custom m

[2019-06-12 06:13] #1968 closed

[2019-06-12 06:15] #8273 closed

[2019-06-12 06:32] shurd commented on #6894
This issue is related to RBAC permissions and likely was caused by insufficient permissions or a mismatch between the active account on the CLI and the subscription the resource group resides in. I am going to close this issue for now. If you are still facing this problem, you can re-open the issue and provide more details.

[2019-06-12 06:32] #6894 closed

[2019-06-12 06:45] ctaggart opened #9644 "trouble using `azdev setup` to develop an extension"
I'm a bit confused on how to run `azdev setup` to set up development on an extension [as documented](https://github.com/Azure/azure-cli/blob/dev/doc/extensions/authoring.md#developing).

I forked the `azure-keyvault-cli-extension` and added a Pipfile.
[code]

For `<PATH>` I'm using `$PWD` since the code is the current directory. For `<NAME>`, I'm using the name found in `setup.py`.

It errors out

[2019-06-12 07:18] mpustelnik opened #9645 "az bot msteams create returns an error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az bot msteams create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az bot msteams create --name {} --resource-group {}`

## Expected Behavior
MS Teams channel created withou

[2019-06-12 07:29] jkolonko commented on #9645
Also reproducible in Cloud Shell.

[2019-06-12 08:49] JesseDeBruijne commented on #9116
@panchagnula Any update on this? I'm running into the same problem

[2019-06-12 08:55] silkfire commented on #7447
Experiencing the same issue. A login request takes about 5 sec...

[2019-06-12 11:19] kchuying opened #9646 "Unable to enter CLI commands after envr. variable update"
Hi,

I am not able to enter any CLI commands to restart my computer node after changing the system variable (path). Any idea what went wrong?

The error is: 'az: error: argument _command_package: invalid choice: ml'

I prefer not to reinstall the entire ML package, so please comment if you have faced the same issue before. Thanks in advance!

[2019-06-12 12:17] tjprescott commented on #9640
The command returns whatever the service does. Will pass along to the service for comment on whether this is the expected behavior or not.

[2019-06-12 12:18] tjprescott commented on #9645
Did you also file an issue here:
`Please file an issue on https://github.com/Microsoft/botbuilder-tools/issues`

[2019-06-12 12:20] tjprescott commented on #9646
Does it work if you revert the change to your path?

[2019-06-12 14:27] mpustelnik commented on #9645
No, I didn't because I thought that it is related only to azure cli. Should I create another issue on botbuilder tools repository?

[2019-06-12 14:55] kchuying commented on #9646
No, the same error persists after rebooting the server.

[2019-06-12 15:55] mooninite opened #9647 "storage account network-rule regression"
**Describe the bug**
Sometime in the past month the **az storage account network-rule add** functionality has broken. It only returns:
`Values for request parameters are invalid: networkAcls.virtualNetworkRules[].`

**To Reproduce**

    $ az storage account network-rule add --account-name $ACCOUNT --vnet-name $VNET --subnet $SUBNET_NAME --resource-group $RG --subscription '$SUB'
    Values for re

[2019-06-12 16:47] konrad-jamrozik commented on #9640
To provide additional context:

I created a metric alert via azure portal, using my custom metric. When I viewed it like this:
`az monitor metrics alert show --name "my custom alert" --resource-group my-resource-group`

It had entry like

[code]

Observe the `metricNamespace`.

However, all the metrics returned by  `list-definitions` had namespace: `"namespace": "microsoft.insights/components",`.

[2019-06-12 16:56] marstr opened #9648 "CI Failing to Download Artifacts"
PR Validation Broken

Yesterday afternoon (June 11th,) our CI pipeline started sporadically experiencing failure to download some build artifacts. This is causing PR validation to fail consistently. We have reached out to the Azure DevOps team, but do not currently have an ETA for a fix. Information will be posted here as we learn more.

[2019-06-12 17:16] vsaroopchand commented on #8912
I have the same issue  when using a Service Principal to run az ad app permission admin-consent --id $serverApplicationId. The Service principal has all AAD and Graph Application and Delegate Permissions and still returns an error

az : ERROR: Bad Request
At line:1 char:1
+ az ad app permission admin-consent --id $serverApplicationId
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2019-06-12 17:20] yugangw-msft commented on #8912
Are you the admin in the the tenant, which has the privilege to consent to the permission required by the service principal?

[2019-06-12 17:25] marstr commented on #9636
This is something I've kicked around for a while! I think it's a great idea. You can see a little conversation about this here: https://github.com/Azure/azure-cli/pull/8430

Basically what it comes down to, is that you already have a great place to start with [${repo_root}/scripts/release/debian/Dockerfile](https://github.com/Azure/azure-cli/blob/8858fb4defd95838b503fd71713c1c6f851c8171/scripts/re

[2019-06-12 17:57] vsaroopchand commented on #8912
@yugangw-msft  I am the Global Administrator of the tenant.

[2019-06-12 17:59] yugangw-msft commented on #8912
Can you please [capture the trace](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy) and send it to me at yugangw at microsoft dot com?

[2019-06-12 18:11] vsaroopchand commented on #8912
Info sent, thanks!

[2019-06-12 18:12] adewaleo commented on #9496
Yes I was responding to [this](https://github.com/Azure/azure-cli/issues/9496#issuecomment-498074851) question here.

Your second question which was about the nics setting being ignored [is addressed ](https://github.com/Azure/azure-cli/issues/9495#issuecomment-500609215) in the original [issue](#9495) you posted. I agree with you that this behavior is not good and the solution will be to either r

[2019-06-12 18:23] tbock commented on #9194
Not using the CLI but yes that is the route we took and are working to reconfigure how we use service bus to avoid this pitfall.  Thank you for the background @dlstucki

[2019-06-12 18:41] yugangw-msft commented on #8912
Per our offline mail thread, this error is caused by you invoked this command under a service principal which is not supported by design

[2019-06-12 19:04] marstr commented on #9648
After chatting with @mitchdenny, who is a subject matter expert on Azure DevOps, we've confirmed that these failures are stemming from an issue with DevOps itself. Likely, we are dogfooding a recently released artifacts-engine version that is troubled. To work around this, we're adopting newer tasks. `PublishBuildArtifact` -> `PublishPipelineArtifact`, `DownloadBuildArtifact` -> `DownloadPipelineA

[2019-06-12 19:48] #9648 closed

[2019-06-12 19:51] marstr commented on #9648
The switch to the newer ADO tasks has been merged. This should unblock PRs. If we see continued failures, I'll reopen this issue.

In order to adopt these changes in a PR that you believe is failing because of this issue, please rebase/merge from the most recent version of [`dev`](https://github.com/Azure/azure-cli/tree/dev) which includes the commit d2cf98f133c851d26a44311189e97cdababd5404.

[2019-06-12 20:04] shurd commented on #8007
@mindlessroman thank you for submitting an issue. I am not sure if that page has changed since you submitted the suggestion, but I do not see `--database-id` referenced on the page. Are you referring to "DATABASE_ID" following the `--db-name` parameter?

[2019-06-12 20:54] aamalvea commented on #7017
We're sorry that we weren't able to get back to you in a timely manner. If you are still experiencing this issue, please file a new issue and we will get back to you in 48 hours. For these types of issues, please provide the full trace.

[2019-06-12 20:54] #7017 closed

[2019-06-12 21:17] gustavo-accellog opened #9651 "aks create is invalid"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --node-count {} --service-prin

[2019-06-12 21:38] shurd commented on #7630
@alant94 thank you for reporting this issue. The CLI was using pydocumentdb for data plane operations (database, collection). There was a bug in this package that caused problems when decoding some base 64 strings. This has been fixed as of [version 3.0.2 of the package](https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-python#302). The package was renamed, and I will update our depende

[2019-06-12 22:03] shurd commented on #8633
@davejhahn thank you for opening this issue. Are you still seeing the same problem? I tried to replicate it, but the portal and CLI appeared to be consistent when creating partition key paths. In both cases, I provided "/_id" and I can see that as the partition key path in the portal and in the CLI when using the `show` command. I did not see '$v' anywhere in the response.

az cosmosdb collection

[2019-06-12 22:07] dcbrown16 commented on #9496
Ok thanks!

[2019-06-12 23:24] shurd commented on #6094
We are tracking this change internally as work item number 449214. The target date for this change is the middle of July. I will post updates as they are available.

[2019-06-12 23:31] shurd commented on #3871
We are tracking this change internally as work item 448974. We expect to deliver this change by the middle of July. The table output for `collection` and `database` will show the resource names with the change.

[2019-06-12 23:32] konrad-jamrozik commented on #9640
I have a "diff repro" showing this works with Az PS1 module, but not with az CLI.

Here is it **working**:

[code]

while this **fails**

[code]

with
`The metric names were not found MyNamespace/Foo.MyMetric.. [Code: "BadRequest"]`

[2019-06-12 23:51] shurd commented on #3872
Thank you for the suggestion to help improve our command module. Currently, tab completion is available for database account names for most commands. I am tracking a change (work item 448972) that will enable auto completion for database account names when using the `update` command. The target date for this change is the middle of July.

We are currently working on changing the way the CLI access

[2019-06-12 23:56] shurd commented on #1963
We have been adding tests for control plane operations (database account management). I am working on adding tests for `collection` and `database` sub groups. These tests are tracked by work item 450608, and I plan on having these tests added by the middle of July.

[2019-06-13 00:12] tjprescott commented on #9646
You will likely need to search your machine for the az executable or, failing that, reinstall.

[2019-06-13 00:16] shurd commented on #6168
We are going to add some basic examples for `database` and `collection` to the documentation. We plan on having these examples available by mid-July. This documentation addition is being tracked by work item 450614. We do have some CLI examples in other places that show how to use specific arguments. For example, our [page on managing index policies](https://docs.microsoft.com/en-us/azure/cosmos-d

[2019-06-13 00:18] shurd commented on #8811
Hi @ajk2018, I am looking into your question. I will post an update when I find out more.

[2019-06-13 00:37] ElianaLiberman commented on #9579
@SteveLasker What text would you recommend for me to add in the beginning (in addition to changing to capital letters "AND ALL TAGS"?

If it helps this is the PR: https://github.com/Azure/azure-cli/pull/9654

[2019-06-13 00:38] ElianaLiberman commented on #9579
Not fixing issue number 4.

[2019-06-13 01:08] shurd commented on #6272
Hi @johndowns thank you for raising this issue. We are currently working on changing the way databases and collections are accessed by the CLI. Currently, the CLI uses "azure-cosmos", which is a data-plane python package. Soon, the CLI will instead access collections and databases through our resource provider.

When this change is made, the collection create command will be idempotent. The implem

[2019-06-13 03:43] kchuying commented on #9646
Seems like the error was fixed after adding the ML extension back.

`az extension add -n azure-cli-ml`

Anyway, thanks for your advise.. @tjprescott

[2019-06-13 03:43] #9646 closed

[2019-06-13 04:46] elibarzilay commented on #9579
@ElianaLiberman, FWIW, I implemented that functionality in a simple way: just list all tags with their sha256, and if the tag-to-be-deleted's sha256 is unique, delete it.

Since this is what `docker rmi` does, I suspect that this is a very expected+desired behavior, so I'm surprised at not implementing it...

(Alternatively, just wait some time for people to shoot their feet, either by losing imag

[2019-06-13 05:23] dragonsappire opened #9657 "aks create failed via cli while creating aks well by manual on the portal"
azure-cli (2.0.46)
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.
running cmd as below output:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS

[2019-06-13 10:29] ConnorDickson commented on #6493
I had the same issue and it was resolved [here](https://stackoverflow.com/questions/56578122/azure-cli-run-command-invoke-runpowershellscript-with-parameters?noredirect=1#comment99734192_56578122) on stackoverflow. Is it possible to get the documentation updated to clarify?

[2019-06-13 10:31] ConnorDickson opened #9658 "Issues around documentation about passing parameters to az vm run-command invoke"
Documentation needs clarification or extra examples added around az vm run-command invoke, specifically the RunPowerShellScript version. Please find stackoverflow question [here ](https://stackoverflow.com/questions/56578122/azure-cli-run-command-invoke-runpowershellscript-with-parameters?noredirect=1#comment99734192_56578122) detailing my issue, and user 4c74356b41 who solved my issue.

I can see

[2019-06-13 10:54] ConnorDickson commented on #9513
I have a stackoverflow question [here](https://stackoverflow.com/questions/56578122/azure-cli-run-command-invoke-runpowershellscript-with-parameters) that has been answered and should help you out

[2019-06-13 10:55] ConnorDickson commented on #9455
You could use a similar example to what I have posted in a stackoverflow question [here](https://stackoverflow.com/questions/56578122/azure-cli-run-command-invoke-runpowershellscript-with-parameters)

[2019-06-13 12:11] gustavo-accellog commented on #9651
I run in Azure Cloud Shell and It's OK. But It's not working in my client.
I use CentOS 7 and the Azure Cli is up-to-date.

[2019-06-13 13:42] keremispirli commented on #9054
I have the same problem with a Windows VM on Azure. I'm pasting the "Feedback" here, instead of opening a new issue.

## Describe the bug

**Command Name**
`az login --identity`

**Errors:**
[code]

## To Reproduce:
Run following command in an Azure VM with identity.
- `az login --identity`

## Expected Behavior
This command has been working in this VM since yesterday. Today it doesn't.

## Enviro

[2019-06-13 13:54] davejhahn commented on #8633
@shurd I will try again.  I did not have success previously--I tried encoding every which way I found people doing it and none of them worked.  It sounds like you are saying it just works without encoding now.

Not sure if this was something addressed at the Azure level or Azure CLI, just to be sure, I'll make sure to try with the latest version of the Azure CLI just to cover it.

[2019-06-13 13:58] keremispirli commented on #9054
After costing a day of time, stopping and then starting the VM again solved the issue. Mind you that a reboot has not worked; had to Stop and then Start from the Azure web interface (deallocation and reallocation of the VM).

[2019-06-13 14:14] #1007 closed

[2019-06-13 14:15] #8293 closed

[2019-06-13 15:44] #6676 closed

[2019-06-13 15:44] #7085 closed

[2019-06-13 15:44] #8364 closed

[2019-06-13 15:44] #9629 closed

[2019-06-13 16:14] teejam2 opened #9662 "[Bug]az extension add --name azure-devops fails when $ is present in username"
**Describe the bug**

**To Reproduce**
Try to install the az devops cli extension with $ character in username

**Expected behavior**
The devops cli extension is installed

**Environment summary**
Windows 10 - issue is down to $ in username

**Additional context**
n/a

[2019-06-13 16:18] benjaminbhuang opened #9663 "Unable to assign the identity to webapp"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp identity assign`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp identity assign --name {} --resource-group {}`

## E

[2019-06-13 16:30] tjprescott commented on #9645
@stevengum for comment.

[2019-06-13 16:35] yugangw-msft commented on #9052
https://github.com/Azure/azure-cli/pull/9323 fixes this

[2019-06-13 16:35] #9052 closed

[2019-06-13 16:35] yugangw-msft commented on #9573
https://github.com/Azure/azure-cli/pull/9323 fixes this

[2019-06-13 16:35] #9573 closed

[2019-06-13 16:35] yugangw-msft commented on #9567
https://github.com/Azure/azure-cli/pull/9323 fixes this

[2019-06-13 16:35] #9567 closed

[2019-06-13 16:47] bitcloud commented on #9396
is it possible that you configured a firewall that restricts the source ip of your request?

[2019-06-13 16:52] carbineneutral opened #9665 "azure-cli 2.0.66 zypper installation fails on SLES 12 SP3"
**Describe the bug**
The [instructions for installation via zypper](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-zypper?view=azure-cli-latest) fail on SLES 12 SP3 due to a dependency on python2-virtualenv

**To Reproduce**
Follow the instructions here: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-zypper?view=azure-cli-latest when running on SLES 12 SP3
[code]
**Expe

[2019-06-13 17:27] #3871 closed

[2019-06-13 17:27] #3872 closed

[2019-06-13 17:27] #7628 closed

[2019-06-13 17:27] #1963 closed

[2019-06-13 17:27] #6094 closed

[2019-06-13 17:27] #6168 closed

[2019-06-13 17:27] #7630 closed

[2019-06-13 17:48] #9140 closed

[2019-06-13 18:01] mgahagan73 opened #9667 "All az openshift commands fail with a python traceback with 2.0.66"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
All az openshift commands fail with a python traceback. This appeared to start with 2.0.66 and I've observed it on both Fedora 30 and RHEL 7.6. In both cases az cli was installed from the Microsoft Azure yum repo. Other az sub-commands do not appear to be affected.
**Command Name**
`az openshift -h`
commands su

[2019-06-13 19:23] shurd commented on #8811
Currently, with the database shared throughput model, you cannot switch between throughput provisioned at a database level or at a collection level. You can only select shared throughput or collection level the first time you provision either.

If you want to be able to update throughput at a collection level, you will need to specify dedicated throughput for that collection when it is provisioned

[2019-06-13 19:23] #8811 closed

[2019-06-13 19:23] julienstroheker commented on #9667
@marstr can this be related to #7523 ? thanks

[2019-06-13 19:32] shurd commented on #9190
Hi @kjcho-msft, thank you for raising this issue. At this time, we do not plan on adding the ability to access data (such as documents) to the CLI. For these operations, we provide other SDKs, which can be found at https://docs.microsoft.com/en-us/azure/cosmos-db/. You can also try out our data plane python package, [azure-cosmos](https://github.com/Azure/azure-cosmos-python).

[2019-06-13 19:32] #9190 closed

[2019-06-13 19:55] marstr commented on #9667
Nope! #7523 only impacts SUSE based distributions, Fedora is more directly related to Red Hat than that.

[2019-06-13 19:59] marstr commented on #9054
Given that this is solved by a hard stop/start of the VM, I suspect this is an MSI issue, not a CLI issue. I'm going to close this out for now. @achandmsft, mind forwarding this issue on to the appropriate service team?

[2019-06-13 19:59] #9054 closed

[2019-06-13 20:23] mgahagan73 commented on #9667
azure-cli-2.0.64-1.el7.x86_64 appears to work fine on Fedora 30:
I installed it via:
dnf -y install https://packages.microsoft.com/yumrepos/azure-cli/azure-cli-2.0.64-1.el7.x86_64.rpm

I noticed one difference in installing this package is that it did not pull in python-wheel-wheel and python2-virtualenv as dependancies while 2.0.66 did.

[m@localhost OCP-23927]$ rpm -q azure-cli
azure-cli-2.0.64-

[2019-06-13 20:26] jfggdl commented on #9194
@tbock, great. I am going to close this issue, but feel free to reopen it if after your reconfiguration you still have questions or problems.

[2019-06-13 20:26] #9194 closed

[2019-06-13 20:40] marstr commented on #9667
Curious, I just switched over to my Fedora 29 machine to try to repro this. `az openshift -h` seemed to behave fine for me on my main machine. I also tried installing 2.0.66 of the CLI on a fedora:30 container image in podman, seemed to work for me there to. Anything else you can tell me about your environment, @mgahagan73?

For the moment I'm going to assume this is a packaging/installation error

[2019-06-13 21:29] ElianaLiberman commented on #9520
PR: https://github.com/Azure/azure-cli/pull/9672

[2019-06-13 21:43] rturnbull1977 opened #9673 "Running "az webapp --help" causes python error. Installed extension - same result."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp --help`

## Expected Behavior

## Environment Summary
[code]
## Addi

[2019-06-13 22:12] yugangw-msft opened #9674 "extension: remove command doesn't surface file io error"
This is causing confusions on CLI users, that "az extension remove" seemly went through but a subsequent invocation of "az extension list" still shows the extension.

[2019-06-13 22:23] tjprescott commented on #5969
This has been implemented for CLI 2.0.67.

[2019-06-13 22:23] #5969 closed

[2019-06-13 22:26] rturnbull1977 opened #9675 "Cannot run az appservice --help without python errors"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az appservice`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az appservice --help`

## Expected Behavior

## Environment Summary
[code]

[2019-06-13 23:16] pratapprashant opened #9677 "[webapp] - hostname parameter is missing in the SSL Bind command"
**Describe the bug**
Hostname parameter is missing in the below CLI cmd.

                   az webapp config ssl bind

https://docs.microsoft.com/en-us/cli/azure/webapp/config/ssl?view=azure-cli-latest

Hostname parameter is available in the PowerShell cmdlet as “Name” and also available in the REST API.

New-AzureRmWebAppSSLBinding -Name
https://docs.microsoft.com/en-us/powershell/module/azurerm

[2019-06-14 01:03] ankitkumarr commented on #7890
@ahmedelnably can you add Sprint 64 milestone to this please? I will get this in as part of this sprint.

[2019-06-14 05:05] tuthan commented on #9424
Sorry for delay. I have chance to run again
This is the command, the upload certificate to Az stack is working. Only the binding didnt work
az webapp config ssl bind \
            --name "${app_name}" \
            --resource-group "${resource_group_name}"\
            --certificate-thumbprint "${thumbprint}" \
            --ssl-type SNI
`

msrest.http_logger : Request URL: 'https://management.jak

[2019-06-14 06:14] #8218 closed

[2019-06-14 06:16] adewaleo commented on #7586
Will be reverting help.yaml updates

[2019-06-14 06:16] #7586 closed

[2019-06-14 06:18] adewaleo commented on #8363
Will be reverting help.yaml updates

[2019-06-14 06:21] adewaleo commented on #8475
Will be reverting help.yaml updates

[2019-06-14 06:21] #8475 closed

[2019-06-14 06:48] adewaleo commented on #9513
I apologize for not addressing the issue yet. I was been working on another feature / issues. @ConnorDickson. Thanks a lot for addressing @devbeard's question.

I will add the examples this sprint. And reference this issue.

For now though, https://github.com/Azure/azure-cli/issues/7505 raises and addresses a general question on run command key value arguments through the CLI. You might find it he

[2019-06-14 06:53] adewaleo commented on #8657
fixed in #9641

[2019-06-14 06:53] #8657 closed

[2019-06-14 08:10] nicolas-marcq commented on #5099
On my side I also added the corporate certificate into the file `/opt/az/lib/python3.6/site-packages/certifi/cacert.pem`, which is used by the ssl lib or Azure.

[2019-06-14 08:13] Sispheor commented on #5099
On my side I also added the corporate certificate into the file `/opt/az/lib/python3.6/site-packages/certifi/cacert.pem`, which is used by the ssl lib or Azure.

[2019-06-14 10:23] andreacassioli commented on #7447
To add a bit more: I sometimes experience similar poor performance also using the azure portal. Is it then a back end issue?

[2019-06-14 10:35] darkbasic opened #9680 "az acr login --name {} fails on ArchLinux"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr login --name {}`

## Expected Behavior

## Environment Summary
[code

[2019-06-14 11:26] GLink commented on #9585
@jjgriff93, fyi, this workaround did not work in my case, trying more than 3 times also.

[2019-06-14 11:40] wbpluto opened #9681 "az iot hub command not support the api-version of China Cloud"
**Describe the bug**
Run the following command for AzureChinaCloud:
az iot hub show-connection-string --hub-name iothub123

got the error message:
InvalidResourceType - The resource type 'IotHubs' could not be found in the namespace 'Microsoft.Devices' for api version '2019-03-22-preview'. The supported api-versions are '2015-08-15-preview,2016-02-03,2017-01-19,2017-07-01,2018-01-22,2018-04-01,201

[2019-06-14 12:40] guanwening commented on #1007
Operation failed with status: 'Conflict'. Details: 409 Client Error: Conflict for url: https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/yugangw/providers/Microsoft.Web/serverfarms/yugangw-junk1?api-version=2015-08-01

The actual response is:
msrest.http_logger : b'{"Code":"Conflict","Message":"The maximum number of Free ServerFarms allowed in a Subscri

[2019-06-14 14:07] bmc-msft opened #9682 "az sig image-definition list should take ids"
**Is your feature request related to a problem? Please describe.**
You can get the information of a subscription via:

az sig show --ids {}

But to get a list of image definitions, you have provide each of the details that are part of the same ID as above as individual params.

az sig image-definition list --subscription {} -r {} -g {}

**Describe the solution you'd like**
az sig image-definition

[2019-06-14 14:36] tp199314 commented on #9665
I got the same error on SLES 12 PL 4.

`host:~ # zypper install --from azure-cli -y azure-cli
Refreshing service 'SMT-http_smt-azure_susecloud_net'.
Refreshing service 'cloud_update'.
Loading repository data...
Reading installed packages...
Resolving package dependencies...

Problem: nothing provides python2-virtualenv needed by azure-cli-2.0.66-3.el7.x86_64
 Solution 1: do not install azure-cli-2

[2019-06-14 15:12] tjprescott commented on #9682
It is a CLI standard that list commands do not expose `--ids`. The reason is because the ID should be the ID of the main "thing". For `az sig show` that would be a SIG ID. For `sig image-definition list` it would be the image definition. Since the list command does not target image definitions but rather galleries, the ID parameter is not exposed.

[2019-06-14 15:12] #9682 closed

[2019-06-14 15:35] marstr commented on #9276
Fixed by #9683.

[2019-06-14 15:35] #9276 closed

[2019-06-14 15:44] marstr commented on #9665
Howdy @achandmsft, I'm going to need your help prioritizing this issue. :)

[2019-06-14 15:50] Xorima commented on #8660
Hi @jnoller / @mboersma

Could I get an update on this as our security team are nervous of this going into production as is

[2019-06-14 15:53] jnoller commented on #8660
@Xorima This is not an issue on the Azure CLI, this is a known limitation of AKS currently with support for kubernetes certificate rotation on track for 2019 delivery, please see: https://github.com/Azure/AKS/issues/756

[2019-06-14 15:53] #8660 closed

[2019-06-14 16:02] mgahagan73 commented on #9667
@marstr Thanks for the quick response, it turns out that I installed a number of python2 packages on both my F30 system and the RHEL 7.6VM as they were required for some testing I was doing. One of those packages broke all the azure-cli openshift commands. There were quite a few packages and dependences and once I removed them I was able to get 'az openshift -h' working again. I think you are corr

[2019-06-14 16:39] yugangw-msft commented on #9078
@limingu, can you please fix this by sprint 64 with a nice error?

[2019-06-14 16:54] stevengum commented on #9645
@mpustelnik thanks for filing this issue, since someone filed an issue in botbuilder tools and added the debug logs we can close this issue and track the issue there. as there's more information in that issue.

microsoft/botbuilder-tools#1176

If the issue is filed in the tools repo we are usually able to respond quicker by virtue of seeing it sooner, but ultimately there isn't a real difference i

[2019-06-14 17:08] limingu commented on #9078
#9546

[2019-06-14 17:09] #9078 closed

[2019-06-14 17:09] panchagnula commented on #7013
Unfortunately for Linux apps these are required for the Docker container apps we have plans to support an extra parameter - being tracked by this https://github.com/Azure/azure-cli/issues/7261

[2019-06-14 17:09] #7013 closed

[2019-06-14 17:09] limingu commented on #9078
This issue has been fixed in version 2.0.67.

[2019-06-14 17:12] jpluscplusm commented on #9396
This is definitely related to the storage account's `--default-action` setting.

As subscription Owner with a freshly created account with `--default-action deny`, I get the error message as per the bug report. When I change it to `allow`, container creation works.

This seems to be regardless of the container creation `--auth-mode` setting - key or login.

[2019-06-14 17:15] panchagnula commented on #8884
Please re-activate if this is still an issue after trying the above suggestion. Thanks!

[2019-06-14 17:15] #8884 closed

[2019-06-14 17:19] panchagnula commented on #4181
@ahmedelnably assigning this to you since this is for functionapp & let you comment on the support. Thank you.

[2019-06-14 17:21] yugangw-msft commented on #8262
PAS team should take a look and emit out a better error such as the `resource doesn't exist`

[2019-06-14 17:22] yugangw-msft commented on #8262
//CC @skwan

[2019-06-14 17:46] panchagnula commented on #8022
@mgfink filed an internal issue on the API folks about this - if this turns out to be byDesign we will remove the numberOfSites property from the appservice plan list output.

[2019-06-14 17:54] panchagnula commented on #8022
@mgfink  looking a further into this - if you run the command with -g parameter appservice plan list -g <RG NAME> you will get the right values, i am waiting to hear back from the API team, but i am guessing that in the earlier case due to perf reasons when querying across the full subscription - we don't return all the values. Closing this for now.

[2019-06-14 17:54] #8022 closed

[2019-06-14 18:15] panchagnula commented on #4719
This should now be fixed. Please re-activate if this is not the case.

[2019-06-14 18:15] #4719 closed

[2019-06-14 18:20] panchagnula commented on #9675
Tried this with no extensions installed but the same version of core - @rturnbull1977   can you uninstall the webapp extension following
az extension remove -n webapp & re-try?

[2019-06-14 18:33] #4194 closed

[2019-06-14 18:33] jfggdl commented on #4194
@tjprescott, we are closing this issue, but feel free to reopen it if you still are interested in the features mentioned when you open the issue. Please also help us with question 6 above if you reopen the issue. We would be happy to continue working on your requests.

[2019-06-14 19:16] stevengum commented on #9307
This is no longer relevant as in the May 6, 2019 (version _2.0.64_) release of Azure CLI we updated the command to specifically target properties instead of giving the ability to seemingly modify/add any property (which is not actually possible, some properties are readonly).

Now to [update](https://docs.microsoft.com/en-us/cli/azure/bot?view=azure-cli-latest#az-bot-update) the description of a b

[2019-06-14 19:16] #9307 closed

[2019-06-14 19:32] stevengum commented on #8376
@hattan we're encouraging users to use the builtin processes in Azure CLI to deploy their bots to Azure; if you want to continue to use Zip deploy, [we've told users to use the `az webapp` command module](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=newrg#2-deploy-code-to-azure) and have documented how to create the necessary componen

[2019-06-14 19:46] mgfink commented on #8022
@panchagnula I'm concerned by the implication of the previous comment.  Are we unable to trust the output from AZCLI if someone arbitrarily decides it's taking too long to return results?  Or in general are there recommendations we should always scope commands to a RG and never run them unbounded on the subscription level?

If that's really the case I'd expect some kind of flag in the output indic

[2019-06-14 20:15] panchagnula commented on #9283
@patricklee2 can we get this in for the next sprint please?

[2019-06-14 20:17] patricklee2 commented on #9283
26th? Yes, I'll aim for that.

[2019-06-14 20:47] cconrado commented on #9455
@ConnorDickson it helps but having it in the doc helps with searching :)

[2019-06-14 21:41] shehreendheda opened #9686 "az ad app create --password does not always set the password I designate"
**Describe the bug**
I have a workflow that runs a script in a VM that creates a new service principal in Azure AD each time a VM image is launched. The script includes the `az ad app create` command with the `--password ${PASSWORD}` argument that I designate. Sometimes the password is set to `${PASSWORD}` and sometimes the the password is set automatically by Azure. I know when the password is no

[2019-06-15 05:22] PorkyProgs opened #9689 "Ubuntu Disco ppa.launchpad.net/jonathonf/backports/ubuntu is missing, consequently breaking installation"
Whether installing the Automated script or running the process manually as described on https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest for the Ubuntu Disco release fails, with the following error:
Err:11 http://ppa.launchpad.net/jonathonf/backports/ubuntu disco Release
404 Not Found [IP: 91.189.95.83 80]
Any tips how to complete the installation would be gre

[2019-06-15 05:27] PorkyProgs commented on #9689
Whether installing the Automated script or running the process manually as described on https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest for the Ubuntu Disco release fails, with the following error:
Err:11 http://ppa.launchpad.net/jonathonf/backports/ubuntu disco Release
  404  Not Found [IP: 91.189.95.83 80]
Any tips how to complete the installation would be

[2019-06-15 07:13] SteveBurkettNZ commented on #8486
Still mention of the --disk parameter in the 'Attach a managed persistent disk to a VM. (autogenerated)' example.

[2019-06-15 07:47] bitcloud commented on #9396
Every request has to obey the firewall settings independent from its role and permissions as far as I know. The default-action you @jpluscplusm described just supports that.

[2019-06-15 21:32] ahamad-MS commented on #9358
@amitamit281

Thanks for reporting this issue.  It is not clear if you are trying to use the CLI module or the extension and which version you are trying. The Advanced Filter option is currently available in event grid extension (and hence, the reference you mentioned is for the extension itself).

I just attempted the same command in shell.portal.com and it is working just fine for me using event

[2019-06-15 21:43] ahamad-MS commented on #9547
@dwhanger

Thanks for reporting this issue. The EventSubscription validation is enforced on latest eventgrid CLI module and extension. The same behavior applies to both local machine and shell.portal.com. Details of the EventSubscription Handshake validation for webhook is found here (as shown in the error message)  http://aka.ms/esvalidation

Please check if you are using any old eventgrid extens

[2019-06-16 00:52] elsesiy commented on #7013
@panchagnula The issue you're referencing describe the exact same issue but was filed a month later. Not sure what's the point in closing this one?

[2019-06-16 03:51] heavenwing opened #9691 "az aks browse is failed when using VPN"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --resource-group {} --name {}`

## Expected Behavior

## Env

[2019-06-16 08:22] aquibqureshi26 opened #9692 "Azure CLI Wrapped in Python on Linux :"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Azure Compute

**Description of Feature or Work Requested**
Creating a VM within existing VNET using Azure CLI wrapped in Python

**Minimum API Version Required**
Pythin3.6, Azure CLI

[code]

I'm getting below error only on Linux, the above code works fine on Windows, I'm not sure what needs to be changed on Linux.

[2019-06-16 08:48] nofunatall commented on #9613
Any answers?

[2019-06-16 10:59] makokui opened #9693 "Failed to establish a new connection: [Errno 110] Connection timed out"
From 'https://github.com/Azure/azure-cli/issues/9515', I got detailed information and repost it with the appropriate template.
It is regularly executing below Azure CLI commands from Azure Virtual Machine. This command was executed from March 2019, and the error occurred about once or twice a month before 5/19, but the error frequency has recently increased rapidly.

**Describe the bug**
The follo

[2019-06-16 15:35] yvesdeceuleners opened #9694 "az logout --subscription"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash o

[2019-06-16 15:44] yvesdeceuleners commented on #9694
Current status: logged in to 2 different subscriptions, using "az login".

$ az account list
A few accounts are skipped as they don't have 'Enabled' state. Use '--all' to display them.
[
  {
    "cloudName": "AzureCloud",
    "id": "029615ac-www-xxxx-yyyy-zzzzzzzzzzz",
    "isDefault": false,
    "name": "Very Nice Name",
    "state": "Enabled",
    "tenantId": "6cf18ffb-wwww-xxxx-yyyy-zzzzzzzzzzz

[2019-06-16 16:10] patrickheinzelmann commented on #9626
I have the some behaviour if i try to use the Kiali dashboard for Istio on the cluster.

`kubectl -n istio-system port-forward $(kubectl -n istio-system get pod -l app=kiali -o jsonpath='{.items[0].metadata.name}') 20001:20001`

[2019-06-17 03:12] icyblade commented on #6536
Encountered the same issue for 2.0.66. Is there any plan on this issue?

[2019-06-17 05:42] marchanddesable commented on #9585
Still trying, it doesn't work ):
Really, I don't understand, it should be a major issue for Azure's business no?
I wonder if I should take ACS instead of AKS, everytime I tryed AKS I had weired issues, and this time I can't even create the cluster.

[2019-06-17 06:21] atbagga opened #9695 "cl"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az pipelines agent list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az pipelines agent list --pool-id {} -o {} --include-assigned-re

[2019-06-17 06:21] #9695 closed

[2019-06-17 06:44] aktzbn commented on #9460
Have the same stack with `az pipelines build definition list` and _azure-cli_ of version _2.0.66_.

[2019-06-17 09:02] softeering commented on #9462
I'm having the exact same issue and can't automate the resource creation except by using B1 sku instead of F1. I confirm it works from the Azure portal.

[2019-06-17 13:47] its-just-jo commented on #8840
Hello @tjprescott ,
I am getting the same error, during an ARM deployment.

I am using the following template:

[code]

[2019-06-17 14:08] dcfsc commented on #9667
On CentOS Linux release 7.6.1810 (Core)

[code]
failed with a very similar error.

`yum remove azure-cli` and `yum install azure-cli-2.0.64-1.el7` seems to have fixed the issue, so 2.0.66 seems problematic for everything, not just `az openshift`.

[2019-06-17 14:27] scarolan opened #9696 "`az lab vm create` does not support shared image galleries"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
`az lab vm create` only appears to support images from the public Gallery, and not private shared gallery.  We want to use our own internal images to spin up labs.  Please add support for this.

https://docs.microsoft.com/en-us/cli/azure/lab/vm?view=azure-cli-latest#az-lab-vm-create

**Command Name**
`az lab vm

[2019-06-17 14:40] onybo opened #9697 "az servicebus topic create --max-size fail"
Can't set max-size on a topic using the command:
`az servicebus topic create -n mytopic -g myrg --namespace-name mynamespace  --max-size 1024`

Have tried sizes: 1024, 2048, 3072, 4096, 5120.
Same command is working fine in windows using version 2.0.46 of the CLI. Was also working fine on my mac until I upgraded today using homebrew, not sure what version I had before I upgraded.
I version 2.0.66

[2019-06-17 14:47] tjprescott commented on #9692
If you can run the script in Windows, this would confirm that the underlying CLI commands are working as intended. Thus the problem is most likely related to your use of "subprocess" to invoke Linux commands and a forum like StackOverflow is more appropriate to your question.

Two alternatives to what you are doing would be to (1) write a bash script for Linux or (2) write your Python script using

[2019-06-17 14:47] #9692 closed

[2019-06-17 14:49] tjprescott commented on #9693
You are running an extremely out-of-date version of the CLI. You have 2.0.31 and the current release is 2.0.66. Please update and reopen if this is still a problem.

[2019-06-17 14:49] #9693 closed

[2019-06-17 14:52] tjprescott commented on #9697
@v-Ajnava for action

[2019-06-17 14:57] #9645 closed

[2019-06-17 15:01] tjprescott commented on #9696
Hi @scarolan I don't believe new features are being planned for the DevTest Labs command modules, but I will mark with service team attention so that they can consider it for the future.

[2019-06-17 16:25] limingu commented on #9613
@nofunatall, you can create a script that goes through the list of the files and call 'az storage blob delete' to delete each file.

[2019-06-17 16:36] marstr commented on #9689
Howdy @PorkyProgs,

I'm able to install the Azure CLI via apt in a fresh container by running the following:

[code]
Obviously, that's not really an alternative for you! But it does tell me that trying to install in a blank-slate works. Looking at the error you encountered, it looks like you have a malformed apt repository. I bet you'll encounter this error for any other apt package you try to ins

[2019-06-17 16:37] #9689 closed

[2019-06-17 16:39] marstr commented on #9689
For some confirmation of this: if you checkout http://ppa.launchpad.net/jonathonf/backports/ubuntu/dists/, you'll see that `disco` hasn't been added there yet.

[2019-06-17 17:17] marstr commented on #9625
Howdy @element-of-surprise! Good to see a Gopher over here in the CLI world. :)

Could you tell me more about how you're installing the CLI? In general we don't have a repository for `buster` yet. Though, getting bug reports back from sid is always valuable so that we know if there's something coming around the corner.

![sid](https://media.giphy.com/media/doCsLMiHvGTmg/giphy.gif)

[2019-06-17 17:18] #9520 closed

[2019-06-17 17:20] marstr commented on #9625
I did just test in a debian:stretch container, and there everything seems okay. Also for general Linux testing via my Fedora 29 machine, all seems well.

[2019-06-17 17:22] marstr commented on #9625
We chatted offline, and it sounds like this is transient. Guessing it's backend related.

[2019-06-17 17:22] #9625 closed

[2019-06-17 17:34] tjprescott commented on #8244
Bumping to Sprint 65 due to higher priority direction from NRP.

[2019-06-17 17:35] marstr commented on #9247
I still suspect this is about your password not getting escaped correctly in your terminal. Checkout our documentation on this [./doc/use_cli_effectively#quoting-issues](https://github.com/Azure/azure-cli/blob/a1f2f2b666a759eb2f593dd7796db6bbd0237614/doc/use_cli_effectively.md#quoting-issues). Also, given that you're using PowerShell, you might want to check this out: https://ss64.com/ps/syntax-es

[2019-06-17 17:35] tjprescott commented on #9432
Bumping to sprint 66 due to higher priority direction from NRP.

[2019-06-17 17:36] tjprescott commented on #9327
Bumping to Sprint 67 due to higher priority direction from NRP.

[2019-06-17 17:36] marstr commented on #9247
Given that we're not hearing other reports about this, I'm going to close it out for now. If you feel strongly that there is a bug here, and that it's not related to special characters being escaped correctly in your command-line environment, I'll open it back up.

[2019-06-17 17:36] #9247 closed

[2019-06-17 17:37] tjprescott commented on #9380
Bumping to Sprint 68 due to higher priority direction from NRP.

[2019-06-17 17:37] irrogozh commented on #9432
Travis, please, don't implement this please. The spec is not approved yet - there is ongoing changes in contract...

[2019-06-17 17:37] tjprescott commented on #9404
Bumping to Sprint 69 due to higher priority direction from NRP.

[2019-06-17 17:38] marstr commented on #8631
I'm going to unassign myself and @achandmsft from this, because the time line for this work is unclear.

[2019-06-17 17:39] tjprescott commented on #9475
Moving to Sprint 70 due to higher priority direction from NRP.

[2019-06-17 17:41] tjprescott commented on #9432
@irrgozh no worries. If the spec isn't approved for work in sprint 66 I'll just shuffle priorities accordingly.

[2019-06-17 17:41] marstr commented on #7751
Because we haven't been able to repro this, I'm going to close it out as stale. However, if anyone experiences this again in November, please open it back up!

In the meantime, [Microsoft HQ may stop having Daylights Savings time](https://www.seattletimes.com/seattle-news/politics/permanent-daylight-saving-time-in-washington-gets-closer-with-senate-approval/). I'd be pretty pumped if this took off

[2019-06-17 17:42] #7751 closed

[2019-06-17 17:56] marstr commented on #9694
Given the semantics here: https://github.com/Azure/azure-cli/blob/a1f2f2b666a759eb2f593dd7796db6bbd0237614/src/azure-cli-core/azure/cli/core/_profile.py#L452-L459

Plus the context that all of the other account related commands squash the global subscription parameter, and it's my impression that this command should accept the subscription parameter at all. I'll have a PR out momentarily that stri

[2019-06-17 17:58] McAntMan commented on #9554
@yugangw-msft @marstr
Am encountering the same error when calling the `az ad signed-in-user list-owned-objects` command as well. Any updates on this issue?

[2019-06-17 18:07] eschwartz commented on #9554
## Workaround

Looks like it's just the JSON output format that's failing.

Running with `table` or `tsv` format seems to work:

[code]

[2019-06-17 18:37] ahmedelnably commented on #8004
addressed in https://github.com/Azure/azure-cli/pull/9700

[2019-06-17 18:37] ahmedelnably commented on #9018
tracked in https://github.com/Azure/azure-cli/pull/9700

[2019-06-17 18:38] avs099 commented on #9442
we had the same issue but turns out `acr login` command was not necessary. I guess, after you do `az login --service-principal -u **** -p **** -t ****` , your current environment gets enough "permissions" to execute ACR commands - given that Service Principal you use has proper access to ACR. In our case I had to add `Reader` permission to resource group, and `acrPush` to the ACR itself.

[2019-06-17 19:33] #7279 closed

[2019-06-17 19:33] #8355 closed

[2019-06-17 19:51] PorkyProgs commented on #9689
Thanks Martin for an explanation. You're absolutely correct in taht the PPA for Disco is missing
However perhaps you can explain; if the PPA is unnecessary why is it built into the installation setup script in the first place? Or am I missing something from my installaiton?
Is that a normal practice in Linux to write a sort of standard setup script for all Ubuntu versions even if the respective PP

[2019-06-17 19:54] yugangw-msft commented on #9554
Can anyone please capture a trace and share with me at yugangw at microsoft dot com?
The instruction can be found [here](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy)

[2019-06-17 20:01] x10an14 commented on #9554
@yugangw-msft I'll try to re-create the stacktrace and send you via email tomorrow (in 12-18 hours).
Currently @ home without access to set-up.

[2019-06-17 20:12] marstr commented on #9689
Ah so in general Ubuntu users just use `apt install` to get new applications. The trouble for us is that this only works for programs that are distributed through Ubuntu's repositories. Our package is distributed via Microsoft's repositories here: https://packages.microsoft.com. Our script goes about helping you out by adding our repository as a trusted place to install from. However, as part of t

[2019-06-17 20:38] marstr commented on #9562
I'm a bit confounded, @jlarrow! It says it's failing to find an empty file in the Y: drive, did you ever have anything mounted there? Any possibility that you are setting an environment variable in your PowerShell Profile that isn't being set in Command Prompt?

[2019-06-17 20:41] marstr commented on #9473
I'm going to close this out as a one-off error for now. However, if other people stumble on this and it needs a fix from us, I'm happy to open it back up.

[2019-06-17 20:41] #9473 closed

[2019-06-17 20:43] marstr commented on #9485
Closing this as a dupe of #7523

[2019-06-17 20:43] #9485 closed

[2019-06-17 20:57] marstr commented on #9667
@dcfsc, can you tell me anything more about your environment? I just install fresh on a Centos 7 container, and am able to use `aks` commands as expected.

[2019-06-17 21:16] mvvsubbu opened #9703 "Onboarding Request for PrepareNetworkPolicies feature for Azure CLI"
**Resource Provider**
Microsoft.Network

**Description of Feature or Work Requested**
This API gives permissions to a delegated service to apply or modify network intent policies on the given subnet.

**Minimum API Version Required**

2019-06-01

**Swagger Link**
[virtualNetwork.json](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FAzure%2Fazure-rest-api-specs%2Fblob

[2019-06-17 22:36] texnokot commented on #8687
Hey,

having same issues with "az container exec"
Tried to run python command with parameters:

`user1@Azure:~$ az container exec -g RG --name images1 --container-name images1 --exec-command "command.py -t some_parameter"
rpc error: code = 2 desc = oci runtime error: exec failed: container_linux.go:247: starting container process caused "exec: \"command.py -t some_parameter\": executable file not

[2019-06-17 23:23] ankurkhemani commented on #8588
// cc @jaysterp

[2019-06-17 23:32] jaysterp commented on #8588
The git access token did not have sufficient permissions. Replaced the token in the test and `--live` works correctly. The issue can be closed. //cc @tjprescott

[2019-06-17 23:50] patricklee2 commented on #9283
`HTTP_ENABLE_APP_SERVICE_STORAGE` does not get overwritten with `az webapp config container set`
Does the customer mean `WEBSITES_ENABLE_APP_SERVICE_STORAGE` is overwritten?

[2019-06-18 01:32] #9658 closed

[2019-06-18 01:32] yugangw-msft commented on #9513
https://github.com/Azure/azure-cli/pull/9705 fixes it

[2019-06-18 01:32] #9513 closed

[2019-06-18 01:32] yugangw-msft commented on #9455
https://github.com/Azure/azure-cli/pull/9705 fixes it

[2019-06-18 01:32] #9455 closed

[2019-06-18 01:48] ankitkumarr commented on #9126
This can be closed @ahmedelnably. Work was completed and released.

[2019-06-18 03:05] adewaleo commented on #9460
Looks like this is a problem with the [azure devops extension.](https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/?view=azure-cli-latest) Please can you open an issue [here (devops extension repo)](https://github.com/Azure/azure-devops-cli-extension) or [here (general cli extensions repo)](https://github.com/Azure/azure-cli-extensions)?

[2019-06-18 05:26] atbagga commented on #9460
@adewaleo It is a similar stack with same error but not the same issue. It is entirely different code base.

From the stack it looks like..
The error is in this function [_load_extension_images_from_publisher ](https://github.com/Azure/azure-cli/blob/9ad476d1911b2c46351f142c6112516d66e2af85/src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_actions.py#L116) where for some case versions

[2019-06-18 05:58] srv-twry commented on #9585
Facing the same issue here. The workaround mentioned by @jjgriff93 and @marchanddesable worked for me. Thanks!

[2019-06-18 07:18] idear1203 commented on #9400
Hi @daqing613 we are currently fixing this issue. It takes about 3 or 4 weeks from now. I will let you know the process. You can use RESTful API as a workaround. Add `subDomainSuffix` in the HTTP request payload

[2019-06-18 08:13] andreasottosson opened #9706 "--ssh-key-values"
Should this be --ssh-key-value ? Without the "s".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 152b549b-d4b3-13e5-081c-c604b6e4d89e
* Version Independent ID: 3f79be78-ce75-ad31-304b-bad7d475ec9e
* Content: [az vm](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#feedback)
* Content Source: [src/com

[2019-06-18 09:27] jotsif commented on #9577
Yes, this happens to me as well since 4.0.2

[2019-06-18 10:22] carlwoodhouse opened #9707 "[webapp] - az webapp config storage-account add without -slot-setting but with -slot creates sticky mount"
when running the following

[code]

A mount is created on the staging slot as expected, but this seems to be sticky (doesn't move to production with a slot swap) I thought this should only happen if you specify `--slot-setting`.

Works as expected when creating via portal

[2019-06-18 10:42] x10an14 commented on #9554
@yugangw-msft Email sent =) (from a `gmail.com` address)

[2019-06-18 11:52] GHSimeon opened #9708 "Using '--orderby' and '--top' without' '--detail' in 'az acr repository show-tags'"
Executing 'az acr repository show-tags -n MyRegistry --repository MyRepository --top 10 --orderby time_desc' (without the --detail flag) returns two warnings stating that the ordby and top flags are ignored when using them without the detail flag, yet the command still returns the top 10 tags ordered descending by time (if they're omitted all tags are shown unordered). I personally don't see a rea

[2019-06-18 14:23] jlarrow commented on #9562
@marstr, Thanks for pointing this out!  I didn't realize what that line was telling me.  You were correct — I looked at all occurrences of "Y:" in my environment and it turns out $env:HOME was the issue.  Now I just have to trace down where it's getting set incorrectly.  THANK YOU so much for helping me get this sorted out!

[2019-06-18 14:23] #9562 closed

[2019-06-18 14:40] dcfsc commented on #9667
Mine has been upgraded several times, so def not fresh.  Last system update was month ago?

I have pyenv installed (!), and
$ pyenv versions
  system
  3.5.6
  3.6.7
* 3.7.1 (set by /home/dc/.pyenv/version)
$ pyenv global  system
$ python --version
Python 2.7.5

So system == 2.7.5
I am not a Python guy, so anything else that might be helpful?

[2019-06-18 16:01] tjprescott commented on #9706
[code]

It accepts multiple values, so this is correct.

[2019-06-18 16:01] #9706 closed

[2019-06-18 16:35] tjprescott commented on #8588
@jaysterp this issue should only be close once the test has been converted back to a ScenarioTest.

[2019-06-18 16:35] #9126 closed

[2019-06-18 17:07] jaysterp commented on #8588
@tjprescott the tests were converted back to `ScenarioTest` and merged in https://github.com/Azure/azure-cli/pull/9655

[2019-06-18 17:12] #8588 closed

[2019-06-18 17:31] marstr commented on #9562
I'm glad I could help, @jlarrow! :)

[2019-06-18 17:41] marstr commented on #9667
Thanks for getting back to me, @dcfsc. That all looks to be in order.

Could you run the following commands and show me the output?

[code]
Also, if you could run `az --version` and use the absolute path of the python version it mentions to run:

[code]

[2019-06-18 17:46] guanchzhou opened #9711 "az sf cluster setting set doesn't work"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sf cluster setting set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sf cluster setting set -g {} -n {} --section {} --parameter

[2019-06-18 18:32] dcfsc commented on #9667
Sure no problem. Thanks for the help!

[code]

I updated to the latest azure-cli
[code]

and got the original error:
[code]
I used pyenv to flip back to Python 3.7.1
The `get-credentials` failed with the same stack.

I also tried using a new K8S cluster in a different subscription, same result.

[2019-06-18 18:33] mrwizard82d1 opened #9713 "Requesting metrics list-definition by id fails but name, resource group and type succeeds"
**Describe the bug**
Requesting a metrics list-definition of an existing resource using the resource ID copied from my Azure portal fails, but requesting a metrics list-definition using the resource name, resource group and resource type for the same resource succeeds.

**To Reproduce**
- Given I have created an Azure resource
- When I execute the command `az monitor metrics list-definitions --res

[2019-06-18 18:38] GLink commented on #9585
Seems there are two issues. This issue: [https://github.com/MicrosoftDocs/azure-docs/issues/32883](url) which was closed when referenced to here is actually the issue I experience, i.e setting up the aad integration for users in another tenant.

az aks create
....
    --aad-client-app-id $aadClientAppId ` This is the client id not found, but definitely exists
    --aad-server-app-id $aadServerAppI

[2019-06-18 18:40] #8592 closed

[2019-06-18 18:52] SteveLasker commented on #9579
Hi Eli,
Thanks for the feedback. It's hard to get the right level of detail in CLI docs, particuarly for a complex topic of images, tags, manifest, and shared layers. We are working to provide more detail in the complete docs: https://github.com/MicrosoftDocs/azure-docs-pr/pull/79861

For the CLI docs, lets re-order the examples, with a bit of clarity to help identify the manifest deletion, indexe

[2019-06-18 19:06] tjprescott commented on #9713
`/subscriptions/<subscription-id>/resourceGroups/<resource-group>/providers/Microsoft.Ev entHub/namespaces/<resource-type>`

That is not a resource ID.  If you add name, it will work:
`/subscriptions/<subscription-id>/resourceGroups/<resource-group>/providers/Microsoft.Ev entHub/namespaces/<resource-type>/<name>`