[2020-04-29 04:22] jarielpa opened #13241 "az extension add -n aro --index https://az.aroapp.io/stable fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az extension add`

**Errors:**
--- Logging error ---
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-d4ph977u\azure-cli-core\azure\cli\core\extension\__init__.py", line 148, in get_metadata
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-d4

[2020-04-29 04:23] jarielpa opened #13242 "az openshift list fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az openshift list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az openshift list`

## Expected Behavior

## Environment Summary
[code

[2020-04-29 04:37] jarielpa opened #13244 "az extension add -n aro --index https://az.aroapp.io/stable failed in centos 7"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az extension add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az extension add -n {} --index {}`

## Expected Behavior

## Environmen

[2020-04-29 05:11] haroldrandom commented on #13244
Dup with https://github.com/Azure/azure-cli/issues/13241

[2020-04-29 05:11] #13244 closed

[2020-04-29 05:12] haroldrandom commented on #13241
I guess the reason is the same as https://github.com/Azure/azure-cli/issues/13240.

Sincerely sorry for the incovenience, we fixed it #13222
The next release would be tomorrow.

If it's blocking for now, please try our Azure CLI edge build https://github.com/Azure/azure-cli#edge-builds to unblock you

[2020-04-29 05:14] haroldrandom commented on #13241
As far as I know, aro has onboarded to Azure CLI core, maybe a workaround could be `az aro -h`.

[2020-04-29 06:29] zhoxing-ms commented on #12488
Hi @Grayer123,
As the comments from @jiasli:
1. The following two service API have the logic of trim the tail space of tag value (by the way, the space before tag value is not trimmed)
[Create Or Update Value](https://docs.microsoft.com/en-us/rest/api/resources/tags/createorupdatevalue)
[Delete Value](https://docs.microsoft.com/en-us/rest/api/resources/tags/deletevalue)
2. If the tag data in the r

[2020-04-29 07:20] zhoxing-ms commented on #12885
across so far. Feels like they should maybe restrict this to stop the user entering spaces & potentially running across this issue.

This requires the service team to see why the resource id allows spaces in some resources.

Yes, this is a solution, and the service team needs to evaluate whether it is breaking change and whether it can be modified~
By the way, if this problem is not easy to solve

[2020-04-29 07:35] qwordy commented on #12902
PR is merged.

[2020-04-29 07:41] pascalnaber commented on #11213
Any update on this?

[2020-04-29 07:42] kooditoni opened #13247 "Azure Key Vault creation fails when enable soft delete is set to false"
# Describe the bug

Azure Key Vault creation using `az keyvault` gives an error when soft delete is disabled and does not create the key vault.

# To Reproduce

Running the following command
[code]
returns
[code]
# Expected Behavior

Should create the key vault with soft delete disabled.

# Environment summary
OS Name:                   Microsoft Windows 10 Pro
OS Version:                10.0.1776

[2020-04-29 07:45] yonzhan commented on #13240
add to S170

[2020-04-29 07:47] qwordy commented on #13111
@kevinhillinger @jonlester Are you still the code owner of apim?

[2020-04-29 07:48] yonzhan commented on #13242
openshift

[2020-04-29 07:51] #13079 closed

[2020-04-29 07:51] #8560 closed

[2020-04-29 07:51] #13033 closed

[2020-04-29 07:55] qwordy commented on #11821
It is fixed in latest Azure CLI.

[2020-04-29 07:55] #11821 closed

[2020-04-29 08:03] yungezz commented on #13247
hi @bim-msft could you pls have a look

[2020-04-29 08:06] ElvenSpellmaker commented on #13234
I'm not sure this issue is the same as the others that are linked to this BTW, at least I get absolutely no exception logs except `cli.azure.cli.core.util : `.

[2020-04-29 08:08] sarthakvijayvergiya commented on #13247
we are also facing this same issue.

Is azure CLI updated in the background?

[2020-04-29 08:14] #13148 closed

[2020-04-29 08:50] TomGeske commented on #13213
We use the same code for PowerShell and Windows Command Prompt. Most likely related to the way arguments are parsed and escaped.

We will continue investigate it. Please, use one of the workarounds suggested in the meantime.

@MikkelHegn can you help to investigate this?

[2020-04-29 09:17] haroldrandom commented on #13241
As a workaround, installing older version of Azure CLI could fix.
You could try `pip install azure-cli==2.4.0` if you are in a Python (virtual) env. but this could polute your env if you have other Python depencies in the same Python env.
Another option for windows is to download [2.4.0 in MSI format](https://azurecliprod.blob.core.windows.net/msi/azure-cli-2.4.0.msi) if you are using MSI installa

[2020-04-29 09:18] haroldrandom commented on #13240
As for installing older version of Azure CLI, you could try `pip install azure-cli==2.4.0` if you are in a Python (virtual) env. but this could polute your env if you have other Python depencies in the same Python env.

Another option for windows is to download [2.4.0 in MSI format](https://azurecliprod.blob.core.windows.net/msi/azure-cli-2.4.0.msi) if you are using MSI installation. Better uninst

[2020-04-29 09:31] qwordy commented on #12067
Version 0.2.4 should have fixed this issue.
[code]

[2020-04-29 09:31] #12067 closed

[2020-04-29 09:32] peterfleck opened #13248 "az ad app update set error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

setting knownClientApplications

**Command Name**
`az ad app update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad app update --id {} --set knownCl

[2020-04-29 09:43] yonzhan commented on #13248
@arrownj  please take a look

[2020-04-29 09:53] DoPaNik opened #13250 "az resource update fails with 'too many 502 error responses'"
## Describe the bug
When running `az resource update` against `microsoft.insights/scheduledqueryrules` resource, the command fails with 'too many 502 error responses' message.

**Command Name**
`az resource update`
or
`az resource tag`

**Errors:**
For `azure resource update --set tags...`:
[code]

For `azure resource tag --tags...`:
[code]

## To Reproduce:
Run
[code]

or run
[code]

## Expected

[2020-04-29 09:54] yonzhan commented on #13250
add to S170

[2020-04-29 10:19] qianwens commented on #13234
@ElvenSpellmaker I tried to run `az storage account list` (2.3.1) in cygwin but I cannot repro your error. Could you please try this in another machine or re-install cygwin?

[2020-04-29 11:07] vbrinza commented on #13247
have the same problem

$ az --version
azure-cli                          2.3.1 *

command-modules-nspkg              2.0.3
core                               2.3.1 *
nspkg                              3.0.4
telemetry                          1.0.4

Extensions:
azure-firewall                     0.3.0
aks-preview                       0.4.42
azure-devops                      0.12.0

[2020-04-29 11:55] HumanBug commented on #13247
Same here.
KeyVault creation without this option is also not possible.

[2020-04-29 12:07] ElvenSpellmaker commented on #13234
Hi there, reinstalling the whole of cygwin will be quite painful due to lots of eventual customisations and packages used haha. I'll try to see if I can possibly do it, but it's not as simple as it might seem.

However, I'm trying to get it to install in python2 (native windows version) and it's complaining that mock 4.0 doesn't exist and can't install it.
EDIT: I have to install version 2.2.0, al

[2020-04-29 12:22] ElvenSpellmaker commented on #13234
As it's no longer a Cygwin problem I thought about the only thing that Windows Python 2, Cygwin Python 3, and Cygwin Python 3 with venv share, which is the `~/.azure` directory.

I moved my `~/.azure` directory out of the way and re-logged in and the commands now seem to be working again.

Is there anyway we can debug why it fails with my current `~/.azure` directory?

It might be nice to get a be

[2020-04-29 12:50] jiasli commented on #13208
Hi @Krumelur, thanks for contacting us. I didn't introduce any change in the header resolving logic during 2.2.0 > 2.4.0. See the [blame](https://github.com/Azure/azure-cli/blame/4e1ed61cb44933fd59e4d44f729b09763c372895/src/azure-cli-core/azure/cli/core/util.py#L564-L571).

I suspect some headers are malformed. Could you run the command in Cloud Shell with `--debug` and share the result of the fir

[2020-04-29 12:56] jiasli commented on #12698
This is very good suggestion. We will see how to implement this during the MSAL integration: https://github.com/Azure/azure-cli/issues/12946.

[2020-04-29 12:57] SayakMukhopadhyay opened #13252 "Service Principal cache file not getting generated when using az aks create"
## Describe the bug
I am using azure-cli through Powershell using Terminal. According to docs and other issues, when I trigger `az aks create...`, I expected a `~\.azure\aksServicePrincipal.json` file but none is created. Thus everytime I create a cluster, a new service principle is generated in Azure AD.
**Command Name**
`az aks create`

**Errors:**
None. Except the cache file is not created.

##

[2020-04-29 13:07] jiasli commented on #13192
Azure CLI is written in Python. Besides it is impracticable to include all languages like Go, Ruby, C, etc. Also, [curl --libcurl](https://curl.haxx.se/docs/manpage.html#--libcurl) only supports C. 😉

You may be interested in [Azure SDK for Go](https://github.com/Azure/azure-sdk-for-go).

Another solution is to dump HTTP requests with `--debug` and make an HTTP call with any tools you like, includ

[2020-04-29 13:17] rloreto opened #13254 "After create a webapp with container image"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config container set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config container set --name {} --resource-group

[2020-04-29 13:20] yonzhan commented on #13252
aks

[2020-04-29 13:27] yonzhan commented on #13254
webapp

[2020-04-29 13:27] #12223 closed

[2020-04-29 13:44] i008817 commented on #13228
Hello
Thanks for taking cate of the request.
However even after the “Upgrade” of Python the error remains the same

Can you please name me the correct repositories where to upgrade from?

Thanks and best regards
Roland

From: Tatsinnit <notifications@github.com>
Sent: Dienstag, 28. April 2020 23:56
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Kramer, Roland <roland.kramer@sap.com>; Menti

[2020-04-29 13:45] loopfish commented on #12636
you can only ever have one AD admin.

[2020-04-29 13:53] Krumelur commented on #13208
You're right. It was my fault. I didn't realize that my "date" string had blanks in it.

This does (of course) not work:

[code]

The header value must be enclosed in quotes:

[code]

[2020-04-29 13:55] jiasli commented on #13208
Glad to know it is solved. 😊

[2020-04-29 13:55] #13208 closed

[2020-04-29 14:05] melezhik commented on #12636
@loopfish  , thanks. It worth to reflect this fact in the documentation, as it is currently  ambiguous.

[2020-04-29 14:20] rickystream94 commented on #13247
+1 same issue: running an ARM deployment with the following template fails with the same error, if the value provided to the `enableKeyVaultSoftDelete` parameter is set to `false`:

[code]

Worth noting that the [latest available Microsoft.KeyVaults/vauls API version (2019-09-01)](https://docs.microsoft.com/en-us/azure/templates/microsoft.keyvault/2019-09-01/vaults) specifies:

Whereas if you chec

[2020-04-29 14:40] travis-sobeck commented on #13213
Yeah, I've stash the work around in my code, so I'm fine,  Its more to help the next person.  Also, bigger picture .... how many other cases are there in AzureCLI where this can happen.

[2020-04-29 14:47] Heav3N2k commented on #8099
Hello, I had the same issue even after applying @jiasli fix which seems accurate in a pure certificate point of view Keyvault still denied to import the cert and i get format issue.
So the quickest reliable workaround has been to take openssl and merge the private key + the crt file and output a .pfx to be imported with success on the Keyvault.

[2020-04-29 15:00] the-vampiire commented on #13247
i am getting the same error but **without setting the flag** (so the default `true` should be used):

[code]

it fails to create. this was working as of yesterday afternoon but from last night to today is failing.

[2020-04-29 15:37] DoPaNik opened #13255 "`az resource tag` against a 'microsoft.containerregistry/registries/webhooks' resource failed with `missing property ServiceUri`"
## Describe the bug

When running `az resource tag` against `microsoft.containerregistry/registries/webhooks` resource, the command fails with 'Missing property ServiceUri ...' message.

**Command Name**
`az resource tag`

**Errors:**
[code]

## To Reproduce:
Run:
```az resource tag --tags {} {} {} {} {} --id {}```

## Expected Behavior
The resource ('microsoft.containerregistry/registries/webhook

[2020-04-29 15:37] josiahvinson commented on #13233
I was trying the examples here: https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#az-rest-examples and saw this failure on the first two:
[code]
[code]

[2020-04-29 15:59] MikkelHegn commented on #13213
Looking around a bit this seems like a common experience in PowerShell:
https://github.com/Azure/azure-cli/issues/7110 and from this https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_quoting_rules?view=powershell-7

_To make double-quotation marks appear in a string, enclose the entire string in single quotation marks._

[2020-04-29 16:17] the-vampiire commented on #13247
to follow up. the keyvault never gets created but i am getting a "The name 'test-key-vault' is already in use."

nothing appears under `az keyvault list` nor `az keyvault list-deleted`. it also does not exist on the azure console so this is not a CLI-only issue. idk if this is related but something odd is happening with az keyvault.

[2020-04-29 16:32] Cre8ivE-OnE commented on #8985
Documentation seriously needs to be update to reflect @joaopgrassi 's comment.

[2020-04-29 16:48] git001 commented on #13192
@jiasli "at libcurl" I know ;-)

I'm on the way to learn the go sdk but it's quite difficult because I'm new to go.
Okay so you mean we should close this issue?

[2020-04-29 18:39] peterinnesmsft commented on #13037
@zhoxing-ms thanks for addressing this! Will take a look today and confirm.

[2020-04-29 20:03] Tatsinnit commented on #13228
Hey @i008817 please follow the instruction and link I provided earlier I.e. you need to configure your local machine to correct purging version.

* This link has steps to do So:
https://github.com/Azure/azure-cli/issues/2529#issuecomment-287284321

Beyond that there nothing specific from Aks end which needs fixing.

Thanks

[2020-04-29 20:12] snapfisher opened #13256 "Current Windows CLI Download produces error output"
**Describe the bug**
Whenever I run a command, I receive logging error output.  For example, here is simply az --version:

PS C:\Users\pfisher> az --version
--- Logging error ---
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-d4ph977u\azure-cli-core\azure\cli\core\extension\__init__.py", line 148, in get_metadata
  File "C:\Users\VSSADM~1\AppData\Local\

[2020-04-29 20:13] btardif opened #13257 "az webapp up failing when RG needs to be created"
![image](https://user-images.githubusercontent.com/4119816/80642230-f86e9180-8a1a-11ea-9127-2ce0204c7c8f.png)

When trying to create an app by passing in minimum parameters resource group creation fails since it's missing location, this should be implied from app service defaults.

This works when I pass in location parameter however location parameter should not be required.

[2020-04-29 20:13] snapfisher commented on #13256
I have no idea why lines in the above are crossed through, I just copied it from PowerShell.

[2020-04-29 20:35] kosinsky opened #13258 "Creating NIC in the VNET from different subscription"
This doc says: "If you want to use an **existing subnet in other** resource group or **subscription**, please provide the ID instead of the name of the subnet." That assumes that I can create NIC using VNET from different subscription.
However, https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-network-interface#create-a-network-interface says: "Before creating a network interf

[2020-04-29 20:42] Shert opened #13259 "vnet check-ip-address weird result"
**Describe the bug**

issuing the command

`az vnet check-ip-address --resource-group ${myrg} --name ${myVnet} --ip-address ${myIpAddress}`

for the private ip of a sql managed instance, gives me the result for an unused/available ip

[code]

but I know that the ip address belongs to the SQL managed instance

**To Reproduce**
issue the command :

`az vnet check-ip-address --resource-group ${myrg}

[2020-04-29 21:45] pgbconfirmit commented on #12809
When installing the VMs using Terraform, we pre-pended the name of the VM to the name of the encryption extension when installing the extension, so perhaps this causes unexpected behavior when trying to decrypt the drives in the portal?

If you want to replicate our problem, I would suggest building a VM using the same process in terraform, with the VM name pre-pended to the extension name when in

[2020-04-29 22:13] shurd commented on #13229
Hi @nohajc, I am looking into this issue. I will update once I finish my investigation

[2020-04-29 22:27] johndoe0920 commented on #13247
I also got this error when trying to use the set-policy command for a MSI on the keyvault.

`az keyvault set-policy -n mirms-usw-user-kv --object-id <GUID> --subscription <Sub GUID> --key-permissions encrypt decrypt wrapKey unwrapKey sign verify get list create update import delete backup restore recover purge  --output json
The property "enableSoftDelete" must be set to true.`

[2020-04-29 23:06] yonzhan commented on #13255
add to S170

[2020-04-29 23:07] yungezz commented on #13259
hi @MyronFanQiu could you pls have a look

[2020-04-29 23:08] yungezz commented on #13258
hi @MyronFanQiu could you pls have a look

[2020-04-29 23:09] yungezz commented on #13256
hi @fengzhou-msft could you pls have a look, thanks

[2020-04-29 23:10] yungezz commented on #13257
routing to appropriate team

[2020-04-29 23:10] yungezz commented on #13248
s170

[2020-04-29 23:11] yungezz commented on #13250
resource

[2020-04-29 23:11] yungezz commented on #13252
routing to aks team

[2020-04-29 23:15] yonzhan commented on #13259
add to S170

[2020-04-29 23:16] yonzhan commented on #13258
add to S170

[2020-04-30 00:07] btardif opened #13261 "Update az webapp list-runtimes to use static list until new Available Stacks API is available"
- `az webapp list-runtimes` depends on the available stacks API
  - Available stacks API is updated with Antares deployments
  - Antares deployments are infrequent and don't line up with stacks EOL schedule.
- There are bugs in existing **Available Stacks API** around **LTS** and **Current** decorations
  - See `"DOTNETCORE|LTS"` and `"DOTNETCORE|Latest"`

## Windows

### Hide-Windows

- "node|0.6

[2020-04-30 02:06] jiasli commented on #13192
Hi @git001, I agree that SDK may be difficult to start with.

If the Azure management call is a one-time operation, I will go with the [http](https://golang.org/pkg/net/http/) REST API approach, which is more general and not language-specific. As for the authorization and authentication part, we recommend [using a Service Principal](https://docs.microsoft.com/en-us/cli/azure/create-an-azure-servic

[2020-04-30 02:09] jiasli commented on #13233
This is not exactly related to `az rest`, but to Cloud Shell's issue where it can't get the token. As @arrownj suggested, please use Azure CLI on a local machine or run `az login` in Cloud Shell and retry the command.

[2020-04-30 02:11] fengzhou-msft commented on #13256
will release a fix in 2.5.1 today.

[2020-04-30 02:19] ade-nz opened #13262 "Severity explanation incorrect"
The Azure CLI command reference says "Severity of the alert from 0 (low) to 4 (high)" but the Alerts Overview information on https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-overview indicates "...0 (critical) to 4 (verbose)".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d97968df-72c9-e50c-d5b1-54

[2020-04-30 02:19] hpsan commented on #13125
Hi Xing - Thanks for taking a look. Sent you an email with the template and parameters JSON files. Let me know if you need any additional information to debug.

[2020-04-30 02:41] mathieu-benoit commented on #13138
Seems to be the same issue as reported there: https://github.com/Azure/azure-cli/issues/12864

[2020-04-30 03:28] briandmaher opened #13264 "basic az list commands (and others) failing"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az resource list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az resource list -o {}`

## Expected Behavior

## Environment Summary
[

[2020-04-30 03:29] yungezz commented on #13264
hi @briandmaher just to confirm, did you run `azure cli` inside CloudShell? thanks

[2020-04-30 03:30] yungezz commented on #13262
hi @MyronFanQiu could you pls have a look? thanks

[2020-04-30 03:44] briandmaher commented on #13264
Hi Yunge – that’s right, though the command was technically from inside a Windows Terminal/Azure Cloud session on my laptop & not via the cloud shell in the browser, technically. No issues running commands that way before.

Thanks,
Brian

________________________________
From: Yunge Zhu <notifications@github.com>
Sent: Wednesday, April 29, 2020 11:29:58 PM
To: Azure/azure-cli <azure-cli@noreply.gi

[2020-04-30 03:45] #13240 closed

[2020-04-30 03:45] #13241 closed

[2020-04-30 04:13] jiasli commented on #13208
@Krumelur, I added some new contents in the doc. Maybe you are interested: https://github.com/Azure/azure-cli/pull/13249/files#diff-2f68bb7d55730e192dc93f133467a721R176-R194

[2020-04-30 04:14] jiasli commented on #13152
@silentbobbert, I added some new contents in the doc. Maybe you are interested: https://github.com/Azure/azure-cli/pull/13249/files#diff-2f68bb7d55730e192dc93f133467a721R162-R175

[2020-04-30 04:23] mathieu-benoit opened #13266 "az aks create|nodepool add --labels - labels ignored if prefix contains '.'"
**Describe the bug**
`az aks create|nodepool add --labels`,  labels are ignored if their prefix contains '.'.

**To Reproduce**
- `az aks create --labels test.test/test=test`
- or `az aks nodepool add --labels test.test/test=test`

**Expected behavior**
As described here https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/#syntax-and-character-set, prefix in labels could conta

[2020-04-30 04:23] mathieu-benoit commented on #13266
JFYI @jluk and @xizhamsft

[2020-04-30 04:31] anthonychu commented on #12622
I can't close this either. @fabiocav Can you close?

[2020-04-30 04:42] #12622 closed

[2020-04-30 04:45] EwertonJordao opened #13267 "az lab vm apply-artifacts error read artifact.json"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When i try to apply an artifact on my vm the exception occour.
**Command Name**
`az lab vm apply-artifacts`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
az

[2020-04-30 05:49] #11033 closed

[2020-04-30 06:01] yonzhan commented on #13261
webapp

[2020-04-30 06:07] yonzhan commented on #13262
add to S170

[2020-04-30 06:11] yonzhan commented on #13264
add to S170

[2020-04-30 06:16] yonzhan commented on #13266
aks

[2020-04-30 06:17] HumanBug commented on #13247
The KeyVault name must be global unique, therefore you can assume that the name is already used by other users.

[2020-04-30 06:18] yonzhan commented on #13267
lab

[2020-04-30 06:34] josiahvinson commented on #13233
Sure - that works. The issue is with running them specifically from the samples page I linked. There's user interface there to sign you in, and then I encountered errors after signing in and selecting a subscription.

[2020-04-30 07:10] yungezz commented on #13264
hi @briandmaher this is not azure cli issue, duplicate https://github.com/Azure/azure-cli/issues/13226. it's a known issue of Cloud Shell. Similar to #11749 (comment)
To solve it, please use Azure CLI on a local machine or run az login in Cloud Shell and retry the command

[2020-04-30 07:23] staff0rd commented on #9585
I keep getting this, so as mentioned above, instead of;
[code]
I use this instead;
[code]

[2020-04-30 07:25] zhoxing-ms commented on #13137
@hiyosh-msft @bureado @ns-abe-jun Hi, I have submitted a PR to solve this problem~

[2020-04-30 08:08] jsntcy opened #13270 "[CI] Performance downgrades dramatically for full tests after using pytest"
Description:
Performance downgrades dramatically for full tests (nearly 2000 tests) after using pytest.
Using nose, the time cost is about 60 mins.
Using pytest, the time cost is about 110 mins.

[2020-04-30 08:12] yonzhan commented on #13270
Performance downgrades

[2020-04-30 08:37] zhoxing-ms commented on #13125
@hpsan Hi, I still can't reproduce your problem. Could you please add `--debug` to the command you executed and show me the printed information?
If it involves private information, you can sent it to me by email~

[2020-04-30 09:28] isaaccarrington commented on #13190
PowerShell is NOT portable. We shouldn't have to use a myriad of YOUR tools to support YOUR products. Please consider adding the CLI so we can all be sane with some consistency.

[2020-04-30 09:35] qwordy opened #13271 "`az vm list-skus` table format column "restrictions" has ambiguity"
**Is your feature request related to a problem? Please describe.**

Table format:
[code]
However, it is only not available in zone 1.
[code]

**Describe the solution you'd like**

Please make table output accurate.

**Describe alternatives you've considered**

**Additional context**

[2020-04-30 09:35] git001 commented on #13192
thanks for the answers.

[2020-04-30 09:35] #13192 closed

[2020-04-30 09:46] yonzhan commented on #13271
Compute

[2020-04-30 09:53] #11927 closed

[2020-04-30 10:00] Benauld opened #13272 "az aks create - aks workshop 02 deploy"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --vm-set-type {} --load-balanc

[2020-04-30 10:00] haroldrandom commented on #13241
New Azure CLI 2.5.1 is released the bug should be fixed, please upgrade to the newer version.

Sorry for the trouble. We should be more careful. :(

[2020-04-30 10:03] haroldrandom commented on #13240
New [Azure CLI 2.5.1](https://azurecliprod.blob.core.windows.net/msi/azure-cli-2.5.1.msi) is released the bug should be fixed, please upgrade to the newer version.

Sorry for the trouble. We should be more careful. :(

[2020-04-30 10:14] bsuchorowski opened #13275 "CLI is logging on each command when service-principal is used"
2.5.0 and older

**Describe the bug**
We are experiencing same issues with login taking too long as described here https://github.com/Azure/azure-cli/issues/7465. We use self-hosted Azure Devops agent and AzureCLI@2 task. From time to time it takes a few minutes to login. As we are doing a lot of quering from our container registry via az acr command, we notices that our script (that contains ~10

[2020-04-30 10:15] bsuchorowski opened #13276 "CLI is logging on every command once service-principal is logged"
2.5.0 and older

**Describe the bug**
We are experiencing same issues with login taking too long as described here https://github.com/Azure/azure-cli/issues/7465. We use self-hosted Azure Devops agent and AzureCLI@2 task. From time to time it takes a few minutes to login. As we are doing a lot of quering from our container registry via az acr command, we notices that our script (that contains ~10

[2020-04-30 10:40] yonzhan commented on #13272
aks

[2020-04-30 10:46] yonzhan commented on #13275
@jiasli  please take a look

[2020-04-30 10:46] yonzhan commented on #13276
@jiasli please take a look

[2020-04-30 10:48] jiasli commented on #13275
Duplicate of #13276

[2020-04-30 10:48] #13275 closed

[2020-04-30 10:49] mjspeller commented on #13247
I am getting the same error 'The property "enableSoftDelete" must be set to true.' with Azure CLI 2.5.1
If i remove --enable-soft-delete from the command I still get the error even tho it is suppose to default to true.
If i specifically set it to true I can continue with my deployment. "--enable-soft-delete true"

[2020-04-30 10:59] nidiculageorge commented on #13190
@zjalexander to finalize az commands wont work on Runbooks.Running CLI from our machines is not an option

Can you please clarify on my above question

[2020-04-30 11:12] jiasli commented on #13276
Thanks for the feedback. It is by-design that service principal's access token is not cached and is retrieved every time a call is made.

https://github.com/Azure/azure-cli/blob/764332b65bd8758696df36921084c033d82e5ff9/src/azure-cli-core/azure/cli/core/_profile.py#L1129-L1133

We will consider implementing this during the Azure Identity adoption process. The functionality is already in [Azure Iden

[2020-04-30 11:24] Benauld commented on #13272
Tried it again and got a different error

ben@Azure:~$ az aks create \

AAD role propagation done[############################################]  100.0000%Operation failed with status: 'Bad Request'. Details: The VM size of AgentPoolProfile:nodepool1 is not allowed in your subscription in location 'uksouth'.  For more details, please visit https://aka.ms/cpu-quota

[2020-04-30 11:59] Abhishek-P commented on #13247
Same for me

[2020-04-30 12:28] kooditoni commented on #13247
If you run the `az keyvaylt create` command with `--debug`, you can see that the JSON payload that the command send to the REST API does not contain the property *enableSoftDelete* and it **does** contain the property *softDeleteRetentionInDays*.

It actually might be that the REST API does not respect the contract anymore. According to the the REST API [documentation](https://docs.microsoft.com/e

[2020-04-30 12:32] Pwd9000-ML commented on #13247
Same issue here.
Had to change some of my Terraform (local-exec provisioners) that uses this CLI to --enable-soft-delete true because all my pipelines were starting to fail :( because the false value did not allow the CLI to execute with error "The property "enableSoftDelete" must be set to true."

This is an issue for me because I create and destroy lots of keyvaults (sometimes with the same name

[2020-04-30 13:12] letmaik opened #13278 "How do I set the cache option for OS disks?"
Looks like the OS disk is created with read-only cache. Why not read/write and how can a VMSS be created with read/write OS disk cache?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0408c294-207a-2b72-7b93-e09121602b75
* Version Independent ID: 852cb67b-70c6-b811-3b0a-5d5b84b8a911
* Content: [az vmss](https://docs.mic

[2020-04-30 13:16] hajekj commented on #13081
From WSL2 20.04 (upgraded from 18.04), I had to make the change in `/usr/lib/x86_64-linux-gnu`

[2020-04-30 13:49] jetzerb commented on #13081
@hajekj : Ah, yes.  I'm running az from inside a Linux Docker container, and Docker runs a Linux VM behind the scenes.  On a true Linux system, Ubuntu's /lib is a symbolic link to /usr/lib:
[code]
I don't think there's any translation of symlinks from *NIX filesystems to NTFS, so it's not surprising that you had to go to `/usr/lib` to find the file in WSL.

[2020-04-30 15:18] yungezz commented on #13278
HI @qwordy could you pls have a look?

[2020-04-30 15:21] yungezz commented on #13272
hi @Benauld for the first issue, are you met it inside Cloudshell? If yes, it's a known Cloudshell issue, similiar with https://github.com/Azure/azure-cli/issues/13226.  For the second issue, need AKS team have a look.

[2020-04-30 15:44] tanmayeekamath commented on #13267
Hello @EwertonJordao,
Thanks for reaching out. We are investigating this on our end. Will get back to you once I have an update.

Tanmayee

[2020-04-30 16:02] jluk commented on #13272
@Benauld it looks like a quota issue, can you try a different region your sub may have quota for?

[2020-04-30 16:29] JoeSainsburys commented on #12751
I chased this up with MS and they seem to have found the issue and are in the process of fixing it

Hi Joe,

I hope this e-mail finds you well

Thank you for your quick response and I am glad that the issue is fixed .
The Microsoft Azure Platform team has investigated the issue which affected the Virtual Machine management operations like start/deallocate/delete. Our investigation determined that

[2020-04-30 16:47] panchagnula commented on #13257
@Kotasudhakarreddy this seems like a regression from the latest change you made - can you take a look so we can get this in for //BUILD release plus add a test case for this as well? Thank you.

[2020-04-30 16:59] leovms commented on #13267
@EwertonJordao, the query you are doing is to fetch the artifact definition. It is not good to generate an `artifacts.json` file content.

Here's a sample `artifacts.json` file content to install [Google Chrome](https://chocolatey.org/packages/GoogleChrome) using the [windows-chocolatey](https://github.com/Azure/azure-devtestlab/tree/master/Artifacts/windows-chocolatey) artifact from the [Public R

[2020-04-30 16:59] hpsan commented on #13125
@zhoxing-ms I've sent you the printed information when I ran it with --debug via email. Thank you!

[2020-04-30 18:44] jkewley opened #13279 "az extension azure-devops versioning regression from 4/28"
**Command Name**
`az extension list-available`
`az extension add --name azure-devops`

**Errors:**
Over the last couple of days the current version information for the `azure-devops` extension has changed from 1.25.9 to 0.18.0

On Wednesday `az extension add --name azure-devops` installed 1.25.9 on my workstation with CLI version 2.5.0. Without upgrading to 2.5.1 that extension still reports local

[2020-04-30 19:50] jkewley commented on #13279
Closed - looks like the correct version is actually 0.18.0 and the (resolved) bug was that a higher version number was temporarily available

[2020-04-30 19:50] #13279 closed

[2020-04-30 20:25] zjalexander commented on #13190
@nidiculageorge Az (CLI) commands won't work on runbooks run in the Azure sandbox.

[2020-04-30 21:12] ckittel commented on #12990
I can confirm this is happening as well, it looks like the template is downloaded and then provided to `/validate` as if it was a local file.

[2020-04-30 21:56] ckittel commented on #12890
Also reported at in #12990.  (just cross linking for folks that might be following one but not the other)

[2020-04-30 22:32] EwertonJordao commented on #13267
OK i try to use the same structure in this repo, the first moment I try to use without changes on artificacts.json , i recieve this mesage :

expected a artifactId

list index out of range
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-z6h9b3s8\knack\knack\cli.py", line 215, in invoke
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-z6h9b3s8\azu

[2020-04-30 23:06] thomasdavidneal opened #13281 "Webapp:Unable to install the EntityFrameworkCore.InMemory as part of the Create a Web API Tutorial"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Unable to install the EntityFrameworkCore.InMemory as part of the Create a Web API Tutorial

**Command Name**
dotnet add package Microsoft.EntityFrameworkCore.InMemory

**Errors:**
  Writing /tmp/tmpTcyjJa.tmp
info : Adding PackageReference for package 'Microsoft.EntityFrameworkCore.InMemory' into project '/hom

[2020-05-01 00:53] awentzel opened #13282 "webapp:runtime not supported"
When running `az webapp create` with `--runtime="node|10.0"` or  `--runtime="node|10.15"` an error occurs on CLI.

[code]
So far I have not found any that work on --is-linux app service plan.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2983e943-cce1-effd-57d0-cce4b0c0a7e1
* Version Independent ID: 4262c40a-7140-b420

[2020-05-01 01:12] yungezz commented on #13282
routing to appropriate team

[2020-05-01 01:14] yungezz commented on #13281
hi @thomasdavidneal could you pls share your repo steps for trouble shooting? Are you using azure cli in cloudshell? Are you trying to setup a .NET webapp?

[2020-05-01 01:23] donovanyng opened #13283 "az webapp deployment does not exit on error"
## Describe the bug
We've noticed in _some_ Web App deployments when running pipelines that the az webapp deployment command will raise a 500 error, but continue forward with the deploy. It does not exit.

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
The following is an example straight from one of our deploys. It just "returns" the following 502, but continues onward as

[2020-05-01 01:24] thomasdavidneal commented on #13281
I am following the below learning module:
https://docs.microsoft.com/en-us/learn/modules/build-web-api-net-core/
When I get to unit three were it asks to run the following command:
`dotnet add package Microsoft.EntityFrameworkCore.InMemory`
it returns the error listed in the initial issue. I have removed the directory created in the first unit and retried. I have changed the name of the directory.

[2020-05-01 02:21] the-vampiire commented on #13247
ah thank you. i thought it was just unique within a subscription but that makes sense now that i look at it given that it is used as a subdomain.

[2020-05-01 03:19] jiasli opened #13284 "[Feature Request] Support custom client ID for user authentication"
In `_profile.py`, support custom `client_id` so that other CLI tools (Azure Sphere CLI) can use [Azure CLI Core](https://github.com/Azure/azure-cli/tree/dev/src/azure-cli-core) without forking/vendering it.

[2020-05-01 03:36] jiasli opened #13285 "[Core] Allow disabling subscription finding"
This is previously raised by **IcM 154830377: Azure CLI fails if NSG doesn't allow ARM endpoint**

It should be possible to force `az login` to only do a tenant-level login and disable subscription finding. `--allow-no-subscriptions` only works when the tenant doesn't have any subscriptions.

This is helpful in these scenarios:

1. As in the IcM, if ARM endpoint (https://management.azure.com/ in p

[2020-05-01 03:40] jiasli commented on #13285
Introduced by https://github.com/Azure/azure-cli/pull/13053, `Profile.login` now has a flag `find_subscriptions` to disable subscription finding.

[2020-05-01 03:44] yonzhan commented on #13283
webapp

[2020-05-01 03:45] jiasli commented on #13284
Plan to implement this during Azure Identity Adoption.

[2020-05-01 03:47] yonzhan commented on #13284
sphere

[2020-05-01 06:25] Kotasudhakarreddy commented on #13257
@panchagnula - I am unable to repro the issue reported. Please find the details below.

**Able to deploy the site with minimal parameters.**

![image](https://user-images.githubusercontent.com/60102891/80786657-ebc87580-8ba1-11ea-8909-54d49cc952a5.png)

**able to browse the deployed site**

![image](https://user-images.githubusercontent.com/60102891/80786732-25997c00-8ba2-11ea-8644-13551e4c6c9b.pn

[2020-05-01 06:26] Kotasudhakarreddy commented on #13257
@panchagnula - can you please get the `--debug` logs from the reported user.

[2020-05-01 06:51] Benauld commented on #13226
Did and az login and that seemed to solve the bad request issue.
Change my region from uksouth to northeurope and got the following error. Tried to request extra cores but told cannot do this on the free year subscription. I am only trying to follow the Microsoft tutorials for deploying Kubernetes with AKS.

Operation failed with status: 'Bad Request'. Details: Provisioning of resource(s) for cont

[2020-05-01 07:09] rickardp commented on #10435
I cannot easliy get the exact error message back now, since we refactored the scripts now, but the problem was failing to open the file .azure/commands/X.

Awesome, then we can get rid of hacking the Python files in our Docker image. Even better would be an environment variable (since .azure is on a volume for us), but I'm sure we'll find a good way of solving this.

[2020-05-01 10:31] droplet-tech opened #13288 "Cannot set cors in file service storage"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage cors clear --services f` or `az storage cors list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage cors clear --ser

[2020-05-01 11:40] jsburckhardt commented on #13100
I faced this issue today. It was part of script I was running as part of a terraform deployment ... since I couldn't wait till this issue is resolved. I had to find a workaround for a workaround :D. I ended creating the container and then set the permission
'''
az storage container create --name {} --account-name ${}; az storage container set-permission --name {} --account-name ${} --public-access

[2020-05-01 11:41] krishnakarthi opened #13289 "Unable to register custom model when filesize ~>250MB"
**Describe the bug**
I have custom trainned model, which file size is ~250 MB. When i try to register the model i'm getting below error.
It would be highly appreciated if you help on this issue

**To Reproduce**

model = Model.register(model_path = "trainedModel.h5",
                       model_name = "mycustomModel",
                       description = "mycustomModel",
                       wo

[2020-05-01 11:47] yonzhan commented on #13288
add to S170

[2020-05-01 11:49] yonzhan commented on #13289
@krishnakarthi  was this related to Azure CLI?

[2020-05-01 15:07] jluk commented on #13226
@Benauld you will need to raise your cpu quota in order to fulfill the deployment, instructions can be found on that link shared in the error message.

[2020-05-01 15:09] ersameed commented on #7439
Hi,
I am facing a similar problem, unable to pass the variable. I need to create rules frequently.
This is what i am doing

group=PDC
nsg=mynsg
rule=allowweb
sourceip='10.10.01.5/32 192.168.1.10/32'
destinationport="*"

az network nsg rule create -g $group --nsg-name $nsg -n $rule --priority 500 \
    --source-address-prefixes $sourceip --source-port-ranges '*' \
    --destination-address-prefixes

[2020-05-01 15:10] panchagnula commented on #13257
@Kotasudhakarreddy thanks for the quick debugging here. I will add you to email with Byron on this. one more thing to check on your end is can you see if you have local/global context values set. open the folder Git13257Issue above and check if there is a .azure folder with a file that saves the RG, location & other values set. Just delete this folder and re-try & see if you repro it.

[2020-05-01 15:15] leovms commented on #13267
@EwertonJordao, the JSON in your last post is the artifact definition, (i.e. [artifactfile.json](https://github.com/Azure/azure-devtestlab/blob/master/Artifacts/windows-chocolatey/Artifactfile.json)). This is NOT the format for the payload when requesting to apply the artifact.

The original `artifacts.json` file contents example I put in my first response is the correct format. You put that conte

[2020-05-01 15:30] jgall commented on #12035
I also have this issue on MacOS 10.15.4 with the latest Homebrew install of azure-cli.

[2020-05-01 15:33] flytzen commented on #13100
@usrme says the expected behaviour is "A more meaningful error message stating that setting public-access is no longer needed in the latest version.". Unfortunately that isn't quite true: Omitting this parameter will give public access by default, which is not the same.
As @jsburckhardt pointed out, you now have to take two steps. In other words, the fix needs to be to re-instate the support for "

[2020-05-01 15:52] ThejaChoudary commented on #13261
Unable to repro the Issue.

[2020-05-01 16:07] awentzel commented on #13282
I resolved this issue by explicitly `list-runtimes` with the `--is-linux` argument.  So by running `az webapp create --is-linux --list-runtimes` the correct list of runtimes is displayed.  Selecting these works on Linux machines.

I do think that where runtimes for Windows and Linux match, they should be the same casing, same name, and work across platforms.  Currently, when listing runtimes on Wi

[2020-05-01 16:16] AndyP2 opened #13290 "If no unit is specified, defaults to bytes (B)"
It would be useful to explain the units that can be specified here, or at least an example suggesting that "102400MB" is what it might look like with units specified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 913a9562-cc87-8935-b842-ed6d072b3c1b
* Version Independent ID: 88419164-baee-4723-7453-bdb340d5ea74
* Cont

[2020-05-01 16:17] panchagnula commented on #13261
@ThejaChoudary we need to temporarily change our support to return a hard coded list of values instead of using the API to return the list of supported runtimes.

[2020-05-01 16:35] seushermsft opened #13291 "Webapp:az webapp deployment slot swap should support preserveVnet"
**Is your feature request related to a problem? Please describe.**

When swapping slots in an App Service via `az webapp deployment slot swap`, you can't specify preserve vnet.

**Describe the solution you'd like**

[code]

**Describe alternatives you've considered**

Alternatively, we can directly call the management API, use an existing language SDK, or use the Azure Devops App Service pipeline

[2020-05-01 16:39] csharpdocs opened #13292 "az group show and az group show not returning me resource group id(GUID format)"
**Describe the bug**

I need newly created resource group id(guid) to set scope of new service principal using cli command to restrict to resource group of subscription.

$newResourceGroup = $(az group create ...) | ConvertFrom-Json
$$newResourceGroupId = $newResourceGroup.ResourceGroupId(here is bug.. i want GUID)
$newServicePrincipal = $(az ad sp create-for-rbac -- name "somename" --scopes "/sub

[2020-05-01 17:15] infa-dgowran commented on #8010
Any updates on cli support ? trying to automate the Azure Activity Log connection to subscription with Log Analytics Connection. this does not appear to have a cli option.

![image](https://user-images.githubusercontent.com/55835575/80825145-b8a0d900-8bd7-11ea-9a41-d38d61589d89.png)

[2020-05-01 17:46] EwertonJordao commented on #13267
I'm sorry my mistake, I use this artifacts.json:
[code]
and recieve this error:
Az cli on my:
Deployment failed. Correlation ID: ede388bd-af7a-4258-8a04-da9a477ef699. InternalServerError has occurred with ClientRequestId [ebf386c8-8bd1-11ea-826f-105badfb4d58]
Az cli on azure:
Deployment failed. Correlation ID: 115df635-9239-4c33-82a8-8a6945519115. InternalServerError has occurred with ClientReques

[2020-05-01 17:53] jiasli opened #13293 "Support PEP 420 -- Implicit Namespace Packages"
As [Python 2 has been deprecated](https://www.python.org/doc/sunset-python-2/), we should move away from the `pkg_resources` approach and use [PEP 420 -- Implicit Namespace Packages](https://www.python.org/dev/peps/pep-0420/).

Importing `pkg_resources` will add a 100ms~200ms delay to CLI's loading time.

[code]
[code]

![image](https://user-images.githubusercontent.com/4003950/80827403-78ad1680-8

[2020-05-01 17:57] leovms commented on #13267
As I indicated in my response, you are missing double quotes in the `boolean` values `true` and `false`. Change that and it should work. Look at the `artifacts.json` sample again and you will see it is corrected.

[2020-05-01 18:13] EwertonJordao commented on #13267
@leovms thanks you.

I forgot the double quotes,  who can I suggest implement feedback on artifact results?
![image](https://user-images.githubusercontent.com/12378570/80829286-399ea700-8bbd-11ea-98bb-7ec905e0dcfa.png)
Because of status pending in return is insufficient to find what is wrong in the call, not clean about what's happening, no have any log and when I consult log monitor of my subscri

[2020-05-01 18:17] leovms commented on #13267
We already have a bug in our backlog to fix that. The error you happen to run into is because of JSON parsing (i.e. the missing quotes). If you look at the `Activity Logs` you can find it, but you have to dig a bit. However, I agree that it is definitely best to bubble up a better message, as that error simply indicates it is unhandled.

[2020-05-01 18:34] allenjzhang commented on #13290
Thank you @AndyP2 for your suggestion. @yungezz Can you take look?

[2020-05-01 18:40] bquantump commented on #13292
Thank you for your question @csharpdoc. @yungezz can you take a look?

[2020-05-01 18:54] bquantump commented on #13291
Thank you for your suggestion @seushermsft. @yungezz PS does/provides this, can we look into adding it?

[2020-05-01 19:07] the-vampiire opened #13296 "az ad app list: shows empty list, expected to display adb2c apps linked to the subscription"
**Describe the bug**

i have created an adb2c directory and linked it to my subscription as per the docs. when (authed under the account with that subscription) i run `az ad app list` i get an empty list. i expected to see my adb2c app displayed.

have also tried `az ad app show --id <adb2c app ID>` and told it doesnt exist.

**To Reproduce**

1. create adb2c directory
2. link to main account subs

[2020-05-01 20:19] fabiendelpierre opened #13297 "az postgres server create/update - no support "InfrastructureEncryption" REST API parameter"
The Azure Resource Manager provider for Terraform recently (in v2.7.0) added support for an argument called `infrastructure_encryption_enabled`, which I assume corresponds to the `InfrastructureEncryption` parameter of the REST API (reference [here](https://docs.microsoft.com/en-us/rest/api/postgresql/servers/create#infrastructureencryption)).

Unfortunately it does not appear that this particular

[2020-05-01 20:48] mvvsubbu commented on #9742
az cli should add support for -InFile, so customers can simply give a valid Json as input, rather than having to do lot of work arounds

Invoke-RestMethod -Method "PUT" -Headers $requestHeader -Uri $uri -InFile $replicationGroupConfigPath

[2020-05-01 20:49] sirredbeard opened #13298 "Submitting an image configuration to the VM Image Builder service in Azure Cloud Shell fails."
![image](https://user-images.githubusercontent.com/33820650/80840522-838e8980-8bcb-11ea-9fc3-a98aeeccec1f.png)

## Describe the bug

Submitting an image configuration to the VM Image Builder service in Azure Cloud Shell [per documentation](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/image-builder#create-the-image):

[code]

Fails with a cryptic message:

[code]

Even when --loc

[2020-05-01 21:00] sirredbeard commented on #13298
I can reproduce on Azure CLI on WSL:

![Annotation 2020-05-01 165901](https://user-images.githubusercontent.com/33820650/80841361-36abb280-8bcd-11ea-9b7b-5805124c4f0d.png)
![Annotation 2020-05-01 165959](https://user-images.githubusercontent.com/33820650/80841363-38757600-8bcd-11ea-8394-e87df1f734d3.png)

[2020-05-01 21:19] sirredbeard commented on #13298
![Annotation 2020-05-01 171307](https://user-images.githubusercontent.com/33820650/80842225-0b29c780-8bcf-11ea-991e-da4b7f1802bf.png)
![Annotation 2020-05-01 171515](https://user-images.githubusercontent.com/33820650/80842344-59d76180-8bcf-11ea-89d5-dcefd41464e0.png)

[2020-05-01 22:04] bquantump commented on #13297
Thank you for your request and question @fabiendelpierre. @yungezz it looks like the swagger supports this, can we add this as a feature?

[2020-05-01 22:06] bquantump commented on #13297
@shinilm can you provide more information on what the InfrastructureEncryption  does?

[2020-05-01 22:17] danielkon96 commented on #11195
I would love to have this option so that I can downgrade my ASE from premium to consumption.

[2020-05-01 22:47] oomichi commented on #12138
Character data handling is different between python 2 and python 3.
After started using "az" command of python 3 with the following way, I don't face this issue.
[code]

[2020-05-01 22:47] #12138 closed

[2020-05-01 23:59] yonzhan commented on #8010
@nkiest any update for this?

[2020-05-02 00:00] yonzhan commented on #13293
add to S169

[2020-05-02 00:05] yonzhan commented on #13290
az sql is owned by sql service team.

[2020-05-02 00:07] yonzhan commented on #13292
add to S170

[2020-05-02 00:37] philspokas opened #13299 "az role definition update returns unexpected error"
## Describe the bug
Execute az role definition update with what appears to be a valid role definition json returns unexpected error with traceback

**Command Name**
``az role definition update --role-definition "customrole.json"

**Errors:**
The command failed with an unexpected error. Here is the traceback:

'roleName'
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Tem

[2020-05-02 00:42] fabiendelpierre commented on #13297
I reached out to Azure support separately regarding the purpose of this new setting. Their response was that it's a new capability for Azure MySQL and Postgres databases, which adds a second layer of encryption using a different algorithm, protecting the data from compromise of the first algorithm.

They added that the feature is in development and will be rolled out in the coming months, and they

[2020-05-02 02:20] bureado commented on #13298
@danielsollondon

[2020-05-02 04:04] btardif commented on #13257
@Kotasudhakarreddy please try the repro without having the localcontext set (.azure dir)

I can repro this at will :

![2020-05-01_20h59_49](https://user-images.githubusercontent.com/4119816/80854700-2a385180-8bef-11ea-8de0-33fc8ce4ecc3.gif)

[2020-05-02 06:13] iyerusad commented on #12193
Outputting informational message to stderr is in violation of **decades** of expected behavior of stderr. Informational messages typically belong in stdout.

If you are not sure how to fix this or authentication is upstream provider out of your control: A wrapper function that will try/catch each auth method and only outputs to stderr if none of the authentication methods were unsuccessful could h

[2020-05-02 07:55] yonzhan commented on #13291
webapp will be taken care by service team

[2020-05-02 07:57] yonzhan commented on #13296
@arrownj  please take a look

[2020-05-02 08:01] jiasli commented on #9742
`az rest` does support input file, please check the help with
[code]

[2020-05-02 08:03] mvvsubbu commented on #9742
got it thanks

[2020-05-02 09:10] usrme commented on #13100
Oh, damn! I must've missed that as I was sure that the default permission was to deny public access.

[2020-05-02 11:03] mattruma opened #13301 "--enable-managed-identity does not seem to be working"
When I use --enable-managed-identity with a value of true, I am getting a `'ApiManagementServiceResource' object does not support item assignment` error message.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 197d8382-ee16-6001-4941-768877379c0d
* Version Independent ID: 1423fa76-977f-ad88-8129-0b52a38e68e6
* Content:

[2020-05-02 13:03] yonzhan commented on #13299
@arrownj please take a look

[2020-05-02 13:05] yonzhan commented on #13297
az postgres is currently taken care by postgres service team.

[2020-05-02 13:13] yonzhan commented on #13301
apim

[2020-05-02 13:25] yonzhan commented on #11081
add to S169

[2020-05-02 13:25] yonzhan commented on #11054
add to S169

[2020-05-02 13:25] yonzhan commented on #10841
add to S169

[2020-05-02 13:26] yonzhan commented on #10820
add to S170

[2020-05-02 13:27] yonzhan commented on #10641
add to S170

[2020-05-02 13:29] yonzhan commented on #10121
container

[2020-05-02 13:29] yonzhan commented on #10116
add to S170

[2020-05-02 13:30] yonzhan commented on #10039
container

[2020-05-02 13:31] yonzhan commented on #9686
add to S170

[2020-05-02 13:31] pourpak opened #13302 "Exception 400 from http://localhost:50342/oauth2/token"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-05-02 13:32] yonzhan commented on #9451
add to S170

[2020-05-02 13:33] yonzhan commented on #9339
ams

[2020-05-02 13:34] yonzhan commented on #9295
aks

[2020-05-02 13:35] yonzhan commented on #9215
security

[2020-05-02 13:36] yonzhan commented on #9204
add to S170

[2020-05-02 13:37] yonzhan commented on #9197
container

[2020-05-02 13:38] yonzhan commented on #9135
backup

[2020-05-02 13:38] yonzhan commented on #9038
aks

[2020-05-02 13:39] yonzhan commented on #8984
ACR

[2020-05-02 13:40] yonzhan commented on #8904
aks

[2020-05-02 13:40] yonzhan commented on #8736
lab

[2020-05-02 13:40] yonzhan commented on #8687
container

[2020-05-02 13:41] yonzhan commented on #8651
consumption

[2020-05-02 13:41] yonzhan commented on #7593
container

[2020-05-02 13:43] yonzhan commented on #6802
MSAL

[2020-05-02 13:45] yonzhan commented on #13302
webapp

[2020-05-02 14:18] yonzhan commented on #12868
add to S171

[2020-05-02 14:23] yonzhan commented on #8941
ARM service attention

[2020-05-02 14:26] yonzhan commented on #12873
add to S171

[2020-05-02 16:49] Gavin-J opened #13303 "install cli failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2020-05-02 18:57] jluk commented on #8984
Removing AKS tag as this is an ACR error

[2020-05-02 20:19] s-tuli opened #13304 "Import an existing certificate failure: Unable to assign an existing policy"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault certificate import`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
You should be able to get the policy with the ‘az keyvault certificate show’ command, download the fi

[2020-05-02 22:06] mromanch commented on #9332
@RandalliLama

# Workaround
Try using `--file /dev/stdout` and/or `--file /dev/fd/1`.

**Note:** This will not work in Azure Cloud Share because you don't have write access to `/dev` (_presumably a limitation of the container configuration._)
**Note:** This will not work on Windows because Windows, i.e. you don't have `/dev`. (_I'm willing to be wrong about this and would_ love _to hear I am, with

[2020-05-02 22:07] mromanch commented on #9332
@bim-msft -- please reopen.

It isn't clear to me why the commands "are not designed for piping". It is not async, long-running, interactive, generating verbose data that isn't part of the data, nor does it have any other property that would make it hard to use in a pipeline. The only thing that would indicate it is "not designed for piping" is the fact that `--file` is a required argument and the

[2020-05-02 23:23] yonzhan commented on #13303
aks

[2020-05-02 23:24] yonzhan commented on #13304
@bim-msft please take a look

[2020-05-02 23:31] yonzhan commented on #12874
@Andriy-dev  any update for this ?

[2020-05-02 23:32] yonzhan commented on #12933
@rvelasquez08  any update for this?

[2020-05-02 23:33] yonzhan commented on #12875
add to S171

[2020-05-02 23:41] Drewm3 commented on #13298
@danielsollondon, could you take a look at this issue?

[2020-05-02 23:46] yonzhan commented on #12886
add to S171

[2020-05-02 23:49] yonzhan commented on #12890
add to S171

[2020-05-02 23:51] yonzhan commented on #12901
add to S171

[2020-05-02 23:53] yonzhan commented on #12905
add to S171

[2020-05-02 23:56] yonzhan commented on #12909
add to S171

[2020-05-02 23:59] yonzhan commented on #12925
add to S171

[2020-05-03 00:02] yonzhan commented on #12934
add to S171

[2020-05-03 00:04] yonzhan commented on #12935
add to S171

[2020-05-03 00:11] yonzhan commented on #12941
add to S171

[2020-05-03 00:12] ckittel commented on #12890
This was in 169. Does this mean that it's going to be delayed? azbb (from p&p team) is broken until this is fixed. Feel free to follow up with me on Teams if there are questions, @yonzhan.

This is also not a feature request, it's a breaking change that's impacting customers.

[2020-05-03 00:15] #12953 closed

[2020-05-03 00:24] yonzhan commented on #12965
add to S171

[2020-05-03 00:24] yonzhan commented on #12965
@nakamacchi any update for this issue?

[2020-05-03 00:26] yonzhan commented on #12977
add to S171

[2020-05-03 00:29] yonzhan commented on #12986
add to S171

[2020-05-03 00:31] yonzhan commented on #12990
add to S171

[2020-05-03 00:39] yonzhan commented on #13009
add to S171

[2020-05-03 00:42] yonzhan commented on #13012
add to S171

[2020-05-03 00:47] garthkerr opened #13305 "Respect KUBECONFIG env for get-credentials"
**Describe the solution you'd like**
Currently, to override the system default `~/.kube/config` path there is an optional parameter `--file` for the `az aks get-credentials` command. When the parameter is not provided, the CLI should respect the value of `KUBECONFIG` environment variable in the current shell context.

**Additional context**
This is useful for workflows with direnv, etc. and provid

[2020-05-03 00:48] yonzhan commented on #13024
add to S171

[2020-05-03 00:50] yonzhan commented on #13029
add to S171

[2020-05-03 00:50] #13029 closed

[2020-05-03 01:12] #13037 closed

[2020-05-03 01:14] yonzhan commented on #13043
add to S171

[2020-05-03 01:15] yonzhan commented on #13044
add to S171

[2020-05-03 01:16] yonzhan commented on #13056
add to S171

[2020-05-03 01:19] yonzhan commented on #13065
@rmcanall any update?

[2020-05-03 02:24] yonzhan commented on #13164
@kethahel99 any update for this？

[2020-05-03 02:43] yonzhan commented on #13188
add to S170

[2020-05-03 02:52] yonzhan commented on #13232
add to S171

[2020-05-03 03:03] yonzhan commented on #13270
add to S170

[2020-05-03 03:20] yonzhan commented on #12890
@ckittel  Thanks to bring it out. We will plan it in this Sprint with high priority.

[2020-05-03 03:22] yonzhan commented on #13305
aks

[2020-05-03 03:26] yonzhan commented on #10317
add to S170

[2020-05-03 03:41] yonzhan commented on #11050
add to S170

[2020-05-03 03:43] yonzhan commented on #11049
add to S170

[2020-05-03 03:44] balaji-suse commented on #13209
I just created a SLES 15 SP1 PAYG VM. I ran into same error.

[2020-05-03 03:44] yonzhan commented on #11190
add to S170

[2020-05-03 03:47] yonzhan commented on #10798
add to S170

[2020-05-03 03:50] yonzhan commented on #10631
add to S170

[2020-05-03 03:51] yonzhan commented on #10524
add to S170

[2020-05-03 05:06] yonzhan commented on #10764
add to S170

[2020-05-03 05:08] yonzhan commented on #9605
add to S170

[2020-05-03 05:12] yonzhan commented on #11146
add to S170

[2020-05-03 05:13] yonzhan commented on #9517
add to S170

[2020-05-03 05:14] yonzhan commented on #9506
add to S170

[2020-05-03 06:57] kimgoodman opened #13306 "More option for "az storage blob list --container-name ""
az storage blob list --container-name
This command only shows item from oldest to newest. Please add option to get the list from newest to oldest. If my container has too many items, it will create a huge string of json in my code. The option --num-results also only returns string from oldest to newest. Meanwhile, I only needs few recently items and those are only at the end of the list. Please no

[2020-05-03 08:02] yonzhan commented on #13306
add to S170

[2020-05-03 12:02] ridhabnj opened #13307 "IsADirectoryError: [Errno 21] Is a directory"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob download-batch`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob download-batch -d {} -s {} --account-name

[2020-05-03 12:16] ElYusubov opened #13308 "File share generation example does not work"
**Describe the bug**
Getting error when running example of Azure File Share generation below when AZURE_STORAGE_KEY env variable is already set:
az storage share create --account-name MyAccount--name MyFileShare

**To Reproduce**

Run sample CLI command of file share creation from:
https://docs.microsoft.com/en-us/cli/azure/storage/share?view=azure-cli-latest#az-storage-share-create

**Expected be

[2020-05-03 13:03] reddyfull opened #13309 "AZ issue on Cloud Shell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-05-03 13:40] yonzhan commented on #13307
add to S170

[2020-05-03 13:51] yonzhan commented on #13309
@reddyfull what is the detailed issue on Cloud Shell?

[2020-05-03 13:52] yonzhan commented on #13308
add to S170

[2020-05-03 17:19] dash042 commented on #2795
using the recommended approach results in "Cannot parse the request."

[2020-05-03 18:59] ckittel commented on #12890
Thank you @yonzhan -- there are becoming more and more reports of this.  Basically anyone using az cli to do template uri-based deployments where the templates use the `templateLink` property are running into this.

[2020-05-03 20:34] rpstester opened #13310 "Login failed because it won't let me switch accounts"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I just downloaded and install the AZ CLI.  I ran the 'az login' command.  It opened in Chrome, my default browser.  It shows my currently logged-in (o365) account, and my test (Microsoft) account. I want to log in with my test account.
![Azure login fail 1](https://user-images.githubusercontent.com/32249806/809

[2020-05-03 20:34] rpstester commented on #13310
Hey, I'm the 1001st issue! Cool!

[2020-05-03 20:36] rpstester commented on #13310
I see if I simply go to portal.azure.com in Chrome, that I have the same problem.

[2020-05-03 20:38] rpstester commented on #13310
I found a workaround by clicking "another account" and typing in my test/Microsoft email address, and it let me in.

[2020-05-03 22:31] ahmadabdalla opened #13311 "Create Rollout Doesn't exist"
I've noticed that the creation of a roll out resource doesn't exist in CLI nor PowerShell. The only way to provision it is via the the ARM Template.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 530d76b4-5e6e-b66f-fca7-e8739659a6cc
* Version Independent ID: ea1e403c-fa38-b4b0-09bc-9e6482e4c138
* Content: [az deploymen

[2020-05-04 01:32] yonzhan commented on #13310
add to S170

[2020-05-04 01:34] yonzhan commented on #13311
add to S170

[2020-05-04 01:36] mohamedhafez opened #13312 "creating a cert for authentication generates a world-readable private key"
running `az ad sp create-for-rbac --name ServicePrincipalName --create-cert` creates a pem file with a certificate and a private key in it, but the file is world-readable.

cli version 2.5.1, Ubuntu 18.04

[2020-05-04 01:48] yonzhan commented on #13312
@arrownj please take a look

[2020-05-04 02:55] Andriy-dev commented on #12874
Thank you. It cannot be reproduced, I will create another issue if it happens again

Sent from my iPhone

[2020-05-04 03:19] mohamedhafez opened #13313 "apt package uses an old version of python with CVE vulnerabilities"
On Ubuntu 18.04, installing via `apt`, the cli (version 2.5.1) uses its own bundled version of python, 3.6.5. The current python 3.6.x release is 3.6.10, and there's [several CVE's that have been fixed in between](https://docs.python.org/3.6/whatsnew/changelog.html), for example

[2020-05-04 03:25] #12874 closed

[2020-05-04 03:27] yonzhan commented on #13313
@fengzhou-msft  please take a look

[2020-05-04 03:30] yungezz commented on #13309
hi @reddyfull could you pls share what az commands you run to help troubleshooting? thanks.

[2020-05-04 03:32] kimgoodman opened #13314 "Please create options import/export"
In Azure storage explorer UI, there are options import/export from/to *.csv. But I can't find equivalent "az" command. Please create options import/export tables.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d98c5d1b-370a-af8f-4ef4-396d8854d45d
* Version Independent ID: b824a8dc-0db7-cf03-fed2-70f77bfa7c0f
* Content:

[2020-05-04 03:41] yungezz commented on #13314
hi @Juliehzl could you pls have a look? thanks

[2020-05-04 03:43] yungezz commented on #13313
thanks for reporting the issue. @fengzhou-msft let's sync on how to keep it updated

[2020-05-04 03:45] yungezz commented on #13303
seems downloading issue.

[2020-05-04 03:47] yungezz commented on #13302
hi @pourpak are you met the issue on Cloudshell? If yes, this is a known issue of Cloudshell, simliar to https://github.com/Azure/azure-cli/issues/13233. To solve it, please use Azure CLI on a local machine or run az login in Cloud Shell and retry the command.. Let us know if any other need.

[2020-05-04 03:52] yonzhan commented on #13314
add to S169

[2020-05-04 04:42] bim-msft commented on #11950
@anujelanco Hi, we will investigate this. Gentle reminder: you can open a new issue to better describe the question, and this also help us to better track the process.

[2020-05-04 07:03] Kotasudhakarreddy commented on #13257
@btardif - thanks for providing -debug log. Yes I am able to repro the issue after removing local context. I am analysing further to figure out the root cause.

[2020-05-04 07:54] roundbatman opened #13316 "deployment group validate/create responds with Unicode deserialization error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Re-produced with OSX, Windows and Linux. To my understanding cli sends the request to management.azure.com and server is unable to deserialize content to Unicode.

**Command Name**
`az deployment group validate`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values ha

[2020-05-04 07:54] flytzen commented on #13100
@usrme Apologies. I tested it and it looked to me like it didn't set it to "private". However, I have just tried again and I was wrong. Don't know what I was smoking :)

[2020-05-04 07:54] MikkelHegn commented on #13121
https://github.com/Azure/azure-cli-extensions/pull/1635

[2020-05-04 08:04] RobCoPKC commented on #12791
So what was the solution? We're facing the same issue.

Cheers,
Robin

[2020-05-04 11:09] priyank-b opened #13317 "Null templateLink returned in deployment().properties in 2.5.1 azure cli"
**Describe the bug**

Following az command is brokern:
az deployment group create -g <resource_group> --template-uri "https://devtestzipacc.blob.core.windows.net/test/mainTemplate.json" --name "test"

It used to return templateLink correctly in older version. With latest update, it is sending null.

**To Reproduce**

Use this command in 2.5.1 azure cli. It returns null templateLink property.
az de

[2020-05-04 11:10] askanymark commented on #13093
I'm getting the same error with `azure-iot` extension:

[code]
It happens, when I try to execute this command:

`az iot hub show --query properties.eventHubEndpoints.events.endpoint --name "HubNameHere"`

[2020-05-04 11:33] AdminTurnedDevOps opened #13318 "az aks install-connector doesn't recognize --name param"
**Describe the bug**
When I use the --name parameter in the az aks command with the install-connector switch, the output states that the --name switch isn't recognized. However, it is shown in the documentation here: https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-install-connector

![image](https://user-images.githubusercontent.com/28905827/80961789-adb59680-8dd9-11ea-

[2020-05-04 12:53] gguerrero commented on #8831
Same issue here:
[code]

[2020-05-04 13:18] cccs-eric commented on #3447
@limingu, can this be re-opened please (instead of me creating yet another issue)?  The proposed workaround totally misses the point about using pipes.  I'd like to use this feature for the exact same reasons as @diepes .  We have very large datasets that we would like to upload to our datalake without having to attach large temporary disks to our VMs.

I think this feature would be a great and us

[2020-05-04 14:00] yonzhan commented on #13316
add to S169

[2020-05-04 14:00] fungiboletus opened #13319 "How to refresh multi-factor authentication ?"
**Is your feature request related to a problem? Please describe.**
Sometimes, you get an error such as this one :
```…you must refresh your multi-factor authentication to access 'uuid'…```

**Describe the solution you'd like**
It would be nice to have a refresh feature.

**Describe alternatives you've considered**

The solution today is to login again and get credentials again. This takes time.

[

[2020-05-04 14:05] yonzhan commented on #13317
add to S169

[2020-05-04 14:07] yonzhan commented on #13318
aks

[2020-05-04 14:11] yonzhan commented on #13319
add to S170

[2020-05-04 14:36] danielsollondon commented on #13298
Looking now...

[2020-05-04 14:39] mormond commented on #13070
Seeing the same behaviour. My current TZ is BST (GMT+1) and a SAS token is generated which appears to use local time as the GMT start time for the token. As an example, I did an az functionapp deployment... and visited the WEBSITE_RUN_FROM_PACKAGE URL. Result is Authentication Failed with the error detail:

[2020-05-04 14:57] sirredbeard commented on #13298
Thank you @danielsollondon those are very helpful.

[2020-05-04 15:23] GabyCT opened #13320 "Can't find ubuntu 20.04 with azure cli"
I am trying to find ubuntu 20.04 with azure cli and I can't, I tried the following
$az vm image list --offer UbuntuServer --output table --all

[2020-05-04 15:27] jikuja commented on #12289
For Azure web apps this bug was fixed in one month.

It's now 2,5 half months since bug report and over six month since breaking commit. Is this going to be fixed or should we start building workarounds and create bug tickets for existing documentations referring usage of SCM_DO_BUILD_DURING_DEPLOYMENT for controlling remote builds?

[2020-05-04 15:35] marcin-vt commented on #9903
It is still happening in az cli 2.5.1 (only in pycharm) and actually it is breaking DefaultAzureCredential (azure-identity 1.4.0b2) as it cannot parse token from az output (json.decoder.JSONDecodeError: Extra data)

[2020-05-04 17:12] bquantump commented on #13320
Thank you for your question @GabyCT.  We will check in 20.04 is supported.

[2020-05-04 17:20] digimaun commented on #13093
Hi @askanymark . That command is actually not coming from the IoT extension, its from the base CLI. Not sure what your Azure CLI version is -- can you try upgrading and re-running the same command? I am unable to repro the issue with the same command using Azure CLI `2.5.1` (also have `azure-iot` 0.9.1 installed but that's a side point).

[2020-05-04 17:55] agnutzmann commented on #13320
I have the same issue.
I can see the image on Azure web portal as Ubuntu Server 20.04 Pro (need to pay the subscription), but i can't find it via CLI.

[2020-05-04 21:24] anillaghuvarapu opened #13322 "failure in az vm create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm create --resource-group {} --name {} --vnet-name {} --subnet {} --nsg

[2020-05-04 21:42] yunjchoi commented on #13228
Hi @i008817, were you able to resolve the issue after configuring your local machine to the correct python version?

[2020-05-04 22:19] djyou opened #13323 "az acr helm push hangs when connection is slow"
**Describe the bug**

The service team received a case where the `az acr helm push` command hangs for hours when the client connection is slow and the service returned a response after ~4 mins.

This behavior is sporadic (could be caused by transient network connection) but the hanging behavior may be addressed by adding a client timeout.

**To Reproduce**

Can't be reproduced deterministically.

[2020-05-04 22:20] djyou commented on #13323
/cc @yugangw-msft

[2020-05-04 22:22] josiahvinson opened #13324 "Update endpoint list to include Function Apps"
According to [this link](https://github.com/Azure/azure-cli/issues/10879#issuecomment-564752435), Function Apps are now a first-class endpoint for Event Grid and can be set as such via the `create` command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63e73e1b-aad9-0ce8-be1f-a9b9d02ca6d4
* Version Independent ID: 735

[2020-05-04 22:43] danielbecroft commented on #13247
I'm seeing the same failures when running the `azure-cli` docker image (which `az --version` resolves as 2.5.1).

I'm not seeing the errors on older versions of the CLI (specifically 2.0.80 was tested). The vault gets created correctly, and the `enableSoftDelete` flag is set appropriately based on the command line parameter.

[2020-05-04 22:56] yonzhan commented on #3447
add to S170

[2020-05-04 23:00] yonzhan commented on #13322
@qwordy please take a look

[2020-05-04 23:01] yonzhan commented on #13323
acr

[2020-05-04 23:01] yonzhan commented on #13324
eventgrid

[2020-05-04 23:03] danielbecroft commented on #13247
I've gone back through all the versions of the `az cli` release. The `az keyvault create` command works correctly under the `azure-cli:2.2.0` image, but fails under `azure-cli:2.3.0` and later.

[2020-05-05 00:09] AdminTurnedDevOps commented on #13318
This bug has been going on for months in the community (https://stackoverflow.com/questions/59968396/az-aks-install-connector-fails-name-uknow-parameter)... When we can expect this to be resolved?

[2020-05-05 00:25] jluk commented on #13318
@AdminTurnedDevOps please use the enable-addons command instead of install-connector.

You can follow the official instructions here:
https://docs.microsoft.com/en-us/azure/aks/virtual-nodes-cli#enable-virtual-nodes-addon
[code]
The install-connector was a command set used during preview, which is set for removal.

[2020-05-05 00:32] AdminTurnedDevOps commented on #13318
Okay great, thanks. Is that something that will be updated in the Azure CLI docs? Because a ton of the docs still point to use install-connector.

[2020-05-05 00:52] pavanmutra opened #13327 "error geeting while enabling dashboard addon"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons --addons {}`

## Expected Behavior

## Environ

[2020-05-05 00:59] jluk commented on #13318
The CLI reference is autogenerated (like here: https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-install-connector), so that will get removed there when the code is deprecated. That should be happening this month.

Please point me to any other docs recommending that command and we can get that fixed.

[2020-05-05 01:05] yonzhan commented on #13327
aks

[2020-05-05 01:39] AErmie opened #13329 "VMSS Disk Detach Error"
## Describe the bug

**Command Name**
`az vmss disk detach`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vmss disk detach --lun {} --vmss-name {} -g {} --instance-id {}`

## Expected Behavior

## Environment Summary
[code]
## Additional C

[2020-05-05 01:43] josiahvinson commented on #10879
Clarifying [above](https://github.com/Azure/azure-cli/issues/10879#issuecomment-564752435)

As of v 0.4.8 this command works IF you add `--endpoint-type FunctionApp`.

[2020-05-05 02:28] vladris opened #13330 "az kusto cluster create fails with "Invalid SKU name provided""
## Describe the bug

**Command Name**
`az kusto cluster create`

**Errors:**
[code]

## To Reproduce:
`az kusto cluster create --location "Central US" --name MyClusterName --resource-group MyRGName --sku D11_v2 --capacity 1`

## Expected Behavior
Provision Kusto cluster.

## Environment Summary
[code]
## Additional Context

I tried all possible values of SKU allowed by the CLI but none of them see

[2020-05-05 02:38] MonikaReddy-MSFT opened #13331 "How do I install older versions of the cli?/MicrosoftDocs/azure-docs-cli#1954"
**Resource Provider**
Customer is requesting to provide older versions of Azure CLI

**Description of Feature or Work Requested**
Customer is looking for older version of CLI.
Working on a project where previous developer used an older version of the cli, but now when I try to run the scripts he created it's not working.
I fully understand the ramifications of running an older cli, but the costs i

[2020-05-05 02:42] yungezz commented on #13331
hi @fengzhou-msft could you pls have a look? thanks

[2020-05-05 02:43] yungezz commented on #13330
routing to appropriate team

[2020-05-05 02:44] MonikaReddy-MSFT opened #13332 "Does not work on Focal Fossa (Ubuntu 20.04) MicrosoftDocs/azure-docs-cli#1955"
**Is your feature request related to a problem? Please describe.**
Customer has reported that it does not work on Focal Fossa Ubuntu 20.04 version.

**Describe the solution you'd like**
Customer has provided a solution that worked for him -
Here is a workaround I used for myself for now (worked for my use-case, can't guarantee it's perfect):
First download the script without running it:
curl -sL h

[2020-05-05 02:45] yungezz commented on #13329
hi @AErmie Did you met the issue on Cloudshell? If yes, this is a known issue at Cloudshell, similiar to https://github.com/Azure/azure-cli/issues/13233#issuecomment-620938939. To solve it, please use Azure CLI on a local machine or run az login in Cloud Shell and retry the command.

[2020-05-05 02:46] yungezz commented on #13327
hi @pavanmutra is `resource-group` and `name` is provided in your command? they're required params in this command

[2020-05-05 02:47] yungezz commented on #13324
this is a feature request

[2020-05-05 02:49] yungezz commented on #13323
It's strange that RestAPI/SDK not timeout limit?

[2020-05-05 02:50] yungezz commented on #13322
let's confirm where the validation error from. If it's from srevice, then by design.

[2020-05-05 02:52] yungezz commented on #13319
in aks secenario

[2020-05-05 02:52] mathieu-benoit commented on #12864
Just to make sure here, the issue is when not using the `aks-preview` extension. Tested multiple times by multiple people.

The error message comes from this line https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/acs/custom.py#L1772 because few lines before there is this `service_principal_profile = None` which differs from what the code in the `aks-preview` exten

[2020-05-05 02:53] yungezz commented on #13318
Docs at docs.ms is refreshed when Azure CLI release. next release is May 19th. As long as code change in help.py merged before that, docs will be updated then.

[2020-05-05 02:54] yungezz commented on #13332
hi @fengzhou-msft could you pls have a look?

[2020-05-05 03:15] panchagnula commented on #13257
@Kotasudhakarreddy thanks for debugging this. @btardif  this was not really a regression with Kota's previous but a bug that existed but never surfaced until now because the we always used an existing RG instead of creating a new one and the existing test cases never handled this either.

[2020-05-05 04:20] marwanad commented on #13121
This should be fixed in the latest extension version **0.4.44**.
[code]
Please report back if that fixes the issue.

[2020-05-05 04:36] jiasli commented on #9903
@marcin-vt, could you try disabling the color following #12601 and see if it still happens?

[2020-05-05 05:07] rangernet opened #13333 "download-batch OSError: [Errno 5] Input/output error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob download-batch`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob download-batch --account-name {} --accoun

[2020-05-05 06:18] radennis commented on #13330
These are old SKUs that were recently removed. We are releasing a new nuget so that you can use the new SKUs. Adding @ilayrn for more information

[2020-05-05 06:21] lemonez opened #13334 "'read-only file system' error when trying to delete group from azure cli"
I was trying to delete the storage that had been created to do a tutorial (maybe I was not supposed to...I'm just learning how this works) and it gave me the Python error message below.

The command failed with an unexpected error.
*Command Name**
`az group delete`

**Errors:**
[code]

## To Reproduce:
(traceback...)

$ az group delete --name "cloud-shell-storage-westus"
Are you sure you want to p

[2020-05-05 07:25] shwetazambre commented on #11315
As far as I know, we are looking for an approach similar to the first one. Here I consider the group as a project/team. If we assign read-only permission for project1/team1 then all repositories under that project/team will have the same permission. Different projects will have different permissions and all repositories, sub-repositories will work according to that permissions.

[2020-05-05 08:02] yonzhan commented on #13333
add to S170

[2020-05-05 08:05] marki555 opened #13335 "How to get image name/description?"
How can I get a name/description on VM image which is shown in the Portal? For example in Portal I can find "SUSE Enterprise Linux for SAP 12 SP4 +24x7 Support - Gen1". Via CLI I get suse:SLES:12-SP4 and suse:SLES-Standard:12-SP4, but I don't know how to retrieve the name/desc as "az image show" does not list it.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2020-05-05 08:05] yonzhan commented on #13334
add to S170

[2020-05-05 08:08] yonzhan commented on #13335
@qwordy please take a look

[2020-05-05 09:17] magandrez opened #13336 "setup: support install from debian package repository"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr create --resource-group {} --name {} --sku {}`

## Expected Behavio

[2020-05-05 09:29] marcin-vt commented on #9903
Thnx @jiasli - that helped!

[2020-05-05 09:36] yonzhan commented on #13336
acr

[2020-05-05 09:36] yonzhan commented on #9903
@marcin-vt  was your issue resolved?

[2020-05-05 09:40] marcin-vt commented on #9903
Mine? Yes, adding the environmental variable solved the issue.

[2020-05-05 09:47] #9903 closed

[2020-05-05 10:36] SaitTalhaNisanci opened #13337 "az storage container: Name or service not known"
## Describe the bug
I create a resource group and a storage account, when I try to create a storage container I get `name or service not known` error even though in the portal I can see that the storage account with the given name exists.

**Command Name**
`az storage container create`

**Errors:**
[code]

## To Reproduce:

- a storage account is created successfully here with the name talha2.
- `

[2020-05-05 10:43] pvrk commented on #13168
@ahamedn : Sorry for the delay in response. At present, may I know more on how are you planning to automate? Honestly speaking, the way the feature is built is not exactly suited for automation. The command initiates a download of a script into the downloads folder. And the script name varies with VM name and the selected RP and hence may or may not follow a pattern.  And then one needs to provide

[2020-05-05 10:47] yonzhan commented on #13337
add to S170

[2020-05-05 10:47] i008817 commented on #13228
Hello, unfortunately not
I there no other way then the solution, described here - [#2529 (comment)](https://github.com/Azure/azure-cli/issues/2529#issuecomment-287284321)

Best Regards Roland

[2020-05-05 11:27] SaitTalhaNisanci commented on #13337
Note that I have been using this command for the last 2 months and didn't have any issue. But now it is constantly failing with the above error. I didn't change my az cli version.

[2020-05-05 11:40] lgmorand commented on #13121
@marwanad works like a charm. Thanks :)

[2020-05-05 12:24] yungezz commented on #13336
hi @magandrez have you tried on latest Azure CLI version?

[2020-05-05 12:27] yungezz commented on #13335
vm image

[2020-05-05 12:28] yungezz commented on #13334
hi @lemonez are you trying to delete "cloud-shell-storage-westus" inside cloudshell?

[2020-05-05 12:59] askanymark commented on #13093
@digimaun, I reinstalled through `apt`, as the `curl` way on Ubuntu doesn't work for me at the moment. Says `azure-cli` repo doesn't have a release file:

[code]

My CLI version is 2.0.81 and extension is 0.9.1. I'll try reinstalling as described [here](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest).

[2020-05-05 13:12] gregorybleiker commented on #13247
6 days and this bug which essentially stops people from creating keyvaults with the cli is not fixed...

[2020-05-05 13:21] flytzen commented on #13247
@gregorybleiker You can create a key vault if you include --enable-soft-delete true. That gives the same result as *omitting that* parameter used to do.

[2020-05-05 13:22] flytzen commented on #13247
This looks suspiciously similar to #13100. Is there something systemic that happened in the latest release?

[2020-05-05 13:49] ahamedn commented on #13168
@pvrk thanks for the response. I found a workaround and automated it through bash script. We have prod application in azure and dev application in on-prem server. I created the script to restore the prod data to on prem using this method.

[2020-05-05 13:57] donovanyng commented on #13283
Disregard my comments about text redirection; it was erroneous on my end.

[2020-05-05 14:17] yashodhan10 commented on #13105
Thanks! It did work after upgrading the cli version to 2.4.0. I'm not sure if I missed it, but would be great to have this cli version as a prerequisite in the documentation.

[2020-05-05 14:49] vladris commented on #13330
Thanks! Azure CLI needs to be updated since it restricts the SKU parameter. User can only pick from these SKUs that don't work.

[2020-05-05 14:55] einko commented on #13247
but it is not working for `--enable-soft-delete false` so it is not a solution / workaround.

[2020-05-05 14:59] stgraves opened #13338 "AZ commands fail in Azure Cloud Shell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Created an AKS cluster using Azure Cloud Shell
Closed browser window for Azure Cloud Shell
Removed cloud-shell-storage-southcentralus resource group
Opened new browser window and connected to Azure Cloud Shell
Installed Azure CLI
Run an "az" command fails with an error

**Command Name**
az aks get-credentials -

[2020-05-05 15:11] gregorybleiker commented on #13247
@einko exactly... soft delete is a very intrusive feature (and certainly not wished for in my scenario), that's why I want to create a keyvault without soft delete (which I can't via cli atm).

[2020-05-05 15:11] radennis commented on #13330
Correct that's why we're working on releasing a new nuget for that to work. AFAIK this was already released, @ilayrn can share the details.

[2020-05-05 15:27] jluk commented on #13121
Closing with a resolution of updating to preview extension 0.4.44.

Thank you @marwanad for driving this fix. If this isn't resolved for people after that resolution, comment and we can re-open.

Thanks for the feedback.

[2020-05-05 15:27] #13121 closed

[2020-05-05 15:28] dwhanger commented on #10879
cool...I will try that out!  thanks!

[2020-05-05 15:29] jluk commented on #13318
cc @macoslo from ACI / VN team

[2020-05-05 15:49] asishr14 commented on #11600
@ajklotz I still have this issue only when I use the Azure CLI task from Azure devOps pipeline on its windows agent (azure-cli  2.5.0 *), though I can run this same on my local, mysettings.json in the source dir only. Have same error even after explicitly specifying the path "@$(Build.SourcesDirectory)\mysettings.json"

[code]

[2020-05-05 16:07] Drewm3 commented on #13320
@Vaibhav-Agar, could you look into this?

[2020-05-05 16:16] rebecca-makar commented on #13337
Adding onto this.... Have this automated in azure devops pipelines, have been using same az command for months and this broke from last night to this morning. Microsoft Internal user.

`2020-05-05T15:40:55.3539676Z The value for one of the HTTP headers is not in the correct format. ErrorCode: InvalidHeaderValue
2020-05-05T15:40:55.3542457Z <?xml version="1.0" encoding="utf-8"?><Error><Code>Invalid

[2020-05-05 16:54] SaitTalhaNisanci commented on #13337
Yeah We are also Microsoft internal user and we started to see this issue last night.

[2020-05-05 16:56] GabyCT opened #13339 "Support for RHEL 8 RAW"
Is there going to be an image for RHEL 8 RAW?

[2020-05-05 18:02] danvy commented on #12152
I've got the exact same error on az 2.5.1

[2020-05-05 18:39] rrmistry opened #13340 "Azure REST API for SQL not working for CLI but works for Post Man"
## Describe the bug

**Command Name**
`az rest`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[code]

## Expected Behavior

Should update with `202` response:

[code]

## Environment Summary
[code]
## Additional Context

Also note that setting `backupShortTermRetentionPolicies` on the

[2020-05-05 18:41] yugangw-msft commented on #13323
i will add client end timeout this week to mitigate

[2020-05-05 18:42] yugangw-msft commented on #13336
This is not ACR issue

[2020-05-05 18:44] yugangw-msft commented on #13336
@magandrez, to cross check, are you able to run any storage command like "az storage blob list"?

[2020-05-05 18:47] rrmistry commented on #13340
PostMan behavior is working as per [documentation](https://docs.microsoft.com/en-us/rest/api/sql/backuplongtermretentionpolicies/createorupdate)

![image](https://user-images.githubusercontent.com/25514145/81103123-98766000-8ede-11ea-9fdc-ad72d29a6c2a.png)

But the behavior with Azure CLI is not working as expected.

[2020-05-05 18:59] yugangw-msft opened #13341 "ACR: image import should ignore acr server name used in --source"
Right now, we error out, but should trim it and proceed

[2020-05-05 19:00] yugangw-msft commented on #13341
Should fix for the upcoming release

[2020-05-05 19:00] yugangw-msft commented on #13341
CC @djyou

[2020-05-05 19:03] ilayrn commented on #13330
@vladris, we released a new version for Azure CLI with up-to-date support for all the functionality provided by Kusto. To install it, run the command: "az extension add -n kusto". After it's installed, the command should work.

[2020-05-05 19:16] lmazuel commented on #13293
See also https://github.com/Azure/azure-cli/issues/8164

Since you don't need Python 2, your situation is way simpler than it was when I created that issue, but might give you some insights. Feel free to contact me if you have questions on packaging.

[2020-05-05 20:46] palma21 commented on #12864
@norshtein  ^

[2020-05-05 21:08] yosbeleg89 commented on #10521
Any updates?

[2020-05-05 22:49] brandonh-msft commented on #12947
seems like a good argument for a telemetry opt out variable like the .net and functions CLI both have...

[2020-05-05 22:53] yonzhan commented on #13338
aks

[2020-05-05 22:53] yunjchoi commented on #13228
Hi @i008817, I'd like to make sure I understand you clearly. Have you configured your local machine to the correct python version and you are still facing issues with az aks kollect? Or are you looking for a different solution from the one described here - #2529 (comment)?

[2020-05-05 22:58] yonzhan commented on #13339
@fengzhou-msft please take a look

[2020-05-05 22:59] Niall2001 commented on #8296
I was able to use New-AzVm to create a VM without a public IP address. I'm afraid I can't take the credit for the below. It's from PS help files. I had to adapt it to be able to create a new VM in an existing network and subnet and apply an existing NSG but the below will create a new VM without a public IP using the PS New-AzVm cmdlet. I'd tried lots of things like null and two sets of quotes all

[2020-05-05 23:10] tarzzz opened #13342 "az login --identity fails on the VM"
Describe the bug

`az login --identity` fails on the VM with the following error.

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login --identity`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-05-05 23:15] tarzzz commented on #13342
Was resolved after creating a managed identity. Closing..

[2020-05-05 23:15] #13342 closed

[2020-05-05 23:40] ewh opened #13343 "No module named 'decorator' exception, fixed by installing 'decorator' package"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-05-05 23:51] ewh commented on #13343
Here's the full stack-trace output:
[code]

[2020-05-05 23:58] rrmistry commented on #13340
While debugging the code below:
https://github.com/Azure/azure-cli/blob/4e1ed61cb44933fd59e4d44f729b09763c372895/src/azure-cli-core/azure/cli/core/util.py#L598
![image](https://user-images.githubusercontent.com/25514145/81125893-a096c580-8f07-11ea-8c77-daa3e52e9bcf.png)

I noticed that the json body being sent here is as below python string:
[code]
Which throws an exception at:
https://github.com/

[2020-05-06 00:01] ewh commented on #13343
I got around this by adding the `decorator` package to my system python3 site-packages. I ran this:
[code]
Should this be required? Is the Linux installation of `az` not fully installing all its needed dependencies?

[2020-05-06 01:54] yungezz commented on #13343
routing to appropriate team.

[2020-05-06 01:56] yungezz commented on #13340
hi @jiasli could you have a look?

[2020-05-06 01:58] yungezz commented on #13338
seems duplicated with https://github.com/Azure/azure-cli/issues/13334

[2020-05-06 02:50] qwordy commented on #13322
It's by design. The validation comes from CLI. Portal has the same requirement.
Password must have 3 of the following: 1 lower case character, 1 upper case character, 1 number, and 1 special character.
The value must be between 12 and 72 characters long.

[2020-05-06 02:50] #13322 closed

[2020-05-06 02:52] #13236 closed

[2020-05-06 02:58] yonzhan commented on #13340
add to S170

[2020-05-06 04:44] gregdegruy opened #13346 "Error az deployment: 'group' is not in the 'az deployment' command group."
What is the reason for this error?

I test using this command
`az deployment group create --name "folding" --resource-group "Folding-COVID19" --template-uri https://raw.githubusercontent.com/likamrat/foldingathome/master/deploy/azure/azuredeploy.json`

I get this error:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-05-06 05:11] BenjaminHerbert commented on #11315
We like the concept of namespaces, as that is described in [a section in the "best practices"](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-best-practices#repository-namespaces
).
I'd like to enable teams full access to one or several "namespaces". I guess that could work with tokens & wildcard scope maps, but I can imagine this not scaling well.
So we'd prefer a "f

[2020-05-06 05:59] magandrez commented on #13336
@yungezz Yes indeed. I realised I was running the CLI available in Debian BullsEye at v2.0.81. I then used the sources list from Microsoft (available in the install instructions for Azure CLI) and installed latest version (2.5.1)

@yugangw-msft With latest version installed, yes, I am able to perform such actions (see above).

It would be very beneficial to get the package in Debian package reposi

[2020-05-06 06:38] iyerusad commented on #12163
@yonzhan I don't believe this is feature request - looks like a regression.

This code ran successfully over 100 releases (1 year+):
[code]
Just recently stopped working with same error:

`resourceGroups/my-project/my-project-AppI` exists

---

Tested against hosted Azure DevOps agents and fresh local install of `az-cli`:

[2020-05-06 07:02] i008817 commented on #13228
Hello,

I’m looking for an easier solution than described in here - #2529<https://github.com/Azure/azure-cli/issues/2529> (comment), or is this the only possibility?

From: Yun Jung Choi <notifications@github.com>
Sent: Mittwoch, 6. Mai 2020 00:53
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Kramer, Roland <roland.kramer@sap.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/

[2020-05-06 07:07] tejasshah7 opened #13350 "Support for DNS Proxy on Azure Firewall"
**Resource Provider**

Network (NRP)

**Description of Feature or Work Requested**

Need to add 3 new parameters to the base command of creating the Firewall.
az network firewall create -g MyResourceGroup -n MyFirewall –dns-servers @("1.2.3.4", "4.5.6.7") --dns-proxy-enabled true --dns-require-proxy-for-network-rules false

Here the last 3 parameters are needed:
- dns-servers
   -  Default value i

[2020-05-06 07:17] bim-msft commented on #13247
Some regions are broken:

![MicrosoftTeams-image](https://user-images.githubusercontent.com/3250203/81146880-bd84d480-8fab-11ea-8c69-f7164eef785f.png)
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/3250203/81146902-ca092d00-8fab-11ea-9644-8cbfbc61352f.png)

@kooditoni This is due to a service side error, all CLI versions/platforms are affected, they are fixing this. No big c

[2020-05-06 07:31] SanjayKishnani opened #13351 "az monitor metrics alert create - error with Namespace"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor metrics alert create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az monitor metrics alert create --name {} --resource-gro

[2020-05-06 07:41] peturh opened #13352 "az container exec in azure devops throws (25, 'Inappropriate ioctl for device')"
Az version 2.3.1

**Describe the bug**

When trying to use Azure DevOps Pipelines Azure CLI task `az container exec` the shell outputs errors.

**To Reproduce**

`az container exec --resource-group myRG --name myImageName --exec-command ./run.sh`

**Expected behavior**

To be able to display the output of the container.

**Environment summary**

Azure Devops free agent running Ubuntu 18.04

**Addi

[2020-05-06 07:59] bim-msft commented on #9332
Thanks @mromanch for the detailed explanation and solution! Reopened this issue.

[2020-05-06 08:04] jsntcy commented on #12034
@SimonAlling,
If you run help command `az extension add -h`, you'll see the following help messages and examples
![image](https://user-images.githubusercontent.com/16348853/81150816-f3798700-8fb2-11ea-8787-b3079533d053.png)

You can see that if you want to install extension by name, you need run `az extension add --name azure-devops` instead of `az extension add --source azure-devops`

[2020-05-06 08:04] #12034 closed

[2020-05-06 08:47] jsntcy commented on #12108
@prfinnie, could you help provide full command you used including database type (sql, mysql, or cosmosdb)? for example `az hack create --name samplename --runtime python --location westus2 --database mysql`.

[2020-05-06 09:01] jsntcy commented on #12108
@GeekTrainer, could you help take a look at this issue as I saw you are the code owner of this CLI extension?

[2020-05-06 09:12] yungezz commented on #13351
hi @MyronFanQiu could you have a look? thanks

[2020-05-06 09:22] #10698 closed

[2020-05-06 09:23] Olli64 opened #13354 "Adding identity to group after creation"
Greetings!

I have a script that creates identities and assigns them to a AD Group that is also created in the same script.

If I create Identity and try to add it to the group with az ad group member add; it throws an error:
Resource '&lt;guidhere&gt;' does not exist or one of its queried reference-property objects are not present.

I know that if I wait for atleast 30 seconds and add then, it su

[2020-05-06 09:23] xpillons commented on #12987
What is the status on this issue ? it still happening on 2.5.1.

[2020-05-06 09:23] xpillons commented on #13011
When this will be fixed ?

[2020-05-06 09:45] jhua18 opened #13355 "az error when creating managedapp with tags"
In my bash script, same tags work well to create app resource group at very beginning:
# Create app resource group
az group create \
  --name $appGroupName \
  --location $location \
  --tags Owner="$tagOwner" Project="$tagProject"

in the final step, the following az command is to create the managed resource group, however keeps getting error complaining about the tags:
# Create the managed appli

[2020-05-06 09:47] bim-msft commented on #13166
@diepes Hi, this is by design, not a bug. We planned to no longer display managed keys and secrets to keep consistent with Azure Portal: https://github.com/Azure/azure-cli/pull/12679
Please feel free to let me know if you have any other concern.

[2020-05-06 10:01] jsntcy commented on #12123
@bigdatamoore, what was the version of pip that caused the installation error?
I cannot reproduce the error on my machine with latest Azure CLI (2.5.1) and pip version on my machine is `pip 20.0.2 from c:\code\azure-cli-extensions-jsntcy\env\lib\site-packages\pip (python 3.7)`

I can install storage-preview successfully on my machine,

[2020-05-06 11:37] yonzhan commented on #13346
add to S170

[2020-05-06 11:43] zhoxing-ms commented on #13316
@roundbatman Could you please send me the JSON file of template and parameters which you used by email?
My email address is Zhou.Xing@microsoft.com, thanks~

[2020-05-06 11:45] yonzhan commented on #13350
add to S170

[2020-05-06 11:49] yonzhan commented on #13351
add to S170

[2020-05-06 11:54] yonzhan commented on #13354
@arrownj  please take a look

[2020-05-06 11:56] yonzhan commented on #13355
managedapp

[2020-05-06 12:06] zhoxing-ms commented on #13125
In fact, this issue may be related to the deployment service of the workflows resource:
1. The template provided by customer can pass the verification with rest API [Deployments - Validate](https://docs.microsoft.com/en-us/rest/api/resources/deployments/validate)
2. When the template is deployed with rest API [Deployments - Create Or Update](https://docs.microsoft.com/en-us/rest/api/resources/depl

[2020-05-06 12:33] zhoxing-ms commented on #12890
@noelbundick @ckittel Hi, this is the same problem as #13317, and I have submitted a PR #13317 to fix it~ You can track the progress of the problem through this PR.

[2020-05-06 12:34] zhoxing-ms commented on #12990
Hi @Svessir, this is the same problem as #13317, and I have submitted a PR #13344 to fix it~ You can track the progress of the problem through this PR.

[2020-05-06 12:35] fengzhou-msft opened #13359 "Possible regression with az find in 2.5.1"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Run `az find "group create"` or `az find "vm create"` returns no examples in azure-cli 2.5.1
![image](https://user-images.githubusercontent.com/55177366/81177096-b4f6c300-8fd8-11ea-884c-0af530c950ae.png)

while in 2.4.0, examples are returned for the 2 commands:
![image](https://user-images.githubusercontent.co

[2020-05-06 13:33] yonzhan commented on #13359
az find

[2020-05-06 13:35] haymansfield opened #13360 "az account get-access-token failing for resource 'https://database.windows.net/'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --subscription {} --resource 'ht

[2020-05-06 13:36] yonzhan commented on #13360
add to S170

[2020-05-06 13:42] tocorobo opened #13361 "webapp: az appservice ase create command fails on azure cli version 2.4.0, 2.5.0 or 2.5.1 (last worked on v2.3.1)"
**DESCRIPTION**
The command *az appservice ase create* fails with azure cli version 2.4.0, 2.5.0 or 2.5.1 on CentOS 7.8 [last working version was 2.3.1].

**ERROR**
The request content was invalid and could not be deserialized: 'Could not find member 'template' on object of type 'DeploymentDefinition'. Path 'template', line 1, position 12.'.

**STEPS TO REPRODUCE**
- Procure CentOS 7.8 Linux OS in

[2020-05-06 13:52] zhoxing-ms commented on #9294
This feature request has been completed by PR #12915

[2020-05-06 13:52] #9294 closed

[2020-05-06 14:23] techsaau opened #13362 "az aks browse not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --resource-group {} --name {} --debug`

## Expected Behavior

[2020-05-06 14:25] bigdatamoore commented on #12123
you can see it in the issue that I listed above that the problem was with the version of pip that was bundled with the AZ CLI.  When I tried installing the extension manually with my own local version of pip, it worked.

The version of pip that came with AZ CLI is pip 10.0.1

[code]

Note, I haven't upgraded my CLI in a while, so this may be out of date now.  I will try updating later and see if i

[2020-05-06 14:26] bigdatamoore commented on #12123
See this issue for more details:  https://github.com/MicrosoftDocs/azure-docs/issues/47465

[2020-05-06 14:27] bigdatamoore commented on #12123
so the root cause was that the version of pip bundled with the AZ CLI was out of date.

[2020-05-06 14:29] wolszakp commented on #13247
@bim-msft How to workaround this issue? I am working with `westeurope` mainly. Change region for current my deployment is not an option for me.

[2020-05-06 14:51] haymansfield commented on #13360
To shed a little light, the following **will** get me a token:

az account get-access-token --subscription {} --resource https://database.windows.net

But this won't:

az account get-access-token --subscription {} --resource 'https://database.windows.net/'

[2020-05-06 15:41] vladris commented on #13330
Now I get `usage error: --sku [KEY=VALUE ...]` for the same command. What is the expected format?

[2020-05-06 15:41] #10664 closed

[2020-05-06 15:41] #13257 closed

[2020-05-06 15:47] panchagnula commented on #13361
@tocorobo can you run your script with --debug flag and share the log details if possible? Thanks!

[2020-05-06 16:00] panchagnula commented on #13343
@yungezz from the above comment it seems like the azure-cli package was not installed properly or the extension being used is causing some errors. I tried this on the latest azure-cli version without any extensions & it works fine. Please try a clean install without any extensions and let us know if this is still an issue.

[2020-05-06 16:16] cdelacruzpinto commented on #13006
With the golang api I get the same error, so yes...aparently is not possible to create vaults at all without that protection.

[2020-05-06 17:03] jlichwa commented on #13247
It should work now. I just tested in this region.

[2020-05-06 17:15] jlichwa commented on #13006
It is not expected behavior. It is a bug and change is on the way. It will be available in few days.

[2020-05-06 17:15] syfarogh opened #13363 "AZ CLI equivalent command for powershell command Reset-HubRouter"
**Resource Provider**

Microsoft.Network

**Description of Feature or Work Requested**

We are adding a new command in powershell for Virtual Hub resource. The command in powershell will be **Reset-HubRouter** and will do a Put on the Virtual hub resource if RoutingState field of hub (Virtualhub.properties.RoutingState) is set to Failed.

Minimum API Version Required

Swagger Link

Target Date

De

[2020-05-06 18:08] pjboardman opened #13364 "Weird behavior with create"
Is create not idempotent (like other az cli resource creation)? When I run subsequent times, I get this error message:
Operation failed with status: 200. Details: Resource state Succeeded

This causes Azure DevOps release pipelines to fail

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 84bf7aaa-0925-70d6-63a9-d51debfa4

[2020-05-06 18:50] atrauzzi opened #13365 "az acr helm repo login"
**Is your feature request related to a problem? Please describe.**
I would love an option to use my currently-configured azure service principal to authenticate to ACR for helm without having to manually pipe/handle/enter credentials.

**Describe the solution you'd like**
I'd love the command `az acr helm repo login`

**Describe alternatives you've considered**
 - Manual input, when at my terminal

[2020-05-06 21:22] jrachwalski opened #13367 "Issue with az resource tag -i"
Incremental parameter does not work
"az: error: unrecognized arguments: -i"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e76a8ad2-efd8-9e8a-9b2b-eebeb1e9d1d4
* Version Independent ID: 280b7ea9-eb6c-9601-464b-09bf8e0cff5d
* Content: [az resource](https://docs.microsoft.com/en-us/cli/azure/resource?view=azure-cli-lates

[2020-05-06 21:58] nenad1002 commented on #13247
It works for westeurope, but it doesn't for eastus for example.

[2020-05-06 21:58] nenad1002 commented on #13247
It works for westeurope, but it doesn't for eastus for example.

[2020-05-06 22:30] erichrt commented on #12937
Hi @yonzhan, @MyronFanQiu thanks for the update on release date. Do we already have a design of the CLI commands?

I will set up a meeting so we can collaborate on the release of these commands as part of the feature preview

[2020-05-06 23:02] yonzhan commented on #13362
aks

[2020-05-06 23:05] yonzhan commented on #13361
appservice

[2020-05-06 23:07] yonzhan commented on #13363
add to S170

[2020-05-06 23:19] yonzhan commented on #13364
signalr

[2020-05-06 23:21] yonzhan commented on #13365
acr

[2020-05-06 23:24] yonzhan commented on #13367
add to S170

[2020-05-06 23:31] MaurGi opened #13368 "ERROR: A hash conflict was encountered for the role Assignment ID. Please use a new Guid"
**Describe the bug**
Running a script from Azure DevOps pipeline, I randomly get the following error, once every 100 calls or so:
[code]
this is making it impossible to run a long script that has hundreds of these role assignments

**To Reproduce**
call
[code]
1,000 times, it will randomly fail with the above.

**Expected behavior**
az role assignment completes

**Environment summary**
no idea how

[2020-05-06 23:49] yonzhan commented on #13368
@arrownj please take a look

[2020-05-07 00:31] Vaibhav-Agar commented on #13320
Investigating.

[2020-05-07 01:30] tg123 commented on #13320
@Vaibhav-Agar

no `focal` folder for 20.04 at `https://packages.microsoft.com/repos/azure-cli/dists/`

a workaround is to use an older os version, e.g. `bionic`,
[code]

[2020-05-07 01:39] yungezz commented on #13362
routing to appropriate team

[2020-05-07 01:41] tg123 commented on #13332
no focal folder for 20.04 at https://packages.microsoft.com/repos/azure-cli/dists/

a workaround is to use an older os version, e.g. bionic,

deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ bionic main

[2020-05-07 01:47] #13168 closed

[2020-05-07 02:13] Juliehzl commented on #13337
@SaitTalhaNisanci because there is no change for you azure cli version, according to the error message, there may be server error. I will recommend you to create a ICM ticket for quick response.

[2020-05-07 02:20] zhoxing-ms commented on #12305
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-05-07 02:20] #12305 closed

[2020-05-07 02:20] #12804 closed

[2020-05-07 02:20] zhoxing-ms commented on #12695
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-05-07 02:20] #12695 closed

[2020-05-07 02:21] Juliehzl commented on #13337
Hi @zhusijia26, do you know which one is the right person for such service attention issue.

[2020-05-07 02:24] MyronFanQiu commented on #13024
This should be solved.

[2020-05-07 02:24] #13024 closed

[2020-05-07 02:25] MyronFanQiu commented on #13164
@kethahel99 reinstalling it should fix the issue.

[2020-05-07 02:31] zhoxing-ms commented on #13149
@divyamoorthyTR The information of this issue is not complete, it seems to be the issue of #13150. I will close it first, if you have any other questions, please reopen it or open a new issue~

[2020-05-07 02:31] #13149 closed

[2020-05-07 02:34] MyronFanQiu commented on #12934
`az network application-gateway address-pool update --gateway-name dekey-firewall --name test-apps --resource-group dekey --servers 20191030R2-Ontwikkel.azurewebsites.net 10.20.0.68` should work

[2020-05-07 02:35] MyronFanQiu commented on #13350
@haroldrandom  Could you please take a look at this issue?

[2020-05-07 02:36] MyronFanQiu commented on #13259
@haroldrandom  Could you please take a look at this issue?

[2020-05-07 02:42] MyronFanQiu commented on #13258
@kosinsky official doc is correct. https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-network-interface#create-a-network-interface. `subnet` is a general resource used in all network commands. Some commands support the cross-subs scenario and some don't.

[2020-05-07 02:42] zhoxing-ms commented on #13367
@jrachwalski Hello, `-i` is work fine on my side, may I ask which version of CLI did you use?

[2020-05-07 02:45] zhoxing-ms commented on #13346
@gregdegruy Hi, may I ask which version of CLI did you use?

[2020-05-07 02:48] MyronFanQiu commented on #13351
@SanjayKishnani The value for `--scopes` should be full ARM Resource ID. Please check the values.

[2020-05-07 02:48] MyronFanQiu commented on #13363
@syfarogh Please provide swagger spec PR link and ETA of the release.

[2020-05-07 02:51] jsntcy commented on #12123
@bigdatamoore, I saw there are many very old CLI packages (acr, acs, appservice and etc.) along with azure-cli 2.0.80 on your machine, and they may cause dependency conflict. (the version of pip bundled with the AZ CLI was out of date may not be the root cause and upgrading pip version may happen to fix the error.)

azure-cli                         2.0.80 *

acr                                2.2

[2020-05-07 02:51] MyronFanQiu commented on #13262
@ade-nz Thanks for reporting this. official doc should be the source of truth. https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-overview We will refine the help message.

[2020-05-07 03:03] qwordy commented on #12775
I get an error when testing this field.
[code]
When I try to register it, I get
[code]
Can you use this field successfully?

[2020-05-07 03:07] chenkennt commented on #13364
@zackliu please help take a look

[2020-05-07 03:25] jsntcy commented on #12163
@rmtier, could you provide your real `condition` which is critical for our troubleshooting?
 `condition "avg 'Azure.ApplicationInsights.xxx/Failed' > 10"` (provide `xxx` as I guess `xxx` include some special characters that CLI doesn't support.)

[2020-05-07 04:08] wahyuen commented on #4041
@anthonychu any visibility in terms of when this feature might see a public release?

[2020-05-07 04:22] tsaibabu4u opened #13370 "az devops security permission update issues"
Hi There, using CLI , with below command we are unable to grant permission to teams created in project collection where as we are able to grant permission to multiple  individual emails

**Not working**
az devops security permission update --namespace-id '2e9eb7ed-3c0a-47d4-87c1-0ffdd275fd87' --subject '[xxx]\team1' --token "repoV2/<projectid>/<repoid>" --allow-bit 16502  --org "https://dev.azure.

[2020-05-07 04:46] colemickens commented on #12775
It seems like it's been part of the public Compute API for years, I just assumed it was available. I was waiting for CLI support to test it out.

[2020-05-07 04:46] yonzhan commented on #13370
devops

[2020-05-07 04:56] jsntcy commented on #12163
@iyerusad,
I cannot reproduce the issue you mentioned as I can create alert successfully using the following command,
`az monitor metrics alert create -g my-rg -n "Alert on Exceptions" --description "All exceptions" --scopes /subscriptions/my-sub/resourceGroups/my-rg/providers/microsoft.insights/components/my-ai --action my-action-group --condition "count exceptions/count >= 1"`
- Could you provid

[2020-05-07 05:09] tocorobo commented on #13361
Sure thing; here's some redacted output of that; I hope it is helpful:

------------------------------------------
Create App Service Environment...
Getting management service client client_type=ResourceManagementClient
msrest.universal_http.requests : Configuring retry: max_retries=4, backoff_factor=0.8, max_backoff=90
adal-python : REDACTED - Authority:Performing instance discovery: ...
adal-pyt

[2020-05-07 05:42] jsntcy commented on #12197
@anavinahar,
(Also reply the following questions in an email thread in case you miss it)
We are working on this issue this sprint and we have some questions need your clarification,

- Is the default behavior changed only when SKU=Standard and not specifying a zone?
- I’m confused by “We are changing the default to be no-zone (indicated by zones: [] in ARM templates) and zone redundant to be indic

[2020-05-07 05:50] #12807 closed

[2020-05-07 05:55] zhusijia26 commented on #13337
@kartikshah9 can you help on this issue? Not sure if Storage tag was added correctly.

[2020-05-07 05:56] HermanCordes opened #13373 "'Off' is suddenly marked as an invalid value for '--public-access'"
On every deployment we use the following Azure CLI script to create a container without public access:

[code]

Since today it fails with this error message:

&lt;?xml version="1.0" encoding="utf-8"?&gt;&lt;Error&gt;&lt;Code&gt;InvalidHeaderValue&lt;/Code&gt;&lt;Message&gt;The value for one of the HTTP headers is not in the correct format.

It fails for multiple deployments through Azure DevOps ho

[2020-05-07 05:59] MyronFanQiu commented on #10970
@olandese Right now, from Azure CLI perspective, we don't keep idempotent in `create` command right now. It's reasonable to have same status after the third command with the first command since they're same. I prefer keeping the current behavior.

[2020-05-07 06:06] SanjayKishnani commented on #13351
@MyronFanQiu this is the syntax am trying and it fails with the exact same namespace error.

az monitor metrics alert create -n alert1 -g {ResourceGroup} --scopes {VirtualMachineID} --condition "avg Percentage CPU > 90" --description "High CPU"

scopes is the virtualmachine id and even trying with virtualmachineid gives the exact same error.

[2020-05-07 06:20] SimonAlling commented on #12034
Aha. I think `az` should definitely warn if `--source` is used with a non-URL then, instead of throwing a completely incomprehensible error. Although that may not be easily implemented if `--source` works with local files too.

[2020-05-07 06:41] haroldrandom commented on #13000
Added `won't fix` lable sicne it's low priority.

[2020-05-07 06:41] #13000 closed

[2020-05-07 07:35] haroldrandom commented on #11379
@DavidParks8 Could you give a list of the missing command groups?

[2020-05-07 07:54] zackliu commented on #13364
@pjboardman Currently we have a bug in checking the response status code for the existing resource using `az signalr create`. That will be fixed once https://github.com/Azure/azure-rest-api-specs/pull/9228 is merged and new SDK is release. Before that, the workaround is using `az signalr update`.

[2020-05-07 08:36] SaitTalhaNisanci commented on #13337
I think the issue is resolved now

[2020-05-07 08:49] wolszakp commented on #13247
Thanks @jlichwa. I've just verified `westeurope` and it works.

[2020-05-07 09:44] nidiculageorge opened #13374 "How to restrict access to Azure Container Registry to a particular subnet in Virtual network"
Hi Team,

Could you please tell how we can restrict access to azure container registry to particular network ,previously we where able to do via portal itself

[2020-05-07 09:58] MyronFanQiu commented on #13351
Could you please run it with `--debug` and check the first 10 lines? It should have the actual input values for azure cli.

[2020-05-07 10:15] yonzhan commented on #13373
add to S170

[2020-05-07 10:26] yonzhan commented on #13374
ACR

[2020-05-07 11:10] yinoa commented on #9894
@ravindp Hi Ravi, do you have some samples ready now?  I have one customer wants to enable CDN https with keyvault using powershell or Az CLI+REST API.  Appreciate if you can provide us some samples for that.

[2020-05-07 11:52] jurjenoskam commented on #12790
@jiasli I am aware that the root cause is in the REST API of the services, hence my remark that "I am aware that this is ultimately caused by the behavior of the service API calls". So, the real fix would be that each and every service API call documented as being synchronous would actually *behave* synchronously.

Until then, it would be valuable if Azure CLI would provide workarounds or stopgap

[2020-05-07 11:59] jurjenoskam commented on #12786
@yonzhan This is not about any single service, this is about all of Azure CLI in general. The suggestion is to make idempotency a more important requirement in [https://github.com/Azure/azure-cli/blob/master/doc/command_guidelines.md](url) so that people don't have to open as many issues with "<such and such> is not idempotent" in the future.

(That being said, "az network vnet create" is a nice e

[2020-05-07 12:22] jiasli commented on #12790
@jurjenoskam, could you share the REST API you are using?

[2020-05-07 12:34] ilayrn commented on #13330
Yes, you should use the same values that appear in the portal, e.g. Dev(No SLA)_Standard_D11_v2. We moved away from enforcing the name on the client-side because SKUs can be added and removed in the backend.

[2020-05-07 12:40] yungezz commented on #13374
routing to appropriate team

[2020-05-07 12:46] yungezz commented on #13362
duplicating with https://github.com/Azure/azure-cli/issues/8972

[2020-05-07 12:50] techsaau commented on #13362
@yungezz  In #8972, It was issue of python 64bit. But I'm using 32 bit only.

azure-cli                          2.5.1
command-modules-nspkg              2.0.3
core                               2.5.1
nspkg                              3.0.4
telemetry                          1.0.4

Extensions:
interactive                        0.4.3

Python location 'C:\Program Files (x86)\Microsoft SDKs\Azure\C

[2020-05-07 13:00] mattou07 commented on #9972
Hi I am also getting this issue,
As of writing this I am using the latest version of the cli with powershell 7
[code]
I manually added the certificate via the portal and I am now trying to reference using the thumbprint I obtained from the portal.

I am running the following command:
`az webapp config ssl bind --certificate-thumbprint $thumbprint --ssl-type SNI --name $app --resource-group $rg --s

[2020-05-07 13:11] yungezz commented on #13362
thanks @techsaau for the info

[2020-05-07 13:15] bluca commented on #12399
@Juliehzl hi - any update on the update to the latest azure-storage-blob?

[2020-05-07 13:38] rebecca-makar commented on #12987
Reverting to azcli 2.2.0 and it works. Any of the newer cli versions it is broke.

[2020-05-07 13:42] kosinsky commented on #13258
To summarize it's possible to assign cross-subs vnet via az command, but not possible via the portal. Am I correct?

If yes, from error above looks like az command still doesn't work even docs say it should.

[2020-05-07 13:47] xpillons commented on #12987
@rebecca-makar this workaround is not always possible. CloudShell is on 2.4.0 and can't be reverted I guess

[2020-05-07 13:55] jrachwalski commented on #13367
azure-cli                         2.0.77 *

command-modules-nspkg              2.0.3
core                              2.0.77 *
nspkg                              3.0.4
telemetry                          1.0.4

[2020-05-07 14:21] jrachwalski commented on #13367
My Az cli was an old version, due to my brew being out of date
`brew update && brew upgrade azure-cli`

updated the cli to 2.5, and I can now use the --is-incremental option.
You can close this issue,

Thanks.

[2020-05-07 14:21] #13367 closed

[2020-05-07 14:22] anthonychu commented on #4041
No ETA yet. For now please use the direct `az rest` call @jabrena shared above.

[2020-05-07 14:49] marcusjwhelan opened #13378 "az aks nodepool add: --enable-node-public-ip unrecognized"
In the docs it says this is an available argument but when trying to use it on either `az aks create` or `az aks nodepool add` it fails with

`az: error: unrecognized arguments: --enable-node-public-ip`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d75c3a8d-1187-bea1-a7d4-7ebba71c1790
* Version Independent ID: 75b0c35

[2020-05-07 15:00] rebecca-makar commented on #12987
@xpillons  completely agree. Wanted to say where I noticed the difference

[2020-05-07 15:26] vladris commented on #13330
Thanks, I managed to provision a cluster! The updated extension requires separate name-value pairs for SKU name, tier, and capacity. It is a bit tricky to figure out the right combination, is this documented somewhere?

After a bunch of trial and errors,I got it working with `name='Dev(No SLA)_Standard_D11_v2' tier='Basic'` but a reference for allowed values would really help.

[2020-05-07 15:26] #13330 closed

[2020-05-07 15:51] yajna-pandith commented on #1070
I am getting the following error when I execute this command:
mkvirtualenv <ENV_NAME> --python=python<VERSION>

Already using interpreter /usr/bin/python
There must be only one argument: DEST_DIR
Usage: virtualenv [OPTIONS] DEST_DIR

[2020-05-07 16:44] jkewley commented on #11610
This is a larger issue with the CLI. Writing preview notices to stderr causes `$?` to report `false` from `az` commands in both PowerShell 5 and PowerShell Core

[2020-05-07 17:29] jkewley opened #13379 "CLI command groups in preview cause $? to be false even when they succeed when CLI invoked from PowerShell"
When calling Azure CLI commands from a PowerShell host, command groups which are in preview appear to report that information to stderr which (presumably) causes PowerShell to think that the `az` command failed, whether or not it actually did. This makes it difficult to determine the success or failure of az commands.

`$LastError` reports 0, but `$?` reports `false`

**Command Name**
Example, as

[2020-05-07 17:40] azilber opened #13380 "az image update --tags replaces all tags with new tags"
Performing
 az image update .... --tags test=test test2=test2
on an image, removes all existing tags and replaces them with the new tag list.

The examples (from  az image update -h) specifically say:
Examples
    **Add or update tags.**
        az image update -n ImageName -g ResourceGroup --tags tag1=val1 tag2=val2

The help for tags says:
Arguments
    --tags              : Space-separated tags

[2020-05-07 17:56] danielsollondon commented on #13298
Quick update, all the Azure docs PRs are in review now, I am hoping the updates will get out today.

[2020-05-07 18:22] SundeepPaluru opened #13381 "Unable launch interactive session"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-05-07 18:27] SundeepPaluru commented on #13381
Re-installing the extension worked ...thanks

[2020-05-07 18:27] #13381 closed

[2020-05-07 19:14] syfarogh commented on #13363
@nagula-ritvika will add link for swagger PR adding RoutingState Field.

Relase ETA is end of May.

[2020-05-07 19:15] Jeeveshk commented on #5275
Has this been implemented? If so it would have been of great use.
As we had plans of using the "az vm scp" command within our existing GitLab CI/CD.

[2020-05-07 19:40] jeanfrancoislarente opened #13382 "Creating a cname record - how to set the alias"
I've executed
`az network dns record-set cname create --resource-group $dnsResourceGroup --zone-name $zone --name jfl` but the "Alias" value is blank when I view the entry.

How am I able to create a CNAME record (mycname) that points to example.mydomain.com.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6bf2496b-338d

[2020-05-07 19:44] bigdatamoore commented on #12123
Ok, I removed and re-installed AZ CLI.  I then removed and re-installed the storage-preview extension.  It installed this time without error.    So I think we can close this issue now.  Thanks!

[2020-05-07 19:44] #12123 closed

[2020-05-07 20:02] jeanfrancoislarente commented on #13382
For example, the "Value" is not set:

![image](https://user-images.githubusercontent.com/5884676/81339341-01dfa580-907c-11ea-9f58-5e49420ef03c.png)

![image](https://user-images.githubusercontent.com/5884676/81339391-1c198380-907c-11ea-9f21-f4b355d3d996.png)

[2020-05-07 20:18] ilayrn commented on #13330
@vladris I'm glad to hear it worked for you. We're going to release the documentation in the coming days and we'll add an example to address your feedback. Thanks!

[2020-05-07 20:46] kpard opened #13383 "az blob exists cmd"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob exists`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob exists --container-name {} --name {} --timeout {}

[2020-05-07 21:18] jkewley opened #13384 "--only-show-errors should be added to the docs in the global parameter list"
Some individual commands include this option, but according to https://github.com/Azure/azure-cli/issues/6341 the option was added globally. It should be added to the 'Global Parameters' section included in every command documentation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeedb9a7-2aed-6727-4cfb-1515809d676e
*

[2020-05-07 21:20] jkewley commented on #13379
Closing this because `--only-show-errors` from #6341 provides the desired behavior by leaving out warning text.
Made a suggestion that this should be included in the global parms list in #13384

[2020-05-07 21:20] #13379 closed

[2020-05-07 21:32] jms1voalte opened #13385 "Why does "az --version" try to connect to "example.org"?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az --version`

**Errors:**

Attempts to connect to `example.org` port 443/tcp.

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Install "Little Snitch" or some other mechanism to observe outbound tra

[2020-05-07 23:34] yungezz commented on #13385
hi @arrownj could you pls have a look? thanks

[2020-05-07 23:35] yungezz commented on #13384
hi @jiasli  pls have a look, thanks

[2020-05-07 23:36] yungezz commented on #13383
hi @Juliehzl could you have a look?

[2020-05-07 23:38] yungezz commented on #13378
thanks for reporting, routing to appropriate team

[2020-05-07 23:39] yungezz commented on #13380
hi @qwordy could you pls have a look? thanks

[2020-05-07 23:40] yungezz commented on #13382
hi @MyronFanQiu could you have a look

[2020-05-08 01:14] piyush-nimbalkar opened #13386 "Failing to run az aks get-credentials with KeyError: 'users'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials -g {} -n {}`

## Expected Behavior

## Env

[2020-05-08 02:09] idris135 opened #13387 "azure cloud shell Error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
az help

**Errors:**

The command failed with an unexpected error. Here is the traceback:

[Errno 30] Read-only file system: '/home/mohamed/.azure/commands/2020-05-08.02-06-37.unknown_command.637.log'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py",

[2020-05-08 02:16] MyronFanQiu commented on #13258
@kosinsky No. We cannot assign cross-subs vnet for `az network nic create`. But we can assign cross-subs vnet for part of az commands. It depends on the server side. Since `--subnet` is a common resource across many Azure resources, it share same help message. That's why in `az network nic create` we have a misleading help message. The doc in azure cli is not accurate for `az network nic create`.

[2020-05-08 02:30] Juliehzl commented on #13337
Thanks for you update. In this way I will close the issue and if there is any problem, feel free to create a new one.

[2020-05-08 02:30] #13337 closed

[2020-05-08 02:33] MyronFanQiu commented on #13382
@jeanfrancoislarente Do you mean this command`az network dns record-set cname set-record -g MyResourceGroup -z www.mysite.com -n MyRecordSet -c www.contoso.com`?

[2020-05-08 03:23] Juliehzl commented on #13383
@kpard  I cannot reproduce your error with python 3 installed in linux. I will recommend you to upgrade the python version because CLI doesn't plan to support python 2 because python 2 is deprecated from 2020/01/01.

[2020-05-08 03:25] Juliehzl commented on #13373
@HermanCordes It should be a server error and it is fixed already.
Could you try again?

[2020-05-08 03:38] zhoxing-ms commented on #12906
@pvanroos Thanks for your feedback, it seems that example is not friendly to users, I have submitted a PR to improve it.

For the `az policy set-definition create` command, please use it like this:
[code]

[2020-05-08 04:23] yugangw-msft commented on #13365
it is already supported, but for helm 2, are you using helm3?

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-helm-repos#add-repository-to-helm-client

[2020-05-08 04:26] yugangw-msft commented on #13374
Using old service point can be accomplished here through Azure CLI
   https://docs.microsoft.com/en-us/azure/container-registry/container-registry-vnet

But private endpoint is more recommended for better isolation which has support from both Azure CLI and Portal
   https://docs.microsoft.com/en-us/azure/container-registry/container-registry-private-link

[2020-05-08 04:30] frankliu20 opened #13389 "az login failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2020-05-08 05:55] zhoxing-ms commented on #13150
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-05-08 05:55] #13150 closed

[2020-05-08 06:11] zhoxing-ms commented on #13316
Hi @roundbatman, this is the same problem as #13137, and I have submitted a PR #13269 to fix it~ You can track the progress of the problem through this PR.

[2020-05-08 06:59] kamil-mrzyglod opened #13391 "az keyvault create automatically assigns full-access policy for the signed in user"
**Is your feature request related to a problem? Please describe.**
Last week I was reviewing some of the CI pipelines used in my company and somehow got surprised with outcome of `az keyvault create` command with default parameters. It turned out, that if you omit `--no-self-perms`, you automatically get an access policy, which assigns full access to keys, certificates, secrets and son on. It's a

[2020-05-08 07:19] qwordy commented on #13335
It is a known issue that sometimes the experience of Portal and CLI is different.
I use a "Devoloper Tools" of browser to debug Portal VM create page. Portal visits https://catalogapi.azure.com/catalog/curationData?api-version=2018-08-01-beta to get image info while CLI visits Azure REST API to get image info.
The correct command is `az vm image` not `az image`.
https://docs.microsoft.com/en-us/cl

[2020-05-08 07:20] zhoxing-ms commented on #13129
@russcam This problem is caused by the misuse of deprecate information, and command `az deployment operation group` will not be deprecated.
I have submitted a PR to fix this problem, thanks for your feedback~

[2020-05-08 07:24] roundbatman commented on #13316
Thank you for the quick response. I did not find a non-US-ASCII character in the files provided, i.e. I must have missed it. Closing this issue now.

[2020-05-08 07:24] #13316 closed

[2020-05-08 07:44] astapell opened #13393 "az keyvault create failed on cloudshell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault create --location {} --name {} --resource-group {} --sku

[2020-05-08 08:00] #13317 closed

[2020-05-08 08:00] #12890 closed

[2020-05-08 08:01] #12990 closed

[2020-05-08 08:57] yungezz commented on #13393
hi @astapell did you meet the error on CloudShell? If yes this is a known issue at CloudShell. You can run azure CLI locally to workaround the issue. We're following up on the issue.

[2020-05-08 08:59] yungezz commented on #13391
hi @kamil-mrzyglod actually we discussed this before with service team. Service team suggest to keep current behavior: user explicitly set policy for security concern.

[2020-05-08 09:00] yungezz commented on #13389
hi @arrownj could  you pls have a look? thanks

[2020-05-08 09:01] yungezz commented on #13386
routing to appropriate team

[2020-05-08 09:02] #12938 closed

[2020-05-08 09:03] yungezz commented on #13387
duplicate https://github.com/Azure/azure-cli/issues/13338

[2020-05-08 09:04] jeanfrancoislarente commented on #13382
So this was definitely the solution, but I must say it's a bit confusing... Despite the notes of one recordset per, etc.

You create an A record, but you set a cname. Is there _any_ way that this can be (more) clarified in the docs?

Thanks very much for the prompt response and help!

[2020-05-08 09:04] kamil-mrzyglod commented on #13391
@yungezz Thanks for response. I understand, but from my point granting wide range access for KV by default is the security concern we're talking about. Such behavior is also inconsistent with other ways to provision KV:

- ARM template allow you to explicitly define access policies deployed with KV
- Azure Portal automatically suggests default access policy but it's much better visible
- Not sure

[2020-05-08 09:19] astapell commented on #13393
hi @yungezz  thanks for your input. I did it already but as we could not always get the credentials on behalf of the end user I'd like a solution to run from the portal. Do you think additional az login there (in cloudshell) as a workaround (which seems to work), is reliable and won't have sort of side effects?

[2020-05-08 09:21] yliu opened #13397 "Webapp:Is it possible to mount shared files to webapp via azure template?"
I cannot find any document about how to mount shared files to webapp via template. Could you provide some advice? Thanks very much.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4892bb1c-5cb4-91fa-325b-f5180cd05c3a
* Version Independent ID: 8c9a9a0e-5b36-4039-72c5-b28fd0bb9fd4
* Content: [az webapp config storage-acco

[2020-05-08 09:25] ybelMekk commented on #13389
plus 1 one this
On G.Actions:
Run az login --service-principal -u $AZURE_SP -p $AZURE_SP_PASSWORD --tenant $AZURE_SP_TENANT
  az login --service-principal -u $AZURE_SP -p $AZURE_SP_PASSWORD --tenant $AZURE_SP_TENANT
  shell: sh -e {0}
  env:
    AZURE_SP: ***
    AZURE_SP_PASSWORD: ***
    ARM_CLIENT_SECRET: ***
    AZURE_SP_TENANT: ***
    ARM_TENANT_ID: ***
    SUBSCRIPTION_ID: ***
    ARM_SUBSC

[2020-05-08 09:56] atrauzzi commented on #13365
Yes I'm using helm 3.

[2020-05-08 10:00] softveda opened #13399 "az aks get-versions doesn't return tsv output format correctly"
The coomand
az aks get-versions -l &lt;location&gt; -o tsv
doesn't work as expected.
Expected: to just return the versions in tsv format
Actual: /subscriptions/&lt;subscription id&gt;/providers/Microsoft.ContainerService/locations/australiaeast/orchestrators  default 6      Microsoft.ContainerService/locations/orchestrators

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2020-05-08 10:16] mohoff commented on #12939
@jiasli Any update on this?

[2020-05-08 10:36] #12197 closed

[2020-05-08 10:37] i008817 commented on #13228
Hello
the following commands did the trick, you can close the thread. Thanks for your help

server:~ # zypper refresh
server:~ # zypper update azure-cli
server:~ # az extension add --name aks-preview
server:~ # az --version
azure-cli                          2.5.1
core                               2.5.1
Extensions:
aks-preview                       0.4.44
Python location '/usr/bin/python3'
Extens

[2020-05-08 10:37] #13228 closed

[2020-05-08 10:40] jsntcy commented on #12163
@rmtier, could you help provide the information I mentioned above for us to troubleshoot?

[2020-05-08 10:42] nidiculageorge commented on #13374
Thanks so much for the update .So what you recommend is private endpoint

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-private-link

[2020-05-08 11:57] yonzhan commented on #13384
add to S169

[2020-05-08 11:58] icfly2 opened #13400 "az webapp up fails from tutorial"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Followed along the tutorial: https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-python-postgresql-app?tabs=bash
and ran the comand

`az webapp up --plan myAppServicePlan --location westus2 --sku B1 --name <my name>`

wher <my name > was a legal, most likely unique app name
**Command Name**

[2020-05-08 12:20] iyerusad commented on #12163
Odd - the issue has seemingly self resolved. I am 100% positive it was failing from multiple environments - tested in Azure DevOps Pipeline and on a fresh local instance on my machine. We run this command as part of a Azure DevOps Pipeline deploying a WebApp on ubuntu 18.04 agent/bash in azure cli 1.* task.

Since unable to repo, and lacking `--debug` output of failure, will have to chalk this up

[2020-05-08 12:20] jiasli commented on #13384
This is known issue of doc generation. We are internally working with doc team to fix it. Thanks for your patience.

[2020-05-08 12:23] yonzhan commented on #13383
add to S170

[2020-05-08 12:28] icfly2 commented on #13400
adding   --resource-group myResourceGroup to the webapp up command (the same resource group ans the postgres DB appears to fix it) It would benice to either add this to the docs or tutorial and example, if this really is the fix.

[2020-05-08 12:42] yonzhan commented on #13397
webapp

[2020-05-08 12:43] yonzhan commented on #13399
aks

[2020-05-08 12:48] yonzhan commented on #13400
webapp

[2020-05-08 14:16] rebecca-makar opened #13401 "az storage container create"
**Describe the bug**
Have this automated in azure devops pipelines, have been using same az command for months and this broke from last night to this morning. Microsoft Internal user.
`2020-05-05T15:40:55.3539676Z The value for one of the HTTP headers is not in the correct format. ErrorCode: InvalidHeaderValue 2020-05-05T15:40:55.3542457Z <?xml version="1.0" encoding="utf-8"?><Error><Code>InvalidH

[2020-05-08 15:50] lemonez commented on #13334
Hi @yonzhan  yes I thought I should delete the storage so as not to accrue charges. I then realized that storage is super cheap, so it is probably unnecessary, but it still seemed buggy to not be able to if I wanted to.

[2020-05-08 16:09] sunnyjit opened #13402 "az resource-graph extension 1.1.0 doesn't support --include displayNames"
2.5.0

**Describe the bug**
az graph query --first 1 -q "Resources | where type =~ 'microsoft.compute/disks' | where properties.diskState =~ 'Unattached' "  --include displayNames
It gives the result but without including subscription names

"Failed to include displayNames to result. Error: 'displayName' " .

**To Reproduce**

**Expected behavior**
It should display subscription name along with Su

[2020-05-08 18:08] rachel-msft commented on #13034
Entering the resource group is a general Azure CLI pattern required to route the command to the correct resource. A resource id is built off of the subscription (using which sub you're logged in to), resource group, and resource name.

An example of a resource id:
/resource/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myrg/providers/Microsoft.DBforPostgreSQL/servers/myserver

[2020-05-08 18:08] #13034 closed

[2020-05-08 18:19] swgriffith opened #13404 "az aks create --enable-addons monitoring 'The request content was invalid and could not be deserialized'"
**CLI Version**
az version -o yaml
azure-cli: 2.4.0
azure-cli-command-modules-nspkg: 2.0.3
azure-cli-core: 2.4.0
azure-cli-nspkg: 3.0.4
azure-cli-telemetry: 1.0.4
extensions:
  aks-preview: 0.4.24
  azure-firewall: 0.1.3
  interactive: 0.4.3

**Describe the bug**
When using az aks create with the --enable-addons flag you get the following error:

_The request content was invalid and could not be d

[2020-05-08 19:03] alesniak303 opened #13405 "az login failure on macOS Catalina + Homebrew"
**Command Name**
`az login`

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --allow-no-subscriptions`

Trying to:

az login --allow-no-subscriptions

right after initial installation via homebrew.

1.  Browser is launched
2. Entered log information
3. Red

[2020-05-08 20:47] jluk commented on #13399
Acknowledge, reproducing this as well and logging a backlog item.

[2020-05-08 20:48] jluk commented on #13378
You must use 0.4.43 or greater to receive the command. Please upgrade your preview extension, closing as a result as I am seeing the correct command with the required version.

https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#assign-a-public-ip-per-node-for-your-node-pools-preview

[2020-05-08 20:48] #13378 closed

[2020-05-08 20:53] nathan-pohl opened #13406 "Az storage account: Resource can't be found when recreated"
When I delete a storage account andcreate a storage account with the same name, the resource can't be found using CLI for a long time, even though the resource can be listed with CLI or viewed in the Azure portal.

# To Reproduce:
[code]

instead of seeing the storage container list or being able to create a storage container, the cli will return this error. This will continue for about an hour be

[2020-05-08 21:36] adiabuk commented on #5275
Any updates on this?  Seems like an important feature to have

[2020-05-08 22:27] yonzhan commented on #13404
aks

[2020-05-08 22:28] yonzhan commented on #13405
add to S170

[2020-05-08 22:28] yonzhan commented on #13405
@arrownj  please take a look

[2020-05-08 22:56] jaepak0320 opened #13407 "az vm list-skus --zone is not working"
az vm list-skus --zone is not working for all resourceType as shown below commands. It would be better to mention it on public document mentioning it. It seems like --zone is checking a string instead of an array.
az vm list-skus -l uksouth -o table --query "[].{name:name, resourceType:resourceType, zones:length(locationInfo[].zones[])}" -z false
az vm list-skus -l uksouth -r hostGroups/hosts -o t

[2020-05-08 23:03] yungezz commented on #13407
hi @qwordy could you pls have a look? thanks

[2020-05-08 23:38] yungezz commented on #13401
hi @Juliehzl could you pls have a look?

[2020-05-08 23:40] jaepak0320 commented on #13407
Here is more information.

As shown below, hosts are not working for “--zone” parameter
I guess --zone is just checking a string instead of an array. locationInfo[].zone[] is an array.

az vm list-skus -l uksouth -o table --query "[].{name:name, resourceType:resourceType, zones:length(locationInfo[].zones[])}" -z false
[cid:image003.png@01D62557.6760D4F0]

az vm list-skus -l uksouth -r hostGroups/

[2020-05-08 23:42] yungezz commented on #13406
hi @Juliehzl could you pls have  alook? thanks

[2020-05-09 02:07] fengzhou-msft commented on #12854
@Juliehzl is working on the fix.

[2020-05-09 02:39] heavenwing opened #13410 "Run az command in Azure Cloud Shell in Windows Terminal"
## Describe the bug

**Command Name**
`az group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Open Windows Terminal, open Azure Cloud Shell tab
- `az group create --name {} --location {}`

## Expected Behavior
resource group will be created

## Environment Summary
[code]
##

[2020-05-09 02:48] heavenwing commented on #13410
my Azure Cloud Shell profile in Windows Terminal is here:
[code]

[2020-05-09 02:59] nagula-ritvika commented on #13363
Hi @yonzhan  : This is the swagger link : https://github.com/Azure/azure-rest-api-specs/pull/9385

[2020-05-09 03:02] nagula-ritvika commented on #13363
This is the PS Design Review : https://github.com/Azure/azure-powershell-cmdlet-review-pr/issues/588

[2020-05-09 03:03] johanburati opened #13413 "azure-cli crash when redirecting output"
**azure-cli** crash when redirecting output to some commands:
[code]
Same issue has already been reported previously in https://github.com/Azure/azure-cli/issues/58 and https://github.com/Azure/azure-cli/issues/770, those  are now closed but still seeing the issue.

## Environment
[code]

[2020-05-09 03:28] yonzhan commented on #13401
add to S170

[2020-05-09 03:33] yonzhan commented on #13406
add to S170

[2020-05-09 03:38] yonzhan commented on #13410
add to S170

[2020-05-09 03:43] yonzhan commented on #13413
@fengzhou-msft please take a look

[2020-05-09 03:56] XinRedhat commented on #13373
@Juliehzl the error still is there.
$ az storage container create -n $BLOB_CONTAINER --public-access off --account-name $AZURE_STORAGE_ACCOUNT_ID
No connection string, account key or sas token found, we will query account keys for your storage account. Please try to use --auth-mode login or provide one of the following parameters: connection string, account key or sas token for your storage accoun

[2020-05-09 04:29] XinRedhat commented on #13373
the issue still is there.
`$ az storage container create -n $BLOB_CONTAINER --public-access off --account-name $AZURE_STORAGE_ACCOUNT_ID --account-key $ACCOUNT_KEY`
[code]

[2020-05-09 05:03] Juliehzl commented on #12399
Hi @bluca , to prevent the issue, I am working on remove the dependency for azure.storage.blob  and use azure.multiapi.storage to keep compatible.
PR  is #13412

[2020-05-09 05:11] yugangw-msft opened #13415 "ACR: improve the parameter validation logic of image import command"
For tracking: the code in https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/acr/import.py#L50-L85 should be moved to `_validators.py`

This is to follow up comments from PR review of https://github.com/Azure/azure-cli/pull/13392

[2020-05-09 05:12] pauldotyu opened #13416 "Error running az -h from ubuntu-20.04 on wsl2"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az appservice`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az appservice --help`

## Expected Behavior

## Environment Summary
[code]

[2020-05-09 05:55] haroldrandom commented on #12912
@jsntcy What's the status of this command? is preview, is experimental or neither?

[2020-05-09 06:49] jiasli opened #13417 "[CI] CI on dev branch should use Knack's master branch"
CI on `dev` branch should use https://github.com/microsoft/knack `master` branch, instead of the public [Knack on PyPI](https://pypi.org/project/knack/).

Otherwise, a compatibility issue with Knack can only be discovered **after Knack is released to PyPI**. To fix it, we will have to release Knack again, as shown in https://github.com/microsoft/knack/pull/205 and https://github.com/microsoft/knac

[2020-05-09 08:07] danielbecroft commented on #13034
Thanks @rachel-msft, I understand that now. I was getting confused, as this is one of the few commands where it's actually something other than the `--name` parameter, combined with the `--resource-group` that builds the ID. In this case it was the `--server-name`.

I was hoping that it would be possible to create a database in a resource group other than the server, but it's not the case.

[2020-05-09 08:40] #13137 closed

[2020-05-09 09:36] fengzhou-msft commented on #13413
The issue is caused by the colorama code for survey link.
You can turn off the link with `export AZURE_OUTPUT_SHOW_SURVEY_LINK=False` or disable the color for all command output with `export AZURE_CORE_NO_COLOR=True`.

For the purpose of parsing Azure CLI version, we recommend `az version`, the output is a simple json.

[2020-05-09 09:44] jiasli commented on #13340
Typical PowerShell issue https://github.com/PowerShell/PowerShell/issues/1995. 😕

Please see my latest PR https://github.com/Azure/azure-cli/pull/13419 where I am trying to make this clear and providing some workarounds.

[2020-05-09 09:51] bluca commented on #12399
Great, thank you!

[2020-05-09 11:16] yonzhan commented on #13415
ACR

[2020-05-09 11:17] yonzhan commented on #13416
appservice

[2020-05-09 11:19] yonzhan commented on #12912
@haroldrandom  is experimental for new breadth coverage

[2020-05-09 11:21] yonzhan commented on #13417
add to S170

[2020-05-09 16:46] GustavoAmerico opened #13420 "Change max pods per node on cli"
# Change max pods per node on cli

## Problem
i'm facing problem in my AKS, as i found max pods number is 30 per node, when i checked the deployed pods I found +-10 pods are related to AKS system itself, i think max pods number should not include AKS system pods as this reduced my limit to 20 not 30 as mentioned in MS doc.

### Expectative:
run `az aks nodepool update --cluster-name <you aks clust

[2020-05-09 16:54] apivaras opened #13421 "can open port 80"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm open-port`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm open-port -g {} -n {} --port {}`

## Expected Behavior

## Environ

[2020-05-09 19:30] dsotomstecs opened #13422 "error when trying to delete a resource group"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group delete --name {} --no-wait --ues`

## Expected Behavior

## Env

[2020-05-09 23:40] yonzhan commented on #13420
aks

[2020-05-09 23:41] yonzhan commented on #13421
@qwordy please take a look

[2020-05-09 23:41] yonzhan commented on #13422
add to S170

[2020-05-10 02:44] cesarcas1994 opened #13423 "AZ-CLI error creating token on Azure API for FHIR"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --resource={}`

## Expected Beha

[2020-05-10 05:33] ramganesh19 opened #13424 "Failed to create Keyvault certificate"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault certificate get-default-policy`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault certificate get-default-policy --output

[2020-05-10 05:34] ramganesh19 opened #13425 "Failed to create a keyvault"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault create --resource-group {} --name {} --enabled-for-deploy

[2020-05-10 05:35] ramganesh19 opened #13426 "Failed to create the certificate"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault certificate create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault certificate create --vault-name {} --name {}

[2020-05-10 05:37] ramganesh19 commented on #13426
Below is command
keyvault_name=mykeyvault
az keyvault create --resource-group myResourceGroupAutomate --name $keyvault_name --enabled-for-deployment

[2020-05-10 12:18] charlvdm101 opened #13427 "az webapp up: How do I get permissions for this ?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up -n {} -g {}`

## Expected Behavior

## Environment Summary
[co

[2020-05-10 13:44] yonzhan commented on #13423
add to S170

[2020-05-10 13:46] yonzhan commented on #13424
@bim-msft please take a look

[2020-05-10 13:47] yonzhan commented on #13427
webapp

[2020-05-10 13:48] yonzhan commented on #13426
@bim-msft please take a look

[2020-05-10 13:48] yonzhan commented on #13425
@bim-msft please take a look

[2020-05-10 17:48] diepes commented on #13166
@bin-msft thanks for the info/update.

Ok so if i understand correctly if we add a certificate, for consistency it will show under
$ az keyvault certificate list --vault-name $AKVNAME

but then
$ az keyvault certificate download --name $certName --vault-name $AKVNAME --file test-cert.pem

For other's running into this you can still download all the certificates and secret with
$ az keyvault secret

[2020-05-11 01:35] yungezz commented on #13426
hi @ramganesh19  did you see the error in Cloudshell? If yes, this is a known Cloudshell issue. Cloudshell team is looking at it. To workaround, pls use local Azure CLI on local machine.

[2020-05-11 01:36] yungezz commented on #13426
duplicate with https://github.com/Azure/azure-cli/issues/13425

[2020-05-11 01:36] yungezz commented on #13425
duplicate with https://github.com/Azure/azure-cli/issues/13426

[2020-05-11 01:36] yungezz commented on #13425
#13426 https://github.com/Azure/azure-cli/issues/13426

[2020-05-11 01:37] yungezz commented on #13424
duplicate with https://github.com/Azure/azure-cli/issues/13426, close this one

[2020-05-11 01:37] #13424 closed

[2020-05-11 01:37] yungezz commented on #13421
hi @apivaras did you see the error on Cloudshell?

[2020-05-11 01:39] yungezz commented on #13420
routing to appropriate team

[2020-05-11 02:30] StingyJack opened #13428 "What is the point of these commands if you cant tell it what App service to work with?"
The deployment user/pass are different on every app service. Which app service is this command going to show me the credentials for if I dont name one as a parameter?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bea54d36-cb69-577c-e114-2c4bd0e33728
* Version Independent ID: 812e7aa5-2e8a-f9ef-d922-df188bd6275a
* Cont

[2020-05-11 02:41] frankfuu commented on #13081
Also came across this issue. Is there a fix? I'm currently using `azure-cli` in a container as a temporary solution.

[2020-05-11 02:51] #13340 closed

[2020-05-11 03:16] jiasli commented on #12947
Azure CLI does have an option to disable telemetry. Please see [CLI configuration values and environment variables](https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration?view=azure-cli-latest#cli-configuration-values-and-environment-variables) and use `collect_telemetry` to disable telemetry.

[2020-05-11 03:17] arrownj commented on #13385
Hi @jms1voalte , CLI use it to check whether it can access the internet. We will consider change it to an official website in the future.

[2020-05-11 03:20] arrownj commented on #13124
Hi @Slowdive-Aideron , if no more problems, I will close this issue first. You can reopen it or submit a new one if you have other concerns. Thanks

[2020-05-11 03:20] #13124 closed

[2020-05-11 03:33] jiasli commented on #8342
This is specific to AAD which is not currently on our road map. Could you refer to https://github.com/Azure/azure-cli/issues/12946 and see if this can be done via `az rest`?

[2020-05-11 03:37] jiasli commented on #13384
This issue has been fixed in the doc generation and will go live in next CLI release.

[2020-05-11 03:37] #13384 closed

[2020-05-11 03:39] yonzhan commented on #13428
webapp

[2020-05-11 03:43] jiasli commented on #10439
@qianwens, I think this is a really good argument to include all of `objectId`, `clientId` and `resourceId` so that users can know **who the managed identity is**.

[2020-05-11 03:43] zhoxing-ms commented on #12933
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-05-11 03:43] #12933 closed

[2020-05-11 03:50] jiasli commented on #11054
@JeffGreenlee42, do you mind sharing what exactly the "problem" is?

[2020-05-11 03:53] jiasli commented on #11031
@BenjaminHerbert, thanks for this nice feedback. Please https://github.com/Azure/azure-cli/issues/10724#issuecomment-539345221 where I described what a scope is.

I will improve the help message and make it clearer.

[2020-05-11 04:00] jiasli commented on #11148
This is discussed before at https://github.com/Azure/azure-cli/issues/7579. Could check https://github.com/Azure/azure-cli/issues/7579#issuecomment-564178101 and see if you can be unblocked with `az rest`?

MS Graph migration is on our road map (https://github.com/Azure/azure-cli/issues/12946).

[2020-05-11 04:02] jiasli commented on #10284
Good suggestion! I will make it into the MSAL/Azure Identity Integration. Also see https://github.com/Azure/azure-cli/pull/13195.

[2020-05-11 04:02] StingyJack commented on #13428
@yonzhan - i dont understand your response.

[2020-05-11 04:06] jiasli commented on #10742
This is a known issue of Cloud Shell, please see https://github.com/Azure/azure-cli/issues/11749#issuecomment-570975762 for workaround.

[2020-05-11 04:06] #10742 closed

[2020-05-11 04:16] jiasli commented on #10841
There is no limit on guest owner's permission. Actually, I am using a testing tenant as a guest user myself! I will do more testing and debugging on this issue.

For now, could you try granting [Application Administrator](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles#application-administrator) and see if you can get unblocked?

![image](htt

[2020-05-11 04:18] jiasli commented on #9377
We plan to implement this in Azure Identity Integration. Please see my comment at https://github.com/Azure/azure-cli/issues/13276#issuecomment-621768143.

[2020-05-11 04:30] jiasli commented on #8930
`az configure` now supports `--scope` which make the config specific to a directory.

[code]

We are going to extent to automatic argument populating in Local Context implementation: https://github.com/Azure/azure-cli/issues?q=+label%3A%22Local+Context%22. +@arrownj

[2020-05-11 04:30] #8930 closed

[2020-05-11 04:33] tejasshah7 commented on #13350
Please do look at the final PR of Powershell as there were some argument type changes done there.
https://github.com/Azure/azure-powershell/pull/11808

[2020-05-11 04:34] jiasli commented on #12939
Thanks for checking. We are still communicating with AAD team. Thanks for your patience. But for now, let use it as it is to get unblocked. 😉

[2020-05-11 04:38] yonzhan commented on #13428
webapp CLI commands are owned by service team and they will look into this.

[2020-05-11 05:21] arrownj commented on #12445
Hi @nicotruc , this is a known issue of Cloud Shell. We have an issue to trace it in #11749 . For workaround, you can run `az login` and rerun the command. Close this first, we will keep tracking this problem in #11749 .

[2020-05-11 05:21] #12445 closed

[2020-05-11 05:46] liualexiang commented on #9894
REST API is working, please refer to guibirow's reply: https://github.com/Azure/azure-cli/issues/9894#issuecomment-539916667

[2020-05-11 05:59] HermanCordes commented on #13373
@Juliehzl I've confirmed the issue still exist today. I've tested on an Azure DevOps pipeline with the AzureCLI task running on an ubuntu-latest agent. See error message below.

[2020-05-11 09:11] #12480 closed

[2020-05-11 09:26] qianwens commented on #12691
I see, it is a useful feature to generate a global unique dns entry based on the resource, we will add this feature request in the backlog.

[2020-05-11 09:27] #12783 closed

[2020-05-11 09:38] qianwens commented on #13234
@ElvenSpellmaker you can use [azdev ](https://github.com/Azure/azure-cli-dev-tools)to debug cli code. In this case, will it fail if you run command in windows terminal? Besides, python2 support is deprecated in Az CLI now so you can only use Python3.

[2020-05-11 09:41] ElvenSpellmaker commented on #13234
@qianwens I'll have a look with `azdev` when I can!

This problem happened with both python 3 and 2 and on Cygwin and Windows. So it wasn't a version problem.

[2020-05-11 09:43] #11118 closed

[2020-05-11 10:15] MelleB opened #13434 "%60%60%0ALinux-4.19.95-x86_64-with-glibc2.2.5%0APython+3.7.7%0A%0Aazure-cli+2.2.0+%2A%0A%0A%60%60%60%0A%23%23+Additional+Context%0A%0A%3C%21--Please+don%27t+remove+this%3A--%3E%0A%3C%21--auto-generated--%3E%0A%0A&template=Bug_report.md"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

[2020-05-11 10:16] #13434 closed

[2020-05-11 11:49] bsuchorowski commented on #13276
So there is no way to reduce the number of login calls? It would not be a problem if #7465 would not be happening. We have a powershell script with a dozen of az commands such as az acr repository show-tags and az acr helm push and it is taking too long to execute them.

[2020-05-11 12:18] howardjones opened #13436 "Allocating IPs?"
Is there any method to allocate the next available IP in a prefix? Or at least find the IP address to use when creating an actual Public IP resource?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f494d2d1-07a1-3ac8-fc2f-6aaddd340959
* Version Independent ID: c7e19a80-0c3d-268c-643d-3b2a8dde4027
* Content: [az network

[2020-05-11 13:02] jiasli commented on #13276
Thanks for the details. I see where the problem is - it is more about the **execution time** of each command when retrieving the access token, instead the **number** of retrieving access token calls. 😉

Still, I am not sure if #7465 is relevant. As in #7465, only the first call should be slow, then the following calls should be normal.

Yes, reducing the number of retrieving access token calls may

[2020-05-11 13:43] yonzhan commented on #13436
add to S170

[2020-05-11 14:20] edwardsp commented on #13011
I am presuming the issue is the from api_version used in [azure-sdk-for-python](https://github.com/Azure/azure-sdk-for-python)?  I can see it is set [here](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/netapp/azure-mgmt-netapp/azure/mgmt/netapp/operations/_accounts_operations.py#L40).  The modification history for that is [here](https://github.com/Azure/azure-sdk-for-python/commits

[2020-05-11 15:08] howardjones commented on #13436
I found the answer eventually - it's done from the `az network public-ip create` command, not the prefix, but it would be much clearer if there was some pointer there.

[2020-05-11 15:08] oszi commented on #12390
Not sure if a new issue is warranted but I experience similar warnings with the bundled python 3.6 in the azure-cli RPM package. This happens to break terraform.

[code]

[2020-05-11 15:31] Klaas- opened #13437 "List/delete within storage account like on Azure Portal"
Hi!

**Is your feature request related to a problem? Please describe.**

I am trying to delete a bootdiagnostics container from a astorage account that is set to not allow any network connectivity. I can do this over portal, on cli I get an error: "The request may be blocked by network rules of storage account."

From my understanding the portal should do the same as az cli when using "--auth-mode

[2020-05-11 16:11] jluk commented on #13420
This is by design, the pods per node have to represent the actual count of pods viewed from k8s. The system pod count is dependent on the cluster config, if you add multiple addons the "system-pods" will increase and while these pods are managed by the AKS service, they still reside in user-space so you can debug and transparently view them as needed.

It is also by design that there must be 1 sys

[2020-05-11 16:11] #13420 closed

[2020-05-11 17:22] GustavoAmerico commented on #13420
I understand, displaying the system nodes in the total of pods makes sense, but, I did not understand how you determine that the maximum pod in the node is 30. A cluster with nodes DS12-V2 only run 30 pods equals the cluster with B2MS?

This problem should not be closed without action, I reported 2 problems with the CLI.
Problems:
1. az aks nodepool update --max-pods not working

1. It is not poss

[2020-05-11 17:26] sanjay1913 opened #13438 "Powershell command equivalent to "az keyvault certificate pending merge" cli command"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-05-11 17:31] jluk commented on #13420
The max pod setting per node is user defined and done so at create time only for each agent pool. There is no update functionality for it as seen from the possible commands on update:
[code]

Clusters require at least 1 system pool, as returned in err msg. This is detailed here:
https://docs.microsoft.com/en-us/azure/aks/use-system-pools

[2020-05-11 17:47] rebecca-makar commented on #12987
@yonzhan any updates on this? Still broken

[2020-05-11 19:13] panchagnula commented on #11932
@vinisoto can you comment on this?

[2020-05-11 19:31] alesniak303 commented on #13405
FYI. It seems that in Safari, if you have navigated to a hostname using SSL, it records that and subsequently redirects to SSL.  To then be able to use HTTP with that host, one has to go through a rather onerous procedure to remove that mapping.  This applies to localhost as well.

[2020-05-11 19:44] vinisoto commented on #11932
Thanks for using Windows Containers.

Just tried and **--mountpath /webstorage** works for me (both in the Portal and CLI). There was a regression a few sprints back but it is working now.

cc @jvano

[2020-05-11 20:37] JerryJoyce commented on #12035
I hit this today.  Fresh install of Catalina using azure cli from Homebrew

[2020-05-11 21:39] dazinator commented on #11932
@vinisoto as per the original issue, the error I was seeing was when specifying a drive etc `--mountpath C:/webstorage`. This used to work as a mapping through the UI. Several weeks ago this stopped working in the UI for a while, and also fails through the CLI. It does work if I don't specify a drive e.g `--mountpath /webstorage` but that means you can't map to custom drives, only to subfolders of

[2020-05-11 22:08] abokov commented on #13101
Ubuntu 20.04 - still have this issue with Azure Cli from apt-get - it does install old ones
{
  "azure-cli": "2.0.81",
  "azure-cli-core": "2.0.81",
  "azure-cli-telemetry": "1.0.4",
  "extensions": {
    "azure-devops": "0.17.0"
  }
}

Fix with  curl -L https://aka.ms/InstallAzureCli | bash ( from https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest ) does help,

[2020-05-11 22:38] yonzhan commented on #13437
add to S170

[2020-05-11 22:42] yonzhan commented on #13438
@bim-msft  please take a look

[2020-05-11 22:58] yonzhan commented on #12987
@rebecca-makar netappfiles service team should look into this.

[2020-05-11 23:25] hcrutz opened #13443 "Deployment of ARM template with az deployment group fails during validation with encoding error"
#12648 # **This is autogenerated. Please review and update as needed.**

## Describe the bug
impossible to deploy an arm template because of encoding/converting error, where no special characters exist. I tried different file encodings, but without change.
I have three similar templates for logic apps, but one can't be deployed.

**Command Name**
`az deployment group create`

**Errors:**
[code]

#

[2020-05-11 23:30] yungezz commented on #13443
hi @zhoxing-ms could you pls have a look? thanks

[2020-05-11 23:31] yungezz commented on #13438
feature request

[2020-05-12 00:31] bestbear opened #13444 "az find failed with an unexpected error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az find`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az find {}`

## Expected Behavior

## Environment Summary
[code]
## Additional C

[2020-05-12 00:34] bestbear commented on #13444
Likely related to this previously reported bug with SSLErrors via the CLI:
https://github.com/Azure/azure-cli/issues/8632

[2020-05-12 01:15] gentlemanlance opened #13445 "Failed to use "az account get-access-token --resource https://apps.azureiotcentral.com""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --resource {}`

## Expected Beha

[2020-05-12 02:31] Grayer123 commented on #12488
Hello @zhoxing-ms, I looked into our codebase and tried to add a test to put this URL:
"http://ran-wang:100/subscriptions/e14dfa7e-dee1-4fb4-9c6d-a9800e23ef2c/tagnames/pretag/tagvalues/%20%20value1%20%20?api-version=2014-04-01-preview".

And the response retains both the leading and trailing empty space:
**TagValue = "  value1  "**
There is no logic in our code to remove the trailing empty space,

[2020-05-12 03:35] fengzhou-msft commented on #12390
@oszi a fix for your issue is on the way: https://github.com/Azure/azure-cli/pull/13435

[2020-05-12 03:59] kush-shah opened #13446 "az aks get-credentials"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2020-05-12 04:12] dmedina0217 opened #13447 "I cannot get a simple flask app to run on an azure app service on linux. I am using ubuntu 20.04 distro and have python 3.7.7 installed by default. I have tried using conda and venv"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --sku {} -n {}`

## Expected Behavior

## Environment Summary

[2020-05-12 04:30] jiasli opened #13448 "CI is broken by the latest release of flake8"
CI is broken by the latest release of flake8 3.8.0: https://pypi.org/project/flake8/

https://dev.azure.com/azure-sdk/public/_build/results?buildId=388688&view=logs&j=10884592-6334-52bc-4a58-7b0259fa5909&t=c6210a79-6b8f-5f7c-861b-11eaae91f848&l=366

[code]

We need to do any of these:

1. Lock flake8 version to 3.7.9
2. Disable these errors in `.flake8` file
3. Fix the violations in the code

[2020-05-12 06:37] fengzhou-msft commented on #13413
@jiasli anything we can do in kanck or core to catch the BrokenPipeError?

[2020-05-12 06:49] jiasli commented on #13417
I think the same applies to azdev https://github.com/Azure/azure-cli-dev-tools. The CI should use the source code of azdev.

[2020-05-12 07:23] 5m1 commented on #13081
Looking for any update on this as having same issue here

[2020-05-12 07:39] yonzhan commented on #13443
add to S170

[2020-05-12 07:41] yonzhan commented on #13444
az find

[2020-05-12 07:43] yonzhan commented on #13445
add to S170

[2020-05-12 07:57] yonzhan commented on #13446
aks

[2020-05-12 07:57] yonzhan commented on #13447
webapp

[2020-05-12 08:00] jiasli commented on #13444
@bestbear, looks like you are behind a proxy. Could you check https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy and see if it solves the issue?

[2020-05-12 08:01] yonzhan commented on #13448
add to S169

[2020-05-12 08:19] VikasPullagura-MSFT opened #13453 "Windows nodepool is not supported error with azure-cli version 2.4.0"
**Describe the bug**
In the latest cli version (azure cloudshell `azure-cli    2.4.0 *`) getting error while adding windows node pool to aks cluster the Error is **Windows nodepool is not supported**

**To Reproduce**
Here is the tutorial [link](https://docs.microsoft.com/en-us/azure/aks/windows-container-cli#add-a-windows-server-node-pool)
Below are commands to reproduce the issue:

[code]
Error

[2020-05-12 08:19] zhoxing-ms commented on #12488
@Grayer123 But in fact, the same problem exists with using the command `az rest` to request the rest API directly :

[code]

It looks like it's still a Service API problem, two spaces after *value1* are trimmed. Is this because the processing logic of your deployed service( http://ran-wang:100 ) is different from that of the online service( https://management.azure.com )?

[2020-05-12 08:30] MyronFanQiu commented on #10970
Closed this issue since it's by design. If anyone want to change the design, please vote for this issue.

[2020-05-12 08:30] #10970 closed

[2020-05-12 09:03] jiasli commented on #13421
Looks like the same issue as https://github.com/Azure/azure-cli/issues/11749

[2020-05-12 09:21] qwordy commented on #13421
According the error message, something is wrong when trying to get msi token. Are you using CloudShell?

[2020-05-12 09:21] jsntcy commented on #12163
@rmtier, could you help provide the information I mentioned above for us to troubleshoot?

[2020-05-12 09:51] mclagett opened #13455 "Aks and acr aren't available under Azure CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`Unknown`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse` (or any other az aks or az acr command)

## Expected Behavior
I w

[2020-05-12 10:55] mcalnd70 commented on #12242
Getting the same busted message and its nothing to do with Terraform. Its an Azure CLI task running Azure CLI commands in a Powershell script...

[code]

Returns back with...

[code]

This is my script...its been working for months. Using the vmimage 'windows-latest'....

[code]

Is a fix or workaround coming please?

[2020-05-12 11:11] yonzhan commented on #13453
aks

[2020-05-12 11:24] yonzhan commented on #13455
Aks

[2020-05-12 12:52] yoramsinger opened #13456 "Add support for listing and restoring deleted log analytics workspaces."
**Resource Provider**
Microsoft.OperationalInisghts

**Description of Feature or Work Requested**
We need to enable PS/CLI to recover a deleted workspace. Recovering a workspace is simply calling PUT (create) on a workspace resource, providing the original location. A workspace can be recovered during 14 days after it was deleted.

The UI for this feature will be available this week. The basic UI

[2020-05-12 12:59] gandhirajan commented on #12903
@dsouzaarun @v-Ajnava  Hi, Its been a month now and I dont see any update on this issue. Can you please provide me some details on this?

[2020-05-12 13:24] ashwarn opened #13457 "az keyvault key download failing on ubuntu"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault key show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault key show`

## Expected Behavior

## Environment Summary

[2020-05-12 13:25] callaght opened #13458 "error if I execute az group list in azure cloudshell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group delete`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group delete -n {}`

## Expected Behavior

## Environment Summary
[code]
##

[2020-05-12 13:32] yannick-Lapierre opened #13459 "az storage remove fire RemoteException"
I am using *az storage remove* in a custom DevOps Task (PowerShell script) on DevOps Pipeline.
at run time it returns an exception:
[code]
the source is:
[code]

I tried to encapsulate it in a try-catch, it make is passing but the target file is not removed, I expect the exception breaks the execution of the statement.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2020-05-12 13:35] yungezz commented on #13459
hi @Juliehzl  could you pls have a look?

[2020-05-12 13:36] yungezz commented on #13458
hi @callaght could you pls share the error detail?

[2020-05-12 13:37] yungezz commented on #13457
hi @bim-msft could you pls have a look?thanks

[2020-05-12 13:38] yungezz commented on #13456
feature request at monitor

[2020-05-12 13:46] yungezz commented on #13455
hi @mclagett you need install aks-preview extension by
[code]
before using aks-preview extension. Could you pls share the doc link so we can check if the doc steps correct?

[2020-05-12 13:47] yungezz commented on #13453
hi @VikasPullagura-MSFT have you tried install `aks-preview` extension?

[2020-05-12 13:51] callaght commented on #13458
Here you go...

The command failed with an unexpected error. Here is the traceback:

[Errno 30] Read-only file system: '/home/tom/.azure/commands/2020-05-12.13-51-02.group_list.375.log'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 215, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/azure/cli

[2020-05-12 14:00] VikasPullagura-MSFT commented on #13453
Thanks tried installing the preview and issue is resolved.

[2020-05-12 14:00] #13453 closed

[2020-05-12 14:55] marcusjwhelan commented on #13044
I got a different error but the create function still does not seem to be working. Mine was a max retries.

Working in cli on powershell, not using powershell commands though.
Just
[code]

Before Error debug lines
[code]

Error
[code]
After error debug lines
[code]

[2020-05-12 14:59] #13448 closed

[2020-05-12 16:25] anastasia-lebedeva commented on #5190
Hi!

Same problem here.
Command

[code]

outputs:

`> Finished service principal creation[##################################]  100.0000%Operation failed with status: 'Bad Request'. Details: The credentials in ServicePrincipalProfile were invalid. Please see https://aka.ms/aks-sp-help for more details. (Details: adal: Refresh request failed. Status Code = '400'. Response body: {"error":"unauthorize

[2020-05-12 16:30] panchagnula commented on #11244
@calvinsID might be good issue for you to start with.

[2020-05-12 17:20] panchagnula commented on #12955
@larsmaes can you clarify what you clarify your ask please? Do you need the app to be in stopped state? Once the app is created the app automatically set to running state. Have you tried to explicitly stop the app after az webapp create using command https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-stop

[2020-05-12 17:59] Raul150 opened #13460 "Using SPN parameter makes a reference to app ID not to Service Principal name"
In documentation is stated SPN attribute makes a reference to Service Principal which is not the case, if you try to add an actual name the command will brake and show the following error
Unable to find user with spn '47f813e7-5968-4ee1-bad8-2b4dafa9c94c'
Unable to get object id from principal name.
I think is necessary to explain SPN can only be use by application and makes a reference to an appl

[2020-05-12 18:13] anthonychu commented on #10879
@dwhanger Can you please confirm that this is working for you as well? Thanks.

[2020-05-12 18:19] anthonychu commented on #12289
@Hazhzeng Can you please take a look at this and see if we can fix it for functionapp as well? Thanks.

[2020-05-12 18:25] anthonychu commented on #11195
We currently don't support the ability to create a consumption plan by itself. For downgrade scenarios from Premium to Consumption, please create a new function app for the time being. We'll look into whether we can enable this.

[2020-05-12 19:48] Luiz-Monad commented on #12090
Thanks for the link. Looking in that source code line I found another code path that I could use as an work-around.
I'm leaving this here for future reference if someone else also stumble on this.

[code]

[2020-05-12 20:51] JasonWHowell commented on #12720
I believe this is resolved by recent docs changes. #please-close

[2020-05-12 22:29] yonzhan commented on #13459
add to S170

[2020-05-12 22:29] phillipmacon opened #13463 "ssh"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-05-12 22:31] yonzhan commented on #13456
add to S170

[2020-05-12 22:39] yonzhan commented on #13458
add to S170

[2020-05-12 22:50] yonzhan commented on #13460
add to S170

[2020-05-12 22:58] yonzhan commented on #13463
@phillipmacon what is your detailed issue ?

[2020-05-12 23:01] danielbecroft commented on #12090
I can confirm that @Luiz-Monad 's solution works as well. So simple.

[2020-05-13 00:19] Grayer123 commented on #12488
Hello @zhoxing-ms, thanks for the feedback. I took a look of **ARM kusto log** for **HttpIncomingRequests**:
[code]

[code]
I found no matter cmd "rest" or "tag add-value	-n --value", when the request reached ARM, the trailing empty space of the targetUri had been trimmed:
https://management.azure.com:443/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/tagNames/pretag/tagValues/%20%20value1?api

[2020-05-13 01:44] zhoxing-ms commented on #12488
@Grayer123 OK, thanks for your help~

[2020-05-13 02:53] jiasli commented on #13460
@Raul150, thanks for contacting us. Could you share more information?

1. The link to the doc you mentioned
2. The command you ran
3. The output when you run the command with `--debug`

[2020-05-13 02:59] awentzel opened #13465 "Please explain what the commands do"
For example, what does "soft delete" do?  We should assume that many users reading this documentation don't know Azure language and terminology.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 226e5769-f6c8-a480-db78-727fb96348ec
* Version Independent ID: 8ee06a2a-6eda-11be-3c8e-6ad948be207e
* Content: [az keyvault](htt

[2020-05-13 03:03] awentzel commented on #13465
I would also like to know more about what and how `--enable-rbac-authorization` works, as another example.

[2020-05-13 03:26] vabgujral opened #13466 "Add support for getting list of all selectable SKUs for a given App Service Plan"
**Is your feature request related to a problem? Please describe.**

Currently, there is no way to get a list of all the selectable SKUs for a given app service plan through Azure CLI.

**Describe the solution you'd like**

It would be handy to have a CLI command to get the list of all the selectable SKUs for a given app service plan. Like **az appservice plan list-available-sku**. The commandlet w

[2020-05-13 03:49] btardif commented on #11634
@chenlomis this is the same issue being discussed here: https://dev.azure.com/azuretracking/Azure%20tracking/_workitems/edit/680

[2020-05-13 03:51] jiasli commented on #13293
https://github.com/Azure/azure-cli/pull/2951 aimed to remove `pkg_resources/declare_namespace` from the final wheel, but in my test with pip and Windows MSI installer, the `__init__.py` or `__init__.pyc` file is still there. Why?

This also brings up another question: what is the purpose of `azure-cli-nspkg` and `azure-cli-command_modules-nspkg`. Are we free to remove them?