[2021-01-29 14:31] yonzhan commented on #16734
sf

[2021-01-29 14:32] yonzhan commented on #16735
container

[2021-01-29 14:35] yonzhan commented on #16736
ARM

[2021-01-29 15:13] czmirek opened #16737 "Can not use "--network-profile" with IP address type "Public""
## Describe the bug
Even with `--ip-address Private` i'm getting error message that IP address type is "Public"
Location: West Europe

**Command Name**
`az container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create or have an existing networking profile pointing on a spe

[2021-01-29 15:57] ElvenSpellmaker opened #16738 "`az functionapp config container set` is missing parameters that `az webapp config container set` has"
**Describe the bug**
The `functionapp` subcommand is missing several key flags that the equivalent `webapp` command has.

This means when you deploy a Function App into Azure no functions appear.

Also as a side point, the fact that if `WEBSITES_ENABLE_APP_SERVICE_STORAGE` is missing or set to true, the Kudu runtime pulls the container but never uses it with NO logs is _so so so so_ confusing... 😖

[2021-01-29 16:16] vladris commented on #16469
Any idea when this will be fixed?

[2021-01-29 16:36] AndriiOmelianenko opened #16739 "az ad app update for app roles erases saml2Token optional claims"
**Describe the bug**

I have application manifest that has optional claims that look like this:
[code]
As far as I understood from other opened issues, this az-cli doesn't support update of `saml2Token`

However!, when I update application roles (don't do anything with optional claims), `saml2Token` gets erased:
[code]
**To Reproduce**

Put something in `optionalClaims.saml2Token`

[code]

Verify

[2021-01-29 16:56] AndriiOmelianenko commented on #11534
hi @arrownj I've bumped into the issue that if you already have `saml2Token` filled in, and you want to update application roles, the content of `saml2Token` gets erased completely from manifest.
here is the issue created: https://github.com/Azure/azure-cli/issues/16739

[2021-01-29 18:55] amjads1 commented on #16385
@Vaibhav-Agar Can you please look into this issue?

[2021-01-29 20:39] davehcdn commented on #16737
We experienced the same thing today.  If you try with --debug and --verbose you might be able to track the course of actions / API calls which may reveal why there is this conflict.

Obviously a bug.

[2021-01-29 22:36] calvinsID commented on #16719
This property has not yet been swaggered/added to azure-rest-api-specs https://github.com/calvinsID/azure-rest-api-specs/blob/3db9067827c9e9d65d19b0dbf3c5c5d1ea51c067/specification/web/resource-manager/Microsoft.Web/stable/2020-09-01/CommonDefinitions.json

[2021-01-29 22:39] calvinsID commented on #16706
This should be fixed in next release (2.19 or 2.18.1)

[2021-01-29 22:40] #16706 closed

[2021-01-29 22:42] nexxai commented on #16719
Is there any plans to update the spec to do so?  I ask because we have a use case that this is blocking: if you take a WebApp, scale it up to a PremiumV2 SKU, and then execute an action that enables this flag, if you then want to scale it back down to a Basic SKU, you are permanently prevented from doing that because this flag can't be modified.

[2021-01-30 02:17] yonzhan commented on #16738
functionapp

[2021-01-30 02:18] yonzhan commented on #16739
Graph

[2021-01-30 02:23] yonzhan commented on #16737
container

[2021-01-30 06:14] benjamincburns opened #16740 "No CLI command to update managed app definition"
**Is your feature request related to a problem? Please describe.**
Based on the [Azure Management API reference documentation](https://docs.microsoft.com/en-us/rest/api/managedapplications/applicationdefinitions/createorupdate) it would appear that it's possible to update an existing managed application definition. Unfortunately, there's no update command in the CLI to do this.

**Describe the sol

[2021-01-30 07:14] sudeep1607 opened #16742 "az monitor diagnostic-settings create help"
Is there a way to specify the resource groups for both the resource for which diagnostic settings is being created and the workspace which this diagnostic setting is being linked to while using the below command

az monitor diagnostic-settings create

Currently i can see only one option --resource-group. But if the resource and log analytics workspace are in different resource groups how to specif

[2021-01-30 11:19] admin-olivetech commented on #7368
Hello Team,

Is this near a resolution by any chance?? I've recently bought Pi400 in bulk(10 units) and looking to install az cli, but failed. I understand it is to do the with arm architecture. sharing the response from my unit when I investigate the architecture.

 ~  dpkg --print-architecture
armhf

[2021-01-30 17:14] pragnagopa commented on #16126
cc @AnatoliB
@gzuber - Can you please prioritize fixing this for function apps?

[2021-01-30 21:05] dennisseah opened #16743 "doc for az storage account management-policy update need example(s)"
there are no examples of how to update lifecycle policy using `az storage account management-policy update` command cli.
the policy is in JSON format. how do we set it in command line

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7f84b325-33af-86ab-749e-faec2e01a1f3
* Version Independent ID: 87036460-df59-9239-680d-29

[2021-01-30 21:13] pandeyvaibhav opened #16744 "Got ResourceNotFoundError: The Resource 'Microsoft.Network/routeTables/WinRouteTable' under resource group 'WindowsDevRG' wasnot found. For more details please go to https://aka.ms/ARMResourceNotFoundFix"
Hi,

I tried executing this command from Azure shell:
az network route-table route create -g $RGName --route-table-name $RouteTable -n MyRoute --next-hop-type VirtualAppliance --address-prefix 10.0.0.0/16 --next-hop-ip-address 10.0.100.4

And got this error:
This command is implicitly deprecated because command group 'network route-table' is deprecated and will be removed in a future release. Use'

[2021-01-31 00:46] yonzhan commented on #16740
ARM

[2021-01-31 00:49] yonzhan commented on #16742
monitor

[2021-01-31 00:51] yonzhan commented on #16743
storage

[2021-01-31 00:52] yonzhan commented on #16744
network

[2021-01-31 04:42] dshamanthreddy commented on #9216
Hello @yugangw-msft need help I need to list all user in AAD with displayname and email,

I m trying this way
az ad user list –query “[].{ name:displayName,mail:mail}” -o tsv

it is not display anything

can you help

[2021-01-31 06:38] khaldelshiekh opened #16745 "Not able to authenticate throw the application from visual studio 2019"
Not able to open my application from visual studio it was working as expected before now. I'm getting the below error
**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --o

[2021-01-31 08:20] astauben commented on #16469
We are planning to release new client (with the fix) around mid March.
I'll update the thread once the new client is released.

[2021-01-31 08:23] yonzhan commented on #9216
@jiasli could you help with above?

[2021-01-31 08:25] yonzhan commented on #16745
Account

[2021-01-31 22:01] qwordy opened #16746 "Live test regression"
This issue is created by a program.
[Latest testing results of Azure CLI](https://clitestresultstac.blob.core.windows.net/latest/index.html)
[User Manual of Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EZGC9LwrN3RAscVS5ylG4HMBX9h7W0ZSA7CDrhXN5Lvx6g?e=V8HUmd)
[Upgrading API Versions in Azure CLI Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EcgPLHSkef9Mi14Rj

[2021-01-31 23:21] ajjha-az opened #16747 "Azure CLI Update for VMSS Orchestration Mode"
**Resource Provider**
Microsoft.Compute/virtualMachineScaleSets

**Description of Feature or Work Requested**
Virtual machines scale sets provide a logical grouping of platform-managed virtual machines. With scale sets, you create a virtual machine configuration model, automatically add or remove additional instances based on CPU or memory load, and automatically upgrade to the latest OS version.

[2021-01-31 23:46] yonzhan commented on #16746
@Juliehzl for awareness

[2021-02-01 02:22] fengzhou-msft commented on #16025
@idear1203 any update?

[2021-02-01 02:39] jiasli commented on #9216
@dshamanthreddy, your command looks good to me. Projecting `displayName` and `mail` requires [MultiSelect Hash](https://jmespath.org/specification.html#multiselect-hash) expression.

The command is working fine in my test:

[code]

Things you may check:

- Does the command return anything without `--query` and `--output`?
[code]
- Does CLI receive the correct argument? Make sure arguments are not

[2021-02-01 02:54] kairu-ms commented on #16742
You can use the ID of workspace for `--workspace` argument

[code]

[2021-02-01 03:18] yungezz commented on #16747
hi @qwordy , could you pls help to confirm is this same ask from Jerry on https://github.com/Azure/azure-cli/issues/16666? thanks

[2021-02-01 03:33] jiasli commented on #16739
The `idToken` and `accessToken` support is added by #12954. However as for `samlToken`, as #12954 pointed out, Azure CLI still uses Graph API v1.6, and the service side does not accept `samlToken` anymore.

For the time being, we recommend using `az rest` to directly invoke the Microsoft Graph API [Update application](https://docs.microsoft.com/en-us/graph/api/application-update) to specify [`opti

[2021-02-01 03:48] qwordy commented on #16385
The problem is that snapshot does not support creating from a disk from a different location. But, the error message is misleading. It says "Resource d1 is not found".

[2021-02-01 03:53] qwordy commented on #16710
Hi @IagoFranco , it receives one or multiple values. Do you mean we support "--ssh-key-value" and "--ssh-key-values" at same time?

[2021-02-01 05:26] nextgen1607 commented on #16742
@kairu-ms Yes, we can do that. But it would be nice to just provide the workspace resource group instead of giving the entire path starting from /subscriptions

[2021-02-01 05:31] idear1203 commented on #16025
Yes, the CLI support for this has been done in this PR: https://github.com/Azure/azure-cli/pull/16224

[2021-02-01 06:30] #15650 closed

[2021-02-01 07:58] dod38fr commented on #16566
Note that on Debian testing and unstable, the instructions mentioned above install Debian's version of `azure-cli` because Debian's version (`2.18.0-1`) is greater than Microsoft's version (`2.18.0-1~buster`).

To make sure that Microsoft's `azure-cli` is installed, you should run `sudo apt install azure-cli-2.18.0-1~buster` after Microsoft installation instructions.

HTH

[2021-02-01 08:03] msyyc commented on #16691
I’m trying to repro the problem. If any useful message, we will let you know.

[2021-02-01 08:11] StefanSchoof opened #16748 "az cli docker images uses outdated python image"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
The azure cli docker image uses the image version 3.6.10, see
https://github.com/Azure/azure-cli/blob/dev/Dockerfile#L6
but the offical python docker image no longer supports 3.6.10 only 3.6.12 has a supported image, see https://hub.docker.com/_/python

With this old base image, the image may contain insecure l

[2021-02-01 08:15] qwordy commented on #15868
@puicchan
I got an error
[code]
Is it required to add subscription to allowed list?

[2021-02-01 08:26] AndriiOmelianenko commented on #16739
dear @jiasli, there is some confusion.
I've figured this part already. the problem is - that I had no intentions to update optional claims.

As I specified, I have tried to update **application roles only**.
`az ad app update --id <id> --app-roles @manifest.json`, and don't change optional claims whatsoever.
however seems this operation changes optional claims as well, while it shouldn't do that.

[2021-02-01 08:30] msyyc commented on #16691
Please give more detailed steps to reproduce the problem like:
(1)az ...
(2)az ...
(3)az ...
...
(N) az ...

[2021-02-01 08:32] jsntcy commented on #16691
@jiasli, any insights on this issue?

[2021-02-01 08:42] jiasli commented on #16739
Allow me to explain how `az ad app update` works further:

CLI first gets the application JSON from AD Graph API v1.6, which has
[code]

Python SDK [`OptionalClaims`](https://github.com/Azure/azure-sdk-for-python/blob/fc2efcc6413da2dd0543940e5c398626f49b5b67/sdk/graphrbac/azure-graphrbac/azure/graphrbac/models/optional_claims_py3.py#L31) auto-generated by [REST spec](https://github.com/Azure/azure

[2021-02-01 09:39] blueelvis opened #16750 "Private Group Id in Capitals not accepted for few resources"
**Describe the bug**

For few of the services, the Azure CLI errors out stating that the Group Id is not supported, For example, for some resources, it works when a Group id is sent out in ALL CAPS but for some it fails.

**To Reproduce**

1. Create a RA-GRS Storage Account along with necessary vnet and subnets for Private Endpoint.
2. Try to create a private endpoint for the secondary table endpo

[2021-02-01 09:43] AndriiOmelianenko commented on #16739
@jiasli I see. I personally expected it to do something like a patch operation on approles only, without touching other parts of manifest.

for now I've doing workaround like this:
`az rest --method PATCH --uri https://graph.microsoft.com/v1.0/applications/{object_id} --headers Content-Type=application/json --body {"appRoles": {...}}`
and it works fine. it changes only approles in manifest, withou

[2021-02-01 10:33] jiasli commented on #16691
Followed the tutorial [Create peering - Azure CLI](https://docs.microsoft.com/en-us/azure/virtual-network/create-peering-different-subscriptions#cli) and I am able to reproduce:

[code]

The request header `x-ms-authorization-auxiliary` is missing due to a limitation of Track 2 SDK (https://github.com/Azure/azure-sdk-for-python/issues/8313), https://github.com/Azure/azure-cli/pull/15750 adopted a

[2021-02-01 10:37] jiasli commented on #16691
### Workaround with `az rest`

Use `az rest` to directly invoke [Virtual Network Peerings - Create Or Update](https://docs.microsoft.com/en-us/rest/api/virtualnetwork/virtualnetworkpeerings/createorupdate) REST API.

[code]

[2021-02-01 11:13] IagoFranco commented on #16710
Hi  Feiyue,

I mean that there's no "--ssh-key-value" in the documentation, just with a "s".
But it should consider both in the documentation, it needs to update including the "--ssh-key-value" option.

Atenciosamente,
Iago Franco
Call
Send SMS
Call from mobile
Add to Skype
You'll need Skype CreditFree via Skype

________________________________
De: Feiyue Yu <notifications@github.com>
Enviado: se

[2021-02-01 12:20] jiasli commented on #16739
I got your concern. This is definitely something that should be fixed. However, the reason is complicated (shown below).

As [AD Graph API is already deprecated](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-graph-api), we are not actively maintaining the REST spec anymore. `az rest` should be the right path.

## Too long; don't read

If you are interested, the c

[2021-02-01 12:51] yonzhan commented on #16750
network

[2021-02-01 13:42] sam-cogan commented on #15411
Any update on this? I am having to use older versions of Helm to work around the problem

[2021-02-01 14:13] randy2ner commented on #9851
I'm not sure if this solution was available due to the bug filed, but I ran into the same problem.  By doing this through PowerShell using New-AzPrivateDnsVirtualNetworkLink there is a parameter called -RemoteVirtualNetworkId you can use to reference a VNET in a different tenant.

[2021-02-01 16:35] jeffbearer opened #16754 "az network nic list query example not working?"
I'm in cloud shell with az cli installed.   trying exactly the query example from the docs:
 az network nic list --query "[?dnsSettings.internalDomainNameSuffix=`{dnsSuffix}`]"

and it fails saying:

InvalidArgumentValueError: argument --query: invalid jmespath_type value: '[?dnsSettings.internalDomainNameSuffix=]'
To learn more about --query, please visit: 'https://docs.microsoft.com/cli/azure/qu

[2021-02-01 16:39] jeffbearer opened #16755 "az cli query error suggests users check out help url which returns a 404 error."
**Describe the bug**
When you try to --query and it errors the error suggests users visit a help url.  that link goes to a 404.

**To Reproduce**
$ az network nic list --query "[?dnsSettings.internalDomainNameSuffix='{dnsSuffix}']"
InvalidArgumentValueError: argument --query: invalid jmespath_type value: "[?dnsSettings.internalDomainNameSuffix='{dnsSuffix}']"
To learn more about --query, please vi

[2021-02-01 19:23] anphel31 commented on #7368
Installing with the script instead of apt appears to work on ARM64. ("curl -L https://aka.ms/InstallAzureCli | bash
" - https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=script)

[2021-02-01 19:43] igor-mamaliga commented on #8388
I had the same issue and have achieved the result by manually creating the function from the Azure portal.
Since the portal allows the creation of a function for F1:Free app service plan I am wondering how do they do it ?

[2021-02-01 19:59] janderson0818 opened #16756 "az boards area team add with set-as-default parameter bug"
**Command:**
az boards area team add --org $orgURL --project $Portfolio --team $Team --path $teamPath --set-as-default --include-sub-areas true

When I run the command the first time it sets the area path and sets the default area setting. If the command is run a second time (I ran it looking for error codes that it would throw) the command runs successfully but removes the default area setting le

[2021-02-01 20:14] inaun commented on #11806
Why does everyone want to keep pointing people to this poor article? It doesn't help resolve this problem.

[2021-02-01 20:52] avanigupta commented on #16598
Thank you for reporting this issue. We are working on fixing this for App Configuration service.

[2021-02-01 21:16] rane-rajasi commented on #16159
@qwordy The swagger release has been delayed for sometime now. Current ETA we have for swagger release is the 1st week of Feb.

[2021-02-01 23:45] yonzhan commented on #16754
network

[2021-02-01 23:46] yonzhan commented on #16755
network

[2021-02-01 23:50] yonzhan commented on #16756
boards

[2021-02-02 02:35] jiasli commented on #11806
@inaun, the instruction provided in the article (now moved to [Work behind a proxy](https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#work-behind-a-proxy)) is the standard workflow for Python apps to work behind a proxy. We have tested and verified it multiple times and it did help lots of users solve their problems.

If you find it is not helpful and can't solve your problem, please

[2021-02-02 04:15] jiasli commented on #16745
As the error suggested:

Your AAD tenant has revoked the refresh token. Could you run `az login` again and see if the issue is solved?

[2021-02-02 04:32] yasenstar opened #16757 "WebApp:Cannot use "az webapp up" and get failure result"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --sku {} --name {}`

## Expected Behavior

## Environment Summ

[2021-02-02 04:36] khaldelshiekh commented on #16745
It is solved by refreshing my login on visual studio 2019 I just logged out and logged-in seems my old password was cached. Thank you everyone who tried to help

[2021-02-02 04:36] #16745 closed

[2021-02-02 04:39] yonzhan commented on #16757
webapp

[2021-02-02 04:52] jiasli commented on #16745
@khaldelshiekh, glad to know the issue is solved. If there are any further questions, feel free to let us know.

[2021-02-02 06:36] woodymoo opened #16758 "`az account get-access-token` crashed in china"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --output {} -t {} --resource {}`

[2021-02-02 07:18] braintrooper opened #16760 "idk what ahppened"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2021-02-02 07:55] actini opened #16764 "UnrecognizedArgumentError: unrecognized arguments: --auto-upgrade-channel stable"
**Describe the bug**
I am following this docs to enable auto-upgrade for AKS cluster https://docs.microsoft.com/en-us/azure/aks/upgrade-cluster#set-auto-upgrade-channel, but I am failed because  of "UnrecognizedArgumentError: unrecognized arguments: --auto-upgrade-channel stable" error

**To Reproduce**
Login in with az
az account set --subscription SUBSCRIPTION_ID
az feature register --namespace

[2021-02-02 07:55] qwordy commented on #16747
https://github.com/Azure/azure-cli/issues/16666 focuses on renaming orchestration mode values. Let's just keep both issues.

[2021-02-02 07:57] qwordy commented on #16712
Similar issue https://github.com/Azure/azure-cli/issues/16392

[2021-02-02 08:10] qwordy commented on #16632
@AbelHu, glad to know that.
Use this parameter `--target-regions`
https://docs.microsoft.com/en-us/cli/azure/sig/image-version?view=azure-cli-latest#az_sig_image_version_create

[2021-02-02 08:22] qwordy commented on #16710
We will consider this option. Personally, I think "--ssh-key-values" is fine.

[2021-02-02 08:22] #16632 closed

[2021-02-02 08:54] Ethan-LF commented on #16729
@Shaun-Harrison  The reason why failed to invoke China Azure Key Vault is caused by the limitation of sops tool as when SOPS invokes Azure key vault the internal SOPS will invoke the ip address of Global azure key vault by default and at the meantime the HELP inside sops tool does not have the functions which is similar to switching the environment of Azure Cloud( switch the account between domest

[2021-02-02 09:01] Shaun-Harrison commented on #16729
Hi @Ethan-LF - so there is nothing you can do at this time for this issue?

I have opened an issue with SOPS about this, but not had a reply yet https://github.com/mozilla/sops/issues/809

Is there another way of being able to encrypt & decrypt secrets in a similar way that you can suggest?

[2021-02-02 09:13] TanishGuleria commented on #16513
Having same issue with azure cli

script -:
`az monitor metrics alert create -n <alertname> --region <region> -g <rg> --scopes "/subscriptions/<sbid>/resourceGroups/<Rgname>/providers/Microsoft.Insights/components/<application insight name>"  --condition "count <metric name> alert >= 1"  --window-size 1m --evaluation-frequency 1m --action {action id}  --description "test alert" --severity 2`

Erro

[2021-02-02 09:41] ShijunLu commented on #10076
Hi Ferantivero, may I know what is the FUNCAPP_NAME ? I cannot find document about this. If I what to add a azure function in my project to this action group, how should I find the functionAppResourceId?
Thanks

[2021-02-02 11:19] khaledabdelfatah opened #16767 "error when running'az feedback'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2021-02-02 11:28] ikteru opened #16768 "az storage account generate-sas doesn't generate full url"
The command to generate a SAS link doesn't generate a full url, it just generate the token and that's it.  There is an option in the command that lets you do that and it's "--full-url".
However, every time I try to use it, the azure-cli tells me it doesn't exist:
![image](https://user-images.githubusercontent.com/24244295/106594128-f90bf980-6551-11eb-9343-a345efcc3be5.png)
I figured maybe it's bec

[2021-02-02 11:54] yonzhan commented on #16758
account

[2021-02-02 11:58] yonzhan commented on #16760
account

[2021-02-02 12:01] yonzhan commented on #16764
aks

[2021-02-02 12:22] yonzhan commented on #16767
feedback

[2021-02-02 12:42] yonzhan commented on #16768
storage

[2021-02-02 12:57] Ethan-LF commented on #16729
Hi Shaun, I regret to inform you that we will not be able to invoke China azure key vault by using the sops tool , I do not found a better tool that similar to SOPS. Can you try it in the SDK way？Please see the details:
https://stackoverflow.com/questions/61966417/using-key-by-azure-key-vault-to-encrypt-and-decrypt-text

[2021-02-02 13:18] maxleonalbrecht opened #16769 "Az Backup Restore File - Provide valid item_name / --item-name"
## Describe the bug

**Command Name**
`az backup restore files mount-rp`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az backup restore files mount-rp --container-name {} --item-name {} --rp-name {} --resource-group {} --vault-name {}`

## Expected Behavior

When I try to execute

[2021-02-02 13:36] zhoxing-ms opened #16770 "Decouple the code of `next` in `azure-cli-core`"
In order to decouple the code of `az next` in `azure-cli-core` and reduce the impact on the performance and stability of CLI，I set up this issue to track some items that need to be improved:
- [x] Migrate those methods (`log_cmd_history()`, `clean_exception_history()`) in utils into `next` extension
- [x] Use environment variables `AZURE_CORE_USE_COMMAND_INDEX` and reload command table to skip com

[2021-02-02 13:49] jiasli commented on #16770
Checkbox syntax can be a very good helper 😉:

[code]

[2021-02-02 14:09] RobHofmann opened #16771 "SQL Server unable to whitelist subnet when public access is disabled?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Right now when running `az sql server vnet-rule create` on a SQL Server which has `Deny Public Access` set to `yes`, you will get an error stating `BadRequestError: Unable to create or modify firewall rules when public network access for the server is disabled. `.

According to documentation this seems to be de

[2021-02-02 14:16] DannyArr commented on #16513
Same here. I get the same error when trying on an App Service, but works ok on, for example, Front Door.

[2021-02-02 14:55] jiasli commented on #16760
This is a duplicate of https://github.com/Azure/azure-cli/issues/16517. Please see the comment at https://github.com/Azure/azure-cli/issues/16517#issuecomment-759414821.

[2021-02-02 15:34] dbradish-microsoft opened #16772 "az vm & az resource move failed deployment"
CLI Team,

This bug was reported to me via email and I am copying the communication here for your review.

*****************************************
Tl;dr: looks like there is a bug and CLI lies about a failed deployment :D

I found a few issues with the script, which I fixed (variables had spaces between the variable = value, but it needs to be variable=value) and I move where you set subscriptio

[2021-02-02 15:39] calvinsID commented on #16757
Hi @yasenstar, can you pls try reinstalling CLI?

[2021-02-02 15:41] cocowalla commented on #15762
I'm having the same issue. Such a PITA having to keep reverting to PowerShell when az CLI stuff doesn't work 😭

[2021-02-02 16:25] cocowalla commented on #13587
Having the same issue (it works with `audit-policy`, but I get this with `threat-policy`)

[2021-02-02 16:30] Zaniyar opened #16773 "Can not run docker compose up locally: local path not allowed as volume source"
I have a simple docker-compose.yaml file:

[code]
I have nothing set up with azure (I am even logged out on the cli) - I just want to run this docker compose locally - nothing to do with Azure:

[code]
or sometimes this error:
`
host path ("/Users/xyz/project/hello") not allowed as volume source, you need to reference an Azure File Share defined in the 'volumes' section`

## Environment Summary
[c

[2021-02-02 16:35] yasenstar commented on #16757
Already reinstalled but not help

Regards,
Xiaoqi

在 2021年2月2日，上午10:39，Calvin <notifications@github.com> 写道：

﻿

Hi @yasenstar<https://github.com/yasenstar>, can you pls try reinstalling CLI?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/Azure/azure-cli/issues/16757#issuecomment-771723707>, or unsubscribe<https://github.com

[2021-02-02 17:53] b-dasass opened #16776 "listing 100k+ users run out of memory"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad user list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- have more than 100k users
- In Windows PowerShell
- `$users = az ad user list`

## Expected Behavior

Not throw a

[2021-02-02 18:18] larsschellhas opened #16777 "WebApp:`az webapp up` by default resets the Python version to 3.7"
## Describe the bug
When running `az webapp up` without the "runtime" flag, the Python version of my webapp is always reset to 3.7, although my Python app is running in Python 3.8.
While `az webapp up` does store other default values from the first deployment in the config file, it does not do so with the runtime version.

**Command Name**
`az webapp up`

## To Reproduce:
- _Put any pre-requisite

[2021-02-02 18:40] mbearup commented on #16628
The issue seems to affect 2.17.0, 2.17.1, and 2.18.0.
2.16.0 is the last version without this defect.

[2021-02-02 18:54] apawast commented on #16651
@gzuber could you please investigate?

[2021-02-02 18:56] apawast commented on #16661
@gzuber could you please investigate this?

[2021-02-02 18:59] apawast commented on #16698
@gzuber could you please investigate this?

[2021-02-02 20:59] DonPetry-EY opened #16779 "This API is incredibly slow"
This API is incredibly slow.  I'm talking about minutes to provides cost for a single ResourceGroup with a dozen objects.

Perhaps some guidance could be provided with the parameters to help define what exactly will improve the speed of this API?

Also, there's throttling that returns a 429 if we try to run concurrent requests...

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit th

[2021-02-02 21:51] rido-min opened #16780 "az lab vm list fails with an MSI error"
## Describe the bug

**Command Name**
`az lab vm list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az lab vm list --lab-name {} --resource-group {}`

## Expected Behavior
I can see the list of VMs

## Environment Summary
[code]
## Additional Context

[2021-02-02 22:12] diberry commented on #16722
More features. It can handle first level routing for issues and PRs and circle back around after N days asking for more information or closing with polite messages.

[2021-02-02 23:07] yonzhan commented on #16769
backup

[2021-02-02 23:13] yonzhan commented on #16770
Core

[2021-02-02 23:14] yonzhan commented on #16771
sql

[2021-02-02 23:17] #16760 closed

[2021-02-02 23:20] yonzhan commented on #16774
aks

[2021-02-02 23:22] yonzhan commented on #16776
Graph

[2021-02-02 23:24] yonzhan commented on #16777
webapp

[2021-02-02 23:53] jiasli commented on #16776
Duplicate of https://github.com/Azure/azure-cli/issues/15268.

[2021-02-02 23:53] #16776 closed

[2021-02-02 23:53] #15268 closed

[2021-02-02 23:58] jiasli commented on #16758
The error message is from AAD service, not CLI itself.

Have you switched the cloud before running `az account get-access-token`?
[code]

To better help us identify the issue, could you share the original command with actual argument values?

[2021-02-02 23:59] yonzhan commented on #16779
consumption

[2021-02-03 00:21] yonzhan commented on #16780
lab

[2021-02-03 00:36] alphabt commented on #10066
Still having the same issue with az cli 2.15.0

[code]

[2021-02-03 02:04] #16519 closed

[2021-02-03 02:50] kairu-ms commented on #16513
It will be fixed in next CLI version, which will be released at 02/09/2021.

[2021-02-03 02:54] jiasli commented on #16729
@Ethan-LF,

This issue actually doesn't have anything to do with IP addresses. Key Vaults in `AzureChinaCloud` and `AzureCloud` have different IPs resolved by DNS servers.

Key Vault is not a pre-defined `--resource-type`

[code]

It should be provided as a URL directly via `--resource`, like `https://vault.azure.net`, so it won't change according to the selected cloud (via `az cloud set`).

As de

[2021-02-03 05:05] #16666 closed

[2021-02-03 05:42] #16513 closed

[2021-02-03 05:42] #16590 closed

[2021-02-03 05:48] pvrk commented on #16769
@maxleonalbrecht : So, the parameters work fine when you run az recovery point show command but the same set of parameters don't work with az backup restore files mount-rp command?

[2021-02-03 06:00] yungezz commented on #16772
hi @qwordy could you pls help? thanks

[2021-02-03 07:26] MehaKaushik commented on #16614
Hey @RajTechcafe I believe your cli module is not updated. The latest module doesn't have this command in preview mode. I believe it has been out of preview for months. Please update your cli client. Please reopen this issue if you still have any further questions.

[2021-02-03 07:26] #16614 closed

[2021-02-03 07:31] yungezz commented on #16773
hi @Zaniyar could you pls share more repor steps? are you installed azure cli in your MacOs locally, then try docker compose? Any detail repro steps will be much helpful for trouble shooting, thanks

[2021-02-03 07:33] yungezz commented on #16767
hi @khaledabdelfatah could you pls share repro step to help trouble shooting? thanks

[2021-02-03 07:58] b-dasass commented on #15268
Hi @jiasli

Is there an artificial memory limit what we're hitting here?

Are you suggesting to write our own "recursion" to get all users? Is there any already existing best practice how should we do that?

Thank you!

[2021-02-03 08:25] qwordy commented on #16628
Thank you for the information.

[2021-02-03 08:29] qwordy commented on #16628
I have found the cause. We updated token related code from 2.17.0, but we have not adapted these code for MSI login.

[2021-02-03 08:44] zhoxing-ms commented on #15788
This PR can only be supported after the ARM service optimizes the overall throttling logic, so it is temporarily marked as `Do Not Merge`.
@marcre If there is any optimization on the service side in the feture, please inform us in time

[2021-02-03 09:01] maxleonalbrecht commented on #16769
Exactly.

[2021-02-03 09:20] #16250 closed

[2021-02-03 10:04] jiasli commented on #15268
No. Azure CLI doesn't impose any memory limit by itself.

Current `az ad user list` still calls the deprecated AD Graph API [Get users](https://docs.microsoft.com/en-us/previous-versions/azure/ad/graph/api/users-operations#get-users--) internally, which has [Paging support](https://docs.microsoft.com/en-us/previous-versions/azure/ad/graph/howto/azure-ad-graph-api-supported-queries-filters-and-pagi

[2021-02-03 10:08] dslot commented on #15000
@miaojiang Any updates on this issue?

[2021-02-03 10:19] SSanjeevi commented on #15240
I am also facing this issue

[2021-02-03 11:01] mcrmonkey opened #16783 "az provider list failing"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az provider list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az provider list`

## Expected Behavior

list providers (?)

## Environ

[2021-02-03 12:10] ThejaChoudary commented on #16689
@rmarr2 able to repro the issue.Will look into this
Thanks!

[2021-02-03 12:40] ThejaChoudary commented on #16721
@diberry $fqdn is just an example given like 'Myresourcegroup' . Hostname is the costum domain which your willing to add to the appservice .
Hence proceeding to close the issue.Thanks!

[2021-02-03 12:40] #16721 closed

[2021-02-03 13:01] MatthewSteeples commented on #16387
Sadly the best I could get out of support was "Yes we can reproduce the problem, let us know if you fix it"

[2021-02-03 13:08] cocowalla commented on #13587
I get this with `threat-policy`, regardless of what parameters I use. If I add the `--debug` flag, I can see the call that fails with error 500 is to:

[code]

In the end, I had to use `az rest` to work around it, with 2 notable things:

1. When specifying `storageEndpoint`, it *must* have a trailing forward slash
2. The API version that Azure CLI is using (`2014-04-01`) appears to be broken - I h

[2021-02-03 13:12] cocowalla commented on #15762
@michaelsrichter I was able to get `audit-policy update` working - the trick it to use `--storage-endpoint` and an empty `--storage-key` instead of `--storage-account`.

Example:

[code]

[2021-02-03 13:24] ThejaChoudary commented on #16757
Able to repro the issue.

[2021-02-03 13:25] ThejaChoudary commented on #16757
@Kotasudhakarreddy please look into this

[2021-02-03 14:05] maxleonalbrecht commented on #16769
So I found out the following. The item-name wasn't the problem.
The problem was the --container-name, which needs to be the name of the item too.
(https://docs.microsoft.com/en-us/cli/azure/backup/restore/files?view=azure-cli-latest)

Example:

$virtualMachineName = "vmxyz"

az backup restore files mount-rp --container-name $virtualMachineName --item-name $virtualMachineName --rp-name $recoveryPoi

[2021-02-03 14:10] maxleonalbrecht opened #16784 "az backup restore files mount-rp | --container-name"
After hours of testing I found the following error in the documentation.

The --container-name does not needs be the "Name of the backup container" as stated in the documentation.
I found out that the --container-name should be equal to the --item-name.

When you don't do that Az CLI will prompt to you, that the --item-name is wrong. (https://github.com/Azure/azure-cli/issues/16769)

`az backup re

[2021-02-03 14:13] yonzhan commented on #16783
ARM

[2021-02-03 14:15] yonzhan commented on #16784
backup

[2021-02-03 14:21] g3gurung commented on #16764
I am also having a same error. Az cli 2.18.0
![Screenshot 2021-02-03 at 16 18 18](https://user-images.githubusercontent.com/6603227/106759811-d6eea600-663b-11eb-819b-70b1830dad9e.png)

[2021-02-03 14:26] magnus-longva-bouvet opened #16785 "Gets error "Can not use --network-profile with IP address type Public." when creating ACI container group with --ip-address "Private""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
az container create

**Errors:**
Can not use "--network-profile" with IP address type "Public".

## To Reproduce:
A subnet with id $SUBNET_ID and a vnet with id $VNET_ID must already exist, and the subnet must be delegated to `Microsoft.ContainerInstance`. A Log Analytics Workspace with id $LA

[2021-02-03 14:31] magnus-longva-bouvet commented on #16785
This issue is similar, but the proposed solution does not apply to me. https://github.com/Azure/azure-cli/issues/13802

[2021-02-03 14:34] pawepaw commented on #15580
I see that it's available as preview. Is there anything missing or is it marked as preview for now because it's not fully tested and it's kind of in public test stage?

[2021-02-03 14:43] JardarM opened #16786 "routing condtion parameter with trailing ) is removed"
**Describe the bug**
When running the az iot hub route create command with the condition option with a trailing ')' the last parenthesis is removed.

**To Reproduce**
`az iot hub route create --hub-name $az_hub --endpoint-name $az_sb_t_state --route Test --source twinchangeevents -c 'IS_OBJECT($twin.properties.reported.state)'`
Fails with this error:
[code]
This works however (not added space in c

[2021-02-03 14:56] golaat opened #16787 "Install AZ CLI on Windows without Administrator permissions"
Currently the AZ CLI Windows MSI installation requires local administrator permissions to install the product, update it or to add extensions. The default installation directory is to Program Files and does not seem to be over-ridable.

Can the MSI installation be adjusted so that the product is installable into %LOCALAPPDATA%\Programs, which would eliminate the need for administrative permissions

[2021-02-03 15:39] maxleonalbrecht commented on #13168
I have the same problem.

[2021-02-03 15:56] diberry commented on #16721
@dbradish-microsoft @ThejaChoudary  $fqdn seems to be the most important param in the code snippet since it is about binding a host name but no where in the text is there any explanation of what it means. Why use a named variable a customer is supposed to pass in if it is never explained?

[2021-02-03 17:30] dcfsc commented on #11767
Similar issue with latest CLI on Linux with a limited scope

This works:

[code]
A limited query reports an error and does not output anything

[code]

CLI version
[code]

[2021-02-03 19:07] sagarlankala commented on #16780
Hello @rido-min

Thank you for reaching out, we have tried to reproduce the bug but looks like the command accurately returns the list of VM's. Do you mind trying again and let us know if you still face any issues?

- Sagar, PM for Azure DevTest Labs

[2021-02-03 19:25] jannikbuschke commented on #11718
What is the state of this issue? Will there be an option so that patching appsettings without wiping all other appsettings work in the near future?

In my case and I assume in others during deployment not all configuration settings are known. Thats why it is impossible to put them into the ARM template.

[2021-02-03 20:05] RobHofmann commented on #16598
Thanks for this. What about the rest of the behaviour for other services?

[2021-02-03 20:38] rido-min commented on #16780
Tried again and got the same error:

[code]

[2021-02-03 21:19] joedborg commented on #16754
It needs to be `==`, I've just hit this bug too.

[2021-02-03 21:30] lodos2005 commented on #12696
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group create --location {} --name {} --debug`

## Expected Behavior

[2021-02-03 21:37] tholum opened #16788 "az aks --enable-encryption-at-host failes"
**Describe the bug**
I am trying to create a kubernetes cluster following https://docs.microsoft.com/en-us/azure/aks/enable-host-encryption
 and every time ( Both on my desktop, and in the cloud shell ) I get "The property 'securityProfile.encryptionAtHost' is not valid because the 'Microsoft.Compute/EncryptionAtHost' feature is not enabled for this subscription."

**To Reproduce**
Follow https://

[2021-02-03 22:20] saswatmohanty01 opened #16789 "WebApp:Azure Webapp Authentication / Authorization for Azure active directory management mode parameter are missing"
**Azure Webapp Authentication / Authorization for Azure active directory management mode parameter are missing . There is no parameter from az cli or powershell to configure Azure App services Authentication providers with Azure active directory and then choose management mode to Express or Advanced.  **

az webapp auth update is missing parameter to change /set  Active directory authentication --

[2021-02-03 22:24] rane-rajasi opened #16790 "New CLI command for install patches API"
**Resource Provider**
Compute

**Description of Feature or Work Requested**
We need a new command for installPatches API, which is used to maintain security compliance on azure VMs

Command: az vm install-patches -g rg -n vm

Other input parameters as mentioned below:
NOTE: some parameters vary depending on the VM OS Type (i.e. Windows or Linux)

- maximumDuration (Required for both Windows and Li

[2021-02-03 23:19] yonzhan commented on #16785
container

[2021-02-03 23:20] yonzhan commented on #16786
iot

[2021-02-03 23:26] yonzhan commented on #16789
webapp

[2021-02-03 23:27] yonzhan commented on #16788
aks

[2021-02-03 23:29] yonzhan commented on #16754
@msyyc will take a look

[2021-02-04 00:24] #16681 closed

[2021-02-04 01:17] evanlwj opened #16791 "--source image:tag@sha256 is not accepted by az acr import"
**Describe the bug**
When --source parameter feed to az acr import in format image:tag@sha256, result of command complained invalid value. However if --source parameter comes with either image:tag or image@sha256, then az acr import run successfully.

**To Reproduce**

- command **az acr import image:tag@sha256** failed because of invalid value

[code]

- command **az acr import --source image:tag

[2021-02-04 01:42] #16774 closed

[2021-02-04 02:03] qwordy commented on #11767
Let me try it to see if I can reproduce

[2021-02-04 02:16] yungezz commented on #16791
route to appropriate team

[2021-02-04 02:19] qwordy commented on #16772
I will open an investigation into this issue.

[2021-02-04 02:31] qwordy commented on #16790
2020-12-01 is not released yet. We have accumulated so many features that depend on it. March 1st, not a realistic time.

[2021-02-04 03:20] sshah90 opened #16792 "ADLS Gen2 ACL set recursive"
## Describe the bug

I am trying to give acl permission at root level directory and all child members by following [this](https://docs.microsoft.com/en-us/azure/storage/blobs/recursive-access-control-lists?tabs=azure-cli) doc.

**Command Name**

`az storage fs access set-recursive`

**Errors:**
[code]

## To Reproduce:

Steps to reproduce the behavior. Note that argument values have been redacted,

[2021-02-04 03:41] yugangw-msft commented on #16791
This is not supported right now.

[2021-02-04 03:48] markjbrown commented on #16583
Where are you looking? Can you please post a link to the documentation you are referring to?

[2021-02-04 03:59] yonzhan commented on #16792
storage

[2021-02-04 04:11] gsethgit commented on #15240
Are you facing the issue with storage access denied. If yes can you please raise a support incidence for us to debug the issue in detail specific to the storage account being used

[2021-02-04 05:39] Tattoo commented on #16583
[As linked in my original message](https://docs.microsoft.com/en-us/cli/azure/cosmosdb?view=azure-cli-latest#az_cosmosdb_create)

[2021-02-04 05:45] markjbrown commented on #16583
Those are api reference docs autogenerated from swagger.

Our docs and samples for az cli are in our docs here. This is what most people use.

https://docs.microsoft.com/en-us/azure/cosmos-db/manage-with-cli

And include az cli samples for all 5 database api's.

https://docs.microsoft.com/en-us/azure/cosmos-db/cli-samples
https://docs.microsoft.com/en-us/azure/cosmos-db/cli-samples-cassandra
https

[2021-02-04 05:54] Tattoo commented on #16583
Well, Google finds the pages I linked first. Why is it published if it's not good?

Also, the link you provided doesn't explain the parameters I listed either.

[2021-02-04 06:18] markjbrown commented on #16583
All service in Azure that provide az cli functionality publish api reference docs. Same goes for PS, REST, and other management SDK clients. I can't speak to why they showed up first in your Google search. Most customers find our regular docs and use those.

These values and usage for locations and kind parameters are referenced throughout our documentation including quite a number in the links I

[2021-02-04 06:28] Tattoo commented on #16583
I don't understand the reasoning why the published documentation can't be good. If this is not a documentation that should be looked at, why publish it in the first place? As a user, comment like "you should have found our other documentstion" is kind of unhelpful one — I can't know what I should and should not find.

I also looked again your links and I still fail to find the answers I iterated i

[2021-02-04 06:34] rodney-almeida commented on #16559
We having this same issue. If the webapp already has an access-restriction rule that is of the type ServiceTag, this command fails to add any more.

ERROR: CLIInternalError: The command failed with an unexpected error. Here is the traceback:
ERROR: 'ServiceTag' is not valid value for enum <enum 'IpFilterTag'>

[2021-02-04 06:39] markjbrown commented on #16583
It's published because it is an api reference. It has value for people who know the service and want to use az cli to manage it. It's not intended for people who are new to the service and need help understanding concepts or features.

Not sure how the links do not explain the parameters you are asking about.
Please see this example for what --kind is used for as well as --locations
https://docs.m

[2021-02-04 06:41] Tattoo commented on #16583
API references are documentation as well and this is subpar. You can always link to proper other, existing resources.

#please-dont-close

[2021-02-04 06:46] markjbrown commented on #16583
As explained earlier these docs are auto generated. There is very little control we have over these.

Your comments seem to indicate you may be new to Azure. I appreciate your feedback but I do suggest you get more familiar with things first before disparaging our docs because it was your first hit on Google.

Our api reference docs for az cli is not where people learn about a new service.

[2021-02-04 07:42] qwordy commented on #15851
@JDface Does it still happen?

[2021-02-04 08:00] yungezz commented on #16787
hi @fengzhou-msft could you pls help to look at it? thanks

[2021-02-04 08:01] yungezz commented on #16748
hi @fengzhou-msft let's plan it accordingly.

[2021-02-04 08:02] qwordy commented on #16047
If nic does not exist, then you can't specify it. I understand your request. You want to name the new nic. Mark it as a feature request.

[2021-02-04 08:19] qwordy commented on #16049
I check `--debug` logs. Comments after `=` are reserved in `vm create` request. According to your description, service removes it.

[2021-02-04 08:37] qwordy commented on #15878
I run it in WSL Ubuntu 20.04 LTS. No error. I think the problem is that the dependency is not installed correctly. azure-mgmt-compute==18.1.0.
[code]

[2021-02-04 08:37] #15878 closed

[2021-02-04 08:40] qwordy opened #16798 "Azure CLI output is corrupted!"
**Describe the bug**

It is not a valid JSON string. `Finished` appears in final output.

[code]

**To Reproduce**

**Expected behavior**

**Environment summary**

WSL Ubuntu 20.04 LTS

**Additional context**

[2021-02-04 08:44] qwordy commented on #16120
What is value of `$adminPassword`?
I don't these code can run in Linux. They look like PowerShell commands.
[code]

[2021-02-04 08:45] qwordy commented on #16075
@darhasubrahmanyam Can you try what jiasli said?

[2021-02-04 08:46] #16122 closed

[2021-02-04 08:50] qwordy commented on #16157
@Bob-RH `--command-id` is a required parameter. Where did you find the help?
[code]

[2021-02-04 08:51] #16192 closed

[2021-02-04 08:52] qwordy commented on #16233
@mrecondo Can you install latest version and retry? I suspect the installation had problem.

[2021-02-04 08:56] qwordy commented on #16292
@roberthardy Thank you for finding this invalid link. Do you know the correct one?

[2021-02-04 10:10] yonzhan commented on #16798
Compute

[2021-02-04 10:11] yonzhan commented on #16798
@Juliehzl was this issue related to Storage or Compute?

[2021-02-04 10:46] max-arnold commented on #11767
Same here:

[code]

[code]

[2021-02-04 10:55] mattallford opened #16801 "az ts show Doesn't Report Spec Versions"
## Describe the bug
When using the `az ts show` command, the property named versions is "null", even when there are versions (which is a required property on a template spec).

**Command Name**
`az ts show --name <templateSpecName> --resource-group <resourceGroupName>`
`az ts show --name <templateSpecName> --resource-group <resourceGroupName> --query versions`

**Errors:**
No error is returned, bu

[2021-02-04 10:57] yonzhan commented on #16801
ARM

[2021-02-04 11:53] #16739 closed

[2021-02-04 12:17] zhoxing-ms commented on #16801
@detienne20 Could you please take a look at this issue~

[2021-02-04 12:17] zhoxing-ms commented on #16736
Hi @detienne20 Could you please help to take a look at this issue~

[2021-02-04 12:33] pmaslej opened #16802 "passing json to --policy does not work. Azure documentation on this is very poor."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az backup policy create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az backup policy create --policy {} --resource-group {} --vault-

[2021-02-04 12:41] yonzhan commented on #16802
backup

[2021-02-04 12:54] zhoxing-ms commented on #16740
@benjamincburns  Hi, if we design the update command as an alias for the create command, the required parameters will be the same. May I ask if this is in line with your expectations?

[2021-02-04 13:01] pmaslej commented on #16802
Seems to work using CLI Shell via portal. I was using WIN10 Powershell CLI and most probably environment was missing some python modules or so.

{
  "azure-cli": "2.18.0",
  "azure-cli-core": "2.18.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {}
}

[2021-02-04 13:01] #16802 closed

[2021-02-04 14:11] clementbosc commented on #16792
Same here !!

[2021-02-04 14:14] czmirek commented on #16737
I've run the command with `--debug` and `--verbose` and it seems that this is might be the same bug as #16735 but I can't really tell. This is the output.

[code]
cli.knack.cli: Command arguments: ['container', 'create', '--resource-group', 'mb-dev-rg', '--ip-address', 'Private', '--name', 'testcli', '--image', 'nginx', '--network-profile', 'mfd_tom_devops_container_network_profile', '--debug', '-

[2021-02-04 14:17] barto90 commented on #16675
Sorry jiasli,

Appreciate your effort but I don't seem to find a moment to work on this. Is the debug line required? If so I need some more time.

My apologies.

[2021-02-04 14:22] murthyteja commented on #15411
Have this issue on our agents as well, we shouldn't get an error when the repo already exists.

[2021-02-04 14:38] Bob-RH commented on #16157
Hi,

I'm not sure now, but I was looking via search in google for "az vm run-command"

I'm getting this page now:  https://docs.microsoft.com/en-us/cli/azure/vm/run-command?view=azure-cli-latest

I think the problem I ran into is that I didn't have the correct command-id which should have been "RunShellScript" but I was confused and didn't know that related to the functions listed in the UI.
The l

[2021-02-04 15:37] atwoodtja commented on #16696
Ok, I was able to get this working. There are two typos in the credential_scopes examples given for AzureChinaCloud in the page linked in Reproduce steps (https://docs.microsoft.com/en-us/azure/developer/python/azure-sdk-sovereign-domain).

The scope needs a / after the host url and should not have a ' at the end.

This works: credential_scopes=[AZURE_CHINA_CLOUD.endpoints.resource_manager + "/.de

[2021-02-04 15:45] Kotasudhakarreddy commented on #16713
Will check and try to repro the issue. Will Get back with details.

[2021-02-04 15:50] Kotasudhakarreddy commented on #16789
Thanks for your feedback. Will check and consider for future release based on priority.

[2021-02-04 16:00] Kotasudhakarreddy commented on #16777
Looking in to it.

[2021-02-04 16:07] vivaladan opened #16803 "webapp:Missing GenerateRandomAppNames.json from installation needed by az webapp"
## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

Running this command on local terminal.
- `az webapp up`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

Installed directory exists and contains files, just n

[2021-02-04 16:29] SenseiJoe opened #16804 "keyvault "SET" to include contentType"
Since I can't rename a keyvault I was transferring one to another and found that I could not set the contentType, I can get it but not set it in the new vault.

[2021-02-04 16:39] margani opened #16805 "A newly created slot has a copy of all configuration settings from production slot"
When I create a deployment slot, it has a copy of all the configuration settings from production slot,

**Command Name**
[code]

## To Reproduce:
Steps to reproduce the behavior.

- Create a function app in Azure
- Add an app setting or connection string, (no difference if it's a deployment slot settings).
- Create a new slot using:
`az functionapp deployment slot create --resource-group MyResourc

[2021-02-04 17:08] mrecondo commented on #16233
It's solved. Thanks!

[2021-02-04 17:08] #16233 closed

[2021-02-04 18:03] Drewm3 commented on #16049
@avirishuv, could you check with the dev team to see if they know why the comments are being removed.

@devcovato, this area of the product has been consistent for many years. So, we may not be able to get to the bottom of your question as to why a specific design decision was made. Of course, if you feel that the design should be changed, then please open a suggestion at: https://feedback.azure.c

[2021-02-04 18:32] YankoSolanoS opened #16806 "SAS token generation on Linux CLI"
It takes more than a second(s) and we expect it to take less than a second. We are passing in the key so we specifically believe the method itself to be slow. This has become an issue for us because we create hundreds of SaS on files at a time and it is taking too long.  I have two questions:

1)	Is our expectations on duration correct or do we need to manage it?

2)	What steps would we do to trou

[2021-02-04 18:51] robert-baboi-playtech commented on #8803
Hello

This does not work for me.
I have tried
[code]

And I get back
[code]

Are there some restrictions on the name of the image?

It works if I do it from the UI, but the cli fails

Any tips?

[2021-02-04 19:45] MathieuHamel commented on #16341
I got the same problem and finally came to conclusion that it could be related to [this](https://support.microsoft.com/en-us/topic/you-might-encounter-issues-when-using-windows-server-containers-with-the-february-11-2020-security-update-release-b9a8fcae-950d-7a0b-ac7c-cb6b294cb809) the Windows container version compatibility.

I was able to fix this by updating my container host with the latest pa

[2021-02-04 20:22] roberthardy commented on #16292
Unfortunately not. Maybe this one is sufficient? https://docs.microsoft.com/en-us/azure/virtual-machines/linux/using-cloud-init

[2021-02-04 20:48] axayjo commented on #14425
Closing this issue and tracking this as a feature request on feedback.azure.com. If you'd like to request this feature, please go to this link and upvote it: https://feedback.azure.com/forums/34192--general-feedback/suggestions/42627826-ensure-run-command-invoke-produces-correct-error-s

[2021-02-04 20:48] #14425 closed

[2021-02-04 21:09] esteveslean commented on #16499
It's like a kind of internal bug. Close the pwsh and try again

[2021-02-04 21:44] Vaibhav-Agar commented on #16385
Hi @qwordy,
You are correct. I was able to replicate the issue by using a different location for the source and snapshot. The scenario is supported so it's not just about updating the error message. I have submitted this to the dev team now to fix.

[2021-02-04 21:48] AutobooksGithub opened #16807 "Command "aks check-acr" is failing"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I'm trying to validate ACR permissions with a new AKS cluster but the `check-acr` command ([as documented](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az_aks_check_acr)) is failing.

**Command Name**
`az aks check-acr`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavio

[2021-02-04 21:57] erichrt opened #16808 "[Service Team Request] Adding subnet ID and IP address as eligible input for load balancer backend pool commands"
**Resource Provider**

Networking

**Description of Feature or Work Requested**
We have added subnet ID and IP address as a way to specify backend address when creating or updating an IP-based backend pool of a load balancer. This is related to this feature: https://github.com/Azure/azure-cli/issues/12937 however, we will start allowing customers to specify by subnet ID in place of vnet ID.

**Min

[2021-02-04 22:01] AutobooksGithub commented on #16807
Closing this issue as a reboot fixed it!  👍

[2021-02-04 22:01] #16807 closed

[2021-02-04 22:04] dandunckelman commented on #11809
Having this incorporated into the Azure CLI would be mighty helpful.

[2021-02-04 22:24] detienne20 commented on #16736
@willynagel I believe this is the result of attempting to export a template spec instead of a template spec version. Exporting a template spec is not possible. Please retry this command with --version.  I will work on improving the error message, thank you for the feedback!

[2021-02-04 22:48] rodney-almeida opened #16809 "WebApp:'az webapp config access-restriction add' fails when webapp has a pre-existing ServiceTag rule"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When using `az webapp config access-restriction add` to add additional rules to a webapp that already have a rule with a ServiceTag, the command fails

**Command Name**
`az webapp config access-restriction add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have

[2021-02-04 23:02] yonzhan commented on #16803
webapp

[2021-02-04 23:03] yonzhan commented on #16805
functionapp

[2021-02-04 23:04] yonzhan commented on #8803
@qwordy for awareness

[2021-02-04 23:05] yonzhan commented on #16806
storage

[2021-02-04 23:09] yonzhan commented on #16808
network

[2021-02-04 23:11] yonzhan commented on #16809
webapp

[2021-02-05 00:02] jiasli commented on #16675
@barto90, don't worry, we can keep this issue opened. As we are not seeing other users reporting this issue, so it is very likely related to the environment.

[2021-02-05 00:27] jiasli commented on #16696
@atwoodtja, thanks for reporting this issue. You have identified the root cause precisely.

Azure CLI internally is using the correct method to do **resource** -> **scopes** conversion:

https://github.com/Azure/azure-cli/blob/f92cea11e4e97af64c41ab7d35562639fc9d71b9/src/azure-cli-core/azure/cli/core/util.py#L1190-L1203

I will do some testing and submit a PR to fix the doc.

[2021-02-05 02:15] MateusAmin commented on #16764
[code]

[2021-02-05 02:30] qwordy commented on #8803
I don't believe. It is a basic usage.
@robert-baboi-playtech I suspect you don't have access to the image or the image is deleted. Can you try `az image show`?

[2021-02-05 02:40] actini commented on #16764
Hi all, I got the solution, try to run `az extension add --name aks-preview` before `az aks update  --name $AKS_CLUSTER_NAME  --resource-group $RESOURCE_GROUP --auto-upgrade-channel stable`
@MateusAmin @g3gurung

@yonzhan Maybe the Microsoft should address this in the documentation.

[2021-02-05 03:11] SteveLasker commented on #15411
Hi @sam-cogan,
I see your comment around Helm 3 experimental. The fact that `az acr helm` is a different implementation and breaking changes made by helm aren't reflected here is the root of the problem we're solving.
The Helm team is making progress to remove the experimental flag. I'm afraid I'm going to ask for some patience and understand we're really focused on solving the registry persistenc

[2021-02-05 03:13] yonzhan commented on #16764
aks service team should look into above issue.

[2021-02-05 03:29] mbactol3 commented on #16734
+1 same issue
azure cli on powershell
azure-cli                         2.17.1 *
core                              2.17.1 *
PSVersion                      5.1.19041.610

`az sf cluster certificate add -g $sfResourceGroup -c $sfClusterName --secret-identifier $sfCertSecretId`
[code]

[2021-02-05 03:50] qwordy commented on #16798
It is related to progress bar

[2021-02-05 05:10] zhangjianye88 opened #16813 "az acr login failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr login --name {}`

## Expected Behavior

## Environment Summary
[code

[2021-02-05 05:55] Juliehzl commented on #16792
@sshah90 you only need to specify one group in acl.

[2021-02-05 06:01] Juliehzl commented on #16798
@qwordy I haven't checked in progress bar related code, so I am not sure how you get such output.
In addition, in my progress bar test, I cannot see your issue, either.

Could you provide more information to help figure out why you get the issue?

[2021-02-05 06:11] qwordy commented on #16451
Duplicate

[2021-02-05 06:11] #16451 closed

[2021-02-05 06:14] qwordy commented on #15769
It has released.

[2021-02-05 06:14] #15769 closed

[2021-02-05 07:38] yungezz commented on #16813
route to appropriate team

[2021-02-05 08:22] qwordy opened #16815 "Live test regression"
This issue is created by a program.
[Latest testing results of Azure CLI](https://clitestresultstac.blob.core.windows.net/latest/index.html)
[User Manual of Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EZGC9LwrN3RAscVS5ylG4HMBX9h7W0ZSA7CDrhXN5Lvx6g?e=V8HUmd)
[Upgrading API Versions in Azure CLI Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EcgPLHSkef9Mi14Rj

[2021-02-05 08:25] yonzhan commented on #16815
@kairu-ms for awareness.

[2021-02-05 09:49] qwordy commented on #16292
Thank you. I remove location information. https://docs.microsoft.com/azure/virtual-machines/linux/using-cloud-init

[2021-02-05 09:50] plynch66 commented on #16499
That's not really a fix though is it ?

[2021-02-05 10:32] robert-baboi-playtech commented on #8803
hey, so I tried that command (with the name of the image and rg) and it works

I'm using
[code]

[2021-02-05 10:49] robert-baboi-playtech commented on #8803
I found the problem, I was running that command from git bash under Windows, so I tried it from under Ubuntu, and that worked.

So it's either gitbash or Windows that has a issue.

[2021-02-05 11:10] 4c74356b41 commented on #2588
copying a comment from a linked issue, as this one doesn't have this info:

[code]

[2021-02-05 12:29] yungezz commented on #16815
to track live test regression

[2021-02-05 13:31] AlecDusheck opened #16816 "Can't create AKS Nodepool with Ephemeral disks"
**Describe the bug**

While attempting to create an AKS nodepool with Standard_B2s and Ephemeral OSDisks, you receive an 'Bad Request Error'.

**To Reproduce**

[code]

**Expected behavior**

As per the [documentation](https://docs.microsoft.com/en-us/azure/virtual-machines/sizes-b-series-burstable), the b-series should support Ephemeral disks. However, this operation fails

**Environment summary*

[2021-02-05 13:34] pmaslej opened #16817 "az backup protection backup-now does not work for NFS volumes"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Triggering ondemand backup for NFS File shares always end up with an internal Microsoft error. Reoccurring for weeks.

![image](https://user-images.githubusercontent.com/46818397/107039977-e3e7d280-67be-11eb-9aae-8637413eed74.png)

Same is valid for portal way

![image](https://user-images.githubusercontent.com

[2021-02-05 13:56] g3gurung commented on #16764
@actini yes this is the solution. I contacted the azure support and they said documentation needs to be updated with the extension.

[2021-02-05 15:23] AAdamCCox commented on #16737
Getting the same issue here, which is a shame because using an ARM template for this is a real pain :(

[2021-02-05 15:31] sshah90 commented on #16792
@Juliehzl still getting the same error

[2021-02-05 15:38] davehcdn commented on #16737
Just remove the --ip-address Private if you are specifying a Network Profile and it should create it with a private IP anyways - that might be a workaround - it seemed to work for us.

[2021-02-05 15:50] AAdamCCox commented on #16737
Thanks @davehcdn you're right, created successfully now!

[2021-02-05 16:56] thiagottss commented on #11029
It worked here for me... I wasn't using this one as it states "deprecated" ...

Thanks.

[2021-02-05 17:09] irenehua opened #16818 "Cannot create Global anycast IP"
`az network public-ip create` does not seem to have global tier. This will block customers who want to use multiple Global IPs for the Cross-region LB.

[2021-02-05 17:27] StephaneLeleu commented on #16387
Same here with 2.18. confirmed.

[2021-02-05 17:53] yugangw-msft commented on #16813
This is by design. if you don't have docker installed, you can use `--expose-token` to get the credential for other clients to authenticate.
Closing

[2021-02-05 17:53] #16813 closed

[2021-02-05 18:01] tereio opened #16819 "Errors using azure functionapp on v2.18.0"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2021-02-05 18:09] tereio commented on #16819
I've tested down to az cli 2.17.0 and still seeing the same error.  I'll roll back aiohttp and see if this fixes the error.

[2021-02-05 18:10] tereio commented on #16819
Running:
▶ pip show aiohttp
Name: aiohttp
Version: 4.0.0a1
Summary: Async http client/server framework (asyncio)
Home-page: https://github.com/aio-libs/aiohttp
Author: Nikolay Kim
Author-email: fafhrd91@gmail.com
License: Apache 2
Location: /Users/bbrew2/.pyenv/versions/3.8.1/lib/python3.8/site-packages
Requires: attrs, chardet, multidict, async-timeout, yarl, typing-extensions

[2021-02-05 18:20] tereio commented on #16819
having rolled this back I now see an error with the knack library:
▶ pip show knack
Name: knack
Version: 0.7.2
Summary: A Command-Line Interface framework
Home-page: https://github.com/microsoft/knack
Author: Microsoft Corporation
Author-email: azpycli@microsoft.com
License: MIT
Location: /Users/bbrew2/.pyenv/versions/3.8.1/lib/python3.8/site-packages
Requires: pygments, tabulate, pyyaml, colorama

[2021-02-05 19:28] calvinsID commented on #16803
Unable to repro on a fresh MSI installation, but I see this on cloudshell..

[2021-02-05 19:35] vivaladan commented on #16803
I tried an uninstall and fresh install of MSI. But the file didn't turn up

[2021-02-05 20:18] ElvenSpellmaker commented on #9304
@yugangw-msft This is still an issue and when you use your suggested `--all` it comes back with `ValidationError: Parameter 'scope' can not be None.`...

[2021-02-05 20:19] ElvenSpellmaker commented on #9304
Also using `--scope /subscriptions/<sub id>` it comes back with an empty array still.

[2021-02-05 20:20] calvinsID commented on #16803
Hi @qwordy, @Juliehzl wondering if you can provide any guidance, I can't repro on my machine but can repro on cloudshell. The file seems to exist in v2.18 source code here https://github.com/Azure/azure-cli/releases/tag/azure-cli-2.18.0

[2021-02-05 22:28] mar-io commented on #15864
I reported the user as a spammer to Github.  Hopefully someone who has write access to this repo can remove the comment soon because it been here for almost a month :).

[2021-02-06 01:18] yonzhan commented on #16817
backup

[2021-02-06 01:19] yonzhan commented on #16816
AKS

[2021-02-06 01:36] yonzhan commented on #16818
network

[2021-02-06 01:39] yonzhan commented on #16819
functionapp

[2021-02-06 01:40] yonzhan commented on #9304
@jiasli to help with.

[2021-02-06 05:05] #16144 closed

[2021-02-06 05:36] yonzhan commented on #16419
@AlexanderViken any feedback or update?

[2021-02-06 08:00] cwe1ss commented on #12713
You could change the script in a way that it stores the service principal password in Azure Key Vault when the service principal is created. Subsequent calls to the script should then just load the password from Key Vault.

[2021-02-06 10:11] rajakumarbabu opened #16820 "az network dns zone create --tags question"
I am trying to create new DNS zone by following [documentation ](https://docs.microsoft.com/en-us/cli/azure/network/dns/zone?view=azure-cli-latest#az_network_dns_zone_create).  No tag been set.  Sharing the results for your validation

`az network dns zone create -g RGNAME -n DNSZONENAME --tags ms:resource:usage=cloudshell`

**Response received**

`{
  "etag": "******",
  "id": "/subscriptions/***

[2021-02-06 12:27] yonzhan commented on #16820
network

[2021-02-06 12:44] IndianBoy42 opened #16821 "azure-cli-ml: AttributeError("'NoneType' object has no attribute 'lower'") when trying to deploying"
(Cross-posting from azure-cli-extensions https://github.com/Azure/azure-cli-extensions/issues/2979)

## Describe the bug

When trying to deploy a model locally with azure-ml I get this error (`"'NoneType' object has no attribute 'lower'"`) no matter what.

Some time ago it worked for a few minutes but has since gone back to not working

I have tried to reinstall azure-cli and azure-cli-ml.

**Comm

[2021-02-06 14:30] yonzhan commented on #16821
ml

[2021-02-06 14:36] rajakumarbabu commented on #16820
I have tried to create a DNS zone by ARM template, experiencing the same behavior

[2021-02-06 15:19] VidithAgarwal opened #16822 "cannot execute binary file: Exec format error"
After installing azure CLI on Azure IOT Edge terminal
Using az command leads to the following error:

/usr/bin/az: line 2: /opt/az/bin/python3: cannot execute binary file: Exec format error

[2021-02-06 17:20] williamohara opened #16823 "az login sends me to localhost url"
**Describe the bug**
When I log in using az login - it opens a browser to select my account then it leads to a a link that is trying to open on localhost:8400.

**To Reproduce**
1. Download the most recent version of az cli on a fully up to date windows 10 machine (https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli - choosing the "non-beta")
2. After install, start

[2021-02-06 22:51] sanjaydatasciencedojo opened #16824 "Bug: Please allow for setting up email for az vm auto-shutdown."
This does not create an email for foo@bar.com.

az vm auto-shutdown -g MyResourceGroup -n MyVm --time 1730 --email "foo@bar.com"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 152b549b-d4b3-13e5-081c-c604b6e4d89e
* Version Independent ID: 3f79be78-ce75-ad31-304b-bad7d475ec9e
* Content: [az vm](https://docs.microsoft.co

[2021-02-07 00:38] yonzhan commented on #16823
Account

[2021-02-07 03:37] #16523 closed

[2021-02-07 03:37] #16642 closed

[2021-02-07 03:50] qwordy commented on #8803
@robert-baboi-playtech Don't use Azure CLI in git bash. Git bash replaces `/` to `C:/`.

[2021-02-07 08:48] akshaychopra5207 commented on #15680
I am facing the same issue with az cli  2.16 version. Tried to upgrade it to 2.18 and still getting the same issue
az webapp config appsettings set -g dp-yamlcont-master -n dp-yamlcont-cont-test --slot staging  --settings @appSettings.json
The command above. always make the slot setting to true even if we define false in JSON

[

    {
        "name": "testNewApp" ,
        "value": "time",

[2021-02-07 08:49] akshaychopra5207 opened #16838 "WebApp:az cli update app setting command always making slotsetting to true"
I am facing the same issue with az cli  2.16 version. Tried to upgrade it to 2.18 and still getting the same issue
az webapp config appsettings set -g dp-yamlcont-master -n dp-yamlcont-cont-test --slot staging  --settings @appSettings.json
The command above. always make the slot setting to true even if we define false in JSON

[

    {
        "name": "testNewApp" ,
        "value": "time",

[2021-02-07 13:45] yonzhan commented on #16838
webapp

[2021-02-07 17:41] aronchick opened #16841 "az account list still lists accounts after 'az logout'"
**Describe the bug**
`az account list` still lists accounts after `az logout`

**To Reproduce**
`az account list`
`az logout`
`az account list`

**Expected behavior**

**Environment summary**
Installed via apt on Ubuntu 20.04

[2021-02-07 21:14] V4A001 opened #16842 "Can subnet of kubernetes cluster be used for cosmos db subnet?"
Can subnet of kubernetes cluster be used for cosmos db subnet?
Or do I need to create a new second subnet?
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ceafa346-5ac6-9a5b-b36b-fb6a91449ae0
* Version Independent ID: 12dc1540-3a61-aece-0ef0-0d4c192d930e
* Content: [az cosmosdb network-rule](https:

[2021-02-07 23:08] tdsan opened #16843 "az role definition create --role-definition (this does not work)"
az : Expecting property name enclosed in double quotes: line 1 column 2 (char 1)
At C:\Users\v-csanders\Desktop\idm\role.ps1:3 char:1
+ az role definition create --role-definition '{
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (Expecting prope...lumn 2 (char 1):String) [], RemoteExce
   ption
    + FullyQualifiedErrorId : NativeCommandError
--------

[2021-02-07 23:12] sean-yao commented on #11944
I'm getting the same error when creating a brand new hellodotnetcore app following the QuickStarts tutorial in an empty subscription:

rllib3.connectionpool: https://management.azure.com:443 "GET /subscriptions/_<mysubid**>_/providers/Microsoft.Web/sites?api-version=2019-08-01 HTTP/1.1" 200 133
msrest.http_logger: Response status: 200
msrest.http_logger: Response headers:
msrest.http_logger:     '

[2021-02-07 23:13] sean-yao commented on #11944
Can we reactivate this issue?

[2021-02-07 23:20] sean-yao commented on #11944
Find the cause, the webapp name should be globally unique instead of just unique under my subscription. The [docs](https://docs.microsoft.com/en-us/azure/app-service/quickstart-dotnetcore?tabs=netcore31&pivots=platform-linux)  should point out this restriction.

[2021-02-08 00:16] yonzhan commented on #16843
RBAC

[2021-02-08 00:17] yonzhan commented on #16842
cosmosdb

[2021-02-08 00:18] yonzhan commented on #16841
Account

[2021-02-08 01:08] yungezz commented on #16824
hi @qwordy could you pls help to  have a look? thanks

[2021-02-08 01:15] yungezz commented on #16822
should be caused by arch. @VidithAgarwal could you pls share more aobut the `Azure IOT Edge Terminal`? @fengzhou-msft to help confirm.

[2021-02-08 01:17] yungezz commented on #16804
hi @houk-ms could you pls help to check?

[2021-02-08 02:05] Juliehzl commented on #16625
Hi @dmraymond, have you ever configure `group` with `az configure` or local context?

Could you also add `--debug` in your command and share debug info?

[2021-02-08 02:24] Juliehzl commented on #16679
Hi @evelyn-ys, could you help take a look?

[2021-02-08 02:25] Juliehzl commented on #16660
Hi @evelyn-ys , could you help take a look?

[2021-02-08 02:28] Juliehzl commented on #14054
Hi @evelyn-ys, could you help follow up this issue?

[2021-02-08 02:29] Juliehzl commented on #16792
May I know the acl string you are using?

[2021-02-08 02:33] sshah90 commented on #16792
`az storage fs access set-recursive --acl "group:xxxx-b54c-xxxx-acd1-xxxx:rwx" -p /test -f test --account-name xxxx --account-key xxx`

@Juliehzl I am using the above command

[2021-02-08 02:33] Juliehzl commented on #16806
Replied in e-mail and close it here.
To see CLI command execution time, you could add `--debug` in your command and you could see the time as below:
![image](https://user-images.githubusercontent.com/49508232/107169540-15e47900-69f9-11eb-951c-880c1dff6917.png)

[2021-02-08 02:33] #16806 closed

[2021-02-08 03:24] qwordy commented on #16824
@sanjaydatasciencedojo Can you add `--debug`?

[2021-02-08 06:11] Juliehzl commented on #16792
Have you ever set acl in the path? You could check current acl status with `az storage fs access show`. If you want to change the permission for existing group, please use `az storage fs access update-recursive`.

[2021-02-08 07:04] jiasli commented on #16841
`az logout` only logs out the selected user.

https://github.com/Azure/azure-cli/blob/bfc0ef95c40040a0cc5c1a80d349e09ed8c7185f/src/azure-cli/azure/cli/command_modules/profile/custom.py#L190-L198

In order to log out all users, please use

[code]

[2021-02-08 07:17] jiasli commented on #16387
Hi @MatthewSteeples, I am not sure what `app id` means in the error message. Could you provide this issue to the support team or add me to the email communication? My email address is <my_github_alias>@microsoft.com.

[2021-02-08 07:45] Kotasudhakarreddy commented on #16809
Looking in to this issue.

[2021-02-08 07:56] devniel93 commented on #16317
Thanks @fengzhou-msft. I had to do something like this
SP_PASSWD=$(MSYS_NO_PATHCONV=1 az ad sp create-for-rbac \
    --name http://$ACR_NAME-pull \
    --scopes $ACR_REGISTRY_ID \
    --role acrpull \
    --query password \
    --output tsv)

[2021-02-08 08:37] msyyc commented on #16654
Is it OK to release the new feature in the end of S184 (03/23/2021) ?

[2021-02-08 08:57] msyyc commented on #16654
What is the api-version of network needed? 2021-01-01?

[2021-02-08 09:13] luke-garcia opened #16846 "Azure AKS"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2021-02-08 09:40] yonzhan commented on #16846
aks

[2021-02-08 09:51] amwate opened #16848 "[Network] Support Ipv6 address in ExpressRoute private peering"
**Is your feature request related to a problem? Please describe.**

Support for Ipv6 Ip address(es) for Azure ExpressRoute Private Peering.
The powershell support has been added in https://github.com/Azure/azure-powershell/pull/12324.

swagger definition is here.
https://github.com/Azure/azure-rest-api-specs/blob/3227f9795b09642afb975f40d45ed481192b43a2/specification/network/resource-manager/Micro

[2021-02-08 09:56] yonzhan commented on #16848
Network

[2021-02-08 10:02] SimonWrightTW commented on #16712
Thanks for this, but I don’t think the suggested solution is relevant as the Hybrid Worker VM is already running Azure CLI 2.18.0.

From: Feiyue Yu <notifications@github.com>
Sent: 02 February 2021 07:57
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Simon Wright <Simon.Wright2@thameswater.co.uk>; Author <author@noreply.github.com>
Subject: Re: [Azure/azure-cli] VM password fails (#16712)

[2021-02-08 10:38] ddeimeke commented on #14812
Hi!

I am facing the same problem, when is a solution expected to be delivered?

Cheers

Dirk

[2021-02-08 11:06] Morriz commented on #16676
Any team resource allocation possible here? This is probably very problematic for a lot of users. I can't imagine otherwise, even though I see nobody tagging along this issue.

[2021-02-08 13:46] luyitong opened #16850 "Error: AADSTS500011: The resource principal named https://management.azure.com was not found in the tenant named..."
**Describe the bug**
We updated the Azure Cli to the latest version 2.18.0, and changed the Active cloud to China. but the creation of the Image Version from the Shared Image Gallery with az cli (az sig image-version create) fails. Pls help check if this is a bug and fix it.
**error:**
AADSTS500011: The resource principal named https://management.azure.com was not found in the tenant named xxxxxxx

[2021-02-08 14:01] SenseiJoe commented on #16804
Yes, id there a new version?

[2021-02-08 14:34] pmsousa commented on #16130
@yonzhan, same issue occurs with

`az deployment group show`

### To Reproduce

From: [https://github.com/mspnp/microservices-reference-implementation](https://github.com/mspnp/microservices-reference-implementation)

`export DEV_PREREQ_DEPLOYMENT_NAME=azuredeploy-prereqs-${DEPLOYMENT_SUFFIX}-dev
az deployment sub create \
   --name $DEV_PREREQ_DEPLOYMENT_NAME \
   --location $LOCATION \
   --temp

[2021-02-08 15:04] sshah90 commented on #16792
In past I have used `az storage fs access set` on the root directory but never used `set-recursive`. (I ran `az storage fs access show` but didn't see my groups)

Though after running `update-recursive` I can see groups at directory permission.

I am still suspect some issue with `set-recursive` or maybe the error message needs to be a little more verbose.

[2021-02-08 15:20] fargozhu opened #16851 "az login kill 9"
**Describe the bug**

after installing _azure-cli_ through _brew_ I am getting the following error when running the _az_ command.

[code]

**To Reproduce**

Install the _azure-cli_ through _brew_ in an environment described above.

**Expected behavior**

To work!

**Environment summary**

Macbook Air M1 with Big Sur 11.2
[code]
[code]

**Additional context**

[2021-02-08 15:21] fargozhu commented on #16851
duplicated #16697

[2021-02-08 15:21] #16851 closed

[2021-02-08 15:22] fargozhu commented on #16697
I am having the same problem with the same environment setup

[2021-02-08 15:56] Kotasudhakarreddy commented on #13291
Fix is given and will be released in next CLI update.

[2021-02-08 15:56] #13291 closed

[2021-02-08 16:02] Josefczak opened #16853 "az storage share create misses --auth-mode login option"
When trying to create a storage share without credentials, it works and shows big options. But this option is not implemented.

"There are no credentials provided in your command and environment, we will query for the account key inside your storage account.
Please provide --connection-string, --account-key or --sas-token as credentials, or use `--auth-mode login` if you have required RBAC roles i

[2021-02-08 16:37] haslo opened #16854 "WebApp:CLI: Documentation and behaviour for "--slot-setting" in "storage-account" for webapp is unclear"
The documentation for the CLI for adding or updating `storage-account` just states that there is a parameter `--slot-setting` for a command like this:

[code]

The full documentation for the parameter is as follows:

It looks like **providing this parameter enables the "slot setting"** (of which I'm not certain what it does),
while **omitting the parameter does _not_ disable the "slot setting"**.

[2021-02-08 16:46] sbyrnes-weblogix opened #16855 "az acr repository show-manifests --detail"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

 az acr repository show-manifests --detail does not return the same manifest data as what is shown in portal.

**Command Name**
``  az acr repository show-manifests -n weblogixtest --repository nginx --detail

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been re

[2021-02-08 16:46] ThejaChoudary commented on #12391
We will analyse and consider this for feature requests.
FYI @panchagnula

[2021-02-08 16:49] ThejaChoudary commented on #12150
After analysing if we can support this ,will consider this for feature request.
FYI @panchagnula

[2021-02-08 17:44] ThejaChoudary commented on #15235
Considering this for feature request.
FYI @panchagnula

[2021-02-08 18:13] sbyrnes-weblogix commented on #16855
From the API I can call out to
curl -X GET -H "Authorization: Bearer $TOKEN" -H "Content-Type:application/json" -H "Accept:application/vnd.oci.image.manifest.v1+json;q=0.4, application/vnd.docker.distribution.manifest.v2+json;q=0.5, application/vnd.docker.distribution.manifest.list.v2+json;q=0.6" https://weblogixtest.azurecr.io/v2/nginx/manifests/stable
And this allows me to fetch the info, but wo

[2021-02-08 18:25] pkoushik opened #16856 "AZ CLI failing with Pip error on extension install."
**Describe the bug**

Az CLI version 2.18 fails with Pip error on extension install. (e.g. `az extension add --source <path to .whl>`)

cli.azure.cli.core.azclierror: An error occurred. Pip failed with status code 1. Use --debug for more information.

**To Reproduce**

`az extension add --source <path to .whl>`
**Expected behavior**

No failure
**Environment summary**

Az CLI Version: 2.18
MacOS,

[2021-02-08 18:30] finlaysawyer opened #16858 "Pin cryptography to 3.3.2"
**Is your feature request related to a problem? Please describe.**
Yesterday an update to cryptography was released which adds rust as a dependency for building it. This breaks compatibility with many systems and pip versions. I'm encountering an error when running `az devops login`:

[code]

**Describe the solution you'd like**
Cryptography should be pinned to 3.3.2 to give people time to fix the

[2021-02-08 18:56] mathapli opened #16859 "IMPORTANT- VMSS CLI license-type not working for Linux VMSS (RHEL_BYOS, SLES_BYOS) - IMPORTANT"
**Describe the bug**
while using license-type in create VMSS, we are getting error
az : ValidationError: usage error: --license-type is only applicable on Windows VM scaleset

**To Reproduce**
create a Linux RedHat vmss with license type RHEL_BYOS which should be allowed. It gives failure

**Expected behavior**
VMSS created with RHEL_BYOS licensetype

**Environment summary**
Production

**Addition

[2021-02-08 20:03] diberry opened #16861 "Please doc - default firewall for az cosmosdb create --kind MongoDB"
When I create my resource, and don't set a firewall rule, the firewall rule for my client IP is already created and added for me, as part of the create command.

For MariaDB and MySQL, this firewall isn't automatically added for me.

Is the cosmos command adding the firewall on purpose? If yes it should be documented (@dbradish-microsoft ).

If not, it is a bug and should be fixed.

[2021-02-08 20:18] diberry commented on #16861
Not an issue actually - got caught by the az cache.

[2021-02-08 20:18] #16861 closed

[2021-02-08 20:20] panchagnula commented on #12150
@madsd what do you think?

[2021-02-08 20:30] AlecDusheck commented on #16842
Are you trying to expose the cosmos db to the aks vnet?

[2021-02-08 21:00] V4A001 commented on #16842
yes, I found this article, https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-configure-vnet-service-endpoint

I am not a network engineer, just want to code :-). I find it difficult to understand and for that reason I am asking. My aks has already a subnet (Azure Network instead of Kubenet)

[2021-02-08 21:38] dmraymond commented on #16625
Just prior to running the command I do run "az account set --subscription {}" but I do not set the resource group or set any persistent parameters. I ran the command again today and it is not throwing an error. I am attaching the debug log just in case.

[debug.log](https://github.com/Azure/azure-cli/files/5946978/debug.log)

[2021-02-08 22:21] sanjaydatasciencedojo commented on #16824
This is  my log.
[code]

[2021-02-08 22:31] CecileRobertMichon opened #16862 "az ad app permission grant fails with ResourceNotFoundError"
## Describe the bug

**Command Name**
`az ad app permission grant`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[code]

## Expected Behavior

`az ad permission grant` to succeed.

I've tried waiting a few minutes and trying again, same error.  As you can see above `az permission list

[2021-02-08 22:36] amansahni1 commented on #16858
Will the Pin be applied to azure_mgmt_core too??
I think we would need that too.

Collecting azure_mgmt_core-1.2.0-py2.py3-none-any.whl\n
Collecting cryptography>=2.1.4 (from azure-keyvault==1.1.0->-r /proj/local/artifact/drop/edp_libraries/src/requirements_utils.txt (line 3))\n
Downloading https://files.pythonhosted.org/packages/06/ed/cb79cc94ec58d9d92557238fc6c629cd6e07d72334d2de556aecc2211370/c

[2021-02-08 23:14] yonzhan commented on #16853
Storage

[2021-02-08 23:14] geoffrax commented on #16858
There's been a bit of a change in pyca/cryptography - Alpine and other images that don't have rust can't install azure-cli & azure_mgmt_core, probably most of the azure packages. Might be good to lock it down for the moment to 3.3.2

[2021-02-08 23:15] yonzhan commented on #16854
webapp

[2021-02-08 23:17] yonzhan commented on #16855
acr

[2021-02-08 23:23] yonzhan commented on #16862
Graph

[2021-02-08 23:25] yonzhan commented on #16858
@fengzhou-msft @jiasli for awareness

[2021-02-08 23:32] shunkino commented on #13385
Any update on this issue? I think it's better to use some azure related domain (e.g. https://azure.microsoft.com) to check the connection as suggested by limingu in original [PR](https://github.com/Azure/azure-cli/pull/8922#discussion_r270499824).

I am not concerned that this communication will be abused because "example.org" is reserved by IANA as in [RFC2606](https://tools.ietf.org/html/rfc2606

[2021-02-08 23:36] yugangw-msft commented on #16855
For this we might need to expose `--detail` from `az acr repository show`. Let us wait for for votes from community

[2021-02-09 00:08] MarkAtAgilliance commented on #15728
Chiming in here.  Happy to start a new thread if this you feel this is not related.

I have a similar problem.  the Resource Group I am using has only ever had one App Service Plan and it was Windows hosted.  I deleted all the webapps then the app service plan then tried to recreate exactly the same App Service plan.  It fails with this error.

I have waited for an hour just in case it was a sync

[2021-02-09 01:04] yungezz commented on #16859
hi @qwordy could you pls have alook?

[2021-02-09 01:10] grace-liang opened #16863 "Add PlatformImageFeatures to VMImage object in PIR Consumption GET API"
**Resource Provider**
Azure.Compute

**Description of Feature or Work Requested**

GET Consumption API docs: https://docs.microsoft.com/en-us/cli/azure/vm/image?view=azure-cli-latest#az_vm_image_show

Sample command:
`grace@Azure:~$ az vm image show --location EastUS2EUAP --publisher RedHat --offer RHEL --sku 8_3 --version 8.3.2020111905`

Sample current payload:
`{
  "automaticOsUpgradeProperties

[2021-02-09 01:42] mbactol3 commented on #16734
Traced it down to an issue with the script being run for the extension.  Once the error in the script was fixed it seemed to work.

[2021-02-09 01:45] Juliehzl commented on #16625
Thanks for your feedback. There is no special issue in your log. But if you still get the issue, you could create a new issue with debug log.

[2021-02-09 01:45] #16625 closed

[2021-02-09 02:41] zhoxing-ms commented on #16130
@JonathanFingold Hi, the logic of `deployment_name` is that if `--name/-n` parameter is passed in, it is the value of this parameter, otherwise it is the file name of `--template-file`.
Please check its value to see if it meets the specification `^[-\\w\\._\\(\\)]+$`.

[2021-02-09 02:49] Kamran-Bilgrami commented on #16482
Today I got a newer version of az cli

[code]
But still get exception as shown below
[code]
The issue was reported against az version  2.16.0 and 2.17.0 whereas now I have 2.18.0 running. What version of cli this issue is planned to be addressed?

Thanks

[2021-02-09 02:58] zhoxing-ms commented on #16130
@pmsousa Yes, it's not a demand, it's a bug or usage issue.
We have another meaning in this label (only for internal triage), please don't care about it

Could you please describe the parameters and error information of command `az deployment group show`?
If it is convenient, please add parameter `--debug` to the original command, and then send the printed information to me by email
My email addre

[2021-02-09 03:04] qwordy commented on #16859
Will open an investigation.

[2021-02-09 04:42] BaibhavVishal123 commented on #16787
Not sure, this will help you or not. Did not help me though. ```https://github.com/Azure/azure-cli/issues/15381```. Works by installing python, pip -> az-cli. However, I still  had the same issue of admin access in employer provided system.

[2021-02-09 05:32] dhirschfeld commented on #16148
Just ran into this on Windows. `az` version 2.18.0, `kubectl` version 1.19.6.

I think the label `question` should be removed and `bug` added so it gets the appropriate attention.

[2021-02-09 06:26] msyyc commented on #16482
I could not reproduce it. my python version is '3.6.9'. Could you have a try to downgrade python?

[2021-02-09 06:51] spatialman opened #16867 "az monitor metrics alert create command breaks in latest cli release 2.18.0"
Describe the bug
"az monitor metrics alert create" CLI command breaks in the latest cli release of 2.18.0
when we execute the command by passing a scope as resource ID, the command is throwing an exception as "BadRequestError: The following resources were not found under the region global" which was working fine until last cli release.

To Reproduce
Create a Alert using Azure CLI
az monitor metric

[2021-02-09 06:53] joshhighet opened #16868 "az ad app - CLIInternalError on adding Graph permissions"
## Adding MS Graph Permissions causing `CLIInternalError`

`ValueError: not enough values to unpack`

**Command Name**
[code]

**Errors:**

[code]

## To Reproduce:
Executing the command above results in the above error.

## Environment Summary
[code]

[2021-02-09 06:58] harics24 commented on #16654
Correct. It's 2021-01-01

[2021-02-09 06:59] joshhighet opened #16870 "az feedback - Recent commands not sorting"
## `Recent commands` not sorting when displayed running `az feedback`

**Command Name**
`az feedback`

## To Reproduce:
Execute `az feedback`

[code]
## Expected Behavior
 Commands to be sorted by latest execution i.e

`[1] *redacted*                  : SUCCESS. Ran: 2 *minutes* ago.`

## Environment Summary
[code]
## Additional Context

[2021-02-09 07:00] harics24 commented on #16654
Can we please target for 183? Would be too late for 184.

[2021-02-09 07:23] pvrk commented on #16769
@maxleonalbrecht : In case of VM backup, the container name and item name are same since the Azure VM being backed up is the container as well as the item. Having said that, may I know what were you passing as the container name before giving it the VM name?

[2021-02-09 07:25] pvrk commented on #16784
@maxleonalbrecht : Thanks. I have raised few queries in the other thread. Also mentioning it here since it could be useful for anyone viewing this thread alone.

In this case, the VM name, container name and item name are one and the same and I agree. But if you abstract this case out, and get the container name from the relevant command, the item name from the relevant command and pass to this co

[2021-02-09 07:56] yonzhan commented on #16867
monitor

[2021-02-09 07:57] yonzhan commented on #16868
Graph

[2021-02-09 07:58] chjinche commented on #16856
Also met the same error when adding extension. Workaround by upgrading pip version in az python path, but better to be solved by az cli.

See the below debug logs:
....
   error: Can not find Rust compiler
    Running setup.py install for cryptography: finished with status 'error'
Cleaning up...
  Removing source in /tmp/pip-install-87ax_zl5/cryptography
  Removing source in /tmp/pip-install-87ax_

[2021-02-09 08:08] msyyc commented on #16654
2021-01-01 for network has not been merged into public repo(https://github.com/Azure/azure-rest-api-specs). After merge, it also takes some time to release python SDK. What's more ,2021/2/11~2021/2/18 is Chinese Spring Festival. So it is very hard to release in S183

[2021-02-09 08:16] kairu-ms commented on #16867
It's fixed in version 2.19.0 which will be released today.

[2021-02-09 10:33] frcai commented on #16821
You can try specify runtime or environment in inference config.

1) "runtime": "python"
2) refer to sample "environment" at
https://docs.microsoft.com/en-us/azure/machine-learning/reference-azure-machine-learning-cli#inference-configuration-schema

[2021-02-09 10:57] RobinZergiebel commented on #16119
Is this actually solved? I still get the same error using WSL on Windows.

[2021-02-09 11:27] finlaysawyer commented on #16858
On CentOS 7, Upgrading pip directly into the az installation seems to fix this for the time being... I can then run `az devops login` etc without issue

`python3 -m pip install --upgrade pip --target /usr/lib64/az/lib/python3.6/site-packages/`

[2021-02-09 11:32] joshspicer commented on #14642
+1 this issue is really annoying!  Thank to @nadesu for his workaround above - this is working wonderfully for me so far:

`az vm run-command invoke -g MyResourceGroup -n MyVM --command-id RemoveRunCommandLinuxExtension`

[2021-02-09 12:07] lbesson opened #16872 "az storage blob now (2.19) requires login even if connection-string is provided"
**Describe the bug**
Since version 2.19, the cli requires a login when using az storage blob, even if a connection string is provided.
This was ok in 2.18

**To Reproduce**
For example the following command
[code]
will output:
`This command is in preview and under development. Reference and support levels: https://aka.ms/CLI_refstatus
Please run 'az login' to setup account.`

**Expected behavior**

[2021-02-09 12:08] yungezz commented on #16850
hi @qwordy could you pls take a look? thanks

[2021-02-09 12:09] yungezz commented on #16863
Swagger not in master yet.

[2021-02-09 12:24] fengzhou-msft commented on #16858
@houk-ms for awareness.

[2021-02-09 12:26] wpoely86 opened #16873 "az login fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Run on Fedora 33 with the new 2.19.

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --use-device-code`

## Expected B

[2021-02-09 12:42] madsd commented on #12150
@panchagnula you can assign it to me.

[2021-02-09 12:52] wpoely86 commented on #16873
After removing `python3-azure-sdk-5.0.0-3.fc33.noarch`, it works again.

Seems like a conflict. This RPM installs under a `az` subdir instead of properly into the python3 tree?

[2021-02-09 13:02] spatialman commented on #16867
Good to know, looking forward on the release.

[2021-02-09 13:18] kairu-ms commented on #16867
It’s ready now. Please try following command to update CLI: az upgrade

[2021-02-09 14:26] yonzhan commented on #16873
Account

[2021-02-09 14:29] yonzhan commented on #16872
storage

[2021-02-09 14:57] ThejaChoudary commented on #14573
Able to repro the issue.Will look into this

[2021-02-09 15:19] calvinsID commented on #16119
@RobinZergiebel what version of CLI are you using?

[2021-02-09 15:44] ThejaChoudary commented on #15728
@link78  Please use different resource group to deploy linux ASP  if the resouce group you are using currently has a windows based ASP.
Please let us know if you need any further or else we will proceed to close the issue.
Thanks!

[2021-02-09 15:48] ThejaChoudary commented on #15728
FYI @panchagnula When we are creating a linux asp while having a windows based ASP we are getting the error as
error:"You cannot change the OS hosting your app at this time. Please recreate your app with the desired OS" when we already have a windows"

[2021-02-09 15:50] ThejaChoudary commented on #15728
@MarkAtAgilliance Apps running on Windows Containers are available only in Hyper-V Container enabled SKU and same with the linux also .Please feel free to log a new issue if you still have any queries.

[2021-02-09 17:00] b1ackhawk-uh60 opened #16874 "az upgrade error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az upgrade`

## Expected Behavior

## Environment Summary
[code]
## Additiona

[2021-02-09 17:13] EyuelDK commented on #16872
I can confirm - same issue broke my ci/cd pipeline.
"Fixed" it by downgrading back to 2.18.
The CLI must have just broke today probably when they pushed an update
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli#february-09-2021

[2021-02-09 17:43] Kamran-Bilgrami commented on #16482
@msyyc

The original issue was reported with Python 3.9.1 BTW. I can give downgrading a try but
1) Can you confirm if the issue reported got addressed in az cli version 2.18.0?
2) Let's say it works with python 3.6.9. Will you require anyone encountering the issue (while using python 3.9.1) to downgrade python?

[2021-02-09 18:17] #16816 closed

[2021-02-09 18:39] aronchick commented on #16841
Oh interesting – definitely didn’t understand that.

This does solve it (maybe it’s worth letting someone know after they logout that there are still other users logged in?)

From: Jiashuo Li <notifications@github.com>
Date: Sunday, February 7, 2021 at 11:04 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: David Aronchick <David.Aronchick@microsoft.com>, Author <author@noreply.github.com>

[2021-02-09 18:43] lmcthbe opened #16875 "Listing public-ip failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network public-ip list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network public-ip list --subscription {}`

## Expected Beha

[2021-02-09 18:48] ThejaChoudary commented on #15728
Proceeding to close the issue ,please feel free to reopen if the issue persists. Thank you!

[2021-02-09 18:48] #15728 closed

[2021-02-09 18:53] mvzink opened #16876 "`az role assignment list` gives conflicting instructions about `--all` and `--scope`"
## Describe the bug

**Command Name**
`az role assignment list`

**Errors:**
[code]

## To Reproduce:

[code]

## Expected Behavior

From the help text (`Show all assignments under the current subscription.`), I would expect `--all` not to produce an error, but instead to produce the same results as the following command:

[code]

## Environment Summary
[code]

[2021-02-09 19:53] grtn316 commented on #16713
I showed the issue to the Visual Studio connection manager team and we discovered that the cli command:

`az webapp create-remote-connection --subscription <subscription-id> --resource-group <resource-group-name> -n <app-name> &`

will sometimes let me connect with putty, disconnect and then reconnect with a new putty session again. Other times, when I connect with putty and disconnect, I can no l

[2021-02-09 20:17] etiennetremel commented on #15452
It seems that the flag has been deprecated, see the [limitations section](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/logs-data-export?tabs=azure-cli#limitations):

[2021-02-09 20:31] ElvenSpellmaker opened #16878 "`az deployment ...` very slow compared to times reported in portal"
**Describe the bug**
When deploying ARM Templates using the `az deployment ...` series of commands the time spent by the command is much longer than the reported time deploying by the portal.

**To Reproduce**
Deploy some ARM templates using `az deployment` commands (`sub` and `group` for example) and check how long the `az` command takes to terminate vs the times shown in the portal.

**Expected

[2021-02-09 21:09] wdesplas commented on #15855
Hi,
Any news abiut this issues? In fact, istill reproducible currently.

Regards,

[2021-02-09 21:33] avanigupta opened #16879 "UnrecognizedArgumentError in Azure Cloud Shell while parsing wildcard argument"
**Describe the bug**

Providing wildcard character as argument throws a strange error in Azure Cloud Shell (both powershell and bash shells).
This only happens in Cloud Shell. I'm not sure which CLI version introduced this regression, but we had a customer report this error recently in [this github issue](https://github.com/Azure/AppConfiguration/issues/48#issuecomment-776157045).

**To Reproduce*

[2021-02-09 21:41] petender commented on #16259
Still noticing the same as @binarysenator from Azure DevOps CLI - worked fine up to a few weeks back, I think it changed beginning this year - no specific error message, the "import db" job keeps running and eventually times out after 30min

[2021-02-09 21:48] amansahni1 commented on #16858
Here is how I worked around the issue.

1. Upgraded the pip to the latest version
2. Installed the cryptography==3.3.2

You might be able to get away doing #2. I have done that anyway.

[2021-02-09 21:51] amansahni1 commented on #16858
@finlaysawyer  Pip3 isn't version locked here. Are we ever likely to run into issues with pip3 being suddenly upgraded and breaking things? I think upgrading to the latest is generally recommended (even by pip3). What would you recommend.

[2021-02-09 22:30] jdedwards3 commented on #16872
With login provided using az login the az storage blob sync is showing an error regarding MSI authentication. I am using it within Github actions, and it was working as of last week. Please let me know if this should be a separate issue, although it seems to be related.

[2021-02-09 22:31] jgtellez1 opened #16880 "Installation of ML extension fails with pip error"
**Describe the bug**
When installing the Azure Machine Learning CLI extension, we see this error:
ERROR: An error occurred. Pip failed with status code 1. Use --debug for more information.

Using the debug flag we see an error from cryptography:
error: Can not find Rust compiler
  Building wheel for cryptography (PEP 517): finished with status 'error'
  ERROR: Failed building wheel for cryptograph

[2021-02-09 22:41] yonzhan commented on #16875
network

[2021-02-09 22:43] yonzhan commented on #16876
RBAC

[2021-02-09 22:44] savelinomediagroup commented on #16875
Ok cannot insert my own BBB designation
On Tue, Feb 9, 2021 at 2:41 PM yonzhan <notifications@github.com> wrote:

--
null

[2021-02-09 22:54] jiasli commented on #16841
Thanks @aronchick for the feedback. We will definitely consider this nice idea as feature request.

[2021-02-09 22:57] yonzhan commented on #16878
ARM

[2021-02-09 22:58] yonzhan commented on #16879
appconfig

[2021-02-09 23:24] msha1026 opened #16881 "az storage blob delete-batch --if-unmodified-since - Shows 412 Errors"
**Describe the bug**
Using `az storage blob delete-batch -s <container-name> --account-name <account-name>--if-unmodified-since "2021-02-08T10:45Z"` will log a 412 error for each blob that does not meet the precondition. Is there a way to suppress these errors? It seems that this is not an error, and it will still delete the blobs that do meet the precondition.

**To Reproduce**
- Upload some blob

[2021-02-10 00:25] Tatsinnit opened #16882 "Improve dev-machine build document."
This is just a placeholder from the struggle I had with the dev-machine set-up, I am really hoping to get clearer docs and happy to contribute to this repository that way, intent is to just open an issue but to possibly unblock myself with dev machine set-up at least in mac-OSX

**Describe the bug**

Following steps here: https://github.com/Azure/azure-cli/blob/dev/doc/configuring_your_machine.md

[2021-02-10 00:44] yungezz commented on #16880
route to appropriate team

[2021-02-10 00:45] yungezz commented on #16856
HI @fengzhou-msft how's the cryptograpy upgrading status?

[2021-02-10 00:45] yungezz commented on #16874
hi @fengzhou-msft could you have a look? thanks

[2021-02-10 00:48] avanigupta commented on #16879
This issue is not confined to AppConfig module. Other commands also fail on Cloud Shell with the same error when `*` is supplied as an argument. This error is thrown before any argument validation logic of the command module is invoked:

`az keyvault secret list --id *`
UnrecognizedArgumentError: unrecognized arguments: test.json
Try this: 'az keyvault secret list --maxresults <{maxresults}> --vau

[2021-02-10 01:13] PushkarVaity opened #16884 "'az devops login' fails with pip error"
**Describe the bug**
- az-cli version 2.18.0 fails with pip error trying to install python keyring module. (ex: **`cat ~/.ssh/ado.pat | az devops login`**)
- Following are the messages I see on command line:
        WARNING: Unable to use secure credential store in this environment.
        WARNING: Please refer to alternate methods at https://aka.ms/azure-devops-cli-auth
        WARNING: using En

[2021-02-10 01:15] grace-liang commented on #16863
Closing this request for now, please disregard. Will revisit soon.

[2021-02-10 01:29] yonzhan commented on #16881
storage

[2021-02-10 01:29] MitchReidNZ commented on #16872
I have the same issue as @jdedwards3 - also 'fixed' by rolling back to 2.18

[2021-02-10 01:31] Juliehzl commented on #16872
Hi all, I could reproduce your scenario.
As mentioned above, it could be fixed with rolling back to 2.18.0. And we will do a fix in new version, too.

[2021-02-10 01:33] Juliehzl commented on #16881
@evelyn-ys  could you help take a look?

[2021-02-10 01:43] jsntcy commented on #15452
@kairu-ms, let's update the help for the command to make it clear.
![image](https://user-images.githubusercontent.com/16348853/107452555-60dec780-6b84-11eb-8e21-26e6a90e9dcc.png)

[2021-02-10 01:55] singankit commented on #16880
@yungezz The issue is happening only when using mcr.microsoft.com/azure-cli docker image. az ml extension installation done on local machine works fine. Looks like an issue with the image.

[2021-02-10 02:09] jsntcy commented on #16850
@jiasli, to see if it's related to auth or not.

[2021-02-10 02:28] fengzhou-msft commented on #16880
It's caused by the latest version of `cryptography` as described in https://github.com/Azure/azure-cli/issues/16858 It's related to whether the underlying platform supports `rust`.

`azure-cli` currently pinned `cryptography` with `'cryptography>=2.3.1,<3.0.0'`, but `azure-ml-cli` relies on `adal` and it depends on `cryptography` with no version upper bound. When installing the `azure-ml-cli` exte

[2021-02-10 02:50] kairu-ms commented on #15452
OK

[2021-02-10 03:14] qwordy commented on #16850
@luyitong Did you use managed identity to log in? I confirmed a bug recently. https://github.com/Azure/azure-cli/issues/16628

[2021-02-10 03:25] RyanHill-MSFT opened #16886 "WebApp:az staticwebapp create results in bad request"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When running the following command, it results in BadRequestError

**Command Name**
`az staticwebapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
-

[2021-02-10 04:18] benjamincburns commented on #16740
@zhoxing-ms - sounds good to me.

[2021-02-10 04:38] yonzhan commented on #16884
devops

[2021-02-10 04:44] yonzhan commented on #16886
staticwebapp

[2021-02-10 05:13] spatialman commented on #16867
Cool, that made the day.. Thanks a lot for fix.

[2021-02-10 05:13] #16867 closed

[2021-02-10 06:18] star286 commented on #13704
@Juliehzl could you please also add this parameter **--show-next-marker** for **ADLS Gen2**, for this command [az storage fs file list](https://docs.microsoft.com/en-us/cli/azure/storage/fs/file?view=azure-cli-latest#az_storage_fs_file_list)?

[2021-02-10 06:33] msyyc commented on #16482
I upgrade the python version to '3.9.1', but I could not reproduce it, either.

env info
==
System : Ubuntu 18.04
Python : 3.9.1
azure-cli                         2.18.0
core                              2.18.0

please use 'pip list' to check version of 'azure-mgmt-batch'. It should be '9.0.0'

[2021-02-10 06:34] Juliehzl commented on #16872
Another workaround is that you could just run `az login`, and then we will still use your input account key or connection string for the following credential. You could skip the exception then.

[2021-02-10 06:43] jsntcy commented on #16482
BTW, we'll have 7 days Chinese New Year holiday from tomorrow, please expect delay response.

[2021-02-10 06:43] Juliehzl commented on #16872
Hi @jdedwards3, if you are not login in, you will get the same issue. You could login first to skip it and then use account key or connection string in your command.

[2021-02-10 07:04] luyitong commented on #16850
@qwordy I didn't log in with managed identity. I loged in interactively or with a service principal.

[2021-02-10 07:08] usrme opened #16891 "Command group 'vm' marked as experimental and under development"
## Describe the bug

**Command Name**
`az vm <cmd>`

**Errors:**

[code]

## To Reproduce:

Just run any `vm` command.

[code]

[code]

## Expected Behavior

Not to see a warning for a command group whose status has **not** been changed to be experimental and **not** documented in the CLI reference types and status documentation page [here](https://docs.microsoft.com/en-us/cli/azure/reference-type

[2021-02-10 07:14] Anand-Moghe commented on #14881
I was able to resolve the issue by deleting  file **c:\Users\\<user-name>\.azure\az.sess**
`

[2021-02-10 07:38] Juliehzl commented on #13704
I see. We will plan for the feature soon.

[2021-02-10 09:19] AlehP opened #16893 "Return next_marker with results from "az storage fs file list" command"
**Is your feature request related to a problem? Please describe.**
If I want to get info about all files in ADLS Gen2 I have to use continuation token, called here as Next Marker (next_marker).
This marker is not returning with result, but putted into logger as a warning, thus I can't build my logic to get all files in iterative way.
https://github.com/Azure/azure-cli/blob/8aedd2d631699b422a1a525f

[2021-02-10 09:25] yonzhan commented on #16893
storage

[2021-02-10 09:44] yonzhan commented on #16870
feedback

[2021-02-10 09:52] yonzhan commented on #16882
packaging

[2021-02-10 10:05] yungezz commented on #16891
hi @usrme sorry for the confusing. THe issue will be fixed in next release. There's nothing changed in vm command group, pls continue use it as normal.

[2021-02-10 10:16] rjfmachado opened #16894 "az login tries to load powershell profile on bash linux/WSL"
## Describe the bug

**Command Name**
`az login`

**Errors:**
az login is trying to load my powershell profile on windows WSL Ubuntu.

![image](https://user-images.githubusercontent.com/3235846/107496178-465f1b00-6b91-11eb-8d9c-dc59de6443ca.png)

## Expected Behavior
az does not try to load my powershell profile when i'm in bash in Ubuntu WSL on windows
## Environment Summary
[code]

[2021-02-10 10:29] cocowalla opened #16895 "Support Azure SQL Server Vulnerability Assessment Baselines"
**Is your feature request related to a problem? Please describe.**
After creating an Azure SQL Server and Databases using the Azure CLI, with Vulnerability Assessment enabled, Azure's Security Centre flagged up that no vulnerability assessment baselines had been created (as it's meant to).

I set about trying to create these baselines with Azure CLI, since we use it for all other IaC tasks - but A

[2021-02-10 11:01] MatthewSteeples commented on #16387
Hi @jiasli I'm not sure what it means either, but it's all the portal reveals. Support closed my case (as I didn't have time to go through the steps that the should have been doing).

I'll forward you the emails I have from them.

[2021-02-10 12:23] Kamran-Bilgrami commented on #16482
[code]

[2021-02-10 12:37] ThejaChoudary commented on #16436
Able to repro the issue.Will look into this

[2021-02-10 13:57] rick-lb commented on #16585
I am wondering if there is any finding and fix.

[2021-02-10 14:01] RobinZergiebel commented on #16119
@calvinsID My mistake, I was using an outdated version. Works perfectly fine.

[2021-02-10 14:32] Kotasudhakarreddy commented on #16854
@haslo - thanks for your feedback. We will update the documentation

[2021-02-10 14:48] Kotasudhakarreddy commented on #16886
@RyanHill-MSFT - could you please share the `--dubug` log.

[2021-02-10 16:24] RyanHill-MSFT commented on #16886
Thanks for the `--debug` hint @Kotasudhakarreddy. I found that my token didn't have the necessary scopes. I'll update the doc to instruct users on the appropriate scopes to add. It would be nice though to bubble these errors higher up the stack.

[2021-02-10 16:24] #16886 closed

[2021-02-10 16:46] Petermarcu commented on #13028
Investigating options for having less files would probably be the most fruitful exercise. There is overhead for each file no matter how large it is. Especially on windows. 200mb can copy extremely fast. You can see this if you have 2 local drives. Copy the CLI from one to the other. Then copy one 200mb file. Measure the difference and that's your opportunity for improvement for something with 200m

[2021-02-10 16:47] rbgigo commented on #16673
Do you have any updates regarding the missing graceful shutdown capabilities?

Regards
rbgigot

[2021-02-10 17:21] alexeyshishkin01 opened #16897 "'az container exec' does NOT switch to non-root user"
**Describe the bug**

I have a Docker file which ends up like:
...
USER postgres
EXPOSE 5433
VOLUME  ["/var/lib/pgpro/std-13/data"]
CMD ["/opt/pgpro/std-13/bin/postmaster", "-D", "/var/lib/pgpro/std-13/data", "-c", "config_file=/var/lib/pgpro/std-13/data/postgresql.conf"]

I build a docker image based on this Docker file and start container.

If I connect to container it via 'docker' command I've

[2021-02-10 17:55] pragnagopa commented on #16126
For function apps do not add  `WEBSITES_ENABLE_APP_SERVICE_STORAGE` if
•	LinuxFxVersion follows format : runtime|version
•	LinuxFxVersion follow format of blessed image

@divyagandhii  - please provide format used for Functions blessed images.

[2021-02-10 18:41] pzhokhov opened #16899 "Authentication failure when uploading large blobs using SAS with create only permissions"
**Describe the bug**
Authentication failure when uploading large blobs using SAS (shared access signature) token with "create" only permissions (while upload of small blobs works ok)

**To Reproduce**
[code]
**Expected behavior**
required permissions for blob upload should not depend on file size

**Environment summary**
Darwin-19.6.0-x86_64-i386-64bit
Python 3.7.9
Installer: PIP

azure-cli 2.9.1

[2021-02-10 18:44] pzhokhov commented on #16899
edited the description above for better formatting and to remove account name from the command

[2021-02-10 18:59] ThejaChoudary commented on #16464
Able to repro the issue.Will look into this.

[2021-02-10 19:53] sreejabanerjee opened #16900 "Server encountered an internal error. Please try again after some time. + Azure CLI + Azure Blob"
**Resource Provider**

**Description of Feature or Work Requested**

I am using Azure CLI command to write a blob from my Azure Dev Ops release pipeline to a specific container in the Azure Storage repo. However, I get the following error:

ERROR: Client-Request-ID=db36b09e-6bd5-11eb-9695-00155d00040f Retry policy did not allow for a retry: Server-Timestamp=Wed, 10 Feb 2021 19:27:17 GMT, Server-Re

[2021-02-10 19:53] sreejabanerjee opened #20762 "Server encountered an internal error. Please try again after some time. + Azure CLI + Azure Blob"
**Resource Provider**

**Description of Feature or Work Requested**

I am using Azure CLI command to write a blob from my Azure Dev Ops release pipeline to a specific container in the Azure Storage repo. However, I get the following error:

ERROR: Client-Request-ID=db36b09e-6bd5-11eb-9695-00155d00040f Retry policy did not allow for a retry: Server-Timestamp=Wed, 10 Feb 2021 19:27:17 GMT, Server-Re

[2021-02-10 20:27] karlulrich opened #16901 "az aks create failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --generate-ssh-keys --name {} --node-cou

[2021-02-10 21:27] geeslb commented on #16396
When i run pip3 install --upgrade --pre azure-cli --extra-index-url https://azurecliprod.blob.core.windows.net/edge --no-cache-dir --upgrade-strategy=eager

I get error
requests.exceptions.HTTPError: 404 Client Error: The specified blob does not exist. for url: https://azurecliprod.blob.core.windows.net/edge/websocket-client/

is this related to this issue? Is there a work around to install azure-

[2021-02-11 01:33] Petermarcu commented on #13028
Here is a small change that will help a little. https://github.com/Azure/azure-cli/pull/16903

[2021-02-11 01:35] Petermarcu commented on #13028
I will note that upgrade is the worst path here. I have some ideas that could improve that path more too.

[2021-02-11 01:45] yonzhan commented on #16895
SQL

[2021-02-11 01:45] yonzhan commented on #16894
Account

[2021-02-11 01:48] yonzhan commented on #16901
aks

[2021-02-11 01:49] yonzhan commented on #16900
storage

[2021-02-11 01:50] yonzhan commented on #16899
storage

[2021-02-11 01:51] yonzhan commented on #16897
container

[2021-02-11 01:55] yonzhan commented on #13028
@jiasli for awareness

[2021-02-11 01:58] kiriasCMNH commented on #12008
Hi, in the docs the example refers to a mysql connection string tho, i am having issues trying to set a connection string that has " inside it, as for example a connection string that is commonly used for entity framework.

[2021-02-11 02:28] Tatsinnit commented on #16882
💡 Further to add:

* Setup instruction here say `azdev setup -c` is a valid command but seems like it is not as from screenshot below: https://github.com/Azure/azure-cli/blob/dev/doc/configuring_your_machine.md

<img width="963" alt="Screen Shot 2021-02-11 at 3 25 45 PM" src="https://user-images.githubusercontent.com/6233295/107596761-8996b800-6c7d-11eb-9d54-a8d9c0039e0d.png">

[2021-02-11 02:36] yonzhan commented on #16882
Add @jiasli for awareness.

[2021-02-11 04:20] Kotasudhakarreddy commented on #16757
@yasenstar - We are Unable to repro this at our end. Can you run the command with `--debug` and share the details that would be helpful to investigate further

[2021-02-11 05:14] Kotasudhakarreddy commented on #16777
@larsschellhas - `az webapp up` will just create a webapp with default or specified configuration. here `default` means the default azure configuration. please find more details [here](https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az_webapp_up).

To clarify your questions
1.  `az webapp up` will create  a new app all the times. It cannot be used for `deployment` in to the

[2021-02-11 06:26] amsgeodis opened #16904 "express-route gateway connection create - TypeError: 'NoneType' object is not iterable"
## Describe the bug

**Command Name**
`az network express-route gateway connection create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network express-route gateway connection create --gateway-name {} --name {} --peering {} --resource-gr

[2021-02-11 06:49] amsgeodis commented on #16615
@yonzhan Do you know when your fix will be in place?

[2021-02-11 07:27] alexeyshishkin01 commented on #16897
I've created a simple Docker file for tests:

FROM debian:10-slim

RUN apt-get update -y \
&& groupadd postgres -g 1000 \
&& useradd -m postgres -u 1000 -g 1000 -s /bin/bash \
&& chmod 0750 /home/postgres \
&& apt-get install -y --no-install-recommends atop

USER postgres

CMD ["/usr/bin/atop"]

[2021-02-11 07:33] alexeyshishkin01 commented on #16897
pls. find attached my tests results for both 'docker exec' command (file '1.txt') and 'az container exec' command (file '2.txt')
[1.txt](https://github.com/Azure/azure-cli/files/5963601/1.txt)
[2.txt](https://github.com/Azure/azure-cli/files/5963602/2.txt)

[2021-02-11 07:39] sicklittlemonkey commented on #13007
My suspicion is that you have the same problem as me. In the [docs for az sf application](https://docs.microsoft.com/en-us/cli/azure/sf/application?view=azure-cli-latest) it has an important and tragic note: "**Only support ARM deployed applications.**"

How sad is that!? Azure CLI is Microsoft's "next generation multi-platform command line experience for Azure", but I can't manage SF apps deploye

[2021-02-11 07:45] yonzhan commented on #16615
Since we are on Chinese New Year holiday from 2.11 to 2.17, please expect a delay in response from us. @msyyc will take a look and let you know after holiday.

[2021-02-11 07:46] yonzhan commented on #16904
network

[2021-02-11 08:09] sicklittlemonkey commented on #15973
The docs note this, but can we have an explanation for this terrible limitation? I deploy SF apps from a DevOps release pipeline, so not being able to use Microsoft's "next generation multi-platform command line experience for Azure" to manage these is pretty disappointing.

[2021-02-11 08:26] riezebosch opened #16905 "az ad group member add is not idempotent"
**Describe the bug**
I'm running this command from an Azure DevOps pipeline as part of our infrastructure deployment and without additional care these commands fail for subsequent runs.

**To Reproduce**
az ad group member add -g $rg --member-identity $id
az ad group member add -g $rg --member-identity $id

**Expected behavior**
No error.

**Environment summary**

[code]

**Additional context**
I'

[2021-02-11 09:10] yonzhan commented on #16905
Graph

[2021-02-11 09:46] paulmwatson commented on #7168
Can confirm this worked for me with az cli 2.18.0 e.g.
[code]

[2021-02-11 09:51] Strobodov opened #16906 "Could not create Azure AD Group via CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad group create --display-name {} --mail-nickname {} --force {}`

[2021-02-11 10:37] jeromepin opened #16907 "Cannot allocate write+execute memory on M1 Mac"
**Describe the bug**
When running an `az` command, it triggers a MemoryError on a M1 Mac :

[code]

<details>
<summary>Full stack trace</summary>
ERROR: The command failed with an unexpected error. Here is the traceback:
ERROR: Cannot allocate write+execute memory for ffi.callback(). You might be running on a system that prevents this. For more information, see https://cffi.readthedocs.io/en/lates

[2021-02-11 11:48] Bessonov opened #16908 "az storage blob sync throws exception"
**Describe the bug**

az storage blob sync throws exception below.

**To Reproduce**

[code]

[code]

Following command worked at Feb 5, 2021 12:48pm GMT+0000:

[code]

But it stops working at Feb 10, 2021 9:46am GMT+0000:
[code]

If I add `--auth-mode login` I get:

[code]

**Expected behavior**
Files are copied.

## Environment Summary
[code]

**Additional context**
The above command is used on

[2021-02-11 12:22] mayurigupta13 commented on #16856
What's the workaround for this issue?

[2021-02-11 12:53] sdebruyn opened #16909 "Start ACI container using ID"
**Is your feature request related to a problem? Please describe.**
You cannot start a container by using its ID. You have to specify the name and resource group at this time.

**Describe the solution you'd like**
`az container start --ids "ID of the container"`

[2021-02-11 13:18] margani opened #16910 "Deleting an app setting in a function app slot, clears tick for deployment slot setting in production slot"
## Describe the bug
I created a slot for a function app, and because of an (I think) [issue](https://github.com/Azure/azure-cli/issues/16805), the app settings are copied from Production slot. Then I have to delete the app settings that I don't want this slot have.
After running the command for deleting the app settings from a slot, I realised that the ticks for deployment slot settings for the sa

[2021-02-11 13:38] w0ut0 commented on #16909
This feature would save me a lot of messy bash lines.

[2021-02-11 14:56] genegc commented on #16311
I'm still unable to create a notebook through az cli.
I've included the info you have asked for - is there any update on this?
Can you provide an example that works so that I can see what I'm doing wrong?

[2021-02-11 15:01] Petermarcu commented on #13028
Something failed WRT to the PR title but nothing telling me what it should look like. Let me know what needs to be adjusted.

[2021-02-11 15:20] usdruscia opened #16911 "az ad app create - cannot combine native-app and identifier-uris"
**Describe the bug**
The CLI cannot create a native app registration with identifier URIs

**To Reproduce**
`az ad app create --display-name MyApp --native-app true --identifier-uris https://my.app`
_'--identifier-uris' is not required for creating a native application_

**Expected behavior**
Being able to create the native app registration with provided URIs like it's possible to do in the Azure

[2021-02-11 15:33] genegc commented on #16311
I have also verified that I can do an export of a notebook successfully, but when I try to then do an import with the json that was just exported, I still get the 'Bad Request' error.

[2021-02-11 16:11] CecileRobertMichon commented on #16862
@yonzhan any reason why tagged this as feature request? It's more of a bug report IMO.

@jiasli have you had a chance to take a look?

[2021-02-11 18:04] pvrk commented on #16817
@mepand to comment on NFS based file-shares. I think we don't have support for that yet but I will let @mepand  have the final word.

[2021-02-11 18:40] apawast commented on #16819
@Hazhzeng @gzuber could either of you please investigate?

[2021-02-11 19:15] anlatsko commented on #16628
@qwordy Do you have a timeline for when you'll adapt this code for MSI login?

[2021-02-11 19:26] avinashakka opened #16912 "az vm disk detach to support force-detach"
**Resource Provider**
- Compute Resource Provider (Microsoft.Compute)

**Description of Feature or Work Requested**

Azure will now support force-detaching managed data disks from a VM. This feature is supported as part of VM recovery scenarios, when a VM is unresponsive due to unexpected failure in underlying stack, Client can choose to just forcibly detach a data disk to mount it and use with an

[2021-02-11 22:19] sanjaydebnath opened #16913 "az network application-gateway root-cert create fails with keyvault url"
## Describe the bug

**Command Name**
`az network application-gateway root-cert create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create KV, add two certs with autorotation on for frontend & backend ssl in  RG
- Create AKS cluster with AGIC using [this](https://azure.github.io/a

[2021-02-11 22:35] jcbrooks92 opened #16914 "Az sig image-definition appending additional output"
**Describe the bug**
The CLI is appending additional parameters to the underlying API response. Its not a blocker but can cause confusion about what is being returned. For example the endOfLifeDate parameter is tied to a specific version of the API and not the parent resource. This happens in PS as well.

**To Reproduce**
Run the command az sig image-definition list on the resource and you'll see

[2021-02-11 22:59] j-so commented on #16880
A new patch release whl has been made that should fix this issue. It pins the cryptography package to be compatible:
az extension add -s https://azurecliext.blob.core.windows.net/release/azure_cli_ml-1.22.0.1-py3-none-any.whl -y

This has not yet been released to the general az extension add -n azure-cli-ml yet - we are working on that.

[2021-02-11 23:53] stevengum commented on #12267
This issue is now unblocked with the latest `azure-mgmt-botservice` release

FYI @munozemilio

[2021-02-12 00:29] justinbowes commented on #16855
+1 from me. It is definitely surprising that `az acr repository show-manifests` does not return Docker manifests.

[2021-02-12 00:33] yonzhan commented on #16906
Graph

[2021-02-12 00:35] yonzhan commented on #16907
packaging

[2021-02-12 00:35] yonzhan commented on #16908
storage

[2021-02-12 00:37] yonzhan commented on #16910
functionapp

[2021-02-12 00:37] yonzhan commented on #16909
container

[2021-02-12 00:40] yonzhan commented on #16911
Graph

[2021-02-12 00:43] yonzhan commented on #16862
We are on Chinese new year holiday until 2.18, please expect delay in response during our holiday. We will circle back and take a look afterwards.

[2021-02-12 00:47] yonzhan commented on #16913
network

[2021-02-12 00:50] yonzhan commented on #12267
Could this issue be closed?

[2021-02-12 00:56] stevengum commented on #12267
@yonzhan unfortunately not at the moment, the hook-up between the CLI and SDK still needs to occur I believe. @munozemilio do you concur?

[2021-02-12 01:51] nateforsyth commented on #16709
Have just encountered this myself.

Mine was because I was forced to install this due to an internal process:
https://docs.microsoft.com/en-us/powershell/module/azuread/?view=azureadps-2.0

This causes a conflict within the Azure CLI.

Check to ensure you don't have that installed as well.

[2021-02-12 05:59] mepand commented on #16817
@pmaslej Apologies for the inconvenience . NFS shares are currently not supported by Azure Backup. Yes we do have plans of supporting it in the future but in the interim, we are working on service side fix that would ensure that error message is more clear and apt.  I will also update support matrix to call out clearly that NFS shares are not supported.

[2021-02-12 07:27] mankuuuuu commented on #5841
I removed auto generated values by WSL in /etc/resolv.conf and added google NS now it is able to resolve it.
[code]

[2021-02-12 07:28] mankuuuuu commented on #15410
I removed auto generated values by WSL in /etc/resolv.conf and added google NS now it is able to resolve it.
[code]

[2021-02-12 08:30] hasselmm opened #16916 "Unclear how to upload file for cool storage"
How do the tiers P10, P20, P30, P4, P40, P50, P6, P60 related to hot, cool and archive tier?

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob upload`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre

[2021-02-12 09:37] sanjaydebnath commented on #16913
Ok my certificate in AKV for root-cert is a chain certificate. I see that the certificate has to be cer file for the root certificate. Is there a different way of enabling autorotation for root-cert in that case rather than manually uploading? My app gty is WAF_v2.

[2021-02-12 10:15] andyblack19 commented on #11718
The _application_ deployment should be able to set App Settings without worrying about them being wiped out by the next ARM _infrastructure_ deployment. That is my underlying problem with the current approach.

Also the fact that this isn't well documented, and that the implementation unexpectedly differs between 'kinds' of `Microsoft.Web/sites` resource deployments (`app`/`functionapp`)

[2021-02-12 10:24] yonzhan commented on #16916
storage

[2021-02-12 11:16] yungezz commented on #16907
HI @fengzhou-msft could you pls help to look at it? thanks

[2021-02-12 11:18] yungezz commented on #16912
will put it in 3/25 release for now.

[2021-02-12 11:21] missa112 commented on #16858
Help please, I can not install "pip3 install pgpy" on Centos 7, an error occurs.

  Traceback (most recent call last):
       File "<string>", line 1, in <module>
       File "/tmp/pip-build-_lndkep4/cryptography/setup.py", line 14, in <module>
         from setuptools_rust import RustExtension
     ModuleNotFoundError: No module named 'setuptools_rust'

What to do?

[2021-02-12 11:23] missa112 commented on #16880
Help please, I can not install "pip3 install pgpy" on Centos 7, an error occurs.

Traceback (most recent call last):
File "", line 1, in
File "/tmp/pip-build-_lndkep4/cryptography/setup.py", line 14, in
from setuptools_rust import RustExtension
ModuleNotFoundError: No module named 'setuptools_rust'

What to do?

[2021-02-12 11:53] mmuffins opened #16917 "az storage account generate-sas fails if a connection string is provided"
## Describe the bug
`az storage account generate-sas` returns error `Argument --account-name should be specified` used with the connection-string parameter. It can be resolved by also providing the account-name parameter in addition to the  connection-string parameter, but that shouldn't be necessary since all needed information is already contained in the connection string.

Downgrading to 2.16 a

[2021-02-12 11:58] yungezz commented on #16901
https://github.com/Azure/azure-cli/issues/13745

[2021-02-12 11:58] yungezz commented on #16901
duplicate with https://github.com/Azure/azure-cli/issues/13745

[2021-02-12 13:03] cxbuilders commented on #16659
@munozemilio Do you know if around yesterday something has changed in the Bot Channels regsitration resource setup. We are running now into the following issue: #6203

[2021-02-12 13:10] larsschellhas commented on #16777
Hey @Kotasudhakarreddy ,
thank you very much for your answer! This does explain why the command acts as it does. However, wenn `az webapp up` is used to redeploy, it does seem to update the existing app. After all:
1. During the deployment it does say `Updating runtime from Python 3.8 to Python 3.7`
2. Previously set environment variables on the webapp are kept and not deleted.
3. In this [tutoria

[2021-02-12 14:00] andre-r-magalhaes commented on #16809
Hi, we're having the same error but with another command.

az webapp traffic-routing set --distribution StageName=100 --name WebApp --resource-group ResourceGroup

The issue is related?

[2021-02-12 14:01] yonzhan commented on #16917
storage

[2021-02-12 14:09] missa112 opened #16918 "help pip3 install"
Help please, I can not install "pip3 install pgpy" on Centos 7, an error occurs.

Traceback (most recent call last):
File "", line 1, in
File "/tmp/pip-build-_lndkep4/cryptography/setup.py", line 14, in
from setuptools_rust import RustExtension
ModuleNotFoundError: No module named 'setuptools_rust'

What to do?

[2021-02-12 14:35] rzlrogerio opened #16919 "error: list register"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr repository list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr repository list`

## Expected Behavior

## Environment Sum

[2021-02-12 14:38] Flangvik commented on #16819
Suddenly also having issues deploying (worked just 40-50 minutes ago)

[2021-02-12 15:43] ThejaChoudary commented on #15415
@jayaakshayan Unable to repro the issue. Can you please share more details to investigate further with using --debug with the command.
Thanks You!

[2021-02-12 15:49] yonzhan commented on #16919
acr

[2021-02-12 15:51] jvleminc commented on #16858
Upgrade pip to latest

[2021-02-12 16:28] sandriches opened #16920 "Az storage blob sync requests an account key when an sas token is provided"
## Describe the bug

Az storage blob sync requires an account key when an SAS token is provided. SAS token was tested with another command (az storage blob list), which works fine.

**Command Name**
`az storage blob sync`

**Errors:**
[code]

## To Reproduce:

- az storage container generate-sas --account-name {} --name {} --permissions acdlrw --expiry (date + 1 hour)
- `az storage blob sync -s {}

[2021-02-12 16:47] mnoskoski commented on #16858
I execute a az devops login on my azure-pipelines, my agents run in docker, but still received error:

Command:
  echo $(System.AccessToken) | az devops login

Message return:
  Unable to use secure credential store in this environment.
  Please refer to alternate methods at https://aka.ms/azure-devops-cli-auth using Environment variable or use 'az login' An error occurred. Pip failed with status

[2021-02-12 17:35] rcj4747 commented on #8631
I see that the newest snap in the edge channel is 2.0.38 from July 2018.  Any progress on making snap releases part of your process?

The [install docs](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) tell me not to use the version in Ubuntu because 2.0.81 is too old, making the snap ancient.  And I don't care for the instruction to run `curl -sL https://aka.ms/Insta

[2021-02-12 17:47] munozemilio commented on #16659
@cxbuilders Im not aware on any change. @swagatmishra2007 do you know what could be the reason>

[2021-02-12 17:52] paulbatum opened #16921 "az webapp log tail shows duplicate log entries for function apps"
**Describe the bug**
A user reported in [this issue](https://github.com/Azure/azure-functions-host/issues/1431) that they were seeing duplicate log entries in `az webapp log tail` when used on a function app. I believe the fix that the portal took in that issue needs to be taken in the CLI too. The nature of the fix is described in [this comment](https://github.com/Azure/azure-functions-host/issue

[2021-02-12 17:58] yene opened #16922 "az ad app list is missing createdTime"
**Is your feature request related to a problem? Please describe.**
`az ad app list` is missing createdTime

**Describe the solution you'd like**
The resulting list has property `createdTime`
similar to `az resource list` -> `"createdTime": "2019-10-01T13:11:19.635924+00:00",`

If possible `changedTime` would be nice too.

**Additional context**
We use the command to review app registrations, witho

[2021-02-12 18:05] yugangw-msft commented on #16919
@rzlrogerio, this error is legit that `-n` is needed for the name of the container registry.

[2021-02-12 18:05] #16919 closed

[2021-02-12 18:05] jdedwards3 commented on #16872
@Juliehzl I am using az login as and the msi error is occurring

[2021-02-12 18:13] jdedwards3 opened #16923 "az blog storage sync changes content type of json from application/json to text/plain"
I am using the az cli github action latest version

**Describe the bug**
Running this command

az storage blob sync -c '$web' -s _output --exclude-pattern '*.json' --connection-string '${{ secrets.AZURE_STORAGE_CONNECTION_STRING }}'

does not set the content type of json files to application/json instead it is set to text/plain

**To Reproduce**
run the command above within github actions

**Expec

[2021-02-12 18:19] mnoskoski commented on #16858
I resolve my problem add in my Dockerfile of Docker agent azure the follow command:

RUN python3 -m pip install -U pip
RUN python3 -m pip install --upgrade pip --target /usr/lib64/az/lib/python3.6/site-packages/

I includes the lines commands after line the install the az cli.

[2021-02-12 18:21] Pwd9000-ML opened #16924 "az backup vault create - No --Tags option"
Please can the --Tags option be added to allow creation of tags when "Az Backup Vault Create" is made to create a new Recovery Services Vault.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7dab6757-9dab-9267-c3ae-073e9db200c1
* Version Independent ID: f5d969a6-e8ef-90eb-5679-b6734612be76
* Content: [az backup

[2021-02-12 18:33] ThejaChoudary commented on #16738
@fabiocav Assigning this to you for further investigation.Thank you!

[2021-02-12 19:16] djgilcrease opened #16925 "az storage blob download should allow output to stdout for pipe support"
**Is your feature request related to a problem? Please describe.**
My company is switching from artifactory to az storage which means I can no longer download bash scripts and pipe them to bash for auto execution. eg `curl -nsfL https://artifactory.company.com/path/to/file | sh -s`

**Describe the solution you'd like**
I would like to be able to do `az storage blob download -c bla -n path/to/file

[2021-02-12 20:48] pebarrer commented on #16262
I am seeing this issue in Azure CLI via Cloudshell .

az version
{
  "azure-cli": "2.19.0",
  "azure-cli-core": "2.19.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "ai-examples": "0.2.5"
  }
}

[2021-02-12 22:31] V4A001 opened #16926 "How to programmatically extract the encryptionkey from keyvault to add in cosmosdb creation"
I want to create a cosmosdb with azli and encryptionkey. However, extraction of key also takes the token 3fxxxx7f22a08 and not will the / forward slash which is required in the cosmos db creation:
https://xxx.vault.azure.net/keys/CosmosDb--EncryptionKey/3fxxxxec7f22a08

But this is required:
https://xxx.vault.azure.net/keys/CosmosDb--EncryptionKey
`
CosmosDbEncryptionKey="$(az keyvault key show --

[2021-02-12 23:09] yonzhan commented on #16920
storage

[2021-02-12 23:17] yonzhan commented on #16921
webapp

[2021-02-12 23:18] yonzhan commented on #16922
Graph

[2021-02-12 23:20] yonzhan commented on #16923
storage

[2021-02-12 23:23] yonzhan commented on #16924
backup

[2021-02-12 23:24] yonzhan commented on #16925
storage

[2021-02-12 23:27] yonzhan commented on #16926
cosmosdb

[2021-02-13 01:47] KevinBurton opened #16927 "Cannot reset an SPN"
I try - 'az ad sp reset credential --name "PhoenixSPN"' and I get:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bef1f12-de16-93ed-1cb7-3f3d5d99d786
* Version Independent ID: 4e9329a6-50f8-ee2a-af63-f750d66ed574
* Content: [az ad sp credential](https://docs.microsoft.com/en-US/cli/azure/ad/sp/credential?view=a

[2021-02-13 02:20] tot0 commented on #16855
I think adding `--detail` to `az acr repository show` makes sense, more detailed info about an `--image` would include the actual Image manifest, not just the manifest digest.

[2021-02-13 04:38] tkent opened #16928 "az storage with --auth-mode=login incorrectly determines principal permissions"
My Azure AD user account has access to a blob storage account/container. If I sign into the azure portal, I can navigate to it and perform read, write, and listing actions against it.

However, when I try to use the `az` command to list the container like so...

[code]

I get an error that I do not have the required privileges to perform the operation. If I omit the `--auth-mode=login` option, the

[2021-02-13 06:04] adewaleo opened #16929 "az network private-endpoint list-types fails due to invalid resource type error"
az network private-endpoint list-types fails due to invalid resource type error

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network private-endpoint list-types`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any

[2021-02-13 12:30] jeromepin commented on #16907
It appears to be coming from [PyOpenSSL itself](https://github.com/pyca/pyopenssl/issues/873#issuecomment-778588689).

[2021-02-13 13:26] cxbuilders opened #16930 "AZ bot authsettings create show wrong command for getting Service Providers"
It shows -> az bot connection list-providers
should be -> az bot authsetting list-providers

[2021-02-13 14:42] yonzhan commented on #16927
Graph

[2021-02-13 14:43] yonzhan commented on #16928
storage

[2021-02-13 14:45] yonzhan commented on #16929
network

[2021-02-13 14:46] yonzhan commented on #16930
bot

[2021-02-13 19:02] nadi-noda commented on #9157
13/02/2021 still too slow

[2021-02-14 00:44] danvanderboom opened #16931 "az interactive not working after update to latest az cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive --update`

## Expected Behavior

## Environment Summary
[c

[2021-02-14 00:44] danvanderboom commented on #16931
C:\Source>az interactive
This command is in preview and under development. Reference and support levels: https://aka.ms/CLI_refstatus
Run `az interactive --update` and try again.

C:\Source>az interactive --update
This command is in preview and under development. Reference and support levels: https://aka.ms/CLI_refstatus
Updating the Interactive extension to the latest available...
The command fai

[2021-02-14 03:21] nisargam opened #16932 "aks failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --node-count {} --enable-addon

[2021-02-14 03:22] KevinBurton commented on #16927
I am not sure how to interpret this comment?

[2021-02-14 04:45] yungezz commented on #16932
route to appropriate team

[2021-02-14 04:46] yungezz commented on #16931
hi @fengzhou-msft could you pls help to check is this related with module index updating? thanks.

[2021-02-14 04:47] yungezz commented on #16918
hi @missa112 could you pls share more repo steps on how this related with azure cli? thanks.

[2021-02-14 12:13] bonnithedog opened #16933 "Azure CLI The command failed with an unexpected error [Errno 30] Read-only file system: '/home/****/.azure/commandIndex.json'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group list`

**Errors:**
/.azure/logs$ az list
The command failed with an unexpected error. Here is the traceback:
[Errno 30] Read-only file system: '/home/****/.azure/commandIndex.json'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 233,

[2021-02-14 12:16] #16933 closed

[2021-02-14 14:35] cyberpion-yotam commented on #9369
For anyone having these same issues, I just spent a few hours finding out that @asears couldn't be more correct.
I've been getting this issue when running with the azure-functions-deploy:1.0.0 (so make sure to check out the Access Restriction rules!)

[2021-02-15 00:26] cpdohert opened #16934 "Documentation for parameters is incomplete, inadequate"
The parameters
[code]

and the example:
[code]

do not provide enough information to use this command. `--hostname` and `--name` appear to describe the same thing, conceptually.  The example is useless, as values like `--endpoint-name endpoint`, `--profile-name profile`, and `--name domain-name` do not provide any information about the intended format or nature of the parameter.

As an example,
[c

[2021-02-15 00:33] AlecDusheck commented on #16842
We've configured our CosmosDB accounts to only be exposed to a private network. I've only tested this with Kubenet though.
<img width="728" alt="Screen Shot 2021-02-14 at 6 30 33 PM" src="https://user-images.githubusercontent.com/22039172/107893851-14341d00-6ef3-11eb-99ae-657522d97b06.png">

[2021-02-15 01:15] yonzhan commented on #16934
CDN

[2021-02-15 01:39] ozbillwang opened #16935 "No error prompt when I re-create a resource group in different subscription"
**Describe the bug**

### create a new resource group
using Azure CLI to create a new resource group in subscription **test01**, then switch to scription **test02**, to run the same command.

No error, just tell me it is successful

**To Reproduce**
[code]

Then I switch to another subscription
[code]

No error I got. But in fact, this resource group `test-1234` is still registered under subscript

[2021-02-15 01:49] ozbillwang commented on #16935
No issue. Just wait, I saw two resource groups with same name now.

[2021-02-15 01:49] #16935 closed

[2021-02-15 09:21] ThejaChoudary commented on #16472
Considering this as feature request. Will look into this.
Thanks!

[2021-02-15 09:24] ThejaChoudary commented on #16472
FYI @panchagnula

[2021-02-15 09:26] ThejaChoudary commented on #16473
Considering this for feature request. Will look into this.
Thanks!
FYI @panchagnula

[2021-02-15 09:58] LaurentLesle commented on #16673
I confirm the same issue and it annoying. Being able to catch SIGTERM would help to gracefully shutdown the running process.

[2021-02-15 13:40] kjohann commented on #16719
This applies to other properties as well. It seems that most of, if not all of, the `siteConfig`-object under `properties` displays only default values when using as. Works fine with Az-Powershell.

[2021-02-15 14:15] pascal-hauser opened #16936 "az aks check-acr fails with "ValueError: invalid literal for int() with base 10: '17+'""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks check-acr`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks check-acr --name {} -g {} --acr {}`

## Expected Behavior

## En

[2021-02-15 14:24] Kotasudhakarreddy commented on #16777
Hi @larsschellhas - agreed on your points. Thanks for correcting me. Parameters cached under .azure/config will just store the info related to the azure configuration of your app like RG, SKU etc. Regarding `-runtime` as per the implementation if we don't specify the `-runtime` by default it  consider and set as `python|3.7`.
 we will look in to the feasibility of considering the `runtime` version

[2021-02-15 14:28] Kotasudhakarreddy commented on #16809
@andre-r-magalhaes - Issue is logged for `ServiceTag` rule. you too using this rule?

[2021-02-15 14:29] giskou opened #16937 "Add support for restoring managed instance databases to instances in another region"
**Is your feature request related to a problem? Please describe.**

The current [api](https://docs.microsoft.com/en-us/rest/api/sql/manageddatabases/createorupdate) will return `SubscriptionDoesNotHaveServer` if the source and destination database is not in the same location.

It is actually possible to do such a thing in the UI.
Go to the target instance -> New database -> Use existing data (Back

[2021-02-15 14:30] Kotasudhakarreddy commented on #16809
@rodney-almeida - could you please share the `--debug` log for further investigation.

[2021-02-15 14:45] miketimofeev commented on #16908
Same here on version 2.19.1 when trying to execute `az storage remove --account-name $StorageAccountSrc -c $containerName -n $blobName`. Authorization was made by `az login --service-principal --username $ClientId --password $ClientSecret --tenant $TenantId`
[code]

[2021-02-15 15:17] yonzhan commented on #16936
aks

[2021-02-15 15:17] owingruters opened #16938 "Missing the responses for the VNet integration commmands?"
I am missing the responses of these commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cf5a035-926f-1cef-8335-963b497cbed8
* Version Independent ID: 296a49f5-bc7a-d56a-6fe2-914d276b2a9e
* Content: [az webapp vnet-integration](https://docs.microsoft.com/en-us/cli/azure/webapp/vnet-integration?view=azure-cli-lates

[2021-02-15 15:19] yonzhan commented on #16937
SQL

[2021-02-15 15:21] yonzhan commented on #16938
webapp

[2021-02-15 15:34] miketimofeev commented on #16908
Same here on version 2.19.1 when trying to execute `az storage remove --account-name $StorageAccountSrc -c $containerName -n $blobName`. Authorization was made by `az login --service-principal --username $ClientId --password $ClientSecret --tenant $TenantId`
[code]

[2021-02-15 16:00] alexlydiate commented on #13802
That's not a user issue - the error message is incorrect.

[2021-02-15 16:05] pvrk commented on #16924
Taggin @mepand for information. We are treating this as feature request and will respond back with some tentative timelines

[2021-02-15 16:41] VirtualFox0 commented on #16262
I am seeing this issue in Azure CLI (on Mac) version **2.17.1**, **2.19.1** and Azure Cloud Shell Azure CLI version **2.19.0**.

[2021-02-15 17:46] tjprescott opened #16939 "Webapp vnet-integration complains it is missing a delegation that exists"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp vnet-integration add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

Was trying to follow this tutorial:
https://docs.microsoft.com/en-us/azure/postgresql/flexible-serve

[2021-02-15 17:55] ThejaChoudary commented on #14597
Thanks for reporting, we'll look at it

[2021-02-15 17:57] ThejaChoudary commented on #16921
Thanks for reporting. Will take a look.

[2021-02-15 18:02] ThejaChoudary commented on #16208
@drjayvee When using CLI make sure the subscription you are using is the one that has the RG you are using in the command.You can az account show to verify this. This error indicates that App or RG values are either incorrect or are not on the subscription that is being used.

[2021-02-15 18:06] ThejaChoudary commented on #16369
Thanks for reporting .Will take a look.

[2021-02-15 18:09] ThejaChoudary commented on #16471
Thanks for reporting. Considering this as feature request,we will work on this based on priority.

[2021-02-15 18:11] ThejaChoudary commented on #16470
Thanks for reporting. Considering this as feature request,we will work on this based on priority.

[2021-02-15 18:11] ThejaChoudary commented on #16470
FYI @panchagnula

[2021-02-15 18:11] ThejaChoudary commented on #16471
FYI @panchagnula

[2021-02-15 18:13] ThejaChoudary commented on #16399
Thanks for reporting.Will look into this.

[2021-02-15 18:42] tjprescott commented on #16939
And I recreated my RG and simply ran `postgres flexible-server create`. This did indeed create the VNET and subnet with the delegation set to `Microsoft.DBforPostgreSQL/flexibleServers`, so I don't know why the webapp commands are upset.

[2021-02-15 18:49] clfilipe opened #16940 "az role definition create command is part of a script that is delivering a syntax error"
While running the below script, I am getting this error:

**Script:**
az login

$roledefinitions = Get-Content -Path C:\Users\XX\Downloads\test.json | ConvertFrom-Json

foreach ($roledef in $roledefinitions){
    Write-Output "Role Definition to be added is:"
    $role_json = $roledef | ConvertTo-Json
    $rc = "'"+$role_json+"'"

    Write-Output "az role definition create --role-definition"

[2021-02-15 19:56] KonstantinTr opened #16941 "typo in --aad-allowed-token-audiences option description"
It seems that --aad-allowed-token-audiences option works properly with comma separated audiences (not space separated).
When I provide space separated options, they end up in a single audiences list entry in azure portal UI. 

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aeb196c8-e408-8563-26ba-5c3ae6e38c48
* Version

[2021-02-15 20:44] ThoughtHopper opened #16942 "az login fails with ECONNRESET"
**Describe the bug**
Running `az login` on WSL2 fails with 'Connection aborted' after choosing user in the browser.

**Environment summary**
Host:
OS Name:                   Microsoft Windows 10 Enterprise
OS Version:                10.0.18362 N/A Build 18362

Guest:
Ubuntu 18.04 LTS
Linux 4.19.128-microsoft-standard #1 SMP Tue Jun 23 12:58:10 UTC 2020 x86_64 x86_64 x86_64 GNU/Linux

Tool:
azure-c

[2021-02-15 21:53] deathgaze commented on #5219
I tried @danherron's solution, but I got this instead:
[code]

[2021-02-15 22:45] edburns commented on #11767
I am now seeing this on the most basic of image queries:

[code]

FWIW, I have filed ticket 2102150010003073 as well.

[2021-02-15 22:50] sd40250 opened #16943 "Missing character"
[Enter feedback here]
Example code:
az vm image show -l westus -f CentOS -p OpenLogic --sku 7.3 --version {latest}
should be
az vm image show -l westus -f CentOS -p OpenLogic --sku 7.3 --version ${latest}

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90dfc804-87d6-913a-27fe-a9446a04eb13
* Version Independent ID: bfcb9

[2021-02-15 23:06] yixuanhouphl opened #16944 "az storage blob sync not working with 2.19.0"
**Describe the bug**
On Circle CI
`az storage blob sync --source "./build/" --container \$web --connection-string STRING` is returning error "MSI is not supported yet."

**To Reproduce**
Set up circle CI pipeline
Using Orb circleci/azure-cli@1.1.0
Install the latest Azure CLI
Log in with service principle
`az storage blob sync --source "./build/" --container \$web --connection-string STRING`

**Ex

[2021-02-15 23:32] alexeyshishkin01 commented on #16897
anyone ?

[2021-02-15 23:51] msLinuxNinja opened #16945 "az cli does not check if the file for --custom-data exists"
**Describe the bug**
az cli does not check if the file for --custom-data exists in the specified path. When running `az vm create with --custom-data` even if the custom-data file doesn't exist, az cli continues with the execution.

**To Reproduce**
Run `az vm create --custom-data` against a file that doesn't exist, for example:

[code]
Note that the file " cloud-init.txtz" does not exist yet az cl

[2021-02-16 01:17] yonzhan commented on #16939
webapp

[2021-02-16 01:19] yonzhan commented on #16940
RBAC

[2021-02-16 01:20] yonzhan commented on #16941
webapp

[2021-02-16 01:21] yonzhan commented on #16942
Account

[2021-02-16 01:23] yonzhan commented on #16944
storage

[2021-02-16 01:44] masterj63 opened #16946 "A stacktrace with a disorienting message is shown for `az apim api import`"
## Describe the bug
A stacktrace with a disorienting message is shown.

**Command Name**
`az apim api import`

**Errors:**
[code]

## To Reproduce:
Set the bash $variables used below to the valid values. Run the following command

[code]

## Expected Behavior
Either a meaningful error message to be shown, or the command to complete successfully.

## Environment Summary
[code]
## Additional Context

[2021-02-16 03:20] geekyarthurs opened #16948 "WebApp:I did az webapp up just to see what are the available parameters / examples and got this error."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up`

## Expected Behavior

## Environment Summary
[code]
## Addit

[2021-02-16 03:33] geekyarthurs commented on #1031
reopen it please

[2021-02-16 04:15] geekyarthurs commented on #16803
Temporary Fix:

`wget https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/appservice/resources/GenerateRandomAppNames.json`

in the mentioned directory.

[2021-02-16 06:59] Kotasudhakarreddy commented on #16948
@geekyarthurs - it is due to the unavailability of file `GenerateRandomAppNames.json` at location: `/opt/azure-cli/lib/python3.9/site-packages/azure/cli/command_modules/appservice/resources/`. Reinstall the `azure-cli`  it should install/place the required files properly.

[2021-02-16 07:39] usrme opened #16949 "'az login' messages suppressed when 'only_show_errors' set to 'yes'"
## Describe the bug

**Command Name**
`az login`

## To Reproduce:

Either set the `core.only_show_errors` configuration option to `yes` in a configuration file or set the relevant environment variable.

[code]

## Expected Behavior

That the configuration options does exactly as described in the [documentation](https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration):

---

The message

[2021-02-16 08:12] albertoRamon commented on #13745
Hi,

This error occurs when "--node-vm-size Standard_E2s_v3"
If you increase the size ( --node-vm-size Standard_E8s_v3) works fine  :P

[2021-02-16 08:50] theo-albers commented on #16881
Yesterday I spent a couple of hours trying to track down this issue in our build pipeline. Luckily I found this bug report and I could verify that old files were indeed removed. I'm using inline Powershell Core as script.

The biggest issue here for me is that the error doesn't reveal the underlying problem.

[2021-02-16 08:53] drjayvee commented on #16208
Hi there. I've actually stopped working on Azure, so I won't delve into this issue any farther.

I'll leave it up to you all whether the CLI should provide a clear error message or not.

[2021-02-16 10:41] patrickheinzelmann opened #16950 "Deletion of CosmosDB Database isn't working"
## Describe the bug
I'm trying to delete a MongoDB on a CosmosDB Serverless instance, but the deletion failed. No error message will be displayed.

**Command Name**
`az cosmosdb mongodb database delete`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
1. Create a CosmosDB Serverless account of t

[2021-02-16 10:42] patrickheinzelmann commented on #16950
Same issue with the latest Docker image of Azure CLI (2.9.1)

[2021-02-16 10:44] kolendomichal commented on #16661
@apawast  @gzuber  any update on this?

[2021-02-16 11:02] yonzhan commented on #16946
apim

[2021-02-16 11:04] yonzhan commented on #16948
webapp

[2021-02-16 11:06] yonzhan commented on #16949
Account

[2021-02-16 11:08] yonzhan commented on #16950
cosmosdb

[2021-02-16 11:52] yungezz commented on #16943
hi @qwordy pls help to update the doc, thanks

[2021-02-16 11:54] yungezz commented on #16945
hi @qwordy could you pls have a look? thanks

[2021-02-16 12:18] cocowalla commented on #16436
Is there any workaround in the meantime?

[2021-02-16 12:24] #16025 closed

[2021-02-16 12:50] iFlameing commented on #16197
@maxburke can you tell me what do you mean by above line. Does the above problem related to homered?

[2021-02-16 12:59] fengzhou-msft commented on #16249
@scottstensland You're using the focal package of `azure-cli`, we have released the groovy package. Please uninstall the focal package and then install the groovy one as instructed in the [installation doc](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt&view=azure-cli-latest). You may need to remove the focal repo in step 3 if you have done it before.

[2021-02-16 13:05] ChristianUlbrich commented on #16908
We have the same issue; looks like MS hosted agents did an update to `2.19.1`(today/yesterday's enterprise) and thus now all builds using `azure-cli` will break.

This effectively breaks all of our pipelines. :(

[2021-02-16 13:59] miketimofeev commented on #16908
@ChristianUlbrich unfortunately, yes, we have updated hosted win 2019 environments with 2.19.1 version. As a workaround, you can use the following steps to install version 2.18.0, but I'm afraid it takes about 12 minutes
[code]

[2021-02-16 13:59] scottstensland commented on #16249
Thank you ...   its working now

[2021-02-16 13:59] #16249 closed

[2021-02-16 14:24] SaulLoachamin commented on #16908
I tried with azure cli 2.1.0 and is working in the MS vs2017-win2016.

[2021-02-16 15:16] ChristianUlbrich commented on #16908
@SaulLoachamin I think you are referring to the AzureDevOps task `AzureCLI`; but it is misleading; it does not include the `azure-cli` itself, but is just _"glue"_ around it. The _actual_ [azure-cli](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-cli?view=azure-devops#prerequisites) is a _prerequisite_. All hosted build agents have it pre-installed. In the latest `windo

[2021-02-16 16:30] viktoreinarsson commented on #16908
This is breaking all of our ARM template deployments. Since we cannot specify a fixed Azure CLI/Task version this is broken for us until a rollback/hotfix is deployed.

[2021-02-16 16:31] VessyAscentSoftware commented on #16908
Same here.
We have a pipeline that started failing the other day.

`2021-02-15T12:26:14.2752414Z ##[section]Starting: Upload content to stage blob
2021-02-15T12:26:14.2847835Z ==============================================================================
2021-02-15T12:26:14.2848250Z Task         : Azure CLI
2021-02-15T12:26:14.2848844Z Description  : Run Azure CLI commands against an Azure subscri

[2021-02-16 17:02] ThoughtHopper commented on #16894
While searching for possible causes for https://github.com/Azure/azure-cli/issues/16942. I noticed that when I run `az login` my Ubuntu window title changes to say powershell.

I checked the $PATH and it's long and contains a bunch of paths referencing my host (i.e. /mnt/c/Program Files)
Is this normal?

![image](https://user-images.githubusercontent.com/1198346/108095508-f4653c00-704d-11eb-86c2-3

[2021-02-16 18:12] Hazhzeng commented on #16645
Hi @edmlbox,

Sorry for the late reply. Does this issue still persist? Please check to login https://res002.scm.azurewebsites.net from your browser and see if you can receive any response. This may just be a network hiccup but not an Azure CLI issue.

[2021-02-16 19:01] MarkAtAgilliance commented on #16436
My workaround was to check the contents of the returned json.   It is $null when the plan does not exist where specified (including incorrect RG) however this forces me to check I have the correctly named RG first.

BTW, my original title was wrong - the command uses "appservice plan" not "webapp plan".  i.e. az appservice plan show -n ... -g ...

[2021-02-16 20:06] ThoughtHopper commented on #16942
Workaround found.

Using a proxy as instructed here:
https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#work-behind-a-proxy
With HTTPS_PROXY environment variable set.

This leads me to believe that there is a problem with the WSL environment.
I used Wireshark and when the error occurs its the management.azure.com server that closes the connection.
Unfortunately I can't easily see the r

[2021-02-16 20:25] raj-amit-singh commented on #16908
downgraded to azure-cli 2.18.0 and it's working for me.

[2021-02-16 20:43] swagatmishra2007 commented on #16659
i would need a botid to debug

[2021-02-16 21:22] ThoughtHopper commented on #16942
I have 'az' installed in my Host machine. It seems that installing it in the WSL leads to some issues.

I uninstalled the azure-cli package from WSL. It automatically defaulted to use the one from Windows
*(/mnt/c/Program Files (x86)/Microsoft SDKs/Azure/CLI2/wbin/az)* and all my login problems went away...

[2021-02-16 21:22] #16942 closed

[2021-02-16 21:52] shivanissambare commented on #16821
Hi, please let us know if above comment solved your issue.

[2021-02-16 21:52] shivanissambare commented on #16821
#please-close

[2021-02-16 21:53] poveilleux commented on #16944
We also have noticed the same problem using Azure Pipelines `AzureCLI@1` and `AzureCLI@2` tasks. This prevents us from updating our CDN from our pipelines.

[2021-02-16 22:47] cwickham33 opened #16952 "az upgrade from 2.17.1 to 2.19.1 fails with cannot import name 'status_tag_messages'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az upgrade`

## Expected Behavior

## Environment Summary
[code]
## Additiona

[2021-02-16 23:09] panchagnula commented on #16948
@calvinsID in general can we do something to make sure older version of CLI users don't see an error due to missing json file?

[2021-02-16 23:11] panchagnula commented on #16939
@madsd can you take a look?

[2021-02-16 23:13] panchagnula commented on #16921
@paulbatum i am guessing you see the same behavior if you use az functionapp log tail?

[2021-02-16 23:15] panchagnula commented on #16838
@Kotasudhakarreddy can you take a look at this?

[2021-02-16 23:18] panchagnula commented on #16809
@madsd might probably be fixed when we have the new SDK in CLI?

[2021-02-16 23:19] panchagnula commented on #16803
@calvinsID do we know if this is still an issue - did we get any help from core-cli here?

[2021-02-16 23:20] paulbatum commented on #16921
Is this command available? I tried it and got this error:
[code]

[2021-02-16 23:22] panchagnula commented on #16777
@calvinsID for an existing app we shouldn't override the run-time version if the language is the same right? Is this a regression with --runtime support?

[2021-02-16 23:24] tjprescott commented on #16939
@panchagnula and @madsd I also opened an issue against the article since it isn't clear that whether the issue is with either service or the article itself. According to the portal, the VNET integration requires a subnet that is empty and NOT delegated, which is directly contrary to the article which says you have to use the same subnet as the postGRES flexible server is delegated to.

[2021-02-16 23:37] panchagnula commented on #16921
Interesting all webapp commands should have an equivalent functional command.

[2021-02-16 23:44] panchagnula commented on #16719
@calvinsID it seems like the all properties under SiteConfig show as null on CLI . Can you or @Kotasudhakarreddy  take a quick look?

[2021-02-16 23:52] panchagnula commented on #16414
@sshingler do you see this error only on this command do other commands work? if so can you clean up & re-install CLI on MACOS?

[2021-02-16 23:52] panchagnula commented on #16414
@yonzhan are there any known issues with installing & using CLI on M1 Mac?

[2021-02-16 23:53] panchagnula commented on #16399
@calvinsID  can you take a look at this?

[2021-02-16 23:55] panchagnula commented on #16266
@JasonFreeberg do you still repro this with the latest CLI version?

[2021-02-16 23:56] panchagnula commented on #16208
closing since this should be fixed by #14287

[2021-02-16 23:56] #16208 closed

[2021-02-16 23:58] panchagnula commented on #16178
@indrehus please try the command as
az webapp update --set clientCertEnabled=true --name <app-name> --resource-group <group-name> --subscription <SubId> & let us know if you still see the same issue. Thanks!

[2021-02-17 00:03] panchagnula commented on #15723
@ModernRonin CLI command lets you add a JSON file by using --settings which takes JSON file as an input
az webapp config appsettings set -g MyResourceGroup -n MyUniqueApp --settings  @moreSettings.json

The complex structure you are requesting is not supported by the backend or API at this time & so not a CLI specific issue

[2021-02-17 00:03] #15723 closed

[2021-02-17 01:13] #16821 closed

[2021-02-17 01:14] yonzhan commented on #16944
@Juliehzl will take a look

[2021-02-17 01:17] yonzhan commented on #16414
@fengzhou-msft to help with installing.

[2021-02-17 03:03] Kotasudhakarreddy commented on #16719
@panchagnula - API itself is returning null values for all the properties under `SiteConfig`

[2021-02-17 03:11] yungezz commented on #16952
hi @fengzhou-msft could you pls have a look? thanks

[2021-02-17 03:22] Kotasudhakarreddy commented on #16838
@akshaychopra5207 unable to repro this issue. I am able to see the given value(true/false) for `slot setting `. I could see the same in your output given above. All the values for `slot setting ` shows as `false`

[2021-02-17 03:37] danactive opened #16953 "Multiuser brew not supported during azure-cli install"
**Describe the bug**
Install script or brew fails to alter user ownership as my setup is for multiple mac users.

I use *brew* across multi-users in macos, so my brew cellar (`ls -l /usr/local/Cellar/`) has various owners such as _python@3.8_ is owned by userB whereas _python@3.9_ is owned by userA. Note: `brew` works fine and `brew doctor` too.

When I try to install **azure-cli** via *brew* I se

[2021-02-17 04:36] yungezz commented on #16953
hi @fengzhou-msft could you pls help to have a look?

[2021-02-17 05:56] Jason1269 opened #16954 "Webapp:az webapp restart and stop fails with endless install prompt"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Running az webapp restart and stop commands from windows, results in endless prompt to install webapp, and never finishes

**Command Name**
`az webapp`

**Errors:**

[code]

## To Reproduce:
Run `az webapp --name mywebapp restart`

## Expected Behavior
Should install and continue

## Environment Summary
[code]

[2021-02-17 07:54] NCMiMa opened #16955 "az aks install-cli fails"
**Describe the bug**
I got error when running az aks install-cli:

az : ERROR: The command failed with an unexpected error. Here is the traceback:
In Zeile:1 Zeichen:1
+ az aks install-cli
+ ~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (ERROR: The comm... the traceback::String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError

ERROR: <urlopen error [SSL: CERTI

[2021-02-17 08:18] madsd commented on #16809
@panchagnula yes, this cannot be fixed before we have the new SDK. Until then - if you use service tag rules, you will have to manage from ARM/REST, portal or PowerShell...

[2021-02-17 08:26] pravinambekar commented on #9004
Are there any updates on configuring Linux based Cognitive Service for QnAMaker ? In my case LinuxFxVersion and Stack is correctly getting configured during deployment but, unable to create knowledgebase through script and throwing error about EndpointKeysError

[2021-02-17 08:36] tengl commented on #15379
Hi @Juliehzl
There seems to be a regression here. Got the error again on Azure DevOps with Azure CLI 2.19.1.

[code]

[2021-02-17 08:42] srothery opened #16956 "Azure Universal Artifacts download of large package fails"
**Describe the bug**
Downloading a Universal Package of > 22GB fails when using az cli and self hosted agent.

**To Reproduce**
I uploaded a large universal package of around 22GB to a cloud hosted package feed. This took an appropriate amount of time based on my ISP upload speed. Using the following command then fails:
`az artifacts universal download --organization https://dev.azure.com/XXX --pr

[2021-02-17 09:22] edmlbox commented on #16645
Everyting ok now.

On Tue, Feb 16, 2021 at 8:12 PM Hanzhang Zeng <notifications@github.com>
wrote:

[2021-02-17 09:51] Steiniche commented on #13802
I agree with @alexlydiate the error message could definitely be improved.

[2021-02-17 10:31] cocowalla commented on #16436
I ended up going for:

[code]

It is quite annoying coming across these inconsistencies in the Azure CLI from time to time. I get it's vast, with a *lot* of commands, but the structure is consistent, and so it feels like consistency of behaviour should be achievable - @ThejaChoudary have you (as in the Az CLI team 😄) looked into the possibility of creating some kind of linter/analyser? Idea is you

[2021-02-17 10:35] sicklittlemonkey opened #16958 "NSG rule delete shouldn't be prevented by a delete lock"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network nsg rule delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- In a Resource Group create a Network Security Group
- Create a "Delete" lock on the Resource Group usi

[2021-02-17 10:57] madsd commented on #16939
@tjprescott @panchagnula thank you Travis. It is the tutorial that is wrong. Both for using B1 SKU, which does not support vnet integration and for not using an empty subnet (with a delegation for Microsoft.Web/serverFarms). A subnet cannot be delegated to multiple services. Basically, the tutorial never worked and should be updated asap - fix would be to add use at least S1 as SKU and add a subne

[2021-02-17 11:01] tengl opened #16959 "az storage copy crashes: ValidationError: local variable 'service' referenced before assignment"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Same issue as #15379 (regression). When copying from Azure Blob Storage to local machine I get the error. I get the same error in Azure DevOps (same CLI version) which stops our workflow.

**Command Name**
`az storage copy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argume

[2021-02-17 11:12] tengl commented on #15379
I created a new issue.

[2021-02-17 12:10] yonzhan commented on #16954
webapp

[2021-02-17 12:10] yonzhan commented on #16955
aks

[2021-02-17 12:12] yonzhan commented on #16956
artifacts

[2021-02-17 12:15] yonzhan commented on #16959
storage

[2021-02-17 12:16] yonzhan commented on #16958
network

[2021-02-17 17:02] ThejaChoudary commented on #16277
@oshz Can you please let us if your still facing the issue with the latest CLI?

[2021-02-17 17:16] IkePCampbell commented on #10805
Any follow up on this? Otherwise I can just close this issue

[2021-02-17 17:34] vinisoto opened #16961 "az aks create fails with 'The requested size is currently not available in location'. Works from Portal"
**Describe the bug**

Creating from CLI fails. Works from Portal with the same SKU, region and subscription:

`az aks create -g maxtest1infra -n MyManagedCluster --node-vm-size Standard_DS2_v2 --location eastus`

**BadRequestError**: Operation failed with status: 'Bad Request'. Details: Provisioning of resource(s) for container service MyManagedCluster in resource group maxtest1infra failed. Messa

[2021-02-17 17:51] ThejaChoudary commented on #15240
@prajyot-joshi-kr  Are you still seeing this problem ?

[2021-02-17 18:07] danielkon96 commented on #16961
Same thing is happening to me.

I tried to deploy in westus which does not contain availability zones and I get the same error from CLI and the PORTAL. I tried in eastus and same problem. This began happening yesterday around 6:30 pm (PT), it was working earlier around 5:00 pm.

[2021-02-17 18:12] ThejaChoudary commented on #13662
Will work on this after discussing with the Cli team.Thanks!

[2021-02-17 18:13] rjmccallumbigl opened #16962 "AttributeError: 'VirtualMachineExtensionsOperations' object has no attribute 'create_or_update', Can not create new user with az vm user update"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I have tried several times to create a new user on a Windows (Windows Server 2016 Datacenter) VM per the instructions here:https://docs.microsoft.com/en-us/cli/azure/vm/user?view=azure-cli-latest. Each time I get the below error. This is after deallocation and starting again. Also cannot change the pw of the wo

[2021-02-17 19:26] nv-jbonnier commented on #16908
Same problem here with 2.19.1

[2021-02-17 19:28] cxbuilders commented on #16659
@swagatmishra2007 as mentioned in the other issue this has resolved itself. The original issue is still there, takes two arm / azure cli runs to create a direct line channel where the securesiteenabled is actually coming through

[2021-02-17 19:30] ModernRonin commented on #15723
There is no need to change the backend API.

The CLI would just need to convert from regular JSON settings to the very specific nested format the backend API expects. (Which is what currently we users of the CLI have to do.)

[2021-02-17 20:18] Drewm3 commented on #11767
@qwordy, could you clarify what service APIs are failing and what parameters are required to trigger the failure? From the list above it is unclear if this is an issue on the client, bad data from Marketplace, or an actual service bug.

@olayemio, please help route this to the appropriate dev team if the issue is actually a problem in the service API.

[2021-02-17 20:28] danielpenagos opened #16963 "Internal server error when performing ARO creation."
**Describe the bug**
We are creating a new private cluster and we are getting an internal server error.

**To Reproduce**
The same as available at https://docs.microsoft.com/en-us/azure/openshift/tutorial-create-cluster

**Expected behavior**
Cluster created successfully.

**Environment summary**
Neither azure cli from the azure portal, or azure cli locally worked.

**Additional context**
az aro c

[2021-02-17 21:51] ptsapralis opened #16964 "Port 'xxxx' is taken with error '[Errno 8] nodename nor servname provided, or not known'. Trying with the next one"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
Received a sequence of error messages saying "Port '8400' is taken with error '[Errno 8] nodename nor servname provided, or not known'. Trying with the next one" for port numbers 8400 through to 8999. Last error message is "Error: can't reserve a port for authentication

[2021-02-17 22:39] panchagnula commented on #16954
@Jason1269 I see you have webapp extension installed, can you uninstall the extension & re-try.
az extension remove --name webbapp

[2021-02-17 23:42] yonzhan commented on #10805
API Management service team should look into this.

[2021-02-17 23:43] yonzhan commented on #16961
aks

[2021-02-17 23:57] grace-liang commented on #16863
Reopening. Swagger was merged to master in this PR: https://github.com/Azure/azure-rest-api-specs/pull/12334
@qwordy please have a look when you get a chance.

[2021-02-18 00:17] yonzhan commented on #16963
aro

[2021-02-18 00:18] yonzhan commented on #16964
Account

[2021-02-18 01:11] ndanielsen commented on #14405
Adding to this issue. I'm working on deploying a custom django app in docker container app to the Azure web app service. This is migrating it from heroku.

The standard in python (and other languages) is to use `.env` file for ENVs.

It would be great to have a similar interface such as:

`az webapp config appsettings set -g MyResourceGroup -n MyUniqueApp --settings-file  .env`

Source:
https://do

[2021-02-18 01:44] yungezz commented on #16962
hi @qwordy could you pls take a look? thanks

[2021-02-18 01:47] Juliehzl commented on #16959
Hi @tengl, thanks for your feedback. I will take a look soon.

[2021-02-18 01:48] Juliehzl commented on #16908
dupe of #16872

[2021-02-18 01:49] Juliehzl commented on #16908
Hi @Bessonov, you could try to run `az login` first and then run `az storage blob sync` with `storage account key`. We will fix the issue on 3/2 release.

[2021-02-18 01:54] Juliehzl commented on #16908
Hi @VessyAscentSoftware, are you using `az login --identity` to login and run `az storage blob sync` with `--auth-mode login`?
If yes and your are already `login`, please use `az storage blob sync` with `--account-key` or `--connection-string` not `--auth-mode login`.
`--auth-mode login` only support for username login now.

[2021-02-18 02:03] yungezz opened #16965 "[Keyvault] Security domain download changed to LRO"
**Resource Provider**

Keyvault
**Description of Feature or Work Requested**

Keyvault security domain download have changed operations to async and match remaining to current service behavior
https://github.com/Azure/azure-rest-api-specs/pull/12863
https://github.com/Azure/azure-rest-api-specs/pull/12966

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2021-02-18 02:03] yungezz commented on #16965
Keyvault is using vendor SDK now, no need official released data plane SDK.

[2021-02-18 02:17] edburns commented on #11767
@Drewm3 @qwordy @olayemio FWIW, I have filed an IcM for this: 228055015 .

[2021-02-18 03:38] tereio commented on #16819
i've done quite a bit of testing on this and it looks like it was due to an upstream dependency that broke the zip deploy remote build step.  Unfortunately the logs I got back gave zero indication of this that I could see.  I only found out by rolling back every change we made on our end until it worked.

The library that did not install correctly in our case was ldap-python.  Presumably due to it

[2021-02-18 03:42] wild123 opened #16967 "Command "az storage remove" doesn't work with servicePrincipal"
**Describe the bug**

Command : az storage remove
az version: 2.19.0
Exception: MSI auth not yet supported.

**To Reproduce**

Login Azure CLI with service principal:
az login --service-principal -u "***" -p "***" --tenant ***
[
  {
    "cloudName": "AzureCloud",
    "homeTenantId": "***",
    "id": "***",
    "isDefault": true,
    "managedByTenants": [],
    "name": "***",
    "state": "Enabled"

[2021-02-18 03:49] yonzhan commented on #16967
storage

[2021-02-18 03:49] luyitong commented on #16850
@qwordy Hello! Do you have any update for this issue? Thanks.

[2021-02-18 04:00] andersiro opened #16968 "Piping az login stdout to /dev/null changes font in WSL Ubuntu"
## Describe the bug

**Command Name**
`az login > /dev/null`

**Errors:**
Running the command changes the font in the terminal.

## To Reproduce:
- `az login > /dev/null`

## Expected Behavior
Shell UI is unchanged

## Environment Summary
[code]
## Additional Context
![image](https://user-images.githubusercontent.com/65259680/108303430-04ba1a00-71fa-11eb-8f03-19a8427623bf.png)

[2021-02-18 04:34] yonzhan commented on #16968
Account

[2021-02-18 06:21] naveedaz commented on #16644
@ElvenSpellmaker The default command with "az functionapp deployment slot create" does not copy any configuration (as well as no tags). Did you mean the command with the configuration_source option? Want to understand the expectation here.

[2021-02-18 06:49] MehaKaushik commented on #16950
Hey thanks for creating the issue. Looking into this.

[2021-02-18 07:14] MehaKaushik commented on #16950
I tried to repro the issue, I did not hit it. This is the command I used:
az cosmosdb mongodb database delete -a myAccountName --resource-group myResourceGroupName --name myDatabaseName

I wonder, if the issue is because you are providing an extra subscription parameter. Can you try without it ? Let me know if you still face the issue, in that case please use --debug option and trace the activity

[2021-02-18 07:23] jiasli commented on #16894
@rjfmachado, we encountered this issue before: https://github.com/Azure/azure-cli/pull/15361. I will submit a PR to fix it.

[2021-02-18 07:24] MehaKaushik commented on #16926
Azure Keyvault team to help the customer figure out a way to get the encryption key directly, instead of extracting from the string.

[2021-02-18 07:38] oshz commented on #16277
@calvinsID  @ThejaChoudary  working fine now on version 2.19.1 , Thanks

[2021-02-18 07:39] #16277 closed

[2021-02-18 07:54] jlichwa commented on #16926
It is not token, but actual version of the key. The key id returned from get key command returns id of specific key (and its version), using uri without version is a command to get latest version of the key.

More info about retrieval of the key can be found here:
https://docs.microsoft.com/en-us/rest/api/keyvault/getkey/getkey

Encryption configuration for cosmosdb as a parameter is taking uri fo

[2021-02-18 08:17] Juliehzl commented on #16967
Hi @wild123, through investigation, service principal is not supported now for `az storage remove` command due to security issue.
Please use `az storage blob delete` or `az storage blob delete-batch`.

[2021-02-18 08:17] #16967 closed

[2021-02-18 08:54] fargozhu commented on #16697
Python 3.9.1
pip 20.2.3
BigSur 11.2.1
Macbook Air M1

[code]

[2021-02-18 08:57] jiasli commented on #16894
@ThoughtHopper, `az login` uses `powershell.exe` to launch a browser

https://github.com/Azure/azure-cli/blob/f92cea11e4e97af64c41ab7d35562639fc9d71b9/src/azure-cli-core/azure/cli/core/util.py#L650

This behavior was introduced by #12851, so yes, this is expected.

The terminal will revert back to its original name after `az login` finishes.

![image](https://user-images.githubusercontent.com/4003

[2021-02-18 09:12] jiasli commented on #16942
Hi @ThoughtHopper, do you have a proxy setup in WSL? Azure CLI should work with WSL correctly when there is no proxy.

Also, can you reach `https://management.azure.com/` directly without using `az`?

[code]

[2021-02-18 09:26] yungezz commented on #15907
hi @robs which CLI version you're using? With latest 2.19.1, the lowercase permissions works fine, I cannot repo the issue
[code]

[2021-02-18 09:27] yungezz commented on #15851
hi @JDface are you still seeing the error? @qwordy fixed several NoneType errors.

[2021-02-18 09:32] ChrisKlug opened #16972 "az network application-gateway ssl-cert create using KeyVault cert fails"
## Describe the bug

Trying to create an SSL certificate in Application Gateway using a KeyVault cert fails

**Command Name**
`az network application-gateway ssl-cert create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network applicatio

[2021-02-18 09:32] yungezz commented on #15914
hi @gbr746 as shared above, if you'd like vault level RBAC, pls use `az role` as in the doc https://docs.microsoft.com/en-us/azure/key-vault/general/rbac-guide. `az keyvault role` is for HSM only.

[2021-02-18 09:32] #15914 closed

[2021-02-18 09:33] yungezz commented on #15957
hi @mdesimone1 the issue is fixed in latest Azure CLI, could you pls try install latest CLI to validate? will close the issue for now, pls create new one if see any errors, thanks.

[2021-02-18 09:33] #15957 closed

[2021-02-18 09:34] yungezz commented on #16013
hi @Sreeja1998 could you pls install latest Azure CLI to see if the issue still exist?