[2019-01-03 23:23] djyou commented on #8077
You may use the following command for usage/quota information related to your registry
[code]

[2019-01-03 23:35] panchagnula commented on #5061
webspace is not going to be a concept available on CLI so closing this as won't fix

[2019-01-03 23:35] #5061 closed

[2019-01-03 23:39] panchagnula opened #8157 "webapp: ssl upload should use the resource group provided & not the RG provided by serverfarm_id"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash o

[2019-01-03 23:42] panchagnula commented on #8157
For apps that are on an ASE, where the ASE & the APP are in different RG's the upload command will upload the certificate to the incorrect location+ RG combination, since in the current implementation the certificate is always bound to the serverfarm ID value that used the ASE's RG.

[2019-01-04 00:15] #8077 closed

[2019-01-04 01:01] #8140 closed

[2019-01-04 01:15] justinwilaby opened #8159 "[INTERACTIVE] Exception when starting interactive mode"
I am seeing the following exception when using `az interactive`:

Traceback (most recent call last):
  File "/usr/local/Cellar/python/3.7.2/Frameworks/Python.framework/Versions/3.7/lib/python3.7/threading.py", line 917, in _bootstrap_inner
    self.run()
  File "/Users/microsoft/.azure/cliextensions/interactive/azext_interactive/azclishell/threads.py", line 21, in run
    FreshTable(self.shell).du

[2019-01-04 06:12] yugangw-msft commented on #7629
Are you running on windows, osx or Linux? Please share the exact error message

[2019-01-04 08:44] Koura opened #8161 "`az storage share list` for storage account without shares generating a stack trace"
**Describe the bug**
Issuing command `az storage share list --account-name myaccountname` for a storage account without shares fails with `HTTPSConnectionPool max retries exceeded...` producing a lengthy python track trace.

**To Reproduce**
Create a new Resource Group:
`az group create --name mytestresourcegroup --location westeurope`

Create a new Storage Account:
`az storage account create -n m

[2019-01-04 08:52] WiseMack opened #8162 "Yet another issue with az vm create"
**Describe the bug**
I cannot create a vm using the az vm create command with all the necessary parameters
The error message is:
Error decoding secrets: Expecting value: line 1 column 2 (char 1)

This is not enough information.

**To Reproduce**
Using the following commands

# Variables
$keyvaultName = "keyvault"
Set-AzureRmKeyVaultAccessPolicy -VaultName $keyvaultName -EnabledForDeployment
$admin

[2019-01-04 09:15] karataliu commented on #7078
This is misleading if other libraries take a look at the value.

Could you please point out the code for retrieving? Thanks

[2019-01-04 09:34] WiseMack commented on #8162
There is another possibility

In the previous code

az vm create --name $VMName --resource-group $resourceGroup --admin-username $admin --authentication-type ssh --boot-diagnostics-storage $bootDiagStorage --custom-data $customData --image $image --location $location --nics $nics --ssh-key-value $keyFile --subscription $subs --secrets $vm_secret

the secret is added on deployment,(leaving aside th

[2019-01-04 11:34] WiseMack commented on #8162
do you mean
Get-AzureKeyVaultSecret... and az vm ...
when you mean powershell and azure cli? If so which is which?

It is unfortunate that is does not work, but expected.

This is the format of $vm_secret
[
  {
    "sourceVault": {
      "id": "/subscriptions/"the Number"/resourceGroups/airheadsbc/providers/Microsoft.KeyVault/vaults/airheadsbcKeys"
    },
    "vaultCertificates": [
      {

[2019-01-04 14:08] pvrk commented on #5615
We have now moved to a way of providing deployment templates for each possible configuration. Use [CLI to restore disks](https://docs.microsoft.com/azure/backup/tutorial-restore-disk#restore-a-vm-disk) and then extract the deployment template name from storage account blob. The exact variable name is "Template Blob Uri". Then [deploy the template using CLI](https://docs.microsoft.com/azure/azure-r

[2019-01-04 14:23] psinger commented on #5615
@pvrk Would be nice to provide a more detailed tutorial for this.

[2019-01-04 14:41] rtcn2 opened #8163 "Recursive Permissions allocation parameter"
The powershell cmdlet for Set-AzDataLakeStoremItemAclEntry have an option to Recurse to child subdirectories and files, this option seems to be missing from the az cli commands, or is this documented somewhere else?

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 54936045-8eba-e6a2-530b-7ad9f19cbca5
* Version Independen

[2019-01-04 15:21] sajithvasu commented on #7629
Tried on both windows and Linux but still it gives same error -

az role assignment create --role "Reader" --assignee 'xxxxxxxxxxxxxxxx' --scope "/subscriptions/xxxxxxxxxxxxxxxxx/"
No matches in graph database for 'xxxxxxxxxxxxxxxxx'

[2019-01-04 15:22] sajithvasu commented on #7629
--assignee is an applicationId from the App registration.

[2019-01-04 15:32] sajithvasu commented on #7629
I think figured out the issue with this.. Enterprise application was getting cleaned up with removing the rbac. This is some issue on our side. Please close this issue.

[2019-01-04 15:52] #5615 closed

[2019-01-04 15:52] tjprescott commented on #5615
Thank you @pvrk

[2019-01-04 16:13] pvrk commented on #5615
@psinger : Yes, I will write a tutorial for this like powershell. This was to unblock any immediate requirements.

[2019-01-04 19:35] saurabsa commented on #8122
@Lobosque, for the first issue, can you please try downloading the installer from the direct link: http://aka.ms/get-azds-windows-az
and see how much time does is take for you?

[2019-01-04 19:53] lmazuel opened #8164 "Migrate the CLI packaging system to the latest recommendation"
I was randomly discussing packaging and CLI impact with @marstr, and I promised I will create an issue about the packaging update to do for CLI. So here it is :)

This means getting rid of azure_bdist_wheel file, using PEP420 for Python 3, etc. A more complete rational can be found here:
https://github.com/Azure/azure-sdk-for-python/wiki/Azure-packaging

I wouldn't say it's urgent, being that it d

[2019-01-04 20:16] tjprescott opened #8165 "Pip install. Azure-cli should pin module dependencies"
This would make the following scenario work correctly:

`pip install azure-cli==2.0.x`

Currently, this would just download the latest of everything.

cc/ @johanste

[2019-01-04 20:41] varunsh-msft commented on #7538
In that case, is it possible to validate that the supplied password is a GUID? If one generated the password using Azure CLI, then it will be a GUID going forward. So, if they want to extend the expiration, they can supply the same GUID back. I am concerned that by allowing any password to be specified, one can specify easy to guess passwords.

[2019-01-04 20:45] yugangw-msft commented on #7538
Yes, we can sure validate the password is strong. With that, can we apply the same check on the creating scenario, and this way we can avoid a breaking change. thoughts?

[2019-01-04 20:49] varunsh-msft commented on #7538
No no, the creating scenario must not allow choosing a password :). Let us not go backwards. We already discussed that at length. Validating strength is not as good as unique random password per service principal. People can choose easy to guess passwords, even if they are strong, and then reuse them across the place. I also shared OAuth guidance that is to generate passwords.

I only suggested va

[2019-01-04 20:51] varunsh-msft commented on #7538
Also do keep in mind that Azure Portal, PS az module, and Graph PS module do not allow choosing passwords in any of the scenarios. So, one can argue that even for reset scenario, Azure CLI should not be special, and increase risk to service principals.

[2019-01-04 23:10] williexu commented on #8161
Actually, after some testing, I was able to see this problem when the sku `Standard_ZRS` was used with kind `Storage` (not v1). @Koura specifying `--kind StorageV2` should solve this problem.

@seguler [this](https://docs.microsoft.com/en-us/azure/storage/common/storage-redundancy-zrs#support-coverage-and-regional-availability) indicates that ZRS skus are only available for general purpose v2 acco

[2019-01-05 00:12] ahmedelnably opened #8169 "functionapp CLI Error Messages are Inaccurate with regards to flags usage"
**Describe the bug**
CLI Error Messages are Inaccurate with regards to flags usage

**To Reproduce**
From @raahmed on January 3, 2019 21:29

Context: Running Python on Functions in Linux (Preview) on VS Code.

Severity: Potentially Serious (Potentially Blocking)

Reproduction Steps:

CLI error messages are inaccurate and confusing - notice how the --name flag is present in the command.
image
![ima

[2019-01-05 00:20] yugangw-msft commented on #8165
@marstr, could you please take a on this and integrate it into part of the releasing pipeline. I am a big fan of get things predictable.

[2019-01-05 01:23] adewaleo opened #8171 "[sig] expose --replica-count in az sig image-version update"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-01-05 01:39] mboersma commented on #7314
I tried this as described and can't reproduce any error with `az` CLI 2.0.52. @tjprescott let's close this issue.

[2019-01-05 01:48] mboersma commented on #7160
I reproduced this:

[code]

[2019-01-05 02:32] WiseMack opened #8172 "az keyvault update does not work"
I was trying to turn "Set-AzureRmKeyVaultAccessPolicy" into "az keyvault update" so it matches with the rest of my code.

**Describe the bug**
The command az keyvault update -name $keyvaultName --enabled-for-deployment true
does not recognize the previously set variable $keyvaultName

Error message:
az: error: unrecognized arguments: airheadsbcKeys
usage: az [-h] [--verbose] [--debug] [--output {j

[2019-01-05 02:50] panchagnula opened #8174 "webapp: zip deployment returns zip deployment taking too long exception even when the deployment actually failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash o

[2019-01-05 03:18] WiseMack commented on #8172
I believe I have found the problem here:
https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-keyvault/azure/cli/command_modules/keyvault/_params.py

In #L56 of the #region vault (management)
c.argument('vault_name', vault_name_type, options_list=['--name', '-n'])
vault_name is added to the keyvault
vault_base_url is NOT added to the keyvault

get_vault_base_url_type is part o

[2019-01-05 03:50] WiseMack commented on #8172
https://github.com/Azure/azure-cli/pull/8175
I tried to fix the problem here.

[2019-01-05 03:54] adewaleo commented on #8108
@prafulbusa and @jagan-at-vi
The newly added windows diagnostics example and updated diagnostics config in pull request #8117 work work correctly for setting diagnostics on a vm. The example also shows how one can use a storage account key as an alternative to using a storage account sas token.

The issue is that the WAD extension has strict expectations of the sas token's format. Moreover, it giv

[2019-01-05 07:37] yugangw-msft commented on #7963
Can't reproduce as well using the latest CLI. Based on the stack trace, it was a pretty old drop dating back to when Troy did the release around last August.
Suggest close it and reactivate when there is a repro using newer builds

[2019-01-05 09:46] markheath commented on #7147
I ran into the same issue with a close brackets `)` character, and also had to escape it with `^^`. Spent a very long time trying to get to the bottom of this. Any chance the docs could be updated to warn of this issue?

It might also be helpful if `appsettings set` provided an alternative way to get settings in that didn't suffer from this issue

[2019-01-05 10:35] markheath commented on #5228
would be extremely helpful to work around issues with invalid characters in settings values as mentioned in #7147

[2019-01-05 13:32] SDubrulle commented on #8136
I'm experiencing the same issue, not able to restart a stopped container from the CLI. Any suggestions on how to solve this?

[2019-01-05 21:38] torosgo commented on #1878
@yueguoguo please check id_rsa.pub file format. For example create one with "ssh-keygen -t rsa" and compare with the one that already exist.

[2019-01-06 16:59] cwoolum commented on #6023
I was unable to get the file reference to work in OSX. I ended up using the permission add command in the CLI like

`az ad app permission add --id $serverApplicationId --api 00000003-0000-0000-c000-000000000000 --api-permissions e1fe6dd8-ba31-4d61-89e7-88639da4683d=Scope`

where `api-permissions` is a space separated list of key value pairs.

[2019-01-07 01:52] Luo-Liang commented on #2851
How can i retrieve _primary private ip_?

[2019-01-07 02:13] yueguoguo commented on #1878
@torosgo It's been a while but still thanks for getting back to the question. 😄

[2019-01-07 09:33] chrmarti opened #8179 "Argument completions incorrect in VSS and `az interactive`"
_From @sameershaikgithub on January 6, 2019 0:1_

in VSS:
az sql db create  (auto complete shows --database-name & --server-name, instead of  --name & --server)

correct syntax:
az sql db create --name shaiksdb --resource-group cligroup --server shaikssqlserver

az: error: unrecognized arguments: --database-name shaiksdb --server-name shaikssqlserver

screenshot attached
<img width="558" alt="scre

[2019-01-07 09:33] chrmarti commented on #8179
We are reading these from the CLI itself. `az interactive` shows the same (wrong) argument names for `sql db create --help`.

[2019-01-07 09:33] chrmarti opened #8180 "keyvault wrong argument --vault-name in VSS instead of --name"
_From @sameershaikgithub on January 5, 2019 21:35_

in VSS auto complete shows --vault-name which doesn't exists in cli instead uses --name. Please update this. Screenshot attached.

bash-3.2$ az keyvault purge  --vault-name shaiksvault
az keyvault purge: error: argument --name/-n is required

usage: az keyvault purge [-h] [--verbose] [--debug]
                         [--output {tsv,table,json,js

[2019-01-07 09:33] chrmarti commented on #8180
We are reading these from the CLI itself. `az interactive` shows the same (wrong) argument names for `keyvault purge --help`.

[2019-01-07 09:33] RicardoLans opened #8181 "Possible az container exist command"
At my company we would love to see something like `az container exists --name ...` to get a true/false if a container instance already exists or not, just like the `az group exists` command.
Now we use the following:
`az container list --query "length([?name == '$ContainerGroupName'].{Name: name})"` and we check if this count == 0 so we know the chosen $ContainerGroupName is available to use.

---

[2019-01-07 16:21] ppanyukov commented on #7538
@varunsh-msft : some that come to mind:

- Automated continious Azure environment provisioning.  We have scripts in bash/Azure CLI/ansible which set everything up and these can be re-run at any time. The logic of bits that deal with service principals is "create or update".  Rather than extract the auto-generated password on the first create (which is fragile), we set it to a known value.

- We za

[2019-01-07 16:57] JohnGalt1717 commented on #7506
It should also allow update of existing values.

And it should allow setting it on an existing database that doesn't have database throughput configured yet.

[2019-01-07 17:03] tjprescott commented on #8180
This is a duplicate of #8179

[2019-01-07 17:03] #8180 closed

[2019-01-07 17:05] tjprescott commented on #8181
`az container show` should return error code 3 if the container does not exist. That is the preferred way of exists checking in the CLI. @williexu please correct if I misspoke.

[2019-01-07 17:35] #7314 closed

[2019-01-07 18:11] tjprescott commented on #8179
What version of the CLI are you using?  When I try using version 2.0.54 of the CLI and 0.4.1 of the interactive extension (i.e. latest of each) I see the correct completions (at least in `az interactive`).

[2019-01-07 18:38] #8108 closed

[2019-01-07 19:43] williexu commented on #8161
@Koura should be okay, thanks

[2019-01-07 21:17] williexu commented on #8109
closing due to inactivity

[2019-01-07 21:17] #8109 closed

[2019-01-07 21:19] williexu commented on #5500
Fixed with: https://github.com/Azure/azure-cli/commit/438ed0c66ff96677830f1433004614baad1ad5cf

[2019-01-07 21:19] #5500 closed

[2019-01-07 22:03] tjprescott opened #8182 "Add pip packaging checks to release pipeline"
There are two scripts that should be added to the PIP release pipeline and should gate *all* release mechanisms.

`azdev verify version` - script to ensure that the version has been bumped if the build artifact differs from the latest version on PyPI.
`azdev verify history` - checks random little things like the length of the underline, etc.

Verify history is done as part of each PR on the dev br

[2019-01-07 22:05] tjprescott commented on #8182
Note: this issue can't be resolved until azdev is published since that is where the script lives. So it is blocked for now but will be important once azdev is published.

[2019-01-07 22:35] akramwaseem commented on #8077
@djyou --Thanks for the info.
How about the size of a image stored in the registry or Size of all the images in a registry ?
I think you misunderstood the question, if I need the size of the registry I can access it from the azure portal, but I dont see the option to see the size of a docker image apart from pulling it and checking the size.

[2019-01-07 23:59] #8101 closed

[2019-01-08 00:10] #7296 closed

[2019-01-08 00:44] tjprescott commented on #8082
I'm not able to repro, so I think this was a transient error and will close for now.

[2019-01-08 00:44] #8082 closed

[2019-01-08 00:49] johanburati opened #8189 "Cancelling a blob copy when the job already failed returns an exception"
**Describe the bug**
Cancelling a blob copy when the job already failed returns an exception

**To Reproduce**
[code]

**Expected behavior**
Would expect it would return the error without generating an exception

**Environment summary**
[code]

[2019-01-08 00:57] tjprescott opened #8190 "[Network] LB inbound NAT pool missing properties"
`network lb inbound-nat-pool create/update`

- [ ] `--idle-timeout`
- [ ] `--enable-floating-ip`

cc/ @MikhailTryakhov

[2019-01-08 03:23] jaycle opened #8191 "functionApp zip deployment missing parameters"
**Describe the bug**
The command `az functionApp deployment source config-zip --src <file.zip>` fails with the error:

[code]
Same will be seen for any combination of flags `-g` or `-n`. The docs at https://docs.microsoft.com/en-us/azure/azure-functions/deployment-zip-push suggest this is the syntax yet when running `az functionApp deployment source config-zip -h` there are no arguments listed.

*

[2019-01-08 05:37] djyou commented on #8077
The size you see in Azure Portal or with `az acr show-usage` is the size of all the images in a registry. We don't have support for each image size at this point, which can be obtained from pulling the image as you suggested. /cc @sajayantony

[2019-01-08 08:11] RicardoLans commented on #8181
@tjprescott it is true that I get the following error message with `az container show -n yyy -g xxx`:
`The Resource 'Microsoft.ContainerInstance/containerGroups/yyy' under resource group 'xxx' was not found.`

But to me it looks like there is some inconsistency:
For checking if a 'ResourceGroup' exists there is a command `az group exists` which returns true/false.
For checking if a 'ContainerInsta

[2019-01-08 08:52] chrmarti commented on #8179
![image](https://user-images.githubusercontent.com/9205389/50819487-71c80980-132a-11e9-8e8c-d84c151ca6ea.png)

![image](https://user-images.githubusercontent.com/9205389/50819530-92905f00-132a-11e9-94d9-45b235839491.png)

This is with Azure CLI 2.0.52 and the interactive extension 0.4.1.

Updating to 2.0.54 fixed it. (That did come through Homebrew yesterday.) 👍

Closing, thanks.

[2019-01-08 08:52] #8179 closed

[2019-01-08 11:35] jakaruna-MSFT commented on #8162
vm_secret expects that value only.

"Get-" are powershell cmdlets. This [link ](https://docs.microsoft.com/en-us/powershell/module/azurerm.resources/?view=azurermps-6.13.0#active_directory)has all the cmdlets related to Azure.

Commands starts with "az" are Azure clis.

[2019-01-08 12:55] wterbeek commented on #8122
Hi, We seem to have the same problem. We have a cluster that is dev space enabled, has http application routing enabled etc.

When i try to create a controller using the CLI everything goes alright. however, when a colleque tries to create his dev space from within visual studio 2017, he get's an error:

Starting warmup for project 'Cams.Proctoring'.
An error occurred during warmup for project 'Ca

[2019-01-08 16:05] devigned commented on #7963
Same. I just ran it on a clean box. I think we are good to close.

[2019-01-08 16:05] #7963 closed

[2019-01-08 16:30] tjprescott commented on #8179
Glad it's working for you @chrmarti. After that regression we added some more test coverage to hopefully prevent similar issues in the future.

[2019-01-08 16:40] tjprescott commented on #8181
`group exists` is really the anomaly here and only because there happens to be an API endpoint for it. Most resources have no such thing and that's why we added the more standard behavior to have the GET (`show` command) return a unique error code when something doesn't exist.

If `container show` isn't following that, that would be a bug.

[2019-01-08 16:42] #8181 closed

[2019-01-08 17:00] dlepow commented on #7129
Closing

[2019-01-08 17:00] #7129 closed

[2019-01-08 17:53] akramwaseem opened #8193 "AZ AKS command to get available nodes in running AKS cluster ??"
Is there a command like az aks show --node-count --name &lt;&gt; --resourcegroup &lt;&gt;.
That would be a good idea, so that we can automate it to scale a node and get info of a node.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d75c3a8d-1187-bea1-a7d4-7ebba71c1790
* Version Independent ID: 75b0c352-762e-16ae-5cc6-d

[2019-01-08 18:29] theharleyquin opened #8194 "Unclaim functionality needed"
Having the ability to claim a VM is very nice but there is no way to unclaim the VM.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef5457fd-c38a-6fb8-1df4-24a15e6ba787
* Version Independent ID: ef65acdc-464a-08c7-b013-d9e3f1560977
* Content: [az lab vm](https://docs.microsoft.com/en-us/cli/azure/lab/vm?view=azure-cli-

[2019-01-08 18:33] tjprescott opened #8195 "`--ids` no longer works with JSON input"
**Describe the bug**
The `--ids` feature is designed so that if you pass it a JSON array string, it will look for a property called "id" in the array and will use those IDs.  This is so that you can use the following simplified syntax:

`az network vnet delete --ids $(az network vnet list -g {rg})`

It basically allows you to not have to add a bunch of `--query` syntax by simply being able to use

[2019-01-08 18:59] williexu commented on #8189
@johanburati if I understand the issue you would simply rather not see a stack trace correct?

[2019-01-08 19:21] #8171 closed

[2019-01-08 19:35] shanselman commented on #7963
Thanks for your patience and for trying. If/when I get a good repro, how do I capture it? Is there a "collectlogs" script or something to effectively capture state? I've been in this state a few times on a few machines.

[2019-01-08 19:42] shanselman commented on #7963
Ok, updated to latest and now it works. Closed. I appreciate you all!

[2019-01-08 19:49] mboersma commented on #7963
`az --version` and running the command with `--debug` are helpful, but I don't think there's a way to capture the CLI state for inspecting.

[2019-01-08 20:02] schaabs commented on #8172
@WiseMack I think the issue here might be with your command and not argument parsing.  The az keyvault update command you have listed above has a - missing before the name argument.  Your command specifies -name when it should specify --name.

I did some testing and when I omit one of the hyphens before name I get the same error as you did above.

[code]

However when I fix the --name parameter th

[2019-01-08 20:42] mboersma commented on #8193
@akramwaseem the most detail you can get about your Kubernetes cluster with the CLI is `az aks show -n <> -g <> -o jsonc`, which only shows the node count:

[2019-01-08 21:09] tjprescott opened #8197 "`--ids` with JSON input doesn't work with bash idioms"
**Describe the bug**
`az foo show --ids $(az foo list -g {rg})`

This should work but instead outputs `[ is not a valid id`.

**Expected behavior**
This should work.

**Additional context**
Apparently, this specific scenario has never worked.

[2019-01-08 21:09] tjprescott commented on #8197
Related to #8195.

[2019-01-08 21:47] akramwaseem commented on #8193
@mboersma -- Thanks for the info,
I know we can do this with kubectl but was wondering if we can do this using az command.
thanks for the help either way.

[2019-01-08 21:49] akramwaseem commented on #8077
@djyou  -- can you try and add this to the feature list.
That would be great.

[2019-01-08 21:50] #8193 closed

[2019-01-08 21:50] mboersma commented on #8193
Detail of the nodes isn't part of the AKS API schema, so it would take some significant changes there before this could be added to a new `az aks` command. Not impossible, but unlikely given than `kubectl` is a workaround.

[2019-01-08 21:50] tjprescott commented on #8194
Duplicate of #6022.

[2019-01-08 21:51] #8194 closed

[2019-01-09 00:42] yiliaomsft opened #8203 "az webapp up to warn user based on number of apps deployed to the same service plan"
**Is your feature request related to a problem? Please describe.**
Today we use default rg and service plan for up command, people share the same subscription will deploy their apps to the same service plan (worker) in a given region. There are performance impacts when you deploy more than 5 apps to the same service plan.

**Describe the solution you'd like**
In up command, check the number of exi

[2019-01-09 02:12] sajayantony commented on #8077
@akramwaseem do you think, could you please open an issue under https://github.com/Azure/acr
We track items on that.

[2019-01-09 07:21] pritam97 opened #8204 "az network vnet subnet update command is deleting existing subnet service endpoints"
**Describe the bug**
"az network vnet subnet update" is deleting the existing subnet and recreating it. this is not expected.
A clear and concise description of what the bug is.

**To Reproduce**
1. create a subnet with 1 service endpoint enabled.
2. use az network vnet subnet update to add one more service endpoint enable

first service endpoint get deleted. and adding new one.

Steps to reproduc

[2019-01-09 08:04] robinrogne commented on #7754
I could confirm that i have the same issue as @ffloimair.

[2019-01-09 10:24] TomasHubelbauer commented on #1988
This should be changed, because running `az storage account create --help` gives an example:

[code]

Which doesn't work and there is no explanation as to where to go from there. I tried to follows [Specify storage account credentials](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-cli#specify-storage-account-credentials) but found the current documentation page insu

[2019-01-09 10:24] Andrei15193 commented on #8021
Hey @williexu, @srinathnarayanan, are there any updates on this?

[2019-01-09 10:45] TomasHubelbauer opened #8205 "Document that --public-access in create is configurable post-creation using set-permission"
I was trying to find how to set `--public-access` on an already existing container, the Azure Portal UI doesn't really guide one in the right direction with showing this under "Access Policy", so I was very surprised to find that creating two accounts, one with default and one with `blob` and querying their policies using `az storage container policy list`resulted in `{}` in both cases.

I figured

[2019-01-09 15:04] orn688 opened #8206 "--auth-mode argument for blob commands no longer exists"
**Describe the bug**

The `--auth-mode` argument for `az storage blob` commands seems to have disappeared since version 2.0.51, despite still being mentioned in the [docs](https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az-storage-blob-delete). I also can't find any mention of it being removed in the [release notes](https://github.com/Azure/azure-docs-cli-python/blob/

[2019-01-09 17:24] bgklein opened #8209 "Az Configure - Changeable settings aren't listed."
**Is your feature request related to a problem? Please describe.**
When 'az configure' is ran, it lists account details for configured through the CLI.
![image](https://user-images.githubusercontent.com/18502617/50916361-d26d4a00-13ef-11e9-8793-0c93d4706edd.png)
Then it asks if you want to change your settings.
![image](https://user-images.githubusercontent.com/18502617/50916382-e2852980-13ef-11e9

[2019-01-09 18:13] bgklein commented on #8148
Are you using cloud shell or are you running this on a personal machine? I believe we have a known bug with Cloud Shell requiring you to login to the batch account due to the way cloud shell handles authentication.

[2019-01-09 19:41] tjprescott commented on #8204
If you are using the `--service-endpoints` argument, this is the expected behavior. It is not deleting and recreating the subnet, but it is overwriting what you put for service endpoints. If you want to add a service endpoint, you can either specify both service endpoints in the command or use the generic `--add` argument to add it to the list.

[2019-01-09 19:41] #8204 closed

[2019-01-09 19:46] tjprescott commented on #8204
Here's the example syntax for that:
`az network vnet subnet update -g {rg} --vnet-name vnet1 -n subnet1 --add serviceEndpoints {} --set serviceEndpoints[1].service="Microsoft.Sql"`

Much simpler to simply specify both enpoints with `--service-endpoints Microsoft.Storage Microsoft.Sql`

[2019-01-09 19:48] lawrencegripper commented on #8148
I saw this on my dev machine

[2019-01-09 20:49] #5667 closed

[2019-01-09 21:05] #7977 closed

[2019-01-09 21:49] saurabsa commented on #8122
@wterbeek about the above error "An Azure Dev Spaces controller named 'xxxxxxxxxxx' in resource group 'xxxxxxxxxxx' does not exist", are you and your colleague trying to access the same controller under different subscriptions? You would want to check if your colleague can see the controller in the list using the command "azds controller list"
If you want to share clusters/AKS, you would want to g

[2019-01-09 22:13] bgklein commented on #8148
This seems like a bug then as,
`az batch pool create --json-file ./pool.json --account-name batchaccounthere --account-endpoint batchaccounthere.uksouth.batch.azure.com`
Should work on a local machine as long as you are logged into the correct subscription.

Will try to replicate this at some point to get a cause.

[2019-01-09 22:18] williexu commented on #8206
I just looked at the command and the parameter is there. Also used v2.0.54 on homebrew.
Just a random idea, but do you have a very old version of the storage-preview extension installed?

[2019-01-09 22:19] #8206 closed

[2019-01-09 22:21] orn688 commented on #8206
@williexu Aha, that was it! Thanks for the help.

[2019-01-09 22:21] wterbeek commented on #8122
Hi saurabh, yes we are working in the same subscription. I have owner
rights on the resource group, he has contributor rights. He is able to see
the controller using the cli.

Op wo 9 jan. 2019 22:49 schreef Saurabh Sarkar <notifications@github.com:

[2019-01-09 22:34] bgklein commented on #8148
Looking at our validation logic, it looks like the reason that you got this message was likely that you left off the https:// in your account endpoint when signing.  We have custom code in our login cmdlet to check for and add this on, but do not have any such code when a user manually specifies the endpoint.

It may be worth adding a check to generic commands, but the error message is as expected

[2019-01-09 22:37] saurabsa commented on #8122
@wterbeek  Are you both able to run 'azds up' successfully in the controller?
When you are trying to access the controller using Visual Studio, is it the same subscription you both are logged into from different machines?

[2019-01-09 22:42] adewaleo opened #8210 "[vmss] disk. --disk should be deprecated for --name -n eventually."
We should deprecate --disk for --name -n (disk name) when usage of the now deprecated --name/-n (vmss name) option drops in favor of the preferred --vmss-name.

Follows from #4255 and #8115.

[2019-01-09 23:03] #4255 closed

[2019-01-09 23:46] #7256 closed

[2019-01-10 00:03] ahamad-MS opened #8213 "EventGrid Cli -- use argument validator where appropriate"
**Describe the bug**
migrate current argument validation to use built in validator

**To Reproduce**
migrate current argument validation to use built in validator

**Expected behavior**
migrate current argument validation to use built in validator

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / S

[2019-01-10 00:03] ahamad-MS commented on #8213
Please assign this issue to ahamad-MS

[2019-01-10 09:34] lawrencegripper commented on #8148
Ah ok that explains the issue then, thanks for taking the time to track it down.

It would be great to fix this up by either editing the error message or adding a check on the Endpoint to ensure that it validates the endpoint URI is of the form `https://`

The current behavior is confusing as it shows the account name which made me think that was the incorrect parameter and *not* the endpoint whic

[2019-01-10 10:21] tomasaschan opened #8214 "Validation for AKS DNS prefix does not match rules given in the Portal"
In a recent support exchange with Microsoft regarding a malfunctioning AKS cluster, we discovered that I had inadvertently broken some assumptions for the DNS prefix (it contained periods, which broke HTTPS certificate validation down the line). After verifying that recreating the cluster with a valid DNS prefix worked, I set out to ensure I don't make the same mistake again (and that nobody else

[2019-01-10 17:19] tjprescott commented on #8148
@bgklein do you plan to take further action on this? If not, I will close the issue.

[2019-01-10 17:42] bgklein commented on #8148
We discussed in our internal SDK/CLI meeting yesterday that we will update error message/unify the http check, so you can probably keep it open until we send out that PR.

[2019-01-10 18:08] #7940 closed

[2019-01-10 20:58] Ashtonian opened #8216 "Bad Error Message: 'NoneType' object has no attribute when --resource-group or --name is misspelled"
**Describe the bug**
Ran `az webapp identity show --resource-group "mispelledgroup" --name "somename"` with a bad resource group or name field and I get a  `'NoneType' object has no attribute 'identity'` error. In general it seems that when using `az webapp` if there is anything wrong with the `--resource-group` or `--name` flags you get a `'NoneType' object has no attribute` error message.

**To

[2019-01-10 21:32] adewaleo opened #8218 "[doc] Add help example authoring guidelines to authoring_help.md"
We should offer clear guidelines on how to write  and format help examples.
Particularly on:
- Syntax for parameter place holders
- Multi-line / multi-step commands
- Passing example parameter linter rule. See #8083

[2019-01-10 21:32] adewaleo commented on #8218
cc: @tjprescott

[2019-01-10 21:52] williexu commented on #8021
Adding @

[2019-01-10 23:40] sshorkey opened #8220 "'az aks browse' does not work - "port already in use""
I'm trying to connect to K8 dashboard but the steps aren't working.. when I try to connect I end up with this error:

[code]

But then when the browser tab opens it says:
`{"error":{"message":"Port 8001 is not open"}}`

[2019-01-10 23:57] bgklein commented on #8209
2.0.44 I'll update and check again

[2019-01-11 12:58] alexeyshishkin01 opened #8222 "Network watcher automatically created when I create a VM"
**Describe the bug**
When I create my VM new group 'NetworkWatcherRG' is automatically created.

**To Reproduce**
root@Alexey-HP:~# az group list | grep -i NetworkWatcherRG
root@Alexey-HP:~#

root@Alexey-HP:~# az group create \

Location     Name
-----------  -------------------
northeurope  centosresourcegroup

root@Alexey-HP:~# az vm create \

ResourceGroup        PowerState    PublicIpAddress

[2019-01-11 14:25] tobiasahlm opened #8223 "metrics alert update does not seem to work"
**Describe the bug**
The update function for metrics (Alerts) does not seem to work.
I have created an alert for an Application Gateway to monitor health. When you try to update the property enabled, it returns a bad response.

**To Reproduce**
Steps to reproduce the behavior:

az monitor metrics alert update --name testAlert --resource-group testRG --enabled false --debug

msrest.http_logger : Re

[2019-01-11 14:36] lwillek commented on #8149
My goal was to find the objectId of a given group, i.e `az ad group show --group "test-group" --query objectId -o tsv` should return the oid `03596561-4ccf-a017-fad9-3dfae434d7fe` and `az ad group show --group "test-group-ro" --query objectId -o tsv` should return the other oid `7bc4868c-4889-adc6-eb8a-38a246b65606`

Well, I ran into the same problem: `More than one groups match the name of 'test-

[2019-01-11 14:44] tobiasahlm opened #8224 "Application Gateway update http-settings --connection-draining-timeout bug"
**Describe the bug**
There are a few issues. These are the ones I have discovered:
Issue 1: (This is only an issue on an application gateway that never had connection draining enabled)
When you create a new Application Gateway, you are not able to set --connection-draining-timeout through the CLI, since it is missing the parameter enabled. Once you have enabled Connection draining once through the

[2019-01-11 14:59] hectoralicea commented on #6802
when you logged in using a VM identity, you cannot see which identity is being used.  You get an output such as:
    "user": {
      "assignedIdentityInfo": "MSI",
      "name": "systemAssignedIdentity",
      "type": "servicePrincipal"
    }
which means nothing.  Would like to know which Identity Object the VM is using.

[2019-01-11 16:17] tjprescott commented on #8172
This is a usage error. `-name foo` would be interpreted by the CLI as `-n ame`, seeing "ame" as the name because the space between a short-option (with one -) and its value is optional. This is design argparse behavior upon which the CLI is based. thus `foo` would be an unrecognized argument, which is what your error message states.

[2019-01-11 16:17] #8172 closed

[2019-01-11 17:17] dominicbetts opened #8225 ""az iotcentral app update --set" not working"
I'm trying the following command, and the output (and IoT Central UI) are not reflecting the new **displayName** value - I've also tried adding quotes around **newdisplayname** but that doesn't work either - I'm running the command in the bash cloud shell:

[code]

[2019-01-11 19:27] christiankuhtz opened #8227 "support -s for az group commands"
**Is your feature request related to a problem? Please describe.**
az account set accepts --subscription or -s shorthand.  az group accepts --subscription and not the -s shorthand.

**Describe the solution you'd like**
consistently support -s shorthand when --subscription is allowed.

**Describe alternatives you've considered**
n/a

**Additional context**
christian@entropy:~$ az group list -h

Com

[2019-01-11 19:40] tjprescott commented on #8227
We cannot do this because other commands use `-s` in other ways that predate the creation of the global `--subscription` and thus it would be a breaking change. Commands that have it do so because they already had a non-global `--subscription` prior to the introduction of the global argument.

At the time we added the global argument, we had much internal discussion and ultimately deemed that `--s

[2019-01-11 19:47] christiankuhtz commented on #8227
thanks. that's very unfortunate since i bounce between subs all the time.  is there another shorthand other than command line completion?

[2019-01-11 20:00] tjprescott commented on #8227
The way argparse parses arguments, any shorthand of subscription will work if "subscription" is the only logical completion (--s, --su, --sub, etc). The downside is that the minimal shorthand will differ from command to command.

[2019-01-11 20:07] nuno-andre opened #8228 ""az monitor activity-log alert list" raises "JSONDecodeError""
**Describe the bug**
Custom command [`list_activity_logs_alert`](https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-monitor/azure/cli/command_modules/monitor/operations/activity_log_alerts.py#L46) returns
[`list_by_resource_group`](https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-monitor/azure/mgmt/monitor/operations/activity_log_alerts_operations.py#L362

[2019-01-11 20:10] christiankuhtz commented on #8227
ok, thank you. ;-) i'll close this.

[2019-01-11 20:10] #8227 closed

[2019-01-11 20:48] christiankuhtz opened #8229 "typo in debug output"
**Describe the bug**
when running az group deployment validate with --debug, the penultimate line misspells process.

telemetry.process : Return from creating _**porcess**_

**To Reproduce**
az group deployment validate --debug with whatever other args.

**Expected behavior**
spell process process and not porcess.

**Environment summary**
azure-cli (2.0.54)

acr (2.1.11)
acs (2.3.13)
advisor (2.0.

[2019-01-11 20:54] christiankuhtz opened #8230 "az vmss list-skus doesn't handle missing --resource-group gracefully"
**Describe the bug**
missing --resource-group throws traceback when executing 'az vmss list-skus'

(--resource-group --name | --ids) are required
_**Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line 277

[2019-01-11 20:56] adewaleo opened #8231 "[doc] Linter should validate option place-holders"
After #8083 is merged, work should be done to validate command parameter placeholders. Parameter placeholders should be surrounded by curly braces and have CamelCase text. The first character can be a capital letter.

Placeholders like:
- \<some value\>
- [some-value]

Should be replaced with:
- {SomeValue}

Note that values / Placeholders like:
- somevalue
- "somevalue"
- {SomeValue} (only this m

[2019-01-11 20:58] christiankuhtz commented on #8230
looks like it's not limited to --resource-group missing.

christian@entropy:~/Desktop$ az vmss list-skus --resource-group foo
(--name | --ids) are required
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", l

[2019-01-11 20:58] schaabs commented on #8126
@omerlh I haven't heard back with anymore details on this issue.  I'm going to close it.  If you're still experiencing the issue please reopen the issue and add the --debug output detail so I can investigate further.

[2019-01-11 20:58] #8126 closed

[2019-01-11 21:40] tjprescott commented on #8222
Interesting. I can reproduce this. It looks like it is enabling Network Watcher for the region you create your VM in.  When I run with `--validate --verbose` to examine the ARM template actually sent to Azure (without actually sending it), I see no mention of this resource group or network watchers in general. This may be a change in the service-side behavior.

[2019-01-11 21:42] tjprescott commented on #8222
It isn't just the resource group that is created. The Network Watcher resource itself is created for that region.

[2019-01-11 22:03] ankitkumarr commented on #7890
Updating this issue on our offline discussion:
We will not add support to create App Insights from `az functionapp create` command. But instead, we will allow users to provide an existing App Insights or an Instrumentation key. We did so to avoid ownership and maintenance issues while also keeping things consistent with how we deal with storage.

[2019-01-11 22:44] tjprescott commented on #8222
Hi @alexeyshishkin01 this is a service-side behavior that is by design. Please see:
https://azure.microsoft.com/en-us/updates/azure-network-watcher-will-be-enabled-by-default-for-subscriptions-containing-virtual-networks/

The resource is free, but if you wanted, you could delete the resource group (which would delete the resources as well). Since this is by-design service behavior, I will close t

[2019-01-11 22:44] #8222 closed

[2019-01-11 22:48] tjprescott commented on #8222
Also, if you would like to opt-out of this behavior (which is not recommended) please see:
https://docs.microsoft.com/en-us/azure/network-watcher/network-watcher-create

[2019-01-11 22:57] christiankuhtz commented on #8230
this looks like a wider problem..

christian@entropy:~/Desktop$ az network vnet subnet show
(--resource-group --vnet-name --name | --ids) are required
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line 2

[2019-01-11 23:11] tjprescott commented on #8228
There is logic in place to work around Azure/azure-sdk-for-python#1556. However, the format of the error returned in this instance doesn't conform to that. This is a service bug. I will submit a PR that avoids the stack trace, but the error in this case is still pretty vague:
`Operation returned an invalid status code 'Not Found'`

[2019-01-11 23:13] diberry opened #8233 "az cognitiveservices account list-usage broken"
The ref page says the command to list usage is

az cognitiveservices account list-usage --name
                                        --resource-group
                                        [--subscription]

When I try the command, I get an error.

C:\Users\diberry>az cognitiveservices account list-usage --name diberry-cogserv-all-key --resource-group docs-diberry
az cognitiveservices account: '

[2019-01-11 23:30] tjprescott commented on #8223
@tobiasahlm could you please provide the commands you used to create the application gateway and the alert itself?

[2019-01-11 23:44] tjprescott commented on #8224
The following worked for me:
`az network application-gateway create -g {rg} -n ag1 --connection-draining-timeout 60`

This correctly enabled the connection draining timeout on the portal.

`az network application-gateway http-settings update -g {rg} --gateway-name ag1 -n appGatewayBackendHttpSettings --connection-draining-timeout 0`

This correctly showed as disabled on the portal when I refreshed

[2019-01-11 23:49] tjprescott commented on #8224
I can reproduce issue 1.

[2019-01-11 23:59] mdrichardson opened #8234 "Update docs/help for az bot prepare-publish's --proj-name and --sln-name for Node bots"
**Is your feature request related to a problem? Please describe.**
when using `az bot prepare-publish`, it states that `--proj-name` and `--sln-name` are required, even with Node/JS/TS bots

**Describe the solution you'd like**
It would be easiest to update the docs from:

to:

But if the prepare-publish already does some kind of language detection at this point, it could make the `--proj-file` an

[2019-01-12 00:08] tjprescott commented on #8233
I just tested this command and it worked fine. There is a good likelihood that your CLI is out of date. What do you have when you run `az --version`

[2019-01-12 00:09] tjprescott commented on #8234
There is no `az prepare-publish` command in the CLI. Are you using an extension?

[2019-01-12 00:12] diberry commented on #8233
azure-cli (2.0.43)

acr (2.1.2)
acs (2.2.2)
advisor (0.6.0)
ams (0.2.1)
appservice (0.2.1)
backup (1.2.0)
batch (3.3.1)
batchai (0.4.0)
billing (0.2.0)
cdn (0.1.0)
cloud (2.1.0)
cognitiveservices (0.2.0)
command-modules-nspkg (2.0.2)
configure (2.0.18)
consumption (0.4.0)
container (0.3.2)
core (2.0.43)
cosmosdb (0.2.0)
dla (0.2.0)
dls (0.1.0)
dms (0.1.0)
eventgrid (0.2.0)
eventhubs (0.2.1)
extens

[2019-01-12 00:14] diberry commented on #8233
@tjprescott As a general guideline, how often should I update the Azure CLI?

[2019-01-12 00:16] mdrichardson commented on #8234
Whoops. I mean `az bot prepare-publish`. Edited.

[2019-01-12 00:18] diberry commented on #8233
@tjprescott Is there an automatable way to upgrade - the docs just link to a downloadable installer?

[2019-01-12 00:31] diberry commented on #8233
I just found it on [chocolatey.org](https://chocolatey.org/packages/azure-cli). I'll use that moving forward. Thanks.

[2019-01-12 00:33] tjprescott commented on #8162
@devigned has the most experience with passing secrets to a VM. David, do you have thoughts on this one?

[2019-01-12 00:45] #8233 closed

[2019-01-12 00:46] tjprescott commented on #8233
@diberry sound good. Just be aware that the chocolatey release is **not** provided or maintained by Microsoft, so the release cadence will likely lag the official release channels described here:
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2019-01-12 02:11] alexsandro-xpt commented on #7084
@ehotinger as was tould you:

[code]

As you can see, this scan is bad, today a got a `[WinError 3]`: Too deep npm directory at Windows. I know it is some kind of Windows limitation but.... It's bad.

[2019-01-13 00:36] terrymandin opened #8235 "Require "--location" in create command"
I needed to include "--location" when I ran the az create command or I got the following error:

"Source Virtual Machine 'TMIoTEdgeVM' specified in the request does not exist in this Azure location."

eg:
az image create -g MyResourceGroup -n image1 --source MyVm1 --location location

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linki

[2019-01-13 03:59] johanburati commented on #8189
@williexu yes, correct

[2019-01-13 08:34] omerlh commented on #8126
Hey, sorry I somehow missed the notification. Did you check how this behaves when there is an existing policy? I think this is why I had a bug

[2019-01-13 18:59] yaegashi opened #8236 "Support external parameter files in az group deployment create"
**Is your feature request related to a problem? Please describe.**

Please support external parameter files in `az group deployment create`, namely `parametersLink` property in [DeploymentProperties](https://docs.microsoft.com/en-us/rest/api/resources/deployments/createorupdate#deploymentproperties) in the REST API.

PowerShell already has this feature (`-TemplateParameterUri` in [New-AzureRmResou

[2019-01-13 21:55] andreacassioli opened #8237 "Missing docs aks get-credential option"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash o

[2019-01-14 03:16] bgklein commented on #8209
Yes and no(What you suggested seems appropriate as well). On a fresh 2.0.54 CLI my output is:
![image](https://user-images.githubusercontent.com/18502617/51094985-249eca00-1766-11e9-98d2-1fec083e41b5.png)

I mainly wanted to point out the fact that the only 'configurable' settings in this menu, are not being defaulted/being set.

For the workflow where the issue will occur:
    Problem: I want to

[2019-01-14 09:16] wvxvw opened #8239 "az login invalid_grant"
**Describe the bug**
`az login` stopped working yesterday.  I believe it is a bug in `azure-cli` package.

**To Reproduce**
[code]

Then:

[code]

I can log in with this user to Azure portal (web) w/o problems, I can create VMs and other appliances w/o problems.  More so, another person working on MS Windows reported that they have a slightly newer version of `azure-cli` not available to Linux, an

[2019-01-14 09:35] tobiasahlm commented on #8223
@tjprescott The application gateway and the alert was created through the Azure portal. I will try to create a scenario with CLI commands and let you know the outcome.

[2019-01-14 09:39] tobiasahlm commented on #8224
I can confirm this works as intended. I tried to switch it to 0 again and now the connection-drain seems to be disabled on the azure portal as well even though it shows 1 as the output.

[2019-01-14 13:51] tobiasahlm commented on #8223
I have investigated it further and have the following findings:
1) It does not matter if the application gateway is created through the Azure portal or CLI.
2) I can  enable and disable alerts if I created it with the following CLI command:
az monitor metrics alert create --name TempTest --resource-group AppGWTest --condition "avg UnHealthyHostCount

However if I create the identical alert on port

[2019-01-14 14:16] markheath commented on #7147
Another scenario in which `az webapp config appsettings set` is almost unusable is trying to use the new `WEBSITE_RUN_FROM_PACKAGE` feature. To successfully escape the `&` character in the SAS URI I had to replace them all with `^^^&`

[2019-01-14 15:46] Christo4bx commented on #8157
We have found a similar issue with the New-AzWebAppSSLBinding Powershell command in the Az module, version 1.0.1. We reported the issue to Microsoft. Our Support Engineer was able to replicate the error we experienced, and the Product Group at Microsoft confirmed that the issue was the same.

For the sake of clarity, I will describe the bug we experienced.

1. Run Get-AzResource on the resource gr

[2019-01-14 16:38] tjprescott commented on #8157
Issues with the Powershell cmdlets should be reported here:
https://github.com/Azure/azure-powershell

[2019-01-14 16:39] tjprescott commented on #8236
We would not add `--parameters-uri` but we could likely make `--parameters` accept a local path or URI.

[2019-01-14 16:43] tjprescott commented on #8223
@tobiasahlm thank you for the detailed info.

[2019-01-14 16:48] tjprescott commented on #8224
@tobiasahlm thanks for the confirmation. Rather than expose two parameters, we decided to have the CLI interpret 0 as "disabled", but the service won't actually accept a value of 0.  That's why you see a value of 1. The second issue will be fixed in a PR this sprint and should be in the next release.

[2019-01-14 16:50] tobiasahlm commented on #8223
@tjprescott Exactly. The second alert is created through the Azure portal and I am not able to disable it through the CLI. I suppose you will encounter the same issue, if you create an alert on the application gateway through the azure portal.

[2019-01-14 17:01] Christo4bx commented on #8157
Travis,

If you had read my comment, you would know that we, as a customer of Microsoft, are being told that our issue is the same as the Azure-CLI issue I commented on. The fact that Microsoft is saying it is the same issue needs to be documented - hence my comment - to save other customers time.

Sincerely,

Christopher

On Jan 14, 2019 10:38 AM, Travis Prescott <notifications@github.com> wrote:

[2019-01-14 17:10] tjprescott commented on #8157
Hi @Christo4bx I appreciate you taking the time to comment so that it might help others, but someone who is having an issue with Powershell is more likely to look in the Powershell repo for answers than the CLI repo. Also, based on this reported issue, we implemented a client-side fix in CLI. Your repro confirms that the problem still exists in Powershell, and thus reporting it in the Powershell r

[2019-01-14 17:18] tjprescott commented on #8230
Thanks @christiankuhtz, will take a look at this. It should wrap the "ValueError" in a CLIError to avoid the stack trace. This would affect *any* command that has `--ids`

[2019-01-14 17:19] Andrei15193 commented on #8021
@williexu looks like there's not much focus on this, I figure you guys are busy with other stuff as well, it's quite an extensive SDK. Is there a guideline for contributing? I may be able to find the source of the issue and fix it, but for that I need a confirmation whether the result for binary data should indeed be a Base64 string, if not then what should be expected?

[2019-01-14 18:33] tjprescott commented on #7598
@snehithm @esuparno I've created a PR to add support for these special characters. It should be in the next release (end of Jan)

[2019-01-14 18:34] adewaleo commented on #8235
Hello @terrymandin,

The documentation for the --source parameter says:
OS disk source from the same region, including a **virtual machine ID or name**, OS disk blob URI, managed OS disk ID or name, or OS snapshot ID or name.

If you specify a VM name, then the command searches for the VM within the specified resource group.  Have you tried specifying the ID of the VM as the source, when creating

[2019-01-14 18:47] tjprescott commented on #8229
Fixed in PR #8238.

[2019-01-14 18:47] #8229 closed

[2019-01-14 18:48] williexu commented on #8021
@Andrei15193, since the entity insert for a base64 string succeeds, I think the response should indeed also be a base64 string as well.

The [table sdk](https://github.com/Azure/azure-cosmos-table-python) is not giving back data in the expected format, and the CLI is unable to decode it properly. I've tried to get ahold of the sdk owner @srinathnarayanan but I believe he is on vacation at the mome

[2019-01-14 18:50] tjprescott commented on #8144
#8173 merged. Closing.

[2019-01-14 18:50] #8144 closed

[2019-01-14 18:51] tjprescott commented on #8174
#8173 merged. Closing

[2019-01-14 18:51] #8174 closed

[2019-01-14 19:14] tjprescott commented on #5973
Closing per @yugangw-msft

[2019-01-14 19:14] #5973 closed

[2019-01-14 19:18] zqingqing1 opened #8243 "[AKS]Validate network plugin when using customVnet"
**Describe the bug**
az aks create --resource-group delete-aks-subdns --name aksclustername -l westus2 --node-count 1 --vnet-subnet-id /subscriptions/fa6d648f-a63d-4dc5-a9cf-56eeb1fd9141/resourceGroups/delete-vnet-dns-cli/providers/Microsoft.Network/virtualNetworks/bruhnet/subnets/subdub --docker-bridge-address 172.17.0.0/16 **--dns-service-ip 192.168.0.10 --service-cidr 192.168.0.0/24** --kuberne

[2019-01-14 20:10] amitsriva opened #8244 "Application Gateway KeyVault support"
Application Gateway has recently added support for Azure Key Vault certificates. Please enable this on CLI as well.

[2019-01-14 20:34] yugangw-msft commented on #5973
For context, the auto-gen'd guids by CLI commands are accepted as a strong password per confirmations from AAD graph team, and also CLI is retiring the `--password` from the command of `az ad sp create-for-rbac`, so we are good.

[2019-01-14 20:53] abdullah353 opened #8245 "Azure storage blob not able to download files"
**Describe the bug**
I am trying to download the complete storage blob to my hard-disk.
Running the following script with `dryrun` output all the files correctly:

[code]

But when i try to run without `--dryrun` it fails and throws the following error:

[code]

**Expected behavior**
It should download all files from azure to my disk.

**Additional context**
I am able to download the first file if

[2019-01-14 22:07] #7598 closed

[2019-01-14 22:30] adewaleo commented on #8162
Just seeing this. @wisemack, did you try using the --debug option when creating the VM, it gives a lot of helpful information when executing commands, such as what args (actual contents) are passed to the CLI, and the contents of requests and response payloads.

[2019-01-14 22:42] djyou commented on #7225
+1 for this feature. ACR has a use scenario where the identity doesn't have permission to manage Azure resources but has the permission to perform a few runtime operations. /cc @sajayantony

[2019-01-14 22:59] sajayantony commented on #7225
@yugangw-msft As @djyou pointed out, ACR also has a requirement to make MSI support non-subscription bound operations so once this makes it in, we would like queue up a work item to update the docs to use this
/cc @dlepow

[2019-01-15 00:11] devigned commented on #8162
Hi @WiseMack. I'm sorry you're running into problems with `az vm create` with secrets. I would like to help get to the root of the issue.

It looks like you are executing the script in the PowerShell console. Is that accurate? Have you tried the same script in a bash shell? They should both work. I'm just trying to reproduce your environment.

Here's a functioning script with pure `az cli`
[code]

[2019-01-15 05:00] SyntaxGeek commented on #8096
I think that's a fair point - I just felt like it deserved a callout prior to the example code given to understand what "jq" is and that it isn't a Microsoft tool.  I expect most veterans will have familiarity with jq, but not all.

All in all not really an "issue" 👍

[2019-01-15 17:15] timja commented on #7128
I got confused by this too and there's also this issue raised:
https://github.com/Azure/azure-cli/issues/7283
Wasted more time than I liked looking into this...

[2019-01-15 17:37] yugangw-msft commented on #7283
Let me take a look for this sprint.

[2019-01-15 18:46] Penberthy opened #8248 ""az aks enable-addons" breaks Azure-cli's idempotency = 1 assertion"
**Describe the bug**
When you run  "az aks enable-addons" multiple times it works fine the first time but fails every time after that.

**To Reproduce**
Run  "az aks enable-addons" multiple times with the same arguments.
After the first success you get the following error on each successive execution.

**Expected behavior**
Like all other Azure CLI commands it should return the same results if you

[2019-01-15 20:34] yugangw-msft commented on #8239
when you did login through browser, did you experience multi-factor authentications? If yes, then that is the reason using "az login -u <redacted> -p <redacted>" doesn't as your organization enforced the policy of MFA

[2019-01-15 21:01] jochenvanwylick opened #8252 "Updating CLI to v2.0.54 results in broken CLI"
**Describe the bug**
Hi all - I had a running CLI  - v2.0.40-something and downloaded the latest MSI, v2.0.54. Ever since, I get the following error message:

[code]

**To Reproduce**
- I tried installation repair - that didn't work
- I tried removing the az cli - confirmed with running az in console and observed 'could not be found' - reinstalled - same error.

**Environment summary**
Win 10 - la

[2019-01-15 21:55] thiagoss opened #8253 "azure-cli (python3.6) pulls futures lib that is not fully python3 compatible"
**Describe the bug**
Azure-cli pulls as a dependency futures==3.1.1 that has python3.6 incompatible code

**To Reproduce**
Create a virtualenv with python3.6
`pip3 install azure-cli==2.0.55`

Run `pip freeze` and check that futures was installed. Eventually the line
[code]
is executed and it fails. It will shadow the real python3 native futures library and cause problem in other packages that use

[2019-01-15 22:53] mlda065 opened #8254 "group delete works differently between interactive and normal"
# Describe the bug

    az group delete --name mygroup

works as a command, but not inside `az interactive`.

    az group delete --help

returns

    Arguments
        --name --resource-group -g -n [Required] : Name of resource group. You can configure the default

This clearly means that *either* `--name` or `--resource-group` is an acceptable flag for the name of the resource group you want to

[2019-01-15 23:44] christiankuhtz opened #8256 "az network public-ip list --otable should show actual IP addresses"
**Is your feature request related to a problem? Please describe.**
When I ask to list public IP's, often times what I really want to know is what the actual IP's are. -otable suppresses this for az network public-ip list.

**Describe the solution you'd like**
Show a column with the actual IP address values. Preferably far over to the left as to not land in the line wrap for common terminal sizes.

[2019-01-15 23:44] christiankuhtz commented on #8256
@anavinahar fyi

[2019-01-16 00:17] tjprescott commented on #8254
I am not able to repro this issue. If you run `az group delete -h`  outside of interactive, does it not show:

[code]

[2019-01-16 00:48] mlda065 commented on #8254
I just ran `apt-get update && apt-get -y upgrade`. Now my client has upgraded from 2.0.54 to 2.0.55. The problem still exists.

In fact, when trying to reproduce this problem with the newer version, I noticed that the problem extends to `group create` too.

![groupcreate screenshot](https://user-images.githubusercontent.com/7035647/51219339-95233200-1984-11e9-9127-d682e5e9f755.png)

[2019-01-16 01:06] tjprescott commented on #8254
Hi @mlda065 thanks for updating. Please try a few things:
1. Run `az --version` from both the raw command line and from within `az interactive`. Confirm that they are the same.
2. On your command line run `which az` and then in az interactive run `#which az`. Confirm that they are the same.
3. Exit `az interactive` and delete your `.azure-shell` folder (shuld be in your home directory). Then re-la

[2019-01-16 01:20] agolomoodysaada commented on #8060
Best workaround I found was to use https://www.npmjs.com/package/azbak?activeTab=readme

[2019-01-16 01:41] tjprescott commented on #8253
@marstr for triage.

[2019-01-16 01:46] tjprescott commented on #8252
After uninstalling the MSI, can you confirm that `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2` is deleted?

[2019-01-16 01:57] #8224 closed

[2019-01-16 01:57] #8230 closed

[2019-01-16 02:16] mlda065 commented on #8254
1. Same for both
2. same for both
3. Yes that fixed it

[2019-01-16 02:16] #8254 closed

[2019-01-16 06:37] ChristianGottinger commented on #7644
Is there any suggested automated workaround?

[2019-01-16 09:23] rprinsen opened #8258 "az aks disable-addons failure"
###  Describe the bug

I'm trying to disable the monitoring addon in aks, because my kubernetes cluster is marked as 'misconfigured' in containerInsights.

As suggested [here](https://docs.microsoft.com/en-us/azure/azure-monitor/insights/container-insights-optout), i can opt out and re-onboard by running the following command:

However, this results in a stacktrace being thrown by azure-cli:

Mean

[2019-01-16 10:11] michaelspinks opened #8259 "--resource-type (Ex: 'Microsoft.Compute/virtualMachines)')"
Change (Ex: 'Microsoft.Compute/virtualMachines)'). to (Ex: 'Microsoft.Compute/virtualMachines').

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f601495-154d-5e5c-3692-02f8f41516f7
* Version Independent ID: 2968e230-b7a0-b433-333a-af3bba69fd0e
* Content: [az monitor alert](https://docs.microsoft.com/en-us/cli/azure/mon

[2019-01-16 13:40] TomRyder commented on #5565
Any update on this?

[2019-01-16 14:15] anlatsko opened #8260 "`az vm delete` does not delete the VM listing under its resource group in the portal"
When I run `az vm delete --resource-group resourceGroup --name vmName`, I can see that the VM is removed from when I run `az vm lis` (it returns an empty list) but the VM resources are not removed from the portal. I saw another issue (#4897) that the disk is not deleted, but I expect everything else to be fully removed from the portal.

**To Reproduce**
Run `az vm create ...` and create a VM. Run

[2019-01-16 15:14] Andrei15193 commented on #8021
@williexu I have done some digging and found the source(s) of the bug. There are multiple areas where we can intervene to fix this bug.

Starting from the response from the server, the request goes through [azure-multiapi-storage-python](https://github.com/Azure/azure-multiapi-storage-python), more specifically at [_deserialization.py:117](https://github.com/Azure/azure-multiapi-storage-python/blo

[2019-01-16 16:52] tjprescott commented on #8259
This is an issue with the `--target-type` argument.  Thanks for the report @michaelspinks

[2019-01-16 18:33] jochenvanwylick commented on #8252
I removed again - the folder you mention is not deleted

[code]

[2019-01-16 18:35] jochenvanwylick commented on #8252
UPDATE: manually deleting `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2` + re-installing fixes the issue. Thanks for the help !

[2019-01-16 18:39] gaziqbal commented on #5845
Apart from docs, the AZ CLI should also refer to the existence of this file when it fails. The current message is outdated.

`Operation failed with status: 'Bad Request'. Details: Service principal XYZ not found in Active Directory tenant XYZ, Please see https://aka.ms/acs-sp-help for more details.`

[2019-01-16 18:45] tjprescott commented on #8254
Thanks @mlda065. I'm going to transfer this issue to extensions repo and suggest that we add a flag to clear the cache.

[2019-01-16 18:46] andreacassioli opened #8262 "Misleading message when the specified resource group does not exist."
**Describe the bug**
Misleading message when the specified resource group does not exist.

**To Reproduce**
[code]
**Expected behavior**
I would expect the message to report that the resource group does not exist.

**Environment summary**
Installed using brew on mac OSX, version 2.0.54 .

[2019-01-16 19:01] tjprescott commented on #8252
@jochenvanwylick glad to see that worked for you! If this recurs, please reopen since it means there's something in our MSI pipe that needs addressing.

[2019-01-16 19:01] #8252 closed

[2019-01-16 20:33] gaziqbal opened #8264 "More details on --skip-assignment"
More details on what --skip-assignment means would be helpful. What is a "default assignment" and why would one want to skip it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e99d25ff-03e2-e015-37f4-a29b59ec50d4
* Version Independent ID: 1a8e88ed-72c7-fbe7-b0ad-68f23b3946cd
* Content: [az ad sp](https://docs.microsoft

[2019-01-16 20:46] #7225 closed

[2019-01-16 21:19] sptramer commented on #8099
@tjprescott Also encountered this issue - it's because the CLI only accepts ASCII certificates, and Key Vault exports PEM/PFX as binary.

[2019-01-16 21:37] twoo commented on #8070
same issue here

[2019-01-16 22:04] djyou opened #8265 "[ACR] Remove hard coded api-version when importing SDK"
**Is your feature request related to a problem? Please describe.**

Remove hard coded api-version when importing SDK such as https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/run.py#L12

This also includes cleaning up deprecated legacy commands using old api-versions such as https://github.com/Azure/azure-cli/blob/dev/src/command_modules/az

[2019-01-16 22:20] tjprescott commented on #8265
Should involve:
1. Add a resource type to `_shared.py` for 'latest' profile.
2. Specify that resource type in your module `__init__.py`
3. Update your model import to use `self.get_models('ModelA', 'ModelB')` etc.

Ping me with questions.

[2019-01-16 22:55] adewaleo opened #8266 "[linter] Linter help_rules.py should lint help objects and not help_entries."
[linter] Linter help_rules.py should lint help objects and not help_entries. We will soon [support](https://github.com/Azure/azure-cli/projects/8) help.yaml alongside help.py. Linter rules should be independent of help_entry type.

[2019-01-16 23:00] tjprescott opened #8267 "[AKS] Convert module to use multi-API idioms"
**Is your feature request related to a problem? Please describe.**

The latest container service SDK has switched to a multi-API format. The CLI needs to be updated to use multi-API idioms.

In `azure.cli.core.profiles._shared.py`:
Add an entry in the "latest" profile like this:
[code]

In __init__.py for your module:
[code]

Where ever you have direct import statements, move them into the command

[2019-01-16 23:04] tjprescott commented on #8267
cc/ @mboersma @zqingqing1 @julienstroheker

[2019-01-16 23:10] ankitkumarr commented on #7890
@ahmedelnably, This is fixed in https://github.com/Azure/azure-cli/pull/8081. Please close this issue :)

[2019-01-16 23:12] tjprescott commented on #8265
https://github.com/Azure/azure-cli/issues/8267 has a bit more explicit guidance if that's helpful.

[2019-01-16 23:53] zqingqing1 commented on #8262
I suspect your resource group does exist, Can you please run `az group show -g <resource group name>` to see if this is there?

[2019-01-17 01:12] adewaleo commented on #8072
Try either of the following:
[code]
The CLI parses "None" or "null" as a null type and not as a string. --force-string remedies this.

[2019-01-17 01:12] #8072 closed

[2019-01-17 03:13] asubmani opened #8271 "How to get list of all Metrics?"
`az monitor metrics list --resource {resourceID}` lists only the first metric in the list. It should output all metrics.  Often we do not know what namespace a metric is available; or what the namespace value should be in this command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c722777b-9914-5c57-b869-a92bb16e159e

[2019-01-17 03:33] skybear2014 opened #8272 "Command "az vm image list -f "Windows-10" --all" returns empty list"
Command "az vm image list -f "Windows-10" --all" used to give us list of windows 10 images. It started return empty list recently.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90dfc804-87d6-913a-27fe-a9446a04eb13
* Version Independent ID: bfcb97df-2055-9eca-7a93-60811136d8cd
* Content: [az vm image](https://docs.micr

[2019-01-17 04:13] Enoch-Ye opened #8273 "Any plan to support creating stored procedures, triggers, and user-defined functions for azure cosmos db"
Hi,

Is there any plan to support creating stored procedures, triggers and user-defined functions for azure cosmos db?

Can't find any related commands from here
https://docs.microsoft.com/es-es/cli/azure/cosmosdb?view=azure-cli-latest

https://github.com/Azure/azure-cli/blob/c2a242e9215ebafbbbd78994773cac80c1a0868a/src/command_modules/azure-cli-cosmosdb/azure/cli/command_modules/cosmosdb/custom.p

[2019-01-17 05:52] mud5150 commented on #7833
Someone should update the documentation. That key worked.

[2019-01-17 08:01] williexu commented on #8021
@Andrei15193 can you do this fix through a transformer? i.e. [example](https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/commands.py#L57).
This will transform the result from the sdk before it arrives at the knack `out()` method, and will not have any effects on the rest of the commands.

[2019-01-17 08:59] deepikaak commented on #7508
Hi,
Even I am facing this issue. We have multiple collections and one command to create them. so for some it is set to some value and for some it is On(default) but for the collections which needs to be set to off what value we need to pass? Do we have any update on this or is there any other way we can set it to off?

[2019-01-17 10:21] DibranMulder commented on #8136
I'm also experiencing this. Its causing me unnecessary costs.

[2019-01-17 14:31] asos-wesleykey commented on #8223
Seeing the same behaviour for alerts that have been created via the portal

[2019-01-17 15:11] tjprescott commented on #8271
I believe the command you are looking for is `az monitor metrics list-definitions`. That command shows you what metrics are available. You get the metric names and namespace names from there and use them here, which will then retrieve the actual metric data.

The help text should call this out.

[2019-01-17 16:04] way2arun opened #8275 "az consumption usage list is throwing error"
az consumption usage list --subscription &lt;subid&gt; -s &lt;start&lt; -end-date &lt;end date&gt;
NoneType' object has no attribute 'message'
Traceback (most recent call last):
  File "/usr/lib64/az/lib/python2.7/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocation.execute(args)
  File "/usr/lib64/az/lib/python2.7/site-packages/azure/cli/core/commands/__init__.py", li

[2019-01-17 16:53] tjprescott commented on #7833
@sptramer which documentation needs to be updated?

[2019-01-17 16:58] tjprescott commented on #8262
@zqingqing1 the title clearly calls out that the resource group doesn't exist.

[2019-01-17 17:06] sptramer commented on #7833
@mud5150 Please tell me which part of the apt install documentation needs to be updated.

@tjprescott Can you double-check the key signing on your side? I think that it's working now - the apt install instructions now use the keyserver (https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest)

[2019-01-17 17:20] tomasaschan opened #8277 "az ad: 'signed-in-user' is not in the 'az ad' command group"
This reference page seems to be outdated. Was this only available in the 1.x CLI?

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1bc6cf9b-3dcc-32d3-7aaf-c2dda02a7839
* Version Independent ID: af9f7e32-47f6-83fa-ad16-e7417af8114c
* Content: [az ad signed-in-user](https://docs.microsoft.com/en-us/cli/azure/ad/sig

[2019-01-17 17:26] tjprescott commented on #8277
Hi @tomasaschan I believe the command you're looking for in CLI 2.0 is `az account show`.

[2019-01-17 17:35] tjprescott commented on #7644
We'll reach out to the relevant team and provide an update this sprint.

[2019-01-17 18:09] tjprescott commented on #8070
The reason is because you are using Powershell and need to properly format your password string accordingly. From your screenshot, you can see that `$?` is being interpreted by the shell (that's why it appears green). Additionally, the `&` character is being interpreted by Powershell as the start of a new command.

Unfortunately, shell-specific processing occurs before the CLI is ever invoked, so

[2019-01-17 18:22] #8110 closed

[2019-01-17 18:37] #8271 closed

[2019-01-17 18:48] tjprescott opened #8278 "Suppress SQL VM extension"
The recently merged sqlvm module should add the correct metadata to suppress the existing extension. Otherwise the extension (which is older) will continue to override the newer module.

https://github.com/Azure/azure-cli/blob/dev/doc/authoring_command_modules/authoring_commands.md#extension-suppression

[2019-01-17 19:04] adewaleo commented on #8272
This is very strange. The command works for me.

[code]

I have a few questions:
1. What version of the CLI are you using? What is the output of `az --version`
2. Have you configured any defaults that could be affecting the behavior of the command. Run `az configure`

[2019-01-17 19:40] patricklee2 opened #8279 "[webapp ssh] remove informational text"
We should remove those informational text from the console output as they don’t serve any meaningful purpose.

[code]

[2019-01-17 19:40] patricklee2 commented on #8279
assign to @patricklee2

[2019-01-17 19:40] patricklee2 opened #8280 "[webapp ssh] passwordless login"
Password, ideally we shouldn’t challenge user for the well known password as it’s not meaningful and user is already authenticated through az-cli.

[2019-01-17 19:41] patricklee2 commented on #8280
assign to @patricklee2

[2019-01-17 19:43] patricklee2 opened #8281 "[webapp ssh] sometimes the connection refused"
I ran into connection refused issue several time when tried to connect but was able to connect after couple of tries. We should look into the issue, you may be able to get repro logs from https://petclinic.azurewebsites.net/
[code]

[2019-01-17 19:45] patricklee2 opened #8282 "[webapp ssh] fails after 20mins of idle"
, after idle for more than 20 minutes (maybe?), I got this:
……………………………………..
OSError: [Errno 9] Bad file descriptor
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/azure/cli/command_modules/appservice/tunnel.py", line 168, in _listen_to_client
    nbytes = client.recv_into(buf, 4096)
OSError: [Errno 9] Bad file descriptor
Traceback (most recent call last):
  File "/o

[2019-01-17 19:45] patricklee2 commented on #8282
assign to @patricklee2

[2019-01-17 19:45] patricklee2 commented on #8281
assign to @patricklee2

[2019-01-17 20:00] anlatsko commented on #8260
hi, @adewaleo Thanks for getting back to me.

I was running
`az vm list --resource-group anlatsko-rg --subscription 646cce9f-0a1c-4acb-be06-401056b03659`. The result is in the last screenshot (`[]`).

![freebsd_in_portal](https://user-images.githubusercontent.com/46537390/51345124-359e5280-1a68-11e9-9322-9decd668ed67.png)

![subscription_confirmed](https://user-images.githubusercontent.com/4653739

[2019-01-17 20:38] thuansoldier opened #8283 "Compute and Network services return resource IDs with different casing"
**Describe the bug**
When running `az network nic list --query "[?virtualMachine.id=='<ID>']"` the CLI processes case-sensitive.

**To Reproduce**
You'd need to look up Private IP Address by VM ID

[code]

**Expected behavior**
It should not handle case-sensitive.

**Environment summary**
Azure CLI version 2.0.43

[2019-01-17 20:45] andreacassioli commented on #8262
The group does not exists in the subscription I am working on (if I am not mistaken that is the resource group name scope as for https://docs.microsoft.com/en-us/azure/architecture/best-practices/naming-conventions).

Btw: even running `az group show -g resource-group-name` results in a similar error message about me having no privileges.

[2019-01-17 21:05] bgklein opened #8284 "Docker CLI Needs Update"
**Describe the bug**
https://github.com/Azure/azure-batch-cli-extensions/issues/94
After discussions with @lmazuel and @williexu it seems like this is an issue with the Docker container.

**To Reproduce**
docker run -it Microsoft/azure-cli
az extension add -n azure-batch-cli-extensions

**Expected behavior**
Install extension

**Environment summary**
Docker container

**Additional context**

[log.

[2019-01-17 21:12] tjprescott commented on #8284
@marstr for triage.

[2019-01-17 21:22] tjprescott commented on #8283
If I understand correctly, the issue you are experiencing is that the VM IDs that comes back from VM list and the VM IDs that are associated with the NICs have different casing. Is that right?

The global `--query` argument uses the JMESPath query language. The fact that it is case sensitive is a property of the query language and not under our specific control.

[2019-01-17 21:36] thuansoldier commented on #8283
@tjprescott

I tested by getting VM info using az vm list and NIC by az network nic list. The fact is that the resource ID gives case-sensitive differently

Below is from az vm list:
`id": "/subscriptions/XXXXXXXX/resourceGroups/**FOO-RG**/providers/Microsoft.Compute/virtualMachines/vm",`

and below is from az network nic list

[code]

Look at the resource group name. With this issue, when looking

[2019-01-17 21:55] thuansoldier commented on #8283
A workaround (perharp specific to my case to query private IP address) is to go with NIC resource ID and networkProfile property as follows:

[code]

[2019-01-17 21:56] yiliaomsft opened #8287 "Up command should honor SCM_DO_BUILD flag if it's explicitly set by developer"
If the app setting SCM_DO_BUILD is explicitly set by the developer, we will honor the value in az webapp up command.

[2019-01-17 21:58] tjprescott commented on #8283
Thanks @thuansoldier. I'll keep this issue open as the services should ideally be returning consistent casing for resource IDs.

[2019-01-17 22:08] adewaleo commented on #8260
@anlatsko there are no VMs in the screenshot, just resources previously associated with the VM. There is a virtualnetwork though. But the VM resource itself has been deleted.

If you run:

`az resource list --resource-group anlatsko -otable`

You should see the same resources listed in the CLI.

P.S.
You don't need to specify the subscription if it is the default subscription shown after running:

[2019-01-18 00:36] zqingqing1 commented on #8262
If so, then it shouldn't be AKS issue. Probably, the error means your SP doesn't have permission on some resource(Maybe your subscription)

You can try this: <client-id> is the one showed in the error msg.
`az sp ad show --id <client-id> `
And get Service Principal Id from "ServicePrincipalNames" block, Pick the one looks like GUID, and then from portal, finding where the subscription is, and clic

[2019-01-18 02:08] mud5150 commented on #7833
Ahh I see. It does look like the key in the doc is correct. I went in some circles because I am running into the  `gpg dirmngr IPC connect call failed` on WSL. At some point I ended up looking at another github issue that contained the old key and kept using that from my command history. My bad.

[2019-01-18 02:34] zqingqing1 commented on #8258
I don't think it is CLI issue, the 500 error means `internal server error`, so I suggest you to create Icm, and on-call will follow up there.

[2019-01-18 02:56] robbiezhang opened #8289 "[AKS] `az aks disable-addons` unable to disable virtual-node"
**Describe the bug**
A clear and concise description of what the bug is.
After AKS update/upgrade, the addon name becomes all lower case. Thus, the following comparison should be case-insensitive.
https://github.com/Azure/azure-cli/blob/08f60eab5d8f6ad6f515725880416ab3c4a25197/src/command_modules/azure-cli-acs/azure/cli/command_modules/acs/custom.py#L1785

**To Reproduce**
Steps to reproduce the b

[2019-01-18 03:46] nirkum18 opened #8290 "Application Gateway support for Get Server Variables APIs"
**Is your feature request related to a problem? Please describe.**
CLI needs to be updated according to the NRP and swagger changes. We have added 3 new APIs to fetch the supported server variables, request and response headers, for Header CRUD feature in Application Gateway. CLI needs to be updated to support these APIs.

**Describe the solution you'd like**
Need CLI to be written as per the [Swa

[2019-01-18 03:58] yugangw-msft commented on #8277
Agreed with @tjprescott, please do upgrade CLI

[2019-01-18 03:58] #8277 closed

[2019-01-18 04:01] skybear2014 commented on #8272
Thank you for the reply.
I tried again today. And It is good now. Please close this thread. Thank you.

[2019-01-18 07:17] andreacassioli commented on #8262
I am not sure I understand. Here is what I get

[code]

Anyway, if I run `az group show -g xxx` on a resource group that exists, I see all details. What has the SP to do with that? What about just a badly handled exception?

[2019-01-18 09:44] nyaapa opened #8292 "az lab vm create incorrectly parses inline artifacts"
**Describe the bug**
az lab vm create doesn't support inline artifacts

**To Reproduce**
    az lab vm create --artifacts '[{"a":"/artifactsources/publi"}]'
    Expecting property name enclosed in double quotes: line 1 column 3 (char 2)

**Expected behavior**
Artifacts parsing succeeded.

**Environment summary**
Win10, powershell

**Additional context**
Can't save to a file

[2019-01-18 09:59] fogelk commented on #8107
azure-cli (2.0.55)

acr (2.1.12)
acs (2.3.14)
advisor (2.0.0)
ams (0.3.2)
appservice (0.2.11)
backup (1.2.1)
batch (3.4.1)
batchai (0.4.6)
billing (0.2.0)
botservice (0.1.4)
cdn (0.2.0)
cloud (2.1.0)
cognitiveservices (0.2.4)
command-modules-nspkg (2.0.2)
configure (2.0.20)
consumption (0.4.2)
container (0.3.11)
core (2.0.55)
cosmosdb (0.2.7)
dla (0.2.3)
dls (0.1.7)
dms (0.1.1)
eventgrid (0.2.0)
e

[2019-01-18 12:32] sanderaernouts opened #8293 "az webapp traffic-routing set using slotname for distribution causes invalid traffic routing"
For https://docs.microsoft.com/en-us/cli/azure/webapp/traffic-routing?view=azure-cli-latest#az-webapp-traffic-routing-set the docs states that you can do `az webapp traffic-routing set --resource-group ***** --name **** --distribution staging=50 ...`. This will result in an invalid traffic routing 50% of the traffic to staging.azurewebsites.net.

[code]
What is very confusing though is that the Az

[2019-01-18 14:06] anlatsko commented on #8260
Hi @adewaleo

AH i'm so sorry to have wasted your time. I see that you are correct. I assumed that everything would have been deleted.

Thanks for your help.

[2019-01-18 14:48] daxter44 commented on #8259
I reserve this task for 24 h :)
Beginner here

[2019-01-18 15:33] automagicallyio opened #8296 "Can't create VM without a public IP address"
Sample code "az vm create -n MyVm -g MyResourceGroup --public-ip-address "" --image Win2012R2Datacenter" throws an error

az vm create: error: argument --public-ip-address: expected one argument

How do I create a VM without a public IP address?

Here is info on my az cli version

az --version
azure-cli (2.0.49)

acr (2.1.7)
acs (2.3.9)
advisor (0.6.0)
ams (0.2.4)
appservice (0.2.5)
backup (1.2.1)

[2019-01-18 15:46] automagicallyio commented on #8296
Upgrading to azure-cli (2.0.55) did not help. :(

[2019-01-18 16:08] bgklein commented on #8284
https://github.com/Azure/azure-cli/pull/8291

[2019-01-18 16:30] automagicallyio commented on #8296
PowerShell on Windows 10

[2019-01-18 16:31] automagicallyio commented on #8296
btw, i just commented on a similar issue (https://github.com/Azure/azure-cli/issues/3917) that you have closed. I don't understand why the same az cli command would work in Windows Command Line, but fail in Windows PowerShell.

[2019-01-18 16:36] tjprescott commented on #3917
The CLI was not designed for use in Powershell. It was designed for use in CMD.exe and bash. As a result, while it does work in Powershell, it means that some of the syntax is much more cumbersome in Powershell. Online docs are written for bash specifically.

[2019-01-18 16:39] tjprescott commented on #8296
They are all different shell enviroments and process things differently. The shell-specific processing occurs before the data ever reaches the CLI, so there is no way to have a single syntax that will work between bash, CMD.exe and Powershell. In this case, Powershell eats the empty string as if it weren't sent, resulting in the error you see.

The syntax that will work in your case (and any other

[2019-01-18 16:39] #8296 closed

[2019-01-18 16:43] #8259 closed

[2019-01-18 16:44] #8260 closed

[2019-01-18 16:45] tjprescott commented on #8260
@anlatsko if you create the VM in it's own resource group, you can delete the entire resource group when you are done with it, which *will* delete all the related resources.

[2019-01-18 16:48] tjprescott commented on #8258
Assuming this is a transient server issue, I'll close this. @rprinsen if you continue to experience this, please reopen.

[2019-01-18 16:48] #8258 closed

[2019-01-18 16:49] tjprescott commented on #7833
I believe then that this issue can be closed. Please reopen if you feel that's not the case.

[2019-01-18 16:49] #7833 closed

[2019-01-18 16:52] #8272 closed

[2019-01-18 16:53] jtuliani opened #8297 "az network nic ip-config address-pool add/remove should also work with App Gateway backend pools"
**Describe the bug**
az network nic ip-config address-pool add
and
az network nic ip-config address-pool remove

Can only be used to add/remove the ipconfig to/from an Azure Load Balancer backend pool.
They should also work for Application Gateway backend pools.

Also, there's nothing in the -h text to specify either way which type of backend pool these commands can or cannot be used with.

**To R

[2019-01-18 16:53] automagicallyio commented on #8296
--public-ip-address '""' worked. thanks.

[2019-01-18 16:53] automagicallyio commented on #3917
--public-ip-address '""' worked. thanks.

[2019-01-18 17:13] andreacassioli commented on #8262
@tjprescott I get full information if the resource group exists.

[2019-01-18 17:34] zqingqing1 commented on #8262
@andreacassioli, the right command should be `az ad sp`,  I mis-located the order. Can you try again?

[2019-01-18 17:34] tjprescott commented on #8223
I can reproduce this behavior. I will note that I can correctly create an alert *with* webhook properties in the CLI, but if I then update that object, the webhook properties are lost. I believe this is an issue with the REST API specs definition that the CLI depends on.

I have created an issue there.
https://github.com/Azure/azure-rest-api-specs/issues/5065

[2019-01-18 17:34] eparizzi opened #8298 "Can't deploy to $web (storage static website)"
I'm trying to deploy a simple static website to an storage account with static website enabled on the $web container following this: https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website?view=azure-dotnet

But when I execute `az storage blob upload-batch -s <SOURCE_PATH> -d \$web --account-name <ACCOUNT_NAME>` I get the following:
[code]
I've tried using `$web`, `web`, `

[2019-01-18 17:52] nyaapa commented on #8292
maybe it's a powershell specific: can put it into a variable and pass it;
but hitting types issues

`> $arg = '[{"a":"/artifactsources/publi"}]'`
`> az lab vm create --name qqq --formula qqq--admin-username qqq --artifacts "'$arg'" --lab-name qqq --resource-group qqq --admin-password qqq`

`Artifacts must be of type list. Given artifacts: '[{a:/artifactsources/publi}]'`

[2019-01-18 17:58] tjprescott commented on #8292
From the looks of it, Powershell is stripping out the double quotes.

[2019-01-18 18:08] nyaapa commented on #8292
Thanks!

`> $darg = $arg -replace '"', '""""'`
`> $darg`
`[{""""a"""":""""/artifactsources/publi""""}]`

`> az lab vm create ... --artifacts $darg`
`Missing 'artifactId' for artifact: '{'a': '/artifactsources/publi'}'`

[2019-01-18 18:08] #8292 closed

[2019-01-18 18:10] adewaleo commented on #8260
no worries @anlatsko, It's my pleasure to clear up any confusion.

[2019-01-18 18:50] #8021 closed

[2019-01-18 19:20] saurabsa commented on #8122
@wterbeek Were you able to check if the issue still persists?

[2019-01-18 19:33] tjprescott commented on #8223
At the same time, I would suggest opening a support ticket in the Azure portal as that will more quickly draw the attention of the service team to this issue.

[2019-01-18 19:46] eparizzi commented on #8298
Well, I was running in it Powershell and it wasn't working. Had to use CMD.

[2019-01-18 19:46] #8298 closed

[2019-01-18 21:52] tjprescott commented on #8266
@adewaleo I'm moving this to the backlog for now. It isn't urgent to do this conversion this sprint and I don't want to port the conversion to azdev when we could just *do* the conversion in azdev once it is released :)

[2019-01-18 22:35] saurabsa commented on #8122
@wterbeek Were you able to check if the issue still persists?

[2019-01-18 22:36] adewaleo commented on #8266
Nice! Makes sense. I can definitely work on this after we release azdev. :)

[2019-01-18 23:13] wterbeek commented on #8122
Hi saurabh,

Actually we had some more problems with the cluster so we deleted it and
recreated it. After that we noticed that a contracter had created different
network security groups that conflicted with the cluster. I am confident
that we will get the dev spaces soon.

Thank you for your time and patience, if we need more support i will get
back to you

Op vr 18 jan. 2019 20:20 schreef Saurabh

[2019-01-18 23:59] saurabsa commented on #8122
@wterbeek thank you for the confirmation

[2019-01-18 23:59] saurabsa commented on #8122
@Lobosque Were you able to check if the issue still persists?

[2019-01-19 00:29] zemien opened #8303 "Purging CDN endpoint returns Bad Request"
**Describe the bug**
I get a Bad Request when trying to purge my Premium Verizon CDN endpoint with the following command:
`az cdn endpoint purge --profile-name cdn-profile-site5tzanrjnrx7xo --content-paths '/*' --name site5tzanrjnrx7xo --resource-group coderfrontline-site`

[code]

 through an Azure CLI release task on Azure DevOps Release pipeline.

**To Reproduce**
1. Create Premium Verizon CDN

[2019-01-19 08:07] Andrei15193 commented on #8032
@williexu I did some digging and I think I have found the source of the bug. It's at [_serialization.py:157](https://github.com/Azure/azure-multiapi-storage-python/blob/master/azure/multiapi/cosmosdb/v2017_04_17/table/_serialization.py#L157) in the multiapi project for CosmosDB.

It looks like there is some kind of `@odata.type` handling but not fully (there's no check if the `@odata.type` was alr

[2019-01-19 09:32] Andrei15193 commented on #8033
@williexu I looked into this one as well, there are a few specific conversions for the properties whose types cannot be inferred. The conversions are specified here [_deserialization.py:86](https://github.com/Azure/azure-cosmos-table-python/blob/master/azure-cosmosdb-table/azure/cosmosdb/table/_deserialization.py#L86) and are used here: [_deserialization.py:193](https://github.com/Azure/azure-cosm

[2019-01-19 18:30] rcarmo opened #8305 "--build-arg causes failed builds in Azure Container Registry"
I have been trying to use `--build-arg` to inject Git hashes and build dates like I do in local builds, but whenever I try to use it it inevitably gives me an error in the build agent:

[code]

Since the option is documented, I assume it works. So far I have tried:

[code]
...and...

[code]

but only this works:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-01-19 21:34] yugangw-msft commented on #8019
@nocheinlarry, sorry for the late response, please provide output with error details. Are you on bash or other shell? Also, copying & pasting instructions from the help document works for me. JFYI I am under the similar system:
[code]

[2019-01-20 10:16] yaegashi commented on #8236
@tjprescott Hi, thanks for seeing this.

Adding URI support in `--parameters` is great. I'm looking forward to seeing it.

Aside from that,  do you think there's nothing beneficial in having `--parameters-uri` for the completeness?  Actually I'm not sure about it.

Any difference which possibly occurs in deployment consequences between `parameters` and `parametersLink` used in [DeploymentPropertie

[2019-01-20 20:42] andreacassioli commented on #8262
@tjprescott here it is:

[code]

[2019-01-21 00:43] A144546 commented on #7575
I had the same issue, but you can specify the full path to the vnet or subnet. For example of the subnet:
`--subnet /subscriptions/{SubID}/resourceGroups/{ResourceGroup}/providers/Microsoft.Network/virtualNetworks/{VNETName}/subnets/{SubnetName}`

[2019-01-21 07:52] AliYusuf95 commented on #6811
I have the same problem in my cluster

[code]

I have found that there was two `kubernetes-dashboard` pods in the cluster one of them is **Not** related to `kubernetes-dashboard` deployment, So I simply delete this pod and `az aks browse` back to work again.

[2019-01-21 13:21] jemag commented on #6949
I think the confusion stems from the fact that inside the Azure Portal, the "Workspace Id" is given as a simple GUID. However, the az cli needs the "workspace-resource-id" which is more of a URL (like the one provided by mrdfuse).

I do not know if you can actually get it from the portal, I personally found it using the azure cli:
az resource list

[2019-01-21 13:34] JohanLander opened #8307 "Azure stack AZ problem"
**Describe the bug**
When i have configured AZ to go to Azure stack it will not work to change Subscription to public azure cloud

**To Reproduce**
1. configure your Az to go to a Azure stack with one account user@onmicrosoft.com
2. Try to start a new AZ session and try to go to your Azure cloud subscription then you get this error message:

Authentication Error: "['access_denied']". Description:

[2019-01-21 13:43] jochenvanwylick opened #8308 "az monitor log-profiles create gives 'Expect fully qualified resource Id"
I'm automating configuring Azure Monitor to send the logs to EventHub. Here's how I get the EventHub id:

[code]

Followed by:

[code]

I get the following error message:
[code]
The id provided seems to be formatted as required. Even better - if copy the value for `sbRule` and paste that in the command like so:

[code]
It works !

[2019-01-21 13:44] jochenvanwylick commented on #8308
OK - I found a workaround:

[code]

[2019-01-21 14:19] craigpla opened #8309 "Wondering about webapp vs web app"
I see it both ways in this list -- I realize the command will have webapp with no space, but when talking about a web app, does it get a space or no? The first few command explanations have it without a space. Looks like the rest have it with one.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2983e943-cce1-effd-57d0-c

[2019-01-21 15:06] The-First-Tiger opened #8310 "az app permission list --id <app id> does not work when app registration was created with azure cli."
**Describe the bug**
`az app permission list --id <app id>` does not work when app registration was created with azure cli.
Adding API Permissions manually in the portal and granting access makes `az app permission` working again.

**To Reproduce**
az ad app create --display-name test --homepage https://test --reply-urls https://test/auth --identifier-uris https://test
`az app permission list --id

[2019-01-21 15:23] benc-uk commented on #7988
Nearly two months an not even a comment?

[2019-01-21 19:40] jackpanetta commented on #4041
Please add this feature. It's required that I be able to completely manage my azure resources via the cli!

[2019-01-22 03:38] panchagnula commented on #4041
@ankitkumarr & @ahmelsayed  to comment on this feature request.

[2019-01-22 07:49] RSuter commented on #4041
After hours i figured out how to do this in an Azure PowerShell task for now and quickly wrote a blog post for those with the same problem: https://blog.rsuter.com/azure-devops-how-to-update-the-azure-function-default-host-key-in-a-powershell-task/

[2019-01-22 11:31] dgard1981 opened #8312 "Getting 'UnicodeEncodeError' on CentOS and Python 2.7"
**Describe the bug**
Using any `az acr` command produces a 'UnicodeEncodeError'. Other 'az' commands work without issue.

**To Reproduce**
Either of the following examples produces the exact same error
`az acr list`
`az acr login --name $ACRNAME`

**Expected behavior**
The expected behavior for the given examples is to [list all ACR's in the current subscription](https://docs.microsoft.com/en-us/c

[2019-01-22 12:24] SenthuranSivananthan opened #8313 "az security auto-provisioning-setting update doesn't work"
**Describe the bug**
Unable to set auto-provisioning setting to "on" or "off" using CLI.

**To Reproduce**
`az security auto-provisioning-setting update -n default --auto-provision on` or
`az security auto-provisioning-setting update -n default --auto-provision off`

The error is
[code]

**Expected behavior**
The setting is changed and that I can view the update via
`az security auto-provisioning-

[2019-01-22 13:53] juanjojulian opened #8314 "[Storage] completer for storage account group should take into account subscription parameter."
**Describe the bug**
"az storage account keys list" not working as expected. "--resource-group RESOURCE_GROUP_NAME" is suppose to be optional (and it use to be optional) but now its mandatory.

Help output still shows it as optional:
[code]
**To Reproduce**
Try to list keys without providing the resource-group

az storage account keys list --subscription MySubs --account-name  myaccountname

This

[2019-01-22 17:17] tjprescott commented on #8308
From the error message, it looks like however you were passing the ID to the command was preserving the quotes.  So it was seeing `"this"` as the ID value instead of `this`.

When you query the ID, you need to pass it with `-o tsv`, which should strip those double quotes.

[2019-01-22 17:17] #8308 closed

[2019-01-22 17:18] riezebosch commented on #3902
I suppose the `$()` notation is specific to bash and won't work on cmd for example?

[2019-01-22 17:19] tjprescott commented on #8309
@panchagnula for the call here. Whichever way it goes, the documentation should be consistent.

[2019-01-22 17:33] tjprescott commented on #7988
@samkreter for comment.

[2019-01-22 17:36] jochenvanwylick commented on #8308
@tjprescott Thanks for the tip - I'll use that going forward.

[2019-01-22 17:41] tjprescott commented on #6949
@mrdfuse @jemag thanks for the clarification.

@mboersma we've added some guidance for parameters that end with `-id` recently. https://github.com/Azure/azure-cli/blob/dev/doc/command_guidelines.md#argument-naming-conventions

Based on that, `-id` would imply a GUID is acceptable. When something is an ARM resource ID, we omit the `-id` in the name and call out in the help text.  The main reason is

[2019-01-22 17:41] riezebosch commented on #3902
Unfortunately, you don't have that luxury when using the [Azure CLI task](https://github.com/Microsoft/azure-pipelines-tasks/tree/master/Tasks/AzureCLIV1) in Azure Pipelines. It's very hard to write a cross-shell compatible script there, a problem that I partially solved with [this extension](https://marketplace.visualstudio.com/items?itemName=riezebosch.setvar).

[2019-01-22 17:45] tjprescott commented on #7575
@A144546 is correct. If the resource in question is in a different resource group, you *must* specify the fully-qualified resource ID. That pattern is applied throughout the CLI. If you are using names, the resource groups must be the same.

[2019-01-22 17:45] #7575 closed

[2019-01-22 17:48] tjprescott commented on #8262
@andreacassioli thank you very much for that. @zqingqing1 this is a CLI issue, not AKS. @yugangw-msft is there a way we can improve this error message when the user is logged in as a service principal?

[2019-01-22 17:50] tjprescott commented on #8236
`--parameters` is already overloaded in the CLI to accept key-value pairs or a file, so a URI is just an extension of the file concept.  @yugangw-msft has made PR #8306 which will add this functionality, so it should make it in the next release :)

[2019-01-22 18:00] samkreter commented on #7988
Just made the fix. Should be merged soon.

[2019-01-22 18:49] williexu commented on #8314
Tried through brew install on Mac with no problems.

@juanjojulian resource group does not need to be specified. The error message is from the service, indicating that a storage account with that name does not exist. Can you do a `az storage account show -n <name> --subscription <sub>` to make sure that it exists?

[2019-01-22 19:24] williexu commented on #5561
Users can use the following to clear their ip network rules: `az storage account update -n wilxstorage --set networkRuleSet.ipRules=[]`. The same is true for virtual network rules.

Closing this as there are easy alternatives.

[2019-01-22 19:24] #5561 closed

[2019-01-22 19:42] juanjojulian commented on #8314
Thanks @williexu The storage account exists, there are no doubts, I triple checked it. I also did a test very similar to the one you are proposing:

[code]

But still, issuing the following command fails:
[code]

***Please re-open the issue as it is not solved.***

Full version information

[code]

[2019-01-22 19:55] williexu commented on #8314
@juanjojulian can I see the output and debug of `az storage account keys list --subscription UN-HUBS -n myaccountname --debug`? There may be a lot of text, so feel free to link to a file.

[2019-01-22 20:23] yaegashi commented on #8236
What I mean is whether or not there's any case you must use `parametersLink` which is not supported by Azure CLI because `parameters` is not functional for some reason.  If you could assure there's no such concern in underlying Azure REST API, that would be fine.

[2019-01-22 20:33] #8284 closed

[2019-01-22 20:40] mxplusb opened #8315 "Unable to install extension using azure-cli 2.0.55."
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)

azure-firewall

### Description of issue (in as much detail as possible)

Cannot install the azure-firewall extension with azure-cli 2.0.55.

[code]

[2019-01-22 21:06] yugangw-msft commented on #8236
I talked to people working on azure resource manager, and confirmed there are no situations that you have to use the link option, which is mainly for convenience. With that, I will continue with the `--parameters` option, which also brings in the benefit of keeping the command simple

[2019-01-22 21:58] devigned commented on #8303
Thank you for the great bug report! I'll give this issue a look tomorrow.

[2019-01-22 22:55] #7985 closed

[2019-01-22 22:56] panchagnula commented on #7282
added a --timeout attribute to the command that can be used to change the default timeout if the package being deployed will take greater than 10mins to deploy

[2019-01-22 22:56] #7282 closed

[2019-01-22 22:57] panchagnula commented on #8309
Documentation should use web app , will update on our end. Thanks for reporting this.

[2019-01-22 23:22] panchagnula commented on #8293
the name should be the {web app name}-{slot name} , i think a good solution would be to update the command to have a -name & -slot & required properties let me talk to some folks on the  team & update this issue

[2019-01-23 02:35] yareyes commented on #8278
Pull request https://github.com/Azure/azure-cli/pull/8318

[2019-01-23 03:00] #8236 closed

[2019-01-23 03:31] yaegashi commented on #8236
@yugangw-msft I appreciate the confirmation given.  And thanks for the great work on this issue!

[2019-01-23 07:19] gauravsaralMs commented on #8315
This issue seems to be coming from latest pip version released
![image](https://user-images.githubusercontent.com/43203065/51589464-180c3580-1f0d-11e9-8e13-eaa8adcbada7.png)

I created 2 scripts in one place we upgrade pip to latest and in other we are not doing that
the script where I have upgraded pip, there extension add fails
the script where I have *not* upgraded pip, their extension add pass

[2019-01-23 07:23] gauravsaralMs opened #8319 "az extension add failing if latest (19.0) pip is present in the machine"
**Describe the bug**
`az extension add ` fails when latest pip is present in the machine
i.e. it fails after `python -m pip install --upgrade pip` is ran on any machine

**To Reproduce**
assuming azure-cli is present on the machine
run
1. python -m pip install --upgrade pip
2. az extension add --name azure-cli-iot-ext --debug

**Expected behavior**
Extension should be installed

**Environment summ

[2019-01-23 07:38] gauravsaralMs commented on #8319
Script output when running without pip upgrade
https://gsaralranchi.visualstudio.com/AzureCLIBug8319/_build/results?buildId=214
Script failure when running with pip upgrade
https://gsaralranchi.visualstudio.com/AzureCLIBug8319/_build/results?buildId=213

[2019-01-23 07:43] juanjojulian commented on #8314
Well, the output of the debug for this command is not that long:

[code]

Please, take into account that we don't have one but many subscriptions. The default one the az cli is using when we don't use the --subscription modifier is different than the one containing the storage account we are looking for.

[code]

[code]

[2019-01-23 10:49] r0bnet opened #8320 "az storage blob service-properties update irgnores --subscription parameter"
**Describe the bug**
When trying to enable static website for a storage account it fails and says that there is no storage account with that name. I'm passing the subscription id via the `--subscription` parameter but it seems as if it is ignored (found [here](https://docs.microsoft.com/en-us/cli/azure/storage/blob/service-properties/delete-policy?view=azure-cli-latest#az-storage-blob-service-prop

[2019-01-23 16:39] tjprescott commented on #8319
@marstr @williexu. I see pip already released 19.0.1. Does that fix the problem?

[2019-01-23 16:46] mxplusb opened #8321 "cannot deserialize properties in `az network lb update`"
**Describe the bug**

Internal serialization issue while trying to set custom properties.

[code]

**To Reproduce**

Set up a Standard SKU load balancer with a Public IP. Then attempt to migrate the Frontend IP Configuration to a Private IP configuration.

[code]

**Expected behavior**

The properties should've updated.

**Environment summary**

I was able to independently replicate this in the Az

[2019-01-23 17:00] mxplusb commented on #8321
User error.

The property I really needed was `frontendIpConfigurations[0].subnet.id` as `frontendIpConfigurations[0].subnet` is a struct with it's own properties.

[2019-01-23 18:05] rcoccia opened #8323 "az iot hub routing-endpoint create for storage account missing configuration parameters"
At this moment in the creation of a storage account endpoint it is impossible to set parameter like
batchfrequency
chunksizewindow
fileformat

the workaround is create the endpoint with defaul and after leverage the portal for specific configuration

this parameters should be added as optional

[2019-01-23 18:37] gauravsaralMs commented on #8319
Looks like fixed with pip 19.0.1
https://gsaralranchi.visualstudio.com/AzureCLIBug8319/_build/results?buildId=222

[2019-01-23 19:00] yugangw-msft commented on #8019
Please re-activate with more information. Thanks for reporting this issue!

[2019-01-23 19:00] #8019 closed

[2019-01-23 20:47] craigpla commented on #8309
Not a problem. You're quite welcome.

[2019-01-23 22:37] adewaleo commented on #8235
@terrymandin, I hear you. But location isn't required, as it defaults to the resource group if specified. I imagine your issue is that you are trying to create the image in a different location (resource group's) from the VM's location.

If the source vm is in the same location as the resource group, one doesn't need to specify the location and everything works fine:

[code]

[2019-01-23 22:37] adewaleo commented on #8235
However if the VM is created in a diff location, say eastus...:
[code]
(ext-venv) [02:32 PM] Work-Mac:azure-cli-wktree tosin$ az image create -g ova-test -n test-image-2 --source test-vm-2
Source Virtual Machine 'test-vm-2' specified in the request does not exist in this Azure location.
(ext-venv) [02:32 PM] Work-Mac:azure-cli-wktree tosin$
[code]

[2019-01-23 22:41] adewaleo commented on #8235
However if the VM is created in a diff location, say eastus...:
[code]
Here the VM is created in east us, let us attempt to create an image in the resource group (located in westus). The image's location will default to the RG's location

[code]

It fails.

Closing this issue. Please let me know if anything else comes up @terrymandin

[2019-01-23 22:41] #8235 closed

[2019-01-23 23:03] adewaleo commented on #8150
Should be fixed after our release...

[2019-01-23 23:37] #8136 closed

[2019-01-23 23:37] #7988 closed

[2019-01-24 00:18] pilor commented on #8057
Fix is checked in with #8168.  Should show up in the next release.

[2019-01-24 02:31] patricklee2 commented on #8282
easier repro:
stop the webapp and wait for a timeout

[2019-01-24 06:15] johanburati opened #8328 "parameter to refer to the disk for 'az vm disk attach/detach'"
**Is your feature request related to a problem? Please describe.**

The command to attach and detach a disk use different names for the disk parameter:
[code]
**Describe the solution you'd like**

That would be better to use the same name **--disk** for both commands:
[code]
If you use **--disk** for the disk parmater, you could just use **--name** to refer to the vm name,
I think this last format

[2019-01-24 07:36] The-First-Tiger commented on #8310
Just checked some additional szenario:

1.

[code]

=> No permissions configured -> 404

2. Configure permissions through azure portal, e.g. manually configuring Directory.ReadWrite.All Application permission.

[code]

=> Still 404

3. Grant admin consent through azure portal

[code]

=> successfully returns list of permissions

4. Add additional permission through azure portal, e.g. Application.R

[2019-01-24 08:02] verthais opened #8329 "Unable to upload files to blob from az interactive"
**Describe the bug**
A clear and concise description of what the bug is.
[code]

**To Reproduce**
Long in to az from terminal
run az interactive
try to upload something to blob storage

**Expected behavior**
upload my file to storage

**Environment summary**
Ubuntu 16.04 standard instalation following the official guide.
[code]

**Additional context**
----

[2019-01-24 09:54] roymoran commented on #5437
Initially created storage account type as `StorageV2 (general purpose v2)` but re-creating it as `Storage (general purpose v1)` resolved the issue.

Saw the same issue when executing
`az storage blob download --account-name workflowparameters --account-key xxx --container-name parameters --name LogicApp.paramters.json --file LogicApp.paramaters.json --output table`

Running azure cli on
Distributo

[2019-01-24 14:22] SenthuranSivananthan commented on #8057
Thanks @pilor.  I'll close this case as soon as the next release is out.

[2019-01-24 14:56] jimsander commented on #2386
Had the same `uudecode failed` (running from macos fwiw)
Workaround: stored the pubkey in a variable and referenced instead
[code]

[2019-01-24 16:39] tjprescott commented on #5437
@williexu can you take a look?

[2019-01-24 16:54] kotnav01 commented on #4206
I have same issues, I can able to login but getting error:

You have logged in. Now let us find all the subscriptions to which you have access...
No subscriptions were found for 'None'. If this is expected, use '--allow-no-subscriptions' to have tenant level accesses

In the above comments mentioned Need to change over to public cloud instead of  government cloud.

So here government cloud means P

[2019-01-24 17:09] tjprescott commented on #8150
For this, it's okay to close immediately. I realize I'm being somewhat inconsistent here, but this is a specific example, whereas the extensions thing was all extension docs. So... it's a little different. Normal process is to close when fixed. :)

[2019-01-24 17:09] #8150 closed

[2019-01-24 17:53] chubin commented on #7857
Yes, it is extremely slow. In my case it is even slower than the old `azure` client,
because I've optimized it and it was possible to upload files with 50% speed boost.
That means almost 10 times faster than with the new client (`at storage blob`).

The new tools are *extremely* slow.

[2019-01-24 18:09] #8319 closed

[2019-01-24 19:03] ankitkumarr commented on #8169
I think the core CLI logic detects if all the required args are present, and spits that error. I haven't been able to reproduce it, even with a similar set of arguments. I can tell in the image, the error is the `uswest2`, but I see the appropriate message when I try it.

[2019-01-24 19:23] The-First-Tiger commented on #5492
Any plans to support notification hub yet?

[2019-01-24 19:33] tjprescott commented on #8278
Fixed in #8318.

[2019-01-24 19:33] #8278 closed

[2019-01-24 19:43] chetanku commented on #8289
any updates on this, I am trying to disable http_routing add on my aks cluster

`az aks disable-addons --addons http_application_routing --name mycluster --resource-group myrgpname  --no-wait `

and I get following error message

any ideas?

[2019-01-24 20:11] MacJot opened #8333 "After SSL binding by CLI all TAGs of WebApp are erased"
Hi,
I use `az webapp config ssl bind` in my automated Power Shell script.
So, I faced that after adding a banding to the WeebApp all TAGs from this WebApp were erased. I had to set the TAGs again.
When binding is set from the Azure portal, everything is OK.
Can anyone could reproduce this issue?
MacJot

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2019-01-24 21:38] GuyPaddock opened #8334 "Ability to configure Redis Firewall IP Rules"
**Is your feature request related to a problem? Please describe.**
I'm frustrated that there does not seem to be any way to configure the IP whitelist for a Redis cache, despite the fact that the CLI provides a way to _create_ Redis caches.

This is especially important when working with Redis clients that don't support the non-standard SSL/TLS extension on a Redis connection (e.g. PHP's Redis ext

[2019-01-24 22:04] adewaleo commented on #7674
So it turns out these issues are Service issues.

See [here](https://github.com/Azure/azure-rest-api-specs/issues/3819), [here](https://github.com/Azure/azure-sdk-for-net/issues/2819) and [here](https://github.com/Azure/azure-sdk-for-net/issues/2757)

A work around is to use query expressions:
[code]

The query is a [JMESPATH](http://jmespath.org/) expression that filters out all the resulting res

[2019-01-24 22:40] yugangw-msft commented on #4206
Government cloud is so called sovereign clouds. Private cloud means Azure Stack.
The message of 'No subscriptions were found' means the account went through the authentication doesn't have accesses to any subscriptions.

[2019-01-25 00:44] devigned commented on #8303
I was unable to reproduce the issue with the latest version of Azure CLI.

Would you be able to run the command with `--debug`, so we can get more information about what is happening in the http request / response?

[2019-01-25 00:52] tjprescott commented on #8315
@mxplusb please update your pip installation. This was a problem with pip 19.0

[2019-01-25 00:52] #8315 closed

[2019-01-25 02:14] #8195 closed

[2019-01-25 03:35] mxplusb commented on #8315
@tjprescott I installed it with `brew install -v azure-cli`, that's not an option.

[2019-01-25 03:38] gauravsaralMs commented on #8315
Try this command
`python -m pip install --upgrade pip`

This will upgrade pip and you should be unblocked post that

[2019-01-25 14:08] Bevute opened #8342 "az command to configure MFA for users"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-01-25 14:08] Bevute commented on #8342
We want to configure MFA features over Azure CLI. How is this possible.

[2019-01-25 16:39] chubin commented on #7857
I've tried to use `azopy` as the guys recommended me here:

https://www.reddit.com/r/AZURE/comments/ajeppa/extremely_slow_azure_blob_upload/

and it is much better indeed. It took 6 minutes to upload a 120GB file,
comparing to circa 420 minutes by the azure tools (`az`).
So use `azcopy`, it is 70 times faster for big files.

I also noticed that `az` permorms extremely slowly when uploading the end

[2019-01-25 16:51] arowleslawson commented on #7857
@chubin Ill have to try azcopy! Thanks for the advice

[2019-01-25 16:53] tjprescott commented on #7857
@williexu does the storage-preview extension help address any of this?

[2019-01-25 18:22] yugangw-msft commented on #5966
we have rewritten the whole telemetry uploader, and i believe both issues have been taken care of

[2019-01-25 18:22] #5966 closed

[2019-01-25 18:31] williexu commented on #7857
The `storage-preview` extension will be integrating with azcopy soon :), it is currently under development.

[2019-01-25 18:41] williexu opened #8344 "[Core] The CLI is missing a way to transform the TSV output from the default JSON."
**Is your feature request related to a problem? Please describe.**
We currently have `table_transformer` to adjust the output of CLI commands to smooth the default json -> table output conversion. This allows us to output something readable in table format from what may be a complex nested object.

tsv is similar to table output, however, the same mechanism does not exist. There is also the consis

[2019-01-25 19:36] williexu commented on #8314
@juanjojulian our completer for the resource group unfortunately currently uses your current subscription (not the provided parameter) to query for the storage account's resource group.

As a workaround, you can:
- specify the resource group
- do `az account set -n MySubscription` before running the command

I'll change the issue to reflect that.

[2019-01-25 19:38] panchagnula commented on #6801
this command has been released see https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-ssh

[2019-01-25 19:38] #6801 closed

[2019-01-25 19:39] panchagnula commented on #8333
This a known issue tracked by ##6929
`az webapp config ssl bind` clears Web App tags

[2019-01-25 19:39] #8333 closed

[2019-01-25 19:59] #8197 closed

[2019-01-25 20:05] alonisser commented on #5590
I reproduced this with azure-cli (2.0.54) - trying to incorporate validate in a sane CI pipeline
But hit the problem with the return error code
For example I created a wrong type on parameters file and run:
[code]

[2019-01-25 20:55] panchagnula commented on #5369
@Nking92  can you take a look at this please?

[2019-01-26 00:16] panchagnula commented on #8293
@sanderaernouts, i re-looked at this & i am confused about what the expectation is, for Traffic-Routing the overall distribution should be 100%, so in the example above, when staging is set to 50%, the other resource, which is the production app should be 50%.

Also, when running the command, to set traffic routing use -n parameter which should be name of the app.

[2019-01-26 00:16] Nking92 commented on #5369
@panchagnula This requires us to do update the Azure Storage SDK used in the backend. It's certainly doable but it was originally put on hold because there are major API changes in the new version. We should probably do this soon though, before problems from using an old version escalate.

[2019-01-26 00:21] colemickens opened #8347 "az vm create --no-extra-stuff"
I sure wish that I could upgrade the CLI, have my same VM create commands and not see things like NetworkWatcherRG be created in my subscription...

[2019-01-26 00:26] colemickens opened #8348 "json path query results shouldn't have trailing \r"
[code]

results in:

[code]

Hard to imagine how this is helpful for anyone. It'd be nice if I didn't have to run these types of commands through `tr` just to use them in scripts.

[2019-01-26 00:27] #8347 closed, assigned to nobody

[2019-01-26 00:31] colemickens commented on #8347
Thanks a bunch for the lightning fast responses @tjprescott, sorry I missed that. Cheers!

[2019-01-26 00:35] ffloimair commented on #7754
Yes, it is specific to CLI only. It works in the portal.
I did verify the correct subscription. It works for all Webapps in it, it does not work for the slots.

[2019-01-26 00:36] ffloimair commented on #7754
I haven't checked with a recent version though, as there was no progress in this issue. I will check again tomorrow and let you know.

[2019-01-26 00:51] tjprescott commented on #8347
No worries. The behavior surprised me too 👍

[2019-01-26 00:57] tjprescott commented on #8348
That's pretty much the pattern. `-o tsv --query id`. I don't see that behavior when I query a resource ID, but you mention it is specific to a path. @adewaleo since this involves the `az image` command, can you take a look?

[2019-01-26 01:52] adewaleo commented on #8348
I just tried this out and the command succeeded at the CLI level, (failed to deploy , likely because the test image I used wasn't generalized).

[code]

What error does the CLI raise, if any? I imagine it shouldn't matter ebcause the shell removes whitespace from the command before passing it along to the CLI.

P.S.

I can verify that -o tsv does add a newline in its output (which makes sense as w

[2019-01-26 21:10] zemien commented on #8303
Ahh I ran it again with debug mode and this is the error that was returned
[code]

Doesn't explain why running it in Cloud Shell works with the exact same relative path /*

[2019-01-26 21:15] zemien commented on #8303
Oh wait now that I read the error message properly, it must be the quotation marks that is causing some issues. I updated the content path to be /* instead of '/*' and then it worked!

The exact same command with '/*' works in Cloud Shell. So... how do I wrap paths that have spaces? ' or "?

[2019-01-26 21:32] devigned commented on #8303
I’m wondering if the build agent is Windows based and running in cmd.

[2019-01-26 22:17] zemien commented on #8303
I am using the Hosted VS2017 agent so is probably Windows, in which case I
would need to use “/*” instead?
On Sun, 27 Jan 2019 at 10:32 AM, David Justice <notifications@github.com>
wrote:

[2019-01-27 19:10] olegburov commented on #5774
I had the same issue on macOS `10.14.3`. Fixed it this way:

1. Ran the command `brew doctor`, which showed me this.

[code]

2. I did the commands `sudo mkdir -p /usr/local/sbin` and `sudo chown -R $(whoami) /usr/local/sbin`, then `brew cleanup`, as brew suggested above.

3. Ran again the `brew doctor`, This time it showed me no issues.

[code]

4. The last step was this command `brew reinstall p

[2019-01-28 07:08] royzeng-ericsson commented on #2851
Two methods:
1. az vm list-ip-addresses
2. az vm show

e.g.
$ az vm list-ip-addresses -g crazy-rabbits-rg -n crazy-rabbits-vm-k8s-07 -o table
VirtualMachine           PrivateIPAddresses
-----------------------  --------------------
crazy-rabbits-vm-k8s-07  10.0.3.10

$ az vm show -g  crazy-rabbits-rg -n crazy-rabbits-vm-k8s-07 --query privateIps -d --out tsv
10.0.3.10

[2019-01-28 07:11] colemickens commented on #8348
I made a minimal repro: https://github.com/colemickens/azure-cli-8348-repro

There are two commits, the first commit has `log.txt` showing the `\r` attached to the image name, and *something* throwing back a 400 (I'm not sure what the CLI does, if it resolves the image reference locally and constructs that URL improperly... or if it's maybe CRP erroring on an invalid image ID (due to the trailing

[2019-01-28 09:47] ixxie commented on #8312
Running into this as well in a similar environment (CentOS 7 and Python 2.7)

[2019-01-28 12:13] sanderaernouts commented on #8293
@panchagnula I ran this command `az webapp traffic-routing set --resource-group ***** --name **** --distribution staging=50 ...` (I omitted the actual names of the resource group and webapp here but those were provided as well). And I got this as a result:
[code]

As you can see 50% of the traffic is now directed to `staging.azurewebsites.com` instead off ` {web app name}-staging`. I have to provi

[2019-01-28 14:14] mmbatha opened #8353 "azure-cli mktemp: Invalid argument"
---

### Environment summary

Install Method (interactive script) / CLI version (`az --version` N/A) / Shell Type (bash)

[code]
Installation via `curl -L https://aka.ms/InstallAzureCli | bash` gives the error in the title. Solution: `mktemp -t azure_cli_install_tmp_XXXX` should be `mktemp -t azure_cli_install_tmp_XXXXXX`

[2019-01-28 16:14] mariojacobo commented on #6905
@GuyPaddock - reopened the issue. I closed it because we don't use Azure Redis anymore.

[2019-01-28 16:18] tjprescott commented on #8303
Yes. CMD interprets single quotes as just characters. `"/*"` should work.

[2019-01-28 16:19] tjprescott commented on #6905
Closing this in favor of #8334.

[2019-01-28 16:19] #6905 closed

[2019-01-28 16:35] tjprescott commented on #8312
@djyou for comment

[2019-01-28 16:45] JamesDawson commented on #4911
I came across this today, however, the workaround is not viable as I am trying to assign a role to a group which doesn't have an `app_id`.

In this scenario the `description`, `displayName` and `mailNickname` are all the same and using this value with the `--assignee` switch returns a 400 bad request.

Using the `--assignee-id` parameter with the `objectId` behaves as expected, but is somewhat inc

[2019-01-28 17:14] tjprescott opened #8354 "Update help examples to use `supported_profiles` instead of `min/max_profile`"
The current mechanism of declaring that examples apply to specific profiles uses a min/max mechanism. However, since profiles are inherently unorderable, this logic is fundamentally flawed and should be changed now while it's relatively easy.

Instead of `min/max_profile`, help examples should support the `supported_profiles` kwarg. If supplied, the example will only be displayed if the current pr

[2019-01-28 17:14] tjprescott commented on #8354
cc/ @yugangw-msft @adewaleo

[2019-01-28 17:27] tjprescott opened #8355 "API Profiles should declare resources they support"
Currently, modules that should not appear in the stack profile use a syntax like this:

[code]

The issue is that profiles are inherently unordered, so specifying `min_profile` here is a logic bug. We need to replace this mechanism.

One option is to ensure that all services supported by a profile are registered in the `ResourceType` enum and declared in the profile definition.

Another option wou

[2019-01-28 17:42] tjprescott commented on #4388
This command module has been added via #7917. Please try it out!

[2019-01-28 17:42] #4388 closed

[2019-01-28 18:39] panchagnula commented on #7754
@ffloimair if you are still able to repro this with the latest CLI on the specific slot can you please run the command with --debug parameter at the end & copy paste the results here?

[2019-01-28 18:41] tjprescott opened #8357 "Move ExpressRoute gateways from extension to CLI."
Work items:
- [x] Transfer logic for express-route gateways and enhancements to express-route create/update into CLI module.
- [x] Add support for `--allow-classic-operations`.
- [x] Add the `--legacy-mode` flag to `express-route peering create/update`

cc/ @MikhailTryakhov

[2019-01-28 18:41] feiyushi opened #8358 "az resource delete --ids ignores subscription portion of resource id"
**Describe the bug**
When use `az resource delete `with only `--ids` parameter, the command ignores the subscription portion of the resource id and thus the resource is not deleted.

**To Reproduce**
1. `az login`
2. `az account set -s sub-id-1`
3. `az resource delete --ids /subscriptions/sub-id-2/resourceGroups/rg-1/providers/Microsoft.Compute/images/image_1 --debug`
4. In the api call to delete

[2019-01-28 18:52] tjprescott opened #8359 "[Network] Support vnet-gateway default site and VPN client IPSec policy"
- [ ] Add support for `--gateway-default-site` to `vnet-gateway create/update`
- [ ] Add support for IPSec policies to` vnet-gateway vpn-client` command group.

cc/ @MikhailTryakhov

[2019-01-28 18:55] tjprescott opened #8360 "[Network] Add missing field to `vpn-connection create/update`"
Add support for:
- [x] expressRouteGatewayBypass (2018-07-01)

cc/ @MikhailTryakhov

[2019-01-28 18:58] tjprescott opened #8361 "[Network] Add support for `enableFIPS` to app gateway create/update"
Add support. API version 2018-04-01.

/cc @MikhailTryakhov

[2019-01-28 19:00] tjprescott opened #8362 "[Network] Add new PublicIP prefix features"
- [ ] --zones
- [ ] --public-ip-address-version
- [ ] --ip-tags

cc/ @MikhailTryakhov

[2019-01-28 19:04] adewaleo opened #8363 "Update verification of doc_source_map.json"
When the CLI supports help.yaml we should ensured that doc_source_map.json points to the help.yaml file if it is present for a module instead of the help.py file.

[2019-01-28 19:33] #8309 closed

[2019-01-28 20:38] colemickens commented on #8348
Interesting! Maybe this is because of my use of Docker and not related to CLI behavior? https://github.com/moby/moby/issues/8513 But then again, you showed that you could see the `\r` in your CLI output via hex editor too... Hm. Anyway, thanks for looking into this!

[2019-01-28 20:41] patricklee2 opened #8364 "[webapp] upgrade paramiko"
when paramiko fixes https://github.com/paramiko/paramiko/issues/1369
we want to upgrade cryptography to latest

see https://github.com/Azure/azure-cli/pull/8324

using webapp ssh with ctyptography==2.5.0 will result in CryptographyDeprecationWarning
this is due to paramiko using deprecated  functions

[code]

[2019-01-28 20:41] patricklee2 commented on #8364
assign to @patricklee2  and @yugangw-msft

[2019-01-28 20:45] colemickens commented on #8348
Yeah, if I drop `-t` from the Docker invocation, it looks like it resolves all of this. It looks like it was indeed due to my use of Docker + circumstances described in this issue: https://github.com/moby/moby/issues/8513

Sorry for the distraction @adewaleo and thanks again for looking at this.

[2019-01-28 20:45] #8348 closed, assigned to adewaleo

[2019-01-28 21:09] adewaleo commented on #8348
I am happy you were able to resolve the issue @colemickens, also just to clarify, I was seeing `\n` (newline) in my output not `\r` (linefeed) as I was running the CLI on a mac.

[2019-01-28 21:25] tjprescott commented on #8361
The value of "enableFips" is not returned by the GET call for the application gateway. Thus, I cannot know if the value I am sending works or not. I can't find the value in the portal either. Please advise.

[2019-01-28 21:45] akramwaseem opened #8365 "How do I add "key-vault-contributor" role to a resource group using azure Cli, I don't see it documented"
Hi,
How can I add IAM based roles to a resource group using azure key-vault, I don't see a documentation on this.
please suggest or point to the right document if possible ?

Below link shows only the roles.
https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#key-vault-contributor

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-01-28 22:46] djyou commented on #8312
@tjprescott We invoke the SDK method directly for `az acr list` https://github.com/Azure/azure-cli/blob/ed7513985deb6f66205ed33a34320917eecda1ff/src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/custom.py#L44

The error seems to be thrown from https://github.com/Azure/azure-cli/blob/ed7513985deb6f66205ed33a34320917eecda1ff/src/command_modules/azure-cli-acr/azure/cli/command_modules/a

[2019-01-29 00:51] tjprescott commented on #5155
[code]

This syntax is both concise and powerful for asserting specific errors.

[2019-01-29 01:01] tjprescott opened #8368 ""Live Only" test failures should be identified and flagged with high priority"
**Is your feature request related to a problem? Please describe.**
We have a number of tests that are marked `@live_only` or `LiveScenarioTest` because they cannot be replayed as a recording. In these cases, the nightly live run is the only way to detect a CLI regression. Unfortunately, due to the noisiness of the live test system, regressions are not identified and corrected immediately.

**Descr

[2019-01-29 01:46] #5155 closed

[2019-01-29 01:52] amitsriva opened #8369 "Application Gateway CLI for WAF custom rules"
Swagger for the feature of WAF custom rules is out. Could we start the CLI for custom rules process?

[2019-01-29 02:54] #8282 closed

[2019-01-29 02:54] yugangw-msft commented on #8281
https://github.com/Azure/azure-cli/pull/8324 fixes it

[2019-01-29 02:54] #8281 closed

[2019-01-29 02:54] yugangw-msft commented on #8280
https://github.com/Azure/azure-cli/pull/8324 fixes it

[2019-01-29 02:54] #8280 closed

[2019-01-29 02:55] yugangw-msft commented on #8279
https://github.com/Azure/azure-cli/pull/8324 fixes it

[2019-01-29 02:55] #8279 closed

[2019-01-29 02:58] #5228 closed

[2019-01-29 02:58] #5734 closed

[2019-01-29 09:23] ixxie commented on #8312
I considered upgrading to Python 3, but it seems the installation process is quite involved in CentOS. Providing Python 3 packages might help with this, and I guess would also be handy for the migrations as Python 2 becomes increasingly deprecated in various distros.

[2019-01-29 09:37] markheath commented on #5543
@kuvinodms  It can be really hard to escape the properties JSON correctly. So I tend to save it to a JSON file and then pass it to the Azure CLI with the  `--properties @props.json` syntax

Here's an example using PowerShell and the Azure CLI:
[code]

see my article [here](https://markheath.net/post/deploying-azure-functions-with-azure-cli)

[2019-01-29 10:05] ffloimair commented on #7754
I just retested with the most recent Azure CLI version and this works now.
Issue may be closed.
Thanks for fixing.

[2019-01-29 14:33] panchagnula commented on #7754
@ffloimair thanks for the update

[2019-01-29 14:33] #7754 closed

[2019-01-29 15:40] nelsonlaquet commented on #7856
It's a powershell issue. I'm not familiar enough with Powershell to know why, but the command works when you use bash or a normal cmd prompt.

[2019-01-29 15:50] tjprescott commented on #7856
The first thing I'll note is you are not using the CLI's @ syntax correctly.

incorrect:  @{"my/path"}
correct: @"my/path"

[2019-01-29 16:05] Andrei15193 commented on #8033
@williexu ping

[2019-01-29 16:08] gavinhow opened #8371 "Keyvault secret backup fails unexpected keyword argument"
**Describe the bug**
Keyvault secret backup command fails with error unexpected keyword argument
`backup_secret() got an unexpected keyword argument 'secret_version'`

**To Reproduce**
az keyvault secret backup --id {SecretId} --subscription {Subscription} --file-path test

**Expected behavior**
I assume it would download a backup of the secret to the file path I have specified.

**Environment sum

[2019-01-29 16:27] tjprescott opened #8372 "Live Test system should help reduce "noise" and improve triage"
We store all of our live test results in a database. We should analyze that database to help identify certain patterns of test failures.

Recommend adding two columns to test results, "Category" and "Likely Cause":

**Category**

- Tests that sometimes fail and sometimes don't over a period of time should be labeled as "flaky". These would be the lowest priority fixes involving adding some kind of

[2019-01-29 16:28] tjprescott commented on #8371
Please supply the output of `az --version`.

[2019-01-29 16:38] tjprescott opened #8373 "Live Test results should be sliced to only message the relevant owners"
Currently, the Live Test system sends the list of all failures to everyone on its distribution list. This noise to the team results in live test results being less relevant. If any given day you can expect 60-70 failures, are you going to diligently search for the one failure that's new that wasn't there before?  There's another issue opened to improve live test failure triage, but it would be hel

[2019-01-29 17:05] gavinhow commented on #8371
azure-cli (2.0.55)

acr (2.1.12)
acs (2.3.14)
advisor (2.0.0)
ams (0.3.2)
appservice (0.2.11)
backup (1.2.1)
batch (3.4.1)
batchai (0.4.6)
billing (0.2.0)
botservice (0.1.4)
cdn (0.2.0)
cloud (2.1.0)
cognitiveservices (0.2.4)
command-modules-nspkg (2.0.2)
configure (2.0.20)
consumption (0.4.2)
container (0.3.11)
core (2.0.55)
cosmosdb (0.2.7)
dla (0.2.3)
dls (0.1.7)
dms (0.1.1)
eventgrid (0.2.0)
e

[2019-01-29 17:59] adewaleo opened #8374 "[vmss] Add "run-command" command"
Add "run-command" command for VMSS instances.

[2019-01-29 18:17] tjprescott commented on #7852
Thank you for the report @StanProkhorov-MSFT. The incorrect example was fixed by @adewaleo's recent PR.

[2019-01-29 18:18] #7852 closed

[2019-01-29 18:38] williexu commented on #8033
I am hesitant to suggest updating `int`, `float` and `datetime` to return EntityProperties, as this will be a breaking change for users. There may also have been discussions in the past about the current behavior.

@Andrei15193 this should be an issue raised to https://github.com/Azure/azure-cosmos-table-python. The sdk owners will be better able to answer this.

[2019-01-29 18:39] adewaleo commented on #8162
@WiseMack have you been able to try out this script?

[2019-01-29 18:59] schaabs commented on #8371
@gavinhow I have a fix for this issue in the PR https://github.com/Azure/azure-cli/pull/8375.  As a temporary work around until the fix is published you should be able to backup a secret using the parameters --vault-name and --name rather than the --id parameter.

[2019-01-29 19:04] hattan opened #8376 "Timeout on az publish for node bot"
**Describe the bug**
I was following the documentation on this page: https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-samples?view=azure-bot-service-4.0&tabs=js#deploy-javascript-and-c-bots-using-az-cli

Using the msbot build tool (which uses az under the hood), I was able to create a resource group but was getting timeouts at either the "az bot create" step or "az bot publish

[2019-01-29 19:11] pascalnaber opened #8377 "Not possible to create alert for Select *"
**Describe the bug**
Using the az cli it's not possible to create an alert that has configured Select *.

Select *: Checking “Select *” will dynamically select all current and future dimension values for the dimension.

**To Reproduce**
To select a couple of instances, this works: (note the condition)
az monitor metrics alert create -n test1234 -g myrg--scopes $WEBAPP_RESOURCEID --condition "total

[2019-01-29 19:45] tjprescott commented on #8377
What is the output of `az --version`?

[2019-01-29 20:16] tjprescott commented on #8377
Thanks @pascalnaber. Can you share with me the exact `--condition` syntax that doesn't work for you. Also, which shell are you using?

[2019-01-29 20:18] pascalnaber commented on #8377
--condition "total Http4xx > 10 where Instance includes *"

I'm running this in WSL ubuntu. Does this give you enough information?

[2019-01-29 20:37] rukiaEnix commented on #5471
running az billing invoice list gives following error:
`ERROR: DisallowedProvider - The operation is not permitted for namespace 'Microsoft.Billing'. List of permitted provider namespaces is '84codes.CloudAMQP,AppDynamics.APM,Aspera.Transfers,Auth0.Cloud,Citrix.Cloud,Citrix.Services,Conexlink.MyCloudIT,Crypteron.DataSecurity,Dynatrace.DynatraceSaaS,Dynatrace.Ruxit,Hive.Streaming,Incapsula.Waf,Live

[2019-01-29 20:38] rukiaEnix opened #8378 "az billing invoice list doesn't work"
running az billing invoice list gives following error:
`ERROR: DisallowedProvider - The operation is not permitted for namespace 'Microsoft.Billing'. List of permitted provider namespaces is '84codes.CloudAMQP,AppDynamics.APM,Aspera.Transfers,Auth0.Cloud,Citrix.Cloud,Citrix.Services,Conexlink.MyCloudIT,Crypteron.DataSecurity,Dynatrace.DynatraceSaaS,Dynatrace.Ruxit,Hive.Streaming,Incapsula.Waf,Live

[2019-01-29 22:18] drr3w commented on #7910
i was able to get this working by removing the `list()` call from `return list(cluster_list)` in custom.py on line 106. per the stack trace.

[2019-01-29 22:32] tjprescott commented on #8312
@djyou I will take a look, though @dgard1981 reports it is only affecting the ACR commands.

[2019-01-29 22:59] tjprescott commented on #8312
Running on with CentOS 7.6.1810 (Red Hat 4.8.5-36) and Python 2.7.5, I do not encounter any issue with the ACR commands.

Virtual environments only apply if you are doing a pip install, not yum installation.  Do you have existing registries in your subscription (ie. can you see them from portal)?

[2019-01-29 23:10] tjprescott commented on #8312
@marstr do you have any ideas on what might be causing this?  Both users are on CentOS and Python 2.7. My only thought is that maybe some metadata in an existing registry has Unicode characters, but I'm not able to repro.

[2019-01-29 23:52] #8371 closed

[2019-01-30 00:14] grampelberg opened #8383 "az aks create + virtual-node doesn't work"
**Describe the bug**
When using `virtual-node` as part of `az aks create --enable-addons` , the following failure message occurs:

[code]

When using `az aks enable-addons`, it works as expected.

**To Reproduce**

Run `az aks create --enable-addons virtual-node`.

[2019-01-30 01:55] adewaleo commented on #4802
@yugangw-msft, by json metadata, do you also mean comments?

[2019-01-30 03:50] yugangw-msft commented on #5549
This will come from ARM service end

[2019-01-30 04:49] djyou commented on #8312
In the other issue `acr` has a `format` that's causing the problem and the workaround was to not format the string. There wasn't a workaround to print the string with Python 2 in some OSs. We ended up asking users to upgrade to Python 3 as well.

This specific case, as mentioned in https://github.com/Azure/azure-cli/issues/8312#issuecomment-458332856, the static `logger` is causing the problem so

[2019-01-30 06:53] bhushangholave commented on #7216
HI @bat9r,

Your solution supposed to do a manual steps for ACS paas service.
When we are provisioning multiple clusters using automation we cannot use this solution to login master every time.
Thanks,
Bhushan

[2019-01-30 08:57] willemodendaal opened #8385 "Would be nice if the documents listed sample Json responses."
It would be nice if the documents listed sample Json responses, so that devs can write scripts without having to create new dbs just to see what the outputs are.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abc8d652-2eda-296f-28ea-8d5f1ea855b3
* Version Independent ID: 80b87995-d339-61e9-1cac-b5c9ad6efe5e
* Content:

[2019-01-30 09:16] dgard1981 commented on #8312
@tjprescott Yes I do already have a Container Registry, created via the Portal.

Additionally, I know I said this was only affecting `acr` commands originally, but I'm starting to find it with other commands now too - `az functionapp list`, `az aks list`, `az storage account list` are three such examples. Note that I obviously haven't tried every single command.

I can't speak for `functionapp` an

[2019-01-30 15:25] tjprescott commented on #8312
Thanks for the update @dgard1981. I will remove the ACR label since this is affecting other commands.

[2019-01-30 15:33] Jameskmonger opened #8388 "Unable to create function app against existing consumption plan"
**Describe the bug**
It is not possible to create a function app against a specified consumption app service plan. The following error occurs:

I think that setting `--consumption-plan-location` disables `AlwaysOn`, but `--plan` doesn't.

**To Reproduce**
1. Create a consumption plan (see "Additional context" section)
2. Try to create a function app against the plan created in step 1:
    `az func

[2019-01-30 16:14] JohanLander commented on #8307
i have used this guide
https://docs.microsoft.com/sv-se/azure/azure-stack/user/azure-stack-version-profiles-azurecli2
and i got this message in then end of this guide

[2019-01-30 16:37] nickwalkmsft commented on #7107
@yugangw-msft is it by design that the token file is stored elsewhere, or by design that external tools that try to use it fail? Because despite the presence of AZURE_ACCESS_TOKEN_FILE I've never seen a file actually present in `/tmp/accessTokens.json` in the Cloud Shell environment, and tools that use the env var to locate the token file like they're supposed to still fail because it's not there.

[2019-01-30 17:45] yugangw-msft commented on #7107
Below are by-design in cloud shell
1. If you have run `az login`, the token file will be at `AZURE_ACCESS_TOKEN_FILE `
2. If you have never run `az login`, there won't have any accessTokens.json, because CLI will get the token by make a GET call to `http://localhost:50342/oauth2/token`. If you have code running inside the cloud shell you should get the token in the same way

[2019-01-30 18:50] yugangw-msft commented on #8307
@JohanLander, could you run `az cloud set -n AzureCloud` and then `az account set ...` to get to your azure subscription?

[2019-01-30 18:54] yugangw-msft commented on #7420
This has been fixed since December 2018

[2019-01-30 18:54] #7420 closed

[2019-01-30 18:56] yugangw-msft commented on #7258
Fixed, you should see a better error now:
[code]

[2019-01-30 18:56] #7258 closed

[2019-01-30 18:59] yugangw-msft commented on #7058
The uncaught exception has been fixed.

[2019-01-30 18:59] #7058 closed

[2019-01-30 19:31] #4802 closed

[2019-01-30 21:33] electrosonics opened #8389 "Missing ErrorAction option, cannot try-catch errors"
I am building a PowerShell script and would like to trap errors like invalid login. It appears that the AZ CLI is lacking support for -ErrorAction Stop

So if there is a problem logging, I get a messy message and no way to try-catch the error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeedb9a7-2aed-6727-4cfb-15158

[2019-01-30 21:35] adewaleo commented on #8355
We would need to update code that relies on the min/max API paradigm such as:
-  The [api_version_constraint decorator](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli-testsdk/azure/cli/testsdk/decorators.py#L9) used in our test sdk for skipping inapplicable tests.
-  The supported_api_version [function](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli-core/azure/cli/core/profil

[2019-01-30 21:49] tjprescott commented on #4802
I believe the issues is that an ARM template that worked in CLI 1.0 that had comments will not work in CLI 2.0.

[2019-01-30 21:53] tjprescott commented on #8389
CLI commands are not designed for Powershell and thus will not support Powershell-specific features. For that kind of functionality, consider using the Azure Powershell cmdlets. https://github.com/Azure/azure-powershell

[2019-01-30 21:53] #8389 closed

[2019-01-30 22:49] marstr commented on #8353
Howdy @mmbatha,

What environment are you running this in? I can't reproduce it on my Mac (10.14.2) or my Linux machine (Fedora 29). Here is the result of running `mktemp -t azure_cli_install_tmp_XXXX` on each of my machines:
- Mac: `/var/folders/9b/qp8qcdrd74q69ppzl1tzjl700000gn/T/azure_cli_install_tmp_XXXX.lDWTnSyO`
- Linux: `/tmp/azure_cli_install_tmp_S4RJ`

Admittedly, there's a little uglines

[2019-01-30 23:05] electrosonics commented on #8389
I am using Azure PowerShell AZ v1.2.0 and the AZ does not accept the --ErrorAction Stop option.

I was able to get the try-catch to work by setting the global variable $ErrorActionPreference = "Stop"

David

From: Travis Prescott [mailto:notifications@github.com]
Sent: Wednesday, January 30, 2019 16:54
To: Azure/azure-cli
Cc: David Barker; Author
Subject: Re: [Azure/azure-cli] Missing ErrorAction

[2019-01-30 23:09] tjprescott commented on #8389
Ah, sorry @electrosonics I misunderstood. GitHub opened your issue here because you made your comment from the Azure CLI's reference docs (as opposed to Azure Powershell). I'd recommend you copy your issue to their repo so they can address it: https://github.com/Azure/azure-powershell

[2019-01-30 23:10] marstr commented on #8353
Additionally, I was just able to successfully install the Azure CLI on an Ubuntu container by running the following:
[code]

[2019-01-30 23:33] marstr commented on #6745
Seems like this is a documentation issue, more than a product issue. I'll transfer the issue for you now.

[2019-01-30 23:38] #6745 closed

[2019-01-30 23:40] Jyotsna-Anand opened #8392 "Unable to run the CLI encryption command to update encryption settings for Virtual Machine Scale Sets."
**Describe the bug**
Unable to run the az-cli command to encrypt Virtual Machine Scale Sets after the first time. The command errors out making it impossible to update encryption settings or disable encryption on a VMSS using az-cli.

**To Reproduce**
1. Encrypt a VMSS using the command:  az vmss encryption enable --resource-group "MySecureRG" --name "MySecureVmss" --disk-encryption-keyvault "MySe

[2019-01-30 23:50] marstr commented on #8353
Seeing as I can't repro this, I'm going to close it for now. Please feel free to get back to me, and if it's still a problem for you I'll open it back up.

[2019-01-30 23:54] yugangw-msft commented on #8392
@adewaleo, this should be a simple fix to ensure we don't blindly add a new extension

[2019-01-31 06:51] chrmarti opened #8395 "Intellisense showing invalid argument for az group name: --rg-name"
_From @aws-scripting-guy on January 30, 2019 23:19_

Using latest Azure CLI tools for VS Code 0.4.2

Steps to reproduce the issue:

1. Typing in .azcli file
az group create
 Intellisense suggesting --rg-name as required argument for group name.  There is also missing help (stuck in Loading)

2. Right-click and Run line in the terminal
az group create --rg-name myGroup2 \\
 --location westeurope --

[2019-01-31 06:51] chrmarti commented on #8395
Can reproduce with Azure CLI 2.0.56. Related: https://github.com/Azure/azure-cli/issues/8179

[2019-01-31 07:20] jgallucci32 opened #8396 ""Expected at least one argument" error when value begins with "-""
**Describe the bug**
When creating a TXT record using `az network dns` the command fails if the value of the TXT record begins with a "-"

The following error is shown

**To Reproduce**
Create a TXT record with a value which starts with a "-"
[code]

**Expected behavior**
A TXT record set is created with a value which starts with a "-"

**Environment summary**
azure-cli (2.0.56)

acr (2.1.13)
acs

[2019-01-31 07:42] tamirkamara opened #8397 "Various commands disregard --subscription parameter"
**Describe the bug**
Various az storage command disregard the subscription supplied by the --subscription parameter and execute against the default subscription.

Example commands:
az storage container create
az storage container list
This one too probably #8320

**To Reproduce**
1. Use cli version 53 or higher
2. Create a storage account on a non-default subscription:
`az storage account create -

[2019-01-31 11:58] markmclaren commented on #7686
Does this relate to? https://github.com/Azure/azure-cli/issues/7914

I managed to work around this by adding socat installation and exposing a port in my Dockerfile:

[code]

When I run docker I specify:
[code]
Then I forward 8888 traffic to 9090 (apologies if this isn't quite right terminology, I'm not a networks expert) and then run "az aks browse".
[code]
I can then access the Dashboard on my h

[2019-01-31 12:50] jstodola opened #8398 "az image: allow to add tags to existing image"
**Is your feature request related to a problem? Please describe.**
It's not possible to add a tag to an existing image using azure-cli. The "image update" command doesn't exist in azure-cli-2.0.56-1.el7

**Describe the solution you'd like**
az image update --name $IMAGE_NAME --resource-group $RESOURCE_GROUP --set "tags.$MY_TAG=$VALUE"

**Additional context**
"az image create" allows to add tags wh

[2019-01-31 13:04] nandhak21 opened #8399 "No module named azure.cli - macOS homebrew"
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

Tried both pip and brew methods.
Able to access azure-cli programmatically but the command version seems to be having some issue.
I am assuming python2.7 builtin mac is causing some issue but no

[2019-01-31 16:20] marstr commented on #8399
Howdy @nandhak21,

While I don't run into quite the same error, I'm essentially able to repro this. Except, on my machine (macOS 10.14.2) it is missing `azure.mgmt.kusto`. I'm investigating now.

[2019-01-31 16:45] marstr commented on #8353
Thanks for getting back to me, @mmbatha. This seems like a great thing to submit as an Open Source contribution. Mind submitting a PR?

[2019-01-31 17:22] tjprescott commented on #8395
We do not maintain the VSCode extension. I would recommend reopening the issue you originally posted in the vscode-azurecli repo.

[2019-01-31 17:22] #8395 closed

[2019-01-31 17:42] tjprescott commented on #8398
Great point, @jstodola!

In the meantime, you could try the following commands:
`az resource tag` This seems more relevant to your current needs
`az resource update` If you need more powerful updating capability

[2019-01-31 17:52] tjprescott commented on #8396
This is a bug in the argparse library (https://bugs.python.org/issue9334) and affects *any* value in the CLI, not just this command or argument.  The workaround is to use the alternative syntax:
`--value="-TEST"`

I've updated the title to reflect the generic nature of this issue.

[2019-01-31 17:52] #8396 closed

[2019-01-31 18:07] adewaleo commented on #4802
P.S
If you try a template deployment on the Portal and add comments you get this error from portal:
"Error parsing template. Please ensure template is valid JSON and has no comments."

This was from attempting to add a comment to one of the quickstart templates.

[2019-01-31 18:33] marstr commented on #8399
I've confirmed with @tjprescott that this is the result of missing dependencies in the `install_requirements` portion of our `setup.py`. This bug will impact anyone install from `pip`, which includes `brew` users. However, it shows itself somewhat differently with `pip` direct users just not getting certain commands. I'm working on publishing a hot-fix now, which will be version `2.0.57`.

[2019-01-31 18:39] carlosvsilva opened #8401 "az network nic show --query 'id' shouldn't return a line encased in double-quotes"
Hi.

When I run the command:
az network nic show --resource-group "$resourceGroup" -n "$nicName" --query 'id' to find out the ID of an existing NIC I get a resulting line encapsulated in double quotes, thus breaking Shell scripts like so:

$ az network nic show --resource-group "$resourceGroup" -n "$nicName" --query 'id'
"/subscriptions/xxxxxxxxxxxxxxxxxxxx/resourceGroups/yyyyyyyyy/providers/Micro

[2019-01-31 18:56] williexu commented on #8397
After some investigation, it looks like all validators are not taking into account the subscription being passed as a parameter

[2019-01-31 18:56] tjprescott commented on #8397
Looking into this issue with @williexu, this problem isn't constrained to storage commands. I'll take a look in the next sprint.

[2019-01-31 18:57] tjprescott commented on #8401
For scripting purposes you should be using `-o tsv`, which will remove the quotes.

[2019-01-31 18:57] #8401 closed

[2019-01-31 19:00] marstr commented on #8399
For people blocked by this issue, you should still be able to install `2.0.55`.
For `brew` users, there is a useful Stack Overflow post here: https://stackoverflow.com/questions/3987683/homebrew-install-specific-version-of-formula
Similarly pip users can use `pip install -I azure-cli==2.0.55`

[2019-01-31 19:15] carlosvsilva opened #8402 "az vm create should have a parameter to set osprofile.computerName (hostname)"
**Is your feature request related to a problem? Please describe.**
Yes. I can create a VM from one of my images easily for everything including networking but for some reason there isn't a parameter to set osprofile.computerName (ie the hostname) of the new VM.
I need this almost everyday and I have to resort to a group deployment with templates and many files just to set up a simple VM

**Describ

[2019-01-31 20:25] mmbatha commented on #8353
Okay, I will

[2019-01-31 23:12] tjprescott opened #8406 "Get rid of _cmd references in core and improve --subscription testing"
This has contributed to a few regressions and likely represents some serious technical debt. At the same time, we need to beef up the testing of this behavior.

[2019-01-31 23:51] #8314 closed

[2019-01-31 23:51] #8320 closed

[2019-01-31 23:51] #8397 closed

[2019-02-01 02:26] panchagnula opened #8407 "webapp & functionapp: Add support for adding IP Restrictions to webapp or functionapp"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-02-01 07:06] chrmarti commented on #8395
@tjprescott I've moved this issue from the VS Code extension's repository because it seems to be caused by a similar discrepancy as #8179.

[2019-02-01 09:53] jstodola commented on #8398
Thanks for the hint, @tjprescott , it works for my needs.

[2019-02-01 14:14] SteveParson opened #8409 "--select does not behave as described"
The documentation indicates that the *--select* parameter receives a *space-separated list of properties to return*. The parameter does work in the case of a single property, however it does not work as described with multiple properties.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae6c5dc4-a466-9a0d-6276-988

[2019-02-01 15:03] tjprescott commented on #8409
Output of `az --version`?

[2019-02-01 15:04] tjprescott commented on #8409
Actually, the issue is that you aren't providing a space-separated list. You are providing a string with spaces in it. Get rid of the quotes and it should work fine. If not, please reopen with the output of `az --version`.

[2019-02-01 15:04] #8409 closed

[2019-02-01 15:08] tjprescott commented on #8395
@chrmarti our online docs and `az interactive` are all displaying correctly in 2.0.56.

[2019-02-01 15:12] tjprescott commented on #8182
@yugangw-msft I would recommend that be a CI script that runs on each check-in, the same way that the documentation map script is. Alternatiely, if we use a script to pin the versions for each module in `azure-cli`'s `setup.py` file as part of #8165, these would all be collected (though it wouldn't hurt to verify).

[2019-02-01 16:03] SteveParson commented on #8409
Thanks, this solved it! Perhaps an example in the documentation would be helpful to users that would expect it to handle a string literal.
[code]

[2019-02-01 18:03] shurd commented on #4419
The `az cosmosdb list-connection-strings` command now returns connection strings for all API types. It returns primary, primary read-only, secondary and secondary read-only

[2019-02-01 18:05] shurd commented on #4131
This command returns connection strings now for all API types

[2019-02-01 18:31] AgSync-Aaron opened #8411 "Incorrect instructions in error message"
**Describe the bug**
The command line parameters [here](https://github.com/Azure/azure-cli/blob/cfb9d22243897aa4b0bccf664a2828b9cda18870/src/command_modules/azure-cli-network/azure/cli/command_modules/network/_validators.py#L639) are incorrect. I receive the error message
[code]
When it should be `--public-ip-address` based on `az network lb create --help`
[code]

**To Reproduce**
Run `az network

[2019-02-01 18:32] williexu commented on #8245
@abdullah353 I was able to repro this.
@zezha-msft can you help? Is there a way in the sdk to bypass this?
To summarize, having the content settings: `"contentEncoding": "gzip"` and `ContentType: application/tar+gzip` blocks `get_blob_to_path` from properly downloading a blob.

[2019-02-01 18:53] tjprescott commented on #7986
@marstr I believe this is done. Can we close this?

[2019-02-01 20:27] katlimruiz opened #8415 "Where is the YAML definition?"
There is no where to find the YAML definition so we know which are all the fields available

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e5d1da7-7c4f-c9e6-e4b9-a30407675acf
* Version Independent ID: ba32e12d-8283-f980-e1d0-1ca2a75a5152
* Content: [az container](https://docs.microsoft.com/en-us/cli/azure/container?vi

[2019-02-01 20:59] marstr commented on #7976
RHEL 8 is still only in beta, and for that reason I'm going to mark this as low-priority. However, it is something we're going to have to address for each of the distros that we support as they deal with python2 being deprecated.

[2019-02-01 22:31] shuchow commented on #5034
FYI, I was still having this issue with Homebrew 1.9.3 (2/2/2019 commit) and azure-cli version 2.0.57.  Had to use "brew link --overwrite python3" to solve the issue.

[2019-02-01 22:39] tjprescott commented on #8411
Hi @AgSync-Aaron thanks for the report! We will get this fixed for our upcoming release.

[2019-02-01 22:57] zezha-msft commented on #8245
Hi @williexu, this is a [known issue](https://github.com/Azure/azure-storage-python/issues/509). There is a workaround, but we haven't integrated that into the SDK.

We are currently tracking this work item with this new [issue](https://github.com/Azure/azure-storage-python/issues/548).

[2019-02-01 23:09] #7986 closed

[2019-02-01 23:49] tjprescott commented on #8132
Will open a PR to enable Traffic Analytics. For this specific features, minimum API version is 2018-12-01, for which no SDK is available. Moving to the backlog.

[2019-02-01 23:52] tjprescott commented on #4419
@shurd can this issue be closed then?

[2019-02-01 23:53] tjprescott commented on #4131
Thank you @shurd. I'll close this now.

[2019-02-01 23:53] #4131 closed

[2019-02-02 02:12] adewaleo commented on #6051
Hello @andrew-best-diaxion, the following [link](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/hybrid-use-benefit-licensing?toc=%2Fazure%2Fvirtual-machines%2Fwindows%2Ftoc.json) has information about using the Hybrid Benefit through the CLI. It also gives an example. This video also explains [AHB](https://www.youtube.com/watch?v=xaHz5QOCWi4). It appears that the correct option fo

[2019-02-02 12:32] mmbatha commented on #8353
Pull request #8418 has the requested changes

[2019-02-03 10:46] macux opened #8419 "Add more info about creating receivers"
Would be helpful to have more info on creating action group receivers under the action-group create command in this doc. This github issue has more info but took me a little while to find it (yes I should have just tried --help but wouldn't hurt to add more info to this doc as well):

https://github.com/Azure/azure-cli/issues/7370

Thanks

---
#### Document Details

⚠ *Do not edit this section. It

[2019-02-04 00:01] SenthuranSivananthan commented on #8057
Validated with v2.0.56.  Closing.

[2019-02-04 00:01] #8057 closed

[2019-02-04 15:18] tjprescott commented on #8419
This info is contained in the CLI if you run the command with `-h`. Unfortunately, the online docs currently do not display the additional info.

https://github.com/MicrosoftDocs/azure-docs-cli/issues/1264

Please reference the above issue and add your comment.

[2019-02-04 15:19] #8419 closed

[2019-02-04 16:33] adamday2 commented on #8002
This appears to be corrected in 2.0.57.

[2019-02-04 16:33] #8002 closed

[2019-02-04 16:55] shurd commented on #4419
@tjprescott yes, this issue can be closed

[2019-02-04 17:03] YoDaMa opened #8421 "Azure CLI on Featured Server Snaps for Ubuntu"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

On the installation page for Ubuntu 18.04 Server Install there is a list of popular snaps to be quickly installed in server environments:

![image](https://user-images.githubusercontent.com/8214060/52223922-98129380-285b-11e9-9377-02661c99

[2019-02-04 17:54] nandhak21 commented on #8399
Thank you all for the quick fix..

[2019-02-04 18:06] tjprescott commented on #4419
Thanks @shurd!

[2019-02-04 18:06] #4419 closed

[2019-02-04 18:11] shurd commented on #3507
These connection strings match now. They follow the format that ends with "&replicaSet=globaldb"

[2019-02-04 18:34] tjprescott commented on #3507
Thanks @shurd. I will close this.

[2019-02-04 18:34] #3507 closed

[2019-02-04 18:34] marstr commented on #8312
I'm going to close this out for now. If you can help us get a reliable repro, we'll be happy to open it back up. :)

[2019-02-04 18:34] #8312 closed

[2019-02-04 18:44] marstr commented on #8421
Thanks for this feedback, @YoDaMa. This is something we've talked about internally, and even have a snap package [published](https://snapcraft.io/azure-cli) and [checked into our repository](https://github.com/Azure/azure-cli/blob/4b11d73a39822936033a137cf23f64452415f932/.snapcraft.yaml). Admittedly, this was driven by a developer who has since moved on (hence it being 1 year out of date.)

As a F

[2019-02-04 18:44] #8421 closed

[2019-02-04 18:52] mboersma commented on #8289
@chetanku this was fixed in #8311, so the next `az` CLI release should work in your situation. I think that's v2.0.57.

[2019-02-04 18:52] marstr commented on #7523
Thank you for the tremendous write-up on this @Arnavion. Right now, there seems to be a discrepancy between the RPM platforms that we say we support on our [install instructions page](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest) and the RPMs that are actually available in [our repository](https://packages.microsoft.com/yumrepos/azure-cli/). To spare people th

[2019-02-04 19:23] Arnavion commented on #7523
Yeah, I know :) Making openSUSE users use the RHEL packages has had problems with .Net Core and PowerShell Core as well.

[2019-02-04 19:46] johnknoop opened #8424 "Servicebus subscription Message TTL changes to weird number when updating forwardTo"
When updating a topic subscription to forward it´s messages to another topic:

[code]

It changes the "Message time to live" to a weird number:

![image](https://user-images.githubusercontent.com/3394270/52232834-d50f7200-28bd-11e9-9724-1de7c27f3a28.png)

I've tried to change that number to 1 in the portal, but that overwrites the "forwardTo", which means I have to run the cli command again, which

[2019-02-04 19:48] #8353 closed

[2019-02-04 19:50] tjprescott commented on #8411
Thanks for the PR @AgSync-Aaron. Your fix will be visible after the next release.

[2019-02-04 19:50] #8411 closed

[2019-02-04 21:23] yochay commented on #5565
@TomRyder you can configure channels via Az bot <channel type> operations. Here is an example - https://docs.microsoft.com/en-us/cli/azure/bot/facebook?view=azure-cli-latest

[2019-02-04 21:32] stevengum commented on #7192
@cloudguy-pro we're planning on improving the provisioning of MSA appId and appPasswords; this work should be completed when Microsoft/botbuilder-tools#393 goes in. We're aiming to get that work in by the BotBuilder SDK's 4.4 release (but most likely a lot sooner).

Regarding trying to create a v4 function bot, the v4 SDK [unfortunately does not currently support function-based bots](https://githu

[2019-02-04 21:39] stevengum commented on #7564
Let's investigate this for the 4.4 release.

[2019-02-04 21:42] yochay commented on #8234
@Kaiqb - FYI
@stevengum add this to 4.3?

[2019-02-04 22:01] adewaleo commented on #5105
@yugangw-msft @tjprescott, it is indeed 5 commands, do we want to move the commands into their own new module?

[2019-02-04 22:36] #7886 closed

[2019-02-04 23:00] adewaleo commented on #8014
Also see: https://github.com/Azure/azure-sdk-for-python/wiki/Automatic-ChangeLog

[2019-02-04 23:01] tjprescott commented on #5105
@adewaleo @yugangw-msft instead of putting them in their own module, would it make sense to put them in a module that already exists?  For example `azure-cli-role` has to do with authentication, which is what MSI is.  I'd prefer not to put them in a stand-alone module, but if there's a more logical place for them to live besides the VM module that sounds good to me.

[2019-02-04 23:33] #8374 closed

[2019-02-05 04:50] jlee-vi opened #8427 "Example command uses deprecated option"
Hello folks,

The first example uses an option which has been deprecated. Option '--remote-vnet-id' has been deprecated and will be removed in version '2.1.0'.

The examples should be updated to use the newer/correct option '--remote-vnet'.

Thanks team!
James

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e6754f86-e86

[2019-02-05 05:33] sobaner opened #8428 "Application Gateway Support for conditions and ruleSequence in Header CRUD"
**Is your feature request related to a problem? Please describe.**

CLI needs to be updated according to the NRP and swagger changes.
Two new properties - conditions and ruleSequence is added in RewriteRuleSet in the applicationGateway resource.

**Describe the solution you'd like**
Need CLI to be written as per the [Swagger Changes](https://github.com/Azure/azure-rest-api-specs/pull/5009)

[2019-02-05 05:35] b-b3rn4rd commented on #7579
It's really disappointing that Azure does not believe in automation and expects engineers to provision resources manually. Especially, when you already have the functionality to do it using UI why wouldn't you put a little bit of extra effort and provide CLI support...

[2019-02-05 06:11] WiseMack commented on #8162
According to the code you gave me
`secrets=$(az keyvault secret list-versions --vault-name ${kv_name} -n cert1 --query "[?attributes.enabled].id" -o tsv)
vm_secrets=$(az vm secret format -s "$secrets")`
[code]
should be the **id** that shows up when I execute the following command correct
`az keyvault secret list --vault-name $keyvaultName`

[code]
Yet it throws this error
[code]
Which is why I pr

[2019-02-05 06:14] WiseMack commented on #8162
In summary, what exactly SHOULD I be using with
`secrets=$(az keyvault secret list-versions --vault-name ${kv_name} -n cert1 --query "[?attributes.enabled].id" -o tsv)`

In the -n parameter if not the id?

[2019-02-05 09:35] johnmart82 commented on #6250
Can we ask that the ability to manage Automation is added to the CLI. While I appreciate that there is a PoSh option mixing between CLI and PoSh leads to management overhead. Additionally I am not interested in building custom management interfaces to interact with, what I consider to be, an Azure core service. It leads to issues with supportability as when you change the API specs I would have to

[2019-02-05 10:58] samangh commented on #8060
Thanks @agolomoodysaada. [azbak]( https://www.npmjs.com/package/azbak) seems to work.

[2019-02-05 11:34] JoeMcGrath opened #8431 "az cognitiveservices account create QnA Maker api issue"
**Describe the bug**
When deploying a new QNA maker service via az cli, utilising the `--yes` flag to automatically bypass the terms and conditions acceptance the service seems to deploy as expected, however I am unable to perform any actions - either via the qnamaker.ai portal or programatically via the rest api.

I am using the same commands here as the basis for the full deployment:
https://git

[2019-02-05 12:01] tjprescott commented on #7867
Closing in favor or newer issue: #8428.

[2019-02-05 12:01] #7867 closed

[2019-02-05 13:21] sjentzsch commented on #6962
@yugangw-msft - In our organization we face the same issue:
`az login`, when using with a MFA-enabled account in AzureCloud (EU), leads to
[code]
When I log in via Browser manually it asks me for MFA, I confirm, re-try with `az login` then it works.
I highly recommend forwarding this issue to AAD/ESTS team as you suggested.

[2019-02-05 13:45] sanudatta11 commented on #7257
azure-cli (2.0.55)

acr (2.1.12)
acs (2.3.14)
advisor (2.0.0)
ams (0.3.2)
appservice (0.2.11)
backup (1.2.1)
batch (3.4.1)
batchai (0.4.6)
billing (0.2.0)
botservice (0.1.4)
cdn (0.2.0)
cloud (2.1.0)
cognitiveservices (0.2.4)
command-modules-nspkg (2.0.2)
configure (2.0.20)
consumption (0.4.2)
container (0.3.11)
core (2.0.55)
cosmosdb (0.2.7)
dla (0.2.3)
dls (0.1.7)
dms (0.1.1)
eventgrid (0.2.0)
e

[2019-02-05 14:12] JoeMcGrath commented on #8431
as an update i modified my local copy of https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-cognitiveservices/azure/cli/command_modules/cognitiveservices/custom.py and commented out the following part:
[code]
The cognitive service account deploys as expected and I can programatically interact with the API as expected

[2019-02-05 16:44] #8297 closed

[2019-02-05 18:20] tjprescott opened #8434 "Profile system requires an entry even if not supported."
**Describe the bug**
ACR has converting their module to multi-API format. They are only supported on profile `latest` and are not part of either profile listed in the REST API specs repo:
https://github.com/Azure/azure-rest-api-specs/tree/master/profile

However, they had to add their key to each of those unsupported profiles or the CI failed:
https://github.com/Azure/azure-cli/pull/8417#discussio

[2019-02-05 18:22] tjprescott commented on #8434
Relates closely to #8355

[2019-02-05 18:35] foobar008 opened #8435 "Azure CLI support to read and write messages to ServiceBus queue?"
Azure CLI has support to manage Servicebus queues, but don't support for reading/writing from/to queues. Is this option supported?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 124549e3-8a58-b07e-7e8d-e4655ef561bb
* Version Independent ID: ea61fbb9-1283-40a7-afaa-26349931ac7e
* Content: [az servicebus](https://docs.mi

[2019-02-05 19:15] #7815 closed

[2019-02-05 19:47] adewaleo commented on #8162
@WiseMack

1. With respect to your first question, the CLI did not throw an error, powershell did because `vm_secrets=$(az vm secret format -s "$secrets")` is (linux) shell syntax which executes the vm command and assigns the result to a shell variable. To solve this issue you need to convert the shell syntax to powershell syntax.

2. What do you mean by `"it doesn't work for the az vm create comm

[2019-02-05 20:38] #8265 closed

[2019-02-05 21:09] gdubroeucq commented on #8406
We got the same problem.

--subscription is not working anymore.

[2019-02-05 21:22] #8427 closed

[2019-02-05 21:51] tjprescott commented on #8162
Fundamentally, the problem here is that you are trying to use a script that is written for Linux bash in Powershell. That will not work. I have opened an issue in the docs repo for that tutorial to request that they clarify that it only works in Bash.

https://github.com/MicrosoftDocs/azure-docs/issues/24311

I see you also opened an issue there and it was closed. I would recommend you +1 and comm

[2019-02-05 21:52] #8377 closed

[2019-02-05 22:07] tmontalbano opened #8437 "--subscription does not seem to work anymore for "az monitor metrics alert create" at least"
**Describe the bug**

I get an odd error when trying to create an alert. This happens since I have updated azure-cli:
Arm resource /subscriptions/subId2/resourceGroups/infraName-group/providers/microsoft.insights/actionGroups/send-email-ops is invalid.. [Code: "BadRequest"]

With subId2 being a subscription id set at some point in the environment with "az set --subscription".

**To Reproduce**

az

[2019-02-05 22:44] captainbrown opened #8439 "Azure CLI cannot update BGP settings on VPN connections across subscriptions"
**Describe the bug**
A clear and concise description of what the bug is.
Let's say we have 2 subscriptions: Sub1 and Sub 5
We then have a VNET in a respective resource group on each subscription.  It appears the module fails to run an update since the vpn-connection has a connection in each subscription.

$az network vpn-connection update -n VNet1toVNet5 -g TestRG1 --enable-bgp true
Resource group

[2019-02-05 23:16] adewaleo commented on #8402
The host/computer name of the VM is set to the name of the VM. Is there a reason why you would want the name of the VM resource to be different from the computer/host name?

[2019-02-05 23:31] RavSalgado opened #8440 "Azure CLI install on tinycore question."
---

### Environment summary

The machine is running Mac OSx, with Docker toolbox that starts up a VM in virtual box.
VM is a tinycore default VM.

How can I install Azure CLI on the VM?
Tried https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?view=azure-cli-latest. But I must be doing some pre req step wrong since I cannot get it to work.

Any help would be greatly appreciated.

[

[2019-02-05 23:47] yugangw-msft commented on #5105
yes, a new command module would be too heavy and expensive.  I agree we move them to `azure-cli-role`. MSI essentially is a service principal as a resource. So this makes sense.

[2019-02-06 03:09] #8264 closed

[2019-02-06 04:13] yugangw-msft commented on #7579
@b-b3rn4rd, Azure CLI's graph commands have never meant to be used for general graph object management; rather they are just enough for RBAC where SAML-based SSO applications don't play any specific role there. Hence we usually don't prioritize such asks till we have enough users votes.

[2019-02-06 16:18] ppanyukov commented on #7901
@yugangw-msft Advanced or not, the flag `--subscription` is shown by docs when I run `az ad sp create-for-rbac --help`, so it should work?  If this is not supported, then the docs should not show this flag as available and the command should error out if it's used in my opinion.

Just now, this cpmmand rekd total havoc *again* in our multi-subscription environment because of this flag not working.

[2019-02-06 16:36] jaypharis opened #8446 "incorrect example for az network dns zone export"
In the arguments, `-o mysite_com_zone.tsv` is listed, it should read `-f mysite_com_zone.tsv`. `-o` is used for output format.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5ccaec50-407e-bf8a-6004-a824c2094c5b
* Version Independent ID: 8d2f2443-7636-2462-7806-0916a8603a0d
* Content: [az network dns zone](https://docs.

[2019-02-06 17:04] marstr commented on #8440
@RavSalgado, mind providing more information about the problem you're seeing? What error pops up when you try to install? Also, what OS is the VM running?

[2019-02-06 17:15] tjprescott commented on #8446
Thanks for the report @jaypharis

[2019-02-06 17:17] tjprescott commented on #8446
@adewaleo any ideas why the example linter didn't catch this problem?  Does it not evaluate enums?

[2019-02-06 17:19] mboersma commented on #1149
@yugangw-msft the Python SDK for AKS has [`create_or_update`](https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-containerservice/azure/mgmt/containerservice/v2018_03_31/operations/managed_clusters_operations.py#L565) and [`update_tags`](https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-containerservice/azure/mgmt/containerservice/v2018_03_31/operations/managed

[2019-02-06 17:23] mboersma commented on #5300
We've never been able to reproduce this issue, and I don't know what to attribute it to other than a transient service error. @tjprescott let's close this old issue and if it recurs it can be reopened with current information.

[2019-02-06 17:28] #5300 closed

[2019-02-06 17:30] tjprescott commented on #1149
This shouldn't be closed. The generic update would make use of your `create_or_update` method to work. Please see:
https://github.com/Azure/azure-cli/blob/dev/doc/authoring_command_modules/authoring_commands.md#generic-update-commands

[2019-02-06 17:41] jberezanski-mdg opened #8449 "ACI deployment with --file ignores location specified in YAML"
**Describe the bug**
When deploying a container group using `az container create -g mygroup -f spec.yml`, the container group is deployed into the location of the resource group, not the location specified in the YAML file.

**To Reproduce**
[code]

output:
[code]

**Expected behavior**
The container group is created in the West US 2 location (as specified in the YAML file). The location of the re

[2019-02-06 17:46] yugangw-msft commented on #7901
I will address this issue.

[2019-02-06 17:48] marstr commented on #8435
Howdy @foobar008, you are correct. Data-plane Service Bus interaction isn't supported today. Mind describing the scenario you had in mind for using the CLI to publish Service Bus messages or subscribe to queues/subscriptions?

More and more of our SDKs are providing support for data-plane Service Bus interactions. Until it's supported here, I would checkout out:
- https://github.com/Azure/azure-se

[2019-02-06 17:51] marstr commented on #8435
Because we're not planning on adding this for the moment, and because the question is answered I'm going to close this issue. However, I'd love to continue to use this thread to discuss your scenario.

[2019-02-06 17:51] #8435 closed

[2019-02-06 17:56] WiseMack opened #8450 "Trouble with az vm create"
**Describe the bug**
Attempt to create a vm, using a bunch of arguments in addition to the ones showed in the examples
https://docs.microsoft.com/en-us/azure/virtual-machines/linux/tutorial-secure-web-server
https://docs.microsoft.com/en-us/azure/virtual-machines/windows/tutorial-secure-web-server

**To Reproduce**
Type code
[code]
**Expected behavior**
Created VM with the given parameters

**Resu

[2019-02-06 18:09] adewaleo commented on #8446
@tjprescott, the linter only evaluates that correct parameters are used. It does not do any parameter value validation. However, I can definitely add a parameter value linter rule or update the current rule.

[2019-02-06 18:13] RavSalgado commented on #8440
Sure, The VM runs a custom Linux build, tinycore. I run through the python, libffi and OpenSSL install, then the script "curl -L https://aka.ms/InstallAzureCli | bash" cmd.

Am I missing something here?

I'v atached a screen shott.
![screen shot 2019-02-06 at 12 09 17 pm](https://user-images.githubusercontent.com/40475586/52363355-24fa5000-2a08-11e9-9b36-d4dc50d71412.png)

Thanks.

[2019-02-06 18:17] tjprescott commented on #8450
Hi @WiseMack I agree the tutorial should point out that it uses bash specific syntax or direct you to choose a bash shell in Cloud Shell rather than Powershell. I opened an issue with just that feedback and they have taken it under advisement.
https://github.com/MicrosoftDocs/azure-docs/issues/24311

However, this team does not write tutorials, including the ones you reference. If there are proble

[2019-02-06 18:17] #8450 closed

[2019-02-06 18:29] #8446 closed

[2019-02-06 19:24] #4250 closed

[2019-02-06 19:26] WiseMack commented on #8450
@tjprescott
Is there any chance you could answer my question before closing the issue? It is
[code]
THIS ERROR produced when executing the previous command
[code]
I will certainly open a new issue over in https://github.com/MicrosoftDocs/azure-docs/issues, but I still would like an answer to my problem.

[2019-02-06 19:31] tjprescott commented on #8450
I would recommend trying this:
`--ssh-key-value @"~/.ssh/id_rsa.pub"`

[2019-02-06 19:36] nathana1 opened #8451 "az acr import allows redundant sources"
**Describe the bug**
Commands like:
az acr import --source mysource.azurecr.io/myrepo:mytag -n mytarget --force -r /subscriptions/mysub/resourceGroups/myrg/providers/Microsoft.ContainerRegistry/registries/mysource

Specifies mysource as the source registry twice.  However the backend import service has 2 modes, one that takes a registry uri and one that takes a resource id.
**To Reproduce**
specif

[2019-02-06 20:30] marstr commented on #8440
Ah, got it. This is actually a dup of https://github.com/Azure/azure-cli/issues/8353 and will get fixed when the next version drops. In the mean-time you should be able to work around it by download the install script from https://aka.ms/InstallAzureCli and modifying the line that uses `mktemp` to:

[code]

Once that is done, you should be able to install the CLI by running the following from the

[2019-02-06 20:30] #8440 closed

[2019-02-06 20:43] jonnylangefeld opened #8452 "az storage account keys list not working with 'read-only' resource lock"
I don't know if this is the right place to file this bug. If not, please move.

the command `az storage account keys list --account-name <storage account name>` works fine if there is no resource lock on the storage account. It lists the keys for the storage account.
It still works with the lock `delete` that prevents the resource from deletion.

However it doesn't work with the `read-only` resour

[2019-02-06 21:59] tjprescott commented on #8452
The CLI calls directly into the Python SDK for this call.

@zezha-msft I can confirm that the SDK is making a POST call:
`https://management.azure.com:443 "POST /subscriptions/xxxx/resourceGroups/tjp-rg/providers/Microsoft.Storage/storageAccounts/tjpstorage2/listKeys`

From a technical perspective it makes sense why a POST call would fail, but from a customer perspective, this makes no sense and t

[2019-02-06 22:25] akramwaseem commented on #8365
@Penberthy - I need to add someone as "key-vault-contributor" to a resource group.
Can I do that using az assign roles to a resource group.which has keyvault in it and I am hoping key-vault is going to inherit the permission.

[2019-02-06 22:30] #7161 closed

[2019-02-06 22:30] #7657 closed

[2019-02-06 22:30] #8030 closed

[2019-02-06 22:30] #8334 closed

[2019-02-06 22:30] #6575 closed

[2019-02-06 22:30] #6769 closed

[2019-02-06 22:48] zezha-msft commented on #8452
Hi @tjprescott, @lmazuel can help you on this. I work on the data-plane SDK.

[2019-02-06 22:57] singlessis opened #8453 "webapp:Adding tests for hybrid connection and vnet integration methods."
**Is your feature request related to a problem? Please describe.**
In the future, I want to add more tests for the hybrid connection and vnet-integration commands, as I have had a lot issues with how difficult the required relay libraries can be to work with. This will require a lot more research, and potentially reaching out to the relay team

[2019-02-06 23:02] alfantp commented on #2663
Provisioning could take a long time depending on the underlying VM create time and/or the number of shards the customer is provisioning. Didn't want the command to wait on it

[2019-02-06 23:20] tjprescott commented on #2663
@alfantp is this modeled as a Long Running Operation in swagger?  It sounds like it should be. In the CLI, if it is a LRO, then it will poll by default until complete. Command authors will then typically expose a `--no-wait` option to short-circuit the polling, as well as a "wait" command to allow for polling later.

[code]

This is kind of like joining thread. The effect is that the creation of f

[2019-02-06 23:22] tjprescott commented on #8452
@zezha-msft my mistake--I thought this was a data plane call but you are right. Thanks!

[2019-02-06 23:25] tjprescott commented on #8452
Hi @jonnylangefeld thank you for the report. Unfortunately, there is nothing we can do on the CLI-side to work around this issue because the service is using a write operation (an HTTP POST) to retrieve the keys. At best we can bring this to the attention of the service team.

[2019-02-07 00:18] WiseMack commented on #8450
@tjprescott
So I ask, WHY is the recommended action NOT using a variable?

What is the reason?
This works
[code]
And this doesn't work?
[code]

There is no reason for a parameter to accept variables If it is only going to take half of it..
When the parameter --location recognizes "Canada Central" but doesn't recognize the variable  $location, there is a problem.

[2019-02-07 00:19] WiseMack opened #8456 "vm create: cannot decode secrets"
### Describe the bug
Execute code
[code]
### Error
`Error decoding secrets: Expecting value: line 1 column 2 (char 1)`

### Note
Whether I use
[code]
or
[code]
It throws the same error
`Error decoding secrets: Expecting value: line 1 column 2 (char 1)`

[2019-02-07 01:18] tjprescott commented on #8450
The recommendation for `--ssh-key-value` comes directly from the examples for VM create, which you see when running `az vm create -h`. Whatever syntax the tutorial is suggesting clearly isn't working for you, which would be an issue with that tutorial.

`--location= $location` doesn't work because it would be the same as `--location= "Canada Central"` which also doesn't work. If you used `--locati

[2019-02-07 01:26] tjprescott commented on #8456
What steps have you taken to troubleshoot the problem?

[2019-02-07 01:40] tjprescott commented on #8456
@adewaleo I can reproduce this on CloudShell, though that doesn't rule out the possibility that it might fail on other Linux environments.

@WiseMack as a workaround, I have tested the following syntax in Cloud Shell:

[code]

[2019-02-07 01:41] tjprescott commented on #8456
@adewaleo when I echo the value of `vm_secrets` in Cloud Shell, it looks like this:
`[ { "sourceVault": { "id": "/subscriptions/xxxx/resourceGroups/tjp-rg/providers/Microsoft.KeyVault/vaults/tjpkv12" }, "vaultCertificates": [ { "certificateUrl": "https://tjpkv12.vault.azure.net/secrets/cert1/xxxx" } ] } ]`

If I were to guess, I would say that the spaces between characters might be the cause of th

[2019-02-07 01:51] WiseMack commented on #8456
I tried to remove the spaces between characters manually, same error

[2019-02-07 01:53] tmontalbano commented on #8437
I have done some more testing and the problem occurs after version 2.0.52. This is the highest version at which the problem does not show from what I have been testing.

[2019-02-07 02:05] tmontalbano commented on #8437
Another detail is that the right command should use the subscription ID and not the subscription name, otherwise, I get another strange error:

 az monitor metrics alert create --name "infraName-APIM-TotalRequests-4" --resource-group "infraName-group" --scopes "/subscriptions/subId/resourceGroups/ddo-2392-thierry-group/providers/Microsoft.ApiManagement/service/apim-infraName-cluster-default" --des

[2019-02-07 02:05] RavSalgado commented on #8440
Thanks, @marstr I had to do a few extra steps and set the $PATH, but now AZ is running without issue. Thank you for your help. closing issue.

[2019-02-07 02:22] WiseMack commented on #8456
When running the same commands in PowerShell
At line:1 char:255
+ ...  --location "Canada Central" --nics $nics --ssh-key-value @"~/.ssh/id ...
No characters are allowed after a here-string header but before the end of the line.
+ CategoryInfo          : ParserError: (:) [], ParentContainsErrorRecordException
+ FullyQualifiedErrorId : UnexpectedCharactersAfterHereStringHeader

The --ssh-key-value

[2019-02-07 02:27] WiseMack commented on #8456
How exactly did you test
`secret=$(az keyvault secret list-versions --vault-name $keyvaultName --name $cert --query "[?attributes.enabled].id" --output tsv)`
in CloudShell?
Do you mean you tested it on Bash?

[2019-02-07 02:59] WiseMack commented on #8456
The code

After adding the missing parameters has allowed me to finally create the VM !Insert Fireworks Here!

[2019-02-07 02:59] WiseMack commented on #8456
There are still several problems with this that have been uncovered in this process
The @secrets.json workaround works, but is exactly that a **WORKAROUND** to be used when the proper method doesn't work.
The proper method doesn't work because of the following reasons

the --location parameter does not accept variables with more than 1 word
This works
`--location "Canada Central"`
This doesn't wor