[2022-09-28 14:52] zhoxing-ms commented on #23462
@D1v38om83r Could you please help take a look at this issue?

[2022-09-28 15:06] #20863 closed

[2022-09-28 15:06] #23779 closed

[2022-09-28 15:19] rafaeldnferreira commented on #23865
Hi @yonzhan, I've added the details for the description, the API isn't yet release but should allow you to plan.
Please let me know if you have any further questions.

[2022-09-28 16:16] PramodValavala-MSFT commented on #24045
@kingofDaniel Is there are a particular command that you are looking for help with here?

[2022-09-28 16:19] PramodValavala-MSFT commented on #24040
@bgz78 The error suggests a failed DNS resolution for the hostname. Make sure you are running this command from the right network and/or with right DNS server that can resolve the hostname.

[2022-09-28 16:23] AndreyBespamyatnov commented on #22301
Unfortunately, we can see the same issue with our Azure Pipeline

[2022-09-28 16:27] SaurabhSharma-MSFT commented on #23705
@panchagnula Can you please help here.

[2022-09-28 16:34] SaurabhSharma-MSFT commented on #24048
@robnotley We are looking into it and get back to you for any additional information.

[2022-09-28 16:35] SaurabhSharma-MSFT commented on #24047
@angryconsultant We are looking into it and get back to you for any additional information.

[2022-09-28 16:37] panchagnula commented on #23925
@seligj95 this is the feedback from the new deployment status API implemented. @DavidZidar the reason this status was added because, completion of Zip deploy doesn't necessarily mean the full operation is complete (example build etc) & the app is ready. This status was added just to ensure the progress of the full deployment process is visible to the customer & once completed the app is ready & ru

[2022-09-28 16:39] PramodValavala-MSFT commented on #24047
@angryconsultant Looks like running the replace content command does change the status to `In edit` already. Do you see an error when trying the same?

[2022-09-28 16:40] DavidZidar commented on #23925
@panchagnula I get the intent but it is not working right.

[2022-09-28 17:12] panchagnula commented on #23925
Yes, completely understand. Sorry for the inconvenience caused. @JasonFreeberg FYI.

[2022-09-28 17:13] mcalthrop commented on #23925
@panchagnula: @DavidZidar has nailed it. Have a look at the original issue raised.

Our CI logs are getting spammed with hundreds of lines of this:

[code]

We need an option to disable the above.

[2022-09-28 18:41] twalker45106 opened #24050 "AZ Deploy causes "list index out of range" error without any additional details"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deploy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deploy --resource-group {} --name {} --src-path {}`

## Expec

[2022-09-28 21:39] saif-zaman-maruf opened #24052 "az ad signed-in-user show failed from terraform"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad signed-in-user show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad signed-in-user show -o={}`

## Expected Behavior

## Env

[2022-09-28 21:42] manikg321 commented on #24029
@necusjz / @yonzhan  If there is any work around using az cli 2.40.0 commands can you please let me ASAP, I am in need of it. Thanks!

[2022-09-28 22:32] SaurabhSharma-MSFT commented on #23769
@ferronsw I suggest you to please open a [Azure Support Ticket](https://aka.ms/azsupt) so that an engineer can check further investigate this issue. In case you have any limitations in your support plan to open support ticket please let me know.

[2022-09-28 22:55] yonzhan commented on #24048
route to CXP team

[2022-09-28 22:57] yonzhan commented on #24050
route to CXP team

[2022-09-28 22:58] yonzhan commented on #24052
@jiasli for awareness

[2022-09-29 02:00] chicago7 commented on #23714
@Ochirkhuyag  @zhoxing-ms Is there any update? Thanks.

[2022-09-29 04:12] navba-MSFT commented on #23594
@digennarot The action is currently pending on you to install the [Microsoft official CLI ](https://learn.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt)and check if you run into the same issue. Please feel free to reopen this thread if you need any further assistance on this. We would be happy to help.

[2022-09-29 04:12] #23594 closed

[2022-09-29 04:22] navba-MSFT commented on #23984
@joehd91 The action is currently pending on you to try the above suggestion. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-09-29 04:22] #23984 closed

[2022-09-29 05:18] necusjz commented on #24029
@manikg321 Thanks for your detailed user scenarios and I'll jump into them.

Here could be a workaround:
https://www.reddit.com/r/AZURE/comments/wvgtlg/waf_policy_application_gateway_and_rest_api/

[2022-09-29 05:22] elygre commented on #23559
Adding a +1 for this; I have the same issue.

[2022-09-29 05:31] navba-MSFT commented on #24050
@twalker45106 Thanks for reaching out to us and reporting this issue. Could you please confirm if the `--src-path  ` argument (filename) you had passed in not have an extension? You should ensure that the file name passed in for --src-path has an extension, such as "name.zip". See below:

https://github.com/Azure/azure-cli/blob/1a0baa99c5ad8b2c33c7d03af0683ca22037bd60/src/azure-cli/azure/cli/comma

[2022-09-29 05:40] navba-MSFT commented on #24043
@sanu-hack Thanks for reaching out to us and reporting this issue. I see that you are using an older version of AzCLI. Could you please update to the [most recent version ](https://learn.microsoft.com/en-us/cli/azure/update-azure-cli) of AzCLI and check if you are still facing this issue ? Awaiting your reply.

[2022-09-29 06:06] #22605 closed

[2022-09-29 06:09] manikg321 commented on #24029
Same error. Works on older az cli versions, but not on az cli 2.40.0.

[2022-09-29 06:10] navba-MSFT commented on #24025
@digitalkram I am glad that as a _workaround_ the 2 above commands are working fine. To fix the original command, could you please share the complete `--debug` output with me over email navba [@] microsoft (dot) com ? Awaiting your reply.

[2022-09-29 06:14] jiasli commented on #24052
The error message is pretty clear:

This is because your network can't resolve `graph.microsoft.com`. Plesae check your DNS settings to make sure `graph.microsoft.com` can be reached.

[2022-09-29 06:16] jiasli commented on #23954
Do you install other software that installs `/usr/lib/python3.6/site-packages/azure/mgmt/resource/subscriptions/__init__.py`?

[2022-09-29 06:25] angryconsultant commented on #24047
I get following error if I do not set the Runbook to draft before the replace-content code is running. When runbook is in draft it works.

`ERROR: (BadRequest) Runbook draft is not in edit state.
Code: BadRequest
Message: Runbook draft is not in edit state.
`

[code]

[2022-09-29 06:49] VOVELEE commented on #15381
It will be great feature and I think many people are anticipating it

[2022-09-29 07:40] necusjz commented on #24029
I do think you're right: https://stackoverflow.com/a/73475665/19233978. And how about this: https://stackoverflow.com/a/73460058/19233978

[2022-09-29 07:42] sanu-hack commented on #24043
Thanks for your email . I will upgrade my CLI and test it .

On Thu, 29 Sep 2022 at 11:10 AM, navba-MSFT ***@***.***>
wrote:

[2022-09-29 07:51] angryconsultant commented on #24047
I solved the issue and I had to run this before:

`az automation runbook update`

Can you please clarify the documenation about the `update` so that its clear that the only thing it does is to set the Runbook to draft. Draft is not mentioned in the documentation

[2022-09-29 08:02] #23794 closed

[2022-09-29 08:02] #23577 closed

[2022-09-29 08:02] #22881 closed

[2022-09-29 08:56] zencharcoal opened #24056 "Unable to upload image to blob"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob upload`

**Errors:**
[code]

## To Reproduce:

New disk was already created and temporary write access was enabled
- _Put any pre-requisite steps here..._
- `az storage blob upload --auth-mode {} --account-key {} -f {} --blob-url {}`

## Expected Behavior

## Environment Summa

[2022-09-29 09:20] zomilanovic commented on #23825
@RakeshMohanMSFT any news or updates from the product team so far? Did the additional information we gave you help?

[2022-09-29 09:43] navba-MSFT commented on #24043
@sanu-hack Thanks for your reply. I shall wait for the update from you.

[2022-09-29 09:45] ynux commented on #23475
@bdschaap : what is the equivaent powershell command? I resorted to editing the current-context entry in the `.kube/config` instead of using the `kubectl config set-context` command .
In my situation, i am working in WSL 2 and the .kube/config lives in my Windows 10 user home.

[2022-09-29 10:30] yonzhan commented on #24056
@evelyn-ys for awareness

[2022-09-29 10:44] zencharcoal commented on #24056
I also tried another method where I defined account name, but with no luck

[2022-09-29 11:43] digitalkram commented on #24025
Mail is sent

[2022-09-29 12:40] twalker45106 commented on #24050
It did - I'm happy to share the path if that helps.

On Thu, Sep 29, 2022 at 1:31 AM navba-MSFT ***@***.***> wrote:

--
Walker Development Group, LLC
Web: http://www.walkerdevgroup.com
Phone: (513) 919-5959

[2022-09-29 12:44] bdschaap commented on #23475
Import-AzAksCredential -ResourceGroupName <resource group name> -Name <AKS cluster name>

[2022-09-29 13:10] Mykp3 commented on #9250
This is such a ... limitation, why SP cannot be owner of other application regardless of initial creator responding with bad request?
This role currently is rather useless...
`Application.ReadWrite.OwnedBy`

[2022-09-29 13:28] JWohlschlag-Euclid opened #24058 "az ssh vm: Using additional ssh arguments broken in 2.40.0"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ssh vm`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az ssh vm --resource-group {} --name {} -- -f -N -o {} -L {} -L {}`

## Expected Behavior
The command reference guide

[2022-09-29 14:17] maoding commented on #22954
More information would be a great deal. I created a dataset in Azure ML via the GUI but now I struggle to do so using CLI `az ml data create` since I do not have enough information how to write the MLTable file residing next to the parquet files.
From the serveral steps in the GUI I can more or less assume what is needed but I do not find any reference how to write the MLTable file properly.

E.g.

[2022-09-29 14:52] yonzhan commented on #24058
route to CXP team

[2022-09-29 15:13] Copennin opened #24059 "When creating an asset filter, "--tracks" is not an optional parameter as the docs suggest"
As the title suggests. Running the command without the parameter --tracks, in the CLI (both Azure and Linux), results in the following error:

_(BadRequest) Properties can not be null.
Code: BadRequest
Message: Properties can not be null._

Example command, produces the unwanted results:
` az ams asset-filter create -a AccountName -g ResourceTestGroup-n test-filter --asset-name Asset123`

Indicati

[2022-09-29 15:46] redshiftz commented on #23642
I am the customer for @prakashmsft. Sorry this has taken so long to get back to. Our use case is we have a script that a terraform module calls in multi-threaded manner. So the script itself gets called multiple times on the same machine by multiple threads at the same time. This results in sometimes an error that says "ERROR: Please run 'az login' to setup account." and other threads runs success

[2022-09-29 16:42] redshiftz commented on #23642
Note: This is the same account, same machine. just differing instances that seem to get confused about accessing the login.

[2022-09-29 16:57] redshiftz commented on #23642
@jiasli We have code that is supposed to check if the token is already there...

`# Login to Azure
checkResult=$(az account show)
environmentName=$(echo $checkResult | jq -r .environmentName)

# If environmentName is empty, login
if [[ -z "$environmentName" ]]
then
az login --service-principal -u "$ARM_CLIENT_ID" -p "$ARM_CLIENT_SECRET" --tenant "$ARM_TENANT_ID" >> /dev/null
az account set --subsc

[2022-09-29 17:57] arganapathy opened #24061 "Support For Routemaps"
### Related command

_No response_

### Resource Provider

Microsoft.Network

### Description of Feature or Work Requested

1. Need cli support for VnetLocalRouteOverrideCriteria in command to create static routing configuration.
2. Need new commands to put/get/delete/list RouteMap resources on VirtualHub
3. Need new commands getinboundroutes and getoutboundroutes,
4. Need To be able to specify ro

[2022-09-29 18:25] Rizo-R commented on #24013
You're right, turns out my `resource_prefix` string was surrounded with `“ ` instead of `"` (I wrote it in the Notes app on Mac and copy-pasted into CloudShell). Changing the symbol fixed the error, without having to modify the original `az rest` command to what you suggested.

[2022-09-29 18:25] #24013 closed

[2022-09-29 18:27] luigiw commented on #23944
@neilmca-inc --name is optional because you can provide a yaml file containing ws name using --file. Does that help?

[2022-09-29 18:48] rosanch opened #24062 "Conditional Access policy error inside the python virtual environment"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When I try to run any command inside my virtual environment, I get this error. But it doesn't happened when I run the same commands outside the venv in a normal powershell terminal.

**Command Name**
`az keyvault create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument v

[2022-09-29 18:53] kunalwaghrayismyalias commented on #23978
Taking extra steps to login to AML compute first (prompted when opened notebook) allowed me to login.

[2022-09-29 18:53] #23978 closed

[2022-09-29 19:40] tphilley opened #24063 "Azure ML Command Job re-using code from previous Job"
**Related command**
az ml job create --file train-job.yaml

**Describe the bug**
When submitting a command job with the Azure ML CLI extension, the code is being re-used when executing a command using "python -m". For example, if using a "training" script:
src/train.py
`print('hello world')`
and submit the command job with a yaml script including the command:
`command: |
  python3 -m src.train`
 t

[2022-09-29 20:23] #24062 closed

[2022-09-29 20:41] vhhughes opened #24064 "Maximum Burst for Elastic Plan cannot be set above 20 with Azure CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp plan update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create an Elastic Plan (1, 2, or 3) and create a Function app in it.
- Try to run `az functionapp plan

[2022-09-29 21:20] panchagnula commented on #23581
@sycured the reason in CLI these settings were masked because of security issue that passwords shouldn't be displayed in plaintext. This an open issue on the platform end, that the GET API GET /subscriptions/e483435e-282d-4ac1-92b5-d6123f2aa360/resourceGroups/sisirap-rg/providers/Microsoft.Web/sites/clitestapp/config/slotConfigNames? shouldn't return passwords , hence the masking change on CLI, Un

[2022-09-30 00:22] yonzhan commented on #24059
route to CXP team

[2022-09-30 00:27] yonzhan commented on #24061
network feature

[2022-09-30 00:31] panchagnula commented on #23420
from the original issue reported & stack trace, the app was created successfully, the --logs is the one causing exception & I believe this might be because logstreaming is not supported on Free SKU. Please run the same command without --logs & see if that works.

[2022-09-30 00:32] panchagnula commented on #23420
Sorry this needs to be reported to the portal team - maybe create a support case.

[2022-09-30 00:32] yonzhan commented on #24063
route to CXP team

[2022-09-30 00:33] yonzhan commented on #24064
route to CXP team

[2022-09-30 00:40] Mleng89 opened #24066 "Issue: az upgrade bug"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az extension update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Running sandbox via `learn.microsoft.com`
- Whilst in bash running command of `az upgrade` prompts the error

[2022-09-30 00:43] yonzhan commented on #24066
route to CXP team

[2022-09-30 01:32] jiasli commented on #23880
This looks like some issue with PowerShell.

Say we have the same `test.cmd` and `test.ps1`:

[code]

The exit code is correct when they are invoked directly:

[code]

However, when invoked by `pwsh.exe`, they return different result:

[code]

If `test.ps1` contains

[code]

It works as expected:

[code]

Azure CLI switched to `az.ps1` in https://github.com/Azure/azure-cli/pull/23514, leading to t

[2022-09-30 01:35] fhryo-msft opened #24067 "Simplify archiving Append Blob and Page Blob with CLI"
The asks on archiving Append Blob and Page Blob Archive grow. However, Archive doesn't support Append Blob and Page Blob natively today. The only workaround is that customers need to convert Append Blob and Page Blob to block blobs then tier to and from Archive. We need to simplify the conversion process to increase more cost savings on Append Blob and Page Blob. It would be great to keep such con

[2022-09-30 01:39] jiasli commented on #23880
On contrary, `cmd.exe` works as expected:

[code]

So does Bash:

[code]

[2022-09-30 01:40] yonzhan commented on #24067
storage feature

[2022-09-30 01:43] #23414 closed

[2022-09-30 02:03] jiasli commented on #23880
We will revert the change in #24015

[2022-09-30 02:56] navba-MSFT commented on #24066
@Mleng89 Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-30 03:44] navba-MSFT commented on #23965
@mfmalto I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-09-30 03:45] navba-MSFT commented on #23970
@OZZYTA I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-09-30 03:45] navba-MSFT commented on #23997
@subhasishdc I wanted to do quick follow-up to check if you had a chance to look at my above comments. Please let us know if you had any updates on this. Awaiting your reply.

[2022-09-30 03:46] navba-MSFT commented on #24014
@clguo-tw I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-09-30 03:56] navba-MSFT commented on #24021
@Akash3221 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-09-30 04:00] navba-MSFT commented on #24050
@twalker45106 Thanks for getting back. Could you please share the path here ? So that I can try to do a repro at my end.

[2022-09-30 04:19] navba-MSFT commented on #24025
@digitalkram Thanks. I have received your email and replied to the same.

If the issue resurfaces again, The action plan is to share the output of the command with `--debug` switch as shown below:

Let’s wait for the issue to reoccur.

[2022-09-30 04:52] chicago7 commented on #23714
@Ochirkhuyag @zhoxing-ms @jiasli  Is there any update?  we still encounter the issue. Thanks.

az rest --method post --url https://management.chinacloudapi.cn/subscriptions/e215f72c-02a5-4e2a-8a6e-1469ce59478d/providers/Microsoft.Subscription/rename?api-version=2020-09-01 --body @C:\Users\test01\Desktop\rename.json
Bad Gateway({"error":{"code":"InvalidGatewayCertificate","message":"The gateway cer

[2022-09-30 06:24] subhasishdc commented on #23997
@navba-MSFT : I will get back next week on this.

[2022-09-30 06:29] neilmca-inc commented on #23944
Hi @luigiw I'm not stuck - just the documentation needs updating as --name is a required parameter, not an optional

[2022-09-30 07:27] wibram commented on #15188
I had the same problem when using the normal login email address (like demo@email.com) as the $CLIENT_ID or <AAD-ENTITY-ID> for **--assignee** parameter. After using **user principal name** (like demo_email.com#EXT#@demoemail.onmicrosoft.com) it was successful. You can find the user principal name in azure portal in the users list.

[2022-09-30 07:28] navba-MSFT commented on #24066
@Mleng89 I tried running both the commands` az extension update -n ml` and `az upgrade`. It worked fine. I am unable to reproduce this issue.

Could you please confirm if you tried running this command ` az extension update -n ml` ?

As a workaround, Could you please delete the `ml `dir from this path _/usr/lib/python3.9/site-packages/azure-cli-extensions/ml_ in your box and install ml again using

[2022-09-30 07:53] Niviral opened #24072 "`az ad app create` error: Invalid key type."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
MS documentation and --help command describe that `--key-type` can be set as one of three values  {AsymmetricX509Cert, Password, Symmetric}. However, trying to set value as `Password` led to error. It's funny because if you make a typo and set value of `--key-type` as for example `Passwor` it will ask if I had

[2022-09-30 08:02] #23823 closed

[2022-09-30 08:10] nhhoangctu opened #24073 "Azure apim api delete isssue."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim api delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim api delete --resource-group {} --service-name {} --api-id {}`

[2022-09-30 09:04] yonzhan commented on #24072
@jiasli for awareness

[2022-09-30 09:04] yonzhan commented on #24073
route to CXP team

[2022-09-30 09:30] navba-MSFT commented on #24064
@vhhughes Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-09-30 10:31] #22794 closed

[2022-09-30 11:00] Akash3221 commented on #24021
@navba-MSFT thanks for the help its working!

[2022-09-30 12:45] pamelafox commented on #18298
I am experiencing this issue as well, it is nearly impossible to read the text. I didn't even realize there'd be a command to change the colors, as I've never had to do that with other CLI tools, so I didn't go looking. I did just do a web search now for what I might have searched, and it looks like I wouldn't have found the right command anyway.

I am on a Mac OS X, which defaults to a white term

[2022-09-30 12:50] sycured commented on #23581
@panchagnula Thank you so moving to the Rust SDK for the Rest API

[2022-09-30 14:59] tphilley commented on #24063
Have an update - we tried replicating this issue in a different environment but could not replicate the error. For the workspace that is having issues, we are using a custom docker image pulled from Artifactory for the command job and there is no Azure Container Registry connected to the workspace (denied by policy).

[2022-09-30 15:32] angryconsultant commented on #24047
Its running in a Microsoft Hosted DevOps Pipeline

[code]

[2022-09-30 15:48] navba-MSFT commented on #24021
@Akash3221 Thanks for getting back. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-09-30 15:48] #24021 closed

[2022-09-30 16:19] #23743 closed

[2022-09-30 16:26] sijucm opened #24074 "what does this mean? "Attach local standard output and error streams to a container in a container group.""
Not clear what exactly happens with that command. Just one sentence. So, does it mean that I can see the logs and errors of the container in the local command line where it is executed from?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 2e5d1da7-7c4f-c9e6-e4b9-a30407675acf
* Version Independent ID: ba32e12d-8283-f980

[2022-09-30 17:12] tyler-uipath commented on #23428
This happens for our org quite frequently now.  We have deployments for individual dev environments that we use often.

In the pipeline we create new key vaults and then later in our pipeline check to see if the pipeline exist with:
`az keyvault list --subscription <sub> --resource-group <rg>`  (which returns [] just as @mmckechney describes).

Occasionally, it will immediately update and return t

[2022-09-30 17:21] tylercarper commented on #23428
In our org, we are hitting this quite frequently.  We have a pipeline for putting up dev clusters that creates keyvaults in one step and later verifies existence with `az keyvault list`.

We create the keyvault (into an also newly created resourceGroup) with:
`az keyvault create --name $keyVaultName --resource-group $resourceGroupName --location $configLocationName`

Later we run and see exactly t

[2022-09-30 17:46] tylercarper commented on #23428
@navba-MSFT what is the proper protocol to re-open this ticket?  I thought maybe i'd ask instead of creating a dupe...

Thanks!

[2022-09-30 18:32] deeksha345 opened #24075 "I need a PR approval"
I need an approval for a PR I created for cli changes - [K8s extension/release 1.3.6 by deeksha345 · Pull Request #5406 · Azure/azure-cli-extensions (github.com)](https://github.com/Azure/azure-cli-extensions/pull/5406)
The people who are assigned to this PR are OOF till Oct 7th but I have a customer waiting on this change and so would like to get this merged ASAP.

[2022-09-30 22:41] yonzhan commented on #24075
route to CXP team

[2022-09-30 22:42] yonzhan commented on #24074
route to CXP team

[2022-09-30 22:45] rkhan1971 commented on #23475
Exactly same issue I am facing. Getting ...
Merged "nprd-blahblah-aks-admin" as current context in C
Instead of Merged "nprd-blahblah-aks-admin" as current context in C:/Users/userId/.kube

[2022-10-01 08:01] #23824 closed

[2022-10-01 08:01] #23561 closed

[2022-10-01 08:56] geidans commented on #16617
Same here. Managing servers where Azure CLI needs updating is nightmare - cannot be automated.

[2022-10-02 07:30] dcurwin commented on #21099
@amirkeren  - Any updates?

[2022-10-02 15:27] amirkeren commented on #21099
@dcurwin reached out to the owners for update

[2022-10-03 02:50] navba-MSFT commented on #24075
@deeksha345 Thanks for reaching out to us and reporting this issue. I see that you have closed [this](https://github.com/Azure/azure-cli-extensions/pull/5406) PR now.  Do you still need any assistance on that PR or not ? Awaiting your reply.

[2022-10-03 02:59] navba-MSFT commented on #24074
@sijucm Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-03 04:02] navba-MSFT commented on #23965
@mfmalto The action is currently pending on you to share the error details that you are getting while authenticating ? Please feel  free to reopen this thread once you have these details. We would be happy to help.

[2022-10-03 04:02] #23965 closed

[2022-10-03 04:09] navba-MSFT commented on #23970
@OZZYTA The action is currently pending on you to update the `spring` extension using the above command. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-10-03 04:09] #23970 closed

[2022-10-03 04:11] navba-MSFT commented on #23997
@subhasishdc Thanks for your reply. I shall wait for the updates from you.

[2022-10-03 04:26] navba-MSFT commented on #24014
@clguo-tw The action is currently pending on you to try the above action plan. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-10-03 04:26] #24014 closed

[2022-10-03 04:33] navba-MSFT commented on #24050
@twalker45106 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Could you please share the path here ? So that I can try to do a repro at my end. Awaiting your reply.

[2022-10-03 04:40] navba-MSFT commented on #24066
@Mleng89 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-10-03 05:03] navba-MSFT commented on #24064
@vhhughes I am able to reproduce this issue at my end. This PR https://github.com/Azure/azure-cli/pull/21398 was filed to address this issue previously. But seems like the issue still exist. I am discussing this with the product owners. We have no ETA for the fix just yet.

Until the fix is released please use the below AzCLI command to address this issue:

Hope this helps.

**cc: @panchagnula**

[2022-10-03 05:27] navba-MSFT commented on #24074
@sijucm The [az container attach](https://learn.microsoft.com/en-us/cli/azure/container#az_container_attach) command provides diagnostic information during container startup. Once the container has started, it streams STDOUT and STDERR to your local console.

Refer to the description and example [here](https://learn.microsoft.com/en-us/azure/container-instances/container-instances-get-logs#attach-

[2022-10-03 09:24] Talhasaleem110 opened #24080 "Te"
**Related command**

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

bb3573d0bc628adb674d0ff383d4cf19e541375a

[2022-10-03 09:25] #24080 closed, assigned to nobody

[2022-10-03 09:40] dilip-yadav05-deloitte opened #24081 "az policy assignment issues"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`a
![error](https://user-images.githubusercontent.com/110810895/193546932-9cee9635-43ef-4f62-9488-f591546aa677.png)
z policy assignment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive inf

[2022-10-03 10:45] yonzhan commented on #24081
@zhoxing-ms for awareness

[2022-10-03 10:50] #23816 closed

[2022-10-03 12:51] rushikeshdd28 opened #24082 "Error in commnad az aks start"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks start`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks start --name {} --resource-group {}`

## Expected Behavior

## Envir

[2022-10-03 13:43] tsela opened #24083 "`az aks install-cli` causes "Connection reset by peer" on 18.04 Ubuntu VM"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

After installing the Azure CLI without a problem, I'm trying to install the AKS CLI as I need the `kubectl` command up and running. But running the installation command errors out.

**Command Name**
`az aks install-cli`

Run with `sudo` as needed in Linux.

**Errors:**
[code]

## To Reproduce:
Steps to reprodu

[2022-10-03 15:23] Starimmigrant opened #24084 "az login TimeoutError: [WinError 10060]"
## Describe the bug
I tried authenticating with az login but it doesn't seem to work. There is an timeoutError everytime I try to login! I don't use any proxies and just followed the instructions from Microsofts installation guide and installed the azcli with the msi-package. A browser is installed but with or without the operator "--use-device-code" the command will timeout. I also tried to use i

[2022-10-03 15:32] vmagelo commented on #23881
Okay, but First of all, if I'm looking at update command, and maybe as a user I won't think to look at create command. Or put link from one to the other if create command has more info.

Second, I tried that and my point was that I *think* the special text "AllowAllWindowsAzureIps" is needed or else it just doesn't work. If you tried it and see it work, then I'll consider it my error. Thanks!

[2022-10-03 15:44] sijucm opened #24085 "Sentence takes time to understand "Create a new event subscription for an Azure subscription subscription, using default filters.""
The page has a sentence that says `Create a new event subscription for an Azure subscription subscription, using default filters.`
That could be made easier to say, "Create a new event-subscription for Azure Subscription"

---
#### Document details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 63e73e1b-aad9-0ce8-be1f-a9b9d02ca6d4
* Version Ind

[2022-10-03 15:52] yonzhan commented on #24082
route to CXP team

[2022-10-03 16:12] yonzhan commented on #24083
route to CXP team

[2022-10-03 16:13] yonzhan commented on #24084
Please go through this issue and see if it helps
https://github.com/Azure/azure-cli/issues/21514

[2022-10-03 16:13] #24084 closed

[2022-10-03 16:14] yonzhan commented on #24085
route to CXP team

[2022-10-03 16:42] rajana opened #24086 "Unable to use 'az webapp auth update' to set 'unauthenticatedClientAction as RejectWith404"
I'm trying to use below command to set unauthenticatedclientaction
 **az webapp auth update --name<name> --resource-group<rg> --unauthenticated-client-action RejectWith404**

but it always sets it to RedirectToLoginPage.

My azure cli version is 2.38.

Any help will be appreciated

[2022-10-03 18:49] Starimmigrant commented on #24084
thanks for the quick response but as you can see in the "Additional context" my network connection works fine. Ping also works without any problems

[2022-10-03 19:00] subhasishdc commented on #23997
@navba-MSFT: Checked using the `Get-AzVirtualNetworkUsageList` PS cmdlet

`Name         : Subnet size and usage
Id           : /subscriptions/xyza/resourceGroups/aag-rg/providers/Microsoft.Network/virtualNetworks/aagVnet/subnets/AAG1Subnet
CurrentValue : -1
Limit        : -1
Unit         : Count`

Why it displays the negative I do not know.

However, the other subnets within the Vnet show their co

[2022-10-03 19:17] edgex004 commented on #22325
I have also encountered this same error with `az login`

Fedora 5.17.5-300.fc36.x86_64
Python 3.10.7
pip 21.3.1

azure-common==1.1.25
azure-core==1.8.2
azure-identity==1.4.1
azure-keyvault-secrets==4.2.0
azure-storage-blob==12.5.0

[2022-10-03 19:33] SaurabhSharma-MSFT commented on #23364
@kiweezi We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-10-03 19:33] #23364 closed

[2022-10-03 19:41] tiregan opened #24087 "Gallery 2022_03_03 Changes"
# Related command

az sig image-version
az sig share

# Resource Provider

Az.Compute

# Description of Feature or Work Requested

Need to update to include changes in latest Swagger release: https://github.com/Azure/azure-rest-api-specs/pull/20396

# Minimum API Version Required

2022-03-03

# Target Date

10/14

# Description of changes and examples

Regional exludeFromLatest flag
See [Gallery.j

[2022-10-03 20:54] johnem-msft opened #24088 "Error when deleting Resource Locks via az lock delete galleries/GALLERYNAME/images/IMAGEDEF/verions/n.n.n"
### **This is autogenerated. Please review and update as needed.**

When attempting to delete a resource lock created successfully from the Portal for an image definition version, an error is encountered:
az resource lock delete --resource-name /subscriptions/<SUB-ID>/resourceGroups/RESOURCE-GROUP/providers/Microsoft.Compute/galleries/GALLERY-NAME/images/IMAGEDEF-NAME/versions/n.n.n.n/providers/Mi

[2022-10-03 23:38] saisankargochhayat commented on #23880
Also facing the same issue, looking forward to the next release fixing this issue!

[2022-10-04 00:38] yonzhan commented on #24086
route to CXP team

[2022-10-04 00:43] yonzhan commented on #24087
Compute feature

[2022-10-04 00:44] yonzhan commented on #24088
@zhoxing-ms for awareness

[2022-10-04 00:46] yonzhan commented on #23880
https://github.com/Azure/azure-cli/milestone/122  Build to Cloud Shell: 10/10/2022 Official Release: 10/12/2022

[2022-10-04 03:22] Jamie-Clayton opened #24089 "Creating Contributor role security policy fails (github action configuration)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Attempting to create the security credentials required to publish a static website from GitHub via Microsoft learning resources.

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain

[2022-10-04 03:57] navba-MSFT commented on #24082
@rushikeshdd28 Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-04 03:58] navba-MSFT commented on #24083
@tsela Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-04 04:01] navba-MSFT commented on #24085
@sijucm Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-04 04:25] navba-MSFT commented on #23997
@subhasishdc Thanks for getting back. I am glad that the PS cmdlet is showing the right count in numbers.
If your `AAG1Subnet` subnet has `availability dependent on dynamic use ` then you will get the` CurrentValue : -1`  and `Limit : -1`. This is expected.

[2022-10-04 04:46] navba-MSFT commented on #24025
@digitalkram I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any recent occurrence of the issue. If yes, Please share the` --debug `output. Awaiting your reply.

[2022-10-04 04:52] navba-MSFT commented on #24043
@sanu-hack I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-10-04 04:56] sanu-hack commented on #24043
Hello,
Thanks for your response.when I tried to upgrade my cli version there was
an peer certificate issue that is not allowing me to connect over the
internet. Trying to get it resolved now .

Regards,
Saravana Kumar B

On Tue, 4 Oct 2022 at 10:22 AM, navba-MSFT ***@***.***> wrote:

[2022-10-04 04:58] navba-MSFT commented on #24043
@sanu-hack Thanks for getting back. Please keep me posted about the update.

[2022-10-04 05:55] navba-MSFT commented on #24066
@Mleng89 Thanks for your reply. Did you try running the command with `sudo` ?

Please let me know if this helps.

In the meantime, I am also checking with the AzCLI team, if there are any command switch / parameter available to _force upgrade_ and override the system level extension ? I will keep you posted.

[2022-10-04 06:20] navba-MSFT commented on #24083
@tsela Looking at the error message, it seems like a network layer connectivity failure. Do you have a proxy / firewall within your corporate network ? If Yes, could you please bypass that and run the AzCLI command again ?

Alternatively, The following methods exist for installing _`kubectl on Linux`_:

- [Install kubectl binary with curl on Linux](https://kubernetes.io/docs/tasks/tools/install-ku

[2022-10-04 06:25] subhasishdc commented on #23997
@navba-MSFT : That makes sense, thank you. Also, did you get a chance to figure out what's wrong with the `list-available-ips` output.

[2022-10-04 06:35] navba-MSFT commented on #24082
@rushikeshdd28 This seems like a known issue of MSAL. So as an action plan, you may try to clear the credential cache and re-login:
[code]
Please let me know if you still face the same issue after running this command. I would be happy to assist you further. Awaiting your reply.

[2022-10-04 07:03] sdg002 commented on #23998
Upvoted.  I hope I will not have to chase 2 separate teams inside MS to get this done.

[2022-10-04 07:19] RyanS-J commented on #24048
@robnotley - Have you got the content of the JSON file, does this validate?

[2022-10-04 07:39] robnotley commented on #24048
Is there any update on this support request?

[2022-10-04 07:41] robnotley commented on #24048
Yes this validates

[2022-10-04 08:02] #23772 closed

[2022-10-04 08:44] ncook-hxgn opened #24091 "docs spell parameter name wrong"
az repos pr create

It's --organisation, not --org

According to my error logs

Please fix docs

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 1e48ddaa-64b8-e414-7ea9-2746827fcc5f
* Version Independent ID: 952f1742-6d3b-a177-a2e0-164b563c1771
* Content: [az repos pr](https://learn.microsoft.com/en-us/cli/azure/repos/p

[2022-10-04 08:51] yonzhan commented on #24089
@jiasli for awareness

[2022-10-04 09:01] yonzhan commented on #24091
route to CXP team

[2022-10-04 10:57] Candelit opened #24093 "az network application-gateway create and specifying subnet + vnet creates new vnet and subnet"
The following

az network application-gateway create \
     --subnet $SUBNET_NAME \
    --vnet-name $VNET_NAME \
    --and all the other parameters...

When pointing to an existing vnet and existing subnet, it still creates a new vnet and subnet in the same rg as the app gateway.
The prefix of the new subnet is set to 10.0.0.0/24
This can not be the expected behavior?

After creating the app gatew

[2022-10-04 11:28] tsela commented on #24083
@navba-MSFT Yes, we have a firewall within the corporate network. My VM is set up to use the corporate proxy, and pretty much everything works fine that way. Unfortunately, I cannot bypass the proxy. If I do so, Zscaler takes over instead, and my VM can't connect to the Internet with Zscaler running.

I'll try the alternative installation methods you provide and will update afterwards.

[2022-10-04 12:03] zagruby opened #24094 "costmanagement InstanceID and PreTaxCost - invalid datasets"
[Enter feedback here]
the cli commands:
`az costmanagement export create --name "TestExportCLI" --type "Usage" --dataset-configuration columns="Date" columns="MeterId" columns="ResourceLocation"...`
are returning error saying that columns InstanceID and PreTaxCost are invalid datasets,

Removing that columns from command seems to fix the issue. this is full message I got:

`Code: 400
Message: Requ

[2022-10-04 12:38] dorocri opened #24095 ""az vm run-command create" - is not uploading the output to the "output-blob-uri" anymore"
az vm run-command create
        --name $name
        --vm-name $vm_name
        --resource-group $rg
        --script $script
        --output-blob-uri $output

I used this command to execute, remotely,  a script on a VM and upload the output to a Blob Storage, this solution worked properly for the past 4 months but something happened and for the past 2 weeks the upload to the --output-blob-uri i

[2022-10-04 12:43] Sreejamuppalla opened #24096 "az create error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group create --location {} {} {} --name {}`

## Expected Behavior

##

[2022-10-04 12:56] tsela commented on #24083
OK, so I managed to install both `kubectl` and `kubelogin` via Homebrew. Does the `az aks install-cli` do anything else I need to do separately?

[2022-10-04 13:50] yonzhan commented on #24093
@necusjz for awareness

[2022-10-04 13:53] yonzhan commented on #24095
@zhoxing-ms for awareness

[2022-10-04 13:54] yonzhan commented on #24096
@zhoxing-ms for awareness

[2022-10-04 14:01] EmilDamsbo commented on #23890
This has had me fixing infrastructure code on so many release branches in different repositories. Please, for the love of all that is good. Fix this issue with 2.41 so I don't have to go and fix even more stuff when it inevitably breaks on an older branch which needs hotfixing.

[2022-10-04 14:07] EmilDamsbo commented on #23890
@yonzhan will this be done in such a way that the workaround mentioned in this thread will still work? So both these snippets would perform the same:

 and

Example courtesy of @Jawz84

[2022-10-04 14:43] #23671 closed

[2022-10-04 14:47] PramodValavala-MSFT commented on #23998
@sdg002 Thanks! Since this is more of a service side request, once supported there, it should come down to the clients as well. Closing this to prevent duplicate discussions.

[2022-10-04 14:47] #23998 closed

[2022-10-04 14:50] #23925 closed

[2022-10-04 16:25] Jawz84 commented on #23890
Thank you for taking this up and informing us.

[2022-10-04 17:30] panchagnula commented on #23840
The set command doesn't support that as first class property, the ask was to use --settings which can take a key value pair or a JSON file with the properties to be set
https://learn.microsoft.com/en-us/cli/azure/functionapp/config/appsettings?view=azure-cli-latest#az-functionapp-config-appsettings-set

[2022-10-04 18:55] WattsInABox commented on #20980
This feature technically uploads something but it doesn't seem to be uploading my files correctly. Not sure if we should close this one and then open a new issue but when I do something to the effect of:

[code]

and then re-download the file, the file has:

[code]

For the first line and the xz program does not recognize the file. I have tried this with zst and other binary files and I can't seem

[2022-10-05 00:56] kunalwaghrayismyalias opened #24099 "az sig image-version --do-not-delete"
**Related command**

- No command exists
- Example syntax could be `az sig image-version --do-not-delete {true, false}` similar to soft-delete

**Is your feature request related to a problem? Please describe.**
We tried replicating sig image to new region. This request did not include all regions already replicated to, which caused an outage for our service. Setting this flag would prevent this.

[2022-10-05 00:59] yonzhan commented on #24099
@zhoxing-ms for awareness

[2022-10-05 01:28] JP-Ellis-KPMG commented on #18402
I have run into this issue myself recently.

We have some users who have privileges restricted to specific resource groups and do not have access to the subscription as a whole. These users are able to configure their Data Factory in their resource group perfectly fine if done through the web interface, but the corresponding configuration through the `az datafactory configure-factory-repo` fails w

[2022-10-05 07:14] Strandfelt opened #24101 "az servicebus namespace list fails in subscription with no namespaces"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When calling `az servicebus namespace list` in a subscription that does not contain any service bus namespaces, an error is returned instead of an empty array.

**Command Name**
`az servicebus namespace list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have

[2022-10-05 07:31] mcalthrop commented on #23925
@panchagnula @StrawnSC @zhoxing-ms Thank you for the fix!

[2022-10-05 08:02] #23855 closed

[2022-10-05 09:43] tsuiala opened #24102 "Unable to az login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login -u {}`

## Expected Behavior

## Environment Summary
[code]
## Additio

[2022-10-05 10:22] digitalkram commented on #24025
@navba-MSFT Sorry for the delay. Issue did not reoccur yet. I guess that might be related to the deletion of some flexible server instances. In case it happens again I'll reopen or reference this ticket along with debug output.

Thanks for your help so far!

[2022-10-05 10:22] #24025 closed

[2022-10-05 11:22] yonzhan commented on #24102
Similar to https://github.com/Azure/azure-cli/issues/21050. Please see https://github.com/Azure/azure-cli/issues/21050#issuecomment-1017922460 and try if interactive login works. If you can't use the browser-based interactive flow, such as in automation environment, the recommendation is to [sign in with a service principal](https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli#sign-in

[2022-10-05 11:22] #24102 closed

[2022-10-05 11:23] #22622 closed

[2022-10-05 11:23] yonzhan commented on #24101
route to CXP team

[2022-10-05 11:54] sanmai-NL commented on #23019
Why are the variables not substituted?

https://github.com/Azure/azure-cli/blob/9c648087e5e7bdc20dcefc595085b8180e66582e/src/azure-cli-core/azure/cli/core/auth/landing_pages/error.html#L9

[2022-10-05 11:56] nosvalds commented on #17880
This format does seem to work:

[code]

[2022-10-05 13:16] antgustech opened #24103 "After updating az cli az login crashes"
**Related command**
az login

**Describe the bug**
The browser opens automatically.  I click sign in on my account. The browser redirects saying login succesfully. CLI then throws error in python.
`➜ az login
A web browser has been opened at https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize. Please continue the login in the web browser. If no web browser is available or if the

[2022-10-05 14:15] yonzhan commented on #24103
@jiasli for awareness

[2022-10-05 14:32] im-konge opened #24104 "Deletion of ARO cluster is not working due to insufficient permissions - using ServicePrincipal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aro delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aro delete --name {} --resource-group {} -y`

## Expected Behavior

##

[2022-10-05 15:18] mdboom commented on #23015
(Greetings -- on the team working on Python 3.11 :wave:)

This seems to do the trick for me.  The workaround for that bug no longer seems to be required.

[code]

[2022-10-05 15:34] tgillitzer opened #24106 "HSM Backup/Restore Storage Behavior"
**Related command**

az keyvault backup start
az keyvault restore start

**Describe the bug**

I wasn't sure if this should be a bug or a feature.  My request is to make the behavior between backup and restore more user friendly.

Currently when you call az keyvault backup start, it returns folderUrl that the backup will be stored in.
However, when you call az keyvault restore start, you can't jus

[2022-10-05 15:51] major commented on #23015
Thanks, @mdboom! I'm giving this a try on 3.11.0rc2 in [Fedora's COPR](https://copr.fedorainfracloud.org/coprs/mhayden/azure-cli/build/4889463/). A quick test on my system looks good.

[2022-10-05 15:52] adrianparks opened #24107 ""az aks create" fails with error "400 Request Header Or Cookie Too Large""
**Related command**

az aks create

**Describe the bug**
`az aks create` fails with error "400 Request Header Or Cookie Too Large". We tried clearing cache and account details:

[code]
but the problem persists.

**To Reproduce**
az aks create -g my-rg -n my-cluster --debug

**Expected behavior**

See description.

**Environment summary**

We have observed this with azcli 2.40.0 on Linux (WSL), as

[2022-10-05 15:55] adrianparks commented on #24107
Debug logs (redacted):
[code]

[2022-10-05 16:57] vara2504 commented on #15717
i had the same issue.. it resolved once i deleted the az group which i created for previous project setup.

[2022-10-05 17:13] arindam0310018 opened #24108 "ERROR: TF400813: The user 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' is not authorized to access this resource."
Hello Team,

I am trying to create DevOps Service Connection (Type AzureRM) using Azure DevOps Pipelines.
When I am Creating manually running commands using Powershell, it works. But when I am putting it as a Powershell Pipeline Task (In line Script), it throws the below Error:-
ERROR: TF400813: The user 'aaaaaaaa-aaaa-aaaa-aaaa-aaaaaaaaaaaa' is not authorized to access this resource.

Here goes t

[2022-10-05 20:10] indirect commented on #21846
This bug is not fixed, and should not have been closed by #21983. You can still reproduce it using the reproduction steps in the original post.

[2022-10-05 20:39] trindels opened #24112 "[az 2.40.0] Cannot Create New App Service Plan with existing Zone Redundant App Service Environment"
## Cannot create new App Service Plan with existing Zone Redundant App Service Environment

**Command Name**
`az appservice plan create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Existing Zone Redundant App Service Environment
- `az appservice plan create --resource-group {} --n

[2022-10-05 22:13] #24075 closed

[2022-10-05 22:13] deeksha345 commented on #24075
Hi yes sorry I do not need that PR to be merged I will be opening another PR with more recent updates which will need approval!

[2022-10-05 23:17] johnem-msft commented on #24088
Update:

We are successfully with the following PowerShell Command - can we have the syntax for the az cli equivalent please?

New-AzResourceLock -LockLevel CanNotDelete -LockName LOCKSIGVERSION -ResourceName "AZCOMPUTEGALLERY/IMAGEDEF2/1.1.1" -ResourceType "Microsoft.Compute/galleries/images/versions" -ResourceGroupName UKSOUTH

[2022-10-05 23:23] yonzhan commented on #24104
route to CXP team

[2022-10-05 23:25] yonzhan commented on #24106
@evelyn-ys for awareness

[2022-10-05 23:29] yonzhan commented on #24107
route to CXP team

[2022-10-05 23:29] yonzhan commented on #24108
route to CXP team

[2022-10-05 23:40] yonzhan commented on #24112
route to CXP team

[2022-10-06 02:24] jiasli commented on #24103
It is not related to Azure CLI 2.40.0. It seems your token cache `~/.azure/msal_token_cache.json` has been corrupted, possibly by manual alternation or forcefully closing Azure CLI. Please delete that file and run `az login` again.

[2022-10-06 02:25] jiasli commented on #23155
Related: https://github.com/Azure/azure-cli/issues/21848

[2022-10-06 02:28] jiasli commented on #23805
https://github.com/Azure/azure-cli/issues/23805

[2022-10-06 02:30] jiasli commented on #20375
Seems to be the same problem as https://github.com/Azure/azure-cli/issues/21848

[2022-10-06 02:30] #20375 closed

[2022-10-06 02:38] jiasli commented on #24089
This is not the scope of Azure CLI, but PowerShell.

Your `$resourceScope` is a JSON object, not string.

[code]

Make sure `$resourceScope` is a string like `/subscriptions/8a5a8fe8-3456-4d6e-a0ad-5e9938fd8a0e/resourceGroups/Jenasys-DevOps` before passing to Azure CLI:

[code]

[2022-10-06 02:38] #24089 closed

[2022-10-06 03:15] evelyn-ys commented on #24056
If you are using no-standard storage account url, please try this workaround:
[code]

We would allow passing both `--account-name` and `--blob-url` in next version which will include https://github.com/Azure/azure-cli/pull/23832

[2022-10-06 03:24] navba-MSFT commented on #24075
@deeksha345 Once you file the PR, please let us know, I will reach out to the concerned assignee for the review and approval.

[2022-10-06 03:28] Kon-formity commented on #22598
Hi there - just checking on the status of this fix?

[2022-10-06 03:31] navba-MSFT commented on #24096
@Sreejamuppalla Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-06 03:31] navba-MSFT commented on #24101
@Strandfelt Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-06 03:37] navba-MSFT commented on #24108
@arindam0310018 Removing CXP attention label and adding the Service team to assist on Devops issue.

@v-anvashist, @V-hmusukula Could you please look into this and provide an update ? Thanks in advance.

[2022-10-06 04:47] navba-MSFT commented on #24050
@twalker45106 The action is pending on you to provide us your `--src-path` so that we can try to recreate the issue at our end. Please feel free to reopen this thread with these details and we would be happy to help.

[2022-10-06 04:47] #24050 closed

[2022-10-06 04:48] navba-MSFT commented on #24064
@vhhughes I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-10-06 05:05] navba-MSFT commented on #24083
@tsela There is no issue with the above AzCLI command. It does work fine. I have tried that in my enviornment and it installed the kubectl successfully. However, in your scenario with the proxy in picture there was issue in establishing the connection. AzCLI (uses python) underneath and has restriction while working with proxy. So there are a few additional configuration needs to be done. That is

[2022-10-06 05:05] #24083 closed

[2022-10-06 06:39] jiasli opened #24114 "PowerShell stop-parsing token `--%` stops working since Azure CLI 2.40.0"
**Describe the bug**
Before Azure CLI 2.40.0, PowerShell [stop-parsing token `--%`](https://learn.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_parsing?view=powershell-7.2#the-stop-parsing-token) can be used to bypass PowerShell's parsing. However, it stops working since Azure CLI 2.40.0 because of entry script's migration to `az.ps1` (https://github.com/Azure/azure-c

[2022-10-06 06:40] #24114 closed

[2022-10-06 06:41] rayluo commented on #23805
If this is reproducible, we will need to inform the service team.

[2022-10-06 06:52] abdulmohsin opened #24115 "Not able to login ( az login)"
The command failed with an unexpected error. Here is the traceback:
0. The ID token is not yet valid. Make sure your computer's time and time zone are both correct. Current epoch = 1664542609.  The id_token was: {
  "aud": "04b07795-8ddb-461a-bbee-02f9e1bf7b46",
  "iss": "https://login.microsoftonline.com/f8cdef31-a31e-4b4a-93e4-5f571e91255a/v2.0",
  "iat": 1665037526,
  "nbf": 1665037526,
  "exp"

[2022-10-06 08:33] yonzhan commented on #22598
Will be shipped on October 12th

[2022-10-06 08:34] navba-MSFT commented on #24096
@Sreejamuppalla I just ran the below command and my resource group was created successfully. Could you please try the same and let me know ?

Hope this helps.

[2022-10-06 08:36] yonzhan commented on #24115
Duplicate of https://github.com/Azure/azure-cli/issues/20388

[2022-10-06 08:37] eeepmb commented on #16583
This post is open for a while but it seems things haven't changed yet.
While going through [this tutorial](https://learn.microsoft.com/en-us/azure/cosmos-db/mongodb/how-to-setup-rbac#azure-cli-setup) I found `--capabilities EnableMongoRoleBasedAccessControl` but when going further into the docs there is no additional information found.
A full list of valid options would be highly appreciated.

[2022-10-06 09:26] robnotley commented on #24048
Is there any update on this support request?

[2022-10-06 10:04] Apholisha opened #24116 "az afd security-policy update fails with "(BadRequest) Domain 'customdomain' not attached to this AFDX profile.""
## Describe the bug

Cannot update the security policy associations with custom domains.
Used to work on 2.30.

If I pass just one ID - it works. Problem is when you try to pass multiple IDs.
I tested with passing it the ones that are already associated with it, just to make sure I'm not passing incorrect values and it fails with " Domain 'customdomain' not attached to this AFDX profile." which is

[2022-10-06 12:52] yozik04 opened #24117 "Installation script needs to be fixed for ARM64"
Mistake is here:
https://github.com/Azure/azure-cli/blob/c92d0d0048d3f4f1435a4263bcf6583c34880cee/scripts/release/debian/deb_install.sh#L84

It should not be hardcoded for amd64

[2022-10-06 13:31] l4rd commented on #24095
I'm not sure that this is limited to the CLI as I am getting the same problem with a resource group deployment from bicep.

[2022-10-06 14:37] yonzhan commented on #24117
ARM64 related

[2022-10-06 15:06] jaylabell commented on #18226
@rjmccallumbigl - @haagha is looking into this!

[2022-10-06 15:06] mdboom opened #24119 "Python 3.11 compatibility metabug"
Python 3.11 has significant performance improvements over 3.10, and it would be great if Azure CLI could take advantage of those.

Getting Azure CLI compatible with Python 3.11 will require coordinating a few tasks among a number of repos, both internal and external.  I'm creating this metabug to keep track of them.  The checklist below will be updated as I discover more things.

(I'm on the CPyth

[2022-10-06 15:18] jennyhunter-msft commented on #23898
This is by design.

From our [public documentation:](https://learn.microsoft.com/azure/azure-resource-manager/management/resource-name-rules)
"When using various APIs to retrieve the name for a resource or resource group, the returned value may have different casing than what you originally specified for the name... Always perform a case-insensitive comparison of names."

This is because we preser

[2022-10-06 15:18] #23898 closed

[2022-10-06 16:49] jvilimek commented on #23898
@jennyhunter-msft thanks for the answer. I am a bit confused, can you please explain more? The documentation you mentioned is related to **resource name**  (or resource group name). Now the bug I have described is about Application Insights **properties**.name and ApplicationId. When I check the Azure portal, the resource itself has still the name with the old casing, but when we run the kusto que

[2022-10-06 17:02] jennyhunter-msft commented on #23898
That's interesting. I don't see a properties.name in the [REST API schema](https://learn.microsoft.com/rest/api/application-insights/components/get?tabs=HTTP) for that resource type. Only the top-level "name" property which should be the resource name.

[2022-10-06 17:18] bennimoser opened #24120 "AZ Login Bug"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior
Login
## Environment Summary
[code]
## Addition

[2022-10-06 17:47] #24120 closed

[2022-10-06 20:49] yonzhan commented on #24119
@jiasli for awareness

[2022-10-06 20:59] deeksha345 commented on #24075
@navba-MSFT this is the new PR with the latest changes - https://github.com/Azure/azure-cli-extensions/pull/5424

[2022-10-06 21:20] subhasishdc opened #24122 "az cli commands in documentation to change subnet for an existing Application Gateway does not work (Error: ApplicationGatewayFrontendIpSubnetCannotBeDifferentFromGatewaySubnet)"
The following link mentions the `az cli` commands to change the subnet for an existing Application Gateway. We tried it out at our end and looks like there are some missing components to these commands. Can you please validate at your end and update the documentation accordingly.

https://learn.microsoft.com/en-us/azure/application-gateway/application-gateway-faq#can-i-change-the-virtual-network-o

[2022-10-06 21:24] Jamie-Clayton commented on #24089
@jiasli thanks for clarifying my mistake with the Powershell script. I've updated the logic on the last line to ensure I convert the $resourceScope object to a string variable required for the CLI --scopes parameter.
Chaining together all the Az CLI examples for a full automation script is an entertaining Powershell skills uplift.

[code]

[2022-10-06 21:34] yonzhan commented on #24122
network

[2022-10-06 22:18] thisisanniefang commented on #23957
@yonzhan just checking in - any ETA for when the new parameter will be ready?

[2022-10-06 22:26] SaurabhSharma-MSFT commented on #24091
@ncook-hxgn I can be either `--org` or  `--organization`.  I have tested this, and I do not see any errors.
![image](https://user-images.githubusercontent.com/38112130/194429834-006a0c68-6a10-4bc3-886f-cbda813c2ad4.png)

[2022-10-06 23:00] alimeysam opened #24124 "az upgrade in sandbox doesn't work"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I got the issue in "module/describe-core-architectural-components-of-azure/4-exercise-explore-learn-sandbox", while trying to run az upgrade in bash CLI mode, but it provided the following error
**Command Name**
`az extension update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note th

[2022-10-07 00:34] ureridu opened #24125 "Add Asn Param to az vhub & vpn-gateway create/update commands"
### Related command

az network vhub create
az network vhub update
az network vpn-gateway create
az network vpn-gateway update

### Resource Provider

Microsoft.Network

### Description of Feature or Work Requested

uint VirtualRouterAsn param needs to be added to the below commands as an optional parameter
az network vhub create
az network vhub update

uint Asn param needs to be added to the belo

[2022-10-07 02:35] yonzhan commented on #24124
az upgrade

[2022-10-07 02:37] yonzhan commented on #24125
network feature

[2022-10-07 03:01] navba-MSFT commented on #18402
@yonzhan This is an old thread (2021), so removing the CXP attention label and adding Service attention label.

[2022-10-07 03:02] navba-MSFT commented on #18402
@Jingshu923, @zhangyd2015, @Frey-Wang Could you please look into this and provide an update ? Thanks in advance.

[2022-10-07 03:31] navba-MSFT commented on #24101
@Strandfelt Until the fix is released, could you please run the below command? This should show an empty array if there are no namespaces in the subscription and doesn't fail with TypeError exception.

Hope this helps.

[2022-10-07 03:38] navba-MSFT commented on #24082
@rushikeshdd28 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-10-07 03:47] navba-MSFT commented on #24066
@Mleng89 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-10-07 03:50] navba-MSFT commented on #24043
@sanu-hack I wanted to do quick follow-up to check if you had a chance to look into this. Please let us know if you had any updates. Awaiting your reply.

[2022-10-07 05:10] navba-MSFT commented on #23997
@subhasishdc Thanks for your reply. Regarding the` list-available-ips` output, it is mentioned in the documentation itself that it
  _List **some** available ips in the subnet._  see [here](https://learn.microsoft.com/en-us/cli/azure/network/vnet/subnet?view=azure-cli-latest#az-network-vnet-subnet-list-available-ips).

![image](https://user-images.githubusercontent.com/57353862/194470687-376cb02a-

[2022-10-07 06:49] subhasishdc commented on #23997
@navba-MSFT : Thank you for the explanation. I get that part. However, the initial query remains the same.

Does `list-available-ips` shows some of the free and available ip addresses in the subnet. If yes, then the output is incorrect because it shows 5 ip addresses whereas only 3 should be free and available. On the other hand, if it displays some of the ip addresses in the subnet regardless of

[2022-10-07 07:22] jodem commented on #24095
This breaks lots of automated system on our company, please fix asap

[2022-10-07 08:02] #23868 closed

[2022-10-07 08:13] necusjz commented on #23957
@thisisanniefang You can track it by the right "Milestone", it means we plan to deliver it in 11/01/2022.

[2022-10-07 08:23] kairu-ms commented on #24046
Hi @famemo-paasdev, did you try the latest version (2.40.0) of azure-cli?

[2022-10-07 09:24] ncook-hxgn commented on #24091
Indeed, it was spelled correctly. I got the error `--organisation must be supplied` even though I was supplying an organisation, but it turns out my organisation wasn't a URL. Bit of a misleading error message, but probably not a docs issue.

[2022-10-07 09:24] #24091 closed

[2022-10-07 09:43] rushikeshdd28 commented on #24082
This did the trick & my cluster get started.
Thank you

[2022-10-07 09:43] #24082 closed

[2022-10-07 09:46] AjKundnani opened #24127 "CLI - Add Standard as SecurityType Option for backward compatibility"
### Related command

- [az vm create --name 'vmname' --resource-group 'vm-rgname' --security-type 'Standard'](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-create)
- [az vmss create --name 'vmssname' --resource-group 'rgname' --security-type 'Standard'](https://docs.microsoft.com/en-us/cli/azure/vmss?view=azure-cli-latest#az-vmss-create)
- [az disk create --name 'diskna

[2022-10-07 10:17] navba-MSFT commented on #24112
Adding Service team to assist

[2022-10-07 10:51] SushmithaVReddy commented on #23840
Hi @panchagnula , https://learn.microsoft.com/en-us/cli/azure/functionapp/config/appsettings?view=azure-cli-latest#az-functionapp-config-appsettings-set seems to set the appsettings which is part of site config https://github.com/Azure/azure-cli/blob/c1c805f5680f27b17412acf6fd53228b50edb8b2/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L3058 . We'd need an option where the site_conf

[2022-10-07 11:35] achilles-portarinos commented on #20319
Hello, any updates here? I want to download a blob container directory and then delete it. I cannot be sure if the download command has failed. Is there any workaround? Thanks!

[2022-10-07 12:23] angryconsultant commented on #24047
This might have been an issue caused by a encoding error of a dash in my code in the runbook. However it still a weird error message stating "Runbook draft is not in edit state" when there is such error.

[2022-10-07 13:01] yonzhan commented on #24127
Compute feature

[2022-10-07 13:02] michalfita commented on #20319
It's reported for 11 months. Then I'm stunned this bug is marked as a feature request.

[2022-10-07 13:49] v-soujanya commented on #24108
@arindam0310018 Are you facing this issue only in the above-mentioned pipeline task?

[2022-10-07 14:02] achilles-portarinos commented on #20319
"az storage fs directory" seems to have replaced this (there are some warnings about deprecation popping up. This seems to throw when failing. I personally used this instead. Hope this helps.

[2022-10-07 14:10] corwestermaniddink commented on #22229
@gildardogmsft Is this still the case, now Azure has amd64 support? Is still QEMU used within ACR when using build or buildx?

[2022-10-07 14:11] iddqdiddqd opened #24128 "`TypeError: begin_start() got an unexpected keyword argument 'no_wait'` in CI pipeline command `az ml compute start`"
**Related command**
[code]

After the command from above is run, the following error is returned:
[code]

The issue persists with `ml` v2 extension only. The same command executes successfully when running it with `ml` v1 extension installed.

**Expected behavior**
AML compute instance should be started, no python3 error should be returned.

**Environment summary**
Install Method: `curl -sL https:

[2022-10-07 14:18] BasSmuldersCZ opened #24129 "az group create does not create tags"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
The tags are not created with the az group create command, although they are specified in the --tags parameter

**Command Name**
`az group create --name 'name' --location 'location' --tags 'tags'`
 tags are specified as key value pairs as described in the documentation

**Errors:**
Because we have a tagging pol

[2022-10-07 14:56] yonzhan commented on #24128
route to CXP team

[2022-10-07 14:57] yonzhan commented on #24129
@zhoxing-ms for awareness

[2022-10-07 15:22] MacMcDell opened #24130 "upgrading from v3 to v4 azure function results in "custom~4" setting"
**Related command**
az functionapp config appsettings set --settings FUNCTIONS_EXTENSION_VERSION=~4 -g <RESOURCE_GROUP_NAME> -n <APP_NAME>
az functionapp config set --net-framework-version v6.0 -g <RESOURCE_GROUP_NAME> -n <APP_NAME>

**Describe the bug**
After running cli command to upgrade azure function, I get custom ~4 vs ~4
![image](https://user-images.githubusercontent.com/1512821/194587985-d

[2022-10-07 15:33] ceejoyce commented on #10066
Also seeing the same issue trying to add a keyvault reference using the CLI

`az version
{
  "azure-cli": "2.37.0",
  "azure-cli-core": "2.37.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "vm-repair": "0.4.3"
  }
}`

Only way I was able to do it was using this method:

[2022-10-07 16:17] aremo-ms commented on #23256
today is October 7, 2022, I still see this URI required when connecting with Public Client (WinUI)
thoughts?

[2022-10-07 23:29] Underdoge commented on #8467
Not sure if it's related, but my Azure app got deleted after I removed the "RunAsAccount" from an Automation Account because it was showing some errors... is that even possible? This is what I see in the Azure logs. I most certainly would never delete the app so I'm perplexed why would it get deleted by removing a "service principal" (which I also didn't do? I only removed the "RunAsAccount" from

[2022-10-08 00:23] yonzhan commented on #24130
route to CXP team

[2022-10-08 01:42] evelyn-ys commented on #20319
`az storage blob directory` is an old command and will be deprecated, pls use `az storage fs directory` instead

[2022-10-08 01:49] chicago7 commented on #23714
@Ochirkhuyag @zhoxing-ms @jiasli Is there any update? Thanks.

[2022-10-08 06:06] zhoxing-ms commented on #24088
@johnem-msft
Please use command `az resource lock delete -n {lock_name} --resource {image_version_name} -g {resource_group} --resource-type Microsoft.Compute/versions --parent galleries/{image_gallery_name}/images/{image_definition_name}` to delete locks on gallery image version

[2022-10-08 06:15] #19311 closed

[2022-10-08 06:34] #24085 closed

[2022-10-08 06:49] #23418 closed

[2022-10-08 07:41] bebound commented on #23990
`/usr/lib/python3/dist-packages/azure/` indicates that you are using the **unofficial** version.

Duplicate of https://github.com/Azure/azure-cli/issues/19502

[2022-10-08 08:38] #23936 closed

[2022-10-08 10:16] #23664 closed

[2022-10-08 12:19] #24074 closed

[2022-10-08 12:21] ryansan commented on #16203
Any update?

[2022-10-08 12:40] SAIKUMAR-MANDEPUDI commented on #23705
Hello Team. Can you please provide an update on this issue?

[2022-10-08 13:39] ElvenSpellmaker opened #24132 "`az aks update` - unrecognized arguments: --enable-oidc-issuer"
**Related command**
`az aks update --resource-group <rg> --name <name> --subscription <subid> --enable-oidc-issuer`

**Describe the bug**

**To Reproduce**
Above command

**Expected behavior**
It to enable the OIDC URL

**Environment summary**
Windows 10, Cygwin, az 2.40.0
[code]

**Additional context**
This Microsoft document states you need version 2.42.0 of the CLI tool which doesn't even exist

[2022-10-08 15:39] yonzhan commented on #24132
route to CXP team

[2022-10-08 20:54] ayoakpata opened #24133 "az login throws error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-10-08 22:26] Opeyemim commented on #19410
Thank you @martinstenhoff. Hopefully Microsoft looks into this. This error is a stumbling block for beginners trying to follow the Azure learn.microsoft track with limited knowledge about devops. Git for windows changed that experience for me.

[2022-10-08 23:59] yonzhan commented on #24133
Duplicate of https://github.com/Azure/azure-cli/issues/20231

[2022-10-08 23:59] #24133 closed

[2022-10-09 02:22] zhoxing-ms commented on #23714
Bad Gateway({"error":{"code":"InvalidGatewayCertificate","message":"The gateway certificate is invalid for 'Microsoft.Subscription'."}})

This is the problem of directly requesting REST, so I believe it should be a service issue. @Ochirkhuyag Could you confirm whether there is a problem with the China Cloud?

[2022-10-09 05:59] hengv opened #24134 "az login error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --use-device-code`

## Expected Behavior

## Environment Summary
[code

[2022-10-09 06:03] yonzhan commented on #24134
Duplicate of https://github.com/Azure/azure-cli/issues/20388

[2022-10-09 06:03] #24134 closed

[2022-10-09 06:37] WillyMoselhy commented on #23866
Adding my voice to please allow customizing the RDP session.

[2022-10-09 06:58] t-bzhan commented on #24116
Hi @Apholisha , as mentioned in this [issue](https://github.com/Azure/azure-cli/issues/23797#issuecomment-1238997338), Azure CLI is not designed to take a PowerShell array for space-separated values, it used to work by accident. You could use [splatting ](https://learn.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_splatting?view=powershell-7.2)to pass list as multiple

[2022-10-09 06:58] #24116 closed

[2022-10-09 07:22] zhoxing-ms commented on #24099
@kunalwaghrayismyalias This should be a new feature request, right?
It is recommended that you use this template [Service_team_request](https://github.com/Azure/azure-cli/issues/new?assignees=&labels=feature-request&template=Service_team_request.yaml) to create the feature request, because we need some important information such as min api-version, Swagger link, ETA...
Please refer to this issue #

[2022-10-09 07:25] pankajdevrani opened #24135 "In az cdn endpoint purge the --profile-name is not an optional parameter"
[Enter feedback here]
In az cdn endpoint purge the --profile-name is not an optional parameter, you are required to give either --profile-name or --ids parameter. Please update the doc page.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 17e2b3b2-3e26-a47f-ee80-5bd5c3b065c4
* Version Independent ID: 72ef6ca0-b8f6-4952-

[2022-10-09 08:09] valakhin opened #24136 "AzCLI support for SCOM MI manged instance operations"
Hi,

SCOM MI is a managed instance on Azure for monitoring workloads in both on-prem and Azure.  We are going for public preview this November 2022.  We will go for GA H1 next year.

We need CLI support for Controlplane operations on MI , the swagger is at https://github.com/Azure/azure-rest-api-specs-pr/tree/RPSaaSMaster/specification/scom/resource-manager/Microsoft.SCOM/preview

[2022-10-09 08:30] emepetres commented on #13143
Sorry for the late question: THis is still not possible from azure cli right?

[2022-10-09 08:30] yonzhan commented on #24135
route to CXP team

[2022-10-09 08:36] yonzhan commented on #24136
@jsntcy for awareness

[2022-10-09 09:24] #22682 closed

[2022-10-09 09:55] zhoxing-ms commented on #24127
@AjKundnani I'd like to ask is this feature also to be implemented in the next year's Event Sprint (May 2023)?
Therefore, after we modify the default value to enable Trusted Launch by default, users can pass in the `--security-type 'Standard'` to use Non-Trusted Launch VMs, right?

[2022-10-09 15:56] rayterrill commented on #16460
+1 coming from AWS this has been quite confusing

[2022-10-09 17:30] ayoakpata commented on #24133
forced TLS 1.2 to resolve the issue
[System.Net.ServicePointManager]::SecurityProtocol = [System.Net.SecurityProtocolType]::Tls12;

[2022-10-09 20:37] arindam0310018 commented on #24108
Hello @v-soujanya

Yes, I am facing issue with the above mentioned pipeline task.

**Below is pipeline Task snippet -**

# Create Service Connection in Az DevOps:-
    - task: PowerShell@2
      displayName: CREATE SERVICE CONNECTION IN DEVOPS
      inputs:
        targetType: 'inline'
        script: |
         az devops service-endpoint azurerm create --azure-rm-service-principal-id $(${{ parame

[2022-10-09 21:34] charlie2clarke commented on #8305
Has there been any progression with this issue? Currently experiencing the same problem.

[2022-10-10 01:39] RakeshMohanMSFT commented on #24135
@pankajdevrani Thank you for reaching out, we are looking into it.

[2022-10-10 01:40] RakeshMohanMSFT commented on #24132
@ElvenSpellmaker Thank you for reaching out, we are looking into it.

[2022-10-10 01:41] RakeshMohanMSFT commented on #24129
@BasSmuldersCZ Thank you for reaching out, we are looking into it.

[2022-10-10 02:34] jsntcy commented on #24136
Involve PM @Jacekey23 to help you go through APEX onboarding process.

[2022-10-10 02:53] necusjz commented on #23921
@brianlehr If my understanding is correct, are we planning to release GA this time? (Previously, we have been releasing Preview).

[2022-10-10 03:07] navba-MSFT commented on #24107
@adrianparks Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-10 03:10] brianlehr commented on #23921
This feature has been in GA since March 2022 :-)  These are additions to the already GA feature.

[2022-10-10 03:11] brianlehr commented on #23921
This feature has been in GA since March 2022 :-)  These are additions to the already GA feature.

[2022-10-10 04:06] navba-MSFT commented on #23997
@subhasishdc Thanks for your reply. I am adding the Service team to look into this ask and assist you further.

@aznetsuppgithub Could you please look into this ask and provide an update ? Thanks in advance.

[2022-10-10 04:19] navba-MSFT commented on #24043
@sanu-hack The action is currently pending on you to upgrade to the [most recent version ](https://learn.microsoft.com/en-us/cli/azure/update-azure-cli)of AzCLI. Please feel free to reopen this thread, if you still face the same issue after upgrading. We would be happy to help.

[2022-10-10 04:19] #24043 closed

[2022-10-10 04:25] v-anvashist commented on #24108
Hi @arindam0310018 We are suspecting this as permission/PAT token expired issue.

Could you please check are u able to run some another pipelines?

[2022-10-10 04:25] AjKundnani commented on #24127
@zhoxing-ms - I am in agreement, we should implement this feature request along with defaults change in Build Event 2023 sprint (May 2023).

[2022-10-10 04:28] navba-MSFT commented on #24064
@vhhughes Please try the below workaround for now and if you still face the same issue with the below command, feel free to reopen this thread. We would be happy to help.

[2022-10-10 04:28] #24064 closed

[2022-10-10 04:29] AjKundnani commented on #24127
@zhoxing-ms - Please confirm this is ok from CLI. In the API request, CLI users will not see any reference of `SecurityType=Standard` being sent, instead CLI will omit the **SecurityProfile** block in API request. Hope this is ok?

[2022-10-10 04:32] navba-MSFT commented on #24096
@Sreejamuppalla I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-10-10 04:33] navba-MSFT commented on #24101
@Strandfelt I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-10-10 04:37] navba-MSFT commented on #24066
@Mleng89 Did you get a chance to run the below command and then reinstall the extension and check if that helps ?

Awaiting your reply.

[2022-10-10 04:42] navba-MSFT commented on #23987
Adding Service team to look into this ask.

[2022-10-10 04:43] navba-MSFT commented on #23987
@toddysm, @luisdlp, @northtyphoon Could you please look into this issue and provide an update ? Thanks in advance.

[2022-10-10 05:09] navba-MSFT commented on #24107
@adrianparks We had a few customers reporting the same issue. So this issue was reported with the Product Group and they have fixed it in the background. Below is the RCA which they have shared:

Could you please try to recreate the AKS cluster and check if that works now? Awaiting your reply.

[2022-10-10 05:27] michael-crawford opened #24140 "Azure CLI needs a "text" variant of the --output argument - "tsv" is not enough!"
**Related command**
Azure commands need to have an `--output text` option, in addition to `--output tsv`. The latter leaves the '\r' and '\n' characters in place, and this causes problems when attempting to extract the command output and use it as a variable in following commands, or in interpolated strings, when using the Azure CLI in a bash or zsh shell on WSL2 or macOS.

**Is your feature reque

[2022-10-10 06:00] MayXuQQ commented on #23892
how about the progress of this issue ? thanks

[2022-10-10 06:08] yonzhan commented on #24140
@jiasli for awareness

[2022-10-10 06:38] zhoxing-ms commented on #24127
@AjKundnani Yes, it is feasible~

[2022-10-10 07:15] malt3 opened #24142 "Creating a SIG image definition with security type TrustedLaunchSupported fails"
## Describe the bug

**Command Name**
`az sig image-definition create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create SIG
- `az sig image-definition create --resource-group {} -l {} --gallery-name {} --gallery-image-definition {} --publisher {} --offer {} --sku {} --os-type Li

[2022-10-10 07:34] yanzhudd commented on #24095
We have reproduced this problem, and we found that the value of parameter `--output-blob-uri` is successfully passed in the service side. Thus, this problem may need service team to help to troubleshoot together.

Hello @D1v38om83r, could you please help to take a look about this problem? Here are some details of our request. Thanks!
![image](https://user-images.githubusercontent.com/105691024/194

[2022-10-10 08:01] Strandfelt commented on #24101
@navba-MSFT Yes, that command does indeed work without errors. Thanks.

[2022-10-10 08:30] navba-MSFT commented on #24101
@Strandfelt Thanks for getting back. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-10-10 08:30] #24101 closed

[2022-10-10 09:09] adrianparks commented on #24107
Thanks @navba-MSFT - all working fine now. Thanks for the resolution and for the analysis!

[2022-10-10 09:09] #24107 closed

[2022-10-10 09:13] necusjz commented on #23921
@brianlehr
A small question here: I saw the enum values for `commissionedState` in Swagger are as follows:
- https://github.com/Azure/azure-rest-api-specs/blob/611405a0f1cb5761fe273ec1691925e6b2669ced/specification/network/resource-manager/Microsoft.Network/stable/2022-05-01/customIpPrefix.json#L393-L402

But the valid values of it don't seem to match them:
![image](https://user-images.githubuserc

[2022-10-10 09:14] Frey-Wang commented on #18402
@navba-MSFT , Is the package updated to the latest version? Could you please help with the repro and provide the debug logs with `--debug` tag?

[2022-10-10 09:30] santo2 opened #24143 "how to make role definitinons for cosmos DB tables?"
Hi, this document helped me creating RBAC for our development testers using their AD account, although I can't seem to find the exact actions and role definition type for this for a CosmosDB Table?
- there isn't a similar article on tables as this article
- the list of operations described in https://learn.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftdo

[2022-10-10 09:43] MswPaulDSmith opened #24144 "Unable to run "az connectedk8s"; versions mismatch?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az connectedk8s connect`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az connectedk8s connect --group {} --name --subscription {}`

##

[2022-10-10 09:49] yonzhan commented on #24142
@zhoxing-ms for awareness

[2022-10-10 09:53] yonzhan commented on #24143
route to CXP team

[2022-10-10 09:54] yonzhan commented on #24144
route to CXP team

[2022-10-10 09:58] zhoxing-ms commented on #24142
@malt3 Could you please send the debug log *(add `--debug` parameter)* to me by email? My email address is Zhou.Xing@microsoft.com, thanks~

[2022-10-10 10:15] arindam0310018 commented on #24108
Hello @v-anvashist,
I have tried earlier resetting the PAT. It gives me the same error.
Please note that I have Stored PAT in KV and Fetching as pipeline task.

Many Thanks
Regards, Arindam Mitra

[2022-10-10 10:28] v-anvashist commented on #24108
@arindam0310018 Let me conclude some points.
1. You are facing access issue in all the pipelines not only with above mentioned one. **Please confirm**
2. You are not able to reset your PAT token and same access issue you are facing in PAT resetting. **Please confirm**

Thanks,
Anjali

[2022-10-10 11:21] glaubitz commented on #23933
Any news on this?

[2022-10-10 12:02] arindam0310018 commented on #24108
Hello Anjali,
Thank you for the concluded points. My Answer inline below.

1. I am facing access issue with only this Pipeline.
2.  There is no problem in resetting PAT.  In order to resolve this current issue, I reset the PAT, update the new PAT to KV and then executed the pipeline. Same issue was encountered.

If it would help to reproduce the issue on your side, happy to share the entire YAML r

[2022-10-10 12:04] arindam0310018 commented on #24108
Hello Anjali,

Another Observation (Forgot to mention, apologies...)
When I am running the same set of Devops CLI commands (which I am using in the Pipeline task as inline script) from Powershell Terminal, it works !!!

Many Thanks
Regards, Arindam Mitra

[2022-10-10 14:27] WGK864 commented on #22886
Hey is there any update on this?

[2022-10-10 16:27] porrascarlos802018 opened #24145 "Clarification needed in sintaxis for --Zones values entered not valid."
document states:
--zones -z
Availability zones where agent nodes will be placed.

accepted values: 1, 2, 3

please add clarification, in situations were customers wants to have all 3 zones , then the values are expected to be entered as 👍
--zones 1 2 3
no commas needed.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 3

[2022-10-10 16:39] rahuls-microsoft commented on #22564
The planned date for public preview is 10/20/22. I will update the thread, as we go public preview.

[2022-10-10 16:56] SaurabhSharma-MSFT commented on #24145
@porrascarlos802018 Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-10 17:13] jmurillo9 opened #24146 "Managing Tenant-Level Resources"
#### Describe the bug

I'm trying to get a grasp of using Azure's API coming from AWS... I can successfully run `az login` to authenticate to one of my organization's Azure subscriptions then run something like `az group list` to list the resource-groups associated with that subscription.

I'm running into an issue where I'm trying to manage tenant-level resources.

Example:

I want to manage the

[2022-10-10 17:29] jmurillo9 commented on #24146
I'm mainly just looking for some guidance on how to move forward. Thanks for any input.

[2022-10-10 17:35] Ochirkhuyag commented on #23714
Checking. Will respond soon.

[2022-10-10 17:42] ianEROAD opened #24147 "Az aks update fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update --resource-group {} --name {} --enable-managed-identity`

##

[2022-10-10 17:44] ianEROAD commented on #24147
az extension update --name aks-preview
No updates available for 'aks-preview'. Use --debug for more information.

[2022-10-10 18:06] henry-padilla commented on #23462
I'd like to add that this is affecting the Bicep use of the runCommand template as well.
I'd also like to point out that the error is in the Status folder ("C:\Packages\Plugins\Microsoft.CPlat.Core.RunCommandHandlerWindows\2.0.3\Status\runCommand-dev99-ras.0.status")
... not in the error blob as would be expected.

[2022-10-10 18:30] mossywell opened #24148 ""az network front-door waf-policy managed-rules add" only working for Type DefaultRuleSet Version 1.0"
**Related command**

az network front-door waf-policy managed-rules add --policy-name MyWaf" --resource-group "MyRg" --type Microsoft_DefaultRuleSet --version 2.0

**Describe the bug**

When the above command is run, it should add the "Microsoft_DefaultRuleSet" version 2.0 rule set to the WAF. However, it actually errors with:
(BadRequest) WebApplicationFirewallPolicy validation failed. More infor

[2022-10-10 20:10] DavidZidar commented on #23925
@panchagnula I think I have figured out why it gets stuck. It seems to be waiting for the site to start before continuing, but that will never happen if the slot is stopped... but surprisingly it doesn't even happen when the slot is already running unless an external web request comes in and starts it up. So it just sits there waiting forever. I hope a new version is released soon.

[2022-10-10 21:19] PramodValavala-MSFT commented on #24144
@MswPaulDSmith I've just tried the same command using the latest versions (which you have as well) and the command did work without any issues. Could you try reinstalling Azure CLI and try the command again?

[2022-10-10 21:21] PramodValavala-MSFT commented on #24147
@ianEROAD You are using a pretty old version of Azure CLI (that latest is 2.40.0). Could you try upgrading that to the latest and try again as well, just to be sure.

[2022-10-10 22:01] gitlwh commented on #23921
@brianlehr  @necusjz That is expected. What command you are using? if you want to commission it, commissioned would be invalid for the command.

[2022-10-10 23:31] yonzhan commented on #24145
route to CXP team

[2022-10-10 23:32] yonzhan commented on #24148
route to CXP team

[2022-10-10 23:34] yonzhan commented on #24147
route to CXP team

[2022-10-10 23:36] yonzhan commented on #24146
@jiasli for awareness

[2022-10-11 00:07] Kishox3 opened #24149 "I cannot make a script and running with WSL to a VM running on Azure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm extension set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm extension set --resource-group {} --vm-name {} --name {} --pub

[2022-10-11 00:28] yonzhan commented on #24149
@zhoxing-ms for awareness

[2022-10-11 02:33] chicago7 commented on #23714
@Ochirkhuyag Thanks for your response. May I know if there is any update?

[2022-10-11 02:40] zhoxing-ms commented on #24149
Please check whether the `--settings` parameter has additional property `location`

[2022-10-11 03:05] navba-MSFT commented on #18402
@simondmorias Could you please follow the suggestion and next action plan in the above comment and provide us an update ? Thanks.

[2022-10-11 03:22] jiasli commented on #16573
Current technical difficulties:

- Azure CLI dropped Azure Identity and now directly uses MSAL for user/service principal authentication
- Currently, Azure CLI uses `msrestazure` for managed identity authentication, but `msrestazure` has been replaced by Azure Identity and out of maintainance
- MSAL has no managed identity support, and it is not planed in the near future (https://github.com/AzureA

[2022-10-11 03:27] jiasli opened #24150 "Incorporate `msrestazure`'s code for managed identity authentication"
**Related command**

`az login --identity`

**Is your feature request related to a problem? Please describe.**

Managed identity has lots of variations in different services (VM, app service, Azure Arc, hybrid runbook). Each variation requires special handling.

There are feature requests to support new types of managed identities:

- https://github.com/Azure/azure-cli/issues/16573
- https://githu

[2022-10-11 03:28] jiasli commented on #16573
Provided more information in https://github.com/Azure/azure-cli/issues/24150

[2022-10-11 03:40] zhoxing-ms commented on #24142
Request REST: https://learn.microsoft.com/en-us/rest/api/compute/gallery-images/create-or-update?tabs=HTTP

Request Body
[code]

Response Body
[code]

**'x-ms-correlation-request-id': '226b0620-7b9d-4703-9015-20071a88337c'**

@kangsun-ctrl For trusted launch, do you know what value of `SecurityType` user should pass in for `--features SecurityType=xxx`?

[2022-10-11 04:26] #22555 closed

[2022-10-11 04:28] #23905 closed

[2022-10-11 04:28] #23891 closed

[2022-10-11 04:29] yonzhan commented on #24150
managed identity authentication

[2022-10-11 04:29] #23916 closed

[2022-10-11 04:30] #23972 closed

[2022-10-11 04:30] #23927 closed

[2022-10-11 04:31] #23964 closed

[2022-10-11 05:08] navba-MSFT commented on #24143
@santo2 Thanks for reaching out to us and reporting this issue. Could you please share your use case here and what are you trying to accomplish ? This will help us to assist you better.

[2022-10-11 05:16] RakeshMohanMSFT commented on #24132
@ElvenSpellmaker  Can you please run this command first? az extension add --name aks-preview
and then try enabling oidc

[2022-10-11 05:21] RakeshMohanMSFT commented on #24129
@BasSmuldersCZ Can you please try the below command, we are unable to reproduce the issue at our end.
az group create -n Issue24129 -l eastus --tags issue=24129
![image](https://user-images.githubusercontent.com/49954584/195003416-b25ba3ec-2406-479c-8b8e-fda3f80244a1.png)

[2022-10-11 05:35] litian1992 commented on #24142
If you create a image definition with Trusted Launch supported (in portal or anyway), you will see something like below with `az sig image-definition show`:
[code]
And so I'm able to create one again using CLI with `SecurityType` equal to `TrustedLaunch`.
But then where I fail to execute is it equal to `TrustedLaunchAndConfidentialVmSupported`. Any help please?

[2022-10-11 05:54] navba-MSFT commented on #24148
@mossywell Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-11 06:30] Quixotical commented on #22230
This issue also seems to exist when running an azure pipeline agent locally

[2022-10-11 07:00] hari-bodicherla commented on #23414
Hi @Theodore ***@***.***>,

May I ask when will the SDK with api-version 2022-08-01 be released?

Thanks,
Yan
________________________________
发件人: Yan Zhu
发送时间: 2022年8月18日 11:39
收件人: Xing Zhou ***@***.***>; Hari Krishna Bodicharla ***@***.***>; ***@***.*** ***@***.***>; ***@***.*** ***@***.***>; Yuchao Yan ***@***.***>; Theodore Chang ***@***.***>
抄送: Yong Zhang ***@***.***>
主题: 回复: [Azure/azure-

[2022-10-11 07:01] lsweeney24 commented on #22470
Hello,

We will want certain commands not included but the rest from the Swagger spec are fine.

Using this PR - https://github.com/Azure/azure-powershell/pull/18559, the cmdlets we don't want are "Update-AzStackHciExtension", "Invoke-AzStackHciUploadClusterCertificate", "New-AzStackHciArcSettingPassword", "Update-AzStackHciArcSetting". The rest from the Swagger spec are good.

Thanks,
Luke

From:

[2022-10-11 07:05] piojagcodes commented on #23778
I hope mine commit wasn't misleading. I noticed such error during
realisation tasks on Lufthansa Database engineer. I can send more data like
from commands like hostnamectl so you will figure out if this might be
larger later.I worked on VMWare instances

Thank you for patience while reading this mail

Have a nice day
Peter Jagiello

sob., 3 wrz 2022, 13:52 użytkownik Yong Zhang ***@***.***>
napis

[2022-10-11 07:11] santo2 commented on #24143
Hi @navba-MSFT, we have testers that need access to read and write in Cosmos DB instances on pre-production environments, using the azure portal and their own AD credentials, for Cosmos DB SQL API we specifically needed to provide write permissions using a custom role because the only other option we found was to make them contributor, which is of course not what we wanted. the SqlRoleDefinition s

[2022-10-11 07:21] romanzdk commented on #22921
I havent got it resolved unfortunately. We wont use acr tasks.

On Wed 24. 8. 2022 at 6:28, Moeed ***@***.***> wrote:

--

Roman Žydyk
Data analytics & Web development
romanzdk.com
+420 731 133 488

[2022-10-11 07:26] MswPaulDSmith commented on #24144
Apparently (found elsewhere by searching for the error message) the magic incantation is `python3 -m pip install pycryptodome`; I tried an `az update` but this didn't work so I'm guessing some combination of `az` libraries is missing a dependency and perhaps your system had `pycryptodome` for other reasons already.

[2022-10-11 07:38] srikiz commented on #22189
The error occurs only if the storage account doesn't exist. In this
case, stuse2ciok8stf2 didn't exist.
However, I was expecting a good response instead (but the container exists
as false).

On Tue, Apr 26, 2022 at 3:14 PM Yishi Wang ***@***.***> wrote:

[2022-10-11 07:56] anandadake commented on #22095
Thank you so much folks...

I really Appreciate your time and efforts...

On Wed, Apr 20, 2022 at 5:50 AM SaurabhSharma-MSFT ***@***.***>
wrote:

[2022-10-11 08:02] SNAKE169 opened #24151 "Run Az login command at WSL2"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-10-11 08:05] taoisu commented on #21966
I use something like “model.onnx”, but it doesn’t matter as far as I know, any pattern fails for me. And it just happens today after I rebuilt the docker image which reinstalls the azure cli with latest version.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Yishi Wang ***@***.***>
Sent: Wednesday, April 6, 2022 8:38:47 PM
To: Azure/azure-cli ***@***.***>
Cc: Xi

[2022-10-11 08:10] Fireblade954 opened #24152 "Getting lock for specified resource with az lock show --resource xxx fails with exception"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az lock show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az lock show --resource {}`

## Expected Behavior

## Environment Summary
[

[2022-10-11 08:17] blackwith opened #24153 "az upgrade failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az extension update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az extension update -n {}`

## Expected Behavior

## Environment Sum

[2022-10-11 08:18] g4suchandra commented on #23852
Hi,

This issue is resolved by setting system clock time correctly.

Thanks
Subbaraju

On Tue, Sep 13, 2022 at 11:00 AM Jiashuo Li ***@***.***>
wrote:

--
Best Regards
Chandra Subbaraju

[2022-10-11 09:03] hari-bodicherla commented on #23414
Hi,

If you want a public Python SDK, please follow azure-rest-api-specs/rules-for-release-request.md at main * Azure/azure-rest-api-specs (github.com)<https://github.com/Azure/azure-rest-api-specs/blob/main/documentation/release-request/rules-for-release-request.md> to make a release issue after swagger PR is merged into main branch.

Yuchao
From: Xing Zhou ***@***.***>
Sent: Wednesday, August 10

[2022-10-11 09:21] jiasli commented on #20843
Since openSUSE packagers decides to distribute their own Azure CLI packages (https://github.com/Azure/azure-cli/issues/20839#issuecomment-1001517488), currently Microsoft doesn't support Azure CLI on openSUSE or its related systems.

[2022-10-11 09:28] hari-bodicherla commented on #23414
@Yuchao ***@***.***>,

In the past, we never updated the readme.python.md<https://github.com/Azure/azure-rest-api-specs/blob/feature/cplat-2022-08-01/specification/compute/resource-manager/readme.python.md> file, but I see there are recent package tags. Do we just need to add tag for package-2022-08-01-only here?

From: Xing Zhou ***@***.***>
Sent: Tuesday, August 9, 2022 11:49 PM
To: Theodore Cha

[2022-10-11 09:34] p15nishatr opened #24154 "Blob Inventory - Add new filters to the Blob Inventory schema in the CLI module"
### Related command

JSON changes and validations are described here: [Time Range Filters Doc.docx](https://microsoft.sharepoint.com/:w:/t/AzureStorage/EVS6Io_lbTpCiHJVUAADzCgBPvsCyAturHTzDDVzMNZaYg?e=znr8tn)

### Resource Provider

Storage

### Description of Feature or Work Requested

Add new filter to the [blob inventory](https://learn.microsoft.com/en-us/azure/storage/blobs/blob-inventory) .

[2022-10-11 09:40] mikeblakeuk commented on #4049
Is the documentation on the best way to escape the star? should it be `\*` or `'*'`?

[2022-10-11 10:16] yonzhan commented on #24151
@jiasli for awareness

[2022-10-11 10:18] zhoxing-ms commented on #24142
But then where I fail to execute is it equal to TrustedLaunchAndConfidentialVmSupported. Any help please?

@AjKundnani Could you please help take a look at this question?

[2022-10-11 10:23] yonzhan commented on #24152
@zhoxing-ms for awareness

[2022-10-11 10:28] zhoxing-ms commented on #24152
@Fireblade954 Could you please send the debug log to me by email. My email address is Zhou.Xing@microsoft.com, thanks~

[2022-10-11 11:03] yonzhan commented on #24153
@jiasli for awareness

[2022-10-11 11:19] t-l-k commented on #14864
I have had instances recently where using AzureSQL DB Copy's mechanism **has negatively impacted performance of the source database**, seemingly at the SQLClient layer. This really needs to be clearly explained! This is the best possible snippet I can that closely relates to the behaviour observed, from the [Active geo-replication documentation](https://learn.microsoft.com/en-us/azure/azure-sql/da

[2022-10-11 11:19] yonzhan commented on #24154
@evelyn-ys for awareness

[2022-10-11 13:15] Sriram-Kedarasetti opened #24155 "Getting exception while setting up DSMS certificates in MOONCAKE cloud VM"
**Related command**
**Command:**
az vm update -g RunnersRgChe2 -n RunnersVMChe2 --set osProfile.dsmsConfiguration='{"certificates": [{"sourceLocation":  [https://chinae2-dsms.dsms.core.chinacloudapi.cn/dsms/genevacustomers/monitoring/hotpath/mooncake/networktamdmchinamooncake/certificates/chained/mooncakemdmcertnta.pfx](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fchinae2-dsms

[2022-10-11 13:59] chshihMSFT opened #24156 "Cosmos DB --network-acl-bypass-resource-ids need to be validated further"
**Related command**
az cosmosdb update --name MyCosmosDBDatabaseAccount--resource-group MyResourceGroup--network-acl-bypass AzureServices --network-acl-bypass-resource-ids "/subscriptions/subId/resourceGroups/rgName/providers/Microsoft.Synapse/workspaces/wsName"

**Describe the bug**
It's possible to input resource id without leading '/' in URI, and this cause Cosmos DB Analytical Store to be unab

[2022-10-11 14:02] miobrado opened #24157 "regression in az acr build"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

A Quick Task is successfully created and executed in Azure Container Registry. The complete logs can be found on the ACR / Tasks / Runs tab. Everything seems fine on ACR side. Image is successfully created and pushed.

The problem seems to exist only on the client side. It fails to print out the logs from the

[2022-10-11 14:06] miobrado commented on #24157
A Quick Task is successfully created and executed in Azure Container Registry. The complete logs can be found on the ACR / Tasks / Runs tab. Everything seems fine on ACR side.

The problem seems to exist only on the client side. It fails to print out the logs from the ACR Quick Task due to this encoding-related error.

[2022-10-11 14:18] BasSmuldersCZ commented on #24129
The command above succeeds. However it turns out that tags parameter is not working in the way it has worked before:
$tags=@()
$tags+= "tag1=value1"
$tags+= "tag2=value2"
az group create -n Issue24129 -l eastus --tags $tags

result
"tag1": "value1 tag2=value2"

because of our tagging policy it fails

what is the correct way to use a variable to pass the tags as a parameter?

[2022-10-11 14:26] RakeshMohanMSFT commented on #24129
@BasSmuldersCZ Please see the explanation and solution at https://github.com/Azure/azure-cli/issues/23797#issuecomment-1238997338

[2022-10-11 14:38] BasSmuldersCZ commented on #24129
thx!

[2022-10-11 15:26] riezkyfirdauz commented on #22230
same here, i use ubuntu 22.04 and want to install azure pipeline agent, but get this error

[2022-10-11 15:39] sdg002 opened #24158 "Cosmos db - How to set diagnostic full-text query using Azure CLI"
## Azure CLI equivalent
![image](https://user-images.githubusercontent.com/20245330/195133550-dd1c4e03-c4ff-4bb4-a0b7-206f334c264e.png)

**Related command**

[code]
The online documentation on the Azure CLI command `az cosmosdb update` does not list the options either
https://learn.microsoft.com/en-us/cli/azure/cosmosdb?view=azure-cli-latest#az-cosmosdb-update

[code]
## Sample output from az cosm

[2022-10-11 15:51] miobrado commented on #24157
Indeed, the `pip install` progress bar breaks the `az acr build` command.
A workaround is to turn the progress bar off:

[code]

[2022-10-11 16:23] pamelafox opened #24159 "az container attach ends with runtime error"
## Describe the bug

When I ran the attach command, it streamed the logs at first and then ended in an AttributeError.

**Command Name**
`az container attach --resource-group babybuddy-resource-group --name babybuddy`

**Errors:**

Here's the tail end of the output that shows the error:

[code]

That error is from this line of code:
https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/c

[2022-10-11 16:24] seankane-msft commented on #16312
I had the same issue, I was able to solve this by doing the following:

* restart docker desktop
* run `az login` with the proper tenant for my ACR instance

Note: I'm running wsl2 with Ubuntu 22.04 on Windows 11. My az cli version is:
[code]

[2022-10-11 17:06] SaurabhSharma-MSFT commented on #24158
@sdg002 Thanks for your feedback! We will investigate and update as appropriate.

[2022-10-11 18:25] adsathye opened #24160 "'az network front-door rules-engine rule condition add' command fails for GeoMatch with Country List"
**Related command**
az network front-door rules-engine rule condition add `
        -f $Name `
        -g $ResourceGroup `
        --rules-engine-name $RulesEngineName `
        --name $RuleName `
        --match-variable RemoteAddr `
        --operator GeoMatch `
        --match-values ["AT", "BE", "BG", "HR", "CY", "CZ", "DK", "EE", "FI", "FR"] `
        --negate-condition false

**Describe the

[2022-10-11 19:38] herbeck558 opened #24161 "az resource lock not accepting resource id for Microsoft.ContainerRegistry/registries resource"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
any az resource lock command will not accept the fully qualified resource name to my container registry.
az lock list --resource /subscriptions/{subscription}/resourceGroups/{resource_group}/providers/Microsoft.ContainerRegistry/registries/{containerregistry}
returns an error
**Command Name**
`az resource lock

[2022-10-11 20:59] PramodValavala-MSFT commented on #24144
@MswPaulDSmith The dependencies are shipped (including python) along with Azure CLI if installed by following the [official options](https://learn.microsoft.com/en-us/cli/azure/install-azure-cli). Would it be right to assume that you installed Azure CLI using `pip`?

[2022-10-11 21:33] arindam0310018 opened #24162 "Multiple AAD Group Using Same Name"
**Hello Team,**
Please be informed that I can Create Multiple AAD Group using the Same Display Name.
Consider the Name of the AAD Group = AM-Test-100

The AAD Group "AM-Test-100" was created successfully from Azure Portal.

Next time, I tried to create AAD Group with the same name "AM-Test-100" from Azure Portal, it displays "GROUP NAME NOT AVAILABLE".

This is the expected behavior.

Now, I tried

[2022-10-11 21:41] tholmesdev opened #24163 "what-if seems to be ignoring some properties"
**Related command**
az deployment group what-if

**Describe the bug**
The what-if analysis seems to ignore some properties or incorrectly report they not yet set. For example, I'll create an app service with a `siteConfig` via bicep template and when I run the what-if analysis afterwards, it says the `siteConfig` values are not yet set. Am I missing something or is this by design and there's a lim

[2022-10-12 00:01] yonzhan commented on #24155
@zhoxing-ms for awareness

[2022-10-12 00:19] yonzhan commented on #24156
route to CXP team

[2022-10-12 00:21] yonzhan commented on #24157
route to CXP team

[2022-10-12 00:21] yonzhan commented on #24159
route to CXP team

[2022-10-12 00:22] yonzhan commented on #24158
route to CXP team

[2022-10-12 00:22] yonzhan commented on #24160
route to CXP team

[2022-10-12 00:23] yonzhan commented on #24161
route to CXP team

[2022-10-12 00:24] yonzhan commented on #24162
@jiasli for awareness

[2022-10-12 00:25] yonzhan commented on #24163
route to CXP team

[2022-10-12 01:43] zhoxing-ms commented on #24163
@shenglol Could you please help take a look at the `what-if` related issue?

[2022-10-12 01:52] zhoxing-ms commented on #24155
The error message is returned by the REST service, so the we need the Compute team to help investigate the root cause of the error.  @grizzlytheodore Could you please help take a look at this issue?

[2022-10-12 02:25] gmarupudi opened #24164 "Unable to install Azure CLI on my Mac"
Trying by running this command brew install antoineco/azure-cli/azure-cli@2.0

But getting error Az command not found after installing

[2022-10-12 02:40] gmarupudi commented on #24164
<img width="783" alt="image" src="https://user-images.githubusercontent.com/88043683/195236890-627c3230-1044-4de0-b71f-daac3a8a719a.png">

[2022-10-12 02:42] navba-MSFT commented on #24161
@herbeck558 Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-12 02:45] RakeshMohanMSFT commented on #23934
@jscheeres This is fixed in Containerapp-0.3.12.

[2022-10-12 02:45] #23934 closed

[2022-10-12 02:48] navba-MSFT commented on #24160
@adsathye Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-12 02:50] #24129 closed

[2022-10-12 03:51] navba-MSFT commented on #24096
@Sreejamuppalla The action is currently pending on you to try the above action plan. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-10-12 03:51] #24096 closed

[2022-10-12 04:01] t-bzhan commented on #24160
Hi @adsathye , it seems that you are not using the correct way to pass in multiple-value arguments.  You are suggested to use space-separated list of values for --match-values:
![image](https://user-images.githubusercontent.com/61817681/195246892-a470b4d7-6f96-4911-9330-d823dcc17c6f.png)

Instead of using:

Could you try:

Or using the [splatting ](https://learn.microsoft.com/en-us/powershell/modu

[2022-10-12 05:32] navba-MSFT commented on #24156
@chshihMSFT Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-12 05:33] navba-MSFT commented on #24157
@miobrado Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-12 05:35] navba-MSFT commented on #24157
@miobrado  I think it's a platform issue related to the unique combination Windows + Python.

Could you please try to update the Windows system language setting as shown below ?

Control panel -> Clock and Region -> Region -> Administrative -> Change system locale -> Check Beta: Use Unicode UTF-8 for worldwide language support.

![image](https://user-images.githubusercontent.com/57353862/195258511

[2022-10-12 05:39] navba-MSFT commented on #22301
@AndreyBespamyatnov If you are seeing the same issue with Windows image in Azure Devops Pipeline then the same above plan can be done by implementing this via registry key using PS. You can run the below PS script for that:

[code]
More Info [here](https://github.com/Azure/azure-cli/issues/23776#issuecomment-1239730959). Hope this helps.

[2022-10-12 06:00] jiasli commented on #24066
Duplicate of #24023

[2022-10-12 06:00] jiasli commented on #24066
This is Azure Cloud Shell, so the user should have no permission to run `rmdir "/usr/lib/python3.9/site-packages/azure-cli-extensions/ml"` or `sudo`.

[2022-10-12 06:01] jiasli commented on #24153
Duplicate of #24023

[2022-10-12 06:01] #24153 closed

[2022-10-12 06:01] jiasli commented on #24124
Duplicate of https://github.com/Azure/azure-cli/issues/24023

[2022-10-12 06:02] #24124 closed

[2022-10-12 06:03] #24066 closed

[2022-10-12 06:24] zhoxing-ms commented on #24155
From the debug log, we can see that the double quotation marks in the request body are missing.
For how to use quotation marks in parameters, please refer to this doc [doc link](https://learn.microsoft.com/en-us/cli/azure/use-cli-effectively?tabs=bash%2Cbash2#use-quotation-marks-in-parameters)

[2022-10-12 07:15] navba-MSFT commented on #24160
Thanks @t-bzhan .

@adsathye Could you please try the above suggestion provided in the above comment and let us know if you still face this issue ? Awaiting your reply.

[2022-10-12 07:24] miobrado commented on #24157
Thank you! Ticking the "Check Beta: Use Unicode UTF-8 for worldwide language support" option mitigated the problem.

[2022-10-12 07:24] #24157 closed

[2022-10-12 07:36] papadeltasierra commented on #24144
I installed the base `az` CLI a long time ago so honestly can't remember.  Is there any way I can check and confirm whether I did, or not?  I do have a `/usr/local/lib/python3.8/dist-packages/azure/cli` directory if that answers the question.

[2022-10-12 07:44] arthurgichuhi opened #24165 "az interactive command on ubuntu 20 powershell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-10-12 08:04] necusjz commented on #24061
@arganapathy Please clarify the mapping between the 4 features and their **related commands**.

[2022-10-12 08:35] yonzhan commented on #24165
interactive

[2022-10-12 08:50] arindam0310018 commented on #24108
Hello @v-anvashist
Is there any update ? DO you need any further information ?

Many Thanks
Regards, Arindam Mitra

[2022-10-12 08:50] navba-MSFT commented on #24148
@mossywell Could you please confirm if you are using a **Classic** Azure front door or **Standard / Premium** Front door ? Awaiting your reply.

[2022-10-12 08:53] PARADISSEEKR commented on #24099
Hi @kunalwaghrayismyalias ,`az sig image-version` has many subcommands(create, update, etc), which commands need to add this parameter?
And `allowDeletionOfReplicatedLocations` does not exist in the SDK currently used, is the swagger it uses [this swagger](https://github.com/Azure/azure-rest-api-specs/blob/dc4bf6c71a3bbf76f3f56b018645d8869f7f3d9d/specification/compute/resource-manager/Microsoft.Co

[2022-10-12 09:04] bebound commented on #24151
Duplicate of https://github.com/Azure/azure-cli/issues/19640

[2022-10-12 09:04] #24151 closed

[2022-10-12 09:16] navba-MSFT commented on #24161
@herbeck558 I was able to run the below command and get the details without any errors:

[
  {
    "id": "/subscriptions/XXXXXXXXX0/resourcegroups/MyRG/providers/Microsoft.ContainerRegistry/registries/MyACRName/providers/Microsoft.Authorization/locks/test",
    "level": "ReadOnly",
    "name": "test",
    "notes": "",
    "owners": null,
    "resourceGroup": "MyRG",
    "type": "Microsoft.Authoriz

[2022-10-12 09:25] roblouws opened #24166 "Can not connect with bastion with Windows VM after Windows (10) update local machine"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network bastion tunnel`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network bastion tunnel --name {} --resource-group {} --targ

[2022-10-12 09:56] mossywell commented on #24148
Premium

[2022-10-12 10:08] navba-MSFT commented on #24148
@mossywell Thanks for your reply.

[az afd ](https://learn.microsoft.com/en-us/cli/azure/afd?view=azure-cli-latest)CLI command helps in the managing  Azure Front Door Standard/Premium resource. Could you please confirm if you have tried running this command ?

[2022-10-12 10:27] KarlWindhager opened #24168 "Certificate file from az login has to be kept alive"
## Describe the bug

I login in via the azure cli using a service principal and a certificate like this:

`$account = az login --service-principal -u $applicationId -p $certPath -t $tenantId`

Then I delete the locally created certificate file to avoid, that the certificate file with private key remains on the host (if my script should fail, is cancelled or anything unexpected happens).

After del

[2022-10-12 10:27] mossywell commented on #24148
A few points here:
1. There is no "afd" subcommand for WAF policy (that I am aware of) hence why I am using the older command.
2. As per the documentation: https://learn.microsoft.com/en-us/azure/frontdoor/create-front-door-cli you will see that this ("az network front-door waf-policy" ) is how MS recommend doing it for Standard/Premium.
3. In addition, this https://learn.microsoft.com/en-us/cli/a

[2022-10-12 11:10] yonzhan commented on #24166
route to CXP team

[2022-10-12 11:13] yonzhan commented on #24168
@jiasli for awareness

[2022-10-12 11:14] KapilAnanth-MSFT opened #24169 "WAF Policy Managed Rule Exclusion Remove Rule not working as expected"
**Related command**
az network application-gateway waf-policy managed-rule exclusion rule-set remove

**Describe the bug**

- The above command is supposed to remove a Rule from an exception in Managed Rules Exclusion of App gateway WAF Policy
- However, instead, I notice every other rule under OWASP is getting added to the exclusion

**To Reproduce**

- Add a test exclusion to the Managed Rules f

[2022-10-12 11:15] yonzhan commented on #24169
@necusjz for awareness

[2022-10-12 11:17] CosX opened #24170 "How are role assignment name guids generated?"
My team is currently migrating parts of our infrastructure from az cli to bicep. We want the process of switching over to bicep as smooth as possible, however we're experiencing some validation errors with role assignments. "The role assignment already exists". I've read the Microsoft docs on how to make role assigments idempotent with ARM/bicep with the use of guid(). Is it possible to know the f

[2022-10-12 11:28] yonzhan commented on #24170
role assignment

[2022-10-12 11:31] Venu-prahalad opened #24171 "Filter blob by tags using SAS-token in azure CLI fails with authentication error"
Using Azure CLI I am trying to find all the blobs using tag filters. But I am unable to do so. I get the error

“Authentication failure. This may be caused by either invalid account key, connection string or sas token value provided for your storage account.”

Below is the CLI command I tried

`az storage blob filter --tag-filter  "@container= 'containerxx' and Tag1='value'" --account-name stracc1

[2022-10-12 12:59] herbeck558 commented on #24161
@navba-MSFT it works in the cloud shell just fine with the commands i gave you.
So here's the missing peice of the puzzle -
before i did any of this i set my default resource group using something like:
RG_NAME=my_rg_name
az config set defaults.group=$RG_NAME
where my_rg_name is my actual resource group name where the ACR is created at.
Then run the commands i get the error.  This i recreated in t

[2022-10-12 13:46] JJKW1984 commented on #23883
@jiasli Is there a timeline for publishing this fix?

[2022-10-12 13:59] yonzhan commented on #24171
@evelyn-ys for awareness

[2022-10-12 14:03] yonzhan commented on #23883
This fix is already shipped today.

[2022-10-12 14:06] jdkr0220 opened #24172 "Confusing help text for config file"
For the `az repos policy create` command, the `--config` command lists this help text: "Local file path for configuration file. Please use / backslash when typing in directory path.". Note the appearance of the "/" character and the word "backslash". It's not clear which should be used and/or if it is platform dependent. The same helptext confusion appears in the the `az repos policy create --help

[2022-10-12 14:44] larslind opened #24173 "Bastion ssh with AAD auth not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network bastion ssh`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az network bastion ssh --name {} --resource-group {} --target-resource-id {} --auth-type "AAD" --debug`

[2022-10-12 14:48] arindam0310018 commented on #24108
Hello @v-anvashist,

Here you go - https://github.com/arindam0310018/12-Oct-2022-DevOps__Create-DevOps-Service-Connections

Many Thanks
Regards, Arindam Mitra

[2022-10-12 14:50] arindam0310018 commented on #24162
Hello @yonzhan @jiasli
Please let me know if I my understanding is wrong ?

Many Thanks
Regards, Arindam Mitra

[2022-10-12 15:39] adsathye commented on #24160
This still does not work with Azure CLI version 2.40.0 but, I can now see it works with new version released yesterday 2.41.0. The same script worked for couple of years. It seems to be problem with one particular version.

[2022-10-12 15:39] #24160 closed

[2022-10-12 15:50] johnem-msft commented on #24088
Thanks so much Xing Zhou!!

I confirmed that I was able to list a lock created via gui via:
az lock list
and then use that info to delete the log - eg:

az resource lock delete -n LOCKSIGVERSIONLOCKNAME --resource "1.1.1" -g UKSOUTH --resource-type Microsoft.Compute/versions --parent galleries/AZCOMPUTEGALLERYNAME/images/IMAGEDEFNAME

In the same fashion I was also able to recreate the lock as fol

[2022-10-12 16:08] eric-create opened #24174 "azure keyvault key help throws error instead"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault key`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault key -h`

## Expected Behavior

## Environment Summary
[code]

[2022-10-12 16:18] kunalwaghrayismyalias commented on #24099
Please add to either or both the create and update
`az sig image-version create --do-not-delete {true, false}`
`az sig image-version update --set allowDeletionOfReplicatedLocations={false,true}`

In return value from the command, please return the value that was set. For example,
[code]

The SDK with this should be released, requesting a teammate to add this information.

[2022-10-12 16:25] bmoore-msft opened #24175 "az bicep version check should not block on failure"
**Related command**
`az bicep *`
`az deployment *` (with a bicep template file)

**Is your feature request related to a problem? Please describe.**
the `az` commands that use bicep, check for a newer version of bicep before initiating the command.  If that version check fails for some reason (e.g. 4xx) the command stops and the user is blocked from using any command that involves bicep in the cli

[2022-10-12 16:25] bmoore-msft commented on #24175
@shenglol

[2022-10-12 20:55] Lumute commented on #23448
Agree this is really needed, I can login with a certificate in the local store just passing the thumbprint with Azure Az Powershell Module and Microsoft Graph PowerShell SDK. Unfortunately no one tool provides management over everything so we have to juggle between multiple tools, it would be really useful if we can login to AZ CLI the same way that already works fine for other tools...

[2022-10-12 21:04] PramodValavala-MSFT commented on #24144
@MswPaulDSmith Based on where it is installed, you used `pip`. It would be best to use the official methods of installation which should ensure all required dependencies are available.

@jiasli Could you confirm if installing from `pip` is still an option?

[2022-10-12 21:34] emilwester-optimizely commented on #12885
bump @zhoxing-ms & @msftbot

[2022-10-12 22:01] yonzhan commented on #24173
route to CXP team

[2022-10-12 22:03] yonzhan commented on #24175
route to CXP team

[2022-10-13 01:15] zhoxing-ms commented on #24088
If there are no other questions, I will close the issue first. If you have other questions in the future, please feel free to contact us

[2022-10-13 01:15] #24088 closed

[2022-10-13 01:33] t-bzhan commented on #24160
@adsathye , that might be related to https://github.com/Azure/azure-cli/issues/23797#issuecomment-1238997338, Azure CLI has made some changes in 2.40.0 regarding to passing PowerShell arrays as multiple values argument to CLI.

[2022-10-13 01:41] #24149 closed

[2022-10-13 03:12] navba-MSFT commented on #24175
@bmoore-msft Adding Service team to look into this.

@josephkwchan, @jennyhunter-msft Could you please look into this and provide an update once you get a chance ? Awaiting your reply.

[2022-10-13 03:20] navba-MSFT commented on #24165
@arthurgichuhi Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-13 03:23] zhoxing-ms commented on #24099
@kunalwaghrayismyalias This parameter name does not conform to the CLI specification, and it's meaning is unclear which is easy to confuse users
How about the parameter name `--allow-replicated-location-deletion`?

[2022-10-13 03:26] navba-MSFT commented on #24159
@pamelafox Thanks for reaching out to us and reporting this issue. Could you please run the same command with --debug switch and share the detailed debug output here ? This will help us to assist you better.

[2022-10-13 03:55] bmaher74 opened #24177 "After az login complete successfully, az interactive responded as below "No module named 'prompt_toolkit.interface'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-10-13 04:26] yonzhan commented on #24177
interactive

[2022-10-13 05:39] Saglodha commented on #20823
Hi @eugene-jo / @mdroogendijk,

This has been fixed in our latest release. Please retry the operation and let us know if you have additional concerns.

[2022-10-13 05:39] navba-MSFT commented on #24143
@santo2 Thanks for getting back clarifying your ask. The support RBAC for data plane operations on Table API, is currently not supported and there is no ETA for the same.

[2022-10-13 05:41] Saglodha commented on #18145
Hi @samsmithnz, this has been supported in our latest release. Kindly try to create the subscription and let us know in case of additional concerns.

[2022-10-13 06:16] navba-MSFT commented on #24165
@arthurgichuhi Tagging the similar issue here : https://github.com/Azure/azure-cli/issues/10088. Please follow the below action plan for now:

1. If you installed through pip, run `pip uninstall prompt-toolkit`
2. If you installed through Windows installer, delete `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\Lib\site-packages\prompt_toolkit`
3. If you installed through Linux bundle, find the

[2022-10-13 06:35] #24125 closed

[2022-10-13 06:41] yuxisun1217 opened #24178 "[Question] Is there any way to list all the supported features in the gallery image-definition?"
**Related command**
az sig image-definition -h

**Is your feature request related to a problem? Please describe.**
I cannot find a doc or any help messages that can list all the supported features in the gallery image-definition. Even in https://learn.microsoft.com/en-us/cli/azure/sig/image-definition?view=azure-cli-latest there are only some examples but no clear features list.
When I create imag

[2022-10-13 06:45] Imrankhan-MT commented on #24171
Hi @Venu-prahalad  I think you have missing "?" in SAS token the Actual SAS token be "?sv=2021-08-06&st=2022-10-11T07%3A40%3A00Z&se=2022-10-13T07%3A40%3A47Z&sr=c&sp=racwdxltf&sig=mZ4%2F4oXQV3Y4xcBoxxxxxEjJ1zmozb3ikmEddRc%3D" but you have given "sv=2021-08-06&st=2022-10-11T07%3A40%3A00Z&se=2022-10-13T07%3A40%3A47Z&sr=c&sp=racwdxltf&sig=mZ4%2F4oXQV3Y4xcBoxxxxxEjJ1zmozb3ikmEddRc%3D" I think this caus

[2022-10-13 06:49] VenkatesanSettu-MT commented on #24171
I think you have missing the "?" in the SAS-token. The actual SAS-token be "?sv=2021-08-06&st=2022-10-11T07%3A40%3A00Z&se=2022-10-13T07%3A40%3A47Z&sr=c&sp=racwdxltf&sig=mZ4%2F4oXQV3Y4xcBoxxxxxEjJ1zmozb3ikmEddRc%3D" but have given "sv=2021-08-06&st=2022-10-11T07%3A40%3A00Z&se=2022-10-13T07%3A40%3A47Z&sr=c&sp=racwdxltf&sig=mZ4%2F4oXQV3Y4xcBoxxxxxEjJ1zmozb3ikmEddRc%3D".

Please refer this[ SO-thread]

[2022-10-13 06:49] gpaulissen opened #24179 "When I run az --version, a warning issued about a new version but then there is none."
**Related command**

az --version

**Describe the bug**

az --version shows this:

[code]

The command does not finish and when I press ENTER, it retries again.

**To Reproduce**

az --version

**Expected behavior**

**Environment summary**

**Additional context**

[2022-10-13 06:51] floryut commented on #23951
Guys ? Any news, at least an answer if this is a bug or not.

[2022-10-13 07:15] pingtouskar commented on #22642
@jiasli Any progress on this fetaure ? This a must have for enterprise to use the azure-cli without compromizing the creds.

[2022-10-13 08:15] jvilimek commented on #23898
@jennyhunter-msft thanks for comment. Yes, I found this interesting too. Is it interesting enough to re-open the bug? Would be much appreciated!

[2022-10-13 08:49] #10746 closed

[2022-10-13 09:00] frankzomer commented on #24108
@arindam0310018 This , almost sure,  is due to do a Azure AD Conditional Access Policy.  It explains why it works locally (allowed IP list ? VPN?) and not via Azure DevOps, the runners use public ip space of MS.

[2022-10-13 09:17] giskou commented on #24132
Running `az extension add --name aks-preview` before `az aks update` worked for me

[2022-10-13 09:24] docast opened #24182 "az grafana update command is throwing 'update' is misspelled or not recognized by the system."
<> While trying to update the Managed grafana using "az grafana update", getting error:

[root@xxxxxxxxxxxxxxxxxxx 0]# az grafana update --name dev-grafana --api-key Enabled
'update' is misspelled or not recognized by the system.

Examples from AI knowledge base:
https://aka.ms/cli_ref
Read more about the command in reference docs

<> Able to run commands like "az grafana create", "az grafana user

[2022-10-13 09:29] RakeshMohanMSFT commented on #10263
This is updated

[2022-10-13 09:29] #10263 closed

[2022-10-13 09:34] zhoxing-ms commented on #23904
@viananth I'd like to confirm with you that the edge zone related parameters from all RPs *(such as: Compute, Storage, Network, AKS......)* can be GA, right?

[2022-10-13 10:17] yonzhan commented on #24178
@zhoxing-ms for awareness

[2022-10-13 10:20] yonzhan commented on #24179
@jiasli for awareness

[2022-10-13 10:27] wbypai opened #24184 "az vm run-command invoke --no-wait report unrecognized arguments: --no-wait"
az vm run-command invoke --no-wait -g UBUNTU -n UBUNTU --command-id RunShellScript --scripts 'echo $1 $2' --parameters hello world
unrecognized arguments: --no-wait

remove --no-wait cab be work
az vm run-command invoke -g UBUNTU -n UBUNTU --command-id RunShellScript --scripts 'echo $1 $2' --parameters hello world
 / Running ..

 az version
{
  "azure-cli": "2.38.0",
  "azure-cli-core": "2.38.0",

[2022-10-13 10:35] yonzhan commented on #24182
route to CXP team

[2022-10-13 10:42] yonzhan commented on #24184
@zhoxing-ms for awareness

[2022-10-13 11:18] teppeee opened #24185 "az aks nodepool list does not work well"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
az aks nodepool list does not work well when the number of nodepool is 10 or more.
(this number is the button to read more appears in azure portal)
It worked when the version was 2.40.0, but not 2.41.0.

**Command Name**
`az aks nodepool list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavio

[2022-10-13 11:22] kunalwaghrayismyalias commented on #24099
Hi @zhoxing-ms, I agree. `--allow-replicated-location-deletion` is more clear. That works

[2022-10-13 11:29] lefabian-lab opened #24186 "az network bastion show throw to error from WSL2"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network bastion show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network bastion show --name {} --resource-group {}`

## Expec

[2022-10-13 11:32] jiasli commented on #23770
There is no fancy logic in Azure CLI to create role assignment name - simply a GUID created with Python's built-in [`uuid.uuid4()`](https://docs.python.org/3/library/uuid.html#uuid.uuid4) function:

https://github.com/Azure/azure-cli/blob/98f7865402569ec9a6ae05ccdd0d27d5ea20927c/src/azure-cli/azure/cli/command_modules/role/custom.py#L1563-L1564

I tried to hardcode assignment name to a GUID `ccfed

[2022-10-13 11:33] Niviral commented on #24072
Hi, is there any update?

[2022-10-13 11:34] RakeshMohanMSFT commented on #8133
Please go through this. https://github.com/Azure/azure-cli/issues/13026

[2022-10-13 11:34] #8133 closed

[2022-10-13 11:39] RakeshMohanMSFT commented on #10641
Reopen if you are still facing this issue

[2022-10-13 11:39] #10641 closed

[2022-10-13 11:39] #13276 closed

[2022-10-13 11:47] Vinaysv18 commented on #14151
use USER root this worked for me

[2022-10-13 12:13] motorbreth opened #24187 "az vm list not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm list`

## Expected Behavior

## Environment Summary
[code]
## Additiona

[2022-10-13 12:14] RakeshMohanMSFT commented on #12384
Supported version are mentioned here.
https://learn.microsoft.com/en-us/azure/azure-functions/functions-versions?tabs=azure-cli%2Cwindows%2Cin-process%2Cv4&pivots=programming-language-csharp

[2022-10-13 12:14] #12384 closed

[2022-10-13 12:39] yonzhan commented on #24185
route to CXP team

[2022-10-13 12:43] yonzhan commented on #24186
route to CXP team

[2022-10-13 12:46] yonzhan commented on #24187
@zhoxing-ms for awareness

[2022-10-13 13:07] alan-marcinkowski opened #24188 "az aks list fails in ADO pipeline using 2.41"
## Describe the bug
Execution of AzureCLI@2 task fails.

**Command Name**
`az aks list`

**Errors:**
[code]

## To Reproduce:
      RESOURCE_GROUP=$(az aks list --query "[?name=='${CLUSTER_NAME}'].resourceGroup|[0]" -o tsv)

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior
Should return resource group for the specified cluster

## Environment Summary
[code]
## Additional Context

[2022-10-13 14:06] navba-MSFT commented on #24161
@herbeck558 Thanks for your reply.

That's an expected behavior because the Resource Group is implicitly used by the AzCLI (from the config), it will be similar to running the below command:

And this is expected to fail with the below error:

Configuration values used by the CLI are evaluated in the following precedence, with items higher on the list taking priority.
1. Command-line parameters
2.

[2022-10-13 14:17] ryanbick opened #24190 "az aks check-acr: FAILURE - KeyError: 'serverVersion'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
**az aks check-acr --resource-group ih-aks --name *** --acr ***.azurecr.io**

**Command Name**
`az aks check-acr`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..

[2022-10-13 14:50] yonzhan commented on #24188
route to CXP team

[2022-10-13 15:22] spike28742 opened #24191 "az bicep upgrade failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az bicep upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az bicep upgrade`

## Expected Behavior

## Environment Summary
[code]

[2022-10-13 15:28] alan-marcinkowski commented on #24188
Failed equivalently on Windows as well using 2.41.0 ... but works with 2.40.0:

[code]

[2022-10-13 16:04] tshaiman commented on #23770
1. You will not be able to reproduce this by running it many times as GUID conflict are hard to reproduce.
The bug I've opened is around the fact that on one hand the error exists and happens quite often to teams which are running many workload, while the error message provided is wrong.
2. The error message claims "you should call the command with new GUID" while in fact we don't have ANY API to

[2022-10-13 17:09] kbrkelsi opened #24192 "az aks command invoke on private cluster errors with Failed to run command due to cluster perf issue"
**Related command**

This command when attempted either in cloudshell or remotely from the latest version - 2.40.0, produces the error  (sanitized) "(KubernetesOperationError) Failed to run command due to cluster perf issue, container command-################# in aks-command namespace did not start within 30s on your cluster, retry may helps. If issue persist, you may need to tune your cluster wit

[2022-10-13 17:17] PramodValavala-MSFT commented on #24182
@docast Looks like the `update` sub-command has been added in recently. Could you try upgrading the extension to the latest version by running the following command and try again?

[code]

[2022-10-13 17:17] petr-stupka opened #24193 "az deployment mg create --mode"
**Related command**
Please add `--mode` support for `az deployment mg create`

**Is your feature request related to a problem? Please describe.**
It is not related to any problem

**Describe the solution you'd like**
Having possibility to create `Complete` deployment instead of default `Incremental` mode. Example when deploying Azure Policies and RBAC Role Assignments. They sometimes require manua

[2022-10-13 17:21] larslind commented on #24173
Hi @necusjz
I also tested this from Azure Cloud Shell and got the same result.

**Error:**
[code]

## Environment Summary
[code]

[2022-10-13 17:42] PramodValavala-MSFT commented on #24190
@ryanbick The command internally calls `kubectl version -o json`. Could you run this command and share its output?

[2022-10-13 17:43] tiregan commented on #24099
Yes, this is in the newest swagger 2022_03_03.  The swagger has been merged and the SDK is in review and should be merged any day now.

[2022-10-13 17:46] PramodValavala-MSFT commented on #24188
@alan-marcinkowski While not the same command, looks like this is the same as this issue - #24185. Investigating.

[2022-10-13 17:55] marklagendijk commented on #20703
@arvindshmicrosoft I can't see why that would work: what else can the Powershell implementation do than calling the REST API, which I already tried doing via `az rest`?

[2022-10-13 17:56] ryanbick commented on #24190
What application or tool is the version difference warning referring to?

{
"clientVersion": {
"major": "1",
"minor": "25",
"gitVersion": "v1.25.0",
"gitCommit": "a866cbe2e5bbaa01cfd5e969aa3e033f3282a8a2",
"gitTreeState": "clean",
"buildDate": "2022-08-23T17:44:59Z",
"goVersion": "go1.19",
"compiler": "gc",
"platform": "windows/amd64"
},
"kustomizeVersion": "v4.5.7",
"serverVersion": {
"major": "1

[2022-10-13 18:00] ryanbick commented on #24190
Also, here is the full output with the first few lines also included.

PS C:\Users\Ryan> kubectl version -o json
W1013 13:57:01.702272 8356 azure.go:92] WARNING: the azure auth plugin is deprecated in v1.22+, unavailable in v1.26+; use https://github.com/Azure/kubelogin instead.
To learn more, consult https://kubernetes.io/docs/reference/access-authn-authz/authentication/#client-go-credential-plug

[2022-10-13 18:17] PramodValavala-MSFT commented on #24185
@msyyc Looks like this is the same error as in this issue Azure/azure-sdk-for-python#26506. Would that mean this would require a regeneration of the Container Service SDK?

[2022-10-13 18:44] alan-marcinkowski commented on #24188
Sure does.

[2022-10-13 19:25] arvindshmicrosoft commented on #20703
On the REST API - for a geo-restore, the `createMode` should be set to `Recovery` instead. In the case of PowerShell, you will see that when `Restore-AzSqlDatabase` is used with `-FromGeoBackup` it [internally sets](https://github.com/Azure/azure-powershell/blob/01fba5d8312d109b4b1e63e1deab827d848c1a1d/src/Sql/Sql/Database%20Backup/Cmdlet/RestoreAzureRMSqlDatabase.cs#L359-L361) the createMode to `

[2022-10-13 20:48] vivlingaiah commented on #23462
@zhoxing-ms @BCOps ,
  Run As is not working as expected in Production (it is a bug) as of now for Managed Run Command (Preview). We have plans to fix it before we take Run Command to GA. Tentative ETA is 10/31.

[2022-10-13 22:16] PramodValavala-MSFT commented on #24190
@ryanbick The version difference is between client (kubectl) and server (k8s).

I wasn't able to reproduce this issue locally. Since you are running this on Azure CLI, could you confirm if you are seeing the same locally?

[2022-10-13 22:17] PramodValavala-MSFT commented on #24047
@angryconsultant Could you give an example of the erroneous dash that you mention so that I could investigate further?

[2022-10-13 23:57] yonzhan commented on #24191
route to CXP team

[2022-10-14 00:11] yonzhan commented on #24192
route to CXP team

[2022-10-14 00:27] yonzhan commented on #24193
@zhoxing-ms for awareness

[2022-10-14 00:34] techny210 opened #24195 "After azure-cli upgrade"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm list -o {}`

## Expected Behavior

## Environment Summary
[code]
## Add

[2022-10-14 00:35] yonzhan commented on #24195
@zhoxing-ms for awareness

[2022-10-14 00:48] sams976 opened #24196 ""az network private-endpoint-connection approve" - 'NoneType' object is not subscriptable"
I am trying to automatic the approval of private-endpoint-connection in AZ CLI for my WebApp but receiving
**'NoneType' object is not subscriptable**

I also used the full string instead of a variable to no avail

[code]

**To Verify**
[code]

This is very similar to the error observed here
https://github.com/Azure/azure-cli/issues/20752

Thanks in advance

[2022-10-14 01:02] msyyc commented on #24185
Hi @PramodValavala-MSFT Could you please try the latest [private package](https://newstorageyyc.blob.core.windows.net/2022-10/sdk_pr_26774/azure_mgmt_containerservice-20.4.0-py3-none-any.whl) which contains fix for the issue. Once it works well, we will release a public version asap

[2022-10-14 01:40] RakeshMohanMSFT commented on #24191
@spike28742 The issue looks more like python configuration issue, please try to uninstall python and reinstall again. Also verify its path and any orphan path of previous installations as well.

Additionally please upgrade to latest version of az cli [2.41.0](https://learn.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-10-14 01:45] lavna commented on #21114
Hi Team ,

Even I'm facing this issue
WARNING: The login server endpoint suffix '.azurecr.io' is automatically omitted.
how to remove from my pipeline logs

[2022-10-14 01:46] lavna commented on #21114
How to remove un nessary warnings in the Azure devops pipeline logs..Any commands we should use for that
Please help me on this

[2022-10-14 02:08] PARADISSEEKR commented on #24099
@tiregan  Could you please provide the swagger PR link that includes `allowDeletionOfReplicatedLocations` and private python SDK?

[2022-10-14 02:12] zhoxing-ms commented on #24195
@techny210 Since it is repeated with issue #24187, so I will close the issue first. We will focus on issue #24187 for discussion

[2022-10-14 02:12] #24195 closed

[2022-10-14 02:20] zhoxing-ms commented on #24187
This problem was introduced by Python SDK https://github.com/Azure/azure-sdk-for-python/issues/26506. I see they had submitted PR https://github.com/Azure/autorest.python/issues/1485 to fix the bug in package version `28.0.1`.
But I found that there are other problems with version `28.0.1` https://github.com/Azure/azure-sdk-for-python/issues/26604, which are also being solved

@msyyc May I ask whe

[2022-10-14 02:34] navba-MSFT commented on #24186
@lefabian-lab Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-14 02:50] zhoxing-ms commented on #24187
Please help upgrade the SDK version to [azure-mgmt-compute/29.0.0](https://pypi.org/project/azure-mgmt-compute/29.0.0/) to solve the problem.

@motorbreth @techny210 We will release a new CLI version in `11-01` to fix this bug, thanks for your feedback~

[2022-10-14 03:29] RakeshMohanMSFT commented on #23975
@willem-plug-io --unauthenticated-client-action seems to be missing in the [documentation](https://learn.microsoft.com/en-us/cli/azure/webapp/auth?view=azure-cli-latest#az-webapp-auth-update)? It looks like a deprecated feature?

[2022-10-14 04:21] docast commented on #24182
@PramodValavala-MSFT : I executed  "az extension update --name amg", but no update available.
No updates available for 'amg'. Use --debug for more information.

With my account, I am able to run the above command. However with the user Managed Identity account, az grafana update is failing. The User managed Identity account has owner rights at subscription level and Grafana Admin access at managed

[2022-10-14 04:27] navba-MSFT commented on #24186
@lefabian-lab I see that you are using an older version of AzCLI. Could you please update to the [most recent version](https://learn.microsoft.com/en-us/cli/azure/update-azure-cli#manual-update) of the CLI and check if you still see the same issue ? Awaiting your reply.

[2022-10-14 04:36] adityabalaji-msft commented on #24048
Hi @robnotley - would you be able to share the debug output of the command (using the debug flag), removing PII as needed?
Also, what is the format of the value of container name and target container name you are using? This might help us debug further.

Hi @akshayneema - in the meantime, could you take a look at the recovery config show command that is provided above in the thread and whether all

[2022-10-14 04:53] navba-MSFT commented on #24156
@chshihMSFT The above PR has been filed to address this issue. It is currently under review. If you have any pending concerns in the meantime, please let me know.

[2022-10-14 05:43] sandeepraichura commented on #24142
@malt3 @litian1992 - I'm looking into this, and I'll keep you posted soon

[2022-10-14 06:04] sabbour commented on #11749
Running `az login` isn't an acceptable workaround. MSI login allows for elevated commands like "az ad app" which will be blocked otherwise.

[2022-10-14 06:05] sabbour commented on #17695
Why is this closed while it is still an issue? This should be opened again.

[2022-10-14 06:35] navba-MSFT commented on #24171
@Venu-prahalad As rightly pointed out by @VenkatesanSettu-MT you seem to have missed the "?" in your sas token argument.  I was able to run the below command and it worked just fine. Please update the sas token and test your command again and let me know if you still face the same issue. Awaiting your reply.

**Azure CLI Command:**

**Output:**
[
  {
    "containerName": "indexblob",
    "name": "

[2022-10-14 06:36] wmeints commented on #20168
Same issue here! I deleted the token cache and was able to login as normal. I have one personal account and a work account with the same name. Can't rename them or else my MVP profile becomes inaccessible :(

[2022-10-14 06:36] #23880 closed

[2022-10-14 06:51] #24184 closed

[2022-10-14 07:06] #23904 closed

[2022-10-14 07:46] spike28742 commented on #24191
Hi,

I followed your recommendations and did not fix the issue.

Finally I managed to solve it by upgrading to the latest powershell version.

On Fri, Oct 14, 2022 at 3:41 AM RakeshMohan-MSFT ***@***.***>
wrote:

[2022-10-14 08:08] RakeshMohanMSFT commented on #24191
@spike28742 Glad you could solve the issue.

[2022-10-14 08:13] Venu-prahalad commented on #24171
@navba-MSFT Thank you for investigating on this issue. I did give a try but in vain. I still get same error. Below is the screenshot of the actual command which I gave a try.

![image](https://user-images.githubusercontent.com/32172428/195795838-a4a84c35-e1ae-430e-a128-adc290085a88.png)

I could see some difference in the SAS token you have given in the message vs the one I could create. I see som

[2022-10-14 08:21] peter-miroshnikov opened #24206 "`az account get-access-token` still v1"
**Related command**
az account get-access-token

**Is your feature request related to a problem? Please describe.**
The problem is quite simple i just cant find any information about it in the docs.
`az account get-access-token` returns v1 token instead of v2 which creates issues for us.
As microsoft has been going away from v1 for a while now, i wonder why `azurecli` still uses `v1`

**Describe t

[2022-10-14 08:25] yonzhan commented on #24206
@jiasli for awareness

[2022-10-14 08:49] navba-MSFT commented on #24171
@Venu-prahalad Thanks for getting back. The reason for your command failure is below:

_**<AuthenticationErrorDetail>The specified signed resource is not allowed for this resource level</AuthenticationErrorDetail>**_

From the error message, it is pretty clear that the failure is due to the parameter: **sr** (signed resource) in your SAS token.

Generating the _Service_ SAS (container level SAS) w

[2022-10-14 08:57] fals commented on #17293
I have the same issue when using the Azure SDK for Go, when creating a new cluster all resources are available on azure portal, the cluster works as intended, but if you try to list the vnets you get nothing from that cluster. Sometimes it takes Hours to have the correct result from the API.

[2022-10-14 10:12] robnotley commented on #24048
Hi @adityabalaji-msft

Full detailed commands are below

I ran this from my local machine and also from Azure portal CLI with different results.

**Local machine**

az backup recoveryconfig show --resource-group "rg-rndev-westeurope-common-c799b2ce" `
    --vault-name "rsv-rndev-f9161b42" `
    --container-name "VMAppContainer;compute;rg-rndev-westeurope-dashworks-0f0f7c68;vm-rndev-sql-green-9f412

[2022-10-14 10:14] robnotley commented on #24048
**Azure CLI**

PS /home/rob>     $rc = az backup recoveryconfig show --resource-group "rg-rndev-westeurope-common-c799b2ce" --vault-name "rsv-rndev-f9161b42" --container-name "VMAppContainer;compute;rg-rndev-westeurope-dashworks-0f0f7c68;vm-rndev-sql-green-9f412f7b" --item-name "SQLDataBase;mssqlserver;pm" --restore-mode OriginalWorkloadRestore --rp-name 1847309172622175981 --target-item-name "SQL

[2022-10-14 10:14] larslind commented on #24173
I've now also tried to connect to a Windows VM using
`az network bastion rdp`
and get the error
`Request to EncodingReservedUnitTypes v2 API endpoint failed.`
The final part of the `--debug` output is
[code]
Do I need to open a separate issue for this?
@yonzhan, @necusjz

[2022-10-14 10:21] Maheshk-MSFT opened #24208 "No module named 'azure.cli.command_modules.acs.decorator'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az feature list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az feature list -o {} --query {}`

## Expected Behavior

## Environment

[2022-10-14 11:09] larslind commented on #24173
Turns out there was a problem with my Azure Bastion deployment, so I will close this issue now.

[2022-10-14 11:09] #24173 closed

[2022-10-14 11:11] larslind commented on #24173
Some more useful error messages might have been helpful :-)

[2022-10-14 11:53] liamehenderson opened #24209 "az ad group: Group names with '&' in them get split at the point where the '&' appears"
## Describe the bug

**Command Name**
`az ad group show --group "Hello_&_World" --query id --output tsv`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Have an AAD group with an '&' in the name
- `az ad group show --group {} --query id --output tsv`

## Expected Behavior

`az ad` com

[2022-10-14 12:05] sk9424 opened #24210 "az login error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-10-14 13:12] yonzhan commented on #24208
route to CXP team

[2022-10-14 13:13] yonzhan commented on #24209
@jiasli for awareness

[2022-10-14 13:14] yonzhan commented on #24210
Please provide detailed error log

[2022-10-14 13:38] Venu-prahalad commented on #24171
@navba-MSFT One thing confuses me. When I can generate Container level SAS with filter of tag permission (f) set, What should I do extra in this command or what other command should I use to filter blobs by tags? I cant use account level SAS/keys for my case in hand.

[2022-10-14 14:47] PramodValavala-MSFT commented on #24208
@Maheshk-MSFT Looks like you are using a very old version of the `aks-preview` extension. Could you update to the latest and try again by running this command?

[code]

[2022-10-14 14:52] liamehenderson commented on #24209
Have put the --% workaround back into our scripts which seems to have solved it on 2.41

`az --% ad group show --group "Hello_&_World" --query id --output tsv`

[2022-10-14 14:55] PramodValavala-MSFT commented on #24192
@kbrkelsi The error message suggests that the pod created in your cluster which runs the command wasn't able to start, presumably because of insufficient resources (CPU/memory). It is likely that your current workload is taking up all resources and/or you don't have auto scale setup to create new nodes when needed.

You can check the current resources using the `kubectl top node` command. Also, ch

[2022-10-14 15:10] PramodValavala-MSFT commented on #23875
@juliocfc Could you share more details like the exact command and complete output here?

[2022-10-14 15:27] JWohlschlag-Euclid commented on #24058
This issue has been resolved in Azure CLI version 2.41.0.

[2022-10-14 15:27] #24058 closed

[2022-10-14 16:49] Imrankhan-MT commented on #24171
https://stackoverflow.com/questions/74040507/filter-blob-by-tags-using-sas-token-in-azure-cli-fails-with-authentication-error/74051486#74051486 check this updated answer.

If the provided answer justified your requirement, you accept it as answer so that others who encounter the similar issue, it may be useful for them or community members

[2022-10-14 17:30] Venu-prahalad commented on #24171
@Imrankhan-MT No, that doesn't solve my original problem. I want blob tag filter to work with container level SAS.

[2022-10-14 17:46] chester-leung commented on #24187
Hi, I found the same issue. I did not install any Azure Python SDK on the machine, only the Azure CLI. What should I do to workaround this bug?

[2022-10-14 19:29] sk9424 commented on #24210
Hi Yong
Below is the detail logs

$ az login
A web browser has been opened at https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize. Please continue the login in the web browser. If no web browser is available or if the web browser fails to open, use device code flow with `az login --use-device-code`.
The command failed with an unexpected error. Here is the traceback:
Unable to get

[2022-10-14 21:33] dagnello opened #24213 "`az interactive` fails to start: ModuleNotFoundError: No module named 'prompt_toolkit.interface'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-10-14 22:04] sandeepraichura opened #24214 "Remove TVMSupported and TVMandCVMSupported from CLI examples for SIG"
In the following examples for SIG image definition, TrustedLaunchSupported and TrustedLaunchAndConfidentialVmSupported are not ready yet and need to be removed.

https://learn.microsoft.com/en-us/cli/azure/sig/image-definition?view=azure-cli-latest#az-sig-image-definition-create

az sig image-definition create --resource-group MyResourceGroup \
--gallery-name MyGallery --gallery-image-definition M

[2022-10-14 22:06] sandeepraichura opened #24215 "Direct shared gallery share with sub example command is incorrect"
In the example in the following link, there is parameter “--gallery-image-definition” which is not supported when adding share and needs to be removed otherwise the command will not succeed.

https://learn.microsoft.com/en-us/cli/azure/sig/share?view=azure-cli-latest

az sig share add --resource-group MyResourceGroup --gallery-name MyGallery
--gallery-image-definition MyImage \
--subscription-ids

[2022-10-14 23:34] #24209 closed

[2022-10-14 23:51] yonzhan commented on #24210
Duplicate of https://github.com/Azure/azure-cli/issues/20507. Please make sure your tenant GUID or name is correct.

[2022-10-14 23:51] #24210 closed

[2022-10-14 23:52] yonzhan commented on #24213
interactive

[2022-10-14 23:53] yonzhan commented on #24214
@zhoxing-ms for awareness

[2022-10-14 23:55] yonzhan commented on #24215
@zhoxing-ms for awareness

[2022-10-14 23:59] wasker opened #24216 "az aks nodepool list returns null for minCount and maxCount"
**Describe the bug**

Output of `az aks nodepool list` command shows `null` for `minCount` and `maxCount` values of the node pool. Could be related to AKS version in use.

**To Reproduce**

`az aks nodepool list --cluster-name mycluster --resource-group myrg --query "[?osType=='Linux' && osSku=='Ubuntu']" --output json --only-show-errors`

On k8s 1.23.12:

[code]

**Expected behavior**

On k8s 1.2

[2022-10-15 00:03] yonzhan commented on #24216
route to CXP team

[2022-10-15 03:45] justinmchase commented on #5223
`pip freeze` does not emit extensions. Any advice on how to get the complete list of all pip modules?

[2022-10-15 10:39] taoyama commented on #24213
same here

[2022-10-15 10:40] zhoxing-ms commented on #24187
@chester-leung In fact, the Python and Python SDK packages are embedded in Azure CLI package. The temporary workaround is to downgrade the CLI version. In 2 weeks **(11-01)**, we will release a new official version to fix it~

[2022-10-15 10:40] taoyama commented on #24213
## Environment Summary
[code]

[2022-10-15 11:14] taoyama commented on #24213
@jiasli

prompt_toolkit module is installed under  `/usr/lib64/az/lib/python3.9/site-packages/` by azure-cli 2.41.0 package.
[code]

Remove it will fix the issue.
[code]

[2022-10-15 12:00] claudfatec opened #24217 "Az interactive is wrong"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-10-15 12:13] yonzhan commented on #24217
@jiasli for awareness

[2022-10-15 12:14] tbshrr opened #24218 "Az login not working: UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 0: invalid start byte"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-10-15 15:21] yonzhan commented on #24218
@jiasli for awareness

[2022-10-15 15:22] PowerSurj commented on #24185
for those seeking immediate workaround, look at downgrading az `aks-preview` extension
i did not spend time tracing at which exact release it got broken, but i found it works at below version

[code]

and you don't have to downgrade `azure-cli`

[2022-10-15 17:15] hacikho commented on #13855
dude you are a life saver

[2022-10-15 20:21] leopaoca13 opened #24219 "Can't list vm"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm list`

## Expected Behavior

## Environment Summary
[code]
## Additiona

[2022-10-16 00:48] yonzhan commented on #24219
@zhoxing-ms for awareness

[2022-10-16 10:27] leadpony commented on #23050
@RakeshMohanMSFT

I reproduced the problem in the latest version: 2.41.0.

The functionapp as a deployment target  is configured as follows:
* Stack: custom docker image
* Registry source: Azure Container Registry
* Registry authentication: Admin Credentials
* Set `WEBSITE-ENABLE_APP_SERVICE_STORAGE` in the appsettings to `true`

Please see the article
https://learn.microsoft.com/en-us/azure/app-s

[2022-10-16 15:44] #23581 closed

[2022-10-16 18:06] scsibug commented on #21833
How is this a feature request?  The feature is clearly documented in the help page (`az eventhubs namespace list`), where it lists  the option `--subscription      : Name or ID of subscription`.  Simply using that argument in a brand new cloudshell today continues to give the stacktrace from the original report.

Documented features giving stacktraces seems like a bug, no?

[2022-10-17 01:47] zhoxing-ms commented on #24219
@leopaoca13 Since it is repeated with issue https://github.com/Azure/azure-cli/issues/24187, so I will close the issue first. We will focus on issue https://github.com/Azure/azure-cli/issues/24187 for discussion

[2022-10-17 01:47] #24219 closed

[2022-10-17 01:52] jiasli commented on #24209
We reverted #23514 in #24015. `az` is now still `az.cmd`.

[2022-10-17 02:11] jiasli commented on #24218
This may be the same issue as https://github.com/Azure/azure-cli/issues/12957, https://github.com/Azure/azure-cli/issues/7989.

[2022-10-17 02:48] zhoxing-ms commented on #24214
Since these examples are introduced by @olayemio in PR #19270, @olayemio could you help to confirm that these examples should be removed?

[2022-10-17 02:58] bebound commented on #24213
In https://github.com/Azure/azure-cli/pull/22459, `mycli` is added in dependency, which requires `prompt-toolkit`.
`azure-cli` installs `3.0.31` and `interactive` wants `1.0.18`, so the conflict occurs.

[2022-10-17 03:37] jiasli opened #24221 "`az --version` shows there are available updates when there is actually not"
**Related command**
`az --version`
`az upgrade`

**Describe the bug**
Azure CLI has dropped support for some environments:

- Ubuntu < 18.04, Debian < 10 (https://github.com/Azure/azure-cli/pull/22170)
- CentOS 7, RHEL 7, SUSE (https://github.com/Azure/azure-cli/pull/23047)
- Python < 3.7 (https://github.com/Azure/azure-cli/pull/23102)

However, in those environments, `az --version` still shows th

[2022-10-17 03:48] yonzhan commented on #24221
az upgrade

[2022-10-17 04:21] navba-MSFT commented on #24143
@santo2 I hope you had a chance to look at my above comment. If you have any follow-up questions, please feel free to reopen this thread. We would be happy to help.

[2022-10-17 04:21] #24143 closed

[2022-10-17 04:24] navba-MSFT commented on #24148
@mossywell Thanks for getting back and clarifying. I was able to reproduce this issue on my resource. I am working with the Product owners now to check the status on the fix.

[2022-10-17 04:34] dagnello commented on #24213
@taoyama your suggestion worked, thanks!

[2022-10-17 05:41] navba-MSFT commented on #24159
@pamelafox I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-10-17 05:43] navba-MSFT commented on #24161
@herbeck558 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any further queries on this. Awaiting your reply.

[2022-10-17 05:49] bebound commented on #24217
Duplicate of https://github.com/Azure/azure-cli/issues/24213

[2022-10-17 05:49] #24217 closed

[2022-10-17 05:49] navba-MSFT commented on #24165
@arthurgichuhi I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-10-17 05:50] navba-MSFT commented on #24186
@lefabian-lab I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-10-17 05:50] bebound commented on #24177
See https://github.com/Azure/azure-cli/issues/24213

[2022-10-17 05:50] #24177 closed

[2022-10-17 06:28] manan1088 opened #24223 "Az vm list failing when parsing subscription Id as param"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm list --subscription {}`

## Expected Behavior

## Environment Summary
[

[2022-10-17 06:35] arindam0310018 commented on #24162
Hello @yonzhan @jiasli
If time permits, please update
Awaiting for your response!!!

Many Thanks
Regards,
Arindam Mitra

[2022-10-17 07:08] bebound commented on #24023
We can use **extension.sys_dir** to override system extension directory.
If we set it to an empty dir, the pre-installed extension disappears and you can install `ml` now.
`az config set extension.sys_dir=/dev/null`

[2022-10-17 07:09] raorugan opened #24225 "Provide Az CLI cmdlets to support Functions on Centauri (powered by Azure Container apps based managed App environment)"
**Related command**

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-10-17 07:22] lefabian-lab commented on #24186
update to new version over the az command didn't help. after uninstall and install it again from the repository it fixed the issue.

[2022-10-17 07:44] Venu-prahalad commented on #24171
@navba-MSFT As I think more on this, I am thinking its more of a missing feature/gap because from container level SAS generated with filter permissions on it works well with Azure storage REST API and Azure.Storage.Blobs C# library. but it doesnt work well with Az CLI, Powershell cmdlet, storage explorer.

[2022-10-17 09:03] yonzhan commented on #24223
@zhoxing-ms for awareness

[2022-10-17 09:05] yonzhan commented on #24225
route to CXP team

[2022-10-17 09:32] jeevanions opened #24227 "Az CLI - az network vhub wait errors - 'wait' is misspelled or not recognized by the system."
My scenario is that we create bunch of VNETs and connect them with the central virtual hub. The virtual hub has the limitation that only one update can be made at a time and thus, we rely on the Azure CLI wait commands 'az network vhub wait'.
It kind of works but we get this weird error "wait is misspelled or not recognized by the system". Any help to understand why this is happening?

**Command u

[2022-10-17 10:06] #24148 closed

[2022-10-17 10:13] chrom opened #24228 "az acr login - fail"
## Bug  Description

Problem with login

**Command Name**
`az acr login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- az login
- az account set --subscription *********
- az acr login -n **************

## Expected Behavior
- login

## Environment Summary
[code]
## Additional Conte

[2022-10-17 10:57] yonzhan commented on #24228
route to CXP team

[2022-10-17 10:59] yonzhan commented on #24227
@necusjz for awareness

[2022-10-17 11:13] andreabisiach commented on #18226
If it can be of any help, note that "az disk create"  gives exactly the same error "ResourceGroupNotFound" in version 2.41.0.
It works well in version 2.40.0
In this case, there resource group not being found is the one specified in the parameter "--gallery-image-reference"

[2022-10-17 11:15] itsmeabhijeet commented on #24188
Same error here with AZ CLI v2.41, but works with 2.40.0. Hoping it gets fixed soon as our pipelines rely on latest version.

[2022-10-17 11:33] alan-marcinkowski commented on #24188
We have a custom agent pool so were able to forcibly replace the az version back to 2.40.0. Perhaps that's a work around.

[2022-10-17 11:57] Saglodha commented on #21833
Thanks for reporting this @scsibug. I could reproduce the issue at my side and would be investigating this ahead with the team. I would share updates soon.

[2022-10-17 14:41] brendoncdrew opened #24230 "az interactive refuses to run"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-10-17 15:30] wangchi16 opened #24231 "Error running "Fail to pull images from Azure Container Registry to Azure Kubernetes Service cluster""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks check-acr`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks check-acr --resource-group {} --name {} --acr {}`

## Expected B

[2022-10-17 15:32] tphilley opened #24232 "Missing features in az ml environment CLIv2 that were present in v1"
**Related command**
az ml environment create

**Is your feature request related to a problem? Please describe.**
When creating an environment with a Docker image that is located in a private registry, there is no current way to authenticate with the private registry in the YAML configuration file. Trying to create the image results in an "Unauthorized" error message, as we are not able to pass in

[2022-10-17 15:59] mthalman commented on #6723
Is this on the roadmap at all? We're going to be relying on Azure CLI for some scenarios to produce our Docker images from https://github.com/dotnet/dotnet-docker. Having it available from Nano Server would be very useful.

[2022-10-17 16:20] mkostersitz commented on #18766
I had recently two of our top customers complain about the need to deploy Python 64 bit separately because their ITsec team has policies for the admin workstations to not allow standalone python installs (or any other programming language). If it is deployed with the Azure CLI this is acceptable though. This adds administrative overhead to the admin teams.

[2022-10-17 16:22] DanBrown-TechSmith opened #24233 "`az lab create vm` command fails with "The system cannot find the file specified." error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
The command works in Azure CLI 2.40 but fails in 2.41

**Command Name**
[code]

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

We have a PowerShell script that executes this CLI command to create a D

[2022-10-17 17:20] emu7800 opened #24234 "Unable to Delete Custom Domain from Storage Account per Documentation"
Deleting a custom domain from a storage account by specifying "" does not work as described by the documentation. Instead, the Azure CLI returns "argument --custom-domain: expected one argument".  Version 2.41.0

https://learn.microsoft.com/en-us/azure/storage/blobs/storage-custom-domain-name?tabs=azure-cli
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.

[2022-10-17 17:20] pamelafox commented on #24159
I'm not able to replicate that current error as I'm stuck on a different error, where it continually pulls the image, starts the container, and then kills the container. I haven't been able to find logs as to why it's killing the container, so I don't know if this is an issue with my docker-compose.yaml or an Azure issue.

The docker-compose.yaml:

[code]

Here are the logs from this situation:

[

[2022-10-17 17:34] pamelafox commented on #24159
I just tried with a slightly different compose, which I think is what my setup was like when I first reported, but am still in a crash backoff loop.

[code]

[2022-10-17 17:36] pamelafox commented on #24159
I've gone ahead and taken the instance down for now, so as to not waste resources on unsuccessful restarts:

[code]

[2022-10-17 17:46] chester-leung commented on #24187
@zhoxing-ms thanks for your reply. Which Azure CLI version will work? Can you share some specific instructions on how to downgrade to a working version? Thank you.

[2022-10-17 17:57] GOWTHAM-VARMA-DANTHULURI opened #24235 "cosmos db creation failure through terminal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cosmosdb create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az cosmosdb create --name {} --resource-group {} --location {}`

## E

[2022-10-17 18:33] wasker commented on #24216
Update: the nodepool had autoscaler disabled, which results in this behavior.

[2022-10-17 18:33] #24216 closed

[2022-10-17 18:59] vivlingaiah commented on #24095
Hi, user will need to use SAS URIs for --output-blob-uri to work. This is a recent change since Sep 20 or so. We've stopped auto-generating SAS URIs on behalf of users due to security concerns. User need to use SAS URI with racw permissions (Read, Append, Create, Write)

[2022-10-17 19:00] vivlingaiah commented on #24095
Refer aka.ms/RunCommandManaged for up to date documentation

[2022-10-17 19:03] vivlingaiah commented on #24095
Example SAS URI for --output-blob-uri
https://mystorageaccount.blob.core.windows.net/mycontainer/RuncommandOutput.txt?sp=racw&st=2022-10-17T19:02:15Z&se=2022-10-18T03:02:15Z&spr=https&sv=2021-06-08&sr=b&sig=3BxtEasfdasdfasdfdYki9yvYsqc60V0%3D

[2022-10-17 19:18] singankit opened #24236 "az interactive fails with azure cli version 2.41.0"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-10-17 21:16] michael-crawford opened #24237 "Azure CLI on WSL2 doesn't handle full file paths which include symlinks into /mnt/c/Users"
**Related command**
[code]

**Describe the bug**
The Azure CLI translates a full-path filename from the provided linux path to a **non-existent**, but seemingly equivalent Windows path using Windows path conventions when the linux path contains a symlink that points back into the Windows filesystem.

Best explained by example:

I am primarily developing some code which includes (initially) a bash-

[2022-10-17 22:08] yonzhan commented on #24230
interactive

[2022-10-17 22:09] yonzhan commented on #24231
route to CXP team

[2022-10-17 22:09] yonzhan commented on #24232
route to CXP team

[2022-10-17 22:26] yonzhan commented on #24233
route to CXP team

[2022-10-17 22:27] yonzhan commented on #24234
@evelyn-ys for awareness

[2022-10-17 22:28] yonzhan commented on #24235
route to CXP team

[2022-10-17 22:29] yonzhan commented on #24236
interactive

[2022-10-17 22:30] #24045 closed

[2022-10-17 22:31] yonzhan commented on #24237
@jiasli for awareness

[2022-10-17 22:55] l3ender commented on #22462
Just curious if this has been prioritized in the backlog? It would greatly ease the onboarding pain for organizational users which often have limited access to their environment. Thanks!

[2022-10-17 23:17] SaurabhSharma-MSFT commented on #24172
@jdkr0220 The PR for the fix has been created and it will be merged soon. Thanks again for pointing this out, I am closing the issue based on this update, please let us know if there is something else that we can help you with.

[2022-10-17 23:17] #24172 closed

[2022-10-18 00:58] PramodValavala-MSFT commented on #24233
@DanBrown-TechSmith Could you share the complete output that you see? Also, try running the command by passing `--debug` to enable debug logs as well.

[2022-10-18 01:12] PramodValavala-MSFT commented on #24185
@msyyc I can confirm with this package, it works. 👍

[2022-10-18 02:35] zhoxing-ms commented on #24187
@chester-leung We will solve this bug in the next CLI version `2.42.0`. At present, the way to downgrade the CLI version is to uninstall the current version of CLI first, and then install the old version of CLI. [doc link](https://learn.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest)

[2022-10-18 02:48] nethali opened #24238 "az interactive failed with an unexpected error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-10-18 03:00] #24156 closed

[2022-10-18 03:16] navba-MSFT commented on #24228
@chrom Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-10-18 03:34] chshihMSFT commented on #24156
Hi @navba-MSFT, @evelyn-ys,
Thanks for the PR merge.
I've executed command ```az upgrade``` to get latest update for CLI modules but looks like the issue still exists; I can still input the resourceId (URI) without leading '/', then leads ill-format configuration in Cosmos DB account.
[code]

![image](https://user-images.githubusercontent.com/45855145/196329442-91c5e771-f0e4-4ea2-ba5b-766c33ac191a

[2022-10-18 03:36] navba-MSFT commented on #24156
@chshihMSFT The PR was merged a while ago. The fix is part of this milestone Targeted for 2022-11-01 and not yet released. https://github.com/Azure/azure-cli/milestone/123 .

[2022-10-18 03:39] streamye2022 commented on #20495
do we know how to work around the output limitation for 4096 bytes

[2022-10-18 03:39] chshihMSFT commented on #24156
Thanks! Looking forward to it.

[2022-10-18 04:13] navba-MSFT commented on #24171
@Venu-prahalad It appears that PowerShell, CLI, and Storage Explorer are calling [Find Blobs by Tag](https://learn.microsoft.com/en-us/rest/api/storageservices/find-blobs-by-tags) instead of [Find Blobs by Tag in Container](https://learn.microsoft.com/en-us/rest/api/storageservices/find-blobs-by-tags-container) for container-level Find Blobs by Tag.  This is causing container-level SAS URLs to not

[2022-10-18 04:18] navba-MSFT commented on #24218
@tbshrr Thanks for reaching out to us and reporting this issue. I think it's a platform issue related to the unique combination Windows + Python.

Could you please try to update the Windows system language setting as shown below ?

Control panel -> Clock and Region -> Region -> Administrative -> Change system locale -> Check Beta: Use Unicode UTF-8 for worldwide language support.

![image](https:/

[2022-10-18 04:22] navba-MSFT commented on #24228
@chrom I see that you are using an older version of Azure CLI. Could you please upgrade to the [most recent version ](https://learn.microsoft.com/en-us/cli/azure/update-azure-cli)of the AzCLI and check if you still see the same issue ? Awaiting your reply.

[2022-10-18 05:08] yonzhan commented on #24238
interactive

[2022-10-18 05:35] Venu-prahalad commented on #24171
@navba-MSFT Thank you. I much appreciate this move. I and my customers will be looking forward to seeing this working at the earliest.

[2022-10-18 05:41] navba-MSFT commented on #24232
Adding Service team to look into this ask.

@azureml-github Could you please look into this feature ask once you get a chance ?

[2022-10-18 06:35] singankit commented on #24232
Thanks @tphilley for reaching out. To achieve same functionality, CLIv2 provides workspace connections. Workspace connections provide a secure way to provide credentials to private registry. Examples can be found [here](https://github.com/Azure/azureml-examples/blob/main/cli/resources/connections/container-registry-managed-identity.yml). Once connection is created it will automatically be picked u

[2022-10-18 07:06] graknar opened #24241 "issue using az interactive in sandbox learn"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- [I just follow the learning session about azure sandbox](https://learn.microsoft.com/fr-fr/training/modules/descri

[2022-10-18 07:20] navba-MSFT commented on #23893
@aolszowka If you would like to run the command without specifying the resource group set the `config` as shown below:

   az storage account keys renew --account-name MyStorageAccountName --key secondary

**Output:**
[
  {
    "creationTime": null,
    "keyName": "key1",
    "permissions": "FULL",
    "value": "JF1bMEJ0IfVVp/BT48zUG******************************kC4vDugc0HXuzaw=="
  },
  {
    "cr

[2022-10-18 08:30] pankajagrawal16 opened #24243 "Failure using az interactive with WSL"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-10-18 08:31] yonzhan commented on #24241
interactive

[2022-10-18 08:34] pankajagrawal16 commented on #24243
Fixed my manually removing the files

[2022-10-18 08:34] #24243 closed

[2022-10-18 08:42] t-bzhan commented on #24148
Hi @mossywell , could you update the front-door extension version to 1.0.17 to see whether the issue is addressed or not:
`az extension add --upgrade --name front-door --version 1.0.17`

[2022-10-18 08:49] QuickScoP3s commented on #19063
+1 I have the same issue with `az role assignment create`

[2022-10-18 09:09] yuvaraj-azurevm commented on #22832
Team wanted to check on the feedback which I had provided, curious to know if there is an ETA

[2022-10-18 09:13] bebound commented on #24213
`interactive` uses an ancient version of `prompt_toolkit` which is not compatible with latest cli.

As a workaround, you need to uninstall `prompt-toolkit` from azure-cli. **This may break other command, use it at your own risk**.
For yum user, following taoyama's solution above.
For apt user, ` /opt/az/bin/python3 -m pip uninstall prompt_toolkit`

[2022-10-18 09:19] bebound commented on #24230
Duplicate of https://github.com/Azure/azure-cli/issues/24213

[2022-10-18 09:20] bebound commented on #24236
Duplicate of https://github.com/Azure/azure-cli/issues/24213

[2022-10-18 09:20] bebound commented on #24238
Duplicate of https://github.com/Azure/azure-cli/issues/24213

[2022-10-18 09:20] #24238 closed

[2022-10-18 09:20] bebound commented on #24241
Duplicate of https://github.com/Azure/azure-cli/issues/24213

[2022-10-18 09:20] #24241 closed

[2022-10-18 09:38] chicago7 commented on #23714
@Ochirkhuyag May I know if there is any update? thanks

[2022-10-18 09:58] Uditanshu1612 commented on #23267
Hi,
Is the issue is resolved? I'm also facing the same issue while importing a package.
Currently My azure-core is a version of 1.26.0 so while executing the module using this version of azure-core it throws me an error
![image](https://user-images.githubusercontent.com/115619000/196398607-f238dbdf-5ab3-4201-bcc3-d275d07bc2c1.png)

So here by observing the error I get to know that module requires

[2022-10-18 10:02] herbeck558 commented on #24161
@navba-MSFT  sorry i just got back to this.  I understand now what its doing but the error message is kinda off and could be improved - its says i need to specify --resource-type if I have --resource but that's confusing.  It could say 'if resource-group' is specified for example.  Or have a diff parameter for fully-qualified resource path vs a resource-name only.
But now i know and will adjust as

[2022-10-18 10:02] #24161 closed

[2022-10-18 10:11] KapilAnanth-MSFT commented on #24169
@necusjz , may I know if there are any updated on this.

[2022-10-18 10:15] #24230 closed

[2022-10-18 10:43] carlosbustillordguez commented on #24188
Any update about this issue? This is a problem in some GitHub pipelines because some runners use AZ CLI v2.41.0 (fails here) and others v2.40.0 (works here).

[2022-10-18 11:04] Matthew0x commented on #9536
As a person living late 2022 I can confirm that the person from 2019 was right.
I confirm that I just faced the exactly same problem with SAS and connection strings.

The workaround worked.

"Powershell is splitting at the & and treating it as a new command."
This statement seems correct.

However, quoting the PS documentation:
"Single-quoted strings
A string enclosed in single quotation marks is

[2022-10-18 11:50] garudapnx opened #24244 "az rest command is returning incorrect values when querying via azure cli"
**Related command**
az rest -m get -u /subscriptions/<subscriptionid>/providers/Microsoft.Web/sites?api-version=2022-03-01 2>&1 | grep -i '"id": "/subscriptions/<subscriptionid>/resourcegroups/<resourcegroupname>/' | wc -l

**Describe the bug**
When running the command it doesn't match the returned count of Web App in the specified subscription and resource group vs. what is in the Azure environme

[2022-10-18 12:10] yonzhan commented on #24244
@jiasli for awareness

[2022-10-18 12:35] DanBrown-TechSmith commented on #24233
After further experimentation, I have determined that the issue is related to the transition from a CMD launch script and a PS1 launch script for the AZ commands. It relates to this issue #24015.
The 2.40 CLI ends up using the az.ps1 script whereas 2.41 uses the az.cmd due to the rename of the PS1 script as detailed in that issue.
If I replace `az lab vm create` with `azps lab vm create` when usin

[2022-10-18 13:13] akhundov13 opened #24245 "az interactive - macbook m2 macos monterey version 12.6"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-10-18 13:53] aolszowka commented on #23893
Hey @navba-MSFT that's great but that means that the documentation is still incorrect.

`--resource-group` is not optional, unless you have defined a default. That's fine, but should probably be called out in the documentation.

For now I am specifying the `--resource-group` with every command going forward.

[2022-10-18 14:09] s-deridder opened #24246 "az interactive in sandbox mode"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-10-18 14:10] PramodValavala-MSFT commented on #24188
@alan-marcinkowski There is some progress in #24185 which was created earlier. We are working on getting a fix out for this soon.

[2022-10-18 14:28] FrankiePolak opened #24247 "az interactive not working in Learn sandbox"
Installing the interactive extension failed.

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
The same error occurred when using bash and Powershell.

## Environment Summary
[code]
## Additional Context

[2022-10-18 14:38] alan-marcinkowski commented on #24188
...Yes, I'm following it there actually. As mentioned, it's not an issue for us as we were able to downgrade our ADO agent pool. Thanks.

[2022-10-18 14:46] PramodValavala-MSFT commented on #24233
@DanBrown-TechSmith Thanks for sharing your findings here! That is odd to see that only one command fails, and like I've thought earlier, the error is about not finding `az` itself.

Glad to see that you have resolved your immediate issue! You could perhaps try a clean install of Azure CLI just to make sure everything is correct or try out some of the checks [here](https://github.com/Azure/azure-c

[2022-10-18 14:46] #24233 closed

[2022-10-18 14:47] jimolson opened #24249 "az interacte failed in WSL2 on Windows 11"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-10-18 14:48] PramodValavala-MSFT commented on #24231
@wangchi16 Duplicate of #24190

As mentioned in the other issue, could you share the output of `kubectl version -o json` from the same terminal where you are running the `az` command from?

[2022-10-18 14:57] JoseViewture opened #24250 "No module named 'prompt_toolkit.interface' - Azure learn sandbox - CLI command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A