[2017-05-28 19:56] devonbarrett commented on #3498
Had the same issue. Upgrading the package resolved it: `pip install --upgrade urllib3`

Looks like it is pinned to 1.16 in a few places.
[code]

[2017-05-28 20:47] BrodaUa opened #3501 "azure login through interactive mode: cant recognizer user identifier or password"
### Description
Basically, I already solved my problem, and as I did not find any information to such kind of issues, in case if somebody else will face that too, I decided to describe it here.

So, I was having an issue during interactive login using Azure CLI 1.0 from my Linux VM. And the key of interactive login is that you need to follow the link and input the code from the command line. As I

[2017-05-28 23:11] barchito commented on #3498
I had the same issue and the workaround of copying urllib3 to the azure directory works.
thanks @micli

[2017-05-28 23:15] d3sandoval commented on #3498
+1 had the same issue today while trying to follow a docs.microsoft.com article.

Manually copying my installation of urllib3 fixed it. Thanks @micli !

[2017-05-29 00:15] yugangw-msft commented on #3497
This issue is not `az login` specific, rather any commands sending http request on the wire should trigger this. Of course, `az login` usually is the first command you would run.

[2017-05-29 01:06] yugangw-msft commented on #3501
Using browser in Windows to login should definitely work. Once the login in the browser page goes through the "az login" command in the Putty shell should proceed to finish.
The error inside the browser of `Can not recognizer user identifier or password` is an AAD service bug. Could you please send me the error page, particularly the correlation id and associated fiddler trace. I will forward to E

[2017-05-29 01:06] #3501 closed

[2017-05-29 08:22] #3474 closed

[2017-05-29 09:52] peter-gergely-horvath opened #3503 "'az feedback' command errors out on MacOS command line"
### Description
'az feedback' command errors out on MacOS command line with error message 'unknown locale: UTF-8'

The 'az feedback' utility should allow users to share quick feedback on the tooling. Unfortunately, it does NOT work on MacOS at all, it fails after 'If you would like to join our insiders program and receive tips, tricks, and early access to new features, let us know by leaving your

[2017-05-29 16:45] ljt91 commented on #1969
Closing this issue out.

[2017-05-29 16:45] #1969 closed

[2017-05-29 18:50] floresboy commented on #3497
your totally right, nonetheless a solution is greatly appreciated
Thanks Kamiel

[2017-05-30 03:01] robertpeteuil commented on #3498
**My installation log clearly shows the installer removing the "urllib3" 1.21.1 (that was already installed), then installing "urllib3" 1.16.**
- As devonbarrett suggested above, "urllib3" 1.16 is likely pinned somewhere.
- **I fixed this by manually upgrading "urllib3" after the install**, using the command:
  - `sudo -H pip install --upgrade urllib3`
  - This reinstalls urllib3 1.21.1 and everyt

[2017-05-30 07:28] fbejarano opened #3505 "az network nic update --set error "string indices must be integers""
### Description
**Outline the issue here:**

Hi I am trying to update a property of a nic but the cli show this error

[code]
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: apt-get

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:

$ az --v

[2017-05-30 15:38] sjdweb opened #3506 "Installing in Docker via script does not work"
### Description
If you'd like to install the Azure CLI on your own Docker image, the script fails as it requires access to `/dev/tty`.

After hours of trying various things, I luckily discovered you publish `apt` packages for `Bash on Windows` users. This will suffice for now on my `ubuntu:14.04`-based image.

***Error:***
[code]

I'm aware you publish your own Docker image, but my use case is bui

[2017-05-30 16:08] devigned opened #3507 "[CosmosDB] `az cosmosdb list-connection-strings` is not the same as the portal"
### Description

When running `az cosmosdb list-connection-strings`, the connection string is not the connection strings as seen in the portal.

For example:
- az: `mongodb://username:password@testdj2.documents.azure.com:10250/?ssl=true`
- portal: `mongodb://username:password@testdj2.documents.azure.com:10255/?ssl=true&replicaSet=globaldb`

---

### Environment summary

**Install Method:** How did

[2017-05-30 16:15] devigned commented on #3507
Looks like this might be a service issue as this command is a proxy to the management plane.

[2017-05-30 16:16] alexeyshishkin01 commented on #3470
Am I the first with my question?
Ok, what I was able to do so far is:

1) run:
az vm list \
--query [] \
--output jsonc

2) look at the long output and shorten it a bit:
az vm list \
--query "[].{vmname:name,datadisks:storageProfile.dataDisks[*]}" \
--output jsonc

3) or even shorter:
az vm list \
--query "[?starts_with(name,'myvm')].{vmname:name,datadisks:storageProfile.dataDisks[*]}" \
--output

[2017-05-30 16:19] devigned commented on #3507
@moderakh or @dmakwana any thoughts on this one?

[2017-05-30 16:40] JasonRShaver opened #3508 "Update description for `role assignment list`"
### Description

The description for `az role assignment list` should give details on the default values provided.  This command is confusing in use right now as you can create a role assignment against a resource group, but not see it in the assignment list (without a --all), but there are no details on what is or is not shown.

Current:
[code]

I propose something like:

[code]

[2017-05-30 16:48] yugangw-msft commented on #3443
@PaulTrampert, could you please provide a few more information?
1. Is your cert and appservice plan are in the same resource group? I worry [this change](https://github.com/Azure/azure-cli/commit/4c7e7b7f964bc9adb66f9d1e67c1f45f3ac466e8) might cause the break.
2. Could you double check whether the thumbprint arg value completely matches the `list` output, even the character casing?

[2017-05-30 17:01] PaulTrampert commented on #3443
@yugangw-msft
1. The cert and appservice plan are both in the same resource group.
1. The thumbprint arg does match exactly the list output, including casing.

[2017-05-30 17:01] yugangw-msft commented on #3470
For a disk, there are only 2 properties you can change, `size` and `account type, aka sku`. If you like to change caching model, please create a new disk. You can let the new one import from the existing one if you need to persist the data.

[2017-05-30 17:04] yugangw-msft commented on #3471
Changing the caching model of an existing disk is not allowed by service. We should error out if it is not used with `--new`

[2017-05-30 17:28] yugangw-msft commented on #3043
I will expose a command of `az ad sp revoke-for-rbac` to clean up related artifacts across, including the role assignments

[2017-05-30 17:28] #3058 closed

[2017-05-30 17:28] #3376 closed

[2017-05-30 17:59] yugangw-msft commented on #3500
This is a generic network issue, not CLI particularly. Can you try it again?

[2017-05-30 18:00] #3498 closed

[2017-05-30 18:00] yugangw-msft commented on #3498
Fixed, and we will release at some time this afternon

[2017-05-30 18:07] yugangw-msft commented on #3051
Done

[2017-05-30 18:07] #3051 closed

[2017-05-30 18:11] yugangw-msft commented on #3051
Note, we don't do the `Default to no balancer for large scaleset` at the current point, as so far we have no set command to wire up balancer on existing VMSS.

[2017-05-30 18:18] robertpeteuil commented on #3498
Thank you & your team!

[2017-05-30 18:29] danielaene commented on #3471
Hello

If caching argument can work only with --new, how can you specify the caching when you create a disk from a snapshot and you attach it to a vm ?

The commands used in this usecase are: az disk create (which doesn't have caching argument) and az vm disk attach. I can not use only "az vm disk attach --new" because it doesn't have the possibility to create the disk from a source

Thanks a lot

[2017-05-30 18:32] lindydonna commented on #3362
@troydai Does your fix improve the error message so that customers know why the command failed?

[2017-05-30 18:36] yugangw-msft commented on #3471
@danielaene, I will investigate and get back to you

[2017-05-30 18:38] yugangw-msft commented on #3470
Related with #3471. I will update both when I have more information

[2017-05-30 18:48] mayurid commented on #3399
@oakeyc moving this to be addressed in S17. Please treat this with priority and discuss with @troydai

[2017-05-30 18:49] mayurid commented on #3397
@oakeyc moving this to be addressed in S17. Please treat this with priority and discuss with @troydai

[2017-05-30 18:54] yugangw-msft opened #3511 "VM: Migrate to newer api version of 2017-03-30"
1. Handle a few breaking changes.
2. Handle stack profile.
3. Make code change, and particular the test re-recordings.

Milestone is still being discussed.

[2017-05-30 18:55] zignd opened #3512 "[Question] How to define virtual applications and directories on az resource create --properties?"
### Description
I'm struggling to define virtual applications and directories through `az resource create --properties`. This option is available here on the Azure portal:

![Azure portal](http://i.imgur.com/BWSHEX0.png)

Here's what I've tried:

[code]

It works, the app service is being created and the `serverFarmId` sets the service plan just as I needed, but the `virtualApplications` property

[2017-05-30 19:10] squillace commented on #3049
+1

[2017-05-30 19:15] squillace commented on #1871
+1 on both, FWIW.

[2017-05-30 21:23] troydai commented on #3362
I don't think CLI should unilaterally interpret all error messages in this action as an indication of  "too many rules". The best approach is still to fix this message in service. I'll talk to storage PM and push for the service to make the change.

[2017-05-30 21:49] oakeyc commented on #2249
https://github.com/oakeyc/azure-cli/pull/8

[2017-05-30 22:13] troydai commented on #2249
http://www.reactiongifs.com/r/2013/05/Ron-Paul_Its-Happening1.gif

[2017-05-30 22:14] troydai commented on #2249
![](http://www.reactiongifs.com/r/2013/05/Ron-Paul_Its-Happening1.gif)

[2017-05-31 01:52] yugangw-msft commented on #3497
We have made a new release with a fix that likely resolves this issue. Please verify, if still repro's please reactivate it

[2017-05-31 01:52] #3497 closed

[2017-05-31 01:53] yugangw-msft commented on #3500
please reactivate if you still reproduce it

[2017-05-31 01:53] #3500 closed

[2017-05-31 03:05] KylieLiang commented on #3497
verified on FreeBSD 11. Works. Thank you.

[2017-05-31 04:48] yugangw-msft opened #3550 "auth: resolve tenant domain name to tenant id during login"
Keyvault will not work with the logic domain name. This means I might have to crack the access token for the id, something i really don't want to do as it is very much discouraged to sniff the token other than relying parties like the ARM.

Repro:
1. az login -u http://mysp -p secret --service-principal --tenant mydomain.onmicrosoft.com `<-- not a guid here`
2. az keyvault create -g myRG -n my-kv

[2017-05-31 08:32] alexeyshishkin01 commented on #3471
the same for me - I cannot detach disk and attach it with new Caching policy regardless of VM state (deallocated or not)

[2017-05-31 09:33] marcos-vidal opened #3551 "[Network] Can't create internal Load Balancer without subnet"
### Description
I'm trying to create an internal load balancer, but I don't want a public ip address.
When I do it using the azure portal or using templates I get it, but using the next command:

**az network lb create --resource-group $MyResourceGroup --location $MyLocation --name $MyLoadBalancerName --frontend-ip-name $MyFrontEndIP_name --backend-pool-name $MyBackendPool_name --private-ip-addres

[2017-05-31 11:07] jsacapdev opened #3552 "az interactive -> vm create --size throws"
### Description
Using the AZ Interactive shell to create a vm with size parameter throws:

az>> vm create --size Exception in thread Thread-37:
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/threading.py", line 914, in _bootstrap_inner
    self.run()
  File "/usr/local/lib/python3.5/threading.py", line 862, in run
    self._target(*self._args, **self._kwargs)
  File "/usr/loca

[2017-05-31 11:21] squillace commented on #3179
Update: it **is** fixed, per the other issue about ssh-add. So, if you fail using a key that hasn't been added:

[code]

Then you try adding it and import the creds again:

[code]
you have success, per this item.

[code]

[2017-05-31 14:47] ericvanwijk commented on #3497
Verfied in macOS, thx.

[2017-05-31 15:36] tjprescott commented on #3551
It expects you to specify `--vnet-name NAME --subnet NAME` or `--subnet ID`.  I'll take a look at the validation here.

[2017-05-31 15:45] tjprescott commented on #3499
Unfortunately, this happens because the service, at present, only returns the key ID. cc/ @schaabs

[2017-05-31 15:47] tjprescott commented on #3503
If you run this with --debug do you get any more information on the error?

[2017-05-31 15:51] tjprescott commented on #3512
In general, whatever the structure of a "show" command looks like it the format you would use when setting properties.  Is there a reason you are using the generic resource commands to accomplish this rather than the dedicated webapp/appservice commands?  Are they missing the functionality you are looking for?

[2017-05-31 15:53] marcos-vidal commented on #3551
great, I've just tested it and it works as I wanted.

Sorry the annoyance, but I've been looking for examples and I found nothing.

Should I close the issue?

Thanks!!

2017-05-31 17:37 GMT+02:00 Travis Prescott <notifications@github.com>:

--

Un saludo,
Marcos Vidal Tomás

Puedes encontrarnos también en:

[image: Facebook] <https://www.facebook.com/OKNHumanCapital?ref=ts&fref=ts>
     [image: Tw

[2017-05-31 15:54] tjprescott commented on #3043
Why don't we just make the `sp delete` command default to deleting the app definition unless you specify a `--keep-app` flag or something like that?

[2017-05-31 15:58] iyerusad opened #3553 "Feature Request: azure cli to enable "App Service Authentication/Authorization""
### Description
Capability to use azure cli to enable **[App Service Authentication/Authorization](https://docs.microsoft.com/en-us/azure/app-service-web/app-service-web-get-started-2#authenticate-your-users)**.

---

Currently this only appears to be supported via portal interface, (as described here https://docs.microsoft.com/en-us/azure/app-service-web/app-service-web-get-started-2#authenticate

[2017-05-31 15:59] tjprescott commented on #3551
No I'll keep it open for a few reasons:

1) the client-side validation here may be inadequate
2) the examples in `lb create -h` are inadequate
3) if you should be able to create an internal load balancer without specifying a subnet, then the logic here is wrong to not support that.

[2017-05-31 16:04] marcos-vidal commented on #3551
OK

Thanks again!

[2017-05-31 16:05] tjprescott commented on #3552
It seems to vomit when it tries to get the completions.

[2017-05-31 16:22] yugangw-msft commented on #3043
sorry, i didn't update the comment in time. Yep, I chatted with @devigned yesterday, I will let both `ad sp/app delete` to clean up the assignment, and related sp object as well

[2017-05-31 16:28] JanaJensen opened #3554 "Curl install on RHEL 7.3 times out connecting to aka.ms"
### Description
**Outline the issue here:**

The command to install azure-cli times out and never runs.

[~]$ sudo curl -L https://aka.ms/InstallAzureCli | bash
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:--  0:02:07 --:--:--     0cur

[2017-05-31 16:48] #3470 closed

[2017-05-31 16:48] #3471 closed

[2017-05-31 16:48] yugangw-msft commented on #3471
Fixed

[2017-05-31 16:59] derekbekoe commented on #3554
Is there a proxy/firewall blocking the download?
Does it work without sudo?

[2017-05-31 17:21] #3141 closed

[2017-05-31 17:22] JasonRShaver opened #3555 "Progress reporting should be cleared before completing"
### Description
When a LRO completes, the output is pasted over the existing progress text.  Can we clear that out before presenting the output?

[code]
---

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:

**OS Version:** What OS and version are you using?
Answer here:

**Shell Type:** What shell are you using? (e.g. bash, cmd.exe, Bash on Win

[2017-05-31 17:23] JanaJensen commented on #3554
I can access other urls. It doesn't work without sudo.

[2017-05-31 17:24] derekbekoe commented on #3554
What version of `curl` are you using?

[2017-05-31 17:26] berndverst opened #3556 "Error loading command module 'cosmosdb'"
### Description
Whenever I attempt to switch subscriptions via `az account set --subscription` the CLI returns the error `Error loading command module 'cosmosdb'`.

Details from the debug logs:
[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: `pip install azure-cli`

**CLI Version:** Wh

[2017-05-31 17:31] derekbekoe commented on #3556
Was this installed into a clean virtual environment? Looks like there's a mismatch of dependencies.

What's the full output of `az --version`?
Also, what's the output of `pip freeze | grep azure-cli-`?

[2017-05-31 17:34] tjprescott commented on #3505
Is there a reason you aren't just using the `az network nic ip-config address-pool add` command?

[2017-05-31 17:34] JanaJensen commented on #3554
$ curl --version
curl 7.29.0 (x86_64-redhat-linux-gnu) libcurl/7.29.0 NSS/3.21 Basic ECC zlib/1.2.7 libidn/1.28 libssh2/1.4.3
Protocols: dict file ftp ftps gopher http https imap imaps ldap ldaps pop3 pop3s rtsp scp sftp smtp smtps telnet tftp
Features: AsynchDNS GSS-Negotiate IDN IPv6 Largefile NTLM NTLM_WB SSL libz unix-sockets

[2017-05-31 17:34] berndverst commented on #3556
No it's installed globally.

[code]

[code]

[2017-05-31 17:42] zignd commented on #3512
Thanks! Your reply gave me some light! I decided to investigate the resource using the Azure Resource Explorer and I figured out that the property I was trying to set was located in different resource type, one named `Microsoft.Web/sites/config`. So I created the app service normally and then I proceeded to update this resource to set `virtualApplications` property like so:

    az resource update

[2017-05-31 17:44] tjprescott commented on #3505
It looks like your syntax is wrong:
`--set ipConfigurations[0].loadBalancerBackendAddressPools=MybackendPoolName`

Since this is a collection, you could add to the collection with:
`--add ipConfigurations[0].loadBalancerBackendAddressPools {'id': 'myBackendPoolID'}`

Or you could replace the entire collection with:
`--set ipConfigurations[0].loadBalancerBackendAddressPools=[{'id': 'MybackendPoolID

[2017-05-31 17:45] derekbekoe commented on #3556
It appears there are multiple instances of the CLI on the machine:
- Your initial comment had `/Users/bverst/Library/Python/2.7/lib/python/site-packages/`
- Yet `az --version` shows `/usr/local/opt/python/bin/python2.7`

What about `type -a az`? What directory does that give?

[2017-05-31 17:47] derekbekoe commented on #3554
Curl has a `--connect-timeout <seconds>` and `-m, --max-time <seconds>` parameters.
You can try setting them.

This doesn't look CLI related though as the download link is working.

[2017-05-31 17:51] berndverst commented on #3556
I now remember messing with the CLI's own virtualenv when I had to load a module which had not been released yet at that time. Looks like I messed up a bunch of things.

I just tried to wipe the CLI -- had to run the following multiple times
`pip freeze | grep azure-cli- | cut -d'=' -f1 | xargs pip uninstall -y`

And then I installed via `curl -L https://aka.ms/InstallAzureCli | bash` -- I let it

[2017-05-31 17:52] JanaJensen commented on #3554
I'll check with our networking team. It's working fine on another server.

**Other machine:**
 curl https://azurecliprod.blob.core.windows.net/install | bash
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  1252  100  1252    0     0   2446      0 --:--:-- --:--:-- --:--:--  2450
Downl

[2017-05-31 17:52] #3554 closed

[2017-05-31 17:55] tjprescott opened #3558 "[Network] NIC create/update should support custom DNS servers"
NIC creation currently supports only `--internal-dns-name`. However, there are other DNS properties that can be set via the portal. The CLI should support these scenarios as well.

[2017-05-31 17:58] tjprescott commented on #3512
@yugangw-msft is most familiar with the webapp commands.

[2017-05-31 17:59] #3556 closed

[2017-05-31 18:04] JasonRShaver opened #3559 "Azure Cloud Shell improvements"
### Description

## Login
While users are automatically logged in, the 'az login' command should still be supported, but not default to a device login.

Currently it does:
[code]

I propose

[code]

## Components
We should disable `az component update` if it does not work.  Currently it does:
[code]

[2017-05-31 18:08] oakeyc opened #3560 "Template Progress"
### Description
**Outline the issue here:**
For commands that use template deployments, the CLI can get more information about creation and success for progress.
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

**CLI Version:** What version of the CLI and modules are installed? (Use `az --vers

[2017-05-31 18:18] derekbekoe commented on #3559
@tjprescott This is cloud shell not interactive. I created a new Cloud Shell label.

[2017-05-31 18:21] rbrisita commented on #3322
@alexeyshishkin01 try:
`az component update`

[2017-05-31 18:26] tjprescott commented on #1622
Hi @Aendapally, try this on Windows:
`az network application-gateway address-pool update --resource-group outlookserviceclean --gateway-name Nimble-ApplicationGateway --name appGatewayBackendPool --add backendAddresses "{\"ip_address\":\"{10.0.0.13}\"}"`

You don't need to include the FQDN part since it will be null by default.

[2017-05-31 18:27] #1622 closed

[2017-05-31 18:43] tjprescott commented on #3322
@alexeyshishkin01 the fix is included in the most recent release.

[2017-05-31 19:19] PatLac04 opened #3562 "az network local-gateway create ignores the --local-address-prefixes"
When creating a local-network-gateway, using "az network local-gateway" the --local-address-prefixes parameter is ignored.

I tried with PowerShell and with Bash on Ubuntu on Windows.

The "az network local-gateway update" command works.

Install Method: Followed install guide from https://docs.microsoft.com/en-us/cli/azure/install-azure-cli.

CLI Version:  azure-cli (2.0.6)
OS Version: Windows 10

[2017-05-31 19:52] yugangw-msft commented on #3443
@PaulTrampert , i can't reproduce it. Please check out my command and let me know what was missed.
[code]

[2017-05-31 20:10] peter-gergely-horvath commented on #3503
Not really -- here is the screenshot:

![screen shot 2017-05-31 at 22 05 49](https://cloud.githubusercontent.com/assets/15800802/26651667/bced0e98-464d-11e7-88ca-1135574b8480.png)

[2017-05-31 20:40] alexeyshishkin01 commented on #3322
hi there, I don't use 'az component', instead I've updated via apt-get and tested - it finally works! thanks!

[2017-05-31 20:59] johanste opened #3563 "OS Disk name for vm create is not stable -> command is not idempotent"
From the vm_create function:

    ...
    os_disk_name = os_disk_name or 'osdisk_{}'.format(random_string(10))
    ....

This means that if I invoke the command twice with the same parameters (with os disk name omitted), I will (with a very high probability :)) end up with two disks, one of which is orphaned. This goes against the goal of having idempotent commands.

[2017-05-31 20:59] tjprescott commented on #3563
Actually it just errors out saying you can't change OSDisk name.

[2017-05-31 21:25] neilpeterson opened #3564 "[ACS] Default image not found for Kubernetes / Windows"
### Description
When creating a Kubernetes cluster for Windows based containers, the default image is not found. I have updated to the lastest CLI version `2.0.7`, tested on both Windows 10 (WSL) and macOS, in both the west and east us regions.

[code]

Error:

[code]

Output from `az vm image list --offer WindowsServer --all --output table`:

[code]

Perhaps updating the CLI default behavior to u

[2017-05-31 21:28] yugangw-msft opened #3565 "webapp: remove all commands under 'az appservice web'"
We have been reporting warnings on such usages to point people to the `az webapp`.
Let us completely remove them in the sprint 18

[2017-05-31 22:05] yugangw-msft commented on #2835
It is confirmed the CRP service has a bug. The fix will roll out sometime in June. This is not a CLI bug

[2017-05-31 22:05] yugangw-msft commented on #2835
For now, the workaround is to tag using the `create` command

[2017-05-31 22:07] alexeyshishkin01 commented on #3471
what is exactly fixed?

[2017-05-31 22:08] yugangw-msft commented on #3471
as the title states `az vm disk attach ignores caching argument `

[2017-05-31 22:09] alexeyshishkin01 commented on #3471
so now it doesn't ignore it?

[2017-05-31 22:11] yugangw-msft commented on #3471
yes

[2017-05-31 22:13] alexeyshishkin01 commented on #3471
do I have to update CLI version in order to get the fix?

[2017-05-31 22:13] neilpeterson commented on #3564
I've spoken with Anthony and Surya and understand that a fix is on its way.

[2017-05-31 22:15] yugangw-msft commented on #3471
Not released yet, you can try either the docker image or nightly drop tomorrow morning
https://github.com/Azure/azure-cli#installation

[2017-05-31 22:17] alexeyshishkin01 commented on #3471
when it's going to be available via apt-get for example? I don't use docker image so far.
the last time I tried to use nightly drop I had an issue with it and had to reinstall CLI from scratch

[2017-05-31 22:32] yugangw-msft commented on #3512
CLI doesn't expose the strong type flag for `virtual applications`, because you are the first one asking for it.
If you like to use `az resource set`, then yes, the resource type is `Microsoft.Web/sites/config`. And yes, related webapp command to update is `az webapp config set`, if CLI would expose this support.
At the same time, for `create`, I would much recommend to use `group deployment creat

[2017-05-31 22:34] yugangw-msft commented on #3471
It will be available when the current milestone (sprint 17) ends.
https://github.com/Azure/azure-cli/milestones

[2017-05-31 22:39] yugangw-msft commented on #3512
I will keep this issue open in case there are new incoming voices the bump up the priority

[2017-05-31 22:49] zignd commented on #3512
Oh, thanks for suggesting this alternative method through `az group deployment create`, but for now I keep the `az resource set` to avoid having to handle template files on my CI/CD process.

[2017-05-31 23:10] brendandburns commented on #3564
Yes, this is a known issue with the service (sorry!) the fix is rolling out right now but may take a few days to get everywhere.

Closing this issue.

[2017-05-31 23:10] #3564 closed

[2017-05-31 23:27] yugangw-msft commented on #2385
@atrauzzi, there are lots of great ftp clients around, and i don't think writing another one in cli would better them. Use `az webapp deployment list-publishing-profiles --query ...` should extract out the ftp client creds to give to a ftp client tool to open the connection, and then upload files.
If you can tell me the ftp client tool you like the best, I can put in a few samples in the command h

[2017-05-31 23:30] yugangw-msft commented on #2866
No other user voices, so move to the backlog. For now, you can use `az resource set` to tweak the `kind`

[2017-05-31 23:34] #3049 closed

[2017-05-31 23:35] tjprescott commented on #2866
Why do we not have a strongly typed generic update?  `az webapp update`?

[2017-05-31 23:49] yugangw-msft commented on #2866
`az webapp update` is tracked by #892. It should do the work, but not really better though as both are conceptual confusing

[2017-06-01 00:00] atrauzzi commented on #2385
@yugangw-msft - I've had quite a fair bit of discussion recently about this, particularly with @davidebbo.

While I think we came to a solution a few weeks back, you should be aware that FTP shouldn't be considered an option.  I also suspect that some clarification is in order: I'm not asking for samples on how to use FTP clients.

I'm talking about an integrated application deployment command, wh

[2017-06-01 00:08] davidebbo commented on #2385
@atrauzzi I think it may help to clarify the deployment scenario that you're after, as there are subtleties. e.g.

1. Do you want to deploy one local file, a whole local folder, a local zip file?
2. If deploying a whole folder/zip, do you expect deletions to be carried (msdeploy supports that), or just have it blast all the files over whatever happens to be there (Kudu zip API behavior)

[2017-06-01 00:35] PaulTrampert commented on #3443
I do notice a couple things. First, unless you're anonymizing the address, the default azurewebsites.net address has a built in working cert...

That said, the other difference I see is that the cert I have has 2 hostNames: *.mydomain.com, and mydomain.com (and correspondingly, 2 subject names: *.mydomain.com,mydomain.com). Would that cause an issue?

[2017-06-01 01:17] Suna-MS commented on #3359
Fixed in https://github.com/Azure/azure-cli/pull/3417, and merged

[2017-06-01 02:48] seanknox commented on #3049
Thanks!

[2017-06-01 03:25] ramayer opened #3571 "HDInsights Commands"
### Description
**The old Azure CLI had features to manage HDInsight clusters as described here:**

https://docs.microsoft.com/en-us/azure/hdinsight/hdinsight-administer-use-command-line

Reading and searching the documentation of the new CLI ( https://docs.microsoft.com/en-us/cli/azure/overview ), it doesn't seem to reference HDInsight.

Can such features be added to the new CLI?

---

### Enviro

[2017-06-01 05:46] bccore commented on #3553
+1

Hi,

I was just searching for an answer to this as well. Are there any other methods of achieving this in an automated way? I guess I'll be looking at RM templates to configure some parts of my infrastructure to fill in the missing gaps.

Thanks!
Ben.

[2017-06-01 06:21] stewartadam opened #3572 "az image create documentation insufficient/out of date"
### Description
1. Documentation for `az image create` (https://docs.microsoft.com/en-us/cli/azure/image) and its help strings do not provide sufficient context to enable users to decide when to use the parameters (e.g. how does `--source` and `--data-disk-sources` differ?
2. Examples reference non-existent parameter `--data-snapshot`
3. Only `-n` and `-g` are marked as required flags, some invoca

[2017-06-01 09:06] fbejarano commented on #3505
Hi

Thanks for the answer. I was based in a script of azure official documentation process, so

I have finally used this in my script

[code]

But, I think the help about this questions (properties, set, add, etc.) is not too clear

Generic Update Arguments
    --add                   : Add an object to a list of objects by specifying a path and key value
                              pairs.  Exam

[2017-06-01 13:48] alexeyshishkin01 opened #3574 "Question about VM Create"
### Description
**Outline the issue here:**
Suppose I'd created VM using 'az vm create ... --public-ip-address-dns-name myvm-dnsname-xx' in the past.
Its FQDN is myvm-dnsname-xx.<location>.cloudapp.azure.com
I use this FQDN instead of IP-address to connect to VM.

1)
Now suppose I by mistake run the same command to create new VM as in the past.
My tests show:
- no error message is thrown
- no new

[2017-06-01 14:02] tjprescott commented on #3574
You shouldn't get an error in case 1, if I understand your scenario correctly. You are re-running the same command with the same parameters, yes?  In that case, you should get no error and the create should succeed.  This is because creates in Azure should be idempotent, or goal-seeking. However, due to issue #3563, I would actually expect your scenario to fail (though it shouldn't).

[2017-06-01 14:04] tjprescott commented on #3572
From your output, there is a validation bug--not just a documentation problem.

[2017-06-01 14:06] tjprescott commented on #3505
Absolutely. This is covered by issue #1582.

[2017-06-01 14:06] #3505 closed

[2017-06-01 14:26] alexeyshishkin01 commented on #3574
in case 1 I run exactly the same command to create VM as in the past.
in my case I'm creating another VM with the same:
--name myvm-xx
--public-ip-address-dns-name myvm-dnsname-xx
--os-disk-name myosdisk-xx
in the same resource group and in the same location

And I don't get a warning message that another VM has at least one duplicate either in: --name, --public-ip-address-dns-name or --os-disk-na

[2017-06-01 14:42] alexeyshishkin01 commented on #3574
a list of my tests below, from my point of view tests 1) and 5) should have given error messages, but it doesn't happen:

0)VM is created
az vm create \
--name myvm-xx \
--resource-group myresourcegroup \
--image postgres-pro:postgres-pro-standard:hrly:9.6.2 \
--location northeurope \
--size Standard_DS1 \
--admin-password <azureuserpassword> \
--admin-username azureuser \
--authentication-type pa

[2017-06-01 14:44] alexeyshishkin01 commented on #3574
one more details for test 3) and object 'myvm-03NSG' is created

[2017-06-01 16:37] tjprescott commented on #3574
For test 0 and 1, the behavior you observe is exactly what is intended by the service. You don't get the failure described in #3563 because you are attaching an OS disk.

For test 5, again, a new VM would *not* be created.  As a user, I'd expect it to update the DNS name, but knowing the implementation of VM create, I suspect it doesn't. Is this correct?

[2017-06-01 17:43] anavinahar opened #3577 "Need to have DNS servers exposed at the time of NIC create"
### Description
az network nic create should expose the option of being able to set a custom DNS server. The PowerShell equivalent of this is:

New-AzureRmNetworkInterface -Name "NetworkInterface1" -ResourceGroupName "ResourceGroup1" -Location "centralus" -SubnetId "/subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/ResourceGroup1/providers/Microsoft.Network/virtualNetworks/Virtual

[2017-06-01 17:50] tjprescott commented on #3577
This is a duplicate of #3558.

[2017-06-01 17:50] #3577 closed

[2017-06-01 17:54] tjprescott commented on #3577
You can set these currently with:
`az network nic update -g {rg} -n {nic} --set dnsSettings.dnsServers=['10.0.0.12', '10.0.0.13']`

You may need to adjust the syntax somewhat and do any necessary escaping based on your shell of choice.

[2017-06-01 18:45] tjprescott commented on #3574
For test 3, this is an unfortunate side effect of ARM templates--an NSG gets created as it is a prerequisite for creating the VM--but then the VM creation fails, leaving behind the orphan resources.

[2017-06-01 18:51] JasonRShaver opened #3578 "ML should handle missing RSA keys better"
### Description
[code]

This should instead direct the user to the command or process to create the acs_id_rsa file.

[2017-06-01 18:54] tjprescott commented on #3574
I ran a simple test for issue 5, running the same VM create command but just changing the public IP DNS name. It did change the FQDNS for the VM.

[2017-06-01 20:04] tjprescott commented on #3578
Shouldn't this be in the ML team's repo?

[2017-06-01 20:24] tjprescott commented on #3571
cc/ @mayurid

[2017-06-01 20:31] JasonRShaver opened #3580 "Parameters not getting passed up to telemetry consistently"
### Description
When looking at telemetry events after running `az ml env show --query "[]"`, it shows the params getting sent up with the measurements, but looking at AI, there are no param keys in customMeasurements, but is shown for some other commands out of customDimensions.

[code]

[2017-06-01 20:37] stewartadam commented on #3572
Agreed, it looks like there's a traceback triggered on incomplete CLI parameters, and the docs don't sufficiently clarify what a complete CLI sequence would look like (imo).

[2017-06-01 23:48] tjprescott opened #3589 "Template Creates Not Goal Seeking"
If you run the following twice:
`az vm create -g {rg} -n {vm} --image UbuntuLTS --verbose`

You will note that in the second instance, the resulting template uses the pre-created VNET and does not include it as a resource in the generated template. Thus, if you were to use the various VM create arguments that affect the VNET or subnet, those parameters would either be ignored or the CLI would thro

[2017-06-02 00:22] stewartadam commented on #3572
Documentation on `az disk` faces similar issues, notably both `image` and `disk` state that `--source` can be a SAS URI, but when I supply the HTTPS SAS URI generated for a Managed Disk, it fails to parse.

[2017-06-02 01:09] brendandburns commented on #3492
I sent a PR with a partial fix, but this is mostly expected.

My design choice was to require the user to be specific, otherwise we may accidentally delete a lock that the user doesn't expect us to delete.

e.g. suppose a user has a subscription level lock named 'foo' and a resource group level lock named 'foo'

If the user has already deleted the subscription level lock, and then accidentally re-

[2017-06-02 07:24] alexeyshishkin01 commented on #3574
thanks for the replies!
0) is not actually a test - it's a starting point
1) let me not agree with you - I get command output about VM - it's the same as I get in 0), but not having info about 0) I get the impression I have new VM created which is not true - I'd like to have a warning message like 'VM with the same name or with the same os-disk name or with the same FQDN already exists'
3) NSG cre

[2017-06-02 07:41] stewartadam commented on #3572
Another issue, trying to migrate a snapshot from one RG to another in the same sub by creating a new snapshot pointing to the same disk:
[code]
just returns "The entity was not found." despite $snapshotId being a snapshot ID (e.g. `/subscriptions/GUID/resourceGroups/RG_NAME/providers/Microsoft.Compute/snapshots/SNAPSHOT_NAME`) per current docs.

[2017-06-02 07:44] stewartadam commented on #3572
Running the same command line but with `az image`:
[code]
just yeilds
[code]

[2017-06-02 12:36] odlevakp opened #3592 "dryrun error when running "az storage blob download-batch""
### Description
Using `--dryrun` with `az storage blob download-batch` creates following error:
[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
interactive script / Docker

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
azure-cli (2.0.7)

**OS Version:** Wh

[2017-06-02 14:50] tjprescott commented on #3492
1. I wouldn't put the "Expected blah" message because if you aren't trying to guess the lock for the user (which makes sense) then this sounds like you are. In general, the CLI doesn't try and guess what the user meant to do.  In this case, I should simply get a 404.

2. The help text says that `--resource-type NAMESPACE/TYPE` is valid, but the command doesn't accept it. It should accept the alter

[2017-06-02 15:59] tjprescott opened #3593 "Warning for creates when the resource already exists"
Generated based on discussion in issue #3574.

Creates in Azure and the CLI are (or at least should be!) idempotent, so running the same create command twice with the same parameters should result in success.

The suggestion raised by @alexeyshishkin01 would be to issue a warning so the user knows that an existing resource is being overwritten by this create command. We do this already in certain

[2017-06-02 15:59] dswersky opened #3594 "Creation of Windows Kubernetes cluster fails"
### Description
When trying to create a Windows-Container Kubernetes cluster using `azs create` the provision fails.  The same process fails with the same error through the RM Portal.

Command:
`***@DAVEPC:~$ az acs create -n RMA-KB-01 -d rmakb -g RG-KB-01 --generate-ssh-keys --orchestrator-type kubernetes --windows --admin-password=*****`

Error:
[code]

---

### Environment summary

**Install Me

[2017-06-02 16:02] tjprescott commented on #3005
Closing this issue as it doesn't seem we have any control over this via the CLI.

[2017-06-02 16:02] #3005 closed

[2017-06-02 16:11] tjprescott opened #3595 "Transactional behavior for template deployments"
This issue has been brought up internally a few times and again in issue #3574.

If you have an ARM template deployment (such as VM create) and it fails midway through, several resources may have already been created for you. In many cases, this is what you want--you'd tweak your parameters, redeploy the template and achieve your desired end-state without needing to delete those resources or recre

[2017-06-02 16:15] tjprescott commented on #3574
Hi @alexeyshishkin01, in the case of 1, this is by design across Azure. One of the main reasons for this is because if you ran a script to set up your infrastructure, and that script failed for some reason (intermittent service issue or something), you want to be able to re-run that script and not have it fail because your VM already exists, nor would you want it to create another VM (which it cou

[2017-06-02 16:15] #3574 closed

[2017-06-02 16:50] yugangw-msft commented on #635
@troydai  Per our discussion, this should be handled by test fx so that the recordings can be played back.

[2017-06-02 17:16] tjprescott commented on #2373
Appears to be fixed. Test workaround removed in PR #3596.  Closing.

[2017-06-02 17:16] #2373 closed

[2017-06-02 18:01] binderjoe opened #3597 "Azure WebApp config container set should not require creds for ACR repos"
When configuring an Azure WebApp to run a container, the registry URI, password, and login/user are required. This pretty cumbersome when working with ACR, since you need to write several commands to fetch the credential values. Instead, the command should accept an image name and (optional) resource ID or name for an ACR repo.

[2017-06-02 18:04] binderjoe opened #3598 "az webapp log download creates zip files that can't be opened on OSX and Linux"
`az webapp log download` is meant to retrieve the web app logs for local analysis. If you use the command on OSX or *nix, the zip file that's downloaded can't be opened because it's in an invalid format.

### Environment summary
Verified this behavior on OSX 10.12 and Ubuntu Trusty.

[2017-06-02 18:10] binderjoe opened #3599 "az webapp config appsettings set should not print out all settings"
### Description
The  `az webapp config appsettings set` command currently prints out all settings for the webapp, which is unexpected and has an unintended consequence of printing sensitive information to the console. For example, if you run:
`az webapp config container set --name somename --docker-custom-image-name ${DOCKER_REGISTRY}/someimage--docker-registry    -server-url https://${DOCKER_REGI

[2017-06-02 18:13] binderjoe opened #3600 "az webapp log tail accepts a "provider" but there is no way to get the list of valid providers"
The log tail command accepts a provider, but as far as I can tell there is no way--through docs, help, or other CLI commands--to get the list of valid providers. It's not helpful to have parameters if there's no way to determine what values it accepts.

[2017-06-02 18:20] binderjoe opened #3601 "UX for specifying template parameters is very poor."
### Description
When deploying arm templates with parameters, it's necessary to encode the parameter values as JSON documents, which is very cumbersome to do on the command-line, particularly if the parameter values must be retrieved dynamically (e.g., from other CLI commands).

As a thought exercise, consider the experience for deploying a QuickStart template that accepts Azure resource IDs as pa

[2017-06-02 18:21] binderjoe opened #3603 "Template parameter prompting doesn't work when using --template-uri"
### Description
The `az group deployment create` command will prompt for missing template parameters, but the behavior only appears to work if the template file is local; it doesn't work if you use the --template-uri parameter, which is very confusing.

[2017-06-02 18:22] lostintangent opened #3604 "[WebApps] Browse command displays a seemingly inert error message"
### Description

When running the `az webapp browse` command, the following error message is printed in the terminal:

[code]

However, the browser is launched and correctly navigated to the web app. Therefore, the error doesn't appear to impact the successful behavior of the command (at least at first glance). Additionally, if I add the `-l` flag, the log tail also seems to work, so the error mes

[2017-06-02 18:34] binderjoe opened #3605 "az acs browse (Kubernetes) fails if using an encrypted ssh key"
### Description
If you create an ACS cluster using an encrypted SSH key and then try to browse to cluster, the operation fails:
`az acs browse --name [value] `

[code]
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

**CLI Version:** What version of the CLI and modules are installed? (Use `az

[2017-06-02 18:44] #3562 closed

[2017-06-02 19:04] binderjoe opened #3606 "No way to determine if an AppService is actually running/responsive"
### Description
There doesn't appear to be any mechanism for determining if a webapp is actually running and responsive to web requests. For example, if you restart the webapp it often takes 1-3 minutes to be responsive (tested with Linux container scenario), but there isn't a way to know for sure that the site is ready short of curl ing the endpoint.

I have tried
`az webapp show --name somename

[2017-06-02 19:41] tjprescott commented on #3558
Due to an issue with the REST API specs (https://github.com/Azure/azure-rest-api-specs/issues/1278) it appears that the only parameter that is truly settable and not exposed here is the DNS servers parameter.

[2017-06-02 20:04] lostintangent opened #3607 "[WebApps] [Discussion] Could the runtime list be more "real-time"?"
### Description

Node 8 support was [just deployed](https://github.com/Azure/app-service-announcements/issues/5) to Web Apps (on Windows), and I noticed that calling `az webapp list-runtimes` doesn't reflect that fact (`node|7.7` is the latest Node version displayed). Additionally, Node 6.10 has been available in Linux Web Apps for a while, but running `az webapp list-runtimes --linux` displays `n

[2017-06-02 20:18] tjprescott commented on #529
This has been resolved. We used a random string for deployment name.

[2017-06-02 20:18] #529 closed

[2017-06-02 20:19] tjprescott commented on #488
We use a random string for deployment name so these collisions don't occur.

[2017-06-02 20:19] #488 closed

[2017-06-02 20:24] binderjoe opened #3608 "az webapp browser opens the wrong browser"
### Description
`az webapp browse --name`
Appears to open Firefox and ignore the default system browser on OSX. It should use the default browser.

### `Environment` summary
OSX 10.12

[2017-06-02 20:25] tjprescott commented on #582
@yugangw-msft merged a PR that should fix this issue.

[2017-06-02 20:25] #582 closed

[2017-06-02 20:27] tjprescott commented on #665
Since create commands should be idempotent, which should definitely not fail when a resource already exists.  Arguably, we could issue a warning as described in #3593.  Closing this issue.

[2017-06-02 20:27] #665 closed

[2017-06-02 20:28] binderjoe opened #3609 "az webapp browse error message is cryptic"
### Description
`az webapp browse`

Reports the following error when run with a webapp that isn't running. The error should denote either the HTTP response or the website state if it isn't running

`0:51: execution error: "http://somesite.azurewebsites.net" doesn’t understand the “open location” message. (-1708)`
---

[2017-06-02 20:36] lostintangent commented on #3609
I hit this as well after updating my nightly bits, so I'm not sure if it was a recent regression. It's also tracked via #3604.

[2017-06-02 20:38] tjprescott commented on #675
I believe this is pretty much done, but I will verify in Sprint 18.

[2017-06-02 20:40] tjprescott commented on #1043
The only team that clamored for this was Datalake, and they were more than happy with the virtual environment solution.  Given that we have packaged released that include Python3... @derekbekoe can we close this issue?

[2017-06-02 20:41] yugangw-msft commented on #3598
Known service issue since last Nov.

[2017-06-02 20:43] yugangw-msft commented on #3597
@binderjoe , please clarify, the creds are optional arguments which you are ignore

[2017-06-02 20:47] tjprescott commented on #987
#3510 aims to resolve this.

[2017-06-02 20:49] yugangw-msft commented on #3600
The help does call out
`Scope the live traces to certain providers/folders, for example:'application', 'http' for server log, 'kudu/trace'`

[2017-06-02 20:52] yugangw-msft commented on #3606
There is a `state` field you can check.

[2017-06-02 20:54] tjprescott commented on #1279
For cases, where this is desired, we have a `three_state_flag` that has the following behavior:

[code]

Thus, this issue can be closed.

[2017-06-02 20:54] #1279 closed

[2017-06-02 20:56] tjprescott commented on #1244
This is a duplicate of #981. Closing.

[2017-06-02 20:56] #1244 closed

[2017-06-02 20:58] yugangw-msft commented on #3607
For linux the runtime list is well known not accurate which can only be addressed when related API is exposed. @ahmedelnably, could you please accept the PR(https://github.com/Microsoft/azure-docs/pull/1898)?
For windows, let us give a couple of days. If still not showing up, i will contact webapp folks to investigate

[2017-06-02 20:59] tjprescott commented on #1155
We have neither a VSTS module or container module any longer. Closing.

[2017-06-02 20:59] #1155 closed

[2017-06-02 21:01] yugangw-msft commented on #3608
To be clear, we didn't pick Firefox, but python's webbrowser component does that!

[2017-06-02 21:02] yugangw-msft commented on #3609
dupe

[2017-06-02 21:02] #3609 closed

[2017-06-02 21:09] tjprescott commented on #1548
No movement on this since it was created. Closing.

[2017-06-02 21:09] #1548 closed

[2017-06-02 21:21] tjprescott commented on #3560
What is the purpose of this issue?  It seems like a duplicate of #3510.

[2017-06-02 21:23] #1043 closed

[2017-06-02 21:23] troydai commented on #635
Yes. @yugangw-msft, can you provide me an example of this scenario? For the purpose of testing.

[2017-06-02 21:24] tjprescott commented on #3560
Duplicate of #987.

[2017-06-02 21:24] #3560 closed

[2017-06-02 21:26] yugangw-msft commented on #635
checkout: https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-role/tests/test_role.py#L179

[2017-06-02 21:27] troydai commented on #635
cool

[2017-06-02 21:32] tjprescott commented on #1251
How does this differ from #3481?

[2017-06-02 21:44] devigned commented on #3605
@binderjoe #3612 should fix this.

[2017-06-02 21:48] devigned commented on #1773
This PR may fix the continued pain of this issue #3612

[2017-06-02 23:56] yugangw-msft commented on #3597
Please re-activate with clarifications

[2017-06-02 23:58] yugangw-msft commented on #3598
@ahmedelnablym, please update when kudu/linux starts to work

[2017-06-03 00:01] johanste commented on #3600
If the help stats "for example", it implies that the list is not complete. So we should update the help text to state that these are all the valid values (if that is the case) instead of telling the user that these are some examples of what may be used.

[2017-06-03 00:01] yugangw-msft commented on #3603
//cc: @brendandburns

[2017-06-03 00:04] yugangw-msft commented on #3601
Maybe, we should just expose an arg accepting key-value pairs list.

[2017-06-03 00:11] yugangw-msft commented on #3600
There is no fixed and complete list, it comes from
    https://github.com/projectkudu/kudu/wiki/Diagnostic-Log-Stream

[2017-06-03 01:33] stewartadam commented on #2792
I ran into this as well. Two NSG rules with same priority conflicted, 'az group deployment create' failed and said to refer to inner error which was not printed. Found the inner error by attempting deployment in the portal.

[2017-06-03 10:49] dottorblaster commented on #1773
OMG you are the best.

[2017-06-04 02:18] squillace commented on #3499
Is there a movement afoot to change that?

[2017-06-04 03:16] yugangw-msft commented on #3443
I have used my own domain and bound with a wildcard cert using CLI. It went through w/o any problems.
This error was emitted by CLI when it could not find the cert in plan's resource group, which has nothing to do with the cert's details,
Please run following commands and send me the output to yugangw ar microsoft dot com
[code]

[2017-06-04 10:20] sdementen opened #3614 "On-board API Management Service"
### Description

I would like to manage my API Management Service instances via the azure cli and I could not find the command for this. Is support for APIM yet to be added ?

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: pip

**CLI Version:** What version of the CLI and modules are installe

[2017-06-05 15:38] tjprescott opened #3615 "[Network] Expose DNS Servers convenience argument for VNET create"
Xplat has this argument exposed, and we expose it on create.

[2017-06-05 16:13] tjprescott commented on #3614
Hi @sdementen this service is currently not supported.

@mayurid, there is a Swagger spec for this service but no SDK support.

[2017-06-05 16:21] tjprescott commented on #3601
@yugangw-msft tag style syntax sounds good to me!  `--parameters param1=val1 param2=val2 ...`

[2017-06-05 16:59] listonb commented on #919
Instead of az account refresh i'd like az account list to just pull a live list of the active subscriptions. I'd like to see real time data.

[2017-06-05 17:32] yugangw-msft commented on #3608
This is a python 2.x bug on osx. I can reproduce using `python -m webbrowser -t msn.com`.

[2017-06-05 17:36] mayurid commented on #3614
@sdementen : thanks for the request. I will follow up with the team and get back to you asap.

[2017-06-05 17:40] yugangw-msft commented on #3604
This is OSX sierra specific. Repro'd using `python -m webbrowser -t msn.com`. [Reported](https://eclecticlight.co/2017/05/17/known-bugs-in-macos-sierra-10-12-5-an-incomplete-summary/) as an OS level bug
I will fix this and #3608 by not going through python's webbrowser object

[2017-06-05 17:44] mayurid commented on #3605
@brendanburns to review.

[2017-06-05 17:55] mayurid commented on #3578
@JasonRShaver : I dont believe ML is looking at this repo. Can you shoot them a mail?

[2017-06-05 17:55] #3578 closed

[2017-06-05 18:33] djsly commented on #943
I was looking for this over the weekend... I ran a deallocate command with 85 VM Ids and this took way too long.

It is currently faster to log on the portal and click ~300 times to shutdown all of the VMs...

Any update on a `--no-wait` feature ? That would be really awesome.

[2017-06-05 18:49] tjprescott opened #3617 "The current get_clouds method will fail to fetch clouds in racing situation."
Recent CI builds are failing randomly with the following error:
[code]

Of the three Python version, with predictability, at least one of the versions is failing because of this.

Original title: Failure: CloudNotRegisteredException (The cloud 'AzureCloud' is not registered.)

See my comments below including a repo

[2017-06-05 18:52] tjprescott commented on #943
VM deallocate already has --no-wait support.

[2017-06-05 19:05] tjprescott commented on #3617
Just confirmed that this is also failing the master branch.

[2017-06-05 19:35] djsly commented on #943
thanks @tjprescott , I updated the azure-cli from 0.6 to 20.7 and I now see the flag ;) Life quality increase right there! :)

[2017-06-05 19:40] yugangw-msft commented on #3600
Closing per my comment. By default all traces will be shown, hence the `--provider` is optional and won't get into the way. Once you see the traces, using the flag to scope down should be pretty clear.
FYI: for linux, the trace doesn't quite work, which is tracked by #1803

[2017-06-05 19:48] #3043 closed

[2017-06-05 19:49] #3508 closed

[2017-06-05 20:06] binderjoe commented on #3606
I am afraid that the state property does not reflect the functional state of the webapp. To repro,

1.  start a containerized webapp.
2.  Note that state==running
3.  In a new terminal, write an infinite loop that detects when the state property changes
[code]
3.  Now call az webapp restart --name [appname] in the original terminal.

The state property never changes even though the site is unrespo

[2017-06-05 20:08] binderjoe commented on #3600
Thank you for the clarification. The documentation needs to be updated to reflect this behavior. It's very misleading currently.

[2017-06-05 20:15] yugangw-msft commented on #3600
@binderjoe, what part? About the `--provider` usages help text? Or the Linux web streaming not available?
My argument was the `--provider`'s help is just right.

[2017-06-05 20:40] binderjoe commented on #3597
To clarify,

1. Create an ACR registry
`az acr create --admin-enabled --name somename --sku Basic`
2. Push an image to the registry
3. Get the URL for the new registry:
[code]
4. Create a new webapp (linux)
[code]
4. Configure the webapp to use the container image from the new registry:
[code]
5. Open any needed port(s)
`az webapp config appsettings set --settings PORT=8080 --name someapp`
6. Rest

[2017-06-05 20:41] derekbekoe commented on #3247
@troydai Okay to close this?

[2017-06-05 20:43] binderjoe commented on #3600
The important detail I'd suggest adding is that all logs will be returned if no provider is specified. As an aside, I still don't think we should have commands that take parameters that take values that can't be known or discovered. As @johanste mentions, the help text provides some examples, but it isn't clear if the list is complete. For example, I am not sure how to get the Docker logs.

[2017-06-05 20:51] derekbekoe opened #3618 "Lock down deps. for interactive script"
### Description

Currently, the install script pulls the latest version of dependencies from PyPI.
This leads to potential issues like https://github.com/Azure/azure-cli/issues/3497 where a dependency updated that inadvertently changed CLI behavior.

We can transition the curl script to be more like the packaged installs rather than the pip install method.
- It will carry all dependencies and not

[2017-06-05 20:56] stimms commented on #3594
I am also seeing this issue. I opened a parallel issue at https://github.com/Azure/acs-engine/issues/729. Not sure which is the right locaiton

[2017-06-05 21:15] troydai commented on #3247
Do it.

[2017-06-05 21:15] #3247 closed

[2017-06-05 21:23] derekbekoe opened #3619 "CLI Component Story"
### Description

Native package manager installs (MSI, Docker image, apt-get, Homebrew) don't support the CLI 'az component update/add' story as:
- Self-updating packages are frowned upon with many of the above package managers.
- Similar story with downloading and installing new code from untrusted stores.

Suggestions:
(1) Remove 'az component update', 'az component remove' & 'az component list-

[2017-06-05 21:34] mayurid commented on #3601
@yugangw-msft : lets do this.
I am adding this to upcoming sprint for us to pick

[2017-06-05 21:39] derekbekoe commented on #3506
That install script is designed to be interactive.
Try this installer which is non-interactive and reproducible:
https://github.com/derekbekoe/azure-cli/blob/bdd09472eb99a4baeda55ae124edfedc49eeb577/packaged_releases/bundled/README.md#using-the-bundled-installer

This should fit your scenario. You're welcome to re-open if it does not.

[2017-06-05 21:39] #3506 closed

[2017-06-05 22:34] #2067 closed

[2017-06-05 23:18] yugangw-msft commented on #919
I will expose that in “az account list”. About opt-in vs opt-out, we can leave it as an open question and decide it later on. Either way, we need new logics to get the live list, and flipping the default is easy.
JFYI, caching the subscriptions and access tokens, so to avoid asking for user credentials and active subscription on running every command, is the design coming from CLI 1.0. For creds s

[2017-06-05 23:41] troydai commented on #1251
No.

[2017-06-05 23:41] troydai commented on #1251
Let me close this one as dup...

[2017-06-05 23:41] #1251 closed

[2017-06-06 00:11] JasonRShaver commented on #3619
Agree on all points.  I expect #3 to be a point-in-time workaround for some kind formalized component helper for private and preview, especially for those without a base python install (MSI)

[2017-06-06 04:44] troydai commented on #3592
Thank you @odlevakp

[2017-06-06 04:45] troydai commented on #3580
We don't even have `ml` module in our codebase.

[2017-06-06 09:51] alexeyshishkin01 commented on #3574
ok, thanks

[2017-06-06 14:01] pipern commented on #3472
Hmm, since that 'pip install' of azure-cli into a virtualenv doesn't leave a `bin/az` which "works" (it calculates `PYTHONPATH` wrongly, making it have a value of `/home/pipern/src/Azure-azure-cli-3472/bin/src` instead of say `/home/pipern/src/Azure-azure-cli-3472/lib....`, I've been replacing `bin/az` as you can see above.

When making a fresh virtualenv right now, instead of doing that replaceme

[2017-06-06 14:32] #2403 closed

[2017-06-06 18:31] yugangw-msft commented on #3606
Let me contact webapp team for the right mechanism. Likely there is not, then I will consider letting CLI  `curl` till we have a response

[2017-06-06 20:51] mayurid commented on #645
Lets start staging the distro specific installation work items

[2017-06-06 21:19] yugangw-msft commented on #3550
Doable, but so far we only have one user asking for this, so I will hold on the change till I understand their context.

[2017-06-06 21:28] schaabs commented on #3499
@squillace yes we are currently looking to change the service so that these fields are returned in addition to the ID.  However, I'm not sure when this fix will be available.  I'm also looking into adding methods into the cli to parse the ID, currently you can do this through the python azure-keyvault SDK using the KeyVaultId class.

[2017-06-06 21:48] yugangw-msft commented on #3600
The help will be updated like the following.
I decided not to error out when invoke the command on a linux web, because webapp team is working on to get it work.
[code]

[2017-06-06 21:50] lostintangent opened #3625 "[WebApps] Typo in arg name of the "traffic-routing set" command"
### Description

The `az webapp traffic-routing set` command  has an arg called `--detributions`, which I assume is meant to be called `--distributions`. Aside from the typo, I'd also vote to call this arg `--distribution` (without the `s` suffix).

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer he

[2017-06-06 23:40] yugangw-msft commented on #3606
Looks like we don't have that kind of support from the service end. For windows, once the Create command returns, the site is ready, so we are good. For linux, use "curl http://<defaultHostName>" is probably the only way to go
So @binderjoe, can you use `curl`? Acceptable?

[2017-06-07 00:18] yugangw-msft commented on #3597
After talked to @djyou, I am a bit clear now on ACR's creds management.
Yep, we can improve this flow.

[2017-06-07 00:18] #3625 closed

[2017-06-07 03:09] hankl commented on #2190
"az image create " fails with the same message for China Azure Cloud. Is there any solution to workaround? When can be supported?

[2017-06-07 07:42] jackting73 opened #3628 "[Question]Is it able to convert an existed VIP on Cloud Service classic mode to Reserved IP ?"
### Description
Is it able to convert an existed VIP on Cloud Service classic mode to Reserved IP ?

---

### Environment summary
1. I realize we can done this by powershell from the article here: https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-reserved-public-ip
2. But seems no information to indicate if it is possible to achieve by CLI: https://docs.microsoft.com/en-us/az

[2017-06-07 19:55] kostrse commented on #1043
Folks, this issue still persists and annoying...

[2017-06-07 20:26] brendandburns commented on #3603
#3629 has this implemented.

[2017-06-07 20:28] yugangw-msft opened #3630 "Core: arm subscription client code is not profile aware, though SDK does"
//cc:@derekbekoe
Need to fix at least 2 places
- https://github.com/Azure/azure-cli/blob/master/src/azure-cli-core/azure/cli/core/commands/client_factory.py#L36-L37
- https://github.com/Azure/azure-cli/blob/master/src/azure-cli-core/azure/cli/core/commands/client_factory.py#L36-L37

[2017-06-07 22:04] lastcoolnameleft opened #3632 "Template "outputs" does not display output values"
### Description
**I'd expect foo:bar to be in the outputs**

➜  azure az --version
azure-cli (2.0.7)
➜  azure cat /tmp/output.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentParameters.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
  },
  "resources": [
  ],
  "outputs": {
      "foo": {
          "type": "string",
          "value": "bar"
      }

[2017-06-08 01:08] itowlson opened #3633 "Azure Batch durations reported in wrong format in JSON"
### Description

When you do a 'get' or 'list' of Azure Batch resources containing durations, the resulting JSON contains a textual description of the duration rather than the round-trippable, machine-processable representation used in the API.  E.g.

[code]

This is particularly problematic for the value shown, which actually represents "no maximum wall clock time" using the implementation detail

[2017-06-08 05:36] mayurid commented on #3633
@annatisch and @xingwu1 to comment

[2017-06-08 05:58] mayurid commented on #3619
@derekbekoe: This looks good.
I agree with @JasonRShaver that we need to look deeper in scenario #3 to understand what customers would want to do and look into more seamless ways to help them acquire preview/extension modules.
We should prioritize #1 and #2 asap.

[2017-06-08 06:02] mayurid commented on #3617
@troydai : Thoughts?

[2017-06-08 06:06] mayurid commented on #3605
@devigned : The PR is merged so closing the issue. Please reopen if you disagree
@lostintangent : Try latest docker image. It will be in upcoming release as well

[2017-06-08 06:06] #3605 closed

[2017-06-08 06:13] mayurid commented on #3366
@hensilva : Thoughts on using 'az vm disk attach'?

[2017-06-08 06:16] mayurid commented on #3362
@troydai : any updates?

[2017-06-08 06:16] #3359 closed

[2017-06-08 06:17] mayurid commented on #3359
@lostintangent : Please feel free to reactivate if you still have concerns. You can try the latest docker image

[2017-06-08 06:42] mayurid commented on #564
I have verified it does not return an error now. here is an output

(env) Mayuris-MacBook-Pro:azure-cli mayuridiwan$ az vm extension list -g <testrg> --vm-name <name>
[]

[2017-06-08 06:42] #564 closed

[2017-06-08 06:45] mayurid commented on #548
No big concerns or reported issues so far.
Closing this

[2017-06-08 06:45] #548 closed

[2017-06-08 07:01] mayurid commented on #887
closing for now due to lack of customer asks.

[2017-06-08 07:01] #887 closed

[2017-06-08 07:16] mayurid commented on #1045
@derekbekoe : Lets look into this for upcoming sprint.

[2017-06-08 07:18] mayurid commented on #3511
clearing backlog milestone for now

[2017-06-08 10:17] qqzylx commented on #1722
The fix from @berndverst works for me as well. Thanks guys.

[2017-06-08 10:30] GuyHarwood commented on #1803
is there a timeframe on this issue?  unable to debug errors from a NodeJS web application due to `az webapp log tail` outputting nothing

[2017-06-08 15:47] #3563 closed

[2017-06-08 16:25] troydai commented on #3617
I will go through this with @derekbekoe today. I investigated this issue last night. It occurs to me in parallel execution the `ConfigParser` will sometimes drop all the content of a config file.

[2017-06-08 16:40] yugangw-msft commented on #3366
@hensilva has chatted with me. The rational of asking to do it on VM create is the `os` disk to attach has the knowledge about the data disk so the initial booting might not go right, or at least a bit concerning. This [blog post](https://blogs.msdn.microsoft.com/linuxonazure/2016/07/21/cannot-ssh-to-linux-vm-after-adding-data-disk-to-etcfstab-and-rebooting/) mentioned a few cases. Of course, this

[2017-06-08 16:47] #3604 closed

[2017-06-08 16:47] #3608 closed

[2017-06-08 16:59] tjprescott commented on #3599
For all of our create and update commands, we output what the service responds with. `set` is just the verb we use when we don't have separate create and update commands (because it's a better command name than "create-or-update").  So outputting what the service returns is completely consistent with the rest of the CLI.

The issue is that app settings are pretty much just generic key-value pairs.

[2017-06-08 17:37] troydai commented on #3362
Storage team is tracking this issue. I believe @lindydonna is on the email thread. I don't think it is appropriate for CLI to address this issue. What we can do is cosmetically rephrase the error message. However, there is a risk the change will over-generalize the issue. So the best to wait for server returns a correct error message and CLI can report it correctly.

[2017-06-08 18:07] #3603 closed

[2017-06-08 19:09] yugangw-msft commented on #3443
Need repro. Not actionable at the current moment.

[2017-06-08 19:13] troydai commented on #3617
When `get_clouds` is executed in high-parallelism context, there is a high chance it returns nothing. It is because the method will write to the config file first to ensure the known clouds were written and then read the config file again. There isn't lock to prevent and another process from reading the config file during writing eventually cause this issue.

Here's a simple repo demonstrate the r

[2017-06-08 20:24] JasonRShaver commented on #2939
this should be resolved after a reinstall (delete directory and re-run curl script).  Please reopen if you still see this

[2017-06-08 20:24] #2939 closed

[2017-06-08 21:46] troydai commented on #3617
I'll keep this issue open because the underlying issue is not addressed.

[2017-06-08 22:14] troydai commented on #3336
This is in now. I'm working on refining the documentation.

[2017-06-08 22:14] #3336 closed

[2017-06-08 22:43] troydai commented on #3350
@kasunsjc, thanks for reporting the issue. However, I'm not able to repo this issue locally. I tried on both Windows and Linux.

[code]

Would you please try upgrade your CLI to the `2.0.7`?

[2017-06-08 22:56] derekbekoe commented on #3350
I believe @tjprescott fixed this.

[2017-06-08 23:48] tjprescott commented on #3350
At least according to git blame, I didn't fix this, but I'd be happy to take credit.  I did however, just verify that this behavior occurs using `az interactive`. The reason is because it simply looking for "--version" in the text of the command, so it will do this for any commands that have --version parameters.  @oakeyc

[2017-06-08 23:54] brendandburns commented on #3594
This is tracked here https://github.com/Azure/ACS/issues/25

(and should be fixed in the next day or so)

Closing this as a duplicate.

[2017-06-08 23:54] #3594 closed

[2017-06-09 00:43] johanste opened #3639 "The error message for too short/long password for VM is spelled incorrectly (pssword)"
We even have a test that verifies that it is incorrectly spelled :)

[2017-06-09 05:25] yugangw-msft commented on #3550
@schaabs, please activate when you get more information from that customer. For lack of user voices, I am not convinced I should hurry to commit the change

[2017-06-09 05:25] #3550 closed

[2017-06-09 07:45] urosj opened #3641 "az account get-access-token fails in Azure Cloud Shell"
### Description
**Outline the issue here:**
Install the newer version of the az CLI client in the Azure cloud shell (the usual curl | bash install) and put it in the path. Try running:
[code]

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: curl | bash

**CLI Version:** What version of the CLI and

[2017-06-09 16:46] yugangw-msft commented on #3641
This command is not supported to use in cloud-shell, but i will fix that still. The fix will be in adal-python

[2017-06-09 16:53] yugangw-msft commented on #3639
The test was to verify that error message occurred. @troydai, do we have lint rules to catch English typos? I need it!

[2017-06-09 17:10] #3639 closed

[2017-06-09 17:14] yugangw-msft commented on #3599
//cc: @naziml, @ahmedelnably
The root cause is lack of service side protections. For credential related fields, the server should support write, but not read. App service does that for deployment credentials, and we should do the same at here.

[2017-06-09 17:36] #3592 closed

[2017-06-09 17:41] #3601 closed

[2017-06-09 17:52] #3350 closed

[2017-06-09 17:55] #3362 closed

[2017-06-09 17:56] tjprescott commented on #3628
CLI 2.0 only supports ARM. There is no support for the cloud service classic model. You could try releasing your classic model IP and then creating a static public IP address, which would create an ARM public IP resource with that address.

[2017-06-09 18:51] #3630 closed

[2017-06-09 19:41] #3385 closed

[2017-06-09 19:50] #3366 closed

[2017-06-09 20:03] tjprescott opened #3647 "x-ms-client-request-id causes Interactive Mode / ScenarioTest scenarios to fail"
Consider the following commands:
[code]

This creates a load balancer with two inbound NAT rules. This scenario runs just fine if you use the CLI normally, and it runs fine in the current scenario test (which uses the `ResourceGroupVCRTestBase` class).

However, if you run these commands in interactive mode, or you run it as part of a `ScenarioTest` based test, the call to create the second rule w

[2017-06-09 20:31] tjprescott opened #3648 "[Interactive] Unable to debug in Interactive mode"
1. I ran `az interactive --debug` to get debugging output for each of my calls. However, when I do that, any kind of dynamic tab completion (which occurs on basically every command because of resource group) causes the screen to be overrun with tons of debugging text related to the tab completion REST API calls. Thus you can't even see what you were typing. There doesn't seem to be a way to turn t

[2017-06-09 20:38] iyerusad commented on #3553
@bccore Are you willing to share the other methods you found to achieve this (something about RM templates)? I would prefer to see this implemented as standard az-cli fare but I would consider expanding my knowledge of an alternative in the meantime.

[2017-06-09 20:41] tjprescott commented on #3647
I believe I have discovered why this occurs.  When I run these three commands normally, each command has a unique request ID (which appears in multiple requests).  However, when I run them inside `az interactive` the *same request ID is used for all requests for all commands*.  I believe that, since I am making a call with the same URI using the same request ID, the server is essentially returning

[2017-06-09 20:43] #3600 closed

[2017-06-09 20:45] tjprescott commented on #3647
Talk about reinventing the wheel 🤢
See #456.  cc/ @troydai  @oakeyc since this issue affects both the ScenarioTest base and `az interactive`

[2017-06-09 21:28] derekbekoe opened #3649 "'vm image list' Too many open files"
### Description

Running `$ az vm image list --all -otable` fails with `Too many open files` errors.

I wanted to create a Debian 7 VM and so needed the URN but didn't know what publisher it was under (turns out it's `credativ`) so I wanted to list **all** images.

The full command I ran: `$ az vm image list --all -otable | grep debian`.

This is possibly due to the logic we have to make concurren

[2017-06-09 21:36] pjfsilva opened #3650 "webapp:Azure deployment source config - changing branch doesn't seem to work"
### Description

I have a webapp where I already configure my git deployment integration. Now I want to quickly change the branch I'm using but it seems that the branch never changes.

I'm running
[code]
The output seems ok: Finished and shows the right branch. Then I run the sync command but it seems the branch isn't really changed. Checking my site\deployments\settings.xml file using KUDU also s

[2017-06-09 21:41] puneetloya opened #3651 "Resource Group 'xxxx' not found for `az storage account list -g xxxx`"
### Description
Am struggling to find the resource group when I need to list resource, storage accounts for a resource group. Able to get all the details for the default resource group set in the .azure/config file. But its not listing other resource groups

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

**CLI Version: '

[2017-06-09 21:45] tjprescott commented on #3651
Are you wanting to list all storage accounts in your subscription?  If so, it is just `az storage account list`.

[2017-06-09 22:09] #3253 closed

[2017-06-09 22:09] derekbekoe commented on #3651
If a default resource group is set, that's the resource group that will be used for `az storage account list`. If you want to list all storage accounts again, remove the default (e.g. `az configure --defaults group=''`)

[2017-06-09 22:17] puneetloya commented on #3651
my mistake. Thanks for the prompt reply.

[2017-06-09 22:17] #3651 closed

[2017-06-09 22:19] #3558 closed

[2017-06-09 22:19] #3615 closed

[2017-06-09 22:40] derekbekoe commented on #3160
@akempe I couldn't repro and we now have an MSI for Windows so closing issue.
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli#windows

[2017-06-09 22:40] #3160 closed

[2017-06-09 22:50] derekbekoe opened #3654 "Add more distro specific installers"
Creating this issue to track all our distro specific work items:
https://github.com/Azure/azure-cli/issues/645
https://github.com/Azure/azure-cli/issues/1045
https://github.com/Azure/azure-cli/issues/643

[2017-06-09 23:52] yugangw-msft commented on #3599
@tjprescott, thanks for the suggestions. Per our discussion, I will hide this specific field from related appsettings/container command. This is the closest to the similar server behaviors.

[2017-06-12 00:14] maticko opened #3657 "Command 'az: not found' in Docker latest image"
### Description
**Outline the issue here:**
Latest published docker image with az preinstalled is not working. Az is not in path.

[link to build](https://hub.docker.com/r/azuresdk/azure-cli-python/builds/bplsgrcvv8nfktfpuadh3xz/)
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: Docker

**CLI V

[2017-06-12 13:16] tirithen commented on #3657
Same here, this docker image seem totally unusable? The point would have been to have the az application inside but there is no such thing. What is then the purpose of this Docker image?

+1

[2017-06-12 16:05] troydai commented on #3451
Hi @cornelcreanga, I'd like to follow up with you on this issue. Have you tried this command recently? Is the issue persist?

@rambo-msft can you ask the respective storage SDK owner to take a look at the log?

[2017-06-12 16:10] troydai commented on #3617
@derekbekoe I'd like to go through the design of fetching cloud again with you and Johan.

[2017-06-12 16:13] troydai commented on #1229
This one is considered done.

[2017-06-12 16:13] #1229 closed

[2017-06-12 16:16] #675 closed

[2017-06-12 16:29] yugangw-msft opened #3660 "webapp: 'DOCKER_REGISTRY_SERVER_PASSWORD' should be write only"
For now, webapp service just treats it as a regular app-setting and exposes it on any read operation. This is not ideal due to security concerns. CLI makes workaround through #3656 to hide it. So opening this tracking issue so we will remove the workaround when the service side makes the improvement.

[2017-06-12 16:37] #3363 closed

[2017-06-12 16:52] tjprescott commented on #3489
I've verified that you can successfully create a load balancing rule without referencing a probe, so I would argue we simply leave this aspect as-is.

Additionally, the "SessionPersistence" setting is exposed in the CLI by its SDK-name "load distribution". Closing this issue.

[2017-06-12 16:52] #3489 closed

[2017-06-12 16:56] mayurid commented on #3580
@JasonRShaver : ML is not in our CLI. We should work with them as consultants to see what they are doing differently.

[2017-06-12 16:58] tjprescott commented on #3489
If there is no valid reason to create a rule without a probe, then this would be a service deficiency and we can implement a workaround until it's fixed.  If that's the case we can reopen this later.

[2017-06-12 17:07] troydai commented on #3647
@tjprescott the issue should be fixed in https://github.com/Azure/azure-cli/commit/89844da9cd3963c4bcbb89655d948519337af843. I'll close this issue for now and let me know if it still blocks you from updating the tests.

[2017-06-12 17:08] tjprescott commented on #3647
The issue isn't resolved fully until #3435 is merged. I'll leave this open until then.

[2017-06-12 17:15] yugangw-msft commented on #3649
The opened socket number exceeded the process limitation. It turned out Azure SDK creates a new session object for each SDK call, so underlined connections (and sockets) are not reused at all. There are tracking issue already at runtime, https://github.com/Azure/msrestazure-for-python/issues/6
For now I will shrink the threads from 40 down to 5. The perf loss is not that much(around 40~ seconds to

[2017-06-12 17:26] troydai commented on #3647
ok

[2017-06-12 17:52] #3599 closed

[2017-06-12 18:33] mbiciunas commented on #3617
My app is failing on this issue - trying to create 10 vm's in parallel in two regions (5 in each).  Based on above, adding a 5 sec. delay for each thread start seems to be working.  Of course, app now slower which is not so good.

BTW, running current azure-cli (2.0.7) on Python (Linux) 2.7.13 (default, Jan 12 2017, 17:59:37)
[GCC 6.3.1 20161221 (Red Hat 6.3.1-1)]

[2017-06-12 19:18] mbiciunas commented on #3617
Further testing shows same error occurring when creating security groups.  So I think I'll have to assume any concurrent activity is susceptible - which is not good.

If you come up with any workarounds / fixes, please post.

[2017-06-12 20:29] #3552 closed

[2017-06-12 20:30] #3467 closed

[2017-06-12 21:07] troydai commented on #3617
@mbiciunas one potential workaround is to leverage `AZURE_CONFIG_DIR` environment variable to customize the profile folder for the current process. When this env is not specified the az will look for profile credential in `~/.azure` folder. When you adopt this approach, you need to explicitly sign in for each process for automation.

[2017-06-12 21:49] #987 closed

[2017-06-12 22:23] vishalraina commented on #3657
+1 not able to work with this docker image.

[2017-06-12 22:25] derekbekoe commented on #3657
Hmm thanks for the reports. Investigating...

[2017-06-12 22:26] derekbekoe commented on #3657
As a workaround, you can use `azuresdk/azure-cli-python:0.2.10`.

`latest` is an automated build from master branch so looks like a recent check in broke `latest`.

[2017-06-12 22:36] derekbekoe commented on #3657
Related to https://github.com/pyca/pynacl/issues/298

[2017-06-12 22:44] derekbekoe commented on #3657
@maticko, @tirithen, @vishalraina thanks for the reports. A PR is out. Once merged, `latest` should be back in working order.

[2017-06-12 23:40] troydai commented on #2009
@johnpapa CLI works for both 2.7 and 3.5. Can you share the version of the CLI with me? (use `az --version` command)

[2017-06-12 23:49] yugangw-msft commented on #3650
I will fix this in CLI. The root cause is the another webapp service api weirdness, that no error was reported when it was not able to finish off the work.

[2017-06-12 23:54] vishrutshah commented on #3450
@lostintangent Yes, we have not exposed creation of the DevTest Labs via the CLI yet. As of today, you create a lab via portal or ARM template. Then perform some of the lab related operation via CLI.

[2017-06-13 00:13] yugangw-msft commented on #3660
Move to the sprint 18, as likely the service side will have changes deployed this week to address this.

[2017-06-13 00:30] cy33hc opened #3666 "servicefabric application upload partial file only"
### Description
I have a Java application deployed to servicefabric as guest executable. When we execute "az sf application upload --path <path_to_pkg>, only part of the file is uploaded, causing the JAR to be corrupted. As you can see from the screenshot, my JAR file is about 57MB. The az cli reports only 103855 bytes uploaded. And also on the windows Image service path it shows only 98KB.
![azur

[2017-06-13 01:39] ascobie opened #3667 "Cant add a component"
### Description
I had an old version of the CLI installed and i wanted to update the Batch component from: 0.1.1b5
I tried "az component update" which failed with:

AttributeError: '_NamespacePath' object has no attribute 'sort'
pip.basecommand : Command "python setup.py egg_info" failed with error code 1 in C:\Users\ascobie\AppData\Local\Temp\pip-build-eotc0v1z\azure-datalake-store\

Updated to u

[2017-06-13 01:44] itowlson opened #3668 "Install documentation precludes adding extensions"
The install methods listed on https://docs.microsoft.com/en-us/cli/azure/install-azure-cli say "az component isn't supported" and describe alternate methods of upgrading to the latest CLI.  That's great for the built-in modules but gives customers no way of installing extensions such as the Batch Extensions (https://github.com/Azure/azure-batch-cli-extensions).

Please could you provide documentat

[2017-06-13 03:49] ascobie commented on #3667
Trying to update the CLI completely destroyed my PIP install.

1. Uninstalled Python and manually deleted the site-packages and old pip directories
2. Re-installed Python after a restart
3. Ran: "pip install azure-cli"
4. Ran: "az component update --add batch-extensions --allow-third-party"

It now works again.

[2017-06-13 04:47] troydai commented on #3667
@ascobie thank you for providing the feedback. It will definitely help us to improve our acquisition scenarios.

A few tips here: to isolate an application's dependencies, most of Python users use [virtualenv](http://docs.python-guide.org/en/latest/dev/virtualenvs/). Without the virtualenv, essentially the dependencies of all your Python programs are mixed globally. Therefore the recommended insta

[2017-06-13 05:29] vishalraina commented on #3657
👍

[2017-06-13 05:41] #3657 closed

[2017-06-13 10:08] liorbiu opened #3669 "Failed to create large number of machines using azure-cli"
I'm trying to deploy large number of machines using the azure cli (100 machines). I'm using the following basic bash script in order to create the machines:
[code]
When I'm running it I'm receiving the following error for some of the machines (part of them are created successfully):
`The template deployment 'vm_deploy_DE2BVJyVpgy1UXinnyNUAp3BEYSCf6b0' is not valid according to the validation proce

[2017-06-13 11:12] cornelcreanga commented on #3451
Hello @troydai

I've installed CLI 2.0.7- it seems that the problem is gone, I've uploaded a blob file >200Gb

Thanks

[2017-06-13 11:12] #3451 closed

[2017-06-13 15:46] troydai commented on #3451
Thank you @cornelcreanga

[2017-06-13 15:47] tjprescott commented on #2789
It is common that the services will not return passwords, treating them as write-only. However, @jaredmoo for the question related to connection strings. I don't see a command currently that does that.

[2017-06-13 15:50] peterj commented on #2789
If that's the case for passwords, am right to assume that the same would be true for connection strings, since those usually contain a password as well?

Also, another thing that I noticed is that the connection string is visible in the portal, but doesn't contain the password either...

[2017-06-13 15:54] tjprescott commented on #2789
Possibly. The CS may contain some kind of secure hash or encoding that will allow it to authenticate without exposing the actual password--or it may have a blank where you'd be expected to fill in the password.  @jaredmoo can you clarify?

[2017-06-13 16:13] tjprescott commented on #3669
If you look in the portal, you should be able to see the failed deployments, along with why they failed.  Does this reveal any additional information?

[2017-06-13 16:13] tjprescott commented on #3669
Is "LibscapiBaseImage" a managed image?

[2017-06-13 16:57] yugangw-msft commented on #3340
@derekbekoe @tjprescott
I suggest detect we are under stack, and update 2 trivial code lines
1. In the [help for vm/vmss create](https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_help.py#L10), remove the alias
2. skip the [alias check](https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-vm/azure/cli/command_module

[2017-06-13 17:00] yugangw-msft commented on #3338
@derekbekoe, @tjprescott
I suggest we detect under azure stack, and if yes, we do not expose `--all` and always makes api call. We should not use cached data under all circumstances

[2017-06-13 17:15] yugangw-msft commented on #3337
@derekbekoe, @tjprescott
I suggest we do nothing at this point, rather stack should just support this size since it is available across all public regions, meaning it is a selected and useful one.
Or, stack should port the [/sku API](https://github.com/Azure/azure-rest-api-specs/blob/master/arm-compute/2017-03-30/swagger/compute.json#L1100). This new API is available in '2017-03-30' and '2014-04-3

[2017-06-13 17:36] derekbekoe commented on #3657
Verified that it's working again.

[2017-06-13 18:34] mbiciunas commented on #3617
Thanks for your idea.  I ended up moving the cli calls to a separate method and implemented retry logic that checks the error message.  It's a workaround and seems to work.

This error will be an issue for anyone using cli in a script working with multiple resources at once.  So a fix is still really needed.

[2017-06-13 20:05] yugangw-msft commented on #3669
Maybe a quota exceeding error like #2792? He is creating 100 vms, by default a subscription allows 100.
Either way, I think we need to improve the create command so to pull our the inner error from the deployment

[2017-06-13 20:34] jaredmoo commented on #2789
No, there is no way to get the password after the server is created. This is by design. If we showed the password then readonly privilege in ARM on a SQL DB server would instantly escalate to full admin privilege in the data plane. Not good.

A command to show sql connection strings would be nice to have. Great idea.

[2017-06-13 21:22] tjprescott opened #3672 "Wait commands do not display polling indicator"
The wait commands do not display the spinner and progress indication like other LROs. This likely occurs because the "wait" polling occurs in a custom method in the commands.arm.py file.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: dev_setup.py

**CLI Version:** What version of the CLI and

[2017-06-14 00:59] yugangw-msft commented on #3550
FYI, in case we need to do it, the simplest way is to get the json doc from `https://login.windows.net/<domaon>.onmicrosoft.com/.well-known/openid-configuration`, and tenant id is everywhere in the response payload. Just pick one and extract
[code]

[2017-06-14 03:44] troydai commented on #3668
@itowlson, for now, install the az using our bash script should provide an installation enable `component` command. Can you provide the obscure error you hit during your `pip install`?

[2017-06-14 03:53] binderjoe opened #3714 "Creating a KeyVault in Cloud Console fails with illegible error"
### Description
**Outline the issue here:**
When creating a KeyVault inside the cloud console, the CLI command dies with the below error.

To repro:
[code]

[code]
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:
Cloud Shell

**CLI Version:** What version of the CLI and modules are installed? (

[2017-06-14 04:15] troydai commented on #3619
Agree upon item 1 and 2. And I have a different idea of item 3.

The prominent case of item 3 is the Azure Batch Extension Tools. We saw a few customers inquire about `az component` specifically for it. What customers really want to is to use the batch command, therefore CI shouldn't get in the way.

My solution is to make `azure-cli-core` powerful and portable enough to be consumed as a library b

[2017-06-14 04:32] itowlson commented on #3668
By the bash script do you mean `curl -L https://aka.ms/InstallAzureCli | bash`?  The docs page says "When you install with InstallAzureCli, `az component update` isn't supported."

Regarding the pip install errors, @ascobie has raised an issue with the details (https://github.com/Azure/azure-cli/issues/3667) as he had much better notes than I did; I'm seeking documentation for an install mechanism

[2017-06-14 05:07] itowlson opened #3715 "How can the user tell which Azure Batch account they are logged into?"
### Description

To use Azure Batch CLI commands, you need to log into a Batch account using `az batch account login`.  I can't find a way to determine if the user is currently logged into a Batch account, or if so which account they are logged into.  Is there a command that provides this information?

---

### Environment summary

**Install Method:** pip

**CLI Version:** CLI 2.07, Batch 3.0.0

*

[2017-06-14 05:11] troydai commented on #3668
@itowlson thank you for the feedback. We're currently working on improving the experience of acquisition and extension. Your feedback is valuable to us.

[2017-06-14 05:11] troydai commented on #3668
/cc @derekbekoe

[2017-06-14 05:19] bganapa commented on #3340
I am inclined to take the following approach for the use of image alias.
1.	Keep the alias and the –image parameter as such for all the profiles
2.	When the image parameter is specified for the vm create, Check explicitly with an api call whether the image exists in the current cloud
3.	If the image does not exist, provide a proper message encouraging the use of image urn
like ‘The image urn Canon

[2017-06-14 05:24] bganapa commented on #3338
agree with Yugang,  a complicated solution would be to maintain a per cloud on demand cache

we could do the following.
1.	Keep an empty cache of per cloud images, instead of prepopulating with a standard  set(cache may be persisted in file)
2.	If the cache is empty,  make the api call and populate the per cloud cache
3.	If the cache is not empty, show it from the just like we do now
With this onl

[2017-06-14 05:29] bganapa commented on #3337
I think its easy to add a profile specific default value for the VM size parameter,  I have to check whether the sku api will be supported in imminent future. In general, we want to take a stance whether we want to support profile specific default values

[2017-06-14 05:45] liorbiu commented on #3669
@tjprescott my images are linux machines. When I'm looking at the portal I'm not see the failed machines at all.
@yugangw-msft the error occured even when I'm creating 50 machines so I don't think it's quanta problem.

[2017-06-14 06:14] jaredmoo opened #3716 "az ad commands missing help text"
### Description
Several `az ad` commands are missing help text:

[code]
(env) C:\git\azure-cli [sql060 ≡ +0 ~7 -4 !]> az --version
azure-cli (2.0.8+dev)

acr (2.0.6+dev)
acs (2.0.8+dev)
appservice (0.1.8+dev)
batch (3.0.1+dev)
billing (0.1.1+dev)
cdn (0.0.4+dev)
cloud (2.0.4+dev)
cognitiveservices (0.1.4+dev)
component (2.0.5+dev)
configure (2.0.8+dev)
consumption (0.1.1+dev)
core (2.0.8+dev)
cosm

[2017-06-14 16:00] troydai commented on #3647
@tjprescott I believe this issue can be closed. The pull request #3435 doesn't involve any changes related to the client side request anymore. The change I made in 89844da can guarantee the uniqueness of the client side request ID when `Application.execute` is executed.

[2017-06-14 16:00] #3647 closed

[2017-06-14 16:11] troydai commented on #3715
@annatisch @xingwu1

[2017-06-14 16:15] troydai commented on #3714
@tjprescott

[2017-06-14 16:45] tjprescott commented on #3714
From the stack trace, this looks like an ADAL issue.

[2017-06-14 17:01] tjprescott commented on #3669
@yugangw-msft I believe you are correct. When I ran this, I got the same thing. After creating 20 VMs, I kept getting the error @liorbiu describes. Looking at the failed deployments in the portal, the error is:

[code]

You quota isn't 100 VMs--it is 100 total cores. Since you are using Standard_F4S, each VM requires 4 cores against your quota. Thus, your practical limit is 25 VMs.

However, you c

[2017-06-14 17:01] #3669 closed

[2017-06-14 17:35] EricJizbaMSFT opened #3720 "Support active Debian/Ubuntu distributions from Wheezy up"
We install the azure cli on an Ubuntu 14.04 VM using apt-get in some of our automation scenarios and we started getting a new error yesterday. After running `az login`, we see this:

 For reference this is how we install the cli:
[code]

Like I said, we do this in automation (aka it's a clean VM every time) and we haven't changed anything about how we install the CLI. I tried interactively install

[2017-06-14 17:47] troydai commented on #3720
@EricJizbaMSFT what's the version of the azure-cli did you get?

[2017-06-14 17:50] EricJizbaMSFT commented on #3720
[code]

[2017-06-14 17:51] troydai commented on #3720
Thank you @EricJizbaMSFT, I'm looking into this.

[2017-06-14 17:52] derekbekoe commented on #3714
The stack trace looks similar to https://github.com/Azure/azure-cli/issues/3641

[2017-06-14 17:53] EricJizbaMSFT commented on #3720
On my Ubuntu 14.04 VM where I ran the interactive install script (aka where the issue did _not_ repro), I noticed the python version looks different. Not sure if that matters:

[code]

[2017-06-14 17:55] VipulM-MSFT commented on #3666
What version of Service Fabric cluster are you using? Is this is a consistent repro?

[2017-06-14 17:59] troydai commented on #3720
I'm on a Mint 18, and it works. I'll provision a Ubuntu 14 VM and give it a try.

[2017-06-14 18:02] tjprescott commented on #3714
@yugangw-msft what do you think?

[2017-06-14 18:06] derekbekoe commented on #3720
I can repro on Ubuntu 14.04

[2017-06-14 18:25] tjprescott opened #3722 "[ARM] Deployment parameter parsing should reference parameter type from template"
Currently, the logic which allows tag-like specification of deployment parameters (--parameters foo=bar) applies a heuristic where it attempts to parse the value as a JSON object and, if that fails, treats it as a string.

However, since we have the deployment template, we can reference the type field of the deployment parameter and know what kind of parsing to apply.

---

### Environment summary

[2017-06-14 18:25] tjprescott commented on #3722
cc/ @johanste

[2017-06-14 18:40] troydai commented on #3720
It seems to be an issue specific to Ubuntu 14.04. I'm rebuilding the package on Ubuntu 14.04.

[2017-06-14 18:52] cy33hc commented on #3666
5.6.210.9494

Yes. It is consistently reproducible with cli 2.0.

Using cli 1.0, the package copy succeeds.

[2017-06-14 19:00] troydai commented on #3720
I just republish a deb package to our repository. It will take a few minutes to take effect.

[2017-06-14 19:14] #3649 closed

[2017-06-14 19:27] troydai commented on #3720
@EricJizbaMSFT I republished the package and tested on Ubuntu 14.04. It's working now. Please make sure you clean the apt-get cache before reinstall the `azure-cli`. Thank you for reporting the issue and sorry for the inconvenience.

[2017-06-14 19:45] tjprescott commented on #3386
Since the remaining issue is a service side issue, I am moving this back to the backlog. There's nothing wrong with the CLI or the test (which was passing until the service broke)

[2017-06-14 20:27] rlewkowicz opened #3724 "Can anyone tell me how to add a static public IP to a nic?"
I have this: https://docs.microsoft.com/en-us/azure/virtual-machines/scripts/virtual-machines-linux-cli-sample-create-vm-nsg?toc=%2fcli%2fazure%2ftoc.json

But even when the "front end" server is allocated, I didn't realize it would just get one (Does it?). The backend server they explicitly say: --public-ip-address ""

What if I have a server, and want to attach an existing static ip that I creat

[2017-06-14 21:39] tjprescott commented on #3724
Hi @rlewkowicz, in the help text for VM create:

[code]

The default behavior is to create a new (dynamic) public IP, which is why the backend VM specifies `--public-ip-address ""`.  In your case, you would specify the name (if it is in the same resource group) or ID (if it is in a different resource group) of your existing public IP.  If you wanted to create the public IP as a static IP instead o

[2017-06-14 21:56] troydai opened #3727 "Automation: Improve the package release process"
Here are the notes I took during the past package release practice.

1. The versions are hardcoded in the source code. Therefore, in order to rev the packages version code changes were deliberately made to `setup.py` and `__init__.py`. It worth consider taking the value out of the source code and leverage environment variable or other sources to define version.
2. It requires too many release comm

[2017-06-14 21:56] troydai commented on #3727
@derekbekoe

[2017-06-14 22:07] tjprescott opened #3728 "Create cli_template_command type"
There are currently several create commands that utilize the ARM template deployment process:
- vm create
- vmss create
- availability-set create
- lb create
- application-gateway create
- vpn-connection create
- acs create
- acr create

We should create a `cli_template_command` template method to standardize some of the commonalities across these commands, such as `--validate`, `--no-wait` and ta

[2017-06-14 22:27] tjprescott commented on #3724
Looking again at your question, if you are looking to bind an existing static public IP to an existing VM, then you would do the following:

[code]

You can use `vm show` to get the name of the VM's NIC and `network nic show` to find out the IP configuration you want to change. Alternatively, you can list the NICs for your resource group and find the shows as associated with your VM (one call inst

[2017-06-14 22:56] #3046 closed

[2017-06-14 22:56] #3397 closed

[2017-06-14 22:56] #3399 closed

[2017-06-14 23:00] jayden-at-arista opened #3729 "Parameters file values not being read during deployment create"
### Description
When using `az group deployment create` with the newest version of the Azure CLI it no longer respects the `--parameters @<file>` contents and prompts me to type out each value in the command line.

Tested same template/parameters JSON files on another machine with an older version of Azure CLI without issue.

---

### Environment summary

**Install Method:** How did you install th

[2017-06-14 23:18] tjprescott commented on #3729
Is any kind of error displayed?  I've tested this on Windows and Linux and verified the behavior is working correctly.

[2017-06-15 00:06] jeffreychenmsft commented on #3666
We have confirmed the bug, and working on the bug fix now. Thanks.

[2017-06-15 00:44] rlewkowicz commented on #3724
Thank you!

[2017-06-15 00:44] #3724 closed

[2017-06-15 10:17] liorbiu commented on #3669
@tjprescott I increased mu cores quanta to 2000 using the portal.
I tried to create 12 machines and still not all the machines created.
I didn't get any output besides to visit this [address](https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-template-deploy).
After I ran the script not all the machines created (image attached).
![azurescreenshot](https://user-images.gith

[2017-06-15 10:18] jackting73 commented on #3628
Hi Travis,

Thanks for your response.
Is it possible to achieve this by CLI 1.0 or other version ?

Regards,
-Jack

[2017-06-15 12:34] sagalovsky commented on #3729
Our script stopped working after the latest "azure-cli" release as well. I suspect that v2.0.8 introduced a backward-incompatible change to the ```--parameters``` argument:
- using 2.0.7 we called ```az group deployment create ... --parameters @/tmp/myparamfile```
- after 2.0.8 we had to change it to ```az group deployment create ... --parameters /tmp/myparamfile``` (notice the lack of ```@``` sym

[2017-06-15 15:34] tjprescott commented on #3669
@liorbiu when PR #3726 is merged, you'll be able to see what the inner error is. However, you can see that now within the portal by navigating to your resource group blade and then selecting the "Deployments" section.  It will show your successful and failed deployments and allow you to get the error details.

[2017-06-15 15:41] EricJizbaMSFT opened #3731 ""az group deployment create" fails with "ERROR: 'status value'""
After upgrading to the latest CLI, I get an error when I run "az group deployment create". The deployment continues in the portal, so it seems to just be an issue with the progress reporting (I believe introduced here: https://github.com/Azure/azure-cli/pull/3510 @oakeyc please take a look)

[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interacti

[2017-06-15 15:43] EricJizbaMSFT commented on #3720
Yep working for me now - thank you!

[2017-06-15 15:52] tjprescott commented on #3729
Thanks for the clarification @sagalovsky. With the change to the parameters argument, we did want to be able to work with a properly formatted parameters file, but also wanted to preserve the previous behavior to prevent a breaking change. I'll take a look at this.

[2017-06-15 16:04] jayden-at-arista commented on #3729
@sagalovsky Yes, this is exactly it. I removed the `@` and it now works with the new version of CLI...but some of our development environment uses the old version of the CLI which I confirmed does not work with the `@` removed, so we have to have two versions of our script now.

v2.0.8 is a breaking change in terms of the API of the `--parameters` argument in the `az group deployment create` comma

[2017-06-15 16:32] tjprescott commented on #3729
@jayden-at-arista @sagalovsky
Could you please run the command using the @ notation along with `--debug` and send the trace to me at "trpresco at Microsoft dot com", along with your OS type/version and your shell. I'm unable to reproduce this on the OS/shells I have tried so far.

[2017-06-15 16:37] yagupta opened #3733 "Can I retrieve the OAUTH 2.0 Authorization endpoint from the Azure CLI ?"
### Description
Not an Issue, but really a gap : I need to retrieve the OAUTH 2.0 authorization endpoint from the Azure CLI and could not find how to do this.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: MSI

**CLI Version:** What version of the CLI and modules are installed? (Use `az --ve

[2017-06-15 16:43] #3716 closed

[2017-06-15 16:57] jayden-at-arista commented on #3729
Email sent. Just to confirm you're trying my exact configuration:

- You have a properly formatted JSON parameters file (including "$schema", "contentVersion", and "parameters")
- You're passing in that filename to `--parameters @file.json`, and it's properly taking the parameter values from that parameters json file (not prompting you to enter them on commandline when deploying, as is happening f

[2017-06-15 17:00] yugangw-msft commented on #3733
1. run `az account show --query "tenantId"`
2. open the link in browse:  `https://login.windows.net/<tenant id you got>/.well-known/openid-configuration`

[2017-06-15 17:00] #3733 closed

[2017-06-15 17:20] yugangw-msft opened #3736 "auth: move cloud console login flow from 1.0 into CLI 2.0"
Current it is in CLI 1.0, which is getting into the maintenance mode, so it is time to migrate to 2.0
This is a very weird flow that cloud console passes in an access token users get from the azure portal, then CLI uses it to build up cached subscriptions so that people can run any cli commands. To ensure the token not expired, Cloud console will invoke CLI every 5 or 10 minutes.

[2017-06-15 17:46] joshua-harrison-2011 opened #3738 "az group deployment fails when property contains "=""
### Description

When I run a deployment with an equals sign in a parameter, I get a failure.  This is particularly impactful when sending an sasToken or base64 encoded string in as a parameter value.

It appears the problem was introduced by https://github.com/Azure/azure-cli/commit/3753b503aa8f9d21a28ca8fbeccd5d1623eafdda.  The function `_try_parse_key_value_object` splits on '=' prior to parsin

[2017-06-15 17:54] andrewstevenson commented on #3729
Stopped working for me if a parameter had `=` in the string .i.e public key data. Worked previously.

[2017-06-15 18:00] tjprescott commented on #3729
Thank you @andrewstevenson! Now I can reproduce this and work on the fix.

[2017-06-15 18:02] #3565 closed

[2017-06-15 18:11] #3731 closed

[2017-06-15 18:20] nneul opened #3739 "Property to set version no longer works without extra quotes"
### Description

Previously used this snippet:

[code]

Sometime recently (past few weeks/month) this stopped working, and I now have to use:

`    --set properties.webApplicationFirewallConfiguration.ruleSetVersion="'3.0'" \
`
(note the hard embedded quotes) or else I get this error:

`RuleSetVersion '3' is unsupported for specified RuleSetType 'OWASP' for Application Gateway Firewall in context

[2017-06-15 18:57] nwarriorch opened #3741 "Get full error when VM provisioning fails."
### Description

Cannot view full error when VM provisioning fails in Azure ARM. Currently, we have to go to the portal and click on "failed->" to view the full error.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
MSI

**CLI Version:** What version of the CLI and modules are installed? (Use `az --versio

[2017-06-15 19:25] tjprescott commented on #3741
This is a dupe of #2792 and will be fixed by PR #3726.

[2017-06-15 19:25] #3741 closed

[2017-06-15 19:32] tjprescott commented on #3739
This likely occurs because ruleSetVersion is a string and the way you were specifying it likely resulted in it being interpreted as an int.

However, is there a reason you aren't just using the `az network application-gateway waf-config set` command?

[2017-06-15 19:37] nneul commented on #3739
How do you set the ruleset version and/or enabled rules with waf-config set? If there is a better way to do the above, I'm open to it.

[2017-06-15 19:41] tjprescott commented on #3739
[code]
You would set the rule set type and version and then any disabled rules (or rule groups)

[2017-06-15 19:45] nneul commented on #3739
Ah, multiple terminals, and not all of them have the latest az version so didn't see the new options in the one I mistakenly checked with. You can close this if desired - above is clearly a better solution. :)

[2017-06-15 19:46] yagupta opened #3742 "Creating a Native App from Azure CLI"
### Description
How do I create a Native App from Azure CLI v2.0 ? If I try to follow instructions in
````az ad app create -h````
I believe I can only create a WebApp.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

MSI

**CLI Version:** What version of the CLI and modules are installed? (Us

[2017-06-15 19:48] tjprescott commented on #3374
What do you mean by a native app?

[2017-06-15 19:49] tjprescott commented on #3742
What do you mean by a native app?

[2017-06-15 19:49] #3739 closed

[2017-06-15 19:53] yagupta commented on #3742
Native App is defined as a type of an App in Azure Portal, see more here : https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-integrating-applications

I can describe our use case, if that is helpful. I know I can create this from the UX, but doing things from the Azure CLI is much easier and preferable.

[2017-06-15 20:09] tjprescott commented on #3742
@yugangw-msft for comment

[2017-06-15 21:01] yugangw-msft commented on #3742
All commands under `az ad` are there to support RBAC system. Native app is not supported because it plays no roles in the RBAC which requires confidential clients with their own credentials. At current point, we have no intention to cover the whole AAD area.
I will close on this issue. For anyone who come across this issue, please vote up if you need such support as well

[2017-06-15 21:13] yugangw-msft commented on #3572
I will update the help to be `unmanaged blob uri`, `SAS` is not a right term

You have to supply the argument value of:
    `--source-storage-account-id   : Used when source blob is in a different subscription.`

It is a known bad server error for unmatched regions.  Let me contact CRP team for the progress/plan to fix this

[2017-06-15 21:13] troydai opened #3745 "The server side paging scenario in storage commands is not completed."
The `az storage blob list`, `az storage container list` and `az storage share list` commands all exposed `--marker` and `--num-results` parameters for server-side paging. However, the scenario is never completed because the `next_marker` property is not returned.

The `next_maker` is an opaque string for the next command to retrieve the next page of results, it is the value served to `--marker` pa

[2017-06-15 21:35] yugangw-msft commented on #3443
@PaulTrampert, please re-activate when you have the data. Thanks for reporting this!

[2017-06-15 21:35] #3443 closed

[2017-06-15 22:01] yugangw-msft commented on #3714
@jluk, @yangl900, please take a look. It appears CLI was not yet given the keyvault token. How soon cloud console pass on the vault tokens to cli?
This issue will not be addressed through #3641. W/o refresh token, we have to have the token with exactly the same relying party uri.
@binderjoe, for now, wait for a minute or so and retry.

[2017-06-15 23:16] #2792 closed

[2017-06-15 23:59] #3729 closed

[2017-06-16 00:05] tjprescott opened #3748 "[Network] Track LB/AppGateway scenarios"
Tracks completion of the following scenarios:

- [X] VMs ==> load balancer (PR #3750)
- [X] Availability set ==> load balancer (PR #3750)
- [ ] VMSS ==> load balancer
- [ ] VMs ==> app gateway
- [ ] Availability set ==> app gateway
- [ ] VMSS ==> app gateway

[2017-06-16 00:09] mayurid opened #3749 "[Network] Add support for accelerated networking to NIC create/update"
Swagger Spec: https://github.com/Azure/azure-rest-api-specs/blob/master/arm-network/2016-09-01/swagger/networkInterface.json
Flag: enableAcceleratedNetworking

[2017-06-16 15:41] tjprescott commented on #3738
Dupe of #3729. Fixed by #3743.

[2017-06-16 15:41] #3738 closed

[2017-06-16 16:41] JasonRShaver opened #3752 "Add cloud-shell and interactive-mode to Feedback"
[ ] Move `az feedback` telemetry store to new AI account
[ ] Add custom dimension fields for "IsCloudShell", "IsInteractiveMode", "DefaultOutput", "HashedMacAddress" and "InstallationId"
[ ] Change `az feedback` to accept an "empty" NPS value, and if provided, error out with message "If you change your mind and want to provide us feedback, we'll still be here!"
[ ] When a customer provides feedbac

[2017-06-16 19:39] joshua-harrison-2011 commented on #3738
@tjprescott Awesome - Thanks!

[2017-06-16 20:57] yugangw-msft opened #3755 "webapp: update existing source control binding to use a different branch not working"
Server returns success code, but doesn't really update it. We should push for either make it work, or emit out errors.
For now, CLI will workaround by making changes for #3650

[2017-06-16 21:28] elibarzilay opened #3757 "Delete multiple blobs"
IIUC, `az storage blob delete` will delete just one blob.

Similar to #998, it would be nice to be able to delete a whole
"directory".  It looks like the only way to do that currently is to get
a list of all blobs using `--prefix` then iterate over each one of them,
which would overall be extremely slow compared to a single
`delete-batch`.

[2017-06-16 22:27] seanknox opened #3758 "az acs create --orchestrator-type=kubernetes doesn't validate --name and --dns-prefix"
### Description
**Outline the issue here:**
Used `az` to provision a Kubernetes cluster on ACS:
[code]
I forgot to set `$CLUSTER_NAME` and `$DNS_PREFIX` so `--name` and `--dns-prefix` were passed empty values. I would expect `az` to catch these improper arguments but instead I got a cryptic error which made debugging harder:

[code]

---

### Environment summary

**Install Method:** How did you in

[2017-06-16 22:50] seanknox opened #3759 "Max agent pool error provides wrong number for "az acs scale""
### Description
**Outline the issue here:**
Try scaling an ACS cluster above 100 nodes:
[code]

The error says the agent count must be less than 100, but it works:
[code]
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: `$ curl -L https://aka.ms/InstallAzureCli | bash`

**CLI Version:** What ve

[2017-06-16 22:54] mboersma opened #3760 "Incorrect usage text after mis-typed command"
### Description

I blundered into a command, hoping it would prompt me for the correct flags. But instead it suggested something illegal:
[code]
This disagrees with the correct command documentation:
[code]

Basically the `--name` parameter is required but the first usage message suggests it could be a positional argument, which is wrong.
[code]

[2017-06-16 22:55] #3749 closed

[2017-06-17 16:40] bccore commented on #3553
@iyerusad sorry, for not responding earlier. I haven't yet a working solution for this to automate this all. It will by a combination of the graph api for azure objects and resource manager templates for the rest. We're actually looking to avoid using azure cli now so we have everything in one place. It's very much a work in progress though as the documentation is not complete...

[2017-06-19 00:45] TMWagner commented on #3473
Nope -
Received "xcode-select: error: command line tools are already installed, use "Software Update" to install updates"

and "Software Update" isn't a valid command

[2017-06-19 08:35] nth-block opened #3764 "az interactive prompt for `storage XXX generate-sas` misses the option `--account-name` when `-n` parameter is used"
### Description
While trying to create a SAS  using CLI 2.0  in the interactive mode, the intellisense prompts do not have the `--account-name` in the listing if the `-n` parameter is defined. However, if the parameter is not defined, then the intellisense has the `--account-name` parameter showing up. This happens in all the **storage XXX generate-sas** context. Screenshots below are for blobs, c

[2017-06-19 11:25] alexeyshishkin01 opened #3765 "how to assign particular new user ID via VMAccessForLinux?"
### Description
**Outline the issue here:**
new user ID created by command below is '1000'

az vm extension set \
--resource-group myresourcegroup \
--vm-name myvm-xx \
--name VMAccessForLinux \
--publisher Microsoft.OSTCExtensions \
--protected-settings '{"username":"<USER>","password":"<PASSWORD>"}'

Is it possible to assign particular user ID?
---

### Environment summary

**Install Method:** H

[2017-06-19 13:11] benalbrecht commented on #3720
I have the exact same issue on debian stretch.
az --version:
[code]

[2017-06-19 14:20] tjprescott opened #3766 "[Network] Show-status for a running packet capture produces no output"
As reported in an email thread:

Steps the repro:
1. start a packet capture session
2. show-status while capture is running => **NO OUTPUT**
3. stop packet capture
4. show-status while capture is stopped => correct output

This is suspected to be a service issue or swagger bug (which is a service issue still I suppose).

We can evaluate whether there is a reasonable temporary workaround for the CL

[2017-06-19 14:25] tjprescott commented on #3764
cc/ @oakeyc @troydai. Could be an interactive bug manifesting in storage or a storage bug manifesting in interactive mode. ❓

[2017-06-19 15:04] tjprescott commented on #3760
This would involve some core changes to the CLI command parsing logic. The reason is because the CLI assumes everything you submitted is part of the command name since the CLI doesn't support positional parameters.  The current logic essentially splits the command line into the "command part" which is everything to the left of the first - character, and the "arguments part", which is everything to

[2017-06-19 15:10] tjprescott commented on #3765
I would expect there is a setting you could set using the `--settings` argument. @yugangw-msft do you agree?

[2017-06-19 15:16] tjprescott opened #3767 "VM extension set should support KEY=VALUE pairs like `group deployment create`"
Currently `vm extension set` has `--settings` and `--protected-settings` which only accept JSON format. As these are simple key/value pairs, we should consider adding support similar to PR #3637.

[2017-06-19 15:19] tjprescott commented on #3765
You might also ask your question here: https://github.com/Azure/azure-linux-extensions

They would know best if what you are trying to accomplish is supported. Briefly looking through their documentation, I didn't see where anyone chose the user ID manually.

[2017-06-19 16:03] alexeyshishkin01 commented on #3765
do you mean using --settings <SCRIPT-CONFIG.JSON> instead of --protected-settings '{"username":"<USER>","password":"<PASSWORD>"}'?

[2017-06-19 16:07] derekbekoe commented on #3473
@TMWagner "Software Update" isn't a command.
https://support.apple.com/en-us/HT201541

[2017-06-19 17:10] derekbekoe commented on #643
Possibly blocked to due package dep. conflicts - https://github.com/Homebrew/homebrew-core/pull/13198#issuecomment-306312722

[2017-06-19 17:54] oakeyc commented on #3764
@tjprescott, it's an interactive bug. The way it handles duplicate named parameters eg (-n, --name) isn't specific for commands. So there is some command where (-n, --account-name) is supposed to be the same, but that is not true for all --account-names.

[2017-06-19 18:28] #3339 closed

[2017-06-19 18:30] johanste opened #3771 "az group deployment create prompts for parameters even though they have a default value if the default value is null"
### Description
There is a) not a way that I've found to provide a null value (or empty string) as a template parameter value and b) if the parameter has a default value that is null, you still get prompted to provide a value

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:
pip

**CLI Version:

[2017-06-19 18:37] tjprescott commented on #3771
I plan to do this in concert with #3722 since it will involve similar logic (reading in the template first and then handling the parameters).

[2017-06-19 18:48] elibarzilay opened #3772 "Misbehaved `az storage blob exists`"
`az storage blob exists` would be much more useful if it would return a
non-zero exit code when the specified path doesn't exist.  It would make
it usable in a more idiomatic shell code,

    if az storage blob exists ...; then ...; fi

Currently, parsing the json output is much more tedious, using the `tsv`
output seems shaky (eg, it prints `False`, but maybe in the future it
will print `false`),

[2017-06-19 20:04] TMWagner commented on #3473
Still not working.
Running version "El Capitan" 10.11.6.
Also, I've installed already installed previous version of the CLI. version: 0.10.4

![2017-06-19_12-56-00](https://user-images.githubusercontent.com/5316689/27303493-ca209192-54ef-11e7-955f-1b58ecd15dda.jpg)
![2017-06-19_12-56-44](https://user-images.githubusercontent.com/5316689/27303499-ce1fdeb0-54ef-11e7-9f0d-a26e7fb4d0e3.jpg)

[2017-06-19 20:15] #3020 closed

[2017-06-19 20:41] troydai commented on #3580
Fixed in https://github.com/Azure/azure-cli/pull/3770

[2017-06-19 20:41] #3580 closed

[2017-06-19 21:17] troydai commented on #3772
Thanks for the suggestion. We did discuss this before. The challenge here is that there are other reasons may cause the command to fail:

1. Incorrect account key / name;
2. Failed network communication;
3. Incorrect command format / parameter / input.

Should 'non-exist' also represented by non-zero exit code, users will not able to deterministically call if the file/blob exists.

In terms of the

[2017-06-19 21:46] troydai opened #3775 "Upgrade python SDK integrated."
### Description
**Outline the issue here:**

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:

**OS Version:** What OS and version are you using?
Answer here:

**Shell Type:** What shell are y

[2017-06-19 22:15] JasonRShaver opened #3776 "Update telemetry for profile work"
### Description

Let's discuss the client-side telemetry options for the profile/cloud work.

Info to collect:
* Cloud name?
* Endpoints?

Do we want to send something up in UA for server-side?

[2017-06-20 01:32] TMWagner commented on #3473
Spent the afternoon updating MacOs to latest Sierra (10.12.5).
Went through install again...
WAS able to run xcode-select --install
Ran installer again per instructions above. Same error
![2017-06-19_18-27-26](https://user-images.githubusercontent.com/5316689/27312522-a7edbd24-551d-11e7-89cc-9f47c50e44c9.jpg)

[2017-06-20 05:08] derekbekoe commented on #3473
- What version of Python do you have installed? `python -c 'import sys; print(sys.version)'`

Also there is a similar closed issue here - https://github.com/Azure/azure-cli/issues/1522.
Do any of the points there help?

[2017-06-20 05:18] derekbekoe commented on #3473
Also are you using a [different Python distribution](https://wiki.python.org/moin/PythonDistributions)?

[2017-06-20 05:49] jaredmoo opened #3779 "Update SQL backup tests to be recordable"
The following tests in Commands.Sql.Tests have hardcoded configuration and cannot be easily re-recorded:

- TestListDatabaseRestorePoints
- TestRestoreGeoBackup
- TestRestoreDeletedDatabaseBackup
- TestRestorePointInTimeBackup
- TestServerBackupLongTermRetentionVault
- TestDatabaseBackupLongTermRetentionPolicy
- TestRestoreLongTermRetentionBackup
- TestDatabaseGeoBackupPolicy

When tests cannot be

[2017-06-20 05:51] jaredmoo opened #3780 "Update SQL index recommendation tests to be recordable"
The following tests in Commands.Sql.Tests have hardcoded configuration and cannot be easily re-recorded:

- TestGetIndexRecommendation
- TestCreateIndex

When tests cannot be run live, it becomes substantially more difficult to maintain the product and large changes have an increased risk of regressions. These tests should be rewritten so that they can be re-recorded.

[2017-06-20 05:54] jaredmoo commented on #3779
Oops, I meant to create this issue in azure-powershell repo. Please disregard!

[2017-06-20 05:54] jaredmoo commented on #3780
Oops, I meant to create this issue in azure-powershell repo. Please disregard!

[2017-06-20 05:54] #3780 closed

[2017-06-20 05:54] #3779 closed

[2017-06-20 12:39] alexeyshishkin01 commented on #3765
so far new user is created with ID=1000 (CentOS) which set umask value to '0002' based on /etc/bashrc settings

[2017-06-20 13:59] onyiny-ang opened #3781 "updated but still: gcc error, Failed building wheel for cryptography & Failed building wheel for scandir on Fedora"
### Description
errors when installing azure-cli on Fedora 25

**Outline the issue here:**
Coming across these errors on Fedora despite updating and installing gcc libffi-devel python-devel openssl-devel prior to install.

some code omitted:

[code]
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer he

[2017-06-20 14:28] TMWagner commented on #3473
Thank you for the reply. Python version is:

_2.7.10 (default, Jul  6 2015, 13:26:37)
[GCC 4.2.1 (Based on Apple Inc. build 5658) (LLVM build 2336.1.00)]_

[2017-06-20 14:30] onyiny-ang commented on #3781
This is a red hat issue
running
```sudo dnf install redhat-rpm-config```
solved the problem.

[2017-06-20 14:30] #3781 closed

[2017-06-20 15:44] brendandburns commented on #3759
This is in the apiserver, not the client, closing here in favor of https://github.com/Azure/ACS/issues/33

[2017-06-20 15:44] #3759 closed

[2017-06-20 15:49] derekbekoe commented on #3473
Okay I don't see this as a CLI issue but to confirm:

- Create a virtual environment and install only `scandir` into it with `pip install scandir`.

* Do you have `pip` installed? `pip --version` would tell you.
If you don't have pip, install it with `curl -O https://bootstrap.pypa.io/get-pip.py` then `sudo python get-pip.py`.
* If you don't have virtualenv installed, use `sudo pip install virtual

[2017-06-20 16:26] elibarzilay commented on #3772
Re exit status: that's not a special issue...  Incorrect cases apply
even for a simple bash `-e` test.  The usual way of dealing with it is
to return a different error status when there's some other problem than
the one for nonexistent path.

And re the `tsv` output: I'm sorry but "fairly stable" is exactly what
I'm complaining about.  If it *is* stable, then that output should be
documented (and

[2017-06-20 16:29] tjprescott opened #3782 "Progress REST calls should only be made when --verbose is specified"
Currently, when running any template-based commands (`vm create`), regardless of whether the user specifies --verbose, the Azure monitor REST calls are made to supply the progress information.  These calls should only be made when --verbose (or --debug) are explicitly specified because:

1. Unnecessary use of the customer's API request quota when it wasn't explicitly requested
2. Scripts have no n

[2017-06-20 16:41] iyerusad opened #3783 "sql server create - Consistently too many 504 error responses"
### Description
I consistently see failures with the `az sql server create` command. I run dozens of az cli commands throughout a day, but this one command is consistently the most failure prone. I have contemplated running retry logic on it but figured would bubble this up as an issue.

**To Repro:**
(in quick succession - time appears to be relevant here)
1. Create resource group `az group creat

[2017-06-20 17:10] jjcollinge opened #3784 "Cannot check table exists using SAS token"
### Description
I've been having issues with the following call on Linux

[code]
The response is simply;

` Forbidden`

I've created the sas-token via az-cli with -o tsv and the Portal. Hence it is not the previously raised issue with the '?' prefixed on the token.

All other calls I've tested using `az storage table ...` with the same sas-token have worked fine. I can use the sas-token in the bro

[2017-06-20 17:43] troydai commented on #3784
@jjcollinge thank you for reporting this issue. The reason why your sas token doesn't work is that you created a __table__ sas token, which manages the permission of access objects in the scope of given table. To generate a sas token to validate the existence of a table, you need a sas token at the account level.

Here's an example:
[code]
_In above command, I grand all permissions on all types of

[2017-06-20 17:44] troydai commented on #3784
I'll close this issue since it is not a bug. Please feel free to share your concern or suggestions.

[2017-06-20 17:44] #3784 closed

[2017-06-20 17:53] derekbekoe opened #3786 "Telemetry errors in CI"
### Description
**Outline the issue here:**

[code]

[2017-06-20 18:18] #2276 closed

[2017-06-20 18:24] jsilberm opened #3787 "KeyError: 'status value'"
### Description
**Outline the issue here:**

+ ./acs-engine generate dcos.json
INFO[0000] Generating assets...
wrote _output/jssportworx/apimodel.json
wrote _output/jssportworx/azuredeploy.json
wrote _output/jssportworx/azuredeploy.parameters.json
+ az group deployment create --name jssportworx --resource-group jssportworx --template-file ./_output/jssportworx/azuredeploy.json --parameters @./_out

[2017-06-20 18:33] tjprescott commented on #3787
Thank for you for the report. This has been fixed by PR #3744 and will be available in the next release.

[2017-06-20 18:33] #3787 closed

[2017-06-20 18:55] yugangw-msft opened #3788 "Core: remove the resource provider auto registration mechanism"
The same logic was ported to the run-time https://github.com/Azure/msrestazure-for-python/pull/28, and released
We should wait for one CLI release so most users will get the latest runtime, before pull the plug

[2017-06-20 19:39] TMWagner commented on #3473
Actually - I think it still very much is a CLI issue. There are either dependancies that are unknown or undocumented.

The early "beta" version of CLI works... the 2.0 version will not install per instructions.

[2017-06-20 19:49] jaredmoo commented on #3783
Thanks for the report @iyerusad . Creating server can take ~15 seconds longer since a few weeks ago, and this does occasionally cause create server to timeout. This will be fixed for Azure CLI with #3717 - the new API uses async polling to avoid timeout.

[2017-06-20 20:22] derekbekoe commented on #3473
@TMWagner since I can't repro here, can you run these commands that isolate the CLI from the issue? If this still doesn't work, then there's something else wrong. If it does work, it may be something to investigate further with the CLI install.
[code]

I created a new macOS Sierra VM (version 10.12) and ran those above commands.
I got the error `command 'cc' failed with exit status 1` as reported

[2017-06-20 20:23] #3338 closed

[2017-06-20 20:23] #3340 closed

[2017-06-20 20:29] yugangw-msft commented on #3337
@bganapa, per our conversation with @johanste and @derekbekoe last week, please ensure azure stack to have this size available, which is available across all regions in public cloud.

[2017-06-20 20:33] TMWagner commented on #3473
Here is log from the command set you specified (failed)

---------------------------------------------------------------------------

Thomass-MacBook-Pro:~ thomaswagner$ curl -O https://bootstrap.pypa.io/get-pip.py
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1558k  100 1558k    0

[2017-06-20 20:48] yugangw-msft opened #3790 "VM: availability-set convert command should expose args to set FD count"
Managed disk based AV set has less FD count than un-managed version, hence this arg makes sense.
UD count can not be tweaked.

[2017-06-20 20:51] yugangw-msft commented on #3790
Suggest to do it with #3511, when we can use the `/sku` to have the best defaults

[2017-06-20 21:13] derekbekoe commented on #3473
@TMWagner please create an issue at https://github.com/benhoyt/scandir/issues as the commands I suggested take the CLI install out of the picture.
I have seen the `error: command 'cc' failed with exit status 1` several times and the solution was the xcode install command but haven't seen the error `command 'gcc' failed with exit status 1` before.

[2017-06-20 22:40] JasonRShaver commented on #3772
Our current policy is to treat exit codes as the success or failure of the command being executed.  This, as Troy mentioned, allows folks to have consistent expectations across all CLI commands.

This also matches the industry pattern for POSIX where **any non-zero value** is consider an error.  And, of course, an `exists` function that did not find anything still worked as intended.

I would reco

[2017-06-20 22:41] #3772 closed

[2017-06-20 23:05] #2445 closed

[2017-06-20 23:31] tjprescott commented on #2586
You can just create the LB, create the VM, and then use:

`az network nic ip-config address-pool add --lb-name myLoadBalancer --address-pool myBackEndPool --id <NIC ip-config ID>`

[2017-06-20 23:48] yugangw-msft opened #3794 "VM: boot diagnostics has a few glitches after enable it"
(For tracking, as the issue is either on portal or CRP service.)
So, after `az vm boot-diagnostics enable`
  - Restarting the VM doesn’t work to emit out the boot log, rather you have to de-allocate the VM and start it, which is a bit crazy.
 - The portal doesn’t show the storage account associated in the setting tab for boot diagnostics, though the boot diagnostics appears works fine in the subse

[2017-06-21 00:10] yugangw-msft commented on #2190
Update:
`China Cloud` and `German Cloud` should work now.
`US Government` is still being worked on. I will post updates when it is ready

[2017-06-21 00:13] elibarzilay commented on #3772
@JasonRShaver: there are several problems with your reply:

1. The behavior that I *expected* is extremely idiomatic (in other
   words, a very common intustry pattern, if that's of any importance):

       bash$ [[ -e "missing file" ]]; echo $?
       1

   So in fact it's the `az` behavior which is not following this pattern.

2. I don't know whether it makes any difference here, but I talked ab

[2017-06-21 00:20] yugangw-msft commented on #3606
Please activate if you have a different opinion

[2017-06-21 00:20] #3606 closed

[2017-06-21 00:37] derekbekoe opened #3795 "Template progress reporting should not fail command if an exception is raised"
### Description
**Outline the issue here:**

Any error in template progress should not cause the whole command to fail.
If this was the case, https://github.com/Azure/azure-cli/issues/3787 would not have caused a big stack trace.

[2017-06-21 04:03] listonb commented on #3617
Slightly new edge case as well, High concurrency AZ command will corrupt the clouds.config file. Need to add a file lock on clouds.config.

[2017-06-21 14:54] anhowe opened #3798 "Regression: Latest az cli version 2.0.8 deployment fails with stack trace"
### Description
**Outline the issue here:**

Latest az cli version 2.0.8 fails with the following stack trace:

az group deployment create --name "anhowe0621b" --resource-group "anhowe0621b" --template-file "_output/anhowe0621b/azuredeploy.json" --parameters "_output/anhowe0621b/azuredeploy.parameters.json"
'status value'
Traceback (most recent call last):
  File "/usr/local/lib/python2.7/dist-pac

[2017-06-21 15:08] squillace commented on #3798
@yugangw-msft @johanste FYI

[2017-06-21 15:28] tjprescott commented on #3798
Thank for you for the report. This has been fixed by PR #3744 and will be available in the next release.

[2017-06-21 15:28] #3798 closed

[2017-06-21 17:12] tjprescott commented on #3490
Note that currently, to hook up the rule to the VM, you would need to do the following:

[code]
It's very unintuitive.

[2017-06-21 18:33] colemickens opened #3800 "Latest (0.2.10) Bundled installer does not work"
### Description
**Outline the issue here:**

* 0.2.9 bundle installs fine
* 0.2.10 bundle fails to install due to error(s)
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: bundled installer

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here: 0.

[2017-06-21 18:44] mayurid commented on #3800
@derekbekoe to take a look

[2017-06-21 19:05] derekbekoe commented on #3800
@colemickens PR has been created.
I have also published https://azurecliprod.blob.core.windows.net/bundled/azure-cli_bundle_0.2.10-1.tar.gz.

[2017-06-21 19:05] alexsab1 opened #3802 "[VMSS] Creating VMSS with new App Gateway uses expensive defaults"
### Description

Provisioning scale set with a new application gateway creates an application gateway of a Standard tier, of a Large SKU with 10 instances. That is about $3330.00 per month according to the pricing page: https://azure.microsoft.com/en-us/pricing/details/application-gateway/

`az vmss create --name "sitecore" --resource-group "<group name>" --image "Win2012R2DataCenter" --app-gatewa

[2017-06-21 19:46] #3782 closed

[2017-06-21 20:15] tjprescott commented on #3802
@alexsab1 first, please delete the scaleset and gateway to prevent those charges from accruing.

The addition of application gateway to this command was intended to support scale sets with 100-1000 instances, which is why the defaults are the way they are. A small single unit gateway would simply not work for that scenario.

Your template shows you created a scaleset with a single instance with an

[2017-06-21 20:36] yugangw-msft opened #3804 "test: add CLI progress specific end to end test"
Candidate scenario:
1. "az group deployment create --verbose"
2. "az vm create --verbose"

//cc: @tjprescott @oakeyc, @mayurid

If no one is interested, I will do it by the end of this sprint

[2017-06-21 20:40] joefromct opened #3805 "azure-cli - malfunctioning on Suse Linux 12"
### Description
**Outline the issue here:**

`azure-cli` presents errors on the `login` sub command on Suse Linux, SLES 12.

The install (from curl script) completes without error, however I am however presented with this warning on install:

[code]

However, we have run that `zypper` command previously and can confirm that each of the packages are installed:

[code]

---

### Environment summary

[2017-06-21 20:44] #3800 closed

[2017-06-21 20:49] #3795 closed

[2017-06-21 20:52] derekbekoe commented on #3805
@joefromct Sometimes one or more of the dependencies may be already installed through some other dependency (transitive dep.). So the message in the install script is a warning that may not always apply and if the install succeeds, you should be good.

What was the error exactly with `az login`?

[2017-06-21 20:55] joefromct commented on #3805
Hi, thanks for the quick reply.

Below is the error.  Also, things like `az help` and `az configure` work without issue.

[code]

[2017-06-21 21:02] johanste opened #3807 "According to telemetry, we have a problem with tab completion"
**Message:** <lambda>() got an unexpected keyword argument _prefix_
**Stack**: [_ File _usrlocallibpython3.5site-packagesazureclimain.py_, line 36, in main\n cmd_result = APPLICATION.execute(args)\n_, _ File _usrlocallibpython3.5site-packagesazureclicoreapplication.py_, line 179, in execute\n enable_autocomplete(self.parser)\n_, _ File _usrlocallibpython3.5site-packagesazureclicoreparser.py_, line

[2017-06-21 21:08] johanste opened #3808 "According to telemetry, polling while logging in sometimes fails"
**Message:** Unexpected polling state code_expired
**Stack:** [_site-packages\\azure\\cli\\main.py_, line 36, in main\n cmd_result = APPLICATION.execute(args)\n_, _site-packages\\azure\\cli\\core\\application.py_, line 210, in execute\n result = expanded_arg.func(params)\n_, _site-packages\\azure\\cli\\core\\commands\\__init__.py_, line 289, in __call__\n return self.handler(*args, **kwargs)\n_, _

[2017-06-21 21:21] yugangw-msft opened #3809 "vm: creating managed image using sources from different region fails with a bad server error"
repro:
[code]

[2017-06-21 21:25] yugangw-msft commented on #3809
For now, I will call out in related arguments' help doc

[2017-06-21 21:43] alexsab1 commented on #3802
@tjprescott Thank you for the quick reply. I have deleted the resource group per your recommendation.

Yes, I was trying out the example CLI for VMSS.

I was following the documentation at https://docs.microsoft.com/en-us/cli/azure/vmss#create to create the new VMSS with a new gateway. Did you have other documentation in mind regarding the 100-1000 intended support?

I'm not sure I can do this yet

[2017-06-21 22:20] tjprescott commented on #3802
Hi @alexsab1. We should definitely call out in the help and documentation exactly what kind of app gateway will be created when the user uses this functionality. We should also add an example for creating the very large VMSS.  By default, if you create a scale-set with fewer than 100 instances, you'll get a load balancer.

There is an open issue I am working on this sprint to improve the experienc

[2017-06-21 22:22] derekbekoe commented on #3805
I don't see an immediate solution and haven't seen this before.
Can you provide the output of:
`/home/me/lib/azure-cli/bin/pip freeze`

[2017-06-21 22:39] sauryadas opened #3845 "ACS: Remove the duplicate az acs browse command"
### Description
There are 2 sets of commands
1) az acs browse
2) az acs dcos browse and az acs kubernetes browse

Need to remove 1) because you cant browse for Docker Swarm and swarm mode because both orchestrators have no UI

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: Docker

**CLI Versi

[2017-06-21 22:54] joefromct commented on #3805
I got this to work.

I noticed that `openssl` was built on gcc 4.3, and python was built on 4.8 and that seemed as though it should work, however it was worth looking into.

This is what i did to fix the issue:

- I recompiled a new python (python 3.6) with the same version of `gcc` that was used for `python-devel` and `openssh-devel`.  I did this with a `make altinstall` like so (because i don't

[2017-06-21 22:54] #3805 closed

[2017-06-22 03:51] troydai commented on #3786
Can you provide a link to the failed build?

[2017-06-22 15:53] tjprescott opened #3852 "[ARM] `group deployment` support KeyVault references"
- [x] via parameters file
- [ ] via prompting
- [ ] via argument (similar to KEY=VALUE syntax)

[2017-06-22 16:59] yugangw-msft commented on #3808
`code_expired` means the device code.
2 possible causes:
1. The code is only valid for a limited period, so if you don't use the code to authenticate in the browser page, the code will expire, and adal-python's polling will fail.
2. For a period of about 7 days, particularly in Japan, the device code has server replicate issue, which caused authenticating through the browser could not succeed, aga

[2017-06-22 16:59] #3808 closed

[2017-06-22 17:15] #3572 closed

[2017-06-22 20:38] derekbekoe commented on #838
@mayurid @tjprescott This is the work item for making CLI depend on the separate core which is available here - https://github.com/Microsoft/knack.

[2017-06-22 20:39] AlexeyAtIgloo opened #3855 "Add supportsHttpsTrafficOnly flag option for "az storage account create" command"
### Description
**Outline the issue here:**

Unable to set supportsHttpsTrafficOnly flag when running `az storage account create`

As per API, this flag can be set: <https://docs.microsoft.com/en-us/rest/api/storagerp/storageaccounts#StorageAccounts_Create>

This option is missing from `az storage account create -h`

If this is possible to set after account creation, please let me know.
---

### E

[2017-06-22 21:06] akshaysngupta opened #3856 "[Network] Support Application Gateway API 2017-06-01"
### Description
We are pushing to release few features for application gateway in the early July release for CLI.
* [Swagger changes](https://github.com/Azure/azure-rest-api-specs/pull/1285) are in for these features.
* [Powershell Diff](https://github.com/Azure/azure-powershell/pull/4177/files)
**Note**: We are running late as NRP update is running late and hope that it gets over by 27 June.

###

[2017-06-22 21:32] mayurid commented on #3856
@JasonRShaver as FYI.
@akshaysngupta : Have put it in S18 for now. Do you have the Swagger updates ready? If not any ETA?

[2017-06-22 21:33] yugangw-msft opened #3857 "vm create: when --admin-password is provided, we should default 'authentication_type' to password"
Maybe just me, but a bit annoying to me that `vm create` fails with error `Admin password cannot be used with SSH authentication type`. Providing `--admin-password` is a strong enough gesture that I do want password auth type

//cc: @tjprescott

[2017-06-22 22:00] tjprescott commented on #3855
You should be able to set it using something like:

`storage account update ... --set supportsHttpsTrafficOnly=true`

[2017-06-22 22:43] JasonRShaver opened #3858 "OS Version reported from client telemetry is inaccurate"
### Description

Currently, `Context.Default.VS.Core.OS.Version` returns values such as `#100-ubuntu smp wed may 17 19:58:14 utc 2017`, which is difficult for the data teams to parse.

Can we investigate how to get a better OS string?

[2017-06-22 22:57] derekbekoe opened #3859 "API calls for template progress are too frequent"
### Description
**Outline the issue here:**

API calls to the monitor API happen every second which means I'm more likely to hit my quota.
This should be reduced to say 10 seconds.

Now that the API calls only happen when I specify --verbose (or have file logging enabled) it's not a major issue but still potentially something to be addressed as users can run into it.

cc: @oakeyc @johanste

[2017-06-22 22:59] akshaysngupta commented on #3856
I have added the link to swagger in the description.

[2017-06-22 23:57] VishalVMishra commented on #2376
You can find the ssh keys (both public and private) under /etc/ssh, and yes the documentation should ideally mention the path of generated keys, so no one should have to search for it.

[2017-06-23 11:09] uggedal opened #3863 "Rebuild against libssl1.1 needed for Debian Stretch"
### Description

The apt package is build against libssl1.0 which is not available on Debian Stretch giving the following error:

[code]

---

### Environment summary

**Install Method:**  apt-get

**CLI Version:**

[code]

**OS Version:**

Debian Stretch

**Shell Type:**

bash

[2017-06-23 13:36] AlexeyAtIgloo commented on #3855
Create account:
[code]
Trying:
[code]
getting: `Property 'supports_https_traffic_only' not found on root. Update may be ignored.`

Trying:
[code]
Getting: `Couldn't find 'properties' in ''. Available options: ['accessTier', 'customDomain', 'encryption', 'sku', 'tags']`

Looks like its missing in update as well. I was not able to find it in the code, all tests have it hardcoded and set to 'false'

[2017-06-23 16:27] #2827 closed

[2017-06-23 16:31] troydai commented on #3855
Thanks for reporting this issue.

[2017-06-23 16:31] troydai commented on #3855
Potential Sprint 18.

[2017-06-23 16:35] troydai commented on #3863
Thanks for reporting. We'll look into this.

[2017-06-23 17:24] #3391 closed

[2017-06-23 17:26] uggedal commented on #3863
Keep in mind that oldstable (jessie) does not have libssl1.1, but libssl1.0.0. So you need to introduce another `distribution` alongside *wheezy*.

[2017-06-23 21:29] sptramer opened #3869 "webapp:`az appservice list-locations` produces incomplete output"
### Description

It looks like a filed (and fixed) bug with xplat is in CLI 2.0:

https://github.com/Azure/azure-xplat-cli/issues/2021

Check out the results from `az appservice list-locations -o tsv` to see what the current output is (it's the US-EN localized region names.) Doesn't look like there's another way to get a locations list.

---

### Environment summary

**Install Method:** Via `curl`

[2017-06-23 21:42] iyerusad commented on #3553
In the interim, Here is a stackoverflow question that goes into some detail on how to do this using a Azure Resource Manager (ARM) template: <https://stackoverflow.com/questions/35846300/is-it-possible-to-script-the-configuration-of-azure-app-service-authentication/41882512#41882512>

[2017-06-23 21:58] marcote commented on #1773
Another workaround:
Fire up the ssh-agent and make it load the keys.

Background:
I'm using a brand new Mac laptop and I hit the very same issue. After reading the comments, I assed the ssh-agent plugin into zsh, reload the shell.

Executed again: `az kubernetes get-credentials ...`
And the error is gone.

[2017-06-23 23:23] johanste opened #3870 "`az network vnet` create does not take address space of other vnets in the same subscription and/or resource group into account"
The portal will compute a non-overlapping address space for a newly created vnet (or warn you if you have overlapping address spaces). Ideally, we'd do something similar when we create default VNETs in create scenarios like `az vm create`.

[2017-06-23 23:54] derekbekoe opened #3871 "`az cosmosdb database list` does not list db names in table format"
### Description
[code]

[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: `interactive script`

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
[code]

**OS Version:** What OS and version are you using?
`macOS Sierra`

**Shell Type:** What shell a

[2017-06-23 23:57] derekbekoe opened #3872 "No value completion for many cosmosdb commands"
### Description

I'm used to hitting [TAB][TAB] for value names but I don't get it for database names, or cosmos db account names.

For consistently with the rest of the CLI, would be good to see value completion enabled here also.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: `interactive

[2017-06-24 00:22] derekbekoe commented on #3475
Closing https://github.com/Azure/azure-cli/pull/3446

[2017-06-24 00:22] #3475 closed

[2017-06-25 10:58] cveld opened #3874 "Provide azure-cli through Chocolately"
### Description
It would be super to be able to install azure-cli through Chocolately.

### Environment summary

**Install Method:**
Chocolately

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
2.0

**OS Version:** What OS and version are you using?
Windows 10 1607 14393.447

**Shell Type:** What shell are you using? (e.g. bash, cmd.exe, Bash on Windows)
cm

[2017-06-25 21:57] maticko commented on #1722
If someone is getting the ```bashcompinit:134: parse error near `|' error``` even after adding autoload line before sourcing change command to `autoload -U bashcompinit && bashcompinit`. Should work after that.

[2017-06-26 07:27] liamdawson opened #3876 "Crash if missing parameter in non-tty environment without indication which parameter is missing"
### Description

If a parameter is missing when doing a resource group template deploy, `az` attempts to prompt, but crashes upon finding it's not in a TTY, and therefore does not explain which parameter is missing. This means it is not possible to see which parameter is missing when run in a CI environment, for example.

---

### Environment summary

**Install Method:** `pip`

**CLI Version:** Wh

[2017-06-26 15:19] kishorebasisth opened #3877 "Missing webapp subgroup in Azure CLI"
### Description
I installed the latest version of Azure CLI and some how I can't see the webapp subgroup, for instance I wanted to update connection setting of a web app and tried to follow the documentation here: https://docs.microsoft.com/en-us/cli/azure/webapp/config/connection-string

But some how I am missing the webapp subgroup. The available list of subgroups that I see are:

[code]
Was the

[2017-06-26 15:55] tjprescott commented on #3877
The webapp commands were previously a subgroup under `az appservice`.  You are running an older version of the CLI, so you might try updating or see if the command you want is under the appservice heading.

[2017-06-26 16:06] derekbekoe commented on #3876
@liamdawson What command was attempted?

[2017-06-26 16:54] tjprescott opened #3878 "Restore list of failed tests"
With recent changes to the testing infrastructure, running the `run_tests` script no longer provides the final summary of which tests failed. This was very useful and having to now go back and hunt through the logs is frustrating and time consuming.

[2017-06-26 17:02] JasonRShaver opened #3879 "Concurrency and multiple configuration support"
### Description and goals
Add support for common concurrency operations, such as:
* Multiple VSTS Tasks running CLI jobs
* Concurrent usage of the CLI in multiple terminal sessions

Users can define the target config file for each command:

[code]

Users can create or edit config file with the configure command:

[code]

Users can change the default config with an env var

[code]

Discussion:
1. S

[2017-06-26 17:19] tjprescott commented on #3856
Based on the diff of the Swagger:
- New Commands: `ssl-policy show-options`, `ssl-policy list-predefined`, `ssl-policy show-predefined`
- New properties for `ssl-policy` objects: `type`, `name`, `cipher-suites`, `min-protocol`
- New properties for `http-settings` objects: `host-name`, `host-name-from-backend-address`, `affinity-cookie-name`, `enable-probe`, `path`
- New property for `url-path-map

[2017-06-26 17:40] tjprescott opened #3880 "[Test] create_random_name always generates None"
When trying to use `create_random_name` from the test suite, it now always returns None.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: dev_setup.py

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:azure-cli (2.0.9+dev)

acr (2.0.7+dev)
ac

[2017-06-26 18:01] #3493 closed

[2017-06-26 18:59] yugangw-msft commented on #3877
Yep, `azure-cli (2.0.4)` is way too old, please update according to `
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli`

[2017-06-26 18:59] #3877 closed

[2017-06-26 19:08] yugangw-msft commented on #3869
@sptramer, App service is a bit unique that it uses the geo-region which works for both `asm` and `arm`( the site created by CLI is actually visible under `asm` mode). The region name should work for you to create the plan, but let me know otherwise.

[2017-06-26 19:12] yugangw-msft commented on #919
This issue has a PR there

[2017-06-26 19:50] sptramer commented on #3869
The issue isn't creating the plan, but being able to get the internal identifiers for the regions _at all_. For example, if I wanted to find all locations in the US, I can guess that the naming scheme is of the form `*us`, but without a guarantee from an API point to get the identifiers, I don't know. There's also the possibility of `*us` slurping in domains/locations I may not want to batch-opera

[2017-06-26 20:04] tjprescott opened #3882 "[VM/VMSS] Add debugging statements to create commands"
We need to improve the usefulness of a debug trace for these commands, especially given that any error that occurs in a validator will see its stack trace swallowed.

[2017-06-26 20:32] tjprescott opened #3883 "[Test] Cannot playback or records tests on Python 2"
Created a new Python 2 virtual environment and tried playing back a test:

`nosetests azure.cli.command_modules.resource.tests.test_resource.DeploymentTest -c nose.cfg`

Output:
[code]

This works on Python 3 but not Python 2 (anymore).

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: dev_setu

[2017-06-26 21:21] tjprescott opened #3885 "[Test] run_tests should support --test"
I should be able to run:

`run_tests --module {module] --test {one or more test names}`

in order to selectively run tests in the command line.  I can selectively run them in VS, but this is very slow and I avoid it unless I *need* to debug into the test.

Currently there is a syntax like so:
`nosetests azure.cli.command_modules.resource.tests.test_resource.DeploymentTest -c nose.cfg`

This only s

[2017-06-26 23:17] mayurid commented on #3871
@moderakh : can you please take a look

[2017-06-26 23:30] moderakh commented on #3871
@derekbekoe the function implementing `az cosmosdb database list` just returns a json object. And the json format representation is valid.

the conversion of the json to table format, I think is part of azure-cli framework and we didn't code for this. So I am not sure if that's something we should change on our side. @derekbekoe can you please give us any insight if for supporting '-otable' we nee

[2017-06-26 23:52] johanste opened #3889 "az group export extracts arguably the wrong error message from result and excludes the whole template if anything fails to export"
### Description
There are plenty of resource types that currently fail on export (service issue). From the portal, you will get everything that was possible to export + list of error messages for things that couldn't be exported. From the CLI, you just get the first sub-error and nothing else if there is one or more errors.

For example, when running with verbose, you will see the following data i

[2017-06-27 00:03] yugangw-msft opened #3890 "test: be able to clean up a locked resource group"
@troydai, per our discussion, I opened this tracking issue
Suggestion:
1. Do not run subscription level lock test in our live run, particular [this guy](https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/test_locks.py#L17). This afternoon the whole `AzureSDKTeam.onmicrosoft.com` was locked because of it.
2. When deleting a

[2017-06-27 01:22] yugangw-msft opened #3891 "progress text should be cleaned up"
As you can tell, the `finish` text stays after the command is done

![image](https://user-images.githubusercontent.com/6014209/27566791-46d9bf0e-5a9c-11e7-956a-87d114c21fbc.png)

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: dev setup

**CLI Version:** What version of the CLI and modules are inst

[2017-06-27 01:23] yugangw-msft commented on #3891
Dupe to #3555

[2017-06-27 01:23] #3891 closed

[2017-06-27 01:27] yugangw-msft commented on #3555
Suggest we prioritize this and get it fixed in the next sprint or so. This glitch is widespread and makes CLI appear not well done

[2017-06-27 04:08] Parth6288 opened #3892 "Autocompletion support in Windows command line"
Hi,
Is the auto completion for windows command line enabled yet?

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: MSI

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:  azure-cli (2.0.6)

**OS Version:** What OS and version are you using?
An

[2017-06-27 07:16] colemickens commented on #3617
Just saw this in a Jenkins job. 38 good jobs, 1 bad one. No concurrency at play here though, only one job is active at a time and the `.azure` directory is local to a per-job-instance container anyway.

[2017-06-27 07:45] johanburati opened #3894 "'az account show' --expanded-view option is deprecating and will be removed"
When using the  **az account show** command option **--expanded-view** ,
it says that the option will be removed in the future and to use **az cloud show** command instead,
however it is currently not possible to retrieve the password using the **az cloud show** command.

Could you you tell me what command to use to retrieve the password as below ?

[code]

[2017-06-27 11:41] squillace commented on #3499
Hi @schaabs, not sure we should have you do the work for that if the server side is updated in the future. I just wanted THAT updated. But parsing the ID is 'ok' for now. I'd let this be the issue to fix the server and close it when that is done.

[2017-06-27 15:32] tjprescott commented on #3892
Unfortunately, no, not from a native terminal.  For a tab completion experience on Windows, my best recommendation would be to try `az interactive`.

[2017-06-27 15:40] tjprescott commented on #3499
I would agree with @squillace.  If you really wanted to, you could simulate the server fix by introducing an output transformer for the KeyVault data plane commands. That would be a more seamless workaround than introducing ID parse commands (unless they have a role in some other usage scenario).

[2017-06-27 16:00] tjprescott opened #3895 "[Test] CI Output cluttered with Coverage information"
Recently I have noticed that when a CI build fails, the output is filled with pages and pages of code coverage statistics.  These are not in any way helpful as they are never the cause of the build failure. This was not the behavior until recently so we should revert whatever change introduced this along with #3878.

[2017-06-27 16:00] schaabs commented on #3499
Sounds good @squillace could you possibly share a sample of the work around you used here for any others that encounter this issue in the meantime?

[2017-06-27 16:05] troydai commented on #3617
@colemickens if your case didn't happen under a concurrent situation, would you please open another issue and fill in more details? Thanks.

[2017-06-27 16:08] troydai commented on #3883
does this form work for you?
[code]

[2017-06-27 16:10] tjprescott opened #3896 "[Test] Tests written with older test base will no longer record"
After my changes to the resource module, I decided to wipe the recordings and simply re-record all tests. However, upon doing so, I found that, after recent changes, tests written using the old test base (VCRTestBase) will no longer record when played back using:

`nosetests azure.cli.command_modules.resource.tests.test_resource.ResourceGroupNoWaitScenarioTest -c nose.cfg`

As a result, the test p

[2017-06-27 16:11] tjprescott commented on #3883
No because I want to play back a single test case, not the entire module.  If I wanted to play the module, I would just run `run_tests --module <module>`

[2017-06-27 16:11] troydai commented on #3883
More traces
[code]

[2017-06-27 16:12] troydai commented on #3883
Sorry. Didn't make it clear. I meant:
[code]

[2017-06-27 16:12] troydai commented on #3883
I'll take a look the nosetest abnormal.

[2017-06-27 16:14] tjprescott commented on #3883
That works, sort of.  The problem is if I don't run it with nosetests I don't get the debugging output when it fails.  On Python3 I get at least something, but on Python 2, not so much.

[2017-06-27 16:15] troydai commented on #3880
This method can be removed. Thanks for spotting it.

[2017-06-27 16:16] troydai commented on #3878
Will do.

[2017-06-27 16:16] troydai commented on #3878
Add to Sprint 18. Low pri see if I can get to it.

[2017-06-27 16:19] tjprescott commented on #3883
Example (I introduced a typo in the last command):

Python 3:
[code]

Python 2
[code]

If I ran this with nosetests I'd get the full debugging results as well as the stacktrace.

[2017-06-27 16:21] troydai commented on #3883
`inspect.getfile(self.__class__)` is the problem as far as I can see.

[2017-06-27 16:23] tjprescott commented on #3871
I believe this happens because your DB name is called "id".  There's logic in the CLI's table auto-parse which omits anything called "id" because those are usually Azure RM ids, which are extremely long and useless in a table format.

[2017-06-27 16:24] tjprescott commented on #3883
If #3885 is implemented, this becomes moot.  We should have an interface for running select tests so that running them isn't so dependent on these implementation or project structure details.

[2017-06-27 16:37] tjprescott commented on #3878
#3848 caused this regression due to changes in `run.py` and `nose_helper.py`.  It should be a fairly simple fix of restoring the code that was stripped out.

[2017-06-27 16:39] #3722 closed

[2017-06-27 16:49] tjprescott commented on #3479
`--ids` support for lock commands is considerably complicated by the fact that the lock commands work at various levels, so I excluded it from PR #3791 and will revisit this in a future sprint.

[2017-06-27 17:09] #3771 closed

[2017-06-27 17:10] #3880 closed

[2017-06-27 17:27] JasonRShaver commented on #3892
To the best of my knowledge, this is not possible in the Windows command shell (cmd).  Here is a random [SuperUser question on this](https://superuser.com/questions/114595/autocomplete-in-windows-cmd-prompt) with a few ideas.

Otherwise, as mentioned by Travis, we do offer full auto-complete in `az interactive` mode.

[2017-06-27 17:27] #3892 closed

[2017-06-27 17:33] colemickens opened #3897 "Problems with 'AzureCloud' in non-concurrent scenarios"
### Description
**Outline the issue here:** We have a Jenkins job. It never runs in parallel. Each instance starts up in a fresh docker container with no `~/.azure` and each then has a non-interactive login with Service Principal creds.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: Used a b

[2017-06-27 17:34] colemickens commented on #3897
(Similar symptoms as in #3617)

[2017-06-27 17:35] EricABC opened #3898 "Can no longer create container registry due to unavailable apiVersion"
### Description
**Outline the issue here:**

```az acr create -n ... -g ... --sku Managed_Standard``` fails since the new version (which adds delete capabilities) elevated the apiVersion for registries to 2017-06-01-preview.  ```az provider show -n Microsoft.ContainerRegistry``` shows only 2017-03-01.  My goal was to recreate with a managed storage SKU so I could use delete.  To the best of my kno

[2017-06-27 17:36] yugangw-msft commented on #3894
@johanburati , this flag was originally introduced to expose a few information for sdk-for-java. We are renaming to like "--sdk-auth" through #3867, so it can be a bit more explicit to support all azure sdks
We don't expect CLI users will ever need to read the secret as CLI will maintain it and acquire access tokens for all CLI commands, so it should be transparent to users

[2017-06-27 17:36] #3894 closed

[2017-06-27 17:46] scottkof opened #3899 "`az group deployment create` runs forever"
### Description
`az group deployment create` runs forever. Top-level deployment never completes, but all sub-deployments are successfully created.
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
pip

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
azure-cli (2.0.9)

[2017-06-27 17:53] JasonRShaver opened #3900 "Client telemetry should provide better error identification"
### Description
When looking at our client telemetry at errors, we have a few values:
* Command executed (if parsed and known)
* Message text
* Stack trace
* Fault type

But these values make it impossible to collate down to a specific error condition.  For example, identifying login errors or polling state failures can only be investigated via manual processes.

Is it possible to provide some inv

[2017-06-27 17:53] #3758 closed

[2017-06-27 17:54] #3859 closed

[2017-06-27 17:56] troydai commented on #3883
Good suggestion and will do.

[2017-06-27 17:56] troydai commented on #3896
top priority.

[2017-06-27 17:57] JasonRShaver opened #3901 "Add support for next-gen Azure high-availability"
### Description
Creating an issue to track high-availability improvements for VM, VMSS, and VMSS (single-zone).  Details: contact JasonSha.

[2017-06-27 18:09] schaabs commented on #2587
@amitbapat The swagger file is actually up to date and correct, and the latest cli should reflect this as well.  My guess is you're actually using an older version of the azure-cli-keyvault package which pulls in an older azure-mgmt-keyvault that doesn't have these updates.  Can you please share the versions of these packages from 'pip list'?

[2017-06-27 18:16] yugangw-msft opened #3902 "Support to delete multiple resources with dependent relationship"
This is to support users can delete all resources created by `az vm/vmss create` so to avoid getting billed by leftovers such as the public IP. The flow by leveraging tags:
[code]

[2017-06-27 18:24] lmazuel commented on #3856
@tjprescott @akshaysngupta SDK released:
https://pypi.python.org/pypi/azure-mgmt-network/1.1.0

[2017-06-27 19:02] cmatskas opened #3903 "Unable to debug C# Functions in VS2017 Preview after clean install"
### Description
After having to repave my machine, I tried to re-install my Azure Functions tooling. The order of the install was:

- VS2017 Preview (15.3)
- Node.js/NPM
- Azure Functions Extension for VS2017 Preview
- Azure Functions Core Tools (via NPM)

Tried to debug a C# Function but I got the following error:
![functionerror](https://user-images.githubusercontent.com/4126750/27604845-8a06254

[2017-06-27 19:28] tjprescott commented on #3903
When you run `az --version` what output do you get?

[2017-06-27 19:31] cmatskas commented on #3903
Stupid me.. this is the wrong thread! Apologies for the confusion but this belongs to the Azure Functions CLI! arg, too many CLIs

[2017-06-27 19:31] #3903 closed

[2017-06-27 19:32] JasonRShaver opened #3904 "Cloud Register param too long"
### Description
The abnormal length of `--suffix-azure-datalake-analytics-catalog-and-job-endpoint` makes our help hard to read.  It feels this can be shorted, like `--dla-suffix`.

[code]

[2017-06-27 19:39] amitbapat commented on #2587
@schaabs this was way back in March, so whatever the current version was available, I was using it. I'll give it a try again.

[2017-06-27 20:22] JasonRShaver opened #3905 "Invalid cloud configurations leaves CLI in corrupted state."
### Description
If you use attempt to use an incorrectly configured cloud
[code]

After login, the CLI won't load:
[code]

I deleted `~/.azure/clouds.config`, to attempt to recover, but now the CLI reports the cloud being invalid:
[code]

but I cannot list or change clouds.

[2017-06-27 20:24] JasonRShaver commented on #3905
Workaround is to delete the `config` file or change the cloud config to
[code]

[2017-06-27 21:17] troydai opened #3906 "Get window dimension in global scope will cause issues when az is not run in a terminal"
`$TERM` is missing when the command is not run in a terminal. Therefore fetching dimension will fail no matter what. Running `get_window_dim` in global scope will cause an exception when simply `azure-cli-interactive` is just imported.

https://github.com/Azure/azure-cli/blob/4e25d149cf8b1ad2182e89a0c1c29e2638a5b6b8/src/command_modules/azure-cli-interactive/azclishell/gather_commands.py#L16

[2017-06-27 21:38] amitbapat commented on #2587
Reinstalled CLI 2.0 with keyvault component version 2.0.7. It seems to be resolved now. So please go ahead and close this bug.

[2017-06-27 21:38] #2587 closed

[2017-06-27 22:00] tjprescott commented on #3856
@akshaysngupta do these look correct to you?  Do you see anything I'm missing?

[2017-06-27 22:11] tjprescott commented on #3856
@akshaysngupta the Powershell PR mentions websites, but I didn't see anything related to that in the PR or in the swagger diff. Can you elaborate?

[2017-06-27 22:48] colemickens commented on #1996
ping @tjprescott / @derekbekoe Sorry for the direct ping but this still seems confusing...

Some folks on our team are on slightly different minor versions of the module handling group template deployments and to be blunt, we've spent a silly amount of time trying to figure out what the correct method is for specifying paramters. Can either of you point me at any PRs related to any recent changes

[2017-06-27 22:57] derekbekoe commented on #1996
A couple related PRs:
https://github.com/Azure/azure-cli/pull/3850
https://github.com/Azure/azure-cli/pull/3743

[2017-06-27 23:12] liamdawson commented on #3876
`az group deployment create`.

For us, the trigger issue was actually that the syntax had changed which meant the parameters file was being used incorrectly (`--parameters '@file.json'` -> `--parameters 'file.json'`), but due to this issue it took some debugging as we normally run the task from a CI environment.

[2017-06-27 23:22] derekbekoe commented on #3876
This may have been fixed by https://github.com/Azure/azure-cli/pull/3850 that was recently merged.
@tjprescott can you comment?

[2017-06-27 23:44] tjprescott commented on #1996
The PR that addressed this was https://github.com/Azure/azure-cli/pull/3637.

You can specify any of the following (or a combination):
[code]

We would not have `--parameters` and `--parameters-file`. That is a very Xplatty thing that we purposefully avoid (unfortunately it probably exists in a few places in the CLI).

[2017-06-27 23:46] tjprescott commented on #1996
I'm going to go ahead and close this as #3637 improved the options for supplying parameters and #3850 improved the error handling.

[2017-06-27 23:46] #1996 closed

[2017-06-27 23:50] tjprescott commented on #3876
Actually, this was most likely fixed by #3743. Either syntax (--parameters @file.json and --parameters file.json) should work and were intended to work.  However, this doesn't really address the underlying issue which is that the NoTTYError doesn't give any indication of what was being prompted for.

[2017-06-28 12:00] qwazer commented on #3720
The same issue with Debian Stretch

[code]

[2017-06-28 14:58] tjprescott commented on #3904
Has this already been released?  If so, it would be a breaking change.  But I do agree that it's a mouthful :)

[2017-06-28 18:08] akshaysngupta commented on #3856
1) ssl-policy predefined show (by name) ?
2) ssl-policy: policytype ? , rename "name" to "policyname"
3) http-settings: host-name? (this must be by mistake)
4) For probe, How is match criteria specified ? This can a many more fields in the future.

Azure websites support has been added by picking up the host name from Backend pool and using it for probe and http settings

[2017-06-28 18:13] colemickens commented on #3897
Just hit this in another job, this time with `AzureChinaCloud`.

[2017-06-28 18:14] tjprescott commented on #3856
1. Yes, show is the GET operation by name
2. We are using `--name` because this is a CLI-wide convention.
3. `host_name` is a parameter that was previously required.  With this change it becomes optional.
4. `--match-body` and `--match-status-codes`.

[2017-06-28 18:26] akshaysngupta commented on #3856
--policyname will only be used when policytype (not mandatory) is specified and is set to predefined.
minprotocolversion/ciphersuites are used when policy type is Custom. Additionally, None of the ssl-policy fields are mandatory. Its just that either use disabledSslProtocols or use the new fields

[2017-06-28 19:13] tjprescott commented on #3856
Yes. The CLI will automatically set policy-type based on whether a prefined policy name is supplied.  The server errors are good, so we don't have to duplicate a bunch of client side validation in the CLI (thank you!).

[2017-06-28 20:05] yugangw-msft opened #3911 "telemetry: ensure file path in the stack trace has the path separator"
Having `/` would help a lot to understand the following trace:
`_ File _homerapidenvlibpython3.5site-packagesazureclimain.py_, line 36, in main\\n cmd_result = APPLICATION.execute(args)\\n_, `

[2017-06-28 20:05] derekbekoe opened #3912 "Integrate commandlint script into CI work flow"
We have a commandlint script running in CI that shows commands/params without descriptions.
However, it doesn't exit with non-zero exit code if there's an error so the errors are ignored and CI still passes.

- [ ] Fail with exit code 1 if there are commands without descriptions.
- [ ] Modify our [PR template](https://github.com/Azure/azure-cli/blob/master/.github/PULL_REQUEST_TEMPLATE.md) to remo

[2017-06-28 20:08] derekbekoe commented on #3912
cc: @oakeyc @troydai

[2017-06-28 20:42] derekbekoe commented on #3897
@colemickens How frequently does this happen?

[2017-06-28 20:48] troydai commented on #3895
Add to sprint 18. Low priority.

[2017-06-28 21:10] troydai commented on #3720
@qwazer and @benalbrecht thanks for reporting. Debian Stretch is very new, we haven't tested on it yet. We have an issue tracking this #3863. Please follow that issue.

[2017-06-28 21:22] akshaysngupta commented on #3856
For ssl policy,
disabled ssl protocols field should not set the policy type (or should set to null).
minprotocolversion and cipehrsuites should set policy type to custom
policy name should set policy type to predefined

[2017-06-28 22:01] vladsero opened #3913 "CLIv2 for vnet private access"
### Description
Microsoft.Network is releasing new feature called “virtual network private access” in the fist week of August. There're 2 Microsoft.Network API changes in this feature:
1. New subnet.properties.privateAccessServices property
2. New subscription-wide API GET /privateAccessServices
We need your help to enable these in CLIv2. See details below.

See CLIv1 info here:
"https://microsoft

[2017-06-28 23:08] iyerusad commented on #3783
@jaredmoo Thank you. I see the experience is now improved, SQL is no longer "timing out"/504ing out and my runs of this command are now more consistent in deleting and creating SQL instances. Been using this piece a bit today and feel confident enough to close this issue out.

[2017-06-28 23:08] #3783 closed

[2017-06-28 23:37] brendandburns commented on #3899
Can you send your Subscription ID (and correlation-id if you have it) to bburns [at] microsoft.com

We'll dig into logs.

[2017-06-28 23:39] brendandburns commented on #3852
@tjprescott Did you have any thoughts about what the syntax would be?

`!keyVault(vault, keyname)` ?

[2017-06-28 23:43] brendandburns commented on #3440
@johanste can you give a specific example of a command line that throws?

[2017-06-28 23:46] tjprescott commented on #3852
@brendandburns I haven't given it much thought. Since references are permitted via file it's pretty much back burner at the moment. My preference would be something like:

`--keyvault-parameter mySecret={secret URL}`

The annoying part is you need the secret NAME and the vault's ARM ID.  You only really get the secret name from the URL and then you'd have to do some kind of reverse lookup to try a

[2017-06-28 23:49] brendandburns commented on #3852
That would be for a flag, but you also identify prompting. What did you have in mind for prompting?

[2017-06-28 23:57] tjprescott commented on #3852
I don't really have anything in mind--that's why it's on the back burner. :)  I would try to avoid a "function-like" syntax if possible.

The simplest thing I could think (from a user perspective) would be to put in a secret URL and automatically try and parse it as KeyVault.  If that doesn't work, then pass it as a string. From an implementation perspective though, there's a lot wonky about that

[2017-06-29 00:06] johanste commented on #3852
Specifying the keyvault reference in a prompt is the least important scenario (in my mind). Being able to specify it through the parameters file was a must-have - and that should already work (else we have a clear bug to address :))

This leaves the parameter= command line flags.

[2017-06-29 09:12] Suna-MS opened #3916 "Enhance wait command to support polling azureAsyncOperation"
### Description

 cli_generic_wait_command can register a wait command and the wait command polls on *something*.  Typically that has been a getter. For our create server scenario, before the async operation of PUT server finished, GET server will always return 404 NotFound, and if the operation failed finally, the getter will keep to return 404.

So we want the wait command to poll azureAsyncOper

[2017-06-29 11:26] Raidus commented on #1722
I've followed the installation guidance and the suggestion from @berndverst but I still get the error:
`zsh: command not found: az`

P.S. homebrew and zsh is up to date

[2017-06-29 11:55] TitaniumCoder477 opened #3917 "az vm create under PowerShell won't permit empty public-ip-address"
### Description
**Outline the issue here:**
I first noticed this issue with my full az vm create command, and I progressively simplified it until it was basically just `az vm create --resource-group TEST --name TEST-VNAS --public-ip-address ""` and it still threw the error: `az vm create: error: argument --public-ip-address: expected one argument`. That's when I finally thought maybe this is just

[2017-06-29 14:48] smoser opened #3918 "creating a vm, then deleting, then creating with same name fails."
### Description
I created a resource group, created a VM inside that group, but forgot to add `--ssh-key-value` so i deleted the vm.  I tried to create another one with the same name and that failed.  I believe it was because some automagically created resource already existed.

Heres the basic recreate:

    $ az group create --location=eastus2 --name=mygroup
    $ az vm create --resource-group=m

[2017-06-29 15:31] tjprescott commented on #3918
Hi @smoser you are absolutely correct. The managed disk for your previous OS is not deleted when you delete the VM.  Some options:

1) Delete the resource group, which will delete all associated resources.
2) Run the VM create and specify --attach-os-disk (with that disk name) instead of --image, since your OS disk is already set up, this should speed things up.
3) Specify a different name with --

[2017-06-29 15:33] tjprescott commented on #3917
Powershell is not a supported shell for Azure CLI 2.0. You might try using double single quotes instead of double quotes.... OR (this is a hacky workaround) you could try something like "''" (two singles wrapped in double) or '""' (two doubles wrapped in singles).

[2017-06-29 15:33] #3917 closed

[2017-06-29 15:35] tjprescott commented on #3852
I have verified that parameters file does work.

[2017-06-29 16:06] tjprescott opened #3919 "[Network] Application-gateway create/update fails with --servers"
Throws a KeyError('ipAddress') exception.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: dev_setup.py

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here: latest

**OS Version:** What OS and version are you using?
Answer here: Win10CU

**Shel

[2017-06-29 16:19] tjprescott commented on #3912
I was looking at the allowed-error doc and there are some additional issues that need to be resolved before we should rely on this script:

- [ ] Counts a parameter as missing even if it is `ignore_type`.  We don't care about missing help for suppressed parameters :smile: (ex: `network application-gateway auth-cert update: cert-data`)
- [ ] Appears to count help as missing if it is supplied solely

[2017-06-29 16:25] smoser commented on #3918
On Thu, 29 Jun 2017, Travis Prescott wrote:

But clearly that is not really an option in all but the most basic of
cases.  Ie, it will only work for your first vm in a resource group.

I think really there needs to be *some* easy way to delete a vm and any
resources that were automatically created for it.  That is default
behavior on OpenStack, AWS, GCE...

I realize that is somewhat non-trivial,

[2017-06-29 16:29] natemcmaster opened #3920 "Cannot install Windows msi in non-interactive mode"
### Description
I'm trying to automate the installation of the Azure CLI on several dozen machines using the MSI. I'm trying to accomplish this with msiexec.exe, but it appears something in the way the msi is created doesn't allow non-interactive install.

[code]
But if I double-click and launch the msi file, it installs just fine. This is cumbersome when I need to roll it out to a dozen agents.

[2017-06-29 16:32] mikemcfarlane-iproov commented on #2384
Is there any progress on adding Backup to the CLI or Python?

[2017-06-29 16:37] tjprescott opened #3921 "Validators need way to examine original command line in addition to namespace"
Scenario:  VMSS create can create either a load balancer, application gateway, or neither.  Each (LB/AG) are mutually exclusive parameter sets--you can't create both.  Either one could have parameters in that parameter set that have default values.

The problem then is this.  If I have a default value, it *will always* appear in the validator's namespace. If I then write code which validates the m

[2017-06-29 16:38] tjprescott commented on #3918
@smoser I wholeheartedly agree.

[2017-06-29 16:47] tjprescott opened #3922 "Commands which create multiple resources should have an option on delete to delete all related resources"
Referenced from discussion in #3918 and #3791.

Any create command which creates multiple resources should have a flag that will delete (or attempt to delete) any related resources. For example, `vm delete -g myRG -n myVM --delete-related-resources` would also delete: the managed disk, the NSG, the VNET, the public IP etc.  In other words, the goal would be that if you ran the simplest create and

[2017-06-29 17:15] TitaniumCoder477 commented on #3917
I guess MS has reasons for not supporting the cli under their own shell,
but oh well. One more reason to use my Linux box! :)

On Jun 29, 2017 11:33 AM, "Travis Prescott" <notifications@github.com>
wrote:

[2017-06-29 17:18] axelgMS commented on #3857
+1 in Azure CLI from Ibiza portal

[2017-06-29 17:31] iyerusad commented on #3512
Seconding the desire for this. I will attempt to use `az resource update` as zignd mentions above but would like to see this in my strongly typed flag. Similar in spirit issue also at #3553.

[2017-06-29 19:14] akshaysngupta commented on #3856
For testing the 3 new endpoints, try using `https://westcentralus.management.azure.com`

[2017-06-29 19:47] jaredmoo commented on #3783
Great to hear, thanks for the confirmation!

[2017-06-29 19:54] gbowerman opened #3923 "Add VMSS public IP per VM feature to VMSS create"
### Description
Please add support for the new public IP per VM feature for VMSS to the CLI VMSS create command:

### Creating a scale set with public IP per VM
To create a VM scale set that assigns a public IP address to each VM, make sure the API version of the Microsoft.Compute/virtualMAchineScaleSets resource is 2017-03-30, and add a publicipaddressconfiguration JSON packet to the scale set ip

[2017-06-29 19:55] gbowerman commented on #3923
For more information on the new VMSS network features: [https://github.com/gbowerman/azure-myriad/tree/master/preview/network](https://github.com/gbowerman/azure-myriad/tree/master/preview/network)

[2017-06-29 19:58] gbowerman opened #3924 "Add configurable DNS features to VMSS create"
### Description
Please add the new VMSS configurable DNS features to the VMSS create command..
## Configurable DNS Settings
For DNS, previously scale sets relied on the specific DNS settings of the VNET and subnet they were created in. With configurable DNS, you can now configure the DNS settings for a scale set directly. The DNS settings will then apply to all VMs in the scale set.

### Creating

[2017-06-29 20:02] tjprescott commented on #3917
The main reason is because it is assumed that people using Powershell would be using the Powershell cmdlets for working with Azure rather than Azure CLI 2.0.

[2017-06-29 20:04] iyerusad commented on #3512
Oddly enough I am not able to get any variation of this `az resource update` command to function properly:

[code]
Lists the virtualApplications, as expected

However, this command
[code]
does not error out but spits out unchanged value. I would expect an error but it silently "fails"?

[2017-06-29 20:05] gbowerman opened #3925 "Add multiple IP address per NIC support to VMSS create"
### Description
Please add support for multiple IP addresses per NIC to VMSS create command.

You can now define up to 50 IP addresses per NIC when creating a VM scale set. Syntax is the same as multiple IP addresses per NIC for regular VMs, i.e. add multiple entries to ipConfigurations[] in the networkInterfaceConfigurations list.

See [https://github.com/gbowerman/azure-myriad/tree/master/previe

[2017-06-29 20:08] gbowerman opened #3926 "Add multiple NICs per VM support to VMSS create"
### Description
Please add support for multiple NICs per VM to the VMSS create command. Syntax is the same as for regular VMs, i.e. add multiple networkConfigurations[] entries..

You can have up to 8 NICs per VM depending on VM size. The following is an example scale set networkProfile showing multiple nic entries:
[code]

[2017-06-29 20:17] gbowerman opened #3927 "Add support for querying VMSS public IP addresses per VM"
### Description
The new network support for public IPv4 per VM adds an API to query public ip addresses. Please can this be supported in CLI.

Example:
[code]

[2017-06-29 21:11] tjprescott commented on #1666
It would be good to get this scheduled--at a minimum the command coverage part.

[2017-06-29 21:18] TitaniumCoder477 commented on #3917
Ah, now that makes sense! I've just started exploring command line
interaction with Azure and didn't realize there was PS  commands for it
too.

On Jun 29, 2017 4:02 PM, "Travis Prescott" <notifications@github.com> wrote:

[2017-06-29 21:19] tjprescott commented on #3917
https://github.com/Azure/azure-powershell

Enjoy (or use our product on your Linux box :grin:)

[2017-06-29 21:26] #3666 closed

[2017-06-29 22:54] viananth opened #3929 "az interactive doesn't work on Windows Server 2016 Datacenter"
### Description
az interactive brings up the interactive session but none of the cmds work

---
[code]
### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:
pip install

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:
azure-cli (2.0.9+1.dev20170627)

[2017-06-29 22:56] fhryo-msft opened #3930 "Add HTTPs Only support in CLI for storage management"
### Description
We released a feature named "Secure Transfer Required" on storage account. Right now it's supported in both REST API and Python SDK:
REST API (Version: 2016-12-01): https://docs.microsoft.com/en-us/rest/api/storagerp/storageaccounts
Python SDK (1.1.0): https://pypi.python.org/pypi/azure-mgmt-storage/1.1.0

We expect CLI support the feature in two scenarios:
1. Enable/Disable the op

[2017-06-29 23:00] troydai commented on #3930
Please in sprint 18 for now.

[2017-06-29 23:28] djyou commented on #3898
Hi EricABC, managed registries together with several other features will be publicly available by 7/5. Creating registries in Basic SKU can work as they were, but as you also said, delete repositories will only be supported in managed registries. /cc @SajayAntony

[2017-06-30 00:06] EricABC commented on #3898
Great, thanks!  I see I jumped the gun, so I'll close.

[2017-06-30 00:06] #3898 closed

[2017-06-30 00:36] yugangw-msft commented on #3923
We will try to get this into the current release if we can.
//cc:@mayurid

[2017-06-30 00:36] yugangw-msft commented on #3924
We will try to get this into the current release if we can.
//cc:@mayurid

[2017-06-30 02:40] amaldevv opened #3934 "Creating a new policy in IOT Hub deletes all the existing policies"
### Description
When I am executing the `az iot hub policy create` command to create a new policy, all the existing shared access policies in the hub are getting deleted

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
MSI

**CLI Version:** What version of the CLI and modules are installed? (Use `az --vers

[2017-06-30 11:18] janbrunrasmussen opened #3936 "az vm user update --reset-ssh-key exception misleading"
### Description
When executing ssh-reset on deallocated (and potentially stopped) VM's az cli 2.0 throws a misleading exception:
[code]

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli <-- apt-get for Debian/Ubuntu

**CLI Version:** What

[2017-06-30 14:21] vijayrajah opened #3937 "AZ cli python3 virtualenv picks wrong interpreter"
### Description
I installed az-cli usig the follwing steps

[code]
the install is successful.  I'm able to use the if I activate it

but when I try to execute (without activating the venv)
`/az-cli/bin/az`
it fails with

This is because it picks improper python interpreter

---
**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:
CLI Version: latest

[2017-06-30 18:14] oakeyc commented on #3906
This was fixed in #3893

[2017-06-30 18:14] #3906 closed

[2017-06-30 19:11] scottkof commented on #3899
I emailed you some data about an unending deployment.

[2017-06-30 20:32] JasonRShaver opened #3940 "Webapp deployment user set has cryptic errors"
### Description
`az webapp deployment user set --user-name <username> --password <password>`

the error messages when this command fails are not intuitive – Bad request means create a stronger password and Conflict. Details: 409 means your username is taken.  Can we get some some errors in here that don't require googling to figure out?

[2017-06-30 21:00] mayurid commented on #3929
@oakeyc : please look into this for the current sprint.

[2017-06-30 21:48] tjprescott opened #3941 "[Test] Boost Application Gateway subresource test coverage"
Add tests for the following AppGateway sub-resource commands:

- [x] address-pool (PR #4137)
- [ ] auth-cert
- [x] frontend-ip (PR #4137)
- [x] frontend-port (PR #4137)
- [x] http-listener (PR #4137)
- [x] http-settings (PR #4137)
- [X] probe (PR #4137)
- [x] redirect-config (PR #4069)
- [x] rule (PR #4137)
- [ ] ssl-cert
- [X] ssl-policy
- [ ] url-path-map
- [ ] url-path-map rule
- [X] waf-config

[2017-06-30 21:50] tjprescott opened #3942 "Migrate dependencies to external core package"
Many parts of azure.cli.core have been moved to an external package.  Move dependencies over to that package and remove the duplicate code from the CLI.

**Command Modules to Convert**

- [x] redis
- [x] profile
- [x] cloud
- [x] feedback
- [x] configure
- [x] extension
- [x] resource
- [x] cdn
- [x] interactive
- [x] network
- [x] role
- [ ] vm
- [ ] rdbms

-------------
- [ ] acr
- [ ] acs
- [ ]