[2020-06-05 11:03] kiranhanu9 opened #13848 "Powershell issue"
When I run any command some read only issue is happening :

Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/_session.py", line 47, in load
    self.save()
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/_session.py", line 65, in save
    with codecs_open(self.filename, 'w', encoding=self._encoding) as f:
  File "/opt/az/lib/python3.6/codecs.

[2020-06-05 11:17] OvervCW commented on #9585
It seems that an ARM deployment for Kubernetes will always fail with the following error when the service principal secret contains quote-like characters:

[code]

This happens with the CLI versions 2.5.1, 2.6.0, and 2.7.0. We've also tried URL escaping the secret, but then Azure just states that the secret is incorrect because it doesn't match the actual password. For now we've solved this by sim

[2020-06-05 11:47] hjfitz commented on #13802
This turned out to be a user issue. You can't use `--dns-name-label $name \` as a container can't be on a private network with a public FQDN! Remove that from the original command and it works

[2020-06-05 11:47] #13802 closed

[2020-06-05 12:17] yonzhan commented on #13847
acr

[2020-06-05 12:19] yonzhan commented on #13848
add to S172

[2020-06-05 12:42] pabloli84 opened #13850 "az interactive trhows an error after upgrade to az 2.7.0"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Upgrade az to 2.7.0
- `az interactive`

## Expected Behavior
az interactive prompt is opened

## Environment Summa

[2020-06-05 12:57] yonzhan commented on #13850
interactive

[2020-06-05 13:04] mohoff commented on #9585
According to an Azure support engineer, another workaround is resetting the SP password manually via `az ad sp credential reset --name NAME -p PASSWORD` where `PASSWORD` has at least on special character but no single quote. Then the AKS creation should succeed.

[2020-06-05 13:26] #13724 closed

[2020-06-05 13:29] yonzhan commented on #13728
@Lloydkwena, was your issue resolved by above solution?

[2020-06-05 13:35] yonzhan commented on #13747
@tinokingstone any update?

[2020-06-05 13:36] #13749 closed

[2020-06-05 13:42] Lloydkwena commented on #13728
Hi @yonzhan

Apologies for late response. It did, thanks

On Fri, Jun 5, 2020 at 3:29 PM yonzhan <notifications@github.com> wrote:

[2020-06-05 13:51] golaat opened #13851 "Windows User Installer"
Currently, the Az CLI Windows MSI package requires local Administrative rights to install. It would be nice if the application supported installation into %LOCALAPPDATA%\Programs, which would not require Administrative rights.

Other applications such as VSCode and Storage Explorer support a user install option.

[2020-06-05 14:03] bkjones commented on #13630
@Juliehzl could you provide some info or link to what the fix was? I have this issue with the same exact error but am not using az.

[2020-06-05 14:35] yonzhan commented on #13851
@fengzhou-msft please take a look.

[2020-06-05 14:37] yonzhan commented on #13759
add to S172

[2020-06-05 14:39] yonzhan commented on #13760
@tingtingq, any update for debug info?

[2020-06-05 14:41] #13761 closed

[2020-06-05 16:04] iyerusad commented on #13837
Please add the example shown.

[2020-06-05 16:51] fengzhou-msft commented on #13635
@lmazuel For `azure/__init__.py`, we should use `import pkgutil;__path__ = pkgutil.extend_path(__path__, __name__)` for development and remove the file in the package. Is that correct? How can we remove it?

[2020-06-05 17:44] fiftin commented on #4133
I have the same problem. How to fix it?

[2020-06-05 17:46] fiftin commented on #2175
Any updates? 3 years without response. WTF microsoft? Remove from documentation if you can't fix this!

[2020-06-05 17:51] fiftin opened #13852 "Remove doc for command `az network application-gateway frontend-ip update` because it is not works."
Command:

`az network application-gateway frontend-ip update`

not working for public ip address. Issue https://github.com/Azure/azure-cli/issues/4133 created in Aug 2017, but M$ never fixed it.

Please remove from docs if it is not works!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 22983291-ef1b-2d38-a378-a87533f91

[2020-06-05 18:02] geoarchitect opened #13853 "Get List of Available IP for Subnet"
Azure CLI recently added this command:

[code]

This works great but only seems to return some ip addresses in the VNet.

Can we leverage the jmeshquery --query to specify some ip range or a subnet to narrow this down?

**Is your feature request related to a problem? Please describe.**
Yes, the list-available-ips command doesnt return all available ip's

For example you may have 192.168.0.0/16 and

[2020-06-05 19:36] ajlam commented on #11656
We are still discussing the requirement for an "az mariadb db up" command given the usage of what we've seen for the existing "az mysql up" and "az postgres up" commands.

[2020-06-05 19:37] ajlam commented on #11655
This API is linked to the "az mariadb up" command (#11656)

We are still discussing the requirement for an "az mariadb db up" command given the usage of what we've seen for the existing "az mysql up" and "az postgres up" commands.

[2020-06-05 19:52] ajlam commented on #11162
Hi all, sorry for the delayed update.

The firewall rule delete behavior for the Azure portal was a bug. We have now updated the portal behavior to match the Azure CLI so that when a "delete" resource lock is set on a server, firewall rules cannot be deleted.

[2020-06-05 19:52] #11162 closed

[2020-06-05 21:12] subhasishdc commented on #10901
@chadcarlton : Saw this same issue which you mentioned in the "az keyvault secret show" command as well. However, after doing some digging into the documentation and the az cli help, looks like the parameters are clearly explained. I will provide examples below:

`schowdhu-mn2:~ schowdhu$ az keyvault certificate show
incorrect usage: --id ID | --vault-name VAULT --name NAME [--version VERSION]`

T

[2020-06-05 21:15] lmazuel commented on #13635
That's correct. You remove those lines from your wheel using this:
https://github.com/Azure/azure-sdk-for-python/blob/7aecf6ffa4f886df25f40cc2cd2ea451dfea7e08/sdk/storage/azure-mgmt-storage/setup.py#L78-L80

See also:
https://github.com/Azure/azure-sdk-for-python/blob/master/doc/dev/packaging.md

[2020-06-05 22:02] stevenmfowler commented on #13659
--tag should support the use of a json input as follows
{
      "Agency": "OCIO",
      "Application": "Azure",
      "Description": "RG for testing policies",
      "FinancialPOC": "John Smith",
      "Name": "policy-testing-rg",
      "PMO": "Dan White",
      "Program": "Cloud Operations",
      "Purpose": "RG for testing policies",
      "Service Request": "None",
      "TechnicalPOC": "Steven

[2020-06-05 22:35] PowellTravis opened #13855 "[CloudShell] Error on every command run on Azure Cloud Shell: OSError: [Errno 30] Read-only file system"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When I go to run any command on the system it errors out and prevents me from using the cloud shell interface.

**Command Name**
Any command at all

**Errors:**

The command failed with an unexpected error. Here is the traceback:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument val

[2020-06-05 23:38] yonzhan commented on #13852
add to S172

[2020-06-05 23:42] yonzhan commented on #13853
add to S172

[2020-06-05 23:50] yonzhan commented on #13855
Cloud Shell

[2020-06-06 00:04] jackchau102 commented on #13630
Same problem here. I tried to install psycog2 in a python3 venv and it keeps throwing out this error.

[2020-06-06 00:15] qwordy commented on #11219
Hi Sirajudeen, I have some trouble testing this feature. Could you make this feature available in public Azure for testing? It is said it is only available in Brazil region?

[2020-06-06 00:24] sirajudeens commented on #11219
@Sandido , I will try to make the PR available to azure/azure-cli-pr so that you can generate the CLI for this feature.

@qwordy , the feature has been enabled in prod ARM but available only in canary regions for now.
I am going to enable it in South Central US and West Central US soon.

[2020-06-06 00:47] subhasishdc commented on #13852
@MyronFanQiu @tjprescott : Seeing this same issue too. Issue https://github.com/Azure/azure-cli/issues/4133 was created previously for this. It was closed without removing it from the `az network application-gateway frontend-ip update --help` section or the documentation since the service may change in future to permit this behavior.

Is there any update on the future roadmap of the service to sup

[2020-06-06 00:51] christiankuhtz commented on #8532
any thoughts on when this might materialize?

[2020-06-06 06:39] christiankuhtz opened #13856 "az mysql server configuration list with -otable output is not readable"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Is there a way to make this more compact and make it more readable? as-is, -otable is not useful as it's basically unreadable output.

AllowedValues

[2020-06-06 06:50] christiankuhtz opened #13857 "no option to control minimum tls version"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

there appears to be no way to set the minimum TLS version with az cli. it's not in configuration properties.  but it's exposed in portal

![image](https://user-images.githubusercontent.com/31082908/83938183-2fa53080-a787-11ea-8ff4-c932f823dfe3.png)

and it's visible in the resource properties itself when revie

[2020-06-06 06:57] alexhhward opened #13858 "Azure CLI Throws TypeError: __init__() takes 2 positional arguments but 3 were given"
I'm attempting to follow this [tutorial](https://github.com/microsoft/recommenders/blob/master/notebooks/05_operationalize/als_movie_o16n.ipynb) and am getting the following error.
![image](https://user-images.githubusercontent.com/66201469/83938211-caa20880-a78f-11ea-838f-7c17ae518c4e.png)

I've tried solutions to roll back my Azure Python SDK using Pip. I run ``pip install --upgrade azureml-sdk`

[2020-06-06 08:45] christiankuhtz opened #13859 "az network private-endpoint show doesn't find endpoint"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

`az network-private endpoint show --resource-group swamp --name privatemysql`

doesn't show an endpoint that actually does exist (resource shown below, obtained from list command).

[code]

**Command Name**
`az network private-endpoint show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior

[2020-06-06 08:46] yonzhan commented on #13859
add to S171

[2020-06-06 08:49] yonzhan commented on #13858
@fengzhou-msft please take a look

[2020-06-06 08:50] yonzhan commented on #13856
mysql

[2020-06-06 08:51] yonzhan commented on #13857
mysql

[2020-06-06 10:20] christiankuhtz opened #13860 "az resource delete doesn't work for privateDnsZones (nested resources)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Microsoft.Network/privateDnsZones can't be deleted due to nested resources. az cli doesn't seem to be able to deal with nested resources.

**Command Name**
`az resource delete`

**Errors:**
[code]
msrest.exceptions : Operation failed with status: 'Method Not Allowed'. Details: 405 Client Error: Method Not Allo

[2020-06-06 12:41] yungezz commented on #13860
hi @zhoxing-ms could you have a look?

[2020-06-06 14:52] yonzhan commented on #13860
add to S171

[2020-06-06 16:29] aaronba commented on #13507
I repro'ed this on a clean WSL Ubuntu 20.04 build after installing AZ CLI with `npm install azure-cli
`
For clarity:  To fix:

REMOVE UPDATED AZURE-KEYVAULT
[code]
INSTALL VERSION 1.1.0
[code]

[2020-06-07 00:19] #13751 closed

[2020-06-07 06:24] yeshu0710 opened #13861 "error installing cli in aks"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2020-06-07 08:37] PauloPaixao commented on #8114
Keeping old versions of secrets stored can even be a security issue.

[2020-06-07 13:41] yonzhan commented on #13861
aks

[2020-06-07 14:26] doughernand opened #13862 "Missing antlr4, az cli nic add --help fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm nic add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm nic add --help`

## Expected Behavior

## Environment Summary
[code]

[2020-06-07 18:18] mkosieradzki opened #13863 "az webapp vnet-integration add fails with api-version '2020-04-01' is invalid"
**Describe the bug**
`az webapp vnet-integration add` fails (at least in west europe) with message
[code]

UPDATE: This happens only if `--vnet` param is passed in form of resourceId not name.

**To Reproduce**
Run `az webapp vnet-integration add` for a web app in west europe.

**Expected behavior**
Should work :-).

**Environment summary**
apt-get/2.7.0/Ubuntu 18.04/Bash on Windows

**Additional

[2020-06-07 18:26] mkosieradzki commented on #13863
Version 2.6.0 fails with
[code]

[2020-06-07 18:30] jfrabetti opened #13864 "Example commands and better definitions"
Hello,

I am trying to [set a policy using Azure CLI](https://docs.microsoft.com/en-us/azure/governance/policy/assign-policy-azurecli):
az policy assignment create --name 'audit-vm-manageddisks' --display-name 'Audit VMs without managed disks Assignment' --scope 'ugh2020' --policy '06a78e20-9358-41c9-923c-fb736d382a4d'
I am getting the error:
The request did not have a subscription or a valid tena

[2020-06-07 19:01] subhasishdc commented on #13862
@doughernand: It looks like the package `antlr4` is missing for python. Could you check whether `antlr4-python3-runtime` is installed correctly using `pip list | grep antlr`

If not, can you try running `sudo pip3 install antlr4-python3-runtime` and retry the `az vm nic add` after that to see if it solves the issue.

If it is still happening even after doing the above steps, then it may be somethi

[2020-06-07 22:56] yonzhan commented on #13863
webapp

[2020-06-07 22:57] yonzhan commented on #13862
@qwordy please take a look

[2020-06-07 22:59] yonzhan commented on #13864
add to S172

[2020-06-08 00:20] doughernand commented on #13862
Some additional background - this is a recent install of Ubuntu 20.04 LTS. I don't see an antlr module, and pip is not currently installed.

[code]

I ran into this shortly after running azure cli setup commands. Here is my history:
[code]

[2020-06-08 01:33] yungezz commented on #13862
hi @qwordy @fengzhou-msft seems there's several instance on missing `antl4r` , could  you pls work together to have a look? thanks

[2020-06-08 01:35] zhoxing-ms commented on #12977
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-06-08 01:36] zhoxing-ms commented on #13380
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-06-08 01:36] #13380 closed

[2020-06-08 01:50] #13767 closed

[2020-06-08 01:52] yonzhan commented on #12977
@EwertonJordao any feedback for the example?

[2020-06-08 02:05] freemansoft opened #13866 "webapp: Quit using the pipe character '|' inside runtime types - makes CLI difficult"
**Describe the bug**
Can't find any way to run the --runtimes  on windows in bash shell.
Quit using the "|" character in values for --runtime  for the CLI.  It causes problems in all shells.
Use "-" or "_" or some non special character.

**To Reproduce**
Install Azure CLI on windows
Install any bash shell like Git Bash
Alias az=az.cmd
Try and run something like "az webapp create .... -runtime "JAV

[2020-06-08 02:09] MyronFanQiu commented on #13750
@jiasli I think it's not an issue for Network. Could you please take a look? Something wrong with examples.

[2020-06-08 02:11] MyronFanQiu commented on #13853
@geoarchitect Thanks for your suggestions. I would invite service team to take a look. When I worked for this command, I didn't find a way to list some ips within a subnet. We might need service team's help.

[2020-06-08 02:16] MyronFanQiu commented on #13859
@christiankuhtz Do you mean `show` command would exist with 3? Could you run it with `--debug` check whether the response is 404 or not?

[2020-06-08 02:19] Juliehzl commented on #13630
May I know which is the installed version for psycog2?

[2020-06-08 02:20] arrownj commented on #13073
Hi @systo , I will close this issue first as there are no more input. You can reopen it if you still encounter it, or you can just submit a new one.

[2020-06-08 02:20] #13073 closed

[2020-06-08 02:21] Juliehzl commented on #13630
The fix is to update `psycopg2-binary` yo 2.8.5.

[2020-06-08 02:21] #13630 closed

[2020-06-08 02:27] fengzhou-msft commented on #12979
Close due to inactivity. Feel free to reopen this issue if the latest Azure CLI still does not work for you.

[2020-06-08 02:27] #12979 closed

[2020-06-08 02:28] qwordy commented on #13862
Yes, it is.

[2020-06-08 02:38] arrownj commented on #12728
Hi @wonderplayer , @rloutlaw, do you mean the secret is to displayed in the output of `az ad app credential reset` ? If yes, there is actually the `password` property in the output, below is an example:

{
  "appId": "448488a7-becf-4d79-aa9e-8262f8******",
  "name": "448488a7-becf-4d79-aa9e-8262f8******",
  "password": "P!CC;jw?F]p{;${I5P4n[T`[ge******",
  "tenant": "54826b22-38d6-4fb2-bad9-b7b93a

[2020-06-08 02:50] yonzhan commented on #13866
webapp

[2020-06-08 03:10] jackchau102 commented on #13630
One important thing to notice is that you might also need to install openssl and add that to your library path.

[2020-06-08 03:27] qwordy commented on #13278
@letmaik

[2020-06-08 04:33] sharan779 opened #13869 "Error when running this command : az cosmosdb update --name CosmosDBAccountName --resource-group ResourceGroupName --disable-key-based-metadata-write-access true"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cosmosdb update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az cosmosdb update --name {} --resource-group {} --disable-key-based-

[2020-06-08 04:43] yungezz commented on #13869
duplicate with https://github.com/Azure/azure-cli/issues/13808

[2020-06-08 04:45] yungezz commented on #13559
Swagger merged https://github.com/Azure/azure-rest-api-specs/pull/9366. pick it up.

[2020-06-08 05:29] pvrk commented on #10080
Could not make this in the next semester planning but acknowledging the feedback. Added this to our backlog request. Closing this issue as a feature-request in backlog.

[2020-06-08 05:29] #10080 closed

[2020-06-08 05:44] pvrk commented on #11400
Closing the issue since we didn't get the relevant data to reproduce and test.

[2020-06-08 05:44] #11400 closed

[2020-06-08 05:59] pvrk commented on #12792
Added the ```resume``` functionality for VMs as well with Az CLI 2.6.0.
Thanks for the feedback. Closing the bug.

[2020-06-08 05:59] #12792 closed

[2020-06-08 06:00] pvrk commented on #13051
@hscofield : A gentle reminder. Please check and update.

[2020-06-08 06:07] wonderplayer commented on #12728
Hi @arrownj, I meant in the interface. Command output is fine.
I was creating secrets and then moving between blades, but what I really needed is to refresh the page to see my newly created secret.

[2020-06-08 06:31] letmaik commented on #13278
Sorry, I missed this somehow. I think you're right. Thanks for pointing me to the `--os-disk-caching` flag.

[2020-06-08 06:31] #13278 closed

[2020-06-08 07:40] bim-msft commented on #10901
Hi @subhasishdc thank you for your informative comment!

I think the user's concern is the difference between prompt messages with/without interactive mode:
![image](https://user-images.githubusercontent.com/3250203/84004352-fd215080-a99d-11ea-9591-70f94691a535.png)
I tried to figure out why this happens but nothing found until now. As this issue has low priority and "az interactive" is nearly out

[2020-06-08 07:51] huski1017 commented on #13502
@stevengum Any update about my feature request?

[2020-06-08 07:56] kummanish commented on #13857
We are working on enabling this CLI support in upcoming releases. Currently we only support portal workflow.

[2020-06-08 09:58] jeroenhabets opened #13876 "azure-cli 2.8.0 and 2.7.0 compatibility issues with azure-storage-blob since October 2019"
## Describe the bug
azure-storage-blob versions after _October 2019_ are not supported.
**Update: still there in azure-cli 2.8.0 (with Python 3.8.3)**
ERROR: azure-cli 2.7.0 has requirement azure-storage-blob<2.0.0,>=1.3.1, but you'll have azure-storage-blob 12.3.1 which is incompatible.

**Command Name**
`pip install -U -r requirements.txt`

**Errors:**
2.7.0:
ERROR: azure-cli 2.7.0 has requireme

[2020-06-08 10:26] freemansoft commented on #13866
The second example that fails actually has a backslash prior to the pipe.  You can only see it if you edit the post.  The backslash is eaten by the formatter.

[2020-06-08 10:27] yonzhan commented on #13876
@fengzhou-msft please take a look

[2020-06-08 12:14] astauben commented on #13753
Hi @zama202 we have recently update the CLI client and it seems that you are using the old version. Please install the new Kusto CLI extension as explained here: https://docs.microsoft.com/en-us/azure/data-explorer/create-cluster-database-cli  and let us know if the issue has not been resolved.

[2020-06-08 12:29] motim6026 opened #13878 "az role definition update failed"
Get this error when try to update custom role using az cli

az : The command failed with an unexpected error. Here is the traceback:
At line:1 char:1
+ az role definition update --role-definition $file.FullName;
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (The command fai... the traceback::String) [], RemoteException
    + FullyQualified

[2020-06-08 12:42] TechWatching commented on #13234
I have the same issue so I can confirm it's not solved. However I think I will go for the workaround in order to be able to continue using azure cli.

[2020-06-08 13:33] yonzhan commented on #13878
@arrownj please take a look

[2020-06-08 13:46] DavideDelVecchio opened #13880 "az feature register fails with exception"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az feature register`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- az feature register --namespace Microsoft.Storage \
    --name AllowA

[2020-06-08 13:48] yonzhan commented on #13880
add to S172

[2020-06-08 14:33] yungezz commented on #13880
hi @DavideDelVecchio did you meet the error at CloudShell? If yes, it's an known issue same as #11749. Pls workaround by run `az login`.

[2020-06-08 14:54] rickardp opened #13881 "The credentials in ServicePrincipalProfile were invalid.... token contains an invalid number of segments"
**Describe the bug**

When a service principal credential happens to contain a dash character (which it can and happens randomly) the "az aks create" command fails when it is supplied.

Error code:

    Operation failed with status: 'Bad Request'. Details: The credentials in ServicePrincipalProfile were invalid. Please see https://aka.ms/aks-sp-help for more details. (Details: token contains an in

[2020-06-08 14:56] skmkzyk opened #13882 "Quoting '&' in PowerShell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I'm sorry, I think this is a FAQ...
I hit on Azure CLI on Windows (PowerShell, Windows Terminal), but can't figure out how to pass multiple params to the REST URL.
1st parameter (peer=13.76.248.75) is recognized but 2nd (api-version=2020-04-01) is not.
Tried quoting by 'URL' (single quote), "URL" (double quote

[2020-06-08 16:25] cox-antohi commented on #11584
I'm having the exact same issue. Is there any fix?

[2020-06-08 16:28] RyanHill-MSFT opened #13883 "az webapp up failed to create python app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I've created a python app using visual studio. The IDE doesn't give me the option to deploy to a Linux hosting plan, therefore I tried to use to az webapp up for quick deployment.

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values ha

[2020-06-08 17:03] yugangw-msft commented on #13847
thanks, and let us fix it

[2020-06-08 17:05] ShinraCorpMixer opened #13884 "AZ Group List, giving out error when using it in Windows Terminal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group list`

## Expected Behavior

A list of resource groups should be

[2020-06-08 17:33] mohitkumarsharmaflux7 opened #13885 "az interactive command is not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-06-08 18:06] ausafonly opened #13886 "Error running az group list"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group list`

## Expected Behavior

## Environment Summary
[code]
## Add

[2020-06-08 18:31] RSchoedel opened #13887 "get-access-token results in 400 client error, Azure Postgresql"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Running get-access-token to attach AD security to Azure Postgresql , but it's resulting in this error

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

-

[2020-06-08 18:44] panchagnula opened #13888 "webapp: Add support for Static WebApps"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-06-08 19:21] grizzlytheodore commented on #11219
@sirajudeens hello, I will be picking this up from @Sandido
The CLI team will be the ones that will be doing CLI and test development.

Going off the email thread conversation, @qwordy it is indeed omly available in the Brazil region. And this feature will not be in public azure since this is a private-preview not GA. @sirajudeens just emailed with subscriptions in Brazil you can use.

[2020-06-08 20:01] Plus3IT-Azure opened #13890 "Can't query and save az cli output as a variable except when using a "show" command"
**Describe the bug**
 Running command `$appreg = (az ad app create --displayname "xxxxxx").appId` does not make the appId a variable when using Azure CLI.

**To Reproduce**
1. Create a App Registration using AZ CLI and attempt to specify the appId as the variable as seen above.

**Expected behavior**
When I run $appreg the output should be the appId of the App Registration that was created.

**Env

[2020-06-08 21:15] subhasishdc opened #13891 "[network] az network application-gateway frontend-ip update does not work for public ip addresses, please remove from help and doc"
**Describe the bug**
As per az cli help and azure docs, the following command can be used to update the public frontend ip address to a new address for the application gateway:

`az network application-gateway frontend-ip update -g MyResourceGroup --gateway-name MyAppGateway -n MyFrontendIp --public-ip-address MyNewPublicIpAddress`

However, on trying to use this for one of our use cases during te

[2020-06-08 21:19] subhasishdc commented on #13891
@MyronFanQiu : Here is the issue with output from the `az cli` command to confirm the error which is described. Please review this from your end and confirm if this parameter can be deprecated.

If yes, I can submit a PR for removing it from the `--help` section and the docs.

[2020-06-08 21:19] dustymabe opened #13892 "rpm missing requirement on cffi package"
**Describe the bug**

**To Reproduce**

Install `azure-cli-2.7.0-1.el7.x86_64.rpm` and the `jq` rpm in a fedora 32 container. Try to execute the following steps to create a storage container:

[code]

It fails with:

[code]

This happens because some modules are dynamically loaded and if their deps aren't met
they silently fail. If I change [these lines](https://github.com/Azure/azure-cli/blob/9d7

[2020-06-08 21:58] feiyushi opened #13893 "get-access-token failed"
**Describe the bug**
`az version` is 2.5.1
It failed when getting access token:
`az account get-access-token --q accessToken -o tsv`
If it fails by design, is it possible to fail elegantly?

(**'Connection aborted.', OSError("(104, 'ECONNRESET')"**,))
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/urllib3/connectionpool.py", line 603, in urlopen
    chunked=chunked)

[2020-06-08 22:54] yonzhan commented on #13881
aks

[2020-06-08 22:57] yonzhan commented on #13882
add to S172

[2020-06-08 23:23] ambhatna commented on #13856
@christiankuhtz, thanks for filing this issue. We were able to successfully reproduce the issue. Following up with portal and CLI teams on this.

[2020-06-08 23:38] emmajdong opened #13894 "Azure Disk Encryption Migration from 2p to 1p"
**Resource Provider**

Compute Resource Provider (CRP)

**Description of Feature or Work Requested**

Migration from 2p to 1p conceptual documentation (contact emdong if having access issues)
[https://microsoft.sharepoint.com/teams/AzureSecurityCompliance/Security/_layouts/15/Doc.aspx?sourcedoc={c820c6d1-ba1e-45d8-bd74-5e103f5ac176}&action=edit&wd=target%28Dev.one%7Cd00dbe50-2249-48a0-9e60-77d8d23

[2020-06-08 23:59] yonzhan commented on #11584
containter service team needs to look into this.

[2020-06-09 00:21] ambhatna commented on #13856
@christiankuhtz , i looked at the table output format flag and there are few issues here:

1. There is a limitation with -otable where some keys are not printed in the table view by default for example "id" and we do have id as a column in output of "az mysql server configuration list". Please look at (https://docs.microsoft.com/en-us/cli/azure/format-output-azure-cli?view=azure-cli-latest#table-o

[2020-06-09 00:21] sjwaight commented on #13781
Dropped you an email with details (in case anyone else is following this thread).

[2020-06-09 01:35] yungezz commented on #13894
feature request

[2020-06-09 01:36] yungezz commented on #13893
hi @arrownj could you pls have a look? thanks.

[2020-06-09 01:38] yungezz commented on #13892
hi @houk-ms could you pls have a look? thanks

[2020-06-09 01:39] yungezz commented on #13891
@MyronFanQiu is on it

[2020-06-09 01:41] yungezz commented on #13890
hi @Plus3IT-Azure could you pls try --query output to get the appId?
[code]

[2020-06-09 01:44] yungezz commented on #13887
hi @RSchoedel did you meet the error in CloudShell? If yes, it's a known issue similiar to #11749. To workaround it, pls run `az login` explicitly.  thanks

[2020-06-09 01:45] ishaniGupta27 commented on #13638
There was a small update on above swagger Pr...

https://github.com/Azure/azure-rest-api-specs/pull/9609

In summary, we need to include fqdns to network rule in policy,

[2020-06-09 01:45] yungezz commented on #13883
@arrownj for awareness

[2020-06-09 01:46] yungezz commented on #13884
hi @ShinraCorpMixer  This is a known issue similiar to #11749. Could you pls workaround with `az login` ?

[2020-06-09 01:47] yungezz commented on #13886
hi @ausafonly where did you see this error? same error as in https://github.com/Azure/azure-cli/issues/13884.

[2020-06-09 02:03] yonzhan commented on #13885
interactive

[2020-06-09 02:05] fengzhou-msft commented on #10506
`pkg_resource` is known to be slow when importing, as reported by https://github.com/Azure/azure-cli/issues/13293. We are working on removing it.

The behavior to read from D drive is weird. Do you have some python setup in your D drive?

[2020-06-09 02:11] yonzhan commented on #13891
add to S171

[2020-06-09 02:13] yonzhan commented on #13888
webapp

[2020-06-09 02:17] fengzhou-msft commented on #8528
Added installer information in telemetry and set up a [BI report](https://msit.powerbi.com/groups/8de24d49-e97c-4672-9bfc-45fee0ec58f7/reports/8303e614-be5c-4845-b26e-0b7449a44e55/ReportSectionac0d9a85162513c98d50) based on it.

[2020-06-09 02:17] #8528 closed

[2020-06-09 02:22] #12654 closed

[2020-06-09 02:22] fengzhou-msft commented on #12654
PR submitted: https://github.com/Azure/azure-cli-extensions/pull/1603

[2020-06-09 02:26] fengzhou-msft commented on #12846
Close as Azure CLI no longer supports Python 3.5.

[2020-06-09 02:26] #12846 closed

[2020-06-09 02:29] yungezz opened #13895 "Keyvault, RBAC role assignements create follows Swagger objects."
**Describe the bug**

Service previously has a bug to compliance with Swagger file, service will do the fix. Need to update CLI code to compliance with Swagger also.
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/keyvault/data-plane/Microsoft.KeyVault/preview/7.2/rbac.json#L351

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-06-09 02:53] yungezz commented on #12623
Hi @AgSync-Aaron does above solutions work for you?

[2020-06-09 02:56] yungezz commented on #12746
hi @compusaurusrex thanks for the detail issue with mock up doc. The proposal is the `auto-complete` concept in Azure CLI today. You can use in on linux machines.

[2020-06-09 02:58] MyronFanQiu commented on #13721
@yossi-y Hi. I have sent out an email to you talking about some issues in the swagger spec.

[2020-06-09 02:59] MyronFanQiu commented on #13891
@subhasishdc Hi. You're correct, I think we can deprecate this argument and change help message as well.

[2020-06-09 03:11] yonzhan commented on #13895
Keyvault

[2020-06-09 03:22] arrownj commented on #13893
Hi @feiyushi , this is a very low level exception which is raised by `urllib3`. Usually it is because that there are some physical problems which cause the failure of socket connection setup.

It's a good idea to catch the `ConnetionError` and show a common message to end users. We will consider to add this in our future release. Thanks for reporting.

[2020-06-09 04:33] lexuanquynh commented on #9179
? can I fix it

[2020-06-09 04:34] lexuanquynh opened #13896 "deploy error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az deployment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az deployment create --template-file {} --location {} --parameters

[2020-06-09 05:23] yungezz commented on #13896
hi @zhoxing-ms could you pls have a look?

[2020-06-09 05:26] yungezz opened #13898 "az interactive F1 switch doesn't work"
**Describe the bug**

`az interactive` with `F1`, configure command descriptions off, then reconfigure it on, parameters autocomplete missed when typing commands.

**To Reproduce**

- az interactive
- F1 , n to command descirptions, y to parameter descriptions.
-  webapp create
- F1 again, y to command descriptions, y to paramter descriptions. Suppose parameter autocomplete, but no.
**Expected beh

[2020-06-09 05:27] #13898 closed

[2020-06-09 06:09] Gitdevnttuser opened #13901 "az monitor diagnostic-setting create --export-to-resource-specific command doesn't work in Azure CLI 2.3.0"
trying to specify the location of the  --export-to-resource-specific command with $true and I get an
az: error: unrecognized arguments: --export-to-resource-specific True

Tried "true", same result.

upgrade to 2.7.0 fix it.

Please update doco to include  the "logAnalyticsDestinationType" property and the allowed values.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-06-09 06:29] #13861 closed

[2020-06-09 06:34] arrownj commented on #12728
I'm not sure I understand your problem exactly. Are all these done with CLI commands? And what is 'refresh the page` ? Could you please help give a reproduce steps ? Thanks

[2020-06-09 06:36] arrownj commented on #13144
Close this issue first. Cloud shell issue will be traced in #11749

[2020-06-09 06:36] #13144 closed

[2020-06-09 06:40] ItalyPaleAle opened #13902 "keyvault commands to sign and verify signatures"
**Is your feature request related to a problem? Please describe.**
I have a key (asymmetric, RSA) stored in Azure Key Vault. The key is used by an application to sign messages and verify digital signatures.

**Describe the solution you'd like**
I would like a command in the Azure CLI that requests AKV to sign a message, and another one that asks AKV to verify the message. This should happen within

[2020-06-09 06:42] arrownj commented on #13693
Hi @sbenalohm , as the CLI version you used is a very old one. Do you mind to upgrade it and try again ? Thanks

[2020-06-09 06:53] yungezz commented on #13902
feature request

[2020-06-09 06:57] moderakh commented on #13814
any update on this issue? @yonzhan @zhinlu

[2020-06-09 08:07] jiasli commented on #13848
Seems to be similar to https://github.com/Azure/azure-cli/issues/138550=.

[2020-06-09 08:08] jiasli commented on #13458
Let's centralize similar issues to https://github.com/Azure/azure-cli/issues/13855.

[2020-06-09 08:08] jiasli commented on #13387
Let's centralize similar issues to https://github.com/Azure/azure-cli/issues/13855.

[2020-06-09 08:08] jiasli commented on #13334
Let's centralize similar issues to https://github.com/Azure/azure-cli/issues/13855.

[2020-06-09 08:08] jiasli commented on #13210
Let's centralize similar issues to https://github.com/Azure/azure-cli/issues/13855.

[2020-06-09 08:14] jiasli commented on #13855
This issue has been mentioned [multiple times](https://github.com/Azure/azure-cli/issues?q=is%3Aissue+is%3Aopen+Read-only+file+system).

Looks like you somehow lost permission to `/home/Redacted Username/.azure/commands/2020-06-05.22-24-38.unknown_command.211.log`.

#13848 is worse - even permission to `/home/username/.azure/az.sess` is lost:

Could you check the permission of this folder?

[code]

[2020-06-09 08:39] yossi-y commented on #13721
Replied the mail.

[2020-06-09 09:36] #13629 closed

[2020-06-09 09:49] clement128 commented on #13191
@gtonello  good solution, thanks !!

[2020-06-09 09:59] NullMDR opened #13904 "Support breaking change detection for commandline interface"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-06-09 10:01] NullMDR commented on #13904
Maybe we can extract the command line interface from code and compare them between different version of cli code (or cli-extension code) so that we could detect breaking change.

[2020-06-09 10:26] bennypowers commented on #12606
Is it possible to grant read-only access?
I granted both `App Configuration Data Reader` and `Reader` roles to a user and they got this message, whereas `Contributor` worked, but I only want that user to have reads.

[2020-06-09 10:54] wonderplayer commented on #12728
So, you can create a secret in Azure portal at http://portal.azure.com. There in the interface I see that no secrets are created for my app registration when I execute command. But, when I refresh the browser page, I see that it is created.

[2020-06-09 10:58] yonzhan commented on #13896
add to S172

[2020-06-09 11:01] yonzhan commented on #13901
add to S172

[2020-06-09 11:18] yonzhan commented on #13904
breaking change detection

[2020-06-09 12:07] Plus3IT-Azure commented on #13890
Thank you for responding; that syntax worked without the pipe; when the pip is added it threw errors stating that `Expressions are only allowed as the first element of a pipeline`

In conclusion the syntax that worked is `az ad app create --displayname "xxxx" --query "appId"`

[2020-06-09 13:00] motim6026 commented on #13878
Hi,
any update?

[2020-06-09 13:38] devbeard commented on #9887
We create new app service slots on the fly, and this issue tripped me up today. Microsoft offers the functionality in the Powershell Az modules (https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=dotnet#add-a-user-assigned-identity), so I assume there is an API for this.

As it is now, our developers and deployment pipelines using something other than Powershell cann

[2020-06-09 13:56] ianchanning opened #13905 "Failure with az login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --identity -u {}`

## Expected Behavior

## Environment Summary
[code]

[2020-06-09 13:58] da1rren commented on #9887
@devbeard You can assign an identity by doing a resource patch ala:

[code]
It isn't pretty, but once you break it down its pretty simple.

[2020-06-09 14:24] yungezz commented on #13905
hi @arrownj could you pls have a look?

[2020-06-09 14:29] werton13 commented on #6142
I also get the same error, when trying to upload a blob to the storage account:
[code]

[2020-06-09 14:29] yungezz commented on #13904
hi @NullMDR this is part of breaking change detection tool right?

From Swagger change impact detection perspective, interface change is one aspect, another aspect is service behavior change in existing API version/new API version. This might cause further discussion on Swagger merging rule.

[2020-06-09 14:48] PowellTravis commented on #13855
I did the commands these were my outputs:
[code]
Command with test.txt
[code]

I had also tried to install az aks install-cli and I got this out
[code]

[2020-06-09 15:39] kbrajwani opened #13906 "Webapp:OpenSSL.SSL.SysCallError: (10054, 'WSAECONNRESET')"
Hey when i am uploading my Flask + Pytorch by following command
az webapp up --sku F1 -n b appname

I am getting following errors

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive i

[2020-06-09 16:06] ShinraCorpMixer commented on #13884
Hello @yungezz the az login command and then doing az group list worked! Thank you for your help! :)

[2020-06-09 16:31] tsgenge commented on #13204
The error seems to appear even if you have provided Read access - as long as it can address your keyvault it should have worked. One thing to note if only the most recent Azure CLI version supports key vaults from other resource groups being used - though specifying the full resource ID of your keyvault would work;

[2020-06-09 16:40] tsgenge opened #13907 "[webapp]:Import App Service Certificates into a Web App using the Azure CLI"
**Is your feature request related to a problem? Please describe.**
We're using App Service Certificates rather than PFX files imported into Certificates in the Key vault. The problem is the key vault "certificate" created during the enrollment process goes into the Secrets category in the Key Vault. Consequently, the **az webapp config ssl import** command doesn't find the certificate in the key v

[2020-06-09 16:53] ausafonly commented on #13886
When i am running it om windows terminal using azure cloud shell

On Tue, 9 Jun, 2020, 7:18 AM Yunge Zhu, <notifications@github.com> wrote:

[2020-06-09 17:28] ssripadham commented on #13811
When does S172 release?

[2020-06-09 18:24] swgriffith commented on #13404
I just recreated in the azure cloud shell:
Azure-cli    Azure-cli-command-modules-nspkg    Azure-cli-coreAzure-cli-nspkg    Azure-cli-telemetry
-----------  ---------------------------------  ---------------------------------  ---------------------
2.7.0        2.0.3                              2.7.03.0.4              1.0.4

steve@Azure:~$ az aks create -n $CLUSTERNAME -g $RGNAME \

The behavior

[2020-06-09 19:31] edkrizo opened #13908 "SCALE IN/OUT VMSS WITH CUSTOM METRIC IS IMPOSSIBLE USING AZURE CLI"
**Is your feature request related to a problem? Please describe.**

When a scale in/out operation is issued to Azure virtual machine Scale with custom metric, the operation fails. An example command issued is  az monitor autoscale update --count 2 --min-count 2  . This command fails with error message " Exception of type 'Microsoft.WindowsAzure.Management.Monitoring.MonitoringServiceException' was

[2020-06-09 19:47] jongio commented on #9887
@devbeard this is being worked on, workaround here: https://github.com/Azure/azure-cli/issues/9887#issuecomment-580840084

[2020-06-09 19:57] nordquist opened #13909 "webapp: Cannot deploy by any means to my WebApp, not using FTP, not using az CLI, not in VS"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up -g {} -n {} --html`

## Expected Behavior

## Environment Summ

[2020-06-09 20:06] shurd commented on #13869
@yungezz is correct. Please ensure the resource group/account exist in the subscription. We are working on a fix to clarify the error in the CLI output.

[2020-06-09 20:31] provenstyle opened #13910 "SSL: CERTIFICATE_VERIFY_FAILED"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior
Expected `az aks install-cl

[2020-06-09 21:06] yonzhan commented on #13906
webapp

[2020-06-09 21:07] #13884 closed

[2020-06-09 21:09] yonzhan commented on #13907
webapp

[2020-06-09 21:10] yonzhan commented on #13886
@ausafonly Could you pls workaround with az login ?

[2020-06-09 21:11] yonzhan commented on #13811
https://github.com/Azure/azure-cli/milestone/90    Build to Cloud Shell: 07/10/2020 Official Release: 07/14/2020

[2020-06-09 21:45] hamsome opened #13911 "Instance creation within instance pool"
Is this part of the documentation still work in progress? It seems like there is no proper azure cli command to create an instance within an instance pool
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 44c2a098-77c8-8491-afec-49fb52c0f196
* Version Independent ID: dcb2673c-77c5-2cdd-cf19-f164717fc

[2020-06-09 22:36] nohajc commented on #13229
Any update?

[2020-06-09 22:43] yonzhan commented on #13908
@qwordy please take a look

[2020-06-09 22:45] yonzhan commented on #13909
webapp

[2020-06-09 22:46] yonzhan commented on #13910
aks

[2020-06-09 22:48] yonzhan commented on #13911
sql

[2020-06-09 22:59] shenmuxiaosen commented on #12606
Hi bennypowers, currently ```appconfig``` does not support data plane AAD, which means it will only work with connection string to authenticate with server. However, CLI is able to use management plan AAD to fetch connection string. So that's the reason why ARM ```Contributor``` role works in this case.

[2020-06-09 23:19] moderakh commented on #13814
resolved.

[2020-06-09 23:19] #13814 closed

[2020-06-09 23:34] rohands commented on #13911
Hey @hamsome, were you able to try az sql instance-pool create with the parameters? Did something fail?

[2020-06-10 00:16] nemakam commented on #12369
@v-Ajnava , could you please take a look at this one?

[2020-06-10 01:24] jiasli commented on #13882
We have a doc about quoting issues on the home page https://github.com/Azure/azure-cli#common-scenarios-and-use-azure-cli-effectively. You may find the link there pointing to [Quoting issues](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#quoting-issues), which again links to [Quoting issues with PowerShell](https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-wit

[2020-06-10 01:45] abelbarrera15 opened #13914 "AZ VM Run-Command not setting env vars"
If I use:
`
 az vm run-command invoke -g myRgGroup -n myVmName -command-id RunShellScript --scripts "export HADOOP_HOME=/usr/local/hadoop" `

It does not set the HADOOP_HOME var. I've confirmed by running

`
 az vm run-command invoke -g myRgGroup -n myVmName -command-id RunShellScript --scripts "export"  `

after and it still does not return the HADOOP_HOME var. Can RunShellScript not set env vars

[2020-06-10 01:48] yonzhan commented on #13914
@qwordy please take a look

[2020-06-10 02:05] hamsome commented on #13911
hey @rohands, I mean, after creating the instance pool, what is the command to create a managed instance inside the pool? For example, the powershell Az command equivalent would look like this:
$instanceOne = $instancePool | New-AzSqlInstance -Name "mi-pool-name" -VCore 2 -StorageSizeInGB 256

[2020-06-10 03:26] ianchanning commented on #13905
I believe this is down to a mix up between system and user assigned managed identities. I believe when I was first assigning identities via `az vm identity assign` I accidentally created a system identity rather than a user identity. I have since turned off the system assigned identity and re-assigned the user identity and the `az login --identity` works correctly now

[2020-06-10 03:26] #13905 closed

[2020-06-10 03:40] cepcruzz opened #13915 "az aks install-cli errpr"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Can't download and installed kubectl

**Command Name**
`az aks install`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli

## Expected Beh

[2020-06-10 04:31] NullMDR commented on #13904
Hi this is just an idea form my side. On discussion of cli-extension generation I realize that breaking change may happen to cli and we could detect it. And yes we should have some discussion on it for different aspect. I create this issue here just for raising this idea and discussion :)

[2020-06-10 05:45] haroldrandom commented on #13904
@NullMDR Thanks for rasing this.

I think we could narrow down which situation could happen breaking change, and I think this could feedback to CodeGen.

[2020-06-10 05:45] jsntcy commented on #9662
@haroldrandom, could you please help take a look?

[2020-06-10 06:01] skmkzyk commented on #13882
Thanks, it helps me a lot ;)

[2020-06-10 06:01] #13882 closed

[2020-06-10 06:02] arrownj commented on #13635
Hi @lmazuel , as CLI does not support python 2 anymore. So we think we can remove the __init__.py in both dev and whl environment. Is that right ?

[2020-06-10 06:03] yonzhan commented on #13915
aks

[2020-06-10 06:07] jiasli commented on #13882
Thank you too. I have also improved the doc and make it more visible.

[2020-06-10 06:39] ramankumarlive opened #13917 "CLI Support for private links for exporting/importing managed disks"
**Resource Provider**
Microsoft.Compute

**Description of Feature or Work Requested**

Customers can export from or import to Managed Disks without attaching them to a VM. If a user has sufficient permissions, he/she can generate a Shared Access Signature (SAS) URI of the underlying VHD of Managed Disks and then use the SAS URI to download/upload VHD. A SAS URI consists of the FQDN of the underlyi

[2020-06-10 07:01] bim-msft commented on #13648
Closing due to longtime inactivity. If anything needs us to help with, feel free to reopen it, thanks.

[2020-06-10 07:01] #13648 closed

[2020-06-10 07:04] #13685 closed

[2020-06-10 07:06] bim-msft commented on #13231
Closing due to longtime inactivity. Feel free to reopen this and ping me again when you have new information. @TitaniumDave

[2020-06-10 07:06] #13231 closed

[2020-06-10 07:11] bim-msft commented on #13101
Waiting for apt repositories to be updated. Move this issue into the backlog.

[2020-06-10 07:13] bim-msft commented on #9128
Support single string/based64-encoded bytes encryption and decryption in #13916
Encryption and decryption for local files are still being developed.

[2020-06-10 07:38] #12976 closed

[2020-06-10 07:38] #12196 closed

[2020-06-10 07:51] zhoxing-ms commented on #10524
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-06-10 07:51] #10524 closed

[2020-06-10 07:58] qwordy commented on #13559
Hi Raman, can this field be changed when a VM/VMSS instance is already created?

[2020-06-10 08:27] rakeshakkera opened #13918 "Support 'Delete' eviction policy for Azure Spot Standalone VMs"
**Is your feature request related to a problem? Please describe.**
Currently Azure Spot standalone VMs only support eviction policy of 'Deallocate'. We have made changes in the CRP service for standalone Spot VMs to support 'Delete' eviction policy as well. Changes need to be made in Azure CLI to support this.

**Describe the solution you'd like**
Currently Azure CLI blocks choosing 'Delete' evict

[2020-06-10 08:45] qwordy commented on #13918
Add to S172.

[2020-06-10 08:49] qwordy commented on #13918
As we talked in Teams, it is already supported in Azure CLI.
[code]
Could you test and confirm it?

[2020-06-10 08:50] peturh commented on #13352
That stopped the ioctl error, however, now the logs are cut of half way. Any idea?

[2020-06-10 09:50] yonzhan commented on #13917
Private Link

[2020-06-10 09:59] cappe89 opened #13921 "APIM error checking name"
I created and removed an APIM. When the delete process is completed I run the command with the same name of the removed resurce

**Command Name**
`az apim check-name`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim check-name --name {}`

[2020-06-10 10:10] tzachie opened #13922 "cli help text outdate: unsupported kubernetes version on the az aks create"
Hello Team,

I have noticed our documentations on page : https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-create is not updated.

Please update the below example with a newer version of AKS for successful customer experience

The current state:  will generate a 'Bad Request "
"az aks create -g MyResourceGroup -n MyManagedCluster --kubernetes-version 1.12.6"

Full error d

[2020-06-10 10:14] yonzhan commented on #13921
apim

[2020-06-10 10:15] yonzhan commented on #13922
aks

[2020-06-10 11:19] Anbukugan commented on #13832
Yeah, it worked after updating the CLI. Thank you

[2020-06-10 11:19] #13832 closed

[2020-06-10 12:02] VKorobejnik opened #13924 "az account set error in Cloudshell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Getting this error when trying to run any Azure command in the cloud powershell

**Command Name**
`az account set`

**Errors:**

[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

Running any command, the last one

[2020-06-10 13:05] dijonsmit opened #13925 "AZ Create Issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group create`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group create --name {} --location {}`

## Expected Behavior

## Environment

[2020-06-10 13:06] dijonsmit opened #13926 "az group deployment create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group deployment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group deployment create --resource-group {} --template-uri

[2020-06-10 14:12] #13925 closed, assigned to zhoxing-ms

[2020-06-10 16:10] ezwiefel opened #13927 "az acr login - NotImplementedError: APIVersion 2019-12-01-preview is not available"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Logging into ACR isn't working due to API Version Error

**Command Name**
`az acr login`

**Errors:**
[code]

## To Reproduce:
- `az acr login -n {}`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-06-10 16:56] sven73a opened #13928 "Error when executing 'az webapp config access-restriction set'"
When I run the command `az webapp config access-restriction set --resource-group <resource group> --name <name appservice> --use-same-restrictions-for-scm-site false`

It will execute the command with the expected result, but it also gives an error/warning

[code]

I want to run it in a pipeline, but due the error/warning the pipelines fails.
I see it on Azure CLI versions 2.2.x, 2.7.0 & 2.5.1

Ho

[2020-06-10 20:34] iyerusad opened #13929 "Webapp:az webapp config ssl bind: Cannot find certificate in other Resource groups"
**Describe the bug**
`az webapp config ssl bind` needs `--certificate-ID` parameter.

`az webapp config ssl bind` cannot find certificates located OUTSIDE of App Service Plan resource group.

Put differently, `az webapp config ssl bind` will only search App Service Plan resource group for certificate.

This is a problem when App Service Plan is in "SharedPlan" resource group, a web app is in "MyAp

[2020-06-10 23:17] wasker opened #13930 "Make it easier to add and update extensions"
**Is your feature request related to a problem? Please describe.**

Our team has a number of automation scripts, which as part of the bootstrapping install necessary az CLI extensions. Unfortunately, over time extensions go stale and it's problematic to get them add or update, depending on the current state of extension.

Example: I have extension front-door installed and blueprint not installed.

[2020-06-10 23:35] yonzhan commented on #13927
acr

[2020-06-10 23:37] yonzhan commented on #13928
webapp

[2020-06-10 23:41] yonzhan commented on #13929
webapp

[2020-06-10 23:44] yonzhan commented on #13930
add to S172

[2020-06-11 01:53] yungezz opened #13931 "VMSS: confirmation on specify NOT latest as image version of specific Markplace image"
**VMSS**

Pinning VMSS to a specific Marketplace image version may cause service outage in future. We have seen several support cases and sev2s because of this. Customers should pick "latest" as the image version whenever possible. This allows VMSS to auto upgrade when a newer version is available.

IaaS Portal automatically puts "latest" as the image version for any VMSS deployment from Marketpla

[2020-06-11 02:23] qwordy commented on #13931
Reasonable ask

[2020-06-11 02:33] qwordy commented on #13931
I have to warn that this request is a breaking change.
Azure CLI is not an interactive client. Most users use Azure CLI for automation. If we ask “Do you still want to proceed?” and wait for a response from user, it is a breaking change.
We must be careful.

[2020-06-11 02:45] zhoxing-ms commented on #10868
@JasonRShaver May I ask whether the Aladdin extension of `ai-did-you-mean-this` is designed to support this requirement? What do you need from the CLI side?

[2020-06-11 04:46] jiasli opened #13932 "[Telemetry] Client telemetry for command performance"
We need to be able to send **command running time** as client telemetry, so that we can analyze the performance of each command using a data-driven model.

[code]

[2020-06-11 04:49] jiasli opened #13933 "[CI] CI should have command performance check"
CI or `azdev` should have **command performance check** to make sure the running time of commands are metered and no performance-wise regression should happen with each PR.

[2020-06-11 05:33] yoshuhire opened #13934 "az ad app permission admin-consent --id $serverApplicationId Error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad app permission admin-consent`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad app permission admin-consent --id {}`

## Expec

[2020-06-11 06:18] Juliehzl commented on #13012
@alburgin Thanks for your feedback. It is because only account and connection-string can  be used to generate sas token. I will fix it ASAP.

[2020-06-11 06:20] Juliehzl commented on #13632
dupe of #13012

[2020-06-11 06:21] Juliehzl commented on #13657
dupe of #13012 , #13632

[2020-06-11 06:42] amanjain opened #13935 "--content-types-to-compress format for list[str]"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cdn endpoint create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az cdn endpoint create -g {} --tags {} --name {} --origin {} --pr

[2020-06-11 06:58] #13628 closed

[2020-06-11 07:00] MyronFanQiu commented on #12965
close this issue since cannot reproduce.

[2020-06-11 07:00] #12965 closed

[2020-06-11 07:00] MyronFanQiu commented on #12925
close this issue since cannot reproduce. Feel free to open new issue if you still meet such issue.

[2020-06-11 07:00] #12925 closed

[2020-06-11 07:31] qwordy commented on #13908
I create autoscale rules using “az monitor autoscale rule create” and then run “az monitor autoscale update”. It succeeds. Could you share the commands that you use to create custom metrics and rules? And could you append “--debug” to the failed command and paste the output? I need these logs to locate the problem.
I check the code of Azure CLI. "autoscale update” is written in 2018 and has not be

[2020-06-11 07:31] #9212 closed

[2020-06-11 09:30] #13638 closed

[2020-06-11 09:40] chhavikishore commented on #13587
@lchave Hi, you might can check the following issue if it helps you : https://github.com/Azure/azure-cli/issues/13518

[2020-06-11 11:48] yungezz commented on #13932
this could be tracked at client telemetry

[2020-06-11 12:18] dirtygooback commented on #9116
This still appears broken for me

PSVersion                      5.1.17763.1007
PSEdition                      Desktop
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0...}
BuildVersion                   10.0.17763.1007
CLRVersion                     4.0.30319.42000
WSManStackVersion              3.0
PSRemotingProtocolVersion      2.3
SerializationVersion           1.1.0.1

[2020-06-11 12:59] yungezz commented on #13935
routing to appropriate team

[2020-06-11 13:00] yungezz commented on #13934
hi @yoshuhire Did you see the error at Cloudshell?

[2020-06-11 13:02] yungezz commented on #13933
with recording test it will be pure client perf.

[2020-06-11 13:10] yoshuhire commented on #13934
@yungezz

Yup. This error showed up on the cloudshell.
Once I tried the command on the local pc, it succeeded without any issue.

The only difference is the python version.
Azure CLI installed on my local pc has python 3.6.6.

[2020-06-11 13:14] pmatthews05 commented on #10403
Want this feature too to automate using pipelines.

[2020-06-11 13:24] JeffinBao commented on #13056
I figured it out, I think it was some environment issue. Thank you!

[2020-06-11 13:24] #13056 closed

[2020-06-11 14:09] mhsh64 commented on #12628
I have same error after this globally introduced"

`az aks enable-addons  -n xxx  -g xxx  -a ingress-appgw --appgw-id $appgwId

The behavior of this command has been altered by the following extension: aks-preview

The command failed with an unexpected error. Here is the traceback:

argument of type 'NoneType' is not iterable

Traceback (most recent call last):

  File "/usr/local/Cellar/azure-cli

[2020-06-11 14:28] adamrushuk commented on #1528
Please add `--no-wait` support for `az image delete`?

[2020-06-11 14:48] xyh1 opened #13937 "support blob index tags"
**Resource Provider**
Azure Storage

**Description of Feature or Work Requested**
https://docs.microsoft.com/en-us/azure/storage/blobs/storage-manage-find-blobs?tabs=azure-portal

**Minimum API Version Required**
use 2019-12-12

**Swagger Link**
There are 2 components Data plane and Control plane that need support.
1. Data Plane - see email
- https://docs.microsoft.com/en-us/rest/api/storageservic

[2020-06-11 15:59] panchagnula commented on #11884
@calvinsID this is the GitHub issue for checking if invalid site name is given to az webapp up.
For this please check this API https://docs.microsoft.com/en-us/rest/api/appservice/checknameavailability/checknameavailability#details
we already use this API, however we never look into the details & show a detailed error message, so check if we can make some changes here to fix this.

[2020-06-11 16:19] akshaysngupta commented on #12628
These seem to be coming from an older release.
Can you please update the extension:
`az extension update -n aks-preview`

[2020-06-11 16:26] panchagnula commented on #11937
we are adding a new command az webapp log deployment to check the logs if you hit this issue, given this sounds more like a kudu deployment issue, we can use these logs to report the issue on Kudu project

[2020-06-11 16:27] panchagnula commented on #12090
We need to figure the best design for supporting this.

[2020-06-11 16:52] panchagnula commented on #13140
closing this since the fix is merged

[2020-06-11 16:53] #13140 closed

[2020-06-11 16:54] panchagnula commented on #13254
closing this due to lack of response. Please try with the latest CLI version and create new bug if you still see this issue with --debug information.

[2020-06-11 16:54] #13254 closed

[2020-06-11 16:54] panchagnula commented on #13361
Closing this since the fix is merged

[2020-06-11 16:54] #13361 closed

[2020-06-11 16:55] panchagnula commented on #13400
closing this due to lack of response. Please try with the latest CLI version and let us know if you still see this issue

[2020-06-11 16:55] #13400 closed

[2020-06-11 16:57] panchagnula commented on #13416
This doesn't seem like App service issue but something with the CLI install. Moving to core.

[2020-06-11 17:00] panchagnula commented on #13488
@calvinsID we currently don't do CheckNameValidation on create - once we make the changes to make show the detailed error message on az webapp up - lets see if we can use the same on create as well.

[2020-06-11 17:00] rohands commented on #13911
We currently do not support it with Azure CLI. This is work in progress. Best alternative for now would be to use PowerShell like you mentioned.

[2020-06-11 17:06] panchagnula commented on #13696
Thanks for the update - we will check if this is an API issue. Also are you running CLI commands using PowerShell? if so can you try using a bash or normal command line and let us know if you see the same issue? Thanks.

[2020-06-11 17:09] panchagnula commented on #13775
@pardhasaradhireddy thanks for reporting if you are still seeing this can you run the command with --debug flag at the end of the command & let us know what you see. Thanks!

[2020-06-11 17:11] panchagnula commented on #8743
@btardif can you let me know when this ready with the new deployment command? so that we add support for JAVA with zip deploy?

[2020-06-11 17:21] mhsh64 commented on #12628
Worked. Thanks, had not found any prerequisite for it in docs.

[2020-06-11 17:24] akshaysngupta commented on #12628
@mhsh64 thanks, we will add this to the docs.

[2020-06-11 17:25] #12628 closed

[2020-06-11 17:49] t3mi commented on #7902
Is any progress to fix this non-working key?

[2020-06-11 23:23] hivyas commented on #9114
Hi there, the default value for the `--expiry` parameter is a little less than 24 hours from the current datetime. The SAS url is where users can upload a video and for security purposes it shouldn't be available for more than 24 hours later. I submitted a PR to update the help text for the variable to make it more understandable. Thanks

[2020-06-12 00:22] montgomp commented on #7792
PR https://github.com/Azure/azure-cli/pull/13941

[2020-06-12 01:23] abelbarrera15 commented on #13914
I was able to resolve this! It seems that the root file system is not appendable and if you want to make edits to files on it-- you need to first cp them to a tmp file, then edit the tmp file with what you want the file to be and then sudo cp on top of the old file (overwrite) so that the root file now contains the things needed in addition. Appenditure like: "_export THING2=usr/local/bin" >> /etc

[2020-06-12 01:23] #13914 closed

[2020-06-12 02:18] prashantma commented on #11100
Run the "az web create" command with --debug --verbose in command line arguments. It will show cause of error at the end - either resource group or plan or their combination does not exist, or some error like that.

[2020-06-12 03:26] yonzhan commented on #13933
add to S172

[2020-06-12 05:11] Nilambari commented on #1636
@MyronFanQiu  Is it possible to add similar validation at start in CLI as well to see if the same named gateway already exists in this resource group in same region, and if exists, throw proper error?

[2020-06-12 05:45] yonzhan commented on #13937
add to S172

[2020-06-12 05:50] yonzhan commented on #13416
@fengzhou-msft please take a look

[2020-06-12 05:52] fhryo-msft opened #13942 "CLI support for new storage account properties"
**Resource Provider**
Azure Storage (SRP)

**Description of Feature or Work Requested**
We added two properties on storage account (allowBlobPublicAccess, minimumTlsVersion) since SRP API 2019-04. We need the CLI to support these two properties so customers can configure them with CLI.

**Minimum API Version Required**
SRP 2019-04

**Swagger Link**
SRP Swagger is being updated now. It's expected t

[2020-06-12 06:57] xyh1 commented on #12766
a. Should support access tier and rehydrate priority
az storage blob copy start
az storage blob copy start-batch

b. Should support access tier
az storage blob upload
az storage blob upload-batch

[2020-06-12 08:10] pascalnaber commented on #10563
Yes, I think so

[2020-06-12 09:20] arrownj opened #13943 "azure-multiapi-storage setup.py is not correct"
**Describe the bug**

[setup.py](https://github.com/Azure/azure-multiapi-storage-python/blob/726b1b0cf3c61aae52fc410451f968cbc4e675bc/setup.py#L59) of `azure-multiapi-storage` is not correct. It will install `azure-nspkg` no matter it is Python 2 or Python 3 environment.

If it is Python 3, it will add a `__init__.py` file under `azure` folder, which will ruin all the namespace package.

**To Repr

[2020-06-12 09:20] arrownj commented on #13943
Storage SDK related.

[2020-06-12 10:42] yonzhan commented on #13942
add to S172

[2020-06-12 10:47] yonzhan commented on #13943
add to S172

[2020-06-12 11:08] ankita11194 opened #13944 "Azure devops cli"
HI,
az devops user list  -o table --query ["members[].user[].displayName[] , members[].lastAccessedDate[]"] --top 2
Column1                           Column2
--------------------------------  --------------------------------
Aaron                               Abel
2020-05-20T19:02:53.006463+00:00  2020-03-24T14:42:21.654520+00:00

I want the format to be column1 as "name" and column 2 as "date" a

[2020-06-12 11:10] yonzhan commented on #13944
devops

[2020-06-12 13:59] sharan779 commented on #13869
Yes, the resource group and account does exist

[2020-06-12 14:12] wmarcuse commented on #6142
For a hands on approach:

As correctly stated in the other comments the Azure CLI cannot handle the actual location where the generated SSH keys will be stored if there is a space in the path. I.e. **C:\Users\Admin Account\.ssh\**.

When using the `az aks create` command you can either use `--generate-ssh-keys` to let the Azure CLI handle it, OR you can specify an already existing SSH key with `--

[2020-06-12 14:18] wmarcuse commented on #2386
I have a hands-on workaround [answer](https://github.com/Azure/azure-cli/issues/6142#issuecomment-643291505) posted in #6142

[2020-06-12 17:19] raicastino commented on #12152
@haroldrandom When version 2.8.0 will be available?

[2020-06-12 17:22] akshaysngupta commented on #12628
@mhsh64
You should see
![image](https://user-images.githubusercontent.com/5294363/84529530-78348080-ac96-11ea-9e43-aa4ecc4bb9b9.png)
 in the [Use Azure Cloud Shell](https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-ingress-controller-add-on-new#use-azure-cloud-shell)

[2020-06-12 17:26] jluk commented on #12628
@akshaysngupta / @mscatyao can we callout the specific extension version number required (0.4.51)? that might help clarify.

[2020-06-12 17:34] onionhammer commented on #4802
So why was this closed?

Why does it make sense that `New-AzResourceGroupDeployment` handles my azuredeploy.json file fine but `az deployment sub` doesn't?

[2020-06-12 18:22] bowang-666 opened #13945 "Typo for VirtualMachineScaleSets"
some `VirtualMachineScaleSets` are `VirtualMachineScaleSet` missing 's'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d75c3a8d-1187-bea1-a7d4-7ebba71c1790
* Version Independent ID: 75b0c352-762e-16ae-5cc6-d807ffc1dc3f
* Content: [az aks](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest)
* Content S

[2020-06-12 20:37] #9114 closed

[2020-06-12 21:04] naveenchekuri opened #13947 "AZ CLI support for Network Virtual Appliance"
**Resource Provider**
NFVRP (Microsoft.Network)

**Description of Feature or Work Requested**
NetworkVirtualAppliance is a new service that we want to onboard. Each NetworkVirtualAppliance has child resources called virtualApplianceSites and also need to support GetNetworkVirtualApplianceSkus

**Minimum API Version Required**
2020-05-01

**Swagger Link**
https://github.com/Azure/azure-rest-api-spe

[2020-06-12 21:21] hivyas commented on #11431
The accessToken is used in test_ams_live_event_scenarios.py is actually named poorly because it is a GUID and not an actual security token. I have updated the code to use a generated GUID instead of a hardcoded one in order to avoid confusion: https://github.com/Azure/azure-cli/pull/13948.

The second hardcoded string is found in the container module and AMS does not own that.

[2020-06-12 21:24] EwertonJordao commented on #12977
That's cool.
I'll make a post in a few days on my blog about how to consume other API that's not Azure Resource or test some Azure Functions http trigger.

Thanks for attention

[2020-06-12 21:27] hivyas commented on #9339
Hi there, this appears to be an old bug that is now fixed. I repro and creating a new asset using information from a deleted asset and it works as expected. Thanks!

[2020-06-12 21:27] #9339 closed

[2020-06-12 21:57] hivyas commented on #12297
Hi there, we opened a Ticket 7432363 on our team, will be working on fixing this issue.

[2020-06-12 21:57] #12297 closed

[2020-06-12 22:29] cmneubaum opened #13949 "Az CLI doesn't allow specific special characters"
**Describe the bug**
When creating Azure Metric Alerts in the UX, a dimension value can contain a ',' or a '|'. But when creating a Metric Alert using CLI and inserting a dimension value that contains either ',' or '|' you get the following error:
usage error: --condition {avg,min,max,total,count} [NAMESPACE. ]METRIC {=,!=,>,>=,<,<=} THRESHOLD
						 [where DIMENSION {includes,excludes} VALUE [or

[2020-06-12 23:05] bakerm00 commented on #10786
--nsg **'**""**'** works - the stop-parsing affects variables

[2020-06-12 23:29] gusmann commented on #9779
Same as Matt for us, we're unable to use our Terraform to provision resources in a disconnected (ADFS) Azure Stack. What's the temporary fix here? Is there a way to modify the authorization token manually so that it matches up with how AAD's token is written?

[2020-06-12 23:29] gusmann commented on #9779
Same as Matt for us, we're unable to use our Terraform to provision resources in a disconnected (ADFS) Azure Stack. What's the temporary fix here? Is there a way to modify the authorization token manually so that it matches up with how AAD's token is written?

[2020-06-12 23:42] gusmann commented on #9779
Ok, it looks like the temporary fix is to modify `~/.azure/accessTokens.json` so that the value for the `_authorization` key is `https://adfs.region.fqdn/adfs/tenantid` instead of `https://adfs.region.fqdn/adfs` (just like jbpaux explains above)

[2020-06-13 00:03] kentcb commented on #13696
Ugh, I'm trying to but keep getting a useless error from the command:

[code]
I know I had this in the past and it turned out to be my resource group name was incorrect. But it's definitely correct now and I'm still getting it. Also double-checked all other details and it all looks fine.

[2020-06-13 00:37] yonzhan commented on #13945
aks

[2020-06-13 00:40] yonzhan commented on #13947
add to S172

[2020-06-13 00:46] yonzhan commented on #13949
add to S172

[2020-06-13 01:08] panchagnula commented on #13696
@kentcb   are you trying to run this on a non linux app? reserved is a property set to true on Linux apps. Also you can run the command with --debug flag at the & this would give you detailed error message.

[2020-06-13 03:22] haroldrandom commented on #12152
@raicastino It's expected at 06/23/2020

[2020-06-13 07:20] jikuma commented on #13927
@ezwiefel can you please help me with registry name and registry location.

[2020-06-13 07:24] zhoxing-ms commented on #4802
@onionhammer Hi, `New-AzResourceGroupDeployment` command is used to deploy resources under the **resource group scope**, but `az deployment sub` is used to deploy resources under the **subscription scope**. If you want to use CLI to deploy resources under the scope of resource group, please use `az deployment group`.
If you still have any questions, please feel free to let us know~

[2020-06-13 10:09] tmastana opened #13951 "Not able to create image in the container registry"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr create --name {} --resource-group {} --sku {} --admin-enabled {}`

[2020-06-13 11:57] amanjain commented on #13935
issue is with ```--content-types-to-compress``` flag.

[2020-06-13 12:14] yonzhan commented on #13951
acr

[2020-06-13 13:48] yungezz commented on #13945
hi @bowang-666 could you be specific which doc is missing `s`? in AKS command doc?

[2020-06-13 14:46] onionhammer commented on #4802
@zhoxing-ms so you're saying az deployment group does support comments in JSON?

[2020-06-13 16:26] Andriy-dev opened #13952 ""az keyvault secret set" failed with error "Max retries exceeded attempting to connect to vault""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault secret set --vault-name {} --name {} --value {}`

##

[2020-06-13 22:19] Andriy-dev opened #13954 "az interactive failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-06-13 22:26] sam-cogan commented on #10403
FYI it is now possible to grant consent through the REST CLI -[See here.]( https://samcogan.com/provide-admin-consent-fora-azure-ad-applications-programmatically/)

[2020-06-13 23:29] yonzhan commented on #13952
@bim-msft please take a look

[2020-06-13 23:31] yonzhan commented on #13954
interactive

[2020-06-14 03:33] zhoxing-ms commented on #4802
@onionhammer Yes, all the scope deployments of CLI now support comments in JSON.
The reason why CLI cannot deploy your azuredeploy.json successfully is that the command used is incorrect: when deploying under the scope of resource group, you should use the command `az deployment group`

[2020-06-14 10:59] #13072 closed

[2020-06-14 11:05] MyronFanQiu commented on #13949
@cmneubaum Thanks for raising this issue. Will fix this one as the plan.

[2020-06-14 12:09] yonzhan commented on #11634
add to S173

[2020-06-14 12:13] yonzhan commented on #11106
add to S173

[2020-06-14 12:15] yonzhan commented on #10740
add to S173

[2020-06-14 12:17] yonzhan commented on #10699
add to S173

[2020-06-14 12:18] yonzhan commented on #10509
add to S173

[2020-06-14 12:21] yonzhan commented on #10489
add to S173

[2020-06-14 12:24] #10181 closed

[2020-06-14 12:29] yonzhan commented on #9919
add to S173

[2020-06-14 12:31] yonzhan commented on #10012
add to S173

[2020-06-14 13:29] yungezz commented on #13952
hi @Andriy-dev could you pls share more repro steps?

[2020-06-14 13:31] BassamBallaji opened #13956 "Unable to find user with upn 'user@domain.com'"
I typed this cmd to grant permission for keyvault to access storage account with upn of my address (as the only user of the subscription) in order to manage storage access keys:

`az keyvault set-policy -n keyvault02 --upn user@domain.com --storage-permissions get list delete set update regeneratekey getsas listsas deletesas setsas recover backup restore purge`

but I faced this error message :

`

[2020-06-14 17:03] asnogordo opened #13958 "az cli failing on webapp deployment"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment user set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment user set --user-name {} --password {}

[2020-06-14 17:20] asnogordo commented on #13958
Fresh installation of Ubuntu 20.04 LTS. I ran az login, when azure cli was not installed.

[code]
After logging in successfully with 'az login', the az webapp deployment command was run, which is the described in the initial issue.

I was able to resolve my issue by uninstalling the previous az installation, and installing using the [documented azure cli instructions](https://docs.microsoft.com/en

[2020-06-14 19:47] bsuchorowski commented on #13276
Just FYI - we have just migrated from Self-Hosted agents to VMSS agents with the same scripts in use. I will let you know it it behaves the same way.

[2020-06-14 22:38] yonzhan commented on #13956
@bim-msft please take a look

[2020-06-14 22:39] yonzhan commented on #13958
webapp

[2020-06-15 02:21] jiasli commented on #9779
Here is a sample of the decoded access token using https://jwt.ms/

[code]

Yes, the `iss` field does have `https://adfs.redmond.azurestack.corp.microsoft.com/adfs/81cfafcd-8b9a-4419-9c85-823b54076b55/`. **However, directly accessing `~/.azure/accessTokens.json` is never officially supported.** It is an internal file used by Azure CLI and should never be parsed directly by the user. Moreover, it w

[2020-06-15 03:26] Juliehzl commented on #12873
dupe of #13517

[2020-06-15 03:26] #12873 closed

[2020-06-15 03:45] Juliehzl commented on #13459
will be fixed in this sprint.

[2020-06-15 05:39] jiasli commented on #12868
You are using a very old version of Azure CLI - 2.0.25 installed by snap, which is not supported anymore. Could you install the latest Azure CLI following https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest ?

I am not able to reproduce on the latest Azure CLI:

[code]

[2020-06-15 05:57] Juliehzl commented on #12935
@RotateAt60MPH Could you check your RBAC role for the storage account? To copy files to the storage account, you will need at least "Storage Blob Data Contributor" role to perform the operation. For more information, you can refer to https://docs.microsoft.com/en-us/rest/api/storageservices/create-user-delegation-sas

[2020-06-15 05:58] #13012 closed

[2020-06-15 06:06] Juliehzl commented on #13044
Hi @marcusjwhelan, may I know your storage account type?

[2020-06-15 06:10] Juliehzl commented on #13044
Hi @svkempf, for your error message, it is caused by proxy settings. And  I cannot reproduce it in my computer. Could you provide more information about that with `--debug` in your command?

[2020-06-15 06:11] Juliehzl commented on #13708
error message will be refined soon.

[2020-06-15 06:14] Juliehzl commented on #13232
@philspokas for table service, the supported version is 1.0 not 2.0.

[2020-06-15 07:03] svkempf commented on #13044
Hi @Juliehzl
After I did an update to AzureCLi 2.7.0 my issue was gone!

[2020-06-15 07:30] jiasli commented on #12986
Currently Azure CLI still uses ADAL to authenticate. The first step of authorization code flow is [/authorize](https://login.microsoftonline.com/common/oauth2/authorize?response_type=code&client_id=04b07795-8ddb-461a-bbee-02f9e1bf7b46&redirect_uri=http://localhost:8401&state=5a82wah3vyc2iy1hxdb6&resource=https://management.core.windows.net/&prompt=select_account):

[code]

So, `az account get-acce

[2020-06-15 07:50] #13459 closed

[2020-06-15 07:52] Juliehzl commented on #13726
Hi @yannick-Lapierre, actually it is a powershell issue because pwershell will always loss `"` for agrguments.

So I will recommend you use `az --% storage container exists --account-name zuhdefault --name test --debug --sas-token "?sv=2019-02-02&st=2020-06-15T06%3A53%3A23Z&se=2020-06-16T06%3A53%3A23Z&sr=c&sp=rl&sig=REDACT"`.  You can see more here https://github.com/Azure/azure-cli/blob/dev/doc/q

[2020-06-15 07:58] #13044 closed

[2020-06-15 09:23] Juliehzl commented on #10899
@chaami You are right. We doesn't support classic storage account any more.

[2020-06-15 09:25] #10899 closed

[2020-06-15 09:48] dornfeder commented on #6545
Since noone answered, this was the approach that i did take in the end:
First, get the id of the app service
[code]

Then, create the WebAppp with that ID as parameter:
[code]

And, if you're using Git Bash, like me, since the resource id has a syntax like this `/subscriptions/x/resourceGroups/y/providers/Microsoft.Web/serverfarms/z`, the parameter will always be prefixed with the filepath to your

[2020-06-15 10:12] techadmin1982 commented on #5841
Experiencing same issue while test deploying some ARM templates in Azure. Tested on Local Powershell ISE , Visual Studio Code but no joy.  Tested the same ARM templates using old Azure-RM modules from Visual Studio Deployment Project and it worked like charm.
![error](https://user-images.githubusercontent.com/42249185/84645576-69f89580-af1e-11ea-92e4-f537365293ad.JPG)

This is not good at all. Ima

[2020-06-15 11:03] Sarah-Aly opened #13966 "'az eventgrid event-subscription create' causes Azure CLI task to fail"
Azure CLI task v2 causes the pipeline to fail although everything was successfully deployed. Checking the logs written to stderr by my script showed errors that were supposed to be informational logs from running the command `az eventgrid event-subscription create`.

**Task**
[code]
**Command in script**
`      az eventgrid event-subscription create --name "es-$app_name" \
        --source-resourc

[2020-06-15 11:53] techadmin1982 opened #13967 "CLI Nightmare"
Experiencing same issue while test deploying some ARM templates in Azure. Tested on Local Powershell ISE , Visual Studio Code but no joy. Tested the same ARM templates using old Azure-RM modules from Visual Studio Deployment Project and it worked like charm.
error

This is not good at all. Imagine I was deploying something critical. I was lucky that I have kept AzureRM, new Az Modules and also Azu

[2020-06-15 11:54] techadmin1982 commented on #13967
![error](https://user-images.githubusercontent.com/42249185/84654536-03c73f00-af2d-11ea-87e3-8b4dbfbd02a0.JPG)

[2020-06-15 12:02] aarroyoc opened #13968 "az monitor log-analytics workspace delete force does not work"
## Describe the bug

When an Azure LogAnalytics workspace is deleted, it gets soft-deleted by default, enabling us to restore it. However, we may want to to a hard delete, which is supported by REST API.

The --force flag should do that, but as you can see running the following commands, the workspace is soft-deleted.

**Command Name**
`az monitor log-analytics workspace delete`

**Errors:**

## T

[2020-06-15 12:20] pmatthews05 commented on #10403
@sam-cogan I saw this blog post and this is only for Delegate permissions. It was the application permissions I wanted to automate the grants for.
However, through that blog post, and bit of spare time at the weekend, I was able to understand how the App Registration / Service Principals work.

With the new permissions of AppRoleAssignment.ReadWrite.All available, it is now possible to do AppRoles

[2020-06-15 12:22] edjwhho opened #13969 "az ad permission - app_role id??"
Went through this page and found that that there is no mention of getting existing app_role ids from custom app_roles from az ad permission command, its possible to add/delete etc & grant but I have to manually goto the portal/manifest and find out the uuid for the specific app_role ie ( -api-permissions 311a71cc-e848-46a1-bdf8-97ff7156d8e6=Scope ) for custom app_roles and then use the admin conse

[2020-06-15 12:30] aim-for-better commented on #10271
I am looking at this issue

[2020-06-15 12:36] yonzhan commented on #13966
eventgrid

[2020-06-15 12:38] yonzhan commented on #13967
@techadmin1982  could you please share your detailed CLI command and error info for us to troubleshoot ?

[2020-06-15 12:40] yonzhan commented on #13968
add to S172

[2020-06-15 12:43] yonzhan commented on #13969
@arrownj please take a look

[2020-06-15 13:21] arnaudjumelet opened #13970 "Default value of --force-change-password-next-login"
The AZ CLI online documentation indicates that the --force-change-password-next-login parameter is an optional parameter and does not actually indicate a default value.

First ask will be to make the --force-change-password-next-login or better indicate that the default is false.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-06-15 13:29] infa-dgowran commented on #8010
Is this something in the roadmap ?

[2020-06-15 16:13] Tim-Hodge opened #13971 "az storage cors add returns no success status"
**Describe the bug**
`az storage cors add` command does not return json to indicate success, which is different to the majority of other az cli operations.

**To Reproduce**
az storage cors add ...

**Expected behavior**
Expect a json response to indicate success; ideally an object representing the added CORS rule.

**Environment summary**
Windows 10 2004 19041.329
[code]

**Additional context**
C

[2020-06-15 16:17] Brondahl commented on #6018
The same bug (i.e. same error message and solved with the same hack-fix) occurs in the `start-batch` command for me.

Running `az --version` returns:
[code]

Which is from late April 2020. So I assume already has the fix from #6073?
I assume there's some duplicated code that got missed in the #6073 patch.

[2020-06-15 17:38] bgklein commented on #9917
Resolving as now there is a KPI tracking customer issues and this was solely meant as a feature/tracking issue

[2020-06-15 17:38] #9917 closed

[2020-06-15 18:18] #13734 closed

[2020-06-15 18:19] #13888 closed

[2020-06-15 18:47] techadmin1982 commented on #13967
@yonzhan - I am trying to deploy a custom RBAC role and assigning that to an existing Group Object.  My ARM template is flawless , it gets deployed fine when run with powershell (Az Modules). However it fails to deploy when i use CLI. I have tested the CLI deployment code both locally (from my laptop) and also from CLI on Azure portal.

Here is the code i am using to deploy the template. Like i sa

[2020-06-15 19:02] haohaiyu opened #13972 "Failed to create imageTemplates"
The command used is
`az resource create --resource-type Microsoft.VirtualMachineImages/imageTemplates --is-full-object -n chemistryImageTemplateMsi --resource-group chemistry-vm-rg --properties @builder.061520113654.json`
The following internal exception is thrown

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az resource create`

**Erro

[2020-06-15 19:40] #13952 closed

[2020-06-15 20:14] pburkholder commented on #13967
I've not worked on Azure in many months so I'm afraid I can't help you here.

[2020-06-15 20:22] grizzlytheodore commented on #11219
@sirajudeens @qwordy this needs to be moved to a private repository so
I have created a branch for you guys in the azure-cli-pr repository.
https://github.com/Azure/azure-sdk-for-net-pr/tree/SharedVMExtention
When ready, please close this pull request.

[2020-06-15 21:43] yonzhan commented on #8010
@nkiest any update for this?

[2020-06-15 21:44] yonzhan commented on #13970
@arrownj please take a look

[2020-06-15 21:49] yonzhan commented on #13971
add to S172

[2020-06-15 23:24] yonzhan commented on #13972
add to S172

[2020-06-15 23:39] nkiest commented on #8010
We already have a request on the CLI team, awaiting that. https://github.com/Azure/azure-cli/issues/13692

[2020-06-15 23:39] #8010 closed

[2020-06-15 23:56] kentcb commented on #13696
@panchagnula Yeah, it's a linux app. When running with `--debug` I get an error about resource group not found, even though it is definitely listed in the portal. I tried logging out and in again with `az`, but still get the error.

Bizarrely, if I do `az group list`, my RG is _not_ there but all the other RGs shown alongside mine in the portal _is_ there. Similarly, `az group show --name "my-rg-n

[2020-06-16 00:07] belgiajong opened #13974 "az vmss extension set fails with "Max price change is not allowed.""
I deployed a VMSS with 4 spot instances and custom script extension. ~~Upon trying to update the custom script extension (running az vmss extension set again),~~ I got the above error. Full error message: "Max price change is not allowed. For more information, see http://aka.ms/AzureSpot/errormessages"

The max price is currently set to -1. Azure CLI is on version 2.7.0.

Edit: this fails during i

[2020-06-16 00:46] djsly commented on #13915
on OSX

[code]

with

[code]
@cepcruzz , can you paste full `az --version` output

[2020-06-16 01:04] djsly commented on #13915
one difference I have, I'm running Python3.8

from a certificate point of view,it looks normal and healthy

<img width="535" alt="Screen Shot 2020-06-15 at 9 03 00 PM" src="https://user-images.githubusercontent.com/4981802/84720310-bad2b300-af4b-11ea-9614-9d866bf3470e.png">
<img width="485" alt="Screen Shot 2020-06-15 at 9 03 04 PM" src="https://user-images.githubusercontent.com/4981802/84720312-b

[2020-06-16 01:36] yungezz commented on #13974
hi @belgiajong could you pls share reproduce steps?

[2020-06-16 01:39] yungezz commented on #13972
hi @haohaiyu Azure CLI has imagebuilder specific commands.  Maybe you can have a try on it. https://docs.microsoft.com/en-us/cli/azure/image/builder?view=azure-cli-latest

[2020-06-16 01:42] zhoxing-ms commented on #10362
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-06-16 01:42] #10362 closed

[2020-06-16 01:42] yungezz commented on #13969
@arrownj is it in output of show command?

[2020-06-16 01:43] jiasli commented on #10403
Hi @pmatthews05,

We do support granting Application Permissions with `az rest`. Please check my comment at https://github.com/Azure/azure-cli/issues/12137#issuecomment-596567479.

[2020-06-16 01:49] zhoxing-ms commented on #13967
@techadmin1982 Hi, I have two more questions for you
1. May I ask your ARM template works fine in PowerShell, right? If so, what is the corresponding PowerShell command?
2. Please add `--debug` to the original command and email the printed information to me, my email address is Zhou.Xing@microsoft.com, thanks~

[2020-06-16 01:49] yungezz commented on #13967
if no scripting change but suddenly fail, it's high suspect service issue. While it worth to check why powershell succeeded.

[2020-06-16 01:50] yungezz commented on #13958
duplicate with #13660

[2020-06-16 01:52] yungezz commented on #13958
hi @asnogordo is your az cli  installed via pypi? If yes, pls see https://github.com/Azure/azure-cli/issues/13343#issuecomment-635811624 for reference.

[2020-06-16 02:17] #12937 closed

[2020-06-16 03:52] haohaiyu commented on #13972
@yungezz I tried to use
az image builder create -g chemistry-vm-rg -n chemistryImageTemplateMsi --image-template C:\Users\hay\AppData\Local\Temp\builder.061520113654.json

but get the following error:
Command group 'image builder' is in preview. It may be changed/removed in a future release.
validation error: Parameter 'ImageTemplate.source' can not be None.

and my template does contain:

 "prope

[2020-06-16 04:58] qwordy commented on #13974
And could you append --debug to the end of the command and post the result?

[2020-06-16 05:51] gpreddyk opened #13976 "az role assignment create error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role assignment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az role assignment create --assignee {} --role {} --scope {}`

[2020-06-16 05:52] yonzhan commented on #13976
add to S172

[2020-06-16 06:16] akancharla1 commented on #12346
@juliehzl with --debug i got this output

Command arguments: ['storage', 'account', 'update', '--name', 'gcdmgccpxdev2c', '--subscription', '4364c8ed-c001-4de2-9f6f-4bd44a311d8c', '--encryption-key-source', 'Microsoft.Keyvault', '--encryption-key-name', 'gcdmgccdrkvdev2-5d137102-key', '--encryption-key-vault', 'https://gcdmgccdrkvdev2-5d137102.vault.azure.net', '--encryption-key-version', '9cbc6d2

[2020-06-16 06:29] techadmin1982 commented on #13967
Thank you for your assistance. Ok, corresponding Powershell command would be

`Param (
[Parameter(Mandatory = $true)]
[String] $location,
[Parameter(Mandatory = $true)]
[String] $SubscriptionId
)
#Logging into Azure Account and selecting working Subscription
#Connect-AzAccount
$context = Get-AzSubscription -SubscriptionId $SubscriptionId
Set-AzContext $context
New-AzDeployment -location $location

[2020-06-16 06:44] lilyjma commented on #8388
@ahmedelnably, @fabiocav please take a look at the issue.

[2020-06-16 06:45] lilyjma commented on #8415
@dkkapur please take a look

[2020-06-16 06:46] #11146 closed

[2020-06-16 06:51] hentie commented on #8388
@vikaskk13 That is exactly why I call it a horrible work-around.  You have to temporarily create a resource just to delete it again :(

[2020-06-16 06:56] yonzhan commented on #10303
webapp

[2020-06-16 06:56] yonzhan commented on #10378
add to S173

[2020-06-16 06:58] yonzhan commented on #10353
add to S173

[2020-06-16 07:01] aim-for-better commented on #10271
@stijn192  Could you please retry it?
I resized a cluster successfully by running
[code]

[2020-06-16 07:02] yonzhan commented on #10300
add to S172

[2020-06-16 07:06] yonzhan commented on #10026
@fengzhou-msft please take a look

[2020-06-16 07:06] yonzhan commented on #10029
@qwordy please take a look

[2020-06-16 07:08] yonzhan commented on #10003
@fengzhou-msft please take a look

[2020-06-16 07:08] yonzhan commented on #9976
netappfiles

[2020-06-16 07:09] yonzhan commented on #9811
functionapp

[2020-06-16 07:10] yonzhan commented on #8654
@fengzhou-msft please take a look

[2020-06-16 07:22] Juliehzl commented on #10318
Hi @jumping, you can use `az storage fs file list` for ADLS Gen2 account files.

[2020-06-16 07:22] #10318 closed

[2020-06-16 07:34] jiasli commented on #9903
I have created issue https://github.com/tartley/colorama/issues/263 on colorama's repo.

[2020-06-16 07:49] aim-for-better commented on #11398
This parameter needs a string. Per our side how to handle this string parameter is related with customer's specific script.

Could you please provide more details about your scenario to help us understand more?

[2020-06-16 08:15] jiasli commented on #13731
If the issue persists, please let us know.

[2020-06-16 08:15] #13731 closed

[2020-06-16 08:19] jiasli commented on #9686
If you are still seeing this issue, please create a Support Request in Azure portal and provide the `--debug` log which contains correlation IDs. AAD team will help investigate from the backend.

[2020-06-16 08:19] #9686 closed

[2020-06-16 08:21] jsntcy commented on #10537
@amwate, for ExpressRouteCircuitConnection, is it allowed to set ipv4 and ipv6 at the same time? I saw swagger examples set them at the same time as follows,
`   "id": "/subscriptions/subid1/resourceGroups/dedharcktinit/providers/Microsoft.Network/expressRouteCircuits/ExpressRouteARMCircuitA/peerings/AzurePrivatePeering/connections/circuitConnectionUSAUS",
        "name": "circuitConnectionUSAUS",

[2020-06-16 08:33] amwate commented on #10537
From swagger and backend perspective, it is valid to have both Ipv4 and Ipv6 set.

It is also valid from swagger perspective to not have any of them set. However we validate the same in the backend, and throw an error if both are not set.

[2020-06-16 08:35] jsntcy commented on #10537
@amwate, thanks for the quick response.

[2020-06-16 08:55] MyronFanQiu commented on #13043
close this issue since it's by design.

[2020-06-16 08:55] #13043 closed

[2020-06-16 08:56] MyronFanQiu commented on #12901
closed this issue since it's by design.

[2020-06-16 08:56] #12901 closed

[2020-06-16 09:04] techadmin1982 commented on #13967
@zhoxing-ms Have sent you the debug logs from my personal outlook email.

[2020-06-16 09:23] jsntcy commented on #10537
@amwate, when I set ipv6 address prefix for ExpressRouteCircuitConnection, it shows the error "IPv6 Circuit Connection is not supported for Express Route Global Reach /subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/azure-cli-test-rg/providers/Microsoft.Network/expressRouteCircuits/er3/peerings/AzurePrivatePeering/connections/conn12", do you know  what's wrong?

 Request body:
ms

[2020-06-16 09:38] amwate commented on #10537
This feature is no GA'd yet. We would be rolling this feature out only to selected customer subscriptions and in a phased manner.
For all other customers, the above error is valid.

[2020-06-16 09:57] zhoxing-ms commented on #13967
@techadmin1982 Thank you very much for the logs and information you provided. This is a service related problem, and we need the service team to help us to see the cause of the error first.

Could you please view the Activity log on portal after the deployment fails. There is a JSON information corresponding to the failure reason, then please tell me what is the error message and correlationId?

[2020-06-16 10:26] #11210 closed

[2020-06-16 11:25] techadmin1982 commented on #13967
I checked Activity Logs on my subscription. There is nothing regarding the failures.

[2020-06-16 12:08] scabana opened #13979 "Console color doesn't reset after error when output is redirected"
## Describe the bug

After some errors, console color doesn't reset. This is similar to https://github.com/Azure/azure-cli/issues/6080.

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

For example, but not limited to this example:

1. az login
1. wait for token expire
1. az keyvault secret list --vault-name

[2020-06-16 12:36] yonzhan commented on #13979
add to S172

[2020-06-16 13:15] #13976 closed

[2020-06-16 14:01] nomula commented on #6409
I tried all the above commands and still have issues:

az login
Note, we have launched a browser for you to login. For old experience with device code, use "az login --use-device-code"
Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /common/oauth2/token (Caused by SSLError("Can't connect to HTT

[2020-06-16 16:00] fengzhou-msft commented on #13958
@asnogordo yes, following the doc is the right way. The package comes with Ubuntu repo is old and has some issues.

[2020-06-16 16:00] #13958 closed

[2020-06-16 16:04] #13890 closed

[2020-06-16 16:05] fengzhou-msft commented on #13890
For more about `--query`: https://docs.microsoft.com/en-us/cli/azure/query-azure-cli?view=azure-cli-latest

[2020-06-16 16:15] cchildress opened #13980 "Unicode character corrupts .azure json files"
**Describe the bug**
Trying to create a subscription policy with `az policy definition create` fails with `Expecting value: line 1 column 1 (char 0)` (I suspect this will be a problem with multiple azcli commands).

In looking around for where there might be a config file with invalid data at the start of the file I looked at the json files in `~/.azure` and found that `az.json`, `az.sess`, and `a

[2020-06-16 16:17] onionhammer commented on #4802
@zhoxing-ms Just tried it and see this:

az deployment group validate -g next-c2c --template-file azuredeploy.json
Failed to parse 'azuredeploy.json', please check whether it is a valid JSON format

resources> az --version
azure-cli                          2.7.0

command-modules-nspkg              2.0.3
core                               2.7.0
nspkg                              3.0.4
telemetry

[2020-06-16 16:23] jiasli opened #13981 "[Configure] A more versatile `az configure`"
`az configure` currently only supports setting and listing the `default` section:

[code]

For other sections described in [Azure CLI configuration](https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration?view=azure-cli-latest), users will have to manually edit the `~/.azure/config` file, like

[code]

This is inconvenient.

To improve the user experience, `az configure` needs to

1. Su

[2020-06-16 16:23] GabyCT commented on #13320
any feedback? thanks

[2020-06-16 16:25] jiasli commented on #13981
Did a quick evaluation: https://github.com/jiasli/azure-cli-spec/blob/master/az-configure.md

Hope it brings more ideas.

[2020-06-16 17:16] belgiajong commented on #13974
Command with debug output: [customScriptOutput.txt](https://github.com/Azure/azure-cli/files/4788096/customScriptOutput.txt)

Steps:
1. Create resource group
2. Create VMSS
3. Assign "virtual machine contributor" identity to VMSS
4. Disable Windows update
5. Create storage account
6. Deploy custom script extension
Script finishes running successfully.
7. Redeploy custom script extension - hit erro

[2020-06-16 18:34] bsangwan opened #13982 "Every command should have example command and output."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472d5f5f-3ce0-1220-3058-4b27068f512b
* Version Independent ID: 76e1699e-e6ba-c0dd-aad4-c5a7ab58260d
* Content: [az storage blob](https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest)
* Content Source: [src/azure-cli/azure/cli/

[2020-06-16 19:04] ahamad-MS commented on #13781
Hello @sjwaight

I followed up with the subId and resources details you provided and I believe the issue is due to the fact that you are using old CLI module. Here is the follow up info from the email:

===================================
Can you please provide the output of this command [az version] in shell.azure.com?

It seems you are using the older CLI module or CLI Extension. The –source-id

[2020-06-16 19:12] yugangw-msft commented on #13951
@tmastana, did this registry belong to you, and you deleted and tried to recreate? If yes, please let me know; otherwise this is by-design as the name is already taken

[2020-06-16 19:38] drdamour commented on #9250
seems like the graph.windows.net solution no longer functions at all, end the MS Graph suggestion requires a TON of permissions that no sane admin would grant...

[2020-06-16 19:55] drdamour commented on #9250
i stand corrected, the application one is pretty sane ReadWrite.OwnedBy i thought it required write.all

[2020-06-16 20:25] panchagnula commented on #13928
@sven73a can you give us more details on the error/warning you are referring to here? CLI shouldn't error out if the command hasn't failed - more details here will help us root cause this better.

[2020-06-16 20:36] panchagnula commented on #13883
@RyanHill-MSFT thanks for reporting looks like you are using an older version of CLI - can you please update to use the latest version and check if this is resolved.  2.0.76 -> version had some regressions, but these should be fixed the latest version. Thanks

[2020-06-16 20:39] panchagnula commented on #13863
Thanks for reporting we will look into this. @calvinsID can you check if you can repro this with the latest version of CLI - as per this issue this happened on 2.6.0. Thanks!

[2020-06-16 20:40] RyanHill-MSFT commented on #13883
@panchagnula cool thanks. does the cli offer a command to update in place, I couldn't find one.

[2020-06-16 20:41] panchagnula commented on #13839
closing this since this has been merged.

[2020-06-16 20:41] #13839 closed

[2020-06-16 20:44] panchagnula commented on #13805
@mohitmehau thanks for reporting. Are you seeing this error with az webapp up command only or with other commands as well - a quick look at the trace makes it look like a problem with the CLI deployment package instead of being specific to the command. Please let us know. Thanks.

[2020-06-16 20:45] panchagnula commented on #13795
Please re-try with a more recent version of CLI and let us know if this still repros.

[2020-06-16 20:48] panchagnula commented on #13866
Thanks for reporting - the use of pipe | comes from the API that sets the values as language|runtime-version.  Please make sure to use bash or terminal instead of Powershell - to ensure pipe doesn't mess with the usage. Closing this as by design for now.

[2020-06-16 20:48] #13866 closed

[2020-06-16 20:51] panchagnula commented on #13777
@SeanFeldman any specific reason for xml response request - CLI returns the object that the API returns which is json here. Thanks!

[2020-06-16 20:54] panchagnula commented on #13696
@kentcb make sure to check az account show to check the default subscription you are using with CLI given this is not specific to webapp command I am assuming you are not using the right subscription the RG is a part of.

[2020-06-16 21:16] panchagnula commented on #13883
@RyanHill-MSFT depends on how you originally installed CLI
if you use MSI then you need to do a full install if you used pip you can use this https://pypi.org/project/azure-cli/

otherwise you can reference this for installation https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-06-16 21:18] yonzhan commented on #13980
add to S172

[2020-06-16 22:13] vabgujral opened #13983 "The information for "az consumption budget create" is incomplete"
[Enter feedback here]
Here is the link to the documentation - https://docs.microsoft.com/en-us/cli/azure/consumption/budget?view=azure-cli-latest#az-consumption-budget-create

The documentation for "az consumption budget create" says that it creates a new budget for an Azure subscription. In fact, it creates a new budget if the budget doesn't exist. If the budget exists already, the command actual

[2020-06-16 22:14] adroc opened #13984 "Missing antlr4, WSL - Ubuntu 20.04"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm create --help`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm create -h`

## Expected Behavior
Command
    az vm create : Cr

[2020-06-16 22:54] yonzhan commented on #13981
add to S171

[2020-06-16 22:56] yonzhan commented on #13982
add to S172

[2020-06-16 23:22] lmazuel commented on #13635
@arrownj
- it should not be in the wheel ever, whatever py2 or py3
- sdist is more interesting, I'm not sure it matters anymore that much if you target just py3 (keep it or leave it, same). Most of all the complex easy-install/dev install/etc. scenarios are gone. If you remove it you should be fine.

[2020-06-17 01:18] vinyar commented on #8296
@tjprescott - why was this issue closed?

[2020-06-17 01:18] jsntcy commented on #10537
@amwate ,
- When will it GA?
- How can test this feature as I need develop CLI commands for it?

[2020-06-17 01:22] jiasli commented on #6409
@fengzhou-msft , could you help take a look at why Azure CLI installed by `brew` can't access the SSL module?

[2020-06-17 01:58] jiasli commented on #13979
Hi @scabana, are you redirecting the result of `az keyvault secret list --vault-name somekeyvault` to somewhere else? If so, the only fix is to **manually disable color** (introduced in https://github.com/Azure/azure-cli/pull/12601) following [CLI configuration values and environment variables](https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration?view=azure-cli-latest#cli-configurati

[2020-06-17 02:10] jiasli commented on #9250
Hi @drdamour, thanks for the supplemental information. Yes, for both [application: Add owner](https://docs.microsoft.com/en-us/graph/api/application-post-owners?view=graph-rest-1.0&tabs=http) and [servicePrincipal: Add owner](https://docs.microsoft.com/en-us/graph/api/serviceprincipal-post-owners?view=graph-rest-beta&tabs=http) APIs, all you need is `Application.ReadWrite.OwnedBy and Directory.Rea

[2020-06-17 02:30] zhoxing-ms commented on #4802
@onionhammer Could you please email me the template file azuredeploy.json you used? My email address is Zhou.Xing@microsoft.com, thanks~

[2020-06-17 02:45] yonzhan commented on #13983
consumption

[2020-06-17 02:46] yonzhan commented on #13984
Compute

[2020-06-17 03:15] #13020 closed

[2020-06-17 03:22] seanmck commented on #13836
This is not actionable. Please reopen if there's a real repro.

[2020-06-17 03:22] #13836 closed

[2020-06-17 04:05] SeanFeldman commented on #13777
Indeed. When a publishing profile file downloaded from the portal, it's an XML file, not JSON. This file is used to perform the ZIP deployment of a webjob/webapp. Specifically, I use GitHub action `srijken/azure-zip-deploy@v1.0.1` for that purpose. The publish profile is expected to be an XML file.

[2020-06-17 04:05] SeanFeldman commented on #13777
Also, Visual Studio based deployment relies on the this file to be an XML file.

[2020-06-17 05:35] #12355 closed

[2020-06-17 05:37] amwate commented on #10537
Tentatively by September.
We can either whitelist your subscription, or it would better if you can take a Jit (type portal) on subscription 99c33776-9f4e-4e58-abe8-9263db1b9c6e. We can get on a call, and I can show you how to do that if that helps?

[2020-06-17 05:39] #12673 closed

[2020-06-17 05:47] sven73a commented on #13928
All information is in the opening post. There is no much more to tell. Please let me know what more yo want to know.

[2020-06-17 05:47] manjeetlakra opened #13987 "az login --identity giving error in system managed identity"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --identity`

## Expected Behavior

## Environment Summary
[code]
## Ad

[2020-06-17 06:17] qwordy commented on #13984
Hi, how do you install Azure CLI? apt, pip or other ways?

[2020-06-17 06:23] yungezz commented on #13984
duplicate with https://github.com/Azure/azure-cli/issues/13862

[2020-06-17 06:24] qwordy commented on #10029
Could you download the latest version of Azure CLI and retry?

[2020-06-17 06:48] #11884 closed

[2020-06-17 07:13] jiasli opened #13989 "[Doc/Packaging] Support alternative Python implementations"
Brought up by @bquantump

Azure CLI (should/could) (support/be tested) against [Alternative Python Implementations](https://www.python.org/download/alternatives/), like **IronPython**, **Jython**, **PyPy**...

If we haven't tested Azure CLI with other implementations of Python, the document should explicitly declare that

[2020-06-17 07:32] iamchamith opened #13990 "az sql db create: error: the following arguments are required: --server/-s"
While I am creating the SQL server database through azure cli there was a error prompt -s required. But I had append -s to the command.

### To Reproduce:
az sql db create -n issue1 –s shoppingcartserver -g pow2 -l westus –-service-objective Basic --license-type BasePrice

### Error:
az sql db create: error: the following arguments are required: --server/-s

### Environment
Windows : 10
az cli : 2

[2020-06-17 08:06] haroldrandom commented on #10137
When I install both `IPython` and `interactive` extension, this error appear again for the dependency `prompt_toolkit` conflict.

However, importing the module [azure-cli-extensions/src/interactive/azext_interactive/\_\_init\_\_.py](https://github.com/Azure/azure-cli-extensions/blob/master/src/interactive/azext_interactive/__init__.py#L9-L11) isn't enough to detect the import error because the err

[2020-06-17 08:09] #10137 closed

[2020-06-17 09:34] jiasli commented on #13009
`--cert` used by `az ad sp credential reset` should be the public certificate **string**.

For example, for certificate `mycert.pem` (generated with `az ad sp create-for-rbac --name app0617 --create-cert --skip-assignment`):

[code]

You may use command like

[code]

Or read from the file

[code]

For `mycert.pem`

- Private key section is optional:

[code]

- Certificate section is mandatory, but

[2020-06-17 09:34] jiasli commented on #13009
Specifying the certificate from the Windows system's certificate store like `@cert:\CurrentUser\My\Thumbprint` is not supported.

[2020-06-17 09:44] jsntcy commented on #10537
@amwate, Could you please help whitelist our sub "0b1f6471-1bf0-4dda-aec3-cb9272f09590" as we need use it to create automation test?

[2020-06-17 09:52] yungezz commented on #13931
hi @qwordy thanks for raising the good point! per communication with service team, they're ok to a warning message. Could you pls take care of this in this sprint? thanks.

[2020-06-17 09:53] jiasli commented on #13009
The source code does have detailed description for `--cert`:

https://github.com/Azure/azure-cli/blob/1f34245e83fbb68777c26a764f9cb5e8b86c0051/src/azure-cli/azure/cli/command_modules/role/_help.py#L432-L434

And it will be revealed by

[code]

However due to known issue https://github.com/Azure/azure-cli/issues/10946, in the document for [`az ad sp credential reset`](https://docs.microsoft.com/en-

[2020-06-17 10:14] pvrk commented on #13051
Closing this bug since we have verified that this is fixed. Can re-open if this issue re-occurs with version >= 2.6.0

[2020-06-17 10:14] #13051 closed

[2020-06-17 10:28] yonzhan commented on #13987
add to S172

[2020-06-17 10:55] yonzhan commented on #13989
Doc/Packaging

[2020-06-17 10:57] yonzhan commented on #13990
sql

[2020-06-17 11:04] qwordy commented on #11219
OK. I will move it to a private repository.

[2020-06-17 11:35] scabana commented on #13979
Hi,

It's exactly that. I'll rename the issue. Should this issue be kept opened until a proper fix can be provided?

[2020-06-17 12:59] assaf-grth opened #13994 "Advisor API recommendations extended properties"
Hi,
My question is regarding Azure advisor recommendations api (https://docs.microsoft.com/en-us/cli/azure/advisor/recommendation?view=azure-cli-latest, rest API as well - https://docs.microsoft.com/en-us/rest/api/advisor/recommendations)

The list of recommendations contains a recommendation type id and some time there are extended properties with additional details regarding the recommendation

[2020-06-17 13:09] yungezz commented on #13994
routing to appropriate team

[2020-06-17 14:42] sedvardsen commented on #13928
@sven73a adding ` --only-show-errors` to the command seem to make it play ball with pipelines

[2020-06-17 15:19] spatialman commented on #3512
This worked like a charm to me...

[2020-06-17 17:24] Dissonant-Tech opened #13995 "AttributeError after login through the browser"
## Describe the bug
AttributeError after login through the browser.

**Command Name**
`az login`

**Errors:**
[code]

## Expected Behavior

The azure-cli should login to azure.

## Environment Summary
[code]
## Additional Context

Currently using SSO through office365 for login.

[2020-06-17 19:17] StephenWeatherford opened #13998 ""'str' object has no attribute 'get'" error using parameter file and --handle-extended-json-format"
**Describe the bug

**Command Name**
`az deployment create --location WestUS --template-file ./master1.json --parameters @master1.dev.params.json --handle-extended-json-format`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Use these files:
[bug.zip](https://github.com/Azure/azure-cl

[2020-06-17 19:25] sbugalski opened #13999 "az backup vault show duplicated eTag key"
## az backup vault show duplicated eTag key.

**Command Name**
`az backup vault show`

**Errors:**
[code]

## To Reproduce:
[code]

## Expected Behavior
single eTag value returned by az cli

## Environment Summary
[code]
## Additional Context

[2020-06-17 20:05] sandeepkundala opened #14000 "The commands in documentation are deprecated. Please change the document accordingly."
The commands pointed in the documentation are deprecated. Please update the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: da15197a-eca2-19d6-72e3-be853337a759
* Version Independent ID: eb84d467-86df-121e-3b04-66b499342f7f
* Content: [az cosmosdb database](https://docs.microsoft.com/en-us/cli/azure/cosmo

[2020-06-17 20:10] caronicolas opened #14001 "Missing antlr4, Error with az vm image list on ubuntu 20.04 (WSL)"
I try to get image list for location francecentral but I received an error.

**Command Name**
`az vm image list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az vm image list --location francecentral --publisher Canonical --offer UbuntuServer --sku 18.04-LTS --all -o table`

## Ex

[2020-06-17 20:34] panchagnula commented on #13928
@sven73a the command throws an error only something has actually failed on our end - & an error should be reported and not ignored by the pipeline as well. with regards to warning its possible that the in preview message of this command is being interpreted as a warning as a pipeline for that what @sedvardsen recommended above is the best option, to suppress warning messages. Hope this helps. Than

[2020-06-17 21:07] sven73a commented on #13928
OK. thnx for the work-around I will try it tomorrow. But for mine understanding is the warning/error for this particular command a bug in the command or is it by design?

[2020-06-17 21:10] sedvardsen commented on #13928
Looks like it is an issue for all preview-methods - i.e all methods that throws a warning no matter what

[2020-06-17 21:58] MostlyArmless opened #14002 "az resource create crashes when the `--properties` arg is a bash variable containing the name of a file which does not exist"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
As in the title.
**Command Name**
`az resource create`

**Errors:**
Here's the full error output:
[code]

## To Reproduce:
[code]

## Expected Behavior
Expect a meaningful error message instead of a python stack trace.

## Environment Summary
[code]
## Additional Context

[2020-06-17 22:05] krknopp commented on #12391
@HenrikSommer-eng just found this rather creative workaround.  I think it'll work for us.  Maybe you too.

https://stackoverflow.com/questions/57979337/how-to-upload-private-key-certificates-pfx-public-key-certificates-cer-to/58119274#58119274

[2020-06-17 22:30] yonzhan commented on #13995
add to S172

[2020-06-17 22:34] yonzhan commented on #13999
backup

[2020-06-17 22:34] yonzhan commented on #13998
add to S172

[2020-06-17 22:36] yonzhan commented on #14000
cosmosdb

[2020-06-17 22:44] sjwaight commented on #13781
Noting here that installing the extension and not just using the currently shipped CLI capabilities has resolved my issue. As per Ashraf's feedback this will be fixed completely in a future CLI release and until then ensure you have the extension installed using

[code]

[2020-06-17 22:44] #13781 closed

[2020-06-18 01:18] yonzhan commented on #14002
add to S172

[2020-06-18 02:28] qianwens opened #14004 "Show current subscription and command sample to change default subscription if command fail with error no permission or resource not exist"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

https://dev.azure.com/azuretracking/Azure%20tracking/_workitems/edit/1313

Show current subscription and command sample to change default subscription should be implemented as a common function for the errors like no permission or resource not exist.
**Describe alternatives you've considered**

[2020-06-18 02:41] qwordy commented on #13582
@sandeepkv93 “The eviction will occur within 30 minutes of calling the API“
I am curious about the reason of the latency. Is it intentional?
https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/simulateeviction

[2020-06-18 03:58] Juliehzl commented on #13982
Thanks a lot for your  feedback. We are working on it, but it will take a long time to achieve the goal. Here I will put the issue in backlog and keep working on it.

[2020-06-18 03:58] Juliehzl commented on #13943
done

[2020-06-18 03:58] #13943 closed

[2020-06-18 04:00] Juliehzl commented on #13943
fixed in https://github.com/Azure/azure-multiapi-storage-python/pull/26

[2020-06-18 04:05] jiasli commented on #13979
Yes. The fix https://github.com/microsoft/knack/pull/209 is on its way!

[2020-06-18 04:08] zhoxing-ms commented on #4802
@onionhammer Thanks for your email~
This problem is actually caused by the mutil-line string in the ARM template (such as `resources.Configuration.WebTest` )
This is a known issue. Issue #12909 is already following up on this problem.
It is recommended that you change all the mutil-line strings to single line first.

[2020-06-18 04:18] ajafry opened #14007 "Syntax for the --fields argument"
Hi,

The documentation is unclear on how to provide a list of columns to customize the output fields. The correct syntax requires names of fields with a space (for CLI), e.g.

`az appconfig revision list --name my-app-config-name --top 10 --fields key label last_modified
`
Thanks.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-06-18 04:23] zhoxing-ms commented on #4802
@onionhammer By the way, May I ask is the configuration of mutil-line string in the resources you successfully deploy by PowerShell valid? (such as `such as resources.Configuration.WebTest`)
If PowerShell does not modify the ARM template and send it directly to the service ( It should be so in design) , I think the parsing logic might be break due to the newline character added by the Service.
For

[2020-06-18 05:36] yungezz commented on #14007
routing to appropriate team

[2020-06-18 05:39] yungezz commented on #14001
hi @qwordy could you pls have a look? we received several issue  on this package. Let's figure out the root cause. thanks.

[2020-06-18 05:46] yonzhan commented on #14004
add to S172

[2020-06-18 05:47] shibinj opened #14009 "Azure Cloud Shell ( Windows Terminal ) given error on az vm list command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm list -d -o {}`

## Expected Behavior

## Environment Summary
[code]
##

[2020-06-18 05:58] yungezz commented on #14009
known issue  in #11479

[2020-06-18 06:24] fengzhou-msft opened #14011 "No module issue on Ubuntu 20.04(Focal)/WSL"
If you just run `apt update && apt install azure-cli` on Ubuntu Focal, you'll install an old `2.0.81` version from `focal/universe` and it's packaged differently than the official deb packages we release and still in testing stage. It's not tested and maintianed by Azure CLI Team and has several issues that need to be fixed.

ℹPlease first uninstall azure-cli 2.0.81 and its dependencies:
`sudo apt

[2020-06-18 06:36] qwordy commented on #14001
Are you using the bundled Azure CLI of Ubuntu? The package is old and has some problems. Could you install the latest version and retry?
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-06-18 06:37] qwordy commented on #13862
Are you using the bundled Azure CLI of Ubuntu? The package is old and has some problems. Could you install the latest version and retry?
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-06-18 06:37] qwordy commented on #13984
Are you using the bundled Azure CLI of Ubuntu? The package is old and has some problems. Could you install the latest version and retry?
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-06-18 06:37] qwordy commented on #13633
Are you using the bundled Azure CLI of Ubuntu? The package is old and has some problems. Could you install the latest version and retry?
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-06-18 06:37] qwordy commented on #13588
Are you using the bundled Azure CLI of Ubuntu? The package is old and has some problems. Could you install the latest version and retry?
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-06-18 06:38] #12934 closed

[2020-06-18 07:02] #13599 closed

[2020-06-18 07:24] arrownj commented on #14011
Do we know the reason why it link to 2.0.81 instead of latest CLI?

[2020-06-18 08:13] rioriost opened #14013 "Can not update Ultra Disk"
**Describe the bug**

'az disk update' get the error message from API

**To Reproduce**

1. Execute `az disk update -n Ultra_Disk_name -g resource-group --disk-iops-read-write 16000 --debug`
2. Got the error,

**Expected behavior**

Successfully updating the bandwidth of Ultra Disk.

**Environment summary**

[code]

**Additional context**

I can update the same Ultra Disk via Azure Portal successf

[2020-06-18 08:39] #13532 closed

[2020-06-18 08:40] qianwens commented on #9506
Close this issue since there is no response for more than 15 days. Please help file a new issue if you still have questions.

[2020-06-18 08:40] #9506 closed

[2020-06-18 08:42] qianwens commented on #10488
Thanks @grjw for confirming, glad the solution works.

[2020-06-18 08:42] #10488 closed

[2020-06-18 08:45] #13708 closed

[2020-06-18 08:47] caronicolas commented on #14001
@qwordy you're right, the install with one command of the documentation install an old version (2.0.81).
I try to reinstall azcli (v2.7.0) with the manual instructions and it works.
Thanks for your help!

[2020-06-18 08:47] #14001 closed

[2020-06-18 09:04] qianwens commented on #13804
This issue has been fixed in https://github.com/Azure/azure-cli/pull/13643 . Please help install the latest version to solve this problem.

[2020-06-18 09:04] #13804 closed

[2020-06-18 09:08] qianwens commented on #13801
@asranja , is this error only happen in Azure CLI? Can you login in from azure portal?

[2020-06-18 09:21] #13232 closed

[2020-06-18 09:25] #13847 closed

[2020-06-18 09:30] #7441 closed

[2020-06-18 09:34] asranja commented on #13801
Yes, I can login from Azure portal and Azure PowerShell.

I tried ```az login``` again and got the same error:

An error occurred
Please close and try again in a new window. Contact helpdesk if the issue persists.
Error details
Activity ID: 3221e202-e5ca-4033-8a22-2667d7a83f72
Error details: MSIS7007: The requested relying party trust 'urn:federation:microsoftonline.us' is unspecified or unsupport

[2020-06-18 09:47] yungezz opened #14015 "[local context] refine error message"
Refine messages of local context when saving per PM feedback, below is an example:
"Your preference of: –name AzureFunctionsQuickstart-rg and –location westeurope are now saved to local context. To learn more, type in az local-context –help "

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-06-18 09:49] #13555 closed

[2020-06-18 09:56] yungezz commented on #14013
hi @qwordy could you pls have a look? thanks

[2020-06-18 10:17] yonzhan commented on #14015
local context

[2020-06-18 10:22] damienbod opened #14016 "Add Azure AD Group to Azure AD Enterprise Application"
I need to add a group to an Azure AD Enterprise application. How do I do this using Azure CLI? This is possible using the portal UI. Is this possible with Azure CLI?

Greetings Damien

[2020-06-18 10:29] eliassal commented on #13804
Hi qianwens, what latest version and where I can get it? do you mean Azure powershell?

[2020-06-18 10:47] Darsan04 opened #14017 "Deploy container instances into an Azure virtual network"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container create --name {} --resource-group {} --image {} --vnet

[2020-06-18 10:52] Slowdive-Aideron commented on #6945
Problem still persists in v.2.1.0

azure-cli                                           2.1.0
command-modules-nspkg              2.0.3
core                                                  2.1.0
nspkg                                               3.0.4
telemetry                                         1.0.4

  {
    "name": "Reader",
    "prName": null
  },
with --query "[].{prName:principalName ,

[2020-06-18 10:55] arekpalinski commented on #13573
I think I've run into the same issue. I followed the following example:

https://docs.microsoft.com/en-us/azure/event-grid/custom-event-to-queue-storage#subscribe-to-a-custom-topic

so I had a script like:

[code]

what resulted in `Operation failed with status: 'Bad Request'. Details: 400 Client Error: Bad Request for url: ` because of `%0D` character in the middle of URL. I have workaround this

[2020-06-18 11:14] rioriost commented on #14013
The command should not include 'maxShares' in this context.

[2020-06-18 11:49] qwordy commented on #14001
Do you mean `curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash` will not install the latest version but an old version?

[2020-06-18 12:03] caronicolas commented on #14001
Yes, I tried it on ubuntu 20.04 and 18.04 (on windows 10 with WSL) and the version installed is 2.0.81 with this curl.

[2020-06-18 12:14] yonzhan commented on #13804
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-06-18 12:15] yonzhan commented on #14016
add to S172

[2020-06-18 12:20] yonzhan commented on #14017
container

[2020-06-18 13:10] rioriost commented on #14013
The request doesn't have encryption.diskEncryptionSetId.

[code]

After removing 'maxShares' from the request, I got the another error message.

[2020-06-18 13:10] eliassal commented on #13804
OK I updated my az-cli to 2.7, can I update the passwor for the user in Azure? If yes, how?

[2020-06-18 13:26] #11734 closed

[2020-06-18 13:45] zhoxing-ms commented on #13573
@arekpalinski May I ask your specific development environment? Is the WSL, Linux, Windows or others? And what is the type of this script?

[2020-06-18 14:05] onionhammer commented on #4802
@zhoxing-ms Yep, the web tests work fine on deployment via powershell.

[2020-06-18 15:15] dgcaron opened #14019 "can't interact with ADLS gen2 from within a container"
## Describe the bug
i am writing some powershell scripts that need to run from a container. i have a powershell script that works locally but fails while i run it in a container. running
[code]
returns me the list of storage accounts for the subscription but when i want to list the containers, i get an authentication error. running the same script with the same user on my windows machine, is not r

[2020-06-18 15:59] lobsteropteryx commented on #13655
We've seen this as well, intermittantly across many projects.  Have opened an Azure support issue, but we never got this resolved.

[2020-06-18 16:06] mungk opened #14020 "az keyvault secret list-versions --maxresults has no effect"
## Describe the bug
The --maxresults parameter does not seem to have any effect. All versions are returned.

**Command Name**
`az keyvault secret list-versions`

**Errors:**
None

## To Reproduce:
Note that argument values have been redacted, as they may contain sensitive information. Use your own key vault name.

Create a secret and give it multiple versions:
- `az keyvault secret set --vault-nam

[2020-06-18 16:23] IUnknownPtr opened #14021 "az ams account sp is not idempotent"
Consequently executing `az ams account sp create` fails with error `Service principal already exists.`. Same bug has been already [resolved ](https://github.com/Azure/azure-cli/pull/9108) for `az ad app create` but still a case for AMS.

[2020-06-18 18:54] Vaibhav-Agar commented on #13320
Marketplace team to provide an update shortly.

[2020-06-18 20:14] RyanHill-MSFT commented on #13883
Will do, @panchagnula.

[2020-06-18 20:55] RyanHill-MSFT opened #14023 "webapp: Have --html default to OS of the app service plan"
**Is your feature request related to a problem? Please describe.**

`az webapp up --html` defaults to a Windows OS app service plan. If a customer wants to create a static web app on a Linux OS, this command wouldn't work.

**Describe the solution you'd like**

When using --html, the CLI should use the OS of the app service plan that's being passed in. If --plan is not passed, then simply default

[2020-06-18 21:27] shurd commented on #12668
The change has been merged and will be in the next release

[2020-06-18 21:27] #12668 closed

[2020-06-18 22:18] Mexicoder opened #14025 "edit create example"
create example
`az network nsg rule create -g MyResourceGroup --nsg-name MyNsg -n MyNsgRuleWithTags \
    --priority 400 --source-address-prefixes VirtualNetwork --destination-address-prefixes Storage \
    --destination-port-ranges * --direction Outbound --access Allow --protocol Tcp --description "Allow VirtualNetwork to Storage."
`

This: `  --destination-port-ranges *`  doesn't work without th

[2020-06-18 22:25] yonzhan commented on #14019
add to S172

[2020-06-18 22:28] yonzhan commented on #14021
ams

[2020-06-18 22:29] StephenWeatherford opened #14026 "Comments give errors with --handle-extended-json-format in certain locations, and gives bad error location"
Might be related to https://github.com/Azure/azure-cli/issues/13998

## Describe the bug

**Command Name**
`az group deployment create`

**Errors:**
[code]

## To Reproduce:
[bug2.zip](https://github.com/Azure/azure-cli/files/4801500/bug2.zip)
- `az group deployment create -g deleteme --template-file ./twoLinked-master.json --handle-extended-json-format --parameters @twoLinked-master.dev.params.js

[2020-06-18 22:30] #10417 closed

[2020-06-19 00:34] #10935 closed

[2020-06-19 00:51] yonzhan commented on #14023
webapp

[2020-06-19 00:52] yonzhan commented on #14025
add to S172

[2020-06-19 00:55] yonzhan commented on #14026
add to S172

[2020-06-19 01:32] #12868 closed

[2020-06-19 01:36] #13922 closed

[2020-06-19 01:36] #13945 closed

[2020-06-19 01:39] yonzhan commented on #1636
add to S172

[2020-06-19 01:43] shurd commented on #11831
Hi @Ulrich208 sorry for the delay in responding. It looks like this issue has been resolved as I can no longer replicate it. Can you please retry the command?

az cosmosdb mongodb collection create -a {} -g {} -d {} -n {} --shard id --idx "[{\"key\": {\"keys\": [\"bar\"]}}]"

The result contains this index:
{
        "key": {
          "keys": [
            "bar"
          ]
        },
        "op

[2020-06-19 01:43] yonzhan commented on #10946
add to backlog

[2020-06-19 01:45] shurd commented on #13229
Hi @nohajc sorry for the delay. We have an active thread with our Mongo DB team investigating if we are missing something in our resource provider (the request goes through ARM for the non-deprecated command). I will be sure to update here as soon as we identify any required fixes.

[2020-06-19 01:51] yungezz commented on #14020
hi @bim-msft could you pls have a look? thanks

[2020-06-19 01:51] qianwens commented on #13804
@eliassal , you can update the password with `az ad credential reset` https://docs.microsoft.com/en-us/cli/azure/ad/sp/credential?view=azure-cli-latest#az-ad-sp-credential-reset

[2020-06-19 02:15] qwordy commented on #14001
I tried on Ubuntu 20.04 on Windows 10 with WSL and the latest version is installed. Could share your output of this command?
Also @fengzhou-msft
[code]

[2020-06-19 02:23] #13931 closed

[2020-06-19 02:37] zhoxing-ms commented on #13422
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-06-19 02:37] #13422 closed

[2020-06-19 02:57] #11031 closed

[2020-06-19 03:06] seanmck commented on #13915
Closing as not-actionable. Please reopen if there is a clear repro.

[2020-06-19 03:06] #13915 closed

[2020-06-19 03:08] #10718 closed

[2020-06-19 03:08] seanmck commented on #13477
Closing per the comment above from @bpdohall. AKS only supports 2 patch releases per minor version. If the patch release specified is no longer supported, you will get this error.

[2020-06-19 03:08] #13477 closed

[2020-06-19 03:11] jcastiblanco opened #14028 "webapp: error trying to list webapps in resource manager from VSCode in Ubuntu 20"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list --resource-group {}`

## Expected Behavior

## Environment

[2020-06-19 03:13] #12242 closed

[2020-06-19 03:16] #13092 closed

[2020-06-19 03:17] yonzhan commented on #14028
webapp

[2020-06-19 03:19] #13288 closed

[2020-06-19 03:22] yonzhan commented on #12875
add to S172

[2020-06-19 03:23] yonzhan commented on #12886
add to backlog

[2020-06-19 03:25] #12935 closed

[2020-06-19 03:26] yonzhan commented on #13483
add to S172

[2020-06-19 03:27] #13726 closed

[2020-06-19 03:28] shurd commented on #11137
I believe @ravgill is working on adding support for this in the CLI now.

[2020-06-19 03:28] #12720 closed

[2020-06-19 03:29] #13096 closed

[2020-06-19 03:29] shurd commented on #13156
Closing this issue now. If you still encounter the error, please open a support ticket or open a new issue with more information.

[2020-06-19 03:29] #13156 closed

[2020-06-19 03:31] yonzhan commented on #10765
add to S172

[2020-06-19 03:39] shurd commented on #13535
We are adding the free tier option to the swagger now, which will add it to the auto-generated SDKs. This is a pre-requisite to adding it to the CLI.

For the "Account Type", this tag does not impact the behavior or functionality of the account. It is used to label accounts either for portal experience or metrics. If you want the tag on the account, you can provide it using the --tags option when

[2020-06-19 03:43] MyronFanQiu commented on #13614
closed this one since it's usage question and should be solved. feel free to reopen it if you still have any question.

[2020-06-19 03:43] #13614 closed

[2020-06-19 04:23] yonzhan commented on #8768
@mydiemho any update?

[2020-06-19 04:25] zhoxing-ms commented on #12977
The PR for adding examples has been merged, so I close this issue first. If you have any supplementary examples, please feel free to let us know~

[2020-06-19 04:25] #12977 closed

[2020-06-19 04:26] yonzhan commented on #10034
add to S172

[2020-06-19 04:27] yonzhan commented on #3447
add to S172

[2020-06-19 04:30] zhoxing-ms commented on #13840
The SDK of Track1 does not support it. So only complete Track2

[2020-06-19 04:30] #13840 closed

[2020-06-19 04:38] zhoxing-ms commented on #10868
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-06-19 04:38] #10868 closed

[2020-06-19 04:59] shibinj commented on #14009
Thank you.  However, observed somethings.  If I opened cloud shell via https://shell.azure.com and close the browser and then open Azure Cloud Shell client from my local desktop / laptop, it works perfectly.

[2020-06-19 05:04] zhoxing-ms commented on #4802
In fact, I found out through the debug mode of PowerShell that PowerShell already adds line breaks to a multi-line string when requesting a Service, Such as:
WebTest becomes
[code]
I think modifying the ARM template of customers before requesting a Service is not in line with the design and destroys the customers's input to some extent
So waiting for the reply from the service team in #12909

[2020-06-19 05:05] MyronFanQiu commented on #9734
Closed this issue since I think they're already fixed or not met by us.

[2020-06-19 05:05] #9734 closed

[2020-06-19 05:11] zhoxing-ms commented on #12909
By the way, I find that the processing of mutil-line string in PowerShell is to add newline characters and then compress it into a single line before requesting a Service, Such as:
[code]
I think modifying the ARM template of customers before requesting a Service is not in line with the design and may destroys the customers's input to some extent.

[2020-06-19 05:13] MyronFanQiu commented on #13859
@christiankuhtz Hi. Do you still meet this issue?

[2020-06-19 05:15] zhoxing-ms commented on #13967
@techadmin1982 May I ask could you find correlationId?

[2020-06-19 05:17] yonzhan commented on #9517
add to S172

[2020-06-19 05:18] rukawata opened #14031 "az login fail on SLES12 SP5"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --service-principal -u {} -p {} --tenant {}`

## Expected Behavior

##

[2020-06-19 05:20] jiasli commented on #13855
Thanks for the information! I was wonder if you still have permission to the home folder. Could you try to write something to upper locations?

[code]

@PowellTravis, is `**Redacted**` yourself as shown in the terminal's prompt?

[code]

[2020-06-19 05:21] yonzhan commented on #13776
add to S172

[2020-06-19 05:45] Juliehzl commented on #12242
In addition, warning message is refined in PR https://github.com/Azure/azure-cli/pull/13963

[2020-06-19 06:01] yungezz commented on #14031
hi @arrownj could you pls have a look? thanks

[2020-06-19 06:03] Juliehzl commented on #13308
Hi @ElYusubov , I cannot reproduce your issue in Cloud Shell. Could you share debug information with me using `--debug` in your command?

[2020-06-19 06:38] Juliehzl commented on #13314
This part should be owned by cosmosdb team. Add @ramrajprabu for the new feature request in cosmosdb table.

[2020-06-19 06:52] Juliehzl commented on #13333
Hi @rangernet , could you share more information about your issue with `--debug` in your command? I cannot reproduce your issue in my machine.

[2020-06-19 07:09] daveMitra commented on #14023
let me know which command should I choose to create the static HTML web app on Linus OS

[2020-06-19 07:33] arekpalinski commented on #13573
Yes, WSL. It's a bash script.

[2020-06-19 07:56] shurd commented on #14000
Hi @sandeepkundala thank you for opening this issue. These commands are marked as deprecated (they will not show up in the --help menu). Unfortunately, the documentation is auto-generated from the help file, but it does not hide or mark deprecated commands. Unless we completely remove these commands, they will still appear in the documentation.

[2020-06-19 07:56] astapell commented on #13393
Hi @yungezz , the issue was gone on cloudshell for a time , I am not sure this was a result of the az (re)login command. It does now re-occurs for us since yesterday. As you were following up on the issue, can you tell me a bit more on it and if this can be a periodic issue?

[2020-06-19 08:02] chwarr commented on #13096
The help content that I see as of 2020-06-19 is the same as when I reported this:

I don't think this has actually been resolved.

[2020-06-19 08:03] ttjackott opened #14032 "'az storage entity insert' code example returns 'error: incorrect usage: entity requires: RowKey'"
When attempting to use the az storage entity insert code example the service returns the following error:
**"az storage entity insert: error: incorrect usage: entity requires: RowKey"**

This is from these docs:
https://docs.microsoft.com/en-us/cli/azure/storage/entity?view=azure-cli-latest#az-storage-entity-insert

The code example i'm following is here (with --connection-string and --table-name

[2020-06-19 08:13] tofuatjava opened #14033 "Sample in the lerningpath will not work"
I'm working on the storage learningpath
https://docs.microsoft.com/en-us/learn/modules/upload-download-and-manage-data-with-azure-storage-explorer/
I'm able to create a storage accoutn an the sample project in C#. But the verification of the storage account failed for some reason (but i copy&pasted the command and entered a valid name for the storage account)
Creating the sample projekt works, run

[2020-06-19 08:43] astapell commented on #13393
Hi @yungezz, my impression is that a certain time after first user login to cloudshell , oauth2 token expires and causes issues to some objects creation as the keyvault. Using az login again renews this token and fixes the issues for another period. Can you confirm I am correct?

[2020-06-19 08:48] Juliehzl commented on #13406
I can reproduce the issue in my machine.

[2020-06-19 08:50] Juliehzl commented on #13406
For `az storage container list`, ResourceNotFound will be returned. For `az storage container create`, ConnectionError will be returned.

[2020-06-19 08:54] Juliehzl commented on #13498
In windows, use `Ctrl` + `C`.

[2020-06-19 09:16] klinki opened #14034 "[App Services]:az appservice ase list fails with bad request"
## Describe the bug

**Command Name**
`az appservice ase list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Use azure CLI
- `az appservice ase list`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-06-19 09:17] Juliehzl commented on #13500
For upload-batch command, cli will use original file name as blob name, and blob name has some requirements as shown here https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referencing-containers--blobs--and-metadata#blob-names.

So it is by design for Invalid Naming failure. you need to rename your file names for upload-batch. sorry for inconvenience.

[2020-06-19 09:54] yonzhan commented on #14033
I think this issue is not related to CLI but a PowerShell issue.

[2020-06-19 09:55] yonzhan commented on #14032
add to S172

[2020-06-19 09:56] houk-ms commented on #12623
Closed due to no response for long time.

[2020-06-19 09:56] #12623 closed

[2020-06-19 09:57] fengzhou-msft commented on #12719
Close as not caused by azure cli.

[2020-06-19 09:57] #12719 closed

[2020-06-19 09:58] fengzhou-msft commented on #12769
Close due to inactivity. Please feel free to reopen if you still have issues with the latest azure-cli.

[2020-06-19 09:58] #12769 closed

[2020-06-19 10:00] houk-ms commented on #12751
Closed due to no response for a long time. Open anthoer issue if anthor error occurs.

[2020-06-19 10:00] #12751 closed

[2020-06-19 10:04] JoeSainsburys commented on #12751
@qwordy sorry for the late response. This is all I know. The ticket number was REG:120042825000603 if that helps.

[2020-06-19 10:09] fengzhou-msft commented on #13339
@GabyCT You can submit feedback here: https://docs.microsoft.com/en-us/azure/virtual-machines/workloads/redhat/redhat-imagelist

CLI Team is not involved in image build and distribution.

[2020-06-19 10:13] fengzhou-msft commented on #13343
Duplicate with #13958
More details in #14011

[2020-06-19 10:13] #13343 closed

[2020-06-19 10:22] yonzhan commented on #14034
appservice

[2020-06-19 13:29] yonzhan commented on #10764
add to S172

[2020-06-19 13:34] #11581 closed

[2020-06-19 13:38] yonzhan commented on #13819
add to S172

[2020-06-19 13:52] yonzhan commented on #13631
add to S172

[2020-06-19 15:47] ArsalanGul opened #14035 "trying to upload zip file through azure CLI but it gives "No file to upload""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az dls fs upload`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az dls fs upload --bpdata --source-path {}`

## Expected Behavior

## E

[2020-06-19 15:57] srikanthnd commented on #12797
This is the answer that I was looking for.  Extremely helpful.  Such a tiny thing to consider and I still can't find it in the document.  Can't believe that I have look in to the github to find this as a solution.  MUST be documented.

[2020-06-19 17:36] tanmayeekamath commented on #8736
Hello @loskutak
Thanks for your feedback.

Can you please help understand your scenario a bit more?
What are creating the labs for and how do lab users access lab VMs?

[2020-06-19 18:03] amberbhargava commented on #11369
As mentioned above, offer ID is a billing construct so it is not available through the Subscription - Get API. The API does have quota ID, which can be used to differentiate subscriptions of different types (Ex: Microsoft Azure Enterprise, Pay as you go, etc.).

[2020-06-19 18:03] #11369 closed

[2020-06-19 18:13] ggailey777 commented on #13466
I also agree that SKUs should be listable both for App Service and Functions.

[2020-06-19 18:40] briglx opened #14036 "command failed with an unexpected error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container show -g {} -n {}`

## Expected Behavior

## Environment S

[2020-06-19 21:07] robconery commented on #7131
It's 2.5 years later and this is still a problem I'd like to politely suggest that our runtime story RE Linux/Windows could be improved. Please reopen. I just ran into this today and it was discouraging to see a thread from 2018.

[2020-06-19 21:52] cgordoncarroll opened #14037 "Verifying the role assignments of a system-managed policy identity requires case changes"
## Describe the bug
There is an outstanding bug in the Azure Policy Assignment API Here: https://github.com/Azure/azure-powershell/issues/10196

This requires a user to manually assign permissions to a system-generated identity via a workaround (either Powershell or AZ Cli). When I retrieve the `roleDefinitionIds` from a policy definition to ensure that the workaround was successful, I have to cha

[2020-06-19 22:42] djcornutt opened #14039 "Cannot create service principal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

I ran this and got the below error. The 2 variables referenced did indeed have the correct value:
ARM_CLIENT_SECRET=$(az ad sp create-for-rbac \
  --name http://ansible-sp-$UNIQUE_ID \
  --role Contributor \
  --scopes "/subscriptions/$ARM_SUBSCRIPTION_ID" \
  --que

[2020-06-19 22:58] yonzhan commented on #14035
add to S172

[2020-06-19 23:02] yonzhan commented on #14036
container

[2020-06-19 23:06] yonzhan commented on #14037
add to S172

[2020-06-19 23:08] yonzhan commented on #14039
add to S172

[2020-06-19 23:10] djcornutt commented on #14039
Do I need to upgrade something?

[2020-06-19 23:35] yonzhan commented on #13649
add to backlog

[2020-06-19 23:57] #10743 closed

[2020-06-20 00:14] #13632 closed

[2020-06-20 00:16] yonzhan commented on #13634
add to S172

[2020-06-20 00:21] lilyjma commented on #13579
@jfggdl do we have any update on this?

[2020-06-20 00:30] lilyjma commented on #13833
Hi @sebastiaanvandesteeg, we're looking to understand usage scenarios and pain points when customers are using Event Grid. Would you be interested in giving us some feedback on your experience with the library?

[2020-06-20 11:57] panmanphil commented on #9427
I am seeing this now with the latest visual studio 2019, 16.6.2 and .net core 3.1.  I noticed every day the first time I tried launch a project in visual studio, though if I clear the account, `az account clear` and then use a device code login I'll be ok for the day.

[2020-06-20 12:24] softveda opened #14040 "Webapp:az webapp config not able to set "Incoming Client Certificates""
I am using the `az webapp config set` command.
Can't find an option to set the "Incoming Client Certificates" settings.
Both to set the options Require/Allow/Ignore and to add Exclusion paths.
See:
![image](https://user-images.githubusercontent.com/1845906/85201647-72990380-b344-11ea-84a2-2ca68f283b1c.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2020-06-20 15:55] yonzhan commented on #14040
webapp

[2020-06-20 17:45] adeptusnull opened #14041 "fresh install of az cli on ubuntu. az vm list gives error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm list`

## Expected Behavior

## Environment Summary
[code]
## Additiona

[2020-06-20 18:01] adeptusnull commented on #14041
Disregard, looks like the ubuntu package manager installed a really old version of az cli on Ubuntu 20.04 LTS

Used this solution to resolve it.

[2020-06-20 18:01] #14041 closed

[2020-06-20 22:56] seanmck commented on #13399
Unfortunately, this is just how tsv output works in the Azure CLI - it only outputs the top level properties. Since the version information is embedded in a collection, it doesn't get displayed. We would need the suggestion in #8344 to provide a better experience. Closing since this is not currently actionable for AKS.

[2020-06-20 22:56] #13399 closed

[2020-06-21 01:31] RichardNixon52 commented on #12689
Any updates on this issue?

[2020-06-21 02:31] #13644 closed

[2020-06-21 02:33] yonzhan commented on #12689
@allegradomel any update?

[2020-06-21 02:49] adeptusnull commented on #14041
this solution fixed it https://github.com/Azure/azure-cli/issues/14011

[2020-06-21 04:31] fengzhou-msft commented on #13524
@jsntcy any idea how to add a feedback module like the doc site did?

[2020-06-21 23:42] jiasli commented on #12797
Hi @srikanthnd, thanks for the feedback. I will go ahead and add this to CLI document as well

[2020-06-22 01:33] yungezz commented on #14039
hello @djcornutt where did you meet the error? In Cloudshell or windows terminal?

[2020-06-22 01:34] yungezz commented on #14036
hello @briglx where did you meet the error? in Cloudshell or windows terminal? thanks

[2020-06-22 01:54] houk-ms commented on #12751
@sanghoonkim0918 @JoeSainsburys Thanks for reporting this issue. But we could not reproducce the error this time. If you encounter this issue again, feel free to reopen the issue here so that we can see more details.

[2020-06-22 01:58] zhoxing-ms commented on #13410
@heavenwing Hi, this is a known issue of Cloud Shell and we have an issue #11749 to trace it. You can run `az login` first as a workaround.
So I close it first, and we will keep tracking this issue in #11749 .

[2020-06-22 01:58] #13410 closed

[2020-06-22 02:06] zhoxing-ms commented on #13759
@speediefarf Could you please show the details of the error?

[2020-06-22 02:57] zhoxing-ms commented on #13527
@silentbobbert  Thank you for your feedback. I have found the cause of the bug in `az Resource tag`. And I will submit a PR to fix the problem

[2020-06-22 03:10] SQLDataSide commented on #13330
Hi I cant get it working i have

SubscriptionName='Pay-As-You-Go'
ResourceGroupName='My_RG'
Location='WestUS2'
AzureDataExplorer='myapplicationadx'
SkuName='Dev(No SLA)_Standard_D11_v2'
Capacity=1

az kusto cluster create --name $AzureDataExplorer \
                        --resource-group $ResourceGroupName \
                        --location $Location \
                        --sku SkuName \

[2020-06-22 03:16] Juliehzl commented on #14035
Hi @ArsalanGul, are you working with ADLS Gen1 account?

According to the error message, it seems you forget to provide `--destination-path` parameter value, could you check your usage again and use `--help` to see more with examples?

[2020-06-22 03:23] Juliehzl commented on #13637
dupe with #13517, #13586

[2020-06-22 03:23] #13637 closed

[2020-06-22 03:23] #13657 closed

[2020-06-22 03:28] Juliehzl commented on #13612
@praveen-pk May I know how you install azure cli?
If you are using `pip install`, could you try `python3 -m pip install cffi` to resolve the issue?

[2020-06-22 03:29] #13725 closed

[2020-06-22 03:37] #12872 closed

[2020-06-22 03:38] #12864 closed

[2020-06-22 03:41] seanmck commented on #13303
Looks like a transient download failure. Please reopen if it's consistent.

[2020-06-22 03:41] #13303 closed

[2020-06-22 03:58] djcornutt commented on #14039
Cloudshell

Ask me about migrating your on-premises infrastructure to Azure!

________________________________
From: Yunge Zhu <notifications@github.com>
Sent: Sunday, June 21, 2020 9:33:20 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Drew Cornutt <Drew.Cornutt@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli] Cannot create service principal (#14039)

[2020-06-22 04:19] #8640 closed

[2020-06-22 04:19] #9038 closed

[2020-06-22 05:09] jsntcy commented on #13524
@BasHamer, below is the code for "feedback" section in docs site
`<section class="feedback-section is-relative" data-bi-name="feedback-section">

    <h2 id="feedback" class="is-size-2 has-margin-top-large">{%- loc feedback -%}</h2>

    <div class="alert choose-feedback-type has-margin-top-small has-margin-bottom-none">
        <p aria-hidden="true" id="send-feedback-about" class="has-margin-top-

[2020-06-22 05:33] Juliehzl commented on #13602
@qwordy reducing display items is fine to you, right?

[2020-06-22 05:37] Juliehzl commented on #13509
Hi @iUnknwn, when no `--auth-mode login` specified, cli command will query account key as credential for your operation.

But in general, we will recommend users to provide credentials by themselves according to their own scenarios.

[2020-06-22 05:39] yungezz commented on #14039
Thanks @djcornutt . This is a known issue in Cloudshell due to #11479. Cloudshell team is working on it. A workaround is to run `az login` again.

[2020-06-22 05:47] Juliehzl commented on #13704
Hi @Alexei-B, thanks for your feedback.

To  not break existing users' scripts, we are thinking that adding one additional argument to represent that users want to include nextMarker in the response. If you still have any concern, feel free to let me know.

[2020-06-22 05:55] Juliehzl commented on #10190
Hi @boillodmanuel, you may need to go to other repos, e.g. https://github.com/Azure/azure-sdk-for-go? I only own CLI related part and cannot provide more for other parts.

[2020-06-22 05:55] #10190 closed

[2020-06-22 05:56] Juliehzl commented on #10765
will refine the error message for incorrect padding.

[2020-06-22 06:07] Juliehzl commented on #10753
Hi @gambtho, there is no response for a long time. There is a server issue before, but it should be fixed already.

Please have a try again and if there is any issue, feel free to reopen the issue or create a new one.

[2020-06-22 06:07] #10753 closed

[2020-06-22 06:10] Juliehzl commented on #10729
Hi @ianemv, may I know your storage account name here?

[2020-06-22 06:49] Juliehzl commented on #10374
HI @dangrima90, in latest azure cli, you can use `az storage remove` with `--exclude-path`. You can ignore two paths using `az storage remove -c container --exclude-path "folder1/subfolder;folder2" --recursive --account-name account`.

[2020-06-22 06:57] astaykov opened #14043 "Create operation example refers to ambiguous --id parameter"
The second example of `az ad app create` (`create`) command makes a reference to an `--id` parameter. This parameter has no relevance to the `create` command. At least it is missing from the **required** and from **optional** parameters. Not only that, but Azure AD does not support creating application registrations with user provided `id`.  One can only guess, the `--id` is only there to compensa

[2020-06-22 07:10] #10374 closed

[2020-06-22 07:13] yonzhan commented on #14043
add to S172

[2020-06-22 07:15] Juliehzl commented on #10300
--fail-on-exist can help.

[2020-06-22 07:15] #10300 closed

[2020-06-22 07:23] Juliehzl commented on #10857
@microkost  could you add `--only-show-errors` in your command with latest azure cli? I am thinking that it may be caused that stderr string is converted to a NativeCommandError object and cli warning will be write to stderr.

[2020-06-22 07:32] Juliehzl commented on #12875
@AmitBarthwal after uploading, have you check the existence of your content in Portal or using `az storage blob list`?

[2020-06-22 07:33] fengzhou-msft commented on #14011
@bluca packaged it initially for testing and is blocked by https://github.com/Azure/azure-cli/pull/13490.

[2020-06-22 07:47] AmitBarthwal commented on #12875
@Juliehzl  yes, i checked on the portal, that the files are uploaded. But when running the application it shows previous version of application. Instead this is not happening on all the Blob storage accounts.
As on dev and prod, i am able to update the file and gets reflected as the same instant.

I am using VSTS devops to upload the project on the blob storage.

[2020-06-22 08:26] Juliehzl commented on #12875
it seems there are some issues in server side. @vinjiang do you have any idea about such scenario?

[2020-06-22 09:01] ezYakaEagle442 opened #14047 "AKS cluster upgrade with CLI still interactive even when setting --yes option"
**Describe the bug**

AZ CLI not does implement --yes to bypass confirmation when upgrading AKS Clusters

**To Reproduce**

az aks upgrade --control-plane-only --name $cluster_name -g $rg_name --kubernetes-version $version **--yes**

CLI then prompts:
_Since control-plane-only argument is specified, this will upgrade only the control plane to 1.18.6. Node pool will not change. Continue? (y/N)_

**

[2020-06-22 09:25] zhoxing-ms commented on #13580
@bquantump Hi, This is a typical question of how to pass JSON parameters in PowerShell environment. As for it, I give the following explanations:

Only double quotes are allowed to declare strings in [JSON syntax](https://www.json.org/json-en.html), but if the input parameters contain double quotes, it must be escaped, otherwise they will be treated as string encapsulation symbols.

The double quo

[2020-06-22 09:29] sebastiaanvandesteeg commented on #13833
@lilyjma I am happy to give feedback based on my experience, so far I really like Event Grid and the flexibility of it.  The pain point though is the fact I have to configure so much from the Azure Portal, I would like to setup my Event Grid with a Function App using Event Grid Trigger binding.

Right now it's easy to set it up using the Azure Portal, but I would like to connect my Function App th

[2020-06-22 09:30] zhoxing-ms commented on #13580
@bquantump For your scenario, there are two simple ways to pass parameters as follows:
[code]
[code]
If you still have any other questions, please feel free to let us know

[2020-06-22 09:46] yungezz commented on #14047
route to appropriate team

[2020-06-22 10:01] arrownj commented on #12746
Hi @compusaurusrex , I will close this issue first as there is no feedback for a long time. And your proposal can leverage current `az interactive` and auto-complete. You can reopen it or submit a new one. You can also email to azpycli@microsoft.com if further discussion is needed.

[2020-06-22 10:01] #12746 closed

[2020-06-22 10:01] zhoxing-ms commented on #10253
@YRollHid Could you please show me the specific parameters you used?

[2020-06-22 10:02] Juliehzl commented on #13437
consider migrating container operations to mgmt track2

[2020-06-22 10:12] arrownj commented on #12728
Do you mean you create a secret via CLI but it's not shown in portal unless you refresh the browser ? Could you please provide the exact reproduce steps? What's the actual and expected behavior you have for CLI ? Thanks very much.

[2020-06-22 10:48] jsntcy commented on #13968
It's a known issue in service side and will update once service is fixed.

[2020-06-22 11:08] jiasli commented on #9427
Hi @panmanphil, to help us better understand your issue,

1. Could you elaborate how you are using Azure CLI in Visual Studio?
2. If you are seeing a corrupted file, could you share the name and skeleton of the file? Please remove sensitive information.

[2020-06-22 11:13] erikbotta opened #14049 "azure-cli plugin not working after upgrade to jenkins LTS 2.235.1"
Previous version of jenkins LTS works ok with azure-cli.
No I get on master or slave same result :
`Failure: /bin/sh: 1: az: not found

Build step 'Azure CLI not found' changed build result to FAILURE`

[2020-06-22 11:45] dazinator opened #14050 "webapp: If values contain spaces should they be quoted?"
Please specify whether values that contain spaces should be wrapped in single or double quotes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30f2ae52-2c7f-7e7e-8a62-f1b614f281d3
* Version Independent ID: 9f23ff17-14e0-7800-0094-fb50a5fa91d6
* Content: [az webapp config appsettings](https://docs.microsoft.com/en-us/cl

[2020-06-22 11:56] yonzhan commented on #14050
webapp

[2020-06-22 11:58] yonzhan commented on #14049
@erikbotta please provide more details info about CLI command and error message.

[2020-06-22 12:46] yungezz commented on #13934
hi @yoshuhire sorry for late response, this is due to an known issue in Cloudshell #11749. A workaround is to run `az login` again.

[2020-06-22 13:05] yungezz commented on #13596
hi @JaviRpo sorry for late response, this is an known issue in Cloudshell #11749. As a workaround, pls try run `az login`.

[2020-06-22 13:12] yungezz commented on #13553
hi @bablushaikh could you pls share the error you met to help investigation? Thanks. below message isn't an error
[code]

[2020-06-22 13:16] raghav20 opened #14051 "Issue Deploying Azure Premium Functions from CLI"
So I create a function app using the following  but I need a Premium function app to be created the below command doesn't create one for me .

Also When I use the Function app I created from the UI I am not able to push any functions to it , it does show pushed in local but I see nothing in the Azure Function Web page (Azure UI)

Please Let me know how to deploy Premium Linux Azure Function in pyt

[2020-06-22 13:16] yungezz commented on #14051
thanks @RodgeFu . routing to apporpriate team

[2020-06-22 13:16] rnmakino opened #14052 "Can't create cache rule for Akamai CDN endpoint"
**Command Name**
`az cdn endpoint rule action add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az cdn endpoint rule action add -g {} --profile-name {} -n {} --rule-name {} --action-name {} --cache-behavior {} --cache-duration {}`

## Expect

[2020-06-22 13:30] yonzhan commented on #14052
CDN

[2020-06-22 13:33] yoramsinger commented on #13968
@aarroyoc , thanks for reporting. This is a known issue that was already fixed, and should be available in all regions by tomorrow.
All deleted workspaces are kept in the backend for 14 days until the data is purged. The difference between force and soft deletes is that for force we release the workspace name where in soft we keep it for you, since names are globally unique.
The bug was that we di

[2020-06-22 13:59] ezwiefel commented on #13927
@jikuma I don't remember which registry name and location were causing the issues

[2020-06-22 15:02] BryanSoltis commented on #9141
I'm getting this same error when developing a PowerShell Azure Function. Any update on this issue?

[2020-06-22 15:08] erikbotta commented on #14049
Command was any ... for example **az list**

Answer from build was : Failure: /bin/sh: 1: az: not found

Build step 'Azure CLI not found' changed build result to FAILURE

after downgrade jenkins master back to 2.222.4 is all ok again.
I tried also to reinstall plugin under 2.235.1. Tried to run on master or different jnlp slaves ... same problem with newer LTS master.

[2020-06-22 15:27] vladris commented on #13330
Try this:

[code]

+1 on getting this documented, it's not easy to figure it out...

[2020-06-22 15:29] ekelmans commented on #9141
Nope,

No reply from MS on this issue yet ☹

Met vriendelijke groet,

Theo Ekelmans
Sr. MS-SQL DBA

Ringwade 1
3439 LM Nieuwegein
T  +3130 663 7000
M +316 2127 4593
 <http://www.ordina.nl/> www.ordina.nl

Eerstelijn MS SQL Team
Werkdagen tussen 08:00 – 18:00
T +3130 663 77 77
E  <mailto:mssql@ordina.nl> mssql@ordina.nl

7x24 klanten: 0800-0231841

From: Bryan Soltis <notifications@github.com>
Sent

[2020-06-22 16:00] panchagnula commented on #14028
not an app service issue see https://github.com/Azure/azure-cli/issues/13644

[2020-06-22 16:00] #14028 closed

[2020-06-22 16:01] panchagnula commented on #13416
Same as  https://github.com/Azure/azure-cli/issues/13644

[2020-06-22 16:02] panchagnula commented on #13660
No related to app service - see https://github.com/Azure/azure-cli/issues/13644

[2020-06-22 16:04] panchagnula commented on #13447
No related tp app service see https://github.com/Azure/azure-cli/issues/13644 for more details

[2020-06-22 16:12] BasHamer commented on #13524
I'd like to include it on any documentation site. I like it and wanted to see if I could add it to the documentation that we were building for a package (http://www.aprentidigital.com/DSLDocumentation/).  I've found answers to questions in the azure documentation, and it is more inviting to leave feedback, and inherently reduces duplicate issues.

It looks like it is custom code and not a componen

[2020-06-22 16:53] AShchepachev opened #14053 "Azure CLI az aks create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --node-count {} --enable-addon

[2020-06-22 16:55] AShchepachev commented on #14053
I use free account.
Command:
az aks create --resource-group kubernetesgrp --name democluster --node-count 1 --enable-addons monitoring --generate-ssh-keys

[2020-06-22 17:13] belgiajong commented on #13974
@qwordy and @yungezz any updates?

[2020-06-22 17:14] praveen-pk commented on #13612
I ran into this issue while using an older version of fedoraremix WSL Image. I reset my WSL environment recently and cannot reproduce the issue anymore. If this issue is not reproducible, please feel free to resolve it.

[2020-06-22 17:21] praveen-pk opened #14054 "AttributeError: 'NoneType' object has no attribute '__name__'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az storage container create --name {}`

## Expected Behavior

## Environment Summary
[code]
## Addit

[2020-06-22 17:23] praveen-pk commented on #14054
Following is the complete stack trace:

`$ az storage container create --name testing
/usr/lib64/az/lib/python3.6/site-packages/azure/multiapi/storage/v2018_11_09/common/_connection.py:82: SyntaxWarning: "is" with a literal. Did you mean "=="?
  self.protocol = self.protocol if parsed_url.scheme is '' else parsed_url.scheme
The command failed with an unexpected error. Here is the traceback:

'None

[2020-06-22 17:34] panmanphil commented on #9427
Part one of the answer is that I first notice that the file is corrupted because within visual stdio, when I start up a debug session, the normal startup that gets a token for keyvault with my identity instead of the managed service identity in azure is unable to load the the file from ~/.azure /accessTokens.json due to a  newtonsoft.json error. Then I go to the command line and type az login and

[2020-06-22 18:32] unbreakableIce opened #14055 "Webapp:Misleading error on CLI command 'az webapp config container set'"
When I ran the command:

**az webapp config container set --name web-app-name --resource-group resource-group --docker-custom-image-name image-repo:latest --docker-registry-server-url https://serverurl.azurecr.io --docker-registry-server-user user --docker-registry-server-password passord**

I received the following error /traceback

The command failed with an unexpected error. Here is the traceba

[2020-06-22 18:51] dochung4 opened #14056 "Changes related to dedicated host group automatic placement"
**Resource Provider**

Microsoft.Compute

**Description of Feature or Work Requested**

Today customers can place a VM on a dedicated host, by providing the ARM resource id of the dedicated host in the VM input.
The new feature is to support automatic placement of VMs and VMScaleSets on a dedicated host group. This means in the VM/VMScaleSet input, customers can specify the ARM resource id of the

[2020-06-22 19:29] KshitijAgrawal opened #14057 "Support cross tenant sig image version creation from images/snapshots/disks/vms in different tenants"
**Resource Provider**
Microsoft.compute

**Description of Feature or Work Requested**
az sig image version create/update need to be able to support cross tenant

**Minimum API Version Required**
None

**Swagger Link**

**Target Date**
Some customers are having to do workarunds. As more and more people are using cross tenant work, it becomes absolutely important for azure cx experience.

[2020-06-22 19:40] twllight commented on #13549
Hello,

I've updated my azure cli to version 2.7.0 and this seems to persist:

[code]
[code]

[2020-06-22 20:42] mgoular opened #14058 "Monitor the health of your Azure virtual machine by collecting and analyzing diagnostic data Exercise - Set up a VM with boot diagnostics"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --identity`

## Expected Behavior

## Environment Summary
[code]
## Additiona

[2020-06-22 21:48] briglx commented on #14036
This was in both Cloudshell and on windows. Turns out I was on China cloud.
It would have been nice to get a better error message.

On Sun, Jun 21, 2020 at 6:34 PM Yunge Zhu <notifications@github.com> wrote:

[2020-06-22 22:07] yonzhan commented on #14053
aks

[2020-06-22 22:08] vivlit opened #14059 "Function of --vm-protection"
Hi, I was just wondering what the function of the flag --vm-protection exactly is? In the documentation, it simply states that it can be enabled to turn on VM protection, but there is no further detail.

Some references:
https://docs.microsoft.com/en-us/rest/api/virtualnetwork/virtualnetworks/createorupdate
https://docs.microsoft.com/en-us/cli/azure/network/vnet?view=azure-cli-latest

 Thank you!

[2020-06-22 22:08] #13612 closed

[2020-06-22 22:16] yonzhan commented on #14054
add to S172

[2020-06-22 22:18] yonzhan commented on #14055
webapp

[2020-06-22 23:26] dbradish-microsoft opened #14060 "az hpc-cache nfs-storage-target --junction needs more information"
**Link to reference content:**
https://docs.microsoft.com/en-us/cli/azure/ext/hpc-cache/hpc-cache/nfs-storage-target?view=azure-cli-latest#ext-hpc-cache-az-hpc-cache-nfs-storage-target-add-examples

**Information provided for junction parameter:**
--junction
List of Cache namespace junctions to target for namespace associations.

**Sample provided that uses undocumented "sub parameter" values of n

[2020-06-23 00:18] cuzzlor commented on #13660
I read all that at the time, I still couldn’t make it work on a fresh install following all the instructions. Care to elaborate? Someone else’s job?

[2020-06-23 01:37] arrownj commented on #11550
Hi @gisairo , close this first. You can reopen it or submit a new one if you have other concerns.

[2020-06-23 01:37] #11550 closed

[2020-06-23 01:40] arrownj commented on #13226
Hi @Benauld , close this first. The cloud shell issue will be traced in #11749

[2020-06-23 01:40] #13226 closed

[2020-06-23 01:46] arrownj commented on #13533
Hi @mathurneha , any feedback for this issue ?

[2020-06-23 01:47] yungezz commented on #14056
thanks for @dochung4 for detail info. Just to confirm, is service feature deployed to Prod yet? Or pls share us timeline, then we can start testing and python SDK release, then CLI work.

[2020-06-23 01:48] yungezz commented on #14057
we had discussion in email. This will be supported via --aux-tenant argument.

[2020-06-23 01:49] yungezz commented on #14058
hello @mgoular could you pls share more detail about the ask and repro steps? Do you need a doc on how to monitor health of vm by setup VM with boot diagnostics? Or did you meet any error during the operation? Pls share more detail infoo to help investigate, thanks.

[2020-06-23 01:51] yungezz commented on #14059
hi @qwordy , could you pls help on this? thanks.

[2020-06-23 01:51] yungezz commented on #14060
routing to appropriate team

[2020-06-23 01:54] jiasli commented on #9427
I am sorry, but I still don't quite get how you are using Azure CLI. Are you directly reading `~/.azure /accessTokens.json` or sub-processing with `az account get-access-token`?

Anyway, both case may trigger this issue. We will try to use `portalocker` to avoid it.

[2020-06-23 01:54] gzuber opened #14061 "Implement Stacks API support in Azure CLI"
Azure CLI needs to support the new Functions Stacks API for creating new functions. This will help streamline adding/removing stacks for different runtime stacks.

[2020-06-23 01:58] dochung4 commented on #14056
Would testing in Canary work for you? Everything has been deployed to Canary, except for one small bit, which is expected to be deployed to Canary as well this week. The feature requires subscription whitelisting. I can whitelist subscriptions, if you could provide me subscriptionIds.

I am not completely sure about the timeline for prod and in which regions we are planning to enable first. But we

[2020-06-23 02:02] panmanphil commented on #9427
`az login` uses these tokens directly, no? I have to use `az account clear` to be able to login with either `az login` or with visual studio. I don't know what tool caused the corruption as I use both the command line and visual studio freely during the day. Here is an example of a corrupted file. the last few bytes are the problem

[code]

[2020-06-23 02:05] Juliehzl commented on #14054
Hi @praveen-pk, could you provide more information with `--debug` in your command?

[2020-06-23 02:16] yonzhan commented on #13660
@fengzhou-msft could you help with this?

[2020-06-23 02:18] jiasli commented on #9427
Visual Studio doesn't have any direct integration with Azure CLI, and don't share the credential cache with Azure CLI. I guess you are using some plugin to make it work?

`az login` does updates those tokens. If 2 instances of Azure CLI are running concurrently, this issue will happen. Please make sure there is no background Azure CLI running. If so please follow https://github.com/Azure/azure-cli

[2020-06-23 02:20] yonzhan commented on #14060
add to S172

[2020-06-23 02:21] arrownj commented on #13596
Hi @JaviRpo , do it work after you run `az login`. If no more concern, I will close this first, CloudShell problem will be traced in #11749.

[2020-06-23 02:22] yonzhan commented on #14061
functionapp

[2020-06-23 02:23] arrownj commented on #13591
Hi @roblohmann , this is a known issue of CloudShell. To workaround, you can run `az login` and rerun your commands. The CloudShell issue will be traced in #11949. Let me know if you have other problems.

[2020-06-23 02:27] arrownj commented on #13540
Hi @mvvsubbu , please kindly be noted that CLI do not support tab completion on Windows. You can try it on Linux or Mac.

[2020-06-23 02:30] arrownj commented on #13569
Hi @edsonharantes , how did you install CLI ? With `pip install` or from a MSI ?

[2020-06-23 02:42] Juliehzl commented on #14032
Hi @ttjackott, it seems that you add `"` for `--entity` value. could you check if you are using  `--entity "PartitionKey=ItineraryStatus3 AxStatus=CXL RowKey=Cancelled2"` in your command?

For `--entity` parameter, the acceptable value is key=value, e.g. `--entity a=b c=d`

[2020-06-23 03:00] panmanphil commented on #9427
We are using the azure cli to login with this library to aid in local development with managed service identities. Typically the login is once per day, not concurrent.
https://docs.microsoft.com/en-us/azure/key-vault/general/service-to-service-authentication#local-development-authentication

[2020-06-23 03:32] kentcb commented on #13696
@panchagnula Sorry for the delay - so much going on!

I've just tried this at a `cmd.exe` and it indeed works, so it's definitely a weird Powershell (both PS Core and "regular" PS) issue.

[2020-06-23 03:34] fengzhou-msft commented on #13954
@Andriy-dev please update the interactive extension with `az extension update -n interactive`

[2020-06-23 03:39] jiasli commented on #9427
@panmanphil, thanks for the detailed information. Not exactly `az login`, but the command `az account get-access-token` is run concurrently by `AzureCliAccessTokenProvider`:

https://github.com/Azure/azure-sdk-for-net/blob/5d331813d381c133cb50a4f9214b4c901bd133a4/sdk/mgmtcommon/AppAuthentication/Azure.Services.AppAuthentication/TokenProviders/AzureCliAccessTokenProvider.cs#L25

[code]

As you can

[2020-06-23 03:46] PowellTravis commented on #13855
Sorry for the late reply. Yes **Redacted** is myself.

[2020-06-23 03:53] zhoxing-ms commented on #9961
Yes, this problem is caused by that the [list-directories-and-files](https://docs.microsoft.com/en-us/rest/api/storageservices/list-directories-and-files) dose not return the file data which is deleted and only exists in the snapshot.
Fixing this problem requires that the Service's REST API support returns all files in the snapshot, including files that have been deleted but exist in the snapshot.

[2020-06-23 04:16] yugangw-msft commented on #13927
This is a setup issue, not ACR issue. In short, the azure-mgmt-containerregsitry was not pulled down. @ezwiefel, please tell us how you installed the CLI.
@fengzhou-msft

[2020-06-23 04:17] yugangw-msft commented on #13951
please reactivate with more details

[2020-06-23 04:17] #13951 closed

[2020-06-23 04:24] jkl2554 opened #14065 ""az ad app permission admin-consent --id " is not running with python error out"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad app permission admin-consent`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad app permission admin-consent --id {}`

## Expec

[2020-06-23 04:25] feiyushi opened #14066 "az image builder create ignores `vmProfile`"
**Describe the bug**

Bug reported by the author of issue #13972, and verified by me.
When used with `--image-template`, the image template created doesn't contain `vmProfile` node.
Noted that when used with `--debug`, the **json payload of PUT request** doesn't contain the `vmProfile` (though the service will reject the request due to a required missing field that cli has not yet supported).

**T

[2020-06-23 05:22] jiasli commented on #13855
Hi @PowellTravis, how about the operations I mentioned above? Could you try to write to the home folder as well?

[code]

[2020-06-23 05:24] yungezz commented on #14066
hi @qwordy could you pls have a look? thanks

[2020-06-23 05:25] yungezz commented on #14065
hi @jkl2554 where did you meet the error? Is it from CloudShell? If yes, this is a known Cloudshell issue #11749.

[2020-06-23 05:55] jongio commented on #6723
I ran into this today when trying to install Azure CLI on nanoserver.

It would be great if we could reconsider this.  It would allow us to get Azure CLI on nano without having to install python or pip as separate commands.

It doesn't look like too much work to create a WSA package.

[2020-06-23 06:16] hirenrpatel1610 opened #14067 "Azure Login issue from git"
HI All,

I have installed git for windows and while trying to login to Azure with az login I get below error.

Azure CLI is installed.

$ az login
Port '8400' is taken with error '[WinError 10048] Only one usage of each socket address (protocol/network address/port) is normally permitted'. Trying with the next one
Authentication Error: "['access_denied']". Description: "None"
Login failed

[2020-06-23 06:59] zhoxing-ms commented on #13311
@ahmadabdalla Hi, in fact, the [REST API for creating rollouts](https://docs.microsoft.com/en-us/rest/api/deploymentmanager/rollouts/createorupdate) has many parameters and complicated input logic, so it may be inconvenient to input parameters one by one. Using ARM templates for most scenarios is a simpler and reusable option.
So may I ask what scenario you prefer to use `az deploymentmanager roll

[2020-06-23 07:31] yonzhan commented on #14067
add to S172

[2020-06-23 07:31] panmanphil commented on #9427
Starting to make more sense now. Though the mechanics of threading in a .net core web app are little vague to me, I'd say yes it's multithreaded. Probably a bigger factor is that we run multiple web apps and functions locally at the same time, a service oriented architecture and any of the them could trigger the refresh token logic you found.

[2020-06-23 07:35] jsntcy commented on #10837
@arianpopalyar,
- `az monitor activity-log alert create --action-group` already supports sending email and sms by linking to action group, could you explain why it doesn't work for you?
- Also could you explain "but does not actually link it to the alert group"? I don't find "alert group" in monitor.

[2020-06-23 07:48] MyronFanQiu commented on #13351
@SanjayKishnani Hi. I cannot reproduce this issue. Could you please upgrade your Azure CLI to 2.7.0 and have a try?

[2020-06-23 08:13] MyronFanQiu commented on #13436
Hi. I checked the help message of `az network public-ip show` and we do have an example to show the actual ip address of a Azure Public IP.

[2020-06-23 08:27] jiasli opened #14070 "[Identity] Support concurrent build with MSAL"
## Description

The current management of file `.azure/accessTokens.json` is not thread-safe, which leads to issue #1347, #8766, #9427.

[microsoft-authentication-extensions-for-python](https://github.com/AzureAD/microsoft-authentication-extensions-for-python) already uses [portalocker](https://pypi.org/project/portalocker/) to handle concurrent accesses:

https://github.com/AzureAD/microsoft-auth

[2020-06-23 08:31] jiasli commented on #9427
We currently have a **beta release for Windows** which uses MSAL as the authentication library. It already contains the file locking mechanism. But we haven't fully tested it yet. (Will test it in #14070.)

You may want to give it a try: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest&tabs=azure-cli

[2020-06-23 08:44] yijiangzhu opened #14071 "can not download"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[code]
##

[2020-06-23 09:00] yungezz commented on #14071
hi @yijiangzhu could you pls share error you met?

[2020-06-23 09:02] yijiangzhu commented on #14071
[/glops/programs]#az aks install-cli
The command failed with an unexpected error. Here is the traceback:

<urlopen error [Errno 104] Connection reset by peer>
Traceback (most recent call last):
  File "/glops/programs/python3.6/lib/python3.6/urllib/request.py", line 1318, in do_open
    encode_chunked=req.has_header('Transfer-encoding'))
  File "/glops/programs/python3.6/lib/python3.6/http/client.

[2020-06-23 09:05] #13557 closed

[2020-06-23 09:06] danashviro opened #14072 "az acr login with subject name and issuer authentication error"
# az acr login with subject name and issuer authentication error

I'm trying to authenticate to Azure container registry with the cli. I'm using subject name and issuer authentication, and authenticating to azure with service principal.

that's what I do to login to azure:
`az login --service-principal --use-cert-sn-issuer -u {app id} -p {certificate .pem file} --tenant {tenant id}`

and it worked

[2020-06-23 09:07] yungezz commented on #14072
routing to appropriate team

[2020-06-23 10:44] MikkelHegn commented on #12871
Did anyone pick up this? `Could you create a PR to improve it?`

[2020-06-23 10:45] yonzhan commented on #14070
add to S172

[2020-06-23 10:52] shuqiyang commented on #10000
Hi
 think the result of this cmd 'az aks enable-addons -h' is just what values of addons it can accept, not what kinds of addons is available in Azure environment.
Problem will occur, when I use it in AzureChinaCloud.
It will give the same result as Azure Global, however, features like http_application_routing is not available for AKS in AzureChinaCloud

[2020-06-23 11:15] pbloigu opened #14073 "--keyvault-secret not working with app gateway root cert"
## Describe the bug
Running az network application-gateway root-cert create with the parameter --keyvault-secret doesn't work, although, as per the [documentation](https://docs.microsoft.com/en-us/cli/azure/network/application-gateway/root-cert?view=azure-cli-latest#az-network-application-gateway-root-cert-create) it should accept the parameter. Looking at the debug trace, I can also observe the p