[2020-09-29 07:22] houk-ms commented on #15336
Closed since pr is opened to fix it.

[2020-09-29 07:22] #15336 closed

[2020-09-29 07:26] arrownj commented on #15335
Hi @chenlomis , why there is no output of `az group create` ? I tried as your commands and the group was created successfully. Could you please try once more with `--debug` ?

[2020-09-29 07:54] PtrKllr commented on #15332
Just reinstalled Azure CLI as it is mentioned above #14011

Thanks!

[2020-09-29 07:54] #15332 closed

[2020-09-29 09:23] jsacapdev opened #15346 "az deployment group create error message regressed in 2.12.1"
## Describe the bug

**Command Name**

`az deployment group create`

**Errors:**

[code]

## To Reproduce:

Create the following arm template:

[code]

Run the command:

`az deployment group create --name $(uuidgen) --resource-group euw-apipt-dev-rg-03 --template-file ./azuredeploy.json --debug`

## Expected Behavior

CLI should report back an error indicating the resource (storage account) alread

[2020-09-29 09:37] sonic1981 commented on #13655
I think I **finally** got to the bottom of this issue. It seems to be a resource problem, kudos to https://github.com/Azure/azure-cli/issues/11980#issuecomment-685823613.

I upgraded my service plan to a premium one and the problem seems to have gone away

[2020-09-29 09:38] sonic1981 commented on #11980
I can also confirm that this seems to be a resource issue. Upgrading my service plan fixed it.

[2020-09-29 10:38] yonzhan commented on #15346
deployment

[2020-09-29 11:07] djcse commented on #15329
@yonzhan any update on this --

condition on no of request works but not on cpu usage or memory

az monitor autoscale rule create  --resource-group MyResourceGroup  \
--autoscale-name MyAutoScale \
--condition "Requests > 200 avg 5m" \
--scale out 2

[2020-09-29 11:53] Suseelraj commented on #12903
Any updates on this feature yet? Everytime I update the settings, it redacts to "no" bit frustrating

[2020-09-29 12:18] davidcarboni commented on #14200
I was able to create an alias record using the `--target-resource` flag. I'm creating A record rather than a CNAME. I arrived here from a Google search about how to create an Alias record at the domain apex. From the documentation, it looks like that flag is available when creating a CNAME too.

Here's what I'm using (in Github Actions):

`front_door_id=$(az network front-door show --name ${{ env.

[2020-09-29 17:56] z0ran opened #15349 "command az vm missing antlr4"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm image list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm image list --all`

## Expected Behavior

## Environment Summary
[

[2020-09-29 18:26] smoop-msft commented on #15265
Are you saying to run this?
az rest -m get --header "Accept=application/json" -u ‘https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.Compute/skus?api-version=2020-06-01'

[2020-09-29 19:56] gzuber opened #15350 "[functionapp] Remove the "Preview" tag from Java 11 for az functionapp create"
Mirror issue: https://github.com/Azure/Azure-Functions/issues/1737

Java 11 is no longer in preview and should have the "Preview" tag in the help menu.

[2020-09-29 20:17] chenlomis commented on #15001
Shall I update the ETA for the issue here to end of Oct maybe?
https://azuretracking.visualstudio.com/Azure%20tracking/_queries/query/4795c832-1bde-41e1-be64-f0cccb2fd8f3/

[2020-09-29 20:24] Kraftwerx opened #15352 "--lb "" not working in az cli for Powershell"
While using either cloudshell or the CLI in any other bash session works, when running in Powershell, the command returns this:
az vmss create --name ... --lb ""
az vmss create: error: argument --load-balancer/--lb: expected one argument

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0408c294-207a-2b72-7b93-e09121602b7

[2020-09-29 20:45] hectoralicea opened #15353 "Getting 'ServiceError: code: LinkedInvalidPropertyId' on az network private-endpoint create"
**Describe the bug**
az network private-endpoint create does not work even when passing a valid private-connection-resource-id
I'm following the example at this website.
https://docs.microsoft.com/en-us/azure/postgresql/howto-configure-privatelink-cli#create-the-private-endpoint

**To Reproduce**
[code]
values for these variables are:
[code]

getting the following error
[code]
**Expected behavior*

[2020-09-29 20:52] Jackson-Miller opened #15354 "Cannot run commands - 400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad app show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad app show --id {} --debug`

## Expected Behavior

## Environment Sum

[2020-09-29 23:22] chenlomis commented on #15335
Thank you for all the follow ups
I'm not entirely sure what happened but when I reran the commands today it worked
![image](https://user-images.githubusercontent.com/30876406/94626363-d1d5b080-026f-11eb-8dd2-96945f7c08b0.png)

[2020-09-29 23:24] chenlomis commented on #15335
I do think though.. if it's an output message indicating that the feature is already turned on.. perhaps we could make it a generic output instead of an error like what Houk suggested (?)

[2020-09-30 00:44] #14687 closed

[2020-09-30 01:04] #15278 closed

[2020-09-30 01:20] arrownj commented on #15335
Hi @chenlomis , let's keep this issue open until the root cause is addressed. For the screenshot you give in the beginning, actually it is by design in 2.12.0. If `param-persist(local-context)` is turned on, CLI will raise an error and our error framework will automatically add a `ValidationError`. We will do 2 changes in the coming release:

1. From `param-persist(local-context)` side, we will on

[2020-09-30 01:30] qwordy commented on #15265
I usually send HTTP request using Postman. Command line tool is also a good choice, like `az rest`, `curl`, `wget`.

[2020-09-30 01:34] #15350 closed

[2020-09-30 02:03] yonzhan commented on #15353
add to S177

[2020-09-30 02:41] jsntcy commented on #15329
@djcse , we didn't have a chance to take a look and will update after investigation.
BTW, we'll have a 8 days public holiday from tomorrow, and update should probably be after the holiday.

[2020-09-30 02:46] yonzhan commented on #15354
add to S177

[2020-09-30 02:56] yungezz commented on #15352
hi @qwordy could you pls share how to pass empty string?

[2020-09-30 02:58] yungezz commented on #15349
hi @z0ran this is an known issue in Focal pacakge, which packaged into a out-of-date azure cli, Could you pls remove the exisitng azure cli and install latest one by adding auzre cli software repository detailed at #14011

[2020-09-30 03:00] yungezz commented on #15354
#11749

[2020-09-30 03:04] yugangw-msft commented on #13365
@shizhMSFT @sajayantony,  does it make sense that we expose `az acr helm login` and underneath we can invoke helm3's login command to set all up? If yes, does helm3 accept other credentials on top of the service principal? The other concern, minor, is we have already marked the whole "az acr helm" folder as deprecated as it was for helm2, so we might need to start from somewhere else like "az acr

[2020-09-30 03:05] yugangw-msft commented on #14774
@northtyphoon, any updates on this, or we have already resolved it?

[2020-09-30 04:38] oyyunttt opened #15362 "detyertyr"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeedb9a7-2aed-6727-4cfb-1515809d676e
* Version Independent ID: 2c83180d-22ad-db42-e2eb-f27f11977963
* Content: [az](https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#az-login)
* Content Source: [latest/docs-ref-autogen/r

[2020-09-30 05:11] #15269 closed

[2020-09-30 05:13] qwordy commented on #15352
You can use `--lb '""'` in PowerShell.
https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-with-powershell.md

[2020-09-30 05:18] yungezz commented on #15362
hi @oyyunttt could you pls be specific on the issue? Thanks.

[2020-09-30 07:39] MdeRhoter opened #15365 "az cosmosdb mongodb database throughput show/update does not work"
`az cosmosdb mongodb database throughput --resource-group rg --account-name accountname --name databasename --debug`

[code]
According to https://docs.microsoft.com/en-us/cli/azure/cosmosdb/mongodb/database/throughput?view=azure-cli-latest, it should work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 33348034-21db-96

[2020-09-30 07:45] apichat583 commented on #10913
I have Azure CLI 2.12.0 and I have the same error on an other command :
az container create `
  --name appcontainer `
  --resource-group $res `
  --image mcr.microsoft.com/azuredocs/aci-helloworld `
  --vnet myVNet `
  --subnet myACISubnet

[2020-09-30 10:21] yonzhan commented on #15365
cosmosdb

[2020-09-30 12:06] tp199314 opened #15366 "azure-cli installation on SLES12SP4 fails - once again"
**Describe the bug**
Cannot install azure-cli on SLES 12 SP 4

**To Reproduce**
Do Steps 1 to 4 from https://docs.microsoft.com/de-de/cli/azure/install-azure-cli-zypper#install

sudo zypper install -y curl
sudo rpm --import https://packages.microsoft.com/keys/microsoft.asc
sudo zypper addrepo --name 'Azure CLI' --check https://packages.microsoft.com/yumrepos/azure-cli azure-cli
sudo zypper install

[2020-09-30 12:17] tp199314 commented on #15366
Solution https://docs.microsoft.com/de-de/cli/azure/install-azure-cli-zypper#install-on-sles-12-or-other-systems-without-python-36 is not working too.

[2020-09-30 13:49] amitpuri opened #15368 "Webapp:az webapp config ssl import - not working"
this command is not working, though I am able import certificate from Key vault manually and run next command az webapp config ssl bind to thumbprint.

It errors out as below error message

This command is in preview. It may be changed/removed in a future release.
Unable to verify Key Vault permissions.
You may need to grant Microsoft.Azure.WebSites service principal the Secret:Get permission
Find

[2020-09-30 15:13] goldentigerindia opened #15369 "az login gives error sayign tis readonly file system"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**
geeth@Azure:~$ az login
UnexpectedError: The command failed with an unexpected error. Here is the traceback:
[Errno 30] Read-only file system: '/home/geeth/.azure/commands/2020-09-30.15-10-21.login.331.log'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-p

[2020-09-30 16:05] MisterCloudTech opened #15370 "az role definition create --role-definition example fails"
**Describe the bug**

When trying to create a new custom role definition using Cloud Shell Azure CLI, my script keeps failing.
I have tried to use the the example from the **az role definition create --role-definition** section in the Docs page, but also get an error here. All other examples I have located, utilize an external JSON file, and I like to use the script with embedded JSON code, for ea

[2020-09-30 16:26] WAftring opened #15371 "Failure creating AKS with Windows Nodes"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

Creating AKS with Windows nodes per [Creating AKS with Windows nodes per https://docs.microsoft.com/en-us/azure/aks/windows-container-cli](https://docs.microsoft.com/en-us/azure/aks/windows-container-cli).

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior.

[2020-09-30 16:29] yonzhan commented on #15368
webapp

[2020-09-30 16:30] yonzhan commented on #15371
AKS

[2020-09-30 16:30] yonzhan commented on #15370
add to S177

[2020-09-30 16:32] yonzhan commented on #15369
add to S177

[2020-09-30 16:34] jluk commented on #15371
@yonzhan this is a specific error to cloudshell trying to access the managed identity

[2020-09-30 16:48] chenlomis commented on #15335
Thank you! Love the response. Will run --debug in my future screenshots/issues too

[2020-09-30 17:44] shurd commented on #15291
I am adding a fix that will allow an empty string to reset ip rules on an account via the command line. For the particular issue you are seeing, I believe this is a powershell issue where it does not recognize "" as a valid parameter. @yungezz, do you know if there is a workaround for supplying an empty/null string via powershell?

[2020-09-30 17:46] duschmidt opened #15372 "Creating Container Instance in a Vnet causes a missing python module error"
### **This is autogenerated. Please review and update as needed.**

Attempting to create a container instance in a vnet generates a missing python module error

**Command Name**
az container create

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Configure a vnet, subnet, container reg

[2020-09-30 17:48] Craigmeister68 commented on #15291
Using PowerShell command is the current workaround for this issue with Azure CLI.

[2020-09-30 19:04] shurd commented on #14627
The improved error messaging is in PR, and we are working on getting it merged.

[2020-09-30 19:05] #13820 closed

[2020-09-30 19:05] #13869 closed

[2020-09-30 19:07] duschmidt commented on #15372
I've learned that if I create the container instance in the portal it will generate a network profile.  Thereafter I can use
` az container create --network-profile {profile name} ... `
and it works.

[2020-09-30 19:16] shurd commented on #15365
The provided response error code or 404 indicates that one of the resources was not found. Please ensure the account exists in the provided subscription/resource group. Additionally ensure that database exists (and the casing is all correct) and ensure that the database is a shared throughput database. If the database is not shared throughput, there is no associated offer, so it is expected for a

[2020-09-30 22:18] nnekkantigithub opened #15374 "Azure Powershell error while installing CLI for Kubernetes"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli --install-location={}`

## Expected Behavior

## E

[2020-09-30 22:41] davenicoll opened #15375 "Improve the default help message"
**Is your feature request related to a problem? Please describe.**
Typing `az monitor` (or any incomplete command without `--help`) results in an unintuitive help message -
[code]

**Describe the solution you'd like**
Rather than showing "Still stuck? tack on --help", why not automatically tack on "--help" and show the useful help documentation (so that `az monitor` would should show `az monitor -

[2020-09-30 23:07] maertendMSFT commented on #13160
Can this be closed as a dupe of https://github.com/Azure/azure-cli/issues/11749 ?

[2020-09-30 23:09] maertendMSFT commented on #13272
From a Cloud Shell standpoint, this is a dupe of https://github.com/Azure/azure-cli/issues/11749
If the quota issue is resolved, can we close?

[2020-09-30 23:10] maertendMSFT commented on #13421
Can we close this as a dupe of https://github.com/Azure/azure-cli/issues/11749 ?

[2020-09-30 23:11] maertendMSFT commented on #13681
Can we close this as a dupe of https://github.com/Azure/azure-cli/issues/11749 ?

[2020-09-30 23:13] maertendMSFT commented on #13887
Can we close this as a dupe of https://github.com/Azure/azure-cli/issues/11749 ?

[2020-09-30 23:14] maertendMSFT commented on #13924
Can we close this as a dupe of #13855 ?

[2020-09-30 23:14] maertendMSFT commented on #14065
Can we close this as a dupe of https://github.com/Azure/azure-cli/issues/11749 ?

[2020-09-30 23:15] maertendMSFT commented on #14108
Can we close this as a dupe of https://github.com/Azure/azure-cli/issues/11749 ?

[2020-09-30 23:15] maertendMSFT commented on #14230
Can we close this as a dupe of https://github.com/Azure/azure-cli/issues/11749 ?

[2020-09-30 23:16] maertendMSFT commented on #14276
Can we close this as a dupe of https://github.com/Azure/azure-cli/issues/11749 ?

[2020-09-30 23:16] maertendMSFT commented on #14318
Can we close this as a dupe of https://github.com/Azure/azure-cli/issues/11749 ?

[2020-09-30 23:17] maertendMSFT commented on #14393
Ping on @zsolt-bognar  for @BellaLi 's request

[2020-09-30 23:17] maertendMSFT commented on #14676
Can we close this as a dupe of https://github.com/Azure/azure-cli/issues/11749 ?

[2020-09-30 23:18] maertendMSFT commented on #14842
Can we close this as a dupe of https://github.com/Azure/azure-cli/issues/11749 ?

[2020-10-01 01:29] dkkapur commented on #15334
paging @macolso instead.

[2020-10-01 02:06] snaheth commented on #14197
Nice catch @doherty100! Looks like this happens because the ``--out table`` does not produce the expected behavior in the CLI code. We'll update the ARG extension code to account for newer API changes and we'll make sure the behavior for this scenario is correct.

[2020-10-01 04:12] macolso commented on #15334
Hey @textminer  - have you been able to successfully deploy an ACI container into this vnet before?

[2020-10-01 04:19] snaheth commented on #9517
Thanks @jiasli. Our team (Azure Resource Graph) will implement a transformer.py to address this. We'll update this thread on our progress.

[2020-10-01 04:58] amjads1 commented on #14106
Followed up with the extension owner multiple times, still waiting for the response. I will continue to track and update as soon as I have more information available.

[2020-10-01 08:57] yonzhan commented on #15372
container

[2020-10-01 09:00] yonzhan commented on #15374
aks

[2020-10-01 09:02] yonzhan commented on #15375
add to S177

[2020-10-01 09:04] #13160 closed

[2020-10-01 09:04] #13272 closed

[2020-10-01 09:05] #13421 closed

[2020-10-01 09:05] #13887 closed

[2020-10-01 09:06] #13924 closed

[2020-10-01 09:06] #14065 closed

[2020-10-01 09:06] #14108 closed

[2020-10-01 09:07] #14230 closed

[2020-10-01 09:07] #14276 closed

[2020-10-01 09:07] #14318 closed

[2020-10-01 09:08] #14676 closed

[2020-10-01 09:08] #14842 closed

[2020-10-01 09:38] pvrk commented on #15266
@narendraugh : Sorry for the delay in responding. Could you please check if the RG exists by using the ['az group exists'](https://docs.microsoft.com/cli/azure/group?view=azure-cli-latest#az_group_exists) command? Also, or location, please make sure that the value is as listed here ( ```az account list-locations --query "sort_by([].{DisplayName:displayName, Name:name}, &DisplayName)" --output tabl

[2020-10-01 10:08] adgrieve opened #15377 "Firewall policy premium properties addition + Firewall sku tier addition"
**Resource Provider**
Azure Networking (Firewall)

**Description of Feature or Work Requested**
Add firewall policy premium properties
Add firewall option to chose tier (Standard/Premium)

**Minimum API Version Required**
2020-07-01

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/pull/10780/
https://github.com/Azure/azure-rest-api-specs/pull/10929/

**Powershell Link**
https://gith

[2020-10-01 10:14] yonzhan commented on #15377
Firewall policy

[2020-10-01 10:26] #15038 closed

[2020-10-01 10:28] #14738 closed

[2020-10-01 10:28] #14741 closed

[2020-10-01 11:43] ptsapralis opened #15378 "Command "az sf cluster node-type add" fails with unexpected error "list index out of range""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sf cluster node-type add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sf cluster node-type add --capacity {} -c {} -g {} --node

[2020-10-01 11:55] #14544 closed

[2020-10-01 12:17] ptsapralis commented on #15378
Same error occurs when using "az" on Ubuntu Linux 16.04 & Windows Subsystem for Linux (WSL) with Ubuntu 16.04 on Windows 10.

[2020-10-01 12:26] subesokun commented on #11210
I'm using AZ CLI v2.12.1 but still having this issue. I've a user included into a group on subscription level that has read permissions on the subscription but `az role assignment list --all --include-classic-administrators --include-groups --include-inherited` doesn't list the user.

[code]

Any ideas?

[2020-10-01 13:57] yungezz commented on #15366
thanks for reporting. @fengzhou-msft could you pls have a look? thanks

[2020-10-01 13:58] yungezz commented on #15378
routing to appropriate team

[2020-10-01 14:00] yungezz commented on #15374
seesms cloud shell issue, cannot install to system dir in clouddrive

[2020-10-01 14:01] yungezz commented on #15371
hi @WAftring could you pls try `az login` to workaround? this is a known cloudshell issue #11749

[2020-10-01 14:03] Timost opened #15379 "az storage copy crashes: ValidationError: local variable 'service' referenced before assignment"
**Describe the bug**
When using the `az storage copy` command to move data from aws s3 to azure blob storage it crashes with:
`ValidationError: local variable 'service' referenced before assignment`.
This happens only on the `2.12.1` release of azure cli, the same command works with azure-cli `2.11.1`
[code]

**To Reproduce**
The command I run looks like this:
[code]

**Expected behavior**
The com

[2020-10-01 14:03] yungezz commented on #15368
cc @bim-msft for awareness

[2020-10-01 14:06] #14869 closed

[2020-10-01 14:28] yonzhan commented on #15379
add to S177

[2020-10-01 14:37] brandonwittwer commented on #14142
Notably, the domain verification id is the same for all app services on the same subscription.  the following query gives you a list of all subscriptions you have access to.

`
az graph query -q "Resources | join kind=leftouter (ResourceContainers | where type=='microsoft.resources/subscriptions' | project SubName=name, subscriptionId) on subscriptionId | where type == 'microsoft.web/sites'| proje

[2020-10-01 15:18] WAftring commented on #15371
@yungezz The az login workaround no longer reproduces the issue

[2020-10-01 15:41] MikeMorawski commented on #11425
This is the way I have done it:

`(-join (az version) | convertFrom-Json).'azure-cli'`

[2020-10-01 16:59] textminer commented on #15334
Hi @macolso, yes, with my previous laptop I could create it within that vnet before. I moved into a new laptop, install the latest az cli tool and I can't anymore.

[2020-10-01 17:09] DaCheeseMan commented on #13681
Yes.

Den tors 1 okt. 2020 01:11Danny Maertens <notifications@github.com> skrev:

[2020-10-01 17:34] jkewley opened #15380 "List available IPs inside a subnet"
**Is your feature request related to a problem? Please describe.**
The CLI currently has a way to check for free IPs in a vnet by using `az network vnet list-available-ips`. This is very useful, but some enterprises have network architectures which would benefit from being able to specify a subnet qualifier. This was touched upon in #6876, but was closed after implementation of the vnet scope.

**

[2020-10-01 17:48] axayjo commented on #14642
Looking into this issue.

[2020-10-01 18:33] scrofungulus opened #15381 "Unable to install Azure CLI on Windows without admin access to machine"
**Is your feature request related to a problem? Please describe.**
As the title states, there is not currently a way (or I have not been able to find one) to install the Azure CLI without having admin privileges to the machine. This is fine for personal machines, but employer owned machines are typically highly locked down.

**Describe the solution you'd like**
A sane way to install the cli withou

[2020-10-01 18:46] bquantump commented on #15381
@scrofungulus Thank you for your request.

A work around is to pip install the CLI: pip install azure-cli

It is recommend you do this through a virtual environment (so it doesn't apply system wide) although not required: https://packaging.python.org/guides/installing-using-pip-and-virtual-environments/

[2020-10-01 19:13] orangenagy commented on #11809
This was closed - was there a plan to incorporate this feature into az cli?

[2020-10-01 22:49] bbkane opened #15382 "for `az keyvault certificate list`, `--maxresults` can't be set higher than 25 results"
**Describe the bug**

I need to be able to enumerate all of my certificates in a keyvault. There exists a parameter, `--maxresults`,  that shows an error if set higher than 25. This severely reduces the usefulness of this command - I need to be able to see the certs I have.

**To Reproduce**

[code]

**Expected behavior**

I should be able to set `--maxresults` larger than 25 to be able to enumera

[2020-10-01 23:21] b564518128 opened #15383 "Remove DNSProxyRequiredForNetworkRule in Azure Firewall and Azure Firewall Policy"
**Resource Provider**
NRP (Azure Firewall)
NVFRP (Azure Firewall Policy)

**Description of Feature or Work Requested**

Remove a flag introduced with below requests
  - Remove `RequireProxyForNetworkRules` introduced in #13638
  - Remove `dns-require-proxy-for-network-rules` introduced in #13350

**Minimum API Version Required**

05-01-2020 (NFVRP)
No API requirement for NRP

**Swagger Link**

**T

[2020-10-01 23:51] yonzhan commented on #15380
feature request

[2020-10-01 23:57] yonzhan commented on #15383
feature request

[2020-10-02 00:45] wasker opened #15384 "How to create rule with a very long list of match-value args?"
I'm attempting to create a custom WAF rule to block users outside of certain ranges of IP addresses. I have 300+ IP address blocks on that list. If I put all these as `match-value=xxx` into the list of arguments, cmd.exe fails to launch the command due to a very long command line (the length is limited to 2K, IIRC).

Is there a way to pass all arguments from the file? Or pass list of values from t

[2020-10-02 00:49] yonzhan commented on #15384
cdn

[2020-10-02 04:55] naf-mac opened #15385 "Unable to create azure key vault via azure cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault create --resource-group {} --name {} --enabled-for-deploy

[2020-10-02 07:50] ChristopherEquinor commented on #9047
I get this error due to OS differences, not PowerShell versions.

I can recreate a similar issue with identical PowerShell versions.

####  PSVersion 7.0.3 on Windows 10

 I run `az ad app list  --query "[?contains(displayName,'$value')].objectId"`, and get the error `].objectId was unexpected at this time.`

#### PSVersion 7.0.3 on Linux 4.15.0-1095-azure (Azure Cloud Shell)
 I run `az ad app lis

[2020-10-02 09:15] matteocalabro-tomtom opened #15386 ""postgres flexible-server" can't create Burstable instances"
## Description

According to:

[code]

Burstable instances are

| SKU | Tier | VCore | Memory | Max Disk | IOPS
| --- | --- | --- | --- | --- | ---
| Standard_B1ms | Burstable | 1 | 2 | GiB | 640
| Standard_B2s | Burstable | 2 | 4 | GiB | 1280
| Standard_D2s_v3 | GeneralPurpose | 2 | 8 | GiB | 3200
| Standard_D4s_v3 | GeneralPurpose | 4 | 16 | GiB | 6400
| Standard_D8s_v3 | GeneralPurpose | 8 | 32

[2020-10-02 09:26] #15386 closed

[2020-10-02 09:32] matticala opened #15387 "'postgres flexible-server' can't create 'Burstable' instances"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az postgres flexible-server create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az postgres flexible-server list-skus -l westeurope -o table`

| SKU | Tier | VCore | Memory

[2020-10-02 09:58] yonzhan commented on #15387
postgres

[2020-10-02 10:30] yonzhan commented on #15163
@dbradish-microsoft  could you please help with this?

[2020-10-02 10:31] yonzhan commented on #15175
@irenehua, any update?

[2020-10-02 11:17] ArgTang commented on #13365
@yugangw-msft using `az acr helm repo add -n myregistry` works, `helm repo add https://myrepo.azurecr.io/helm/v1" does not. So we are dependent on az cli to login, and renewing the accesstoken. Is there a timeline for login in with helm natively? using OCI type helm charts is not feasable, since it the implementation is missing alot of features.

[2020-10-02 11:34] mloskot commented on #15372
FYI, this issue can also be reproduced following the Container Instances > How-to guides > [Deploy container instances into an Azure virtual network](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-vnet)

[2020-10-02 11:43] #15019 closed

[2020-10-02 11:53] theabubakkar commented on #6750
i am also facing an issue. let me know how to type the tag name. i am doing like this: **--tags 'AutoStartOn=true'**

[2020-10-02 12:52] PawelAntosik-TomTom opened #15388 "New command would be expected "az ad app member list --id"'"
**Is your feature request related to a problem? Please describe.**

I have no easy possibility to get all members of my Azure AD enterprise application.
**Describe the solution you'd like**

I would expect a command "az ad app member list --id " which would return all members of my enterprise application.
**Describe alternatives you've considered**

I was looking for some alternative command but I

[2020-10-02 14:58] steve9001 commented on #15353
Are there extraneous double quotation marks around the value for `$PRIVATE_CONNECTION_RESOURCE_ID` ? I.e. it expects the value to start with `/subscriptions/...` but it starts with `"/subscriptions/...`

[2020-10-02 15:09] yungezz commented on #15385
hi @naf-mac this is a known issue in Cloudshell, detail in #11749 . could you pls run `az login` to workaround? thanks.

[2020-10-02 15:35] oliviercastonguay opened #15389 "Add the az login --scope parameter"
**Is your feature request related to a problem? Please describe.**
We are using the Windows Task Scheduled to automate the execution of some powershell scripts that use the az login command.  Sometimes, we only require read-only access so we login using a read-only account.  Sometimes, write access are necessary.  The issue is that since the session scope is the same on any powershell sessions, if

[2020-10-02 15:44] nmishr opened #15390 "az webapp deployment source config-zip fails with decotator error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment source config-zip --src {} -

[2020-10-02 16:41] mloskot opened #15391 "[az container create] ModuleNotFoundError: No module named azure.mgmt.network.v2018_08_01"
## Describe the bug
**Command Name**

`az container create`

The problem happens in both cases
- creating a container in a new virtual network
- creating a container in an existing virtual network

**Errors:**
[code]

## To Reproduce:

[code]

[code]

## Expected Behavior

## Environment Summary

[code]
## Additional Context

This issue seems to be affecting Azure CLI only, as @duschmidt explained

[2020-10-02 16:43] mloskot commented on #13191
@gtonello

Unfortunately, with `azure-cli 2.12.1` this workaround is no longer successful, see https://github.com/Azure/azure-cli/issues/15391

[2020-10-02 17:04] carlosnunez-10m commented on #15029
Hi! Any updates?

[2020-10-02 17:44] shurd commented on #15291
Hi, by powershell, I mean the shell used to execute the "az cosmosdb update" command, not the powershell modules. Running the command in powershell versus command prompt yields different results because of how they handle the empty string.

[2020-10-02 18:06] wasker commented on #15384
I'm pretty sure it's going to be the same problem with WAF for Azure Front Door as well.

[2020-10-02 18:46] mloskot commented on #13191
I have found an alternative to `az container create`, using Azure REST based on https://docs.microsoft.com/en-us/rest/api/virtualnetwork/networkprofiles/createorupdate

[code]

Obviously, the same can be achieved using `cURL` or https://httpie.org

[2020-10-02 20:09] yugangw-msft commented on #13365
@ArgTang, two questions
     1. On `renewing access tokens`, did you log in az cli using user account? If yes, that means az cli will need to drive helm3 command
     2. Are you looking at helm3 or helm2? I thought you were on helm3, but not so sure any more per your comment of `using OCI type helm charts is not feasible`

[2020-10-02 20:17] mattduguid commented on #12192
I got both the private and public key exported using the following, worth noting in my test the certificate in keyvault had no password protection and was marked as exportable

az keyvault secret download --id https://<YOUR_VAULT_NAME>.vault.azure.net/secrets/<YOUR_CERTIFICATE_NAME> --file certificate.pem

[2020-10-02 20:54] ArgTang commented on #13365
yes using user account.

We are using helm3. We tried using OCI, but there are currently too many restrictions that we can use it. With the deprecation of the az acr helm commands and the docs that steers users towards using OCI, i just need to voice the need for the current helm workflow until the OCI implementation becomes more feature complete.

[2020-10-02 21:30] wasker opened #15393 "CDN WAF IPRange validation is too strict"
**Describe the bug**

When overlapping IP ranges provided in WAF rule configuration, rule cannot be created.

**To Reproduce**

`az cdn waf policy custom-rule set --resource-group rg-name --policy-name somepolicyname --name rulename --action Block --priority 100 --match-condition match-variable=RemoteAddr operator=IPMatch negate=true match-value=123:45:6:7::8/64 match-value=123:45:6:7::9/64`

**Ex

[2020-10-02 21:59] yonzhan commented on #15389
login

[2020-10-02 22:00] yonzhan commented on #15390
webapp

[2020-10-02 22:02] yonzhan commented on #15391
container

[2020-10-02 22:03] yonzhan commented on #15388
add to S177

[2020-10-02 22:09] yonzhan commented on #15393
cdn

[2020-10-02 22:10] sebansal commented on #11576
it is by design that key vault would not return exported cert file with password.

[2020-10-02 22:10] #11576 closed

[2020-10-02 22:10] rachel-msft commented on #15387
Thanks for reaching out. We'll investigate this and get back to you.

[2020-10-02 22:26] sebansal commented on #12288
It is by design that key vault does not export certs with password.

[2020-10-02 22:26] #12288 closed

[2020-10-02 22:34] sebansal commented on #9763
This was a product bug and has been fixed.

[2020-10-02 22:34] #9763 closed

[2020-10-02 22:40] mj1856 commented on #13397
There's an example here:
https://github.com/Azure/app-service-linux-docs/blob/master/BringYourOwnStorage/BYOS_azureFiles.json

[2020-10-02 23:32] lfittl-msft commented on #15387
@matteocalabro-tomtom Thanks for reporting this - we can reproduce this, and confirm this is a bug.

We'll work on fixing this & will update you here when its done.

[2020-10-03 00:40] sajayantony commented on #13365
@SteveLasker + @bridgetkromhout

[2020-10-03 01:04] SteveLasker commented on #13365
ArgTang, can you help us understand the gaps you need filled?

[2020-10-03 02:38] rthorn17 commented on #13368
@alex-frankel can you see if this is a deployment issue or does it need to be with identity. Thanks

[2020-10-03 06:54] thall commented on #12288
Then azure key vault and azure cloud not an option.

[2020-10-03 09:03] kmadof opened #15394 "Webapp:Setting deployment slot connection string from file doesn't work"
**Describe the bug**
As it is mentioned [here](https://docs.microsoft.com/en-us/cli/azure/webapp/config/connection-string?view=azure-cli-latest#az_webapp_config_connection_string_set) for `az webapp config connection-string set ` I'm trying to set `slot-settings` from file

Space-separated slot connection-string in a format of either <name>=<value> or @<json_file>.

But without any effect. For mor

[2020-10-03 09:11] kmadof opened #15395 "Webapp:Setting connection string from file"
**Is your feature request related to a problem? Please describe.**
I want to be able to sync settings between slots. On of the part is to set connection strings from file as it is possible with app settings ('az webapp config appsettings set')

**Describe the solution you'd like**
I want to be able to run this command:

`az webapp config connection-string set --name hadar --resource-group TheCodeM

[2020-10-03 11:03] ArgTang commented on #13365
@SteveLasker When i tested OCI charts there was two blockers.
1. `helm (upgrade --)install myocirelease acrrepo/ocichart` is not implemented. This is a user experience issue, but more importantly is not compatible with tools like argocd and fluxcd.
2. OCI charts as a dependency, is missing from helm. Any non trivial chart have one or more dependencies, so we are unable to migrate from non-oci char

[2020-10-03 11:20] bengodeloson opened #15396 "az deployment group create issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az deployment group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az deployment group create --name {} --resource-group {} --te

[2020-10-03 13:22] #15285 closed

[2020-10-03 14:23] yungezz commented on #15394
routing to appropriate team

[2020-10-03 14:24] yungezz commented on #15395
routing to appropriate team

[2020-10-03 14:26] yungezz commented on #15390
known issue in https://github.com/Azure/azure-cli/issues/14011. HI @nmishr this is due to package issue in Focal. Could you pls remove existing Azure CLI and install latest one via instruction in https://github.com/Azure/azure-cli/issues/14011? thanks.

[2020-10-03 14:27] yungezz commented on #15390
https://github.com/Azure/azure-cli/issues/14011

[2020-10-03 23:27] #13250 closed

[2020-10-04 07:06] hunter86bg opened #15397 "[Feature] Caching proxy uses header 'If-Modified-Since' but that is currently not supported."
**Is your feature request related to a problem? Please describe.**

az cli cannot work properly behind a transparent & caching proxy (squid, OPNsense 20.7.3) and reports the following:
[code]

**Describe the solution you'd like**
[code]

[2020-10-04 10:45] yonzhan commented on #15397
add to S177

[2020-10-04 20:21] brahma-farms opened #15398 "Unable to create Azure FarmBeats using CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --resource {}`

## Expected Beha

[2020-10-04 20:35] brahma-farms opened #15399 "`az account get-access-token`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --resource {}`

## Expected Beha

[2020-10-04 21:18] ITChristos commented on #15211
I had the same problem because I created a different storage resource, I hit the power icon to restart the cloud shell, rebooted and everything worked fine.

[2020-10-04 23:35] BrahmaFarmsLLC opened #15400 "Unable to created AAD Subscriptions for FarmBeats"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-10-04 23:39] joruales opened #15401 "`az login --identity` max retries exceeded. Connection timed out"
I have been seeing the following error since Oct 3rd as part of our deployment pipeline:

[code]

The same pipeline was working Oct 2nd. Has anyone seen a similar issue?

[2020-10-04 23:49] yonzhan commented on #15398
add to S177

[2020-10-04 23:51] yonzhan commented on #15399
add to S177

[2020-10-04 23:54] yonzhan commented on #15400
dup with #15398

[2020-10-04 23:54] #15400 closed

[2020-10-04 23:56] yonzhan commented on #15401
add to S177

[2020-10-05 07:49] timvanderweijde commented on #15011
@yungezz
No, I'm logged in under my own account (with the highest privileges) and run above commands.
And as a I mentioned before, the created user identity was added to the Application Gateway with the flag -identity already.

[2020-10-05 08:21] vicioussn commented on #9585
"servicePrincipalProfile": {
          "ClientId": "[parameters('aksServicePrincipalId')]",
          "Secret": "[reference(resourceId('Microsoft.Resources/deployments', 'dynamicSecret'), '2015-01-01').outputs.outputSecret.value]"
          //"Secret": "[reference('dynamicSecret').outputs.outputSecret.value]"

Reference will also fail with same error, because it does contain quotes.

[2020-10-05 13:30] franzoir opened #15402 "az deployment group what-if results in ValidationError: InternalServerError"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az deployment group what-if`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- None, deploying an update to pre-existing resource group with 80 keyvaults.
- `az deployment group wh

[2020-10-05 13:41] yonzhan commented on #15402
add to S177

[2020-10-05 13:46] yungezz commented on #15399
hi @brahma-farms this is a known Cloudshell issue detail in #11749, could you pls run `az login` to workaround?

[2020-10-05 13:49] franzoir commented on #15402
edit: after a few more attempts I now managed to get the expected result with stage template, but fails sporadically.
Consistent failures with prod template.

[2020-10-05 14:56] francoran commented on #15401
we're totally blocked for 2 days now because of this

[2020-10-05 15:22] ROC38983 opened #15403 "Modify Azure Policy Scope"
[Enter feedback here]
I was looking at the _az policy assignment create_ and couldnt find a modify function to allow modification of existing
policy Scope definition.  This would be useful for allowing existing Azure policies that have a defined Scope, to modify the Scope to allow for gradual testing and deployment versus creating a new policy for each Scope.

---
#### Document Details

⚠ *Do not

[2020-10-05 15:31] brahma-farms commented on #15399
I tired the ax login still it is not working
On Mon, Oct 5, 2020 at 9:47 AM Yunge Zhu <notifications@github.com> wrote:

[2020-10-05 17:23] tshaiman commented on #15401
we are blocked 2 days as well

[2020-10-05 19:37] sabbour opened #15404 "Unable to create Azure Red Hat OpenShift clusters"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aro create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aro create --resource-group {} --name {} --vnet {} --master-subnet {} -

[2020-10-05 19:51] sabbour commented on #15404
This was running in the Azure Cloud Shell. I needed to do an `az login` to refresh the Azure AD token. Perhaps a more descriptive error message is needed.

[2020-10-05 20:26] roger-rainey opened #15405 "az login with user managed identity causes error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Using az login generates the following error
**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --identity -u {} --debug`

[2020-10-05 21:00] bsherwin opened #15406 "public-network-enabled no longer supported"
The argument `--public-network-enabled` is not supported, but still listed in the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c608162e-cf40-9d53-da4a-51f51a0311ea
* Version Independent ID: eccbb543-be68-7de2-d41d-abee55c81452
* Content: [az acr](https://docs.microsoft.com/en-us/cli/azure/acr?view=azur

[2020-10-05 21:40] amjads1 commented on #14106
@ajay15283 , @qwordy - Can you try these following steps that helps to understand on how to remove the OMS agent. These steps should help when portal/waagent think the extension is in the wrong state.

Per OMSLinuxAgent team, only removing the RPM/DEB packages won't make waagent/ARM 'believe' that the extension is uninstalled.

Please try these steps and update if this resolve the issue.

[2020-10-05 21:47] mhoeger opened #15407 "Support Node.js 14 for Azure Functions create"

[2020-10-05 21:59] shubham90 commented on #15401
Our deployments are also failing with the same error since last couple of days. Both az cli and azcopy cli are failing with the same error.

[2020-10-05 22:19] MaurGi commented on #13368
This keeps happening, I have to rerun a 20 minutes script because this randomly happens

[2020-10-05 22:24] alex-frankel commented on #13368
I don't know how the `role assignment create` CLI command (or the TF provider Go code) generates the role assignment name, but there is usually some hashing function involved because it requires a GUID for the roleAssignment. It shouldn't happen often, but depending on the hashing seed that is used, this can occur. Do either CLI or TF provider allow you to pass the name of the roleAssignment direc

[2020-10-05 22:29] jongio commented on #13368
Yes, custom name is allowed
https://www.terraform.io/docs/providers/azurerm/r/role_assignment.html#argument-reference

Will try that as a stopgap

[2020-10-05 22:50] kmadof opened #15409 "WebApp:Can't remove Deny access-restriction rule"
**Describe the bug**
I can't remove rule when I have only Deny rules in access restriction.

**To Reproduce**
Add `Deny` rule
` az webapp config access-restriction add -g TheCodeManual -n Hadar --slot Slot-test --rule-name block-me --action Deny --ip-address 79.184.1.1/1 --priority 199`

Try remove it:
`az webapp config access-restriction remove -g TheCodeManual -n hadar --slot Slot-test --rule-na

[2020-10-06 01:40] lfittl-msft commented on #15387
@matteocalabro-tomtom FYI: The fix for this is scheduled to go out at the end of October - we will update the issue once a new CLI release is out that has the bugfix.

In the meantime, you should be able to workaround by using an ARM template for automation: https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/quickstart-create-server-arm-template?tabs=portal%2Cazure-portal

[2020-10-06 03:37] tylerjgarland commented on #9599
Thanks, you helped me solve my issue.

[2020-10-06 05:57] joruales commented on #15401
This is working again now (at least for our team)

[2020-10-06 06:06] prajyot-joshi-kr commented on #15240
@panchagnula any update on this issue ?

[2020-10-06 07:33] VariableDeclared commented on #15272
As a workaround for this, it is possible to add NICs via Azure Templates - but not on the Load Balancer itself. NICs on the VMs need to be updated, not Load Balancer -> NICs. Example below:
[code]

[2020-10-06 11:37] giri-teja opened #15410 "az login error: Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='login.microsoftonline.com', port=443)"
Hi all,

i have azure sandbox which i got from my company, am trying to deploy simple spring boot application in azure so i have done configuration in my POM and installed CLI when i try to deploy my application from cmd i see one challenge on the command az login

C:\Users\C53101>az login
ValidationError: Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='login.mic

[2020-10-06 12:10] yungezz commented on #15409
routing to appropriate team

[2020-10-06 12:11] yungezz commented on #15407
routing to appropriate team

[2020-10-06 12:11] yungezz commented on #15406
routing to appropriate team

[2020-10-06 12:13] yungezz commented on #15404
hi @sabbour you're right, this is a known Cloudshell issue, detail in #11749. Run `az login` explicitly is a workaround.

[2020-10-06 12:38] yonzhan commented on #15403
add to S177

[2020-10-06 12:44] yonzhan commented on #15405
add to S177

[2020-10-06 12:55] yonzhan commented on #15410
add to S177

[2020-10-06 13:23] giri-teja commented on #15410
@jiasli: any idea on this issue

[2020-10-06 13:39] yonzhan commented on #15401
The timeout error indicates the managed identity endpoint on the VM is not responding, so Azure CLI fails to retrieve an access token.
Please open a support ticket and check why the endpoint is not working.

[2020-10-06 16:02] sam-cogan opened #15411 "Az acr helm repo add should support the --force-update flag"
**Describe the bug**

Helm has made a breaking change that it no longer overwrites existing repos, and instead throws an error saying the repo already exist. This can be resolved using the --force-update but the Az command does not support this.

Please don't come back with the suggestion to use the Helm 3 command, OCI support is still experimental and so will prevent many users from being able to

[2020-10-06 16:57] panchagnula opened #15412 "webapp: Add support to sync a cert to the latest version on AKV"
On a webapp when we import a cert from AKV - there is no way to force sync the app to use the latest version from AKV. Portal has 'Sync' option - if a customer doesn't want to wait for our background sync job to be completed.

<img width="442" alt="image" src="https://user-images.githubusercontent.com/13839372/95234783-5c5f6800-07ba-11eb-8d16-eb03c313c9a2.png">

[2020-10-06 17:00] yugangw-msft commented on #15406
@bsherwin
It is supported and we don't have any plans of removing it.  Please try newer version of CLI or share how you installed the CLI

[2020-10-06 17:01] perkops commented on #15009
So - the two steps are actually from each of their own pipeline - so a wait would not work.

It cant give you more information than I have already provided - it should be enough to fix the error.

[2020-10-06 17:02] #15401 closed

[2020-10-06 17:03] perkops commented on #15009
@panchagnula I cant find any button to re-activate the issue.

[2020-10-06 17:05] panchagnula commented on #15009
@perkops is there a reason you believe this is a CLI error? if you run the CLI commands without devops pipeline would it work?

[2020-10-06 17:05] ahamad-MS commented on #13966
Hello @Sarah-Aly .. Can you please let us know if this issue still persist for you? From the error it seems the the Azure function is not created initially.

If the issue still exist, can you please share the details of a new attempt that fails and provide us with details about SubId/Rg and event subscription Name, Region, exact time of when it happens (you can email me these info directly if you

[2020-10-06 17:06] perkops commented on #15009
Yes - it works if we run the commands from local azure cli.

[2020-10-06 17:20] panchagnula commented on #15009
That makes me believe its something to do with Devops pipeline & this is repo is for CLI only. @yonzhan this issue is specific to using CLI commands to devops pipeline any pointers on how to help @perkops ? Thanks!

[2020-10-06 17:20] ahamad-MS commented on #13833
Hello @sebastiaanvandesteeg .. Thanks for reporting this issue and requesting this feature.

Can you please add this request through the Azure feedback (user voice). Link is here: https://feedback.azure.com/forums/909934-azure-event-grid .. This will allow it to be voted on and makes it to our planning list.

Said that, it seems the ask here is to automatically create when function is created? is

[2020-10-06 17:25] sebansal commented on #12288
To address this - **I don't want to give access to download my keys or secrets in the KeyVault, because then i will expose other secrets that should not be revealed.**

You can grant role based access to provide fine-grained access management https://docs.microsoft.com/en-us/azure/key-vault/general/rbac-guide

[2020-10-06 17:29] ahamad-MS commented on #13579
Hello @nwohlgemuth nwohlgemuth. Thanks for reporting this issue. You are using quite old az cli version. Support service bus topic was already added to CLI long time ago. Please move to latest version (2.12 currently). The following is part of the create cmd help for event subscription

  --endpoint-type                                : The type of the destination endpoint.  Allowed

[2020-10-06 17:29] thall commented on #12288
How will that solve my initial issue? I don't see how I can achieve it  with your suggestion, or did I miss something?

[2020-10-06 17:31] bsherwin commented on #15406
You are correct. I had updated my cli on windows but not on WSL2. I was out of sync.

[2020-10-06 17:31] #15406 closed

[2020-10-06 17:34] jlichwa commented on #12288
@thall password protected certificates are not supported today. Please vote on User Voice for new feature request: https://feedback.azure.com/forums/906355-azure-key-vault/suggestions/32603098-add-support-for-storage-and-retrieval-of-password so we can push internally to provide that feature in the future.

[2020-10-06 17:38] nigarfin opened #15413 "webapp:az webapp up should use the free asp if it already exists instead of throwing error"
**Describe the bug**
When I ran az webapp up, instead of using the free ASP already existing it tries to create a new one and that causes the command to fail and I’m suggested to use a different region/sku. Note- I didn’t even specific a region so customers at this point wouldn’t know what the command is or what to input.

![image](https://user-images.githubusercontent.com/37638436/95239231-810a0e

[2020-10-06 17:39] thall commented on #12288
Thanks for clarification @jlichwa! Then Azure Key Vault isn't not a option for me.

[2020-10-06 18:23] maertendMSFT commented on #13393
Can we close this as a dupe of https://github.com/Azure/azure-cli/issues/11749?

[2020-10-06 18:24] maertendMSFT commented on #14470
Can we close this as a dupe of https://github.com/Azure/azure-cli/issues/11749?

[2020-10-06 18:24] brandonh-msft opened #15414 "az functionapp stop - doesn't stop Linux EP apps"
**Describe the bug**

When we do `az functionapp stop -g -n` for a Linux Elastic Premium instance, the app is not stopped. In our case the platform was node. For Windows we aren't seeing a problem.

**To Reproduce**

* Create an Elastic Premium Linux function app
* Attempt to use `az functionapp stop` to stop the app from the command line

**Expected behavior**

The app should stop and all servers

[2020-10-06 18:30] maertendMSFT commented on #13855
@Herve-Stephane so you are only able to create a file, but you are still getting issues when running commands?

[2020-10-06 18:36] jayaakshayan opened #15415 "webapp:az webapp config ssl upload should support app service plan in different resource group."
**Describe the bug**

**To Reproduce**
Create app service plan and web app in different resourcegroup. Use the az webapp config ssl upload command to upload the ssl certificate. The command executes with out any error but the certificate will not be visible in the webapp --->

**Expected behavior**

[2020-10-06 19:00] brandonh-msft commented on #15414
despite seeing this repeatedly in my azdo runs, it's now subsided; not sure if it was an ARM fluke or what. Will close for now.

[2020-10-06 19:00] #15414 closed

[2020-10-06 20:51] roger-rainey commented on #15405
I solved this issue by assigning the identity in the vm

[2020-10-06 20:54] jloaiza commented on #7150
The same is happening to me. 2 years and no answers? wow...

My command and its response:
[code]

My key was generated using:

[code]

**Environment summary:**
WSL 2 - Ubuntu 20.04
Az Client 2.12.1

[2020-10-06 21:16] Sarah-Aly commented on #13966
Hi @ahamad-MS , this was a few months ago & the scenario we were working with has changed. However, I'm pretty sure that the destination was already created & ready to be used. The workaround I did at the time was to make the bash script ignore the logs from running `az eventgrid`  which is not optimal of course :).
``bash
      az eventgrid event-subscription create --name "egt-$app_name" \

[2020-10-06 21:16] #13966 closed

[2020-10-06 21:16] donantoniosantos opened #15417 "az logic workflow list errors out after adding ips to access control list"
**Describe the bug**

After adding IPs to the access control list and running `az logic workflow list` , I would get the following:

[code]

**To Reproduce**

add an IP range to the access controls of a logic app workflow and run `az logic workflow list`
**Expected behavior**

Expecting to show details of logic workflow resources

**Environment summary**

[code]

**Additional context**

[2020-10-06 21:34] 500InternalServerError opened #15418 "Issue with blob set-tier if closed parenthesis is in the blob name"
**Describe the bug**
Attempted to set the tier on a blob and received the error listed below.  This appears to only occur with a closed parenthesis is in the name of the blob.  Interestingly, open parenthesis is fine.  Confirmed this command works for all of my other data.

On a separate note, files with this name uploaded and downloaded fine using upload-batch and download-batch.

PS C:\> az stor

[2020-10-06 21:43] 500InternalServerError commented on #15418
Just to add, if I run the python command myself and qualify the file name with quotes it works.  I actually needed to add quotes for my connection string as well.

For example:
C:> "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\..\python.exe" -IBm azure.cli storage blob set-tier --container-name CONTAINERNAME --name "(File).zip" --tier Cool --connection-string "DefaultEndpointsProtocol=htt

[2020-10-06 23:31] rohithjidagam opened #15420 "Not able to run azure cli tasks in ADO jobs"
Hi, Since last 3 hours, I was not able to run any azure-cli tasks using build pipelines. All were failing with the below issue:

C:\windows\system32\cmd.exe /D /S /C ""C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\az.cmd" login --identity

##[error]Error Code: [1]
##[error]Error: Azure login failed using Managed Service Identity
##[error]Script failed with error: UnexpectedError: The comma

[2020-10-06 23:32] rohithjidagam commented on #15420
Error Log:
-------------
C:\windows\system32\cmd.exe /D /S /C ""C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\az.cmd" login --identity"
UnexpectedError: The command failed with an unexpected error. Here is the traceback:

Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-unpacked-wheel-tuw8_17y\knack\cli.py", line 215, in invoke
  File "C:\Users\VSSADM~1\A

[2020-10-06 23:54] singlessis opened #15421 "webapp: Change name assigned to app service managed certificates"
**Describe the bug**
Free Certificates are named after their custom domain. This is causing issues with traffic manager domains, as multiple free certs cannot be issued to to the same domain.

**To Reproduce**
Trying to create a two free certificates for the same domain will result in a naming conflict ARM error.

**Expected behavior**
We need to change the name assigned to free certs, so that mor

[2020-10-07 01:25] yonzhan commented on #15411
acr

[2020-10-07 01:26] SuperTonic09 opened #15422 "Unable to get the -d"
[Enter feedback here]
The following command: `az policy state list --policy-definition "$name"` returns null; while `az policy state list --query "[?policyDefinitionName=='$name']"` using the _same_ id value works, is it a bug?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ca46c96d-8c88-7c4a-d75f-1c6c45d0f75c
* Versio

[2020-10-07 01:26] yonzhan commented on #15412
webapp

[2020-10-07 01:29] yonzhan commented on #15009
devops pipeline service team should look into this.

[2020-10-07 01:31] nspyke opened #15423 "az find error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az find`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az find "create iothub"`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-10-07 01:32] yonzhan commented on #15413
webapp

[2020-10-07 01:34] #14470 closed

[2020-10-07 01:35] yonzhan commented on #15415
webapp

[2020-10-07 01:36] yugangw-msft commented on #15411
This ask essentially is on idempotent.
Assigning to @SteveLasker as this is on helm2

[2020-10-07 01:37] #15405 closed

[2020-10-07 01:39] yonzhan commented on #15417
logic

[2020-10-07 01:40] yonzhan commented on #15418
add to S177

[2020-10-07 01:42] nspyke commented on #15423
Resolved by updating to latest (2.12.1)

[2020-10-07 01:42] yonzhan commented on #15420
devops

[2020-10-07 01:43] yonzhan commented on #15421
app service

[2020-10-07 01:45] yonzhan commented on #15422
add to S177

[2020-10-07 01:48] #15423 closed

[2020-10-07 06:40] sagarkul opened #15425 "Neet support Create a role-assignable group in Azure Active Directory"
As per official Microsoft documentation, Create a group that can be assigned to role need new parameter `IsAssignableToRole`

az-CLI does not provide such parameter support yet.

[Create a role-assignable group in Azure AD](https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/roles-groups-create-eligible)

[2020-10-07 08:05] AKlaus commented on #15391
Does it implicitly require a `Network Profile`?

[2020-10-07 08:23] edacostaa opened #15426 "az aks install-cli failed on ubuntu focal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2020-10-07 09:11] keziashirazi98 opened #15427 "webapp:az webapp deployment error"
Hi All,

I am having trouble deploying new code to my web app in Azure. My app is up and running in azure, but when I make changes to the app's code and deploy it to Azure using the command `az webapp deployment source config-zip --name appname --resource-group resourcegroup --src .\out\out.zip`, it fails the first time I run the command with the output:

![image](https://user-images.githubusercon

[2020-10-07 11:02] eugeneromero commented on #12939
I am currently trying to set up a pipeline where a Service Principal has permissions to create other SPs on demand. It appears that with the update from AAD Graph to MS Graph, there is a lot of confusing information online as to how this should properly be set up. Since testing in the corporate environment is difficult, as I would need to constantly be going back to the Azure Admin to get him to A

[2020-10-07 11:18] sheigel opened #15428 "Extracting the Universal Packages tooling fails inside container"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az artifacts universal publish       --organization https://dev.azure.com/orgname/     --project="projectname"     --scope project     --feed feedname     --name my-first-package     --version 0.0.1     --description "Welcome to Universal Packages"     --path ./sqlpackage.zip`

**Errors:**
[c

[2020-10-07 11:20] p27g opened #15429 "az login not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2020-10-07 12:31] yonzhan commented on #15425
add to S177

[2020-10-07 12:33] yonzhan commented on #15426
aks

[2020-10-07 12:34] yonzhan commented on #15427
webapp

[2020-10-07 12:38] yonzhan commented on #15428
artifacts

[2020-10-07 12:39] yonzhan commented on #15429
add to S177

[2020-10-07 13:05] Owemeone commented on #8530
Just to add my +1. Seeing the same issue in my deployment script. Creating an identity and adding a role to it. For the time being added a sleep 30, just to be sure, but would be nice if we could:
1) have the command only return when actually done propagating to AAD
or 2) have a way to actively poll or check on the propagation

[2020-10-07 13:08] vbrinza opened #15430 "az cosmosdb keys list --type connection-strings extracted string does not contain all the parameters one can get via the portal"
[Enter feedback here]

az cosmosdb keys list --type connection-strings extracted string does not contain all the parameters one can get via the portal
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 37c3520b-e1ab-8090-9bdb-2506c18cf1aa
* Version Independent ID: d711595b-6162-6b8f-402b-257a7e6dda87
* Content: [az cosmosdb

[2020-10-07 13:13] yonzhan commented on #15430
cosmosdb

[2020-10-07 13:52] ghost opened #15431 "UnexpectedError - "No module named 'azure.mgmt.network.v2018_08_01'""
## Describe the bug

**Command Name**
`az container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az container create --cpu {} --environment-variables {} {} {} {} --image {} --location {} --memory {} --name {} --ports {} --registry-password {} --registry-username {} --resou

[2020-10-07 14:16] yungezz commented on #15431
routing to appropriate team

[2020-10-07 14:18] yungezz commented on #15426
cc @houk-ms

[2020-10-07 14:54] manuvrat opened #15432 "aks install-cli command failed with permission denied error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli --install-location={}`

## Expected Behavior

## E

[2020-10-07 14:54] dschenkelman opened #15433 "Issue creating cosmosdb account with max_interval_in_seconds set to 1 second on osx/mac (version 2.12.1)"
Version
[code]

When running:
[code]

The following error is returned:
[code]

It seems [the models](https://github.com/Azure/azure-sdk-for-python/blob/87ab7204d918fd676da5a90ba4b7defc153bd33b/sdk/cosmos/azure-mgmt-cosmosdb/azure/mgmt/cosmosdb/models/_models.py#L754) being used are different than those used to generate [the docs](https://docs.microsoft.com/en-us/cli/azure/cosmosdb?view=azure-cli-l

[2020-10-07 15:12] ahamad-MS commented on #13966
Thanks @Sarah-Aly. Please let us know if you are still encountering the issue and provide us with the info to investigate. Thanks.

[2020-10-07 16:45] lostmygithubaccount opened #15434 "az extension add -n azure-cli-ml results in 500"
**Describe the bug**
Running `az extension add -n azure-cli-ml` frequently results in 500 error.

**To Reproduce**
Run the command in a GitHub action fairly frequently :)

**Expected behavior**
azure ml cli extension is installed without hitting 500

**Environment summary**
github action on standard ubuntu agents

**Additional context**
![image](https://user-images.githubusercontent.com/54814569/9

[2020-10-07 16:57] VincentVerweij commented on #12713
@brandonmartinez I have the exact same issue, but I don't understand what you mean by

Could you elaborate on this? So you have an ARM template where you don't specify `servicePrincipalProfile` and a second one where you do. But that second one will still fail, as it can't cope with the update of the service principal with the error stated author's message.

[2020-10-07 16:58] TeplrGuy commented on #13032
@parasdesaicims it would be helpful to know how you resolved this

[2020-10-07 17:05] parasdesaicims commented on #13032
@TeplrGuy  @ShreyasNBS  Basically, grab the CA cert of the Proxy and update the cert on azure-cli - cacert.pem. Then just update the env. variable with **echo REQUESTS_CA_BUNDLE=*PATH*/CACERT.PEM.**

Note: Perform similar steps when you upgrade the cli version. learned that the hard way.

[2020-10-07 17:56] markjbrown commented on #15433
When provisioning a Cosmo account with bounded staleness the values for `--max-interval` and `--max-staleness-prefix` are different depending on whether you are deploying to a single region or 2+ regions. Additionally, you need to specify both `--max-interval` as well as `--max-staleness-prefix` when using Bounded Staleness.

For accounts with a single region minimum value for `--max-interval` is

[2020-10-07 18:08] dschenkelman commented on #15433
Hey @markjbrown, thanks for the prompt response!

It'd seem then that based on

if passing `--max-interval 1` and getting
[code]

The azure CLI is validating the wrong values?

[2020-10-07 18:09] #15433 closed

[2020-10-07 18:18] TeplrGuy commented on #13032
@parasdesaicims thanks for the response

[2020-10-07 18:22] markjbrown commented on #15433
Sorry, I typed the wrong value for single region. Min value for max interval is 5 seconds for a single region, not one.

For you example above, with 2 regions min value is 300 seconds.

Sorry for the confusion.

[2020-10-07 18:38] dschenkelman commented on #15433
Oh, I see. Then the docs a bit misleading 😄 :
![](https://cldup.com/NuqctCZHKg.png)

Source: https://docs.microsoft.com/en-us/cli/azure/cosmosdb?view=azure-cli-latest#az_cosmosdb_create-optional-parameters

[2020-10-07 18:42] rohithjidagam commented on #15420
Any update on this? I still see all my builds failing with the same error as above.

[2020-10-07 18:49] deya-rawr opened #15435 "Can we get a sample on how to use this az dls fs join?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az dls fs join`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az dls fs join --destination-path {} --source-paths {} --account {}`

##

[2020-10-07 19:28] navysingla opened #15436 "Update Azure Cli for subscription RP"
**Resource Provider**
Microsoft.Subscription

**Description of Feature or Work Requested**
We added new optional parameter - "ResellerId" in our alias PUT API, we want support for same in the Azure cli extension.

**Minimum API Version Required**
NA

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/subscription/resource-manager/Microsoft.Subscription/stable/

[2020-10-07 19:53] markjbrown commented on #15433
Pretty sure we're not intentionally misleading.

Hey @MehaKaushik can you update the description for max interval here?
https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/cosmosdb/_params.py#L67

When used with Bounded Staleness consistency, this value represents the time amount of staleness (in seconds) tolerated. For single region account, range is 5 - 86400 seco

[2020-10-07 19:55] dschenkelman commented on #15433
Haha just in case: I didn't mean intentionally. If it helps, this model: https://github.com/Azure/azure-sdk-for-python/blob/0415c8a6237ed2d6e9091d3c6d0b88c249a81649/sdk/cosmos/azure-mgmt-documentdb/azure/mgmt/documentdb/models/consistency_policy.py#L38 seems to be generated with the 1-100 value as well

[2020-10-07 20:05] joelfransson opened #15437 "Error when running az container logs ('ascii' codec can't encode character)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container logs`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container logs --resource-group {} --name {}`

## Expected Behavior

[2020-10-07 20:08] markjbrown commented on #15433
Yes, thanks. We're reviewing this as well.

[2020-10-07 20:09] #15435 closed

[2020-10-07 20:11] deya-rawr commented on #15435
It worked in the end.
I have reached out to Akshat Harrit and he guided me to the right format of the cmd.

az dls fs join --destination-path "/testjoin2/0.txt" --source-paths "/testjoin1/msft2.txt" --account adlsgen1Name --subscription a55555555555-555-5555-555555

[2020-10-07 20:54] bquantump commented on #15432
@manuvrat If you do not have permission on that directory, unless you are running az as root, this is expected to fail. Can you give us more information on what is expected behavior here? Do you believe this directory does have correct permissions on it?

[2020-10-07 21:08] chenlomis opened #15438 "[UX] [Aladdin] Recommendation doesn't match command"
**Describe the bug**
Recommending me group create when I'm trying to get credentials for AKS

**To Reproduce**
![image](https://user-images.githubusercontent.com/30876406/95388081-80987300-08a6-11eb-8646-443d881280ba.png)

**Expected behavior**
recommendations is at least AKS related

**Environment summary**

**Additional context**
![image](https://user-images.githubusercontent.com/30876406/953881

[2020-10-07 21:09] chenlomis commented on #15438
+ @christopher-o-toole

[2020-10-07 21:22] yonzhan commented on #15434
azure-cli-ml

[2020-10-07 21:28] yonzhan commented on #15436
subscription

[2020-10-07 21:32] yonzhan commented on #15437
container

[2020-10-07 21:33] yonzhan commented on #15432
aks

[2020-10-07 21:38] yonzhan commented on #15438
@zhoxing-ms for awareness.

[2020-10-07 22:27] brandonmartinez commented on #12713
@VincentVerweij I was just saying that if I wanted to automate my deployments, I would need two templates: one for initial create, and one for updates. Ideally, I just want the one template.

[2020-10-07 22:32] shurd commented on #15430
Hi, can you confirm that you account is a Mongo DB version 3.6 account? If so, we have an update coming in the next month that will change this connection string to match what is in the portal.

[2020-10-07 22:57] vbrinza commented on #15430
Confirm

On Thu, 8 Oct 2020, 00:32 shurd, <notifications@github.com> wrote:

[2020-10-07 23:22] bikoboshi opened #15439 "Azure NSG should accept a comma-separated list of single ports and/or port ranges"
**Az Version**

**Describe the bug**
[code]

**To Reproduce**
[code]

**Expected behavior**
From Azure Portal tooltip

Azure Network Security Groups accepts a comma delimited list of integers or integer ranges.

**Environment summary**
Windows Subsystem for Linux; Bash
[code]

[2020-10-08 01:50] yonzhan commented on #15439
add to S177

[2020-10-08 02:10] jmshal opened #15440 "App Configuration: Key/values without labels are not returned when using the label parameter"
## Describe the bug

The use of `--label \0` has broken in one of the more recent versions of the Azure CLI, causing our CI/CD to fail.

We use the `--label` flag to filter out any key/values that should not be accessible to the application. We use `az appconfig kv list` at deploy-time (in Azure DevOps) to build up a list of environment variables & secrets that should be deployed along with our mi

[2020-10-08 02:12] jmshal commented on #15440
I've just checked the last Azure DevOps build that was successful, and it used version `2.11.1` of the Azure CLI.

So this has regressed somewhere between `2.11.1` and `2.12.1`.

[2020-10-08 02:18] jmshal commented on #15440
I can see that there was only one change relating to App Configuration between the two versions I've determined the regression must've happened. I see that the azure-mgmt-appconfiguration package was updated from `0.5.0` to `0.6.0` - I wonder whether the regression has happened there, and not within the Azure CLI itself.

[2020-10-08 02:30] yonzhan commented on #15440
appconfig

[2020-10-08 04:26] yungezz commented on #15438
hi @houk-ms could you pls check if this related to error recommendation framework? thanks

[2020-10-08 04:27] yungezz commented on #15436
hi @navysingla is this property available on Prod now for testing?

[2020-10-08 04:28] yungezz commented on #15434
hi @fengzhou-msft could you pls help to check availability of the storage url?

[2020-10-08 07:05] avanigupta commented on #15440
Hi @jmshal, thanks for providing all the details of the issue you are facing.
I was able to reproduce the issue in Azure Cloud Shell using bash. The problem occurs because the backslash character needs to be escaped in bash. If you run the command with `--debug` argument, you'll see that the \ character is lost from input:

You can resolve the issue by providing `--label '\0'` or `--label "\0"` or

[2020-10-08 07:10] akunzai opened #15441 "webapp:az webapp create-remote-connection AttributeError: 'Thread' object has no attribute 'isAlive'"
### **This is autogenerated. Please review and update as needed.**

## create-remote-connection fail with AttributeError: 'Thread' object has no attribute 'isAlive'

**Command Name**

`az webapp create-remote-connection`

**Errors:**

[code]

## To Reproduce:

Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `export PATH="

[2020-10-08 07:16] yonzhan commented on #15441
webapp

[2020-10-08 07:57] akunzai commented on #15441
seems `threading.Thread` 's method `isAlive()` was renamed to `is_alive()` since Python 3.9.0

see https://github.com/micheles/decorator/issues/75

[2020-10-08 08:43] jmshal commented on #15440
Hi @avanigupta,

Our build script is already quoting the arguments (using double quotes), it has been since the build script was put together. We've not changed the build script at all within the past few days, and as far as I can tell - the only different is the version of the Azure CLI that us being used by Azure DevOps.

I think it perhaps may have been all the random things I have tried - but

[2020-10-08 10:01] MikkelHegn commented on #12871
Is fixed as of 2.12.1

[2020-10-08 10:01] #12871 closed

[2020-10-08 10:08] manuvrat commented on #15432
i am not able to change permission on PermissionError: [Errno 13]
Permission denied: '/usr/local/bin/kubelogin'

On Wed, Oct 7, 2020 at 10:33 PM yonzhan <notifications@github.com> wrote:

[2020-10-08 10:20] MikkelHegn opened #15442 "Autogenerated help message through `az find "az aks enable-addons"` is wrong"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az find "az aks enable-addons"`

**Errors:**
The autogenerated example is wrong:

[code]

## To Reproduce:
Steps to reproduce the behavior.

- `az find "az aks enable-addons"`

## Expected Behavior
To show the example from the `az aks enable-addons --help` command. Subnet as a required argume

[2020-10-08 10:28] mepand commented on #14776
@Bobchev could you please confirm if the issue has been resolved for you?

[2020-10-08 12:20] yungezz commented on #15442
hi @mirdaki @christopher-o-toole could you pls have a look at this issue?

[2020-10-08 15:12] mepand commented on #15206
@DoppoM Currently az backup policy create command doesn't support creation of IAAS VM policy. We have an action item at our end and working actively for supporting this.

[2020-10-08 15:41] jongio commented on #9887
This has been resolved.  Please upgrade to latest version of CLI.

[2020-10-08 15:41] #9887 closed

[2020-10-08 16:20] mirdaki commented on #15442
I've roped in the relevant people. Will update when I have something.

[2020-10-08 16:20] wasker opened #15447 "az cdn endpoint rule add is very particular with input validation and documentation is lacking"
I've spent 20 minutes trying to figure out that the *only* way to create cache bypass rule is to write the command like this:

`az cdn endpoint rule add --resource-group myrg --name mycdnendpoint --profile-name mycdnprofile --order 1 --rule-name "rulename" --match-variable "UrlPath" --match-values "/somevalue/" --operator BeginsWith --transform Lowercase --action-name "CacheExpiration" --cache-beh

[2020-10-08 16:24] Kotasudhakarreddy commented on #15421
@ThejaChoudary - please check

[2020-10-08 17:36] LiquoriChris opened #15448 "webapp:az webapp traffic-routing set to slot that doesn't exist breaks webapp"
**Describe the bug**
Experiencing an issue where using `az webapp traffic-routing set` to a slot that does not exist breaks the app service. The app service displays a "404 Website Not Found" until clearing the routing rules and routing back to production.

**To Reproduce**
Run: `az webapp traffic-routing set -g rgTest -n webapp --distribution tseting=100`. (tseting is spelled incorrectly. Should

[2020-10-08 18:55] navysingla commented on #15436
@yungezz  Yes it is available in Prod for testing

[2020-10-08 19:28] avanigupta commented on #15440
Hi @jmshal, thanks for pointing this out! We did introduce a regression with querying multiple labels in the last CLI update. This will be fixed in the next CLI release. Sorry for the inconvenience.

[2020-10-08 19:35] avirishuv commented on #15064
thanks @qwordy for checking again. It looks like there is no follow up needed here, as the vm was deleted and that's why it wasn't showing up in the list cmdlet result.

I'm closing the issue, but feel free to reopen if you need any other related info on this.

[2020-10-08 19:35] #15064 closed

[2020-10-08 19:37] avirishuv commented on #14837
@biltongza I hope the document was helpful for your region access question. I'll close this issue, but please feel free to reopen if you need any further information on this topic here.

[2020-10-08 19:37] #14837 closed

[2020-10-08 19:42] jmshal commented on #15440
Thanks, @avanigupta. Do you know what kind of timeline are we looking at here? From as far as I can tell, I cannot target an older version of the Azure CLI within Azure DevOps - so without making some large changes to our pipelines, we're stuck without the ability to deploy.

I also don't know how often the Azure DevOps team updates the version of Azure CLI they use - so that's another concern.

A

[2020-10-08 21:12] yonzhan commented on #15447
cdn

[2020-10-08 21:14] yonzhan commented on #15448
webapp

[2020-10-08 21:16] avanigupta commented on #15440
@jmshal, Azure CLI has a new release approximately every 3 weeks, and this fix would most likely be included in the release scheduled for end of this month. Until then, the workaround would be to tweak the command for listing key values in either of these two ways:

1. You can split the list command into two commands - one which lists only null labels, and the second which lists any other labels:

[2020-10-08 22:19] DoppoM commented on #15206
@mepand  thx for feedback

[2020-10-08 23:07] jmshal commented on #15440
Thanks @avanigupta - I can confirm the workarounds you've provided are enough to get us back on track with deploys for the time being. Much appreciated!

[2020-10-09 01:53] xuegao0112 opened #15452 "The enabe "--all" for all tables is not support."
Hi Team,
After using the second example"az monitor log-analytics workspace data-export create -g MyRG --workspace-name MyWS -n MyDataExport --destination {sa_id_1} --enable --all" I met this error:

ValidationError: You must provide a table or tables array 'TableNames' : ['SecurityEvent'] or ['Heartbeat', 'SecurityEvent'].

It looks like the "--all" parameter is not support for now. Can you please

[2020-10-09 02:03] novinc commented on #15029
you can create network profiles using ARM their api and then reference it in the cli
https://docs.microsoft.com/en-us/rest/api/virtualnetwork/networkprofiles/createorupdate
example body:
{
      "location": "[parameters('location')]",
      "properties": {
        "containerNetworkInterfaceConfigurations": [
          {
            "name": "eth0",
            "properties": {
              "ipConfi

[2020-10-09 02:26] #15135 closed

[2020-10-09 02:26] houk-ms commented on #15280
Resolved in #15319

[2020-10-09 02:26] #15280 closed

[2020-10-09 02:29] houk-ms commented on #15018
Already supported, repoen the issue if there are any questions here.

[2020-10-09 02:29] #15018 closed

[2020-10-09 02:30] houk-ms commented on #15017
Supported in #15238, repoen the issue if there are any questions here.

[2020-10-09 02:30] #15017 closed

[2020-10-09 03:02] houk-ms commented on #15438
Currently, we don't provide recommendations for resource related validation errors in CLI core.

@chenlomis Are you getting the recommended results from ai-did-you-mean-this extension?

[2020-10-09 03:20] yonzhan commented on #15452
add to S177

[2020-10-09 03:36] xuegao0112 commented on #15452
Hi @yonzhan ,
Thanks for the help.
Actually I found it's only support for the 3 tables export.Seems like need to clarify in the document.

[2020-10-09 03:41] Kentrg11 commented on #9972
Why is this closed

[2020-10-09 03:42] #15313 closed

[2020-10-09 06:08] jiasli commented on #11809
Let me mark this issue as **feature request** and see how we can deal with it during MS Graph integration, or maybe using the MS Graph CLI.

[2020-10-09 06:42] jiasli commented on #9047
I able to repro it in PowerShell 7:

[code]

This is a [known issue of PowerShell terminal](https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-with-powershell.md) to strip double quotes when calling native executable files (`C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\az.cmd` in this case), and comma (`,`) is parsed as a [delimiter](https://ss64.com/nt/syntax-esc.html) by CMD

[2020-10-09 07:12] haroldrandom commented on #15019
@steveaustin0101 The patch is merged, and the next version available for this fix is 2.13.0

[2020-10-09 07:17] haroldrandom commented on #15380
Dup with https://github.com/Azure/azure-cli/issues/6876

[2020-10-09 07:20] haroldrandom commented on #15383
@b564518128  Could you explain why remove those recently added arguments?

[2020-10-09 07:23] #14924 closed

[2020-10-09 07:23] #15058 closed

[2020-10-09 08:18] tengl commented on #15379
We have the same issue in Azure DevOps. This is quite serious, need a fix immediately if I can't find a different way to do what we want to do.

Is there a way to specify version 2.11.1 in a release task?

[2020-10-09 08:53] yonzhan commented on #15379
Add @Juliehzl to help with

[2020-10-09 09:29] Juliehzl commented on #15379
Hi @Timost could you try with the artifact for the fix https://dev.azure.com/azure-sdk/public/_build/results?buildId=568322&view=artifacts&type=publishedArtifacts?

[2020-10-09 09:31] Juliehzl commented on #15379
Hi @tengl, we will try to fix it in next release, which will happen on next Tuesday. But for DevOps CLI, we will need to contact with DevOPs people for help.

[2020-10-09 09:33] nocticdr commented on #14778
Had the same issue, however it was happening at terraform init stage and deleting the .azure folder didn't help. What was happening on my end was that although I was able to do az login in WSL, the .azure folder was being saved under the Windows user path instead. I ended up copying the .azure folder to my WSL user directory and terraform init worked again. Thanks @magodo for the pointer

[2020-10-09 09:51] Timost commented on #15379
Hi @Juliehzl I've managed to install the pypi artefact after some fiddling, but I still get the same error. I suspect the way I installed it might be the reason. What's the proper way install this new version of az-cli ?

What I've done:
1. Download the pypi artefact
2. create a venv somewhere
3. install the artefact in the venv using `pip install --find-links=~/Downloads/pypi azure-cli`
4. when I

[2020-10-09 09:56] tengl commented on #15379
Thanks @Juliehzl
I filed a bug report for Azure DevOps asking them to downgrade until it is fixed.
https://developercommunity.visualstudio.com/content/problem/1214135/az-storage-copy-crashes-validationerror-local-vari.html

[2020-10-09 10:16] Samuelseggs opened #15460 "'SubscriptionClient' object has no attribute 'config'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2020-10-09 10:16] Samuelseggs opened #15461 "'SubscriptionClient' object has no attribute 'config'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2020-10-09 11:13] yonzhan commented on #15460
add to S177

[2020-10-09 11:15] yonzhan commented on #15461
add to S177

[2020-10-09 11:31] sebastiaanvandesteeg commented on #13833
@ahamad-MS Thanks for your reply. You are right, it's about creating a subscription automatically. I will submit a ticket in the Azure feedback.

[2020-10-09 11:55] #15379 closed

[2020-10-09 13:41] johnnylyne opened #15462 "Azure JSON Deployment Template Parameters Case Sensitive"
When applying NSG security rules using a Deployment JSON template file, the parameters for Service tags in NSG rules are case sensitive e.g. we want an outbound rule with destination Service Tag AzureCloud.UKSOUTH. When we pass a template with AzureCloud.UKSouth. The NSG rules are applied. However, when you view them in the portal the rule name is displayed AzureCloud.UKSouth however upon attempti

[2020-10-09 13:53] yonzhan commented on #15462
add to S177

[2020-10-09 14:02] Zay2k opened #15464 "Upload of pfx certificate file to batch fails for certificates without password"
When trying to upload a pfx certificate file to a batch account a ValidationError occurs. When we change the certificate file to include a password, it works fine. I guess this line marks the file as .cer file not .pfx.

https://github.com/Azure/azure-cli/blob/26fea089cf37a1f6fb4e19f77b120ec0f2477eda/src/azure-cli/azure/cli/command_modules/batch/custom.py#L241

#### Steps to reproduce:
- Create a

[2020-10-09 14:27] accu-joeykarns opened #15465 "ACR Build errors with python 3.9"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build`

## Expected Behavior

## Environment Summary
[code]
## Addit

[2020-10-09 15:13] Kotasudhakarreddy commented on #15427
@keziashirazi98 - could you execute the command with `--debug` and give the log here to look further.

[2020-10-09 16:17] ljensbl opened #15466 "Long running jobs causes token timeouts"
The submitted job, did complete successfully, but the refresh token had expired.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sql db copy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps her

[2020-10-09 19:06] amjads1 commented on #14106
@ajay15283 , @qwordy - Following up to check if the issue is resolved. Let me know if you need any additional help.

[2020-10-09 19:10] cachai2 opened #15467 "Functions Premium CLI Tooling"
Provide Azure Functions users with tooling to modify premium plans in the CLI. Some commands for the [Premium plan](https://docs.microsoft.com/en-us/azure/azure-functions/functions-premium-plan) still use 'az resource update.' It would be best practice to get these moved over to 'az functionapp' commands. There are 4 of these commands.

[2020-10-09 20:32] itoleck opened #15468 "az mariadb create minimalTlsVersion"
**Describe the bug**
"az mariadb server create" command does not have a property for minimalTlsVersion while the Azure REST API allows for this property at creation time.

**To Reproduce**
az mariadb create

**Expected behavior**
az mariadb create command should allow the --minimumTlsVersion switch to set TLS version to 1.0, 1.1 or 1.2.

**Environment summary**
Tested on the latest CLI version at

[2020-10-09 22:19] yonzhan commented on #15465
acr

[2020-10-09 22:24] yonzhan commented on #15467
functionapp

[2020-10-09 22:39] chenlomis commented on #15438
Hey all
Thanks for all the attention
I'm not entirely sure whether this is part of the did-you-mean-this-extension...IIRC that's already integrated into core is it?  If that's the case then the recommendations are still the same except we extended it the output from 1 recommendation to 3 recommendations for the purpose of the lab

[2020-10-09 22:56] yugangw-msft commented on #15465
@accu-joeykarns, the stack provided doesn't contain the any frames coming from `acr`. Could you please cross check by running other command like `az group list`? This way we can first exclude installation related issues

[2020-10-09 22:56] ahamad-MS commented on #13833
Thanks @sebastiaanvandesteeg .. Can you please use user voice to open the feedback request and close this issue whenever you have a chance. thanks.

[2020-10-09 23:40] chenlomis opened #15469 "Highlighting errors from log stream"
**Is your feature request related to a problem? Please describe.**
Yes, app service lab participants find it hard to identify/distinguish errors from the pages of log stream

**Describe the solution you'd like**
Highlighting the error with certain color

**Describe alternatives you've considered**

**Additional context**
https://dev.azure.com/azuretracking/Azure%20tracking/_workitems/edit/1526

[2020-10-09 23:56] steveaustin0101 commented on #15019
thanks for update Jianhui .  is release timeline set yet

Sent from Yahoo Mail on Android

  On Fri, Oct 9, 2020 at 2:12 AM, Jianhui Harold<notifications@github.com> wrote:

@steveaustin0101 The patch is merged, and the next version available for this fix is 2.13.0

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-10-10 00:00] yungezz commented on #15469
routing to appropriate team. cc @houk-ms for awareness.

[2020-10-10 00:02] yungezz commented on #15464
hi @bim-msft could you pls help to have a look?

[2020-10-10 00:03] yungezz commented on #15466
hi @ljensbl could you pls try run `az login` to workaround? this is a known Cloudshell issue tracked in #11749

[2020-10-10 00:25] yungezz commented on #15438
Another case I met the recommendation/error could be more accurate. cc @houk-ms for awareness.
[code]

[2020-10-10 00:55] progzilla opened #15470 "azure managed disk error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az disk list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az disk list`

## Expected Behavior

## Environment Summary
[code]
## Addit

[2020-10-10 02:36] houk-ms commented on #15438
@chenlomis You're right, while the difference is for resource related validation error, like some resources 'not exist', 'already exist', we don't provide recommedation currently in Core. Therefore, your command will only get the error message in latest CLI version like below.
[code]

@yungezz I think this is aready a very good recommendation. Surely, it will be better if we can extract the users'

[2020-10-10 03:12] #15199 closed

[2020-10-10 05:24] #15441 closed

[2020-10-10 06:59] qwordy commented on #15265
I check the result you send to me and find that Standard_D15_v2 appears. We will upgrade the API version of "list skus".

[2020-10-10 07:03] Juliehzl commented on #15418
Hi @500InternalServerError , it is PowerShell issue. In Powershell, please try  `az storage blob set-tier --container-name "$containerName" --name """(File).zip""" --tier "Cool" --connection-string $azConnStr`.

Precious command should work in cmd.

[2020-10-10 07:12] qwordy commented on #14292
Error message:
[code]
It is a known issue of test SDK.

[2020-10-10 07:22] haroldrandom opened #15473 "[Billing] bump API version to 2020-05-01"
**Spec Link**
https://github.com/Azure/azure-rest-api-specs/tree/master/specification/billing/resource-manager/Microsoft.Billing/stable/2020-05-01

release request link:
https://github.com/Azure/azure-rest-api-specs/pull/10585

**Is your feature request related to a problem? Please describe.**

Upgrading billing commands' SDK and some features are introduced

**Describe the solution you'd like**

[2020-10-10 07:24] Juliehzl commented on #15111
Hi @ChandlerSwift, thanks for your feedback. It is fixed in https://github.com/Azure/azure-cli/pull/15474 and official release will be available on 10/27.
To avoid the issue, you could specify `--version 1.0` in your command as workaround.

[2020-10-10 07:26] #13833 closed

[2020-10-10 07:49] #15111 closed

[2020-10-10 07:51] elygre commented on #6949
Yup, had trouble with this today. Found the solution not in the documentation, but here, as a documentation bug.

[2020-10-10 08:04] Juliehzl commented on #15232
Hi @skingd, may I know your RABC role to the storage account?
To avoid this issue, please make sure you have "Storage Blob Data Contributor" or higher role to the storage account. Here is the document to assign RBAC role https://docs.microsoft.com/en-us/azure/storage/common/storage-auth-aad-rbac-portal.

In addition, if you are the owner of storage account, using `az storage account keys list` to

[2020-10-10 08:04] elygre opened #15475 "Add example to clarify --workspace-resource-id value for az aks enable-addons"
The `--workspace-resource-id` option is confusing, as is requires a full URL, and not a guid. https://github.com/Azure/azure-cli/issues/6949 discusses this issue in a different context.

Here, it would be useful to add an example that uses this parameter, along the lines of

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2020-10-10 08:53] qwordy commented on #15265
@avirishuv
Do you think we should use
[code]
instead of `2019-04-01`?
However, I can't find `skus.json` in
https://github.com/Azure/azure-rest-api-specs/tree/master/specification/compute/resource-manager/Microsoft.Compute/stable/2020-06-01

[2020-10-10 09:02] haroldrandom commented on #15136
It is optional. One of the supported resources, PrivateLinkResource is required not to provide this, so we leave it optional. But the other resources are required

[2020-10-10 09:18] yonzhan commented on #15473
add to S177 with high priority

[2020-10-10 10:08] yonzhan commented on #15475
aks

[2020-10-10 12:16] sibendu opened #15477 "Azure Cloud Shell error for AKS AAD integration"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Following AAD and AKS integration as per
https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli#code-try-1

**Command Name**
`az ad app create`

**Errors:**
Following error displayed when running command - serverApplicationId=$(az ad app create \
    --display-name "${aksname}Server" \
    --identi

[2020-10-10 14:00] yonzhan commented on #15477
add to S177

[2020-10-10 17:32] jrudley commented on #13952
FYI, this error will happen if you try to create a secret to a vault that does not exist

[2020-10-10 19:08] milanchavda opened #15478 "Error while installing the kubectl tool"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli --install-location={}`

## Expected Behavior

## E

[2020-10-10 23:54] yonzhan commented on #15478
aks

[2020-10-11 02:56] mrqaidi opened #15479 "webapp:error on deployment"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --name {}`

## Expected Behavior

## Environment Summary
[code

[2020-10-11 07:47] ljensbl commented on #15466
@yungezz - I agree, this seems a duplicate of #11749. Pls. let me know if you want me to triage my use case, once #11749 is fixed.

[2020-10-11 07:47] #15466 closed

[2020-10-11 08:04] yonzhan commented on #15479
webapp

[2020-10-11 16:32] SaschaSchuenemann commented on #13064
+1 for the issue.
In a similar fashin, we would like to automatically set up / delete access reviews via CLI instead of the Portal

[2020-10-11 17:19] techadmin1982 commented on #13967
unfortunately I am not working on this any longer. I appreciate everyone's help. this issue can be closed.

[2020-10-11 17:19] #13967 closed

[2020-10-12 01:34] yungezz commented on #15478
duplicate with https://github.com/Azure/azure-cli/issues/15432

[2020-10-12 01:36] yungezz commented on #15470
hi @progzilla could you pls uninstall 2.0.81 and install latest azure cli via instruction here: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest? This is a known issue tracked in #14011

[2020-10-12 02:04] jiasli commented on #14961
The timeout error indicates **the managed identity endpoint on the VM is not responding**, so Azure CLI fails to retrieve an access token.

Please [open a support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) and check why the endpoint is not working on the VM instead.

[2020-10-12 02:08] yungezz commented on #13952
thanks @jrudley for the info. If this is the case, the error message should be improved. Would you pls mind to create a new issue for track investigation? thanks.

[2020-10-12 02:29] jiasli commented on #15410
It is very likely that you are working in a private network which doesn't have access to https://login.microsoftonline.com/.

You may verify this by connecting to https://login.microsoftonline.com/ directly with Python.

[code]

Please contact your administrator to make sure the Azure sandbox you are using has access to Azure endpoints like https://login.microsoftonline.com/.

All endpoints Azure

[2020-10-12 02:42] Juliehzl commented on #15379
Hi @Timost, could you try with edge builds here https://github.com/Azure/azure-cli#edge-builds? I am not sure if you install the new package.

[2020-10-12 03:45] tejasshah7 opened #15481 "Deprecate an existing parameter and add a new parameter for Firewall policy"
**Resource Provider**
Network (NRP)

**Description of Feature or Work Requested**

Two things are needed.
1. Deprecate the optional parameter "--require-dns-proxy-for-network-rules" in the command "az network firewall policy create and update".

This was a preview feature and we are about to GA this end of this month and we would like to streamline the experience before that.

2. Add a new paramet

[2020-10-12 03:46] qwordy commented on #14672
SSH key is a kind of data in disk. So if you attach an existing disk, you cannot specify `--authentication-type`, `--ssh-key-value`. You can use `az vm user update` after VM is created.
https://docs.microsoft.com/en-us/cli/azure/vm/user?view=azure-cli-latest#az_vm_user_update

[2020-10-12 03:57] #15136 closed

[2020-10-12 04:02] qwordy commented on #14584
Reasonable ask. Added to S178. It is a known issue. Azure CLI doesn't guarantee that it supports all features defined in specification. Neither does Portal. Azure CLI and Portal are designed separately by different people. Sometimes they have differences.

[2020-10-12 04:13] yungezz commented on #15289
hi @PiroHiroPiro do you mean want to that `--attach-data-disks` accept disk names? If yes, it's support already, doc at https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az_vm_create

[code]

[2020-10-12 05:20] yonzhan commented on #15481
add to S178

[2020-10-12 05:31] qwordy commented on #14852
`--plan` represents for image billing plan. Can you show the plan section of `az vm image show --urn`?

[2020-10-12 05:45] qwordy commented on #14998
I think `*` is translated by your terminal. Please add `"` around `*`. `--instance-ids "*"`

[2020-10-12 05:51] timvanderweijde commented on #15011
Goodmorning, any update on this?

[2020-10-12 05:56] qwordy commented on #15042
I find no evidence that visual studio relies on Azure CLI. Please ask for help via https://visualstudio.microsoft.com/support/. Thanks.

[2020-10-12 05:56] #15042 closed

[2020-10-12 05:59] arrownj commented on #14416
Hi @kappa , I run `pip wheel --no-binary :all: azure-cli`and it succeed to build all the whl files in my local (I used a python3.8 virtual env).

I'm still wondering why you need to use `pip wheel` to build all azure-cli dependencies. All the dependencies are already on pypi and actually they are not controlled by Azure CLI.

I will close this issue first as this is not a build scenario of azure c

[2020-10-12 06:06] qwordy commented on #15178
@nkorojoseph hello, any update?

[2020-10-12 06:07] kappa commented on #14416
@arrownj Trying now as well.

[code]

So, the same 5 packages are failing. I will try on 3.8 as well later and post here.

@arrownj We need reproducible builds, cannot use binary pre-built packages.

[2020-10-12 06:17] kingces95 opened #15484 "What query is `--custom` operating on?"
What query is `--custom` operating on? The `resource show` result?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e76a8ad2-efd8-9e8a-9b2b-eebeb1e9d1d4
* Version Independent ID: 280b7ea9-eb6c-9601-464b-09bf8e0cff5d
* Content: [az resource](https://docs.microsoft.com/en-us/cli/azure/resource?view=azure-cli-latest)
* Cont

[2020-10-12 06:18] amjads1 commented on #15265
Looking into the issue

[2020-10-12 06:33] yungezz commented on #14416
https://github.com/Azure/azure-sdk-for-python/issues/12612

[2020-10-12 06:40] yonzhan commented on #15484
add to S178

[2020-10-12 06:41] yungezz commented on #14416
from the error, the failed built pacakges are sdk packages
[code]

hi @arrownj why cli need build sdk wheel package, shouldn't them from pypi directly?

[2020-10-12 06:57] haroldrandom commented on #15353
Please refer to this https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively?view=azure-cli-latest#output-formatting-json-table-or-tsv

The JEMSPath output is JSON by default should re-format them via -o tsv to remove the double quote

[2020-10-12 07:06] #15026 closed

[2020-10-12 07:08] haroldrandom commented on #15175
close as inactive

[2020-10-12 07:16] haroldrandom commented on #15481
Align with https://github.com/Azure/azure-cli/issues/15383 ?

[2020-10-12 07:35] b564518128 commented on #15383
@haroldrandom Sorry for the delayed response. I was oncall last week and did not have time to look at it. These recently added arguments are parts of a private review feature. After some internal discussion and customer feedback, we decide to make these arguments not configurable.

This is aligned with #15481 . But for Azure Firewall, I am not aware of new arguments to be added. I need to double c

[2020-10-12 07:37] b564518128 commented on #15481
@haroldrandom The first request is aligned with #15383 .

[2020-10-12 07:45] bim-msft commented on #15011
Hi @timvanderweijde sorry, I just came back from vacation and I will continue to investigate this issue. No updates so far.

[2020-10-12 08:18] shaiamir opened #15488 "az webapp list-runtimes --linux error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list-runtimes`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list-runtimes --linux`

## Expected Behavior

## Envir

[2020-10-12 08:22] qwordy commented on #15352
@kagbakpem Is your problem solved?

[2020-10-12 09:16] kingces95 opened #15489 "az resource issues"
1. What query is `--custom` operating on? The `resource show` result?
2. Expected `az resource show --resource-group myResourceGroup` should dump the resource group named `myResourceGroup` but actually issued an error saying I had to provide `--name`.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e76a8ad2-efd8-9e8a-9b

[2020-10-12 09:26] djj0809 commented on #13881
We are also seeing this issue

[2020-10-12 09:58] yungezz commented on #15262
hi @bim-msft , could the issue be closed since fix released in 2.12.1 already?

[2020-10-12 09:59] yungezz commented on #13194
feature released in 2.12.0, close the issue.

[2020-10-12 09:59] #13194 closed

[2020-10-12 10:04] yungezz commented on #13893
hi @arrownj @houk-ms any update on the issue? thanks

[2020-10-12 11:35] neiobaf opened #15490 "az cli on ubuntu 20.04 wsl missing python module 'decorator'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create-remote-connection`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create-remote-connection --resource-group {

[2020-10-12 12:04] yungezz commented on #15490
hi @neiobaf could you pls try uninstall 2.0.81 and install latest Azure CLI? this is a known issue in Focal azure CLI package, tracked in #14011

[2020-10-12 12:06] yungezz commented on #15488
hi @shaiamir  could you pls try uninstall 2.0.81 and install latest Azure CLI? this is a known issue in Focal azure CLI package, tracked in #14011

[2020-10-12 12:13] #15262 closed

[2020-10-12 12:38] yonzhan commented on #15489
add to S178

[2020-10-12 13:00] bellens99 opened #15491 "not able to delete group (az group delete --name) after deleting first storage"
I was deleting all my groups and deleted the storage before the webservice. Afterwards I tried to delete the webservice (group) and it generates an error.
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group delete`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may

[2020-10-12 13:05] piouson commented on #13866
Just stumbled on this issue with Git Bash and wondering if anyone found a way to escape pipe or a cli alternative..
Asked on [Stackoverflow](https://stackoverflow.com/questions/64318299/how-do-you-escape-pipes-when-using-azure-cli-from-git-bash)

[2020-10-12 13:30] freemansoft commented on #13866
Moving to Linux on Windows with WSL2 has become my go-to fix for this type of thing.

[2020-10-12 13:51] sveinung-r opened #15492 "Error running `az network public-ip` commands"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network public-ip list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network public-ip list`

## Expected Behavior

## Environme

[2020-10-12 14:05] jpbufe3 opened #15493 "`az login -u <username> -p <password>` does not work if <password> starts with a hyphen"
**Describe the bug**
When attempting to log in and specifying the `-p` parameter, the CLI is unable to parse the password argument if it starts with a hyphen character.

**To Reproduce**
[code]

Note - this fails with or without quotes around the argument (tried both single and double quotes as well)

**Expected behavior**
The parser should accept the argument.

**Environment summary**
azure-cli

[2020-10-12 14:21] yonzhan commented on #15491
add to S178

[2020-10-12 14:21] timtylin opened #15495 "az storage blob list gives `TypeError: 'NoneType' object is not iterable`"
## Describe the bug

**Command Name**
`az storage blob list`

**Errors:**
[code]

## To Reproduce:

1. (do `az login` via service principal: `az login --service-principal -u [REDACTED] --tenant [REDACTED] -p [REDACTED]`)
2. `az storage blob list --account-name [REDACTED] --auth-mode login --container-name [REDACTED]`

## Expected Behavior

Prints out list of objects inside the blob storage contain

[2020-10-12 14:22] yonzhan commented on #15492
add to S178

[2020-10-12 14:24] yonzhan commented on #15493
add to S178

[2020-10-12 14:26] yonzhan commented on #15495
add to S178

[2020-10-12 14:29] timtylin commented on #15495
I've since found out that the container is actually empty, but I still expected the cli to tell me it's empty instead of throwing an exception.

[2020-10-12 14:56] yungezz commented on #15495
https://github.com/Azure/azure-cli/issues/14287

[2020-10-12 15:37] skingd commented on #15232
The managed identity has reader and blob contributor. My account has owner and the command still doesn't work. I'm not comfortable putting the storage account key on a public forum, but I can engaged over Teams for more details if needed.

[2020-10-12 16:04] accu-joeykarns commented on #15465
@yugangw-msft I noticed I was missing the directory param at the very end of the command I was running. Once added the functionality worked. However I was expecting a cleaner error message about missing the directory param.

Thanks

[2020-10-12 16:11] tejasshah7 commented on #15481
@haroldrandom I didn't realize first part was already filed. As mentioned in comment above, yes that request is aligned.

[2020-10-12 16:21] fdiiallo commented on #15465
@accu-joeykarns  , Could you provide your command, i am still facing the issue,
here is my commnd
`az acr build --image <image_name> --registry <registry_name> --subscription <subscription_name> --resourcegroup  <resourcegroup_name> --file <path_to_docker_file> .`

Thanks

[2020-10-12 16:57] nmishr commented on #15390
I'm using ubuntu on windows and the directions I followed to install are here:

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest

Maybe an update to the docs for install should be a part of this as some users follow these directions for every machine they setup.

[2020-10-12 16:59] amjads1 commented on #15265
Assigned to Avi.

[2020-10-12 17:43] yugangw-msft commented on #15465
@northtyphoon, this is regarding error message improvement,

[2020-10-12 17:53] kummanish commented on #15468
@itoleck thanks for reaching out. We are already working on fixing this. We will send you and update as soon we are done with the change.

[2020-10-12 19:05] fhoy opened #15496 "azure-cli-core has hard dependency on previous version of azure-mgmt-resource"
**Describe the bug**
We use the `azure-cli-core` package to utilize CLI auth-mechanisms in some infrastructure deployment scripts, and some of that infrastructure is deployed using the `azure-mgmt-resource` package. After having upgraded the latter to its newest version, 15.0.0, we discovered that `azure-cli-core` has a hard dependency on `azure-mgmt-resource` 10.2.0. Since it does not seem like `

[2020-10-12 20:05] piouson commented on #13866
@freemansoft lucky man, some of us hands tied.. [#6016](https://github.com/microsoft/WSL/issues/6016) [#4285](https://github.com/microsoft/WSL/issues/4285) [#5336](https://github.com/microsoft/WSL/issues/5336)

[2020-10-12 20:47] z0n3z3r0 commented on #14584
Thanks! I look forward to seeing it in upcoming release.

[2020-10-12 21:52] panchagnula commented on #13866
Sorry folks - we plan to make this change on the client side since the API continues to use this format in the versioning. In the meantime please check out this link to see if it helps https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively?view=azure-cli-latest#quoting-issues

[2020-10-12 21:56] kappa commented on #14416
Same 5 packages are failing on Fedora+Python 3.8:

`Failed to build azure-mgmt-applicationinsights azure-mgmt-billing azure-mgmt-consumption azure-mgmt-datalake-analytics azure-mgmt-relay`

[2020-10-13 02:06] Juliehzl commented on #15232
Hi @skingd, if you have concern about account key, you could set environment variable AZURE_STORAGE_KEY with account key. CLI will query the key autimatically.

But for `--auth-mode login`, if it has Storage Blob Data Contributor role, it should work with upload operation.  Could you make sure the right role assigned and share the debug log with us using `--debug` in your command?

[2020-10-13 02:53] jiasli commented on #15496
`azure-cli-core` Azure CLI does rely on `azure-mgmt-resource` to do tenant and subscription discovery:

https://github.com/Azure/azure-cli/blob/6f0deecfa44ade0318e01dce45f97b1c8d768a6b/src/azure-cli-core/azure/cli/core/_profile.py#L808-L811

I am also able to repro

[code]

Let's keep an eye on how `pip` will do in the future for `2020-resolver`. We will consider bumping the version of `azure-mgmt

[2020-10-13 03:50] jsntcy commented on #15496
We'll plan to bump the version `azure-mgmt-resource` to the latest version next sprint (11/17).

[2020-10-13 03:51] jsntcy opened #15499 "Get Effective Routes CLI not sending resource type and resource URI in request"
In ICM https://portal.microsofticm.com/imp/v3/incidents/details/206126962/home, customer is using CLI for Get Effective Routes but the request being sent to Nrp is incorrect.

PS /home/vladimir> az network vhub get-effective-routes --resource-type RouteTable --resource-id /subscriptions/b2ae6fcd-b251-454e-af82-7ef05907a3dc/resourceGroups/VirtualWAN-RG/providers/Microsoft.Network/virtualHubs/NorthC

[2020-10-13 04:39] yonzhan commented on #15499
add to S177

[2020-10-13 05:10] yungezz commented on #13519
#14011

[2020-10-13 05:10] yungezz commented on #13958
#14011

[2020-10-13 05:10] yungezz commented on #14001
#14011

[2020-10-13 05:17] haroldrandom commented on #15353
Feel free to reopen if it's unsolved

[2020-10-13 05:17] #15353 closed

[2020-10-13 07:09] Kotasudhakarreddy commented on #15469
@panchagnula - I don't have access to the [link](https://dev.azure.com/azuretracking/Azure%20tracking/_workitems/edit/1526) provided. could you please check if you have access to it.

[2020-10-13 07:11] Kotasudhakarreddy commented on #15479
@mrqaidi - could you please run the command with `--debug` and provide me the log to analyze it further.

[2020-10-13 07:47] glettl opened #15503 "WebApp:az webapp create-remote-connection AttributeError: 'Thread' object has no attribute 'isAlive'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create-remote-connection`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create-remote-connection --resource-group {

[2020-10-13 08:44] alterEgo123 opened #15506 "Cannot install AzureCLI"
**Describe the bug**
Azure CLI installation is failing during Docker image build.
**To Reproduce**
Add **RUN bash -c "$(curl -sL https://aka.ms/InstallAzureCLIDeb)"** to a Dockerfile and build the image.

**Expected behavior**
Install AzureCLI inside Docker image.

**Additional context**
[code]

[2020-10-13 09:17] marchesir commented on #15506
have simular issue also with msft ubuntu repos:
https://packages.microsoft.com/ubuntu/18.04/prod/dists/bionic/main/binary-amd64/
Err:4 https://packages.microsoft.com/ubuntu/18.04/prod bionic/main amd64 Packages
  File has unexpected size (72463 != 72485). Mirror sync in progress? [IP: 13.91.48.226 443]

was fine yesterday?

regards

[2020-10-13 09:27] unixsurfer commented on #15506
Same issue here where `apt update` fails for the repo
[code]

[2020-10-13 09:27] glaubitz commented on #15496
This bug also causes issues for Linux distribution packagers which are now stuck with an old version of ```azure-mgmt-resource``` as Linux distributions usually don't allow shipping multiple versions of the same package in one repository.

This should definitely get fixed for the next release.

[2020-10-13 09:31] alterEgo123 commented on #15506
@marchesir It's been working fine for months now until this morning, my builds started failing :(

[2020-10-13 09:32] yungezz commented on #15506
hi @fengzhou-msft could you pls help to have a look? thanks

[2020-10-13 09:32] marchesir commented on #15506
@alterEgo123  me too, everything was fine till this morning  then started to break :(

[2020-10-13 09:35] marchesir commented on #15506
for now my workaround is to avoid apt-get update which refreshes remote repos. hopfully msft will fix it soon

[2020-10-13 09:44] ChristianKuhre commented on #15506
Seems like the InRelease file has not been updated in the repo

[2020-10-13 09:58] GavBurke commented on #15506
Ditto to @marchesir issue, I get "File has unexpected size" on another line:
`E: Failed to fetch https://packages.microsoft.com/repos/azure-cli/dists/bionic/main/binary-amd64/Packages.bz2  File has unexpected size (10931 != 10801). Mirror sync in progress? [IP: 13.81.215.193 443]
   Hashes of expected file:
    - Filesize:10801 [weak]
    - SHA512:0554d510c26a7d54ee3c81a09ca705cb72138dfc4efad5d24c

[2020-10-13 10:00] marchesir commented on #15506
@GavBurke yes very true workaround is just for non msft packages or if repos have already been synced

[2020-10-13 10:06] yungezz commented on #15506
hi all, we're working on fixing the issue. Yes, it's caused by issue of unsynced InRelease and Release.gpg files

[2020-10-13 10:09] r3mattia commented on #10292
I have this issue as well...

[code]

[2020-10-13 10:15] cyndara opened #15507 "Upgrading azure cli failed to fetch"
**Describe the bug**
Cannot upgrade azure cli on Ubuntu 18.04, when I try to update the repositories I get this message:
`E: Failed to fetch https://packages.microsoft.com/repos/azure-cli/dists/bionic/main/binary-amd64/Packages.bz2  File has unexpected size (10931 != 10801). Mirror sync in progress? [IP: 192.168.2.2 8080]
   Hashes of expected file:
    - Filesize:10801 [weak]
    - SHA512:0554d51

[2020-10-13 10:19] marchesir commented on #15506
great thanks @yungezz 👍

[2020-10-13 10:48] narendraugh commented on #15266
@pvrk - It is resolved now. Thankyou :-)

[2020-10-13 10:48] narendraugh commented on #15266
It is resolve now hence closing the issue.

[2020-10-13 10:48] #15266 closed

[2020-10-13 11:06] cyndara commented on #15507
Duplicate of #15506

[2020-10-13 11:06] #15507 closed

[2020-10-13 11:17] skatsaounis commented on #10292
I ma facing the same issue at the moment

[2020-10-13 11:49] yonzhan commented on #15503
webapp

[2020-10-13 11:49] AlexBurdinAtSpark commented on #15506
@yungezz , what is the expected time to fix the problem?

[2020-10-13 12:42] Console32 commented on #14086
@jiasli Can you clarify how to do this using the REST API?
I can not change the signInAudience using the azure ad graph api. The calls always fails with `ValidationError: Bad Request`

I created a question [here](https://stackoverflow.com/questions/64335377/setting-signinaudience-using-azure-graph-api-invalid-json). Basically the API tells me that the JSON is invalid. Is there a working example an

[2020-10-13 12:55] nerddtvg commented on #11891
I have a similar problem happening with `az storage list`. The command will fail with a 429 message and does not appear to respect the throttling:

[code]

This cascades down and breaks items that depend on the Azure CLI such as Terraform.

While I believe the source of the problem is the actual backend (the list request is only 4 actual requests), the Azure CLI should have a way to handle this gr

[2020-10-13 13:33] dkirrane commented on #9204
Why is this failing on GitBASH? I used the MSI installer

[code]

[2020-10-13 13:55] GavBurke commented on #15506
I can confirm that and `apt-get update` is now working fine for me with this Microsoft repo.  So I would guess @AlexBurdinAtSpark it now works again?

[2020-10-13 14:03] alexburdin commented on #15506
@GavBurke , yes, thanks.

[2020-10-13 14:04] AlexBurdinAtSpark commented on #15506
@GavBurke , yes, thanks.

[2020-10-13 14:28] unixsurfer commented on #15506
I can confirm as well  that I don't see the issue anymore

[2020-10-13 18:19] skingd commented on #15232
Here is the debug message:

`Command arguments: ['storage', 'blob', 'upload', '--account-name', 'zw2ssprdstaroleaudit', '--container-name', 'audits', '--name', '10.13.2020_azure_role_audit.csv', '--file', 'C:\\Audits\\10.13.2020_azure_role_audit.csv', '--auth-mode', 'login', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments a

[2020-10-13 19:15] azeltov commented on #13927
This is still an issue on compute instances. I have it working on my mac. I tried update to latest az cli and az ml cli and also updating pip azure -mgmt-containerregistry and still have the same issue.
az acr login --name amldbxsummitf07c5365
The command failed with an unexpected error. Here is the traceback:

APIVersion 2019-12-01-preview is not available
Traceback (most recent call last):
  Fil

[2020-10-13 19:53] amafonso opened #15510 "az appservice plan list"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az appservice plan list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az appservice plan list`

## Expected Behavior

## Environment S

[2020-10-13 20:14] amitronen1 commented on #8313
that's correct. properties are case-sensitive.
closing issue due to client error.

[2020-10-13 21:40] ramaganesan-rg commented on #14725
Hello,
The documentation you are asking for is available at
https://docs.microsoft.com/en-us/rest/api/consumption/usagedetails/list#legacyusagedetail
Please check it out, and reopen if you have any further questions. Thank you for your feedback!

[2020-10-13 21:40] #14725 closed

[2020-10-13 22:01] lostmygithubaccount commented on #15434
@fengzhou-msft @yungezz any updates here? this is increasingly becoming a point of failure in our automated testing for Azure Machine Learning

[2020-10-13 22:39] noderat commented on #13319
This presents as a problem and only removing the `expires-on`, `expires-in` and `refresh-token` keys manually from the config file or a new invocation of get-credentials seems to work for me. Perhaps related to https://github.com/kubernetes/client-go/issues/353 ?

[2020-10-13 22:43] yonzhan commented on #15510
appservice

[2020-10-14 01:15] kingces95 opened #15511 "az resource link error: ValidationError: The location property is required for this definition."
I expected to be able to link two arbitrary resources, but actually got an error saying, "`ValidationError: The location property is required for this definition.`" The documentation does not even list `--location` as an optional, much less a required, argument.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b0

[2020-10-14 01:43] yonzhan commented on #15511
add to S178

[2020-10-14 01:50] jiasli commented on #9204
This is a bug of Git Bash and I am afraid I can't provide more info on "why". Git Bash is not officially supported by Azure CLI.

[2020-10-14 01:54] jiasli opened #15512 "Cannot change the signInAudience using the Microsoft Graph API"
Can you clarify how to do this using the REST API?
I can not change the signInAudience using the azure ad graph api. The calls always fails with `ValidationError: Bad Request`

I created a question [here](https://stackoverflow.com/questions/64335377/setting-signinaudience-using-azure-graph-api-invalid-json). Basically the API tells me that the JSON is invalid. Is there a working example anywhere h

[2020-10-14 01:56] jiasli commented on #14086
This is a separate issue. Let's work on https://github.com/Azure/azure-cli/issues/15512.

[2020-10-14 02:31] jiasli commented on #15512
@Console32, judging from [the content you posted on Stackoverflow](https://stackoverflow.com/questions/64335377/setting-signinaudience-using-azure-graph-api-invalid-json):

[code]

It looks like you are using PowerShell and hitting the [quoting issue of PowerShell](https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-with-powershell.md). Double quotes in the JSON string should be escaped

[2020-10-14 02:38] yungezz commented on #15510
hi @amafonso could you pls uninstall 2.0.81, and install lateste azure  cli via guideline  https://aka.ms/doc/InstallAzureCli. This is a known issue in #14011,  the CLI pacakge in Focal is out-of-data and has problem.

[2020-10-14 02:39] yungezz commented on #15506
the issue is fixed after synced. Pls let us know if you still see the issue. thanks.

[2020-10-14 03:10] bim-msft commented on #14396
Hi @techadmin1982 , sorry for the late reply. I still cannot reproduce this issue, so it's really hard for me to debug this on my side. Could you please run `az keyvault list-deleted` with `--debug` and paste the log here? Thanks.

[2020-10-14 03:47] arrownj commented on #14416
Hi @kappa ,

Just as discussed in [Azure/azure-sdk-for-python#12612](https://github.com/Azure/azure-sdk-for-python/issues/12612), this is a build problem of the 5 SDK packages. Below are the status of these SDKs.

| SDK | Latest Version | Latest Version Build Success | CLI Used Version | CLI Used Version Build Success |
| ----------- | ----------- | ----------- | ----------- | ----------- |
| azur

[2020-10-14 07:16] fengzhou-msft commented on #15434
We have also seen increasing failures for this aka.ms link. We will work with the Redirection Service team to investigate it.

As a workaround, you can get the package URL from [here](https://github.com/Azure/azure-cli-extensions/blob/8e5cba94504adbf83c7e06710910695996618311/src/index.json#L2574) and install with
`az extension add -s https://azurecliext.blob.core.windows.net/release/azure_cli_ml-1

[2020-10-14 07:19] Console32 commented on #15512
Hi @jiasli

You are correct this was just a quoting issue on my side. After fixing the JSON, the updates work. Strange that the other Update in my SO Posts worked without a valid JSON 🙈 .

Thanks

[2020-10-14 07:37] msyyc commented on #15473
(1)please use the package and check whether it works well :  https://portal.azure-devex-tools.com/api/sdk-dl-pub?p=Azure/azure-rest-api-specs/10585/azure-sdk-for-python/azure-mgmt-billing/azure_mgmt_billing-0.2.0-py2.py3-none-any.whl @haroldrandom
(2)please confirm the CHANELOG and version : https://github.com/Azure/azure-sdk-for-python/pull/14491/files#diff-a333e1ac506a3485e89c33171d5712659e54c23

[2020-10-14 07:45] mepand commented on #14177
@andboyer : Can you please share the trace after executing the command with --debug parameter so that we can analyze further?

[2020-10-14 07:47] mepand commented on #14983
As there is no further action pending from the PG side, closing this issue, @hmi12 : Please feel free to reopen the issue incase its not yet fixed for you.

[2020-10-14 07:47] #14983 closed

[2020-10-14 09:06] jiasli commented on #15512
Perhaps because you are using Cloud Shell or Bash? This issue only happens in PowerShell. You may use `--debug` to check
- the actual JSON argument Azure CLI receives
- the REST request and response on the wire

For example:
[code]

[2020-10-14 09:12] gschauhan commented on #15461
I am also facing this.

[2020-10-14 09:53] AshTappin opened #15517 "Error loading command modules"
I have installed azure-cli (v 2.13.0) manually on Ubuntu (I followed these instructions https://docs.microsoft.com/en-gb/cli/azure/install-azure-cli-linux). I have Python 3.8.5 installed.

However, everytime I use `az` I get the following errors:

[code]
Running with `--debug` I see

`TypeError: __init__() missing 1 required positional argument: 'cli_ctx'`

Any ideas on what is going wrong and wha

[2020-10-14 09:53] gschauhan commented on #15461
I am also facing this.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary

[2020-10-14 10:27] HPatki opened #15518 "az pipelines create"
I am using azure CLI 2.12.1 on windows.

I am trying to build a pipeline for project residing in GitHub & for Docker template.
When i run 'az pipelines create' selecting docker template (option 2), the CLI asks me the container registry to use for this pipeline. After i select the default registry, the CLI keeps showing 'checking resource readiness...' message and does not proceed beyond this step

[2020-10-14 10:44] yonzhan commented on #15518
pipelines

[2020-10-14 11:06] VladMoc opened #15519 "Is there any way to return the exit code from a PowerShell script to Jenkins?"
**Describe the bug**
I'm trying to run a PowerShell script from Jenkins using Azure CLI that is installed in a docker container. The problem is that when the script fails the Jenkins pipeline passes.

This is the response from the Azure CLI

`[Pipeline] sh
+ az vm run-command invoke --command-id RunPowerShellScript --n AZR -g AM --scripts '& C:\clean_up.ps1'
{
  "value": [
    {
      "code": "Com

[2020-10-14 13:15] timvanderweijde opened #15520 "Unable to update Capacity units on the Application Gateway when using WAF Policy"
## Describe the bug
After creating a WAF Policy and creating an Application Gateway, it's not possible to update the Capacity units anymore. Trying to update the Capacity in Azure Portal gives an error.

**Command Name**
`az network application-gateway create`

**Errors:**
Failed to save configuration changes to application gateway 'application-gateway-some-name'. Error: WebApplicationFirewallConf

[2020-10-14 13:49] lineneon opened #15521 "Azure cosmosDB create bug on Ubuntu 20"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cosmosdb create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az cosmosdb create --name {} --resource-group {} --locations {}`

##

[2020-10-14 13:51] #15521 closed

[2020-10-14 13:52] lineneon commented on #15521
found a root of the problem

[2020-10-14 14:32] yungezz commented on #15519
hi @qwordy could you pls help to have a look? thanks

[2020-10-14 14:32] yungezz commented on #15517
hi @fengzhou-msft could you pls have a look? thanks

[2020-10-14 14:43] yonzhan commented on #15520
add to S178

[2020-10-14 16:30] hectoralicea commented on #10467
I've had the same issue.  Running the exact build script twice causes this error.
azure-cli version is 2.9.1
[code]

[2020-10-14 17:16] jvano commented on #14631
Please make sure you test against Windows Containers on App Service as the backend support for pulling with MSI is also ready

[2020-10-14 18:59] Francisco-Gamino opened #15523 "[Functions] functionapp: Added support for to create function apps for hidden runtimes"
cc @gzuber @pragnagopa

Please add support do create a function app from a hidden runtime defined in the Stacks API.

For the Az.Functions cmdlets, I am using a environment variable `$env:displayHiddenRuntimes`. If this variable is set to `$true`, the creation of a function app from a hidden runtime is enabled.

[2020-10-14 19:13] shurd commented on #14627
We are still waiting for the PR to be reviewed, but it should be in the next CLI release.

[2020-10-14 19:13] #15365 closed

[2020-10-14 19:14] shurd commented on #15291
We are still waiting for the PR to be reviewed, but it should be in the next CLI release.

[2020-10-14 19:35] schradert opened #15524 "Typos on `az cosmosdb --help`"
**Describe the bug**

Several subgroups have misspelled Cosmos DB as Comsos DB (harmless mistake but noticeable!), namely:
1. keys
2. network-rule
3. private-endpoint-connection
4. private-link-resource

![image](https://user-images.githubusercontent.com/9901294/96036072-d033ed00-0e18-11eb-86ea-2bf27e88d2de.png)

**To Reproduce**
`az cosmosdb --help`

**Expected behavior**
All subgroup `--help` de

[2020-10-14 19:50] panchagnula commented on #14142
Moving this to next sprint since we need the new SDK with latest API Version to support this property

[2020-10-14 19:52] panchagnula commented on #12090
@calvinsID  moving this out by few sprints but lets check if we can figure out a good way (using resourceID instead of name maybe) to support this scenario.

[2020-10-14 19:56] panchagnula commented on #13291
@Kotasudhakarreddy / @ThejaChoudary can one of you take this up for the upcoming milestone?

[2020-10-14 19:56] #13203 closed

[2020-10-14 20:15] shurd commented on #15524
Thank you for reporting this. I have submitted a fix.

[2020-10-14 20:17] dvdtho opened #15525 "WebApp:unable to upload new django project to web app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --name {}`

## Expected Behavior

## Environment Summary
[code

[2020-10-14 20:53] MaurGi commented on #13368
keeps happening with 2.10.1 - here are my versions:

[code]

[2020-10-14 21:05] btardif commented on #13907
@panchagnula @singlessis  any updates on this one?

[2020-10-14 21:08] btardif commented on #15479
@calvinsID please see if you can repro this or close it out if there is no further info

[2020-10-14 21:11] btardif commented on #15448
This is by-design.

Traffic routing rules belong to the production app.

If there is a bug here, it should go to API to block creating a TIP rule against a slot that does not exist.

CLI will not do this validations on the client side.

[2020-10-14 21:11] #15448 closed

[2020-10-14 21:14] btardif commented on #15415
@panchagnula is this something for @singlessis ?

[2020-10-14 21:17] btardif commented on #15394
I think this is a dup of #15395

[2020-10-14 21:17] #15394 closed

[2020-10-14 21:25] btardif commented on #15448
We are tracking the API validation here: Bug 8579682: az webapp traffic-routing set to slot that doesn't exist breaks webapp

[2020-10-14 21:54] sireza commented on #13613
Just experienced the same issue, would appreciate an update on this. Thanks

[2020-10-14 22:26] panchagnula commented on #13907
Still in PR @btardif!

[2020-10-14 22:28] panchagnula commented on #15415
For now @ThejaChoudary is doing the initial investigation not for Sofi.

[2020-10-14 23:17] panchagnula commented on #15525
@dvdtho is this Django app a Github repo app you can point us to also. Can you  check defaults subscription & local config set on this & if they look correct?

az account show -> using the right subscription

check no local config set from the folder you are running the app from look for .azure folder & see if you have any default values set for  app service plan or resource group. Thanks!

[2020-10-14 23:27] yonzhan commented on #15523
Functions

[2020-10-14 23:41] yonzhan commented on #15524
cosmosdb

[2020-10-15 00:15] yonzhan commented on #15525
webapp

[2020-10-15 00:26] panchagnula commented on #14427
Once this is fixed we can enable the tests for remote-connections

[2020-10-15 01:43] yungezz commented on #15525
https://github.com/Azure/azure-cli/issues/14287

[2020-10-15 02:03] yungezz opened #15528 "[Keyvault] RBAC data plane GA"
**Is your feature request related to a problem? Please describe.**

Keyvault

**Describe the solution you'd like**

RBAC data plane will GA in Nov, 2 asks to CLI
- move command from preview to GA
- show correct message in CLI after Rest API change ready

New message would be:
[code]

**Describe alternatives you've considered**

**Additional context**

[2020-10-15 02:04] yungezz commented on #15528
put in S178 for now. Pending  on Swagger ready.

[2020-10-15 02:37] jiasli opened #15529 "[Shell] Azure CLI receives corrupted arguments in PowerShell"
## Describe the bug

When invoking `az` in PowerShell, due to the known issue of PowerShell https://github.com/PowerShell/PowerShell/issues/1995,  arguments passed to Azure CLI may get corrupted. For example, literal double quotes (`"`) are lost:

[code]

This contradicts the behavior of Bash:

[code]

## Workaround

Until this issue is fixed by PowerShell, arguments with special characters (`"`,

[2020-10-15 02:42] jiasli commented on #15529
All similar issues are categorized under the [**Shell - PowerShell**](https://github.com/Azure/azure-cli/issues?q=label%3A%22Shell+-+PowerShell%22) label. By now, received #7054, #8070, #8630, #8827, #9047, #9228, #9742, #10370, #10997, #11003, #1100, #11641, #11668, #12970, #13152, #13208, #13340, #13882, #15512, #15529.

[2020-10-15 02:45] jiasli commented on #15460
Duplicate of #15461

[2020-10-15 02:45] #15460 closed

[2020-10-15 02:47] jiasli commented on #15461
This is a known issue if you install Azure CLI will `azure-mgmt-resource` under the same Python virtual environment, please see https://github.com/Azure/azure-cli/issues/13995#issuecomment-663353202 for more details.

[2020-10-15 02:48] jiasli commented on #15429
This is a known issue if you install Azure CLI will `azure-mgmt-resource` under the same Python virtual environment, please see https://github.com/Azure/azure-cli/issues/13995#issuecomment-663353202 for more details.

[2020-10-15 02:48] jiasli commented on #14716
This is a known issue if you install Azure CLI will `azure-mgmt-resource` under the same Python virtual environment, please see https://github.com/Azure/azure-cli/issues/13995#issuecomment-663353202 for more details.

[2020-10-15 02:52] yungezz commented on #14416
hi @kappa does above workaround from @arrownj make sense to you? Could you pls give it a try then?

[2020-10-15 02:57] jiasli opened #15530 "Bump azure-mgmt-resource to Track 2 15.0.0"
**Is your feature request related to a problem? Please describe.**

Due to the code change in Track 2 SDK, if a user uses `pip` to install Azure CLI and `azure-mgmt-resource==15.0.0` in the same virtual environment. CLI will stop functioning correctly:

[code]

More info: https://github.com/Azure/azure-cli/issues/13995

**Describe the solution you'd like**

Bump the dependency of `azure-mgmt-resou

[2020-10-15 06:47] axayjo commented on #14642
If there's no communication between the Agent and Extension for 25 minutes, the fail fast mechanism is triggered. This is by design with all VM Extensions, not just Run Command. I'll run this bug by the team update this thread.

[2020-10-15 06:47] spatialman opened #15533 "az apim create cli command does not have option to set the specific vnet"
**Describe the bug**
"az apim create" CLI command does not have option to set the specific VNet.
VNet type using the option --virtual-network {External, Internal, None} but if we choose, External.
But does not have a way to associate a specific VNet/SubNet to the apim.

**To Reproduce**
Create a APIM using Azure CLI
az apim create --name apimx --resource-group rgy --virtual-network External

**Exp

[2020-10-15 07:42] shurd commented on #13686
The deployment is still pending, and we are still targeting the next few weeks.

[2020-10-15 07:50] arrownj opened #15536 "Can't update vm or image-version if reference to a cross tenant image"
**Describe the bug**
Here’s a scenario that an internal customer, Lab Services, is having. They have a HOBO scenario.

1. Lab Services has a snapshot sitting in their own subscription.
2. Lab Services uses a service principal that has access to the Lab Services subscription and customers’ subscriptions.
3. The service principal creates a gallery, image definition and image version in the customer’

[2020-10-15 08:16] evelyn-ys commented on #15214
linked with #15529

[2020-10-15 08:32] HPatki commented on #15518
I tried creating the same pipeline manually (on portal). And got this error - 'Failed to create an app in Azure Active Directory. Error: Insufficient privileges to complete the operation. Ensure that the user has permissions to create an Azure Active Directory Application.'.

Can this error be causing the CLI to hang ?

[2020-10-15 08:38] mainred opened #15539 "Shared Image Gallery: Updating a share image version returns internal error"
[Enter feedback here]
After create a image version under my SIG, and I update the image version with more replicas in several regions with ` az sig image-version update`, after 2 hours and 17 minutes, it throws the following error
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 99108d44-6c69-d481-7c5e-89190579963

[2020-10-15 08:53] Kotasudhakarreddy commented on #14521
@sivakumarss - closing this issue as we are unable to repro this. please reopen or rise new issue when you face it again.

[2020-10-15 08:53] #14521 closed

[2020-10-15 08:55] ronari2 commented on #9855
Hello, We have added it to our backlog. No ETA at this stage. Thanks, Ronen

[2020-10-15 10:03] Timost commented on #15379
Hi @Juliehzl I just tested the edge-build and it seems the issue is fixed. Everything worked as expected.

[2020-10-15 10:09] evelyn-ys commented on #15214
Hi @geordle, this is a known issue in Powershell. We have a doc about quoting issues on the home page https://github.com/Azure/azure-cli#common-scenarios-and-use-azure-cli-effectively. You may find the link there pointing to [Quoting issues](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#quoting-issues), which again links to [Quoting issues with PowerShell](https://github.c

[2020-10-15 10:12] martyglaubitz commented on #15431
I encountered the same issue seems to be releated to the Network parameters (--vnet and --subnet) when left out, the container creation works, but then you can't update the network anymore...

[2020-10-15 13:13] omerchechik commented on #8807
Thank you for pointing this typo out. The API for tasks is pending deprecation.
Please use assessment api instread (https://docs.microsoft.com/en-us/rest/api/securitycenter/assessments/get)

[2020-10-15 13:18] geordle commented on #15214
Ha, found it. Thanks! It was solved by wrapping it with single quotes, like listed quoting issues. So: az rest --url '"https://dev.azure.com/{}/{}/_apis/wit/workitemtypes/Bug/fields/{}?api-version=6.1-preview.3&$expand=All"' --resource "499b84ac-1321-427f-aa17-267ca6975798"

[2020-10-15 13:18] #15214 closed

[2020-10-15 15:15] BCOps commented on #11833
@kalioz I am seeing a very issue when trying to update the backend address pool of an app gateway rule using

"az network application-gateway rule update -g RGNAME --gateway-name APPGWNAME -n RULENAME --address-pool $NewBackendPool.Id" .

The command runs, doesn't throw an error, but no change is observed in the app gateway config when I refresh my view of it either in CLI or Portal. This appears

[2020-10-15 15:19] matthewfrye commented on #12689
I'm running into a similar issue even when I have read access at the subscription level.  I can't pull back AzureCloud tags.  It ends at WindowsVirtualDesktop tags.

Also, why should it be required to have read access at the subscription level to pull back publicly known IPs?  You provide that info in a weekly file that requires no authentication, but you can't provide it without having read acces

[2020-10-15 15:24] kovarikthomas commented on #14672
Thanks for taking the time to investigate it. Now, I see that it makes a very good sense that this combination of flags is not allowed. I will close the issue.

[2020-10-15 15:24] #14672 closed

[2020-10-15 15:29] kalioz commented on #11833
Hey there @BCOps ,
That's kind of the issue i have.

I ended up updating the existant urlPathMap instead of trying to update the rule, which is messier but the only thing i could do to make it work.

no update from anyone on this thread, I guess few people are impacted by this :)

[2020-10-15 17:55] herreraj-ms opened #15543 "[Monitor] Onboarding Azure Monitor Control Service (AMCS)"
**Resource Provider**
Azure Monitor

**Description of Feature or Work Requested**
Onboarding AMCS data collection rules (DCR) and data collection rule associations (DCRA) APIs to monitor module.

**Minimum API Version Required**
2019-11-01-preview

**Swagger Link**
DCR: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2019-

[2020-10-15 18:09] CesarSolis opened #15544 "Documentation issues and optimization of the API call"
Documentation does not provide the complete help, problem I see is that it does not even include the spec options used in the examples provided (-l -s for instance).
az vm list-skus -h

--zone option does not provide what is the default value if not included.

The optimization I'm talking about is : while running with --Debug --Verbose I found that the API call to Request URL: 'https://management.

[2020-10-15 20:57] yonzhan commented on #15530
Bump azure-mgmt-resource

[2020-10-15 22:33] matt-richardson opened #15545 "azure-cli fails to install on SUSE 12 SP5"
**Describe the bug**

Following the install instructions [Install on SLES 12 or other systems without Python 3.6](https://docs.microsoft.com/de-de/cli/azure/install-azure-cli-zypper#install-on-sles-12-or-other-systems-without-python-36) fails with

[code]

**To Reproduce**
1. spin up a new instance of SUSE12. I used `ami-0676bd358c66c9150` on AWS in ap-southest-2.
2. install python 3.6 from source

[2020-10-15 22:51] PgInsight opened #15546 "Bug in apim apply-network-updates location data paylod"
`> az apim apply-network-updates --name testapim --resource-group test00 --location westus --debug`

Throws an error:
[code]

Debug logging shows the JSON data payload sending as:

[code]

This location payload being sent should be  {'location': 'westus'}

Per the apim documentation for this API:
https://docs.microsoft.com/en-us/rest/api/apimanagement/2019-12-01/apimanagementservice/applynetworkco

[2020-10-16 00:13] shajidissa opened #15547 "https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/deploy-github-actions"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac --name {} --role {} --scopes {} --sdk-

[2020-10-16 00:52] yungezz commented on #15546
route to appropriate team

[2020-10-16 00:52] yungezz commented on #15545
hi @fengzhou-msft could you pls have a look? thanks

[2020-10-16 00:53] yungezz commented on #15544
hi @qwordy , could you pls take a  look? thanks

[2020-10-16 00:54] yungezz commented on #15539
hi @qwordy could you pls help on this? thanks

[2020-10-16 00:55] yungezz commented on #15533
route to appropriate team

[2020-10-16 00:56] yungezz commented on #15547
hi @shajidissa could you pls run `az login` to workaround? This is a known issue in Cloudshell, detail in #11749

[2020-10-16 00:58] lostmygithubaccount commented on #15434
can running `az extension add -n azure-cli-ml` be changed to that link instead?

[2020-10-16 01:16] cachai2 opened #15548 "Incorrect error messaging for 'az functionapp plan update --max-burst""
Azure Functions CLI

When running 'az functionapp plan update --max-burst" an error message: "No update is done. Specify --sku and/or --number-of-workers." appears. However, the update does go through to change the max burst. as verified through portal.

This message doesn't appear when updating --max-burst with either --number-of-workers or --sku. There is most likely just a missed case which sho

[2020-10-16 01:55] qwordy commented on #15138
@grace-liang There is an error. Can you help? Does the subscription need to be added to allowed list? Thanks.
Request body:
[code]
Error:
[code]

[2020-10-16 02:27] northtyphoon commented on #15465
@yonzhan the above log shows cli argument parser throw error when parsing required positional parameter. Before if positional parameter is missing, CLI would point out the missing parameter. Is there any change in CLI argument parser? /cc: @yugangw-msft

https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/acr/_params.py#L188

[2020-10-16 02:29] grace-liang commented on #15138
Added that subscription, please retry. Thanks @qwordy!

[2020-10-16 03:01] fengzhou-msft commented on #15434
We can't change it directly. The link is an index of all extensions, CLI looks for the download link for azure-cli-ml extension or any other extensions in it.

We will see how we can improve it once we identify the root cause of the issue.

[2020-10-16 04:31] chauhang opened #15551 "Unable to install aks cli on macos"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2020-10-16 04:35] gschauhan commented on #15461
Re-installing via this commad didn't help
`pip install azure-cli --force-reinstall`

but from [https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt](url) I used
`curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash`

to reinstall azure cli. This got read off above error and properly showed "The following tenants don't contain accessible subscriptions. Use 'az login --allow-no-subscri

[2020-10-16 05:05] fengzhou-msft commented on #15545
@matt-richardson if you run `/usr/bin/python3 -V`, does it still refer to python 3.4?

In the configure step when building python 3, you can try to add the following options:
`$PYTHON_SRC_DIR/*/configure --with-ssl --prefix=/usr`
It will build with the support of ssl and install python 3.6 in `/usr/bin/`. It will override the existing python 3.4.

[2020-10-16 05:43] matt-richardson commented on #15545
Before running any of the steps, running `/usr/bin/python3 -V` gave me:
[code]

after running:
[code]
running `/usr/bin/python3 -V` gives me:
[code]

Running with the new configure options :
[code]

showed this warning:
![image](https://user-images.githubusercontent.com/373389/96217451-56ddfb00-0fce-11eb-96c2-633592e588e8.png)

but still appeared to work. I'm just setting things up to try installi

[2020-10-16 07:45] yuemlu opened #15554 "Support enable/disable paid bursting on Managed Disks"
**Resource Provider**

DiskRP

**Description of Feature or Work Requested**
We offer paid bursting where customer can pay for an activation fee to get higher burst perf target and permission to burst beyond available tokens. The disk can burst up to the max burst perf target at any point of time and charged for transactions that exceed available tokens. Customer can enable disk bursting when the d

[2020-10-16 08:08] yonzhan commented on #15536
Compute

[2020-10-16 08:21] qwordy commented on #15265
@avirishuv Kindly ping.

[2020-10-16 08:24] jiasli commented on #15461
Could you share the result of `pip list`?

[2020-10-16 08:34] liu9836777 opened #15556 "Cannot install the kubectl"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli --install-location={}`

## Expected Behavior

## E

[2020-10-16 08:43] mdufourneaud4datagalaxy commented on #15431
What is strange, is that the same script works well when executed via the cloud shell.
I am wondering what are the differences between the 2 environments 🤔

[2020-10-16 09:19] yonzhan commented on #15543
add to S178

[2020-10-16 09:32] yonzhan commented on #15548
functionapp

[2020-10-16 09:34] yonzhan commented on #15465
@jiasli to comment.

[2020-10-16 09:47] yungezz commented on #15556
routing to appropriate team

[2020-10-16 09:49] yungezz commented on #15554
planned in S179

[2020-10-16 09:50] yungezz commented on #15551
routing to appropriate team

[2020-10-16 10:00] vipulsmishra opened #15557 "Unable to upload to blob"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob upload`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob upload --container-name {} -n {} -f {}`

## Expec

[2020-10-16 10:05] eaglezzb opened #15558 "aks get node bug"
az aks list
count
when we scale node to 100. and late reduce to 60.
the result in Windows 10 WSL 2 . is wrong you will get 100.

[2020-10-16 10:07] jiasli commented on #15465
I am able to repro with a pseudo command:

[code]

The argument are received by Azure CLI correctly, and the failure happened in `azure/cli/core/command_recommender.py`. + @houk-ms to take a look.

[2020-10-16 10:21] #8313 closed

[2020-10-16 10:27] yonzhan commented on #15557
add to S178

[2020-10-16 10:29] yonzhan commented on #15558
aks

[2020-10-16 11:04] ravindrank opened #15559 "Seeing this error while running az interactive --update"
Seeing this error while running az interactive --update**Command Name**
`az interactive`

I ran this once:  az interactive --update
and it got stuck at a question on sending telemetry and I press ctrl + C.

The subsequent executions seems to throw below error.

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain se

[2020-10-16 11:58] gschauhan commented on #15461
root ➜ /workspaces $ pip list
Package             Version
------------------- ---------
certifi             2020.6.20
chardet             3.0.4
dbus-python         1.2.16
distro-info         0.24
idna                2.10
isodate             0.6.0
oauthlib            3.1.0
pip                 20.2.3
pycurl              7.43.0.6
PyGObject           3.38.0
python-apt          2.1.3
setuptools

[2020-10-16 15:09] yonzhan commented on #15559
interactive

[2020-10-16 16:27] mkostersitz opened #15560 "az create keyvault fails on Visualstudio free subscription"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
when trying to create a new keyvault in a RG in WestUS2 the command failed
**Command Name**
`az keyvault create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here...

[2020-10-16 16:38] shajidissa commented on #15547
az login works. Thanks for the workaround.

[2020-10-16 17:14] tejasshah7 commented on #15481
@yonzhan @haroldrandom what is the expected release for this?

[2020-10-16 17:15] tejasshah7 commented on #15481
Here is Powershell PR for reference: https://github.com/Azure/azure-powershell/pull/13238

[2020-10-16 17:45] cachai2 commented on #15548
In src/azure-cli/azure/cli/command_modules/appservice/custom.py, line 1690. 'def update_app_service_plan(instance, sku=None, number_of_workers=None):' should be updated to check max_burst as well in its logging statement.

The double error message appearing is due to calling update_app_service_plan twice in update_functionapp_app_service_plan, so log gets triggered twice

[2020-10-16 20:32] calvinsID commented on #15427
@keziashirazi98 what is the runtime & os of the app you are deploying to?

[2020-10-16 20:47] shizn commented on #15274
Adding one more screenshot on the error message: password too short
![image](https://user-images.githubusercontent.com/3619378/96307184-06f33a00-0fb6-11eb-82e9-47577d1cd472.png)

They have exactly the same characters but the order is different ($).

[2020-10-17 01:30] #15547 closed

[2020-10-17 01:33] yonzhan commented on #15481
S178  https://github.com/Azure/azure-cli/milestone/96

[2020-10-17 08:40] #15362 closed

[2020-10-17 08:49] yonzhan commented on #15382
keyvault

[2020-10-17 09:12] yonzhan commented on #15410
@giri-teja  any feedback for the above solution?

[2020-10-17 09:14] #15418 closed

[2020-10-17 09:18] #15429 closed

[2020-10-17 13:55] wiktorn commented on #12909
Referring to the comment from @zhoxing-ms in [#15502](https://github.com/Azure/azure-cli/pull/15502#issuecomment-708275741)

This is perfectly fine with me, as it gives clear error message what is wrong. And there is easy workaround for that:
[code]

And as I understand, there are other cases, where Service will change the content of the template (striping the comments, changing the lines etc.).

[2020-10-17 14:05] martyglaubitz commented on #15431
@mdufourneaud4datagalaxy i guess the cloud shell runs a different python Version?

[2020-10-17 14:43] #15354 closed

[2020-10-17 14:44] yonzhan commented on #15399
@brahma-farms please share your detailed log after rerun az login.

[2020-10-18 01:03] goulash1971 opened #15564 "Webapp:Log Download Failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp log download`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp log download --name {} --resource-group {} --subscripti

[2020-10-18 01:19] requilium opened #15565 ""az webapp up" fails consistently with "Zip deployment failed.""
**Describe the bug**
`az webapp up` throws an error when deploying a static HTML app.

**To Reproduce**
[code]

[code]

**Expected behavior**
The website is updated.

**Environment summary**
macOS
Powershell Core 7.0.3
azure-cli                         2.13.0
core                              2.13.0
telemetry                          1.0.6

**Additional context**

[2020-10-18 01:45] kamransb opened #15566 "Error when running az login on my kali linux"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Kali version is
_Linux kali 5.5.0-kali2-amd64 #1 SMP Debian 5.5.17-1kali1 (2020-04-21) x86_64 GNU/Linux_

After installation, when I run az login, it takes me to the browser where I enter required credentials that are accepted, and the browser then shows following message.
**You have logged into Microsoft Azure

[2020-10-18 02:45] yonzhan commented on #15564
webapp

[2020-10-18 02:46] yonzhan commented on #15565
webapp

[2020-10-18 03:06] finboadsingal opened #15567 "Webapp:Webapp shows in Azure portal but I cannot delete it"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp delete --name {} --resource-group {}`

## Expected Behavior

[2020-10-18 03:11] yonzhan commented on #15567
webapp

[2020-10-18 04:24] finboadsingal commented on #15567
The problem started by when I tried to clone the webapp in the Azure Cloud Shell.  The script never finished.  I tried to run the script for another webapp with the same result.

[2020-10-18 11:03] hilaco10 opened #15569 "Getting queue messages requires 'Microsoft.Storage/storageAccounts/listKeys/action' permission"
According to the documentation, in order to get queue messages, the following permissions are required-

I created a role with these permissions but when I try to get queue messages using the CLI command-
`az storage message get --queue-name <queue name> --account-name <storage account name>`

I get the following error-

[2020-10-18 12:49] zhoxing-ms commented on #12909
@wiktorn Thank you for your advice. If the Service does not reply recently, we will consider this option.
However, I think it would be better for Service to solve this problem directly, then that the problem can be completely solved by merging that PR provided by you.

In fact, the handling of this problem of PowerShell is not in line with our design, because they modify the content of the ARM tem

[2020-10-18 12:53] zhoxing-ms commented on #12909
@ifeoluwaokunoren Could you please help to triage this issue?

[2020-10-18 14:56] richardlm57 commented on #14909
Hello, is there any update about this?

[2020-10-18 23:34] yonzhan commented on #15569
add to S178

[2020-10-19 01:39] yungezz commented on #15560
hi @mkostersitz could you pls try run `az login` to workaround? This is a known issue in Cloudshell, detail in #11749

[2020-10-19 02:06] qwordy commented on #15138
Thanks. I tried last Friday and it didn't work. It works this Monday. It seems there is a notable delay between it takes effect.

[2020-10-19 02:13] qwordy commented on #15539
Service issue. You can first follow the error message: "If retry does not work, then please do an update by removing the failed regions and update again by adding them back."

[2020-10-19 02:29] fengzhou-msft commented on #14553
`invoke` is introduced by `fabric`. The only place that `fabric` is used is [here](https://github.com/Azure/azure-cli/blob/e6e6a6d346f6e812ebe2f3892b56317424f13868/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L27) in `appservice`. Route to service team to see if the `fabric` package can be upraded or replaced.

[2020-10-19 02:31] yungezz commented on #14416
hi @kappa pls let us know if the workaround ok.

[2020-10-19 02:32] yungezz commented on #14396
hi @techadmin1982 could you pls share the otuput with `--debug` thanks.

[2020-10-19 02:44] #14416 closed

[2020-10-19 02:46] houk-ms commented on #15465
This should be a problem in failure recommedation. The reason is the positional arguments are not properly dealt when parsing arguments for failure recommendation. I will open a pr to fix the issue.

[2020-10-19 03:26] bim-msft commented on #14396
I have reproduced this issue using subs `AzureSDKTeam`: there is a deleted vault named `Launchpad` exists but I cannot purge or list it, and of course I cannot create a vault with the same name.

[2020-10-19 03:26] bim-msft commented on #14396
This seems to be a service side issue. Adding the service team.

[2020-10-19 04:26] #15440 closed

[2020-10-19 05:11] jiasli commented on #15461
Looks like this is not the env where you installed Azure CLI, as `azure-cli` is missing from the list. Could you please confirm?

[2020-10-19 06:29] gschauhan commented on #15461
From above link [https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt)

Should it be visible in pip list as it has it`s own python interpreter while pip referes from my local installation?

[2020-10-19 07:30] jiasli commented on #15461
If you installed CLI via `apt`, it shouldn't appear under `pip list`. Could you share the result of `pip list` in the env where you ran `pip install azure-cli`?

[2020-10-19 07:48] gschauhan commented on #15461
Earlier I installed via apt but as mentioned in given article, I removed it.

then I installed via
`curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash`

[2020-10-19 08:00] jiasli commented on #15461
If would like to know why `pip install azure-cli --force-reinstall` is not working, could you reinstall it and run `pip list`?

[2020-10-19 08:01] jiasli commented on #15461
If you would like to know why `pip install azure-cli --force-reinstall` is not working, could you please reinstall it and run `pip list`?

[2020-10-19 08:08] bim-msft commented on #15382
`25` is a limitation from api definition. If you want to list all certificates, just use `az keyvault certificate list` without `--maxresults`.

[2020-10-19 08:12] bim-msft commented on #15382
This is quite a good suggestion, we will consider this, thanks!

[2020-10-19 09:29] gschauhan commented on #15461
root ➜ /workspaces $ pip list
Package                           Version
--------------------------------- ---------
adal                              1.2.4
antlr4-python3-runtime            4.7.2
applicationinsights               0.11.9
argcomplete                       1.12.1
azure-appconfiguration            1.1.1
azure-cli-core                    2.13.0
azure-cli-telemetry               1.0.6
a

[2020-10-19 16:23] smoop-msft commented on #15265
@avirishuv - Request any update on this please.

[2020-10-19 18:36] tunz opened #15576 "Wrong inference of azure storage table entity value type"
**Describe the bug**

If I insert an entity value "123_456.1" using `az storage entity insert`, "123456.1" is actually inserted. I think az cli infers the type, and converts it to a numeric type.

**To Reproduce**

[code]

**Expected behavior**

`123_456.1` should be inserted.

**Environment summary**

[code]

**Additional context**

looks like this might be related to #8032 .

[2020-10-19 18:46] mgressman commented on #15176
I would say this is fundamentally an Azure issue. There are two other open issues from two other sources that point to the same problem.

Can't do it from [Terraform](https://github.com/terraform-providers/terraform-provider-azurerm/issues/8909).

Can't do it from the Azure [portal](https://docs.microsoft.com/en-us/answers/questions/131172/application-insights-not-connected-to-azure-functi.html).

[2020-10-19 20:28] tejasshah7 opened #15578 "Add a new parameter named web-categories to FirewallPolicy Application Rule"
**Resource Provider**
Network (NRP)

**Description of Feature or Work Requested**
Need to add a new parameter named "web-categories" to the commands:
az network firewall application-rule create/update.

This will be a list of strings.

Also, user can specify either TargetFQDNs, FqdnTag or WebCategories.
There is another issue open to add "TargetURLs" as another parameter to same command. With that

[2020-10-19 20:55] bbkane commented on #15382
Only returning the first page of results means I can't count on this command to give me the information I need. If I want to list all the certificates and their tags and such, I'll need to write a script with the REST API or some language library directly.

Thank you for considering this!
Ben

[2020-10-19 21:38] xeronix opened #15579 "Failure with az login command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
az login command is not working. Get's stuck while retrieving subscriptions and then fails.

**Command Name**
az login

**Errors:**
request failed: Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /subscriptions?api-version=2016-0

[2020-10-19 22:05] stefanushinardi opened #15580 "Support Python 3.9 for Azure Functions create"
Python 3.9 support in Azure Functions is expected to be available for public preview in mid-November 2020

[2020-10-19 22:37] yonzhan commented on #15576
add to S178

[2020-10-19 22:41] yonzhan commented on #15580
Azure Functions

[2020-10-19 22:42] yonzhan commented on #15579
add to S178

[2020-10-19 22:43] yonzhan commented on #15578
add to S178

[2020-10-20 02:15] fengzhou-msft commented on #14881
Close due to inactivity. Please try out the above instruction and let us know if the issue still persists.

[2020-10-20 02:16] #14881 closed

[2020-10-20 02:22] fengzhou-msft commented on #15326
Duplicate of #14011

[2020-10-20 02:22] #15326 closed

[2020-10-20 02:22] fengzhou-msft commented on #15510
Duplicate of #14011

[2020-10-20 02:22] #15510 closed

[2020-10-20 02:24] fengzhou-msft commented on #15330
Duplicate of #14011

[2020-10-20 02:24] #15330 closed

[2020-10-20 02:24] fengzhou-msft commented on #15349
Duplicate of #14011

[2020-10-20 02:24] #15349 closed

[2020-10-20 03:15] yzhang0727 opened #15581 "issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials -g {} -n {} --admin`

## Expected Behavior

## En

[2020-10-20 03:54] yonzhan commented on #15581
aks

[2020-10-20 06:43] jdsapariya18 opened #15583 "is there any way to attach multiple disk which ids i have in my variable in tsv format or i have to execute command for every disk i have to attach?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbc06453-93e1-e616-9649-c1487c605a65
* Version Independent ID: 76d52328-613f-bd5f-7daf-f62841300e2b
* Content: [az vm disk](https://docs.microsoft.com/en-us/cli/azure/vm/disk?view=azure-cli-latest)
* Content Source: [latest/docs-ref-autogen/vm/disk.ym

[2020-10-20 07:19] #15138 closed

[2020-10-20 09:32] ayoubkoreteszx opened #15584 "No module named 'decorator'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --sku {} --name {}`

## Expected Behavior

## Environment Summ

[2020-10-20 09:46] immae1 commented on #13320
As I understand it, there is no SKU for Ubuntu 20.04 LTS in Azure anymore? Then my terraform deployment breaks because by default no URN is offered by the _azurerm_ provider. That's a real pity - does anyone have a workaround?

[2020-10-20 09:47] johanandrel commented on #6638
Any progress on this? Took a while to realize that --configuration-source which is documented as "Source slot to clone configurations from" does not actually clone the configuration.

[2020-10-20 10:14] keziashirazi98 commented on #15427
@calvinsID .NETCore 3.1 and Linux
@Kotasudhakarreddy sorry it only breaks intermittently, not every other time, so I haven't been able to make it error again yet

[2020-10-20 10:57] Console32 opened #15585 "az login --allow-no-subscription does no longer create tenant level account"
## Describe the bug

Starting of today I can no longer interact with the azure active directory of my tenant using the command line because `az login ...` does no longer create the account required.

**Command Name**
az login

**Errors:**
The missing Account in the `az account list` causes the following error in terraform when using azuread ressources that want to interact with the tenant:

[code]

[2020-10-20 11:03] yonzhan commented on #15584
webapp

[2020-10-20 11:08] yonzhan commented on #15585
add to S178

[2020-10-20 11:55] DataRepository commented on #13209
I'm experiencing this issue on openSUSE Tumbleweed when I try to login with 'az login':

Error loading command module 'aro': No module named 'azure.mgmt.redhatopenshift'

[2020-10-20 12:10] spatialman opened #15586 "CLI does not support way to create managed identity for Logic App"
**Describe the bug**
Could not find any way to create "Managed Identity" for Azure Logic App using Azure CLI.

**To Reproduce**
az logic workflow create --location eastus2 --name la-001 --resource-group rg-test

**Expected behavior**
Should have option to specify whether managed identity needs to be created or separate command to do the same.

**Environment summary**
OS Version - Win 10
Shell Type

[2020-10-20 13:10] yonzhan commented on #15533
API Management service team should look into this issue.

[2020-10-20 13:12] yonzhan commented on #15586
logic

[2020-10-20 13:29] danashviro commented on #15579
I had the same temp problem as well on 10/20 UTC 8:40 PM - UTC 9:00 PM.

[2020-10-20 14:13] jtarchie commented on #14553
Are there remaining action items here? I'm not familiar with the @msftbot actions and labels here.

[2020-10-20 15:35] awentzel commented on #6545
This doesn't seem to be fixed.  If plan id is required not plan name, it seems like a new parameter should be required otherwise, this is not consistent with other Azure CLI usage of `--name`

[2020-10-20 16:00] ecfan commented on #15586
@Azure/azure-logicapps-team

[2020-10-20 16:05] #15436 closed

[2020-10-20 16:13] wenjuweng37 opened #15587 "az commands for or-policy not working"
Hi, it seems that the BLOB storage object replication works from portal, but it doesn't work using aure CLI either via VM or via cloud shell. For example, from VM, I'm getting this message -

$ az storage account or-policy list -n xxxxxx
az storage account: 'or-policy' is not in the 'az storage account' command group. See 'az storage account --help'. If the command is from an extension, please mak

[2020-10-20 18:05] miaojiang commented on #15533
cc @RupengLiu

[2020-10-20 18:40] absyed commented on #14158
This issue was fixed in Pull Request: [14335](https://github.com/Azure/azure-cli/pull/14335)

[2020-10-20 18:51] shurick81 commented on #13320
@immae1, this does not work for you or have I lost you here?

[code]

[2020-10-20 19:04] RAJMITTAL opened #15588 "some weird issue in Az acr build"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build --registry {} --image {}`

## Expected Behavior

## Environmen

[2020-10-20 21:39] david-jarman commented on #15381
Was hoping this would unblock me but I ran into an issue with the pip install:
[code]

And ofc you need Admin Privileges to install "Microsoft C++ Build Tools"

[2020-10-20 21:42] scgbear commented on #11176
There an update on this issue? The linked issue in Azure Functions has been closed, but I'm definitely hitting the issue when trying to use the az eventgrid event-subscription create command. It sometimes works, sometimes doesn't. When it errors, it's claiming the function needs to exist, yet it clearly does exist. Function is started and running. When I look at the Activity log of the Function Ap

[2020-10-20 21:56] donets420 opened #15589 "Az cli authorization failed, when user has owner permissions"
**Describe the bug**
My user has owner permissions on tenant level.
when I tried to run command "az account management-group show "name_mgmt" -e" I received error:
_AzureResponseError: code: AuthorizationFailed - , The client 'user_name' with object id 'xxx' does not have authorization to perform action 'Microsoft.Management/managementGroups/read' over scope '/providers/Microsoft.Management/manage

[2020-10-20 22:36] yonzhan commented on #15587
add to S178

[2020-10-20 23:40] andschwa opened #15590 "Non UTF-8 boot log crashes decoder"
## Describe the bug

**Command Name**
`az vm boot-diagnostics get-boot-log`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Deploy URN `audiocodes:mediantsessionbordercontroller:mediantvirtualsbcazure:latest`
- `az vm boot-diagnostics get-boot-log -n {} -g {}`

## Expected Behavior

B

[2020-10-20 23:57] calvinsID commented on #15427
@keziashirazi98 thanks for the update. If webapp configs are updated right before the deployment, it could be possible that the configs haven't propagated yet and cause this issue

[2020-10-21 00:00] yonzhan commented on #15588
acr

[2020-10-21 00:01] yonzhan commented on #15589
add to S178

[2020-10-21 01:32] ahamad-MS commented on #11176
@AlexGhiondea Can you please route this issue to the proper contact in Function team. I added Daria Grigoriu as Ahmed used to report to her.

This is not Azure Event Grid issue and related to Azure Functions. I am not sure why the original issue #2999 was closed. Hopefully Daria can help here.

[2020-10-21 01:35] yugangw-msft commented on #15588
dupe of #15465

[2020-10-21 01:35] #15588 closed

[2020-10-21 02:45] Juliehzl commented on #15587
Hi @wenjuweng37, may I know you azure cli version?

[2020-10-21 03:07] AlexChongMicrosoft commented on #12748
Hi, I found a similar issue and a possible reason. May I know do you have any other pipeline\jobs update the same package?

[2020-10-21 03:11] yungezz commented on #15583
hi @qwordy could you pls help on this ask? thanks

[2020-10-21 03:12] yungezz commented on #15590
hi @qwordy could  you pls help to look at this?

[2020-10-21 03:14] yungezz commented on #15584
hi @ayoubkoreteszx could  you pls uninstall 2.0.81 and install latest Azure CLI? this is a known issue in 2.0.81 tracked in #14011

[2020-10-21 03:14] yungezz commented on #15581
hi @yzhang0727 could you pls share the error you met to help trouble shooting? thanks

[2020-10-21 03:18] jiasli commented on #15461
I noticed the correct dependency `azure-mgmt-resource 10.2.0` is installed. Are your still facing the same issue? If so, with the virtual environment activated, could you run

[code]

It will show you [`sys.path`](https://docs.python.org/3/library/sys.html#sys.path) from where the Python dependencies will be looked up.

[2020-10-21 03:20] jiasli commented on #15566
This is a known issue if you install Azure CLI will `azure-mgmt-resource==15.0.0` under the same Python virtual environment, please see https://github.com/Azure/azure-cli/issues/13995#issuecomment-663353202 for more details.

[2020-10-21 03:24] yzhang0727 commented on #15581
sorry, I did not take snapshot, and I already upgrade my azure cli to
2.13.0, so the issue is not exist.

But I just checked github,  the error message was the same as below issue (
https://github.com/Azure/AKS/issues/1264)

2019-10-10T14:33:26.1661711Z ERROR: The command failed with an
unexpected error. Here is the traceback:
2019-10-10T14:33:26.1661972Z
2019-10-10T14:33:26.1682228Z ERROR: 'users

[2020-10-21 03:33] yungezz commented on #15581
is it ok to close the issue then @yzhang0727 ?

[2020-10-21 05:34] CodeBongBong opened #15591 "Error 'az find'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az find`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az find -q {}`

## Expected Behavior

## Environment Summary
[code]
## Additiona

[2020-10-21 06:06] yzhang0727 commented on #15581
yep， you can close it

On Wed, Oct 21, 2020 at 11:34 AM Yunge Zhu <notifications@github.com> wrote:

--
*Yilu Zhang                                   *
*IAAS | IS-Engineer*

[2020-10-21 06:31] #15581 closed

[2020-10-21 06:40] yungezz commented on #15591
hi @mirdaki @christopher-o-toole could you pls help to have a look? thanks

[2020-10-21 06:41] yungezz commented on #15591
hi @houk-ms could you pls help check also? I found that the error is from the command_recommender.

[2020-10-21 06:49] yonzhan commented on #15566
dup with #13995 (comment)

[2020-10-21 06:49] #15566 closed

[2020-10-21 06:59] timvanderweijde opened #15592 "Getting an exception when updating http listener with an existing waf-policy"
## Describe the bug
When updating an http listener with an existing waf-policy, the command returns an exception

**Command Name**
`az network application-gateway http-listener update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `a Waf Policy must be created. The name must be used

[2020-10-21 07:01] timvanderweijde commented on #15592
Is there any other way to associate the waf-policy with the http listener? (in the portal you can associate the http listener when browing the waf-policy itself, is there a az cli command for this?)

[2020-10-21 07:02] yonzhan commented on #15592
add to S178

[2020-10-21 07:04] timvanderweijde commented on #15011
H @bim-msft how was your vacation?

And any update on this issue?

[2020-10-21 07:18] timvanderweijde commented on #15592
This is also not working with the `create` command.

This is the debug part of the exception.

msrest.http_logger : {
  "error": {
    "code": "InvalidRequestFormat",
    "message": "Cannot parse the request.",
    "details": [
      {
        "code": "InvalidJsonReferenceFormat",
        "message": "Reference Id /subscriptions/<some-guid>/resourceGroups/<some-resourcegroup>r/providers/Microsoft.N

[2020-10-21 07:25] houk-ms commented on #15591
Thisi is a positional argument missing issue. Fixed in #15570

[2020-10-21 07:41] timvanderweijde commented on #15592
Somehow using the `name' of the waf-policy doesn't work. (The documentation is saying you can use the `name`)
Retrieving the ID and using the full ID works though.

[2020-10-21 07:42] houk-ms commented on #15591
@CodeBongBong Thanks for reporting this issue. PR has been merged to fixed the issue. Close the issue now.

[2020-10-21 07:42] #15591 closed

[2020-10-21 07:47] houk-ms commented on #15465
Thanks everyone for the discussions. PR has been merged to fix the issue, I think we can close it now. @accu-joeykarns @northtyphoon

[2020-10-21 08:18] bim-msft commented on #13952
I think the message is quite clear "The vault may not exist".
If this happened on an existing vault, you can reopen this issue.

[2020-10-21 08:20] fengzhou-msft commented on #14553
The command that uses `fabric` package is owned by App Service team and now we need their action to see if this can be improved.

[2020-10-21 08:36] qwordy opened #15594 "Error of CLI commands for vmss with SIG"
**Describe the bug**

The following operations are braking
[code]
due to the following permission issue:
[code]

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-10-21 09:26] keziashirazi98 commented on #15427
@calvinsID is this something I can do to mitigate this or should I leave this with you?

[2020-10-21 09:42] VladMoc commented on #15519
@yungezz @qwordy  Any Solution for the question above?
Thanks

[2020-10-21 09:46] #15536 closed

[2020-10-21 10:07] yonzhan commented on #15594
vmss

[2020-10-21 11:21] ArmaanMcleod opened #15595 "Undocumented alias container option for az storage blob download"
**Describe the bug**

When using the `az storage blob download` command, the [documentation](https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az_storage_blob_download) states that container names can only be used as `--container-name/-c`.

However, it seems you can also use `--container` argument, which seems to be undocumented.

**To Reproduce**

Command

[code]

Runn

[2020-10-21 11:34] yonzhan commented on #15595
add to S178

[2020-10-21 11:47] PrakashLakhara opened #15596 "WebApp:Issues after changing php version via "az webapp config set" command."
After changing the php version in my webapp, I am not able to edit or create anyfile via ssh and also from the ftp in the webapp.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e50d77a-f2fa-6d6e-0c57-2f434c12766f
* Version Independent ID: f9a98805-6e16-487a-03ce-237cb964f83c
* Content: [az webapp config](https://docs.

[2020-10-21 11:51] prasadgoredev opened #15597 "az role assignment create - issue"
[1.txt](https://github.com/Azure/azure-cli/files/5415607/1.txt)

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role assignment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._

[2020-10-21 11:58] immae1 commented on #13320
My fault - i had to change the offer field, too... . Thanks @shurick81

[2020-10-21 12:13] jtarchie commented on #14553
Thank you for clarifying.

[2020-10-21 12:31] wenjuweng37 commented on #15587
I upgraded the azure CLI later on to 2.13.0, the corresponding (I replaced storage account name below):
 az storage account or-policy list -n xxxxxx
Command group 'storage account or-policy' is in preview. It may be changed/removed in a future release.
ValidationError: Storage account 'xxxxxx' not found.
This is the case with using azure cloud shell as well.
I entered the storage account name with

[2020-10-21 13:23] aflinchb opened #15598 "az ad app permission add fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad app permission add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create App Registration
- Run az ad app permission add with the following parameters
- --id = appId of A

[2020-10-21 14:07] onpaws commented on #10090
Having the same issue.
So far, it seems `az storage blob upload` doesn't support streaming-style uploads.

I know it's [possible](https://gist.github.com/hackedunit/01934c02f1bae74f995d9dd76208fd3b#file-db_backup-sh-L41) to persist out a file first, but in my case I'd prefer to upload directly.

@Juliehzl Is there a feature request for streaming-style uploads already? If not, where can I open one?

[2020-10-21 14:11] donantoniosantos commented on #15417
@yonzhan hello, know of any updates on this by chance?

[2020-10-21 15:07] dr-dolittle opened #15600 "az storage fs exists: in case fs does not exist ResourceNotFoundError is returned"
**Describe the bug**
When checking for the existence of a filesystem in ADLS Gen2 via `az storage fs exists` (https://docs.microsoft.com/en-us/cli/azure/storage/fs?view=azure-cli-latest#az_storage_fs_exists) I get exists = True as response. In case it does not exist an error is returned

[code]

Please change that to return False in case the filesystem does not exist.

**To Reproduce**
Just run th

[2020-10-21 15:18] cmrkz opened #15601 "az storage directory create python error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage directory create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage directory create --account-name {} --account-key

[2020-10-21 15:27] AshTappin commented on #15517
Is there any movement on this?

[2020-10-21 15:59] aflinchb commented on #15598
Closing as I believe I was mis-using this cli call

[2020-10-21 15:59] #15598 closed

[2020-10-21 17:30] donets420 commented on #15589
I have found reason of my problem.
If look to help (az account management-group show --help):
_Arguments
    --name -n            [Required] : Name of the management group._

But it doesn't work with name, it works with management group id in general.

[2020-10-21 18:11] #15479 closed

[2020-10-21 20:46] ajforu74 opened #15603 "UnexpectedError: The command failed with an unexpected error. Here is the traceback: list index out of range"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr run`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr run --anandregistry`

## Expected Behavior

## Environment Summary
[co

[2020-10-21 21:00] btardif commented on #15427
Looks like we have no-repro for this issue so closing the issue

[2020-10-21 21:00] #15427 closed

[2020-10-21 21:02] btardif commented on #14821
@panchagnula is this still relevant?

[2020-10-21 21:04] btardif commented on #14553
FYI @panchagnula not sure what the repair item is here, can you take a look?

[2020-10-21 21:13] btardif opened #15604 "Webapp:.NET 5 support for Runtime Versions"

[2020-10-21 21:14] btardif opened #15605 "Webapp:.NET 5 support for az webapp create and az webapp up"

[2020-10-21 23:47] yonzhan commented on #15596
webapp

[2020-10-21 23:48] yonzhan commented on #15597
add to S178

[2020-10-21 23:50] northtyphoon commented on #15465
Thank you @houk-ms

[2020-10-21 23:56] yonzhan commented on #15417
logic service team will take a look.

[2020-10-21 23:56] yonzhan commented on #15600
add to S178

[2020-10-21 23:58] yonzhan commented on #15601
add to S178

[2020-10-22 00:06] yonzhan commented on #15603
acr

[2020-10-22 00:07] yonzhan commented on #15604
webapp

[2020-10-22 00:07] yonzhan commented on #15605
webapp

[2020-10-22 01:01] yugangw-msft commented on #15603
dupe of #15465

[2020-10-22 01:01] #15603 closed

[2020-10-22 02:19] qwordy commented on #15594
I am investigating it.

[2020-10-22 02:19] yungezz commented on #15594
this is part of partial updating work in vm/vmss

[2020-10-22 02:21] yungezz commented on #15536
https://github.com/Azure/azure-cli/issues/15536

[2020-10-22 02:46] fengzhou-msft commented on #15517
@AshTappin we recommend to use the apt package: https://docs.microsoft.com/en-gb/cli/azure/install-azure-cli-apt

In your case, the issue is likely to be caused by having some other incompatible python packages or legacy dependencies of old azure-cli installed in the same environment with the latest azure-cli.

[2020-10-22 02:52] qwordy commented on #15590
The error indicates that it is not UTF-8 encoding. I will support more encodings to fix this issue.

[2020-10-22 06:07] EwertonJordao opened #15609 "Color on console is broken AzCli + PowerShell"
**Describe the bug**
Output after run az cli with cmdlet Convertfrom-json

![image](https://user-images.githubusercontent.com/12378570/96830986-a2e7d000-1412-11eb-9732-a584eaa762f8.png)

**To Reproduce**

- `az lab vm list --lab-name {} -g {} --query {} | convertfrom-json`
Using az cli  + powershell to work with output

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-10-22 06:30] jiasli commented on #15609
This is because `az lab vm list` is a preview command. Is the warning blocking your script? If you really don't like it, you may use [`--only-show-errors`](https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration#cli-configuration-values-and-environment-variables) to turn it off.

[2020-10-22 06:33] jiasli commented on #15609
This is because `az lab vm list` is a preview command, and the output redirection is causing the terminal color to be corrupted. Please see https://github.com/Azure/azure-cli/pull/12601 for more details.

[2020-10-22 06:44] qwordy opened #15610 "Dedicated host group creation SKU limitation"
**Describe the bug**

[code]
reports an error
[code]

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-10-22 06:52] ThomsonTan opened #15612 "az acr login failed without subscription specified in command line"
**Describe the bug**
Run `az acr login --name SomeACR`, failed with below message.

**Expected behavior**
Log in succeeds.

**Environment summary**
MSI, 2.13, Windows 10 2004, cmd.exe

**Additional context**
The same command succeeds if I append the associated subscription Id of the ACR as `az acr login --name xxx --subscription xxxx`.

[2020-10-22 07:37] qwordy opened #15614 "Index of test fix plan per module"
**Describe the bug**

[Power BI page](https://msit.powerbi.com/groups/8de24d49-e97c-4672-9bfc-45fee0ec58f7/reports/65dfcfce-5d59-4dc9-8bc5-3726443c8fe1/ReportSection?refreshAccessToken=true)
Click link in "report" field to view summary of one test run.
We have fixed lots of failed test cases including modules owned by service team to enable overall pass rate jump from about 80% to 90%.

Issues to

[2020-10-22 08:38] qwordy opened #15615 "Fixing aks test"
**Describe the bug**

There are 7 failed test cases in acs in a recent test run. Can you have a look? Thanks!
https://clitestresultstac.blob.core.windows.net/latest/index.html
https://clitestresultstac.blob.core.windows.net/20210409-061939-390988/acs.report.parallel.html

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-10-22 08:40] qwordy opened #15616 "Fixing batchai test"
**Describe the bug**

There are 8 failed test cases in batchai in a recent test run.
https://clitestresultstac.blob.core.windows.net/20201018-203235-041446/index.html
https://clitestresultstac.blob.core.windows.net/20201018-203235-041446/batch.report.parallel.html

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**