[2019-03-06 05:12] yugangw-msft commented on #8153
@sajithvasu, can you please run `az ad sp show --id xxxxxxxxxxxxxxxxxxxxxxx` to confirm this SP does exist in the current tenant? Also if you are on Windows command prompt, please do not use single quote around the `--assignee` argument values as command prompt won't unwrap them.

[2019-03-06 05:21] yugangw-msft commented on #8149
For consistency, `show` command is supposed to output one item instead of a list. I can update CLI to update the error with all the matches, so you can at least select the objectId and use the `show` command for more information.
For general searching using display name, `az ad group list` is a better command to use.
Let me know if you have any comments.

[2019-03-06 05:32] yugangw-msft commented on #8632
@englishbobsnr, please checkout our [doc](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy) for this specific topic.  Likely your proxy doesn't have a fully signed certificate.
For context, the reason PowerShell works w/o setting anything is, as part of system component it accesses the Windows cert Store and I guess you have added proxy's certificate to

[2019-03-06 05:35] yugangw-msft commented on #8670
@stijnherreman, you are running the sample command, which are meant for Bash, in a windows prompt.
I will keep this issue open as we need to figure out whether we should tag the sample with Shell type

[2019-03-06 05:47] yugangw-msft commented on #8667
@kawayiboy if you are switching clouds, I suggest try the same scenario in the upcoming release which contains a fix towards a similar issue #8641

[2019-03-06 07:30] alexeyshishkin01 opened #8703 "az container export does not work"
**Describe the bug**
root@Alexey-HP:~# az container export \

'NoneType' object has no attribute 'type'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line 328, in execute
    raise ex
  File "/opt/az/lib

[2019-03-06 07:32] tw0517tw commented on #7989
Hi @yugangw-msft ,

I've tried that and getting the result below. It seems to be the python system bug.

[code]

[2019-03-06 07:36] alexeyshishkin01 opened #8704 "az container commands refer to container-name which is not documented how to find"
**Describe the bug**
az container logs/attach/exec commands refer to container-name which is not documented how to find

**To Reproduce**
az container logs/attach/exec

**Expected behavior**
There should be an az container command to find out container-name in order to use in az container logs/attach/exec commands

**Environment summary**
root@Alexey-HP:~# az --version | head -1
azure-cli

[2019-03-06 07:37] rtcn2 commented on #8149
I would have expected when you use the show command that you already know the specific group you want to obtain the details of, so it should return the entry for 'test-group' in the above example. So it should be an exact string match, not a string starts with.

[2019-03-06 08:11] stefaanvermassen commented on #8688
The file name is indeed specific to the OS version. For Linux, https://azuredevspacestools.blob.core.windows.net/azdssetup/AzdsCliLinux.zip doesn’t seem to work for me.

[2019-03-06 09:14] paolosalvatori commented on #7177
Hi, I have a couple of related questions: it looks like when running:

az ad app permission grant --id 9f4f64e0-4fd4-4a22-bbd2-b0ccd814f569 --api 00000003-0000-0000-c000-000000000000

none of the permissions at scope and role level that I added to my app registration / service principal using the az ad app permission add  command get granted :( Only if I specify the --scope flag (e.g. --scope User

[2019-03-06 09:17] englishbobsnr commented on #8632
@yugangw-msft Thanks for the reply. I'm not using Azure CLI, I'm using Powershell and invoking az login from within Powershell, so setting those values in that doc don't work.

[2019-03-06 12:34] sajithvasu commented on #8153
@yugangw-msft - we were able to identify this problem. Our automation was deleting spn instead of the role assignment due to which we were seeing the error. You can close this bug.

[2019-03-06 14:58] prochnowc opened #8705 "[AKS] Allow specifying subnet used by ACI when deploying connectors"
**Is your feature request related to a problem? Please describe.**
To use Azure VNets with virtual-kubelet I need to deploy the connector directly with helm. This is a complex task which I would like to avoid.

**Describe the solution you'd like**
I would like to pass the ACI subnet in the "az aks install-connector ..." command.

[2019-03-06 16:56] tjprescott commented on #8369
Moving to the backlog until I get details from the service team.

[2019-03-06 17:43] tjprescott commented on #8703
I have repro'd this and have created a fix in #8696.

[2019-03-06 17:50] #8153 closed

[2019-03-06 18:10] michaelmdeng opened #8707 "Create Service Principal with multi-tenant property"
When I am creating a Service Principal with the command

[code]

I would also like to be able to specify that I want to create a multi-tenanted principal. Currently, I have to create the principal in the CLI, then navigate to the UI in the Azure portal to toggle the multi-tenanted property.

This will allow us to fully script creation of multi-tenanted principals without user intervention.

[2019-03-06 18:12] alexeyshishkin01 commented on #8703
which CLI version is it going to be available in?

[2019-03-06 18:20] yugangw-msft commented on #8632
Setting environment variable like `REQUESTS_CA_BUNDLE `  or `AZURE_CLI_DISABLE_CONNECTION_VERIFICATION` are definitely supported in PowerShell. I suggest you try out.

[2019-03-06 18:50] tjprescott commented on #8703
2.0.60

[2019-03-06 19:57] yugangw-msft commented on #8707
Multi-tenant is a configuration at the application level which the Service Principal is associated, so try `-az ad app update --available-to-other-tenants`.
Please reactivate if you still have questions

[2019-03-06 19:57] #8707 closed

[2019-03-06 20:11] Lupusa87 opened #8708 "When uploading blob .wasm files content type set to application/wasm rather then application/octet-stream"
I do publish blazor apps on azure storage accounts from visual studio code.

Uploaded .wasm file's content type is set to application/octet-stream.

Browser expects for .wasm files content type application/wasm, so we are forced to correct later content types using different ways, which is not convenient and requires extra time.

If it is possible please address this issue.

[2019-03-06 20:36] #8667 closed

[2019-03-06 22:01] #8703 closed

[2019-03-06 23:56] #8354 closed

[2019-03-07 00:09] greg-pendlebury commented on #4505
Spent a while bashing my head against this as well. You also need to consider multiple regions for geo-redundant deployments. Can get quite annoying when the initial deployment works and then Terraform gets a build error because the failover location does not work. Then Terraform falls out of sync with Azure.

In our case the region is '-australiaeast' and failover is '-australiasoutheast', so acc

[2019-03-07 00:14] marstr commented on #8592
We just finished a meeting where the Azure CLI team discussed this, and we all agreed that ultimately this is something we'd like to do. However, given that there are changes to the way our testing infrastructure will work, we'd prefer to not pay those costs until after //build in May.

[2019-03-07 01:00] mswilson4040 opened #8713 "Deploy Azure Function to Slot"
**Resource Provider**
What is the Azure resource provider your feature is part of?

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.

I am on a mac running Visual Studio code. I am trying to deploy my azure function to a slot. I don't see anywhere in the documentation where it states ho

[2019-03-07 01:19] vazexqi opened #8714 "Format of index.yaml for acr helm repo"
I've notice that the format for `url` key in the generated index.yaml for acr helm repo uses relative paths. For instance, following the example at https://docs.microsoft.com/en-us/azure/container-registry/container-registry-helm-repos (to insert the sample wordpress chart) generates the following index.yaml cache. Notice that the `url` key is  `_blobs/wordpress-5.2.5.tgz`. This would have to be c

[2019-03-07 02:22] tarry87 commented on #7816
can anyone here .. please help.. how to convert eventimestamp which is in JSON format "az monitor activity-log list" --query filter from one format to another ? Im block here and need help.

[2019-03-07 02:32] sajithvasu opened #8715 "Enabling network rule on storage account using az cli disables encryption on storage"
Hello,
az cli removes existing encryption on storage account when network firewall rules are added.  This is a consistent behavior with mostly all the version of az cli.  I have tested on windows and linux.

Steps to reproduce the behavior.
a) Create Storage account
b) Enable encryption on storage by using encryption key created on keyvault.
c) run storage account network command.
az storage accou

[2019-03-07 02:45] yugangw-msft commented on #8637
@dkmbw for the step 2 of `az ad app permission` if you click the "grant permission" button in the portal instead, does it work? If yes, then `az ad app permission` has a bug

[2019-03-07 03:31] yugangw-msft commented on #4511
This will be addressed as part of the enhancement ARM team is making on the validate API

[2019-03-07 03:42] yugangw-msft commented on #5077
Make sure to wrap the whole `<name>=<connection-str>` with quotes, instead of only around the `<connection-str>`. We wrote a [doc](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#quoting-issues) recently just for this, particularly on the point 6

[2019-03-07 03:42] #5077 closed

[2019-03-07 03:45] yugangw-msft commented on #5662
@williexu, can you please comment?

[2019-03-07 03:56] travisnielsen opened #8716 "No module named azure.cli.__main__"
**Describe the bug**
Unable to run ```az``` after installing azure-cli via homebrew.
[code]

**To Reproduce**
Re-installed python and azure-cli via homebrew.

**Expected behavior**
Able to run command

**Environment summary**
MacOS 10.24.3

[code]

**Additional context**
I'm not super deep with managing Python environments. Really hoping someone can assist here!

[2019-03-07 03:59] yugangw-msft commented on #8565
@marcofranssen, are you in the same subscription like portal? Also using `--debug` always helps disclose the url involved to retrieve the webapps, please use that and cross check

[2019-03-07 04:22] dcbrown16 opened #8717 "az eventgrid event-subscription list required parameter"
**Describe the bug**
Not sure if this is related to this change, but I'm finding that `az eventgrid event-subscription list` at least is requiring the --location parameter, which is contrary to the documentation and examples.
![image](https://user-images.githubusercontent.com/34466884/53932052-a0bddb80-404c-11e9-8ef9-b8ffa8348c78.png)

**To Reproduce**
Run `az eventgrid event-subscription list` wi

[2019-03-07 05:11] #8203 closed

[2019-03-07 06:09] AndrewBell commented on #8642
I had a similar issue due to conflicting versions of kubectl on my mac. `which kubectl` was resolving to a version installed via google-cloud-sdk, which installed a script in my `.bash_profile` that prepended `/Users/me/google-cloud-sdk/bin` to my PATH. I removed the script (you might want to manually append google-cloud-sdk to your path), opened a new shell, and the `az aks browse` worked!

[2019-03-07 07:19] alexeyshishkin01 commented on #8703
when?

[2019-03-07 07:31] williexu opened #8719 "[Storage] Add better support for file copies from a share snapshot"
**Is your feature request related to a problem? Please describe.**

Right now this is supported for a single file copy through specifying a `--source-uri` for a file that indicates a snapshot. This requires a developer to get the file url and append the snapshot name as a query parameter. The CLI can do better to make this scenario smoother.

**Describe the solution you'd like**

A clear and conci

[2019-03-07 07:32] williexu commented on #5662
@dtissen I apologize for your troubles. Please look at https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-cli#create-and-manage-share-snapshots for in depth information on using share snapshots.

For the scenarios you mentioned:
Creating snapshots for shares and files: `az storage share snapshot`
Restore share snapshots: not available (this is not supported by the servic

[2019-03-07 08:05] dkmbw commented on #8637
Yes, when i do az ad app permission via script and do the "grant permission" via Portal, then it works! Interesting i found a bug! :)

[2019-03-07 13:42] bsemperlotti opened #8720 "[sig] image version exclude-from-latest parameter is not working"
**Describe the bug**
Flag parameter `--exclude-from-latest` in command `az sig image-version create` is not working as expected and cannot be set.

**To Reproduce**

Using `--exclude-from-latest` as a flag or setting it to `true` raises an error

[code]

[code]

Not using `--exclude-from-latest` or setting it to `false` works as expected

[code]

[code]

**Expected behavior**

Expected behavior is

[2019-03-07 13:42] NOtherDev opened #8721 "az webapp up -n <name> fails when package.json contains "node""
**Describe the bug**
The code parsing `package.json` (File `"/usr/local/Cellar/azure-cli/2.0.59/libexec/lib/python3.7/site-packages/azure/cli/command_modules/appservice/_create_util.py", line 206, in parse_node_version`) is looking for "node" string occurences, takes whatever is after it and strips non-numeric characters. When I had a script called `run:nodemon` defined as `nodemon whatever blah.b

[2019-03-07 16:46] NicoSorrenti commented on #5543
The file approach works just as expected, but if you anybody wants to use the command in PowerShell without writing to a file, the JSON can be escaped adding a \ in the double quotes works, like this:

`az resource create --resource-group myresourcegroup --name myappinsights --resource-type Microsoft.Insights/components --location southcentralus --properties '{\"Application_Type\":\"web\"}'`
(taki

[2019-03-07 16:49] uniquelau opened #8722 "`az storage blob upload` fails within DevOps"
**Describe the bug**
We have a script that is used across multiple projects to update files into storage.
The script has stopped working for one project, but no changes have been made.
Error thrown saying `account-key` not set, but `account-key` is set via variables.

**To Reproduce**
Hard to reproduce, as identical script and variable setup is working for other projects.

**Environment summary**

[2019-03-07 16:51] markheath commented on #5543
@NicoSorrenti thanks - I thought I'd tried that, but I'll give it another go. Would be nice to simplify that.

[2019-03-07 16:53] uniquelau commented on #8722
Tried re-deploying, same error persists.
Updated key in variable, issue now resolved.
Very odd.

[2019-03-07 17:16] tjprescott commented on #5435
If you change:
`test 3600 IN CNAME someotherdomain.org`

to
`test 3600 IN CNAME someotherdomain.org.`
you will get the expected behavior (at least on the latest version of the CLI). Without the trailing dot, the command assumes the address is relative and appends the zone name.

[2019-03-07 17:17] tjprescott commented on #8592
@marstr you can put it into milestone 61, which the first post-Build milestone.

[2019-03-07 17:19] tjprescott commented on #8592
I think as part of this work we would need to prioritize #5969.

[2019-03-07 17:32] tjprescott commented on #7816
Sorry @tarry87, there is no JMESPath function that will accomplish what you are asking and thus there isn't a query that will do that. You would need to pass the results to some kind of external script to do the conversion in your language of choice.

[2019-03-07 17:33] yugangw-msft commented on #5102
it works now.

[2019-03-07 17:33] #5102 closed

[2019-03-07 17:40] #8665 closed

[2019-03-07 17:40] #8287 closed

[2019-03-07 17:43] VictorioBerra opened #8723 "`az webapp config appsettings set` examples show using @moreSettings.json but thats not documented for `--settings`"
`--settings` shows "Space-separated appsettings in a format of =." but the example snippet above clearly shows `... --settings mySetting=value @moreSettings.json`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30f2ae52-2c7f-7e7e-8a62-f1b614f281d3
* Version Independent ID: 9f23ff17-14e0-7800-0094-fb50a5fa91d6
* Content:

[2019-03-07 18:03] tjprescott commented on #7613
CLI commands are intended to be idempotent (though some fall short of this standard) and thus failing a create because a resource already exists by default is not something we would entertain if for no other reason that it would be a massively breaking change.

However, we are open to the idea of exposing an opt-in existence check like `--fail-if-exists` that create commands can opt into, and we c

[2019-03-07 18:27] tjprescott commented on #8680
This syntax is specific for bash, and any shell-specific syntax in the CLI is specific to bash, never Powershell or CMD.exe.

For Powershell, you can put the JSON content of rules into a file and load that file using `--rules @filename.json`

[2019-03-07 18:36] #8680 closed

[2019-03-07 18:48] uniquelau commented on #8722
Re-opening issue.
A build about an hour later failed.

[2019-03-07 20:03] panchagnula commented on #8723
@yugangw-msft is this just a case of updating our help for this command?

[2019-03-07 20:04] panchagnula commented on #8721
@NOtherDev  az webapp up has moved to core cli command & will be removed from extensions, please delete the webapp extensions & use the core command directly & let us know if you are still seeing this issue. https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-up

[2019-03-07 20:07] panchagnula commented on #8713
@ahmedelnably & @ankitkumarr FYI.

[2019-03-07 20:07] NOtherDev commented on #8721
@panchagnula Not sure what do you mean, I'm not using any extension. I've installed the fresh CLI today using Homebrew on macOS, as it is recommended in the guide, and I have the newest version.

[2019-03-07 20:09] panchagnula commented on #8686
@StingyJack can you give me more details here what is the name of the app & resourcegroup you are were using? Also can you run the command with --debug & copy the details here? Thank you.

[2019-03-07 20:11] tjprescott commented on #8723
@panchagnula yes.

[2019-03-07 20:17] panchagnula commented on #8721
can you check if you have any existing webapp extension installed.
az extension list https://docs.microsoft.com/en-us/cli/azure/extension?view=azure-cli-latest#az-extension-list. if you don't have please check you are running the command from the folder where the code is on your local machine.

Can you run the command with --debug flag & share the error. thank you.

[2019-03-07 20:20] VictorioBerra commented on #8723
https://github.com/MicrosoftDocs/azure-docs-cli/pull/1337

[2019-03-07 20:21] ctaggart opened #8726 "--max-events does not match documentation"
I thought `--max-events` was going to be the `Maximum number of records to return.`, but the maximum number of records to query.

I get back 7 records with this query:
[code]

I get back 0 records with this query:
[code]

Shouldn't I be getting back 7 records?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae6c5dc4-a46

[2019-03-07 20:26] tjprescott commented on #8726
This is a known issue. Please see:
https://github.com/Azure/azure-cli/issues/7816#issuecomment-437981923

[2019-03-07 20:26] #8726 closed

[2019-03-07 20:27] tjprescott commented on #8638
Closing as this is not actionable by the CLI team.

[2019-03-07 20:27] #8638 closed

[2019-03-07 20:35] tjprescott commented on #8723
@VictorioBerra the change needs to be made in this repo's `_help.py` file.

[2019-03-07 20:37] tjprescott commented on #8723
https://github.com/Azure/azure-cli/blob/8f30c358850959700bf2711ed90e17ef214dcbb4/src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/_help.py#L536

[2019-03-07 20:40] NOtherDev commented on #8721
No, I don't have any extensions installed.

[code]

We don't need --debug flag to see the stack trace, it fails immediately the hard way.

[code]

[2019-03-07 21:00] ctaggart opened #8727 "Feature: activity-log query to allow multiple statuses"
How do I do this query on the command line?

![image](https://user-images.githubusercontent.com/80104/53988509-657de400-4102-11e9-94b4-fdb9ab55ecbe.png)

I don't want a filter on resource group. I want all resource groups. I want severities of Error and Critical.

An amazing feature would be to be able to copy the filter for use in command line queries and alert conditions.

---
#### Document Deta

[2019-03-07 21:10] panchagnula commented on #8721
Got it, thanks for sharing this. Can you share your package.json contents? its failing trying to parse the version.

[2019-03-07 21:14] NOtherDev commented on #8721
Yes, this is exactly what I've noted in the issue description...

Minimal repro package.json, also as mentioned above:
[code]

[2019-03-07 21:17] panchagnula commented on #8721
Good news is we have a change coming up that should fix this, since we changed our parsing logic, you can try the latest DEV build if you want to try this, https://github.com/Azure/azure-cli#edge-builds

[2019-03-07 21:17] yugangw-msft commented on #8716
@marstr, can you please check out whether this is a known issue and can be address'd by the venv solution?

[2019-03-07 21:21] williexu commented on #6420
This has been fixed, a warning with the number of failures will occur if some blobs fail to be deleted.

[2019-03-07 21:21] #6420 closed

[2019-03-07 21:21] VictorioBerra commented on #8723
@tjprescott I do not see anywhere the --settings is mentioned in that file. The change is only needed in the flags description not the example usage.

![image](https://user-images.githubusercontent.com/2934507/53989936-b551b080-40ec-11e9-9a03-88e0cdf4f31c.png)

[2019-03-07 21:57] cforbesywam commented on #5435
Understood - Thank you!

[2019-03-07 22:05] #5435 closed

[2019-03-07 22:16] way2arun opened #8729 "'groupMembershipClaims' not found on root. Send it as an additional property"
az ad app update --id XXXXXXXXXXXX--set groupMembershipClaims=All
Property 'groupMembershipClaims' not found on root. Send it as an additional property .
working on az cli version 2.0.59
if you list out the help
az ad app update --id xxxxxxx  -h  (shows the  update an application's group membership claims to "All")

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2019-03-07 22:22] williexu commented on #6364
Will be fixed with: https://github.com/Azure/azure-cli/pull/8730
Example Output during progress:
[code]

Example Output when done:
[code]

[2019-03-07 22:31] SriHarsha001 opened #8731 "az aks create -g RG -n AKS --node-count 2 --generate-ssh-keys : Error - The password must contain at least 1 special character. paramName: PasswordCredentials, paramValue:"
Following this article to create an AKS cluster in Azure CLI
https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-create

az aks create -g MyResourceGroup -n MyManagedCluster --node-count 2
An RSA key file or key value must be supplied to SSH Key Value. You can use --generate-ssh-keys to let CLI generate one for you

az aks create -g MyResourceGroup -n MyManagedCluster --nod

[2019-03-07 22:55] ctaggart opened #8732 "activity-log alert create for Administrative category requires additional conditions"
When I try to create an activity-log alert for the Administrative category, I get UnsupportedCondition error. Please document what additional conditions for this category are needed.
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8d2421be-dcd7-4418-9518-e884b7190a96
* Version Independent ID: eb40fdf2-0776-bee3-3

[2019-03-07 23:11] adewaleo commented on #8708
@Lupusa87
Sorry what azure cli command are you having issues with? Or is this a visual studio code / azure portal issue?

[2019-03-07 23:24] yugangw-msft commented on #5676
The problem is the sas token contains shell special characters and you need to wrap them with quotes.
I was able to verify that after quoted the url, all are working. Hence I am closing this issue.

[2019-03-07 23:24] #5676 closed

[2019-03-07 23:30] williexu commented on #8722
From what you posted above, I see `az storage blob upload-batch --account-name _customer_wwwdev --account-key  --destination  ...`

You did not specify a account key for the `--account-key <key should be here>` parameter. It looks like something is wrong with how your script is supplying that parameter. Since the CLI was not called properly, this is not a CLI issue.

[2019-03-07 23:30] #8722 closed

[2019-03-07 23:35] yugangw-msft commented on #8729
The command actually works.
The warning you quoted was emitted out by the generic updater with the root cause that the rest spec being incomplete, which my https://github.com/Azure/azure-rest-api-specs/pull/5181 will fix

Since everything is by-design, i am closing this issue

[2019-03-07 23:35] #8729 closed

[2019-03-07 23:39] Lupusa87 commented on #8708
I guess this is similar as #6257 where it happens with js files.

I don't know, maybe it is Visual studio code issue but I think it is more azure-cli related because what I read in #6257.

I don't know good how this works but reading #6257 I assume that your code can guess mimetype for given extension, if it's true we need to add .wasm - apllication/wasm to you list.

[2019-03-08 00:03] Leon99 commented on #2324
The problem here is that Azure PowerShell CLI only supports a subset of what az can do. Any plans on having one toolset that works equally fine on all both platforms?

[2019-03-08 01:43] tjprescott commented on #8732
Since this is the error that comes back from the service, they would need to take a look at improving it.

The documentation for activity log alerts is here and may provide some assistance:
https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-activity-log

However, you may find it easiest to create your activity log alert in the portal and then create the CLI equivalent.

[2019-03-08 02:20] Leon99 opened #8733 "webapp webjob: examples needed"
It would be great to have some examples of performing an operation on multiple webjobs.
One particular problem I faced is I needed to stop multiple webjobs, however, `stop` command seems to require just the webjob name, while `list` command returns name as `webAppName/webjobName`, so it's not straightforward.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2019-03-08 03:09] danielhelfand commented on #6901
@yugangw-msft I agree with the bundle approach. `tarball.gz` would be a workable format as well.

[2019-03-08 03:32] yugangw-msft commented on #8602
@marstr, per our conversation yesterday, please fix this in the upcoming sprint.

[2019-03-08 03:34] yugangw-msft commented on #8604
@marstr,  per our conversation yesterday, can we fix this in the upcoming sprint?

[2019-03-08 03:35] yugangw-msft commented on #8603
@marstr, per our conversation yesterday, can you please fix this in the upcoming sprint?

[2019-03-08 03:37] yugangw-msft commented on #8602
Also for edge builds, with the bar of good enough, I don't think we need to code sign it.

[2019-03-08 03:50] #5662 closed

[2019-03-08 05:30] marstr commented on #8716
This is effectively a dupe of https://github.com/Azure/azure-cli/issues/8689. This problem occurs when Python3.7 is installed outside of the Hombrew environment before the Azure CLI is installed. We're fixing this by installing into a virtual environment and having the execution script shown above be replaced by a call directly to the python launcher in the virtual environment that was created for

[2019-03-08 05:30] #8716 closed

[2019-03-08 05:42] marstr commented on #8689
I started chasing this down, and made some good progress after following guidance [here](https://github.com/Homebrew/brew/blob/5eaf4e5c28e7605cd9d8e1631d376b0e46c98624/docs/Python-for-Formula-Authors.md#installing). However, for reasons I do not yet understand, when [pip is invoked](https://github.com/Homebrew/brew/blob/a208ce49e82fd28c3288019d217cc8fab2e64b5d/Library/Homebrew/language/python.rb#L

[2019-03-08 06:25] marstr commented on #8689
Further investigation makes it look like our problems are related to: https://github.com/takluyver/flit/issues/245 and https://github.com/pypa/pip/issues/6222

[2019-03-08 09:07] reallydontask opened #8734 "Unable To list subscriptions after login"
**Describe the bug**

I get the following error after logging in.

[code]
If I set https_proxy variable :
[code]
If I set https_proxy variable with the **wrong** proxy (i.e. non existent ip address) then the error is this:
[code]

I have closed and reopened powershell after changes to env variables

The behaviour is the same on the command prompt

**To Reproduce**

1. Az Login

1. Select appropria

[2019-03-08 10:32] greguz opened #8735 "az aks get-credentials --resource-group X --name Y AttributeError: 'CredentialResults' object has no attribute 'kubeconfigs'"
**Describe the bug**
I'm trying to get the kubeconfig for AKS by running `az aks get-credentials --resource-group X --name Y`, but I always get this error:

[code]

Not sure why, plus i haven't found any info about this error.

**Expected behavior**
Mu kubeconfig `~/.kube/config` file will be populated.

**Environment summary**
Arch Linux 5.0.0-arch1-1-ARCH

Clean install of [AUR python-azure-cli]

[2019-03-08 10:49] marcofranssen commented on #8565
Yeah finally I figured out I have to manually switch subscriptions. 🤦‍♂️

[2019-03-08 10:49] #8565 closed

[2019-03-08 10:55] loskutak opened #8736 "az lab vm create ignores --artifacts parameters"
**Describe the bug**
Artifact specified in json file with parameters is created without parameters.

**To Reproduce**
**Artifact** in VSO repo consist of 3 files: Artifactfile.json, parametrizedScript.ps1 and vm1artifacts.json
_Artifactfile.json_
[code]
_parametrizedScript.ps1_
[code]
_vm1artifacts.json_
[code]

Artifact is deployed using az lab vm create command:
`az lab vm create --lab-name %lab

[2019-03-08 12:48] StingyJack commented on #8686
um... no. What purpose does it serve that I give you values that you cannot use without permission, or that you (or anyone reading this) may try to use to create an attack later?

The problem here is/was multi part and starts with the ambiguous `--name` parameter. Does it want App Service name? Web App name? Web Job name?

If you arent sure of more than one value for a set of required arguments, i

[2019-03-08 15:20] CloudCrusader commented on #8629
hi, my bad. seems indeed correct.
topic can be closed

[2019-03-08 16:23] ryancfields opened #8737 "--address-prefix shouldn't be used in the example"
https://docs.microsoft.com/en-us/cli/azure/network/vnet/subnet?view=azure-cli-latest#feedback

The first example shows "--address-prefix" it should be "--address-prefixes".

az network vnet subnet create -g MyResourceGroup --vnet-name MyVnet -n MySubnet \
                            **--address-prefix** 10.0.0.0/24 --network-security-group MyNsg --route-table MyRouteTable

[2019-03-08 17:04] tjprescott commented on #8737
The way argparse matches arguments, it will correctly match `--address-prefix` to `--address-prefixes`. If you run the example, you will find that it works.

[2019-03-08 17:04] #8737 closed

[2019-03-08 17:06] #8629 closed

[2019-03-08 17:08] tjprescott commented on #8686
[code]

[2019-03-08 17:10] ryancfields commented on #8737
If it is expected that we can use --address-prefix, can it be included in the optional parameters?

[2019-03-08 17:18] ryancfields commented on #8737
It is not clear how both work since --address-prefix is not documented but is used in the example.

Optional Parameters:
--address-prefix (accepts a single CIDR Range)

Required Parameters:
--address-prefixes - Space-separated list of address prefixes in CIDR format.

[2019-03-08 17:21] ryancfields commented on #8737
Or if they both do the same thing, why not just change the example.

[2019-03-08 17:27] tjprescott commented on #2324
At this time we have no plans to add support for Powershell tab completion. The CLI was not designed with Powershell as an intended shell, and while it does work, people generally run into more issues with special characters and so forth. Since the target shell for Azure CLI is bash, our priority is on fully supporting tab completion there, and even in that regard there is much to do.

For other s

[2019-03-08 17:28] marstr commented on #8585
I'm going to close this as a fluke. Since we're note hearing wide-spread reports of this problem, and I've ensured that we are marking the folder for deletion, I think we can hold off.

If you continue to experience this problem, or if others report also feeling these effects, I'm happy to open it back up.

[2019-03-08 17:28] #8585 closed

[2019-03-08 17:29] tjprescott commented on #8708
@Lupusa87 what specific command are you trying to use?

[2019-03-08 17:34] tjprescott commented on #8723
@VictorioBerra the repo you made your PR to is autogenerated. Any change you suggest there will likely not be merged, because if it were, it would be trampled the next time the content is regenerated. It is generated from the CLI source, so you need to make the change to the CLI source.

In this case, you can add the entry for this to the help.py file, like this:
[code]

[2019-03-08 17:51] VictorioBerra commented on #8723
https://github.com/Azure/azure-cli/pull/8738

[2019-03-08 17:55] marstr commented on #8734
What happens if you run the following?

[code]

I suspect that it's only the loop-back to the server we spin-up on localhost to complete the OAuth dance that is getting blocked.

[2019-03-08 18:11] Lupusa87 commented on #8708
I use VS Code, have installed azure storage extension, it adds option - deploy to static website.
Using this command uploads entire folder to selected azure storage account.

![untitled3](https://user-images.githubusercontent.com/40779557/54046811-6dda2b80-41a3-11e9-9245-55169334d4a3.png)

![untitled](https://user-images.githubusercontent.com/40779557/54046812-6f0b5880-41a3-11e9-8bca-f43a65e63cf4.

[2019-03-08 18:20] tjprescott commented on #8708
Since your problem is with the VSCode extension, you would need to open an issue here:
https://github.com/Microsoft/vscode-azurestorage

[2019-03-08 18:20] #8708 closed

[2019-03-08 18:31] panchagnula commented on #8686
Also you can get to the help documentation above  by running  az webapp webjob continuous list -n
or see this https://docs.microsoft.com/en-us/cli/azure/webapp/webjob/continuous?view=azure-cli-latest#az-webapp-webjob-continuous-list

[2019-03-08 18:34] Lupusa87 commented on #8708
@tjprescott Ok, Thank you.

It will be great if you check on your side how your code handles .wasm files.

[2019-03-08 19:00] tjprescott commented on #8290
@nirkum18 it seems the `network-january-release` branch has still not been merged to master? Do you know when this will happen?

[2019-03-08 19:01] adewaleo commented on #8666
@panchagnula moving this to sprint 57

[2019-03-08 19:15] adewaleo commented on #7644
Moved this to backlog @devigned

[2019-03-08 19:18] adewaleo commented on #5352
@williexu moving this to backlog.

[2019-03-08 19:24] adewaleo commented on #8735
@mboersma can you take a look, seems like the object does not have or always have the desired field `kubeconfigs`.

[2019-03-08 19:26] tjprescott commented on #8727
If your version of azure-cli-monitor is >= 0.2.5, you do not have to provide a resource group.

However, you can only query for one status at a time, so you would need to run two queries and combine the results.

[2019-03-08 20:40] #6364 closed

[2019-03-08 22:21] williexu commented on #8715
@sajithvasu the issue is actually with the `storage account update` command, not actually the adding of network rules.
The update command had some very faulty logic that was ignoring encryption parameters in various scenarios and replacing them with null values with a `Microsoft.Storage` key source. https://github.com/Azure/azure-cli/pull/8740 fixes this problem.

[2019-03-08 22:27] samherve commented on #8060
Pipe from stdin is also supported from AzCopy now : https://azure.microsoft.com/en-us/blog/azcopy-on-linux-now-generally-availble/

[2019-03-08 22:35] derekbekoe commented on #8545
I ran into the same issue.
If you're using one of the SDKs, you can do this yourself using the [Container Groups - Update API](https://docs.microsoft.com/en-us/rest/api/container-instances/containergroups/update).

For example in C#
[code]

Or in Python:
[code]
https://docs.microsoft.com/en-us/python/api/azure-mgmt-containerinstance/azure.mgmt.containerinstance.operations.container_groups_operatio

[2019-03-08 23:25] marstr commented on #8689
**/CC** @tjprescott @yugangw-msft

Alright, I've spent the better part of the day investigating our options here.

I've confirmed with @lmazuel that at the end of the day, we are not able to install all of our declared resources because of pypa/pip#6222. However, the good news is that the two packages involved (`entrypoints` and `jeepney`) only seem to be included because of [`keyring`](https://py

[2019-03-08 23:35] lmazuel commented on #8689
To emphasize, `keyring` was only used in `msrestazure` authentication, which is not even use by the CLI (use it's own ADAL wrapper). And because `keyring` was a problem, I catch any failure and just disable the feature (that again the CLI doesn't use):
https://github.com/Azure/msrestazure-for-python/blob/e347fc59d323edccf04ce9a043768ce4d36b6271/msrestazure/azure_active_directory.py#L49-L53

So in

[2019-03-08 23:35] #4663 closed

[2019-03-08 23:43] jvano opened #8742 "az webapp create java"
Long story short, we need “az webapp create” or “az webapp up” for java apps. It should be interactive and prompt for stack to use and default to app service as we will for the new UX create experience.

Something like:
az webapp create java -n myjavapp

This should create the rd, asp on linux and use "Java SE" blessed image. We should have also
az webapp create tomcat -n myTomcatApp
az webapp cre

[2019-03-08 23:45] jvano opened #8743 "az webapp deploy"
We need a command to deploy:
az webapp deploy --src {FilePathLocation}

The FilePathLocation, should be a local or remote file (http://)
If extension is .zip -> use /zipdeploy as today
If extension is .war -> use /wardeploy
Else case -> add the file to a zip and use /zipdeploy (this is useful to transfer .jar files or any other file).

Ideally the context should be passed from previous create, so

[2019-03-09 00:02] yugangw-msft commented on #8689
I support the idea of removing `keyring` to bypass the issue.
In future on potential secure token persistence implementation, we just remember this when consider to using keyring, but that is still too far away to worthwhile think that much

[2019-03-09 01:43] yugangw-msft commented on #8669
Not supported through `vm create`, and also after a vm gets create, the `linuxConfiguration.ssh.publicKeys` becomes read-only. Based on that, before we get more votes for the support, right now, your workaround is:
1. az vm create --debug --validate" and get the template
2. Add a new ssh entry into the template file
3. Run `az group deployment create <template-file>`

[2019-03-09 01:46] yugangw-msft commented on #8669
@adewaleo, let us wait on this before we get more votes. If we need to expand the `--ssh-key-value` to be a list

[2019-03-09 02:34] myusrn opened #8746 "azure-cli command to launch kubernetes service web UI mgmt dashboard"
**Describe the bug**
I was following https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough which ends with a Next Steps section that takes you to details on how to Access the Kubernetes web dashboard [ in Azure Kubernetes Service (AKS) ].

Those instructions simply say to execute the following command: <br>
```az aks browse --resource-group KubernetesWork --name myks```

The output win

[2019-03-09 02:53] yugangw-msft commented on #3414
Let us close it, we don't have actions to take right now based on this outcome. Once we need to do it, it will be either [user agent](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli-core/azure/cli/core/commands/client_factory.py#L84), or client end [telemetry](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli-core/azure/cli/core/telemetry.py#L121)

[2019-03-09 02:53] #3414 closed

[2019-03-09 03:31] yugangw-msft commented on #5444
Sorry for the delay, but I have submitted a PR to fix this.

[2019-03-09 03:54] yugangw-msft commented on #7507
A few related issues have been fixed through the refactoring made for the multi-api support. I am no longer able to reproduce this issue, but if you do, please use `--debug` and send the trace to me at yugangw at microsoft dot com
I am closing this issue, while I have to apologize for not getting to this issue in time.

[2019-03-09 03:54] #7507 closed

[2019-03-09 03:55] yugangw-msft commented on #5810
Fixed by #7470

[2019-03-09 03:55] #5810 closed

[2019-03-09 04:16] yugangw-msft commented on #7978
@tjprescott, is this the azedv work?

[2019-03-09 04:17] yugangw-msft commented on #7992
Code is complete at https://github.com/yugangw-msft/azure-cli/tree/localctx and we just wait for appservice  team's confirmation

[2019-03-09 04:19] yugangw-msft commented on #7041
will revisit if cloud shell team wants it again

[2019-03-09 04:19] #7041 closed

[2019-03-09 04:40] yugangw-msft commented on #6616
@jorgecotillo, sorry for the delay, but I tried out the examples and both commands worked fine. Please note the latest CLI is using newer api-version at `2018-05-01` which might contain bug fixes towards  the error you mentioned. If it still doesn't work, please run with `--debug` and send the trace to me at yugangw at microsoft dot com.
I will keep the issue active for a few day and will close un

[2019-03-09 05:13] yugangw-msft commented on #4432
Agreed what we have now (2 fields) are too little. I will fix this by adding a few which CLI 1.0 outputs as well. I would not include template information which has lots of varieties, perfect for users to pick up --json

[2019-03-09 05:34] moderakh commented on #6206
@tjprescott please assign the data plane issues (including this one) to @christopheranderson

[2019-03-09 06:50] satls commented on #5899
I'm not sure that "CLI 2.0 was not designed to be used with Powershell." is correct, are you suggesting that the CLI 2.0 is not supported on PowerShell?

[2019-03-09 13:23] anschoewe opened #8750 "az ad app create is not idempotent"
There are two scenarios to consider...

- Re-running 'az ad app create' with the '--native-app true' results in multiple applications being created with unique appIds.
- Re-running 'az ad app create' with the '--native-app false', results in this message being returned instead of the expected existing object. Message: Another object with the same value for property identifierUris already exists.

[2019-03-09 18:04] SteveParson commented on #8680
Thanks for noticing that. I should have noticed based on the line-split character, but I am new to Powershell.

Since this example is the one presented when you call `az policy definition create -h` (even from powershell), would it make sense to make the output dependent on the shell context?

[2019-03-10 01:18] anschoewe commented on #8750
I also noticed that 'az ad sp create-for-rbac' is not idempotent.  Re-running the command does not return the existing service account but instead just returns: <name> already exists.  I would have expected it to return the existing/matching service principal object.

[2019-03-10 12:08] CognitiveClouds-Prasad commented on #6973
I am facing the same issue. I was trying a lot of things. I realised that the problem is with this one.

[2019-03-10 21:06] allieus opened #8752 "TypeError: unsupported operand type(s) for |: 'NoneType' and 'str' when sku=None"
**Describe the bug**

Exception point is below.

[code]

https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py#L2187

Exception

[code]

**To Reproduce**

* python webapp on azure webapp on linux
* When the requirements.txt file is missing.

[code]

**Expected behavior**

Unsupport NoneType and str in Python.

I sugge

[2019-03-11 03:43] akshita31 commented on #8731
I am also getting the same error when using the Azure Cloud Shell
`az aks create -l eastus -n testCluster -g volunteer --generate-ssh-keys -k 1.12.4 -c 1`

[2019-03-11 04:11] SriHarsha001 commented on #8731
Please try the below work around -

Create a new SP :
	az ad sp create-for-rbac --skip-assignment

Create AKS cluster by providing credentials created above :
	az aks create --name AKS --resource-group RG --node-count Int --generate-ssh-keys --service-principal AppID --client-secret Pwd

[2019-03-11 06:51] #8715 closed

[2019-03-11 06:53] tatazoe opened #8753 ""az network nic create" command should display warning message or be blocked when updating existing NIC"
**Is your feature request related to a problem? Please describe.**
"az network nic create" command change existing NIC setting without warnings.
This will impose very high risk of unexpected mis-configuration.

    [Version]
    azure-cli 2.0.59 *

    [How to reproduce]
    # Create resource group and vNet
    az group create --name Dev_test01 --location japaneast
    az network vnet create \

[2019-03-11 07:04] tatazoe opened #8754 ""az network nsg create" should display warning message or be blocked when updating existing NSG"
**Is your feature request related to a problem? Please describe.**
"az network nsg create" command change existing NSG setting without warnings.
This will impose very high risk of unexpected mis-configuration.

    [Version]
    azure-cli 2.0.59 *

    [How to reproduce]
    # Create NSG
    az network nsg create -g "Dev_test01" -n "test_nsg" --tags "hogehoge" "01"
    az network nsg show -g "Dev_

[2019-03-11 10:38] uniquelau commented on #8722
Linked issue to Azure Pipelines Task issue.
I have made some further investigations.

When the variable `padlock == false` it works on every deployment.
When the variable `padlock == true` it works for the first deployment and then fails.

However, this behaviour is not mirrored in other Azure DevOps projects.

[2019-03-11 11:40] santy8a commented on #6304
Thanks a lot @yugangw-msft ,
Do you know when is upcoming release?

[2019-03-11 15:31] reallydontask commented on #8734
I get a similar error:
`
Error occurred in request., ConnectionError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /tenants?api-version=2016-06-01 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x04C320D0>: Failed to establish a new connection: [WinError 10060] A connection attempt failed because the connected part

[2019-03-11 15:48] GabrielSchlatter commented on #7927
This is important to me as well.

In my case i initially chose a VM size that has not enough memory for production use.
Now i will have to spawn an entirely new cluster instead of just upgrading to a larger node size (which i wpould have expected)

[2019-03-11 16:19] #4432 closed

[2019-03-11 16:23] yugangw-msft commented on #6304
@santy8a, it will be around tomorrow

[2019-03-11 16:30] santy8a commented on #6304
Great, thank you very much

[2019-03-11 17:01] adewaleo commented on #8669
@yugangw-msft, this might also be a good candidate for generic `--set` for create commands.

[2019-03-11 17:09] tjprescott commented on #8754
This is by design and is true for nearly all create commands in the CLI. There is an open issue already to offer an opt-in safety net for all create commands (#7613). Since this ask is covered by that, I will close this issue.

[2019-03-11 17:09] #8754 closed

[2019-03-11 17:09] tjprescott commented on #8753
This is by design and is true for nearly all create commands in the CLI. There is an open issue already to offer an opt-in safety net for all create commands (#7613). Since this ask is covered by that, I will close this issue.

[2019-03-11 17:09] #8753 closed

[2019-03-11 17:15] williexu commented on #5352
Closing this in favor of more scoped issues

[2019-03-11 17:15] #5352 closed

[2019-03-11 17:17] williexu commented on #5575
Changing this issue to a service attention feature, as the CLI can only do so much to facilitate a dry-run if the service does not support this option.

[2019-03-11 17:18] #5653 closed

[2019-03-11 17:19] marstr commented on #8734
Interesting, it's not the error that I thought then, and it is distinct from #7227.

[2019-03-11 17:21] tjprescott opened #8755 "Help Examples should be shell-sensitive"
**Is your feature request related to a problem? Please describe.**
By convention, our examples are written to by platform agnostic. However, when we do use any kind of shell-specific syntax, we use bash syntax. The example doesn't identify this and thus CMD or Powershell users are often confused when the example doesn't work.

**Describe the solution you'd like**
We have a `supported_profiles` kwa

[2019-03-11 17:22] tjprescott commented on #8680
Hi @SteveParson it would make sense, and we've talked about it in the past. I created an issue to track this, though I can't say when it might appear on the horizon.

https://github.com/Azure/azure-cli/issues/8755

[2019-03-11 17:23] williexu commented on #6484
Closing as the output issue with failed precondition has been resolved in the current behavior for delete-batch

[2019-03-11 17:23] #6484 closed

[2019-03-11 17:23] marstr commented on #8734
The thing that's puzzling to me is that it seems like you're able to authenticate but then get blocked by your proxy for future requests. (Which probably means the Authentication label should come off of this, but I don't have a better fit for it.) @yugangw-msft, have you seen anything like this in the past?

[2019-03-11 17:25] tjprescott commented on #7865
@williexu, do you have any suggestions for this?

[2019-03-11 17:27] tjprescott commented on #8205
@williexu would an example help with this?

[2019-03-11 17:28] tjprescott commented on #8720
@adewaleo is this using three-state flag?

[2019-03-11 17:36] adewaleo commented on #8752
@allieus Thanks for raising this issue. Yes you may make a PR.

CC: @panchagnula

[2019-03-11 17:42] tjprescott commented on #7978
Currently azdev clones and installs the testsdk from source. If we wanted to avoid that, we could publish the package, if not on pypi, at least in some storage location where we could simply install the WHL file. It's not an urgent issue. Once published, azdev would be changed to use the WHL file instead of cloning and installing from source.

[2019-03-11 17:44] williexu commented on #8060
Closing in favor of: https://github.com/Azure/azure-cli/issues/3447

[2019-03-11 17:44] #8060 closed

[2019-03-11 18:14] ctaggart commented on #8727
Having to run two queries is a limitation of the CLI and not the API, correct? I don't think the Azure UI is making two queries.

[2019-03-11 19:01] adewaleo opened #8756 "image create should allow for setting data disk skus."
Similar to #4263 but for image create. At the very least, it should allow one to specify what sku setting should be used for the disks in general, if not for individual disk luns.

cc: @yugangw-msft

[2019-03-11 19:42] ryancfields commented on #8737
After this experience, I am hesitant to continue to provide my feedback for Azure services.  The response that the command still works is not what I was asking.  I raised an issue regarding the example in the documentation not using the required parameters.

[2019-03-11 19:52] tjprescott commented on #8737
@ryancfields we welcome your feedback. The example using `--address-prefix` instead of `--address-prefix` is simply demonstrating a feature of argparse and since there is no reason for the customer not to leverage such a feature, we see no reason that examples should not also leverage this feature as long as the example works.

That being said, we would not reject a PR that made such a change.

[2019-03-11 19:57] tjprescott commented on #8727
@ctaggart while the portal often makes multiple queries to smooth over service limitations, in this case, I believe you are correct. The query is built using an OData filter.

I will reopen this as a feature request.

[2019-03-11 20:00] codyrat opened #8757 "az network watcher flow-log configure requires optional new parameter"
**Describe the bug**
az network watcher flow-log configure on azure-cli =>2.0.57 requires --traffic-analytics and --workspace id set

**To Reproduce**
az network watcher flow-log configure \
       --retention 5 \
       --enabled true \
       --format JSON \
       --log-version 2 \
       --resource-group ResourceGroup  \
       --storage-account storageAccountId \
       --nsg NSGName

Paramet

[2019-03-11 20:44] ryancfields commented on #8737
That sounds good to me, I will open a PR now.

[2019-03-11 20:50] williexu commented on #7865
We can implement this, though this is low-pri. Right now as a workaround, of course, one can simply append the sas token to the uri.

[2019-03-11 21:07] simonbrady commented on #7387
@marstr Thanks for picking this up, I've just been through another painfully slow upgrade (to 2.0.60 under WSL/Ubuntu) so I can assure you this fix will be welcomed!

[2019-03-11 21:11] williexu commented on #8205
Yep, an example or added param help would both suffice to help with discovery.

[2019-03-11 21:20] adewaleo commented on #8720
@bsemperlotti @tjprescott, I've started looking into this. The command is indeed using three-state flag, however the problem is either with how the command uses the SDK / interacts with arm or with the service itself.

[2019-03-11 21:27] benc-uk commented on #7387
Geat that this is finally getting looked at!

Every time I update the CLI, I kiss goodbye to my machine for ~20 minutes. I dread updating it.
Bundling Python with the CLI seems like madness

Looking forward to these changes

[2019-03-11 21:31] tjprescott commented on #8757
I am not able to repro your issue using the command you gave. Please provide the output of `az --version`.

[2019-03-11 21:52] marstr commented on #7387
20 minutes? Yikes. Which platform are you using @benc-uk? Maybe Ubuntu via WSL?

[2019-03-11 21:55] benc-uk commented on #7387
Yes.
A very common configuration I find at customers and partners. First it's the actual update and then Windows Defender going absolutely crazy

I've had some snide comments from customers about the CLI in this regard

[2019-03-11 22:05] marstr commented on #7387
All the more reason to get this taken care of. Thanks for the honest feedback.

[2019-03-11 22:06] troydai commented on #7387
The WSL file system being slow when transfer large number of files were the problem when I looked at it months ago. Windows Defender is more about the cold start time of the command.

[2019-03-11 22:12] dlepow commented on #8650
I repro'd this exact error testing some documentation using CLI version 2.0.59 in Cloud Shell, also local Win 10.
Created container group using [this YAML](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-multi-container-yaml#configure-the-yaml-file).
Tried export:
[code]

[2019-03-11 22:12] marstr commented on #8734
Looks like there is some existing guidance available here: https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy

Also, it looks like this is a duplicate of https://github.com/Azure/azure-cli/issues/8632, so I'm going to close it out.

[2019-03-11 22:12] #8734 closed

[2019-03-11 22:38] tjprescott commented on #8650
I believe this is fixed in 2.0.60.

[2019-03-11 23:01] cbrooksmsft opened #8759 "az storage blob show fails with auth-mode login"
**Describe the bug**
az storage blob show fails with auth-mode login

**To Reproduce**
1. grant user permissions in RBAC to read blobs in an account.
2. az login
3. $ az storage blob show --account-name account --container-name container --name testfile.txt --auth-mode login

**Expected behavior**
show blob properties

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get,

[2019-03-11 23:02] cbrooksmsft commented on #8759
@williexu

[2019-03-11 23:05] adewaleo commented on #8670
https://github.com/Azure/azure-cli/issues/8755 seems relevant to this issue.

[2019-03-11 23:14] tjprescott commented on #8670
@adewaleo yes, it is. I think the simplest fix would simply be to tag it with bash so that it doesn't even appear for Powershell or CMD users. This won't help though when people find the example via docs.

[2019-03-11 23:21] williexu commented on #8759
https://github.com/Azure/azure-cli/pull/8760 should fix this, I've also added testing for `blob show` in the oauth suite of tests.

[2019-03-11 23:34] adewaleo commented on #8636
So I followed the instructions in https://github.com/Azure/azure-cli/issues/2507#issuecomment-286843943_ and was able to encrypt a windows vm with a service principal.

However, I was also able to encrypt a windows **vm without needing to setup a service principal at all**, in fact according to the [azure disk encryption docs](https://docs.microsoft.com/en-us/azure/security/azure-security-disk-enc

[2019-03-11 23:34] #8636 closed

[2019-03-11 23:37] odonyde commented on #1528
A `no-wait` flag on `az cdn endpoint purge` would be great, too. :-) Currently my deployment pipeline waits over 5 minutes for purging a single asset... :-(

[2019-03-11 23:47] adewaleo commented on #8670
@tjprescott I agree with this solution, but couldn't this cut out a lot of relevant examples for our windows users?

For example, the example in the first comment is relevant to both Windows and Linux users but would be cut simply because it sorts the output of the CLI command with a bash command. We will need to develop a strategy with how we want to deal with this.

[2019-03-11 23:55] #8689 closed

[2019-03-12 00:21] agray opened #8762 "v2.0.59 and v2.0.60 az --version hangs"
**Describe the bug**
With version 2.0.59 or 2.0.60 installed executing az --version from an admin command prompt just hangs.

**To Reproduce**
Install Azure CLI
Open cmd admin prompt
Execute az --version
Hangs!

**Expected behavior**
It shouldn't hang.

**Environment summary**
Windows MSI installer v 2.0.59 or 2.0.60 downloaded from https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view

[2019-03-12 00:29] #8644 closed

[2019-03-12 00:32] #8759 closed

[2019-03-12 00:51] marstr commented on #6973
I've submitted three PRs against the Azure/azure-sdk-for-python repository that should relieve this issue. It should be noted, that this is a workaround more than a fix. The best resolution would be for the commands involved to be updated to adopt the newest versions of the management libraries, as @yugangw-msft had started to do with #8751. However, we need to be able to adopt new versions of msr

[2019-03-12 00:54] adewaleo commented on #8717
@kalyanaj can you look into this. Also can you remove the examples that are in the `--topic-type-name` help for `az eventgrid event-subscription list -h`

https://github.com/Azure/azure-cli/blob/cbcf889258d16d58b4eb9acedc911865d9ace912/src/command_modules/azure-cli-eventgrid/azure/cli/command_modules/eventgrid/_help.py#L229-L235

[2019-03-12 01:23] panchagnula commented on #8666
@yiliaomsft , looking more into this, turning on this will cause an app recycle & so we don't turn this on by default on Portal either. Please comment if you still think this is required.

[2019-03-12 08:11] benc-uk commented on #7387
It's a pipe dream at this point as I can see the amount of work that's gone into this Python version of the CLI, but...

A single executable (i.e. based on golang) would be ideal. I've been working with Kubernetes, Helm and Terraform. Their tooling is written in Golang and it's *really* nice just having this single static binary you can put anywhere

[2019-03-12 09:53] theheatDK commented on #7573
It is possible to do now. You of cause has to be a little careful. Do not use too many tags so there is room for the "built-in" ones and make sure that you tag keys are unique.
[code]

[2019-03-12 10:25] ThomasGallet commented on #8293
I totally agree with you sander, i am facing the same problem. According to the deployment script generated by Azure, I should put these parameters :
[code]
But with az webapp traffic-routing i can only generate this one :
{
[code]
  }
Or this one :
{
[code]
  }

So it doesn't work because they are conflicts between the rule generated with Azure CLI and existing ones.

[2019-03-12 11:02] reallydontask commented on #8734
For future reference. This is what i had to do

1. Open Powershell with elevated permissions

1. Run Following commands:

[environment]::SetEnvironmentVariable("HTTPS_PROXY","http://<domain>5%C<username>:<password>:<proxyip>:<proxyport>","Machine")

[environment]::SetEnvironmentVariable("AZURE_CLI_DISABLE_CONNECTION_VERIFICATION",1,"Machine")

1. Close PowerShell

1. Open PowerShell

1. az login

[2019-03-12 16:58] tdillon opened #8766 "Concurrent Azure CLI Usage"
**Is your feature request related to a problem? Please describe.**
I'm running Azure CLI to perform deployments on my CI server (Bamboo).  My current steps for a deployment are:

1) `az login ...`
1) `az webapp deployment ...`
1) `az logout`

The Azure CLI commands are not isolated, they are run by the same service account in separate threads.  Therefore, if 2 deployment jobs are running concurren

[2019-03-12 17:02] #5444 closed

[2019-03-12 17:04] tjprescott commented on #8750
@marstr I believe you recently closed a similar issue?

[2019-03-12 17:07] blacelle opened #8767 "'Cannot decrypt backup blob' on az keyvault secret restore"
**Describe the bug**
After a backup with CLI, the CLI failed restoring the entry

**To Reproduce**

    az keyvault secret backup \
   		--vault-name someVaultName \
   		--id $fullKeyVaultEntryId \
   		--file-path "$outputFolder/$keyVaultEntryId.json"

   	az keyvault secret restore \
   		--file-path "$filename" \
   		--vault-name otherVaultName

**Expected behavior**
I would expect the key to

[2019-03-12 17:10] yugangw-msft commented on #8750
The graph command are probably the only exception.  The backend service doesn't support `PUT` like most other azure services; rather it has "POST" and `PATCH`. This makes idempotent a bit hard

[2019-03-12 17:24] mydiemho opened #8768 "`azure storage` returning error that is causing Azure Cli task to fail"
**Describe the bug**
Seeing `Write could not complete without blocking` intermittent error.  This started happening on 2/25.

**To Reproduce**
1. Create an Azure CLI task in Azure DevOps
1. Call any of the `azure storage` command (file upload/download, batch upload/download)
[code]

**Expected behavior**
1. Files are uploaded/downloaded without issues
1. Task is green

**Environment summary**
1. A

[2019-03-12 17:28] marstr commented on #7387
If you look into my GitHub profile, you'll see that I'm a huge fan of Go and have spent a non-trivial part of my career on/with it. I love Terraform and k8s, and am envious of their ease of distribution. TBH, there are a lot of benefits to Go, but with a project like ours where we need to support many many contributors across the company, asking people to learn Go is a much heavier lift than askin

[2019-03-12 17:33] williexu commented on #8762
I was not able to reproduce this on my windows machine- installed using the msi for 2.0.60.

@agray could you try again/give your system info?

[2019-03-12 17:42] benc-uk commented on #7387
I totally understand, that's why I prefixed my comment with "this is a pipe dream" 😄
Having done some Go myself it's quite the context switch from other languages

Hopefully some tidy up of the packaging is all that is required to get things speedy again

[2019-03-12 18:14] lmazuel commented on #6973
@marstr:
https://pypi.org/project/azure-mgmt-datalake-analytics/0.2.1/
https://pypi.org/project/azure-mgmt-recoveryservicesbackup/0.1.2/
https://pypi.org/project/azure-mgmt-recoveryservices/0.1.1/

[2019-03-12 18:21] marstr commented on #6973
Thank you much, @lmazuel!

[2019-03-12 18:26] #7997 closed

[2019-03-12 18:55] yugangw-msft commented on #8766
You can use `AZURE_CONFIG_DIR` env var to have each CLI get its own folder for profile and tokens.
We can update the [CLI doc](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md) to call out this

[2019-03-12 19:05] tdillon commented on #8766
Thanks @yugangw-msft, that sounds like it should solve my issue.  Let me verify (may take a day or two).

[2019-03-12 19:34] tjprescott commented on #8762
Are you running behind a network proxy?  If you disable your network and try running it again, does it still hang?

[2019-03-12 19:46] blacelle commented on #8767
It appear it is not possible to use backup/restore to transfer keys to a different KeyVault

[2019-03-12 19:46] #8767 closed

[2019-03-12 20:08] yiliaomsft commented on #7261
We're looking into it.

[2019-03-12 21:09] ejarvi commented on #8636
The new version eliminates this requirement.  More on this is available here: https://docs.microsoft.com/en-us/azure/security/azure-security-disk-encryption-prerequisites-aad

[2019-03-12 21:17] agray commented on #8762
We had to set the HTTP_PROXY and HTTPS_PROXY environment variables.

Then it worked.

On Wed, Mar 13, 2019, 6:41 AM Travis Prescott <notifications@github.com>
wrote:

[2019-03-12 21:54] sanchitmehta opened #8770 "az webapp config source zipdeploy ,doesn't honor AZURE_CLI_DISABLE_CONNECTION_VERIFICATION to ignore certs for Kudu Zip deploy"
**Describe the bug**
When deploying to Azure App Service via zip deploy. Az CLI doesn't honor the environment variable AZURE_CLI_DISABLE_CONNECTION_VERIFICATION=1 to disable the SSL verification and still checks for certs.

Here is the stack trace for the same:

c:\build>az webapp deployment source config-zip --resource-group "<some resource group>" --name "<app name>" --src "<package name>.zip" -

[2019-03-12 22:00] tjprescott commented on #8762
Thanks @agray. If you temporarily turn off your network connection and run `az --version` does it hang or does it say "Unable to determine if your CLI is up-to-date"?

[2019-03-12 22:01] #6973 closed

[2019-03-12 22:33] agray commented on #8762
It takes a VERY long time to eventually say that it can't check CLI update
as you said.

On Wed, Mar 13, 2019, 9:04 AM Travis Prescott <notifications@github.com>
wrote:

[2019-03-12 22:39] williexu commented on #8768
Is this reproducible outside of the Azure CLI task in Azure Devops?

Also, this looks like https://github.com/travis-ci/travis-ci/issues/8982 and https://github.com/conda/conda/issues/6481, both of which make me think this is not a CLI issue.

[2019-03-12 23:07] tjprescott commented on #8762
Thanks @agray this was a concern I had when putting this check in. I'll see what we can do.

[2019-03-13 01:02] yugangw-msft opened #8774 "Compute: Large disk support"
**Resource Provider**
What is the Azure resource provider your feature is part of?
  `Compute and Disk resource provider`

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
[code]

**Minimum API Version Required**
What is the minimum API version of your service required to implement your

[2019-03-13 01:35] brent-robinson commented on #6537
I'm experiencing the same issue on an image based on Ubuntu 18.04, specifically `mcr.microsoft.com/powershell`. The issue occurs for `/bin/bash`, `/bin/sh` and `/usr/bin/pwsh`.

Using the suggested `env TERM=vt1000 /bin/bash` worked for `/bin/bash`, but the issue reappeared if I then launched `pwsh` from it.

[2019-03-13 01:55] sajayantony opened #8775 "Relay - Cannot create hybrid connection with disabled client authroization"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Create a hybrid connection with client authorization disabled.
[code]
**Expected behavior**
`RequireClientAuthorization` on the hybrid connection if false.

**Environment summary**
OSX
[code]
**Additional context**
Add any other context about the problem here.

[2019-03-13 11:05] Aaronmcd1978 commented on #8636
Yes I am Able to Encrypt OsDisk now but when i create a Data disk in the VM its not encrypting

[2019-03-13 13:21] bartoostlander commented on #8312
Hi Team, I get the error: "```
UnicodeEncodeError: 'ascii' codec can't encode character u'\xa0' in position 172: ordinal not in range(128)
Logged from file util.py, line 28
[code]

[2019-03-13 14:15] Choc13 opened #8776 "ARM template parameters of type SecureObject are not recognized"
**Describe the bug**
The Az CLI does not appear to support ARM template parameters of type `secureObject`.

**To Reproduce**
Deploying the below template highlights the problem:

[code]

Running the following command:
[code]

produces the following warning and error:

[code]

Obviously interpreting it as a string leads to the error that the provided value is not valid.

However if we change the `c

[2019-03-13 14:19] bartoostlander opened #8777 "Getting Unicode"
Hi Team, I get the error:
[code]
when I execute "**az storage blob exists**".

**To reproduce**
[code]

**Expected behavior**
In the past, this returned an object or string with ```_true_``` or ```_false_``` in it. Since early this year it throws a **UnicodeEncodeError** error in ```util.py```.

**Environment summary**
azure-cli 2.0.59, bash shell, Red Hat Enterprise Linux Server release 7.6 (Maip

[2019-03-13 14:50] bartoostlander commented on #8777
As it turns out, running the following command before running any Azure CLI command solves the problem:
[code]

[2019-03-13 14:51] bartoostlander commented on #8777
Running the following command before running any Azure CLI commands avoids the problem:
[code]

[2019-03-13 16:04] bartoostlander commented on #8777
I spoke too soon. Issue still exists... :-(

[2019-03-13 16:04] kjoebie opened #8778 "'utputformat' is not a valid value for '--output'"
**Describe the bug**
When entering the following azure cli command from a Powershell window:
az ad sp create-for-rbac -n "Demo" --role contributor --scopes /subscriptions/{SubscriptionId}

I get the following errormessage:
az ad sp create-for-rbac: 'utputformat' is not a valid value for '--output'. See 'az ad sp create-for-rbac --help'.

**To Reproduce**
Open an Powershell windows with admin right

[2019-03-13 17:01] adewaleo commented on #8636
@Aaronmcd1978 please can you share more context and info?

Are you saying that after encrypting the os disk, you attach a data disk and then run encryption on the data disk which fails?

If so what failure specifically?

[2019-03-13 17:15] Aaronmcd1978 commented on #8636
Yes . When I create a Windows VM the OS Disk is created automatically. Then i create a Data disk and save. I run this command from CLI to encrypt "az vm encryption enable -g resourceGroup -n myVM --disk-encryption  myVault  --volume-type All" it runs but only Enrypts osDisk not dataDisk . It does not give me an error message.

[2019-03-13 17:47] marstr opened #8780 "RPM Spec Should be updated to accomodate different distros (incl. RHEL8)."
[Our RPM Spec is only setup to build using Enterprise Linux 7 repositories](https://github.com/Azure/azure-cli/blob/e5fd28ca284aa2d2b96409555b86bf68ba643258/scripts/release/rpm/azure-cli.spec), and indeed we only publish an `*.el7.x86_64.rpm`.

However, [in our installation instructions](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-yum?view=azure-cli-latest), we callout several RPM

[2019-03-13 17:48] marstr commented on #8780
In addition, this will help us manage Enterprise Linux 8, and it's new handling of Python.

[2019-03-13 17:49] marstr commented on #7976
I'm rolling up this and a few other RPM related issues into the broader #8780.

[2019-03-13 17:49] #7976 closed

[2019-03-13 17:50] marstr commented on #7523
I'm rolling up this and a few other issues into the broader #8780.

[2019-03-13 18:22] PatMyron commented on #8777
related: https://github.com/Azure/azure-cli/issues/8312, https://github.com/Azure/azure-cli/issues/6408, https://github.com/Azure/azure-cli/issues/4418, https://github.com/Azure/azure-cli/issues/1277

[code]

[2019-03-13 18:23] adewaleo commented on #8636
That's strange, what happens when you try encrypting afterwards with  `--volume-type DATA`?

[2019-03-13 18:38] PatMyron commented on #8777
Fixed it on my Mac by forcing the use of azure-cli from Homebrew instead of Pip

https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-macos

`brew update && brew install azure-cli && brew link --overwrite azure-cli`

[2019-03-13 18:47] panchagnula commented on #8752
@allieus thanks for reporting & also suggesting the fix - got some folks reporting the same so starting a PR for this

[2019-03-13 19:23] marstr commented on #8777
@bartoostlander, seems like the workaround is effectively "use Python3 for the Azure CLI". This is easy for @PatMyron, who is installing with brew because Python3 is the default in the environment.

However, since you're coming from Red Hat, I'll assume you install from the RPM that we publish. That makes it trickier, as my understanding is that Python3 won't be available through first party repos

[2019-03-13 19:55] moonmeister opened #8783 "deploy function app HTTP 409 error"
**Describe the bug**
When trying to upload a function app the zip upload returns a 409 and fails.

**To Reproduce**
I'm not sure how to reproduce outside our specific function apps. We've previously used the `func deploy` command to deploy and are now moving to using the `az functionapp deployment source config-zip {...}` command. Upon creating a new function app the deploy worked successfully.

*

[2019-03-13 19:59] yugangw-msft commented on #5673
Using Python Shebang should deal with it. This is sort of related with https://github.com/Azure/azure-cli/issues/7367 and https://github.com/Azure/azure-cli/issues/7726.
//CC @marstr @lmazuel
If Python shebang turns out have side impact which is a no-go, I suggest we document the workaround which tells users how to tweak manually. Updating the our setup for this is a stretch to me.

[2019-03-13 20:20] yugangw-msft commented on #7149
We will need more user votes to consider any actions on this

[2019-03-13 20:26] yugangw-msft commented on #7616
The approach of invoking azcopy through CLI, which is on-going in cli extension, should improve it.
We will work out the plan to bring this option to the main repo when it is ready

[2019-03-13 21:19] yugangw-msft commented on #5018
@lmazuel, CLI is a bit different that we have more places to cover for Azure Stack and unsigned certificates in general, which I list here:

1. For ADFS, we turn off the authority validation like [here](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli-core/azure/cli/core/_profile.py#L97)
2. For general unsigned cert handling on the wire, we deal with ADAL's as well see [here](https://gith

[2019-03-13 21:32] StingyJack commented on #8686
So what is the "webapp" name? I'm looking everywhere in the az portal on my app services and resource groups and do not see a web app name displayed. The closest thing I can reckon is the App Service name.

[2019-03-13 21:49] ejarvi commented on #8636
After attaching the disk, it will need to be initialized inside of Windows.  Some steps on how to do this are available here:  https://docs.microsoft.com/en-us/azure/virtual-machines/windows/attach-managed-disk-portal#initialize-a-new-data-disk

[2019-03-13 21:52] panchagnula commented on #8686
webapp name is name of the app or appservice name.

[2019-03-13 23:18] williexu commented on #8778
@kjoebie is it possible you did this?
[code]

[2019-03-13 23:29] williexu commented on #8778
Related: https://github.com/Azure/azure-cli/issues/7856

[2019-03-14 00:22] #8752 closed

[2019-03-14 00:47] StingyJack commented on #8686
Ok, small but confusing terminology bug in `--help`. I'll submit a PR for that repo when I'm back in front of a PC.

[2019-03-14 00:47] #8686 closed

[2019-03-14 02:54] yugangw-msft commented on #4899
I believe we have exchanged through emails, that using both object id and app id should work. The case which doesn't work was the object id of application, which I don't think we need to support as we have not got other users who ran into the same issue.

[2019-03-14 02:54] #4899 closed

[2019-03-14 04:47] #4680 closed

[2019-03-14 08:01] kjoebie commented on #8778
C:\WINDOWS\system32> az ad sp create-for-rbac -n "Demo" --role contributor --scopes /subscriptions/{<removed subscriptionid>} --debug
File logging enabled - writing logs to 'C:\Users\Albert\.azure\logs'.
Command arguments: ['ad', 'sp', 'create-for-rbac', '-n', 'Demo', '--role', 'contributor', '--scopes', '/subscriptions/', '-encodedCommand', 'ZAA2ADUAMgA1ADIAYwAxAC0AMQA3AGIAZgAtADQAZQA0AGMALQA4ADE

[2019-03-14 10:09] Klaas- opened #8789 "Get recovery vault for VM"
**Resource Provider**
vm

**Description of Feature or Work Requested**
I would like to know if/how it is possible to find out which recovery vault is associated to a VM. I could only figure out the other way around - which VM is associated to a vault. But that means I'd have to cycle through all vaults to find the right one.

External (unanswered) Link https://stackoverflow.com/questions/43105398/

[2019-03-14 11:11] icewhite commented on #8746
I'm seeing the same thing. I'm behind a corporate internet proxy. Wondering if that's the cause. @myusrn are you the same?

[2019-03-14 11:22] razmohan opened #8790 "az-cli install on windows 7"
i have installed azure-cli 2.0.60 in my Windows 7 machine, but when tried to check the version "az --version" commands returns the message "Access is denied". I am not sure where the problem is. Even pyhton latest version is installed in my machine and also the PATH variables are set properly.

[2019-03-14 12:38] tdillon commented on #8766
Setting the `AZURE_CONFIG_DIR` env var has solved my issue.  Below are the steps I perform for each deployment.  I now have to execute `az cloud set ...` for each deployment since I cannot use the CLI's global configuration.  For each task I set `AZURE_CONFIG_DIR=.` so the current working directory is used for the CLI's profile and tokens.

1) `az cloud set ...`
1) `az login ...`
1) `az webapp dep

[2019-03-14 12:38] #8766 closed

[2019-03-14 14:21] pjeannet-dior commented on #8633
Hello, we have the exact same issue and the workaround posts did work. It is fairly easy to reproduce BTW.

[2019-03-14 14:29] Aaronmcd1978 commented on #8636
adewaleo see below for output of vm encryption show
{
  "disks": [
    {
      "encryptionSettings": [
        {
          "diskEncryptionKey": {
            "secretUrl": "https://cis-vault.vault.azure.net/secrets/B10B7076-0796-4D47-9A91-07741E4DED74/2c329545b4c2417c88dd2861a0e464ee",
            "sourceVault": {
              "id": "/subscriptions/341968b6-b414-48fb-b340-a11ce884fe8f/resourceGrou

[2019-03-14 14:30] Aaronmcd1978 commented on #8636
ejarvi
I just completed the tasks you suggested and am getting same thing . It only encrypts osdisk

[2019-03-14 14:37] Aaronmcd1978 commented on #8636
adewaleo see below from out put of -- query dataDisk
aaron@aaron-HP-Z400-Workstation:~/pegasus-modules-azure/pegasus-modules-azure/modules/cis-compliance-windows-virtual-machines$ az vm encryption show --name Test4-Windows --resource-group CIS-VM-RG --query dataDisk
aaron@aaron-HP-Z400-Workstation:~/pegasus-modules-azure/pegasus-modules-azure/modules/cis-compliance-windows-virtual-machines$
as you

[2019-03-14 14:48] tjprescott commented on #8778
`-encodedCommand`, `=inputFormat`, `-outputFormat` are not valid anything in the CLI. Did you add these?  Looks like it may be some Powershell feature you need to turn off.

[2019-03-14 15:23] myusrn commented on #8746
@icewhite I am not behind corporate internet http proxy or nat, i'm on home broadband network with typical broadbrand router nat in place.

[2019-03-14 15:30] tjprescott commented on #8776
The CLI command recognizes `secureString` but not `secureObject`.

[2019-03-14 17:19] williexu commented on #8790
@razmohan can you show me the output that you are seeing?

[2019-03-14 17:25] tjprescott commented on #8790
My guess @williexu is that this isn't an installation problem but is related to the PyPI calls made in `az --version`.  @razmohan can you run other az commands without issue? Can you login and run `az group list` for instance?

[2019-03-14 17:51] saurabsa commented on #8688
@stefaanvermassen  where did you get the above link from and why do you need to access it?
For Linux you can directly use:
**curl https://aka.ms/azds-linux-az | bash** and the script will install AZDS Cli on your machine.

[2019-03-14 19:24] bartoostlander commented on #8777
@marstr , I installed Python 3.6 from the RedHat SCL. I can then run "scl enable rh-python36 bash" and run my script (that does "az storage blob exists"). Echoing "which python" in that script confirms that Python 3.6 is active. However, the "az storage" command on the next line still gives the same error, referring to Python 2.7!

Apparently, I need to do something to convince the Azure CLI to us

[2019-03-14 19:40] #5948 closed

[2019-03-14 19:40] #6777 closed

[2019-03-14 19:49] sshorkey commented on #8220
Any updates? This issue keeps recurring and it makes AKS unusable

[2019-03-14 19:50] sshorkey commented on #6811
How would I use this workaround with the Azure Cloud Shell, seeing as how this would not result in it running locally?

[2019-03-14 20:22] marstr commented on #8777
Yep! We try to isolate ourselves from system-python by running in a virtualenv. Which in general is a great thing, but in this particular case means it's hard to break-open your install to change things.

(While not what we usually recommend) In this case the easiest thing will be to install directly from pip by doing the following:

[code]

To remove this installation, all you'll have to do is de

[2019-03-14 20:29] bartoostlander commented on #8777
Aha! You just saved me from going doing a rabbit hole. I'll follow your instructions. Your responsiveness is highly appreciated!

[2019-03-14 20:48] bartoostlander commented on #8777
Preliminary observation: it works... I'll close this issue after further validation. Thank you!

[2019-03-14 20:57] yugangw-msft commented on #3916
@Suna-MS, apologize for being soooo late in response, but I can take a crack on this; the initial question is what CLI create command is involved. I would like to check the response code on the initial PUT/POST.

[2019-03-14 21:04] yugangw-msft commented on #3401
We will revisit when we have actions to take based on the data. TAB completion are for Show/List, which we have way less design decisions pending on it.

[2019-03-14 21:04] #3401 closed

[2019-03-14 21:20] Divyachd opened #8793 "SSL Error while running az login"
I have seen the following error after running az login from Windows -

`Error occurred in request., SSLError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /tenants?api-version=2016-06-01 (Caused by SSLError(SSLError("bad handshake: Error([('SSL routines', 'tls_process_server_certificate', 'certificate verify failed')],)",),))
Traceback (most recent cal

[2019-03-14 21:21] #8793 closed

[2019-03-14 21:33] MarcosMMartinez opened #8794 "az aks create not honoring 'azure' networkPlugin"
**Describe the bug**
Running az aks create while requesting _azure_ networkPlugin defaults to _kubenet_ plugin when _--docker-bridge-address_, _--dns-service-ip_, and _--service-cidr_ are not specified - the end user is not informed of this default and the custom subnet hosting the agent nodes do not have the route table necessary to allow a kubenet k8s cluster to function properly. The end user i

[2019-03-14 21:43] MarcosMMartinez commented on #8794
I forgot to mention - below is the object model being passed to the AKS Resource Provider, so the RP is behaving as expected, by Az Cli is not passing appropriate values.

Note how the network profile is not included and therefore defaults to **kubenet**.

sanitized request body: {
    "location": "eastus2",
    "properties": {
        "kubernetesVersion": "1.11.7",
        "dnsPrefix": "micro63b"

[2019-03-14 22:07] tjprescott commented on #8220
@mboersma for comment.

[2019-03-14 22:26] mboersma commented on #8220
@sshorkey most likely there is a process listening already at TCP port 8001, which prevents the underlying `kubectl proxy` command from starting since it wants to listen on the same port.

Does a command like `netstat -lnt | grep .8001` show any process already listening there?

Have you tried `az aks browse --listen-port=8002` to listen on a different port?

[2019-03-14 23:13] williexu commented on #3983
@seguler is there any plan on the service-side to support any of these features?

[2019-03-14 23:34] stefaanvermassen commented on #8688
@saurabsa This is the blob that the install script tries to download, causing the installation to fail.

[2019-03-14 23:48] stefaanvermassen commented on #8688
**curl https://aka.ms/get-azds-linux-az | bash** seems to work fine, thanks!

[2019-03-14 23:48] #8688 closed

[2019-03-15 01:09] yugangw-msft commented on #7430
@jsturtevant, I apologize that we are getting to this so late, but the reason that the cert&key files stay in pem is they are used for AAD service principal's key credential which only takes PEM format. Are you using the cert for `az login` which is what the command was designed for or other purpose?

[2019-03-15 01:31] yugangw-msft commented on #8469
Both `az ad app create` and `az ad app credential reset` have got the support now. Please use the latest installer

[2019-03-15 01:31] #8469 closed

[2019-03-15 06:06] AzureCloudArchitect commented on #7676
any updates?

[2019-03-15 07:04] Choc13 commented on #8776
Thanks for clearing that up. I take it from the fact that you’ve opened a PR that you’re going to add support for this? Do you have a rough idea when this will be shipped?

[2019-03-15 10:03] dkmbw commented on #8637
This is certainly annoying and happens with App Permissions as well, here's an example:

`az ad app create --display-name testname --homepage https://url --reply-urls https://url/oauth2/callback --identifier-uris https://url/ --password password
{
  ....
}
Works, Check.

export OAUTHUSER_ID=$(az ad app list --query '[].{tname:displayName, theid:appId}' -o table | grep testname | awk '{ print $2 }'

[2019-03-15 10:16] kjoebie commented on #8778
No, I did not add these. I updated the CLI to the latest version. I do not know how to add parameters... :-)

But I figured it out what the problem is. I used {} around the subcriptionid, like this:
az ad sp create-for-rbac -n "Demo" --role contributor --scopes /subscriptions/{xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx}

Then I get the error. When I removed the {}, everything works fine:

az ad sp creat

[2019-03-15 10:46] razmohan commented on #8790
@williexu @tjprescott
/can you show me the output that you are seeing?/
C:\users\razmohan> az --version
Access is denied

/In addition, how are you installing the CLI?/
downloaded the msi and installed, even i tried the pip install through command prompt.

/can you run other az commands without issue?/
its giving the same error message "Access is denied" for all az commands

[2019-03-15 12:24] bartb01 commented on #8685
If anyone is interested,
not the most beautiful way, but there is a way to connect to the db in an automation script without exposing password from keyvault, using 'expect':

[code]
Note that each psql command needs to be written separately,  and do not forget the carriage return after server password variable.

[2019-03-15 14:22] bartoostlander commented on #8777
Success. Thank you, @marstr !

[2019-03-15 14:22] #8777 closed

[2019-03-15 15:24] tjprescott commented on #8778
Ah, okay. Thanks for the update @kjoebie!  Yes, in any examples the curly-braces are used to denote placeholders. I'm not sure what Powershell features interprets them and puts those parameters on the cmd line, but this is very good to know if we encounter this again!

[2019-03-15 15:27] tjprescott commented on #7856
Indeed, the root cause is the same for both this and #8778. The curly brace syntax seen in examples denotes placeholders. You should replace the placeholder with the actual value _sans curly braces_. Powershell throws some additional Powershell-style arguments into the command line if you don't and that's where this error comes from.

[2019-03-15 15:27] #7856 closed

[2019-03-15 15:27] #8778 closed

[2019-03-15 15:37] ahmedelnably opened #8797 "[Functions] Provide a way to change language and version of a Function App"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
A way to change the language and version of a function app, ex. Change the node version from 8.11 (default) to another supported version

**Describe alternatives you've considered**
Use the portal

[2019-03-15 15:37] ahmedelnably commented on #8555
This will be tracked within the larger effort to configure the language/version of a function app
Replaced by: https://github.com/Azure/azure-cli/issues/8797

[2019-03-15 15:37] #8555 closed

[2019-03-15 15:45] tjprescott commented on #7676
@wawon-msft

[2019-03-15 15:46] tjprescott commented on #8776
End of March.

[2019-03-15 15:49] tjprescott commented on #8790
Thanks @razmohan. In that case, this doesn't seem related to the network calls in az --version. Instead, it seems like a permissions issue specific to Windows 7.

If you run a command prompt as administrator, do you still get this error?

[2019-03-15 17:59] #8776 closed

[2019-03-15 18:20] sajayantony opened #8798 "ACR: Improve error message when vnet is enabled."
**Describe the bug**
Currently the error is not indicative enough when VNET is enabled and the CLI fails to access the repository commands.

**To Reproduce**
[code]

**Expected behavior**
Improve error on the CLI so that its consistent with the portal.

/cc @djyou

[2019-03-15 20:22] yugangw-msft commented on #8637
@dkmbw, #8787 has the change to deal with this error, but to cross check, can you run the `grant` with `--debug` and let me know the trace on the wire? I can be reached at yugangw at microsoft dot com

[2019-03-15 21:17] yevster commented on #8731
When I try the workaround, I get this error:

Confirmed that `az account show` lists the correct subscription. Adding the `subscriptionId` parameter or the `aad-tenant-id` parameter had no effect.

(CLI version 2.0.60, Ubuntu 18.04)

[2019-03-15 21:19] cgkades commented on #6770
I'm also having this issue.. any update?

[2019-03-15 22:04] #8468 closed

[2019-03-15 22:24] adewaleo commented on #8636
@Aaronmcd1978 .

I created a windows VM, encrypted the os disk, added the data disk, followed the [steps](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/attach-managed-disk-portal#initialize-a-new-data-disk) @ejarvi mentioned to properly attach and initialize the data disk within the VM and then ran encryption enable on just data disks. The command succeeded for me.

Could you loo

[2019-03-15 22:24] neuralspatial commented on #8635
az: error: the following arguments are required: _command_package
usage: az [-h] [--verbose] [--debug]
          [--output {json,jsonc,table,tsv,yaml,none}] [--query JMESPATH]
          {acr,acs,aks,openshift,advisor,ams,webapp,appservice,functionapp,backup,batch,batchai,billing,bot,cdn,cloud,cognitiveservices,configure,consumption,container,cosmosdb,dla,dls,dms,eventgrid,eventhubs,extension,feedb

[2019-03-15 22:53] DustinEwers opened #8801 "CORS command no longer works."
This is what I get if I run any of the cors commands.
[code]

Is this command no longer valid?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ab72811c-1db4-678d-b7a7-33a093a1f587
* Version Independent ID: 1e835b1b-514f-cd18-94d5-cd10f4864bd0
* Content: [az webapp cors](https://docs.microsoft.com/en-us/cli/azure/webapp/

[2019-03-15 23:05] #8801 closed

[2019-03-15 23:06] DustinEwers commented on #8801
Had an older version of the CLI on my machine.

[2019-03-16 02:05] emcconne opened #8803 "az vm create should allow images to exist in other resource groups"
I am frustrated because the cli doesn't allow me to create a vm from an image in another resource group.  I am able to create an image in a resource group that is different from the source VM but when I try to use the image I have to either use ARM templates or the UI.  Neither powershell or the Azure CLI supports an option to use an image in another resource group.

[2019-03-16 05:20] #8731 closed

[2019-03-16 05:26] #8798 closed

[2019-03-17 15:57] snobu commented on #8794
I've hit this one too. Glad the root cause is already known. Temporary workaround - pass an ARM template to `az` instead. Not ideal but should get you through these tough times :)

[2019-03-17 20:40] aravish commented on #7676
Are there any updates on this? Also can you please patch if there is one?

[2019-03-17 20:59] justSteve opened #8805 "Am subscription owner but getting Insufficient privileges to complete the operation."
I created a keyvault with: az keyvault create   --name "foo"   --resource-group fooresgroup   --location "North Central US"   --enabled-for-template-deployment true

That worked and I eyes on the KV in the portal. Next I issued: az keyvault set-policy --upn email@subOwner.com --name foo --secret-permissions set delete get list

and got Insufficient privileges to complete the operation.

What next?

[2019-03-18 12:18] janustoth commented on #5533
I would also like to upvote this.

[2019-03-18 14:58] docunid opened #8807 "Typo in json returned by `az security task list`"
"securityTaskParameters": {
   "name": "GenericSecuirtyTask",

Security?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2b05427b-880b-682d-86aa-b76e563962b5
* Version Independent ID: 15136c2b-d558-2d62-f077-a3d388341b34
* Content: [az security task](https://docs.microsoft.com/en-us/cli/azure/security/task?view=azure-cli

[2019-03-18 15:15] BenWalters opened #8808 "--slot not acknowledged on 'az webapp config container set' command"
When using 'az webapp config container set' the --slot parameter is ignored and changes are submitted directly to the production slot!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: acac0890-ff1e-ef72-7715-94988b818426
* Version Independent ID: 7db8a57d-4b68-aa5c-8d7f-52251403f797
* Content: [az webapp config container

[2019-03-18 15:27] jrauschenbusch opened #8809 "Container SAS: Missing permissions a (add) + c (create)"
**Is your feature request related to a problem? Please describe.**
According to https://docs.microsoft.com/en-us/rest/api/storageservices/constructing-a-service-sas#specifying-permissions there should be an `add` as well as a `create` permission for Container SAS tokens.

Currently the lastest `az cli`(2.0.60) doesn't support it.

Output:
`az storage container policy create: error: valid values ar

[2019-03-18 16:12] tjprescott commented on #8803
Did you try using `--image ID` where ID is the ARM ID to the image in a different resource group?

[2019-03-18 16:13] tjprescott commented on #8803
[code]

If the above doesn't work, that would be a bug.

[2019-03-18 17:26] tjprescott commented on #6770
@christopheranderson for comment.

[2019-03-18 17:30] tjprescott commented on #8635
Since you are using the interactive extension, I will transfer this issue to the extensions repository.

[2019-03-18 17:56] panchagnula commented on #8808
@Nking92 can you take a look at this.

[2019-03-18 18:22] panchagnula commented on #5533
//CC: @ahmedelnably

[2019-03-18 18:40] ajk2018 opened #8811 "Cosmos DB - Cannot set an offer throughput on an existing container that uses the database shared throughput"
If a container has not had it's throughput set before (i.e. we are using the DB shared throughput), and you try to call `az cosmosdb collection update`  to set a throughput on that container. The method will fail with the following error:

`Cannot find offer for collection X`

This looks like it was possible using the older .NET SDK per this example: https://github.com/markjbrown/cosmosdb-offers/b

[2019-03-18 18:45] panchagnula commented on #7992
@yugangw-msft  thanks I will give you an update on our usage of this, later this week.

[2019-03-18 20:58] yugangw-msft commented on #8805
@justSteve, what kind of accounts you authenticated through CLI? A user account or a service principal account?

[2019-03-18 21:42] #8723 closed

[2019-03-18 21:55] yugangw-msft commented on #8789
I don't think it is supprted, but @dragonfly91 can confirm.

[2019-03-19 01:05] NatalieYuGong opened #8813 "[ACR] Contextless run and task"
Azure Container Registry runs an image and creates a task with some context. The issue wants to support doing so without any context.

## Running a task with an image

|Description|Command | Notes|
|:-----------|:----------|:------|
| Running an image | `az acr run --cmd hello-world /dev/null`| |
| Image with Args | `az acr run --cmd "bash -c 'echo hello-world'" /dev/null`| Arguments similar to do

[2019-03-19 02:52] sajayantony opened #8815 "Improve Error message for Incorrect folder paths for ACR build"
**Describe the bug**
Run acr build with an incorrect relative folder path as shown below.

`az acr build -t app:latest ./non-existant-path`

**Expectation**
Output a message describing that the folder/path is not valid or folder not found etc.

**Actual Output**
The command exits with a failure.
`'./../aap' is not a valid remote URL for git or tarball.`

[code]

/cc @northtyphoon

[2019-03-19 03:20] alvinsjtu commented on #8770
Hell Team, any update for this issue?

[2019-03-19 06:29] razmohan commented on #8790
Hi @tjprescott i have tried running command prompt as administrator but still its giving me the same error message.
![image](https://user-images.githubusercontent.com/48553741/54584826-684fd180-4a3e-11e9-9e0b-717cac8d63ba.png)

[2019-03-19 08:14] Klaas- commented on #8789
Is it just not in az-cli or is it not possible even through api/whatever?

[2019-03-19 14:50] tjprescott commented on #8789
If you run `vm show` and it makes no mention of the vault, then it is not supported by the API.

[2019-03-19 15:03] Klaas- commented on #8789
@tjprescott no mention of it :) Where would I make a feature request against API?

[2019-03-19 16:44] tjprescott commented on #8789
Hi @Klaas- my suggestion would be to the feedback forums. That is what most of the service teams prefer:
https://feedback.azure.com/forums/216843-virtual-machines

There is a link for Azure Backup as well:
https://feedback.azure.com/forums/258995-azure-backup

I think that to get the relevant vault to appear on VM show, that request would need to go to the VM team.

[2019-03-19 17:27] tjprescott commented on #8290
Due to the necessity for Swagger changes, there is no way this will be released this sprint. @nirkum18 please advise when the Swagger fix has been merged and we will reschedule this work accordingly.

[2019-03-19 17:30] sptramer commented on #7387
@marstr Will slimming the `.deb` package finally remove the bundled Python interpreter and finally rely on the system Python? This will affect install instructions.

[2019-03-19 17:37] williexu commented on #8809
@zezha-msft currently the storage data-plane sdk does not support add or create permissions: https://github.com/Azure/azure-storage-python/blob/216f883533b9324c1a38eae4515261d2f630682f/azure-storage-blob/azure/storage/blob/models.py#L650-L672

Does it need to be updated?

[2019-03-19 18:36] yugangw-msft commented on #7177
@paolosalvatori, PR was merged, please use `az ap app permission admin-consent`

[2019-03-19 18:49] willbrim commented on #8770
Hi team,
Do we have any update on this or a projected timeline?

[2019-03-19 19:33] marstr commented on #7387
Yes! That's what I'm working on right now.

[2019-03-19 19:46] yugangw-msft commented on #8310
There are no support for `query whether permissions are granted already or admin consent still needs to be granted`, but my latest PR should provide the equivalent of  `Grant admin consent through azure portal` . I am going to close this issue, since there are nothing else CLI can assist further. With the upcoming release the end to end support on permission grant should be addressed well.

[2019-03-19 19:46] #8310 closed

[2019-03-19 19:52] dipesharora opened #8818 "Unable to update Kafka on existing Namespace"
I followed the instructions on az eventhubs namespace update section and set --enable-kafka true for an existing namespace and it failes with error "BadRequest - Updating the KafkaEnabled property on a namespace is not supported. CorrelationId: ccd5aff6-4ce8-49d3-b590-75fa194542c1"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2019-03-19 20:02] panchagnula commented on #8770
Not yet, added the tentative timeline for this release.

[2019-03-19 20:05] willbrim commented on #8770
Thank you for the update!

[2019-03-19 21:26] stevengum opened #8820 "[az ad]: Add sign-in-audience as enum arg to create and update"
**Is your feature request related to a problem? Please describe.**
`az ad app create` and `az ad app update` do not support `signInAudience` which means a user who wishes to change this value must go to the portal to change the setting.

**Describe the solution you'd like**
`az ad app create` and `az ad app update` to support --sign-in-audience as an enum type.

**Additional Context**
The currentl

[2019-03-19 21:49] zezha-msft commented on #8809
@williexu thanks for tagging me.

@mirobers do you know if there's any historical reason why `add` and `create` are absent?

[2019-03-19 21:55] exuviae opened #8822 "az webapp create fails when the app plan is not in same resource group"
when you attempt to create a web app using:

az webapp create -n $AppName --resource-group $ResourceGroupName --plan $AppPlanName

fails to find the app plan if the app is being created in a different resource group then the one the plan exist in.

The portal allows you do to this.  You can get around it with a resource move, but the move call takes much longer then the app creation.

[2019-03-19 22:04] tjprescott commented on #8822
[code]

To use a plan in a different resource group, you must supply the ARM ID.

[2019-03-19 22:04] #8822 closed

[2019-03-19 22:50] marstr commented on #8182
Given that #8592 is delayed until after //build, I'm adding this check in to keep us safe in the meantime.

[2019-03-20 02:35] vany0114 opened #8827 "keyvault certificate import api doesn't work when password has special character"
**Describe the bug**
When I try to import a certificate with special characters inside the password it generates this error:
[code]

**To Reproduce**
Try to import a certificate with this password: Q1$VGcjv&%8H
[code]

**Expected behavior**
It should import the certificate since it is completely valid.

**Environment summary**
CLI version: `azure-cli (2.0.24)`
OS version: `Windows 10 Enterprise`

[2019-03-20 08:00] viktors-telle commented on #7707
I am experiencing the same issue.

[2019-03-20 09:51] Klaas- commented on #8789
Okay, I'll do that; thank you

[2019-03-20 09:51] #8789 closed

[2019-03-20 10:00] Klaas- commented on #8789
https://feedback.azure.com/forums/216843-virtual-machines/suggestions/37151851-api-connection-to-backup

[2019-03-20 11:24] koroseman commented on #7404
Why is this issue closed? Is there a walk around to what is a clear error in the documentation and implementation.

[2019-03-20 13:00] lefrog opened #8830 "Need clarity on `--docker-bridge-address` option of `aks create` command"
I'm really not clear on what this flag does. I guess what I'm trying to understand is;
1. how will this impact the network layout/configuration?
2. what part of the system will care about that value (Kubernetes, AKS, thing outside of the cluster)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d75c3a8d-1187-bea1-a7d4-7

[2019-03-20 14:00] Primital opened #8831 "webapp:BrokenPipe error when trying to create TCP tunnel for SSH"
**Describe the bug**
After starting a TCP tunnel and trying to ssh to localhost on the specified port, the az tunnel crashes immediately after a BrokenPipeError: [Errno 32] Broken pipe

**To reproduce**
I don't know the cause. On my system it crashes everytime. Please read my comments in additional context

**Expected behavior**
I expect the ssh connection to establish

**Environment summary**
Pyt

[2019-03-20 15:34] tjprescott commented on #8827
What shell are you running the CLI command from? I suspect it is Powershell based on the error, and if that's the case, there is nothing we can do about this because the splitting on & occurs before your command ever reaches the CLI.

[2019-03-20 15:45] vany0114 commented on #8827
Sorry, not sure what you mean, but I'm running the CLI command directly from my pc thru the cmd.

[2019-03-20 16:15] tjprescott commented on #8827
Thanks for the clarification @vany0114. For CMD, only ever wrap strings in double quotes. If you run your command with --debug, you will see, for example, that `-n 'myCert'` is interpreted as name = `'myCert'` not `myCert`.  If you provide your password in double quotes you will not get that unrecognized command error.

[2019-03-20 16:22] vany0114 commented on #8827
@tjprescott I tried with double quotes too and didn't work :(
Actually, for `vault-name` and `name` parameters, I didn't use quotes at all. (sorry my bad, writing the example)

[2019-03-20 16:24] tjprescott commented on #8827
With double quotes, do you get the `Format of Pkcs12 value is invalid` error?

[2019-03-20 16:37] #8182 closed

[2019-03-20 16:57] vany0114 commented on #8827
With double quotes I get:

[code]

[2019-03-20 17:52] Nking92 commented on #8808
@BenWalters I wasn't able to repro, can you give a specific example?

I tried this, which worked as intended:
az webapp config container set -g web -n nkcontainer -s staging -c couchbase

[2019-03-20 18:08] panchagnula commented on #7707
@viktors-telle / @alexpilon666 does import certificate to app service work from portal & just fails from CLI ? you can also run the command with the --debug flag & check if you get a detailed error message?

[2019-03-20 18:21] DivineOps commented on #8731
@yugangw-msft
I am still getting this issue running the command in cloudshell
`az aks create --resource-group $group --name $aksname --node-count 3 --generate-ssh-keys --disable-rbac --node-vm-size $vmsize --kubernetes-version 1.12.6`

Error:
The password must contain at least 1 special character. paramName: PasswordCredentials, paramValue: , objectType: Microsoft.Online.DirectoryServices.Applicat

[2019-03-20 19:31] panchagnula opened #8833 "webapp: az webapp up - Add better error messages to report the failure cause & re-try instructions"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash o

[2019-03-20 20:56] tjprescott commented on #8827
https://stackoverflow.com/questions/1327431/how-do-i-escape-ampersands-in-batch-files/1327476#1327476

Use `^` to escape the `&` character.

[2019-03-20 21:25] #8398 closed

[2019-03-20 21:26] vany0114 commented on #8827
Sorry @tjprescott, indeed I get that error. When you asked I tested out in PS rather than cmd.

I've tried with `^` but it does nothing. I checked my Keyvault but there's nothing there, tho.

![image](https://user-images.githubusercontent.com/12032625/54719998-459be680-4b2c-11e9-9a9b-fa0040d79c00.png)

[2019-03-20 21:32] adewaleo commented on #8402
Will work on generic set for vm (vmss, and avail set), post build.

[2019-03-20 21:40] tjprescott commented on #8827
Thanks @vany0114, I was trying to separate the quoting issue with the service issue. The KeyVault team will need to address why your certificate does not work. Since you can't upload it with the CLI, PS or portal, it implies there is something questionable in the service.

Also, I noticed you are using CLI 2.0.24, which is well over a year old. You might try updating your CLI and see if that resol

[2019-03-20 21:41] tjprescott commented on #8402
For this case, where there is a parameter that can *only* be set on creation and can't be updated, I would advocate for exposing the strongly-typed argument.

[2019-03-20 21:47] adewaleo commented on #8402
I was for the idea, but @yugangw-msft had some reservations against it. See #8538

[2019-03-20 21:49] #6438 closed

[2019-03-20 21:56] adewaleo commented on #8402
I am still open to it though, @tjprescott

[2019-03-20 22:33] BenWalters commented on #8808
@Nking92 See below the command I ran when I incurred the problem (info sanitised):

az webapp config container set --resource-group test-rg --name appname --slot qa -o json --multicontainer-config-type COMPOSE --multicontainer-config-file "C:\Users\ben\ssh.yml"

Let me know if you are able to reproduce it with this.

[2019-03-20 22:41] scotty-c opened #8836 "Cant provision AKS clusters"
**Describe the bug**
Following the documentation here  https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough. I get the following error `The password must contain at least 1 special character. paramName: PasswordCredentials, paramValue: , objectType: Microsoft.Online.DirectoryServices.Application`

This seems to be only affecting AKS as I can deploy an VM or a function from the cli wit

[2019-03-20 22:43] #8428 closed

[2019-03-21 00:55] vany0114 commented on #8827
I updated the CLI to the latest version (2.0.60) and still getting that error.

However, scaping the `&` I get this new error:

![image](https://user-images.githubusercontent.com/12032625/54728106-c7e6d380-4b49-11e9-9c78-a1879c4ba04e.png)

[2019-03-21 06:09] lakshmanav opened #8837 "Documentation on az webapp deployment command"
We receive a response from az webapp deployment command. Do we have a documentation on what the "status", "active" mean ? Would be great to have a documentation on the response from the command

{
"active": true,
"author": "N/A",
"author_email": "N/A",
"complete": true,
"deployer": "Push-Deployer",
"end_time": "time",
"id": "id",
"is_readonly": true,
"is_temp": false,
"last_success_end_time": "tim

[2019-03-21 08:08] raywang commented on #5503
works for me +1

[2019-03-21 08:46] Leon99 opened #8852 "Distribution of Azure CLI via package manager on Windows"
I don't think that distributing a CLI tool via a GUI installer makes much sense. Besides, while on Linux there are officially supported ways to install it via package managers, there is none on Windows. This creates an impression that Microsoft doesn't back their own products.
I'm aware of the existence of an unofficial Chocolatey package, but it's clearly not a first-class citizen and official do

[2019-03-21 15:30] devigned commented on #8303
@tjprescott and @zemien are we good with closing this issue? I'm fairly certain this is quote interpretation issue.

[2019-03-21 15:30] niktho opened #8839 "[az kusto database create] Database.soft_delete_period_in_days can not be None"
**Issue**
Creating database in Azure Data Explorer using Azure CLI throws an error with the message Database.soft_delete_period_in_days can not be None.

This can be related to the Microsoft Azure SDK for python has a breaking change related to _**Model DatabaseUpdate no longer has parameter soft_delete_period_in_days**_. Reference: https://pypi.org/project/azure-mgmt-kusto/

This is tested on thr

[2019-03-21 16:00] yooakim opened #8840 "az keyvault create gives "Bad JSON content found in the request.""
I'm trying to create a new keyvault using AZ CLI. My command line is as follows:

[code]
the response I get is:
[code]

I am using AZ CLI on Windows, versions as follows:

[code]

I am not able to see what is wrong in the request. Anyone here who can help?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 226e5769-f6c8-a4

[2019-03-21 16:06] DanielDiBe commented on #8633
I had to escape the key in the following way:
az cosmosdb collection create --collection-name --partition-key-path "/'\$v'/_id/'\$v'" --db-name --resource-group <RG_Name> --key --url

I hope that helps.

[2019-03-21 16:51] ajk2018 commented on #8811
I just verified that the example provided does not work.  There is an error since the query for an offer returns null.  The question is, can we only set throughput on a container at creation?  There seems to be some confusion on this.

[2019-03-21 16:52] ajk2018 commented on #8811
We also have this ticket open with the SDK team.  https://github.com/Azure/azure-cosmos-dotnet-v3/issues/82

[2019-03-21 16:58] #8303 closed

[2019-03-21 17:01] tjprescott commented on #4074
Hi @snebel29 sorry this issue got lost in the mix. You bring up a good point. We'll triage and try and get it scheduled accordingly.

[2019-03-21 17:04] tjprescott commented on #8840
If you are running on Windows Command Prompt, you cannot use single quotes. Use double quotes.

[2019-03-21 17:09] tjprescott commented on #8837
You would need to consult the service API documentation.
https://docs.microsoft.com/en-us/rest/api/appservice/webapps/createinstancemsdeployoperation

[2019-03-21 17:09] #8837 closed

[2019-03-21 17:52] tjprescott commented on #8290
Swagger issues have been resolved, so this change will go into Sprint 58.

[2019-03-21 17:53] tjprescott commented on #8757
Closing as I am not able to reproduce this. If you have additional data you can provide, feel free to reopen.

[2019-03-21 17:53] #8757 closed

[2019-03-21 17:54] tjprescott commented on #8406
Moving this to post-Build.

[2019-03-21 18:21] bvx5009 opened #8841 "is there a way to enable waf rules with the az command?"
i see that there is a parameter to disable specific rules, is there anyway to enable them through an az command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 68725488-1e3a-ac2d-c454-bcedd26e4b70
* Version Independent ID: 706d7f46-f132-10ab-423c-4a640d65d2dc
* Content: [az network application-gateway waf-config](https

[2019-03-21 18:49] tjprescott commented on #6122
I cannot even create this record manually. It says:
[code]

When I try to import this I get:
[code]

So I believe this is by design and will be closing this issue.

[2019-03-21 18:49] #6122 closed

[2019-03-21 18:53] tjprescott commented on #6342
Thank you for the suggestion @udf2457. We will consider this.

[2019-03-21 18:56] tjprescott commented on #6854
@kwanlowe this looks like implementation fields from the SDK. This parameter would essentially do nothing and should be suppressed.

[2019-03-21 19:34] devigned commented on #3304
I verified the response from the REST API is actually a 204 rather than a 404 when DELETE was called on a profile that doesn't exist. I'll add a test, but I think this no longer an issue.

Even under 404s, the CLI will not respond with a stacktrace.

[2019-03-21 20:52] danielsollondon commented on #8657
I was just running this, and hit:
bash-4.4# az image-builder template list -g ibdemo
InvalidResourceNamespace - The resource namespace 'Microsoft.VirtualMachineImages' is invalid.
bash-4.4#

[2019-03-21 21:12] tjprescott commented on #8841
Anything not disabled is enabled, so you would basically re-run the command without those disabled rules.

[2019-03-21 21:12] #8841 closed

[2019-03-21 21:19] tjprescott commented on #3304
Yep. This is no longer an issue!

[2019-03-21 21:19] #3304 closed

[2019-03-21 21:34] adewaleo commented on #8657
@danielsollondon. Are you logged into the correct subscription. Try `az account show` to see your current subscription. And use `az account set -s subscription_name_or_id` to set to the whitelisted subscription.

[2019-03-21 23:18] tjprescott opened #8846 "az self-test swallows some help errors"
From https://github.com/Azure/azure-cli-extensions/issues/588#issuecomment-475433849

Install storage-preview extension
[code]

Retrieving help should fail in this case.

[2019-03-22 07:32] medved-nsk commented on #8312
Hi,
We have the same error on CentOS 7.6.1810, default Python 2.7.5 and _azure-cli 2.0.60-1.el7_ installed by yum

[code]
Any chances it'll be fixed or the only way is to use Python 3? Thanks.

[2019-03-22 10:20] snebel29 commented on #4074
No worries, thanks

[2019-03-22 11:31] BenWalters commented on #8808
@Nking92 I've emailed you directly the CLI commands showing that the set command changes Prod and not the slot. I set up a test WebApp so not to cause problems to our Prod environment.

[2019-03-22 13:16] davejhahn commented on #8633
@DanielDiBe thanks, I will give this a try.

[2019-03-22 13:54] BenWalters commented on #8808
@Nking92 I just realised that I might have been running an old version of the CLI, I was running 2.0.52, I upgraded to 2.0.60 and it seems work okay now!

[2019-03-22 13:54] #8808 closed

[2019-03-22 13:58] BenWalters commented on #7186
@john681611 I had the same issue I believe - [Issue 8808](https://github.com/Azure/azure-cli/issues/8808)
Solution for me was to upgrade from 2.0.52 to 2.0.60.

[2019-03-22 15:50] tjprescott commented on #8839
@oflipman for comment

[2019-03-22 15:56] squasta opened #8849 "Need clarity on --workspace-resource-id option"
I spend a lot of time and try many thing to activate monitoring on a log analytics workspace with the option --workspace-resource-id and i still don't know what the value should be like. I found here (https://docs.microsoft.com/en-us/azure/azure-monitor/insights/media/container-insights-optout/container-properties-page.png) an example of log analytic workspace id but this format doesn't fit with w

[2019-03-22 16:19] szaher opened #8850 "az vm: 'list-ip-addresses' is not in the 'az vm'"
**Describe the bug**
While executing az vm list-ip-addresses from a bash script I got the following error
az vm: 'list-ip-addresses' is not in the 'az vm' command group. See 'az vm --help'.

**To Reproduce**
my bash script
`#!/bin/bash

RG=$1
SUBSCRIPTION=$2
DEPLOYMENT_NAME="TESTVM"
OUTPUT="$(az group deployment  show  --name $DEPLOYMENT_NAME -g $RG --subscription $SUBSCRIPTION --query 'properties

[2019-03-22 16:30] szaher commented on #8850
Also from CLI
**az vm list-ip-addresses --name $NAME --subscription $SUBSCRIPTION** Working fine!!
az --debug vm list-ip-addresses --name $NAME --subscription $SUBSCRIPTION  gives error !!

[2019-03-22 16:42] tjprescott commented on #8850
The command name is: `az vm list-ip-addresses`.  Everything to the right of that are options or positional arguments. You cannot splice an option into the middle of a command name. If you simply move --debug to anywhere after `list-ip-addresses` your command will work fine.

[2019-03-22 16:42] #8850 closed

[2019-03-22 16:52] tjprescott commented on #8852
Thank you for your feedback @Leon99. We will revisit this as a team and update this issue accordingly.

For team discussion, the following issue is related: https://github.com/Azure/azure-cli/issues/3874

[2019-03-22 17:04] tjprescott commented on #8852
While I there is little internal desire to take over a community-maintained release channel, I see no reason why we cannot call attention to it on the installation page.

[2019-03-22 17:06] PrajithB opened #8854 "cannot create QnA using powershell"
I'm trying to create QnA using powershell command - New-AzCognitiveServicesAccount, but I get the error shown below. I'm not sure to which parameter the runtimeendpoint needs to passed. Guess it also needs search instance, appservice, appserviceplan and web app bot to be created. Not really sure how these parameters can be passed to PS command. Using JSON it works fine. I do have same issue in cre

[2019-03-22 17:24] tjprescott commented on #8854
You would need to file your issue here: https://github.com/Azure/azure-powershell

This repo is for Azure CLI.

[2019-03-22 17:24] #8854 closed

[2019-03-22 17:25] adewaleo commented on #8657
Work to do by April 2nd:
- Move commands to az image
- Support customizing windows server image and new customizers
- update to new API version.
- add tags support for images and possibly templates
- support exporting image to VHD
- custom managed image as source base image.

See [here](https://github.com/danielsollondon/azvmimagebuilder/blob/master/aibMarch2019Update.md) for more info. [Quickstar

[2019-03-22 17:28] #8846 closed

[2019-03-22 17:42] devigned commented on #7644
I'm not going to get to this until next week. #8855 will provide access to these operations via the updated management library. From there, the custom-https-enable and disable will need to be created allowing for either a provided certificate or a Key Vault source.

[2019-03-22 17:44] devigned commented on #4475
As specified in #8855, this will likely require a new spec covering API Version 2018-04-02 for CDN in the rest api specs repo. I've alerted the team and am awaiting a response. I'll follow up when I hear back from CDN team.

[2019-03-22 17:48] tjprescott commented on #5690
Yep. Pretty much a strongly-typed version of `az monitor autoscale` but under `az vmss autoscale` and without the need to specify things like resource type and such.

[2019-03-22 19:36] way2arun opened #8856 "WARNING: Role "id" is missing. Look for the role in the current subscription..."
az cli version - 2.0.60, getting the error while trying to update
 WARNING: Role "id" is missing. Look for the role in the current subscription..., updated the feedback in
https://docs.microsoft.com/en-us/azure/role-based-access-control/custom-roles

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 40e649cf-40e3-1b9e-141a

[2019-03-22 20:38] #7635 closed

[2019-03-22 20:44] anusapan opened #8857 "Showing version=null after adding IoT cli-extension"
**Describe the bug**
When I am trying to add IoT CLI-extension, it is showing null as a version.

**To Reproduce**
add IoT cli-extension: az extension add --name azure-cli-iot-ext
Show all added extension: az extension list

**Expected behavior**
It should show 0.7.0 as the version.

![Capture2](https://user-images.githubusercontent.com/31940305/54851862-71dc7200-4ca8-11e9-9092-32d26e963fc9.JPG)
W

[2019-03-22 21:33] devigned commented on #4475
This issue should stay open until the new API version is available in the specs repo and generated.

[2019-03-22 23:22] gpazo opened #8859 "az functionapp deployment source config-zip fails"
**Describe the bug**
Running the command below fails without any explanation of why/how to fix.

```az functionapp deployment source config-zip -g platform -n platform-active-brands-dedicated --src platform-active-brands.zip```

Outputs:  `Zip deployment failed.`

**To Reproduce**
Run the command above

**Expected behavior**
I downloaded my working function app from a consumption plan and created

[2019-03-22 23:40] yugangw-msft commented on #8803
This definitely works and I have verified, please use command with such arguments, e.g.
[code]

[2019-03-22 23:46] #8803 closed

[2019-03-22 23:53] yugangw-msft commented on #8856
@way2arun, when you invoke `az role definition update`, `id` is expected. You can use the output of the `create` or `show` commands

[2019-03-22 23:53] #8856 closed

[2019-03-23 00:14] yugangw-msft commented on #8756
This requires compute service end change

[2019-03-23 00:22] gaziqbal opened #8861 "Need clarity on --generate-ssh-keys"
Why would one choose to specify or not specify this option? Which ssh keys are these and why would they be missing?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d75c3a8d-1187-bea1-a7d4-7ebba71c1790
* Version Independent ID: 75b0c352-762e-16ae-5cc6-d807ffc1dc3f
* Content: [az aks](https://docs.microsoft.com/en-us/cli/

[2019-03-23 00:32] yugangw-msft commented on #1800
This issue has been largely mitigated with enhanced `az vm list-skus`, particularly in the help
[code]
And yes, once you find the available the sizes, you can use this size for `vm/vmss create`.
We have talked to compute team, and there are nothing else planned on this area. Hence i am closing this.

[2019-03-23 00:32] #1800 closed

[2019-03-23 00:39] gaziqbal commented on #6949
Agreed. Please clarify this. I was also just confused by this.

[2019-03-23 05:54] yugangw-msft commented on #5683
We have talked to RABC team last year. We will live with it for 2 reasons
1. `create-for-rbac` is a convenient command for `rbac` where role assignment is a must have, hence a default is needed. We don't see there are any other defaults which always work. The help calls out the default value very clearly. `--skip-assignment` was provided for people to skip it
2. At the same time for people with se

[2019-03-23 05:54] #5683 closed

[2019-03-23 05:57] yugangw-msft commented on #5548
because it is hard to reproduce, I will consider to emitting out an error for people to recover using `az account clear` and `az login`

[2019-03-23 06:14] yugangw-msft commented on #7497
This is not CLI issue, if you can reproduce, please reach to me at yugangw at microsoft dot com and I will connect you to the cloud shell team.

[2019-03-23 06:14] #7497 closed

[2019-03-23 06:24] yugangw-msft commented on #7078
@karataliu, sorry for the delay, here is the [code](https://github.com/AzureAD/azure-activedirectory-library-for-python/blob/dev/adal/oauth2_client.py#L187) .
You can open an issue over there.  Meanwhile I am closing this issue

[2019-03-23 06:24] #7078 closed

[2019-03-23 19:11] DarqueWarrior commented on #1528
I would like --no-wait on
[code]

[2019-03-23 19:30] williamthiago commented on #5492
Halp! We need this...

[2019-03-23 19:31] annbrady commented on #7579
any recent updates?  I'm looking to do the same things for the same reasons.  thanks!

[2019-03-23 20:49] revanthalampally opened #8863 "Unable to install az cli on alpine"
My Dockerfile looks like this:
[code]

I get error like:
[code]

I have tried with python2.7 also I get the same error. Is it to with Alpine because I dont have any issues on my Mac or other machine.

[2019-03-23 21:48] m4r10k commented on #7579
@annbrady I am still in contact with @yugangw-msft via e-mail - offline to this issue. He told me, that it will take until the end of April approximately that the backend rest interfaces will be opened and the SDK's will be able to access it. We have to wait a little bit, at this point, but I am happy that @yugangw-msft is working on it together with the other Azure teams. 😄

[2019-03-24 02:19] kasunsjc opened #8864 "Az interactive crashing"
**Describe the bug**
Refer the link below
https://github.com/MicrosoftDocs/azure-docs-cli/issues/1343

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
MacOS - 10.14.3
Azure CLI

azure-cli (2.0.52)

acr (2.1.10)
acs (2.3.12)
advisor (2.0.0)
ams (0.3.1)
appservice (0.2.8)
backup (1.2.1)

[2019-03-24 13:52] oflipman commented on #8839
@tjprescott
I created a new PR to fix the issue [:#8865](https://github.com/Azure/azure-cli/pull/8865)

[2019-03-25 03:25] scotty-c commented on #8836
Looks like there are other people with the same issue https://github.com/Azure/azure-cli/issues/8731

[2019-03-25 08:32] jrauschenbusch commented on #8809
is there any update? is it just the extension of the model class?

[2019-03-25 12:55] tanmoycuat opened #8867 "az aks install-cli fails in WSL on Windows 10"
Error

Downloading client to "/usr/local/bin/kubectl" from "https://storage.googleapis.com/kubernetes-release/release/v1.13.4/bin/linux/amd64/kubectl"
Connection error while attempting to download client ([Errno 1] Operation not permitted: '/usr/local/bin/kubectl')

[2019-03-25 12:56] tanmoycuat commented on #8867
Error as below

Downloading client to "/usr/local/bin/kubectl" from "https://storage.googleapis.com/kubernetes-release/release/v1.13.4/bin/linux/amd64/kubectl"
Connection error while attempting to download client ([Errno 1] Operation not permitted: '/usr/local/bin/kubectl')

[2019-03-25 15:12] shehzadshaikh opened #8868 "List the current OS users of Linux VM"
Hi,

I want to add the multiple users on my Linux VM on Azure cloud, i could find the instruction on https://docs.microsoft.com/en-us/cli/azure/vm/user?view=azure-cli-latest, however strangely enough there's no such command to list the current OS users.

My requirement is to create and delete users, hence, i would like to pull the list of existing OS users and then perform some comparison before d

[2019-03-25 17:12] adewaleo commented on #8863
@marstr, any thoughts?

[2019-03-25 17:16] adewaleo commented on #8864
@kasunsjc, have you tried updating to the [latest version (2.0.60)](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest)of the CLI. This bug was fixed recently, right @tjprescott?

[2019-03-25 17:18] adewaleo commented on #8867
@tanmoycuat, can you give more context? Like the command you ran. It's good to give as much relevant info as possible. Please also add what version of the CLI you are on.

[2019-03-25 17:22] tjprescott commented on #5492
@yugangw-msft @achandmsft for comment.

[2019-03-25 17:41] #8839 closed

[2019-03-25 17:42] #8857 closed

[2019-03-25 18:01] eriksaetren opened #8872 "Connecting to Azure via CLI not working"
**Describe the bug**
I'm attempting to connect to my Linux web app via the Azure CLI, however, attempting to run the following command causes an error:
az webapp remote-connection create --resource-group <resource-group-name> --name <web-app-name>

**Error Message:**
cannot import name 'SnapshotRecoveryRequest'
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-ins

[2019-03-25 18:02] emirhosseini opened #8873 "Provide sample to show how to use --cluster-configurations"
There's no documentation here or anywhere else that I can find to show how to use --cluster-configurations to provide additional information such as the hardware profile of the various components for a Kafka cluster.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b788579d-d73c-df07-abfe-1ab149da330a
* Version Independe

[2019-03-25 19:12] raahmed commented on #8833
**Describe the bug**
Currently, when re-deploying an existing app using `az webapp up -n <app_name>`, an error message appears that says that 'The app <app_name> already exists'. There are no details in the error message on what must be done to re-deploy the app.

**To Reproduce**

1) Create an Azure Web App and deploy using `az webapp up -n <app_name>`
2) Make some changes to the app.
3) Attempt

[2019-03-25 19:41] #8290 closed

[2019-03-25 19:41] revanthalampally commented on #8863
Hi I figured out the issue, it  working fine if I use
[code]
But when I try to use python3, I am not able to find anything similar to py-pip to make it work and it is failing.

[2019-03-25 19:55] tjprescott commented on #8864
I don't actually know what the bug is because it isn't stated, but I would also recommend updating to the latest CLI core.

[2019-03-25 19:55] tjprescott commented on #8864
Also, this is the az interactive extension, so I'm transferring this issue.

[2019-03-25 19:58] tjprescott commented on #8867
Please provide all of the information requested in the issue template:

======

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CL

[2019-03-26 01:18] dsparkplug opened #8875 "Description for --use-cert-sn-issuer doesn't make sense"
Can somebody explain what "Used with a service principal configured with Subject Name and Issuer Authentication in order to support automatic certificate rolls." means?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeedb9a7-2aed-6727-4cfb-1515809d676e
* Version Independent ID: 2c83180d-22ad-db42-e2eb-f27f11977963
* Co

[2019-03-26 02:22] JasonRShaver commented on #8839
please ignore me on this issue, testing reporting logic

[2019-03-26 03:26] fran38 opened #8877 "HP labtop"
Labtop stopped working again.
[Enter feedback here]

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2f747ed8-c379-a8c4-731f-a77ee3e47c89
* Version Independent ID: 2e29e92b-89d5-aeae-c447-9cfd79d69fc7
* Content: [az backup recoverypoint](https://docs.microsoft.com/en-ca/cli/azure/backup/recoverypoint?view=azure-cli-lates

[2019-03-26 04:45] yugangw-msft commented on #8861
this [doc](https://docs.microsoft.com/en-us/azure/virtual-machines/linux/ssh-from-windows) has the description for ssh.
CLI by defaults looks for  key files under `~/.ssh`. If the key is unavailable, creating linux VM will fail, then you can use `--generate-ssh-keys` to have CLI generate one for you. This flag will do nothing if the key file exists, so using it all the time is safe

[2019-03-26 04:45] #8861 closed

[2019-03-26 06:18] gaziqbal commented on #8861
Can we add this link to the "--generate-ssh-keys" section on this page to help in discoverability?

[2019-03-26 09:36] iqbal-nazir commented on #8651
We are having the same issue. We know it was listing all the tags and also deployed a script in our test environment with this command. Now, we wanted to deploy that in our production environment and noticed it's not working anymore. We find only the `tags` key, but not the values.

Environment: azure-cli (2.0.52) / Windows 10

[2019-03-26 14:43] tjprescott commented on #8877
There is insufficient information for us to do anything with this.

[2019-03-26 14:43] #8877 closed

[2019-03-26 16:08] #2933 closed

[2019-03-26 16:18] tjprescott commented on #6441
I believe this is fixed. If not, please open a new issue.

[2019-03-26 16:18] #6441 closed

[2019-03-26 17:04] sebastianrogers commented on #1284
Just had this and was caused by using CRLF endings in my bash script file.

I changed them to LF and the problem was solved.

I figured it out by echoing a variable and seeing it had a \r on the end.

[2019-03-26 17:04] sebastianrogers commented on #6721
Just had this and was caused by using CRLF endings in my bash script file.

I changed them to LF and the problem was solved.

I figured it out by echoing a variable and seeing it had a \r on the end.

[2019-03-26 17:59] gpazo commented on #8859
Closing this issue, it seems it was caused by a corrupted download of the zip file from the azure "download app content" button inside the azure functions portal.  Re-downloading my app and redeploying worked today.

[2019-03-26 17:59] #8859 closed

[2019-03-26 17:59] adewaleo commented on #8861
@yugangw-msft I think they are referring to aks' --generate--ssh-keys parameter / help. I mis-labeled this issue.

@gaziqbal,  Still I tested this and the behavior is the same, the command checks your .ssh folder for an ssh key-pair, if it is not found, you need to supply `--generate-ssh-keys` for an ssh key-pair to be generated.

@gaziqbal, the link is about general ssh key concepts and not relev

[2019-03-26 18:22] #7501 closed

[2019-03-26 19:48] markjbrown opened #8881 "Install freezes on WSL Ubuntu"
**Describe the bug**
CLI install fails on Ubuntu on WSL

**To Reproduce**
Follow directions listed here.
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest#install

**Expected behavior**
Expected it to install :)

**Environment summary**
Install Method apt-get
OS Ubuntu on WSL

**Additional context**
Here is a copy/paste of the terminal

markjbrown@mjbpc2:~$ sud

[2019-03-26 20:02] markjbrown commented on #8881
hmm, so for an unknown reason. Closing the Ubuntu terminal and reopening it seems to show az cli was installed after all.

Closing.

[2019-03-26 20:02] #8881 closed

[2019-03-26 20:39] VictorioBerra opened #8882 "how do you set connection strings? There is no az functionapp config connection-string."
**Is your feature request related to a problem? Please describe.**
Just like https://docs.microsoft.com/en-us/cli/azure/webapp/config/connection-string?view=azure-cli-latest#az-webapp-config-connection-string-set

**Describe the solution you'd like**
Exactly like `az webapp config connection-string *`

![image](https://user-images.githubusercontent.com/2934507/55031763-4e356680-4fdd-11e9-857e-3f92

[2019-03-26 20:50] zezha-msft commented on #8809
@jrauschenbusch sorry for the wait. I confirmed that `add` and `create` should be added. I've created an item on our side to track this work.

[2019-03-26 20:59] StingyJack commented on #6463
much want. kind of annoying I cant compare and manage app service configs in one place.

[2019-03-26 21:21] johnpaultthomas opened #8884 "az webapp webjob continuous start/stop not working"
**Describe the bug**
Azure cli webjob start and stop simply not working.While running with --debug option we noticed that there is ''' No route registered for '/api/continuouswebjobs/<webappname>/<webjobname>?api-version=2018-02-01'''

**To Reproduce**
Login to azure cloud shell
run the command
'''az webapp webjob continuous stop --webjob-name <webappname/webjobname> --name "<webappname>" --resour

[2019-03-26 21:25] dwj300 opened #8885 "Unable to access public github release for extension"
**Describe the bug**
When trying to add the sap-hana extension using a release newer than 2.0.52, we get a 403 when trying to get a publically accessible URL on github.

**To Reproduce**
`$ docker run -it microsoft/azure-cli:2.0.53 python -c "import requests; print(requests.get('https://github.com/Azure/azure-hanaonazure-cli-extension/releases/download/0.3.4/sap_hana-0.3.4-py2.py3-none-any.whl').s

[2019-03-26 22:36] #5856 closed

[2019-03-26 22:47] #8189 closed

[2019-03-26 23:04] ahmedelnably opened #8887 "Extend support to Linux Premium Functions Plans"
Allow creation of Linux premium functions plan using the
`az functionapp plan create`
This can be done by adding the `--is-linux` flag as in `az appservice plan create`

[2019-03-26 23:05] ahmedelnably opened #8888 "`az functionapp plan` create example need to show premium function plan"
az functionapp plan create example need to show premium function plan

[2019-03-26 23:45] limingu commented on #5535
Please reopen it if you have more details about the repro.

[2019-03-26 23:45] #5535 closed

[2019-03-27 03:59] yugangw-msft commented on #6342
Syslog is mainly for device related events, instead of for applications like CLI.
We will re-consider if we have more user voices on this, but for now you can use "az  configure" to enable file logging and then write the content to the syslog on script existing

[2019-03-27 03:59] #6342 closed

[2019-03-27 04:03] yugangw-msft commented on #4074
We will reconsider if we have more user voices. Right now, this is not a blocking issue, rather a few more lines for not mainline scenarios

[2019-03-27 04:03] #4074 closed

[2019-03-27 04:08] yugangw-msft commented on #8852
Right now, for non UI installation option on Windows I suggest:
1. Curl the MSI and invoke silent installation of `msiexec <msi> /q`
2. pip

I don't agree the GUI behavior by default of MSI would disqualify its role for command line install. On the contrary, the silent install mode has been supported for a few decades and still is the most reliable
 and supported way, please do use it.

[2019-03-27 04:08] #8852 closed

[2019-03-27 05:02] Leon99 commented on #8852
Neither of those options feels like a better alternative to a chocolatey package, which doesn't require any knowledge of the msi's URL/python package name/underlying technology or distribution format. Having said that, documenting either of them would be an improvement over what we see now. I keep hearing it from every single person I share the link to that documentation with - suggesting a GUI in

[2019-03-27 05:13] zikalino opened #8889 "Misleading message when creating functionapp"
**Describe the bug**
When creating functionapp you try to specify **--deployment-container-image-name httpd** without passing **--plan** that is **is_linux**, Azure CLI resoponds with following message, which is quite misleading:

**usage error: --runtime RUNTIME required for linux functions apps without custom image.**

**To Reproduce**

az group create --name zimsfromclixx --location westeurope

[2019-03-27 07:32] udf2457 commented on #6342
@yugangw-msft that is simply not true.

Might I suggest `man logger` and `man syslogd`

The whole point that you are completely missing is that people shouldn't be forced to have file logging to some random file when they could get things logged to `/var/log/messages` or other centralised locations instead.

[2019-03-27 10:41] scotty-c commented on #8836
Fixed in

[code]

[2019-03-27 10:41] #8836 closed

[2019-03-27 10:56] vavvaru opened #8890 "not able to create bot"
**Describe the bug**
not able to create empty bot from CLI

The command failed with an unexpected error. Here is the traceback:

HTTPSConnectionPool(host='dev.botframework.com', port=443): Max retries exceeded with url: /api/botApp/provisionConvergedApp?name=test (Caused by SSLError(SSLError("bad handshake: Error([('SSL routines', 'tls_process_server_certificate', 'certificate verify failed')],)",

[2019-03-27 14:05] jshomphe opened #8891 "Information needed for how name servers assigned"
When doing an import from a BIND .zone file, it appears that name servers are automatically assigned.  Is there a way to predict what name servers get assigned?  I am concerned if we have to do a delete and bulk import again we could have new name servers assigned to each zone and break dns.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-03-27 14:53] simongdavies opened #8892 "Fail to create role assignment az ad cp create-for-rbac with malformed scope"
**Describe the bug**
Executing az ad sp create-for-rbac with --scope "/subscriptions/{subscriptionId}/resourceGroups/ argument fails with the following error

Role assignment creation failed.

role assignment response headers: {'Cache-Control': 'no-cache', 'Pragma': 'no-cache', 'Content-Type': 'application/json; charset=utf-8', 'Expires': '-1', 'x-ms-failure-cause': 'gateway', 'x-ms-request-id': '

[2019-03-27 16:27] yugangw-msft commented on #6342
@udf2457, the main point I should have communicated is CLI should not have the opinion regarding the physical destination the logging should get to. As command line interface, it just emits out to the stdout/stderr, in the same way like `ls`, `cat`, etc. If we special case to Linux/syslog; what about counterparts on Windows and OSX?

[2019-03-27 17:04] limingu commented on #5576
We do support --parttern with some regexp.

--pattern                   : The pattern used for globbing files or blobs in the source. The
                                  supported patterns are '*', '?', '[seq]', and '[!seq]'.

For the case that need to update only html/css/js, you can do 3 commands like:
az storage blob upload-batch -s "." -d '$web' --pattern *.html
az storage blob upload-batch

[2019-03-27 17:19] #8205 closed

[2019-03-27 19:12] elibarzilay commented on #5576
@limingu, I opened this issue specifically about *regexps*, which are far more useful than the globbing patterns which you're pointing at.

[2019-03-27 19:25] tjprescott commented on #8891
My understanding is you cannot control the name servers. @muwaqar for additional clarification.

[2019-03-27 19:27] spacekitty76 opened #8894 "It is not clear how to find api and permissions numbers"
**Describe the bug**
This is more of a question or feature request to update the documentation.

The examples use alphanumerical strings for the api and permissions values rather than the human friendly names like "Graph API" and permissions of "Sign in and read user profile".  It is unclear how to convert these name to the values az cli is looking for.

**To Reproduce**
I want to grant an app API

[2019-03-27 19:30] spacekitty76 commented on #8894
For clarity here's the example I'm trying to use:
https://docs.microsoft.com/en-us/cli/azure/ad/app/permission?view=azure-cli-latest#examples

[2019-03-27 19:40] muwaqar commented on #8891
That is correct (AFAIK). Please confirm with karravi@microsoft.com.

On Thu, Mar 28, 2019, 12:25 AM Travis Prescott <notifications@github.com>
wrote:

[2019-03-27 19:42] jshomphe commented on #8891
If it cannot be controlled, is it deterministic?  Meaning if I deleted and re-imported at a later date, would it get the same name servers?  It seems to work that way within a subscription, but not across subscriptions

[2019-03-27 19:44] muwaqar commented on #8891
My understanding is that it is non-deterministic as well, but again karravi
will be able to confirm.

On Thu, Mar 28, 2019, 12:42 AM jshomphe <notifications@github.com> wrote:

[2019-03-27 19:50] tjprescott commented on #8891
@karravi-msft for clarification

[2019-03-27 19:51] tjprescott commented on #8875
@yugangw-msft @marstr can you clarify this?

[2019-03-27 19:51] varveti commented on #5841
hi all,
I seeing the same issue irrespective of the CLI I use. I saw the below issue on "az network nic create"

Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /c4426c0b-036f-4bfb-b2d3-5c910c5389d6/oauth2/token (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object a

[2019-03-27 19:52] jshomphe commented on #8891
Thanks everyone! Your team moves very quickly.

Either way, it would be helpful to know in the documentation how it works.

[2019-03-27 19:52] tjprescott commented on #8868
I don't believe this information is returned by the service, but I'll defer to @adewaleo for further clarification.

[2019-03-27 20:02] limingu commented on #5576
Feature request to support regexps.

[2019-03-27 20:51] iyerusad opened #8895 "Feature: `az cdn endpoint list-cached` or `az cdn endpoint purge-all`"
**Is your feature request related to a problem? Please describe.**
Purging CDNs doesn't appear to be possible without `az cdn endpoint list-cached` (output of what paths are currently cached in a CDN endpoint). Standard Akamai CDN [does not appear to support wildcards in CDN purge](https://docs.microsoft.com/en-us/azure/cdn/cdn-purge-endpoint) - Premium Verizon CDN does. This does not appear to be

[2019-03-27 21:32] tjprescott commented on #8895
@iyerusad the tooling is owned by the service team, so it would be up to them whether they would support it purely at the tools level or at the service level.

[2019-03-27 22:37] garyericson opened #8897 "Add deprecation banner to Azure Batch AI page"
Azure Batch AI has been deprecated and the Azure CLI reference content for Batch AI will be removed in the next few months. Until then, we would like to add a banner to the [Batch AI ref content](https://docs.microsoft.com/en-us/cli/azure/batchai?view=azure-cli-latest) similar to what we've done for other Batch AI reference (e.g., [REST API](https://docs.microsoft.com/en-us/rest/api/batchai/), [.N

[2019-03-27 23:04] yugangw-msft commented on #8868
There is no Azure API to give you the list, rather you have to do it through linux commands executed in the VM. For scripting, you can consider ` ssh yugangw2@13.91.133.10 'cat /etc/passwd'`

[2019-03-27 23:06] yugangw-msft commented on #8868
Closing as this is a by-design

[2019-03-27 23:40] sasacocic commented on #7447
I'm also having a similar issue except with `aks` and `kubectl`.
[code]

it takes 5 seconds ....

[2019-03-27 23:43] NatalieYuGong commented on #8815
For now, `acr build` assumes all inexistent local source code directories are potential remote URLs. The issue wants to report a clear message for invalid local directory, nonexistent local directory, invalid remote URL and nonexistent remote URL.

@SteveLasker What are the customer-friendly message to display?

1. There is a problem with source location. Please check and retry later.

2. Sick sou

[2019-03-27 23:47] sajayantony commented on #8815
Are there other messages in the CLI aligning with path not found?

[2019-03-27 23:52] tjprescott commented on #8897
Use can use deprecation mechanisms in the CLI to advertise that the batchai command tree is deprecated.
https://github.com/Azure/azure-cli/blob/dev/doc/authoring_command_modules/authoring_commands.md#deprecating-commands-and-arguments

For doc specific issues, I'd refer you to @dendeli-msft.

[2019-03-28 00:36] marstr commented on #8863
Howdy @revanthalampally,

Tinkering with your Dockerfile just a little, updating it to the following:

[code]

I can successfully invoke the cli by running:
[code]
You could then create a basic launcher by putting the following in `/usr/bin/az`:
[code]

[2019-03-28 00:40] marstr commented on #8863
Given that I've tested this workaround, I'm going to close this issue out :) Let me know if it isn't working for you though, and I'll open it back up.

[2019-03-28 00:40] #8863 closed

[2019-03-28 00:42] garyericson commented on #8897
@tjprescott @dendeli-msft - Thanks. I looked at the information you linked to, but best I can tell this is something that a developer needs to do in the code. There is no more development on this, so I'm looking for a way to just put a banner on the doc temporarily until the CLI is removed altogether in a few months. It's similar to what we've done for other Batch AI APIs.

[2019-03-28 01:04] Jefflavoie opened #8898 "too many 503 error responses"
**Describe the bug**
Trying to complete step 2 of lesson "Deploy Azure Container Registry"
Getting error

The command failed with an unexpected error. Here is the traceback:

Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /subscriptions/d8d7d557-f63d-4391-ad9c-1593aae7c077/resourceGroups/19b3e42b-8aac-463e-b202-d1b

[2019-03-28 02:05] Jefflavoie commented on #8898
I found the problem... I suspect the name of the registry was not unique. You need to input a unique registry name.
However, error message is of no help in this case.

[2019-03-28 02:05] #8898 closed

[2019-03-28 02:13] yugangw-msft commented on #8894
@spacekitty76, each permission is a uuid, and there is no reference doc you can get for all the values.
The recommended flow is you manually configure one in the Azure portal and click the manifest button in the application's tab which will show you the permission uuid that you can use it to do the same thing through CLI.

![image](https://user-images.githubusercontent.com/6014209/55124692-56b49c8

[2019-03-28 02:14] yugangw-msft commented on #8894
Closing, since I have answered the question

[2019-03-28 02:14] #8894 closed

[2019-03-28 02:35] yugangw-msft commented on #8875
This is a bit complex, so let me explain here
1. The AAD Tenant the service principal comes from only accepts certain issuers (AME) which have strict association of subject name and requester.
2. Once the organization as the requester register the domain like `contoso.com` with AME CA, no one else can get it
3. This the foundation of SN/Issuer trust. Rather than trusting the thumbprint, you’re tru

[2019-03-28 03:41] adewaleo commented on #8868
Thanks @yugangw-msft @tjprescott . I was going to look into this, which was why I hadn't responded

[2019-03-28 03:41] #8868 closed

[2019-03-28 05:55] yuxisun1217 commented on #8669
@yugangw-msft Thanks for the workaround and looking forward to the new feature support :)

[2019-03-28 08:19] Sviatik opened #8899 "az container create fail"
Hello,

I have a ci/cd on azure devops which deploy artifact (Image) to azure container instance.From yesterday evening it started fail. In CD pipeline first of all i delete container group and then create new one.

**To Reproduce**
[code]
--------------------------------------
[code]

**Expected behavior**
Expect to create new container instance with the next version of artifact

**Environment su

[2019-03-28 08:26] Sviatik commented on #8899
Also i found message in activity log
[code]

[2019-03-28 09:30] hvnsweeting opened #8900 "`az ad sp credential list --id ` throws error Parameter 'application_object_id' can not be None."
**Describe the bug**

[code]

**To Reproduce**
Run
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

Error message or list of credentials, not stacktrace.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[2019-03-28 11:31] mebibou opened #8901 "Failed to retrieve Scm Uri"
**Describe the bug**
When trying to view the logs of a function app running on python, using `az webapp log tail --resource-group <group> --name <func_name>`, I get the following error:

[code]

**To Reproduce**
Create a python function app, publish it and try to view the logs.

**Expected behavior**
Logs should appear like they do for other function apps

**Environment summary**
Using MacOS `10.1

[2019-03-28 13:09] Sviatik commented on #8899
Seems to be the issue was due azure failed.
They reported it on the status page.

[2019-03-28 13:09] #8899 closed

[2019-03-28 13:11] Sviatik opened #8902 "[Container instances][Correct way for redeploy new image]"
Hello,

I would like to know the correct way to redeploy image to container instance, like continues delivery.
.
Currently, I'm using
[code]
-----------------------------------------------
[code]
in my pipeline. But maybe is there some correct way to do that.

Thank you for any information about it.

[2019-03-28 13:38] kyschouv opened #8903 "az ad sp create-for-rbac --years broken"
**Describe the bug**
Specifying `--years` in the command `az ad sp create-for-rbac` makes the command fail with the following error on version 2.0.61:

[code]

**To Reproduce**
`az ad sp create-for-rbac --name "http://test-sp" --years 10`

**Expected behavior**
It doesn't fail.

**Environment summary**
azure-cli version 2.0.61

**Additional context**
This command worked as of version 2.0.57

[2019-03-28 15:37] simongdavies opened #8904 "az aks create fails if auto created SP is deleted"
**Describe the bug**
az aks create fails if cached SPN is deleted, command tries to find the SPN cached in ~/.azure/aksServicePrincipal.json but if this does not exist then the command eventually fails with unable to find Service Principal error

**To Reproduce**
make sure file ~/.azure/aksServicePrincipal.json  does not exist or has no SPN for current subscription
run:
az aks create   --resource-

[2019-03-28 16:10] patkearney opened #8905 "az aks disable-addons failed (and worse)"
**Describe the bug**
On AKS cluster version 1.12.6 (also tried 1.12.5) with OMS enabled through the portal when the cluster was created. Attempted to remove the monitoring addon using AZ CLI 2.0.61:

az aks disable-addons --addons monitoring -g myRg -n myCluster

Instead of removing the monitoring addon, the http application routing addon was installed to the cluster. Subsequently no removal of ei

[2019-03-28 17:14] patkearney commented on #8905
I've logged this as an AKS issue, further investigation showed the Http Application Routing add on is always added to the cluster on creation regardless of your selection and if not installed will be added if other addon removal is requested.
[https://github.com/Azure/AKS/issues/886](https://github.com/Azure/AKS/issues/886)

[2019-03-28 17:16] marstr commented on #8604
We're now uploading the MSI to a storage account on each build of the dev branch from ADO. Further more you can access it by navigating to https://aka.ms/InstallAzureCliWindowsEdge

I'm going to submit a PR to update the instructions on our README to mention the new mechanism.

[2019-03-28 17:32] marstr commented on #8605
You can now install the edge version of the CLI via Homebrew by downloading the most recently published formula from https://aka.ms/InstallAzureCliHomebrewEdge and installing with with `brew install -s azure-cli.rb`.

As a single-line shortcut, you can just run:
[code]

[2019-03-28 19:12] #8602 closed

[2019-03-28 19:12] #8605 closed

[2019-03-28 19:33] yugangw-msft commented on #8903
@kyschouv, sorry for the breaking which I have submitted a PR to fix it. Meanwhile, can you please use `az ad sp credential reset  --end-date` for workaround before we release the change on May 9?

[2019-03-28 19:35] limingu commented on #6483
@Epoxboy please reopen the issue when you have more details of the repro.

I repro as your step 1 and 2. I can use the SAS to upload the file successfully.

[2019-03-28 19:35] #6483 closed

[2019-03-28 21:15] dbilleci-lightstream opened #8911 "Setting truthy tags "false" get case converted"
Easiest bug report ever:

[code]

Assume somewhere in the python depths of the cli they are cast as a boolean and that causes this.. it caused an issue on our app (we'll work around the case) but figured it's worth a report.

Thanks!

[2019-03-28 21:27] yugangw-msft commented on #5670
done

[2019-03-28 21:27] #5670 closed

[2019-03-28 22:03] simongdavies opened #8912 "az ad app permission admin-consent --id <app-id> fails in CloudShell"
**Describe the bug**
Issuing the command az ad app permission admin-consent --id  <app-id>fails with
msrestazure.azure_active_directory : MSI: Failed to retrieve a token from 'http://localhost:50342/oauth2/token' with an error of '400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token'. This could be caused by the MSI extension not yet fully provisioned.

**To Reproduce**
You n

[2019-03-28 22:34] alexkarcher-msft opened #8913 "Allow Function Apps to change plan"
This command would allow you to change a Function App from a consumption to a premium plan.

The command would be something akin to:

Parameters:
-	SourceApp (the details for a function app already deployed)
-	DestinationPlan (the details for a plan you want to move it to - this likely needs to be in the same resource group so we don’t get into stamp incompatibility issues - or just make sure we h

[2019-03-28 22:35] alexkarcher-msft commented on #8913
Looks like I don't have any permissions to add an assignee to this repo :(
Tagging @ankitkumarr @ahmedelnably @jeffhollan who are all in some way responsible for this 😃

[2019-03-28 22:49] ahmedelnably commented on #8659
@jeffhollan for the Plan operations, I am assuming that at creation time there will be 3 values (exact names TBD)
`--number-of-workers`  <-- already there
`--min-worker-count`
`--max-worker-count`

Do we also need an update command? `az functionapp plan update` to update the min/max-worker-count

[2019-03-28 22:56] yiliaomsft opened #8914 "az webapp up default node.js version to 10.14"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash o

[2019-03-28 22:56] tjprescott commented on #8911
Thanks for the report @dbilleci-lightstream. We'll take a look.

[2019-03-28 23:02] tjprescott commented on #8911
Hi @dbilleci-lightstream. Please run your command with `--force-string`.  This will force it to preserve the value as a string and not try to evaluate it (in this case to boolean).

[2019-03-28 23:03] #8911 closed

[2019-03-28 23:42] dbilleci-lightstream commented on #8911
this makes no sense..

booleans in JSON/javascript are written in lowercase..

https://imgur.com/a/S3Id35t

only Python as far as I know uses capital True and False like that

[2019-03-29 00:25] ankitkumarr commented on #8659
Would you know what site property refers to `--min-worker-count`? For an app service plan, I see a `maximum_number_of_workers`, `number_of_sites` and `target_worker_count`.

Or if you already know a way to change min worker count, I can look at that too.

[2019-03-29 02:06] jeffhollan commented on #8659
Plan only has 2 properties.  Min instance count (which is really just number of workers.. in the UX for premium we just call it minimum instances), and the maximum instances.  This maps to the plan property `properties.maximumElasticWorkerCount`

[2019-03-29 07:39] alexeldeib opened #8917 "sig image-definition show/create behavior inconsistent when sig feature unregistered"
**Describe the bug**
The following command should create an image definition and display it to the user:
[code]
It successfully creates the image, but the GET after the long pending create operation fails. The corresponding show operation in the CLI throws the same error. Debug info below.

**To Reproduce**
[code]

**Expected behavior**
After the definition is created, it should be displayed to th

[2019-03-29 07:50] Sviatik commented on #8902
UPD
According to this topic, when i try to follow that suggestions (Using only `az create ...` for update container instance).
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-update#
I often get the next error:
[code]
Any suggestion for avoid it?

[2019-03-29 08:51] alexeldeib commented on #8917
Might be a parameter issue, I got the same error for image-version create when I left out --target-regions...should get a better error if so.

[2019-03-29 09:55] Als30 opened #8918 "--years"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash o

[2019-03-29 10:11] mariojacobo commented on #700
Seeing this issue again

az ad sp create-for-rbac -n test-group --years 99

The command failed with an unexpected error. Here is the traceback:

Non-integer years and months are ambiguous and not currently supported.
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/py

[2019-03-29 10:12] mariojacobo commented on #8903
+1, seeing same issue:

az ad sp create-for-rbac -n test-group --years 99

The command failed with an unexpected error. Here is the traceback:

Non-integer years and months are ambiguous and not currently supported.
Traceback (most recent call last):
File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
cmd_result = self.invocation.execute(args)
File "/opt/az/lib/python3.6/s

[2019-03-29 10:16] kyschouv commented on #8903
Thanks. I think I can workaround by just staying on an older version until the fix is released.

[2019-03-29 14:35] tjprescott commented on #8918
There is no information in this issue.

[2019-03-29 14:35] #8918 closed

[2019-03-29 14:41] SteveParson opened #8921 "Command `az keyvault key/secret/certificate list/list-deleted/list-versions` with parameter `--maxresults` do not work as intended"
**Describe the bug**
`az keyvault secret list` has an optional argument that specifies the maximum number of results to return. When a user specifies this argument, they receive an error `Parameter 'maxresults' failed to meet validation requirement.`

**To Reproduce**
$ `az keyvault secret list --vault-name my-keyvault --maxresults 1000`
Parameter 'maxresults' failed to meet validation requirement

[2019-03-29 14:44] #7865 closed

[2019-03-29 14:48] tjprescott commented on #8902
Really, this command group should support an actual `update` command (not a "re-run create to update" command) and it should have a `wait` command. Since it has neither, you would just need to retry periodically.

[2019-03-29 16:44] tjprescott commented on #4179
If you run this with debug, you will see that the quote character is stripped out by PowerShell before it reaches the CLI:
`Command arguments: [... 'Z#LvdInS$l_YPbzs#J0l#X8SMP-HEvN']`

As such, there is nothing we can do about this and you will need to figure out how to properly escape the string.

[2019-03-29 16:44] #4179 closed

[2019-03-29 16:47] tjprescott opened #8923 "Make extensions compatible with latest versions of wheel"
Currently, extensions are required to be built with wheel 0.29.0 or 0.30.0, which are not the latest versions. We should investigate updating the extension infrastructure (and supporting scripts, like the doc gen script that is very brittle) to be compatible with the latest wheel package. This will also involve changes to azdev.

cc/ @marstr yugangw-msft

[2019-03-29 16:48] tjprescott commented on #8923
I will take a look after Build.

[2019-03-29 17:00] tjprescott commented on #4637
This is no longer an issue. The set and list commands will not fail even if the cloud is invalid. Running a command with an invalid cloud results in this:

[code]

I think this is adequately resolved so I am closing this issue.

[2019-03-29 17:00] #4637 closed

[2019-03-29 17:38] shaochen opened #8924 "optional vs non optional parameters are missing for many commands"
optional vs non optional parameters are missing for many commands

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e50d77a-f2fa-6d6e-0c57-2f434c12766f
* Version Independent ID: f9a98805-6e16-487a-03ce-237cb964f83c
* Content: [az webapp config](https://docs.microsoft.com/en-us/cli/azure/webapp/config?view=azure-cli-lates

[2019-03-29 17:43] tjprescott commented on #8924
Can you give a specific example?

[2019-03-29 17:47] shaochen commented on #8924
e.g. for webapps it seems to be only specified for "create"

[2019-03-29 18:04] tjprescott commented on #8924
There are many cases where arguments are conditionally required. In these cases, they will appear as optional unless you try to use them incorrectly, at which time you will receive an error giving the proper use. The most common example, using `webapp show` to illustrate, is with the "Resource Id Arguments":

[code]
You must either supply `--name` and `--resource-group` OR `--ids`. Unfortunately,

[2019-03-29 18:04] #8924 closed

[2019-03-29 18:05] kgopi05 commented on #6397
i'm tried using azure cli  --version 0.10.14  and getting no vm listed .

[2019-03-29 18:29] ankitkumarr commented on #8659
Thanks @jeffhollan for the clarification.

From what I got, these are the commands and restrictions I am creating-

New Commands:
1. `az functionapp config --reserved-instance-count`
2. `az functionapp plan create --number-of-workers/--min-elastic-worker-count --max-worker-count`
3. `az functionapp plan update --number-of-workers/--min-elastic-worker-count --max-worker-count`
4. `az functionapp pl

[2019-03-29 18:46] jeffhollan commented on #8659
Correct.  A few notes:

- Should be `--prewarmed-instance-count` instead of `--reserved-instance-count`
- Restriction is accurate - sku I believe is `ElasticPremium` and sizes are `EP1` `EP2` and `EP3`
- prewarmed instance count must be <= 20

[2019-03-29 19:09] #8762 closed

[2019-03-29 19:51] scottleyg opened #8925 "bad error message for comments in JSON template"
when you have comments in your ARM Template (valid // or /* foo */ style comments), you get the following error:

or similar... removing the // and /* foo */ comments from my template fixes the issue.

parsing should be tolerant of comments in JSON.

[2019-03-29 19:54] scottleyg commented on #8925
simple example:
{
  "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
  },
  "variables": {
   // foo
    "aadTenantId": "[subscription().tenantId]",
// bar
    "webAppName": "[resourceGroup().name]"
},
"resource":[],
"outputs":{}
}

c:\notAPath> az group deployment create --resource-group %RESOURCE_GROUP_N

[2019-03-29 20:19] szmoon opened #8926 "azure-cli-iot-ext 'No keys found for policy iothubowner of IoT Hub'"
**Describe the bug**
I'm using a freshly created Azure account and am following this tutorial for IoT Hub and Android Things: [https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-how-to-android-things](https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-how-to-android-things)

I'm able to execute the first line of the following code using the Azure Cloud Shell (azure-cli version 2.0.61), but

[2019-03-29 20:56] tjprescott commented on #8925
This is essentially a duplicate of https://github.com/Azure/azure-cli/issues/4802 which has already been declined by the team as comments are not part of the JSON design. The recommendation is to pipe your JSON file through a tool like JSMin to strip the comments before sending to CLI.

[2019-03-29 20:56] #8925 closed

[2019-03-29 20:57] tjprescott commented on #8926
Relocating to the azure-cli-extensions repo since this deals with the IoT extension.

[2019-03-29 21:17] brucedkyle opened #8927 "Budget is not iterable"
When I tried the following command:

az consumption budget create --amount 2200 --budget-name $mybudgetname --category usage --end-date  2019-06-30 --start-date 2019-03-26 --time-grain monthly --resource-group $resourcegroup_name --subscription $env:SUBSCR
IPTION_ID

I received the following error:

'Budget' object is not iterable
Traceback (most recent call last):
  File "C:\Program Files (x86)\M

[2019-03-29 21:35] #6113 closed

[2019-03-29 21:50] robconery opened #8930 "Add Support for Environment Variables Detection"
One of the things I like to do is to orchestrate resource creation with a script, set of scripts, or a Makefile. The first step is, typically, to create a `.env` file with my Azure settings, typically something like:

[code]

What would be SUPER helpful is if the CLI could standardize application-wide settings like this. For instance, if I could specify, in my `.env` file:

[code]

... and have th

[2019-03-29 22:42] tjprescott commented on #8930
Hi @robconery, this is already supported. The format for the environment variables are:

AZURE_DEFAULTS_<NAME>

You will know properties that can be set in this way when the help says "You can configure the default BLAH using `az configure --defaults NAME=<name>`"

[2019-03-29 22:47] tjprescott commented on #8927
This is a duplicate of #7775

[2019-03-29 22:47] #8927 closed

[2019-03-29 23:41] yugangw-msft commented on #8648
testing is done

[2019-03-29 23:41] #8648 closed

[2019-03-29 23:47] ankitkumarr commented on #8659
Thanks Jeff, wasn't sure if we wanted to start with `--prewarmed-instance-count`. Makes sense.

[2019-03-30 00:19] scottleyg commented on #8925
Any reason why you wouldn't bake that into the tool? If you specify a min format as being required (so as to strip comments) why don't you do this before returning a meaningless error message?

If you know this is an issue, return a more meaningful error like, "hey, we have had success minifying JSON before feeding it through"

[2019-03-30 01:42] robconery commented on #8930
Thanks @tjprescott - I gave it a whirl and something seems to be amiss... either that or I wasn't clear enough with the issue.

I created a `.env` file and added these:

[code]
az group create
``

Unfortunately this throws `az group create: error: the following arguments are required: --name/--resource-group/-n/-g` which would suggest the variable is not being picked up.

If I understand you corre

[2019-03-30 02:12] hananiel commented on #5799
First time it failed with "The subscription is not registered to use namespace 'Microsoft.ContainerService'. " Then it succeeded by itself, but the CLI was left hanging - So i didnt realize it created it.
Running the command again, shows error log on "create role assigment" already exists, but this time it returned a bunch of Json.

[2019-03-30 03:43] yugangw-msft commented on #8912
This is by design, because portal doesn't have the token for related AAD resources

[2019-03-30 09:51] abhishekkarigar opened #8932 "getting error while doing "az acr create""
**Describe the bug**
while doing az acr create , i get pip install erorrs,

**To Reproduce**
az acr create --resource-group myResourceGroup --name mycontainerregistry082 --sku Basic --admin-enabled true

**Expected behavior**
{
  "adminUserEnabled": true,
  "creationDate": "2018-03-16T21:54:47.297875+00:00",
  "id": "/subscriptions/<Subscription ID>/resourceGroups/myResourceGroup/providers/Microso

[2019-03-30 14:22] brianbar-MSFT opened #8933 "--zone not creating standard pulic IP in eastus"
**Describe the bug**
Using --zone when the resource group is located in eastus fails with an error that basic SKU public IP is not supported. The same command run in westus2 doesn't fail and the public IP is created as standard SKU.

**To Reproduce**
az group create --name testRG --location eastus
az vm create --resource-group testRG --name testVM --image ubuntults --size Standard_B1ms --admin-use

[2019-04-01 08:09] wlodekb opened #8934 "`az aks-get credentials` and generated name of the context in kube config"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I have clusters with the same name in various RGs and do `az aks get-credentials -g <rg-name> -n <cluster-name>`
In the current solution, context name is generated only from `cluster name`, so you need to edit context names in kube config manually every time

**Describe the solution you'd like**
An Ideal

[2019-04-01 08:29] bobvandevijver opened #8935 "az group deployment fails on empty parameters file"
**Describe the bug**
When you have an empty parameters file (such as below), the CLI will not be able to parse it for the group deployment.

[code]

**To Reproduce**
[code]

**Expected behavior**
An empty parameters file should work like there are no parameters are supplied

**Environment summary**
azure-cli 2.0.61 on macOS Mojave

**Additional context**
Similar to #6787, but this ticket concerns

[2019-04-01 08:48] guanwening commented on #8934
[guanwening](url)

[2019-04-01 09:52] lawrencegripper opened #8937 "Proposal/Feature Request: Enable comments and full language support for ARM templates"
**Is your feature request related to a problem?**

Currently the following template will fail to deploy via the CLI but will succeed if sent directly to the `ARM` API endpoints.

https://github.com/opencb/opencga/blob/0d4c942d71894a16aa30b498ecb2c77318449cd8/opencga-app/app/scripts/azure/arm/daemonvm/azuredeploy.jsonc

There are 2 reasons for this failure.

1. The `JSON` contains comments
2. The s

[2019-04-01 13:26] Uugpark opened #8938 "Unable to install kubernetes cli"
urlopen error [WinError 10060] A connection attempt failed because the connected party did not properly respond after a period of time, or established connection failed because connected host has failed to respond>

**To Reproduce**
az aks install-cli

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactiv

[2019-04-01 13:51] gagnadref opened #8939 "Unexpected error "JSONDecodeError("Expecting value", s, err.value) from None" using "az webapp deployment source config-zip""
I'm using the following command to deploy my app to Azure App Service :

[code]

From this morning, I get the following error :
[code]

Looking at the source code, I realized that it was probably due to this url: `https://{my-app}.scm.azurewebsites.net/api/deployments/latest`, which indeed is not returning anything (I get a 504 Timeout).

Any recommendation?

[2019-04-01 15:17] tjprescott commented on #8930
It you simply `export AZURE_DEFAULTS_GROUP=velzyX` then running `az group show -h` should show your default value. Alternatively, you can simply use `az configure -d group=velzyX` to configure the defaults in your config file.

[2019-04-01 16:19] tjprescott commented on #8902
Our team does not own the `az container` commands, so it would be at the container instance team's discretion where this fits on their backlog. That being said, if someone were to submit a PR to add this functionality, I would happily approve it.

[2019-04-01 17:32] abhijeetdtu commented on #6945
Has this been resolved ? I am still facing the same issue with  azure-cli (2.0.58)

[2019-04-01 17:41] robconery commented on #8930
Ah - I see what you mean. Yes, I see the default there, but that's not necessarily what I want. I want a localized "rc file" kind of experience, if you will, that identifies the common resource group/name/plan/location values that I'll be using for my application _in this specific location_. Not system-wide defaults, just local defaults.

I can't run `az group create` using the method you suggest

[2019-04-01 17:42] yugangw-msft commented on #6945
Please move to newer version like 2.0.61

[2019-04-01 17:51] jluk opened #8941 "Support az feature unregister"
**Is your feature request related to a problem? Please describe.**
There are feature previews that impact the ongoing behavior of CLI due to using new versions of APIs.

**Describe the solution you'd like**
I want one command to revert my API version to one that is supported and not on preview terms.

**Describe alternatives you've considered**
API calls can be made but that is not a good experien

[2019-04-01 17:54] ankitkumarr commented on #8659
Discussed offline with @alexkarcher-msft and @ahmedelnably , calling the params `--max-burst` and `--min-instances` consistent with the portal.

Also, adding a check for `--pre-warmed-instances` <= `plan.properties.maximumElasticWorkerCount`

[2019-04-01 17:56] ahmedelnably commented on #6581
cc: @dariagrigoriu

This should involve adding --slot flag to all commands, in addition we should allow the creation of a slot
New commands: az functionapp deployment slot (create/delete/list/swap)

[2019-04-01 17:57] tjprescott commented on #8930
Hi @robconery yes, that does make sense. @yugangw-msft isn't this what your local context implementation does?

[2019-04-01 17:57] tjprescott commented on #8930
Possible related to #7992.

[2019-04-01 18:53] robconery commented on #8930
Yeah - that looks like a related suggestion. Can't quite tell how the implementation is done but ideall it's some kind of text file :) or environment variable.

[2019-04-01 18:58] glGarg opened #8943 "Parameter accepts different values within the same module"
**Describe the bug**
A clear and concise description of what the bug is.
For command 'storage queue generate-sas', the parameter '--https-only' is a stored parameter (doesn't accept any values). In the same module, 'command storage account create' has a parameter '--https-only' which is a three state flag. In order to stay consistent to all commands in this module this parameter should either be s

[2019-04-01 19:15] jordanchang opened #8944 "Time aggregation must be one of [Count]"
I'm trying to create an alert on my app insights but getting the error message, "Time aggregation must be one of [Count]"

Here's my command.

az monitor metrics alert create -n "Failed Requests" -g $rgName --scopes $appInsightsId --condition "avg requests/failed &gt; 50" --window-size 5m --evaluation-frequency 1m --description "Failed Requests"

---
#### Document Details

⚠ *Do not edit this sect

[2019-04-01 20:47] alexjmoore commented on #8543
Hi @tjprescott ,

The others are all good, but just noticed on 2.0.60 that `az network vnet-gateway list-advertised-routes` actually still doesn't provide output, although it has moved from no output, to providing an error message:

`Table output unavailable. Use the --query option to specify an appropriate query. Use --debug for more info.`

[2019-04-01 20:50] tjprescott commented on #8941
It seems like there's a PS cmdlet for this, but there doesn't seem to be an ARM endpoint for this functionality. @yugangw-msft do you know a good contact on the ARM team to confirm?

[2019-04-01 21:02] yugangw-msft commented on #8941
I have not found the PS cmdlet doing that. Under the source [folder](https://github.com/Azure/azure-powershell/tree/master/src/Resources/ResourceManager/Implementation/Features) only has the `register` cmdlet.
@vladimirjoanovic, can you please chip in the api details?

[2019-04-01 21:08] jluk commented on #8941
Talking to @yangl900 looks like a post can be made similar to: `armclient post /subscriptions/<somesubscription>/providers/Microsoft.Features/providers/Microsoft.Xrm/features/uxdevelopment/unregister?api-version=2015-12-01`

[2019-04-01 21:14] yugangw-msft commented on #8941
Maybe improve the swagger api [here](https://github.com/Azure/azure-rest-api-specs/blob/master/specification/resources/resource-manager/Microsoft.Features/stable/2015-12-01/features.json) to unblock SDK/POSH/CLI?

[2019-04-01 22:37] tjprescott commented on #8543
Thanks @alexjmoore  I'll take a look.

[2019-04-01 22:48] jluk commented on #8941
@vladimirjoanovic can you add the proper owner to this discussion?

[2019-04-02 00:27] tjprescott commented on #8543
@alexjmoore can you show the output of the command with `-o json`?

[2019-04-02 02:31] ankitkumarr commented on #8889
Hi @zikalino, I am unable to reproduce this bug in cloudshell. On running something like- `az functionapp create --resource-group zimsfromclixx --os-type Linux --name zimsfromclixx --deployment-container-image-name httpd --storage-account zimsstoragefromclixx`,
I get this error-
`usage error: --plan NAME_OR_ID | --consumption-plan-location LOCATION`

which is expected. Did you have any additional

[2019-04-02 04:10] zikalino commented on #8889
@ankitkumarr I can recheck that. perhaps something got updated in a meanwhile. or something is different in my subscription. I think if I haven't specified --plan it was either creating a default one or finding one in the subscription. I am not sure now.

[2019-04-02 06:56] ATGardner commented on #1528
It will be very handy to have it available for
`az acr repository delete`

[2019-04-02 07:50] alexjmoore commented on #8543
Example:

`{
  "value": [
    {
      "asn": 65010,
      "connectedDuration": "7.15:21:30.6779198",
      "localAddress": "10.2.0.30",
      "messagesReceived": 10278,
      "messagesSent": 12583,
      "neighbor": "10.4.0.1",
      "routesReceived": 25,
      "state": "Connected"
    },
    {
      "asn": 65020,
      "connectedDuration": "7.15:21:30.6466710",
      "localAddress": "10.2.0.30",

[2019-04-02 10:14] richl10x commented on #8594
I'm also experiencing this problem, running azure CLI commands in Devops Deployment tasks:

if (az group exists -g $(resourceGroupName) )
{
    az group delete -n $(resourceGroupName) -y
}

returns:
Resource group '<myresourcegroupname>' could not be found.

should return:
false

environment info:
Task         : Azure PowerShell
Description  : Run a PowerShell script within an Azure environment
Ve

[2019-04-02 11:11] midgleyc opened #8953 "in `az group deployment list`, the --top parameter is ignored"
**Describe the bug**
In `az group deployment list`, all results are returned no matter the value of the `--top` parameter.

**To Reproduce**
Create a resource group `test` with more than one deployment. Run `az group deployment list -g test --top 1`.

**Expected behavior**
Exactly one deployment should be returned.

**Environment summary**
Azure CLI version 2.0.61, Bash on Windows.

**Additional c

[2019-04-02 16:02] #8719 closed

[2019-04-02 16:44] tjprescott commented on #8944
Your condition needs to be `--condition "count requests/failed > 50"`

However, that will fail. I will submit a PR that will permit this for the upcoming release (next Tuesday)

[2019-04-02 16:56] mvsouza opened #8956 "Enable WinRM access"
I'm looking for a command that enable WinRM service for a VM.

It would enable the admin to automate a VM configuration via powershell scripts.

This feature can be found on the Azure Cloud Shell(Enable-AzVMPSRemoting).

[2019-04-02 16:57] ankitkumarr commented on #8889
@zikalino, I think you might have specified `--consumption-plan-location`. If you specify that, you cannot have custom image. So, that's why `--consumption-plan-location` was ignored and you got that error message.
I agree that the error message should be clear and let people know that you shouldn't use `--consumption-plan-location` and `--deployment-container-image-name` at the same time. We shou

[2019-04-02 17:23] tjprescott opened #8957 "Fix `test_help.py test_example_unsupported_profiles`"
I can update the test to not require hard-coding / updating profile names

_Originally posted by @adewaleo in https://github.com/Azure/azure-cli/pull/8879_

------

This test creates the very maintenance burden that `supported_profiles` and `unsupported_profiles` was created to avoid. It should be written so that it does not require any modification when a new profile is added.

cc/ @viananth

[2019-04-02 17:43] limingu commented on #8943
@glGarg this is a very good point. I have checked our code base. '--https-only' is mostly used as three state flag in the storage module. Only for sas generation, '--https-only' is used as a stored parameter. That is the code above to use as 'protocol' argument. That is because the sdk function generate_shared_access_signature needs this parameter. It is related to '--https-only' but not exactly s

[2019-04-02 17:43] #8943 closed

[2019-04-02 17:48] tjprescott opened #8958 "`test_vmss_run_command_e2e` test is flaky and spuriously fails CI"
This test spuriously fails the CI, necessitating a wasteful 40 minute retry.

![Picture1](https://user-images.githubusercontent.com/5723682/55424262-b4b60980-5534-11e9-9247-7b567d66dd4b.png)

![Picture2](https://user-images.githubusercontent.com/5723682/55424265-b67fcd00-5534-11e9-984f-deabbc09d3bd.png)

[2019-04-02 18:09] yooakim commented on #8840
Thanks but I am using PowerShell, so the quotes are ok.

[2019-04-02 18:18] tjprescott commented on #8840
Please run your comment with --debug and paste the first line of output. It will look something like this:
`Command arguments: ['group', 'show', '--debug']`

[2019-04-02 18:24] #8903 closed

[2019-04-02 18:54] abhijeetdtu commented on #6945
Still the same issue- switched to 2.0.61

![image](https://user-images.githubusercontent.com/6872080/55428463-c5737900-554e-11e9-9459-c4d4c1986de4.png)

az role assignment list `
    --include-groups `
    --include-inherited `
    --scope "removed ----"
    --query "[].{prName:principalName , name:roleDefinitionName}"
`
With newer version unable to see the principalName property in the response o

[2019-04-02 19:51] dluc opened #8960 "acr says "Please verify if docker is installed" despite docker installed and running"
**Describe the bug**
I'm attempting to authenticate to my ACR, following [these instructions](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-get-started-docker-cli) and when I execute `az acr login --name myregistry` I get an error suggesting Docker is not installed, which is incorrect:

[code]

Both `az` and `docker` are up to date.

I'd be fine using `docker login x

[2019-04-02 20:03] guanwening commented on #6876
az network lb create \
    --resource-group $RgName \
    --name $LoadBalancerName \
    --frontend-ip-name $FrontEndName \
    --private-ip-address $privateIPAddress \
    --backend-pool-name $BackEndPool \
    --vnet-name $vnetName \
    --subnet $SubNet

[2019-04-02 20:31] #5857 closed

[2019-04-02 21:55] tjprescott commented on #8953
The correct values are being sent to the service. It simply does not correctly use them. Given that, there is nothing we can do in the CLI that's any better than your `jq` query. We will escalate this issue to the appropriate service team.

[2019-04-02 22:09] mathwro opened #8963 "az servicebus namespace authorization-rule breaks"
**Describe the bug**
`az servicebus namespace authorization-rule keys list` breaks the tool. im getting a typeError

**To Reproduce**
Create an servicebus namespace and an authorization rule.
In Powershell now do `az servicebus namespace authorization-rule keys list` with the nessecary parameters. none additional parameters given.

**Expected behavior**
I expect a list of my authorization keys.

*

[2019-04-02 22:14] imjuststeve commented on #7593
You ever get this figured out?

[2019-04-02 22:57] adewaleo commented on #8958
@tjprescott I can't see the pictures clearly. Not sure if this was intentional. Do you have any other info on the failures? For example, what the error was?

[2019-04-02 23:24] limingu commented on #6687
@ninijay, we can change the the result as a list. It will be like this:
[
  {
    "policy1": {
      "expiry": null,
      "permission": "rau",
      "start": null
    },
  },
  {
    "policy2": {
      "expiry": null,
      "permission": "d",
      "start": null
    }
  }
]

That actually makes it hard to find a policy name. As a list, you may have to go through the whole list to find the policy.

[2019-04-02 23:29] Sas002 opened #8967 "az vm run-command invoke command timed out for long running command or script"
I am using "/bin/sh" "-c" "az vm run-command invoke command from Linux VM to trigger command which has to run for more than 2 hours for SAP data Hub installation script. In backend it just calls ansible-playbook. I am getting timed out issue for long running process and it terminates in middle. Which is not the way it should work.  Is there a quick fix or configuration to keep the process running

[2019-04-02 23:30] #7645 closed

[2019-04-02 23:31] tjprescott commented on #8958
All that really mattered was it was Python 2.7 and took 40 minutes

[2019-04-02 23:32] #8887 closed

[2019-04-02 23:33] tjprescott commented on #8958
All that really mattered was it was Python 2.7 and took 40 minutes to fail, which is very frustrating to have to refresh for a spurious fault.

[2019-04-02 23:52] ankitkumarr commented on #8913
If it's not an important feature/ask to move between ASP and consumption / premium, I would suggest we don't do that. Because in the flow, I would have to update WEBSITE_CONTENT_CONNECTIONSTRING / CONTENTSHARE settings before switching the plan. After updating the settings, if plan switching failed due to other reasons, we may leave the app in a broken state.

That said, if we do need this, I can

[2019-04-03 00:18] panchagnula opened #8969 "webapp: Fix the az webapp ssh test that's failing on recording"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash o

[2019-04-03 00:20] panchagnula commented on #8969
This test is blocking the PR https://github.com/Azure/azure-cli/pull/8886 that is blocking the other  pending PRs to be merged as well.

[2019-04-03 00:27] adewaleo commented on #8958
This is helpful :) thanks for the info!

[2019-04-03 00:31] brianpursley commented on #4477
A year and a half later and this is still a problem, on linux anyway.  Running `az configure` and turning off logging and telemetry makes performance bearable.

[2019-04-03 02:53] jeffhollan commented on #8913
More than ok with use moving the ASP - > consumption / premium out of scope

[2019-04-03 06:21] panchagnula commented on #8969
The test passed on mac - @patricklee2 not sure why you were not able to record this successfully

[2019-04-03 06:21] #8969 closed

[2019-04-03 08:01] guanwening commented on #6876
# --------------------------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# --------------------------------------------------------------------------------------------
import uuid
import os

from knack.log import get_logger

[2019-04-03 08:53] swathiAMD opened #8972 "Unable to launch Kubernetes dashboard from azure cli"
I m trying to launch the Kubernetes dashboard from the azure cli using the below command:
az aks browse --resource-group groupName --name clustername

I get the below error:

_The command failed with an unexpected error. Here is the traceback:
[WinError 193] %1 is not a valid Win32 application
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-qvpg2q31\knac

[2019-04-03 11:45] TechWatching opened #8973 "Warning when starting interactive Mode in Cloud Shell"
**Description**
When using Azure Cloud Shell, starting Azure Interactive Mode raises a warning "YAMLLoadWarning".
The complete error message is the following :

**To Reproduce**
- Go to https://shell.azure.com PowerShell
- Run the command `az interactive`

**Expected behavior**
No warning

[2019-04-03 13:45] Xaseron opened #8974 "az acr helm install-cli"
**Is your feature request related to a problem? Please describe.**
It bad to relay on external installations of helm. There is no official docker image with helm pre installed

**Describe the solution you'd like**
An easy way to install helm cli e.g. `az acr helm install-cli` which is similar to `az aks install-cli`

[2019-04-03 14:21] schdief commented on #8974
would be helpful for me as well, great idea!

[2019-04-03 14:50] tjprescott commented on #6876
@guanwening if you are suggesting an implementation, please open a pull request and we can take a look.

[2019-04-03 14:59] #8944 closed

[2019-04-03 15:04] tjprescott commented on #6687
@limingu the issue is that the command is called a list command does not return a list. We can force it to a more normal format like:

[code]

This would be consistent with the rest of Azure and thus the user could employ the same patterns for searching for the desired object.

[2019-04-03 15:53] dersia commented on #7084
We are using GitVersion when building in a multi-stage-build in ACR. Since ACR is excluding .git and there is no way to include .git, we got stuck here. Is there any work-around?

[2019-04-03 15:54] tjprescott commented on #8935
Thanks for the report @bobvandevijver. This should be fixed in the next release.

[2019-04-03 15:54] tjprescott commented on #8900
@marstr @yugangw-msft for comment.

[2019-04-03 16:21] bw-kforce-ms opened #8976 "Cortana"
Has anyone thought of adding a cortana channel creation cli?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 55111b1f-ca0d-0eb9-7457-3cdee47a6804
* Version Independent ID: 9442f477-20be-a67b-a38a-1846dc3cfbc4
* Content: [az bot](https://docs.microsoft.com/en-us/cli/azure/bot?view=azure-cli-latest)
* Content Source: [src

[2019-04-03 16:45] VaclavK opened #8977 "Fabric MSI Azure CLI authentication stopped working after upgrading to VS 2019"
**Describe the bug**
I have an SF app - reliable service -accessing KeyVault  - locally I have been using az cli connection string AzureServicesAuthConnectionString- RunAs=Developer; DeveloperTool=AzureCli

this has stopped working SLN running under freshly installed VS 2019 (2017 uninstalled) with az CLI failing to create a directory (SF running as local system - default)

There seems to be confl

[2019-04-03 17:32] tjprescott commented on #8976
Hi @bw-kforce-ms, this thread might be the best place to voice your support for this:
https://feedback.azure.com/forums/562027-azure-bot-service/suggestions/32039644-allow-cortana-channel-for-o365-aad-accounts

If that idea doesn't quite reflect your ask, it might make sense to post a new idea there. It seems that ideas get more traction with the service teams when they are posted to those forums.

[2019-04-03 17:32] #8976 closed

[2019-04-03 17:36] #8935 closed

[2019-04-03 17:55] tjprescott commented on #7290
I am not able to repro that on my Mac.

[code]

Can either of your try again with the latest CLI to see if it is still reproducible? If so, please post the output of `az --version` and `pip list`.

[2019-04-03 18:12] seanknox commented on #7290
I can't repro now either. Closing. Thanks!

[2019-04-03 18:12] #7290 closed

[2019-04-03 18:21] kurtzeborn commented on #8977
Thank you for opening this issue! We are routing it to the appropriate team for follow up.

This appears to be a CLI issue, not an issue with the .Net Azure SDKs, so I'm transferring the issue there.

CC: @yugangw-msft

[2019-04-03 18:30] ehotinger commented on #7084
@dersia can you use a git context (`az acr build foo.git` instead of `az acr build .`)?

[2019-04-03 18:38] wonjoonSeol opened #8978 "az batch pool: error: 'NoneType' object has no attribute 'startswith'"
**Describe the bug**
Unable to create Pool using the command
[code]

Throws out
`az batch pool create: error: 'NoneType' object has no attribute 'startswith'
`
Better error message would be appreciated, unable to tell what is producing the error.

## Problem details
![error](https://user-images.githubusercontent.com/22602022/55481161-b8dd4680-565c-11e9-8726-d516bfeec047.PNG)

json file :

[code]

[2019-04-03 18:44] VaclavK commented on #8977
also to note - az cli updated to latest 2.0.61

[2019-04-03 18:56] wonjoonSeol commented on #8978
I just noticed I am getting the same error with other batch commands:

[code]

[2019-04-03 20:04] yugangw-msft commented on #8933
@singhkays
Can you have CRP folks take a look? East US does have zonal VM support for this size
[code]

[2019-04-03 20:15] yugangw-msft commented on #8956
@adewaleo, I suggest talk to the author of the PoSH cmdlet and understand the detail and offer workarounds at least.
I guess this pretty much winds down
    1. Configure the NSG
    2. Open a port
    3. Maybe a custom script extension to install PowerShell