[2020-10-22 08:41] qwordy opened #15617 "Fixing cognitiveservices test"
**Describe the bug**

There are 5 failed test cases in cognitiveservices in a recent test run.
https://clitestresultstac.blob.core.windows.net/20201018-203235-041446/index.html
https://clitestresultstac.blob.core.windows.net/20201018-203235-041446/cognitiveservices.report.parallel.html

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-10-22 08:42] qwordy opened #15618 "Fixing eventgrid test"
**Describe the bug**

There are 9 failed test cases in eventgrid in a recent test run.
https://clitestresultstac.blob.core.windows.net/20201018-203235-041446/index.html
https://clitestresultstac.blob.core.windows.net/20201018-203235-041446/eventgrid.report.parallel.html

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-10-22 08:43] qwordy opened #15619 "Fixing monitor test"
**Describe the bug**

There are 7 failed test cases in monitor in a recent test run. Can you have a look? Thanks!
https://clitestresultstac.blob.core.windows.net/latest/index.html
https://clitestresultstac.blob.core.windows.net/20201113-054322-540793/monitor.report.parallel.html

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-10-22 08:45] qwordy opened #15620 "Fixing netappfiles test"
**Describe the bug**

There are 9 failed test cases in netappfiles in a recent test run. Can you have a look? Thanks!
https://clitestresultstac.blob.core.windows.net/latest/index.html
https://clitestresultstac.blob.core.windows.net/20201113-054322-540793/netappfiles.report.parallel.html
https://clitestresultstac.blob.core.windows.net/20201113-054322-540793/netappfiles.report.sequential.html

**To

[2020-10-22 08:46] qwordy opened #15621 "Fixing network test"
**Describe the bug**

There are 9 failed test cases in network in a recent test run. Can you have a look? Thanks!
https://clitestresultstac.blob.core.windows.net/latest/index.html
https://clitestresultstac.blob.core.windows.net/20201113-054322-540793/network.report.parallel.html

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-10-22 08:47] qwordy opened #15622 "Fixing reservations test"
**Describe the bug**

There are 11 failed test cases in reservations in a recent test run.
https://clitestresultstac.blob.core.windows.net/20201018-203235-041446/index.html
https://clitestresultstac.blob.core.windows.net/20201018-203235-041446/reservations.report.parallel.html

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-10-22 08:48] qwordy opened #15623 "Fixing resource test"
**Describe the bug**

There are 14 failed test cases in resource in a recent test run. Can you have a look? Thanks!
https://clitestresultstac.blob.core.windows.net/20201018-203235-041446/index.html
https://clitestresultstac.blob.core.windows.net/20201018-203235-041446/resource.report.parallel.html

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-10-22 08:49] #15617 closed

[2020-10-22 08:50] qwordy opened #15624 "Fix security test"
**Describe the bug**

There are 6 failed test cases in security in a recent test run. Can you have a look? Thanks!
https://clitestresultstac.blob.core.windows.net/20201018-203235-041446/index.html
https://clitestresultstac.blob.core.windows.net/20201018-203235-041446/security.report.parallel.html

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-10-22 08:51] qwordy opened #15625 "Fix sql test"
**Describe the bug**

There are 18 failed test cases in sql in a recent test run.
https://clitestresultstac.blob.core.windows.net/20201018-203235-041446/index.html
https://clitestresultstac.blob.core.windows.net/20201018-203235-041446/sql.report.parallel.html

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-10-22 08:52] qwordy opened #15626 "Fixing storage test"
**Describe the bug**

There are 9 failed test cases in storage in a recent test run. Can you have a look? Thanks!
Latest link: https://clitestresultstac.blob.core.windows.net/latest/index.html

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-10-22 09:02] #15610 closed

[2020-10-22 09:31] #14677 closed

[2020-10-22 10:56] hermandr commented on #14844
I am experiencing this also when using the az commands in compute instance.
So I am running the az commands in local instance only.
Any response on how to fix this issue?

[2020-10-22 11:32] #15609 closed

[2020-10-22 11:34] yonzhan commented on #15612
acr

[2020-10-22 11:35] yonzhan commented on #15614
test fix plan

[2020-10-22 11:42] yonzhan commented on #15615
acs

[2020-10-22 11:42] yonzhan commented on #15616
batchai

[2020-10-22 11:42] yonzhan commented on #15618
eventgrid

[2020-10-22 11:43] yonzhan commented on #15619
monitor

[2020-10-22 11:48] yonzhan commented on #15620
netappfiles

[2020-10-22 11:49] yonzhan commented on #15621
add to S178

[2020-10-22 11:52] yonzhan commented on #15622
reservations

[2020-10-22 11:53] yonzhan commented on #15623
resource

[2020-10-22 11:55] yonzhan commented on #15624
security

[2020-10-22 11:55] yonzhan commented on #15625
sql

[2020-10-22 11:55] yonzhan commented on #15626
storage

[2020-10-22 11:57] hermandr commented on #13927
I would like to confirm that this is still an issue

[2020-10-22 12:05] hermandr opened #15627 "az acr not working in compute instance but working on local desktop"
**Describe the bug**
As a ML devops I would like to build custom docker images and push into ACR.

From the compute instance bash command line:
[code]
[code]

To troubleshoot:
I try az acr --help and help message appears.  So the acr module is installed.
Then I try az acr list and it fails with similar error as above.

**To Reproduce**

az login
az acr login --name xxx

az acr --help
az acr list

[2020-10-22 12:13] yonzhan commented on #15627
acr

[2020-10-22 13:29] keziashirazi98 commented on #15427
We are still hitting this intermittently. Today I pushed a pipeline and hit the error again. Could this please stay open as a ticket? I would really like to find a solution

[2020-10-22 13:32] keziashirazi98 commented on #15427
@calvinsID unfortunately the problem you proposed cannot be the issue as the latest deployment was done as the first time the web app was touched in ~10days and it failed first and then passed again like the first time the issue occurred.

[2020-10-22 16:33] aelij opened #15628 "Document condition syntax"
I could not find a documentation for the `--condition` parameter: exact syntax and which properties can be used

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dacfad8-cb2f-2534-3b29-89b0930a2252
* Version Independent ID: 17325cd4-44c5-4069-d9f6-940a55f0f7c9
* Content: [az role assignment](https://docs.microsoft.com/en

[2020-10-22 16:48] yugangw-msft commented on #15627
Installation issue

[2020-10-22 17:54] tejasshah7 commented on #15578
@yonzhan
What is the timeline for S178 to be released?

[2020-10-22 18:02] anders-kiaer opened #15629 ""az group list" inconsistent results"
## Describe the bug

**Command Name**
`az group list`

**Errors:**
Not an error, but incorrect output. Sometimes `az group list` returns correctly a list of my resource groups. However, sometimes the list is empty. The issue is observed over some time now when rerunning `az group list` multiple times immediately after each other (sometimes returns empty list, sometimes one item, sometimes five ite

[2020-10-22 18:18] brandonh-msft opened #15630 "Where is documentation for Kusto extension?"
The Note at the top directs users to use the kusto extension instead of the built-in functionality, but I'm having a hard time trying to find documentation for the extension. It would be great to link users to this documentation or - better yet - include it instead of the default docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2020-10-22 19:00] heaths opened #15632 "Cannot list or delete soft-deleted Managed HSMs"
## Describe the bug

Despite being documented that you can purge or list deleted MHSMs, it appears that is not the case given the error output:

[code]

/cc @Lusitanian

**Command Name**
`az keyvault list-deleted`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create a resource group

[2020-10-22 20:52] heaths opened #15633 "--id description is ambiguous for Managed HSMs"
## Describe the bug

As of version 2.13.0, the CLI says of `az keyvault security-domain download --id`:

[code]

That's not very helpful, given ID is pretty overloaded. I tried the resource ID to no avail (e.g. /subscriptions/{guid}...). Could you clarify what this is supposed to be?

**Command Name**
`az keyvault security-domain download`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce t

[2020-10-22 22:07] yonzhan commented on #15628
add to S178

[2020-10-22 22:11] yonzhan commented on #15578
https://github.com/Azure/azure-cli/milestone/96  Build to Cloud Shell: 11/13/2020 Official Release: 11/17/2020

[2020-10-22 22:35] hattan opened #15634 "Error in az cloud register example"
There is an error in the az cloud register example, specifically when using a cloud config file. The example states that the cloud config file should contain the following json properties

[code]

However that is invalid, when testing with az cli 2.12.1 the file should look like this (note the plural property names):

[code]

Note the same issue appears in the cli help.

---
#### Document Details

[2020-10-23 01:00] yonzhan commented on #15629
add to S178

[2020-10-23 01:01] yonzhan commented on #15630
Kusto

[2020-10-23 01:53] yungezz commented on #15634
hi @fengzhou-msft ,could you pls help to check and update example if necessary? thanks

[2020-10-23 01:54] yungezz commented on #15633
hi @bim-msft , could you pls refine the message for all HSM related commands, thanks

[2020-10-23 01:55] yungezz commented on #15632
hi @bim-msft could you pls take a look?

[2020-10-23 02:58] bim-msft commented on #15632
Hi @heaths , the service has not supported `list-deleted` and `purge` for MHSM yet.

[2020-10-23 03:12] jiasli commented on #15628
Let me work with RBAC service team to put more information in the doc.

[2020-10-23 04:56] sebansal commented on #13475
@RandalliLama from key vault service team will be looking into it

[2020-10-23 06:14] sebansal commented on #14396
Adding @shanebala-keyvault to help review

[2020-10-23 06:24] ShaneBala-keyvault commented on #14396
Hi @techadmin1982 when you create a key vault, the name is globally unique. When you cleaned up your resources, your key vaults moved to the soft deleted state. Before you can create new key vaults with the soft deleted state, you must purge your key vaults.

In extremely rare cases a bug in the purge operation could cause the key vault to enter a locked state where you can no longer view, recover

[2020-10-23 06:45] jongio opened #15638 "Sudo required to run az"
**Describe the bug**

`az` throws this:

[code]

**To Reproduce**

Install az on wsl2 ubuntu 20/focal using one line install script

run `az`

It works if I run `sudo az`

**Expected behavior**

Sudo not required to run az

Was working that way before. Not sure what changed.

**Environment summary**

one liner install.

**Additional context**

[2020-10-23 07:07] gsscoder commented on #12621
I didn't before but lately I got the same issue. Exactly the same.

[2020-10-23 07:20] jiasli commented on #15638
Could you run

[code]

It looks like you somehow lost permission to this file.

[2020-10-23 07:55] jongio commented on #15638
I ran `sudo rm /home/jon/.azure/commandIndex.json` and then re-ran `az` and it works.

Thank you.

[2020-10-23 08:07] jiasli commented on #15638
It looks like you ran `az` before with `sudo` which will create/update `~/.azure/commandIndex.json` with `Uid: (    0/    root)`.

I am able to repro with

[code]

To get unblocked, run

[code]

[2020-10-23 08:11] #15638 closed

[2020-10-23 08:43] arrownj opened #15642 "homebrew formula do not pass the `brew audit --strict` check"
**Describe the bug**
As homebrew update the audit rule, azure-cli's formula will not pass the audit check.

`brew audit --strict azure-cli.rb` will report below errors:

We need to update the homebrew formula template according to the latest rule.

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-10-23 08:58] Juliehzl commented on #15601
Hi @cmrkz, could you share your debug info with `--debug` in your command?

[2020-10-23 10:00] cerginio commented on #15431
For me this script is working from local CLI, but fails from AzureDevops release pipeline (see below).
Agents used from Azure Pipelines pool:
**vs2017-win2016
windows-2019**

------------ Azure CLI script -------------
az container create `
--name curitydev3-hello-world `
--resource-group "CurityDev3" `
--image "mcr.microsoft.com/azuredocs/aci-helloworld" `
--ports 80, 443 `
--vnet "curitydev3-VNE

[2020-10-23 10:06] mossywell opened #15645 "Clarification of the display name meaning"
For the create option, the documentation states the following:

--display-name -u
Display name of the Azure AD administrator user or group.

The documentation implies that the create command requires you to know the Azure AD display name, which is not correct. The display name here is the display name you wish to give the user/group when viewing it in the GUI (or using the various command line opt

[2020-10-23 10:26] yonzhan commented on #15642
homebrew

[2020-10-23 10:38] yungezz commented on #15642
hi @arrownj will it block release?

[2020-10-23 10:38] yonzhan commented on #15645
sql

[2020-10-23 11:09] vinodkrishnakumar commented on #14881
Hi,

I have this same issue even after deleting the file. Please help

[2020-10-23 12:06] hermandr commented on #15627
What does "Installation issue" mean?
How do get this functionality?
This is a show stopper!!

[2020-10-23 13:30] heaths commented on #15632
If it's not planned, should we make sure those MHSM resources aren't enumerated or swallow errors?

[2020-10-23 14:09] mortezasoft commented on #12289
What is the latest status of this issue? I have the same issue with the latest version of Azure CLI.

[2020-10-23 14:39] MisinformedDNA commented on #7674
The AZ PowerShell module works fine.

[code]

[2020-10-23 15:15] frankzo commented on #11718
To work a bit around this you can use the 'union' function in ARM to combine sets of configuration settings.
First a param to provide an array with settings:

`        "appProperties": { // done
            "type": "Array",
            "metadata": {
                "description": "Settings."
            }
        },

Then in variables the default section. And use the 'union' function to combine th

[2020-10-23 16:08] MartinPotier opened #15646 "az disk grant-access fails with APIVersion 2020-06-30 not available"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az disk grant-access`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az disk grant-access -n {} -g {} --access-level {} --duration-in-se

[2020-10-23 17:37] nexxai opened #15647 "Can't list webapp connection-string settings by ID but you can set and delete them?"
As per https://docs.microsoft.com/en-us/cli/azure/webapp/config/connection-string?view=azure-cli-latest#az_webapp_config_connection_string_list you can use the `--ids` flag to set and delete connection string settings but you can't use the resource ID to list the settings.  Can that be added please?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Gi

[2020-10-23 17:59] andschwa commented on #15590
Thanks @qwordy! Believe me, I was quite surprised to find some VMs give a non-UTF-8 boot log, but so it goes.

[2020-10-23 19:22] ChaitanyaNaykodi-MSFT commented on #15176
Hello All, just to add on to the observation made by @ergihu, even I observed that the APPINSIGHTS_INSTRUMENTATIONKEY and APPLICATIONINSIGHTS_CONNECTION_STRING are configured in the app settings and the metrics are getting funneled to Application Insights instance. The issue is with the portal UX as it does not reflect this connection, the team will be rolling out a fix for this issue soon, the cu

[2020-10-23 21:50] nwohlgemuth commented on #13579
@ahamad-MS I opened this issue on May 19th. Azure CLI version 2.6.0 was released on May 19th. At that time, that was the newest version I could have possibly been using (same day as it was released!) but it did not support the requested feature. Since then, the feature was added. To workaround it in the meantime, I wrote code that directly made an HTTP request to the Azure API. Now that Azure CLI

[2020-10-23 21:50] #13579 closed

[2020-10-23 22:17] sebansal commented on #15011
@haroldrandom We'd like to understand the issue from the key vault service perspective

[2020-10-24 01:28] yonzhan commented on #15647
webapp

[2020-10-24 03:02] #14961 closed

[2020-10-24 05:14] #14789 closed

[2020-10-24 13:00] DClausenTPG opened #15649 "create blob SAS Key error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container generate-sas`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage container generate-sas --name {} --account-

[2020-10-24 14:49] yonzhan commented on #15649
storage

[2020-10-25 09:23] fengzhou-msft commented on #14844
If you used `pip install azure-cli` to install the package, please check `pip show azure-mgmt-containerregistry`. The latest `azure-cli` package uses `3.0.0rc15` of `azure-mgmt-containerregistry` which has APIVersion 2019-12-01-preview.

[2020-10-25 09:43] fengzhou-msft commented on #14945
`Pip failed with status code 1`. `1` means `Operation not permitted`.
I think some file in `/home/joferr/.azure/cliextensions/aks-preview/azext_aks_preview` cannot be moved to a temp directory due to permission issue and that's why `azure-cli` cannot use `pip install` without the `--upgrade` option to install the latest `aks-preview` extension as the directory is not empty.

Please manually delete

[2020-10-25 09:52] fengzhou-msft commented on #14973
`az extension update` will move the current version of extension to a temp directory and then use `pip install` to install the latest version.

In your case, some file in the old version may have permission issues and CLI is not able to move all of them to a temp directory. Then `pip install` fails because the extension directory is not empty.

Please remove `D:\\Users\\apparab\\.azure\\cliextensi

[2020-10-25 10:32] ilayrn commented on #15630
@astauben, can you please check it out?

[2020-10-25 10:35] astauben commented on #15630
Hi @brandonh-msft you can find the docs here: https://docs.microsoft.com/en-us/cli/azure/ext/kusto/kusto?view=azure-cli-latest

[2020-10-25 11:08] fengzhou-msft commented on #15627
@hermandr the issue is caused by the `2.8.0` version of  `azure-mgmt-containerregistry` in `/anaconda/envs/azureml_py36/lib/python3.6/site-packages` has higher priority while `azure-cli` relies on `3.0.0rcxx` versions for some new features.

One workaround you can try is to install `azure-cli` in a virtual environment (e.g. `/home/azureuser/env`) then invoke with the path of `az` from that env:  `

[2020-10-25 11:26] #14908 closed

[2020-10-25 14:36] yossi-y opened #15650 "Can't configure Log Analytics data export to specific event hub"
**Resource Provider**
operationalinsights

**Description of Feature or Work Requested**
CLI configuration to EH allows configuration to event hub namespaces like:
    $eventHubNamespacesId = '/subscriptions/b1550e13-52b0-4ed1-8a7a-8929cee47022/resourceGroups/yossiy/providers/Microsoft.EventHub/namespaces/yossiy-dataexport'
    az monitor log-analytics workspace data-export create -g $resourcegroup

[2020-10-25 16:37] brandonmichaelhunter opened #15651 "Exercise - Create a new API in API Management from a function app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2020-10-25 16:38] yonzhan commented on #15650
add to S178

[2020-10-25 16:40] yonzhan commented on #15651
functionapp

[2020-10-25 17:34] subhendu-de opened #15652 "--ssh-key-values along with [az vm create] parameter is not taking the public key"
**Describe the bug**
The  ```--ssh-key-values``` along with ```az vm create``` parameter is not taking the public key while creating a vm. Please note I've created the key-pair using ```ssh-keygen``` utility

**To Reproduce**
Use the following scripts to create a keypair
[code]
It creates private and public key named ubuntu and ubuntu.pub. Try to use the public key to create the vm by running the

[2020-10-25 20:44] noelbundick commented on #15346
Issue persists in `2.13.0`, the CLI error message is not actionable without using `--debug` and visually parsing the HTTP response

Template w/ an error:

[code]

Submitting a deployment:

[code]

Full details

[code]

Likewise, I expect the CLI to expand the inner error details and return a meaningful error message with both the code and message. In this case, `InvalidSkuName` / `Invalid skuName.

[2020-10-25 20:50] snapfisher opened #15653 "az servicebus namespace authorization-rule keys list produces python traceback if the name is not found"
**Describe the bug**
Using the command "az servicebus namespace authorization-rule keys list" if the name specified is not found, the CLI incorrectly produces python traceback lines.  It should just say that the name is not found.

**To Reproduce**
az servicebus namespace authorization-rule keys list --name {incorrect-name)--namespace-name {correct-value} --resource-group {correct value)

**Expect

[2020-10-25 20:50] snapfisher commented on #15653
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-7cl6xofh\knack\knack\cli.py", line 215, in invoke
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-7cl6xofh\azure-cli-core\azure\cli\core\commands\__init__.py", line 631, in execute
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-7cl6xofh\azure-cli-core\azure\cli\core\commands\__init__.py",

[2020-10-25 20:51] snapfisher commented on #15653
I have no idea why those line are struct through.  Some sort of github goofiness

[2020-10-26 00:08] yonzhan commented on #15653
servicebus

[2020-10-26 01:29] deshriva commented on #14835
@valenca : This is still in our backlog and we will continue to provide monthly updates until the issue is addressed.

[2020-10-26 01:56] yungezz commented on #15646
hi @qwordy , could you pls help to have a look? thanks

[2020-10-26 01:57] yungezz commented on #15652
hi @qwordy , could you pls help to take a look?

[2020-10-26 01:59] yungezz commented on #15653
cc @houk-ms @chenlomis , user would like to see errors directly instead of tracestack.

[2020-10-26 02:01] yungezz commented on #15649
cc @houk-ms for Incorrect Padding error

[2020-10-26 02:43] #15473 closed

[2020-10-26 02:43] yungezz commented on #15632
make sense. @bim-msft let's make a graceful error message with userFault here to show that list-deleted isn't supported for hsm yet, and doc change.

[2020-10-26 03:25] fengzhou-msft commented on #8164
resolved in version 2.11.0.

[2020-10-26 03:25] #8164 closed

[2020-10-26 05:03] arrownj commented on #14600
Hi @scott-dunt , please reference [JMSPath document](https://jmespath.org/proposals/exptype.html?highlight=sort_by#sort-by) to write the `sort-by` expression. In general, just as the error message shows, the `sort-by` function takes 2 parameters.

[2020-10-26 05:17] arrownj commented on #14577
Hi @v-sijeff , as I can't reproduce your problem in my environment, could you please help provide more information. What's the exact IP address of your login url in the VM ? Could you please try to check the `/etc/hosts` file or run `tracepath <host>` command to check why the url is direct to a wrong IP ?
And I'm not sure why you need to override AZURE_DEVOPS_EXT_PAT ? It seems that in cli login p

[2020-10-26 06:46] yonzhan commented on #15601
Hi @cmrkz, any feedback?

[2020-10-26 07:16] bim-msft commented on #15633
@heaths thanks for the feedback. Actually `--id` here means the base uri of the HSM ("https://xxx.managedhsm.azure.net"), not the resource id. I will clarify this in help messages.

[2020-10-26 07:31] estebanreyl opened #15656 "az login --identity throws an error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
az login --identity throws an error
**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- az login` then
- `az login --identity`

## Ex

[2020-10-26 07:46] estebanreyl commented on #15656
Seems I forgot to assign the Vm system identity

[2020-10-26 07:46] #15656 closed

[2020-10-26 08:04] bim-msft commented on #15632
@heaths @yungezz  Sure, sounds good.

[2020-10-26 08:37] fengzhou-msft commented on #14844
The issue is caused by incompatibility versions of `azure-mgmt-containerregistry` on the Azure machine learning compute instance.
Can you try the following workaround by using a virtual environment?
https://github.com/Azure/azure-cli/issues/15627#issuecomment-716129300

[2020-10-26 08:43] fengzhou-msft commented on #15366
We have a script to build python 3.6 from source, then download azure-cli and install without dependency. Please try:
`curl -sL https://azurecliprod.blob.core.windows.net/sles12_install.sh | sudo bash`

[2020-10-26 09:35] qwordy commented on #15064
@avirishuv  I can't delete resources that depend on this VM. The NIC is used by vm1. S360 sends alerts of open ports. Do you have any idea of how to delete these resources? It indicates that the internal status of resources are broken.
![image](https://user-images.githubusercontent.com/5019528/97155236-ff9b1000-17af-11eb-8587-9db224af442b.png)

[2020-10-26 10:02] fengzhou-msft commented on #15584
Duplicate of #14011

[2020-10-26 10:02] #15584 closed

[2020-10-26 10:45] christianfelixmerz opened #15659 "ImportError: cannot import name 'on_windows' on typing "az""
**Describe the bug**
On typing az and hitting enter, following error comes up:

Traceback (most recent call last):
  File "runpy.py", line 193, in _run_module_as_main
  File "runpy.py", line 85, in _run_code
  File "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\lib\site-packages\azure\cli\__main__.py", line 9, in <module>
    import azure.cli.main
  File "C:\Program Files (x86)\Microsoft SDKs\A

[2020-10-26 14:00] onionhammer commented on #4802
@zhoxing-ms what's the status on this? It's been a few months, but this is still definitely an issue. Is this discrepancy a "wont fix"? Is Microsoft's preferred solution an 800+ character long string on a single line filled with variables when a user wants to create a WebTest in ARM?

[2020-10-26 14:30] yungezz commented on #15659
hi @fengzhou-msft could you pls help to have a look? thanks

[2020-10-26 16:04] brandonh-msft commented on #15630
@astauben thanks, any reason why we don't link there from the `az kusto` page?

[2020-10-26 17:10] heaths commented on #15633
That's not consistent with `--hsm-name` that's used everywhere else I've seen. I would suggest changing that. Everywhere else, `--id` typically refers to either the full URI (e.g. `az keyvault secret delete --id` refers to the full secret URI) or the full resource URI (e.g. `az resource show --ids /subscriptions/{sub}/...`). Using `--id` here is just confusing and inconsistent.

[2020-10-26 17:31] calvinsID opened #15660 "webapp: Container Apps Quick Start Image Change"
**Describe the bug**
- Change container apps quick start image from nginx:latest to mcr.microsoft.com/appsvc/staticsite:latest
- Add registry url

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-10-26 17:51] chenlomis opened #15661 "[partner asks] Azure CLI expired auth session error message should provide more guidance"
**Describe the bug**
"While working with the Azure CLI (2.0.77) and KeyVault (on Mac) I got the following error message:

Get Token request returned http error: 400 and server response: {"error":"interaction_required","error_description":"AADSTS50078: Presented multi-factor authentication has expired due to policies configured by your administrator, you must refresh your multi-factor authenticatio

[2020-10-26 18:16] chenlomis opened #15662 "[E2E][AKS][Errror] Validation error around misspelled name is not straightforward"
**Describe the bug**
Received the following validation error when attempting to get aks credential when misspelled the cluster name (sampleAKScuster) when the correct name is (sampleAKScluster)
![image](https://user-images.githubusercontent.com/30876406/97211394-3b1be700-177c-11eb-8b43-ba72a57e16c3.png)

Wish the error is more specific and call out that name is misspelled..
The fact that it's redi

[2020-10-26 18:21] chenlomis opened #15663 "[E2E][AKS][progress bar] Lack of status feedback upon aks installation"
**Describe the bug**
![image](https://user-images.githubusercontent.com/30876406/97211992-0e1c0400-177d-11eb-9873-e5ec501de2fe.png)

**To Reproduce**
See above

**Expected behavior**
A message indicating that the AKS has been installed

**Environment summary**

![image](https://user-images.githubusercontent.com/30876406/97212220-52a79f80-177d-11eb-9f7b-962ca060e402.png)

**Additional context**
![i

[2020-10-26 18:36] chenlomis commented on #15662
Another similar issue...

Is the following a client side userfault error? or it a service side userfault error?

![image](https://user-images.githubusercontent.com/30876406/97213879-7966d580-177f-11eb-96c8-1b4f41d063a2.png)
Doc ref: https://docs.microsoft.com/en-us/azure/aks/cluster-container-registry-integration

[2020-10-26 18:39] chenlomis opened #15665 "[E2E][AKS][progress feedback] No progress feedback for aks create"
**Describe the bug**

![image](https://user-images.githubusercontent.com/30876406/97214047-ba5eea00-177f-11eb-908c-d59d91a40391.png)

**To Reproduce**
Was creating the aks as per QS here: https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough

but the output and progress feedback was confusing... couldn't predict whether the operation is still running or whether the screen has frozen

*

[2020-10-26 18:53] mgrabarz commented on #12689
@allegradomel I understand this is by design, but apparently this is bad design. :)

I fully support @matthewfrye here.

[2020-10-26 19:21] johnmeister opened #15666 "information Mismatch"
On page :
https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-multiple-sites-cli#create-a-cname-record-in-your-domain

it states
"With host-names, you can mention up to 5 host names as __comma-separated values__ . For example, --host-names "*.contoso.com,*.fabrikam.com" ".

while on this page:
https://docs.microsoft.com/en-us/cli/azure/network/application-gateway/http-listener?view

[2020-10-26 19:43] btardif commented on #15660
Lets talk about this one during sync. This might not apply to current solution.

[2020-10-26 20:11] avbhaskar commented on #14973
Feng, thank you for the detailed steps. Please go ahead and close the issue
now.
bhaskar apparaju

On Sun, Oct 25, 2020 at 2:52 AM Feng Zhou <notifications@github.com> wrote:

--
Bhaskar, Apparaju Venkata

[2020-10-26 20:45] cachai2 commented on #15467
There are two commands that should be updated. 'always ready' and 'pre-warmed' instances. Can be added to 'az functionapp update'

[2020-10-26 23:00] yonzhan commented on #15661
add to S178

[2020-10-26 23:54] axisc commented on #10304
Thanks for raising this, @SeanFeldman. It's 1 GB for Premium.
We'll update the documentation appropriately.

[2020-10-27 01:31] poita66 opened #15668 "`az storage blob exists` Fails"
## Describe the bug

**Command Name**
`az storage blob exists`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Enter registry.fedoraproject.org/f32/fedora-toolbox:32 container with podman (docker may also work)
- Install Azure CLI by following https://docs.microsoft.com/en-us/cli/azur

[2020-10-27 01:34] yungezz commented on #15662
cc @houk-ms for awareness

[2020-10-27 01:34] yungezz commented on #15663
cc @houk-ms

[2020-10-27 01:34] yungezz commented on #15665
routing to appropriate team

[2020-10-27 02:06] #15179 closed

[2020-10-27 02:27] yonzhan commented on #15666
add to S178

[2020-10-27 02:29] yonzhan commented on #15660
Appservice

[2020-10-27 02:31] yonzhan commented on #15668
add to S178

[2020-10-27 02:55] qwordy commented on #15652
@subhendu-de Thank you for reporting it. Can you paste the error message here?

[2020-10-27 02:56] qwordy commented on #15646
I'll the check the correctness of API version.

[2020-10-27 03:02] qwordy commented on #15646
I tried `az disk grant-access -g fy4 -n d1 --access-level Read --duration-in-seconds 3600` and it succeeded. Can you download the latest version of Azure CLI (2.13.0) and retry? Logs will be helpful for me to understand the problem. Use `--debug` to show logs.

[2020-10-27 03:10] haroldrandom commented on #15492
@sveinung-r Do you run it with additional arguments? I ran it without any arguments and it works as expected.

[2020-10-27 03:34] haroldrandom commented on #15520
@timvanderweijde Is the 3rd step you describe to reproduce returning the expected response? Is so, I might redirect this issue to service team

[2020-10-27 03:39] samuelkoppes commented on #10031
We are investigating this issue, and will report back with a status updated by 11/4/2020.

[2020-10-27 03:39] samuelkoppes commented on #10229
We are investigating this issue, and will report back with a status update by 11/4/2020.

[2020-10-27 04:11] subhendu-de commented on #15652
@qwordy please find the attached snapshot

![image](https://user-images.githubusercontent.com/13384157/97256222-77148200-1838-11eb-9904-749a3e866206.png)

[2020-10-27 04:14] samuelkoppes commented on #12406
We are confirming that this issue has been addressed, and will report back with an update by 11/4/2020.

[2020-10-27 04:16] samuelkoppes commented on #12903
We are investigating this issue and will share an update by 11/4/2020.

[2020-10-27 04:24] samuelkoppes commented on #14698
We are investigating this issue and will respond with an update by 11/4/2020.

[2020-10-27 04:35] damienbod opened #15670 "Add a Note about the plan property"
If creating a functionsapp using a plan from a different resource group, the Resource ID must be used and not the plan name for the plan property.

I think it would be good to add this to the docs where the plan property is explained. I could create a PR for this if you want.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-10-27 04:47] yonzhan commented on #15670
functionsapp

[2020-10-27 04:57] #15632 closed

[2020-10-27 04:59] damienbod commented on #15670
Created a PR in the docs which fixes this.

[2020-10-27 06:52] qwordy commented on #15652
I haven't reproduced your problem. What happens if you pass the key value in command line? The version of Azure CLI you use is kind of old. Can you download the latest version of Azure CLI and have a try?

[2020-10-27 07:02] qwordy opened #15671 "az vmss extension set & diagnostics set"
**Describe the bug**

az vmss diagnostics set --resource-group MC_adadilli_adadilliMC_eastus2euap --vmss-name aks-agentpool-26747325-vmss --protected-settings protected.json --settings config.json
Deployment failed. Correlation ID: 0dea0b10-90c1-4738-9c16-5622f6d7d074. VM has reported a failure when processing extension 'LinuxDiagnostic'. Error message: "Extension operation Enable failed:Settings

[2020-10-27 07:04] yonzhan commented on #15671
vmss

[2020-10-27 07:05] qwordy commented on #15671
Q:
"Settings did not contain protectedSettings". 1. Check the content of protected.json. Is it empty? 2. Add --debug and check the request body. Is there protectedSettings?

A:
1. No both values storageAccountName and storageAccountSasToken values are populated
2. Yes the protectedSettings is present in the request body

[2020-10-27 07:38] mpowrie opened #15672 "Webapp:az webapp config ssl upload - cannot read from /tmp directory in WSL2"
I have Ubuntu 20.04 running on WSL2.

I get a FileNotFoundError when trying to upload a file from /tmp/, despite the file being there.
Command used:

$ az webapp config ssl upload --certificate-file /tmp/my.file.pfx --certificate-password mypasswprd -g myresourcegroup --name myapp
CLIInternalError: The command failed with an unexpected error. Here is the traceback:
[Errno 2] No such file or direct

[2020-10-27 07:51] qwordy opened #15674 "How to remove a global parameter"
**Is your feature request related to a problem? Please describe.**

The problem is raised by https://github.com/Azure/azure-cli-extensions/issues/2083. When I try to use `c.ignore` to remove a global parameter of a command, nothing happens. Dear core owners, does it support removing a global parameter and how to do it? The customer has been waiting for a long time. Much appreciated.

**Describe th

[2020-10-27 07:52] mpowrie opened #15675 "azure --version still reports old version after upgrade using apt-get"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I upgraded to the latest version of azure-cli in Ubuntu, but typing in az --version still shows an older version installed.

I then realized that running az from WSL is actually executing az for Windows.

running this command:
[code]
I see:
Reading package lists... Done
Building dependency tree
Reading state in

[2020-10-27 08:04] qwordy commented on #15674
Solved. Use `_` before global parameters.

[2020-10-27 08:04] #15674 closed

[2020-10-27 08:12] Kitwradr commented on #9176
Having the same problem with `New-Object -TypeName "Microsoft.Open.AzureAD.Model.ResourceAccess" -ArgumentList "---------------id------------","Role"`

[2020-10-27 08:58] yonzhan commented on #15672
webapp

[2020-10-27 08:58] subhendu-de commented on #15652
@qwordy Installing az cli 2.14.0 resolves the issue. Thanks!

[2020-10-27 08:58] #15652 closed

[2020-10-27 08:59] kunjals opened #15677 "az backup protectable-item list error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
az backup protectable-item list failes with an error when used with workload-type AzureFileshare

**Command Name**
`az backup protectable-item list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

-

[2020-10-27 09:03] yonzhan commented on #15677
backup

[2020-10-27 09:20] mpowrie commented on #15672
Thanks! I've since noticed that I have the Azure CLI installed in both WSL2 and Windows, and typing "az" from WSL2 actually runs the Windows Azure CLI instance, so it can't see any Linux directories.

[2020-10-27 09:45] zhoxing-ms commented on #12909
@apclouds @alex-frankel Could you please take a look at this issue?

[2020-10-27 09:50] zhoxing-ms commented on #4802
@onionhammer Because this is mainly a Service issue, not a CLI problem, I reminded relevant personnel to pay attention in this issue. #12909 (The reason why PowerShell can support it is that they have pre-processed the ARM templates, but this does not conform to our design)

[2020-10-27 10:37] Tomelin opened #15678 "Problem to create new volume in NetAPP"
[Enter feedback here]

Hi,

I have the resource NetApp and the pool created but when I create the volume return error that VNET not exist but the VNET exists and is equal in Azure portal of resource NetApp.

The command is:
az netappfiles volume create -g MyRSG --account-name NameOfResourceNetAPP --pool-name nameOfPool --name newNameOfVolume \
 -l eastus2 --service-level Standard --usage-threshold

[2020-10-27 10:42] Kitwradr opened #15679 "Error: Property requiredResourceAccess.resourceAccess is invalid, when specifying "Type" as "Role" while creating graph permission for AAD App"
**Describe the bug**

The same code works when specifying Type as "Scope" but not when specifying its as "Role" the error occurs
**To Reproduce**

`$graphPermission = New-Object -TypeName "Microsoft.Open.AzureAD.Model.ResourceAccess" -ArgumentList "a367ab51-6b49-43bf-a716-a1fb06d2a174","Role"`
**Expected behavior**

**Environment summary**

**Additional context**

![image](https://user-images.gith

[2020-10-27 12:23] yungezz commented on #15678
route to appropriate team

[2020-10-27 12:24] yungezz commented on #15675
hi @fengzhou-msft could you pls have a look?

[2020-10-27 13:15] nehalilani commented on #12750
Hi, I'm facing the same issue while creating resources in the Azure portal using a powershell script

[2020-10-27 13:29] d2iq-shadowbq commented on #1062
This is a more complete answer using `jmesquery`, that will work regardless of the number of machines. *(shows only the first private, and public address assigned to each vm)*

[code]

[2020-10-27 13:51] onionhammer commented on #4802
Consistency of developer experience is presumably more important than some principle of not wanting to do preprocessing in the CLI tool

[2020-10-27 13:54] #14973 closed

[2020-10-27 14:16] geremy42 opened #15680 "WebApp:az webapp config appsettings : slotSettings auto change"
### Describe the bug
**Command line**
`az webapp config appsettings set --name APP1 --resource-group RG1 --slot staging --settings "Key1=Value1"`

**Output**
`
[
  {
    "name": "Key1",
    "slotSetting": false,
    "value": "Value1"
  }
]
`

**Error**
Even the output is correct, by running `az webapp config appsettings list`, the slotSetting has been automatically changed to True
`
[
  {
    "nam

[2020-10-27 15:12] yonzhan commented on #15680
webapp

[2020-10-27 15:14] kvendingoldo commented on #12903
@samuelkoppes do you have any updates? I wanna introduce this option to TF provider

[2020-10-27 15:15] yonzhan commented on #1062
@qwordy

[2020-10-27 16:25] michaelschmit opened #15681 "Private DNS Link Destroy Requires Confirmation"
https://github.com/Azure/azure-cli/blob/9c68bfa839309acc92b5684700d758e900f9e198/src/azure-cli/azure/cli/command_modules/network/commands.py#L644

I'm automating our infrastructure deployments and their subsequent destruction.  I create and destroy a bunch of resources, and it seems that private-dns link and private-dns zone both prompt with a confirmation "Are you sure you want to perform this op

[2020-10-27 16:28] michaelschmit commented on #15681
Found my own answer.  The flag is --yes.

[2020-10-27 16:28] #15681 closed

[2020-10-27 17:30] prashantjoge opened #15682 "az interactive error with ModuleNotFoundError: No module named 'prompt_toolkit.interface'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-10-27 17:31] prashantjoge commented on #15682
uname -r
5.9.1-arch1-1

[2020-10-27 17:34] 1stewart opened #15683 "the given role assignment condition is invalid"
**Describe the bug**
`az role assignment create --role "Contributor" --assignee-object-id 3d5dab4e-3726-4783-bfa6-6937955da4b0 --condition "@Resource[Microsoft.Storage/storageAccounts/blobServices/containers:Name] stringEquals 'foo'" --condition-version "2.0"`

works (from the documentation: https://docs.microsoft.com/en-us/cli/azure/role/assignment?view=azure-cli-latest

`az role assignment creat

[2020-10-27 18:27] kvendingoldo commented on #12903
@samuelkoppes looks like that package eventhub = 2018-01-01-preview do not have the suitable option ...

[2020-10-27 19:40] MarkKyes commented on #14881
Also have the exact same problem in the cli

[2020-10-27 20:59] chenlomis opened #15685 "WebApp:[customer interview request] Updating config values of app service with newly created container instance"
**Is your feature request related to a problem? Please describe.**
Yes, unable to update config values of app service with container instance via the CLI

**Describe the solution you'd like**
Being able to update the webapp config file with the newly created container instance in the via commands such as

_az webapp config update key_ or something

**Describe alternatives you've considered**
N/A

[2020-10-27 21:00] chenlomis commented on #15685
@devlife for awareness and additional context

[2020-10-27 21:05] ehonsey opened #15686 "Unable to work with KeyVault certificates from azure-cli"
## Describe the bug

**Command Name**
`az keyvault certificate list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault certificate list`

## Expected Behavior

Receive a list of certificates in the keyvault. Not sure why azure-cli can

[2020-10-27 21:55] sbonds commented on #4532
I had the same issue and it seems that a bit of patience solves the problem. I could see the disks in the Azure Portal after a disk-only restore, but the CLI (and associated API call to Microsoft.Compute/disks) returned an empty list for approximately 15 minutes after their creation.

[2020-10-27 22:46] yonzhan commented on #15682
interactive

[2020-10-27 22:48] yonzhan commented on #15683
add to S178

[2020-10-28 00:24] pragnagopa opened #15688 "[AzureFunctions][CustomHandler]Remove preview flag"
cc @gzuber  @anthonychu

Stacks updates here:  https://github.com/pragnagopa/azure-functions-supported-runtime-stacks/pull/21

[2020-10-28 00:46] pragnagopa commented on #15688
@gzuber - if this issue requires just updating the stacks content, please assign it to me

[2020-10-28 00:56] cbellee opened #15689 "Azure Batch CLI command --os-family parameter should support the string name of the os family rather than magic strings"
**Is your feature request related to a problem? Please describe.**
Azure Batch CLI command --os-family parameter only supports 'magic strings' identifying the os family

https://docs.microsoft.com/en-us/cli/azure/batch/pool?view=azure-cli-latest#az_batch_pool_create

$az batch pool create --os-family {2, 3, 4, 5, 6}

**Describe the solution you'd like**
Azure Batch CLI command --os-family paramete

[2020-10-28 01:13] yonzhan commented on #14881
@fengzhou-msft

[2020-10-28 01:14] yonzhan commented on #15685
webapp

[2020-10-28 01:18] yonzhan commented on #15688
AzureFunctions

[2020-10-28 02:01] aim-for-better commented on #14835
@valenca , this issue is fixed in the latest azure cli version 2.14.0. Thanks for feedback.

[2020-10-28 02:01] #14835 closed

[2020-10-28 02:18] qwordy commented on #15519
Use `$?` or `$LASTEXITCODE` to get exit code of last command in PowerShell.
Sorry I have little experience of Jenkins. Here is doc of Jenkins. https://www.jenkins.io/doc/

[2020-10-28 02:32] yungezz commented on #15689
route to appropriate team

[2020-10-28 02:32] yungezz commented on #15686
hi @bim-msft could you pls have a look? thanks

[2020-10-28 02:51] qwordy commented on #15352
If any problem, please open a new issue. Thanks.

[2020-10-28 02:51] #15352 closed

[2020-10-28 03:28] arrownj commented on #14600
Close this first since it's a JSMPath usage problem.

[2020-10-28 03:28] #14600 closed

[2020-10-28 03:30] houk-ms opened #15692 "Error Output Improvement: Clear Requests"
These requests are for error output improvements, which are clear and techinically feasible.

**1. Remove the ErrorType name in error message.**

Currently
[code]
Request
[code]

**2. Use users' input values instead of placeholders for arguments if there are**

Currently
[code]
Request
[code]
**3. Apply new error output for service related UserFaults**
NOTE: A possible problem could be the recomme

[2020-10-28 03:45] houk-ms opened #15693 "Error Output Improvement: Requests to be confirmed"
These requests are for error output improvements, which are to be confirmed or have dependencies.

**1. Print ClientError & ServiceError to users in the error message**

To be Confirmed
- Print only ClientError and ServiceError?
- The terms we use, will the terms 'ClientError' and 'ServiceError' confuse users?

**2. Provide description for recommendations**

Depends on Aladdin
- Aladdin need provi

[2020-10-28 03:55] yungezz commented on #15692
feature reqeust to track new works in error output improvment.

[2020-10-28 03:56] yungezz commented on #15693
https://github.com/Azure/azure-cli/issues/15692

[2020-10-28 04:05] yungezz commented on #15100
Service team postponed GA date again, move later

[2020-10-28 04:55] yonzhan commented on #15692
@zhoxing-ms for awareness.

[2020-10-28 04:57] yonzhan commented on #15693
@zhoxing-ms for awareness.

[2020-10-28 04:59] gzuber opened #15694 "Add warning if customer tries to switch from premium to consumption functionapp"
The command `az functionapp update --plan` gives users the capability to switch a functionapps plan for a different, working app service plan. This could potentially be dangerous if the function is using premium features. This scenario should be handled with at least a warning.

[2020-10-28 05:03] gzuber commented on #15252
While discussing the specifics of where this command should be implemented, we found the command az functionapp update --plan which allows a user to swap a functionapp between app service plans. This effectively accomplishes this upgrade scenario to a point where making another command might be redundant. The existing command doesn't create a new plan for the customer, so it's not exactly the same

[2020-10-28 05:53] yungezz commented on #13893
hi @arrownj @houk-ms any update?

[2020-10-28 05:54] yungezz commented on #14941
hi @bim-msft is this issue ok to close the issue now?

[2020-10-28 05:57] yungezz commented on #15334
hi @fengzhou-msft is this issue ok to close now?

[2020-10-28 06:01] rajeshswarna123 opened #15696 "Froze in az interactive"
**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
  1. Enter `az interactive` in Azure CLI
  2. Enter any character and then press `ctrl + space`
  3. try to enter any character (I guess now you can face the same issue)

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior
Generally interactive mode is nothing but showing intellisense. In many IDEs

[2020-10-28 07:41] frackham commented on #8488
I don't understand why this is closed? Original issue is that Az CLI doesn't allow creating of budgets with notifications (fairly standard use case) when using the consumption api, and that's still the case. Don't see this on the feature backlog either.

Not sure directing towards ARM or az resource create is optimal here.

Apologies if I'm missing something - perhaps docs at https://docs.microsof

[2020-10-28 08:16] yungezz commented on #15694
service team checking status.

[2020-10-28 09:21] yonzhan commented on #15696
interactive

[2020-10-28 10:29] adelinor opened #15699 "WebApp:Suggestion for improvement: add an example for moreSettings.json file."
[Enter feedback here]
The information on the page https://docs.microsoft.com/en-us/cli/azure/webapp/config/appsettings?view=azure-cli-latest#az_webapp_config_appsettings_set is very useful. It would be good to add an example of content accepted for the moreSettings.json file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-10-28 11:41] kvendingoldo commented on #12903
Issue https://github.com/Azure/azure-rest-api-specs/issues/11425 created, let's wait for an answer.

[2020-10-28 12:26] spatialman commented on #15533
Could you give update on this...

[2020-10-28 12:44] Jeej commented on #14114
Please add the restore command. It is possible to backup, but restore is apperently not possible 😢

[2020-10-28 13:21] gauravsuman8 opened #15700 "Unable to get-credentials for AKS"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {} --subscripti

[2020-10-28 13:43] #15700 closed

[2020-10-28 13:43] gauravsuman8 commented on #15700
Fixed after upgrading azure-cli

[2020-10-28 13:57] yonzhan commented on #15699
webapp

[2020-10-28 14:09] Strepto opened #15701 "WebApp:`az webapp create --runtime` not idempotent"
## Describe the bug

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az webapp create --name {} --resource-group {} --plan {} --runtime "node|12-lts"`
- `az webapp create --name {} --resource-group {} --plan {} --runtime "node|12-lts"`

## Expected

[2020-10-28 14:20] yonzhan commented on #15701
webapp

[2020-10-28 14:42] hobothulhu commented on #14841
@qwordy To update the case, I am still experiencing this issue today. If I can do anything to help, please let me know.

[2020-10-28 16:04] ArPharazon commented on #13881
Thanks! This tip fixed my issue.

[2020-10-28 18:07] jorgensigvardsson opened #15702 "Documentation is lacking output details"
All az cosmosdb sql command documentation is lacking detailed information about the output.

[2020-10-28 18:14] calvinsID commented on #15565
Hi @requilium, do you mind checking the details url of the latest log, ex https://listingsapp.scm.azurewebsites.net/api/deployments/3785c2ee2fd246d9baa198c32fb79b4f/log/7c4814d1-7088-42d0-9c0a-ca365dec13c8

[2020-10-28 18:17] MehaKaushik commented on #15430
Just to update, the fix for this was checked in sometime back, unfortunately, we are still waiting for the deployments to take place. I am guessing, in the next couple of weeks, it should be live.

[2020-10-28 18:18] shurd commented on #15524
Fixed in 2.14.0

[2020-10-28 18:18] #15524 closed

[2020-10-28 18:19] shurd commented on #15291
Fixed in 2.14.0. It will work to use an empty string in command prompt, but Powershell shell does not handle empty strings

[2020-10-28 18:19] #15291 closed

[2020-10-28 18:20] shurd commented on #14627
Fixed in 2.14.0

[2020-10-28 18:20] #14627 closed

[2020-10-28 18:46] DataBytzAI opened #15703 "tried to run az interactive, got immediate failure."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-10-28 18:46] philthynz opened #15704 ""az monitor metrics alert list" not showing custom alert rules"
If I define a custom alert rule, where the signal is "Custom log search". These alerts are not showing when I do a `az monitor metrics alert list --resource-group groupname --subscription subscriptionid -o table`

Only alerts that have the signal set as metric show up.

Is this expected?

[2020-10-28 20:29] heniu75 opened #15705 "WebApp:Unable to delete / disable deployment user via CLI"
The documentation shows how to show and how to set the user. How on earth may I remove or disable these credentials? Unfortunately I can find no information on this topic.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bea54d36-cb69-577c-e114-2c4bd0e33728
* Version Independent ID: 812e7aa5-2e8a-f9ef-d922-df188bd6275a
*

[2020-10-28 20:42] panchagnula commented on #15270
This is complete & we will keep taking more updates every sprint.

[2020-10-28 20:42] #15270 closed

[2020-10-28 20:46] panchagnula commented on #13647
closing due to lack of response.

[2020-10-28 20:46] #13647 closed

[2020-10-28 20:47] #13646 closed

[2020-10-28 21:03] btardif commented on #15680
@ThejaChoudary and @Kotasudhakarreddy can you try and repro this?

[2020-10-28 21:07] btardif commented on #15596
can you share the command you used for this? @PrakashLakhara would like to try and repro

[2020-10-28 21:09] btardif commented on #15567
@finboadsingal can you run this again with `--debug` flag? and provide the output?

[2020-10-28 21:12] finboadsingal commented on #15567
This is not a problem any more - something Microsoft did and I was able to
delete this using Azure Portal.

On Wed, Oct 28, 2020 at 4:09 PM Byron Tardif <notifications@github.com>
wrote:

--

*Dheeraj "Raj" Singal*
VP Compliance Product Manager, FINBOA
866-218-4096 x 1001 *|* www.finboa.com *|* Request a demo
<https://www.finboa.com/reg-e-dispute-tracking-contact/>

[2020-10-28 21:16] christopher-o-toole opened #15706 "The examples for storage container create are incorrect."
**Describe the bug**

According to the [rules for naming Azure resources](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-name-rules#microsoftstorage), only lowercase letters, numbers, and hyphens are allowed in a storage container name, yet the examples for `az storage container create` provide the sample name `MyStorageContainer`.

**To Reproduce**

Run `az stor

[2020-10-28 21:22] btardif commented on #15409
@Kotasudhakarreddy I think you fixed this already, can you validate and close?

[2020-10-28 21:24] btardif commented on #14623
This is fixed

[2020-10-28 21:24] #14623 closed

[2020-10-28 21:25] btardif commented on #14034
This is fixed in latest version

[2020-10-28 21:25] #14034 closed

[2020-10-28 21:30] jatinmaya commented on #11418
sudo yumdownloader azure-cli
Loaded plugins: fastestmirror, langpacks
Loading mirror speeds from cached hostfile
azure-cli-2.14.0-1.el7.x86_64.rpm

sudo rpm -ivh --nodeps azure-cli-2.14.0-1.el7.x86_64.rpm

az version
{
  "azure-cli": "2.13.0",
  "azure-cli-core": "2.13.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {}
}

I am still in version 2.13 @ fengzhou-msft could you please explain th

[2020-10-28 21:39] #15201 closed

[2020-10-28 21:42] panchagnula commented on #13466
We don't have an API for this so not something that can be handled reliably at this time.

[2020-10-28 21:43] btardif commented on #15279
@Kotasudhakarreddy closing this as **no-repro**

[2020-10-28 21:43] #15279 closed

[2020-10-28 21:45] btardif commented on #15236
This is by-design, there are no plans to support Azure Pipelines configuration through WebApps CLI

CC: @panchagnula

[2020-10-28 21:45] #15236 closed

[2020-10-28 21:45] vabgujral commented on #13466
@panchagnula Isn't this the API that needs to be used - https://docs.microsoft.com/en-us/rest/api/appservice/appserviceplans/getserverfarmskus

[2020-10-28 21:54] panchagnula commented on #13466
@vabgujral like I said *reliable* api - this currently has some known issues with Linux apps & windows container apps - so until those issues are fixed on API level we won't be taking the support on client side.

[2020-10-28 22:36] bquantump opened #15708 "pip Installing CLI on windows fails"
When attempting pip install azure-cli on windows globally, the following error occurs:

-mgmt-iothubprovisioningservices, azure-mgmt-servicefabric, azure-mgmt-cosmosdb, azure-cli
  WARNING: Failed to write executable - trying to use .deleteme logic
ERROR: Could not install packages due to an EnvironmentError: [WinError 2] The system cannot find the file specified: 'c:\\python38\\Scripts\\pyjwt.exe

[2020-10-28 23:00] tuttipazzo opened #15709 "az storage account keys list throwing errors after updating from azure-cli-2.0.45 to azure-cli-2.13??"
So I updated from 2.0.45 to 2.13 in hopes of getting the same options listed in

https://docs.microsoft.com/en-us/azure/storage/files/storage-how-to-use-files-cli

But I was wrong.  Seems 2.13 is not new enough.  So I just decided to not use
'--enabled-protocols SMB' option and continued on my merry way.

I just ran this command:

az storage account keys list -n <storage account name>

and it spit

[2020-10-28 23:42] bgklein commented on #15689
The osFamily refers to the --os-family number for cloud services as referenced https://docs.microsoft.com/en-us/azure/cloud-services/cloud-services-guestos-update-matrix. For a VMSS Image you should make use of --image

[2020-10-28 23:42] #15689 closed

[2020-10-29 00:07] yonzhan commented on #15702
cosmosdb

[2020-10-29 00:10] yonzhan commented on #15703
interactive

[2020-10-29 00:11] yonzhan commented on #15704
monitor

[2020-10-29 01:21] yungezz commented on #15708
hi @fengzhou-msft could you pls help to have a look? thanks

[2020-10-29 01:21] yungezz commented on #15705
routing to appropriate team

[2020-10-29 02:15] yonzhan commented on #15706
storage

[2020-10-29 02:20] yonzhan commented on #15709
storage

[2020-10-29 04:13] roalexan commented on #11261
For what it's worth, I kept getting this error until I removed several extraneous files that I had put into the app folder. I'm especially suspicious of some zips I had in there.

[2020-10-29 05:12] hisasima opened #15712 "Can not create AppGW v2 without private ip."
**Describe the bug**
I used below command to create AppGW v2 but it was failed.

$ az network application-gateway create -n myApplicationGateway -l canadacentral -g 3myResourceGroup --sku Standard_v2 --public-ip-address myPublicIp --vnet-name myVnet --subnet mySubnet

Deployment failed. Correlation ID: 12855b3e-7235-4b30-8527-993023968170. {
  "error": {
    "code": "ApplicationGatewayFrontendIpPr

[2020-10-29 05:45] panchagnula commented on #15705
@heniu75 are you suggesting that this is available via portal but not via CLI?

[2020-10-29 05:46] panchagnula commented on #15701
@calvinsID seems like the test test_webapp_up_change_runtime_version is also failing due to the same reason - can you take a look?

[2020-10-29 05:48] balag0 opened #15713 "Function app zipdeploy command fails due to invalid sas uri"
'az functionapp deployment source config-zip' command generates a sas uri, uploads app content and updates the WEBSITE_RUN_FROM_PACKAGE appsetting with the newly generated uri.

The generated sas uri is not based on UTC, so it is possible the sas uri might not be valid for a few hours depending on the region where the sas uri is generated.

https://github.com/Azure/azure-cli/blob/ddeaff14e255669d5

[2020-10-29 06:14] bim-msft commented on #14941
Resolved

[2020-10-29 06:14] #14941 closed

[2020-10-29 07:41] madsd commented on #15409
@kmadof , @btardif This works as expected. To remove a deny rule, you currently have to specify explicitly --action Deny as you could have two rules with the same name respectively allowing and denying separate conditions. We can update the validation error to: ValidationError: No rule found with the specified criteria. If you are trying to remove a Deny rule, you must explicitly specify --action

[2020-10-29 08:12] fengzhou-msft opened #15715 "az security workspace-setting show/list is not returning workspaceId"
## Describe the bug
The `workspaceId` in the response of `az security workspace-setting show/list` is always null while `az security workspace-setting create` can return the correct value for `workspaceId`. Is it by design or a bug?

**Command Name**
`az security workspace-setting show/list`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacte

[2020-10-29 08:16] kraiz commented on #12291
This is a problem open for months: `generate-sas` is handing out an **invalid** value. The provided URL will error out with:
[code]
It's breaking automated workflows. Please have a look into this.

[2020-10-29 08:28] tnotheis commented on #15712
Same issue here. Yesterday the same command worked without specifying a private IP.

[2020-10-29 09:08] fengzhou-msft commented on #15621
@aznetsuppgithub please advise on how to fix the error returned by service with `az network application-gateway create`:

Which SKU should we use? Standard_v2 does not work either.

[2020-10-29 09:15] sachiney opened #15716 "--subscription parameter not mentioned in the page"
I tried to run/test the commands and got error message 'Resource group not found'. In the previous steps I was logging into the subscription so I thought It would just use the subscription from context. But that was not the case and I had to provide --subscription <subs> and the error was resolved. Although --subscription tag is not found in the page, it can be used.

---
#### Document Details

⚠

[2020-10-29 09:32] #15594 closed

[2020-10-29 09:57] yonzhan commented on #15713
functionapp

[2020-10-29 10:01] yonzhan commented on #15715
security

[2020-10-29 10:08] yonzhan commented on #15712
network

[2020-10-29 11:02] prohand opened #15717 "RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded Caused by ResponseError('too many 500 error responses',))"
**Describe the bug**

Error in command SQL DATABASE Only

`UNKNOWN: Command error: ClientRequestError: Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /subscriptions/xxxxxxx/providers/microsoft.insights/metrics?timespan=2020-10-29T10%253A43%253A54%252B00%253A00%252F2020-10-29T10%253A53%253A54%252B00%253A00&interval=

[2020-10-29 11:11] yonzhan commented on #15717
SQL

[2020-10-29 11:17] Kotasudhakarreddy commented on #15409
@madsd - Thanks for your feedback. Will check and change the validation error as more informative.

[2020-10-29 11:24] idear1203 commented on #15716
@sachiney could you please provide the issued command?

[2020-10-29 11:56] sachiney commented on #15716
Below command with my firewall name/subscription/workspace/resourcegroup details was successful.
az synapse workspace firewall-rule create --name "MYIP001" --resource-group "USERRSG001" --workspace-name "USEDASW001" --subscription "<my_subs>" --start-ip-address "255.255.255.1" --end-ip-address "255.255.255.2"

It failed without the --subscription "<my_subs>" part .

[2020-10-29 13:14] idear1203 commented on #15716
I cannot reproduce the issue on my machine. The command can be successful without --subscription. @yonzhan do you have any suggestions to debug the issue? I suppose this is a general CLI issue. By the way, @sachiney , are you able to run other commands? For example, `az synapse workspace list` or `az storage account list`?

[2020-10-29 13:22] johseffer commented on #11237
Same problem here.

az --version
azure-cli                         2.11.1 *

core                              2.11.1 *
telemetry                          1.0.5 *

Python location 'C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe'
Extensions directory '\.azure\cliextensions'

Python (Windows) 3.6.8 (tags/v3.6.8:3c6b436a57, Dec 23 2018, 23:31:17) [MSC v.1916 32 bit (Intel)]

Legal docs a

[2020-10-29 13:35] sachiney commented on #15716
Ohh okay. I think now I understood it. I was running the CLI command through ansible task and I think in Ansible the context is not getting set the way it gets set in Powershell. So, I need to provide the subscription each time.
Same was the case for workspace list - in CLI it runs fine as context is set but not through ansible without --subscription.

[2020-10-29 14:17] yonzhan commented on #15716
Add @jsntcy in case any help is needed from CLI team.

[2020-10-29 14:23] con-f-use opened #15720 "Missing required python version in various setup.py files"
Currently, pip assumes 2.14.0 is the latest version for all python interpreters and installs that version. This causes errors like this on older python versions:

[code]

This probably a systemic problem in more than one of the azure libraries and because older packages with this error are already on pypi.org, it is hard to solve in retrospect. See https://github.com/Azure/azure-cli/pull/15719

[2020-10-29 16:20] cmrkz commented on #15601
Here's the debug output

Command arguments: ['storage', 'directory', 'create', '--account-name', '', '--account-key', '', '--share-name', '', '--name', '', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x7fc8f037a710>, <function OutputProducer.on_global_arguments at 0x7fc8ef7523b0>, <function CLIQuery.on_global_argumen

[2020-10-29 16:27] krishnagupta21 opened #15722 "Az Storage Blob Copy Start does not support SASConnectionString whereas other az storage blob commands do."
**Describe the bug**

I generated a SASConnectionString that looks like this:
[code]

I am trying to authenticate the copy command as follows:
[code]

However, this returns the following error:
[code]

When I try to use the same connection string for the following command, it works.
[code]

**To Reproduce**

Try running both the commands with same SASConnectionString and the copy command will fail

[2020-10-29 16:53] ModernRonin opened #15723 "WebApp:Make setting of complex appsettings easier by just allowing to upload regular JSON"
# Problem
Say you have a complex settings structure like:
[code]
that you want to set via the az cli. Currently, you have to transform this into a format like
[code]
in order to then be able to set it for a webapp or a function app with either of
[code]

This is really quite tedious because usually one has either some ready JSON files in the regular, nested format or one works with a combination o

[2020-10-29 17:04] wqoq commented on #2324
You might want to remove the following highlighted sentence from this documentation:
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli#run-the-azure-cli

Although that sentence is true by itself, in that context it implies you can use tab completion in Powershell with Azure CLI. I definitely don't read that and get the sense that there are "no plans to add support

[2020-10-29 17:40] BhargaviAnnadevara-MSFT opened #15724 "Defaults not accepted for all commands"
#### Generated through `az feedback` in favor of MicrosoftDocs/azure-docs-cli#2259

## Describe the bug

**Command Name**
`az group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Configured defaults as follows:
[code]
- Run `az group create`

## Expected Behavior
The expectat

[2020-10-29 17:49] BhargaviAnnadevara-MSFT commented on #15724
@Makovec FYI.

[2020-10-29 18:22] surajmb commented on #15621
Hi @fengzhou-msft , I see you have used self.check('frontendIpConfigurations[0].privateIpAllocationMethod', '_Dynamic_') in one of the creates, is it for testing the scenario?

Application Gateway Standard_v2 and WAF_v2 SKUs only support private IP allocation method as Static as mentioned in the error message.

[2020-10-29 19:12] timvanderweijde commented on #15520
The first az command are succesfull.

When I try to change the capacity from within the Azure Portal (web UI), I got the error.

[2020-10-29 19:16] evanlwj opened #15726 "Error message is unclear on listing key from an unavailable rule name in servicebus namespace"
### **This is autogenerated. Please review and update as needed.**
When run az command to list keys on  an unavailable rule name in namespace, return error message "**TypeError: string indices must be integers**" is unclear, hard to understand the root cause. That would be good to reflect the actual error when accessing an unavailable rule name.

## Describe the bug
Error message is unclear to get

[2020-10-29 21:19] codingoutloud opened #15727 "Incorrect error message for max length of resource group"
**Describe the bug**

The `az group create` command returns a ValidateError inconsistent with behavior.

Attempting to create a resource group with a 91 character name complains: `"ValidationError: Parameter 'resource_group_name' must have length less than 90."`

However, creating a 90 char name works (and 90 is not "less than 90"). So the message should read something like: `"ValidationError: Par

[2020-10-29 23:56] yungezz commented on #15727
cc @houk-ms for awareness

[2020-10-29 23:57] yungezz commented on #15726
add @houk-ms , typeError

[2020-10-29 23:59] yungezz commented on #15720
hi @fengzhou-msft could you pls take a look? thanks

[2020-10-29 23:59] yungezz commented on #15723
route to appropriate team

[2020-10-30 01:24] yonzhan commented on #15722
Storage

[2020-10-30 01:27] Juliehzl commented on #12291
Hi @jimmybourque  and @kraiz, may I know your cli version now? We already encode  the url in https://github.com/Azure/azure-cli/commit/cdad270771cc44df0317a522035aef96f1547eef, which should take effect after CLI 2.3.0.

[2020-10-30 01:29] yonzhan commented on #15724
add to S178

[2020-10-30 01:38] yonzhan commented on #15727
add to S178

[2020-10-30 01:45] link78 opened #15728 "WebApp:Issue relating creating appservice plan"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az appservice plan create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az appservice plan create -g {} -n {} --sku {} --is-linux`

##

[2020-10-30 01:57] houk-ms commented on #15726
@evanlwj Thanks for the feedbacks!
This issue should be resolved in the latest version, can you upgade CLI to 2.14.0 and try it again?

[2020-10-30 02:45] shenqianjin opened #15729 "WebApp:'az webapp ssh' not work for both Linux and windows webapps."
**Describe the bug**
C:\Users\qianjinshen>az webapp ssh --subscription 685ba005-af8d-4b04-8f16-a7bf38b2eb5a -n qianjinshen-wl-01 -g qianjinshen
This command is in preview. It may be changed/removed in a future release.
webapp ssh is only supported on linux and mac

C:\Users\qianjinshen>

**** Note that "qianjinshen-wl-01" is a Linux web app. ****

**To Reproduce**
Just execute the command.

**Expe

[2020-10-30 03:13] haroldrandom commented on #15520
what properties are you going to update?

[2020-10-30 03:18] pvrk commented on #15677
@kunjals : This command is only for AzureWorkload backup management type i.e., for databases such as HANA. This is not meant for Azure file shares. Can you please let me understand what is the scenario and how you were planning to use this command?

taggin @mepand for information

[2020-10-30 03:24] Juliehzl commented on #15722
Hi @krishnagupta21, `--connection-string` is used for destination storage account for `blob copy start` command.  It can be used to source only when the source storage account and destination storage account is the same one. To authenticate source blob in another storage account, you have to use `--source-account-key` or `--source-sas` with `--source-account-name`.

[2020-10-30 03:39] yungezz commented on #15729
route to webapp team

[2020-10-30 03:40] yungezz commented on #15728
route to appropriate team

[2020-10-30 04:34] Juliehzl commented on #15709
Hi @tuttipazzo, may I know your installed version for azure-mgmt-storage?

[2020-10-30 04:55] Juliehzl commented on #15668
See here https://github.com/Azure/azure-cli/blob/dev/doc/install_troubleshooting.md#errors-on-install-with-cffi-or-cryptography.
`sudo yum install -y python3-cffi`

[2020-10-30 06:23] Juliehzl commented on #10090
Hi @onpaws, you could create an issue here https://github.com/Azure/azure-cli/issues/new?assignees=&labels=&template=Feature_request.md&title=

[2020-10-30 06:24] Juliehzl commented on #10090
close the issue for no response

[2020-10-30 06:24] #10090 closed

[2020-10-30 06:30] kraiz commented on #12291
Hi @Juliehzl

[code]
I just run `generate-sas` multiple times and every 4th or 5th time the `sig` query params contains `/` next to ordinary escaped special characters.
[code]

[2020-10-30 09:17] kmadof commented on #15409
@madsd Thanks for replying. I will check that today!

[2020-10-30 10:19] chlandsi commented on #9277
It would be great to have something like `az extensions list-outdated`, and `az extensions upgrade-all` (cf. homebrew's `brew oudated` and `brew upgrade`).

[2020-10-30 10:51] onpaws opened #15732 "Steaming uploads to Azure storage"
**Is your feature request related to a problem? Please describe.**
Sometimes it's useful to upload data that's a raw byte steam, aka not a file. This appears to not be possible.

**Describe the solution you'd like**
Standard Unix tools support piping data across commands, would be helpful if users could pipe STDIN into some appropriate Azure storage option.

**Describe alternatives you've consider

[2020-10-30 10:51] onpaws commented on #10090
Submitted a new issue as requested

[2020-10-30 11:21] prohand commented on #15717
This problem is solved by itself.

Thank you

[2020-10-30 11:49] PrakashLakhara commented on #15596
The command was the following:
az webapp config set --name mywebapp   --resource-group MYRESOURCEGROUP --linux-fx-version "PHP|7.3"

[2020-10-30 11:50] PrakashLakhara commented on #15596
The command was the following:
az webapp config set --name mywebapp --resource-group MYRESOURCEGROUP --linux-fx-version "PHP|7.3"

[2020-10-30 12:26] ancorrg opened #15733 "Error after creating QnA with azure cli"
## Describe the bug

When deploying a new QNA maker service via az cli, using an ARM template, however I am unable to perform any actions - either via the qnamaker.ai portal or programatically via the rest api.

the template is as follows
`
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {

[2020-10-30 12:27] luckerby opened #15734 "az storage blob delete-batch ignores --query"
Assume you're after deleting all the blobs whose names match a specific pattern. If `az storage blob delete-batch` is used, there are 2 parameters of interest: `--pattern` and `--query`.

Having used recently `az storage blob list` with the `--query` parameter, I was expecting a similar functionality, however I was wrong. As such, using the command below would not result in the deletion of only th

[2020-10-30 14:04] krishnagupta21 commented on #15722
@Juliehzl I am using the same source and destination storage account.
Since its the same account I'm able to use just the  `--sas-token` for authentication. I'm also able to use
`--connection-string '"DefaultEndpointsProtocol=https;AccountName=<accountName>;AccountKey=<accessKey>EndpointSuffix=core.windows.net"'`

Thats why I think that the connection string with sas token should also be supported

[2020-10-30 14:26] ModernRonin commented on #11808
say you are writing a script that uses az cli and just for the scope of the script you want to change the output, for example, deactivate it completely except for errors (output=none). and you don't want to have to append the `--output=none` to each az command.

how'd you do that? write a local config file out at the beginning of the script?

[2020-10-30 14:44] jfggdl commented on #15618
@qwordy - Thanks for reporting this issue. I see errors related to webhook handshake and at least one related to permissions. We will investigate the root cause. Thanks.

[2020-10-30 14:48] #15668 closed

[2020-10-30 14:50] #15634 closed

[2020-10-30 14:52] fengzhou-msft commented on #15634
Fixed code in Azure CLI. It will be released on 11/27 and doc will also be in sync then.

[2020-10-30 14:55] yonzhan commented on #15732
add to S178

[2020-10-30 14:56] #15717 closed

[2020-10-30 14:58] yonzhan commented on #15733
add to S178

[2020-10-30 15:00] yonzhan commented on #15734
storage

[2020-10-30 17:30] demo-git-account opened #15735 "Potential vulnerability within Python's urllib3 library"
As per the NVD [a vulnerability](https://nvd.nist.gov/vuln/detail/CVE-2020-7212#range-4498807 ) is found within **Python's urllib3** library **1.25.2 through 1.25.7** that can allow a denial of service (CPU consumption) because of an inefficient algorithm within the **_encode_invalid_chars** function. This vulnerability can impact Azure CLI and the CLI container since Python is a required dependen

[2020-10-30 18:01] btardif commented on #15409
@panchagnula I talked to @madsd and he was going to help take a first pass with all the access restrictions related items.

[2020-10-30 21:08] nexxai commented on #11195
It's not an optimal solution, but until they add this functionality to az cli, here's a small ARM template that will let you customize the name of the ASP (obviously you'll want to change the region to suit your needs):

[code]

[2020-10-30 22:53] franzbull opened #15737 "Bug Report"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob download-batch`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob download-batch --destination {} --pattern

[2020-10-30 23:40] DiscoveringWorld opened #15738 "Bug with New-AzFunctionApp with Azure Gov"
Hello,
I logged with Connect-AzAccount  -Environment AzureUSGovernment
I created a storage on USGov Virginia.
After I tried to create an new function app with New-AzFunctionApp.
This command failed with The server responded with a Request Error, Status: BadRequest.

When I check the debug details its show that on the server side it try to use the public endpoint of the storage and not the azure go

[2020-10-31 02:15] yonzhan commented on #15737
storage

[2020-10-31 02:19] yonzhan commented on #15738
Please open this issue in azure-powershell repo.

[2020-10-31 02:19] #15738 closed

[2020-10-31 02:51] DiscoveringWorld commented on #15738
ok

[2020-10-31 03:36] #15706 closed

[2020-10-31 08:02] Anushka-codergirl opened #15739 "Please help - Azure command not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac --name {} --role {} --scopes {} --sdk-

[2020-10-31 13:01] giatule commented on #15712
I got the same issue

[2020-10-31 13:12] giatule commented on #15712
I passed the issue by add the specified IP with the defined subnet created for APPGW.
az network application-gateway create \
  --name "$appgw_name" \
  --location japaneast \
  --resource-group "$myResourceGroup" \
  --vnet-name "$vnet_vnetname" \
  --subnet "$appgw_sn_name" \
  --capacity 2 \
  --sku Standard_v2 \
  --http-settings-cookie-based-affinity Disabled \
  --frontend-port 80 \
  --http

[2020-11-01 02:01] yonzhan commented on #15739
add to S179

[2020-11-01 03:27] ericsuhong opened #15741 "az deployment validate/create command fails with "too many 500 error responses""
**Describe the bug**
We are trying to create a new VM using a custom ARM template.

**az deployment validate/create** command consistently fails with this error:
[code]

**To Reproduce**
Download this ARM template and save it as aks-base-image.txt
[aks-base-image.txt](https://github.com/Azure/azure-cli/files/5470147/aks-base-image.txt)

run these commands:
[code]
[code]

Both commands will consist

[2020-11-01 04:09] yonzhan commented on #15741
add to S179

[2020-11-01 05:38] haroldrandom commented on #15712
If `--private-ip-address` is not provided, Azure CLI would create a default private IP inside the default private subnet and it's IP address is dynamically created. And if `--private-ip-address` is provided, the allocation method is static.

I think it's a feature or restriction added from the service side. If you about to create an AppGw with default sku, it would succeed. But if with Standard_v2

[2020-11-01 10:29] yossi-y opened #15742 "Fix Log Analytics data export CLIs"
**Resource Provider**
operationalinsights

**Description of Feature or Work Requested**
Log Analytics data export CLI includes '--all' and '--export-all-tables' which were removed in swaggers.
1. Removed these in CLI.
2. The example in CLI doesn't include Tables as required parameter. Tables should be added to required parameters:
az monitor log-analytics workspace data-export create **--tables**

[2020-11-01 11:01] yossi-y opened #15743 "CLI requires parameter is showing as optional"
**Resource Provider**
operationalinsights

**Description of Feature or Work Requested**
Log Analytics data export CLI includes '--all' and '--export-all-tables' which were removed in swaggers.
1. Removed these in CLI.
2. The example in CLI doesn't include Tables as required parameter. Tables should be added to required parameters:
az monitor log-analytics workspace data-export create **--tables**

[2020-11-01 14:27] yonzhan commented on #15742
add to S179

[2020-11-01 14:31] yonzhan commented on #15743
add to S179

[2020-11-01 14:31] yossi-y commented on #15742
Could you add the date, since I'm not familiar with sprint count?

[2020-11-01 14:33] yonzhan commented on #15742
https://github.com/Azure/azure-cli/milestones

[2020-11-01 14:50] rmariboe opened #15744 "az group show in sandbox environment returns error"
CLIInternalError: The command failed with an unexpected error. Here is the traceback:
[Errno 30] Read-only file system: '/home/rune_mariboe/.azure/commands/2020-11-01.14-47-34.group_show.283.log'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 215, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages

[2020-11-01 14:51] rmariboe commented on #15744
Also, the newly created sandbox has only 52 minutes left. Maybe I got someone else's sandbox?

[2020-11-01 14:58] rmariboe commented on #15744
Manually recreating storage account helped...

[2020-11-01 15:26] fengzhou-msft commented on #14844
Close as this issue is caused by VM environment and workaround provided.

[2020-11-01 15:26] #14844 closed

[2020-11-01 20:17] Teodelas opened #15745 "Carriage return being added to output?"
**Describe the bug**
I'm seeing carriage returns being added it outputs.  As an example, I'm unable to create eventgrid subscription by passing bash variables that are populated by other az cli commands.

**To Reproduce**
iothub=$(az iot hub list -g adtdemo --query [].id -o tsv)
function=$(az functionapp function show -n teotwinfunction -g adtdemo --function-name twinsfunction --query id -o tsv)
a

[2020-11-01 22:44] roalexan opened #15747 "WebApp:az webapp up --runtime option should either be implemented or removed"
Here's the doc for az webapp up. It says there is a --runtime option
https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az_webapp_up

However, if I do:

call az webapp up --plan %app_plan% --name %app_name% --subscription %subscription_id% --resource-group %resource_group_name% --runtime "abc"

I get the error:

az: error: unrecognized arguments: --runtime abc

plus, az webapp

[2020-11-01 23:17] yonzhan commented on #15745
Core

[2020-11-01 23:19] yonzhan commented on #15744
@zhoxing-ms

[2020-11-01 23:19] #15744 closed

[2020-11-01 23:22] yonzhan commented on #15747
webapp

[2020-11-01 23:42] nehuenKC commented on #11657
Same problem over here

[2020-11-02 01:29] yungezz commented on #15735
hi @fengzhou-msft could you pls help to evaluate this and see upgrade plan? thanks

[2020-11-02 02:01] jiasli commented on #11808
We have introduced a new experimental commend group `az config` (#14436). You may now use `az config set core.output=none`. Please give it a try and send any feedback here. 😊

[2020-11-02 02:08] Juliehzl commented on #12291
Hi  @kraiz , I could reproduce the sas token with `/`, but it still works as expected no authentication error. Here is the link:
https://zuhdefault.blob.core.windows.net/test4/try.txt?se=2020-11-03&sp=ra&sv=2018-11-09&sr=b&sig=EV5vxI0Wg87/tnyCTNBfkuL085LMhtuANzcQQBl%2BNGg%3D

[2020-11-02 02:26] hisasima commented on #15712
I think below fix is related to this issue. After this fix, we fail to create AppGW without private ip.

https://github.com/Azure/azure-cli/pull/15255/files/8c1cbdf50b50ecd8dda7c577c54e7d54f6ac8b62

[2020-11-02 03:00] haroldrandom commented on #15712
Are you using the latest Azure CLI?

[2020-11-02 03:23] qwordy opened #15749 "az vm host group create, --platform-fault-domain-count required"
**Describe the bug**

A user reported
[code]
He said platform_fault_domain_count was not required before.

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-11-02 03:27] haroldrandom commented on #15712
@hisasima It is a regression introduced last time, the original goal is to able to create an application gateway with both public IP and private IP.
We will plan a way to think about how to fix it.

[2020-11-02 04:01] hermandr commented on #15627
OK Thank you

[2020-11-02 04:48] RyanHill-MSFT opened #15752 "WebApp:webapp create resulted in "'NoneType' object has no attribute 'lower'""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Could not create a webapp using cli. Upgraded to the latest version

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az

[2020-11-02 04:51] yonzhan commented on #15749
vm

[2020-11-02 04:54] yonzhan commented on #15752
webapp

[2020-11-02 05:19] amjads1 commented on #14106
@ajay15283 , @qwordy - I wanted to follow up and check if you need any further help on this issue. I will go ahead and close this issue tomorrow assuming that issue is resolved.

[2020-11-02 05:20] fengzhou-msft commented on #15621
@haroldrandom is the owner of network module and please check if we can use static private IP allocation method for the tests scenario.

[2020-11-02 05:25] haroldrandom commented on #15213
@aaaaasam Sorry. I can't reproduce.
![image](https://user-images.githubusercontent.com/14357159/97832861-d4b03f00-1d0e-11eb-8745-33d961f548b7.png)

Are this scenario happening again now?

[2020-11-02 05:46] Juliehzl commented on #11657
Hi @dwaijam , could you open a new issue in https://github.com/Azure/azure-cli/issues/new?assignees=&labels=&template=Bug_report.md&title=?
Please also add your system info, CLI version and debug information and we will look into it.

[2020-11-02 05:57] arrownj commented on #14577
Hi @v-sijeff , I will close this issue first as it seems to be an environment issue. If you still meet this or have other problems, you can reopen or submit a new one. Thanks

[2020-11-02 05:57] #14577 closed

[2020-11-02 06:11] Juliehzl commented on #15722
could you provide more info with`--debug` in your command? I cannot reproduce the issue now. I could copy with connection string for same account as below:
[code]

[2020-11-02 06:18] fengzhou-msft commented on #15675
If you run `/usr/bin/az --version`, does it give you the expected result?

If yes, please check your `PATH` env variable and make sure `/usr/bin/` is in front of `/mnt/c/Program Files (x86)/Microsoft SDKs/Azure/CLI2/wbin`.

[2020-11-02 06:37] arrownj opened #15753 "Support cross tenant image/disk in vm/vmss/image-version related commands"
**Describe the bug**
Currently if some resource reference a cross tenant image/disk, the create/update command for it would fail if the executor has no permission to access the source tenant.

Commands list as following:

- `az vm create` [DONE]
- `az vmss create` [DONE]
- `az sig image-version create` [DONE]
- `az vmss update` [DONE]
- `az vm update` (image done, disk still not support)
- `az sig

[2020-11-02 07:05] yonzhan commented on #15753
vm

[2020-11-02 07:10] haroldrandom commented on #15621
@surajmb What you said is https://github.com/Azure/azure-cli/issues/15712.
And it's quite wired, the test is passed when I submit this [PR](https://github.com/Azure/azure-cli/pull/15255/files/8c1cbdf50b50ecd8dda7c577c54e7d54f6ac8b62).

I will make a patch to this ASAP

[2020-11-02 07:35] kairu-ms commented on #15481
@tejasshah7 There's no Network API of version 2020-07-01 available in Python SDK.

[2020-11-02 07:35] fengzhou-msft commented on #15659
@christianfelixmerz how did you install azure cli? Do you know which version you installed?

[2020-11-02 07:42] fengzhou-msft commented on #15612
@ThomsonTan what is the error message?

If you run `az account show --query "id"`, does the value match with the id you provided with `--subscription`?

[2020-11-02 07:47] jsntcy commented on #15481
@tejasshah7 , please help check when 07-01 can be merged into master branch in https://github.com/Azure/azure-rest-api-specs/tree/master/specification/network/resource-manager/Microsoft.Network/stable which is the prerequisite of SDK release.

[2020-11-02 07:49] fengzhou-msft commented on #15506
Linux Repo Team is working on a new version of APIs to publish all package files together. We will migrate to the new API once it's ready to avoid unsynced InRelease and Release.gpg files due to signing service delays.

[2020-11-02 07:49] #15506 closed

[2020-11-02 07:51] fengzhou-msft commented on #15490
Duplicate of #14011

[2020-11-02 07:51] #15490 closed

[2020-11-02 07:51] fengzhou-msft commented on #15488
Duplicate of #14011

[2020-11-02 07:51] #15488 closed

[2020-11-02 07:52] fengzhou-msft commented on #15470
Duplicate of #14011

[2020-11-02 07:52] #15470 closed

[2020-11-02 07:55] fengzhou-msft commented on #15390
Updated in the troubleshooting part: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest#no-module-issue-on-ubuntu-2004-focalwsl

[2020-11-02 07:55] #15390 closed

[2020-11-02 07:56] christianfelixmerz commented on #15659
@fengzhou-msft I installed the latest .msi package. Tested with 2.13 and 2.14

[2020-11-02 09:19] fengzhou-msft commented on #15334
Fixed in version 2.13.0.

[2020-11-02 09:19] #15334 closed

[2020-11-02 09:33] #14976 closed

[2020-11-02 09:37] fengzhou-msft commented on #13927
Please try this [workaround](https://github.com/Azure/azure-cli/issues/15627#issuecomment-716129300).

[2020-11-02 10:02] starwish110 opened #15755 "[az webapp config appsettings set]update by json file"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config appsettings set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config appsettings set --resource-group {} --

[2020-11-02 10:06] #15755 closed

[2020-11-02 10:20] ModernRonin commented on #11808
will do and let you know within the next few days how it goes :-)

[2020-11-02 10:56] prashantp48 opened #15756 "Unable to Start VMs in VM Scale Set using azcli command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vmss start`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vmss start --instance-ids {} --name {} --resource-group {}`

## Expecte

[2020-11-02 11:36] tyberiksen opened #15758 "Trouble with Azure in setting up Farm Beats"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --resource {}`

## Expected Beha

[2020-11-02 11:37] tyberiksen commented on #15758
This is my first experience with Azure, and Im not sure what the problem is that Ive encountered.

[2020-11-02 12:12] yonzhan commented on #15758
add to S179

[2020-11-02 13:21] dr-dolittle commented on #15600
@yonzhan What is the current status on the issue? Is it already fixed respectively when will the fix be available for usage? Thanks

[2020-11-02 17:23] krishnagupta21 commented on #15722
[code]

[2020-11-02 18:49] michaelsrichter opened #15762 "az sql server audit-policy returns "nsufficient permissions", but works with Powershell"
**Describe the bug**

**To Reproduce**
*  created a new sql db server, storage account and vnet.
* I gave the storage account a private endpoint on the vnet and left network bypass for AzureServices

To enable auditing, I took these steps:

* Created Managed Identity for SQL
[code]
* Created a Role Assignment on the storage account for the managed identity
[code]
* Set the audit policy
[code]

Thi

[2020-11-02 18:58] cjpluta commented on #13929
+1 encountering this issue.
Any update to ETA @panchagnula or @singlessis  ?

[2020-11-02 19:13] samuelkoppes commented on #14698
This issue should be resolved, please upgrade to the latest version of the SDK and retest.

[2020-11-02 19:13] #14698 closed

[2020-11-02 21:00] mgmccarthy opened #15763 "az webapp create -i creates wrong type of image source when using acr"
**Describe the bug**
When creating a new app service from an image in acr with the cli, the following cli command creates an app service with an Image source of Private Registry instead of Azure Container Registry:
`az webapp create --resource-group ResourceGroup --plan Plan --name Name -i AcrUrl/ImageName:ImageTag`

**To Reproduce**
Run the command from the Description section above (with a valid

[2020-11-02 21:44] mgmccarthy commented on #15763
Alright,

[2020-11-02 21:44] #15763 closed

[2020-11-02 22:04] ianblitz commented on #14698
I have validated it is working on version 2.14.0. Thank you!

[2020-11-02 22:04] massimo1993 commented on #1528
I need a wait option for storage account. I'm having issues creating a container right after the storage account is created using az cli.

[code]

[2020-11-02 22:27] shivabommakanti03 opened #15764 "az login --identity fails from Azure VMs"
When I install az cli on Azure VM and run `az login --identity` it gives me an error as below.  What should I do to fix this issue.
`AzureResponseError: Failed to connect to MSI. Please make sure MSI is configured correctly.
Get Token request returned http error: 400, reason: Bad Request`

[2020-11-02 22:29] l3ender commented on #15381
Is there any standalone executable that can be used instead of the admin install? We are not able to use the CLI in our organization. We have Windows but Python is not installed.

[2020-11-02 22:32] sbonds opened #15765 "Allow Azure CLI to attach multiple disks to a VM at once"
**Describe the bug**

When attaching multiple disks to an Azure VM at once using the `--ids` parameter on `az vm disk attach` only one disk gets attached and the command fails with upstream REST API errors.

**To Reproduce**

In bash:

[code]

**Expected behavior**

The multiple disks specified in `--ids` will be attached on sequential LUNs starting with the next available and filling any availabl

[2020-11-02 23:48] ThomsonTan commented on #15612
@fengzhou-msft pasted the error message as below. The subscription Id doesn't match between the output of `az account show --query "id"`, and the one I specified to `--subscriptoin`.

Unable to get AAD authorization tokens with message: An error occurred: CONNECTIVITY_REFRESH_TOKEN_ERROR
Access to registry 'xxx.azurecr.io' was denied. Response code: 401. Please try running 'az login' again to refr

[2020-11-03 00:03] sbonds commented on #15765
This is associated with Microsoft case 120103021000071.

[2020-11-03 01:41] yungezz commented on #15762
routing to appropriate team

[2020-11-03 01:41] yungezz commented on #15764
hi @shivabommakanti03 from the error, has you enabled MSI of the VM?

[2020-11-03 01:45] yungezz commented on #15765
hi @qwordy could you pls help to have a look? this is from a customer case, thanks

[2020-11-03 01:49] qiaozha opened #15766 "Upgrade the azure-mgmt-core in cli core"
The latest autorest.python 5.4.0 has resolved an important issue of duplicate base class properties in multi-layer inheritance. But it has upgraded the dependency of azure-mgmt-core to 1.2.1 at the same time and azure-cli-core is still using 1.2.0

And autorest.az has already upgraded to the latest autorest.python 5.4.0.

To make it work azure-cli-core need to release a new version with latest azu

[2020-11-03 01:57] AbelHu opened #15767 "`az extension update --name aks-preview` cannot find the installed extension aks-preview"
**Describe the bug**

After running `az upgrade` to upgrade azure-cli from `2.12.0` to `2.14.0`, I cannot upgrade aks-preview.

az extension update --name aks-preview
The extension aks-preview is not installed.

**To Reproduce**

**Expected behavior**

Update aks-preview from "0.4.64" to "0.4.65"

**Environment summary**

`az version`:
[code]

**Additional context**

`az feedback` with 9 got below

[2020-11-03 01:59] AbelHu commented on #15767
Close it since I installed all extensions development mode

[2020-11-03 01:59] #15767 closed

[2020-11-03 02:43] yonzhan commented on #15756
Cloud Shell

[2020-11-03 02:44] yonzhan commented on #15766
core

[2020-11-03 02:59] qwordy commented on #15765
@sbonds Can you run `az vm disk attach --vm-name "someazurehostname" --caching "None" --sku Premium_LRS --ids $disks_to_attach --debug` and send output here? Logs are helpful for me to debug. I am also doing experiments and analyzing source code.

[2020-11-03 03:21] qwordy commented on #15765
This feature is not supported yet. It calls this function for each ID at the same time. So the next lun is the same. Hence, conflict. --ids is a global parameter. We have not adapt it to this command. I will explicitly state it in `--ids` help of this command. This piece of code was written long time ago. Mark it as feature request.
![image](https://user-images.githubusercontent.com/5019528/979466

[2020-11-03 03:34] yungezz opened #15769 "[Compute] Simplifying SSH access to Linux VMs"
**Is your feature request related to a problem? Please describe.**

Support SSHPublicKey resource in CLI, and support VM creation using SSHKey resource.

**Describe the solution you'd like**

A new `sshkey` verb will be required in CLI.

Upload a new key

`az sshkey upload --ssh-key-value VALUE --ssh-key-name NAME`

Create new Key Pair

`az sshkey create --ssh-key-name NAME`

 

If a key with the

[2020-11-03 03:34] yungezz commented on #15769
put into S179 now.

[2020-11-03 04:17] michaelschmit opened #15770 "az aks update: "unrecognized arguments: -—load-balancer-outbound-ips""
Trying to update the public IP for my aks cluster via the az aks update command I'm receiving the error:
`unrecognized arguments: -—load-balancer-outbound-ips`

The command I am replicating from documentation is:
`az aks update \
    --resource-group myResourceGroup \
    --name myAKSCluster \
    --load-balancer-outbound-ips <publicIpId1>,<publicIpId2>
`

Originally I was on az cli version 2.12 a

[2020-11-03 04:56] yungezz commented on #15770
route to service team

[2020-11-03 05:41] hyoshioka0128 opened #15772 "Typo "Azure SQL server"→"Azure SQL Server""
https://docs.microsoft.com/en-us/cli/azure/sql?view=azure-cli-latest

"az sql server vnet-rule create | Create a virtual network rule to allows access to an Azure SQL server."
                                                                                                                                                      ↓
"az sql server vnet-rule create | Create a virtual network rule to allow

[2020-11-03 05:44] yungezz commented on #13601
service ETA Jan-14

[2020-11-03 05:49] hyoshioka0128 opened #15773 "Typo "Azure SQL server"→"Azure SQL Server""
https://docs.microsoft.com/en-us/cli/azure/sql/server/ad-admin?view=azure-cli-latest

"Name of the Azure SQL server. You can configure the default using az configure --defaults sql-server=<name>."
↓
"Name of the Azure SQL Server. You can configure the default using az configure --defaults sql-server=<name>."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2020-11-03 05:56] yonzhan commented on #15772
sql

[2020-11-03 05:57] yonzhan commented on #15773
sql

[2020-11-03 07:36] harryjjun opened #15778 "WebApp:Connection aborted when az webapp up starting zip deployment"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --resource-group {} --location {} --plan {} --sku {} --name {}

[2020-11-03 09:41] yonzhan commented on #15778
webapp

[2020-11-03 11:56] jerinthomas1404 commented on #7234
Can you share a sample cronjob / script, so that I can replicate? It would be helpful I'm new to this realm.

[2020-11-03 12:05] Jarwain commented on #11469
Any update on this?

I have no trouble using Azure App Services with my private container registry. It looks like the issue is with the serverside validation of the template's `imageRegistryCredentials` property. I encounter the same issue when trying to create an ACI via the web portal.

[2020-11-03 14:24] madsd commented on #15409
@kmadof Did you have a chance to verify?

[2020-11-03 15:38] madsd commented on #11698
The command was designed with the --subnet parameter accepting both a name combined with a vnet-name or a full resource-id for the subnet in the same --subnet parameter. However, we have had a few issues created on this not being clear, so we will improve help text and examples as well as adding a --vnet-resource-group to explicitly be able to specify this.

[2020-11-03 15:50] shahht opened #15783 "az extension add --name azure-devops failing"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az extension add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az extension add --name {}`

## Expected Behavior

## Environment Summa

[2020-11-03 17:40] michaelschmit commented on #15770
I should note that I am running on MacOS.

[2020-11-03 18:08] sbonds commented on #15765
It sounds like you understood the problem very well based on your own testing, however I'll add a comment with a detailed description of how to replicate the issue and associated debug logs.

[2020-11-03 18:08] sbonds commented on #15765
# Bug Replication Process - attaching multiple disks to a VM

## Create the basic infrastructure for the VM

### Set bash variables to define our environment

[code]

### Log in and choose an appropriate subscription

[code]

### Create resource group

[code]

### Create diagnostic storage account

[code]

### Create virtual network

[code]

### Create network security group

Allow SSH from your o

[2020-11-03 21:28] awentzel commented on #13678
Could you provide an update please?

[2020-11-03 22:15] netapp-juliec commented on #15209
Can we please get an update on this PR?  Thanks.

[2020-11-03 22:20] herreraj-ms commented on #15543
Hi @yonzhan,

I just saw that the milestone change to S179.
I think there was a meeting on Nov 2nd for reviewing the onboarding process.

Do you need anything from my side?

[2020-11-03 23:13] #15567 closed

[2020-11-03 23:20] #13397 closed

[2020-11-03 23:21] yonzhan commented on #15543
Please let us know when swagger is merged in public repo and Python SDK request is sent out.

[2020-11-03 23:24] yonzhan commented on #15209
netappfiles service team should look into this issue.

[2020-11-03 23:25] yonzhan commented on #13678
CDN service team should look into this issue.

[2020-11-03 23:28] chenlomis opened #15787 "Interesting issues with az translator"
**Describe the bug**

(including expected behavior in the same section)

1) One specific error is calling out that --template and --parameters are missing... although what actually triggered the error is that _-- resource-group_ is misspelled...
![image](https://user-images.githubusercontent.com/30876406/98051362-8f604000-1de8-11eb-941c-7181ef7b273f.png)

and I attempted the commands 3-4 times bef

[2020-11-03 23:36] tuttipazzo commented on #15709
python3-azure-mgmt-storage-16.0.0-26.1.  So I had to deinstall everything related to azure-cli by hand (OUCH).  The problem was that I didn't remove the old azure-cli like so:

sudo zypper -n rm -y --clean-deps azure-cli

That got rid of all the older pkg azure-cli dependencies.  In the end I wind up re-installing the older version as other things were breaking using the newer azure-cli.  But that

[2020-11-03 23:55] yungezz commented on #15787
hi @arrownj could you pls check it? thanks

[2020-11-04 00:02] herreraj-ms commented on #15543
Swagger specs are already merged:

- DCR: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/dataCollectionRules_API.json
- DCRA: https://github.com/Azure/azure-rest-api-specs/blob/master/specification/monitor/resource-manager/Microsoft.Insights/preview/2019-11-01-preview/dataCollectionRuleAssociations_API.

[2020-11-04 00:55] cylin2000 commented on #12513
Hi Team,
We met this issue also, is there any ETA for this issue? thanks.

[2020-11-04 01:24] yonzhan commented on #15543
@jsntcy @kairu-ms for awareness. We have planned this in S179. Firstly, codeGen should validate this.

[2020-11-04 01:36] jsntcy commented on #15543
@herreraj-ms, yes I saw the SDK release request.

[2020-11-04 01:37] richardlm57 commented on #14909
Hello, is there any update about this?

[2020-11-04 01:45] yonzhan commented on #12513
functionapp service team should look into this issue.

[2020-11-04 02:23] johndowns opened #15788 "Allow for custom polling intervals when deploying ARM templates"
**Is your feature request related to a problem? Please describe.**
Currently customers who spend a lot of time developing, testing, and debugging ARM templates using the Azure CLI have to wait until the system decides to poll for updates, which might be up to ~30 seconds after the deployment completes. This small delay adds up and is quite frustrating.

**Describe the solution you'd like**
Please

[2020-11-04 02:36] qwordy commented on #15765
Thank you for attaching more details!

[2020-11-04 03:07] Juliehzl commented on #15709
Hi @tuttipazzo, thanks a lot for your information.
The root cause for your issue should be caused by azure-mgmt-storage 16.0.0, which has breaking changes compared with 11.2.0. When you install azure cli with pip, your azure-mgmt-storage 16.0.0 will take effect and azure cli is not compatible with the new version. A workaround is that you could downgrade azure-mgmt-storage to 11.2.0 with `pip inst

[2020-11-04 03:08] Juliehzl commented on #15709
@jsntcy please also take a look for this track 2 issue in storage module.

[2020-11-04 03:33] yonzhan commented on #15788
ARM

[2020-11-04 03:34] jsntcy commented on #15709
Will fix this issue when CLI migrate to track2 storage SDK in this sprint, currently CLI still only support track1 storage SDK.

[2020-11-04 03:48] yungezz commented on #15783
hi @fengzhou-msft could you pls help to check if this is packaging issue. If not, let's redirect to devops command owner team.

[2020-11-04 06:16] amwate opened #15790 "[Network] add "az network express-route port generate-loa" for generating Letter of Authorization"
Resource Provider

Network

Description of Feature or Work Requested

We have updated the Azure-Powershell with a new Cmdlet.

Changes:

Added New-AzExpressRoutePortLOA cmdlet. This cmdlet fetches a pdf document as base64 encoded string in the JSON response from Nfv-RP and saves the pdf on the local machine.
Minimum API Version Required

2020-06-01

Swagger Link

https://github.com/Azure/azure-res

[2020-11-04 06:28] neelbhavsar97 commented on #15790
Below is the PR with the powershell changes for the same.

[2020-11-04 06:31] yonzhan commented on #15790
Network

[2020-11-04 07:23] Riccardo-Fiorentino commented on #10700
I have a similar issue when using ARM templates
{
    "error": {
        "code": "ContainerOperationFailure",
        "message": "Specified feature is not yet supported for hierarchical namespace accounts.\nRequestId:fcce3e69-301e-001e-5cef-b1cc8b000000\nTime:2020-11-03T14:43:26.0342864Z"
    }
}

To recreate just try create a container through an ARM template for a storage account that has Hierar

[2020-11-04 07:51] Juliehzl commented on #10700
@Riccardo-Fiorentino May I know your azure CLI version? It is supported in azure cli already. But for ARM template, add @zhoxing-ms  for help.
@angiolep CLI command is `az storage fs create` with azure cli >= 2.6.0.

[2020-11-04 07:57] Riccardo-Fiorentino commented on #10700
Good day Juliezl, not using cli. Tried using an older API for the ARM, but not functioning.

[2020-11-04 08:45] vmignot commented on #14116
Hi!
I too have this issue!
You can reproduce it with the CLI :
$ az dls fs access set-entry --account testdlsaccount --acl-spec user:${A_USER_ID}:r-w --path "/"

`Command group 'dls' is in preview. It may be changed/removed in a future release.
CLIInternalError: The command failed with an unexpected error. Here is the traceback:
Data-lake REST exception: MODIFYACLENTRIES, .
Traceback (most recent

[2020-11-04 08:50] fengzhou-msft commented on #15615
The `test_aks_create_default_service_with_virtual_node_addon` test in `test_aks_commands.py` failed with the following message from service: `"Operation failed with status: 'Bad Request'. Details: ACI Connector requires azure network plugin"`

The remaining failures are in `test_osa_commands.py` for openshift tests.

[2020-11-04 12:45] Gerrit-K commented on #15420
Same here, trying to use the Azure CLI task in combination with a service connection that uses a managed identity on subscription level. I've set up the service connection as a user with the "Contributor" role, so I don't have write access on the active directory. Is this relevant?

[2020-11-04 13:46] pvrk commented on #15677
@kunjals : A gentle reminder to comment.

[2020-11-04 13:50] Arungo01 opened #15795 "[az webapp deployment] - WebApp:I cant able to deploy a html file"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment source config-zip --resource

[2020-11-04 16:50] HappyTobi opened #15796 "[Network] "az network network watcher configure" - NetworkWatcherCountLimitReached"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network watcher configure`

**Errors:**
[code]

## To Reproduce:
- Deploy a network watcher to a specified region like "eastus"
`az network watcher configure --subscription {} --locations eastus --resource-group {} --enabled {} --debug`
- Verify that the command was succeed
- Rerun the sam

[2020-11-04 19:03] MehaKaushik commented on #15702
Hi @jorgensigvardsson Thanks for creating the issue. Can you please be more elaborate on what sort of detailing you are looking for here ? We have our docs in here https://docs.microsoft.com/en-us/cli/azure/cosmosdb/sql?view=azure-cli-latest
The same would be shown for each command on using the "help" parameter.

[2020-11-04 19:10] MehaKaushik commented on #13686
Hey all, just to update, we are still waiting for deployments to complete.

[2020-11-04 19:34] Nilesh54 opened #15798 "az account get-access-token --resource https://database.windows.net | 'Response' object has no attribute 'status'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
` az account get-access-token --resource https://database.windows.net`

**Errors:**
[code]
Linux-4.15.0-1098-azure-x86_64-with-debian-stretch-sid (Cloud Shell)
Python 3.6.10
Installer: DEB

azure-cli 2.14.0

Extensions:
ai-examples 0.2.4

[code]

[2020-11-04 21:26] JohnRusk opened #15799 "Fix validation of dns-service-ip in command aks create, so that people won't create broken AKS clusters"
**Describe the bug**
There is missing validation on the `dns-service-ip` parameter in the command `az aks create`.  The CLI does not do the same validation as the Azure portal.  The portal does the right thing: it only lets it be used with CNI networking, and it prevents the use of 10.0.0.0 which is not a valid value.  The CLI should do the same validation, because otherwise people can create AKS

[2020-11-04 21:30] kevin-secrist opened #15800 "Missing deployment slot support for az functionapp update"
###  Describe the bug

Hi there!

When attempting to update one of the properties on my function app, I found that `az functionapp update` does not have slot support. To attempt to work around this I tried using `az webapp` (which does have slot support) but it gave me an error telling me to use `az functionapp` instead.

Other commands that may/may not need slot support:

[code]

## To Reproduce:

[2020-11-04 22:43] yonzhan commented on #15795
webapp

[2020-11-04 22:44] yonzhan commented on #15796
Network

[2020-11-04 22:47] yonzhan commented on #15798
account

[2020-11-04 22:48] yonzhan commented on #15799
aks

[2020-11-04 22:49] yonzhan commented on #15800
functionapp

[2020-11-04 23:38] btardif commented on #15747
@calvinsID this looks like a bug since we always want to *auto-detect* runtime for UP scenarios. `--runtime` parameter should be removed

FYI @panchagnula

[2020-11-04 23:41] btardif commented on #15240
@gsethgit can you help take a look? is there a backup dev that can help here?

[2020-11-04 23:42] btardif commented on #14573
@gsethgit can you help take a look? can we get one of the backup devs to help?

[2020-11-04 23:46] btardif commented on #10303
This is not a limitation of the CLI, using a storage account across subscriptions as a BYOS mount is not currently supported.

The right forum to request this is Uservoice: https://feedback.azure.com/forums/169385-web-apps/filters/top

[2020-11-04 23:46] #10303 closed

[2020-11-04 23:48] btardif commented on #14631
We don't support setting this up through create, but this can be done after the resource already exists, here is documentation:

- [How to use system-assigned Managed Identities with App Service and Azure Container Registry](https://github.com/Azure/app-service-linux-docs/blob/master/HowTo/use_system-assigned_managed_identities.md)
- [How to use user-assigned Managed Identities with App Service an

[2020-11-04 23:48] #14631 closed

[2020-11-05 02:00] haroldrandom commented on #15666
Closed as PR merged

[2020-11-05 02:00] #15666 closed

[2020-11-05 02:10] #15670 closed

[2020-11-05 02:46] arrownj commented on #15787
Hi @chenlomis , for the first problem, actually it's not a problem of the cli-translator extension. It's an error message reported by CLI argument parser. Actually if you run `az vm create -- resource-group <rg> --name <vm_name> --image UbuntuLTS`, it will report a similar error message. In your case, you must set default resource-group before(try to run `az configure list-defaults`, you should se

[2020-11-05 02:49] zhoxing-ms commented on #10700
It is a known issue of service that some features are not supported in hierarchical namespace accounts.
As for Blob REST APIs, [doc link:](https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-known-issues#blob-storage-apis)

[2020-11-05 02:59] zhoxing-ms commented on #10700
For the error of ARM template, it should also be caused by some features not supported by hierarchical namespace accounts.
This requires service team to confirm what and why it is not supported~
[code]
**RequestId: 9e747912-c01e-00e3-5cb3-776430000000**

[2020-11-05 05:47] #11698 closed

[2020-11-05 06:34] #15716 closed

[2020-11-05 07:19] nilsga opened #15805 "Can't resolve Keyvault reference in App Config with managed identity"
## Describe the bug
Resolving a keyvault reference through App Config, with a VM managed identity does not work.

**Command Name**
`az appconfig kv list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior.

* Create a VM with a managed identity
* Create a keyvault, and give VM access policy to get and list secrets
* Create an App Config instance
* Add a keyvault reference, say `

[2020-11-05 08:24] derrix060 commented on #5713
any news?

[2020-11-05 08:30] anthony-c-martin opened #15808 "az deployment * create samples contain incorrectly-formatted parameters"
The example "Create a deployment at management group from a local template file, using parameters from a JSON string" contains incorrectly-escaped invalid JSON, and fails when run. This appears to be the same for the other equivalent examples (`az deployment sub create`, `az deployment rg create`, etc)

The example:
[code]

Should be:
[code]

---
#### Document Details

⚠ *Do not edit this section.

[2020-11-05 09:09] timvanderweijde commented on #15011
@sebansal  @haroldrandom If there is anything I can do let me know.

[2020-11-05 10:59] ptoluganti opened #15810 "az network application-gateway root-cert create not working (TLS termination)"
$gatewayCertCerPath = "D:\certificates\apim.cer"
$gatewayName = 'gw001'
$certName = 'apim_cert'
$resourceGroup = 'dmz-gw-rg'

az network application-gateway root-cert create --cert-file $gatewayCertCerPath --gateway-name $gatewayName --name $certName --resource-group $resourceGroup

This command fails after sometime.

This behaviour is same even in portal. if i try to upload/change CA certificate

[2020-11-05 11:17] yonzhan commented on #15805
appconfig

[2020-11-05 11:21] yonzhan commented on #15808
ARM

[2020-11-05 11:35] yonzhan commented on #15810
network

[2020-11-05 14:04] elliotchaim opened #15811 "WebApp:Cannot list publishing profiles using resource IDs"
## Describe the bug

Publishing profiles are not returned when using the `--ids` parameter to specify the web app. Instead, an empty array is returned. Using `--name` and `--resource-group` instead works correctly.

**Command Name**
`az webapp deployment list-publishing-profiles`

**Errors:**

## To Reproduce:

[code]

## Expected Behavior

Correct publish profile is returned

## Environment Summa

[2020-11-05 14:11] patricekrakow commented on #13855
I had the same issue "Read-only file system", and it (might) has been fixed by restarting the cloud shell using the "power" button.

[2020-11-05 14:12] shahht commented on #15783
Any help would highly be appreciated as we are blocked.

[2020-11-05 14:20] yonzhan commented on #15811
webapp

[2020-11-05 14:27] patricekrakow commented on #13855
Yes, I can reproduce the problem and the fix/workaround:
1/ Delete the group "cloud-shell-storage-westeurope" in which the "Storage account" for the Cloud Shell has been created.
2/ Wait for the deletion.
3/ Go back to Cloud Shell and click "Create storage".
4/ See the issue by typing (for instance):

[code]

5/ Restart Cloud Shell with the "power" button/icon.
6/ Check that the issue is fixed by

[2020-11-05 15:00] swkoganti opened #15812 "How to get list of work items in azure boards using a command in Azure CLI"
https://docs.microsoft.com/en-us/cli/azure/ext/azure-devops/boards/work-item?view=azure-cli-latest#ext_azure_devops_az_boards_work_item_show
refer to this above url I did not find any related command to list all work items

[2020-11-05 15:34] johnsen9000 opened #15813 "What are the SKU options?"
I am trying to google and looking at the options, but can't find the SKU options. Would it might be an idea to put the options in the creation description?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f43f74b5-856c-3b6a-1a75-f1c7e1dd1c81
* Version Independent ID: 63e76088-2537-b337-c130-20dcad6d772c
* Content: [az se

[2020-11-05 16:31] smcgrawDotNet commented on #13855
Good day,

Same problem -- I had to close and reopen any tools connected to Azure -- I
was leaving my system locked at the end of the day, however, I would leave
tools open.

On Thu, Nov 5, 2020 at 6:12 AM Patrice Krakow <notifications@github.com>
wrote:

[2020-11-05 18:25] tejasshah7 commented on #15481
@kairu-ms the SDK for 07-01 is now released.

[2020-11-05 18:48] jorgensigvardsson commented on #15702
All commands seem to return a response in a structured format. I would like to use the response to figure out what happened. In order to do that, some kind of schema for the output would be nice.

[2020-11-05 18:58] amjads1 commented on #14106
Closing this issue assuming that issue is resolved. Feel free to re-open if you need any further assistance. Thanks!

[2020-11-05 18:58] #14106 closed

[2020-11-05 20:42] avirishuv commented on #14841
hi @hobothulhu are there any additional steps after VM reaches Running state, for example extension provisioning? Such additional steps after Starting of the VM can take more time. And the Start operation will wait for these additional steps to complete.

[2020-11-05 20:51] hobothulhu commented on #14841
I'm not aware of any extensions like that. And this process had been functioning for 3-4 months before this began. My VM has two extensions: 1)TeamServicesAgentExtension and 2)SqlIaasExtension. I am not using the SqllaasExtension one, nor have I used it. The TeamServicesAgentExtension works fine to my eyes as well.

[2020-11-05 20:57] avirishuv commented on #14841
@hobothulhu thanks for the info, this helps.
The extensions that you are using may be taking longer time to finish after the VM has started. This additional time is why the operation does not complete even though VM shows as Running, as the operation waits for the extensions to complete.

[2020-11-05 21:41] yiyiguo commented on #13497
@Azure/azure-iot-cli-triage

[2020-11-05 21:46] yiyiguo commented on #10637
@Azure/azure-iot-cli-triage

[2020-11-05 21:47] avirishuv commented on #15265
@qwordy @smoop-msft as discussed, the issue was related to zone level availability for the specific deployment. The API and CLI responses were as per the expected behavior. Closing the issue, thanks.

[2020-11-05 21:47] #15265 closed

[2020-11-05 22:08] lostmygithubaccount commented on #15434
@fengzhou-msft any updates?

[2020-11-05 22:20] lostmygithubaccount commented on #14847
@datarocksAmy apologies for the slow response, is this still an issue with more recent versions of the CLI?

[2020-11-05 22:22] lostmygithubaccount commented on #13289
hi @krishnakarthi are you still facing this issue?

[2020-11-05 22:25] lostmygithubaccount commented on #11379
@algattik are you still facing this issue?

[2020-11-05 22:26] lostmygithubaccount commented on #11078
@michaelnemtsev are you still facing this issue?

[2020-11-05 22:27] lostmygithubaccount commented on #10509
@v-strudm-msft please close, duplicate of #11078

[2020-11-05 22:33] #10509 closed

[2020-11-05 22:48] yonzhan commented on #15813
search

[2020-11-05 22:49] yonzhan commented on #15812
devops

[2020-11-05 23:55] MehaKaushik commented on #15702
These are our REST API docs https://docs.microsoft.com/en-us/rest/api/cosmos-db-resource-provider/

The responses would adhere to what is described here. Can you please have a look and let me know is this what you are expecting. The response would look exactly like what is described in there. Make sure to look for 2020-04-01 apiVersion https://docs.microsoft.com/en-us/rest/api/cosmos-db-resource-p

[2020-11-06 00:27] ehonsey commented on #15686
The `az appservice` command was giving similar issues. I realized that I took the `apt` install path for WSL (over Ubuntu 20.04). I removed that version of azure-cli and reinstalled with the one command path from here: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt.

Now the same issues with Python are not resurfacing. Maybe this indicates that the manual install path with `apt`

[2020-11-06 00:29] sebansal commented on #14396
Hi @bim-msft
I was triaging this list, can you share if it has been resolved and can be closed?
Thanks

[2020-11-06 01:26] tejasshah7 commented on #15578
This feature is postponed from backend so closing this request for now. Will create a new one based on the feature release timeline.

[2020-11-06 01:26] #15578 closed

[2020-11-06 03:52] khandelwal-aman opened #15816 "WebApp:Unable to deploy"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment source config-zip --resource

[2020-11-06 05:13] theosherman opened #15817 "Unable to deploy my function app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Trying to deploy my function app to a linux consumption plan.

**Command Name**
`az functionapp update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az f

[2020-11-06 05:15] #15817 closed

[2020-11-06 05:17] theosherman commented on #15817
I typed in the application name wrong. Perhaps the CLI can detect this and help give a more useful error message.

[2020-11-06 05:42] heyjustyn opened #15818 "`az servicebus georecovery-alias show` is missing required parameters"
[az servicebus georecovery-alias show](https://docs.microsoft.com/en-us/cli/azure/servicebus/georecovery-alias?view=azure-cli-latest#az_servicebus_georecovery_alias_show) mistakenly lists no required parameters.

From what I've seen, you have two ways you can use this command:
- `--resource-group`, `--namespace-name`, and  `--alias` (as shown in the examples).
- `--ids` (no example provided)
  - A

[2020-11-06 06:56] shenmuxiaosen commented on #15805
Hi @nilsga ,
Thanks for reporting this issue. It is due to a bug in our implementation that blocks the MSI authentication flow to key vault. It currently only works when login with user account. Will send a fix.

[2020-11-06 06:57] jiasli commented on #15805
The code from `appconfig` is calling `_token_retriever`:

https://github.com/Azure/azure-cli/blob/d528de32caf4ba37108571d751312cd44167b27a/src/azure-cli/azure/cli/command_modules/appconfig/_kv_helpers.py#L969

However, `_token_retriever` is only available for `AdalAuthentication` which is designed for **user credentials**. It is not available for managed identity credential `MSIAuthenticationWrapp

[2020-11-06 07:19] fengzhou-msft commented on #15783
@shahht can you run `az --version` to check your extension directory and make sure you have the right permission to it?

[2020-11-06 10:57] yungezz commented on #15816
route to appropriate team

[2020-11-06 10:57] yungezz commented on #15818
route to appropriate team

[2020-11-06 11:33] zoraxl opened #15821 "az login --use-device-code link fails"
**Describe the bug**

Hi Azure team,
I am trying to login to my portal through az login --use device-code and the link generated fails. It is working perfectly a few hours ago. link: https://microsoft.com/devicelogin
Thanks!

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-11-06 12:01] Dicolla opened #15822 "Error accessing WAF certificates"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network application-gateway auth-cert show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network application-gateway auth-cert s

[2020-11-06 12:07] johnsen9000 opened #15823 "Subnet descriptioin should be expanded"
Two things should be added in the subnet description when creating a sql mi:
1. Describe that the subnet needs to delegated to Managed instances. And specify that the delegation command is Microsoft.Sql/managedInstances because that is not written anywhere, and you only get that information if you write it incorrectly in cli and get an error.
2. That the subnet needs a routing table.

---
#### Doc

[2020-11-06 12:14] johnsen9000 commented on #15813
How about you write it in the documentations on the page instead of making me google like the other services on Microsoft? I found something through google, and used the single letter code, as you use on functions, but that did not work and I needed to use the whole name. Why you write the shorthand code is a mystery then because it is useless.

Either way, if the documentation could have a hint o

[2020-11-06 12:37] AmarReddy522 commented on #8244
Hi @AdamFuzumTewelde ,

I have added AGW and Managed Identity with same name (Name: XXX-ApplicationGateway) and ran the step 2 for assigning the userAssignedIdentity. In the Key Vault attached the access policy as 'get' to the Manged Identity (Name: XXX-ApplicationGateway).

Below is the exception we still see

Error Creating/Updating Application Gateway "XXXX-ApplicationGateway" (Resource Group "

[2020-11-06 12:39] jorgensigvardsson commented on #15702
Ok, so the az command is tightly coupled to the REST API and a specific version. Would it be possible to reference that, either in the documentation, or using the az command itself? Or am I asking for something that az cli wasn't supposed to do?

I could do integrations against the REST API myself, but that is much more cumbersome from a scripting perspective than running az. As it stands now, the

[2020-11-06 13:02] #15821 closed

[2020-11-06 14:12] shahht commented on #15783
HS8746@ILCDTL03HS8746 MINGW64 ~
$ az --version
azure-cli                         2.14.0

core                              2.14.0
telemetry                          1.0.6

Python location 'C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe'
Extensions directory 'C:\Users\hs8746\.azure\cliextensions'

Python (Windows) 3.6.8 (tags/v3.6.8:3c6b436a57, Dec 23 2018, 23:31:17) [MSC v.1916 32 bit

[2020-11-06 14:14] shahht commented on #15783
HS8746@ILCDTL03HS8746 MINGW64 ~
$ az extension add --name azure-devops
C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\lib\site-packages\urllib3\connectionpool.py:851: InsecureRequestWarning: Unverified HTTPS request is being made. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/latest/advanced-usage.html#ssl-warnings
C:\Program Files (x86)\Microsoft SD

[2020-11-06 14:16] shahht commented on #15783
HS8746@ILCDTL03HS8746 MINGW64 ~
$ proxyon.bat

C:\Users\hs8746>set http_proxy=http://sub.proxy.att.com:8080

C:\Users\hs8746>set https_proxy=http://sub.proxy.att.com:8080

C:\Users\hs8746>set AZURE_CLI_DISABLE_CONNECTION_VERIFICATION=1

HS8746@ILCDTL03HS8746 MINGW64 ~
$ az extension add --name azure-devops
C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\lib\site-packages\urllib3\connectionpool.py

[2020-11-06 14:29] shahht commented on #15783
HS8746@ILCDTL03HS8746 MINGW64 ~
$ az extension add --name azure-devops --debug
Command arguments: ['extension', 'add', '--name', 'azure-devops', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x0438AAE0>, <function OutputProducer.on_global_arguments at 0x043DDF60>, <function CLIQuery.on_global_arguments at 0x0443FF60>]

[2020-11-06 14:35] fengzhou-msft commented on #15434
We encountered other connection failures quite frequently recently while downloading extensions using the storage account link directly in Azure Deveops.  It looks more like network issues with the CI environment.

[2020-11-06 14:50] devlife commented on #15685
I just found this: https://docs.microsoft.com/en-us/cli/azure/webapp/config/appsettings?view=azure-cli-latest#az_webapp_config_appsettings_set. I didn't know that this even existed and definitely suites my needs.

[2020-11-06 17:05] #15685 closed

[2020-11-06 17:56] yonzhan commented on #15822
add to S179

[2020-11-06 17:58] yonzhan commented on #15823
sql

[2020-11-06 18:11] jlichwa commented on #14706
@hund030 Is it possible that is just delay. Based on that thread it does working : https://github.com/MicrosoftDocs/azure-docs/issues/65622#issuecomment-722719540

[2020-11-06 18:46] brjohnstmsft commented on #15813
@johnsen9000 Apologies for the misunderstanding -- I believe @yonzhan was indicating which Azure service team should handle this issue (my team, Azure Cognitive Search).

I'll find the right person to update this documentation. In the meantime, try one of the Azure Cognitive Search SKUs listed in [the PowerShell reference](https://docs.microsoft.com/powershell/module/az.search/new-azsearchservice?

[2020-11-06 18:59] michaelschmit commented on #15770
Any chance this could get assigned for someone to look at?  I've gone into github and looked at the azure aks extension.  I followed the code but was unable to figure out what might be causing this issue.

[2020-11-07 06:32] JohnKeippel commented on #14793
What do you mean? I modified my CA bundle but I can only properly execute Az commands when not connected to our corp VPN. Did you add a particular certs to your CA bundle to resolve the issue? Thanks for any help.

[2020-11-07 11:37] meappy commented on #14467
I've given up with making helm v3.4.0 authenticating with ACR

Downgraded to helm [v3.3.3](https://github.com/helm/helm/releases/tag/v3.3.3) and proceeded to authenticate/add the ACR repo with the following command

[code]

I'm hoping something similar for helm v3.4.0 will be possible with `az acr helm3` or similar in future.

[2020-11-07 13:12] haroldrandom commented on #15011
Might be related to this one https://github.com/Azure/azure-cli/issues/8244

[2020-11-07 17:11] pilif42 opened #15828 "Azure CLI for Ubuntu Groovy Gorilla"
At https://packages.microsoft.com/repos/azure-cli/dists/ , I cannot see a distribution for Ubuntu Groovy Gorilla. Is there a plan to create one? If yes, when can I expect it to be available?

[2020-11-07 17:30] imriss opened #15829 "Capability to ignore Resource Not Found errors in "az aks update-credentials""
**Is your feature request related to a problem? Please describe.**

When trying to update an `AKS` cluster with new service principal credentials using `az aks update-credentials` command, it is blocked with an error about a Resource not Found (a `Microsoft.OperationalInsights` resource).

**Describe the solution you'd like**

A way to run this command while ignoring such resource not found errors

[2020-11-07 23:31] imriss commented on #15829
As a workaround, the suggestion to disable monitoring add-on for the cluster helped: `az aks disable-addons -a monitoring --resource-group clusterresourcegroup --name clustername` (from here: https://github.com/Azure/AKS/issues/1380). However, still it would be helpful to have the capability to ignore Resource Not Found errors. Thanks

[2020-11-08 01:13] yonzhan commented on #15829
aks

[2020-11-08 13:30] hanhsia opened #15832 "WebApp:can't recognize "|" character correctly in “az webapp create” command in powershell"
**Describe the bug**

following command works well in cmd window but fails in powershell
az login
az configure --defaults group="<xxxxx>" location="<xxxxx>"
az webapp create --name "<xxxxx>" --plan "<xxxxxx>" -r "DOTNETCORE|3.1"
it reports following error
'3.1' is not recognized as an internal or external command,
operable program or batch file.
**To Reproduce**

run following command in powershel

[2020-11-08 23:38] yonzhan commented on #15832
webapp

[2020-11-09 00:45] btardif commented on #15198
This is fixed by #15784

[2020-11-09 00:45] #15198 closed

[2020-11-09 00:45] btardif commented on #14862
This is fixed by #15784

[2020-11-09 00:45] #14862 closed

[2020-11-09 00:46] btardif commented on #15409
This is fixed by #15784

[2020-11-09 00:46] #15409 closed

[2020-11-09 01:40] yungezz commented on #15828
hi @fengzhou-msft could you pls share principal of supporting Ubuntu release? thanks

[2020-11-09 01:40] yungezz commented on #15822
https://github.com/Azure/azure-cli/issues/14287

[2020-11-09 01:45] yungezz commented on #15832
hi @hanhsia could you pls does this https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-with-powershell.md#workaround-the-stop-parsing-symbol work for you?

[2020-11-09 02:12] #13271 closed

[2020-11-09 02:19] #15383 closed

[2020-11-09 02:49] #15749 closed

[2020-11-09 06:09] akshay8043 opened #15835 "AttributeError: 'Response' object has no attribute 'status'"
After running this command from below URL

**az ad app permission admin-consent --id  $serverApplicationId**

https://docs.microsoft.com/en-us/azure/aks/azure-ad-integration-cli

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad app permission admin-consent`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note th

[2020-11-09 06:46] AshsihGarg opened #15836 "Issue in az network vpn-connection show"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network vpn-connection show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network vpn-connection show --resource-group {} --name

[2020-11-09 07:25] bim-msft commented on #15805
Fixed by https://github.com/Azure/azure-cli/pull/15826
Will take effect at our upcoming release train (Nov 17).

[2020-11-09 07:25] #15805 closed

[2020-11-09 08:24] haroldrandom commented on #15492
Closed as inactive

[2020-11-09 08:24] #15492 closed

[2020-11-09 08:56] dirkk opened #15839 "Setting a secret sometimes fails immediately after creating the keyvault"
**Describe the bug**
I create a KeyVault in an Azure Pipeline and immediately try to set a secret in it. This sometimes (but not consistently) fails with the following messages:

[code]

**To Reproduce**
Create a pipeline with a pscore task with the following script content:

            az keyvault create --name my-keyvault--resource-group my-rg--tags --enable-soft-delete false
            az key

[2020-11-09 08:59] #14945 closed

[2020-11-09 09:57] Zhaph opened #15842 "Typo in `az storage remove` command example"
https://github.com/Azure/azure-cli/blob/dc4b934d4399b8d10fbe9b0676e00e2ef1ddf534/src/azure-cli/azure/cli/command_modules/storage/_help.py#L662

Should read:

[2020-11-09 10:12] dirkk commented on #15839
My key vault did not start with a letter, so that's the problem (I randomly generate the keyvault, so that why I only saw it sometimes)

[2020-11-09 10:12] #15839 closed

[2020-11-09 10:15] yonzhan commented on #15835
az ad

[2020-11-09 10:17] yonzhan commented on #15836
network

[2020-11-09 10:29] yonzhan commented on #15842
@Zhaph  thanks for your contribution. This issue can be closed after the PR is merged.

[2020-11-09 12:18] savelinomediagroup commented on #15842
As storage remove

[2020-11-09 15:21] jantari opened #15846 "`az vm create` boots up VM without DNS-servers"
**Describe the bug**

Sometime betweeen:
Last working: **3. November 2020, 10:01 UTC**
Bug first appeared: **6. November 2020, 5:10 UTC**

the following behavior started happening reproducibly and consistently (100% of the time):

When creating a new Ubuntu 20.04 VM from the official azure Image via `az vm create` (exact command below) in a resource group that is empty except for a NSG, the comman

[2020-11-09 15:38] Strepto commented on #15832
You can solve this by "double escaping" in powershell.

`--runtime '"node|12-lts"'`

Working example:
[code]

[2020-11-09 16:59] squillace commented on #14011
@fengzhou-msft the "blocking" issue closed in July, but I just had this recur TODAY on a brand new installation of 20.04 in WSL2. Is this issue still open, and if so, why? Likely because of resources, but it's five months later now..... :-)

[2020-11-09 17:37] rastala commented on #13858
@alexhhward  Looks like the underlying issue has been resolved. Could you re-try after updating Azure ML SDK and dependencies, please? I'll proceed to close the issue, if I don't hear otherwise.

[2020-11-09 19:12] stephenmoloney commented on #14467
Requiring people to use `HELM_EXPERIMENTAL_OCI=1` is just not good.

While I am a believer and supporter of the OCI concept and would like things to go that way, there are various tooling out there which will not support this right now.

Please do not require setting flags like `HELM_EXPERIMENTAL_OCI=1` - the word `EXPERIMENTAL` alone is enough to put off many people and organisations.

[2020-11-09 19:44] wsmelton commented on #11354
Posting this here since Bing brought me here through searching.

SO answer includes `az` command to pull the Microsoft Graph API permissions listing: https://stackoverflow.com/questions/41946417/how-can-i-get-the-guids-of-graph-api-permissions-programmatically-for-an-azure-a/63405409#63405409

Command reference (in case you can't hit SO):

[code]

Could not find this available data via `Microsoft.

[2020-11-09 21:17] bgoradia commented on #15717
I wasn't seeing this until today but looks like this issue is occuring now.

ClientRequestError: Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /subscriptions/XXXXXXXXXXXXXXXXXXX/resourceGroups/bgoradia-idw/providers/Microsoft.IndustryDataLifecycle/derivedModels/targetmodeldw?api-version=2020-09-08-preview (Caused

[2020-11-09 21:57] #15701 closed

[2020-11-09 21:57] #15605 closed

[2020-11-09 21:57] #15604 closed

[2020-11-09 22:37] btardif commented on #15811
@Kotasudhakarreddy can you look into this once you get a chance?

[2020-11-10 02:01] Kotasudhakarreddy commented on #15811
@btardif - sure will take care of this.

[2020-11-10 02:05] jiasli commented on #11354
Hi @wsmelton, thank you for the link.

Could you share more context about

Do you mean the [`Microsoft.Graph`](https://www.powershellgallery.com/packages/Microsoft.Graph/1.1.0) PowerShell module?

[2020-11-10 02:18] wsmelton commented on #11354
Correct. I had assumed that would be the module to use but did find AzureAD has it as well, just have to pull the Service ID for `Microsoft Graph`.

[code]

[2020-11-10 02:29] mxrss2 opened #15848 "Route Table takes forever to show up in cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network route-table list`

**Errors:**

## To Reproduce:
Create a new AKS cluster with kubenet routing

- `az network route-table list -g {}`

## Expected Behavior

`az network route-table list` should return whats in the GUI -- It does not.

## Environment Summary
[code]
## Additional Con

[2020-11-10 02:44] yungezz commented on #15846
hi @qwordy could you pls check if this caused by @zhoxing-ms 's hotfix release? thanks

[2020-11-10 03:12] hanhsia commented on #15832
yes, i use this way to workaround it. The doc is great.

[2020-11-10 03:31] yungezz commented on #15832
happy to see if works for you. :) is it ok to close the issue?

[2020-11-10 03:51] jiasli commented on #11354
### `Get-AzureADServicePrincipal`

`Get-AzureADServicePrincipal` from [`AzureAD`](https://www.powershellgallery.com/packages/AzureAD/2.0.2.118) module calls **Active Directory Graph** internally.

In Windows PowerShell,

[code]

We can see

- **Application permissions** appear under `AppRoles`
- **Delegated permissions** appear under `Oauth2Permissions`

### `Get-MgServicePrincipal`

`Get-MgServic

[2020-11-10 03:52] jiasli commented on #11354
Meanwhile, let me refine the help message for `az ad app permission add`.

[2020-11-10 05:19] JDface opened #15851 "az vmss extension set FAILURE"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vmss extension set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vmss extension set --resource-group {} --vmss-name {} --publish

[2020-11-10 06:39] #15712 closed

[2020-11-10 06:43] haroldrandom commented on #15836
Would you mind post the value of `--query {}` ?

[2020-11-10 06:45] haroldrandom commented on #15213
Closed as inactive. If happening again, feel free to reopen it.

[2020-11-10 06:45] #15213 closed

[2020-11-10 06:48] yungezz commented on #15851
hi @qwordy the error is from adal auth, while could you pls help to double check e2e scenario? thanks.

[2020-11-10 07:00] AshsihGarg commented on #15836
here you go ... query '{Name:name,ConnectionStatus:connectionStatus}

[2020-11-10 07:12] haroldrandom commented on #15822
Hi, @Dicolla. I guess your issue has been fixed since https://github.com/Azure/azure-cli/pull/14529.
Your issue is duplicated with https://github.com/Azure/azure-cli/issues/14487.

Please have a shot to the Azure CLI with 2.10.0 or later.

[2020-11-10 07:12] #15822 closed

[2020-11-10 07:14] bvduijn opened #15852 "Template support (like arm templates)"
**Is your feature request related to a problem? Please describe.**
nope

**Describe the solution you'd like**
When creating resources with az you can create each resource manually or via a powershell/bash script.
ARM has templates, why not support an option like "az template <file.yml>"

Yaml could be formatted like this: (kinda like Ansible syntax)

[code]

**Describe alternatives you've consider

[2020-11-10 07:15] haroldrandom commented on #15377
Postpone by service team

[2020-11-10 08:25] #15842 closed

[2020-11-10 08:41] yonzhan commented on #15848
network

[2020-11-10 08:50] zhoxing-ms commented on #15846
This is the my hotfix commit: https://github.com/Azure/azure-cli/commit/2a84a5b3b6a624d7cfc351a29f4d64e5dfefd839
It should be irrelevant to the question~

In addition, this problem exists in version `2.14.0`, but my hotfix version is `2.14.1`

[2020-11-10 08:54] wdesplas opened #15855 "Postgres server create fails using azure cli"
**Describe the bug**
Fails :
[code]

ClientRequestError: Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /subscriptions/e9f981ec-1386-4419-89e4-67a9994ba6ea/resourceGroups/auto-broker/providers/Microsoft.DBForPostgreSQL/servers/absdb?api-version=2017-12-01 (Caused by ResponseError('too many 502 error responses',))

[2020-11-10 09:15] alexeyshishkin01 opened #15856 "'az container exec' does NOT run /bin/bash"
**Describe the bug**

I've created the Docker image and I can launch container from it using 'docker' tool:
docker build --compress --tag $image_id:$tag_id --file Dockerfile-$image_id .

I can successfully run /bin/bash inside a container:
'docker exec --interactive --tty PostgresProStandard12 bash'

I've put the image into ACR and I can launch container from it using 'az' tool:
az container creat

[2020-11-10 09:26] nimbusparis opened #15857 "Subroutine functionapp function keys missing correct documentation"
**Is your feature request related to a problem? Please describe.**
I'm trying to create a function using Azure CLI. As I know, the subroutine is `az functionapp function keys set` but the documentation (inline or web) lack details how to proceed.
When I try to type  `az functionapp function keys set --function-name CronTrigger1 --key-name TimerTrigger1 --name myFuncApp -g myResourceGroup` I got an

[2020-11-10 09:38] alexeyshishkin01 commented on #15856
some more info - I've tried to use container in the documentation
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-quickstart
it does not work as well:

az container create --resource-group dockers --name mycontainer --image mcr.microsoft.com/azuredocs/aci-helloworld --dns-name-label aci-demo2 --ports 80
az container list --resource-group dockers
az container exec --r

[2020-11-10 10:39] jeromewaibel opened #15858 "az sql db export demanding subscription wide scope"
**Describe the bug**

I am using a managed identity on a virtual machine to export a database to a storage container (command "az sql db export"). The managed identity has "Contributor" role on the database. The operation is failing with this error

`The client 'my-identity-id' with object id 'my-identity-id' does not have authorization to perform action 'Microsoft.Sql/locations/importExportAzureA

[2020-11-10 10:41] yonzhan commented on #15852
ARM

[2020-11-10 10:47] yonzhan commented on #15855
postgres

[2020-11-10 10:48] yonzhan commented on #15857
functionapp

[2020-11-10 10:48] yonzhan commented on #15856
container

[2020-11-10 10:52] alexeyshishkin01 commented on #15856
I've also tested my Docker image in GCP - no such issue exists

[2020-11-10 10:53] yonzhan commented on #15858
sql

[2020-11-10 10:55] allenstecat opened #15859 "Visual Studio Microsoft Kubernetes extension does not work with Azure CLI Beta"
**Describe the bug**
After loaded Azure CLI Beta the Microsoft Kubernetes extension does not work but creates the fllowing error even after doing az login and successfully logged in.

The Azure command line failed. See below for the error message. You may need to:

Log into the Azure CLI (run az login in the terminal)
Install the Azure CLI (see the instructions for your operating system)
Configure

[2020-11-10 11:08] yonzhan commented on #15859
aks

[2020-11-10 12:11] shannuvijaya opened #15860 "AZ Aks Install"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2020-11-10 13:11] yungezz commented on #15860
route to appropriate team

[2020-11-10 13:41] soring-isb commented on #11315
+1 on this request. Not being able to use wildcards or use directories to scope permissions makes this nigh unusable.

[2020-11-10 15:52] jayendranarumugam opened #15863 "Azure synapse Cli: ImportError: cannot import name 'RoleAssignmentOptions'"
**Describe the bug**
When running `az synapse role assignment list --workspace-name 'workspacename'` in my ubuntu wsl and getting the below error

Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x7f4960a1fd90>, <function OutputProducer.on_global_arguments at 0x7f4960a87d90>, <function CLIQuery.on_global_arguments at 0x7f49609e80d0

[2020-11-10 16:18] t-l-k commented on #14864
I just so happened to read an article recently at https://www.sqlshack.com/four-different-methods-to-copy-your-azure-sql-database/ - and the author Prashanth Jayaram claimed:

Okay so that is interesting, and certainly provides an avenue for further investigation, and interestingly is the note about two secondary copies _by default_ - would these be used as a read-only source for the copy operatio

[2020-11-10 16:34] #15686 closed

[2020-11-10 17:36] alexeyshishkin01 commented on #15856
one more hint for your troubleshooting

when I create container in the AKS pod from the same Docker image mentioned above I can successfully get into container via:

kubectl exec --stdin --tty $POD_NAME -- /bin/bash

[2020-11-10 19:01] shahht commented on #15783
Re-ran today
HS8746@ILCDTL03HS8746 MINGW64 ~
$ az extension add --name azure-devops --debug
Command arguments: ['extension', 'add', '--name', 'azure-devops', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x034DAAE0>, <function OutputProducer.on_global_arguments at 0x0352BF60>, <function CLIQuery.on_global_arguments at

[2020-11-10 19:14] panchagnula commented on #15672
@mpowrie is this resolved now - there was a known issue with the Ubuntu CLI package - can you try the latest version of CLI & let us know if you are still seeing this? Thanks!

[2020-11-10 19:23] shahht commented on #15783
Just to update you on this error that our IBM consultants are fine using this commands, its only AT&T configurations on laptop is giving this error.

[2020-11-10 20:35] AviateX14 commented on #15846
I don’t think this is an az cli issue.

I am not using az cli, but I am using Terraform to deploy the exact same Ubuntu image as @jantari into a VNET that has custom DNS configured.

When a newly created VM in this VNET boots for the first time it has no DNS servers configured within the guest OS, meaning pretty much nothing works. Reboot that VM, and it picks up the VNET configured DNS servers.

[2020-11-10 21:08] coldwell commented on #10723
Relevant request in the Feedback system: https://feedback.azure.com/forums/217321-sql-database/suggestions/40378918-support-backup-retention-configuration-through-azu

[2020-11-10 21:39] AviateX14 commented on #15846
Oh one other thing, it seems a bit intermittent. Of around 20 destroy and recreate operations on the VM, 2 times it came up with working DNS 🙃

[2020-11-10 21:40] yonzhan commented on #15863
synapse

[2020-11-10 22:51] mrpolaris opened #15864 "SSLError(SSLError("bad handshake: Error([('SSL routines', 'tls_process_server_certificate', 'certificate verify failed')],)",),))"
**Describe the bug**
using devops cli when doing any command it get a ssl hand shake issue
ClientRequestError: Error occurred in request., SSLError: HTTPSConnectionPool(host='devops.statebanks.local', port=443): Max retries exceeded with url: /_apis (Caused by SSLError(SSLError("bad handshake: Error([('SSL routines', 'tls_process_server_certificate', 'certificate verify failed')],)",),))

**To Rep

[2020-11-10 23:39] mxrss2 commented on #15848
I added a provision step that uses this to randomly check if the provision is done. Its weird that i can see it in the UI but the API its really hit or miss.

[2020-11-11 00:17] AviateX14 commented on #15846
So this is definitely something wron in the latest 20.04 images, I just tested by redeploying using version 20.04.202007080 and DNS works as expected from first boot.

[2020-11-11 01:35] yungezz commented on #15864
route to appropriate team

[2020-11-11 01:36] savelinomediagroup commented on #15864
On Tue, Nov 10, 2020 at 5:35 PM, Yunge Zhu <notifications@github.com> wrote:

https://natour.naughtyamerica.com/track/MTIxNzY5LjEwMDM2LjguOC4wLjAuMC4wLjA/scene/hime-marie-gets-up-and-personal-to-taste-and-ride-your-cock-26149
My sub affiliate account savelinomedia.com at azure--
null

[2020-11-11 04:34] ausfestivus commented on #15589
Yea, have just lost half my day due to this issue.

From the azure-cli help:
[code]

`az account management-group show -n remediationMgmtGrp`
[code]

So a human will see the instructions as saying use required arg `--name` and think that refers to the `displayName` when it actually refers to the `name` key.

[2020-11-11 05:52] puicchan opened #15868 "Import VHD"
**Resource Provider**
COMPUTE

**Description of Feature or Work Requested**
Customers can now create a Shared Image Gallery version from a VHD source in a storage account

**Minimum API Version Required**

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/gallery.json

Also refer to https://dev.azu

[2020-11-11 05:52] haroldrandom commented on #15836
@AshsihGarg The issue is known and the fixture patch should be merged in this Sprint.

[2020-11-11 06:02] bvduijn commented on #15852
@yonzhan . You mean ARM as a tag or in a sense that ARM should be used / provides this function already?

[2020-11-11 06:10] qwordy commented on #15554
@yuemlu When will the PR be merged into official repo?

[2020-11-11 06:11] puicchan opened #15869 "Capture VM"
**Resource Provider**
COMPUTE

**Description of Feature or Work Requested**
Customers can capture a VM to a shared image gallery

**Minimum API Version Required**

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/preview/2020-09-30/gallery.json
1.	In SIG, it would automate a PUT Gallery, PUT GalleryImage and then PU

[2020-11-11 06:14] yungezz commented on #15868
put in S179 tentatively.

[2020-11-11 06:15] yungezz commented on #15869
put in backlog firstly for Cobalt

[2020-11-11 06:58] jiasli commented on #15589
There are 2 issues we are facing here:

## Issue 1: `displayName` can't be used to show the management group

This can be reproduced with:

[code]

For the terms we use in Azure:

- `id`: the resource ID, like `/providers/Microsoft.Management/managementGroups/mg20201111`
- `name`: the resource name. It is also the last part of the resource ID, like `mg20201111`

`displayName` is one of the `proper

[2020-11-11 07:10] jiasli commented on #15589
I will update the help message of `--name` (#15871). Thank you for the feedback.

[2020-11-11 07:31] jiasli opened #15872 "[Error Handling] Untidy error message when AuthorizationFailed is raised"
**Describe the bug**

(Found this issue in #15589.)

The error message is not in a correct format:

[code]

Note that `code:` prefix, extra dash (`-`) and comma (`,`).

The code responsible for displaying the message is

https://github.com/Azure/azure-cli/blob/c6dfb4eb02e5901d4cfcb5ee7091181097048e92/src/azure-cli-core/azure/cli/core/util.py#L174-L178

Expected output:

[code]

[2020-11-11 08:09] jayendranarumugam commented on #15863
The installation was went wrong. Once I reinstalled the azure cli correctly all working fine now. So closing this issue

[2020-11-11 08:09] #15863 closed

[2020-11-11 08:29] yonzhan commented on #15872
Error Handling

[2020-11-11 08:30] yonzhan commented on #15872
@houk-ms for awareness.

[2020-11-11 08:42] #15836 closed

[2020-11-11 08:46] zhoxing-ms commented on #15852
@bvduijn Do you want to use yaml file to configure deployed resources instead of ARM template?

[2020-11-11 10:56] dennis-benzinger-hybris commented on #15015
Early October is over :-). Is there a more precise ETA now?

[2020-11-11 12:17] haroldrandom commented on #15015
Not yet. We are still waiting for the swagger merged.

[2020-11-11 13:22] bvduijn commented on #15852
@zhoxing-ms  Yes that's the idea. ARM templates can get quite Big for small things you want to do. You need to define your parameters, dependencies and referencing these is a syntax on its own.  Like so :

[code]
Very easy to overlook an ( of ] whereas with yaml with Jinja2 :
[code]
And dependencies could be defined just by identation

Az takes a lot of those troubles of working with ARM away and

[2020-11-11 15:57] zhoxing-ms commented on #15852
I suggest that this new feature should be implemented by ARM service:
1. The parsing and deployment of ARM template is implemented by ARM service, and the parsing and deployment of yaml file should be similar.
2. If CLI parses yaml file, and then send some separate requests to REST to deploy resources, there will be complex issues of performance and cross RP collaboration.
3. If ARM service suppor

[2020-11-11 16:15] irishun opened #15877 "Azure failed Login when connect to AML workspace in Linux VM"
**Describe the bug**
Hi MSFT Team,
we have faced an issue when using Linux VM to run python code and cannot login successfully with interactive Authentication.
The error message is as follow:

![image](https://user-images.githubusercontent.com/47106812/98835856-3d9b6380-2441-11eb-8b26-460aaf348730.png)

**To Reproduce**
The process is:
Use Macbook to connect to Linux VM -> run python code to conne

[2020-11-11 17:30] jantari commented on #15846
Thanks for the testing, depending on how the DNS is assigned to the VM (I would have guessed the standard ol' DHCP option, but maybe it's the Azure Agent) this might really not be an AzureCLI problem.

However, it's also unlikely to be a `systemd-resolve` problem as that's been used in Ubuntu since 18.04 I think, or at the very least it was already used on previous images of 20.04 and those didn't

[2020-11-11 17:52] datarocksAmy commented on #14847
Yes

[2020-11-11 18:15] felickz commented on #12137
RE: https://github.com/Azure/azure-cli/issues/12137#issuecomment-596567479

@jiasli any indication when `az ad app permission admin-consent ` will be deprecated, and will there be another CLI function to wrap the API calls you are documenting above?

[2020-11-11 19:48] AviateX14 commented on #15846
From what I've read the very same problem existed in 18.10 and 18.04 and was fixed last year :( I suspect the change (as in, why it worked in previous versions of the same image) is as you suggest likely to just be a mismatch between how it's expecting to get DNS and how it IS getting DNS.

Indeed, cloud-init poops its pants on boot with no DNS.

[2020-11-11 21:18] coldwell commented on #10723
For anyone else facing this, I found the [az rest](https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#az_rest) command to be almost as good as a dedicated command.

It directly invokes the Azure API, and you can use it for to [create or update Backup Long Term Retention Policies](https://docs.microsoft.com/en-us/rest/api/sql/backuplongtermretentionpolicies/createorupd

[2020-11-11 23:39] hoadinhmai commented on #7656
Hi @jiasli , we just came across this issue also. Based on the parent and child app setup described above, is it correct that the **parent** app not only can reset credential of the child app but all other apps as well?

[2020-11-12 00:14] sedatesoftware opened #15878 "run-command invoke - returns host Python errors"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm run-command invoke`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login`
- `az account set -s <subscription id>`
- `az vm run-command invoke -g {} -n {} --command-id

[2020-11-12 02:16] yungezz commented on #15878
hi @qwordy could you pls help to look at the issue? thanks

[2020-11-12 02:19] yungezz commented on #15877
hi @irishun did you meet the issue when running `az login`? Little confusing about `connect to AML workspace` , thanks.

[2020-11-12 02:28] hanhsia commented on #15832
sure, please close it.

[2020-11-12 02:28] #15832 closed

[2020-11-12 02:33] hanhsia opened #15879 "WebApp: Can't set 64bit using "az webapp" cmd"
I didn't find any doc about how to set platform "64bit" using cli. The only way is to change it in azure portal. But i want to autmate it using az command. By default, it sets to 32bit platform in configuration. But my .net core app is compiled to win-64. if i deploy this .net core app, web app service will report error.
So is there any way to set it using az command?

[2020-11-12 02:57] #15694 closed

[2020-11-12 03:08] houk-ms commented on #15872
@yonzhan Will investigate and fix it.

[2020-11-12 03:20] fengzhou-msft commented on #13209
@DataRepository are you able to run `az --version` to check your version? Does the [instruction](https://github.com/Azure/azure-cli/issues/13209#issuecomment-652164784) work for you?

[2020-11-12 03:23] yungezz commented on #15879
route to appropriate team to help look at it.

[2020-11-12 03:40] #15770 closed

[2020-11-12 05:30] #15481 closed

[2020-11-12 06:33] Juliehzl commented on #15737
hi @franzbull, the issue is caused because of the destination folder  permission. Could you try to use a valid directory as --destination value?

[2020-11-12 07:25] Juliehzl commented on #15734
Hi @luckerby, the output for `az storage blob download-batch` is different from `az storage blob list`. `az storage blob list` is targeted to get blob properties from Azure. `az storage blob download-batch` is to download blobs from Azure, so we only show file names to customer as below:

![image](https://user-images.githubusercontent.com/49508232/98907575-fae99200-24f9-11eb-8556-ed673770f633.png)

[2020-11-12 07:25] #15734 closed

[2020-11-12 07:28] pvorb commented on #13420
But why can't you update the maximum number of pods for an existing nodepool? Could this be added to the cli, please?

[2020-11-12 07:32] bim-msft commented on #14396
Hi @sebansal , this was identified as a service side issue, no more CLI side investigation needed so far.

[2020-11-12 07:35] evelyn-ys commented on #14277
[The graph api](https://docs.microsoft.com/en-us/graph/query-parameters) doesn't support `$filter=endswith(displayName, 'appRegistrationEnd')`. Need graph team to add more details.

[2020-11-12 07:39] palma21 commented on #13420
Because that would involve re-wiring the pod CIDR which require a node reboot across the node pool at which point it makes the scenario to create a new pool and delete the previous one a bit more of controlled one.

Happy to evaluate your scenario is it's a major pain for you to do this.

[2020-11-12 08:26] evelyn-ys commented on #15569
Hi @hilaco10, thanks for your report.
The reason 'Microsoft.Storage/storageAccounts/listKeys/action' permission is required is that queue service need credentials for authentication. Since you provide `--account-name` without `--account-key`, CLI will query account key inside your storage account, which need 'Microsoft.Storage/storageAccounts/listKeys/action' permission.
There are two solution for

[2020-11-12 08:28] arrownj commented on #13577
Hi @jiasli , you can reference PR https://github.com/Azure/azure-cli/pull/15277 if you are going to update the command to always prompt without --yes.

[2020-11-12 09:00] glaubitz commented on #15530
Is there any preliminary patch for this issue yet?

[2020-11-12 09:06] jiasli commented on #15530
We are currently working on it, but this migration requires huge amount of effort.

We will vendor a subscription SDK in `azure-cli-core` temporarily (#15711) in the next sprint so that `azure-cli-core` doesn't have hard dependency on `azure-mgmt-resource`, but the migration on command modules will take several sprints.

Thank you for you understanding.

[2020-11-12 09:11] glaubitz commented on #15530
OK, thanks a lot for the explanation. I understand the necessary effort, I just wanted to get a rough estimate so that we can inform our users at SUSE.

Thanks!

[2020-11-12 09:46] pvorb commented on #13420
Okay, I fully understand. My original problem is that the AKS collection for Ansible doesn't support specifying `--max-pods` upon cluster creation: ansible-collections/azure#308.

So now I'm trying to build a workaround:

1. set up cluster with system nodepool via ansible
2. increase --max-pods for the existing cluster via az cli

But now I think I should wait for an action on the other issue.

[2020-11-12 10:46] irishun commented on #15877
Hi @yungezz, thank you for your reply.
az login was also not successful.

connect to AML workspace be running the following code will trigger interactive authentication as described in the following link:
https://docs.microsoft.com/en-us/azure/machine-learning/how-to-setup-authentication

[2020-11-12 11:01] lovettchris opened #15888 "az batch account create fails with 'str' object has no attribute 'tolower'"
hit a bug when running az batch account create command saying 'str' object has no attribute 'tolower'

**Command Name**
az batch account create

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

az batch account create --encryption-key-source Microsoft.KeyVault --resource-group aed-synthet

[2020-11-12 11:25] jantari commented on #15846
I've done some tests, and narrowed down the broken-ness to somewhere between these images:

	Canonical:0001-com-ubuntu-server-focal:20_04-lts:20.04.202008140 // confirmed working
	Canonical:0001-com-ubuntu-server-focal:20_04-lts:20.04.202009030 // didn't test
	Canonical:0001-com-ubuntu-server-focal:20_04-lts:20.04.202009070 // didn't test
	Canonical:0001-com-ubuntu-server-focal:20_04-lts:20.04.202

[2020-11-12 15:30] Mexicoder opened #15889 "get action groups on list"
Is there any way to get the linked action groups in this list command?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c78b494-edd2-74b4-fce6-1573cb9c242a
* Version Independent ID: 49b15a27-f990-bb88-eca8-d3f615210012
* Content: [az monitor activity-log alert](https://docs.microsoft.com/en-us/cli/azure/monitor/activity

[2020-11-12 16:22] csullivannet opened #15890 "Can not update firewall rules via CLI"
## Describe the bug

**Command Name**
`az postgres server update`

**Errors:**
[code]

## To Reproduce:
- `az postgres server update --resource-group my-rg --name my-psql --public 10.20.30.40`

## Expected Behavior

The documentation from `az postgres server update --help` clearly states that a `<SingleIP>` is valid, however the command does not accept it:

[code]

It is expected that running the

[2020-11-12 16:25] B4Art opened #15891 "Using Out-GridView"
[Enter feedback here]
To Convert a list of location into an Powershell Object list:

`(az account list-locations  | ConvertFrom-Json).ForEach({$_ | Select-Object -Property @{N='physicalLocation'; E={$_.metadata.physicalLocation}}, Name})`

Put it in a variable:
` $a = (az account list-locations  | ConvertFrom-Json)`

List it into GridView:
` $a | ogv`

Select Name and Physical Location and put it

[2020-11-12 17:14] panchagnula commented on #15672
Closing due to lack of response. Please open new issue if this still persists with the latest version of CLI. Thanks!

[2020-11-12 17:14] #15672 closed

[2020-11-12 18:42] jochenvw opened #15892 "Idempotency for `az network vnet create` command"
Given the following deployment script:

[code]

This breaks the 2nd time you run it - I suspect because the call to `az network vnet create` does not provide any subnet information and therefore tries to delete the subnets within the VNET - which it cannot do because of the delegation and VNET integration of some webapp. So therefore, my script is not idempotent.

I notice in my work, that a lot o

[2020-11-12 18:57] jochenvw opened #15893 "'Subnet in use' error in `az network vnet subnet update` command with `--nat-gateway` parameter"
When trying to associate a NAT gateway with one of the subnets in my VNET, I consistently get the following error message:

[code]

When I try to do the exact same operation in the Azure Portal - within a couple of seconds, it works fine:
![image](https://user-images.githubusercontent.com/17111555/98982997-7b22ee00-2520-11eb-9bcf-4213963ef799.png)

![image](https://user-images.githubusercontent.co

[2020-11-12 19:48] heytjr commented on #15828
+1 it would be great if the az cli team could validate Ubuntu releases as they come out as it seems to take a bit for this tooling to catch up..
BUT fyi as a work around I just take - https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt
and use AZ_REPO=focal in Step 3

[2020-11-12 20:13] MehaKaushik commented on #15702
Makes sense. I understand your ASK better now.
We will take this up in a future release of CLI.

[2020-11-12 20:29] brjohnstmsft commented on #15813
Assigned @timothyta12 to fix the issue with our documentation.

@johnsen9000 Please let us know if the SKUs listed in the PowerShell reference worked for you.

[2020-11-12 20:55] genegc commented on #10700
I'm seeing the same issue when using "Deploy a custom template" in azure portal.
`    "status": "Failed",
    "error": {
        "code": "ContainerOperationFailure",
        "message": "Specified feature is not yet supported for hierarchical namespace accounts.\nRequestId:93d51b66-701e-0031-312b-b901ed000000\nTime:2020-11-12T19:36:20.2453796Z"
    }`

The template is here:
`{
    "$schema": "https

[2020-11-12 21:11] jochenvw opened #15896 "`az resource show -t Microsoft.Sql/servers/databases` not recognized"
I'm writing a script to retrieve the resource id from my SQL database. However - `az resource show` does recognize the database type.

Using the ID found in the portal JSON view of the resource I do:

[code]
Which returns

[code]
Now, using the exact resource-group, name and type as provided in the previous:
[code]
Gives
[code]
So 'databases' seems to be nested under 'servers' - and in the error m

[2020-11-12 21:36] panchagnula commented on #15368
@amitpuri - for import from AKV to work the RP needs GET permissions on the AKV - which is what the error message is conveying.

[2020-11-12 23:36] yonzhan commented on #15888
batch

[2020-11-12 23:41] yonzhan commented on #15889
monitor

[2020-11-12 23:42] yonzhan commented on #15890
postgres

[2020-11-12 23:43] yonzhan commented on #15891
account

[2020-11-12 23:46] yonzhan commented on #15893
add to S179

[2020-11-12 23:47] yonzhan commented on #15892
add to S179

[2020-11-12 23:55] yonzhan commented on #15896
ARM

[2020-11-13 00:05] sr-msft commented on #15890
Hello, Thanks for pointing that issue. We will look into updating it. For creating/updating firewall rules, please refer to https://docs.microsoft.com/azure/postgresql/howto-manage-firewall-using-cli.

[2020-11-13 01:21] amitpuri commented on #15368
@panchagnula What do you mean to say? Please read carefully my initial comment. So if it is a permission issue, it should not work manually. Can you list exact steps for az webapp config ssl import including prerequisite, Thanks

[2020-11-13 02:22] qwordy opened #15899 "Feature request, enable managed boot diagnostics in vm create"
**Is your feature request related to a problem? Please describe.**

Currenly, `--boot-diagnostics-storage` in `vm create` only supports no boot diagnostics and user managed boot diagnostics. If a user wants to enable managed boot diagnostics, he needs to invoke another command `vm boot-diagnostics enable`. Please support managed boot diagnostics in one single command `vm create`.

**Describe the s

[2020-11-13 02:23] qwordy commented on #15899
OK

[2020-11-13 03:52] haroldrandom commented on #15229
@erstaples Could you post the detailed steps to reproduce your situation with sensitive info redacted and the error in the terminal?

[2020-11-13 04:17] haroldrandom commented on #15272
@VariableDeclared Do you want a feature that supports to add a VM into the backend of a Load Balancer via the NIC of the VM?

[2020-11-13 04:37] ShugoYoko opened #15900 "WebApp:"az webapp log deployment list" returns []."
[Enter feedback here]
I run the "az webapp log deployment list --name <Web App name> --resource-group <MyResourceGroup>" command in Azure Cloud shell. And the value [] was output. When I add the "--debug  flag" , implement it , and response contains a value. I'd like to confirm it. I want to make sure this works correctly.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2020-11-13 04:41] haroldrandom commented on #15229
@erstaples I am confused about what you asked for.
Seems like you are reporting an issue that you cannot add a VMSS as a backend to an existing lb? Is the feature not supported or already supported but not functional in your case?

[2020-11-13 07:06] #15346 closed

[2020-11-13 08:23] VariableDeclared commented on #15272
Hey @haroldrandom well currently the CLI makes it appear that you can add VMs by their IPs but if you do this, the result is nothing. The VMs do not get added and the CLI returns no error

[2020-11-13 08:34] haroldrandom commented on #15272
Could you post the error message with sensitive info ridacted?

[2020-11-13 09:28] fengzhou-msft opened #15906 "`az servicebus namespace delete` may return 404 in some cases when the resource exists and is deleted during the operation"
**Describe the bug**

In our live test pipeline, we are seeing failures with `az servicebus namespace delete` caused by resource not found during the delete long running operation. The resource **does** exist (otherwise an error will be returned by service directly, the polling of long running operation result will not happen) and is deleted after the operation.
Some failure examples in [test_sb_n

[2020-11-13 10:20] robs opened #15907 "Permissions are the wrong case"
Hiya,

When I tried this with all lowercase permissions (get list) it didn't seem to work.
I updated through the portal and noticed that the casing changed to Get List.
Adding another policy I used Get and List and that worked fine so I guess the docs might need changing to reflect that.

`az keyvault set-policy --name
                       [--certificate-permissions {backup, create, delete, dele

[2020-11-13 10:32] #15766 closed

[2020-11-13 11:10] yungezz commented on #15900
route to appropriate team

[2020-11-13 11:11] yungezz commented on #15907
hi @bim-msft could you pls help to have a look?

[2020-11-13 11:11] yungezz commented on #15906
route to appriopriate team

[2020-11-13 13:16] yene opened #15908 "Exporting Template"
**Describe the solution you'd like**
Possibility to get the JSON Template for a resource, the same JSON you can get in the portal under "Export template"

**Additional context Example**
Create a VM. Open the VM resource in Azure Portal. In the UI navigate to automation Template > Export Template.
I would like to access that JSON from azcli

<img width="1373" alt="shot 2020-11-13 at 14 15 16" src="

[2020-11-13 13:18] ensa-DMS opened #15909 "webapp: az command-line: Error 500 "too many 500 error responses" while swapping slots"
**Describe the bug**
While deploying to azure using "az" command line, we obtain the following error:

ClientRequestError: Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /subscriptions/xxxx/resourceGroups/...../slots/staging/slotsswap?api-version=2019-08-01 (Caused by ResponseError('too many 500 error responses',))

[2020-11-13 13:29] cnovel opened #15910 "Az CLI doesn't work through CMake"
**Describe the bug**
When trying to execute a AZ cli command through cmake execute_process, it fails

**To Reproduce**
Azure Cli Version:
azure-cli 2.14.2
core 2.14.2
telemetry 1.0.6

Azure-Devops extension version:
azure-devops  0.18.0

Python location 'C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe'

Steps to reproduce the behavior:

1. On Window, install the latest Az CLI, install

[2020-11-13 17:50] yonzhan commented on #15908
@yene Was this a portal issue or CLI issue?

[2020-11-13 17:52] yonzhan commented on #15909
webapp

[2020-11-13 17:53] yonzhan commented on #15910
devops

[2020-11-13 19:52] genegc opened #15913 "az synapse role assignment list --> object has no attribute 'status'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az synapse role assignment list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az synapse role assignment list --workspace-name {}`

##

[2020-11-13 19:55] genegc commented on #15913
This is working in version 2.14.2

[2020-11-13 19:55] #15913 closed

[2020-11-13 21:51] gbr746 opened #15914 "az keyvault role assignment list issues"
az keyvault role assignment list has a mandatory parameter (--hsm-name or --id)  as opposed to the page saying optional.
A parameter with --vault-name would be consistent, --hsm-name is not as also Standard key-vaults can have the new RBAC roles assigned. It does not seem to list roles for a specific key vault thought.

az keyvault role assignment list --hsm-name {vault name} does not seem to work

[2020-11-14 00:06] gpictonmg commented on #15879
I am wondering how to do this as well.

[2020-11-14 00:50] gpictonmg commented on #15879
This is working for me:
az webapp config set --name $WEBAPP_NAME --resource-group $RESOURCEGROUP_NAME --use-32bit-worker-process false

[2020-11-14 04:13] #15003 closed

[2020-11-14 04:17] marius-klimantavicius commented on #14426
@jiasli Could you shed some more light on:

I tried calling az directly from C# without involving powershell (or even cmd, by calling `%AZCLI%\python.exe -IBm azure.cli ad signed-in-user show --output=json` [split into filename and args respectively]) and still getting this warning (and a character in my last name `č` is skipped). Do you know if this windows, python or knack issue?

[2020-11-14 04:33] #15737 closed

[2020-11-14 04:38] #15623 closed

[2020-11-14 05:41] #14982 closed

[2020-11-14 05:41] #14981 closed

[2020-11-14 05:47] #15569 closed

[2020-11-14 11:39] #14349 closed

[2020-11-14 15:12] hanhsia commented on #15879
that's it. thanks.

[2020-11-14 15:12] #15879 closed

[2020-11-14 15:29] pilif42 commented on #15828
Thanks @heytjr for the tip. I can confirm it works on my Ubuntu Groovy Gorilla.

[2020-11-14 16:54] ankurkapil2020 commented on #14264
hi.. i have the same problem.. could you please help https://ak-app.scm.azurewebsites.net/api/deployments/latest? thanks!

[2020-11-14 19:54] RobvanB opened #15917 "Permission Error when deploying bot to Azure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment source config-zip --resource

[2020-11-14 21:32] a888882 opened #15918 "mhhy"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2020-11-15 00:38] yonzhan commented on #15917
webapp

[2020-11-15 00:38] #15918 closed

[2020-11-15 04:36] yonzhan commented on #15914
keyvault

[2020-11-15 12:17] o-l-a-v opened #15919 "Publish Azure CLI to Microsoft Store"
PowerShell and Windows Terminal are in Microsoft Store, would be great if Azure CLI could join the party by being distributed the same way as well.

* [PowerShell](https://www.microsoft.com/en-us/store/apps/9mz1snwt0n5d)
* [PowerShell Preview](https://www.microsoft.com/en-us/store/apps/9p95zzktnrn4)
* [Windows Terminal](https://www.microsoft.com/en-us/store/apps/9n0dx20hk701)
* [Windows Terminal P

[2020-11-15 13:00] RobvanB commented on #15917
you can close this ticket : User error: I only used the directory in the path parameter, whereas I was supposed to include the actual zip file.

[2020-11-15 13:00] #15917 closed

[2020-11-15 13:13] taksan commented on #7447
I'm facing the same issue running on linux

[code]

Sometime it takes up to 50s to perform the commands

[2020-11-15 13:20] ezYakaEagle442 opened #15920 "az aks create --node-vm-size default value to be cheked"
THE CLI dos states :
--node-vm-size -s
Size of Virtual Machines to create as Kubernetes nodes.
default value: Standard_DS2_v2

[https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#add-a-node-pool](https://docs.microsoft.com/en-us/azure/aks/use-multiple-node-pools#add-a-node-pool) mentionns in the "Tip" section :
_If no VmSize is specified when you add a node pool, the default size i

[2020-11-15 17:21] pk422 opened #15921 "az cosmosdb collection - commands deprecated"
"az cosmosdb collection" commands are deprecated.
 Warning when these commands are used in cli
"This command has been deprecated and will be removed in a future release. Use 'cosmosdb sql container, cosmosdb mongodb collection, cosmosdb cassandra table, cosmosdb gremlin graph or cosmosdb table' instead."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com

[2020-11-15 18:20] r351574nc3 opened #15922 "Error Connecting to Running Container"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container exec --resource-group myresourcegroup --name mycontainer --exec-command /bin/zsh`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..

[2020-11-15 21:49] PCNZ opened #15923 "Add example with condition using where entityname"
Please add an alert example where the condition includes an entity name. I couldn't find an example anywhere and this seems to be quite a useful condition to use.

For example
az monitor metrics alert create -n "Event Hub Output Flatline - {EventHub}" --target-resource-type Microsoft.EventHub/namespaces --resource-group {ResourceGroup} \
--scopes {EventHubNamespaceID} \
--condition "avg OutgoingMe

[2020-11-15 22:30] yonzhan commented on #15920
aks

[2020-11-15 22:31] yonzhan commented on #15921
cosmosdb

[2020-11-15 22:32] yonzhan commented on #15922
container

[2020-11-15 22:33] yonzhan commented on #15923
monitor

[2020-11-16 01:33] yungezz commented on #15919
hi @o-l-a-v thanks for the feedback. Azure CLI is releasing per different platforms via package manager. We don't have plan to support Microsoft Store yet. To install it, pls try out guideline at https://docs.microsoft.com/en-us/cli/azure/install-azure-cli, and let us know if met any problem. thanks.

[2020-11-16 01:34] yungezz commented on #15914
hi @bim-msft could you pls have a look? thanks

[2020-11-16 01:35] yungezz commented on #15922
cc @houk-ms

[2020-11-16 02:08] haroldrandom commented on #15810
Could you post the error message with sensitive info redacted?

[2020-11-16 02:23] bim-msft commented on #15914
Hi @gbr746 , RBAC can be only used on HSM. For ordinary key vaults, the only way to control access is by using access policies.

[2020-11-16 02:32] jiasli commented on #14426
I think this is a Windows issue, could you try to enable UTC-8 support as shown in https://github.com/microsoft/knack/pull/178 ? This is the reason why this option is introduced in Windows. :)

[2020-11-16 02:37] gbr746 commented on #15914
HI @bim-msft actually the contrary, the documentation says it only applies to key-vaults!
https://docs.microsoft.com/en-us/azure/key-vault/general/rbac-guide
" Note
Key Vault resource provider supports two resource types: vaults and managed HSMs. Access control described in this article only [RBAC] applies to vaults. To learn more about access control for managed HSM, see Managed HSM access contro

[2020-11-16 02:50] qwordy opened #15924 "--no-wait parameter and wait command have a bug"
**Describe the bug**

I discovered a bug recently. `wait` command calls GET method of the resource. It gets a "Resource not found" error if the resource has not been created. Here, "created" means it can be GET. It does not mean the provisioning is finished. It should query operation status, not resource status. Operation query address is returned in Azure-AsyncOperation header of a long running o

[2020-11-16 02:50] qwordy commented on #15924
OK

[2020-11-16 03:20] yonzhan commented on #15924
@jiasli Core

[2020-11-16 03:26] haroldrandom commented on #15848
@mxrss2 Is this scenario constantly happening?

[2020-11-16 03:30] marius-klimantavicius commented on #14426
I don't have this option (corporate update policy, but as workaround I `az config set core.only_show_errors=true`). I wonder how Powershell does it - if only for displaying (without doing `| ConvertFrom-Json`) it shows correct name. I was hoping to do the same by creating process myself (will have to check Win32 maybe something's there).

[2020-11-16 04:08] oliverbock opened #15925 "What is the default for RBAC?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d75c3a8d-1187-bea1-a7d4-7ebba71c1790
* Version Independent ID: 75b0c352-762e-16ae-5cc6-d807ffc1dc3f
* Content: [az aks](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest)
* Content Source: [latest/docs-ref-autogen/aks.yml](https://g

[2020-11-16 05:14] yungezz commented on #15925
route to appropriate team

[2020-11-16 05:20] azzab80 commented on #1622
Same issue for me. Can we get this re-opened ?

[2020-11-16 05:50] srudin commented on #13788
Didn't see your answer sorry. Seems like I'm not getting notifications from github, need to check.

So I added the az add sp create command and I end up with exactly the same behaviour. The additional command succeeds, but I still get the same messages and failures as described above.

[2020-11-16 06:40] haroldrandom commented on #15592
@timvanderweijde It's a bug, I will plan to fix it ASAP

[2020-11-16 07:10] qwordy commented on #15646
Hello @MartinPotier

[2020-11-16 07:17] qwordy commented on #15878
I downloaded 2.14.2 and ran the command. I got
[code]
Can you add `--debug` and append logs here?

[2020-11-16 07:18] bim-msft commented on #14706
Doesn't work on my side with the latest version:
![image](https://user-images.githubusercontent.com/3250203/99223122-e15c8900-281e-11eb-9d37-8ee3eeab8dbe.png)

And there is even no column named `Managed`. Just curious about which version James was using.

[2020-11-16 07:20] qwordy commented on #14852
Close due to no reply.

[2020-11-16 07:22] qwordy commented on #14998
@sysadmin-exe Do I solve your problem?

[2020-11-16 07:30] #14987 closed

[2020-11-16 07:30] #14986 closed

[2020-11-16 07:37] sysadmin-exe commented on #14998
Oh yea please @qwordy thanks.

[2020-11-16 07:59] bim-msft commented on #14706
I made a fix in this PR: #15926 , it will be patched in the next release (3 weeks later, version: 2.16.0).

[2020-11-16 08:06] jsntcy opened #15927 "[Network] Deprecate RTv1 and RTv2"
**Resource Provider**
Microsoft.Network

**Description of Feature or Work Requested**
Deprecate Route table v1 and Route table v2
- RTv1: `az network route-table` in main repo
- RTv2: `az network vhub route-table` for vHub in CLI extension `virtual-wan`

Deprecation policy:
- For GA – 3 years
- For preview – 90 days

RTv3 is in #12959

**Minimum API Version Required**

**Swagger Link**

**Target D

[2020-11-16 08:57] o-l-a-v commented on #15919
Hi @youngezz
I had no problems installing it with the MSI. Just wish all the things would auto update and be as easy to push in a MDM scenario as Microsoft Store (for Business) makes it.

[2020-11-16 09:53] yonzhan commented on #15927
Network

[2020-11-16 10:04] marcosfriasraet opened #15930 "Azure devops. AzureCLI extension. az login command fails"
HI All.

We have a self-managed pool that PD teams use for different build processes. These servers make use
 of the azure devops azure cli extension. We've had this random error for ane week back.
 I have tried updating the agents but we keep getting this error. Could you guide us to the cause of it?

 Unable to check if your CLI is up-to-date. Check your internet connection.
azure-cli

[2020-11-16 10:26] #8807 closed

[2020-11-16 10:32] #9855 closed

[2020-11-16 10:33] onlyutkarsh opened #15931 "az extension add -n azure-devops gives error Pip failed with status code 1"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az extension add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
- `az extension add -n azure-devops --debug`

## Expected Behavior

## Environment Summary
[code]
## Additional Con

[2020-11-16 11:17] AddySanto commented on #9215
Looking for the appropriate team contact for this issue

[2020-11-16 11:19] MartinPotier commented on #15646
Ran today:

[code]

Apparently succeeded.

az version:
[code]

[2020-11-16 11:19] #15646 closed

[2020-11-16 11:20] AddySanto commented on #13476
chlahav doesn't own this anymore. Looking for alternative contact person.

[2020-11-16 11:21] bkozub opened #15932 "HTTP Error 403: rate limit exceeded - az aks install cli"
**Describe the bug**
Sometimes when using bitbucket pipelines from ```mcr.microsoft.com/azure-cli:latest``` image i get the 403 Error while
```az aks install cli``` command is executed

**To Reproduce**

occurs randomly

**Expected behavior**
aks cli is installed

**Environment summary**

**Additional context**
[code]

[2020-11-16 11:28] AddySanto commented on #9406
Looking for the relevant contact person on the team.

[2020-11-16 11:36] yonzhan commented on #15930
devops

[2020-11-16 11:39] yonzhan commented on #15932
aks

[2020-11-16 11:40] yonzhan commented on #9406
security

[2020-11-16 13:37] ezYakaEagle442 opened #15935 "Can not create RG with CLI 2.14.2 : The specified location 'france-central' is invalid. ("francecentral" is OK)"
**Describe the bug**

**To Reproduce**

az account list-locations | grep "france"
    "id": "/subscriptions/7b5f97dc-3c4d-424d-8288-bdde3891f242/locations/**francecentral**",
    "name": "francecentral",
    "id": "/subscriptions/7b5f97dc-3c4d-424d-8288-bdde3891f242/locations/**francesouth**",
    "name": "francesouth",

az group create --name rg-cloudshell --location "france-central" --debug

Com