[2021-10-19 19:41] pratiksanglikar opened #19937 "` az login --use-device-code` errors out with multiple accounts error."
[code]

[2021-10-19 19:48] pratiksanglikar opened #19938 "Cannot login to azure CLI"
## Describe the bug
Unable to login to Azure CLI.
using `az login` command fails with the errors below and using `az login --use-device-code` results in the following error -
`Found multiple accounts with the same username. Please report to us via Github: https://github.com/Azure/azure-cli/issues/new`

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Login to Azure CLI using `az l

[2021-10-19 21:11] jgrangethales opened #19939 "functionapp:az functionapp deployment fails"
## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip -g {} -n {} --src {}`
- also fails using terraform deployment of fun

[2021-10-19 23:11] yonzhan commented on #19934
route to service team

[2021-10-19 23:12] yonzhan commented on #19935
Compute

[2021-10-20 00:24] yonzhan commented on #19939
route to service team

[2021-10-20 00:25] yonzhan commented on #19937
@jiasli for awareness

[2021-10-20 00:26] yonzhan commented on #19936
route to service team

[2021-10-20 00:46] shenglol commented on #19850
Found the root cause. This is indeed a bug in the What-If engine. We added normalization process for Azure KeyVault access policies in 2021-01-01, but there's a case we failed to handle. I'm going to fix it.

[2021-10-20 01:08] jiasli commented on #19937
This should only happen on the `dev` branch.

It is triggered here:

https://github.com/Azure/azure-cli/blob/6442bedce93ea849dc02700fde4befef6313219a/src/azure-cli-core/azure/cli/core/auth/msal_authentication.py#L43-L45

The corresponding change on MSAL is https://github.com/AzureAD/microsoft-authentication-library-for-python/pull/349.

Please run `azdev setup` to re-setup the CLI dev environment

[2021-10-20 01:40] jiasli commented on #5657
Tracked by https://github.com/Azure/azure-cli/issues/7368

[2021-10-20 01:46] jiasli commented on #19938
This should only happen on the `dev` branch.

It is triggered here:

https://github.com/Azure/azure-cli/blob/6442bedce93ea849dc02700fde4befef6313219a/src/azure-cli-core/azure/cli/core/auth/identity.py#L122

The corresponding change on MSAL is https://github.com/AzureAD/microsoft-authentication-library-for-python/pull/349.

Please run `azdev setup` to re-setup the CLI dev environment which will bum

[2021-10-20 02:04] jiasli commented on #19930
Per https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=dnf, Azure CLI's repo is added to `/etc/yum.repos.d/azure-cli.repo`. `/etc/yum.repos.d/epel*.rep` is irrelevant to Azure CLI.

[2021-10-20 02:04] #19930 closed

[2021-10-20 02:28] jsntcy commented on #19737
As currently `az vmss create` cannot add extension while adding health extension to vmss is a prerequisite to set patchMode to "AutomaticByPlatform", so we cannot support set patchMode for `az vmss create` yet.  @mayanknayar will create another feature request for adding extension during vmss creation (do it after Ignite).
Currently we will only need support updating patchMode for `az vmss update`

[2021-10-20 03:11] #19375 closed, assigned to necusjz, 00Kai0, kairu-ms

[2021-10-20 03:53] #19892 closed

[2021-10-20 09:58] JeffMII opened #19945 ""MemoryError" After Running "az webapp up" For a Flask Python Project"
This is a duplicate issue to: https://github.com/Azure/azure-cli/issues/12759

*****************
*** ANSWER ***
*****************
*************************************************************************************************************************************
The root problem is that my project requires more than 2GB of memory for execution, and I'm trying to use the F1 free tier server. To ho

[2021-10-20 10:58] yonzhan commented on #19945
route to service team

[2021-10-20 11:17] JeffMII commented on #19945
I've tried redeploying through the Azure Portal Deployment Center, the terminal command "az webapp up -n [app-name]", and the generated .yml workflow execution through GitHub. None of these have worked. Now I'm getting this error from the terminal command:

`<urllib3.connection.HTTPSConnection object at 0x054FB6A0>: Failed to establish a new connection: [WinError 10060] A connection attempt failed

[2021-10-20 11:21] JeffMII commented on #19945
`flask run` needs to be executed at some point during deployment. I don't see that anywhere in the .yml workflow. Here is the GitHub repository:

https://github.com/JeffMII/CogExNLP

[2021-10-20 12:00] doronmakmel opened #19946 "az container delete"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container delete -g {} --name {}`

## Expected Behavior

## Envir

[2021-10-20 12:12] JeffMII commented on #19945
Okay. I'm getting the original error now in the terminal. I've exhausted everything I can think of. I'm going to just let GitHub spin as long as I can in the deployment step. Hopefully it will deploy or give me some error that makes sense.

[2021-10-20 12:20] JeffMII commented on #19945
I reran the build and deployment on GitHub and finally got an error:

![image](https://user-images.githubusercontent.com/80857218/138091296-6da9b561-f660-4440-9203-d4c72b6dcca1.png)

[2021-10-20 14:53] pmatthews05 opened #19948 "Calling az rest --method POST with JSON body file in PowerShell not working in DevOps Pipeline"
Not sure if this is just a question because of what am i doing wrong, or there is a bug here.

My code is grabbing results from Azure Log Analytics with a complicated query, and I'm using az rest. From within a PowerShell 7 window I'm able to make the call and retrieve results. However when I call the PowerShell script from within an Azure Pipeline I receive an error when it's reading in the body.

[2021-10-20 15:57] meierale opened #19949 "Update documentation regarding optional parameter --sdk-auth"
I completely fail to understand what the following documentation is supposed to mean.
[code]

Please describe this in a customer tailored and understandable way, using proper English sentences. Thanks ;-)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e99d25ff-03e2-e015-37f4-a29b59ec50d4
* Version Independent ID: 1a8e8

[2021-10-20 16:27] #19945 closed, assigned to nobody

[2021-10-20 17:41] nicwinn opened #19950 "No examples after running specifically suggested find command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az find`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az devops service-endpoint list  -h`
- Returns `"For more specific examples, use: az find "az devops service-endpoint li

[2021-10-20 20:03] gavinbarron opened #19951 "functionapp:az functionapp update doesn't support https-only true"
**Is your feature request related to a problem? Please describe.**
Yes, there's a security mandate to enable httpsOnly on all our function app. We have a lot; I can't script this change :(

**Describe the solution you'd like**
`az functionapp update -g myRg-n myFnApp --https-only true` works as it does for `az webapp update`

**Describe alternatives you've considered**
Using the webapp sibling com

[2021-10-20 20:48] gopkumr opened #19952 "Failed Deployment: Exercise - Create a new API in API Management from a function app"
## Describe the bug
While executing the steps as mentioned in the [Learn Link](https://docs.microsoft.com/en-us/learn/modules/build-serverless-api-with-functions-api-management/3-exercise-import-function-app-api-management), the  setup command throws the below error for both the function app deployments ```cd ~/OnlineStoreFuncs
bash setup.sh```

**Command Name**
`az functionapp deployment source c

[2021-10-20 22:37] GurdipS5 opened #19953 "Adding ssl binding to deployment slot returns az : ERROR: Operation returned an invalid status 'Not Found'"
**Describe the bug**
I run the following command:

az webapp config ssl bind --certificate-thumbprint "$thumbprint" --name "testapp12345gsx" --resource-group "tfmgrtest" --slot "testapp12345gsx-testslot" --ssl-type "SNI"

But get the error
az : ERROR: Operation returned an invalid status 'Not Found'

**To Reproduce**
To reproduce, please enter the command like above, with the same arguments.

**Ex

[2021-10-20 23:35] yonzhan commented on #19948
@jiasli for awareness

[2021-10-20 23:46] RossMurr4y commented on #19891
Receiving this error suddenly too - didn't receive it yesterday, today on 3x StaticWebApps in individual release pipelines.

I was performing a disconnect on the SWA's prior to deployment in AzDO Pipelines, which was previously required as without it the Pipelines would fail, reporting that I was attempting to update some Read Only attributes. If I remove the disconnect from the Pipeline they now

[2021-10-21 00:52] yonzhan commented on #19953
route to service team

[2021-10-21 00:53] yonzhan commented on #19952
route to service team

[2021-10-21 00:54] yonzhan commented on #19951
route to service team

[2021-10-21 02:45] karl-howard opened #19954 "Unable to zip deploy a function app in the Azure Cloud Shell (version 2.29.0)"
Deploying a zip file to both existing functionapp and new functionapp is not working and throws an unexpected error.
Command format is
 az functionapp deployment source config-zip -g $ResourceGroup -n $appname --src $filename
This format is as documented at [ms documentation](https://docs.microsoft.com/en-us/cli/azure/functionapp/deployment/source?view=azure-cli-latest#az_functionapp_deployment_so

[2021-10-21 03:47] jiasli opened #19957 "[aks] `test_aks_create_default_setting` intermittently fails in CI"
**Describe the bug**

`test_aks_create_default_setting` intermittently fails in "Test debian buster Package"

https://dev.azure.com/azure-sdk/public/_build/results?buildId=1152082&view=logs&j=c846b3e8-69b8-5dbd-1a39-4905d81e6a95&t=9ebb608a-8a51-5834-bad0-46e2c03d2282&l=2108

[code]

It is likely to be caused by multiple tests using the same temp file.

[2021-10-21 03:48] jiasli commented on #19957
Could be related to https://github.com/Azure/azure-cli/issues/19841.

[2021-10-21 03:57] zhoxing-ms commented on #11342
@@ggirard07 This issue is due to the fact that service is not yet supported. If you have relevant needs, you can create feature request on https://github.com/Azure/azure-cli/issues/new?assignees=&labels=&template=Feature_request.md&title= and we will transfer it to service team

[2021-10-21 07:40] #19226 closed

[2021-10-21 09:03] #19763 closed

[2021-10-21 10:06] #19939 closed, assigned to Kotasudhakarreddy

[2021-10-21 10:37] #19737 closed

[2021-10-21 13:56] nmaarse commented on #19652
Hi,

sorry for the late response. I was not at work the last few weeks.  What works:
'az account get-access-token'
What doesn't work:
-'az account get-access-token --resource-type=ms-graph'
-'az account get-access-token --resource-type=ms-graph --tenant [tenantid]'

However the error i now get back is:
_'AADSTS53000: Device is not in required device state: compliant. Conditional Access policy requ

[2021-10-21 14:06] sjhawke opened #19964 "az functionapp deployment crash"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- build dotnet 3 function app into a zip file
-

[2021-10-21 14:17] harshbhardwaj-123 opened #19965 "facing this error while installing aks cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2021-10-21 14:17] afogarty85 opened #19966 "az ml datastore delete is broken"
I am trying to delete a datastore tied to AzureML. Following the guide here: https://docs.microsoft.com/en-us/cli/azure/ml/datastore?view=azure-cli-latest#az_ml_datastore_delete

This command is unrecognized:

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 27bfd14b-bddd-771f-1364-c52a991b75f0
* Version Independe

[2021-10-21 15:19] Konnor5092 opened #19968 "az acr build from quickstart not working"
**Describe the bug**

I am unable to use `az acr build` with the Azure CLI.

The 5 different methods I have tried when running the following command result in the following errors

[code]

1. Via Cloud Shell

[code]

2. Via Powershell

[code]

3. Via Git Bash

[code]

4. Via Command Prompt

[code]

![cmdadmin](https://user-images.githubusercontent.com/18048889/138430701-7f5c460d-3d1e-4bee-b063-a7f

[2021-10-21 15:28] Gerritjuuh commented on #19964
Experiencing the same issue! We use t[his installation method  ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt#option-2-step-by-step-installation-instructions) in our dockerfile. Any tips on how to install an older version of the az-cli?

[2021-10-21 15:57] darren-at-shell commented on #19964
We have managed to mitigate it by reverting to use 2.28.0 (it seems that there is no 2.29.1 for the "focal" ubuntu release available yet in the packages, despite there being ones for all the other versions.

Adding this to our pipeline downloaded the older version and allowed us to continue to deploy at least until this is corrected
sudo apt install -y --allow-downgrades azure-cli=2.28.0-1~focal

[2021-10-21 17:29] hari-bodicherla opened #19970 "Add VM Size params to AZ VM and AZ VMSS update cmds"
**Describe the bug**
Currently there is no option for customers to resize the VM/VMSS using the Azure CLI cmdlets. This blocks customers to either fall back to powershell cmdlets or use other client tools to resize. Also this is blocking for us to add the Ephemeral os disk placement param which requires the cmdlet to support the resize.

**To Reproduce**
1. Create a VM
2. Try updating the VM to di

[2021-10-21 17:44] kjfranklin commented on #19891
Ah yes, thanks, but it appears azure devops machines don't have it, even when forcing an az upgrade it errors with azure-cli is already the newest version (2.29.0-1~focal).

[2021-10-21 17:47] guillermoelia opened #19971 "az webapp create returns Operation returned an invalid status 'Bad Request'"
**Describe the bug**
Az webapp create returns "Operation returned an invalid status 'Bad Request'" when creating a new webapp, specifically when requesting a dockerhub registry connection. We have succesfully used this same set of commands about 15 days ago.

**To Reproduce**
az webapp create --resource-group ResourceGroup --plan Plan --name AppName --deployment-container-image-name repo/imagename

[2021-10-21 17:55] Kumar-Ashwin-Hubert opened #19972 "`az storage container immutability-policy create` fails with error `Parameter 'resource_group_name' can not be None.`"
## Describe the bug
The azure storage immutable-policy creation command throws parameter cannot be none error when **optional** parameter "resource-group" is not provided. Issue occurring from azure-cli 2.29.1 onwards and didn't occur in previous versions.
[Immutable-policy  creation documentation ](https://docs.microsoft.com/en-us/cli/azure/storage/container/immutability-policy?view=azure-cli-lat

[2021-10-21 19:19] #19971 closed, assigned to nobody

[2021-10-21 19:20] guillermoelia commented on #19971
Service plan was type windows 🙃

[2021-10-21 19:35] marcridore opened #19973 "error while deploying mslearn-apim-and-functions.git"
@Azure:~$ git clone https://github.com/MicrosoftDocs/mslearn-apim-and-functions.git ~/OnlineStoreFuncs
Cloning into '/home/xxxx/OnlineStoreFuncs'...
remote: Enumerating objects: 39, done.
remote: Counting objects: 100% (39/39), done.
remote: Compressing objects: 100% (34/34), done.
remote: Total 39 (delta 16), reused 8 (delta 4), pack-reused 0
Unpacking objects: 100% (39/39), done.
xx@Azure:~$ git

[2021-10-21 20:27] Megame99 opened #19974 "keyvault"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault secret show --vault-name {} --name {} --query {} -o{

[2021-10-21 20:53] justusfowl opened #19975 "After CLI Upgrade - deployment to azure functionapp from zip not working anymore"
Hello all,

after upgrading the azure CLI to the newest version I am not able to deploy a new version from a zip archive anymore. I also tried the same via the azure DevOps CI with the same result.

Anyone else having the same experience and potentially a fix already?

Thanks!!

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce

[2021-10-21 21:47] needuv opened #19976 "`azure-cli-testsdk` on main branch does not work with latest version of `azure-cli`/`azure-cli-core` (2.29.1) available on PyPi"
**Describe the bug**

When running CLI tests using `azure-cli-testsdk` framework and the latest version of `azure-cli` available on PyPi (2.29.1), we get the following error:

[code]

**To Reproduce**

Run a CLI test using `azure-cli-testsdk` with the latest version (2.29.1) of `azure-cli` installed from Pip.

**Expected behavior**

`azure-cli-testsdk` should work with the latest version of `azure

[2021-10-21 21:50] sisirap commented on #19891
@Alec13355 2.29.1 CLI version got the fixes. We don't control devops pipeline, so please ensure that devops  is using latest CLI build.

[2021-10-21 22:57] yonzhan commented on #19965
route to service team

[2021-10-21 23:00] yonzhan commented on #19964
route to service team

[2021-10-21 23:08] vicuartas230 opened #19979 "No module named 'decorator'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --sku {} --name {}`

## Expected Behavior

## Environment Summ

[2021-10-22 00:03] yonzhan commented on #19976
@jiasli for awareness

[2021-10-22 00:53] jiasli commented on #19976
Similar to https://github.com/Azure/azure-cli-extensions/pull/3950#issuecomment-948375909.

`azure-cli-core` and `azure-cli-testsdk` should be both from the `dev` branch, `main` branch or PyPI. Using `azure-cli-core` from PyPI but `azure-cli-testsdk` from `dev` intermixed is NOT Supported.

[2021-10-22 00:53] #19976 closed, assigned to jiasli

[2021-10-22 01:28] LilyBell opened #19980 "az storage blob upload returns unexpected error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob upload`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob upload --account-name {} --container-name {} --na

[2021-10-22 04:49] yonzhan commented on #19980
storage

[2021-10-22 04:55] faniereynders commented on #19975
Hi, any details on when this could be fixed? It is blocking our teams to release mission critical workloads and this issue is causing delays. Thanks.

[2021-10-22 05:36] Thombba opened #19985 "functionapp:az functionapp deployment source config-zip: FAILURE"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2021-10-22 06:43] #19957 closed, assigned to nobody

[2021-10-22 07:26] jiasli opened #19989 "Edge and beta builds cannot be installed when a hotfix is not merged to `dev`"
**Describe the bug**

When there is a hotfix, like `2.29.1`, it overrides edge and beta builds like `2.29.0.postxxx`. Before the hotfix is merged back to `dev`, edge and beta builds cannot be installed anymore.

If the merge-back is delayed due to reasons like merge conflict (https://github.com/Azure/azure-cli/pull/19982), this issue becomes more significant.

[2021-10-22 08:04] danponting opened #19990 "WinError 193 When running Bicep commands on Az CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Issue when trying to run bicep related Az CLI commands

**Command Name**
`az bicep version` OR
`az deployment group create` (with any file - those that previously worked and have not changed) OR
`az bicep build` (with any file - those that previously worked and have not changed)

**Errors:**
[code]

## To Repro

[2021-10-22 08:06] michaelelleby opened #19991 "Azure CLI is unable to query resource groups with dashes in their resource group name"
## Describe the bug

Unable to query for resource groups with dashes in their name. This is required to check the existence of a resource group. ` az group show --resource-group kubernetes-cluster` would return an error if the resource group does not exist, making it difficult to determine if the error was due to the resource group not existing or some other error.

## To Reproduce:

[code]

## Ex

[2021-10-22 09:36] chrris99 opened #19993 "Node deploy to Azure App Service: HTTPSConnectionPool: Max retries exceeded with url /api/zipdeploy?isAsync=true"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up -n {} --os-type {}`

## Expected Behavior

## Environment Summ

[2021-10-22 09:40] #19964 closed, assigned to Kotasudhakarreddy

[2021-10-22 09:40] #19975 closed, assigned to Kotasudhakarreddy

[2021-10-22 10:14] jw3126 opened #19995 "az upgrade confusing output"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az upgrade`

**Errors:**
[code]
Output is not self consistent. First line says 2.29.0 is latest, later it claims (2.18.0-1). is latest.

## Environment Summary
[code]
## Additional Context

[2021-10-22 11:21] kaganmersin opened #19997 "az network front-door create command is not accepting multiple fqdn backend adress"
**Describe the bug**
az network front-door create command is not accepting multiple FQDN with  --backend-address  parameters. It throw error as shown below
[code]

**To Reproduce**
Run below command
[code]

**Expected behavior**
It should accept multiple hostname
**Environment summary**
azure cloud shell bash
[code]
**Additional context**

[2021-10-22 12:58] #19985 closed, assigned to Kotasudhakarreddy

[2021-10-22 13:53] giovannifl opened #19998 "List supported Master and Worker VMsize"
Please could you list all supported Master and Worker vmSize ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08eb181a-b377-c854-69cc-3b9307f59f72
* Version Independent ID: 2142cb43-b027-86a1-6d3c-2f77bf86d177
* Content: [az aro](https://docs.microsoft.com/en-us/cli/azure/aro?view=azure-cli-latest)
* Content So

[2021-10-22 14:17] #19965 closed, assigned to phealy

[2021-10-22 14:48] swilkTUDA opened #19999 "az login --interactive fails on Azure ML Compute node"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --identity`

## Expected Behavior

## Environment Summary
[code]
## Ad

[2021-10-22 16:53] #19951 closed, assigned to Kotasudhakarreddy

[2021-10-22 17:53] #19937 closed, assigned to jiasli

[2021-10-22 17:53] #19938 closed, assigned to jiasli

[2021-10-22 18:52] zachhats opened #20000 "az vmss run-command invoke fails with multiple VM ids"
**Describe the bug**
I am using the az cli within PowerShell. I have tried the following, which only runs the command on the first VM instead of all the VMs listed:

`az vmss run-command invoke --command-id RunPowerShellScript --scripts `@script.ps1 --ids ((az vmss list-instances -n REDACTED -g REDACTED --query "[].id" --output tsv) -join ' ')`

I confirmed that the `az vmss list-instances` comman

[2021-10-22 19:02] kangsun-ctrl opened #20001 "Shared image gallery image definition 'architecture' private package request"
**Is your feature request related to a problem? Please describe.**

Currently for gallery definition, there is no way to pass in 'architecture' parameter during creation. File this request so that 'architecture' property can be passed in via private package

**Describe the solution you'd like**

az sig image-definition create --gallery-image-definition
                               --gallery-name

[2021-10-22 19:34] kensykora opened #20002 "2.28 breaks `az iot dps certificate generate-verification-code`"
## Describe the bug

As of 2.28 (does not occur in 2.27 or earlier) the command to generate a verification code for a DPS certificate fails with this error.

**Command Name**
`az iot dps certificate generate-verification-code`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create a D

[2021-10-22 20:05] sozercan opened #20003 "ImportError: libffi.so.7: cannot open shared object file: No such file or directory"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault set-policy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault set-policy`

## Expected Behavior

## Environment Sum

[2021-10-22 20:36] eserkaraca opened #20004 "az iot hub update --set identity.type="SystemAssigned" is not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az iot hub update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az iot hub update --name iothub-name --set identity.type="SystemAssign

[2021-10-22 20:45] chasewilson opened #20005 "Error handling request for AAD"
**Is your feature request related to a problem? Please describe.**

As a user, permissions errors may be confusing when working with RBAC  systems in `az ad` and could be improved to provide meaningful guidance to address permissions in the correct location. E.g. Azure vs AAD permissions and User account vs Service Principal account.

**Describe the solution you'd like**

- If the user signed in t

[2021-10-22 22:17] ngurram opened #20006 "Az Restore from snapshot failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config snapshot restore`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config snapshot restore -g {} -n {} --source

[2021-10-22 23:55] yonzhan commented on #20003
keyvault

[2021-10-22 23:56] yonzhan commented on #20004
route to service team

[2021-10-22 23:58] yonzhan commented on #20005
@jiasli for awareness

[2021-10-23 00:00] yonzhan commented on #20006
route to service team

[2021-10-23 00:03] #18029 closed

[2021-10-23 01:35] seanyao1 commented on #15010
I'm in the same situation.

[2021-10-23 01:38] yonzhan commented on #19251
@praveenambati1233 any update?

[2021-10-23 08:49] Sahil-13 opened #20009 "Azure CLI upgrade not working due to older version uninstallation issue"
Hi,

I am trying to upgrade Azure CLI to the latest version however it fails at removing the older version i.e. azure-cli-2.0.47.msi.

below steps performed but no go -
- tried uninstalling from programs and features
- deleted files under C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2
![image](https://user-images.githubusercontent.com/65589996/138549798-99716cb4-1756-4f6b-96bd-abec53a120af.png)

[2021-10-23 15:08] RajatSahani opened #20010 "role assignment not working for kubernetes"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role assignment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az role assignment create --assignee {} --role {} --scope {}`

[2021-10-23 20:13] atkachuk-corgi opened #20011 "Bind SSL Certificates : ERROR: 'str' object has no attribute 'value'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config ssl bind`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config ssl bind --certificate-thumbprint {} --name {

[2021-10-24 09:45] rice1gou opened #20012 "The command failed with an unexpected error. Here is the traceback"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2021-10-24 12:06] mjclarke94 opened #20013 "Add management/activation of Privileged Identity Management controlled roles"
**Is your feature request related to a problem? Please describe.**
Having to go via the portal to activate role assignments via PIM is inconvenient. Adding in PIM functionality to the CLI interface would be very useful.

**Describe the solution you'd like**
An expansion of the `az ad` command to include PIM management, as is available via the [Powershell interface](https://docs.microsoft.com/en-us

[2021-10-24 13:30] richposada opened #20014 "functionapp:az functionapp deployment source config-zip is throwing error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2021-10-25 07:05] #20014 closed, assigned to Kotasudhakarreddy

[2021-10-25 07:10] sowmyagomatam opened #20018 "Expose multiple Azure Function apps as a consistent API by using Azure API Management"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2021-10-25 09:08] longkb opened #20020 "az acr login failed in Ubuntu"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr login --name {}`

## Expected Behavior

## Environment Summary
[code

[2021-10-25 10:50] juergenbr opened #20022 "Endless loop when setting auto-upgrade.enable=yes in WSL"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az upgrade --all {} -y`

## Expected Behavior

## Environment Summary
[code]

[2021-10-25 13:43] nelsonmorais opened #20023 "DEB package missing for Ubuntu Focal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
az upgrade from 2.29.0 t o2.29.1 doesn't work and says that the latest version is already installed.

**Command Name**
`az upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requ

[2021-10-25 13:59] thaneeshr opened #20024 "az functionapp deployment source config-zip: AttributeError: 'str' object has no attribute 'value'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2021-10-25 16:25] #19860 closed, assigned to Kotasudhakarreddy

[2021-10-25 17:03] gauravag091 opened #20028 "problem in publishing function source code"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

[2021-10-25 17:53] #20012 closed, assigned to nobody

[2021-10-25 18:07] cargilltay opened #20030 "az appconfig feature set only allows a specific set of alphanumeric characters"
**Describe the bug**
`az appconfig feature set` only allows a specific set of alphanumeric characters. When trying to use a `/` in a feature flag name the following error is thrown:

[code]

However, the same feature flag can be configured in Azure's App Configuration's Feature Manager just fine.

During Creation:
![app config feature flag](https://user-images.githubusercontent.com/13838155/138740

[2021-10-25 18:22] mansaa179 opened #20031 "Error WHile Deploying FUnctionapp"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2021-10-25 22:32] dtuCloud opened #20033 "Add Encryption Parameters in VNet, VNet Peering, Nic"
**Resource Provider**

Network Resource Provider

**Description of Feature or Work Requested**

1. When customers are trying to create or update a Virtual Network, they can provide 2 additional parameters "EnableEncryption" (bool) and "EncryptionEnforcementPolicy" (string).

- possible value of "EnableEncryption" (bool, can be null): true, false
- possible value of "EncryptionEnforcementPolicy" (s

[2021-10-25 23:23] alwisr opened #20035 "ProductFunction - ProductDetails function not created , same issue for OrderFunction"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp create --resource-group {} --consumption-plan-locat

[2021-10-26 02:08] thanh-nguyen-van opened #20036 "AttributeError: 'NoneType' object has no attribute 'private_dns_zone_configs'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network private-endpoint dns-zone-group add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network private-endpoint dns-zone-grou

[2021-10-26 03:30] devlace opened #20037 "az synapse notebook create results in error: The command failed with an unexpected error. 'metadata'"
**Describe the bug**

az synapse notebook create fails with the following error

[code]

**To Reproduce**

Run something like below:
`az synapse notebook create --file @./my_notebook.json --name=my_notebook --workspace-name my_syn_workspace --spark-pool-name my_spark_pool`

**Expected behavior**

`my_notebook` is created in my synapse workspace

**Environment summary**

Shell type: WSL2

AZ CLI ve

[2021-10-26 06:30] tobiassen opened #20040 "error on webapp log tail"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp log tail`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp log tail --resource-group {} --name {}`

## Expected Behavi

[2021-10-26 06:31] #20040 closed, assigned to nobody

[2021-10-26 11:25] #19751 closed, assigned to zhoxing-ms, wangzelin007

[2021-10-26 13:34] breiter opened #20047 "`curl -L https://aka.ms/InstallAzureCli | bash` fails on macOS monterey 12.0.1 because of outdated virtualenv library"
**Describe the bug**
`curl -L https://aka.ms/InstallAzureCli | bash` fails at the step of creating a virtual python environment in $HOME/lib/azure-cli

bin, lib, and include directories are created in $HOME/lib/azure-cli and various files are copied and symlinked. But then I get an error like the following that sys.prefix points to the original python3 binary location and not the new virtual envir

[2021-10-26 13:35] 12-malak opened #20048 "functionapp:Failure of `az functionapp deployment source config-zip` command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
 From the list of functions for your function app, select ProductDetails.  The ProductDetails Function pane is not appearing.

![Capture23](https://user-images.githubusercontent.com/73274076/138889400-3f6fae26-4153-4717-9aef-5b5998bdc312.JPG)

**Command Name**
`az functionapp deployment source config-zip`

**Er

[2021-10-26 13:47] #19990 closed, assigned to nobody

[2021-10-26 15:27] wetjenk opened #20049 "WebApp:az cli `az webapp show` command no longer works"
Command is:

`az webapp show --debug --resource-group ukazs-rg-d-dev-02 --name plutuswriter-functions-dev --query possibleOutboundIpAddresses  --output tsv`

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as

[2021-10-26 16:16] warrantor opened #20050 "Azure Resource Manager not respecting dependencies for role assignments"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az deployment group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az deployment group create -g {} --template-file {}`
- templa

[2021-10-26 17:33] etlock opened #20052 "No module named 'azure.keyvault.v7_0'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault secret list --vault-name {}`

## Expected Behavior

[2021-10-26 17:43] roslynlu opened #20053 "New Azure Stream Analytics CLI"
**Is your feature request related to a problem? Please describe.**
Outdated CLI commands

**Describe the solution you'd like**
Our team has a new GA API version and we would like to update our CLI commands based on this new GA API version.

**Describe alternatives you've considered**
N/A

**Additional context**
Swagger: https://github.com/Azure/azure-rest-api-specs/tree/master/specification/stream

[2021-10-26 17:44] raveenaaa opened #20054 "`az group deployment create` parameter processing affected by character in sshKey"
**Describe the bug**
I have an ARM template with certain string parameters, int, and boolean parameters. Among the string parameters is a parameter (sshRSAPublicKey) accepting the contents of the public key file which is generated using `ssh-keygen -b 2048 -t rsa` command. A special charater in the sshKey throws off the processing of the  commandline. As a result, any parameters (template paramete

[2021-10-26 20:13] SQLDataSide opened #20056 "diagnostic-settings does not on "Dedicated SQL pool""
Hi
I have set the "diagnostic settings" on Synapse workspace and it work perfectly but it doesn't on Synapse Dedicated SQL Pool, please help, The error message is not clear (PowerShell ISE) and misleading.
Some variables are not been displayed

---------------------------------------------------------------------------------------------------------------
_Synapse dedicated SQL pool_ **NOT WORKING*

[2021-10-27 02:13] YoloClin opened #20058 "Install instructions don't work for Ubuntu 21.10 (No 21.10 debs are built)"
The guidelines at https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt don't work on Ubuntu 21.10 because no 21.10 repository exists on https://packages.microsoft.com/repos/azure-cli/dists/

Is it possible to get these added to the build chain?

Thanks!

[2021-10-27 06:32] matkoch opened #20063 "Mandatory parameters: source / branch"
`--source` and `--branch` should not be mandatory. It's perfectly fine to create an SWA without github integration.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e683c181-f005-a6c8-cb11-74ce557e51f8
* Version Independent ID: 860411b7-f2f1-af2b-b5e2-7d67e1b8e028
* Content: [az staticwebapp](https://docs.microsoft.com/e

[2021-10-27 06:40] #20048 closed, assigned to Kotasudhakarreddy

[2021-10-27 08:26] AakarshitChaurasia opened #20064 "Exercise - Create a new API in API Management from a function app (Error) How to solve?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2021-10-27 08:34] gjvanvuuren opened #20065 "WebApp:webapp log tail error: Unable to find {} in RG"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp log tail`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp log tail --name rowa-dwmerge-prod-weu-func --resource-group

[2021-10-27 10:44] TeresaBinks opened #20066 "`az ad app owner add` appears to rely on deprecated `graph.windows.net`"
We've been struggling to get a Service Principal, which is an Owner on an App Registration, to add other Owners to that App Registration.

The Service Principal has an admin-consented AppRoleAssignment to Microsoft Graph's `Application.ReadWrite.OwnedBy`. However, when running `az ad app owner add` we were faced with an insufficient permissions error.

We have resolved that error by creating an ad

[2021-10-27 11:02] mlankamp opened #20067 "Functionapp:functionapp deployment error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login`
- `az account set --subscription xxxx-xxxx-xxx-xxxx`
- `az functionapp dep

[2021-10-27 11:13] lanrobin opened #20068 "az keyvault storage sas-definition show --id xxxx returns Invalid API Version"
**Describe the bug**
az keyvault storage sas-definition show --id xxxx returns Invalid API Version

**To Reproduce**
![image](https://user-images.githubusercontent.com/1825760/139055116-b4cdaabe-33da-4d66-abed-52df11da4023.png)

![image](https://user-images.githubusercontent.com/1825760/139055243-452b1427-560a-4f4e-875a-5c4854d37728.png)

[2021-10-27 11:59] pathob opened #20069 "`az aks update-credentials` does not terminate"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update-credentials`

**Errors:**
Does not produce any error output, but the command does not terminate, it keeps running 'forever' until I canceled it after 6 hours. Then it says:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, a

[2021-10-27 14:12] #20069 closed, assigned to phealy

[2021-10-27 15:53] hao31 opened #20071 "Failure authenticating using Azure Key Vault in debug mode locally"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --output {} --resource {}`

## E

[2021-10-27 16:13] WKahWai opened #20072 "Error when running az find blob"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Macbook Pro M1
MacOS 12.0.1
Running on Terminal
Installed the latest Azure CLI via Homebrew

**Command Name**
`az find`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps

[2021-10-27 16:32] stevecox86421 opened #20073 "az storage blob upload-batch fails with 'ProtocolError' object has no attribute 'lower'"
**Describe the bug**
2021-10-27T11:29:28.5501758Z INFO: Client-Request-ID=258deeb9-3719-11ec-a503-0022487b460b Outgoing request: Method=PUT, Path=xxxxx, Query={'timeout': None}, Headers={'x-ms-blob-type': 'BlockBlob', 'x-ms-lease-id': None, 'If-Modified-Since': None, 'If-Unmodified-Since': None, 'If-Match': None, 'If-None-Match': None, 'x-ms-blob-cache-control': None, 'x-ms-blob-content-type': 'ap

[2021-10-27 17:43] #20023 closed, assigned to jiasli

[2021-10-27 22:02] northtyphoon opened #20075 "az acr build/run supports upload-timeout option to better work in a slow network environment"
**Is your feature request related to a problem? Please describe.**
In a slow network environment, when the command uploads mega bytes build context to Azure, it might fail as the timeout.

INFO: Client-Request-ID=1ffdb456-3285-11ec-8b9f-acde48001122 Operation failed: checking if the operation should be retried. Current retry count=3, , HTTP status code=Unknown, Exception=('Connection aborted.', ti

[2021-10-27 23:27] rafaelpiter opened #20076 "az functionapp deployment source config-zip"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2021-10-27 23:50] frank-lsf opened #20077 "How can I get the GPU type of an SKU in `az vm list-skus`?"
For example, when I do `az vm list-skus -l westus2 --size Standard_ND96asr_v4`, I only get
[code]

But no information on the GPU model or type. I can only get the information from https://docs.microsoft.com/en-us/azure/virtual-machines/nda100-v4-series.

Is there an API I can query to get the GPU types of a particular VM SKU offering?

---
#### Document Details

⚠ *Do not edit this section. It is

[2021-10-28 00:38] DwayneNeed opened #20078 "scaling in/out VMSS in edge zone fails"
**Describe the bug**
Using the CLI to scale in/out a VMSS in an edge zone fails with this strange error:

    The resource 'test-vmss-lax-1' already exists in extended location 'EdgeZone': 'microsoftlosangeles1' of location 'westus'. A
    resource with the same name cannot be created in location 'westus'. Please select a new resource name.

This kind of error suggests that ARM sees a mismatch bet

[2021-10-28 04:18] DeployClarity opened #20081 "couldn't run az find blob in cloud shell (posh environment)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az find`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az find {}`

## Expected Behavior

## Environment Summary
[code]
## Additional C

[2021-10-28 06:37] Panchadurga opened #20082 "az functionapp deployment source config-zip: AttributeError: 'str' object has no attribute 'value'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2021-10-28 07:50] emmyamit opened #20083 "Unable to connect to Azure Cli from AWS EC2 (RHEL VM)"
**Resource Provider**
Not Sure

**Description of Feature or Work Requested**
We are trying to connect Azure CLI from AWS EC2 instance, but it is failing.

Error - Certificate verification failed. This typically happens when using Azure CLI behind a proxy that intercepts traffic with a self-signed certificate. Please add this certificate to the trusted CA bundle. More info: https://docs.microsoft.c

[2021-10-28 12:36] bgrainger opened #20086 "Add details to `az monitor app-insights api-key create`"
The documentation for `az monitor app-insights api-key create` includes the following:

It should include the actual Role names that are valid (`ReadTelemetry`, `AuthenticateSDKControlChannel`; `WriteAnnotations`).

This information is in the script documentation at https://github.com/azure/azure-cli-extensions/blob/86680f7a592c659456feb605104809efa5fae353/src/application-insights/azext_applicatio

[2021-10-28 13:33] ohadschn opened #20087 "Azure China / Mooncake - "az feature" commands fail with: The resource type 'providers' could not be found in the namespace 'Microsoft.Features' for api version '2021-07-01'"
**Describe the bug**
Cannot execute `az feature` commands in `AzureChinaCloud` (mooncake), getting the following error:

**To Reproduce**
`az feature list --namespace Microsoft.Storage`

**Expected behavior**
`az feature` works normally as it does in the public cloud (`AzureCloud`).

**Environment summary**
Started happening since az `2.28.0`, still happens with the latest release `2.29.1`.

**Add

[2021-10-28 14:00] robertschaftlein opened #20088 "%%storage fails in az interactive shell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`
- `%%storage`

## Expected Behavior

## Environment Summa

[2021-10-28 16:52] regisgimenis opened #20089 "assignee-object-id is not valid"
the argument --assignee-object-id is not valid with the following error "UnrecognizedArgumentError: unrecognized arguments: --assignee-object-id".

The documentation must be updated.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: cfc71a73-f8b7-8b89-ad44-30045b1e057d
* Version Independent ID: 10dc03f8-8337-c693-8401-a60

[2021-10-28 16:56] THERCW opened #20090 "this command gives error while performing in the sand box"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2021-10-28 17:06] THERCW opened #20091 "Error while performing this command in sandbox"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

[2021-10-28 17:34] ksbharadwaj opened #20092 "Make azure-cli package available on Debian Buster repositories"
**Is your feature request related to a problem? Please describe.**

As per the release history, a package for Debian buster is already available. But it is not available for download from Debian repositoriesfor Buster. https://packages.debian.org/unstable/azure-cli. It is only available for Bullseye.
**Describe the solution you'd like**

Make azure-cli package available for download from Debian Bu

[2021-10-28 18:25] mm6502 opened #20094 "Error in Exercise - Create a new API in API Management from a function app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior.

- Follow instructions on https://docs.microsoft.com/sk-sk/learn/modules/build-serverless-api-with-functions-api-management/3-exercise-import-function-app-api-management
- Error

[2021-10-28 18:30] #20092 closed, assigned to jiasli

[2021-10-28 20:37] dbiegunski opened #20096 "az cli drops caret in --parameter of az vm run-command invoke"
az cli version 2.1.2

**Describe the bug**
When a string contains a caret character and it is passed as an argument to --parameter it gets dropped.

--parameters password='test^test'

Tested scenarios

--parameters password='test^test'  - PS Script receives: testtest
--parameters password="test^test" - PS Script receives: testtest
--parameters password='"test^test"'  - PS Script receives: "test^te

[2021-10-28 23:06] stemaMSFT opened #20098 "Lighthouse + PIM Integration"
**Resource Provider**
Azure Lighthouse

**Description of Feature or Work Requested**
Lighthouse integration is part of this semester's work

**Minimum API Version Required**
Multiple API version based on each service

**Swagger Link**
Authorization Swagger: https://github.com/Azure/azure-rest-api-specs/tree/master/specification/authorization/resource-manager/Microsoft.Authorization/preview/2020-10

[2021-10-29 01:57] yanfa317 opened #20099 "Issues found for Azure Virtual Network Manager"
**Describe the bug**
1,  List-effective-config should work now, but it return empty list.
2, We should have two effective config level APIs Get-AzNetworkManagerEffectiveConnectivityConfigurationList and Get-AzNetworkManagerEffectiveSecurityAdminRuleList, but it seems there is only one list-effective-config defined. Same, we have two effective vnet api Get-AzNetworkManagerEffectiveVirtualNetworkByN

[2021-10-29 04:01] hepower opened #20101 "az login failed with error __init__() got an unexpected keyword argument 'user_agent'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2021-10-29 05:39] jiasli opened #20102 "[vm] `test_gallery_application_version` fails in CI"
**Describe the bug**

`test_gallery_application_version` fails in "Test ubuntu focal Package"

https://dev.azure.com/azure-sdk/public/_build/results?buildId=1167709&view=logs&j=ad51cf76-b294-5bde-777e-be77cc5f3050&t=0e02ab23-4098-514d-f7b9-ab422251bbb2

[code]

[2021-10-29 07:05] dymitrs opened #20105 "Application Gateway - unable to create a routing rule with backend pool and redirect configuration"
**Describe the bug**

Unable to create path-based routing rule (backend targets) of target type "Backend pool" and using it with redirect rules.
This scenario is achievable only via Portal and cannot be automated in any way. (not even from AGIC level).

**To Reproduce**
1. Create redirect config:

[code]

2. Create URL path map

[code]

3. Create a routing rule

[code]

Those steps end with follow

[2021-10-29 08:38] mohitkv32 opened #20106 "error in Exercise - Create a new API in API Management from a function app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2021-10-29 10:09] yaroslav-ddt opened #20108 "StaticApp:Static web application settings cannot be set with "az staticwebapp appsettings set""
Hello,
I have tried to add application settings to the static web app with the command
`az staticwebapp appsettings set -n sitename --setting-names 'key=value'`
but got the error "cli.azure.cli.core.azclierror: Operation returned an invalid status 'Bad Request'".

Debug log shows the possible issue with request:

Applying the same settings on the same static web application with `az rest --method

[2021-10-29 12:25] anattapol opened #20109 "azure subnet update remove service-endpoints"
**Describe the bug**
Existing `service endpoints` were removed if we run the commands without mention every service endpoints.
The blow command will remove all service endpoints in the subnet mention and add only service-endpoint mentions in the command.
[code]

**To Reproduce**
1. Select vnet
2. Create service endpoint e.g. cosmos DB and select the subnet
3. Run the command to enable another serv

[2021-10-29 12:44] bartosz-piotrowski opened #20110 "Restoring App Service from snapshot via CLI is not working"
I'm using this docu command:
az webapp config snapshot restore -g TargetResourceGroup -n TargetApp --source-name SourceApp --source-resource-group OriginalResourceGroup --time 2018-12-11T23:34:16.8388367 --restore-content-only

I tried restore to:
- new webapp in the same RG
- in the other RG
- to the slot

I'm doing this as an owner of the subscirption.

### **This is autogenerated. Please review

[2021-10-29 13:08] #20102 closed, assigned to zhoxing-ms

[2021-10-29 14:09] pamoody33 opened #20112 "Error in Exercise - Create a new API in API Management from a function app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

[2021-10-29 15:41] 2percentsilk opened #20113 "Azure CLI support for VS Codespaces should be removed"
Since VS Codespaces has been deprecated, these docs are no longer accurate and should be removed. Please remove them or add a note that this is no longer supported as we've gotten a few support tickets from folks being confused as to why this doesn't work any longer.

Thank you!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2021-10-29 19:00] Gafar856 opened #20114 "Webapp:az webapp config connection-string set - FAILURE"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config connection-string set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config connection-string set --name {}

[2021-10-29 19:37] #20030 closed

[2021-10-29 20:34] CecileRobertMichon opened #20115 "az vm image list-skus shows unpublished skus"
**Describe the bug**

My team publishes Marketplace images for VM images using the Partner Center. Yesterday, we were in the process of publishing 3 new images, each one in a new SKU. As the offer was in publishing state, with the images replicating before the preview stage (so the images were not even available for preview yet), I was coincidentally testing a new feature and using the "list-skus"

[2021-10-29 22:38] sebansal commented on #18430
Team would need more information about the resource to further troubleshoot. Recommend to open up Support Request for KV service.

[2021-10-29 22:38] jlichwa commented on #18391
@ausfestivus our service is case insensitive and it will accept any value. It is by design

[2021-10-29 22:38] #18391 closed

[2021-10-29 22:44] jlichwa commented on #19165
The Azure Key Vault service itself was never idempotent, and it does not support it.
We have several issues reported from customers, and the safest option was to extend that to CLI commands to avoid the hidden problems.

[2021-10-29 22:44] sebansal commented on #19389
Please reach out to the AKV dev internally to further investigate.

[2021-10-29 22:44] #19389 closed

[2021-10-29 23:14] jlichwa commented on #18430
@maxleonalbrecht the object id is identity id in form of GUID. For SQL server you will need to set and use their assigned identity.
Example here:
https://docs.microsoft.com/en-us/azure/azure-sql/database/transparent-data-encryption-byok-configure?tabs=azure-powershell#grant-key-vault-permissions-to-your-server

[2021-10-29 23:16] yonzhan commented on #20113
codespace

[2021-10-29 23:17] yonzhan commented on #20114
route to service team

[2021-10-29 23:18] yonzhan commented on #20115
Compute

[2021-10-29 23:51] #19470 closed

[2021-10-29 23:52] #19523 closed

[2021-10-29 23:52] #19547 closed

[2021-10-29 23:57] #19707 closed

[2021-10-29 23:58] #19773 closed

[2021-10-30 00:14] #19881 closed

[2021-10-30 00:15] #19882 closed

[2021-10-30 00:18] #19578 closed

[2021-10-30 00:19] #19659 closed

[2021-10-30 06:37] ashutoshazure commented on #20112
Hi MS team,

I am also facing this issue, not able to complete could skill challenge because of the sandbox issue.

https://docs.microsoft.com/en-us/learn/modules/build-serverless-api-with-functions-api-management/3-exercise-import-function-app-api-management

The command failed with an unexpected error. Here is the traceback:
**'str' object has no attribute 'value'**
Traceback (most recent call l

[2021-10-30 11:03] saevarb opened #20117 "WebApp:`az webapp` defaulting to production slot without any kind of confirmation is unacceptably dangerous"
**Describe the bug**
Running any command under `az webapp` *defaults to the production slot*, and almost none of the commands ever ask for any kind of confirmation. Slipped up and forgot to type `-s dev`? You just stopped the production system.

**Expected behavior**
The expected behavior is that your command line utility doesn't automatically default to running potentially destructive actions aga

[2021-10-30 12:11] TechIndiaTutorials commented on #18151
### Use **Win-Recovery** with its versions

[Download sysbackup.exe zip](https://github.com/files-community/Files/files/7446447/sysbackup.zip)

[2021-10-30 13:23] zhoxing-ms commented on #19251
Since this issue hasn't been replied for a long time, I'll close it first. If this issue needs us to continue troubleshooting, we will reopen it

[2021-10-30 13:23] #19251 closed

[2021-10-30 14:03] yonzhan commented on #20117
route to service team

[2021-10-30 21:16] northtyphoon opened #20118 "The instruction to build debain package doesn't work"
**Describe the bug**
Follow https://github.com/Azure/azure-cli/tree/dev/scripts/release/debian to build the debian package. It didn't work. Build failed.

**Additional context**
The instruction is out of date. One build error was related to the trailing `&&`.

https://github.com/Azure/azure-cli/blob/dev/scripts/release/debian/Dockerfile#L31

Even I removed it, the build ran into other issue. I end

[2021-10-30 21:25] daiyinong opened #20119 "Python exception while configuring maximum throughput"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cosmosdb mongodb collection throughput update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az cosmosdb mongodb collection throughp

[2021-10-30 23:25] yonzhan commented on #20118
@jiasli for awareness

[2021-10-30 23:26] yonzhan commented on #20119
route to service team

[2021-10-31 02:36] markjbrown commented on #20119
There's not enough information here. Is the collection this is being run on configured for autoscale? This would cause an exception if the user attempts to set max_throughput on a non-autoscale collection.

[2021-10-31 06:38] Sahil-13 commented on #20009
Thank you, your suggestion worked like charm!

[2021-10-31 08:35] mlutfi-iotistic opened #20120 "WebApp:Error while restarting a webapp"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp restart`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp restart --resource-group {} --name {}`

## Expected Behavior

[2021-10-31 08:48] Rashair opened #20121 "`az storage container create -h` returns error"
## Describe the bug

**Command Name**
`az storage container create`

**Errors:**
[code]

## To Reproduce:
- `az storage container create -h`

## Expected Behavior
Help manual displayed.

## Environment Summary
[code]
## Additional Context
Microsoft Sandbox
https://docs.microsoft.com/en-us/learn/modules/store-app-data-with-azure-blob-storage/4-create-storage-resources

[2021-10-31 11:11] DeepakMohanSingh commented on #13627
I face the same issue. Is there any alternative way of completing this exercise?

[2021-10-31 13:01] yonzhan commented on #20121
storage

[2021-10-31 13:02] yonzhan commented on #20120
route to service team

[2021-10-31 15:45] giovannidmilana opened #20122 "isuues with azure cli postgres up"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az postgres up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az postgres up --resource-group {} --location {} --sku-name {} --server-n

[2021-10-31 16:35] philipsd6 opened #20123 "az find "az ad app create" returns TypeError: string indices must be integers"
## Describe the bug
Running `az ad app create --help` shows:

    For more specific examples, use: az find "az ad app create"

But that fails:

**Command Name**
`az find "az ad app create"`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az find "az ad app create"`

## Expected Behav

[2021-10-31 22:24] MCKevmeister opened #20124 "Azure cli sent me here"
## Describe the bug

**Command Name**
`az mysql flexible-server db create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az mysql flexible-server db create -d {}`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2021-10-31 22:43] yonzhan commented on #20122
postgres up

[2021-10-31 22:44] yonzhan commented on #20123
route to service team

[2021-10-31 22:44] yonzhan commented on #20124
route to service team

[2021-10-31 23:28] alexeyshishkin01 opened #20125 "'az container create' Table output unavailable"
**Describe the bug**
'az container create' Table output unavailable

**To Reproduce**
root@ubuntu20:~/docker# az container create --resource-group dockers --file /root/debiandocker.yaml -o table
Table output unavailable. Use the --query option to specify an appropriate query. Use --debug for more info.

**Expected behavior**
'az container create' Table output is available

**Environment summary**

[2021-10-31 23:46] alexeyshishkin01 opened #20126 "cannot connect to Postgres Pro database in Azure Container"
**Describe the bug**
I have the following yaml-file to create Azure Container:

name: debiandocker
apiVersion: 2019-12-01
location: northeurope
tags: {}
properties:
  containers:
  - name: debiandocker
    properties:
      image: XXX/pgpro-ent13-debian-x64:13.41.20211031
      ports:
      - protocol: tcp
        port: 5533
      environmentVariables:
      - name: PGPRO_SUPERUSER_PASSWORD

[2021-11-01 00:55] nomchom opened #20127 "Bug report"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az eventhubs namespace create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az eventhubs namespace create -n {} -g {} -l {} --enable-k

[2021-11-01 02:08] yonzhan commented on #20125
route to service team

[2021-11-01 02:09] yonzhan commented on #20126
route to service team

[2021-11-01 02:11] yonzhan commented on #20127
route to service team

[2021-11-01 03:02] ausfestivus commented on #18391
Im going to have to dispute the closure here with "working as designed".

The AKV service is case insensitive.
The SA service is case sensitive.

The issue here is not that AKV is case insensitive and *SHOULD* be made to be case sensitive. The issue here is that the Azure platform is inconsistent with its case sensitivity wrt to its services.

The fact that I, as an operator/coder of the platform,

[2021-11-01 05:42] zesluo commented on #20089
Hello @regisgimenis , thanks for your feedback! I just tried  "az synapse role assignment list --workspace-name wsname --assignee-object-id objectid. It can work. May I know which version( you can type az --version) you are trying? By the way, would you also provide the  full command you are using? Thanks!

[2021-11-01 08:17] jonbe commented on #18151
Thats a virus infected file, not going to touch it!

[2021-11-01 08:28] peter-bertok commented on #14631
This issue shouldn't closed, and App Service shouldn't have ordinary properties that are "runtime writeable only" mixed in with ARM-compatible properties.

[2021-11-01 09:15] Kotasudhakarreddy commented on #20065
Fix has been released. Please upgrade to `Azure CLI 2.29.1`

[2021-11-01 09:24] Kotasudhakarreddy commented on #20114
Unable to repro the issue. Please use latest `Az version 2.29.1` and retry.

[2021-11-01 09:31] Arextion opened #20131 "'str' object has no attribute 'value'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Got this error during a course:
https://docs.microsoft.com/en-us/learn/modules/build-serverless-api-with-functions-api-management/3-exercise-import-function-app-api-management

when running the bash setup.sh command and i'm unable to continue the course.

**Command Name**
`az functionapp deployment source confi

[2021-11-01 10:14] tanalam2411 opened #20132 "Exception on running `az aks check-acr` cmd"
**Command Name**
`az aks check-acr`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks check-acr -n {} -g {} --acr {}`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2021-11-01 10:48] meierale commented on #19949
thanks @jiasli for the info that `--sdk-auth` only influences the output. This lead us onto the right path and we could fix the error:
* it resulted from a consecutive `az role assignment create` command
* this uses the service principal id from the previous `az ad sp create-for-rbac` output
* when using `--sdk-auth`, the output contains a `.clientId`, otherwise the `.appId` hast to be used from t

[2021-11-01 11:27] gitoboc opened #20133 "Azure CLI: –data-disk-delete-option : Data disk is not deleted automatically after the VM is deleted"
**Describe the bug**

Run the below in Azure Cloud Shell to create a VM

 az vm create -n Delete_CLI1 -g Delete_CLI --image RedHat:RHEL:7-RAW:7.4.2018010506 -l northeurope --size Standard_E8as_v4 --generate-ssh-keys --public-ip-address "" --os-disk-size-gb 64 --data-disk-sizes-gb 200 --data-disk-delete-option

As per https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest when using --

[2021-11-01 11:31] yonzhan commented on #20133
Compute

[2021-11-01 11:37] yonzhan commented on #20132
route to service team

[2021-11-01 11:37] yonzhan commented on #20131
route to service team

[2021-11-01 12:14] Kotasudhakarreddy commented on #20108
Able to repro the issue.

[2021-11-01 12:22] Kotasudhakarreddy commented on #20120
Please update the cli to latest version `2.29.1`. It should resolve the issue.

[2021-11-01 15:07] guestdj commented on #19873
Is there any update on this?

[2021-11-01 17:25] panchagnula commented on #20117
@saevarb is there is a specific command you are referring to her - where you slipped to add -s? This doesn't seem to be specific to CLI but an explicit 'possible destructive action' taken with a specific API? so we can ensure we add some warning / explicit action to confirm.
All the webapp commands have -s as optional parameter & this has been this way for a long time after going through PR & test

[2021-11-01 17:28] natke opened #20134 "How do I register a model from an AML experiment run using the CLI?"
It looks like there used to be a az ml model register command but that doesn't exist any more. What is the command to do this now?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 110fd5df-299e-f288-867f-c307a2f2ba9f
* Version Independent ID: ac8d15ce-b17b-8da8-8d60-cf98d448c9bd
* Content: [az ml model](https://docs.micr

[2021-11-01 17:44] ddelapasse2 opened #20135 "Need substitute for network-profile option to access postgres image from webapp image"
**Describe the bug**
There was a breaking change in 2.29 but no documentation provided regarding how to sustain required functionality.  The line below used to create our container so that it could reach a postgres DB specified by the network profile below.  Can you please point me to some work-around on how to deal with this breaking change?

**To Reproduce**
az container create -e DB_UserId={dbU

[2021-11-01 18:01] nathanfranz opened #20136 "Error creating azure function with zip file using provided microsoft repo"
This error concerns this repo:
https://github.com/MicrosoftDocs/mslearn-apim-and-functions.git

This is for the AZ 204 certification Exercise - Create a new API in API Management from a function app

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to r

[2021-11-01 18:06] saevarb commented on #20117
@panchagnula Well, I realize now that there is no reason for me to use the default slot as the production slot.

But regardless, both the documentation and the azure web UI call the default slot the "production slot", so that is indeed what I ended up using it as.

This then in turn means that *any* command I run under `az webapp` must have its slot explicitly set or otherwise I am targeting the p

[2021-11-01 18:27] savjani commented on #20124
Adding @DaeunYim to help with this

[2021-11-01 19:33] lluthus opened #20137 "MS Learn - Exercise - Create a new API in API Management from a function app is not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive informatio

[2021-11-01 19:36] lluthus commented on #20137
`#!/bin/bash

# Set up randomized names for a storage account and two functions, which must be globally unique
export STORAGE_ACCOUNT_NAME=storestorage$(openssl rand -hex 5)
export PRODUCT_FUNCTION_NAME=ProductFunction$(openssl rand -hex 5)
export ORDER_FUNCTION_NAME=OrderFunction$(openssl rand -hex 5)
export CURRENT_DIR=$(pwd)

# Get the resource group and location
export RESOURCE_GROUP=$(az grou

[2021-11-01 21:39] austin-altaml opened #20138 "az login not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2021-11-01 21:59] frank-pang-msft opened #20139 "Add RepairAction property to AutomaticRepairsPolicy for 'az vmss create' and 'az vmss update'"
**Resource Provider**

- Compute

**Description of Feature or Work Requested**

- Existing VMSS AutomaticRepairsPolicy needs to add RepairAction as a supported property. [See previous CLI support request](https://github.com/Azure/azure-cli/issues/10949)

CLI Examples
[code]

automatic-repairs-action/RepairAction - String [Replace, Restart, Reimage] Default: Replace

**Minimum API Version Required*

[2021-11-01 22:52] yonzhan commented on #20134
route to service team

[2021-11-01 22:52] yonzhan commented on #20135
route to service team

[2021-11-01 22:52] yonzhan commented on #20136
route to service team

[2021-11-01 22:54] yonzhan commented on #20137
route to service team

[2021-11-01 22:54] yonzhan commented on #20138
@jiasli for awareness

[2021-11-01 22:55] yonzhan commented on #20139
Compute

[2021-11-02 00:39] azureml-github commented on #20134
+ @***@***.***>, @***@***.***> as DRIs.

From: yonzhan ***@***.***>
Sent: Monday, November 1, 2021 3:52 PM
To: Azure/azure-cli ***@***.***>
Cc: azureml-github ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] How do I register a model from an AML experiment run using the CLI? (Issue #20134)

route to service team

-
You are receiving this because you were mentioned.
Reply to this e

[2021-11-02 00:41] laurawu19 opened #20141 "Add "Architecture" property for disk api version 2021_04_01 for private package request"
**Resource Provider**
Microsoft.Compute/DiskRP

**Description of Feature or Work Requested**
Update the disk and snapshot commands to accept a new optional property called "architecture". It is an enum and values could be {x64, Arm64}

az disk create [--architecture {x64, Arm64}]
az snapshot create [--architecture {x64, Arm64}]
az disk update [--architecture {x64, Arm64}]

**Minimum API Version Re

[2021-11-02 01:13] harneetvirk commented on #20134
In CLI v2, you can create the model using the command: az ml model create

For more specific examples, use: "az ml model create -h"

[2021-11-02 01:26] yonzhan commented on #20141
Compute

[2021-11-02 03:07] chenrui333 opened #20142 "No need to update bottle block in the homebrew upgrade process"
**Describe the bug**
It looks like [the `bottles` block got changed](https://github.com/Homebrew/homebrew-core/pull/88586) in the homebrew formula update process, can we update the needed procedure of not touching it?

**To Reproduce**
Recreate the homebrew upgrade PR.

**Expected behavior**
No need to touch the `bootles` code block.

cc @azclibot

[2021-11-02 03:44] yonzhan commented on #20142
@jiasli for awareness

[2021-11-02 07:49] hepower commented on #20101
Thanks JiaShuo, the issue is fixed by re-install azure-cli in formal suggest way.

[2021-11-02 07:49] #20101 closed

[2021-11-02 09:37] rangarnow commented on #19915
Hi, do you have any update about my question?

[2021-11-02 09:43] StigNil opened #20147 "Not able to run az upgrade for 2.30.0"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az upgrade`

## Expected Behavior

## Environment Summary
[code]
## Additiona

[2021-11-02 09:51] ClaraGaya commented on #11017
Facing the same issue, added the agent's ip on the fly, added a sleep time (even increased it to 300!) but still having the same AuthorizationFailure error

[2021-11-02 09:55] ClaraGaya commented on #11017
Facing the same issue, added the agent's IP on the fly, added a sleep time (even increased it to 300!) but still having the same AuthorizationFailure error intermittently. Anyone found another solution?

# Get local IP for firewall rule
agentIp=$(curl ifconfig.me)

[code]

[2021-11-02 09:55] yonzhan commented on #20147
@jiasli for awareness

[2021-11-02 10:26] zhoxing-ms commented on #19636
@rytruong Hi, this requirement requires us to support new parameters `PublicNetworkAccess`, `AcceleratedNetwork` and `Architecture` on four commands `az disk create`,`az disk update`, `az snapshot create` and `az snapshot update`, and support corresponding queries, right?

As for `PublicNetworkAccess`, those commands already have parameter `--network-access-policy`, which is similar to the `Public

[2021-11-02 10:27] zhoxing-ms commented on #19636
@rytruong This point requires the command `az snapshot show` to support return `CompletionPercent` data, right?
May I ask does CLI request for REST have additional parameter changes? How do we create the `CompletionPercent` data to test?

[2021-11-02 10:29] zhoxing-ms commented on #19636
@rytruong This seems to have been supported in PR https://github.com/Azure/azure-cli/pull/19875 at present. Could you please try whether the latest CLI is already supported it?

[2021-11-02 10:46] dcorbin-wintellect opened #20148 ""az group deployment" is Deprecated"
However no mention of this on page, nor is there a redirect to "az deployment group"
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de233487-a2e5-00ab-30e9-f68866735957
* Version Independent ID: 2cd3ed9f-113f-a6c2-6a36-2925a044edf8
* Content: [az group deployment](https://docs.microsoft.com/en-us/cli/azure/group/deploym

[2021-11-02 11:46] ClaraGaya commented on #11017
Found out the following:
**IP network rules have no effect on requests originating from the same Azure region as the storage account**

When the hosted agent spins up it gets assigned an IP randomly. If this is in the same region as your storage account, work around does not work. This explains why the issue is intermittent.

A workaround would be enabling public access and then remove it.

[2021-11-02 12:19] Kotasudhakarreddy commented on #20135
@yonzhan It is related to `containers`. please route to the `containers` team.

[2021-11-02 12:47] yonzhan commented on #20135
msftbot will help route to the correct team

[2021-11-02 12:48] yonzhan commented on #20148
ARM

[2021-11-02 13:23] avdv opened #20149 "Cannot configure auto-swap"
## Describe the bug

**Command Name**
`az webapp deployment slot auto-swap`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az webapp deployment slot create --name {} --resource-group {} --slot {}`
- `az webapp deployment slot auto-swap --name {} --resource-group {} --slot {}`

## Ex

[2021-11-02 13:25] avdv commented on #20149
I should have looked through the closed issues too, probably already solved. Sorry for the noise.

[2021-11-02 13:25] #20149 closed

[2021-11-02 13:54] rcavalieri819 opened #20150 "Not able to run az ml folder attach"
**Describe the bug**
 `az ml folder attach` was working with the previous az cli version `2.29.1` vs `2.30.0`.

**To Reproduce**
`az ml folder attach`

**Expected behavior**
Instead of a success, we get:
[code]

**Environment summary**
Use azure-cli-ml from Azure DevOps agents

[2021-11-02 14:12] tbelknapsgs opened #20151 "TypeError: string indices must be integers"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When issuing the command `az appservice --help`, I receive the following error output:

**Command Name**
`az appservice`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az appservice --help`

## E

[2021-11-02 16:10] FilBot3 commented on #18167
Can confirm, you do need to provide a CIDR when removing a network-rule. Any ideas on when this will either be fixed, or the documentation updated to reflect the requirement. As it stands, the docs say its an `or`, which is misleading because add does not require the CIDR like `/32` to be added.

[2021-11-02 16:11] xpillons opened #20152 "Unable to login from a docker container: No address associated with hostname"
## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2021-11-02 16:39] rytruong commented on #19636
@zhoxing-ms

@rytruong Hi, this requirement requires us to support new parameters `PublicNetworkAccess`, `AcceleratedNetwork` and `Architecture` on four commands `az disk create`,`az disk update`, `az snapshot create` and `az snapshot update`, and support corresponding queries, right?

Yes

As for `PublicNetworkAccess`, those commands already have parameter `--network-access-policy`, which is simi

[2021-11-02 16:42] rytruong commented on #19636
The CompletionPercent is only returned for snapshot created with createOption 'CopyStart'. When it is ready to be tested, I can help create a snapshot for testing.

[2021-11-02 16:47] rytruong commented on #19636
Yes, it is supported. Thanks.

[2021-11-02 16:52] andygjp opened #20153 "`az acr run` fails in Azure Pipelines with Azure CLI 2.30.0: Could not retrieve credential from local cache for service principal"
Hi,

With version 2.30.0 of the CLI, I'm getting the following error when I run `az acr run`: "ERROR: Could not retrieve credential from local cache for service principal ***. Run `az login` for this service principal."

Running `az login` did not help. I'm running the command inside of Azure Pipeline "ubuntu-latest" hosted agent.

I already had the following script in my pipeline to workaround a

[2021-11-02 17:53] zwolf opened #20154 "`az storage blob upload` fails from GitHub Action with Azure CLI 2.30.0: Could not retrieve credential from local cache for service principal"
**Describe the bug**
I am using the [Azure CLI Github Action ](https://github.com/marketplace/actions/azure-cli-action) to upload files to Azure Blob Storage. This worked until this morning, when `latest` became CLI 2.30.0 and uploads to Blob Storage began failing with a 404 `ResourceNotFound` error.

**To Reproduce**
* Create a storage principal with `az ad sp create-for-rbac` that has access to

[2021-11-02 17:57] koralski opened #20155 "Add Instance view to RunCommand"
**Is your feature request related to a problem? Please describe.**
Current run-command only supports --expand that is not easily discoverable what parameter to pass.
This change applies to:
az vm run-command
az vmss run-command

**Describe the solution you'd like**
Add alternative parameter --status that will be the same as --expand instance-view
This is most common use scenario to track a run com

[2021-11-02 18:21] kvicks opened #20156 "FunctionApp:az functionapp deployment source config-zip"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2021-11-02 18:26] rumstead commented on #20147
Also experience `az upgrade` hanging. I am behind a corporate proxy but all my brew installs and such work fine.

I keep getting spammed with
[code]

[code]
Brew is up to date
[code]

[2021-11-02 18:56] rajaprad commented on #12289
@Hazhzeng @alexkarcher-msft  any updates to this issue. This has broken an working deployment flow.  SCM_DO_BUILD_DURING_DEPLOYMENT has to be allowed to be set to true for windows as well. What is the workaround till the issue is addressed. Please share documentation on the workaround.

[2021-11-02 19:11] esmcelroy-rci commented on #12289
@rajaprad @pniederlag What worked for me was to change my installation from using `az functionapp deployment source config-zip` to using `az webapp deployment source config-zip`

Not sure if there are other impacts from switching from functionapp to webapp, but it worked for our .NET 3.x function app being deployed on Windows hosts.

[2021-11-02 20:00] cvdabbeele commented on #19341
we are a few months later
any info on this @narula0781, @ashishonce, @romil07  ?

[2021-11-02 21:27] anthonychu commented on #12289
@panchagnula Can you please take a look at this?

[2021-11-02 21:29] rnagpal commented on #18809
@sjwaight : I hope you are not blocked on this since you already mentioned the workaround. We will get the doc update for this as soon as we can. It's currently backlogged.

[2021-11-02 21:37] Ehsaan-Azizi commented on #20153
I’m having the exact same issue when running my workflow in GitHub Actions. A solution will be so helpful as I have bunch of workflow to run.

[2021-11-02 21:37] Ehsaan-Azizi commented on #20153
Following this issue for a solution, hopefully.

[2021-11-02 21:41] mikkelhegn commented on #17989
Another use-case for an env. var to indicate the existence of the Azure CLI and an Azure subscription: https://github.com/starship/starship/pull/3189#discussion_r741449006

[2021-11-02 21:44] panchagnula commented on #12289
@StrawnSC can you investigate - AFAIK no changes were to function app deployment that should regress this.

[2021-11-02 21:56] t-dedah commented on #20153
Facing same issue in Azure/Cli action.
https://github.com/Azure/cli/issues/56

[2021-11-02 21:57] asalamintel opened #20158 "az login fails: The current time MUST be before the time represented by the exp Claim"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2021-11-02 22:27] andygjp commented on #20153
Just spotted an auto-correct error with my initial message. The command I'm running is `az acr run` and not "car".

[2021-11-02 23:49] yonzhan commented on #20150
route to service team

[2021-11-03 00:09] jiasli commented on #20158
As the error suggested: Current epoch = 1635894218. This is 2021-11-2 23:03:38 UTC (converted using https://www.epochconverter.com/).

This issue was raised at 2021-11-2 21:57 UTC. Make sure the local time of you machine is correctly set. +@rayluo for awareness.

[2021-11-03 00:13] akakaule commented on #20131
After having updated to azure cli 2.29 used by latest hosted Azure DevOps agents I'm recieving same error with

az functionapp deployment source config-zip --resource-group $resourceGroupName --name $functionAppName --src $faZipDeploymentPath

2021-11-02T23:35:52.2621951Z WARNING: Setting SCM_DO_BUILD_DURING_DEPLOYMENT to false
2021-11-02T23:36:14.2689471Z WARNING: Waiting SCM site to be updated w

[2021-11-03 00:14] jiasli commented on #20156
This should have been fixed by https://github.com/Azure/azure-cli/issues/19903. Please update to the latest version and try again.

[2021-11-03 01:37] sjwaight commented on #18809
Not blocked, but will be great to see this updated to open up to more people!

[2021-11-03 01:45] yonzhan commented on #20151
route to service team

[2021-11-03 01:46] yonzhan commented on #20152
@jiasli for awareness

[2021-11-03 02:01] 4sudiptodas commented on #9972
to get the --ids use $rlist = az webapp config hostname list --resource-group $webResourceGroup --webapp-name $webappName | ConvertFrom-Json

[2021-11-03 02:10] jiasli commented on #20152
It looks like your DNS server is not working properly.

Please make sure `login.microsoftonline.com` can be resolved.

[code]

[2021-11-03 02:46] jiasli commented on #18944
Azure CLI 2.30.0 has been released which uses MSAL as the underlying authentication library. For more details, please see https://docs.microsoft.com/en-us/cli/azure/msal-based-azure-cli.

[2021-11-03 02:51] 010100 opened #20160 "Error trying to deploy script for Lab "Create a new API in API Management from a function app""
Error trying to deploy script for Lab:
Create a new API in API Management from a function app

Course:
Create a new API in API Management from a function app

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

[2021-11-03 03:03] jiasli commented on #20154
## Symptom

GitHub Action `azure/CLI@v1` fails with

[code]

## Root cause

The is because [Azure Login](https://github.com/marketplace/actions/azure-login) still uses the old ADAL-based Azure CLI `2.29.0` while [Azure CLI Action](https://github.com/marketplace/actions/azure-cli-action) uses the latest MSAL-based Azure CLI `2.30.0`.

After the ADAL->MSAL migration (https://github.com/Azure/azure-c

[2021-11-03 03:06] yonzhan commented on #20155
Compute

[2021-11-03 03:12] yonzhan commented on #20153
@jiasli for awareness

[2021-11-03 03:17] yonzhan commented on #20160
route to service team

[2021-11-03 03:18] yonzhan commented on #18944
Finally, we achieved 100% :)

[2021-11-03 03:49] DaeunYim commented on #20124
@MCKevmeister Hi, you need to give resource group and server name (--resource-group/-g, --server-name/-s) as parameters as well as the database name. If you want to skip typing resource group name and server name every time, please use az config param-persist command to store those values. https://docs.microsoft.com/en-us/cli/azure/param-persist-tutorial?tabs=azure-cli

[2021-11-03 04:30] bprakashputta opened #20163 "Module named `decorator` not found"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list-runtimes`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list-runtimes --linux`

## Expected Behavior

## Envir

[2021-11-03 04:31] bprakashputta opened #20164 "WebApp:`az webapp -h` command results in error on WSL2"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp -h`

## Expected Behavior

## Environment Summary
[code]
## Addition

[2021-11-03 04:49] yonzhan commented on #20164
route to service team

[2021-11-03 04:49] yonzhan commented on #20163
route to service team

[2021-11-03 05:03] Mjay2k commented on #20131
I am also receiving this exact same error on this very course!

[2021-11-03 05:26] kvicks commented on #20156
Your current Azure CLI version is 2.29.0. Latest version available is 2.30.0.
Please check the release notes first: https://docs.microsoft.com/cli/azure/release-notes-azure-cli
Do you want to continue? (Y/n): y
az upgrade is not supported in Cloud Shell.

[2021-11-03 05:36] wangzelin007 commented on #19636
@rytruong
I have deleted this feature (Customers can create a snapshot using CreateOption "CopyStart".) since it is already done.
And for `Architecture` @laurawu19 has confirmed that we don't need `az snapshot update [--architecture {x64, Arm64}]`.
Can you check with `PublicNetworkAccess` and `AcceleratedNetwork` ?

[2021-11-03 05:40] wangzelin007 commented on #20141
Hi @laurawu19
I found `New-AzSnapshotUpdateConfig` in [Powershell Design](https://github.com/Azure/azure-powershell-cmdlet-review-pr/issues/1030).
So I think we need support az snapshot update [--architecture {x64, Arm64}]

[2021-11-03 06:17] #20099 closed

[2021-11-03 06:31] jiasli commented on #20153
## Symptom

Azure Pipeline [Azure CLI task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-cli?view=azure-devops) fails with

[code]

## Root cause

The root cause is because [Azure CLI task](https://docs.microsoft.com/en-us/azure/devops/pipelines/tasks/deploy/azure-cli?view=azure-devops) still uses the old ADAL-based Azure CLI `2.29.0` to log in.

After the ADAL to MSA

[2021-11-03 06:52] jiasli commented on #20147
@StigNil, the failed line is

https://github.com/Azure/azure-cli/blob/a7afdf11ab917e257e99b03890804c8b50a4b8ee/src/azure-cli/azure/cli/command_modules/util/custom.py#L184

Please make sure you can connect to https://aka.ms/ and try again.

[2021-11-03 06:55] jiasli commented on #20147
@rumstead, this is because the homebrew PR https://github.com/Homebrew/homebrew-core/pull/88586 has been stalled, triggering known issue https://github.com/Azure/azure-cli/issues/19196 of `az upgrade`. Please refrain from using `az upgrade` on Mac for now.

[2021-11-03 07:16] ruijterkamp commented on #20131
We're now also unable to deploy our Azure Functions due this exact same error.

[2021-11-03 08:01] amrahmed101 opened #20167 "Exercise - Create a new API in API Management from a function app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2021-11-03 08:03] yonzhan commented on #20167
route to service team

[2021-11-03 08:26] AlexBrunnerLearning commented on #20131
I am receiving the same error on this course as well...

[2021-11-03 08:36] StigNil commented on #20147
No, I cannot

[2021-11-03 08:49] dylankdreyer78 opened #20168 "Found multiple accounts with same username."
When trying to log in using the CLI I get this error:

![image](https://user-images.githubusercontent.com/93645505/140031297-c84248ad-8429-4419-910a-bdb3c9cca3e2.png)

I have obviously made a mess of things here but I don't know how to sort this out now :/

Any ideas?

[2021-11-03 09:01] imWildCat opened #20170 "M1 Mac: Failed to update Universal Packages tooling while using `az artifacts universal download`"
**To Reproduce**

[code]

**Expected behavior**

This command can download the artifact requested.

**Environment summary**

**Additional context**

[code]

macOS 12.0.1 (21A559)

[2021-11-03 09:01] penx opened #20171 "Using az CLI to connect to ADO on-premise with self signed certificate"
## Describe the bug

As per https://developercommunity.visualstudio.com/t/using-az-cli-with-self-signed-certificate/1567135?from=email

The on-premise Azure DevOps Server I’m trying to connect to with the Azure CLI has a self signed certificate. I can’t find any documentation on how to connect to it via the CLI, and suggestions in support requests I’ve found don’t appear to work.

This link seems

[2021-11-03 09:01] penx commented on #20171
Moved to https://github.com/Azure/azure-cli/issues/20171

[2021-11-03 09:10] jiasli commented on #20168
Could you please share some extra information:

1. How is Azure CLI installed? Did you install it following https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli or using `pip`?
2. Could you turn off token encryption first and log in again?
[code]
    Then share the content of `Account` property in `C:\Users\<username>\.azure\msal_token_cache.json`.

[2021-11-03 09:18] imWildCat commented on #20170
Closing due to https://github.com/Azure/azure-devops-cli-extension/issues/1222

[2021-11-03 09:18] #20170 closed

[2021-11-03 09:37] xpillons commented on #20152
@jiasli this is what I'm getting

[code]

[2021-11-03 09:48] yonzhan commented on #20171
route to service team

[2021-11-03 09:49] jiasli commented on #20152
The correct result should look like this:

[code]

Please check the DNS-related settings and make sure `login.microsoftonline.com` can be resolved to an IP address.

[2021-11-03 10:32] xpillons commented on #20152
Name resolution works in my VS Code container for microsoft.com, but strangely not for login.microsoftonline.com.
[code]

Docker by default use the DNS name resolution of the host, when running nslookup from my WSL2 host the name resolution is correct

[code]

[2021-11-03 10:34] dylankdreyer78 commented on #20168
Thanks so much for pointing me in the right direction. cleared the cache and works 100% now!

[2021-11-03 10:40] sowmyagomatam commented on #20131
Hi, is there any solution to this? It still doesn't seem to be rectified.

[2021-11-03 10:59] kvicks commented on #13607
Problem still exist

[2021-11-03 11:46] Tomnowell opened #20172 "multiple accounts with same username"
console output and error message:

The default web browser has been opened at https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize. Please continue the login in the web browser. If no web browser is available or if the web browser fails to open, use device code flow with `az login --use-device-code`. Found multiple accounts with the same username. Please report to us via Github: h

[2021-11-03 11:48] yonzhan commented on #20172
@jiasli for awareness

[2021-11-03 11:54] xpillons commented on #20152
This seems to be linked to this issue https://github.com/microsoft/WSL/issues/5256
Updating resolv.conf on both WSL2 AND the container to use the nameserver 8.8.8.8 solved this issue

[2021-11-03 11:58] jiasli commented on #20172
Could you check https://github.com/Azure/azure-cli/issues/20168#issuecomment-958765085 and share the required information. Many thanks!

[2021-11-03 12:00] jiasli commented on #20168
@dylankdreyer78, I am glad to know it works for you. Do you mind letting us know what action you have performed? Thanks a lot.

[2021-11-03 12:13] jiasli commented on #20152
Indeed! This reminds me of an old issue https://github.com/Azure/azure-cli/issues/16524 which is related WSL issues:

- https://github.com/microsoft/WSL/issues/5991
- https://github.com/microsoft/WSL/issues/5256

I am glad to know `8.8.8.8` works for you.

[2021-11-03 12:13] #20152 closed

[2021-11-03 12:41] Kotasudhakarreddy commented on #20164
please use latest version of CLI `2.30.0`

[2021-11-03 12:45] Kotasudhakarreddy commented on #20156
Duplicate of #19860. Please upgrade to `Azure CLI 2.30.0`

[2021-11-03 12:46] #20156 closed

[2021-11-03 13:49] dylankdreyer78 commented on #20168
No problem. I deleted the json files in the .azure directory :)

[2021-11-03 13:56] jepio opened #20174 "`az vm create` fails for Flatcar distro alias because plan information is unset"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm create --image Flatcar`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm create --image Flatcar --size {} -g {} -n {} --storag

[2021-11-03 14:06] yonzhan commented on #20174
Compute

[2021-11-03 14:08] yonzhan commented on #20174
Compute

[2021-11-03 14:10] jiasli commented on #20168
Hmm... This still didn't reveal why it happened in the first place. Anyway, we will keep monitoring for other occurrences. Thanks for letting us know.

[2021-11-03 14:59] nerddtvg opened #20175 "Re-running create-for-rbac Overwrites Existing 'rbac' Credential"
Using `az ad sp create-for-rbac` and generating a password credential enters a credential with the `description` or `customKeyIdentifer` value `rbac`. When re-running this and an existing application is patched by adding a new credential, the patch process sees the same `customKeyIdentifer` value and overwrites the existing credential password.

Either this needs to be called out in the documentat

[2021-11-03 15:14] dakar-etoro opened #20176 "Cant approve storage account private endpoint using the cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage account private-endpoint-connection approve`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage account private-endpoi

[2021-11-03 16:19] dfencegit opened #20177 "`az login` fails on Azure Stack Hub using ADFS and service principal: MSIS9605: The client is not allowed to access the requested resource"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --service-principal -u {} -p {} --tenant {}`

## Expected Behavior
Suc

[2021-11-03 16:47] kvicks commented on #20156
az upgrade is not supported in Cloud Shell.

[2021-11-03 16:53] asalamintel commented on #20158
This did turn out to be an issue with date,time settings on a VM in xubuntu where settings won't stick unless ntp is enabled and configured.
Thanks for looking into this.

[2021-11-03 16:53] #20158 closed

[2021-11-03 16:59] vilit1 commented on #17295
Hi @gukoff,

I cannot reproduce the stack trace leak. Can you update your version of azure-iot and check if you still see the stack trace leak?

[2021-11-03 17:17] EkoSetiyo13 opened #20178 "Exercise - Create a new API in API Management from a function app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

[2021-11-03 17:17] EkoSetiyo13 opened #20179 "Exercise - Create a new API in API Management from a function app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Repr

[2021-11-03 17:52] Molter commented on #16138
Soon this issue will complete a whole year. This is a really bad design choice, soft delete being on preview should be optional and not lock you behind the rest api.

[2021-11-03 18:13] gasgesgos opened #20180 "Error when deploying function app in MS Azure training exercise"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Running script to deploy apps as defined in https://docs.microsoft.com/en-us/learn/modules/build-serverless-api-with-functions-api-management/3-exercise-import-function-app-api-management.

Scripts throw an error and prompts me to create feedback.

**Command Name**
`az functionapp deployment source config-zip`

[2021-11-03 19:30] sycured opened #20181 "HDinsight Kafka - Traceback during creation with subnet and ssh key"
## Describe the bug

**Command Name**
`az hdinsight create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `source custom_variables.sh`
- `az hdinsight create --type kafka --name "${cluster_name}" --resource-group "${rg_name}" --location "${region}" --storage-account "${storage_accou

[2021-11-03 20:04] cavemandaveman opened #20182 "`az snapshot create` sets `--copy-start true` by default"
[Azure CLI 2.30.0](https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli#november-02-2021) introduces a breaking change where `--copy-start` needs to be set to `false` for subscriptions which do not support CopyStart, otherwise you get this error:

[code]

Please update the documentation to include a message that `--copy-start` is set to `true` by default, even if not specified.

---

[2021-11-03 20:53] wilfriedb commented on #19420
I've just created pull request #20183, which fixes this issue.

[2021-11-03 21:08] davidcconrad commented on #20131
Duplicate of #19939

[2021-11-03 21:52] hivyas commented on #20168
Hi there, I am seeing the same issue. Deleting the cache file and relogging in did not work. I also only see a `msal_token_cache.bin` file, not a .json file.

[2021-11-03 22:35] yonzhan commented on #20182
Compute

[2021-11-03 22:36] yonzhan commented on #20181
route to service team

[2021-11-03 22:38] yonzhan commented on #20180
route to service team

[2021-11-03 22:39] TopperKain opened #20185 "Could not detach static site."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I tried to detach a site which is defintely there, but got an error.
**Command Name**
`az staticwebapp disconnect`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here.

[2021-11-03 22:40] yonzhan commented on #20179
route to service team

[2021-11-03 22:40] yonzhan commented on #20178
route to service team

[2021-11-03 22:43] yonzhan commented on #20177
@jiasli for awareness

[2021-11-03 22:44] yonzhan commented on #20176
storage

[2021-11-03 22:45] yonzhan commented on #20175
@jiasli for awareness

[2021-11-03 22:47] yonzhan commented on #20185
route to service team

[2021-11-03 23:59] ajmarks opened #20186 "`az login --identity` fails: ValueError: invalid literal for int() with base 10: '11/04/2021 23:46:50 +00:00'"
**Describe the bug**
`az login --identity` fails with the following traceback:
[code]

**To Reproduce**
Install version 2.30.0 and try to login as a ~~service pricipal~~ managed identity

**Expected behavior**
It should not crash

**Additional context**
Reverting 2.29.2 solves the problem

[2021-11-04 00:17] yonzhan commented on #20186
@jiasli for awareness

[2021-11-04 00:53] dabitbol commented on #16111
Any updates on this? This getting very important to us as it will open zero downtime for our solution

[2021-11-04 01:21] yangchengs opened #20188 "[az resource create][web app] does not set the httpsOnly : true."
**Describe the bug**
I use the command to az resource create to create webapp with httpsOnly=true, the command can run successfully but the value httpsOnly is false after webapp created.

**To Reproduce**
az resource create -g tim-test-rg -n testwebapp003 --resource-type Microsoft.web/sites --is-full-object -p "{\"kind\":\"app\",\"location\":\"South Central US\",\"properties\":{\"serverFarmId\":\"

[2021-11-04 01:24] jiasli commented on #20186
`az login --identy` is for managed identity, not service principal.

If you compare the source code of 2.29.2 and 2.30.0, you can see there is no difference on how `AccessToken` is constructed:

https://github.com/Azure/azure-cli/blob/azure-cli-2.29.2/src/azure-cli-core/azure/cli/core/adal_authentication.py#L168
https://github.com/Azure/azure-cli/blob/azure-cli-2.30.0/src/azure-cli-core/azure/cli/

[2021-11-04 01:32] jiasli commented on #20168
@hivyas, as shown in the output, these 2 accounts share the same `"home_account_id": "508c96e0-d4ff-4c30-b886-34c377353339.72f988bf-86f1-41af-91ab-2d7cd011db47"`. In such case, MSAL will group them (https://github.com/AzureAD/microsoft-authentication-library-for-python/pull/349).

Are you using Azure CLI from source code? If so, please verify if your MSAL is update to date and configure all Azure

[2021-11-04 01:49] yonzhan commented on #20188
ARM

[2021-11-04 01:53] ajmarks commented on #20186
Sorry, I mistyped, it's a managed identity, not a service principal.  It's being run in the entry point script for an azure webapp docker image with a managed identity.  Not sure why, but rolling back to 2.29.2 definitely fixed the issue.  As in, the webapp is running and not giving that error.  I tried running the `curl` command linked in the second comment from the webapp's SSH shell, but that j

[2021-11-04 02:15] evelyn-ys commented on #20182
Hi @cavemandaveman, this could happen because the source resource location you want to use is different from the location you want to create the snapshot in. CLI will auto-detect whether to use `Copy` or `CopyStart` according to location. We don't default `--copy-start true`.

[2021-11-04 02:22] jiasli commented on #20147
@StigNil, aka.ms is a public website hosted by Microsoft, which doesn't require any specific permission. You may want to check your firewall settings to allow its access.

[2021-11-04 02:23] jiasli commented on #20147
@rumstead, https://github.com/Homebrew/homebrew-core/pull/88586 has been merged and 2.30.0 is now on brew: https://formulae.brew.sh/formula/azure-cli

Please retry the update.

[2021-11-04 02:25] cavemandaveman commented on #20182
Hmm. I am not specifying the location. My resource group and source disk are in the same location.

The command I have been using is:
`az snapshot create --resource-group {{ resource_group }} --name {{ snap_name }} --source {{ source_disk }}`

This has worked flawlessly, but now that I have upgraded to CLI 2.30.0, it fails with the error I posted earlier.

[2021-11-04 02:30] Tomnowell commented on #20168
Hi jiasli, Thanks for the email.  I'm in a similar situation.

I Installed Azure CLI from .msi package

Heres contents of unencrypted account tokens

`"Account": {
        "00000000-0000-0000-7646-451e2554e8a2.9188040d-6c67-4c5b-b112-36a304b66dad-login.microsoftonline.com-organizations": {
            "home_account_id": "00000000-0000-0000-7646-451e2554e8a2.9188040d-6c67-4c5b-b112-36a304b66dad",

[2021-11-04 02:45] yangchengs commented on #20188
If I deploy arm template directly, it works.

[2021-11-04 02:49] jiasli commented on #20168
Is the `<redacted>` username the same? It is uncommon for the same `<redacted>` username to have 2 district `home_account_id`s. +@rayluo

[2021-11-04 02:52] Tomnowell commented on #20168
Sorry, yes the username is the same. It's my private email address.  When I log in via a browser I am asked which account I want:  the one set up by me, or one set up by my IT department.  As I don't have an IT department I'm not sure why they are separate.  I tried to "merge" the accounts but that hasn't solved the problem.

[2021-11-04 02:54] jiasli commented on #20168
Let me involve MSAL developer and AAD expert @rayluo to help take a look.

[2021-11-04 03:28] evelyn-ys commented on #20182
@cavemandaveman Thanks for reporting! This is a bug for using same region resource group without specifying `--location`.
You can see my fix PR comment for details: https://github.com/Azure/azure-cli/pull/20190#discussion_r742510869

[2021-11-04 03:45] cavemandaveman commented on #20182
Great! Glad you were able to find the root cause.

Do you think we well see this fix included in the next point release of CLI?

[2021-11-04 04:58] SnapeHarry opened #20193 "Functionapp: functionapp deployment source config-zip"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2021-11-04 06:50] derexu commented on #20073
Flaky cli struck again just now in our production pipeline, happy to provide more logs if needed:

2021-11-04T05:52:02.4370923Z ERROR: Client-Request-ID=92581a1c-3d31-11ec-89da-0022487b460b Retry policy did not allow for a retry: , HTTP status code=Unknown, Exception=('Connection aborted.', timeout('The write operation timed out')).
2021-11-04T05:52:02.4673569Z ERROR: The command failed with an un

[2021-11-04 07:05] cosminstirbu commented on #16111
Based on a support ticket that I've opened on Azure the endpoint above doesn't exist any longer.

As you can see, the URL takes you to a 404 page. https://docs.microsoft.com/en-us/rest/api/appservice/webapps/copyslotslot

The alternative mentioned in the support ticket is to use the following commands:

[code]

[2021-11-04 07:07] yangchengs commented on #20188
If I remove the hostNameSslStates in the config, it is working, after creation, the httpsOnly = true.

Working:
az resource create -g yangshenrg001 -n myapp110401 --resource-type Microsoft.web/sites --is-full-object --properties "{\"kind\":\"app\",\"location\":\"EAST Asia\",\"properties\":{\"serverFarmId\":\"/subscriptions/79ed831f-c7b8-402e-a226-de8aa5f4764a/resourceGroups/yangshenrg001/providers

[2021-11-04 07:25] jiasli commented on #20168
After discussing with MSAL developer @rayluo, we feel this is an unexpected scenario. `9188040d-6c67-4c5b-b112-36a304b66dad` is the tenant ID for Microsoft Account.

I tried to log in with my own Microsoft Account and the `Account` field looks like:

[code]

However, in your case, the same email address is also an AAD account, because it has a full `"home_account_id": "237e830d-aa10-4fce-bdbc-62bf

[2021-11-04 07:31] jiasli commented on #20172
Let's work on https://github.com/Azure/azure-cli/issues/20168.

[2021-11-04 07:31] #20172 closed

[2021-11-04 07:42] yonzhan commented on #20193
route to service team

[2021-11-04 07:45] StigNil commented on #20147
I have tried several company pc's on company network and local network, but get the same issue, allso tried with my home computer on local network with same issue. You allways get login, and even if using private gmail as login I cant seam to get in.

Sign in
Sorry, but we’re having trouble signing you in.

AADSTS50020: User account 'mr.stig.nilsen@gmail.com' from identity provider 'live.com' does

[2021-11-04 07:54] zhoxing-ms commented on #20188
@yangchengs Could you add parameter `--debug` after the command you executed, and then send the printed debug information to me by email? My email address is Zhou.Xing@microsoft.com

This should be a service issue. After I know the specific information, I will transfer it to the service team

[2021-11-04 08:53] zhoxing-ms commented on #20188
This should be a service issue

Request body
[code]

**'x-ms-client-request-id': 'b2ae08f1-3d44-11ec-9353-803253623175'**

[2021-11-04 08:56] rumstead commented on #20147
Will do thanks!

[2021-11-04 09:27] jiasli commented on #20177
It seems this has been seen before:

- https://github.com/Azure/azure-sdk-for-python/issues/19261
- https://github.com/Azure/azure-sdk-for-python/issues/20802

I will do some investigation. +@rayluo

[2021-11-04 09:29] jiasli commented on #20186
Could you [create a support ticket](https://docs.microsoft.com/en-us/azure/azure-portal/supportability/how-to-create-azure-support-request) and troubleshoot the managed identity endpoint `Connection refused` issue? We need the original response to identity the root cause. Thanks.

[2021-11-04 09:30] jiasli commented on #20147
@StigNil, I am a little bit confused. Isn't the error you pasted from `az login`? I won't think `az upgrade` can fail with that message.

[2021-11-04 10:32] KennethJakobsen opened #20196 "Az login --identity doen't work from custom container i app services"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
We are running a custom linux container in app services.
We have opened up SSH to the container.
From SSH we have verified that the IDENTITY_ENDPOINT environment variable exists.
When we run az login -i the following occurs

**Command Name**
`az login --identity`

**Errors:**
[code]

## To Reproduce:
Steps to r

[2021-11-04 10:47] yonzhan commented on #20196
@jiasli for awareness

[2021-11-04 10:50] rafaelpiter commented on #20076
Thanks for the quick feedback guys, I just validated on the portal, everything is working as expected!

[2021-11-04 10:50] #20076 closed

[2021-11-04 11:36] Santtu1980 opened #20197 "Cannot login using az login cmd. Maybe cos local time"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2021-11-04 11:37] KennethJakobsen commented on #20196
Additional info:
The above was done with only a userassigned Identity I get this error when enabling a system assigned ID

Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 231, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line 657, in execute
    raise ex

[2021-11-04 12:24] ruijterkamp commented on #20131
In Azure DevOps version 2.30.0 of Azure CLI is available and the deployment is working again without any error.

[2021-11-04 12:26] yonzhan commented on #20197
@jiasli for awareness

[2021-11-04 12:34] jiasli commented on #20197
Could you check https://github.com/Azure/azure-cli/issues/20158 ?

[2021-11-04 12:42] jiasli commented on #20196
For the original issue:

[code]

Please make sure the managed identity is configured correctly. This can be cross-checked with `curl`:

- https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=powershell#obtain-tokens-for-azure-resources
- https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/how-to-use-vm-token#get-a-token-using-curl

[2021-11-04 13:28] KennethJakobsen commented on #20196
requesting this:` curl "${IDENTITY_ENDPOINT}?resource=https://vault.azure.net/&api-version=2019-08-01" -H "X-IDENTITY-HEADER: ${IDENTITY_HEADER}"  -H "Host: localhost:4141" `

gives me this response:

{
    "access_token":"..",
    "expires_on" : "1636118517",
    "resource" : "https://vault.azure.net/",
    "token_type" : "Bearer",
    "client_id":"..."
}

[2021-11-04 13:33] KennethJakobsen commented on #20196
this: `curl "${IDENTITY_ENDPOINT}?resource=management.core.windows.net/&api-version=2019-08-01" -H "X-IDENTITY-HEADER: ${IDENTITY_HEADER}"  -H "Host: localhost:4141" `

gives me
`{"exceptionMessage":"AADSTS500011: The resource principal named management.core.windows.net/ was not found in the tenant named [...]. This can happen if the application has not
 been installed by the administrator of the

[2021-11-04 13:37] crobin1 opened #20199 "Cannot specify a name when creating a Network Watcher resource with Azure CLI"
**Is your feature request related to a problem? Please describe.**
Azure CLI don't provide a way to specify a name when creating a network watcher resource, like the PowerShell cmdlet and AMR template do.
It's frustrating because it just breaks all the organization naming convention in place.

**Describe the solution you'd like**
Example:
az network watcher configure -g custom-rg -n my-nw-custom-n

[2021-11-04 13:43] KennethJakobsen commented on #20196
I noticed "expires_in" is missing from this response...

[2021-11-04 14:16] blcksrx opened #20200 "Cant update access of a blob"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage fs access set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage fs access set --owner={} -f {} -p {} --account-name

[2021-11-04 14:24] jiasli commented on #20193
Please see https://github.com/Azure/azure-cli/issues/19903

[2021-11-04 14:26] jiasli commented on #19903
This issue has been fixed by https://github.com/Azure/azure-cli/pull/19897 and released in Azure CLI 2.29.1. Please update to the latest version following the official document https://docs.microsoft.com/en-us/cli/azure/install-azure-cli

[2021-11-04 14:26] #19903 closed

[2021-11-04 14:26] yonzhan commented on #20199
network

[2021-11-04 14:27] #20131 closed

[2021-11-04 14:27] #20065 closed

[2021-11-04 14:27] #19954 closed

[2021-11-04 14:28] #19973 closed

[2021-11-04 14:29] #20031 closed

[2021-11-04 14:29] #19917 closed

[2021-11-04 14:30] yonzhan commented on #20200
storage

[2021-11-04 16:05] pamoody33 commented on #20112
Is there any update?

[2021-11-04 16:15] jiasli commented on #19480
I am finally able to pin down the exact root cause for this issue.

## Repro

1. In Azure Portal, create an app service with "quickstart" docker image `mcr.microsoft.com/appsvc/staticsite:latest`
2. Configure system assigned identity for the app service
3. Follow the doc to SSH into the container: https://docs.microsoft.com/en-us/azure/app-service/configure-linux-open-ssh-session
4. Install Azure

[2021-11-04 16:18] tringuyen-yw opened #20201 "az snapshot create: failed in cmdline but succeeded in Portal GUI"
## Describe the bug

Create a snapshot of existing Azure disk. Failed when running `az snapshot create` at the command line. However the snapshot can be created manually using Azure portal UI.

**Command Name**

`az snapshot create`

**Errors:**
[code]

## To Reproduce:

Create a snapshot from an existing Azure disk. You need to know the azure disk Id to initialize the `DEMO_PV_AZ_DISKID` variable

[2021-11-04 16:18] jiasli commented on #19480
The new API `2019-08-01` gives the correct result:

[code]

[2021-11-04 16:22] #20186 closed

[2021-11-04 16:24] Brokenin commented on #9157
Still slow for me is take 1-2 second (WSL2)

[2021-11-04 16:24] jiasli commented on #20196
I have reproduced the issue and found the root cause. Let's work on https://github.com/Azure/azure-cli/issues/19480.

[2021-11-04 16:24] #20196 closed

[2021-11-04 16:52] whsalazar opened #20202 "az bicep uninstall is not longer available as a subcommand"
az bicep uninstall is not longer available as a subcommand in CLI.  See below output from --help on latest version of bicep

C:\Users\wisalaza\source\repos\Enterprise-Scale-APIM\deployment\bicep>az bicep --help

Group
    az bicep : Bicep CLI command group.

Commands:
    build         : Build one or more Bicep files.
    decompile     : Attempt to decompile one or more ARM template files to Bicep

[2021-11-04 16:53] whsalazar opened #20203 "az bicep publish is now longer supported as a subcommand"
az bicep publish is not longer available as a subcommand in CLI.  See below output from --help on latest version of bicep

C:\Users\wisalaza\source\repos\Enterprise-Scale-APIM\deployment\bicep>az bicep --help

Group
    az bicep : Bicep CLI command group.

Commands:
    build         : Build one or more Bicep files.
    decompile     : Attempt to decompile one or more ARM template files to Bicep f

[2021-11-04 17:44] amjads1 commented on #19296
@darrinthomascecil - Based on the above comments, can you confirm when the package was pushed and if you are still experiencing the issue?

[2021-11-04 19:29] amjads1 commented on #19069
@susegrant Thanks for the confirmation! I'm currently working with the CLI and other service teams internally to understand why the above syntax you have shared is not working for SLES images.

I will update back as soon as I have more information on the root cause and next steps to fix this issue. Thanks for your patience!

[2021-11-04 20:16] dkmiller commented on #20150
Relevant service team has been notified and is actively working on a fix.

[2021-11-04 20:23] squillace commented on #19480
@jiasli is there a chance we're hitting the same thing with storage log on? https://github.com/getporter/azure-plugins/issues/39

[2021-11-04 20:32] squillace commented on #19480
in fact, I'm finding this in several places: https://github.com/microsoft/AzureTRE/issues/1067

[2021-11-04 21:27] Mossaka commented on #20150
@rcavalieri819 To unblock you, could you please downgrade the azure-cli/azure-cli-core version to be less than 2.30.0?

You can refer to this comment on how to downgrade the azure cli.  https://github.com/Azure/azure-cli/issues/13331

[2021-11-04 21:47] Walluce commented on #16138
Can I please report this "feature" as a defect?

[2021-11-04 22:53] dunalduck0 opened #20204 "az failed to run: ModuleNotFoundError: No module named 'colorama'"
**Describe the bug**
I am using Linux system. Installed az cli by "curl -L https://aka.ms/InstallAzureCli | bash". Started a new shell and ran "az --help". The command failed with "ModuleNotFoundError: No module named 'colorama'". I tried to install coloram by "pip install coloram" but it didn't help.

**To Reproduce**
1. Install: curl -L https://aka.ms/InstallAzureCli | bash
2. Start a new shell

[2021-11-04 22:55] #20204 closed

[2021-11-04 22:55] eclipse439 opened #20205 "`az deployment sub delete` does not delete deployment"
## Describe the bug

**Command Name**
`az deployment sub delete`

**Errors:**
Command says it's successful in deleting the deployment, but the deployment never gets deleted.

**Debug Log:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az deployment sub delete --name {}`

## Environment Summary

[2021-11-04 22:59] dunalduck0 opened #20206 "az cli failed with ModuleNotFoundError: No module named 'colorama'"
## Describe the bug

**Command Name**
Install Azure CLI with "curl -L https://aka.ms/InstallAzureCli | bash". Started a new shell but "az --help" crashed for missing "colorama". Manually installed "pip install colorama", but didn't fix the issue.

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive inform

[2021-11-04 23:16] yonzhan commented on #20201
Compute

[2021-11-04 23:19] yonzhan commented on #20202
route to service team

[2021-11-04 23:20] yonzhan commented on #20203
route to service team

[2021-11-04 23:23] yonzhan commented on #20205
ARM

[2021-11-04 23:23] yonzhan commented on #20206
@jiasli for awareness

[2021-11-04 23:29] adin3d commented on #16913
same problem - the az cli has the --keyvault secret argument for az network application-gateway root-cert create command but I get Code: ApplicationGatewayTrustedRootCertificateInvalidData

[2021-11-05 00:51] yanfa317 opened #20208 "Issues found for Azure Virtual Network Manager"
**Describe the bug**
1, For list-active-connectivity-config, after I add parameter regions, it will still return results from all regions.
2,  Security-type in security configuration should be readonly. Can you remove it from example.
3,  When creating security configuration with only required parameters(resource group/name/networkmanager name), the request will fail.
I checked the debug log. It s

[2021-11-05 01:00] yonzhan commented on #20208
network

[2021-11-05 01:08] jiasli commented on #20206
We have removed knack 0.8.3 from PyPI as `azure-cli-core` is incompatible with knack 0.8.3.

To fix an existing broken installation, please run

[code]

[2021-11-05 01:39] jiasli opened #20209 "[webapp] `az webapp create-remote-connection`: Display ssh command directly"
Now the output of `az webapp create-remote-connection` looks like

[code]

Then I have to manually compose the SSH command myself:

[code]

How about directly displaying the SSH command `ssh root@127.0.0.1 -p 43147`, or even better, do SSH in the very same command, like `az vm ssh` from [ssh extension](https://github.com/Azure/azure-cli-extensions/tree/main/src/ssh).

[2021-11-05 01:53] dunalduck0 commented on #20206
@jiasli Thanks for your suggestion. I manually installed knack v0.8.2 as you suggested, but "az --help" crashed with the same error. I also didn't understand why installing knack would resolve error of missing colorama.

![image](https://user-images.githubusercontent.com/51274745/140445069-fa929347-7855-45de-a41a-30fd571ab291.png)

[2021-11-05 02:03] jiasli opened #20211 "`az account get-access-token` returns `expiresOn` as `null` for managed identity"
Receiving "Error parsing Token Expiration Date" when using Azure CLI 2.30.0 with managed identity:

- https://github.com/getporter/azure-plugins/issues/39
- https://github.com/microsoft/AzureTRE/issues/1067

[code]

_Originally posted by @squillace in https://github.com/Azure/azure-cli/issues/19480#issuecomment-961395746_

[2021-11-05 02:04] jiasli commented on #19480
@squillace your issue is different from this one. Let's work on #20211.

[2021-11-05 02:10] jiasli commented on #20211
This issue is because Azure CLI 2.30.0 fails to set `expiresOn` for managed identity credential:

https://github.com/Azure/azure-cli/blob/6442bedce93ea849dc02700fde4befef6313219a/src/azure-cli-core/azure/cli/core/_profile.py#L367-L374

The returned credential is later used by acr:

https://github.com/Azure/azure-cli/blob/04210197837bbceb547f86df7f086a42c96e0d2a/src/azure-cli/azure/cli/command_modu

[2021-11-05 02:29] jiasli commented on #20211
A quick search on `"Error parsing Token Expiration Date"` suggests some command is using Azure Go SDK to call `az account get-access-token` to get the access token and `expiresOn`: https://github.com/search?q=%22Error+parsing+Token+Expiration+Date%22&type=code

https://github.com/Azure/azure-sdk-for-go/blob/47db7e2935fc81ededd911e1b268c8729d5af38d/sdk/azidentity/azure_cli_credential.go#L163

[code

[2021-11-05 03:23] yonzhan commented on #20209
route to service team

[2021-11-05 03:49] kairu-ms commented on #19921
Hi @shaileshsk94, I close this issue as `Purview/account` is already supported in `az network private-endpoint-connection`.

[2021-11-05 03:49] #19921 closed

[2021-11-05 05:45] ranikamadurawe commented on #20150
This is an Issue effecting one of our pipelines as well. Specifically when running the `az ml model deploy` command. Is there an ETA for the fix?

[2021-11-05 06:19] RaananHadar opened #20214 "Unable to load extension aks-preview on linux"
**Describe the bug**
I am getting an `unable to load aks-preview` extension under ubuntu linux.

**To Reproduce**
I have been facing multiple issues with azure-cli as I attempted to follow the user story documented in this [official document](https://docs.microsoft.com/en-us/azure/aks/gpu-cluster#add-a-node-pool-for-gpu-nodes). I can install aks-preview when using the azure-cli in the azure portal

[2021-11-05 06:33] #19857 closed

[2021-11-05 06:45] yonzhan commented on #20214
route to service team

[2021-11-05 07:33] KennethJakobsen commented on #20196
@jiasli That sounds good - can you help me out with a workaround?

[2021-11-05 07:48] jiasli commented on #20214
Could you run the failed command again with `--debug` and share the output? Thanks.

[2021-11-05 08:37] xinyi-frieda opened #20217 "az ams account sp create does not work and throw "Values of identifierUris property must use a verified domain" error"
**Describe the bug**
Unable to create/update SP using az ams account sp create
Error:
'Values of identifierUris property must use a verified domain of the organization or its subdomain: XXX'

**To Reproduce**
use command az ams account sp create.

**Expected behaviour**
Able to do the role assignment

**Environment summary**
CLI version: 2.30

**Tested workaround**
Use a subdomain of the verified

[2021-11-05 08:38] gro1m opened #20218 "Are these documentation sections not redundant "Azure Devops" and "Azure DevOps"?"
Are these documentation sections not redundant "Azure Devops" and "Azure DevOps"?

The sections seem to be redundant apart from the fact that the Summary link does not seem to work for the "Azure Devops" section, whereas it does for the "Azure DevOps" section.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8db571e2-29f

[2021-11-05 08:54] jiasli commented on #20217
Here is how this issue is solved by

- `az ad`: https://github.com/Azure/azure-cli/pull/18312
- `az aro`: https://github.com/Azure/azure-cli/pull/20095

We also made an announcement at https://github.com/Azure/azure-cli/issues/19892.

[2021-11-05 09:03] jiasli commented on #20206
Please make sure you use the python at `~/lib/azure-cli/bin/python`, instead of `pip` in your current virtual environment.

[2021-11-05 09:47] bartosz-piotrowski commented on #20110
any updates ?

[2021-11-05 10:13] madiepev opened #20220 "--workspace-name is now --name"
When working with the workspace with Azure Machine Learning CLI v2 (latest update), you have to specify the workspace name with the parameter --name or -n. In the documentation it still says --workspace-name or -w. Please update.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63446f78-d3ac-0cc3-a102-a1612c54d90e
* Vers

[2021-11-05 13:44] yonzhan commented on #20218
route to service team

[2021-11-05 13:47] yonzhan commented on #20220
route to service team

[2021-11-05 14:11] phealy commented on #20214
[Please see the WARNING box on the Ubuntu azure-cli install page:](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt#:~:text=Ubuntu%2020.04%20\(Focal,apt%20autoremove%20-y.)

```Ubuntu 20.04 (Focal Fossa) and 20.10 (Groovy Gorilla) include an azure-cli package with version 2.0.81 provided by the universe repository. This package is outdated and not recommended. If this

[2021-11-05 14:11] phealy commented on #20214
Please feel free to reopen the issue if this doesn't resolve your problem!

[2021-11-05 14:11] #20214 closed

[2021-11-05 14:16] mitussro opened #20221 "Failure on quick login from AZ CLI in wsl2 Ubuntu 20.04 LTS: ValueError: Unable to find wstrust endpoint from MEX."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login -u {} -p={}`

## Expected Behavior

## Environment Summary
[code]
## A

[2021-11-05 15:29] cveld opened #20222 "Az account does not support switching between accounts"
**Is your feature request related to a problem? Please describe.**
I have a couple of accounts in my tenant. `az account set` only allows for the current account to switch between subscriptions.

**Describe the solution you'd like**
I would like to be able to see all available contexts and switch between them. Refer to Az PowerShell's `Get-AzContext -ListAvailable` and `Set-AzContext`.

If you run

[2021-11-05 16:31] bprakashputta commented on #20163
Any update on why I am facing this error? What can I possibly do to fix this?

[2021-11-05 20:44] kangsun-ctrl opened #20224 "[Compute] Shared Gallery Get/List Update."
**Is your feature request related to a problem? Please describe.**

Currently Shared Gallery List return uses paging, CLI does not support nextLink for shared gallery right now, we need to support nextLink.

**Describe the solution you'd like**

For the return of shared gallery, support nextLink, user can use link from 'nextLink' return field and put it to get next page.

**Describe alternatives y

[2021-11-05 21:32] StrawnSC commented on #20185
Sorry about the issue, @TopperKain. This was a regression introduced by our SDK upgrade in CLI version `2.29.0`. The bug was fixed in the subsequent release. Could you try updating your CLI version and re-running the command?

[2021-11-05 21:53] steveosacky opened #20225 "az network vnet subnet list-available-delegations not working"
**Describe the bug**
I run the command with latest az cli version installed, as shown in the documentation, and I get the following error, 'list-available-delegations' is misspelled or not recognized by the system.

**To Reproduce**
Run az network vnet subnet list-available-delegations --location $region --subscription $subscriptionName --resource-group $resourceGroupName

**Expected behavior**
Wo

[2021-11-05 22:27] sgiddings-kunzleigh opened #20226 "Azure Key Vault API Error - Azure CLI version 2.30.0"
### **This is autogenerated. Please review and update as needed.**

## I am unable to add a network access restriction to an azure key vault using the az keyvault network-rule add command.
**az keyvault network-rule add**
``

**Errors:(NoRegisteredProviderFound) No registered resource provider found for location 'usgovarizona' and API version '2021-06-01-preview' for type 'vaults'. The supported a

[2021-11-05 23:21] archidda commented on #19932
I understand, so your ask for logicapp CLI extension is of a command to trigger a workflow with custom payload(like a dictionary). As of latest version, we do not have a command for that.

only workaround I can think of is to get the callback URI from portal or from ARM client, ad then call it again using ARM client. What are your security concerns with ARMClient?

[2021-11-05 23:42] yonzhan commented on #20221
@jiasli for awareness

[2021-11-05 23:43] yonzhan commented on #20222
@jiasli for awareness

[2021-11-05 23:48] StrawnSC commented on #17508
This feature was added by https://github.com/Azure/azure-cli/pull/20074 in the latest release

[2021-11-05 23:48] #17508 closed

[2021-11-05 23:49] yonzhan commented on #20226
keyvault

[2021-11-05 23:50] yonzhan commented on #20225
network

[2021-11-05 23:52] yonzhan commented on #20224
Compute

[2021-11-06 02:52] jiasli commented on #20222
Could you explain what you mean by "accounts"? "account" is only an Azure CLI concept, which is either a **subscription account** or **tenant account** (`--allow-no-subscriptions`).

If you are referring to **user account**, yes, Azure CLI current only uses subscription ID the primary key for selection. This was discussed in https://github.com/Azure/azure-cli/issues/15005.

[2021-11-06 02:59] jiasli commented on #20221
This is more of an MSAL issue. + MSAL developer @rayluo

**Username + password flow** is not recommended:

https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth-ropc

Instead,please use

- `az login` for [auth code flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow) which will launch the default web browser for login (yes, WSL supports

[2021-11-06 04:29] jkeech opened #20228 "`az snapshot create` from blob uri fails with 2.30"
**Describe the bug**
`az snapshot create` fails starting in version 2.30 when using a source that is a blob uri. It works on 2.29. It looks like the change in https://github.com/Azure/azure-cli/pull/19875 to determine the correct `copyStart` mode doesn't work for the blob uri source mode.

Specifically, it calls `result = parse_proxy_resource_id(namespace.source_disk or namespace.source_snapshot)`

[2021-11-06 05:04] jkeech commented on #20228
Adding `--copy-start` appears to be a workaround since it avoids the code path with the bug. But my understanding from reading the code is that the `--copy-start` mode does not even apply to the blob uri source scenario, so it doesn't seem like a great long-term solution to have to specify `--copy-start` in order to make it work.

[2021-11-06 07:01] yonzhan commented on #20228
Compute

[2021-11-06 07:21] cveld commented on #20222
Thanks for the follow up. Issue #15005 is exactly describing what I would expect. Apparently it was already raised more than a year ago. Could you please prioritize?

I am also experiencing something related to my requirement:

As soon as I switch the az cli context then in every session the context is switched. Ideally other sessions keep their own context until the session is restarted. I guess

[2021-11-06 08:33] AndreasAtGH opened #20229 "WebApp:az webapp log tail from the azure course does not work"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp log tail`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp log tail -g {} -n {}`

## Expected Behavior

## Environment

[2021-11-06 09:53] lucafaggianelli opened #20230 "WebApp:az webapp up crash after upgrade to v2.30"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --resource-group {} --name {} --subscription {} --plan {} -e {

[2021-11-06 15:16] RaananHadar commented on #20214
Thank you, this was the correct solution.

[2021-11-06 16:06] ioanvapi commented on #12750
The same issue on Ubuntu 20 on WSL2. I have installed az cli then successful login with "az login --allow-no-subscriptions". I tried 'az ad app list' and got the message: "Please run 'az login' to setup account."

![image](https://user-images.githubusercontent.com/7744363/140616077-8f8082cd-0299-40e9-a3b8-b91cc2a67707.png)

Ran again with --debug and got:

❯ az ad app list --debug

[2021-11-06 17:13] vperala opened #20231 "`az login` command having issues while login from Windows Powershell as Administrator: OSError: [WinError -2146893813]"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2021-11-07 01:08] yonzhan commented on #20229
route to service team

[2021-11-07 01:11] yonzhan commented on #20231
@jiasli for awareness

[2021-11-07 01:16] yonzhan commented on #20230
route to service team

[2021-11-07 03:34] spottedmahn commented on #20168
I got a personal & work account w/ the same email / username... I logged in w/ one & get that message on `az provider register --namespace Microsoft.Web` 🤷‍♂️

I've emailed you my powershell session, if that helps.

[2021-11-07 09:11] szabgab opened #20232 "How to remove ScopeLock before deletition"
I created a file-share using the CLI and then tried to delete it using

[code]

I got an error:

[code]

IMHO The documentation of `share-rm` should mention this and maybe other potential error messages and how to handle them.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 87de814a-84c0-2ac6-982c-d8415b0d7571
* Version

[2021-11-07 16:43] majidaldo commented on #6408
on windows, set PYTHONIOENCODING=utf-8. i'm using the latest cli (py39, pip installed). so stupid we're dealing with this in 2021.

i didn't do too much investigation but i think it's more fundamentally with colorama.

[2021-11-07 17:09] jhliberis commented on #20150
@ranikamadurawe I have managed to workaround this by editing authentication.py in .Azure\cliextensions\azure-cli-ml\azureml\core. Removing the 'async_persist=False' parameter seems to have done thr trick.

[2021-11-07 18:14] lluthus commented on #20137
Dear, now is working !

[2021-11-07 18:14] #20137 closed

[2021-11-07 22:54] yonzhan commented on #20232
storage

[2021-11-08 02:08] kairu-ms commented on #20225
@steveosacky, Could you update your CLI and try again?

[2021-11-08 02:09] jiasli commented on #20168
I am not sure if this due to some historical reason, but currently I am not able to create **Microsoft Account** with **work or school account email**:

![image](https://user-images.githubusercontent.com/4003950/140672927-54bfe9c0-e458-47a5-915e-ba90c66f63b5.png)

`@microsoft.com` is also reserved.

![image](https://user-images.githubusercontent.com/4003950/140672956-1c6d4ee7-2ea8-4f82-a37c-635cae

[2021-11-08 02:15] jiasli commented on #20168
@spottedmahn, thanks for the email. Apparently, `az account clear` and `az login` have helped solve the "Found multiple accounts with the same username" issue.

However, your last problem doesn't seem to be related to this issue, it is rather a problem with `az provider register`:

[code]

As the error suggests, the registration is on-going and it should complete in a while. If you still see any p

[2021-11-08 02:37] jiasli commented on #12750
The size of your `azureProfile.json` is suspicious. Its size should be around 300 bytes:

[code]

Could you use `cat` to echo its content and run `az account list`?

[2021-11-08 03:26] #20182 closed

[2021-11-08 04:13] #20206 closed

[2021-11-08 06:54] evelyn-ys commented on #20226
@jlichwa for awareness
Customers are getting '2021-06-01-preview' not registered error for mgmt plane 'vaults'

[2021-11-08 07:07] ioanvapi commented on #12750
Right now, the size is different because I have created a subscription then did login again. All these updated the file with a new content and it's about 400 bytes now. But still I remember (from my memory) the previous content was something like {"id": "54826b22-38d6-4fb2-bad9-b7b93a3e9c5a"}.

My curent configuration cannot help that much. I had to delete the subscription, the .azure local folder

[2021-11-08 07:16] jiasli commented on #12750
`az login --allow-no-subscriptions` only works if you have access to an AAD tenant, as it will create a tenant account like:

[code]

Please make sure the account you used to log in has tenant access.

[2021-11-08 08:20] ioanvapi commented on #12750
I have logged in with the same user that I have used to create the Azure account. Right now, the 'az account list' echos:
`
[
  {
    "cloudName": "AzureCloud",
    "homeTenantId": "cd44df35-cde2-4917-8cab-03139fa4bc85",
    "id": "2c0d2676-9a7b-4d8c-874f-89b9d69993e8",
    "isDefault": true,
    "managedByTenants": [],
    "name": "Azure subscription 1",
    "state": "Enabled",
    "tenantId": "c

[2021-11-08 08:29] jiasli commented on #12750
This should work now. Are you still seeing the error?

[2021-11-08 09:19] susanandwang commented on #19556
I tested in az CLI version 2.30.0, and it seems that this issue has been fixed.

[2021-11-08 09:25] #19855 closed

[2021-11-08 09:25] #19804 closed

[2021-11-08 09:26] #19803 closed

[2021-11-08 09:26] #18771 closed

[2021-11-08 09:26] jiasli commented on #18771
Fixed by docs team.

[2021-11-08 09:34] jiasli commented on #20231
Same as #20231

[2021-11-08 09:35] jiasli commented on #20231
\+ MSAL developer @rayluo

@vperala, have you copied `.azure` from/to another computer? Could you share the detailed steps you followed to trigger this error? Thanks.

[2021-11-08 09:45] #19556 closed

[2021-11-08 09:57] shawnxzq commented on #17498
@jonathancisneros Is there any chance to try it with debug option and share the log with us? It will very helpful for us the understand the real issue, thanks!

[2021-11-08 10:07] #11342 closed

[2021-11-08 10:08] #19511 closed

[2021-11-08 10:16] madiepev opened #20239 "dataset instead of data"
When running the following command in Cloud Shell: `az ml data create --file ./mslearn-aml-cli/Allfiles/Labs/01/data-local-path.yml`

I get this notification:
This command is implicitly deprecated because command group 'ml data' is deprecated and will be removed in a future release. Use 'ml dataset' instead.
Command group 'ml data' is in preview and under development. Reference and support levels:

[2021-11-08 10:18] yonzhan commented on #20239
route to service team

[2021-11-08 12:31] sycured commented on #20181
I resolved this issue which is coming due to your bad documentation… near one week without an answer from your part for an actual customer (no free credit)

You want that we use Microsoft Azure for production, you need a good documentation

[code]

[2021-11-08 12:31] #20181 closed

[2021-11-08 13:36] wcislo-taxy-io opened #20240 "FunctionApp:`az functionapp deployment source config-zip` does not respect `--slot` argument"
## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
Despite specifying slot (named `test`) new version of source code is deployed to default (production) deployment slot. Regardless slots is specified or not, new version of code is deployed to default (production) slot.

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have be

[2021-11-08 13:54] KoenHeye commented on #16111
I've been using that way to create slots with the copy of files. Although I'm having timeout issues: Long running operation failed with status 'InternalServerError'".

[2021-11-08 13:58] CAP-3Shape opened #20241 ""az keyvault secret list" throws "[Errno 22] Invalid argument" because there exists a bad certificate or secret in the vault"
**Describe the bug**
I was using the following command: `az keyvault secret list`

This used to work, but one day the command stopped working and started throwing **[Errno 22] Invalid argument**.

One person suggested that my key vault might contain a bad secret with a bad expiration date. This was not exactly it, but apparently my vault did contain a bad _certificate_. I deleted a certificate, an

[2021-11-08 14:13] yonzhan commented on #20240
route to service team

[2021-11-08 14:18] yonzhan commented on #20241
keyvault

[2021-11-08 14:27] spottedmahn commented on #20168
I figured not, thanks 👍

[2021-11-08 15:04] HansZimmer5000 opened #20242 "`az synapse sql audit-policy show` needs value for optional `--blob-auditing-policy-name`"
## Describe the bug

**Command Name**
`az synapse sql audit-policy show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Open a BASH Terminal
- `az login`
- `az synapse sql audit-policy show --workspace-name {some existing workspace-name} --resource-group {the matching resource-group}

[2021-11-08 15:14] yonzhan commented on #20242
route to service team

[2021-11-08 15:34] FTFX commented on #16673
Is there any update?

[2021-11-08 17:10] frank-pang-msft commented on #20139
Hi just following up if this issue is okay?

[2021-11-08 17:13] lostinlux opened #20243 "error - multiple accounts with same user name - requested to report it to GITHUB"
Hi,
I am doing Microsoft learn training and am receive issue with too many accounts?

Current exercise: Explore Azure Resource Manager template structure

https://docs.microsoft.com/en-us/learn/modules/create-azure-resource-manager-template-vs-code/2-explore-template-structure

When I try to run command : az account list-locations  I am told this:

Found multiple accounts with the same username. P

[2021-11-08 17:32] steveosacky commented on #20225
I have the latest version 2.30.0. The error message remains the same.
Command: az network vnet subnet list-available-delegations --location $region --subscription $subscriptionName --resource-group $resourceGroupName
Error: 'list-available-delegations' is misspelled or not recognized by the system.
Can you not reproduce the error?

az --version

azure-cli                         2.30.0

core

[2021-11-08 17:49] paulshealy1 commented on #20239
Thanks for the feedback! We're investigating this now.

[2021-11-08 18:36] nithinmohantk commented on #19562
Nicely routed to a Service team, yet no response.  Great!, support.

[2021-11-08 19:00] afilatov-st opened #20244 "az logout fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az logout`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az logout`

## Expected Behavior

## Environment Summary
[code]
## Additional

[2021-11-08 19:23] rayluo commented on #20231
Agree with @jiasli 's triage. By the way, a suggestion to @jiasli : you can convert this issue into a [Q&A in Az CLI's Github Discussion](https://github.com/Azure/azure-cli/discussions/categories/q-a), and then select your answer as "chosen answer". This way, it remains visible to future customers, therefore you can safely close those stale issues like #17186.

Or even better, either Az CLI or MSA

[2021-11-08 20:01] rayluo commented on #20221
Agree with @jiasli's triage and all the correct guidance. One more thing to @mitussro , were you trying to sign in with username and password with your personal account (i.e. a Microsoft Account)? That is not a supported feature.

[2021-11-08 20:39] Shert commented on #9804
I add that it would be nice to have this feature also for the scm part of the webapp,
cause this part is not covered by the great  workaround suggested by @dennisholmer
and powershell has this features, for example New-AzWebAppSSLBinding ,
Remove-AzWebAppSSLBinding support the -Name switch and it is possible to work
on a specific fqdn.

M.

[2021-11-08 21:12] sgiddings-kunzleigh commented on #6638
I encountered this issue this week for the first time and took me a long time to figure out the problem. I expected the behavior of the Azure CLI to mimic the Azure portal and took me a long time to realize it wasn't. I am trying to build something in a Jenkins pipeline and not having it mimic the Portal functionality is causing problems.

Any update on when this will be implemented and work like

[2021-11-08 22:21] clubcsl opened #20246 "issue creating a VM"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm create --resource-group {} --name {} --vnet-name {} --subnet {} --ima

[2021-11-08 22:25] roalexan opened #20247 "'az ml endpoint' seems to no longer exist"
looks like the latest version of the cli has to use, for example, "online-deployment"

[2021-11-08 22:59] yonzhan commented on #20243
@jiasli for awareness

[2021-11-08 23:01] yonzhan commented on #20244
@jiasli for awareness

[2021-11-08 23:11] yonzhan commented on #20246
Compute

[2021-11-08 23:13] yonzhan commented on #20247
route to service team

[2021-11-09 01:02] HugoPordeus opened #20248 "Walkthrough # 11 - Create a VM with the CLI is not working"
### **This is autogenerated. Please review and update as needed.**

## When done commands (using CLI) below, then the following error message shows up:

**Commands:
 az vm create \
 --name myVMCLI \
 --resource-group myRGCLI \
 --image UbuntuLTS \
 --location EastUS2 \
 --admin-username azureuser \
 --admin-password Pa$$w0rd1234

And also not working: Note: If you are using the command line on a W

[2021-11-09 01:34] yonzhan commented on #20248
Compute

[2021-11-09 01:49] jiasli commented on #20221
I am able to reproduce with my personal outlook account:

[code]

[2021-11-09 01:58] jiasli commented on #20244
The code has not been changed from ADAL->MSAL migration:

https://github.com/Azure/azure-cli/blob/14cc787d0f58bc649d402b486fdecc5625eee9ac/src/azure-cli-core/azure/cli/core/_profile.py#L480-L487

Could you share the content of `~/.azure/azureProfile.json`? Looks like the user name becomes `None`:

[code]

[2021-11-09 02:02] #17186 closed

[2021-11-09 02:03] jiasli commented on #17186
Work in #20231 instead, which is for the GA version of MSAL-based Azure CLI.

[2021-11-09 02:07] afilatov-st commented on #20244
unfortunately, I applied a "workaround" by removing the `~/.azure` directory

[2021-11-09 02:08] jiasli commented on #20168
## Solution

To get unblocked, please clear Azure CLI's accounts and log in again with only one account (Microsoft Account or AAD Account):

[code]

Later if you want to logging in again, please make sure to select the same account, but not the other one.

[2021-11-09 02:10] jiasli commented on #20243
This issue is being discussed at #20168. @lostinlux, have you logged in twice with the same email address as both

- Microsoft Account
- AAD Account

Could you follow https://github.com/Azure/azure-cli/issues/20168#issuecomment-958765085 and share your account information?

For now, you may follow https://github.com/Azure/azure-cli/issues/20168#issuecomment-963747032 to get unblocked.

[2021-11-09 02:12] jiasli commented on #20244
It is possible `~/.azure/azureProfile.json` is corrupted by other programs. If you see this issue again, please reply to this issue. Thanks.

[2021-11-09 02:12] #20244 closed

[2021-11-09 02:43] zhoxing-ms commented on #20139
@frank-pang-msft Yes, we will plan to release it on **12-07**

[2021-11-09 03:09] #20037 closed

[2021-11-09 03:51] nish112 commented on #20150
I tried @jhliberis method but was not working for me and then i tried downgrading az cli to 2.29.1 as suggested by @Mossaka , and downgrading worked for me. I am using self hosted agent and i ran below command for downgrading:
sudo apt-get install azure-cli=2.29.1-1~bionic

[2021-11-09 05:03] #20133 closed

[2021-11-09 05:44] kairu-ms commented on #20225
@steveosacky Could you run following command to reset azure-cli target cloud and try again.
[code]

[2021-11-09 07:05] edvinas31 opened #20252 "`portalocker` error: FileNotFoundError: [Errno 2] No such file or directory"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --resource {} --subscription {}

[2021-11-09 07:09] edvinas31 commented on #20252
Also, wanted to notify that I am using terragrunt for deploying azure resources and after I switched from 2.29.2 to 2.30.0 using this manual https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt#install-specific-version it is showing similar error like above. Seems to me that the new az cli version is broken somehow

[2021-11-09 08:49] paganellif opened #20254 "az aks get-credentials raise "ModuleNotFoundError: No module named 'colorama'""
## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expected Behavior

Cluster credential added to kube-config successfully.

#

[2021-11-09 09:04] paolosalvatori commented on #19760
Any news on this? The problem is still there and it's very painful as it prevents automating the creation and deletion of a DNAT rule

[2021-11-09 09:09] percepticus opened #20255 "Azure Create Deployment User - PHP App"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment user set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment user set --user-name {} --password {}

[2021-11-09 09:12] #17507 closed

[2021-11-09 09:13] yonzhan commented on #20252
@jiasli for awareness

[2021-11-09 09:19] yonzhan commented on #20254
route to service team

[2021-11-09 09:20] yonzhan commented on #20255
route to service team

[2021-11-09 09:39] PARADISSEEKR commented on #19786
@ramankumarlive  Source-vault is a required field in the current SDK(23.1.0), could you please release a new SDK?

[2021-11-09 09:43] sdebruyn commented on #20211
I can reproduce this, `expiresOn` is always `null` when using an MSI

[2021-11-09 09:44] jiasli commented on #20211
@sdebruyn, could you try the workaround and let us know if that works?

[2021-11-09 10:35] b10-dslappendel commented on #20049
Is this being worked on? While the linked issue may be fixed, this issue is still a problem for me.
It blocks https://github.com/actions/virtual-environments/issues/4327 for me on 2.30.0, meaning that I have to manually install 2.28.0 in the agent, causing an additional 7-10 minutes on Windows agents during deployment.

[2021-11-09 10:38] wetjenk commented on #20049
i've kept mine downgraded too. surprising this issue was not caught by the automated tests. do they need expanding?

[2021-11-09 11:11] zesluo commented on #20242
Hello @HansZimmer5000 , I can repo it. Thanks for your feedback! I will make a PR for it then.

[2021-11-09 11:47] murphy85 commented on #14768
I found some information on this blog: [https://www.danielstechblog.io/running-podman-on-macos-with-multipass/](https://www.danielstechblog.io/running-podman-on-macos-with-multipass/)
I just set the link, executed `podman machine init `and `podman machine start` and it worked :-)

Mac Homebrew M1
`ln -s /opt/homebrew/bin/podman /usr/local/bin/docker || true`

Mac Homebrew Intel
`ln -s /usr/local/b

[2021-11-09 11:50] sdebruyn commented on #20211
I can confirm both workarounds work for me

[2021-11-09 12:54] jiasli commented on #20254
`colorama` was removed from Knack for non-Windows systems (https://github.com/microsoft/knack/pull/249).

I saw `Installer: ` shows empty, which is weird. May I know how you installed Azure CLI? Have you manually updated Knack to the latest version [0.9.0](https://github.com/microsoft/knack/releases/tag/v0.9.0) which is incompatible with `azure-cli` 2.30.0?

[2021-11-09 13:26] jiasli commented on #20252
The error is from `portalocker`.

https://github.com/WoLpH/portalocker/blob/3025e66895ce819d806ac7201041af9d0b4f67bb/portalocker/utils.py#L298

[code]

It is pretty weird that `seek` succeeds, but `truncate` failed.

Could you check if `msal_token_cache.json.lockfile` was deleted during execution?

\+@rayluo

[2021-11-09 13:53] paganellif commented on #20254
The problem occurs both installing via and via pip. I didn't manually upgrade knack but downgrading to version 0.8.2 via `pip install --user 'knack == 0.8.2'~ solved the problem.

Thanks @jiasli

[2021-11-09 13:53] #20254 closed

[2021-11-09 14:25] alexdrenea commented on #14580
I know this is a pretty old issue, but I can confirm your solution worked for me.
I feel this is good enough to close this ticket, however, I also believe some extra documentation or example should be added on the main page on how to achieve this. (specifically, I think setting a KeyVault Reference as an app setting is a valid and common scenario)

[2021-11-09 14:36] benne commented on #19624
We are relying on this to work for our IaC - having a manuel step in the middle defeats the purpose of automation :)

+1

[2021-11-09 14:38] jiasli commented on #20252
Is this a steady repro? Or are you running multiple `az` instances concurrently?

[2021-11-09 15:09] Abhishek-rastogi07 opened #20257 "Remote ssh connection command for app service fails from cloud shell"
## Remote ssh connection command for app service fails from cloud shell

I followed the below guide:-
https://docs.microsoft.com/en-us/azure/app-service/configure-linux-open-ssh-session#open-ssh-session-from-remote-shell

**Command Name**
`az webapp create-remote-connection`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they

[2021-11-09 15:25] #20225 closed

[2021-11-09 16:06] nameier opened #20258 "Issues when trying to create a snapshot of a Uniform VMSS OS disk in AzureCLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az snapshot create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `vmssosdisk=$(az vmss show -g {} -n {} --instance-id {} --query storageProfile.osDisk.managedDisk.id -o tsv) /

[2021-11-09 16:13] nameier commented on #20258
Working with a colleague who has Azure CLI version 2.29.1, and they are not getting the same issues.

[2021-11-09 16:33] sycured commented on #16048
Any ETA or idea/workaround?

[2021-11-09 17:33] vperala commented on #20231
Hi Jiasli,
My issue was resolved after deleting all the files and folders under C:\Users\<username>\.azure folder and tried to reinstall Azure CLI from windows powershell(run as Administrator) with the below command. It's working fine now.

Command:
========
$ProgressPreference = 'SilentlyContinue'; Invoke-WebRequest -Uri https://aka.ms/installazurecliwindows -OutFile .\AzureCLI.msi; Start-Process

[2021-11-09 19:25] kangsun-ctrl opened #20262 "Migrate community gallery from private package to CLI extension"
**Is your feature request related to a problem? Please describe.**

This is for Azure Compute community gallery private package. Current solution is to use private package Xing Zhou provided. However, it requires user to install python virtual env and it might cause confusion. To have better user experience, we plan to use CLI extension full support for community gallery and edge build link for 'a

[2021-11-09 19:27] rayluo commented on #20252
+ portalocker author @wolph for awareness

[2021-11-09 19:38] arsing opened #20263 "`az resource tag` broken for DPSes because it uses an API version that DPS does not support"
## Describe the bug

**Command Name**
`az resource tag`

**Errors:**
[code]

## To Reproduce:

- Create a DPS with `az iot dps create` and get its resource ID.

- `az resource tag --ids "$dps_resource_id" --tags foo=bar`

This fails with the error above.

AFAICT, this isn't directly an azure-cli problem, because the RP is reporting the API version and then refusing to support it. `--debug` reveals

[2021-11-09 19:39] rayluo commented on #20231
Congrats @vperala for recovering from the issue. Can you tell us more on the history of that `C:\Users\username\.azure` folder? Did you manually copy it from a different computer?

* If your answer is yes, then the error is expected (it is a security feature), although @jiasli and I may still consider some User eXperience (UX) improvement here.
* If your answer is no, then it could be a sequence o

[2021-11-09 22:49] rayluo commented on #20252
Possibly. Currently MSAL Extensions indeed creates and deletes that lock file frequently.

Does portalocker expect the lock file to remain available most of the time?

Could portalocker be refactored so that any failure during [this preparation](https://github.com/WoLpH/portalocker/blob/v2.3.2/portalocker/utils.py#L256-L257) can be put inside the [retry logic](https://github.com/WoLpH/portalocker/

[2021-11-09 22:57] git-thomasdolan opened #20265 "Support with Updating Management Groups CLI"
**Resource Provider**
Management Groups

**Description of Feature or Work Requested**
I need assistance in updating the Management Groups CLI to be up to date with the latest version our our APIs using the CodeGen tool. The CLI has not been updated in over two years and I am not sure if we have used CodeGen before.

**Minimum API Version Required**
2021-04-01
https://github.com/Azure/azure-rest-ap

[2021-11-09 23:16] yonzhan commented on #20257
route to service team

[2021-11-09 23:17] yonzhan commented on #20258
Compute

[2021-11-09 23:26] yonzhan commented on #20262
Compute

[2021-11-09 23:36] yonzhan commented on #20263
ARM

[2021-11-09 23:43] WoLpH commented on #20252
As soon as the lock is acquired, portalocker does not expect the lock to disappear anymore. That seems a reasonable assumption to me since nothing else should be able to acquire the lock at that point.

Yes, that's certainly an option. But I think there might be an underlying bug somewhere that is causing this. This scenario should never occur if locking works properly.

[2021-11-09 23:44] yonzhan commented on #20265
PLR

[2021-11-09 23:55] avirishuv commented on #19455
Assigning to @oriwolman and removing @Vaibhav-Agar

[2021-11-09 23:56] avirishuv commented on #14642
Assigning to @amjads1 and removing @axayjo

[2021-11-10 02:27] jiasli commented on #20231
The old ADAL-based Azure CLI saves tokens to `~/.azure/accessTokens.json`, while the new MSAL-based Azure CLI saves tokens to `~/.azure/msal_token_cache.json` or `~/.azure/msal_token_cache.bin` (enrypted), so they work independently.

[2021-11-10 02:30] Kotasudhakarreddy commented on #20229
Seems like you are checking for the non-existing app. please check with the existing app. If you still face the issue share us the complete `--debug` log.

[2021-11-10 03:04] zhoxing-ms commented on #16048
@sycured This should be a service issue. Could you add the parameter `--debug` after the executed command, and then send the printed debug log to me?

[2021-11-10 03:11] #12289 closed

[2021-11-10 03:16] Kotasudhakarreddy commented on #20240
Unable to repro the issue. Please share the `--debug` to analyze further.

[2021-11-10 03:30] johndowns commented on #19949
FYI, this parameter *is* used when working with GitHub Actions (and, presumably, other deployment pipelines). Is it possible to provide clear guidance on exactly what path customers should follow from now on?

[2021-11-10 06:19] sosoriov opened #20268 "az login failed"
## Describe the bug

The error occurs when I try to login

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2021-11-10 07:03] edvinas31 commented on #20252
I am not 100 % sure, but I would say it is running multiple 'az' instances concurrently, because when running "terragrunt run-all ..." it goes to multiple directories and as far I suspect executes az token command at the same time

[2021-11-10 07:05] yonzhan commented on #20268
@jiasli for awareness

[2021-11-10 07:11] jiasli opened #20269 "Global Arguments stop working in Python 3.9.8"
## Symptom

Global Arguments now stop working in Python 3.9.8:

[code]

Notice `--query` doesn't take effact.

## Root cause

This is due to the `argparse` breaking change https://github.com/python/cpython/pull/28420 which aims to solve https://bugs.python.org/issue45235. Python 3.9.8 is the first released version with this change. It will spread to all Python versions later.

In Knack, global arg

[2021-11-10 07:12] jiasli commented on #20269
This issue is also affecting other CLI tools utilizing `argparse`: https://github.com/sopel-irc/sopel/issues/2210

[2021-11-10 08:21] wcislo-taxy-io commented on #20240
Sure, I can do that. Is there any information that I am supposed to hide from `--debug` output because it could be considered sensitive information?

[2021-11-10 08:28] apthagowda97 commented on #20150
`sudo apt-get install azure-cli=2.29.2` works like a charm!!

Please fix the issues with the `azure-cli=2.30.0` version asap... It caused a lot of pipelines to fail in production.

[2021-11-10 08:59] sosoriov commented on #18915
I'm having the same issue using the latest version

{
  "azure-cli": "2.30.0",
  "azure-cli-core": "2.30.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {}
}

[2021-11-10 09:23] JacobStruiksma opened #20271 "Creating wrong dns records for the scm website for a private endpoint to a staging slot where the base website has more then 40 characters"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When creating a staging slot for a website where the base url has more then 40 characters the url of the staging slot is slightly different. See https://docs.microsoft.com/en-us/azure/app-service/deploy-staging-slots#add-a-slot the last paragraph:

When creating a private endpoint and adding the dns records for

[2021-11-10 09:45] pmontanaro commented on #16913
I can confirm I'm having this issue too.

I'm able to upload .cer root certificates via clickOps on my App Gateway but cannot automate my deployment from key vault, resulting in:

`            {
                "code": "ApplicationGatewayTrustedRootCertificateInvalidData",
                "message": "Data for certificate /subscriptions/<subscription_id>/resourceGroups/<resource_group>/providers/Mi

[2021-11-10 10:03] yonzhan commented on #20271
network

[2021-11-10 10:04] jiasli commented on #20268
Please check your Windows settings and make sure you have access to https://login.microsoftonline.com/organizations/v2.0/.well-known/openid-configuration

You may follow https://stackoverflow.com/questions/10461257/an-attempt-was-made-to-access-a-socket-in-a-way-forbidden-by-its-access-permissi

[2021-11-10 11:39] davidt241 opened #20272 "Multiple Accounts with same username"
Trying to connect to my azure account from local machine using Azure CLI in Powershell
az login opens up MS sign in which I sign into and am presented with Authenticator app I authenticate. The webbrowser presents the wait 10 sec screen whilst powershell  shows
 PS C:\Users\DavidTyrrell> az login
The default web browser has been opened at https://login.microsoftonline.com/organizations/oauth2/v2.0

[2021-11-10 12:05] D3m1urg3 commented on #19521
Hi.

Seems to me that something has been done here. Now the network security group appears way quickly. However there is a problem still.

When you create an aks cluster using az cli it creates another resouce group automatically "MC_{ResourceGroupName}_{ClusterName}_{region}" and inside this group there is the nsg and other system resources. Why this is created? i don't know. The problem is that

[2021-11-10 13:24] arthursantana commented on #20154
This workaround stopped working for me today.
`ERROR: Could not retrieve credential from local cache for service principal [...]`

Undoing the downgrade seems to have fixed the issue. I guess the latest `azure/login` was changed to use MSAL-based Azure CLI and therefore 2.29.2 isn't compatible anymore.

[2021-11-10 13:36] virvirlopez commented on #20150
im having the same error, any updates? please

[2021-11-10 13:45] abhi-markan commented on #20154
Did you upgrade from 2.29.2 -> 2.30.0?

[2021-11-10 13:50] arthursantana commented on #20154
I upgraded `2.29.2` to `latest`, not sure what the specific version is. Here is the hash:
`Download action repository 'azure/CLI@v1' (SHA:4b58c946a0f48d82cc2b6e31c0d15a6604859554)`

[2021-11-10 14:02] Stolpe opened #20273 "Permission denied on msal_token_cache.bin.lockfile"
## Describe the bug
When running Terraform locally, I get an error originating from the Azure CLI. This happens on several versions, all relatively new, of the azurerm Terraform module. I am able to reproduce the error without going via Terraform, so I think that this issue ought to be filed in this repo.

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
The azu

[2021-11-10 14:04] sgutwein commented on #20150
Seeing the same error by running `az ml datastore detach` and `az ml datastore attach-adls-gen2`

[code]

[2021-11-10 14:11] yonzhan commented on #20273
@jiasli for awareness

[2021-11-10 14:16] yonzhan commented on #20272
@jiasli for awareness

[2021-11-10 14:30] virvirlopez commented on #20150
Our error is in our releases in azurecli with the command:
az ml workspace show -g X-AML-RG -w X-AML-WS --query keyVault -o tsv
 ERROR: __init__() got an unexpected keyword argument 'async_persist'

[2021-11-10 14:40] Stolpe commented on #20273
Note that this error is not triggered for me every time i run this script, but here is some more output from another run which triggered the error. The output is preceded by only successful outputs, but the list of recent commands lists multiple failures. This might, however, be due to me aborting the run using `Ctrl` + `c`. I thought it was interesting enough to mention, though.
[code]

[2021-11-10 15:02] jonas-weismueller-by opened #20274 "az aks get-credentials fails with 'Namespace' object has no attribute '_cmd'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

-  `az login --service-principal --username {client_id} --password={client_secret} --tenant my-custom-tenant

[2021-11-10 16:10] dohnuts opened #20276 "Found multiple accounts with the same username."
Please report to us via Github: https://github.com/Azure/azure-cli/issues/new

well , reported :-/

but how to give you anything relevant, because the login is a email , i don't want to put that here

[2021-11-10 16:12] guidodizi commented on #20150
Getting the same error here, any news on updates or quick fixes?

[2021-11-10 16:19] ericis opened #20277 "Java SpringBoot jar file deployment fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**IMPORTANT:** I am aware of the Maven plug-in, but we use Gradle and would like to simply upload the ".jar" if possible.

**Command Name**
`az webapp deploy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive infor

[2021-11-10 16:35] phealy commented on #19521
The MC resource group is a **m**anaged **c**luster resource group, and is where AKS puts resources that it creates and owns. Generally (with limited exceptions) you should not make changes inside this resource group (NSG rules is currently one of the exceptions).

Where are you finding resource group name to be case sensitive?

[2021-11-10 16:52] 0gust1 commented on #20154
so the fix is
[code]
or can we remove the azcliversion ?

[2021-11-10 16:55] Remi-Faydide opened #20278 "Azure CLI multiple issues after update to 2.30.0"
# Azure CLI multiple issues after update to 2.30.0

## Describe the bug

### Command tested without success

- `az apim api versionset list`
- `az ad signed-in-user show`
- `az ad sp list`
- `az group list`
- `az login`
- ...

### Errors

[code]

## To Reproduce

Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

1. Update to

[2021-11-10 16:55] GroupeCitypassengerInc commented on #20276
Please help us microsoft
<img src='https://pa1.narvii.com/6558/ea8bcd469914da0610ac21927929c310e0decaf6_hq.gif' alt='meme'/>

[2021-11-10 16:59] abhi-markan commented on #20154
azcliversion: latest is the fix, I would not recommend remove the version.

[2021-11-10 17:20] Jerry1309 commented on #20150
we were able to fix the issue in DevOps using the following (installing 2.29.2)

sudo apt remove azure-cli -y && sudo apt autoremove -y;

                sudo apt-get update;

                sudo apt-get install ca-certificates curl apt-transport-https lsb-release gnupg;

                curl -sL https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor | sudo tee /etc/apt/trusted.gpg.d/m

[2021-11-10 17:37] Remi-Faydide commented on #20278
last version `2.30.0` uninstalled with the Application Settings panel

installed the previous version with the command

[code]

version `2.29.2` successfully installed...

- `az login` ==> works successfully
- edit of the `$HOME\.Azure\config` to set as below
[code]
This has fixed my terraform command issue, but not the az version `2.30.0` installation issue...

Anybody else is experiencing the sa

[2021-11-10 18:16] TiloGit opened #20279 "specify aro/ocp version"
how to specify the aro / ocp version to use (e.g. 4.7 , 4.8...)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 08eb181a-b377-c854-69cc-3b9307f59f72
* Version Independent ID: 2142cb43-b027-86a1-6d3c-2f77bf86d177
* Content: [az aro](https://docs.microsoft.com/en-us/cli/azure/aro?view=azure-cli-latest#az_aro_create)
* Con

[2021-11-10 18:20] gvanrossum commented on #20269
@rhettinger @ambv Can you look at this? It looks like a serious regression in 3.9.8.

[2021-11-10 18:29] m1stermanager opened #20280 "No (documented) way to perform env var interpolation in container group yml file"
**Describe the bug**
when specifying a yml file in the `az container create` the format $VAR ${VAR} and ${env:VAR} are all passed as literals

**To Reproduce**
create a container group from a yml file and attempt to include a value from your env.

**Expected behavior**
the value should be interpolated into the yml file when submitted to azure

**Environment summary**
▶ az --version
azure-cli

[2021-11-10 20:00] diondrapeck commented on #20268
@sosoriov - Please downgrade to 2.29.1 version and try again. There were multiple breaking changes released in 2.30.0 that are being investigated.

[2021-11-10 20:02] diondrapeck commented on #20278
@Remi-Faydide - Please use 2.29.1 version. There were multiple breaking changes released in 2.30.0 that are being investigated.

[2021-11-10 21:53] NarayanThiru commented on #19562
Apologize for the delay in responding to this - somehow it got missed!
Regarding this issue, in our CLI extension we have specified 'pycryptodome' as a dependency, and it should be installed by Az CLI when the 'k8s-configuration' extension was installed.  Looks like this did not happen.
I have reached out to the Az CLI team about this.  In the meantime, if possible, can you remove this extension,

[2021-11-10 22:50] yonzhan commented on #20279
route to service team

[2021-11-10 22:53] yonzhan commented on #20274
route to service team

[2021-11-10 22:55] yonzhan commented on #20277
route to service team

[2021-11-10 22:57] yonzhan commented on #20276
@jiasli for awareness

[2021-11-10 22:59] yonzhan commented on #20280
route to service team

[2021-11-10 23:02] yonzhan commented on #20278
@jiasli for awareness

[2021-11-10 23:58] ericis commented on #20277
Here is the project in question:
https://ericis.github.io/hello-cloud/services/java-springboot/#microsoft-azure

I'd love to use only the `az` CLI and not to rely on Maven and maven-specific plug-ins to empower developer choice, especially since Gradle is a very popular choice (e.g. Google uses Gradle to build Android).

[2021-11-11 00:12] sbohlen commented on #20150
Thanks, @Jerry1309 this works *great* as a work-around, thanks for posting/sharing so we can all get temporarily unblocked!

Silly comment, but could you edit your formatting so that the first/initial line is also included in the code block region?  This initially didn't work for me b/c the COPY CODE feature of the site doesn't include the first line of your script and I missed porting it in my fi

[2021-11-11 01:32] rayluo commented on #20252
@wolph, yes, I understand that the MSAL EXtension's usage pattern of frequently creating and deleting the locker file sounds somewhat unusual. MSAL EX chose to do so, because it wants to inter-operate with its counterparts written in other languages, which collectively chose to use the presence or absence of the lock file as part of the locking mechanism.

In terms of portalocker, it seems there w

[2021-11-11 01:46] jiasli commented on #20272
This has been reported at #20168. Could you try https://github.com/Azure/azure-cli/issues/20168#issuecomment-963747032 and see if you can get unblocked?

[2021-11-11 01:46] jiasli commented on #20276
This has been reported at #20168. Could you try https://github.com/Azure/azure-cli/issues/20168#issuecomment-963747032 and see if you can get unblocked?

[2021-11-11 01:48] jiasli commented on #20274
It's likely to be related to https://github.com/Azure/azure-cli/issues/20269.

[2021-11-11 02:04] jiasli commented on #20268
@diondrapeck, this issue is only a network connectivity issue. It is not related to the MSAL migration.

[2021-11-11 02:16] kgejara commented on #20150
Thanks @Jerry1309. I have blocked with this error when I am trying MLOps Poc, My error is also same, I was able to resolve the issue with the workaround you provided. Script lines worked the exact same for me. Only change is, I need to add the "--allow-downgrades" option in the last command, and I tested in 'ubuntu-18.04'.

[2021-11-11 02:40] jiasli commented on #20278
## WinError 0

For the `OSError: [WinError 0] : ''` error, as described in https://docs.microsoft.com/en-us/windows/win32/debug/system-error-codes--0-499-, it should be a successful execution

`unprotect` method failed at `C:\Python39\lib\site-packages\msal_extensions\windows.py`, line 111:

[code]

\+ MSAL developer @rayluo

You may try `az config set core.token_encryption=false` to temporarily t

[2021-11-11 02:55] kairu-ms commented on #19760
@necusjz Please help with this issue.

[2021-11-11 02:58] mikeball commented on #7387
I have been working on setting up ci/cd which needs only to push docker image to azure container registry and restart an app... and really surprised to see 1.5GB+ required for the cli for such minor tasks. Perhaps one can use some REST api directly and build some really small utility for specific tasks but not sure how to do that?

[2021-11-11 03:18] ligengatms opened #20282 "Support private endpoint related command for Azure Data Factory"
**Is your feature request related to a problem? Please describe.**
This is the swagger commit: https://github.com/Azure/azure-rest-api-specs/commit/08c507864c686ee9cdbbeb4a3d12cdccd591afc8#diff-70731da8ee74a2c2d94d6cce21b715ca2e36ce87ebb2dd732a459a28ba5b28cb

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-11-11 03:32] jiasli commented on #20273
I added a `sleep` statement in `msal_extensions.token_cache.PersistedTokenCache.find`:

[code]

Then run the PowerShell script:

[code]

I got error:

[code]

Even though the error is not exactly the same as yours, I think this is because `msal-extension` sets `portalocker.LOCK_EX | portalocker.LOCK_NB`.

https://github.com/AzureAD/microsoft-authentication-extensions-for-python/blob/30b3e867b88bb7

[2021-11-11 03:39] jiasli commented on #20168
A little more context:

Previously, ADAL raises an exception when multiple tokens are found for the same username:

https://github.com/AzureAD/azure-activedirectory-library-for-python/blob/1.2.7/adal/cache_driver.py#L123-L124

[code]

This was reported at #5548, #6147, #6957, #15320 ([search link](https://github.com/Azure/azure-cli/issues?q=is%3Aissue++is%3Aclosed+%22More+than+one+token+matches+th

[2021-11-11 04:06] #20221 closed

[2021-11-11 04:13] jiasli commented on #20273
I am able to repro this error _only once_:

[code]

Later it looks like

[code]

[2021-11-11 04:54] jiasli commented on #20273
## In ADAL-based Azure CLI

Previously (`azure-cli<=2.29.2`), there is no lock at all, which may cause problem only during **concurrent writes** to `~/.azure/accessTokens.json` for token refreshing (https://github.com/Azure/azure-cli/issues/9427). **Concurrent writes** only happen once an hour, as the access token expires once an hour.

Besides this, **concurrent reads** work as expected.

## In M

[2021-11-11 04:56] #20197 closed

[2021-11-11 04:59] miyamam opened #20284 "az storage blob directory is implicitly deprecated"
[Enter feedback here]
Document indicate this command is still preview but when I executed it shows the following message.
"This command is implicitly deprecated because command group 'storage blob directory' is deprecated and will be removed in a future release. Use 'az storage fs directory' instead."

Should we update Note comments?

---
#### Document Details

⚠ *Do not edit this section. It is r

[2021-11-11 05:01] CitypassengerIT commented on #20168
Locked

[2021-11-11 05:07] dohnuts commented on #20276
It s ok apparently

[2021-11-11 05:07] #20276 closed

[2021-11-11 05:26] yonzhan commented on #20282
network

[2021-11-11 05:36] yonzhan commented on #20284
storage

[2021-11-11 05:42] jiasli commented on #20168
@CitypassengerIT, `"state": "Enabled"` is from `~/.azure/azureProfile.json` indicating the subscription is enabled. It has nothing to do with the MSAL token cache `~/.azure/msal_token_cache.bin` (encrypted) or `~/.azure/msal_token_cache.json` which is the direct cause of this "multiple accounts" error.

[2021-11-11 05:47] jiasli commented on #7387
This (**use some REST api directly**) is exactly what we are investigating in the Microsoft Graph migration (https://github.com/Azure/azure-cli/issues/12946). If it turns out to be working well, we may incorporate this method in all future command modules or code-gen'ed modules.

[2021-11-11 06:10] Jerry1309 commented on #20150
Glad to know it worked for you, you might have missed the cli removal part.

Option 2 in this documentation helped me https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt

[2021-11-11 07:00] Stolpe commented on #20273
Thank you for your elaborate answers and for you work. I can confirm that my use-case (IE Terraform using the azurerm module) works with version 2.29.2. I will raise a ticket at their repo to let them know this is happening. Is there anything else you want for me to do?

[2021-11-11 07:02] jiasli commented on #20273
@Stolpe for the update. I can't repro your exact error message. Is there anything else I am missing?

[2021-11-11 07:32] BhargaviAnnadevara-MSFT opened #20289 "az network bastion create: '<' not supported between instances of 'NoneType' and 'int'"
_<Originally reported by @diongerritzen in MicrosoftDocs/azure-docs-cli#2822>_

## Describe the bug

**Command Name**
`az network bastion create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az network bastion create --location {} --name {} --public-ip-address {} --resource-group

[2021-11-11 07:33] rayluo commented on #20278
Hi @Remi-Faydide , the uninstall-and-reinstall would not automatically reset the data file. Would you mind manually go find and delete this file `~/.azure/msal_token_cache.bin` (encrypted), and then re-run az cli 2.30?

[2021-11-11 07:54] Stolpe commented on #20273
No. I get the error message perhaps once every five tries or so. Perhaps something induces a wait on my machine that does not happen on your machine, antivirus or whatever.

What _does_ trigger my error message _every_ time is running a `terraform plan` with my setup of modules and resources. While I'm not able to share that setup, I did create a minimal(?) repro at https://github.com/Stolpe/terra

[2021-11-11 07:59] D3m1urg3 commented on #19521
When using the following command:

```az network nsg list --query "[?resourceGroup=='${AKS_SYSTEM_RESOURCE_GROUP}'][].name" | jq -r .[0]```

The security group is all in lowercase, unlike anywhere else on azure. That was not the case a couple of months ago and I fear that this will also change in the future ruining all the scripts depending on it.

The reason I need this is that I want to set inbo

[2021-11-11 08:29] apthagowda97 commented on #20150
Still getting errors while running `sudo apt-get install azure-cli=2.29.2-1~bionic;`

[code]

Any help?

[2021-11-11 09:21] yonzhan commented on #20289
network

[2021-11-11 09:31] jiasli commented on #20154
## 2021-11-11 Update

As confirmed with GitHub Action team, [Azure Login](https://github.com/marketplace/actions/azure-login) now uses the latest Azure CLI 2.30.0, so **the workaround from https://github.com/Azure/azure-cli/issues/20154#issuecomment-958615636 is no longer needed now**.

Instead, if you specify `azcliversion` as an version <2.30.0  in [Azure CLI Action](https://github.com/marketpla