[2019-12-17 00:00] #11465 closed

[2019-12-17 00:02] palma21 commented on #11478
That does not look like anything related to public key.

The error states invalid literal for int() with base 10: '100G'

Please use 100 integer value

[2019-12-17 00:03] jluk commented on #11478
Closing as the error is found within the input provided for os disk size is expecting an int.

[2019-12-17 00:03] #11478 closed

[2019-12-17 00:04] palma21 commented on #11517
This parameter is not support in such an old CLI

Please use latest.

[2019-12-17 00:06] palma21 commented on #8248
ARM is idempotent but CLI is not, so it will display a error to the user for information.

[2019-12-17 00:06] jluk commented on #8248
Closing as by design

[2019-12-17 00:06] #8248 closed

[2019-12-17 00:12] palma21 commented on #9038
I tested this and could not repro on latest. Could you confirm if you still experience on latest?

[2019-12-17 00:12] jluk commented on #8984
Assigning to ACR as this is not AKS validation being done.

[2019-12-17 01:58] yonzhan commented on #11589
The related IcM ticket is: https://icm.ad.msft.net/imp/v3/incidents/details/163274315/home, @jfggdl, please help to take a look.

[2019-12-17 02:26] haroldrandom commented on #11590
@jiasli Please take a look

[2019-12-17 06:55] sandep1987 commented on #11206
@rodrigc it worked now, thank you so much for your help.

[2019-12-17 08:24] spica29 commented on #11206
Just to say, we had the same issue with python 3.5 so this comment helped a lot. Upgrading to python 3.6 solved the issue.

[2019-12-17 08:42] #9106 closed

[2019-12-17 08:47] Juliehzl commented on #9444
`az srorage copy` command is already released. You can try with the latest azure-cli.

[2019-12-17 08:48] #9444 closed

[2019-12-17 11:24] Arthyon commented on #10965
Thank you Mads!

I'll close this issue now. The fix seems solid :)

[2019-12-17 11:24] #10965 closed

[2019-12-17 11:32] astaykov opened #11594 "--assignee-principal-type documents wrong list of expected values"
Environment: Cloud Shell
Version of tool:
azure@Azure:~/clouddrive$ az --version
azure-cli                         2.0.77

command-modules-nspkg              2.0.3
core                              2.0.77
nspkg                              3.0.4
telemetry                          1.0.4

Python location '/opt/az/bin/python3'
Extensions directory '/home/azure/.azure/cliextensions'

Python (Linux) 3.

[2019-12-17 11:47] thinkbeforecoding commented on #10574
Same thing here.
And just a bit bore, the function that was working fine without any change started to return a 503 not available. The portal was displaying a 'The function runtime cannot be started'. I found nothing to make it work after that. I got randomly a 400 or 401 error while trying to upload the zip again.

[2019-12-17 12:04] qwordy commented on #11578
You can use `--nsg ""`.
But if the NIC already has a NSG, I don't think you can remove it using `vm` command. Try to use `az network`. @MyronFanQiu do you know which command can do this?

[2019-12-17 12:56] roblohmann commented on #9851
@dijyotir i'm not quite sure if this is the correct place to ask this question. But i'm working with the Azure CLI to link a VNET to a private DNS as well. However, my VNET is in a different resource group than the Private DNS is, and I suspect that this is giving me the following error:

_'Can not perform requested operation on nested resource. Parent resource 'my-zone-name' not found.'_

Could t

[2019-12-17 13:07] yonzhan commented on #10945
@ahmedelnably Sorry for that. Usually our rule is that if we continue ping or comment on the issue for 10 days twice. If no response, we will close the issue. Since we have some old legacy issues with no response, we need to close them to meet SLA. Since Functions label is owned by your team, you can make the call.

[2019-12-17 13:20] luispinedaneo opened #11596 "Could not create Python app from CLI with `az webapp up`"
Could not complete "Quickstart: Create a Python app in Azure App Service on Linux". I obtained the following error when deploying the app.

Deployment endpoint responses with status code 503
Deployment status endpoint https://mypytest.scm.azurewebsites.net/api/deployments/latest returns malformed data. Retrying...

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to repr

[2019-12-17 15:13] evandervalk commented on #10773
Any update on this issue? Hoping to get this fixed soon so I can just use Azure CLI instead of a combination of Azure CLI and Azure Function Core Tools (which bloats my Docker image).

[2019-12-17 16:43] jluk commented on #11591
There is no error on this... @ndixita can you please review these autogenerated tests?

Closing.

[2019-12-17 16:43] #11591 closed

[2019-12-17 17:31] rbhadti94 commented on #9522
Hi @adewaleo @haroldrandom @jiasli ,

Is there an update or workaround for this at the moment? We're currently trying to add preAuthorizedApplications via azure CLI and are unable to do so.

[2019-12-17 17:52] ammanifold commented on #11279
Thanks @panchagnula

I also cannot reproduce this issue, closing!

[2019-12-17 18:20] thisisbrianstewart opened #11598 "Add functionapp auth settings"
**Is your feature request related to a problem? Please describe.**
There is no way to manage function app auth settings via the CLI.  I can't seem to find any way to do it other than through the portal.  I've tried to work around it with ARM templates + `az deployment`, and `az resource`, but cannot seem to get it working and there is no guidance offered on how to do so.  Building serverless archi

[2019-12-17 18:33] jimsander opened #11599 "single group subcommand values treated as regex"
azure-cli                         2.0.75

[code]

[2019-12-17 19:31] dijyotir commented on #9851
@roblohmann The error seems to suggest that you are trying to create a virtual network link under a private zone but that zone doesn't exist.

[2019-12-17 21:09] ammanifold commented on #11493
Related to: #11592

[2019-12-17 21:14] panchagnula commented on #11596
can you please re-try & let us know if this still persists?

[2019-12-17 21:15] panchagnula commented on #11549
Please re-try there is no  change on our end here . Who re-trying run with --debug flag to get detailed errors.

[2019-12-17 21:16] panchagnula commented on #11507
Closing due to lack of activity. Please try above & let us know if this happens.

[2019-12-17 21:16] panchagnula commented on #11454
@ammanifold can you try if this repros for you & fix  as needed. Thanks!

[2019-12-17 21:17] panchagnula commented on #11412
Need to look further into this. @ammanifold  FYI.

[2019-12-17 21:18] panchagnula commented on #11340
Need to check if this still repros

[2019-12-17 21:21] panchagnula commented on #11189
Still have no repro on this - closing this due to inactivity please reopen if this is still an issue.

[2019-12-17 21:22] panchagnula commented on #10267
@MyronFanQiu we should be good to reenable this test

[2019-12-17 21:23] panchagnula commented on #7154
@ammanifold can you take care of this along with your existing changes?

[2019-12-17 21:37] NillsF commented on #11191
Additionally, the default install location on Linux is not ~/.azure-kubectl/kubectl.exe but rather "/usr/local/bin/kubectl". I looked through the docs to make the PR myself but couldn't find the location, so just piling on to this issue.

[2019-12-17 21:48] ajklotz opened #11600 "Error when providing relative path to json file with --settings parameter"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp config appsettings set`

**Errors:**
[code]

## To Reproduce:
Create a powershell script that executes the command below. The script and settingsFile are in different folders. So a relative path is provided to the $settingsFile.

`az functionapp config appsettings set --name $f

[2019-12-17 21:52] shurd commented on #11181
This change is being packaged with another change as a part of https://github.com/Azure/azure-cli/pull/11551

[2019-12-17 22:50] alexeyshishkin01 opened #11601 "UrnAlias for custom image"
**Describe the bug**
I have the following output:

root@Alexey-HP:~# az vm image list --publisher Canonical
You are viewing an offline list of images, use --all to retrieve an up-to-date list
Offer         Publisher    Sku        Urn                                      UrnAlias    Version
------------  -----------  ---------  ---------------------------------------  ----------  ---------
UbuntuSe

[2019-12-17 23:02] ammanifold commented on #11454
@nilsga can you please provide the trace after running --debug flag?

[2019-12-18 01:44] MyronFanQiu commented on #11594
@jiasli Please take care of this issue. Thanks.

[2019-12-18 01:45] MyronFanQiu commented on #11596
@panchagnula Thanks. 😄

[2019-12-18 01:46] MyronFanQiu commented on #11599
@jiasli Please take care of this issue. Thanks.

[2019-12-18 01:47] MyronFanQiu commented on #11601
@qwordy Please take care of this issue. Thanks.

[2019-12-18 02:09] #11339 closed

[2019-12-18 02:17] MyronFanQiu commented on #11099
@torosent @palma21  We need to do the investigation about this issue.

[2019-12-18 02:18] MyronFanQiu commented on #11099
+ @jiasli who is the current owner of Knack.

[2019-12-18 02:39] MyronFanQiu commented on #11578
@ElanShudnow you can use this command to remove the existed nsg.
[code]

[2019-12-18 04:31] jakub-xen opened #11604 "az sig does not work"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sig list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sig list`

## Expected Behavior

## Environment Summary
[code]
## Additio

[2019-12-18 05:53] alexeyshishkin01 commented on #11601
pls. have a look at GCP example:

gcloud compute images create $INSTANCE_NAME-image \
--family ppro-ent11-centos7 ...

gcloud compute instances create $INSTANCE_NAME-vm \
--image-family=ppro-ent11-centos7 ...

when I create custom image I assign it to the image family

when I create VM from the custom image I specify this image family and the latest version of image from this image family is used

[2019-12-18 06:05] qwordy commented on #11601
Azure CLI will translate alias to urn. All aliases that Azure CLI supports are defined here.
https://github.com/Azure/azure-rest-api-specs/blob/master/arm-compute/quickstart-templates/aliases.json

For the image family, I need to do some investigation.

[2019-12-18 06:08] alexeyshishkin01 commented on #11601
can I add/change alias or append json file to 'az' command as argument?

[2019-12-18 07:12] qwordy commented on #11219
Hi Sirajudeen,
Could you please merge it to master branch? I can’t find 2019-12-01/extension.json.
https://github.com/Azure/azure-rest-api-specs/tree/master/specification/compute/resource-manager/Microsoft.Compute/stable
And Azure CLI depends on Python SDK. @zikalino  Could you help update Python SDK of Compute after the swagger file is updated?

[2019-12-18 07:30] rick-hayek opened #11607 "`az webapp config appsettings set --settings` from file path"
i'm trying to use following command to update settings:
[code]

and got bunch of py errors.

does this command support settings from any arbitrary json file other than @file-from-current-folder.json ? and if true, how to get this work?

please help. thank you

[2019-12-18 08:32] mont5piques opened #11608 "Running az apim backup command provoque a traceback"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim backup`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim backup -n {} -g {}`

## Expected Behavior

## Environment Summary

[2019-12-18 09:09] MyronFanQiu commented on #11604
@qwordy Please take care of this issue. Thanks.

[2019-12-18 11:37] haroldrandom commented on #11416
By passing --private-ip-address "", do you want to clear up the privateIPAddress of the nic?

[2019-12-18 12:05] yonzhan commented on #9522
add to S164.

[2019-12-18 12:06] roblohmann commented on #9851
That was also my inital thought, however I'm sure it exists and linking the VNET to the Private DNS Zone through the portal is not an issue. I just see that I got a response on Stackoverflow to my question regarding this issue, so I'll see what that brings. Otherwise I'll open a new tread here I think.

[2019-12-18 12:32] haroldrandom commented on #11416
tyr `--private-ip-address=""` ?

[2019-12-18 12:42] haroldrandom commented on #11416
BTW, which shell do you use? Windows CMD / PowerShell / Git-Bash?

[2019-12-18 13:10] GitMrZ commented on #1528
Need a wait option on:
az network dns zone delete

I keep my zone data in the flat file format to feed internal DNS servers.  The delete can take a few seconds or several minutes for a 400 record zone.  Obviously do not want zone down long.  THX.

[2019-12-18 13:24] haymansfield opened #11610 "az appconfig preview message interpreted as error by Powershell breaking azure devops pipelines"
**Describe the bug**
The az appconfig preview message is interpreted by powershell as an error which will kill Azure Devops pipelines.

**To Reproduce**
- task: AzureCLI@2
  inputs:
    azureSubscription:
    scriptType: 'ps'
    scriptLocation: 'scriptPath'
    scriptPath: '.\deploy.ps1'

With deploy.ps1 containing an az appconfig call.

**Expected behavior**
Should really work without workaround

[2019-12-18 14:31] Garyhardy opened #11611 "Issue with Display of export of activity log to Event Hub in portal"
**Describe the bug**

Following this command :

az monitor  log-profiles create --enabled true
--service-bus-rule-id '/subscriptions/*/Microsoft.EventHub/namespaces/*/RootManageSharedAccessKey' --locations $loc --categories "Write" "Action" "Delete"  --name MyLogProfile -l francecentral --days 1

When I type in cli : az monitor log-profiles list --subscription mysub
I can see
servicebusruleid="/su

[2019-12-18 16:23] szurcher opened #11612 "Install documentation for apt fails to provide working signing key"
**Describe the bug**
The install documentation for apt (https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest) does not provide a working signing key for the azure cli repo.

**To Reproduce**
Follow the steps at the link provided in description. Both 'one command' and 'manual install' result in the same error when running `sudo apt update`:
[code]

**Expected behav

[2019-12-18 17:31] zooba opened #11613 "Improvements to Python search paths on Windows"
I was reviewing some CLI sources and noticed this section of code:

https://github.com/Azure/azure-cli/blob/6887c5badd7246fea1c4586e835224d39acfcc4e/src/azure-cli-telemetry/azure/cli/telemetry/__init__.py#L15-L22

The Windows package should be using a `python._pth` file (possibly with the version number in there), which means you can simply add these directories to that file and they'll be put ont

[2019-12-18 17:33] thisisbrianstewart opened #11614 "az apim create fails when --enable-managed-identity is provided"
## Describe the bug

**Command Name**
`az apim create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az apim create --name apimname -g apimrg -l centralus --sku-name Developer --publisher-email pub@microsoft.com --publisher-name Microsoft --enable-managed-identity true`

## Expecte

[2019-12-18 19:18] jfggdl commented on #11589
Thanks for reporting this and thanks for the IcM reference. We are working on this issue and determining a path forward to a fix/clarification.

[2019-12-18 20:23] piclez commented on #9462
I'm having this issue with version "2.0.77".

[code]
The scale operation is not allowed for this subscription in this region. Try selecting different region or scale option.

I tried with eastus2 as well.

[2019-12-18 20:38] viananth opened #11615 "DiskEncryptionSet not supported by Azure Stack"
azure-cli                         2.0.77 *

command-modules-nspkg              2.0.3
core                              2.0.77 *
nspkg                              3.0.4
telemetry                          1.0.4

Python location 'C:\Program Files (x86)\Python35\python.exe'
Extensions directory 'C:\Users\Administrator\.azure\cliextensions'

Python (Windows) 3.7.0 (v3.7.0:1bf9cc5093, Jun 27 2018, 04:0

[2019-12-18 21:27] ajklotz commented on #11600
Just to provide some context to the problem here...I'm trying to create some Azure CLI scripts to deploy function apps to 5 different environments that have a production/stage slot. So my repository is structure in a way to make it easy to find these json settings files in their appropriate folder instead of having the script and 20 json files in one folder.

[2019-12-18 23:31] iluican commented on #7792
Not really.

[2019-12-18 23:39] #11279 closed

[2019-12-18 23:58] dmvtech opened #11616 "az deployment create to existing resource group removes tags of resource group"
Tested with version 2.0.78

**Describe the bug**
Not sure if this is a bug or expected behavior, but it seems undesirable (if not a mistake/misconfiguration on my/our end)

When using `az deployment create`, a template (below) _and_ the resource group already exists, it succeeds. This is great, but the problem is that the resource group has its (previously set) tags removed.

**To Reproduce**
Run

[2019-12-19 00:12] ahamad-MS commented on #11589
Hello @yonzhan

AdvancedFilter is supported in mainstream CLI. I am not sure what is your running environment and/or if you currently running any old "cli extension" module.

please go to shell.azure.com and type the following:

~$az extension list
[]

If you are seeing eventgrid in the list, then please go ahead and remove it

~$az extension remove --name eventgrid

For me, here is the help outpu

[2019-12-19 00:23] c4rlosmarin commented on #11589
Hi there, just wanted to reach out and say this is about the az eventgrid event-subscription UPDATE command, not the create one. Thanks

[2019-12-19 00:47] ahamad-MS commented on #11589
Thanks @c4rlosmarin  .. you are right. I missed the update part.

It seems we missed adding the AdvancedFilter functioinality in update command. We will add this to our backlog and fix this.

In the meantime, you can use either:
1. Delete existing event subscription and create new one with the new advanced filter.
2. Use the Create command with the same name and information and with the new advanc

[2019-12-19 00:58] JasonVolney opened #11617 "Error to create myResouceGroup myCluster"
Hi, everybody!

When I tried to create a ResourceGroup running the following command it's happening this error.

Please see the file .txt in attachment.

Thanks for advance.

[Error to create myResouceGroup.txt](https://github.com/Azure/azure-cli/files/3981176/Error.to.create.myResouceGroup.txt)

[2019-12-19 01:09] JasonVolney commented on #11617
After new try I got it.

[2019-12-19 01:20] JasonVolney commented on #11617
Other errors related:

Azure:/
PS Azure:\> az aks list –o table
az: error: unrecognized arguments: –o table
usage: az [-h] [--verbose] [--debug]
          [--output {json,jsonc,table,tsv,yaml,none}] [--query JMESPATH]
          {aks} ...

PS Azure:\> **az aks install-cli**
Downloading client to "/usr/local/bin/kubectl" from "https://storage.googleapis.com/kubernetes-release/release/v1.17.0/bin/lin

[2019-12-19 02:14] haroldrandom commented on #7065
It the bug still?

[2019-12-19 02:17] MyronFanQiu commented on #11611
@Garyhardy Thanks. I need to investigate this issue.

[2019-12-19 02:18] MyronFanQiu commented on #11612
@fengzhou-msft Please take care of this issue.

[2019-12-19 02:23] MyronFanQiu commented on #11613
@jiasli Please take care of this issue. We can discuss it together later. 😄

[2019-12-19 02:24] MyronFanQiu commented on #11615
@qwordy Please take care of this issue.

[2019-12-19 02:27] MyronFanQiu commented on #11616
@zhoxing-ms Please take care of this issue.

[2019-12-19 02:30] JasonVolney commented on #7065
Hi, some bugs when I put this commands.

Regards,

Jason

Em qua, 18 de dez de 2019 23:14, Jianhui Harold <notifications@github.com>
escreveu:

[2019-12-19 02:41] qwordy commented on #11615
Oh, I am sorry about that. I should add a constraint for api-version. I’ll fix it as soon as possible.

[2019-12-19 02:42] MyronFanQiu commented on #11611
@Garyhardy I want to double-confirm the issue. Azure CLI is doing the right thing and you want the portal to show the same information. Is that correct?

[2019-12-19 04:01] jsntcy commented on #11583
@wmgries, in your description, you mentioned that "Minimum API Version Required
Microsoft.Storage 2019-06-01", is this feature only supported in 2019-06-01 as I checked https://github.com/Azure/azure-rest-api-specs/blob/master/specification/storage/resource-manager/Microsoft.Storage/stable/2019-04-01/blob.json and found the API spec of 2019-04-01 is very similar with 2019-06-01?

[2019-12-19 05:33] MyronFanQiu commented on #11569
@mathieugravil This should be fixed. Please upgrade your azure-cli. You can ref to https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest for more details. Thanks.

[2019-12-19 05:33] #11569 closed

[2019-12-19 06:03] Garyhardy commented on #11611
Yes you are correct.

[2019-12-19 06:12] MyronFanQiu commented on #11611
@Garyhardy Hello. Since this is the repo for Azure CLI. I'm not sure whether the correct person can see this issue or not. You can also open a ticket in the portal page.

[2019-12-19 07:49] nilsga commented on #11454
I don't have the setup anymore, but it should be easily reproducible by creating two resource groups, and then have the vnets and subnets have the same names in each resource group.

[2019-12-19 08:13] SatishKumbari47 commented on #11142
Hello All,

This issue has been resolved, I got the mistake that I was doing while creating endpoint that is I was passing existing already used container name while creating endpoint hence I was facing this issue.
I had no idea that I have to pass a new container name everytime for every new endpoint. Anyways, now I could able to create storage endpoint so did message routing. Thanks everyone for

[2019-12-19 09:12] Garyhardy commented on #11611
@MyronFanQiu thanks for your feedback. I have also open a ticket in the portal page.

[2019-12-19 09:18] buocnhay opened #11619 "Taolam"
[Enter feedback here]
No

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9dc8c24-cda6-8672-8017-b66435eadbb7
* Version Independent ID: a0be523a-ff1f-18ed-0fc4-ba0e0befe4d1
* Content: [az appservice](https://docs.microsoft.com/en-us/cli/azure/appservice?view=azure-cli-latest)
* Content Source: [src/azure-cli/azure/cli/c

[2019-12-19 09:18] qwordy commented on #11604
Could you upgrade to 2.0.78 and have another try? I can run this command successfully.

[2019-12-19 09:30] buocnhay commented on #11619
Bấm

[2019-12-19 11:55] marcofranssen opened #11620 "az webapp config ssl upload fails on MacOSX Catalina"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config ssl upload`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config ssl upload --name {} --resource-group {} --

[2019-12-19 12:13] isa56k opened #11621 "Powershell Install Instructions"
The instructions to install AzureCLI.msi via powershell don't seem to work correctly?

Followed the instructions here:
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest

Issued the following via ps prompt to install:
`Invoke-WebRequest -Uri https://aka.ms/installazurecliwindows -OutFile .\AzureCLI.msi; Start-Process msiexec.exe -Wait -ArgumentList '/I Azure

[2019-12-19 13:15] marcofranssen commented on #11620
after upgrading to azure-cli 2.0.78 the issue is resolved.

[2019-12-19 13:15] #11620 closed

[2019-12-19 13:21] yonzhan commented on #11181
After the PR is merged, this issue can be closed, right?

[2019-12-19 14:10] ChrisGibson1982 commented on #9292
I get exactly the same issue

[2019-12-19 15:34] yonzhan commented on #11423
This issue is not closed, right?

[2019-12-19 16:17] kensington133 opened #11622 "az storage blob sync - binascii.Error: Incorrect padding"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob sync`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az storage blob sync -c {} --account-name {} --account-key {} -s {}`

## Expected Behavior
Folder syncs up

[2019-12-19 16:23] kensington133 commented on #11622
Found the problem, `--account-key` was the incorrect length, Make sure it ends it `==`.

Any chance of a better error message in the future?

[2019-12-19 16:23] #11622 closed

[2019-12-19 19:30] ahmedelnably commented on #11600
@ajklotz can you please try the command with the path as
-settingsFile "@\Stage\QueueProcessing\queueProcessingAppSettings-CI.json"
where the `@` is at the beginning of the path?

[2019-12-19 19:48] ajklotz commented on #11600
Hi, @ahmedelnably - it didn't work:

[code]

[2019-12-19 19:58] ahmedelnably commented on #11600
@ajklotz That is weird, I tried it and it did work.
Can you please try the command without your script?

`az functionapp config appsettings set -n wbqueueprocessing -g WB-CI --settings "@\Stage\QueueProcessing\queueProcessingAppSettings-CI.json" --slot stage`

[2019-12-19 20:08] ajklotz commented on #11600
Still didn't work. Do we have different versions of Azure CLI or something?

[code]

[2019-12-19 20:29] ajklotz commented on #11600
I went ahead and updated to azure-cli v2.0.78 and still had the same problem.

[2019-12-19 21:02] ahmedelnably commented on #11600
Can you please double check that your json file is correctly formatted?
Also does the command succeed if you have the json file in the same directory?

[2019-12-19 21:03] ajklotz commented on #11600
Yes, the command succeeds if the json file is in the same directory. Because it succeeds in the same directory, I know that the json file is correctly formatted.

[2019-12-19 21:58] ahmedelnably commented on #11600
cc/ @ankitkumarr and @panchagnula for guidance as I ran out of ideas 😑

[2019-12-19 22:48] ajklotz commented on #11600
I believe that there is a fundamental problem with the Azure CLI because even if I try to do a similar scenario using ARM templates with `az group deployment create` with a json file in another folder, I get an error. It seems that the error exceptions are caught, and a more generic error is returned, however.

[2019-12-20 01:41] jakub-xen commented on #11604
Hi

Thanks update to 78 fixed the issue.

cheers,
Jakub
  Jakub Szarlat
  Senior Systems Architect, XENON Systems Pty Ltd

  M   +61 425 706 806   |   F   +61 3 9549 1199   |   E   jakubs@xenon.com.au<mailto:jakubs@xenon.com.au>

  [XENON Systems logo] <http://www.xenon.com.au/>

  XENON Systems Pty Ltd
  10 Westall Road, Clayton South, Victoria 3169, Australia (map)<https://www.google.com.au/maps

[2019-12-20 02:03] MyronFanQiu commented on #11619
@buocnhay Hello. Can you explain the problem you met in detail?

[2019-12-20 02:04] MyronFanQiu commented on #11621
@fengzhou-msft Could you take care of this issue?

[2019-12-20 02:05] yungezz commented on #11604
hi @jakub-xen can we close the issue since your problem solved? thanks.

[2019-12-20 02:06] jakub-xen commented on #11604
Yes Thanks.
  Jakub Szarlat
  Senior Systems Architect, XENON Systems Pty Ltd

  M   +61 425 706 806   |   F   +61 3 9549 1199   |   E   jakubs@xenon.com.au<mailto:jakubs@xenon.com.au>

  [XENON Systems logo] <http://www.xenon.com.au/>

  XENON Systems Pty Ltd
  10 Westall Road, Clayton South, Victoria 3169, Australia (map)<https://www.google.com.au/maps/place/XENON/@-37.9329833,145.1425729,16z/da

[2019-12-20 02:07] #11604 closed

[2019-12-20 02:09] yungezz commented on #11560
reassign this since user is trying to get metrics of VM. Hi @MyronFanQiu  could you pls help to confirm? if it's VM issue feel free to redirect the i ssue.

[2019-12-20 02:16] yungezz commented on #11316
hi @gcormier could you pls share more what's expectation here? `deleting` is an state that vm is under deleting, powerstate could be different based on deleting progress. The powerstate is from service, that's also reason why az cli and AzureRM has consistent output.

[2019-12-20 02:28] MyronFanQiu commented on #11560
@5sfayas Hello. Currently, you can get metrics through
[code]

[2019-12-20 02:45] yungezz commented on #11016
HI @Lelelo1 , you could use below commands to wait for a VM created ready, and get IP address forr remote access. Let us know if this resolves your problem, then we'll go ahead to close the issue.

[code]

[2019-12-20 02:49] yungezz commented on #10983
hi @hoxflank  as @qwordy the error is from github, seems you exceeded github calling throtting. This is not az cli issue: **HTTPSConnectionPool(host='raw.githubusercontent.com', port=443)**. Would like to close the issue. pls file a new issue if have any other problem when using `az vm image list`. thanks.
[code]

[2019-12-20 02:49] #10983 closed

[2019-12-20 02:55] yungezz commented on #10754
@LazzariPaolo  `--attach-os-disk` parameter *Can use the name or ID of a managed disk or the URI to an unmanaged disk VHD* , not sas token, could you pls provide os disk param again? thanks.
[code]

doc link: https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-create

[2019-12-20 03:08] oomichi commented on #10493
I also am still facing this issue for using Azure service.
Do we have a workaround to remove service principal forcibly?

[2019-12-20 03:24] oomichi commented on #10493
Humm, https://github.com/Azure/azure-cli/commit/a6dfefb6b07b40ee793ffc52a6a0ba9338c07eff seems to fix this issue.

[2019-12-20 03:39] zhoxing-ms commented on #11582
Hi, after reading the error information in your feedback, I guess the problem may be related to connection-string.
Please provide the format and storage settings of the connection-string you are using. Sensitive information can be encrypted with *.

[2019-12-20 04:29] SatishKumbari47 commented on #11582
Hello @zhoxing-ms

This issue has been resolved, I got the mistake that I was doing while creating endpoint that is I was passing existing already used container name while creating endpoint hence I was facing this issue.
I had no idea that I have to pass a new container name every time for every new endpoint. Anyways, now I could able to create storage endpoint so did message routing. Thanks ever

[2019-12-20 04:48] zhoxing-ms commented on #11582
Ok, then i closed it, if there are other questions welcome feedback.

[2019-12-20 04:49] iluican commented on #7792
We've had an extensive conversation about this in our team, and we don't feel like the existing behavior can be changed. Let's follow up offline, there is too much to discuss over a github issue.

[2019-12-20 04:50] #11582 closed

[2019-12-20 05:32] #11615 closed

[2019-12-20 05:50] jonathanclarke opened #11625 "Required parameter 'storageAccountId' is missing (null)."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az snapshot create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az snapshot create --resource-group {} --name {} --location {} --sour

[2019-12-20 06:33] jonathanclarke commented on #11625
Resolved it by downgrading the azure-cli on Linux

sudo apt-get install azure-cli=2.0.72-1~bionic

[2019-12-20 06:46] bim-msft commented on #9763
I have reproduced the issue by specifiying an invalid GUID as `object-id`.
My command: `az keyvault set-policy -n {vault-name} --object-id 123 --key-permissions get list`
The error message is not clear enough.

[2019-12-20 07:13] bim-msft commented on #9763
Hi service team, could you please refine this error message?

[2019-12-20 07:25] tamirkamara commented on #10737
@Juliehzl, @zhoxing-ms any update on fixing the issue with the tags?

[2019-12-20 07:27] roblohmann commented on #9851
For future references: Got the answer on Stackoverflow, had to get the virtual network id and pass that in. Also see https://stackoverflow.com/a/59384739/291293

[2019-12-20 07:30] yungezz commented on #4897
agree with @tjprescott , user problem is to cleanup all resources created with vm, a good solution is to delete all resources via filtering tags, by supporting `az resource delete --tag`.

duplicate with issue https://github.com/Azure/azure-cli/issues/8532

[2019-12-20 08:03] yungezz commented on #10017
The behavior need to be improved at service side. `az vm start` call into service to get start status and return response to user.  When service return started state, the VM should be in ready state for user  connection. Suppose we do some thing in az cli to workaround the issue, what state should az cli poll/wait on? since service already returned started state.

[2019-12-20 08:07] #11586 closed

[2019-12-20 08:07] jiasli commented on #11586
This issue has been address in above PR.

[2019-12-20 08:17] danielcrisp commented on #11561
Whatever the cause was has now resolved itself.

[2019-12-20 08:17] #11561 closed

[2019-12-20 08:25] yungezz commented on #11499
hi @fearphage even az cli start testing a new release from alpha/beta, a full testing/relaese cycle is required when official release, as you aware, one or two month of it. We can do some improvement to speed up cycle, but az cli support will not support ubuntu new release immediately.

[2019-12-20 08:34] yungezz commented on #9332
hi @RandalliLama  same question with @tjprescott  , could you pls share if it resolve your problem by using standard shell piping?

[2019-12-20 08:46] stremovsky commented on #10493
@oomichi Microsoft support gave me a workaround. I published it in my blog:
https://cloudinvent.com/blog/how-to-do-assumerole-in-azure/

[2019-12-20 10:40] axelgMS opened #11626 "az vm user update using VMAccessAgent version 2.0 instead of 2.4"
**Describe the bug**

az vm user update -u <user>-p <password> -n <VMName> -g <RGName>

this commands sends the following JSON template

_Invoking action VMExtensions.VMExtensionOperation.PUT(subscriptionId=<SubID>, resourceGroupName=<RGName>, vmName=<VMName>, extensionName=enablevmaccess, vmExtension={
  "location": "<location>",
  "properties": {
    **"autoUpgradeMinorVersion": false,**
    "pr

[2019-12-20 16:45] matt-darwin opened #11627 "Az eventgrid event-subscription show error - Invalid event subscription request: Supplied URL is invalid. It cannot be null or empty and should be a proper HTTPS URL like https://www.example.com."
**Describe the bug**
According to the [documentation](https://docs.microsoft.com/en-us/cli/azure/eventgrid/event-subscription?view=azure-cli-latest#az-eventgrid-event-subscription-show), when attempting to use az eventgrid event-subscription show, the
--source-resource-id parameter should be provided as
[code]

However, doing so returns the following error:-
`Invalid event subscription request: Su

[2019-12-20 18:08] chenlomis opened #11628 ".env file is included when deploying using az webapp up, different from extension behavior"
**Describe the bug**
_"
Using the extension's version of zip deployment, the .env file is not included in the deploy.

I'm not sure this is the best behavior -- I believe it's one that the user should have a choice over. Regardless, the extension and az webapp up should exhibit the same behavior."_

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise descri

[2019-12-20 18:11] chenlomis opened #11629 "az postgres up sdk docs don't mention that the extension is in preview"
**Describe the bug**
_"Meaning when you run the command after looking at the SDK docs, it doesn't work.

A note about the command being in preview, and instructions for installing the needed CLI plugin need to be added.

Page: https://docs.microsoft.com/en-us/cli/azure/ext/db-up/postgres?view=azure-cli-latest#ext-db-up-az-postgres-up
"_

**To Reproduce**
Steps to reproduce the behavior.

**Expecte

[2019-12-20 18:14] chenlomis opened #11630 "Reliability dashboard for az webapp (was: first time using az webapp up failed due to a regression in the CLI)"
**Describe the bug**
Failed with error:
AttributeError 'NoneType' object has no attribute 'resource_group'

It seems like the regression was fixed in CLI 2.0.75, and then potentially reintroduced.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive sc

[2019-12-20 18:16] chenlomis opened #11631 "az postgres up: continues using resource group that's not present in config files"
**Describe the bug**

"When creating a database with az postgres up, I set a resource group on the first run. The resource group continued to be used as a default for subsequent runs, even though it was not present in the home or project directory .azure/config file.

More details in this video walking through the process: "

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**

[2019-12-20 18:17] chenlomis opened #11632 "az postgres up: When creating a database, the printed connection string for Python wasn't useful"
**Describe the bug**
"
When creating a database, the printed connection string for Python wasn't useful.

I ended up copying the information I needed from the Java/JDBC connection string instead.

(removed link)

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip,

[2019-12-20 18:18] chenlomis opened #11633 "az postgres up: failed to deploy database because of conflicting server name"
**Describe the bug**

Failed to deploy database because of conflicting server name, even though server name appears to be auto-generated

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az -

[2019-12-20 18:19] chenlomis opened #11634 "Magic .azure files created in my development environment during deploy"
**Describe the bug**

During the deployment two magic files were created in my development environment — .azure and .deployment. These files didn't have comments or links to any documentation regarding what these files were for, what they contained, or if the options were configurable

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what

[2019-12-20 18:20] chenlomis opened #11635 "az postgres up: created database doesn't have SSL enforcement turned on"
**Describe the bug**
By default, the postgres database created with az postgres up doesn't have SSL enforcement turned on.

Combined with not offering SSL by default for deployed apps (See 682 By default, deployed web app is not SSL enabled

Active
) and allowing access from all Azure IPs as a default firewall setting this encourages insecure practices.

**To Reproduce**
Steps to reproduce the beh

[2019-12-20 19:42] jstoneham commented on #9444
Unfortunately `az storage copy` does not handle all the authentications necessary to use it in scripting (connection-string for example). Can this still be addressed within `blob storage download-batch`?

[2019-12-20 20:56] BryanWilhite opened #11636 "why is there no `az webapp webjob [continuous|triggered] add` or `az webapp webjob [continuous|triggered] new` command?"
I would like to use an Azure CLI Task in Azure DevOps to Release WebJobs in a CD pipline.

In Azure PowerShell we have had the `New-AzureWebsiteJob` command [[docs](https://docs.microsoft.com/en-us/powershell/module/servicemanagement/azure/new-azurewebsitejob?view=azuresmps-4.0.0) 📚 ] and i fail to see the Azure CLI equivalent.

This is what it looks like in PowerShell:

[code]

[2019-12-20 22:21] allegradomel commented on #11579
Thank you !

[2019-12-20 22:21] #11579 closed

[2019-12-21 00:07] rachel-msft commented on #11124
Documentation has been updated.

[2019-12-21 00:07] #11124 closed

[2019-12-21 12:42] yonzhan commented on #11635
add to S164.

[2019-12-21 12:45] yonzhan commented on #11633
add to S164.

[2019-12-21 12:46] yonzhan commented on #11632
add to S164.

[2019-12-21 12:49] yonzhan commented on #11629
add to S164.

[2019-12-21 12:50] yonzhan commented on #11629
add to S164.

[2019-12-21 12:51] yonzhan commented on #11631
add to S164.

[2019-12-21 13:05] yonzhan commented on #11583
@wmgries, could you please help to confirm the question mentioned above?

[2019-12-21 13:07] yonzhan commented on #11626
Issue triaged.

[2019-12-21 13:11] yonzhan commented on #7430
add to S165.

[2019-12-21 13:13] yonzhan commented on #7372
issue triaged.

[2019-12-21 13:13] #7210 closed

[2019-12-21 13:14] yonzhan commented on #7198
add to S165.

[2019-12-21 14:23] #7106 closed

[2019-12-21 14:25] yonzhan commented on #7149
add to S165.

[2019-12-21 14:27] yonzhan commented on #7112
add to S165.

[2019-12-21 15:32] Lelelo1 commented on #10017
I don't know if something was changed recently - but it was **now possible**:
[code]
and bash script is waiting - so that rest of the script successfully gives th tip adress of the machine, and machine being connectable:

[2019-12-21 16:22] Lelelo1 commented on #11016
It seems `az vm start` now [is waiting](https://github.com/Azure/azure-cli/issues/10017) by default. So it is possible to to query for the public ip address like @yungezz described.

[2019-12-21 22:29] ahmedelnably commented on #10905
This will be done in Q1 CY2020

[2019-12-21 22:30] ahmedelnably commented on #11185
This will be done in Q1 CY2020

[2019-12-21 22:30] ahmedelnably commented on #11600
@yonzhan, who from the core cli team help with this?

[2019-12-21 22:31] ahmedelnably commented on #11349
This will be done in Q1 CY2020

[2019-12-21 22:31] ahmedelnably commented on #11364
This will be done in Q1 CY2020

[2019-12-22 00:06] yonzhan commented on #11600
@ahmedelnably If the CLI commands are contributed by service team and CLI team currently does not take over, we will mark the Service Attention label. Do you think it is not the case?

[2019-12-22 00:07] yonzhan commented on #6451
add to S165.

[2019-12-22 00:10] yonzhan commented on #7039
add to S165.

[2019-12-22 00:12] yonzhan commented on #6901
issue triaged.

[2019-12-22 00:12] yonzhan commented on #6710
issue triaged.

[2019-12-22 00:13] yonzhan commented on #5761
add to S165.

[2019-12-22 00:15] yonzhan commented on #5898
add to S165.

[2019-12-22 00:16] yonzhan commented on #6886
add to S165.

[2019-12-22 00:18] yonzhan commented on #11364
@ahmedelnably If the CLI commands are contributed by service team and CLI team currently does not take over, we will mark the Service Attention label. Do you think it is not the case?

[2019-12-22 00:18] yonzhan commented on #11185
@ahmedelnably If the CLI commands are contributed by service team and CLI team currently does not take over, we will mark the Service Attention label. Do you think it is not the case?

[2019-12-22 00:18] yonzhan commented on #10905
@ahmedelnably If the CLI commands are contributed by service team and CLI team currently does not take over, we will mark the Service Attention label. Do you think it is not the case?

[2019-12-22 00:20] yonzhan commented on #6802
add to S165.

[2019-12-22 04:57] #6688 closed

[2019-12-22 04:58] #6679 closed

[2019-12-22 04:59] yonzhan commented on #6415
Was this issue resolved?

[2019-12-22 05:03] yonzhan commented on #6826
Was this issue resolved?

[2019-12-22 05:06] yonzhan commented on #6645
add to S165.

[2019-12-22 05:09] yonzhan commented on #6454
add to S165.

[2019-12-22 05:43] #6414 closed

[2019-12-22 10:28] yonzhan commented on #6343
add to S165.

[2019-12-22 10:30] yonzhan commented on #6341
add to S165.

[2019-12-22 10:31] #6332 closed

[2019-12-22 10:33] yonzhan commented on #6250
add to S165.

[2019-12-22 10:34] yonzhan commented on #6121
add to S165.

[2019-12-22 10:37] yonzhan commented on #6095
add to S165.

[2019-12-22 10:42] yonzhan commented on #6058
add to S165.

[2019-12-22 10:43] yonzhan commented on #6058
add to S165.

[2019-12-22 10:46] yonzhan commented on #8474
add to S165.

[2019-12-22 10:48] yonzhan commented on #5981
issue triaged.

[2019-12-22 10:48] yonzhan commented on #5657
issue triaged.

[2019-12-22 10:49] yonzhan commented on #5649
add to S165.

[2019-12-22 10:50] yonzhan commented on #5622
issue triaged.

[2019-12-22 10:52] yonzhan commented on #5598
add to S165.

[2019-12-22 12:20] MyronFanQiu commented on #11625
@qwordy Please take a look. There might be a regression.

[2019-12-22 12:25] yonzhan commented on #5576
add to S165.

[2019-12-22 12:28] yonzhan commented on #5587
add to S165.

[2019-12-22 12:32] yonzhan commented on #5566
add to S165.

[2019-12-22 13:57] fengzhou-msft commented on #11621
@isa56k Please start PowerShell as administrator and run the installation command, after installation just start another Powershell normally to run `az` command.

[2019-12-22 14:09] fengzhou-msft commented on #11357
From the error trace, it looks like the CLI code from some pip-install directory is used? Can you run `get-command az` to see which az command is actually used?

[2019-12-22 14:11] fengzhou-msft commented on #11357
I cannot reproduce this issue with azure-cli 2.0.78 on Powershell. Please start PowerShell as administrator when running the installation command if you haven't done so.

[2019-12-22 21:24] rodrigc commented on #11206
@sandep1987 glad you solved it!

[2019-12-22 23:00] wmgries commented on #11583
Hey, sorry I missed this. I don't see why you cannot use 2019-04-01, however, the control plane is missing several features currently, in both API versions, that are in plan to be added in January. Several examples: snapshot support and share stats. These will presumably use 2019-06-01 as I do not think they require breaking changes to the API.

The spec I gave does not assume this missing feature

[2019-12-23 01:35] yonzhan commented on #5357
add to S165.

[2019-12-23 01:38] yonzhan commented on #5172
issue triaged.

[2019-12-23 01:39] yonzhan commented on #5134
add to S165.

[2019-12-23 01:40] yonzhan commented on #5115
add to S165.

[2019-12-23 01:51] Juliehzl commented on #6415
Update: please try `az storage remove` command with latest azure cli version.
Close the issue now and if you still have problem, feel free to create a new one.

[2019-12-23 01:51] #6415 closed

[2019-12-23 01:56] Juliehzl commented on #6121
Hi @alexeyshishkin01 do you still have problems and can you provide more information for cli related commands?

[2019-12-23 02:11] Juliehzl commented on #11423
There still some properties to be enabled for `az storage account blob-service-properties update` command. @zhoxing-ms Please help enable https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/storage/azure-mgmt-storage/azure/mgmt/storage/v2019_04_01/models/_models.py#L367.

[2019-12-23 02:30] yonzhan commented on #5051
issue triaged.

[2019-12-23 02:51] yonzhan commented on #5017
add to S165.

[2019-12-23 02:53] yonzhan commented on #4961
add to S165.

[2019-12-23 02:54] yonzhan commented on #4911
add to S165.

[2019-12-23 02:55] yonzhan commented on #4884
add to S165.

[2019-12-23 02:56] yonzhan commented on #4813
add to S165.

[2019-12-23 02:58] yonzhan commented on #4809
add to S165.

[2019-12-23 03:00] yonzhan commented on #4771
add to S165.

[2019-12-23 03:01] qwordy commented on #11625
Hi Jonathan, Are you creating a snapshot by importing from a blob URI?

[2019-12-23 03:01] yonzhan commented on #4698
issue triaged

[2019-12-23 03:03] yonzhan commented on #4712
add to S165.

[2019-12-23 03:04] yonzhan commented on #4724
issue triaged.

[2019-12-23 03:35] yungezz commented on #10512
Fixing of the issue will be released in next release 2.0.29, which will be released around Jan 10th.

[2019-12-23 04:01] chrisxpr opened #11641 "Issue with az rest updating appsettings for an azure function that contains a cron expression"
**Describe the bug**
If I try to update an azure function appsetting using the Azure API via the az rest command, I am experiencing an error when the setting value is a cron expression.

**To Reproduce**
For the following JSON body the put command results in an error.

$bodyJson = {\"properties\":{\"schedule\":\"0 10 0 * * TUE-SAT\"}}

az rest --method put --headers "Content-type=application/json"

[2019-12-23 05:17] yungezz commented on #8921
Fixing of the issue will be released in next release 2.0.29, which will be released around mid of Jan.

[2019-12-23 05:39] MyronFanQiu commented on #11641
@chrisxpr Are you using powershell? You can try to use `--body @filepath` to load the body json from file.

[2019-12-23 06:31] chrisxpr commented on #11641
Hi, I am using Powershell to construct the list as I need to pull in values from external sources dynamically and don't want to persist sensitive data on the file system.

Version details are
Major  Minor  Build  Revision
-----  -----  -----  --------
5      1      14409  1018

[2019-12-23 06:38] MyronFanQiu commented on #11641
@jiasli any idea?

[2019-12-23 06:44] jonathanclarke commented on #11625
Downgraded and I was able to run the following command:

az image copy --source-resource-group staging --source-object-name
staging-image-4234234234 --target-location  westus2 --target-resource-group
"production" --cleanup

Basically was copying an image from one location to another, us-west to
us-west-2.

On Mon, Dec 23, 2019 at 8:46 AM Feiyue Yu <notifications@github.com> wrote:

[2019-12-23 06:52] yonzhan commented on #4526
issue triaged.

[2019-12-23 06:53] #4436 closed

[2019-12-23 06:54] yonzhan commented on #4392
add to S165.

[2019-12-23 07:12] yungezz commented on #11327
hi @aasif2310 we'll close the issue for now, free trial allows for 4 vCPU per region, which could resolve the quota limit error, pls give it a try and reopen or create new issue if you met any other issue. thanks.

[2019-12-23 07:12] #11327 closed

[2019-12-23 07:17] yonzhan commented on #4245
@rohinkoul  any update for this issue?

[2019-12-23 07:26] jiasli commented on #11590
What is the command being executed? Could you run the command with `--debug` and share the output? Thank you.

[2019-12-23 07:39] yonzhan commented on #4182
add to S165.

[2019-12-23 07:41] yonzhan commented on #4138
add to S165.

[2019-12-23 07:42] yonzhan commented on #3989
issue triaged.

[2019-12-23 07:47] fengzhou-msft commented on #3989
The new [az wrapper](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/az)  solved this issue. Please try with the latest azure-cli version.

[2019-12-23 07:47] #3989 closed

[2019-12-23 08:02] assafY commented on #6545
Happens to me as well. In my scenario, I create a webapp, delete it, and then created an identical one with a different name, and I get this error.

[2019-12-23 08:15] jiasli commented on #11641
Same issue as https://github.com/Azure/azure-cli/issues/11008.

This is because PowerShell strips the double quotes when passing the arguments to command prompt if there is no space in the argument: https://github.com/PowerShell/PowerShell/issues/1995

Also escaping double quotes with `\"` is required in command prompt, so to workaround these limitations, you will need to

1. Add a space in the ar

[2019-12-23 08:17] yonzhan commented on #4061
add to S165.

[2019-12-23 08:23] yonzhan commented on #3982
add to S165.

[2019-12-23 08:24] yonzhan commented on #3922
issue triaged.

[2019-12-23 08:25] yonzhan commented on #3916
add to S165.

[2019-12-23 08:26] yonzhan commented on #3852
add to S165.

[2019-12-23 08:27] yonzhan commented on #3187
add to S165.

[2019-12-23 08:29] yonzhan commented on #3180
add to S165.

[2019-12-23 08:29] yonzhan commented on #2935
add to S165.

[2019-12-23 08:50] alexeyshishkin01 commented on #6121
yes, I do, why? has anything changed since then ?

if so, what are corresponding az commands ?

[2019-12-23 09:06] fengzhou-msft commented on #10198
@Octorocka I cannot reproduce your issue. On my disco machine, azure-cli.list shows
`deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ disco main`, no `allow-insecure` setting.
Not sure if you already read this, but here's some troubleshooting instruction for [proxy issue](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest#proxy-blocks-connection)

[2019-12-23 09:10] #10907 closed

[2019-12-23 09:21] zhoxing-ms commented on #10907
**This is a PowerShell special character `@` that causes parameter parsing exception.**
When running Azure CLI commands in PowerShell, parsing errors will occur when the arguments contain special characters of PowerShell, such as at `@`.
You can solve this problem by adding `` ` `` before the special character to escape it, or by enclosing the argument with single or double quotes `'`/`"`.
For exa

[2019-12-23 09:21] yonzhan commented on #2925
add to S165.

[2019-12-23 09:23] yonzhan commented on #2924
add to S165.

[2019-12-23 09:24] zhoxing-ms commented on #10907
We have updated this issue to the relevant documentation.  [link](https://github.com/Azure/azure-cli/pull/11640/files)
If you have any other questions, please let us know.

[2019-12-23 09:25] yonzhan commented on #2855
add to S165.

[2019-12-23 09:27] yonzhan commented on #2613
issue triaged.

[2019-12-23 09:28] yonzhan commented on #2324
add to S165.

[2019-12-23 09:30] yonzhan commented on #2174
add to S165.

[2019-12-23 09:31] yonzhan commented on #1636
add to S165.

[2019-12-23 09:58] chrisxpr commented on #11641
After a bit of experimenting I was able to get it working by performing an additional escape on the space character.

**Based on your example the following works fine:**

[code]

`Command arguments: ['rest', '--method', 'put', '--headers', 'Content-type=application/json', '--uri', 'https://management.azure.com/subscriptions/<subid>/resourceGroups/<rg>/providers/Microsoft.Web/sites/<func>/config/ap

[2019-12-23 09:59] sxmon opened #11642 "CLI help text for default LB & vm type documentation outdated"
"Create a kubernetes cluster with default kubernetes version, default SKU load balancer(basic) and default vm set type(AvailabilitySet)."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d75c3a8d-1187-bea1-a7d4-7ebba71c1790
* Version Independent ID: 75b0c352-762e-16ae-5cc6-d807ffc1dc3f
* Content: [az aks](https://docs.mi

[2019-12-23 09:59] sxmon commented on #11642
October 15, 2019
Version 2.0.75

AKS
Changed --load-balancer-sku default value to standard if supported by the kubernetes version
Changed --vm-set-type default value to virtualmachinescalesets if supported by the kubernetes version

[2019-12-23 10:08] elenaterenzi opened #11643 "--full-uri parameter should return a fully encoded URI"
**Describe the bug**
A clear and concise description of what the bug is.
calling `az storage blob generate-sas` with the --full-uri param returns a non encoded URI.

**To Reproduce**
To reproduce easily you can use a blob with a name which contains spaces. Example:
[code]
the returned value will be:
[code]

**Expected behavior**
The expected result **should be a fully encoded URI** where spaces an

[2019-12-23 10:28] yonzhan commented on #1481
add to S165.

[2019-12-23 10:29] yonzhan commented on #2283
issue triaged.

[2019-12-23 10:34] dsk-1337 opened #11644 "az storage container create breaks when using none usable name parameter"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

az login
`az storage container create --name {foo.bar.something} --account-name {} --account-key {}`

#

[2019-12-23 10:35] jiasli commented on #11641
You are right. The first one without space works because there is no special characters like `&` in the json. So even though double quotes are stripped, the json is still valid when passed to CMD. I have edited the reply to avoid confusing. Thanks a lot for the finding. 😄

[2019-12-23 10:52] jiasli commented on #11641
You are right. The first one without space works because there is no special characters like `&` in the json. So even though double quotes are stripped, the json is still valid when passed to CMD. I have edited the reply to avoid confusion. Thanks a lot for the finding. 😄

[2019-12-23 10:54] jiasli commented on #11641
You are right. The first one without space works because there is no special characters like `&` in the json. So even though double quotes are stripped, the json is still valid when passed to CMD.

But for the "Introducing the space breaks the call", it still looks like a bug in PowerShell to me.

I have edited the reply to avoid confusion. Thanks a lot for the finding. 😄

[2019-12-23 11:53] piranna commented on #8305
I'm having the same issue with the `PIP_EXTRA_INDEX_URL` environment variable filled by the `PipAuthenticateV0` task, seems like it's adding a whitespace in the front, but when executing the failed generated command and running in local in my laptop it works. Issue with the shell? I'm using bash in Ubuntu...

[2019-12-23 11:56] chrisxpr commented on #11641
If they could add something like
$bodyJson = ($settingsList | ConvertTo-Json -_CompressAndEncode_)

to prevent having to do all the replacing that would be nice!

Have a good night

[2019-12-23 13:55] Juliehzl commented on #11644
Hi @dsk-1337, can you check first if your account name is less than 24? If yes and still have the error, please provide debug info with `--debug` in your command, which will help me figure out what happened.

[2019-12-23 15:08] khairop commented on #10919
i receive an expecting char error (line 7 char 1)  executing the following command. Please advise.

Thank you
Kostas
------
az group deployment create --name TestDeployment --resource-group $resourceGroup \
--template-uri $uri1 \
--parameters \
'mysqlPassword=K0Sta$626262!' \
'adminUsername=adminkostas' \
'dnsNameForPublicIP=mypublicip72' \
'authenticationType=password'  \
'adminPasswordOrKey=YYYY

[2019-12-23 16:01] para0056 opened #11645 "Need example to run CMD command on a Windows VM"
This would be incredibly helpful in automating the sysprep/generalize process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f04b196d-7d11-7213-f037-f12b85b19c52
* Version Independent ID: adc05d8e-b13b-134b-5f61-42aaf23666df
* Content: [az vm run-command](https://docs.microsoft.com/en-us/cli/azure/vm/run-command?view=

[2019-12-23 17:13] andresbarcenas commented on #9926
I tried creating a vmss on an existing subnet and it keeps creating a new one:

 --subnet XX \
  --vnet-name XX \

I also tried just the Resource ID of the subnet --subnet /resources/*** but it does not work.

Any ideas?

[2019-12-23 18:37] gcormier commented on #11316
@yungezz "Power State not available" shouldn't be there. It must have a state, either on, off, powering on, powering off...

[2019-12-23 19:34] stevengum commented on #11475
Closing due to inactivity.

[2019-12-23 19:34] #11475 closed

[2019-12-23 20:32] ajklotz opened #11646 "stat: path too long for Windows - error when using large parameters.json file"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group deployment create`

**Errors:**
[code]

## To Reproduce:
Create a parameters.json file that has 490+ lines with name value pairs. The total character count of said JSON file is 37343. Total file size is 37KB. The structure of the json file looks similar this:

[code]

For each object

[2019-12-23 20:34] ajklotz commented on #11607
@rick-hayek I have another issue open just like this.

https://github.com/Azure/azure-cli/issues/11600

[2019-12-23 21:01] pjanowski commented on #11357
`PS C:\Users\paulano> get-command az

CommandType     Name                                               Version    Source
-----------     ----                                               -------    ------
Application     az.cmd                                             0.0.0.0    C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\az.cmd`

Running power shell as admin produces the same erro

[2019-12-23 22:30] b564518128 opened #11647 "Extend AzureFirewall Features (ThreatIntel Whitelisting and No SNAT)"
**Resource Provider**
Microsoft.Network

**Description of Feature or Work Requested**
In backend, we are using key-value pairs called AdditionalProperties to extend AzureFirewall Features. However, in frontend, we would like to hide this generic field and expose specific fields to customer. Currently, we are adding two features: Threat Intelligence Whitelisting and No SNAT.

We will use Powershell

[2019-12-24 01:29] Juliehzl commented on #11643
Hi @elenaterenzi, thanks a lot for your feedback.  `?` sign in sas url is designed in SDK level. But I wonder what the problem is with `?` sign in url.

[2019-12-24 02:23] MyronFanQiu commented on #11645
@qwordy Please take a look.

[2019-12-24 02:24] MyronFanQiu commented on #11646
@zhoxing-ms Please take a look.

[2019-12-24 02:29] MyronFanQiu commented on #11647
@b564518128 What's the validate values for PrivateRanges? I don't understand this field. Could you give more examples? Meanwhile, it's too close to target Date that we cannot make it. We put it in S164 plan.

[2019-12-24 02:38] jiasli commented on #11641
I don't think this should be a feature developed by PowerShell because `"` are parsed by cmd, not PowerShell itself. PowerShell expects to call exe directly. But given the current situation that PowerShell has issue calling native exe:

[code]

We can keep using the cmd script for a while and pack Azure CLI as `az.exe` later when https://github.com/PowerShell/PowerShell/issues/1995 is fixed.

Than

[2019-12-24 02:38] #11641 closed

[2019-12-24 02:54] jiasli commented on #11008
Closing due to no response. If the issue happens again, please reply to this issue or create a new one.

[2019-12-24 02:54] #11008 closed

[2019-12-24 03:07] jiasli commented on #9345
Closing due to no response. If the issue happens again, please reply to this issue or create a new one.

[2019-12-24 03:07] #9345 closed

[2019-12-24 03:10] jiasli commented on #4486
This will be considered as a long-term plan.

[2019-12-24 03:10] #4486 closed

[2019-12-24 03:13] jiasli commented on #11332
Could you run with `--debug` and share the output?

[2019-12-24 03:25] jsntcy commented on #11583
@wmgries , thanks for your confirmation. We'll use 2019-04-01 for this feature and in the future, when we support features only in 2019-06-01, we'll use 2019-06-01.

Also this time for each command, CLI will not support the following options as PowerShell didn't support them yet. If we do need support them, we can support them in the future.
- We only support using "account-name", but not support

[2019-12-24 03:30] #11064 closed

[2019-12-24 03:32] jiasli commented on #10856
@tvanfosson if you see any az command that returns zero value when it fails, please let us know. We will consider adding `--no-warning` or `--quite` switch in the future.

[2019-12-24 03:33] #11029 closed

[2019-12-24 03:53] jiasli commented on #6058
Closing the issue, since it hasn't been updated for a long time. If the issue persists, please create a new one. Thanks.

[2019-12-24 03:53] #6058 closed

[2019-12-24 04:00] jiasli commented on #7198
Hi @richeney, I agree with @marstr that Terraform should read from CLI's token cache, instead of the other way around.

Could you check if this doc from Terraform suits your needs? https://www.terraform.io/docs/providers/azurerm/guides/azure_cli.html

[2019-12-24 04:45] wmgries commented on #11583
I would argue the equivalent to `account-id` for PowerShell is taking in an object. For example:

[code]

CLI does let you get storage accounts by the ID of the storage account, (`az storage account show --ids`), so if you're in the position where you have the ID of a storage account, I don't see why you shouldn't be able to create a proxy resource with it instead of having to independently lookup

[2019-12-24 06:08] jiasli opened #11651 "az deployment list missing filter which exists in REST API"
**Is your feature request related to a problem? Please describe.**
CSS reported. Customer wants to use filter to query deployments.

REST API supports filter parameter to filter on ProvisionState
https://docs.microsoft.com/en-us/rest/api/resources/deployments/listatsubscriptionscope

CLI does not support the same
https://docs.microsoft.com/en-us/cli/azure/deployment?view=azure-cli-latest#az-deploy

[2019-12-24 06:08] jiasli commented on #11651
@Juliehzl Please help implement this feature.

[2019-12-24 06:19] Raghuveer-Yadav-Gadula commented on #11179
faced a similar issue pasting the logs in here
PS C:\Users\v-ragya> az backup protection backup-now --resource-group att-test --vault-name att-vault --item-name ubuntu --retain-until 14-01-2019
az : Command group 'backup' is in preview. It may be changed/removed in a future release.
At line:1 char:1
+ az backup protection backup-now --resource-group att-test --vault-nam ...
+ ~~~~~~~~~~~~~~~~~~~~~

[2019-12-24 07:51] yungezz commented on #11316
this need to be improved at service side.

[2019-12-24 08:13] ChendrayanV opened #11652 "az resource-graph --include displayNames fails on ubuntu"
## Describe the bug
az resource-graph --include displayNames fails on ubuntu, below is my Az pipeline
[code]
## Environment Summary
[code]
## Additional Context

[2019-12-24 08:34] medvedeffalexandr opened #11654 "azure cli cannot work with https proxy"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash o

[2019-12-24 08:51] Juliehzl opened #11655 "CLI command to get connection info for a MariaDB Database"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Tracked feature request in https://msazure.visualstudio.com/Unified%20Platform%20KPIs/_workitems/edit/3728949

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've

[2019-12-24 08:52] Juliehzl opened #11656 "CLI command to provision a MariaDB Database"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Tracked issue in https://msazure.visualstudio.com/Unified%20Platform%20KPIs/_workitems/edit/3624302

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered

[2019-12-24 08:54] Juliehzl commented on #11656
@selvasingh Can you provide more information for your feature request?

[2019-12-24 08:57] Juliehzl commented on #11655
@selvasingh Can you provide more information for your feature request?

[2019-12-24 08:59] hyelee517 opened #11657 "az storage blob returns "Next Marker""
**Describe the bug**
az storage blob list returns "Next Marker"

**To Reproduce**
az storage blob list -c test --account-name stg1125 -o table
Next Marker:
2!76!MDAwMDExIXRhcmdldC50eHQgITAwMDAyOCExNjAxLTAxLTAxVDAwOjAwOjAwLjAwMDAwMDBaIQ--
Name        Blob Type    Blob Tier    Length    Content Type              Last Modified              Snapshot
----------  -----------  -----------  --------  ----

[2019-12-24 09:01] yonzhan commented on #11651
add to S163.

[2019-12-24 09:41] 0816KK opened #11658 "az group export: query/output parameters not supported"
The --Query switch is not working for the az group export command and either no information is available or all resource information in the resource group is displayed as a result.
Is there a way to modify --Query or get only specific resources (eg NSGs only)?

Same problem as below?
https://github.com/Azure/azure-cli/issues/5777

[2019-12-24 10:12] bim-msft commented on #11652
@fengzhou-msft Please take a look.

[2019-12-24 10:17] CoderKooke opened #11659 "ERROR: az network application-gateway: 'waf-policy' is not in the 'az network application-gateway' command group."
I get the above error.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 738419fe-b1c0-c9d2-d012-790f6f77414f
* Version Independent ID: 51fa7a4f-8c26-d5dc-8c70-8c4507bc6f53
* Content: [az network application-gateway waf-policy custom-rule](https://docs.microsoft.com/en-us/cli/azure/network/application-gateway/waf-policy/c

[2019-12-24 10:19] bim-msft commented on #11654
@medvedeffalexandr Please provide us a more detailed description, paste the error message at least.

[2019-12-24 10:20] bim-msft commented on #11657
@Juliehzl Please take a look.

[2019-12-24 10:25] bim-msft commented on #11658
@Juliehzl Please take a look.

[2019-12-24 10:25] bim-msft commented on #11659
@MyronFanQiu Please take a look.

[2019-12-24 10:37] jiasli commented on #11613
Based on my understanding, according to https://docs.python.org/3.8/library/site.html

[pywin32.pth](https://github.com/mhammond/pywin32/blob/master/pywin32.pth) contains

[code]

So `win32`, `win32\lib` should be automatically added to `sys.path` and `pywin32_bootstrap` should be imported when Python is launched.

When I run the python.exe installed by msi installer, `sys.path` already contains `

[2019-12-24 10:49] elenaterenzi commented on #11643
As pointed in my feedback the problem is that the uri is not encoded and in particular the path to the blob is not encoded while the second part of the uri is chiediti encoded, so the full uri will not work/is not correct because of spaces in the uri (see the blob name, it has spaces as per my example above)

Sent from Outlook for Android
________________________________
From: Zunli Hu <notificati

[2019-12-24 10:54] yonzhan commented on #11657
add to S165.

[2019-12-24 10:55] yonzhan commented on #11658
add to S165.

[2019-12-24 12:05] Juliehzl commented on #11657
Hi @hyelee517, thanks for your feedback. Can you tell me how many blobs in your container?
In addition, debug info will help us figure out what happened a lot. Could you please provide debug ino with `--debug` in your command?

[2019-12-24 12:08] Juliehzl commented on #11651
@zhoxing-ms Let's wait for Alex's feedback and then decide the next step to do. Please keep track of this.

[2019-12-24 12:09] MyronFanQiu commented on #11654
@bim-msft Hi. `Network` label represents `az network`. Since this issue is related with general azure cli, I add core instead.

[2019-12-24 12:12] MyronFanQiu commented on #11659
@CoderKooke Can you run the command with `--debug` and paste the log here? Which platform and which terminal? Could you try `az network application-gateway waf-policy -h` to see if it works or not?

[2019-12-24 12:15] hyelee517 commented on #11657
Hi Zunli,

Thanks for your contact!
I attached AzureCLI.txt from case, Please look that file.
There is number of blobs in my container, and also –debug mode information.

But not happen all the time.

Thanks in advance.
Heawon
From: Zunli Hu <notifications@github.com>
Sent: Tuesday, December 24, 2019 9:05 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Heawon Lee <Hyewon.Lee@microsoft.co

[2019-12-24 16:02] DevOpsFu commented on #11456
I get the exact same issue. However, downgrading to v2.0.66 did not help for me @andyzhangx

[2019-12-24 19:12] gmsantos opened #11662 "Include Azure SQL Hyperscale create sample"
Hyperscale is a undocumented tier in documentation:

--edition --tier -e

The edition component of the sku. Allowed values include: Basic, Standard, Premium, GeneralPurpose, BusinessCritical.

Running list-editions command:

[code]
A example could also be included with other commom parameters:

Create a Hyperscale database with five read replicas
[code]

---
#### Document Details

⚠ *Do not edit t

[2019-12-24 19:15] cbrooksmsft opened #11663 "CLI Support for Account Encryption Key use with Storage Tables and Queues"
**Resource Provider**
What is the Azure resource provider your feature is part of?

Microsoft.Storage

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.

We are adding support for use of the Account Encryption for the Tables and Queues service to enable the use of Customer Managed Keys w

[2019-12-24 20:03] jluk commented on #11642
Thanks @sxmon for notifying us - we've logged this issue to be fixed.

Ticket reference: 5965921

[2019-12-25 00:51] bim-msft commented on #11662
@Juliehzl Please take a look.

[2019-12-25 00:54] bim-msft commented on #11663
@Juliehzl Please take a look.

[2019-12-25 01:26] yonzhan commented on #11663
add to S163 with high priority.

[2019-12-25 01:52] yonzhan commented on #11654
add to S164.

[2019-12-25 02:31] qwordy commented on #10980
I have reproduced the same result using your command. You can try this command.
[code]
--add

Add an object to a list of objects by specifying a path and key value pairs. Example: --add property.listProperty <key=value, string or JSON string>.

[2019-12-25 02:54] hihorika commented on #11342
According to the command execution with `--debug` flag, the following endpoint is accessed, so it seems that tag value is handled as empty string ('') if only tag name is specified.

https://management.azure.com/subscriptions/<subscriptionId&gt;/resourcegroups?$filter=tagname%20eq%20%27<tagName&gt;%27%20and%20tagvalue%20eq%20%27%27&api-version=2019-07-01

[2019-12-25 04:13] jiasli commented on #10997
Could you test if array works for you? I tested and CLI receives the args correctly.

[code]

[2019-12-25 04:21] fengzhou-msft commented on #11612
The second step in the instruction should install the key for you:
[code]

@szurcher Can you give me more details on how to setup your environment?

[2019-12-25 05:52] fengzhou-msft commented on #11425
A potential solution is to add `--short/-s` option for `az --version` to output just the version of CLI. This involves changing code in knack. `az --version` is handled specially by [checking `args[0] == '--version' or args[0] == '-v'`](https://github.com/microsoft/knack/blob/44ee1799c891213c90916f186ab9aee7b9ff8344/knack/cli.py#L96), then [invoke show_version()](https://github.com/microsoft/knack

[2019-12-25 05:55] yonzhan commented on #11662
Add service attention label since az sql is not owned by Azure CLI team.

[2019-12-25 06:04] jiasli commented on #11654
Please check the doc and see if you can be unblocked: https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy

[2019-12-25 06:11] #11276 closed

[2019-12-25 07:05] fengzhou-msft commented on #11425
After some discussion, we do not want overcomplicate the special case of `az --version`. @jiasli will author a new command to output short version.

[2019-12-25 07:25] fengzhou-msft commented on #11362
We still have about 10% active users on Python 2. We may defer the drop for Python 2 for a bit longer. As more users install RPM with Python 3, I believe the number of Python 2 would drop significantly since the majority of our Python 2 users are on centos or redhat.

[2019-12-25 08:30] Juliehzl commented on #11657
I cannot see your attachment. Can you post it here or send to my e-mail zuh AT microsoft.com?

[2019-12-25 08:31] hyelee517 commented on #11657
Hi Zunli,

Sure.I ‘ll attach here.

Thanks

差出人: Zunli Hu<mailto:notifications@github.com>
送信日時: 2019年12月25日 17:30
宛先: Azure/azure-cli<mailto:azure-cli@noreply.github.com>
CC: Heawon Lee<mailto:Hyewon.Lee@microsoft.com>; Mention<mailto:mention@noreply.github.com>
件名: Re: [Azure/azure-cli] az storage blob returns "Next Marker" (#11657)

I cannot see your attachment. Can you post it here or send to

[2019-12-25 09:56] fengzhou-msft commented on #11357
This command result looks fine.

`az.cmd` is using a python executable inside msi package. The trace to call `C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-umfcm_n2\azure-cli\azure\cli\__main__.py` really seems weird to me. It should use `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\Lib\site-packages\azure\cli\__main__.pyc`.

Can you run `& 'C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\

[2019-12-25 10:00] #9791 closed

[2019-12-25 10:22] jsntcy commented on #11583
@wmgries, thanks for your comments. We'll support account-id as well.
But for the commands (exists, delete, show, update), we'll not support option "--ids" to keep consistent with PowerShell and data plane file share commands as neither PowerShell nor data plane file share support "--ids", does this decision make sense to you?

[2019-12-25 10:32] qwordy commented on #11645
You can use `az vm run-command list` to list all available run commands for a subscription in a location.

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/run-command

I do not find CMD support. So just use PowerShell. It's very powerful.

[2019-12-25 14:14] para0056 commented on #11645
Thanks for your response.
In light of this limitation, what is the recommended approach to invoking SYSPREP on a Windows VM using AzureCLI?

Thanks again for your time.

[2019-12-25 14:40] fengzhou-msft commented on #9161
Close due to inactivity. Please feel free to open it if you still have the same issue with recent versions of azure cli.

[2019-12-25 14:40] #9161 closed

[2019-12-25 15:01] fengzhou-msft commented on #7523
The RPM package uses python3 starting from 2.0.77. Can we close this issue now?

[2019-12-25 15:54] #5657 closed

[2019-12-25 15:57] fengzhou-msft commented on #5657
We have no plans to add package support for ARM64. Please use `pip install azure-cli`.

[2019-12-26 02:19] Juliehzl commented on #11657
Hi @hyelee517, NextMarker is returned by design when your blob number exceeds the defined maximum number of results, which has default value 5000. If you want to change the value, please specify the number with parameter `--num-results` in `az storage blob list` command.

[2019-12-26 02:23] qwordy commented on #11645
You can run .bat file in PowerShell. And you can try `cmd /c`
https://stackoverflow.com/questions/24940243/running-cmd-command-in-powershell

[2019-12-26 02:37] #11191 closed

[2019-12-26 02:43] hyelee517 commented on #11657
Hi @Juliehzl  ,Thanks for your update.
but It seems there is only 3 blobs from my test env so I don't think that NextMarker returned because exceed the default value.
as you can see from my test result, there are only 3 blobs named a.txt,t.txt,target.txt.

--
yi@Azure:~$ az storage blob list -c test --account-name stg1125 -o table
Next Marker:
2!76!MDAwMDExIXRhcmdldC50eHQgITAwMDAyOCExNjAxLTAxLTAxV

[2019-12-26 03:31] Juliehzl commented on #11657
I have tested it. For my storage container with 2 blobs, when --num-results=5000, no NextMarker as shown:
![image](https://user-images.githubusercontent.com/49508232/71455999-5facd880-27d2-11ea-931f-14202efd076b.png)
When I set it to 1, it will exceed the maximum result number, and there is NextMarker returned as shown:
![image](https://user-images.githubusercontent.com/49508232/71456076-b3b7bd00-

[2019-12-26 03:40] hyelee517 commented on #11657
Hi @Juliehzl
Thanks for sharing.
I understand exactly what you mean.

but the point is as you can see from my debug information, there are maximum number of blobs as default 5000, and I didn't specify --num-results parameter, but it returns "next marker".
So I think this is a bug of "az storage blob list".What do you think?

Best Regards.
Heawon

[2019-12-26 05:37] bim-msft opened #11667 "Unclear error message while creating private endpoint"
**Describe the bug**
In the help message of `az network private-endpoint create`,  the parameter `group Id` is not required:
[code]
And there is no `group Id` in above example too.
But actually, this parameter is required, please see the command below:

**To Reproduce**
`az network private-endpoint create -g bim-rg -n bim-pe --vnet-name bim-vnet2 --subnet default --private-connection-resource-id "

[2019-12-26 05:38] bim-msft commented on #11667
@MyronFanQiu Please take a look.

[2019-12-26 06:07] zhoxing-ms commented on #3439
This issure can be worked in the latest version of azure-cli. Please update the version and try again. If you have any other questions, please let us know.

[2019-12-26 06:09] zhoxing-ms commented on #3439
@johanste This issure can be worked in the latest version of azure-cli. Please update the version and try again. If you have any other questions, please let us know.

[2019-12-26 06:24] zhoxing-ms commented on #10176
@itaylaufer I try to retry this problem in '2.0.70' version and the latest version of azure-cli, but find that the problem could not be reproduced.
Please try again, if you have any more questions, please let us know.

[2019-12-26 06:28] ChendrayanV opened #11668 "Az CLI resource graph Bug in PowerShell console host"
## Describe the bug
Issue in the below query
[code]
**Works fine in cmd prompt but not in PowerShell console host**
**Command Name**
``

**Errors:**
] was unexpected at this time.
C:\Solutions>  "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\wbin\\..\python.exe" -IBm azure.cli graph query -q "where type =~ 'Microsoft.Compute/virtualMachines'" --include displayNames --first 5 --query [?contains(

[2019-12-26 06:39] yonzhan commented on #7901
add to S165.

[2019-12-26 06:41] yonzhan commented on #7881
@schaabs any update for this issue?

[2019-12-26 06:42] yonzhan commented on #7816
@samjudeh any update for this issue?

[2019-12-26 06:45] yonzhan commented on #7731
add to S165.

[2019-12-26 06:48] yonzhan commented on #7227
add to S165.

[2019-12-26 06:50] yonzhan commented on #6147
add to S165.

[2019-12-26 06:52] MyronFanQiu commented on #11667
@bim-msft You're right. Group ids is not necessary when you add a private link service(PLS) into the private endpoint(PE). But it's necessary if you try to create a PE for first party like storage. So it cannot be marked as required. However, we haven't implement the command `az network private-resource list` currently. That may be the problem.

[2019-12-26 06:53] MyronFanQiu commented on #11667
Since you are trying to create PE for keyvault. I think it's time to support this functionality. I need to confirm with service team to check the server's status.

[2019-12-26 06:54] yonzhan commented on #6008
add to S165.

[2019-12-26 06:59] yonzhan commented on #5548
add to S165.

[2019-12-26 07:05] yonzhan commented on #3439
add to S164.

[2019-12-26 07:07] #2175 closed

[2019-12-26 07:08] yonzhan commented on #1292
@malopMSFT any update for this issue?

[2019-12-26 07:51] bim-msft commented on #11668
@jiasli Please take a look.

[2019-12-26 08:05] bim-msft commented on #11667
@MyronFanQiu Thanks! Actually, I'm working on Private Endpoint feature for Key Vault command right now. PE for keyvault is available in regions `eastus2euap` and `westcenturalus`.

BTW, what does `group-ids` mean here, how can I obtain the right vault for it? Also, the help message: `You can use "az network private-resource show to obtain the list of group ids."` seems incorrect since there is no

[2019-12-26 08:16] bim-msft opened #11671 "Client font color will be broken after pipeline and `findstr` command are used in Windows CMD"
**Describe the bug**
![微信截图_20191226160908](https://user-images.githubusercontent.com/3250203/71466287-15d7e880-27fa-11ea-9b30-f77296aef057.png)

**To Reproduce**
1. Run `az network private-endpoint list-types -l eastus2euap`
2. Then run `az network private-endpoint list-types -l eastus2euap | findstr vault`

**Environment summary**
azure-cli dev branch 93a50bb
knack 0.6.3

[2019-12-26 08:17] bim-msft commented on #11671
@jiasli Please take a look.

[2019-12-26 08:36] Wang-XiaoGao opened #11672 "Does this azure-cli support on-premises DevOps?"
This azure-cli replace vsts cli, but I try many times and look for materials from internet. I could not confirm whether it could support on-premises DevOps 2019, not Azure at cloud.
Could anybody give me a confirm? Thanks a lot!

[2019-12-26 08:45] bim-msft commented on #11672
@Wang-XiaoGao Is this helpful? https://azure.microsoft.com/en-us/resources/videos/microsoft-azure-stack-azure-services-on-premises/

[2019-12-26 08:54] bim-msft opened #11673 "Incorrect prompt format while running `az --version` on old version cli client"
**Describe the bug**
![微信截图_20191226164702](https://user-images.githubusercontent.com/3250203/71468018-99480880-27ff-11ea-8903-9598fa9c1025.png)

**To Reproduce**
Run `az --version` on old version cli

**Environment summary**
azure-cli dev branch 93a50bb
knack 0.6.3
[code]

[2019-12-26 08:55] bim-msft commented on #11673
@jiasli Please take a look.

[2019-12-26 09:06] Arnavion commented on #7523
Yes, confirmed the OP repro with `2.0.78-1.el7`:

[code]

... and `az account list` also works.

[2019-12-26 09:06] #7523 closed

[2019-12-26 09:21] jiasli commented on #11673
The issue is fixed in https://github.com/Azure/azure-cli/pull/11609. Please reinstall the latest version.

[2019-12-26 09:21] #11673 closed

[2019-12-26 09:23] yonzhan commented on #11672
@Wang-XiaoGao  you can create an issue in below repo https://github.com/Azure/azure-devops-cli-extension. For questions, you can contact https://github.com/atbagga

[2019-12-26 09:35] bim-msft commented on #11038
The creation and the deletion of Private Endpoint should be restrained in `network` command, which already supports command groups `private-endpoint` and `private-link-service`. @MyronFanQiu needs additional work for full support (see #11667)

For `keyvault` command, should we do the same thing as network command? Or just adding functionality like `show/get/list` for private endpoints is enough?

[2019-12-26 09:38] zhoxing-ms commented on #6008
I ran the test again and found that the problem could not be repeated. I will remove @live_only to add this test case to the CI process.

[2019-12-26 15:01] jamelait opened #11674 "Cannot install Azure CLI on CentOS:7 docker container"
**Describe the bug**
It's impossible to install azure-cli on CentOS v7 in a docker container.
I did manage to install it five weeks ago, i don't think i'm doing anything different this time.

**To Reproduce**
`docker run -ti centos:7`

`yum install python3 -y`

`rpm --import https://packages.microsoft.com/keys/microsoft.asc`

`sh -c 'echo -e "[azure-cli] name=Azure CLI baseurl=https://packages.mic

[2019-12-26 15:53] jamelait commented on #11674
Solved.
The content of /etc/yum.repos.d/azure-cli.repo did not contain any line breaks (everything was on one line) which was the problem. The content should be:
[code]

[2019-12-26 15:53] #11674 closed

[2019-12-26 17:12] amolsh commented on #11456
i am also getting same issue

[2019-12-26 18:29] pjanowski commented on #11357
Here you go:
[code]

[2019-12-26 22:38] ablyler commented on #11454
I've run into the same error, but it was due to trying to add multiple app services / functions to the same subnet.

[2019-12-26 23:02] ajklotz commented on #11600
I wish I knew why it worked for ahmedelnably. Any update on this?

[2019-12-26 23:48] panchagnula commented on #11636
This is a by design decision taken by the feature crew. WebJobs SDK is older format of Azure functions - & moving forward the feature team support is for managing Webjobs only using CLI/Powershell commands & not for creating. At this point we have no plans for supporting this.
Also CCing folks for Functions as FYI CC: @ahmedelnably

[2019-12-26 23:48] #11636 closed

[2019-12-26 23:51] panchagnula commented on #11634
Running az webapp up configures local context for which is included in the .Azure files see https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#az-configure for more details.

Adding @btardif  as FYI.

[2019-12-26 23:52] panchagnula commented on #11630
Please use 2.0.77 which is the latest & let us know if this still repros. Thanks!

[2019-12-26 23:52] #11630 closed

[2019-12-26 23:53] panchagnula commented on #11628
2.0.62 is an older version of Azure-cli we have had several updates/ fixes to az webapp up please use the latest 2.0.77 & let us know if you still see the issue.

[2019-12-26 23:53] #11628 closed

[2019-12-27 00:00] panchagnula commented on #11607
Yes this command does support passing a valid JSON to the --settings parameter. Can you validate that the JSON object you have in the json file I valid? if not share the settings you have in the file & I can help you investigate further. Thanks!

[2019-12-27 00:05] panchagnula commented on #11596
Closing this since there has been no update on this for more than 3 days. Please re-activate if this is still not resolved. Thanks!

[2019-12-27 00:05] #11596 closed

[2019-12-27 00:06] panchagnula commented on #11493
Closing this since this is tracked by the primary to track the work #11592

[2019-12-27 00:06] #11493 closed

[2019-12-27 00:09] panchagnula commented on #11549
Closing since there was no update on this for more than 3 days. Please re-activate if this is still an issue. Thanks!

[2019-12-27 00:09] #11549 closed

[2019-12-27 00:11] panchagnula commented on #11519
@ammanifold can you check if this repros for you when using resources.azure.com? if so I think this is an API level issue & we can transfer it to them.

[2019-12-27 00:11] #11507 closed

[2019-12-27 00:13] panchagnula commented on #11434
@btardif I am assigning this to you so that you can have Patrick or someone from the Linux team take a look at this. Thanks.

[2019-12-27 00:17] panchagnula commented on #11384
Make sure you are using the latest version of Azure-cli & running the command from the context of the local directory where the code is - please reactivate if this still an issue.

[2019-12-27 00:17] #11384 closed

[2019-12-27 00:18] panchagnula commented on #11378
closing due to inactivity please re-activate if this is still an issue with the latest version of azure-cli

[2019-12-27 00:18] #11378 closed

[2019-12-27 00:19] panchagnula commented on #11361
Please use latest version of CLI. 2.0.77 has the fix.

[2019-12-27 00:19] #11361 closed

[2019-12-27 00:19] panchagnula commented on #11346
Please use 2.0.77 version.

[2019-12-27 00:19] #11346 closed

[2019-12-27 00:22] panchagnula commented on #11343
@JiriKovar are you still seeing this with the latest version of CLI. I believe Kudu itself has made some fixes here. Please let us know. Thanks!

[2019-12-27 00:23] panchagnula commented on #11335
Known issue with 2.0.76 please use 2.0.77. Thanks!

[2019-12-27 00:23] #11335 closed

[2019-12-27 00:23] panchagnula commented on #11331
Please use the latest version known regression with 2.0.76.

[2019-12-27 00:23] #11331 closed

[2019-12-27 00:24] panchagnula commented on #11328
Sorry this was a known regression with 2.0.76 please use the latest version 2.0.77 has the fix.

[2019-12-27 00:24] #11328 closed

[2019-12-27 00:24] panchagnula commented on #11314
Known issue with 2.0.76 fix is in 2.0.77 please upgrade & re-try. Thanks!

[2019-12-27 00:24] #11314 closed

[2019-12-27 00:26] panchagnula commented on #11284
Please upgrade to 2.0.77 Thanks!

[2019-12-27 00:26] #11284 closed

[2019-12-27 00:27] panchagnula commented on #11280
@patricklee2 & @btardif please look at this. Thanks!

[2019-12-27 00:28] panchagnula commented on #11265
please upgrade & re-activate if this is still an issue.

[2019-12-27 00:28] #11265 closed

[2019-12-27 00:29] panchagnula commented on #11263
Please upgrade to 2.0.77

[2019-12-27 00:29] #11263 closed

[2019-12-27 00:30] panchagnula commented on #11258
Please upgrade to the latest version of CLI 2.0.77 has the fix.

[2019-12-27 00:30] #11258 closed

[2019-12-27 00:31] panchagnula commented on #11244
Please use the upsettings command with --setting property which take a name value pair
Ex. az webapp config appsettings set -g MyResourceGroup -n MyUniqueApp --settings WEBSITE_NODE_DEFAULT_VERSION=6.9.1

See this for more details https://docs.microsoft.com/en-us/cli/azure/webapp/config/appsettings?view=azure-cli-latest#az-webapp-config-appsettings-set

[2019-12-27 00:32] panchagnula commented on #11211
Please upgrade to 2.0.77

[2019-12-27 00:32] #11211 closed

[2019-12-27 00:32] panchagnula commented on #11208
Please upgrade to 2.0.77

[2019-12-27 00:32] #11208 closed

[2019-12-27 00:33] panchagnula commented on #11205
Please upgrade to 2.0.77

[2019-12-27 00:33] #11205 closed

[2019-12-27 00:33] panchagnula commented on #11193
Can you please re-try with the latest version & let us know if this still repros. Thanks!

[2019-12-27 00:33] #11193 closed

[2019-12-27 00:34] panchagnula commented on #11189
closing due to inactivity.

[2019-12-27 00:34] #11189 closed

[2019-12-27 00:35] panchagnula commented on #11173
Known issue with 2.076 please upgrade to 2.0.77

[2019-12-27 00:35] #11173 closed

[2019-12-27 00:36] panchagnula commented on #11172
Please use the latest version 2.0.77

[2019-12-27 00:36] #11172 closed

[2019-12-27 00:37] panchagnula commented on #11161
Please use 2.0.77

[2019-12-27 00:37] #11161 closed

[2019-12-27 00:39] panchagnula commented on #11158
Please make sure the zip file exists in the right path & try with the latest version of CLI & let us know if this is fixed.

[2019-12-27 00:39] #11158 closed

[2019-12-27 00:39] panchagnula commented on #11145
Known issue with 2.0.76 please use latest & re-try

[2019-12-27 00:39] #11145 closed

[2019-12-27 00:40] panchagnula commented on #11143
Please use latest version fix is in version 2.0.77

[2019-12-27 00:40] #11143 closed

[2019-12-27 00:40] panchagnula commented on #11116
Please use version 2.0.77

[2019-12-27 00:40] #11116 closed

[2019-12-27 00:40] panchagnula commented on #11114
Please use version 2.0.77

[2019-12-27 00:40] #11114 closed

[2019-12-27 00:41] #11089 closed

[2019-12-27 00:41] panchagnula commented on #11079
Please use 2.0.77

[2019-12-27 00:41] #11079 closed

[2019-12-27 00:42] panchagnula commented on #11077
Please use the latest version of CLI fix is in version 2.0.77

[2019-12-27 00:42] #11077 closed

[2019-12-27 00:43] panchagnula commented on #11065
the command needs to run from the run from the context of local dir where the code is &  needs name for the webapp.

[2019-12-27 00:43] #11065 closed

[2019-12-27 00:43] panchagnula commented on #11034
Please use the latest version of CLI 2.0.77

[2019-12-27 00:43] #11034 closed

[2019-12-27 00:45] panchagnula commented on #10978
Please use version 2.0.77 also please make sure you run this command from the context of where the directory where the code is.

[2019-12-27 00:45] #10978 closed

[2019-12-27 00:46] panchagnula commented on #11003
This is not specific for Webapps command please see description to see that this happens with az sql as well. The issue is CLI is being used in PowerShell . please use a BASH window. Removing App service label.

[2019-12-27 00:48] panchagnula commented on #10954
Please use the latest version of CLI & make sure this command is run from the context of local dir where the code to deploy is located. Thanks!

[2019-12-27 00:48] #10954 closed

[2019-12-27 00:49] panchagnula commented on #10915
Please use latest version 2.0.77

[2019-12-27 00:49] #10915 closed

[2019-12-27 00:50] panchagnula commented on #10734
Closing this since the linked PR is merged.

[2019-12-27 00:50] #10734 closed

[2019-12-27 00:50] panchagnula commented on #10713
Please use version 2.0.77 & let us know if this still repros. Thanks!

[2019-12-27 00:50] #10713 closed

[2019-12-27 00:51] panchagnula commented on #10664
Thanks we will update our validation message.

[2019-12-27 01:41] palma21 commented on #11456
What Andy mentioned is we can't repro that with either 2.0.66 or 2.0.77

![image](https://user-images.githubusercontent.com/7065724/71496212-097b7c00-284a-11ea-93c9-a2d10223d376.png)

I see some outputs calling out python 2.7 and CLI 2.0.77 should be using python3

Could you check you are all using the latest CLI and the right python version is being referenced ?

 az --version should also tell yo

[2019-12-27 02:39] amolsh commented on #11456
I uninstalled azure-cli which was pointing to python2.7 and re-installed it
[code]

Still i am getting error

[code]

[2019-12-27 03:27] 0816KK commented on #11658
Is there an update for this issue?

[2019-12-27 06:06] fengzhou-msft commented on #11357
This is good. OK, one more try. Please run `az --debug` to print detailed info for the error.

[2019-12-27 07:35] wahyuen opened #11695 "az functionapp identity show fails with unexpected error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp identity show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp identity show -n {} -g {}`

## Expected Beha

[2019-12-27 07:43] haroldrandom commented on #11405
Hi, Jason, I found it will cause error if `aladdin.py` is in `src/azure-cli/azure/cli/commands_modules/`

Also, the file get put into `src/` will get CI scaned, currently, there are some violiations which failed CI.

I put your file in a dedicated folder `scripts/ci/aladdin` and it's in a detacted branch `Aladdin-src`, which will won't get pylint and flake8 scanned if you guys don't want to deal w

[2019-12-27 07:44] jiasli commented on #11003
Thanks for elaborating the symptom. You are hitting a known issue in PowerShell which we have doc'ed at: https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#quoting-issues

PowerShell strips double quotes and causes the command to be parsed by CMD as:
`az sql db import -p "!#$%&calc"` -> `az sql db import -p !#$%` `&` `calc`
where `&` stands for a command separator.

Same for
`a

[2019-12-27 09:58] baywet commented on #11244
thank you for your answer, it is the command I'm running with the setting name I provided in my first message and I'm getting the error message mentioned above.

[2019-12-27 12:59] mkyukov opened #11696 "Unable to retreive API keys for eventhub namespace using CLI"
## Describe the bug
Unable to retreive API keys for eventhubs namespace using CLI.
**Command Name**
`az eventhubs namespace authorization-rule keys list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create namespace using CLI
- `az eventhubs namespace authorization-rule keys list -

[2019-12-27 14:07] ajklotz commented on #11607
Hey @panchagnula please take a look at #11600 I believe @rick-hayek is basically having the same issue described in my issue. The problem seems to be when the JSON file in a different directory than the working directory of powershell. So if you attempt to use a path to the JSON, it fails. If the JSON file is referenced in the same path, everything works fine.

[2019-12-27 14:45] pjanowski commented on #11357
This is in administrator PowerShell

[code]

[2019-12-27 15:56] maxnorth opened #11697 "`az bot create` is not idempotent"
**Describe the bug**
Calling 'az bot create' a second time returns an error instead of just returning the existing resource.

**To Reproduce**
1) Call `az bot create -n examplename -g examplegroup -k registration <...etc>` once. Request will succeed with newly created resource with the specified name in the specified resource group. No trouble so far.
2) Call `az bot create` a second time with the

[2019-12-27 16:47] AlphaCreative-Mike commented on #10879
@rcreddy435 - Do you mind sharing how you got the key programmatically?  I've tried several examples online but the subscription fails.  If I hardcode the key it works.

[2019-12-27 17:23] panchagnula commented on #11607
@ajklotz thanks for the update wanted to clarify something - are you using PowerShell to run these commands instead of Bash window? I have run these from different DIR than working DIR & has worked for me - I never used PowerShell for this though.

[2019-12-27 17:35] wonderplayer opened #11698 "webapp: Apply access restriction to resources in different resource groups"
I'd like to add VNET access restriction to Azure Function App. Azure Function App is located in RG1 and VNET is located in RG2.
I can't get it to work even with IDs.
Command:
`
az webapp config access-restriction add
  --priority 100
  --action Allow
  --name $newParameters.FunctionAppName
  --rule-name "APIm"
  --subnet $newParameters.APImSubnetName
  --vnet-name $newParameters.VnetName
`
Error m

[2019-12-27 17:45] ajklotz commented on #11607
Yes, I'm using Powershell. @panchagnula

[2019-12-27 18:04] panchagnula commented on #1337
@btardif please assign this back to me when the API is ready for use. Thanks!

[2019-12-28 14:28] vinodhbasavani commented on #11159
I am also facing the same issue. Is there any work around for this issue?

[2019-12-28 18:23] shubhammicrosoft1 opened #11700 "Command does not work for VM workload-type | az backup container register --resource-group MyResourceGroup --vault-name MyVault --resource-id MyResourceId --workload-type VM--backup-management-type AzureWorkload --resource-id MyResourceID"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09210de3-5f1e-a72e-286b-998275969c13
* Version Independent ID: c5f2c022-f67d-b53f-9e63-ebb9acbb22de
* Content: [az backup container](https://docs.microsoft.com/en-us/cli/azure/backup/container?view=azure-cli-latest#feedback)
* Content Source: [src/azu

[2019-12-28 18:26] shubhammicrosoft1 commented on #11700
Below is the log
Getting management service client client_type=RecoveryServicesBackupClient
msrest.universal_http.requests : Configuring retry: max_retries=4, backoff_factor=0.8, max_backoff=90
cli.azure.cli.core.util : The command failed with an unexpected error. Here is the traceback:

The command failed with an unexpected error. Here is the traceback:

cli.azure.cli.core.util : 'VM'
Traceback (

[2019-12-28 20:55] hardjopranoto opened #11701 "Unable to perform 'az network vnet peering create' from az cloud shell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network vnet peering create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network vnet peering create -n {} -g {} --remote-vnet

[2019-12-29 07:57] bim-msft commented on #11701
@MyronFanQiu Please take a look.

[2019-12-30 01:39] MyronFanQiu commented on #11701
@jiasli Hello. The error message is related with AAD. Could you please take a look?

[2019-12-30 02:17] bim-msft commented on #11667
It seems that the `group-id` means sub resource name, see the screenshot:
![image](https://user-images.githubusercontent.com/3250203/71565818-43b87800-2aed-11ea-8813-dc00befd016d.png)

[2019-12-30 02:31] yonzhan commented on #9432
add to S164.

[2019-12-30 02:35] jiasli commented on #8102
We did observe latency on [WSL](https://docs.microsoft.com/en-us/windows/wsl/about) due to the low performance of WSL itself. [WSL 2](https://docs.microsoft.com/en-us/windows/wsl/wsl2-index) has great improvement on the performance.

In my test, the execution time of `az` is normal on a computer with `Intel(R) Xeon(R) W-2123 CPU @ 3.60GHz, 3600 Mhz, 4 Core(s), 8 Logical Processor(s)` CPU and 32GB

[2019-12-30 03:26] bim-msft commented on #11667
We can use command `az keyvault private-link-resource show` to exactly obtain group id for a Key Vault in the future.

[2019-12-30 03:33] jiasli commented on #7996
I tested and the extension is added and removed correctly.

[code]

Please update to the latest version of Azure CLI. If the issue persists, please let us know.

[2019-12-30 04:35] saids commented on #10207
I had the same issue and error, and on the PS it was outputting this info..

azure-cli                         2.0.77 *
command-modules-nspkg              2.0.3
core                              2.0.77 *
nspkg                              3.0.4
telemetry                          1.0.4

Python location 'C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe'
Extensions directory 'C:\Users\{USE

[2019-12-30 04:42] jiasli commented on #11701
This is Cloud Shell issue. Could you run with `--debug` and share the output?

To get unblocked, please run `az login` and retry the command.

[2019-12-30 05:32] MyronFanQiu commented on #11307
@hmundeepi I closed this issue since it's out of date. If you still meet this error, don't hesitate and feel free to open a new one.

[2019-12-30 05:32] #11307 closed

[2019-12-30 05:33] MyronFanQiu commented on #10283
@asheniam Hello. Did you solve this issue on server side?

[2019-12-30 05:35] MyronFanQiu commented on #10078
@carlbrochu I cannot produce this issue and it's a little bit out of date. I closed this one first. If you still have any issue, don't hesitate and feel free to open a new one.

[2019-12-30 05:35] #10078 closed

[2019-12-30 05:36] MyronFanQiu commented on #11560
@5sfayas Hello. Did you solve your issue?

[2019-12-30 05:42] MyronFanQiu commented on #11416
@motaba1 Hello. This might be a issue of powershell. Did you solve your issue?

[2019-12-30 05:46] g-rad commented on #11354
@gregdegruy https://blogs.msdn.microsoft.com/aaddevsup/2018/06/06/guid-table-for-windows-azure-active-directory-permissions/

311a71cc-e848-46a1-bdf8-97ff7156d8e6 - (Scope) Sign in and read user profile

[2019-12-30 05:48] panchagnula commented on #11698
if your app is a function app can you try using the function app equivalent? https://docs.microsoft.com/en-us/cli/azure/functionapp/config/access-restriction?view=azure-cli-latest

Does this work incases where the FunctionApp & the VNET are in the same RG?
Also the access-restriction command takes a RG as an input what happens if you pass the RG of the VNET as the value for this?

[2019-12-30 05:51] panchagnula commented on #11607
@ajklotz  thanks for confirming @rick-hayek is your issue also because of the use of PowerShell?

[2019-12-30 06:07] #11462 closed

[2019-12-30 06:30] yonzhan commented on #10687
@Aanerud any update ?

[2019-12-30 06:46] yonzhan commented on #11181
Can we close this issue?

[2019-12-30 07:43] jiasli commented on #4492
Generic update is not the recommended way to operate on resources, and we didn't receive any customer complaints. Closing.

[2019-12-30 07:43] #4492 closed

[2019-12-30 07:48] jiasli commented on #4667
This will be addressed in https://github.com/microsoft/knack/issues/170

[2019-12-30 07:48] #4667 closed

[2019-12-30 07:50] jiasli commented on #4848
`test_search_index` doesn't exist in Azure CLI anymore. Closing.

[2019-12-30 07:50] #4848 closed

[2019-12-30 08:09] Aanerud commented on #10687
I used the workaround described in the a similar ticket. I have not updated Azure CLI after, as the workaround works.

[2019-12-30 08:11] MyronFanQiu commented on #10554
@yanfa317 Hello. Could you share the current state of service? Private Review/Public Review/GA?

[2019-12-30 08:13] wonderplayer commented on #11698
`az functionapp config access-restriction add --priority 100 --action Allow --name "dev-deploy-fadev" --rule-name "APIm" --subnet "APIm" --vnet-name "dev-deploy-vnet" --resource-group "dev-deploy-rg"`

This command group is in preview. It may be changed/removed in a future release.

ResourceNotFound - The Resource 'Microsoft.Web/sites/dev-deploy-fadev' under resource group 'dev-deploy-rg' was not

[2019-12-30 08:14] wonderplayer commented on #11698
I've created the same issue with Az PowerShell [here](https://github.com/Azure/azure-powershell/issues/10794). Don't know if that might help.

[2019-12-30 08:20] yonzhan commented on #10687
@Aanerud  so can we close this issue ?

[2019-12-30 09:02] Aanerud commented on #10687
Is the bug fixed ?

Andreas.

[2019-12-30 11:19] haroldrandom opened #11710 "[Help] This help entry shouldn't be here"
**Is your feature request related to a problem? Please describe.**
https://github.com/Azure/azure-cli/blob/56fe4dd986fb70f7a4e382863c01090d6c9b6397/src/azure-cli/azure/cli/command_modules/iot/_help.py#L738

1. `az iot hub show-connection-string` should belong to another section. not `az iot hub show`.
2. Our azdev linter should check this.

**Describe the solution you'd like**
None

**Describe alt

[2019-12-30 11:21] haroldrandom commented on #11710
add to S165

[2019-12-30 12:41] connec opened #11712 ""az ad sp show" does not return exit code 3 when the sp does not exist"
**Describe the bug**

The `az ad sp show` command errors with exit code 1 when no service principal exists with the given `--id`. https://github.com/Azure/azure-cli/issues/6612 suggests that all CLI commands should error with exist code 3 when the target resource is missing.

**To Reproduce**

Attempt to show a service principal that does not exist and observe that the exit code is 1:

[code]

**E

[2019-12-30 13:20] MisiekBest opened #11713 "az image copy generates error: "Required parameter 'storageAccountId' is missing (null).""
## Describe the bug

**Command Name**
`az snapshot create` as part of `az image copy`

**Errors:**
[code]

## To Reproduce:
When I run `az image copy` in Azure cloud shell (bash) using this command:

[code]

it generates the error:

[code]

Screenshot:
<img width="1269" alt="azcopy_problem" src="https://user-images.githubusercontent.com/14282144/71583523-25fc0a80-2b0f-11ea-8bb9-b0570bab9734.png">

[2019-12-30 13:24] MisiekBest commented on #11713
Ok, sorry, looks like it's duplicated https://github.com/Azure/azure-cli/issues/11625

[2019-12-30 13:59] Vivekbsn opened #11714 "AZ Find command error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az find`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az find {}`

## Expected Behavior

## Environment Summary
[code]
## Additional C

[2019-12-30 14:18] MisiekBest commented on #11713
I just want to confirm, that downgrading az cli to 2.0.72 on Windows helped me too.

[2019-12-30 16:48] shurd commented on #11181
The PR has not yet been merged, but once it is we can close the issue. It should get merged today or tomorrow.

[2019-12-30 17:13] ajklotz opened #11718 "ARM template should not delete and replace application settings for a function app"
I created an ARM template to deploy and manage two Azure Functions across multiple environments (CI, DEV, QA, PROD, etc). My goal was to have a single ARM template that deploys to each using a parameters.json file. In my parameters.json file, I created a JSON structure where I could reference each environment and all of the application settings. My function app has  the [siteConfig.appSettings obj

[2019-12-30 17:17] ajklotz commented on #11600
@ahmedelnably You mentioned that this worked for you. Did you try this in PowerShell or in Bash? If you tried in Bash, can you try in PowerShell?

[2019-12-30 17:48] tvanfosson commented on #10856
@jiasli we don't limit ourselves to just Azure CLI commands in our scripts. It's hard to definitely say that we can rely on command exit values only.

[2019-12-30 18:03] ahmedelnably commented on #11600
@ajklotz, I did try in PowerShell.
@yonzhan we believe this issue is not a module issue, that's why we want assistance from the core team

[2019-12-30 18:14] ammanifold commented on #7154
@panchagnula can you please close this issue? I don't have permissions. PR is merged in, but it didn't auto-resolve this.

[2019-12-30 18:22] yanfa317 commented on #10554
@MyronFanQiu Hi. Our service will take private review around End of Jan. Before it, we will have a big change for swagger/sdk/cli, and we are working on it. Thanks.

[2019-12-30 18:33] thisisbrianstewart commented on #11598
Any updates or feedback?  It has been two weeks with no response.

[2019-12-30 18:58] fabiocav commented on #11598
@ahmedelnably thoughts on prioritization for this item?

[2019-12-30 19:25] #7154 closed

[2019-12-30 20:14] ahmedelnably opened #11720 "[Functions] Add a flag to create the storage account in az functionapp create"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Add a flag to create the storage account in az functionapp create, this will not change the current behavior, also it will allow for a more streamlined approach to creating function apps

Intended behavior after this proposal:

1. If storage account information is provided --> use this [exis

[2019-12-30 20:50] #9993 closed

[2019-12-30 22:11] abdulrehmangill commented on #6142
It's still a bug. Like @mgroves I too have space characters in my username. I have seen buggy behavior because of this  previously.

[2019-12-30 22:22] btardif commented on #10269
@ammanifold @panchagnula can we see if this is addressed by the -html flag? looks like we should also include detection for *.shtml

[2019-12-30 22:27] btardif commented on #11249
@ahmedelnably can you help with this?

[2019-12-30 22:29] ammanifold commented on #10269
Added to #11719

[2019-12-30 22:30] btardif commented on #11634
We should add a comment to the content of the files with links to more info or explanation of what they are and what they are used for... re-opening this and assigning to me to come up with plan

[2019-12-30 22:57] abezverkov commented on #10913
This is still happening today with version 2.0.78
[code]

[2019-12-31 01:44] MyronFanQiu commented on #10554
@yanfa317 Thanks

[2019-12-31 01:57] MyronFanQiu commented on #11192
@qwordy Hi. Can you help reach out to the correct DL and cc me？

[2019-12-31 02:04] MyronFanQiu commented on #10554
@yanfa317 Since the service is still under private review and you will have a big change for swagger. Is it ok to close this issue first and you can create a new one in the future?

[2019-12-31 02:37] yonzhan commented on #11720
This CLI command is owned by Functions team.

[2019-12-31 02:41] #11287 closed

[2019-12-31 02:41] bim-msft commented on #11712
@jiasli Please take a look.

[2019-12-31 02:44] jiasli commented on #11712
Should be a bug. Will fix it.

[2019-12-31 02:47] akshita31 commented on #7489
I had to use the cert in a tomcat server. The problem was that the downloaded cert didnt contain the password, hence I had to import and then export the cert again with the password.

Here is the code :
az keyvault secret download \
    --file inputCert.pfx \
    --vault-name MyKeyvault \
    --encoding base64 \
    --name inputCert \
    2>&1 \
    | tee -a $SETUP_LOG

echo "Converting downloaded

[2019-12-31 02:50] bim-msft commented on #11713
@MisiekBest Yes, this is duplicated with #11625, we can go to the existing issue for further discussion, thanks.

[2019-12-31 02:50] #11713 closed

[2019-12-31 02:54] bim-msft commented on #11714
Related to #10839

[2019-12-31 05:16] jiasli commented on #11600
On Windows, relative path shouldn't start with `\`. So `"@\Stage\QueueProcessing\queueProcessingAppSettings-CI.json"` should be `"@Stage\QueueProcessing\queueProcessingAppSettings-CI.json"` instead.

This can be verified with:
[code]

[2019-12-31 05:17] jiasli commented on #11600
On Windows, relative path shouldn't start with `\`. So `"@\Stage\QueueProcessing\queueProcessingAppSettings-CI.json"` should be `"@Stage\QueueProcessing\queueProcessingAppSettings-CI.json"` instead.

This can be verified with:
[code]

[2019-12-31 06:06] MyronFanQiu commented on #9515
@makokui Hello. Since this issue is out of date. I will close this issue. Don't hesitate and feel free to open a new one if you still meet any problem.

[2019-12-31 06:06] #9515 closed

[2019-12-31 06:07] MyronFanQiu commented on #8570
@asheniam Hello. Is there any update about this issue?

[2019-12-31 06:16] MyronFanQiu commented on #1636
@Nilambari Hello. Any update about this issue?

[2019-12-31 06:34] qwordy commented on #11219
Any update?

[2019-12-31 07:12] MyronFanQiu commented on #11030
@sirwarshade Hello. Do you still meet such error?

[2019-12-31 07:12] MyronFanQiu commented on #11441
This one should be closed. Right? @jsntcy @Juliehzl

[2019-12-31 07:22] sirajudeens commented on #11219
I have already replied in email. This change cannot be merged to master until we are ready to go for public preview.
Currently the new set of APIs are in private preview. So this change is in private preview branch.
@hyonholee can explain how the branches are organized for various releases.

[2019-12-31 07:43] #11440 closed

[2019-12-31 08:36] yonzhan commented on #11422
Hi @zffocussss  any update?

[2019-12-31 09:37] zhoxing-ms commented on #8998
@christiankuhtz Hi, I can't reproduce this case now. Do you still have any problems with the operation now?
If you can reproduce the problem, please provide a specific example

[2019-12-31 11:56] zielartgithub opened #11728 "I can't disable omsagent on running aks cluster"
I want to remove omsagent and disconnect logs workspace from my AKS cluster.
When I want to disable omsagent I have a following error:

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks disable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may conta

[2019-12-31 14:26] ajklotz commented on #11600
@jiasli That was it, you solved my problem. Thank you so much.

[2019-12-31 14:26] #11600 closed

[2019-12-31 15:01] ajklotz commented on #11607
@rick-hayek @panchagnula My issue was closed. I was given a solution and it works using a relative path. I had to remove a slash after the @ symbol.

https://github.com/Azure/azure-cli/issues/11600#issuecomment-569865850

[2019-12-31 16:25] toddplu commented on #10673
Any updates?

[2019-12-31 16:33] toddplu opened #11729 "NOT idempotent"
Reference: https://github.com/Azure/azure-cli/issues/10673
az storage account network-rule add is not idempotent; subsequent invocations result in:

Values for request parameters are invalid: networkAcls.virtualNetworkRules[*].id(unique). For more information, see - https://aka.ms/storagenetworkruleset

In the spirit of https://github.com/Azure/azure-cli/blob/dev/doc/command_guidelines.md#standard

[2019-12-31 16:56] joshschmitter commented on #8070
Hi @tjprescott, I don't think this issue should be closed.  See my comment above.  Could you please re-open it?

[2019-12-31 19:52] unoti commented on #6545
This is what's happening to me as well: I created a webapp, there was a problem in my docker-compose.yml, so I deleted the webapp and created it again using the exact same "az webapp create" command I used the first time, and now I get NoneType object has no attribute 'location'.

[2019-12-31 20:00] yanfa317 commented on #10554
@MyronFanQiu We found a bug in current cli, and @zikalino is helping us to fix it. But it seems that he is busy for something else now. I hope that we can solve the bug first before we close it.

[2019-12-31 20:57] thisisbrianstewart commented on #11614
Any feedback here?

[2020-01-01 13:14] bim-msft commented on #11729
@Juliehzl Please take a look.

[2020-01-01 14:21] Juliehzl commented on #10794
The private package is delivered, but wait for feedback. In this way, it is fine to close it now

[2020-01-01 14:21] #10794 closed

[2020-01-01 14:25] Juliehzl commented on #7857
Given no response, I will close this issue now. please try `az storage copy` command with latest azure cli and if you still have problem, feel free to create a new issue.

[2020-01-01 14:25] #7857 closed

[2020-01-01 14:27] Juliehzl commented on #7616
please try to use ` az storage copy` in azure cli 2.0.71 or newer version, which already integrate azcopy and can work in parallel.

[2020-01-01 14:27] #7616 closed

[2020-01-01 14:30] Juliehzl commented on #11729
dupe of #10673

[2020-01-01 14:33] Juliehzl commented on #11729
Hi @toddplu , can you provide more debug information with `--debug` in your command?

[2020-01-02 02:28] Juliehzl commented on #8594
@dalehhirt @richl10x I have tried with the latest azure cli in Azure Powershell, it can return false or true as expected. Can you try again? If you still have the problem, can you provide us debug information for finding root cause?
I think there is nothing for CLI to do with this now. In this way, I will close this issue now and feel free to reopen it or create a new one.

[2020-01-02 02:28] #8594 closed

[2020-01-02 02:32] #11441 closed

[2020-01-02 02:35] #11497 closed

[2020-01-02 02:38] MyronFanQiu commented on #11497
@csuzw Hello. We updated our doc. https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#quoting-issues

[2020-01-02 03:05] tjprescott commented on #8070
I'm no longer on the CLI team, so I can't re-open. @MyronFanQiu can you take a look and re-open if appropriate?

[2020-01-02 03:27] yonzhan commented on #10176
@itaylaufer any update?

[2020-01-02 03:27] yonzhan commented on #3439
@johanste any update?

[2020-01-02 03:28] yonzhan commented on #8998
@christiankuhtz any update?

[2020-01-02 03:34] yonzhan commented on #9067
add to S164.

[2020-01-02 03:34] #11423 closed

[2020-01-02 03:37] #6008 closed

[2020-01-02 03:37] #5110 closed

[2020-01-02 04:26] #11410 closed

[2020-01-02 04:26] #11013 closed

[2020-01-02 04:45] Juliehzl opened #11734 "[Storage] Create and list support for NFS file shares"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Microsoft.Storage
PM: Will Gries <wgries@microsoft.com>

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.

**Minimum API Version Required**
What is the minimum API version of your service required to impl

[2020-01-02 04:46] Juliehzl commented on #11734
Planned for storage feature

[2020-01-02 04:50] Juliehzl opened #11735 "[Storage] Integrate Azcopy 10.3 and support for win 32"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Issue #11509, #10924，#10302，#9576， #6466

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solut

[2020-01-02 04:53] Juliehzl commented on #10974
Hi @EricJPogue , close the issue given no response for a long time. If you still have problems, feel free to reopen it or create a new one.

[2020-01-02 04:53] #10974 closed

[2020-01-02 04:58] Juliehzl commented on #10431
Hi @Geof23 , does azcopy work for your scenario?

[2020-01-02 05:15] yonzhan commented on #9972
How about this issue?

[2020-01-02 05:19] Juliehzl commented on #11735
Planned for azcopy upgrade

[2020-01-02 05:20] MyronFanQiu opened #11736 "[Breadth Coverage] Onboard PowerBI commands"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Microsoft.PowerBI

**Description of Feature or Work Requested**
Support Azure CLI commands for PowerBI

**Minimum API Version Required**
Microsoft.PowerBI 2016-01-29

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/powerbiembedded/resource-manager/Microsoft.PowerBI/stable/201

[2020-01-02 05:20] MyronFanQiu commented on #11736
Planned in sprint 164(may plus S165)

[2020-01-02 05:21] yonzhan commented on #10283
@asheniam any update?

[2020-01-02 05:23] #11405 closed

[2020-01-02 05:28] yonzhan commented on #11449
How is the status of this issue?

[2020-01-02 05:29] Juliehzl commented on #11422
Given no response, I cannot reproduce your issue. Close it now and if you still have problems, feel free to create a new issue.

[2020-01-02 05:29] #11422 closed

[2020-01-02 05:33] Juliehzl commented on #11105
Hi @zffocussss , can you show more information with `--debug` in your command?

[2020-01-02 05:35] qwordy commented on #9596
The request body:
[code]
No "param1" in ENV.

If I use
[code]
request body is
[code]
I can get the correct result.
@koralski Can you help with this issue?

[2020-01-02 05:36] Juliehzl commented on #11414
@mhennecke  can you try again with the latest azure cli version? If you still have the problem, please provide debug information with `--debug` in your command.
I cannot reproduce it with azure cli 2.0.78.

[2020-01-02 05:43] Juliehzl commented on #9836
@samuda2019, what about your problem now? If no sas token, cli command will try to authenticate the storage client according to your login information. You need to make sure the target storage account in your account default subscription.
But with sas token, you don't need to login. According to the debug information, you sas token may be not valid. How do you get the sas token and can you check i

[2020-01-02 05:47] Juliehzl commented on #8768
@mydiemho what about your problem now?

[2020-01-02 05:47] jsntcy opened #11737 "[Breadth Coverage] Onboard Storage Sync Commands"
**Spec Link**
https://microsoft.sharepoint.com/:w:/r/teams/AzureManagementExperience/_layouts/15/Doc.aspx?sourcedoc=%7B1737556B-6C09-4207-AB0D-CB20488190C1%7D&file=STORAGESYNC%20RP%20Speclet.docx&action=default&mobileredirect=true

**Resource Provider**
What is the Azure resource provider your feature is part of?
Microsoft.StorageSync

**Description of Feature or Work Requested**
Support Azure CLI

[2020-01-02 05:48] #11425 closed

[2020-01-02 05:55] yonzhan commented on #9291
How about this issue?

[2020-01-02 05:57] yonzhan commented on #11244
How about the status of this issue?

[2020-01-02 06:07] qwordy commented on #11645
@para0056 Can you use SYSPREP now?

[2020-01-02 06:19] AbelHu opened #11740 "Unable to set up tab completion when installing azure-cli on Ubuntu 18.04.3 LTS"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`curl -L https://aka.ms/InstallAzureCli | sudo bash`

**Errors:**
===> Enter a path to an rc file to update (leave blank to use '/home/user/.bashrc'):
-- Backed up '/home/user/.bashrc' to '/home/user/.bashrc.backup'
-- Unable to set up tab completion. ERROR: 'encoding' is an invalid keyword ar

[2020-01-02 06:47] MyronFanQiu commented on #8070
@

[2020-01-02 07:10] yonzhan commented on #11412
@ammanifold any update for this issue?

[2020-01-02 07:10] yonzhan commented on #11592
@ammanifold any update for this issue?

[2020-01-02 07:48] Juliehzl commented on #11657
discussed with @hyelee517 offline and I cannot reproduce it. i will close it now and if you still have the problem, feel free to reopen it.

[2020-01-02 07:48] #11657 closed

[2020-01-02 08:01] qwordy commented on #11281
I have reproduced your bug. I am debugging it.

[2020-01-02 08:22] jiasli commented on #7510
`location` varies depending on Resource Providers. Some services may not be available in all locations.

Moreover, if CLI limits the location in `az configure`, once a new data center becomes available or a service becomes available in some data centers, users can't use them immediately and need to wait for CLI to be updated accordingly.

That's why we decided not to implement this check but leave

[2020-01-02 08:22] #7510 closed

[2020-01-02 08:24] qwordy commented on #11281
Did you delete the disk? You need to keep it. A image stores the reference of disk(s).

[2020-01-02 08:35] jiasli commented on #7411
Currently the only ways to set default values are using `az configure` and corresponding env vars, such as `AZURE_DEFAULTS_GROUP`, `AZURE_DEFAULTS_LOCATION`. Please see https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration?view=azure-cli-latest

We will consider implementing `.azurerc` as a feature request.

[2020-01-02 08:37] jiasli commented on #7411
Reply to https://github.com/Azure/azure-cli/issues/7411#issuecomment-564265580

Hi @smalgin, the configuration of Azure CLI is user-wide stored under `$HOME/.azure` on Linux and macOS, and `%USERPROFILE%\.azure` on Windows.

[2020-01-02 08:43] yonzhan commented on #11737
add to S164.

[2020-01-02 08:44] jiasli commented on #6821
We have provided some easy ways to chain commands, please check https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#passing-values-from-one-command-to-the-other

We recommend using Bash or PowerShell as scripting tools. For specific usage, please let us know.

[2020-01-02 08:44] #6821 closed

[2020-01-02 08:52] qwordy commented on #11625
I have reproduced this issue. It's a recent change of snapshot service. I also dislike this kind of breaking change. I will try to update image copy command to specify storageAccountId explicitly.

[2020-01-02 09:04] soumya6541 commented on #10076
Is it feasible to create action group with action as Azure function using az command? I have tried but it is throwing below error,
usage error: the type "azureFunctionReceivers" is not recognizable.

[2020-01-02 09:11] bim-msft commented on #11740
@fengzhou-msft Please take a look.

[2020-01-02 10:26] jiasli commented on #8070
Similar to https://github.com/Azure/azure-cli/issues/11003#issuecomment-569213105

@joshschmitter, please check the solution and let us know if you can get unblocked.

[2020-01-02 10:26] surajmb opened #11743 "CLI support for Wildcard Listener in Application Gateway"
**What is the Azure resource provider your feature is part of?**

NRP

**Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.**

CLI support is needed to add wildcard hostnames in a listener of Application Gateway. This will add an additional parameter 'host-names' in 'az network application-gateway http-listener' command - https://do

[2020-01-02 10:26] #10381 closed

[2020-01-02 10:28] jiasli commented on #8827
Similar to https://github.com/Azure/azure-cli/issues/11003#issuecomment-569213105

@vany0114, please check the solution and let us know if you can get unblocked.

[2020-01-02 10:30] bim-msft commented on #11743
@MyronFanQiu Please take a look.

[2020-01-02 12:10] rampach opened #11744 "Unable to get the size of all blobs in a container"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob list --container-name {} --query {} --output {}`

#

[2020-01-02 12:18] bim-msft commented on #11744
@Juliehzl Please take a look.

[2020-01-02 13:33] joshschmitter commented on #8070
Yeah, #11003 seems like the same root cause.  And according to the [docs referenced](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#quoting-issues), this is happening because the az cli is a batch script and powershell has to pass the command to the Command Prompt.  Using the stop-parsing symbol `--%` is inconvenient since variables like `$password` won't be interpolated, b

[2020-01-02 13:47] rampach commented on #11744
Just to clarify that the container contains a lot of blobs (i'm not sure how many). I can't get the size of the container with the Azure SDK for PHP and with the Azure Portal UI as well.

![container_size](https://user-images.githubusercontent.com/5637065/71669963-1b43ae80-2d77-11ea-8f44-804f87ad2e17.png)

[2020-01-02 14:35] Juliehzl commented on #11744
Hi @rampach, can you provide more information with `--debug` in your command?

[2020-01-02 15:36] james-world commented on #11456
I get the same error with latest az (version output after the error below):

    The command failed with an unexpected error. Here is the traceback:

    cli.azure.cli.core.util : argument of type 'NoneType' is not iterable
    Traceback (most recent call last):
    File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-install-2ombfg7z\knack\knack\cli.py", line 206, in invoke
    File "C:\Users\VSSADM~1\

[2020-01-02 15:57] oldoni opened #11745 "az aks install-cli doesn't work"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2020-01-02 15:58] jvandertil opened #11746 "Support Azure Functions .NET runtime 3.0"
**Is your feature request related to a problem? Please describe.**
I am unable to create a Azure Functions App that uses the .NET Core 3.1 runtime (runtime version 3).
It should be available according to the [docs](https://docs.microsoft.com/nl-nl/azure/azure-functions/functions-versions), but the CLI only supports version 2.

**Describe the solution you'd like**
Adding '3' as an allowed version i

[2020-01-02 16:00] Peppers911 commented on #10879
**Task:** create Storage Account Event Subscription to trigger Azure Function

The problem in PowerShell with
`az eventgrid event-subscription create`
is that endpoint is URL with **'&'** symbol. The same command **works** on: `shell.azure.com`.
Tried escaping it <- does not help

**local PowerShell**
[code]
Argument **endpoint** drops **code** query parameter and it does become invalid endpoint.

[2020-01-02 16:57] jaredmoo commented on #11662
Thanks for the feedback! I can add the example and update the "allowed values include" text.

[2020-01-02 17:01] #11745 closed

[2020-01-02 17:13] beastea opened #11747 "az interactive fails when azure-cli installed with pipx on macos x"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
`az interactive` fails with following issue:

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected

[2020-01-02 17:18] Nilsas opened #11748 "az vm extension set: unsupported operand type(s) for +: 'NoneType' and 'str'"
**Describe the bug**
When setting LinuxDiagnostic VM extension with command
`az vm extension set --publisher Microsoft.Azure.Diagnostics --name LinuxDiagnostic --version 3.0 --resource-group $my_resource_group --vm-name $my_linux_vm`
I receive the following error:

**"Extension operation Enable failed:unsupported operand type(s) for +: 'NoneType' and 'str'"**

**To Reproduce**
`az vm extension set

[2020-01-02 17:37] palma21 commented on #11728
The name of the addon is "monitoring"  not "omsagent". Have you tried that?

[2020-01-02 17:38] Kalyan-Alamuru opened #11749 "Getting token from Cloud Shell intermittently fails with 400 Client Error: Bad Request"
I'm getting following when I'm running following command :

ARM_CLIENT_SECRET=$(az ad sp create-for-rbac \
  --name http://tf-sp-$UNIQUE_ID \
  --role Contributor \
  --scopes "/subscriptions/$ARM_SUBSCRIPTION_ID" \
  --query password \
  --output tsv)

Please note that I've stored ARM Subscription ID successfully and ran above command as part of creating Service Principal.

### **This is autogene

[2020-01-02 17:48] ammanifold commented on #11592
Waiting for the PR to be merged

[2020-01-02 17:49] ammanifold commented on #11412
WIP

[2020-01-02 18:12] rampach commented on #11744
Hello @Juliehzl this is the output from the command with the --debug argument:

[code]

[2020-01-02 19:41] panchagnula commented on #11592
@yonzhan this fix has been ready for PR & wasn't merged please have this merged for the current release - we have had several requests on this one. Thanks!

[2020-01-02 19:53] mhhdswb opened #11751 "https://new.alahlionline.com"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-01-02 20:20] ahmedelnably opened #11752 "[Functions] stop using `reservedInstanceCount` and use `preWarmedInstanceCount`"
stop using `reservedInstanceCount` and use `preWarmedInstanceCount`

[2020-01-02 20:59] abhiramani-iptiq opened #11754 "not able to create Auto scale Rule on Azure app service plan using cli"
This command

az monitor autoscale rule create  --resource-group rgname \
--resource planname \
--resource-type 'Microsoft.Web/serverfarms' \
--autoscale-name test \
--profile-name 'Auto created scale condition' \
--condition "Percentage CPU > 75 avg 5m" \
--scale out 2

fails with error:The Resource 'microsoft.insights/autoscalesettings/test' under resource group rgname was not found.. [Code: "Re

[2020-01-02 23:11] b564518128 commented on #11647
@MyronFanQiu
Valid values for PrivateRanges:
    1. Single Ips: "11.22.33.4", "222.21.44.55"
    2. Ip Prefixes denoted with slashes: "99.99.0.0/16", "23.44.55.0/24"
    3. a single special value "IANAPrivateRanges"
Valid values for ThreatIntel.Whitelist.IpAddresses:
    1. Single Ips: "11.22.33.4", "222.21.44.55"
Valid values for ThreatIntel.Whitelist.FQDNs:
    1. full fqdns: "www.microsoft.com"

[2020-01-02 23:13] b564518128 commented on #11647
@MyronFanQiu The example given in the description are under PowerShell style. Please make it in CLI style when working on it. I am available for any questions.

[2020-01-03 01:38] mhhdswb commented on #11751
@ @triage-new-issues[bot]

[2020-01-03 01:40] #11751 closed

[2020-01-03 01:54] bim-msft commented on #11747
@jiasli Please take a look.

[2020-01-03 01:55] bim-msft commented on #11748
@qwordy Please take a look.

[2020-01-03 01:56] bim-msft commented on #11749
@jiasli Please take a look.

[2020-01-03 01:57] bim-msft commented on #11754
@MyronFanQiu Please take a look.

[2020-01-03 01:57] MyronFanQiu commented on #11647
@b564518128 Thanks. This has been added into S164. I will sync with you later.

[2020-01-03 02:03] MyronFanQiu commented on #11754
@abhiramani-iptiq Hello. autoscale rule is a sub-resource of autoscale. There is an argument `--autoscale-name` which is required. You should create a autoscale first by using `az monitor autoscale create`.

[2020-01-03 02:54] #11592 closed

[2020-01-03 04:53] jiasli commented on #8070
Windows PowerShell is aware of this issue and is working on a fix.

Currently if you need to use `$password`, special characters needs to be escaped according to CMD syntax to prevent it from being parsed again by CMD. Thanks for your understanding.

[2020-01-03 05:02] yungezz commented on #10980
hi @ameetkonnur pls try above solution and let us know if it resolves your problem.

[2020-01-03 05:05] yungezz commented on #9780
talking with service team on validation.

[2020-01-03 05:07] yungezz commented on #11268
code ready against private swagger/sdk, communicating with service team to get service readiness date.

[2020-01-03 05:08] yungezz commented on #10876
code ready against private swagger/sdk, communicating with service team to get service readiness date.

[2020-01-03 05:12] yungezz commented on #10728
fix ready, adding tests.

[2020-01-03 05:21] yungezz opened #11758 "[Breadth Coverage] Onboard Azure Blueprints Commands"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
no.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Support azure services:  Azure Blueprints. https://github.com/Azure/azure-rest-api-specs/tree/2f48d306ba63a7ea3c19bd122a274dc465a84e4c/spe

[2020-01-03 05:22] yungezz opened #11759 "[Breadth Coverage] Onboard Azure StreramAnalytics Commands"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
no
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Support StreamAnalytics service.
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations#microsoftstre

[2020-01-03 05:23] yungezz opened #11760 "[Breadth Coverage] Onboard Azure LightHouse Commands"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
no.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Support Azure Lighthouse service
https://docs.microsoft.com/en-us/azure/lighthouse/

**Describe alternatives you've considered**
A clear a

[2020-01-03 05:49] yungezz commented on #10017
thanks @Lelelo1 for the update. We'll close the issue now then since your problem resolved. Pls feel free to create new issue if any other issue met.

[2020-01-03 05:49] #10017 closed

[2020-01-03 06:03] vinoth-cyber90 opened #11761 "Az tag delete/ remove-value fails to remove tags"
Hi Team,

Az tag delete/ remove-value fails to remove tags from the subscription.

Do we have any commands to remove the tags from the resource and resource group level using Azure CLI bash.

Please find the details below

vinoth@Azure:~$ az tag remove-value --name Env --value stage1 --subscription vinoth
The tag cannot be deleted. It is associated to one or more resources. Tag name 'Env' and tag

[2020-01-03 06:14] jiasli commented on #6371
Related to https://github.com/kislyuk/argcomplete/issues/67

For dev, as mentioned [here](https://github.com/Azure/azure-cli/blob/983399fcecf2368a2f3e35f4cddac908a6ecd457/doc/configuring_your_machine.md#preparing-your-machine), Azure CLI registers auto-complete using https://github.com/Azure/azure-cli/blob/983399fcecf2368a2f3e35f4cddac908a6ecd457/src/azure-cli/az.completion.sh#L11

For production,

[2020-01-03 06:25] bim-msft commented on #11761
@zhoxing-ms Please take a look.

[2020-01-03 06:51] jiasli commented on #11749
This is Cloud Shell issue. Could you run with `--debug` and share the output?

To get unblocked, please run `az login` and retry the command.

[2020-01-03 06:55] jiasli commented on #11747
Same as https://github.com/Azure/azure-cli/issues/11042

`interactive` has been updated to 0.4.3. Please try
[code]

[2020-01-03 06:56] #11712 closed

[2020-01-03 06:59] yungezz commented on #10754
hi @LazzariPaolo could you pls try above solution by changing value of `--attach-os-disk`? let us know if met any other problem. thanks.

[2020-01-03 07:01] yungezz commented on #11016
thanks @Lelelo1 for the update. Will close the issue for now then. Feel free to create new one if any issue met or reopen this one. Thanks.

[2020-01-03 07:01] #11016 closed

[2020-01-03 07:41] jiasli commented on #5850
This should be addressed in the next generation of Autorest.

[2020-01-03 07:41] #5850 closed

[2020-01-03 07:46] Juliehzl opened #11765 "[ARM] Expose cross tenant for group deployment command"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
`az group deployment create --aux-tenants`

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative sol

[2020-01-03 07:47] Juliehzl commented on #11765
asked by customer

[2020-01-03 07:52] jiasli commented on #5623
Thank you for the suggestion. You may use `--scope` instead so that the configurations are saved for a specific folder under `.azure/config`, thus preserving the global configurations. For more info, please run `az configure -h`.

[2020-01-03 07:53] alexisP commented on #8149
@lwillek You can also get the element without jq. Here is how I did it:
`az ad group list --filter "displayName eq 'test-group'" --out tsv`

It is not clean because you remain on the usage of list instead of show... but it works.

I agree that the result is of the show command is weird. Using the show command with the exact group should return the result.

[2020-01-03 07:54] panchagnula commented on #9972
closing this based on comments that 2.0.77 works from above plus we have plans to update SSL commands& work on making help better as a part of those changes. Thanks!

[2020-01-03 07:54] #9972 closed

[2020-01-03 08:16] Peppers911 commented on #10879
Tried to us AzureRM with same arguments(changed names to corresponding) and it **worked**.

If someone is having this problem I would suggest using AzureRM **for now**.

[https://docs.microsoft.com/en-us/powershell/module/azurerm.eventgrid/new-azurermeventgridsubscription?view=azurermps-6.13.0](url)

[2020-01-03 08:43] jiasli commented on #7878
`YamlLexer` is already supported: https://pygments.org/docs/lexers/#pygments.lexers.data.YamlLexer.

Moving to Knack

[2020-01-03 08:55] jiasli commented on #7878
`YamlLexer` is already supported: https://pygments.org/docs/lexers/#pygments.lexers.data.YamlLexer

I will create PR to support `yamlc`.

[2020-01-03 09:43] jiasli commented on #7294
I have fixed this issue in PR https://github.com/Azure/azure-cli/pull/10777

[2020-01-03 09:43] #7294 closed

[2020-01-03 09:57] #7198 closed

[2020-01-03 10:00] beastea commented on #11747
I've updated an extension and now it works for me fine.
Thanks a lot for your help!

[2020-01-03 10:00] #11747 closed

[2020-01-03 10:02] jiasli commented on #7829
@fengzhou-msft, could you help verify if `az.completion` is executed correctly on MacOS.

https://github.com/Azure/azure-cli/blob/37b6c8c5d929c7b585a23035744b2efeb62c1db8/scripts/release/homebrew/docker/formula_template.txt#L47

To manually enable auto-complete, please run

[code]

Also see: https://github.com/Azure/azure-cli/issues/6371

[2020-01-03 10:19] kpietralik commented on #10422
Just run into this issue as well. Using:
`azure-cli                         2.0.78

command-modules-nspkg              2.0.3
core                              2.0.78
nspkg                              3.0.4
telemetry                          1.0.4`

[2020-01-03 12:28] zielartgithub commented on #11728
No, I haven't tried to disable monitoring. I use vm scale set with AKS. Will autoscaling work without monitoring feature disabled?

[2020-01-03 13:45] para0056 commented on #11645
We're trying to do this in an Azure DevOps pipeline and we've got some work to do on our end before we can test it out.

[2020-01-03 14:06] kgopi05 commented on #11748
experiencing the same issue ..

[2020-01-03 14:56] haroldrandom commented on #11379
Met the same problem in [build](https://dev.azure.com/azure-sdk/29ec6040-b234-4e31-b139-33dc4287b756/_apis/build/builds/223676/logs/31)

[code]
Intuitively, it's a bug that caused by azdev.

As a workaround, you could use a virtual Python environment to make it work like what CI does now.

I will fix it with the latest azdev release.

[2020-01-03 15:43] Kalyan-Alamuru commented on #11749
I reran the module again and it worked fine, Only difference this time is I ran Terraform Destroy command to delete the plan and then ran az ad sp create command and it worked fine, It doesn't really explain what happened !!!

[2020-01-03 16:50] SamaraSoucy-MSFT opened #11767 "az vm image list can't find publisher"
Describe the bug

**Command Name**
`az vm image list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm image list --offer {} --all --location {} --output {} --debug`
(may only reproduce with the exact 'az vm image list --offer UbuntuServer

[2020-01-03 17:10] ajklotz commented on #11646
Any update?

[2020-01-03 17:25] stevengum commented on #11697
This is true @maxnorth, thank you for raising this issue! Per the [Command Guidelines](https://github.com/Azure/azure-cli/blob/4f89b707cc28658d41b38a1e03bb240894975f15/doc/command_guidelines.md#standard-command-types) `create` commands should be idempotent. I'll add this work to our planning for the upcoming sprints.

[2020-01-03 17:54] palma21 commented on #11728
Sorry I'm a bit confused. What are you trying to do?

On the title and from the error I see you are trying to disable the omsagent aka monitoring.

On the CLI the command for that is `az aks disable-addons -a monitoring`

When you say autoscaling you mean Horizontal Pod Autoscaling or Cluster Autoscaling, none of this depends by default on Azure Monitor metrics, thought you can configure HPA to us

[2020-01-03 19:09] noaheh opened #11768 "AKS addons dashboard enable failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Attempting to enable dashboard, which appears to be disabled by default, generates the traceback

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

Build new AK

[2020-01-03 19:46] rcreddy435 commented on #10879
@Mike: Did you check this url? https://markheath.net/post/managing-azure-functions-keys-2

[2020-01-03 21:27] balajivenkataraman opened #11769 "AKS-Dashboard add-on Fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons --addons {} --resource-group {} --name {}`

##

[2020-01-03 21:30] balajivenkataraman opened #11770 "AKS - Cant browse to dashboard and enable-addons dashboard fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --resource-group {} --name {}`

## Expected Behavior

## Env

[2020-01-03 22:03] ajklotz commented on #11718
Any chance this might get fixed soon?

[2020-01-03 22:45] MauricioP92 opened #11771 "az keyvault set-policy: Requesting for an optional parameters as required"
As per this documentation, for az keyvault set-policy command, the --resource-group -g parameter should be optional, but for customer it's returning an error asking for this parameter as a required parameter in order to accept the command.
Using the latest version of CLI 2.0.78.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

[2020-01-03 23:26] ritwikbasu opened #11772 "CLI support for New Vpn gateway Generations"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Microsoft.Network

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
https://github.com/Azure/azure-rest-api-specs/pull/7089

This PR introduces a new optional parameter **vpnGatewayGeneration** with possi

[2020-01-04 00:34] basxib commented on #8650
I'm still experiencing this error when trying to create a container using a yaml file

[2020-01-04 02:22] yonzhan commented on #11765
add to S164.

[2020-01-04 02:23] HeShaobo1 commented on #10869
hi all,

you can use Azure PowerShell by solving this probem.

$requestHeaderConfiguration = New-AzApplicationGatewayRewriteRuleHeaderConfiguration -HeaderName "Strict-Transport-Security" -HeaderValue "max-age=3600"
$actionset = New-AzApplicationGatewayRewriteRuleActionSet -RequestHeaderConfiguration $requestHeaderConfiguration
$rewriterule = New-AzApplicationGatewayRewriteRule -Name hsts -ActionS

[2020-01-04 04:37] bim-msft commented on #11767
@qwordy Please take a look.

[2020-01-04 04:41] bim-msft commented on #11771
Thanks for your feed back, working on it.

[2020-01-04 04:43] bim-msft commented on #11772
@MyronFanQiu Please take a look.

[2020-01-04 11:32] yonzhan commented on #11772
add to S165.

[2020-01-04 11:41] yonzhan commented on #11760
in S164.

[2020-01-04 11:41] yonzhan commented on #11759
in S165.

[2020-01-04 11:41] yonzhan commented on #11758
in S164.

[2020-01-05 09:15] Kalyan-Alamuru opened #11775 "Unable to Create Service Prinicipal for Ansible Control Machine in"
I'm keep getting following error when I try to run the following to create service principal for Ansible Control Machine as part of Azure Online Learning Module  Exercise - Run an Ansible playbook from a control machine.

Please note that I'm running this command as part of my Organisation Login which has already been integrated with and chose valid subscription for my organisation while I'm runni

[2020-01-05 12:53] yungezz commented on #11759
starts from S164.

[2020-01-06 01:29] bim-msft commented on #11775
@jiasli Please take a look.

[2020-01-06 02:00] jiasli commented on #11749
@Kalyan-Alamuru, we do see random 400 error from Cloud Shell. We are working with Cloud Shell team on this issue.

If the issue happens again, please provide `--debug` output in this thread. Thanks.

[2020-01-06 02:09] yonzhan commented on #11775
add to S165.

[2020-01-06 02:10] qwordy commented on #11601
Sorry. Currently, Azure CLI doesn't support this feature.

[2020-01-06 02:16] Juliehzl commented on #11718
@Tiano2017 do you have any idea about this feature?

[2020-01-06 02:28] qwordy commented on #11767
I have reproduced the bug. Using '--debug', you can see this command can get lots of images, but in the end of the output, there is an error when retrieving image info from publisher Symantec.test.ru4mp1.latest. I think I may need to add some fault tolerance mechanism.

[2020-01-06 02:38] Juliehzl commented on #11744
Hi @rampach thanks a lot for your feedback. Because you cannot access blobs in Portal, it should not a CLI issue and I cannot reproduce your issue in my local cli.
Add service team for looking into this.

[2020-01-06 02:58] bim-msft commented on #8805
@justSteve Hi, has your problem been resolved?

[2020-01-06 03:01] bim-msft commented on #11565
Also, according to the title `Also your command for backup in azure cli are missing a backup option for key-vault certificates`, this issue should not be labeled as `KeyVault`, it should be labeld as `Recovery Services Backup`, relabeled.

[2020-01-06 03:22] jiasli commented on #11775
Similar to https://github.com/Azure/azure-cli/issues/11749

Could you run with `--debug` and share the output? To get unblocked, please run `az login` and retry the command or use Azure CLI on a local machine.

[2020-01-06 05:14] qwordy commented on #11578
@ElanShudnow Do we solve your issue?

[2020-01-06 05:41] Juliehzl commented on #10382
dupe of #3982

[2020-01-06 05:47] Juliehzl commented on #3982
Hi @elibarzilay, thanks a lot for your feedback. Have you tried --dryrun flag to see the summary of target files?
I will add more detailed description and additional examples for --pattern usage. If you have any suggestion, feel free to let me know.

[2020-01-06 06:52] Kalyan-Alamuru opened #11779 "Unable to create Key-Vault"
I'm unable to create Keyvault as part of Learning Module :Exercise - Deploy Azure resources in Azure Pipelines by using an Azure Resource Manager template

I'm running following command in Azure Bash Cloud Shell. I was encountering same issues when I try to run az create commands for Service Principal as well.

az keyvault create \
  --name tailspin-vault-$UNIQUE_ID \
  --resource-group tailspin-s

[2020-01-06 06:56] mit2nil opened #11780 "get_raw_token should take tenant name/id as input"
Current interface as shown below takes only subscription and resource as inputs. However, auth token are specific to a tenant and not a subscription. Lack of tenant input also complicates design for scenarios requiring auth token for tenants with no subscription.

`def get_raw_token(self, resource=None, subscription=None):`

[2020-01-06 07:02] Kalyan-Alamuru commented on #11779
Following is the Debug Out for Reference 👍

az keyvault create \

Command arguments: ['keyvault', 'create', '--name', 'tailspin-vault-28349', '--resource-group', 'tailspin-spacegame-web-rg', '--enabled-for-template-deployment', 'true', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x7f80cf5f5d08>, <function OutputProdu

[2020-01-06 07:06] bim-msft commented on #11771
@MauricioP92 Hi, I just cannot reproduce this scenario. For me, the `--resource-group-id` is always not required when you specify the parameter `--vault-name` or `-n`, here is my screenshot:
![image](https://user-images.githubusercontent.com/3250203/71801075-ca90c600-3094-11ea-9062-bc0cdd65370d.png)

I'm using the same version as yours:

[code]

Could you please share your detailed error message?

[2020-01-06 07:15] Kalyan-Alamuru commented on #11775
I'm still getting same error, As requested in above post I'm giving here the command out with Debug details, Please have look ..

ARM_CLIENT_SECRET=$(az ad sp create-for-rbac \

Command arguments: ['ad', 'sp', 'create-for-rbac', '--name', 'http://ansible-sp-28349', '--role', 'Contributor', '--scopes', '/subscriptions/17f914ed-4861-452d-a185-0fd34aabca49', '--query', 'password', '--output', 'tsv',

[2020-01-06 07:30] Juliehzl commented on #10382
Just as what @bacongobbler said, the --pattern in azure cli is based on [fnmatch](https://docs.python.org/3.7/library/fnmatch.html) library. What --pattern can match is limited, but I will add more information and examples for the usage.

[2020-01-06 07:45] qwordy commented on #11533
Could you share the complete commands? What extension are you using? How do you create the vmss and set the extension? Thanks.

[2020-01-06 07:59] fengzhou-msft commented on #4724
Individual component packages are deprecated from azure-cli 2.0.68 (July 2, 2019) when they are all consolidated into one single `azure-cli` package. They will no longer be updated. Please use the `azure-cli` RPM package on openSUSE. Thanks.

[2020-01-06 07:59] #4724 closed

[2020-01-06 08:06] Juliehzl commented on #9407
Given no response for a long time, I will close the issue and if you still have problem, feel free to reopen it  or create a new one.

[2020-01-06 08:06] #9407 closed

[2020-01-06 08:12] #5981 closed

[2020-01-06 08:15] bim-msft commented on #11780
@jiasli Please take a look.

[2020-01-06 08:20] bim-msft commented on #11779
Similar to #11749
@jiasli Hi, are there any updates from Cloud Shell team?

[2020-01-06 08:24] bim-msft commented on #11779
@Kalyan-Alamuru To unblock yourself quickly, you can have Azure CLI installed on your local machine and try it again.

[2020-01-06 08:27] yonzhan commented on #11780
add to S165.

[2020-01-06 09:00] yonatan-shorani opened #11781 "'NoneType' object is not iterable on az aks list"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks list`

## Expected Behavior

## Environment Summary
[code]
## Additio

[2020-01-06 11:30] rampach commented on #11744
Hello @Juliehzl today i've tested again the cli command, and everything is working correctly. I'm not sure whether this can be related to something like network issue, but now the Portal UI is showing the information as well

[2020-01-06 14:16] Kalyan-Alamuru commented on #11779
@bim-msft  - Thank you very much for your help. Yes it did worked when I installed Azure CLI locally and ran through GIT Bash Shell. I'm able to create the Key Vault successfully and complete the exercise.

[2020-01-06 14:17] Kalyan-Alamuru commented on #11779
But  I would like to know how can we resolve the Cloud Shell Issue?

[2020-01-06 15:18] stevenkaras opened #11783 "az network nic ip-config lacks information"
## Describe the bug

**Command Name**
`az network nic ip-config show`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az network nic ip-config show --ids {}`

## Expected Behavior

A fair assumption is that a command that displays information regarding a resource will include sufficient inf

[2020-01-06 16:29] jluk commented on #11770
The error is stating you have specified a cluster in an RG that does not exist. Please review the command that it is referencing existing objects.

[2020-01-06 16:29] #11770 closed

[2020-01-06 16:29] jluk commented on #11769
This is a duplicate of #11768

[2020-01-06 17:25] HassanAlmanasrah commented on #11615
I was doing test today and got the same issue in Azure Stack. Could you advise if the constraint was put in place for minimum api or it is still working with api 2019-03-01-hybrid for VM provisioning?

[2020-01-06 17:28] jluk commented on #11781
Looking into this.

Pasting CLI lines reported in error:
https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/acs/custom.py#L3043

[2020-01-06 17:33] jluk commented on #11769
Reopening to capture the error reported from a separate cmd / trigger

[2020-01-06 17:34] jluk commented on #11769
Related to #11456

[2020-01-06 17:36] jluk commented on #11768
Related to #11456

[2020-01-06 17:38] elibarzilay commented on #3982
@juhee0202: first, a `dryrun` flag is useful, but shouldn't come at the expense of documenting things.  Second, I think that it should be very clear how the match is done, see my comments in the original issue text.  For example, saying that `*` matches anything *including* `/` is useful -- but would `?` match `/` too?  What about `[!x]`?  Will there be a match if the pattern matches *any* part of

[2020-01-06 17:38] davidsantiago-bib commented on #11652
Same issue here.

Command executed from GitLab-CI job:
`az graph query -q "where type =~ 'microsoft.compute/disks' | where properties.diskState == 'Unattached' | project subscriptionDisplayName, resourceGroup, name, properties.timeCreated, properties.diskSizeGB" --include displayNames --query '[].[subscriptionDisplayName, resourceGroup, name, properties_timeCreated, properties_diskSizeGB]' --subsc

[2020-01-06 18:54] bganapa commented on #11615
@qwordy I thought the fix was in immediately and never got shipped in a released build. Is that not the case?

[2020-01-06 19:29] Tiano2017 commented on #11718
@ajklotz did you use the "complete" mode when you submit the template deployment? A "complete" mode deployment deletes all resources that were not specified in the template from the resource group.

[2020-01-06 19:39] ajklotz commented on #11718
I did not use complete mode.

[2020-01-06 20:03] jeroenterheerdt commented on #5490
@yonzhan this does not require service attention. please do not re-add the label.

[2020-01-06 20:07] jeroenterheerdt commented on #10413
closing due to lack of activity.

[2020-01-06 20:07] #10413 closed

[2020-01-06 20:23] jeroenterheerdt commented on #6011
@payiAzure - please respond by end of this week or we will proceed to close this issue.

[2020-01-06 20:26] payiAzure commented on #6011
please go ahead to close it.

[2020-01-06 20:29] jeroenterheerdt commented on #6011
thanks!

[2020-01-06 20:29] #6011 closed

[2020-01-06 20:31] jeroenterheerdt commented on #10001
hi @SeaDude - please respond by 1/10 otherwise we will go ahead and close this issue.

[2020-01-06 20:52] jkewley commented on #10234
Pinging this.

It looks like the graph API now returns displayName and a hint for a passwordCredential in the portal using `https://graph.windows.net/myorganization/applicationsByAppId/<appId>?api-version=2.0` whereas `az ad app list` and `az ad sp credential --id xxx` return a subset of the credential properties. Would be nice to have access to hint, displayName, and createdOn properties for admi

[2020-01-06 21:53] jeroenterheerdt commented on #10629
@archmangler please reply by 1/10 otherwise we will proceed to close this issue.

[2020-01-06 23:25] MauricioP92 commented on #11771
Hi, I am also able to reproduce this without issues but my customer is receiving the following error message: "Microsoft.KeyVault/vaults/KVname not found within subscription" when doing it from PowerShell and "Resource group RGname could not be found" when he does it from the Azure Portal CLI. The thing is this resource group was deleted about two months ago and for some reason it's still pointing

[2020-01-07 01:20] yonzhan commented on #5490
@jeroenterheerdt  SQL commands are not taken over and owned by Azure CLI team and that is the reason we marked this issue as Service Attention. Please let us know if it is not the case.

[2020-01-07 03:32] SeaDude commented on #10001
Hello,
Here is the script. Last line is the one in question.
[code]

[2020-01-07 04:25] nofunatall commented on #11190
SAS tokens generated from az cli don't work using WGET or AZCOPY
`#!/bin/bash
EXPIRE=$(date -u -d "1 day" '+%Y-%m-%dT%H:%MZ')
ACCOUNT="some_account"
CONTAINER="some_container"
SAS=$(az storage account generate-sas --permissions cdlruwap --account-name "$ACCOUNT" --expiry "$EXPIRE" --services b --resource-types sco)
#SAS=$(az storage container generate-sas --account-name "$ACCOUNT" --expiry "$EXPIR

[2020-01-07 06:28] ctolkien opened #11785 "Cannot add secrets to virtual machine"
## Describe the bug

**Command Name**
`az vm secret list`

**Errors:**
[code]

- _Put any pre-requisite steps here..._
- `az vm secret list --name {} -g {}`

## Expected Behavior
Should work?

## Environment Summary
[code]
## Additional Context

[2020-01-07 06:36] yungezz commented on #11203
HI @avinashakka the feature is released in az cli 2.0.79 version. Pls try it and let us know your feedback by creating new issue. thanks.

[2020-01-07 06:36] #11203 closed

[2020-01-07 07:27] mit2nil commented on #11780
@jiasli @yonzhan Is it possible to pull this into S164?

[2020-01-07 08:11] lvlie opened #11786 "Issue with ubuntu apt repo on Azure Pipelines hosted ubuntu-latest (xenial)"
**Describe the bug**
As of today I am receiving:
[code]

When trying to install a random package on an "ubuntu-latest" Microsoft hosted Azure pipeline host (e.g. "sudo apt update && sudo apt install qemu"). Not sure if this is an issue with the repo or with the Azure pipeline host itself.

**To Reproduce**
sudo apt update && sudo apt install qemu (also after apt-get clean)

**Expected behavior**
I

[2020-01-07 08:21] h2floh commented on #11786
Get it for xenial (16.04) and bionic (18.04) as well. There was an update to the packages just some hours ago, before it worked for me.

[2020-01-07 08:30] qwordy commented on #11615
Oh. Sorry. I didn't mention when will the new version be released. The latest version 2.0.79 has been released. It contains the fix.

[2020-01-07 08:32] HassanAlmanasrah commented on #11615
Thanks. Just upgraded to 2.0.79 and successfully deployed VM.

[2020-01-07 08:34] bim-msft commented on #11785
@qwordy Please take a look.

[2020-01-07 08:36] bim-msft commented on #11786
@fengzhou-msft Please take a look.

[2020-01-07 08:37] K-Visscher commented on #11786
We're also having the same error over here on xenial (16.04)
[code]

[2020-01-07 08:57] dhbl-in opened #11788 "While getting Azure File Shares"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage share list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage share list --account-name {} --account-key {}`

## Expe

[2020-01-07 09:03] bim-msft commented on #11788
@Juliehzl Please take a look.

[2020-01-07 09:08] baruchiro commented on #11786
Same in my Github Action:

https://github.com/baruchiro/israeli-bank-scrapers-desktop/runs/377085755

[2020-01-07 09:13] prashantbhutani90 commented on #11786
Seeing the same in my project.

[2020-01-07 09:31] fengzhou-msft commented on #11786
We'are contacting internal teams to resolve this issue. Please download the package and install it locally for temp fix:
[code]

[2020-01-07 09:39] fengzhou-msft commented on #11786
The repo gets updated correctly and it should work now.

[2020-01-07 10:06] baruchiro commented on #11786
Still failed:

https://github.com/baruchiro/israeli-bank-scrapers-desktop/runs/377185914#step:4:43

[2020-01-07 10:08] GeeWee commented on #10673
I have also had to create custom workarounds for this error.

[2020-01-07 10:18] yonzhan commented on #11788
add to S165.

[2020-01-07 11:05] yonzhan commented on #11780
@mit2nil  add to S164.

[2020-01-07 11:10] fengzhou-msft commented on #11786
bionic is also fixed. Please try again.

[2020-01-07 11:38] lvlie commented on #11786
Confirmed for xenial at least. I assume you will also fix the root cause to prevent further occurrences, but thats not for this issue of course 👍

Thanks for the help!

[2020-01-07 11:38] #11786 closed

[2020-01-07 11:42] zielartgithub commented on #11728
This is an answer for my question. I will disable monitoring because Cluster Autoscaling not depends on Azure Metric by deafult.

[2020-01-07 11:42] #11728 closed

[2020-01-07 12:04] jjinxn opened #11789 "Add support for Azure CDN Rules Engine"
**Is your feature request related to a problem? Please describe.**
Some of our sites need custom headers to be set. At the moment we are using Rules Engine in CDN profiles to achieve that. This is manual and time consuming. A much better option would be for Azure CLI to support controlling rules engine from the code.

**Describe the solution you'd like**
We would like az to support rules engine so

[2020-01-07 12:58] JvDrunen opened #11790 "Request for latest version"
The publish command gives an error if the version is already in place in the artifacts, is there a way to test the latest version with azure cli (prior trying to upload)?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ae588e5-6e79-0a3e-56fb-78976019b011
* Version Independent ID: 70e209c8-948c-8baf-3472-e1920c498a2c
*

[2020-01-07 13:33] bim-msft commented on #11790
@yonzhan @yungezz This is the first time we meet an `artifacts` issue, I just created the label but I don't know who is in charging this service now, do you know?

[2020-01-07 14:11] yungezz commented on #11790
@bim-msft thanks for taking care of it. Label is defined globally cross repos. let's do it offline.

[2020-01-07 17:00] brandonh-msft commented on #11590
[code]

[2020-01-07 17:29] jluk commented on #11781
As mentioned we are looking into this, replying so the bot sees our ack.

[2020-01-07 17:59] jeroenterheerdt commented on #5490
@yonzhan it is the case but as you can read above @jaredmoo says: "This issue was filed assigned to myself and does not need urgent attention.".

[2020-01-07 18:19] jeroenterheerdt commented on #10001
@SeaDude you have a comment just above `--service-objective Basic`. This is will break your sh script and will treat `--service-object Basic` as a new command - as per the error message: `./createAzureSQLServerAndDB.sh: line 56: --service-objective: command not found`. Simply removing the comment makes the command work as expected.

[2020-01-07 18:19] #10001 closed

[2020-01-07 19:18] dariagrigoriu commented on #11752
Will update once the latest SDK is available (PR pending).

[2020-01-07 19:20] fabiocav commented on #11746
This is a duplicate of https://github.com/Azure/azure-cli/issues/11349
Please follow that issue for updates.

[2020-01-07 19:20] #11746 closed

[2020-01-07 19:32] fabiocav commented on #11698
Removing the `Service Attention` label as @panchagnula is responding to this issue.

[2020-01-07 22:43] b564518128 opened #11793 "Adding ManagementPublicIp to Azure Firewall"
**Resource Provider**
Microsoft.Network

**Description of Feature or Work Requested**
Adding a new optional feature called "ManagementIpConfiguration" to Azure Firewall. Setting this feature requires that the VNet in which the firewall is deployed to has a Subnet with name "AzureFirewallManagementSubnet"

We will use PowerShell to showcase the use case of the feature
1. Creating a firewall with th

[2020-01-07 22:44] b564518128 commented on #11793
Please contact @iatodoro for more details

[2020-01-08 01:31] MyronFanQiu commented on #11783
@stevenkaras Hello. Which kind of identifying information do you want? Do you mean resource id of this NIC?

[2020-01-08 01:41] MyronFanQiu commented on #11783
@stevenkaras If you want to get NIC for a public ip, could you try `az public-ip show`?

[2020-01-08 02:46] bim-msft commented on #11793
@MyronFanQiu Please take a look.

[2020-01-08 06:05] zhoxing-ms commented on #10038
Because it hasn't been replied for a long time, I'll close the issue first. If you have any other questions, please feel free to reopen it or create a new one.

[2020-01-08 06:05] #10038 closed

[2020-01-08 07:57] stevenkaras commented on #11783
@MyronFanQiu the resource id of the NIC associated with the ip configuration would be ideal so it's possible to discover the specific NIC without needing to list all the NICs in a resource group.

The output of `az network public-ip show` does not include the NIC, only the ip configuration.

[2020-01-08 07:57] yonzhan commented on #11698
@fabiocav normally if the commands are not owned by Azure CLI team, we will mark the Service Attention label.

[2020-01-08 08:06] haroldrandom commented on #11399
I would suggest this link https://github.com/Azure/azure-cli/tree/master/doc/extensions be more official even though they point to the same page eventually.

[2020-01-08 08:08] #11647 closed

[2020-01-08 09:38] bim-msft commented on #11771
@MauricioP92 You mean the Key Vault can be accessed but its resource group was deleted long time ago?
For the normal case (the vault and its resource group are both exist), you don't have to specify `--resource-group` or `-g`, it's optional.

[2020-01-08 09:41] bim-msft commented on #8805
Closing this due to long time no response, you can kindly reopen the issue if there are any updates.

[2020-01-08 09:41] #8805 closed

[2020-01-08 14:04] subashsivaji opened #11799 "Wrong example for remove exclude"
Explanation is for exclude and example is for include. Change the following command
_az storage remove -c MyContainer -n path/to/directory --recursive --include "foo*;*bar"_
to
_az storage remove -c MyContainer -n path/to/directory --recursive --exclude "foo*;*bar"_

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b8c4e4

[2020-01-08 19:30] ajklotz commented on #11718
Please consider getting a fix in a upcoming milestone, this issue is blocking us from using ARM templates to deploy resources to Azure in our CI/CD pipeline. I started creating ARM templates for our Azure Functions and planned to have the entire infrastructure deployed via ARM template. It is discouraging to see that my first ARM template is running into this issue and I'm worried that every other

[2020-01-08 19:44] panchagnula commented on #11607
thanks for confirming @ajklotz . Closing this @rick-hayek please re-activate or file a new issue if this doesn't solve the issue you filed. Thanks!

[2020-01-08 19:44] #11607 closed

[2020-01-08 21:34] nofunatall commented on #11190
I can get WGET working by running sed on the SAS token to convert %3A to :

So it seems like this issue might be with azcopy not az cli
Related azcopy issue:
https://github.com/Azure/azure-storage-azcopy/issues/122

[code]

[2020-01-09 01:45] ramankumarlive opened #11801 "Allow customers to encrypt existing disks and snapshots with customer managed keys via CLI"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Disk Resource Provider

**Description of Feature or Work Requested**

Allow customers to encrypt existing disks and snapshots with customer managed keys.

Conceptual doc: https://microsoft.sharepoint.com/:w:/t/MDSSEwithCMKprivatepreview/Ebp9PMK4gPFHhGG8OVgLB3YBi7yazrti-EGB8MpBWMm0RA?e=juMM5h

Design docs:
https://mi

[2020-01-09 02:38] yonzhan commented on #11799
add to S165.

[2020-01-09 02:40] jsntcy commented on #11799
@Juliehzl, @jsntcy , please help take a look.

[2020-01-09 02:41] jsntcy commented on #11801
@qwordy , please help take a look.

[2020-01-09 03:34] jiasli commented on #11779
@Kalyan-Alamuru, this may be a complicated issue on Cloud Shell's MSI endpoint. Cloud Shell team is actively working on it. As a workaround, you may manually run `az login` to get unblocked.

[2020-01-09 05:56] jiasli commented on #8102
Closing due to no response. If the issue happens again, please reply to this issue or create a new one.

[2020-01-09 05:56] #8102 closed

[2020-01-09 05:57] #7996 closed

[2020-01-09 07:19] haroldrandom commented on #2824
@rohinkoul Could your some context about what is multiple $ORIGIN.
I haved searched a lot no document about this.

[2020-01-09 07:22] zhusijia26 commented on #10242
@Juliehzl could you please provide info about what action items are needed before we close the issue?

[2020-01-09 07:23] Juliehzl commented on #11190
@nofunatall Thanks a lot for your feedback. If we have time, CLI team can consider adding time details when user only specify the date for sas token generation to satisfy azcopy requirement.

[2020-01-09 07:25] Juliehzl commented on #5575
Any update here? @amishra-dev

[2020-01-09 08:36] qwordy commented on #11801
I find that there is another missing command, `snapshot create` with disk encryption set support.

[2020-01-09 08:42] haroldrandom commented on #7706
@daxianji007  I guess currently you can click the `edit` link. Which will redirect you to the Github repo source file.
![image](https://user-images.githubusercontent.com/14357159/72048598-1e4f1980-32f8-11ea-8090-e0ae79cc88dc.png)

@layog If you want to submit your sugguestion to help content please click the pencil icon button to fire a PR.
![image](https://user-images.githubusercontent.com/143571

[2020-01-09 08:42] #7706 closed

[2020-01-09 10:09] rokeno opened #11806 "Cannot use az login to get my subscriptions"
### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az login`

## Expected Behavior

A clear and concise description of what you expected to happen.

#

[2020-01-09 11:26] urosmil commented on #10295
Hi, deploying managed instance has specific network requirements that can be found here. https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-connectivity-architecture#network-requirements

In order to prepare your vnet and subnet for managed instance deployment, you can follow instructions from this article
https://docs.microsoft.com/en-us/azure/sql-database/sql-datab

[2020-01-09 11:28] urosmil commented on #10470
Hi, deploying managed instance has specific network requirements that can be found here. https://docs.microsoft.com/en-us/azure/sql-database/sql-database-managed-instance-connectivity-architecture#network-requirements

In order to prepare your vnet and subnet for managed instance deployment, you can follow instructions from this article as article that you have linked is not maintained anymore
htt

[2020-01-09 12:19] IanKemp opened #11807 "Add switch to "az webapp config appsettings set" to allow modification of the current settings, instead of overwriting all"
**Is your feature request related to a problem? Please describe.**
`az [web|function]app config appsettings set --settings setting1=value1[,setting2=value2]` is sub-optimal because it overwrites all current app settings with whatever's specified, meaning that any settings that are not specified by the command are **deleted**. This is not the common use-case: it's far more likely that a user will w

[2020-01-09 13:42] spooks1982 commented on #11456
Any update to this, still seeing this error.

[2020-01-09 14:45] andyzhangx commented on #11456
@mboersma any idea about this error? `instance.addon_profiles['omsagent']` returns nil?

https://github.com/Azure/azure-cli/blob/ad8d70f5ea30bd0b3d271de360c190cd8de13578/src/azure-cli/azure/cli/command_modules/acs/custom.py#L1843-L1844

https://github.com/Azure/azure-cli/blob/ad8d70f5ea30bd0b3d271de360c190cd8de13578/src/azure-cli/azure/cli/command_modules/acs/custom.py#L2485-L2488
[code]

[2020-01-09 15:26] naioja opened #11808 "Option to set default output format of the cli"
## Describe the bug

**Command Name**
`az configure --defaults output = table`

**Errors:**
It's impossible to set the default output of the az cli command.
For example I want by default that all outputs to be in table format rather than json.
I'm expecting to have an option something like output = table in the configuration file under defaults.

## Environment Summary
[code]

[2020-01-09 15:36] SanderHolvoet commented on #10856
This didn't work for me. Appending `2>null` to `--output none` results in the following output

[code]

[2020-01-09 15:51] skidrow88 opened #11809 "Get the list of the Global Administrator role"
**Problem**
The `az cli role assignment list` command do not allow to get Directory Roles affected to AD users such as "Global reader" or "Global Administrator".  (see https://docs.microsoft.com/en-us/azure/active-directory/users-groups-roles/directory-assign-admin-roles)

**The expected solution**
Get the members of any Directory Roles with azure-cli

**The current alternative**
It seems only Pow

[2020-01-09 19:03] #9087 closed

[2020-01-09 20:03] andrewboxer commented on #7489
I import a pkcs12 certificate via the cli but cannot get it back?
why use key vault for this at all?
I'm going to store my certs as blobs.
This is not a vault, if I put something into a vault I expect to get it back exactly as it was when I put it in.

[2020-01-09 20:11] ahamad-MS commented on #11589
As mentioned earlier, we are addressing this issue as part of our next cli work and customer should be unblocked by using create with same resource name to update the advanced filter. Per our triage policy, we are closing this issue due to lack of response from customer. Please feel free to contact us again if mitigation step is not working for you for whatever reason or for any other issues. than

[2020-01-09 20:11] #11589 closed

[2020-01-09 20:40] nofunatall commented on #11190
This is a snippet of a working example.
[code]

[2020-01-09 22:03] ITEMuyideen opened #11812 "Optional Parameters"
Using bash certain create command and api calls might require location . in this instance, I could not create the nic , until I was advised to use location, if so kindly update. Thank you

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 29b6bb22-cb91-c7f8-995e-134d0fe5627f
* Version Independent ID: a92f24e8-36a0-808b-a9e

[2020-01-09 22:18] kulkarnisonia16 opened #11813 "[Functions] Support for creation Python 3.8"

[2020-01-10 01:16] v-Ajnava commented on #11696
@mkyukov, we were not able to reproduce at our end. we are getting the keys . Can you please send the command you are using (without the parameter values)

[2020-01-10 01:44] jsntcy commented on #11812
@MyronFanQiu , please help take a look.

[2020-01-10 01:45] jsntcy commented on #11809
@jiasli , please help take a look.

[2020-01-10 01:46] jsntcy commented on #11808
@jiasli , please help take a look.

[2020-01-10 01:49] jsntcy commented on #11806
@jiasli , please help take a look.

[2020-01-10 01:58] MyronFanQiu commented on #11812
@ITEMuyideen Hello. I just tried `az network nic create`. We don't make `--location` as a required parameter. If you don't provide it, it will use the location of your resource group as default. Did I misunderstand your issue? I don't think we should update `az network nic` command.

[2020-01-10 03:10] zhoxing-ms commented on #9342
@alexbenedek Why would you want to add the managedBy param when creating a Resource Group?

[2020-01-10 05:26] jiasli commented on #10856
For PowerShell, please use [`$null`](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_automatic_variables?view=powershell-6#null) as the destination of the redirection:

[code]

[2020-01-10 05:26] yungezz commented on #10754
hi @LazzariPaolo any update? we'll close the issue in one week if no update. Feel free to create new issue if any other problem. thanks.

[2020-01-10 06:13] #11663 closed

[2020-01-10 07:21] Juliehzl commented on #11190
I see. Thanks 😊

[2020-01-10 08:32] zezha-msft commented on #5575
Hi @Juliehzl, please correct me if I'm wrong, does the `delete-batch` command perform a listing operation and then invoke delete command on each blob?

If yes, I would suggest to implement this feature on the client side, since the last-modified-time of each blob is available and the dry run can make the comparison. AFAIK, no dry run command exists on the service end, and there doesn't seem to be

[2020-01-10 08:46] qwordy commented on #4698
I test the following commands. There is no error. Could you share the complete sequence of commands you run?
[code]

[2020-01-10 09:00] SanderHolvoet commented on #10856
That fixed it, thanks.

[2020-01-10 09:17] Juliehzl commented on #5575
@zezha-msft you are really right. But for the list operations, [list_blobs](https://github.com/Azure/azure-storage-python/blob/master/azure-storage-blob/azure/storage/blob/baseblobservice.py#L1265) in SDK doesn't accept precondition arguments, such as if_modified_since.
In this way, we cannot collect blobs with precondition arguments on the client side. If you know some ways to do that, please let

[2020-01-10 09:30] #11560 closed

[2020-01-10 09:30] 5sfayas commented on #11560
IT worked

[2020-01-10 09:37] ameetkonnur commented on #10980
Thanks for getting back on this. I tried the above but it gives the error below. This VMSS is of an AKS cluster

All IPConfigurations on a Network Interface should reference the same set of Application Security Groups. IPConfiguration ipconfig2 references ASG(s) , wheras IPConfiguration /subscriptions/<>/resourceGroups/<>/providers/Microsoft.Compute/virtualMachineScaleSets/<>/updateGroups/<>/netwo

[2020-01-10 09:40] zhoxing-ms commented on #9067
We are already upgrading this issue, you can work around it for a while in this way:
`az rest --method get --uri "https://management.azure.com/providers/Microsoft.Management/managementGroups/{managementGroups}/providers/Microsoft.Authorization/policyAssignments?api-version=2019-09-01&$filter=atScope()"`

[2020-01-10 09:46] zhoxing-ms commented on #9067
@pilor  Please pay attention to this issue. After upgrading the service and SDK, please let us know. Thanks

[2020-01-10 11:56] Carolyreis opened #11816 "Fail Create Boot Teams"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group deployment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group deployment create --name {} --resource-group {} --te

[2020-01-10 13:30] FirePho opened #11818 "urllib3.PoolManager does not use proxy settings"
**Describe the bug**
Unable to execute commands

- az webapp log
- az webapp create-remote-connection

being behind the proxy server

**To Reproduce**
az webapp log tail -g _resource-group_ -n _webapp-name_

**Expected behavior**
I expect to see the tail of the log

**Environment summary**
HTTP_PROXY=http://localhost:3128
HTTPS_PROXY=https://localhost:3128

**Additional context**
Both commands use

[2020-01-10 14:14] davqu opened #11819 "az acr login and az feedback not working on Fedora31"
[~]$ az acr login
The command failed with an unexpected error. Here is the traceback:

No module named '_cffi_backend'
Traceback (most recent call last):
  File "/usr/lib64/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocation.execute(args)
  File "/usr/lib64/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line 528, in execute
    s

[2020-01-10 18:30] pilor commented on #9067
ack

[2020-01-10 19:51] zezha-msft commented on #5575
Hi @Juliehzl, the last-modified-time is returned for every blob with listing operations, so the comparison can be made on the client side.

Example:
[code]

[2020-01-10 19:57] zezha-msft commented on #5575
It doesn't make much sense for the service to provide a dry-run operation, since the same result is also not guaranteed when the user eventually makes the real call.

Example:

1. Cx makes dry-run request against service
2. Service says the blob would be deleted if this was a real request
3. Cx makes real request against service
4. The blob now has a lease (or any other state), and delete fails

T

[2020-01-10 22:07] drdamour commented on #9250
for whatever reason i'm gettin ghte Unsupported resource type in powershell...but in cmd.exe it works fine.

pwsh equiv:
[code]

i think it has something to do with escaping in pwsh, didn't sniff the traffic yet

[2020-01-10 22:32] dariagrigoriu commented on #11813
Capturing a note to indicate Python 3.8 would not be intended to be the default yet.

[2020-01-10 22:47] Arnavion commented on #9903
To give some urgency to this issue, note that it breaks scripting. For example piping the result through `jq` causes `jq` to complain because the trailing escape sequence is not valid JSON.

(Workaround: `az ... | sed -e 's/\x1b\[0m$//' | ...`)

[2020-01-10 22:53] drdamour commented on #9250
well crap it' sthe $link which resolves in powershell to nothing...so escape it and it'll work

[code]

[2020-01-10 23:47] allegradomel commented on #10917
Update: we're currently fixing this! Changes have been made to the IPv6 version, IPv4 to be changed soon

[2020-01-10 23:57] wind1126 opened #11821 "az vm availability-set list missing &$expand=virtualMachines"
**Describe the bug**
az vm availability-set list missing &$expand=virtualMachines, so each time, the response doesn't include VM list, instead it has null.

**To Reproduce**
az vm availability-set list

**Expected behavior**
we want to have the AS content, including vm list, but each time it returns:
PS Azure:\> az vm availability-set list
[
  {
    "id": "/subscriptions/0726b7c7-2155-4457-8579-ee

[2020-01-11 00:28] ecalder6 opened #11822 "az vmss extension set fails because "Max price change is not allowed""
Command "az vmss extension set" for low priority VMSS is failing with error "Max price change is not allowed. For more information, see http://aka.ms/AzureSpot/errormessages".

I've deployed my vmss with "az vmss create" without populating the max-price field.

I'm using version
azure-cli                         2.0.78 *

command-modules-nspkg              2.0.3
core                              2

[2020-01-11 15:25] monkeybean opened #11824 "Could not load type 'Microsoft.Azure.WebJobs.Host.Scale.IScaleMonitorProvider'"
Blob trigger was working until this past week.  Now throwing the titular error.  Have a timer trigger in the same project that will still run fine.

func start
Azure Functions Core Tools (2.7.1585 Commit hash: 9a2b7239b937148e3b76e6f7999798629a82134a)
Function Runtime Version: 2.0.12641.0
[1/11/20 1:49:53 AM] Building host: startup suppressed:False, configuration suppressed: False
[1/11/20 1:49:53

[2020-01-11 21:42] yugangw-msft commented on #11486
Please reactivate once have more info.

[2020-01-11 21:42] #11486 closed

[2020-01-11 21:50] yugangw-msft commented on #11819
This is not ACR or feedback related, rather a general platform issue that whether or not CLI works on Fedora31. CC @fengzhou-msft @achandmsft

[2020-01-12 01:05] yonzhan commented on #11819
issue triaged.

[2020-01-12 09:02] yonzhan commented on #11816
add to S165.

[2020-01-12 13:57] IbraheemAlSaady commented on #10028
Any updates on this issue?

[2020-01-12 15:49] magikcypress opened #11825 "enable addons kube-dashboard"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons --addons {} --resource-group {} --name {}`

##

[2020-01-12 15:52] IbraheemAlSaady commented on #9867
Any updates on this one?

[2020-01-12 18:53] jnancel commented on #11698
Hello,
For the record, I get the exact same issue when using `--scm-site true`

[2020-01-12 21:39] dNetGuru commented on #11822
Running into the same issue when trying to change a scaleset's image (setting the `virtualMachineProfile.storageProfile.imageReference.id` property)

[2020-01-13 01:43] qwordy commented on #10980
I am not an expert of AKS. It seems a limitation of AKS according to the error message. All IPConfigurations on a Network Interface should reference the same set of Application Security Groups. @andyzhangx Do you have more information?

[2020-01-13 01:45] #11642 closed

[2020-01-13 03:06] jiasli commented on #9903
@Arnavion, what is the command you are running and what is your shell?

This command works good for me:

[code]

[2020-01-13 03:46] hausec commented on #11210
I'm also having this issue.
` az role assignment list --assignee reader@domain.onmicrosoft.com`

Lists nothing. Version 2.0.79

[2020-01-13 04:11] Arnavion commented on #9903
[code]

This is with `mcr.microsoft.com/azure-cli:latest`, which is currently `:2.0.79`. The shell is `/bin/sh` (since the docker image is based on alpine).

[2020-01-13 04:38] fengzhou-msft commented on #11819
@davqu Please run `yum install python3-cffi` and retry.

[2020-01-13 04:48] dNetGuru commented on #2175
Any updates on this?

[2020-01-13 05:29] jsntcy commented on #11822
@qwordy , please take a look, thanks.

[2020-01-13 05:30] jsntcy commented on #11821
@qwordy , please help take a look, thanks.

[2020-01-13 05:41] zhoxing-ms commented on #11816
@Carolyreis [Errno 13] Permission denied: this is because the file cannot be opened.
The possible causes are no permission to access the file, or the file is occupied by other processes, or the path which opened is not a file but a directory, etc...

Maybe you can try these solutions:
1.  Check if you have permission to read the file. If you have insufficient permission, try to modify the file per

[2020-01-13 05:49] zhoxing-ms commented on #10176
Because it hasn't been replied for a long time, I'll close the issue first. If you have any other questions, please feel free to reopen it or create a new one.

[2020-01-13 05:49] #10176 closed

[2020-01-13 05:51] zhoxing-ms commented on #3439
Because it hasn't been replied for a long time, I'll close the issue first. If you have any other questions, please feel free to reopen it or create a new one.

[2020-01-13 05:51] #3439 closed

[2020-01-13 05:51] zhoxing-ms commented on #8998
Because it hasn't been replied for a long time, I'll close the issue first. If you have any other questions, please feel free to reopen it or create a new one.

[2020-01-13 05:51] #8998 closed

[2020-01-13 06:02] jiasli commented on #9903
We are not able to reproduce with docker on Mac.

[code]

Are you running docker on Windows, Linux or Mac? If you run `az vm list` directly, is any colored output shown?

[2020-01-13 06:35] Arnavion commented on #9903
Okay, I know what the problem is.

My `jq` / `tail` commands are outside the Docker container. ie my command is doing the equivalent of `docker run -it --rm mcr.microsoft.com/azure-cli az vm list | jq` , because my `az` is a shell function that effectively wraps `docker run -it --rm mcr.microsoft.com/azure-cli az "$@"`. The `az` program inside the container thinks its stdout is not being redirecte

[2020-01-13 06:44] David-Stark commented on #10322
What is the status on this ?

[2020-01-13 06:46] MyronFanQiu opened #11828 "[Breadth Coverage] Onboarding BlockChain Commands"
Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
no.

Describe the solution you'd like
A clear and concise description of what you want to happen.
Support Azure Blockchain service
https://github.com/Azure/azure-rest-api-specs/tree/master/specification/blockchain/resource-manager

Describe alt

[2020-01-13 06:50] MyronFanQiu commented on #11828
planned in S164/S165

[2020-01-13 06:51] jiasli commented on #9903
Thanks for the analysis. Per [docker's doc](https://docs.docker.com/engine/reference/run/#foreground),

This makes colorama think this [is a tty](https://github.com/tartley/colorama/blob/c784d79ef81e1ef6eab22b6f63fb94cfa65a2604/colorama/ansitowin32.py#L43-L53) and thus send the escaping chars.

[2020-01-13 07:25] harelbr commented on #10322
Supporting all metric alerts capabilities in the Azure CLI is planned for H1 2020.

With regards to support creating metric alert rules that use a dynamic threshold in PowerShell, that's already available: [Create a metric alert rule](https://docs.microsoft.com/en-us/powershell/module/az.monitor/add-azmetricalertrulev2?view=azps-3.3.0) and provide a [criteria object set to use dynamic threshold](h