[2017-10-16 16:16] rjtsdl commented on #4587
@lenadroid , can you check the acs module version?
We have known the issue in acs module 2.0.17. And It should be fixed just after that.

@IainColledge 's workaround is right, it give you acs module 2.0.16, which is still good.

[2017-10-16 16:24] murphye commented on #4678
I have the same problem with azure-cli (2.0.19+dev.8715) on Mac. This is a dev build of Azure CLI from 10/14. Unable to use the ACR service... is there any workaround available?

cannot import name SubprocessError
Traceback (most recent call last):
  File "/Library/Python/2.7/site-packages/azure/cli/main.py", line 36, in main
    cmd_result = APPLICATION.execute(args)
  File "/Library/Python/2.7/s

[2017-10-16 16:28] IainColledge commented on #4587
@rjtsdl just to confirm the previous version installed was 2.0.17 which is known bad, hence the downgrade.

Waiting for 2.0.18 which hopefully has the fix ;)

[2017-10-16 16:29] lenadroid commented on #4587
Yeah, I'm also experiencing this with cloud shell :)

[2017-10-16 16:30] murphye commented on #4678
Debug output if helpful:

az acr login --name chirperRegistry --debug
Command arguments ['acr', 'login', '--name', 'chirperRegistry']
Current cloud config:
{'endpoints': {'active_directory': 'https://login.microsoftonline.com',
               'active_directory_data_lake_resource_id': 'https://datalake.azure.net/',
               'active_directory_graph_resource_id': 'https://graph.windows.net/',

[2017-10-16 16:32] lmazuel commented on #4678
`SubprocessError` is new in Python 3.3, then not available in 2.7.. :/
Best workaround would be to install the CLI in Python 3 while this code is fixed to be compatible with 2.7

[2017-10-16 16:32] rjtsdl commented on #4587
@IainColledge  @lenadroid

Thanks for checking. The fix is already in code. I guess, it is in the next release, which is 2.0.18 acs module.

[2017-10-16 16:33] troydai commented on #4587
@rjtsdl the cloud shell is not installed with 2.0.19 (as of this morning). Can you look into if the scenario works on Cloud shell?
[code]

[2017-10-16 16:34] troydai commented on #4587
@lenadroid @qx-will

The cloud shell still contains the 2.0.18 ACS module. It will be upgraded in the coming week.

[2017-10-16 17:05] murphye commented on #4678
Do you have any tips for using Python 3 with azure-cli on Mac? I tried to use pyvenv and that didn't work. There is also virtualenv but that looks more invasive. I am blocked on this, unfortunately. Thanks.

[2017-10-16 17:47] devigned commented on #2402
@JasonRShaver just wanted bring this one to your attention. It would be nice to have better feedback to empower customers to either increase quota via CLI or understand why the quota was exceeded during the failed operation. This is pretty much an echo of what @brendandburns said [above](https://github.com/Azure/azure-cli/issues/2402#issuecomment-284950484).

[2017-10-16 18:08] murphye commented on #2402
@devigned Thanks for reaching out. I am using edge CLI (due to recent defects) and running on Python 3 (as a workaround to a defect). To be honest, I have had an extremely rough experience so far using Azure CLI with the Container Services, such as this issue, and:

https://github.com/Azure/azure-cli/issues/4678
https://github.com/Azure/azure-cli/issues/4587
https://github.com/Azure/azure-cli/pull

[2017-10-16 18:13] tjprescott commented on #4677
There is a `az network dns record-set {type} delete` command for each record type just to keep the commands in a logical grouping.

Remove record is intended just as removing records from the set, but DNS team wanted it to auto-remove the record-set if the last record was removed (with an opt-out flag).  If you wanted to delete an entire record-set, you'd use the delete command.

[2017-10-16 18:16] derekbekoe commented on #4677
Hmm I missed that command.
Thanks.

[2017-10-16 18:16] #4677 closed

[2017-10-16 18:28] troydai opened #4680 "Need a better solution for staging webapp test resources."
Background: https://github.com/Azure/azure-cli/pull/4674

Some of the web app automation requires a GitHub repository to function. We now use a personal GitHub repository for automation. Eventually, the test resource should be collected under Azure organization instead of parking under personal repositories.

[2017-10-16 18:30] #3598 closed

[2017-10-16 18:50] #4669 closed

[2017-10-16 19:43] #4678 closed

[2017-10-16 20:16] johngossman commented on #1150
I don't find this resolution acceptable. Streaming isn't going to help. We need to do what the portal does and by default show just my sps.

[2017-10-16 20:44] yugangw-msft commented on #1150
Actually, it appears portal shows the first page, which is still better than CLI just hanging there.
Suggest CLI should align to that behavior, and also outputs a warning to tell people
1. There are more
2. Suggest supplying arguments to accelerate the command through `--spn`, `--display-name`, etc...

[2017-10-16 20:51] squillace commented on #1150
@yugangw-msft the problem with the suggestion of 2, is that you'd NEVER use `list` if you really knew what you were looking for. You'd just use `show`. By definition, list **must** return. I'm with john here; we need to return my SPs by default.

[2017-10-16 20:52] johngossman commented on #1150
+1 ... in fact, I'd also suggest that the portal default to "My apps"

[2017-10-16 20:54] yugangw-msft commented on #1150
CLI probably should also expose a new flag `--my-apps` or `--all`, depending on what the default should be.

[2017-10-16 20:55] squillace commented on #1150
That would be a fine resolution, but the default should be my apps, where you specifically _request_ the firehose with `--all` if you want it, but risk it never returning (until there's paging)....

[2017-10-17 08:33] glenjamin commented on #4649
We've just noticed this same issue, it appears to be caused by our outgoing internet proxy blocking the telemetry requests - and the script seems to retry indefinitely.

I'll have a poke around in the code and see if I can see an easy place to put in a max retry timer or counter.

[2017-10-17 08:34] glenjamin commented on #4649
This seems to be the same issue described in https://github.com/Azure/azure-cli/issues/3177

[2017-10-17 13:37] aheumaier commented on #4679
Confirmed

[2017-10-17 15:46] andscho-msft commented on #4317
Ping

[2017-10-17 16:48] dmakwana commented on #4317
@andscho-msft Thanks for creating this issue. I have filed a PR which will allow us to publish a new version of the Python SDK with this fix. CLI issue should be resolved shortly after.

[2017-10-17 17:55] tjprescott commented on #4589
If you still have an issue, feel free to reopen.

[2017-10-17 17:55] #4589 closed

[2017-10-17 19:39] grgarcia-ms commented on #2339
This is also happening to us with our SPs on our tests!
@yugangw-msft

[2017-10-17 20:13] blackboxsw opened #4692 "module loader error on ubuntu artful 0.1.0~b7-1"
Can't 'az login'  from Ubuntu Artful

### az login output
root@a1:~# az login
Error loading command module 'storage'
__init__() got multiple values for keyword argument 'default_completer'
Traceback (most recent call last):
  File "/usr/lib/python3/dist-packages/azure/cli/main.py", line 35, in main
    cmd_result = APPLICATION.execute(args)
  File "/usr/lib/python3/dist-packages/azure/cli/core/app

[2017-10-17 20:16] raesene commented on #4582
FWIW this is still erroring when using Azure Cloud shell, but naustin's workaround works ok.

[2017-10-17 20:43] troydai commented on #4636
Accomplished in https://github.com/Azure/azure-cli/pull/4675.

[2017-10-17 20:43] #4636 closed

[2017-10-17 21:23] rushsteve1 commented on #4679
Also confirmed on Azure CLI 2.0.19 and ACS version 2.0.17

[2017-10-17 21:25] vvish5 commented on #3411
@iyerusad  I tried it but didn't work, any other option.

[2017-10-17 21:31] yugangw-msft commented on #4692
Pertinent piece:
[code]

[2017-10-17 21:59] syedhassaanahmed commented on #3571
+1

[2017-10-17 22:23] derekbekoe commented on #4692
If `0.1.0b7` is the version number of the CLI, this is an incredibly old version.
Did you install with the instructions here?
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest#install-on-debianubuntu-with-apt-get

[2017-10-17 23:05] williexu commented on #3983
@troydai can you look at this

[2017-10-17 23:09] williexu commented on #1105
This should be fixed, I'll take a look to make sure

[2017-10-17 23:14] williexu commented on #1950
This issue has been resolved, location is inferred from the resource-group.

[2017-10-18 00:03] ahmedelnably commented on #4592
@panchagnula please track the MSI work using this

[2017-10-18 01:47] gregjhogan commented on #4286
@yugangw-msft I tried the API out in the beginning of September, and I found that once you used "run command" the custom script extension would fail to deploy (it would say it was already in use on the VM) and there seemed to be no way to fix that issue (no way to remove/cleanup and get back to a state where you could use the custom script extension again).  Is that still the case?

[2017-10-18 07:09] troydai opened #4697 "'az monitor metrics list' doesn't accept multiple metrics names."
[code]

[2017-10-18 07:47] VeitSanner commented on #4655
@derekbekoe I use `az component update` to update my azure-cli. And I find it a little bit strange to get the deprecation warning without any hint how to do this in future.

[2017-10-18 09:15] vivianxing opened #4698 "az disk create with Chinese Resource Group name get error: the Entity was not found."
---

### Environment summary

Azure CLI latest version installed on Ubuntu 1404 or 17.04. when running a scrip:
az disk create -g 互道资源组 -n testzabbix01 --source Zabbix_OsDisk_1_f32166d63d2148c1b6b06b6c9c77603a --debug" error: the Entity was not found.

I created a resource group with exact same name, but cannot repro this issue in my subscription. If I login with the problematic subscription, the

[2017-10-18 09:24] shizn opened #4699 "AZ ACR list failed"
in cmd
![image](https://user-images.githubusercontent.com/3619378/31710917-059b1466-b429-11e7-94fb-70d11fe28408.png)

in cloud shell (you can see I've provisioned a acr already)
![image](https://user-images.githubusercontent.com/3619378/31710941-1b5156f8-b429-11e7-94c0-61242fd090bc.png)

---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) /

[2017-10-18 09:24] shizn commented on #4699
@shiweiz

[2017-10-18 09:26] shiweiz commented on #4699
For me,
[code]

[2017-10-18 11:10] doggy8088 commented on #4679
I find out a workaround for this issue.  Just install the latest `az`-dev version solved my problem.  Here is the steps to workaround this:

1. [Install Python](https://chocolatey.org/packages/python)
  `choco install python -y`
2. [Install pip](https://pip.pypa.io/en/stable/installing/)
  `wget https://bootstrap.pypa.io/get-pip.py`
  `python get-pip.py`
3. [Install the latest Azure CLI 2.0](https

[2017-10-18 11:13] buzzfrog commented on #4679
A workaround is also to do it manually:
mkdir $HOME/.kube
scp azureuser@<master-dns-name>:.kube/config $HOME/.kube/config

[2017-10-18 13:14] AlexeyAtIgloo commented on #4679
Downgrading just ACS package after installing full cli also works: `pip install azure-cli-acs==2.0.16`

[2017-10-18 15:19] bacongobbler commented on #4679
It looks like this was fixed relatively recently: https://github.com/Azure/azure-cli/commit/5b4a0dbb89ab45b6dd59bde0e87e789a866e5ff9

See #4646.

[2017-10-18 15:56] ahmedelnably commented on #4279
@LukaszStem has this planned

[2017-10-18 16:27] fh0k commented on #4582
Same problem, scp workaround successful.  Did not have this issue on windows, only on ubuntu.

[2017-10-18 16:41] troydai commented on #4698
Thanks for reporting. We will look into this. By the way, @vivianxing are you able to create a resource group and reference it through the port?

[2017-10-18 17:13] djyou commented on #4699
@shizn Can you please check if you are in the right subscription that has your registry?

[2017-10-18 17:16] djyou commented on #4699
@shiweiz Your issue is unrelated. Do you mind opening a new issue if you want to track it here? And please put an environment summary to help root cause it. Thanks.

[2017-10-18 17:30] rajhimanshu opened #4701 "get-credentials fails due to openssh issue"
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build)
[code]

CLI version (`az --version`)
[code]

OS version
[code]

Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

I am trying to set az tools inside a python virtual environment. Here are the steps I took:

[code]

The installation seems to succeed (I had to install build-essential

[2017-10-18 17:49] rajhimanshu commented on #4701
Looks like this is a BashOnWindows issue, and nothing to do with azure cli. For more see here:
https://github.com/Microsoft/BashOnWindows/issues/286

So for now, I will just close this issue and try moving to python 3 to see if that fixes the problem.

[2017-10-18 17:49] #4701 closed

[2017-10-18 17:51] derekbekoe commented on #4701
@rajhimanshu See my related issue here. https://github.com/Microsoft/BashOnWindows/issues/2431

Your issue may be resolved by installing `pip install cryptography==2.0`

[2017-10-18 17:52] rajhimanshu commented on #4701
W00t! That did it. Thanks @derekbekoe .

[2017-10-18 17:55] yugangw-msft commented on #4664
@justinmchase, sorry for the delay. The command was author'd 3 weeks ago, any chance you can use newer CLI, particularly to have `appservice` module to be `0.1.18`?

[2017-10-18 19:00] brian-l-coker opened #4703 "Azure AD App Update Reply URL"
I'm trying to update an Azure AD App with a list of Reply URLs

The documentation says the URI's should be space separated values, but I'm unable to successfully issue the update command.

This doesn't seem to do anything:
[code]

Wrapping the values in quotes throws a Graph Exception

[code]
---

### Environment summary

azure-cli (2.0.16)

acr (2.0.11)
acs (2.0.14)
appservice (0.1.15)
batch (3.1

[2017-10-18 19:50] justinmchase commented on #4664
Thanks! I'll give it a try. I'm assuming its just a version thing and I should be able to figure the rest out from there.

[2017-10-18 19:50] #4664 closed

[2017-10-18 19:54] yugangw-msft commented on #4286
@gregjhogan , I tried out just now and it works for me. FYI, the commands I tried are
[code]

Run-command is built on top of custom script extension. Maybe you can cross check the version you  are trying to install, though regardless this should work even with older version

[2017-10-18 20:34] derekbekoe commented on #4655
To update the CLI, use the same mechanism you used to install the CLI.

A appreciate a clearer message on how to move forward would have been useful.

[2017-10-18 20:57] williexu commented on #1105
Was fixed with https://github.com/Azure/azure-storage-python/issues/190

[2017-10-18 20:57] #1105 closed

[2017-10-18 22:01] abramz opened #4707 "VM encryption across resource groups does not work"
### Environment summary

Install Method homebrew / 2.0.19 / macOS 10.12.6 / zsh

I am attempting to add encryption to existing VMs. I have had no troubles when the VM & the key vault are in the same resource group. However, when I try to use the key vault to encrypt VMs outside of its resource group, the request fails.

Call:
[code]

Result:
[code]

This does not make sense to me. I put the full r

[2017-10-18 22:02] troydai opened #4708 "Enable resource group location to be configurable by a configuration file"

[2017-10-18 22:02] troydai opened #4709 "Enable recording files to be fetched from specified location"

[2017-10-18 22:04] troydai opened #4710 "Run 2017-03-09-profile in Travis CI"

[2017-10-18 22:04] troydai opened #4711 "Eliminate azure stack specific tests."

[2017-10-18 22:05] derekbekoe commented on #4708
Similar to https://github.com/Azure/azure-cli/issues/4665 right?

[2017-10-18 22:08] troydai commented on #4708
Related.

[2017-10-18 22:24] tjprescott opened #4712 "[Extensions] "Blessed" Extensions should not trigger warnings when overriding existing commands"
As discussed via email, official or "blessed" extensions should suppress the warning about overriding the default implementation.

[2017-10-18 22:27] tjprescott commented on #2330
@troydai did you have anything specific in mind for this?  Otherwise I suggest we close it.

[2017-10-18 22:28] tjprescott commented on #2290
With ScenarioTest being failrly robust, do we need this anymore?  The Knack conversion is actively replacing all instances of VCRTestBase so we can probably just close this.

[2017-10-18 22:31] digimaun commented on #4712
Thanks for creating the issue we discussed @tjprescott. The IoT extension can be a guinea pig for blessing criteria.

[2017-10-18 22:33] tjprescott opened #4713 "[Test] Errors thrown when "expect_failure=True" should not be displayed."
Tests that previously used code like `with self.assertRaises(...):` would suppress error messages on the principle that any red text displayed during tests should indicate a failure.

These tests, with ScenarioTest, no longer work with this pattern and instead expect a kwarg `expect_failure=True`.  However, these commands do output the failures in red but the test passes.

`expect_failure=True` sh

[2017-10-18 23:31] lmazuel commented on #4317
Fixed in SDK Mgmt package 0.2.1
https://pypi.python.org/pypi/azure-mgmt-cosmosdb/0.2.1

[2017-10-19 01:46] shiweiz opened #4715 "az acr login failed"
@djyou The login command failed in cmd:
[code]
Here is the configuration of default values:
[code]
Other commands seem working properly:
[code]
[code]
[code]
[code]
After enabling Admin user:
[code]
but still
[code]
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.e

[2017-10-19 01:49] shiweiz commented on #4699
@djyou New issue #4715 is opened for my case.

[2017-10-19 02:12] shizn commented on #4699
Solved. Thanks.

[2017-10-19 02:12] #4699 closed

[2017-10-19 03:57] gregjhogan commented on #4286
Linux did always work fine, but Windows did not.  I tested windows again and there are some peculiarities, but I was able to deploy the custom script extension after using the runCommand action.  It seems like it is really geared toward only using one or the other (or it is just a little rough around the edges still and will improve over time).

[2017-10-19 05:41] kamoljan commented on #3348
+1

[2017-10-19 06:29] vivianxing commented on #4698
Hi Troy,

Thank you for helping.

I am not sure what you mean by “are you able to create a resource group and reference it through the port”? what are the steps to do it?

I already created a Resource Group with the same name as customer’s in my subscription, but the issue does not happen. It only happens in customer’s subscription.

Thank you.

Regards,
Vivian

From: Troy Dai [mailto:notification

[2017-10-19 07:50] kbiernat opened #4716 "Unable to create acs in westeurope, --master-vm-size parameter not working"
When trying to create an ACS in West Europe location, I get this message:
"The VM Size of Master is not allowed in your subscription in location 'westeurope'. Master VM Size 'Standard_D2' is available in locations: ...."

Adding --master-vm-size=Standard_A2 to az parameters does not help, it still tries to create with Standard_D2. I know that smaller VMs are not recommended, but this is for testin

[2017-10-19 16:37] troydai commented on #4698
Sorry for my typo, I meant could you create a resource group with a name in Chinese from the *portal*. What I'm trying to determine if that if Azure service support resource group or the other resources with names containing characters other than ASCII.

[2017-10-19 16:40] troydai commented on #4698
In short, can you accomplish the same operations through portal?

[2017-10-19 16:41] #2290 closed

[2017-10-19 16:41] #2330 closed

[2017-10-19 16:47] troydai commented on #1950
I will reopen this issue since the `sku` parameter is still required. We can consult with storage team to see if there is any solution to this.

[2017-10-19 18:56] lucascebertin commented on #4715
Same problem here, after the az acr login I receive "incorrect function"

[2017-10-19 19:12] ahmedelnably opened #4719 "webapp:support returning the list of more than 100 apps"
az webapps list

[2017-10-19 21:23] troydai commented on #4712
The difficulty of assigning an extension the 'blessed' status is that there is no way to verify the identity of an extension. We don't sign the extension.

[2017-10-19 21:32] derekbekoe commented on #4712
With an extension index, we could have control over such blessed extensions.

[2017-10-19 21:37] troydai commented on #1950
The default sku on portal is Standard RAGS.

[2017-10-19 23:12] neilpeterson opened #4722 "CLI Error - The access token expiry UTC time"
I am receiving this error when running most CLI commands.

[code]
---

### Environment summary

Environment - Mac
Installation Method - Brew
Version - `azure-cli (2.0.19)`

### Attempted Fix

Brew upgrade and Brew force uninstall and re-install

[2017-10-19 23:18] neilpeterson commented on #4722
Additional note - this appears to only occur on subscriptions associated with my MSFT account. My external subscription works fine.

[2017-10-20 00:41] djyou commented on #4715
@derekbekoe @troydai @tjprescott I didn't find anything special in our module that could cause this and the error message is too ambiguous to know the exact root cause. It is affecting CLI installed with the recent MSI installer (installation through pip or docker container both work). I will try to generate the installer locally and run to see what is going on, but at the same time, can any of yo

[2017-10-20 01:51] vivianxing commented on #4698
hi Troy,

First, I would like to explain that this CLI command will create a managed disk name "testzabbix01" in Resource Group "互道资源组“ from a source disk. that means this resource group already exists. yes, I can create a resource group with exact same Chinese name from portal without any problem.

However, for the operations this CLI command will do, it cannot accomplish from Portal. However, Po

[2017-10-20 02:32] lvnilesh commented on #4679
[code]

[2017-10-20 02:34] lvnilesh commented on #4701
[code]

[2017-10-20 08:08] richeney commented on #4669
I am seeing this error message on both CLI 2.0 on Windows 10 Bash subsystem (installed with apt-get) and also in the Cloud Shell.  (Same az --versions as above.)

I reverted the msrest version to 0.4.14 in Bash(using "sudo --set-home pip install msrest==0.4.14 --ignore-installed") with no success.

[2017-10-20 09:06] glaubitz opened #4724 "Individual PyPi packages are missing LICENSE.txt file"
While packaging the Azure CLI utilities for openSUSE, we noticed that the individual packages on PyPi.org (e.g. ```azure-cli-acr```) are missing their LICENSE.txt files. Only the ```azure-cli``` package itself includes this file.

Since each PyPi package is packaged as an individual RPM distribution package in openSUSE and every RPM package needs to include a license or a copyright file, this woul

[2017-10-20 12:05] mcwienczek commented on #4679
same happening with CLI 2.0.19

[2017-10-20 16:08] ghost opened #4725 "Existing SSH key is overwritten"
When running `az vm create --generate-ssh-keys`: When this option is called, and a private key exists in `~/.ssh/id_rsa`, but there is not a public key in `~/.ssh/id_rsa.pub`, the existing private key is overwritten by generation of a new key pair. Correct behavior is to derive a public key from the private key using `ssh-keygen -y`.

[2017-10-20 16:55] derekbekoe commented on #4701
This looks like https://github.com/Azure/azure-cli/issues/4679

[2017-10-20 17:35] derekbekoe commented on #4715
Doing a general search online, the error message is coming directly from Windows.
Would be good to know the exact Windows version being used so the error can be reproduced.
https://stackoverflow.com/a/42778990/1952133

Also, doesn't `az acr login` require `--name`? I don't see that mentioned above.

[2017-10-20 18:01] djyou commented on #4715
`acr login` does require `--name` and I think @shiweiz just removed all the parameters in all the above examples. I tried this on a fresh Windows 10 machine without any problem so knowing the OS version would be helpful.

[2017-10-20 22:36] troydai commented on #4725
@yugangw-msft

[2017-10-20 22:37] troydai commented on #4725
I think the overwritten is particularly bad.

[2017-10-20 22:42] troydai commented on #4722
@yugangw-msft

[2017-10-21 17:27] abramz commented on #4707
nevermind

[2017-10-21 17:27] #4707 closed

[2017-10-23 05:29] shiweiz commented on #4715
@derdanu @ddjyou `--name` is omitted in the above log. Actually, I use defaults (see `az configure`). I tried `az acr login` today again with the original CMD and PowerShell terminal, and it works. Therefore, I think there is something wrong with CMD and PowerShell running within the ConEmu software:

![image](https://user-images.githubusercontent.com/32161882/31873441-cb3ea442-b7f5-11e7-9cf4-f1ed

[2017-10-23 05:32] #4715 closed

[2017-10-23 08:42] eliomex55 opened #4728 "Az command module storage not working"
Hi everyone,

since few days I've a problem.
When I try to execute azure interactive or azure storage, it fails with errors below.
The config file seems ok and sincerly I don't want to re-install but I prefer to understand the problem.
Can you help me? Below the debug details.

[code]

<details>
  <summary>Full debug log (click to expand)</summary><p>
devubuntu01user@DEVubuntu01:~/.azure$ az stora

[2017-10-23 11:09] oak-tree commented on #4582
Just created a `kubernets` via `azure-cli` on `azure portal`. I get the same `config` missing error. But the `scp` workaround does not work. It returns `permission denied`. The `public key` on returns from `az acs list` is the same as at `$HOME/.ssh/id_rsa.pub`

any ideas?

## Additional information:

1.azure-cli 2.0.19
2. tested on 23/10/2017
3. python 3.6.1

[2017-10-23 15:21] kirodge commented on #1871
I had the same error as @sabbour. Even though Windows was able to locate kubectl.exe from the command prompt, **az acs kubernetes browse** resulted in **Can not find kubectl executable in PATH** (from the same command prompt).

For me the culprit was the case sensitive **os.path.exists** in custom.py. My PATH contained C:\Windows\system32\ while **where kubectl.exe** returned C:\Windows\System32\k

[2017-10-23 16:08] troydai commented on #4582
The next release `azure-cli==2.0.20` will contain the fix in the ACS. The release will happen on Tuesday (10/24) in all channels including cloud shell.

[2017-10-23 16:10] javimb commented on #4697
Hi,

I think that's not a problem with the CLI but with the monitoring API (which I suppose that the CLI is using), because I'm getting the same error using the Java SDK.

[2017-10-23 16:12] derekbekoe commented on #4728
@eliomex55 Provide a summary of your environment as per the issue template.
i.e.  Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[2017-10-23 16:17] troydai commented on #4697
@javimb, thank you for confirming this. We're in contact with monitoring team trying to address this issue. I will leave this issue open till the problem is fixed.

[2017-10-23 16:21] #1950 closed

[2017-10-23 17:20] markheath commented on #3889
I'm running into this a lot - makes the `az group export` command almost unusable

[2017-10-23 18:01] djyou commented on #4050
@tjprescott Can you please close this issue as the service has been available in all regions? Thanks.

[2017-10-23 19:52] mrichman opened #4730 "azure acs kubernetes browse: No such file or directory: 'C:\\Users\\username/.ssh/config'"
When invoking `az acs kubernetes browse -g <resource group> -n <name>` I get the following error:

[code]
---

### Environment summary

CLI version 2.0.19 installed via <https://aka.ms/InstallAzureCliWindows>

[code]

[2017-10-23 21:44] neilpeterson commented on #4722
@yugangw-msft any thoughts or updates on this?

[2017-10-23 22:04] yugangw-msft commented on #4722
@neilpeterson, currently there is really no way for me to confirm the root cause be that Cloud Shell didn't update CLI's credential cache with valid access tokens.
Can you try out tomorrow when cloud shell will integrate a new version of CLI with the change I made to dump out host information for me to cross check the service traces?
What you need to do is
1. Close and reopen the shell
2. Retry
3.

[2017-10-23 22:39] yugangw-msft commented on #4722
Hmm, sorry @neilpeterson, I guess I might get confused with another issue which was only repro'd inside Cloud Shell and the same error was quoted
If it is not your case, can you run `az account clear` and then `az login` to see whether you get the same problem?

[2017-10-23 23:17] yugangw-msft opened #4733 "VM: expose `vm secret add/delete`"
Needed for end to end certificate based disk encryptions so customers can migrate from CLI 1.0 to 2.0

[2017-10-23 23:20] Katana-Steel opened #4734 "can't update traffic manager profiles"
I'm trying to update the DNS TTL from az, however I keep getting this error:

the debug output that indeed it adds to the endpoint list to the PUT request... however according to the example: [Profiles - Update (Traffic Manager) | Microsoft Docs](https://docs.microsoft.com/en-us/rest/api/trafficmanager/profiles/update#Examples)
only the sections that is being updated needs to be present in the PUT

[2017-10-23 23:28] yugangw-msft commented on #4725
Let me see how much we can do here.

[2017-10-23 23:57] neilpeterson commented on #4722
@yugangw-msft - that seems to have cleared it up. The issue has been intermittent, but definitely chronic. I had completely removed the CLI and reinstalled. Perhaps, the uninstallation does not remove cached creds / account.

I will close, if it creeps back up I will re-open.

Thanks

[2017-10-23 23:57] #4722 closed

[2017-10-24 00:27] pedrozhk opened #4735 "sim puk"
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

[2017-10-24 01:01] tdnguyen070 commented on #1303
I am running into the same issue with az acs scaling.

Version:
Client: 1.7.5
Server: 1.7.5

Error:An error has occurred in subscription 3f8d5e21-f22d-4986-abab-4bd8862cadaa, resourceGroup: testRG request: Provisioning of resource(s) for container service testKube in resource group testRG failed. Message: {
  "code": "OperationNotAllowed",
  "message": "Updating Kubernetes version and agent node s

[2017-10-24 01:16] pedrozhk opened #4736 "sim puk"
---movistar sim puk
---sim unlock 1.0.0.6

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

[2017-10-24 04:12] rboorgapally commented on #4730
The same thing happens when I create a cluster use azure cli on Ubuntu.

`az acs kubernetes get-credentials --resource-group myResourceGroup --name clusterName`

The cluster is created successfully. But when I try to get credentials using the below command, I get the exception:

`[Errno 2] No such file or directory: '/home/myname/.ssh/config'
Traceback (most recent call last):
  File "/opt/az/lib/

[2017-10-24 06:26] eliomex55 commented on #4728
Install Method: apt-get
CLI Version: Python (Linux) 3.5.3 (default, Sep 14 2017, 22:58:41)
[GCC 6.3.0 20170406]

lsb_release -a
No LSB modules are available.
Distributor ID: Ubuntu
Description:    Ubuntu 17.04
Release:        17.04
Codename:       zesty

Shell:  echo $SHELL
/bin/bash

[2017-10-24 06:50] oak-tree commented on #4582
Great!

On Mon, Oct 23, 2017 at 7:08 PM, Troy Dai <notifications@github.com> wrote:

[2017-10-24 10:24] sprab commented on #4582
This is now working 👍

[2017-10-24 15:33] #4735 closed

[2017-10-24 15:34] #4736 closed

[2017-10-24 15:38] tjprescott commented on #4734
So when you run the update, it tries to add duplicates of the endpoints?

[2017-10-24 16:22] yugangw-msft opened #4739 "webapp: integrate the latest azure-mgmt-web"
Try out the SDK change at https://github.com/Azure/azure-sdk-for-python/pull/1569

[2017-10-24 16:25] derekbekoe commented on #4728
@eliomex55 Can you include the full output of `az --version`?
What you included for CLI version doesn't actually include the CLI version.

[2017-10-24 17:04] stephenvisser commented on #4448
I believe this is fixed in the most recent release as per https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?view=azure-cli-latest

[2017-10-24 17:13] Katana-Steel commented on #4734
looks like it's trying to add as much data as possible.
is it sends a GET request before the PUT and it has this response:
[code]

[2017-10-24 17:15] Katana-Steel commented on #4734
but the constructor of azureEndpoint: (https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-trafficmanager/azure/mgmt/trafficmanager/models/endpoint.py#L90) looks like it isn't using/passing name and id... and those would need to be set manually afterwards, possibly.

[2017-10-24 17:58] troydai commented on #4730
This issue is expected to be fixed in the latest release `2.0.20`

[2017-10-24 17:58] #4730 closed

[2017-10-24 17:58] troydai commented on #4730
cc @rjtsdl

[2017-10-24 18:24] rjtsdl commented on #4679
@troydai it should be fixed now. We can close this.

[2017-10-24 18:25] rjtsdl commented on #4716
--master-vm-size is feature in preview, it only works in preview regions. WestEurope is NOT!
Those are clearly stated in the `--master-vm-size` description.

@tjprescott Please close this, as it is by design.

[2017-10-24 18:26] #4679 closed

[2017-10-24 18:26] derekbekoe commented on #4679
2.0.20 has been released.

[2017-10-24 18:29] AlexeyAtIgloo commented on #4679
Thanks guys! Just tested un 2.0.20, works great!

[2017-10-24 19:30] tylerauerbeck opened #4744 "Add ETA data for upload/downloads"
We've recently been working with uploading a number of images to azure. Depending on the size of these, some of them can take a considerable amount of time to push. It would be nice to have some sort of ETA running alongside the upload that tells you the percentage it's at as well as an estimated time to completion. I know this functionality is there when we take the same type of actions through t

[2017-10-24 20:16] zimmertr opened #4745 "Impossible to `az network vnet update --dns-servers` if you haven't first set a Custom DNS server from the portal."
Hello all, I have recently tried to `az network vent update --dns-servers` a vnet that was using the default Azure DNS Servers. Upon doing so, the following stacktrace appears:

[code]

However, executing that command once you have set any arbitrary custom DNS server from the portal will succeed. This seems like a bug, but may not be based on the verb `az network UPDATE`. But I'm not sure.

If thi

[2017-10-24 20:52] artisticcheese opened #4746 "Getting "permission denied" during az aks get-credentials"
---

### Environment summary

Shell: Powershell
Installed via MSI
az --version 2.0.20

Getting permission denied when running `az aks get-credentials` command. Powershell is being run as administrator
[code]

[2017-10-24 22:02] williexu opened #4749 "`az storage blob copy start-batch` with `--source-uri` gives error"
---
I am using the following command:
`az storage blob copy start-batch --destination-container wilxcontainer --pattern * --source-uri "https://wilxstorage.blob.core.windows.net/wilxcontainer2"`

Throws the following:
`az storage blob copy start-batch: error: invalid usage: supply only one of the following argument sets:`
        `   --source-uri`
        `OR --source-container`
        `OR --sour

[2017-10-24 22:27] tjprescott commented on #4745
I cannot reproduce this. I suspect you have an out-of-date version of the CLI.  Please run `az --version`

[2017-10-24 23:26] tjprescott commented on #4734
Thanks for the report @Katana-Steel!  It seems there's a service issue with their PUT call that you cannot PUT what you just obtained via GET. Most updates in the CLI rely on that contract. However, since the service supports PATCH, we'll update the command to use that instead, which should resolve the issue.

[2017-10-25 00:55] mikevh commented on #4746
I am also getting this error

[2017-10-25 02:59] rbigeard commented on #4746
Same here (works fine in WSL/Ubuntu, error only manifests itself with the Windows version of the CLI). I have full access to the Temp dir. I deactivated "Controlled Folder Access" to no avail.

PS C:\Users\rafb> az aks get-credentials --resource-group myK8Group --name myCluster
[Errno 13] Permission denied: 'C:\\Users\\rafb\\AppData\\Local\\Temp\\tmpn4goit44'
Traceback (most recent call last):
  F

[2017-10-25 03:48] yugangw-msft commented on #4746
@mboersma, please investigate. The possible cause is in the upstream method of `aks_get_credentials`, the temp file is already opened, and then the downstream `merge_kubernetes_configurations` tries to open it again. The Windows OS might reject it as the upstream holds a exclusive file handle

[2017-10-25 04:27] mikevh commented on #4746
Works when running the azure cli from a docker container image azuresdk/azure-cli-python:latest

[code]

[2017-10-25 08:24] benc-uk commented on #4746
I get this problem when running az in Windows (PowerShell) and also in WSL bash
If I use sudo in bash it works, but then I can't use `az aks browse` to view the dashboard. Help!

[2017-10-25 12:36] tomconte commented on #4746
+1 here

As a workaround, I used the command below to write the YAML to my kubectl config. Careful not to overwrite your existing configuration!

[code]

[2017-10-25 13:22] benc-uk commented on #4746
@tomconte I just tried that. When using that config, I get an error. It seems like it is expecting JSON, but the `az aks get-credentials -f` outputs YAML
[code]

[2017-10-25 14:34] sethdeckard opened #4752 "`az storage blob upload-batch`: cannot upload directories to $root container"
---

### Environment summary

OS: macOS 10.13
CLI version: 2.0.20 via Homebrew
Shell: zsh

[code]

I'm attempting to upload a directory with sub directories to the [root container](https://docs.microsoft.com/en-us/rest/api/storageservices/working-with-the-root-container) using this syntax:

`az storage blob upload-batch -d 'https://MY_STORAGE_ACCOUNT.blob.core.windows.net/$root' -s build`

I get t

[2017-10-25 14:36] paolosalvatori commented on #4746
+1 I get the same error running:

az aks get-credentials --name AksKubernetes --resource-group AksKubernetesResourceGroup

from a command-prompt ran as an administrator.

Note:

I created an ACS\K8s cluster with az acs a few days ago and

az acs get-credentials --name AcsKubernetes --resource-group AcsKubernetesResourceGroup

worked as expected. I'm blocked.

[2017-10-25 14:44] EPinci opened #4753 "'az aks get-credentials' failure"
Hello,

running azure cli 2.0.20 on windows 10.0.16299 x64.
Issuing an `az aks get-credentials -g [rgName] -n [aksName]` fails with:

[Errno 13] Permission denied: 'C:\\Users\\EPinci\\AppData\\Local\\Temp\\tmprfizlnun'
Traceback (most recent call last):
  File "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\lib\site-packages\azure\cli\main.py", line 36, in main
    cmd_result = APPLICATION.execu

[2017-10-25 14:54] AshleyGrant commented on #3445
I really wish this issue would be reopened. There are tons of people who use Git Bash in favor of WSL. There are still various issues with WSL, while Git Bash works natively and works well.

[2017-10-25 15:45] yugangw-msft commented on #4753
Thanks for reporting this. We have #4746 opened to track this issue.

[2017-10-25 15:45] #4753 closed

[2017-10-25 16:16] alexeyshishkin01 opened #4754 "cannot ping Virtual IP from another node"
hello, all!
I've deployed Corosync/Pacemaker cluster in Azure VMs.
I use Pacemaker agent for Virtual IP address (IPaddr2).
I can switchover/failover it from one node to another, but cannot ping it from the other node, while I can ping primary IP of other node.
Any ideas how to fix it?
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CL

[2017-10-25 16:36] AlexeyAtIgloo opened #4756 "AKS system pods failing to start"
Not sure its that a right repo, but I was not able to find one specific to AKS

---
### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

pip in virtual environment
[code]
### Issue
After creating fresh AKS cluster version 1.7.7 or 1.8.1 some control pl

[2017-10-25 16:38] zimmertr commented on #4745
[code]

[2017-10-25 16:38] zimmertr commented on #4745
@tjprescott

[code]

[2017-10-25 16:41] zimmertr commented on #4745
I can compile the newest commit to Master if you wish.

[2017-10-25 17:33] benc-uk commented on #4746
I managed to run the command under sudo in WSL and then copy the `~/.kube/config` out to my Windows filesystem e.g. `c:\Users\foo\.kube\config` to get the kubectl working in PowerShell.

However `az aks broswe` still fails with permissions problems, and I can't get the Kubernetes dashboard working in AKS via any other means.

This is a big blocker, given that AKS is high profile new service I expe

[2017-10-25 17:45] tomconte commented on #4746
This is definitely a problematic issue. As a workaround, to access the dashboard:

[code]

(you might need to change the Pod name; get it using `kubectl get all --namespace kube-system`)

Then open http://localhost:9090/

[2017-10-25 19:24] yugangw-msft opened #4759 "test: improve webapp test bed"
1. Sort out backup test failure showing up when run live
2. Migrate rest 8 tests be new scenario test based
    WebappBasicE2ETest
    WebappScaleTest
    AppServiceBadErrorPolishTest
    WebappGitScenarioTest
    WebappSlotScenarioTest
    WebappSSLCertTest
    WebappBackupConfigScenarioTest
    WebappBackupRestoreScenarioTest
    FunctionAppWithPlanE2ETest

[2017-10-25 19:25] #4739 closed

[2017-10-25 19:44] tjprescott commented on #4745
Please update to 2.0.21 and see if that corrects your issue.  How did you originally create the VNET?

[2017-10-25 19:48] derekbekoe commented on #4756
Thanks for the report @AlexeyAtIgloo
Looks like there's an AKS repo now and the issue is known - https://github.com/Azure/AKS/issues/2.

[2017-10-25 19:48] #4756 closed

[2017-10-25 20:00] tjprescott commented on #4754
What commands are you using?

[2017-10-25 20:03] tjprescott commented on #4744
Are you referring to the storage commands or something else?

[2017-10-25 20:49] alexeyshishkin01 commented on #4754
node 'pcs-vm-01' has primary IP 10.0.0.101 and VIP 10.0.0.100:

[azureuser@pcs-vm-01 ~]$ ip address show eth0
2: eth0: <BROADCAST,MULTICAST,UP,LOWER_UP> mtu 1500 qdisc pfifo_fast state UP qlen 1000
    link/ether 00:0d:3a:b7:96:36 brd ff:ff:ff:ff:ff:ff
    inet 10.0.0.101/24 brd 10.0.0.255 scope global eth0
       valid_lft forever preferred_lft forever
    inet 10.0.0.100/24 brd 10.0.0.255 scope

[2017-10-25 21:37] tylerauerbeck commented on #4744
@tjprescott Sorry I should have been more specific. Yes I'm thinking specifically about the storage commands (i.e. az storage blob upload ... etc)

[2017-10-25 22:18] LukaszStem opened #4764 "webapp: Fix --web-server-logging param to accept storage option"
Currently `az webapp log config --web-server-logging` has a 'storage' option but is not working.

The webapp team needs to decide the best strategy to go about implementing this.

[2017-10-26 00:01] williexu commented on #4752
Did you create the root container first?
Try:
`az storage container create -n $root`
Before uploading your blobs.

[2017-10-26 13:23] sethdeckard commented on #4752
Yes, I had already created it through the web console before attempting to upload. I also tried deleting it and recreating it through the CLI but the result is the same.

You also have to quote $root in the shell so it doesn't try to use it as a variable: `az storage container create -n '$root'`

[2017-10-26 17:07] tjprescott commented on #4744
There used to be a % indicator for upload/download (which granted is not an ETA).  Do you still see that?  It may be you need to supply --verbose to see that, as, by default (and design) the CLI is quiet.

[2017-10-26 17:40] williexu commented on #4752
Hi Seth, according to the [docs](https://docs.microsoft.com/en-us/rest/api/storageservices/working-with-the-root-container), "A blob in the root container cannot include a forward slash (/) in its name." Thus, `upload-batch` will only upload the files on the first level as blobs in subdirectories have names that include their path from the container.

If you want to batch upload files recursively,

[2017-10-26 17:56] #4443 closed

[2017-10-26 18:42] tjprescott opened #4770 "[DNS] Support for CAA records"
Support CAA record sets, including during import and export.

[2017-10-26 18:46] tjprescott opened #4771 "[DNS] Support Interational Domain Names"
Customers should be able to supply IDNs and have them converted into ASCII to be stored by AzureDNS.

[2017-10-26 18:55] #1859 closed

[2017-10-26 18:56] #1865 closed

[2017-10-26 18:57] #2107 closed

[2017-10-26 18:58] #2108 closed

[2017-10-26 18:58] #2918 closed

[2017-10-26 18:58] #2920 closed

[2017-10-26 18:59] #3326 closed

[2017-10-26 19:00] #3328 closed

[2017-10-26 19:40] tjprescott commented on #4754
This doesn't appear to be a CLI issue. I'd recommend you try posting your question on StackOverflow with the "azure" tag. You'll have a lot more eyes on it that way.

Closing for now. If you have issues with any of the CLI commands, feel free to reopen.

[2017-10-26 19:40] #4754 closed

[2017-10-26 20:09] derekbekoe opened #4773 "Flaky ACR tests"
[code]

cc: @djyou

[2017-10-26 20:53] williexu commented on #4638
Added this with https://github.com/Azure/azure-cli/pull/4720

[2017-10-26 20:53] #4638 closed

[2017-10-26 21:16] djyou commented on #4773
This error seems to be from the test sdk `ResourceGroupPreparer`? I guess it might just be that acr tests are the first ones to run and fail?

Similar issue https://github.com/Azure/azure-cli/issues/4481

[2017-10-26 21:42] derekbekoe commented on #4773
Thanks @djyou. @troydai is this on your radar?

[2017-10-27 00:15] bgoykhman-nyt commented on #4318
I believe this is still a bug.

I currently have the following setup:
1. A Keyvault in one Resource Group and VM in another. Keyvault is enabled for disk encryption.
2. A service principal is in the same group as the in the keyvault has 'wrapKey' permission and a set permission for secrets.
3. The message produce d

[2017-10-27 16:28] noelbundick opened #4775 "`az ad user show` has an error when used with guest AAD account"
When I try to use `az ad user show` with a guest account, I get an error stating `The specified api-version is invalid`

[code]

`az ad user list` is an acceptable workaround, so this is a non-blocking issue

[code]

`az ad user show` for a member originating in the same tenant works, so this seems to be isolated to certain accounts:

[code]

---

### Environment summary

apt-get / 2.0.20 / Window

[2017-10-27 16:55] troydai commented on #4773
I'm aware of it but didn't look into it yet.

[2017-10-27 17:18] troydai commented on #4752
@sethdeckard we will close this PR since the reason is given in the MSDN docs. Thank you. If you have any further concern please feel free to reopen this issue.

[2017-10-27 17:18] troydai commented on #4752
@sethdeckard we will close this PR since the reason is given in the MSDN docs. Thank you. If you have any further concern please feel free to reopen this issue.

[2017-10-27 17:18] #4752 closed

[2017-10-27 17:44] #4676 closed

[2017-10-27 17:44] #4770 closed

[2017-10-27 18:28] sethdeckard commented on #4752
Thanks, that explains it. Not sure why I didn't see that, I must be blind. :-) With that limitation the root container doesn't seem very useful for hosting a static website, but that's not relevant to this issue so I'll close it, thanks again.

[2017-10-27 18:39] #4418 closed

[2017-10-27 19:57] derekbekoe commented on #4752
@sethdeckard you can achieve this by combining the root container with non-root containers.
e.g.
[code]
For example, use $root for your index file and have an 'assets' container then you can batch upload to that assets container. If you need more subdirectories under assets, the files in that container *can* use slashes ('sub_dir/example.ts' would be the file name for example).

[2017-10-27 20:04] yugangw-msft opened #4778 "acs create: expose --assign-identity"
Service is ready

[2017-10-27 20:29] JasonRShaver opened #4779 "Target Resource should allow setting an RG"
for `az monitor alert create` the --target params should allow you to set a resource in another RG without having to drop to using the ID (which would turn this into a 2-line command for ANY interactive use)

[2017-10-27 20:48] anujb commented on #2581
TLDR; Quick fix:

Execute the following command to resolve the issue:

`/Applications/Python\ 3.6/Install\ Certificates.command`

Background:

Python 3.6 has an explicit post-installation step to install certificates since they are not installed at the point of installation. The command above will install the certifi package and resolve any `CERTIFICATE_VERIFY_FAILED` issue.

Currently on macOS 10

[2017-10-27 20:55] tjprescott commented on #4779
This would break the convention we use everywhere in the CLI that we don't expose dedicated RG arguments for resources other than the main resource. Otherwise you get the Xplat fun times of "foo-rg", "foo-subscription"... etc etc.

[2017-10-27 23:02] #4749 closed

[2017-10-27 23:20] brian-l-coker commented on #4703
Looks like this works after all. Browser caching in the portal made it appear as if the reply urls were not updated. The correct syntax is no quotes.

[2017-10-27 23:20] #4703 closed

[2017-10-30 07:13] ppopadiyn commented on #4746
+1 Same error here.

az --version 2.0.20
Windows

[2017-10-30 10:38] psinger commented on #4707
Having the same issue, did you figure it out?

[2017-10-30 13:31] rafmathijs commented on #4728
I have a similar issue:

 sudo apt install azure-cli
Reading package lists... Done
Building dependency tree
Reading state information... Done
azure-cli is already the newest version (0.1.0~b7-1).
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.

 az --version

Python (Linux) 3.6.3 (default, Oct  3 2017, 21:45:48)
[GCC 7.2.0]

[2017-10-30 13:48] swiftsolves-msft opened #4782 "When running az aks get-credentials - error"
Install Windows MSI - Windows 10 - Powershell (Admin Mode) window executing az commands
---

When running and using the new az aks commands receiving permission denied

PS C:\Users\someone\AKS\azure-voting-app-redis> az aks get-credentials --resource-group=rgSwiftAKS --name=EleafK8sCluster
[Errno 13] Permission denied: 'C:\\Users\\someone\\AppData\\Local\\Temp\\tmpqc4oct6s'
Traceback (most recent

[2017-10-30 15:46] derekbekoe commented on #4728
0.1.0 is a very old version of the CLI.
Follow the instructions at https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest#install-on-debianubuntu-with-apt-get

[2017-10-30 15:46] derekbekoe commented on #4782
Thanks for report.
Looks the same as https://github.com/Azure/azure-cli/issues/4746

[2017-10-30 15:46] #4782 closed

[2017-10-30 15:50] abramz commented on #4707
@psinger sorry, I tried running it a day later on a different VM (still different rg than key vault) and it worked so I assume  I had a typo. I made a whole new service principal and key vault so it might have been a typo there too.

If you are using Linux vms, check to make sure they fit the prerequisites, VMs you have installed stuff on are not supported.

[2017-10-30 16:09] zimmertr commented on #4745
Hello @tjprescott I apologize for the delay in my response. The end of last week was a little busy.

I have upgraded to `azure-cli (2.0.21.dev8964)`. Unfortunately the issue still persists. Here are some command outputs that may help illustrate the issue. (bug?)

**acs-engine version**
[code]

**Attempting to update DNS servers BEFORE manually setting them in the Portal. Specifying TWO DNS servers

[2017-10-30 16:25] troydai commented on #4442
Moved out of the sprint 26 to backlog as the service is not ready.

[2017-10-30 17:11] zimmertr commented on #4745
@tjprescott just realized I forgot to answer your second question.

I am deploying the original network using `azure-cli` and this network schema.

**Deployment Commands**
[code]

**dev-eu2 networking JSON**
[code]

**dev-we Networking JSON**
[code]

[2017-10-30 17:23] troydai commented on #4728
@eliomex55 The stack you attached indicates you're using a very old version of CLI. the `azure.storage.models` hasn't been referenced for long period of time. Today's CLI doesn't rely on that module anymore. Please follows the instruction provided by @derekbekoe to get the latest CLI.

I will close this issue. Please feel free to reopen if this issue is repo on a recent version of CLI.

[2017-10-30 17:23] #4728 closed

[2017-10-30 17:46] pjmeyer commented on #4744
@tjprescott I tried this today on az cli installed via docker: azure-cli (2.0.20), storage (2.0.18).

No % indicator was displayed when running `az storage blob upload-batch`, even when `--verbose` or `--debug` switches were added.

[2017-10-30 19:14] #3757 closed

[2017-10-30 21:15] artisticcheese commented on #4746
Broken in Azure Cloud Powershell as well
[code]

[2017-10-30 21:43] artisticcheese commented on #4746
Workaround for anybody having the same issue.
1. Go to Azure Bash Powershell and execute your command `az aks get-credentials -g Kubernetes-RG -n Kubernetes-Cluster`
2. Copy resulting config file to cloud drive `cp .kube/config /usr/<your username>/clouddrive/config`
3. Go to your cloudshell storage account and go to Files and find your file share, download it and save it as `.kube\config`

With t

[2017-10-30 21:54] tjprescott opened #4786 "Extensions should be able to register cloud-specific information"
Extensions need a way to register any custom endpoints for different clouds. Core CLI modules manually add their entries to the core profile code, but this isn't available to extensions, so there must be some way (perhaps through the extension metadata) that this information can be applied.

[2017-10-30 23:42] yugangw-msft commented on #4775
@lmazuel, this is not a CLI issue, rather the [generated code](https://github.com/Azure/azure-sdk-for-python/blob/master/azure-graphrbac/azure/graphrbac/operations/users_operations.py#L196) doesn't encode the `#`
Could you please recommend what needs to be fixed either at the graphrbac spec or the code-gen?

[2017-10-31 00:38] lmazuel commented on #4775
@noelbundick could you reexecute in debug mode (`--debug`) and drop the result here? Thanks!

[2017-10-31 01:26] yugangw-msft commented on #4775
@lmazuel, here is the relevant verbose log in my box:

[code]

[2017-10-31 04:56] rbitia commented on #3905
Rias-MacBook-Pro:aci-demos riabhatia$ az logout
Error loading command module 'acr'
Error loading command module 'acs'
Error loading command module 'appservice'
Error loading command module 'batch'
Error loading command module 'billing'
Error loading command module 'cdn'
Error loading command module 'cognitiveservices'
Error loading command module 'consumption'
Error loading command module 'contain

[2017-10-31 05:27] derekbekoe commented on #3905
@rbitia which version of the CLI are you running?

[2017-10-31 07:25] vivianxing commented on #4698
hi
issue resolved by add a --location Chinanorth
so, may I know if cli will choose chinaeast as default location if we did not indicate it?

Thank you.

[2017-10-31 12:24] rafmathijs commented on #4692
the default ubuntu image comes with a hint to install the azure cli which installs the outdated version

[2017-10-31 12:37] rathinikunj opened #4789 "Can't mention vnet resource group while creating a VM in a different resource group"
---
### Issue

1. vnet1 is present in resource-group A.
2. I create a VM in resource group B, and specified the vnet as vnet1.
3. Since vnet1 is not present in resource-group B, the CLI ends up creating vnet1 in resource-group B.
4. Both the resource-groups are in same subscription.
5. There is no way i can specify the resource-group for vnet in Azure CLI, while Azure portal populates the vnets ac

[2017-10-31 15:14] aelij opened #4790 "[Service Fabric]: az sf cluster create - template validation does not show inner error"
When using `az sf cluster create`, if there's an error in template validation, the error message does not contain the inner error and so isn't helpful at all (even when using `--verbose`). Examples of failure reasons (which we discovered by using the SF blade): incorrect case in cluster name; exceeded cores quota.

### Environment summary

Cloud Shell

[2017-10-31 15:21] lmazuel commented on #4775
In my understanding, following this link:
https://msdn.microsoft.com/en-us/library/azure/ad/graph/api/users-operations#performing-rest-operations-on-users

If I understand correctly and "external user" == "guest user", even encoding the URL it will not work :/

But I didn't actually tried, so let me try first if it works.

[2017-10-31 15:22] tjprescott commented on #4789
To use a VNET in another resource group, you must specify the VNET using its fully qualified ARM ID.

[2017-10-31 15:22] #4789 closed

[2017-10-31 15:58] yugangw-msft commented on #4775
I tried with encoding through fiddler and it worked
`/54826b22-38d6-4fb2-bad9-b7b93a3e9c5a/users/yugangw_microsoft.com%23EXT%23%40AzureSDKTeam.onmicrosoft.com?api-version=1.6 HTTP/1.1`
My concern is whether we are encoding everything which can appear as part of the url. I think we should

[2017-10-31 16:12] lmazuel commented on #4775
The Swagger explicitly says to do NOT encode:
https://github.com/Azure/azure-rest-api-specs/blob/8844dc849f917785e7722e4fe492dd8143c111a7/specification/graphrbac/data-plane/1.6/graphrbac.json#L1235

I need to test a little more, since changing this behavior will impact all SDK

[2017-10-31 16:14] yugangw-msft commented on #4775
Yep, this is why I originally asked whether the spec should change. Please give it enough thinking :)

[2017-10-31 16:21] lmazuel commented on #4775
Note that you can workaround this by encoding yourself whatever data the user passes to "az ad user show". Since the SDK will never touch the string and pass it "as-is". If in a future version, I decide to finally encode the string, you will just have to remove the code to avoid double-encoding.

[2017-10-31 16:54] lmazuel commented on #4775
[code]

[2017-10-31 16:55] lmazuel commented on #4775
@yugangw-msft Since encoding manually when calling the CLI works, any fix might break people that figured this out and manually encoded the call :/
Thoughts?

[2017-10-31 16:59] lmazuel commented on #4775
I tried using online GraphAD tester:
https://msdn.microsoft.com/Library/Azure/Ad/Graph/api/users-operations#GetAUser
![image](https://user-images.githubusercontent.com/1050156/32237393-1697b97e-be22-11e7-8cb5-959f247108ce.png)

The official RestAPI tester is encoding the UPN, so I'm 100% sure now that the Swagger is incorrect.

[2017-10-31 17:05] tjprescott commented on #4745
Ah, @zimmertr thanks for that!  I suspect after you run your deployments, if you show your VNET, you'll see `dhcpOptions: null`.  When the VNET is created using VNET create, you'd see:

[code]
Which is why I couldn't reproduce. I'll get this fix into the next release (mid-November)

[2017-10-31 17:10] tjprescott commented on #4745
As a temp workaround, you can use the generic arguments:
`az network vnet update -g tjp-vnet -n vnet2 --set dhcpOptions={'dnsServers':['1.2.3.4', '2.3.4.5']}`

This quoting is for CMD.  You may need to tweak it for bash.

[2017-10-31 17:17] derekbekoe commented on #4692
@rafmathijs Can you provide more details for our own information?
I'm not aware of the above.

[2017-10-31 17:19] zimmertr commented on #4745
Cheers, glad to hear it's been verified.

[2017-10-31 17:33] derekbekoe commented on #3905
Opening the issue again to make this change:
Mark the endpoints that are likely to cause the CLI to fail as required on 'az cloud register'.

[2017-10-31 17:52] yugangw-msft commented on #4775
Agreed. We should not workaround in CLI

[2017-10-31 19:21] #4745 closed

[2017-10-31 19:38] elibarzilay commented on #3757
@williexu -- Thanks!!  What's the time frame for this feature to be part of the available version?

[2017-10-31 20:08] williexu commented on #3757
@elibarzilay  you're welcome, sorry it took so long.
Here's a link to our schedule: https://github.com/Azure/azure-cli/milestones
Our next version release will be on 11/15

[2017-10-31 20:49] elibarzilay commented on #3757
@williexu -- thanks, I'll follow it (it's very relevant for me, since I do have these long deletion sequences that are very slow).

[2017-10-31 22:05] yugangw-msft opened #4795 "RBAC: emit an actionable error when creating failed due to permission error"
The error should contains the link to the document: https://docs.microsoft.com/en-us/azure/azure-resource-manager/resource-group-create-service-principal-portal

(The long term solution should ensure the permission gets configured when the role assignment gets created, or at least we should detect and tell users so)

[2017-10-31 22:16] yugangw-msft commented on #4795
Involved commands are `az ad sp create-for-rbac` and `az acs create`

[2017-10-31 22:20] #3940 closed

[2017-10-31 23:14] derekbekoe commented on #4651
@troydai Can we take a look at this for connect?

[2017-10-31 23:36] williexu commented on #4439
@Catpants there is currently no support from the service to wait for the sync operation to complete. Your best bet is to poll the deployment using `curl` and check to see if it has been updated.

[2017-10-31 23:44] yugangw-msft opened #4796 "VM: captured managed images don't contain the plan information"
Market-place images exposed through image APIs contain the plan information like publisher, product, etc. CLI commands are able to retrieve and plumb them to the VM/VMSS creating; however, if they further capture a custom image from the vm, the plan information is not propagated to the image.
Missing it makes it hard for CLI users to create new VMs from the custom image.
For now, CLI works around

[2017-10-31 23:52] BlitzkriegSoftware commented on #4746
Work around works great, ```AK AKA BROWSE``` and other commands are broken still because of the ERR 13, I even assigned my environment variables ```TMP``` and ```TEMP``` to point to a folder I knew I had full permissions on without any success. I hope a new version is out soon that fixes this issue!

[2017-11-01 00:14] sptramer opened #4797 "RPM package is not signed"
When installing on an OpenSUSE distribution, even after adding the Microsoft GPG key, there is a warning that the repository index is unsigned:

[code]

This issue may also affect the `yum` package manager.

---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash

[2017-11-01 06:46] benc-uk commented on #4746
Yes really want `az aks browse` to work, I can find no workaround that lets me access the AKS dashboard.

Do we have an ETA on a fix?

[2017-11-01 09:20] IbraheemAlSaady opened #4799 "azure acs kubernetes get-credentials Permission denied"
I'm trying to get the credentials like this
`az acs kubernetes get-credentials -g=<my_resource_group> -n=<my_cluster_name>` and it's throwing this

![image](https://user-images.githubusercontent.com/14288490/32268045-0b743ffc-bef6-11e7-9890-a281945d7cda.png)

I'm using this version
[code]

any idea what's going on?

[2017-11-01 13:26] rjschwei opened #4800 "mock as runtime dependency"
Hi,

When using

az network public-ip create --resource-group xxx --name yyy

the code attempts to load the Python mock module, this appears to be counter intuitive. At runtime, i.e. when using the tools one would expect that things actually happen rather than actions/responses being mocked. Having a dependency on mock outside of testing appears strange.

File "/usr/lib/python3.4/site-packages/azu

[2017-11-01 13:32] glaubitz commented on #4800
I'm already subscribed.

[2017-11-01 14:47] Claire-dai commented on #3026
I'd like to vote for this request. Azure portal, Powershell and CLI need follow the same design rule so that end users won't get lost.

[2017-11-01 15:49] sethtregenna opened #4801 "When using az vmss create fails when adding --vm-sku"
When using az vmss create the command fails with --vm-sku

// Working command
`az vmss create -n myapp -g rg-myapp --backend-pool-name myapp-ilbbepool --instance-count 2 --image myapp-customimage --subnet backend --vnet-name vnet-myapp --load-balancer myapp-ilb`

// Non-working command
`az vmss create -n myapp -g rg-myapp --backend-pool-name myapp-ilbbepool --instance-count 2 --image myapp-customi

[2017-11-01 16:09] yugangw-msft opened #4802 "deployment: handle deployment templates and parameters with json comment and metadata"
So far, CLI will fail on loading such files
For context, CLI 1.0 leverages [json-minify](https://www.npmjs.com/package/json-minify) package for better error reporting, and that package is able to strip away comments during the parsing. So coincidentally, CLI 1.0 is able to do better than 2.0.

[2017-11-01 16:19] troydai commented on #4698
You can configure the default resource group through `az configure` command, otherwise, most CLI commands won't decide what resource group to be used.

[2017-11-01 16:30] troydai commented on #4651
yes.

[2017-11-01 16:31] troydai commented on #4651
Ping me when you have time.

[2017-11-01 16:35] shhsu opened #4803 "[ACR] When user provides only an username in `az acr login` the error message appears is not useful"
When executing `az acr login`, providing either a username and password implies a basic (username/password) authorization will be used instead of token. Therefore, both username and passwords are needed.

`az acr login --name registry --username alice`

She will get the following error

`Error response from daemon: Get https://registry.azurecr.io/v2/: no realm specified for token auth challenge`

[2017-11-01 16:39] tlycken commented on #2324
Is there any news on this? I'd love to see this supported as well!

[2017-11-01 16:47] #4361 closed

[2017-11-01 16:57] shhsu commented on #4803
This issue might be due to some other migration issue as the error message should not appear in normal case. We will close this issue first and investigate further

[2017-11-01 16:57] #4803 closed

[2017-11-01 17:25] #3934 closed

[2017-11-01 17:35] tjprescott commented on #4800
Yes, it is strange. Everything from lines 2096-2221 (as of the moment I'm looking at it) is a workaround for a service level issue. Once the issue is fixed, the workaround will be removed (as well as the mock dependency)

[2017-11-01 17:36] tjprescott commented on #4800
https://github.com/Azure/azure-cli/issues/4392

[2017-11-01 17:39] tjprescott commented on #4744
Ah, upload-batch does not have this I believe. @troydai can confirm.  Only the regular upload/download commands have this.

[2017-11-01 17:51] tjprescott commented on #2324
Powershell is not actively supported by the CLI team, so there are currently no plans for this.

[2017-11-01 18:27] mboersma opened #4806 "Bug: developer docs are broken again, scripts missing"
As a developer, I would like to run linters and tests on my code before submitting a PR. That's been difficult in the azure-cli project because:
- the location of the tests script keeps changing, and now `/tools/scripts` is just gone
- the [developer doc](https://github.com/Azure/azure-cli/blob/dev/doc/configuring_your_machine.md) is continually neglected and out-of-date

I've submitted PRs #4293

[2017-11-01 18:27] troydai commented on #4744
Yes. `az storage blob upload-batch` doesn't have a percentage indicator. It does print what file is being uploaded to the stderr.

[2017-11-01 18:44] yugangw-msft commented on #4806
//cc: @troydai

[2017-11-01 18:44] troydai commented on #4543
https://github.com/Azure/azure-cli/issues/4744

[2017-11-01 18:44] mboersma commented on #4806
It looks like the underlying commands are still valid:
[code]
Are there new wrapper scripts for this, or should the dev doc be updated to use the python entrypoints directly?

[2017-11-01 18:47] srs70187 commented on #4386
I am getting the same error. Here's my runtime information and how I have gotten to this point:

- OS is an Ubuntu Zesty (17.04) Azure VM.

[code]
- Azure-cli has been installed following [the Azure docs](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest#install-on-debianubuntu-with-apt-get)

[code]
-  The user steve is a superuser

- Have created a resource group

[2017-11-01 18:48] troydai commented on #4386
@srs70187 thank you for the detailed info. @williexu, please take a look.

[2017-11-01 19:36] squillace commented on #4806
We gotta have the dev contrib docs accurate. :-|

[2017-11-01 19:48] artisticcheese commented on #4746
@benc-uk Workaround for browse is to use @tomconte comment above. It works as expected after you got your credentials squared away.

[2017-11-01 19:49] JasonRShaver opened #4807 "Ref-docs should give more context on defaults"
The smart-defaults should be shown in ref-docs as having calculated defaults instead of hard-coded defaults, which it implies now:

https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az_vm_create
[code]

In tool
[code]

I suspect we will need to add another some form of default description text to the CLI

[2017-11-01 21:17] andersarpi commented on #4746
My workaround for `az aks browse` is to run it in Bash on Ubuntu on Windows. Obviously a bit of a hassle if you don’t have it set up, but it works :)

[2017-11-01 22:08] williexu commented on #4802
Here's a equivalent package for python we can use:
https://github.com/getify/JSON.minify/tree/python
Essentially, using this package, we should be able to strip away JS-style comments from the contents of a file before parsing it into JSON by doing:
`json.loads(json_minify(contents))`

[2017-11-01 22:39] tjprescott opened #4809 "[Extensions] `run_tests` and `check_style` scripts needs to be enhanced for extensions"
This should be high priority given that partner teams are starting to write extensions. The lack of this makes it harder to write an extension than a module, which is not what we want to convey.

These scripts have a `--module` parameter, but that doesn't work with the extensions model.  We need to either allow module to search in the normal spot AND the extensions directory, or simply add a `--ex

[2017-11-01 22:50] derekbekoe commented on #4809
What if we just document it on the extension authoring doc page.
Something like:
[code]
from https://github.com/Azure/azure-cli-extensions/blob/master/scripts/ci/test_static.sh#L5

Or, if they use `Azure/azure-cli-extensions`, there's already pylint/flake8 there.

[2017-11-01 23:17] tjprescott commented on #4809
It's more so they can run it locally on their machine.  They could run those commands, but they are easy to forget. If they already have the CLI dev_setup on their machine, it'd be nice to be able to use the scripts (especially for the tests, which the invocation can differ based on nose vs. unittest and Python 2 and 3).

Otherwise it's a barrier for extensions vs. module, which we don't want.

[2017-11-01 23:46] troydai commented on #4806
One you have dev environment setup, the `check_style` command is always available. It is not advised to run script directly.

[2017-11-02 00:27] sptramer commented on #4539
This doesn't seem to be an issue for the installation. Going to go ahead and close this. Whatever the problem/warning was, it must have been resolved in a package update.

[2017-11-02 00:27] #4539 closed

[2017-11-02 00:44] Teodelas opened #4811 "az acs get-credentials results in error: Name or service not known"
Occurs in Cloud Shell, CentOS, and Bash on Windows
azure-cli (2.0.20)

[2017-11-02 00:58] sptramer commented on #4797
Still seeing the error. This is when running an OpenSUSE docker container, `opensuse:latest`. The steps taken after creating the container and launching it are:

[code]

This may be a problem isolated to docker due to some missing software, but GPG is installed.

[2017-11-02 01:49] Teodelas commented on #4811
Figured this out.  The certificate on the ACS cluster was incorrect.  Could there be a better error than this?  Below was the error I found on the server:
Unable to connect to the server: x509: certificate is valid for teoacs-ACS-fed7f4mgmt.eastus.cloudapp.azure.com, kuberne
tes, kubernetes.default, kubernetes.default.svc, kubernetes.default.svc.cluster.local, kubernetes.kube-system, kubernete
s.k

[2017-11-02 03:55] bostonmoto commented on #3411
vvish5 use cli to identify the actual image you want first and then search for the image & then enable it. It didn't work for me at first because I enabled the wrong image. It has to be an exact match.
You do not have to create it manually first contrary to what someone else said above, the keyword is message is OR.

and configure programmatic deployment for the Marketplace item **or** create it t

[2017-11-02 06:59] rathinikunj commented on #4789
@tjprescott

There is actually no CLI parameter to mention the resource-group for a vnet. The '--resource-group' parameter is used for creating VM, NICs etc in that resource-group. But if i want to use an existing vnet in a different resource-group for assigning IP, i cannot do that from CLI.

[2017-11-02 07:59] tomasaschan opened #4813 "Is there a metadata generation tool like `azure --gen` in this version?"
In old versions of the Azure CLI, there was a flag `azure --gen` which generated JSON metadata with info about all the commands. This was really helpful for creating tab completion extensions (see e.g. https://github.com/stuartleeks/posh-azurecli).

I want to make an attempt at porting Posh-AzureCli to the the 2.x version of the CLI, but it relies on the metadata generated with `azure --gen` and I

[2017-11-02 10:10] yuwzho opened #4814 "Failed to create image if the disk has the same name with a vm"
---

### Environment summary
Ubuntu 16.04LTS

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

I want to create an image use Azure-CLI from a given disk, but a vm in the same group has the same name with disk. Then Azure-CLI will failed to create image from disk bu

[2017-11-02 10:52] kpu commented on #3809
Please please fix this for real, by enabling copies of images with managed disks from one region to another.  This is a big pain point and should not require ten obtuse commands to figure out.

[2017-11-02 11:26] ashipilov commented on #4746
Here is the workaround on windows if you don't have any clusters configured yet:

[code]

Please note that it will replace existing kubectl configuration

[2017-11-02 12:07] rjschwei opened #4816 "Traceback produced for backend failure"
When there are backend issues the az tool generates a traceback on the command line rather than a proper error message.

Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /subscriptions/xxx/resourceGroups/yyy/providers/Microsoft.Storage/storageAccounts?api-version=2017-06-01 (Caused by ResponseError('too many 500 erro

[2017-11-02 12:20] snebel29 opened #4817 "Impossible to add route-table to subnet on different resource groups"
Hi,
I'm unsucessfully trying to update the route-table of a subnet, the subnet and the route table exists in different resource groups, I can do it using Azure portal but I can't do it using the CLI.

I've tried the following combination of commands

By using the resource group where the vnet exists
[code]
By using the resource group where the route table exists
[code]
By using the canonical adres

[2017-11-02 12:27] snebel29 commented on #4817
I actually just realized that you can achieve this by using full canonical ids in both the vnet and the route table fields like this

[code]
I will close the ticket, sorry for this :-)

[2017-11-02 12:28] #4817 closed

[2017-11-02 15:45] sptramer commented on #4797
Double checked; this is an issue on a fresh openSUSE-Leap-42.3 install as well.

[2017-11-02 16:12] yugangw-msft commented on #4814
Thanks for reporting this.

[2017-11-02 16:14] yugangw-msft commented on #4813
You can start with: https://github.com/Azure/azure-cli/blob/dev/scripts/dump_command_table.py

[2017-11-02 16:47] troydai opened #4818 "Increase the block size in blob batch upload command when the target file is larger than 200GB"
It has been done to the `az storage blob upload` command.

[2017-11-02 16:53] troydai commented on #4816
Thank you @rjschwei for reporting this. I will take a look at the source of this error and review the error handling in the storage module.

[2017-11-02 17:08] derekbekoe commented on #3809
@kpu
This may be what you're after?
https://github.com/Azure/azure-cli-extensions/blob/master/src/image-copy/setup.py.

Let us know and we can describe how to install the extension.

cc: @tamirkamara

[2017-11-02 17:18] troydai commented on #4816
We can capture re-interrupt the error message for individual command. However, this falls into a wider category regarding how unexpected exception is presented at the core level.

[2017-11-02 17:23] vshantharaj commented on #4799
similar issue

[2017-11-02 17:34] derekbekoe commented on #4799
This looks similar to https://github.com/Azure/azure-cli/issues/4746 but this is not on Windows.
cc: @mboersma @yugangw-msft

[2017-11-02 17:47] derekbekoe commented on #4799
@IbraheemAlSaady We've had a few related issues so any other details would be useful.
https://github.com/Azure/azure-cli/issues?q=is%3Aissue+paramiko+is%3Aclosed

Is the key encrypted?

[2017-11-02 18:10] lmazuel commented on #4775
Fixed in https://pypi.python.org/pypi/azure-graphrbac/0.33.0

[2017-11-02 18:16] vshantharaj commented on #4799
ah.. figured out my issue..  i had to pass my ssh key file path... --ssh-key-file

[2017-11-02 18:24] IbraheemAlSaady commented on #4799
@derekbekoe I generated the cluster with the '--generate-ssh-key' flag, it was working when it was generated, but later when I'm trying to get credentials, I'm having the error above. The thing I did is that I reduced the VM count to 2 instead of 3 from the portal. Also my credit was due but I renewed. I assume that's not related but that's all what I did during the time I had the cluster. Hope it

[2017-11-02 18:29] IbraheemAlSaady commented on #4799
@vshantharaj I tried that but didn't work too, I still get the same error

[2017-11-02 18:37] derekbekoe commented on #4797
I was able to repro with the Docker image `opensuse:latest`.

[code]

Looks similar to https://github.com/Microsoft/vscode/issues/35086 so I'll follow up.

[2017-11-02 18:37] #4203 closed

[2017-11-02 20:00] JeremyLoy commented on #3720
Can confirm that this is still a problem when using a custom Docker image based on Ubuntu 14.04.

Fails when installed with apt-get. Succeeds when installed via curl.

[2017-11-02 20:36] troydai commented on #3720
@derekbekoe ?

[2017-11-02 21:02] #4233 closed

[2017-11-02 21:09] williexu commented on #4744
https://github.com/Azure/azure-cli/pull/4820 will add progress-reporting to the `blob upload-batch` command.

[2017-11-02 22:00] vshantharaj commented on #4799
Did u try running as root...?

And ensure you use the same key which u used for creating the cluster...

On Nov 2, 2017 1:30 PM, "Ibraheem Al Saady" <notifications@github.com>
wrote:

[2017-11-02 22:01] whindes commented on #3445
I tried in windows 7 :  git bash az.cmd --version

[2017-11-02 22:03] IbraheemAlSaady commented on #4799
@vshantharaj yeah, didn't work.
It's frustrating, luckily it's a staging cluster, so I guess I'll just remove it and create another one , but if I moved to prudctuon and this happened, then it's a problem.
I hope it gets fixed

[2017-11-02 22:07] vshantharaj commented on #4799
Cool... Some stuff I tried around this...( In case you want to give it a
shot)

- update azure-cli
- reinstalled azure-cli

On Nov 2, 2017 5:04 PM, "Ibraheem Al Saady" <notifications@github.com>
wrote:

[2017-11-02 22:09] IbraheemAlSaady commented on #4799
Oh I did reinstall it twice haha, thanks for the help though, much appreciated.

[2017-11-02 22:18] derekbekoe commented on #4797
This has been resolved. Thanks.

[2017-11-02 22:18] #4797 closed

[2017-11-02 22:23] derekbekoe opened #4821 ""legal" aka.ms link shown in the Azure CLI points to a non-existent file"
The “legal” aka.ms link shown in the Azure CLI points to a non-existent file in your GitHub repo. https://aka.ms/AzureCliLegal

Fix is change the aka.ms link to https://raw.githubusercontent.com/Azure/azure-cli/master/cli_license_terms.md

[2017-11-02 22:34] jwood803 opened #4822 "[ML] Setup giving `BadRequest` error when trying to provision machine learning resource group"
### Environment summary
Installed from Azure ML Workbench and run from `cmd.exe` also from Azure ML Workbench.

Versions:
- azure-cli (2.0.17)
- ml (0.1.0a25.post3)

Windows 10 Pro

### Issue
Following [this tutorial](https://blogs.technet.microsoft.com/machinelearning/2017/09/25/deploying-machine-learning-models-using-azure-machine-learning/) on deploying an Azure ML model from Workbench as a web

[2017-11-02 22:53] derekbekoe commented on #4822
cc: @trangevi

[2017-11-03 00:32] derekbekoe commented on #3720
Related https://github.com/Azure/azure-cli/issues/4360

[2017-11-03 01:05] JasonRShaver commented on #62
Cleaning up old and likely to be abandoned issues, please re-open if this issue still exists
Cleaning up old and likely to be abandoned issues, please re-open if this issue still exists

[2017-11-03 01:05] JasonRShaver commented on #62
Cleanse re-open if this issue still exists

[2017-11-03 01:07] JasonRShaver commented on #62
Cleaning up old issues, reopen if this is still active.

[2017-11-03 01:07] #62 closed

[2017-11-03 01:08] JasonRShaver commented on #120
Clean

[2017-11-03 01:12] JasonRShaver commented on #190
Clean

[2017-11-03 01:12] #190 closed

[2017-11-03 01:12] JasonRShaver commented on #243
CleanCleaning u old issues, reopen if this is still active.

[2017-11-03 01:12] #243 closed

[2017-11-03 01:13] JasonRShaver commented on #536
Clean

[2017-11-03 01:13] #536 closed

[2017-11-03 01:14] JasonRShaver commented on #576
I diagree with old jason

[2017-11-03 01:14] #576 closed

[2017-11-03 02:12] JasonRShaver commented on #556
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:12] #556 closed

[2017-11-03 02:13] JasonRShaver commented on #580
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:13] #580 closed

[2017-11-03 02:14] JasonRShaver commented on #355
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:14] #355 closed

[2017-11-03 02:15] JasonRShaver commented on #654
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:15] #654 closed

[2017-11-03 02:15] JasonRShaver commented on #684
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:15] #684 closed

[2017-11-03 02:16] JasonRShaver commented on #561
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:16] #561 closed

[2017-11-03 02:17] JasonRShaver commented on #729
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:17] #729 closed

[2017-11-03 02:17] JasonRShaver commented on #734
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:17] JasonRShaver commented on #733
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:17] #733 closed

[2017-11-03 02:18] JasonRShaver commented on #978
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:18] #978 closed

[2017-11-03 02:18] JasonRShaver commented on #833
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:18] #833 closed

[2017-11-03 02:19] JasonRShaver commented on #944
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:19] #944 closed

[2017-11-03 02:19] JasonRShaver commented on #961
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:19] #961 closed

[2017-11-03 02:19] JasonRShaver commented on #1005
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:19] #1005 closed

[2017-11-03 02:19] JasonRShaver commented on #941
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:19] #941 closed

[2017-11-03 02:20] JasonRShaver commented on #948
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:20] #948 closed

[2017-11-03 02:21] JasonRShaver commented on #1040
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:21] #1040 closed

[2017-11-03 02:21] JasonRShaver commented on #1046
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:21] #1046 closed

[2017-11-03 02:21] JasonRShaver commented on #1096
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:21] #1096 closed

[2017-11-03 02:23] JasonRShaver commented on #1296
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:23] #1296 closed

[2017-11-03 02:25] JasonRShaver commented on #3499
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:25] JasonRShaver commented on #1055
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:25] #1055 closed

[2017-11-03 02:27] JasonRShaver commented on #1161
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:27] #1161 closed

[2017-11-03 02:28] JasonRShaver commented on #1140
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:28] #1140 closed

[2017-11-03 02:28] JasonRShaver commented on #1062
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:28] #1062 closed

[2017-11-03 02:29] JasonRShaver commented on #1205
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:29] #1205 closed

[2017-11-03 02:30] JasonRShaver commented on #1036
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:30] #1036 closed

[2017-11-03 02:30] JasonRShaver commented on #1331
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:30] #1331 closed

[2017-11-03 02:30] JasonRShaver commented on #1063
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:30] #1063 closed

[2017-11-03 02:31] JasonRShaver commented on #788
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:31] #788 closed

[2017-11-03 02:31] JasonRShaver commented on #981
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:31] #981 closed

[2017-11-03 02:32] JasonRShaver commented on #807
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:32] JasonRShaver commented on #807
Cleaning up old issues, reopen if this is still active.

[2017-11-03 02:32] JasonRShaver commented on #1060
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:32] #1060 closed

[2017-11-03 02:33] JasonRShaver commented on #1453
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:33] #1453 closed

[2017-11-03 02:33] JasonRShaver commented on #1465
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:33] #1465 closed

[2017-11-03 02:34] JasonRShaver commented on #630
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:34] #630 closed

[2017-11-03 02:34] JasonRShaver commented on #1549
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:34] #1549 closed

[2017-11-03 02:34] JasonRShaver commented on #1588
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:34] #1588 closed

[2017-11-03 02:36] JasonRShaver commented on #1623
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:36] #1623 closed

[2017-11-03 02:37] JasonRShaver commented on #1627
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:37] #1627 closed

[2017-11-03 02:37] JasonRShaver commented on #1662
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:37] #1662 closed

[2017-11-03 02:37] JasonRShaver commented on #1686
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:37] #1686 closed

[2017-11-03 02:38] JasonRShaver commented on #386
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:38] #386 closed

[2017-11-03 02:39] JasonRShaver commented on #1711
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:39] #1711 closed

[2017-11-03 02:40] JasonRShaver commented on #1601
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:40] #1601 closed

[2017-11-03 02:40] JasonRShaver commented on #1706
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:40] #1706 closed

[2017-11-03 02:41] JasonRShaver commented on #1733
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:41] #1733 closed

[2017-11-03 02:41] JasonRShaver commented on #1730
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:41] #1730 closed

[2017-11-03 02:42] JasonRShaver commented on #1065
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:42] #1065 closed

[2017-11-03 02:42] JasonRShaver commented on #1424
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:42] #1424 closed

[2017-11-03 02:42] JasonRShaver commented on #1564
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:42] #1564 closed

[2017-11-03 02:43] JasonRShaver commented on #1774
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:43] #1774 closed

[2017-11-03 02:46] JasonRShaver commented on #1845
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:46] #1845 closed

[2017-11-03 02:46] JasonRShaver commented on #1857
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:46] #1857 closed

[2017-11-03 02:47] JasonRShaver commented on #1874
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:47] #1874 closed

[2017-11-03 02:48] JasonRShaver commented on #1291
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:48] #1291 closed

[2017-11-03 02:48] JasonRShaver commented on #1436
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:48] #1436 closed

[2017-11-03 02:49] JasonRShaver commented on #1981
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:49] #1981 closed

[2017-11-03 02:49] JasonRShaver commented on #1988
Cleaning up old issues, reopen if this is still active.

[2017-11-03 02:49] #1988 closed

[2017-11-03 02:49] JasonRShaver commented on #2003
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:49] #2003 closed

[2017-11-03 02:49] JasonRShaver commented on #2012
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:49] #2012 closed

[2017-11-03 02:49] JasonRShaver commented on #1112
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:49] #1112 closed

[2017-11-03 02:50] JasonRShaver commented on #2011
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:50] #2011 closed

[2017-11-03 02:50] JasonRShaver commented on #1771
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:50] #1771 closed

[2017-11-03 02:50] JasonRShaver commented on #1061
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:50] #1061 closed

[2017-11-03 02:50] JasonRShaver commented on #1414
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:50] #1414 closed

[2017-11-03 02:51] JasonRShaver commented on #458
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:51] #458 closed

[2017-11-03 02:51] JasonRShaver commented on #1765
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:51] #1765 closed

[2017-11-03 02:51] JasonRShaver commented on #2086
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:51] #2086 closed

[2017-11-03 02:51] JasonRShaver commented on #2115
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:51] #2115 closed

[2017-11-03 02:52] JasonRShaver commented on #2118
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:52] #2118 closed

[2017-11-03 02:52] JasonRShaver commented on #2161
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:52] #2161 closed

[2017-11-03 02:52] JasonRShaver commented on #2246
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:52] #2246 closed

[2017-11-03 02:52] JasonRShaver commented on #2250
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:53] JasonRShaver commented on #2292
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:53] JasonRShaver commented on #2277
Clean

[2017-11-03 02:53] #2277 closed

[2017-11-03 02:53] JasonRShaver commented on #1901
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:53] #1901 closed

[2017-11-03 02:53] JasonRShaver commented on #1466
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:53] JasonRShaver commented on #1267
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:53] #1267 closed

[2017-11-03 02:53] JasonRShaver commented on #2283
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:54] JasonRShaver commented on #2116
still exists in 2.20

[2017-11-03 02:55] JasonRShaver commented on #2125
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:55] #2125 closed

[2017-11-03 02:55] JasonRShaver commented on #2281
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:55] #2281 closed

[2017-11-03 02:55] JasonRShaver commented on #2323
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:55] #2323 closed

[2017-11-03 02:55] JasonRShaver commented on #2251
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:55] #2251 closed

[2017-11-03 02:56] JasonRShaver commented on #2329
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:56] #2329 closed

[2017-11-03 02:56] JasonRShaver commented on #2334
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:56] #2334 closed

[2017-11-03 02:56] JasonRShaver commented on #2416
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:56] #2416 closed

[2017-11-03 02:57] JasonRShaver commented on #2470
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:57] #2470 closed

[2017-11-03 02:57] JasonRShaver commented on #2471
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:57] JasonRShaver commented on #1569
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:58] JasonRShaver commented on #2523
Cleaning u old issues, reopen if this is still active.

[2017-11-03 02:58] #2523 closed

[2017-11-03 03:00] JasonRShaver commented on #1834
Cleaning u old issues, reopen if this is still active.

[2017-11-03 03:00] JasonRShaver commented on #2590
Cleaning u old issues, reopen if this is still active.

[2017-11-03 03:00] #2590 closed

[2017-11-03 07:32] ahmedelnably commented on #1834
Reopening as this is still going to be done

[2017-11-03 07:49] rcarmo commented on #1569
Yeah, this is still active - on a cleanly installed az, there is still no equivalent command that I can fathom. Why close this without verification?

[2017-11-03 11:08] benc-uk commented on #4746
Hi @andersarpi, when I try in WSL I get the following error
[code]
Looking at [the comments in the docs, several other people report the same problem](https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard)

Are there any other steps you carried out for this to work?

[2017-11-03 12:12] nneul opened #4825 "az storage account update --default-action does not actually set"
---

### Environment summary

[code]

Doc here: https://docs.microsoft.com/en-us/azure/storage/common/storage-network-security?toc=%2fazure%2fstorage%2fblobs%2ftoc.json

It appears that the --default-action setting is not up networkRuleSet.defaultAction which gets changed by the portal. The other cli commands appear to work fine.

The documentation appears to be incorrect where it references 'netw

[2017-11-03 12:17] nneul commented on #4825
Looks like bypass setting is also affected.

[2017-11-03 12:29] nneul commented on #4825
Related to this - how do I use the generic update --set to set a field without it throwing away all the other elements? Or is this something broken server side?

i.e. if do `--set networkRuleSet.defaultAction=Deny` -- it takes effect, but it discards the bypass and actual rules in that same object.

[2017-11-03 15:20] trangevi commented on #4822
@jwood803 can you please share your subscription ID as well as the name of the cluster you are trying to create and the location? Additionally, was there more to the cli output? I noticed the comma at the end, so if there is more output and you could provide that, it could be helpful as well.

Thanks

[2017-11-03 15:47] jwood803 commented on #4822
Sure, @trangevi!

I used this command - `az ml env setup -n slrdemo -l eastus2 -c` and under the "Visual Studio Enterprise" subscription. Is the actual subscription ID safe to post?

Here's the whole result of the `az ml show` command after the `setup` command:
[code]

[2017-11-03 16:08] yugangw-msft commented on #1834
@troydai, please let us know the right set of monitoring metrics we should pick up and the right command pattern we should follow.

[2017-11-03 16:38] trangevi commented on #4822
@jwood803 Are you using an MSDN subscription? If you are, that is the issue, as they have a spending cap which causes the app insights deployment to fail.

If you are not I'll have to investigate further.

[2017-11-03 16:41] trangevi commented on #4822
@jwood803 So the issue is that you are using the Visual Studio Enterprise subscription. Those subscriptions have a spending limit that causes our App Insights deployment to fail. The solution is to either use a subscription that doesn't have that spending limit, or to get the spending limit removed on that subscription.

[2017-11-03 18:04] SaloniSonpal commented on #4324
The Azure Database for MySQL service is not available in the China cloud today, Hence the resource provider 'Microsoft.DBforMySQL' is invalid as expected.

For latest updates and service announcements, follow us on Twitter @AzureDBPostgres or track the Azure blog at https://azure.microsoft.com/en-us/blog/topics/updates/.

[2017-11-03 18:08] derekbekoe commented on #1569
I'm going to reopen this so we don't lose track of this.

[2017-11-03 18:14] SaloniSonpal commented on #4183
@yaronyg - Thanks for your feedback. This does look like a bug where the exact parameter is not called out and hence not very actionable. We will work on addressing this issue and fixing it as a part of the next release.

[2017-11-03 18:19] SaloniSonpal commented on #4209
@yaronyg - This is by design. Since the rule does not exist, deletion of it declares success.

[2017-11-03 18:34] ulkaio opened #4826 "Azure interactive: save JSON output to a file."
Is there a way from the azure interactive window to save the command JSON output redirect to a file?
ie.
az>> account list --all
returns JSON output, I want to redirect the output to a file.

---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[c

[2017-11-03 19:30] fliang-ms opened #4827 "generate-sas creates SAS without t after ss= even though I specified table service in --services"
I tried to use generate-sas to create a SAS link with access to table service. But the created SAS token doesn't have t after ss==. It seems to intentionally ignore the request. The same command line works fine on my windows box with azure-cli(2.0.0). Is it a regression?

[code]

---

### Environment summary

azure-cli (2.0.20)

acr (2.0.14)
acs (2.0.18)
appservice (0.1.19)
backup (1.0.2)
batch (3

[2017-11-03 20:47] troydai commented on #4827
Table service is being moved out of azure storage and integrating with CosmosDB service. Therefore the table will not fall under the storage service's SAS token anymore. We kept the command structure to avoid breaking change in short-term.

To generate a SAS for table service please use `az storage table generate-sas` command.

[2017-11-03 20:48] troydai commented on #4827
I will close this issue for now. Please feel free to reopen if you have any follow up question.

[2017-11-03 20:51] fliang-ms commented on #4827
how can I generate a single SAS token for both blob and table? Actually I am following up steps on https://docs.microsoft.com/en-us/azure/virtual-machines/linux/diagnostic-extension to create a Linux diagnostic extension. One of step is to create a SAS token for the extension to access both blob and table service. How can I achieve it now? Additionally, it is a breaking change. Adding some warning

[2017-11-03 20:54] troydai commented on #4825
@tjprescott can you help with the `--default-action` option? @williexu please take a look the generic set.

[2017-11-03 20:59] troydai commented on #4775
@lmazuel can we close issue? Is there any pending action on CLI side?

[2017-11-03 21:19] lmazuel commented on #4775
@troydai , yes CLI needs to update the dependency from 0.31.0 to 0.33.0 and check that everything is ok. Best scenario it's just a dependency update, but since it's critical package that impact a lot of commands, should be done carefully.

[2017-11-03 22:05] derekbekoe commented on #3720
If anyone has steps to reproduce this, it would be useful:
[code]

I tried the following and was able to log in fine.

[2017-11-03 22:27] dend opened #4829 "--ids should support JSON as well as space separated values"
Using the CLI on a mac, installed through `brew`

When I run:

[code]

I get:

[code]

Which makes sense, given the output of `az resource list -g aci-builders --query "[].id" --resource-type "Microsoft.ContainerInstance/containerGroups"`, however as a user, this doesn't make sense at all - why can't the `--ids` parameter also accept a JSON array of IDs instead of a space-separated string?

[2017-11-03 22:30] derekbekoe commented on #4829
Try `-o tsv` at the end of your resource list command?

[2017-11-03 22:31] dend commented on #4829
@derekbekoe that would work, but still - seems like a much more intuitive approach would be to not have an extra parameter and instead rely directly on the set of IDs.

[2017-11-03 22:35] derekbekoe commented on #4829
@dend Okay fair point.
I have modified the issue accordingly.

[2017-11-03 22:35] troydai commented on #4775
@yugangw-msft are you taking up the CLI side action?

[2017-11-03 22:48] #4818 closed

[2017-11-04 14:33] julielerman opened #4832 "Set function settings with JSON"
In CLI, I can get a list of settings from one function and they are displayed in JSON ala

[code]
To set new settings, however, the format is  `"TwilioSID=bibbitybobityboo"`

When I want to reuse settings from one function app into another, I'd like to just copy the json from the list command and use that.

This would allow me to create a bash file to run the set command where I can paste the json

[2017-11-04 17:18] julielerman commented on #4832
I realize that if I change the output format to tsv, it will be a lot easier to copy/paste the settings. Nevermind. :)

[2017-11-04 17:18] #4832 closed

[2017-11-05 03:25] seanknox opened #4833 ""az stop" doesn't actually stop VM"
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

STR:
- Stop a VM with `az vm stop`
- Try to resize a managed disk on the vm

EXPECTED:
- managed disk is resized

ACTUAL:
[code]

This is different behavior than stopping a VM in the Por

[2017-11-05 07:55] GuofuZhong commented on #4746
When could fix it?
I try @tomconte 's method but I still face this issue...
`C:\Program Files (x86)>az --version
azure-cli (2.0.20)

acr (2.0.14)
acs (2.0.18)
appservice (0.1.19)
backup (1.0.2)
batch (3.1.6)
batchai (0.1.2)
billing (0.1.6)
cdn (0.0.10)
cloud (2.0.9)
cognitiveservices (0.1.9)
command-modules-nspkg (2.0.1)
component (2.0.8)
configure (2.0.12)
consumption (0.1.6)
container (0.1.12)
c

[2017-11-05 17:07] yaronyg commented on #4209
@SaloniSonpal - I agree that this should be successful, but as I document above, it isn't. The operation fails. In other words if the command to delete a rule that didn't exist succeeded I would be happy. But as I document above that isn't what's going on, instead the command says "200" but then exits with a failure code causing my script to fail.

[2017-11-05 17:08] yaronyg commented on #4183
@SaloniSonpal  - If this is tracked on your end can I safely close this bug?

[2017-11-05 17:09] yaronyg commented on #4152
@SaloniSonpal - Since you have a bug on your end tracking this I'll close this bug.

[2017-11-05 17:09] #4152 closed

[2017-11-05 22:53] PlasmaPower commented on #4372
I'm also experiencing this problem. I'm using approximately `az storage blob upload --file <(ssh server cat /path/to/file) ...`, which results in something like `/dev/fd/52` instead of `/dev/fd/0`, but even if I use stdin, it only uploads an empty file. `--content-type text/plain` doesn't fix it. `cat <(ssh server cat /path/to/file)` works fine. I can upload the file fine if I pipe it into a tempo

[2017-11-05 23:04] PlasmaPower commented on #4372
I'm on Arch Linux, and I installed the Azure CLI through `https://aka.ms/InstallAzureCli`. I'm on Azure CLI version 2.0.20 and Python version 3.6.3.

[2017-11-06 00:00] paulopsgility commented on #3411
There should be a way to accept this from an ARM template, API, CLI, PowerShell or at subscription create time. The legal terms seems like a silly argument. The whole point of automation is so that you don't have to do these manual steps.

[2017-11-06 16:52] sptramer commented on #3411
@derekbekoe @JasonRShaver - Since this involves legal terms, is a better solution to document this issue clearly and then provide information on how to resolve it?

[2017-11-06 20:11] derekbekoe commented on #3905
Closed with https://github.com/Azure/azure-cli/pull/4830

[2017-11-06 20:11] #3905 closed

[2017-11-06 22:28] yugangw-msft commented on #4733
fixed by #4776

[2017-11-06 22:28] #4733 closed

[2017-11-06 22:35] yugangw-msft commented on #4833
The portal actually de-allocates the VM, rather just powers off. There is inconsistency here which I will clarify with the portal folks. At the same time, you can use`az vm deallocate`.

[2017-11-06 23:08] derekbekoe commented on #4833
Is this the same as https://github.com/Azure/azure-cli/issues/3026?

[2017-11-06 23:18] yugangw-msft commented on #4801
@sethtregenna, there is a CLI bug I can fix to allow basic tiers, but based on the command you mentioned, you might likely hit a subsequent issue that azure load balancer won't support basic tier of VMs. Maybe you can share a bit more details of your work flow, say are you willing to switch to application-gateway, or can live without balancer at all.
Anyway, CLI has a bug I will fix, but at the sa

[2017-11-06 23:26] yugangw-msft commented on #4833
Let us keep on using #3026 for tracking. Closing this one...

[2017-11-06 23:26] #4833 closed

[2017-11-06 23:40] tjprescott opened #4840 "[Test] `check_style` and `run_tests` do not work on Python 2."
Related to https://github.com/Azure/azure-cli/issues/3883

When I run these scripts I get:
[code]

[code]

---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

dev_setup.py / azure-cli (2.0.21) / Win 10 / CMD.exe
[code]

[2017-11-06 23:42] yugangw-msft commented on #4801
//CC @tjprescott.
We should update 2 places in CLI:
1. Do not [hard coded](https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/_template_builder.py#L851) `Standard` tier
2. On `Basic` tier of vm, defaults to no balancer

[2017-11-06 23:51] derekbekoe commented on #4840
This actually looks related to https://github.com/Azure/azure-cli/commit/b5e53a8d44977337aeb85d52bbf0833f4756b3b9#diff-2071ffe9914306221414bd4300c8a8a3R52.

I'm surprised as it's fully documented at http://python-packaging.readthedocs.io/en/latest/command-line-scripts.html#the-console-scripts-entry-point.

What's the full Python version & pip version you're using?

[2017-11-06 23:54] tjprescott commented on #4840
Python 2.7.11 pip 9.0.1

[2017-11-07 06:48] dazdaz opened #4842 "Provider Microsoft.DBforMySQL Broken"
Azure CLI 2.0.20 executed on Ubuntu 17.04 is not reporting monitoring stats on the Azure Managed MySQL Service.

I've created a database and content, and yet it reports [] and not the result.  By using the portal, I can see that storage is consumed.

Is the REST API broken, or is my command wrong ?

$ az monitor metrics list-definitions --resource "/subscriptions/\<Subscription ID>/resourceGroups/

[2017-11-07 16:58] revodavid opened #4843 "az acr login failure"
Attempting to log in to a Container Registry server gives me a "stub received bad data" error. (Same thing happens running PowerShell in admin mode.)

[code]

[code]

[2017-11-07 21:57] #4801 closed

[2017-11-07 22:39] troydai opened #4848 "The test of find module should exposed the reindex error"
[code]

Above is an error happens during the reindex of the find command. The error is swallowed during the test and leave the developer confused with `test_search_index` test failure. It is particularly confusing when the root of the failure is in a different command module's help documentation.

[2017-11-07 23:39] Katana-Steel commented on #4734
@tjprescott I see in the sprint that a fix is in the pipeline... would there be a simple way I could test it out?

[2017-11-08 05:05] yugangw-msft commented on #4843
This is a known issue, see below for the workaround that @djyou provided through a recent email exchange
[code]

[2017-11-08 12:15] sethtregenna commented on #4801
@yugangw-msft Thanks for looking into it - I did subsequently find out that the basic tier isn't supported. The ILB was more important to us than reducing the VM size due to our workload so have used a Standard D1.

[2017-11-08 15:38] benc-uk commented on #4746
Looks like the fix was merged in very recently https://github.com/Azure/azure-cli/pull/4762
So hoping the next release of the CLI will resolve this

[2017-11-08 15:55] tjprescott commented on #4842
Hi @dazdaz, a few things:
- the `metrics list-definitions` command won't show you the values for metrics. That is the `metrics list` command.
- run the `metric list-definitions` command without `--metric-names` to see what metrics your resource supports. You'd need to use that name in the `list metrics` command.
- running `metrics list-definitions` with `--metric-names` seems to have a bug. We'll

[2017-11-08 16:06] lawrencegripper commented on #4790
Seeing this issue too, just looking  at putting together a pull request to provide the full error information.

As a temporary workaround for other stuck you can use `--debug` and see the full json returned by the all, this includes the detailed error message.

[2017-11-08 16:08] mboersma opened #4849 "Add tests around `az aks get-credentials`"
#4762 was merged to fix a Windows-specific bug, but could use additional test coverage.

[2017-11-08 16:09] tjprescott commented on #4734
Edge build or a developer setup would get you the newest changes ahead of the official release.
https://github.com/Azure/azure-cli#edge-builds

Also, closing since PR #4777 didn't close automatically.

[2017-11-08 16:09] #4734 closed

[2017-11-08 17:02] lawrencegripper commented on #4790
Here is the result, I recurse through all the detailed errors and display each - submitting the PR now

<img width="1915" alt="newerrorazurecli" src="https://user-images.githubusercontent.com/1939288/32562399-77232f3c-c4a6-11e7-902d-67a144e2e924.png">

[2017-11-08 17:31] johanste commented on #4829
Just to add something to the conversation, there are two things that one would have to keep in mind when implementing this:

- You have to decide how to deal with non-json output types (i.e. table)
- There are commands that return multiple ids - see `az vnet subnet list` for one example. It is probably acceptable to use the top level id - but we should think through the scenario before implementin

[2017-11-08 18:28] BlitzkriegSoftware commented on #4746
Any word on release date...???

[2017-11-08 18:28] BlitzkriegSoftware commented on #4746
Any word on release date...???

[2017-11-08 18:28] BlitzkriegSoftware commented on #4746
Any word on release date...???

[2017-11-08 18:28] BlitzkriegSoftware commented on #4746
Any word on release date...???

[2017-11-08 18:28] BlitzkriegSoftware commented on #4746
Any word on release date...???

[2017-11-08 18:29] BlitzkriegSoftware commented on #4746
Any word on release date...??? I can verify browse does not work in clud shell either.

[2017-11-08 18:29] BlitzkriegSoftware commented on #4746
Any word on release date...??? I can verify browse does not work in clud shell either. #4762

[2017-11-08 21:11] yugangw-msft opened #4851 "role: support retrieving co-admins who have access to the subscription"
A valid scenario, and the API is available `https://docs.microsoft.com/en-us/rest/api/authorization/ClassicAdministrators/List`

Suggest: expose a `--include-classic-administrators` flag from `az role assignment list` command

[2017-11-08 21:20] JasonRShaver commented on #4531
Moving this out of milestone as it has passed

[2017-11-08 21:27] derekbekoe commented on #4746
We are releasing early next week.

[2017-11-08 21:47] yugangw-msft commented on #4592
Done

[2017-11-08 21:49] yugangw-msft commented on #4592
Actually, exposing from `create` command was agreed that we should do it at some point, hence let us keep this active till we get it done with explicit identity together

[2017-11-08 22:20] tjprescott commented on #4825
The issue with generic update is a bug in the CLI related to trying to leverage a crummy PATCH implementation in storage.  My PR #4853 addresses the issue, but in the future we may opt to stick with just using the PUT.

[2017-11-08 23:39] #4651 closed

[2017-11-09 00:02] yugangw-msft commented on #4180
Closing per #4700. Thanks @panchagnula!

[2017-11-09 00:02] #4180 closed

[2017-11-09 00:03] tjprescott commented on #4531
We could make this an automated thing for modules based on the heuristic that anything with version < 2.0 is preview.  However, there are "branches" with a command module's subtree that could still be PREVIEW (network watcher for example) but it would be a workable solution for modules at least.

[2017-11-09 00:56] artisticcheese commented on #4746
I'm wondering if Microsoft even tests anything on Windows anymore. This issue would have been caught pretty early on since none of showcased steps would work right out of the bat.

[2017-11-09 02:06] datavirtue commented on #3996
For anyone who happens upon this thread from a search as I did...

It seems there is no way to add a certificate key credential to an existing application registration in the graphical portal for Azure.  This required step is highlighted in the "automation authentication 8 steps blog post."

https://blogs.technet.microsoft.com/keithmayer/2016/03/26/8-steps-for-using-azure-ad-service-principal-cert

[2017-11-09 04:44] jamoham commented on #4679
I am still hitting this issue on `2.0.20`

[code]

[2017-11-09 07:04] ChristianSauer commented on #2324
Very sad, since PowerShell is the shell to use in windows.
Honestly, I think it's kind of hilarious, since even docker (a native linux tool!) has better powershell support than a core microsoft product.

[2017-11-09 07:42] troydai commented on #2324
@ChristianSauer thank you for the comments. The Azure CLI 2.0 is designed to be a bash oriented. Its tab completion is supported in bash on Windows as well as cywin and mingw. On the other hand Azure PowerShell CLI is optimized to be used in the PowerShell command line environment, under which it also supports tab completion. The essense of this issue, however, is to support tab completion for Azu

[2017-11-09 12:27] jochenvw opened #4856 "'az monitor diagnostic-settings create' gives 'HTTPError' object has no attribute 'message''"
Hi all,

I'm trying to configure my CosmosDB to log against Log Analytics. Pretty much the scenario described here: [https://docs.microsoft.com/en-us/azure/cosmos-db/logging](https://docs.microsoft.com/en-us/azure/cosmos-db/logging) but using the new CLI.

I think the command I need is the following:
`az monitor diagnostic-settings create --resource-id "[ID]" --resource-group "[GROUP]" --workspace

[2017-11-09 15:23] artisticcheese commented on #4746
I'm wondering if Microsoft even tests anything on Windows anymore. This issue would have been caught pretty early on since none of showcased steps would work right out of the bat.

[2017-11-09 17:35] troydai commented on #4856
@jochenvw thank you for reporting this issue. The message you got came from an issue of CLI which prevents the error message from being interrupted correctly. The root cause is [SDK issue 1556](https://github.com/Azure/azure-sdk-for-python/issues/1556)

The issue is addressed recently but not released yet. The next release is on 2017/11/15.

Beneath it, the error message hides the real issue seems

[2017-11-09 18:00] #4825 closed

[2017-11-09 18:21] #4279 closed

[2017-11-09 18:21] ahmedelnably commented on #4279
PR: https://github.com/Azure/azure-cli/pull/4718

[2017-11-09 18:27] theMichaelB opened #4857 "MSI login using Docker stack"
I am trying to get cli to log in via MSI on docker stack. The problem is that docker stack doesn't appear to allow access to 127.0.0.1 (it doesn't support host networking)

To get around this, I have obtained the token and written it to file, with the hope of being able to use it to log into az login, in the same way that can be done for Powershell.

Is there a way to use the token from MSI to log

[2017-11-09 18:38] firazs commented on #4746
The following workaround worked for me:
Use '-f=-' to redirect to STDOUT, then redirect output to a file using '>kube.config'

Example:
az aks get-credentials -g=resourcegroupname -n=clustername -f=- >kube.config

[2017-11-09 18:57] ahmedelnably commented on #3650
@panchagnula can you please check if the work around is working, if yes let's close this issue

[2017-11-09 19:02] ahmedelnably commented on #4439
closing this as there is no support from the backend to wait for the sync operation to complete

[2017-11-09 19:02] #4439 closed

[2017-11-09 19:08] ahmedelnably commented on #3869
@LukaszStem can you please check this issue, and fix if needed

[2017-11-09 19:15] yugangw-msft commented on #3650
//CC:@mayurid
We probably should leave these issues along, which are tagged with "ServiceAttn", as someone from SDK team will reach to your team in future for possible fixes at the service end.

[2017-11-09 19:58] JetPac33 commented on #2831
Still no fix available for this ? I ran into this problem with Azure CLI version 2.0.20.

[2017-11-09 21:17] #2752 closed

[2017-11-09 23:19] SriHarsha001 opened #4863 "AKS trying to use incorrect region names"
az aks create -n 'test-dev' -g 'test-dev' -k '1.8.1' -l 'eastus2'
The provided location 'eastus2' is not available for resource type 'Microsoft.ContainerService/managedClusters'. List of available regions for the resource type is 'ukwest,westus2,eastus2euap'.

az aks create -n 'test-dev' -g 'test-dev' -k '1.8.1' -l 'eastus2euap'
Deployment failed. Correlation ID:. No registered resource provider f

[2017-11-10 00:38] sptramer commented on #4857
@theMichaelB I'm unsure if MSI is supported on Docker stack machines - it may only be directly supported on Azure VM. However, we have documentation on using the CLI to perform MSI login:

https://docs.microsoft.com/en-us/azure/active-directory/msi-qs-configure-cli-windows-vm?toc=%2fcli%2fazure%2ftoc.json&bc=%2fcli%2fazure%2fbreadcrumb%2ftoc.json&view=azure-cli-latest

https://docs.microsoft.com/e

[2017-11-10 02:53] up9cloud commented on #4324
@SaloniSonpal

![screen shot 2017-11-10 at 10 49 37](https://user-images.githubusercontent.com/8325632/32640698-eb3ecd7c-c604-11e7-8e32-e0cdf6e1e486.png)

[2017-11-10 03:30] theMichaelB commented on #4857
using the command line `sudo docker run --net=host -it azuresdk/azure-cli-python` it works as expected as this maps the container to localhost - however when running under Docker stack, it is not possible - or at least I've not yet found out how - to map through to localhost

Obviously, it is possible to pass the token into the container (via the filesystem) but CLI would need to support logging i

[2017-11-10 06:09] jackpot1136 opened #4865 "Administrator"
### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

POST https://management.azure.com/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Resources/deployments/{deploymentName}/validate?api-version=2017-05-10```
[code

[2017-11-10 06:33] jackpot1136 commented on #4865
- [ ] Manager,

[2017-11-10 15:44] rdonkin opened #4866 "InstallAzureCli installer doesn't work in non-interactive mode"
The `InstallAzureCli` installer doesn't work except when the user can provide terminal input via a Mac/Linux tty device.    Even if you type `yes '' | bash InstallAzureCli` after downloading the script, it doesn't work because it insists on the tty device.

The use of a tty is quite unnecessary given there are no passwords or input line editing features involved here.

This is important for use wi

[2017-11-10 20:00] #4863 closed

[2017-11-10 22:32] #4806 closed

[2017-11-11 05:11] cecilphillip commented on #4373
Any plans to support service bus commands via the CLI? The ARM configs are an ok work around, but integrated support would be much appreciated.

[2017-11-12 00:51] nbering opened #4869 "Documentation: wildcard character * interpreted by markdown"
I noticed this on the `azure storage blob upload` command for the `--if-none-match` option. `*` is a special character in markdown and should be escaped, or matched pairs will become a marker for an italicized block.

I'd have updated the markdown file, but I suspect this page was generated, and I would need the escape character added upstream to prevent it from being clobbered.

[2017-11-12 20:32] itowlson opened #4870 "Batch: unexpected behaviour of --select option"
I ran the following command:

`az batch pool list --select id`

and it returned JSON with all the top level properties still listed but all except `id` set to null:

[code]

Expected behaviour: return only the `select`-ed properties

Actual behaviour: returned all properties but un-`selected`-ones have null value

---

### Environment summary

Install method: MSI
CLI version:

[code]

Shell type:

[2017-11-12 20:32] itowlson commented on #4870
cc @darylmsft @matthchr

[2017-11-13 03:24] maticko commented on #4386
I'm hitting the same issue using the latest CLI 2.0.20 (on mac) but I'm getting different error msg (`ConnectionError`). Is there any known workaround?

[2017-11-13 18:06] williexu commented on #4386
Hi guys, the sku "ZRS" is available for block blobs only:
[storage docs(do a ctrl+F for "ZRS")](https://docs.microsoft.com/en-us/azure/storage/common/storage-introduction)
Thus, trying to create a fileshare using a storage account that does not support it will fail.
I do believe we should raise better error messages for this; I'll raise an issue to address it.

[2017-11-13 18:17] williexu opened #4872 "Better error handling when creating fileshare on account that does not support it."
---
Running `az storage share create` on a ZRS storage account gives back the error: HTTPSConnectionPool.
This is not helpful at all to the user.

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

[2017-11-13 18:27] derekbekoe commented on #4821
This has been fixed.

[2017-11-13 18:27] #4821 closed

[2017-11-13 19:00] JetPac33 commented on #4573
Had a similar problem with homebrew installed az. Python 3.6 was installed but not linked correctly by homebrew. The problem was fixed by doing brew link --overwrite python3

[2017-11-13 19:48] AlanSt opened #4873 ""az storage acount update" --bypass option will not accept new values"
Tried to assign the values 'Logging', 'Metrics', or 'None' and it stayed on the default of 'AzureServices'.
---

### Environment summary

Install Method
CloudShell

OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)
CloudShell

[2017-11-13 19:52] AlanSt opened #4874 ""az network vnet" incomplete documentation"
The required fields (--resource-group, --vnet-name) are not listed.

This is true on a number of the sub-pages, where additional things like --name aren't listed either.
---

### Environment summary

Install Method
CloudShell

OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)
CloudShell

[2017-11-13 21:03] chribsen commented on #3411
How come these legal terms are not available through the Azure CLI? @yugangw-msft

[2017-11-13 23:19] yugangw-msft commented on #3996
I am updating CLI to support this through the new flag of `--append`, e.g.
[code]

[2017-11-13 23:29] OguzPastirmaci opened #4876 ""az network nsg rule update" does not accept asterisk as a value for source or destination prefix"
---

### Environment summary

azure-cli (2.0.20) in MacOS installed with pip.

Docs [here](https://docs.microsoft.com/en-us/cli/azure/network/nsg/rule?view=azure-cli-latest#az_network_nsg_rule_update) use asterisk in the example but I get the following error message when I try to use asterisk for `--source-address-prefixes` or `--destination-address-prefixes`.

[code]

[code]

[2017-11-14 00:20] derekbekoe commented on #4876
Try wrapping the * in single quotes?

[2017-11-14 00:43] kriszentner opened #4878 "azure network nsg show query shows "null" when there are multiple CIDR blocks in SrcAddrPrefix"
---

### Environment summary

Install Method: Interactive Script
CLI version: 2.0.20
OS version: 14.04.5
Shell Type: Bash on Windows

Running a query such as:
[code]
Will display "null" as the below when you put multiple CIDR blocks into the "source" in the Azure portal. This is supported and works, but doesn't seem to fare so well in displaying with the 2.0 cli. When displaying this in table form

[2017-11-14 00:50] drGarbinsky commented on #4318
+1

[2017-11-14 01:10] yugangw-msft commented on #4318
@bgoykhman-nyt, @drGarbinsky, let me take a look at this again.

[2017-11-14 02:14] OguzPastirmaci commented on #4876
Both single and double quotes work. Why wouldn't it parse correctly without quotes?

[2017-11-14 05:45] dluc commented on #2826
@tjprescott any update on this front?  Some properties can be set only before the deployment, e.g. the number of partitions, so there should be a dedicated flag for `az iot hub create`

[2017-11-14 12:25] alexeyshishkin01 opened #4879 "cannot rename a group"
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)
MSI/azure-cli (2.0.20)/Microsoft Windows [Version 10.0.17035.1000]/Bash on Windows
[code]
I cannot rename a group - is there a way to dot it?

[2017-11-14 15:28] aminebizid opened #4880 "Deploy a zip file to Azure Webapp"
Hello,
I tried these samples https://docs.microsoft.com/en-us/azure/app-service/app-service-cli-samples but i could not find how to deploy a webapp from a zip file using the cli.
I'm trying to run my VSTS builds on a UBUNTU agent and don't have MSDeploy running on it.
---

[2017-11-14 18:11] derekbekoe commented on #4876
Without quotes, bash (the shell I assume you used) expands the `*`.
https://stackoverflow.com/questions/11456403/stop-shell-wildcard-character-expansion

[2017-11-14 18:11] #4876 closed

[2017-11-14 18:12] derekbekoe commented on #4876
@tjprescott Thoughts on modifying the documentation to include the quotes?
FYI: @sptramer

[2017-11-14 18:15] fizwit commented on #3351
Same issue. `bin/python: No module named azure.cli`
re-install of azure-cli does not fix the issue.
OS: Ubuntu 14.04
Python: 2.7.13

Creating the missing ___init__.py file fixed the issue.
[code]

[2017-11-14 18:16] yugangw-msft commented on #4880
Addressed through #4700, to be released today.
The command signature will be `az webapp deployment source config-zip  -g <myRG> -n <myAppName>                  --src <zip file path location>`

[2017-11-14 18:16] #4880 closed

[2017-11-14 18:17] sptramer commented on #4876
@derekbekoe This should definitely be fixed in documentation. Single quotes are necessary since ZSH expands splats inside double-quotes.

[2017-11-14 18:28] derekbekoe opened #4881 "Storage blob download-batch would really benefit from examples"
For example, how do I download from a subdirectory in Blob storage?

I only want the `pypi/` files.
[code]

Eventually I worked it out:
[code]

Currently there are no examples.

[2017-11-14 18:31] sptramer commented on #4881
This could become part of #4834 which should also include example improvements, if you want.

[2017-11-14 18:46] tjprescott commented on #4879
There is not.  You would have to delete that resource group and recreate it.  This is true of most (all?) Azure resources. If you deployed via an ARM template, this would be pretty easy. If not, you could try exporting your resource group, changing the name in the generated template, and redeploying it.

[2017-11-14 18:46] #4879 closed

[2017-11-14 18:48] tjprescott commented on #4878
If you show the NSG without the query do the address prefixes show?  If so, there is an issue with your query syntax.

If I understanding your scenario correctly, you are using the query in order to generate a table format. Is that right?

[2017-11-14 18:50] tjprescott commented on #4873
This fix will be in the upcoming release.

[2017-11-14 18:50] #4873 closed

[2017-11-14 18:51] tjprescott commented on #4874
This is because these parameters are not required since you could optionally supply `--ids` instead.

[2017-11-14 18:51] #4874 closed

[2017-11-14 18:53] derekbekoe commented on #4873
This will be version 2.0.21.

[2017-11-14 19:00] djyou commented on #4843
@jblackburn21 Do you have a `$HOME/.docker` folder at all?

If you have the folder but not the `config.json` file, you can create the file with content similar to
[code]
Or the file will be generated once you have a successful `docker login` or `acr login`.

Adding @shhsu as this is a server side issue and requires further improvement. /cc @sajayantony

[2017-11-14 19:07] shhsu commented on #4843
@yugangw-msft @revodavid @jblackburn21 @djyou , directly hacking the config.json is not an ideal solution. Please install https://github.com/Azure/acr-docker-credential-helper
This credential helper would help redirect the credentials to the correct stores and without it your login will expire every hour.

[2017-11-14 19:38] derekbekoe commented on #4746
We have released the new update.
It has version number 2.0.21.
Get the new MSI at https://aka.ms/InstallAzureCliWindows.

[2017-11-14 19:38] #4746 closed

[2017-11-14 20:03] derekbekoe commented on #4866
@rdonkin The script installer is designed to be interactive.

Can you use the .deb and .rpm packages we provide?
Also, you can install with pip directly with `pip install azure-cli`.

[2017-11-14 20:26] yugangw-msft commented on #815
//CC: @mayurid  @troydai
Once monitoring support gets consolidated, please handle this and related [webapp ask](https://github.com/Azure/azure-cli/issues/1834)

[2017-11-14 20:54] sajayantony commented on #4843
@jblackburn21  - the Credential helper is something that is being worked on and not yet released. @shhsu is working on release it officially since this solves the credential renew issue.
The main issue is that the token is larger than what windows credential store can handle and hence failing.
The workaround that @djyou is something that can unblock you and will create a config file that will use

[2017-11-14 21:26] yugangw-msft commented on #4318
Tried out just now, still no repro. @bgoykhman-nyt, @drGarbinsky can one of you share the minimum repro? Please note, this error could also mean the vault has not been enabled for Volume Encryption, so please double check
@lhardison, i have to apologize for having been late on providing assistance, but please let me know if your issue still exists.
If needed, I can be reached at yugangw at microso

[2017-11-14 22:35] chrissie926 commented on #2826
@dluc Thank you for the followup. We are working on the CLI 2.0 planning right now. The goal is to have azure commands and az commands in parity. I will update you the ETA by end of this week.

[2017-11-14 23:26] berney opened #4884 "az login ERROR CompiledFFI object returned NULL without setting an error"
I try to login using `az login` and I get this error: -

[code]

---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

Azure CLI Version: -

[code]

I am using Docker.

[code]

Docker version 17.07.0-ce.

[code]

More Docker info: -

[code]

Runnin

[2017-11-14 23:33] JasonRShaver opened #4885 "Monitor Activity-Log improvements"
This is a WIP task...

**Issue 0**

How do I get all End Request events for a given resource?  It seems I have to make up a --filter 100% from scratch, as it ignores the simple filters.

**Issue 1**

Issue: `az monitor activity-log list` needs an example, especially for `--filter` and `--caller`.

**Issue 2**

[code]

**Issue 3**
Change default table output for `az monitor activity-log list`

**Is

[2017-11-14 23:51] derekbekoe commented on #4884
Does `docker run --it  azuresdk/azure-cli-python bash` then `az login` work?

[2017-11-15 00:26] #3996 closed

[2017-11-15 01:23] berney commented on #4884
No, same crash if I start bash then python. I will try another Linux. My guess is it's related to the hardening features enabled in the kernel like GR Security / PAX.

[2017-11-15 07:11] berney commented on #4884
I built a custom azure-cli Docker image. I had tried compiling libffi with PAX kernel support but I still go the issue. So I resorted to marking the python executable to disable MPROTECT using `paxctl`, after this I can now run the image. I then tried enabling EMUTRAMP instead of disabling MPROTECT and that also worked. My image is berne/azure-cli, it's on Docker Hub. It's leaner than the official

[2017-11-15 14:19] lhardison commented on #4318
I was able to get my VM’s encrypted; however, it was after a few hours of troubleshooting and eventually the tech assigned to my case had me scrap the entire VM. We then used some sort of portal template deployment to initiate the encryption process, which did have the VM in RG1 and Key in RG2.

I will try and find some time this week to try this out. Do I need to grab anything specific or will pu

[2017-11-15 14:21] lhardison commented on #4318
Hello,

I also asked the tech to report up a problem with the Azure Security Portal dashboard and how it report on a device being encrypted. My failed VM that never had either the OS or data disks encrypted and always reported “encryption in progress” type statuses showed as a green check in the dashboard for encrypted VM, which obviously it was not.

Regards,

Leif

Leif Hardison
IT Systems Archi

[2017-11-15 14:48] jblackburn21 commented on #4843
Thanks.  I was able to use the workaround.

[2017-11-15 16:55] mhanson02 commented on #4388
Agree this would be a great new feature!

[2017-11-15 18:43] mboersma opened #4886 "Scenario tests all failing trying to decode `None` as JSON"
I'm trying to add to the scenario tests for ACS/AKS, but they all error out for me now. This same setup was working fine previously, so I'm wondering if some underlying library broke, or if any `az` folks have ideas.

---

### Environment summary

macOS High Sierra 10.13.1, python 3.6.3 installed with `brew`, azure-cli checked out from GitHub and virtualenv configured as per developer docs. I'm ru

[2017-11-15 18:46] derekbekoe commented on #4886
Has your default output type changed?
Change it back to json.
Does that work?

[2017-11-15 18:54] mboersma commented on #4886
@derekbekoe that's it exactly--my bad. I changed my `az` defaults recently because table output is so useful, not realizing it affects testing:

[code]

Removing `output = table` reverts to JSON and everything's happy again. Thanks!

[2017-11-15 18:54] #4886 closed

[2017-11-15 18:56] derekbekoe commented on #4886
It's not great that modifying the default output type breaks tests.
https://github.com/Azure/azure-cli/issues/2283
cc: @troydai @tjprescott

[2017-11-15 18:57] mboersma commented on #4886
I could add an explicit `-o json` to the scenario tests as a workaround.

[2017-11-15 19:15] derekbekoe commented on #4886
I would rather not have this in the tests.

[2017-11-15 21:18] yugangw-msft opened #4889 "resource show: data loss during SDK deserialization"
//cc: @williexu, @tjprescott, @lmazuel

For services which have the response body not conforming to recommended format by ARM, we will lose data when Python SDK tries to de-serialize to GenericResource. I understand the right, long-term way is to have service teams fix it, but at the same time I suggest expose a flag like `--include-response-body` to include the json response-body in the result. T

[2017-11-15 22:27] yugangw-msft opened #4890 "appservice: show/list command doesn't get linux typed webapps or functionapps"
With new app types added for linux like `app,linux` and `functionapp,linux`, the get/list command gets out of sync, because it still filter using old types of `app` and `functionapp`

[2017-11-16 10:07] jan-gazda opened #4896 "Create group with mail nickname other then null fails"
---

### Environment summary

Install Method: `pip`
Shell: `bash`
OS: `OSx`

[code]

Does anybody have any idea why is this failing?

First command went through without problems:

[code]

However second command gave me an exception:

[code]

[2017-11-16 13:58] Gutek commented on #3720
i'm having this issue with latest ubuntu shell for windows. basically i can't set login:

[code]

[2017-11-16 14:11] kristian-lange-tw opened #4897 "Deleting VM with 'az vm delete' does not delete its disk"
If I delete a VM with _az vm delete_ I expect all dependent resources to be deleted too. But disks are not.

E.g. I have VM _tw-001-westeurope_

[code]

and delete it with _az vm delete_:

[code]

the disk that was attached to the VM is still there:

[code]

---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`)

[2017-11-16 16:55] isaacsgi opened #4899 ""az ad sp show --id" gives message that Resource does not exist, also Python errors"
For Service Principals that I can see in my Azure Portal, AZ CLI 2.0 says Resource is not found.  I am using the Object ID for the Service Principal that I copy from the Azure Portal.

Command I'm using: az ad sp show --id "<ObjectID>"

Errors:
Resource xxx does not exist or one of its queried reference-property objects are not present.
Traceback (most recent call last):
  File "C:\Program Files (

[2017-11-16 16:56] #4890 closed

[2017-11-16 17:22] gitreelike commented on #2120
@tjprescott I'm using ARM templates and i get that error in about 50% of the cases. That's usually after about 40-50 minutes (there are also some other resources that take time). I'm experiencing this in westeurope.

Is there anything I can do to resume polling with ARM templates?

[2017-11-16 17:24] yugangw-msft commented on #4897
This is a reasonable ask, which i have hoped the compute service can expose such support. Note, deleting the os disk along with the VM might not always work out for users, particularly when disk is meant to be backed up so to recreate a fresh new vm later. Nevertheless, we should have such option there

[2017-11-16 17:31] yugangw-msft commented on #4899
Please copy and use the `Application Id` field, instead of the "Object Id". What you saw in the Portal is the `Graph Application` which is closely related with SP, but a different entity. `Application ID` is a shared property between them, but not with Object ID

[2017-11-16 18:01] isaacsgi commented on #4899
Where would I see the Application Id

[2017-11-16 18:22] yugangw-msft commented on #4899
Based on the context, the best way is to first run `az ad app show --id "<same id you tried>"`. In the output, take the `appId` field value and use it with the `az ad sp show --id` you tried. Please notice the 2 command paths diffs at `app` vs `sp`
In portal, you can see it through "Azure Active Directory" blad
![image](https://user-images.githubusercontent.com/6014209/32908276-f3b2f5ca-cab7-11e7-

[2017-11-16 18:58] isaacsgi commented on #4899
I need this for a User type of Service Principal

[2017-11-16 21:01] williexu commented on #4155
Fixed with this:
https://github.com/Azure/azure-cli/pull/4819

[2017-11-16 21:01] #4155 closed

[2017-11-16 21:24] drGarbinsky commented on #4318
@yugangw-msft I couldn't get this to repro. I'm guessing I had /overview on the end of the resource path as I copied that out of the URL in the portal. I have since been able to get this scenario to work.

[2017-11-16 22:16] yugangw-msft commented on #4318
Closing as there are no action we can take at CLI's side

[2017-11-16 22:16] #4318 closed

[2017-11-16 22:33] yugangw-msft commented on #4896
Looks like you can't have a nick name with `@` or space

[2017-11-17 16:27] slandsaw commented on #4715
I had the same issue. I believe it was because I wasn't running the cmd shell as admin.

[2017-11-17 17:26] sptramer commented on #3720
@derekbekoe Is `apt-transport-https` considered required for installation of the key on Ubuntu systems? This may be a missing requirement in some of our install instructions.

[2017-11-17 17:50] derekbekoe commented on #3720
@sptramer We already document it for the [apt-get install](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest#install-with-apt-package-manager). I'm not aware of it being required elsewhere.

[2017-11-17 17:58] sptramer commented on #3720
You're correct,it's just that the order is different. I'm not sure that it matters in this case, depending on how apt performs key transfer.

[2017-11-17 18:20] #3182 closed

[2017-11-17 18:20] #3668 closed

[2017-11-17 20:45] apryiomka opened #4905 "az login doens't redirect properly"
when i use az login with the browser login, the redirect doesn't redirect properly after signing in with my device and credentials (2 factor authentication).
I get "The page isn’t redirecting properly" error.
This is the url:
https://login.microsoftonline.com/common/oauth2/deviceauth?code=<code>&state=<state>&flowtoken=<token>

If i try to login using user name and password, i get an error:
Get To

[2017-11-18 00:27] matthchr commented on #4870
@xingwu1

[2017-11-18 02:25] yugangw-msft opened #4910 "network: support authenticationCertificates in "network application-gateway http-settings""
Suggest expose form both `update` and `create`

//cc: @tjprescott

[2017-11-18 03:22] yugangw-msft commented on #4910
FYI workaround
[code]

[2017-11-18 21:07] carlosonunez opened #4911 "Assigning a role to a service principal by name yields a HTTP 400"
---

### Environment summary

**Install Method**: Docker
**CLI version**: 2.0.21
**Shell Type**: Bash

### Bug Summary

Running `az role assignment create` where `--assignee` is a service principal name yields a HTTP 400. (Using the service principal ID works.)

### Actual behavior

[code]

### Expected behavior

[code]

[2017-11-19 03:21] kriszentner commented on #4878
You're right, it looks to be an issue with the query. The docs on this page should probably be updated, which prompted this ticket:
https://docs.microsoft.com/en-us/azure/virtual-network/virtual-network-manage-nsg-arm-cli

Feel free and close this issue, though I'd as to open an issue with whomever is responsible for the docs on that page.

[2017-11-19 03:21] #4878 closed

[2017-11-19 16:07] soutomaia opened #4912 "hash cache"
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

[2017-11-20 10:59] axelgMS opened #4914 "No registered resource provider found for location 'XYZ' and API version '2015-06-01' for type 'storageAccounts/vmImages'. The supported api-versions are '2016-11-01'. The supported locations are ''. ""
Hey there,
Looks like Azure CLI doesn't provide the right API version with Classic VMImages -  'storageAccounts/vmImages'.

When deleting one through CLI, we're getting
**_No registered resource provider found for location 'eastus' and API version '2015-06-01' for type 'storageAccounts/vmImages'. The supported api-versions are '2016-11-01'. The supported locations are ''. "_**

Looking at the Mani

[2017-11-20 11:37] vnextcoder opened #4915 "Feature Request : az functionapp creation with SSH Keys"
**Description**

Feature Request: Currently, to deploy a function app via az functionapp deployment source config the function app needs to be using HTTPS endpoint. To support using SSH Keys present under AZ CLI, would it be possibel to add functionality to pull the SCM using SSH Keys from likes of bitbucket, github, TFS SCM like this:

[code]

### Environment summary

Install Method (e.g. pip, in

[2017-11-20 17:48] tjprescott commented on #4914
@yugangw-msft for comment.

[2017-11-20 17:49] #4912 closed

[2017-11-20 18:03] #4889 closed

[2017-11-20 18:53] yugangw-msft commented on #4911
@carlosonunez  I agree there is a bit confusion, but please do not use displayName, instead using `app_id` or any one from the array from `servicePrincipalNames` should work

[2017-11-20 18:54] carlosonunez commented on #4911
Will do, but can we get a more friendly error message instead of a 400?

[2017-11-20 18:59] yugangw-msft commented on #4905
@apryiomka, what browser you are using to sign in and on what OS?

This is expected, as regular user-name/password flow will stop working once your tenant admin enforced 2FA. You can to use login through a browse using the device code CLI displays

[2017-11-20 21:41] alonisser opened #4916 "Dns zone creation should support private dns zones"
including ZoneType, ResolutionVirtualNetworkId, RegistrationVirtualNetworkId

see [powrshell options](https://docs.microsoft.com/en-us/azure/dns/private-dns-getstarted-powershell)
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

[2017-11-20 21:49] tjprescott opened #4917 "KNACK Compute Module Conversion"
test_vm_create_progress (LIVE) - **needs Knack updates**

[2017-11-20 21:50] tjprescott opened #4918 "KNACK RDBMS Module Conversion"
- [x] Debug issue with different aliasing between the old and new core. (#5037)
- [x] Re-record tests

[2017-11-20 21:50] tjprescott opened #4919 "KNACK SQL Module Conversion"

[2017-11-20 21:51] tjprescott opened #4920 "KNACK ACR Module Conversion"

[2017-11-20 21:52] tjprescott opened #4921 "KNACK Backup Module Conversion"

[2017-11-20 21:52] tjprescott opened #4922 "KNACK AppService Module Conversion"
**Blocked**
- [x] test_acr_integration will be unblocked after the acr command module gets converted.
- [ ] test_webapp_backup_config and test_webapp_backup_restore are converted, but the recording will not be done till webapp team shares out the storage account which persists the webapp backup. I am working with them to migrate to our team's test storage account

[2017-11-20 21:53] tjprescott opened #4923 "KNACK ACS Module Conversion"

[2017-11-20 21:58] tjprescott opened #4924 "KNACK Batch module conversion"

[2017-11-20 21:59] tjprescott opened #4925 "KNACK BatchAI module conversion"

[2017-11-20 22:00] tjprescott opened #4926 "KNACK Billing module conversion"

[2017-11-20 22:26] apryiomka commented on #4905
It is apparently a server side issue, not a browser. I use FF on windows 10. The page is issuing too many redirects back and forth. I tried in Edge and chrome and it is the same issue in all browsers as well as my colleague is having the same issue on his PC. This is the flow:
GET-> 200 - https://login.microsoftonline.com/common/oauth2/deviceauth?code=DEVICECODE&state=STATETOKEN&flowtoken=FLOWTOKE

[2017-11-20 22:30] apryiomka commented on #4905
I attached a fiddler screenshot for more details:
![az login issue](https://user-images.githubusercontent.com/11861671/33044849-650f573c-cdff-11e7-8955-24769362c436.png)

[2017-11-20 22:33] tjprescott opened #4927 "KNACK CognitiveServices module conversion"

[2017-11-20 22:34] tjprescott opened #4928 "KNACK Consumption module conversion"

[2017-11-20 22:35] tjprescott opened #4929 "KNACK Container module conversion"
**Blocking Issues**
- Test re-recording not possible.
Looks like some storage resources are required first. It would be good to add those commands in so the re-recording can be automated.
Also, for the acr test, can that be automated as well?

[2017-11-20 22:35] tjprescott opened #4930 "KNACK CosmosDB module conversion"

[2017-11-20 22:37] tjprescott opened #4931 "KNACK DLA module conversion"

[2017-11-20 22:38] tjprescott opened #4932 "KNACK DLS module conversions"

[2017-11-20 22:38] tjprescott opened #4933 "KNACK EventGrid module conversion"

[2017-11-20 22:39] tjprescott opened #4934 "KNACK Find module conversion"

[2017-11-20 22:40] tjprescott opened #4935 "KNACK IoT module conversion"

[2017-11-20 22:40] tjprescott opened #4936 "KNACK KeyVault module conversion"
KeyVault tests failing
=========

- [ ] KeyVaultCertificateDownloadScenarioTest (can't import expired cert)
- [ ] KeyVaultCertificateImportScenario (can't import expired cert)
- [ ] KeyVaultSoftDeleteScenarioTest

[2017-11-20 22:40] tjprescott opened #4937 "KNACK DevTest Lab module conversion"
Blocked by issue #5069.

[2017-11-20 22:41] tjprescott opened #4938 "KNACK Monitor module conversion"

[2017-11-20 22:41] tjprescott opened #4939 "KNACK Reservations module conversion"

[2017-11-20 22:42] tjprescott opened #4940 "KNACK ServiceFabric module conversion"
**Blocking Issues:**

- The tests cannot be re-recorded currently as some pre-req resources are required that aren't obvious to create.
Service Fabric team to take a look at this.
See https://github.com/Azure/azure-cli/issues/4328

[2017-11-20 22:42] tjprescott opened #4941 "KNACK Storage module conversion"

[2017-11-20 23:12] yugangw-msft commented on #4905
@apryiomka  Can you open the browser using private mode and see whether the same issue still repro'd?

[2017-11-20 23:23] tjprescott opened #4942 "[Network] Add support for disableBgpRoutePropagation"
Add to route table create/update.

**Blocked** pending SDK publication

[2017-11-20 23:30] tjprescott commented on #2120
There is a `group deployment wait` command that should do what you are looking for.

[2017-11-21 00:23] derekbekoe opened #4943 "The 'Azure' art on `az` looks different after the knack conversion"

[2017-11-21 00:28] tjprescott opened #4944 "Multithreaded cloud config tests is flaky on knack branch"

[2017-11-21 00:38] tjprescott opened #4947 "Need to apply CI testing/style checking to "done" Knack command modules"
We need a mechanism to apply our static checks and tests only to the command modules we have deemed complete. In this way we can still use the CI to monitor for regressions without all the modules needing to be converted over. The modules not yet converted will fail with 100% certainty.

[2017-11-21 00:42] derekbekoe commented on #4944
Looks like changes from this commit were missed
https://github.com/Azure/azure-cli/commit/29983162f211ae9fd353268b6ff70161673d8fc3#diff-69bacf5348b997023cd1e8e6f475a0da

[2017-11-21 00:42] derekbekoe commented on #4944
I'll take a look at addressing them.

[2017-11-21 00:50] walterov opened #4948 "The command "az cloud update --profile 2017-03-09-profile" now requires all endpoints to be specified"
---

### Environment summary

Using Bash on WIndows and CLI on OSx used to manage tenant resources in Azure Stack

Version: azure-cli (2.0.21)

Repro steps:
1. Register an Azure Stack cloud:

az cloud register -n AzureStackUser --endpoint-resource-manager "https://managementxsomedomain.com" --suffix-storage-endpoint "storagexsomedomain.com" --suffix-keyvault-dns ".vault.somedomain.com" --endpoint-

[2017-11-21 01:06] derekbekoe commented on #4948
As a workaround, you should be able to do `az cloud set -n AzureStackUser --profile 2017-03-09-profile`

[2017-11-21 12:29] RavikumarBiradar commented on #4746
I am still facing issue when running the below.. Please let me if there are other ways to fix it.
az aks get-credentials --resource-group VsrResourceGroup --name raviK8sCluster

[2017-11-21 12:38] axelgMS commented on #4914
sorry - might be an issue from ARM side. They updated the Manifest for Microsoft.ClassicStorage and didn't include all API versions. It's being looked at from their side

[2017-11-21 17:14] mattohoh opened #4953 "`az webapp log tail` with slot option always get 403 forbidden error"
---

### Environment summary
Windows 10
Install by MSI
Powershell
Azure CLI 2.0.21

I have multiple webapp, every time I tried to get log stream of slots of the webapps, I got the following errors
[code]

I tried it on every my webapp, always get the same results, but every thing is ok on the production slots.

[2017-11-21 17:54] apryiomka commented on #4905
@yugangw-msft az login doens't work in none-private window.

[2017-11-21 17:59] apryiomka commented on #4905
I also tried mobile browser and i have exactly the same "redirects" issue. It is apparent, this is not a browser issue or my OS/PC issue. I have exactly the same behavior on my cell phone browser and my colleague has exactly the same issue. You should be able to reproduce this easily, just log in with two factor authentication token device. You should not be able to.

[2017-11-21 18:21] yugangw-msft commented on #4914
@axelgMS, CLI is ARM only, and I don't think there is a command you can use to delete classic VM images

[2017-11-21 18:49] axelgMS commented on #4914
right - sorry for that

[2017-11-21 18:50] #4914 closed

[2017-11-21 18:57] akamalov opened #4954 "Error Trying to Create Storage Account"
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]
Command and failure:

[code]

[2017-11-21 20:26] annatisch commented on #4924
@tjprescott - You can assign this to me and move to inprogress

[2017-11-21 23:03] tjprescott opened #4957 "KNACK Advisor module conversion"

[2017-11-21 23:52] #4944 closed

[2017-11-22 13:57] gitreelike commented on #2120
@tjprescott Thank you! I'll give it a shot on the next deployment.

[2017-11-22 14:33] rdonkin commented on #4866
@derekbekoe That makes sense.

I hadn't realised the .deb and .rpm packages are from your own repository, so they are the latest versions - tried the .deb and that works fine, thanks!

[2017-11-22 14:33] #4866 closed

[2017-11-22 16:58] soulseak opened #4960 "Azure Backup Recoverypoint Listing Error"
Trying to run te following command:

`az backup recoverypoint list -v $vaultName -g $resourceGroup -c $itemName -i $itemName`
Getting the Following Error:
Might be Connected to the Backed up Item doesnt exist anymore
It Works on some of the Items but not on All.

---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --versi

[2017-11-22 17:36] lwatterworth opened #4961 "az network _subgroup_ list behavioural differences"
### Description
**Outline Issue Here**
There are inconsistent behaviours/requirements across the **az network _subgroup_ list** operations.  If possible, please align the outliers with the more common behaviour.

**Issue/Concern/Improvement Request**
These subgroups require --resource-group for list operations:
    local-gateway      : Manage local gateways.
    vnet-gateway       : Use an Azure V

[2017-11-22 18:22] tjprescott commented on #4961
Hi @lwatterworth thanks for the feedback!  In the case of these commands, the reason you can't list all in the subscription is simply because the REST API for these services don't have endpoints to accomplish this. We'll work with the service teams to get these endpoints added.

[2017-11-22 18:44] yugangw-msft commented on #4905
Closing as the root cause is internal

[2017-11-22 18:44] #4905 closed

[2017-11-22 19:28] lwatterworth commented on #4961
Hi @tjprescott as I suspected. :)  Thank you for taking the request under consideration for future work.

[2017-11-22 20:33] tjprescott commented on #4795
Wasn't this fixed?

[2017-11-22 20:36] tjprescott commented on #4851
This was also fixed yes?

[2017-11-23 00:48] akshaysngupta opened #4968 "[Network] EnableHttp2 flag in Application Gateway"
EnableHttp2 needs to be added as a property in Application Gateway.
[Rest Api Spec](https://github.com/Azure/azure-rest-api-specs/blob/2e385816fdc99fbff09eb809e159eca464d8ec80/specification/network/resource-manager/Microsoft.Network/2017-10-01/applicationGateway.json#L1553)

[2017-11-23 02:45] chenrui1988 opened #4969 "Show Wrong IOT Hub Connection String for Azure China"
Show Wrong IOT Hub Connection String for Azure China

I use azure cli with azure china, and find the function of showing iot hub connection string is not work right for azure china. It show the global endpoint,

Command:
az cloud set -n AzureChinaCloud
az login
az iot hub show-connection-string --name testtot
{
  "connectionString": "HostName=testtot.azure-devices.net;SharedAccessKeyName=iothubown

[2017-11-23 06:01] yugangw-msft opened #4970 "Knack: fix 3 test issues before public release"
Tracking test issues mentioned in #4959 so they don't fall through the crack
[code]

[2017-11-23 10:47] ferrandiaz commented on #4697
Getting the same error when using the LB api.
`az monitor metrics list --resource {resource} --metric-names ByteCount DipAvailability PacketCount SnatConnectionCount VipAvailability --time-grain PT1M --start-time {date}`

[2017-11-23 13:24] simongdavies commented on #3411
The marketplace team recently enabled this behaviour with a new REST API, swagger is [here](https://github.com/Azure/azure-rest-api-specs/tree/current/specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/2015-06-01)

This is enabled in PowerShell today - see docs [here](https://docs.microsoft.com/en-us/powershell/module/azurerm.marketplaceordering/?view=azurermps-4.4.1#

[2017-11-23 16:06] dtissen opened #4971 "az storage file copy start-batch fails with HTTPSConnectionPool"
Failing to set up following az command:
[code]
fails allways with "HTTPSConnectionPool" nothing elese....
---

### Environment summary

azure-cli (2.0.20)

acr (2.0.14)
acs (2.0.18)
appservice (0.1.19)
backup (1.0.2)
batch (3.1.6)
batchai (0.1.2)
billing (0.1.6)
cdn (0.0.10)
cloud (2.0.9)
cognitiveservices (0.1.9)
command-modules-nspkg (2.0.1)
component (2.0.8)
configure (2.0.12)
consumption (0.1.

[2017-11-23 22:52] Plasma commented on #4715
I'm getting this error too, even in an Admin window of cmd

[2017-11-23 22:53] Plasma commented on #4715
Using --verbose and --debug shows:

[code]

[2017-11-23 22:54] Plasma commented on #4715
In another window I see "Incorrect function" instead says:

[code]

[2017-11-23 23:20] Plasma commented on #4715
@djyou I suspect the token length is still an issue? Not fix for me, installed everything fresh.

[2017-11-26 16:36] glenjamin opened #4973 "Allow specifying subscription per-command"
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

Could an option be added to all relevant commands that allows specifying the subcription to use for the current command without having to use `az account set`?

The scenario I ran into t

[2017-11-27 07:09] troydai commented on #4954
@akamalov , thank you for taking time reporting this issue. However, I'm not able to repo it in the same environment. With that being said, I notice through the log, it indicates a basic component can't be parsed from the SDK. It could be caused by glitch during the brew installation. Could you please try uninstall the azure-cli and install again and keep an eye on the brew installation output?

[2017-11-27 07:23] troydai commented on #4697
Moving forward the metrics list command will only accept one metric.

[2017-11-27 07:25] troydai commented on #4971
Could you append `--debug` to generate debug log and paste it here?

[2017-11-27 08:26] dtissen commented on #4971
Just pasting the last lines (with the error):

x-ms-client-request-id:3e068f96-d34c-11e7-aa02-a434d9460bfd
x-ms-date:Mon, 27 Nov 2017 08:24:24 GMT
x-ms-version:2017-04-17
/int02content/int02-content
comp:list
restype:directory
azure.multiapi.storage.v2017_04_17.common.storageclient : Client-Request-ID=3e068f96-d34c-11e7-aa02-a434d9460bfd Outgoing request: Method=GET, Path=/int02-content, Query={'r

[2017-11-27 08:29] dtissen commented on #4971
Looked for the connection url using the azure portal. the uri should be https://int02content.file.core.cloudapi.de/

I'm using the GermanCloud

Current cloud config:
{'endpoints': {'active_directory': 'https://login.microsoftonline.de',
               'active_directory_data_lake_resource_id': None,
               'active_directory_graph_resource_id': 'https://graph.cloudapi.de/',
               'a

[2017-11-27 14:10] omerlh opened #4976 "az role definition delete failed"
### Environment summary

* Install Method: brew
* CLI version`azure-cli (2.0.21)`
 * OS version: mac high siera
* Shell Type: bash

When trying to delete a role, I've encountered an error:
[code]

I think there is a problem with Azure, I played with the role (delete/create/update) but no changes on the UI.

[2017-11-27 17:53] yugangw-msft commented on #3411
//CC: @mayurid @lmazuel
We need to on-board [MarketplaceOrdering](https://github.com/Azure/azure-rest-api-specs/blob/current/specification/marketplaceordering/resource-manager/Microsoft.MarketplaceOrdering/2015-06-01) to Python-SDK first. CLI work is trivial once the SDK is ready.

[2017-11-27 17:55] yugangw-msft commented on #3411
We can schedule the work in the first sprint in Jan 2018

[2017-11-27 18:41] tjprescott commented on #4970
You could also just put this in issue #4922. :)

[2017-11-27 18:48] yugangw-msft commented on #4922
All are done except 3 not yet converted scenario tests:

test_acr_integration will be unblocked after the acr command module gets converted.
test_webapp_backup_config and test_webapp_backup_restore are converted, but the recording will not be done till webapp team shares out the storage account which persists the webapp backup. I am working with them to migrate to our team's test storage account

[2017-11-27 18:48] yugangw-msft commented on #4970
okay

[2017-11-27 18:48] #4970 closed

[2017-11-27 18:55] akamalov commented on #4954
@troydai

Thanks for the response. Did uninstall / install, the same result:

[code]

I'll try to install it using pip, see if it makes any difference.

Alex

[2017-11-27 18:57] tjprescott commented on #4973
Closing in favor of #807.

[2017-11-27 18:57] #4973 closed

[2017-11-27 19:14] tjprescott commented on #3942
Closing this as we now have a project with each of these tracked as individual issues.

[2017-11-27 19:14] #3942 closed

[2017-11-27 19:14] derekbekoe commented on #4954
[code]
Or `python3` if `python3.6` doesn't work.

Also, is the CLI or any Azure SDKs installed elsewhere on the machine?

[2017-11-27 19:49] akamalov commented on #4954
[code]

[2017-11-27 21:36] andrewb-ms commented on #3641
Can someone please explain why this doesn't work????

[2017-11-27 21:39] Katana-Steel commented on #3720
looks like the apt-get install version comes with python3 the note on the apt-get install page,
seems unrelated and the python version installed with azure-cli is missing the ssl module:
[code]
[code]
[code]

[2017-11-27 21:55] SergeyKanzhelev commented on #3641
@andrewb-ms it is working for me now. You can use it like this: http://apmtips.com/blog/2017/09/19/query-multiple-applications/

[2017-11-27 22:15] andrewb-ms commented on #3641
This doesn't work for me:

PS Azure:\> az account get-access-token
Could not retrieve token from local cache.
Azure:\

It works in Bash but not PowerShell.  Seems pretty broken...

[2017-11-27 22:26] yugangw-msft commented on #3641
@andrewb-ms, from the output you provided, the CLI integrated in the PowerShell is couple of versions older than the counter part in the Bash, hence you have missed out a few recent improvements, particularly the piece handling when the credential provided by console might not have id-tokens.
@jluk, where we can log an issue to track PowerShell should integrate newer CLI?

[2017-11-27 22:32] lmazuel commented on #3411
@yugangw-msft https://github.com/Azure/azure-sdk-for-python/pull/1653

[2017-11-27 22:57] weinong opened #4978 "`az ad app` add support to append password credential"
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

Please add support to add `passwordCredential` like [powershell ](https://docs.microsoft.com/en-us/powershell/module/azuread/new-azureadapplicationkeycredential?view=azureadps-2.0)has.

[2017-11-27 23:05] jluk commented on #3641
@hemantmahawar as FYI, I believe they prefer tracking here: https://github.com/PowerShell/PSCloudConsole/issues

[2017-11-27 23:31] weinong opened #4979 "`az aks create` and `az acs create` please remove creating subscription scoped role assignment on automatically created service principal"
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]
For AKS, it is not required to create any role assignment on the SPN.
For ACS, it's recommended to use resource group scope instead of subscription scope as only resource group scope is n

[2017-11-27 23:52] djyou commented on #4715
@Plasma Token length issue hasn't been fixed yet. https://github.com/Azure/azure-cli/issues/4843 is the issue that is tracking the fix.

[2017-11-28 02:10] troydai commented on #4697
Fixed in https://github.com/Azure/azure-cli/pull/4974

[2017-11-28 02:10] #4697 closed

[2017-11-28 08:57] leemorton commented on #3720
Had the SSL and the python orphaned processes hanging on Debian Stretch (even just running "az" would actually fire up python with 100% usage). For now I just downloaded and installed the following package manually. Fixed both issues. Not sure if this would have an affect on .net core but I only use the CLI on this machine..
**64 bit...**
[https://packages.debian.org/wheezy/amd64/libssl1.0.0/downl

[2017-11-28 19:24] sakshamgupta1 opened #4987 "Can't log in interactively with az-cli"
Interactive Browser Sign-in Fails With `ERR_TOO_MANY_REDIRECTS`
---

### Environment summary

#### Install Method
Homebrew
`brew update && brew install azure-cli`

#### CLI version (`az --version`)
[code]

#### OS version
MacOS 10.11.6

#### Shell Type (e.g. bash, cmd.exe, Bash on Windows)
Bash

Here are the debug logs from `az login`:

[code]

[2017-11-28 19:37] ahmedelnably opened #4988 "Certificates uploaded through CLI is not useable to bind to an app"
If a certificate uploaded through portal the name and hostingenvironmentprofile are set correctly, not the case in CLI

---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

[2017-11-28 21:11] #4849 closed

[2017-11-28 21:47] derekbekoe opened #4989 "What's the difference between azure.cli.core.sdk.util.command() and custom_command()?"
They look v. similar. Why not just have one?

[2017-11-29 01:02] derekbekoe opened #4993 "CloudErrors not handled as before"

[2017-11-29 01:04] derekbekoe commented on #4993
The current released product:

![screen shot 2017-11-28 at 5 02 35 pm](https://user-images.githubusercontent.com/16448634/33352486-008514d6-d45e-11e7-823d-8ff48304f660.png)

The KnackConversion branch.

![screen shot 2017-11-28 at 5 02 41 pm](https://user-images.githubusercontent.com/16448634/33352493-06572ae8-d45e-11e7-8982-d069d8212866.png)

This *may* be specific to the `storage account create`

[2017-11-29 08:09] wy193777 commented on #4953
Log steam on browser also always got HTML 403. Not sure is they are the same issue.

[2017-11-29 18:25] tjprescott commented on #4989
They are very similar and I originally did conversions without it before eventually putting it back in. A few reasons:

1) the old style CommandGroup had this, so it makes it easier to convert modules that were already using this.
2) I tried this without at first and it was very annoying. You either had to have two command groups (one for SDK and one for custom) when logically they were just one,

[2017-11-29 18:28] tjprescott commented on #4993
My guess is it is more general.

[2017-11-29 18:33] derekbekoe commented on #4989
Okay makes sense.

[2017-11-29 18:33] #4989 closed

[2017-11-29 18:46] Elexy opened #4995 "acs get-credentials stopped working since a few days"
I'm running `acs` for a few months now and since Friday my CI started complaining that it wasn't able to connect to the cluster anymore. The sequence that has worked well in the past few months is:
[code]
Versions
[code]
In my local I get this error: `/Users/elexy/.kube/config does not exist`  when it does, in fact, exist. Last friday the command: `az acs kubernetes get-credentials --resource-grou

[2017-11-29 20:09] derekbekoe opened #4997 "Event grid subscription to blob storage account fails"
The steps outlined in [this blog post](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-event-quickstart) do not work.

[code]

You get the following error:
[code]

---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

[2017-11-29 20:26] derekbekoe opened #4999 "Resource group & location completers don't work"
Pre knack conversion they work.
Afterwards, I don't believe so.

https://github.com/Azure/azure-cli/blob/KnackConversion/src/azure-cli-core/azure/cli/core/commands/parameters.py#L61

Looks like the completer was modified to add `cli_ctx` but I think it's argparse that calls this method so cli_ctx isn't a thing.

https://github.com/Azure/azure-cli/blob/KnackConversion/src/azure-cli-core/azure/cli/c

[2017-11-29 20:33] tjprescott commented on #4999
Yes, it needs to be modified to use the @Completer decorator. In this way, you could then make the call with `cmd.cli_ctx`. I tried to do a sweep of these to update them, but since I run on CMD (and my MacBook is off in the void somewhere)....

[2017-11-29 20:44] derekbekoe commented on #4926
Close issue?

[2017-11-29 20:44] derekbekoe commented on #4934
Close issue?

[2017-11-29 20:47] #4926 closed

[2017-11-29 20:47] #4934 closed

[2017-11-29 20:51] derekbekoe opened #5001 "IOError if no .azure of azureProfile.json"
[code]

cc: @troydai

[2017-11-29 20:52] gbowerman opened #5002 "Support VM scale set attach/detach disk to individual VMs"
CLI support needed for the new VM scale set feature: Attach/detach disks to and from individual VMs, see: [https://github.com/Azure/vm-scale-sets/tree/master/preview/disk](https://github.com/Azure/vm-scale-sets/tree/master/preview/disk).

For example, add a --vm-id parameter to the 'az vmss disk attach' (and detach) commands.

[2017-11-29 20:56] tjprescott commented on #5001
Does this not happen on the dev branch?

[2017-11-29 20:57] derekbekoe commented on #5001
[code]

Can add that to the constructor of `AzCli`.

This could potentially be done in the knack CLIConfig constructor as well. - https://github.com/Microsoft/knack/blob/master/knack/config.py#L27

[2017-11-29 20:58] derekbekoe commented on #5001
It doesn't happen on the dev branch.
I noticed because it fails on prompt.ws as no .azure dir exists. On dev branch, it works fine.

[2017-11-29 21:42] derekbekoe commented on #4993
Another slightly different example:
[code]

Not it shows a big stack trace.

[2017-11-29 22:57] jeremymeng opened #5004 "webapp:Support deploying a certificate in Azure Key Vault to a Web App"
Found examples on the internet that deploy a key vault certificate into a web app. But they are done either directly via the REST endpoint, or using ARM template deployment.

https://blogs.msdn.microsoft.com/appserviceteam/2016/05/24/deploying-azure-web-app-certificate-through-key-vault/

https://winterdom.com/2017/08/29/webapp-with-keyvault-cert-and-sql-token-auth

Can we do that using Azure CLI?

[2017-11-29 23:04] #4933 closed

[2017-11-30 01:12] salmicrosoft commented on #4987
I get the same issue if I go to aka.ms/devicelogin in a private window (so I'm not already logged in). If I use a window in which I'm already signed in, I get:

We don't recognize this code, please enter the code again.View details
CorrelationId:  309af809-55c3-413b-ad41-7a2ae30abded
Timestamp:  2017-11-30 01:01:56Z

[2017-11-30 05:50] yugangw-msft commented on #4978
@weinong, it is already exposed at: `az ad sp reset-credentials --apend` with much better credential support including key-vault integration. Of course, we can do the same on `az ad app`, but let us know whether that unblocks you

[2017-11-30 07:56] damienpontifex opened #5006 "az <resource> show has inconsistent exit status"
Following template scripts generated from the Portal's Automation Script section, the CLI script uses checks for existing resources such as

[code]

`az group show` and `az storage account show` both return non-zero when the resource is missing and so the above pattern works. If being consistent across resources throughout my scripts, examples such as `az storage share show` and `az vm show` retur

[2017-11-30 14:15] akamalov commented on #4954
Do we have any update on this ?

[2017-11-30 14:45] aminebizid opened #5007 "delete files with 'az webapp deployment source config-zip '"
Is it possible to delete existing files in deploy folder

[2017-11-30 14:58] liv3d opened #5008 "(Error handling) webapp/ function app create command should validate if the ASP/RG exist & show appropriate error message"
### Stack trace
[code]

The expected output was a json object similar to the one [within the docs](https://docs.microsoft.com/en-us/azure/app-service/containers/tutorial-custom-docker-image#deploy-app-to-azure)

---

### Environment summary

This is happened with both the az client under Windows using powershell (`azure-cli (2.0.21)`) and under the Bash Shell within the Azure web portal.

[code]

[2017-11-30 15:17] madkroll opened #5009 "Create new security rule in range of priorities"
Hi,
I see it useful to have such api call in az cli:
[code]

As result I expect adding new security rule with priority in range of 1000 and 2000.

At the moment creating new security rule requires specifying priority level. In some situations such accuracy makes sense, but most of the time we just want to add new security rule without putting so much sense into it's priority. I believe it's a comm

[2017-11-30 16:53] tjprescott commented on #5009
Hi @madkroll thank you for the feedback. This sounds like a reasonable suggestion and we will look at incorporating it in a future release as a CLI convenience.

[2017-11-30 17:52] tjprescott opened #5010 "Generic Update needs to support custom setter and getter"
Most generic updates use the SDK for the getter and setter and a custom method for the convenience arguments, so the Knack generic update was set up like that. However, there are situations where the getter and/or setter come from a custom source, so it needs to support that.

[2017-11-30 18:54] ahmedelnably commented on #5008
@liv3d can you please check if the app service plan that you are using is a linux app service plan or not?

[2017-11-30 18:59] ahmedelnably commented on #5007
@aminebizid One way to do it is to upload an empty zip file, this will remove everything that was deployed previously

[2017-11-30 19:37] kevi5702 opened #5013 "az vm create --admin-password question"
Is there anyway to make this variable set to type securestring for deployments?

Currently we can deploy vms from templates with the ability to set the admin password securely but using az vm create results in the password saved in plain text on deployment history.

I suppose the other option is just to use sshkeys?

[2017-11-30 19:42] liv3d commented on #5008
@ahmedelnably So, I retried now that I've got home by copy/pasting names out of the portal and it worked as expected.

What I believe I may have done earlier on today is typo the resource group name as testing that now does give the stack trace above.

[2017-11-30 19:49] PacoGuy commented on #4978
@yugangw-msft, I'm running into issues attempting to use the --append method that you suggest.
[code]
This command is run on an Ubuntu 16.04 system with the latest azure-cli version available to apt-get (2.0.21-1).
When append is removed from the command I get the following response:
`can't find a service principal matching '<NAME>'`
This app registration I'm attempting to update was created via t

[2017-11-30 21:30] yugangw-msft commented on #4978
The change will be released sometime next week. Apologize that I didn't call it out early on.
For the value to supply to the `<NAME>` argument, use either the `appId` or one of `replyUrls` from the `app` entity. I am pasting one sample app for your quick reference
[code]

[2017-11-30 21:37] troydai commented on #4954
does the pip installed CLI works for you? Did you install it in a virtualenv? Unfortunately we can't repo your issue and our hands are tied.

[2017-11-30 21:59] PacoGuy commented on #4978
Thanks for the update @yugangw-msft, will keep an eye out for that release

[2017-11-30 22:55] #3177 closed

[2017-11-30 23:03] tjprescott commented on #5013
VM create is based on templates, so it should just be a matter of updating the generated template to use secure string. Thanks for pointing this out!

[2017-11-30 23:59] panchagnula commented on #4953
@wy193777 i am not sure what you mean by Log stream on browser? the bug in the CLI was we were not using the credentials of the slot for obtaining the log stream & this will be fixed soon.

[2017-12-01 00:27] amitsriva opened #5016 "Application Gateway backend pool missing in NIC configuration"
az network nic create -h

Command
    az network nic create: Create a network interface.

Arguments
    --name -n           [Required]: The network interface (NIC).
    --resource-group -g [Required]: Name of resource group. You can configure the default group
                                    using `az configure --defaults group=<name>`.
    --subnet            [Required]: Name or ID of an exis

[2017-12-01 03:43] kevi5702 commented on #5013
Thanks for the quick reply @tjprescott!

Appreciate the confirmation on this one. I was racking my brain trying to think if there was a valid use case for wanting to save it plain text on templates. Every one I came up with left my spidey sense nervous. I'm a fan of defaulting to secure string and if you want plain text writing out your own template.

Random thought if you know but would this have

[2017-12-01 08:17] angrox commented on #4120
When a VM is non responsing you do not have the possibilty to log in via SSH. We need something like all VM providers have: Reset the VM and boot in again.
I just have the same issue - a "reset" would be appreciated. It is not acceptable waiting 15-20 minutes to restart a unresponsive VM.

[2017-12-01 18:03] sptramer opened #5017 "Information on user feedback is stored in config file"
Based on `azclishell/configuration.py`, information on whether or not a user has provided feedback is in the user-maintained `.azure/config` file. This doesn't seem like an appropriate place to store this information since this file is meant to be editable and maintained by the user. See L113-115, `has_feedback()` method.

[2017-12-01 18:22] lmazuel opened #5018 "Get cloud info from AzureStack should pass verify=False"
See https://github.com/Azure/azure-sdk-for-python/issues/1384#issuecomment-348492911

Created an issue as well in msrestazure:
https://github.com/Azure/msrestazure-for-python/issues/61

@derekbekoe maybe you should remove the CLI code and use the one from msrestazure? It's technically your code I backported. At worst, verify=False should be accessible.

[2017-12-01 18:33] sptramer commented on #5017
It also looks like other CLI-managed values, such as `first_run`, are stored in the user config file as well. There may need to be a general audit.

[2017-12-01 19:08] adamcrossland opened #5020 "az webapp list returns incorrect results"
I have two App Service webapps under my subscription, but when I use `az webapp list` only one of them is returned. Not sure if it makes any difference, but the one that does not appear was initially created during publishing from inside Visual Studio 2015. The one that does show up was created directly in the Azure portal.

---

### Environment summary

Installed on my local machine via MSI, but

[2017-12-01 21:31] tjprescott commented on #5013
Mmmm...not really. Secrets go onto the VM itself, I believe. The admin password is needed to even create the VM.

[2017-12-02 00:22] #5001 closed

[2017-12-02 00:22] #4999 closed

[2017-12-02 00:22] #4993 closed

[2017-12-02 00:22] #4943 closed

[2017-12-02 00:37] tjprescott opened #5025 "get_enum_type doesn't work with nargs='+'"
[code]

cc/ @yugangw-msft

[2017-12-02 02:37] yugangw-msft commented on #4919
//cc @tjprescott
Most done, except
1. `Argument Context.extra()` doesn't work
2. 4 tests failed due to the ArgumentContext issue above and dependencies on not yet converted command modules
   a. `test_sql_db_import_export_mgmt` (missing `az storage blob generate-sas`)
   b. `test_sql_db_operation_mgmt`  (service flakiness `Cannot cancel database management operation '30ef1785-2d63-45e0-99b1-e397b0

[2017-12-02 03:59] guidozanon commented on #4987
@sakshamgupta1  Could not repro. Which browser are you using to go to https://aka.ms/devicelogin? Tested on Chrome and Safari and both works just fine.

@salmicrosoft You should try to login again as seems that the code was already used...

[2017-12-02 07:11] sakshamgupta1 commented on #4987
@guidozanon - Doesn't work on Chrome or Safari for me and others on our team.

[2017-12-02 07:13] dazdaz commented on #1871
I have the same issue with az cli 2.0.21, my workaround is

I copied kubectl.exe into C:\Program Files\Microsoft SDKs\Azure\.NET SDK\v2.9\bin

[2017-12-02 07:14] salmicrosoft commented on #4987
I tried multiple times

From: sakshamgupta1 <notifications@github.com>
Reply-To: Azure/azure-cli <reply@reply.github.com>
Date: Friday, December 1, 2017 at 11:12 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Sal Gomez <Salvator.Gomez@microsoft.com>, Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli] Can't log in interactively with az-cli (#4987)

@guidozanon<https://na

[2017-12-02 07:14] salmicrosoft commented on #4987
I tried multiple times

[2017-12-02 09:26] guidozanon commented on #4987
Did you try cleaning browser data? This is an Azure/Browser issue and not a code bug. Can you share the redirect loop or the browser in order to check the URLs and queryparams?

[2017-12-02 20:45] koolrays commented on #4843
Thanks workaround also worked for me.

[2017-12-03 01:36] guidozanon commented on #5020
Did you make sure that both of your webapps are in the same subscription? az commands like **webapp list** will list the webapps from the current active subscription.

To list available subscriptions see
https://docs.microsoft.com/en-us/cli/azure/account?view=azure-cli-latest#az_account_list
To check current active subscription see
https://docs.microsoft.com/en-us/cli/azure/account?view=azure-cli-

[2017-12-04 05:33] airawat commented on #577
Hi, I am trying to create a VM in a resource group x, while attempting to use an existing vnet in resource group  y.  Can you please share how I can do this?  Thanks.

[2017-12-04 17:32] tjprescott commented on #5025
PR #5026 merged. Closing.

[2017-12-04 17:32] #5025 closed

[2017-12-04 17:33] tjprescott commented on #5010
PR #5021 merged. Closing.

[2017-12-04 17:33] #5010 closed

[2017-12-04 18:19] tjprescott opened #5030 "ArgumentContext.extra fails silent when used on a group vice a command"
You can only register extra arguments using ArgumentContext.extra on specific commands (for example: `vnet subnet create`). However, when the ArgumentContext refers to a command group (for example `vnet subnet`) this should throw a command authoring error. Instead it fails silently.

cc/ @yugangw-msft

[2017-12-04 18:38] tjprescott commented on #577
You must supply the ARM ID for the Vnet that is in the other resource group

[2017-12-04 19:19] tjprescott commented on #5030
PR #5030 merged. Closing.

[2017-12-04 19:19] #5030 closed

[2017-12-04 19:22] tjprescott opened #5032 "assertRaises doesn't always work on the Knack branch"
This could be due to a change in how the Knack core deals with exceptions. There are several test cases blocked by this behavior.

[2017-12-04 20:06] gatneil opened #5033 "vmss create fails: issue with null name"
When I run:
`az vmss create --resource-group vmsssuccess --name vmsssuccess --image UbuntuLTS --disable-overprovision --instance-count 101 --single-placement-group false --debug`,

I get the error `The request content was invalid and could not be deserialized: 'Required property 'name' expects a value but got null. Path 'properties.template.resources[2]', line 1, position 2986.'.` The same happens

[2017-12-04 20:21] spboyer opened #5034 "az aks list - No module named '_cffi_backend'"
Command Ran: `az aks list`

Fixed issue with `brew link --overwrite python3`
---

### Environment summary

Install Method:   pip & homebrew
CLI Version: azure-cli (2.0.21)
[code]
Error:
[code]

[2017-12-04 20:42] yugangw-msft opened #5035 "vmss: default logics on handling 100+ instance is broken"
Command `az vmss create --resource-group vmsssuccess --name vmsssuccess --image UbuntuLTS --disable-overprovision --instance-count 101` ends up with error of `Required property 'name' expects a value but got null. Path 'properties.template.resources[2]', line 1, position 2986.'.`

By looking at the [code](https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-vm/azure/cli/comman

[2017-12-04 21:23] yugangw-msft commented on #5035
dupe to #5033

[2017-12-04 21:23] #5035 closed

[2017-12-04 21:24] yugangw-msft commented on #5033
The defaulting logic is broken

[2017-12-04 23:17] tjprescott opened #5037 "'expand' method doesn't retrieve help text correctly on knack branch."
Instances in SQL and RBDMS where `ArgumentContext.expand` are used no longer extract the correct help text aliases from the SDK.

cc/ @yugangw-msft

[2017-12-05 00:05] troydai opened #5042 "[Knack] The command name isn't sent in the management call request header"
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

[2017-12-05 17:17] #4942 closed

[2017-12-05 18:04] derekbekoe opened #5044 "Commands return empty array instead of nothing"
Some commands return an empty array instead of nothing.

Pre-knack
![screen shot 2017-12-05 at 10 03 00 am](https://user-images.githubusercontent.com/16448634/33622759-8fc574a2-d9a3-11e7-9156-93d18d14b0b4.png)

Post-knack
![screen shot 2017-12-05 at 10 02 48 am](https://user-images.githubusercontent.com/16448634/33622729-84b61a8a-d9a3-11e7-850d-adcdb64fa02a.png)

[2017-12-05 18:30] sakshamgupta1 commented on #4987
@guidozanon Here is the URL and request params:

https://login.microsoftonline.com/common/oauth2/deviceauth?code=BVCNTFCB4&state=rQIIAdNiNtQzsFIxMEkyMDe3NNW1SElJ0jUxM0zUTUpKTdU1MEqzTDVMSjNPMjErEuIS-PkhLvWWh5376u9Bu8XXrCxdxShZWpRnlZlakmZVnm6Vn1hakmFlBDQxPz_pAiPjC0bGW0wC_o5AUSOX1LLM5FQQcxWzSkZJSUGxlb5-bmJeYnpqbmpeiV5yflGqXnlmXkp-ebFeXmqJ_iZmtuT83Nz8vEfMosWJ2emlBSUOuZnJRfnF-Wkg5bkXWJhesfAYsFpxcHAJcEu

[2017-12-05 19:44] derekbekoe commented on #5044
@tamirkamara thanks for highlighting that.

It may be a separate fix but it's fine to keep that as part of this issue also.

[2017-12-05 22:19] panchagnula commented on #5020
@adamcrossland please check if this still occurs for you. We recently fixed the following issue https://github.com/Azure/azure-cli/issues/4890 , that was causing the linux & function apps to not be listed.

[2017-12-06 00:22] dmitsh opened #5047 "azure-cli client issues a duplicate command after 2 minutes"
I'm seeing in some cases that azure-cli client duplicates already issued command after 2 minutes.

I'm attaching deployment-related HTTP requests (5 fields per request) for the resource group.
The first and the last requests are identical:

PreciseTimeStamp
operationName
httpStatusCode
targetUri
userAgent

## 1 ##
2017-12-05 06:48:42.7163123
PUT/SUBSCRIPTIONS/RESOURCEGROUPS/PROVIDERS/MICROSOFT.RES

[2017-12-06 00:23] panchagnula opened #5048 "Zip-deployment: Update the help to reflect the requirements for enabling build during zip deployment"
The current help states the following

By default Kudu assumes that zip deployments do not require any build-related actions like
        npm install or dotnet publish. This can be overridden by including an .ini file on your
        zip file with the setting SCM_DO_BUILD_DURING_DEPLOYMENT = true to enable Kudu detection
        logic and build script generation process. Alternatley the setting ca

[2017-12-06 05:17] skyhit commented on #5034
I got the same problem

[2017-12-06 06:45] dtissen opened #5050 "Failing to break lease for PREMIUM_LRS storage or detach os disk"
I have several virtual machines which uses a bunch of blobs. these blobs are divided into two storages (PREMIUM_LRS and STANDARD_LRS). If i try to restore a blob, i shutdown the virutel machines which is using the blob and then break the lease (instead of deleting the VM). this works fine for STANDARD_LRS stored blobs. For PREMIUM_LRS Blobs i allways get the Message: "This blob is being used by th

[2017-12-06 14:09] eltermann opened #5051 "On-board Data Factory service"
Hi,

PowerShell seems to have seamless integration to Data Factory (e.g: command Set-AzureRmDataFactoryV2).

It would be great if azure-cli also had support to it.

[2017-12-06 17:52] tjprescott opened #5052 "[Network] Add support for public-ip tags"
https://github.com/Azure/azure-powershell/pull/5037

[2017-12-06 18:25] tjprescott opened #5053 "--no-wait doesn't work on generic updates [Knack]"
I have a fix, but it will be in a future PR.

[2017-12-06 19:15] tjprescott commented on #5053
PR merged.

[2017-12-06 19:15] #5053 closed

[2017-12-06 19:16] tjprescott commented on #5044
I've checked and it was the same underlying issue. Has been fixed.

[2017-12-06 19:16] #5044 closed

[2017-12-06 19:16] tjprescott commented on #5042
Fixed.

[2017-12-06 19:16] #5042 closed

[2017-12-06 21:11] troydai opened #5055 "[Knack] When register command the kwarg accept non-support argument and doesn't sound any alarm."
The problem is that it causes issue when a argument name is spelled incorrectly, the system doesn't warn you. For example when I accidentally put `table_transform` instead of `table_transformer`, neither IDE or runtime spells any error.

[2017-12-06 23:56] annika07 commented on #4905
Has this issue been fixed. I am facing the same problem.

[2017-12-07 00:16] yugangw-msft commented on #4905
@annika07, this error is specific to accounts enrolling to Azure AD's testing environment. I have sent you a mail with instructions to unblock you.

[2017-12-07 00:30] annika07 commented on #4905
Thank you! It is fixed now!

[2017-12-07 06:13] panchagnula commented on #5007
@aminebizid  also note one of the reasons for not supporting DELETE as a cli command is because 'Delete' will not remove any files that have been added during runtime i.e only the file that have been added by zip deployment will be deleted. You should see this behavior when run the zip deploy command with empty zip as Ahmed suggested above.

[2017-12-07 15:28] jimyjohny opened #5058 "Azure password not working if started with special characters"
Azure login doesn't works if the password is started with special characters. (same works with azure 0.10.1)

OS = Centos 6.x
az version = azure-cli (2.0.22 )

root@xxx:~  /opt/rh/python27/root/usr/bin/az login -u  username@domain.com -p @X123456x!
[Errno 2] No such file or directory: 'X123456x!'
Traceback (most recent call last):
  File "/opt/rh/python27/root/usr/lib/python2.7/site-packages/azure

[2017-12-07 18:25] iyerusad opened #5059 "Configuration object creation (similar to powershell)"
There is small but growing divide the between capability of AZ CLI and Azure Powershell.

Of particular note is object creation in Powershell. In Powershell, a complete configuration object can be created using multiple commands. [Example ($gw)](https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-configure-redirect-powershell):
[code]

**Why does this matter/needed?**

A

[2017-12-07 21:29] peterj opened #5060 "curl not working in the azure-cli-python Docker image"
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

Repro steps:
[code]

Installing and running curl on the base image (python alpine) works fine.

[2017-12-07 22:49] yugangw-msft commented on #5058
The special character gets handled by shell. To prevent that, please apply quote:
[code]

[2017-12-07 22:51] panchagnula opened #5061 "webapp list SSL certificates should return certificates on a webspace level to handle ASP/App migration scenarios"
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

[2017-12-07 23:26] rafaelgodinho commented on #3411
As a work around I created a bash script calling the REST API using curl https://github.com/rafaelgodinho/ARM-REST-API-CURL/blob/master/AcceptAzureMarketplaceTerms.sh

[2017-12-08 01:37] jimyjohny commented on #5058
Its already tried using both single and double quotes. The result is same error message.

[2017-12-08 02:06] yugangw-msft commented on #5058
@jimyjohny, thanks for the information, this could be caused by that the CLI pre-processed the `@` character with the assumption that the subsequent string would be a file name

[2017-12-08 05:19] troydai opened #5065 "az storage container show command doesn't return correct public access property"
It always shows `null`. Likely an SDK issue.
---

### Environment summary

Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

[2017-12-08 12:08] nagpal opened #5067 "Enable REST API access for API Management"
---

### Environment summary

brew / 2.0.20 / macOS 10.13.1 / bash

[code]

Using Azure CLI, I am looking for a way to
1. Enable REST API access for API management
2. Get the API Identifier and Primary/Secondary keys generated from Step1 and push them to keyvault for later use

Is there any support for enabling REST API access through the CLI?

Btw, this is the PowerShell method of enabling the RE

[2017-12-08 15:44] ernescz commented on #3720
@leemorton Thank you very much that helped solve the issue for now!
`az` didn't hang on my Debian Stretch but got the same error as others.

Just for recap: `az` requires libssl1.0.0, but Stretch comes with 1.1.0f version. Get the Wheezy version as leemorton specified and install with `dpkg -i ibssl1.0.0_1.0.1t-1+deb7u3_amd64.deb`. They are compatible.
Once again - thank you.

[2017-12-08 18:23] sptramer commented on #3720
@ernescz @leemorton Thank you for looking into the SSL issue. The insallation instructions for the CLI will be updated to indicate that OpenSSL 1.0.2 is required.

[2017-12-08 20:18] williexu opened #5069 "Lab tests are outdated and can't be re-recorded."
I get the following error when I run the tests live:
[code]

[2017-12-08 21:08] #4927 closed

[2017-12-08 21:10] tjprescott commented on #4920
PR #5039 merged.

[2017-12-08 21:10] #4920 closed

[2017-12-08 21:10] tjprescott commented on #4947
Done

[2017-12-08 21:10] #4947 closed

[2017-12-08 21:11] tjprescott commented on #4923
PR #5036  merged.

[2017-12-08 21:11] #4923 closed

[2017-12-08 21:14] tjprescott commented on #4939
PR #5046 merged.

[2017-12-08 21:14] #4939 closed

[2017-12-08 21:28] tjprescott commented on #4929
See #5056

[2017-12-08 21:29] tjprescott commented on #4929
@derekbekoe please update this issue with whatever issues remain once your PR is merged.

[2017-12-08 21:36] derekbekoe commented on #4929
There weren't any blocking issues so should be good to close once the PR is merged.

[2017-12-08 21:45] tjprescott commented on #4929
So your testing issues have been resolved?