[2022-03-18 07:39] jepio commented on #20174
Thank you @wangzelin007 and @zhoxing-ms !

[2022-03-18 07:56] YuanyuanNi commented on #21256
Hi:
     @Gordonby, I have followed your steps in "To Reproduce“ and have not reproduce it in CLI 2.34.1, can you update to the latest version and try again? if still happen, pls attach more details in "To Reproduce“ module, thanks.
Best wishes.

[2022-03-18 08:00] #21412 closed

[2022-03-18 08:00] #13205 closed

[2022-03-18 08:00] #12832 closed

[2022-03-18 08:00] #12801 closed

[2022-03-18 08:00] #12759 closed

[2022-03-18 08:00] #12141 closed

[2022-03-18 08:00] #8714 closed

[2022-03-18 08:03] #20830 closed

[2022-03-18 08:18] ranjithkurelli opened #21689 "az cli login issue: OSError: [WinError -2146893813]"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-03-18 08:30] yonzhan commented on #21689
@jiasli for awareness

[2022-03-18 08:31] jiasli commented on #21689
Duplicate of #20231

[2022-03-18 08:31] #21689 closed

[2022-03-18 08:54] wangzelin007 opened #21690 "az cli login issue: OSError: [WinError -2146893813]"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-03-18 08:55] #21690 closed

[2022-03-18 09:29] nc-ruth commented on #20858
Hi @yonzhan and @navba-MSFT the above suggestions works.
Sorry for the late reply, and  thank you for the suggestions.

[2022-03-18 10:22] #20858 closed

[2022-03-18 10:50] carvido1 commented on #21650
Hello @navba-MSFT
The cluster is pulling images from the ACR. The problem is related to the location of the resources. The ACR, the AKS cluster and the Privatlink to access the container registry are in westeurope. But the azure client tells it is not in the same location...

[code]

BR

[2022-03-18 12:30] eliasarellano opened #21692 "az desktopvirtualization with error "Cannot deserialize datetime object., ValueError: Invalid datetime string""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

From yesterday March 17th along the day, I had an issue that I have never encountered before, even the script that executes this has not been modified since 8 months ago.

In the script I generate a token for the WVD (also called AWD today) hostpool in order to provide the token to the virtual machine that wil

[2022-03-18 13:23] smarlowucf commented on #20743
Hi, I ran into this issue as well. The original output is missing subscription id. Given a service principal is tied to a subscription id and having that id is required to authorize against the Python SDK it's nice to have in the json credential file. Is this something that can be added to the original output before --sdk-auth is removed? Also, the key names all change which makes it harder to sup

[2022-03-18 14:15] smarlowucf opened #21693 "Add subscription_id to service principal json"
**Is your feature request related to a problem? Please describe.**

Since `--sdk-auth` is now deprecated from `az ad sp create-for-rbac` it's expected to use the original json output when creating a service principal. However, the json that's output is completely different. There's two issues:

- The key names are all different (This is not good from a compatibility standpoint but it's easy to han

[2022-03-18 14:16] smarlowucf commented on #20743
I created a separate request related to the missing subscription id https://github.com/Azure/azure-cli/issues/21693

[2022-03-18 14:32] shawnsullivan-tomtom opened #21694 "Attempting net integration for app service slot - failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp vnet-integration add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp vnet-integration add --subscription {} --name {

[2022-03-18 14:39] Gordonby commented on #21256
Confirmed fix.

I've checked again with 2.34.1 as suggested - and it works as expected now. Thank you.

[2022-03-18 14:39] #21256 closed

[2022-03-18 14:43] dzanter opened #21695 "min max count 1000"
I think there is a typo in the
--max-count and --min-count sections.

The portal.azure.com, has min and max = 1000.

And the aks nodepool does let me create > 100.  So I think it's just a typo with one missing zero.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fce7ab-ab56-44c6-b9a8-405444247a0b
* Version Independen

[2022-03-18 14:50] yonzhan commented on #21692
desktopvirtualization

[2022-03-18 14:53] yonzhan commented on #21693
@jiasli for awareness

[2022-03-18 15:02] MNH1623 opened #21696 "azure cli proxy connection issue from windows"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-03-18 15:05] yonzhan commented on #21696
@jiasli for awareness

[2022-03-18 15:09] iddqdiddqd commented on #11261
I was having the same error. It was resolved by re-adding the files to a new zip archive.

Initially, I did `tar -czf file.zip *` and az webapp deploy was failing with the error from your screenshot.

After executing `zip file.zip *`, the deploy went successfully.

[2022-03-18 15:54] shawnsullivan-tomtom commented on #21694
FYI, I upgraded CLI (now at 2.34.1) and the issue is resolved. Perhaps this was a known problem.

[2022-03-18 15:54] #21694 closed

[2022-03-18 16:18] panchagnula commented on #11261
@iddqdiddqd & all I am sorry for the experience with zip deploy & all of you helping each other with suggestions.
The error indicates a run time issue with Zip deploy itself, & not the command specific problem. Ideally command & CLI would do a better job surfacing the errors - we are working the team that owns deployments, to surface these logs better & also make deployment handle zip files create

[2022-03-18 16:27] abhisek88 opened #21697 "az sf cluster node-type add does not add a new node type"
**Describe the bug**
az cli for service fabric nodetype add is throwing error with "StorageAccountsOperations"

Below command was executed where the error description was observed. It is reproducable by running the below cli command

az sf cluster node-type add --capacity 2 `
--cluster-name clustername `
--node-type workers `
--resource-group resourcegroupname `
--vm-password password `
--vm-user-

[2022-03-18 16:39] Francisco-Gamino commented on #21388
Hello @gzuber / @amamounelsayed -- Could you please help with this Functions deployment inquiry? Thank you.

[2022-03-18 18:16] SaurabhSharma-MSFT commented on #21664
@Mahelita Could you please share examples of unnecessary files (include screenshots if possible) which are getting included in the path ?

[2022-03-18 18:28] SaurabhSharma-MSFT commented on #21678
@byteknacker Are your trying to use the CLI commands as mentioned in the [documentation](https://docs.microsoft.com/en-us/azure/bastion/create-host-cli#createhost) ?
![image](https://user-images.githubusercontent.com/38112130/159062047-baf354d9-ac5f-4ed6-b25c-78495925664b.png)

[2022-03-18 18:32] SaurabhSharma-MSFT commented on #21686
@chitrankv27 I do not see this issue in my environment.  I believe the problem is with the .ipynpb file which you are trying to upload.  Did you try uploading any other file.

[2022-03-18 19:20] SaurabhSharma-MSFT commented on #21695
@dzanter Thanks for reporting this.  We will look into this and get back to you. Thanks

[2022-03-18 20:22] wasker opened #21699 "az storage blob upload-batch truncates blob URIs after v2.34.1"
## Describe the bug

**Command Name**

`az storage blob upload-batch`

## To Reproduce:

### On v2.31.0:

`az storage blob upload-batch --destination extensions --source d:\temp\1 --destination-path sometest/blah --account-name someaccount --account-key "somekey"`

Responds with

[code]

### After upgrading to v2.34.1:

`az storage blob upload-batch --destination extensions --source d:\temp\1 --de

[2022-03-18 20:34] wasker commented on #21699
Looks like [this change](https://github.com/Azure/azure-cli/commit/9268b9ee57fcfc481ed7efbfa1132b98e1e97d8c#diff-94011053dda390a736cbfca1ce3f1db2e83b7cfc00b88f3ccfb12095aa379e0e) broke it.

@calvinhzy

[2022-03-18 21:06] hansmbakker opened #21700 "High CPU and hang for az acr build inside wsl2"
## Describe the bug

When calling `az acr build` from ubuntu/wsl2, it shows only a few log lines and hangs then. A `python3` process tries consuming all CPU cycles. Nothing happens after minutes. On the same machine on windows there seems to be no problem.

[code]

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have

[2022-03-18 22:43] StrawnSC commented on #21144
It looks like your version of the CLI may be behind (or you may have installed an unofficial version). I get the following when I run `az functionapp plan create --help`:

<img width="764" alt="Screen Shot 2022-03-18 at 3 40 37 PM" src="https://user-images.githubusercontent.com/10121214/159093569-ac7818b2-ff79-4f44-99e1-d7ae2c7a6737.png">

As you can see, the help text should contain the sku optio

[2022-03-19 00:43] yonzhan commented on #21697
route to CXP team

[2022-03-19 00:47] yonzhan commented on #21695
route to CXP team

[2022-03-19 00:48] yonzhan commented on #21699
@evelyn-ys @calvinhzy please take a look

[2022-03-19 00:49] yonzhan commented on #21700
route to CXP team

[2022-03-19 01:01] yonzhan commented on #21684
@jiasli for awareness

[2022-03-19 01:03] #21021 closed

[2022-03-19 03:50] #19747 closed

[2022-03-19 03:50] #20230 closed

[2022-03-19 03:50] #21080 closed

[2022-03-19 08:00] #19248 closed

[2022-03-19 08:00] #14809 closed

[2022-03-19 08:00] #12605 closed

[2022-03-19 08:00] #11610 closed

[2022-03-19 08:00] #11457 closed

[2022-03-19 08:25] Nesjesramrey opened #21702 "I can't install az webapp list-runtimes"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list-runtimes`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list-runtimes --linux`

## Expected Behavior

## Envir

[2022-03-19 08:47] yonzhan commented on #21702
route to CXP team

[2022-03-19 09:24] SerhiiZavalko opened #21703 "'charmap' codec can't encode characters in position 258-264: character maps to <undefined>"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container logs`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container logs --resource-group {} --name {}`

## Expected Behavior

[2022-03-19 10:07] yonzhan commented on #21703
route to CXP team

[2022-03-19 16:25] rohitrg opened #21704 "az login fails with FRAME length exceeds system's maximum of 2147483647 bytes"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-03-20 02:32] yonzhan commented on #21704
@jiasli for awareness

[2022-03-20 02:34] #21040 closed

[2022-03-20 02:36] #21031 closed

[2022-03-20 07:15] th0ger commented on #21031
Why was this closed?
This feature request is still relevant to us.

[2022-03-20 08:30] yonzhan commented on #21031
We have no way to install `az login` separately and will track loose weight of Azure CLI package in https://github.com/Azure/azure-cli/issues/7387

[2022-03-20 08:58] navba-MSFT commented on #21654
@assures I have reached out to Product Owners and they have confirmed that this is a known issue. We will keep you posted about the ETA for the fix.

[2022-03-20 08:59] navba-MSFT commented on #21650
@carvido1 Thanks for getting back. I will look into this issue and get back once I have an update.

[2022-03-20 09:12] navba-MSFT commented on #21497
@BzSpi I hope you had a chance to look at my above comment. Please let me know if you have any follow-up questions on this.

[2022-03-20 15:36] hnky commented on #20712
I have the same error:

{
  "azure-cli": "2.34.1",
  "azure-cli-core": "2.34.1",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "ml": "2.1.2"
  }
}

globalai@SandboxHost-637833806236582481:~$ az ml job download -n 91f47b76-993a-4c19-9910-7c75e5a92a60
Command group 'ml job' is in preview and under development. Reference and support levels: https://aka.ms/CLI_refstatus
Downloading the job l

[2022-03-20 17:41] johndowns opened #21706 "az apim apply-network-updates has incorrect help text"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim apply-network-updates`

**Errors:**
No error messasge, but the wrong help text is displayed.

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim

[2022-03-20 22:48] gavinwun commented on #18052
I am getting this issue with Kubernetes Service Connections, when I use Azure Pipelines to create these connections.

The az devops cli will not return the service connection, but I can see it in portal.

This makes it harder for us to automatically reprovision a Kubernetes cluster and update Azure DevOps with the new connection.

[2022-03-21 00:14] ybadragon commented on #21683
It should have been in the patch notes then that this was going to be a breaking change, or it should have been a major version. We have hundreds of pipelines set up using the azure cli task which now have to be updated because they all have been set to fail on standard error.

[2022-03-21 01:13] yonzhan commented on #21706
route to CXP team

[2022-03-21 01:21] hoyabaptiste92 opened #21707 "Cannot log into Azure Subscription"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-03-21 01:37] jiasli commented on #21683
Frankly speaking, this is not considered a breaking change, as writing warnings to `stderr` is the design since the beginning of Azure CLI. For example, a warning is shown for all preview, experimental or deprecated commands or arguments: https://docs.microsoft.com/en-us/cli/azure/reference-types-and-status.

[2022-03-21 01:46] yonzhan commented on #21707
@jiasli for awareness

[2022-03-21 01:59] jiasli commented on #21707
Duplicate of https://github.com/Azure/azure-cli/issues/20507

Your tenant ID `d5884a56-f725-4e55-bb68-9f4525198f88` is incorrect:

[code]

We will refine the error message in next release of Azure CLI which takes https://github.com/AzureAD/microsoft-authentication-library-for-python/pull/443.

[2022-03-21 01:59] #21707 closed

[2022-03-21 02:08] jiasli commented on #21704
[code]

corresponds to

https://github.com/Azure/azure-cli/blob/azure-cli-2.32.0/src/azure-cli-core/azure/cli/core/auth/identity.py#L115

https://github.com/Azure/azure-cli/blob/d04b359a45c7c92485ac590fcdf48caaf44a88b8/src/azure-cli-core/azure/cli/core/auth/identity.py#L115

@rayluo, looks like MSAL HTTP cache somehow got too big.

[2022-03-21 02:41] chitrankv27 commented on #21686
Hi @SaurabhSharma-MSFT  - I have developed notebook from the synapse studio and its a json file and not .ipynb file
I am trying to deploy it in synapse live env with az cmds.

[2022-03-21 02:43] chitrankv27 commented on #21686
![Screen Shot 2022-03-20 at 10 42 50 PM](https://user-images.githubusercontent.com/62769794/159198781-4956ff5b-ed0b-482b-85ac-a3824d73cca3.png)

[2022-03-21 03:05] cxznmhdcxz commented on #19182
Hello, can you share the debug log?

[2022-03-21 03:21] RakeshMohanMSFT commented on #21706
@johndowns Thank you reaching out we are looking into the issue and will help you with an update as soon as possible. Thank you for your patience and understanding.

[2022-03-21 03:21] RakeshMohanMSFT commented on #21687
@osobeso Thank you reaching out we are looking into the issue and will help you with an update as soon as possible. Thank you for your patience and understanding.

[2022-03-21 03:29] RakeshMohanMSFT commented on #12275
@meetamitbhatia We are really sorry for the delay and thank you reaching out we are looking into the issue and will help you with an update as soon as possible. Thank you for your patience and understanding.

[2022-03-21 03:33] navba-MSFT commented on #21685
@na-init Apologies for the late reply. Could you please confirm if there is any corporate proxy in your environment? If Yes, then you should follow the steps mentioned in [this](https://jiasli.github.io/azure-notes/cli/cli-proxy.html#add-certificate-to-ca-bundle) article to make the AzCLI work via proxy.

Alternatively to test the functionality, you can try to run the command from another machine

[2022-03-21 04:32] RakeshMohanMSFT commented on #21706
@johndowns I have created a PR to fix this documentation issue. Reference# https://github.com/Azure/azure-cli/pull/21708

[2022-03-21 04:41] johndowns commented on #21706
@RakeshMohanMSFT Thanks for fixing this so promptly!

[2022-03-21 05:46] AGregersen commented on #18915
We get it when using az bicep publish --file <file> --target "br:<registry>.azurecr.io/bicep/modules/<filename>:0.1.3r"  through Octopus Deploy, but not if I run it directly.
{
  "azure-cli": "2.34.1",
  "azure-cli-core": "2.34.1",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {}
}

[2022-03-21 05:58] #21706 closed

[2022-03-21 06:06] RakeshMohanMSFT commented on #20521
@vlad610 This issue is fixed https://github.com/Azure/azure-cli/pull/21708

[2022-03-21 06:06] #20521 closed

[2022-03-21 06:07] RakeshMohanMSFT commented on #12275
@meetamitbhatia This issue is fixed https://github.com/Azure/azure-cli/pull/21708

[2022-03-21 06:07] #12275 closed

[2022-03-21 06:38] RakeshMohanMSFT commented on #21687
@osobeso can you please try removing the aks-preview using command "az extension remove --name aks-preview" and see if that resolves the issue?

[2022-03-21 08:04] navba-MSFT commented on #21697
@abhisek88 Apologies for the late reply. Thanks for reporting this issue. I am able to reproduce this issue. We are looking into this issue. I will update this thread once I have more details on this.

[2022-03-21 08:11] ttevatia opened #21710 "Az Login throwing an error: Connection reset by peer"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-03-21 08:12] jonie001 commented on #21580
Hi, @sdebruyn
Both commands set recursive and update recursive can be used to set ACL permissions.

[2022-03-21 09:24] yonzhan commented on #21710
@jiasli for awareness

[2022-03-21 09:26] navba-MSFT commented on #10194
@rodrigotactech Apologies for the late reply. Could you please let me know if you are still facing the same issue with [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of Az CLI? Awaiting you reply.

[2022-03-21 09:30] navba-MSFT commented on #10207
@DanielHWe Apologies for the late reply. Could you please let me know if you are still facing the same issue with [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of Az CLI? Awaiting you reply.

[2022-03-21 09:34] navba-MSFT commented on #21497
@BzSpi It might take a month or two for this new feature. I will update this thread once it is released. In the meantime if you have any pending questions please feel free to ask.

[2022-03-21 09:40] navba-MSFT commented on #10574
@Bschitter Apologies for the late reply. Could you please let me know if you are still facing the same issue with [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of Az CLI? Awaiting you reply.

[2022-03-21 09:52] navba-MSFT commented on #10574
@khmak3 @igilham Could you please let us know if you are still facing the issue with the recent version of CLI ? Awaiting your reply.

[2022-03-21 09:53] navba-MSFT commented on #10773
@evandervalk Apologies for the late reply. Could you please let me know if you are still facing the same issue with [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of Az CLI? Awaiting you reply.

[2022-03-21 09:56] gandhirajan commented on #12903
@Saglodha I guess its 'enable-trusted-service-access' as per the document. Will check on this.

[2022-03-21 10:09] navba-MSFT commented on #10904
@OmegaMadLab Apologies for the late reply. The above PR has been created for fixing the issue. It is currently under the review phase. In the meantime if you have any questions on this, please feel free to ask.

@SeaDude If you want to set it at the resource group level then here is the sample value for the `--scope `parameter /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourcegroup/MyRes

[2022-03-21 10:11] navba-MSFT commented on #11176
@iocuydi Apologies for the late reply. Could you please let me know if you are still facing this issue ? Awaiting your reply.

[2022-03-21 10:14] huws opened #21716 "DNS zone import fails for hyphenated SRV record targets"
**Describe the bug**
When attempting to import a DNS zone file, (e.g. via `az network private-dns zone import`) it will fail if you have any SRV records where the targets contain hyphens.

**To Reproduce**
Take the valid zone file `db.example.com`:
[code]
and import it using:  `az network private-dns zone import --resource-group <RG NAME> --name example.com --file-name db.example.com`

The followi

[2022-03-21 10:30] navba-MSFT commented on #11243
@andigwandi Apologies for the late reply. I am hoping that you have followed the suggestions in the above comment. Could you please let me know if you need any further assistance on this ? Awaiting your reply.

[2022-03-21 10:33] navba-MSFT commented on #11341
@mathiasmaerker Apologies for the late reply. Could you please let me know if you are still facing the same issue with [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of Az CLI? Awaiting you reply.

[2022-03-21 10:36] igilham commented on #10574
That was 18 months ago. The project was terminated for other reasons more than a year ago.

For more general feedback, my experience with Azure CLI tools wasn't great and there was no support available.

Also, none of the Azure services we used worked correctly, the documentation was wrong and useless, and the support agents were not able to help with anything. I sincerely hope the platform has im

[2022-03-21 10:46] yonzhan commented on #21716
network

[2022-03-21 11:07] prasqbe opened #21718 "azcli error: ModuleNotFoundError: No module named 'azure.cli.core.vendored_sdks.subscriptions.v2019_11_01.operations._subscription_client_operations'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-03-21 11:08] Hirenpandav786 commented on #10507
https://github.com/panchagnula, Could you please share the solution here for this if the issue is resolved.

[2022-03-21 11:09] davidstarkcab commented on #11195
@navba-MSFT No problems! What i can see from these commands is that they will only create a new azure function? I want to be able to set the name on the plan.

[2022-03-21 11:23] yonzhan commented on #21718
@jiasli for awareness

[2022-03-21 11:27] PramodValavala-MSFT commented on #21702
@Nesjesramrey Looks like this has since been fixed and I can confirm that there is no error now. Could you upgrade to the latest version and check?

[2022-03-21 11:34] navba-MSFT commented on #12396
@Selekena Apologies for the late reply. Could you please let me know if you are still facing the same issue with [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of Az CLI? Awaiting you reply.

[2022-03-21 11:45] PramodValavala-MSFT commented on #21511
@rozsapeter96 Apologies for not getting back sooner on this! This is likely an intermittent issue which could have been simply due to a delay in data being synchronized across systems. It would be best to create a support ticket if you see this frequently though, to identify any other issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag

[2022-03-21 11:45] #21511 closed

[2022-03-21 11:45] petrkoutnycz commented on #21144
You are right, thanks a lot.

[2022-03-21 11:52] Kahera commented on #21186
The same goes for `az staticwebapp create` where the error message is `
RepositoryToken is invalid. Please ensure the repository exists and the RepositoryToken is for an admin of the repository.`

This also only outputs `Bad Request`.

[2022-03-21 11:55] sanistaal-bbc commented on #20273
I just installed a new VM with Azure CLI version 2.34.1 and I get the error occasionally now :-( Can I downgrade to a specific version to fix this?

[2022-03-21 12:10] Saglodha commented on #21098
@t-dedah, Thanks for bringing this to our attention. I would look at API structure, triage internally and get back to you with more updates.

[2022-03-21 14:13] Paul121GW commented on #16138
@Nightreaver, try using '/locations/{location}/' in your https-string:

https://management.azure.com/subscriptions/[subscriptionid]/providers/Microsoft.ApiManagement/locations/[location]/deletedservices/...

[2022-03-21 14:34] 0gust1 opened #21721 "Adding to an AppService a mount to an inexistent Azure FileShare doesn't produce an error (but breaks the appService instance)"
**Describe the bug**
The following command should return an error when <FILE_SHARE_NAME> doesn't exist in the target storage account:

`az webapp config storage-account add -g <RESSOURCE_GROUP_NAME> -n <APP_SERVICE_NAME> --custom-id "test-az-cli" --storage-type AzureFiles --account-name <STORAGE_ACCOUNT_NAME> --share-name <FILE_SHARE_NAME> --access-key <STORAGE_ACCOUNT_ACCESS_KEY> --mount-path <MO

[2022-03-21 15:29] needuv commented on #20712
Hi @grom1, apologies for the delay. Could you please check the encoding your terminal is using for stdout? You can check it in python by running `sys.stdout.encoding` in an interactive python shell in your terminal. To get you unblocked, could you switch your terminal's stdout encoding to utf-8 and see if that works?

@hnky, @brandonwatts could you please share your outputs when you run the `az ml

[2022-03-21 16:37] abhi-markan opened #21723 "SSL Error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp log tail`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp log tail --name {} --resource-group {}`

## Expected Behavi

[2022-03-21 16:41] Candelit opened #21724 "Not possible to store flow logs in a storage in different subscription using cli"
Hi.
I'm building CLI code to create our network as code, using cli as our default.
Now, I have been struggeling all day to get it to work.

This is, we have a centralized storage and log analytics workspace in a separate subscription that we want to use for every NSG on the network.

Tis article from 2018 states that it is possible, it is if done using the portal.
https://azure.microsoft.com/es-es

[2022-03-21 17:52] rayluo commented on #20273
Can you share more on your usage scenario, such as: what kind of Azure CLI commands that you use, what is the VM's OS, and the error trace you got, etc.? That could help us investigate and try to find the root cause.

By the way, you may consider create a new github issue for your case. I'm not sure whether interactions on a closed issue would still grab enough attention from @jiasli's team.

[2022-03-21 17:53] gandhirajan commented on #12903
Works as expected using the new 'enable-trusted-service-access' parameter. Thanks, everyone for fixing this finally.

[2022-03-21 17:53] #12903 closed

[2022-03-21 17:54] mateuszdrab opened #21725 "Missing defaults"
Hi team

I have a customer asking about the default values for the `az aks create` command.

The parameters they're interested in are:
[code]

Our documentation is missing defaults for many available options.
Can this be resolved?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d75c3a8d-1187-bea1-a7d4-7ebba71c17

[2022-03-21 17:59] sanistaal-bbc commented on #20273
You are right about creating a new issue. I will do that and thanks

[2022-03-21 19:26] sylnsr commented on #13655
FWIW, another reason the `az webapp` fix is not applicable is that some folks need the `--build-remote` option, which `az webapp` does not support.

[2022-03-21 20:07] diberry opened #21726 "Question for Azure App Service: Can you list files on the hosting platform?"
Is there a way to see the files I've deployed to the App Service through AZ CLI? Is there a way to look at files on the hosting platform, that the platform creates, such as logs?

[2022-03-21 20:25] jtrubin opened #21727 "Multiple accounts with same username"
I am trying to install the Azure command line tool and when I try to sign in, it errors out saying that there are multiple accounts with the same username. There are two accounts for jason.rubin@shelfengine.com, one of which was created by my IT department, and the other was created by me. I would like to keep the one created by the IT department.

[2022-03-21 20:30] saids commented on #10207
Why MSFT answers now? It's too late!

[2022-03-21 21:34] SaurabhSharma-MSFT commented on #21584
@weltonrodrigo I am checking internally on this and get back to you. Thanks

[2022-03-21 22:34] yonzhan commented on #21727
@jiasli for awareness

[2022-03-21 22:35] yonzhan commented on #21726
route to CXP team

[2022-03-21 22:37] yonzhan commented on #21725
route to CXP team

[2022-03-21 22:38] yonzhan commented on #21724
network

[2022-03-21 22:39] yonzhan commented on #21723
route to CXP team

[2022-03-22 01:48] leighghunt opened #21728 "Runtimes documentation slightly misleading"
The documentation is subtly misleading here - I read it to mean I could take the output from `az webapp list-runtimes` and use that output in the `github-actions add` call - however, I need to change the colon to a pipe.

[code]

Mistakenly using `DOTNETCORE:6.0` fails as follows:
[code]

Using the correct format `DOTNETCORE|6.0` succeeds:
[code]

I wonder if either this could be made clearer in t

[2022-03-22 03:31] #20346 closed

[2022-03-22 03:38] navba-MSFT commented on #21146
Removing the CXP Attention label. @yonzhan for visibility.

[2022-03-22 03:48] yonzhan commented on #21728
route to CXP team

[2022-03-22 03:49] cxznmhdcxz commented on #19182
Our test subscription doesn't have quota to create ND or NCv3 vms.
But query vm SKUs that support accelerated network by this CLI command,
[code]
And the output shows that Standard_ND6s and Standard_NC6s_v3 does support AN, and Standard_NV6 doesn't.

[2022-03-22 03:58] RakeshMohanMSFT commented on #21725
@mateuszdrab Thank you for reaching out we are looking into the issue and will help you with an update as soon as possible. Thank you for your patience and understanding.

[2022-03-22 04:58] #21330 closed

[2022-03-22 05:00] jiasli commented on #21707
`d5884a56-f725-4e55-bb68-9f4525198f88` is not correct as AAD doesn't have information about this tenant: https://login.microsoftonline.com/d5884a56-f725-4e55-bb68-9f4525198f88/v2.0/.well-known/openid-configuration

Please double check if the GUID is right. BTW, can you access this subscription in Azure Portal?

[2022-03-22 05:03] jiasli commented on #21718
This version of Azure CLI is too old, please install the latest version.

[2022-03-22 05:36] jiasli opened #21734 "Bump MSI embedded Python to 3.10.3 or 3.9.11 to fix CVE-2022-0778"
We have supported Python 3.10 for a while (https://github.com/Azure/azure-cli/issues/19857), but the MSI still bundles Python 3.8.9.

Python 3.8.13 fixed CVE-2022-0778 but only in source code, not binary installers:

https://www.python.org/downloads/release/python-3813/

Therefore, we need to bump MSI embedded Python to 3.10.3 or 3.9.11 which has libssl 1.1.1n:

![image](https://user-images.github

[2022-03-22 05:46] SatishBoddu-MSFT commented on #21644
Hello @pci7 Sorry for the delayed response!

Did you try logging from the Azure portal, try to reset the password?

[2022-03-22 06:31] Saglodha commented on #15906
@fengzhou-msft , Looks like the fix had been done for core CLI. Please feel free to reach out if you have additional concerns from service bus side.

[2022-03-22 06:31] #15906 closed

[2022-03-22 06:42] Saglodha commented on #16137
@ashinzekene - Can you confirm if the same issue is happening in latest CLI module? I tried with CLI version 2.34.1 and am unable to reproduce the behavior.

[2022-03-22 06:43] Kmumuda opened #21737 "Error while finding module specification for 'azure.cli' (ModuleNotFoundError: No module named 'azure')"
==============================================================================
C:\Windows\system32\cmd.exe /D /S /C "C:\hostedtoolcache\windows\Python\3.7.9\x64\Scripts\az.bat --version"
C:\hostedtoolcache\windows\Python\3.8.10\x64\python.exe: Error while finding module specification for 'azure.cli' (ModuleNotFoundError: No module named 'azure')
##[error]Error Code: [1]
##[error]Script failed with

[2022-03-22 06:55] th0ger commented on #21031
@yonzhan, yes i get it, @jiasli already said that.

But that's not how feature requests work... You can't close a feature request by arguing that the feature is not implemented... That's what status "open" is for.

It can be a decision to "won't fix" from the PM/core team (based on e.g. architectural limitations), but that dialogue has not taken place here.

Even though the size of azure-cli is tr

[2022-03-22 07:09] Saglodha commented on #17002
@fafg- Thank you for bringing this to our attention. You're right about the total size to be addition of all partitions involved, I would work within the team to have an informative error message. I would keep you posted for additional updates.

[2022-03-22 07:15] Saglodha commented on #17131
@lurifaxel - Thank you for bringing this to our attention. We would work internally to get the documentation updated.

I would keep you posted with updates.

[2022-03-22 07:18] yonzhan commented on #21734
Bump MSI embedded Python

[2022-03-22 07:28] yonzhan commented on #21737
@jiasli for awareness

[2022-03-22 07:42] Saglodha commented on #19641
Hi @DanielLarsenNZ, apologies for delay here.

We would triage this internally, and I should be able to share updates soon.

[2022-03-22 07:51] Saglodha commented on #19915
@rangarnow, thanks for bringing this to our attention. As per my understanding, Receivedisabled holds true for Service bus queues.

I would triage internally with team and keep you posted with additional updates.

[2022-03-22 07:56] andigwandi commented on #11243
No action is required as of now. Thank you for following up.

[2022-03-22 07:56] #11243 closed

[2022-03-22 08:00] #20127 closed

[2022-03-22 08:00] #19602 closed

[2022-03-22 08:00] #14193 closed

[2022-03-22 08:05] Saglodha commented on #19278
Hi @AnthonyRobinson, thanks for bringing this to our attention. I would triage internally and keep you posted with updates here.

[2022-03-22 08:31] Saglodha commented on #21104
Hi @VectorBCO , thanks for bringing this to our attention.

Cmdlet help is generated to facilitate any specific details that users might need help with. I would recommend to go through the product docs to understand more on the details like what exactly a namespace is and why would you need blob container ( for capture purposes).

Here are few docs that could be helpful :

https://docs.microsoft.c

[2022-03-22 08:34] pci7 commented on #21644
I usually use the command `az login` for authentication. If I reset the password only on that machine from the Azure portal, does it not compromise the authentication via az login?

[2022-03-22 08:35] VectorBCO commented on #21104
are you sure i'm looking for some other docs when read that exact article?
That is a worse possible practice for writing descriptions in that way `ServerName - server name parameter`.
That not a description!

[2022-03-22 08:46] navba-MSFT commented on #21728
@leighghunt Thanks for reaching out to us and proving the feedback. We have filed this https://github.com/Azure/azure-cli/pull/21741 PR. It is currently under the review phase. In the meantime, if you have any questions, please feel free to ask.

[2022-03-22 08:51] Saglodha commented on #21104
@VectorBCO - Sorry to hear about your experience, can you share the doc where you observe the description to have  ServerName - server name parameter?

I couldn't find this parameter in the doc pinned to this issue: https://docs.microsoft.com/en-us/cli/azure/eventhubs/eventhub?view=azure-cli-latest#az-eventhubs-eventhub-list

[2022-03-22 08:55] navba-MSFT commented on #21723
@abhi-markan Thanks for reaching out to us and reporting this issue. This is a duplicate of https://github.com/Azure/azure-cli/issues/20489 . PR https://github.com/Azure/azure-cli/pull/21398 has been filed to address this issue and its merged now. Please use the [most recent version of the AzCLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) and let us know if you

[2022-03-22 09:21] jsntcy opened #21742 "[Enhancement] Follow up actions with priority for "Akamai Ticket: 2110050010002974""
**GA to Preview (preview or experimental) should not be allowed in Azure CLI**

- (P0) Remember it's a very bad customer experience to unilaterally change interfaces at any time, and break customer code especially without notice in advance.
  - We should always keep backward compatibility at interface level.
  - If we must break customers, let customers know in advance and they can have time to ch

[2022-03-22 09:33] hoyabaptiste92 commented on #21707
d5884a56-f725-4e55-bb68-9f4525198f88

It is a deleted (orphaned) AD that is still tied to my subscription. The subscription is my original when I signed up  for a personal Azure account. I am the subscription owner and I still see 8t in my billing. In fact I will have a bill for March due to activity.

[2022-03-22 09:52] navba-MSFT commented on #20944
@ryancole Apologies for the late reply. Could you please let me know if you are still facing the same issue with the[ most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of AzCLI? Awaiting your reply.

[2022-03-22 09:53] tombellshield commented on #20240
This should be fixed by #21698.

[2022-03-22 09:57] VectorBCO commented on #21104
![Screenshot_20220322-105714_Chrome](https://user-images.githubusercontent.com/13451494/159454969-2fda2508-2af6-443f-8e9f-cd05643146b5.jpg)

[2022-03-22 09:59] VectorBCO commented on #21104
I'm not agree that this is ok for any type of documentation especially for technical docs

[2022-03-22 10:08] navba-MSFT commented on #20841
@vhhughes Closing as duplicate of https://github.com/Azure/azure-cli/issues/21225

[2022-03-22 10:08] #20841 closed

[2022-03-22 10:17] navba-MSFT commented on #15800
@kevin-secrist Apologies for the late reply. The similar issue has been discussed here and I see the PR has been merged now https://github.com/Azure/azure-cli/pull/21698. Please let me know if you are still facing the same issue using [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the AzCLI. Awaiting your reply.

[2022-03-22 10:18] sanistaal-bbc opened #21744 "Permission denied on msal_token_cache.bin.lockfile"
## Describe the bug

We use Octopus to deploy websites to our Azure app services. Sometimes we get the error "**PermissionError: [Errno 13] Permission denied: 'C:\\Octopus\\Work\\20220322100442-6880-1549\\azure-cli\\msal_token_cache.bin.lockfile'** " when running AZ commands. It's not the same AZ command failing every time we get the error and re-running the command will be succesful.

**Command N

[2022-03-22 10:21] navba-MSFT commented on #15066
@lrbuermann Apologies for the late reply. Could you please let us know if you are still facing the issue ? This issue is open for quite sometime. Please let us know if you still need any assistance on this. Awaiting you reply.

[2022-03-22 10:21] eliasarellano commented on #21692
any tips for that ?

[2022-03-22 10:27] navba-MSFT commented on #14572
@kipal Apologies for the late reply. The similar issue was discussed here. https://github.com/Azure/azure-cli/issues/17424
The PR was filed for this https://github.com/Azure/azure-cli/pull/18475 . The issue is now fixed. Please use the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of AzCLI and check if you are facing any issue. Awaiting you reply.

[2022-03-22 10:33] #15811 closed

[2022-03-22 10:52] yonzhan commented on #21742
Enhancement

[2022-03-22 10:53] mohakhlf opened #21745 "(InternalServerError) An unexpected error occured while processing the request"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az postgres flexible-server db list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az postgres flexible-server db list --resource-group

[2022-03-22 10:57] yonzhan commented on #21744
route to CXP team

[2022-03-22 10:59] navba-MSFT commented on #19527
@martinkearn Apologies for the late reply. The below details have been shared in [this](https://docs.microsoft.com/en-us/cli/azure/appservice/plan?view=azure-cli-latest#az-appservice-plan-create-optional-parameters) docs now.
Please let us know if you need any further assistance on this. Awaiting your reply.

[code]

[2022-03-22 11:02] yonzhan commented on #21745
route to CXP team

[2022-03-22 11:06] #21068 closed

[2022-03-22 11:28] navba-MSFT commented on #19431
@coderbyheart Apologies for the late reply. Could you please confirm if you had a chance to follow the above plan ? Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-03-22 11:30] navba-MSFT commented on #10879
@dwhanger Apologies for the late reply. Thanks for providing the update on this. We are glad that the issue is resolved. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-03-22 11:32] navba-MSFT commented on #19552
@JoseACastilloH Apologies for the late reply. Could you please let us know the command that you executed along with the values that were passed to the parameters ? Please let us know if you are still facing the same issue. Awaiting your reply.

[2022-03-22 11:42] mrpocketsgb opened #21747 "Installing azure-cli fails with Rosetta 2 error"
**Describe the bug**
Trying to install azure-cli on Mac with M1 chip, fails with error "Cannot install under Rosetta 2"

**To Reproduce**
Open Terminal, enter brew install azure-cli. Following error occurs:

Error: Cannot install under Rosetta 2 in ARM default prefix (/opt/homebrew)!
To rerun under ARM use:
    arch -arm64 brew install ...
To install under x86_64, install Homebrew into /usr/local.

[2022-03-22 11:51] coderbyheart commented on #19431
There is no plan above.

[2022-03-22 11:54] navba-MSFT commented on #19431
@coderbyheart My bad. I was looking at another github thread and thought I was commenting on that. The Action Plan I wanted to share is to try using the [most recent version of AzCLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and check if you are getting the same issue ? Awaiting your reply.

[2022-03-22 13:42] Nikostito commented on #11261
I am facing the exact same issue to one of my workflows. Yesterday the `az webapp up` command worked fine.
Today it gives me the same zip error. Should we move forward to `az webapp deploy` judging from your comment above?
Please let me know.

[2022-03-22 13:44] justinsmits opened #21748 "az costmanagement documentation is out of date"
query method was removed but documentation isn't updated:

https://github.com/Azure/azure-cli-extensions/blob/main/src/costmanagement/HISTORY.rst

Documentation link: https://docs.microsoft.com/en-us/cli/azure/costmanagement?view=azure-cli-latest#az-costmanagement-query

[2022-03-22 13:45] AidarGatin opened #21749 "az storage blob download"
%23%23%23 **This is autogenerated. Please review and update as needed.**

%23%23 Describe the bug

**Command Name**
`az storage blob download`

**Errors:**
[code]

%23%23 To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob download -c {} -f {} --name {}`

[2022-03-22 13:47] lqm678 opened #21750 "Lost query lines for a multiline query when using "az monitor log-analytics workspace saved-search create""
**Describe the bug**
Lost query lines for a multiline query when using ["az monitor log-analytics workspace saved-search create"](https://docs.microsoft.com/en-us/cli/azure/monitor/log-analytics/workspace/saved-search?view=azure-cli-latest#az-monitor-log-analytics-workspace-saved-search-create)

**To Reproduce**

`az monitor log-analytics workspace saved-search create -g MyRG --workspace-name MyWS

[2022-03-22 13:57] dtupy opened #21751 "az afd profile show returns Null for frontDoorId"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When using the below command and querying for frontdoorId it returns null. The front door profile has an ID based on the portal and the json provided in the portal. This cli command does return what I am looking for `az resource show -g rg -n profileName --namespace Microsoft.Cdn --resource-type Profiles --quer

[2022-03-22 14:18] Nikostito opened #21752 "az webapp up ZIP deployment fails, possibly due to yarn install"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --name {} --runtime {}`

## Expected Behavior
The webapp shoul

[2022-03-22 15:09] yonzhan commented on #21749
storage

[2022-03-22 15:10] yonzhan commented on #21752
route to CXP team

[2022-03-22 15:13] yonzhan commented on #21750
monitor

[2022-03-22 15:13] yonzhan commented on #21748
costmanagement

[2022-03-22 15:15] PramodValavala-MSFT commented on #21744
@sanistaal-bbc Based on the previous discussion in the issue that you linked, looks like the one case where it is expected to hit this error is around the time the token expires. I am routing this the appropriate team to take a further look.

[2022-03-22 15:30] v-smeadows commented on #21670
Following up on this.  Anything to provide my CX? Or is there any more information required?

[2022-03-22 15:37] PramodValavala-MSFT commented on #19979
@vicuartas230 Looks like this has since been fixed and I can confirm that there is no error now. Apologies for no updates on this issue sooner. Unless you are still seeing this error on your end with the latest version, I believe this could be closed.

[2022-03-22 16:33] mandarsj opened #21753 "Azure Devops Fails with CLI to remove firewall rules when resource group is locked for deletion"
**Describe the bug**
We are using Sql Azure in a resource group , the resource group also has a delete lock to avoid accidental deletion of resources, which is according to us is a standard practice. The sql azure database is updated using code first pattern using Deploy Azure Database task in Azure DevOps . The details in this documentation.

https://docs.microsoft.com/en-us/azure/devops/pipeline

[2022-03-22 17:15] muralikrishnarokkam opened #21754 "Az Login Issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-03-22 17:29] shahht opened #21755 "How to give VM identity to grant permissions for RBAC roles"
I like to use VM identity to run az login and then run RBAC commands to give permissions

# Assign permissions
====================================
spID=$(az resource list -n $BkpVaultName --query [*].identity.principalId --out tsv)

az role assignment create \
--assignee $spID \
--role 'Disk Backup Reader' \
--scope subscriptions/5e1262c6-xxxx-xxxxxxxxx-xxxxxxxxxx/resourceGroups/<ResourceGroup>/p

[2022-03-22 17:33] jtrubin commented on #21727
I wish to keep both accounts as deleting either of them could cause some permission issues at my organization. Please disregard this.

[2022-03-22 17:33] #21727 closed

[2022-03-22 18:15] pabrams opened #21756 "Can't use az login: OSError: [WinError 0] : ''"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-03-22 20:57] ttevatia commented on #21710
Any updates on this issue. The RHEL VM that we are using has been created on Azure only and still we are getting login issues. Maybe some package issues in Azure VMs?

[2022-03-22 21:00] ellievail opened #21757 "Soft Delete for Files and Folders CLI GA"
We have released Soft Delete for Files and Folders to be Generally Available. The only CLI package for this is the preview package, and we need to have the GA version of the CLI package.

We would like the CLI package for Soft Delete for Files and Folders to be generally Available.

I don't think there are any alternatives to this. Hopefully this should be simple-- we have had customers test out t

[2022-03-22 21:18] amjads1 commented on #21604
Looking into the issue.

[2022-03-22 22:11] SaurabhSharma-MSFT commented on #21703
@SerhiiZavalko Is your resource name containing any Unicode characters?

[2022-03-22 22:12] jaredbrogan opened #21758 "Unable to create role assignment via az rest"
## Describe the bug
When trying to create a role assignment as shown [here](https://docs.microsoft.com/en-us/graph/api/rbacapplication-post-roleassignments?view=graph-rest-1.0&tabs=http#example-1-create-a-role-assignment-with-a-tenant-wide-scope), I cannot seem to bypass the traceback error detailed below.
However, this __*DOES*__ work when executed via cURL.

**Command Name**
`az rest`

**Errors:

[2022-03-22 22:21] assures commented on #21654
@navba-MSFT Thanks for the update

[2022-03-22 22:43] SerhiiZavalko commented on #21703
@SaurabhSharma-MSFT No, but I suppose stdout containing such characters. This error occurs only with `az logs` command.

[2022-03-22 22:47] mehcode commented on #21532
Work-around for 21.10 is to run the script, then edit `/etc/apt/sources.list.d/azure-cli.list` and change `impish` to `focal`, then run `sudo apt update && sudo apt install azure-cli`. I'm sure that could be done in a one-liner with sed or something.

Let's not recommend to thousands of users to downgrade their Ubuntu packaging steps from 21.10 to 20.04 (with the potential to break so many other t

[2022-03-22 22:50] mploschiavo commented on #21532
Why should I downgrade, cough - "reinstall" ubuntu? Why is this broken when it used to work?

[2022-03-22 22:59] SudoSpartanDan commented on #21532
Could we get an update on this? It’s been 7 days and the current recommended solution is to… downgrade our OS version… Even though Ubuntu 22.04 is coming soon, I’m not going to be jumping on it with my applications immediately. And I’m definitely not planning to downgrade.

[2022-03-22 23:13] mehcode commented on #21532
I've spun up 4 VMs now since I posted that and the work-around mentioned here works great in my setup (mostly using azure container registry from within vm): https://github.com/Azure/azure-cli/issues/21532#issuecomment-1075726206

[2022-03-23 00:14] MeaningOfLights commented on #13952
To reduce the confusion and narrow down on what the actual bug is please see my experience here. https://stackoverflow.com/a/71580218/495455

[2022-03-23 00:14] mcgov commented on #19182
That is exactly the problem. https://docs.microsoft.com/en-us/azure/virtual-machines/nd-series
ND series v1 doesn't support AN. It's a bug that they're showing up as supporting it.

[2022-03-23 00:21] yonzhan commented on #21753
route to CXP team

[2022-03-23 00:22] yonzhan commented on #21754
@jiasli for awareness

[2022-03-23 00:24] yonzhan commented on #21755
@jiasli for awareness

[2022-03-23 00:25] yonzhan commented on #21756
@jiasli for awareness

[2022-03-23 00:28] yonzhan commented on #21757
storage

[2022-03-23 00:29] yonzhan commented on #21758
@jiasli for awareness

[2022-03-23 00:59] SaurabhSharma-MSFT commented on #21584
@weltonrodrigo Can you please try using `az aks get-credentials -n <cluster> -g <rg>  --public-fqdn` ?

[2022-03-23 01:52] jsntcy opened #21760 "[Enhancement] Update https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-list more timely"
We'll discuss with docs team to update https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-list more timely.

[2022-03-23 02:15] evelyn-ys commented on #21670
Can you check your local `azure-keyvault` package? Seems not the version CLI uses:
https://github.com/Azure/azure-cli/blob/3bdf16a43dbf5250d038f7b9aff93b0571a9f4e8/src/azure-cli/setup.py#L65

[2022-03-23 02:20] evelyn-ys commented on #21749
Can you share the full parameter you used? Seems like account key is not parsed correctly. From the error:
[code]
There's additional `%0a` in url so caused connection failure

[2022-03-23 03:00] jiasli commented on #21756
Duplicate of #20278

[2022-03-23 03:00] #21756 closed

[2022-03-23 03:01] jiasli commented on #21754
Duplicate of #20231

[2022-03-23 03:01] #21754 closed

[2022-03-23 03:47] jiasli commented on #21710
Looks like you can't access https://login.microsoftonline.com/organizations/v2.0/.well-known/openid-configuration

You may verify with

[code]

[2022-03-23 03:48] PramodValavala-MSFT commented on #19738
@Iceymann18777 Just following up here to see if the response here help. If not, please do share more details about the exact command you are running and your scenario.

[2022-03-23 03:58] yonzhan commented on #21760
Docs improvements

[2022-03-23 04:06] jiasli commented on #21532
@mehcode, Impish is not binary compatible with Focal, same as Hirsute is not compatible with Focal (https://github.com/Azure/azure-cli/pull/19367). Using Focal package on Impish is not guaranteed to work.

**Good news is that https://packages.microsoft.com/ will support zstd compression next week and we will release Azure CLI 2.35.0 for Impish.**

[2022-03-23 04:06] PramodValavala-MSFT commented on #20472
@spottedmahn Looks like this has since been fixed and I can confirm that there is no error now. You could upgrade to the latest version and try again.

[2022-03-23 05:25] jiasli commented on #21358
The multiple accounts issue is tracked by https://github.com/Azure/azure-cli/issues/20168.

[2022-03-23 05:25] jiasli commented on #21727
The multiple accounts issue is tracked by https://github.com/Azure/azure-cli/issues/20168.

[2022-03-23 05:27] jiasli commented on #21707
For billing, subscription and directory/tenant management, you may create an Azure support ticket and a support engineer will assist you with it: https://azure.microsoft.com/en-us/support/create-ticket/

[2022-03-23 05:29] jiasli commented on #21737
It seems you are running Azure CLI on a ML instance: https://github.com/Azure/azure-cli/issues/18626

[2022-03-23 05:59] blueww opened #21764 "[Storage] support HNS versioning"
**Resource Provider**

Storage feature, mostly on dataplane

**Description of Feature or Work Requested**

Support HNS versioning, see feature function spec: https://microsoft-my.sharepoint.com/:w:/p/ylunagaria/ERAqwNtuks9HiouUW4Ouxa8B71WeaRprTCqXuKCN-vcPgg?e=hucwe8&CID=79FA7BEA-6CA8-46E9-AB9C-29B89FE8A126&wdLOR=cBDB3B0C9-F887-4719-9F90-A62693CDE58B

**Minimum API Version Required**

STG84 (2021-1

[2022-03-23 05:59] RakeshMohanMSFT commented on #21758
@jaredbrogan Thank you for reaching out we are looking into the issue and will help you with an update as soon as possible. Thank you for your patience and understanding.

[2022-03-23 06:15] #21649 closed

[2022-03-23 06:16] navba-MSFT commented on #21753
Adding the Service Attention label so that the Github Devops Service team can look into this issue.

[2022-03-23 06:26] RakeshMohanMSFT commented on #21725
@mateuszdrab the aforementioned parameters (--vm-set-type, --zones) do not have any default values we just send in None when nothing is passed) the some of the parameters do have valid default values like --nodepool-name or --node-count they have valid default values like nodepool1 and 3 respectively that is why they are mentioned in our documents.

Hope that helps you! Do let me know if you have

[2022-03-23 06:31] Saglodha commented on #21104
@VectorBCO, I appreciate your suggestions here.

In this case, we could plan to update the description of --namespace-name to be: Name of Event Hubs namespace. Do you think this would be adequate for your use case?

[2022-03-23 06:48] VectorBCO commented on #21104
This is better than now, but nope it is still un-googlable

Imagine you need modify eventhub somehow.
You have access to the portal where you can test some staff. Then you need prepare a command to do magic automatically.
Where in a Portal I can find `Name of Eventhub NameSpace`? How can I find that namespace-name with `az cli` or `azure powershell`?

There no such information in the Portal in thi

[2022-03-23 07:06] jiasli commented on #21758
@jaredbrogan, the failed line is:

https://github.com/Azure/azure-cli/blob/07819726e13d72587eb82b65c92ecba3bb009f32/src/azure-cli-core/azure/cli/core/util.py#L847

It fails because the header format is incorrect. Actually, you don't need to specify header `Content-Type` at all:

[code]

Also, if you run the command in native PowerShell, pay attention to quoting issues: https://github.com/Azure/azu

[2022-03-23 07:11] yonzhan commented on #21764
Storage

[2022-03-23 07:26] jiasli commented on #18131
Please see #21758

[2022-03-23 07:26] #18131 closed

[2022-03-23 07:36] v-anvashist commented on #21560
@anassk.We are not able to repro this issue. Please provide the detailed steps if possible to test the complete scenario in our system.

[2022-03-23 08:08] ajaydevtron opened #21765 "Issue during create container"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage container create --name {}`

## Expected Behavior

[2022-03-23 08:27] jsntcy commented on #21751
@t-bzhan, could you please look at the issue?

[2022-03-23 08:46] Saglodha commented on #21104
@VectorBCO - I understand your concerns here and would like to provide some insights to the issue that you have been supposedly facing.

While you have to update event hub, you would need namespace name (namespace is just a logical container that stores different event hubs and namespace name is same as any resource name that you would create on Azure). On Azure Portal, we follow similar conventio

[2022-03-23 08:51] yonzhan commented on #21765
storage

[2022-03-23 08:56] VectorBCO commented on #21104
could you show me somewhere
`NameSpace Name: testnamesaglodha`
on your screen I see just only `Name` and nothing about `NameSpace`

[2022-03-23 09:02] jsntcy commented on #21748
@justinsmits, the documentation has been updated now, please re-check.

[2022-03-23 09:02] #21748 closed

[2022-03-23 09:12] wangzelin007 commented on #21692
2022-04-2T17:07:47.6184009Z

2022-04-02T17:07:55.8430639Z
I think you miss a **d** in your expiration_token_date, So the  date formate is also miss a zero sometimes.

[2022-03-23 09:29] RakeshMohanMSFT commented on #21751
@dtupy Thank you for reaching out, we are looking into the issue and will help you with an update as soon as possible. Appreciate your patience and understanding.

[2022-03-23 09:30] navba-MSFT commented on #20901
@kevin-secrist Just checked the details about the PR https://github.com/Azure/azure-cli/pull/21698 and got a confirmation that the fix is yet to be released. Sending you the next release milestone details: https://github.com/Azure/azure-cli/milestone/116 which is planned for April 6th. Hope this helps.

[2022-03-23 09:31] navba-MSFT commented on #15800
@kevin-secrist Thanks for getting back. Just checked the details about the PR https://github.com/Azure/azure-cli/pull/21698 and got a confirmation that the fix is yet to be released. Sending you the next release milestone details: https://github.com/Azure/azure-cli/milestone/116 which is planned for April 6th. Hope this helps. In the meantime, if you have any questions on this, please let me know.

[2022-03-23 10:05] navba-MSFT commented on #20817
@kemurayama Apologies for the late reply. Please follow the below action plan and let me know if you face any issues.

Enable [the system-assigned managed identity](https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity) for the web app by using the [az webapp identity assign](https://docs.microsoft.com/en-us/cli/azure/webapp/identity#az_webapp_identity-assign) command:
[code

[2022-03-23 10:09] Saglodha commented on #21104
@VectorBCO - Sure, if I create a test event hub under the namespace and go to overview blade on portal, I can find the details. Here is a screenshot:

<img width="839" alt="image" src="https://user-images.githubusercontent.com/62641016/159674493-fd22bcb8-a9cc-4082-ad72-8400749c70b1.png">

[2022-03-23 11:13] anassk commented on #21560
@v-anvashist  all what i do is launching a powershell console and trying a `az devops`
I even tried to remove and add again the devops extension but still have same exception
![az_devops_error2](https://user-images.githubusercontent.com/4243614/159686930-86811887-8deb-4142-8eec-da13efeb371f.png)

[2022-03-23 11:20] navba-MSFT commented on #20489
@sorin-silaghi the PR https://github.com/Azure/azure-cli/pull/21398 has been merged. Use the most recent version of the AzCLI and test again. Please let me know if you have any further questions. Awaiting your reply.

[2022-03-23 12:04] RakeshMohanMSFT commented on #20617
@msavel2i Can you please help us with more information, like where is this broken link? so that we can help you fix it. Because based on the error description we can clearly see that the link is working.

Awaiting your reply.

[2022-03-23 12:31] weltonrodrigo commented on #21584
```—public-fqdn``` gives me the public zone. Thank you.

[2022-03-23 12:41] Nikostito commented on #21752
It is more than 24h that this paid service is down. An update to this issue would be helpful..

[2022-03-23 13:03] shahht commented on #21755
FYI-the managed identity is contributor at a subscription level

[2022-03-23 13:04] spottedmahn commented on #20472
I'll take your word, thanks!

[2022-03-23 13:04] #20472 closed

[2022-03-23 13:36] v-anvashist commented on #21560
@anassk  Could you please check the azure devops CLI extension version again in your machine and if possible share the screenshot.

We are using 0.24.0  and az devops command is working fine in our machine.

[2022-03-23 13:54] Candelit commented on #15533
Please, can you get us some insight on this. As it is today, creating apim using cli does not work for internal vnet mode.

[2022-03-23 14:08] jaredbrogan commented on #21758
🤦‍♂️ Ugh... Thanks for pointing that out. I swear I tried it several times with and without the header. At one point without providing the header outright, it complained about not having one, but as you pointed out it did work just now.

Appreciate the sanity check on this one! 🙂

[2022-03-23 14:25] RakeshMohanMSFT commented on #20292
@azurepilot Apologies for the delayed response. Are you referring to this link https://docs.microsoft.com/en-us/rest/api/azure/devops/ document? it seems to pointing to the same document in both the place. If something else you are referring to let us know we will be happy to assist you.

[2022-03-23 15:03] kevin-secrist commented on #20901
From a non-expert perspective that PR doesn't look like it solves the particular issue that I was facing. The PR appears to be related to zip deployments, but this is changing settings on the app service.

[2022-03-23 15:22] anassk commented on #21560
@v-anvashist  it was working fine and it just stopped in the same session where it was working...

![az_devops_error3](https://user-images.githubusercontent.com/4243614/159734230-d7aafc52-5869-41fa-8f8e-001b62409beb.png)

[2022-03-23 15:22] DerStimmler opened #21768 "Can't update origin group of route in Azure Front Door"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az afd route update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az afd route update -g {} --profile-name {} --endpoint-name {} --route-name {} --origin-group {}`

## Expect

[2022-03-23 15:46] RakeshMohanMSFT commented on #19627
@Anandharajv Hope you doing good. Can you please help us understand if the solution provided by @jsntcy resolved your issue?

Awaiting for your response.

[2022-03-23 15:51] RakeshMohanMSFT commented on #19340
@cvdabbeele Apologies for the delayed response. Let us know if this helps in addressing the concern. https://docs.microsoft.com/en-us/azure/devops/cli/service-endpoint?view=azure-devops#create-service-endpoint-using-a-configuration-file and this is also updated in the document https://docs.microsoft.com/en-us/cli/azure/devops/service-endpoint?view=azure-cli-latest#az-devops-service-endpoint-create

[2022-03-23 15:57] devatas opened #21769 "Azure Bicep deployment fails with permission denied using az cli on Mac"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az deployment sub create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az deployment sub create -f {} -l {}`

## Expected Behavior

##

[2022-03-23 16:03] jtrubin commented on #21727
Was able to resolve the issue using the steps in that ticket. Thanks!

[2022-03-23 16:03] mateuszdrab commented on #21725
Thanks @RakeshMohanMSFT

Hopefully we can get more insights on that, because --vm-set-type is a choice of two options, and one of them will be chosen if not provided, I'd assume the newer VMSS would be chosen.
Same with --zones, when a VMSS option is used, zones have to be provided so something is making a default selection somewhere.

Not sure why our documentation is unclear about this.

[2022-03-23 16:18] mateuszdrab commented on #21725
I found some answers myself in the documentation of our REST api:

https://docs.microsoft.com/en-us/rest/api/aks/managed-clusters/create-or-update#agentpooltype
![image](https://user-images.githubusercontent.com/26556541/159746346-a3075675-b4f1-4c3a-947c-17944c8c6b6b.png)

https://docs.microsoft.com/en-us/rest/api/aks/managed-clusters/create-or-update#managedclusteragentpoolprofile
`The list of Av

[2022-03-23 16:23] anstein-msft commented on #7417
I got the same error from the portal using a 47.x.x.x IP address.
However, the setting actually saved despite the Portal error. I've never seen that in Azure before :)

[2022-03-23 16:24] RakeshMohanMSFT commented on #19343
@nishankgu This issue is fixed

[2022-03-23 16:24] #19343 closed, assigned to RakeshMohanMSFT

[2022-03-23 16:47] #21584 closed

[2022-03-23 16:52] SaurabhSharma-MSFT commented on #21462
@dayland I have received the below workaround PowerShell script to get/update spark pool:

[code]
I hope it is helpful.
Please let me know if you have any questions.

Thanks
Saurabh

[2022-03-23 17:40] alexmlopez opened #21770 "login failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-03-23 17:52] Bhanu88 opened #21772 "Azure app configuration Cli parsing issue for feature filter"
Azure app configuration

i want to insert following feature filter in the app configuration with CLI but **Users** arrage section is not getting parsed correctly please help me .
{
	"id": "check",
	"description": "",
	"enabled": true,
	"conditions": {
		"client_filters": [
			{
				"name": "Microsoft.Targeting",
				"parameters": {
					"Audience": {
						"Users": [
							"a.n@c.com",
							"d.

[2022-03-23 17:54] #21772 closed

[2022-03-23 17:55] Bhanu88 commented on #21772
i looged in wrong project ,i logged issue in app configuration thanks

[2022-03-23 18:22] SaurabhSharma-MSFT commented on #21664
@Mahelita Please let me know if you need any help on this.

[2022-03-23 19:11] SaurabhSharma-MSFT commented on #21765
@ajaydevtron What authentication mechanism (`--auth-mode`, `--account-key`, `--connection-string`, `--sas-token`) you are using here ?

[2022-03-23 19:58] SaurabhSharma-MSFT commented on #21695
@dzanter Thanks for reporting this.  I have submitted a PR to fix this documentation issue.

[2022-03-23 20:04] kf6kjg opened #21774 "Add ability to use Bastion to tunnel database connection"
As a developer using Azure CLI I'm frustrated that I have to set up and maintain a whole Virtual Machine just to access a database that's in a private VNet

I'd like to be able to use the Azure Bastion native tunnel feature to directly tunnel to a database inside the connected VNet in the [same manner as currently is used for accessing a VM via SSH or RDP](https://docs.microsoft.com/en-us/azure/ba

[2022-03-23 20:08] kf6kjg commented on #21774
Note that attempting to accomplish the above example, since it is a currently unsupported idea, using `az cli 2.34.1` will result in the tunnel crashing:
[code]

[2022-03-23 20:18] jaredbrogan commented on #11942
+1
I'm witnessing this behavior as well. Any updates on this bug?

[2022-03-23 20:59] SatishBoddu-MSFT commented on #21644
Hello @pci7

Did you try this, from the portal?

[Troubleshoot SSH connections to an Azure Linux VM](https://docs.microsoft.com/en-us/troubleshoot/azure/virtual-machines/troubleshoot-ssh-connection#use-the-azure-portal)

<img width="406" alt="image" src="https://user-images.githubusercontent.com/62923178/159794509-2fcf5444-42d0-45dd-8bfd-a580eef65d61.png">

[2022-03-23 21:30] nagaWillow opened #21775 "az monitor scheduled-query list exception"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor scheduled-query list`

**Errors:**
Traceback
File "D:\a\1\s\build_scripts\windows\artifacts\cli\Lib\site-packages\knack/cli.py", line 231, in invoke
  File "D:\a\1\s\build_scripts\windows\artifacts\cli\Lib\site-packages\azure/cli/core/commands/__init__.py", line 657, in execute
  F

[2022-03-23 21:44] yonzhan commented on #21768
route to CXP team

[2022-03-23 21:46] yonzhan commented on #21769
route to CXP team

[2022-03-23 21:56] yonzhan commented on #21770
@jiasli for awareness

[2022-03-23 22:03] yonzhan commented on #21775
monitor

[2022-03-24 02:28] zhoxing-ms commented on #21769
@shenglol Could you please help have a look at the `bicep` related issue~

[2022-03-24 03:39] navba-MSFT commented on #21728
@leighghunt Please see the comment https://github.com/Azure/azure-cli/pull/21741#pullrequestreview-917660433 Another PR has been filed https://github.com/Azure/azure-cli/pull/21771 to address the az webapp deployment github-actions add to allow passing runtime with colon delimiter. This should address your concern. Thanks for reporting this issue and sharing feedback. Please let me know if you nee

[2022-03-24 04:19] miniGweek opened #21779 "az storage blob upload can overwrite a blob without needing the --overwrite parameter in az cli version 2.33.1 , however in version 2.34.1 it requires the overwrite parameter."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob upload`

**Detailed command**

`az storage blob upload --account-name <my-storage-account> --container-name '$web' --file <my-file> --auth-mode login`
**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they ma

[2022-03-24 04:25] PramodValavala-MSFT commented on #21774
@kf6kjg Azure Bastion is currently designed for connecting to VMs like you've mentioned. The [Azure Feedback](https://feedback.azure.com/d365community/forum/8ae9bf04-8326-ec11-b6e6-000d3a4f0789) forum would be the best place to get this idea recorded and have users up vote for it to gain traction.

Once the service supports it, then Azure CLI too would be updated to support the new scenarios as re

[2022-03-24 04:25] #21774 closed

[2022-03-24 04:43] Rajuvimal commented on #10856
-bash: $null: ambiguous redirect
getting this error, after using 2>$null

[2022-03-24 04:50] yonzhan commented on #21779
storage

[2022-03-24 05:07] navba-MSFT commented on #21721
@0gust1 Apologies for the late reply. Thanks for sharing the feedback. We will involve the Service Team to look into this issue.

[2022-03-24 05:11] calvinhzy commented on #21779
We have included this as a breaking change in 2.34.1 as we think it is dangerous to overwrite files silently. --overwrite needs to be specified to overwrite files.  Sorry for the inconvenience.
https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az-storage-blob-upload

[2022-03-24 05:55] jaianshu12 opened #21781 "Progress bar fails to show 100% for az storage blob upload with az_cli 2.34.1"
**Description**
Command: az storage blob upload --file filename -c container_name --account-name stg_acc_name

The progress bar does not show 100% completion when a file of large size is being uploaded (~1GB) even though it is seen file is uploaded to storage account. It reaches to aroung 99.6% and the just ends. Also noted that progess bar completion to 100% is seen with lower version of az_cli i

[2022-03-24 06:23] #10904 closed

[2022-03-24 06:59] yonzhan commented on #21781
storage

[2022-03-24 07:02] jiasli commented on #21770
Duplicate of https://github.com/Azure/azure-cli/issues/20158

[2022-03-24 07:02] #21770 closed

[2022-03-24 07:07] v-anvashist commented on #21560
@anassk Can you please uninstall the azure CLI and install it again  and check if it would work for you?

[2022-03-24 08:00] #21463 closed

[2022-03-24 08:00] #21390 closed

[2022-03-24 08:00] #21387 closed

[2022-03-24 08:00] #13896 closed

[2022-03-24 08:01] #12721 closed

[2022-03-24 08:24] GmoshkoACM opened #21784 "az keyvault secret list Not Working Kali Linux 2022"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault secret list --vault-name {}`

## Expected Behavior

[2022-03-24 08:28] florentpln commented on #21540
Why did you close this ticket?
The problem is that everytime webapp restart or re-install, java minor version setting is overwritten.
This is not usable on a production environment!!

[2022-03-24 09:10] navba-MSFT commented on #20817
Discussed with @madsd and involving Service Team.

@azureappservicecli @antcp Could you please look into this issue and provide an update on this thread ? cc @panchagnula

[2022-03-24 09:15] d-baumann opened #21785 "az ml listed twice"
az ml is listed twice, one links to v1, this should be included in the link and description to reduce confusion.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeedb9a7-2aed-6727-4cfb-1515809d676e
* Version Independent ID: 2c83180d-22ad-db42-e2eb-f27f11977963
* Content: [az](https://docs.microsoft.com/en-us/cli/azure/r

[2022-03-24 09:59] eliasarellano commented on #21692
Hello everyone !

Interesting. that could even mean that everytime that I deployed a project it was always giving dates from 10 to 31, but never from 1 to 9, just lucky.

I will make some tests today, and I will add this 'd' character in the format.

My last question, do you suggest to use all the AZ CLI commands in production? or in this case I should go back to Azure powershell, in fact everytim

[2022-03-24 10:04] yonzhan commented on #21784
keyvault

[2022-03-24 10:06] evelyn-ys commented on #21784
Can you check the dependency package version of `azure-keyvault`?

[2022-03-24 10:16] pci7 commented on #21644
Hi @SatishBoddu-MSFT ,
The key format with which I connect to linux machines on azure is `ecdsa-sha2-nistp256` (I saw on my pc in the path C:\Users\myuser\.ssh\known_hosts . On the portal, it asks the format starting with `ssh-rsa` .

If my colleague manages to log in to that machine, what can he changes to log me in? A copy and paste of my public key to the authorized_keys file?
How can I see the

[2022-03-24 10:47] anassk commented on #21560
@v-anvashist  even after reinstalling azure CLI still have same problem, it seems to be a problem with devops extention since if i execute command under cli it works fine but when trying any devops command it fails, for example i just tried
![az_devops_error4](https://user-images.githubusercontent.com/4243614/159900074-6577a80f-b242-4f1c-967e-873f5802b4fb.png)

[2022-03-24 11:21] FranciscoACLima opened #21787 "Error connection web app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --resource-group {} --name {} --plan {} --subscription {} --lo

[2022-03-24 12:09] yonzhan commented on #21787
route to CXP team

[2022-03-24 12:51] williamhbell opened #21789 "az policy assignment create and ---subscription"
Would it be possible to allow `az policy assignment create`  to be used with `--subscription`, where the subscription is the name or id of the subscription?  If  `--resource-group` is used,  `az policy assignment create` cannot find the resource group if it is in another subscription.  The `--role` does not appear to work as expected and is less obvious than providing  `--subscription`.

[2022-03-24 12:58] yonzhan commented on #21789
policy

[2022-03-24 13:22] #21734 closed

[2022-03-24 13:39] williamhbell opened #21790 "az policy definition create with parameter in rules"
**Describe the bug**
The error occurs when a policy is created that includes a parameter in the rules.  If there is no policy, then the command works as expected.  It looks like there is a quoting issue.
`
C:\Users\****>az policy definition create --name test --description "A test policy" --mode Indexed --rules "\"if\": { \"not\": { \"field\": \"type\", \"in\": \"[parameters('allowedTypes')]\" } }

[2022-03-24 13:58] dan-dimitrov commented on #14697
Is there an update on this and enabling budget alerts?

[2022-03-24 15:09] BzSpi opened #21791 "Azure Machine Learning container registry cannot be change due to the lack of "--yes" argument"
**Describe the bug**
When trying to update a Machine Learning Workspace container registry, I have the following message:
[code]

And when I use the same command with the `--yes` flag, Azuz CLI yields that argument is not recognized
[code]

**To Reproduce**
Use the commands above.

**Expected behavior**
It updates the machine learning workspace associated registry.

**Environment summary**

**Addi

[2022-03-24 16:53] panchagnula commented on #20817
Hmm @navba-MSFT not sure what the conversation with @madsd  was here about. In short no ETA at this time to share @seligj95 - can you check as well

[2022-03-24 16:56] madsd commented on #20817
Just that while there is a workaround to configure this using calls to az resource update... the command that is meant for this, does not support it and is throwing an error when trying to configure it. Sot it is more missing functionality/feature ask in the cli used to configure container.

[2022-03-24 17:19] daryltucker commented on #20900
Was anybody able to replicate or look into this issue?

[2022-03-24 17:50] LinglingTong opened #21792 "[Change Analysis] Onboarding Microsoft.ChangeAnalysis RP"
**Resource Provider**
Microsoft.ChangeAnalysis

**Description of Feature or Work Requested**
Support Azure CLI commands for ChangeAnalysis
ADO item: [Product Backlog Item 13859349](https://msazure.visualstudio.com/One/_workitems/edit/13859349): Application Change Analysis - microsoft.changeanalysis - [Ni] CLI Engagement Onboard

**Minimum API Version Required**
2021-04-01

**Swagger Link**
https:/

[2022-03-24 18:33] jaylabell commented on #18227
@rjmccallumbigl are you still facing this issue?

[2022-03-24 18:36] viananth opened #21793 ""az vmss create" for FLEX does not convert "--edge-zone" to "extendedLocation" in template"
**Describe the bug**

While creating a VMSS (flexible orchestration) in edgeZone, CLI fails to convert "EdgeZone" to "ExtendedLocation" correctly which results in ARM template validation failure.
_

_

**To Reproduce**

az vmss create -n flex1 -g viananth-testflex --image UbuntuLTS --instance-count 2 --orchestration-mode flexible --edge-zone microsoftrrdclab1 --generate-ssh-keys --debug

**Expecte

[2022-03-24 19:51] davesouthard commented on #8388
It would be nice to have this fixed.

[2022-03-24 20:48] avirishuv commented on #20769
hi @abatishchev are you using public IP on the load balancer, or on the VMSS VMs, or both?

[2022-03-24 20:56] panchagnula commented on #11261
@Nikostito this seems like a runtime failure on Kudu end, when trying to build some packages. Have you made any changes on your end (add private endpoint or new contents on the zip file?)  CLI command has some changes planned to surface deployment errors - but the error itself is something that needs assistance from the feature team.

[2022-03-24 20:57] panchagnula commented on #21752
@Nikostito I would recommend creating a support case as well , since this is a paid service.

[2022-03-24 21:19] SaurabhSharma-MSFT commented on #21489
@wibbico Sorry for the delay.  I am still waiting for internal reply from products team on this and get back to you. Thanks

[2022-03-24 21:33] abatishchev commented on #20769
@avirishuv it's VMSS -> Standard LB -> Standard IP

[2022-03-24 21:37] avirishuv commented on #20769
@abatishchev in that case the IP would not be returned with this cmd, because this is for the IP address of the VMSS VM instances, not for the IP address of load balancer.

https://docs.microsoft.com/en-us/cli/azure/vmss?view=azure-cli-latest#az-vmss-list-instance-public-ips

[2022-03-24 21:39] SaurabhSharma-MSFT commented on #21686
@chitrankv27 Have you tried importing the by changing the extension to `.ipynb` as I believe only .ipynb file is supported for importing.

[2022-03-24 21:48] abatishchev commented on #20769
yes, that's the current design and confirmed by the observations. However it contradicts the experience on the Azure Portal which is capable to derive the IP from the configuration and generate the correct link to it.

[2022-03-24 23:23] sharathmalladi commented on #21566
I see this issue as well.

[2022-03-25 00:29] yonzhan commented on #21790
policy

[2022-03-25 00:33] yonzhan commented on #21791
route to CXP team

[2022-03-25 00:44] yonzhan commented on #21792
PLR

[2022-03-25 01:11] bganapa commented on #16459
If you are looking for this option to run few cli commands parallelly with different user context, the option of AZURE_CONFIG_DIR may be helpful
https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#concurrent-builds

[2022-03-25 01:40] PramodValavala-MSFT commented on #21554
@abbassayyed-msft Sorry for the delay here! Looks like you are using version 2.0.62 of Azure CLI. Could you upgrade to the latest version (2.34.1) and confirm if you are seeing this in the newer version too? Also, could you share the version of the `ml` extension and upgrade to the latest version (2.1.2) there as well?

[2022-03-25 01:49] SunTowJ opened #21796 "can't open the login browser by using az login: Remote end closed connection without response"
when i use the az login command, the brower can't be opened. but if i use az feedback, it can open with github.com.

And from the log, it says D:\a\1\xxxxxx, but in my laptop, there is only one C:\ drive.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note t

[2022-03-25 01:55] yonzhan commented on #21796
@jiasli for awareness

[2022-03-25 02:02] jwshive commented on #10039
Keep the issue open.

[2022-03-25 02:18] abbassayyed-msft commented on #21554
I fixed it; this was an issue with ubuntu. I had to change locale in POSX format.

[2022-03-25 02:26] #21699 closed

[2022-03-25 02:33] PramodValavala-MSFT commented on #21554
@abbassayyed-msft Glad to hear that! Thanks for sharing the solution! This could help others with the same issue.

We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

[2022-03-25 02:33] #21554 closed

[2022-03-25 03:07] zhoxing-ms commented on #21586
If there are no other questions, I will close the issue first. If there are any other questions later, we will reopen it

[2022-03-25 03:07] #21586 closed

[2022-03-25 03:08] zhoxing-ms commented on #21496
If there are no other questions, I will close the issue first. If there are any other questions later, we will reopen it

[2022-03-25 03:08] #21496 closed

[2022-03-25 04:55] RakeshMohanMSFT commented on #21768
@DerStimmler we are looking into this, thank you for your patience and understanding.

[2022-03-25 05:07] navba-MSFT commented on #8388
@Francisco-Gamino Could you please look into this and provide an update once you get a chance ? Awaiting your reply.

[2022-03-25 05:09] navba-MSFT commented on #11195
@Francisco-Gamino Could you please look into this issue and provide an update once you get a chance ? Awaiting your reply.

[2022-03-25 05:23] navba-MSFT commented on #10039
@speak2beeb @jwshive @elibarzilay I am tagging the Service Team to look into this issue.

@macolso Could you please look into this issue and provide an update once you get a chance ? Awaiting your reply.

[2022-03-25 05:41] jiasli commented on #21796
The path is the path on Azure DevOps agent we use to build Azure CLI's `pyc` files. It doesn't mean your `C:\` drive.

Looks like you can't access https://login.chinacloudapi.cn/organizations/v2.0/.well-known/openid-configuration

You may verify with

[code]

Please make sure you don't have any firewall rules that blocks the access and the proxy is configured correctly.

For using Azure CLI behind

[2022-03-25 05:50] navba-MSFT commented on #21697
Thanks @a-santamaria for your assistance on this issue. Could you please let me know if you have an update on this issue ? Awaiting your reply.

[2022-03-25 06:11] jiasli commented on #13838
The equivalent of Azure CLI `az ad` command group is [`AzAD`](https://docs.microsoft.com/en-us/powershell/module/az.resources/?view=azps-7.3.2#active-directory) from Azure PowerShell. `AzureAD` on the other hand is a module developed by Azure Active Directory.

`az ad` commands are designed and implemented to assist integrating AAD with Azure, instead of as a fully functioning client to interact w

[2022-03-25 06:20] navba-MSFT commented on #21650
@carvido1 Thanks for your patience. After investigation, we indeed confirm that for acr and aks with private endpoint/link enabled, the warning message “ACR location 'privatelink' does not match your cluster location 'westeurope'. This may result in slow image pulls and extra cost.” is misleading.

The reason behind is that in the implementation of the check-acr command, we use the image [can-i-pu

[2022-03-25 07:05] navba-MSFT commented on #21787
@FranciscoACLima Thanks for reaching out to us and sharing the feedback. The error of `socket.gaierror: getaddrinfo failed ` gets translated to a transient network error for us upon receiving which we keep on retrying. This is the expected behavior.

It seems CLI failed to resolve the host name robostjsp-prod-apps.scm.azurewebsites.net. Is there any network proxy configured in your corporate netwo

[2022-03-25 07:10] MiguelElGallo commented on #20842
@navba-MSFT Yeah, let us know what is the plan. As mentioned before there is a lot of people behind a corporate firewall.

[2022-03-25 07:26] navba-MSFT commented on #20842
Adding the Service team to look into this issue and share the update on this.

 @josephkwchan, @jennyhunter-msft could you please provide an update on this once you get a chance ? Awaiting your reply.

[2022-03-25 07:53] #12090 closed

[2022-03-25 08:00] #19702 closed

[2022-03-25 08:00] #13352 closed

[2022-03-25 08:39] wangzelin007 commented on #21692
Hi [eliasarellano](https://github.com/eliasarellano),

We are going to release a new version of [desktopvirtualization](https://github.com/Azure/azure-cli-extensions/pull/4526) at 2022/04/06.
It will use the latest stable version (2021-07-12) of desktopvirtualization sdk.
And actually Azure CLI and Azure powershell use the same sdk.
Experimental and preview means change in response to customer fee

[2022-03-25 08:48] rusty-1-shaun opened #21804 "Failed to launch az interactive mode due to missing python module: prompt_toolkit.interface"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-03-25 09:12] cxznmhdcxz commented on #21789
Hi, parameter `--scope`  can specify which subscription to apply to.
`az policy assignment create --scope /subscriptions/<subscription-id>`

[2022-03-25 09:56] yonzhan commented on #21804
interactive

[2022-03-25 09:56] williamhbell commented on #21789
The `--scope` flag has to be used with the subscription id, instead of the name.  For other commands, they allow `--subscription`, where the value can be the id or the name of the subscription.  The issue that one could execute a large number of commands using the name, but then find that the id has to be looked up for this one command.  While it is possible to lookup the id from the name using `a

[2022-03-25 10:24] dan-dimitrov commented on #8488
Bump - a workaround has been provided but the solution is not resolved.
Rest API allows for this and so does Az PowerShell module.

[2022-03-25 11:39] MiguelElGallo commented on #20842
By the way I'm facing this issue when running: az bicep build

[2022-03-25 13:08] jamesnswithers commented on #16956
@srothery followed your (frustrating) ticket here! Did you have any luck in a fix or workaround or did it end up ignored?

[2022-03-25 13:24] jbesomi commented on #16880
Same problem here, I tried to install `az ml` with the following command `az extension add -n ml -y`.
The Azure CLI version is `2.34.1` (the latest version).

@fengzhou-msft can you please re-open this issue and look into that? I believe a lot of users with a new generation M1/M2 Apple's processor will have the same problem.

FYI I can install the latest version of cryptography just with `pip inst

[2022-03-25 13:42] coolchirag opened #21805 "Not able to access key vault"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault secret set --vault-name {} --name {} --value {}`

##

[2022-03-25 14:02] yonzhan commented on #21805
keyvault

[2022-03-25 14:33] williamhbell opened #21806 "Documentation az ad group list"
**Describe the bug**
The documentation https://docs.microsoft.com/en-us/cli/azure/ad/group?view=azure-cli-latest#az-ad-group-list states that `az ad group list` supports `--subscription` under the Global Parameters section.  It does not support --subscription.  The documentation should be corrected.

**To Reproduce**
Try `az ad group list` with `--subscription`.

**Expected behavior**
The flag is

[2022-03-25 14:38] yonzhan commented on #21806
@jiasli for awareness

[2022-03-25 14:40] BCIfernando1989mg commented on #20826
i have this problem too, please fix it soon!!

[2022-03-25 14:41] BCIfernando1989mg commented on #20826
bro, do you have any solution for this?

[2022-03-25 14:48] emp00001 commented on #21586
yes, it can be closed

Thank you.
Michael.

On Thu, Mar 24, 2022 at 10:07 PM Xing Zhou ***@***.***> wrote:

[2022-03-25 16:33] srothery commented on #16956
Hi – yeah its very frustrating. What I believe to be the case is there is a hidden (fixed) timeout after which if the download/upload hasn’t complete it will fail. I’ve recently received a internet upgrade so most/all of the artifacts now can be downloaded within this 30 minute ish timeout. My advise would be to split up very large artifacts (anyway) as this then bypasses the timeout but also make

[2022-03-25 16:43] SaurabhSharma-MSFT commented on #21793
@viananth We are looking into it and get back to you for any questions.

[2022-03-25 17:51] SaurabhSharma-MSFT commented on #21462
@dayland  Please let me know if you have any questions.  Thanks.

[2022-03-25 18:33] richardpark-msft opened #21808 "Is the inclusion of the `AZURE_HTTP_USER_AGENT` env var in requests a supported feature?"
I have a separate command line tool that launches the Azure CLI and wanted to include my user agent string in calls made from the Azure CLI. I found the `AZURE_HTTP_USER_AGENT` variable which seems to fit the bill, but I only found it by browsing through the source code ([link](https://github.com/Azure/msrest-for-python/blob/4cc8bc84e96036f03b34716466230fb257e27b36/msrest/pipeline/universal.py#L70

[2022-03-25 18:40] Francisco-Gamino commented on #8388
Hello @navba-MSFT -- I do not work on the `Az CLI`. Adding @panchagnula @gzuber who might be able to help.

[2022-03-25 19:34] Francisco-Gamino commented on #11195
Hello @navba-MSFT -- I do not work on the `Az CLI`. Adding @panchagnula @gzuber who might be able to help.

[2022-03-25 19:39] RHV044 commented on #13119
Something that I guess is not working for  ```az sql db copy``` command is the  ```--auto-pause-delay``` parameter. I just created a database with ```az sql db create``` with ```--auto-pause-delay 240``` and then created a copy from that database with ```--auto-pause-delay 240``` too but the copy gets created with an auto pause delay of 60min and no errors on the cli.

[2022-03-25 19:56] AndrewRobie opened #21809 "az bicep decomiple failing for deploymentParameters"
I downloaded a template for a VM creation from the Azure portal and wanted to convert it to bicep. The template file works fine, but the parameters.json is failing with this error.

I've attached a minimal version of the file (parameters don't seem to matter so I removed them), and the command I'm running is `az bicep decompile --file .\min-example.json`.

Here's the version information for my cli

[2022-03-25 20:16] aliasgarjh opened #21810 "Azure Bastion RDP Native Client connection through Azure CLI not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network bastion rdp`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network bastion rdp --target-resource-id {} --resource-group {

[2022-03-25 20:26] AndrewRobie commented on #21809
Looks like this just isn't a supported format with bicep at the moment: https://docs.microsoft.com/en-us/azure/azure-resource-manager/bicep/parameter-files. In that case, I'll close this.

[2022-03-25 20:26] #21809 closed

[2022-03-25 20:46] fgheysels opened #21811 "az monitor log-analytics workspace show returns duplicate property"
**Describe the bug**
I have an Azure DevOps pipeline where I execute the following command:

[code]
This command suddenly fails with the following error message:

When I execute the az monitor log-analytics workspace show command on my laptop, I can indeed see that the output of this command contains both an `etag` and an `eTag` property.

I can work-around this by specifying the `-HasHashTable` p

[2022-03-25 21:57] jamesnswithers commented on #16956
Fair. Seems the AZ CLI downloads some standalone tool which does the real downloading, so not sure this is even the right place to raise the issue :( !

[2022-03-25 22:58] utrenic opened #21813 "Unable to use az interactive (failed)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-03-26 00:20] LukeCarrier opened #21814 "Add support for JIT access requests from the CLI"
Can you actually address #9855 rather than closing the issue without an update, please?

It's currently possible to manage JIT access policies, but it's not possible to request JIT access to a resource.

[2022-03-26 01:32] yonzhan commented on #21793
Compute

[2022-03-26 01:36] yonzhan commented on #21808
@jiasli for awareness

[2022-03-26 01:49] kangsun-ctrl opened #21815 "Community gallery legal agreement acceptance during 'az vm'"
**Resource Provider**

Azure Compute

**Description of Feature or Work Requested**

CELA team has an ask that when user creates a vm from community gallery, we should pop up an agreement acceptance line for user to accept/decline.

Design below:

1. If user uses 'az vm --image /CommunityGalleries/xxx/Images/xxx/Versions/xxx" or use 'az vmss --image /CommunityGalleries/xxx/Images/xxx/Versions/xxx"

[2022-03-26 03:31] yonzhan commented on #21810
route to CXP team

[2022-03-26 03:32] yonzhan commented on #21811
monitor

[2022-03-26 03:40] yonzhan commented on #21813
interactive

[2022-03-26 03:42] yonzhan commented on #21814
route to CXP team

[2022-03-26 03:43] yonzhan commented on #21815
Compute

[2022-03-26 04:50] Rajuvimal commented on #21288
getting this error
az: 'logicapp' is not in the 'az' command group.
I try this az extension add --yes --source "https://aka.ms/logicapp-latest-py2.py3-none-any.whl"
but still have the issue

[2022-03-26 05:04] navba-MSFT commented on #21728
Refer the https://github.com/Azure/azure-cli/pull/21771 for the fix . Closing this github thread for now. Please feel free to reopen this thread if you have any queries on this. we would be happy to help.

[2022-03-26 05:04] #21728 closed

[2022-03-26 05:21] amul047 commented on #10812
I don't know how to get this prioritized, it looks like people have already been complaining for ages...

[2022-03-26 05:28] navba-MSFT commented on #10812
@amul047 Until a solution is provided, Could you please follow the workaround mentioned [here](https://github.com/Azure/azure-cli-extensions/issues/3973#issuecomment-1036146424) and [here](https://github.com/Azure/azure-cli-extensions/issues/3973#issuecomment-1036428664) and check if that helps ?

In the meantime, I am tagging the AKS Service PM here to check if they can prioritize this.

@Azure/a

[2022-03-26 08:00] #21514 closed

[2022-03-26 08:00] #21377 closed

[2022-03-26 08:00] #21249 closed

[2022-03-26 08:00] #20554 closed

[2022-03-26 08:00] #10626 closed

[2022-03-26 09:59] #20840 closed

[2022-03-26 10:05] #20658 closed

[2022-03-26 17:37] Sanjib-Chowdhury commented on #20921
Hi,

Try this & share the outcome -

1. convert the Sever certificate (if not using proxy)/ proxy certificate (if using proxy) using OpenSSL/ Portecle or similar tools
2. Download run the script https://github.com/Sanjib-Chowdhury/407-proxy-authentication-required-CERTIFICATE_VERIFY_FAILED-from-AWS-Azure-Git-NPM-CLI

[2022-03-26 17:47] Sanjib-Chowdhury commented on #5841
Hi,

Try this & share the outcome -

1. convert the Sever certificate (if not using proxy)/ proxy certificate (if using proxy) using OpenSSL/ Portecle or similar tools
2. Download run the script https://github.com/Sanjib-Chowdhury/407-proxy-authentication-required-CERTIFICATE_VERIFY_FAILED-from-AWS-Azure-Git-NPM-CLI

[2022-03-26 17:48] Sanjib-Chowdhury commented on #21696
Hi,

Try this & share the outcome -

1. convert the Sever certificate (if not using proxy)/ proxy certificate (if using proxy) using OpenSSL/ Portecle or similar tools
2. Download run the script from https://github.com/Sanjib-Chowdhury/407-proxy-authentication-required-CERTIFICATE_VERIFY_FAILED-from-AWS-Azure-Git-NPM-CLI

[2022-03-26 17:50] Sanjib-Chowdhury commented on #19571
Hi,

Try this & share the outcome -

1. convert the Sever certificate from .cer/ .crt to .pem (if not using proxy)/ proxy certificate (if using proxy) using OpenSSL/ Portecle or similar tools. Just renaming the certificate won't work.
2. Download run the script from https://github.com/Sanjib-Chowdhury/407-proxy-authentication-required-CERTIFICATE_VERIFY_FAILED-from-AWS-Azure-Git-NPM-CLI

[2022-03-26 19:32] smedegaard commented on #16939
As far as I can gather the tutorial is still not corrected:
https://docs.microsoft.com/en-us/azure/postgresql/flexible-server/tutorial-django-app-service-postgres

[2022-03-26 23:24] sayandaw commented on #19035
Any Estimate on the fix ? Seems the main thread is locked and being looked into?
[https://github.com/Azure/azure-functions-core-tools/issues/2671](https://github.com/Azure/azure-functions-core-tools/issues/2671)

[2022-03-27 07:31] madsd commented on #16939
#reassign:mksuni @mksuni, looks like this article we not updated.

[2022-03-27 07:34] madsd commented on #16939
#please-open

[2022-03-27 09:35] chaoscreater commented on #18915
Yes. I have Python 3.9.5 and 2.7.17 installed already and added to PATH, prior to installing BICEP.

[2022-03-27 19:00] robch commented on #20168
I ran into this same issue. How can I fix it?

[2022-03-27 19:46] alexeyshishkin01 opened #21817 "'az acr taks create' missing remote tarball for the context"
[Enter feedback here]

Hello, all !

Pls. have a look at the https://docs.microsoft.com/en-us/cli/azure/acr?view=azure-cli-latest#az-acr-build, where there are the following options to point to the context (source location): git repository, remote tarball and OCI artifact.

The link https://docs.microsoft.com/en-us/cli/azure/acr/task?view=azure-cli-latest#az-acr-task-create is missing remote tarba

[2022-03-27 21:59] Andycharalambous commented on #16673
This is an important feature and also affects the use of ACI with AKS - our pod workloads are being killed without any opportunity to gracefully stop doing what they are doing.

[2022-03-27 23:36] yonzhan commented on #21817
route to CXP team

[2022-03-27 23:36] yonzhan commented on #20168
Please adopt the approach suggested in the last comment.

[2022-03-27 23:39] #20706 closed

[2022-03-27 23:43] seannguyn opened #21818 "ImportError: cannot import name 'KeyVaultAuthentication' from 'azure.keyvault' (unknown location) - when running az keyvault certificate import"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault certificate import`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault certificate import --file {} --name {} --vaul

[2022-03-28 00:15] yonzhan commented on #21818
keyvault

[2022-03-28 01:14] seannguyn commented on #21818
What does that mean?
What is the resolution?

[2022-03-28 03:02] jiasli commented on #20921
@Sanjib-Chowdhury, thanks for the script.

### ⚠️ For anyone else, please be aware this script is not provided by Microsoft. Please use it with caution!

[2022-03-28 03:03] jiasli commented on #5841
@Sanjib-Chowdhury, thanks for the script.

### ⚠️ For anyone else, please be aware this script is not provided by Microsoft. Please use it with caution!

[2022-03-28 03:03] jiasli commented on #21696
@Sanjib-Chowdhury, thanks for the script.

### ⚠️ For anyone else, please be aware this script is not provided by Microsoft. Please use it with caution!

[2022-03-28 03:03] jiasli commented on #19571
@Sanjib-Chowdhury, thanks for the script.

### ⚠️ For anyone else, please be aware this script is not provided by Microsoft. Please use it with caution!

[2022-03-28 03:06] jiasli commented on #21696
@MNH1623, please make sure you have followed the link https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#work-behind-a-proxy to configure the root CA properly.

[2022-03-28 03:09] jiasli commented on #20921
@speedwaymickey, @ynden is right, `REQUESTS_CA_BUNDLE` is another thing you can check. Make sure it is empty or pointing to the right CA bundle.

[2022-03-28 03:55] blueww opened #21819 "[Storage] Support SAS with sr= and sdd="
**Resource Provider**

dataplane.

**Description of Feature or Work Requested**

Allow to generate and use sas with new options for datalakegen2, like:  sr= and sdd=,
See more details in sas doc: https://docs.microsoft.com/en-us/rest/api/storageservices/create-service-sas#specify-the-directory-depth

**Minimum API Version Required**

Version 2020-02-10 and later

**Swagger Link**

n/a , no swagger

[2022-03-28 04:04] jiasli commented on #21808
@richardpark-msft,

Yes, it is, but it is not officially documented.

[2022-03-28 04:06] jiasli commented on #21806
Indeed, the help message doesn't contain `--subscription`:

[code]

@daxianji007, could you please help take a look?

[2022-03-28 04:10] yonzhan commented on #21819
Storage

[2022-03-28 04:50] jiasli opened #21820 "`rpmbuild` 4.17.0 is slow and stuck at `Processing files` for a long time"
**Describe the bug**

Mariner 2.0 (https://github.com/Azure/azure-cli/pull/21245), UBI 8 (https://github.com/Azure/azure-cli/pull/21655) and CentOS Stream 8 (https://github.com/Azure/azure-cli/pull/20918) have `rpmbuild` 4.17.0 which is very slow while building the RPM. The CI job `BuildRpmPackageMariner` and `BuildRpmPackageUbi8` take ~40min.

Turning on `-vv` (verbose) for `rpmbuild` shows the p

[2022-03-28 05:05] RakeshMohanMSFT commented on #21814
@LukeCarrier Thank you for reaching out to us, we are looking into this request,

[2022-03-28 05:31] jiasli commented on #21820
Also tried to use `iotop`.

I added **Extra Packages for Enterprise Linux (EPEL)** and followed tutorials like

1. https://www.cyberciti.biz/hardware/linux-iotop-simple-top-like-io-monitor/
2. https://aws-labs.com/install-iotop-monitor-linux-disk-io-rhel-centos-fedora/
3. https://lintut.com/install-iotop-on-linux/

but got no luck:

[code]

There is a package called `iotop-c` but it shows empty sc

[2022-03-28 05:56] tbirk-bhs opened #21822 "Inconsistent return value for "exists" commands"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container exists`

**Errors:**
The command return json with
[code]
When I use "az group exists" I only get

[code]

as result.

Also this command should return just true/false and not json. (Or the the  "az group exists" command should return also json)

## To Reproduce:
Steps to r

[2022-03-28 06:16] YuanyuanNi commented on #21775
Hi:
     @nagaWillow  I have tried this on CLI version 2.34.1 and have not reproduce this issue, maybe you can upgrade your CLI version and try again.
Best wishes.

[2022-03-28 06:54] #19298 closed

[2022-03-28 06:57] yonzhan commented on #21822
storage

[2022-03-28 06:58] srothery commented on #16956
I think this is the right place but the even more frustrating thing is that here in github there seems to be no MS support running things (this ticket is a good example). On the Azure Devops support there is much faster response time though of course the likely outcome of that is a closed ticket with no resolution

[2022-03-28 07:29] evelyn-ys commented on #21805
`azure-cli 2.0.81` is not our official Azure CLI. See #19640 for details

Please install our CLI following https://docs.microsoft.com/cli/azure/install-azure-cli

[2022-03-28 07:30] evelyn-ys commented on #21818
`azure-cli 2.0.81` is not our official Azure CLI. See #19640 for details

Please install our CLI following https://docs.microsoft.com/cli/azure/install-azure-cli

[2022-03-28 07:38] evelyn-ys commented on #21822
Hi @tbirk-bhs, thanks for reaching out.

It's really good suggestion to keep all return format consistent. CLI consists of several modules, for example, `az storage container exists` is from storage module, `az group exists` is from resource module. Some modules are owned by CLI team and some are owned by each service team. Difficulties do exist to keep all modules consistent.

If any of the curre

[2022-03-28 09:38] coderbyheart commented on #19431
The workaround is no longer needed with version 2.33.1

[2022-03-28 09:38] #19431 closed

[2022-03-28 10:32] pci7 commented on #21644
Hi @SatishBoddu-MSFT ,
through password reset, I created a new user and I was able to log in.
But how can I fix my account that I use through az login (used for authentication)? Do you have any commands that you can recommend?

Thanks!

[2022-03-28 10:58] tbirk-bhs commented on #21822
Hi @evelyn-ys,

thank you for your quick reply. Changing this default behavior will create a breaking change, yes.
Maybe it would be a agreement to respect the `--output json` parameter and return even for

[code]
a valid json object? Currently only true/false is returned.

[2022-03-28 11:14] jaianshu12 commented on #21781
Is there any way we can get to know that file is uploaded completely via az-cli instead of relying on progess bar? What would be the best mechanism to do that?

[2022-03-28 11:44] denzii commented on #20434
I'm hitting this problem even though https://time.is/ is showing my time as "exact" with the message "The difference from Time.is was -0.001 seconds (±0.067 seconds). " Please advise what steps should be taken.

`$ az login
A web browser has been opened at https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize. Please continue the login in the web browser. If no web browser is avail

[2022-03-28 12:32] dbielik commented on #21003
If you cannot (or don't want to) disable addon, then rotation can be enabled directly using REST API
[code]

For update you only need AKV section in addon profiles
[code]

[2022-03-28 13:26] cbellee opened #21827 ""az managedapp definition create" CLI command does not provide a way to set the deployment mode"
When developing and testing Azure Managed Applications I use the `az managedapp definition create` Azure CLI command to create the service catalog definition in their Azure subscription for testing prior to publishing in Azure Marketplace.

Currently, this CLI command does not provide a way to explicitly specify the Deployment Mode (i.e. Incremental or Complete), and the default mode that the mana

[2022-03-28 14:35] evandervalk commented on #10773
Seeing as I created this ticket 2 years ago, we've since worked around the problem and I don't even know if the workaround is still in place. I'd have to check and get into it when I'm not busy, which I'm happy to do but it will take some time.

On that note, it's interesting to see that it can take 2 years for a reply from Microsoft but I'm expected to solve this in 14 days 😕.

[2022-03-28 14:49] dtupy commented on #21751
With that PR merged should this be fixed now? @RakeshMohanMSFT

[2022-03-28 14:55] RakeshMohanMSFT commented on #21751
@dtupy usually after the PR merge, release will be scheduled once it is done, it should be fixed.

[2022-03-28 15:05] ryanewillis opened #21828 "az cli command ignores cloud reg and defaults to public?"
Hello,
What is the default behavior for az cli commands? I have a private (onprem) Azure Stack Hub cloud which is registered in az cli, but when running specific az commands, it seems to ignore the cloud reg and defaults to public cloud?

e.g.
C:\windows\system32\windowspowershell\v1.0> Get-AzWebAppPublishingProfile -ResourceGroupName "rp01" -Name "test-AzureStack01" -Format "Ftp" -OutputFile "C:\

[2022-03-28 15:16] tiemennd opened #21829 "az network traffic-manager endpoint update unexpected error"
## Describe the bug

**Command Name**
`az network traffic-manager endpoint update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az network traffic-manager endpoint update --resource-group {} --profile-name {} --name {} --endpoint-status {}`

## Expected Behavior
Disable or enable

[2022-03-28 15:20] ryanewillis commented on #21828
Here is my cloud reg with private info removed.
{
    "endpoints": {
      "activeDirectory": "https://login.microsoftonline.com",
      "activeDirectoryDataLakeResourceId": null,
      "activeDirectoryGraphResourceId": "https://graph.windows.net/",
      "activeDirectoryResourceId": "https://management.azurestackonprem.onmicrosoft.com/xxxxxxxxxxxxxxxxxxxxxxxxxx",
      "appInsightsResourceId": nu

[2022-03-28 16:21] BryceBarbara commented on #19624
@horihiro Thank you, that workaround worked for me!

[2022-03-28 17:17] archidda commented on #21288
@Rajuvimal can you create a new issue to track it separately? Also provide output of `az version`

[2022-03-28 19:22] rafex opened #21830 "az spring-cloud app create -n hellospring -s spring-boot-azure-name -g MY-RS --runtime-version=Java_11 --assign-endpoint true"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az spring-cloud app create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az spring-cloud app create -n {} -s {} -g {} --runtime-versio

[2022-03-28 20:07] brianlehr opened #21831 "[Feature]: Add warning for users of eventual change of default for "az network lb create" and "az network lb frontend-ip create""
In the latest profile and the profiles that use the same api-version as latest profile, the default public IP used for creation for an LB frontend with "az network lb create" and/or "az network lb frontend-ip create" will be changed from Basic to Standard. In advance of eventual breaking change, would like to add warning for users.

Similar change done for "az vm create" - [https://github.com/Azur

[2022-03-28 20:09] brianlehr opened #21832 "[Feature]: Add warning for users of eventual change of default az network public-ip create"
Description of the new feature
In the latest profile and the profiles that use the same api-version as latest profile, the default public IP used for creation with "az network public-ip create" will be changed from Basic to Standard. In advance of eventual breaking change, would like to add warning for users.

Similar change done for "az vm create" - [https://github.com/Azure/azure-cli/pull/18662]

[2022-03-28 20:10] JasonFreeberg commented on #21540
Here are the strings for the minor versions: https://github.com/Azure/azure-functions-ux/blob/dev/server/src/stacks/2020-10-01/stacks/web-app-stacks/JavaContainers.ts

Don't know what you mean by the Java version being overwritten when it restarts

[2022-03-28 20:50] StrawnSC commented on #16266
@JasonFreeberg I'm unable to repro this when I try it -- both the initial deploy and the update work for me for the flask & Django examples. Are you still running into this issue?

[2022-03-28 21:07] scsibug opened #21833 "EventHubs Namespace List Fails when there are no EventHub Namespaces."
## EventHubs Namespace List Fails with no EventHubs

**Command:**
``
az eventhubs namespace list --subscription=<subscription-id>
``

**Errors:**
[code]

## To Reproduce:
Run `az eventhubs namespace list --subscription=<id>` in a subscription that contains no EventHub namespaces.

## Expected Behavior
No namespaces are returned, no errors.

## Environment Summary
[code]
## Additional Context

[2022-03-28 21:30] StrawnSC commented on #16200
@ericis -- thanks for reporting this. I'm unable to repro the issue here. Could you retry with the latest CLI version and let us know if you're still seeing the bug?

[2022-03-28 22:00] ericis commented on #16200
Will do @StrawnSC

[2022-03-28 22:04] ant0nsc commented on #20388
For the record, I was also facing this issue, even after synchronizing my machine's time. Only after an additional reboot the problem went away.

[2022-03-28 23:19] HariKrishnaRajoli-MT commented on #19954
If anyone facing the Azure CloudShell deployment of Function App Zip File (az functoinapp deployment source config-zip) and getting any error or Functions page in the portal is empty, then please refer to this [wokaround](https://stackoverflow.com/a/71645818/16630138).

[2022-03-28 23:23] HariKrishnaRajoli-MT commented on #19939
If anyone facing the issue of getting functions in the portal is empty or conflicts with Azure CloudShell deployment of Function App in Zip Push, please visit this [workaround](https://stackoverflow.com/a/71645818/16630138).

[2022-03-29 00:00] fitzgeraldsteele opened #21834 "VMSS Flex: Enable Single Placement Group"
**Resource Provider**

Microsoft.compute

**Description of Feature or Work Requested**

Enable --single-placement-group true for flexible orchestration mode deployments (default should still be false)

**Certain vmss flex deployments with specialty skus requires single-placement-group=true**
PS C:\Users\fisteele> az vmss create -n mseriescli -g specialtysku --orchestration-mode flexible --platform

[2022-03-29 00:20] SaurabhSharma-MSFT commented on #21462
@dayland Please let me know if you have any questions else we will proceed to close this thread.

[2022-03-29 00:24] #21828 closed

[2022-03-29 00:24] yonzhan commented on #21828
Please ask your Azure PowerShell question directly in azure-powershell repo.

[2022-03-29 00:24] yonzhan commented on #21829
network

[2022-03-29 00:33] yonzhan commented on #21834
VMSS Flex

[2022-03-29 00:37] yonzhan commented on #21833
route to CXP team

[2022-03-29 00:39] yonzhan commented on #21832
network

[2022-03-29 00:40] richardpark-msft commented on #21808
Are there plans to change it in some way that I should be cautious of?

[2022-03-29 00:41] yonzhan commented on #21831
network

[2022-03-29 00:41] yonzhan commented on #21830
route to CXP team

[2022-03-29 01:28] evelyn-ys commented on #21822
@zhoxing-ms What do you think as `az group exists` owner?

[2022-03-29 01:32] evelyn-ys commented on #21781
You can use `az storage blob show` to check if it exists and even its size

[2022-03-29 02:32] PramodValavala-MSFT commented on #21833
@scsibug I was unable to reproduce this error with a subscription having no event hub namespaces. Could you confirm if you are able to list them on the Azure Portal using the same account?

[2022-03-29 02:37] emp00001 commented on #8803
hello,

I am getting the same problem, but I am running it from devops, does anybody know the work around ?

[2022-03-29 03:03] jiasli commented on #20388
@ant0nsc, if your device is managed by Microsoft, you shouldn't be able to change the time:

![image](https://user-images.githubusercontent.com/4003950/160524636-bfa424d2-aeb3-4580-8155-ec5a7e720a42.png)

If you can, please do make sure the time zone is also correct.

[2022-03-29 04:16] calvinhzy commented on #21781
This seems to be an SDK issue. You would also see the progress bar jumping around occasionally. The upload_stream_current returned is not thread safe.
Potential area of issue
https://github.com/Azure/azure-sdk-for-python/blob/c0d46894e17111d4bbf2c5efab11eb261e46444c/sdk/storage/azure-storage-blob/azure/storage/blob/_shared/uploads.py#L255-L262
https://github.com/Azure/azure-sdk-for-python/blob/c0d

[2022-03-29 05:11] DanielHWe commented on #10207
Hi, this issue is closed with the current version of azure cli, I can not reproduce it any more.

[2022-03-29 05:11] #10207 closed

[2022-03-29 05:59] navba-MSFT commented on #21497
@BzSpi We will update this thread once the feature is released. As of now no ETA for the same. So proceeding with the archival. If you have any follow-up questions, please feel free to reopen this thread.

[2022-03-29 05:59] #21497 closed

[2022-03-29 06:06] intercity-technology commented on #14695
I'm also experiencing difficulties with this.

I publish a function app ...

`func azure functionapp publish $STAGING_FUNCTION_APP_NAME --typescript --subscription $SUBSCRIPTION_ID`

Then reimport the API into APIM using OpenAPI schema...

`az apim api import -g $STAGING_RESOURCE_GROUP --service-name $STAGING_GATEWAY_NAME --api-id $STAGING_FUNCTION_APP_NAME --path myPath --specification-path $CI_P

[2022-03-29 06:07] navba-MSFT commented on #21650
@carvido1 I hope you had a chance to look at the above comment. Please let me know if you have any follow-up questions on this.

[2022-03-29 06:11] chriswue commented on #21791
Is there a work-around? The CR cannot be changed via Azure Portal and the CLI is broken. We're now stuck with a more-or-less unusable workspace.

[2022-03-29 06:13] varaprasad0882 opened #21838 "a"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az version`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az version -o={}`

## Expected Behavior

## Environment Summary
[code]
## Add

[2022-03-29 06:17] navba-MSFT commented on #21654
@assures The above PR has been filed and that should fix this issue. In the meantime, Please let me know if you have any questions. Awaiting your reply.

[2022-03-29 06:18] navba-MSFT commented on #21685
@na-init I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-03-29 06:27] navba-MSFT commented on #21723
@abhi-markan I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-03-29 06:48] navba-MSFT commented on #21787
@FranciscoACLima
I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-03-29 06:57] #21716 closed

[2022-03-29 07:11] navba-MSFT commented on #21810
@aliasgarjh Apologies for the late reply. Thanks for reaching out to us. Could you please try running the below commands in order ?

az account clear
az login

Then you can try to run the [az network bastion rdp](https://docs.microsoft.com/en-us/cli/azure/network/bastion?view=azure-cli-latest#az-network-bastion-rdp) command check if that works.
If the above steps doesn't fix the issue and if you s

[2022-03-29 07:22] navba-MSFT commented on #21781
Adding Service team to take a look into this.

[2022-03-29 07:36] navba-MSFT commented on #21535
@chuculain Apologies for the late reply. The issue is currently waiting on the above PR's review. We will update this thread once we have more details.

CC @DaeunYim @jiasli

[2022-03-29 08:00] #21291 closed

[2022-03-29 08:00] #20398 closed

[2022-03-29 08:03] ant0nsc commented on #20388
@jiasli , yes, I am on a MSFT device, but still can set my time manually. Even when I had that authentication problem, the time seemed off by less than a second at most, and the timezone was set correctly. On the same machine, I was able to authenticate successfully 4 hours earlier.
The only thing I could think of: My authentication request came from within WSL, and I seem to recall that there had

[2022-03-29 08:08] Rajuvimal commented on #21288
can you please help me too
identify that who are not using mfa in azure by listing with azure cli command

[2022-03-29 08:19] YuanyuanNi commented on #21724
Hi:
    @Candelit As the error info shows that CLI does not support the resources from different subscriptions now, "nsg-vn-devtest-sn-internal-default should be in the same subscription as flow log resource d52ec4e6-3349-XXXX-XXXXXXXXXX-cf3".
Best wishes.

[2022-03-29 08:30] SaravananGuru opened #21840 "azure Powershell cli login issue: OSError: [WinError 0]"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-03-29 08:40] navba-MSFT commented on #21566
@yichungyu Apologies for the late reply. Thanks for reaching out tp us and sharing the error message. Since the error message is 20 days old, I wouldn't be able to look into the backend logs. Because the logs would be rolled over by now. Could you please share the most recent error message along with the time of the issue (in UTC) and the failing request ID (RequestId:XXXX-XXXX-XXXX-XXXX-XXXXX0000

[2022-03-29 08:47] #21838 closed

[2022-03-29 08:57] kairu-ms commented on #21829
@YuanyuanNi, could you help check it?

[2022-03-29 09:02] kairu-ms commented on #21775
@nagaWillow, `az monitor scheduled-query list --resource-group -g {}`  is not correct.
Please use either
[code]
or
[code]

You can always add `-h` after every command to see the help messages. For example
[code]

[2022-03-29 09:42] yonzhan commented on #21840
@jiasli for awareness

[2022-03-29 09:51] zhoxing-ms commented on #21822
In fact, the `--output` parameter already exists as a global parameter and has the meaning of changing the output format, so it cannot be used to convert the return results.
If we use another parameter (such as `--exists-output`) to realize the conversion return results, I personally think it may not be convenient enough for users. @chasewilson Do you have any suggestions for this design question?

[2022-03-29 09:54] #21818 closed

[2022-03-29 09:54] seannguyn commented on #21818
resovled

[2022-03-29 11:28] arunvc opened #21844 "Frontdoor link-to-default-domain is enabled"
**--link-to-default-domain** was **Disabled** but on response json

`"linkToDefaultDomain": "Enabled",`

[code]

[2022-03-29 13:06] RakeshMohanMSFT commented on #21817
@alexeyshishkin01 Thank you for reaching out to us, we are looking into this request,

[2022-03-29 13:27] jolleymd opened #21845 "Review required parameters for ARS CLI"
**Describe the bug**
The CLI documentation for Azure Route Server lists location and public IP as optional, whereas public documentation and the portal UI indicate both are required. We have seen one customer case where this guide was cited as being incorrect.

**CLI Guide in Question**
https://docs.microsoft.com/en-us/cli/azure/network/routeserver?view=azure-cli-latest#az-network-routeserver-crea

[2022-03-29 13:27] oleterno-equinor opened #21846 ""az acr task run" does not return status code 1 when run fails"
## Describe the bug
When running `az acr task run` and the task fails, the exit code for the command is 0.

**Command Name**
`az acr task run`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create an acr task. The task itself is not relevant to this bug.
- Run the task with `az cli`

[2022-03-29 13:46] yonzhan commented on #21846
acr

[2022-03-29 13:49] scsibug commented on #21833
It only fails when the subscription ID is used, the subscription name works fine.

I can confirm it fails when run in Azure Portal Cloudshell as well (I'm testing in AzureUSGovernment cloud).

[2022-03-29 13:55] RakeshMohanMSFT commented on #20218
Duplicate of https://github.com/Azure/azure-cli/issues/20292

[2022-03-29 13:55] #20218 closed

[2022-03-29 13:59] scsibug commented on #21833
On another cloud (AzureCloud), I can get it to fail with either the subscription name or ID, in a different tenant.

I can duplicate across Cloudshell or locally installed AzureCLI, across multiple tenants, and multiple clouds.

[2022-03-29 15:01] alexeyshishkin01 opened #21847 "add context for Dockerfile"
[Enter feedback here]

Hello, all !

This question is regarding 'az acr build' command - https://docs.microsoft.com/en-us/cli/azure/acr?view=azure-cli-latest#az-acr-build

It implies that Docker file and the source code have to be in the same context (local, git repository, remote tarball or repository of OCI artifact).

Consider the following case:
- there's a git repository (ex. https://github.c

[2022-03-29 15:12] Rajuvimal commented on #21288
when i use " az ad group list '  get an error Insufficient privileges to complete the operation.

[2022-03-29 15:21] Rajuvimal commented on #21288
@archidda im ubuntu terminal in Windows

[2022-03-29 16:25] Rajuvimal commented on #21288
The underlying Active Directory Graph API will be replaced by Microsoft Graph API in a future version of Azure CLI. Please carefully review all breaking changes introduced during this migration: https://docs.microsoft.com/cli/azure/microsoft-graph-migration

[2022-03-29 16:33] DaeunYim commented on #21535
We are still working with CloudShell team to resolve this issue.

[2022-03-29 17:14] SophieDeBenedetto commented on #20625
I'm also experiencing this issue, per the following:

* Set app settings in bulk with the CLI via a JSON file where _all_ settings have `"slotSetting": "false"`
* See _all_ app settings that were set are marked as deployment slot settings
* Any attempt to update settings, even using the `key=value` CLI syntax, fails to overwrite deployment slot setting attr although output from CLI command will sh

[2022-03-29 17:20] CianT123 opened #21848 "az login fails after: json.decoder.JSONDecodeError"
## Describe the bug
Az login is failing after I sign in to my account https://login.microsoftonline.com.

I will run az login, and be presented with the following message as a window for login.microsoftonline.com opens in my browser.

A web browser has been opened at https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize. Please continue the login in the web browser. If no web brows

[2022-03-29 17:49] SatishBoddu-MSFT commented on #21644
Can you please add more info when you run the command 'az login'

To login to Azure Subscription tenant--> use 'Az Login'

To login to your Azure VM use the updated credentials which you have mentioned in your comment!

If you have a support option, then please file a support ticket for deeper investigation and help in this regard!
If you need one-time help with support ticket, then please send an

[2022-03-29 17:56] SatishBoddu-MSFT commented on #21700
Hello @hansmbakker Thanks for reporting this, we are routing this to service team's attention!

[2022-03-29 18:29] jci-zimm opened #21849 "az kusto data-connection event-hub create , missing docs for --event-system-properties"
Az CLI command `az kusto data-connection event-hub create`  is missing sufficient docs to use opt arg **`--event-system-properties`** [documented here](https://docs.microsoft.com/en-us/cli/azure/kusto/data-connection/event-hub?view=azure-cli-latest#az-kusto-data-connection-event-hub-update-optional-parameters).

A user may wish to select multiple event-system-properties, what is missing from the d

[2022-03-29 18:46] jci-zimm commented on #21849
Trial and error, eventually got it to work via:
[code]

Some type of additional info would be helpful versus the current docs:

![image](https://user-images.githubusercontent.com/83723367/160683286-a24c1670-ce4d-40dc-9041-f44a994e38e0.png)

[2022-03-29 20:35] huiyee1 opened #21853 "Unable to upload file using "az batch file upload""
### **This is autogenerated. Please review and update as needed.**

## I was unable to upload file using "az batch file upload".  I got an error saying "'file' is misspelled or not recognized by the system." Do you have solution on this issue?

**Command Name**
`az batch file upload --local-path "/home/huiyee/parent.combi.small/" --file-group "g3-1igano-a4ds-20220329-input" --account-name "acgtbat

[2022-03-29 20:43] huiyee1 commented on #21853
I sorted out by running "az extension add --name azure-batch-cli-extensions"

[2022-03-29 20:43] #21853 closed

[2022-03-29 21:19] adrianhall commented on #14695
The ability to add a policy via CLI will be added to the next release of the APIM CLI - we are targeting end of May for this release.  In the interim, you can use the az rest command to upload policies.  Something like the following:

[code]

This is not the most obvious format - the CLI command we are developing will allow you to use a file reference as well.

@intercity-technology - if you are i

[2022-03-29 21:37] ellinge commented on #19968
I had issues as well even after removing the line break. Changed the file encoding to UTF-8 for the created Dockerfile.

I ran the echo command from a Windows Terminal instead of bash (creating a UTF-16 LE BOM encoded file).

[2022-03-29 22:40] yonzhan commented on #21849
route to CXP team

[2022-03-29 22:41] yonzhan commented on #21848
@jiasli for awareness

[2022-03-29 22:43] yonzhan commented on #21847
route to CXP team

[2022-03-29 22:51] SaurabhSharma-MSFT commented on #21695
@dzanter We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-29 22:51] #21695 closed

[2022-03-29 22:52] SaurabhSharma-MSFT commented on #21686
@chitrankv27 Please let me know if you have any questions.

[2022-03-29 22:53] SaurabhSharma-MSFT commented on #21678
@byteknacker We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-29 22:53] #21678 closed

[2022-03-29 22:55] SaurabhSharma-MSFT commented on #21489
@wibbico We don’t support passing the output of  `az synapse pipeline show` cmdlet to `az synapse pipeline create`. The input JSON file of `az synapse pipeline create` should be the definition file that you can retrieve from Synapse Studio. When designing and implementing these commands, we are trying to keep align with the original ADF ones as much as possible to minimize effort from ADF to Synap

[2022-03-29 22:57] SaurabhSharma-MSFT commented on #21659
@ShafeerAli Thanks. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-29 22:57] #21659 closed

[2022-03-30 03:00] LoofahBu opened #21856 "Can't list blob information when a blob is leased"
**Describe the bug**
I want to check whether a blob is leased so I execute command below:

``
az storage blob show --account-name xxx -c xxx --name xxx --query 'properties.lease.status' -otsv
``

It only works when a blob's lease status is unlocked.

If I try to show a blob which lease status is leased, it will get stuck until it reaches the timeout limit.

**To Reproduce**
Run the command above o

[2022-03-30 03:22] #21487 closed

[2022-03-30 03:26] yonzhan commented on #21856
storage

[2022-03-30 03:27] #21535 closed

[2022-03-30 03:32] evelyn-ys commented on #21856
Should be storage blob service issue

[2022-03-30 03:34] #20842 closed

[2022-03-30 03:53] jiasli commented on #21848
It seems the MSAL token cache is somehow corrupted. To get unblocked, you may run

[code]

to delete the token cache.

@rayluo, shoudln't MSAL token cache be protected from concurrent writes?

[2022-03-30 03:54] jiasli commented on #21840
Duplicate of #20278

[2022-03-30 03:54] #21840 closed

[2022-03-30 04:09] jiasli commented on #21532
I am glad to announce that https://packages.microsoft.com/ has now support zstd compression and we have successfully published Azure CLI 2.34.1 for Impish:

[code]

Please give it a try and let us know if it works for you. Thanks for your patience and understanding.

[2022-03-30 04:32] jiasli opened #21857 "Support Ubuntu 22.04 Jammy Jellyfish"
According to https://wiki.ubuntu.com/Releases, Ubuntu 22.04 Jammy Jellyfish will be released on April 21, 2022.

As this is a LTS version of Ubuntu, Azure CLI should publish `jammy` package as soon as Ubuntu 22.04 Jammy Jellyfish becomes available.

### Additional information

- https://packages.microsoft.com/ has now support zstd compression which is the standard since Ubuntu 21.10
- Azure CLI's

[2022-03-30 04:44] RakeshMohanMSFT commented on #21814
@LukeCarrier We will try to prioritize this issue in future planning, thank you for bringing this our notice.

[2022-03-30 04:52] jaianshu12 commented on #21781
Thanks [navba-MSFT] for adding service team.
Just heads up, issue occurs when you try to upload a file of large size(~1GB or more) only. Small uploads works fine. And on 2.32.0 issue is not seen.

Thanks [evelyn-ys]

[2022-03-30 06:46] bacteria673 opened #21858 "Error!"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2022-03-30 07:04] navba-MSFT commented on #19684
@jepio Thanks for getting back and confirming the workaround fixes the issue. We have created an internal workitem to fix the backend logic.

[2022-03-30 08:01] #16512 closed

[2022-03-30 08:01] #16445 closed

[2022-03-30 08:01] #16428 closed

[2022-03-30 08:01] #16234 closed

[2022-03-30 08:01] #16335 closed

[2022-03-30 08:01] #16070 closed

[2022-03-30 08:01] #14492 closed

[2022-03-30 08:01] #14321 closed

[2022-03-30 08:01] #13502 closed

[2022-03-30 08:01] #13016 closed

[2022-03-30 08:07] pci7 commented on #21644
Hi @SatishBoddu-MSFT ,
I have no problems authenticating via `az login` .
The problem I have when I try to connect via `az ssh vm`  to the machine because it asks me for the password of my user which I do not know which is since I authenticated with `az login`

<img width="653" alt="ssh" src="https://user-images.githubusercontent.com/101636918/160782083-38c38cd8-e424-497a-8c21-732302ec7fb0.png">

[2022-03-30 08:32] necusjz commented on #21811
@fgheysels, thanks for catching this, the fix is on the way: https://github.com/Azure/azure-rest-api-specs/pull/18447.

[2022-03-30 08:56] jepio commented on #21815
Hi @kangsun-ctrl,
will there be a way to opt-out of this (by not supplying a privacy statement or license agreement)? I was looking forward to the community gallery feature, but this will break a lot of workflows in the same way that third-party images in marketplace do.

[2022-03-30 09:05] RakeshMohanMSFT commented on #21768
@DerStimmler This will be fixed once the PR is merged and the new release is expected to happen by first week of April.

[2022-03-30 09:19] RakeshMohanMSFT commented on #21847
@alexeyshishkin01 Thank you for reaching out, let me get back to you with an update.

[2022-03-30 09:24] RodrigoSedano commented on #6638
I have the same problem using the command below. When I access to the Configuration -> General setting of the slot, the stack and .net version are not set.

`az webapp config set  -g <resource-group> -n <webapp-name> --net-framework-version v5.0 --slot staging`

Any suggesttion?.

[2022-03-30 09:27] zomarg commented on #14768
This is suboptimal, beacuse of security reasons "Disabling admin account" in ACR is a must and for the provided solutions to work it needs to be enabled.

[2022-03-30 09:27] CianT123 commented on #21848
Deleting the token cache resolved this issue. Thank you!

[2022-03-30 09:27] #21848 closed

[2022-03-30 09:35] yonzhan commented on #21857
Jammy Jellyfish

[2022-03-30 09:50] yonzhan commented on #21858
route to CXP team

[2022-03-30 10:19] #21186 closed

[2022-03-30 10:19] #21465 closed

[2022-03-30 11:24] raribeiroMS opened #21866 "az resource delete not working as expected for Microsoft.EventHubs/namespaces"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az resource delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create a event hub namespace
- Delete with the following command
- `az resource delete --ids "/subscriptions/x

[2022-03-30 11:24] Crytlig commented on #10856
@Rajuvimal $null is for PowerShell. On bash use 2>/dev/null

[2022-03-30 12:01] yonzhan commented on #21866
route to CXP team

[2022-03-30 12:04] dayland commented on #21462
We have had to reconfigure our CI/CD pipelines to use the REST APIs.

[2022-03-30 12:04] #21462 closed

[2022-03-30 12:04] florinvirdol commented on #6722
When i had a similar issue in Azure DevOps pipelines, i got this error: `Invalid ContentPath "C:/Program Files/Git/LICENSE.txt". ContentPath for purge action must be a relative path: either for a single resource "/path/pic.jpg" or a wild card "/path/*".`

The fix was to choose `PowerShell` as Script type instead of `Shell`.

[2022-03-30 12:16] #20797 closed

[2022-03-30 13:17] jiri-bocan opened #21867 "`az devops security permission` not working correctly"
## **Describe the bug**
`az devops security permission` does not work correctly.

### Step 1

[code]

gives correctly (in accordance with the GUI)

[code]

However,

[code]

gives

[code]

### Step 2

Continued with

[code]

returns (no visible change in the GUI)

[code]

Whereas

[code]

gives

[code]

However,

[code]

still gives (in accordance with the GUI - no visible change by the above upda

[2022-03-30 13:38] yonzhan commented on #21867
route to CXP team

[2022-03-30 13:40] LydsLido opened #21868 "[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1125)"
**Describe the bug**
1. Azure cloud shell not opening: both Bash and Powershell
2. Therefore I Installed azure-cli-2.34.1 and tried to login to Azure. Browser login is successful, but on command prompt get the below error:

A web browser has been opened at https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize. Please continue the login in the web browser. If no web browser is avail

[2022-03-30 13:42] yonzhan commented on #21868
@jiasli for awareness

[2022-03-30 14:21] saids commented on #10207
@DanielHWe One day, It will come back!  It's a resilient bug :-)

[2022-03-30 14:40] AbhishekTripathi opened #21869 "az appconfig kv list [SSL: CERTIFICATE_VERIFY_FAILED]"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
AZ Cli was working fine with the previous version. I updated it today and started getting the certificate error. I have tried uninstalling and reinstalling the latest version. The issue persists. I can perform other operations and only issue so far I have seen is with the `az appconfig kv` commands.

**Command

[2022-03-30 15:31] rayluo commented on #21848
@jiasli, indeed, MSAL tries very hard to prevent concurrent writes to corrupt token cache. But there can still be a chance. Hypothetically speaking, if the previous "az login" process was somehow terminated abruptly (such as a `kill -9 pid` on Linux) during an (even non-concurrent) cache write, it would probably end up with an incomplete token cache file. I'm not saying this was the case here, but

[2022-03-30 15:44] rajivpoonia opened #21870 "AZ Login Not Working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-03-30 16:17] kangsun-ctrl commented on #21815
Hi @jepio, community gallery is different from marketplace images. It is a gallery image and we only want this eula enforcement happens in gallery scope. This is a feature we are trying to do public preview, and also this is in cli extension.  I actually do not get the point "but this will break a lot of workflows in the same way that third-party images in marketplace do.", can you explain why it

[2022-03-30 16:47] ColmKeav opened #21871 "AZ CLI Upgrade Issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az upgrade`

## Expected Behavior

## Environment Summary
[code]
## Additiona

[2022-03-30 17:19] andmck1 commented on #16880
I'm also having these issues! Exactly the same error as above.

[2022-03-30 18:39] jiri-bocan commented on #21867
After re-installing the latest az/dev-ops version and computer/PowerShell restart, the issue disappeared.

[2022-03-30 18:39] #21867 closed

[2022-03-30 19:08] harneetvirk commented on #16880
We are investigating this issue.

[2022-03-30 19:12] SaurabhSharma-MSFT commented on #21664
@Mahelita We will now proceed to close this thread as we have not heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-03-30 19:12] #21664 closed

[2022-03-30 20:14] cvdabbeele commented on #19340
Thank you for your efforts,
I'm sure it will be beneficial to other Azure customers
Thank you for your deadline of 7 days.  You realize this question was asked 7 months ago, right?
anyway, I appreciate the efforts
chris

[2022-03-30 22:25] yonzhan commented on #21871
@jiasli for awareness

[2022-03-30 22:28] yonzhan commented on #21870
@jiasli for awareness

[2022-03-30 22:31] yonzhan commented on #21869
route to CXP team

[2022-03-30 22:33] #21870 closed

[2022-03-30 23:21] chitrankv27 commented on #21686
Hi @SaurabhSharma-MSFT  - I am able to deploy file with `.pynb` extension. My ask is that to deploy notebook which is getting created as JSON files in synapse github repo. I have github integration enabled in Synapse. Now I want to promote my notebook from dev to master branch and then use `az cmds` to deploy those JSON notebooks in Synapse Production Live env. Currently as my master branch has on

[2022-03-30 23:25] jiasli commented on #21870
Duplicate of #20231

[2022-03-31 02:13] qwordy opened #21875 "Can't find --overwrite in az storage blob upload/upload-batch"
**Describe the bug**

I notice a breaking change in 2.34.1. However, I can't see it in my machine. If I pass this parameter, it gives me an "unrecognized parameter" error.

[BREAKING CHANGE] az storage blob upload/upload-batch: Fix --overwrite that it no longer overwrite by default
https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli

[code]

**To Reproduce**

**Expected behavior**

[2022-03-31 02:33] zhangyuezhong opened #21876 "Double quote is required for --pattern"
[Enter feedback here]
https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az-storage-blob-upload-batch

az storage blob upload-batch -d mycontainer --account-name mystorageaccount --account-key 00000000 -s <path-to-directory> **--pattern *.py** --if-unmodified-since 2018-08-27T20:51Z

I think we need double quote ".py"  otherwise, invalid argument error.

---
#### Documen

[2022-03-31 03:31] #19519 closed

[2022-03-31 03:34] yonzhan commented on #21876
storage

[2022-03-31 03:37] yonzhan commented on #21875
storage

[2022-03-31 03:52] evelyn-ys commented on #21875
Seems your env has some mismatch... Can't reproduce...
![image](https://user-images.githubusercontent.com/10227683/160972967-85b6dcde-b8af-4ff2-8155-94df38aec42f.png)

[2022-03-31 04:07] #21532 closed

[2022-03-31 04:15] navba-MSFT commented on #21650
@carvido1 We will now proceed with closure of this github issue. The fix is been place. See the commit details in the above comment. No ETA for the release yet. Thanks again for sharing the feedback. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-03-31 04:15] #21650 closed

[2022-03-31 04:15] calvinhzy commented on #21875
Was not able to reproduce it either with the same python version 3.8.9. Please try rerunning `pip install azure-cli`

[2022-03-31 04:16] navba-MSFT commented on #21685
@na-init I hope you had a chance to follow the suggested action plan in above comment. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-03-31 04:16] #21685 closed

[2022-03-31 04:23] navba-MSFT commented on #21723
@abhi-markan I hope you had a chance to follow the action plan suggested in the above comment. We will now proceed with the closure of this issue. If you need any further assistance on this issue, feel free to reopen this thread. We would be happy to help.

[2022-03-31 04:23] #21723 closed

[2022-03-31 04:57] navba-MSFT commented on #21858
@bacteria673 Thanks for reaching out to us and sharing this feedback. Could you please run the below commands in order ?

az account set --subscription "your current subscription name"
az aks get-credentials --resource-group=MyRGName --name=MyAKSCluster **--overwrite-existing --file $HOME/PathToYourConfigFile**

--file -f
Kubernetes configuration file to update. default value: ~/.kube/config

--ov

[2022-03-31 06:01] dikethir opened #21878 "Changes needed in az-restore-point and az-restore-point collection cmdlets to support cross region copy"
**Is your feature request related to a problem? Please describe.**
Three issues:

1. az restore-point collection show – is returning all the restore points even without the –expand parameter.
2. az restore-point show does not have a way to get the instance view details of the restore point.
3. In az restore-point create, sourceRestorePointId is not listed as an input optional parameters. This is n

[2022-03-31 06:36] qwordy commented on #21875
Thanks for quick response. I restarted machine, reinstalled Azure CLI. I also tried WSL2 Ubuntu. There is no this argument. Azure CLI in Portal is good.

[2022-03-31 07:00] yonzhan commented on #21878
Compute

[2022-03-31 07:02] RakeshMohanMSFT commented on #21869
@AbhishekTripathi Thank you for reaching out we are looking into the issue and will help you with an update as soon as possible.

[2022-03-31 07:27] navba-MSFT commented on #21866
@raribeiroMS Thanks for reaching out to us and sharing this feedback. I was able to repro this issue at my end. Could you please run the below command to delete the EH namespace ?

--api-version "2021-06-01-preview"

Awaiting your reply.

[2022-03-31 07:30] rachelxj-ms commented on #21319
@panchagnula  I think we need update the document as it's disabled to change minimum instance from ASP level

[2022-03-31 07:57] LotteVoorhorst opened #21882 "az afd secret create not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az afd secret create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az afd secret create --resource-group {} --profile-name {} --secret

[2022-03-31 08:20] #20368 closed

[2022-03-31 08:24] Nikostito commented on #21752
If I do my deployment,  through vscode which does the deployment though azure cli v1.0 (azure site deploymentscript command) the deployment zip uploads fine. The problem exists with azure cli v2.0 (az command). Please give the proper attention to this issue. There are another 6 open issues here on github outlining the same problem...

[2022-03-31 09:20] yonzhan commented on #21882
route to CXP team

[2022-03-31 09:55] navba-MSFT commented on #20255
@percepticus Apologies for the late reply. Could you please install the most recent version of the [AzCLI ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)and let us know if you still face this issue ? Awaiting your reply.

Similar issue: https://github.com/Azure/azure-cli/issues/14800 https://github.com/Azure/azure-cli/issues/15105

[2022-03-31 10:04] navba-MSFT commented on #20257
@Abhishek-rastogi07 Apologies for the late reply. Could you please use the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the AzCLI and let me know if you still face the same issue? Awaiting your reply.

[2022-03-31 10:49] AbhishekTripathi opened #21883 "ForEach-Object -Parallel issue with az appconfig kv list"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I want to iterate over a list of keys to see if we have same key existing with different labels. To achieve this efficiently, I am trying to iterate over the list in parallel invocation. A sequential invocation works as expected but the parallel call fails.

[code]

**Command Name**
`az appconfig kv list`

**Er

[2022-03-31 10:58] yonzhan commented on #21883
route to CXP team

[2022-03-31 11:46] raribeiroMS commented on #21866
You are correct, it works like that. The thing is it should work without specifying a version, as it did.
If I use this command, with a list of multiple resources with different versions, I expect it to work without specifying a version.

[2022-03-31 11:53] meixger commented on #21129
I also encountered this error. Took me several hours to figure out. The docs are not helplfull.

[2022-03-31 12:15] ashinzekene commented on #16137
We can close this

[2022-03-31 12:15] #16137 closed

[2022-03-31 12:29] etaham commented on #10241
Any updates here? MSAL has been out for quite some time. Other tools, such as terraform, do not require the login call and are therefore more secure in this context.

[2022-03-31 12:33] LoofahBu commented on #21856
@navba-MSFT I upgraded version to 2.34.1 and it works! Thanks!

[2022-03-31 12:34] navba-MSFT commented on #21856
@LoofahBu Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-03-31 12:34] #21856 closed

[2022-03-31 13:10] patricekrakow commented on #15381
The installation of azure CLI `az` using `pip` did work for me on my _employer-owned machine_. Thanks to @jiasli.

[2022-03-31 13:21] plzm opened #21884 "Same CLI query (az resource list) returns different results in cloud shell vs. local"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az resource list`

**Errors:**
[code]

## To Reproduce:
Using Azure CLI 2.34.1 in both local (WSL2, Ubuntu 20.04) and cloud shell.

This exact query:
[code]

Returns fewer results locally than in cloud shell.

## Expected Behavior
Local returns all results in resource group, matches cloud she

[2022-03-31 13:37] yonzhan commented on #21884
ARM

[2022-03-31 13:52] j0rd1smit opened #21885 "Azure CLI is unable on M1 mac due to AttributeError: module 'logging' has no attribute 'getLogger"
**Describe the bug**
I just installed using it using `brew install azure-cli`. This installed the version `azure-cli--2.34.1.arm64_monterey.bottle.tar.gz`. However, as soon as use any `az` cli command I get the following error.

[code]

It doesn't matter if I remove or reinstall the cli.

**To Reproduce**
Run this:
[code]

**Expected behavior**
No errors 😀

**Environment summary**
System Version:

[2022-03-31 14:34] rvandenbedem opened #21886 "Heading is incorrectly capitalized"
"Azure VMWare Solution" heading needs to change to "Azure VMware Solution".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f53521a1-d23a-9b87-d41e-7d0b096cbcdd
* Version Independent ID: 22703361-7e6b-3436-0ff8-87d7698f5143
* Content: [Azure VMWare Solution](https://docs.microsoft.com/en-us/cli/azure/service-page/azure%

[2022-03-31 15:16] SatishBoddu-MSFT commented on #21644
Hello @pci7 No worries, please send an email to below group and we will help with the support ticket for further help!.

Please send an email to azcommunity@microsoft.com with the below details, so that we can work closely on this matter.

**Thread URL:** Link to this thread.
**Your Azure Subscription ID**:
**Email Subject** : Attn Satish Boddu
Please let me know once you have done the same

[2022-03-31 16:37] jiasli commented on #10241
Nope. We'll make sure to update this thread when there is. In the meantime, might I recommend the **Subscribe** button?

![image](https://user-images.githubusercontent.com/4003950/155913610-6a788ba6-4bbe-4377-b1b4-efa48bc2e680.png)

That way you'll be notified of any updates to this thread, without needlessly pinging everyone on this thread. :)

[2022-03-31 17:02] jckeme-rs commented on #21829
It would appear that the **--type** flag is always required, however az cli throws no prompt to indicate this when it is not specified.

[2022-03-31 18:44] fitzgeraldsteele opened #21888 "Open a resource in Azure Portal"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
As a customer, I want to open a resource directly in the azure portal
So I can more quickly view all the parameters on an object in a graphical format.

Something like,

 az vmss show -n demo -g test -o azureportal, or
 az vmss show -n demo -g test --visualize-in-portal

Here is the URL to view

[2022-03-31 20:49] panchagnula commented on #20625
@SophieDeBenedetto

@Kotasudhakarreddy Portal team doesn't have a GitHub presence so this need to happen via ICM or email to them, so unsure how this was accomplished "I have reported it to the portal team from GitHub."

[2022-03-31 20:52] panchagnula commented on #20625
@SophieDeBenedetto could you share with me the order of commands (without adding any Sub or webapp details) you are using here. I want to understand the order of operations plus ensure there is no portal bulk update involved here. Thanks

[2022-03-31 22:39] SaurabhSharma-MSFT commented on #21846
@oleterno-equinor I am redirecting this to services team to look into and provide their inputs.

[2022-03-31 22:49] hichamveo commented on #21006
Hi @navba-MSFT I used the url webhook of a LogicApps standard workflow. So your example is too different of the one provided in this issue. Can you try with a LogicApps url?

[2022-03-31 23:22] yonzhan commented on #21885
@jiasli for awareness

[2022-03-31 23:24] yonzhan commented on #21886
route to CXP team

[2022-03-31 23:30] yonzhan commented on #21888
Compute

[2022-03-31 23:55] panchagnula commented on #21319
@rachelxj-ms I am not the owner of this area to update the documentation please work with CXP or doc team directly for this. The answer from the feature team on how mininstance support works is as below:
"Hi, some actions are restricted by design. The minimum instances for the ASP is inferred based on the minimum settings of all the apps in the plan.

For example, if you have 4 apps with a minimum

[2022-03-31 23:57] panchagnula commented on #21237
Closing this since the change related to this is merged.

[2022-03-31 23:57] #21237 closed

[2022-04-01 00:07] panchagnula commented on #21072
@pragnagopa / @nzthiago can this issue be closed - or should we not allow users to not create function App in regions whee ApplicationInsights is unavailable - if the function app created is not manageable or useful? If so is there a way/ API of CLI to pre-validate this & show a useful message?

[2022-04-01 00:07] mschumacher-syntellis opened #21889 "[WinError -2146893813]"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-04-01 00:11] mschumacher-syntellis commented on #21889
PS C:\Users\mschumacher> d:
Set-Location: Cannot find drive. A drive with the name 'D' does not exist.

[2022-04-01 00:14] panchagnula commented on #20944
@ryancole for function apps don't use az webapp commands in general & specifically for this case use this instead https://docs.microsoft.com/en-us/cli/azure/functionapp/deployment/source?view=azure-cli-latest#az-functionapp-deployment-source-config-zip

[2022-04-01 00:15] yonzhan commented on #21889
@jiasli for awareness

[2022-04-01 00:21] panchagnula commented on #20901
@haroonf can you check if we can repro this? seems like update command is ignoring the --slot setting ? Thanks!

[2022-04-01 00:31] panchagnula commented on #20824
@joeyj given this is not a CLI specific issue but the response from API which the feature team needs to handle - there is not much update I can provide. I have shared this with the functions team - please create a support case if needed. Thanks!

[2022-04-01 00:31] jiasli commented on #21889
Duplicate of #20231

[2022-04-01 00:31] #21889 closed

[2022-04-01 00:35] panchagnula commented on #20892
hey all - it would be best to open a support case for these - since this is not specific to CLI. I did try to report these to the function apps team directly, but not something we can take action via CLI.

[2022-04-01 00:36] panchagnula commented on #20627
This is related to funccli & not azure-cli please report to the right GitHub project. Thanks!

[2022-04-01 00:36] #20627 closed

[2022-04-01 00:36] #20824 closed

[2022-04-01 00:38] panchagnula commented on #20442
closing this since this is fixed

[2022-04-01 00:38] #20442 closed

[2022-04-01 00:40] panchagnula commented on #20390
@FinVamp1 what is the best way here to figure out the cause of failure of zip deployment?

[2022-04-01 00:41] panchagnula commented on #20240
Closing this since this is fixed.

[2022-04-01 00:41] #20240 closed

[2022-04-01 00:42] panchagnula commented on #19816
@Francisco-Gamino given CLI now uses the StacksAPI directly for runtime support - this should be done automatically. Closing this

[2022-04-01 00:42] #19816 closed

[2022-04-01 00:44] panchagnula commented on #19644
@nitroin does this happen with CLI client only & not portal. CLI doesn't try to remove the the - character at the beginning of the key name or value. If this is not CLI specific please report as a support case. Thanks!

[2022-04-01 00:47] panchagnula commented on #19469
@StrawnSC is this already fixed with the new api-version by the API team if not lets add a validation check.

[2022-04-01 00:53] panchagnula commented on #19435
this command uses & depends on SDK to be updated with new properties in swagger. Once the feature team takes care of updating swagger & new SDK is generated , CLI can use the new SDK. Once this is done, the command has a --set parameter that can be used to update any parameter. Is the ask for these properties to be add as first class parameters? Is this still needed?

[2022-04-01 00:55] panchagnula commented on #19434
@JohanRyberg does this still repro for you?

[2022-04-01 00:55] #19407 closed

[2022-04-01 00:56] panchagnula commented on #18818
@gzuber was this ever resolved?

[2022-04-01 00:57] panchagnula commented on #18808
Closing this since this should be fixed. Please open a new issue if this is still an issue with the latest cli-version. Thanks

[2022-04-01 00:59] panchagnula commented on #18735
Please open if this is still an issue with the latest version of CLI

[2022-04-01 00:59] #18735 closed

[2022-04-01 01:00] panchagnula commented on #18245
@jkpl please open a new issue if this is still occurring with the latest version of CLI

[2022-04-01 01:00] #18245 closed

[2022-04-01 01:01] #18228 closed

[2022-04-01 01:01] panchagnula commented on #18217
please open new issue if this still occurs with the latest version of CLI

[2022-04-01 01:01] #18217 closed

[2022-04-01 01:03] panchagnula commented on #18186
@davidbabayan are you using powershell for CLI commands? or a simple bash/windows command

[2022-04-01 01:05] panchagnula commented on #18160
@Andrew-netizen was this issue resolved? Does this still repro on the latest version of CLI?

[2022-04-01 01:06] panchagnula commented on #18139
this should be fixed - please open a new issue if this still occurs with latest cli version

[2022-04-01 01:06] #18139 closed

[2022-04-01 01:08] panchagnula commented on #18099
@pragnagopa unfortunately there is no way to support this without exposing this to external customers as well.

[2022-04-01 01:08] #18099 closed

[2022-04-01 01:10] panchagnula commented on #18095
This should be fixed - please re-try & open a new issue if this still happens

[2022-04-01 01:10] panchagnula commented on #18080
this is fixed - please re-open if this still repros with the latest cli-version

[2022-04-01 01:10] #18080 closed

[2022-04-01 01:11] panchagnula commented on #18060
Please open a new issue if this still repros with the latest version of CLI.

[2022-04-01 01:13] panchagnula commented on #17995
@jimbobbennett this is expected since the create command can be used for normal plan or consumption plan. i.e one of them is needed & not both, so in CLI we need to keep them optional & add a message on the right usage like you have seen.

"--plan NAME_OR_ID | --consumption-plan-location LOCATION"

[2022-04-01 01:13] #17995 closed

[2022-04-01 01:13] panchagnula commented on #17945
Please re-open If this still occurs with the latest version of CLI.

[2022-04-01 01:13] #17945 closed

[2022-04-01 01:14] panchagnula commented on #17936
Since CLI doesn't use hardcode language / runtime anymore this shouldn't be an issue anymore

[2022-04-01 01:14] #17936 closed

[2022-04-01 01:15] panchagnula commented on #17875
@wonderplayer certificates in general are never associated with a functioapp / webapp they are attached to a webspace or ASP+RG. hence there is no way to achieve this.

[2022-04-01 01:15] #17875 closed

[2022-04-01 01:16] panchagnula commented on #17720
@fabiocav is this something we still want to consider for azure-cli or funccli still supposed to be alternate?

[2022-04-01 01:17] #17653 closed

[2022-04-01 01:18] panchagnula commented on #17596
this is fixed please try with the latest cli version

[2022-04-01 01:18] #17596 closed

[2022-04-01 01:18] panchagnula commented on #17558
this is done. Please use the latest version of CLI.

[2022-04-01 01:18] #17558 closed

[2022-04-01 01:19] panchagnula commented on #17533
Please open a new issue if this still happens, with latest CLI version.

[2022-04-01 01:19] #17533 closed

[2022-04-01 01:20] #16645 closed

[2022-04-01 01:22] panchagnula commented on #16644
@tiagoschaffer in CLI the client doesn't automatically copy all your settings , we let the API decide which should be or not based on various reasons. The slots team is working on updating their API for this following which the behavior in CLI will change as well. Don't have an ETA to share on the new API improvements.

[2022-04-01 02:52] anirudhgarg commented on #20892
Yes would be best to open a support ticket or you can transfer this issue to the Functions Host repo: https://github.com/Azure/azure-functions-host/issues

[2022-04-01 03:33] jsntcy commented on #21886
Need update service name in https://github.com/Azure/azure-cli-extensions/blob/main/src/service_name.json

[2022-04-01 03:35] jiasli commented on #21888
This is a very nice suggestion. I also frequently feel I need this CLI to Portal feature. It will be wonderful if Azure CLI has built-in support for it.

Personally, I use some simple scripts to help me achieve this:

### PowerShell

[code]

### Linux or WSL

[code]

This will actually open

[code]

and Azure Portal will convert it to

[code]

In the future, we can directly retrieve tenant name if

[2022-04-01 05:13] nitroin commented on #19644
This incorrect behavior is CLI specific. We do have some keys created with "-" as the first character in production.

[2022-04-01 05:23] navba-MSFT commented on #21654
@assures The PR https://github.com/Azure/azure-cli/pull/21816 is now merged and has the fix for this issue. Thanks for reporting this issue and providing the feedback. We will now proceed with closure. If you have any further questions on this, please reopen this issue. We would be happy to help.

[2022-04-01 05:23] #21654 closed

[2022-04-01 05:27] priyjain358 commented on #21432
Hi, is there any update on this?

[2022-04-01 05:31] necusjz commented on #21432
@priyjain358, I'm working on this and hopefully next week will deliver. : )

[2022-04-01 06:03] navba-MSFT commented on #21787
@FranciscoACLima We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-04-01 06:03] #21787 closed

[2022-04-01 06:14] navba-MSFT commented on #21866
@raribeiroMS I had reached out to the Product owners of EH and got an update from them. We could rule out that the error is not thrown via Event Hubs endpoint ( since it is not originating from the API which is responsible to delete the namespace).

When you call `az resource delete –id `cmdlet on CLI, there is an async call that is done on the URI as mentioned here : [Namespaces - Delete - REST A

[2022-04-01 06:21] navba-MSFT commented on #21810
@aliasgarjh I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-04-01 06:21] Splaxi commented on #13056
And I just hit the same error again, only to search for the error, to end up here - getting my own suggestion and to learn that the issue is still the same. Single line json, escaped double quotes...

[2022-04-01 06:30] #21452 closed

[2022-04-01 06:36] #21555 closed

[2022-04-01 08:04] hvl71 opened #21896 "az artifacts documentation not easy to follow"
As a user of AZ CLI it is hard to figure out what the
az artifacts universal
az artifacts universal download
az artifacts universal publish

commands actually do and how they should be used.

as seen on:
https://docs.microsoft.com/en-us/cli/azure/artifacts?view=azure-cli-latest

what does universal mean? It would be super helpful to many many az users with a few examples and possibly an explanatio

[2022-04-01 08:07] cxznmhdcxz commented on #21884
Hi @plzm, I tried in local (azure-cli 2.35.0) and cloud shell (azure-cli 2.34.1) and didn't reproduce the problem.
Could you share the command of creating the resources? Thanks.

[2022-04-01 09:19] yonzhan commented on #21896
route to CXP team

[2022-04-01 09:47] eliasarellano opened #21898 "az desktopvirtualization doesn't show the generated token in Azure DevOps"
**Describe the bug**

The bug is that this command line :
`$token= $(az desktopvirtualization hostpool show --name "$($ExistingWVDHostPoolName)" --resource-group "$($ResourceGroupName)" --query registrationInfo.token -o tsv --debug)`
Is no longer working in Azure DevOps

The result of $token is null, but until one week ago it was retrieving well the token.

**To Reproduce**
You should only try it

[2022-04-01 10:04] jiasli commented on #20719
Good news!! 🎉

We have managed to build and sign FIPS-compliant RPM today and put it at https://azurecliprod.blob.core.windows.net/archive/20220331.48/rpm-ubi8/signed/azure-cli-2.35.0-1.el8.x86_64.rpm

You may follow below steps or use an Azure VM to test.

(Optional) Run docker container:

[code]

You need `sudo` to run these commands on normal Linux:

[code]

You may check the signature:

[code]

[2022-04-01 10:12] piegre opened #21899 "az400 - lab19 - kluster creation"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --location {} --resource-group {} --name {} --enable-addons

[2022-04-01 10:39] JohanRyberg commented on #19434
@panchagnula

Hi, thanks for reaching out.

Has this issue been fixed? It's not linked to this issue

Regards Johan Ryberg

[2022-04-01 10:50] navba-MSFT commented on #20072
@WKahWai Apologies for the late reply. I was able to run the below command:

Finding examples...
Here are the most common ways to use [blob]:
Restore blobs in two specified blob ranges. For examples, (container1/blob1, container2/blob2) and (container2/blob3..container2/blob4).
az storage blob restore --account-name mystorageaccount --resource-group MyResourceGroup --time-to-restore 2020-02-27T03:

[2022-04-01 11:01] stan-sz opened #21900 "Attribute TaskUpdateParameters does not exist in az acr task identity remove"
## Describe the bug

**Command Name**
`az acr task identity remove`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr task identity remove -n {} -r {}`

## Expected Behavior

An identity is removed.

## Environment Summary
[code]
## Additi

[2022-04-01 11:42] davidbabayan commented on #18186
I use Powershell Core (7+)

[2022-04-01 12:04] navba-MSFT commented on #20819
@pjnroll Apologies for the late reply. Could you please use the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) of AzCLI and let us know if you are still running into the same issue ? Awaiting your reply.

[2022-04-01 12:18] navba-MSFT commented on #20297
@Cam-Borrowell Apologies for the late reply. Could you please let us know if you are still facing this issue ? Awaiting your reply.

[2022-04-01 12:56] yonzhan commented on #21898
desktopvirtualization

[2022-04-01 12:57] yonzhan commented on #21899
route to CXP team

[2022-04-01 13:00] yonzhan commented on #21900
route to CXP team

[2022-04-01 13:00] MindlessMuppet opened #21901 "Incorrect spelling in example instructions"
In the section 'az mysql server ad-admin create', the example appears to have the incorrect spelling of the word 'Create'.

'Crate Active Directory Administrator username@domain.com in the server testsvr.'

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52c4d40c-b3ed-5ca3-df62-f0920ee3550f
* Version Independent ID: fe54

[2022-04-01 13:50] leemcmullen commented on #13777
For those ending up here looking for action `srijken/azure-zip-deploy`, it no longer appears to exist. It should be quite easily replaceable with `azure/webapps-deploy` as detailed here: https://github.com/Azure/webapps-deploy/issues/3

[2022-04-01 15:02] aeortic opened #21902 "Error when creating aks cluster"
**Describe the bug**

When running
"az aks create --resource-group $RESOURCE_GROUP --name $AKS_CLUSTER --node-count $NODES"

Which attempted to create

/subscriptions/1ce38113-49dd-4462-b657-beef2b90b5d1/resourceGroups/devclusterrg2/providers/Microsoft.Resources/deployments/microsoft.aks-20220401104010/operations/21C27FB181386007

I get the error

"Values of identifierUris property must use a veri

[2022-04-01 15:18] mschumacher-syntellis commented on #21889
Thanks!!

[2022-04-01 15:33] pragnagopa commented on #18099
@panchagnula  - It is OK to expose this option to Customers who are willing flight features as they are rolling out. Please reactivate this issue.

[2022-04-01 15:51] thisisdevanshu opened #21903 "Azure Orbital CLI"
**Resource Provider**
Azure Orbital

**Description of Feature or Work Requested**
Generate CLI from the stable API version

**Minimum API Version Required**
2022-03-01

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/tree/main/specification/orbital/resource-manager/Microsoft.Orbital/stable/2022-03-01

**Target Date**
June, 2022

[2022-04-01 16:24] PramodValavala-MSFT commented on #21896
@hvl71 The [official doc](https://docs.microsoft.com/en-us/azure/devops/artifacts/quickstarts/universal-packages?view=azure-devops) explains this in detail. This is only the reference doc for the sub-command.

[2022-04-01 16:27] knickfan7 opened #21904 "Error when running az workflow create"
**Describe the bug**

Running az workflow create returns the template.json and the message "does not contain a 'definition' key"
**To Reproduce**

az login
az logic workflow create --resource-group "rg-name" --location "eastus2" --name "r-name" --definition "template.json"

**Expected behavior**

Should create or update the workflow for "rg-name"

**Environment summary**

Shell type: Bash
Azure CL

[2022-04-01 16:31] PramodValavala-MSFT commented on #21899
@piegre Based on the error alone, you need to [register the resource provider](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/resource-providers-and-types#register-resource-provider) before using it. If you are facing this during a certification, it would be best to post your concern in the [certification forum](https://trainingsupport.microsoft.com/en-us/mcp/forum?sort=L

[2022-04-01 17:02] rayluo commented on #20434
@denzii,

Did you run your "az login" on your local desktop, or on a remote VM? In the latter case, https://time.is won't be able to detect your remote VM's time.

The error message contained:

Based on that error message, the machine running "az login" was 3 hours behind the AAD server's time.

Can you still reproduce this issue? If so, you can use online tools such as https://www.epochconverter.

[2022-04-01 17:31] panchagnula commented on #21072
Thanks Pragna. In CLI we avoid blocking a command waiting on a prompt - by I agree with the better create experience. Is there an API we can use here to check if application Insights is supported & return a list of supported regions.

[2022-04-01 17:42] noelbundick-msft commented on #20315
I hit this regularly and have to use `az login --use-device-code` to login - which works, but is cumbersome and not a great experience.

The CLI + Codespaces correctly opens a new browser tab and I'm able to authenticate with AAD. After auth, I am redirected to `http://localhost:38891/?code=<snip>&client_info=<snip>&state=<snip>&session_state=<snip>`, which doesn't exist when I'm inside a codespac

[2022-04-01 18:52] SaurabhSharma-MSFT commented on #21902
@aeortic We are looking into it and get back to you for any questions.

[2022-04-01 18:59] panchagnula commented on #20892
route to CXP to help here.. Thanks!

[2022-04-01 19:11] zaidmohd opened #21905 "az deployment randomly crashes with: ERROR: 'bytes' object has no attribute 'get'"
Run az deployment sub validate \
  az deployment sub validate \
  --location canadaeast \
  --template-file ./orchestrations/landing-zones/containers.primary.bicep \
  --parameters env=dev \
  shell: /usr/bin/bash --noprofile --norc -e -o pipefail {0}
  env:
    environmentAzure: dev
    modulePath: ./orchestrations/landing-zones
    AZURE_CREDENTIALS: ***
    AZURE_HTTP_USER_AGENT:
    AZUREPS_HO

[2022-04-01 19:17] zaidmohd commented on #21905
I have not specified any version in the az command.runs:
  using: 'composite'
  steps:
    - name: Azure Login
      uses: Azure/login@v1
      with:
        creds: ${{ env.AZURE_CREDENTIALS }}

    # [Validate execution] task(s) bash
    # ------------------------------
    - name: 'Validate [${{ inputs.templateFilePath }}]'
      shell: bash
      id: validate_step
      run: |
        az deploy

[2022-04-01 19:20] zaidmohd commented on #21905
It is similar to the service side issue.
#19743

[2022-04-01 19:27] aliasgarjh commented on #21810
Thanks, @navba-MSFT. That resolved it. I wonder if the CLI can throw a better message here.

[2022-04-01 19:27] #21810 closed

[2022-04-01 20:18] jongio commented on #20315
@yonzhan  - Did the redirect port change?  I was able to do this before with forwardPorts, but the az cli redirect to localhost port changed recently

[2022-04-01 20:35] SophieDeBenedetto commented on #20625
Sure thing @panchagnula! See below.

1. Bulk update app settings via JSON file
  * JSON file looks like this:

[code]
  * With CLI command:

[code]

* See output from the CLI command that looks like this:

[code]

* Go to app settings for the app in the Azure portal and see that for those vars set from the JSON file, "deployment slot setting" is checked.

[2022-04-01 20:43] ian-thomas-agio opened #21906 "Missing indication of an Argument being required in a az pipeline invocation."
**Describe the bug**

If you do

there is no indication that at least one of the following arguments is required: --template-file or --template-uri. The documentation does, however, indicate that --resource-group is required.

**To Reproduce**

**Expected behavior**

The documentation indicates either --template-file or --template-uri is a required argument.

**Environment summary**

Cloud Shell -

[2022-04-01 20:50] SophieDeBenedetto opened #21907 "webapp config container set overwrites DOCKER_* app settings"
**Describe the bug**
When using the `webapp config container set` command to apply a new container image to an Azure App Service app deployment slot, the following occurs:

* These app settings (`DOCKER_REGISTRY_SERVER`, `DOCKER_REGISTRY_USERNAME`, `DOCKER_REGISTRY_PASSWORD`) are overwritten with
  * The `docker-registry-server-url` passed to the `webapp config container set` command
  * The usern

[2022-04-01 21:14] plzm commented on #21884
Hi @cxznmhdcxz, thank you for the update!

The VM in question was rolled out using this ARM template:
https://raw.githubusercontent.com/plzm/azure-deploy/main/template/vm.linux.json
It was rolled out in this GitHub Actions workflow run:
https://github.com/plzm/azure-vm-disk-swap/runs/5770013219

Why would an artifact of the VM, though, yield different az CLI output on two different platforms, in b

[2022-04-01 21:15] plzm commented on #21884
Also: I was able to successfully retrieve the VM using an az graph query instead. This works:
az graph query -q 'Resources | where type =~ "microsoft.compute/virtualmachines"'

[2022-04-01 22:34] panchagnula commented on #19492
This has been fixed please try with the latest version of CLI

[2022-04-01 22:35] NattyMojo commented on #20645
Has there been any news on this?

[2022-04-01 22:49] sirfamelin commented on #21395
We would like to reduce the scope of the ask to only cover the create operations:
Az vm create
Az vmss create

[2022-04-01 23:12] yonzhan commented on #21901
route to CXP team

[2022-04-01 23:13] yonzhan commented on #21902
route to CXP team

[2022-04-01 23:14] yonzhan commented on #21903
PLR

[2022-04-01 23:18] yonzhan commented on #21904
logic

[2022-04-01 23:22] yonzhan commented on #20645
SQL service team should take a look

[2022-04-01 23:25] yonzhan commented on #21907
route to CXP team

[2022-04-01 23:26] yonzhan commented on #21906
ARM

[2022-04-01 23:29] yonzhan commented on #21905
route to CXP team

[2022-04-01 23:44] dweverett opened #21909 "az network bastion ssh fails with 'Profile' object has no attribute 'get_msal_token'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network bastion ssh`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

This is on a Windows 11 computer using Windows Subsystem for Linux.

az network bastion ssh --name "<bastion

[2022-04-01 23:45] yonzhan commented on #21909
route to CXP team

[2022-04-02 00:33] #21216 closed

[2022-04-02 00:38] #20969 closed

[2022-04-02 00:45] #21235 closed

[2022-04-02 00:47] #20914 closed

[2022-04-02 01:55] #21215 closed

[2022-04-02 03:07] jiasli opened #21910 "In Azure CLI installed by Homebrew, `azure` and `azure.mgmt` still have a `__init__.py` files"
Even though https://github.com/Azure/azure-cli/pull/14372 migrated CLI packaging system to PEP 420 Implicit Namespace Packages, In Azure CLI installed by Homebrew, `azure` and `azure.mgmt` still have `__init__.py` files:

[code]

This brings problems:

1. `azure` namespace package installed by extensions won't work: https://github.com/Azure/azure-cli-extensions/issues/4562
2. This defeats the purp

[2022-04-02 03:12] yonzhan commented on #21910
packaging

[2022-04-02 03:17] jiasli opened #21911 "In Azure CLI source code, `azure` and `azure.cli` contain `__init__.py` files calling `pkgutil`"
In a virtual env which installs Azure CLI from source code, under `azure` and `azure.cli` folders, there are `__init__.py` files containing one line:

[code]

These files make `azure` and `azure.cli` normal (non-namespace) packages, preventing Python from lookup additional library folders, causing problems for extensions which installs their own `azure` and `azure.mgmt` namespace packages, like `d

[2022-04-02 03:23] yonzhan commented on #21911
packaging

[2022-04-02 04:33] #21413 closed

[2022-04-02 05:08] GaneshMSFT opened #21914 "AZ CLI defaulting to 4 MiB chunk size - failing to upload large blobs with 50K block limit - auto chunking not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
Latest Az CLI default chunking seems to be broken. It's defaulting to 4 MiB block size even though blob I was trying to upload was around 220 GB. It's causing the upload to fail with the following error.

`az storage blob upload`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the beh

[2022-04-02 06:25] kairu-ms commented on #21909
Hi @aavalang, please have a look. Thanks.

[2022-04-02 06:48] jsntcy commented on #21904
@knickfan7,

- Could you please run the command with "--debug" again and paste the debug log here?
- Could you please share "template.json"? [Here](https://github.com/Azure/azure-cli-extensions/blob/main/src/logic/azext_logic/tests/latest/workflow.json) is an example for definition file.

[2022-04-02 07:05] YuanyuanNi commented on #21637
Hi:
    @askpatrickw  As the error info shows :Subnet default is in use by PowerPlatformSAL and if you want to delete the subnet, you should delete all resources related with the subnet first.
Best wishes.

[2022-04-02 07:17] jsntcy commented on #21903
@thisisdevanshu,

- When will the swagger be merged into [public swagger repo](https://github.com/Azure/azure-rest-api-specs/)?
- What's the release phase for the service? private preview? public preview? GA?

[2022-04-02 07:43] jiasli commented on #20315
Azure CLI 2.30.0 uses MSAL which let the system choose a random available port, instead of fixing to `8400`. @rayluo

@jongio, I think `8400` will only work for Azure CLI <= 2.29.2.

[2022-04-02 07:43] YuanyuanNi commented on #21750
Hi:
    @lqm678 you could use " " to quote what you want to query and it works well even the query is a multiline string, an example from doc as below:
az monitor log-analytics workspace saved-search create -g MyRG --workspace-name MyWS -n MySavedSearch --category Test1 --display-name TestSavedSearch -q "AzureActivity | summarize count() by bin(TimeGenerated, 1h)"
Best wishes.

[2022-04-02 08:00] #21578 closed

[2022-04-02 08:29] bebound commented on #21910
Homebrew install `azure-cli` requirements from src. In some packages, the `setup.py` is not standard and installing these packages will create `__init__.py` in above folders.

For example, [azure-keyvault 1.1.0](https://pypi.org/project/azure-keyvault/1.1.0/#files) uses `pkg_resources` to accomplish namespace package. But its `setup.py` does not contain `namespace_packages=['azure']`, so `pip inst

[2022-04-02 08:40] yonzhan commented on #21914
storage

[2022-04-02 08:48] elqian commented on #21376
I also have this issue. I downloaded the certificate using  azure cli
az keyvault certificate download --file cert.pem --vault-name {} --name {}
and then
az login --service-principal --username $servicePrincipalId --tenant $tenantId --password cert.pem
And got the exact same error

[2022-04-02 09:50] #21815 closed

[2022-04-02 11:16] wibbico commented on #21489
@SaurabhSharma-MSFT

Unfortunately, this answer leaves me perplexed. The architecture of the CLI seemed to me to be clearly designed to migrate pipelines from Synapse A to Synapse B.

Why should I manually copy the JSON from the Synapse portal to import it via CLI? That makes no sense. It makes much more sense to use CLI -> CLI and Portal -> Portal.

How else should it be possible to migrate or up

[2022-04-02 12:42] jiasli commented on #21376
@majorsmann, please share what your certificate looks like without the credential value. According to https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli#certificate-based-authentication, it should look like

[code]

[2022-04-02 12:43] jiasli commented on #21376
@elqian, certificate downloaded by `az keyvault certificate download` doesn't have the private key part:

[code]

Please see https://docs.microsoft.com/en-us/cli/azure/create-an-azure-service-principal-azure-cli#retrieve-certificate-from-key-vault

[2022-04-02 16:58] 0xcaff commented on #16673
I've observed SIGINT getting sent during container stop. It seems like azure sends this to your containers to trigger graceful shutdown. This seems to be a choice on Azure's part AWS ECS (and docker stop) uses SIGTERM instead of SIGINT.

[2022-04-02 17:40] #21637 closed

[2022-04-03 01:36] #21692 closed

[2022-04-03 08:35] Kailash-P opened #21919 "Not able to get aks credentials"
## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2022-04-03 09:19] PurkkaKoodari opened #21920 "azcopy-based commands leak valid SAS in console"
**Describe the bug**
All azcopy-based commands, such as `az storage blob sync` or `az storage copy`, print the raw `azcopy` command in console. This includes a valid read/write SAS for the destination container. This was previously mentioned in #16519, `azcopy` still doesn't use `az login` credentials after a year.

There's no official way to use `azcopy` directly in GitHub Actions and this leak m

[2022-04-03 13:46] lihaybs opened #21921 "q"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2022-04-03 22:52] elqian commented on #21376
I now use the following:
az keyvault secret download --file cert.pfx --encoding base64 -n name --vault-name vaultName  && \openssl pkcs12 -in cert.pfx -passin pass: -out cert.pem -nodes

 az login --service-principal --username $servicePrincipalId --tenant $tenantId --password cert.pem

now I get an error of "ERROR: AADSTS700027: Client assertion contains an invalid signature. [Reason - The key wa

[2022-04-04 03:14] AdimUser opened #21922 "[prerequisites] for the az ad sp"
Is it possible to include the minimum AD privilege required to  execute the commands

[2022-04-04 03:37] jongio commented on #20315
Can we configure it to be a static port for the codespace scenario?

[2022-04-04 04:19] navba-MSFT commented on #21858
@bacteria673 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-04-04 04:30] navba-MSFT commented on #21697
@a-santamaria Could you please provide an update on this ? Awaiting your reply.

[2022-04-04 04:41] RakeshMohanMSFT commented on #21919
@Kailash-P Thank you for reaching out to us, we are looking into it.

[2022-04-04 04:43] RakeshMohanMSFT commented on #21901
@MindlessMuppet Thank you for reaching out to us. We are looking into it.

[2022-04-04 05:31] yonzhan commented on #21919
route to CXP team

[2022-04-04 05:33] yonzhan commented on #21922
@jiasli for awareness

[2022-04-04 05:34] #21921 closed

[2022-04-04 05:35] yonzhan commented on #21921
Please provide the detailed CLI commands

[2022-04-04 05:35] yonzhan commented on #21920
storage

[2022-04-04 07:28] RakeshMohanMSFT commented on #21919
@Kailash-P Thanks for reaching out to us. You are using an older version of Azure CLI. Please upgrade to the most [recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli) (2.34.1) of the Az CLI and run the command again. Please let me know if you face any issues. Awaiting your reply.

[2022-04-04 07:43] navba-MSFT commented on #21909
@dweverett Apologies for the late reply. Thanks for reaching out to us and sharing this feedback.

Here is the snippet of your error message:

    _, certificate = profile.get_msal_token(scopes, data)
AttributeError: 'Profile' object has no attribute 'get_msal_token'

profile.get_msal_token is guarded. See Lines 161 to 169 in this:
[azure-cli-extensions/src/ssh/azext_ssh/custom.py](https://github.

[2022-04-04 07:58] LotteVoorhorst commented on #21882
For additional information, this error seems to occur when the tenant-based Service Principal has not been added. After adding it, this error doesn't occur anymore. Not closing the ticket, since the error information could be clearer.

[2022-04-04 08:48] jepio commented on #21815
Hi @kangsun-ctrl,

Will it be possible to mark a "community gallery" as "no EULA required", for example when the community gallery image is entirely based on open source software?

First party marketplace images can be used by everyone with no additional setup required. Third party marketplace images require accepting an EULA and providing "plan information" with every VM create request. Forcing u

[2022-04-04 09:24] vladbresan opened #21924 "AKS generated secret is too long for service connection creation (using service account)"
Azure Kubernetes Service generates a service account token that is too long to be used when creating a Kubernetes service connection using the service account as an authentication method.

I have tried both from the command line using and from the web portal to create the service connection but I still get the same outcome.

**The String length exceeds maximum limit. Parameter name: endpoint.Autho