[2021-01-11 08:40] sri1056249 commented on #16485
Closing this issue. After the upgrade of azure cli version it started working.....!

[2021-01-11 08:40] #16485 closed

[2021-01-11 08:41] zhoxing-ms commented on #15462
The case sensitivity of service tag in ARM template requires the support of service

[2021-01-11 08:53] zhoxing-ms commented on #15484
Hi @kingces95, many commands have `--custom` parameter, which command do you refer to?
If you are referring to `az resource wait`, then it's judgment condition is based on the attributes of resources, which can be viewed through the `az resource show` command

[2021-01-11 09:02] zhoxing-ms commented on #15489
Hi @kingces95

1. many commands have `--custom` parameter, which command do you refer to?
If you are referring to `az resource wait`, then it's judgment condition is based on the attributes of resources, which can be viewed by the `az resource show` command.

2. The function of command `az resource show` is as follows:
[code]
If you want to view resource group, please execute `az group show`
[code

[2021-01-11 09:03] zhoxing-ms commented on #15484
It is repeated with #15489, so close this issue

[2021-01-11 09:03] #15484 closed

[2021-01-11 09:16] zhoxing-ms commented on #15491
Hi @bellens99  Sorry, I can't reproduce this issue. May I ask what is the specific error message?

[2021-01-11 09:25] bellens99 commented on #15491
Hi XZ,

It’s already a long time ago and I already found a workaround so it can be considered solved.
It had to do with the order of deleting of things as the title indicates.

Please close the issue.

Thx. Boris

From: Xing Zhou <notifications@github.com>
Sent: maandag 11 januari 2021 10:16
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Ellens, Boris <boris.ellens@accenture.com>; Mention

[2021-01-11 09:26] zhoxing-ms commented on #15511
CLI has no related logic. This error was returned by service, so we need the investigation of service team

[2021-01-11 09:37] zhoxing-ms commented on #15629
Hi @anders-kiaer Sorry, I can't reproduce this issue. When this problem occurs, those resources under this resource group are not deleted or added, right?
If so, please execute `az group list --debug` and email the printed information to me~
My email address is Zhou.Xing@microsoft.com, thanks~

[2021-01-11 09:46] zhoxing-ms commented on #15727
This is a issue related to msrest, I have opend a issue on their repo: Azure/msrest-for-python#219

[2021-01-11 10:01] #15491 closed

[2021-01-11 12:04] mepand commented on #15206
@DoppoM  az backup policy create command now supports creation of IAAS VM policy. Since there is no further action pending from our side, closing this issue. Please feel free to reach out incase of any query.

[2021-01-11 12:04] #15206 closed

[2021-01-11 12:06] mepand commented on #16345
@wallace223 Could you please share the policy details?

[2021-01-11 12:22] ojnas opened #16487 "WebApp:I can't start or update my webapp"
When I run "az webapp up" I get the following error:

Deployment status endpoint ... returns malformed data. Retrying...

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _

[2021-01-11 12:54] bembalkp commented on #16476
any update?

[2021-01-11 13:10] ojnas commented on #16487
I tried to deploy from local git instead but that results in another error:

error: RPC failed; HTTP 409 curl 22 The requested URL returned error: 409 Conflict

I don't know what more to try. Please assist.

[2021-01-11 13:49] panzergame opened #16488 "WebApp:az webapp up DefaultErrorResponseException import error"
I followed tutorial from https://docs.microsoft.com/fr-fr/azure/app-service/quickstart-python?tabs=bash&pivots=python-framework-flask but command `az webapp up --sku F1 --name test-hello-world` is raising an import error.

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitiv

[2021-01-11 13:50] denadr commented on #11598
same issue here.

[2021-01-11 13:56] denadr commented on #11598
Got it: simply use the az webapp auth command but provide your function app name.

`az webapp auth show --name <functionAppName> --resource-group <resourceGroupName>`

I have also tested with the `az webapp auth update` command.

Seems to be just a bit inconsistent :)

[2021-01-11 14:05] terezbw opened #16489 "Upgrade azcopy version at least to 10.6.1"
**Describe the bug**

Command "az storage copy"  copy files with wrong content-type. It appended  ";" at the end.
Example:
"Content-type: text/html;"

It's azcopy bug and it fixed in 10.6.1:
https://github.com/Azure/azure-storage-azcopy/issues/1139

 **To Reproduce**

az storage copy
**Expected behavior**

"Content-type: text/html"
or
"Content-type: text/html;  charset=utf-8"

**Environment summar

[2021-01-11 14:08] terezbw commented on #16489
--- /usr/lib64/az/lib64/python3.6/site-packages/azure/cli/command_modules/storage/azcopy/util.py.ORIG   2021-01-11 16:21:04.772407020 +0300
+++ /usr/lib64/az/lib64/python3.6/site-packages/azure/cli/command_modules/storage/azcopy/util.py        2021-01-11 16:21:48.298409125 +0300
@@ -23,7 +23,7 @@

 STORAGE_RESOURCE_ENDPOINT = "https://storage.azure.com"
 SERVICES = {'blob', 'file'}
-AZCOPY_VERSION

[2021-01-11 14:24] mruepp commented on #16317
This Bug was never solved. The issue Brian mentioned was created in the wrong repo and never solved by the azure-cli team. Any updates? Thanks

[2021-01-11 14:38] vgrebenschikov commented on #16489
Same on macOS,

For me, problem raised in https://github.com/Azure/azure-storage-azcopy/issues/1139 was not solved
- because 'az storage copy ...' still use old version of azcopy

[2021-01-11 18:07] naveenchekuri commented on #16139
Yes. Thank you. please add these features under ' az network virtualhub-router'

[2021-01-11 18:48] kenieva commented on #15242
To the best of knowledge, the standard across Azure Portal is to have Name = display. However, I see how the CLI documentation stating Name of policy assignment, but actually meaning ID of policy assignment can be confusing. I have submitted a request to update. Thank you.

[2021-01-11 18:48] #15242 closed

[2021-01-11 18:53] kenieva commented on #16269
Investigating..

[2021-01-11 18:57] kenieva commented on #16269
Hi @DanielLarsenNZ, it seems that this is a known issue by that RP: https://github.com/Azure/azure-policy#resource-type-query-results-incomplete-missing-or-non-standard-format

[2021-01-11 19:06] kenieva commented on #15422
Hi @SuperTonic09, I was not able to reproduce this issue on my side. Is the definition custom or built-in?

[2021-01-11 20:29] norvegec commented on #12858
Well if you have covered this with tests, you may use the same shared lists of SKUs in tests.
It could be a shared file, for example that you can read once, before all tests run. So when the team extend the list, your tests will fail too - so you know beforehand it's time to adapt.

[2021-01-11 20:49] BrianBasor commented on #16317
Since the `az ad sp create-for-rbac` command has this bug when used from Git Bash on Windows,  I used the following work-around in my bash script:

1. Build a request URL and payload for the REST API as described as described in
  - https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assignments-rest
  - and https://docs.microsoft.com/en-us/rest/api/authorization/roleassignments/

[2021-01-11 20:57] DanielLarsenNZ commented on #16269
Yes that is right :D And on that page is a link to open a support ticket with the Web team, which is how we started with this case in the first place. This scenario is very important to this customer.
![image](https://user-images.githubusercontent.com/2294760/104237197-95dff780-54bc-11eb-892c-980a331ee808.png)

[2021-01-11 22:23] qqnarwhal opened #16491 "CLI 'VirtualMachineScaleSetsOperations' object has no attribute 'reimage'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vmss reimage`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vmss reimage --name {} --resource-group {}`

## Expected Behavior

##

[2021-01-11 22:29] yonzhan commented on #16487
webapp

[2021-01-11 22:30] yonzhan commented on #16488
webapp

[2021-01-11 22:31] yonzhan commented on #16489
storage

[2021-01-11 23:09] plzm opened #16493 "az sig image-version create fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sig image-version create`

**Errors:**
[code]

## To Reproduce:

I set variables and ran three commands:

# Variables
subscriptionId="{OMITTED}"
location1="eastus2"
location2="centralus"
rgName="shared"
galleryName="sig"

galleryImageDefinition="ws2019"
osType="Windows" # Windows or Linux

[2021-01-11 23:10] plzm commented on #16466
@qwordy Will this fix also address https://github.com/Azure/azure-cli/issues/16493?

[2021-01-11 23:36] kenieva commented on #16269
If they have added the change into swagger, the only action on the policy side would be to create aliases. But per our discussion, it seems that the aliases are exposed.

[2021-01-12 00:13] yungezz commented on #16493
hi @qwordy is this fixed?

[2021-01-12 00:13] yungezz commented on #16491
@qwordy is this fixed?

[2021-01-12 02:08] jiasli commented on #16476
@bembalkp could you run `az login --debug` and share the output?

[2021-01-12 02:13] qwordy commented on #16491
@qqnarwhal Thank you for reporting this issue. It is fixed now. Release date is 01/19/2021.
PR: https://github.com/Azure/azure-cli/pull/16483
Similar issue: https://github.com/Azure/azure-cli/issues/16465

[2021-01-12 02:13] #16491 closed

[2021-01-12 02:21] DanielLarsenNZ commented on #16269
Here is where the property was added to rest-api-specs by the Web team. Apparently it's available as of version `2020-09-01`.

https://github.com/Azure/azure-rest-api-specs/commit/7c3af69837d5f90812c1c7052b5e1c2ab750ca71

[2021-01-12 02:21] qwordy commented on #16493
@plzm Thank you for reporting this issue. It was fixed by https://github.com/Azure/azure-cli/commit/72c2203957760402e115e2056d018aa7a520d7bc.
Release date: 01/19/2021

[2021-01-12 02:24] qwordy commented on #16466
Yes. Same issue.

[2021-01-12 02:26] plzm commented on #16493
@qwordy  Thank you. Which version of azure-cli will that be? I am currently running latest, 2.17.1 on WSL2/Ubuntu 20.04.

BTW there is also an Azure portal problem. When creating a new image version, the portal will not allow existing images in same region to be used, even if it shows them in the image dropdown and same region as selected on image blade is selected. Where should I report what is a

[2021-01-12 02:37] zhoxing-ms commented on #15724
Hi @BhargaviAnnadevara-MSFT  this is by design. `az configure` and `az config` are not used to set the default value for all commands
Commands that can set default values will be prompted in help, such as `az webapp up -h`

[code]
However `az group create` does not indicate support for default values
[code]

[2021-01-12 03:25] qwordy commented on #12858
@norvegec Thank you for your method. I am wondering why my tests will fail when other team extends support with more SKUs. Do you mean I add a test to test whether the latest SKUs returned by service is same as local copy?

[2021-01-12 03:32] #16160 closed

[2021-01-12 07:03] #15856 closed

[2021-01-12 07:08] qwordy commented on #16493
It will be 2.18.0.

You can click the "?" button in Portal to report an issue.

![image](https://user-images.githubusercontent.com/5019528/104281070-d739cc80-54e7-11eb-824b-844bc46e19f6.png)

[2021-01-12 08:01] Shuanglu opened #16496 "The 'az ad sp credential reset' resets the password on application but not sp itself?"
**Describe the bug**

1. Run 'az ad spcredential reset' it calls ' /<tenantID>/applications/<applicationID>?api-version=1.6' instead of  '/<tenantID>/servicePrincipals?api-version=1.6' to reset the password.
2. When my app object doesn't hv the secret and sp has the secret, the 'az ad sp credential list' returns empty. Firstly it checked the credential of sp but finally it returned the result of a

[2021-01-12 08:09] JasonYuchen commented on #16337
Sorry, our project uses account name and key to access the blob resources. It would be better the "--requires-sync true" could work as expectation.

[2021-01-12 08:42] alexeyshishkin01 commented on #15856
hello, all !

it still does not work for me

pls. see below:

root@Alexey-HP:~# az --version
azure-cli                         2.17.1

core                              2.17.1
telemetry                          1.0.6

Python location '/opt/az/bin/python3'
Extensions directory '/root/.azure/cliextensions'

Python (Linux) 3.6.10 (default, Dec 31 2020, 08:28:47)
[GCC 9.3.0]

Legal docs and informatio

[2021-01-12 10:05] narendraugh opened #16497 "Error - Storage explorer cant open file share and blob container from windows VDI"
**Describe the bug**
Not able to open file share and Blob container content from storage explorer

**To Reproduce**
Able to Login with my company credentials
I am able to see all the storage accounts
But when i trying to open File share content, pops up below error:

**Error:**
Unable to retrieve child resources.

Details:
This request is not authorized to perform this operation.
RequestId:37a6536

[2021-01-12 10:18] yonzhan commented on #16497
Storage

[2021-01-12 10:30] yonzhan commented on #16496
az ad

[2021-01-12 12:14] Juliehzl commented on #16497
@zezha-msft Do you know how to transfer this issue to storage explorer team? It is not CLI issue.

[2021-01-12 13:30] 3vi1 opened #16498 "API version 2020-04-01-preview does not have operation group 'role_assignments'"
The following occurs when trying to display the assignment list from the 'az role assignment' on Linux.  The same command, runs without error from the same version of az in the cloud shell, with the same core and telemetry versions.

**Command Name**
`az role assignment list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as the

[2021-01-12 13:33] yonzhan commented on #16498
az role

[2021-01-12 13:47] 3vi1 commented on #16498
This appears to be related to https://github.com/Azure/azure-cli/issues/13827.  Backleveling to azure-cli 2.16 worked as a workaround.

[2021-01-12 14:42] Edblakejitsuin commented on #15411
also affected by this

[2021-01-12 14:42] norvegec commented on #12858
@qwordy the way I see it:
Given: Team A develops system, Team B - develops tooling (CLI).
Problem: Team A rolls up major version of the system into production. This new version implies that Team B need to adjust tooling accordingly. Until Team B does that, customers cannot use certain part of tooling.
_A_ solution: Team A and B comes up with a convention: Since Team A owns a product their version

[2021-01-12 14:44] norvegec commented on #12858
As part of CI/CD of Team B this exposed new version of file from Team A could be downloaded into work folder and referenced directly in tests.

[2021-01-12 14:45] plynch66 opened #16499 "AttributeError: 'NetworkProfile' object has no attribute"
Hi,

I am trying to create an ACI in a VNet in West Europe (a supported region for this scenario) and on the first run I see the following error message.

If I run the command a second time it succeeds.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavio

[2021-01-12 16:07] saikiran-karumuri-by opened #16501 "We are seeing network connection issues with az deployment group"
Hi Team,

we are using AZ CLI deployment group commands to deploy ARM templates to Azure part of our automation. But from the past 3 days (01/08/2021) we are seeing frequent network connectivity issue.

Error: Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /********-1262-420b-a94b-4f542028****

[2021-01-12 16:16] mhaarbrink opened #16502 "functionapp: ARR Affinity and plan descruction"
**Describe the bug**
When using az cli to deploy a web app I am able to configure ARR Affinity using the following:
`az webapp update --client-affinity-enabled.`

When trying to configure the same for functionapp there is no such command.

When I delete the functionapp to try recreating from scratch, it deletes the app plan because unlike webapp commands there is also no option to keep-empty-plan

[2021-01-12 16:41] tomklino commented on #16418
Just FYI, I looked around in the portal where it lists the certificates and reviewed the network requests and I did see it the response. I'm thinking there might be a filter for failed certificate or a missing argument in the api call

[2021-01-12 17:26] MoueenShaik opened #16503 "Always getting the remote exception message after executing the az storage blob upload"
Hello Team,

I am trying to upload the files to the Azure blob storage by using the following command.

 **az storage blob upload --only-show-errors   --auth-mode login --account-name "BlobName" -c "folder\testing" -f "D:\localfile.txt" -n "localfile.txt"**

file is uploading successfully, but I am getting the below exception in the PowerShell output window.

Output after executing the commad:
az

[2021-01-12 17:27] MoueenShaik opened #16504 "Always getting the remote exception after executing the az storage blob upload"
Hello Team,

I am trying to upload the files to the Azure blob storage by using the following command.

 **az storage blob upload --only-show-errors   --auth-mode login --account-name "BlobName" -c "folder\testing" -f "D:\localfile.txt" -n "localfile.txt"**

file is uploading successfully, but I am getting the below exception in the PowerShell output window.

Output after executing the commad:
az

[2021-01-12 19:08] niswitze opened #16505 "AKS command set - update command not working with --api-server-authorized-ip-ranges parameter set to """
**Describe the bug**
Currently, the parameter for removing authorized ip ranges for the Kubernetes API Server in the AZ CLI does not work. The public and CLI documentation state to set the parameter --api-server-authorized-ip-ranges to "" and that will set the authorizedIpRanges field to null. Performing this just causes a bad syntax error to occur. The only way to get around this is to directly s

[2021-01-12 19:11] mikeclearbank commented on #16312
same issue
![image](https://user-images.githubusercontent.com/47777618/104361095-ea5d9400-5509-11eb-9862-4e9e1e4b5c8f.png)

[2021-01-12 19:48] teusbenschop commented on #16312
I had the same issue, then opened a support request on Azure, then an Indian MS Support engineer contacted me, and we resolved the issue. Supposedly they changed something in Azure.

[2021-01-12 21:00] yugangw-msft commented on #16312
CC @adewaleo to cross check the registry's log for the error from @teusbenschop.  The error from @mikeclearbank appears from ARM which is not ACR

[2021-01-12 22:10] chiqomar opened #16506 "/proc/stat permission denied traceback after running successful commands in Termux on Android"
**Describe the bug**

I installed the azure cli on Termux on my Samsung S20 Plus, currently running Android 11, and almost everything works. In fact, I'm not sure what isn't working except for the following traceback I receive after the completion of every single command:
[code]
**To Reproduce**

I believe it just involves install azure-cli on Termux. I used [these instructions](https://www.brianl

[2021-01-12 22:35] amitbapat opened #16507 "az keyvault key create shows extremely confusing error message"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault key create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault key create --hsm-name mhsmdemo2 --kty EC-HSM --curve

[2021-01-12 22:55] yonzhan commented on #16499
container

[2021-01-12 22:55] yonzhan commented on #16502
functionapp

[2021-01-12 22:56] yonzhan commented on #16501
ARM

[2021-01-12 22:57] yonzhan commented on #16503
storage

[2021-01-12 22:58] yonzhan commented on #16504
storage

[2021-01-12 23:01] yonzhan commented on #16505
aks

[2021-01-12 23:49] naveenchekuri opened #16508 "Rename az cli cmdlets"
**Resource Provider**
Microsoft.Network

**Description of Feature or Work Requested**
We would need to rename following cli commands to match marketing team's requirement.

az network vrouter create -> az network routeserver create

az network vrouter delete -> az network routeserver delete

az network vrouter list -> az network routeserver list

az network vrouter peering -> az network routeserve

[2021-01-13 00:47] Pradip04 opened #16509 "webapp: Create an app service environment with Os support as linux"
Hello Team
              I don't see an option to create an app service env hosted on a linux machine via cli. The only option is to first create the default one on windows and switch over. It would be helpful if we can pass the Os type as well.

Thanks
Pradeep

[2021-01-13 02:57] yonzhan commented on #16509
app service

[2021-01-13 02:58] yonzhan commented on #16508
app service

[2021-01-13 03:47] yungezz opened #16511 "[Databricks] Support NPIP"
**Resource Provider**

Databricks

**Description of Feature or Work Requested**

Support NPIP.

spec: https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FAzure%2Fazure-rest-api-specs%2Fblob%2Fmaster%2Fspecification%2Fdatabricks%2Fresource-manager%2FMicrosoft.Databricks%2Fstable%2F2018-04-01%2Fdatabricks.json&data=04%7C01%7Cyungez%40microsoft.com%7C6f416ac922af44dfc14308d

[2021-01-13 03:48] yungezz commented on #16511
databricks ask. service GA around end of Jan.

[2021-01-13 03:57] avinash-kaushik opened #16512 "Unable to generate the install-CLI command."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

getting error "Permission denied: '/usr/local/bin/kubelogin'"

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks

[2021-01-13 04:36] yonzhan commented on #16512
aks

[2021-01-13 05:32] teusbenschop commented on #16312
You are correct, the issue from @mikeclearbank differs from mine.

[2021-01-13 05:41] naveenchekuri commented on #16139
@kairu-ms routeserver is the final name change we agreed upon with marketing. please add these features under "az network routeserver"

[2021-01-13 06:51] satheeshpayoda opened #16513 "Not able to create Metric Alert using Azure CLI"
## Describe the bug
I'm trying to create CPU alert for VM using Azure CLI command but failing with weird error. Even i set region using --region explicitly but same error.

**Command Name**
`az monitor metrics alert create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior.

- `az monitor metrics alert create -n {} -g {} --scopes {} --condition {} --window-size {} --evaluation-

[2021-01-13 07:02] yonzhan commented on #16513
monitor

[2021-01-13 07:26] MarkAtAgilliance opened #16514 "az keyvault create returns "Unable to find user with spn 'systemAssignedIdentity'" when logged in with MSI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When using a desktop with a user signed into the browser (az login), the command succeeds (same tenant, same resource, etc)
When signed into a VM with an MSI enabled and using az login --identity, it fails as below.
When adding the --no-self-perms flag, it succeeds.

It is not clear why the no-self-perms flag i

[2021-01-13 09:45] dhaugli opened #16515 "Az aks get-credentials crash"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials -n {} -g {} -f {} -f`

## Expected Behavio

[2021-01-13 10:42] yonzhan commented on #16515
aks

[2021-01-13 11:33] Splaxi commented on #13655
I hit the same issue.

I added the --timeout 360 to my command and it seems to have made a difference.

[2021-01-13 11:33] Splaxi commented on #11980
I hit the same issue.

I added the --timeout 360 to my command and it seems to have made a difference.

[2021-01-13 11:39] yungezz commented on #16514
hi @houk-ms could you pls help on this?

[2021-01-13 11:40] yungezz commented on #16507
hi @houk-ms could you pls help on this

[2021-01-13 11:41] yungezz commented on #16506
hi @fengzhou-msft could you pls help to have a look?

[2021-01-13 11:42] yungezz commented on #16515
hi @fengzhou-msft could you pls help to look is this caused by cffi dependency? thanks

[2021-01-13 11:42] yungezz commented on #16512
#16070

[2021-01-13 11:47] Xenomorfo opened #16517 "Az Login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2021-01-13 11:50] yonzhan commented on #16517
az login

[2021-01-13 12:24] jiasli commented on #16517
``l.append("%s=%s" % (attr, `value`))`` was changed to `l.append("%s=%s" % (attr, repr(value)))` 10 years ago (https://github.com/dateutil/dateutil/commit/ac37a80ce677025e03951091284feab1eadc0404).

It looks like you used `pip` to install a very old version of [python-dateutil](https://pypi.org/project/python-dateutil/) which doesn't work in Python 3.

To revert it, please install the specified ve

[2021-01-13 13:10] mossywell commented on #15368
@amitpuri Couple of things (assuming you are using Vault access policy, not RBAC):
1. I found that when using the CLI, the permissions need to be granted to "Microsoft Azure App Service", not yourself.
2. I think this is a bug in the CLI: you need to make sure that Microsoft Azure App Service has "get" on _Secret_ Permissions even if you are only using Certificates in the KV.

[2021-01-13 14:12] dhaugli commented on #16515
Hi, this issue can be closed. It got solved once I updated python :)

[2021-01-13 14:12] #16515 closed

[2021-01-13 14:27] MaxTranced opened #16519 "azcopy is given more powerful SAS than needed (has write, only needs read)"
**Is your feature request related to a problem? Please describe.**
Using `azure-cli` ` 2.17.1`, when copying a blob from a blob storage account to a local file using `azcopy` (via `az storage copy`), even though I am logged in, a SAS is generated. The SAS is displayed as a part of the console output with no censoring whatsoever (which makes it more likely to accidentally leak) and it includes more

[2021-01-13 14:46] yonzhan commented on #16519
storage

[2021-01-13 15:53] saikiran-karumuri-by commented on #16501
@yonzhan - Any idea why we are having that error? Is it because of AZ CLI  or AZ Login?

[2021-01-13 15:54] samueljamkhandi-MSFT opened #16520 "Unable to remove VMSS from the Application Gateway backend pool"
Unable to remove VMSS from the Application Gateway backend pool using CLI.

samuel@Azure:~$ **az --version**
**azure-cli                         2.17.1**

**Add VMSS to App Gw Backend pool works fine:**

az vmss update --resource-group vnet3 --name testvmss --add virtualMachineProfile.networkProfile.networkInterfaceConfigurations[0].ipConfigurations[0].ApplicationGatewayBackendAddressPools '{"id":

[2021-01-13 16:54] thatscotdatasci commented on #13655
Hitting this issue too - already on a premium plan, and unfortunately the timeout argument doesn't appear to have improved anything (doesn't even appear to be being honoured for the call that's hitting the timeout)

[2021-01-13 17:06] panchagnula commented on #16200
@calvinsID seems like the error here is the SCM endpoint query to deployment status it returning malformed data "Deployment status endpoint https://some-unique-app-name-here.scm.azurewebsites.net/api/deployments/latest returns malformed data. Retrying..."  may be @sanchitmehta can help us figure out why this happens during deployment.
While this is not a directly an issue with az webapp up - we ca

[2021-01-13 17:07] panchagnula commented on #16509
@madsd FYI.

[2021-01-13 17:10] panchagnula commented on #16378
@hund030 unfortunately this restriction on the naming of the RG format is coming from the Swagger, which CLI & PS commands use. Transferring this to swagger Github repo for tracking.

[2021-01-13 17:14] panchagnula commented on #16118
@dev-playbook thanks for reporting. I am wondering if this is because the default subscription CLI is logged into is different from the subscription these resources are on? can you try the same command with the --subscription parameter at the end.
@madsd since this command is for ASE - tagging you on this as well.

[2021-01-13 17:15] panchagnula commented on #16111
@JasonFreeberg is the swagger already updated for this & is ready for development?

[2021-01-13 17:17] panchagnula commented on #16076
@yonzhan this error seems to be due to incomplete install of azure-cli see the error is about missing packages. Thanks!

[2021-01-13 17:18] panchagnula commented on #16066
@calvinsID this is due to the change we allow space to be a delimiter for runtime language & version. Can you take a look. Thanks!

[2021-01-13 17:19] panchagnula commented on #16026
@madsd since you own these commands please take a look. Thanks!

[2021-01-13 17:24] panchagnula commented on #15728
@link78 I see that you are creating a Linux ASP on this RG - does this RG already host ASPs that have windows applications. Currently we can't mix Linux & windows resources under the same RG. Can you try with a new empty RG & let us know if you see the same error? Thanks!

@sanchitmehta can you help here - creating a Linux ASP is giving the following error "Requested feature is not available in re

[2021-01-13 17:26] asilverman opened #16521 "Feature Request: Open resource in browser (Azure Portal)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
It would be nice if I am working on a specific azure resource to be able to ask the az-cli to open it in my browser so I can explore/change its settings
**Command Name**
``

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive

[2021-01-13 17:29] panchagnula commented on #14427
Moving to backlog since Byron is OOF.

[2021-01-13 17:30] gietal opened #16522 "error when running `az vmss reimage` from azure cloud shell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vmss reimage`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vmss reimage --resource-group {} --name {}`

## Expected Behavior
acc

[2021-01-13 17:31] panchagnula commented on #12834
@madsd I am assuming this is supported by using the resource ID but I am not sure - can you please comment? Thanks!

[2021-01-13 17:34] panchagnula commented on #9804
@singlessis we should add hostname parameter support to az webapp config ssl bind command https://docs.microsoft.com/en-us/cli/azure/webapp/config/ssl?view=azure-cli-latest#az_webapp_config_ssl_bind

[2021-01-13 17:35] #9291 closed

[2021-01-13 17:37] madsd commented on #12834
Yes - subnet also accepts a resource id for the subnet. So either: --subnet ID or (--subnet NAME and --vnet-name NAME)

[2021-01-13 17:38] panchagnula commented on #16488
@calvinsID this is concerning can you take a look.

[2021-01-13 17:38] madsd commented on #12834
@batanun can you verify that you can use this?

[2021-01-13 17:38] panchagnula commented on #16487
@calvinsID second case with the error.

[2021-01-13 17:40] panchagnula commented on #16477
@ThejaChoudary / @Kotasudhakarreddy could one of you investigate this. Thanks!

[2021-01-13 18:55] panchagnula commented on #15368
CLI does not set any permissions on the customers AKV & hence throws the warning with the info on what access permissions are needed & set it themselves. the following CLI command can be used to set the right permissions az keyvault set-policy -n sisirap-KV-2 --secret-permissions get --spn SPAppId

[2021-01-13 18:56] MehaKaushik commented on #15576
I have removed "cosmos" label. This label indicates that the issue is related to az cli cosmosdb. We are tracking these issues and since this issue is not related to cosmosdb cli, I am removing the label.

[2021-01-13 19:03] kenieva commented on #16269
Policy operates on the latest version so the property should have been added. So the alias has been updated and exposed, but is it still not working as required?

[2021-01-13 19:09] dbradish-microsoft opened #16523 "webapp:Reference clarification request for az webapp up"
**Resource Provider**
az webapp up [examples](https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az_webapp_up-examples)

**Description of Work Requested**
I was asked to clarify this statement: "Deploy new code to an app that was originally created using the same command".  If the following statement is correct, can the auto-gen reference content be updated?  Interpretation: _

[2021-01-13 19:30] ShayYannay opened #16524 "Unable to login to azure using 'az login' from linux (ubuntu on windows 10)"
Hi,
I'm unable to login to azure using 'az login' running on Linux 4.4.0-18362-Microsoft x86_64 (uses Ubuntu application from windows 10)

Got the following error:
_Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /common/oauth2/token (Caused by NewConnectionError('<urllib3.connection.VerifiedHT

[2021-01-13 20:16] nameier opened #16525 "issue with Azure CLI command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vmss update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vmss update -g {} -n {} --set {}`

## Expected Behavior

## Environmen

[2021-01-13 20:58] blackbox-tech opened #16526 "Please help maintain the Azure-cli conda packages"
The azure-cli packages on [conda-forge](https://anaconda.org/conda-forge/azure-cli-core) and [bioconda](https://anaconda.org/bioconda/azure-cli) are over a year out of date.  As a result, Azure is not really usable with conda (for example only the legacy _azure cli_, rather than the _az cli_ is available into a conda environment and not with python 3.8 or 3.9).  You can hack it by using pip to ins

[2021-01-13 22:09] lilyjma commented on #11921
Hi, this issue seems to be resolved, so I'll close it for now. Please reopen if you have more questions.

[2021-01-13 22:09] #11921 closed

[2021-01-13 22:12] lilyjma commented on #11965
Close since the other issue talks about this problem.

[2021-01-13 22:12] #11965 closed

[2021-01-13 22:40] stefanushinardi commented on #16448
Closing as it has been fixed

[2021-01-13 22:40] #16448 closed

[2021-01-13 22:43] serprex opened #16527 "az redis create fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az redis create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az redis create --resource-group {} --name {} --sku Basic --vm-size C0 --minimum-tls-version 1.2`

## Expected B

[2021-01-13 22:47] yonzhan commented on #16521
Please describe the detailed info including CLI commands if this issue is related to Azure CLI.

[2021-01-13 22:48] yonzhan commented on #16076
@yungezz @fengzhou-msft to help with.

[2021-01-13 22:54] yonzhan commented on #16523
webapp

[2021-01-13 22:54] yonzhan commented on #16524
az login

[2021-01-14 00:27] intel-ohara opened #16529 "az command fails with unexpected error in azure-cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account list`

**Errors:**
[code]

## To Reproduce:
I didn't have any problem when I used azure-cli yesterday. When I execute "az iot hub create ..." today, I got an unexpected failure. Then, I logged out and log in my Azure account. I tried same command and "az account list", but both fai

[2021-01-14 01:55] yonzhan commented on #16527
redis

[2021-01-14 01:58] yonzhan commented on #16529
account

[2021-01-14 02:56] kairu-ms commented on #16139
Done

[2021-01-14 04:58] #15742 closed

[2021-01-14 04:58] #15743 closed

[2021-01-14 07:48] yungezz commented on #16526
hi @fengzhou-msft could you pls help to have a look? thanks

[2021-01-14 07:49] yungezz commented on #16522
hi @qwordy could you pls confirm if this issue fixed.

[2021-01-14 07:50] yungezz commented on #16525
hi @qwordy could you pls help to have a look?

[2021-01-14 10:38] ShayYannay commented on #16524
Note that i'm using WSL (https://docs.microsoft.com/en-us/windows/wsl/install-win10) installed via Ubuntu app from Windows Store.

Tried 'nslookup login.microsoftonline.com' but keeping getting blocked, i'm able to nslookup for example to google.com

[2021-01-14 11:04] jiasli commented on #16524
Azure CLI relies on https://login.microsoftonline.com/ for authentication. If DNS lookup fails, CLI will simply not work.

Could you share the result of `nslookup login.microsoftonline.com` when you run it from WSL?

This issue has been reported before at https://github.com/microsoft/WSL/issues/5991. Could you try changing `/etc/resolv.conf` to Google's `8.8.8.8` and `8.8.8.4` and see if that work

[2021-01-14 11:04] glaubitz commented on #15530
It seems that there is another incompatibility with ```azure-mgmt-resource``` with ```azure-cli-core```:

[code]

[2021-01-14 11:34] glaubitz commented on #15530
I can confirm that downgrading ```azure-mgmt-resource``` to version 10.3.0 fixes the problem for me.

So, it seems that the subscription module isn't the only module affected by the API change in ```azure-mgmt-resource```.

[2021-01-14 12:47] jaceks2106 commented on #15382
Are you sure? According to the MSDN, maximum is 25.
https://docs.microsoft.com/en-us/cli/azure/keyvault/certificate?view=azure-cli-latest#az_keyvault_certificate_list
![image](https://user-images.githubusercontent.com/17142439/104592801-0af32e80-566f-11eb-89ed-6c1448fb2fe6.png)

[2021-01-14 13:29] ShayYannay commented on #16524
Thanks @jiasli it appear that this issue is a communication problem with WSL as you mentioned above.
I've asked 2 of my colleges to assist and they recommended one of the following solutions:
1) Modify /etc/hosts and add entry for login.microsoftonline.com
2) A more general solution follow the steps in here - https://github.com/microsoft/WSL/issues/5256#issuecomment-666545999

[2021-01-14 13:44] bergmeister commented on #9158
@Juliehzl The policy is active and has all possible permissions:
![image](https://user-images.githubusercontent.com/9250262/104598505-8ef8e680-566e-11eb-99bb-05dee9c293a5.png)

[2021-01-14 13:49] kindcleverlion opened #16533 "Set-AzStorageBlobContent : Can not find the specified file"
I am working on a PowerShell code that is expected to upload a JSON file to my azure Blob Storage. My PowerShell code is saved in my local drive/folder and I am running that azure PowerShell CLI.
My Environment :
{ "azure-cli": "2.17.1", "azure-cli-core": "2.17.1", "azure-cli-telemetry": "1.0.6", "extensions": {} }

My PowerShell is falling on this command.

Set-AzStorageBlobContent -Container $co

[2021-01-14 14:03] serprex commented on #16527
I've checked that there's no create method in /usr/lib/python3/dist-packages/azure/mgmt/redis/operations/_redis_operations.py for me

Meanwhile my colleague verified that there was a create method on their system. Not sure how to figure out what version of azure.mgmt I have

[2021-01-14 14:11] zhoxing-ms commented on #15530
@glaubitz Yes, the `resource` module will also be affected because it is not compatible with the Track 2 SDK.
In Track2 SDK (`azure-mgmt-resource`==15.0.0), the name of method `delete` is changed to `begin_delete`, which leads to the error of `type object 'ResourceGroupsOperations' has no attribute 'delete'`. [code link](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/resources/azure

[2021-01-14 14:35] glaubitz commented on #15530
I assume you mean, the ```resource``` module will be compatible again since currently it is not which causes the errors in ```resource``` and ```subscription``` modules in Azure CLI.

[2021-01-14 15:28] TobiMichael96 opened #16534 "Error when creating image for image-gallery from image in different resource group"
### **This is autogenerated. Please review and update as needed.**

## Error when creating image for image-gallery from image

I try to create an image for an image-gallery from an image in a different resource group.

**az sig image-version create**
[code]

**Errors:**

[code]

## To Reproduce:

Create a virtual machine, deallocate it, generalize it, create an image from it.

## Expected Behavior

[2021-01-14 15:36] TobiMichael96 commented on #16534
I think this can be closed as this error is pretty similar to the one here: #16466.

So I guess it will be fixed with the new version.

Can you guys confirm this?

[2021-01-14 16:49] JFolberth opened #16535 "WebApp:Incorrect Optional Parameters listed for appsettings set"
For appsettings set it lists all parameters as optional.  This is not accurate.  I am not 100% sure on this and this why I am not submitting a PR.

From my playing around I beleve it should be either --ids required or --name AND --resource-group required like it is in the list command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2021-01-14 17:39] MoueenShaik commented on #16504
Hello Team,

Any update on the above query?

Thanks & Regards,
Moueen Shaik

[2021-01-14 19:24] apawast commented on #16502
@fabiocav @ankitkumarr do you know who could help investigate this?

[2021-01-14 19:43] fabiocav commented on #16502
@apawast I believe this is purely a gap in functionality at this point and we just need to add support for that in the command. Not sure there's much more to investigate. The work just needs to be assigned.

[2021-01-14 20:14] MaurGi opened #16537 "is `az kusto` supported or not?"
Look at the top note:

This module will not be supported starting January 1, 2021. Please execute "az extension add -n kusto" to install the supported Kusto extension.

Is it not the same module? are there two modules named kusto? if so where is the documentation of the supported one?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue link

[2021-01-14 20:34] mossywell commented on #12369
Are there any workarounds or do we just have to wait for a fix?

[2021-01-14 23:37] jlienSage opened #16538 "WebApp: az webapp config ssl create has inconsistent output between Linux and Windows"
## Describe the bug

The command `az webapp config ssl create` outputs the following on Windows:
[code]
Linux:
[code]

**Command Name**
`az webapp config ssl create`

## To Reproduce:
Run `az webapp config ssl create`.

## Expected Behavior
Output is the same on both platforms.

## Environment Summary
WSL (Ubuntu)
[code]
Windows
[code]

## Additional Notes

`az webapp config ssl show` has the same

[2021-01-14 23:58] vjagadish1989 commented on #12461
i have the exact same issue, this is one of the most confusing parts of Azure!!

[2021-01-15 01:13] yungezz commented on #16538
route to appropriate team

[2021-01-15 01:14] yungezz commented on #16535
route to appropriate team

[2021-01-15 01:22] yungezz commented on #16537
It's extension to support kusto RP. the doc is here: https://docs.microsoft.com/en-us/cli/azure/ext/kusto/?view=azure-cli-latest

[2021-01-15 01:23] yungezz commented on #16534
hi @qwordy could you pls help to confirm?

[2021-01-15 01:37] JaikishanRupani commented on #10028
@zhoxing-ms Fix for the location header issue has been deployed now. You can test it again.

[2021-01-15 01:47] abdullah1133 opened #16539 "bug in mslearn-improve-app-scalability-resiliency-with-load-balancer - fails to execute command - az network nic ip-config update"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network nic ip-config update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network nic ip-config update --resource-group {} --ni

[2021-01-15 02:02] JiandongRuan opened #16541 "Wording for --license-type is vague"
I ran into an issue with enabling Azure Hybrid Benefit on VMSS. It took Azure support 2+ weeks to figure out what's going on. Eventually, the issue was resolved with the help from Azure dev team.

If the documentation of "--license-type" were clear, the Azure support ticket could have been avoided.

Current wording:

"To enable Azure Hybrid Benefit for Windows Server, use 'Windows_Server'"

This g

[2021-01-15 02:30] yonzhan commented on #16533
Please open this issue in azure-powershell repo.

[2021-01-15 02:30] #16533 closed

[2021-01-15 02:35] jiasli commented on #16524
I am glad to know the issue of Azure CLI is fixed, and many thanks for the helpful link. For anything else regarding Azure CLI, please feel free to let us know.

[2021-01-15 02:35] #16524 closed

[2021-01-15 02:37] Hiroaki-Tsutsumi commented on #16207
Can you please tell me the current status of this event?

[2021-01-15 02:47] yonzhan commented on #16539
network

[2021-01-15 02:55] yonzhan commented on #16207
Monitor service team should look into this issue.

[2021-01-15 02:56] qwordy commented on #16534
@TobiMichael96 Thank you for reporting this issue. It was fixed by https://github.com/Azure/azure-cli/commit/72c2203957760402e115e2056d018aa7a520d7bc.
Release date: 01/19/2021

[2021-01-15 02:56] qwordy commented on #16534
Yes, you are right.

[2021-01-15 02:57] #16534 closed

[2021-01-15 03:00] #16066 closed

[2021-01-15 03:15] qwordy commented on #16522
Hi @gietal, thank you for reporting this issue. It is fixed by https://github.com/Azure/azure-cli/commit/3269d06a0ab0ad235a1ad1a04b944e3f19b746ef.
Release date is 1/19/2021.

[2021-01-15 03:15] #16522 closed

[2021-01-15 03:16] #15368 closed

[2021-01-15 03:28] qwordy commented on #16525
@nameier I have seen this issue multiple times. I will prioritize it.

[2021-01-15 03:46] zhoxing-ms commented on #10028
@JaikishanRupani Thank you for your notice. I have verified it and this issue has been solved

[2021-01-15 03:46] #10028 closed

[2021-01-15 05:06] suaknab opened #16544 "az group delete : FAILURE."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group delete {}`

## Expected Behavior

## Environment Summary
[code]

[2021-01-15 05:07] suaknab opened #16545 "az group delete : RUNNING (Unable to delete resource group"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group delete`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group delete --name {}`

## Expected Behavior

## Environment Summary
[code]

[2021-01-15 05:08] jiasli commented on #16459
Azure CLI can take advantage of `TokenCredential` if https://github.com/Azure/azure-sdk/issues/2189 is implemented.

[2021-01-15 05:17] yungezz commented on #16541
add @qwordy to help with.

[2021-01-15 05:59] yonzhan commented on #16544
ARM

[2021-01-15 06:01] rajbiswal opened #16546 "Unable to run az aks get-credentials"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --name {} --resource-group {}`

## Expecte

[2021-01-15 06:16] qwordy opened #16547 "Live test regression"

[2021-01-15 06:17] qwordy opened #16548 "Live test regression"
## Test

[2021-01-15 06:18] #16547 closed

[2021-01-15 06:18] #16548 closed

[2021-01-15 06:22] yonzhan commented on #16545
ARM

[2021-01-15 06:25] yonzhan commented on #16546
aks

[2021-01-15 06:37] #15052 closed

[2021-01-15 06:47] rajbiswal commented on #16546
I am able to resolve the issue by the following steps:

Created ~/.kube/config with the following contents:
apiVersion: v1
clusters: []
kind: Config

$ az aks get-credentials --name IDE_Che_Cluster_Dev --resource-group IDE_Che
/Users/RajendraBiswal/.kube/config has permissions "644".
It should be readable and writable only by its owner.
Merged "IDE_Che_Cluster_Dev" as current context in /Users/Raj

[2021-01-15 06:47] #16546 closed

[2021-01-15 07:24] Juliehzl commented on #16504
Hi @MoueenShaik, could you show me your debug info with `--debug` in your command?

[2021-01-15 07:56] Juliehzl commented on #9158
Hi @bergmeister , it is because you specify expiry time both in policy and --expiry. Please remove `--expiry` in your command and it should work.

[2021-01-15 07:58] Juliehzl commented on #9158
Hi @cbellee, please remove --permission in your `generate-sas` command because you already define it in your policy.

[2021-01-15 09:01] Juliehzl commented on #16519
Thanks @MaxTranced  for your feedback. We need to integrate with Azcopy to use `az login` credentials. @zezha-msft we could set up a meeting for the usage.

[2021-01-15 09:05] Juliehzl commented on #16503
dupe of #16504

[2021-01-15 09:06] #16503 closed

[2021-01-15 09:06] Juliehzl commented on #16489
Thanks for the feedback. We will upgrade it in next release

[2021-01-15 09:20] qwordy opened #16553 "Live test regression"
[Latest testing results of Azure CLI](https://clitestresultstac.blob.core.windows.net/latest/index.html)

    Modules that have regression

    | Module | Pass | Fail | Pass rate | Detail | Date | Time |
    | --- | --- | --- | --- | --- | --- | --- |
    | acs | 134 | 10 | 93.06% | [Link](https://clitestresultstac.blob.core.windows.net/20210108-054003-141548/index.html) | 20210108 | 054003 |
| ac

[2021-01-15 09:21] #16553 closed

[2021-01-15 09:22] qwordy opened #16554 "Live test regression"
[Latest testing results of Azure CLI](https://clitestresultstac.blob.core.windows.net/latest/index.html)

Modules that have regression

| Module | Pass | Fail | Pass rate | Detail | Date | Time |
| --- | --- | --- | --- | --- | --- | --- |
    | acs | 134 | 10 | 93.06% | [Link](https://clitestresultstac.blob.core.windows.net/20210108-054003-141548/index.html) | 20210108 | 054003 |
| acs | 135 | 9

[2021-01-15 09:22] yonzhan commented on #16554
Live test

[2021-01-15 09:23] #16554 closed

[2021-01-15 09:23] yonzhan commented on #16554
@Juliehzl for awareness

[2021-01-15 09:32] qwordy opened #16555 "Live test regression"
This issue is created by a [program](https://github.com/qwordy/azure-cli/blob/CLITest/scripts/live_test/monitor.py).

[Latest testing results of Azure CLI](https://clitestresultstac.blob.core.windows.net/latest/index.html)
[User Manual of Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EZGC9LwrN3RAscVS5ylG4HMBX9h7W0ZSA7CDrhXN5Lvx6g?e=V8HUmd)
[Upgrading API Versions in Azure CLI L

[2021-01-15 09:50] yonzhan commented on #16555
Live test

[2021-01-15 09:51] yonzhan commented on #16555
@Juliehzl  for awareness.

[2021-01-15 09:57] jiasli commented on #14656
@schundu9, setting `DISPLAY=:0` is basically hacking into this line

https://github.com/Azure/azure-cli/blob/25912fdf933a960babd006ebe40b71548ab89b41/src/azure-cli-core/azure/cli/core/util.py#L692

to force env var `DISPLAY` to exist and trick Azure CLI that it is run in a Linux desktop environment.

Not only `:0` works, but anything works, like `DISPLAY=foo az login`.

However, it will trigger a

[2021-01-15 11:33] dmitriyteteruk commented on #16476
I have same issue with login after authorization in Azure Stack via az login.

[2021-01-15 12:00] ElvenSpellmaker commented on #9506
This doesn't seem to work for non-user accounts, such as an Azure DevOps Service Connection SPN.

[2021-01-15 12:01] ElvenSpellmaker commented on #9506
This doesn't seem to work for non-user accounts, such as an Azure DevOps Service Connection SPN.

[2021-01-15 12:01] bembalkp commented on #16476
Authentication Error: "['invalid_request']". Description: "['AADSTS50139: Session is invalid due to missing an external refresh token.\r\nTrace ID: 517dcfab-91f7-49b4-b1b5-6d87e9c11900\r\nCorrelation ID: 1858ffc3-8e16-4b82-97c8-9e4948344f12\r\nTimestamp: 2021-01-15 11:53:05Z']"
azure.cli.core.util.handle_exception is called with an exception:
Traceback (most recent call last):
  File "C:\Users\VSS

[2021-01-15 12:09] dmitriyteteruk commented on #16476
What helped me:
1) Delete all clouds information except main subscription from file C:\Users\username\.azure\**clouds.config**
2) Delete cache file from this folder C:\Users\username\.azure\

[2021-01-15 12:32] jiasli commented on #16476
@dmitriyteteruk, this is weird. If the cloud is not activated via `az cloud set`, it won't be used in any way. CLI should authenticate against `https://login.microsoftonline.com/` as usual.

@bembalkp, are you using the public `AzureCloud` or any Azure Stack cloud? Have you changed anything under `C:\Users\username\.azure`?

[2021-01-15 13:08] dmitriyteteruk commented on #16476
Yes, authentication always goes through `https://login.microsoftonline.com/`.
I am authenticated in browser in both accounts (Stack and Cloud).
In CLI I have added both clouds (AzureCloud and Stack).
I faced with this issue second time this week when need to switch in CLI from Stack to AzureCloud. If I not change Stack to AzureCloud using `az cloud set -n Name` then I get error after `az login`

[2021-01-15 16:49] T1loc opened #16558 "azure-cli failed to get aks context."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {} --subscripti

[2021-01-15 16:59] T1loc commented on #16558
Solved by reinstalling libffi
`brew reinstall libffi`

[2021-01-15 16:59] #16558 closed

[2021-01-15 17:23] jonathanbrenes commented on #11767
I found the same behavior again in the Azure Cloud Shell
jonathan@Azure:~$ az vm image list --location eastus --all --offer CentOS
ResourceNotFoundError: (NotFound) Publisher: Symantec.test.ru4mp1.latest was not found.
jonathan@Azure:~$ az --version
azure-cli                         2.17.1

core                              2.17.1
telemetry                          1.0.6

Extensions:
vm-repair

[2021-01-15 18:28] divyagandhii commented on #15171
I have sent the email with command and the result.

[2021-01-15 19:44] designerfh opened #16559 "WebApp:Serialization issue with az webapp config access-restriction add"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config access-restriction add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config access-restriction add --resour

[2021-01-15 21:52] grtn316 commented on #16344
Looks like the family name got updated and is now showing up.

`$ az vm list-skus --location eastus2 --query "[?contains(name,'M')]" -o table
ResourceType      Name                  Family                    Tier      Size
----------------  --------------------  ------------------------  --------  -----------
hostGroups/hosts  MSm-Type1             standardMSFamily
hostGroups/hosts  MS-Type1

[2021-01-15 21:53] #16344 closed

[2021-01-15 22:49] MoueenShaik commented on #16504
@Juliehzl , Please find below screen shot for your reference.

![image](https://user-images.githubusercontent.com/47388795/104786029-c932b880-5740-11eb-8434-e9e14611afd6.png)

[2021-01-16 00:19] JasonFreeberg commented on #16111
@panchagnula -- Yeah, this API is in the Swagger spec and is ready for development. I attached a link to the REST API doc below

https://docs.microsoft.com/en-us/rest/api/appservice/webapps/copyslotslot

[2021-01-16 01:54] yonzhan commented on #16559
webapp

[2021-01-16 04:01] #16199 closed

[2021-01-16 04:06] yonzhan commented on #16303
Hi @alperc92, any update?

[2021-01-16 04:22] #15396 closed

[2021-01-16 04:24] #15312 closed

[2021-01-16 04:25] #15403 closed

[2021-01-16 04:25] #15489 closed

[2021-01-16 04:26] #15629 closed

[2021-01-16 04:27] #15724 closed

[2021-01-16 04:58] #16189 closed

[2021-01-16 04:58] #16282 closed

[2021-01-16 10:03] zhoxing-ms commented on #15171
This issue seems to be caused by the missing data returned by REST API when `GET /subscriptions/{subscription-id}/resourceGroups/{resource-group}/providers/Microsoft.Web/sites/{webapp-name}?api-version=2020-09-01` is requested.

The value of `LinuxFxVersion` returned in `siteProperties` is `Node|12`, but the value in `siteConfig` is null, this requires the service team to investigate if it's as ex

[2021-01-16 13:33] #15971 closed

[2021-01-16 15:42] gregix008 opened #16563 "Cant change function app plan tier."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp update --name {} --resource-group {} --plan {}`

##

[2021-01-16 15:54] gregix008 commented on #16563
this is the full command i run : az functionapp update --name $functionAppName --resource-group $resourceGroup --plan $consumptionplan

[2021-01-16 17:55] jimdigriz commented on #4360
For those having a similar problem as no one explicitly states the fix that I can see:
[code]

The problem occurs if you use the package repo `https://packages.microsoft.com/ubuntu/18.04/prod` (gives you version 2.17.1-1) rather than `https://packages.microsoft.com/repos/azure-cli/` (gives you version 2.0.25-1).

[2021-01-16 19:05] tleepa opened #16564 "Unable to create image definition with V2 Hyper-V Genration"
## Describe the bug:
Since azure-cli 2.17.0 I cannot create image definition with Hyper-V Generation 2.
When "V2" is provided as hvgen parameter value, V1 is created instead.
Was working fine in 2.16.0.

**Command Name**
`az sig image-definition create`

**Errors:**
No errors, V1 image definition is created, instead of V2.

[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argume

[2021-01-16 19:18] brunofitas commented on #16493
I have the same issue. I have to deliver the pipeline on Monday and this last step is not working....

[2021-01-16 20:05] Skybladev2 commented on #15188
Experiencing the same. @tdevopsottawa why did you close the issue?

[2021-01-16 20:06] brunofitas commented on #16493
Ok, I found a solution, while the new version doesn't come up.

This works fine

    az sig image-definition create ....

This doesn't

    az sig image-version create ....

So I've downgraded azure-cli and it works

    sudo apt-get install -y --allow-downgrades azure-cli=2.14.2-1~xenial
    az sig image-version create ....

It takes longer to run, but at least it works.

[2021-01-16 20:13] brunofitas commented on #16493
Here's the output:

[code]

[2021-01-16 21:14] kaubuchon opened #16565 "az webapp create fails"
**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

Trying to deploy Windows .NET core web app.  Resource group already exists...
az appservice plan create -n myplan -g myresource --hyper-v --sku P1V3 // this was successful

az webapp create -g myresource

[2021-01-16 23:02] phlbrz opened #16566 "az acr login API version 2020-11-01-preview does not have operation group 'registries'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az acr login --name myregistry`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[code]

[2021-01-16 23:39] phlbrz commented on #16566
- Same problem with `az acr list --resource-group myresource`

[code]

[2021-01-17 00:02] phlbrz commented on #16566
- Took a look at `docker run -it mcr.microsoft.com/azure-cli:2.17.1` and `azure-mgmt-containerregistry==3.0.0rc16`
- So I downgraded with pip:
pip install 'azure-mgmt-containerregistry==3.0.0rc16'
- Same problem.

[2021-01-17 00:08] phlbrz commented on #16566
I did the first option in the workaround https://github.com/Azure/azure-cli/issues/15627#issuecomment-716129300

[code]

[2021-01-17 00:11] yonzhan commented on #16563
functionapp

[2021-01-17 00:14] yonzhan commented on #16566
acr

[2021-01-17 00:15] yonzhan commented on #16565
webapp

[2021-01-17 00:17] phlbrz commented on #16566
- As my last workaround and using docker login command, I have successfully logged in and pushed my image.

[code]

- But I filled this issue to help others to find some workaround while it doesn't have a solution.

Thank's!

[2021-01-17 05:15] adiun commented on #16499
I got the same error, with the same callstack, but in West US 2. As @plynch66 said, the second time I ran it, it succeeded.

[2021-01-17 13:07] mytuanZ opened #16567 "Command "az network application-gateway http-listener create" does not work."
**Describe the bug**

I have an application gateway and I want to create a http-listener on port 8099.
Command: `az network application-gateway http-listener create `does not work.
**To Reproduce**

Run below command from Azure Cloud Shell Bash.

`az network application-gateway http-listener create -g infra-validation --gateway-name overlap-test-appgw --name appGatewayHttpListener8099 --frontend-p

[2021-01-17 13:09] #16517 closed

[2021-01-17 13:17] yonzhan commented on #16564
Compute

[2021-01-17 13:24] yonzhan commented on #16567
network

[2021-01-17 21:11] chris-lindbergh-uplight-com opened #16568 "cannot import name 'BatchManagementClient' from 'azure.mgmt.batch' (/usr/lib/python3/dist-packages/azure/mgmt/batch/__init__.py)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When running the command below, I previously would get a list of IP addresses.  Now I get the error attached.  Other "az" commands like "az account list" work without error.  Tried purging and installing the "azure-cli" package - no help.

**Command Name**
`az network public-ip list`

**Errors:**
[code]

## To

[2021-01-17 21:12] chris-lindbergh-uplight-com commented on #16568
Other "az network" commands return a similar error instead of expected output.

[2021-01-17 23:48] yonzhan commented on #16568
network

[2021-01-18 00:45] Hiroaki-Tsutsumi commented on #16207
CX is required for an urgent resolving this issue.
When are you planning to resolve this issue?

[2021-01-18 01:38] jiasli commented on #9506
@ElvenSpellmaker, `az ad signed-in-user show` is for user account. For Service Principal, please use `az ad sp show` whose output contains an `objectId` property.

[code]

[2021-01-18 01:59] chshihMSFT commented on #10282
Update:
This parameter **--enable-multiple-write-locations** has been updated already, now you can pass value "**true**" to enable multi-region writes feature, or "**false**" to disable it.

[2021-01-18 02:07] jiasli commented on #16476
@dmitriyteteruk,

The Azure Resource Management' resource ID will be sent in the initial

[code]

Authentication Error: "['access_denied']". Description: "["AADSTS650057: Invalid resource. The client has requested access to a resource which is not listed in the requested permissions in the client's application registration. Client app ID: 04b07795-8ddb-461a-bbee-02f9e1bf7b46(Microsoft Azure CLI).

[2021-01-18 02:18] #16374 closed

[2021-01-18 02:33] qwordy commented on #16493
Hi @brunofitas , Thank you for providing example command to downgrade version. Don't worry. The release on 01/19/2021 is coming.

[2021-01-18 02:43] #16026 closed

[2021-01-18 02:43] #16118 closed

[2021-01-18 02:43] Juliehzl commented on #16358
Hi @TheStephLab, is your terminal PowerShell? It is not CLI issue, but it is terminal issue.
You could try to use `cmd`, and your commands could work.
Or if you still want to use current terminal , please use the following command `az storage directory exists --name """SQL/SQLServer2014(Std)SP3""" --share-name "share" --account-name *** --account-key ***`.
For more information, please find quoting

[2021-01-18 02:43] #16358 closed

[2021-01-18 02:47] karataliu commented on #13368
still encountered, is there a fix plan?
What about add an `az role assignment ensure` to check assignment existence before send creating?

[2021-01-18 02:52] qwordy commented on #15106
I got the same result.
[code]
Confusing output. We will investigate it.

[2021-01-18 02:59] PhoenixHe-msft commented on #14656
The problem is is_wsl() doesn't work I guess.

[code]

https://github.com/Azure/azure-cli/blob/25912fdf933a960babd006ebe40b71548ab89b41/src/azure-cli-core/azure/cli/core/util.py#L673-L675

Maybe you need some case insensitive match here for system == "Linux"

[2021-01-18 03:02] Juliehzl commented on #16504
@MoueenShaik Thanks for your information!
From the debug information you shared, your command is executed successfully. For `RemoteException` you get in your client, I think it is the terminal you use cannot handle the information which is written to `stderr`. Are you using `Powershell ISE`?

If you still want to use the terminal, you could redirect stderr info to a file or add `2>$null` in your c

[2021-01-18 03:08] Juliehzl commented on #16333
Hi @v-manish, thanks for your feedback. You are right. CLI have to make sure there is SDK supported first.

[2021-01-18 03:16] yungezz commented on #16565
https://github.com/Azure/azure-cli/issues/14287

[2021-01-18 03:17] yungezz commented on #16564
hi @qwordy could you pls help to check is there service behavior change? thanks

[2021-01-18 03:17] yungezz commented on #16563
https://github.com/Azure/azure-cli/issues/14287

[2021-01-18 03:18] mytuanZ commented on #16567
I figured it out, to create **http-listener on port 8099**, I need to create **front-end port 8099** first, with this command `az network application-gateway frontend-port create `. I couldn't find out the docs that mentions this action.

[2021-01-18 03:18] #16567 closed

[2021-01-18 03:21] Juliehzl commented on #16248
Hi @gjdonkers, as you mentioned, the command works in your local machine.
For Azure DevOps CLI task, they may have their rule to read cli commands. I will recommend you to add `--debug` in your command to see the debug log in your Azure DevOps machine. In the log, you could see how you command and parameter values are read. I am afraid that your pattern parameter is not read correctly. otherwise t

[2021-01-18 03:25] Juliehzl commented on #16142
dupe of #16217

[2021-01-18 03:27] Juliehzl commented on #16142
Hi @pablobi00, could you add `--debug` in your command and share the debug info with us?

[2021-01-18 03:32] Juliehzl commented on #16142
According to info you share, are you using `--auth-mode login`  in your command? If you want to use AAD credential, you need to assign RBAC roles like `Storage Blob Data Contributor` to your account.
If you don't want to use AAD credential, please use `--account-key` or `--connection-string` as your credential.

[2021-01-18 05:37] brucezlata opened #16571 "login hangs for both az login and az login --use-device-code"
azure-cli  2.17.1, PowerShell 5.1
(1) az login
Still hangs on "https://localhost:8400/?code=0" even I upgrade to 2.17.1.

(2) az login --use-device-code
Will block with below message.
Help us keep your device secure
Your sign-in was successful but your admin requires the device requesting access to be managed by Microsoft to access this resource.

Request Id: 14900afa-c3ea-4525-b746-caddc6470700
C

[2021-01-18 05:49] Juliehzl commented on #16142
@xiafu-msft please pay attention to `process_storage_error` method. `AttributeError` should be avoid in your code and just raise error message to customer.

[2021-01-18 05:55] yonzhan commented on #16571
az login

[2021-01-18 06:02] jiasli commented on #16476
@dmitriyteteruk, I think the root cause for the failure is that you are using unmatched **AAD account** for **Azure Stack cloud**.

In the initial `/authorize` request, `resource` field contains the ARM ID for the selected cloud.

[code]

When an unmatched account is used, error like this may occur. @bembalkp, could you kindly check the same?

### Too long; Don't read

However, when I tested with

[2021-01-18 06:20] brucezlata commented on #16571
az login screeshot
![image](https://user-images.githubusercontent.com/21032579/104879194-5459bb80-5998-11eb-99ef-57f18d4767ec.png)

[2021-01-18 06:22] qwordy commented on #16564
Hi @tleepa , thank you for reporting this issue. It is fixed by https://github.com/Azure/azure-cli/commit/4191edbe7fbef2997a02eacc53596da0c5a937f4.
Release date is 1/19/2021. Have a try after the new version is released.

[2021-01-18 06:49] dmitriyteteruk commented on #16476
I am choosing right account in pop login browser window. Until I change cloud that I want to `az login` with command `az cloud set --name Azure` I am getting error.
Looks below on screenshots.

- I am logged in to Stack account
![image](https://user-images.githubusercontent.com/34028526/104880540-cb7b5980-5970-11eb-862c-73f484765ff0.png)
- I want to switch to Azure account using `az login`
![image

[2021-01-18 06:57] jiasli commented on #16476
Selecting the account in the browser won't automatically switch the cloud. The account that is selected in the browser must match the cloud that is set via `az cloud set`.

[2021-01-18 07:43] fengzhou-msft commented on #16388
@carlocab @Rylan12 thanks for the suggestions. I'm also thinking about moving the `az.completion` file inside the `azure-cli` directory, and package it the `azure-cli` tarball, then I assume it could be accessed in the install step?

[2021-01-18 08:01] fengzhou-msft commented on #15642
Some of the audit issues cannot be fixed now such as `1: col 1: Class has too many lines. [594/100]`.
Some issues are common accross formula such as `Missing top-level class documentation comment`, I checked top 5 formula based on 30 day install [data](https://formulae.brew.sh/analytics-linux/install/30d/). None of them has top-level class documentation comment.

[2021-01-18 08:46] mikkovkivisto commented on #16392
@qwordy  Any news on this?

[2021-01-18 09:06] najian opened #16572 "az webapp up failed with 502 in eastus2euap"
**Describe the bug**
I am following https://docs.microsoft.com/en-us/azure/app-service/tutorial-python-postgresql-app?tabs=bash%2Cclone#41-create-the-app-service-app to create a web app in Eastus2euap(this region is specific for my business requirement) and I already registed feature Microsoft.Resouces/EUAPParticipation and Microsoft.Web/EastUS2EUAPRegionEnabled

request failed: Error occurred in

[2021-01-18 09:20] yonzhan commented on #16572
webapp

[2021-01-18 09:34] zezha-msft commented on #16519
@Juliehzl sounds good!

The combination of sp=rwdlacup and srt=sco is indeed too powerful.

[2021-01-18 10:19] #16303 closed

[2021-01-18 11:34] jimdigriz opened #16573 "Support `az login --identity` for Azure Arc"
**Is your feature request related to a problem? Please describe.**
For enrolled Azure Arc systems, `azure-cli` does not support pulling the local [managed identity](https://docs.microsoft.com/en-us/azure/azure-arc/servers/managed-identity-authentication).

**Describe the solution you'd like**
`az login --identity` [tests if running on an Azure instance](https://github.com/microsoft/PowerShell-DSC-

[2021-01-18 12:07] marxxxx opened #16574 "Wrong sample command for configuring the HTTP->HTTPS redirect"
The sample command for configuring the HTTP->HTTPS redirect is wrong imho.

az cdn endpoint rule add -g RG_PerformancePlattform_Europe_West_QA -n dev-eremabluport --profile-name dev-erema-cdn --order 1 --rule-name "redirect" --match-variable RequestScheme --operator Equal --match-values **HTTPS** --action-name "UrlRedirect" --redirect-protocol Https --redirect-type Moved

should be

az cdn endpoin

[2021-01-18 13:13] yonzhan commented on #16573
az login

[2021-01-18 13:15] yonzhan commented on #16574
cdn

[2021-01-18 13:43] marxxxx commented on #16574
Apparently this has already been reported (https://github.com/Azure/azure-cli/issues/14582)

[2021-01-18 13:48] gjdonkers commented on #16248
Hi @Juliehzl Thanks for your response. I found an other solution in implementing azcopy sync in the pipeline, now it works as expected.

[2021-01-18 13:48] #16248 closed

[2021-01-18 17:23] Rylan12 commented on #16388
Assuming the file is in the source tarball that's downloaded from PyPI (the "Source" file type at https://pypi.org/project/azure-cli/#files), it should be accessible in the install method.

As for how to ensure that it makes it into the tarball, I'm really not sure. It looks like the contents of the tarball nearly matches the [`src/azure-cli/` directory](https://github.com/Azure/azure-cli/tree/dev

[2021-01-18 20:47] ebele25 commented on #16113
thanks, I will upgrade and retry

[2021-01-18 21:55] avanigupta commented on #16374
Hi @HarrowinG, this feature will be available in the next release of Azure CLI.

[2021-01-19 00:38] kalyankrishna1 opened #16576 "Unable to create a Postgres db from command line for my app service"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az postgres server create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az postgres server create --resource-group {} --location {} --

[2021-01-19 00:38] kalyankrishna1 commented on #16576
the command was

`
az postgres server create --resource-group appsvc_linux_centralus --location centralus --name mydjangodb --admin-user sa --admin-password XXXX! --sku-name GP_Gen5_2`

[2021-01-19 00:50] rachelxj-ms opened #16577 "Need document on how to turn off event hub capture. set enable-capture to false won't work"
--enable-capture
A boolean value that indicates whether capture description is enabled.
accepted values: false, true

But it doesn't turn off capture by setting --enable-capture to false.

Need document on how to turn off capture.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5fa949ea-86b1-125e-e7d3-f0f88a2661ab
* Ver

[2021-01-19 01:28] yungezz commented on #16576
route to appropriate team

[2021-01-19 01:29] yungezz commented on #16577
route to appropriate team

[2021-01-19 02:59] #16509 closed

[2021-01-19 03:06] qwordy commented on #16392
I tried and no error. I am using 2.18.0. It will be released on 1/19. Could you try again after the new version is released?

[2021-01-19 03:10] Juliehzl opened #16579 "Telemetry reports issue when there is no valid account login"
**Describe the bug**

When there is no account login, although my command succeed. It will print the following exception to me when using `--debug`. Please catch the exception and not report to customer.

![image](https://user-images.githubusercontent.com/49508232/104982934-a8bb7480-5a46-11eb-94b1-e18da496f24d.png)

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional con

[2021-01-19 03:40] MarkPerry24 commented on #9972
This shouldn't be closed as same problem exists in:
az version
{
  "azure-cli": "2.17.1",
  "azure-cli-core": "2.17.1",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "ai-examples": "0.2.5",
    "azure-cli-ml": "1.19.0"
  }
}

I have found a workaround for this which is to use the generic "az resource" which allows you to jump in and do things via the API directly.  This is not an API bug

[2021-01-19 06:37] yonzhan commented on #16579
Telemetry

[2021-01-19 07:29] jiasli commented on #16571
The redirection to `localhost` should happen on `http`, instead of `https`. Please see https://github.com/Azure/azure-cli/issues/10426#issuecomment-528308713 for the solution.

[2021-01-19 07:48] brucezlata commented on #16571
Thanks @jiasli. I can use az login now. But still --use-device-code not work.

[2021-01-19 08:23] MatthewSteeples commented on #16387
This problem still exists with 2.18. I'm still jumping through the various hoops with the service request

[2021-01-19 08:56] tleepa commented on #16564
Confirm, that it works fine again with 2.18.0.
Thank you :)

[2021-01-19 08:56] #16564 closed

[2021-01-19 09:01] mikkovkivisto commented on #16392
Sure, I'll test once its available in one of the DevOps agents we are using

[2021-01-19 11:20] KalyanChanumolu-MSFT opened #16582 "server georestore fails even when server is available"
## Describe the bug

Creating a new server fails with source server not found error even when the server is available in the subscription.

**Command Name**
`
az postgres server georestore --resource-group kachanum-databases --name mydemoserver-georestored --source-server kachanumtester --location eastus --sku-name GP_Gen4_8
`

**Errors:**

Deployment failed. Correlation ID: 44430fab-201a-4508-a9e

[2021-01-19 12:50] yungezz commented on #16582
routing to appropriate team

[2021-01-19 13:29] Tattoo opened #16583 "Extremely poor documentation for `az cosmosdb create`"
None of the parameters are documented on a sufficient level. For example:
[code]
Not even a link where I can read further what are these mysterious capabilities.

[code]
What is `Parse` in this context?

[code]
Luckily the actual help text (`--help`) explains how to set a location.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking

[2021-01-19 14:06] plzm commented on #16493
This was resolved in CLI release 2.18.0. Because it now works, I am closing this issue. Thank you for the deployed fix!

[2021-01-19 14:06] #16493 closed

[2021-01-19 14:16] yonzhan commented on #16583
cosmosdb

[2021-01-19 14:22] vladris commented on #16469
So any thoughts on this?

[2021-01-19 14:28] radennis commented on #16469
Adding @ilayrn and @orhasban

[2021-01-19 15:57] bitcloud commented on #15856
@alexeyshishkin01 it has landed in the 2.18.0 version. (see https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md#container) please try that one.

[2021-01-19 18:04] pumpkinclarinet opened #16584 "Az sig create version fails with error 'NoneType' object is not subscriptable - Azcli 2.17.1"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sig image-version create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sig image-version create -g {} --gallery-name {} --galler

[2021-01-19 18:08] pumpkinclarinet commented on #16584
This can be seen on Azure CloudShell since the version is that one.
But testing for az 2.18 this does not occur.

[2021-01-19 20:57] rick-lb opened #16585 "az vmss deallocate --instance-ids failed"
azure-cli                         2.18.0

core                              2.18.0
telemetry                          1.0.6

Python location '/opt/az/bin/python3'
Extensions directory '/usr/local/airflow/.azure/cliextensions'

Python (Linux) 3.6.10 (default, Jan 15 2021, 09:54:35)
[GCC 8.3.0]

**it won't work if i put multiple ids like --instance-ids 6 19 but works fine if only one id provided lik

[2021-01-19 21:04] yugangw-msft commented on #16566
@fengzhou-msft, this is Azure CLI package issue

[2021-01-19 21:12] adewaleo commented on #16566
summary: I think uninstalling 8.0.0b1 and installing 3.0.0rc16 should solve the problem because 3.0.0rc16 is more up to date. see [azure-mgmt-containerregistry's release history](https://pypi.org/project/azure-mgmt-containerregistry/3.0.0rc16/#history)

@phlbrz how exactly did you install the CLI. It seems you are using PIP. When CLI is packaged, it includes the py packages and versions defined in

[2021-01-19 21:23] phlbrz commented on #16566
Hi @adewaleo ,
I did a debian install and then a pip install.
I really don't know who installed version `azure-mgmt-containerregistry 8.0.0b1`.
But I downgraded with pip in https://github.com/Azure/azure-cli/issues/16566#issuecomment-761701057 and had the same problem, I don't know others py packages are required to downgrade together to address better what was my mistake.
I cannot reproduce anymo

[2021-01-19 21:48] herrsergio opened #16587 "Error: az login --use-device-code"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --use-device-code`

## Expected Behavior

## Environment Summary
[code

[2021-01-19 21:53] herrsergio opened #16588 "Error: az login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2021-01-19 22:06] jmatias commented on #15864
@yungezz  How can we report the above comment as spam?

[2021-01-19 22:41] yonzhan commented on #16587
az login

[2021-01-19 22:43] yonzhan commented on #16588
az login

[2021-01-19 22:43] mxrss2 opened #16589 "Ordinal Issue with AZ CLI Forcing ASCII"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr run`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr run -r {} {} -f {}`

## Expected Behavior

## Environment Summary
[cod

[2021-01-19 22:45] yonzhan commented on #16589
acr

[2021-01-19 22:52] ovidiu10 opened #16590 "Create metric alerts for SQL Server databases throw an error"
**Describe the bug**

az monitor metrics alert create throw an error "You can't define a scope that is different from the selected target resource type"

**To Reproduce**

az monitor metrics alert create -n "CPU Critical Alert Above 90 Percent SQL Server" -g rg --scopes "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Sql/servers/sqlserver1/databases/testdb1" --condition "avg Microsoft.

[2021-01-19 22:57] yonzhan commented on #16590
monitor

[2021-01-19 23:30] yugangw-msft commented on #16589
@northtyphoon this might be a known issue

[2021-01-19 23:42] mxrss2 commented on #16589
Went to go look at the container that is published.. Found this variable

`LANG=C.UTF-8
`
I set this in my existing container and it did not error at the issue it was.. So this might be a viable work around.

[2021-01-19 23:43] mxrss2 commented on #16589
Yea that does indeed fix it.

Work around till remided in CLI Tooling is to export ENVIRONMENT LANG=C.UTF-8

[2021-01-19 23:43] #16589 closed

[2021-01-20 00:22] snaheth commented on #10324
@anthony-c-martin @alex-frankel -- Should we make this change in the CLI repo (in the `az deployment create` call)?

[2021-01-20 00:25] snaheth commented on #10518
@rickardp -- Do you still run into this? Looks like @hjhhh3000vitae might've missed this so I can follow up with him, if so.

Feel free to open this if it still occurs. Closing it for the time being given it's an old api version.

[2021-01-20 00:25] #10518 closed

[2021-01-20 02:05] yungezz commented on #15864
hi @jmatias will follow up with our eng team to see next step on it.

[2021-01-20 02:19] qwordy commented on #16493
@plzm Glad to know that!

[2021-01-20 02:20] qwordy commented on #16564
Glad to know that!

[2021-01-20 02:26] fengzhou-msft commented on #16566
@phlbrz please follow https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt&view=azure-cli-latest to install the `azure-cli` package in microsoft repository.

[2021-01-20 02:32] fengzhou-msft commented on #16566
@phlbrz did you mean `apt install azure-cli` with debian install? Did you add the `microsoft` respository first? If not, please run `sudo apt remove azure-cli -y && sudo apt autoremove -y` to remove the `azure-cli` apt package first then follow https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt&view=azure-cli-latest to install the `azure-cli` package from `microsoft` rep

[2021-01-20 02:41] lihantao3 opened #16591 "Bug when create a app with password in aad"
**Describe the bug**
When create a app with password in aad， it will return nothing in property passwordCredential. Need run the command once again to set the password

**To Reproduce**
az ad app create --display-name the-spn1111 --native-app --key-type Password --password 'QcdJY6V~--8SA1OS1o0NKV26G1OujTvQ-z'

**Expected behavior**
The output should be like as bellowd:
"passwordCredentials": [

[2021-01-20 02:50] jarrekk commented on #16591
Additional information: this happened on Mac/Linux platform, Windows `az` command doesn't have this problem.

[2021-01-20 02:58] jiasli commented on #6080
This issue has been fixed by https://github.com/microsoft/knack/pull/209 in Azure CLI 2.18.0. Azure CLI can now disable color automatically if `stdout` is not a TTY. Please update to the latest version and let us know if the issue is solved. Thank you.

[2021-01-20 02:59] jiasli commented on #8483
Duplicate of #6080

[2021-01-20 02:59] jiasli commented on #11671
Duplicate of #6080

[2021-01-20 03:01] jiasli commented on #13979
Duplicate of #6080.

[2021-01-20 03:01] jiasli commented on #13979
Duplicate of #6080

[2021-01-20 03:02] #13979 closed

[2021-01-20 03:03] najian commented on #16572
fixed by other channel

[2021-01-20 03:03] #16572 closed

[2021-01-20 03:04] #13413 closed

[2021-01-20 03:06] jiasli commented on #12084
This issue has been fixed. Please see #6080 (comment) for the solution.

[2021-01-20 03:06] jiasli commented on #12084
Duplicate of #6080. Please see https://github.com/Azure/azure-cli/issues/6080#issuecomment-763294594 for the solution.

[2021-01-20 03:06] jiasli commented on #12084
This issue has been fixed. Please see https://github.com/Azure/azure-cli/issues/6080#issuecomment-763294594 for the solution.

[2021-01-20 03:07] jiasli commented on #8483
This issue has been fixed. Please see https://github.com/Azure/azure-cli/issues/6080#issuecomment-763294594 for the solution.

[2021-01-20 03:07] jiasli commented on #11671
This issue has been fixed. Please see https://github.com/Azure/azure-cli/issues/6080#issuecomment-763294594 for the solution.

[2021-01-20 03:07] jiasli commented on #13979
This issue has been fixed. Please see https://github.com/Azure/azure-cli/issues/6080#issuecomment-763294594 for the solution.

[2021-01-20 03:15] #14656 closed

[2021-01-20 04:32] yonzhan commented on #16591
az ad

[2021-01-20 04:52] yungezz commented on #16585
hi @qwordy could you pls help to have a look?

[2021-01-20 04:53] yungezz commented on #16584
https://github.com/Azure/azure-cli/issues/14287

[2021-01-20 04:53] yungezz commented on #16584
hi @qwordy is this the bug fixed in 2.18.0?

[2021-01-20 06:26] jiasli commented on #16416
This is caused by a conflicting dependency on `cryptography` from PyJWT

https://github.com/jpadilla/pyjwt/blob/3993ce1d3503b58cf74699a89ba9e5c18ef9b556/setup.cfg#L55

[code]

and Azure CLI

https://github.com/Azure/azure-cli/blob/6f255051203445da73c99687e64f15d58c4006a7/src/azure-cli/setup.py#L134

There is an ongoing PR https://github.com/Azure/azure-cli/pull/15687 to bump `cryptography` to the

[2021-01-20 06:33] jiasli commented on #16290
We have now loosened the dependency on `azure-mgmt-core` in #16074.

[2021-01-20 06:33] #16290 closed

[2021-01-20 07:12] qwordy commented on #14821
Hi Kota,

I read the issue, read the code and searched information.
We advise to deprecate vsts-cd-manager and use azure-devops instead. vsts-cd-manager is not maintained now.

Please search
from .vsts_cd_provider import VstsContinuousDeliveryProvider
from vsts_cd_manager.continuous_delivery_manager import ContinuousDeliveryManager
in code.

https://pypi.org/project/vsts-cd-manager/
https://github

[2021-01-20 07:34] alexeyshishkin01 commented on #15856
still does NOT work for me - it works before - what have you changed ?

root@Alexey-HP:~# image_id=pgpro-std13-debian-x64
root@Alexey-HP:~# echo $image_id
pgpro-std13-debian-x64
root@Alexey-HP:~#
root@Alexey-HP:~# tag_id=13.11.20201218
root@Alexey-HP:~# echo $tag_id
13.11.20201218
root@Alexey-HP:~# az container list \

root@Alexey-HP:~#
root@Alexey-HP:~# az container create \

root@Alexey-HP:~# az

[2021-01-20 09:54] jiasli commented on #15683
The lack of document has been reported by https://github.com/Azure/azure-cli/issues/15628. The corresponding document will be updated by RBAC service team later.

[2021-01-20 12:43] RobHofmann opened #16598 "serious Private Endpoint creation inconsistencies & bugs"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Today we wanted to rename some of our private endpoint connections by deleting & recreating them. We've discovered some serious inconsistencies in the Azure CLI for creating private endpoints. Which with by far the weirdest one is the appconfiguration one (this one seems to be a bug).

The `az network private-e

[2021-01-20 12:46] yonzhan commented on #16598
network

[2021-01-20 14:15] RobHofmann commented on #16598
Extra info: Az PowerShell has the similar issues.

Right now when you use `New-AzPrivateEndpoint` you will receive PrivateLinkServiceConnections[0].Id which has something like: `"/subscriptions/<subscriptionid>/resourceGroups/<resourcegroup>/providers/Microsoft.Network/privateEndpoints/<privateendpointname>/privateLinkServiceConnections/<your entered connection name>"`

Whenever you use this ID to

[2021-01-20 14:20] yonzhan commented on #16598
@jsntcy @dingmeng-xue  for awareness.

[2021-01-20 15:46] asiebenwirth-ish commented on #16466
Fixed

[2021-01-20 15:46] #16466 closed

[2021-01-20 15:54] Kotasudhakarreddy commented on #14821
@qwordy - thanks. Will check and get back to you for any clarifications.

[2021-01-20 15:57] bitcloud commented on #15856
I just hat also a look at it and it doesn't work for me as well, but now it is also not working on the portal. So there seems to be another issue now...

[2021-01-20 16:01] chris-lindbergh-uplight-com commented on #16568
Upgraded to 2.18.0 and the `az network` commands now work.

[2021-01-20 16:01] #16568 closed

[2021-01-20 16:34] alexeyshishkin01 commented on #15856
it worked 100%, at least in summer 2020

[2021-01-20 17:44] MonikaReddy-MSFT opened #16600 "Note whether azure-cli really needs an old version of Python"
Customer reported this issue - The documentation currently states, on the python3 requirement:

The RPM package of the Azure CLI depends on the python3 package. On your system, this may be a Python version which predates the requirement of Python 3.6.x. If this affects you, find a replacement python3 package.

Following the instructions on Fedora 33, I'm prompted to install an old version of Pytho

[2021-01-20 18:05] bitcloud commented on #15856
I just tested it again and it it works here on my machine:
[code]

It seems to have some issues with refreshing the output, but I can interact with the shell. So it seems that it works for me now.

[2021-01-20 18:55] calvinsID commented on #16523
Hi @dbradish-microsoft, wondering if you can clarify the ask - is it to update this
![image](https://user-images.githubusercontent.com/14339314/105221402-e931f580-5b0d-11eb-9b56-2619a85a5647.png) to
_"Deploy new code to a webapp running the Azure CLI command from the folder where the code to be deployed exists. If deploying to an existing webapp with the same name and location, you will be over-wr

[2021-01-20 19:01] calvinsID commented on #16488
Hi @panzergame, I was unable to repro this. Can you please try reinstalling Azure CLI and letting me know if issue still persists?

[2021-01-20 19:04] dbradish-microsoft commented on #16523
@calvinsID , love your GitHub name, btw.  :-)

"yes" to your question assuming my statement is correct.  I had a support call on this sentence, and I feel I made assumptions in my response.

[2021-01-20 19:45] chenlomis opened #16601 "az next continuous error..."
**Describe the bug**
![image](https://user-images.githubusercontent.com/30876406/105226337-b8a18a00-5b14-11eb-9bfc-bcead1cbc45f.png)

Have actually encountered similar errors like this numerous times in the last weeks but never created a bug to track it until now

**To Reproduce**
1) tried az next after upgrading to v2.18.0 but didn't work
2) tried uninstalling and reinstalling the feature ...also

[2021-01-20 20:37] alexeyshishkin01 commented on #15856
I use the same terminals, I've tested on two different terminals - WSL and Putty - will try to test again
but it works on the same terminals if I use 'docker ...' or run container in K8S

[2021-01-20 20:37] calvinsID commented on #16523
@dbradish-microsoft haha thanks, not the most original name in the world

hmm I'm actually more in favour of removing the `az webapp up -n MyUniqueAppName -l locationName` example, since there are already examples for `az webapp up -n MyUniqueAppName` and `a webapp up -l locationName` individually. thoughts?

[2021-01-20 21:31] fabiocav commented on #15252
Closing as completed.

[2021-01-20 21:31] #15252 closed

[2021-01-20 22:00] apclouds commented on #12101
Hello @Diastro, did the suggestion from @TomGeske resolve your issue? Closing this for now given its been several months since response. Feel free to reopen the issue if you still have any outstanding questions here.

[2021-01-20 22:00] #12101 closed

[2021-01-20 22:04] apclouds commented on #8953
@snaheth any updates on a sdk fix here?

[2021-01-20 22:16] snaheth commented on #8953
@apclouds -- See my comment above for what's needed to fix this issue. Looks like we just need someone willing to take this on.

@leni-msft & @raych1 -- Can either of you or someone from your team help with making the requested change in the CLI code?

[2021-01-20 22:28] yonzhan commented on #16601
az next

[2021-01-20 22:41] bughit commented on #16520
@samueljamkhandi-MSFT

- Why was this closed?
- Is it possible to remove array elements by something other than index?
- Should it be possible to remove backendIpConfigurations?

[2021-01-20 23:20] #16119 closed

[2021-01-21 00:03] jongio opened #16606 "Output none still prints stuff"
**Describe the bug**

I'm using az login -o none - but I still get output on the screen.

[code]

**To Reproduce**

az login -o none

**Expected behavior**

No output

**Environment summary**

**Additional context**

[2021-01-21 00:04] yonzhan commented on #16606
az login

[2021-01-21 00:09] jamesongithub opened #16607 "[Feature Request] Ability to list available azure applications (solution templates and managed applications) on the marketplace"
**Is your feature request related to a problem? Please describe.**

Unable to see available solutions templates and managed applications from the cli.

**Describe the solution you'd like**

I would like to be able to list available solutions templates and managed applications from the azure marketplace

**Describe alternatives you've considered**

Besides browsing from the marketplace on the websi

[2021-01-21 00:18] AhmedROUANE opened #16608 "Azure K8s Pod security Issues"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks upgrade`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks upgrade --kubernetes-version {} --name {} --resource-group {}`

## Expect

[2021-01-21 00:26] AhmedROUANE opened #16609 "My issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks upgrade`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks upgrade --kubernetes-version {} --name {} --resource-group {}`

## Expect

[2021-01-21 00:38] 3quanfeng commented on #16144
Hi @msyyc and @yonzhan , is  it affirmative that S183 targets on 2021-02-09?
Could you please help share the estimation for the date of S183 as well? we have some changes needs to be included in S183, and the estimation date will help us determine our public review date, Thanks!

[2021-01-21 00:40] yonzhan commented on #16144
https://github.com/Azure/azure-cli/milestone/101   Code complete: 02/24/2021 Build to Cloud Shell: 02/26/2021 Official Release: 03/02/2021

[2021-01-21 00:41] yonzhan commented on #16144
https://github.com/Azure/azure-cli/milestone/100  Code complete: 02/03/2021 Build to Cloud Shell: 02/05/2021 Official Release: 02/09/2021  This feature is targeted for S182, right?

[2021-01-21 00:48] johanburati commented on #13413
Thanks !

[code]

[2021-01-21 00:57] dae3 opened #16610 "Incorrect PKCS7 format in az network application-gateway ssl-cert show example"
A PKCS7 format cert should be delimited with `-----BEGIN PKCS7-----` and `-----END PKCS7-----`, not `-----BEGIN CERTIFICATE-----` and `-----END CERTIFICATE-----`

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 67b074ef-2732-8002-ba0e-47534e238c0c
* Version Independent ID: 3b48511d-b007-f938-985f-cc6765d37d45
* Content:

[2021-01-21 01:09] axisc commented on #11067
[Here](https://docs.microsoft.com/en-us/cli/azure/servicebus/topic/subscription/rule?view=azure-cli-latest#az_servicebus_topic_subscription_rule_create) is the documentation for the subscription creation CLI command. The correlation filter must be created using the portal or programmatically.

[2021-01-21 01:09] #11067 closed

[2021-01-21 01:18] axisc commented on #13560
@wolszakp  can you confirm if this issue is still occurring?

[2021-01-21 01:52] zhoxing-ms commented on #16601
Hi @chenlomis this is an installation issue of `az next`, can you submit it to the corresponding repo of `az next`? [repo link](https://github.com/hackathon-cli-recommendation/cli-recommendation/issues)

[2021-01-21 01:58] zhoxing-ms commented on #16601
I've created a new issue to replace this issue. You can follow it up through [new issue](https://github.com/hackathon-cli-recommendation/cli-recommendation/issues/5)
So I close this issue first

[2021-01-21 01:58] #16601 closed

[2021-01-21 02:01] raych1 commented on #8953
@zhoxing-ms, please have a look at this CLI issue, thanks.

[2021-01-21 02:13] #15752 closed

[2021-01-21 02:13] #16061 closed

[2021-01-21 02:13] #16475 closed

[2021-01-21 02:13] #16565 closed

[2021-01-21 02:18] qwordy commented on #16584
Hi @pumpkinclarinet , it is fixed in 2.18.0. I tried Azure CLI in CloudShell just now. It is 2.18.0 now.

[2021-01-21 02:18] #16584 closed

[2021-01-21 02:18] qwordy commented on #16584
Yes, it is.

[2021-01-21 02:25] yonzhan commented on #16144
Yes, S182 is target for 02/09.

[2021-01-21 02:26] yonzhan commented on #16610
network

[2021-01-21 03:04] Kotasudhakarreddy commented on #16535
@JFolberth - Thanks for for your support! We will update our documentation to list out the Required parameters . But still you can use the command as it wont allow the command execution without required parameters.

[2021-01-21 03:09] huangpf commented on #14858
Hi all -- AKS team (Andy Z.) shared a workaround with me, so I would like to post it here. I was told that the ```az aks install-cli``` command only needs to install kubectl, so if that's the case, you can download it from the mirror here: http://mirror.azure.cn/kubernetes/kubectl/v1.20.2/bin/windows/amd64/kubectl.exe

Hope it helps.

[2021-01-21 04:03] Kotasudhakarreddy commented on #16538
@panchagnula - CLI command receives this response in different formats for Linux and Windows Apps  from API.  Could you please check and respond if this is not an expected behavior.

[2021-01-21 04:07] panchagnula commented on #16538
@jlienSage is this the diff b/w Linux & windows or re-creating an existing certificate with the same canonical name? I am guessing the "properties" section is the difference you are referring to here?

[2021-01-21 04:10] jiasli opened #16611 "Python 3.9 support"
**Is your feature request related to a problem? Please describe.**

Currently Azure CLI can't be installed on [Python 3.9](https://www.python.org/downloads/release/python-391/), causing different errors on different platforms.

For example, on Windows

[code]

This is because older versions of **bcrypt**, **cryptography**, **PyNaCl** don't distribute wheels for Python 3.9. For example, [cryptograp

[2021-01-21 04:14] Kotasudhakarreddy commented on #16559
@designerfh - Unable to repro this issue in Version `azure-cli 2.17.1` and latest version `azure-cli 2.18.0`. Please reopen this issue with `debug` details if you still repro it.

[2021-01-21 04:14] #16559 closed

[2021-01-21 04:20] Kotasudhakarreddy commented on #16555
@ThejaChoudary - Take a look at the failed tests from `App Services`

[2021-01-21 04:35] chenlomis commented on #16601
Thank you! Please let me know if there'd a quick fix avail some time tomorrow. There's a PM sync where I'd like to provide a brief live walkthrough to explain how it works! @zhoxing-ms

[2021-01-21 04:40] yonzhan commented on #16611
Python 3.9 support

[2021-01-21 06:25] zhoxing-ms commented on #16601
@chenlomis If you previously installed it in the way of `MSI`, please just rerun the installation script.
Because `MSI` package can't cover higher version with lower version, I just updated the installation package of `MS`I for `az next`

By the way, if you have anything else I can help you with when you are preparing for the demo, please feel free to let me know 😊

[2021-01-21 07:10] #16079 closed

[2021-01-21 08:03] JacobStruiksma commented on #16598
We also notice the same weird behavior with private endpoints

[2021-01-21 08:32] RajTechcafe opened #16614 "az cosmosdb cassandra table create command is in preview"
This command group az cosmosdb cassandra is under preview. When we can expect GA version of this? May be it will helpuful if it is mentioned in doc what is current version of command group either Preview or GA.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 02f15e72-f5d8-b270-66a6-ad75a6766ff8
* Version Independent ID:

[2021-01-21 08:37] NikoMix opened #16615 "Create ExpressRoute Gateway connection fails without --propagated-route-tables"
**Describe the bug**
When executing following command with valid parameters
az network express-route gateway connection create --gateway-name <name> --name <name> --peering <peering> --resource-group <resource-group>

**To Reproduce**
az network express-route gateway connection create --gateway-name <name> --name <name> --peering <peering> --resource-group <resource-group> (basically anything with

[2021-01-21 08:48] LotteVoorhorst commented on #16598
We've been experiencing some of the same inconsistencies with creating private endpoints.

[2021-01-21 09:13] yungezz commented on #16614
route to appropriate team

[2021-01-21 09:13] yungezz commented on #16615
ropuotet to appropriate team

[2021-01-21 09:14] yungezz commented on #16615
https://github.com/Azure/azure-cli/issues/14287

[2021-01-21 09:15] yungezz commented on #16600
hi @fengzhou-msft could you pls have a look? thanks

[2021-01-21 09:25] cnovel opened #16617 "Use `az upgrade` in quiet mode"
**Is your feature request related to a problem? Please describe.**
I'd like to use `az upgrade` without the need of human intervention on Windows.
Currently, running `az upgrade -y --all` still prompts a dialog where you have to accept license and click on next.

**Describe the solution you'd like**
`az upgrade --yes --all --quiet` upgrades all the az cli quietly, without any dialog or human inter

[2021-01-21 10:06] yonzhan commented on #16598
@RobHofmann  please share the detailed debug info.

[2021-01-21 11:52] panzergame commented on #16488
Hi @calvinsID, I reinstalled Azure CLI and now it seems to work nicely, thanks for testing. Should I let you close the issue ?

[2021-01-21 11:57] JFolberth commented on #16535
Thanks, yes I've been able to use the command as noted above. Just wanted to provide feedback on the documentation.

[2021-01-21 12:08] xitos2019 opened #16619 "Cant merge context into kube config file from Managed AKS cluster"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]
[code]
- _Put any pre-requisite steps here..._
- `az aks get-credentials -g {} -n {} --subscription {} {}`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2021-01-21 12:17] yonzhan commented on #16619
aks

[2021-01-21 12:29] astauben commented on #16469
Hi @vladris it is indeed bug in our clients, the role name is not supported in the server side.
We will fix this issue, and future clients will have the right property name.

In the meanwhile, would you like us add the role to your database manually?

[2021-01-21 12:58] Morriz opened #16774 "az aks create: documentation not showing options for --node-osdisk-type"
**What happened**:
Looking up what type of disk can be provisioned with `az aks create --node-osdisk-type` in the documentation.

**What you expected to happen**:
To see the options available

[2021-01-21 13:00] mikkelhegn opened #16620 "'postgres server ad-admin create' fails if --object-id is surrounded with quotes (")"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
'postgres server ad-admin create' fails if --object-id is surrounded with quotes ("). This makes scripting with the command more difficult to have to keep track of "cleaning" outputs form other commands for quotes.
E.g.
[code]

**Command Name**
`az postgres server ad-admin create`

**Errors:**
[code]

## To Rep

[2021-01-21 13:36] yungezz commented on #16620
route to appropriate team

[2021-01-21 13:36] yungezz commented on #16617
hi @fengzhou-msft could you pls share the config to silently upgrade? thanks

[2021-01-21 13:38] yungezz opened #16621 "[Keyvault] RBAC AKV Permission Model - move to GA"
**Is your feature request related to a problem? Please describe.**

Keyvault

https://dev.azure.com/azure-mgmt-ex/KeyVault/_boards/board/t/KeyVault%20Team/Stories/?workitem=4636
Move RBAC AKV Permission Model command from preview to GA
**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-01-21 13:38] yungezz commented on #16621
remove preview tag, to GA the command

[2021-01-21 13:50] schaijkw commented on #13655
I am facing the exact same issue. --timeout is not respected and I will add a retry loop so we will improve the chance of a succesful deployment.

[2021-01-21 14:03] lobsteropteryx commented on #13655
This might not be an option for everyone, but using deployment slots fixed this for us--haven't seen the issue again, across multiple function apps.  I am sure I've seen a comment in the documentation from Microsoft that suggests that there may be issues deploying without slots, but I can't seem to find it.

[2021-01-21 14:08] schaijkw commented on #13655
Are you reusing the same slot everytime? I create a unique slot (staging_{{buildid}}) for a release and after success I delete the slot. In that case I am always sure I have a clean set of app settings.

[2021-01-21 14:11] lobsteropteryx commented on #13655
Yes, we reuse the same slot for each deployment, then do a swap.

[2021-01-21 14:43] vladris commented on #16469
No, that's OK. Thanks for offering. I know how to add roles manually, was just looking at Azure CLI automation so I'll wait for the fix.

[2021-01-21 14:52] astauben commented on #16469
OK. Thanks for reporting this bug.

[2021-01-21 15:59] natdan commented on #13352
Is there any movement on this issue (and linked here)? I'm still seeing it in ubuntu-latest (I think it is 20.04) and az version 2.16 in the agents... Is there any other workaround?
BTW same commands issued from my local computer's shell work well...

[2021-01-21 16:00] natdan commented on #15225
Any news regarding this? It seems quite a big deal and it is still an issue - 4 months later...

[2021-01-21 16:46] jlienSage commented on #16538
@panchagnula Yes, the difference is between the Linux and Windows versions of Az CLI. On Windows, creating a certificate only has the `properties` section as output while Linux has more information. However, the command `az webapp config ssl show` has the same behavior on both platforms, only returning the `properties` section.

[2021-01-21 16:57] gro1m commented on #15010
I also ran into this problem today.

[2021-01-21 17:01] Kotasudhakarreddy commented on #16555
@ankitkumarr / @fabiocav - Can one one of you look at the Function app test failure [here](https://clitestresultstac.blob.core.windows.net/20210108-054003-141548/appservice.report.parallel.html) .

[2021-01-21 17:02] Kotasudhakarreddy commented on #16555
@qwordy - `az webapp up` tests failures are expected. So please ignore this.
@panchagnula - FYI.

[2021-01-21 17:22] calvinsID opened #16622 "WebApp: az webapp up/create gives confusing message when using name with a period"
**Describe the bug**
Run `az webapp up/create` with a name that has a period (".")
![image](https://user-images.githubusercontent.com/14339314/105387061-06c49500-5bca-11eb-8a2b-dd2eeaf6f252.png)

**To Reproduce**

**Expected behavior**
Expected msg:
![image](https://user-images.githubusercontent.com/14339314/105387131-18a63800-5bca-11eb-967b-99e595a08901.png)

**Environment summary**

**Additional

[2021-01-21 17:28] #16488 closed

[2021-01-21 18:25] dctucker commented on #14642
We're still seeing this problem and it's consuming a lot of our time in the process of trying to extract data from a production instance. Has there been any follow up on this since the most recent comment?

[2021-01-21 18:45] apawast commented on #16323
@ggailey777 what is our guidance on the Functions naming convention?

[2021-01-21 18:49] apawast commented on #16478
@bertwagner thank you for this request. This is reasonable, we will have to review and prioritize this.

[2021-01-21 18:57] MikkelHegn commented on #16620
FYI - jq takes a flag to provide the raw output `jq -r`. That makes it easier in the example above, but I still think it should be possible to parse the object id with quotes.

[2021-01-21 19:45] jongio opened #16624 "Get telemetry cache permission denied when running commands in WSL"
**Describe the bug**

I ran `az deployment sub create` and get the following:

[code]

**To Reproduce**

**Expected behavior**

## Environment Summary
[code]

**Additional context**

[2021-01-21 20:37] dmraymond opened #16625 "az storage account list - Parameter 'resource_group_name' must have length less than 90."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When you run the command with the subscription parameter and  without the resource-group parameter it results in an error. The same error occurs if you run the command without any parameters.

**Command Name**
`az storage account list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note

[2021-01-21 20:40] guemuno opened #16626 "Error json CLI"
**Describe the bug**

the azure cli in windows powershell is not working with json strings
**To Reproduce**

Create an self sign certificate in a key vault in windows
az keyvault certificate create --vault-name KVName -n cert1 -p "$(az keyvault certificate get-default-policy)"
Expecting property name enclosed in double quotes: line 1 column 5 (char 4)

Run the same sentence in bash and works

**Ex

[2021-01-21 21:29] arunprakashpj opened #16627 "CLIInternalError: 'NoneType' object has no attribute 'reserved'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up -n {}`

## Expected Behavior

## Environment Summary
[code]
##

[2021-01-21 22:50] brianlehr commented on #15015
@yonzhan @haroldrandom  Hello again - here's the version you need: https://github.com/Azure/azure-rest-api-specs/tree/master/specification/network/resource-manager/Microsoft.Network/stable/2020-08-01

Apologies for the delay!

[2021-01-22 00:19] brianttu1 opened #16628 "az sig image-version create error, managed identity"
**Describe the bug**
Unable to use az sig image-version create within azure cli without getting an error

**To Reproduce**
az sig image-version create -g ciBaseVMs --gallery-name ciImages --gallery-image-definition linux-base-vm-shared-image --end-of-life-date 2021-03-20 --gallery-image-version 1.10.0 --target-regions 'centralus' 'EastUS2=1' --replica-count 1 --managed-image '/subscriptions/XXXXXX

[2021-01-22 01:04] maqshifengw commented on #11162
Hello @ajlam, this issue still existing, can you please check?

We can't remove the firewall rules from API when the lock is ON. (Which is expected)
![image](https://user-images.githubusercontent.com/77037916/105430679-e7009180-5c08-11eb-84c1-bb749d92b49b.png)

But we can remove the firewall via Portal when the lock is ON. (Which is not expected)
![image](https://user-images.githubusercontent.com/

[2021-01-22 01:07] ajlam commented on #11162
@mksuni - would you be able to follow-up?

[2021-01-22 02:10] msyyc commented on #16144
@3quanfeng @HemantErappa How to create a valid "data" for test before "application-gateway create"? I do not find any reference docs.
![Uploading image.png…]()

[2021-01-22 03:06] chenlomis commented on #16601
@zhoxing-ms  Thank you! That's very kind of you
I was able to get it working for a small scenario... we did receive additional feedback on the walkthrough where the leads were asking us to tweak part of the walkthrough before we share it out in the MVP meet up next week though... would love your help on the feasibility... let me follow up with you over email!

[2021-01-22 03:24] yungezz commented on #16627
#14879

[2021-01-22 03:27] yungezz commented on #16624
hi @fengzhou-msft could yo upls help to have a look? thanks

[2021-01-22 03:38] #16622 closed

[2021-01-22 03:43] qwordy commented on #16555
@Kotasudhakarreddy Got it.

[2021-01-22 03:44] yungezz commented on #16628
hi @qwordy could you pls have a look? thanks

[2021-01-22 03:45] yungezz commented on #16626
hi @houk-ms could you pls have a look? thanks

[2021-01-22 05:05] qwordy commented on #16628
@brianttu1 Could you try 2.18.0? 2.17 1 has a known issue of `az sig image-version create`.

[2021-01-22 05:44] msyyc commented on #15015
@brianlehr Got it and we plan to finish the feature after 2021/02/09. FYI

[2021-01-22 05:46] Paprika-a11y commented on #12700
Did this problem solved?

[2021-01-22 06:45] embix commented on #7374
Installing azure-cli on WSL2 is not fast either - If it were, I wouldn't be here checking for issues.

[2021-01-22 07:31] JerrySantana92 commented on #16209
@BenjaminHerbert were you able to fix it? I'm facing the same issue!

[2021-01-22 08:44] AbelHu opened #16632 "`az sig image-version update` is still updating after one day"
[code]

**Describe the bug**

`az sig image-version update` is still updating after one day. We are been blocking so we need your help ASAP.

**To Reproduce**

[code]

**Expected behavior**

`az sig image-version update` succeeds.

**Environment summary**

Linux-5.3.0-1035-azure-x86_64-with-debian-buster-sidPython 3.6.10Installer: DEBazure-cli 2.7.0

**Additional context**

[2021-01-22 08:46] yungezz commented on #16632
hi @qwordy could you pls take a look

[2021-01-22 09:10] YvonneArnoldus commented on #12507
I'm using
az webapp deployment slot create -n $WebAppMgmt --slot staging --configuration-source $WebAppMgmt

And still my slot is in .Net and now why to get it to core because

az webapp config set -n $WebAppWeb --slot staging --windows-fx-version 'DOTNETCORE|3.1' is for containers

az webapp config set -n $WebAppWeb --slot staging --linux-fx-version 'DOTNETCORE|3.1' gives a 400 bad rewquest.

So

[2021-01-22 09:19] phoenixkill opened #16633 "create vm from image windows10 is not as same as portal"
**Describe the bug**
when create vm from image windows 10  license-type is a request parameter ,but when use az cli to create vm from image windows 10  ,license type is not a request parameter

**To Reproduce**

**Expected behavior**
az cli create vm is as same as portal

**Environment summary**
msi az cli latest version

**Additional context**

[2021-01-22 13:00] r1ckr commented on #13319
@jiasli there's no --debug option in the kubectl command which is where this happens after the token has expired. Is there anything we can do to help you solve this issue? This is becoming an issue when you have to manage many clusters.

[2021-01-22 14:22] yonzhan commented on #16625
storage

[2021-01-22 14:30] brianttu1 commented on #16628
Hello,

Thanks for your reply!

/root:# az --version
azure-cli                         2.18.0

core                              2.18.0
telemetry                          1.0.6

Extensions:
image-copy-extension               0.2.8

Python location '/usr/bin/python3'
Extensions directory '/root/.azure/cliextensions'

Python (Linux) 3.6.8 (default, Nov 16 2020, 16:55:22)
[GCC 4.8.5 20150623 (Red Hat

[2021-01-22 14:31] brianttu1 commented on #16628
Hello,

I've replied in the issue comments:
https://github.com/Azure/azure-cli/issues/16628

Thanks for looking into this.

Brian

On Thu, Jan 21, 2021 at 11:06 PM Feiyue Yu <notifications@github.com> wrote:

--
Thanks,

Brian

[2021-01-22 15:40] ecc256 commented on #15968
Guys,
I see, this issue is **removed this from the S181 milestone # days ago.**
Could you tell, when it'll be fixed approximately, please?
Or provide a workaround...

[2021-01-22 16:45] lapontec commented on #16392
Same error here, I'm using 2.18.0

Version:
az --version
azure-cli                         2.18.0

core                              2.18.0
telemetry                          1.0.6

Extensions:
interactive                        0.4.4
desktopvirtualization               0.1.0

Error:
CLIInternalError: The command failed with an unexpected error. Here is the traceback:
'VirtualMachineExtensionsOper

[2021-01-22 16:52] grtn316 opened #16635 "az vm create (Accelerated Networking not enabled for RHEL image)"
**Bug**
When using CLI commands to create a virtual  machine using various RHEL images, results in accelerated networking turned off unless explicitly setting it to true via: --accelerated-networking true

**To Reproduce**
`az vm create -n <VM Name> -g <resouce group name> --zone <zone #> --ppg <ppg resource id> --subnet <subnet resource id> --admin-username <username> --image RedHat:RHEL:7-LVM --

[2021-01-22 17:53] ElvenSpellmaker opened #16636 "`az functionapp create` doesn't support https-only true"
**Is your feature request related to a problem? Please describe.**
Yes, the problem is that I'm trying to use `az functionapp create` to create a new function instead of using ARM as ARM removes all appsettings on update.

The problem I have is that subscription policy for this client denies creating a function without https-only true but I can't set this at function creation time using `az`...

*

[2021-01-22 18:26] Tribeni-Gupta opened #16637 "az iot hub device-identity list"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2021-01-22 18:43] panchagnula commented on #12507
@YvonneArnoldus reading your comment this doesn't seem like slot not supporting Dotnet 3.1 but more like Linux slots not working with .NET. I.e  this works az webapp config set -n $WebAppWeb --slot staging --windows-fx-version 'DOTNETCORE|3.1'
& this did not az webapp config set -n $WebAppWeb --slot staging --linux-fx-version 'DOTNETCORE|3.1'

Can you run the command as follows  az webapp config s

[2021-01-22 18:54] ajay15283 opened #16638 "az login fails to connect to Azure china"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
az login command using service principal fails to login Azure china subscription .There is no specific option to mention the environment as well

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain s

[2021-01-22 19:16] Tribeni-Gupta opened #16639 "command not working"
**Resource Provider**
 IOT hub

**Description of Feature or Work Requested**

This is great. I have started using it for managing azure resources . I on this below version.
PS C:\windows\system32> az --version
azure-cli                         2.18.0
core                              2.18.0
telemetry                          1.0.6
Extensions:
interactive                        0.4.4

I am running

[2021-01-22 19:18] asilverman opened #16640 "Error message is not helpful when a validation fails on `az vm create`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I am following the  [kubernetes-the-hard-way-on-azure](https://github.com/ivanfioravanti/kubernetes-the-hard-way-on-azure/blob/master/docs/03-compute-resources.md#kubernetes-controllers) tutorial, in the section to create the VMs my command to create a VM had a problem, I was specifying the wrong value for the

[2021-01-22 19:26] alexeyshishkin01 commented on #15856
now I've got the following issue - it did not happen before:

compare the output of connecting to container via 'bash' in case of 'docker' and 'az'
they used to be the same, but now 'az' out put is wrong - it should connect to 'postgres' user instead of 'root' user

1) 'docker' output

root@ubuntu20:~# image_id=pgpro-std10-debian-x64
root@ubuntu20:~# echo $image_id
pgpro-std10-debian-x64
root@ubun

[2021-01-22 21:19] axayjo commented on #14642
@koralski, can you please take a look at this issue?

[2021-01-22 23:06] velvia opened #16641 "az login need to re-login multiple times a day"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

I have heard from many that `az login` is supposed to keep you logged in for many days or weeks.  However, myself and another colleague, we have to login at the start of each day we are doing things using az CLI or scripts that use it, and sometimes multiple times a day.   Do you k

[2021-01-22 23:11] calvinsID commented on #16627
Will be fixed in next CLI release. PR: https://github.com/Azure/azure-cli/pull/16605

[2021-01-22 23:11] #16627 closed

[2021-01-22 23:43] calvinsID opened #16642 "Webapp: az webapp config ssl bind giving "certificate not found""
**Describe the bug**
`az webapp config ssl bind` giving "certificate not found error"

**To Reproduce**
- `az webapp config ssl import` command to import SSL cert to webapp that has an appservice plan in diff resource group
- `az webapp config ssl bind` - this command will fail with "certificate not found" error if webapp and appservice plan in diff resource groups

**Expected behavior**
- it shou

[2021-01-22 23:53] fabiobo2005 opened #16643 "PermissionError: [Errno 1] Operation not permitted: '/home/fabiobo/.azure/config'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`Unknown`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2021-01-22 23:53] ElvenSpellmaker opened #16644 "`az functionapp deployment slot create` doesn't copy tags"
**Describe the bug**
When using `az functionapp deployment slot create` it doesn't assign the tags from the copied production 'slot' config.

**To Reproduce**
In pwsh:
[code]

**Expected behaviour**
Slot is created with tags

**Additional context**
Function App with Tags:
![image](https://user-images.githubusercontent.com/2286713/105560529-eef52a00-5d0b-11eb-847f-05fe3e37f766.png)

Staging Slot cr

[2021-01-23 00:05] jongio commented on #16209
I'm seeing this with `az account get-access-token` as well.

[code]

This shouldn't throw an exception. It should fail gracefully.

azsdke2e
azsdke2e2

[2021-01-23 02:47] fengzhou-msft commented on #16209
Rerun `az login` and CLI should get a new refresh token and fix the error. @jiasli @houk-ms to follow up on better error handling for this case.

[2021-01-23 03:40] yonzhan commented on #16636
functionapp

[2021-01-23 03:41] yonzhan commented on #16637
iot

[2021-01-23 03:44] yonzhan commented on #16638
az login

[2021-01-23 03:46] yonzhan commented on #16639
iot

[2021-01-23 03:50] yonzhan commented on #16641
az login

[2021-01-23 03:53] yonzhan commented on #16644
functionapp

[2021-01-23 03:54] yonzhan commented on #16643
PermissionError

[2021-01-23 03:55] yonzhan commented on #16642
webapp

[2021-01-23 03:57] jiasli commented on #16643
Could you check https://github.com/Azure/azure-cli/issues/15638#issuecomment-715135087 and see if you can get unblocked?

[2021-01-23 16:35] edmlbox opened #16645 "Can't deploy azure function app."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I was able to deploy my azure function app for months without any problem but today it's just impossible.
**Command Name**
``
 az functionapp deployment source config-zip -g Res001 -n res002 --src C:\Users\Admin\Desktop\azure\azure.zip
**Errors:**
Getting scm site credentials for zip deployment
Starting zip dep

[2021-01-23 20:57] vladris opened #16646 "az datafactory linked-service create not working"
I am trying to create a linked service using Azure CLI in PowerShell Core.

My JSON file is `adx.json`:
[code]

I am using the following command:
[code]
This fails with:

[code]

I'm using Azure CLI version 2.18.0 of Azure CLI in PowerShell Core.

[2021-01-24 03:06] aluty opened #16647 "Support AzDevOps Feed Management"
**Is your feature request related to a problem? Please describe.**
Attempting to manage Nuget feeds.

**Describe the solution you'd like**
Add base commans:

    feed             : Manage Azure artifact feeds.

**Describe alternatives you've considered**
Using raw REST APIs described here.
https://docs.microsoft.com/en-us/rest/api/azure/devops/artifacts/feed%20%20management?view=azure-devops-rest-

[2021-01-24 03:30] aluty commented on #16647
Opened issue under CLI extensions: https://github.com/Azure/azure-devops-cli-extension/issues/1089

[2021-01-24 03:30] #16647 closed

[2021-01-24 06:59] ozbillwang commented on #16347
Seems this feature is ready.

You can run shell commands without leaving interactive mode using #[cmd].
[code]
https://docs.microsoft.com/en-us/cli/azure/interactive-azure-cli#bash-commands

[2021-01-24 06:59] #16347 closed

[2021-01-24 07:11] akshaybabloo opened #16648 "Unable to deploy web app"
I created a new app and did `az webapp up` and this is the error I am getting. I have no idea whats wrong.

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up`

## Expected Behavior

[2021-01-24 07:39] #16648 closed

[2021-01-24 10:52] jamiemccrindle opened #16649 "CVE-2020-1967 - upgrade cryptography library 2.8 to 2.9.1"
Version 2.8 of the cryptography library contains CVE-2020-1967 could you upgrade to 2.9.1?

https://nvd.nist.gov/vuln/detail/CVE-2020-1967

[2021-01-24 10:55] jamiemccrindle opened #16650 "CVE-2020-14343 - upgrade pyyaml from 5.3.1 to 5.4"
Version 5.3.1 of pyyaml contains CVE-2020-14343, could you please upgrade it to 5.4.

https://github.com/yaml/pyyaml/issues/420

[2021-01-24 14:40] yonzhan commented on #16646
datafactory

[2021-01-24 14:41] yonzhan commented on #16645
functionapp

[2021-01-24 14:44] yonzhan commented on #16649
@jiasli for awareness.

[2021-01-24 14:45] yonzhan commented on #16650
@jiasli for awareness.

[2021-01-24 15:41] anebot opened #16651 "Unable to get functionapp identity"
I've found the following error when trying to get the identity from function app,

## Describe the bug

**Command Name**
`az functionapp identity show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp identity show -n {} -g {}`

#

[2021-01-24 19:29] Rockyparkour commented on #11261
Did you find any solution till now? I am facing the same.

[2021-01-24 22:13] colemickens opened #16652 "Upload Page Blob from piped data or standard in (stdin, /dev/stdin) while skipping empty ranges"
**Is your feature request related to a problem? Please describe.**

In an ideal world, users would be able to:
* provision large disk images
* compress them using `zstd`
* decompress them on-the-fly and pipe them into a tool to upload them
* that tool would read from standard in, **and** would skip empty blob ranges

It seems Microsoft has attempted to remedy this multiple times but has abandoned

[2021-01-25 00:02] yonzhan commented on #16651
functionapp

[2021-01-25 00:04] yonzhan commented on #16652
storage

[2021-01-25 00:27] colemickens commented on #16652
A correction, despite the last commit moving the project ot Go modules, `azure-vhd-utils` doesn't even build, leaving a patched, pinnged `blobxfer` as the best remaining option I'm aware of.

[code]

[2021-01-25 01:12] DonPetry-EY opened #16653 "az resource update command fails on all resources of type publicIPAddresses."
The az resource update command fails on all resources of type publicIPAddresses.

BadRequestError: Resource /subscriptions/SUBID/resourceGroups/RGID/providers/Microsoft.Network/publicIPAddresses/IPID has an existing availability zone constraint 1, 2, 3 and the request has availability zone constraint NoZone, which do not match. Zones cannot be added/updated/removed once the resource is created. Th

[2021-01-25 01:29] yungezz commented on #16633
hi @qwordy could yo upls have a look? thanks

[2021-01-25 02:00] yonzhan commented on #16653
az resource

[2021-01-25 02:21] yungezz commented on #16640
hi @qwordy @houk-ms could you pls help to have a look? thanks

[2021-01-25 02:22] yungezz commented on #16646
hi @fengzhou-msft could you pls have a look? thanks

[2021-01-25 02:45] qwordy commented on #16640
@asilverman Could you add `--debug` and paste logs here?

[2021-01-25 02:49] qwordy commented on #16633
Azure CLI is a command line tool while Azure Portal is a website. They don't guarantee identical usage.

[2021-01-25 02:49] #16633 closed

[2021-01-25 02:54] qwordy commented on #16635
Azure CLI is different from Azure Portal. If it is turned automatically, some will ask why Azure CLI turns on accelerated networking for me be default. I will be charged more money. I can turn it on only if RHEL images must work on accelerated networking.

[2021-01-25 02:55] qwordy commented on #16585
I will open an investigation into this issue.

[2021-01-25 03:03] qwordy commented on #16628
@brianttu1 I will open an investigation into this issue.

[2021-01-25 03:06] qwordy commented on #16632
@AbelHu Could you add `--debug` and paste output here?

[2021-01-25 03:15] AbelHu commented on #16632
@qwordy After removing `eastus2euap` from the target regions, it succeeded. But later when I added `eastus2euap` back, it is still stuck in `updating`

[2021-01-25 04:17] harics24 opened #16654 "Adding sync peering operation after the address space is updated after peerings are created"
**Is your feature request related to a problem? Please describe.**
This new feature enhancement enables user to update the address space after the peerings are created. Current behavior will throw an exception

**Describe the solution you'd like**
We had implemented the feature in two steps so that we don't have many failures in the backend. The second step is to update the address space on the re

[2021-01-25 05:22] yonzhan commented on #16654
network

[2021-01-25 05:50] qwordy opened #16656 "Live test regression"
This issue is created by a program.
[Latest testing results of Azure CLI](https://clitestresultstac.blob.core.windows.net/latest/index.html)
[User Manual of Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EZGC9LwrN3RAscVS5ylG4HMBX9h7W0ZSA7CDrhXN5Lvx6g?e=V8HUmd)
[Upgrading API Versions in Azure CLI Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EcgPLHSkef9Mi14Rj

[2021-01-25 06:15] yonzhan commented on #16656
@Juliehzl storage is above 95%, right?

[2021-01-25 06:23] Juliehzl commented on #15626
According test results in https://github.com/Azure/azure-cli/issues/16656, it could be closed now.

[2021-01-25 06:23] #15626 closed

[2021-01-25 06:23] christianfosli commented on #16044
Closing due to dupe with #2588

[2021-01-25 06:23] #16044 closed

[2021-01-25 06:33] christianfosli commented on #16318
So this is a customer facing bug affecting those using Python 3.9+ (default in Fedora Linux and other distros). And it has a simple one-line fix which I opened a PR for more than a month ago.

Any ETA on reviewing this?

[2021-01-25 06:52] ajay15283 commented on #16638
I switch to Azure china cloud and the az login returns a different due to firewall block so closing the thread

[2021-01-25 06:52] #16638 closed

[2021-01-25 07:40] #16318 closed

[2021-01-25 08:13] YvonneArnoldus commented on #12507
az webapp config set -n 'web-app-ips-yat' --slot staging --linux-fx-version "DOTNETCORE|3.1" --debug

 {"Code":"BadRequest","Message":"The parameter LinuxFxVersion has an invalid value.","Target":null,"Details":[{"Message":"The parameter LinuxFxVersion has an invalid value."},{"Code":"BadRequest"},{"ErrorEntity":{"ExtendedCode":"01007","MessageTemplate":"The parameter {0} has an invalid value.","P

[2021-01-25 08:14] #16621 closed

[2021-01-25 08:24] alexeyshishkin01 commented on #15856
I have also tested the image with K8S - it works fine as well as Docker:

root@Alexey-HP:~# kubectl get pods
NAME                                                READY   STATUS    RESTARTS   AGE
pgpro-std10-debian-x64-deployment-c86bcb8dc-fnk65   1/1     Running   0          26s
root@Alexey-HP:~# kubectl get services
NAME         TYPE        CLUSTER-IP   EXTERNAL-IP   PORT(S)   AGE
kubernetes   Clu

[2021-01-25 08:25] #15314 closed

[2021-01-25 08:46] AbelHu commented on #16632
@qwordy it seems like to be an issue of the region `eastus2euap`. Now it is finished. Is there any idea to increase the replica count for a specified region instead of updating all regions?
I set the replica count to 10 (Max count in Azure portal) for the region `eastus2euap`. But we want to increase it to 20. How can we use az command to do it? We have 40 regions so we do not want to do a full up

[2021-01-25 09:05] RobHofmann commented on #16598
[code]

[2021-01-25 09:05] RobHofmann commented on #16598
Please let me know if the above is what you are looking for.

[2021-01-25 09:12] yungezz opened #16658 "VMSS Flex support"
**Resource Provider**

Compute, VMSS

**Description of Feature or Work Requested**

spec link:

- https://microsoft.sharepoint.com/:w:/t/vmssvmorchestrationmode/EemJzvPV2pdAgri8iFfTI_YB6V7CIIIWWpNXoPO__n1kFw?CID=A5C6140D-724B-43F9-830E-F49C5E297946&wdLOR=c5F5CB902-CA83-404A-A52C-95DEF3832AA5
- https://nam06.safelinks.protection.outlook.com/ap/w-59584e83/?url=https%3A%2F%2Fmicrosoft.sharepoint.com%

[2021-01-25 09:13] yungezz commented on #16658
Current status: Swagger not merged yet, pending on it.

[2021-01-25 09:37] cxbuilders opened #16659 "az bot directline create fails to set--enable-enhanced-auth"
I know this is not about the docs itself, but I don't know where to submit an issue for an az bot command.

When using the following command:
az bot directline create --name myBot --resource-group myBot  --enable-enhanced-auth true --trusted-origins https://www.test1.com https://www.test2.com

The result is that the site is created but the isSecureSiteEnabled is false and the trustedOrigins are nu

[2021-01-25 09:54] yonzhan commented on #16659
bot

[2021-01-25 10:08] RobHofmann commented on #16598
The thing I noticed is that when I use `az network private-endpoint show --id <private endpoint resource id>` I DO get my original name back (see below):
[code]

When I list the connections through `az network private-endpoint-connection list --id <appconfig resource id>` it shows the wrong name, and also multiple created connections (which doesn't seem to reflect the reality as shown in the previ

[2021-01-25 10:26] tunayokumus commented on #15212
hi @jiasli .
AzureML SDK has a dependency on  both azure-identity and on azure-cli-core (latter not stated in setup.py i believe but necessary for some modules). There we have the requirement to install both azureml-core and azure-cli-core in the same environment in order to use the azureml.core.authentication.AzureCliAuthentication module/class. Only installing azure-cli with the msi installer is

[2021-01-25 10:32] jiasli commented on #15212
@tunayokumus, I fully understand your problem.

We will test SSH based on the latest MSAL and bump its version accordingly. Thank you for your patience and understanding.

[2021-01-25 11:18] antonlcy32 opened #16660 "Some parameters do not respect * if the running folder has got directories/files"
When running Azure Storage CLI for CORS in a folder with sub-directories / files, it does not respect "--origins * --allowed-headers * --exposed-headers *" parameters. The CORS rule applied to the storage account will have "Allowed origins = <list of concatenated folder / file names>".

Steps to reproduce:

1. Run "cd" to a directory with some files / directories in there
![Screenshot 2021-01-25 a

[2021-01-25 11:25] kolendomichal opened #16661 "FunctionApp Add Access Restrictions throws error if Service Tag is present"
## Describe the bug

Adding additional **Access Restrictions** (for example IPv4 restriction) to existing FunctionApp with **ServiceTag** restriction throws error.
Command works if a **ServiceTag** restriction is **not present** in **Access Restrictions**

**Command Name**
`az functionapp config access-restriction add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note tha

[2021-01-25 12:21] yonzhan commented on #16660
storage

[2021-01-25 12:22] yonzhan commented on #16661
functionapp

[2021-01-25 12:25] RasmusWL commented on #16650
@jamiemccrindle since this is not an issue if using the SafeLoader (with `yaml.safe_load`), have you seen any places where `safe_load` is not used? I don't know a lot about this codebase, but just want to highlight that it might never have been affected by CVE-2020-14343 :blush:

[2021-01-25 15:46] 6abrielMR opened #16662 "No se puede importar la función api en apim"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim api import`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim api import --path {} --resource-group {} --service-name {} --

[2021-01-25 15:56] alexeyshishkin01 commented on #15856
it looks like the issue can be with terminals - it works in Putty and does NOT work in WSL - both have Ubuntu 20.04

[2021-01-25 16:49] m13biker opened #16664 "Error Updating BackendPool with AZ Cli [az network application-gateway address-pool update"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network application-gateway address-pool update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network application-gateway addres

[2021-01-25 17:50] velvia commented on #16641
@yonzhan sorry?  Yes I know how to use `az login` the problem is that I get logged out too often.  Any hints?

[2021-01-25 19:19] faceoffers28 commented on #11937
Same issue. I'm deploying a BOT using the CLI instructions. When I leave out the .deployment file, the Zip Deployment works, but my BOT doesn't. :(

When I include a .deployment file in the Bots root directory zip file, I get this error message in Deployment Center (Preview) for the App Service. I also get a Zip Deployment Failed message in the Command Prompt window.

Using the following command t

[2021-01-25 19:31] RobHofmann commented on #16598
I ended up having to delete my private endpoints and recreated them fully. After recreating the names are still not displayed correctly in the portal.

[2021-01-25 19:51] smokedlinq opened #16665 "Cannot update resource tags of a VNet"
## Describe the bug

The `az network vnet update` command is missing the `--tags` parameter to update resource tags.

**Command Name**
`az network vnet update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network vnet update -g {} -n {} -

[2021-01-25 20:18] faceoffers28 commented on #11937
I removed the . in the Project name and folders, but it still didn't work.

Here is my new .deployment file.

[config]
SCM_SCRIPT_GENERATOR_ARGS=--aspNetCore "C:\Users\Brian\Source\Repos\MyBot\MyBot\MyBot.csproj"

[2021-01-25 21:03] faceoffers28 commented on #11937
I finally got it to work. The .deployment file should look like this. I used Notepad++ to edit it.

[code]
When you run the following command, it creates the wrong file.

    `az bot prepare-deploy --lang Csharp --code-dir "./Source/Repos/MyBot/MyBot" --proj-file-path "C:\Users\<username>\Source\Repos\MyBot\MyBot\MyBot.csproj"
`

[2021-01-25 21:06] fitzgeraldsteele opened #16666 "Update VMSS Orchestration Mode Parameter to 'flexible' instead of 'VM'"
**Resource Provider**

Microsoft.Compute

**Description of Feature or Work Requested**
Update parameter for VMSS Orchestration mode. We have deprecated the parameters 'ScaleSetVM, VM' Allowed values should now be 'uniform, flexible' with default Uniform.

    --orchestration-mode      [Preview] : Choose how virtual machines are managed by the
                                          scale set. In

[2021-01-25 22:24] jongio commented on #16209
Yeah, az login fixes it, just shouldn't be a code exception, more like an error would be great.

[2021-01-25 23:06] grtn316 commented on #16635
@qwordy Totally understand. I think the confusion is that, sometimes its on and sometimes its not.

For example:
RHEL VM: off
Ubuntu VM: on

I was expecting them to either both be on or off by default.

In the docs it says: **Enable accelerated networking. Unless specified, CLI will enable it based on machine image and size.**
https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az_

[2021-01-26 00:56] yungezz commented on #16662
routing to appropriate team

[2021-01-26 00:57] yungezz commented on #16666
hi @qwordy could you pls evaluate impact of the breaking change? thanks.

[2021-01-26 01:23] yonzhan commented on #16664
network

[2021-01-26 01:27] yonzhan commented on #16665
network

[2021-01-26 01:29] yonzhan commented on #16598
@msyyc please help with this.

[2021-01-26 02:56] jiasli commented on #16641
Hi @velvia, apologize for the confusion. @yonzhan is only triaging this issue indicating we have received your request.

Could you share the error you got if you don't re-login? Is it something similar to https://github.com/Azure/azure-cli/issues/16209?

Thanks for the information.

[2021-01-26 03:04] qwordy opened #16669 "`vm create` example has a bug"
**Describe the bug**

`vm create` example has a bug.

Create a CentOS VM with a system assigned identity. The VM will have a 'Contributor' role with access to a storage account.
Azure CLI
[code]

It should be
[code]

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2021-01-26 03:11] jiasli commented on #16650
Knack always uses the latest version:

https://github.com/microsoft/knack/blob/7aa098ad2a4b6b17241690675527fe3735cc59c9/setup.py#L19

[code]

@fengzhou-msft, let's do it in Azure CLI!

[2021-01-26 03:40] mksuni commented on #11162
@BenjaminAbt  Hi , sorry for the delay. After speaking with the team the CLI experience is by design . For portal the experience should be the same as CLI and technically should not allow any delete operations firewall , service endpoint etc on the database server.

If you can share more details on your use case that your require to delete the firewall rule. is this automation related ?

[2021-01-26 04:12] jiasli commented on #16650
Knack always uses the latest version:

https://github.com/microsoft/knack/blob/7aa098ad2a4b6b17241690675527fe3735cc59c9/setup.py#L19

[code]

Azure CLI doesn't depend on PyYAML directly anymore: https://github.com/Azure/azure-cli/pull/12869.

@jamiemccrindle, if you are using `pip` to install Azure CLI, please upgrade underlying dependencies using:

[code]

[2021-01-26 04:33] #15735 closed

[2021-01-26 05:31] jiasli commented on #16348
Another or possibly better solution is to take advantage of Python's built-in Exception Chaining:

- Exception Chaining: https://docs.python.org/3.9/tutorial/errors.html#exception-chaining
- Built-in Exceptions: https://docs.python.org/3.9/library/exceptions.html#bltin-exceptions

[2021-01-26 06:00] msyyc commented on #16598
@RobHofmann I try to summarize your question to 2 point:
(1) Why does rerunning 'az newwork private-endpoint create ' with different '--connection-name' cause the 'connection-name' change?

(2) Why is '--connection-name' in 'az network private-endpoint' different with '--name' in 'az network private-endpoint-connection'?

Thank you  for your feedback.

[2021-01-26 06:31] #16416 closed

[2021-01-26 06:44] alexeyshishkin01 commented on #15856
oh, no - the issue is unpredictable - sometime it works in either terminal, sometime it does not

but one thing is for sure - it ALWAYS works in Docker and in K8S - so 'az container ...' looks like a buggy stuff

[2021-01-26 07:54] qwordy commented on #16635
@grtn316 Thank you for providing more details. The doc is really confusing. Undetermined behavior. If I write this command from scratch, I will not adopt this so called intelligent behavior. I will read code and debug to see what happens on different images.

[2021-01-26 07:55] matthai commented on #16641
I have the same problem.

It's different from #16209 in that it occurs during az login, not during az aks get-credentials.

It's similar in the sense that it seems to happen due to a token timeout. I get the following error message:
AADSTS70043: The refresh token has expired or is invalid due to sign-in frequency checks by conditional access. The token was issued on 2021-01-22T00:44:26.3870000Z an

[2021-01-26 08:12] jiasli commented on #16641
@matthai, did the error occur in the browser or in the terminal? Could you share a screenshot? Thanks.

[2021-01-26 08:17] velvia commented on #16641
@jiasli there is no error from `az login` for me.  It is when using other az commands, such as aks, etc that the error occurs, and then I would need to login again.  (or for example using kubectl, which interacts with AKS)
The problem for me is not az login error, it is that I am asked to login too frequently.

[code]

[2021-01-26 08:20] rbgigo opened #16673 "az container stop seems to send SIGKILL rather than SIGTERM"
**Describe the bug**

When executing _az container stop -g foo -n bar_ I noticed that the stop units are killed in the middle of its execution. This happens in a CentOS image. When logging in to the container and sending a SIGTERM to the PID-1, then every of the specified stop units get properly executed. I therefore conclude that _az container stop_ sends a SIGKILL to the PID-1 process, does not

[2021-01-26 08:21] matthai commented on #16641
Sorry, my bad, the error is not from az login. It is triggered by other az commands due to not being logged in, similar to @velvia.

I guess it's possible that possible that our systems administrators have changed login policies to require very frequent (every 12 hrs) re-login?

[2021-01-26 08:22] velvia commented on #16641
Where in Azure would login policies be set?

Thanks,
Evan

[2021-01-26 08:34] yungezz commented on #16669
PR ready

[2021-01-26 08:35] yungezz commented on #16673
route to appropriate team

[2021-01-26 08:47] BenjaminAbt commented on #11162
@mksuni I guess u marked the wrong person.

Likewise, I think we understood that the CLI was correct but the portal was not. But the bug has apparently reappeared according to @maqshifengw.

[2021-01-26 09:25] ElvenSpellmaker commented on #7245
@Crossbow78 I had to use an array instead and then splat it in powershell core.

Basically instead of joining them to a string make them an array:
[code]

[2021-01-26 09:37] carltonu3sq commented on #16661
I have the exact same issue with `az webapp config access-restriction add`.

[2021-01-26 09:59] fengzhou-msft commented on #15735
The fix will be released on Feb. 9 with `azure-cli 2.19.0`.

[2021-01-26 10:40] jiasli commented on #16641
@velvia, `TLS handshake timeout` is another issue. Please check your network connection and make sure `az account get-access-token` works as expected.

As for the original issue, it is very likely that your tenant administrator has enabled Conditional Access policy that makes the refresh token only valid for certain period of time (say 12h). You may refer to [Configurable token lifetimes in the Mi

[2021-01-26 10:42] jiasli commented on #16641
@matthai, to better help us identity the original error, could you share a screenshot of these lines? Thanks a lot.

[code]

[2021-01-26 12:22] dazinator commented on #14200
Im trying to create the following `a record` that utilises an `alias` - here is how I do it on the front end:

![image](https://user-images.githubusercontent.com/3176632/105844142-a6ba5e00-5fd0-11eb-8886-9ea8aa3079d4.png)

I cannot figure out the az cli command - as the docs don't mention how to set an alias when creating the a record set. If I don't speficy an IP address the az command shows:

[c

[2021-01-26 12:26] RobHofmann commented on #16598
Your second question is correct. The naming inconsistency's are really confusing. Also the fact that sometimes the documentation speaks of "private endpoint", "private endpoint connections", "private links" and "private link connections". In combination with the different naming of the elements, this is extremely confusing.

The first one however isn't. The weird thing is that, depending on the re

[2021-01-26 12:34] abuccts opened #16674 "`az vmss create` has incorrect authorization for gallery images"
## Describe the bug

**Command Name**
`az vmss create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[code]

## Expected Behavior

Create the vmss successfully without authorization issue.

## Environment Summary
[code]
## Additional Context

I have the read permission to one version

[2021-01-26 13:36] kolendomichal commented on #16661
I presume you have a 'ServiceTag' access restriction added to your web app?
If yes, then the issue is the same, although I suggest verifying the same command but with Azure Powershell.
It might work

[2021-01-26 14:13] carltonu3sq commented on #16661
I just checked and there is in fact a restriction on the web app. I'll give Azure Powershell a try!

[2021-01-26 14:20] 0papen0 commented on #15010
Had this exact problem today.
**I tried deleting the resource-group in which the DNS zone was located and that actually finished successfully.**
But I imagine not everyone can afford to delete the whole resource-group to do this, though...

[2021-01-26 15:26] barto90 opened #16675 "az login fails: TypeError: object.__new__() takes exactly one argument (the type to instantiate)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --service-principal --username {} --password {} --tenant {}`

## Expec

[2021-01-26 16:42] 951p commented on #16513
We just had the same issue.
For info, running the following command used to work before the az upgrade to 2.18.0 :
az monitor metrics alert create -n <Name> -g <ResourceGroup> --window-size <Value> --evaluation-frequency <Value> --condition <SomeValidCondition> --description "AnAlert!" --region <SomeRegion> --scope "/subscriptions/<SubId>/resourceGroups/<ResourceGroup>/providers/microsoft.insights

[2021-01-26 17:36] 3quanfeng commented on #16144
@msyyc , az cli support for mtls is only available after 02/09 as said above

[2021-01-26 17:40] velvia commented on #16641
@jiasli the error I get back from `az account get-access-token` is as follows:

[code]

It looks like indeed there is a 12-hour policy of some kind.

[2021-01-26 18:09] Morriz opened #16676 "az aks create: provide static ingress ip address for loadbalancer"
**Is your feature request related to a problem? Please describe.**

It is now not possible to provide a static ingress ip to a loadbalancer, even though that is possible for egress ip(s).

IMO the current architecture is flawed:
- SoC (separation of concern) issue: it is now **required** to configure a **service** with a static ip if one wants to force static ip usage, but that should be optional.

[2021-01-26 18:58] apawast commented on #16636
@gzuber can you please take a look at this?

[2021-01-26 19:05] ElvenSpellmaker commented on #16636
I've had to wrok around this by creating my own JSON and using `az resource create`:
[code]
has become:
[code]

[2021-01-26 19:07] niswitze commented on #16505
@Azure/aks-pm @yonzhan

Has there been any update on this issue? Still facing this after updating to the latest AZ CLI version, 2.18.0.

[2021-01-26 19:11] apawast commented on #16645
@Hazhzeng can you please take a look at this?

[2021-01-26 19:39] amitbapat opened #16677 "Confusing error message when Managed HSM name is wrong"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault role assignment list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault role assignment list --hsm-name {}`

## Exp

[2021-01-26 20:25] velvia opened #16678 "az aks update --enable-managed-identity --assign-identity fails with UnrecognizedArgumentError"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update`

**Errors:**
[code]

According to this article: https://docs.microsoft.com/en-us/azure/aks/use-managed-identity

We can update an existing AKS cluster to enable a user managed identity.  What I'm trying to do is to allow a Python app running in our AKS cluster to authenticate u

[2021-01-26 20:52] ramaganesan-rg commented on #14158
Closing this issue, absyed - please feel free to reopen this issue if you are still experiencing this issue? thank you for the feedback.

[2021-01-26 20:52] #14158 closed

[2021-01-26 20:53] #14747 closed

[2021-01-26 21:17] bitcloud commented on #15856
I just tested what you said with the `memcachd` container from docker hub as I don't have access to your container and it works for me.
[code]

created the container twice and connected to each twice. Always the same result. This is certainly not a cli issue as it only forwards the terminal from the azure container service. So I guess it is either an issue in the azure container service or an issu

[2021-01-26 22:59] velvia commented on #16641
By the way, I followed the instructions in the Configurable Lifetimes article above, installed PowerShell and the AzureAD module, but it doesn't work:

[code]

[2021-01-26 23:01] gzuber commented on #15041
@yonzhan I believe this issue can be closed. It hasn't been updated in a while and it looks like it was due to an out of date version of the cli.

[2021-01-26 23:43] yonzhan commented on #16675
Account

[2021-01-26 23:44] roander-msft opened #16679 ""az storage blob download" fails with "Permission denied" if the destination file is a directory"
**Describe the bug**
"az storage blob download" fails with "Permission denied" if the destination file is a directory. It makes sense that it fails. The bug is that the error message is non-specific and confusing for the user.

**To Reproduce**
From powershell:
[code]

Fails like so:
[code]

**Expected behavior**

Would be more helpful for the user if the command failed with a more specific error

[2021-01-27 00:02] yonzhan commented on #16676
aks

[2021-01-27 00:03] yonzhan commented on #16505
This issue should be looked into by AKS service team.

[2021-01-27 00:35] timothyxchen opened #16680 "CVE-2020-1971 - cryptography library 2.9.2 issue"
Version 2.9.2 of the cryptography library contains CVE-2020-1971, which is fixed in 3.3.

https://nvd.nist.gov/vuln/detail/CVE-2020-1971

[2021-01-27 01:31] yonzhan commented on #16678
aks

[2021-01-27 01:42] yungezz commented on #16680
hi @fengzhou-msft let's sync on cryptography package upgrading

[2021-01-27 02:01] yungezz commented on #16677
hi @houk-ms could you pls  help to have a look? thanks

[2021-01-27 02:01] yungezz commented on #16674
hi @qwordy could you pls have a look? thanks

[2021-01-27 02:09] jcbrooks92 opened #16681 "[Regression]:Azure Government | az webapp config ssl import returns 'Microsoft.CertificateRegistration' is invalid"
**Describe the bug**
Using 2.18.0 of the CLI in Azure Government yields the error below when trying to add a keyvault cert to an app service. Downgrading to 2.17.0 works successfully.

error:
_ResourceNotFoundError: InvalidResourceNamespace: The resource namespace 'Microsoft.CertificateRegistration' is invalid._

**To Reproduce**
1. Install Azure CLI version 2.18.0

2. run the following command
az

[2021-01-27 02:12] niswitze commented on #16505
Got it, would it be possible to assign the issue to the team directly?

[2021-01-27 02:52] #16139 closed

[2021-01-27 02:52] #16508 closed

[2021-01-27 03:40] #16669 closed

[2021-01-27 03:54] qwordy commented on #16666
NumInvocations=58. It is not widely used.
[code]

[2021-01-27 04:02] fitzgeraldsteele commented on #16666
If you want to check my subid, I bet most of them are from me. partial subid 576f5...cc4

Jerry
Steele
Microsoft
senior program manager
425.421.2566

________________________________
From: Feiyue Yu <notifications@github.com>
Sent: Tuesday, January 26, 2021 7:55 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Jerry Steele <Jerry.Steele@microsoft.com>; Author <author@noreply.github.com>
S

[2021-01-27 04:36] #15041 closed

[2021-01-27 04:37] yonzhan commented on #16679
storage

[2021-01-27 04:40] yonzhan commented on #16681
route to service team to take a look

[2021-01-27 04:40] yonzhan commented on #16505
routing this to the appropriate team for follow-up. cc @Azure/aks-pm

[2021-01-27 05:02] houk-ms opened #16683 "'[Errno 22] Invalid argument' for az keyvault secret list/show"
**Describe the bug**

If a secret's **Activation Date** or **Expiration Date** is set out of range year 1970 – 2038 (need to confirm, for windows10 & python 3.8.2, the range is around 1970-3000), the `az keyvault secret list/show` commands will fail.

This is due to [Python crash on Windows with a datetime close to the epoch](https://stackoverflow.com/questions/56931738/python-crash-on-windows-wit

[2021-01-27 05:11] houk-ms commented on #16683
Keyvault

[2021-01-27 05:45] jiasli commented on #16641
@velvia, it looks like you don't have `AzureAD` module installed. Could you check [Install Azure Active Directory PowerShell for Graph](https://docs.microsoft.com/en-us/powershell/azure/active-directory/install-adv2?view=azureadps-2.0) to install `AzureAD` module accordingly?

BTW, I think `New-AzureADPolicy` from [Configure token lifetime policies (preview)](https://docs.microsoft.com/en-us/azure

[2021-01-27 06:14] velvia commented on #16641
@jiasli I installed AzureAD in addition to AzureADPreview, but no difference, it still can't find the command.  :(

[2021-01-27 06:50] jiasli commented on #16675
This issue has been reported before in https://github.com/Azure/azure-sdk-for-python/issues/12203.

When `ContentDecodePolicy` doesn't have `__init__`, passing non-empty `**kwargs` is equivalent to passing them to `object()` which causes the failure in `typing.py`.

[code]

`ContentDecodePolicy.__init__` was added by https://github.com/Azure/azure-sdk-for-python/pull/9595:

[code]

So could you ve

[2021-01-27 07:15] #16489 closed

[2021-01-27 07:28] akashpandey111 opened #16684 "Unable to login to ACR"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr login -n {}`

## Expected Behavior

## Environment Summary
[code]
##

[2021-01-27 08:00] msyyc commented on #16598
Hi, 'App Configuration' service team. When rerunning 'az network private-endpoint create' with different '--connection-name', server will respone error and 'az network private-endpoint-connection list' shows that: there are two same connections:
![image](https://user-images.githubusercontent.com/70930885/105960253-e9a33100-60b7-11eb-9389-bb1ee64dc601.png)

While for other services (like'acr,keyvau

[2021-01-27 08:12] houk-ms commented on #16677
let me investigate it.

[2021-01-27 08:21] barto90 commented on #16675
azure-core is already installed with version 1.10.0

Please see the results:
pip list | grep azure-core
azure-core                                       1.10.0

Did a pip install with --force

No result. The same error occurs

[2021-01-27 09:04] qwordy commented on #16385
I don't think location is required. Location is used to specify where to create snapshot. If it is omitted, it will inherit from location of resource group. It is message from service. It says it can't find `/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/fy/providers/Microsoft.Compute/disks/d1`. However, it exists. The response is misleading.
[code]

[2021-01-27 09:06] qwordy commented on #16385
Hi guys, can you help take a look? Thanks!

[2021-01-27 09:17] jsntcy commented on #16615
Fix this line https://github.com/Azure/azure-cli/blob/7270756c6b2a7a3db3e5ee948154cfcbfd0a8c1c/src/azure-cli/azure/cli/command_modules/network/custom.py#L2654 to `ids=[SubResource(id=propagated_route_table) for propagated_route_table in propagated_route_tables] if propagated_route_tables else None`

[2021-01-27 09:24] jiasli commented on #16675
This is very weird. @barto90, could you share the full error message?

`azure-core` 1.10.0's `ContentDecodePolicy` does have `__init__` defined:

https://github.com/Azure/azure-sdk-for-python/blob/azure-core_1.10.0/sdk/core/azure-core/azure/core/pipeline/policies/_universal.py#L463-L477

[code]

Could you run `cat` on `_universal.py` and see if it has the same content as the above file?

[2021-01-27 09:46] barto90 commented on #16675
@jiasli

It seems the file does contain the mentioned class. See;

class ContentDecodePolicy(SansIOHTTPPolicy):
    """Policy for decoding unstreamed response content.

    :param response_encoding: The encoding to use if known for this service (will disable auto-detection)
    :type response_encoding: str
    """
    # Accept "text" because we're open minded people...
    JSON_REGEXP = re.compile

[2021-01-27 10:11] jiasli commented on #16675
That's weird, I didn't see any reason `if super().__new__ is object.__new__ and cls.__init__ is not object.__init__` is evaluated to `False`.

Do you see the same error if you use `python` to directly run this script:

[code]

I also added a debug line in `typing.py`,

[code]

The above script should show

[code]

[2021-01-27 10:17] yonzhan commented on #16684
acr

[2021-01-27 11:05] alexeyshishkin01 commented on #15856
ok, let me check with other types/versions of containers
it worked really great till summer 2020 - no issues at all

[2021-01-27 11:07] jiasli commented on #16649
Will be addressed in #15687.

[2021-01-27 11:07] jiasli commented on #16680
Will be addressed in #15687.

[2021-01-27 11:26] #16650 closed

[2021-01-27 11:42] mortenlerudjordet commented on #16513
Having the same issue.

[code]

[2021-01-27 13:50] jiasli commented on #16606
`-o/--output none` only controls the content of `stdout`.

To fully disable warnings in `stderr`, you may use

- `core.only_show_errors` config option via `az config set core.only_show_errors=true`
- `AZURE_CORE_ONLY_SHOW_ERRORS=1` environment variable
-  `--only-show-errors` argument

More information can be found at [CLI configuration values and environment variables](https://docs.microsoft.com/

[2021-01-27 14:14] jiasli commented on #16587
This issue is caused by installing Azure CLI 2.15.0 along with Track 2 `azure-mgmt-resource` SDK (https://github.com/Azure/azure-cli/issues/15530).

`azure-cli-core` has vendored Track 2 `azure-mgmt-resource` SDK and this issue should not happen with the latest Azure CLI.

Please update to the latest version:

[code]

[2021-01-27 14:14] #16587 closed

[2021-01-27 14:16] codelovesme opened #16686 "Trying to connect to ACI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container exec`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container exec --ids {} --exec-command {}`

## Expected Behavior

#

[2021-01-27 14:34] Stephanvs commented on #5163
I can report that we just ran into the same problem, so it still does not appear solved.

[2021-01-27 14:50] rbgigo commented on #16673
Hi

I further investigated the problem, meaning I wrote a primitive shell script run.sh that acts as init pid-1 process. Sot it gets executed using the CMD ["/etc/init.d/run.sh"], hence it ends up running as pid-1

It consists of an endless loop writing a message to a log file and waiting then for 1s to repeat the same again. To catch the expected SIGTERM it leverages trap 'sigterm' TERM. The "wor

[2021-01-27 15:19] MisinformedDNA commented on #12036
I ran into "Deployment XXXX unsuccessful, status: 3", it turned out to be a compilation issue.

[2021-01-27 15:43] fengzhou-msft commented on #16617
You can use `--only-show-errors` to suppress warnings and infos from Azure CLI.  But admin privilege is needed with user confirmation or password when updating MSI, Debian and RPM packages.

BTW, for the command to update MSI, you need to run the Powershell as admin.

[2021-01-27 16:58] shaunsat opened #16687 "az policy definition show"
Can you change the "az policy definition show --name" parameter to actually be the policy name, it currently uses the definition id. I want to get the id once I have created it, by using the name

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 436bf02d-dfe3-ef6e-2be8-1bd7b1f39623
* Version Independent ID: e8b92df3-9e3d-

[2021-01-27 17:56] shermes opened #16688 "az blueprint artifact create returns JSON parsing error instead of File Not Found"
**Describe the bug**

When providing an invalid path to JSON file that will be used to create a policy or a template for a Blueprint, the CLI returns a JSON parsing error instead of a File Not Found error.

**To Reproduce**

Create a Blueprint object
[code]
Add a policy

[code]

Error:
`Expecting value: line 1 column 1 (char 0)
`
**Expected behavior**

Since I am on a mac, the `\ `character is not

[2021-01-27 18:09] rmarr2 opened #16689 "WebApp:az webapp deleted restore should create destination site if does not exist."
**Describe the bug**
When trying to restore deleted site and the site used in the --Name parameter does not exist this results in  404 .
This is inconsistent with the Powershell experience which will create the site if the does not exust

[Restore-AzDeletedWebApp (Az.Websites) | Microsoft Docs](https://docs.microsoft.com/en-us/powershell/module/az.websites/restore-azdeletedwebapp?view=azps-5.3.0)

[2021-01-27 18:11] munozemilio commented on #16659
Thanks for bringing this up @cxbuilders Im taking over the botservice component. I will asses and try to accommodate as soon as possible in the corresponding release.

[2021-01-27 18:13] rahul-mohan opened #16690 "--ttl option does not work when adding A records to private DNS"
[Enter feedback here]
Documentation on "az network private-dns record-set a create" says I can use --ttl option to specify a custom ttl value. It does not work. I get the error: "UnrecognizedArgumentError: unrecognized arguments: --ttl"

Cloud both from Azure Cloud Shell and latest CLI on macOS.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub

[2021-01-27 18:22] mvzink opened #16691 "`az vnet peering create` no longer works cross-tenant"
## Describe the bug

**Command Name**
`az network vnet peering create`

**Errors:**
[code]

## To Reproduce:

- Give a user in `$SECONDARY_TENANT` the `Network Contributor` role on a Virtual Network (`$PRIMARY_VNET_ID`) that lives in `$PRIMARY_SUBSCRIPTION` within `$PRIMARY_TENANT`.
- Log in to both tenants as the user from the secondary tenant:
  - `az login -t $PRIMARY_TENANT`
  - `az login -t $

[2021-01-27 18:34] #16690 closed

[2021-01-27 18:37] khyewei opened #16692 "Trusted Launch - CLI"
**Resource Provider**
 Microsoft.compute\virtualmachines & Microsoft.compute\disk

**Description of Feature or Work Requested**

Release CLI for Trusted Launch public preview.

(1) Create a virtual machine with Trusted Launch.
	az group create -n myGroup -l eastus
az vm create \
--resource-group myResourceGroup \
--name myVM \
--image XXX \
--admin-username azureuser \
--generate-ssh-keys \
[--Sec

[2021-01-27 20:22] shaunm-msft opened #16695 "az group exists appends \r to the output"
**Describe the bug**
az group exists appends \r to the output. It should return "true" or "false" but instead it returns something like "false\r".

So my bash script looks like this:
if [ $(az group exists --name doesnt_exist) == $'false\r' ]

This is what I expected it to look like, but this doesn't work.
if [ $(az group exists --name doesnt_exist) == $'false' ]

You can see the result of the car

[2021-01-27 20:24] amjads1 commented on #16385
Looking into the issue

[2021-01-27 20:30] atwoodtja opened #16696 "AzureCliCredential using AzureChinaCloud gives principal named not found in tenant error using public cloud ARM URL (https://management.azure.com) instead of China ARM (https://management.chinacloudapi.cn) Error 500011"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

Using code changes for login suggested in https://docs.microsoft.com/en-us/azure/developer/python/azure

[2021-01-27 21:11] mhaleem opened #16697 "Apple Silicon: Process Killed"
CLI Version: 2.18.0

The terminal kill any az Commands, all commands failed with no error message
Printed Message:
/opt/homebrew/bin/az: line 2: 68133 Killed: 9               AZ_INSTALLER=HOMEBREW /opt/homebrew/Cellar/azure-cli/2.18.0/libexec/bin/python -m azure.cli "$@"

Python Version: 3.8.7
OS: Big Sur: 11.1
Command Line Tool Version: Xcode 12.4
Apple MacBook Pro 2020(M1)

[2021-01-27 21:27] BrianBaro opened #16698 "az functionapp list returns incorrect null values"
**Describe the bug**
When using the "az functionapp list" command the returned json contains values that should not be null, such as siteConfig.minTlsVersion
**To Reproduce**
Run a command along these lines:
az functionapp list --output json --query "[].{hostName:defaultHostName, httpsOnly:httpsOnly, minTlsVersion: siteConfig.minTlsVersion}" -o table
**Expected behavior**
The returned minTLSVersio

[2021-01-27 22:43] wordlessitguy opened #16699 "Reset custom DNS Servers on vNet back to default (Azure-provided)"
When creating or updating a vnet using Azure CLI you can set DNS servers (using --dns-servers command) - however there does not appear to be a way to reset this back to the Azure-provided DNS using the Azure CLI (other than using a generic update argument to remove dhcpOptions?).

This is possible on a network interface -

`
Command
    az network nic update : Update a network interface.

Argument

[2021-01-27 23:02] yonzhan commented on #16686
container

[2021-01-27 23:09] yugangw-msft commented on #16684
setup bugs

[2021-01-27 23:32] yonzhan commented on #16687
policy

[2021-01-27 23:34] yonzhan commented on #16689
webapp

[2021-01-28 01:50] yonzhan commented on #16691
network

[2021-01-28 02:13] fengzhou-msft commented on #16310
@charris-msft does the `Unable to check if your CLI is up-to-date. Check your internet connection.`  message always show up for you? Can you run `az --version --debug` to check the error trace before the output of the version information?

[2021-01-28 02:25] fengzhou-msft commented on #16624
@jongio Does this issue persist? Can you check if you have write permission to `/home/jon/.azure`?

[2021-01-28 02:38] fengzhou-msft commented on #16317
You need to set `MSYS_NO_PATHCONV=1` to avoid auto-translation of the resource id: https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_with_git_bash.md#auto-translation-of-resource-ids

[2021-01-28 02:46] northtyphoon opened #16700 "Unexpected error messages in az acr run output"
**Describe the bug**
I upgraded to latest 2.18.0 and noticed `az acr build/run` commands included the error messages like the below

Client-Request-ID=9bf92238-6111-11eb-b54a-ecb1d74de943 Retry policy did not allow for a retry: Server-Timestamp=Thu, 28 Jan 2021 02:36:22 GMT, Server-Request-ID=24848dbe-901e-00aa-4f1e-f52672000000, HTTP status code=404, Exception=The specified blob does not exist. E

[2021-01-28 02:51] yungezz commented on #16692
2020-12-01 Swagger ETA beginning of Feb.

[2021-01-28 03:30] fengzhou-msft commented on #16283
The issue is caused when updating the extensions. The storage account hosting the extension index is not so stable recently, we're migrating it to AME subscription. A message of `Upgrading extensions` is added now in `az upgrade` before checking extensions.

[2021-01-28 03:32] houk-ms commented on #15554
@yuemlu PR created https://github.com/Azure/azure-cli/pull/16702 to support this feature in AzureCLI.

[2021-01-28 03:45] wordlessitguy commented on #16699
Found workaround - can instead pass '' and this has the impact of nulling the DNS server list and Azure provided being used instead.

i.e -

`az network vnet update --name <name> --resource-group <rgroup> --dns-servers  ''`

{
  "addressSpace": {
    "addressPrefixes": [
      "10.0.0.0/8"
    ]
  },
  "bgpCommunities": null,
  "ddosProtectionPlan": null,
  "dhcpOptions": {
    "dnsServers": []

[2021-01-28 04:32] scseely opened #16703 "Knack hasn't been republished to make status_tag_messages available to az cli"
**Describe the bug**
After forking and cloning the repo, I tried to do some development. I cannot start the app because of an import of this line: https://github.com/Azure/azure-cli/blob/dev/src/azure-cli-core/azure/cli/core/__init__.py#L45.

Investigating, the functionality which defines knack.util.status_tag_messages was introduced on Dec 16, 2020 but the knack package on PyPi.org has not been u

[2021-01-28 05:08] jiasli commented on #16703
The current Azure CLI has a hard dependency on

https://github.com/Azure/azure-cli/blob/c7155bbc4009e1665c3ef8a65d4163493b6434b6/src/azure-cli-core/setup.py#L52

[Knack 0.8.0rc2](https://pypi.org/project/knack/0.8.0rc2/) does have the `knack.util.status_tag_messages` defined:

https://github.com/microsoft/knack/blob/v0.8.0rc2/knack/util.py#L17-L20

[code]

I believe `pip` will automatically instal

[2021-01-28 05:12] yungezz commented on #16700
I don't think there's change at CLI error related with this. hi @houk-ms could you pls help to double check? thanks.

[2021-01-28 05:12] yungezz commented on #16698
route to appropriate team

[2021-01-28 05:13] yungezz commented on #16697
hi @fengzhou-msft do you have any clue about this?

[2021-01-28 05:14] yungezz commented on #16688
hi @fengzhou-msft could you pls help to have a look? thanks

[2021-01-28 05:15] MamoruKurashima opened #16705 "az container create failed, but network profile was created."
![2021-01-28azcontainercreatefaild](https://user-images.githubusercontent.com/24773463/106093262-47488380-6173-11eb-8c9b-68cc94f781f4.png)

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may con

[2021-01-28 05:23] abhikdasgupta opened #16706 "Error while trying to upload Azure Bot written on Flask using https://docs.microsoft.com/en-in/azure/app-service/quickstart-python?tabs=powershell&pivots=python-framework-flask"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --sku {} --name {}`

## Expected Behavior

## Environment Summ

[2021-01-28 06:43] yonzhan commented on #16695
ARM

[2021-01-28 06:46] yonzhan commented on #16696
account

[2021-01-28 07:10] yonzhan commented on #16699
network

[2021-01-28 09:24] LotteVoorhorst commented on #11863
Same issue here.

Another thing to note is that at the moment we re-run the" az functionapp create" command, our app keys are regenerated which results in a new host.*.snapshot.*.json that ends up in the AzureWebJobsStorage. After about 10 times, this breaks the function app completely and we have to do some manual steps to cleanup the storage, before we can continue.

The expectation is that the

[2021-01-28 09:24] kolendomichal commented on #16661
@yonzhan  Any update on this?

[2021-01-28 09:35] doronmak opened #16708 "ResourceNotFoundError: The Resource 'Microsoft.Compute/virtualMachines/aks_node_name' under resource group 'MC_cluster-name_region' was not found."
**Describe the bug**
trying set ssh on aks node under VMSs and resource not found.

got this error on my cli:
ResourceNotFoundError: The Resource 'Microsoft.Compute/virtualMachines/aks-app' under resource group 'MC_cluster-name_westus2' was not found. For more details please go to https://aka.ms/ARMResourceNotFoundFix

tried the docs and not working, I think it happens when a node is under node po

[2021-01-28 10:35] Radamonas commented on #16262
Was this issue resolved on v 2.18.0?

[2021-01-28 10:54] fengzhou-msft opened #16709 "az login fails with my Microsoft B2C account in CLI beta version"
## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Use a Microsft B2C account, in my case username: `fengzhou*@163.com`, subscription: `Visual Studio Enterprise`.
- Run `az login` with CLI beta

## Expected Behavior
`az login` can succeed.

[2021-01-28 10:59] IagoFranco opened #16710 "az vm create Optional Parameters"
The optional parameter "--ssh-key-values" on the documentation is write with a "s", but it should be "--ssh-key-value".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 152b549b-d4b3-13e5-081c-c604b6e4d89e
* Version Independent ID: 3f79be78-ce75-ad31-304b-bad7d475ec9e
* Content: [az vm](https://docs.microsoft.com/en-us/c

[2021-01-28 11:34] abmis-mi opened #16711 "It is mentioned that we can specify odata filters in the --filter option, but it doesn't support contains, endsWith methods.. In that way, the use is very limited for the --filter switch"
An unknown function with name 'contains' was found. This may also be a key lookup on a navigation property, which is not allowed.
PS C:\> az ad sp list --filter "endsWith(displayName,'ppe')"
')' or ',' expected at position 26 in 'endsWith(displayName,'ppe''.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e99d25ff-03e2-

[2021-01-28 11:34] yonzhan commented on #16705
container

[2021-01-28 11:35] yonzhan commented on #16706
webapp

[2021-01-28 11:51] yonzhan commented on #16661
functionapp related commands are owned by service team.

[2021-01-28 12:20] yonzhan commented on #16709
Account

[2021-01-28 12:22] yonzhan commented on #16711
Graph

[2021-01-28 13:30] yungezz commented on #16708
route to appropriate team

[2021-01-28 13:31] yungezz commented on #16710
hi @qwordy could you pls have a look?

[2021-01-28 14:06] SimonWrightTW opened #16712 "AttributeError: 'VirtualMachineExtensionsOperations' object has no attribute 'create_or_update', VM password fails"
I ran a script to update VM local admin passwords. This works fine running on my own PC using my account, but I get the error below when running it on a Hybrid Worker using a Managed Identity. The authentication step works and I have given the Managed Identity the same RBAC role as my own account. Any ideas?

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

[2021-01-28 14:19] #16015 closed

[2021-01-28 14:22] schaijkw commented on #13655
I tried reuse the same slot. Unfortunately this didn't affect the outcome. Even if the slot already exists and is reused the timeout occurs.

[2021-01-28 14:29] fengzhou-msft commented on #16688
This is a known issue in CLI core as the parameter supports both json string and json file, but we don't have logic to identify the difference when invalid file path provided. This PR https://github.com/Azure/azure-cli/pull/15779 is an attempt to fix part of the cases when the file path is prefixed with `@`.

[2021-01-28 14:53] fengzhou-msft commented on #16684
@akashpandey111 we recommend to use debian packages as instructed in [install doc](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt&view=azure-cli-latest).

In your case, you may have installed a different version of `azure-mgmt-containerregistry` in your python environment than the version CLI requires (probably related to some steps in azure machine learning setup).

[2021-01-28 14:54] fengzhou-msft commented on #16684
@akashpandey111 can you tell us how you installed `azure-cli`? Did you follow some other doc?

[2021-01-28 15:00] grtn316 opened #16713 "WebApp:App Service - SSH Tunnel Issue (preview feature)"
**Describe the bug**
I am attempting to remotely debug an linux container running in App Service using Visual Studio 2017/2019. I have enabled SSH inside my container and am using the cli command below to create an ssh tunnel to my app service:

`az webapp create-remote-connection --subscription <subscription-id> --resource-group <resource-group-name> -n <app-name> &`

Found here: https://docs.mic

[2021-01-28 15:21] barto90 commented on #16675
When I run the python script directly it gives me the following output

 python3 test.py
Traceback (most recent call last):
  File "test.py", line 3, in <module>
    ContentDecodePolicy(name="value")
  File "/usr/lib/python3.8/typing.py", line 875, in __new__
    obj = super().__new__(cls, *args, **kwds)
TypeError: object.__new__() takes exactly one argument (the type to instantiate)

I haven't ha

[2021-01-28 16:08] rickardp opened #16714 "az deployment group what-if returns generated changes"
**Describe the bug**
When running `az deployment group what-if` on an ARM template, some properties that are typically generated on resource creation pops up as property deletes (i.e. the change set specifies that these properties will be set back to NULL). This happens in several places, the latest example for example is when creating a DataBricks workspace (Microsoft.Databricks/workspaces). In t

[2021-01-28 16:16] scseely commented on #16703
Verified that project is able to be debugged in VS Code now. Looks like this isn't a bug. Thank you!

[2021-01-28 16:16] #16703 closed

[2021-01-28 17:30] charris-msft commented on #16310
@fengzhou-msft
After manually upgrading to a later version the problem no longer occurs. However, I have included the debug info below that you requested.

❯(.venv)  az --version
azure-cli                         2.17.1 *

core                              2.17.1 *
telemetry                          1.0.6

Extensions:
db-up                              0.2.1

Python location 'C:\Program Files (x86

[2021-01-28 17:50] singankit commented on #15877
@irishun  Can you please share the output you get when you run **az login** ?

[2021-01-28 18:40] #16606 closed

[2021-01-28 18:51] ptsapralis opened #16717 ""az sf cluster node add" command fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sf cluster node add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sf cluster node add -c {} --node-type {} --nodes-to-add {} -g

[2021-01-28 20:14] BrianBasor commented on #16317
Thank you @fengzhou-msft for pointing us in the right direction.

[2021-01-28 21:59] nexxai opened #16719 "Webapp:az cli does not show the same (correct) information as Azure PowerShell for the same resource"
**Describe the bug**
When looking for the fileChangeAuditEnabled property on a WebApp, az cli says the setting is "null" (incorrect), whereas Azure PowerShell shows it as being "true" (correct).  This also manifests itself when looking at the "JSON View" of the WebApp in the Azure portal.

**To Reproduce**
Have a site that has fileChangeAuditEnabled set to true.

In PowerShell:
[code]

In Azure CL

[2021-01-28 22:07] kjohn-msft opened #16720 "[Compute] Hotpatching for Windows VMs"
**Resource Provider**
Compute

**Description of Feature or Work Requested**
Hotpatching is a new feature for VMs created from a specific image (to be announced at Ignite). It will function as part of Automatic VM guest patching for eligible VMs.

Automatic VM guest patching provides customers an easy-to-onboard solution to maintain security compliance for their virtual machines. This feature provi

[2021-01-28 22:50] diberry opened #16721 "Is $fqdn a powershell variable? Is this the most common use case example?"
![image](https://user-images.githubusercontent.com/41597107/106208328-0a32c000-6178-11eb-8e3b-1341818444b3.png)

Seems like an actual string name may be more representative of a good example? Or is powershell the top use case?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e390289-90cc-30e2-de78-33b080f9c27d
* Version

[2021-01-28 23:17] diberry opened #16722 "Please add the OSPO Fabricbot"
This repo should have the OSPO fabricBot added to this repo so issues and PRs get an automatic system for assigning people and labels.

[2021-01-29 01:07] kingces95 opened #16723 "DevTestCenter CLI"
**Resource Provider**
Dev Test Center

**Description of Feature or Work Requested**
We are creating an Azure PowerShell CLI for a new service, DevTestCenter. DevTestCenter is a service that allows corporate IT departments to set policy for how their development teams create CI/CD resources hosted in Azure.

**Minimum API Version Required**
Dunno.

**Swagger Link**
[devtestcenter.json](https://nam0

[2021-01-29 01:08] kingces95 commented on #16723
I created this work item per instructions [Step 1. Send request to AME team in Github](https://github.com/Azure/autorest.az/blob/master/doc/00-onboarding-guide.md#step-1-send-request-to-ame-team-in-github).

[2021-01-29 01:42] yonzhan commented on #16713
webapp

[2021-01-29 01:46] yonzhan commented on #16714
ARM

[2021-01-29 01:48] yonzhan commented on #16717
Service Fabric

[2021-01-29 01:51] yonzhan commented on #16719
webapp

[2021-01-29 01:54] yonzhan commented on #16723
Was this request for Azure PowerShell or CLI?

[2021-01-29 01:55] yonzhan commented on #16722
Could you please guide us for more details about OSPO Fabricbot ? How to onboard or leverage this?

[2021-01-29 01:58] yonzhan commented on #16721
webapp

[2021-01-29 02:23] diberry commented on #16722
https://docs.opensource.microsoft.com/tools/fabricbot/index.html - LMK if you need help.

[2021-01-29 02:45] jiasli commented on #16675
Well, at least we can narrow down the issue to Azure Python SDK.

No hurry. Please take your time. 😊

[2021-01-29 03:33] qwordy commented on #16720
Will plan it.

[2021-01-29 04:11] qwordy commented on #16710
Hi @IagoFranco,
It supports multiple keys.
Space-separated list of SSH public keys or public key file paths.

[2021-01-29 04:58] yungezz commented on #16712
hi @qwordy could you pls help to confirm?

[2021-01-29 05:11] lin404 opened #16725 "`az aks-get credentials` do not generate namespace of the context in kube config"
We have a container built in a non-default namespace. We use this container to connect to other clusters using kubectl.
However, since the container built in a non-default namespace eg called test, the default namespace is set to test. So when there is no namespace set in the config file, the namespace test is used as default.

**Describe the solution you'd like**
So I would like to have an option

[2021-01-29 06:25] yonzhan commented on #16725
aks

[2021-01-29 07:06] Drewm3 commented on #9780
I am going to close this item because the team is not planning to change the server side behavior of silently ignoring invalid keys. However, I suggest that anyone who is interested in supporting ed25519 keys upvote the following item in UserVoice: [ED25519 & ECDSA key format support](https://feedback.azure.com/forums/216843-virtual-machines/suggestions/38924263-ed25519-ecdsa-key-format-support).

[2021-01-29 07:06] #9780 closed

[2021-01-29 07:29] edrandall opened #16727 "az upgrade should only upgrade az, "brew cleanup" should be skipped"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I ran "az upgrade" expecting that the az cli command would be upgraded.
The whole of homebrew was upgraded including python 3.8 _and_ python 3.9.

From the output, only python 3.8 is a dependency of az, not python 3.9.   This may have been the result of an automatic  'brew cleanup' following on from the az upda

[2021-01-29 07:30] Drewm3 commented on #15846
This seem unlikely to be a compute service issue if the problem is specific to an image from Canonical, but we'll leave this as a service issue for now since there isn't anywhere else for it to really go. I'll track down the representatives working with Canonical and ask them to investigate this issue.

[2021-01-29 07:59] #12291 closed

[2021-01-29 08:11] kingfetty commented on #4245
Any update on this, we're running into it too.

[2021-01-29 08:37] amishra-dev commented on #10385
by design.

[2021-01-29 08:37] #10385 closed

[2021-01-29 08:38] amishra-dev commented on #12875
please reactivate if you are still hitting this

[2021-01-29 08:38] #12875 closed

[2021-01-29 08:40] Shaun-Harrison opened #16729 "Encrypt file using sops using a key store in Azure Vault"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az cloud set -n AzureChinaCloud` - this doesn't seem to make a difference but is suppose to change t

[2021-01-29 09:14] #15554 closed

[2021-01-29 09:20] yungezz commented on #16727
thanks for sharing the finding! @fengzhou-msft could you pls help to have a look? thanks

[2021-01-29 09:22] yungezz opened #16730 "[Keyvault]: make security-domain download async"
**Resource Provider**

Keyvault

**Description of Feature or Work Requested**

az keyvault security-domain download should be async operation.

**Minimum API Version Required**

**Swagger Link**

**Target Date**

April 15 MHSM GA.

[2021-01-29 09:22] yungezz commented on #16730
collecting more detail.

[2021-01-29 09:56] yonzhan commented on #16722
@diberry We already have msftbot to route to corresponding service team when adding "Service Attention" and some service label. Does OSPO Fabricbot you mentioned have the same behavior or this bot could provide more features?

[2021-01-29 10:00] stan-sz commented on #16307
Using https://github.com/Azure/azure-cli/blob/b5cc60ab5a00591bc0441ad348f8e7e9df26b2f3/src/azure-cli-core/azure/cli/core/mock.py#L9 the unit tests can now pass without reaching out to github. However, the uncaught exception message still uncovered a bug in an unclosed requests.Session: https://github.com/Azure/azure-cli/blob/625ccad030a7583ba9a1d2633ff812ece70e924c/src/azure-cli-core/azure/cli/cor

[2021-01-29 10:42] yonzhan commented on #16729
Account

[2021-01-29 11:00] IagoFranco commented on #16710
Hi Feiyue,

Yes, but shouldn't also consider the "--ssh-key-value" parameter too?

Thank you very much!

Atenciosamente,
Iago Franco
Call
Send SMS
Call from mobile
Add to Skype
You'll need Skype CreditFree via Skype

________________________________
De: Feiyue Yu <notifications@github.com>
Enviado: sexta-feira, 29 de janeiro de 2021 01:11
Para: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Ia

[2021-01-29 12:53] Skido8 opened #16734 "az sf cluster certificate add command fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sf cluster certificate add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sf cluster certificate add -g {} -c {} --secret-identif

[2021-01-29 13:34] czmirek opened #16735 "az container create error"
## Describe the bug
Got this error when trying to create a new container attached to existing VNET subnet. VNET is in a different resource group, everything is in West Europe.

The command created a new VNET with same name in myresourcegroup

**Command Name**
`az container create`

**Errors:**
[code]

## To Reproduce:
- Create or have existing VNET and subnet with container group delegation
- `az

[2021-01-29 14:31] willynagel opened #16736 "az ts export always fails"
Az ts export -g <resourcegroupname> --name <templatespecname --output-folder <outputfolder> always fails with:

CLIInternalError: The command failed with an unexpected error. Here is the traceback:
'TemplateSpec' object has no attribute 'template'
Traceback (most recent call last):
  File "C:\Users\VSSADM~1\AppData\Local\Temp\pip-unpacked-wheel-2huwp6jm\knack\cli.py", line 215, in invoke
  File "C