[2022-08-05 02:43] navba-MSFT commented on #23430
@harneetvirk Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-05 02:48] PardisTV commented on #23404
Hi, I am having the same issue when trying to update tags using both bash and powershell.
`az tag update --resource-id _myresourceid_ --operation merge --tags test=1234`

![image](https://user-images.githubusercontent.com/106784078/182990857-004e10d5-cdb2-4bb1-99ca-90219e42d560.png)

the tag will be added but I am getting the error which cause an issue in azure pipeline

[2022-08-05 02:50] jiasli commented on #23443
This is documented as a known issue during MS Graph migration: https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-migration#known-issues

[2022-08-05 02:55] jiasli commented on #23444
As documented in https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-migration#known-issues, generic update arguments `--add`, `--set` and `--remove` currently don't work as expected, so please refrain from using them.

[2022-08-05 03:05] yonzhan commented on #23446
Please provide detailed CLI command and error log for us to help you.

[2022-08-05 03:39] navba-MSFT commented on #23242
@rmc515 Thanks for the update.

[2022-08-05 04:07] zhoxing-ms commented on #23440
@AjKundnani In fact, when users only execute the `az vm create --name vmname --resource-group rgname` command without other parameters, CLI will prompt `incorrect usage: --image IMAGE | --attach-os-disk DISK`
This is because at present, users can also create a VM by attaching the OS disk without using the `--image` parameter, such as execute `vm create -g {rg} -n vm2 --attach-os-disk {disk_uri} --

[2022-08-05 04:45] AjKundnani commented on #23440
That is correct, for this scenario we assume user has not passed values to parameter `--image` nor for `--attach-os-disk`. For scenario where users will pass specific values (and other scenarios), I'll be submitting different request.

[2022-08-05 05:14] navba-MSFT commented on #23387
@avifatal This might require troubleshooting. May I know how feasible it is for you to open a support ticket to work on this issue ?

[2022-08-05 06:17] navba-MSFT commented on #23445
@brandonh-msft Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-05 06:34] navba-MSFT commented on #23430
@harneetvirk In order to get the command suggestions or list the available subcommands, You should run the command with `--help` argument. Considering a`z storage blob`  and `az ml job` and not complete commands, You will get the error message which says: _`the following arguments are required: _subcommand`_

See the output while running with the `--help` parameter.

[code]

[code]

[2022-08-05 06:49] navba-MSFT commented on #23445
@brandonh-msft Please run the below command and that should work.

Hope this helps.

[2022-08-05 08:01] #23208 closed

[2022-08-05 08:01] #23154 closed

[2022-08-05 08:01] #19762 closed

[2022-08-05 08:03] ivan-nushev commented on #17293
It was observed similar behaviour in a subscription of the company I am working for. In a time interval of 10 minutes we poll Azure VirtualNetworks API through Azure Java library version 1.41.3. Regular results of that poll contain all 25 VirtualNetworks but in an occasional result there were only 7. After the odd result the client continued to return all 25 VirtualNetworks. This behaviour is obse

[2022-08-05 08:42] jdoblams opened #23447 "Enable PATCH operation on AZ APIM UPDATE"
**Related command**
`az apim update --name "xxxxx" --resource-group "xxxxx" --sku-name "xxxx"`

**Is your feature request related to a problem? Please describe.**
Scenario: APIM with VNET Injection
When you want to perform some update operation into the APIM such as change the SKU and you only have RBAC permissions on the APIM, you cannot update it due permissions missing as below

`Code: LinkedAu

[2022-08-05 08:59] mdddev opened #23448 "Use certs saved in the local store to be used in cert-based auth for service principals"
**Related command**
az login

**Is your feature request related to a problem? Please describe.**
For service principal based authentcation, I cannot reference a cert via its thumbprint in the computer store. The Az module of pwsh is able to do so:

https://docs.microsoft.com/en-us/powershell/module/az.accounts/connect-azaccount?view=azps-8.2.0

**Describe the solution you'd like**
az login --servi

[2022-08-05 09:04] jiasli commented on #21296
According to AAD document:

https://docs.microsoft.com/en-us/azure/active-directory/develop/app-resilience-continuous-access-evaluation#the-code

[code]

claims challenge should be sent back to interactive re-auth. But Azure PowerShell cmdlet [`Connect-AzAccount`](https://docs.microsoft.com/en-us/powershell/module/az.accounts/connect-azaccount?view=azps-8.2.0) doesn't expose `-Claims` parameter, a

[2022-08-05 09:10] yonzhan commented on #23448
@jiasli for awareness

[2022-08-05 09:49] #22509 closed

[2022-08-05 09:51] #17141 closed

[2022-08-05 09:52] #17331 closed

[2022-08-05 10:04] RakeshMohanMSFT commented on #17395
This is fixed.
az account get-access-token --resource-type storage
az account get-access-token: 'storage' is not a valid value for '--resource-type'. Allowed values: oss-rdbms, arm, aad-graph, ms-graph, batch, media, data-lake.

[2022-08-05 10:04] #17395 closed

[2022-08-05 10:10] jiasli commented on #17395
Fixed by #17621

[2022-08-05 11:20] BALAGA-GAYATRI commented on #20743
Please refer to this documentation for the above- https://github.com/azure/login#configure-a-service-principal-with-a-secret
--sdk-auth still works and you can leverage it for the action.

[2022-08-05 12:04] AjKundnani opened #23450 "CLI | Trusted Launch as Default - VM/VMSS Deployment with Marketplace Image"
### Related command

- [az vm create --name 'vmname' --resource-group 'vm-rgname' --image 'imagealias'](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-create)
- [az vmss create --name 'vmssname' --resource-group 'rgname' --image 'imagealias'](https://docs.microsoft.com/en-us/cli/azure/vmss?view=azure-cli-latest#az-vmss-create)
- [az vm image list](https://docs.microsoft.

[2022-08-05 12:05] AjKundnani commented on #23450
Related closely to request #23440

[2022-08-05 12:47] yonzhan commented on #23450
@zhoxing-ms for awareness

[2022-08-05 12:50] yonzhan commented on #23447
route to CXP team

[2022-08-05 14:34] chlsmith opened #23451 "Add "exists" subcommand"
**Related command**
az <resource> list/show

**Is your feature request related to a problem? Please describe.**
It's easy to get back information about most Azure resources using list or show, but when those resource don't exist, you get back an error.   This breaks automation scripts.

**Describe the solution you'd like**
Along with list/show, add a subcommand for "exists" that will return either

[2022-08-05 15:22] jbpaux commented on #19487
Hi, I have the same request. I'm trying to delete resources from a RG so I have my query that returns the objects I want to delete and then use az resource delete commands but it would be great to have a no-wait option as it can take a lot of time. @yonzhan any update on the backlog ?

[2022-08-05 15:57] KSchlobohm commented on #23443
Thanks @jiasli, I wasn't aware this was a known issue

My workflow was something like:
1. `az ad app update --help`
2. try out the command (it failed)
3. read [the doc](https://docs.microsoft.com/en-us/cli/azure/ad/app?view=azure-cli-latest#az-ad-app-update)
4. try out the command with slightly different syntax (it failed)
5. web search for guidance
6. read [stackoverflow posts](https://stackoverf

[2022-08-05 16:26] alexszym commented on #23348
Any updates on this issue?

[2022-08-05 18:21] ritaroloff commented on #22794
@PatrickTseng , can you verify that the above preview link is accurate for GA?

[2022-08-05 18:27] garrygbain opened #23453 "Deleting user from VM, unsupported"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0474c5a5-4231-0e39-f63f-f7bc05cb7797
* Version Independent ID: 22ea94c8-cc6f-97aa-77b1-4ffca845807e
* Content: [az vm user](https://docs.microsoft.com/en-us/cli/azure/vm/user?view=azure-cli-latest)
* Content Source: [latest/docs-ref-autogen/vm/user.ym

[2022-08-05 18:27] garrygbain commented on #23453
Attempting to delete a user from a VM, returns "Deleting a user is not supported on Windows VM"!

[2022-08-05 19:10] jennyhunter-msft commented on #23404
@rthorn17 - Do you understand why tags might be returning an error for the "Accepted" status?

[2022-08-05 20:51] jtravell opened #23454 "`az resource list` fails to return images that do in fact exist"
The following **BUG** in your software is breaking our automated testing of resources in Azure.

**Related command**
    az resource list --resource-group myTestRG --resource-type Microsoft.Compute/images
    []

**Describe the bug**

A resource group contains various resources, including one resource of type `Microsoft.Compute/images` .  This is validated by logging into portal.azure.com and view

[2022-08-05 21:13] SaurabhSharma-MSFT commented on #23441
@avnishsinghhh I could see the same behavior for "type" attribute and checking internally with the team, however I do not see any issues with "typeProperties" and it is getting populated correctly.
![image](https://user-images.githubusercontent.com/38112130/183194318-d75ccbbc-01e6-4861-899d-493b8cee2eaa.png)

[2022-08-06 00:19] yonzhan commented on #23451
route to CXP team

[2022-08-06 00:27] yonzhan commented on #23454
@zhoxing-ms for awareness

[2022-08-06 00:30] yonzhan commented on #23453
@zhoxing-ms for awareness

[2022-08-06 01:23] motus opened #23455 "az vm run-command show crashes"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm run-command show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az vm run-command show --location {} --command-id {} --resource-group {} --vm-name {} --subscription {}`

[2022-08-06 01:44] yonzhan commented on #23455
Compute

[2022-08-06 08:02] #23191 closed

[2022-08-06 08:02] #23168 closed

[2022-08-06 08:02] #23048 closed

[2022-08-06 08:02] #22993 closed

[2022-08-06 08:02] #22985 closed

[2022-08-06 08:02] #22905 closed

[2022-08-06 08:02] #22871 closed

[2022-08-06 08:02] #22589 closed

[2022-08-06 10:03] zhoxing-ms commented on #23453
@garrygbain Could you please send the debug log *(add `--debug` parameter)* to me by email? My email address is Zhou.Xing@microsoft.com

[2022-08-06 10:09] zhoxing-ms commented on #23454
Since CLI directly outputs the data returned by the REST service without any filtering logic, so this should be an arm service-related issue

[2022-08-06 20:09] damiencarol commented on #21168
we're facing this bug also in my company, Is any news on this one?

[2022-08-06 21:32] harneetvirk commented on #23430
yes, passing --help works, but the user needs to know the --help parameter also.

_Subcommand required does not seems to be a very user-friendly error message when the user does not know what the possible parameters are available to be supplied while running the CLI command.

[2022-08-06 23:37] #22329 closed

[2022-08-06 23:38] #22348 closed

[2022-08-06 23:39] #22429 closed

[2022-08-07 22:41] #22441 closed

[2022-08-07 22:42] #22468 closed

[2022-08-07 22:42] #22512 closed

[2022-08-08 02:31] jiasli commented on #23448
Reading from Windows certificate store is a Windows-specific functionality. As a cross-platform tool, Azure CLI aims to make the same command work everywhere - Windows, Linux, MacOS. That's why only reading from a PEM file certificate is supported.

[2022-08-08 02:38] zhoxing-ms commented on #23453
This problem was by designed. We need the Compute team to confirm whether the current Windows VM supports deleting the user

[2022-08-08 02:48] navba-MSFT commented on #23453
@garrygbain Thanks for reaching out to us and reporting this issue. Could you please elaborate on your ask ? What is your use case and what are you trying to achieve ? Awaiting your reply.

[2022-08-08 02:53] wonner commented on #23348
@alexszym Sorry, I missed this thread before. @kevinzz6 please help investigate. Thanks.

[2022-08-08 03:11] #23306 closed

[2022-08-08 03:24] yanzhudd commented on #23341
Hello @arsenvlad, we will fix this issue in #23457, could you please help to confirm if it meets your expectations?
https://github.com/Azure/azure-cli/pull/23457/files

[2022-08-08 03:53] wonner commented on #23451
Hi @chlsmith, Thanks for the suggest. I think you can use `az synapse workspace check-name` instead of `exists`.

[2022-08-08 04:06] navba-MSFT commented on #23242
@FalkoWienBBT The action is currently pending on you to try the suggestion provided [here](https://github.com/Azure/azure-cli/issues/23242#issuecomment-1202012035). We will now proceed with archival of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-08-08 04:06] #23242 closed

[2022-08-08 04:35] kautsig commented on #21168
Same here. For us, also the workaround using `az rest` does not work. We currently have a microsoft support ticket open.

[2022-08-08 05:40] jiasli commented on #23443
Thanks for the feedback @KSchlobohm. Indeed, the doc should exclude `--set`, `--add` and `--remove` if they are not supported. We will see how we can improve it.

[2022-08-08 05:53] navba-MSFT commented on #23387
@avifatal I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had a chance to open a support ticket to troubleshoot this issue further. Awaiting your reply.

[2022-08-08 06:05] jtravell commented on #23454
What is the status of this crippling **BUG** in your software that was reported 2 days ago?

[2022-08-08 06:45] avifatal commented on #23387
@navba-MSFT I have spent all  of my  time trying to deploy dapr app to azure container apps and it feels like impossible.
now I'm changing to docker compose... I don't have much time left.
I hope in the future when docker compose will be too small for my apps, ill give it another try and open a ticket.
Thanks for trying to help.

[2022-08-08 06:56] navba-MSFT commented on #23387
@avifatal Thanks for getting back. Please accept our sincere apologies for not getting to the root of this issue. In future if you wish to work on this and face the same issue again, please do open a support ticket and our support professionals would be happy to assist you further.

[2022-08-08 06:56] #23387 closed

[2022-08-08 07:06] mdddev commented on #23448
Thanks @jiasli , much appreciated. Though, Powershell (fka Powershell Core) is also meant to be a cross-platform tool. Still its AZ module does support this feature. My understanding was, that the AZ module and the Azure CLI aim to keep feature-parity. Would be wonderful for the Azure CLI to leverage this also 😎

[2022-08-08 07:16] evelyn-ys commented on #23430
Similar issue with #576

As https://github.com/Azure/azure-cli/issues/576#issuecomment-236698079 said, we could consider to make a change in cli core to override the behavior of `argparse`. Need time to investigate.

[2022-08-08 07:30] jiasli commented on #23430
See https://github.com/Azure/azure-cli/issues/19592

[2022-08-08 07:32] #23430 closed

[2022-08-08 07:45] lorenzo-biava commented on #19902
@navba-MSFT any updates?

[2022-08-08 07:52] navba-MSFT commented on #19902
@lorenzo-biava Did you try using the most recent version of the `aks-preview` extension and check ?

Also this is now pending on Service team. They will update this thread once they look into this.

@Azure/aks-pm Could you please prioritize this ?

[2022-08-08 08:13] jsntcy commented on #22794
@ritaroloff, @PatrickTseng, https://github.com/Azure/azure-rest-api-specs/blob/main/specification/monitor/resource-manager/Microsoft.Insights/stable/2022-10-01/autoscale_API.json, is this API used for October GA release?

[2022-08-08 08:18] navba-MSFT commented on #23453
@garrygbain Adding on to the above comment, please let me know if you are using a Windows VM or Linux VM. Awaiting your reply.

[2022-08-08 08:27] avnishsinghhh commented on #23441
Looks like **typeProperties** are not loaded with "az synapse pipeline create" command however it is present in 'az synapse pipeline show/list' command:

![image](https://user-images.githubusercontent.com/6954444/183373935-18eae74e-5d18-40b9-b38d-d8e1202c8706.png)

[2022-08-08 08:46] jack1902 commented on #23180
Thanks, i've managed to get something working via the APIs within `python` so that I can create an `environment` with multiple `resources` (k8s namespaces) which use a single serviceConnection (it was painful via the UI having to input multiple serviceConnection details when I already had a mechanism for Microsoft to communicate with the cluster)

[2022-08-08 08:47] zhoxing-ms commented on #23414
@hari-bodicherla Currently, the latest version of Python SDK does not contain the folder of api-version `2022-08-01`. And I see that the `readme.py` is not modified in this PR https://github.com/Azure/azure-rest-api-specs/pull/20076/files , so it can't release a new SDK package version for this api-version folder.
Please note that since CLI is dependent on the Python SDK, so please contact the pyt

[2022-08-08 10:08] Garwakizashi commented on #23307
Thanks, I've been working around this issue by using `az containerapp identity assign` after intial YAML creation. But it would be great to do it via the YAML specification instead. Basically I want to create a container app with identity set in place, so that I can also connect to the registry via identity, rather than using username + password.

[2022-08-08 10:55] BCOps opened #23462 "Az VM Run-Command Create run-as details do not work as expected"
**Related command**
az vm run-command create

**Describe the bug**
This is a reopen of https://github.com/Azure/azure-cli/issues/21602 that didn't seem to get resolved. Copying in other people's feedback into this body, as it is the same as mine!

I'm seeing the exact same issue, and I've noted that it is reported for the Azure Powershell library as well (see bottom of linked comment): [https://gi

[2022-08-08 10:56] BCOps commented on #23462
@malchowc and @v-fearam FYI in case it is still affecting you guys as well

[2022-08-08 12:26] joshuadmatthews commented on #20743
@BALAGA-GAYATRI Thanks for that! As sdk-auth is clearly still useful, why is it being deprecated? Seems like a nice shortcut to have versus building the object manually.

[2022-08-08 12:28] RakeshMohanMSFT commented on #17765
This issue is fixed. Please upgrade to latest version of azure cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-08 12:28] #17765 closed

[2022-08-08 12:37] RakeshMohanMSFT commented on #17693
This is fixed. Please upgrade to the latest version of azure cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-08 12:37] #17693 closed

[2022-08-08 12:45] #17942 closed

[2022-08-08 12:52] RakeshMohanMSFT commented on #17937
This issue is fixed. Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

`az storage fs directory list --file-system myfilesystem --subscription b83c1ed3-c5b6-44fb-b5ba-2b83a074c23f --account-name issue3949storage --auth-mode login`
[]

[2022-08-08 12:52] #17937 closed

[2022-08-08 13:57] #18010 closed

[2022-08-08 14:18] yonzhan commented on #23462
@zhoxing-ms for awareness

[2022-08-08 14:23] RakeshMohanMSFT commented on #14130
Fixed by https://github.com/Azure/azure-cli/pull/23433

[2022-08-08 14:23] #14130 closed

[2022-08-08 14:24] KSchlobohm commented on #23444
@jiasli the link your shared provides the guidance I didn't know how to find.

The properties that will be accessible from the `--add`, `--set`, `--remove` command are listed here.

[application resource type from Graph API](https://docs.microsoft.com/en-us/graph/api/resources/application?view=graph-rest-1.0)

[2022-08-08 14:30] RakeshMohanMSFT commented on #15374
Duplicate of https://github.com/Azure/azure-cli/issues/15300

[2022-08-08 14:53] RakeshMohanMSFT commented on #15087
This is working. Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-08 14:53] #15087 closed

[2022-08-08 14:55] #15630 closed

[2022-08-08 15:05] RakeshMohanMSFT commented on #11926
Duplicate issue of https://github.com/Azure/azure-cli/issues/13600

[2022-08-08 15:05] #11926 closed

[2022-08-08 15:23] RakeshMohanMSFT commented on #16651
This is working. Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-08 15:23] #16651 closed

[2022-08-08 17:25] ParagDoke opened #23465 "Filter for rest sub-command does not work with payload from text file"
This works:
`az rest --method get --uri "https://prices.azure.com/api/retail/prices?$filter=serviceName eq 'Virtual Machines' and armRegionName eq 'westindia'"`
But if I save the payload in a text file, this does not work.

Content of query.txt:
[code]
Command:
[code]

Response truncated. But if `southindia` is appearing in the response, the filter is not working. How does one send a working filte

[2022-08-08 17:25] sherlynnw-fac opened #23466 "Batch Endpoint Invoke - Input Dataset Declaration is not working."
Example 1: Invoke a batch endpoint with input data from a registered Azure ML data asset
It was working for some time, but has stopped working, invocation works but pipeline in AML fails with Service Error: Experiment submission failed due to error 'id' cannot be null.

Example 3: Invoke a batch endpoint with input file from a registered datastore & Example 5: Invoke a batch endpoint with input fo

[2022-08-08 17:28] garrygbain commented on #23453
Hi @navba-MSFT  We have 10 Windows VMs; These are used to access environments and we often setup user accounts on each VM. I have scripted adding the accounts but unable to delete the accounts by script, so this is being completed manually.

[2022-08-08 18:41] theonesuperdave commented on #23017
I see issues similar to @thiagottss in that Postman and the [Graph Explorer](https://developer.microsoft.com/en-us/graph/graph-explorer) work just fine, but az CLI and Azure AD PowerShell always return the same JSON object in the response. $select has no effect on the output.

using `az rest` with the following URI: `https://graph.microsoft.com/v1.0/users/[UPN]?$select=id,displayName,userPrincipal

[2022-08-08 19:18] abdrrahimelh commented on #20322
It's `az vm list -otable `

[2022-08-08 22:03] PatrickTseng commented on #22794
Yes, that is correct.

[2022-08-08 22:16] PramodValavala-MSFT commented on #22594
@bcosden Apologies for not getting back on this sooner! We worked up a PR to include support for this.

[2022-08-08 22:17] yonzhan commented on #23465
@jiasli for awareness

[2022-08-08 22:18] yonzhan commented on #23466
route to CXP team

[2022-08-08 22:53] jayar95 opened #23468 "az aks nodepool wait always throws "cli.azure.cli.core.azclierror: 'Namespace' object has no attribute 'nodepool_name'""
**Related command**

`az aks nodepool wait --updated --name myakscluster --nodepool-name myaksnodepool1 --resource-group myaksrg`

**Describe the bug**

`cli.azure.cli.core.azclierror: 'Namespace' object has no attribute 'nodepool_name'` is thrown everytime `az aks nodepool wait` is ran

[code]

**To Reproduce**

Run `aks nodepool wait --updated --name {} --nodepool-name {} --resource-group {} --d

[2022-08-08 23:07] yonzhan commented on #23468
route to CXP team

[2022-08-08 23:44] apwestgarth opened #23470 "Telemetry stuck at 1.0.6 despite upgrade --all true"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az upgrade --all true`

## Expected Behavior

Update core CLI, associated com

[2022-08-09 00:31] yonzhan commented on #23470
@jiasli for awareness

[2022-08-09 00:38] jtravell commented on #23454
@yonzhan When do you expect to resolve this crippling **BUG** in your software which was reported 3 days ago?

[2022-08-09 02:54] navba-MSFT commented on #23468
@jayar95 Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-09 04:00] arsenvlad commented on #23341
Thanks. I left a comment on the PR #23457

[2022-08-09 06:37] fleed opened #23472 "Invalid status 'Accepted' when using the `az sql db copy` command"
## Describe the bug

**Command Name**
`az sql db copy `

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

Run the command (PowerShell syntax):

[code]

## Expected Behavior

The command is executed and doesn't return an error.

**Important: it seems that the Azure operation is correctly e

[2022-08-09 06:44] zhoxing-ms commented on #23454
@tjegbejimba Could you please help have a look at this issue? Or do you know who is the right person to investigate it?

[2022-08-09 06:58] zhoxing-ms commented on #23462
As I mentioned earlier, this should be a service-related issue https://github.com/Azure/azure-cli/issues/21602#issuecomment-1067476038. Therefore, service team needs to help investigate it first

[2022-08-09 07:46] zhoxing-ms commented on #23450
@AjKundnani Regarding this requirement, I have some concerns about the need to request REST [Resource SKU List API](https://docs.microsoft.com/en-us/rest/api/compute/resource-skus/list), because it mainly has three problems:

1. It's performance is too slow, and the response time often **exceeds 110 seconds**, which has a big impact on the command execution speed
2. The data size returned is too l

[2022-08-09 07:53] yonzhan commented on #23472
route to CXP team

[2022-08-09 08:01] #22584 closed

[2022-08-09 08:03] TobiTh opened #23475 "az aks get-credentials does not merge the kubeconfig when it was converted with azure kubelogin"
## Describe the bug
When the kubeconfig was converted with the azure kubelogin tool by `kubelogin convert-kubeconfig`, the next aks credential downloads will not be correctly merged into the kubeconfig file.
The `az aks get-credentials` command will simply return (cluster name redacted)
[code]

The kubeconfig file will not be edited by the command. I needed to manually add the new context, cluster

[2022-08-09 08:09] yonzhan commented on #23475
route to CXP team

[2022-08-09 08:15] #23445 closed

[2022-08-09 08:43] AjKundnani opened #23476 "CLI | Trusted Launch as Default - New VM from existing disk or image (SIG/ACG/Managed)"
### Related command

- [az vm create --name 'vmname' --resource-group 'rgname' --attach-os-disk 'diskId'](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-create)
- [az vm create --name 'vmname' --resource-group 'rgname' --image 'galleryImageId'](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-create)
- [az vmss create --name 'vmssname' --resource

[2022-08-09 08:44] AjKundnani commented on #23476
Related closely to request #23450

[2022-08-09 08:45] navba-MSFT commented on #23453
@garrygbain You can try the below workaround and check if that helps:

Create a file by name `script.ps1` with below content:

Then you can run the below command remotely:

Hope this helps.

[2022-08-09 08:46] AjKundnani commented on #23450
@zhoxing-ms - Can we cache the JSON response similar to [Aliases.json](https://github.com/Azure/azure-rest-api-specs/blob/main/arm-compute/quickstart-templates/aliases.json) or locally as part of CLI package and make reference to same?

[2022-08-09 08:53] RakeshMohanMSFT commented on #15860
This is working. Please upgrade to latest version of azure cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli)

[2022-08-09 08:53] #15860 closed

[2022-08-09 08:54] #15300 closed

[2022-08-09 08:55] RakeshMohanMSFT commented on #16846
Duplicate of https://github.com/Azure/azure-cli/issues/15860

[2022-08-09 08:55] #16846 closed

[2022-08-09 08:55] RakeshMohanMSFT commented on #16338
Duplicate of https://github.com/Azure/azure-cli/issues/15860

[2022-08-09 08:55] #16338 closed

[2022-08-09 08:56] RakeshMohanMSFT commented on #16984
Duplicate of https://github.com/Azure/azure-cli/issues/15860

[2022-08-09 08:56] #16984 closed

[2022-08-09 08:57] RakeshMohanMSFT commented on #17303
Duplicate of https://github.com/Azure/azure-cli/issues/15860

[2022-08-09 08:57] #17303 closed

[2022-08-09 09:05] RakeshMohanMSFT commented on #14769
This is working. `az kusto cluster create -l australiaeast -n Issue14769kustocluster -g Issue14769 --sku "Standard_D14_v2" --capacity 2`

Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli)

[2022-08-09 09:05] #14769 closed

[2022-08-09 09:09] yonzhan commented on #23476
@zhoxing-ms for awareness

[2022-08-09 09:22] BCOps commented on #23462
@zhoxing-ms - Thanks, hopefully the service team can investigate this issue

[2022-08-09 09:23] SteveHindmarsh commented on #11978
There are various workarounds for this as seen, however these commands only allow you to update the complete list of virtual path mappings for the app service, I cannot just add a single (or multiple) new mapping to the existing list. Is there a command to achieve this?

[2022-08-09 09:43] RakeshMohanMSFT commented on #16280
This is working. Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli)

[2022-08-09 09:43] #16280 closed

[2022-08-09 09:47] RakeshMohanMSFT commented on #16736
This is working. Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli)

[2022-08-09 09:47] #16736 closed

[2022-08-09 10:21] isolenov commented on #23152
this basically means that body cant be deserialized. it should not be "properties": {} object inside

body should look like this

{
        "issuer": "[https://oidc.prod-aks.azure.com/IssuerGUID"](https://oidc.prod-aks.azure.com/IssuerGUID%22),
        "subject": "system:serviceaccount:ns:svcaccount",
        "audiences": ["api://AzureADTokenExchange"],
}

[2022-08-09 10:28] zhoxing-ms commented on #23450
@AjKundnani Personally, I think there are many problems with this solution:
Please note that since the data returned by this API is too large **(size: 82+MB, count: 1.77w+)**
Even if the cache files is used, some problems still exist, such as: slow response, digestion of bandwidth resources, occupation of space, and the impact on the debug log.
Moreover, because the number of SKUs is too large, th

[2022-08-09 10:34] yanzhudd commented on #23152
Okay, thanks. We will try it.

[2022-08-09 11:22] RakeshMohanMSFT commented on #15387
This is working now. Please upgrade to latest version of azure cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli)

[2022-08-09 11:22] #15387 closed

[2022-08-09 11:27] RakeshMohanMSFT commented on #17397
Its as designed, these are required parameter of the command https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-check-acr.

Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli)

[2022-08-09 11:27] #17397 closed

[2022-08-09 11:47] Ceglowa opened #23477 "Azure-keyvault-secrets not installed with azure-cli"
**Related command**
pip install azure-cli

**Is your feature request related to a problem? Please describe.**
Why when installing azure-cli, the `azure-keyvault` is installed and `azure-keyvault-secrets` is not installed? Also, like seen here -https://pypi.org/project/azure-keyvault/#description - `azure-keyvault-secrets` is a direct dependency of the `azure-keyvault`. And additionally, why the ve

[2022-08-09 12:29] michaelelleby commented on #13352
@navba-MSFT this is still an issue, please reopen this issue.

[2022-08-09 12:44] RakeshMohanMSFT commented on #16678
The command is working. Please upgrade to latest azure cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli)
`az aks update -g Issue16678 -n Issue16678cluster --enable-managed-identity --assign-identity /subscriptions/<subid>/resourcegroups/Issue16678/providers/Microsoft.ManagedIdentity/userAssignedIdentities/Issue16678i
dentity`
The behavior of this com

[2022-08-09 12:44] #16678 closed

[2022-08-09 13:17] yonzhan commented on #23477
@evelyn-ys  for awareness

[2022-08-09 13:44] Marwen-TAALLAH opened #23479 "local-exec provisioner error : cannot import name 'KeyInfo' from 'azure.mgmt.web.models"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment source config-zip --resource

[2022-08-09 14:40] yonzhan commented on #23479
route to CXP team

[2022-08-09 15:34] hyoshioka0128 opened #23480 "Typo "GitHub action workflow"→"GitHub Actions workflow""
https://docs.microsoft.com/en-us/cli/azure/mysql/flexible-server/deploy?view=azure-cli-latest

![image](https://user-images.githubusercontent.com/40815708/183694304-abfc9104-06a0-4b59-ac92-32d13bf249c4.png)

![image](https://user-images.githubusercontent.com/40815708/183694021-0473e5a5-e402-4e87-b19d-c93ccacf95e2.png)

#PingMSFTDocs

---
#### Document Details

⚠ *Do not edit this section. It is re

[2022-08-09 15:47] RakeshMohanMSFT commented on #16932
This is working. Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli)
`az aks create -g Issue16932 -n Issue16932cluster --service-principal c78a1333-e383-4274-****-******044d --client-secret "secret"
`The behavior of this command has been altered by the following extension: aks-preview
{
  "aadProfile": null,
  "ad

[2022-08-09 15:47] #16932 closed

[2022-08-09 15:48] hari-bodicherla commented on #23414
Hi @Theodore ***@***.***>,

Can you please let us know if you are going to trigger the request for Python SDK once the swagger PR is merged at https://github.com/Azure/azure-rest-api-specs/pull/20076 . Also Can you please answer the question from @Xing ***@***.***> on why the readme.py has not modified in the 2022-08-01 branch swagger files.

Thanks,
Hari B

From: Xing Zhou ***@***.***>
Sent: Mond

[2022-08-09 16:08] RakeshMohanMSFT commented on #17174
This is working. Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli)

`az aks get-credentials -g Issue16932 -n Issue16932cluster`
The behavior of this command has been altered by the following extension: aks-preview
Merged "Issue16932cluster" as current context in C:\Users\user\.kube\config

[2022-08-09 16:08] #17174 closed

[2022-08-09 16:27] RakeshMohanMSFT commented on #17562
This is working. Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli)
`az webapp identity assign -g Issue17562 -n issue17562webapp --role reader --scope /subscriptions/<subid>/resourcegroups/Issue17562`
Retrying role assignment creation: 1/36
Retrying role assignment creation: 2/36
Retrying role assignment creation

[2022-08-09 16:27] #17562 closed

[2022-08-09 16:31] RoFz commented on #17793
Hi, what's the status for this issue, please.

[2022-08-09 16:49] SaurabhSharma-MSFT commented on #23480
@hyoshioka0128 We are looking into it and get back to you for any additional information.

[2022-08-09 17:22] bian2022 opened #23481 "azure 无法登录"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login -u {} -p {}`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-08-09 19:11] SaurabhSharma-MSFT commented on #23480
@hyoshioka0128 I have submitted a PR to fix this issue.  Thanks.

[2022-08-09 20:40] aluty opened #23483 "azure-devops: [az acr manifest show] command is 10 to 20 times slower than [docker manifest inspect]"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
azure-devops: [az acr manifest show] command is 10 to 20 times slower than [docker manifest inspect]

(Below is just one example.  How do other az acr commands compare to the docker CLI equivalents?)

**Command Name**
`az acr manifest show`

Output from script below:
[code]

## To Reproduce:
Steps to reproduce

[2022-08-09 21:10] hari-bodicherla commented on #23414
@Hari Krishna ***@***.***>, yes I will be submitting a request for all SDKs to be generated/release once swgger is merged.

@Xing ***@***.***> what are you expecting in the readme.py file? We usually only add new version tags in the readme.md file and submit a openAPI request to have Go, Java, JS, Python sdk generated. Having the readme.py updated is new to me. What needs to be updated?

From: Har

[2022-08-09 22:08] VikasMohandoss opened #23484 "Azure CLI - HBE for DD Disks"
### Related command

https://docs.microsoft.com/en-us/azure/virtual-machines/linux/disks-enable-host-based-encryption-cli

### Resource Provider

Microsoft.Compute

### Description of Feature or Work Requested

Test HBE with DD disks (Premiumv2 + Ultra Disks). The backend is expected to be ready for GA by Sept end. There is no change to API but we should ensure CLI works as the backend gets ready

[2022-08-09 22:28] whisper6284 opened #23485 "`az login --scope https://communication.azure.com/.default` fails: AADSTS65002"
**Related command**
az login --scope https://communication.azure.com/.default

**Describe the bug**

I am trying to log into Azure via CLI in the above scope, in order to run live testing in Azure Communication Services - Phone Numbers.

The live test failed with an authentication error. The error message suggested that I run the command listed above. After entering my credentials, I received the

[2022-08-09 22:43] SaurabhSharma-MSFT commented on #23364
@kiweezi I do not see any issues using name as "sqldatabase;mssqlserver;model".  I believe, you are getting this error you have not enable backup for the required resource.
![image](https://user-images.githubusercontent.com/38112130/183774298-9eee458f-2807-4660-94df-6924e9ab0702.png)
Instead of using `protectable-item list`, please use `az backup item list` to get the list of backup items already

[2022-08-09 23:02] SatishBoddu-MSFT commented on #23420
Hello @kobayashikazu Thanks for reaching out on this issue!

Is this the below document that you have followed?
[Quickstart: Deploy a Python (Django or Flask) web app to Azure App Service](https://docs.microsoft.com/en-us/azure/app-service/quickstart-python?tabs=flask%2Cwindows%2Cazure-cli%2Cvscode-deploy%2Cdeploy-instructions-azportal%2Cterminal-bash%2Cdeploy-instructions-zip-azcli)

[2022-08-09 23:18] yonzhan commented on #23480
route to CXP team

[2022-08-09 23:25] yonzhan commented on #23481
@jiasli for awareness

[2022-08-09 23:27] SaurabhSharma-MSFT commented on #23472
@fleed I am not able to reproduce this issue and az sql db copy worked as expected -
![image](https://user-images.githubusercontent.com/38112130/183778239-194aa9f8-e1be-49ef-95b5-64d449b54a62.png)

[2022-08-09 23:29] yonzhan commented on #23483
route to CXP team to help with

[2022-08-09 23:30] yonzhan commented on #23484
Please provide detailed info like swagger spec, etc.

[2022-08-09 23:31] yonzhan commented on #23485
@jiasli for awareness

[2022-08-09 23:34] abbassayyed-msft opened #23486 "Unable to Authenticate Azure ML studio via CLI from ADO extension"
**Related command**
az ml run submit-script -g ResourceGroupName -e ExperimentName -w copsnrtdata-prod-ml --ct compute-name -d 01-training/conda_dependencies.yml 01-training/train.py --start $1 --end $2 --twindow $3 --exptype $4

**Describe the bug**

ERROR: AuthenticationException:
	Message: AzureCliAuthentication requires azure-cli>=2.30.0 to be installed in the same python environment where azu

[2022-08-09 23:37] yonzhan commented on #23486
route to CXP team

[2022-08-10 00:16] jtravell commented on #23454
@yonzhan and @tjegbejimba When do you expect to resolve this crippling **BUG** in your software which was reported 4 days ago?

[2022-08-10 01:08] lualvare commented on #23384
Hello @ToxicGLaDOS ,

How did you workaround this issue?

I had enabled ADMIN User on ACR to get the   USER & PASSWD and created a credential for the ACR TASK with the ADMIN User/Passwd and I am getting the same issue.

Thanks.

[2022-08-10 01:37] ToxicGLaDOS commented on #23384
I would make sure that the password provided to the `az acr task credential add ...` command isn't empty, and if it might have spaces in it make sure to quote it. If you're still seeing a problem with downloading the source then it's probably a different issue. Make sure you've added a credential to access git with the `--git-access-token` flag in the `az acr task create ...` command or update the

[2022-08-10 01:59] yonzhan commented on #23454
This issue is owned by service team and @tjegbejimba can help with

[2022-08-10 01:59] navba-MSFT commented on #23483
@aluty Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-10 02:31] pvides opened #23487 "Can not list deleted blob paths"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage fs list-deleted-path`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage fs list-deleted-path --file-system {} --accou

[2022-08-10 02:41] bebound commented on #23481
Duplicate of #20221

[2022-08-10 02:41] #23481 closed

[2022-08-10 02:43] yonzhan commented on #23487
@evelyn-ys for awareness

[2022-08-10 02:49] evelyn-ys commented on #23477
`azure-keyvault 1.1.0` is track1 SDK including all API for keys, secrets, certificates...
`azure-keyvault 4.X` is track2 SDK which is just a bundle for `azure-keyvault-keys`, `azure-keyvault-secrets`, `azure-keyvault-certificates`...

CLI has no plan for migrating secrets to track2 SDK so we don't rely on `azure-keyvault-secrets`

[2022-08-10 03:17] bhumikadhotre1 opened #23488 "ZR ASP creation fails for ASEv3"
az appservice plan create --resource-group testrg --name testasp--app-service-environment ase1 --location southcentralus --number-of-workers 3 --sku I1v2 --subscription testsub --z

**Describe the bug**
Zone redundant ASP plan creation on an ASE currently does on work on the CLI. It fails with error "Zone redundancy cannot be enabled for sku I1V2"

**To Reproduce**
Create an App Service Environmen

[2022-08-10 03:19] navba-MSFT commented on #23318
@sf-declanomalley Apologies for the delay in getting back. The Bicep team is now checking with the Storage RP team and awaiting their reply.

[2022-08-10 03:24] #23325 closed

[2022-08-10 03:33] kobayashikazu commented on #23420
[Quickstart: Deploy a Python (Django or Flask) web app to Azure App Service
](https://docs.microsoft.com/en-us/azure/app-service/quickstart-python?tabs=flask%2Cwindows%2Cazure-cli%2Cvscode-deploy%2Cdeploy-instructions-azportal%2Cterminal-bash%2Cdeploy-instructions-zip-azcli)

Hello @SaurabhSharma-MSFT  Follow the documentation.

`py -3.9 -m venv .venv
`
`az webapp up --runtime PYTHON:3.9 --sku Fre

[2022-08-10 03:42] yonzhan commented on #23488
route to CXP team

[2022-08-10 03:49] hari-bodicherla commented on #23414
Hi @Theodore ***@***.***>,

For how to modify reamde.py to release a new api-version folder for a new Python SDK package, please ask Python SDK team @Yuchao ***@***.***> for help~

Thanks,
Xing

From: Theodore ***@***.***>
Sent: 2022年8月10日 5:10
To: Hari Krishna ***@***.***>; ***@***.***>; ***@***.***>; Xing ***@***.***>
Subject: RE: [Azure/azure-cli] Changes related to Capacity Reservation resourc

[2022-08-10 04:16] navba-MSFT commented on #23468
@jayar95 Thanks for raising this issue. We have created the above PR which has the fix for this issue. It is currently under review.

[2022-08-10 05:08] #15209 closed

[2022-08-10 05:18] #17579 closed

[2022-08-10 05:38] navba-MSFT commented on #23453
@garrygbain Thanks for getting back. Could you please run the below command to set the subscription context first and then run the above invoke command ?

Select-AzSubscription -SubscriptionId 'XXXX-XXXX-XXXX-XXXX'
az account set --subscription "XXXX-XXXXX-XXXXX-XXXX"

[2022-08-10 05:54] Nydhal commented on #23222
#22991 is closed :/

[2022-08-10 06:15] #23480 closed

[2022-08-10 06:56] #17699 closed

[2022-08-10 07:11] RakeshMohanMSFT commented on #23479
@Marwen-TAALLAH Thank you for reaching out, we are looking into it.

[2022-08-10 08:01] #23025 closed

[2022-08-10 08:01] #15422 closed

[2022-08-10 08:04] TheoDoreW commented on #10700
Hi, there

I use azcopy command line copy file from Azure blob to Azure Datalake Gen2, also meet with the following error:

409 : 409 Specified feature is not yet supported for hierarchical namespace accounts.. When Creating blob. X-Ms-Request-Id: f9c8b27b-d01e-006c-3c8e-ac78b6000000

both with aad auth and sas key.

Anyone know how to solve this problem? Thanks in advance.

[2022-08-10 08:46] yanzhudd commented on #23152
Hi @isolenov, when our request body contains all three parameters (issuer, subject, audiences) and **not** remove the 'peoperties' object, the error is **not** reported (The request and response are attached below). It seems that only when we pass one or two parameters, the error is reported. So we thought it may not be deserialization causing the problem, could you please help to check it again?

[2022-08-10 09:01] jiasli commented on #23485
As the error message indicates, Azure CLI has no preauthorization with resource app `https://communication.azure.com/`. You may contact the owner of this resource app to pre-authorize Azure CLI in (Microsoft internal) first party portal.

[2022-08-10 09:03] precubcr opened #23491 "UPN starting with "-" (dash-minus-hyphen) not allowed for Azure AD login for linux VM"
It seems that if your UPN has a "-" (hyphen, dash) at the beginning, Azure AD gets it right, but when trying to log into a Linux VM via Azure AD Credentials, it fails with an error "Bad character".

I reproduced this in my lab, and every time I try it it fails.

I tried to create a local account starting with a "-" but is not possible.

Seems that Linux will not accept it. I even tried the --badna

[2022-08-10 09:58] eswues commented on #21366
and how to raise such request. I am dealing with huge infrastructure of two clients. Both around thousand subscriptions. I need to loop all subscriptions on by one to get the statistics I need, which takes ages. There should be a nicer way to get this done.

[2022-08-10 10:25] matejc commented on #20940
I have probably the same issue. If I query by exact vnet name and resource group, with `az network vnet show ...` it does produce correct output, but when listing the vnets in the resource group, it is empty output at some times.

In this case I have 3 resource groups and each one has one vnet.

While this works
[code]

But this is flaky:
[code]

[2022-08-10 11:13] eymizrac opened #23492 "Support NVMe flag"
### Related command

_No response_

### Resource Provider

Microsoft.compute/Storage

### Description of Feature or Work Requested

Overlake 1.1 introduced new capability to Azure called NVMe which in the future will replace SCSI. In order to create a VM w/ NVMe controller, we added the support of NVME flag and as a result the CRP API has been changed. The NVMe triple the storage performance

We w

[2022-08-10 11:40] geosword commented on #23170
Just for anyone else stumbling on this like I did. I couldnt get this command to work. It kept returning `Bad Request`, I found that `usageDetails` should actually be `UsageDetails` and that `--url` was required.
[code]

[2022-08-10 11:48] hkamel opened #23493 "az monitor log-analytics cluster show"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor log-analytics cluster show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- In Azure Cloud Shell run
- `az monitor log-analytics cluster show --resource-group {} --nam

[2022-08-10 11:53] yonzhan commented on #23492
@zhoxing-ms for awareness

[2022-08-10 11:55] yonzhan commented on #23493
monitor

[2022-08-10 12:59] kierenj commented on #21002
Just had this one again on a new machine. Repro:

1. Install AZ on Windows
2. Open WSL
3. Run "az aks install-cli", forgetting that WSL (frustratingly) calls through to the Windows version and downloads an `.exe`
4. Run  `curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash`
5. Then run `az aks install-cli`

... it's the correct `az` (`which az` yields `/usr/bin/az`), but it STILL downloads the

[2022-08-10 13:03] kierenj commented on #21002
It's still messed up after that... `az aks get-credentials`, with `which az` still reporting `/usr/bin/az`, writes to the Windows kubectl config.

If there's some way to stop WSL looking for and running Windows stuff that would be ideal. I haven't been able to find anything..

[2022-08-10 13:46] NileshGhodekar opened #23495 "Enable token encryption when running on Linux"
**Related command**

az login

**Is your feature request related to a problem? Please describe.**

Azure CLI has not yet enable token encryption when running on Linux even when MSAL now has implemented support for this.

**Describe the solution you'd like**

Azure CLI should store the token cache encrypted instead if plaintext on Linux

**Describe alternatives you've considered**

The current solu

[2022-08-10 14:17] bachlean opened #23496 "az ml online-endpoint / online-deployment fails if it already exists"
**Related command**
az ml online-endpoint create ...
az ml online-deployment create ...

**Describe the bug**
Command fails (and with it, corresponding Tasks in AzureDevops Pipelines) despite the documentation stating:

[online-endpoint] To create an endpoint, provide a YAML file with batch endpoint configuration. If the endpoint already exists, it will be over-written with the new settings.
[onli

[2022-08-10 14:19] yonzhan commented on #23495
@jiasli for awareness

[2022-08-10 14:23] MatthewSteeples commented on #16387
This has been working fine for us for a while now

[2022-08-10 14:23] #16387 closed

[2022-08-10 14:29] emiledufour opened #23497 "az login PersistenceDecryptionError"
**Related command**
az login

**Describe the bug**
az login returns the following error after browser login:

Deleting the .azure folder and retrying will work after several attempts, but any subsequent command involving Azure CLI will result in the same PersistenceDecryptionError, taking me back to square one.

**To Reproduce**
Run 'az login'

**Expected behavior**
az login should work everytime

[2022-08-10 14:29] RakeshMohanMSFT commented on #17041
Please upgrade to latest version of azure cli [> 2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-10 14:29] #17041 closed

[2022-08-10 14:30] yonzhan commented on #23497
@jiasli for awareness

[2022-08-10 14:30] ucinskij commented on #23142
Hello, is there any update on this? I also struggle to import an image from `registry.k8s.io`.

[2022-08-10 14:51] RakeshMohanMSFT commented on #23479
@Marwen-TAALLAH Did you get a chance to upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)? if not, can you try and retry the command again please and let us know if it helps

[2022-08-10 14:53] RakeshMohanMSFT commented on #23488
@bhumikadhotre1 Thank you for reaching out, we are looking into it.

[2022-08-10 14:53] godsoncapestart opened #23498 "EOFError: Ran out of input"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --resource {} --subscription {}

[2022-08-10 16:07] navba-MSFT commented on #23453
@garrygbain Thanks for getting back. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-08-10 16:07] #23453 closed

[2022-08-10 16:10] jtravell commented on #23454
@tjegbejimba  When do you expect to resolve this crippling **BUG** in your software which was reported 5 days ago?

[2022-08-10 16:11] AjKundnani commented on #23450
@zhoxing-ms - I was testing using below PS cmdlet which is using same API for VM Size capabilities:
`Get-AzComputeResourceSku -Location WestUS -Debug | where {$_.Name -eq "Standard_GS4-4"} | select -ExpandProperty Capabilities`
The command took around 3 seconds to complete, I'll share debug log offline.

[2022-08-10 18:31] tjegbejimba commented on #23454
@yonzhan @jtravell Could you open an ICM against ARM to better track this issue? Thanks

[2022-08-10 18:42] ChrisJBurns commented on #15439
This doesn't work for me.

[code]

## Az CLI Version
[code]

[2022-08-10 18:47] ChrisJBurns opened #23499 "`--destination-port-ranges` doesn't work for `network nsg rule create`"
## Az CLI Version
[code]

**Describe the bug**
I get an error when submitting port ranges

**To Reproduce**
I try to create a nsg security rule by running the following.
[code]

## Error When Running the above
[code]
**Expected behaviour**
NSG Security Rule is created

[2022-08-10 18:51] ChrisJBurns commented on #23499
Apologies, closing this, turns out it's not an issue with `--destination-port-ranges`, it was because I was not wrapping the `--source-port-ranges` value in quotes. Doing this `--source-port-ranges "*"` instead of `--source-port-ranges *` stopped the error from happening.

[2022-08-10 18:51] #23499 closed

[2022-08-10 18:51] ChrisJBurns commented on #15439
Apologies, ignore me, turns out it's not an issue with `--destination-port-ranges`, it was because I was not wrapping the `--source-port-ranges` value in quotes. Doing this `--source-port-ranges "*"` instead of `--source-port-ranges *` stopped the error from happening.

[2022-08-10 19:17] jastill opened #23500 "az communication identity issue-access-token failing: 'azext_communication.custom#issue_access_token' is invalid."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Trying to run az communication identity issue-access-token --scope chat --connection-string "<connection string>" and get the following error.

Uninstalled and re-installed az cli and extension and still getting the same error.

**Command Name**
`az communication identity issue-access-token`

**Errors:**
[code

[2022-08-10 21:40] hkamel commented on #23493
I'd like to add that this issue happens on Cloud Shell

[2022-08-10 22:29] yonzhan commented on #23498
@jiasli for awareness

[2022-08-10 22:35] yonzhan commented on #23500
route to CXP team

[2022-08-10 22:57] provVladBurlik commented on #7593
4 years and there is no solution?

[2022-08-10 23:30] brendandburns commented on #20972
I looked into this and I believe that this is actually a bug in the `az.cmd` command. The reason for this is that the single quotes in `--value 'foo|whoami'` are there to preserve the string for the context of the shell (in this case PowerShell) it's responsibility is to pass that string to the underlying command without interpreting it, but it is expected to drop the quotes in this case. This is

[2022-08-10 23:36] scoleman81 commented on #21156
I just came across this.  I still believe there is an issue.  I am trying to create an application gateway using the cli and it runs for about 2 minutes and then gets cancelled.  I am running it manually and there are no other operations being sent.  When looking at the deployment details in the resource group I find I get the same error posted above.  This was a single create request that generat

[2022-08-10 23:44] huzaynr commented on #15420
Have encountered same issue:

[code]

The pipeline code:
[code]

[2022-08-11 00:40] hadagali opened #23502 "powershell az login fails every time"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --use-device-code`

## Expected Behavior

## Environment Summary
[code

[2022-08-11 00:49] yonzhan commented on #23502
Duplicate of https://github.com/Azure/azure-cli/issues/20388

[2022-08-11 00:49] #23502 closed

[2022-08-11 01:03] jtravell commented on #23454
@yonzhan Is @tjegbejimba correct that an ICM request against ARM must be opened to resolve this crippling **BUG** in your software which was reported 5 days ago?

If so, how can you do that in a way that will result in prompt resolution?

We are concerned that each person assigned to this crippling **BUG** in your software so far has passed the buck to someone else, and that a day or two at a time

[2022-08-11 02:40] zhoxing-ms commented on #10700
Since there is no problem with storage command `az storage fs create` at present, so the second issue should be a problem of ARM deployment.
I guess this may be a problem when the ARM service invokes Storage RP. Could you please help have look at this problem? https://github.com/Azure/azure-cli/issues/10700#issuecomment-1162698536

[2022-08-11 02:41] hari-bodicherla commented on #23414
Hi, @Theodore ***@***.***>

Yes, please add it with reference of other tags.

Yuchao
From: Theodore Chang ***@***.***>
Sent: Wednesday, August 10, 2022 11:59 PM
To: Xing Zhou ***@***.***>; Hari Krishna Bodicharla ***@***.***>; Azure/azure-cli ***@***.***>; Azure/azure-cli ***@***.***>; Yuchao Yan ***@***.***>
Cc: Yong Zhang ***@***.***>
Subject: RE: [Azure/azure-cli] Changes related to Capacity Re

[2022-08-11 03:23] zhoxing-ms commented on #23454
This is ARM related issue.  @RakeshMohan-MSFT Could you please help create an ICM to the ARM team, it will help them follow up this issue with higher priority

[2022-08-11 03:54] jiasli commented on #20972
Thanks @brendandburns for the insights. Please allow me to provide more details.

### `az` on Windows: Command Prompt vs PowerShell

Consider the entry script `az.cmd` is invoked by Command Prompt and PowerShell.

In Command Prompt: `az.cmd` works as expected, because **double quotes are preserved by Command Prompt**, so that `foo|whoami` is treated as a string:

[code]

In PowerShell: The same co

[2022-08-11 04:00] RakeshMohanMSFT commented on #23454
@zhoxing-ms I will file an ICM.

[2022-08-11 04:06] navba-MSFT commented on #23468
@jayar95 The above PR has been merged and will be fixed as a part of next `aks-preview` version. More info about the release (2022-09-06) milestone details is here: https://github.com/Azure/azure-cli/milestone/121

[2022-08-11 04:06] #23468 closed

[2022-08-11 04:12] navba-MSFT commented on #23483
@aluty I was able to reproduce the issue at my end using your sample script. I had reached out to the Product owners who had written the `az acr manifest show` command. I am pasting their response as-is.

Hope this answers.

[2022-08-11 04:19] aluty commented on #23483
How does az CLI performance compare with other docker CLI commands?  Comparison table would be nice if at least to show equivalent commands between az and docker.
Why are ARM calls needed by az?  What advantages would az provide over docker CLI?

[2022-08-11 04:20] navba-MSFT commented on #23500
@jastill Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-11 04:42] RakeshMohanMSFT commented on #23454
@jtravell I am unable to reproduce the issue at my end. Can you please share the debug trace with us for further troubleshooting?
az resource list -g shashs-bastion-idLab --resource-type Microsoft.Compute/images
[
  {
    "changedTime": "2022-05-02T10:13:57.448286+00:00",
    "createdTime": "2022-05-02T10:00:18.649136+00:00",
    "extendedLocation": null,
    "id": "/subscriptions/<subscriptionid>

[2022-08-11 05:21] jiasli commented on #20972
I think the fundamental difference between Windows and Linux is **whether quotes are preserved when calling a script from shell**. In a nutshell,

- On Windows
  - When invoking a `cmd` script from Command Prompt, double quotes are preserved in `%*`
  - When invoking a `cmd` script from PowerShell, double quotes are dropped, so not preserved in `%*`. This is a known issue of PowerShell (https://gi

[2022-08-11 06:13] larwood commented on #16913
Hi All,

Today I successfully added a root-cert to an Application Gateway (WAF V2) from a secret stored in a Key Vault.

### Key Vault

Add the secret to the key vault.
`az keyvault secret set --name Internal-CA-Chain-base64 --vault-name My-KeyVault --subscription My-Sub --file Internal-CA-Chain.cer --encoding base64`

Internal-CA-Chain.cer is a PEM file with Root and two Intermediates like so:
[c

[2022-08-11 06:40] #23477 closed

[2022-08-11 07:37] navba-MSFT commented on #23500
@jastill I am unable to reproduce this issue at my end. See below:

{
  "expires_on": "2022-08-12 06:58:16.497289+00:00",
  "token": "eyJhbGciOiJSU*************************Aeb9jz2NE2ngq_CqQ",
  "user_id": "8:acs:acbc0205-8313-*************f40f-343a0d00162f"
}

Sharing my AzCLI and extension versions:

{
  **"azure-cli": "2.39.0",**
  "azure-cli-core": "2.39.0",
  "azure-cli-telemetry": "1.0.6",

[2022-08-11 08:01] #22891 closed

[2022-08-11 08:42] Marwen-TAALLAH commented on #23479
Yes but now the code passes but not as it should, the idea is that i'm creating an azure app function via terraform and trying to upload the code on creation time, the function is created but i can't find the code! here's what it says on the azure portal:

**Your app is currently in read only mode because you are running from a package file. To make any changes update the content in your zip file

[2022-08-11 08:57] RakeshMohanMSFT commented on #23479
@Marwen-TAALLAH Please go through this documentation https://docs.microsoft.com/en-us/azure/azure-functions/run-functions-from-deployment-package

[2022-08-11 09:28] jiasli commented on #20972
To better demonstrate the behavior difference between Command Prompt and PowerShell, consider a very simply script `test.cmd`:

[code]

When invoked from Command Prompt:

[code]

But when invoked from PowerShell:

[code]

`arg1`'s double quotes are lost.

[2022-08-11 10:15] bebound commented on #23498
Could you please delete this file and try again? `~/.azure/msal_http_cache.bin`

Related issue: https://github.com/Azure/azure-cli/issues/20707

[2022-08-11 10:56] arludwig commented on #22230
The link to the mentioned package did not work for me. I could however use
http://security.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.1-1ubuntu2.1~18.04.20_amd64.deb
to get it working.
(Remember to edit the package name three (3) times in the command (wget, dpkg and rm))

[2022-08-11 11:51] bb-froggy commented on #15529
The PowerShell issue seems to be fixed in PowerShell 7.3 : https://github.com/PowerShell/PowerShell/issues/1995#issuecomment-1211457683

[2022-08-11 12:10] vinaydr1209 opened #23507 "az login"
**Related command**

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2022-08-11 12:52] yonzhan commented on #23507
Please provide detailed error log for troubleshooting.

[2022-08-11 13:00] vinaydr1209 opened #23508 "az login issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-08-11 14:15] yonzhan commented on #23508
Duplicate of https://github.com/Azure/azure-cli/issues/20231

[2022-08-11 14:15] #23508 closed

[2022-08-11 15:22] williamohara opened #23509 "adding --top 10 removes the inProgress runs"
**Related command**
az pipelines runs list

**Describe the bug**
this command gives me the top ten runs in a nice table - only its missing the inProgress runs

az pipelines runs list --top 10 -o table

this command works as expected - it gives me 240 runs in a nice table - including the inProgress ones.

**To Reproduce**
submit a run
hit the command while the run is running wiht the --top 10
see l

[2022-08-11 15:45] onionhammer commented on #16071
@evelyn-ys Any update? Or are we all happy with az blob sync not working with azure storage accounts without keys?

[2022-08-11 16:15] rdtechie commented on #20511
Any update?

[2022-08-11 16:19] buggsdummy commented on #22216
Regex would be nice

[2022-08-11 16:38] christianag54 opened #23510 "az aks nodepool update can update taints, docs could use this detail"
The command has these options

az aks nodepool update --cluster-name
                       --name
                       --resource-group
                       [--aks-custom-headers]
                       [--disable-cluster-autoscaler]
                       [--enable-cluster-autoscaler]
                       [--labels]
                       [--max-count]
                       [--max-surge]

[2022-08-11 17:20] szymonbr opened #23511 "az network bastion / fail to connect / decryption failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network bastion rdp`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az network bastion rdp --name {} --resource-group {} --target-resource-id {}`
- `az network bastion tunne

[2022-08-11 18:59] codytipton-hpg commented on #20743
But there is no way to get the desired output for an existing SP.  As well, this is impactful not only for the azure/login task, but for any boilerplate which leveraged the secret in a workflow alongside it; e.g., terraform azure module login with key values provided from the same secret.  This could have ramifications in the event of need for a credential reset, extending downtime if unaware of t

[2022-08-11 19:21] codytipton-hpg opened #23512 "Add --legacy-format flag to replace --sdk-auth, and extend its functionality to `az ad sp credential reset` and `list`"
**Related commands**
`az ad sp create-for-rbac`
`az ad sp credential reset`
`az ad sp credential list`

**Is your feature request related to a problem? Please describe.**
Amid pending deprecation of `--sdk-auth` I realized the old format, which we've built some boilerplate around (due to its past as the preferred login route for both Azure/login and terraform az module login usage), would require

[2022-08-11 19:22] jtravell commented on #23454
@RakeshMohanMSFT  I just added the debug trace to the end of my original posting at the top of this thread because that location should make it easier for anyone to understand this.  I redacted the subscription ID and the active directory ID, but I kept the request ID because the request ID is an internal Microsoft artifact.

Also note that this command worked for us a few weeks ago, but suddenly

[2022-08-11 19:40] kylejulian opened #23513 "ImportError: cannot import name 'edge_zone_type'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --node-count {} --kubernetes-v

[2022-08-11 20:08] joshuadmatthews commented on #20743
@codytipton-hpg If you call "az ad sp create-for-rbac" on an existing SP with a scope/role it already has, it will patch it and return the output needed.

One thing I have found difficult though is that sometimes I get an error message instead of a result, depending on what scopes I apply. If I just apply a management group for instance, then I get an error instead of a result. It seems to need a

[2022-08-11 21:08] Am018 commented on #23407
**Related command**
No response

**Resource Provider**
Network (NRP)

**Description of Feature or Work Requested**
There are a set of new parameters added to GetNicEffectiveSecurityGroup command. New parameters are

1. vmssResourceName of type string
2. vmIndex of type string
3. nicResourceName of type string

The API should already have support in CLI. We just need to add more parameters to it.

[2022-08-11 22:19] KevinKitts opened #23515 "Command 'az network bastion rdp' does not work in admin powershell window"
Running the following command in an admin powershell window results in the below error on multiple machines. It works just fine in a normal / non-admin window.
[code]

Error:
'Invalid connection file (C:\Windows\System32/conn.rdp) specified'

![image](https://user-images.githubusercontent.com/49320308/184251580-3db21f25-7b53-4511-b654-f191f2816c2d.png)

[2022-08-11 22:26] yadirhb commented on #22189
I'm getting something different but still a bug. In my case the storage account exists but the blob container doesn't. I'm getting:
[code]

[2022-08-11 23:18] ramfattah commented on #23497
@emiledufour,

Looks like I was not able to repro from my end.

#### Environment

* azure-cli 2.39.0
* core 2.39.0
* OS: Windows 11
* Windows Terminal: Powershell

#

After running the command
`az login`

It appears I was successfully logged in without issue after the browser opened:
![image](https://user-images.githubusercontent.com/38049078/184257606-7844a42e-e75f-489d-a56a-e5d6fd8e6363.png)

[2022-08-11 23:21] yonzhan commented on #23509
route to CXP team

[2022-08-11 23:24] yonzhan commented on #23510
route to CXP team

[2022-08-11 23:25] yonzhan commented on #23511
route to CXP team

[2022-08-11 23:27] yonzhan commented on #23512
@jiasli for awareness

[2022-08-11 23:28] yonzhan commented on #23513
route to CXP team

[2022-08-11 23:31] yonzhan commented on #23515
route to CXP team

[2022-08-11 23:31] carlos4ndre opened #23516 "Command 'az aks nodepool show' does not show podSubnetID"
**Description**

When running the command ```az aks nodepool show``` it does not return the `podSubnetID` information, and looking at the [AKS REST API](https://docs.microsoft.com/en-us/rest/api/aks/agent-pools/get?tabs=HTTP#agentpool) it should be available.

**To Reproduce**

Must create a node pool with the `--vnet-subnet-id` and `--pod-subnet-id` parameters.

Example:
[code]

Get node pool det

[2022-08-11 23:34] yonzhan commented on #23516
route to CXP team

[2022-08-12 02:38] evelyn-ys commented on #16071
Sorry but there's some technical issue that CLI supports AAD auth differently with azcopy.

If you have to use AAD auth, please run `azcopy` directly. CLI has already installed `azcopy` for you.

[2022-08-12 03:03] navba-MSFT commented on #23510
@christianag54 Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-12 03:28] evelyn-ys commented on #22189
Seems that service response has changed.

[2022-08-12 03:36] RakeshMohanMSFT commented on #23513
@kylejulian Can you please upgrade to the latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)? and retry

[2022-08-12 03:38] RakeshMohanMSFT commented on #23496
@bachlean Thank you for reaching out, we are looking into it.

[2022-08-12 03:43] markingmyname commented on #20573
@mahfooziiitian

Is this GitHub Issue still a concern for you? If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion, and we will reopen the issue.

Due to the age of this issue, we will continue to close this issue.

Please visit https://docs.microsoft.com/en-us/answers/support/ for more information on asking questions about the

[2022-08-12 03:43] markingmyname commented on #20573
#please-close

[2022-08-12 03:58] #20573 closed

[2022-08-12 04:04] jtravell commented on #23454
@RakeshMohanMSFT What is the status of this?

[2022-08-12 04:12] RakeshMohanMSFT commented on #23454
@jtravell Thank you for the trace, i see that you get an empty array as result of list api. As i requested before, did you get chance to see if the portal is displaying the resource you are looking for? something like this, if not can you check your permissions to list/read images resource. I understand it was working before but its possible that some permission changes happened accidentally perha

[2022-08-12 04:15] ragemnky opened #23517 "azure-cli behind a firewall"
**Related command**
az deployment tenant create --template-file xxx/xxx/template.bicep ....

**Describe the bug**
The environment I'm running the command in restricts outbound internet access.
With --debug on I can see the following error:

ERROR: cli.azure.cli.core.azclierror: Error while attempting to download Bicep CLI: <urlopen error [Errno 104] Connection reset by peer>

The debug log referen

[2022-08-12 04:28] RakeshMohanMSFT commented on #16717
This is working. Please upgrade to the latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-12 04:28] yonzhan commented on #23517
route to CXP team

[2022-08-12 04:50] jiasli commented on #23512
Currently `--sdk-auth` is not going anywhere and you may keep using it.

Extending `--sdk-auth` to `az ad sp credential list` is simply not doable, because the underlying REST API doesn't return credentials anymore once created. For example:

https://docs.microsoft.com/en-us/graph/api/resources/passwordcredential?view=graph-rest-1.0

![image](https://user-images.githubusercontent.com/4003950/18428

[2022-08-12 05:01] navba-MSFT commented on #23483
@aluty Considering you are internal to Microsoft, I am looping you on an email thread with the Product Group team of ACR. They have provided the answer to your question.

[2022-08-12 05:10] RakeshMohanMSFT commented on #23488
@bhumikadhotre1 Please check the prerequisites. Zone redundancy is not support for Isolated sku.

Availability zone support is a property of the App Service plan. The following are the current requirements/limitations for enabling availability zones:

Both Windows and Linux are supported.
**Requires either Premium v2 or Premium v3 App Service plans.**
Minimum instance count of three is enforced.
T

[2022-08-12 06:10] navba-MSFT commented on #23510
The above PR has been created and it is currently pending under review.

[2022-08-12 06:22] #16717 closed

[2022-08-12 07:17] Saglodha commented on #23270
@yuanchenCY , Update should be live in China region. Can you please retry the operation and share feedback? Thanks.

[2022-08-12 07:39] FokkoVeegens commented on #22346
Ok, so can you fix this @v-soujanya ?

[2022-08-12 07:46] MarkusDressel commented on #23406
@SaurabhSharma-MSFT are there any updates on this topic? It is really annoying that the az ml cli v2 does not allow to set this parameter while the python sdk has this feature.

[2022-08-12 09:25] RakeshMohanMSFT commented on #23466
@sherlynnw-fac Thank you for reaching out, we are looking into it.

[2022-08-12 09:48] #23194 closed

[2022-08-12 11:33] RakeshMohanMSFT commented on #22901
@roycornelissen Thank you for reaching out, we are looking into it.

[2022-08-12 12:23] keithmitworks commented on #23426
Thank you for the reply. I did determine myself that the webapp resource group was what was needed.

[2022-08-12 13:27] RakeshMohanMSFT commented on #20200
@blcksrx Please upgrade to latest version azure cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-12 13:29] RakeshMohanMSFT commented on #20121
@Rashair Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-12 13:36] onionhammer commented on #16071
@evelyn-ys So should this issue be reopened? Seems like it

[2022-08-12 13:56] fridrichovsky commented on #16617
Hello,
I have same problem. I am using multiple agents and I need uprade azure client there automatically without use interaction. There is no problem run powershell as administrator.

[2022-08-12 14:01] israrkhan opened #23521 "Azure-CLI-ml : AuthenticationException. Reason: InvalidCertificate upon deployment of service"
**Related command**
az ml model deploy

**Describe the bug**
Upon deploy from Azure DevOps, command exits with exit code 1 with the following error

[code]

**To Reproduce**
Execute az ml model deploy towards K8s backed AzureML-setup

**Expected behavior**
Should deploy without errors.

**Environment summary**
Azure DevOps.
AZ CLI: Version      : 2.198.0

**Additional context**
Seems like it's als

[2022-08-12 14:55] kylejulian commented on #23513
yes, that works. thanks.

[2022-08-12 14:58] #23513 closed

[2022-08-12 17:57] JoeShabadu2000 opened #23522 "Installation of Azure CLI from shell script: "bash: line 42: /dev/tty: No such device or address""
**Describe the bug**

I am trying to install Azure CLI on an Ubuntu 22.04 VM in Azure, as part of a Custom Script Extension for Linux setup script. I have had this running fine in the past, but now it no longer seems to install properly.

Following the instructions for [Installing AZ CLI as part of a script](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=script) I have t

[2022-08-12 18:54] bhumikadhotre1 commented on #23488
it is supported for ASEv3
[Migrate Azure App Service Environment to availability zone support | Microsoft Docs](https://docs.microsoft.com/en-us/azure/availability-zones/migrate-app-service-environment)[Migrate Azure App Service Environment to availability zone support](https://docs.microsoft.com/en-us/azure/availability-zones/migrate-app-service-environment)

[2022-08-12 20:39] chrishayescodes commented on #10263
what would be greater would be adding this information to the documentation.
current verbiage:
`--cert`
A certificate based credential.

suggested verbiage:
`--cert`
Show certificate based credentials only. (absence of flag will show password credentials only)

[2022-08-12 21:20] jtravell commented on #23454
@RakeshMohanMSFT  Of course the image is visible in portal.azure.com.  We clearly stated the image's visibility throughout the original post above.  And again, we have repeated multiple times that nothing has changed in our automation since this worked a few weeks ago.  ...  If you had read the posting, you would not have wasted this 24 hour cycle and most likely the weekend also.  ...   We are in

[2022-08-12 22:27] yonzhan commented on #23521
route to CXP team

[2022-08-12 22:28] yonzhan commented on #23522
@jiasli for awareness

[2022-08-13 06:09] RakeshMohanMSFT commented on #23488
@bhumikadhotre1 Thank you for the information. @StrawnSC I believe even if you are using ASEv3 and plan must be premium right? can you please help clarify the doubt?

[2022-08-13 14:57] RakeshMohanMSFT commented on #23454
@jtravell Apologies for the misunderstanding, What i meant is if you are using the same credentials to login to portal and to your automation tool because RBAC is tied to the respective account.

We would need you to send us an email at [AzCommunity@Microsoft.com](mailto:AzCommunity@Microsoft.com) by providing below details.
Subject: ATTN:Rakesh
The debug trace as is without redacting details like

[2022-08-13 19:16] jtravell commented on #23454
@RakeshMohanMSFT   Did you follow the explicit step by step instructions which we added to our original posting at top above yesterday for anyone to reproduce this **BUG** in your software from any computer in the world using any Azure account?

Reproducing this **BUG** yourselves using the explicit steps we added to the original posting above yesterday is much better than using our un-redacted lo

[2022-08-13 20:21] Strobodov opened #23525 "Not possible to enable Native Client Support through az CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network bastion ssh`

**Errors:**
When you set up Azure Bastion with `az network bastion create` there are various required and optional parameters, but to _enable native client support_ is impossible. It is also not shown as parameter in the `arm template` that you can download from Azure

[2022-08-14 00:29] yonzhan commented on #23525
route to CXP team

[2022-08-14 02:43] #23198 closed

[2022-08-14 02:49] #23155 closed

[2022-08-14 02:50] #23150 closed

[2022-08-14 02:57] #23507 closed

[2022-08-14 08:01] #23082 closed

[2022-08-14 14:15] ltalirz opened #23526 "Contributing guidelines should guide prospective contributors on how to get started"
**Is your feature request related to a problem? Please describe.**
The current [contributing guidelines](https://github.com/Azure/azure-cli/blob/2c579599b38a73079df6d71c33aeb237b14d3c4c/CONTRIBUTING.rst) explain about the code of conduct, CLA form, etc.

This is useful and important, but it would be equally important to guide potential contributors to `azure-cli` on how questions, such as

 - how

[2022-08-14 14:28] ltalirz opened #23527 "Set `content_type` of keyvault secrets at creation time"
**Related command**
`az keyvault secret set`

**Is your feature request related to a problem? Please describe.**
Azure keyvault secrets [have associated content types](https://docs.microsoft.com/en-us/azure/key-vault/secrets/about-secrets), but `az keyvault secret set` currently does not allow to set the content type of the created secret.

In enterprise Azure subscriptions, policies may forbid th

[2022-08-14 14:30] ltalirz commented on #23527
For anyone needing a workaround for this issue, here is a quick hack to get the azure-cli to set a "password" content type when no content type is provided (fix is for my specific azure-cli version, your mileage may vary)

[code]

[2022-08-14 23:02] yonzhan commented on #23527
@evelyn-ys for awareness

[2022-08-14 23:05] yonzhan commented on #23526
@jsntcy for awareness

[2022-08-15 02:38] jsntcy commented on #23526
We are working on that.

[2022-08-15 02:41] yanzhudd commented on #23152
Hello @isolenov, since this has blocked our development progress, please check the reason causing this problem and reply to me before **Aug 22th**. Otherwise, this sprint will not have enough time for us to develop and test, so we will have to postpone it to the next sprint for **Ignite Event (10-12)**. Thanks for understanding.

[2022-08-15 05:44] jtravell commented on #23454
@RakeshMohanMSFT What is the status of this crippling **BUG** in your software which was reported 9 days ago.

Have you tried the new explicit step by step instructions that we added to the original posting at top above?

We believe that the newly expanded step by step instructions should make this **BUG** reproducible on any computer.

**Note that `original-sp-uid-redacted` in the original postin

[2022-08-15 07:31] zhoxing-ms commented on #23389
The reference of Compute module to `vm_default_target_network` is mainly divided into two cases:
1. ARM template deployment
    - build_public_ip_resource
    - build_load_balancer_resource

In this case, Python SDK will not be used, so it will not affect the reduction of SDK package size.
In order to ensure the feature stability and keep consistent with the api-version settings of other resources

[2022-08-15 08:07] zhengfeiwang commented on #23406
@MarkusDressel There is an implementation bug and we already created work item internally tracking on it.

To workaround your issue, please try moving "is_deterministic" under "jobs.scrape.component", and the YAML should look like below:

[code]

[2022-08-15 08:50] yonzhan opened #23532 "Monitoring the success rate of CLI download/install"
**Related command**

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-08-15 08:54] yonzhan commented on #23532
Feature candidate

[2022-08-15 12:20] verysonglaa commented on #22807
@navba-MSFT Could you please provide an update we still experience the same issue in westeurope.

[2022-08-15 12:24] navba-MSFT commented on #22807
@verysonglaa Based on my discussion with the Product Owners, the above fix has been deployed to all regions. Note that the agentpools have been fixed. Customers should have consistent **orchestratorVersion** and **currentOrchestratorVersion** now. If you are still facing the same issue, please open a support ticket. Our Support Professional will get in touch with you and troubleshoot this further.

[2022-08-15 13:42] repogh commented on #23030
I am also facing this issue with both az login and connect-azaccount.

![azlogin error](https://user-images.githubusercontent.com/49834835/184646494-e81a5fd3-c5f4-4e3e-9ddf-63dbd8fed96c.PNG)

and even if I login to connect-azaccount which does not show any errors at login, but then try run my terraform, I get the attached:

![connectazAccount error](https://user-images.githubusercontent.com/498348

[2022-08-15 14:05] #22637 closed

[2022-08-15 14:26] martinellimakes opened #23533 "Documentation for "--web-redirect-uris" is incorrect"
The documentation for supplying --web-redirect-uris states "Space-separated values.". This appears to be incorrect and actually required comma separated values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 921aa920-c25f-5227-aabb-49116da38fa7
* Version Independent ID: 9b5a53ad-edf8-4d89-f8e6-cde01b7866f6
* Content: [

[2022-08-15 15:18] israrkhan commented on #23521
Resolved. Issue is related to AKS-clusters created prior to auto-renewal of certification was introduced.

In order to resolve this, the AKS-certificate needs to be manually rotated.

https://docs.microsoft.com/en-us/azure/aks/certificate-rotation#manually-rotate-your-cluster-certificates

[2022-08-15 15:28] ramesheducation opened #23535 "AZ resource group create issue in VS Code cli command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az deployment group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az deployment group create --resource-group {} --template-fil

[2022-08-15 16:03] jtravell commented on #23454
@derekbekoe Can you suggest how we might get resolution of this crippling **BUG** in your software that was reported 10 days ago?

We added more explicit step by step instructions for recreating the **BUG** this past Friday, but no one seems to have taken the steps to recreate the problem in Microsoft's end.

The original posting at top is up to date.  ...  We put all changes there to make it easi

[2022-08-15 17:42] rellis-of-rhindleton opened #23536 "Storage blob upload fails if tags parameter is used"
This is with Azure CLI version 2.37.0.

**Related command**
az storage blob upload

**Describe the bug**
Uploading a file to blob storage works fine if the --tags parameter is not used, but if it is used, a permission denied error occurs.

This is with a storage account using roles for authorization rather than a key or token. The Storage Blob Data Contributor role has been granted.

**To Reproduc

[2022-08-15 18:15] SaurabhSharma-MSFT commented on #23236
@julian-code Please let me know if you are seeing any issues.

[2022-08-15 18:44] wasker commented on #22807
FWIW, if one is stuck in this state, it seems that it's possible to get yourself out from it by going into the AKS Node Pools blade in the Portal and manually changing scale parameters of the node pool. This seem to reset the record of the OS in the nodepool.

[2022-08-15 19:51] derekbekoe commented on #23454
Hi @jtravell - It has been several years since I last contributed to this project. However, it looks like the relevant people are already on this thread.

[2022-08-15 20:25] Deondrede opened #23537 "Misleading example"
In the example section on this page it shows the token as
[code]
The example fails to acknowledge that in order to for the token parameter to be correct you need to escape the $.
The working example is
[code]
The first command also does not fail or provide an error of any kind. It would be nice to have this rectified to avoid future confusion

#### Document Details

⚠ *Do not edit this section. It

[2022-08-15 22:13] yonzhan commented on #23533
@jiasli for awareness

[2022-08-15 22:17] yonzhan commented on #23535
@zhoxing-ms for awareness

[2022-08-15 22:19] yonzhan commented on #23536
@evelyn-ys for awareness

[2022-08-15 22:21] yonzhan commented on #23537
route to CXP team

[2022-08-16 01:05] cloga commented on #23406
Hi @MarkusDressel ,
We didn't expose the allow_reuse on step level in CLI v2 now. And CLI v2there are registered components and anonymous components(inline jobs). The default reuse settings for anonymous components is `is_deterministic=true`

Two workarounds we have to disable reuse:
1. Explicitly change `is_deterministic=false` in the anonymous component just as Zhengfei shared.
2. We also expose

[2022-08-16 01:10] pankajraj1810 opened #23538 "Wrong Explaination for “az signalr upstream Clear”"
[The Explaination for az signalr upstream Clear mentions to list the setting rather than clearing. It is at two position which I have highlighted in the snapshot  attached]

![F9EBD1B4-BA6D-4476-ABCC-818BC0808205](https://user-images.githubusercontent.com/111325563/184772510-5c677897-028e-4f6d-99f9-462befe337d9.jpeg)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.

[2022-08-16 01:22] yonzhan commented on #23538
route to CXP team

[2022-08-16 01:46] evelyn-ys commented on #23536
Need storage server side debug

[2022-08-16 02:28] #23493 closed

[2022-08-16 02:38] PeiwenGaoMS opened #23539 "Azure CLI running in Powershell becomes unresponsive"
## **Related command**

All az command lines do not work.

## **Describe the bug**

I recently faced a tricky problem with the azure cli that I run any “az…” command in powershell and no respond, like the image below.
![image](https://user-images.githubusercontent.com/111329184/184785817-4df38e62-4b8f-4eeb-8c4d-901793877b55.png)
At first, I thought that there was a problem because anaconda was ins

[2022-08-16 02:58] jtravell commented on #23454
@RakeshMohanMSFT What is the status of this crippling **BUG** in your software which was reported 9 days ago?

Have you tried the new explicit step by step instructions that we added to the original posting at top above?

Also, is there a way this can be worked on during North American daylight hours?  We are concerned that days and weeks keep passing because only minimal progress is made each day

[2022-08-16 03:35] yonzhan commented on #23539
@jiasli for awareness

[2022-08-16 03:38] JamesAlexHeller opened #23540 "az ppg create failing with any tags included in version 2.39.0"
**Related command**
`az ppg create`

**Describe the bug**
Current version of azure-cli (2.39.0) introduced bug where any tag included seems to results in the returned error:
`Parameter 'tags' must be of type 'dict[str, str]'`

**To Reproduce**
Run the command: `ppg create --resource-group <resource_group> --location <region> --name <ppg_name> --tags testtag=test` using version version 2.39.0 of `a

[2022-08-16 03:39] yonzhan commented on #23540
ppg

[2022-08-16 03:49] navba-MSFT commented on #23517
@ragemnky Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-16 03:50] navba-MSFT commented on #23537
Adding Service team to look into the devops issue.

 @v-anvashist, @V-hmusukula Could you please look into this and provide an update ?

[2022-08-16 03:50] zhoxing-ms commented on #23540
This problem was introduced by PR #23167, which is similar to problem #23194, and can be solved by referring to PR #23393

[2022-08-16 03:51] navba-MSFT commented on #23536
@rellis-of-rhindleton Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-16 04:26] v-anvashist commented on #23181
@jack1902 We have checked the docs and currently we don't have any command support for az pipelines environment.

Below is the doc support for az pipelines

https://docs.microsoft.com/en-us/cli/azure/pipelines?view=azure-cli-latest

[2022-08-16 04:28] v-anvashist commented on #23180
@jack1902 We have checked the docs and currently we don't have any command support for az pipelines environment.

Below is the doc support for az pipelines

https://docs.microsoft.com/en-us/cli/azure/pipelines?view=azure-cli-latest

[2022-08-16 04:57] navba-MSFT commented on #23483
@aluty Archiving this thread for now since we have an active thread running with the Product group team to track this further.

[2022-08-16 04:57] #23483 closed

[2022-08-16 05:14] navba-MSFT commented on #23500
@jastill I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any update on this. Awaiting your reply.

[2022-08-16 05:24] RakeshMohanMSFT commented on #23454
@jtravell I did follow every step mentioned in the document and still i could list the resource. The difference is in the az version i am using 2.39.0 and you are using 2.33.0
![image](https://user-images.githubusercontent.com/49954584/184803878-5464e04a-fc98-4caf-a31e-755d31e46329.png)
![image](https://user-images.githubusercontent.com/49954584/184803898-3c58291f-24b3-4c01-a83b-48a1d4e97936.png)

[2022-08-16 05:50] kkantedi opened #23541 "az webapp log download ssl error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp log download`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp log download --name {} --resource-group {}`

## Expecte

[2022-08-16 05:53] yonzhan commented on #23541
route to CXP team

[2022-08-16 06:12] #23510 closed

[2022-08-16 06:33] zhoxing-ms commented on #23535
@ramesheducation Please see if this document [auto-translation-of-resource-ids](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_with_git_bash.md#auto-translation-of-resource-ids) can solve your problem

[2022-08-16 07:05] jason-swissre commented on #20645
We would also be very interested in this functionality

[2022-08-16 07:09] jtravell commented on #23454
@RakeshMohan-MSFT   When you follow the new detailed, step by step instructions for recreating the BUG in your software that we added on Friday, what roles are assigned to the very first service principal that logs in to run all the subsequent commands?

We start with a service principal that is the subscription owner.

We will not be able to recreate this with the newer version of the cli you sug

[2022-08-16 07:52] RakeshMohanMSFT commented on #23454
@jtravell I am trying this in subscription where i am the owner. I suggest you open a support ticket to address this in your timezone, also you will get support on weekends as well and probably a dedicated engineers. I am about to try with 2.33.0 which is your version and see if i can reproduce your issue.

[2022-08-16 07:57] #23540 closed

[2022-08-16 08:02] #23296 closed

[2022-08-16 08:12] #23429 closed

[2022-08-16 08:26] maartengo commented on #20949
@Azure/aks-pm can you give an update on the state of this issue? My team wanted to use this feature, but are running into the same problem of being unable to configure the timezone to avoid daylight saving issues.

[2022-08-16 09:08] muralikrishnarokkam opened #23545 "Unable to login using Az CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-08-16 09:18] jtravell commented on #23454
@RakeshMohan-MSFT  How do we open a ticket in our time zone?  That is what we thought we were doing when we opened up this ticket.

From: RakeshMohan-MSFT ***@***.***>
Sent: Tuesday, August 16, 2022 12:53 AM
To: Azure/azure-cli ***@***.***>
Cc: jtravell ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] `az resource list` fails to return images that do in fact exist (Issue #23454)

[2022-08-16 09:20] navba-MSFT commented on #23536
@rellis-of-rhindleton The error message talks about the permissions issue. [This](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-index-how-to?tabs=azure-cli#upload-a-new-blob-with-index-tags) article talks about the permissions required to _Upload a new blob with index tags_.

Please grant the Storage Blob Data Owner permission to your user at the Storage account or container le

[2022-08-16 09:26] yonzhan commented on #23545
Duplicate of https://github.com/Azure/azure-cli/issues/20231

[2022-08-16 09:26] #23545 closed

[2022-08-16 09:36] RakeshMohanMSFT commented on #23454
@jtravell From the azure portal. Depending on your timezone an engineer is assigned even otherwise you can ask them to assign an engineer in your timezone.
![image](https://user-images.githubusercontent.com/49954584/184847844-975ce938-e9d9-46f1-aa93-303e0a735800.png)

[2022-08-16 10:53] navba-MSFT commented on #23535
@ramesheducation Thanks for reaching out to us and reporting this issue. I created the same folder hierarchy as yours and ran the command and it did work fine. Could you please confirm if you ran the command like below ?

Sharing my Azure CLI version if that helps.

C:\>az version
{
  **"azure-cli": "2.39.0",**
  "azure-cli-core": "2.39.0",
  "azure-cli-telemetry": "1.0.6"
  }

Hope this helps.

[2022-08-16 11:00] rellis-of-rhindleton commented on #23536
Ah, thank you. I wondered if a different role was required! The documentation for the Azure CLI is what I was reading. It doesn’t mention this. But the blob storage docs are clear. If I get time I’ll submit a pull request for the CLI doc.

[2022-08-16 11:00] #23536 closed

[2022-08-16 13:24] dulikvor opened #23546 "Microsoft.OperationalInsights: New stable version 2022-10-01 support."
### Related command

[CLI_OperationInsights_2022-10-01.docx](https://github.com/Azure/azure-cli/files/9351167/CLI_OperationInsights_2022-10-01.docx)

### Resource Provider

Microsoft.OperaitonalInsights

### Description of Feature or Work Requested

New stable version, adding the following new and breaking change functionalities:

Resource - Workspaces:
* Identity support.

Resource - Tables:
* Se

[2022-08-16 13:40] kiweezi commented on #23364
Hey @SaurabhSharma-MSFT.
My apologies for the late reply!

Before I attempted the `backup-now` I used `az backup protection auto-enable-for-azurewl`.
As I understand, this enables a backup policy for all databases on the SQL instance. Is there something else I have to do before I can use `backup-now`?

What commands did you use to prepare your environment for the `backup-now` command?

[2022-08-16 13:48] muralikrishnarokkam opened #23547 "unable to login az cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-08-16 14:25] papadeltasierra opened #23548 "Expose "View all role assignments" via az CLI"
**Related command**
az role assignment list

**Is your feature request related to a problem? Please describe.**
This command appears to list only **my** role assignments.  From Azure Portal I can list assignments for all users, groups etc.  I want the same function so I can write a simple-ish auditing tool.

**Describe the solution you'd like**
Some option that allows the output to be for all user

[2022-08-16 14:46] ramfattah commented on #23547
Possibly related to https://github.com/Azure/azure-cli/issues/23497 ?

[2022-08-16 14:49] ramfattah commented on #23547
@muralikrishnarokkam

I was able to log in using the `@microsoft` email.
Are you facing this issue if using a specific email account or in general `az login` does not work?

Also, are you using proxy by any chance?

[2022-08-16 15:09] cartond opened #23549 "Datafactory does not return the correct folder"
**Related command**
`az datafactory pipeline show`
`az datafactory pipeline list`

**Describe the bug**
Both commands above do not return the correct folder for pipelines.

**To Reproduce**
Consider ADF "A"
With folder "F"
With pipeline "P" in folder F.

If you look at the P's JSON representation in the ADF's UI, you will see it has the folder's data:
[code]
But, when you use either of the two com

[2022-08-16 15:17] muralikrishnarokkam commented on #23547
I am using my work email address to login

[2022-08-16 15:22] jastill commented on #23500
Hi @navba-MSFT ,

On MacOS 12.5 I have the following versions:

❯ az --version
azure-cli                         2.39.0

core                              2.39.0
telemetry                          1.0.6 *

Extensions:
communication                      1.1.2

Dependencies:
msal                            1.18.0b1
azure-mgmt-resource             21.1.0b1

Python location '/usr/local/Cellar/azure-cl

[2022-08-16 15:25] ramfattah commented on #23541
Hi @kkantedi,

Looks like I was not able to reproduce from my end.

#### Environment

* azure-cli 2.39.0
* core 2.39.0
* OS: Windows 11
* Windows Terminal: Powershell

#

After running `az webapp log download --name MyWebApp --resource-group MyResourceGroup`, it created a zip file containing the web app logs.

https://user-images.githubusercontent.com/38049078/184916131-92904035-4466-4106-9270-bf1

[2022-08-16 15:27] ramfattah commented on #23541
This error looks interesting:
`Max retries exceeded with url: /dump (Caused by SSLError(SSLError("bad handshake: Error([('SSL routines',`

Were you able to run the command before or are you facing this issue suddenly?

[2022-08-16 15:31] kkantedi commented on #23541
Here is the screenshot,
![image](https://user-images.githubusercontent.com/54891505/184919357-c44652b3-2181-48ba-b15d-7f0f8e17ba37.png)

[2022-08-16 16:13] Jasonlhy commented on #23533
I just installed azure cli with winget today and use `az ad app update
 --web-redirect-uris` , I think it accepts Space-separated values, but it doesn't accepts up to 255 values, it will prompt some messages like:
"The command is too long"

[2022-08-16 16:23] ycamargo commented on #22708
I'm facing a similar situation.
The difference is that I'm receiving another error from `az blob upload-batch` command in a bash script.
It's a networking issue, so nothing related to the `--overwrite` parameter.
But, the exit code is 0 as well.

[2022-08-16 16:58] jbrandesLS commented on #23420
I'm currently having the same issue in the Azure web UI. I've been trying for weeks now to upload my code via zip.  I'm getting this error. Any progress on a solution?

![snippet 081622](https://user-images.githubusercontent.com/111380057/184936391-5e34bc12-7fc2-4529-8f1e-f287de08459c.png)

[2022-08-16 18:22] ricardo2009 opened #23550 "Error during login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2022-08-16 18:25] MarcoEnxuto opened #23551 "$filter example not present"
Hi,
This page does not show an example on how to filter the results.
You should provide an example.
I'm struggling to get the results i want while i need to delete some content key policies.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c257bbd6-4d8c-aedf-48dc-fa8a34304984
* Version Independent ID: c76388c4-8cb7-6702-

[2022-08-16 19:46] AndrewCS149 opened #23552 "Azure CLI SDK code gen for Azure Automanage"
### Related command

_No response_

### Resource Provider

providersMicrosoft.Compute/virtualMachines/<vmName>/providers/Microsoft.Automanage

### Description of Feature or Work Requested

Autorest code generation support for Azure CLI extensions.

### Minimum API Version Required

2022-05-04

### Swagger PR link

https://github.com/Azure/azure-rest-api-specs/blob/main/specification/automanage/res

[2022-08-16 21:56] jtravell commented on #23454
@RakeshMohanMSFT  We are still getting this **BUG** in your software even after we upgraded the az cli to the latest version.  We just sent you the unredacted debug trace to AzCommunity@Microsoft.com  with subject ATTN:Rakesh

Note that this same code worked perfectly for a long time including a few weeks ago.  ...  This **BUG** appeared recently and led to the opening of this ticket.  ...  The co

[2022-08-16 22:12] Grant-Rc commented on #23517
Im working With @ragemnky but they are on leave atm, here is an output

`$ az deployment mg create --management-group-id $ManagementGroupPrefix --template-file infra-as-code/bicep/modules/policy/definitions/customPolicyDefinitions.bicep --parameters infra-as-code/bicep/modules/policy/definitions/parameters/customPolicyDefinitions.parameters.all.json --location $Location --name create_policy_defs-$

[2022-08-16 22:39] yonzhan commented on #23547
Duplicate of https://github.com/Azure/azure-cli/issues/20231

[2022-08-16 22:39] #23547 closed

[2022-08-16 22:41] yonzhan commented on #23548
@jiasli for awareness

[2022-08-16 22:42] yonzhan commented on #23549
@evelyn-ys for awareness

[2022-08-16 22:48] yonzhan commented on #23550
route to CXP team

[2022-08-16 22:48] yonzhan commented on #23551
route to CXP team

[2022-08-16 22:50] yonzhan commented on #23552
@jsntcy for awareness

[2022-08-16 22:56] #22554 closed

[2022-08-16 22:58] #22578 closed

[2022-08-16 22:59] #22583 closed

[2022-08-16 23:33] cartond commented on #23549
I think she is OOO according to Teams. Just a heads up

On Tue, Aug 16, 2022 at 6:42 PM Yong Zhang ***@***.***> wrote:

[2022-08-17 02:05] RakeshMohanMSFT commented on #23454
@jtravell I have responded to your email.

[2022-08-17 02:44] jiasli commented on #23255
Now you will receive an error while logging in to a tenant where you are not a guess there. For example:

[code]

![image](https://user-images.githubusercontent.com/4003950/185023123-3214792a-9079-41f2-85fe-8ad0149eef38.png)

[2022-08-17 02:46] navba-MSFT commented on #23550
@ricardo2009 Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-17 02:47] jiasli commented on #23256
The change has been rolled out. If you encounter error while using old Azure Storage Explorer to log in, please upgrade to the latest version of Azure Storage Explorer.

[2022-08-17 02:47] navba-MSFT commented on #23538
@pankajraj1810 Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-17 02:50] bebound commented on #23539
What's the output of `(gcm az).Source` in PowerShell?
You may need to delete this azure-cli package.

[2022-08-17 02:52] navba-MSFT commented on #23541
@kkantedi Thanks for reaching out to us and reporting this issue. Could you please confirm if you have any proxy / firewall within your network ? If Yes, could you please try the same command from a different network and test ?

Alternatively, Could you also test the same command by running it from the[ Cloud shell ](https://docs.microsoft.com/en-us/cli/azure/webapp/log?view=azure-cli-latest#code-

[2022-08-17 03:04] PeiwenGaoMS commented on #23539
It's strange that this command displays "fatal" in **Powershell**, but a path is displayed in **Anaconda Powershell Prompt** , so it still has something to do with downloading Anaconda?

- Powershell:

![image](https://user-images.githubusercontent.com/111329184/185025095-3ec1a37f-ade3-4a43-a9ef-b0c74cccb5da.png)

- Anaconda Powershell Prompt:

![image](https://user-images.githubusercontent.com/11

[2022-08-17 03:15] RakeshMohanMSFT commented on #23551
@MarcoEnxuto Thank you for reaching out, we will help you with an example.

[2022-08-17 04:44] navba-MSFT commented on #23500
@jastill Thanks for getting back. Yes, since the AzCLI and extension version are the same in our environment, it seems like the issue is specific to your MacOS environment. Could you please test with the Python 3.10.5 / Python 3.10.4 version and test again in your environment ?

[2022-08-17 05:59] Jacekey23 commented on #23552
Hi @AndrewCS149,
If this is a request for onboarding a service RP, here is the Azure formal onboarding process via a survey. Noted that it'is one of necessary step to onboard the new RP with CLI team(https://aka.ms/PLRCLIOnboardSurvey).
you might also need the CLI onboarding meeting conversation if possible (Please book 15-min slot here if you have not already done so: https://aka.ms/PLRCLIOnboard

[2022-08-17 06:24] kevinzz6 commented on #23348
Hi @alexszym, I tried to use cli to create other artifacts like SQL script with git enable and there is the same issue as you mentioned above.  But something like spark pools that are managed by "azure-mgmt-synapse" module are good. So, I think this issue is related to git CI/CD background.

[2022-08-17 06:33] navba-MSFT commented on #23550
@ricardo2009 I see that you are using an older version of the `aks-preview` extension. Could you please run the below command to update to the most recent version of this extension and check if that helps ? Awaiting your reply.

[2022-08-17 07:14] shaniiiwild opened #23557 "Fails to az login"
az feeback failed due to the same issue probably; was unable to open the browser,
**therefore this is the error log when I run az login:**

The command failed with an unexpected error. Here is the traceback:
HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /organizations/v2.0/.well-known/open
id-configuration (Caused by NewConnectionError('<urllib3.co

[2022-08-17 07:42] bebound commented on #23539
Does `az` works on Anaconda PowerShell or cmd.exe?

Looks like cli is successfully installed but you PowerShell is down.

[2022-08-17 07:48] navba-MSFT commented on #23538
@pankajraj1810 Thanks for reporting this issue and providing the feedback. The above PR has bene filed for the same. It is currently under review.

[2022-08-17 08:02] #23337 closed

[2022-08-17 08:13] PeiwenGaoMS commented on #23539
At first, I couldn't open cmd.exe. Then, I encountered a similar problem to me. It was also because of frequent installation and uninstallation of Anaconda that cmd.exe could not be opened. So I followed the following method.
![image](https://user-images.githubusercontent.com/111329184/185068747-27a0738a-e38b-4329-bf9b-14b5d437ed71.png)
Now not only can cmd.exe be opened, all the az commands can a

[2022-08-17 08:13] #23539 closed

[2022-08-17 08:13] RakeshMohanMSFT commented on #23557
@shaniiiwild Please go through this issue and see if it helps
https://github.com/Azure/azure-cli/issues/21514

[2022-08-17 08:28] shaniiiwild commented on #23557
thanks @RakeshMohanMSFT
it was helpful.
Eventually I restarted my computer and it worked like magic :)

[2022-08-17 08:29] #23557 closed

[2022-08-17 10:22] The3Shires opened #23559 "Azure CLI package installation fails on Azure RHEL 8.5 PAYG VM"
**Related command**
sudo dnf install azure-cli

**Describe the bug**
When attempting to install the azure-cli package (RPM) on an Azure RHEL 8.5 PAYG VM it fails due to a conflict with the azure-security package that is already installed.

**To Reproduce**
1. Provision a RHEL 8.5 PAYG VM on Azure.

2. The VM already has the azure-security package installed:
[code]

3. The VM does not have the azur

[2022-08-17 11:03] ltalirz commented on #22562
I'm seeing the same issue for forwarding port 443 for HTTPS.
When using the workaround by @tbluejeans (forward SSH port, then open a "proper" SSH tunnel via openssh), I can access the web site just fine, but when forwarding port 443 via the azure cli, the browser gets stuck.

cc @matt-chan

[2022-08-17 11:50] yonzhan commented on #23559
@jiasli for awareness

[2022-08-17 15:00] RakeshMohanMSFT commented on #23551
@MarcoEnxuto Here is an example you can try this.
az ams content-key-policy list -a issue23551mediaservices -g Issue23551 --filter "properties/lastModified gt 2022-08-16 or properties/created lt 2022-08-17"

[2022-08-17 15:27] lioaslan opened #23560 "Disable log in python"
**Related command**

Relating to logging in python
**Is your feature request related to a problem? Please describe.**
When I import logging and azure.cli.core, it shows logs of azure cli as well
**Describe the solution you'd like**
There's an option to disable the logging of azure.cli

**Describe alternatives you've considered**

**Additional context**

[2022-08-17 15:48] adrianhall commented on #22567
Thanks for the report.

The DevOps Resource Kit is discussed and managed as a separate tool on the azure/azure-api-management-devops-resource-toolkit repo.  It is an open-source project.  Please file an issue or question there so the right people can attend to it.

Still not an Azure CLI problem, so...

#please-close

[2022-08-17 16:37] huf1 commented on #21936
could or will take a look?

[2022-08-17 16:40] ravitellakula opened #23561 "sdk-auth Deprectated ?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account show --sdk-auth --debug`

## Expected Behavior

## Environmen

[2022-08-17 17:59] Red1971 opened #23562 "Documentation Incorrect"
Doc show workspace as optional..

az synapse managed-private-endpoints delete --pe-name
                                            [--ids]
                                            [--workspace-name]
                                            [--yes]

![image](https://user-images.githubusercontent.com/100938039/185209829-ebaf473b-9b16-4019-b324-77629a0468b8.png)

---
#### Document Details

⚠ *

[2022-08-17 20:46] kpconnell opened #23563 "az webapp log download getting connection broken"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp log download`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp log download --name {} --resource-group {}`

## Expecte

[2022-08-17 22:06] lahsha opened #23565 "CLI support request for Commercial:FIST developing Microsoft.IoTFirmwareDefense"
https://msazure.visualstudio.com/One/_workitems/edit/15188220

[2022-08-17 22:41] arindam0310018 opened #23566 "Service Principal Credential Reset does not appear in Azure Portal App Registration GUI"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bef1f12-de16-93ed-1cb7-3f3d5d99d786
* Version Independent ID: 4e9329a6-50f8-ee2a-af63-f750d66ed574
* Content: [az ad sp credential](https://docs.microsoft.com/en-us/cli/azure/ad/sp/credential?view=azure-cli-latest#az-ad-sp-credential-reset)
* Content

[2022-08-17 22:47] arindam0310018 commented on #23566
Hello Team, I am Resetting Service Principal Using az cli and az devops.
The Reset works with the reference command - "az ad sp credential reset".

The new Secret gets stored in KV, however, when I browse to Azure Portal --> App Registration --> Required App Registration --> Certificates and Secrets, I cannot see the New Secret Generated. There is no new entry found.

All details can be found in m

[2022-08-17 23:05] yonzhan commented on #23560
@jiasli for awareness

[2022-08-17 23:06] yonzhan commented on #23561
@jiasli for awareness

[2022-08-17 23:07] yonzhan commented on #23562
route to CXP team

[2022-08-17 23:09] yonzhan commented on #23563
route to CXP team

[2022-08-17 23:11] yonzhan commented on #23565
@jsntcy for awareness

[2022-08-17 23:13] yonzhan commented on #23566
@jiasli for awareness

[2022-08-18 00:38] jtravell commented on #23454
@RakeshMohanMSFT   What is the status of this crippling **BUG** in your software that was reported 12 days ago?

[2022-08-18 00:45] limingu opened #23567 "Request CLI for Liftr.Nginx"
Information required from service team:

1.Resource provider. What is the Azure resource provider your feature is part of?
NGINX.NGINXPLUS

2. Description of feature or work requested. Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
Create CLI commands for NGINX.

3. Minimum API version required. What is the minimum API version o

[2022-08-18 01:59] yonzhan commented on #23567
@jsntcy for awareness

[2022-08-18 03:40] hari-bodicherla commented on #23414
Hello @Theodore ***@***.***>,

Since this has blocked our developing process, may I ask when will the SDK with api-version 2022-08-01 be released?

Thanks,
Yan

发件人: Xing Zhou ***@***.***>
发送时间: 2022年8月18日 9:40
收件人: Yan Zhu ***@***.***>
主题: FW: [Azure/azure-cli] Changes related to Capacity Reservation resource to display maximum fault domain count supported (Issue #23414)

FYI

From: Yuchao ***@**

[2022-08-18 03:55] navba-MSFT commented on #23562
@Red1971 Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-18 05:03] EllaLiMSCSS opened #23570 "Fail to list ADF pipelines using az cli extension even though updated az cli to latest cli version 2.39.0"
**Related command**

az datafactory pipeline list --factory-name XDLKMCNINFDTFACINST001 -g XDLKMCNINFRESGP026  --debug

***Errortack is as following:***
DEBUG: cli.azure.cli.core.util: Traceback (most recent call last):
  File "/root/lib/azure-cli/lib/python3.8/site-packages/msrest/serialization.py", line 1626, in deserialize_data
    return self.deserialize_type[iter_type](data, data_type[1:-1])

[2022-08-18 05:16] navba-MSFT commented on #23517
@ragemnky Could you please whitelist the below 2 URLs too in your firewall if its not yet done  and test again ?

https://api.bicep.azure.com/releases/latest

Awaiting your reply.

[2022-08-18 05:24] #23538 closed

[2022-08-18 06:04] Jacekey23 commented on #23567
@limingu
If this is a request for onboarding a service RP, here is the Azure formal onboarding process via a survey. Noted that it'is one of necessary step to onboard the new RP with CLI team(https://aka.ms/PLRCLIOnboardSurvey).
you might also need the CLI onboarding meeting conversation if possible (Please book 15-min slot here if you have not already done so: https://aka.ms/PLRCLIOnboardCalendar

[2022-08-18 06:35] rupeshyl opened #23572 "ERROR: Parameter 'tags' must be of type 'dict[str, str]' in command az sig image-version create"
With latest version azure cli 2.39.0 out image build pipeline is failing to create and impacting production upgrades.

Kindly suggest when will be new fix ready

[2022-08-18 07:18] jsntcy commented on #21903
Already released in https://github.com/Azure/azure-cli-extensions/tree/main/src/orbital

[2022-08-18 07:18] #21903 closed

[2022-08-18 07:25] RakeshMohanMSFT commented on #23454
@jtravell I have engaged our product team and waiting for an update from them.

[2022-08-18 07:42] jtravell commented on #23454
@RakeshMohan-MSFT   What specific suggestions do you have after reviewing the unredacted debug logs?

Who is the engineer in North American Pacific time zone who will also work on this **BUG** report?

[2022-08-18 08:01] #23317 closed

[2022-08-18 08:01] #23297 closed

[2022-08-18 08:08] MayXuQQ opened #23575 "fail to login in AzureUSGovernment"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-08-18 08:14] RakeshMohanMSFT commented on #23454
@jtravell Unfortunately we do not have anyone in NA.

[2022-08-18 10:02] MajaStojkovic-TomTom commented on #20390
Hi,
Experiencing same problem as [andygjp](https://github.com/andygjp) described it. Just in my usecase, I'm using consumption plan on windows machines with java 11.

[2022-08-18 10:55] RakeshMohanMSFT commented on #23561
@revinjchalil Please go through this issue for further details https://github.com/MicrosoftDocs/azure-docs/issues/92827

[2022-08-18 11:10] tokleine opened #23576 "Az cli webapp ip restrictions: can't add CIDR range in similar matter as in Azure Portal"
## Describe the bug

**Command Name**
`az webapp config access-restriction add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config access-restriction add -g {} -n {} --rule-name {} --action {} --ip-address {} --priority {}`

## Ex

[2022-08-18 11:10] yonzhan commented on #23572
@zhoxing-ms for awareness

[2022-08-18 11:12] zhoxing-ms commented on #23572
Known issue, fixed by this PR #23393, it will be released in **09-06**

[2022-08-18 11:12] #23572 closed

[2022-08-18 11:17] yonzhan commented on #23575
Duplicate of https://github.com/Azure/azure-cli/issues/20388

[2022-08-18 11:17] #23575 closed

[2022-08-18 11:21] yonzhan commented on #23576
route to CXP team

[2022-08-18 13:22] jakub-i opened #23577 "Azure SQL LTR recovery from backup fails with internal server error"
Azure ClI version
azure-cli                         2.39.0

core                              2.39.0
telemetry                          1.0.6 *

Extensions:
ai-examples                        0.2.5
ssh                                1.1.2

Dependencies:
msal                            1.18.0b1
azure-mgmt-resource             21.1.0b1

Python location '/opt/az/bin/python3'
Extensions directory '/ho

[2022-08-18 13:49] Wexleron opened #23578 "Deployment - PostgreSQL Flexible Server by Azure Portal (InternalServerError)"
Hi,

i occur this problem about a day now. Deploying PostgreSQL Flexible server worked for me normally in the past (3 months last time). Now it throws "InternalServerError" no matter the settings - which is by the azure portal validated and ok.

I dont know if I can give more info except batch of numbers which probably wont help.

{
    "status": "Failed",
    "error": {
        "code": "InternalS

[2022-08-18 13:53] yonzhan commented on #23577
route to CXP team

[2022-08-18 13:54] yonzhan commented on #23578
Seems not related to Azure CLI commands

[2022-08-18 13:56] Wexleron commented on #23578
Sorry, I am still quite new to GitHub :-) I just clicked "report problem" in official azure documentation,

[2022-08-18 14:10] plynch66 opened #23579 "az synapse workspace create should provide the option to specify the Managed Resource Group name."
**Related command**
az synapse workspace create

**Describe the bug**
Deploying an Azure Synapse workspace requires a separate managed resource group. This resource group should be able to be created when running the az synapse workspace create CLI command. Currently this is not possible. This is clearly an omission and should be rectified.

**To Reproduce**
az synapse workspace create

**Expected

[2022-08-18 14:28] MayXuQQ opened #23580 "fail to login in when the password is starts with '-'"
**Related command**

az login --service-principal
**Describe the bug**

fail to login when the password stars with '-'
$az login --service-principal -u 542ef77d-**** -p "**-**G9-8pR0E***" --tenant 259714ad-***
argument --password/-p: expected one argument

**To Reproduce**

$az ad sp create-for-rbac --role Owner --name maxu-installer –year 100 --scopes //subscriptions/8fe0c1b4-8b05-4ef7-8129-7cf56

[2022-08-18 14:45] yonzhan commented on #23578
Please reopen if you find the issue is related to Azure CLI commands.

[2022-08-18 14:45] #23578 closed

[2022-08-18 14:45] yonzhan commented on #23579
route to CXP team

[2022-08-18 14:45] yonzhan commented on #23580
@jiasli for awareness

[2022-08-18 14:49] jack1902 commented on #23180
@v-anvashist i'm aware no support for `az pipelines environment` exists, hence raising a feature request to look to have it added to better document the API exposed publically which is interacted with via the UI

[2022-08-18 15:50] sycured opened #23581 "config appservice list: value at null instead of the one that I see in portal"
## Describe the bug

**Command Name**
`az webapp config appsettings list`

**Errors:**
Return `"value": null` instead of the correct one for some environment variables
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az webapp config appsettings list --name {} --resource-group {}`

## Expected Beh

[2022-08-18 15:52] Wexleron commented on #23578
After like 20 tries, trying to change every single option I finally succeed. The problem was in admin username "Dissidence" is simply not accepted. Worked two times ok with just different username.

[2022-08-18 17:25] snapfisher opened #23582 "Unable to create Azure Container App Environment"
**Related command**
az containerapp env create --name acae-dthanding-dgen --resource-group dthandling --location eastus

**Describe the bug**

Big Red CLI error

No Log Analytics workspace provided.
Generating a Log Analytics workspace with name "workspace-dthandlingLgin"
The command failed with an unexpected error. Here is the traceback:
HTTPSConnectionPool(host='management.azure.com', port=443):

[2022-08-18 17:33] rupeshyl commented on #23572
Thank you Team

[2022-08-18 17:41] jeevanions commented on #21684
This is not a feature request. may be a bug or genuine reason for this behaviour. Any updates? I am also stuck with this.

[2022-08-18 18:49] plzm opened #23583 "az apim api delete with both -y and --no-wait fails with TypeError: Session.request() got an unexpected keyword argument 'polling'"
Connectivity problem detected.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim api delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim api delete --verbose -g {} --

[2022-08-18 19:39] sycured commented on #23581
I tried [the REST API](https://docs.microsoft.com/en-us/rest/api/appservice/web-apps/list-application-settings?tryIt=true&source=docs#code-try-0) and the value is the correct one

[2022-08-18 20:38] rgl opened #23584 "az postgres flexible-server list-skus returns duplicated and borked supportedIops property"
**Related command**

az postgres flexible-server list-skus

**Describe the bug**

`az postgres flexible-server list-skus` returns duplicated and borked `supportedIops` property.

**To Reproduce**

[code]

This is the head of returned json, notice the `supportedIOPS` property AND the borked `supportedIops` property:

[code]

This will prevent tools like `pwsh ConvertFrom-Json` from working:

[code]

[2022-08-18 21:20] jtravell commented on #23454
@RakeshMohanMSFT    What is the status of this crippling **BUG** in your software that was reported 13 days ago?
What specific suggestions do you have after reviewing the unredacted debug logs?

[2022-08-18 22:05] limingu commented on #23567
@Jacekey23 we have done the PLR survey and the CLI onboarding meeting.
Here is the work item: https://msazure.visualstudio.com/One/_workitems/edit/14618432
At that time, we only had the preview version swagger. Now we just have the stable version swagger ready. Is there anything else needed from us? Thanks!

[2022-08-18 22:38] yonzhan commented on #23581
route to CXP team

[2022-08-18 22:39] yonzhan commented on #23582
route to CXP team

[2022-08-18 22:41] yonzhan commented on #23583
route to CXP team

[2022-08-18 22:42] yonzhan commented on #23584
route to CXP team

[2022-08-18 22:58] ravitellakula commented on #23561
Well, i wasn't doing `az ad sp create-for-rbac` but instead was doing a `az account show`. So, is it deprecated for both of these commands?

Also, what was really weird was - look at the output in the below screen shot - the first example it lists down is with the option of `--sdk-auth`  - **_missing documentation update?_**

![image](https://user-images.githubusercontent.com/69060107/185509339-81

[2022-08-18 23:12] panchagnula commented on #23389
@madsd before I make the changes to use the latest version / default-version, wanted to check if there is a reason we use an ADhoc version for ASE & access-restrictions on App Service? Can these be safely removed?

[2022-08-19 04:15] RakeshMohanMSFT commented on #23582
@snapfisher Thank you for reaching out, we are looking into it.

[2022-08-19 04:16] RakeshMohanMSFT commented on #23581
@sycured Thank you for reaching out, we are looking into it.

[2022-08-19 04:17] navba-MSFT commented on #23500
@jastill Adding on to my above comment.

The `issue-access-token ` command has been deprecated and will be removed in a future release. Use '`token issue`' instead.

Please refer [this](https://docs.microsoft.com/en-us/cli/azure/communication/identity/token?view=azure-cli-latest#az-communication-identity-token-issue) for more info. Hope this helps.

[2022-08-19 04:17] RakeshMohanMSFT commented on #23577
@jakub-i  Thank you for reaching out, we are looking into it.

[2022-08-19 04:26] navba-MSFT commented on #23535
@ramesheducation I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-08-19 04:32] navba-MSFT commented on #23550
@ricardo2009 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you are still facing this issue after updating your extension. Awaiting your reply.

[2022-08-19 05:22] v-anvashist commented on #23180
Hi @jack1902 In azure CLI service we are consuming the API's so will forward this feature request to API team.

[2022-08-19 05:23] RakeshMohanMSFT commented on #23454
@jtravell I am still awaiting update from product team. Everything seems fine from your end. I verified you sp having owner permission and also verified that you image exists , kinda very similar to my replicated environment. Therefore i have engaged the product team to confirm, if its a bug in from our end.

[2022-08-19 05:25] navba-MSFT commented on #23517
@Grant-Rc Thanks for getting back. The commands [az config set auto-upgrade.enable](url) and `az config set auto-upgrade.all` are used if you would like to keep up with the latest version of Az CLI and CLI extensions. This command isn't related to the Azure Bicep release call that is happening in your scenario. Because Bicep is not part of CLI extension.

As mentioned above, please work with your

[2022-08-19 06:23] jiasli commented on #23561
`az ad sp create-for-rbac` still has `--sdk-auth`, but we don't recommend using it anymore.

`--sdk-auth` was dropped from `az account show` in https://github.com/Azure/azure-cli/pull/21219. You may check that PR for more details.

The examples are from Aladdin AI knowledge base. We are working with Aladdin team to remove it.

[2022-08-19 06:42] #20972 closed

[2022-08-19 06:57] jakub-i commented on #23577
@RakeshMohanMSFT Thanks, looking forward to hearing from you

\Jakub

[2022-08-19 07:09] yanzhudd commented on #22223
After communicating with @kangsun-ctrl, this issue will implement updating gallery from community to private and from private to community, and the conversion between private and groups is not included. The related commands are as follows:

#### Update gallery from private to community
Related commands:
`az sig update -g myResourceGroup --gallery-name myGalleryName --permissions Community --publis

[2022-08-19 07:15] #22901 closed

[2022-08-19 07:22] madsd commented on #23389
@panchagnula as I recall, this was to force to a newer API when this was developed as the "default" did not support delegations. This should not be a problem now.

[2022-08-19 07:41] zhoxing-ms commented on #23484
@VikasMohandoss Could you please provider the Swagger PR link, command/parameter design and required minimum api-version? Or CLI doesn't need any development work and just needs testing?

[2022-08-19 07:45] zhoxing-ms commented on #23492
@eymizrac Any update for the Swagger link?

[2022-08-19 08:01] #23354 closed

[2022-08-19 08:03] #23437 closed

[2022-08-19 08:27] zhoxing-ms commented on #23450
--enable-secure-boot with value true
--enable-vtpm with value true
--security-type with value TrustedLaunch

Does this request need to support `--disable-integrity-monitoring` like request #23476?

[2022-08-19 08:27] johagr commented on #22639
Hi @FinVamp1 . I also encountered this behaviour when setting upp my slots via the cli/bicep. Any news on this?

[2022-08-19 09:15] h-bahrami opened #23593 "az functionapp deployment source config-zip fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2022-08-19 09:38] nagakei05 commented on #23273
@MichaelFitzTech
Does this issue relate?
If you are trying to connect from a admin powershell, will trying the Azure CLI command from a non-admin powershell resolve the issue?
#23515

[2022-08-19 09:39] #22223 closed

[2022-08-19 09:59] yonzhan commented on #23593
route to CXP team

[2022-08-19 10:30] lioaslan commented on #23560
@jiasli  is there any update for this?

[2022-08-19 10:38] RakeshMohanMSFT commented on #23582
@snapfisher We managed to create without any issue, see below image. Can you retry or check your connectivity to management.azure.com please?
![image](https://user-images.githubusercontent.com/49954584/185601010-81492e87-a8e1-4005-a647-b7cb54839b65.png)

[2022-08-19 10:48] digennarot opened #23594 "Cannot get aks credentials with azure-cli 2.39.0"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2022-08-19 10:48] JereO-Nc commented on #23453
HI, what about if i want to delete the user across multiple  VMs in different subscriptions, the az cli, 'az vm user delete' allows you to provide ids for all the VMs irrespective of subscription. Also the workaround doesnt address the issue which is why the cmd isnt working. ANy ideas on how to resolve? Thanks

[2022-08-19 11:02] JereO-Nc opened #23595 "Deleting a user is not supported on Windows VM"
**Related command**
az vm user delete --ids

**Describe the bug**
Hi, I am trying to delete a user across multiple VMs in different subscriptions, the az cli, 'az vm user delete' allows you to provide ids for all the VMs irrespective of subscription.  when i use the az vm user delete cmd, i get the error "**Deleting a user is not supported on Windows VM**".
However i noticed a workaround  on this

[2022-08-19 11:06] yonzhan commented on #23594
route to CXP team

[2022-08-19 11:08] yonzhan commented on #23595
@zhoxing-ms for awareness

[2022-08-19 11:25] Stolpe opened #23596 ""az webapp webjob triggered run" fails if WebJob is already running"
**Related command**

`az webapp webjob triggered run`

**Describe the bug**

Performing `az webapp webjob triggered run ...` to run a WebJob fails if the WebJob is already running, since the Azure API returns Http 409 Conflict. This is reasonable, but annoying for my use-case. As part of a deployment, I want to make sure that a specific WebJob is run as soon as possible. This WebJob is _also_ on a

[2022-08-19 11:30] yonzhan commented on #23596
route to CXP team

[2022-08-19 12:11] ravitellakula commented on #23561
@jiasli  - Thank you for the clarification. Our use case is indeed to leverage the Azure Login Github Action. If `--sdk-auth` is not recommended, what is the alternate way to use this Github Action?

Unfortunately, our organization needs elevated privilege(s) to execute the `az ad sp create-for-rbac` command. Anyways, I think the option for me is to manually construct the `json` to leverage in Git

[2022-08-19 12:39] eymizrac commented on #23492
***@***.*** ***@***.***>
They have completed the Swagger spec and we are waiting for VMSS team since yesterday to approve it

Thanks!
Eyal

From: Xing Zhou ***@***.***>
Sent: Friday, August 19, 2022 12:46 AM
To: Azure/azure-cli ***@***.***>
Cc: Eyal Mizrachi ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] Support NVMe flag (Issue #23492)

@eymizrac<https://nam06.safelinks.protect

[2022-08-19 12:45] jeevanions commented on #21684
@yonzhan Any update on this issue? Is there a workaround?

[2022-08-19 13:15] alisharepoint opened #23598 "Getting error when deploying Azure Function Code through Zip deploy on Linux Consumption Plan"
### **I'm getting below error when deploying Azure Function Code through Zip deploy on Linux Consumption Plan, deploying the same on Windows Consumption Plan working fine. Please help**

## Getting command failed with an unexpected error

**Command Name**
`az functionapp deployment source config-zip`

**Command Example**
`az functionapp deployment source config-zip --resource-group RtoElDev --name

[2022-08-19 13:17] sycured commented on #23581
@RakeshMohanMSFT  Thank you but it's not as expected…
Tell me why it's not affecting all values with `"@Microsoft.KeyVault(VaultName=xxxx; SecretName=xxxxx)"` ?

Also, it's not about Azure DevOps but Azure CLI for Azure Portal (resources and in this case App Services - Web App)

I've a script dumping the config of all our web app and storing them in a versioned system and automatically triggering

[2022-08-19 14:33] VSE-ops opened #23599 "Error while running: az appconfig show-deleted"
Hello!
I found out that one of azure cli comand for appconfig is not working and throwing error that this key is misspelled.
az appconfig show-deleted
https://docs.microsoft.com/en-us/cli/azure/appconfig?view=azure-cli-latest#az-appconfig-show-deleted

`az appconfig show-deleted -n <AppConfig name>`
`'show-deleted' is misspelled or not recognized by the system.`

[Enter feedback here]

---
#### Do

[2022-08-19 15:00] suresh8771 commented on #20911
thanks for the support the issue is resolved. 
    On Friday, 19 August, 2022 at 07:32:21 pm IST, msftbot[bot] ***@***.***> wrote:

Hi, we're sending this friendly reminder because we haven't heard back from you in a while. We need more information about this issue to help address it. Please be sure to give us your input within the next 7 days. If we don't hear back from you within 14 days of this

[2022-08-19 15:02] suresh8771 commented on #20911
@jiasli thanks  it solved my issue.

[2022-08-19 15:02] #20911 closed

[2022-08-19 15:03] #23582 closed

[2022-08-19 15:14] sycured commented on #23581
I tried Azure SDK for Python and it's working as expected returning the value for all environment variables with KeyVault reference so having `"value": "@Microsoft.KeyVault(VaultName=xxxxxxxxxxx;SecretName=xxxxxxxx)"`

My code to test it:

[code]

**The real problem is Azure CLI replacing it with null**

[2022-08-19 15:21] RakeshMohanMSFT commented on #23581
@sycured I do see masking logic in the code, but let me discuss internally and get back to you.

[2022-08-19 16:02] yonzhan commented on #23598
route to CXP team

[2022-08-19 16:04] yonzhan commented on #23599
route to CXP team

[2022-08-19 17:23] RakeshMohanMSFT commented on #23577
@jakub-i Can you share debug trace with us please?

[2022-08-19 18:06] eslerm opened #23600 "inconsistent use of endpoint_baseurl and endpoint_base_url"
[code]

[2022-08-19 18:59] dem108 commented on #23496
Hello @bachlean, thanks for your feedback. Sorry for the confusion, we had chosen to use `create` only for new endpoints/deployments, and we're guiding to use `update` for existing ones. Intent of using `create` is to have complete set of information needed to create one (using YAML), so that this YAML can be used as the single file representing the endpoint/deployment. This way you can fully leve

[2022-08-19 20:00] albernhagen commented on #23398
I'm facing this same exact issue.  Any update from the Microsoft team?

[2022-08-19 22:50] MadhuraBharadwaj-MSFT opened #23603 "Include option for PowerShell in az functionapp config set"
Per the documentation, seems like it is currently not possible to set Function App **PowerShell** version using **az functionapp config set**. There are options for java, php, python, but not for  PS.

![image](https://user-images.githubusercontent.com/108835427/185716613-ac323b97-15f0-4b69-bf83-a032536ac1ab.png)

Please add a parameter for PowerShell under az functionapp config set.

---
#### Doc

[2022-08-19 22:51] MadhuraBharadwaj-MSFT commented on #23603
cc @Francisco-Gamino , @AnatoliB

[2022-08-19 23:20] mbachmakov opened #23604 "az network asg create throws an error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network asg create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network asg create --resource-group {} --name {}`

## Expected

[2022-08-20 00:01] panchagnula commented on #23389
Thanks for reviewing & sign-off on PR as well @madsd

[2022-08-20 00:05] yonzhan commented on #23600
@jiasli for awareness

[2022-08-20 00:08] yonzhan commented on #23603
route to CXP team

[2022-08-20 00:09] yonzhan commented on #23604
network

[2022-08-20 00:52] eslerm commented on #23600
Also:
[code]

[2022-08-20 02:45] sntgchns commented on #4843
works for me, but using Windows 11 with Docker Desktop, should remove `"credsStore": "desktop"` instead `"credsStore": "wincred"`. Thankyou!

[2022-08-20 10:16] zhoxing-ms commented on #23595
Same as [#23453](https://github.com/Azure/azure-cli/issues/23453#issuecomment-1207589188)

[2022-08-20 12:41] RakeshMohanMSFT commented on #23454
@jtravell Can you try to run the command once again and let us know if it works now or otherwise?

[2022-08-20 17:20] aamad777 opened #23605 "Deleting user from VM, unsupported"
### Related command

_No response_

### Resource Provider

Azure

### Description of Feature or Work Requested

Deleting user from VM, unsupported in cli

### Minimum API Version Required

1

### Swagger PR link

azure

### Request Example

_No response_

### Target Date

2022

### Additional context

_No response_

[2022-08-20 17:21] aamad777 opened #23606 "Remove Microsft team meeting ID for the user"
**Related command**

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-08-20 18:08] arindam0310018 commented on #23566
Hello Team,
Is there any update? Can you please let me know when time permits.

Many Thanks
Regards, Arindam Mitra

[2022-08-21 01:13] yonzhan commented on #23606
Please provide detailed CLI command and error log if any.

[2022-08-21 01:14] yonzhan commented on #23605
@zhoxing-ms for awareness

[2022-08-21 06:48] aamad777 commented on #23453
not working for domain user

[2022-08-21 14:49] phegde127 commented on #23521
Hi

I am getting below error while deploying ML model using Azure ACI in Azure DevOps. This looks similar to the once posted above. Any advice to resolve this error would be much appreciated.

2022-08-21T14:18:28.8019137Z ERROR: {'Azure-cli-ml Version': '1.41.0', 'Error': WebserviceException:
2022-08-21T14:18:28.8021344Z 	Message: Service deployment polling reached non-successful terminal state, c

[2022-08-21 16:10] israrkhan commented on #23521
Quite sure this not related. Your issue seems to be related to building of environment rather than SSL certa being invalid.

[2022-08-21 16:22] necusjz commented on #23604
It will be fixed in Azure CLI 2.40.0

[2022-08-21 22:34] phegde127 opened #23608 "ERROR: {'Azure-cli-ml Version': '1.41.0', 'Error': WebserviceException:"
Hi

I am getting below error while deploying ML model using Azure ACI in Azure DevOps. Any advice to resolve this error would be much appreciated.

2022-08-21T21:50:02.6641204Z ERROR: {'Azure-cli-ml Version': '1.41.0', 'Error': WebserviceException:
2022-08-21T21:50:02.6642245Z 	Message: Service deployment polling reached non-successful terminal state, current service state: Failed
2022-08-21T21:50

[2022-08-21 23:50] yonzhan commented on #23608
route to CXP team

[2022-08-22 01:43] zhoxing-ms commented on #23605
Same as https://github.com/Azure/azure-cli/issues/23453#issuecomment-1207589188

[2022-08-22 01:56] zhoxing-ms commented on #23605
@grizzlytheodore Could you please help confirm whether the REST [virtual-machine-extensions/update](https://docs.microsoft.com/en-us/rest/api/compute/virtual-machine-extensions/update?tabs=HTTP) can support deleting users for Windows VM or does the service team have relevant plan?

[2022-08-22 02:18] #23605 closed

[2022-08-22 02:25] jiasli commented on #23566
Please see https://github.com/Azure/azure-cli/issues/21195#issuecomment-1205007225.

[2022-08-22 02:25] #23566 closed

[2022-08-22 02:28] #21195 closed

[2022-08-22 02:45] navba-MSFT commented on #23563
@kpconnell Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-22 02:50] cbradshaw-nz opened #23610 "App Registration - App-Roles not updated when array with single app role is provided."
## Describe the bug

When updating an app registration trying to add an App Role providing a single app role in a json array file the command succeeds. but no app role is created in the App Reg Manifest. Providing two app roles in the array updates successfully.

**Command Name**
`az ad app update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values hav

[2022-08-22 03:39] yonzhan commented on #23610
@jiasli for awareness

[2022-08-22 03:51] jtravell commented on #23454
@RakeshMohan-MSFT    Running the command now results in a latency problem of perhaps 5 to 10 seconds which did nor exist several weeks ago when this command worked before a Microsoft deployment introduced the **BUG** into your software.

With that said, the command does now seem to return the value of the image, even though the value is returned 5 to 10 seconds after it is requested each time.

Wh

[2022-08-22 04:23] navba-MSFT commented on #23500
@jastill I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-08-22 04:39] navba-MSFT commented on #23517
@ragemnky @Grant-Rc I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any update on this. Awaiting your reply.

[2022-08-22 04:44] RakeshMohanMSFT commented on #23454
@jtravell Thank you for confirming that you could get the result. It seems like a caching/replication problem. Latency could be an intermittent problem. But will check and confirm.

[2022-08-22 04:44] navba-MSFT commented on #23535
@ramesheducation The action is currently pending on you to test the above action plan. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-08-22 04:44] #23535 closed

[2022-08-22 04:49] navba-MSFT commented on #23541
@kkantedi I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you  had any update on this. Awaiting your reply.

[2022-08-22 04:51] navba-MSFT commented on #23550
@ricardo2009 The action is currently pending on you to update your `aks-preview `extension and check if that fixes this issue.. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-08-22 04:51] #23550 closed

[2022-08-22 04:54] KaiWalter opened #23612 "Misleading explanation on az keyvault create --enable-purge-protection"
Please look at explanation of `--enable-purge-protection` - for me it seems contradictory

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 226e5769-f6c8-a480-db78-727fb96348ec
* Version Independent ID: 8ee06a2a-6eda-11be-3c8e-6ad948be207e
* Content: [az keyvault](https://docs.microsoft.com/en-us/cli/azure/keyvault?view=a

[2022-08-22 04:59] jago2136 opened #23613 "Azure Virtual Network Manager CLI extension."
**Related command**

az network manager group create
az network manager post-commit
az network manager connection management-group {all actions}

**Is your feature request related to a problem? Please describe.**

I've discussed with Taoxu Zeng the commands that were missed/critical bugs that slipped through in the last release for network-manager azure CLI extension. A brief summary is described

[2022-08-22 05:09] jiasli commented on #23610
I cannot reproduce:

[code]

`D:\test\app-roles.json` contains:

[code]

Could you share the `--debug` output of `az ad app update`?

[2022-08-22 05:17] cbradshaw-nz commented on #23610
@jiasli here you go

Worth noting I'm not loading it directly from a file, it's a Json string.

[code]

[2022-08-22 05:21] jiasli commented on #23610
Looks like you didn't surround the app role with square brackets:
[code]

Could your surround it with `[]` and try again?

[2022-08-22 05:36] cbradshaw-nz commented on #23610
*wants to crawl into a hole and die*

Yeah dynamic typing in Powershell got me - two entries makes it an array..

[2022-08-22 05:36] #23610 closed

[2022-08-22 05:56] navba-MSFT commented on #23563
@kpconnell Sharing a few action plans here to isolate this issue:

- Do you have a proxy / firewall within your network ? If yes, could you bypass it and check if you see the same issue ?

- Could you please try running the same command from another network which is faster and more reliable ?

- Did you try to run the same command from the [Azure Cloud Shell ](https://docs.microsoft.com/en-us/cli/

[2022-08-22 05:58] yonzhan commented on #23612
@evelyn-ys for awareness

[2022-08-22 06:00] yonzhan commented on #23613
network

[2022-08-22 06:34] evelyn-ys commented on #23612
This description comes from service swagger: https://github.com/Azure/azure-rest-api-specs/blob/81cd88a080c4bf4bb251afbe62892a6e220cb2b4/specification/keyvault/resource-manager/Microsoft.KeyVault/preview/2021-06-01-preview/keyvault.json#L1282

Need keyvault service team to take a look

[2022-08-22 06:44] AjKundnani commented on #23450
@zhoxing-ms - No it does not need to support `--disable-integrity-monitoring`. When SecureBoot and vTPM are set to true, Integrity monitoring should also be enabled by default.

In the request #23476? we've SecureBoot disabled hence Integrity monitoring is disabled as well.

[2022-08-22 06:46] likebupt commented on #23406
Hi @MarkusDressel ,

This is Blanca, a PM working on AzureML pipelines. Thanks a lot for your feedback at first.
We would appreciate if we could set up a meeting to collect your feedback. Your inputs are invaluable to us and will help us improve the whole AzureML v2 experience.
Could you please kindly let me know what time works for you? My email is keli19@microsoft.com
Thanks!

[2022-08-22 06:47] #23409 closed

[2022-08-22 06:49] aamad777 commented on #23605
why you close it?

[2022-08-22 06:50] AjKundnani opened #23614 "CLI | Trusted Launch Default - New Az VM OS Disk"
### Related command

- [az disk create --name 'diskname' -g 'diskrgname'](https://docs.microsoft.com/en-us/cli/azure/disk?view=azure-cli-latest#az-disk-create)

### Resource Provider

Microsoft.Compute/disks

### Description of Feature or Work Requested

# Trusted Launch as Default

As part of making compute layer secure for customers to deploy workloads, request is to make [Trusted Launch](https:

[2022-08-22 06:54] yonzhan commented on #23605
We can track the same one https://github.com/Azure/azure-cli/issues/23453#issuecomment-1207589188

[2022-08-22 06:56] dvasdekis commented on #16071
Docs are also incorrect as [docs state](https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest)
[code]
But obviously `--auth-mode login` doesn't work in the case of `az storage account sync` (as compared to [az storage blob copy](https://docs.microsoft.com/en-us/cli/azure/storage/blob/copy?view=azure-cli-latest))

[2022-08-22 06:56] aamad777 commented on #23605
@yonzhan  #23453 is closed already too

[2022-08-22 06:57] aamad777 opened #23615 "Ability to disable teams meeting ID and passcode feature for all user"
Ability to disable teams meeting ID and passcode feature for all user

[2022-08-22 07:00] yonzhan commented on #23614
Compute

[2022-08-22 07:06] zhoxing-ms commented on #23450
@AjKundnani Got it, thanks~ By the way, may I ask why sets `--enable-secure-boot` as `False` in https://github.com/Azure/azure-cli/issues/23476 ?

[2022-08-22 07:13] jakub-i commented on #23577
I get following stack trace when running the command with the --debug option:

`ack.cli: Command arguments: ['sql', 'db', 'ltr-backup', 'restore', '--backup-id', '/subscriptions/<SUBSCRIPTION_ID>/resourceGroups/<RES_GROUP_NAME>/providers/Microsoft.Sql/locations/westeurope/longTermRetentionServers/sql-mssql-template-test-singlet/longTermRetentionDatabases/sqldb-mssql-template-test-singlet/longTermR

[2022-08-22 07:15] AjKundnani commented on #23450
@zhoxing-ms - Existing disk or image OS can be deployed in a way which doesnt supports SecureBoot and if API enables SecureBoot for un-supported OS, the VM will not boot up. To avoid these broken boot process, requested to keep it disabled for existing disks and images.

[2022-08-22 08:22] JereO-Nc commented on #23595
@yonzhan can i ask why this was closed. I havent gotten a response on my issue.

[2022-08-22 08:23] piizei opened #23617 "--resource-group for storage container is deprecated"
--resource-group for creating storage container is deprecated and should be removed from the documentation.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adcba5ed-e693-6345-2c1b-c17422d7b8f9
* Version Independent ID: 58297400-b777-6868-1687-0af3a512a16f
* Content: [az storage container](https://docs.microsoft.com/en-u

[2022-08-22 08:27] JereO-Nc commented on #23595
@zhoxing-ms this issue isnt quite the same as https://github.com/Azure/azure-cli/issues/23453#issuecomment-1207589188 , seeing as the workaround there resolved his issue because it only addresses deleting a user on VMs in the same resourcegroup,the Pwshell cmdlet does not do the same for my usecase where i am trying to delete a user across multiple vms in multiple subscriptions.

[2022-08-22 08:35] JereO-Nc commented on #23453
@navba-MSFT i raised a similar issue and it got closed, without a response. Your solution doesn't cover the use-case where i am trying to delete a user across multiple vms in didfferent subscriptions. can you kindly recommend a way forward, why does the az vm user --ids state that it can do that when the error states otherwise. Also @zhoxing-ms and @yonzhan where should this issue be addressed, se

[2022-08-22 08:59] dabenhamMic opened #23618 "[OperationalInsights] Workspaces eTag is invalid name, should be renamed -> etag"
**Related command**

az monitor log-analytics workspace show --resource-group MyResourceGroup --workspace-name MyWorkspace

**Describe the bug**

Workspaces eTag is an invalid name, should be renamed -> etag

**To Reproduce**

Perform get workspace:
 az monitor log-analytics workspace show --resource-group MyResourceGroup --workspace-name MyWorkspace
the response shouldn't contain "eTag" property,

[2022-08-22 09:29] yonzhan commented on #23615
Please provide detailed CLI commands you would like to support

[2022-08-22 09:33] yonzhan commented on #23617
@evelyn-ys for awareness

[2022-08-22 09:33] c240amg commented on #20168
The above works for me.
Issue in my case was caused by a tenancy migration

[2022-08-22 09:35] yonzhan commented on #23618
monitor

[2022-08-22 10:06] zhoxing-ms commented on #23595
This problem was by designed on CLI side [code link](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/vm/custom.py#L2894). We need the Compute team to confirm whether the current Windows VM supports deleting the user

@grizzlytheodore Could you please help confirm whether the REST [virtual-machine-extensions/update](https://docs.microsoft.com/en-us/rest/api/compu

[2022-08-22 10:07] zhoxing-ms commented on #23605
I reopened a similar issue. Please see if it is the same as this issue #23595

[2022-08-22 10:59] kalkin commented on #14768
`DOCKER_HOST=unix:///run/user/1000/podman/podman.sock az acr login --name acrrss`

[2022-08-22 11:19] ahmedbahaa93 opened #23622 "can`t login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login -u {} -p {}`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-08-22 11:40] alisharepoint commented on #23598
Any update on the issue?

[2022-08-22 11:41] alisharepoint commented on #23598
Any update on this issue ?

[2022-08-22 11:44] yonzhan commented on #23622
Duplicate of https://github.com/Azure/azure-cli/issues/20221

[2022-08-22 11:44] #23622 closed

[2022-08-22 11:48] ahmedbahaa93 opened #23623 "login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login -u {} -p {}`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-08-22 11:51] ahmedbahaa93 opened #23624 "error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login -u {} -p {}`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-08-22 12:23] yonzhan commented on #23623
Duplicate of https://github.com/Azure/azure-cli/issues/20221

[2022-08-22 12:23] #23623 closed

[2022-08-22 12:25] yonzhan commented on #23624
Duplicate of https://github.com/Azure/azure-cli/issues/20221

[2022-08-22 12:25] #23624 closed

[2022-08-22 13:11] RakeshMohanMSFT commented on #23598
@alisharepoint I unable to reproduce this issue

az functionapp deployment source config-zip -g Issue23598 -n issue23598function --src "C:\CXP\Issues\Samples\FunctionApp\githubzip\githubzip\githubzip.zip"
Getting scm site credentials for zip deployment
Starting zip deployment. This operation can take a while to complete ...
Deployment endpoint responded with status code 202
{
  "active": true,
  "

[2022-08-22 13:16] #17201 closed

[2022-08-22 13:16] RakeshMohanMSFT commented on #17201
@atanas-mavrov Please reopen if you need any assistance here.

[2022-08-22 13:18] RakeshMohanMSFT commented on #22881
@matkosoric Apologies for the delay in responding to your request. Can you please help us with the ARM template you are using for this scenario?

[2022-08-22 13:19] JereO-Nc commented on #23595
@zhoxing-ms thanks for the feedback.looking forward to the response.

[2022-08-22 14:15] matkosoric commented on #22881
Unfortunately, I can not share ARM templates, but **ArmTemplateParameters_master.json** can start something like this:

[code]

[2022-08-22 15:20] alisharepoint commented on #23598
@RakeshMohanMSFT

Now when I run zip deployment command I'm getting uploading 100% below is the detailed outpout:

E:\>az functionapp deployment source config-zip --resource-group RtoElDev --name rtoelinuxfunc --src "E:\ziptestfunc.zip"
←[K - Uploading ============================== 100.0% ..
E:\>

![image](https://user-images.githubusercontent.com/111578920/185957613-765830cc-13b1-46db-b46a-5c44f

[2022-08-22 15:26] RakeshMohanMSFT commented on #23598
@alisharepoint Please share the debug trace with us for further troubleshooting please

[2022-08-22 15:58] alisharepoint commented on #23598
@RakeshMohanMSFT

Where can I find the debug trace ?

[2022-08-22 16:01] RakeshMohanMSFT commented on #23598
@alisharepoint along with your comment use --debug

[2022-08-22 16:07] alexszym commented on #23348
Thanks @kevinzz6, anything more on that issue?

[2022-08-22 17:19] alisharepoint commented on #23598
@RakeshMohanMSFT

Can you please copy the required info from the log that you needed and paste in the comment, so I will edit my comment and remove the unnecessary parts.

Thanks

[2022-08-22 17:25] alisharepoint commented on #23598
@RakeshMohanMSFT

Are you able to trace what's the issue with the help of debug trace ?

[2022-08-22 19:24] SaurabhSharma-MSFT commented on #23441
@avnishsinghhh Fail activity related fix will be mostly rolled out in the month of October. For now, please call REST API to get correct activity type would be the workaround.

[2022-08-22 19:36] AndrewCS149 commented on #23552
Thanks @Jacekey23! I've submitted the form.

[2022-08-22 19:41] apar-singhal opened #23625 "Using the --ids flag in 'az vm run-command invoke' always runs a dummy script"
I need to start the docker desktop application through the command line. I am running the command:
`az vm run-command invoke --name <vm-name> --resource-group <resource-group-name> --subscription <subscription-id> --command-id RunPowerShellScript --scripts "Start-Process 'C:\\Program Files\\Docker\\Docker\\Docker Desktop.exe'"`
but gives does not work due to "Access Denied".

I am able to run the

[2022-08-22 19:49] celluj34 opened #23626 "`az repos pr show` not including tags/labels"
**Related command**
`az repos pr show --id 2582 --detect true`

**Describe the bug**
Tags (or, as they are defined in the documentation, Labels) are not being returned in the above command. They are being returned from the REST api at `.../_apis/git/repositories/<repository>/pullRequests/<pr id>/labels`

**To Reproduce**
1. Create a pull request in Azure DevOps
2. Add a tag. The specific text does

[2022-08-22 19:54] celluj34 opened #23627 "Add subcommand for `az repos pr` to list/add/delete tags"
**Related command**
`az repos pr`

**Is your feature request related to a problem? Please describe.**
I want to use the az cli in my CI/CD pipeline to read tags, but I have to use the REST api instead. It would be great if I could read the tags directly

**Describe the solution you'd like**
`az repos pr tags <command> --id 2582 --detect true`, where `command` is list, add, and delete, and (for add

[2022-08-22 19:59] armenmelkonyan90 opened #23628 "cant create resources with terraform"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --resource {} --subscription {}

[2022-08-22 20:03] Grant-Rc commented on #23517
@navali-msft our Network Team have found a way to URL whitelist these 2 address and so far I have been successful in my deployment. waiting on @ragemnky to get back and check for me but im happy for this to be closed but this is not my ticket.

[2022-08-22 20:16] AzySir commented on #23191
@RakeshMohanMSFT there is still no update in the documentation?

I've passed this issue since - but I have a feeling that method did not work...

<img width="638" alt="Screenshot 2022-08-22 at 9 16 27 pm" src="https://user-images.githubusercontent.com/37623164/186010956-be216492-6a0c-4ca1-9292-0547da4ee842.png">

[2022-08-22 20:58] grizzlytheodore commented on #23595
this is a question for CRP team specifically someone who works in extensions. I can refer manuj bhardwaj, but I cannot find his github. I will share him this thread via email

[2022-08-22 21:20] grizzlytheodore commented on #23595
turns out Manuj does not work with VM Ex. I forwarded email to correct team.

[2022-08-22 23:08] yonzhan commented on #23625
@zhoxing-ms for awareness

[2022-08-22 23:09] yonzhan commented on #23626
route to CXP team

[2022-08-22 23:11] yonzhan commented on #23627
route to CXP team

[2022-08-22 23:32] lam-man opened #23629 "Command `az aks enabled-addons` failed"
## Describe the bug

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- Please follow the steps in this doc: https://docs.microsoft.com/en-us/azure/aks/web-app-routing#import-certificate-to-azure-keyvault
- `

[2022-08-22 23:34] yonzhan commented on #23629
route to CXP team

[2022-08-23 02:33] HarryUlysses opened #23631 "--main-class-name seems a mandatory parameter when submitting the spark job. However, it is mentioned in Optional Parameters"
[Enter feedback here]
For submitting spark job, --main-class-name seems a mandatory parameter. Otherwise, it will return the error.

However, it is in the Optional Parameters as below. I thinks it is incorrect and misunderstanding. Please verify it.
https://docs.microsoft.com/en-us/cli/azure/synapse/spark/job?view=azure-cli-latest#az-synapse-spark-job-submit
![image](https://user-images.githubuser

[2022-08-23 02:59] #23101 closed

[2022-08-23 03:00] zhoxing-ms commented on #23625
@apar-singhal Could you please send me the debug log (Add --debug parameter) by email? My email address is [Zhou.Xing@microsoft.com](mailto:Zhou.Xing@microsoft.com), thanks~

[2022-08-23 03:07] navba-MSFT commented on #23629
@lam-man Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-23 03:10] navba-MSFT commented on #23579
Adding Service team to look into this ask.

@wonner @zesluo Could you please look into this and provide an update ?

[2022-08-23 03:38] zhoxing-ms commented on #23595
@nkuchta As you mentioned in the email thread: `The Windows version of VM Access doesn't support deleting a user account`. May I ask if service team has any plans to support it in the future?

[2022-08-23 04:03] yonzhan commented on #23631
route to CXP team

[2022-08-23 05:12] navba-MSFT commented on #23517
@Grant-Rc Thanks for getting back.

@ragemnky Please feel free to reopen this issue if you have any follow-up questions or need any further assistance on this. We would be happy to help.

[2022-08-23 05:12] #23517 closed

[2022-08-23 05:36] navba-MSFT commented on #23629
@lam-man I am unable to replicate this issue using the same version of aks-preview extension. The only difference was that I am using most recent version of Azure CLI.

I could see that you are using an older version of azure-cli 2.37.0 * . To isolate this issue, Could you please use the[ most recent version of AzCLI ](https://docs.microsoft.com/en-us/cli/azure/update-azure-cli)and test again ?

T

[2022-08-23 05:57] p9139010 commented on #23282
Hi, have similar problem but not connecting into Azure but couldn't update the extension or upgrade. Can anyone suggest.

Unable to get extension index.
Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='aka.ms', port=443): Max retries exceeded with url: /azure-cli-extension-index-v1 (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VERIFY_FAILED] c

[2022-08-23 06:40] lam-man commented on #23629
Hi @navba-MSFT

Thank you very much. You are correct. After upgrading the `az` module, the problem got resolved. I think a reminder might be able to help others in the document here:  https://docs.microsoft.com/en-us/azure/aks/web-app-routing#import-certificate-to-azure-keyvault .

Thanks again for help.

[2022-08-23 06:43] navba-MSFT commented on #23629
@lam-man Thanks for getting back. I am glad that the issue is resolved. More details about the fix is explained [here](https://docs.microsoft.com/en-us/cli/azure/aks/addon?view=azure-cli-latest#az-aks-addon-enable). We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-08-23 06:43] #23629 closed

[2022-08-23 06:46] navba-MSFT commented on #23627
@celluj34 Adding Service team for devops issues.

@v-anvashist, @V-hmusukula. Could you please look into this and provide an update ?

[2022-08-23 06:54] navba-MSFT commented on #23626
Adding Service attention label to devops issues.

@v-anvashist, @V-hmusukula. Could you please look into this and provide an update ?

[2022-08-23 06:56] navba-MSFT commented on #23606
@aamad777 Thanks for reaching out to us. Could you please elaborate your ask ? Also wanted to confirm if your concern is anyway related to Azure CLI ?

[2022-08-23 07:45] mckenzm opened #23634 "az webapp download fail"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

az login -tenant xxxxxxxxxxxxxxxxx  OK

**Download zip from streaming (preview) under App Service on Portal was OK after allowing IP  as a workaround.**

**Command Name**
`az webapp log download`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted

[2022-08-23 07:59] #23613 closed

[2022-08-23 08:07] kairu-ms commented on #23618
The response property name is invalid from service API.

[2022-08-23 08:46] ziyeqf opened #23636 "doc: duplicate blocks"
There are two same blocks in the doc.
https://github.com/MicrosoftDocs/azure-docs-cli/blob/main/latest/docs-ref-autogen/sig/image-definition.yml#L152
and
https://github.com/MicrosoftDocs/azure-docs-cli/blob/main/latest/docs-ref-autogen/sig/image-definition.yml#L163

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c1ea8a2

[2022-08-23 09:49] zhoxing-ms commented on #23625
@apar-singhal In fact, I guess you should first get the `name`  from the return result of command `az vm run-command create`, and then pass it to the `--command-id` parameter of command `az vm run-command invoke`
Because the `--ids` parameter of the `az vm run-command invoke` command is used to pass in the VM resource ID, and if the `--command-id` parameter is passed in another new name without sp

[2022-08-23 10:54] ruudhanegraaf commented on #21021
@datadeveloper1: Hi datadeveloper1.
We're also intending to use the Azure CLI on AIX. Did you get it working, or did you encounter any problems?

[2022-08-23 11:12] yonzhan commented on #23634
route to CXP team

[2022-08-23 11:27] yonzhan commented on #23636
@zhoxing-ms for awareness

[2022-08-23 11:39] awentzel commented on #6463
What's the ETA on this?

[2022-08-23 12:16] yrro opened #23639 "vnet peering create --allow-vnet-access help text wrong"
**Related command**
`az network vnet peering create`

**Describe the bug**
The description for `allow-forwarded-traffic` reads:

It seems that local and remote are the wrong way around in this text.

In the portal, the option text is "Traffic forwarded from remote virtual network" which can be set to allow/block. The help popup reads

Where VNET-LOCAL is the vnet whose peering I am editing, and VN

[2022-08-23 12:41] navba-MSFT commented on #23595
@JereO-Nc I hope you had a chance to look at the above comment from our Compute Service team. `The Windows version of VM Access doesn't support deleting a user account`.

I have developed a [sample PS script ](https://github.com/Azure-Samples/Azure-CXP-Developer-Support/blob/main/VirtualMachine/Powershell/PSAzVMRemoveUser.ps1) as a workaround to achieve your requirement. You can modify it to serve

[2022-08-23 12:52] avnishsinghhh commented on #23441
Hi Saurabh,

I am already using REST API as a workaround for this and it works perfectly fine.

Thank You.

[2022-08-23 12:52] #23441 closed

[2022-08-23 14:03] ricardo2009 commented on #23550
What would be the procedure to install aks-preview ?

[2022-08-23 14:18] SamaRamya opened #23640 "'str' object has no attribute 'get'"
**Related command**
az deployment group create \
              --name "TestDeployment" \
              --resource-group "rg-11912-d-001" \
              --template-uri "https://github.intra.fcagroup.com/raw/FCA-ICT/smdn-cdp-adl-etl-11912/t0007el-patch-1/arm_template.json?token=GHSAT0AAAAAAAAAC5MBJRLM35JB7T2ULIXGYYN2KWA"
              --parameters "factoryName=df-11912-d-001"

**Describe the bug**

[2022-08-23 14:25] yonzhan commented on #23640
@zhoxing-ms for awareness

[2022-08-23 14:27] yonzhan commented on #23639
@necusjz for awareness

[2022-08-23 14:57] whitelancer opened #23641 "__init__() got an unexpected keyword argument 'user_agent'"
## Describe the bug

Running a simple `az login` has started to kick back with the following error.  I am running the same version as I have been for weeks now without updates.
[code]
[code]

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requ

[2022-08-23 15:12] jiasli commented on #23628
`2.0.81` is not the official Azure CLI. See https://github.com/Azure/azure-cli/issues/19640

Please install the official one and try again. It will prompt you how to do interactive re-auth with `--scope`.

[2022-08-23 15:17] jiasli commented on #23580
Duplicate of #7054

This is well documented at https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively?tabs=bash%2Cbash2#use-hyphen-characters-in-parameters

[2022-08-23 15:17] #23580 closed

[2022-08-23 15:27] jiasli commented on #23533
`--web-redirect-uris` only supports space-separated values:

https://github.com/Azure/azure-cli/blob/3e26929f7669c504a5720e7f63c4be729534d52e/src/azure-cli/azure/cli/command_modules/role/_params.py#L57-L60

[code]

@martinellimakes, please share your full command and result. Thanks.

[2022-08-23 15:27] jiasli commented on #23533
@Jasonlhy, your error seems to be from the shell. Which shell you are using and could you share a screenshot?

[2022-08-23 15:32] #23498 closed

[2022-08-23 15:35] jiasli commented on #23497
Duplicate of https://github.com/Azure/azure-cli/issues/20278

[2022-08-23 15:35] #23497 closed

[2022-08-23 15:39] prakashmsft opened #23642 "AZ LOGIN Concurrency"
**Related command**

az login

**Describe the bug**

Concurrently calling az login from a bash script that deploys multiple resources throws log in error.

**To Reproduce**

Here is a sample script that checks for login:
Call the following code multiple times for different deployments

# Login to Azure
checkResult=$(az account show)
environmentName=$(echo $checkResult | jq -r .environmentName)

#

[2022-08-23 15:42] jiasli commented on #23266
Actually, Mariner 1.0 is almost deprecated. Please kindly update to Mariner 2.0 and install corresponding Azure CLI package.

[2022-08-23 18:04] shaikmoeed opened #23643 "azure cli acr: Operation returned an invalid status 'Conflict'. Not able to create task"
## Describe the bug

**Command Name**
`az acr task create`

**Errors:**
[code]

**Full message:**

[code]
**Note:** My token has all the permissions.

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create an internal repo in the GitHub enterprise account
- Build a  base image using `az acr build --regist

[2022-08-23 18:23] etiennehucklemarchand opened #23644 "Notification Hub - Can't update Google API key"
**Issue**
We're using an Azure CLI script to update the Google API key of this Notification Hub. However, `az notification-hub credential gcm update` started randomly "failing". This Azure CLI command doesn't seem to have a timeout; it just spins forever.

`az notification-hub credential gcm update --resource-group $resourceGroup --notification-hub-name $notificationHub --namespace-name $hubNamesp

[2022-08-23 19:22] rivir opened #23645 "can't export dns zone"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network dns zone export`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network dns zone export -g {} -n {} -f {}`

## Expected Be

[2022-08-23 20:43] rahuls-microsoft commented on #22564
That's correct, the doc for QuotaRP will include what RPs are onboarded and will be updated, when new RPs are onboarded.

[2022-08-23 20:45] rahuls-microsoft commented on #22564
Now Compute RP is available. It can only be used by the subscriptions registered with QuotaRP.

[2022-08-23 21:47] jennyhunter-msft commented on #23398
FYI - @alex-frankel

[2022-08-23 22:08] alex-frankel commented on #23398
This is an idempotency issue with the resource provider. @yonzhan -- what is the right way to involve the Networking Resource Provider to look into this?

[2022-08-24 00:43] yonzhan commented on #23641
@jiasli for awareness

[2022-08-24 00:49] yonzhan commented on #23642
@jiasli for awareness

[2022-08-24 00:54] yonzhan commented on #23643
route to CXP team

[2022-08-24 00:54] yonzhan commented on #23644
route to CXP team

[2022-08-24 00:56] yonzhan commented on #23645
@necusjz for awareness

[2022-08-24 00:57] wangzelin007 commented on #23628
@jiasli,
May I ask is there a command to tell if the installed Azure CLI is official?

[2022-08-24 01:45] evelyn-ys commented on #23369
Need storage service team debug. The requestId is given: `RequestId:73c3cbc3-301a-0051-678b-a2016a000000`

[2022-08-24 01:48] bebound commented on #23641
Duplicate of https://github.com/Azure/azure-cli/issues/21189

[2022-08-24 01:48] #23641 closed

[2022-08-24 01:50] evelyn-ys commented on #23285
Can you share which auth do you use? Have you specified the correct `--account-name` and `--account-key`?

[2022-08-24 02:14] prakashmsft commented on #23642
Thanks! Adding account team for awareness.

Thanks,
Prakash

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Yong Zhang ***@***.***>
Sent: Tuesday, August 23, 2022 7:49:36 PM
To: Azure/azure-cli ***@***.***>
Cc: Prakash Patel ***@***.***>; Author ***@***.***>
Subject: Re: [Azure/azure-cli] AZ LOGIN Concurrency (Issue #23642)

@jiasli<https://nam06.safelinks.protec

[2022-08-24 03:08] jiasli commented on #23628
According to https://github.com/Azure/azure-cli/issues/19640, if Azure CLI version is 2.0.81 or 2.18.0, most likely it is unofficial Azure CLI.

[2022-08-24 03:09] jsntcy commented on #23604
Fixed in https://github.com/Azure/azure-cli/pull/23503

[2022-08-24 03:39] navba-MSFT commented on #23318
@sf-declanomalley We appreciate your patience on this. We have created a workitem to internally track this bug and fix it. We have no ETA on when this will be fixed. We will update you once the fix is released. Since the [above](https://github.com/Azure/azure-cli/issues/23318#issuecomment-1195413427) workaround is in place we will proceed with the archival of this thread. Feel free to get back to

[2022-08-24 03:39] #23318 closed

[2022-08-24 03:42] jiasli commented on #23522
`https://aka.ms/InstallAzureCli` from https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=script is for **interactive installation from PyPI**. Since you are using "Custom Script Extension", I think it doesn't have a TTY, so the error happens.

I guess previously you are installing with `https://aka.ms/InstallAzureCLIDeb` from https://docs.microsoft.com/en-us/cli/azure/instal

[2022-08-24 03:44] jiasli commented on #23399
Duplicate of https://github.com/Azure/azure-cli/issues/20507

[2022-08-24 03:46] jiasli commented on #23374
Duplicate of #23566

[2022-08-24 03:46] #23374 closed

[2022-08-24 03:51] jiasli commented on #23367
This is a known issue of Microsoft Graph service. We are internally working with Microsoft Graph team on it.

[2022-08-24 03:54] jiasli commented on #23376
Could you let us know how you installed Azure CLI and share the full call stack?

[2022-08-24 03:58] navba-MSFT commented on #23643
@shaikmoeed Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-24 03:59] navba-MSFT commented on #23644
Adding Service team to look into this ask.

@tjsomasundaram-zz Could you please look into this ask and provide an update ?

[2022-08-24 04:13] jiasli commented on #23221
Azure CLI is installed at `/opt/az`. This is by design.

By default, extensions are installed in `~/.azure/cliextensions`. However, your debug log shows extensions are installed in `/opt/az/extensions`.

Could you run `az config get` to see if you have `extension.dir` configured?

https://github.com/Azure/azure-cli/blob/ed6e829554624894d5c94ad71bb85e788d726a43/src/azure-cli-core/azure/cli/core/ext

[2022-08-24 04:28] shaikmoeed commented on #22921
@romanzdk  I was facing the similar issue, Is it got resolved? If yes, can you share here?

[2022-08-24 05:06] navba-MSFT commented on #23618
Thanks @kairu-ms

@dabenhamMic Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-24 05:25] zhoxing-ms commented on #23640
@SamaRamya Could you please send the debug log *(add `--debug` parameter)* and arm_template.json to me by email, my email address is Zhou.Xing@microsoft.com, thanks~

[2022-08-24 05:44] navba-MSFT commented on #23628
@armenmelkonyan90 Thanks for reaching out to us and reporting this issue. As mentioned in the above comment, please install the _[most recent version of official Azure CLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)_ and check if you are still facing this issue. Awaiting your reply.

[2022-08-24 05:52] navba-MSFT commented on #23634
@mckenzm Thanks for reaching out to us and reporting this issue. I am sharing a few action plans here to isolate this issue:

- Do you have a proxy / firewall within your network ? If yes, could you bypass it and check if you see the same issue ?

- Could you please try running the same command from another network which is faster and more reliable ?

- Did you try to run the same command from the

[2022-08-24 05:55] jiasli commented on #23320
This is because device code message is printed using `logger.warning` which is controlled by `core.only_show_errors` config option. If `core.only_show_errors` is set to `true`, device code message will be hidden.

I will refine this behavior in #23647.

[2022-08-24 06:04] #22724 closed

[2022-08-24 06:11] shaikmoeed commented on #23643
@navba-MSFT I was able to solve the issue. In our case we need to provide one more authentication to our github tokens. Thanks for your time :)

[2022-08-24 06:11] #23643 closed

[2022-08-24 06:35] zhoxing-ms commented on #23625
Currently, there may be some problems with the service:

I can find a runCommand named `zhoxing-test` under VM `zhoxing-test`
[code]

However, when I execute it, an error `The entity was not found in this Azure location.` occurred
[code]
This requires the service team to investigate the root cause of this error.
**'x-ms-request-id': 'a4a958fa-e0a8-4a91-afa9-1c9b925fb3cc'**

[2022-08-24 06:44] #23628 closed

[2022-08-24 06:47] t-bzhan commented on #17078
@cpdohert , could you try upgrade to version 2.35.0 or after. We've added more context in the help output.

[2022-08-24 06:47] #17078 closed

[2022-08-24 08:02] #23394 closed

[2022-08-24 08:23] navba-MSFT commented on #23618
@dabenhamMic Seems like you had created this PR https://github.com/Azure/azure-rest-api-specs/pull/18447 to change the etag property. I see that PR is also merged now. The update on the SDK release request is here: https://github.com/Azure/sdk-release-request/issues/2666.  Did you get any update on that from Service team ?

[2022-08-24 08:24] alisharepoint commented on #23598
@RakeshMohanMSFT

Any update on this issue?

[2022-08-24 09:00] RakeshMohanMSFT commented on #23598
@alisharepoint I see that everything is working as expected are you not seeing the functions deployed in the portal?

[2022-08-24 09:26] adeliab opened #23648 "RBACAccessDenied with az deployment sub create"
**Related command**
az deployment sub create

**Describe the bug**
I'm testing a bicep deployment locally with command `az deployment sub create --location westeurope --template-file main.bicep`
The bicep file is intended to create a budget resource

I got this error
`{"status":"Failed","error":{"code":"DeploymentFailed","message":"At least one resource deployment operation failed. Please list dep

[2022-08-24 10:50] navba-MSFT commented on #23550
@ricardo2009 I see that you already have it installed. You just need to update it by running the below command:

If you still want to know the command to install / add this extension here it is:

[2022-08-24 11:19] JoeShabadu2000 commented on #23522
Yes, that seems to have been my problem! Thanks very much for taking the time to reply.

[2022-08-24 11:19] #23522 closed

[2022-08-24 11:57] yonzhan commented on #23648
route to CXP team

[2022-08-24 12:08] MrDarkPat opened #23650 "az webapp config appsettings set"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config appsettings set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config appsettings set -g {} -n {} --settings

[2022-08-24 12:49] navba-MSFT commented on #23453
@JereO-Nc see my reply in your github issue https://github.com/Azure/azure-cli/issues/23595

[2022-08-24 13:15] yonzhan commented on #23650
route to CXP team

[2022-08-24 14:14] RakeshMohanMSFT commented on #23454
@jtravell Sometimes the delay in replicating resource across region can cause delay. We are actively working on changes that will improve this behavior. Therefore we suggest to implement some retry mechanism. But i am sure we will have better experience once we rollout this improvement we are working on.

Alternatively you can also use [Azure Resource Graph](https://docs.microsoft.com/en-us/azure/

[2022-08-24 15:13] swgriffith opened #23653 "Using 'Calico' vs 'calico' for network policy leads to a cluster with system pods in CrashLoopBackOff"
When using 'az aks create' to build an AKS cluster, if you set --network-policy to 'Calico' vs. 'calico', the cluster will successfully create, but there will be system pods in CrashLoopBackOff.

**Command Name**
[code]

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[code]

## Expected

[2022-08-24 17:30] SaurabhSharma-MSFT commented on #22129
@TeisTheDevOps We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-08-24 18:11] vivlingaiah commented on #23625
Are you using RunAs ? The extension has an issue with RunAs at this time. A fix has been merged for Windows machines, it has not been deployed and made available yet, though.

[2022-08-24 18:20] mbreslav commented on #23221
When I run `az config get` I only see the key `"cloud"`. There is nothing for extension or extension directory.

Also when I run `az extension list` it shows azure-cli-devai-extension and webapp, both with path in `/opt/az/extensions/`. If I do `ls ~/.azure/cliextensions/` it only shows webapp.

[2022-08-24 18:27] bdschaap commented on #23475
I'm experiencing this too.  Any updates?

[2022-08-24 18:43] apar-singhal commented on #23625
Yes, I am using the run-as-user flag.

I need this as without it the command is not working. I have a docker-desktop pre-installed and want to start it automatically with this command. But default user (NT AUTHORITY\SYSTEM) get Access Denied error.

[2022-08-24 20:25] MarcoEnxuto commented on #23551
@RakeshMohanMSFT please update the doc with that example. Thanks.

[2022-08-24 20:55] apar-singhal commented on #23625
When is the fix planned to be deployed?

[2022-08-24 23:43] yonzhan commented on #23653
route to CXP team

[2022-08-25 00:30] jtravell commented on #23454
@RakeshMohanMSFT   The problem is happening persistently now.  We added 10 retries with a 30 second delay after each retry, for a total of at least 300 seconds we give to forgive the latency that this **BUG** in your software causes.

But even after 300 seconds of retries, the command `az resource list --resource-group myEmptyTestRG --resource-type Microsoft.Compute/images` returns `[]` even thoug

[2022-08-25 02:16] mckenzm commented on #23634
Run in cloud shell for same (or very similar result Python 3.9).

[2022-08-25 02:17] #22594 closed

[2022-08-25 02:19] ynden opened #23655 "Cannot restore if storage account in different resource group"
**Related command**
[code]

**Describe the bug**
Command succeeds when the storage account is in the same resource group as the recovery service vault.
However, the command fails when the storage account is in a different resource group.

**To Reproduce**
1. Have a recovery service vault in a resource group **A**
2. Create a storage account in a resource group **B** (different than the one for the

[2022-08-25 02:21] yonzhan commented on #23655
route to CXP team

[2022-08-25 02:35] RakeshMohanMSFT commented on #17341
@NON2057 We sincerely apologies for the delay. Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and retry.

[2022-08-25 02:36] RakeshMohanMSFT commented on #18021
@AlesMicin We sincerely apologies for the delay. Can you please upgrade to the latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and retry?

[2022-08-25 02:37] RakeshMohanMSFT commented on #23599
@VSE-ops Thank you for reaching out, we are looking into it.

[2022-08-25 02:45] necusjz commented on #23418
As limited bandwidth, we plan to deliver it in the next sprint.

[2022-08-25 02:47] RakeshMohanMSFT commented on #23599
@VSE-ops We unable to reproduce the issue, can you please upgrade to the latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-25 02:53] MayXuQQ opened #23657 "fail to login in"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --service-principal --username {} --password {} --tenant {}`

## Expec

[2022-08-25 02:57] duanqn opened #23658 "How to override pipeline parameters with whitespaces in name or value?"
I want to use `az pipelines run` but this doc doesn't show me how to override parameters or variables that have whitespaces in their names or values.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 66f0311f-8316-ea52-6171-9eb14b9f7bc7
* Version Independent ID: e79f2bc9-543d-9a14-a08c-911d037e108a
* Content: [az pipeline

[2022-08-25 03:18] navba-MSFT commented on #23653
@swgriffith Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-25 04:30] jtravell commented on #23454
What has the product group reported back to you about this recurrence of this **** in your software?

The problem emerged in an ubuntu-latest agent. today.  We have not tested in in other operating systems since this **BUG** reemerged today.  We can provide cli version information tomorrow.  But the same ubuntu-latest agent specification was able to run this command earlier today before the proble

[2022-08-25 05:10] yonzhan commented on #23658
route to CXP team

[2022-08-25 05:12] yonzhan commented on #23657
Please go through this issue and see if it helps
https://github.com/Azure/azure-cli/issues/21514

[2022-08-25 05:12] #23657 closed

[2022-08-25 05:18] prakashmsft commented on #23642
Hi,

Thanks for triaging the issue. Would you please help us understand the next steps? We can send you the data / logs. Customer is willing to share  Terraform code and walk through it on short notice. It's a blocker for them and any help is appreciated!

Thanks,
Prakash

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Prakash Patel ***@***.***>
Sent: Tuesday, Au

[2022-08-25 06:14] MayXuQQ commented on #23657
nslookup login.microsoftonline.com
Server:		127.0.0.53
Address:	127.0.0.53#53

Non-authoritative answer:
login.microsoftonline.com	canonical name = ak.privatelink.msidentity.com.
ak.privatelink.msidentity.com	canonical name = www.tm.ak.prd.aadg.akadns.net.
Name:	www.tm.ak.prd.aadg.akadns.net
Address: 40.126.24.82
Name:	www.tm.ak.prd.aadg.akadns.net
Address: 40.126.24.83
Name:	www.tm.ak.prd.aadg.ak

[2022-08-25 06:33] aamad777 commented on #23595
Not working no option to define which user u need yo delete or RG>

[2022-08-25 06:41] aamad777 commented on #23595
Parameter cannot be processed because the parameter name 'subs

[2022-08-25 06:51] aamad777 commented on #23595
Update the script delete local user what we request is domain user

[2022-08-25 06:54] navba-MSFT commented on #23595
@aamad777 As mentioned in the above comment, you need to tweak the PS script as per your requirement.

To answer your question related to define the username which needs to be deleted, This is mentioned under the[ Pre-requisites section in this Powershell script.](https://github.com/Azure-Samples/Azure-CXP-Developer-Support/blob/main/VirtualMachine/Powershell/PSAzVMRemoveUser.ps1)

Within the **sc

[2022-08-25 07:00] aamad777 commented on #23595
@navba-MSFT  it only work when i delete   Get-AzSubscription -SubscriptionName $sub.Name | Set-AzContext however

I need to delete Azure account not AD account i tried the script nothing has been removed

[2022-08-25 07:07] ZengTaoxu commented on #23645
Hi @rivir, this error is caused by the null value of type "txt" in your DNS zone. Do you want to export type "txt" with empty value? Still want to delete this "txt" record in the export file?

[2022-08-25 07:25] navba-MSFT commented on #23595
@JereO-Nc Could you please confirm if you have tried the above script and if it helped you ?

[2022-08-25 07:38] aamad777 opened #23663 "no working"
Not working i tried every workaround not working we need to delete azure user and its not working

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0474c5a5-4231-0e39-f63f-f7bc05cb7797
* Version Independent ID: 22ea94c8-cc6f-97aa-77b1-4ffca845807e
* Content: [az vm user](https://docs.microsoft.com/en-us/cli/azure/vm/user?