[2022-07-19 08:50] bebound commented on #10642
These scripts should be identical as I use `register-python-argcomplete --shell fish az` to generate it.

I post it here to provide a solution for older version fish. If there is no further question, this issue could be closed later.

[2022-07-19 09:31] Piet-van-Bruggen commented on #15520
Same as @marlowp here and used his CLI command to fix it; however got an error on the rule-set version not allowed to be Null, so had to supply the parameters: --enabled false --rule-set-type OWASP --rule-set-version 3.2

But worked like a charm; so that took away a bit of the irritation that this suddenly popped up and no way to fix it from the portal itself..

Our AppGw is running in West-Europe

[2022-07-19 09:43] sdebruyn commented on #18531
We are seeing consistent 100 kbps download speeds for over the last few months from multiple Belgian IPs and ISPs. Connection is capable of 1 Gbps

[2022-07-19 09:46] tonystz commented on #21195
I encounter the same issue, is any updates

[2022-07-19 10:28] RakeshMohanMSFT commented on #11556
This is fixed now.

[2022-07-19 10:28] #11556 closed

[2022-07-19 10:49] annullator opened #23261 "Azure Bastion native client rdp connection opens on all windows with no ability to change"
**Related command**

az network bastion rdp --name [bastion name --resource-group [bastion rg] --target-resource-id [vm resource id]
**Describe the bug**

When running the above command to generate a tunnel and leverage the bastion native rdp client connection. The RDP session opens on all screen with no ability to change it.
**To Reproduce**

run above command to connect to an azure vm using azur

[2022-07-19 10:54] yonzhan commented on #11070
@RakeshMohanMSFT Nice PR to fix.

[2022-07-19 11:44] RakeshMohanMSFT commented on #11435
@bhummerstone Duplicate of this https://github.com/Azure/azure-cli/issues/11435

[2022-07-19 11:44] #11435 closed

[2022-07-19 11:49] RakeshMohanMSFT commented on #12421
@mjrousos This issue is resolved

[2022-07-19 11:49] #12421 closed

[2022-07-19 12:15] moritzbiersack commented on #20278
This is still happening in v2.38

[code]

Temporarily fixed it by running `az account clear` but it came back after adding the azure-devops extension. Removing the extension again doesn't help. Neither does setting the token encryption to false.

[2022-07-19 12:18] RakeshMohanMSFT commented on #13014
@nrgifford for key type the default value is updated for other parameters its actually None by default
--kty
The type of key to import (only for BYOK).

accepted values: EC, RSA, oct
default value: RSA

https://docs.microsoft.com/en-us/cli/azure/keyvault/key?view=azure-cli-latest#az-keyvault-key-import

[2022-07-19 12:18] #13014 closed

[2022-07-19 12:23] RakeshMohanMSFT commented on #13990
@iamchamith This issue is fixed.

[2022-07-19 12:23] #13990 closed

[2022-07-19 12:24] RakeshMohanMSFT commented on #15186
@enema17484 This issue is resolved

[2022-07-19 12:24] #15186 closed

[2022-07-19 12:44] #15475 closed

[2022-07-19 12:49] RakeshMohanMSFT commented on #15739
This is fixed

[2022-07-19 12:49] #15739 closed

[2022-07-19 12:52] #16085 closed

[2022-07-19 12:54] RakeshMohanMSFT commented on #16018
@maria-pronin Please reopen this issue if you are still facing this issue

[2022-07-19 12:54] #16018 closed

[2022-07-19 12:58] RakeshMohanMSFT commented on #15997
@DanielHWe This issue is resolved. if you are still facing this issue please upgrade to latest cli [ 2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and retry

[2022-07-19 12:58] #15997 closed

[2022-07-19 13:08] RakeshMohanMSFT commented on #16368
@ShaohuaJoseph This is as designed, there are canadacentral and canadaeast and not "Cananda"

[2022-07-19 13:08] #16368 closed

[2022-07-19 13:46] vincent-aviva opened #23262 "az storage blob metadata update -> lease-id parameter removed in 2.38"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
After acquiring a lease through "az storage blob lease acquire --proposed-lease-id " we would like to update the metadata on that blob. Untill 2.37 we could provide --lease-id to the command and then it should work.
However, in 2.38 this parameter is removed and if you remove it in the call then you get the res

[2022-07-19 14:11] RakeshMohanMSFT commented on #16683
@houk-ms This issue is fixed

[2022-07-19 14:11] #16683 closed

[2022-07-19 14:16] RakeshMohanMSFT commented on #17213
@nigarfin `az upgrade` should do the work. Let me know if its not what you are looking for.

[2022-07-19 14:18] fitzgeraldsteele commented on #22682
Thanks, @Xing ***@***.***>. For bringing this up and apologies for the delay.

@Load Balancer & NAT PM ***@***.***> - can I get some help on this issue with CLI? Was working with Irene to update AzCLI VMSS create to use NAT v2. Is this a breaking change? What should the experience be for customers to use NAT pool vs Natv2?

Jerry
Steele
Microsoft
senior program manager
425.421.2566

______________

[2022-07-19 15:24] sirfamelin commented on #23144
Okay. For the change to add warning logs, can we target the August release or is it too late?

[2022-07-19 15:54] cbittne opened #23263 "unable to run az storage list"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage account list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage account list`

## Expected Behavior

## Environment S

[2022-07-19 16:41] adrianhall commented on #14695
Sorry @fellnerse - I don't have a good line of sight at this point as to when the work will be completed.

#close

[2022-07-19 18:23] hldgithub opened #23264 "az storage account create"
[--public-network-access {Disabled, Enabled}]

This parameter is invalid and I never did figure out the correct one. I'm behind a proxy server, so I couldn't use the CLI help option.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92115d19-d7a0-93a8-bf2b-5126d1cddcd0
* Version Independent ID: a657f09b-e1ac-12a2-4b9c-7aa

[2022-07-19 20:03] Kowsika-Ponnusamy opened #23266 "azure-cli on Mariner 1.0 misses python3-xml runtime dependencies to properly perform 'az login' command for instance."
**Related command**
az login

**Describe the bug**
The azure-cli on Mariner 1.0 misses python3-xml runtime dependencies to properly perform 'az login' command for instance.

**To Reproduce**
Dockerfile

[code]

**Expected behavior**
[code]

**Dockerfile with a workaround**
[code]

**Expected behavior**
[code]

Thanks to @Eric Desrochers for the workaround solution.

[2022-07-19 20:25] harneetvirk opened #23267 "compatibility issues between azure-core and azure-cli: cannot import name 'case_insensitive_dict' from 'azure.core.utils'"
**Related command**

**Describe the bug**
We are noticing compatibility issues between azure-core and azure-cli: cannot import name 'case_insensitive_dict' from 'azure.core.utils'.
Until cli 2.37.0, AZ CLI had the dependency azure-core==1.21.1
Starting 2.38.0, AZ CLI is having dependency azure-core==1.24.0

In case, we install a package that has a direct or indirect dependency on the lower azure-c

[2022-07-19 21:53] yonzhan commented on #23263
storage

[2022-07-19 21:55] yonzhan commented on #23264
storage

[2022-07-19 21:59] yonzhan commented on #23266
Mariner

[2022-07-19 22:01] yonzhan commented on #23267
@jiasli for awareness

[2022-07-19 22:16] wpooley commented on #20863
We'll need to add the Graphql specification-format to the [az apim api import cmdlet](https://docs.microsoft.com/en-us/cli/azure/apim/api?view=azure-cli-latest#az-apim-api-import).

Perhaps as a workaround, we do support the creation of a GraphQL Api and the upload of a GraphQL Schema in cli using the example below.

az apim api create --service-name MyApim -g MyResourceGroup --api-id MyGraphqlApi

[2022-07-20 02:08] necusjz commented on #22279
Please follow [this reference](https://github.com/Azure/azure-cli/issues/23079#issuecomment-1185068194) to add `--priority` at the correct level, and the corresponding documents will be updated soon.

[2022-07-20 02:11] RakeshMohanMSFT commented on #23258
@markoctg Thank you for confirming that your issue is resolved.

[2022-07-20 02:11] #23258 closed

[2022-07-20 02:24] #15772 closed

[2022-07-20 02:28] #15773 closed

[2022-07-20 02:28] #17941 closed

[2022-07-20 02:37] #21073 closed

[2022-07-20 02:49] jiasli commented on #23267
The dependency on `azure-core` was bumped by https://github.com/Azure/azure-cli/pull/22676.

It's `ml`'s responsibility to use latest `azure-core`.

Latest `azure-storage-blob-12.13.0.zip` downloaded from https://pypi.org/project/azure-storage-blob/#files has `"azure-core<2.0.0,>=1.23.1"` in `setup.py`.

[code]

[2022-07-20 02:53] jiasli commented on #21195
@tonystz, which issue did you encounter? `az ad sp credential list` missing credentials or showing credentials that shouldn't be there?

[2022-07-20 03:11] PARADISSEEKR commented on #22470
Hi @lsweeney24 , when creates a Stack HCI cluster, how to get [AadTenantId, AadClientId and CloudManagementEndpoint ](https://github.com/Azure/azure-powershell/pull/18559/files#diff-108d24ddc4d9bec48b817e51e432e54b9d5b46210a0ffa9bcac70106f35e3420) in CLI, we need to add automated tests for it
[request body](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/azurestackhci/resourc

[2022-07-20 03:12] RakeshMohanMSFT commented on #11695
@wahyuen Can you upgrade to the latest version of Az CLI [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-07-20 03:13] jiasli commented on #23245
This is very weird. In my test, `b85b844e-8d36-4a88-b3b1-51a07e0ccd92` was correctly translated to `https://graph.microsoft.com/v1.0/directoryObjects/b85b844e-8d36-4a88-b3b1-51a07e0ccd92`:

[code]

But your debug log shows `b85b844e-8d36-4a88-b3b1-51a07e0ccd92` was used in this API as-is:

[code]

which indicates `is_guid` returned `False`:

https://github.com/Azure/azure-cli/blob/33cbd01f75c7d4c3

[2022-07-20 03:14] zhoxing-ms commented on #23144
@sirfamelin We can target the August release, @PARADISSEEKR please be aware

[2022-07-20 03:14] bebound commented on #23263
Might be related to https://github.com/aio-libs/aiohttp/issues/6794, but I can't reproduce.

Could you please do a clean install and try again?

[2022-07-20 03:22] jiasli commented on #18531
@NoahStahl, could you let me know your location?

I am reporting this issue to Microsoft Linux Repo team for investigation.

[2022-07-20 03:31] wahyuen commented on #11695
Appears to be fixed in 2.38.0

[2022-07-20 03:31] #11695 closed

[2022-07-20 03:34] zhoxing-ms commented on #22682
@anavinahar OK, thanks for your clarification. Since `Nat Rules V2` and `NAT Pool` have exactly the same functionality, and replacing `NAT Pool` with `Nat Rules V2` will not cause breaking change, so do we only need to support users to use `Nat Rules V2` to create Uniform and Flex VMSS? @anavinahar @fitzgeraldsteele

In other ways, may I ask do users still have the need or scenario to use `NAT Poo

[2022-07-20 03:51] RakeshMohanMSFT commented on #17960
@felipeafeltes This is resolved

[2022-07-20 03:51] #17960 closed

[2022-07-20 03:54] RakeshMohanMSFT commented on #18018
@petender its updated

--org --organization
Azure DevOps organization URL. You can configure the default organization using az devops configure -d organization=ORG_URL. **Required if not configured as default or picked up via git config. Example: https://dev.azure.com/MyOrganizationName/.**

--project -p
Name or ID of the project. You can configure the default project using az devops configure -d

[2022-07-20 03:54] #18018 closed

[2022-07-20 03:57] RakeshMohanMSFT commented on #11435
@bhummerstone Please upgrade to the latest version of az cli [3.28.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-07-20 03:59] RakeshMohanMSFT commented on #16545
@suaknab We sincerely apologies for the delay. Please update az cli to latest version [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and reopen this issue if you still face the issue

[2022-07-20 03:59] #16545 closed

[2022-07-20 04:01] RakeshMohanMSFT commented on #16544
@suaknab We sincerely apologies for the delay. Please update to latest az cli version [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli). Also -n or -g should be provided to this command to delete a particular resource group.
Please reopen this issue if you have any further question in this regard

[2022-07-20 04:01] #16544 closed

[2022-07-20 04:11] navba-MSFT commented on #22807
@mdhomer Thanks for emailing me the requested details. I had reached out to the Product Owners and they have informed that the fix is yet to be rolled out in all regions. We will keep you posted once it is done. We appreciate your patience on this.

[2022-07-20 04:11] RakeshMohanMSFT commented on #13077
@troyridge This is fixed. Please upgrade to the latest version of az cli [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-07-20 04:11] #13077 closed

[2022-07-20 04:12] RakeshMohanMSFT commented on #13023
@Djongov This is fixed. Please upgrade to latest version of az cli [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-07-20 04:12] #13023 closed

[2022-07-20 04:50] navba-MSFT commented on #23217
@omkarchavan-shell I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you have any follow-up questions on this. Awaiting your reply.

[2022-07-20 04:51] jiasli commented on #15739
We are refining the example in https://github.com/Azure/azure-cli/pull/23206

[2022-07-20 04:51] navba-MSFT commented on #23224
@khaleelyousuff81 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you have any follow-up question on this. Awaiting your reply.

[2022-07-20 04:52] omkarchavan-shell commented on #23217
Hey, using the AZ-AS-SPN-EX-N-SEQ01763.pem it solved the issue.
Thanks @navba-MSFT

[2022-07-20 04:52] #23217 closed

[2022-07-20 04:55] #16323 closed

[2022-07-20 04:56] jiasli commented on #19592
A similar error message is shown if no top-level command group is given:

[code]

[2022-07-20 04:57] harneetvirk commented on #23267
ML has already shipped a mitigation for this issue in the following release 2.6.1 by pinning the azure-storage-blob. But this is one common issue that is being encountered outside the scope of the ML extension.

The failure may be encountered in 2 ways.
1) With the new az cli (2.38.0) wherever the user packages have direct or indirect dependencies on the older version of azure-core.
2) With older

[2022-07-20 04:57] jiasli commented on #21337
Tracked by #19592

[2022-07-20 04:57] #21337 closed

[2022-07-20 04:57] jiasli commented on #21352
Tracked by #19592

[2022-07-20 04:57] #21352 closed

[2022-07-20 04:58] navba-MSFT commented on #23226
@QuantumAtom I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you have any update on this. Awaiting your reply.

[2022-07-20 04:58] jiasli commented on #15375
Tracked by #19592

[2022-07-20 04:58] #15375 closed

[2022-07-20 04:58] jiasli commented on #17267
Tracked by #19592

[2022-07-20 04:58] #17267 closed

[2022-07-20 05:00] jiasli commented on #17213
Tracked by #19592

[2022-07-20 05:00] #17213 closed

[2022-07-20 05:02] RakeshMohanMSFT commented on #17845
@smokedlinq This is fixed

[2022-07-20 05:02] #17845 closed

[2022-07-20 05:54] RakeshMohanMSFT commented on #22891
@mdenhoedt Did you try what @jonie001 suggested?

[2022-07-20 07:20] UmairSyed commented on #10762
Any updates on this one? I am also getting the same error when redeploying the same configs through bicep? As a workaround I could break the pairing and then do the deployment but that also wont work if we have any queues or topics deployed in future.

[2022-07-20 07:39] Brudem commented on #22279
Thanks for the link but I think it don't really suit my issu.

I don't want to create a new application gateway but only updating a rule.

The link provided is about "az network application-gateway create" not az network application-gateway **rule** create.

As you create applicaiton gateway only one time, how do you do to just add or update a rule via AZ CLI on an existing app gtw ?

[2022-07-20 07:55] necusjz commented on #22279
@Brudem, I see, as it's a different story, could you please open a new issue for that? We'll work on triaging it. Thanks.

[2022-07-20 08:01] yuanchenCY opened #23270 "Failed to run Event Hub command using CLI 2.38.0"
**Related command**

az eventhubs eventhub list --resource-group MediaRG --namespace-name test01
az eventhubs eventhub show --resource-group MediaRG --namespace-name test01 --name test
az eventhubs namespace network-rule update --resource-group MediaRG --namespace-name test01 --public-network-access Disabled --enable-trusted-service-access true

**Describe the bug**

We are using Azure CLI 2.38.0,

[2022-07-20 08:02] #22921 closed

[2022-07-20 08:12] Brudem opened #23271 "Creating a rule in application gateway via AZ CLI fail with message 'ERROR: (ApplicationGatewayRequestRoutingRulePartialPriorityDefined) Either all or no rule should have the priority specified.'"
HI, I have this issue when trying to create a new rule in app gtw.

Depending of the application gateway instance that I use I have an error or not.

I use the same AZ CLI version and the same command (except for the name of the rule and app gtw instance refs).

With my first application gateway instance I receive the following error when creating a rule with this AZ CLI cmd :

az network applicat

[2022-07-20 08:16] RakeshMohanMSFT commented on #16563
@gregix008 This issue is fixed. Please upgrade to latest version of Az CLI [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli). And reopen this if you are still facing issue

[2022-07-20 08:16] #16563 closed

[2022-07-20 08:27] #16170 closed

[2022-07-20 08:31] RakeshMohanMSFT commented on #6949
Its updated. Please reopen if you face further issues
--workspace-resource-id
**The resource ID** of an existing Log Analytics Workspace to use for storing monitoring data.

[2022-07-20 08:31] #6949 closed

[2022-07-20 08:55] RakeshMohanMSFT commented on #16620
@mikkelhegn This issue is fixed. Please update to Az CLI latest version [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-07-20 08:55] #16620 closed

[2022-07-20 09:02] dabenhamMic commented on #23190
no update yet

[2022-07-20 10:20] yonzhan commented on #23270
route to CXP team

[2022-07-20 10:21] yonzhan commented on #23271
network

[2022-07-20 10:59] dmoessne commented on #23027
So I can confirm this works with `2.38` for me as follows:
[code]

for `2.37` I used the following as a workaround
[code]

I am going ahead and close this issue as it seems to be resolved by `2.38`

[2022-07-20 10:59] dmoessne commented on #23027
I am going ahead and close this issue as it seems to be resolved by 2.38

[2022-07-20 10:59] #23027 closed

[2022-07-20 11:27] #23125 closed

[2022-07-20 11:34] MichaelFitzTech opened #23273 "azure bastion RDP stopped working"
Last week I could run the following cmd in powershell and the native RDP session would open for me to input the azure vm's log on creds and it worked.
az network bastion rdp --name "BASTIONNAME" --resource-group "RGNAME" --target-resource-id "/subscriptions/*********/resourceGroups/*********/providers/Microsoft.Compute/virtualMachines/VMNAME"

Whats started to happen now is i get a message saying

[2022-07-20 11:39] yonzhan commented on #23273
route to CXP team

[2022-07-20 13:10] shiftychris opened #23276 "CDN Adding certificate from keyvault to CDN Endpoint (from other subscription) throws error"
**Related command**
az cdn custom-domain enable-https `
                        --resource-group $sc.resource `
                        --subscription $Endpoint.subscription `
                        --profile-name $cdnProfile `
                        --endpoint-name $endpointName `
                        --name $domainName `
                        --user-cert-subscription-id $kvSubscription`

[2022-07-20 13:15] eric-desrochers commented on #23266
We reduced our size footprint in Mariner 2.0 by reducing the numbers of packages in the base container image.
I would recommend you add a Requires: python3-xml in your SPEC file instead of relying on Mariner to provide pre-installed packages.

[2022-07-20 13:28] yonzhan commented on #23276
route to CXP team

[2022-07-20 14:21] RakeshMohanMSFT commented on #17866
This issue is fixed. Please update your Az CLI [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)
az keyvault list --query [?name=='issue-17866']
[
  {
    "id": "<resourceid>",
    "location": "eastus",
    "name": "issue-17866",
    "resourceGroup": "Issue17866",
    "tags": {},
    "type": "Microsoft.KeyVault/vaults"
  }
]

[2022-07-20 14:21] #17866 closed

[2022-07-20 14:22] sanjeev40084 commented on #23245
@jiasli the output is true. Also i installed az cli just couple days ago so don't think it is related to other issue.
[code]

[2022-07-20 14:41] #23245 closed

[2022-07-20 14:44] lokeshs053 opened #23279 "AZ Blob list not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob list --account-name {} --container-name {} --auth-m

[2022-07-20 15:07] daviddavis commented on #18531
I've filed an issue to investigate the slow download speeds: https://github.com/microsoft/linux-package-repositories/issues/13

[2022-07-20 15:52] Saglodha commented on #22834
Adding @EldertGrootenboer  for visibility here. @EldertGrootenboer , can you review this ask and confirm if this is expected behavior?

[2022-07-20 16:08] aavalang commented on #23143
@lovigano i see a typo in "virtualMachines"

[2022-07-20 16:21] NoahStahl commented on #18531
In my case, downloading in Austin TX USA

[2022-07-20 18:26] Bashar-MSFT commented on #20573
please assign this to sumuth@microsoft.com, this is not a bug but the user needs to use the latest cli version. @mksuni

[2022-07-20 18:54] mksuni commented on #20573
@mahfooziiitian  I am not able to reproduce the issue for db create. The error No value for given attribute is very generic typically refers to missing parameter in the arguments being passed.  If you have a subscription  set by default on client machine and the server exists in that subscription , when you run the command as shown below it should work

az mysql flexible-server db create --databas

[2022-07-20 19:40] satheshs opened #23282 "cli.azure.cli.core.azclierror: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate"
I am getting below error when I login with azure-cli.Currently not using any proxies.

cli.azure.cli.core.azclierror: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:997)
az_command_data_logger: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:997)
Certificate verification failed. T

[2022-07-20 20:17] jgentil commented on #20921
It seems really silly that Microsoft's own CLI tool doesn't use `pip-system-certs` to support reading the certificate store from Windows itself.

On a Windows CMD prompt or in PowerShell, run this command:
[code]
(you may need to do this as administrator, or change the path depending on how you installed the CLI)

This will install a hook that tells certifi, and thus requests, to use the Windows s

[2022-07-20 20:30] dbradish-microsoft opened #23283 "az init | Add long-summary with detail informatoin"
See email thread with subject "az init and az self-test".

Please add more information to the `az init` autogenerated content
1. Why would someone use this over `az config`?
2. How is `az init` the same/different from `az config`
3. What all can a customer `init`?
4. How does one "uninit" something?
5. What is the expected console output when it completes?
6. What is included in a "configuration b

[2022-07-20 21:57] ghost opened #23285 "az storage container list (macos to azure) errors"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage container list`

## Expected Behavior

## Environme

[2022-07-20 22:16] yonzhan commented on #23279
storage

[2022-07-20 22:23] yonzhan commented on #23282
@jiasli for awareness

[2022-07-20 22:28] yonzhan commented on #23283
az init

[2022-07-20 22:29] yonzhan commented on #23285
storage

[2022-07-20 23:17] tspearconquest opened #23286 "Docker image doesn't remove apk virtual package `.build-deps`"
**Related command**

N/A

**Describe the bug**

Line 38 of the main azure-cli Dockerfile:
https://github.com/Azure/azure-cli/blob/dev/Dockerfile#L38

This line installs a set of packages as a virtual package called `.build-deps` but nowhere later on in Dockerfile is this virtual package removed.

**To Reproduce**

Read the Dockerfile in the dev or main branch of this repo

**Expected behavior**

T

[2022-07-20 23:20] yonzhan commented on #23286
@jiasli for awareness

[2022-07-21 02:03] jiasli commented on #23266
This is not true. Other Linux distributions doesn't have doesn't have `python3-xml`.

Red Hat:

[code]

Debian:

[code]

I think Mariner 1.0 should be consistent with Mariner 2.0 as well as other Linux distributions.

[2022-07-21 02:22] #10642 closed

[2022-07-21 03:40] bebound commented on #23279
This issue is not related to Azure-cli, `MemoryError` means you run out of memory.
Close some apps or restart you PC and try again.

Or you can use `--num-results` to limit the maximum number of items to return.

[2022-07-21 04:14] zhoxing-ms commented on #23190
As I mentioned in ICM, we found that the customer pressed the `Ctrl + C` to exit the command execution without waiting for the CLI command to finish from the debug log.
If the CLI command is completed, `cli.knack.cli: Event: Cli.SuccessfulExecute []` should be printed in the debug log, but the debug log provided by the customer does not have this log.
I think what the customer may needs to do at p

[2022-07-21 04:44] navba-MSFT commented on #23143
@lovigano Apologies for the late reply. Thanks for reaching out to us and reporting this issue. Could you please confirm if you are running this from a cloudshell ? If Yes, it wont be able to open the RDP on your local machine. For this reason, we recommend using powershell with az cli (on **_Windows_** machine).

Also, note that RDP command works best on Windows, for other OS’ (**like Linux**) yo

[2022-07-21 04:44] navba-MSFT commented on #23228
@WilliamDAssafMSFT Apologies for the late reply. Thanks for reaching out to us and reporting this issue. Could you please confirm if you are running this from a cloudshell ? If Yes, it wont be able to open the RDP on your local machine. For this reason, we recommend using powershell with az cli (on **_Windows_** machine).

Also, note that RDP command works best on Windows, for other OS’ (**like Li

[2022-07-21 06:01] v-soujanya commented on #23039
Hi @bbi-adamvengroff, we are not able to find this **ArtifactHttpRetryMessageHandler.SendAsync** in our code because we are using the **artifact tool** to download the artifacts. By seeing this **https://vsblobprodscussu5.vsblob.visualstudio.com/A0bd78a1e-8bc2-4825-baee-2e3c7488e4c7/_apis/dedup/urls attempt 1/6 failed with Timeout Exception** We identified the issue is causing at server end from C

[2022-07-21 06:18] #17681 closed

[2022-07-21 06:25] #23249 closed

[2022-07-21 06:29] zhoxing-ms commented on #21158
@timwebster9 @cdijkstra Please note that in CLI, if the passed in value is an array, the elements in the array should be separated by spaces.
So `--policy-definition-reference-ids "4ec52d6d-beb7-40c4-9a9e-fe753254690e,702dd420-7fcc-42c5-afe8-4026edd20fe0,0a370ff3-6cab-4e85-8995-295fd854c5b8,6fac406b-40ca-413b-bf8e-0bf964659c25" ` should be `--policy-definition-reference-ids 4ec52d6d-beb7-40c4-9a9e

[2022-07-21 07:51] necusjz commented on #23271
@Brudem, could you attach the debug information (append --debug) for this command? And it's better to have the result of "az network application-gateway rule list -g {} --gateway-name {}". Thanks.

[2022-07-21 08:01] #22988 closed

[2022-07-21 09:11] t-bzhan opened #23290 "az cosmosdb update unable to remove all virtual network rules"
## Describe the bug
`az cosmosdb update` seems to not able to remove all the virtual network rules.

**Command Name**
`az cosmosdb update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

-  Create a Cosmos DB and add some virtual network rules
- `az cosmosdb update -n nwisolation-demo -

[2022-07-21 09:25] yonzhan commented on #23290
route to CXP team

[2022-07-21 09:40] zhoxing-ms commented on #22682
@fitzgeraldsteele @anavinahar Since we will launch the release of this sprint next week, please answer these questions before tomorrow, otherwise we will not have enough time to develop and release this feature in this sprint, then we have to postpone it to the next sprint **(09-06)**

[2022-07-21 10:00] yanzhudd commented on #22751
@zdelacerda-microsoft Hi, when we develop this feature, we meet some questions about the api version and we have sent an email named "**Question about Microsoft.VirtualMachineImages version from 2021-10-01 to 2022-02-14**" to you. Since this has blocked our development progress, please check if there is a breaking change from 2021-10-01 to 2022-02-14 version and reply to me **before July 25th**. O

[2022-07-21 10:01] lsweeney24 commented on #22470
Hello,

For the AAD tenant id this is just the value for the tenant you would be testing in example “"AadTenantId": "72f988bf-86f1-41af-91ab-2d7cd011db47",”. For the AAD client id this can be any GUID string for testing purposes but it must be a valid GUID. Lately, the CloudManagementEndpoint is an optional parameter, but this would just be the ARM endpoint for that region, example “https://manage

[2022-07-21 11:01] Kriss80 opened #23292 "Can't install az on macos M1"
**Related command**

**Describe the bug**

When i try brew install  azure-cli i have error:
azure-cli/2.38.0/libexec/lib/python3.10/site-packages/yaml/tokens.py: Write failed
azure-cli/2.38.0/libexec/pyvenv.cfg: Write failed
tar: Error exit delayed from previous errors.
**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2022-07-21 11:07] MichaelFitzTech commented on #23273
I've fixed my issue.  I deleted everything from %temp% in my profile and the connection RDP session started working again

[2022-07-21 11:10] #23292 closed

[2022-07-21 11:10] Kriss80 commented on #23292
I had no disk space. LOL

[2022-07-21 12:43] Brudem commented on #23271
@necusjz I tried again the request but it succeded this time ...

The only thing I did between my failed attemps and the one I just tried is to change the priority of the rule via azure portal (as mentioned in my initial comment changing the rule via Azure portal was working without issue).
I wonder if setting the rule priority via AZ portal  did not had an effect on my rule status (or the whole a

[2022-07-21 13:54] SunChero commented on #17740
i have the same issue with the latest az version
[code]
many commands are not working ...
[code]

[2022-07-21 13:55] SunChero opened #23294 "az interactive : Error loading command module AzInteractiveShell.progress_patch() got an unexpected keyword argument 'det'"
i have the same issue with the latest az version
[code]
many commands are not working ...
[code]

[2022-07-21 14:05] eric-desrochers commented on #23266
Other distros, may or may not have give the binary package a different name. Every distribution can name their package differently. Does this situation also impact other distributions outside Mariner ?

All I am just saying is that azure-cli should have a runtime dependency for Mariner 1.0 & 2.0 to ensure everything your program needs to operate (python modudle, ...) is met at installation time, r

[2022-07-21 14:27] eric-desrochers commented on #23194
I did notice 2 workarounds:
- Downgrade
- Break the tagging portion out into separate operation.

Is there any permanent solution on the way ?

Note: This is preventing the release of SBI (Secure Base Image) using Ubuntu as the OS, as it is failing LISAv3 testing.

In the immediate situation, what approaches/workaround azure-cli team would suggest to unblock us ?

[2022-07-21 14:34] yonzhan commented on #23294
interactive

[2022-07-21 14:55] quintindk commented on #22230
same same, `az artifacts universal download` also fails on ubuntu 22.04. workaround above works...

[2022-07-21 15:23] liorbp commented on #23143
@navba-MSFT i'm getting the same error running from az cli on Windows.

here's the details bug report:

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network bastion rdp`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _P

[2022-07-21 15:27] shabeeraslam1 opened #23295 "az login error"
PS C:\Users\sa9478> az login
A web browser has been opened at https://login.microsoftonline.com/organizations/oauth2/v2.0/authorize. Please continue the login in the web browser. If no web browser is available or if the web browser fails to open, use device code flow with `az login --use-device-code`.
Decryption failed: [WinError -2146893813] Key not valid for use in specified state.. App develope

[2022-07-21 16:10] panchagnula commented on #15857
@nimbusparis for creating functions using CLI - the functions team supports funccli https://docs.microsoft.com/en-us/azure/azure-functions/functions-run-local?tabs=v4%2Cmacos%2Ccsharp%2Cportal%2Cbash

the message you see here is 404 : NotFound since there is no existing functions for this to run.

[2022-07-21 16:10] #15857 closed

[2022-07-21 16:24] anavinahar commented on #22682
Yes both are the same functionality. We can replace with nat rules v2

For VMSS Uniform it is @fitzgeraldsteele's call.

[2022-07-21 16:34] jeffchiou commented on #20921
This worked for me - fixed SSL error when installing extensions.

[2022-07-21 16:36] jeffchiou commented on #17938
@jgentil had a solution that worked for me: https://github.com/Azure/azure-cli/issues/20921#issuecomment-1190714888

Basically run `"C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe" -m pip install pip-system-certs`.

[2022-07-21 16:38] adthorn opened #23296 "Cosmos DB: SQL Database Throughput Migrate Fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cosmosdb sql database throughput migrate`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az cosmosdb sql database throughput migrate

[2022-07-21 16:48] SaurabhSharma-MSFT commented on #23296
@adthorn We are looking into it and get back to you for any additional information.

[2022-07-21 19:07] caoloi01 commented on #13028
Do we have any update on this? It takes more than 800s to install azure cli in Github Runner

[2022-07-21 19:17] rahulprabhu22 commented on #16913
Facing the above issue when the root certificate is referenced from the keyvault

[code]

[2022-07-21 19:21] TravisCragg-MSFT commented on #21308
@jcavalieri8619 Please update us on any repo steps so that we can continue with this issue.

[2022-07-21 19:28] bbi-adamvengroff commented on #23039
Huh, interesting. Thanks for the update! Please let me know if I can be of assistance

[2022-07-21 19:34] SaurabhSharma-MSFT commented on #23235
@liranms Could you please let us know scenario under which you are trying to use this command?

[2022-07-21 19:42] jaylabell commented on #23202
@TravisCragg-MSFT  can you please look into this disk issue?

[2022-07-21 19:44] bryn1u opened #23297 "az aks get-credentials crashed - API version 2022-04-01 does not have operation group 'managed_clusters'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2022-07-21 19:51] timkowal commented on #23262
Seeing the same.

Code that worked two days ago now produces error message:

ERROR: unrecognized arguments: --lease-id _xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx_

And the documentation page no longer lists the "--lease-id" parameter.

Previous page (courtesy of the Wayback Machine):
![image](https://user-images.githubusercontent.com/81479839/180303163-44c26439-1c18-4cf5-aa90-c79dfe5e4aa6.png)

[2022-07-21 20:43] roviracarlos commented on #15520
Same as @marlowp and @Piet-van-Bruggen, and the workaround fix the issue, thanks guys!. I try to reproduce the error in others older GW but is not the same because add others properties when link the Policys, like forceFirewallPolicyAssociation and the error not appears. I think is some specific check introduced in the latest days that creates a conflict if both options are already enabled.

[2022-07-21 21:04] zdelacerda-microsoft commented on #22751
Hi @yanzhudd these changes look good to me. I'm going to send this PR to the team to get one more confirmation. Please hold off until you hear back from me or another reviewer. Thanks

[2022-07-21 21:36] yonzhan commented on #23295
Duplicate of https://github.com/Azure/azure-cli/issues/20231

[2022-07-21 21:36] #23295 closed

[2022-07-21 21:42] yonzhan commented on #23296
route to CXP team

[2022-07-21 21:44] yonzhan commented on #23297
route to CXP team

[2022-07-21 21:55] SaurabhSharma-MSFT commented on #23276
@shiftychris This is expected behavior of CDN service as Key Vault account needs to be under the same subscription as the Azure CDN profile.  Please refer to [this](https://docs.microsoft.com/en-us/azure/cdn/cdn-custom-ssl?tabs=option-2-enable-https-with-your-own-certificate#prepare-your-azure-key-vault-account-and-certificate) documentation.

[2022-07-21 22:06] SaurabhSharma-MSFT commented on #23270
@yuanchenCY I think this api version is not supported for Azure China environment however redirecting this to services team to confirm back on the same. Thanks.

[2022-07-21 22:47] SaurabhSharma-MSFT commented on #23290
@t-bzhan I don't think you can remove ACL configuration using update command.  You may need to use [az cosmosdb network-rule remove](https://docs.microsoft.com/en-us/cli/azure/cosmosdb/network-rule?view=azure-cli-latest#az-cosmosdb-network-rule-remove) to remove any existing network rules.

[2022-07-21 23:37] feiyushi commented on #22751
After checking the az cli doc for [az image builder](https://docs.microsoft.com/en-us/cli/azure/image/builder?view=azure-cli-latest), I found there are usually 3 verbs for `customizer` and `output`: `add`, `clear`, `remove`. not sure about `show` as it's not there for `customizer` and `output`

[2022-07-22 01:13] yuanchenCY commented on #23270
If this is not yet supported, which CLI version with supported API version could we use to run network-rule update command for event hub in Azure China?

[2022-07-22 01:51] evelyn-ys commented on #17542
Need `azure-keyvault-keys` Python SDK support first.

[2022-07-22 01:57] t-bzhan commented on #23290
@SaurabhSharma-MSFT , `az cosmosdb network-rule` remove does not support removing multiple rules. It is not very convenient to remove the rules one by one if we have a lot of rules. I am wondering whether we could handle the empty input like for "--ip-range-filter", it support to input an empty string to remove all existing IP addresses as mentioned in  https://github.com/Azure/azure-cli/pull/1527

[2022-07-22 02:01] t-bzhan opened #23299 "Incorrect description for `az cosmosdb network-rule remove`"
The description for `az cosmosdb network-rule remove` is incorrect. It should be "Remove" instead of "Add".
![image](https://user-images.githubusercontent.com/61817681/180346534-ed432c4d-0311-489b-8bd0-b63029261982.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ceafa346-5ac6-9a5b-b36b-fb6a91449ae0
* Version Indepe

[2022-07-22 02:09] AnimogM opened #23300 "The ID token already expires. Make sure your computer's time and time zone are both correct"
I am trying to login using 'az login' and am getting the followin error:

The command failed with an unexpected error. Here is the traceback:
9. The ID token already expires. Make sure your computer's time and time zone are both correct. Current epoch = 1658484126.  The id_token was: {
  "aud": "04b07795-8ddb-461a-bbee-02f9e1bf7b46",
  "iss": "https://login.microsoftonline.com/f8cdef31-a31e-4b4a-9

[2022-07-22 02:51] bebound commented on #23300
Duplicate of https://github.com/Azure/azure-cli/issues/20388

[2022-07-22 02:51] #23300 closed

[2022-07-22 02:52] RakeshMohanMSFT commented on #23297
@bryn1u We are unable to reproduce this issue, can you please share --debug trace for further troubleshooting?
az aks get-credentials -g issue23297-resources -n myaks
Merged "myaks" as current context in /home/user/.kube/config
$ az version
{
  "azure-cli": "2.37.0",
  "azure-cli-core": "2.37.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "azure-devops": "0.25.0"
  }
}

[2022-07-22 03:01] #23144 closed

[2022-07-22 03:18] zhoxing-ms commented on #22682
@fitzgeraldsteele) Because the modification of this feature is complex *(I found that the structure and level of these two resources in ARM template are inconsistent)*, and it affects many usages and tests. Since this sprint has less than five working days left,  we don't have enough time to develop and test it comprehensively in this sprint.
In order to avoid introducing unexpected risks and prob

[2022-07-22 04:57] navba-MSFT commented on #22599
@GMZwinge Could you please run the above CLI command again and check if you are still facing this issue ? Awaiting your reply.

[2022-07-22 05:11] DerTim1 commented on #21875
I think that changed from version 2.37.0. The following error occured if the destination-files already exists:
[code]

azure-cli                         2.37.0 *

[2022-07-22 05:31] navba-MSFT commented on #23203
@tdn-revan I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you have any questions on this. Awaiting your reply.

[2022-07-22 05:55] #21611 closed

[2022-07-22 06:06] satheshs commented on #23282
@jiasli @yonzhan Can you help me on this

[2022-07-22 06:27] bryn1u commented on #23297
Hey,

In debug mode:
bryn1u$: az aks get-credentials --resource-group rg-*-*--name shipit-*-* --debug
`cli.knack.cli: Command arguments: ['aks', 'get-credentials', '--resource-group', 'rg-*-*', '--name', 'shipit-*-*', '--debug']
cli.knack.cli: __init__ debug log:
Enable color in terminal.
cli.knack.cli: Event: Cli.PreExecute []
cli.knack.cli: Event: CommandParser.OnGlobalArgumentsCreate [<function

[2022-07-22 07:14] Brudem commented on #23271
@necusjz no really a so big story but since the issue can't be reproduced I think it can be closed if you agree.

[2022-07-22 07:15] #23271 closed

[2022-07-22 07:31] yonzhan commented on #23299
route to CXP team

[2022-07-22 08:01] #22906 closed

[2022-07-22 09:18] dilippanwar1 opened #23304 "Please add Azure DevOps Pipeline Release Status CLI"
**Related command**
az pipelines release

**Is your feature request related to a problem? Please describe.**
 am triggering a release through az pipelines release create CLI and I want to poll for the release status. This will help in updating the release status at remote

**Describe the solution you'd like**
az pipelines build list  --status <accepted values: all, cancelling, completed, inProgres

[2022-07-22 09:34] navba-MSFT commented on #23304
Removing CXp attention and adding Service team to look into this issue.

 @v-anvashist, @V-hmusukula Could you please look into this and provide an update ?

[2022-07-22 09:51] yonzhan commented on #23304
route to service team

[2022-07-22 10:07] yanzhudd commented on #22751
Hi @zdelacerda-microsoft, when we update an existing image template resource, the below error is reported. **If the image builder still does not support this update operation?**
![image](https://user-images.githubusercontent.com/105691024/180416632-f3c75312-b560-449d-8019-d947eb17b44a.png)
If so, is parameter **`--defer`** need to be added to **`az image builder validator`** subgroup to manage val

[2022-07-22 11:19] v-anvashist commented on #22869
@omerzubair We need to forward this issue to API team.

Can you please share the complete command for the same?

Thanks,
Anjali

[2022-07-22 11:23] v-anvashist commented on #22625
@omerzubair We have not received any response from API team till now on this issue.

Will update on the same once we will get response from API team.

[2022-07-22 11:25] sunnybhambhani commented on #23304
+1, much needed.

[2022-07-22 11:27] elygre commented on #15475
This suggestion was to add an *example*, in the very useful "Examples" chapter at <https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-enable-addons-examples>. This has very specifically *not happened*. I can't see any reason for not doing this, but I guess you guys decide the quality of your own documentation.

[2022-07-22 11:52] vaclav-stummer opened #23305 "Deprecated documentation page az storage blob directory"
This page for the `az storage blob directory` is not relative anymore as it seems that the cli tool uses `az storage directory instead.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 978a095c-3ead-282f-304f-fb627dad53a4
* Version Independent ID: 43fb2b4e-3f87-f3b8-2e85-ed5812a69ffc
* Content: [az storage blob d

[2022-07-22 12:08] roodee commented on #11695
Thank you @RakeshMohanMSFT. There is no error message anymore. 👍🏽

[2022-07-22 12:56] vaclav-stummer commented on #23305
After further reading of the documentation. I find out the documentation is fine and it is just a bit confusing on the first reading. Keep doing great job 🚀

[2022-07-22 12:58] MichaelFitzTech commented on #23273
Started happening again, tried deleting the file in $temp% again but this didn't work this time.  Any suggestions what is causing this issue?

[2022-07-22 14:10] chrisdoman commented on #18531
For those experiencing crazy slow build processes because of this - I ended up just doing this as a workaround for now:

curl https://(my bucket).s3.amazonaws.com/azure-cli_2.38.0-1_bullseye_all.deb	 --output /tmp/azure.deb
dpkg -i /tmp/azure.deb

[2022-07-22 14:21] ahmedkhamessi opened #23306 "The --destination-ports param is declared as optional for the add filter collection."
[The --destination-ports parameter in the  'az network firewall policy rule-collection-group collection add-filter-collection' is actually not optional as it's required by the api and i can share the debug messages.]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 6638413c-945b-bcfb-faf9-902dc792fbcb
* Version Independe

[2022-07-22 14:47] cata008 commented on #21149
It would be very useful to have this feature implemented as it would allow to have a centralized parameter file with all the values in there. That could be passed in a yml pipeline and sent to the deployment file where only the needed params would be loaded and the rest ignored.

[2022-07-22 15:28] speak2beeb commented on #10039
Yes! I can confirm this now works! Clearly they've fixed it somewhere along the way.
This ticket can be closed! :)

[2022-07-22 15:31] Garwakizashi opened #23307 "az containerapp --yaml fails parsing to json when user assigned identity is included"
**Related command**
`az containerapp create -n container-name -g resource-group --yaml file.yaml`

**Describe the bug**
Using the yaml specification for creating a containerapp, when user assigned identities are specified, it will always say:
`The 'UserAssignedIdentities' property keys should only be empty json objects, null or the resource exisiting property.` (actually the response also has a ty

[2022-07-22 20:02] feiyushi commented on #22751
I see that customizer commands group has the same `--defer` parameter. Considering they face the same issue, I'd say it's ok.

[2022-07-22 21:51] KshitijAgrawal commented on #22751
@zdelacerda-microsoft we dont have any breaking changes right? All of these are new features, so we shouldn't have.

[2022-07-22 22:06] yonzhan commented on #23307
route to CXP team

[2022-07-22 22:06] yonzhan commented on #23306
network

[2022-07-22 22:09] yonzhan commented on #23305
Thanks for your feedback

[2022-07-22 22:09] #23305 closed

[2022-07-22 23:47] zdelacerda-microsoft commented on #22751
there were some small breaking changes. I forwarded the breaking change email thread so they can see what we did. (sorry there are multiple threads of communication between myself and yanzhudd so that is why i'm not replying to all the comments here)

[2022-07-23 00:57] SaurabhSharma-MSFT commented on #23296
@adthorn I do not see any issues with migrating throughput to manual.
![image](https://user-images.githubusercontent.com/38112130/180584223-b07cc537-3235-4a27-9d29-d8e995b71a30.png)

 Did you create your database with provisioned throughput as mentioned over [here](https://docs.microsoft.com/en-us/azure/cosmos-db/set-throughput#set-throughput-on-a-database-and-a-container) before executing the `mi

[2022-07-23 02:11] veerun14 commented on #9190
Make HTTP requests using SDK with CURL or WGET tools if command line is your only option.

[2022-07-23 21:55] 13uilding opened #23308 "Trying to add"
When I was following this doc: https://docs.microsoft.com/en-us/azure/key-vault/keys/quick-create-python?tabs=azure-cli#grant-access-to-your-key-vault

I ran into issues when I would run the command:
`az keyvault set-policy --name <<your-unique-keyvault-name> --upn user@domain.com --secret-permissions delete get list set`

I think my upn might be the issue. I have also read that having a certain v

[2022-07-24 01:34] yonzhan commented on #23308
keyvault

[2022-07-24 09:20] SetTrend commented on #9991
@yugangw-msft: I have the same question:

Is there a way to have Azure CLI automatically purge all the files in `$AZURE_CONFIG_DIR/commands` older than, say, a week?

[2022-07-24 11:40] a54343 opened #23309 "az login: ValueError: Unable to find wstrust endpoint from MEX."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login -u {} -p {}`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-07-24 14:25] yonzhan commented on #23309
@jiasli for awareness

[2022-07-24 18:23] ElvisOkereke opened #23310 "Unable to deploy Bot Framework Project ZIP using AZURE CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment source config-zip --resource

[2022-07-24 23:27] yonzhan commented on #23310
route to CXP team

[2022-07-25 02:23] omerzubair commented on #22869
Hi @v-anvashist , there is no doco, API or cmdlet to share as I could not find it.

[2022-07-25 02:31] jiasli commented on #23309
Duplicate of https://github.com/Azure/azure-cli/issues/20221

[2022-07-25 02:58] #23309 closed

[2022-07-25 02:59] jiasli commented on #9991
Contents in `$AZURE_CONFIG_DIR/commands` are indeed automatically purged. These files are used for `az feedback`.

https://github.com/Azure/azure-cli/blob/bae390c813d7df0eb49f3c1d1128848aca26e81a/src/azure-cli-core/azure/cli/core/azlogging.py#L66-L82

[2022-07-25 03:02] jiasli commented on #23282
As indicated by the error message, please follow the instruction at https://docs.microsoft.com/cli/azure/use-cli-effectively#work-behind-a-proxy

[2022-07-25 03:35] #22751 closed

[2022-07-25 04:20] navba-MSFT commented on #23143
@lovigano I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-07-25 04:32] v-anvashist commented on #22869
@omerzubair We will forward this issue to API team and update the same if we will get any response from them.

[2022-07-25 05:23] gaurav-mittal-helm opened #23314 "Commands are obsolete"
Getting below error.
# az ad signed-in-user show
This command or command group has been migrated to Microsoft Graph API. Please carefully review all breaking changes introduced during this migration: https://docs.microsoft.com/cli/azure/microsoft-graph-migration
/me request is only valid with delegated authentication flow.
#
---

[2022-07-25 05:27] navba-MSFT commented on #23203
@tdn-revan The action is currently pending on you to test the above suggestion. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-25 05:27] #23203 closed

[2022-07-25 05:32] navba-MSFT commented on #23224
@khaleelyousuff81 The action is currently pending on you to follow the above steps. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-25 05:32] #23224 closed

[2022-07-25 05:35] v-anvashist commented on #23304
@sunnybhambhani  We are consuming API's in CLI service and not able to find this feature support in API doc of az  pipelines release

https://docs.microsoft.com/en-us/cli/azure/pipelines/release/definition?view=azure-cli-latest

Do we have any API doc on this feature please let us know?

[2022-07-25 05:43] navba-MSFT commented on #23226
@QuantumAtom The action is currently pending on you to isolate the issue by running the command without the --enable-addons switch. Please feel free to reopen this issue once you have these details. We would be happy to help.

[2022-07-25 05:43] #23226 closed

[2022-07-25 05:46] navba-MSFT commented on #23228
@WilliamDAssafMSFT I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had a chance to follow the above suggestion. Awaiting your reply.

[2022-07-25 06:03] yonzhan commented on #23314
@jiasli for awareness

[2022-07-25 06:46] jiasli opened #23315 "SPython and SAW support"
Azure CLI should use SPython in order to be able to run on SAW (Secure Admin Workstation).

[2022-07-25 06:46] calvinhzy commented on #21875
Sorry about this. It was an oversight, the current behavior is that download/download-batch does not have overwrite option, user will need to rename or remove the files in the destination directory.

[2022-07-25 06:50] zhoxing-ms commented on #22182
We have a PR #23200 to support this feature, and it will be released in 08-02

[2022-07-25 06:50] #22182 closed

[2022-07-25 07:03] RakeshMohanMSFT commented on #23310
@ElvisOkereke Thank you for reaching out, we are looking into it.

[2022-07-25 07:21] Ashishpatel2321 opened #23316 "azure login issue."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-07-25 07:43] PARADISSEEKR commented on #22470
Hi @lsweeney24 , The return value of  `az stack-hci cluster upload-certificate` and `az stack-hci extension update` form service is wrong(Operation returned an invalid status 'OK', [error](https://github.com/Azure/azure-cli-extensions/pull/5132/files#diff-bd591a247bc308f09abca52167a77d46d49e40aca784c6f4a3aceeda513138df)), could you please fix it, or remove it as before?

[2022-07-25 07:46] jiasli commented on #23316
Duplicate of #20388

[2022-07-25 07:46] #23316 closed

[2022-07-25 08:25] jiasli commented on #20507
@rjsalicco,

Tenant ID is specified **by the user** via the `--tenant` argument in `az login`, such as:

[code]

That's why it is a user error.

If you don't specify `--tenant`, `az login` with use a special tenant called `organizations`:

https://github.com/Azure/azure-cli/blob/7e8a4d9d0d6dc621d13a7fac4d4104b1d34a3f6a/src/azure-cli-core/azure/cli/core/auth/identity.py#L362

It will never raise th

[2022-07-25 09:51] sgsvetko commented on #23261
Any update on the topic?

[2022-07-25 09:55] lsweeney24 commented on #22470
Hello, we don’t need these cmdlets implemented, so that is ignorable. Here is a reference to what cmdlets we are looking for

Using this PR - https://github.com/Azure/azure-powershell/pull/18559, the cmdlets we don’t want are “Update-AzStackHciExtension”, “Invoke-AzStackHciUploadClusterCertificate”, “New-AzStackHciArcSettingPassword”, “Update-AzStackHciArcSetting”. The rest from the Swagger spec a

[2022-07-25 10:20] yonzhan commented on #23315
SAW support

[2022-07-25 11:15] rjsalicco commented on #20507
@jiasli, as you note:

_If you don't specify --tenant, az login with use a special tenant called organizations:_

and that behavior, as expected above, was failing

no worries, thank you.

[2022-07-25 12:03] vtoxi opened #23317 "Unable to run az bicep decompile command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az bicep version`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az bicep version`

## Expected Behavior

## Environment Summary
[code]

[2022-07-25 12:48] annullator commented on #23261
You can rollback to 2.37 and it works. Hopefully it's fixed in the next version.

[2022-07-25 13:39] yonzhan commented on #23317
route to CXP team

[2022-07-25 14:06] RakeshMohanMSFT commented on #23310
@ElvisOkereke Hope you are passing --src the correct path with /filename.zip,

[2022-07-25 14:20] sf-declanomalley opened #23318 "Bicep : Values for request parameters are invalid: networkAcls.virtualNetworkRules[*].id"
**Related command**
[code]
**Describe the bug**
receive the following message on deployment
[code]

**To Reproduce**
[code]
**Expected behavior**
table storage account to be created with network access disabled by default with access through the 2 subnets defined earlier within the virtualnetwork resource definition

**Environment summary**
[code]

**Additional context**
the same configuration wor

[2022-07-25 14:25] RakeshMohanMSFT commented on #23317
@vtoxi We are unable to reproduce this issue, with similar environment. Can you please uninstall and reinstall the CLI and try again?
`az bicep version`
Bicep CLI version 0.8.9 (33a85174de)

`az version`
{
  "azure-cli": "2.38.0",
  "azure-cli-core": "2.38.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {}
}

[2022-07-25 14:29] temidayo0301 commented on #22637
Hello @jsntcy

Please find attached as requested. Thank you.
[test.txt](https://github.com/Azure/azure-cli/files/9182030/test.txt)

[2022-07-25 14:49] liranms commented on #23235
the most straightforward scenario you can think of - create a continuous export to eventhub, as your documentation describes here:
https://docs.microsoft.com/en-us/azure/defender-for-cloud/continuous-export?tabs=rest-api

[2022-07-25 15:02] dmexs commented on #23050
I'm having the same issue:

Linux-5.15.0-1014-azure-x86_64-with
Python 3.6.10
Installer: DOCKER

azure-cli 2.9.1

Is there a private channel for me to share the debug logs?

[2022-07-25 15:10] Anakinn opened #23319 "az redis force-reboot message"
**Related command**
az redis force-reboot

**Describe the bug**
Output message: "message": "The requested reboot operation for 'Value' has been successfully scheduled and should be executed shortly."

**To Reproduce**
run az redis force-reboot

**Expected behavior**
Should display resource name insted of 'Value'
"message": "The requested reboot operation for 'resourceName' has been successfully sc

[2022-07-25 15:58] doggy8088 opened #23320 "`az login --use-device-code` should always show device code"
**Related command**

[code]

**Describe the bug**

I previously configured `only_show_errors = true` in my azure cli config file. That cause `az login --use-device-code` show nothing on the screen and it looks like a bug.

**To Reproduce**

[code]

**Expected behavior**

I expected the `az login --use-device-code` should always show device code for login purpose.

**Environment summary**

[code]

[2022-07-25 15:58] BCOps commented on #21156
@yonzhan @necusjz @HemantErappa  - Do you have any update on when this may be looked into on the service side at all?

[2022-07-25 16:15] maxwmsft commented on #22595
+1  I would like this ability as well. I currently script creation of a VM and bastion with az cli, and need to then open the portal and manually enable native client. It would be very nice to be able to set that with the cli, so I don't have to do this manual step every time.

[2022-07-25 16:20] skylaro opened #23321 "Require additional parameters for linux app service deployments"
[Enter feedback here]
Docs to change: https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-create-required-parameters
Changes recommended:
1. Instead of being optional, any of the following tags should be required:
--deployment-container-image-name -i
--multicontainer-config-file
--runtime -r

2. Ensure that they remain optional for windows deployments.

---
#### Docum

[2022-07-25 16:55] WilliamDAssafMSFT commented on #23228
I was using the Azure Cloud Shell within Windows Terminal locally on my Win11 device.

[2022-07-25 16:58] dorlugasigal opened #23322 "is there an equivalent for show-default in az ml cli v2?"
**Related command**
```az ml datastore show-default -w workspace-name -g rg-name --query name -o tsv```

**Describe the solution you'd like**
trying to build azure ml pipeline with Github actions, and for using some of the commands I need to use azure ml v2
is there an equivalent for `show-default` command in v2?

**Describe alternatives you've considered**
I tried looking for the `isDefault` key

[2022-07-25 19:26] SaurabhSharma-MSFT commented on #23236
@julian-code Engg. team working on finding the root cause of it. I will update you as soon as I hear back from them.

[2022-07-25 19:32] SaurabhSharma-MSFT commented on #23276
@shiftychris We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-07-25 19:32] #23276 closed

[2022-07-25 19:37] avinashakka commented on #16912
@yungezz Any update on this? This was supposed to go in 3/25/2021 but looks like it still hasn't been completed: https://docs.microsoft.com/en-us/cli/azure/vm/disk?view=azure-cli-latest#az-vm-disk-detach. Is there an ETA on this?

[2022-07-25 19:53] gunjanj commented on #15520
Thanks for raising this issue. We are aware of the API issue that was recently introduced. We are working on rolling out the fix. The issue can occur when you use API to update the config to policy.  If you're using [migration script](https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/migrate-policy) or Firewall Manager integration, you will also encounter this issue.

Meanwhile, t

[2022-07-25 20:27] bryn1u commented on #23297
For 2.37 works and olders. The problem is with 2.38 version :(

[2022-07-25 20:45] SatishBoddu-MSFT commented on #23114
We are routing this to Service teams for further attention!

[2022-07-25 20:49] SatishBoddu-MSFT commented on #22885
Routing to the Service Team's attention!

[2022-07-25 21:18] jashwanth opened #23325 "Support for EnableFatFlowLogging parameter on Azure Firewall"
**Resource Provider**
Network (NRP)

**Description of Feature or Work Requested**
Need to add a new parameter named EnableFatFlowLogging to the base command of creating the Firewall.
az network firewall create -g MyResourceGroup -n MyFirewall --enable-fat-flow-logging true

Only parameter needed is:

enable-fat-flow-logging
Default value is false

No NRP/Swagger change needed
**Additional context*

[2022-07-25 21:25] jashwanth commented on #23325
Powershell PR for reference
https://github.com/Azure/azure-powershell/pull/18992

[2022-07-25 21:28] olehb commented on #23262
Any update on this regression issue?

[2022-07-25 21:43] jashwanth commented on #23325
Original PR : https://github.com/Azure/azure-powershell/pull/18948

Field renames after discussion with PM team:
https://github.com/Azure/azure-powershell/pull/18992

[2022-07-25 22:27] yonzhan commented on #23318
route to CXP team

[2022-07-25 22:28] yonzhan commented on #23319
route to CXP team

[2022-07-25 22:28] yonzhan commented on #23320
@Jiasli for awareness

[2022-07-25 22:30] yonzhan commented on #23321
route to CXP team

[2022-07-25 22:30] yonzhan commented on #23322
route to CXP team

[2022-07-25 22:35] yonzhan commented on #23325
network feature

[2022-07-26 00:54] SaurabhSharma-MSFT commented on #23319
@Anakinn We are looking into it and get back to you for any additional information.

[2022-07-26 01:55] evelyn-ys commented on #23262
@bebound Can you check if this is caused by track2 migration?

[2022-07-26 02:35] zhoxing-ms commented on #16912
@avinashakka Sorry, due to re-org, our team is currently responsible for the feature requests related to VM. I'm sorry we didn't realize this request before.
We will plan to develop and release it in the next sprint (**09-06**), this is the fastest time we can release. May I ask is this time acceptable?

[2022-07-26 02:38] caroysMSFT opened #23327 "Handling $skipToken in az rest doesn't work properly"
**Related command**

az rest

**Describe the bug**

When you are working with the az rest command, you may find that some REST API's cut you off at a lower threshold than 1000 (in the case of listing ADF pipelines, it's 50).  When this happens, you get a nextLink element in the returned JSON which gives you a URI with a $skipToken baked in which lets you fetch the next page of results.

When you a

[2022-07-26 02:48] necusjz commented on #23325
@jashwanth, we cannot support this feature since the swagger is not ready.

[2022-07-26 03:02] navba-MSFT commented on #23321
Adding Service team to look into this ask.

@AzureAppServiceCLI @antcp Could you please look into this and provide an update ?

[2022-07-26 03:10] justathoughtnz opened #23328 "Unable to use cloud shell from portal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --identity`

## Expected Behavior

## Environment Summary
[code]
## Ad

[2022-07-26 03:13] navba-MSFT commented on #23242
@FalkoWienBBT Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-26 03:27] navba-MSFT commented on #23318
@sf-declanomalley Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-26 03:27] RakeshMohanMSFT commented on #23297
@bryn1u Let me check again and get back to you

[2022-07-26 03:45] yonzhan commented on #23327
@jiasli for awareness

[2022-07-26 03:46] yonzhan commented on #23328
@jiasli for awareness

[2022-07-26 04:16] navba-MSFT commented on #22599
@GMZwinge This issue is now addressed. The action is pending on you now to test the command again. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-26 04:16] #22599 closed

[2022-07-26 04:18] jsntcy commented on #22637
@tallywizu, @temidayo0301, I used the file you provided above, but cannot reproduce the issue (I can run the command `az portal dashboard update` with your json file correctly.), could you please provide more details?

![image](https://user-images.githubusercontent.com/16348853/180921574-25ce8b40-0e8d-4b9f-852a-5a431c735b01.png)

[2022-07-26 04:24] navba-MSFT commented on #23228
@WilliamDAssafMSFT Thanks for getting back. Could you please test this using PS with Az CLI ? That should help. Awaiting your reply.

[2022-07-26 04:49] RakeshMohanMSFT commented on #23297
@bryn1u even with 2.38.0 i am unable to reproduce this issue, can you try uninstalling and reinstalling az cli please? in the meantime i will consult product team.

user@testforvm:~$ az aks get-credentials -g "IOT-Resources" -n "MyManagedCluster24"
Merged "MyManagedCluster24" as current context in /home/user/.kube/config
user@testforvm:~$ az version
{
  "azure-cli": "2.38.0",
  "azure-cli-core": "

[2022-07-26 05:38] navba-MSFT commented on #23318
@sf-declanomalley Could you please provide the action in your template as shown below ?

                               {
                                 "id": "[parameters('subnetId')]",
                                 **"action": "Allow"**
                               }

Refer the sample bicep template for the Storage Account [here](https://docs.microsoft.com/en-us/azure/templates/microsoft.

[2022-07-26 06:04] jiasli commented on #15369
Duplicate of #13855

[2022-07-26 06:04] jiasli commented on #23328
Duplicate of https://github.com/Azure/azure-cli/issues/13855

[2022-07-26 06:08] jiasli commented on #23327
This is not related to Azure CLI, but a PowerShell usage question. See

- https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_quoting_rules?view=powershell-7.2
- https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#use-quotation-marks-in-parameters

[2022-07-26 06:11] #23327 closed

[2022-07-26 06:13] jiasli commented on #20507
Could you share the full error message for us to investigate?

[2022-07-26 06:16] evelyn-ys commented on #23308
I think it's the wrong `upn` which causes this issue. You can check your upn name in Portal:
![image](https://user-images.githubusercontent.com/10227683/180936326-be07003a-8bf1-489b-be4a-1e24dc68eda7.png)

Or you can provide your object id directly with `az keyvault set-policy --name {} --object-id {} --secret-permissions {}`

[2022-07-26 06:54] FumingZhang commented on #23297
Hey @bryn1u, could you please help check which apt source did you install azure-cli from?

I followed this [wiki](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt#option-2-step-by-step-installation-instructions) and installed `azure-cli=2.38.0-1~bullseye` (`https://packages.microsoft.com/repos/azure-cli/` as source) on [`kalilinux/kali-rolling:latest`](https://hub.dock

[2022-07-26 06:55] #23328 closed

[2022-07-26 06:55] #15369 closed

[2022-07-26 06:56] PawelMJanicki opened #23333 "Issue with AKS connectivity using az cli"
Dear All,

**Related command**
[code]

**Describe the bug**
it is impossible to connect to the AKS cluster from the Cloud Shell and BASH scripts executed within the CI/CD. Errors point to EntityStoreOperationError. Examples of failing commands with outputs are presented below

[code]

[code]

**To Reproduce**
trigger commands

**Expected behaviour**
it is possible to obtain credentials and connect

[2022-07-26 07:16] #23262 closed

[2022-07-26 07:24] #22932 closed

[2022-07-26 07:28] #21875 closed

[2022-07-26 07:30] calvinhzy commented on #21875
We are adding --overwrite in 2.39.0 without changing existing behavior, (for download overwrite by default, and for download-batch does not overwrite by default)

[2022-07-26 08:28] KeeveySongMS opened #23334 "TDE name is fixed coding as "current", thus this information should be mentioned in the documentation and the example should be modified to use "current" as TDE name"
TDE name is fixed coding as "current", thus this information should be mentioned in this documentation and all the examples in the doc should be modified to use "current" as TDE name
for example:
--transparent-data-encryption-name current

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1a60f739-3b96-2f08-03e9-6bd11b73a6

[2022-07-26 09:17] navba-MSFT commented on #23242
@FalkoWienBBT Could you please confirm if you ran this from the Cloud Shell ? If Yes, please try to run the same command using the PS with Azure CLI and let us know if you see the same issue.

If you see the same issue again, please share the --debug output here. Awaiting your reply.

[2022-07-26 10:03] yonzhan commented on #23333
route to CXP team

[2022-07-26 10:07] yonzhan commented on #23334
route to CXP team

[2022-07-26 10:28] sf-declanomalley commented on #23318
virtual network resource below
[code]

[2022-07-26 10:33] navba-MSFT commented on #23318
@sf-declanomalley Could you confirm if you have tested using the [above](https://github.com/Azure/azure-cli/issues/23318#issuecomment-1195027293) plan? Did that help?

[2022-07-26 10:34] sf-declanomalley commented on #23318
just to add to this , I've found a workaround. I have moved the creation of the storageAccount into a module passing in the virtual network as a parameter , that works. it doesn't if the same definition exists in main.bicep
[code]

I tried adding "action" previously. the same error is returned
[code]

[2022-07-26 12:18] kirun141 commented on #13728
I am writing a groovy script for the automatic deployment i am having the similar issue but it still throws me the error as in the context of this ticket.
Sample of the script is here
'''az storage blob delete-batch -s "\$web" --account-name ''' + AZURE_STORAGE_ACCOUNT_NAME_DEV + ''' --account-key ''' + AZURE_STORAGE_ACCOUNT_KEY_DEV

any issues with the above command

[2022-07-26 12:22] navba-MSFT commented on #23318
@sf-declanomalley Thanks for getting back and sharing the update. I had used the sample bicep available here:
[vnet.bicep](https://gist.githubusercontent.com/Jeroen-VdB/1cdf6995022b5391969d67f9e906a620/raw/cdbd7f5927c6c6352ac789a8e72cd61a040257da/vnet.bicep), [Main.bicep](https://gist.githubusercontent.com/Jeroen-VdB/1cdf6995022b5391969d67f9e906a620/raw/cdbd7f5927c6c6352ac789a8e72cd61a040257da/mai

[2022-07-26 12:34] iaacautomation commented on #22697
I think its better to just use
[code]

[2022-07-26 13:52] v-saadsaiyed commented on #22534
Hi there @sstoops I looked at the backend logs from the ticket you create on the support portal and I just wanted to post my finding here for others if they have similar issue.

The backend shows "Received '1' resources. Returning '0' resources after filtering."
This means that the get request for the recommendation is actually returning 1 resource but after the ARM filter it seems final request r

[2022-07-26 14:04] sf-declanomalley commented on #23318
hi @navba-MSFT , thanks for the above approach. That is how I managed to workaround the issue in the end.

Is this however the expected behaviour? if so is there any documentation that explains why the same approach doesn't work when deploying difference resources ?

please see the 2 attached main.bicep files. one deploying keyvault, one deploying tablestorage. both have the configuration. keyvaul

[2022-07-26 14:11] callumhester commented on #21156
I am also receiving the same issue, has anyone been able to resolve this?

[2022-07-26 15:01] uglywarthog commented on #8388
Yes, this is how it works. I have been struggling with creating and using proper consumption plan for functions and just have found out that if you create a plan in given location, the if you create functionapp in the same location it will use the plan.

Not how it should work though 😕

[2022-07-26 15:03] leoroullois opened #23337 "azure-cli bug when trying az create container"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container create --resource-group {} --name {} --image {} --dns-n

[2022-07-26 15:04] yonzhan commented on #23337
route to CXP team

[2022-07-26 15:50] specialbrew opened #23338 "az login failures"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-07-26 16:58] bryn1u commented on #23297
So is there any way to block installing azure-cli from kali-rolling and use microsoft instead of? I will check maybe that's causing the problem.

[2022-07-26 17:27] sgsvetko commented on #23261
Good point, i gave it a chance, but once i start Azure RDP native client with az account set ************ it automatically start upgrade process to azure cli 2.38 , even if i cancel the update, update process starts again
New Azure CLI version available. Running 'az upgrade' to update automatically...so your suggestion doesn't help a lot
This command is in preview and under development. Reference

[2022-07-26 17:31] annullator commented on #23261
You run "AZ config set auto-upgrade.enable=no" to turn off the auto update.

[2022-07-26 18:22] Saglodha commented on #23270
@yuanchenCY - You can try to use CLI version 2.37.0 for Azure China environment. Please let us know if you bump into any issues there as well.

[2022-07-26 19:06] ToxicGLaDOS opened #23340 "az acr task credential add crashes when given a password but no username"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When running `az acr task credential add` I ran into this error message. Because the error message referenced a `NoneType` I figured I was missing something and it turned out to be the username. The command worked correctly after I ran it with the username, but this should probably give an error message rather

[2022-07-26 21:06] sgsvetko commented on #23261
Great!!!!! Works perfect.
Thanks a lot !!!

[2022-07-26 21:16] SaurabhSharma-MSFT commented on #23235
@liranms Regarding [az security automation-action-event-hub](https://docs.microsoft.com/en-us/cli/azure/security/automation-action-event-hub?view=azure-cli-latest), it’s a utility command that allows to create automation action PS Object (see more detail about automation action [here](https://docs.microsoft.com/en-us/rest/api/securitycenter/automations/create-or-update?tabs=HTTP#automation) – look

[2022-07-26 22:43] SaurabhSharma-MSFT commented on #23319
@Anakinn I am able to reproduce the issue and issue looks like at service end so redirecting this to services team to look into this.

[2022-07-26 22:53] arsenvlad opened #23341 "az vm list-skus filtering out VM sizes that are available regionally when they are restricted in all zones"
**Related command**
az vm list-skus

**Describe the bug**
The current logic for "vm list-skus" is filtering out VM sizes that are available regionally when they are restricted in all zones. Relevant code line is this https://github.com/Azure/azure-cli/blob/b4759064b7e38203ef9d67a581105206a17f513b/src/azure-cli/azure/cli/command_modules/vm/custom.py#L1285

This does not appear to be correct behavio

[2022-07-26 23:10] avinashakka commented on #16912
We need this ASAP as we discovered that this is still not supported when a customer tried it directly and saw it wasn't working.
@zhoxing-ms Please try to get this in as soon as possible. [Tagging @ramankumarlive, @smotwani also for visibility]

[2022-07-27 00:03] yonzhan commented on #23338
@jiasli for awareness

[2022-07-27 00:11] yonzhan commented on #23340
route to CXP team

[2022-07-27 00:16] yonzhan commented on #23341
@zhoxing-ms for awareness

[2022-07-27 00:52] VedAustin opened #23342 "When running `az` I get `No such file or directory`"
**Related command**

**Describe the bug**
Installing azure cli on Mac M1 and after installation is complete, and I run the `az` command, it returns
[code]

**To Reproduce**
Followed all the steps under installing azure-cli for MacOS. The only difference being I used `ibrew` instead of `brew` since I have to use the rosetta terminal for all my applications.

**Expected behavior**

**Environment sum

[2022-07-27 01:47] #20280 closed

[2022-07-27 01:59] RakeshMohanMSFT commented on #23340
@ToxicGLaDOS Thank you for reaching out, we are looking into it.

[2022-07-27 02:00] RakeshMohanMSFT commented on #23334
@KeeveySongMS Thank you for reaching out, we are looking into it.

[2022-07-27 02:01] zhoxing-ms commented on #16912
@avinashakka Before the official release of next sprint (09-06), we will generate the private packages through [edge build](https://github.com/Azure/azure-cli/blob/dev/doc/try_new_features_before_release.md) and then you can provide it to customer.
He can use the private package in advance, so he should not be blocked. Does this meet your expectations?

[2022-07-27 02:02] RakeshMohanMSFT commented on #23337
@leoroullois Thank you for reaching out to us, Can you please upgrade to the latest version of Az CLI [2.38.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)? and retry again.

[2022-07-27 02:53] navba-MSFT commented on #22373
@toastedonion Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-07-27 02:54] bebound commented on #23342
I install `ibrew` but I can't reproduce this. It works as expected.

Why the installed version is `2.36.0` rather than `2.38.0` on your computer?

[2022-07-27 03:03] navba-MSFT commented on #23143
@lovigano The action is currently pending on you to test on powershell with az cli (on Windows machine). We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-07-27 03:03] #23143 closed

[2022-07-27 03:25] FumingZhang commented on #23297
I suppose you could use [pinning](https://help.ubuntu.com/community/PinningHowto) to set higher priority for the microsoft source.

[2022-07-27 04:18] luisve1427 opened #23343 "Unable to install Azure CLI: File has unexpected size (11552 != 11770). Mirror sync in progress?"
**Related command**
apt-get update -y
apt-get install ca-certificates curl apt-transport-https lsb-release gnupg -y
curl -sL https://packages.microsoft.com/keys/microsoft.asc |
    gpg --dearmor |
    tee /etc/apt/trusted.gpg.d/microsoft.gpg > /dev/null
AZ_REPO=$(lsb_release -cs)
echo "deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ $AZ_REPO main" |
    tee /etc/apt/sources.list.d

[2022-07-27 05:11] svallebro commented on #23343
We are also experiencing this!
It also happens when running inside of docker build.
From another IP 137.135.134.16

[2022-07-27 05:48] yuanchenCY commented on #23270
@Saglodha I tried 2.37.0, but also failed:
![image](https://user-images.githubusercontent.com/75459922/181170564-4e16724b-af7d-40f3-81fb-66fcc6c72e51.png)
We found there is no update command in 2.37.0:
![image](https://user-images.githubusercontent.com/75459922/181170784-d5a8375b-b6b7-4830-a6e6-0d493504b92c.png)

[2022-07-27 07:06] svallebro commented on #23343
It seems related to the release of  #22161

[2022-07-27 07:09] jiasli commented on #23343
It is irrelevant.

We worked with Microsoft Linux Repo team to fix this issue. Please retry the installation and let us know if it is now working. Thanks.

[2022-07-27 07:11] #22938 closed

[2022-07-27 07:34] svallebro commented on #23343
This now works for me.
Great work.

If one finds similar issues with the https://packages.microsoft.com/repos/
What is the best way to notify the right team from outside, i.e. the Microsoft Linux Repo team, and where can one learn that kind of stuff?

I would imagine that @jiasli can't be this responsive all the time.

[2022-07-27 07:43] necusjz commented on #21156
Updates:

I have contacted with the service team. "CanceledAndSupersededDueToAnotherOperation" means if customer performed multiple PUT operations in quick succession on the same appgw resource, then the previous one gets cancelled and superseded by the new one.

So, it's expected and by design. We can add some time sleeps to wait for previous PUT calls to complete as a workaround.

[2022-07-27 08:01] #23106 closed

[2022-07-27 08:01] #22910 closed

[2022-07-27 08:56] FumingZhang commented on #23333
Hey @PawelMJanicki, from the information you provided, this error (EntityStoreOperationError) occurs on the server side. Please retry the command/operation later or open a support ticket via Azure Portal if the error still occurs.

[2022-07-27 09:01] #23340 closed

[2022-07-27 09:04] FumingZhang commented on #23169
cc @alexeldeib

[2022-07-27 09:20] navba-MSFT commented on #23333
@PawelMJanicki Thanks for reaching out to us and reporting this issue. Hope you had a chance to look at the above comment by @FumingZhang. Please let us know if you are still seeing the same issue after a retry operation. Awaiting your reply.

[2022-07-27 09:50] yanzhudd commented on #16912
Hello @avinashakka, could you please help to confirm below two questions?

- Since multi-word parameter should be hyphenated in our cli's naming convention, we recommend that the parameter should be changed to `--force-detach` format.
- Is this paramater **only** supported in `az vm disk detach`? Or also supported in `az vmss disk detach` or other groups?

[2022-07-27 10:28] FumingZhang commented on #23151
Hi @dmitrymorozovnoveo, could you please help confirm when executing the above command there is an output similar to the following,
`Merged "<cluster-name>" as current context in C:\Users\<some-temp-path>`

In this command, `az aks get-credentials` will be called first to get the kubeconfig of the cluster. Judging from your error message, getting the kubeconfig failed. Make sure you have permissio

[2022-07-27 10:34] RakeshMohanMSFT commented on #10636
This issue is resolved

[2022-07-27 10:34] #10636 closed

[2022-07-27 10:35] FumingZhang commented on #23165
Hi @bhandariakshay1601, if the current directory is used as the environment where the configuration file is located, per my understanding, this command should be used like
`az aks command invoke --resource-group <> --name <> --command "kubectl kustomize" --file "."`

[2022-07-27 10:47] alexszym opened #23348 "Definitions created using 'az synapse spark-job-definition create' do not show in the Workspace UI"
**Related command**
`az synapse spark-job-definition create --workspace-name <workspace> --name <job-name> --file @"folder\sparkjob.json"`

**Describe the bug**
When using 'az synapse spark-job-definition create' command I am able to create a sparkjob definition, however that definition is not then visible in the Synapse Workspace UI. I am however able to see it when calling 'az synapse spark-job-

[2022-07-27 10:55] RakeshMohanMSFT commented on #23348
@alexszym Thank you for reaching out, we are looking into it.

[2022-07-27 11:12] yonzhan commented on #23348
route to CXP team

[2022-07-27 11:32] PawelMJanicki commented on #23333
Thanks. The issue didn't occur again. Indeed it seems that this was a problem on the server site, nevertheless, AKS reported a healthy state.

[2022-07-27 11:53] h-vetinari commented on #16526
I know how to do this, but it's most likely 10-20 hours or more of initial work (not counting the reviewers in staged-recipes), and then probably 2-3h a months to keep all the many tiny packages up-to-date. I'd like to have azure-* in conda-forge (the most integrated, complete, and also license-free channel), but this is too much & too one-sided for volunteer work.

I doubt that anyone would want

[2022-07-27 12:04] danielfebres1992 opened #23349 "az account get-access-token returns an error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I'm trying to get an access token via prompt, and always returns the same error.

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
Doing az login
then acc

[2022-07-27 12:25] #23349 closed

[2022-07-27 13:25] luisve1427 commented on #23343
this is now working, thanks for the help

[2022-07-27 13:25] #23343 closed

[2022-07-27 15:22] specialbrew commented on #23338
Turns out the machine I am using is having network issues attempting to reach login.microsoft.us. I will close this as it does appear to be an issue with azure

[2022-07-27 15:22] #23338 closed

[2022-07-27 15:38] sirfamelin commented on #23144
@zhoxing-ms , I just got around to checking the PR, I see the message to encourage users to enable vtpm and secureboot, but I don't see the warning message of the upcoming breaking change.

On that note, I would like to revisit enabling vtpm as a breaking change. By enabling vTPM by default, there's no impact or disruptions to customer workloads. Secureboot is a breaking change, I agree, but I thi

[2022-07-27 16:50] ahmedkhamessi opened #23351 "private DNS link VNET creation with DNS and VNET not in the same resource group"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network private-dns link vnet create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az network vnet create -g $RG1 -n $HubVnet --address-prefix $HubAddressSpace \
    --sub

[2022-07-27 17:21] VedAustin commented on #23342
That is an interesting question:
When I run `az`, it shows up in `/opt/homebrew/Cellar/azure-cli/2.36.0/`
But when I try to uninstall azure-cli, it does it from this loc: `/usr/local/Cellar/azure-cli/2.38.0`

[2022-07-27 18:52] VedAustin commented on #23342
I resolved it by uninstalling azure-cli from `arch:amd 64` and only having it under `i386`

[2022-07-27 18:52] #23342 closed

[2022-07-27 19:15] satheshs commented on #23282
[code]

I am getting 200 reponse

[2022-07-27 19:15] Saglodha commented on #23270
@yuanchenCY - Thanks for sharing details, update cmdlet was released in latest release hence it is probably not deployed in China environment

We should be pushing another update that should resolve this. 2nd week of August should be ETA.

[2022-07-27 19:42] EldertGrootenboer commented on #22834
We are looking into this, and will come back when we have more information.

[2022-07-27 20:21] Bashar-MSFT commented on #20573
@mahfooziiitian can you please check the answer and resolve this ?

[2022-07-27 22:20] vinaysurya commented on #22834
@amoradiaz this is expected behavior by design. The behavior has been documented here as well.

https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-auto-forwarding#using-autoforwarding

Unfortunately, today there is no mechanism to relay the inactiveness of destination entity on to the source entity and clean that up as well.

It has typically been our belief that Autoforwardi

[2022-07-27 22:20] #22834 closed

[2022-07-27 23:46] yonzhan commented on #23351
network

[2022-07-27 23:53] SaurabhSharma-MSFT commented on #23290
@t-bzhan ok, got it.  I am looking into it and update you on my findings.

[2022-07-28 01:26] yuanchenCY commented on #23270
Thanks @Saglodha for sharing the plan with us. Looking forward to the new update to Azure China.

[2022-07-28 01:45] #22470 closed

[2022-07-28 01:50] sheridanharrison-msft opened #23354 "documentation lacks examples of content parameter"
The examples are not documenting what the body of the content parameter should contain beyond indicating it can be json or a path to a json file.  What does the json look like? Please provide examples of the content parameter for all of these CLI commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 423b46b0-9716-ed

[2022-07-28 01:58] RakeshMohanMSFT commented on #23354
@sheridanharrison-msft Thank you for reaching out to us, you can find more information about the content here in the Rest API documentation https://docs.microsoft.com/en-us/rest/api/iotcentral/1.2-previewdataplane/devices/create-attestation?tabs=HTTP#request-body

[2022-07-28 02:29] zhoxing-ms commented on #23144
@sirfamelin I'd like to ask why enabling vTPM will not cause breaking change to users? Could you guarantee that the vTPM will only add new feature to users, but not affect the existing features of users?

[2022-07-28 02:33] zhoxing-ms commented on #23144
By the way, since this question was raised late and we will launch the release of the new CLI version tomorrow, I suggest that the warning message of breaking change and the behavior of enabling vTPM by default be added in the next sprint (09-06), do you think it's acceptable?

[2022-07-28 02:54] nazana01 opened #23355 "Login Failed: Decryption failed: [WinError -2146893813] Key not valid for use in specified state"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --use-device-code`

## Expected Behavior

## Environment Summary
[code

[2022-07-28 02:56] #23334 closed

[2022-07-28 02:56] #23299 closed

[2022-07-28 03:23] navba-MSFT commented on #22373
@toastedonion` az aks command invoke `(the run command feature) is not designed for long running operations. There's a hard limit in the resource provider side that the operation would expire in 30 mins. In CLI side, the timeout for polling results is 5 minutes (300 seconds). So the issue is by design.

The `--no-wait` option used to not work, but should have been fixed in latest cli version (2.38

[2022-07-28 03:37] necusjz commented on #23351
@ahmedkhamessi, sorry, I didn't catch your point.

The reason for not being in the same resource group is because $RG1 and $RG2 are different, right? Could you create them in the same resource group?

[2022-07-28 03:44] garvkariya opened #23357 "Spelling mistake in SQL Managed Instance CLI"
# There is a spelling mistake in SQL Managed Instance CLI document:

Places where "Azure Active Directory" need to be mentioned in this document,
Instead "Azure Active Directly" is been used, Directly should be replaced with Directory,
In Commands section for below document:

Link: https://docs.microsoft.com/en-us/cli/azure/sql/mi?view=azure-cli-latest#commands

- az sql mi ad-only-auth | Manage a

[2022-07-28 03:45] #16912 closed

[2022-07-28 03:50] zhoxing-ms commented on #16912
@avinashakka `az vm disk detach` has supported `--force-detach` in PR #23346, we will release it in this sprint (**08-02**). If you also need `az vmss disk detach` to support `--force-detach`, please create a new feature request, thanks~

[2022-07-28 04:27] yonzhan commented on #23354
route to CXP team

[2022-07-28 04:29] yonzhan commented on #23355
Duplicate of https://github.com/Azure/azure-cli/issues/20231

[2022-07-28 04:29] #23355 closed

[2022-07-28 04:32] yonzhan commented on #23357
route to CXP team

[2022-07-28 04:53] RakeshMohanMSFT commented on #23357
@garvkariya Thank you for reaching out, we are looking into it.

[2022-07-28 05:47] FumingZhang commented on #22870
Hi @jupacaza, what you are encountering is the ARM limit on the content size of the request body. I didn't find a public document describing this limit, but I did some tests and found that the limit is roughly below 200KB.

For the `aks command invoke` command, it will compress the file that needs to be uploaded, but in your case, it still exceeds the limit. By design, this command is not suitable

[2022-07-28 06:09] #23357 closed

[2022-07-28 06:37] #11070 closed

[2022-07-28 06:49] #22101 closed

[2022-07-28 08:02] #23107 closed

[2022-07-28 08:19] xqiu commented on #12008
If in windows command line for sqlserver, need to use double quote instead of single quote, i.e.
[code]

[2022-07-28 08:30] ahmedkhamessi commented on #23351
@necusjz  It's a hub and spoke topology where the VM is in a different region and a different resource group than the private DNS zone. The link is required for the resolution of the different domain names.

[2022-07-28 08:53] Katzmann1983 commented on #22093
No movement here from microsoft?

[2022-07-28 09:12] abu3lia opened #23362 "Az login through "('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))""
When we are trying to do the AZ login we get the error:
('Connection aborted.', ConnectionResetError(104, 'Connection reset by peer'))

No proxy is being used.

Recent change: We upgrade Azure CLI to the latest version.

`# az --version
azure-cli                         2.38.0

core                              2.38.0
telemetry                          1.0.6

Dependencies:
msal

[2022-07-28 09:21] RakeshMohanMSFT commented on #23348
@alexszym We are unable to reproduce the issue. Here is the command and sample file we used.

Ensure that the folder path and pool reference matches

`az synapse spark-job-definition create --workspace-name issue23348workspace --name issue23348jobdefinition --file @test.json --folder-path "issue23348fs/Jobs"`

{
  "description": null,
  "folder": {
    "name": "issue23348fs/Jobs"
  },
  "jobProper

[2022-07-28 09:33] evelyn-ys commented on #22093
For better format to export, you can use `az storage blob list -o tsv > response.csv` to directly store in excel table

[2022-07-28 09:35] bhummerstone commented on #11435
Thanks for finally getting around to this :)

[2022-07-28 10:27] abu3lia commented on #23362
It turned out the issue is caused by the Firewall in the path, post bypassing it the connection succeeded.

[2022-07-28 10:28] alexszym commented on #23348
Hi @RakeshMohanMSFT,

I've tried with the sample file and I'm still seeing the same issue on my side. Can you confirm for me if you've tested with Git integration enabled on the workspace and which branch does the job definition appear on for you?

[2022-07-28 10:36] RakeshMohanMSFT commented on #23348
@alexszym Apologies, i missed the git part, let me try again and get back to you

[2022-07-28 10:43] alexszym commented on #23348
@RakeshMohanMSFT I've tried the same script on my side without Git integration enabled and that works fine, so I think the cause of the issue might indeed be the Git integration feature.

In case its relevant, my branches are named:
- `main` (main branch)
- `publish` (publish branch)

[2022-07-28 10:55] commakoerschgen opened #23363 "Suggestions API is used although telemetry is disabled"
**Related command**
Any invalid command

**Describe the bug**
az CLI communicates with suggestions API although telemetry is disabled.

**To Reproduce**
-   Disable telemetry in config file:
[code]
-   `az foo --debug` indicates that parts of the command are sent to  `https://app.aladdin.microsoft.com`

**Expected behavior**
With telemetry disabled, there is no non-required communication. The comm

[2022-07-28 10:59] schafei commented on #22807
@navba-MSFT Is this fix still not rolled out to all regions? We just got the same error when trying to update an aks cluster with 2 node pools from v1.23.5 to v1.23.8 in westeurope region. Our clusters with only the default node pool could be updated succesfully, but at least one cluster with an additional node pool fails to update with the following error:

`│ Error: updating Kubernetes Version f

[2022-07-28 11:30] yonzhan commented on #23363
@jiasli  for awareness

[2022-07-28 11:34] kiweezi opened #23364 "backup-now 'item not found'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When running `az backup protection backup-now` for sql in azure vm, the backup item cannot be found, despite the container existing with protectable items listed.

This did work in the past, with almost identical code. Trying this code again, yields the same result.

**Command Name**
`az backup protection backu

[2022-07-28 11:59] guybarrette opened #23365 "containerapp create: the magic string secretRef is ignored when referencing a secret"
**Command**
az containerapp create

**Bug describtion**
When using **az containerapp create** to create a container app, a secret, and an env variable referencing the secret, the magic string **secretRef** is ignored.

The result:

  template:
   containers:
     - env:
     - name: thesecret
        value: secretRef:mysecret  <======= The magic string is ignored

**To Reproduce**
`az containerapp

[2022-07-28 12:04] mblaschke-daimlertruck opened #23366 "Docker image too big"
To make it short the docker image is far too big (> 1 GB) and there are several reasons for that:

[code]

the `rm -rf` command is increasing the size by marking all sourcefiles as deleted. you might want to use a multi stage build here for building and then creating the final image.

image was analyzed with dive which shows you all the added files: https://github.com/wagoodman/dive

also related

[2022-07-28 13:19] yonzhan commented on #23366
@jiasli for awareness

[2022-07-28 13:20] yonzhan commented on #23365
route to CXP team

[2022-07-28 13:20] yonzhan commented on #23365
route to CXP team

[2022-07-28 13:21] yonzhan commented on #23364
route to CXP team

[2022-07-28 13:27] #23256 closed

[2022-07-28 13:30] yonzhan commented on #22270
@jaganpani, any update?

[2022-07-28 13:32] #22482 closed

[2022-07-28 13:53] danielmusselwhite opened #23367 "Potential Race Condition between creating app and adding secret or granting permissions"
**Related commands**
az ad app create

az ad app credential reset

az ad sp create

az ad app permission grant

**Describe the bug**

There appears to be a race condition e.g. in the time between creating an app and then creating a secret for it or granting permissions to it, Resulting in flaky behaviour where usually the granting of permissions or secret creation will succeed but occasionally it

[2022-07-28 14:06] wiperpaul opened #23368 "az monitor log-analytics workspace table create missing required parameter"
Missing information regarding ` az monitor log-analytics workspace table create`

In the docs for the table create command seen here: https://docs.microsoft.com/en-us/cli/azure/monitor/log-analytics/workspace/table?view=azure-cli-latest#az-monitor-log-analytics-workspace-table-create-examples

The Required Parameters section is missing the fact there must be a 'TimeGenerated' column included in th

[2022-07-28 14:19] KMVPrograms opened #23369 "Access problem after upgrade azure-cli to 2.38.0"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Hello, We had an issue related to the access problems after upgrading azure-cli to 2.38.0 (the version 2.37.0 was worked fine). The storage account has an "Enabled from selected virtual networks and IP addresses" and if I add my IP to the allowed list it starts working, but it was worked fine without my IP too

[2022-07-28 14:57] victortorrecilla opened #23370 "Unable to get oauth2 token (PYTHON-MSAL library)"
HI,

I'm trying to get the uth token for handling my application in azure. For doing that I'm using the python library python and Im follwowing this tutorial on the documentation of Microsoft https://docs.microsoft.com/en-us/python/api/overview/azure/active-directory?view=azure-python

I'm trying  to connect but everytime that I try to connect i'm getting the same error

requests.exceptions.Connec

[2022-07-28 15:59] alexeldeib commented on #23169
sorry about that! should be fixed in https://github.com/Azure/azure-cli/pull/23352 pending next release.

looks like you already found the workaround with preview extension

[2022-07-28 16:12] azureml-github commented on #23322
Hi

We don’t have default properties exposed in V2.

@Amar ***@***.***> FYI

Thanks,
Mayank Kumar

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: ***@***.***>
Sent: Wednesday, July 27, 2022 7:02 PM
To: ***@***.***>
Cc: ***@***.***>; ***@***.***>
Subject: Re: [Azure/azure-cli] is there an equivalent for show-default in az ml cli v2? (Issue #23322)

Thanks for the

[2022-07-28 16:28] Joeboyc2 commented on #20921
I tried all of the steps above in this ticket with varied degrees of success, however after running this last command: "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe" -m pip install pip-system-certs
all is now well an I get the correct response fro the command :)
Thank you @jgentil

[2022-07-28 16:35] onenessboy opened #23371 "Not able to use wildcard * while checking a specific resource group name with * wildcard pattern"
**Related command**
[code]

**Describe the bug**
[code]
**To Reproduce**
Only its allowed full name of resource group , but not wildcard patterns like *
for example, if we have resource groups in our subscription like
1) test
2) testresourcegroup
3) webapp
4) dbresource group

I want az group exist to find only resource group if its name contain test in it. ie.
we should get output as
[code]

**Ex

[2022-07-28 16:44] guybarrette commented on #23365
Anthony Chu MSFT pointed out that the **secretref** must be lowercase. This is not a CLI bug but a documentation bug. Anthony will review the doc: https://docs.microsoft.com/en-us/azure/container-apps/manage-secrets?tabs=azure-cli#example

[2022-07-28 16:44] #23365 closed

[2022-07-28 17:06] MayankKumar91 commented on #23322
We don’t have default properties exposed in V2. @AmarBadal

[2022-07-28 17:13] RakeshMohanMSFT commented on #23348
@alexszym I have made the git configuration similar to yours. Please check once and also if possible give me a sample template of the file you are using for job definition

![image](https://user-images.githubusercontent.com/49954584/181597714-fd589249-192d-432e-baf1-6292913d1d69.png)

[2022-07-28 17:51] zhihaoxue opened #23372 "Release of Microsoft.Authorization 2022-04-01"
### Related command
az role

### Resource Provider
Microsoft.Authorization

### Description of Feature or Work Requested
Request CLI team to upgrade the Az CLI to start consuming the API version 2022-04-01 for role assignment, role definition and deny assignment operations
No behavior changes.

### Minimum API Version Required
2022-04-01

### Swagger PR link
https://github.com/Azure/azure-rest-api

[2022-07-28 18:40] ToxicGLaDOS opened #23373 "Agent pool is removed from ACR task after adding a credential"
## Describe the bug
When adding a credential to an acr task that targets a private agent pool the agent pools gets removed.

In `az acr task show` before running `az acr task credential add`:
[code]

after running `az acr task credential add`:
[code]

**Command Name**
`az acr task credential add`

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as th

[2022-07-28 19:15] jaylabell commented on #21604
@zhoxing-ms Please provide an update

[2022-07-28 19:24] alexszym commented on #23348
@RakeshMohanMSFT In my Git configuration I'm using Azure DevOps rather than GitHub in case that makes a difference. The file I've used is very similar to yours. It worked fine on the Synapse workspace without Git integration.

[code]
Command:
`az synapse spark-job-definition create --workspace-name <workspace> --name TestSparkjob --file @Test.json --folder-path "issue23348fs/Jobs"`

[2022-07-28 22:16] SaurabhSharma-MSFT commented on #23235
@liranms Please let me know if you have any questions else we will proceed with the closure of this issue.

[2022-07-28 22:19] SaurabhSharma-MSFT commented on #23373
@ToxicGLaDOS We are looking into it and get back to you for any additional information.

[2022-07-28 22:56] yonzhan commented on #23367
@jiasli for awareness

[2022-07-28 22:57] yonzhan commented on #23368
monitor

[2022-07-28 22:57] yonzhan commented on #23369
storage

[2022-07-28 22:59] yonzhan commented on #23370
@rayluo to help with

[2022-07-28 23:01] yonzhan commented on #23371
ARM

[2022-07-28 23:02] yonzhan commented on #23372
@jiasli for awareness

[2022-07-28 23:03] yonzhan commented on #23373
route to CXP team

[2022-07-28 23:07] yonzhan commented on #23371
ARM

[2022-07-28 23:17] SaurabhSharma-MSFT commented on #23364
@kiweezi I am not able to reproduce this in my environment and `backup-now` works fine.  Can you please make sure that you are passing the correct backup item name?  Also, validate the item name on Azure portal > Backup items.

[2022-07-28 23:19] rayluo commented on #23370
Hi Victor, can your machine connect to that URL https://login.microsoftonline.com/aa06dce7-99d7-403b-8a08-0c5f50471e64/v2.0/.well-known/openid-configuration ? It works for me. Also you need to make sure your machine does NOT somehow map `login.microsoftonline.com` into a different IP.

[2022-07-28 23:25] davidfranz001 opened #23374 "Azure AAD App Credential Reset via AzCLI"
**Related command**
az ad sp credential reset
https://docs.microsoft.com/en-us/cli/azure/ad/sp/credential?view=azure-cli-latest

**Describe the bug**
After resetting the credential, the output shows that the credential is reset when using `az ad sp credential list --id $AksApplicationID`, but when viewing the changes the the Azure portal, they have not been reset.
This causes the SP account creden

[2022-07-28 23:30] yonzhan commented on #23374
@jiasli for awareness

[2022-07-28 23:44] AlecWolman-msft opened #23376 "Could not import runpy module"
**Related command**

**Describe the bug**

All az commands fail with the error "Could not import runpy module.  ModuleNotFoundError: No module named 'runpy'.

**To Reproduce**

Install azure-cli v2.38 on Ubuntu 22.04 in WSL2, using the documented installation instructions.

**Expected behavior**

az commands should work.

**Environment summary**

Shell is zsh on Ubuntu 22.04 on WSL2.

**Additional

[2022-07-28 23:53] sirfamelin commented on #23144
@zhoxing-ms, that is correct. Vtpm will not cause breaking changes as it will not affect existing software. The vTPM provides cryptographic functions and key storage. It should not impact customer workloads.

[2022-07-29 00:08] yonzhan commented on #23376
@jiasli for awareness

[2022-07-29 00:54] kairu-ms commented on #23368
Thanks for the feedback. It's a breaking change in API behaviors. We will add this argument in the next milestone.

[2022-07-29 01:40] nirakarsahoo opened #23377 "Connectivity problem detected."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-07-29 02:11] zhoxing-ms commented on #23144
@sirfamelin Got it, thanks~

Yes

[2022-07-29 02:23] zhoxing-ms commented on #23371
This requires the REST service [resource-groups/check-existence](https://docs.microsoft.com/en-us/rest/api/resources/resource-groups/check-existence) to support wildcard * for resource group name

[2022-07-29 02:27] zhoxing-ms commented on #21604
@vthiebaut10 Could you please help take a look the `ssh vm` related issue?

[2022-07-29 02:28] onenessboy commented on #23371
Hi @zhoxing-ms

can you please clarify what I need to do.. I need to use Rest api ?
Can you me one working example please

[2022-07-29 03:36] yonzhan commented on #23377
Turns out the machine you are using is having network issues attempting to reach login.microsoft.us.

[2022-07-29 03:52] zhoxing-ms commented on #23371
@onenessboy No, you don't need to do anything. I mean that REST service doesn't support this feature at present, so we need our Azure service team to look this issue

[2022-07-29 03:52] #22795 closed

[2022-07-29 03:54] zhoxing-ms commented on #23371
@tjegbejimba Could you please help have a look at this feature request?

[2022-07-29 04:04] #23255 closed

[2022-07-29 04:06] #22580 closed

[2022-07-29 04:39] RomanDvorsky commented on #22637
Hi, what operation system machine do you use to reproduce the error?

[2022-07-29 05:10] nirakarsahoo commented on #23377
[
![Capture22](https://user-images.githubusercontent.com/58804067/181687049-f4c4c451-ca42-4221-8c71-db8286b4322c.PNG)
![Capture24](https://user-images.githubusercontent.com/58804067/181687056-c73eafac-72be-40db-9794-9039e3e5048f.PNG)
![Capture26](https://user-images.githubusercontent.com/58804067/181687058-c61badff-79af-45c0-b95b-8e1067eac0ec.PNG)
![Capture27](https://user-images.githubusercontent

[2022-07-29 05:11] nirakarsahoo commented on #23377
sometime getting the value or sometime it is showing an error

[2022-07-29 05:12] nirakarsahoo commented on #23377
[
![Capture25](https://user-images.githubusercontent.com/58804067/181687218-23ee1778-786d-4f92-93e1-982813730ae6.PNG)
](url)

[2022-07-29 05:14] jsntcy commented on #22637
I use Windows and ran the command with the file @temidayo0301 provided above. What do you mean for "try file with windows encoding to get a failure"?

[2022-07-29 05:39] RomanDvorsky commented on #22637
well the cli command works only with utf-8 encoding with CR line end other encoding like with cr lf line end did produce an error.

[2022-07-29 06:02] victortorrecilla commented on #23370
Hi Ray,

thanks a lot for anwering me. I've checked the URL and I'm able to reach it.

about this part _"Also you need to make sure your machine does NOT somehow map login.microsoftonline.com into a different IP."_ I'm not sure if I understand you completly, how can I check if the login.microsoftonline.com is mapped into a different IP?

thanks,

[2022-07-29 06:06] arjuntheguru opened #23379 "Required Parameters in az vm delete"
In the documentation, it is specified that --resource-group -g and --name -n are optional parameters despite being required parameters.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 152b549b-d4b3-13e5-081c-c604b6e4d89e
* Version Independent ID: 3f79be78-ce75-ad31-304b-bad7d475ec9e
* Content: [az vm](https://docs.micro

[2022-07-29 06:13] rayluo commented on #23370
OK, let me rephrase.

Now that both you and I are able to visit that URL, this means the URL looks right. But that URL caused a ConnectionError from the machine that your python script was running on. So, at this point, you (and probably only you) can investigate why that URL was unreachable from your machine (which might not be your desktop). Was it a VM with limited outbound link? Was it a conta

[2022-07-29 06:16] githubdrk opened #23380 "Decryption failed: [WinError -2146893813] Key not valid for use in specified state."
**Related command**

AZ Login
**Describe the bug**

Decryption failed: [WinError -2146893813] Key not valid for use in specified state.. App developer may consider this guidance: https://github.com/AzureAD/microsoft-authentication-extensions-for-python/wiki/PersistenceDecryptionError
**To Reproduce**

Need to login with a login
**Expected behavior**

**Environment summary**

using az login  i am g

[2022-07-29 06:26] victortorrecilla commented on #23370
Hi Ray,

I've seen the problem, I've resolved the proxy and with this everything is working, however, the code is failing in the following point:

"result = app.acquire_token_by_one_of_the_actual_method(..., scopes=["User.Read"])
AttributeError: 'PublicClientApplication' object has no attribute 'acquire_token_by_one_of_the_actual_method'"

thanks,

[2022-07-29 06:35] yonzhan commented on #23379
Compute

[2022-07-29 06:38] yonzhan commented on #23380
Duplicate of https://github.com/Azure/azure-cli/issues/20231

[2022-07-29 06:38] #23380 closed

[2022-07-29 06:44] RakeshMohanMSFT commented on #23348
@alexszym The job definitions created using command line get created in our synapse live studio and there does not seem to be a way available to push them to github directly. But they do become visible in the synapse live.

But if you disconnect and reconnect the github and import again they are getting merged in the github.

![image](https://user-images.githubusercontent.com/49954584/181699319-e1

[2022-07-29 07:34] victortorrecilla commented on #23370
the problem was the proxy... I've added the proxy and everything is woking, however, I'm trying to get the token thru acquire_token_by_auth_code_flow but there is a parameter that I don't know where I can get the value "auth_response (dict) – A dict of the query string received from auth server."

thanks,

[2022-07-29 07:41] rayluo commented on #23370
Looks like you are trying to use MSAL Python and develop your own script, rather than using Azure CLI? If so, I would suggest you close this issue in Azure CLI repo, and create your generic MSAL Python question on Stackoverflow. The community will help you there.

[2022-07-29 07:57] kiweezi commented on #23364
Thanks for the response!
The items are not currently backed up yet, as they are SQLDataBase type. Therefore I cannot see them in the portal.
I have created a backup container of the SQL in Azure VM and run `protectable-item list` to obtain the item name:
[code]
I've tried many variations of this name; `mssqlserver;temp`, `temp`, `sqldatabase;temp`, `sqldatabase;mssqlserver`.
All fail with `Item no

[2022-07-29 07:58] alexszym commented on #23348
Hi @RakeshMohanMSFT, thanks for getting back to me. I can indeed see the jobs I've created when I swap to Synapse Live mode.

Any idea how much of the synapse CLI might be affected by this issue? I've been able to use `spark pool` and `workspace-package` commands successfully, without encountering it. If the rest of the CLI is likely to have the same issue (notebooks, pipelines etc), then having G

[2022-07-29 08:04] RakeshMohanMSFT commented on #23348
@alexszym Let me engage the synapse engineering team (CLI), before we resort to support.

[2022-07-29 09:06] jsntcy commented on #22637
@RomanDvorsky, could you please provide a file with other encoding which produces an error to help us troubleshoot?

[2022-07-29 09:09] PARADISSEEKR commented on #22675
Hi  @divyansh3131 The service returned an error when testing create dynatrace monitors, could you please help to fix it?
Error: **Index was outside the bounds of the array**.
Request body: [request body](https://github.com/Azure/azure-rest-api-specs/blob/main/specification/dynatrace/resource-manager/Dynatrace.Observability/preview/2021-09-01-preview/examples/Monitors_CreateOrUpdate_MaximumSet_Gen.

[2022-07-29 09:14] RomanDvorsky commented on #22637
Hi, can you review support case 2203290050000472 - there is a lot of details there.

Simply run: “Az portal dashboard show” command to any dashboard and try to upload the result back.

I have found 'test.json' file in my communication history but I would preferer to not provide it public way - how can I provide this file in private manner?

[2022-07-29 09:16] zhoxing-ms commented on #23379
Please note that for the `az vm delete` command, you can pass in `--resource-group`, `--name` or `--ids`.
See the help examples of `az vm delete -h` for details:
[code]
So `--resource-group`, `--name` are not required parameters

[2022-07-29 09:17] #23379 closed

[2022-07-29 09:35] divyansh3131 commented on #22675
@PARADISSEEKR You are getting this error due to planId. There was a recent change in the planId format. Can you please test by passing **azureportalintegration_privatepreview@TIDhjdtn7tfnxcy** as planId

[2022-07-29 09:38] jsntcy commented on #22637
I didn't receive any information about support case 2203290050000472, where can I find it?
You can send file to AzPyCLI@microsoft.com.

[2022-07-29 09:42] PARADISSEEKR commented on #22675
Where should I put the planid, could you please provider an example like above(request body)？ Thanks!

[2022-07-29 09:43] divyansh3131 commented on #22675
Sorry in the planDetails you should pass this

[2022-07-29 09:55] FalkoWienBBT commented on #23242
It’s also not working in the Cloud Shell.
That’s the command I used:
az network bastion rdp --name …-AZ-BASTION --resource-group RG-…-NETWORK-FRA --target-resource-id /subscriptions/…/resourceGroups/RG-…-VM…01-FRA/providers/Microsoft.Compute/virtualMachines/… --debug

Cloud Shell output:
cli.knack.cli: Command arguments: ['network', 'bastion', 'rdp', '--name', …-AZ-BASTION', '--resource-group', 'R

[2022-07-29 09:56] RomanDvorsky commented on #22637
Hi,
now I'm bit confused I did create a premium support ticket on Microsoft - this ticket is still opened and seems really difficult to solve - now there is another place where should I solve the same?

I will forward this link to the support case and hopefully someone will solve and explain this.
Did you try to export import any dashboard your self?

File was posted to given email.

Regards,
R.

[2022-07-29 10:34] jsntcy commented on #22637
We are developer team and only support engineer team can access the system for the support ticket. They need forward information about the support ticket to us, so that we can know there is a support ticket. In this case, support engineer team didn't tell us there is a such ticket.

Anyway, customers can report issue here (GitHub issue) which we can see it directly.

With the file you provided, we

[2022-07-29 10:50] victortorrecilla commented on #23370
Hi Ray,

thanks a lot for all your. Well I'm trying to connect to an api and I've seen this method where I don't know what means the parameter that I've sent to you.

I've tried the rest of methods for getting the token but I'm always receiving the following message "AADSTS65002: Consent between first party application 'XXXXXXXXXXXX' and first party resource '00000003-0000-0000-c000-000000000000'

[2022-07-29 11:48] Rainfarm opened #23381 "Expose environment status in the response of `az ml environment show` command"
**Related command**

`az ml environment show`

The version of az CLI being used:
[code]
**Is your feature request related to a problem? Please describe.**

We use the `az ml environment` command to automate the management of environments in AzureML in our CI/CD pipeline.
When creating a new (version of) environment, the command `az ml environment create` returns immediately when the environment is

[2022-07-29 11:50] yonzhan commented on #23381
route to CXP team

[2022-07-29 11:52] tianchen-zhang commented on #23367
The race condition also happens when calling `az ad app permission admin-consent`. The command would terminate without the admin consent being truly granted (I would say this happens ~90% of the time).

For granting delegated permissions with admin consent, I can use `az ad app permission grant` which is fairly stable, but I have not yet found a stable and reliable way to grant application permiss

[2022-07-29 12:23] yoavweber opened #23382 "Can't create a service principle and getting cryptic error."
## Describe the bug
Can't create a sp and getting cryptic error.

**Command Name**
`az ad sp create-for-rbac -n "test" --role Contributor --scopes /subscriptions/<subscription_id>`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

Run the following command:
`az ad sp create-for-rbac -n "t

[2022-07-29 13:49] rajeshnair commented on #23381
+1

Adding env status in `az ml environment show` command would be very useful for a lot of reasons.

[2022-07-29 14:04] yonzhan commented on #23382
@jiasli for awareness

[2022-07-29 14:11] frankvaneykelen-work opened #23383 "`az webapp config appsettings list` should support the optional parameter `--ids`"
**Related command**
[code]

**Is your feature request related to a problem? Please describe.**
The `delete` and `set` commands both support the optional Parameters `--ids`. When I try it with `list` I get this error:
[code]

**Describe the solution you'd like**
I would like to be able to run a command like this:
[code]
instead of only being able to do this:
[code]

**Describe alternatives you've c

[2022-07-29 14:47] vthiebaut10 commented on #21604
@zhoxing-ms  @jaylabell @Sumtin That issue has been fixed in more recent versions of the extension. Try updating to the latest version and see if that solves the problem.

[2022-07-29 14:51] yonzhan commented on #23383
route to CXP team

[2022-07-29 16:42] ToxicGLaDOS opened #23384 "ACR task fails to download source code if given a credential with an empty password"
## Describe the bug

When adding a credential for a remote container registry `az acr task run` will fail to download the source code if the password given in the credential is the empty string. If given the incorrect password it fails once it tries to pull the container from the remote registry (as expected). The empty string should behave the same as an incorrect password.

**Command Name**
`az

[2022-07-29 16:58] SaurabhSharma-MSFT commented on #23384
@ToxicGLaDOS We are looking into it and get back to you for any additional information.

[2022-07-29 19:33] SaurabhSharma-MSFT commented on #23364
@kiweezi Thanks for sharing details.  You need to use "Friendly Name" instead of "Name" attribute retrieved by using `az backup protectable-item list` cmdlet.

[2022-07-29 19:41] rajeshnair commented on #18108
Any update on this if az ml cli sourcecode would be made open source.
I am trying to look for it and cannot find in the azure-cli or azure-cli-extensions repo.
It would be helpful for a lot of people to understand and (perhaps add functionality) if you open source it

[2022-07-29 20:37] ritaroloff commented on #22794
Sorry the late reply. Yes we are going through the PLR process. Swagger link is here: https://github.com/Azure/azure-rest-api-specs/pull/19765/

[2022-07-29 22:57] qbradley commented on #23194
I am also impacted by this bug.

[2022-07-29 23:36] yonzhan commented on #23384
route to CXP team

[2022-07-30 08:01] #22839 closed

[2022-07-30 09:51] zhoxing-ms commented on #23194
2.38.0-1

It should be related to issue https://github.com/Azure/azure-cli/issues/19640 @jiasli Jiashuo Li FTE Please be aware

As I mentioned before, please confirm whether you are installing the official version of CLI *(the version number does not have any suffix)*. In fact, we do not maintain the unofficial version of CLI

[2022-07-30 10:53] ishankapoor21 opened #23386 "az keyvault secret set"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault secret set --name {} --vault-name {} --file {} --enco

[2022-07-30 14:45] yonzhan commented on #23386
keyvault

[2022-07-31 08:01] #23138 closed

[2022-07-31 08:01] #23127 closed

[2022-07-31 08:01] #22714 closed

[2022-07-31 08:38] avifatal opened #23387 "Can't exec my app - very unstable"
## Describe the bug
The exec cli is very unstable. some times i get error 401, i run az login successfully but still I get the same error.
Some times im able to connect, I get disconnected after a minute and need to close the terminal because it is not functioning anymore.

also on the web console on azure portal I cant connect, I get the error: cant connect to replica...

**Command Name**
`az con

[2022-07-31 12:06] yonzhan commented on #23387
route to CXP team

[2022-08-01 01:59] PARADISSEEKR commented on #22675
Service return : **Failed to process eligibility check with error Failed to check if marketplace is enabled for Azure subscription 00000000-0000-0000-0000-000000000000. Plan 'azureportalintegration_privatepreview' not found in offer 'dynatrace_portal_integration'.**

[2022-08-01 02:36] bebound commented on #23386
Duplicate of https://github.com/Azure/azure-cli/issues/22143

[2022-08-01 02:36] #23386 closed

[2022-08-01 02:42] navba-MSFT commented on #23387
@avifatal Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-01 02:52] jsntcy commented on #22794
@ritaroloff, will there be a new API version for GA later?

[2022-08-01 02:52] #23161 closed

[2022-08-01 02:59] navba-MSFT commented on #23371
@onenessboy Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We will provide an update on this shortly.

[2022-08-01 03:04] navba-MSFT commented on #22373
@toastedonion I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-08-01 03:23] navba-MSFT commented on #23228
@WilliamDAssafMSFT The action is currently pending on you to test` az network bastion rdp` CLI command using PS with Az CLI and update us the status. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-08-01 03:23] #23228 closed

[2022-08-01 03:32] jiasli opened #23389 "Remove ad-hoc api versions"
Several command modules use ad-hoc api versions for `azure-mgmt-network` SDK (https://github.com/Azure/azure-cli/pull/17816):

https://github.com/Azure/azure-cli/blob/3e26929f7669c504a5720e7f63c4be729534d52e/src/azure-cli-core/azure/cli/core/profiles/_shared.py#L406-L416

These API versions are preserved when trimming the `azure-mgmt-network` SDK:

https://github.com/Azure/azure-cli/blob/fcbce9717

[2022-08-01 03:35] jiasli commented on #23389
vm_default_target_network: @zhoxing-ms
nw_connection_monitor: @necusjz
container_network: @joseph-porter
appservice_network, appservice_ensure_subnet: @panchagnula

[2022-08-01 03:39] natasha-savic-msft commented on #21390
I had a similar issue and had to switch python to a higher version via `conda activate azureml_py310_sdkv2` . Then, re-install the az ml v2 sdk via:
`az extension remove -n ml`
`az extension add -n ml`

And finally check with: `az ml -h`

[2022-08-01 03:41] RakeshMohanMSFT commented on #23307
@Garwakizashi Thank you for reaching out, we are looking into it.

[2022-08-01 04:12] jiasli commented on #23370
@rayluo is right. If this issue is not regarding Azure CLI, please create your issue at https://github.com/AzureAD/microsoft-authentication-library-for-python

[2022-08-01 04:12] #23370 closed

[2022-08-01 04:17] navba-MSFT commented on #23333
@PawelMJanicki Thanks for getting back. During such issue a retry operation should fix it. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-08-01 04:17] #23333 closed

[2022-08-01 06:53] arpitmishra-eaton opened #23394 "unable to import function api to apim"
I'm trying to import a function app's apis to APIM by below command and keep getting below error:

az apim api import -g test-rg --service-name test-apim --service-url "https://test.azure-api.net/api" --path deployCD --specification-url "https://url/apinameinapim/items" --specification-format OpenApi

 **WARNING: Command group 'apim' is experimental and under development. Reference and support lev

[2022-08-01 06:56] RakeshMohanMSFT commented on #23307
@Garwakizashi Please go through this documentation https://docs.microsoft.com/en-us/azure/container-instances/container-instances-managed-identity#enable-managed-identity-using-yaml-file.

In the meanwhile I will verify the working on identity settings using yaml

[2022-08-01 06:58] zhoxing-ms commented on #23194
I have submitted a PR #23393 to fix this issue, and it will be released in this sprint **09-06**

[2022-08-01 06:59] navba-MSFT commented on #23371
@onenessboy I believe you are trying to list the resource group names which contains a particular string pattern in it. Could you please test with the below command and see if that helps ?

Replace the `TestName` in the above command before executing it. Hope this helps.

[2022-08-01 07:01] divyansh3131 commented on #22675
Can you please share the correlation id?

[2022-08-01 07:11] PARADISSEEKR commented on #22675
correlation id: 61fb0115-80b1-4cbe-990a-8bf6c7bc65fe

[2022-08-01 07:34] navba-MSFT commented on #23387
@avifatal Could you please confirm if you have any internal corporate proxy at your end ? If Yes, please try to bypass the proxy or test from a completely different network and test if that helps ?

Also could you please share the `--debug `output while reproducing the issue again ? Awaiting your reply.

[2022-08-01 08:01] #23159 closed

[2022-08-01 08:07] divyansh3131 commented on #22675
It is failing while trying to create an MP resource. I need to check the exact issue further as the MP side's error message is not precise. One thing is this plan is a private plan so maybe because of this it is giving you the error. Can you please share the tenant Id in which you are testing and also the payload?

[2022-08-01 08:15] PARADISSEEKR commented on #22675
"tenantId": "2f4a9838-26b7-47ee-be60-ccc1fdec5953", how to get the payload？

[2022-08-01 08:16] divyansh3131 commented on #22675
The request body that you are sending during create

[2022-08-01 08:21] PARADISSEEKR commented on #22675
"identity":{
        "type":"SystemAssigned"
    },
    "location":"eastus",
    "properties":{
        "dynatraceEnvironmentProperties":{
            "accountInfo":{

            },
            "environmentInfo":{

            },
            "singleSignOnProperties":{

            }
        },
        "marketplaceSubscriptionStatus":"Active",
        "monitoringStatus":"Enabled",
        "planDat

[2022-08-01 08:46] yonzhan commented on #23394
route to CXP team

[2022-08-01 08:46] zhoxing-ms commented on #23115
In fact, the `--ids` parameter is a general usage in cli, which requires the user to pass in the complete ARM resource id.  For more details, please refer to this doc [supporting-the-ids-parameter](https://github.com/Azure/azure-cli/blob/dev/doc/authoring_command_modules/authoring_commands.md#supporting-the-ids-parameter)

[2022-08-01 08:57] mblaschke-daimlertruck opened #23397 "Ship azure-cli as binary instead as Python module"
Azure-cli is currently shipped as Python module which requires the installation of Python.
On Linux (eg. Docker images) it installs ~1 GB of runtime and modules (related to https://github.com/Azure/azure-cli/issues/23366)

Shipping the azure-cli as standalone binary would improve the situation and would make azure-cli independent from the installed Python runtime.

Example:
docker-compose 1.x was

[2022-08-01 09:04] ZengTaoxu commented on #23306
Hi @ahmedkhamessi, when the rule-type is "NetworkRule", --destination-ports is mandatory. However, when the type is not "NetworkRule", the parameter --destination-ports is not required.

[2022-08-01 09:05] yonzhan commented on #23397
@jiasli for awareness

[2022-08-01 11:25] sf-declanomalley opened #23398 "Bicep : Private Endpoint - Cognitive Search"
**Related command**
[code]

**Describe the bug**
on running the bicep template the 2nd/3rd/4th etc time an error that the private endpoint already exists . it runs successfully the first time

**To Reproduce**
[main.bicep](https://github.com/Azure/azure-cli/files/9233433/main.txt)

**Expected behavior**
ability to run the bicep definition multiple times without error/ trying to create another priv

[2022-08-01 11:54] yonzhan commented on #23398
route to CXP team

[2022-08-01 13:31] kiweezi commented on #23364
Hey @SaurabhSharma-MSFT, I appreciate the help :).
I tried 'friendlyName' as you said and got a similar error message, but not quite the same.

Running `protectable-item list` I get the following info:
[code]

Taking the 'friendlyName' property as an item name for `backup-now`:
[code]

I remember this leading to my initial confusion! If I can't gather the item name from the protectable item list,

[2022-08-01 13:43] willianmzc commented on #21339
Please help:

Command Name
az login

Errors:
The command failed with an unexpected error. Here is the traceback:
HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /organizations/v2.0/.well-known/openid-configuration (Caused by ProtocolError('Connection aborted.', FileNotFoundError(2, 'No such file or directory')))
Traceback (most recent call last):
  F

[2022-08-01 13:54] willianmzc commented on #21339
Had to manually create the route: **C:\Users\developer\Documents\ssh\test\wire**

[2022-08-01 15:07] clucianoAIS opened #23399 "Az login with service principal creds fails: ValueError: Unable to get authority configuration"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --service-principal -u {} -p {} --tenant {}`

## Expected Behavior

##

[2022-08-01 15:49] RakeshMohanMSFT commented on #23394
@arpitmishra-eaton Thank you for reaching out to us, we will get back to you with an update.

[2022-08-01 16:35] arpitmishra-eaton commented on #23394
Sure, Rakesh awaiting for your response!

[2022-08-01 17:16] StrawnSC commented on #22936
@MrMCake, I'm unable to repro this. Can you provide more info about the app you're using (OS, SKU, app kind, etc.)?

[2022-08-01 17:33] secretclean opened #23400 "az boards - copying capacity from last sprint programmatically"
**Related command**
az boards

**Is your feature request related to a problem? Please describe.**
I'm able to programmatically create sprints and pre-allocate hours to work items indefinitely, but there isn't a way via "az boards" to allocate the work hour capacity for all individuals on my team. We have to go in and select "copy from last sprint" each time.

**Describe the solution you'd like**
I

[2022-08-01 17:37] Hanish-CBRE opened #23401 "az login issue in WSL"
Getting below error when using az login command in WSL
The command failed with an unexpected error. Here is the traceback:
HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /organizations/v2.0/.well-known/openid-configuration (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7fcdeee54970>: Failed to establish a new connecti

[2022-08-01 17:40] mattmazzola opened #23402 "Can you add notes or example about how to retrieve data from the app "manifest"?"
I'm not sure if this is a product or documentation issue but if the issue is confirmed I think they could both be improved.

I recently created a new service principal and wanted to get the application ids and object ids.

If I use the Azure cli, and use commands similar to show on the page, I would do something like this:

[code]
Which returns
[code]

I thought the "id" here WAS the Object ID.
Ho

[2022-08-01 19:14] SaurabhSharma-MSFT commented on #23373
@ToxicGLaDOS I am able to reproduce this and redirecting this to services team.

[2022-08-01 19:25] rajeshnair commented on #23381
@hugoaponte

I tried looking for source code of `az ml` extension but could not find it
In fact , hit upon this question https://github.com/Azure/azure-cli/issues/18108

Any decisions on when it would be open-sourced ?

[2022-08-01 19:28] rguptar opened #23403 "Offline VM image list"
**Related command**
az vm image list

**Describe the bug**
`az vm image list` returns an offline list of VM images across Linux and Windows as an alternative to `az vm image list --all` which is online. The offline list stored in the CLI source (see additional context). This file should be updated periodically to reflect the latest distro releases available on Azure. Some examples include:
- Ubunt

[2022-08-01 20:01] coderplay commented on #22564
It's August, still see the same error.

[2022-08-01 21:46] ScottColdwellTR opened #23404 "az tag update returns an invalid status 'Accepted'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

The tag update command is failing, even though the update is actually succeeding (as indicated by the accepted status).

**Command Name**
`az tag update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive informatio

[2022-08-01 21:48] paulshealy1 commented on #18108
@rajeshnair we are planning to open source the v2 CLI, but we do not yet have a timeline to share.

[2022-08-01 21:48] paulshealy1 commented on #23381
We are planning to open source the v2 CLI, but we do not yet have a timeline to shaer.

[2022-08-01 21:51] rajeshnair commented on #18108
Can you at least point me to the REST/gRPC API which the CLI uses so that we can try to use that to automate our env creation and pipeline triggering . I am hoping the REST/gRPC API would have the way to detect the status in az ml environment

[2022-08-01 22:49] yonzhan commented on #23399
@jiasli for awareness

[2022-08-01 22:54] yonzhan commented on #23400
boards

[2022-08-01 22:55] yonzhan commented on #23401
@jiasli for awareness

[2022-08-01 22:56] yonzhan commented on #23402
@jiasli for awareness

[2022-08-01 22:59] yonzhan commented on #23403
Compute

[2022-08-01 23:01] yonzhan commented on #23404
@zhoxing-ms  for awareness

[2022-08-01 23:09] rcgokhale commented on #22870
Experiencing this issue for us as well starting from 29th June 22 6.22 pm BST. Before it used to work for uncompressed package of 564k.

We use cert-manager as referred in below example with modifications to support private AKS cluster by using az aks command invoke.
https://docs.microsoft.com/en-us/azure/aks/ingress-tls?tabs=azure-cli

helm version is 3.5.4 and cert-manager chart version pinned d

[2022-08-02 00:28] zhoxing-ms commented on #23404
This should be an error caused by the data structure returned by the ARM service.

![Screenshot 2022-08-02 082320](https://user-images.githubusercontent.com/16612065/182266295-72aeedc4-8dc0-4d2b-8047-d77f3a812aed.png)

According to my previous experience, this is probably caused by the fact that the return value of the service does not contain the `error` attribute.
@ScottColdwellTR Could you plea

[2022-08-02 00:30] zhoxing-ms commented on #23404
Since this should be an ARM service issue, and the `az tag update` command is also owned by service team, so I would like to route this issue to ARM team. @Grayer123 Could you please help have look at this issue?

[2022-08-02 01:30] vhhughes commented on #23404
We are seeing the exact same problem with the exact same command, both for 2.34.1 and for 2.38.0. It sounds like this is being worked. If there are any work-arounds in the meantime, it would be really appreciated.

[2022-08-02 01:59] zhoxing-ms commented on #23403
@rguptar In fact, the offline configuration file used by CLI is [aliases.json](https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/arm-compute/quickstart-templates/aliases.json
), and `src/azure-cli/azure/cli/command_modules/vm/_alias.py` is only a backup when the [aliases.json](https://raw.githubusercontent.com/Azure/azure-rest-api-specs/main/arm-compute/quickstart-templates/aliases

[2022-08-02 02:20] bebound commented on #23401
Duplicate of https://github.com/Azure/azure-cli/issues/21514
Please check your DNS config and network connection.

[2022-08-02 02:20] #23401 closed

[2022-08-02 02:21] zhoxing-ms commented on #23404
Since this issue may be an ARM service issue, so CLI doesn't have a good work-around. Maybe you can try to use `az rest` to request the REST API directly.

@ScottColdwellTR @vhhughes By the way, could you please send me the debug log *(add --debug parameter)* by email to facilitate our troubleshooting? My email address is Zhou.Xing@microsoft.com, thanks~

[2022-08-02 02:37] ScottColdwellTR commented on #23404
@zhoxing-ms I sent you the debug log via email. Thanks for looking into this so quickly!

[2022-08-02 03:27] zhoxing-ms commented on #23404
I have found the root cause is due to the status code in the Python SDK is not handled correctly, the `HttpResponseError` error will be raised if the status code is not `200`. But in fact, `201` and `202` should not throw errors
Python SDK code: [code link](https://github.com/Azure/azure-sdk-for-python/blob/main/sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2021_04_01/operations

[2022-08-02 03:33] winsonluo opened #23405 "az aks install-cli failed"
**Related command**
az aks install-cli

**Describe the bug**
when run install cli there is error blow:
Downloading client to "/usr/local/bin/kubectl" from "https://mirror.azure.cn/kubernetes/kubectl/v1.24.3/bin/darwin/amd64/kubectl"
Connection error while attempting to download client (HTTP Error 404: Not Found)

**Environment summary**
macOS Monterey Apple M1 Pro
azure-cli  2.38.0

[2022-08-02 03:54] navba-MSFT commented on #22373
@toastedonion I hope you had a chance to look at my above comment. As a workaround you could use `--no-wait `option using the most recent Az CLI version. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-08-02 03:54] #22373 closed

[2022-08-02 04:46] navba-MSFT commented on #23242
@FalkoWienBBT I wasn't able to reproduce this issue at my end. Could you please delete the existing conn.rdp file and then launch the **cmd** prompt using Admin mode ( Run As Administrator) and then navigate to the folder where you need the conn.rdp file to be created and then run the below command again.

Awaiting your reply.

[2022-08-02 04:55] yonzhan commented on #23405
route to CXP team

[2022-08-02 05:05] MarkusDressel opened #23406 "az ml cli v2 pipeline yml does not support keyword 'is_deterministic'"
**Related command**

**Describe the bug**
I want to run an azure ml pipeline using azure-cli v2. The steps should be non-deterministic (in sdk = 'allow_reuse'=False). Based on the pipeline schema, this should be set using
[code]
which is not accepted when submitting the job using
[code]
it throws an unrelated error:
[code]
When submitting the job without setting deterministic, the pipeline works f

[2022-08-02 05:21] yonzhan commented on #23406
route to CXP team

[2022-08-02 05:24] Am018 opened #23407 "Add new set of parameters for GetNicEffectiveSecurityGroupsOperation"
There are some new set of parameters supported for GetNicEffectiveSecurityGroupsOperation for VMSS NICs. Can you please add those parameters into the CLI for GetNicEffectiveSecurityGroupsOperation?

REST API: [Network Interfaces - List Effective Network Security Groups - REST API (Azure Virtual Networks) | Microsoft Docs](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.micro

[2022-08-02 05:26] yonzhan commented on #23407
@zhoxing-ms for awareness

[2022-08-02 05:42] pimanuel97 opened #23408 "Can install Preview needed to run "az aks nodepool stop""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks nodepool stop`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks nodepool stop --name {} --cluster-name {} --resource-group {

[2022-08-02 06:06] harneetvirk opened #23409 "Add a field: cloud name in the azure cli client-side telemetry as part of Azure CLI command execution"
**Related command**

Add a field: cloud name in the azure cli client-side telemetry as part of Azure CLI command execution

**Is your feature request related to a problem? Please describe.**

As of now, we have no way to track the usages of extension in different clouds.

**Describe the solution you'd like**

Since azure cli does collect some basic telemetry. Is it possible if azure cli can also c

[2022-08-02 06:55] yonzhan commented on #23408
route to CXP team

[2022-08-02 06:57] yonzhan commented on #23409
add cloudname in telemetry

[2022-08-02 07:03] navba-MSFT commented on #23408
@pimanuel97 Thanks for reaching out to us and reporting this issue. I see that you are using an older version of the `aks-preview `extension. Could you please run the below command to update your extension and check if that helps ? Awaiting your reply.

[2022-08-02 07:14] pimanuel97 commented on #23408
Thank you
Its working now after uninstall and reinstall newest version.

[2022-08-02 07:14] #23408 closed

[2022-08-02 07:27] mkemmerz commented on #22807
Same issue as @schafei. We wanted to upgrade a cluster which is located in West Europe and it also failed with `NotAllAgentPoolOrchestratorVersionSpecifiedAndUnchanged`. The upgrade was from 1.22.x to 1.23.x.

[2022-08-02 07:54] Rainfarm commented on #23381
Thank you @hugoaponte!
This is an important feature to fully automate the CI/CD pipeline (covering the whole path from environment building to model training). The only work-around I can think of is to rely on a timeout, which is obviously not nice. Or, do you have suggestions on other possible nicer work-arounds?

Thanks again! Looking forward to this feature!

[2022-08-02 08:01] #22799 closed

[2022-08-02 08:20] RakeshMohanMSFT commented on #23394
@arpitmishra-eaton can you please share the debug trace log? for us troubleshoot the issue further.

[2022-08-02 08:25] thomasp98296 commented on #23002
Hi @yonzhan , @kairu-ms , thanks for your help on this. Could you share with me an ETA when this change will be available? Thanks!

[2022-08-02 08:30] divyansh3131 commented on #22675
@PARADISSEEKR Can you please try creating a resource again? I've added your tenant for the plan that you are trying

[2022-08-02 08:38] yanzhudd commented on #23152
Hello @isolenov, could you please help to confirm below design for the cli command? To be consistent with the naming convention of other commands in the cli, we refer to the naming convention of `az ad app federated-credential`.

**create FIC:**
az identity federated-credential create --federated-credential-name  myFicName --name myIdentityName --resource-group myResourceGroup --issuer myIssuer --

[2022-08-02 08:40] ahmedkhamessi commented on #23306
@ZengTaoxu  Thanks for the reply, I think it should be more explicit in the documentation, I have received so many inquiries regarding that command line therefor i opened the request.

[2022-08-02 08:48] PARADISSEEKR commented on #22675
Still fail: **Failed to process eligibility check with error Failed to check if marketplace is enabled for Azure subscription 0b1f6471-1bf0-4dda-aec3-cb9272f09590. Plan 'azureportalintegration_privatepreview' not found in offer 'dynatrace_portal_integration'.**

[2022-08-02 09:46] isolenov commented on #23152
Hey @yanzhudd
thank you for providing CLI commands.

Have one proposal from the team. In our impression '--name' is quite confusing in this context. User is creating federated-credential object and name should refer to this object name.

Would it be possible to change commands this way?
[code]

[2022-08-02 09:55] kairu-ms commented on #23002
We will support it in this sprint. It will be in the release of 2022-09-06

[2022-08-02 10:12] roycornelissen opened #23412 "`az ad add credential reset`'s document shouldn't include `--subscription` argument"
The command `az ad add credential reset` does not support global parameter `--subscription`, even though it's mentioned in the docs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 364ccdfb-268e-08f0-a357-94a19c5213fd
* Version Independent ID: d2c1a19f-bfbd-b273-77e2-9fdb596181b5
* Content: [az ad app credential](https:

[2022-08-02 10:21] yonzhan commented on #23412
@jiasli for awareness

[2022-08-02 11:06] yanzhudd commented on #23152
okay, looks great!

[2022-08-02 11:11] arpitmishra-eaton commented on #23394
az apim api import -g rg-test --service-name apim-test --path deployCD --specification-url "https://test.net/api" --specification-format OpenApi --subscription-key-header-name Ocp-Apim --subscription-key-query-param-name subs-key --subscription-required true --debug
DEBUG: cli.knack.cli: Command arguments: ['apim', 'api', 'import', '-g', 'rg-test', '--service-name', 'apim-test', '--path', 'deployC

[2022-08-02 12:36] ScottColdwellTR commented on #23404
Not to detract from the original issue, but when I tried one of the workarounds:

It errored with
[code]

I added the `--debug` flag, and saw that the response was XML, but it appears the code is applying a json decoder to it.

[2022-08-02 13:19] RakeshMohanMSFT commented on #23394
@arpitmishra-eaton Please note this section from your log. Please ensure that the resiiot-test.net is publicly accessible for apim to import the specification template

 {"error":{"code":"ValidationError","message":"One or more fields contain incorrect values:","details":[{"code":"ValidationError","target":"representation","message":"Parsing error(s): **Failed to import from specified resource htt

[2022-08-02 13:52] isolenov commented on #23152
awesome. thanks.

[2022-08-02 14:07] v-anvashist commented on #23400
@secretclean We are consuming API in azure CLI service. Do we have any API support for this feature?

[2022-08-02 16:04] jiasli commented on #23412
This seems to be a bug in document generation.

`--subscription` argument was ignored for all `az ad` commands:

https://github.com/Azure/azure-cli/blob/33cbd01f75c7d4c3814de5a1cbf6f42de7890467/src/azure-cli/azure/cli/command_modules/role/_params.py#L26-L27

The in-tool help doesn't show `--subscription`:

[code]

[2022-08-02 16:43] onenessboy commented on #23371
Hi @navba-MSFT

Thanks for reply,

I tried something like below
`az group list --query "[?name.contains(@,'clb')]"`

It should return me only 2 resource group names, but its listing all resource group...  here that clb is part of resource group name. I cant give full name of resource group as part of automation, we searching for some keywords and filter out resource groups.

Can you please Investi

[2022-08-02 16:45] jtvcodes commented on #22564
I even tried it with Network and failed

az quota list --scope "subscriptions/<MY SUB ID>/providers/Microsoft.Network/locations/eastus"
Command group 'quota' is experimental and under development. Reference and support levels: https://aka.ms/CLI_refstatus
(InvalidResourceType) The resource type 'locations' could not be found in the namespace 'Microsoft.Network' for api version '2021-03-15-preview'

[2022-08-02 16:56] sozercan commented on #23267
We are also seeing this on az cli 2.37.0 and the latest version (0.5.92) of [aks-preview](https://github.com/Azure/azure-cli-extensions/tree/main/src/aks-preview) extension.

https://dev.azure.com/AzureContainerUpstream/Azure%20Workload%20Identity/_build/results?buildId=52370&view=logs&j=3a3ff92c-2ab0-5cd5-ecad-e283f5e1d802&t=6d5f3379-e684-5896-70a5-701deb97a928

 Pinning aks-preview to 0.5.87 res

[2022-08-02 17:05] jamesongithub commented on #22564
@rahuls-microsoft @ZengTaoxu @yonzhan

I think people are coming to this github issue since the docs doesn't exactly state with resource providers are currently supported with `az quota`

the docs even use `az quota` with the [compute](https://docs.microsoft.com/en-us/cli/azure/quota?view=azure-cli-latest#az-quota-list-examples) resource provider even though it's not supported yet.

clarifying the

[2022-08-02 17:44] hari-bodicherla opened #23414 "Changes related to Capacity Reservation resource to display maximum fault domain count supported"
**Related command**

**Is your feature request related to a problem? Please describe.**
we currently support VMSS deployments against Capacity Reservation with FD count depending up on if the VM Size supports tenant spanning or not . So the max fd count will be 1 if tenant spanning doesnt exist for the vm size in the CR and if yes, max fd count will be 3. This is ok for now, but in feature, we nee

[2022-08-02 18:09] hcary opened #23415 "unable to auth"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2022-08-02 18:33] alanenriqueo commented on #23236
@julian-code The bug was fixed in rdbms-connect 1.0.3, can you please check?

[2022-08-02 18:49] alanenriqueo commented on #22889
Hi @azeem2020, the MSI installer of azure-cli requires 32-bit version of libpq.dll available in **PATH**; that's because the MSI installer comes with its own version of 32-bit python. Can we try that?

[2022-08-02 19:45] lmoiseichuk commented on #22230
Issue reproduced on Win11/WSL2/Ubuntu 22.04
Workaround with installing http://security.ubuntu.com/ubuntu/pool/main/o/openssl/libssl1.1_1.1.1l-1ubuntu1.6_amd64.deb and commenting line in /etc/ssl/openssl.cnf
   openssl_conf = openssl_init
Works fine

[2022-08-02 21:14] StrawnSC opened #23417 "`az functionapp github-actions add` creates workflow files that fail for java apps"
**Related command**

`az functionapp github-actions add`

**Describe the bug**

See title. The GitHub action that's created for java function apps always fails to run

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2022-08-02 21:16] WilliamDAssafMSFT commented on #23228
@Navba-MSFT I get the same error in the Azure CLI in the Azure portal browser.
One thing I am quite unclear about in both the docs and the interaction is when I should be doing something in my local computer's Terminal or PowerShell session or in the Azure portal's built-in browser window. The doc says "Windows native clients" so I was using Windows Terminal.
![image](https://user-images.githubuse

[2022-08-02 21:22] sindhualuguvelli1 opened #23418 "Adding support for Per Rule Actions in Application Gateway Web application Firewall"
### Related command

_No response_

### Resource Provider

Network (NRP)

### Description of Feature or Work Requested

We are adding support to enable customers to override the action to be applied when a rules matches. For example, if the default action for a rule is "Block" and Cx changes it to "Log", the request will not be blocked but a log entry will be added. We are supporting below 4 actio

[2022-08-02 21:23] StrawnSC commented on #23417
This will be fixed by https://github.com/Azure/azure-cli/pull/23375. I just created this issue for tracking purposes. In the meantime customers can work around this problem by manually editing the workflow file like so:
- open your workflow file in GitHub by navigating to the `.github/workflows` directory. The workflow should be named in the form `<branch>_<app_name>.yaml`
-  Under the `env:` sect

[2022-08-02 21:57] yonzhan commented on #23414
Compute

[2022-08-02 21:59] yonzhan commented on #23415
Please provide the detailed CLI command in description

[2022-08-02 22:03] yonzhan commented on #23417
route to CXP team

[2022-08-02 22:05] yonzhan commented on #23418
network

[2022-08-03 00:04] SaurabhSharma-MSFT commented on #23235
@liranms We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-08-03 00:04] #23235 closed

[2022-08-03 00:31] ritaroloff commented on #22794
No there will not be a new API version for GA. @jsntcy

[2022-08-03 01:46] zhoxing-ms commented on #23404
@Grayer123 This is still a service issue. Could you help investigate this problem or know who is the right person to investigate it?

[2022-08-03 02:22] arpitmishra-eaton commented on #23394
specification url should be apim or function app..?

[2022-08-03 02:44] RakeshMohanMSFT commented on #23394
@arpitmishra-eaton Specification url is the one which has the OpenAPI/swagger specifications of your respective API (like details of its APIs, operations, request and response body) here is an example of specification file [https://conferenceapi.azurewebsites.net?format=json](https://conferenceapi.azurewebsites.net/?format=json). In your case it must be the API Specification file of function app

[2022-08-03 02:51] zhoxing-ms commented on #23414
@hari-bodicherla Could you please provide the Swagger PR link, the design of CLI commands and parameters, the minimum api-version required, and the expected ETA?

In addition, it is recommended that you use the [[Microsoft Internal / Service Team] Feature Request](https://github.com/Azure/azure-cli/issues/new?assignees=&labels=&template=Service_team_request.yaml) to create internal feature request

[2022-08-03 03:13] navba-MSFT commented on #23228
@WilliamDAssafMSFT Thanks for getting back. Like I mentioned earlier, You will see this issue if you try to run the command from the portal Azure cloud shell.

Please run the command from your local machine ( PS ).
Don't run this command from the Azure portal browser.

Tagging another similar issue here. https://github.com/Azure/azure-cli/issues/23143 if that helps.

[2022-08-03 03:28] kobayashikazu opened #23420 "Cannot create web apps in Azure"
**Related command**
az webapp up --runtime PYTHON:3.9 --sku FREE --logs

**Describe the bug**
The error urllib3.exceptions.ProtocolError: is printed.

**To Reproduce**
(.venv) C:\Users\user_\msdocs-python-flask-webapp-quickstart>pip install -r requirements.txt

(.venv) C:\Users\user_\msdocs-python-flask-webapp-quickstart>az login
(.venv) C:\Users\user_\msdocs-python-flask-webapp-quickstart>az weba

[2022-08-03 03:30] RakeshMohanMSFT commented on #23398
@sf-declanomalley Thank you for reaching out, we are looking into it.

[2022-08-03 03:31] RakeshMohanMSFT commented on #23382
@yoavweber Thank you for reaching out, we are looking into it.

[2022-08-03 03:48] hari-bodicherla commented on #23414
@zhoxing-ms Here are the Details

Swagger link: https://github.com/Azure/azure-rest-api-specs/pull/20076

Design:
There wont be any change in the existing cmdlets , since this is a readonly property that is set by the Platform and return it in the response to customer for az capacity reservation show cmdlet.
The new readonly property is maximumFaultDomainCountSupported

Expected ETA:
Earliest Date

[2022-08-03 04:11] RakeshMohanMSFT commented on #23382
@yoavweber We are unable to reproduce this issue. Upgrade to the latest version of CLI [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) and check again, though i am also using the same 2.38.0 from a windows machine.

`az ad sp create-for-rbac -n "issue23382new" --scopes /subscriptions/<subscriptoin_id> --role Contributor`
Creating 'Contributor' role assignmen

[2022-08-03 04:25] navba-MSFT commented on #23405
@winsonluo Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-03 04:37] yonzhan commented on #23420
route to CXP team

[2022-08-03 04:39] navba-MSFT commented on #23318
@sf-declanomalley Thanks for getting back. I can repro the below error by running `az deployment group validate -f main.bicep --resource-group My-test `with main.bicep shared by you.

I am working with the Bicep Product Owners to identify the cause. I will keep you posted on this.

[2022-08-03 05:34] navba-MSFT commented on #23371
@onenessboy Interestingly, the same command works fine for me. It ONLY lists the RG which has the keyword in its name. (see below example for **bas** keyword). It doesn't list other resource groups. I am using 2.38 version of Azure CLI. Could you please check the version of CLI you are using ? then update to the [most recent CLI version ](https://docs.microsoft.com/en-us/cli/azure/update-azure-cli

[2022-08-03 05:39] jiasli commented on #23382
Duplicate of #19640

[2022-08-03 05:39] #23382 closed

[2022-08-03 05:59] navba-MSFT commented on #23405
@winsonluo For the stable kubectl  version 1.24.3, I see just Linux and Windows here. hence the error.

https://mirror.azure.cn/kubernetes/kubectl/v1.24.3/bin/

![image](https://user-images.githubusercontent.com/57353862/182533341-de09223d-8c31-4b41-a008-2d8190a5abc9.png)

_**Action Plan:**_
The following methods exist for installing kubectl on macOS. You could follow any one of the below steps:

[2022-08-03 06:07] satheshs commented on #23282
Any help ?

[2022-08-03 06:16] RakeshMohanMSFT commented on #23398
@sf-declanomalley This error is returned by the respective RP(Resource Provider)/Service and not from the CLI. I suggest that you open a support ticket to understand it better.

[2022-08-03 06:27] jiasli commented on #23282
It seems you can reach `https://login.microsoftonline.com/` without any problem. Could you run `az login --debug`?

[2022-08-03 06:27] RakeshMohanMSFT commented on #14727
@Jamie-Clayton We sincerely apologies for the delay, can you please confirm if you are still facing this issue?

[2022-08-03 06:35] Miti-Shah commented on #22577
Hi , we have updated our setting on the resource as per advisory recommendation but when it got refreshed next , the recommendation is still there. what to do?

[2022-08-03 06:35] #1395 closed

[2022-08-03 06:53] ZengTaoxu commented on #23306
Hi @ahmedkhamessi, if you want to modify documentation, you may need to contact doc team. If you want to prompt when typing this command, we can update this command.

[2022-08-03 06:53] v-anvashist commented on #23180
@jack1902 We are checking the API doc and will share the updates!!

[2022-08-03 07:35] RakeshMohanMSFT commented on #19727
@ivanignatiev We are returning authenticationSettings as null for both the command.

[2022-08-03 07:45] RakeshMohanMSFT commented on #18306
This is fixed

[2022-08-03 07:45] #18306 closed

[2022-08-03 08:02] #23173 closed

[2022-08-03 08:02] #22725 closed

[2022-08-03 08:02] #22723 closed

[2022-08-03 09:01] sf-declanomalley commented on #23398
sorry I'm not sure what there is to understand? the bicep template should be deterministic, if I run the bicep through the CLI once, it works. if I run it a second time, it does not as its trying to create the same resource twice. I've raised other bicep issues through this repo numerous times, can you provide a link to where I should be requesting support?

[2022-08-03 09:07] PARADISSEEKR commented on #22788
Hi @sdavis3 , do we need to add `--no-wait` to `az vmss run-command` as well?

[2022-08-03 09:09] RakeshMohanMSFT commented on #23398
@sf-declanomalley As you must be aware CLI provides an interface for you to work respective resource's API. Therefore if the underlying API is returning an error it, CLI just propagate that error to the users. That is what is happening here.

If the azure portal there will be a support + troubleshooting blade for all the resources, you can open a new ticket from there.
![image](https://user-images

[2022-08-03 09:27] gavrochexu opened #23423 "AttributeError: 'NoneType' object has no attribute 'headers' while upload file with azure client"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az dls fs upload`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az dls fs upload --account {} --source-path {} --destination-path {}`

[2022-08-03 09:29] yonzhan commented on #23423
route to service team

[2022-08-03 09:34] RakeshMohanMSFT commented on #15546
This issue is fixed.

[2022-08-03 09:34] #15546 closed

[2022-08-03 09:54] RakeshMohanMSFT commented on #10805
This issue is fixed

[2022-08-03 09:54] #10805 closed

[2022-08-03 09:56] RakeshMohanMSFT commented on #18513
az apim api import --path
                   --resource-group
                   --service-name
                   --specification-format {OpenApi, OpenApiJson, Swagger, Wadl, Wsdl}
                   [--api-id]
                   [--api-revision]
                   [--api-type {graphql, http, soap, websocket}]
                   [--api-version]
                   **[--api-version-set-id]**

This

[2022-08-03 09:56] #18513 closed

[2022-08-03 10:08] jsntcy commented on #22637
@RomanDvorsky, the issue has been fixed in latest portal extension (0.1.3), please [upgrade to the latest version](https://docs.microsoft.com/en-us/cli/azure/azure-cli-extensions-overview#how-to-update-extensions) to check if the issue is resolved or not.

[2022-08-03 10:28] sdavis3 commented on #22788
I think that makes sense, but it’s not part of my immediate scenario.

[2022-08-03 10:29] yanzhudd commented on #23152
Hello @isolenov, when we develop this feature, an error **'Request contains additional data that the service does not understand'** is reported. The details are attached below. Could you please help to take a look?

**Request URL**: 'https://management.azure.com/subscriptions/0b1f6471-1bf0-4dda-aec3-cb9272f09590/resourceGroups/zytest/providers/Microsoft.ManagedIdentity/userAssignedIdentities/ide/f

[2022-08-03 10:36] v-soujanya commented on #19844
Hi @jaisea, we shared this issue to the API team, and we got the response as below
 "– **the autocomplete** and **bypass policy** cannot be used at the same time. This works as expected. What is the reason to set the PR to autocomplete while bypassing the policy? This can allow attacker to get malicious code into the repository."

[2022-08-03 10:36] v-soujanya commented on #22625
Hi @omerzubair, we received response from API team, the az repos policy command does not support the parameter available of the GUI. Can you check if this can be achieved through the REST API call [Configurations - REST API (Azure DevOps Policy) | Microsoft Docs](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdocs.microsoft.com%2Fen-us%2Frest%2Fapi%2Fazure%2Fdevops%2Fpolicy%2Fco

[2022-08-03 10:37] v-soujanya commented on #22869
Hi @omerzubair, we received response from API team, and we do not have ability to set this option neither through the CLI (az repos) nor through the REST API.
Thanks!

[2022-08-03 10:42] RakeshMohanMSFT commented on #10034
@zikalino This issue is fixed with proper error message/warning
`az storage share create --account-name issue10034storage --name MyShare`

There are no credentials provided in your command and environment, we will query for account key for your storage account.
It is recommended to provide --connection-string, --account-key or --sas-token in your command as credentials.

In addition, setting the c

[2022-08-03 10:42] #10034 closed

[2022-08-03 10:45] RakeshMohanMSFT commented on #10500
@ankitkumarr Closing this issue, if it resurfaces let us know.

[2022-08-03 10:45] #10500 closed

[2022-08-03 13:01] RakeshMohanMSFT commented on #11215
@leighghunt This issue is fixed, please upgrade to the latest version of azure cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-03 13:01] #11215 closed

[2022-08-03 13:12] LiftedWorx opened #23425 "Issues working with Azure CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az find`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az find {}`

## Expected Behavior

## Environment Summary
[code]
## Additional C

[2022-08-03 13:17] keithmitworks opened #23426 "Should the resourcegroup parameter be clarified?"
Which resource group is this? The vnet, or the web app ? It should be specified.
"--resource-group -g
Name of resource group. You can configure the default group using az configure --defaults group=<name>"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9cf5a035-926f-1cef-8335-963b497cbed8
* Version Independent ID: 296a

[2022-08-03 13:27] tblazejowski commented on #10039
I may confirm this issue **still occurs** while trying to execute below command inside pipeline's **AzureCLI@2** task:
`az container exec --exec-command "<any command with argument>" --resource-group <resource_group> --name <container_group_name>`

[2022-08-03 13:29] RakeshMohanMSFT commented on #11832
`az webapp config appsettings delete -n issue11832 -g issue11832_group --setting-names issue11832ap WEBSITE_NODE_DEFAULT_VERSION` This command works as expected with space. Can you please upgrade to latest version of azure cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-03 13:50] #12027 closed

[2022-08-03 13:52] Sri-Talla opened #23427 "az aks pod-identity command failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks pod-identity list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks pod-identity list --help`

## Expected Behavior

## Envi

[2022-08-03 14:03] yonzhan commented on #23425
route to CXP team

[2022-08-03 14:04] yonzhan commented on #23426
route to CXP team

[2022-08-03 14:06] yonzhan commented on #23427
route to CXP team

[2022-08-03 14:24] sf-declanomalley commented on #23398
ok thanks, I won't be opening a support ticket as it's a bug in bicep deployment and I don't have a high enough support plan level anyway .I have a workaround in place ( cli lookup to see if resource exists and pass in as a parameter) in the pipeline

it's still a bug that's going to affect other users though making the bicep deployment not deterministic.

thanks.

[2022-08-03 14:29] #16499 closed

[2022-08-03 15:37] RakeshMohanMSFT commented on #23427
@Sri-Talla Can you please upgrade to the latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-03 15:39] RakeshMohanMSFT commented on #23398
@sf-declanomalley I understand your concern. Will engage service team from my end.

[2022-08-03 15:48] RakeshMohanMSFT commented on #16922
This command now returns "createdDateTime": "2022-04-27T06:23:55Z",

`az ad app list --filter "displayname eq 'test'" --app-id "appid-guid"`
[
  {
    "addIns": [],
    "api": {
      "acceptMappedClaims": null,
      "knownClientApplications": [],
      "oauth2PermissionScopes": [],
      "preAuthorizedApplications": [],
      "requestedAccessTokenVersion": null
    },
    "appId": "appid",
    "

[2022-08-03 15:48] #16922 closed

[2022-08-03 15:51] RakeshMohanMSFT commented on #16906
This issue is fixed now. Please upgrade to the latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-03 15:51] #16906 closed

[2022-08-03 16:05] RakeshMohanMSFT commented on #13587
This issue is fixed now. Please upgrade to the latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-03 16:05] #13587 closed

[2022-08-03 16:06] RakeshMohanMSFT commented on #15431
This issue is fixed. Please upgrade to the latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-03 16:06] #15431 closed

[2022-08-03 16:09] RakeshMohanMSFT commented on #12922
This issue is fixed. Please upgrade to the latest version of azure cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-03 16:09] #12922 closed

[2022-08-03 16:17] chasewilson commented on #22270
After talking with the Service team, would like to GA along with the **Microsoft Ignite release**.  This might be a good candidate for CodeGen V2 and the team has expressed interest in using CodeGen V2 as long as it is stable and won't interfere with their timeline.

The team is also requesting information about timelines for release. Branch cutoff etc. @yonzhan, let me know if there are any quest

[2022-08-03 16:58] mmckechney opened #23428 "az keyvault list does not show newly created key vault"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
az keyvault list does not show newly created key vault

**Command Name**
`az keyvault list`

**Errors:**
empty list when the key vault should be listed
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

1. Create a

[2022-08-03 16:58] Gizachew-Eshetie opened #23429 "For basic Sku firewall we need to make sure we include the Management NIC (Forced tunneling on by default)"
**Related command**

Please have a look at this PowerShell PR for the same requirement.
https://github.com/Azure/azure-powershell/pull/18916

**Describe the solution you'd like**

Please read this documentation about forced tunning.
https://docs.microsoft.com/en-us/azure/firewall/forced-tunneling

**Additional context**

Whenever we are creating a Basic Sku firewall, we need to make sure Managemen

[2022-08-03 17:00] mmckechney commented on #23428
Please note, I upgraded to azure-cli 2.39 and the same problem occurred:
[code]

[2022-08-03 17:06] mic-hnk commented on #23216
I faced same issue and in my case `--dryrun` seems to be a problem.
Author mentioned this parameter but I can't see it in your example.

[2022-08-03 17:10] ahmedkhamessi commented on #23306
@ZengTaoxu , I think a prompt is already good enough. Thanks for the support!

[2022-08-03 18:09] SaurabhSharma-MSFT commented on #23420
@kobayashikazu We are looking into it and get back to you for any additional information.

[2022-08-03 18:10] SaurabhSharma-MSFT commented on #23406
@MarkusDressel We are looking into it and get back to you for any additional information.

[2022-08-03 19:19] NikStayCMNH commented on #15520
I received this same error when trying to make changes to rules (Setting Priority or deleting) on our Application Gateway that we migrated to using an Application Gateway WAF policy.
[On another site](https://docs.microsoft.com/en-us/answers/questions/911237/cannot-renew-certificate-to-application-gateway-wi.html), they removed the WAF policy and converted the AG to a standard v2 SKU and then made

[2022-08-03 19:35] joshuadmatthews commented on #20743
@jiasli The format returned without --sdk-auth doesn't work with Github Actions azure/login@v1

[2022-08-03 20:18] jaisea commented on #19844
@v-soujanya I know this works as expected as I tried to do it. My request is to update the az cli documentation to state that both these options cannot be used together so that users do not have to find it out themselves by trying.

[2022-08-03 20:22] harneetvirk opened #23430 "Need better error message for cli the sub command is not supplied: the following arguments are required: _subcommand"
**Related command**

az storage blob
the following arguments are required: **_subcommand**

Examples from AI knowledge base:
https://aka.ms/cli_ref
Read more about the command in reference docs

az ml job
the following arguments are required: _subcommand

Examples from AI knowledge base:
https://aka.ms/cli_ref
Read more about the command in reference docs

**Describe the bug**

The cli command fai

[2022-08-03 21:24] ebob9 commented on #5163
Same issue here - I have a container that runs uwsgi/flask/nginx. The default behavior is to log to the STDERR logs which lands in the ACI log.

After a while due to lots of output - if an issue is encountered which causes a halt of the process - the cause of the issue is not present in the log due to this ACI truncation.

If truncation is due to Azure only giving limited "Free Space" for ACI inst

[2022-08-03 21:29] Gizachew-Eshetie commented on #23325
It will be sent to backend as an additional property (Network.AdditionalLogs.EnableFatFlowLogging) like it is done in the above PowerShell PR? Do we still need swagger change?
e.g mapping from SDK to PS => {PSFirewallObj}.EnableFatFlowLogging = {SDKFirewallObj}.AdditionalProperties?.SingleOrDefault(kvp => kvp.Key.Equals("Network.AdditionalLogs.EnableFatFlowLogging", StringComparison.OrdinalIgnoreC

[2022-08-03 22:45] yonzhan commented on #22270
@chasewilson good to know. For new RP like this, we encourage them using CodeGen V2 to implement.

[2022-08-03 22:46] yonzhan commented on #23428
@evelyn-ys for awareness

[2022-08-03 22:48] yonzhan commented on #23429
@necusjz to estimate this request.

[2022-08-03 22:53] yonzhan commented on #23430
@evelyn-ys for awareness

[2022-08-03 23:22] kobayashikazu commented on #23420
@SaurabhSharma-MSFT Thank you.

[2022-08-04 01:46] evelyn-ys commented on #23428
This could be server delay. Need Keyvault service or ARM service check.

[2022-08-04 02:13] navba-MSFT commented on #23428
@mmckechney Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-08-04 02:45] the-chad-at-ms commented on #15951
This issue is still open and I have come across it today with a customer.
Any plans to resolve this issue or is it still in the backlog ?

[2022-08-04 02:50] necusjz commented on #23325
@Gizachew-Eshetie, thanks for your explanation, we'll develop it in this sprint.

[2022-08-04 02:55] necusjz commented on #23429
@Gizachew-Eshetie, due to workload, we plan to develop it in the next sprint.

[2022-08-04 02:57] winsonluo commented on #23405
yes, installed kubectl via Homenrew!

[2022-08-04 03:09] navba-MSFT commented on #23405
@winsonluo Thanks for getting back. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-08-04 03:09] #23405 closed

[2022-08-04 03:12] navba-MSFT commented on #23242
@FalkoWienBBT I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you are still facing the same issue after following the above suggestions. Awaiting your reply.

[2022-08-04 03:21] onenessboy commented on #23371
Hi @navba-MSFT

Hmm, It what worked was

`az group list --query "[?name.contains(@,'te') && managedBy == null]" `

because some of resource group managed by Microsoft which I dont want to filter..

hence closing the issue.. thanks for help

[2022-08-04 03:21] #23371 closed

[2022-08-04 04:22] jsntcy commented on #22794
@ritaroloff, so you will use the preview API (https://github.com/azure/azure-rest-api-specs/blob/main/specification/monitor/resource-manager/Microsoft.Insights/preview/2021-05-01-preview/autoscale_API.json) for October GA release?

[2022-08-04 04:38] navba-MSFT commented on #23387
@avifatal I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you have any update on this. Awaiting your reply.

[2022-08-04 04:44] v-anvashist commented on #19844
@jaisea Sure will do it !

[2022-08-04 05:01] navba-MSFT commented on #23428
@mmckechney I was able to run the below command to create a KV and was able to list it. See below

az keyvault create --name "Mykv" --resource-group "MYRGkv" --location "EastUS"

[
  {
    "id": "/subscriptions/XXXXXXXXXXXXXXXXX/resourceGroups/MYRGkv/providers/Microsoft.KeyVault/vaults/Mykv",
    "location": "EastUS",
    "name": "Mykv",
    "properties": {
      "accessPolicies": [
        {

[2022-08-04 05:45] aviNrich commented on #23387
Hi.
Sorry for not replying.
its a home PC so no proxy there.
I will try hopefully tonight and let you know.
Thanks

[2022-08-04 05:52] avifatal commented on #23387
Hi.
Sorry for not replying.
its a home PC so no proxy there.
I will try hopefully tonight and let you know.
Thanks

[2022-08-04 05:54] navba-MSFT commented on #23387
@avifatal Thanks for getting back. I shall wait for your updates.

[2022-08-04 05:57] RakeshMohanMSFT commented on #16479
Please reopen if you still seeing this issue

[2022-08-04 05:57] #16479 closed

[2022-08-04 05:57] Miti-Shah opened #23434 "Azure Advisory recommendation issue"
Hi , we have updated our setting on the resource as per advisory recommendation but when it got refreshed next , the recommendation is still there. what to do? @navba-MSFT
"Improve resiliency by migrating your Azure Cosmos DB accounts to continuous backup"
we have enabled continuous backup on cosmos DB around 48 hours ago.. but recommendation is still there

[2022-08-04 06:05] RakeshMohanMSFT commented on #12886
This issue is fixed. Please upgrade to the latest version of azure cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

az storage account keys list -g issue12886 -n "1bd" --query [0].value
"sWJXsX****************************************************************=="

[2022-08-04 06:05] #12886 closed

[2022-08-04 06:06] RakeshMohanMSFT commented on #20123
This issue is fixed

[2022-08-04 06:06] #20123 closed

[2022-08-04 06:31] RakeshMohanMSFT commented on #14628
This issue is fixed. Please upgrade to latest version of azure cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-04 06:31] #14628 closed

[2022-08-04 06:34] RakeshMohanMSFT commented on #14679
This is fixed. please upgrade to latest version of azure cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

`az ad sp list --show-mine --query [0].servicePrincipalNames`
[
  "1520a3f0-3631-****-****-********"
]

[2022-08-04 06:34] #14679 closed

[2022-08-04 06:39] BasBerk commented on #15520
seem that we get the same error when we try to replace an certificate.

[2022-08-04 06:52] RakeshMohanMSFT commented on #16449
This issue is fixed. Please upgrade to latest version of azure cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-04 06:52] #16449 closed

[2022-08-04 06:58] yonzhan commented on #23434
Advisory

[2022-08-04 07:07] RakeshMohanMSFT commented on #16450
This issue is fixed. Please upgrade to latest version of azure cli [ 2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-04 07:07] #16450 closed

[2022-08-04 07:09] #23434 closed

[2022-08-04 07:12] RakeshMohanMSFT commented on #15987
[az config set](https://docs.microsoft.com/en-us/cli/azure/config?view=azure-cli-latest#az-config-set) is used to set default values, youu can use unset to remove. Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-04 07:12] #15987 closed

[2022-08-04 07:23] RakeshMohanMSFT commented on #14895
This issue is fixed. Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

`az sql server firewall-rule delete --ids` /subscriptions/<subscriptionid>/resourceGroups/issue13587/providers/Microsoft.Sql/servers/issue13587server/firewallRules/ClientIPAddress_2020-8-13_12-49-41

[2022-08-04 07:23] #14895 closed

[2022-08-04 07:24] RakeshMohanMSFT commented on #15391
This issue is fixed. Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-04 07:24] #15391 closed

[2022-08-04 07:26] #16901 closed

[2022-08-04 07:28] RakeshMohanMSFT commented on #16735
Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and retry again.

[2022-08-04 07:28] #16735 closed

[2022-08-04 07:28] #16767 closed

[2022-08-04 07:31] RakeshMohanMSFT commented on #16076
Please upgrade to latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-04 07:31] #16076 closed

[2022-08-04 07:33] RakeshMohanMSFT commented on #13711
Please ensure you do not have any defaults set
[az config](https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration) set defaults.location=westus2 defaults.group=MyResourceGroup.

Upgrade to the latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-04 07:33] #13711 closed

[2022-08-04 07:35] RakeshMohanMSFT commented on #14518
Closing this thread

[2022-08-04 07:35] #14518 closed

[2022-08-04 07:36] RakeshMohanMSFT commented on #13655
Closing this thread.

[2022-08-04 07:36] #13655 closed

[2022-08-04 07:51] navba-MSFT commented on #23434
@Miti-Shah Thanks for reaching out to us and reporting this issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-08-04 08:02] #23182 closed

[2022-08-04 08:02] #23123 closed

[2022-08-04 08:02] #20787 closed

[2022-08-04 08:02] #20641 closed

[2022-08-04 08:02] #20471 closed

[2022-08-04 08:02] #19873 closed

[2022-08-04 08:02] #19480 closed

[2022-08-04 08:26] #22788 closed

[2022-08-04 08:39] dreeko opened #23437 "sql server ad-admin create fails with "ERROR: Operation returned an invalid status 'Accepted'""
**Related command**

[code]

**Describe the bug**

sql server ad-admin create fails with "ERROR: Operation returned an invalid status 'Accepted'"

With pipeline debugging enabled and the debug flag on the az command i can observe that the underlying HTTP call appears to succeed but the az tool cannot handle the ```202 Accepted``` Response from that call

**To Reproduce**

Execute ```az sql server

[2022-08-04 08:45] yonzhan commented on #23437
route to CXP team

[2022-08-04 09:03] RakeshMohanMSFT commented on #14782
This is as designed. There are many possible errors that could a user commit, it would be difficult to address them all.

[2022-08-04 09:03] #14782 closed

[2022-08-04 09:25] dosmanak commented on #21195
Hello. I also get empty response on `az ad sp credential list --id <<sp.appId>>`.

When I search for the service principal in portal, I was able to found the expiry info and obfuscated secret under AAD->Apps Registrations->Certificates and Secrets

[code]

[2022-08-04 09:34] jiasli commented on #21195
Azure Portal can only show app's credential, not service principal's. Use `az ad app credential list` to get the same behavior as Azure Portal.

[2022-08-04 11:22] divyansh3131 commented on #22675
Can you please update the user info section and add the real values for the user who is trying to create this resource. MP check if failing because of this user. alice@microsoft.com is just the dummy value that was used in the examples for reference

[2022-08-04 11:46] mateuszdrab commented on #15520
Thank you for sharing @gunjanj
This workaround helped me solve the issue for a customer facing the same error with AGIC in their AKS deployment.

[2022-08-04 13:17] mmckechney commented on #23428
@navba-MSFT - this works for me today. I wonder if there was some latency in Azure yesterday unrelated to the CLI. In any case, I will close this issue. Thanks.

[2022-08-04 13:33] AjKundnani opened #23440 "CLI | Trusted Launch as Default - New VM with minimal Inputs"
### Related command

- [az vm create --name 'vmname' --resource-group 'vm-rgname'](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-create)
- [az vmss create --name 'vmssname' --resource-group 'rgname'](https://docs.microsoft.com/en-us/cli/azure/vmss?view=azure-cli-latest#az-vmss-create)

### Resource Provider

Microsoft.Compute/virtualMachines

### Description of Feature

[2022-08-04 13:54] juandrn commented on #20231
For me worked removing .azure folder:
C:\users\<your user>\.azure

Before it I've executed the command too:
az upgrade

But removing folder just could works,
The problem I think was when I used Az Cloud Shell and Powershell togheter

[2022-08-04 13:58] RakeshMohanMSFT commented on #16527
Please upgrade to the latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-04 13:58] #16527 closed

[2022-08-04 14:01] yonzhan commented on #23440
Compute

[2022-08-04 14:08] RakeshMohanMSFT commented on #13404
This issue is fixed. Please upgrade to the latest version of az cli [2.39.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-08-04 14:08] #13404 closed

[2022-08-04 14:17] gavrochexu commented on #23423
Hi, @yonzhan. I found a similar case reported 3 months ago: https://github.com/Azure/azure-cli/issues/22246. Was it caused by user or code in auzre client ?

[2022-08-04 15:09] rmc515 commented on #23242
@navba-MSFT I am getting the same error when I attempt to connect to RDP through Bastion command line. I don't see conn.rdp anywhere to delete. What else can I try?

[2022-08-04 15:52] avnishsinghhh opened #23441 ""az synapse pipeline show/list/create" considering activity type for activity "Fail" as "activity" which is leading to blank pipeline canvas"
**Related command**
az synapse pipeline <show/list/create> --workspace-name <workspace name> --name <pipeline name>

**Describe the bug**
"az synapse pipeline <show/list/create>" considering activity type  for activity "Fail" as "activity" instead of "Fail" which is leading to blank pipeline canvas, however pipelines can be validated. Pipeline activities appears back once activity type is manually

[2022-08-04 16:20] SaurabhSharma-MSFT commented on #23441
@avnishsinghhh We are looking into it and get back to you for any additional information.

[2022-08-04 16:56] PramodValavala-MSFT commented on #23426
@keithmitworks The Resource Group parameter is primarily used to locate the webapp since that is the main command here but also uses it for the VNET as well. If your VNET is in a different resource group, you can then pass in the Resource ID instead for the VNET.

[2022-08-04 18:10] saisujithreddym commented on #23325
Thank you @necusjz and @ZengTaoxu . Please let us know if you need more information to get this work done. Also can you please provide the ETA for the changes?

[2022-08-04 18:30] jaylabell commented on #21604
Thank you!

[2022-08-04 18:30] #21604 closed

[2022-08-04 19:40] avifatal commented on #23387
I cant access the another PC, for not I got from the origin pc the error:
[code]

Only once I was able to get connected, but when I `exit` I could not continue using the terminal.

With --debug:

[code]

[2022-08-04 22:05] TravisCragg-MSFT commented on #23202
Spoke with issue owner offline, closing as resolved. This is currently not possible and being worked on.

[2022-08-04 22:05] #23202 closed

[2022-08-04 22:06] KSchlobohm opened #23443 "Azure CLI cannot set values on nested properties"
**Related command**
`az ad app update --set`

**Describe the bug**
Attempting to set a value on a nested property returns an error. It appears that the cli is unaware of the changes made to the graph. Specifically cannot set these two properties:
- "api.oauth2PermissionScopes"
- "api.preAuthorizedApplications"

**To Reproduce**
`az ad app update --id $clientid --set api.oauth2PermissionScopes="[ {

[2022-08-04 22:12] KSchlobohm opened #23444 "App Registration updates could include samples for "set" operation"
**Related command**
`az ad app update`

**Is your feature request related to a problem? Please describe.**
#23443

**Describe the solution you'd like**
I'd appreciate documentation or samples that explain what properties *can* be set with the `az ad app update --id $id --set` command.

**Describe alternatives you've considered**
Use `az rest` command to PATCH the app registration as shown in #2344

[2022-08-04 22:50] yonzhan commented on #23441
route to CXP team

[2022-08-04 22:54] yonzhan commented on #23443
@jiasli for awareness

[2022-08-04 22:56] yonzhan commented on #23444
@jiasli for awareness

[2022-08-04 23:04] #23415 closed

[2022-08-04 23:19] brandonh-msft opened #23445 "Getting supported images list for an Azure Batch pool fails with nondescript error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az batch pool supported-images list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az batch pool supported-images list --account-name {

[2022-08-04 23:53] yonzhan commented on #23445
route to CXP team

[2022-08-05 01:15] necusjz commented on #23325
Around 09/06/2022.

[2022-08-05 01:22] #13600 closed

[2022-08-05 01:45] choiminjoo opened #23446 "az cli issue"
![status](https://user-images.githubusercontent.com/110645924/182997448-9c6995bf-f94c-448a-93df-364653db6883.png)

**Related command**

az network nic ip-config delete -g Nable -n Service-Private-VIP --nic-name sbc-a703
az network nic ip-config create -g Nable --nic-name sbc-b276 -n Service-Private-VIP --private-ip-address 10.0.0.100
az network nic ip-config update -n Service-Private-VIP --nic-nam