[2017-08-28 18:21] #4224 closed

[2017-08-28 19:02] mayurid commented on #2694
Assigning to Willie to review and clean up.

[2017-08-28 22:33] jluk opened #4332 "[cloud shell][bug] az login returns `source code string cannot contain null bytes`"
### Description
**Outline the issue here:**
When attempting to use CLI in cloud shell, it prompts for an az login.

Upon invoking az login the error `source code string cannot contain null bytes` is returned.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: cloud shell

**CLI Version:** What v

[2017-08-28 23:40] derekbekoe commented on #643
The homebrew PR has been created - https://github.com/Homebrew/homebrew-core/pull/17344.

[2017-08-29 00:31] jluk commented on #4332
Adding @yugangw-msft so he can see this when he gets back 😄

[2017-08-29 01:05] gbowerman opened #4333 "New cloud shell had expired access token for CLI"
Launching a new cloud shell and running an az command resulted in:
"The access token expiry UTC time '8/28/2017 12:46:41 AM' is earlier than current UTC time '8/28/2017 11:14:23 PM'.
![cloud_shell](https://user-images.githubusercontent.com/4258913/29799873-9e91b52a-8c1b-11e7-91e8-ba065bdaaf0e.png)

[2017-08-29 02:03] helenlivsc commented on #4277
I suppose the issue here is different from https://github.com/Azure/azure-cli/issues/1522#issuecomment-298716269. We are talking about clean MacOs.

Per tej001, it is a problem in installation scripts. When will you plan to fix it?

[2017-08-29 12:49] rauluka opened #4335 "Unable to create storage account in certain regions"
### Description
**Outline the issue here:**
I can't create storage account in some regions, e.g. westeurope.
Here is the command:
`az storage account create  --resource-group xxx --kind "Storage" --sku "Standard_GRS" --name xxx -l westeurope`
As a result I get:

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, night

[2017-08-29 14:52] tjprescott commented on #4335
Can you create the storage account in these regions using the portal?

[2017-08-29 15:28] johanste commented on #4304
@dragonfly91, can you please provide the command line you tried to pass? I'd like to see how you escaped the quotes in the parameter value...

[2017-08-29 17:37] derekbekoe commented on #4277
On a fresh machine, if you only run `curl -L https://aka.ms/InstallAzureCli | bash`, the xcode prompt should also appear automatically then after installation of the xcode feature, you can run the install script again.

If the xcode prompt doesn't appear, this below will work:
[code]

[2017-08-29 19:03] dragonfly91 commented on #4304
az backup job show --job-id $job_id --vault "$vault_json" --query properties.extendedInfo.propertyBag."Target Storage Account Name"

[2017-08-29 19:05] rauluka commented on #4335
Yes, and I can create it also using cli version 2.0.14.Od: "Travis Prescott" &lt;notifications@github.com&gt;Do: "Azure/azure-cli" &lt;azure-cli@noreply.github.com&gt;; Wysłane: 16:52 Wtorek 2017-08-29Temat: Re: [Azure/azure-cli] [bug]Storage account creation fails (#4335)Can you create the storage account in these regions using the portal?

—You are receiving this because you authored the thread.

[2017-08-29 19:11] johanste commented on #4304
What happens if you escape the quotes?

For cmd.exe, that would be:

`az backup job show --job-id $job_id --vault "$vault_json" --query properties.extendedInfo.propertyBag."""Target Storage Account Name"""`

(note the triple quotes)

In general, if you run your command with --debug, it will show you (among a **lot** of other things :)) the parameters as they are received.

[2017-08-29 19:55] alexpolozov opened #4338 "az login causes an infinite refresh loop in the browser"
### Description
Not sure if this is the right repo for this question since it involves the Web login experience.

Installed the azure CLI tools, trying to login interactively. After I take the code produced by `az login`, paste it in the `aka.ms/devicelogin` form, and press "Continue", I'm getting a "Choose your account" page. After I click my account (it's already connected to Windows), I'm redir

[2017-08-29 20:31] tjprescott commented on #4335
@troydai can you take a look?

[2017-08-29 20:34] tjprescott commented on #4338
I have definitely experienced this myself--however, I don't think the CLI is the cause. I'll let @yugangw-msft comment as he knows more about the underlying issue.

[2017-08-29 20:59] tjprescott opened #4340 "Improvements to --ids parameter"
**1. Ingest Output Formats Easily**

Currently `--ids` requires a space-separate list of IDs.  To feed this to from another command, you could try:

[code]
This doesn't actually work.  It would be much more convenient if --ids could sniff IDs from a variety of output formats, to enable the following:

[code]

**2. Allow Looping on Name**

Currently you can supply a list of IDs... OR a single name.

[2017-08-29 21:01] agolomoodysaada opened #4341 "ERROR: Deployment failed. VM has reported a failure when processing extension 'CustomScript'. Error message: "Enable failed: failed to execute command: command terminated with exit status=1"."
### Description
Running the below commands on VMSS
[code]

[code]
with a custom-script.json
[code]

both commands throw this error
[code]
If I delete the 1 VM in the VMSS and re-run commands against the VMSS they work fine for a few times and then start failing again. It's almost like the VM gets corrupted somehow?

---

### Environment summary

**Install Method:** How did you install the CLI? (e.

[2017-08-29 21:20] troydai commented on #4335
@rauluka is this issue limited to westeurope region only?

[2017-08-29 21:29] troydai commented on #4335
I got this issue, too. However, I think this is a service limited. Can you accomplish this operation through the portal?

[2017-08-29 22:20] alexeyshishkin01 commented on #1787
hello, all!
is there any news regarding the status of blob copy?
I use azure-cli (2.0.15) which is still missing this functionality.

[2017-08-29 22:57] troydai commented on #4335
Oh. I suspect it is MSI related.

[2017-08-29 23:42] troydai commented on #1787
I'm reopen this issue and put this on the backlog.

[2017-08-29 23:43] tjprescott commented on #1787
There is no reason to bring back `azure storage blob copy show` as this information is returned as part of `az storage blob show`.

[2017-08-29 23:50] troydai commented on #4335
In contact with storage service team.

[2017-08-30 07:00] rauluka commented on #4335
@troydai regarding other regions, I tried also northeurope (which fails with the same error), but e.g. westus works good. I agree with @tjprescott, it looks like regression. With earlier version of cli everything worked for mentioned regions.

[2017-08-30 09:34] alexeyshishkin01 commented on #1787
`az storage blob show` is only for static info about the blob:
root@Alexey-HP:/root# az storage blob list --container-name centoscontainer --account-name pgproimages
Name                                        Blob Type    Blob Tier         Length  Content Type              Last Modified
------------------------------------------  -----------  -----------  -----------  ------------------------  --

[2017-08-30 14:46] fletchsod-developer opened #4344 ""az keyvault secret download" command threw an error."
### Description
**Outline the issue here:**

Command line as per documentation.

     az keyvault secret download --file secret.foo --name <<foo>> --vault-name <<foo>>

Error response

'NoneType' object has no attribute "get"
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/azure/cli/main.py", line 36, in main
cmd_result = APPLICATION.execute(args)
  File "/opt/az/lib

[2017-08-30 16:10] troydai commented on #1787
@alexeyshishkin01 `az storage blob show` is the right way to get blob copy status. The command uses "Get Blob Properties" rest operation, which is the recommended approach: https://docs.microsoft.com/en-us/rest/api/storageservices/copy-blob.

[2017-08-30 16:13] troydai commented on #4335
@rauluka, thank you. I'm in contact with service team. The issue may cause by the upgrade of our SDK dependencies. I'm working with the service team to solve this issue.

[2017-08-30 16:55] tjprescott commented on #1787
@alexeyshishkin01 if I do a `az storage blob show/list` with JSON output format, I see that copy status is included as part of the blob's properties.  If you want to project this into table or TSV format, you can do so with --query.

@troydai I would not advocate for the revival of Xplat's `blob copy show` command, though we could consider adding copy status to the default table format.

[2017-08-30 16:57] tjprescott commented on #4344
Hi @fletchsod-developer this is a bug that is occurring because the command is looking for a tag that specifies the encoding. If you have no tags, then this is the error you get.

We will issue a fix for the next release. In the meantime, if you specify the encoding parameter manually, it should download without issue.

[2017-08-30 17:26] tjprescott commented on #4341
This sounds like an issue with the extension rather than the CLI. If you try this with an ARM template or in Powershell do you observe the same behavior?

I'd recommend you post your issue here:
https://github.com/Azure/custom-script-extension-linux

They will have better insight into the extension's behavior and be better able to guide you.

[2017-08-30 17:39] fletchsod-developer commented on #4344
Thanks.

[2017-08-30 17:42] tjprescott commented on #4202
Moving this into the same project as improving LB/AG experience.

[2017-08-30 17:48] jeffwilcox commented on #4338
+1 we've been hitting this for a while now, seems to be related to the newer AAD authentication flows... maybe the device auth experience has regressed?

[2017-08-30 18:04] troydai commented on #1949
Feature is added in https://github.com/Azure/azure-cli/pull/4342

[2017-08-30 18:04] #1949 closed

[2017-08-30 18:20] agolomoodysaada commented on #4341
@tjprescott, thanks for your great suggestion. While attempting to create an issue in the other repository, their issue description mentioned

[code]
which effectively helped me debug my actual issue. I found a directory `/var/lib/waagent/custom-script/download/` that had all the downloaded files with `stdout` and `stderr` output that helped me figure out the problem with my script. I had to delet

[2017-08-30 18:34] ShannonHickey commented on #1949
@troydai this is excellent news. Is there any documentation on which types can be guessed (and whether it's filename-based and/or content-based)? Also, is it extensible? Could we, for example, add an extension->content-type mapping to the list?

[2017-08-30 18:43] bacongobbler commented on #1949
[From the code](https://github.com/Azure/azure-cli/blob/7d51854504343b298f27d401e7bbf3bef8ffa039/src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/util.py#L140-L153), yes. It guesses the content type based on [Python's mimetypes package](https://docs.python.org/2/library/mimetypes.html) which has [add_type](https://docs.python.org/2/library/mimetypes.html#mimetypes.add_type).

[2017-08-30 18:51] bacongobbler commented on #1949
Or perhaps you could write a follow-up PR which can read extensions from ~/.azure/mime.types with `mimetypes.read_mime_types()`. That would make it more scalable in the future rather than writing a new PR every time a new extension comes up that isn't captured by the mimetypes package.

[2017-08-30 19:12] elibarzilay opened #4347 "Too many management API calls"
For a while now we've been having bad throttling issues, where things
kept crashing with errors.  After a long debugging session where I went
into the code to track where the bad calls are made, I saw that the
offending calls are ones that are made to the management API, eg:

    https://management.azure.com/subscriptions/[...]/providers/Microsoft.Storage/storageAccounts?api-version=2017-06-01

La

[2017-08-30 19:19] elibarzilay commented on #4229
See also Issue #4347

When I was trying to trace how things work, it turns out that the CLI is
actually doing the right thing (via python http library): it gets a
reply from the management API that asks to re-try after 17 seconds, and
then it actually *does* that 17 second sleep, and retries.  In some
cases this works, and in other cases it just does this three times and
then it fails.

So this lo

[2017-08-30 19:21] nickwalkmsft opened #4348 "App Service: CI_CD_URL sourced from wrong location in `webapp deployment container config`"
### Description
When using `az webapp deployment container config` to get the Docker CI/CD webhook URL for a site (as per the [docs](https://docs.microsoft.com/en-us/azure/app-service-web/app-service-linux-cli#enable-continuous-deployments-for-custom-docker-images)), the [implementation](https://github.com/Azure/azure-cli/blob/7d51854504343b298f27d401e7bbf3bef8ffa039/src/command_modules/azure-cli-

[2017-08-30 19:44] tjprescott commented on #4347
Yes, throttling issues are exactly why we don't recommend people rely on using --account-name to automatically retrieve the key.  Correct me if I'm wrong @troydai but we do reuse the key for batch upload operations.

The recommended way to work with storage is to retrieve the key and store it in the environment variable.

[2017-08-30 19:58] tjprescott commented on #4347
@troydai I recommend we add a warning to the logic that retrieves the key that points the user toward the recommended way of operating. It would also have saved @elibarzilay a lot of time spent troubleshooting because his screen would have been filled with warnings that retrieving the key for each call is inefficient and may cause throttling issues.

[2017-08-30 20:03] derekbekoe commented on #2275
Closing as this has been done.

[2017-08-30 20:03] #2275 closed

[2017-08-30 20:37] elibarzilay commented on #4347
@tjprescott, Yes -- I wasn't even aware of that text until I was deep
into debugging the problem, so an error, or at least a warning text
would have definitely helped.  I guess that this is basically saying
that "not recommended" is too weak: it could make me think that it's OK
to not add the key, and the errors that I got as a result of not doing
that are far enough that there's no way to guess w

[2017-08-30 20:54] kydeeds commented on #4335
@troydai I was also able to repro the issue when attempting to create storage accounts in US Gov Regions using version 2.0.15 . Not sure sovereign clouds need additonal work

[2017-08-30 21:28] tjprescott commented on #4335
This occurs because a feature included in the latest release was not deployed to all regions by the storage team. We will issue a fix in the upcoming release.

[2017-08-30 23:24] bacongobbler commented on #4223
fixed by upgrading to v2.0.15.

[2017-08-30 23:24] #4223 closed

[2017-08-30 23:54] troydai commented on #1949
@bacongobbler thank you for the suggestion. @ShannonHickey, we are using the Python `mimetypes` module to guess content type based on file names. Currently, we use its default mapping, which should be able to recognize most of the command file types. I'm not sure about the range of the files types we may need to deal with or if there are additional types so I begin with the most conservative imple

[2017-08-31 00:42] dtrapezoid commented on #1773
@marcote I added ssh-agent: `$ ssh-add ~/.ssh/id_rsa` then `plugins=(... ssh-agent)` into my zshrc profile, reloaded. Still got the same error.

I had previously installed with homebrew but uninstalled and grabbed the latest version of azure-cli w/curl.

Is anyone else still struggling with this same issue?

[2017-08-31 04:48] dtrapezoid commented on #1773
If I do `az acs kubernetes get-credentials --resource-group=myResourceGroup --name=myK8sCluster --ssh-key-file=~/.ssh/id_rsa`passing the path to my id_rsa, I get `Private key file ~/.ssh/id_rsa does not exist` - this is after adding it to the ssh-agent, with `ssh-add ~/.ssh/id_rsa` as noted in previous comment.

Am I missing something?

[2017-08-31 07:51] alexeyshishkin01 commented on #1787
ok, thanks, but even JSON output is workaround - one has to get it repeatedly to reach the status 'success'
compare it with progress bar of the command 'az storage blob upload'

[2017-08-31 13:53] gsstark commented on #3863
Wouldn't it be *vastly* preferable if you just didn't bundle an entire copy of python3 in the package and just had a dependency on the distribution python packages you needed? Embedding copies of system packages in your package is always going to be fragile this way and also have tons of security issues.

[2017-08-31 14:07] gsstark commented on #3863
For now users can install the libssl1.0.0 from jessie-backports from here:
https://packages.debian.org/jessie-backports/amd64/libssl1.0.0/download

[2017-08-31 14:17] kishorebasisth opened #4352 "Error while creating docker image of azure-cli with Alpine linux as base image"
### Description
I am trying to create a Alpine docker image with azure-cli installed on it.

My docker files is as follow:

[code]

When I run the docker build command, I get the following errors:

[code]

What am I doing wrong here? Am I missing any dependencies?
---

[2017-08-31 15:06] derekbekoe commented on #4352
The CLI Docker image is built from `python:3.5.2-alpine`
https://github.com/Azure/azure-cli/blob/master/Dockerfile

That Docker file may help you.

[2017-08-31 17:32] tjprescott opened #4354 "[Storage] Some storage tests will not re-record on a Windows machine"
The following Storage tests fail when I try to re-record them on Windows:

test_storage_blob_incremental_copy
test_storage_blob_lease_operations
test_storage_blob_metadata_operations
test_storage_blob_snapshot_operations
test_storage_blob_upload_midsize_file
test_storage_blob_update_small_file
test_storage_file_copy_scenario

The recurring error is:
`FileNotFoundError: [WinError 2] The system cann

[2017-08-31 17:41] #4344 closed

[2017-08-31 17:48] troydai commented on #4347
- [ ] Improve documentation and help to state that without specifying `--account-key` additional management call will be made to retrieve storage account key.
- [ ] Feature requested: cache the storage account key.

[2017-08-31 17:49] troydai commented on #4347
/cc @JasonRShaver

[2017-08-31 17:56] #4335 closed

[2017-08-31 18:16] mmacy commented on #3714
@jluk I don't get the stack trace, but I do get this message when attempting to create a key vault in the Cloud Shell:

[code]

Was running through [Mounting an Azure file share with Azure Container Instances](https://docs.microsoft.com/en-us/azure/container-instances/container-instances-mounting-azure-files-volume#store-storage-account-access-details-with-azure-key-vault) when I hit this.

[2017-08-31 18:20] jluk commented on #3714
@mmacy approx how long was cloud shell running before this cmd was invoked? it's possible calls are made before cloud shell can auth for keyvault.

[2017-08-31 18:21] mmacy commented on #3714
@jluk Hmm... 5 minutes?

[2017-08-31 18:31] jluk commented on #3714
I've been hitting some odd auth errors as well for unrelated CLI tasks like #4332, lets pick this up with @yugangw-msft when he returns

[2017-08-31 20:50] elibarzilay commented on #4347
@troydai: Yes, with a minor comment -- the documentation should refer to the page that lists these limits, since 100/5min is small enough to surprise people...

And yes, the second one is definitely a new feature request.

Thanks!

[2017-08-31 22:11] rjtsdl commented on #4273
@tjprescott you can close it now.

[2017-08-31 22:12] rjtsdl commented on #4271
@neilpeterson you are right. You can close this. The release should be cut shortly.

[2017-08-31 22:14] rjtsdl commented on #4117
@tjprescott you can close this now.

[2017-08-31 23:02] troydai commented on #4347
got it.

[2017-09-01 09:33] cpanato opened #4360 "Can't connect to HTTPS URL because the SSL module is not available."
### Description
build a docker image with the azure-cli using  apt-get

when run az login got this:
[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: apt-get

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:
[code]
**OS Version:** What

[2017-09-01 10:16] kishorebasisth commented on #4352
@derekbekoe Thanks a lot, I was missing `make` on the images. I will close this issue.

[2017-09-01 10:16] #4352 closed

[2017-09-01 15:39] tjprescott commented on #4360
I think this has to do with the Linux environment in your Docker image rather than the CLI itself.
https://github.com/requests/requests/issues/3482

[2017-09-01 16:17] troydai commented on #2291
Done

[2017-09-01 16:17] #2291 closed

[2017-09-01 16:54] derekbekoe commented on #4360
Yes what does your Dockerfile look like?

[2017-09-01 16:57] cpanato commented on #4360
looks like, thanks for the reply!
[code]

[2017-09-01 17:11] troydai opened #4361 "Full automate the release process in one script."
The release process today is not fully automated. Although there are mechanism in place to replacing most of the manual steps, human intervention is still required to:
1. Run various commands in sequence.
2. Fetch and set secrets for different services.
3. Set some environment varibles.

The goal of this task to write a fully automated release script requires minimal human intervention.

[2017-09-01 17:37] troydai opened #4363 "Allow command module to set a module correlation ID in telemetry."
details:
- [x] provide API for command module to set a string for module correlation ID
- [x] size of string will be cap at 512 bytes
- [x] pending field name.

[2017-09-01 17:40] cpanato commented on #4360
reduce for this and still same error

[code]

[2017-09-01 17:44] troydai opened #4364 "Build and storage wheel file as artifacts in Travis CI build."

[2017-09-01 17:44] troydai opened #4365 "Full automate live test run daily in Morocco."

[2017-09-01 18:42] #4273 closed

[2017-09-01 18:42] #4117 closed

[2017-09-01 20:20] johnhidey commented on #3863
Installing libssl1.0.0 from jessie-backports causes issues then with .net core 2.0 cli

[2017-09-01 21:48] tjprescott commented on #3942
Continuing work into sprint 22 (and likely into 24 and beyond!)

[2017-09-01 22:23] ahmedelnably opened #4367 "Add an app setting when creating a custom container web app on linux"
### Description
Add an app setting when creating a custom container web app on linux

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:

**OS Version:** What OS and version are you using?
Answe

[2017-09-01 22:31] troydai opened #4368 "Consider remove jsonc from the output format options"
To reduce code base and dependencies. Third party tools like `jq` can colorize the json output from command line.

[2017-09-01 22:53] tjprescott commented on #4368
This is a dupe of #4002.

[2017-09-01 22:56] #4368 closed

[2017-09-02 16:14] nagarajasr commented on #4222
i am still facing this issue with nightly build (2017-09-01)

[code]
same error with location set to southindia and eastus.

[2017-09-03 16:30] vlaskinvlad opened #4371 "Cannot download-batch when file and folder have the same name"
### Description

When download folders from Azure Blob Storage as:
`az storage blob download-batch --connection-string $CS -d /mnt -s export`

If in the container (`export` from the example above)  I have a folder and a file with the same name, I got an error with stack-trace below.

This situation happens naturally when folder is created with Spark or Hadoop jobs
(e.g. there is a folder AND 0B fi

[2017-09-03 22:59] KJTsanaktsidis opened #4372 "Passing /dev/fd/0 to az storage blob upload no longer works"
### Description
With the azure CLI 2.0.12 and below, it was possible to upload a stream from STDIN to blob storage by an invocation like the following -

[code]

Obviously this only worked on platforms that have `/dev/fd`, but otherwise this worked nicely to upload unknown-length streams we didn't want to buffer to disk.

This appears to have been broken since https://github.com/Azure/azure-cli/co

[2017-09-04 05:45] worldspawn opened #4373 "Service Bus Support"
Is there any support for provisioning _Azure Service Bus_ from azure-cli?

https://azure.microsoft.com/en-au/services/service-bus/

[2017-09-04 12:05] andy26nash commented on #692
Still don't seem to be able to 'show' a built-in policy

Was trying to assign one of the built-in polices “Allowed resource types” using the CLI in the Azure console.

I can list the available policies ‘az policy definition list’ which includes the policy I want to use.

When I try to show that specific policy I get nothing back, no error

az policy definition show --name a08ec900-254a-4555-9bf5-e

[2017-09-04 12:07] andy26nash opened #4374 "az policy definition show does not work for built-in ploicies"
Saw this was previously an issue but closed.

Still don't seem to be able to 'show' a built-in policy
Was trying to assign one of the built-in polices “Allowed resource types” using the CLI in the Azure console.
I can list the available policies ‘az policy definition list’ which includes the policy I want to use.
When I try to show that specific policy I get nothing back, no error
az policy defini

[2017-09-04 13:49] mdekoster commented on #2505
The keyvault dataplane commands are still not proxy aware in the keyvault package version 2.0.8. Can someone solve this issue?

[2017-09-05 08:41] SteveALee commented on #1949
@troydai How should we track when this is released? Thanks

[2017-09-05 09:58] wi5nia opened #4375 "Can't login to az"
### Description
**Outline the issue here:**
When doing the command: az login I get the URL and code. I coy&paste the URL into a browser and than c&p the code.
The page asks me to choose a login, I do so and then it refreshes to the code page again. I can enter the code again and the process starts again. I've tried Edge, Chrome, Opera - everywhere the same.
---

### Environment summary

**Install

[2017-09-05 15:34] tjprescott commented on #4375
This is a duplicate of #4338 and is being investigated. Are you able to login using `-u {username}`?

[2017-09-05 15:34] #4375 closed

[2017-09-05 15:39] tjprescott commented on #4373
@JasonRShaver @mayurid

[2017-09-05 15:39] tjprescott commented on #4374
Which issue?

[2017-09-05 15:42] tjprescott commented on #4374
I found the issue. #692. I will close this and re-open that issue, as that is what the team requested. Thanks for bringing this to our attention!

[2017-09-05 15:42] #4374 closed

[2017-09-05 15:43] tjprescott commented on #692
As reported in #4374, this is still a problem.

[2017-09-05 15:47] tjprescott commented on #2505
This is not an issue with the KeyVault CLI commands--it is an issue with the KeyVault SDK.

[2017-09-05 16:07] troydai commented on #1949
It is just released last week in azure-cli 2.0.16 (storage module 2.0.14). Please give it a try and let me know if there is anything we can improve.

[2017-09-05 16:09] SteveALee commented on #1949
Great thanks I will do.

I looked on [the releases](https://github.com/Azure/azure-cli/releases) but they seem to be out of date given  what you say above.

[2017-09-05 16:11] SteveALee commented on #1949
oops, I meant - https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?view=azure-cli-latest

[2017-09-05 16:14] troydai commented on #4372
@KJTsanaktsidis thank you for posting this issue. We're not aware of this scenario so sorry for the inconvenience of breaking it. I assume you have work around to get around this scenario temporarily. If it blocks any critical scenario, please let me know.

Regarding the case, the content type inspection was added in 2.0.14, since you're on storage (2.0.13) I doubt if it is the root cause. I will

[2017-09-05 16:14] alexsab1 opened #4376 "VMSS create with existing network in another resource group"
### Description

I used "az vmss create --vnet-net <existing network> " where existing vnet exists in another resource group. My expectation was to reuse the existing network in another resource group.

Instead of using the existing vnet in another resource group, the command created new vnet in the same resource group.

Thank you

---

### Environment summary

**Install Method:** How did you inst

[2017-09-05 16:16] troydai commented on #1949
Thank you, it may take a few days for the page to be refreshed. We did send our release note. Thanks for the reminding, I will contact the doc team.

[2017-09-05 16:24] tjprescott commented on #4376
This is 100% by design. If you would like to use a VNET in another resource group, you must supply the fully-qualified resource ID to the VNet you want to use. This pattern is used throughout the CLI for cross-RG (and cross-subscription) resources.

[2017-09-05 16:24] #4376 closed

[2017-09-05 16:24] alexsab1 commented on #4376
Sorry and thank you for the explanation!

[2017-09-05 16:27] tjprescott commented on #4376
No problem. This question comes up every now and then :)

[2017-09-05 16:28] alexsab1 commented on #4376
Where in documentation I can find the details about the pattern for full-qualified resource IDs?

[2017-09-05 16:29] tjprescott commented on #4376
@JasonRShaver do we have a blog post that addresses this?

[2017-09-05 16:35] alexsab1 commented on #4376
From this issue I have found that I only need to specify fully-qualified ID for the subnet, without --vnet-name switch. That seems to work.

https://github.com/Azure/azure-cli/issues/2128

Thank you for your support.

[2017-09-05 16:40] tjprescott commented on #4376
If you do it incorrectly you should see something like:
`incorrect usage: --subnet ID | --subnet NAME --vnet-name NAME`

[2017-09-05 16:47] rjtsdl commented on #2396
This should be resolved by #4359. Please close this.

[2017-09-05 16:48] #2396 closed

[2017-09-05 16:57] troydai opened #4378 "[Batch] pool list command is failing for table output"
[code]

Root cause https://github.com/Azure/azure-cli/blob/56a9a39e513247816a368d0deb8441e436f961e4/src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/_format.py#L208. The property `currentDedicated` doesn't exist.

Here's the potential fix:
[code]

Must be one of those.

[2017-09-05 17:18] sptramer opened #4379 "`az vm format-secret` does not work"
### Description

The `az vm format-secret` command does not work. This can be seen by trying to run one of the examples under `az vm create`. The command[s] run, and the error, are:

[code]

`format-secret` returns indicating that a resource group parameter is missing, although the command does not take one:

[code]

This either indicates the example is incorrect, or the `format-secret` command do

[2017-09-05 17:54] roygara opened #4382 "az storage blob upload-batch outputs misleading error if --account-key is not attached"
(I realize this may be obvious to most, especially as most other commands -h don't outline certain parameters as required even if they are but that doesn't make it a good practice and as a first time user of the CLI it can lead to some unnecessary trial and error, especially when the errors don't actually specify the correct error)

### Description
Basically, when running "az storage blob upload-b

[2017-09-05 19:29] tjprescott commented on #4379
If you `echo $secrets` do you see valid secret URIs?

Otherwise, it sounds like the mechanism to sniff the KeyVault ID is failing. If you list the vaults in your active subscription, does the KeyVault you are trying to use appear?

[2017-09-05 20:40] KJTsanaktsidis commented on #4372
Thanks for your response. The only workaround I could find was to pin azure-cli 2.0.12. This is OK for now but obviously being able to track the latest release would be better!

Rather than trying to find out what broke this hack I wonder if adding an explicit option to read from stdin would be more desirable. The AWS cli tool allows uploads to S3 to be read from stdin by passing '-', for example.

[2017-09-05 20:52] tomasr opened #4384 "[KeyVault] KeyVault permissions enums are case sensitive"
### Description
I can't seem to get the right incantation to set the WrapKey or UnwrapKey permissions on keys in Azure Key Vault using the Azure CLI;

[code]

Fails with:

[code]

From reading the docs for the [management library](https://docs.microsoft.com/en-us/python/api/azure.mgmt.keyvault.models.keypermissions?view=azure-python), `wrap_key` and `unwrap_key` should be the right names, but no i

[2017-09-05 21:21] tjprescott commented on #4384
The values are shown in the help output (command -h).  They should be wrapKey and unwrapKey.

[2017-09-05 21:34] tomasr commented on #4384
Well.... I had no idea the output of -h and the generic syntax help that pops out on errors was different. Go figure.

Also, I *had* tried `wrapkey`, but no idea those things were case sensitive either (which seems kinda pointless, but oh well). Thanks for the help.

[2017-09-05 22:34] #4367 closed

[2017-09-05 22:51] viananth commented on #4216
Closed via https://github.com/AzureAD/azure-activedirectory-library-for-python/pull/105

[2017-09-05 22:51] #4216 closed

[2017-09-05 23:07] yugangw-msft commented on #3559
this has been fixed #4268

[2017-09-05 23:07] #3559 closed

[2017-09-05 23:08] sptramer commented on #4379
Yes, as far as I can tell, the URI is valid. The vault is listed in the results of `az keyvault list` and the requested cert is in the output of `az keyvault certificate list --vault-name NAME`.

[2017-09-05 23:10] yugangw-msft commented on #4332
The `az login` should be blocked in the latest CLI.  But I will talk to you and Anders about how to diagnose such issues moving forward, as it is possible that Cloud-Shell has not invoked CLI to set up local accounts

[2017-09-05 23:13] rjtsdl commented on #1310
It should be soon resolved by latest ACS implementation.
logical ACS resource are not sitting together with other resources anymore. And az acs delete should remove the logical one and also the underlying resource. Try regions in this announcement.

https://github.com/Azure/ACS/blob/master/announcements/2017-08-04_additional_regions.md

[2017-09-05 23:29] tjprescott commented on #4384
@tomasr indeed, the permissions should **not** be case sensitive but are, so I'll reopen this to track that fix.  For the value we use the rest API naming convention, which is `camelCased`.  If you look at the Python SDK documentation though, yes, everything will be `python_cased`. You should always be able to use -h to see the accepted values (which should be case insensitive).

[2017-09-05 23:31] tjprescott commented on #4372
I do believe you can try:
`command --foo @-`  The @ symbol will read from file, and the dash is used to indicate STDIN as that file. @johanste feel free to correct me.

[2017-09-05 23:34] tjprescott commented on #4379
Are you using some kind of custom domain that does not start with the vault name?  I'm not able to repro locally yet, but I can definitely see where the sniffing logic might break down.

[2017-09-05 23:43] sptramer commented on #4379
Nope - no custom domain prefix. The key vault was created by running a garden-variety `az keyvault create -n NAME -g ResourceGroup` command. No external FQDN is mapped in. The URL provided to `az vm format-secret` was in the form `https://VAULTNAME.vault.azure.net/secrets/cert1/ID_HASH`

[2017-09-05 23:51] jluk commented on #4332
Thanks @yugangw-msft I got around this by deleting the accessTokens file and restarting Cloud Shell to have it generate a new one. Any ideas on what the root cause was here to break az login on Cloud Shell start-up?

[2017-09-05 23:57] yugangw-msft commented on #4332
@jluk, like I communicated to you through a mail just now, any chance clould shell can record the traces for me to cross check? If you have a repro on a specific subscription, I can take a look too.
The bottom line is `az account show` should never ever return nothing.

[2017-09-06 00:01] jluk commented on #4332
Got it, unfortunately no repro available on specific sub right now. I'll follow up via your email about traces.

[2017-09-06 00:07] itowlson opened #4386 "az storage share create: meaningless error HTTPSConnectionPool"
### Description

When I run the `az storage share create` command, it thinks for a while and then displays "HTTPSConnectionPool".  There is no other error information.  This is unhelpful and gives me no way to diagnose or address the problem.

(In this case I _think_ the problem might be that I am trying to create a share on Premium storage... but I have no way to tell!)

I saw a similar error rep

[2017-09-06 01:04] johanste commented on #4372
The one thing to be aware of is that the @- annotation will read in the whole file before resuming the command execution. It would most certainly be interesting to support the notion of a stream for commands that do support reading from a stream....

[2017-09-06 01:41] #4264 closed

[2017-09-06 05:46] rbigeard commented on #3062
Should I understand form this discussion that the current example sitting at https://docs.microsoft.com/fi-fi/azure/virtual-machines/linux/tutorial-secure-web-server is actually misleading and should be amended? I am getting the exact same error as OP by following it (which is not surprising after reading this thread).

[2017-09-06 07:00] wi5nia commented on #4375
Then I get this:

tomaszwi@SP4TW C:\Users\tomaszwi
$ az login -u tomaszwi@microsoft.com
Password:
Get Token request returned http error: 400 and server response: {"error":"interaction_required","error_description":"AADSTS50079: The user is required to use multi-factor authentication.\r\nTrace ID: c3a51f74-adaa-40eb-86a0-447ceb880300\r\nCorrelation ID: 47554fc5-a5c0-4a99-854c-600036c81cfa\r\nTimest

[2017-09-06 15:13] ktwocee opened #4387 "lab vm create fails with NotSpecified/NativeCommandError"
### Description
Copy attached Artifacts.json into working folder (c:\temp).
Start Windows Powershell ISE as Administrator.
Change directory to working folder.
Authenticate with Azure using: ```az login```
Execute the following command:
[code]

Returns the following error:
[code]

Resources specified within command have been successfully verified to exist using other CLI 2.0 commands (e.g. group ex

[2017-09-06 15:19] brilong opened #4388 "Add Security Center configuration"
### Description
I would like to use azure CLI to enable Security Center data logging for my subscriptions, ensure policy is set to enable all recommendations, etc.  Today I have to use the Web UI to accomplish this, but I notice Security Center offers a REST API.  It would be good to integrate this functionality into the CLI.

---

### Environment summary

**Install Method:** How did you install t

[2017-09-06 15:21] lewisj opened #4389 "az storage download-batch tuple index out of range"
### Description
Command gave a tuple index out of range index error when trying to batch download files from my file share.

az storage file download-batch --destination  --source
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:apt-get

**CLI Version:** What version of the CLI and modules are i

[2017-09-06 16:35] troydai commented on #4389
@lewisj can you paste the command line and output? Please add `--debug` for more detailed logging.

[2017-09-06 16:41] troydai commented on #4386
Could you use `--debug` to get more detailed logging and paste it here?

[2017-09-06 16:47] troydai commented on #4382
Supposedly the account key is not required if the full qualified share/container name is given. The command is supposed to fetch the account name from the URL and fetch the account key automatically if the CLI is logged in. (Is it logged in here?)

The error message indeed can be improved. Thanks for the advice.

[2017-09-06 16:54] roygara commented on #4382
For what it's worth I (thought?) I provided the URL (I omitted parts of it when I put it here, which is why it looks incomplete), I copied it from the primary service endpoint over in the portal. Is that the correct URL? (sorry, again, new user)
If so: it didn't seem like it was able to parse it correctly (and yes it was logged in, I wouldn't imagine the command would work if it wasn't but I haven

[2017-09-06 17:17] tjprescott commented on #4387
From the help output:
[code]

So you would need to use `@./artifacts.json`.  If that doesn't work, try using bash or CMD, as we don't actively support PS for CLI 2.0 (though it generally seems to work).

[2017-09-06 17:20] tjprescott commented on #4375
This is an annoying problem and I've experienced it myself.  Here are some things you might try while the fix is pending:

1. Try different browsers
2. When you navigate to the browser you may see a window that says "You are using the old/new sign-in experience".  Try clicking the link to try with the newer/older method.  I have had that work.

[2017-09-06 17:25] tjprescott opened #4390 "[Network] Add `vnet-gateway vpn-client show` command"
Awaiting swagger and SDK update.  Carried over from #4249.

[2017-09-06 17:34] tjprescott opened #4392 "[Network] `vnet-gateway vpn-client generate` workarounds"
To implement #4249, two workarounds were needed.

1. The SDK implementation of these commands was duplicated in the CLI and referenced directly due to a bug in autorest that would not accept a 202 status code.
2. The service implementation sends both Azure-AsyncOperation and Location headers. The Async-Operation header is used for absolutely nothing, but the service wants you to poll on the Locati

[2017-09-06 17:38] troydai commented on #4382
[code]
This URL on paper doesn't look correct. The account name is missing here.

[2017-09-06 17:41] lmazuel commented on #4392
@tjprescott Note that the latest email thread said that the correct behavior is to poll using Azure-AsyncOperation, and when it's complete to do a final GET with the Location header of the first answer.
So correct workaround should be:
- Do initial request, save Location header
- Poll as usual
- Force `should_i_do_final_get` to do it against the saved Location

[2017-09-06 17:41] roygara commented on #4382
I'm aware, I omitted my account when I put it here, I wrote in tags but it looks like those were deleted when I posted somehow. On reflection there was no reason to omit it in the first place so I'll post it, I've since deleted that particular storage account but it was something like this:

https://examplestorageacct.blob.core.windows.net/

[2017-09-06 17:47] troydai commented on #4382
Thank you. The url looks correct. I will revisit this scenario in a bit. The bottom line is that we can improve the message, but I'm curious what stop the command from fetching the key.

[2017-09-06 17:53] tjprescott commented on #4392
@lmazuel does this warrant changes at the msrestazure level?

[2017-09-06 18:14] wi5nia commented on #4375
I've tried all browsers. Tried the both methods. All the same.

Regards,
Tomasz

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Travis Prescott <notifications@github.com>
Sent: Wednesday, September 6, 2017 7:20:11 PM
To: Azure/azure-cli
Cc: Tomasz Wisniewski; Author
Subject: Re: [Azure/azure-cli] Can't login to az (#4375)

This is an annoying problem and I'v

[2017-09-06 18:17] lmazuel commented on #4392
Let's say I need to make AzureOperationPoller more flexible to spooky restapi :)

[2017-09-06 18:26] tjprescott commented on #4375
In that case, I would recommend you log in to the Portal and open a support ticket. They will likely contact us and we can steer them from there.

[2017-09-06 23:07] #4363 closed

[2017-09-06 23:44] troydai commented on #4372
@KJTsanaktsidis, I can't repo this issue. Here's my repo command:
[code]

Am I doing anything different? Can you share an example of your repo?

[2017-09-07 00:08] KJTsanaktsidis commented on #4372
Did you check the resulting file that was uploaded? In my case it succeeded and created a file in azure, but it was empty.

The repro case we have is basically piping ~400GB of tarball into the following script. I don't think any of what it's doing should matter, but I could be wrong.
[code]

[2017-09-07 08:43] Tragetaschen commented on #4274
At least for me, these two options would be awesome. I'm currently storing about 4.5 GiB of blobs and when I need to update, only a small fraction of these actually have changed. Currently, I'm just uploading them all again and don't purge the ones that don't exist anymore.

[2017-09-07 08:48] dazdaz opened #4398 "az ad sp list Stalls"
### Description
After running "az login", the command "az ad sp list" stalls.  I assume that this is'nt expected behavior and would like to know what I can do, to debug this.

$ date ; az ad sp list ; date
Thu Sep  7 16:44:22 +08 2017
^CThu Sep  7 16:46:36 +08 2017

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, n

[2017-09-07 15:43] troydai commented on #4372
I did check the content and it's there. I'm not sure if the either 1) the platform, which I was on MacOS; or 2) size of the content to upload may impact this.

I will take a close look at your script.

[2017-09-07 16:26] troydai commented on #4372
Is it possible to simplify your script to a more concise repo? For example, using the format of my example to upload a relatively large file?

[2017-09-07 16:56] troydai commented on #4372
[code]

This uploads a 4GB file successfully. I'm wondering what's the error you got and `--debug` option told you. Please simplify your scenario a bit so that we can cut through the complexity of the bash script.

As I'm not able to repo this issue. I'll move this to the backlog.

[2017-09-07 17:24] hlandrygit opened #4400 "Unable to log in to CLI"
### Description
**Outline the issue here:**
I am not able to log into azure using the CLI.  The website log in fails repeatedly, asking for password.  I am able to use the same credentials to log into the Azure Portal.  Of note, I apparently have both a personal and business account with the same email address?  One of the MS support departments referred me here via case REG:117082216223149.  They

[2017-09-07 17:41] tjprescott commented on #4400
To clarify, when you run `az login` you go to the interactive login and end up in endless loop?  Can you login using `-u <username>` or do you get the "This requires 2-factor auth" error?

[2017-09-07 17:50] hlandrygit commented on #4400
If interactive login is the website then yes, I am not able to satisfy the credentials therefore it is an endloop.  Not sure how to use the –u command I think…

# az --login -u hlandry@laskoproducts.com
az: error: argument _command_package: invalid choice: hlandry@laskoproducts.com
usage: az [-h] [--output {json,tsv,table,jsonc}] [--verbose] [--debug]
          [--query JMESPATH]

          {appse

[2017-09-07 17:53] tjprescott commented on #4400
Your command is not right.  It isn't `az --login` it is `az login`.  You should be prompted for a password and, provided you don't require 2FA, you should be able to log in.

[2017-09-07 18:54] phekmat commented on #2866
@yugangw-msft related to this, is there a plan to include API apps (really, any app service whose kind is not "app") when doing `az webapp list`? I believe `az appservice web list` used to include them

[2017-09-07 19:19] yugangw-msft commented on #2866
//CC @mayurid  @williexu
We scoped webapp commands be only for webapps, when we integrated functionapp support. Since we don't have bear-term plans yet to on-board strong typed commands for api-app, I am fine to change our filtering logics from `==app` to `!=functionapp`

[2017-09-07 20:04] #3450 closed

[2017-09-07 20:05] #3457 closed

[2017-09-07 20:06] tjprescott commented on #3715
ping @annatisch @xingwu1

[2017-09-07 20:07] #3765 closed

[2017-09-07 20:18] tjprescott commented on #4098
@alexeyshishkin01 you should be able to create a managed image directly from your VM using `az image create --source <vm-name>`  @yugangw-msft is that correct?

[2017-09-07 20:19] tjprescott commented on #4114
@Yugangw-msft are you familiar with this?

[2017-09-07 20:19] #4136 closed

[2017-09-07 20:21] tjprescott commented on #4187
@Yugangw-msft are you familiar with this?

[2017-09-07 20:21] #4275 closed

[2017-09-07 20:53] alexeyshishkin01 commented on #4098
I was able to get rid of download/upload procedure:
1)
sasid=$(az disk grant-access --name deprovisioned-vm-osdisk --resource-group deprovisioned-vm-osdisk-resourcegroup --duration-in-seconds 3600 --query [accessSas] -o tsv)
2)
az storage blob copy start \
--destination-blob vm-for-marketplace.vhd \
--destination-container storage-container-name \
--account-name storage-account-name \
--source-uri

[2017-09-07 21:00] #3476 closed

[2017-09-07 21:06] hlandrygit commented on #4400
Thank you.  –u makes more sense now.  However it still seems confused on the credentials.  I tried a few times to make sure – it is the same credentials I use on the portal.

Henry

[root@wc-app27 ~]# az login -u hlandry@laskoproducts.com
Password:
Get Token request returned http error: 400 and server response: {"error":"invalid_grant","error_description":"AADSTS70002: Error validating credentials

[2017-09-07 21:07] tjprescott commented on #4379
I've gotten a partial repro. If I list the secret versions with TSV and try to use that as input I get an error on the number of segments. I'll create a PR that fixes that issue, and will hopefully fix yours (with any luck it's the same problem with a different symptom on ZSH).

[2017-09-07 21:48] tjprescott commented on #4400
@yugangw-msft any ideas?

[2017-09-08 00:21] yugangw-msft commented on #4400
For the original issue of "user id not recognized", there is an internal ticket opened on ESTS team for this bug. The fix is being deployed, so suggest give it a try in a couple of days. At the same time, you can also try to open the browser using the private mode (no cookies loaded from previous logon session), and see whether it gets you unblocked.
For the error of `Invalid username or password`

[2017-09-08 00:21] yugangw-msft commented on #4338
I have logged an ICM ticket to the ESTS team. Will post updates

[2017-09-08 02:13] johanste commented on #4304
Closing since I was unable to reproduce the issue. Feel free to reopen with additional information if you still have issues getting things to work as expected...

[2017-09-08 02:13] #4304 closed

[2017-09-08 13:39] ktwocee commented on #4387
Many thanks for the response.

Can't seem to persuade it to pick up the file.  Did get a bit further when passing the artifacts JSON as a string using ```--artifacts "$artifactJson"``` which gave a new error:
[code]
Wrapping the first property name in double quotes still gave the same error, so am wondering if there is an underlying encoding issue; is there a mechanism to have the command echo the

[2017-09-08 14:59] tjprescott commented on #4387
You need to specify `@<filename>`

[2017-09-08 15:00] tjprescott commented on #4098
Glad you got it working!

[2017-09-08 15:00] #4098 closed

[2017-09-08 18:30] #3619 closed

[2017-09-08 18:30] #3667 closed

[2017-09-08 20:04] yugangw-msft commented on #3323
depends on #3481

[2017-09-08 20:05] yugangw-msft commented on #4398
Same with #559. #3481 will resolve it

[2017-09-08 20:05] #4398 closed

[2017-09-08 20:08] yugangw-msft commented on #4348
//cc: @mayurid @williexu

[2017-09-08 20:25] #4326 closed

[2017-09-08 21:58] yugangw-msft commented on #4279
//cc: @ahmedelnably

[2017-09-08 22:00] yugangw-msft commented on #4279
We should consider this when we re-organize the command tree for better supports towards the linux webapp

[2017-09-08 22:18] yugangw-msft commented on #4187
@gauravbhm, do you know the problem with the following definition? Running `az provider operation show -n Microsoft.PowerBI` doesn't return anything, so i can't really help out

[code]

[2017-09-08 22:57] tripdubroot opened #4407 "Command acr login fails in docker container"
### Description
While using the azure-cli-python container and working with ACR, running the az acr login requires docker which is not in the container.

[code]

---

### Environment summary
I'm running the docker container:
`docker run -v ${HOME}:/user -it azuresdk/azure-cli-python:2.0.16`

**CLI Version:**
azure-cli (2.0.16+dev)

**OS Version:**
Fedora: 4.12.9-300.fc26.x86_64

Docker:
 Version:

[2017-09-08 23:59] derekbekoe commented on #1045
Created RPM package. All are welcome to test it out.
It installs CLI release 2.0.16.

RHEL, Fedora and CentOS based distributions:
[code]

openSUSE and SLE based distributions:
[code]

This information should appear on a docs.microsoft.com page soon if all is well.

[2017-09-09 00:13] derekbekoe commented on #4407
Try running `docker run` with `-v /var/run/docker.sock:/var/run/docker.sock` to give access to Docker from the host.

Does that work?

[2017-09-09 00:16] derekbekoe commented on #4407
See https://github.com/Azure/azure-cli/pull/3747#discussion_r122508167

[2017-09-09 00:34] djyou commented on #4407
This is the expected behavior. Can you please follow the steps [here](https://github.com/Azure/acr/blob/master/docs/FAQ.md#how-to-log-into-my-registry-when-running-the-cli-in-a-container) and see if it works?

[2017-09-09 00:37] derekbekoe commented on #4407
Thanks for the comment @djyou.
Closing issue as that should resolve it.

[2017-09-09 00:37] #4407 closed

[2017-09-09 14:04] tripdubroot commented on #4407
@djyou @derekbekoe thank you both. This does solve the issue.

[2017-09-09 21:42] bjf opened #4409 "Create documentation on the configuration options available"
Is there a way to show the default region and then set it to what I want. I am trying to create a vm with --size ExtraSmall. The error I get back says that that size is not available in the region. However, I specified a location of "West US" which I know has ExtraSmall instance types available.

[2017-09-09 21:44] bjf opened #4410 "turn off output in color"
How can I turn off the colored output of the commands. The colors are unreadable in my terminal window (using gnome-terminal on Ubuntu).

[2017-09-09 21:46] bjf opened #4411 "get errors in non-json format"
I've just run a "az vm create" command which failed. The error message came back in json and in color. I can't read it because of the color and the formatting is not good because it is json.

eg:

Deployment failed. {                                                                                                          │~
  "error": {

[2017-09-10 15:48] rordaz commented on #4153
This worked for my thanks!

[2017-09-10 16:01] vjrantal commented on #3356
Until there is an officially supported command, an unofficial workaround could be to create the DB with `--kind GlobalDocumentDB` and then use `az resource tag` to create a tag called `defaultExperience` with value `Table` or `Graph`. I guess this may stop working at any time, but based on information described at https://blog.spectologic.com/2017/06/30/digging-into-cosmosdb-storage/ this seems to

[2017-09-10 21:26] campbelldgunn commented on #1773
@dtrapezoid I had the same issue. What I found to fix it was to do a `ssh-add ~/.ssh/<private_key_file_name>` then you need to specify the get-credentials without the ssh-key-file arg.

Hope this helps.

[2017-09-11 00:49] cfjedimaster commented on #3598
I have it as well - but I noticed something odd. If I look at the zip like a text file, it shows this:

[code]

As you can see, it's like the CLI wasn't authorized to get the logs, yet other CLI actions work ok.

[2017-09-11 14:07] #4379 closed

[2017-09-11 14:07] #4384 closed

[2017-09-11 14:07] #4249 closed

[2017-09-11 15:50] tjprescott commented on #4411
It looks like you entered `--vm-size ExtraSmall` which isn't a valid size. The help shows a link to information on valid VM sizes, and the bulk of the error message is simply the list of size values permitted for your subscription and region.

All errors are displayed in red. You can opt for JSON output (which is black and white) or JSONC output (which is colorized) but errors are always displayed

[2017-09-11 15:53] tjprescott commented on #4410
Use JSON format instead of JSONC format, but warnings, errors and debug will still be shown in color. Can you post a screenshot so we can see what you mean by the colors being unreadable?

[2017-09-11 15:55] tjprescott commented on #4409
You can show and set your default region with `az configure`.  In your case it would be `az configure -d location=westus`

However, `ExtraSmall` is *not* a valid VM size, so it will never succeed. You must specify a valid VM size string, such as `Standard_DS1_v2`.

[2017-09-11 15:56] bjf commented on #4411
On Mon, Sep 11, 2017 at 03:51:03PM +0000, Travis Prescott wrote:

Yes, I could tell what the error was. As the subject states, for a cli
that humans type into a terminal, humans shouldn't be decoding json
output. There should be a way to get it as a well formatted text string.

Brad
--
Brad Figg brad.figg@canonical.com http://www.canonical.com

[2017-09-11 15:58] tjprescott commented on #4411
To get the valid values for size, use: `az vm list-sizes -l westus -otable`

[2017-09-11 16:05] bjf commented on #4411
On Mon, Sep 11, 2017 at 03:58:54PM +0000, Travis Prescott wrote:

Thanks. I figured that out. That has nothing to do with this issue.

Brad
--
Brad Figg brad.figg@canonical.com http://www.canonical.com

[2017-09-11 16:10] bjf commented on #4409
On Mon, Sep 11, 2017 at 08:55:44AM -0700, Travis Prescott wrote:

Thanks. Is there documentation on other configuration options
that can be set?

Yes, I'm aware of that now. I am moving from the previos CLI mode asm which "ExtraSmall" was
a valid size.

--
Brad Figg brad.figg@canonical.com http://www.canonical.com

[2017-09-11 17:12] #1045 closed

[2017-09-11 21:21] tjprescott opened #4415 "[Network] Application Security Groups"
New API version 2017-09-01.

- [x] Add `network asg` CRUD commands.
- [ ] Add `--asg` parameter to commands which create/update NICs (nic create/update, vm create)
- [x] Add --source-asg` and `--destination-asg` parametersto `nsg rule create/update`.

[2017-09-11 21:26] rswe commented on #4333
![image](https://user-images.githubusercontent.com/31866877/30297625-443c81e2-9740-11e7-84ae-21718deafc53.png)

[2017-09-11 21:44] tjprescott opened #4416 "[Network] New VNet/LB Features"
Add following flags to vnet create/update:
- [x] `--ddos-protection`
- [x] `--vm-protection`

- [x] For Load Balancer, verify that TransportProtocol "All" is supported. (Should require no CLI changes, just an SDK update)

cc/ @ajinkyapotdarvjti

[2017-09-11 22:20] AlexandreBouffard commented on #4203
I can reproduce this issue on latest version (2.0.17).

The unit test does not raise the bug as it only tests for disabling metrics (https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/tests/test_storage_account_scenarios.py).

[2017-09-12 06:13] ravbhatnagar commented on #4187
Yes, PowerBI RP hasnt exposed any of the operations through the /operations API. Once they add it, this will work. Please work with the PowerBI team to have this fixed.

[2017-09-12 07:46] undernewmanagement commented on #4373
@worldspawn -- all I have been able to do is provision it use a template file (not ideal). Here is reference to that: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-resource-manager-namespace-topic#azure-cli

[2017-09-12 14:05] creacog opened #4418 "UnicodeEncodeError for É in copy start-batch"
### Description
**Outline the issue here:**

using copy start-batch to copy the contents of one container to another.
$ az storage blob copy start-batch

But when encountering blob names containing containing É characters, that blob generates an error:

`
Traceback (most recent call last):
  File "/System/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/logging/__init__.py", line 859

[2017-09-12 15:55] chrisdostert opened #4419 "Bug: az cosmosdb list-connection-strings returns empty result"
### Description
`az cosmosdb list-connection-strings` returns empty result:
[code]

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:
docker

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here: 2.0.17

**OS Version:** What OS and version are you using

[2017-09-12 18:05] matiasma opened #4422 "[VMSS] Supplying existing AppGateway ID doesn't work"
### Description

I cannot create a VM scale set with an existing Application Gateway using Azure CLI

I’m trying some commands, with no success…

$ az vmss create --resource-group vvvms --name vmss01 --instance-count 1 --image Win2016Datacenter --vm-sku standard_f2s --upgrade-policy-mode manual --storage-sku premium_lrs --subnet /subscriptions/8e627baf-eb09-4677-ad46-c04e89ac9223/resourceGroups/vm

[2017-09-12 18:56] tjprescott commented on #4422
There is a bug in how the command handles the AG ID.  If you use AG name (it works for existing AGs) then you won't get the error about the address prefix. This may unblock you,

[2017-09-12 19:52] matiasma commented on #4422
Hi Travis, but in my case the AppGW exists in another resource group. I believe I would have a new one (in the same resource group of the VMSS) if I specify only the name.

[2017-09-12 20:03] matiasma commented on #4422
Now I understand the error message... There are some function like [resourceId('Microsoft.Network/virtualNetworks',parameters('app-gateway'))] only supporting AppGW Name, even with the documentation describing the AppGW ID support:

"Name to use when creating a new application gateway (default) or referencing an existing one. Can also reference an existing application gateway by ID or specify "" f

[2017-09-12 20:24] tjprescott commented on #4422
Hi @matiasma:

You are right that if your AG is in a different resource group, you need to specify ID. Unfortunately due to the bug it won't work today but I'll release a fix for the upcoming release. If you specify name, then the assumption is that the gateway exists in the same resource group as your VMSS (but it will still use existing if it does in fact exist there).

Some other tricky bits ab

[2017-09-12 20:27] matiasma commented on #4422
I'm ok to work with either ARM Template or resources.azure.com until the AZ CLI fix. Thanks for help!

[2017-09-12 21:27] CESARDELATORRE opened #4426 "Error when trying to select Azure Subscription from Azure CloudShell"
### Description
**Outline the issue here:**
Error when trying to select Azure Subscription from Azure CloudShell, as shown in the image:
![image](https://user-images.githubusercontent.com/1712635/30349094-82b0ded8-97c6-11e7-8361-b88ecb7c1b36.png)

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here

[2017-09-12 22:11] #2694 closed

[2017-09-12 22:25] derekbekoe opened #4428 "A patch is required for Homebrew formula to support 'az extension add'"
A patch is required for the Homebrew formula and this issue documents that patch.

Azure CLI extensions, `az extension add` use `pip install --target` in order to install extensions

`python3` on Homebrew does not support `pip install --target` [1,2,3].

A workaround is to temporarily create the file `~/.pydistutils.cfg` with contents `[install]\nprefix=`.
This file cannot stay permanently as this

[2017-09-13 00:19] weinong opened #4429 "[ACS] enable service principal secret in Keyvault"
### Description
**Outline the issue here:**
---
The ACS RPv2 has new feature to support using service principal secret in the keyvault. Please add it to cli
### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answ

[2017-09-13 00:20] weinong commented on #4429
@rjtsdl FYI

[2017-09-13 03:53] #4189 closed

[2017-09-13 03:53] #1574 closed

[2017-09-13 11:28] AzureUser123 opened #4430 "Can we send iot data for a device in iothub through azure-cli or terminal?"
### Description
**Outline the issue here:**

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:

**OS Version:** What OS and version are you using?
Answer here:

**Shell Type:** What shell are y

[2017-09-13 12:32] hlandrygit commented on #4400
Thanks Mohammed,

I have not heard from the github folks for a couple of days.

Henry

From: Mohammed AvezJamal [mailto:v-moavez@microsoft.com]
Sent: Monday, September 11, 2017 5:06 AM
To: Henry Landry
Cc: MSSolve Case Email
Subject: RE: [REG:117082216223149] Cannot log in to CLI 2.0 Initial Response

<< Reducing Audience >>

Hello Henry,

Thank you for your patience and cooperation, I understand

[2017-09-13 17:08] Strandedpirate commented on #4360
I'm getting the same error in bitbucket pipelines when running `az login -u xxx -p yyy`. Our docker image is `maven:3.5.0-jdk-8` with nothing else but installing the azure CLI and running the above command.

This thread suggests that the code compiled against python did not link to OpenSSL. If that is true this is only something that re-compiling this project would fix.
https://github.com/requests

[2017-09-13 18:24] tjprescott commented on #4241
This should be fixed now.

[2017-09-13 18:24] #4241 closed

[2017-09-13 21:59] JasonRShaver opened #4432 "`az group deployment create` Table output is not helpful"
In response to customer feedback, our current deploy output is too anemic and does not include important information

CLI 2.0 Output
[code]

Our output should be updated to support the follow requirements:

- P1: Show important fields, such as name, result, template link
- P1: Show deployment output values
- P3: Show input template params

For example, should we include the Output values:

But we

[2017-09-13 22:58] rtyler commented on #3026
I would like to register my support for this, since I just got bitten by this awkward distinction as well. Fortunately I didn't waste _that much_ money.

[2017-09-13 23:20] jluk commented on #3026
+1 good report, will bring to CLI team thanks Saurya

[2017-09-14 00:21] brusMX opened #4436 ""vpn-connection create" failure error is non informative"
### Description
**Outline the issue here:**

Deploying a connection between two gateways in two different RG in different regions fails when `--vnet-gateway2` is not provided as full resource ID and the message error is non informative

Command:
[code]

Error:
[code]

But if I provide full Resource ID to `vnet-gateway2`, it actually works:
[code]

Success:
[code]

We could return in the error that

[2017-09-14 02:33] yugangw-msft opened #4438 "CI flakiness: error thrown "no output has been received in the last 10m, this potentially indicates a stalled build""
Error thrown out on `Verify` stage, python 3.6 with `Integration` Purpose
Full log at: https://travis-ci.com/Azure/azure-cli-pr/jobs/90442042

[code]

[2017-09-14 03:29] hlandrygit commented on #4400
Hello Henry,

I see you have posted our conversation to the thread, let’s wait for GitHub to review and respond.

In the interim I would temporarily archive the Azure Subscription team Based support request as there is no further action pending from our end at the moment.

Regards,
[cid:image001.jpg@01D32D37.C70DFBF0]

Mohammed Avez Jamal
Support Engineer
Azure Subscription Management Support

Wor

[2017-09-14 04:04] Catpants opened #4439 "Azure CLI 2 Sync Command Does Not Wait for Syncing to Finish."
### Description
**Outline the issue here:**
The azure cli 2.0 command 'az webapp deployment source sync' does not wait for the syncing to finish. Is there a way to make it wait as I am wanting to use it in and automated fashion. I want to execute a command directly after the syncing is finished. If I execute the command while it is syncing the sync fails.
---

### Environment summary

**Install Me

[2017-09-14 06:42] ecgg opened #4440 "traffic-manager with TCP endpoint monitoring doesn't show up in az"
### Description
When switching a traffic manager profile over to TCP endpoint monitoring, it does not show up any more under az network traffic-manager profile list

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: pip

**CLI Version:** What version of the CLI and modules are installed? (Use `a

[2017-09-14 15:55] troydai opened #4441 "File share snapshot"
### Description
**Outline the issue here:**

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:

**OS Version:** What OS and version are you using?
Answer here:

**Shell Type:** What shell are y

[2017-09-14 15:56] troydai opened #4442 "Soft delete"
### Description
**Outline the issue here:**

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:

**OS Version:** What OS and version are you using?
Answer here:

**Shell Type:** What shell are y

[2017-09-14 15:57] troydai commented on #4372
Close for now due to lack of update for seven days. Please feel free to reopen the issue later.

[2017-09-14 16:36] tjprescott commented on #4436
cc/ @aanandr

[2017-09-14 16:38] tjprescott commented on #4440
Hi @ecgg would you share the sequence of commands you are using to reproduce this issue?

[2017-09-14 16:42] tjprescott opened #4443 "`--ids` parameter only supports 3 levels"
Azure Backup has IDs that look like this:

`/Subscriptions/00000/resourceGroups/RG/providers/Microsoft.RecoveryServices/vaults/{vault_name}/backupFabrics/{fabric_name}/protectionContainers/{container_name}/protectedItems/{item_name}/recoveryPoint/{recovery_point_guid}`

Thus they have a 5 level child resource hierarchy.  Our current `--ids` infrastructure only supports "resource", "child" and "gra

[2017-09-14 16:43] tjprescott commented on #4443
@mayurid I placed this in Sprint 24 so that we can get it implemented and allow Azure Backup to finish ID support for the subgroups that currently can't use it (due to the limitation described). This might be a good one for @williexu.

[2017-09-14 18:04] one000mph opened #4445 "Checksum Does not match"
### Description
**Outline the issue here:**

I am trying to install the CLI based on provided documentation. The download seems to complete properly, but the checksum fails each time. Output below

[code]
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

`curl -L https://aka.ms/InstallAzureCli

[2017-09-14 18:26] derekbekoe commented on #4445
The checksum of https://azurecliprod.blob.core.windows.net/install.py should be `7419f49b066015d863f398198c4ac5ad026f5aa3705e898b552e4e03fc352552`.
I've verified this is still correct.

Potentially a network issue?
What does the temp file `/var/folders/h4/9lbb3tv951n01trft3dkw12r0000gn/T/azure_cli_install_tmp_XXXX.xCdr4I7c` look like?

[2017-09-14 19:01] one000mph commented on #4445
The SHA256 checksum for the path `/install` is different from the `/install.py` path.

[code]

The `.py` path is correct and I was able to install the CLI via that link. I believe the documentation is misleading as the recommended command `curl -L https://aka.ms/InstallAzureCli | bash` results in an incorrect checksum. The alternative recommended [here in troubleshooting documentation](https://git

[2017-09-14 19:05] derekbekoe commented on #3618
The above would not work across all platforms.

The idea of `pip install --no-index azure-cli --find-links <dir_with_our_wheels>` assumes that we know all the packages that are required on a platform.
It's not possible to get all deps. ahead of time in a way that will work on all platforms/distros/python versions.
This is because on install, pip packages can dynamically include or require other de

[2017-09-14 19:19] hlandrygit commented on #4400
Hello everyone,

Is there any update?  I’ve been trying to set up Linux on Azure for a few weeks know with no luck.  My company really wants to give Azure a shot but we cannot wait forever.  The account/subscription team has had this case also under [REG:117082216223149] for a few weeks and cannot help.  [sorry if I missed an email].

Thanks
Henry

From: Travis Prescott [mailto:notifications@githu

[2017-09-14 21:32] viananth opened #4448 "Azure Stack: ADFS: Keyvault Secret cmds don't work"
### Description

Secret set in a keyvault should succeed if the access permissions were set for the Tenant. But logs show it fails even with proper permissions set.

01:01:06.4380: [INFO] [DESCRIPTION] Create a key vault store to put the certificate secret
01:01:47.9054: [EXCEPTION] System.Management.Automation.RemoteException: ERROR: Operation returned an invalid status code 'Unauthorized'

**Yug

[2017-09-14 21:35] derekbekoe commented on #4445
The two files `/install` and `/install.py` are indeed different - https://github.com/Azure/azure-cli/tree/master/scripts/curl_install_pypi.
Good to hear it's working.

[2017-09-14 21:35] #4445 closed

[2017-09-14 21:39] derekbekoe commented on #4426
It seems to work.
@CESARDELATORRE was this copy/pasted from somewhere?
I suspect if you type the characters out, it'll work.

[2017-09-14 22:04] CESARDELATORRE commented on #4426
I was pasting the guid from a notepad file (Windows client)...
If I type the whole command, it works. You are right on that.
I guess that there should be some kind of "character filter" so no matter if you are copying the characters from a Windows app, it will work.
This can be a ver common issue, I guess.. :)

[2017-09-14 22:05] troydai commented on #692
Wasn't this supposed to be fixed in the service? Is there a service issue tracking?

[2017-09-14 22:06] derekbekoe commented on #4199
The release notes page has been updated and we'll submit changes for future releases to the docs page.

[2017-09-14 22:06] #4199 closed

[2017-09-14 22:14] derekbekoe commented on #3946
We have RPM packages available now.
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest#install-on-rhel-fedora-and-centos-with-yum

[2017-09-14 22:14] #3946 closed

[2017-09-14 22:19] derekbekoe commented on #3788
@yugangw-msft I believe this has been done?

[2017-09-14 22:28] derekbekoe commented on #3353
@Sneezry this should be fixed in more recent versions of the CLI.
This error occurred during a transition in how we created the Python packages.

[2017-09-14 22:28] #3353 closed

[2017-09-14 22:35] derekbekoe commented on #3264
Looks like this is working and azure-nspkg is available on PyPI at https://pypi.python.org/pypi/azure-nspkg.

I ran the commands below and it installed fine.

[code]

[2017-09-14 22:35] #3264 closed

[2017-09-14 22:37] #2778 closed

[2017-09-14 22:38] derekbekoe commented on #2811
This was due to a dependency mismatch.
Recreating the environment should resolve this.

[2017-09-14 22:38] #2811 closed

[2017-09-14 22:41] derekbekoe commented on #4235
Closing in favor of https://github.com/Azure/azure-cli/issues/2520.

[2017-09-14 22:41] #4235 closed

[2017-09-14 22:49] #1340 closed

[2017-09-14 22:49] troydai opened #4450 "Test test_vpn_client_package is failing randomly"
[code]

[2017-09-14 22:50] troydai commented on #4450
@tjprescott

[2017-09-14 22:51] derekbekoe commented on #952
`az -v` is available is recent CLI versions.

[2017-09-14 22:51] #952 closed

[2017-09-14 22:53] #4438 closed

[2017-09-14 22:54] #613 closed

[2017-09-14 23:30] derekbekoe commented on #3937
The `az` in the environment can only be executed from the environment as it calls the current python interpreter with `python -m azure.cli`.

Running `az-cli-venv/bin/python -m azure.cli` works though.

You can also achieve what you were after with something like the following:
[code]

[2017-09-14 23:30] #3937 closed

[2017-09-14 23:34] derekbekoe commented on #2322
@williexu Can this be closed now?

[2017-09-14 23:35] derekbekoe commented on #4162
The latest nightly builds have been working so closing issue.

[2017-09-14 23:35] #4162 closed

[2017-09-14 23:42] williexu commented on #2322
Yep, all `az lock` commands now have descriptions

[2017-09-14 23:42] #2322 closed

[2017-09-14 23:54] lmazuel commented on #4450
Looks like what we thought of impact using mock no? ( @johanste )

[2017-09-15 07:54] ecgg commented on #4440
- Create a traffic-manager profile via Portal
- Change the Endpoint monitor settings from HTTP to TCP
- Check if it shows up in az network traffic-manager profile list

Attached a screenshot:
    upper left terminal shows just after creation
    portal shows the change made from HTTP to TCP endpoint monitoring
    bottom left terminal shows no more traffic-manager profile after change
![screenshot

[2017-09-15 14:10] tjprescott commented on #4450
Could be.

[2017-09-15 15:13] peterlil commented on #4318
I'm experiencing the exact same problem.

[2017-09-15 15:25] tjprescott commented on #4448
This should probably be up-leveled to the KeyVault Python SDK, since this issue would presumably affect any SDK users on Stack as well.

[2017-09-15 15:29] tjprescott commented on #3423
@schaabs, I believe the first two are completed. @troydai was your recent storage key PR related to issue 3?

[2017-09-15 15:29] tjprescott commented on #4448
cc/ @schaabs

[2017-09-15 17:08] derekbekoe commented on #643
Homebrew released.
`brew update; brew install azure-cli`

[2017-09-15 17:08] #643 closed

[2017-09-15 17:09] #3654 closed

[2017-09-15 17:23] tjprescott opened #4452 "CI Logs filled overly verbose"
@troydai

With recent changes to the CI build, the log is filling up with useless entries.  About 6000 lines of things like:
`copying azure/cli/core/parser.py -> build/lib/azure/cli/core`

This actively prevents finding out what failed the build because TravisCI truncates the log at 10,000 lines and gives the following:

`This log is too long to be displayed. Please reduce the verbosity of your bu

[2017-09-15 22:49] yugangw-msft commented on #4400
@hlandrygit the fix from the AAD service side was deployed, so I am resolving this issue as you have verified it works now

[2017-09-15 22:49] #4400 closed

[2017-09-15 23:22] schaabs commented on #2505
@mdekoster I tried to reproduce your issue setting http_proxy and https_proxy, however it seemed to route through the proxy correctly.  I confirmed by monitoring the network on both the client and proxy server.

If you're scripting the CLI to create the vault and then immediately create secrets, keys, etc. I think you might actually be running into issue https://github.com/Azure/azure-cli/issues/3

[2017-09-16 00:02] hlandrygit commented on #4400
Hi Yugang,

Is this close what you needed from or something more?  I was getting there but the hurricane has made my schedule choopy.

Henry

From: Yugang Wang [mailto:notifications@github.com]
Sent: Friday, September 15, 2017 6:50 PM
To: Azure/azure-cli
Cc: Henry Landry; Mention
Subject: Re: [Azure/azure-cli] Unable to log in to CLI (#4400)

@hlandrygit<https://github.com/hlandrygit> the fix from

[2017-09-16 00:31] williexu commented on #4443
I can do this for the next sprint :)

[2017-09-16 00:36] yugangw-msft commented on #4400
@hlandrygit, as long as you are unblocked, I am happy. I closed the issue for you, but if you see problems coming out again, please let me know.
I didn’t know you are in the hurricane area, but take care!

[2017-09-16 04:55] yugangw-msft commented on #4318
@peterlil  @nahalf, what OS does your VM have? CLI does support using key-vault from other resource group. For example, the following command works for me
[code]
One cause of the error you mentioned is the keyvault has not been configured with the permission of `enabledForDiskEncryption`. Please double check

[2017-09-18 07:02] alexeyshishkin01 opened #4459 "how to use Azure Backup via azure-cli?"
### Description
**Outline the issue here:**
I cannot use Azure Backup via azure-cli
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:
MSI
**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:
2.0.17
**OS Version:** What OS and version are you using

[2017-09-18 10:07] angrox commented on #3614
Any news?

[2017-09-18 11:04] mdekoster commented on #2505
@schaabs Within the organisation I am currently working for, all traffic is routed through a proxy. The ‘az keyvault secret <command>’, ‘az keyvault key <command>’ and az keyvault certificate <command> result in a https timeout. The commands are done on exsisting keyvaults.

Below the output from the keyvault commands in debug mode. The 'keyvault list' command against the control plane is successf

[2017-09-18 13:41] oddperfect commented on #2505
I am running into the same issue when using the key, certificate, and secret commands thru a corporate proxy when on a VPN. I have environment variables HTTP_PROXY and HTTPS_PROXY set and all other azure cli commands work. If I disconnect the VPN and unset the proxy environment variables the key, certificate, and secret commands then work.

When going thru the VPN, I can curl to the key list URL (

[2017-09-18 16:49] yugangw-msft commented on #2190
The service deployment to USGov and China is done. Issues mentioned here should be fixed. Please verify

[2017-09-18 17:08] RandalliLama commented on #2505
@tjprescott Can you assign this to @schaabs please?

[2017-09-18 18:08] oddperfect commented on #2505
I wrote a quick python script to do a GET to the key list URL for my keyvault and it was able to make a connection using the proxy. I did this to verify that python 'requests' library was grabbing the correct proxy settings for my setup and it was.

[2017-09-18 19:21] mxplusb commented on #2785
I get the same error with this in Python:
[code]

[2017-09-18 20:38] troydai commented on #4450
Is this issue addressed in any recent PR? It is still failing on master. And it will cause issues for the nightly build when Travis CI begin building them.

[2017-09-18 20:53] troydai commented on #3423
My recent change to the storage creation command is to support manager service identity. Does this item mean that?

[2017-09-18 21:54] #3553 closed

[2017-09-18 23:23] panchagnula opened #4470 "az webapp config should support arraffinity property"
### Description
Currently the web app config only shows/ updates the siteconfig properties but not the site properties
i.e /subscriptions/<sub>/resourceGroups/<RG>/providers/Microsoft.Web/sites/<site>/config?api-version=2016-08-01

& not /subscriptions/3<sub>/resourceGroups/<RG>/providers/Microsoft.Web/sites?api-version=2016-08-01
---

### Environment summary

**Install Method:** How did you insta

[2017-09-18 23:44] tjprescott opened #4473 "Web docs don't display placeholders in angle brackets"
In examples, we sometimes have placeholders like \<this\>.  However, web markup swallows this entire thing, and the resulting web documentation appears like a blank.  Instead, we should use {this}, which appears just fine.

[2017-09-19 01:48] forester123 opened #4475 "[Mooncake]Cannot create Premium CDN profile with Premium_ChinaCdn SKU with CLI 2.0"
### Description
**Outline the issue here:**
I can create premium CDN profile in Ibiza portal, when I run `az cdn profile list` , I can see the SKU name is **Premium_ChinaCdn ** as below:
[code]

However, when I try to create another new premium CDN profile with the same SKU via CLI, it says invalid the SKU is invalid:
[code]

---

### Environment summary

**Install Method:** How did you install th

[2017-09-19 07:11] leidegre opened #4477 "Azure CLI 2.0 slow startup/warmup, command overhead"
### Description

It takes seconds for any command to complete, the first time you run Azure CLI it's really really slow to get going. It's especially annoying that even the built-in help takes more than a couple of seconds to display.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
MSI

**CLI Version:** W

[2017-09-19 14:27] snobu commented on #4188
Would you take a PR with this in?

[code]

[2017-09-19 17:15] troydai opened #4481 "Test test_acr_create_webhook is randomly failing on CI."
[code]

[2017-09-19 17:17] troydai commented on #4481
@djyou

[2017-09-19 17:17] schaabs commented on #4448
This issue has been fixed in the service, and the fix is awaiting deployment.  I'll leave this issue open to track when the fix becomes available.

[2017-09-19 17:43] tjprescott opened #4484 "[Test] --playback-only option"
The current behavior of `run_tests --module` is to playback all tests that have recordings and record all tests that do not (and are not live only).  When I have to re-record networking tests, often there are a few tests that are very slow and block.  During that downtime, I would love to replay the tests that have already been re-recorded and identify which, if any, fail to playback.  If I do thi

[2017-09-19 17:45] tjprescott commented on #2384
Azure Backup has been merged and will be available in the next CLI release.

[2017-09-19 17:45] #2384 closed

[2017-09-19 17:45] tjprescott commented on #4459
Is this a duplicate of #2384?

[2017-09-19 17:46] tjprescott commented on #4459
If you are asking for support for Azure Backup, it has already been added and will be in the next release.

[2017-09-19 18:39] troydai opened #4486 "Pylint disable rule "broad-except" is abused."
There is various usage of this rule-disable across the code base. Not all the occasions have the merits. We should revisit all the usages of it.

[code]

eg. https://github.com/Azure/azure-cli/pull/4479

[2017-09-19 19:13] shriramnat opened #4487 "Incorrect API version mapping for MGMT_STORAGE for the 2017-03-09-profile"
### Description
API version mapping for MGMT_STORAGE for the 2017-03-09-profile  is incorrect.
it needs to be changed to 2016-01-01
page https://github.com/Azure/azure-cli/blob/master/src/azure-cli-core/azure/cli/core/profiles/_shared.py#L77

[2017-09-19 19:48] bganapa commented on #4487
CC: @viananth

[2017-09-19 20:05] #4428 closed

[2017-09-19 20:18] alexeyshishkin01 commented on #4459
what's next release GA date?

[2017-09-19 20:34] troydai commented on #4481
Reopen

this issue still persists, but in a different form:
[code]

[2017-09-19 20:56] djyou commented on #4481
This error seems to be from the test sdk `ResourceGroupPreparer`? Is it only showing for acr tests or showing for all `group create` but just because acr tests are the first ones to run?

[2017-09-19 20:58] schaabs commented on #2505
The issue here appears to be that the CLI was using an older version of the Key Vault SDK (0.3.4) which didn't honor session settings when authenticating.  This was fixed a few months back by this change https://github.com/Azure/azure-sdk-for-python/pull/1244 in the SDK but we didn't update the CLI to use the newer version.  Unfortunately, when I first tried to repro this I had a poluted environme

[2017-09-19 21:01] troydai commented on #4481
That's what I was thinking, therefore I unassigned you from this issue.

[2017-09-19 21:14] troydai commented on #4452
Fixed in https://github.com/Azure/azure-cli/issues/4452.

[2017-09-19 21:14] #4452 closed

[2017-09-19 21:41] brian-l-coker opened #4490 "Large Blob Download Fails with "Received Response with Content" or "ContentDecodingError""
### Description
We recently upgraded to 2.0.16 & 2.0.17 and noticed that download of large blobs fail. We've tried the following test and found that large blobs **uploaded using 2.0.16 and 2.0.17** cannot be downloaded with CLI 2.0.16+. Large blobs **uploaded using earlier versions download just fine**.

If you upload a large blob (e.g. tar.gz > 43 MB) with 2.0.16, you will receive a message durin

[2017-09-19 22:23] yugangw-msft commented on #4333
unfortunately, there is no way to diagnose the root cause till cloud shell picks up the newer CLI drop which prints out the host container name we can use to cross check the tracing to figure out the right party to investigate, say, either cloud shell has not passed on the up to date credentials to CLI or CLI just failed to refresh.

[2017-09-19 22:24] yugangw-msft commented on #2339
please reactivate with more information

[2017-09-19 22:24] #2339 closed

[2017-09-19 22:29] #4390 closed

[2017-09-19 22:29] #4415 closed

[2017-09-19 22:29] #4416 closed

[2017-09-19 22:29] #4422 closed

[2017-09-19 22:33] tjprescott commented on #4459
The Backup module will be released next week in Preview status.

[2017-09-19 22:39] tjprescott opened #4492 "Generic update: repeated --add calls result in duplicate values"
If you run:

`az network route-filter rule update -g {rg} --filter-name {name} -n {ruleName} --add communities 12076:50101`

multiple times, the rule's communities list will actually have duplicate entries, which doesn't make sense form the service standpoint.

This issue is to investigate:

1. How other RPs handle repeated additions (do they scrub duplicates, issue an error, or add the dupe?)
2.

[2017-09-19 23:08] derekbekoe commented on #3905
@JasonRShaver How about this experience?
1. The error message says `clouds.config may be corrupt or invalid` and suggests deleting the file.
2. On `az` if the cloud is not registered, we default to Public Azure cloud.

[code]

[2017-09-19 23:58] tjprescott opened #4495 "Improve utility of Help parsing errors"
I spent over an hour trying to diagnose failing tests due to a help file entry labeled "group" instead of "command". Trying to add a simple example via the help file also caused hours of debugging and delay for what ended up being indentation issues.

Given that we expect non-programmers to contribute to the _help.py file via the doc edit link, we really need to improve the parsing process to give

[2017-09-20 00:05] tjprescott commented on #3423
Hmm... no I don't think so.

[2017-09-20 07:55] alexeyshishkin01 commented on #4459
how to grab Preview? how far Release is going to be from Preview?

[2017-09-20 08:01] ruzickap opened #4496 "Can not use "space" or "=" in the "environment-variables" when creating container"
### Description
I'm trying to deploy container in ACI, where I would like to use " " or "=" in environment variable.

When I'm using Docker locally this works fine:
[code]

The command above is working fine. When I use the same using the "az container create" it can not handle the "space" nad "=" in the variable properly:

[code]
As you can see here the environment variable ```SSH_PUBLIC_KEYS``` i

[2017-09-20 11:32] peterlil commented on #4318
I used the wrong OS. I tried with CentOS 7.3 when I got the error. Just now I ran the same scripts again (from scratch) but I used RHEL7.2, and it worked.

[2017-09-20 14:25] vykhand opened #4497 "Unexpected behaviour : deleting last Azure web app in the Azure App Service plan deletes the plan"
Reproduce plan:

1. create plan
2. create app
3. delete app
4. try to create it again and see that it is missing the plan

See the following log:

**PS C:\10.DEV_REPOS\powerbi-embed-v2> az appservice plan create --sku B1 --is-linux -l northeurope -n pbiembedplan -g PBIWebapp**
AppServicePlanName    GeoRegion     Kind    Location        MaximumNumberOfWorkers  Name          ProvisioningState    Res

[2017-09-20 16:08] tjprescott commented on #4497
This is the design behavior. That is why there is a flag for `--keep-empty-plan`.

[2017-09-20 16:08] #4497 closed

[2017-09-20 16:21] troydai commented on #3423
then, no. Can I have the spec for this feature?

[2017-09-20 16:30] yugangw-msft commented on #4318
@peterlil, I will report this bad error to the ADE team.
CentOS 7.3 is not in the supported OS distro list for encryption. If you created the VM from PIR images, CLI command should emit out a warning. For your reference, the list is [here](https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/disk_encryption.py#L330-L362)

[2017-09-20 16:36] tjprescott commented on #4459
It is a public preview.  You can get it right now with a developer setup or https://github.com/Azure/azure-cli#edge-builds.

Next week you'll be able to get it via the usual install channels.

[2017-09-20 16:36] #4459 closed

[2017-09-20 16:38] tjprescott commented on #4318
Since this issue was about not accepting cross RG keyvaults and you are able to do so, I will close this.

[2017-09-20 16:48] snobu commented on #4497
Shouldn't it be the other way around? Be explicit that you want to remove the plan vs. finding out after the fact that you had to pass in the extra parameter? If you didn't `tab tab` before the fact, here's what you've just lost:

- The inbound and outbound public IP addresses that you may already have a dependency on (since there's zero guarantee your next plan will spin up in the same scale unit

[2017-09-20 16:52] davidebbo commented on #4497
@snobu yes, that's the behavior today. Deleting the last app in a Plan (at raw API level) removes the Plan.

[2017-09-20 16:53] snobu commented on #4497
This is a bit surprising to learn but if the API does it i consider this case closed. Thanks for confirming it.

[2017-09-20 16:55] davidebbo commented on #4497
Issue is that without this behavior, users ended up getting billed for a bunch of plans that didn't even realize still existed because they had no apps they could see.

[2017-09-20 17:45] derekbekoe commented on #4496
Should have been addressed in https://github.com/Azure/azure-cli/issues/4084.
cc: @yolo3301

[2017-09-20 18:02] jldeen opened #4499 "az group deployment create "deployment failed""
### Description
When running:

[code]
as written above or with the --debug or --verbose switch, I receive a "deployment failed" error. However, the failure was related to the incorrect path - file for both the template file and parameters file was not found but the error was simply, "deployment failed"

The error should say something more descriptive like, "_Deployment failed. File not found. Plea

[2017-09-20 18:10] vykhand commented on #4497
Thanks for the explanation!

[2017-09-20 18:20] troydai commented on #4490
I can confirm this issue. A fix is being worked on.

[2017-09-20 19:27] #4490 closed

[2017-09-20 19:27] tjprescott opened #4501 "[Backup] Outstanding issues/enhancements prior to GA"
Items which should be resolved prior to GA:
- [ ] Finalize command tree structure to support multiple types of backup loads.
- [ ] Support `--ids`
- [ ] "name" parameters should accept the name format as output from the show command (for example: for `--container-name` it is fine to accept the VM name as a shorthand, but it should definitely accept the actual container name (`IaasVMContainer;iaasv

[2017-09-20 19:34] tjprescott opened #4502 "[Backup] Supplying non-existent name or natively formatted name for container causes stack trace"
Trying to run:
`az backup protection backup-now -g tjp-ig -v vault1 --retain-until 01-01-2020 -c container1 -i item1`

Yields:
[code]

In this case, it was not clear to me that a container and item had been created by the `enable-for-vm` command, so I assumed that these names were the names that would be created. When I realized it expected an existing name, I tried the container name obtained by

[2017-09-20 19:51] tjprescott opened #4503 "[Backup] Issues with `backup policy set`"
I was very confused as to how to create a backup policy when I tried to enable backup on my VM. I tried to use the `get-default-for-vm` command in conjunction with `backup policy set` but I got errors. It turns out this was due to me not quoting the policy document. However, some suggestions:

- [ ] Accept `--name\-n` for this command. While this name is contained within the JSON document, it woul

[2017-09-20 20:12] tjprescott opened #4504 "[Backup] Strongly typed policy create/update commands"
Looking at the structure of the backup policy object, it seems like a strongly typed create/update command could be created for this scenario.

There are no collections of complex objects, which is typically the reason that JSON objects are used. As far as I can tell, there are only single (albeit polymorphic) objects and some simple collections that could easily be handled with `nargs='+'`.

A tr

[2017-09-20 20:40] seanknox opened #4505 "az cosmosdb create errors with DB names greater than 36 characters"
### Description
**Outline the issue here:**

STR:
- create a cosmosdb instance with a DB name greater than 36 characters

EXPECTED:
- The CLI says CosmosDB names can be between 3 and 50 characters, so I'd expect this to work

ACTUAL:
- Errors with "DatabaseAccount name must be at least 3 characters and at most 50characters"

---

### Environment summary

**Install Method:** How did you install the

[2017-09-20 21:18] alexeyshishkin01 commented on #4459
ok, many thanks!

[2017-09-20 23:51] moderakh commented on #3507
This is account management. Should be assigned to digvijay @dmakwana

[2017-09-21 00:01] moderakh commented on #4131
I added data plane API. This is account management API. Should be assigned to digvijay @dmakwana who worked on account mgt API.

[2017-09-21 00:03] moderakh commented on #4317
This is account management API not data plane api. Should be assigned to digvijay @dmakwana who owns account mgt API.

[2017-09-21 00:04] moderakh commented on #4419
This is account management API not data plane api. Should be assigned to digvijay @dmakwana who owns account mgt API.

[2017-09-21 00:08] moderakh commented on #4505
@seanknox are you trying to create an account or a database within an existing account?

Could u plz let me know which?

[2017-09-21 01:28] mattmcspirit opened #4508 "Cannot create empty Availability Set on ASDK (GA) with CLI 2.0.17"
### Description
Azure CLI successfully registered and connected to Azure Stack, however, we're unable to create an empty Availability Set with the following command:

az vm availability-set create --verbose --platform-fault-domain-count 1 --platform-update-domain-count 1 --location local --unmanaged --name TEST1AS --resource-group TEST1RG

Error =

Deployment failed. {
  "error": {
    "code": "Ba

[2017-09-21 04:51] seanknox commented on #4505
Here's the full command I ran:

`az cosmosdb create -g sk5-hcp-underlay-southcentralus-cosmosdb -n sk5-hcp-underlay-southcentralus-cosmosdb --kind MongoDB --default-consistency-level Strong -o json`

[2017-09-21 16:28] moderakh commented on #4505
This is account management API which Digvijay owns it.
@tjprescott please assign this to Digvijay.

[2017-09-21 16:45] siennathesane opened #4511 "deployment valdiate doesn't validate properly."
### Description

When calling `az group deployment validate g "test-01" --template-file .\azuredeploy.json --parameters .\azuredeploy-test-params.json`, it returns no errors. When `az group deployment create` is called with the same parameters, it fails with `InvalidRequestFormat`.

Here is a subset of the template:

[code]

Here is an example of the failure:

[code]

---

### Environment summary

[2017-09-21 17:49] troydai opened #4513 "Improve DevTest lab tests"
The tests relies on pre-existing external service/entity to be run live:
1) github test repository
2) github auth token
3) named resource group

Above requirements forbidden this test from being run in live environment regularly.

Additionally it depends on legacy test base, which will be retired soon.

[2017-09-21 17:56] troydai opened #4514 "Improve Billing tests"
It is not runnable in out live environment.

[2017-09-21 18:09] bganapa commented on #4508
cc: @viananth

[2017-09-21 22:12] rocketraman opened #4517 "`az acr repository delete` fails with exception"
### Description
**Outline the issue here:**

I am executing `ac acr repository delete` and the command is failing with the following exception:

[code]

NOTE that the SKU of the registry is "Classic" -- it was created a while ago.

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:  rpm on Fedora

[2017-09-21 22:55] djyou commented on #4517
@rocketraman Since you mentioned `Classic`, did you create the registry from Azure Portal? In this case ARM didn't return the SKU properly. Do you mind sharing your registry name or login URI so we can investigate? My email is doyou@microsoft.com if you would like to send it privately. Thank you.

Also Classic/Basic registries don't support deleting repositories or images, which is the exact inten

[2017-09-21 23:07] troydai commented on #4188
/cc @yugangw-msft

[2017-09-21 23:10] troydai commented on #4477
On Windows, the python may be impacted by the Windows Defender for the startup. You can verify if it is indeed the root cause by adding python.exe to your Windows Defender (or other AV) whitelist.

However, we **do NOT** recommend this as a solution. It is important to keep your environment secured.

[2017-09-21 23:13] rocketraman commented on #4517
Yup, I figured that out afterwards, but it took a little bit of digging since I didn't get a nice error message from the CLI. I did create it from the portal. Sent you the information privately.

[2017-09-21 23:15] SajayAntony commented on #4517
That error message definitely can indicate this.
/cc @yuwaMSFT2

[2017-09-22 00:41] worldspawn commented on #4041
@lindydonna you seem to need a code/key in order to access that api. Is there some other way to authenticate with it?

[2017-09-22 01:00] djyou commented on #4517
Registries created with the old api-version doesn't have SKU. ACR service can still return SKU properly when querying with the current api-version. For perf reason, this specific case queried resources from ARM, which doesn't have the SKU information, so the validation couldn't proceed.

This will be fixed by treating empty SKU as Basic/Classic SKU. The proper error message has been implemented as

[2017-09-22 16:09] alexeyshishkin01 opened #4520 "how to assign several private IP-addresses to a nic?"
### Description
**Outline the issue here:**
how to assign several private IP-addresses to a nic?
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:
MSI
**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here:
root@Alexey-HP:~# az --version | head -1
az

[2017-09-22 16:44] troydai commented on #4520
@tjprescott

[2017-09-22 16:46] troydai commented on #4517
@djyou since this is a solvable issue, I will assign this to the next milestone. Thanks.

[2017-09-22 17:14] tjprescott commented on #4520
When you create the NIC, the initial IP configuration is created. If you want additional private IP addresses, you can create addition IP configurations using `az network nic ip-config create`.

[2017-09-22 17:29] leidegre commented on #4477
Okay, so I did some digging, here's what I found.

Real-time system protection had basically no impact, we're talking sub 100 ms if any.

Then I used to `procmon` to try and figure out what it was that was taking time. There's a lot of file scanning going on in the `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\Lib` directory.

I noticed the occasional ACCESS DENIED error when it was trying to

[2017-09-22 17:29] troydai commented on #4410
I'm going to close this issue as @tjprescott gave a known solution. If it is still a problem please feel free to open this issue with a screenshot of what the terminal looks like for you.

[2017-09-22 17:29] #4410 closed

[2017-09-22 17:35] troydai commented on #4411
@bjf thank you for reporting this. In this case, we're returning the error message that service serves us. Though the output does contain sufficient information for the users to correct the input, the form of the output is not ideal. However, as @tjprescott pointed out you can change the output format to make the error message more readable by setting the output format. I hope it works for you.

M

[2017-09-22 17:35] #4411 closed

[2017-09-22 17:41] leidegre commented on #4477
Okay, so I went back and checked two more things.

If you run

and say yes, you get to answer a few questions, I chose to disable logging and telemetry.

That's another 2x perf

Is there any reason logging and telemetry cannot be async?

[2017-09-22 17:42] troydai commented on #4477
Thank you for the measuring. And I assume you're running `az` for all your testing. Can you try running `az cloud list` on your machine and measure the time?

[2017-09-22 17:45] troydai commented on #4477
Telemetry is async. After the command process is stopped, a new process is started to uploading telemetry in the background (which runs `telemetry_upload.py`). It is not expected to impact the perceiving of the command performance.

Can you turn on the logging but keep telemetry off to test the logging's impact?

[2017-09-22 17:48] troydai commented on #4477
So, yes. Here's the deal. When you run `az` we collect all the modules to print the full sub-commands list, therefore it reads more files. When you run a subcommand directly, for example `az cloud`, we can pinpoint to the individual command module and reduce the number of imported modules.

The `az cloud list` command performance here is in line with our tests. Do you think it is an acceptable per

[2017-09-22 17:49] leidegre commented on #4477
timings with logging enabled

[code]

[code]

[code]

[code]

[2017-09-22 17:51] leidegre commented on #4477
@troydai the 250 ms for `az cloud list` is acceptable but it doesn't take much more to make it feel sluggish which I think is sad.

[2017-09-22 17:55] leidegre commented on #4477
more timings

[code]

Ideally, no command that doesn't traverse the network should have a latency greater than 250 ms. That is my firmly held opinion, given what I've learned so far.

[2017-09-22 17:59] troydai opened #4524 "Telemetry seems to take up too much time for command to exit on Windows"
Reference: https://github.com/Azure/azure-cli/issues/4477#issuecomment-331510458

[2017-09-22 18:00] troydai opened #4525 "Local command execution's performance is still not ideal"
Reference: https://github.com/Azure/azure-cli/issues/4524

The `az cloud list` and `az resource list -h` run both locally, however, their performance is difference.

[2017-09-22 18:03] troydai commented on #4477
Thank you for the measurement.
I notice that the telemetry seems to take a toll on the performance for Windows platform (as far as I can tell we didn't observe the delay on Linux/Unix). I think spawning a new process is blocking the command from exiting and cause the performance issue here. I will do more testing on the Windows platform.

I'm glad that the 250ms response time works for you. Howeve

[2017-09-22 18:06] leidegre commented on #4477
@troydai super!

It's just really annoying having to way for the CLI to respond if you make a typo. For example, I just started using the CLI and I use the `--help` command to explore a lot. But I had to wait for 3 seconds each time. 750 ms is better, a lot better but it's noticeable and a bit annoying. 250 ms feels great.

[2017-09-22 18:22] troydai opened #4526 "Command performance is different when it run under admin and user on the Windows"
Reference: https://github.com/Azure/azure-cli/issues/4477

[2017-09-22 18:24] troydai commented on #4477
I agree. `-h` serve help information and it should be fast since it will be hit repeatedly just like your scenario.

I logged another issue regarding the performance difference between admin and user priviliege. In all, I think these three issues conclude all the discovers here.

- https://github.com/Azure/azure-cli/issues/4526

So I will close this issue now. Please tracking above three github is

[2017-09-22 18:24] #4477 closed

[2017-09-22 18:33] troydai commented on #4238
do you mean the azure-mgmt-storage api version should be changed?

[2017-09-22 19:20] troydai commented on #4182
@jchauncey, thank you for reporting. In your case, you killed the parent process while the child process lives on. If you want to kill parent process while clear all its child processes you can use this command:
`pkill -9 -P <PPID>`

[2017-09-22 19:50] jchauncey commented on #4182
So the way I found out about this problem is that our e2e tests exec out in golang to create a deployment. If the timeout for that deployment is exceeded (we dont wnat to wait the full azure timeout) golang attempts to send a `SIG_KILL` to the pid it started. It knew nothing of the spawned processes that the az cli created. Because the cli didnt honor the signal golang will not respond appropriate

[2017-09-22 21:44] paulbatum opened #4529 "[Monitor] Metrics lists accepts multiple comma-separated values rather than space-separated"
The azure metrics API supports multiple aggregation types e.g. average, total, minimum, maximum, etc (for more info see [here](https://docs.microsoft.com/en-us/azure/monitoring-and-diagnostics/monitoring-rest-api-walkthrough#retrieve-metric-values)). This is passed as an additional argument in the odata query string e.g. `(aggregationType eq 'Total')`.

The `az monitor metrics list` command does n

[2017-09-22 22:32] tjprescott commented on #4440
I have reproduced this and it seems to be an issue with the service itself.

[2017-09-22 22:40] tjprescott commented on #4440
Actually, the reason this doesn't show is because this feature is in a newer API version of traffic manager and the CLI only supports 2017-03-01.

[2017-09-23 00:50] yugangw-msft opened #4531 "DLS and DLA should not be marked as PREVIEW in the output of "az -h""
Marked as "PREVIEW" implies other modules are GA which might not be true, e.g. webapp for linux
Let us quickly discuss the right term we should use
[code]

//cc:@mayurid; @JasonRShaver

[2017-09-23 02:35] akskap opened #4532 "'az disk list' does not return any output"
### Description
Unable to fetch disks listed in my resource-group

[code]
never returns any output however I can see some 750+ disks on the azure web portal

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: brew install azure-cli

**CLI Version:** What version of the CLI and modules are install

[2017-09-23 03:54] matiasma opened #4533 "Remove the "required" flag of the "--servers" parameter when creating a new AppGW address-pool"
### Description
**Outline the issue here:**

Could you please remove the "required" flag of the "--servers" parameter when creating a new AppGW address-pool (az network application-gateway address-pool create)?

When I try to create a new AppGW backend address pool to associate to a VMSS I need to create a new one with some value in the --servers parameter, then I need to clean the backendAddresse

[2017-09-23 05:36] leidegre commented on #4525
I did some additional timings on this and consistently it's the package `sf` that's consuming all the time (can't say if this is the initial load cost). Here's what it looks like on my machine.

[code]

[2017-09-23 05:51] leidegre commented on #4526
I outlined my initial findings [here](https://github.com/Azure/azure-cli/issues/4477#issuecomment-331510458) and you can see my timings in [this](https://docs.google.com/spreadsheets/d/1K-gdsBQ9fKKwYuzz39Kvc7INzY_RWsIJdF6o3hQE6M0/edit?usp=sharing) Google spreadsheet. There was a big difference after running the `az` command as an admin on windows, the difference persisted and sped up `az` commands

[2017-09-23 19:55] lhardison commented on #4318
I think I'm running into this issue currently on an Ubuntu 16 VM on a support VHost.

I got this error when trying to use the Azure CLI 2.0 commands to encrypt the host;

`Deployment failed. Tracking ID: <snip>. Key Vault https://<snip>.vault.azure.net/keys/<snip>Key01/<snip> either has not been enabled for Volume Encryption or the vault id provided does not match /subscriptions/<snip>/resourceGro

[2017-09-24 14:34] leidegre commented on #3975
I second this, for example, from the resource manager API, I get this error

[code]

Note the reference to column 1682. I can assure you that no such column exists in my resource template. It's essential that the line number can be traced back to the source, there's no excuse for this, this just turned a helpful error message into a useless error message.

Using the PowerShell cmdlet `New-AzureRmR

[2017-09-24 16:42] felipebueno opened #4536 "'az interactive' throws unknown locale: UTF-8 on MacOS"
### Description

```az interactive``` command throws error ```unknown locale: UTF-8``` on MacOS command line.

---

It works after I set the ```LC_CTYPE``` environment variable to ```en```.

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:
```brew update && brew install azure-cli```

**CLI Version:*

[2017-09-24 20:50] alexeyshishkin01 commented on #4459
got it in 2.0.18 - when are you going to update doc file - https://docs.microsoft.com/pdfstore/en-us/Azure.azure-documents/live/backup.pdf ?

[2017-09-25 12:24] nphmuller opened #4538 "WSL: _openssl.abi3.so: cannot enable executable stack as shared object requires: Invalid argument"
Issue https://github.com/Azure/azure-cli/issues/4154 has been fixed in `2.0.14`, but I'm running `2.0.18-1` in WSL and I still get the same error.

I've updated all packages (`sudo apt-get update && sudo apt-get upgrade`)
Win 10 build: 15063.608

I followed the installation instructions as described in the [docs](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest#in

[2017-09-25 15:41] tjprescott commented on #4459
I just looked at it and it looks up to date. I see references to the CLI 2.0 commands.

[2017-09-25 15:50] tjprescott commented on #4533
Hi @matiasma could you email me at alias trpresco. I would like to better understand your scenario as part of a larger look into how we can improve manipulating app gateways with VMSS.

[2017-09-25 15:56] troydai commented on #4525
We removed `sf` module in the latest release which was shipped last Friday. So when you have a chance please give it a try. In the meantime, I will keep this issue open till I did a full test.

[2017-09-25 15:57] troydai commented on #4526
We're looking into installing the command tools under `<user profile>\AppData\` instead of traditional `Program Files` folder to allow a user privileged installation to avoid `Access Denied` issue.

[2017-09-25 16:05] troydai commented on #4536
@williexu, can you take a quick look?

[2017-09-25 16:31] sptramer opened #4539 "No package for Ubuntu 16.04.3 LTS (Xenial)"
### Description
**Outline the issue here:**

There is no available package for Xenial. Only a Wheezy (previous Ubuntu LTS 14) package is offered.

https://packages.microsoft.com/repos/azure-cli/dists/

Even if it is only a copy of the existing package, a Xenial offering should be made.

[2017-09-25 17:37] williexu commented on #4536
This seems to be a bug in the way Python makes assumptions about the format of locale names and only appears to happen on the OSX terminal. The fix is to set `LANG`/`LC_` environmental variables to the correct string for your locale. Got this from [here,](https://conda.io/docs/user-guide/troubleshooting.html#macos-error-valueerror-unknown-locale-utf-8) [here](https://coderwall.com/p/-k_93g/mac-os-

[2017-09-25 18:20] #2607 closed

[2017-09-25 18:21] #3617 closed

[2017-09-25 18:21] #3897 closed

[2017-09-25 18:45] seguler opened #4543 "Progress report for the Storage commands (upload and download)"
### Description
Could we implement progress report for the Storage commands for uploading/downloading single file?

https://github.com/Azure/azure-storage-python/blob/717f616809c82b6cbf3e258f3d94303e6fabe411/azure/storage/file/_upload_chunking.py

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here

[2017-09-25 18:56] mbsnl commented on #3423
KeyVault Data Plane SDK 0.3.6 (since 0.3.4 in fact) that has been pulled into the CLI main branch supports "Managed Storage Account keys for managing storage credentials and provisioning SAS tokens".
Can someone look at this, so we can also test this from Linux and not stick to PowerShell/Windows-only?

[2017-09-25 19:04] yugangw-msft opened #4544 "vmss: support cross zone"
1. On `az vmss create`: LB's sku should switch to "standard" by default
2. `az vmss update` should expose "--zones"

[2017-09-25 19:24] #4533 closed

[2017-09-25 19:25] yugangw-msft commented on #4532
In portal, could you please cross check by applying the same subscript you are using in CLI?

[2017-09-25 19:30] #4508 closed

[2017-09-25 20:32] troydai commented on #4536
@felipebueno could you please try out this solution? I'll close this for now since it doesn't require a product fix. Please feel free to reopen if you have any further concerns.

[2017-09-25 20:32] #4536 closed

[2017-09-25 20:38] mattmcspirit commented on #4508
Thanks all!

[2017-09-25 20:38] #4440 closed

[2017-09-25 20:47] alexeyshishkin01 commented on #4459
studying ...

[2017-09-25 21:03] derekbekoe commented on #4538
Looks like it just failed to upgrade.
Does `az --version` show the latest version (2.0.18)?

I just trying installing using the normal apt-get instructions and ran some of the commands that failed in the other issue and they still work, `az appservice plan list`, `az webapp list`

[2017-09-25 21:04] derekbekoe commented on #4538
Try upgrading again. Maybe there was a transient issue with the keyserver.

[2017-09-25 21:23] nphmuller commented on #4538
I just figured the keyserver problem out. HKP port was blocked by our firewall. (Sorry!)

Could it be that the missing key was causing the exception? Because I can't reproduce it anymore, and I only remember changing the key.

I had the latest version though. The output of `az --version`:
[code]

[2017-09-25 21:23] #4538 closed

[2017-09-25 23:01] yugangw-msft commented on #3999
done

[2017-09-25 23:01] #3999 closed

[2017-09-26 00:07] derekbekoe commented on #3618
Closing.

[2017-09-26 00:07] #3618 closed

[2017-09-26 04:48] squillace commented on #3481
@troydai, @lmazuel, where are we on this? I need this command to work, as documented.... it appears as if this was just taken on here: https://github.com/Azure/azure-cli/issues/3323. True?

[2017-09-26 09:14] bingosummer opened #4548 "The argument "--vm-name" should not be required for "az vm nic show""
### Description
**The nic can exist even there's no VM, so azure-cli should allow to show its properties.**

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: Docker

**CLI Version:** What version of the CLI and modules are installed? (Use `az --version`)
Answer here: 2.0.18

**OS Version:** Wha

[2017-09-26 13:08] bingosummer commented on #4548
Sorry. I figured it out. I should use `az network nic show` instead of `az vm nic show`.

[2017-09-26 13:08] #4548 closed

[2017-09-26 14:01] rnowagk commented on #4372
For what it is worth: for me, a stream upload works only with append blobs, not default block blobs:

[code]

[2017-09-26 15:00] akskap commented on #4532
@yugangw-msft Yes the subscription ID is same.

I tried executing the same command in Azure Portal web cli and din't get an output there as well

[2017-09-26 15:49] yugangw-msft commented on #4532
Please run `az disk list --resource-group <RG_NAME> --debug` and share with me the output. Make sure the disk you saw in portal are under the same resource group

[2017-09-26 17:53] troydai opened #4549 "az monitor metric list-definitions command's table format output is unnecessarily verbose."
[code]

The resource id is given as command option, therefore, repeatedly print it in the table resource seems unnecessary. The resource id is often long and makes the table rows wrap in most of the normal screen resolutions.

[2017-09-26 17:57] troydai opened #4550 "az monitor metrics list-definitions show carry metric display name in the table format"
[code]

You can't really tell what these definitions are actually for since the names are omitted. When it is printed in JSON, you can notice the `name` is the readable display name.

[code]

[2017-09-26 18:02] akskap commented on #4532
Please find the debug log below:

Don't see any output post these lines

[code]

[2017-09-26 18:05] tjprescott opened #4551 "[Network] Add NetworkWatcher and VnetGateway features"
Latest network SDK 1.5.0 adds features for:

- [ ] Network watcher
- [ ] Vnet Gateway

[2017-09-26 18:07] yugangw-msft opened #4552 "vmss: rolling update support"
Service is ready

[2017-09-26 18:08] yugangw-msft opened #4553 "vmss create: expose option to set os disk size"
will be unblocked when https://github.com/Azure/azure-rest-api-specs/issues/1741 is fixed

[2017-09-26 18:11] troydai opened #4554 "Invalid metric-names option render unintuitive error message in az monitor metric list-definitions command."
[code]

[2017-09-26 18:13] yugangw-msft commented on #4332
please reactivate when you have more recent data, particularly the hostname, so we can cross check the trace

[2017-09-26 18:13] #4332 closed

[2017-09-26 18:16] yugangw-msft commented on #2191
let us close on this till we have more up-votes on this

[2017-09-26 18:16] #2191 closed

[2017-09-26 18:47] troydai opened #4555 "az monitor metrics list-definition --metric-names parameter doesn't work"
[code]
Log
[code]
The OData filter is not constructed correctly.

[2017-09-26 20:03] tjprescott commented on #4555
It looks like there's a for loop that expects a list and when it gets a string it creates a filter for each letter. Does it work if you specify two metrics?

[2017-09-26 20:47] troydai commented on #4372
Take a look the newly surfaced evidence.
![image](https://user-images.githubusercontent.com/1329240/30883487-2855c11e-a2c1-11e7-9c93-2d0284d0d3c6.png)

[2017-09-26 22:22] troydai opened #4556 "az lock delete's help document is incomplete"
[code]

The parameters' descriptions are missing.

[2017-09-26 22:24] troydai opened #4557 "az lock delete failed to delete locks of the same name"
[code]

[2017-09-27 00:10] tjprescott commented on #4557
In the first case, you were deleting a subscription lock. In the second case, you were deleting a resource group lock. If the locks you are trying to delete are on resources, then this would be the expected behavior (though maybe it shouldn't be).

[2017-09-27 11:35] TwinkleChawla commented on #4490
Hey, I'm also getting the same issue. And I'm having maximum of 3GB data in .tar.gz file. Please help!

[2017-09-27 12:47] TwinkleChawla opened #4558 "Archived (.tgz) files aren't downloading properly from blob"
### Description
I archived my data (.tgz) on server-1, and uploaded to the container as blob.

[code]
Zipping and Unzipping working fine with server-1,
[code]

On server1:
Original file size is 31M
Archived file size is 7.79M
I check the blob size from UI it was 7.79M
Tried to download archive file on local machine from UI, the downloaded archive's size was 32.4M.

Then, I downloaded the file to s

[2017-09-27 14:41] patoncrispy commented on #4360
I'm having this issue using GitLab CI. Docker image is `microsoft/dotnet:2.0.0-sdk`. The steps that cause this failure are:

[code]

[2017-09-27 15:53] troydai commented on #4490
It is fixed in 2.0.18 release. Please try it out.

[2017-09-27 15:54] jmblock opened #4559 "CLI not executing with sub command"
### Description
**Outline the issue here:**
az vm show -d --ids $(az vm list -g myGroup --query "[].id" -o tsv)

returns:

az vm show: error: argument --ids: invalid ResourceId value: '$(az'

usage: az vm show [-h] [--output {json,tsv,table,jsonc}] [--verbose] [--debug]
                  [--query JMESPATH] [--resource-group RESOURCE_GROUP_NAME]
                  [--name NAME] [--show-details]

[2017-09-27 16:16] troydai commented on #4557
neither has a proper error message and the command has no effect. uesr won't know how to recover from it.

[2017-09-27 16:28] tjprescott commented on #4557
So basically a 404 error that calls out the type of lock the command was looking for (subscription/group/resource).

[2017-09-27 16:32] troydai commented on #4559
I don't think following bash command works in cmd
[code]
The `$(az vm list -g myGroup --query "[].id" -o tsv)` is bash syntax.

[2017-09-27 16:33] tjprescott commented on #4559
No it 100% will not work in CMD.

[2017-09-27 16:34] tjprescott commented on #4559
For CMD you would need to pipe the output to a file or environment variable.

[2017-09-27 16:35] #4559 closed

[2017-09-27 16:35] troydai commented on #4558
It is fixed in 2.0.18: https://github.com/Azure/azure-cli/issues/4490

[2017-09-27 16:36] troydai commented on #4558
Please try this scenario with latest CLI. Thanks.

[2017-09-27 16:36] #4558 closed

[2017-09-27 21:38] troydai opened #4561 "az vm image list failed in Python 3.6"
[code]

[code]

[code]

[2017-09-27 22:11] troydai opened #4562 "az monitor metrics list output doesn't provide value in table format"
[code]
The actual values are not listed.

[2017-09-27 23:21] #3902 closed

[2017-09-27 23:36] troydai opened #4563 "az monitor alert show-incident render un-actionable error message"
[code]

[2017-09-27 23:49] troydai opened #4564 "az monitor activity-log list help document categorize the argument wrongly."
[code]

The **resource group**, **resource id**, **resource provider**, **start time**, **status** are not odata filter.

[2017-09-28 04:16] worldspawn opened #4565 "Azure cli functionapp and webapp has no support for CORS control"
Like the title says, the cli provides me no mechanism to administer the cors whitelist for the functionapp.

[2017-09-28 04:24] worldspawn commented on #4565
I can't find any reference on an alternative means to control this either.

[2017-09-28 06:48] TwinkleChawla commented on #4558
Thanks! it is working with 2.0.18 version.

[2017-09-28 14:31] hajbal opened #4567 "The error message print when .azure folder is corrupt is not helpful."
### Description
Loading all installed modules as module with name 'login' not found.
Installed command modules ['acr', 'acs', 'appservice', 'backup', 'batch', 'billing', 'cdn', 'cloud', 'cognitiveservices', 'component', 'configure', 'consumption', 'container', 'cosmosdb', 'dla', 'dls', 'eventgrid', 'extension', 'feedback', 'find', 'interactive', 'iot', 'keyvault', 'lab', 'monitor', 'network', 'pro

[2017-09-28 15:55] yugangw-msft commented on #4567
//cc: @derekbekoe

[2017-09-28 16:02] yugangw-msft commented on #4561
FYI. This is a pretty generic issue from Py 3.6 on mac. Has nothing to do with the git hosted file:
https://stackoverflow.com/questions/41691327/ssl-sslerror-ssl-certificate-verify-failed-certificate-verify-failed-ssl-c

[2017-09-28 16:05] yugangw-msft commented on #4565
//cc: @ lindydonna

[2017-09-28 16:15] troydai commented on #4567
Could you try remove the CLI and install again?

[2017-09-28 16:17] hajbal commented on #4567
It happened, and still not working. We got the same error : Unterminated string starting at: line 1 column 2905 (char 2904).

[2017-09-28 16:18] hajbal commented on #4567
We used this step by step on both server : https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest .

[2017-09-28 16:36] tjprescott commented on #4567
`login` is part of the `profile` module, which it shows you have loaded.  If you can run `az login -h` then it seems the command is there. What happens when you try and run the command?

[2017-09-28 17:45] #4364 closed

[2017-09-28 17:48] mayurid commented on #3940
@jasonrshaver: please work on collecting these service attention issues and work with service team on them.
feel free to discuss with me a proposed plan.

[2017-09-28 17:56] troydai opened #4568 "Output format shouldn't impact az monitor autoscale-settings get-parameter"
[code]

The purpose of this command is to generate a template for autoscale settings in JSON. Transform it into a table is meaningless. The output should bypass the `-o` setting and print JSON.

[2017-09-28 18:18] derekbekoe commented on #4567
`Loading all installed modules as module with name 'login' not found.` is a debug message and not an error message.
It happens all the time so that's a red-herring.

[2017-09-28 18:29] yugangw-msft commented on #4286
#4444 fixed it

[2017-09-28 18:29] #4286 closed

[2017-09-28 18:58] derekbekoe commented on #2272
@tjprescott is this still something we need to track?
Thinking of closing.

[2017-09-28 19:34] yugangw-msft commented on #892
@williexu, please expose a `--client-affinity-enabled` from the update command to cover #4471 tries to accomplish

[2017-09-28 20:08] derekbekoe opened #4571 "Extensions: Don't use `import pip` as it may break in future"
### Description
Due to, https://github.com/pypa/pip/pull/4743, we'll have to look at another way to call pip when installing an extension.
Also, we'll have to find a way to get the pip logger output also.

Currently, this is what we do from https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-extension/azure/cli/command_modules/extension/custom.py#L35:
[code]

---

Affects

[2017-09-28 20:49] tjprescott commented on #2272
I think it can safely be closed.  If issues arise, we can address them on a case-by-case basis.

[2017-09-28 20:51] #2272 closed

[2017-09-28 21:29] chrmarti opened #4573 "Homebrew: "Python location" not pointing to a virtual environment"
### Description

"Python location" was added to the output of `--version` for the VSCode extension to pick up and use as the entry point for loading the command tree, documentation and completion proposals (#2986). That depends on "Python location" pointing to a virtual environment with all the CLI's modules in it. When installing on Mac through Homebrew that is not the case and the VSCode extensi

[2017-09-28 21:31] chrmarti commented on #4573
The output:
[code]

[2017-09-28 21:41] yugangw-msft commented on #4213
Different thing from #4216 .
@viananth, like I communicated in the mail thread, let us settle on how ADFS endpoints in the Stack env would look like, document it, and I will align CLI's auth code for that

[2017-09-28 21:42] #4217 closed

[2017-09-28 21:47] derekbekoe commented on #4573
Based on feedback in my Homebrew PR, the Homebrew install does not use a virtual environment.
https://github.com/Homebrew/homebrew-core/pull/17344#issuecomment-326828536

Instead, the PYTHONPATH is set to the correct site-packages directory manually (which is what the virtual env would have done).
[code]

[2017-09-28 22:24] chrmarti commented on #4573
Not sure how to work around this from our side. Maybe you could add "Python path: '/usr/local/Cellar/.../site-packages'" to the output of `--version`?

[2017-09-28 22:27] alexeyshishkin01 opened #4575 "Using JMESPath queries with Azure CLI 2.0"
### Description
**Outline the issue here:**
Is it possible to rewrite the article https://docs.microsoft.com/en-us/cli/azure/query-azure-cli?view=azure-cli-latest with clear explanation of query syntax (the difference between [] and {} for example), provide more complex examples?
My particular question would be to get name for ip config in 'az network nic list --resource-group myresourcegroup' whi

[2017-09-28 22:38] derekbekoe commented on #4573
That would return a list of values rather than a single one.
e.g.:
[code]

If you add the correct path to your PYTHONPATH, does the VSCode extension work as normal?

[2017-09-28 22:43] chrmarti commented on #4573
It complains `ImportError: No module named '_cffi_backend'`:
[code]

Still trying to figure out how to get around it.

[2017-09-28 22:51] tjprescott commented on #4575
The primary reference for JMESPath query syntax is www.jmespath.org. One great way to play around with the syntax would be to pipe the output of your command to JQ. There you can write queries and interactively see the result.

[2017-09-28 23:44] chrmarti commented on #4573
@derekbekoe I see `/usr/local/Cellar/azure-cli/2.0.18/libexec/lib/python3.6/site-packages/_cffi_backend.cpython-36m-darwin.so` and `PYTHONPATH` has that folder listed. Should that be enough to load this module or can I check anything else?

[2017-09-29 01:00] yugangw-msft commented on #4567
Based on Derek's command, @hajbal, you can still execute `az login`, please let us know otherwise

[2017-09-29 01:21] linuxelf001 opened #4581 "Documentation: RPM Package does not support RHEL/CentOS 6"
Following the instructions, (https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest#install-on-rhel-fedora-and-centos-with-yum), I installed Azure CLI on RHEL 6.8 VM.

It installs azure-cli.x86_64 0:2.0.18-1.**el7** on RHEL 6.x VM.

After the installation, it fails to load with below message
az
/usr/lib64/az/bin/python: error while loading shared libraries: libpython2.7

[2017-09-29 02:00] worldspawn commented on #4041
Using the credentials returned by `az ad sp create` I came up with those code (gets the master key but can probably write too).

[code]

[2017-09-29 02:59] worldspawn commented on #4565
In the interim if anyones interested you can go about it this way:

[code]

[2017-09-29 03:02] davidobrien1985 opened #4582 "Trying to connect to a kubernetes cluster on ACS"
### Description
Trying to connect to a kubernetes cluster on ACS gives me the following error:
[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here: docker, https://hub.docker.com/r/azuresdk/azure-cli-python/

**CLI Version:** What version of the CLI and modules are installed? (Use `az --ver

[2017-09-29 05:44] brian-l-coker opened #4583 "Service Fabric Upload Package Fails with 104 ECONNRESET"
### Description
az sf application upload results in a 104 ECONNRESET when connected to a secure cluster.

Note: this works fine using the new sfctl modules.

[code]
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

yum

**CLI Version:** What version of the CLI and modules are installed? (Use `a

[2017-09-29 06:23] lmiroslaw commented on #4223
I see the same error when running _az storage blob upload_ .

[2017-09-29 07:38] hajbal commented on #4567
@derekbekoe You're right. Sorry. So guys, the command there is. but we still can't login to azure. Should we check some config file or something ?

[2017-09-29 12:37] worldspawn commented on #4373
@undernewmanagement i went with that thanks. Heres what I ended up with.

[code]
servicebustemplate.json
[code]

[code]
servicebusqueuetemplate.json
[code]

[code]

servicebustopic.json
[code]

servicebustopicsubscription.json
[code]

[2017-09-29 13:15] tmoretti commented on #4558
Just for reference for others with same issue, I still got this download problem with 2.0.18 cli version with a file uploaded with previous versions.
I reuploaded the file using the 2.0.18 and download problem has gone away.

[2017-09-29 13:25] hajbal commented on #4567
@tjprescott Yes, i can run the `az login -h` .

[2017-09-29 15:28] tjprescott commented on #4567
What happens when you run `az login`?

[2017-09-29 15:38] hajbal commented on #4567
`az login -u "username" -p "password" `
I get the following error:
Unterminated string starting at: line 1 column 2905 (char 2904)

[2017-09-29 15:45] yugangw-msft commented on #4567
Please use `az login -u "username" -p "password" --debug` and share with us the output

[2017-09-29 15:54] hajbal commented on #4567
Here is the debug log :

Loading all installed modules as module with name 'login' not found.
Installed command modules ['acr', 'acs', 'appservice', 'backup', 'batch', 'billing', 'cdn', 'cloud', 'cognitiveservices', 'component', 'configure', 'consumption', 'container', 'cosmosdb', 'dla', 'dls', 'eventgrid', 'extension', 'feedback', 'find', 'interactive', 'iot', 'keyvault', 'lab', 'monitor', 'netwo

[2017-09-29 15:59] yugangw-msft commented on #4567
Please send me the `/root/.azure/accessTokens.json` and `/root/.azure/azureProfile.json` at yugangw at microsoft dot com
At the same time, run `az account clear` first should unblock you

[2017-09-29 16:04] hajbal commented on #4567
We solved the problem: We renamed the .azure directory to .old_azure and tried again the login and it is working now. So i think its the same as `az account clear` .  Thanks for your time guys and the help.

[2017-09-29 16:21] troydai commented on #4567
We probably should fix the unhelpful error message.

[2017-09-29 16:23] troydai commented on #4558
@tmoretti thank you for the information. You're right. the problem was the upload command in previous two releases. The newly added content type guess logic put `gzip` as content encoding for `tar` files and the SDK failed to download blobs with that content encoding.

[2017-09-29 16:36] yugangw-msft commented on #4567
Agreed, I will take this issue.

[2017-09-29 16:40] troydai commented on #4581
We don't plan to support Python 2.6 at this point.

[2017-09-29 18:20] #892 closed

[2017-09-29 20:56] lutzroeder commented on #2552
The link above recommends running `brew`, which doesn't work when installed via `pip`.

`~: brew uninstall azure-cli
Error: No such keg: /usr/local/Cellar/azure-cli`

Using the command above doesn't seem to work either:

`~: pip uninstall -y $(pip freeze | grep azure-cli-) && pip uninstall -y azure-cli
Uninstalling azure-cli-acr-2.0.12:
Exception:
Traceback (most recent call last):
  File "/usr/lo

[2017-09-29 21:16] derekbekoe commented on #4573
@chrmarti Did the VS Code extension load and run properly after adding the Python path.

[2017-09-29 21:40] chrmarti commented on #4573
@derekbekoe No, it shows the above error about not finding `_cffi_backend ` (https://github.com/Azure/azure-cli/issues/4573#issuecomment-332983784).

[2017-09-29 22:34] derekbekoe commented on #4573
What version of Python are you using? I see `3.5/lib/python3.5` in the error message.
Can you try Python 3.6?

Really just running this should work as that's what `az` does:
[code]

[2017-09-29 23:04] chrmarti commented on #4573
You're right, the 'Python location' points to Python 3.5. It works with Python 3.6. `python -m azure.cli` works with both Python 3.5. and 3.6 when run with no parameters.

[2017-09-30 00:31] williexu commented on #3479
`--ids` support for lock commands taken care of by https://github.com/Azure/azure-cli/pull/4412

[2017-09-30 00:31] #3479 closed

[2017-09-30 23:24] sptramer commented on #2552
@lutzroeder - The instructions linked do begin with "Uninstall using the method you used to install." In your case, the `pip` uninstallation was correct, if that was how you originally installed.

@derekbekoe - It's probably in an email chain somewhere, but we agreed that the CLI should not be directly installed via `pip`, correct? Do we need to include a warning message somewhere about how doing

[2017-10-01 22:53] jainmnsh opened #4587 "[ACS] No such file or directory: '/root/.ssh/config'"
### Description
I have setup kubenetes cluster in Azure using az acs command, it all worked until when I tried to connect

az acs kubernetes get-credentials --name=<clustername> --resource-group <resourcegroup>

[Errno 2] No such file or directory: '/root/.ssh/config'
Traceback (most recent call last):
  File "/usr/local/lib/python3.5/site-packages/azure/cli/main.py", line 36, in main
    cmd_resu

[2017-10-02 09:06] kishorebasisth opened #4588 "Error while restoring a webapp"
### Description
Since a week now, I am getting an error while trying to restore a webapp from the backup saved in the Storage account.

Following is the command that I used to do so:

[code]
The error is:

[code]
There's no option to pass the app service plan as a command line argument for the restore command.

The detailed log snippet in the debug mode is as follow:

[code]
---

### Environment s

[2017-10-02 14:00] karungithub commented on #3481
Add on to this - I could not find if Azure Storage or compute REST API for some of the listing commands (like VM list) supports paging. If anyone knows the options to use in a REST call to get a paged list of elements, that would be really helpful. Thanks.

[2017-10-02 15:09] djpicard opened #4589 "[Network] AppGateway - unable to disable TLS version"
### Description
**Outline the issue here:**
Attempted to disable TLS 1.0 and TLS 1.1 through the CLI.

az network application-gateway ssl-policy set --resource-group ${res_group} --gateway-name ${entity_prefix}-cust-gw --disabled-ssl-protocols TLSv1_0 TLSv1_1 --no-wait
az network application-gateway ssl-policy set --resource-group ${res_group} --gateway-name ${entity_prefix}-agent-gw --disabled-ss

[2017-10-02 15:16] willmorgan opened #4590 "az component update (2.0.1 > latest) breaks install"
### Description
I tried to update the Azure CLI tools but there was an error during this process.

My installation is now corrupt.

As an aside, it's not intuitive or immediately clear how to update your client. I'd have expected `az update` rather than having this hidden behind a subcommand.

Terminal output below:

[code]
---

### Environment summary

**Install Method:** How did you install the

[2017-10-02 16:40] lmazuel commented on #3481
@karungithub The paging mechanism of ARM is described here:
https://github.com/Azure/azure-resource-manager-rpc/blob/master/v1.0/resource-api-reference.md#get-resource

If you don't have "nextLink" in the documentation or in what you get from Azure. or the "top" parameter, this probably means that the service does not support paging for this operation.

[2017-10-02 16:49] tjprescott commented on #4588
@yugangw-msft can you take a look?

[2017-10-02 18:22] derekbekoe commented on #4590
You can reinstall with the curl script to get the latest directly.
`az component update` is being deprecated as it has issues with updates. You didn't see the deprecation message because the version of the CLI you have was before the deprecation message was added.

[2017-10-02 18:27] derekbekoe commented on #2552
@lutzroeder, @sptramer is correct. `brew uninstall azure-cli` didn't work as there was no brew install previously. The `pip` uninstallation was correct expect `sudo` was required as the CLI was installed into `/usr/local/lib/python2.7/site-packages/` which requires sudo access to delete.

@sptramer We have enough installers now that `pip install` isn't required so there's not a huge need to docume

[2017-10-02 19:14] derekbekoe commented on #3988
@jaraco I've published an update to azure-multiapi-storage including this change (https://github.com/Azure/azure-multiapi-storage-python/pull/5).

https://github.com/Azure/azure-cli/pull/4591 updates the dep. in Azure CLI. Once merged, it'll be fixed in the next version of the CLI.

[2017-10-02 19:20] yugangw-msft opened #4592 "webapp: msi support in creates"
Similar like `az vm/vmss`:
1. expose `--assign-identity`, `--scope`,  and `role` from `az webapp/function create`
2. ~expose `az webapp/functionapp assign-identity` commands~ (Done)

We should try to reuse the existing logic in the vm command module, ideally get the routines to the common module

[2017-10-02 19:22] yugangw-msft opened #4593 "resource: generic msi support"
For stop gap, expose `az resource assign-identity --scope <SCOPE>, --role <ROLE> <other resource args to >` so you can configure any resources to have an identity

[2017-10-02 19:58] willmorgan commented on #4590
Cool, thanks - that makes sense. I've uninstalled completely and reinstalled with Brew for the time being.

[2017-10-02 20:47] gatneil commented on #4217
Yippee! :)

[2017-10-02 20:50] #4590 closed

[2017-10-02 23:01] yugangw-msft commented on #4552
PR #4596 was submitted

[2017-10-02 23:08] yugangw-msft commented on #4280
Done through #4303

[2017-10-02 23:08] #4280 closed

[2017-10-02 23:40] tjprescott commented on #4146
Implemented for Ignite 2017.

[2017-10-02 23:40] #4146 closed

[2017-10-02 23:45] gatneil opened #4598 "no attribute 'getargspec'"
I just updated my CLI install on Ubuntu 16.04-LTS using the command `curl -L https://aka.ms/InstallAzureCli | bash` (then did the `exec -l $SHELL` command). Now, whenever I try to run an az command I get the error below.

$ az --version
Traceback (most recent call last):
  File "/usr/lib/python2.7/runpy.py", line 174, in _run_module_as_main
    "__main__", fname, loader, pkg_name)
  File "/usr/lib

[2017-10-03 00:12] derekbekoe commented on #4598
Do you have the required native dependencies installed?
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest#a-namelinuxinstall-on-linux-without-apt-get

[2017-10-03 00:27] gatneil commented on #4598
Yup:

0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.

[2017-10-03 00:40] derekbekoe commented on #4598
Can you provide the output of `~/lib/azure-cli/bin/python --version` and the output of `~/lib/azure-cli/bin/pip freeze`?

[2017-10-03 00:47] gatneil commented on #4598
$ ~/lib/azure-cli/bin/python --version
Python 2.7.12

$ ~/lib/azure-cli/bin/pip freeze
adal==0.4.7
applicationinsights==0.11.1
argcomplete==1.9.2
asn1crypto==0.23.0
azure-batch==3.1.0
azure-cli==2.0.18
azure-cli-acr==2.0.12
azure-cli-acs==2.0.16
azure-cli-appservice==0.1.17
azure-cli-backup==1.0.1
azure-cli-batch==3.1.4
azure-cli-billing==0.1.5
azure-cli-cdn==0.0.9
azure-cli-cloud==2.0.8
azure-cli

[2017-10-03 08:25] creacog opened #4599 "az storage blob list returns JSON rather than simple text listing (on Mac)"
### Description
**Outline the issue here:**

`$ az storage blob list --container-name=theContainer`

Instead of returning a human readable simple list of names, one per line, with tabulated meta information, we get back an array, containing a json formatted list, herewith the first blob:

[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive

[2017-10-03 13:55] OlegRakovitch commented on #4587
In case someone got stuck on this issue: workaround is to use version 2.0.18

[2017-10-03 14:08] jainmnsh commented on #4587
@OlegRakovitch  did you mean the version 2.0.15 as I dont see 2.0.18. I must be missing something.

[2017-10-03 14:18] OlegRakovitch commented on #4587
@jainmnsh I am using azure-cli-python
https://hub.docker.com/r/azuresdk/azure-cli-python/tags/

[2017-10-03 15:34] tjprescott commented on #4599
This is by design.  You can change the format to a table using `-o table`.

[2017-10-03 15:34] #4599 closed

[2017-10-03 16:17] justinmchase opened #4601 "Fails to install on windows"
### Description
I am just running the install script in the readme and it fails:
[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

I am running the latest version of Git Bash and I just ran the curl script from the README.

**CLI Version:** What version of the CLI and modules are instal

[2017-10-03 16:37] #3988 closed

[2017-10-03 16:39] troydai commented on #4581
@derekbekoe can you answer the question for RPM? My understanding is that we do offer azure-cli on RPM since 2.0.18.

[2017-10-03 16:48] tjprescott commented on #4601
If you are installing on bash, you should install on WSL (Windows Subsystem Linux).  `git bash` is not the same and not supported. It will generally work, but you will very likely run into problems using it.

For Windows you can install using an MSI.  https://aka.ms/InstallAzureCliWindows

@derekbekoe we should probably update the install instructions on the landing page to reference the different

[2017-10-03 16:50] derekbekoe commented on #4601
The `curl` script does not support Windows.
These are the instructions for installing on Windows - https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest#install-on-windows.

I will create a PR to remove `curl -L https://aka.ms/InstallAzureCli | bash` from the README

[2017-10-03 16:54] #4571 closed

[2017-10-03 17:00] derekbekoe commented on #4581
We do offer azure-cli as an RPM but it supports RHEL/CentOS 7.x.
RHEL/CentOS 6.x ships with Python 2.6 and we require at least Python 2.7.

We don't plan to create a Python RPM for 6.x.
If you can install Python 2.7/3.5/3.6 on the machine, you can install the CLI with `pip install azure-cli` assuming you have the native dependencies installed from https://docs.microsoft.com/en-us/cli/azure/install

[2017-10-03 17:07] truatpasteurdotfr commented on #4581
do you provide the src.rpm for the azure-cli in order to try to rebuild it with the SCL provided python2.7 version on CentOS/RHEL/SL 6.x ?

[2017-10-03 17:11] sptramer commented on #4601
@derekbekoe Should the README just link to the install page on docs rather than containing its own install instructions? There are so many different recommended installation methods depending on the user system that I would be worried about drift.

[2017-10-03 18:09] yugangw-msft commented on #4552
PR merged

[2017-10-03 18:09] #4552 closed

[2017-10-03 20:18] #4601 closed

[2017-10-03 20:49] justinmchase commented on #4601
I'm trying to use this from within a gulp script, so its doing some shell exec, as far as I know calling into the windows subsystem isn't possible in this way, so I really need this to work from git bash.

I can't use powershell for this because not all developers are on windows.

I tried installing `azure-cli` from npm, which works but they're now saying that its deprecated in favor of this tool,

[2017-10-03 20:54] justinmchase commented on #4601
On second thought I guess I can just run everything through the subsystem... I have been using VS Code to do this but it looks like there may be a solution:
https://github.com/Microsoft/vscode-cpptools/blob/master/Documentation/Debugger/gdb/Windows%20Subsystem%20for%20Linux.md

And if not I guess I can live with just doing it all through the subsystem. I'll play around with it thanks.

[2017-10-03 22:08] derekbekoe commented on #4581
We do not provide src.rpm but the build instructions are here so you can build a src.rpm - https://github.com/Azure/azure-cli/tree/master/packaged_releases/rpm.

[2017-10-03 22:37] derekbekoe commented on #4110
This is a strange experience for users who have table output set as default.
It makes it seem like the command failed and so it's hard to tell if it was actually created.
@yolo3301

[2017-10-03 22:51] lmazuel opened #4603 ""az policy definition list" argument "--filter" is not supported by Azure"
According to @vivsriaus , this was incorrectly exposed in the Swagger but not supported by the RestAPI. This PR will remove it:
https://github.com/Azure/azure-rest-api-specs/pull/1788

FYI @johanste

[2017-10-04 05:44] alexbez commented on #4333
Have the same issue today, after I left Azure portal open for the previous night. Now I get the same error message: 'The access token expiry UTC time '10/3/2017 2:50:31 PM' is earlier than current UTC time'. I restarted web CLI, logged off and back on Azure portal - but the problem persists.

I also tried to do 'azure login' in hope it will refresh the token. It asked me to enter a code on Azure l

[2017-10-04 07:22] DheerajJoshi commented on #4558
Faced the same issue, but works properly in 2.0.18

[2017-10-04 07:24] DheerajJoshi commented on #4558
Faced the same issue, but works properly in 2.0.18

[2017-10-04 07:38] Spreadcat commented on #4333
I am experiencing the same here with the identical message and leaving the portal open as well. Re-opening didn't have any effect.
[The Azure Status Page](https://azure.microsoft.com/en-us/status/) shows a warning for the cloud shell, but with a different error message.  I wonder if this might be related.

[2017-10-04 11:20] alexvicegrab commented on #2789
Would be great to get a connection string template with placeholders for the username/password. I can see these on the portal, but can't see an option to get them via the CLI.

[2017-10-04 11:29] alexvicegrab opened #4606 "Obtain an Azure SQL connection string template via az cli"
### Description
I need to create a connection string to my az cli Azure SQL database programmatically (just as I can do in other services like CosmosDB, etc.), and can get templates on the Azure Portal with tokens for substituting "username" and "password", but can't seem to be able to find anything like this in the az cli.

This makes it more difficult to do this programatically and means I will

[2017-10-04 16:48] yugangw-msft commented on #4333
There is an infrastructure level defect being investigated in the cloud shell right now which very likely has caused CLI's credentials are not updated in time.  Will update the thread when it is addressed

[2017-10-04 17:11] williexu commented on #4557
Error messages for deletes are inconsistent with our current functionality for all delete commands (silent upon discovering resource no longer there). https://github.com/Azure/azure-cli/pull/4608 provides strong-typed lock commands for each level to make working with specific levels more obvious.

[2017-10-04 17:19] truatpasteurdotfr commented on #4581
thx, I will have a look!

[2017-10-04 17:39] #4213 closed

[2017-10-04 18:32] truatpasteurdotfr commented on #4581
some progress, but not there yet https://gist.github.com/truatpasteurdotfr/bad17290a66046a950ac20833d7ed2ac

[2017-10-04 18:40] yugangw-msft commented on #3063
Done through #4596. 2 Notes
1. This is still in preview with the hard requirement that you need to have a health probe on the LB
2. Check out the test case in the PR for the end to end flow to provision such VMSS.

[2017-10-04 18:40] #3063 closed

[2017-10-04 18:46] yugangw-msft commented on #2394
Unless you use the extension with VMSS, you can consider "az vm run-command invoke" which routes to the API built upon the custom script extension, and the command does return you the stdout and stderr. The service API is still in preview and looks a bit immature, but should fulfill the ask here. So give it a try

[2017-10-04 18:54] yugangw-msft commented on #2019
fixed a while ago, please use newer cli

[2017-10-04 18:54] #2019 closed

[2017-10-04 18:58] derekbekoe commented on #4598
Okay I have done some investigations.
In short, I cannot repro this on my VMs.

Does the command below work for you?
[code]

If it doesn't work, do you have a file named `inspect.py` in your current directory or maybe on your path? It's a built-in Python module so no reason why that would fail.
https://docs.python.org/2/library/inspect.html#inspect.getargspec

---

My full investigation:

I create

[2017-10-04 18:59] yugangw-msft commented on #2543
@tjprescott , I can take a look at this.

[2017-10-04 19:03] gatneil commented on #4598
Yeah, that command works for me:

[code]

This VM has definitely been through a lot, so it's possible that there is some configuration issue with it. I'll just nuke the machine and make a new one :).

Thanks for the investigation!

[2017-10-04 19:39] JasonRShaver opened #4611 "Move `VM Image List` off of GitHub"
Notice in the cloud.py, we have a hardcoded path to a file hosted in github. It means every time users execute `az vm image list`, the command will fetch the file from raw.githubusercontent.com. This render a few issues:

1. Why do we rely on a third party to host files for runtime execution?
2. Github is not a file share service. It is a source control service. That means the url we relies on is

[2017-10-04 22:53] mmacy opened #4614 "[ACR] az acr webhook list-events: no table output"
### Description
When passing `-o table` to the `az acr webhook list-events` command, no output is printed to STDOUT. JSON and TSV both produce output.

Results from table, tsv, and json appear below--there are two "PING" events. Note there is no output for **table**.

[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Dock

[2017-10-05 00:49] gregdegruy opened #4615 "[AAD] az ad app create can not include --identifier-uris"
### Description
Now clear example of what value for `--identifier-uris` is expected. After peeking at other AAD apps I've registered, seems to be a mix of the domain of my tenant directory and a GUID.

Where does this GUID come from, it's not my tenant ID or my Azure subscription ID? Am I supoosed to use the `az` tool to generate a GUID and include it in my `--identifier-uris`?

[az_ad_app_create]

[2017-10-05 02:07] justinmchase opened #4616 "Uncaught error with _openssl.so with certain commands"
### Description
Full error and command here:
[code]

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
I followed the windows install steps here:
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

**CLI Version:** What version of the CLI and modules are installed? (Use `az --

[2017-10-05 02:16] justinmchase commented on #4616
Based on some other solutions to this I've seen I got a little further:
[code]
I am wondering if I have something wrong with my openssl install or python? I installed python27 much earlier than this for use with nodejs. Which version of python should be used by this sdk?

[2017-10-05 02:22] justinmchase commented on #4616
I tried this:
[code]
But no dice.

[2017-10-05 03:26] brharr opened #4617 "az policy assignment create: definition <id> could not be found"
### Description

I am trying to create an Azure Policy Assignment using the CLI. I copy and past the name of the policy using the az policy definition list command, but when I run the command, I get the following error:

The policy definition '2a0e14a6-b0a6-4fab-991a-187a4f81c498' could not be found.

This is an out of the box policy, but I still get the same error and I am just doing a copy and p

[2017-10-05 06:08] Spreadcat commented on #4333
FYI: When the issue mentioned on the [status page](https://azure.microsoft.com/en-us/status/) was corrected, the CLI started working for meg again. I just tested it again (the morning after), and the scripts are still running fine.
For my part this issue is no longer present and has been resolved.

[2017-10-05 06:16] xtianus79 opened #4618 "I keep getting this error Please run 'az login' to setup account. Using hyper as terminal client"
### Description
when trying to use az login and then running a cli command I get this

I keep getting this error Please run 'az login' to setup account.

I have signed in 100 times

this might be the cause by I am using hyper

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
installed via Ubuntu for windows

[2017-10-05 08:30] xpillons opened #4620 "Cannot create a batch pool with a custom image"
### Description
to create a batch pool based on a custom image you need to specify an image ID in the pool.json file that you can specify on the CLI : az batch pool create --json-file pool.json
    "virtualMachineConfiguration": {
        "imageReference": {
          "virtualMachineImageId ": "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Compute/images/{i

[2017-10-05 15:57] yugangw-msft commented on #4618
Are you seeing anything when run `az account list`? It is possible that the credential used to login has no subscriptions.
Terminal clients should not matter.

[2017-10-05 18:02] derekbekoe commented on #4616
Have you seen https://github.com/Azure/azure-cli/issues/4154?
I created a PR to fix this in Bash on Windows with the apt-get install https://github.com/Azure/azure-cli/pull/4251/files.

Also, how did you install as looking at the install path `/home/justin/lib/azure-cli/bin/python`, it's not installed with apt-get which is recommended on Bash on Windows.

[2017-10-05 18:35] troydai commented on #4442
Moves to the next sprint.

[2017-10-05 18:44] justinmchase commented on #4616
Ah, that is a very helpful clue.

The first time I tried to install I ran this via GitBash:
[code]

After struggling with that for a while, I was informed that that wasn't supported and I should be using Bash on Windows + `apt-get` instead. So it looks like I have some cruft in my environment that I need to clean out that I wasn't aware was bleeding over. I'll do that and re-update in Bash on Wind

[2017-10-05 18:44] #4616 closed

[2017-10-05 20:43] #4557 closed

[2017-10-05 20:43] #4556 closed

[2017-10-05 20:43] #3492 closed

[2017-10-05 20:59] troydai commented on #4372
@rnowagk unfortunately, I'm not able to repo your issue:
[code]

Would you please give it a try with the latest CLI release (2.0.18)? If the issue persists, can you open a new issue with more debug output (`--debug`) and details about your environment?

[2017-10-05 20:59] #4372 closed

[2017-10-05 20:59] yugangw-msft commented on #3490
2 cents here for getting the command signature closer to people's mental model
1. For `az network lb inbound-nat-rule create` command, suggest expose `--vm` or `--backend-ip-configuration` argument, so executing one command will set up all. Currently, having to run `az network nic ip-config inbound-nat-rule add` to get the backend ip configuration plugged in is rather hard for people to figure out

[2017-10-05 21:00] troydai commented on #4365
I don't have time to get to this issue in time. Move to the next sprint.

[2017-10-05 21:00] troydai commented on #3745
I do not have time to reach to this issue in this sprint. I will move it to the next sprint.

[2017-10-05 21:17] troydai commented on #4441
https://github.com/Azure/azure-cli/pull/4619

[2017-10-05 21:17] #4441 closed

[2017-10-05 21:17] yugangw-msft commented on #4615
@gregdegruy, any uri will work, as long as it is unique, and it doesn't need to exist, so `https://mygreatapp` will go.

[2017-10-05 21:23] yugangw-msft commented on #4617
@vivsriaus, assigning this to you since you are already working on this per our mail conversation

[2017-10-05 22:03] gregdegruy commented on #4615
ah cool. so the GUID is optional sounds like? going to test this out and add to thread if I'm blocked again.

[2017-10-05 22:44] yugangw-msft commented on #4615
GUID is optional

[2017-10-06 04:25] vivsriaus commented on #4617
PR [here](https://github.com/Azure/azure-cli/pull/4625)

[2017-10-06 14:46] MaximRouiller opened #4626 "[KeyVault] Unable to create self-signed certificate with Azure CLI 2.0 with PowerShell"
### Description

When trying to create a self-signed certificate, it generates a JSON parsing error.

[code]

I also tried to put the actual JSON content instead of the command interpolation. I also tried to escape the actual JSON content, etc.

Nothing seems to work.

[code]

What I'm expecting is to be able to either pass the filename in a parameter so that it can be read and deserialized proper

[2017-10-06 14:58] MaximRouiller commented on #4626
@cecilphillip

[2017-10-06 15:08] grgarcia-ms commented on #330
when is this happening? would be very useful to aml workbench

[2017-10-06 15:48] tjprescott commented on #4626
Few points:
1. the example is written for bash, so that syntax won't work for PS.
2. If you save the JSON output of `get-default-policy` to a file, then you would reference that file by: `--policy @yourfile.json`
3. If that doesn't work, try either bash or CMD, as PS is not currently a supported shell.

[2017-10-06 16:04] tjprescott commented on #3490
Once the knack stuff is done (pray it is soon!) I would like to continue this project.

[2017-10-06 16:12] tjprescott commented on #4606
This is a duplicate of #2789. PR #4609 has been opened by SQL team, which will add the functionality you desire.  Please watch for that in next release or so.

[2017-10-06 16:12] #4606 closed

[2017-10-06 16:18] troydai commented on #4382
Fixed in https://github.com/Azure/azure-cli/pull/4624.

The account key should be automatically fetched when it is missing in this situation.

[2017-10-06 16:18] #4382 closed

[2017-10-06 16:30] troydai commented on #3911
Close as no repo.
[code]

[2017-10-06 16:30] #3911 closed

[2017-10-06 16:31] troydai commented on #3911
@JasonRShaver could it be the cosmos remove the slash?

[2017-10-06 16:54] #3788 closed

[2017-10-06 17:01] tjprescott commented on #4589
In your PS command, you supplied many more parameters.  Try the CLI equivalent:

[code]

Note that when using `set` you must supply all parameters each time (it is not an upsert method). Also, you shouldn't need to explicitly supply `--policy-type` as it will automatically be set based on other supplied parameters.

[2017-10-06 17:07] MaximRouiller commented on #4626
1. I get that. The documentation should be clearer about that.

2. Doesn't work as-is if you use @yourfile.json because @ is a PS special character.

So I tried `@myfile.json and it gives me:

3. Same error in CMD. Only works in Bash. I believe that it's a bug. At a bare minimum, this scenario should be supported under Windows without beta features.

[2017-10-06 17:12] #2543 closed

[2017-10-06 17:12] #4188 closed

[2017-10-06 17:20] tjprescott commented on #4626
I just confirmed this works in CMD:
[code]

Yes, I got that error too when I put a backtick (`) in front of the @ sign. If you get rid of that it should work fine.

[2017-10-06 17:34] tjprescott commented on #4626
After discussion off-line, this was occurring because PS saves the output of `get-default-policy` in a different encoding from that of bash and CMD.  Since PS is not a supported shell, I will close this issue.

[2017-10-06 17:34] #4626 closed

[2017-10-06 17:56] MaximRouiller commented on #4626
Issue:

Doing `az keyvault certificate get-default-policy > defaultpolicy.json` would generate a file UTF-16LE encoded under PowerShell.

Although, azure-cli is supposed to handle it... my bet is that it fails to detect UTF-16LE and uses UTF-16 instead which transforms it to a deserialization error instead of an encoding error.

Workaround for those walking this path in the future:

[code]

This f

[2017-10-06 19:03] tjprescott commented on #4626
Fixed by #4628.

[2017-10-06 22:12] #4354 closed

[2017-10-06 23:00] yugangw-msft commented on #3940
@williexu, can you apply a workaround to extract out the real error. Multiple customers are complaining on this, so we should do something. We can still keep the issue open for service team to follow up

[code]

[2017-10-06 23:48] yugangw-msft commented on #4588
It is broken at the service end.
I am following up with service end folks

[2017-10-06 23:53] derekbekoe commented on #4588
@yugangw-msft I see `https://management.azure.com/subscriptions//xxxxxx-xxxxx-xxxxx-9190-xxxxxxxxx/resourceGroups/groups/providers/Microsoft.Web/sites/somerestore/backups/0/restore?api-version=2016-08-01`. Note the `//`.

Could that be the cause of the issue?

[2017-10-07 00:06] yugangw-msft commented on #4588
@derekbekoe, that is just a bad error. The real cause was a breaking change at back-end.
The fix was submitted: https://github.com/Azure/azure-cli/pull/4604/files#diff-35983163c0f2f417dda0c571d4a4538dR827

[2017-10-07 00:47] #4288 closed

[2017-10-07 01:30] peterj opened #4633 "Kubernetes get-credentails fails if known_hosts is malformatted"
### Description
Not sure how/when my known_hosts file got messed up, but running ```az acs kubernetes get-credentials``` fails (I think paramiko tries to load the known_hosts file and throws an exception -
 this could be caught and CLI could fail nicely):

[code]
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nigh

[2017-10-09 15:55] yugangw-msft commented on #4618
Please reactivate with more details

[2017-10-09 17:40] troydai commented on #4614
@djyou

[2017-10-09 17:43] saimsh opened #4634 "unable to install azure cli 2.0 in centos 6.9"
### Description
**unable to successfully install Azure cli 2.0 in centos6.9 following the steps in the official link :
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest**

I am from azure linux escalation support team and I was able to reproduce one of my customer's issue:
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, int

[2017-10-09 17:50] derekbekoe commented on #4634
Duplicate of https://github.com/Azure/azure-cli/issues/4581.
The RPM package supports RHEL/CentOS 7 as indicated by the `el7`.

CentOS 6 has Python 2.6 and the CLI doesn't support that.

[2017-10-09 17:50] #4634 closed

[2017-10-09 17:51] derekbekoe commented on #4581
@sptramer Can we modify install instructions to highlight the RPM package supports RHEL/CentOS 7 - https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest#install-on-rhel-fedora-and-centos-with-yum?

[2017-10-09 18:01] derekbekoe commented on #4581
cc: @JasonRShaver

[2017-10-09 18:05] #4124 closed

[2017-10-09 18:06] troydai commented on #2760
Fixed recently

[2017-10-09 18:06] #2760 closed

[2017-10-09 18:08] troydai commented on #1566
SDK dependency is updated.

[2017-10-09 18:08] #1566 closed

[2017-10-09 18:11] sptramer commented on #4581
@derekbekoe Rather than a specific Linux distribution, is there an rpm/yum version which the package is explicitly compatible with? This allows us to avoid install-by-distribution and instead focus on install-by-manager.

[2017-10-09 18:21] milope opened #4635 "IOT Hub Device commands fail in Azure Government"
### Description
Commands such as az iot device create --hub-name milopeiot -d testDevice fail when using the AzureUSGovernment environment. It appears to find the hub fine, but when creating the device, it fails as it is trying to connect to milopeiot.azure-devices.net instead of milopeiot.azure-devices.us. I'm not sure if I'm right on the next part, but this appears to be traced to a function nam

[2017-10-09 18:27] troydai opened #4636 "Implement monitor action group commands."
#### Commands:
* create or update an action group
* delete action group
* show detail of an action group
* list action groups under a resource group
* list action groups under a subscription id
* enable a receiver of an action group

[2017-10-09 18:28] troydai commented on #4037
Split action group task to: https://github.com/Azure/azure-cli/issues/4636

[2017-10-09 18:29] derekbekoe commented on #4581
Not really. It works on RHEL/CentOS 7 but not 6.
Not sure what specific `rpm`, `yum` versions but the OS version would be the main indication.

[2017-10-09 18:36] troydai commented on #4614
Pick most important information to be shown in the table by offering your own table transformer. The data to be shown are for human consumption, which means long string like IDs should be avoided while readable names and resource groups should be shown.

[2017-10-09 18:56] JasonRShaver opened #4637 "Setting a bad cloud breaks your ability to set a new cloud"
Setting clouds should not be broken when the cloud is set to an invalid version (no endpoints set)
[code]

[2017-10-09 18:56] sptramer commented on #4581
@truatpasteurdotfr - The instructions have been updated to reflect the fact that the CLI depends on Python 2.7 or later. Since Python 2.7 includes critical security fixes and is the end-of-life release of the 2.x series, I would recommend you update your RHEL distribution or find an external repository with packages compatible with RHEL 6.

After updating your Python, libffi, and OpenSSL to their

[2017-10-09 19:02] djyou commented on #4614
@troydai Thanks, please assign this to me I will get it fixed.

[2017-10-09 20:12] williexu opened #4638 "Allow resource id parameter for locks at resource level"
### Description

Allow resource-level locks to be given a resource id instead of having to specify name, type, group, etc separately.

[2017-10-09 20:14] williexu commented on #4443
Will be released with https://github.com/Azure/msrestazure-for-python/blob/master/msrestazure. I'll continue work then.

[2017-10-09 22:01] yugangw-msft commented on #4615
Closing, figuring you have got things work :)

[2017-10-09 22:01] #4615 closed

[2017-10-09 23:02] yugangw-msft commented on #4333
@Spreadcat, yep, the cloud shell team has mitigated the issue mentioned here last week.
For the original issue, anyone who still ran into it, please post newer error message here.

[2017-10-09 23:13] derekbekoe opened #4642 "Homebrew version out of date"
Due to https://github.com/Azure/azure-batch-cli-extensions/issues/37, the Homebrew formula can't be updated.
Homebrew formula does not accept whls so the sdist is required.

[2017-10-10 00:44] derekbekoe commented on #4581
Thanks @sptramer.
Closing as documentation has been updated.

[2017-10-10 00:44] #4581 closed

[2017-10-10 12:51] jiriminx commented on #4587
I've got the same problem on Windows:
ERROR: [Errno 2] No such file or directory: 'C:\\Users\\myName/.ssh/config'

My version of azure-cli is 2.0.19

Just tried to create the folder and the error little bit changed:
az : ERROR: [Errno 13] Permission denied: 'C:\\Users\\myName/.ssh/config'

Commands are executed under Administrator's privileges.

[2017-10-10 13:23] hybridflux commented on #4587
I got the same error with missing ssh-config on WSL with the latest azure-cli installed, but created the config manually with the Host FQDN of the master node. Now, I have the proxycommand error as in  https://github.com/Azure/azure-cli/issues/4582

[2017-10-10 13:25] 5nowx opened #4643 "Error getting Storage Account from ID value stored in a Variable"
### Description
**Outline the issue here:**
When i try to pass the id variable of the value: "premiumDataDiskStorageAccount" from a devtest Lab, to my storage account show --id it returns:
`az storage account show: error: argument --ids: invalid ResourceId value: '"/subscriptions/XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX/resourceGroups/iXXXXXXXXXXXXXX/providers/Microsoft.Storage/storageAccounts/XXXXXXX

[2017-10-10 16:38] derekbekoe commented on #4643
When running `az lab get` include `--output tsv`.
Then you should be able to pass that id value to the next command.

json output wraps the id in quotations.

[2017-10-10 17:12] 5nowx commented on #4643
Thanks @derekbekoe  , i used sed to take the quotations out and it worked, i'll try it with the output as tsv! thanks!

[2017-10-10 17:25] #4643 closed

[2017-10-10 17:48] yugangw-msft commented on #4544
//cc @Mayurid, per discussion with AZ team, the time line is not determined yet. Moving to backlog.

[2017-10-10 17:49] yugangw-msft commented on #4532
Please reactivate it with more traces for us to continue the investigation

[2017-10-10 17:49] #4532 closed

[2017-10-10 17:55] yugangw-msft commented on #4341
Let me contact CRP folks to see whether we can do something here. W/o stdout/stderr, diagnosis is getting rather inconvenient.
#2394 has the same ask. Note, `run-command` mentioned there will not work with scale-set.

[2017-10-10 18:16] #4642 closed

[2017-10-10 18:21] truatpasteurdotfr commented on #4581
just FYI: https://www.softwarecollections.org/en/scls/rhscl/python27/ there is a "supported" way to install python2.7 on RHEL6 clones :)

[2017-10-10 19:07] truatpasteurdotfr commented on #4581
quick and dirty by removing the debuginfo creation... ymmv http://dl.pasteur.fr/fop/LskIyBWt/python27-azure-cli-2.0.16-1.centos6_scl_rh.tgz
(unsigned rpm, src.rpm provided with spec file and build command/log) if someone care to try... I don't have any azure account.

[2017-10-10 21:10] williexu commented on #4348
Will continue work once https://github.com/Azure/azure-rest-api-specs/issues/1841 is resolved

[2017-10-10 22:02] vcx commented on #4582
+1 on the same issue, same stack trace.

Installed via MSI, azure-cli (2.0.19), Windows 10 current build + Docker stable, running on CMD. Actually, I just installed azure-cli v2 from latest bits on MS website.

Disclaimer: I'm MS FTE, if you need a repro

[2017-10-10 22:11] troydai commented on #4582
@rjtsdl

[2017-10-10 22:17] rjtsdl commented on #4582
I am looking this. I may contact @vcx, but let me take a look first. :)

[2017-10-10 22:18] rjtsdl commented on #4587
looking

[2017-10-10 22:20] Strandedpirate commented on #4582
This has all our deployments completely blocked.

How do I install that a specific version of the Azure CLI? We are using this from the Azure documentation:

echo "deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ wheezy main" | tee /etc/apt/sources.list.d/azure-cli.list
    apt-key adv --keyserver packages.microsoft.com --recv-keys 417A0893
    apt-get -qq update && apt-get -qq ins

[2017-10-10 22:42] derekbekoe commented on #4582
You can down from https://packages.microsoft.com/repos/azure-cli/pool/main/a/azure-cli/ and then install manually. Would recommend removing the current version first.

e.g.
[code]

[2017-10-10 22:47] rjtsdl commented on #4582
@derekbekoe, I made the fix. Let's see how we can get the fix out sooner.

[2017-10-10 22:50] rjtsdl commented on #4633
the ask here is, how to get exceptions nicely.
@troydai, do we have any tactic in general in handling exception?

[2017-10-10 22:53] rjtsdl commented on #3947
@grawcho can you close this. I think you change is merged.

[2017-10-10 23:14] rjtsdl commented on #4587
@4646 should resolve the issue, and along with proxycommand error.

[2017-10-11 05:33] johanburati opened #4649 "telemetry_upload.py spawned thousand of processes"
### Description
telemetry_upload.py spawned thousand of processes (around 2800)
---

### Environment summary

RHEL 7.3

`ediuser  65372  0.0  0.0 218256 14396 pts/3    S    11:50   0:01 /usr/lib64/az/bin/python /usr/lib64/az/lib/python2.7/site-packages/azure/cli/core/telemetry_upload.pyc [{"name": "azurecli/commands/storage-blob-upload", "properties": {"Reserved.DataModel.ProductName": "azurecli",

[2017-10-11 05:53] troydai commented on #4649
Thanks for reporting this @johanburati .

The `telemetry_upload.py` is spawned after the command is executed to send telemetry data in the background. It occurs to me that the process fails to finish sending requests in a timely fashion cause processes accumulate.

I assume there is an automation process/script, running a large number of CLI commands (blob uploading?) therefore accumulate this man

[2017-10-11 06:04] johanburati commented on #4649
hi @troydai, this issue occurred on a customer VM, look like the processes were stuck, the customer disabled telemetry and the processes went away. Maybe could had a check for the number of process (there were around 2800 of them) or add a timeout value because those process used up the memory and kick in the oom-killer.

[2017-10-11 06:22] grawcho commented on #3947
thanks for accepting my changes, this closes the issue.

[2017-10-11 06:22] #3947 closed

[2017-10-11 07:47] hybridflux commented on #4587
Worked, thanks!

[2017-10-11 08:13] forester123 commented on #4475
Any updates?

[2017-10-11 13:43] tomdos opened #4650 "Unable to rewrite default deployment name from a template"
### Description

Hi,
we are unable to rewrite the default deployment name in a template by using `az group deployment create --name NewName ...`

We are using this template: https://github.com/alertlogic/azure-collector/blob/master/template.json

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
brew

**CLI

[2017-10-11 15:21] yugangw-msft commented on #2394
Fix was committed for https://github.com/Azure/custom-script-extension-linux/issues/107

[2017-10-11 15:21] yugangw-msft commented on #4341
Fix was committed for https://github.com/Azure/custom-script-extension-linux/issues/107

[2017-10-11 16:24] chrmarti commented on #4573
@derekbekoe Anything else I should try? Is the homebrew package installing 3.6 packages when using the installed python 3.5 at fault?

[2017-10-11 18:01] yugangw-msft commented on #4115
Hi folks,
1. For vm,  since this is not a very common scenario, I suggest do like @szarkos mentioned by creating such  a NIC and attach it to the VM on creation, e.g.
[code]
We have e2e tests running every day to guarantee we will support it for long run so you can count on this flow
2. For VMSS, it is impossible to scaffolding every single instance, so we have to update the create command. I will

[2017-10-11 22:53] troydai opened #4651 "Add telemetry information regarding current extension"
* [ ] Add extension unique name in user agent header
* [ ] Add extension values in client side telemetry

cc @derekbekoe

[2017-10-11 22:56] #4614 closed

[2017-10-11 23:51] k-popov opened #4653 "KeyError exception when deleting resource"
### Description

When deleting resource via CLI like:
`az resource delete --debug --resource-group <some-group> --name <some-vm-name> --resource-type Microsoft.Compute/virtualMachines`
the following output is seen (stripped):
[code]
---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
apt-get

**CLI Version:**

[2017-10-12 02:36] #4567 closed

[2017-10-12 04:23] Sneezry opened #4654 "Error in list device for iothub"
### Description
**Outline the issue here:**

When running az iot device list --hub-name <hub name>, error occurs. `'ServiceConnect, DeviceConnect, RegistryWrite' is not valid value for enum <enum 'AccessRights'>`

---

### Environment summary

**Install Method:** How did you install the CLI? (e.g. pip, interactive script, apt-get, Docker, MSI, nightly)
Answer here:

MSI

**CLI Version:** What vers

[2017-10-12 10:55] n01d commented on #4654
I get a similar error when creating new devices with

`az iot device create`

Both on my local machine with azure-cli (2.0.15) and on the cloud shell with azure-cli (2.0.18). I guess the problem is on the API Rest API side.

[2017-10-12 11:16] VeitSanner opened #4655 "The 'component' commands will be deprecated in the future."
Currently, azure-cli displays a warning when `az component` is used. But there is no hint with what it is going to be replaced.

https://github.com/Azure/azure-cli/blob/d3737bbdf9a2bbf54a0a32cf04bd677c944cca0d/src/command_modules/azure-cli-component/azure/cli/command_modules/component/custom.py#L19-L20

If there are more details available it would be very helpful to provide the details here as wel

[2017-10-12 11:54] tslavik commented on #4582
What about release this fix? Any news?

[2017-10-12 14:44] smoser opened #4656 "required options should be arguments"
### Description
The syntax on many commands require a group but make it an option rather than an argument.

    $ az group delete -h | tail -n 5
    Examples
        Delete a resource group.
            az group delete -n MyResourceGroup

Why isn't that?

    $ az group delete MyResourceGroup

---

### Environment summary

**Install Method:** How did you install the CLI? snap

**CLI Version:** Wha

[2017-10-12 16:08] troydai commented on #4582
The PR was merged two days ago. Next release is on 10/20. To try out the change early, you can use our [edge feed](https://github.com/azure/azure-cli#edge-builds).

@rjtsdl can we close this issue?

[2017-10-12 16:09] rjtsdl commented on #4582
I cannot close :)

[2017-10-12 16:10] #4582 closed

[2017-10-12 16:13] troydai commented on #4656
As of now, we do not support the positional argument. The positional argument can cause confusion with multiple levels of subcommand.

Thank you for the feedback.

[2017-10-12 16:13] #4656 closed

[2017-10-12 16:14] troydai commented on #4655
It is replaced by extensions system: https://github.com/Azure/azure-cli/tree/master/doc/extensions.

[2017-10-12 16:14] #4655 closed

[2017-10-12 17:34] yugangw-msft commented on #4588
@kishorebasisth, the fix was merged through #4604 and will be released at around Oct 23 . You can try our nightly or docker image before the release

[2017-10-12 17:34] #4588 closed

[2017-10-12 17:35] yugangw-msft commented on #4588
//cc @nking92 @LukaszStem

[2017-10-12 17:48] ArthurMa1978 commented on #4654
We got similar error report from another user, any update of this issue?

[2017-10-12 18:03] derekbekoe commented on #4655
@VeitSanner Was there a particular component you were looking to install?

[2017-10-12 18:28] k-popov commented on #4653
Version 2.0.18 installed from the same repository does not have this issue. Looks like regression.

[2017-10-12 18:48] yugangw-msft commented on #4653
@williexu , could you please take a look and prioritize the fix?

[2017-10-12 18:51] troydai commented on #4654
@chieftn, @xscript, @digimaun mind take a look?

[2017-10-12 19:05] williexu commented on #4653
Sorry about that, should be fixed with https://github.com/Azure/azure-cli/pull/4661

[2017-10-12 19:06] digimaun commented on #4654
Investigating. Confirmed I can repro on my side.

[2017-10-12 19:30] cedwards-reisys commented on #1582
Documentation still lacking.

[2017-10-12 19:35] WilliamBerryiii commented on #4654
Can confirm this is impacting CLI version 2.0.12 as well.

[2017-10-12 19:45] digimaun commented on #4654
@WilliamBerryiii CLI 2.0.12 was packaged with az-cli-iot 0.1.10, which has the same dependency of the latest CLI's az-cli-iot 0.1.12 which is 'azure-mgmt-iothub==0.2.2'...likely a wide spread issue.

[2017-10-12 20:02] #4653 closed

[2017-10-12 20:12] digimaun commented on #4654
Here is the problem, at least with version "2016-02-03" of the API (which is what azure-mgmt-iothub 0.2.2 uses), it is returning the "rights" property value in a different order than [specified](https://docs.microsoft.com/en-us/python/api/azure.mgmt.iothub.models.accessrights?view=azure-python). It is being returned as "ServiceConnect, DeviceConnect, RegistryWrite"  **instead of** "RegistryWrite,

[2017-10-12 20:41] yugangw-msft opened #4662 "Availability Zone: add support to get available zones list"
Waiting for Service API

- [ ] Ensure `azure-mgmt-resource` gets refreshed with the API to list zones. The information is per resource type, inside `az provider show -n  Microsoft.Compute`
- [x] (To discuss) expose appropriate custom commands for better experience, like `az vm list-zones `
- [ ] Revisit the choices list `['1', '2', '3']  used by  global arguments of `--zone`, `zones`

[2017-10-12 20:49] rjtsdl commented on #4587
@troydai , we should be able to close this as well.

[2017-10-12 21:07] digimaun commented on #4654
As a potential workaround, I tried using version 0.4.0 of the azure-mgmt-iothub SDK, which uses newer API "2017-07-01" and is reportedly backwards compatible. Unfortunately same error.

[2017-10-12 21:16] #4587 closed

[2017-10-12 21:17] #4517 closed

[2017-10-12 21:18] JasonRShaver opened #4663 "`az cloud set -n` should not be case sensitive"
### Description
While *bash* is case sensitive, and the concept makes sense to those users, I don't see a business or customer value in make this a policy.  As a result, having cloud names be case sensitive only serves to add another error condition.

[code]

[2017-10-12 21:27] yugangw-msft commented on #2835
Verified it has been fixed

[2017-10-12 21:27] #2835 closed

[2017-10-12 21:29] peterj commented on #4633
I think the fix here would be as simple just catching the specific exception e.g.:
[code]

[2017-10-12 21:43] justinmchase opened #4664 "Does the CLI have a sync functionapp triggers command?"
The powershell cli has this:
https://github.com/davidebbo/AzureWebsitesSamples/blob/aba32e3a8fe60bc50044b1a5f316ff22661359f8/PowerShell/HelperFunctions.ps1#L362-L367

Which I'm wondering if its the same as this api call or not:
https://docs.microsoft.com/en-us/cli/azure/functionapp/deployment/source?view=azure-cli-latest#az_functionapp_deployment_source_sync

I'm working around an issue where a de

[2017-10-12 22:03] WilliamBerryiii commented on #4654
It seems like the (de)serialization should not be this brittle.  While many language specifications say that enum.value() calls will return an array in declared order ... it seems overly brittle to push this stance from either the server or client side of an API.

[2017-10-12 22:03] christianhxc commented on #4582
thanks @rjtsdl when applying your changes locally it worked :)

[2017-10-12 22:14] yugangw-msft commented on #4115
Closing this and will re-open if there are sizable voices that we need to have strong support from `vm create`

[2017-10-12 22:14] #4115 closed

[2017-10-12 22:15] yugangw-msft commented on #4026
PR #4660 handles it

[2017-10-12 22:15] #4026 closed

[2017-10-12 22:31] #4487 closed

[2017-10-12 22:34] viananth opened #4665 "2017-03-09-profile tests: Location should be parameterized"
### Description
2017-03-09-profile tests are currently hard-coded with location as "local". This should be parameterized so the tests can be run on both Azure & AzureStack environments.

---

[2017-10-12 23:47] rjtsdl commented on #2612
@jseely can you confirm the issue is resolved or not?

[2017-10-12 23:49] marcelloromani commented on #2581
For future reference, the linked python bug contains a command which fixed the issue for me (on Mac OS X 10.12.6):
/Applications/Python\ 3.6/Install\ Certificates.command

[2017-10-13 00:11] derekbekoe opened #4667 "Add config option to prevent colors in log messages"
For accessibility and also, some users don't like the colors.

[2017-10-13 00:23] derekbekoe commented on #4654
cc: @lmazuel

[2017-10-13 04:40] ams0 commented on #3742
Please provide a way to use CLI to create Native and WebAPI application, as we need those for Kubernetes RBAC support: https://github.com/Azure/acs-engine/blob/master/docs/kubernetes/aad.md . Now the process involves using the portal, we would like to have the process automated via CLI.

[2017-10-13 16:34] yugangw-msft commented on #4470
we have exposed it through `az webapp update`

[2017-10-13 16:34] #4470 closed

[2017-10-13 16:46] noelbundick opened #4669 "Cannot export resource group in azure-cli 2.0.19"
### Description
When running 'az group export -n "foo"', I get the following error message regardless of the resource group specified

[code]

The error message is being thrown from: https://github.com/Azure/msrest-for-python/blame/master/msrest/serialization.py#L627

And was introduced very recently in https://github.com/Azure/msrest-for-python/pull/54 for corresponding issue https://github.com/A

[2017-10-13 16:52] yugangw-msft commented on #4664
They are different

But if this works, then you can use `az resource invoke-action` which is the counterpart of the POSH `SyncFunctionAppTriggers` command in CLI

I am going to keep this issue open for adding strong typed commands

[2017-10-13 17:04] yugangw-msft commented on #4120
I suggest let the user ssh into the vm and check out `/var/log/waagent.log`, and we can start from there based on the content
AFAIK, no such API exists for force-stop. The next candidate would be `az vm delete` which i guess a bit harsh

[2017-10-13 17:14] derekbekoe commented on #4573
Yes it does.
It attempts to run `python3.6` and if that doesn't exist on PATH, falls back to `python3`.

[2017-10-13 17:18] eduardobaitello commented on #2974
This feature will be nice! There is any new about this? Thanks!

[2017-10-13 17:23] lmazuel commented on #4654
@WilliamBerryiii the problem here is that the service returns a **string** `ServiceConnect, DeviceConnect, RegistryWrite` and not an array... And this one is not defined as a valid string in the RestAPI specification I use to generate the SDK:
https://github.com/Azure/azure-rest-api-specs/blob/9bc154a142ae39c3b900ba91043aabed1ef8e2f3/specification/iothub/resource-manager/Microsoft.Devices/2017-07-

[2017-10-13 17:26] tjprescott commented on #4669
cc/ @lmazuel  as this may be related to the MSrest change.

However, for what it's worth, I am able to repro this. I can export resource groups without issue.

[2017-10-13 17:33] lmazuel commented on #4654
I think I can patch the SDK to bypass the deserialization of this particular attribute, split it using comma, and return an array of enum. I think this will be the best fix, since it's semantically what the service wants (i.e. [`ServiceConnect`, `DeviceConnect`, `RegistryWrite`] and not `ServiceConnect, DeviceConnect, RegistryWrite`)

[2017-10-13 21:13] chrmarti commented on #4573
That is causing the problem then? I'm trying to understand what I can do.

[2017-10-13 22:20] shankarsama commented on #4654
Hi All, Thank you for reporting the issue. We identified an issue in our backend service. We are actively working on a fix. ETA: end of the day. Sorry for the inconvenience it caused.

[2017-10-13 23:12] ArthurMa1978 commented on #4654
good to know this will be fixed on the service side not the sdk side

[2017-10-14 01:16] ScottWolter commented on #4654
This comment for anyone trying to get started with MXCHIP AZ3166 IOT DevKit

Last evening, I found this thread while searching for "'ServiceConnect, DeviceConnect, RegistryWrite' is not valid value for enum <enum 'AccessRights'>". I encountered this issue while attempting "Step 2. Provision Azure services" of the tutorial, https://microsoft.github.io/azure-iot-developer-kit/docs/projects/connect-i

[2017-10-14 01:46] digimaun commented on #4654
Thanks for your comment @ScottWolter . You should be unblocked after the back-end service gets fixed. There is an [ETA](https://github.com/Azure/azure-cli/issues/4654#issuecomment-336581060) listed above.

[2017-10-14 03:22] justinmchase commented on #4664
I'm not sure I understand, I am not seeing an `invoke-action` sub command:

[code]

[2017-10-14 06:39] shankarsama commented on #4654
Update: We rollout a fix. This issue is fixed now.

[2017-10-14 14:36] murphye commented on #2402
This should be properly documented. I am a new Azure user and I was a bit flummoxed by this one due to the lack of docs. The initial error message told to file a Customer Support ticket to get my quota level raised; I was shocked.

I am on the Free Trial which maybe is giving me a limited quota. I finally ended up doing to get the k8s cluster to deploy:

az acs create --orchestrator-type kubernete

[2017-10-14 15:18] yugangw-msft commented on #4664
it is ` az resource invoke-action `, not `az resource invoke`
[code]

[2017-10-14 15:52] justinmchase commented on #4664
I'm sorry somehow that code snippet I pasted was clipped :(

But, great thanks, I see there is a way and there must just be some kind of versioning issue on my machine even though I believe I have the latest version.

I am running Bash on Windows:
[code]

[2017-10-14 19:44] troydai commented on #4654
Thank you all.

[2017-10-14 19:44] #4654 closed

[2017-10-15 00:25] derekbekoe opened #4676 "Missing help for 'az network dns record-set a -h'"
### Description
<img width="560" alt="screen shot 2017-10-14 at 5 24 37 pm" src="https://user-images.githubusercontent.com/16448634/31580440-b3e1a12a-b104-11e7-938d-a31907a66c88.png">

---

### Environment summary
brew / 2.0.19 / macOS / bash

[2017-10-15 01:29] derekbekoe opened #4677 "Delete record set by name without ip address"
### Description
` az network dns record-set a remove-record -h`

Looks like IP address should be marked as optional to delete the whole record set?

In particular, since there is not `az network dns record-set delete` command.

With the SDK, I can delete with only a record set name.

[code]

---

### Environment summary
brew / 2.0.19 / macOS / bash

[2017-10-15 04:41] lenadroid commented on #4587
I am having this issue currently when creating ACS cluster from cloud shell, azure-cli (2.0.19):

[code]

Any ideas?

[2017-10-15 15:55] naustin commented on #4582
A workaround.  Use 'az acs list' to get the 'masterProfile' 'fqdn' value and insert below for 'master-fqdn'.  The following two commands should perform the action to copy down the config file from the cluster master node which 'az acs kubernetes get-credentials' is failing to perform.   I tested this locally and it's working for me.

`mkdir $HOME/.kube `
`scp azureuser@<master-fqdn>:.kube/config $

[2017-10-15 22:24] sanjshah2001 commented on #4582
This worked for me also...thanks a lot...you don't have to get the credential using get command in this case...

[2017-10-16 05:51] troydai commented on #4587
@lenadroid could you try append `--debug` to the command for more information?.

[2017-10-16 10:26] qx-will commented on #4587
have the same error when running the command within the cloud shell. below is the output with the --debug flag on
qixiao@Azure:/$ az acs kubernetes get-credentials --resource-group=myResourceGroup2 --name=myK8sCluster --debug

Command arguments ['acs', 'kubernetes', 'get-credentials', '--resource-group=myResourceGroup2', '--name=myK8sCluster']
Current cloud config:

[2017-10-16 11:36] xanthalas opened #4678 "az acr login crashes: "cannot import name SubprocessError""
### Description
Successfully created a resource group using az group create ...
Successfully create a container registry in the new group using az acr create ...

When I try to login to the new registry using     az acr login --name myRegistryName

I get the following crash:

cannot import name SubprocessError
Traceback (most recent call last):
  File "/usr/lib64/az/lib/python2.7/site-packages/azu

[2017-10-16 11:43] homotopycolimit commented on #3720
same error with PureOS

[2017-10-16 11:51] homotopycolimit commented on #3720
same error on PureOS
using `deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ wheezy main`

[2017-10-16 13:26] AlexeyAtIgloo opened #4679 "az acs kubernetes get-credentials fails in azure-cli-acs 2.0.17"
### Description
**Outline the issue here:**
Unable to obtain kubectl config in latest version of CLI

Works in older version: pip install azure-cli-acs==2.0.16

Trace:
[code]
interestingly in ssh library this key gets removed:
[https://github.com/paramiko/paramiko/blob/6978c7a0b8faa683b119de3a0c096be31ac4fdc9/paramiko/config.py#L137](https://github.com/paramiko/paramiko/blob/6978c7a0b8faa683b119de

[2017-10-16 15:47] IainColledge commented on #4587
Assuming one has installed with pip i.e.

`pip install azure-cli`

You can workaround by installing the last good release of the acs libraries afterwards:

`pip install azure-cli-acs==2.0.16`