[2019-11-27 06:57] haroldrandom commented on #11401
Thansk for the feedback!
We need to take a look that code and reach back to you soon.

[2019-11-27 07:21] fengzhou-msft commented on #11372
Please indicate which version of azure-cli you are using.

[2019-11-27 07:39] algattik commented on #11379
It would be useful to have clear instructions on how to pre-provision extensions, for example when spinning Azure DevOps build agents.

[2019-11-27 10:24] haroldrandom commented on #11405
Thanks for the suggestions! We will look into it.

[2019-11-27 11:17] pajzo opened #11412 "az webapp create is removing existing application settings"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When `az webapp create` is called every time a new pipeline is running, all existing appsettings is removed and it's force the site to break down if ex. WEBSITE_RUN_FROM_PACKAGE=1

**Command Name**
`az webapp create`

**Errors:**
See above description.

## To Reproduce:
Steps to reproduce the behavior. Note tha

[2019-11-27 12:36] yonzhan commented on #10841
@jiasli  add to S163.

[2019-11-27 12:38] yonzhan commented on #10901
@jiasli  add to S163.

[2019-11-27 13:06] yonzhan commented on #10737
@Juliehzl  add to S163.

[2019-11-27 13:06] yonzhan commented on #10724
@jiasli  add to S163.

[2019-11-27 13:43] jurgyy commented on #10496
@MyronFanQiu has accepted my PR and has since been moved to the release branch, right? So this issue could be marked as solved.

[2019-11-27 13:47] BenjaminHerbert opened #11413 "Clarify purpose of --base-image-trigger-name parameter"
What is the purpose of the `--base-image-trigger-name` parameter for the `az acr task create` command.

The default value is "defaultBaseimageTriggerName" - how do I use this parameter and what impact and effect does it have to my task and/or registry?

Can I reference existing base image triggers?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ Git

[2019-11-27 13:49] jurgyy commented on #10562
If anyone encounters this issue before it is fixed I've found that writing the json to a temporary file and reference that works fine:

[code]

[2019-11-27 14:11] mhennecke opened #11414 "Blob Update with Storage Blob Data Contributor"
## Describe the bug

**Command Name**
`az storage blob update`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob update --debug --verbose --account-name {} --container-name {} --auth-mode {} --name {} --content-cache-control {} --auth-mo

[2019-11-27 14:25] mhennecke opened #11415 "Blob Update with 'Storage Blob Data Contributor' permissions on storage account fails"
## Describe the bug
Updating properties of a blob via a service principal which has 'Storage Blob Data Contributor' on storage account level fails with:
`az storage blob update: error: Storage account '{}' not found.`

After adding 'Reader' permissions on storage account level for the service principal, the command fails with:
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that arg

[2019-11-27 14:54] makahan commented on #11100
I think I have and its kind of funny :)

Currently on my azureaccount I have 3 (client) appservices with "static html & map" which I have been updating using Azure Cli and they call my 1 DotNetCore (server) appservice which I have been updating from my GithHub-branch ... :)

My question is:

Is the best way for me to replace my "static html & map" 3 appservices with 3 "azurestorageblob"s or find a

[2019-11-27 15:43] motaba1 opened #11416 "--private-ip-address "" is not working to set DHCP"
commend:
az network nic ip-config update --name $ipconfigname --nic-name $MyNic --resource-group $MyResourceGroup --private-ip-address ""
gives me this error message (and I am unable to change static IP address to DHCP address):
az network nic ip-config update: error: argument --private-ip-address: expected one argument

---
#### Document Details

⚠ *Do not edit this section. It is required for do

[2019-11-27 16:03] aclark-ax opened #11417 "Can't upload django app to webapp"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --sku {} -n {} -l {} --resource-group {}`

## Expected Behavio

[2019-11-27 16:19] panchagnula commented on #11100
az webapp up internally calls az webapp create to create the app & az webapp deployment source config-zip to deploy the contents to the app. Up creates a zip before doing the deployment when calling the command separately you need to provide the path to the zip file yourself, using the config-zip [https://docs.microsoft.com/en-us/cli/azure/webapp/deployment/source?view=azure-cli-latest#az-webapp-d

[2019-11-27 17:19] captainbrown opened #11418 "Unable to install latest azure-cli-2.0.77-1.el7.x86_64 on RedHat 7"
azure-cli-2.0.77-1.el7.x86_64

**Describe the bug**
The python3 package is not available on RedHat 7, but the latest release of azure-cli-2.0.77-1.el7 requires that to be installed.  This is not available in RedHat 7 repos

**To Reproduce**
$ sudo yum install azure-cli
Loaded plugins: langpacks, product-id, search-disabled-repos, subscription-
              : manager
This system is not registered

[2019-11-27 17:35] DOliana commented on #10250
even if it's not possible to provide detailed update instructions as discussed in the [documentation-issue](https://github.com/MicrosoftDocs/azure-docs-cli/issues/1341) at least for extensions it should say to use `az extension update <EXTENSIONNAME>`

[2019-11-27 17:40] hapandar commented on #10949
@qwordy When will the change for 2nd request be made Feiyue Yu? Do I have to open another request? Why wasn't the change made?

[2019-11-27 17:43] captainbrown commented on #11418
This was forewarned in https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-yum?view=azure-cli-latest

Closing

[2019-11-27 19:07] jfggdl commented on #11389
@damiandiaz76, thank you for your inquiry. This helps us understand any gaps in our documentation or samples. We are looking for a public document that provides an example of a correlation filter rule.

[2019-11-27 19:12] jfggdl commented on #11389
By the way, please provide the filter that you are using? It sounds like you are using a SQL filter expression.

[2019-11-27 19:20] damiandiaz76 commented on #11389
I'm trying to not use an sql filter.  I want to create a correlation filter.  I want this correlation filter to use the "to" field.  I tried specifying the "--to" option: "--to requests" but received the sqlExpression error.

[2019-11-27 19:57] shpa-microsoft commented on #11327
Adding @Jun Wang (AZURE)<mailto:jwa@microsoft.com> to help with Trail license.

From: Feiyue Yu <notifications@github.com>
Sent: Monday, November 25, 2019 6:52 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Shalaka Patel <Shalaka.Patel@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli] VM Scale set issue (#11327)

@shpa-microsoft<https://nam06.safelinks.

[2019-11-27 20:42] markdebruijne opened #11419 "az storage blob copy start-batch returns an error after waiting for some time"
## az storage blob copy start-batch returns an error after waiting for some time
I wanted to copy an amount of blobs across storage accounts. So to find the right commandarguments values, I added the `--dryrun` switch and a `--pattern` argument to validate it will work.
Unfortunately after some time (>30s - 180s or something) I received the errors below. Maybe a timeout or something?

**Command Na

[2019-11-27 22:25] wangjun-jwa commented on #11327
Free trail allows for 4 vCPU per region.

[2019-11-27 23:24] panchagnula commented on #11417
Please use the latest version 2.0.77  this was a regression in 2.0.76. Please feel free to re-open if latest version doesn't resolve the issue. Thank you.

[2019-11-27 23:24] #11417 closed

[2019-11-27 23:26] aclark-ax commented on #11417
When you say latest version of 2.0.77, latest version of what?

From: Sisira Panchagnula <notifications@github.com>
Reply-To: Azure/azure-cli <reply@reply.github.com>
Date: Wednesday, November 27, 2019 at 6:24 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Adam Clark <adam.clark@axconsulting.co>, Author <author@noreply.github.com>
Subject: Re: [Azure/azure-cli] Can't upload django app t

[2019-11-27 23:26] panchagnula commented on #11374
Please use the latest version 2.0.77 that released. Feel free to open if not resolved by latest version of CLI.

[2019-11-27 23:26] #11374 closed

[2019-11-27 23:30] panchagnula commented on #11417
@aclark-ax latest version of CLI https://pypi.org/project/azure-cli/

[2019-11-27 23:34] panchagnula commented on #11370
2 things.

1. Please update to the latest version of CLI https://pypi.org/project/azure-cli/ version 2.0.77 and re-try. there was a known regression with version 2.0.76
2. Also when using az webapp up command make sure you run it from context of the local directory where the code to be deployed exists.

Please feel free to re-open if your issue is still not resolved by the instructions above. Than

[2019-11-27 23:34] #11370 closed

[2019-11-27 23:34] panchagnula commented on #11367
Please update to the latest version of CLI https://pypi.org/project/azure-cli/ version 2.0.77 and re-try. there was a known regression with version 2.0.76

[2019-11-27 23:34] #11367 closed

[2019-11-27 23:35] panchagnula commented on #11368
Please update to the latest version of CLI https://pypi.org/project/azure-cli/ version 2.0.77 and re-try. there was a known regression with version 2.0.76

[2019-11-27 23:35] #11368 closed

[2019-11-27 23:36] panchagnula commented on #11359
Please re-try on cloudShell the latest fix has been deployed.
if installing CLI, please update to the latest version of CLI https://pypi.org/project/azure-cli/ version 2.0.77 and re-try. there was a known regression with version 2.0.76

[2019-11-27 23:36] #11359 closed

[2019-11-27 23:37] panchagnula commented on #11326
Please update to the latest version of CLI https://pypi.org/project/azure-cli/ version 2.0.77 and re-try. there was a known regression with version 2.0.76

[2019-11-27 23:37] #11326 closed

[2019-11-27 23:38] panchagnula commented on #11313
Please update to the latest version of CLI https://pypi.org/project/azure-cli/ version 2.0.77 and re-try. there was a known regression with version 2.0.76

[2019-11-27 23:38] #11313 closed

[2019-11-27 23:38] panchagnula commented on #11311
Please update to the latest version of CLI https://pypi.org/project/azure-cli/ version 2.0.77 and re-try. there was a known regression with version 2.0.76

[2019-11-27 23:38] #11311 closed

[2019-11-27 23:42] panchagnula commented on #11279
Thanks for reporting this,  for a current work around please run the up command with --sku parameter  as az webapp up -n my-app -g my-group -p my-plan --sku B1

This is because the up command uses some defaults & SKU might be using the defaults, i will take a look but could you also try to upgrade to 2.077 [https://pypi.org/project/azure-cli/](url) if possible if you still see this?

[2019-11-27 23:44] panchagnula commented on #11261
Could you please re-try let us know if you see the same issue with the latest version of CLI

Also, if this still fails can you run the az webapp log tail command that is suggested in the error message & share the details?

[2019-11-27 23:45] panchagnula commented on #11246
The fix is now available please pdate to the latest version of CLI https://pypi.org/project/azure-cli/ version 2.0.77

[2019-11-27 23:45] #11246 closed

[2019-11-27 23:45] panchagnula commented on #11249
@btardif can you help answering this query? Thank you.

[2019-11-27 23:46] panchagnula commented on #11247
Please update to the latest version of CLI https://pypi.org/project/azure-cli/ version 2.0.77 and re-try. there was a known regression with version 2.0.76

[2019-11-27 23:46] #11247 closed

[2019-11-27 23:46] panchagnula commented on #11259
Please update to the latest version of CLI https://pypi.org/project/azure-cli/ version 2.0.77 and re-try. there was a known regression with version 2.0.76

[2019-11-27 23:46] #11259 closed

[2019-11-27 23:47] panchagnula commented on #11260
Please update to the latest version of CLI https://pypi.org/project/azure-cli/ version 2.0.77 and re-try. there was a known regression with version 2.0.76

[2019-11-27 23:47] #11260 closed

[2019-11-27 23:48] panchagnula commented on #11237
Please update to the latest version of CLI https://pypi.org/project/azure-cli/ version 2.0.77 and re-try. there was a known regression with version 2.0.76

[2019-11-27 23:48] #11237 closed

[2019-11-27 23:50] btardif commented on #11249
@azlatarov-cocacola is the app service plan you are trying to create a Dynamic app service plan to host Consumption based functions?

[2019-11-27 23:51] panchagnula commented on #11201
Please update to the latest version of CLI https://pypi.org/project/azure-cli/ version 2.0.77 and re-try. there was a known regression with version 2.0.76

[2019-11-27 23:51] #11201 closed

[2019-11-27 23:53] panchagnula commented on #11189
The RG might not exist but if the command was run from this directory before we save some local context data on the .azure DIR & the command uses these values for creating the resources. Also can you confirm the version of CLI you are using?

[2019-11-28 00:00] panchagnula commented on #9804
@yutanglin16 lets discuss this some time next week. Thanks!

[2019-11-28 00:01] panchagnula commented on #5004
@yutanglin16 we need come up with plan/ design for supporting this.

[2019-11-28 00:03] panchagnula commented on #1337
@btardif  do you know if this now available?

[2019-11-28 01:32] qwordy commented on #10949
@hapandar , the command in the 2nd request is already supported before this issue was opened. --set is a general parameter in `update` command.

[2019-11-28 01:45] haroldrandom commented on #11419
@Juliehzl Please take a look here

[2019-11-28 01:46] haroldrandom commented on #11416
@MyronFanQiu Please take a look

[2019-11-28 01:47] haroldrandom commented on #11415
@Juliehzl Please help here

[2019-11-28 01:47] haroldrandom commented on #11414
Thanks for the feedback, please @Juliehzl take a look.

[2019-11-28 01:48] MyronFanQiu commented on #10496
@jurgyy Yes. It's has been released. Feel free to re-open this one if you still meet problems.

[2019-11-28 01:49] haroldrandom commented on #11413
Please service team of Container Register take a look

[2019-11-28 03:42] rosingla opened #11420 "Update CLI specifications for Resources to be created/updated as part of Microsoft.Compute/ProximityPlacementGroup"
**Resource Provider**
Microsoft.Compute

**Description of Feature or Work Requested**
This issue propose changes in cmdlet w.r.t. Proximity Placement Group to support following features.

- To update the Proximity Placement Group reference of a resource (VM/AvSet/VMSS)
- To show colocation status of a Proximity Placement Group.

More details alongwith the proposed changes in the corresponding powe

[2019-11-28 05:41] AkihiroSuda commented on #11096
any update?

[2019-11-28 06:21] aasif2310 commented on #11327
Hello Team,

Thank you very much for the response and help here.

Regards,
Aasif Faheem Ansari
Principal Consultant - AST Pvt Ltd.
*India : +91-98 60 442310*
Blog: http://siebel-ansari.blogspot.com <http://ansarifa.blogspot.com/>

On Thu, 28 Nov 2019 at 03:55, wangjun-jwa <notifications@github.com> wrote:

[2019-11-28 06:23] jsntcy commented on #11089
@jamesallen74, @kairaazure, @baddevotions, @mcurko, @LeoPAllen, Could you try the Azure CLI latest version (2.0.77) to see if this issue is fixed?

[2019-11-28 06:35] jsntcy commented on #10802
duplicate with #10713

[2019-11-28 06:36] jsntcy commented on #10802
Close this one as it is duplicated with #10713

[2019-11-28 06:36] #10802 closed

[2019-11-28 06:37] jsntcy commented on #10713
Close this one as it is duplicated with #10713

[2019-11-28 07:27] zffocussss commented on #11105
I use az storage share create to create a share,it throws exceptions.
he command failed with an unexpected error. Here is the traceback:

The specified resource does not exist. ErrorCode: ResourceNotFound
<?xml version="1.0" encoding="utf-8"?><Error><Code>ResourceNotFound</Code><Message>The specified resource does not exist.
RequestId:a0e04024-d01a-0011-47bc-a51aaf000000

[2019-11-28 07:51] motaba1 commented on #11416
this is my AZ version:
az --version
azure-cli                         2.0.77

command-modules-nspkg              2.0.3
core                              2.0.77
nspkg                              3.0.4
telemetry                          1.0.4

[2019-11-28 07:53] zffocussss commented on #11105
 ↵ 1  az --version
azure-cli                         2.0.71 *

command-modules-nspkg               2.0.3
core                              2.0.71 *
nspkg                              3.0.4
telemetry                          1.0.3 *

Python location '/usr/local/Cellar/azure-cli/2.0.71/libexec/bin/python'
Extensions directory '/Users/focus/.azure/cliextensions'

Python (Darwin) 3.7.5 (default, Nov

[2019-11-28 08:04] zffocussss opened #11422 "az storage share create fail"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage share create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage share create -n {} --account-name {} --account-key {}

[2019-11-28 08:20] Juliehzl commented on #11419
dupe of #11043

[2019-11-28 08:20] Juliehzl commented on #11419
Add @jsntcy

[2019-11-28 08:24] Juliehzl opened #11423 "Storage blob service properties feature request"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Microsoft.Storage

**Description of Feature or Work Requested**

Feature description:
Manage blob service properties for storage account.

cmdlet design:
`az storage account blob-service-properties show/update`

**Minimum API Version Required**
What is the minimum API version of your service required to implement yo

[2019-11-28 08:24] Juliehzl commented on #11423
Planed in S161

[2019-11-28 08:32] fengzhou-msft commented on #11096
Currently we don't have plans to add support for non-LTS Ubuntu distributions. But you can make use of bionic release file by making `AZ_REPO=bionic` in step 3 of [Manual install instructions](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest#manual-install-instructions).

I will also improve the script for better compatibility.

[2019-11-28 09:19] stan-sz opened #11424 "az rest in AzureChinaCloud fails on missing active_directory_data_lake_resource_id"
**Describe the bug**
`az rest` fails in `AzureChinaCloud` with information about missing endpoint `active_directory_data_lake_resource_id`

**To Reproduce**
[code]
The uri can be anything, it even reproduces with `az rest --method get --uri h`

**Expected behavior**
The `rest` command should not error out on non-related issue. It should execute correctly (if logged on to the cloud) or give an erro

[2019-11-28 09:20] fengzhou-msft commented on #11096
Actually we should support [current ubuntu releases](https://wiki.ubuntu.com/Releases) including eoan. I will push this forward.

[2019-11-28 10:30] haroldrandom commented on #11422
@Juliehzl Please take a look

[2019-11-28 10:31] haroldrandom commented on #11424
@Juliehzl Please take a look

[2019-11-28 10:32] haroldrandom commented on #11420
@qwordy Please take a look

[2019-11-28 10:39] KingOfSpades commented on #11107
Seems to work again! Using :

[code]

[2019-11-28 11:25] dombarnes commented on #9972
Its very confusing (and seemingly undocumented) that you need to specify the resource group for the app service plan rather than the web app, which is the domain you're running the command against.
It would be useful to also/at least get https://docs.microsoft.com/en-us/azure/app-service/scripts/cli-configure-ssl-certificate  and https://docs.microsoft.com/en-us/cli/azure/webapp/config/ssl?view=az

[2019-11-28 11:51] dombarnes commented on #9972
Having just tried this, I've actually received an error
`{"error":{"code":"ResourceNotFound","message":"The Resource 'Microsoft.Web/sites/webapp-name' under resource group 'ASP_group_name' was not found."}}`
Guess I may just have to reorganise some resource groups

[2019-11-28 12:27] krojzl commented on #7387
Any outlook when azure-cli installation issue (original item #9665 ) might get implemented?

[2019-11-28 13:06] bergmeister opened #11425 "az --version: CLI version cannot be parsed programmatically -> have -json switch or switch to output only version number"
**Is your feature request related to a problem? Please describe.**
`az --version` outputs a lot of text that cannot be parsed easily and in a reliable way in order to determine the CLI version programmatically (e.g. from PowerShell)

**Describe the solution you'd like**
Either an option to output a machine parse-able output such as e.g. JSON or a switch to output only the version of the CLI as one

[2019-11-28 14:22] artkpv opened #11427 "ArchLinux package for official repository"
Hello, thanks for the tool for Azure!

**Is your feature request related to a problem? Please describe.**

There is AUR package for Azure CLI, https://aur.archlinux.org/packages/python-azure-cli/ and other. The AUR package is community driven. To install it I needed to manually do `git clone`, `makepkg -si` on each dependency. There are a lot of them (generally from pip). So I'm not sure I did all

[2019-11-28 15:24] springcomp opened #11428 "Unable to assign user_impersonation permission to an App Registration’s API permissions."
## Description

From the Azure Cloud Shell (using PowerShell) I can successfully create an App Registration using az CLI. However, the following command fails:

**Command Name**
`az ad app permission grant`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps h

[2019-11-29 00:48] pwl-kdk opened #11430 "container create --unique-keys-policy string-arg example does not work"
I tried to used the example string arg to supply a --unique-keys-policy (container create) however it does not work because of syntax errors (Powershell).  A number of variations yielded only cryptic error messages.

Perhaps this and other examples of supplying json-formatted configuration could be updated with usable examples?

Thank you in advance.

Attempts....

Example supplied: "{"uniqueKeys"

[2019-11-29 01:24] jsangco commented on #10066
I'm hitting this issue too. What's the recommend way for setting Key Vault secrets from the command line if they are going to get truncated?

[2019-11-29 01:41] qwordy commented on #11420
OK

[2019-11-29 02:03] haroldrandom commented on #11428
@jiasli Please take a look here

[2019-11-29 02:04] haroldrandom commented on #11427
@fengzhou-msft Pleas take a look here. About ArchLinux request

[2019-11-29 02:09] haroldrandom commented on #11425
Yes, good suggestion!

For your question, there should be a way to parse version string.

For too many outputs, we will think about it.

[2019-11-29 03:56] azlatarov-cocacola commented on #11249
Hello, yes it is.

Regards,
Atanas

From: Byron Tardif <notifications@github.com>
Sent: 28 ноември 2019 г. 1:51
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: ATANAS ZLATAROV <azlatarov@coca-cola.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli] webapp:Upon deleting a service plan, it is not possible to recreate it for same resource group + region (#11249)

@azlatar

[2019-11-29 06:22] fengzhou-msft commented on #9665
Since SLES 12 doesn't have sound support for Python 3.6 yet, please `sudo bash` the following script to build Python 3.6 from source and install azure-cli 2.0.77 with no dependency option on SLES 12:

[code]

[2019-11-29 07:14] Juliehzl commented on #11424
cc @jiasli

[2019-11-29 08:25] mmyyrroonn opened #11431 "Could we remove this functional token?"
**Is your feature request related to a problem? Please describe.**
Looks like this token is still valid and we should remove it.

[2019-11-29 08:26] haroldrandom commented on #11431
add it to S163

[2019-11-29 08:26] MyronFanQiu commented on #11431
@haroldrandom Please take a look at these two lines https://github.com/Azure/azure-cli/blob/807faccca1009e75e41c663d56b6d3171e630484/CredScanSuppressions.json#L285 and https://github.com/Azure/azure-cli/blob/807faccca1009e75e41c663d56b6d3171e630484/CredScanSuppressions.json#L293

[2019-11-29 08:59] fengzhou-msft commented on #11348
Please install `libssl-dev, libffi-dev, python-dev, build-essential` before running the script. These are the requirement for debian using the [script](https://github.com/Azure/azure-cli/blob/dev/scripts/curl_install_pypi/install.py#L371). It may also apply to deepin-generic.

[2019-11-29 09:11] fengzhou-msft commented on #11348
Found a similiar issue: https://github.com/MicrosoftDocs/azure-docs-cli/issues/1628. If you know the debian system that is close to yours, you could replace `AZ_REPO=$(lsb_release -cs)` with something like `AZ_REPO=stretch` in step 3 of https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest

[2019-11-29 09:55] fengzhou-msft commented on #11339
I created a Ubuntu 18.04 vm and `uname -a` shows
`Linux feng-ubuntu-18 5.0.0-1025-azure #27~18.04.1-Ubuntu SMP Mon Nov 11 15:19:19 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux`

I cannot reproduce the issue. `lsb_release -cs` gives me `bionic` as expected.

[2019-11-29 10:31] fengzhou-msft commented on #11212
`functionapp` is moved from extensions to core under [appservice](https://github.com/Azure/azure-cli/tree/dev/src/azure-cli/azure/cli/command_modules/appservice), you cannot remove it now. We should improve the error message though.

[2019-11-29 10:34] fengzhou-msft commented on #10925
Close due to inactivity. Please feel free to repoen the issue if you have any further request regarding the old MSI.

[2019-11-29 10:34] #10925 closed

[2019-11-29 11:17] sanderaernouts commented on #9972
@dombarnes just tried this with `2.0.77` of the Azure CLI and it works. The command did fail before updating to the latest version of the CLI

[2019-11-29 13:04] archmangler opened #11433 ""az bot create" provides no way to specify pre-existing QnAmaker, Web App, Service plan etc ..."
**Describe the bug**

Incomplete azure bot cli utility:

- There is no documented way to create an azure bot via cli (without the use of ARM template) and associate it with an existing QnAmaker and webapp service.

We can create the dependent services like qnamaker and web app service for the azure bot service using az cli, but there is no way to create a bot and specify these dependency services

[2019-11-29 14:01] f-r-o-g opened #11434 "[compose] - Webapp create fails with docker-compose.yaml file from Github"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create --name {} --plan {} --resource-group {} --subscription

[2019-11-29 14:15] dombarnes commented on #9972
@sanderaernouts an I'm still on 2.0.70 so I'll get updated! Thank you :)

[2019-11-29 16:12] bhummerstone opened #11435 "Function App Identity Failed to Create/Assign"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp identity assign`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp identity assign --name {} --resource-group

[2019-11-29 16:12] bhummerstone commented on #11435
Also reproducible in Azure Cloud Shell

[2019-11-29 19:25] northtyphoon commented on #11413
It allows you to create the trigger setting for the task with a different name. You may update some settings later in which you will use the name to reference it. It doesn’t impact anything for this case. /cc: @jaysterp

[2019-11-29 19:25] ssanbeg commented on #9001
This is also true for Mac (Mojave).

azure-cli                         2.0.77

command-modules-nspkg              2.0.3
core                              2.0.77
nspkg                              3.0.4
telemetry                          1.0.4

Python location '/usr/local/Cellar/azure-cli/2.0.77/libexec/bin/python'
Extensions directory '/Users/scsanbeg/.azure/cliextensions'

Python (Darwin) 3.7.5 (

[2019-11-29 19:26] northtyphoon commented on #11355
@yugangw-msft

[2019-11-29 19:32] ssanbeg opened #11436 "Setting the AZURE_CLI_DISABLE_CONNECTION_VERIFICATION does not have any effect for SSL verification"
Exactly as described in https://github.com/Azure/azure-cli/issues/9001

This is also true for Mac (Mojave).

azure-cli 2.0.77

command-modules-nspkg 2.0.3
core 2.0.77
nspkg 3.0.4
telemetry 1.0.4

Python location '/usr/local/Cellar/azure-cli/2.0.77/libexec/bin/python'
Extensions directory '/Users/scsanbeg/.azure/cliextensions'

Python (Darwin) 3.7.5 (default, Nov 1 2019, 02:16:32)
[Clang 11.0.0 (cl

[2019-11-29 19:42] mohamedsaif opened #11437 "az iot hub update --fc --fcc is not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az iot hub update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az iot hub update --name {} --fileupload-storage-connectionstring {} -

[2019-11-29 19:45] mohamedsaif opened #11438 "Updating IoT Hub File Upload Settings Not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az iot hub update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az iot hub update --name {} --add properties.storageEndpoints.'$defaul

[2019-11-29 20:41] michaelshire opened #11439 "Azure RedHat OpenShift deployment fails with 400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az openshift create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az openshift create --resource-group {} --name {} -l {} --aad-client

[2019-11-29 20:41] michaelshire commented on #11439
Similar issue:
https://github.com/Azure/azure-cli/issues/11209

[2019-11-29 22:28] micheleissa commented on #11017
How is that not a ADO CLI issue?? And I did find the correct IP Address

[2019-11-30 03:06] haroldrandom commented on #11436
@jsntcy @jiasli Please take a look

[2019-11-30 04:41] jsntcy opened #11440 "Adopt storage management plane SDK using azure.core"
**Goal**:

- CLI commands including old and new can work correctly after adoption. (i.e. msrest and azure.core can co-exist.)

- Select some typical commands (create, update, show, delete) and some specific ones as examples for adoption.

Ensure this PoC is enough for CodeGen team's following work.

**Output**:

- A new branch (azure-core-poc) includes all changes related to PoC.

- Summarize the

[2019-11-30 04:59] panchagnula commented on #11261
closing due to lack of activity - please reactivate if you are still seeing this with the latest version of CLI. Thanks!

[2019-11-30 06:19] jsntcy opened #11441 "Adopt storage data plane SDK using azure.core"
**Goal**:

- CLI commands including old and new can work correctly after adoption. (i.e. msrest and azure.core can co-exist.)

- Select some typical commands (create, update, show, delete) and some specific ones as examples for adoption.

Ensure this PoC is enough for CodeGen team's following work.

**Output**:

- A new branch (azure-core-poc) includes all changes related to PoC.

- Summarize the

[2019-11-30 12:20] yonzhan commented on #11440
Planned in S162.

[2019-11-30 12:23] yonzhan commented on #11441
Planned in S162.

[2019-11-30 15:35] softwarecraft commented on #11047
Thank you for taking the time to reply in detail.

Please ignore my usage of the word "active" and replace that with "displayed".

I find the banner cmds confusing because having a collection with List and Update cmds gives me the idea that I can control which of them is displayed at any given time but this is not the case. Only the most recent added banner is displayed.

For example, what happens

[2019-12-01 02:00] yonzhan commented on #11396
add in S163.

[2019-12-01 03:12] fengzhou-msft commented on #8164
will work on this when support for Python 2 is removed.

[2019-12-01 07:38] BenjaminHerbert commented on #11413
Could you give an example for settings where I can reference it later?

[2019-12-01 07:51] haroldrandom commented on #10651
2.0.67 is too old. In the latest version 2.0.77, the problem should be gone. Can not repro.
Please update to the latest version.

But, even in 2.0.77, it's still imperfect,
https://github.com/Azure/azure-cli/blob/807faccca1009e75e41c663d56b6d3171e630484/src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py#L433-L435

Which need service to take a futher fix on the se

[2019-12-01 07:55] haroldrandom commented on #10651
@vbrinza  May close this and open a new one with more specific target?

[2019-12-01 12:23] yonzhan opened #11444 "Plugging in HaTs survey to Azure CLI"
this survey would be adequate for getting a HaTs baseline score for the Azure CLI. Based on what has worked in the past, I wanted something that has no more than 3 mandatory questions and no more than 10 questions all up.

https://aka.ms/clihats

Once this is scrubbed, we plan to rollout the same kind of survey for our other command line tools (Azure PowerShell, Azure Terraform provider,  Ansible,

[2019-12-01 12:25] yonzhan commented on #11444
Planned in S162.

[2019-12-01 12:28] yonzhan commented on #10106
@meday89 any update for this issue?

[2019-12-01 12:35] yonzhan commented on #8361
@surajmb @sfiguemsft @akshaysngupta  any update for this issue ?

[2019-12-01 13:11] NenoLoje opened #11445 "Possible values for --disk-type"
&gt; --disk-type
&gt; Storage type to use for virtual machine.

Could we add what the possible values are, please?

Thanks!
--Neno

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef5457fd-c38a-6fb8-1df4-24a15e6ba787
* Version Independent ID: ef65acdc-464a-08c7-b013-d9e3f1560977
* Content: [az lab vm](https://docs.micros

[2019-12-01 13:15] #5590 closed

[2019-12-01 13:33] Juliehzl commented on #10370
Hi @ArgTang, it is a powershell issue. Could you use cmd to unblock yourself? Out of curiosity, `)` doesn't work for you, right? Could you share more info about `)`  scenario with me? It works for me as follows again.
![image](https://user-images.githubusercontent.com/49508232/69914708-04f9b880-1482-11ea-8268-e9b6e1a4b546.png)

[2019-12-01 14:03] #11302 closed

[2019-12-01 14:43] yonzhan commented on #10945
@ahmedelnably @ankitkumarr how is the status of this issue ?

[2019-12-01 15:10] yonzhan commented on #10476
How is the status of this issue ?

[2019-12-01 15:12] yonzhan commented on #10468
@v-Ajnava how about the current status of this issue?

[2019-12-01 15:15] yonzhan commented on #10259
@v-Ajnava how is the status of this issue ?

[2019-12-01 15:49] VamsiSangam commented on #9882
This issue seems to be fixed.

[2019-12-01 16:10] northtyphoon commented on #8305
For now, I’d suggest you encode such value with multiple lines or spaces to single line base64 string (eg, base64 -w 0) and pass to —build-arg or —set. On your Dockerfile file or build script, decoded it to the original value.

[2019-12-01 16:37] VamsiSangam commented on #8541
This has been fixed.

[2019-12-01 21:50] juhap opened #11446 "Link to run variables documentation"
The "az acr build" examples use for example "{{.Run.ID}" pattern for variables, but there's no further information about these. Might be good for example to provide a link to the following page:
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-reference-yaml

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-12-01 21:51] nofunatall commented on #11190
Well when using it with azcopy it does not.

I have not tested using a simple curl command.

[2019-12-01 22:24] ptylenda commented on #11228
@PrabhuMathi, updating Azure CLI (https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest) to the latest version fixes the issue.

[2019-12-02 01:33] Juliehzl commented on #11422
Hi @zffocussss, could you please share me more debug information? I cannot reproduce your issue in my windows machine.

[2019-12-02 01:35] yonzhan commented on #9291
How is the status of this issue ?

[2019-12-02 01:37] yonzhan commented on #9266
How is the status of this issue ?

[2019-12-02 01:39] Juliehzl commented on #11419
dupe of #11043,#9890
Hi @markdebruijne, it should be network issue. Could you please try again with good Network?
I will close this issue now and if you still have problems, feel free to reopen it or create a new issue😊

[2019-12-02 01:39] #11419 closed

[2019-12-02 01:45] yonzhan commented on #6852
How is the status of this issue?

[2019-12-02 01:46] jsntcy commented on #11226
@saroup , I'll close this issue because you can resolve this issue by "removing the login piece" as we discussed in Teams. We'll also to see if we can improve our logging for --version or --debug.

cc @yonzhan

[2019-12-02 01:46] #11226 closed

[2019-12-02 01:55] Juliehzl commented on #9771
Hi @@serbrech could you please provide more information for cli improvement?

[2019-12-02 01:56] jiasli commented on #11436
Please see [the doc for using CLI behind a proxy](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy). Some data-plane SDKs including Storage SDK don't have option to disable SSL verification. Please configure `REQUESTS_CA_BUNDLE` and try again.

[2019-12-02 01:59] Juliehzl commented on #11043
Hi @15pratik, thanks a lot for your information. There are something we have to do for deleting all blobs in a container. We are developing a new `az storage remove` to delete blobs/files more effectively. I will add a functionality in `az storage remove` to delete all blobs in a container.

[2019-12-02 02:13] haroldrandom commented on #11446
@northtyphoon Any idea about these related links?

[2019-12-02 02:30] MyronFanQiu commented on #10078
@carlbrochu Hello. Are you still there? Is it possible to share an example to us so that we can investigate this issue deeply?

[2019-12-02 02:41] jiasli commented on #6080
Hi @abarger-bss, sure we can reopen this issue. I have created an issue in Knack to allow disabling color. I will work on this to disable colored output.

[2019-12-02 02:46] MyronFanQiu commented on #9432
@irrogozh Feel free to ping me when the service's ready.

[2019-12-02 02:47] Juliehzl commented on #6838
Given no response, I will close this issue.  @bganapa If you still have any problem, feel free to reopen it or create a new one.

[2019-12-02 02:47] #6838 closed

[2019-12-02 02:50] Juliehzl commented on #4711
Thanks for your information. We already have tests targeting to different profiles and I will close this issue now. If you have any other problems, feel free to create a new issue. 😊

[2019-12-02 02:50] #4711 closed

[2019-12-02 02:53] Juliehzl commented on #4665
Hi @viananth, could you please share more context about your issue?

[2019-12-02 03:08] MyronFanQiu commented on #10813
move to s163

[2019-12-02 04:02] PrabhuMathi commented on #11228
Hi, Thanks have tried it and working fine :)

[2019-12-02 04:58] haroldrandom commented on #10651
It should be a feature enabled from https://github.com/Azure/azure-cli/pull/10119/files

But as I mentioned above, some bug existed.

cc: @akshaysngupta Any idea on this?

[2019-12-02 05:01] archmangler opened #11447 "Az boot diagnostics cli is broken: "TypeError: startswith first arg must be str, unicode, or tuple, not NoneType""
When trying to get vm boot diagnostics with the following command:

[code]

, the cli breaks with the following error:

 "TypeError: startswith first arg must be str, unicode, or tuple, not NoneType"

[code]

**Describe the bug**

When trying to get vm boot diagnostics with "", the cli breaks with the following error:

[code]

**To Reproduce**

Run the following command:

[code]

**Expected behavi

[2019-12-02 05:37] archmangler commented on #11433
Any feedback ?

[2019-12-02 06:00] VamsiSangam commented on #8095
Since this has been fixed in code, shouldn't the `good first issue` tag be removed?... Or better yet, shouldn't the issue be closed?

[2019-12-02 07:28] haroldrandom commented on #11319
From our side, we can udpate the vnet peering across subscription as shown below.

![image](https://user-images.githubusercontent.com/14357159/69938401-32914100-1518-11ea-94a0-b0a9c2628479.png)

[2019-12-02 07:31] VamsiSangam opened #11449 "(query) No az lab create command"
Why isn't there an `az lab create` command? Is it scheduled?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a8126c7-b3a9-7386-f272-debc5e8ab62f
* Version Independent ID: d9a0e027-9a46-04d3-f20d-1ea4d7dbca1b
* Content: [az lab](https://docs.microsoft.com/en-us/cli/azure/lab?view=azure-cli-latest#feedback)
* Content Sou

[2019-12-02 07:45] haroldrandom commented on #11319
@datafisk Are the resource group "ccloud-k8s-se-team.westus2.azure.confluent.cloud" in a private cloud?

[2019-12-02 08:02] techspeque commented on #6876
@christiankuhtz I have a quite specific use case to support this feature request.

There is a piece of documentation from Azure on AKS - [Create an ingress controller to an internal virtual network in Azure Kubernetes Service (AKS)](https://docs.microsoft.com/en-us/azure/aks/ingress-internal-ip) and if you follow through it you'll get to the point where you need to provide the `loadBalancerIP` and

[2019-12-02 08:08] haroldrandom opened #11450 "[CI] Should support tests run in Windows platform"
**Is your feature request related to a problem? Please describe.**
Some tests should be test on Windows platform or netural platform:
- Automation test
- Integration test
- Test agains profiles.

Currently, just on ubuntu:
https://github.com/Azure/azure-cli/blob/807faccca1009e75e41c663d56b6d3171e630484/azure-pipelines.yml#L389-L395
https://github.com/Azure/azure-cli/blob/807faccca1009e75e41c663d56

[2019-12-02 09:21] haroldrandom commented on #9410
@gucarreira Sorry for the late reply. We have checked that limitation. According to the limitatin https://docs.microsoft.com/en-us/azure/azure-subscription-service-limits

![image](https://user-images.githubusercontent.com/14357159/69946705-1fd23880-1527-11ea-8802-d47f9b79e16c.png)

Number of private DNS zones a virtual network can get linked to with auto-registration enabled  is 1 by default.

**

[2019-12-02 09:23] haroldrandom commented on #9410
for `--add` option is a generic update option, the syntax is subjected to JMESpath, please take a look their site http://jmespath.org/

[2019-12-02 09:37] yonzhan commented on #11450
add to S163.

[2019-12-02 10:31] haroldrandom commented on #2917
Could you provide some related file contents? It would be helpful.

[2019-12-02 10:58] artkpv commented on #11427
Please see this discussion, https://bbs.archlinux.org/viewtopic.php?id=250991. The point is Azure CLI can be only promoted by the community by casting the votes for a package (https://aur.archlinux.org/packages/python-azure-cli/). So seems we can close this issue.

[2019-12-02 10:58] #11427 closed

[2019-12-02 11:17] nilsga opened #11454 "`az webapp vnet-integration add` fails when there are multiple vnets & subnets with same name in different resource groups."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp vnet-integration add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp vnet-integration add -g some-resource-group -n

[2019-12-02 12:27] jmeijrink opened #11455 "Creating tasks for Private Github repositories"
Hi, the examples only show public Github repo's and private Azure DevOps repos. We're trying to make it work for a private Github repo. Is this supported? The documentation does not specifically say whether it is or is not supported.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bd0e3f3c-5aed-28b6-1e28-22ff32a8521d
*

[2019-12-02 13:39] AmitBaranes opened #11456 "argument of type 'NoneType' is not iterable when running az aks enable-addons"
## Describe the bug
Getting this error when running `az aks enable-addons` after I followed the instructions from azure dashboard :

![image](https://user-images.githubusercontent.com/44478617/69964398-04613080-151b-11ea-898e-8b6ae020995d.png)

The previous command that failed for me was `az aks browse --resource-group`  with the following error :
`The kube-dashboard addon was disabled for this ma

[2019-12-02 14:12] Juliehzl commented on #11184
Given no response, I will close this issue and if you still have any problem, feel free to reopen it or create a new one. 😊

[2019-12-02 14:12] #11184 closed

[2019-12-02 14:25] datafisk commented on #11319
Hi Harold, thanks for the reply. The resource group is in a 3rd party Azure subscription that hosts a PaaS/IaaS service, Apache Kafka via Confluent Cloud, running on top of your AKS.

Overall we got this to work across subscriptions as per the docs if it is initiated from the spoke, so the hub with the gateway is on my side, the spoke uses a custom role with the below permissions to manage the pee

[2019-12-02 14:37] lokijota commented on #10422
I'm also having this issue. az apim list fails with:

[code]
Version of CLI is:

[code]

[2019-12-02 15:59] captainbrown commented on #11418
Coming back to this one.  Even if I have python3 installed via the only way to get it on RedHat7, I still cannot install the latest Azure CLI.  I think it's because yum doesn't have a record of the install because it's simply not available in the repository for RedHat 7.

Does this mean that RedHat 7 is no longer supported for Azure CLI, or am I missing something?

$ python3 --version
Python 3.7.4

[2019-12-02 16:05] TitaniumDave commented on #10191
Hi @griffinator76 ,

Global Admin is an AAD role not a subscription level role. Owner is a subscription role and assigned via the subscription blade:

**Subscriptions -> Select SubscriptionID-> Access Control (IAM) -> Role assignments** screen.

Alternatively you can provide Global Admins with the ability to assign subscription level permissions, how to do that is detailed on [this](https://docs.m

[2019-12-02 16:17] mallecespedes commented on #11386
Is there an update for this issue?

[2019-12-02 16:18] bdschaap commented on #10422
I'm running into this same issue.  Same versions as the last comment.

[2019-12-02 16:49] timio73 opened #11457 "az resource move ResourceID case issue"
**Describe the bug**
When trying to move a collection of resources ids with `az resource move --ids $IDs --destination-group $DestinationGroup`, the command fails with the error `All resources should be under the same group` even though all resources /are/ under the same group.

It seems that this occurs when the resource ID collection contains resources where the group is in a different case, eg.

[2019-12-02 17:18] jlian commented on #11437
I don't understand what's happening here. Dialing in @iluican

[2019-12-02 17:21] jlian commented on #11438
Seems related to https://github.com/Azure/azure-cli/issues/11437

@iluican

[2019-12-02 17:39] northtyphoon commented on #11455
It's supported.
1. Create a qualified github [personal access token](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tutorial-build-task#create-a-github-personal-access-token)
2. Pass the above PAT to `--git-access-token`

[2019-12-02 17:42] northtyphoon commented on #11455
@jaysterp @dlepow

[2019-12-02 17:48] northtyphoon commented on #11446
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-reference-yaml#run-variables

[2019-12-02 18:02] northtyphoon commented on #11446
@jaysterp  @dlepow

[2019-12-02 18:20] mikeliddle opened #11458 "az ad sp credential reset doesn't reset service principal credential, resets app credential"
**Describe the bug**
We have a multi-tenant app registration defined in Azure. We create a service principal in a *separate tenant* for that app, but when we try to provide a credential using the `az ad sp credential reset` command it tries to look up the app resource and can't find it in the tenant (because it isn't there). Why doesn't it look up the service principal resource like the correspond

[2019-12-02 18:30] bganapa commented on #6838
@Juliehzl Sorry about that. We can close this.

[2019-12-02 18:44] carlbrochu commented on #10078
I was trying to create an Azure monitor and passing these arguments just doesn't seem to work on the cli portion.  The support for an "And" statement seems to be missing.

[2019-12-02 19:20] jmeijrink commented on #11455
Ok, good to know that it should be possible. Unfortunately, I don't get it to work. Please advice. I run the following command:
`az acr task create --registry <ourregistry> --name twinfield-addresses --image <ourregistry>.azurecr.io/twinfield.addresses:{{.Run.ID}} --context https://github.com/Twinfield/Twinfield.git#ARC-P42-6 --file Generic/Addresses/Addresses.Service/Dockerfile --git-access-token

[2019-12-02 19:21] ssanbeg commented on #11436
@jiasli I am well aware of that doc. Setting AZURE_CLI_DISABLE_CONNECTION_VERIFICATION to any value is supposed to disable the check. It does for az account list, for example, but not for az storage and a host of other commands. Therein is the problem.

[2019-12-02 20:08] Drewm3 commented on #6898
@koralski, could you look into these latest examples? It looks like the problem is how the custom script is handling the cases when the script exits with a non-zero value. It seems that there should be a way to indicate in the run command that Azure successfully attempted to run the script, but the script execution failed along with the existing StdOut and StdErr streams.

If I am correct, then sh

[2019-12-02 20:31] Drewm3 commented on #9780
Sorry for the delay on getting a definitive answer on this one. The back end API ownership of this area has moved between developers on the team, and the new owner is coming up to speed on the details. I've pinged them again, and I will update this issue once I have a definitive answer.

[2019-12-02 21:10] stevengum commented on #11433
@archmangler you should use `az webapp config appsettings` to configure the App Service hosting your bot.

`az bot update` affects the Bot Registration, whether it is a Web App Bot or a Bot Channels Registration. It does not affect the settings on the App Service.

[2019-12-02 21:16] viananth commented on #4665
@Juliehzl These tests are not part of Azure CLI anymore and this issue is out-of-context. I'll close it now. Thanks for checking.

[2019-12-02 21:16] #4665 closed

[2019-12-02 21:28] heaths commented on #10846
This is still a problem. Any timeline for getting this in?

[2019-12-02 21:45] shurd commented on #11430
Hi @pwl-kdk thank you for opening this issue. Can you try escaping the quotes in the string and surrounding the object with single-quotes?

For example: -u '{\"uniqueKeys\": [{\"paths\":[\"/path/to/key1\"]}, {\"paths\": [\"/path/to/key2\"]}]}'

[2019-12-02 22:07] captainbrown commented on #11418
Redhat 8 doesn't seem to resolve this issue either, thanks to the issue I found here:  https://github.com/microsoft/azure-pipelines-agent/issues/2349

So, I suppose Redhat is just unsupported for now?

[2019-12-02 22:12] ajklotz commented on #7245
@yugangw-msft @IanIsFluent What is the right structure of the json file to do multiple settings?

[2019-12-02 23:16] koralski commented on #6898
We investigated the issue and found that in some cases where we have script errors, powershell process exit with code different from 0 which makes the extension procisioning to fail and report a generic error instead of captures output.
Fix is in process and should be public by the end of the week (12/8/2019).

[2019-12-03 00:02] Tenseiga opened #11459 "az login fails with error"
We appreciate your feedback!

For more information on getting started, visit: aka.ms/azcli/get-started
If you have questions, visit our Stack Overflow page: aka.ms/azcli/questions

Recent commands:

   [0] create a generic issue.
   [1] az login                  : FAILURE. Ran: 11 hrs 19 mins ago.
   [2] az login                  : FAILURE. Ran: 11 hrs 19 mins ago.
   [3] az login

[2019-12-03 00:57] jaredmoo commented on #11223
I see, are we talking about [setting the readonly endpoint's failover policy](https://docs.microsoft.com/en-us/rest/api/sql/failovergroups/createorupdate#failovergroupreadonlyendpoint)?

[2019-12-03 01:02] pwl-kdk commented on #11430
Hi @shurd, thanks for your reply.  Doing 2x double quote works.  Maybe the documentation could be updated accordingly?
EG: `--unique-key-policy '{""uniqueKeys"": [{""paths"": [""/ordinal""]}]}'`

[2019-12-03 01:20] irrogozh commented on #9432
@MyronFanQiu , can we discuss design? The public preview is going to be in January. So, we will need to have cmdlets by this time.

[2019-12-03 01:32] cemeyer commented on #9576
(#9589 is not related to this bug.)

The following small change should address the issue, combined with manually building azcopy:

[code]

The problem is returning `None` for `install_location` above causes an immediate and unintuitive backtrace in the caller (`os.path.isfile(None)` raises an exception because the `isfile` API only accepts strings and Paths).  While the patch above addresses the i

[2019-12-03 01:45] MyronFanQiu commented on #9123
@anavinahar Could you share your knowledge about this issue with us so that we can make a better fix for it.

[2019-12-03 02:01] haroldrandom commented on #11459
@jiasli Please take a look.

[2019-12-03 02:03] haroldrandom commented on #11458
@jiasli Please help here

[2019-12-03 02:04] haroldrandom commented on #11447
@qwordy Please take a look

[2019-12-03 02:05] haroldrandom commented on #11449
Which version of az do you use? Have tried the latest 2.0.77?

[2019-12-03 02:07] haroldrandom commented on #11457
@Juliehzl Please take a look

[2019-12-03 02:08] MyronFanQiu commented on #9432
@irrogozh sure. Should we schedule a meeting?

[2019-12-03 02:44] Tenseiga commented on #11459
closing this.. Setting the HTTP_PROXY variable to '', resooves this. thnks

[2019-12-03 02:44] #11459 closed

[2019-12-03 03:25] #9410 closed

[2019-12-03 03:31] #10520 closed

[2019-12-03 04:12] archmangler commented on #11447
Additional information:

- Test az cli with python 3.6 as well, the behaviour is the same.

[2019-12-03 04:13] archmangler commented on #11433
@stevengum  - would you be able to provide an example please?

[2019-12-03 04:20] irrogozh commented on #9432
@MyronFanQiu, yep, would be great. Could you send me your Msft alias so I could schedule a meeting? What time would be convenient for you? I'm working on PST time...
Just in case, my alias - irrogozh@microsoft.com

[2019-12-03 04:26] ssripadham opened #11462 "AzureFirewall with IpGroups"
### **Resource Provider**
 Microsoft.Network

### Description of Feature or Work Requested

We are building a facility in Azure Networking that will allow Azure customers to group of Ip Address prefixes to define rules in Azure Networking. This will help customers manage & minimize the overall complexity for security rules creation.

Customer will create an IpGroups (new top-level resource) and sp

[2019-12-03 05:08] fengzhou-msft commented on #11444
We need to figure out the following to implement this feature:
1. Ways to identify user.
2.Where to save users' selected options (reminder me later, never or 3 months), whether the user has already done the survey.
3.Are we targeting all users or selected users?
4. When/How often do we check whether to show the survey?

[2019-12-03 07:03] MyronFanQiu commented on #11462
@ssripadham Let me check the current status and update with you later.

[2019-12-03 07:18] wmcainsh commented on #11223
Yes

[2019-12-03 09:27] tp199314 commented on #7387
@krojzl i just found the following comment in the old thread. I hope, its useful for you.
https://github.com/Azure/azure-cli/issues/9665#issuecomment-559673532

[2019-12-03 09:42] yonzhan commented on #11418
@fengzhou-msft  please take a look.

[2019-12-03 10:38] jiasli commented on #6080
Hi @abarger-bss, actually even pip is affected by this issue https://github.com/pypa/pip/issues/6354. Given the condition that there is no better python lib for coloring, I have created PR https://github.com/microsoft/knack/pull/171 to allow disabling color.

[2019-12-03 11:26] LukeRH commented on #11233
Ok so it is not possible to create an Azure K8s services using a private IP and LB for egress from the outset?

[2019-12-03 12:37] fengzhou-msft commented on #11396
[Multi stage builds](https://stackoverflow.com/a/47441295) is a potential solution and we already used it in [RPM build](https://github.com/Azure/azure-cli/blob/dev/scripts/release/rpm/Dockerfile.centos). I will first figure out how many directories we need to copy from the first build to the second one and see if it's feasible.

[2019-12-03 13:01] SphinxKnight opened #11464 "Missing `sku_name` parameter for `az postgres create`"
When reading [this guide about creating a Azure Database for PostgreSQL with AZ CLI](https://docs.microsoft.com/en-us/azure/postgresql/quickstart-create-server-database-azure-cli), one can find the following command, provided as an example:

`az postgres server create --resource-group myresourcegroup --name mydemoserver  --location westus --admin-user myadmin --admin-password &lt;server_admin_pass

[2019-12-03 13:30] artkpv commented on #5437
Having this issue again.

[code]

[2019-12-03 17:01] mattlorimor commented on #11396
Absolutely. If, as you alluded to, it doesn't get too messy with how much
stuff you have to COPY.

On Tue, Dec 3, 2019 at 6:37 AM Feng Zhou <notifications@github.com> wrote:

[2019-12-03 17:39] dayglo opened #11465 "none of my 'az aks' commands are working, even '--help' crashes with an ssl error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks --help`

## Expected Behavior

## Environment Summary
[code]
## Additional

[2019-12-03 21:12] jemag commented on #10642
@jiasli support for fish was apparently implemented in argcomplete v1.10.0, but I am not sure how extensively it has been tested. If there are still problems with it, it might be good to re-open an issue on the subject on their github.

[2019-12-03 21:24] qubitron commented on #11372
@kulkarnisonia16 could you confirm if this still repros with the latest azure CLI

[2019-12-03 21:29] bacongobbler commented on #10382
Adding a few more use cases to the list for after using `az storage blob upload-batch --pattern`:

- upload everything with a particular file extension (*.txt)
- upload everything with a particular file extension somewhere in the name (*.tar.gz, *.tar.gz.sha256)
- upload everything that matches multiple file extensions (*.txt, *.md)

1) and 2) are quite simple to implement (`*.txt` and `*.txt*`),

[2019-12-03 22:00] bacongobbler commented on #10382
update: looks like [the pattern matcher](https://github.com/Azure/azure-cli/blob/8adf97355a605d147afc26f6c1b6f6afb6651c2f/src/azure-cli/azure/cli/command_modules/storage/util.py#L170-L172) comes from [fnmatch](https://docs.python.org/2/library/fnmatch.html), a python library that provides UNIX-style file pattern match sequences. The documentation doesn't appear to demonstrate much information on h

[2019-12-04 01:59] haroldrandom commented on #11338
progress on https://github.com/MicrosoftDocs/azure-docs-cli/issues/1667#event-2825712170

[2019-12-04 01:59] #11338 closed

[2019-12-04 02:16] haroldrandom opened #11468 "[Network] ZoneType is None"
**Describe the bug**
ZoneType is None. So there is a part of help message of `az network dns zone create -h` missing

**To Reproduce**
`az network dns zone create -h`

[code]

**Expected behavior**
There is some extra info in "HERE MISSING" above: Allowed values: Public, Private

**Environment summary**
Not related

**Additional context**
None

[2019-12-04 02:21] #9766 closed

[2019-12-04 02:23] haroldrandom commented on #11468
planning on S163

[2019-12-04 02:31] haroldrandom commented on #10177
Have this solved?

[2019-12-04 02:42] fengzhou-msft commented on #11418
@captainbrown 2.0.77 should work with RHEL 7.7 and 8. If you're on lower versions, after installing Python 3 which you already did, you can download azure-cli package, and install without dependency.
[code]

[2019-12-04 03:49] yugangw-msft opened #11469 "aci: accessing private docker registry on non-standard port with ACI"
Ported from [user feedback]( https://social.msdn.microsoft.com/Forums/en-US/8eda3544-53ed-43fa-ac53-87e721fa09c3/accessing-private-docker-registry-on-nonstandard-port-with-aci?forum=AzureContainerServices).

[code]
fails with an error of
`The server 'private.example.com:5000' in the 'imageRegistryCredentials' of container group 'testcontainer' is invalid. It should be a valid host name without pro

[2019-12-04 04:08] PlateSpinner commented on #11100
The "Could not auto-detect the runtime stack of your app" error still happens in Cloud Shell AND the latest Edge Build as of 12/3/19.

[2019-12-04 06:14] jiasli commented on #11458
We need to discuss with Azure CLI PM and AAD team whether this behavior needs to be changed.

[2019-12-04 07:08] MyronFanQiu commented on #10873
@johndowns It has been fixed by #11112. Thanks for reporting this issue.

[2019-12-04 07:08] #10873 closed

[2019-12-04 07:11] jiasli commented on #10642
@jemag, I understand your concern, but currently we are working on other high priority tasks and fish is not officially supported by Azure CLI. Please consider using Bash instead. Thanks for your understanding.

[2019-12-04 07:18] jiasli commented on #10370
As @Juliehzl stated, this is a Windows PowerShell issue. We have updated CLI doc for explanation and workaround: https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#argument-parsing-issue-in-powershell

[2019-12-04 07:19] #11320 closed

[2019-12-04 07:19] #11256 closed

[2019-12-04 07:26] yonzhan commented on #10743
add to S163.

[2019-12-04 07:29] yonzhan commented on #10209
add to S163.

[2019-12-04 07:35] #10208 closed

[2019-12-04 07:36] yonzhan commented on #10176
add to S163.

[2019-12-04 07:39] haroldrandom commented on #10651
The problem mentioned in original description should be fixed.

Thansk @akshaysngupta  I can create a ssl-cert under an application-gateway with only --key-vault-secret-id specified. No mandatory requirement to specify --cert-file, --cert-password.

As shown below. I tested against a secret which generated from a *.pfx cert without password protection
![image](https://user-images.githubusercontent

[2019-12-04 07:39] yonzhan commented on #9636
add to S163.

[2019-12-04 07:40] haroldrandom commented on #10651
As for this, I will make it right.

[2019-12-04 07:40] #10651 closed

[2019-12-04 07:48] seanmck commented on #10801
This is fixed as of CLI version 2.0.70. Please upgrade.

[2019-12-04 07:48] #10801 closed

[2019-12-04 07:52] jaredmoo commented on #10001
Thank you for reporting! Can you please share a minimal repro? My assumption is that there is a syntax issue in `createAzureSQLServerAndDB.sh`.

[2019-12-04 08:06] MyronFanQiu commented on #11157
@tesharp Hello. I checked the dependency, looks like we cannot do it currently. I will invite the corresponding people to take a look at this issue.

[2019-12-04 08:11] MyronFanQiu commented on #11157
@gucalder Hello. I saw your commit in swagger spec repo. Could you help me about this issue or help me route this issue to the right person?

[2019-12-04 08:40] rolandas-rimkus-bentley opened #11471 "[az lab vm delete] The resource of type 'microsoft.devtestlab/labs/virtualmachines' is not yet ready for the requested operation"
Our current workflows use Azure DevOps pipelines to create and delete VMs stored on a Azure DevTest Lab. For the the delete action we use **az lab vm delete** which normally works, but it sometimes returns an error:

call az lab vm delete --lab-name "xxxx" --name "xxxx" --resource-group "xxxx"
Command group 'lab' is in preview. It may be changed/removed in a future release.
ERROR: The resource 'xx

[2019-12-04 08:49] jiasli commented on #9326
Hi @dashesy, I tested in Anaconda but can't repro this issue. May I know which version of CLI you are using? Could you try updating to the latest version? Thanks.

[2019-12-04 09:02] jiasli commented on #11236
Hi @dashesy, I tested in Anaconda but can't repro this issue.

In your case, CLI failes at https://github.com/Azure/azure-cli/blob/eb96e96b7f9ce1a56851bdd0c7f56285a31bb733/src/azure-cli-core/azure/cli/core/_profile.py#L761

Could you run `pip list | findstr resource` to check if the correct version of `azure-mgmt-resource` is installed?

[code]

[2019-12-04 09:29] AmitBaranes commented on #11456
Any update?

[2019-12-04 09:55] kumarks1122 opened #11473 "delete-batch is throwing `permission denied` error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob delete-batch`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob delete-batch --source {} --connection-strin

[2019-12-04 10:39] iluican commented on #11437
@digimaun , can you please take a look?

[2019-12-04 11:00] haroldrandom commented on #11319
@datafisk Have you tried to reach help from Azure Support?
It's the first time I meet an issue about acrosing cloud. I will search help for you inside company too.

[2019-12-04 11:07] haroldrandom commented on #11473
@ZhouXing244266602 Please take a look

[2019-12-04 11:45] datafisk commented on #11319
thanks @haroldrandom we have some Azure contacts that i will pursue as well on my side, thanks for helping out.

[2019-12-04 13:44] surajmb commented on #8361
We have a backlog item to fix this. We'll update here once it's been fixed and we don't have a firm ETA now. Should we close this for now?

[2019-12-04 14:49] ekelmans commented on #9141
you gotta be kidding me....

So i have a tree with 40.000+ folders and over 3.000.000 files, and those need to be deleted on a per item basis ?

[2019-12-04 15:19] jwalasinh commented on #10707
I am getting same error when i am trying to deploy BOT on Azure, This bot is developed using C# and I am using I am using "template-with-preexisting-rg.json" template and following guideline as mentioned on this link. Please advice how to fix.
https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=csharp

[2019-12-04 15:24] tehyatt commented on #1528
I need wait for az acr network-rule add. It is not a long running operation, but it's long enough to fail in my use-case. I'm using terraform to a list of outbound IP addresses from an app service to the existing list of on-premise IPs. Terraform doesn't support modifying that list after creation of the acr (see https://github.com/terraform-providers/terraform-provider-azurerm/issues/4936). So I'm

[2019-12-04 15:31] jwalasinh opened #11475 "Azure BOT Deployment is failing"
I am following this [guideline](https://docs.microsoft.com/en-us/azure/bot-service/bot-builder-deploy-az-cli?view=azure-bot-service-4.0&tabs=csharp) for deploying Azure BOT which developed in VS 2017 C#
-----------------
az webapp deployment source config-zip --resource-group "HHSC-MAG-UAT-BotServiceHUB" --name "WICChatBotPOCApp" --src "C:\D\Projects\Web\ChatBot\Dev\ChatBotJane\WICChatBot\WICChatB

[2019-12-04 17:18] kumarks1122 commented on #11473
@haroldrandom @ZhouXing244266602 I found out the issue. This was because I have used `-dryrun` instead of `--dryrun`. Thanks for the response.

[2019-12-04 17:18] #11473 closed

[2019-12-04 17:41] torosent commented on #11099
@Azure/aks-pm  Any update on this?

[2019-12-04 17:43] #11446 closed

[2019-12-04 18:42] panchagnula commented on #11100
With the latest change we have made an update where only Python, Node, ASP.NET & .NETCORE stacks are supported & if none these are detected we won't create an empty App anymore. Looks like this is what you are facing.

[2019-12-04 19:14] ajlam commented on #10480
Hi @Thiago4breu - have you had a change to test?

[2019-12-04 19:58] KevinBlasko commented on #10472
This issue was resolved through the Azure Support Ticket.

[2019-12-04 19:58] #10472 closed

[2019-12-04 20:09] KevinBlasko commented on #9934
Closing the issue per @vgorbenko last response.

[2019-12-04 20:09] #9934 closed

[2019-12-04 20:19] spplante commented on #11249
I have the same issue, I tried to delete my resource group and recreate it entirely using the same ARM package and it failed with the same message when trying to create the service plan.

[2019-12-04 20:21] panchagnula commented on #11249
@spplante is your case a Dynamic ASP for Consumption based functions as well?

[2019-12-04 20:25] panchagnula commented on #11249
@ahmedelnably FYI since this is related to Functions.

[2019-12-04 20:28] spplante commented on #11249
Yup.

Right now I get around this issue the same way I get around storage accounts that used to stay persisted somewhere after deleting a resource group and recreating it, by append a unique string based on the resource group ID to the service plan name using a variable in my ARM template :

[code]

[2019-12-04 21:16] panchagnula commented on #11434
@patricklee2 can you take a look please?

[2019-12-04 21:24] rachel-msft commented on #11464
@SphinxKnight, thanks for getting in touch. The document you referenced in the issue is az postgres db, which is a way you can create databases in a server. I believe the document you are looking for is https://docs.microsoft.com/en-us/cli/azure/postgres/server?view=azure-cli-latest#az-postgres-server-create
![image](https://user-images.githubusercontent.com/32173602/70182771-5c25a600-1699-11ea-84

[2019-12-04 21:32] jluk commented on #11099
@torosent this is a bit outdated of an azure cli version, could you please try to upgrade to 2.0.77 as I was not able to reproduce this bug on that version?

[2019-12-04 21:39] CharmanderJieniJieni opened #11477 "what is location used for"
Could you clarify what the location params is used for? The documentation does not really tell this information

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1c6760bb-c278-da56-a95c-4e82e221f1e8
* Version Independent ID: e25cbd2a-b415-214f-7d50-c403992c9361
* Content: [az policy assignment](https://docs.microsoft.com/

[2019-12-04 22:05] rachel-msft commented on #11222
@alexeyshishkin01 The page you linked to provides a quick start guide that includes CLI instructions: https://postgrespro.com/products/postgrespro/azure/standard

[2019-12-04 22:05] rachel-msft commented on #11222
#please-close

[2019-12-04 22:13] digimaun commented on #11437
@mohamedsaif , I believe your storageEndpoints is in an indeterminate state..._possibly_ from assigning storageEndpoints to an empty object.

First try raw setting of object (this format should work in bash):

`az iot hub update -n MyIoTHub --set properties.storageEndpoints.'$default'="{'connectionString':'DefaultEndpointsProtocol=https;AccountName=blahblahblah;AccountKey=abcdefgh==;EndpointSuffix

[2019-12-04 22:21] alexeyshishkin01 commented on #11222
hello, all!

first of the link you mentioned - https://postgrespro.com/products/postgrespro/azure/standard - only provides Azure CLI commands to create VM - my question was about creating container using Azure CLI
secondly, this link is not an official documentation from Microsoft (I've created link's content) - my question was about official docs

pls. reopen the case since the issue is not solve

[2019-12-04 22:23] rachel-msft commented on #11222
Hi. This is not a first party Microsoft product so there wouldn't be official documentation from Microsoft on it. The third-party provides their own documentation for their marketplace offering.

[2019-12-04 22:31] rachel-msft commented on #11222
Also, my apologies for closing the issue too quickly before. Did that answer your question?

[2019-12-04 22:37] rachel-msft commented on #11222
Hi @alexeyshishkin01

My apologies for closing the issue too quickly earlier, and misunderstanding your request.

This is not a first-party Microsoft offering, and so in general documentation on how to use it is created by the third party.

For your question about containers, I see the following in the 'Plans' tab on [the page you first linked to](https://azuremarketplace.microsoft.com/en-us/marke

[2019-12-04 23:30] dashesy commented on #11236
I had installed on a fresh Conda environment with `pip install azure-cli`. Will try to repro again.

[2019-12-04 23:38] mattgwic commented on #10714
It should at least show up when I use --debug

[2019-12-04 23:46] rgardler commented on #9780
I can confirm that this bug has been reproduced. I'll ensure it gets onto the engineering teams backlog and is resolved in due course,

[2019-12-04 23:51] jluk commented on #10213
I am closing this issue as it's a known problem with AAD replication as mentioned in this issue. https://github.com/Azure/AKS/issues/1206

[2019-12-04 23:51] #10213 closed

[2019-12-04 23:52] jluk commented on #10096
I believe this should be fixed so closing, but @ChrisRG711 if you continue to hit this please comment and we can re-open on the AKS github repo.

[2019-12-04 23:52] #10096 closed

[2019-12-04 23:54] jluk commented on #10281
@markheath unfortunately this looks like the same issue reported in https://github.com/Azure/AKS/issues/1206 which is caused by AAD propagation delays. Given this has been a few months and it looks tied to the same problem, I am going to close this issue as a duplicate but please comment on the related issue or open a new one on the AKS github repo if needed given this is a service issue and not a

[2019-12-04 23:54] #10281 closed

[2019-12-04 23:59] jluk commented on #10000
Revisiting, given this is available in the enable-addons command help text I am going to close for now. But I have opened this related issue on AKS to provide a way to retrieve all available addons programatically. https://github.com/Azure/AKS/issues/1341
[code]

[2019-12-04 23:59] #10000 closed

[2019-12-05 00:00] jluk commented on #10307
Closing in favor of the duplicate #10812 please visit that open issue for latest discussion

[2019-12-05 00:00] #10307 closed

[2019-12-05 00:02] jluk commented on #11465
@dayglo could you please retry this after updating your az version to 2.0.77? I am not able to reproduce but would like to see if recent builds resolves this given your version is a bit old.

[2019-12-05 00:05] jluk commented on #10812
We're looking into this issue - @palma21 fyi

[2019-12-05 00:19] ricardolupo opened #11478 "Error when creating an aks cluster and passing a public key"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --ssh-key-value {} --location

[2019-12-05 00:43] stevengum commented on #11433
Instead of the commands you used above, you would do the following:

### Create App Service plan and Web App for hosting the bot:
[code]

As an example we'll use [these keys](https://github.com/microsoft/BotBuilder-Samples/blob/master/samples/javascript_nodejs/11.qnamaker/.env#L3) from the QnAMaker sample. You should use the keys that your bot/app looks for in the Application Settings.

#### Confi

[2019-12-05 00:51] jluk commented on #11456
@AmitBaranes can you share the command you ran? I am unable to reproduce with the command provided in the error message.

[code]

[2019-12-05 01:36] allegradomel commented on #10917
@BastienPateyron, thanks for your patience. This now has the attention of the SDN team and will be updated soon.

[2019-12-05 02:03] #10694 closed

[2019-12-05 02:16] haroldrandom commented on #11477
@Juliehzl Please have a look

[2019-12-05 02:45] fengzhou-msft commented on #11096
Added support for eoan. Please try again.

[2019-12-05 03:02] qidydl commented on #11096
Looks to be working, I was able to update to version 2.0.77.

[2019-12-05 03:10] jiasli commented on #11436
Hi @ssanbeg, I understand your concern. `AZURE_CLI_DISABLE_CONNECTION_VERIFICATION` doesn't work for some `az storage` commands because the data-plane SDK doesn't support disabling SSL verification. I have updated the doc to reflect that. Setting `REQUESTS_CA_BUNDLE` is the only way to fix this. Please take a try and let me know if that works. Thanks for your understanding.

[2019-12-05 04:03] mohamedsaif commented on #11437
@digimaun Thanks for your feedback & support.
Executing the last mentioned command it ran successfully and file upload was configured:
az iot hub update -n MyIoTHub --set properties.storageEndpoints="{'\$default':{'connectionString':'DefaultEndpointsProtocol=https;AccountName=blahblahblah;AccountKey=abcdefgh==;EndpointSuffix=core.windows.net', 'containerName':'devices', 'sasTtlAsIso8601':'PT1H'}}"

[2019-12-05 05:11] OzBob opened #11479 "How to use the update command to update the name of a Host?"
Can this command be used to update the name of a App Service Plan?
e.g.
az appservice plan update --ids "{id}" --name "newname"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f99cdf3a-4fd3-e949-aabe-1b26fe828444
* Version Independent ID: 1c2e7517-1275-9e30-db67-393c0451055f
* Content: [az appservice plan](https://docs.

[2019-12-05 05:14] OzBob commented on #11479
also posted to SO: https://stackoverflow.com/questions/59188644/how-to-update-the-name-of-a-app-service-plan-using-azure-portal-or-cli

[2019-12-05 06:26] SphinxKnight commented on #11464
Thanks! Sorry for reading too quickly between `az postgres db create` and `az postgres server create` :s and wasting a bit of your time.

[2019-12-05 06:26] #11464 closed

[2019-12-05 07:40] alexeyshishkin01 commented on #11222
hello, all

may I ask you to read the topic from top to bottom once again

my questions are:

"...
I'd like to use only azure-cli tool to do it (no browser involved).
I cannot find in the azure-cli documentation how to do it
..."

these are general questions, not related to my particular Marketplace offer - so there should be official documentation from MSFT how to do it for any container marketpl

[2019-12-05 08:08] yugangw-msft opened #11481 "[not a bug]: test issue routing to service team (will close tomorrow)"

[2019-12-05 08:13] yugangw-msft commented on #11380
Helm SxS is not yet supported and we don't yet have plan for that. Any particular reason you like to use both?

[2019-12-05 08:14] yugangw-msft commented on #11355
We should fix it soon.

[2019-12-05 08:14] haroldrandom commented on #11481
@jsntcy Please help here.

[2019-12-05 09:43] marrobi commented on #9995
So I hit this and switched to ```az storage blob upload-batch```, which has worked fine for the last month, then today I am getting `Authentication failure. This may be caused by either invalid account key, connection string or sas token value provided for your storage account.` I updated the cli to `2.0.77`, but no change.

This is actually happening when trying to create a container.

The bit of

[2019-12-05 09:48] marrobi commented on #9995
Using --debug, get:
[code]

So:

[code]

Given I am running this all at once, not sure how this can be an issue.

[2019-12-05 10:33] marrobi commented on #9995
Interesting, using WSL, the time is incorrect:
![image](https://user-images.githubusercontent.com/17089773/70227495-9602b500-174a-11ea-811d-369ce9d3a52e.png)

[2019-12-05 10:35] ArgTang commented on #11380
In the interim we have a need to use both. We have several clusters/deploys, some we will migrate at once, some that we will not migrate for a while. This means that we have a need to use helm2 and helm3 dependent on which cluster or deploy we are working on, if az acr wont support this we have to find another service that can. We also need time to migrate some of our charts to support helm3, thes

[2019-12-05 10:37] marrobi commented on #9995
Believed root cause: https://github.com/microsoft/WSL/issues/4245

[2019-12-05 11:39] mariomann commented on #10870
Please reopen the ticket!

I've the same problem. I created redirections in azure portal and cannot delete it. The portal doesn't provide any delete function (unfortunately). So I tried to delete it with the azure cli but without any success.

With the "show" command the redirect config was found:

<img width="1675" alt="Bildschirmfoto 2019-12-05 um 12 29 46" src="https://user-images.githubusercon

[2019-12-05 13:12] alinareti commented on #11456
I ran into the same issue, when I try to run the same command I get the following output:

[code]

[2019-12-05 13:14] alinareti commented on #11456
I ran into the same issue, when I try to run the same command I get the following output:

[code]

[2019-12-05 15:42] kingalech opened #11484 "az aks commands failing with the version aks extension 0.4.23"
az aks commands failing with the version aks extension 0.4.23

## To Reproduce:
- Download latest version of aks-preview extension. In my case it was 0.4.23
- Run any az aks command and notice that the command fails with the following error:

No module named 'azure.mgmt.containerservice.v2019_08_01'
Traceback (most recent call last):
python3.7/site-packages/knack/cli.py, ln 206, in invoke
    cmd_

[2019-12-05 16:49] jmulcahy-fiscaltec commented on #9778
Also had this issue. Only an issue for me when running via our pipeline on a Linux agent. When running locally on Windows, the command does not create duplicate entries.

[2019-12-05 18:09] alexvy86 commented on #11339
I have a similar issue,  `lsb_release -cs` gives me `stretch` (Debian?), even though `uname -a` says Ubuntu, and in fact when selecting the VM for my VSO environment, there were only Ubuntu options.

![image](https://user-images.githubusercontent.com/716334/70261395-f5b38d00-1757-11ea-9a57-06525ec7913f.png)

This environment is in EastUS, in case that's relevant.

[2019-12-05 18:26] rachel-msft commented on #11464
No problem

[2019-12-05 18:49] rachel-msft commented on #11222
Thank you for clarifying that the Azure CLI step you need is how to subscribe to the marketplace offer. I have notified the container SMEs so they can better help you here.

[2019-12-05 19:31] mlathara commented on #9599
I had the same issue. @raviteja22 was on the right track that the issue is bash expands the glob pattern and passes that on to az cli -- but the issue doesn't have anything to do with blob/directory names. AZ CLI expects to see the glob pattern, but only see the expanded filenames that fit the pattern instead. Adding a backslash before the glob (maybe quotes would work as well?) fixes the problem.

[2019-12-05 19:34] digimaun commented on #11437
@mohamedsaif , thank you for getting back with your results.

I want to be clear on a couple elements to make sure we are on the same page. And ack on the Portal issue. I repro'd the same thing and the reason is because the '$default' element needs to exist in properties.storageEndpoints - then the Portal experience should work again.

First (assuming in bash environment) make sure in the last men

[2019-12-05 21:24] gogowings commented on #10509
To add more info as we have investigated this issue on azure-cli-ml side.

* This only repro in windows, not linux. In windows, it consistently repros.
* We hit the consistent repro on python 3.7.3. Not sure about other version of python.
* the access denied always happens to _ruamel_yaml.cp36-win32.pyd
* azure-cli-ml takes dependency on ruamel.yaml
* We ran procmon during 'az extension update -n

[2019-12-05 21:25] gogowings commented on #10509
Happy to share the procmon log file if that helps.

[2019-12-05 21:49] rachel-msft commented on #10614
@danielbecroft Unfortunately, our deployment train for this has experienced delays. This, combined with our no-fly zones for the Christmas/New Year season, means that this fix will be delayed to January. We apologize for the delay.

[2019-12-05 21:54] mgeorgebrown89 commented on #6397
I am having this same issue with the CLI.

az account list returns my subscriptions, but no other list command returns anything. Is there a solution to fix this? I have uninstalled and reinstalled the CLI even, but I'm getting the same issue. I have owner IAM control over all these resources as well.

[2019-12-05 22:03] mgeorgebrown89 opened #11486 "az acr list returns nothing"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
az acr list does not return anything, even though I have an ACR in the subscription that I am logged into. az resource list also returns nothing.

**Command Name**
`az acr list`

**Errors:** Here is some debug output:
[code]
The last line of the text above is in red, indicating an error, but does not give any c

[2019-12-05 22:12] rachel-msft commented on #11124
Thank you for getting in touch. We will provide a date at which the requirements documentation will be available.

[2019-12-05 22:14] mgeorgebrown89 commented on #11486
I just installed it on WSL and it's working as expected...

[2019-12-05 22:35] ahmedelnably commented on #11176
cc/ @mathewc
We also have the following issue to track having a command to get the function keys
https://github.com/Azure/azure-cli/issues/2999

[2019-12-05 22:59] anavinahar commented on #9993
#please-close

[2019-12-05 23:00] ajlam commented on #10480
Closing issue. Please reopen if required.

[2019-12-05 23:00] #10480 closed

[2019-12-06 00:52] dlepow opened #11487 "`az acr create`: Update 'sku' parameter description to remove 'Classic' as allowed value"
**Describe the bug**
`sku` parameter description in `az acr create` lists `Classic` as an allowed value but `Classic` SKU is now deprecated and unsupported.

**To Reproduce**

`az acr create` help text shows:
`  --sku               [Required] : The SKU of the container registry.  Allowed values: Basic,
                                     Classic, Premium, Standard.`

Run:

`az acr create -n myreg

[2019-12-06 01:39] #10744 closed

[2019-12-06 01:41] jeroenterheerdt commented on #10533
Closing this issue - @giovannifl do not hesitate to respond if you need more help.

[2019-12-06 01:41] jeroenterheerdt commented on #10533
@qwordy please close this issue

[2019-12-06 01:58] jeroenterheerdt commented on #10370
@ArgTang please let us know if you need more help - otherwise we will proceed to close this issue.

[2019-12-06 02:06] jeroenterheerdt commented on #10702
since this was implemented, let's go ahead and close this @jaredmoo

[2019-12-06 02:07] #11096 closed

[2019-12-06 02:21] #10533 closed

[2019-12-06 02:22] ziwa-msft commented on #10629
Hi. Sorry for the late reply on this. there is an option to user Powershell which is detailed here:
https://docs.microsoft.com/en-us/powershell/module/az.sql/new-azsqlinstance?view=azps-3.1.0

Basically you would need to create the secondary managed instance with a DnsZonePartner parameter and the rest should be just setting up FoG on them.

Cli param is not available yet but it should be soon.

T

[2019-12-06 02:41] jluk commented on #11484
@kingalech I'm unable to reproduce that issue on latest CLI and preview extension. Could you please try an upgrade and see if it continues? Also could you share the command you ran that error'd?

[code]

[2019-12-06 02:48] kingalech commented on #11484
You can run the following command to get the error:

`az aks --help`

[2019-12-06 03:19] jluk commented on #11484
Not seeing the error, could you try an upgrade of azure-cli to v2.0.77?

[code]

[2019-12-06 03:42] northtyphoon commented on #11455
@jmeijrink it looks your repository includes submodules. We are deploying a fix to support private git repo with submodule. I will let you know once we finish the deployment.

[2019-12-06 03:51] kingalech commented on #11484
@jluk Thanks, upgrading azure-cli worked for me.

Regards,
Karan

[2019-12-06 03:51] #11484 closed

[2019-12-06 04:10] #11481 closed

[2019-12-06 04:12] yonzhan commented on #9780
Can we close this issue or we still need confirm ?

[2019-12-06 04:27] haroldrandom commented on #11391
@fengzhou-msft Could you reference more issues or problems?

Offering a case, but not related to OpenSSL.
I test to install azure-cli in Ubuntu 18.04 under Python 3.4. Breaks by requests~2.22 not supported.

![image](https://user-images.githubusercontent.com/14357159/70292659-b8173880-1819-11ea-9296-afd0708f5443.png)

[2019-12-06 04:59] haroldrandom commented on #11401
Hi, @vermaaakansha --expand is used to expand the referenced resource I think.
For example, the lb may refer to other resources. But IMO, the option seems like  doesn't work for lb.

[2019-12-06 05:25] fengzhou-msft commented on #11391
Python 3.4 has been retired(https://www.python.org/dev/peps/pep-0429/#release-schedule). And this is the related [PR](https://github.com/Azure/azure-sdk-for-python/pull/6131) in azure-sdk-for-python.

@haroldrandom you already proved that azure cli is not compatible with python 3.4 now, and since python 3.4 is already dead, we should just remove it in the support list.

[2019-12-06 05:36] haroldrandom commented on #11391
But, what if we downgrade request to a lower version? It may work.

Python 3.4 has a higher market share than 3.7's. Does we have a number about how many issues runing on Python 3.4? If not so many, I think this PR is good.

[2019-12-06 06:15] #10702 closed

[2019-12-06 06:32] yugangw-msft opened #11490 ""az acr delete" should prompt"
This is a breaking change that we should emit out a warning for a few releases before commit.

[2019-12-06 06:34] #11424 closed

[2019-12-06 06:44] #10761 closed

[2019-12-06 06:55] stevengum commented on #11433
Closing issue. If the provided answer does not solve your ask, please @-mention me in this issue.

[2019-12-06 06:55] #11433 closed

[2019-12-06 06:58] stevengum commented on #11475
There is a known issue with version 2.0.76 of the azure cli. If this is the version you are currently using, please upgrade to 2.0.77 and try redeploying your bot.

[2019-12-06 07:37] meghad1906 commented on #1871
Hello I am getting the same issue. I re-install the azure cli also and while fire this command  az aks install-cli. getting below

C:\Users\dell>az aks install-cli Downloading client to "C:\Users\dell\.azure-kubectl\kubectl.exe" from "https://storage.googleapis.com/kubernetes-release/release/v1.16.3/bin/windows/amd64/kubectl.exe" Please add "C:\Users\dell\.azure-kubectl" to your search PATH so the

[2019-12-06 07:49] ArgTang commented on #10370
@jeroenterheerdt no, i think we have a workaround. thanks

[2019-12-06 08:36] holumyn opened #11493 "Create a static HTML web app in Azure tutorial error"
**Description**
I got the error message `Could not auto-detect the runtime stack of your app, see 'https://go.microsoft.com/fwlink/?linkid=2109470' for more information` when i ran the command `az webapp up --location westeurope --name myapp-landing-page` as described in the doc https://docs.microsoft.com/en-us/azure/app-service/app-service-web-get-started-html

**To Reproduce**
Steps to reproduce

[2019-12-06 09:35] haroldrandom opened #11495 "[CI] Incomplete usage of test_help_doc_arguments.py which has bug"
**Describe the bug**
According to this:
https://github.com/Azure/azure-cli/blob/863083aee43f96793ad10918487d47cfd45b8a2a/scripts/ci/test_ref_doc.sh#L22

This line, test_commands will always be default_commands
https://github.com/Azure/azure-cli/blob/863083aee43f96793ad10918487d47cfd45b8a2a/scripts/ci/test_help_doc_arguments.py#L115

So this job in CI just worked for a small part of commands.

It w

[2019-12-06 11:18] csuzw opened #11497 ""az network vnet peering list": Unexpected whitespace significance in query parameter"
## Describe the bug
I was trying to list vnet peerings filtering by a prefix using the following command:
`az network vnet peering list --resource-group my-rg --vnet-name my-vnet --query "[?starts_with(name,'prefix-')].name"`.  This failed for me with the following error: `].name was unexpected at this time.`.  I initially asked a question about this on Stack Overflow here: https://stackoverflow.c

[2019-12-06 11:47] felipefda opened #11498 "Problem to generate sas-token"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage account generate-sas`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage account generate-sas --services {} --resource

[2019-12-06 12:47] yonzhan commented on #11495
add to S163.

[2019-12-06 13:45] yonzhan commented on #11405
add to S163, high priority.

[2019-12-06 14:07] #11274 closed

[2019-12-06 14:09] yonzhan commented on #10170
add to S163.

[2019-12-06 14:14] yonzhan commented on #10169
@JasonRShaver is this issue still valid?

[2019-12-06 14:45] #3418 closed

[2019-12-06 14:49] yonzhan commented on #1149
How is the status of this issue ? Can we close it?

[2019-12-06 14:57] fearphage commented on #11096
@fengzhou-msft  Any way to add this when the release are in alpha/beta instead of almost 2 months after release? For the record, Eoan was released October 17, 2019.

[2019-12-06 15:47] fearphage opened #11499 "Feature: Add support for Ubuntu releases BEFORE they are released instead of after"
Currently after each Ubuntu release is finalized there's a ticket added saying the cli doesn't work for that release:

* 19.10: #11096
* 19.04: #10198
* 18.10: #7776
* 18.04: #6383

If you added the distro while it was in alpha/beta perhaps, this has potential to cut down on at least 2 tickets every year.

[2019-12-06 16:53] jeroenterheerdt commented on #10370
@jiasli please go ahead and close this.

[2019-12-06 17:10] gettek commented on #10715
Have found a work around with `/qb TARGETDIR=$env:APPDATA\azure-cli` !!:

[code]
Thanks for the help

[2019-12-06 17:10] #10715 closed

[2019-12-06 17:29] DillyBabu commented on #9585
Hello Everyone,
I also had face the same issue, but using a work around I'm able to create the cluster.
Real problem: when exporting the principal id to a variable it is formatted by both single quotes and double quotes.
For ex: ' "xxxxx-xxxx-xxxx-xxxx" '
So, after removing the quotes using Linux command and able to query the service principal without any issues.

[2019-12-06 17:43] yorek commented on #10975
Closing as moved the issue to a different tracking system

[2019-12-06 17:43] #10975 closed

[2019-12-06 17:43] yorek commented on #10991
Closing as moved the issue to a different tracking system

[2019-12-06 17:43] #10991 closed

[2019-12-06 18:00] yugangw-msft commented on #11490
Will make the change ~ February

[2019-12-06 18:15] yugangw-msft commented on #11487
should fix for this release

[2019-12-06 18:28] yugangw-msft commented on #11222
This is an ask on command line support to accept market place offer. Right now, there is a VM command of `az vm image accept-terms` accomplishing a similar thing, but there isn't one for general purpose.

@yonzhan, I suggest we prioritize this work.

[2019-12-06 18:29] dlepow commented on #11469
Including ACI PMs:
#assign:@dkkapur
#assign:@macolso

[2019-12-06 20:28] jonotto commented on #11369
Here's a real-world scenario where "something" would be useful ... Global Administrators (and others with permissions at Tenant Root) can view all subscriptions associated with the AAD tenant. In a scenario where we want to programmatically detect the creation of non-EA subscriptions or simply to run a query against these subscriptions, we currently have no means of doing so via CLI (without query

[2019-12-06 20:41] jackchenquest commented on #11369
A user with enough permission on subscriptions level can see the subscriptions offer ID from Azure portal. On the other hand, most user don't have permission to access the billing API.

[2019-12-06 21:27] Manuelvartanian opened #11500 "az interactive error !!!! help"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2019-12-06 21:48] jpveritone commented on #10737
I hit same error during a copy `az image copy --source-object-name es7-image --source-resource-group elasticsearch-media --target-location usgovvirginia --target-resource-group veritone-images` gave me ```Getting os disk id of the source vm/image
Data disks in the source detected, but are ignored by this extension!
Creating source snapshot
Getting sas url for the source snapshot with timeout: 3600

[2019-12-06 22:22] rachel-msft commented on #11124
We expect the update in the document to be available in January.
(Internal tracking number: 551931)

[2019-12-06 22:39] alexeyshishkin01 commented on #11222
another stuff is about finding Container offer via CLI, it's possible to do for VM offers

[2019-12-07 01:36] mhdubose commented on #2944
Just ran into this myself. AKS creates clusters with server kubernetes version 1.13.12 while the kubectl version pulled down by install-cli is version 1.16.3. These two are not completely compatible. As the issue [here](https://github.com/kubernetes/kubectl/issues/675) shows, kubectl needs to be within +/- 1 minor version of the server for compatibility.

[2019-12-07 01:42] yonzhan commented on #11499
Thanks for the good suggestions. We will take a look and plan accordingly.

[2019-12-07 01:45] #10370 closed

[2019-12-07 04:12] haroldrandom commented on #11500
@jiasli Please help here

[2019-12-07 04:14] haroldrandom commented on #11498
@jsntcy Please take a look

[2019-12-07 04:19] haroldrandom commented on #11497
@MyronFanQiu Please take a look

[2019-12-07 12:30] ados1991 commented on #6876
You can use this https://github.com/ados1991/terraform-azure-Get-IpAvailablesAddressesSubnet

[2019-12-08 01:07] eltoncarr opened #11506 "is --os-family 6 option supported?"
For az batch pool create --os-family , the documentation shows that accepted values are: {2, 3, 4, 5}. Meanwhile, the documentation describes --os-family 6 as " 6 - OS Family 6, equivalent to Windows Server 2019". If option 6 is available, you may want to add it to the acceptable values or remove the option since if it is not available. As it stands, the doc creates a bit of confusion on support f

[2019-12-08 04:42] darrenhicks commented on #10737
I am trying to resize an Azure disk following this guide
https://social.technet.microsoft.com/wiki/contents/articles/52487.azure-vm-decrease-the-disk-size.aspx
Using the this power shell.
https://github.com/jrudlin/Azure/blob/master/General/Shrink-AzDisk.ps1

I an getting the Required parameter 'storageAccountId' is missing (null)

[2019-12-08 06:18] panchagnula commented on #11340
I am unable to repro this. Can you re-try with latest version of CLI 2.0.77 & if you still repro run command with --debug flag & share the details.  Thanks!

[2019-12-08 06:20] panchagnula commented on #11454
@nilsga thanks for reporting can you ask you run this command with --debug flag & share the trace excluding any sensitive information? I am trying to get the full error from the API if possible. Thanks.

[2019-12-08 09:05] gurupasupathy commented on #10569
I am able to repro this issue. I used the below to create a cluster and got the error. The addon I tired for was http_application_routing

az aks create --resource-group RG-XX-XX --name myAKSCluster --service-principal xxxxxxxxxxxxxxxxxxx --client-secret xxxxxxxxx --node-count 1 --enable-addons http_application_routing`

'registrationState'
Traceback (most recent call last):
  File "C:\Program Fil

[2019-12-08 09:43] yonzhan commented on #11222
add to S163.

[2019-12-08 09:49] yonzhan commented on #10137
add to S164.

[2019-12-08 09:55] yonzhan commented on #10076
add to S164.

[2019-12-08 09:56] yonzhan commented on #10041
@colemickens was your issue resolved?

[2019-12-08 10:38] yonzhan commented on #10017
add to S164.

[2019-12-08 10:41] yonzhan commented on #10016
add to S164.

[2019-12-08 10:43] #9980 closed

[2019-12-08 10:44] yonzhan commented on #9916
add to S164.

[2019-12-08 10:47] #9882 closed

[2019-12-08 10:48] yonzhan commented on #9877
add to S164.

[2019-12-08 10:50] yonzhan commented on #9836
add to S164.

[2019-12-08 10:52] yonzhan commented on #9831
add to S164.

[2019-12-08 10:55] #9813 closed

[2019-12-08 10:56] yonzhan commented on #9798
add to S164.

[2019-12-08 10:57] yonzhan commented on #9791
add to S164.

[2019-12-08 10:59] yonzhan commented on #9781
add to S164.

[2019-12-08 11:01] yonzhan commented on #9605
add to S164.

[2019-12-08 11:02] yonzhan commented on #9734
add to S164.

[2019-12-08 11:04] yonzhan commented on #9535
add to S164.

[2019-12-08 11:06] yonzhan commented on #9517
add to S164.

[2019-12-08 11:08] yonzhan commented on #9506
add to S164.

[2019-12-08 11:10] yonzhan commented on #9427
add to S164.

[2019-12-08 11:12] yonzhan commented on #9377
add to S164.

[2019-12-08 11:13] yonzhan commented on #9342
add to S164.

[2019-12-08 11:19] yonzhan commented on #9332
add to S164.

[2019-12-08 11:22] yonzhan commented on #9277
add to S164.

[2019-12-08 11:32] yonzhan commented on #9161
add to S164.

[2019-12-08 11:33] yonzhan commented on #9270
add to S164.

[2019-12-08 11:35] yonzhan commented on #9157
add to S164.

[2019-12-08 11:38] yonzhan commented on #9662
add to S164.

[2019-12-08 11:38] yonzhan commented on #9122
add to S164.

[2019-12-08 12:23] yonzhan commented on #9034
add to S164.

[2019-12-08 12:24] yonzhan commented on #9013
add to S164.

[2019-12-08 12:25] OzBob commented on #11479
What would be also awesome. Is that if the Docs were to include how to

CHANGE app Service plan for a WebApp,

then it would work around a bug in the Azure Portal.

[2019-12-08 12:26] yonzhan commented on #8930
add to S164.

[2019-12-08 12:27] yonzhan commented on #8923
add to S164.

[2019-12-08 12:28] yonzhan commented on #8805
add to S164.

[2019-12-08 12:30] yonzhan commented on #8891
add to S164.

[2019-12-08 12:31] yonzhan commented on #8768
add to S164.

[2019-12-08 12:32] yonzhan commented on #8727
add to S164.

[2019-12-08 12:34] yonzhan commented on #8662
add to S164.

[2019-12-08 12:35] yonzhan commented on #8631
add to S164.

[2019-12-08 12:41] yonzhan commented on #8582
add to S164.

[2019-12-08 12:42] yonzhan commented on #8560
add to S164.

[2019-12-08 12:44] yonzhan commented on #8531
add to S164.

[2019-12-08 12:46] yonzhan commented on #8528
add to S164.

[2019-12-08 12:48] yonzhan commented on #8516
add to S164.

[2019-12-08 12:49] yonzhan commented on #8406
add to S164.

[2019-12-08 12:51] yonzhan commented on #8209
add to S164.

[2019-12-08 12:52] yonzhan commented on #8149
add to S164.

[2019-12-08 12:54] yonzhan commented on #8103
add to S164.

[2019-12-08 12:55] yonzhan commented on #8102
add to S164.

[2019-12-08 12:58] yonzhan commented on #8096
add to S164.

[2019-12-08 13:00] yonzhan commented on #8016
add to S164.

[2019-12-08 17:54] yugangw-msft commented on #11486
Since `az resource list` returns nothing and WSL works in another machine, this is not a ACR specific thing. Suggest supply full debug log for cross checking. The log provided in this issue is missing the portion that shows us the request payload

[2019-12-08 22:45] brendanlumpkin opened #11507 "az webapp up: pls help"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --name {}`

## Expected Behavior

## Environment Summary
[code

[2019-12-09 01:35] jiasli commented on #11497
This is a Windows PowerShell issue. We have doc'ed it at https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#argument-parsing-issue-in-powershell. To workaround it, please insert `--%` after `az` to force PowerShell to treat the remaining characters in the line as a literal.

[2019-12-09 01:41] #11018 closed

[2019-12-09 02:02] haroldrandom commented on #11078
I could update vmware-cs
![image](https://user-images.githubusercontent.com/14357159/70400888-10dc1080-1a68-11ea-8f8f-fef45f6d7196.png)

I encountered the same error as yours when I was tring to delete and update azure-cli-ml extension under PowerShell.

It's related to a file named _**_ruamel_yaml.cp36-win32.pyd**_ , I can not see their code, so please service team of Machine Learning take a look

[2019-12-09 02:02] rogeraustin opened #11509 "az storage copy does not preserve sparseness of page blobs copied between storage accounts"
I have used az storage copy to copy a VHD page blob between storage accounts (same region and subscription). The VHD has a nominal size of 127 GiB. The 'used capacity' metric for the source account shows that the blob uses about 6 GiB whereas the same metric for the destination account shows it using the full 127 GiB. The calculation described in https://docs.microsoft.com/en-us/azure/storage/scri

[2019-12-09 02:05] rogeraustin commented on #11509
I have just noticed, under the closed issues on this page, that az storage copy uses azcopy under the hood, so this is the same issue as https://github.com/Azure/azure-storage-azcopy/issues/391.

[2019-12-09 02:24] jiasli commented on #11500
Same as https://github.com/Azure/azure-cli/issues/11042

`interactive` has been updated to 0.4.3. Please try
[code]

[2019-12-09 02:35] haroldrandom commented on #11486
Could you please proide more info as @yugangw-msft suggested?

[2019-12-09 02:46] panchagnula commented on #11507
@brendanlumpkin the command az webapp up needs to run from the context of the dir your code is  located on your local machine is this how you are running it?

[2019-12-09 02:48] fengzhou-msft commented on #9791
Please try with latest 2.0.77. The dependency of `python-virtualenv` is removed and it only depends on `python3` now.

[2019-12-09 02:58] #11356 closed

[2019-12-09 03:15] jiasli commented on #7989
Please use pure ASCII as computer name to avoid Python's decoding problems.

[2019-12-09 03:15] #7989 closed

[2019-12-09 03:40] bim-msft commented on #8805
@justSteve Hi, I have reproduced your scenario. If you are a guest of this group, your upn looks like `aaa_bbb.com#EXT#@ccc.ddd.com` .
To find out your upn, please use the command `az ad user list --display-name "Your Name"`.
Any questions, please feel free to leave a comment here.

[2019-12-09 03:41] Juliehzl commented on #11097
Hi @MadDenker, you can find the blob storage structure [here](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blobs-introduction#blob-storage-resources). Blob Containers in Storage Explorer is just container in storage account.
If you want to delete a blob in container, you should use `az storage blob delete`. If you want to delete a container including all the blobs inside, you can u

[2019-12-09 03:41] #11097 closed

[2019-12-09 04:30] #10846 closed

[2019-12-09 04:36] haroldrandom commented on #11509
@jsntcy Please take a look

[2019-12-09 04:38] haroldrandom commented on #10870
@mariomann What about show by name?

[2019-12-09 05:05] #11391 closed

[2019-12-09 05:18] jaredmoo commented on #10413
If you would like SQL team to investigate, please give more info on which tests failed and give output & debug traces.

[2019-12-09 05:26] jaredmoo commented on #7678
Thank you for the suggestion! This was an intentional design decision. A database is uniquely identified by resource group name, server name, and database name. Therefore, these parameters are the ones that are needed for both source & dest. All other arguments specified for `az sql db copy` are pertaining to the destination.

[2019-12-09 05:26] #7678 closed

[2019-12-09 05:32] jaredmoo commented on #5490
This issue was filed assigned to myself and does not need urgent attention.

[2019-12-09 05:35] jaredmoo commented on #7800
Sounds like this is resolved.

[2019-12-09 05:35] #7800 closed

[2019-12-09 05:52] yonzhan commented on #7996
add to S164.

[2019-12-09 05:54] yonzhan commented on #7978
add to S164.

[2019-12-09 05:56] yonzhan commented on #7907
add to S164.

[2019-12-09 05:57] yonzhan commented on #7877
add to S164.

[2019-12-09 06:01] jiasli commented on #11008
First, PowerShell implicitly 'unboxes' a single-item array to a single object. If `appRoles` contains only one item, using `| ConvertTo-Json` will generate an object instead of an array for [`appRoles`](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps). See [ConvertTo-JSON an array with a single item](https://stackoverflow.com/questions/18662967/

[2019-12-09 06:07] jiasli commented on #11008
First, PowerShell implicitly 'unboxes' a single-item array to a single object. If `appRoles` contains only one item, using `| ConvertTo-Json` will generate an object instead of an array for [`appRoles`](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps). See [ConvertTo-JSON an array with a single item](https://stackoverflow.com/questions/18662967/

[2019-12-09 06:09] yonzhan commented on #7857
add to S164.

[2019-12-09 06:11] yonzhan commented on #7829
add to S164.

[2019-12-09 06:13] yonzhan commented on #7753
add to S164.

[2019-12-09 06:16] yonzhan commented on #7706
add to S164.

[2019-12-09 06:17] yonzhan commented on #7692
add to S164.

[2019-12-09 06:19] yonzhan commented on #7656
add to S164.

[2019-12-09 06:20] yonzhan commented on #7616
add to S164.

[2019-12-09 06:22] yonzhan commented on #7613
add to S164.

[2019-12-09 06:23] yonzhan commented on #7594
add to S164.

[2019-12-09 06:27] yonzhan commented on #7523
add to S164.

[2019-12-09 06:33] haroldrandom opened #11510 "[CI] Remove files that related to .travis.yaml"
**Is your feature request related to a problem? Please describe.**
Since Travis disabled from https://github.com/Azure/azure-cli/pull/11442/ and run parallelly with ADO for a while.
Should remove those uncessary files.

**Describe the solution you'd like**
Delete those files memtion in .travis.yaml but not in ADO.
- scripts/ci/build_droid.sh
- scripts/ci/publish.py
- scripts/ci/publish.sh
- .travi

[2019-12-09 06:43] jalajmsft commented on #10773
This issue also seems to be happening intermittently for **webapp deployment**.

`az webapp deployment source config-zip -g {} -n {} --src {}`

This was raised at [azure-pipelines-tasks repo](https://github.com/microsoft/azure-pipelines-tasks/issues/11862).

[2019-12-09 06:54] yonzhan commented on #7465
add to S164.

[2019-12-09 06:57] yonzhan commented on #7447
add to S164.

[2019-12-09 06:57] fengzhou-msft commented on #11317
Close due to inactivity. Feel free to reopen the issue if you still have any related issues.

[2019-12-09 06:58] yonzhan commented on #7441
add to S164.

[2019-12-09 07:00] ssripadham commented on #11462
Please update

[2019-12-09 07:01] #11317 closed

[2019-12-09 07:02] bim-msft commented on #11084
@leighghunt Thanks for your feedback, this advice sounds reasonable, I'll make some modifications in documents and help messages.

[2019-12-09 07:16] fengzhou-msft commented on #11339
@alexvy86 I set up a vsonline VM and can reproduce your result. azure-cli can be installed successfully.

This is more likely an issue with the VM system implementation for `lsb_release` and `uname`. There's a discrepancy here.

[2019-12-09 07:29] stmaute opened #11511 "Question: Use Host header from RequestHeaders"
I want to create a custom rule which checks if the Host header is set to a specific hostname. How can this be done via cli?
I can use '--match-label RequestHeaders'. But how do I specify the selector 'Host' via cli?

Thanks in advance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eae3c03c-db11-6d8e-a701-ef1a95e588db

[2019-12-09 07:39] Manuelvartanian commented on #11500
it is working fine now GOD bless :)

[2019-12-09 07:39] #11500 closed

[2019-12-09 08:26] #9329 closed

[2019-12-09 08:41] fengzhou-msft commented on #11212
It seems that the command you typed(`az extension remove -–name functionapp`) includes a symbol that is not '-', so name option is not recognized.

[2019-12-09 08:42] #11084 closed

[2019-12-09 08:44] mariomann commented on #10870
Hi @haroldrandom

the show by name command? Has the same output like the show by ids command.

<img width="1450" alt="Bildschirmfoto 2019-12-09 um 09 40 38" src="https://user-images.githubusercontent.com/3458678/70420612-657f8b80-1a68-11ea-8a9d-7634ca0ae8ef.png">

Delete a config rule with the name is also not possible.

[2019-12-09 09:03] leyshon opened #11513 "az group create --tag behaviour"
**Describe the bug**
If you execute `az group create -n my-test-rg -l northeurope` against a resource group which already has tags, then the tags are cleared.

**To Reproduce**
`az group create -n my-test-rg -l northeurope --tags test_tag`
See that the group is created with the tag
`az group create -n my-test-rg -l northeurope`
See that the group has its tag removed

**Expected behavior**
The tag

[2019-12-09 09:25] haroldrandom commented on #11510
As a follow up of https://github.com/Azure/azure-cli/pull/11442

[2019-12-09 09:26] haroldrandom commented on #11513
@Juliehzl Please have a look

[2019-12-09 11:43] yonzhan commented on #10413
@jiasli could you please provide detailed info ?

[2019-12-09 11:48] haroldrandom commented on #2824
Should this supported now?
What do you mean "multiple $ORIGIN" ?

Like this?
https://github.com/Azure/azure-cli/blob/9f43b048fae82c795c02bbfcfc4a79f9377e359b/src/azure-cli/azure/cli/command_modules/network/tests/latest/zone_files/zone5.txt#L33-L43

[2019-12-09 12:07] haroldrandom commented on #11511
Please take a look, https://docs.microsoft.com/en-us/azure/web-application-firewall/ag/custom-waf-rules-overview

Currently, variable **RemoteAddr** should take the place of your demand.
![image](https://user-images.githubusercontent.com/14357159/70434512-5b3cac00-1abf-11ea-8c35-b054a9978b5e.png)

[2019-12-09 12:18] IanKemp opened #11515 "az webapp config ssl upload: name argument seems unnecessary"
An uploaded certificate is available to all apps in the specified resource group, so the requirement to specify an app name or resources ID(s) seems irrelevant. (The HTTP request to upload the cert doesn't even use the app name, although it won't allow you to upload with a nonexistent name.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub iss

[2019-12-09 12:36] yonzhan commented on #11513
add to S164.

[2019-12-09 12:39] slideep commented on #5004
@gavinbarron care to share with rest of the classroom your solution, got this far when realized this _minor_ detail...

[2019-12-09 14:29] smandal2016 opened #11516 "getting error while assign role"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role assignment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az role assignment create --assignee {} --role {} --scope {}`

[2019-12-09 14:41] vertigo7x opened #11517 "Error updating container registry with az aks update"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update -n {} -g {} --attach-acr {}`

## Expected Behavior

## Envir

[2019-12-09 16:18] Kinjara opened #11518 "az role assignment create --resource-group with AD-group -- The api-version '2018-01-01-preview' is invalid"
azure-cli                         2.0.77

**Describe the bug**
When trying to add a Azure Active Directory-group to a role on Resourcegroup-level the response is that the API-version is not matching.

ERROR: The api-version '2018-01-01-preview' is invalid. The supported versions are '2019-11-01,2019-10-01,2019-09-01,2019-08-01,2019-07-01,2019-06-01,2019-05-10,2019-05-01,2019-03-01,2018-11-01,2018-

[2019-12-09 18:49] torosent commented on #11099
@jluk ,I was able to reproduce it with 2.0.77 in Azure DevOps Ubuntu 16.04 agent.
[code]

[2019-12-09 19:14] panchagnula commented on #5004
this should be fixed by the change https://github.com/Azure/azure-cli/pull/11429

[2019-12-09 19:17] jeroenterheerdt commented on #10821
@maboja-msft

[2019-12-09 19:18] jeroenterheerdt commented on #11223
@maboja-msft

[2019-12-09 19:18] panchagnula commented on #11515
Thanks for the feedback. We are working on improving these commands, & will take this into consideration. However, currently there are no plans to update the existing one. @madsd FYI

[2019-12-09 19:18] #11515 closed

[2019-12-09 19:24] palma21 commented on #11233
It is possible the SLB IP is just for egress.

Let me try to clarify.

AKS with Basic Load Balancer
* You can create it by passing the load balancer sku parameter
* Has implicit Egress (you won't see a public IP, although it is there on the Azure infrastructure)
* You can create private services accessible only through private IPs using the internal annotation.
https://docs.microsoft.com/en-us/azu

[2019-12-09 19:50] bradcavanagh-ffs opened #11519 "Setting date in App Service app setting converts date to different format"
When using the `az webapp config appsettings set` command to set an App Service app setting to an ISO-8601 date string (YYYY-MM-DDTHH:mm:ssZ), the date string gets converted into a date that loses time zone information and introduces uncertainty into month and date ordering.

Reproduction steps:
1) Create App Service.
2) Run the following command: `az webapp config appsettings set --name <app-serv

[2019-12-09 19:54] amolagar5 commented on #6011
I think this is not going to work right now as we are not using Web API infrastructure. try new 2018-06-01-preview version..

[2019-12-09 20:03] #11217 closed

[2019-12-09 20:25] panchagnula commented on #11519
Need to follow with the API folks on this one.

[2019-12-09 21:06] giuliov opened #11520 "The `file-snapshot` option is equivalent to _Restore_ command in Portal"
The `file-snapshot` option is equivalent to _Restore_ command in Portal but this is not clear from documentation.

Looks like that running
[code]
has the same effect restoring a file of a share to an existing snapshot version.

Furthermore searching for "restore" does not return this page, which is what one is looking for.

---
#### Document Details

⚠ *Do not edit this section. It is required for

[2019-12-09 21:10] MECHANDR commented on #9325
@archmangler MinimumTlsVersion can be changed through CLI. Sample command: `az redis update --resource-group <resource group name> --name <redis cache name> --set minimumTlsVersion=<tls version>`

[2019-12-09 21:10] #9325 closed

[2019-12-09 23:43] Juliehzl commented on #5097
Hi @bganapa Can you help check that if AzureStack metadata endpoint fill storage_endpoint now?

[2019-12-10 00:03] bganapa commented on #5097
This is the metadata endpoint, This does not include the dataplane related endpoints
https://management.azure.com/metadata/endpoints?api-version=2018-05-01

[2019-12-10 00:07] bganapa commented on #5097
in Azure stack, we explicitly ask user to provide the storage endpoint and keyvault data plane while registering the code.
az cloud register  -n <environmentname>   --endpoint-resource-manager "https://management.local.azurestack.external"  --suffix-storage-endpoint "local.azurestack.external" --suffix-keyvault-dns ".vault.local.azurestack.external" --endpoint-vm-image-alias-doc <URI of the docume

[2019-12-10 01:33] qwordy commented on #11187
The features are ready to release. Official Release: 12/17/2019.

[2019-12-10 01:45] MyronFanQiu commented on #11462
@ssripadham Sorry for the delay. I remembered that we saw these swaggers before. Well, I just checked the current status and cannot find the feature. It's planned in S163. Thanks.

[2019-12-10 01:49] #11187 closed

[2019-12-10 02:16] haroldrandom commented on #11511
Or maybe I could filter **Host** from **RequestHeaders** using RegEx?

[2019-12-10 02:18] haroldrandom commented on #11520
@Juliehzl Please take a look

[2019-12-10 02:18] haroldrandom commented on #11518
@jiasli Please take a look.

[2019-12-10 02:19] haroldrandom commented on #11516
@jiasli Please take a look

[2019-12-10 02:42] #10027 closed

[2019-12-10 03:20] jiasli commented on #11029
Please also see https://github.com/Azure/azure-cli/issues/6058#issuecomment-379888615. Make sure the permission is granted for **Azure Active Directory Graph** as Azure CLI currently uses **Azure Active Directory Graph** instead of **Microsoft Graph**.

After granting **Azure Active Directory Graph -> Directory.Read.All**, I am able to use `az ad user show --id {}` correctly.

[2019-12-10 04:44] rogeraustin commented on #11509
Reading Azure/azure-storage-azcopy#391 more closely, it seems that the sparseness issue has been largely solved in Azcopy 10.3.0. However, looking at the log files in my .azcopy directory, it seems that az storage copy is using Azcopy 10.1.0.

[2019-12-10 05:15] Juliehzl commented on #5097
After discussion with @bganapa , it is hard to fiund a way  to get the storage data plane endpoint information automatically from storage RP or ARM. @lmazuel method assumes that  there is a storage account exists, which is not expected.
In this way, we decide to keep current behavior to ask user  to provide the storage endpoint and keyvault data plane while registering the code.

[2019-12-10 05:15] #5097 closed

[2019-12-10 05:24] fengzhou-msft opened #11524 "[Breadth Coverage] Onboard NotificationHubs Commands"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Onboard NotificationHubs, the spec is [here](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/notificationhubs/resource-manager).

**Describe alternatives you've considered**

**Additional context**
Use [autorest.cli](https://github.com/Azure/autorest.cli) to auto-gene

[2019-12-10 05:37] haroldrandom commented on #11524
Plan S163?

[2019-12-10 05:48] fengzhou-msft commented on #11524
in S164.

[2019-12-10 05:50] jiasli commented on #11516
This seems to be Cloud Shell issue. Could you run `az login` and try again?

[2019-12-10 06:09] arrownj opened #11527 "[Breadth Coverage] Onboard Data Factory Commands"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
collaborate with autogen team to generate data factory extension code base automatically.

Input swagger files are located [here](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/datafactory/resource-manager).

The tool being used is [here](https://github.com/Azure/aut

[2019-12-10 06:15] fengzhou-msft commented on #11372
Close now as we resolved it in email.

[2019-12-10 06:15] #11372 closed

[2019-12-10 06:16] jiasli commented on #9345
Seems to be Cloud Shell issue and we are working on it. Please use `az login` as a workaround.

[2019-12-10 06:20] #11212 closed

[2019-12-10 07:46] qwordy commented on #9877
Can we remove the "\"? And let console auto-wrap lines.

[2019-12-10 09:35] stmaute commented on #11511
@haroldrandom Thanks for the tip. I will give it a try.

[2019-12-10 09:40] bim-msft commented on #8921
Same issue for all commands like `az keyvault key/secret/certificate list/list-deleted/list-versions`

[2019-12-10 10:03] vinnytheviking opened #11532 "az cosmosdb throws exception trying to show throughput value"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cosmosdb mongodb database throughput show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az cosmosdb mongodb database throughput sho

[2019-12-10 11:03] LukeRH commented on #11233
Great thanks for your clarification

[2019-12-10 11:03] #11233 closed

[2019-12-10 11:05] kotharij opened #11533 "Vmaas Extension List not working"
ubuntu@ubuntu$ az vmss  extension list --resource-group coke-b375c-tms-loc_gateway --vmss-name vmscaleset --subscription &lt;...&gt;
The command failed with an unexpected error. Here is the traceback:

'NoneType' object has no attribute 'extension_profile'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocat

[2019-12-10 12:04] mrajaian opened #11534 "optional claims through azure cli"
I am trying to create app registration through cli. I need to have AD return the group information as roles. I am trying to get this done by setting the optional claims additional properties as 'emit_as_roles' in manifest.json. But this is not happening. Would have been nice if there is an option to 'az ad app create --display-name testapp **_--optional-claims_** manifest.json'

I was wondering if

[2019-12-10 13:37] aamrun commented on #11340
Reproduced on Azure Cloudshell with CLI 2.0.77

`abhishek_ghosh@Azure:~$ az webapp webjob continuous list -g cnc-Abhishek -n weirdapp
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line 603, in execute

[2019-12-10 13:38] aamrun commented on #11340
With --debug

`
abhishek_ghosh@Azure:~$ az webapp webjob continuous list -g cnc-Abhishek -n weirdapp --debug
Command arguments: ['webapp', 'webjob', 'continuous', 'list', '-g', 'cnc-Abhishek', '-n', 'weirdapp', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x7fcf09540d08>, <function OutputProducer.on_global_arguments a

[2019-12-10 14:44] noamichael commented on #9442
@yugangw-msft Instead of outputting a `docker login` command, can we have a way to just expose the token? I'd like to use `skopeo` to manage images in ACR.

[2019-12-10 14:53] jdubois commented on #7131
Thank you so much @berndverst  - I didn't know about this flag, I've been stuck for hours because of this!!!
2 other important things on those runtimes:

- Some of them should be the same on Windows and Linux. "Java 11" should have the same runtime name under both, for instance.
- For Java users, the Maven plugin uses also a "runtime" flag, but it is yet another one. So this is all very misleading

[2019-12-10 17:11] jbnetapp opened #11536 "Azure Role create with the following error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role definition create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az role definition create --role-definition {}`

## Expected B

[2019-12-10 17:20] bgklein commented on #11506
This help text must have been missed when the CLI was updated. I'll go ahead and send a PR to add family 6

[2019-12-10 18:51] StarkCaptain commented on #7579
As a workaround you can use the graph api beta endpoint to create a SAML application based on the standard SAML application template ID. This will create a base SAML application in Azure AD that you can then update the SAML metadata from.

https://docs.microsoft.com/en-us/graph/api/applicationtemplate-instantiate?view=graph-rest-beta&tabs=http

The ID of the basic SAML application template from Mi

[2019-12-10 19:02] avbhaskar opened #11538 "secret name not displayed"
[Enter feedback here]
Powershell Command "Get-AzKeyVaultSecret -VaultName 'Contoso'" lists secret name where as CLI Comamnd "az keyvault secret list  --vault-name Contoso " does not list name.  Listing name of secret is super helpful for devOps pipleline automation

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39cfb8e

[2019-12-10 19:43] dashesy commented on #11236
I did a fresh install of Miniconda (latests) and Python3.

Same issue:

[code]

This is mgmt-resource version:

[code]

How to re-create:

1. Install Conda
[code]

2. Update conda

[code]

3. Install the venv and activate it:

[code]

4. upgrade pip

[code]

If your pip is broken need to use this instead:

[code]

Now install the same package that had issue, stated in the issue:

[code]

[2019-12-10 19:46] dashesy commented on #9326
Responded [here](https://github.com/Azure/azure-cli/issues/11236#issuecomment-564212694)

[2019-12-10 20:32] dashesy commented on #11236
While looking at the `pip install azure-cli` I saw some `requirement already satisfied` that were using `%APPDAATA%` path, as well as in the above trace. I noticed that even though `C:\ProgramData\Miniconda3` was used for most, suddenly there is a `C:\Users\ehazar\AppData\Roaming\Python\Python36\site-packages\six.py` which was odd.

I went back and re-installed Miniconda after manually deleting `%

[2019-12-10 20:32] #11236 closed

[2019-12-10 21:25] smalgin commented on #7411
Our deployment scripts cannot run in parallel because az CLI configuration are machine-wide. Having this will simplify our set up. Right now we have to run every deployment job in a separate container.

[2019-12-10 21:33] fisapras opened #11540 "Error when using aks update command to associate acr with aks"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update -n {} -g {} --attach-acr {}`

## Expected Behavior

## Envir

[2019-12-10 21:39] thisisbrianstewart commented on #10032
Any updates on this??  Definitely not the behavior we expected.  We've had to temporarily re-write pipeline code, which re-deploys environments using the cli for IaC, to comment out the `az functionapp create` code.

[2019-12-10 22:56] davidmosen opened #11541 "Creating Function App with custom container fails to deploy actual functions on Azure"
I'm following the instructions indicated here:
[https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image](https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-function-linux-custom-image)

The Function App gets created with `az functionapp create`, but no Function (i.e. the example MyHttpTrigger) appears in Azure Portal and, when I run

[2019-12-10 23:08] davidmosen opened #11542 "Library that requires another, both in requirements.txt for Python Function App"
Using the requirements.txt file to install the dependencies for a Python Function App can be limiting.

Say that one library (hawkeslib) requires another (Cython) to be installed first. If both are in the same requirements file, the installation of hawkeslib fails with ImportError: No module named 'Cython'.

The alternative is to use custom image to create Function Apps, but there has to be a midd

[2019-12-10 23:46] madsd commented on #10965
@Arthyon the issue has been fixed now and will be rolled out as part of 2.0.78.

[2019-12-11 00:21] yugangw-msft commented on #10243
Also consider to handling the case if --source uses the same registry, that we should error out. This happened once on our Cx

[2019-12-11 00:26] jlian commented on #11142
Looks like we agree on tracking this outside here. Closing

[2019-12-11 00:26] #11142 closed

[2019-12-11 00:28] jlian commented on #11131
@iluican can you take a look?

[2019-12-11 00:49] ssanbeg commented on #11436
Setting REQUESTS_CA_BUNDLE worked.

[2019-12-11 00:50] jlian commented on #7792
@iluican is this a bug we can fix?

[2019-12-11 00:51] shurd commented on #11430
I just ran the example from the command prompt with CLI 2.0.77 and it worked. It looks like Powershell likely parses input JSON differently. Referencing a JSON file, which is referenced in the 'help' text as a valid option, should work for both terminals. We are going to leave the example as-is for now since the solution you provided would not work in the command line.

```az cosmosdb sql containe

[2019-12-11 00:51] #11430 closed

[2019-12-11 00:56] #10778 closed

[2019-12-11 00:58] #11278 closed

[2019-12-11 01:20] johanburati commented on #9912
Ref:
- https://github.com/Azure/azure-cli/issues/9791

[2019-12-11 01:24] jsntcy opened #11543 "test triage new issue bot"
test triage new issue bot

[2019-12-11 01:32] #11543 closed

[2019-12-11 02:38] #10854 closed

[2019-12-11 02:39] haroldrandom commented on #11533
@qwordy Please take a look

[2019-12-11 02:40] haroldrandom commented on #11534
@jiasli Please take a look

[2019-12-11 02:40] haroldrandom commented on #11536
@jiasli Please take a look.

[2019-12-11 02:42] haroldrandom commented on #11538
@bim-msft Please take a look

[2019-12-11 03:04] jiasli commented on #11236
Hi @dashesy , thanks for sharing the details. This is indeed very odd to me. Azure CLI does have requirement on versions:

https://github.com/Azure/azure-cli/blob/4f89b707cc28658d41b38a1e03bb240894975f15/src/azure-cli/setup.py#L117

If the issue happens again, it will be helpful to capture all packages' install location using `pip list -v`.

[2019-12-11 03:04] jiasli commented on #11236
Hi @dashesy , thanks for sharing the details. This is indeed very odd to me. Azure CLI does have requirement on versions:

https://github.com/Azure/azure-cli/blob/4f89b707cc28658d41b38a1e03bb240894975f15/src/azure-cli/setup.py#L117

If the issue happens again, it will be helpful to capture all packages' install locations using `pip list -v`.

[2019-12-11 03:12] jiasli commented on #9326
@ThomasHantke, it seems `azure-mgmt-resource` is missing. Could you check https://github.com/Azure/azure-cli/issues/11236#issuecomment-561543508 and share the output? Thanks.

[2019-12-11 03:17] jiasli commented on #9326
@invidian, we have known issue with Arch Linux that it doesn't honor CLI's [`DEPENDENCIES`](https://github.com/Azure/azure-cli/blob/4f89b707cc28658d41b38a1e03bb240894975f15/src/azure-cli/setup.py#L55-L154). Please install with [official install methods](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest) or pip.

[2019-12-11 03:19] iluican commented on #11131
@digimaun.

[2019-12-11 03:31] jiasli commented on #9326
@invidian, we have known issue with Arch Linux that it doesn't honor CLI's [`DEPENDENCIES`](https://github.com/Azure/azure-cli/blob/4f89b707cc28658d41b38a1e03bb240894975f15/src/azure-cli/setup.py#L55-L154). Please install with [official install methods](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest) or pip.

You may contact the package maintainer at https://aur

[2019-12-11 03:37] jsntcy opened #11544 "test bot"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-11 03:40] #11544 closed

[2019-12-11 04:24] #2917 closed

[2019-12-11 05:07] haroldrandom commented on #11527
https://github.com/Azure/azure-cli-extensions/pull/1142 on going

[2019-12-11 05:16] yonzhan opened #11545 "Test Triage Label"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash o

[2019-12-11 05:17] #11545 closed

[2019-12-11 05:59] jiasli commented on #10995
+CDN module owner @hytao.

[`az cdn custom-domain enable-https`
](https://docs.microsoft.com/en-us/cli/azure/cdn/custom-domain?view=azure-cli-latest#az-cdn-custom-domain-enable-https) directly [maps to](https://github.com/Azure/azure-cli/blob/a3ed6f76283c040bc38d24458f9bf79ecfb046da/src/azure-cli/azure/cli/command_modules/cdn/commands.py#L108) Python SDK's [`enable_custom_https`](https://github.co

[2019-12-11 06:20] andyzhangx commented on #11456
@alinareti I try with version `2.0.66`, it works well, looks like it's a cli issue.

[2019-12-11 06:25] #9954 closed

[2019-12-11 06:25] #11390 closed

[2019-12-11 06:50] MyronFanQiu commented on #10078
@carlbrochu Hi. I just tried the command
[code]
and it works.
`and` is used in multiple dimensions instead of multiple condition. You can specify extra `--condition` to add more than one condition in one command.
If you still meet error, can you share the example of your command and I can have a try.

[2019-12-11 07:02] Juliehzl commented on #10924
Since Azcopy v10.3 will bring some breaking changes, we plan to add breaking changes information in this sprint in PR #11546 and will do the change in next sprint.

[2019-12-11 08:29] #8921 closed

[2019-12-11 09:28] qwordy commented on #10948
The PR is merged. You can see the new features in the new version that will be released on 12/17/2019. Look forward to your feedback.

Added `disk-encryption-set create`, `disk-encryption-set show`, `disk-encryption-set list`, `disk-encryption-set delete`, `disk-encryption-set update`
Added `--encryption-type` and `--disk-encryption-set` to `disk create`
Added `--os-disk-encryption-set` and `--dat

[2019-12-11 09:52] bim-msft commented on #7311
Fixed in #11531

[2019-12-11 09:52] #7311 closed

[2019-12-11 10:42] AmitBaranes commented on #11456
getting this exception :
![image](https://user-images.githubusercontent.com/44478617/70614728-b7184980-1c13-11ea-8556-fb73cf300012.png)

[2019-12-11 10:53] #11444 closed

[2019-12-11 10:55] haroldrandom commented on #11511
@stmaute Can it work?

[2019-12-11 12:58] makahan commented on #11100
Problem is everywere

Den ons 4 dec. 2019 kl 19:42 skrev Sisira Panchagnula <
notifications@github.com>:

[2019-12-11 13:44] strahinjanis opened #11548 "az consumption bug"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az consumption budget delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az consumption budget delete --resource-group {} --budget-n

[2019-12-11 14:17] gerhardcit opened #11549 "webapp config container set fail after network reset"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Command fails during network outage. Cannot run if again.

**Command Name**
`az webapp config container set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
-

[2019-12-11 14:42] gisairo opened #11550 "bug when trying to lauch azure cli in interactive mode on windows 10"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive --style {}`

## Expected Behavior

## Environment Summary

[2019-12-11 18:17] ajklotz opened #11552 "Error configuration function app with powershell object for --settings"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Errors configuring application settings using a powershell object

**Command Name**
`az functionapp config appsettings set`

**Errors:**
[code]

## To Reproduce:
I created a Powershell object

`$applicationSettings @(
       "name" = "value"
       "name2" = "value"
)`

- _Put any pre-requisite steps here..._
-

[2019-12-11 18:18] ajlam commented on #10218
@6heads, @shin-akuma, @rg54  - this has been fixed in our most recent deployment.

Please confirm that it works for you as well 😄

![image](https://user-images.githubusercontent.com/11048726/70648225-77dffd80-1bff-11ea-96df-7d9f5c9ed755.png)

[2019-12-11 18:21] ajlam commented on #10862
@tiago-cruz-movile - this has been fixed in our most recent deployment. Please confirm this works for you as well 😄

![image](https://user-images.githubusercontent.com/11048726/70648472-f3da4580-1bff-11ea-966a-36ba8bf276df.png)

[2019-12-11 18:29] shurd commented on #11532
Hi @vinnytheviking thank you for opening this issue. It appears from the command that you are trying to get the offer at a database level. Is this a shared throughput database? If not, then there will be no offer at the database level. Try getting the throughput at the collection level.

`az cosmosdb mongodb collection throughput show -g {} -a {} -d {} -n {}`

[2019-12-11 19:03] ajklotz commented on #11243
I need this.

[2019-12-11 19:16] ikiris04 opened #11553 "Management-group create allows MGs to be created under TenantRoot without permissions"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Users without RBAC permissions (management group contributor or otherwise) can create management groups in Tenant.

**Command Name**
`az account management-group create`

**Errors:**
No errors from the command

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as th

[2019-12-11 19:23] ajklotz commented on #11552
I'm trying to use a powershell object or json file to upload multiple application settings in a single `az functionapp config appsettings set` command as stated in this post.

https://github.com/Azure/azure-cli/issues/7245

[2019-12-11 19:44] VipinAgarwal opened #11554 "Issue while installing AKS cli - certificate verify failed: unable to get local issuer certificate"
### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**

:open_mouth:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az aks install-cli`

## Expected Behavior

A clear and concise description of what you ex

[2019-12-11 19:52] ajklotz commented on #7245
Like this

`az functionapp config appsettings set --name $functionAppName --resource-group $rg --settings "tes.t=value2" "test.1=value3" --subscription $subscriptionName`

[2019-12-11 19:55] VipinAgarwal opened #11555 "AKS cli install - SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed (_ssl.c:841)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2019-12-11 20:05] azaslonov opened #11556 "Unable to perform az apim backup"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim backup`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim backup --verbose --debug --output {} --subscription {} --resource

[2019-12-11 21:03] shin-akuma commented on #10218
Awesome! Thank you Andrea! Have a great Xmas

On Thu, 12 Dec 2019 at 07:18, Andrea Lam <notifications@github.com> wrote:

[2019-12-11 21:33] ahamad-MS commented on #10879
Adding Function servide tag to provide a way for customer to get the key programmatically as this is function app issue and not event grid specific issue (We provided a workaround through the portal but customer is looking for programmatic way to get this info).

[2019-12-11 21:39] tiago-cruz-movile commented on #10862
Working good @ajlam , thanks!

[2019-12-11 21:39] #10862 closed

[2019-12-11 21:52] rcreddy435 commented on #10879
Hi Ahamad,

**This is not a FunctionApp issue.** I am able to get the key programmatically. The issue is with the az cli command.  The command should not complain about validation hand shake, as the subscriber is a function with EventGridTrigger binding.

Expected: The az cli command should succeed and not ask for validation handshake.

az eventgrid event-subscription create --source-resource-id /

[2019-12-11 21:59] banisadr commented on #10879
Hey @rcreddy435 and @dwhanger since this was opened, we also released support for Functions as a 1st classed destination type. With this, rather than pointing to the function URI & explicitly giving the key, you can just point to the Function ARM ID like so:

az eventgrid event-subscription create --name es1 \
            --source-resource-id
        /subscriptions/{SubID}/resourceGroups/{RG}/prov

[2019-12-11 22:10] northtyphoon commented on #11455
@jmeijrink can you try rerun the task to see if it works?

[2019-12-11 22:21] fearphage commented on #11499
Sounds great.

I wish Github had a way set a reminder to check on this in March... which is a month before Ubuntu 20.04 launches.

[2019-12-11 23:07] rajarshi-singh commented on #9585
For me, I was just not passing the right value for '--clientSecret' arg during 'az aks create' command, it is supposed to be populated with the same value as 'password' field of 'az ad sp create-for-rbac' response. Once I added the right value, this issue disappeared.

[2019-12-11 23:12] alex-frankel commented on #9087
You should now be getting line and position numbers when this template is validated. @tbertenshaw If possible, can you try reproducing the issue? I will plan to close this if I don't hear back.

[2019-12-11 23:12] #9476 closed

[2019-12-11 23:27] ahamad-MS commented on #10879
Hello @rcreddy435 … I am referring to the original issue reported by @dwhanger as the request is clearly stated he needed a way to get this key programmatically. If you can share how you get it programmatically it will be great.

As for the issue you are reported, this is different than the original one and we need additional info to investigate. Can you please raise a support ticket with the foll

[2019-12-12 01:10] digimaun commented on #11131
@hochas Can you please share some details about the failing request? For example regarding the cert, is it a .pem or .cer file? How is the contend encoded? base64, binary, etc?

[2019-12-12 01:59] #8095 closed

[2019-12-12 02:57] #11151 closed

[2019-12-12 02:59] #11043 closed

[2019-12-12 03:27] bgklein commented on #11506
Fixed in #11537

[2019-12-12 03:27] #11506 closed

[2019-12-12 06:18] #10512 closed

[2019-12-12 06:28] achandmsft opened #11558 "Feedback opportunity: https://aka.ms/azcligithats"
Please tell us about your experience with the Azure CLI by filling in this survey - **[https://aka.ms/azcligithats](https://aka.ms/azcligithats)**.

A few of you who agree to be contacted will also get to talk 1:1 with one of us (from the Azure CLI product team in Microsoft).

Thanks in advance for your valuable feedback!

Regards,
Arun

Arun Chandrasekhar
Principal Program Manager
Azure CLI

[2019-12-12 06:45] jfggdl commented on #11213
Thank you for creating this issue. We  are validating this gap and we will be reporting our findings and next steps.

[2019-12-12 06:47] #10963 closed

[2019-12-12 06:56] fengzhou-msft commented on #11348
Close due to inactivity. Feel free to reopen the issue if you still have installation problems.

[2019-12-12 06:56] #11348 closed

[2019-12-12 06:58] haroldrandom commented on #11550
@jiasli Please take a look

[2019-12-12 07:00] haroldrandom commented on #11553
@jiasli Please take a look

[2019-12-12 07:04] haroldrandom commented on #11558
@fengzhou-msft Please take a look

[2019-12-12 08:39] jmeijrink commented on #11455
Hi @northtyphoon, I tried it again. Unfortunately I still get the same error. I could share output of the command running with --debug, but am not sure whether it will contain any sensitive keys.

[2019-12-12 09:49] 5sfayas opened #11560 "ON specific VM"
how do I get metrics for specific VM fro mresource group

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c722777b-9914-5c57-b869-a92bb16e159e
* Version Independent ID: 19b7e250-35b0-6e41-6662-b86791cf4c78
* Content: [az monitor metrics](https://docs.microsoft.com/en-us/cli/azure/monitor/metrics?view=azure-cli-latest#fee

[2019-12-12 13:21] danielcrisp opened #11561 "Unable to deploy zip package to Azure Functions"
## Describe the bug

I'm unable to deploy my zip package to Azure Functions

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behaviour. Note that argument values have been redacted, as they may contain sensitive information.

- Create deployment zip using VSCode extension (`func pack` under the hood)
- `az functionapp depl

[2019-12-12 13:24] kikicarbonell opened #11562 "problem to enable aks dashboard"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons --resource-group {} --name {} --addons {}`

##

[2019-12-12 13:32] Morriz opened #11563 "`az ad sp create` not idempotent"
## Describe the bug
if sp exists, the secret gets changed, resulting in downstream failures .

**Command Name**
`az ad sp create-for-rbac --skip-assignment --name $AZURE_AKS_SP_NAME --years $YEARS`

**Errors:**
[code]

## To Reproduce:
1 create the sp
2 create a cluster
3 create the sp again
4 create the cluster again

## Expected Behavior
no errors and to re-use the SP as is, without changing it'

[2019-12-12 14:33] Juliehzl commented on #11075
Hi @michaelnemtsev , as @jsntcy said, we cannot repro this issue and given no more information from you, I will close this issue and if you still have problems, feel free to reopen it or create a new one.

[2019-12-12 14:33] #11075 closed

[2019-12-12 14:35] Juliehzl commented on #11074
dupe of #11075

[2019-12-12 14:35] #11074 closed

[2019-12-12 14:39] CCostaT opened #11564 "az aks update fails with exception about missing "azure.mgmt.containerservice.v2019_08_01" module"
## Description
Running the "az aks update" command to configure ACR integration for existing AKS clusters fails with an exception about a missing "azure.mgmt.containerservice.v2019_08_01" module.

I was trying to follow this [guide](https://docs.microsoft.com/en-us/azure/aks/cluster-container-registry-integration)

**Command Name**
`az aks update`

**Errors:**
[code]

## To Reproduce:

- `az aks u

[2019-12-12 16:28] brism17 opened #11565 "Hello , I am unable to run a powershell script in your terminal. Also your command for backup in azure cli are missing a backup option for key-vault certificates."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2019-12-12 18:03] ahmedelnably commented on #10905
this only need to be added for Functions v3

cc/ @amamounelsayed @kulkarnisonia16

[2019-12-12 18:38] jlian commented on #7799
@binishababu we need a bit more detail to continue as per comment from @c-ryan-k above. In the meantime I will close the issue. Please comment back and we can reopen

[2019-12-12 18:38] #7799 closed

[2019-12-12 18:47] jlian commented on #10637
@iluican can you get someone to look at this?

[2019-12-12 18:48] jlian commented on #11438
Closing since this is a dupe of #11437

[2019-12-12 18:48] #11438 closed

[2019-12-12 18:50] jlian commented on #11437
@mohamedsaif I assume @digimaun's instructions helped? I'm closing this issue in the meantime. If you need more help just comment and we can follow up. Thanks!

[2019-12-12 18:50] #11437 closed

[2019-12-12 19:09] conerlyg opened #11567 "Azure failed Login"
Request Id: a8b0b699-8395-45a8-863e-d84fea702400
Correlation Id: 773769ed-5b9a-4291-86a1-3c30936391fe
Timestamp: 2019-12-12T19:06:42.369Z
App name: Microsoft Azure CLI
App id: 04b07795-8ddb-461a-bbee-02f9e1bf7b46
IP address: 68.90.109.215
Device identifier: c2690745-1bcb-4039-b158-81e3c2f81554
Device platform: Windows 10
Device state: Registered
Advanced diagnostics: Enable
If you plan on getting

[2019-12-12 19:10] mkbru opened #11568 "Cannot run az aks get-credentials command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --name {} --resource-group {}`

## Expecte

[2019-12-12 19:29] iluican commented on #10637
@digimaun

[2019-12-12 19:32] mathieugravil opened #11569 "az network application-gateway url-path-map create: error: 'Namespace' object has no attribute 'firewall_policy'"
Command doesn't work. It failed with error:
usage: az network application-gateway url-path-map create [-h] [--verbose]
                                                          [--debug]
                                                          [--output {json,jsonc,table,tsv,yaml,none}]
                                                          [--query JMESPATH]

[2019-12-12 19:39] ahmedelnably commented on #11552
You'll need to use the json format inside your json file and di
`az functionapp config appsettings set --name <appname> -g <resourcegroup> --settings @settingsfile.json`

The content of the json file should be
[
  {
    "name": "Setting1",
    "slotSetting": false,
    "value": "Setting1value"
  },
  {
    "name": "Setting2",
    "slotSetting": false,
    "value": "Setting2value"
  }
]

[2019-12-12 19:39] #11552 closed

[2019-12-12 19:40] ahmedelnably commented on #7245
@ajklotz

The content of the json file should be
[
  {
    "name": "Setting1",
    "slotSetting": false,
    "value": "Setting1value"
  },
  {
    "name": "Setting2",
    "slotSetting": false,
    "value": "Setting2value"
  }
]

[2019-12-12 19:52] ahmedelnably commented on #11541
Having a custom docker container is not supported on the linux consumption hosting options.
The tutorial that you are referencing is targeting Linux Premium hosting option.

[2019-12-12 19:52] #11541 closed

[2019-12-12 20:08] jluk commented on #11555
@VipinAgarwal I'm unable to reproduce your issue on cli build 2.0.77 could you please do an upgrade of the cli tool and retry?

[code]

[2019-12-12 20:09] jluk commented on #11554
Closing this as a duplicate of https://github.com/Azure/azure-cli/issues/11555

[2019-12-12 20:09] #11554 closed

[2019-12-12 20:17] conerlyg commented on #11567
gc3865@att.com

You cannot access this right now

Your sign-in was successful but does not meet the criteria to access this resource. For example, you might be signing in from a browser, app, or location that is restricted by your admin.

[2019-12-12 20:35] northtyphoon commented on #11455
@jmeijrink can you send your .gitmodules file to acrsup@microsoft.com? We can continue the investigation there.

[2019-12-12 21:31] thisisbrianstewart commented on #8018
Any updates @ahmedelnably @fabiocav  ?  The promise for this was 2019, and we're running out of 2019.  It's really challenging to have these forward-thinking azure function architectures and devops practices, etc, and still have to go to the portal to manage auth settings.  This one has really become a thorn.

[2019-12-12 22:08] kikicarbonell commented on #11456
I have a same exception after creation of new aks cluster

[2019-12-13 01:16] haroldrandom commented on #11560
@qwordy Please take a look

[2019-12-13 01:18] haroldrandom commented on #11563
@jiasli  Please take a look

[2019-12-13 01:20] haroldrandom commented on #11567
@jiasli Please have a look

[2019-12-13 01:21] haroldrandom commented on #11565
@bim-msft Please take a look

[2019-12-13 01:24] jluk commented on #11564
@CCostaT can you share the full update command you're making? Also how did you create the cluster with ACR integration was it via a different client?

cc @sauryadas wondering if this is impacted by the diff in ACR support only in core cli

[2019-12-13 01:25] jluk commented on #11562
Closing this in favor of #11456 which we are tracking, thanks for report @kikicarbonell please join us on that issue.

[2019-12-13 01:25] #11562 closed

[2019-12-13 01:31] #10218 closed

[2019-12-13 01:37] MyronFanQiu commented on #11569
@mathieugravil Hi. There is a bug in it and we have fixed it in https://github.com/Azure/azure-cli/pull/11421/files#diff-f5144ef44d9b9f354c14ee541233e678R799. The latest package will be released in the next week. Please upgrade your CLI and to see if it works. 😄

[2019-12-13 01:43] arrownj commented on #9871
yes, I also tried with above steps and reproduce this issue. It seems that there are some asynchronous tasks to do the clean up work in service side.

I also tried to create a new vmss from portal and Az PowerShell, then use the command above to list the instance count and nic count. This problem still exists in portal and Az PowerShell creation scenarios.

@shpa-microsoft Could you please help wi

[2019-12-13 04:03] bim-msft commented on #11565
@brism17 Could you please explain your questions further? Such as what command you used and the related error messages.

[2019-12-13 06:00] yungezz opened #11573 "[Engineer Excellence] automatic release pipeline"
**Describe the bug**
Today release is manual, which is error-prone and time-consuming. It's necessary to automatic release pipeline.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --ver

[2019-12-13 08:44] danialram opened #11575 "az aks browse: error: the following arguments are required: --resource-group/-g, --name/-n"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse`

## Expected Behavior

## Environment Summary
[code]
## Add

[2019-12-13 08:49] haroldrandom commented on #11573
@fengzhou-msft Please plan in S164

[2019-12-13 09:04] #10948 closed

[2019-12-13 09:24] CCostaT commented on #11564
@jluk The update command was `az aks update -n devk8sclut -g tcrg--attach-acr tcacr`
But this is unrelated. Just installing the preview feature using `az extension add --name aks-preview` will cause all `az aks` commands to fail.

Here's the output of `az aks -h`:
[code]

[2019-12-13 09:34] sandep1987 commented on #11206
az aks get-credentials -g $RESOURCE_GROUP_NAME -n $CLUSTER_NAME
invalid syntax (custom.py, line 1158)
Traceback (most recent call last):
  File "/usr/lib64/az/lib/python2.7/site-packages/knack/cli.py", line 197, in invoke
    cmd_result = self.invocation.execute(args)
  File "/usr/lib64/az/lib/python2.7/site-packages/azure/cli/core/commands/__init__.py", line 262, in execute
    self.commands_load

[2019-12-13 11:03] ravisjoshi commented on #10177
yes, it's resolved. Somehow it doesn't open in first time and when I reload the same tab again, it shows the dashboard.

[2019-12-13 11:05] #10177 closed

[2019-12-13 13:19] tamirkamara commented on #10737
@jpveritone looks like this is a new thing in version 2.0.77. Can you try to copy you image with cli version 2.0.76 or earlier?

[2019-12-13 14:13] GersonDias commented on #10191
I'm facing the same problem with the Owner role

[2019-12-13 14:26] ajklotz commented on #11243
@andigwandi Please see my github issue that was closed yesterday. They answered my question about how to use a json file to upload multiple configurations.

https://github.com/Azure/azure-cli/issues/11552#issuecomment-565154393

[2019-12-13 14:35] ajklotz commented on #11552
@ahmedelnably Two problems:

`az functionapp config appsettings set --name $functionAppName --resource-group $rg --settings @queueProcessorSettings.json --subscription $subscriptionName `

Powershell is not happy with the reference to the json file with @ symbol. Results in error

`At C:\WBSRC\wbdigital\CI\functionAppSettings.ps1:5 char:95
+ ... pName --resource-group $rg --settings @queueProcesso

[2019-12-13 15:19] ajklotz commented on #11552
I just discovered that my problem was an incorrect file name. My json file was named with an extra letter and I was able to upload the configurations, oops! But I did have to wrap the name of the json file in quotes. So this works:

`az functionapp config appsettings set --name $functionAppName --resource-group $rg --settings "@queueProcessingAppSettings.json" --subscription $subscriptionName`

[2019-12-13 15:56] seanmck commented on #11575
Yes, these arguments are required to indicate the cluster for which you want to open the dashboard. See doc here:

https://docs.microsoft.com/en-us/azure/aks/kubernetes-dashboard

[2019-12-13 15:56] #11575 closed

[2019-12-13 16:26] seanmck commented on #11568
Please upgrade your core CLI (latest version is 2.0.77) to get the SDK associated with the 2019-08-01 API version. Feel free to reopen if you still see this after doing that.

[2019-12-13 16:26] #11568 closed

[2019-12-13 16:49] evmimagina opened #11576 "pfx password lost after importing the pfx certificate"
Hi,

I feel really disappointed when the password that protects the pfx file imported to keyvault using the "az keyvault certificate import" gets lost (if you download the pfx it's no longer password protected!)
I can't find any option to protect that certificate with a password once it's uploaded.

Also trying to use "az keyvault secret set" and store the whole pfx as a secret, doesn't work eithe

[2019-12-13 17:26] ElanShudnow opened #11578 "az vm create --no-nsg"
Would be great when using az vm create if we could create a VM without any NSG.  It's getting assigned to an existing subnet using  --subnet $(az network vnet subnet show -g RGHERE--vnet-name VNETHERE -n default -o tsv --query id) that already has an NSG.  I dont' want an NSG assigned to the VM NIC directly.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft

[2019-12-13 17:29] iluican commented on #11142
az iot routing-endpoint list

will return all the information for endpoints (including name, resource group and connection string).

[2019-12-13 18:04] rodrigc commented on #11206
@sandeep1987 can you uninstall the azure-cli, and re-install azure-cli 2.0.77 which is built for Python 3?

https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?view=azure-cli-latest#november-26-2019

The extensions do not work with Python 2

[2019-12-13 19:41] jluk commented on #11564
@CCostaT I **think** the `--attach-acr` command set I believe is only in core cli, when using the extension it will check the extension cmd set and fail. Going to ask someone to look into this.

Can you try
1. Updating core cli to 2.0.77
1. Retry aks cmds with preview turned on

[2019-12-13 19:45] sandep1987 commented on #11206
@rodrigc I uninstall the azure-cli and install Python 3, still I am not able to install azure-cli, see blow log for more details, please help.

[jenkinsappuser@vmcicdjen02 ~]$ sudo yum remove azure-cli
[sudo] password for jenkinsappuser:
Loaded plugins: fastestmirror
Resolving Dependencies
--> Running transaction check
---> Package azure-cli.x86_64 0:2.0.50-1.el7 will be erased
--> Finished Depend

[2019-12-13 19:57] nzbart commented on #8631
Is there any reason that there isn't a stable version published via snap? Are the current published versions safe to use for production code?

[2019-12-13 20:55] seanmck commented on #11540
Please upgrade to the latest azure-cli version (2.0.77).

[2019-12-13 20:55] #11540 closed

[2019-12-13 20:58] rodrigc commented on #11206
1.  What version of Centos or RedHat Linux are you using?  What is the content of `/etc/os-release`?

2.  Can you `yum install python3`

[2019-12-13 21:18] sandep1987 commented on #11206
[jenkinsappuser@vmcicdjen02 ~]$ lsb_release -d
Description:    CentOS Linux release 7.4.1708 (Core)

[jenkinsappuser@vmcicdjen02 ~]$ cat /etc/os-release
NAME="CentOS Linux"
VERSION="7 (Core)"
ID="centos"
ID_LIKE="rhel fedora"
VERSION_ID="7"
PRETTY_NAME="CentOS Linux 7 (Core)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:centos:centos:7"
HOME_URL="https://www.centos.org/"
BUG_REPORT_URL="https://bugs.centos.

[2019-12-13 21:20] sandep1987 commented on #11206
Linux vmcicdjen02 3.10.0-693.11.6.el7.x86_64 #1 SMP Thu Jan 4 01:06:37 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

[2019-12-13 21:36] rodrigc commented on #11206
@sandep1987 If you can update your Centos to something newer than Centos 7.4,  `yum install python3` will work.
There is a Python3 package here: http://mirror.centos.org/centos/7/os/x86_64/Packages/

[2019-12-13 21:55] allegradomel opened #11579 "Non-Descriptive Error Message"
**Describe the bug**
Trying to improve [this error message](https://github.com/Azure/azure-cli/issues/10917). My question is:  **_Is CLI doing the validation here or is it simply passing it on from NRP_**?

**To Reproduce**
See above issue.

**Expected behavior**
See above issue.
**Environment summary**
See above issue.
**Additional context**
Working on closing our open GitHub issues over on SDN t

[2019-12-14 00:20] ssripadham commented on #11462
When does S163 ship? Where can I find CLI timelines

[2019-12-14 01:10] seanmck commented on #6811
You can now specify the listen-port for the `browse` command:

`az aks browse -n cluster-name -g resource-group-name --listen-port 8002`

[2019-12-14 01:10] #6811 closed

[2019-12-14 01:12] seanmck commented on #8642
Should be fixed with recent versions of kubectl.

[2019-12-14 01:12] #8642 closed

[2019-12-14 01:15] seanmck commented on #8746
Duplicate of #8642.

[2019-12-14 01:15] #8746 closed

[2019-12-14 01:22] seanmck commented on #8972
Looks like a python 32-bit vs. 64-bit issue. Do other az commands work? Closing for now but please reopen if this is specifically impacting the aks browse command.

[2019-12-14 01:22] #8972 closed

[2019-12-14 01:24] wy193777 commented on #7686
Still got this error now. My `az --version`:

[code]

[2019-12-14 01:28] seanmck opened #11580 "az aks browse should handle idle timeouts"
Opening a clean bug to track the fact that `az aks browse` does not currently handle the default idle timeout from the Azure load balancer (4 minutes). Reports of this problem are currently intermingled with other related issues.

Expected behavior: browse command handles idle timeouts and automatically re-establishes the proxy

Actual behavior: connection drops and dashboard is no longer accessib

[2019-12-14 01:31] seanmck commented on #7686
The resolution to this issue was specifically about not spitting out the ugly error shown above when the connection drops. We separately need to handle the connection drops. I've filed issue #11580 for that and PR #10668 is in progress to solve it.

[2019-12-14 01:37] seanmck commented on #10157
This specific error was resolved in #7686. There is still the issue of handling the connection drops, for which this is a duplicate of #11580 .

[2019-12-14 01:37] #10157 closed

[2019-12-14 01:39] seanmck commented on #10157
Duplicate of #11580

[2019-12-14 01:39] seanmck commented on #11120
This specific error was resolved in #7686. There is still the issue of dealing with idle timeout connection drops, which is covered by #11580.

[2019-12-14 01:40] #11120 closed

[2019-12-14 01:40] seanmck commented on #11120
Duplicate of #11580

[2019-12-14 01:41] seanmck commented on #10789
This specific error was handled in #7686. There is still the issue of handling idle connection drops, which is covered by #11580

[2019-12-14 01:41] #10789 closed

[2019-12-14 01:41] seanmck commented on #10789
Duplicate of #11580

[2019-12-14 01:42] seanmck commented on #10214
This specific error was covered in the fix for #7686. We still need to handle the idle timeout connection drops, which is covered by #11580.

[2019-12-14 01:42] #10214 closed

[2019-12-14 01:42] seanmck commented on #10214
Duplicate of #11580

[2019-12-14 01:49] seanmck commented on #9559
Closing stale issues. Please reopen if there is a consistent repro.

[2019-12-14 01:49] #9559 closed

[2019-12-14 04:22] yonzhan commented on #11558
Welcome to any valuable feedback to Azure CLI team.

[2019-12-14 04:45] yonzhan commented on #11573
Thanks @yungezz @fengzhou-msft to drive this engineer excellence feature to improve the whole team productivity.

[2019-12-14 05:29] yonzhan opened #11581 "Azure Identity Adoption PoC"
Since ADAL will be deprecated in favor of MSAL and will be out of support in 2 years, Azure CLI team plans to support MSAL in Mn Semester.
We plan to adopt pure azure-identity as our first choice since azure-identity already supports MSAL.

We will do a PoC using azure-identity to evaluate the feasibility and cost.
Below azure-identity is for production usage
https://github.com/Azure/azure-sdk-for

[2019-12-14 05:30] yonzhan commented on #11581
@jiasli This feature is planned in Mn Semester which is high priority.

[2019-12-14 07:28] yonzhan commented on #11462
https://github.com/Azure/azure-cli/milestones

[2019-12-14 07:50] SatishKumbari47 commented on #11142
Hello @iluican

Thanks for your reply. When I tried to create the storage endpoint with the above command(az iot hub routing-endpoint create) using the property values(endpoint-resource-group, --connection-string, endpoint-subscription-id ) from the command provided by you (az iot routing-endpoint list), I am unable to create the endpoint and getting error as "exceptionMessage:No valid combination

[2019-12-14 07:52] yonzhan commented on #11192
@shpa-microsoft, any update ?

[2019-12-14 08:31] SatishKumbari47 opened #11582 "Unable to crate storage endpoint"
When I tried to create the storage endpoint with the above command(az iot hub routing-endpoint create) using the property values(endpoint-resource-group, --connection-string, endpoint-subscription-id ) from the command (az iot routing-endpoint list), I am unable to create the endpoint and getting error as "exceptionMessage:No valid combination of account information found. If you contact a support

[2019-12-14 09:07] haroldrandom commented on #11582
@zhoxing-ms Please take a look

[2019-12-14 09:08] haroldrandom commented on #11579
@MyronFanQiu Please take a look

[2019-12-14 09:10] haroldrandom commented on #11578
@qwordy Please take a look

[2019-12-14 09:10] haroldrandom commented on #11576
@bim-msft Please take a look

[2019-12-14 09:59] SatishKumbari47 commented on #11582
@zhoxing-ms Please help me in the process of creating storage endpoint via azure cli. I need to create message routing once after creating the storage endpoint, where I stucked now.

[2019-12-14 14:07] sandep1987 commented on #11206
@rodrigc I was trying to update, it didn't help …

[jenkinsappuser@vmcicdjen02 ~]$ cat /etc/redhat-release
CentOS Linux release 7.4.1708 (Core)
[jenkinsappuser@vmcicdjen02 ~]$ sudo su -
Last login: Sat Dec 14 14:04:35 UTC 2019 on pts/0
[root@vmcicdjen02 ~]# yum check-update
Loaded plugins: fastestmirror
Loading mirror speeds from cached hostfile
 * epel: mirror.cs.princeton.edu
[root@vmcicdjen02 ~

[2019-12-14 14:11] sandep1987 commented on #11206
@rodrigc
[root@vmcicdjen02 ~]# yum clean all
Loaded plugins: fastestmirror
Cleaning repos: azure-cli base epel extras ius mysql-connectors-community mysql-tools-community mysql56-community openlogic
              : updates
Cleaning up everything
Maybe you want: rm -rf /var/cache/yum, to also free up space taken by orphaned data from disabled or removed repos
Cleaning up list of fastest mirrors
[ro

[2019-12-14 14:13] sandep1987 commented on #11206
@rodrigc
[root@vmcicdjen02 ~]# ll /etc/yum.repos.d
total 60
-rw-r--r--  1 root root  163 Dec 13 21:17 azure-cli.repo
-rw-r--r--. 1 root root 1243 Jan 12  2018 CentOS-Base.repo
-rw-r--r--. 1 root root 1309 Aug 30  2017 CentOS-CR.repo
-rw-r--r--. 1 root root  649 Aug 30  2017 CentOS-Debuginfo.repo
-rw-r--r--. 1 root root  314 Aug 30  2017 CentOS-fasttrack.repo
-rw-r--r--. 1 root root  630 Aug 30  20

[2019-12-14 14:15] iluican commented on #11142
To retrieve the storage account resource group:
az storage account show --name **storage_account_name**

(the information you need is the value of "resourceGroup" key)

To retrieve the storage account connection string:
az storage account show-connection-string --name **storage_account_name**

You can use these values to run the endpoint creation command:

az iot hub routing-endpoint create --hub-

[2019-12-14 16:44] rodrigc commented on #11206
@sandep1987 you might need to update your Centos-Base.repo file.  See: https://unix.stackexchange.com/questions/210448/centos-7-update-using-yum-update-does-not-work

[2019-12-14 17:54] sandep1987 commented on #11206
@rodrigc let me try. thank you for your help ….

[2019-12-14 19:09] ssripadham commented on #11462
Please contact Jiejiong.Wu@microsoft.com with any question

[2019-12-14 21:51] KyKenCo commented on #7799
I'm experiencing the same issue and _cannot_ resolve it with the steps outlined by @tjprescott

[2019-12-14 22:56] wmgries opened #11583 "Use the Microsoft.Storage resource provider for Azure file share management operations"
**Resource Provider**
Microsoft.Storage

**Description of Feature or Work Requested**
Today, the Azure Files CLI commands for file share management (az storage share) go through the Azure storage data plane. This causes a number of issues for customers, most notably it means customers are unable to manage their file shares if their Azure storage account is in a vnet and the client where they are r

[2019-12-15 04:01] yonzhan commented on #11583
@Juliehzl  add to S164.

[2019-12-15 04:17] #8361 closed

[2019-12-15 04:20] yonzhan commented on #9380
Close it for now. Please reopen or create another issue when it is enabled.

[2019-12-15 04:20] #9380 closed

[2019-12-15 04:21] yonzhan commented on #11157
@gucalder  and update ?

[2019-12-15 04:22] yonzhan commented on #9123
@anavinahar any update?

[2019-12-15 04:24] #10106 closed

[2019-12-15 10:41] yonzhan commented on #11078
@haroldrandom did you find who from service team can deal with this issue?

[2019-12-15 10:44] yonzhan commented on #11190
@nofunatall  any update for this issue?

[2019-12-15 10:47] yonzhan commented on #10205
any update for this issue?

[2019-12-15 10:50] yonzhan commented on #10861
any update for this issue?

[2019-12-15 10:57] yonzhan commented on #10279
What is the status of this issue?

[2019-12-15 11:04] #4499 closed

[2019-12-15 11:05] yonzhan commented on #10907
Can we close it?

[2019-12-15 11:34] #11147 closed

[2019-12-15 11:39] yonzhan commented on #10687
@Aanerud  any update for this issue?

[2019-12-15 11:39] yonzhan commented on #7294
Can we close it?

[2019-12-15 11:43] yonzhan commented on #9250
Can we close this issue?

[2019-12-15 11:46] yonzhan commented on #10856
Can we close this issue?

[2019-12-15 11:47] yonzhan commented on #9326
Can we close this issue?

[2019-12-15 11:52] yonzhan commented on #11008
Can we close this issue?

[2019-12-15 11:53] yonzhan commented on #9345
Can we close this issue?

[2019-12-15 11:54] yonzhan commented on #11516
Can we close this issue?

[2019-12-15 12:19] SatishKumbari47 commented on #11142
Hi @iluican

Thanks so much for your time and valuable response. I have used the command _az storage account show-connection-string --name storage_account_name_ to get the value for **--connection-string** and used the command _az storage account show --name storage_account_name_ to get the values for **resource_group** and used the **id** value as **--endpoint-subscription-id**.

I used these abo

[2019-12-15 12:25] smandal2016 commented on #11516
Yes, it got fixed

On Sun, Dec 15, 2019, 5:24 PM yonzhan <notifications@github.com> wrote:

[2019-12-15 13:04] #11516 closed

[2019-12-15 13:15] yonzhan commented on #11425
add to S163.

[2019-12-15 13:16] yonzhan commented on #11410
add to S163.

[2019-12-15 13:18] yonzhan commented on #11418
Can we close this issue?

[2019-12-15 13:23] yonzhan commented on #11349
@ahmedelnably  How about the status of this issue?

[2019-12-15 13:24] yonzhan commented on #11340
How about the status of this issue?

[2019-12-15 13:25] yonzhan commented on #11339
@alexvy86 any update? Can we close this issue?

[2019-12-15 13:27] yonzhan commented on #11357
add to S163.

[2019-12-15 13:28] yonzhan commented on #11287
How about the status of this issue?

[2019-12-15 13:30] yonzhan commented on #11287
How about the status of this issue?

[2019-12-15 13:32] yonzhan commented on #11327
move to S163.

[2019-12-15 13:33] #11319 closed

[2019-12-15 13:38] yonzhan commented on #11279
Can we close this issue?

[2019-12-15 19:41] dionisiovj commented on #11279
I haven't been able to test. I will do so this week and comment on the results here.

[2019-12-15 23:28] Abdelkrim opened #11584 ""az containter attach" returns `Back-off restarting failed container`"
# The issue

1. I have followed the following tutorial `Tutorial: Build and deploy container images in the cloud with Azure Container Registry Task`

https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tutorial-quick-task?source=docs#feedback

2. All actions work until the chapter **verify the deployment**

https://docs.microsoft.com/en-us/azure/container-registry/containe

[2019-12-16 01:32] yonzhan commented on #11181
How is the status of this issue?

[2019-12-16 01:37] yonzhan commented on #10945
@ahmedelnably @ankitkumarr how is the status of this issue ?

[2019-12-16 01:38] yonzhan commented on #10905
@amamounelsayed @kulkarnisonia16 how is the status of this issue?

[2019-12-16 01:39] panchagnula commented on #11279
@ammanifold can you check if this repros for you locally. I am expecting this shouldn't be an issue since if the app exists we try to use the SKU from the ASP of the APP. https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L3012

Please close this if this doesn't repro for you. thanks!

[2019-12-16 01:39] yonzhan commented on #10768
How is the status of this issue?

[2019-12-16 01:40] #10768 closed

[2019-12-16 01:43] MyronFanQiu commented on #11579
@allegradomel Hello. We simply pass this parameter to the server. The only requirement to reproduce this issue is to create a subnet with an overlapping address range on another subnet (set with the --address-prefixes option) .

[2019-12-16 01:50] #10468 closed

[2019-12-16 01:51] yonzhan commented on #10381
How is the status of this issue, can we close it?

[2019-12-16 01:59] yonzhan commented on #9291
Can we close this issue?

[2019-12-16 01:59] #9266 closed

[2019-12-16 02:01] MyronFanQiu commented on #11497
@csuzw Hello. Is your problem solved? like @jiasli said, this is a windows PowerShell issue. We have encounter this issue before so the current workaround should work for you.

[2019-12-16 02:14] haroldrandom commented on #11006
I think it's just a common connection error that can be fixed by retry and not related to azure-cli.

Maybe a network congestion.

It wored fine for me.
![image](https://user-images.githubusercontent.com/14357159/70874352-b5bc9780-1fec-11ea-9de7-2622b196bbfb.png)

Can try against the latest azure-cli?

[2019-12-16 02:19] haroldrandom commented on #11511
And another workaround for this is we can grab "Host:" via RegEx since currently there is no specific variable stands for **Host**.

[2019-12-16 02:32] #9326 closed

[2019-12-16 02:46] jiasli commented on #9143
It seems `azure-mgmt-resource` is missing. Please check https://github.com/Azure/azure-cli/issues/11236#issuecomment-564244983. As this issue is regarding an old version of Azure CLI. If the error persists, please create a new issue. Thanks.

[2019-12-16 02:46] #9143 closed

[2019-12-16 02:51] yonzhan commented on #8663
add to S163.

[2019-12-16 04:22] SatishKumbari47 commented on #11582
@haroldrandom  @zhoxing-ms

Is there someone who can help me on this issue please. That would be grateful.

[2019-12-16 04:36] yungezz commented on #6638
hi @arrownj  could you pls help to follow up on this item also? thanks.

[2019-12-16 04:37] yungezz commented on #6463
hi @panchagnula what's the new ETA on this now?

[2019-12-16 04:39] yungezz commented on #6004
hi @derekbekoe could you pls share the context of the requirement? sending telemetry to user's own AI accounts will have security/GDPR concern.

[2019-12-16 04:53] #6852 closed

[2019-12-16 05:01] robertjf opened #11585 "running `brew install wget` seems to have broken the openssl dependency for az"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
running `brew install wget` seems to have broken the openssl dependency for az.

**Command Name**
`az aks list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._

[2019-12-16 05:47] panchagnula commented on #6463
No ETA for this since there is an existing workaround. Thanks!

[2019-12-16 05:50] stmaute commented on #11511
@haroldrandom I didn't have time to test the workaround. Actually I create the WAF policy in the console and export the template which is working fine for me.
Thanks for your support.

[2019-12-16 05:56] haroldrandom commented on #11511
Feel free to reopen if any further question. :)

[2019-12-16 05:56] #11511 closed

[2019-12-16 07:39] yonzhan opened #11586 "UserAgent is not recorded in server telemetry for az login"
This is a bug in Azure CLI for server telemetry not appearing.

The root cause is because when creating the list subscription client, CLI is not calling the generalized client factory, thus configure_common_settings is not called which involves setting up user agent and additional header CommandName, ParameterSetName.

[2019-12-16 07:39] yonzhan commented on #11586
add to S163.

[2019-12-16 08:49] csuzw commented on #11497
@MyronFanQiu we worked around it by putting a random space in the query.  The suggested solution is lacking in that as far as I can tell it prevents the use of variables.  I guess as this is a powrshell rather than azure cli issue this issue should closed.  However it is very non-obvious behaviour and very difficult to search for/find the problem/solution so I feel like something needs to be chang

[2019-12-16 08:57] david-stewart-cloudknowhow commented on #4318
I don't see that a solution was provided here so I thought I'd post one:

In Azure CLI, when a Key Vault exists in a separate resource group, if you use the full Resource ID property of the Key Vault, instead of just the Key Vault name, it will work:

az vm encryption enable -g MyResourceGroupName --name MyVMName --disk-encryption-keyvault /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resour

[2019-12-16 10:07] CCostaT commented on #11564
@jluk Alright, it looks like updating to version 2.0.77 fixed the issue. I don't get any errors anymore :)
Thank you!

[2019-12-16 16:07] captainbrown commented on #11418
It doesn't seem that my method of installing python3 on RHEL 7 is effective.  This is on RHEL 7.7 after installing rh-python36 and running your suggested commands.

$ az --help
/bin/az: line 2: python3: command not found

[2019-12-16 16:09] dwhanger commented on #10879
Hi @banisadr, thanks for your response!  I tried the az eventgrid event-subscription form of the command like you have above but I get this back: 'Invalid event subscription request: Supplied URL is invalid. It cannot be null or empty and should be a proper HTTPS URL like https://www.example.com.'  I have the eventgrid extension installed at version 0.4.4...that was already the case.  What am I do

[2019-12-16 16:14] AlphaCreative-Mike commented on #10879
@banisadr - I am having the same issue as @dwhanger when using the eventgrid extension you mentioned.

[2019-12-16 16:24] subashsivaji opened #11589 "advanced filter in eventubscription update"
There is no --advanced-filter option in az eventgrid event-subscription update. Is this by design?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 63e73e1b-aad9-0ce8-be1f-a9b9d02ca6d4
* Version Independent ID: 73525c5f-94f3-1c07-e3b6-3a022aab2a10
* Content: [az eventgrid event-subscription](https://docs.microsoft.com/en

[2019-12-16 16:30] AlphaCreative-Mike commented on #10879
@rcreddy435  - I'm having he same issue as you with the az command but as @ahamad-MS mentioned,  that is a separate issue from what the OP submitted.  Have you entered a github issue for the error you are encountering?

[2019-12-16 16:31] captainbrown commented on #11418
This issue seems to be resolved for RHEL7 for the latest version of Azure CLI.  azure-cli.x86_64 0:2.0.77-1.el7

[2019-12-16 16:31] #11418 closed

[2019-12-16 17:12] rcreddy435 commented on #10879
Hi Mike,

I haven't created an issue.

Thanks
Rama

On Mon, Dec 16, 2019 at 10:30 AM AlphaCreative-Mike <
notifications@github.com> wrote:

[2019-12-16 17:14] jluk commented on #11564
Thanks for confirm @CCostaT ! Closing as a result :)

[2019-12-16 17:14] #11564 closed

[2019-12-16 17:15] jluk commented on #11585
@robertjf can you please update your build to 2.0.77 an retry some commands? It sounds like this isn't AKS specific but I'd like to see if upgrading resolves some of this since your build is old.

[2019-12-16 17:22] ahmedelnably commented on #10945
@yonzhan why did you close this issue?, @balag0 is a member of our team and we have offline discussion on this.

Please DO NOT close any issue tagged as Functions (with all the different combinations of it) without consulting with myself or @fabiocav

[2019-12-16 17:27] dwhanger commented on #10879
btw, @banisadr, the Powershell command does work....it is just cumbersome given that I have to go to the portal after the deploy, find the function app, and copy paste the eventgrid_extension key into a powershell script that I run manually after the fact.  Less than ideal for an infrastructure as code automated approach......this needs attention!!!

[2019-12-16 18:00] rcreddy435 commented on #10879
@banisadr : i have the eventgrid extension "0.4.3". I will update to "0.4.4" and try again.

[2019-12-16 18:58] derekbekoe commented on #6004
We had asks from owners of Azure CLI extensions that they wanted to be able to configure their extensions to send their own telemetry to their own App Insights accounts.

This would be similar to support that's available to VS Code extension authors - https://github.com/microsoft/vscode-extension-telemetry.

Since this issue was created a long time ago, if no further requests have been received, s

[2019-12-16 19:13] brandonh-msft opened #11590 "az ad commands fail in cloud shell instance of Windows Terminal"
Keep getting this failure:
[code]

Using Windows Terminal v0.7.3451.0

[2019-12-16 19:36] ndixita opened #11591 "AZ cli returning error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials -g {} -n {} --file {}`

## Expected Behavior

##

[2019-12-16 20:06] shpa-microsoft commented on #11192
Unfortunately this is not my area of expertise. Encourage you to try reaching out to scalesetdev DL and then a broader crphotissues DL if results arent found.

[2019-12-16 21:15] robertjf commented on #11585
@jluk thanks, that's worked a treat.

[2019-12-16 21:15] #11585 closed

[2019-12-16 21:20] alexvy86 commented on #11339
Well, I didn't report the issue... I haven't checked if the VMs created by VS Online now behave correctly (`lsb_release -cs` and `uname -a` not contradicting each other) but I'd say maybe you can close this issue, since it doesn't have to do with Azure cli directly?

[2019-12-16 21:44] xiangyuerw commented on #11576
I am confused about this, too.
I can do the following because the cert on Keyvault doesn't have password:
1) download the cert with private key without password
2) install the cert without private key on pc

Then some risks:
1) anyone who get the unprotected cert can use it for malicious purpose
2) anyone who has access to the pc can export the cert for malicious purpose.

I am curious about what'

[2019-12-16 22:05] btardif opened #11592 "az webapp up flag for html static sites"
There is no reliable detection logic for plain old html apps.

we should add a -html flag that ignores detection logic and deploys this as a html app.

See:
- https://github.com/MicrosoftDocs/azure-docs/issues/44124

[2019-12-16 22:06] btardif commented on #11592
@panchagnula can we add @ammanifold to this team so that I can assign stuff to her?

[2019-12-16 22:10] seanmck commented on #11580
Will be fixed by #10668

[2019-12-16 22:13] jluk commented on #11555
@VipinAgarwal I'm going to close this for now, but please revisit and comment if an upgrade does not fix this and I can re-open.

[2019-12-16 22:13] #11555 closed

[2019-12-16 22:23] jluk commented on #11206
@rodrigc thanks a bunch for the troubleshooting and the PR! Your help is much appreciated, @sandep1987 please let us know if your issue is resolved with the provided advice, otherwise I'll close this issue soon in favor of latest CLI builds and using python3.

[2019-12-16 22:24] jluk commented on #11191
Thanks for the report @algattik it looks like @seanmck has opened a PR to update this.

[2019-12-16 22:31] palma21 commented on #11099
@MyronFanQiu This looks Azure DevOps agent specific. Could we bring/ask the ADO team?

[2019-12-16 22:36] trvsmtchll commented on #9250
Is this fixed I tried using "az rest ..." and also got the "Unsupported resource type 'DirectoryObject' for operation 'Create'." error.

[2019-12-16 22:38] jluk commented on #10984
@zeroX-tj today all the subnets in each nodepool must align, hence the behavior you are seeing is by design. we have this functionality on the roadmap to enable a distinct subnet per pool which can be tracked here. https://github.com/Azure/AKS/issues/1338

closing as by design, with a redirection to the requested feature.

[2019-12-16 22:38] #10984 closed

[2019-12-16 22:48] jluk commented on #8705
This is supported through the GA az set, --enable-addons. We will be deprecating the connector sub cmds so closing this issue in favor of the forward looking cmdet.

[code]

[2019-12-16 22:48] #8705 closed

[2019-12-16 22:51] palma21 commented on #10191
@GersonDias do you have a commands ran list and output?

[2019-12-16 22:52] jluk commented on #9892
Closing this cli ticket in favor of the feature request on AKS.

https://github.com/Azure/AKS/issues/1344

[2019-12-16 22:56] jluk commented on #9892
Misread the issue, re-opening so we can backlog the related ticket of #1149

[2019-12-16 23:04] jluk commented on #8383
The syntax must follow the below. Closing but please open again if the cmd does not work for you.

[code]

[2019-12-16 23:04] #8383 closed

[2019-12-16 23:06] palma21 commented on #9537
@kkmsft @aramase

[2019-12-16 23:09] jluk commented on #7574
@saurabsa is it possible for you to look at this dev spaces issue as well?

[2019-12-16 23:11] jluk commented on #6595
i believe this should no longer be an issue for az aks creates, so closing as we did some work to improve RP registrations. if this is still occurring though please do re-open or comment for me to revisit.

[2019-12-16 23:11] #6595 closed

[2019-12-16 23:12] palma21 commented on #8830
https://docs.microsoft.com/en-us/azure/aks/configure-azure-cni#deployment-parameters has the docker bridge explanation.

[2019-12-16 23:12] #8830 closed

[2019-12-16 23:13] palma21 commented on #8735
Is this still happening on the latest CLI?

[2019-12-16 23:13] jluk commented on #7257
I am also unable to reproduce this on latest build 2.0.77. I am going to close this given the age of the issue, but @akoval-jsp please give it a retry and if it still occurs comment and I can re-open.

[2019-12-16 23:13] #7257 closed

[2019-12-16 23:14] palma21 commented on #8640
If it's successful it will display the new cluster config. If it isn't it will display an error message (which can vary depending on the error)

[2019-12-16 23:20] palma21 commented on #7928
Fixed

[2019-12-16 23:21] #7928 closed

[2019-12-16 23:21] jluk commented on #7388
Closing due to ACS deprecation in Jan 2020.

[2019-12-16 23:21] #7388 closed

[2019-12-16 23:22] palma21 commented on #7755
Fixed, let us know if you still see any issues

[2019-12-16 23:22] #7755 closed

[2019-12-16 23:26] palma21 commented on #7160
Currently AKS does a pre-flight validation for the exact value ARM expects

[2019-12-16 23:27] palma21 commented on #6957
Looks due to the python version the CLI expects and the one installed.
This should not happen on 2.0.77. Let us know if it's not the case.

[2019-12-16 23:28] #6957 closed

[2019-12-16 23:35] rodrigc commented on #11206
@jluk I also have a PR to drop Python 2.7 builds for azure-cli: https://github.com/Azure/azure-cli/pull/11363 if you want to help review that

I think this should be done to avoid the maintenance burden of running on Python 2

[2019-12-16 23:40] palma21 commented on #6949
This is a bit tricky

Workspace name is a field, but won't work here
Workspace ID (GUID) is a field but won't work here
The only thing that works here is workspace resource ID (which was taken from the API I believe)

Having this in mind, I think only workspace or workspace-resource might still be confusing.

Proposals:
1) Improve help text from
_The resource ID of an existing Log Analytics Worksp

[2019-12-16 23:41] jluk commented on #8849
This discussion is being discussed on #6949 I am going to close this in favor of that since we have a proposal to clarify what ID should be passed in. There are more examples on that issue as well about the proper formatting. Thanks for the report!

[2019-12-16 23:41] #8849 closed

[2019-12-16 23:45] palma21 commented on #5845
Latest CLI aks create by passing an existing SP should work fine
We added the requested clarifications into:
https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#additional-considerations

[2019-12-16 23:46] jluk commented on #5845
Closing per Jorge's comment. We are also doing a second pass on the document to include that subsequent cmds will depend on that sp stored.

[2019-12-16 23:46] #5845 closed

[2019-12-16 23:57] palma21 commented on #2944
We will update install-cli to accept cluster name and resource group, in which case it will install the latest patch compatible with that cluster.

Let us know if that sounds good.

[2019-12-17 00:00] jluk commented on #11465
Closing this as we're waiting response if an upgrade fixes it. Please give it a try and re-comment if it still reproduces.