[2020-01-13 07:40] zhoxing-ms commented on #9342
Could you tell me the specific meaning of the `managedBy` parameter in the `Resource Groups - Create Or Update` service? @Tiano2017
doc link: [https://docs.microsoft.com/zh-cn/rest/api/resources/resourcegroups/createorupdate](url)

[2020-01-13 08:11] davqu commented on #11819
Thank You. Now it runs.

[2020-01-13 08:11] #11819 closed

[2020-01-13 08:27] ogerardin opened #11829 "Failed to get acess token"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token`

## Expected Behavior

## Envir

[2020-01-13 08:53] LukeLix opened #11830 "Azure CLI installer has encountered unexpected error. The error code is 2503 and 2502."
**Describe the bug**
Encountered an error during the installation if  Azure CLI.
error log: The installer has encountered an unexpected  error installer this package. This may indicate a problem with this package. The error code is 2503 and 2502.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment

[2020-01-13 12:23] Ulrich208 opened #11831 "Unable to set indexes for CosmosDB/MongoDB collection"
## Describe the bug

When I provide index information via `az cosmosdb mongodb collection create` or `update` with the `--idx` parameter, I do not find these indexes afterwards.

The commands do not show any errors (beside the "preview" warning).

Creating the indexes with the [mongo shell](https://docs.mongodb.com/manual/reference/method/db.collection.createIndex/) works as expected. These indexe

[2020-01-13 13:23] rickardp commented on #10518
Any news on this? It blocks us from upgrading the CLI as well, as we use the data returned by validate in our scripts.

[2020-01-13 13:56] jiasli commented on #7877
This is actually a very good catch, but given the technical complication and frequency of this usage, I prefer not to fix it.

**Workaround**

Use the [config file](https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration?view=azure-cli-latest#cli-configuration-values-and-environment-variables) to configure global output format.

**Analysis**

When `az --output json {}` is run,

1. `_rud

[2020-01-13 13:56] #7877 closed

[2020-01-13 13:58] #5623 closed

[2020-01-13 13:58] #7411 closed

[2020-01-13 15:41] siddharth7 commented on #5152
please assign this to @sambitratha

[2020-01-13 17:15] river-fall opened #11832 ""az functionapp config appsettings delete" does not delete if variable is used and the line is too long"
**Describe the bug**
I am automating functionapp appsettings configuration
I would like to have a reproducible way to manage appsettings configuration from a file and overwrite them when the file changes (IaC approach)
Unfortunately (it is probably not a bug, but rather a feature) `az functionapp config appsettings set --settings @file.json` does not delete settings that are not mentioned in a fil

[2020-01-13 17:24] kalioz opened #11833 "[application-gateway] unable to update url-path-map for rule"
# Describe the bug

When I try to update an existing agw rule so that it uses a different url-path-map the change is not applied.

command used : `az network application-gateway rule update --resource-group rg-valo-test --gateway-name agw-valo-test --name vnet-valo-test-rqrt --url-path-map "maintenance-upm"`

output:
[code]

expected output (`urlPathMap.id` has changed):

[code]

az version: `2.0.

[2020-01-13 17:55] river-fall commented on #11832
Found a workaround.
[code]

[2020-01-13 19:02] Tiano2017 commented on #9342
@dandanwang0320 to help.

[2020-01-13 19:20] #10629 closed

[2020-01-13 19:26] yorek commented on #10991
Also, fixed

[2020-01-13 19:43] saisujithreddym opened #11834 "Azure Firewall with Firewall Policy"
**Is your feature request related to a problem? Please describe.**
1. Azure Firewall supports properties like application rule collection,network rule collection and dnat rule collection. We would like to extract these into a separate entity called firewall policy. So the user can just specify the firewall policy on the azure firewall instead of the rule collections. We should have a check on fire

[2020-01-13 21:05] sachinmsft opened #11836 "az acr helm push is hanging"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
1) az login
2) az account set -s 2b5419f3-0ad0-408e-9985-b2a27f4a3982
3) az configure --defaults group=sackumar_TestExecution
4) az configure --defaults acr=sackumar
5) az acr helm repo add

Error:
Unable to get AAD authorization tokens with message: An error occurred: CONNECTIVITY_CHALLENGE_ERROR
Registry '

[2020-01-13 23:14] yonzhan commented on #10518
@hjhhh3000vitae any update?

[2020-01-14 01:30] jsntcy commented on #11834
@MyronFanQiu , please help take a look, thanks.

[2020-01-14 01:31] jsntcy commented on #11833
@MyronFanQiu, please help take a look, thanks.

[2020-01-14 01:33] jsntcy commented on #11830
@fengzhou-msft, please help take a look, thanks.

[2020-01-14 01:34] jsntcy commented on #11829
@jiasli, please help take a look, thanks.

[2020-01-14 02:06] yugangw-msft commented on #11836
@sachinmsft, can you please run "az acr check-health" and share the output here?

[2020-01-14 02:30] jiasli commented on #11829
Per the error message, this seems to be connection issue. Could you run this command to see if you can connect to `https://login.microsoftonline.com`?

[code]

[2020-01-14 02:34] fengzhou-msft opened #11839 "Generate Homebrew Formula based on existing one"
Currently we generate Homebrew formula based on a [template](https://github.com/Azure/azure-cli/blob/dev/scripts/release/homebrew/docker/formula_template.txt).

From time to time Homewbrew team may help fix some issues such as https://github.com/Homebrew/homebrew-core/pull/48846, [fix for Xcode 11](https://github.com/Homebrew/homebrew-core/commit/644b9f78e7e13560f752a2e1137da754f11b8124#diff-279b5

[2020-01-14 02:46] mimckitt opened #11840 "az vm create command | Error: PropertyChangeNotAllowed"
Moving issue: https://github.com/MicrosoftDocs/azure-docs/issues/21749

We believe this is better suited here

##Details

@nealmcb
----------------

When running az vm create I get this over and over no matter what ssh key options I use.
Finally I figured out that it was just trying to tell me that I had another vm by the same name.

Deployment failed. Correlation ID: 163b5780-ef30-4a2a-8805-2db89

[2020-01-14 03:39] fengzhou-msft commented on #11830
Not sure if this would help, please try: https://www.urtech.ca/2016/02/solved-how-to-fix-error-2503-2502-on-windows-10-when-installing-software/

[2020-01-14 05:04] a9261 commented on #11832
it's look like not work  on webapp . Today
:(

[2020-01-14 05:06] jiasli commented on #9250
@trvsmtchll, could you share the command with sensitive information removed? Also what is the environment?

[2020-01-14 06:16] jiasli commented on #7656
Permissions are granted on app level. In order for an app to reset its own credential, it needs to have Application Permission **Azure Active Directory Graph > Application.ReadWrite.All permission**, then it can run `az ad app credential reset --id {}`. The side effect is it has permission to reset credentials of other apps as well.

You may also grant **Azure Active Directory Graph > Application.

[2020-01-14 06:34] zhoxing-ms commented on #10279
@Tiano2017 Because the SDK did not throw an exception when the status code of the Service returned is 400, so the exit code is 0 when the verification fails.
You can see here file:_deployments_operations.py function: validate_at_subscription_scope()
We solved the problem in azure-cli this time. Could you help to upgrade the exception handling of SDK later?

[2020-01-14 06:44] zhoxing-ms commented on #11816
@Carolyreis Is there any new progress on this issue?

[2020-01-14 06:58] haroldrandom commented on #8134
Can't reproduce, since https://github.com/Azure/azure-cli/pull/7653 has made the change to remove extension.

I can remove the extension dir, maybe you are runing on a older version azure-cli before this PR release?

Feel free tor reop if I was wrong.

[2020-01-14 06:58] #8134 closed

[2020-01-14 07:45] #10322 closed

[2020-01-14 07:54] harelbr commented on #9640
Creating a metric alert rule on a custom metric is supported starting version 2.0.71 (released on Aug 13, 2019)

[2020-01-14 07:54] #9640 closed

[2020-01-14 07:59] LukeLix commented on #11830
Thank you very mach, The problem I encountered has been resolved.

[2020-01-14 08:00] LukeLix commented on #11830
@fengzhou-msft  Thank you very mach. This problem I encountered has been resolved.

[2020-01-14 08:01] #11830 closed

[2020-01-14 08:03] bim-msft opened #11845 "Need `--full-url` param for command `az storage container generate-sas`"
We need the `--full-url` param for command `az storage container generate-sas`, just like command `az storage container blob`.

Also, can we support `az storage container url` command like `az storage blob url`?

[2020-01-14 08:17] jiasli commented on #10718
Could you please share the command your are using without the GUIDs?

[2020-01-14 08:22] jiasli commented on #11354
Thanks @g-rad, the link helps a lot! 😃

[2020-01-14 08:22] #11354 closed

[2020-01-14 08:28] jiasli commented on #10698
Hi @deaksa, may I know which platform you are using? I tested on Windows CMD, PowerShell, WSL and Cloud Shell. All work as expected:

[code]

[2020-01-14 08:29] bim-msft commented on #11771
@MauricioP92 If there are any updates on your side, please feel free to share with us, thanks.

[2020-01-14 08:30] bim-msft commented on #11771
Issue closed, feel free to reopen it if necessary.

[2020-01-14 08:30] #11771 closed

[2020-01-14 08:34] CoderKooke commented on #7447
Hi All.

I would like to contribute to this if I may.  Sadly I don't have a trace to offer but I can confirm the below:

- Container create in Portal - 25-30 seconds
- Contaniner create via CLI from local machine with direct access on owner account: 1 hour+

- Container delete in Portal - 5 seconds
- Container delete via CLI from local machine with direct access on owner account:  I gave up

Param

[2020-01-14 08:41] fengzhou-msft commented on #6003
@derekbekoe I did a [query](https://dataexplorer.azure.com/clusters/ddazureclients/databases/AzureCli?query=H4sIAAAAAAAAA6XSsU7DMBAG4L1PcXQJLFbFngEhkLqhkg0xHPZRrDpxOF+apurD49iVaEBCivBi2br/u5PlDfYPe2ok3B3vnV2cgA5CjQHt6xrjXoL4IGyb7fUT+5ZYLIWXQvtGYqUy9I6dE4XHjkk7qxj7c7R4vbngnI1NNvTZUZD1fDbnOeft1E6l1dDSbDUdJSYnXmxkZfgLZArEezLKoGDtDTmVQ7+s8eI5ATOsPOUYzfVRBPg2awoBt3OGyyAdNLVifaPOwg83COpdxaj/QydERiTpecUe

[2020-01-14 08:44] harelbr commented on #10162
This item is on our backlog to address (backlog item #5365351).

[2020-01-14 08:44] #10162 closed

[2020-01-14 09:01] ogerardin commented on #11829
Indeed there seems to be the problem, but it was working until a few days ago... I may add that I'm behind a corporate proxy.

[code]

[2020-01-14 09:05] LarsWH commented on #6545
I got this error message: " az webapp create: error: 'NoneType' object has no attribute 'location' "
When running:
- az webapp create

This solved it for me:
- az logout
- az login
- az appservice plan create (not sure if this was necessary...)
- az webapp create

[2020-01-14 09:21] haroldrandom commented on #7112
I will choose this style: `Space-separated list of tags. Use "" to clear existing tags. Usage: --tags key[=value] [key[=value] ...]`

[2020-01-14 11:05] jiasli commented on #11829
In that case, it may be possible that your corporate's default network is blocking Azure endpoints. Is https://login.microsoftonline.com/ accessible from a web browser?

If proxy is needed for internet access, you may check [Working behind a proxy](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy) and let me know if the issue is solved. Thanks.

[2020-01-14 11:16] ogerardin commented on #11829
I tried again just now and got a different error:

[code]

So I did `az login` again and then `az account get-access-token` worked as expected...

I'm a bit puzzled as to what happened there, but anyway all is good now.

[2020-01-14 12:40] sgandon opened #11849 "cli fails after install on mac with brew"
azure-cli: stable 2.0.80 (bottled), HEAD
Microsoft Azure CLI 2.0
https://docs.microsoft.com/cli/azure/overview
/usr/local/Cellar/azure-cli/2.0.79_2 (15,697 files, 146.1MB) *
  Poured from bottle on 2020-01-14 at 11:11:16
/usr/local/Cellar/azure-cli/2.0.79_2_old (15,482 files, 143.9MB)
  Poured from bottle on 2020-01-14 at 11:30:27

**Describe the bug**
when launching the az command there is the fo

[2020-01-14 12:55] ajay15283 opened #11850 "Enable update management for a VM using Azure CLI"
How to enable update management for a specific VM using azure cli

[2020-01-14 14:31] LukeCarrier opened #11851 "Commands for Key Vault Key wrap and unwrap?"
**Is your feature request related to a problem? Please describe.**
At the moment no client implementation of the Azure Key Vault Key wrap and unwrap operations is provided. This would be exceptionally helpful for users of Azure Disk Encryption where these operations are necessary to obtain the passphrases used to decrypt encrypted volumes.

**Describe the solution you'd like**

[code]

[code]

[2020-01-14 17:13] Herr-Sepp commented on #10191
I've had the same problem come up recently.
i tried to create a AKS-cluster with this command:
`az aks create  --resource-group AKS-Group  --name gp-demo-cluster  --node-count 1  --generate-ssh-keys  --attach-acr duala --kubernetes-version 1.17.0 --location westeurope --node-vm-size Standard_B2ms`

and i got

`Waiting for AAD role to propagate[################################    ]  90.0000%Could n

[2020-01-14 17:39] Herr-Sepp commented on #10191
i found the problem and the solution.
az aks was using an old serviceprizipal that i had delete some time ago.

to fix this you must delete the file "aksServicePrincipal.json" under C:\Users\XXXXXX\.azure\
after that the az aks create command run through without an error.
But the Error message make it difficult to find it.

Maybe you can check if the Service principal is valid before you try to as

[2020-01-14 18:05] nikoudel opened #11853 "Token generated with "az storage account generate-sas" don't work"
I am getting a token generated successfully like this:
az storage account generate-sas --start "2020-01-13T22:00Z" --expiry "2020-01-14T22:00Z" --permissions "c" --resource-types "o" --services "b" --account-key "key1" --account-name "&lt;acc. name&gt;" --https-only -o tsv
But when I try to use the token with "az storage blob upload ..." - it fails.
Using a token generated in Azure Portal works fi

[2020-01-14 18:12] Tiano2017 commented on #10279
@zhoxing-ms The SDK is generated. Can you let me know what needs to change in swagger?

[2020-01-14 18:58] nikoudel commented on #11853
This is the SAS token I'm getting from the Azure Portal / Shared access signature:

[code]

When I use it like this, the blob is created successfully:
[code]
But when I generate a SAS token with the CLI:

[code]
and try to use it the same way...

[code]
I'm getting a failure.

The tokens seem to be otherwise similar but the versions (sv) and date formats are different:

[code]

[2020-01-14 19:05] nikoudel commented on #11853
Never mind, I just realized I was supposed to use `--account-key "<the actual key>"` instead of `--account-key "key1"`.

Rubber duck debugging proved its efficiency once again :)

[2020-01-14 19:05] #11853 closed

[2020-01-14 19:07] zhusijia26 commented on #10242
Pending work is not in Storage team, thus removing Storage label

[2020-01-14 19:35] derekbekoe commented on #6003
@fengzhou-msft The issue was initially created a couple years ago so if things look good in telemetry, I'm happy to have the issue closed.

[2020-01-14 19:35] #6003 closed

[2020-01-14 20:38] GauravRahi opened #11855 "Issue in Browse command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --resource-group {} --name {}`

## Expected Behavior

## Env

[2020-01-14 21:02] timlawless-la opened #11856 "aks update"
### **This is autogenerated. Please review and update as needed.**
aks update not working
## Describe the bug

**Command Name**
`az aks update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update --resource-group {} --name {} --update

[2020-01-14 22:11] alexeyshishkin01 opened #11857 "az vm create preemptible VM"
**Describe the bug**
I cannot find 'az' option to create preemptible VM
pls. look here - https://cloud.google.com/preemptible-vms/

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --versi

[2020-01-15 02:12] asheniam commented on #11157
The Diagnostic Setting Category API is only available on a per Resource ID. For some resource types, it's possible that the available list of log categories may vary across each ResourceID.

If you want to see what are the supported Azure resource types for platform logs, please refer to the following documentation.

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-logs-sch

[2020-01-15 02:12] #11157 closed

[2020-01-15 02:16] jsntcy commented on #11857
@qwordy, please help take a look, thanks.

[2020-01-15 02:17] asheniam commented on #11611
There is a new feature called subscription diagnostic settings released in Azure Portal to route Activity Logs to customer storage, customer EventHub, and Log Analytics.  This experience is currently in preview and over time, it will replace the existing log profile experience.  For created log profiles, you will need to refer to the legacy Portal experience described in the below link to view the

[2020-01-15 02:18] jsntcy commented on #11851
@bim-msft, please help take a look, thanks.

[2020-01-15 02:19] jsntcy commented on #11850
@qwordy, please help take a look, thanks.

[2020-01-15 02:20] jsntcy commented on #11849
@fengzhou-msft, please help take a look, thanks.

[2020-01-15 02:21] jsntcy commented on #11840
@qwordy, please help take a look, thanks.

[2020-01-15 02:46] #7112 closed

[2020-01-15 02:51] yugangw-msft commented on #11023
We can live with this since we don't have user feedback on this and we already output a warning to tell people we are generating passwords

[2020-01-15 02:51] #11023 closed

[2020-01-15 02:52] #6371 closed

[2020-01-15 02:54] qwordy commented on #11857
I find some useful articles:
https://azure.microsoft.com/en-in/blog/low-priority-scale-sets/
https://spotinst.com/blog/amazon-ec2-spot-vs-azure-lpvms-vs-google-pvms-vs-ibm-transient-servers/

There is a parameter in vm create and vmss create:
--priority
Priority. Use 'Spot' to run short-lived workloads in a cost-effective way. 'Low' enum will be deprecated in the future. Please use 'Spot' to deplo

[2020-01-15 03:12] zhoxing-ms commented on #10279
Please see here: [code link](https://github.com/Azure/azure-sdk-for-python/blob/master/sdk/resources/azure-mgmt-resource/azure/mgmt/resource/resources/v2019_10_01/operations/_deployments_operations.py#L2898)
I think it might be better to change this to `if response.status_code not in [200]:`

[2020-01-15 03:40] zikalino opened #11861 "[Breadth Coverage] attestation"
This is one of the simple services we'll use for testing PoC/ vNext autogen.
I will add more details later.

[2020-01-15 03:40] zikalino opened #11862 "[Breadth Coverage] mixed reality"
This is one of the simple services we'll use for testing PoC/ vNext autogen.
I will add more details later.
Will need support from Azure CLI team to merge it.

[2020-01-15 04:13] thisisbrianstewart commented on #10032
Any updates on this bug?  The cli deletes running functionapp packages when re-running the create command.  It is not idempotent.

[2020-01-15 05:41] thisisbrianstewart opened #11863 "az functionapp create is not idempotent"
**Describe the bug**
The `az functionapp create` command is not idempotent, which breaks the guidelines.  If there is a function app running from package, running `az functionapp create` removes the deployed package (or at least the mechanism that wires the deployed package to the app).

**To Reproduce**

1. Create functionapp with cli.  `az functionapp create -g test --consumption-plan-location c

[2020-01-15 06:08] panchagnula commented on #5004
Closing since this change is now merged

[2020-01-15 06:08] #5004 closed

[2020-01-15 06:10] Drewm3 commented on #11316
NULL is a valid response for power state. There are instances where the control APIs are unable to get the authoritative power state from the underlying services which will result in NULL being returned for the power state. This is never a long term expected response, but clients must be able to support NULL being returned for the power state. Please see the related issue for additional details: h

[2020-01-15 06:10] #11316 closed

[2020-01-15 07:21] qwordy commented on #11850
Do you mean https://docs.microsoft.com/en-us/azure/automation/automation-update-management?
It's not supported in Azure CLI yet. We have planned to support it.
You can use PowerShell, .NET, or REST. Click "Reference" in the left column of the page of above link.

[2020-01-15 07:22] qwordy commented on #11850
Please add the top-level label "Compute"

[2020-01-15 07:24] qwordy commented on #10551
@danielsollondon
We have published commands of image builder. You can try them and give feedback. Thanks.
https://docs.microsoft.com/en-us/cli/azure/image/template?view=azure-cli-latest

[2020-01-15 07:25] qwordy commented on #11801
The features have been published in Azure 2.0.80.

[2020-01-15 07:25] #11801 closed

[2020-01-15 08:59] fayora commented on #9867
Please update us! This is driving me crazy... Az CLI still broken... Az PSh still broken... *sigh*

[2020-01-15 09:15] qwordy commented on #10986
I find different property names in responses, diskIOPSReadWrite, diskIopsReadWrite, diskMBpsReadWrite diskMbpsReadWrite. Can you help confirm?

[2020-01-15 09:59] yonzhan commented on #11845
add to S165.

[2020-01-15 10:08] yungezz commented on #11316
thanks @Drewm3 for the info. what's the suggested status to be showed to end user if NULL from service?

[2020-01-15 11:15] jiasli commented on #7613
Hi @ppanyukov, thank you very much for the detailed summary.

The reason why `az keyvault create` zaps existing access policies is because `accessPolicies` is a property of [Vaults - Create Or Update REST API](https://docs.microsoft.com/en-us/rest/api/keyvault/vaults/createorupdate)'s request body. Even though each API call is idempotent, `az keyvault create` builds a brand new request body and th

[2020-01-15 11:27] alexeyshishkin01 commented on #11857
hello, all, thanks for that!

corresponding documentation needs to be updated:
https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-create

1)
--priority
accepted values: Low, Regular, Spot
what exactly do they mean?
what is the default value?

2)
--eviction-policy
accepted values: Deallocate, Delete
what is the default value?

I did basic tests:

root@Alexey-HP:~# az vm show

[2020-01-15 11:28] jiasli commented on #11829
This may be due to some change on your company's directory. Re-login is the typical solution to solve such kinds of issues. Glad to know it is working for you. 😃

[2020-01-15 11:28] #11829 closed

[2020-01-15 11:51] zhoxing-ms commented on #9342
@dandanwang0320 Please take a look. I don't think the description of the `--managedBy` parameter in the document is clear what type the ID it is. Could you give a specific example for it?

[2020-01-15 13:21] jiasli commented on #11808
`az configure --defaults` is for command parameters. Global parameters like `--output` can be configured under the [config file](https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration?view=azure-cli-latest#cli-configuration-values-and-environment-variables)'s `[core]` section:

[code]

[2020-01-15 14:11] collinstevens commented on #9972
@panchagnula I am still experiencing this issue on version 2.0.77.

I have an App Service Environment in rg-general.
I have an App Service Plan in rg-general.
I have an App Service in rg-app named app-myApp.
I have uploaded a certificate to rg-general and `az webapp config ssl list -g rg-general` displays the certificate with a thumbprint of `F1B33D637F075385ED40DF3D31F9C6CE2D545009`

Attempting t

[2020-01-15 14:27] collinstevens opened #11867 "az webapp config ssl import assumes the key vault is in the resource group of the web app"
**Describe the bug**
`az webapp config ssl import` assumes the key vault is in the resource group of the web app.
An error is output describing that the key vault was unable to be found within the resource group of the web app.

**To Reproduce**
1. Create a key vault named kv-key-vault in resource group rg-key-vaults
2. Upload a certificate to the certificate store of the key vault kv-key-vault na

[2020-01-15 14:31] heoelri commented on #10400
I spent some time during the last days with problem. We're trying to execute a Script and handing over parameters that are needed to run the script.

We're calling `az vm run-command invoke` from a `AzureCLI@1` task. The inline script looks like this:

[code]

All the parameters contain values. That something we've doublechecked using a bash task to export their values.

Within the script itself w

[2020-01-15 16:01] iverberk commented on #10980
We are running into the same issue, also with an AKS vmss. We need this functionality to manage network security rules for the different nodepools (=vmss). A solution would be much appreciated.

[2020-01-15 16:11] BenjaminHerbert opened #11868 "`az acr task identity show -n Name -r Registry -o table` shows wrong table headers and no output"
**Describe the bug**

`az acr task identity show` renders incorrect result for output formats table and tsv.

In particular:
`az acr task identity show -n redactedName -r redactedRegistry -o table` renders wrong headers and no meaningful output.

Output format that shows the expected output:

- json
- jsonc
- yaml
- (none)

Output format that _does not show the expected data_:

- table
- tsv

**To

[2020-01-15 16:22] ritchiefitz commented on #11280
I am facing the same issue as well. Is there a way to ignore SSL certificate?

[2020-01-15 16:45] panchagnula commented on #11280
@btardif  can you take a look at this please?

[2020-01-15 16:47] panchagnula commented on #9972
@collinstevens how did you upload the certificate with this thumbprint?

[2020-01-15 16:49] jluk commented on #11856
@timlawless-la I'm unable to reproduce this on 2.0.78, could you upgrade your az cli version and retry?

[2020-01-15 16:49] Roeche opened #11869 "webapp: I can't Create a book REST service"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`Unknown`

**Errors:**
The scale operation is not allowed for this subscription in this region. Try selecting different region or scale option.

## To Reproduce:
I am following the Exercise - Consume a REST service with HttpClient at Learn:
https://docs.microsoft.com/en-us/learn/modules/consum

[2020-01-15 16:50] jluk commented on #11855
As the error states, you need to enable the addon before browse will do anything. Have you ran the command shown?

`az aks enable-addons --addons kube-dashboard`

[2020-01-15 17:10] timlawless-la commented on #11856
Hi Justin,

I’m on 2.0.72_1. I uninstalled the extension, I’ll try it later.

Thanks,

Tim

 <https://linuxacademy.com/>
 	#1 Learn-by-Doing Multicloud Training Platform
 	 	 	Tim Lawless
Training Architect

125 Bear Creek Parkway. Keller. Texas 76248
LinuxAcademy.com <https://linuxacademy.com/> <https://linuxacademy.sigstr.net/uc/5dd800d5057c8500aedc6509>

© Linux Academy, 2019. All Rights Reserv

[2020-01-15 17:52] lobsteropteryx commented on #10574
We are seeing the same thing--intermittent errors with zip deployments, and the occasional 503 from a deployed function app.

[2020-01-15 18:08] collinstevens commented on #9972
@panchagnula I am executing an ARM template generated by "Import Key Vault Certificate" under "Private Key Certificates (.pfx)" in the "TLS/SSL Settings" blade. I generated the exact same certificate as was generated by the GUI option, yet it is unable to find the thumbprint when created through an ARM template.

[2020-01-15 18:44] n3rd253 opened #11870 "az eventhubs eventhub authorization-rule create cannot supply rights"
**Describe the bug**
Trying to supply "Listen Manage Send" to the --rights property in the azure CLI ends in the following:

Arguments
    --eventhub-name     [Required] : Name of EventHub.
    --name -n           [Required] : Name of EventHub AuthorizationRule.
    --namespace-name    [Required] : Name of Namespace.
    --resource-group -g [Required] : Name of resource group. You can configure th

[2020-01-15 18:47] n3rd253 commented on #11870
Above error is providing --rights "Listen Manage Send"

Just providing --rights Listen Manage Send, ends in

Traceback (most recent call last):
  File "/usr/local/Cellar/azure-cli/2.0.80/libexec/lib/python3.8/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocation.execute(args)
  File "/usr/local/Cellar/azure-cli/2.0.80/libexec/lib/python3.8/site-packages/azure/cli/core/c

[2020-01-15 19:59] t3mi opened #11871 "AKV10032: Invalid issuer error for listing of key vault secrets from nondefault tenant subscription"
## Describe the bug

**Command Name**
`az keyvault secret list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior.

- `az login` // login with one tenant
- `az login` // login with second tenant
- `az account list` // verify multiple subscriptions exist with different tenants
- `az keyvault secret list --subscription <subscription from nondefault tenant> --vault-name {} --query

[2020-01-15 20:03] timlawless-la commented on #11856
Ok, updated and re-installed.

Now I get a different error message:
Cluster autoscaler is not enabled for this managed cluster.
Run "az aks update --enable-cluster-autoscaler" to enable cluster with min-count and max-count.

Autoscaling was enabled on that cluster with:
kubectl autoscale deployment azure-vote-front --cpu-percent=50 --min=3 --max=10

Thanks,

Tim

 <https://linuxacademy.com/>
 	#1

[2020-01-15 20:03] #11870 closed

[2020-01-15 20:45] gcormier commented on #11316
I have some VM's in an unknown state for 20-30 minutes. If this is working as intended, the billing documentation needs to be updated to clarify if you are charged for unknown powerstate or not

https://docs.microsoft.com/en-us/azure/virtual-machines/windows/states-lifecycle

[2020-01-15 21:01] Anthirian opened #11872 "Create App Service Managed Certificates via CLI?"
I would like to secure the webapp I am currently deploying via CLI by adding a custom domain with a proper TLS certificate. The page linked below shows the option to create a certificate through the portal labeled "Create App Service Managed Certificates". This option does not appear to be exposed through the CLI. Are there plans to add support for it in the CLI as well?

https://docs.microsoft.co

[2020-01-15 22:22] jluk commented on #11856
It looks like upgrade resolved the previous issue, so closing for that.

For the new error returned the following is an explanation.

The kubectl autoscale cmd handles the horizontal pod autoscaler, a concept to scale pods within k8s. Enabling HPA does not satisfy the requirements for setting a min max node target for AKS since HPA only scales pods.

To run an update of the max and min count for A

[2020-01-15 22:22] #11856 closed

[2020-01-16 04:58] jsntcy commented on #11871
@bim-msft, please help take a look, thanks.

[2020-01-16 05:07] yugangw-msft commented on #11490
@Wwwsylvia, please pick up this work item.
/CC: @shizhMSFT

[2020-01-16 05:12] yugangw-msft commented on #9442
@noamichael, the command outputted will have the token that you can grep with.

@Wwwsylvia, please pick up this issue after done with CLI ones. Let me know if you have any questions
/CC: @shizhMSFT

[2020-01-16 05:15] #10476 closed

[2020-01-16 05:16] Drewm3 commented on #11316
@yungezz, for NULL state the end user should be shown unknown as the string.

@gcormier, the billing of the VM is not driven from the powerstate, but they are both from the same source. The billing result depends on if the VM is actually deployed to the physical host server. If it is deployed to the server in any state (running, stopped, starting, stopping/deleting, etc) that is using the physical

[2020-01-16 05:16] yugangw-msft commented on #11868
/CC: @northtyphoon, a table transformer is needed like [other command](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/acr/commands.py#L228) .
@wwwsylvia, consider this as the next batch of CLI work. @shizhMSFT

[2020-01-16 05:46] zhoxing-ms commented on #11761
Because the tag you want to delete is bound to some resources, you cannot delete it directly with `az tag` command. Maybe you can try to delete tags that is bound to some resources in the following ways
resource level:  `az group update --tags {NewTags}`
resource group level:  `az resource tag --tags {NewTags}`

[2020-01-16 05:49] chrisxpr opened #11876 "DOTNETCORE|Latest runtime issue with az webapp config set"
I noticed that if you update the Linux FX Version to Stack '.NetCore' and MajorVersion 'Latest' in the azure portal (App Service->Configuration->General Settings)
when you run the command:
az webapp config show --resource-group rg --name webapp

The value returned in the json is:
"linuxFxVersion": "DOTNETCORE|latest"

with 'latest' in full lowercase.

When you run az webapp list-runtimes --linux t

[2020-01-16 07:14] panchagnula commented on #11876
Not a known issue I have shared this Portal team as well, We will take a look, as per the list-runtimes it directly returns the value the API returns.

[2020-01-16 07:47] ajay15283 commented on #11850
Yes, automation update management using azure-cli. Thanks for the details

[2020-01-16 07:47] #11850 closed

[2020-01-16 08:12] wangjun-jwa commented on #10980
@qwordy , @ameetkonnur  is asking for how CLI support setting multiple properties in VMSS in same command, because it's required to add Application Security Groups for all 50 IpConfigurations in a single call.

[2020-01-16 08:22] iverberk commented on #10980
Just to add some info, I've created an issue here: https://github.com/Azure/AKS/issues/1388 as requested in this issue: https://github.com/MicrosoftDocs/azure-docs/issues/41470 . There are multiple places where this is now opened as an issue.

[2020-01-16 08:25] heoelri commented on #10400
Based on @Carlovo 's comment we've removed `#!/bin/bash` from our script file and now it works.

[2020-01-16 10:15] slomo commented on #5866
The issue still persists with version 2.0.80

[code]

Also there seems to be no `-d` switch anymore.

[2020-01-16 11:51] skidrow88 commented on #11809
Any news about this ticket ?

[2020-01-16 13:07] IanKemp commented on #11807
Looking at the source of [`az appsettings set`](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L189) it seems to me that the *intention* is to perform an update of the current settings, not a full overwrite.

The function calls `list_application_settings` on line 196, then iterates over the settings specified on the CLI or via JSON (lines 2

[2020-01-16 14:16] enzigma-gaurav-wadghule opened #11877 "az-cli installation failing during installing in debian linux"
Hi I am trying to create a docker image with az cli installed by taking openjdk:8 as base image i am getting

Docker file -

FROM openjdk:8
RUN apt-get update
RUN apt-get install ca-certificates curl apt-transport-https lsb-release gnupg
RUN curl https://azurecliprod.blob.core.windows.net/install | bash
RUN curl -sL https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor | tee /etc/apt/t

[2020-01-16 14:48] gcormier commented on #11316
The customer experience here is undefined and needs improvement, probably on the documentation side?

From that page, "The power state represents the last known state of the VM.". In this case, the API doesn't know the last state of the VM. Although programmatically that doesn't make sense to me - this status should reflect the last *known* state - if the current state is unknown, it shouldn't ret

[2020-01-16 14:54] timlawless-la commented on #11856
Hi Justin,

Interesting. I’d been over that documentation before, but not looked closely enough to understand the differentiation. I’ll try and re-test later. That does leave me with more questions than when I started, which regards to the problem I was originally trying to fix, but thank you.

Thanks,

Tim

 <https://linuxacademy.com/>
 	#1 Learn-by-Doing Multicloud Training Platform
 	 	 	Tim La

[2020-01-16 16:00] davidsanchezr81 opened #11878 "Error when downloading the deployment output into the deployment-outputs.json file"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Hey Azure Team, I am trying to create a Kubernetes cluster in Azure using the azure shell but I am getting an error once I want to download the deployment output into the deployment-outputs.json file.

**Command Name**
`az group deployment show`

**Errors:**
400 Client Error: Bad Request for url: http://localho

[2020-01-16 16:05] shurd commented on #11831
Hi @Ulrich208 thank you for opening this issue. We have confirmed that we can reproduce this issue, but are still investigating the cause. We will update when we have more information.

[2020-01-16 16:57] StianOvrevage commented on #10189
This might be the same root cause as my problem, running `az vmss list --verbose --debug` does not show HTTP Headers when the request fails because of 429 TooManyRequests.

Yet the very information I need about the current rate limit buckets etc are in the HTTP Headers.

[2020-01-16 17:01] bluca opened #11879 "pydocumentdb listed as dependency together with its replacement azure-cosmos"
azure-cli's setup.py lists both pydocumentdb, which is deprecated and out of support in August this year, and its newly renamed replacement azure-cosmos as dependencies:

https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/setup.py#L61
https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/setup.py#L138

https://pypi.org/project/pydocumentdb/
https://pypi.org/project/azure-cosmos/

Are bo

[2020-01-16 17:53] pbobov opened #11880 "'az storage blob sync' command ignores BlobEndpoint setting in connection string"
**CLI version**
2.0.80

**Describe the bug**
'az storage blob sync' command ignores BlobEndpoint setting in connection string.

**To Reproduce**
run:
[code]

The command execution fails with AuthenticationFailed code. Note that the blob endpoint in the command log is https://devstoreaccount1.blob.core.windows.net/devtest.

[code]

**Expected behavior**
'az storage blob sync' command must honor Blo

[2020-01-16 18:17] #9836 closed

[2020-01-16 22:28] stevengum commented on #11697
Sorry for the delay in response! I'm planning on milestone [S164](https://github.com/Azure/azure-cli/milestone/81) for shipping this change.

[2020-01-16 22:31] MikePennington commented on #10913
Still happening for me on both 2.0.78 and 2.0.80.

[code]

[2020-01-16 22:35] sudermanjr opened #11881 "az aks get-credentials fails on empty or non-existent KUBECONFIG"
## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --overwrite --resource-group {} --name {}`

## Expected Behavior

## Environment Summary
[code]
Also tried wit

[2020-01-16 22:36] MrCNeale opened #11882 "az version no longer works"
Either locally, or via cloud shell (bash or powershell) running
az version
reports that version is not in the az command group

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: eeedb9a7-2aed-6727-4cfb-1515809d676e
* Version Independent ID: 2c83180d-22ad-db42-e2eb-f27f11977963
* Content: [az](https://docs.microsoft.com/en-

[2020-01-16 23:59] nbfowler commented on #11210
I also have this issue, using Version 2.0.67.

[2020-01-17 01:29] yungezz opened #11883 "az role assignment create scope default to subscription if empty"
**Describe the bug**
A clear and concise description of what the bug is.
# Summary

Using `azure-cli` (in actual version of `2.0.79`) and `az role assignment create` command.

The problem I see is the use of `--scope` parameter.
Empty (I mean empty = specified but undefined parameter) scope equals to default (therefore subscription) scope.

Why is that? How about the error message for this action?

[2020-01-17 02:09] fayora commented on #9867
OK, in case it helps others, I am sharing my workaround using New-AzResource (similar to @axelwogawa 's brilliant workaround, which pointed me in the right direction):
[code]
The above uses a Foreach loop to create the nested hash with as many thresholds as you may need (in this example I have 3, declared in a list), and then uses New-AzResource to submit the main hash in -Properties.

I hope this

[2020-01-17 02:34] palma21 commented on #10191
Thanks for chasing this @Herr-Sepp we'll take a look at that error message to see if we can clarify it.

[2020-01-17 03:01] sputnik13 opened #11884 "az webapp up provides misleading information when invalid name is provided"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --resource-group {} --name {} --html`

## Expected Behavior
Th

[2020-01-17 03:26] mfarley281 commented on #11855
I'm having the same problem:

`[Jan 17 11:20 AM][matt@ubuntu:/tmp/tmp]$ az aks enable-addons --addons kube-dashboard --resource-group aks --name aks-IAfrAhu9 --verbose
The command failed with an unexpected error. Here is the traceback:

argument of type 'NoneType' is not iterable
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
    c

[2020-01-17 03:29] mfarley281 commented on #11456
I'm also getting this error:

[code]

[2020-01-17 03:29] mfarley281 commented on #11855
Looks like this issue is a duplicate of: https://github.com/Azure/azure-cli/issues/11456

[2020-01-17 05:41] zhoxing-ms commented on #11658
@0816KK Thanks for your feedback, I will submit a PR to fix it.

[2020-01-17 06:33] jsntcy commented on #11883
@arrownj, @jiasli, please take a look, thanks.

[2020-01-17 06:35] jsntcy commented on #11882
@jiasli, please take a look, thanks.

[2020-01-17 06:36] jsntcy commented on #11880
@Juliehzl, please take a look, thanks.

[2020-01-17 06:37] jsntcy commented on #11879
@fengzhou-msft, please take a look, thanks.

[2020-01-17 06:38] jsntcy commented on #11878
@zhoxing-ms, please take a look, thanks.

[2020-01-17 06:38] jsntcy commented on #11877
@fengzhou-msft, please take a look, thanks.

[2020-01-17 06:50] zhoxing-ms commented on #11646
@ajklotz Sorry for the late reply. Could you send the json file of `--template-file` and `--parameter` to me by email (Zhou.Xing@microsoft.com)?  If there is sensitive data, you can replace it with encrypted characters, thank you~

[2020-01-17 09:39] davidsanchezr81 commented on #11878
Hey Guys I found the solution, when I ran this command to download the deployment output into the .json file using this command az group deployment show -g $resourceGroupName -n $deploymentName --query "properties.outputs" -o json > deployment-outputs.json, I did removed the "-o json > deployment-outputs.json.

In this way the data wouldn't be copying automatically into the file, therefore I copie

[2020-01-17 09:39] #11878 closed

[2020-01-17 09:50] uveta opened #11888 "az monitor autoscale rule list fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor autoscale rule list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create autoscale rule for AppService from Azure portal
- `az monitor autoscale rule list --autosca

[2020-01-17 10:29] farialima commented on #11767
Having a similar issue :

[code]

This is problematic because it prevent discovering images. The only way to workaround it is to find (somehow) a publisher, and re-rerun with it, eg.
[code]

Running with `debug` shows the following potential causes :

[code]
(...)
[code]
(...)
[code]
(...)
[code]

[2020-01-17 12:00] CoderKooke commented on #7447
Sure.  az container create

Pulling a Linux image from DockerHub.  Looking at the output, it appears
that the length was because it failed then tried again.

The output eventually said success but the container was in state "Invalid"
or something like that.

On Fri, 17 Jan 2020, 01:48 Jiashuo Li, <notifications@github.com> wrote:

[2020-01-17 12:43] IanKemp commented on #11807
OK, so I tested this again and indeed the code does what it seems to do. I'm not sure how I was able to  make this command overwrite what I had before, but I *think* I was trying to bulk add a setting to every resource in a resource group. Closing until I can repro.

[2020-01-17 12:43] #11807 closed

[2020-01-17 13:20] colutti opened #11889 "Error when adding multiple databases to a failover group"
**Describe the bug**
I am trying to add several databases hosted in elastic pools to a failover group, but I am getting an error.

**To Reproduce**
Powershell:

$databases = (az sql db list --resource-group <hidden_value> --server <hidden_value> | ConvertFrom-Json) | Where-Object { ($_.failoverGroupId -eq $null) -and ($_.elasticPoolName -ne $null) } | Select-Object -Property name | ForEach-Object

[2020-01-17 13:24] colutti commented on #11889
Also, the documentation found [here](https://docs.microsoft.com/en-us/cli/azure/sql/failover-group?view=azure-cli-latest#az-sql-failover-group-update) states that the --add-db accepts a list of databases, but does not specify how we should pass this list. The documentation should be updated with this info and an example.

[2020-01-17 14:03] colutti commented on #11889
Btw, $databases has a list of databases being one per line like:

xxxx
xxxx
xxxx
xxxx

I have also tried a json string like `"['db1','db2']"` and it did not work

[2020-01-17 14:11] monkeybean commented on #11824
Hi All - any update?  Let me know if you require any new information.  I am going to try creating a new trigger from scratch to compare the various json files populated.

[2020-01-17 16:09] jluk commented on #11855
Thanks for cross-ref let's try to move conversations to that single issue

[2020-01-17 17:31] Frontarolli opened #11890 "API Management Issue (az apim)"
I can't run az apim commands (create, list, show, etc)
Could you please inform how to solve it?

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requ

[2020-01-17 17:35] BrainSlugs83 opened #11891 "az commands can trigger 429 / "too many requests" failures and provides no recourse for recovery."
## Describe the bug
Running az commands can generate 429 "too many requests" exceptions from Azure (possibly related to `az aks`? or possibly all commands -- I've definitely seen this at random from Azure before).  It seems this happens with long running commands after they have already executed and az is polling for a result from Azure.

Ideally, when this happens, az should just [exponentially b

[2020-01-17 20:35] wnmct opened #11892 "Failure when running an image copy"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az snapshot create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az snapshot create --resource-group {} --name {} --location {} --sour

[2020-01-17 22:01] mcollier opened #11893 "Azure Function - Unclear error on deployment if invalid resource group name specified."
**Describe the bug**
When executing the command below, if the specified resource group does not exist, an error is returned. The error message is very unclear as to what the problem is (invalid resource group).
`az functionapp deployment source config-zip -g "this-rg-does-not-exist" -n CSEFeedbackFunctionApp123 --src "C:\src\msft\csefeedback-function-wrong-rg-name\bin\Debug\netcoreapp2.1\MyFunctio

[2020-01-18 03:23] yonzhan commented on #11862
collaborate with Code Gen team.

[2020-01-18 03:24] yonzhan commented on #11861
collaborate with Code Gen team.

[2020-01-18 03:25] yonzhan commented on #11839
Generate the new formula based on existing one.

[2020-01-18 15:32] Simas1 opened #11895 "az acr login - requires Docker engine"
**Describe the bug**
az acr login requires that docker be running a docker daemon as the azure cli runs docker ps.
This is false behaviour, login command shouldn't run "docker ps" - because this command expect to have docker daemon running, which is not always true. For example, I want to use az acr from ACI (Azure Container Instance), so there is no Docker daemon, we can't run Docker in Docker.
I

[2020-01-18 16:57] rnmakino opened #11896 "az apim backup error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim backup`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim backup --name {} --resource-group {}`

## Expected Behavior

## E

[2020-01-18 21:00] anshprat opened #11897 "failure to enable addons"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons --addons {} --resource-group {} --name {}`

##

[2020-01-19 01:35] Juliehzl commented on #10242
@zhusijia26 Actually it is a storage related issue. We hope storage team can improve error message when users try to assign EC based key to storage account. Currently both for portal and CLI, we will return "Values for request parameters are invalid: encryption.keyvaultproperties.keyname", which is not accurate, and it should be key type error.

[2020-01-19 01:40] #9273 closed

[2020-01-19 02:06] fengzhou-msft commented on #11877
Please install `python3-dev` package as well in your `RUN apt-get install` command.

[2020-01-19 02:16] fengzhou-msft commented on #11849
This issue seems to be related with the installation or configuration for python. Can you remove python and azure-cli, then reinstall azure-cli?

[2020-01-19 02:18] jsntcy commented on #11892
@qwordy, please help take a look, thanks.

[2020-01-19 02:19] fengzhou-msft commented on #11879
Thanks for bringing this up. We'll reevaluate the use of pydocumentdb.

[2020-01-19 02:20] jsntcy commented on #11888
@MyronFanQiu, @jsntcy, please help take a look, thanks.

[2020-01-19 02:25] MyronFanQiu commented on #11896
@rnmakino It should have been fixed in new azure cli.

[2020-01-19 02:31] qwordy commented on #11892
There is a patch to fix it. https://github.com/Azure/azure-cli-extensions/pull/1172
@tamirkamara Can you help publish the new version?

[2020-01-19 05:18] tamirkamara commented on #11892
The PR for the new version with the fix is underway.
https://github.com/Azure/azure-cli-extensions/pull/1211

[2020-01-19 05:25] zhoxing-ms commented on #11616
Service: [click](https://github.com/Azure/azure-rest-api-specs/blame/master/specification/resources/resource-manager/Microsoft.Resources/stable/2019-07-01/resources.json#L1068)
Parameters: {"properties": {"template": {"$schema": "#{schema}", "parameters": "#{parameters}"}}}

The template defined by #{schema} uses an existing resource group. After the template is created successfully, the tags whic

[2020-01-19 05:34] #11658 closed

[2020-01-19 05:39] zhoxing-ms commented on #11761
@vinoth-cyber90 Do you still have any other questions?

[2020-01-19 06:50] MyronFanQiu commented on #2799
@tjprescott Hello. I have tested this issue and running create commands about 25 times. I don't meet this issue again. Besides, I checked the telemetry, looks like we cannot deprecate this one since lot's of customers are using it.

[2020-01-19 06:51] MyronFanQiu commented on #2799
I closed this issue. If we meet this one later, we can open a new one. Thanks~

[2020-01-19 06:51] #2799 closed

[2020-01-19 07:26] yonzhan commented on #7447
@fengzhou-msft  please take a look also.

[2020-01-19 08:32] #3982 closed

[2020-01-19 08:32] #10382 closed

[2020-01-19 09:32] bluca commented on #11879
@fengzhou-msft so at the moment they are both used? I ask as I'm preparing to upload azure-cli to Debian, and this dependency is the last issue remaining that I need to sort. At the moment I have uploaded pydocumentdb but not azure-cosmos. Thanks.

[2020-01-19 09:34] #10279 closed

[2020-01-19 09:44] #10246 closed

[2020-01-19 10:02] MyronFanQiu opened #11901 "support new feature in dns add/remove"
ref #2092 #11900
Will support this later since it will bring breaking change.

[2020-01-19 10:03] MyronFanQiu commented on #11901
should do it after 2020.4.1 at least

[2020-01-19 10:03] MyronFanQiu commented on #2092
@jtuliani Hello. The suggestion sounds good. But I don't want to bring breaking change to user suddenly. I add warning information in #11900 and create a new issue #11901 to do it.

[2020-01-19 11:01] jiasli commented on #11809
`az role` is for Azure role assignment.

https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureaddirectoryrolemember?view=azureadps-2.0

[2020-01-19 11:30] jiasli commented on #11809
"Global reader" and "Global Administrator" are AAD permissions. The PowerShell command you mentioned I believe is [`Get-AzureADDirectoryRoleMember`](https://docs.microsoft.com/en-us/powershell/module/azuread/get-azureaddirectoryrolemember?view=azureadps-2.0) from AzureAD module. `az role` is for [Azure RBAC role assignment](https://docs.microsoft.com/en-us/azure/role-based-access-control/role-assi

[2020-01-19 12:33] jiasli commented on #7825
Hi @matt-richardson, The license for the Azure CLI project is MIT as set out at https://github.com/Azure/azure-cli/blob/dev/LICENSE.

I have created a PR to remove the conflicting `cli_license_terms.md` license.

[2020-01-19 15:14] vinoth-cyber90 commented on #11761
Thanks Xing..

No more queries related to this topic

On Sun, Jan 19, 2020 at 7:39 AM Xing Zhou <notifications@github.com> wrote:

[2020-01-19 18:09] jtuliani commented on #2092
Thank you!

[2020-01-19 21:15] mhennecke commented on #10205
Still able to reproduce this issue with azure-cli 2.0.80

[2020-01-19 21:31] ramaganesan-rg commented on #11207
working with the team to assign the right owner

[2020-01-19 22:42] mhennecke commented on #11415
Please check the two logfiles with debug output. The case where there is only "Storage Blob Data Contributor" role given on blob container level shows a call to /storageAccounts with an empty response.

[11415_with_reader_role_on_sa_and_with_storage_blob_data_contributor_on_container.log](https://github.com/Azure/azure-cli/files/4083797/11415_with_reader_role_on_sa_and_with_storage_blob_data_contr

[2020-01-19 22:42] mhennecke commented on #11414
Duplicate of #11415

[2020-01-19 22:42] #11414 closed

[2020-01-20 02:00] qwordy commented on #11857
Thanks for you advice. We'll improve the documentation.

[2020-01-20 02:05] yonzhan commented on #11901
add to S165.

[2020-01-20 02:10] MyronFanQiu commented on #2092
@jtuliani Hello. Thanks for feedback. Do you still remember your original thoughts? I want to double confirm, do you want an extra argument `'--if-not-match`. Only the command with `--if-not-match` will create a new record-set for customer by default.

[2020-01-20 02:52] #10754 closed

[2020-01-20 02:52] #7825 closed

[2020-01-20 03:09] qwordy commented on #11625
image-copy 0.2.3 is released. It should fix this issue.
https://github.com/Azure/azure-cli-extensions/pull/1211

[2020-01-20 03:09] #11625 closed

[2020-01-20 03:10] qwordy commented on #11892
image-copy 0.2.3 is released. It should fix this issue.
https://github.com/Azure/azure-cli-extensions/pull/1211

[2020-01-20 03:10] #11892 closed

[2020-01-20 03:15] qwordy commented on #11281
Hi bro, is your issue solved?

[2020-01-20 04:24] #2092 closed

[2020-01-20 04:54] yungezz commented on #7479
hi @kskvarci thanks for reporting the issue, could you pls share specifically which parameters' default value not documented? Then we can add missing one. As you found in CLI code, there're default value property for parameters, eg. https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/keyvault/_params.py#L75 ,default value of `sku` , this default value in code will b

[2020-01-20 05:05] #11611 closed

[2020-01-20 05:13] #11490 closed

[2020-01-20 05:15] #11761 closed

[2020-01-20 05:58] fengzhou-msft commented on #11879
A quick search showed no usage of pydocumentdb. I added service team here.

Hi cosmos team, please help check whether pydocumentdb can be removed from azure-cli for az cosmosdb.

[2020-01-20 06:04] shurd commented on #11532
I am going to close this issue for now. Please open another issue if the problem persists and my previous comment did not solve the problem.

[2020-01-20 06:04] #11532 closed

[2020-01-20 06:32] jiasli commented on #11882
`az version` is a new command introduced in https://github.com/Azure/azure-cli/pull/11680. Please install the latest version to use this command.

[2020-01-20 07:00] ramaganesan-rg commented on #8378
thank you for the details. can you please let us know for which offer this error occurs. Need this info for troubleshooting

[2020-01-20 07:15] zhoxing-ms commented on #11457
@timio73 Yes, the question seems to be related to #8283

[2020-01-20 07:41] yungezz commented on #11821
hi @wind1126 thanks for reporting the issue. I cannot reproduce the issue. Could you pls provide below info to help trouble shooting? thanks.
- could you pls check at https://portal.azure.com , your availability set -> virtual machines, to see if there any virtual machines showed?
- could you pls share how the availability set created? or VM created?

[2020-01-20 07:47] Juliehzl commented on #11415
@mhennecke Thanks for your information! I have fixed it in my PR and it will be released in next version.

[2020-01-20 07:52] zhoxing-ms commented on #11457
Service: [Resources - Move Resources](https://docs.microsoft.com/zh-cn/rest/api/resources/resources/moveresources)
Parameters: {"resources": ["/subscriptions/${subscription-id}/resourceGroups/${original-resourceGroup}/providers/**Microsoft.Compute/virtualMachines**/${resource-name}"],
"targetResourceGroup": "/subscriptions/${subscription-id}/resourceGroups/${target-resourceGroup}"}

When the above

[2020-01-20 07:57] yungezz commented on #4698
hi @vivianxing could you pls more detail of repo steps? thanks.

[2020-01-20 07:59] zhoxing-ms commented on #11457
For example:
When the ${target-resourceGroup} is **"test"**, if we executing the service of **Resources - Move Resources** to move the resource, the id of resource will become /subscriptions/${subscription-id}/resourceGroups/**TEST**/providers/Microsoft.Compute/disks/${resource-name}_diskx_xxx

[2020-01-20 08:09] yungezz commented on #3922
For ACR, it will be deleted in one delete command `az acr delete`. remove ACR label. For other RP such as network, need more specific resources when delete related resource in one command.

[2020-01-20 08:14] fengzhou-msft commented on #11879
bot is not working. cc @kushagraThapar @srinathnarayanan @southpolesteve @shurd

[2020-01-20 08:15] zhoxing-ms commented on #11457
@Tiano2017 Please take a look~

[2020-01-20 08:22] sgandon commented on #11849
thannk for your time, I did that with no luck, and indeed it seems that there is some python issue on my machine, I suspect even something is some native library.
But I don't really know how to solve this.
Is there a way to have az installed in a independent manner without any dependencies ?

[2020-01-20 10:15] yonzhan commented on #3922
add to S164.

[2020-01-20 10:31] matt-richardson commented on #7825
Many thanks, @jiasli.

[2020-01-20 11:01] jiasli commented on #7825
You are mostly welcome. And thank you too for bring out this issue. 😄

[2020-01-20 12:37] jongio opened #11908 "az rest should show request/response details"
When using `az rest` I would like to know the exact request and response that is sent and received by the command.  For example, please refer to the httpie --print option: https://httpie.org/doc#what-parts-of-the-http-exchange-should-be-printed

This is very helpful when debugging issues.

[2020-01-20 13:04] #11415 closed

[2020-01-20 13:38] monkeybean commented on #11824
Just created a brand new Blob trigger and set up the json files.  Ended up with the same error when I 'func host start':

[1/20/20 1:35:56 PM] Host initialized (356ms)
[1/20/20 1:35:56 PM] A host error has occurred
**[1/20/20 1:35:56 PM] Microsoft.Azure.WebJobs.Extensions.Storage: Could not load type 'Microsoft.Azure.WebJobs.Host.Scale.IScaleMonitorProvider' from assembly 'Microsoft.Azure.WebJobs.

[2020-01-20 13:55] RishiMaini opened #11909 "“Az Snapshot Create” fails with 404 when the Managed Disk and Resource Group locations are different."
“Az Snapshot Create” fails with 404 when the Managed Disk and Resource Group locations are different.

Steps to repro
===============
Create a Resource Group in location 1

Create a managed disk under the same Resource Group but the Managed disk location should be different from Resource Group location.

Now if you try to create a Snapshot of the Disk using “Az Snapshot Create”, it will fail with

[2020-01-20 13:57] bluca commented on #11879
Ok, thanks. I'll update azure-cosmos-db in debian to the latest version, and drop pydocumentdb from azure-cli's dependency list.

[2020-01-20 13:57] JiriKovar commented on #11343
Hi @panchagnula,

everything looks fine now.

Thank you very much.

[2020-01-20 17:06] jpmsilva commented on #9427
I think we are also facing this issue.
We are using Apache Airflow to orchestrate environments in Azure, and we resort to the az cli to interface with Azure.
Because of the nature of the workflows we run, multiple az instances may be triggered - which is desirable, as we want to paralyze as much as possible.
Occasionally we will get this error, and the accessTokens.json will become corrupt with ex

[2020-01-20 17:42] ajklotz commented on #11646
I sent the attachments to your email @zhoxing-ms

[2020-01-20 21:48] rahulksinghh opened #11910 "az login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2020-01-20 22:14] skingd commented on #11821
The VMs and availability set are both present in Azure. We actually have a number of them and none of them show up using that command.

Availability set was created manually via the portal.

The latest version was used and reported null for VMs in all availability sets. Azure shell was also tested with the same result.

Owner account was used for testing and still showed null for VMs.

[2020-01-21 01:46] #9342 closed

[2020-01-21 01:58] zhoxing-ms commented on #6498
The version we used is ‘2019-07-01’, so we don't need to update it anymore.

[2020-01-21 01:58] #6498 closed

[2020-01-21 04:36] yungezz commented on #11821
thanks for the info, looking at it.

[2020-01-21 05:53] #11877 closed

[2020-01-21 06:49] zhoxing-ms commented on #8058
In the latest version of azure-cli, the error messages are already as expected.
The error message is as follows:

@SenthuranSivananthan So I close it first, if you still have any other new reuqests, please feel free to feedback.

[2020-01-21 06:49] #8058 closed

[2020-01-21 09:30] zhoxing-ms commented on #3852
For the moment, we think that most scenarios can be supported by the way of via parameters file. There is no need to support KeyVault references via prompt and argument.
I close this issue first, and maybe reopen it or open a new issue when users feedback similar needs.

[2020-01-21 09:30] #3852 closed

[2020-01-21 11:04] #11735 closed

[2020-01-21 12:31] alexeyshishkin01 opened #11916 "The workspace name 'DefaultWorkspace-<SUBSCRIPTION_ID>-NEU' is not unique"
**Describe the bug**

I cannot create AKS cluster:

az group create \
--name myresourcegroup \
--location northeurope

az aks create \
--name myakscluster \
--resource-group myresourcegroup \
--location northeurope \
--node-count 1 \
--ssh-key-value ~/.ssh/id_rsa.pub \
--admin-username azureuser \
--enable-addons monitoring

The error message is 'The workspace name 'DefaultWorkspace-<SUBSCRIPTION_

[2020-01-21 12:56] yungezz commented on #11821
when list availability set in subs level, the result from service doesn't contain detail of vms, that's why user see null vm from azure cli. When list availability set in resource group level, the result from service contains vm detail.
hi @wind1126 could you pls use below way to get vm detail of availability sets in subs:
[code]

[2020-01-21 13:40] yonzhan commented on #11908
add to S165.

[2020-01-21 13:42] yonzhan commented on #11910
add to S165.

[2020-01-21 13:43] yonzhan commented on #11909
issue labelled.

[2020-01-21 15:02] burkeholland commented on #9793
I'm working with version 2.0.78, and `-p` is a required parameter. How do we then create a collection with a fixed size?

[2020-01-21 15:26] bim-msft commented on #11779
@Kalyan-Alamuru Issue closed. If you have any additional question, feel free to reopen and ask, thanks!

[2020-01-21 15:26] #11779 closed

[2020-01-21 16:29] skingd commented on #11821
@yungezz To clarify, I was the one who encountered this. @wind1126 is a Microsoft tech that created the issue. I'll run the command and let you know the result.

[2020-01-21 17:05] jluk commented on #11897
This is duplicate of #11456 - please route comments there to keep these consolidated.

[2020-01-21 17:26] jeroenterheerdt commented on #11889
@colutti thanks for the feedback. please give me a moment to look into this.

[2020-01-21 17:33] zhusijia26 commented on #10242
@kartikshah9 Could you please find someone to help on the issue and get this issue reassigned? Thank you!

[2020-01-21 17:41] t-l-k commented on #10991
@yorek - can you clarify "fixed"? And what other issue tracking system has this been published on?

Running this command `az sql db import` is throwing a 504 for me at the moment. An `export` ran to completion fine.

I updated my `azure-cli` today to make sure. This is failing for me on:

[code]

[2020-01-21 17:50] skingd commented on #11821
@yungezz "Operation failed with status: 'Bad Request'. Details: 400 Client Error: Bad Request for url:" do you have a PS equiv that you would prefer? It would be easier for me to run than bash, which is almost non-existent in our environment.

[2020-01-21 18:15] #10295 closed

[2020-01-21 18:15] #10470 closed

[2020-01-21 18:39] shurd commented on #11879
That package can be removed from setup.py from the Cosmos DB perspective. I removed it from the setup.py file underneath our command module at the time, but I did not remove it from the global setup.

https://github.com/Azure/azure-cli/pull/9656/files

[2020-01-21 19:39] yorek commented on #10991
The import command worked for me:

az sql db import -s <server> -n ... -g ... -p ... -u ... --storage-key ... --storage-key-type StorageAccessKey --storage-uri https://mystorage.blob.core.windows.net/bak/WideWorldImporters-Full.bacpac

Of course you need to make sure that the existing database supports the feature used in the database to be imported. For the WideWorldImportersFull, for example, Pr

[2020-01-21 21:08] jabbera opened #11917 "az sql server update -p returns zero exit code when password does not have sufficient complexity"
**Describe the bug**
A failed az sql server update still retuns 0 as an exit code

**To Reproduce**
powershell

az sql server update --name <name> --resource-group <group> -p "A"
$LASTEXITCODE

**Expected behavior**
A non-zero exit code

**Environment summary**
Windows 10 Powershell 6

![image](https://user-images.githubusercontent.com/301208/72843247-2435ea80-3c68-11ea-9221-b570e0b8670b.png)

[2020-01-21 23:18] jeroenterheerdt commented on #11889
@maboja-msft.

[2020-01-22 00:17] yonzhan commented on #10283
Per Andy, Log profile will be replaced by diagnostic settings. Do you think we can close this issue or wait for service team to fix this bug ?

[2020-01-22 00:37] amishra-dev commented on #10242
@xiafu-msft can you please look at if we can provide better error messages from the python SDK.

[2020-01-22 01:16] rachel-msft commented on #10614
My apologies, the deployment train for this is still undergoing some delays. Updated ETA is February end.

[2020-01-22 02:21] qwordy commented on #11785
@ctolkien, How do you create the vm?
We have written a patch #11914 . The problem is vm's os_profile is None.

[2020-01-22 03:32] fengzhou-msft commented on #11573
The automated pipelines have been created and ran for 2 releases. While I will continue to work on further improvement including automating history notes, automating sending e-mails, this issue can be closed as we have the initial version running.

[2020-01-22 03:32] #11573 closed

[2020-01-22 06:17] bim-msft commented on #2613
@khenidak The help message was refined, we don't support RSA1024.
[code]

[2020-01-22 06:17] #2613 closed

[2020-01-22 06:46] #11882 closed

[2020-01-22 06:59] jiasli commented on #11910
The error comes from Python's `concurrent` library, instead of Azure CLI. I checked the source code of cpython and saw https://github.com/python/cpython/blob/v3.8.1/Lib/concurrent/futures/_base.py#L357 doesn't match the error message:

[code]

Please make sure your Python installation is not corrupted and re-install Python 3.8.1 to fix this issue.

[2020-01-22 07:00] #11808 closed

[2020-01-22 07:36] bim-msft commented on #7479
@yungezz I've noticed that we do missed some default values, this is an example:
[code]
The default values of `--disabled` and `--protection` are not documented.
This is a tedious work, will work on this when high priority things get done.

[2020-01-22 07:43] jiasli commented on #10234
The API you used is AD Graph API v2.0 which contains those fields. [Without the REST spec for 2.0](https://github.com/Azure/azure-rest-api-specs/tree/master/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable), we can't generate the Python SDK and build the CLI commands accordingly. We are still working with AAD team on this issue. Thanks for your patience.

Meanwhile, you may directly u

[2020-01-22 07:49] zhoxing-ms commented on #8016
I have seen that the Python SDK lacks the following method which supports evaluation of resources.

**Evaluation scan for resources:**
https://management.azure.com/subscriptions/{subscriptionId}/providers/Microsoft.PolicyInsights/policyStates/latest/triggerEvaluation?api-version=2018-07-01-preview
https://management.azure.com/subscriptions/{subscriptionId}/resourceGroups/{YourRG}/providers/Microso

[2020-01-22 08:03] ctolkien commented on #11785
This was made via the portal, I Bieber from an existing HDD?

[2020-01-22 08:08] sambitratha commented on #11179
Can you please try using the same command with 2 additional parameters --container-name and --backup-management-type i.e.
[code]

PS You can also avoid having to use --backup-management-type parameter by giving full container name

Hope this helps, Thanks

[2020-01-22 08:12] sambitratha commented on #11266
You can configure protection of VMs in different resource groups by passing the resourceID of the VM in --vm parameter.

Hope this helps,
Thanks

[2020-01-22 09:06] sgandon commented on #11849
I have found the issue, my shell locale was not set up properly.
I had a language set to `LANG=en_US` instead of `LANG=en_US.UTF-8`

Thanks for you time, I'll close this issue.

[2020-01-22 09:06] #11849 closed

[2020-01-22 09:10] jiasli commented on #11908
The HTTP traces appeared in `stderr` with `--debug` enabled for specific commands are populated by `msrest.http_logger`. `az rest` directly uses [requests](https://github.com/psf/requests) library, so traces are not included in `stderr` with `--debug` enabled:

https://github.com/Azure/azure-cli/blob/26c8ead7536cb3fe56490fd86db6b0a83b3c7066/src/azure-cli-core/azure/cli/core/util.py#L609-L610

Curr

[2020-01-22 09:21] #11654 closed

[2020-01-22 09:27] jiasli commented on #11567
Your organization's Azure Active Directory may require interactive login for multi-factor authentication. Please use `az login` and continue the login in the opened browser.

[2020-01-22 09:34] Raghuveer-Yadav-Gadula commented on #11179
Thanks Sambit for the reply, but i was able to figure out the root cause for the error,  and also the 'backup' in azure is still in preview mode the error exists.
When i try a different command it did go through successfully. below the is the

didn't get the time to update this thread though:)

[2020-01-22 09:44] ReedOnly commented on #11454
Same issue, `az webapp vnet-integration add` do not respect the `--resource-group` parameter

[2020-01-22 10:04] jiasli commented on #11599
Nice catch. I am able to reproduce.

With `--debug`, the log reviews the URL being called: `
https://graph.windows.net/{}/groups?$filter=startswith(displayName,'adgroup2110') or displayName eq 'adgroup2110'&api-version=1.6`. The `or` operator is causing problem.

The error `More than one groups match the name of {}` appears when one group name starts with another, like:

[code]

The erroneous logi

[2020-01-22 10:38] kenyeung2020 opened #11919 "az aks command failing with missing "azure.mgmt.containerservice.v2019_08_01" module"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Run azure cli on Ansible 2.8.5. When run command 'az aks get-credentials', no module named 'azure.mgmt.containerservice.v2019_08_01' is prompted.

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
- enter ansible environment
- `cd /var/lib/awx/venv/ansible`
- `. bin/activate`
- `az

[2020-01-22 10:40] Shufflette commented on #10422
Same issue:
azure-cli                         2.0.80

command-modules-nspkg              2.0.3
core                              2.0.80
nspkg                              3.0.4
telemetry                          1.0.4

[2020-01-22 10:51] Shufflette commented on #10496
Same issue:
azure-cli                         2.0.80

command-modules-nspkg              2.0.3
core                              2.0.80
nspkg                              3.0.4
telemetry                          1.0.4

Used workaround above:
api_management_client_enums.py
_api_management_client_enums.py

[2020-01-22 10:52] AdamFuzumTewelde commented on #8244
Azure application gateway does support azure keyvault certificate integration, but some provisional settings must be done first.

- Assign managed Identity  to the Application gateway using one of the two commands , I prefer the second one.

1.   az identity create --name {application gateway name} --resource-group {resource group} --location {service location}
                             **OR**

[2020-01-22 10:57] bluca commented on #11879
Fixed by https://github.com/Azure/azure-cli/pull/11918 - thanks!

[2020-01-22 10:57] #11879 closed

[2020-01-22 11:41] ReedOnly commented on #11454
[code]

We can see that the resource group called is _djelk_, but later the subnet is searched for in _ertlog_ which is another resource group with a vnet also named _es-net_.

Hope you can fix this issue soon :smiley:

[2020-01-22 12:29] fernandogutierrez27 opened #11920 "az webapp up not working as expected in dotnet core 2.2 project"
**Command Name**
`az webapp up`

**Describe the bug**
Following this [tutorial] with the C# development language, the final step was apply the `az webapp up` command but the deployed site only had a message saying *"You do not have permission to view this directory or page"*. That means that no site was detected on the deployed site folder.

I applied the `dotnet publish` command and tried to run

[2020-01-22 13:45] nikoudel opened #11921 "Permissions for SharedAccessKey in `az sql db export`"
The documentation covers the case of generating a SAS token for specific blob (`-n myBacpac.bacpac`).
That is not very practical because a more useful scenario is to generate a token for the whole container and create daily backups periodically, each named differently, e.g. `backup-2020-01-22.bacpac`.
However, in that case the write permission (`--permissions w`) is not enough and exporting will f

[2020-01-22 14:19] samuel-weber commented on #7064
I'm facing the same error... Do you got any solution or workaround?

[2020-01-22 14:36] timja commented on #10995
@hytao any news on this?

[2020-01-22 15:17] jespersorensenUFST commented on #11863
We're impacted by this as well.

[2020-01-22 15:49] jt55401 commented on #11895
This is also an issue for us - is there a workaround anyone is using?

[2020-01-22 16:13] patelkashyap3190 opened #11922 "issue while browsing for aks cluster"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --resource-group {} --name {}`

## Expected Behavior

## Env

[2020-01-22 17:17] jluk commented on #11916
If enabling monitoring without passing in a unique workspace, it will create one with a default name which looks like the one you are returned with. However, it should have used that default named workspace instead of stating a name conflict. We will need to take a look.

[2020-01-22 17:18] jongio commented on #11908
@jiasli Can you please have a look at this:

https://stackoverflow.com/questions/20658572/python-requests-print-entire-http-request-raw

https://requests.readthedocs.io/en/master/user/advanced/#prepared-requests

It looks like it is possible to get the headers, body, via .prepare() method.

[2020-01-22 17:44] jaredmoo commented on #11917
Thank you for the feedback! I tried to repro, but I did get nonzero error code:

![image](https://user-images.githubusercontent.com/3248887/72918903-4b89c780-3cfb-11ea-90b0-1c6fe88a88a1.png)

From az-cli-sql module perspective, we are doing nothing special here - just passing your request to REST API. az-cli core is taking care of handling response message and setting exit code. I'll set tags on t

[2020-01-22 18:21] tsgenge commented on #7261
Using az webapp create using an ACR image still returns "Access is denied. Not authorized. latest". Is this in production now? Even using the Azure CLI shell in the portal (therefore latest) gives the same error.

[2020-01-22 18:29] alexeyshishkin01 commented on #11916
ok, how to delete this workspace in order to rerun cluster creation?

[2020-01-22 20:30] btardif opened #11923 "Documentation for Preview features should indicate that the feature is preview."
**Is your feature request related to a problem? Please describe.**
Customers are looking at documentation and getting confused when they discover a command is in preview when docs don't have any indication that is the case.

**Describe the solution you'd like**
Add some decoration to documentation pages to indicate commands that are in preview, this should be automated based on the 'is_preview=Tru

[2020-01-22 20:31] btardif commented on #11923
@panchagnula FYI

[2020-01-22 21:34] BrainSlugs83 commented on #11891
Hey I wanted to bump this with some more information -- this is still occurring and my team and I suspect the az commands themselves are what's generating too much traffic; I suspect they are polling too often for a result.

Is there a setting or a part of the code I can look at to see where the polling for the result is happening? -- I'd like to be able to track this issue down; as it is kind of

[2020-01-22 21:55] DonPetry-EY opened #11924 "owner-object-id cannot be a group"
I was surprised to find that this parameter will not accept the object-id of a group.  It seems to only accept User and SPN ID's.

The reference target 'Group_01234567a-1de1-4d1b-a5a8-2de913801c69' of type 'Group' is invalid for the 'owners' reference.

Please add a note that Owner cannot be a Group in this context.  Would also like to request this be made possible.

---
#### Document Details

⚠ *

[2020-01-22 22:32] ecalder6 commented on #11822
Bump.

[2020-01-22 22:43] jluk commented on #11916
You can delete it with the below command.

https://docs.microsoft.com/en-us/cli/azure/monitor/log-analytics/workspace?view=azure-cli-latest#az-monitor-log-analytics-workspace-delete

[2020-01-22 23:00] panchagnula opened #11925 "webapp: az webapp up not creating RG when using -g flag"
reported by internal customer

Reprod this on CLI 2.0.80.

Running the az webapp command with -g makes you expect that the resource group specified would be created, but it's not, and the app is just put into a default resource group like before. Especially since the App Service plan is created, why not the resource group? See repro command line output:

bash-5.0# az webapp up -g cephalin-python -

[2020-01-23 00:36] yonzhan commented on #11923
add to S165.

[2020-01-23 01:58] zhoxing-ms commented on #11816
Because it hasn't been replied for a long time, I'll close the issue first. If you have any other questions, please feel free to reopen it or create a new one.

[2020-01-23 01:58] #11816 closed

[2020-01-23 02:03] bim-msft commented on #1283
@tjprescott Hi, we have already added a new parameter `--include-pending` for command `az keyvault certificate list` and `az keyvault certificate list-deleted` in the latest version of CLI.

[2020-01-23 02:03] #1283 closed

[2020-01-23 02:56] jiasli commented on #11908
Thanks for the link. However, dumping the HTTP trace is not as simple as it seems, since we also need to remove the authorization header. It also involves `merge_environment_settings`-related logic that we need to play around and fully test.

Actually it is a pretty nice idea to have HTTP trace with `az rest`. I have marked this PR as **feature request**. But currently we have many other prioritie

[2020-01-23 03:07] zhoxing-ms commented on #11646
@ajklotz I tried to use the parameter file provided by you, and the problem was not reproduced even after I changed the content of the file to a larger size.
I think this problem may be caused by the file path being too deep，Could you please tell me the path of your parameter file?

[2020-01-23 04:04] Jtango18 opened #11926 "az sql db create returns error that contradicts itself"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

-Ensure you have database server created with name set to `$serverName`
- Execute the following:

[code]

This returns an error showing a

[2020-01-23 04:29] MarkLeon commented on #6852
Any update on this? Thanks.

[2020-01-23 04:35] GarrettGeorge opened #11927 "az login uses cmd.exe when using WSL which doesn't support UNC paths"
[code]

**Describe the bug**
`az login` triggers error with `cmd.exe`:
[code]

This is because `az login` uses a function called [open_page_in_browser](https://github.com/Azure/azure-cli/blob/4d684d2678a6c3a39e0ed9918cd210c6c161939a/src/azure-cli-core/azure/cli/core/util.py#L386). If `az login` is run inside of WSL the following command is run:
`subprocess.call(['cmd.exe', '/c', "start {}".format(

[2020-01-23 04:37] dbamaster opened #11928 "Problems with az sql vm create"
**Describe the bug**
Not able to create SQL Server VM using AZ CLI, the "Resource does not exist" message is returned while I'm trying to create the actual resource.

I already checked, the Microsoft.SqlVirtualMachine provider is registered.

[code]

**Environment summary**
OS type: macOS
az-cli version: 2.0.79

**How to reproduce**
[code]

[2020-01-23 05:08] jiasli commented on #11917
The command behaves correctly in a pure PowerShell console:

[code]

After activating posh-git and oh-my-posh and switch to a git repo folder, I am able to reproduce the wrong exit code even without Azure CLI.

[code]

![Screenshot_2](https://user-images.githubusercontent.com/4003950/72958166-443ce980-3de1-11ea-8f29-f98c00b8a2e6.png)

This appears to be a known issue: https://github.com/JanDeDobbe

[2020-01-23 05:08] #11917 closed

[2020-01-23 05:39] jiasli commented on #11908
As this is not blocking issue, we will close it and plan it in future releases.

[2020-01-23 05:47] archmangler commented on #11433
Hi @stevengum I've tested the command sequence you provided earlier. This dies not result in an actual chatbot. It does result in the following resources being created in my resource group:

1. A service plan
2. an App service
3. Cognitive search service

But no resource of type "Web app Bot". To obtain the web app bot I have to run the command:

[code]

This creates a resource of type "Web App Bo

[2020-01-23 06:11] alexeyshishkin01 commented on #11916
yes, but in my case this command output is like that: 'no such workspace found'
so I cannot create new cluster because of workspace name is not unique and the same time workspace with this name does not exists
the question is - when it says 'not unique' - what does it mean?

[2020-01-23 07:45] zer0big opened #11930 "After adding extension named aks-preview ("az extension add --name aks-preview"), SyntaxError occurs"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update -n {} -g {} --attach-acr {}`

## Expected Behavior

## Envir

[2020-01-23 08:17] dduleep opened #11931 "Duleep"
`az pipelines variable-group variable create --group-id` in not clear what is --group-id and how its usecase in group variable.

---
#### Detalji dokumenta

⚠ *Ne uređujte ovu sekciju. Ona je neophodna za povezivanje problema slijedom docs.microsoft.com ➟ GitHub.*

* ID: fc3b2e1e-81e2-75fa-12f2-dc742bac7301
* Version Independent ID: 5ea78738-cbcb-139c-1ce0-7cfbb42c3a08
* Content: [az pipelines var

[2020-01-23 08:55] rerime commented on #10302
Is any progress?

[2020-01-23 09:23] jiasli commented on #11891
Azure CLI internally uses [msrestazure](https://github.com/Azure/msrestazure-for-python) and [msrest](https://github.com/Azure/msrest-for-python) for long running operation polling.

Judging from the error, the throttling is triggered by `HighCostGetVMScaleSet30Min`. I checked the code of msrestazure but it doesn't seem to handle [throttling error 429](https://docs.microsoft.com/en-us/azure/virtua

[2020-01-23 10:11] tkosin commented on #11596
I got the same error by using Azure CLI on CMD. And try to run many times it could not be resolved. Please suggest me to solve this problem.

Thank you.

![image](https://user-images.githubusercontent.com/32434679/72975193-f5a04700-3e02-11ea-8683-49f5cf200235.png)

[2020-01-23 10:20] jiasli commented on #11927
Thanks for the feedback. We will look into it.

[2020-01-23 10:26] jiasli commented on #11924
Thanks for the feedback. We will look into it.

[2020-01-23 10:56] dazinator opened #11932 "Mount path for windows - invalid characters?"
I am trying to add a path mapping - my container is a windows container not linux.
If I run the command I get back "Bad Request". If I add the --debug argument I can see that it doesn't like the --mount-path argument. I have tried various combinations like "C:/webstorage" and "/webstorage" and can't get anything to work. What is the correct syntax for this argument for windows and mounting to the

[2020-01-23 11:32] afnanashraf10 opened #11933 "No module named 'azure.mgmt.containerservice.v2019_08_01'"
I am getting an error while working with **Azure CLI** az. I am using azure version of `2.0.80`. and I am using **CentOS 7**. When I run az command `az aks update` i am getting error like

[code]

[2020-01-23 12:54] axthosarouris opened #11934 "The suggested command for changing the Active Directory Administrator updates the name shown in the portal page but it does not set the AD admin properly"
Hi,
My problem is that I want to update the Azure AD admin of an SQL server using the CLI. However, the results when I run the command and when I update it manually through the portal are different.

**Input commands (from a script):**
[code]
**Output:**
[code]
However, if I go to the Azure portal and I set the AD admin as my user manually, then the exact same commands  work fine. In other words,

[2020-01-23 15:07] ajklotz commented on #11646
Just curious, are you using Powershell or Bash? In my example provided above, the parameter file resided in the same directory as the current working directory for powershell.

To answer your question, my parameter file resided in a path that looks like this:

`C:\codebase\digital\CI\Scripts\AzureCLI\AzureFunctions\OrderProcessing`

But my powershell session was set to that path already so it used

[2020-01-23 15:35] ajklotz commented on #11646
In the file I emailed to you, do a "replace all" and replace `""` with `"areallylongvaluethatyoumustputhereinordertoreproducetheproblemsojustaddabunchofletterstoproducetheproblemandthenaddthistoeachfieldletmeknowhowitworks"`

[2020-01-23 16:48] lambohamp commented on #10718
You need to add `=Scope` or `=Role` at the end of `--api-permissions`, e.g.
`az ad app permission add --id 00000000-1111-2222-3333-444444444444 --api 00000003-0000-0000-c000-000000000000 --api-permissions e1fe6dd8-ba31-4d61-89e7-88639da4683d=Scope`

[2020-01-23 16:49] tsgenge commented on #7261
It works today, but in an odd way. I assume it was an outage, though I have switched to linux containers / service plan. I noticed that it still doesn't connect using the ACR option - inspecting the app service created its connecting using a "private repository" connecting using my ACR access tokens.

[2020-01-23 16:57] jeroenterheerdt commented on #11926
@jaredmoo

[2020-01-23 16:59] jeroenterheerdt commented on #11928
@jaredmoo

[2020-01-23 17:11] amolagar5 commented on #11934
Hello @axthosarouris , can you please check if Sys.database_principals is getting the right sid value. Also, does powershell work for you, portal\cli\powershell call the same REST ARM APIs.
Topic 3 here has more details on troubleshooting steps to figure out why login is not working.
https://techcommunity.microsoft.com/t5/azure-sql-database/troubleshooting-problems-related-to-azure-ad-authenticati

[2020-01-23 17:19] jluk commented on #11891
This 429 throttling is a known issue with AKS calling VMSS, which we are investigating as part of the service issue.

A support request is in flight, SR: 120012323000897.

I am going to close this issue as it is not CLI related and we have oncall investigating.

[2020-01-23 17:27] jluk commented on #11922
You have to install kubectl.

Run az aks install-cli.

[2020-01-23 17:27] #11922 closed

[2020-01-23 17:30] jluk commented on #11916
I would have assumed that error returned from az monitor meant a workspace name conflict. Adding log analytics team who can provide insight.

[2020-01-23 17:35] adeal commented on #11921
@nikoudel thanks for the feedback here!
The document is just intended to be an example. Depending on use case, I would agree that the generating a credential for the entire container could be beneficial.

We'll take a look at why both `rw` permissions are required when generating a container SAS.

[2020-01-23 18:06] yareyes commented on #11928
@dbamaster sql vm command will create a SQL virtual machine for an existing underlying Virtual Machine with SQL installed. The error is indicating that the VM resource does not exist. If you want to use the command, please create a Virtual Machine with one of our SQL images and register using the above command.

Please refer to [Register a SQL Server virtual machine in Azure with the SQL VM resour

[2020-01-23 18:09] jaredmoo commented on #11926
Yes, it's because of serverless. You'll see that below are smallest available capacities:

[code]

Let me take a look at how we can fix this.

[2020-01-23 18:12] jluk commented on #11930
@zer0big can you update you az version and try again since you're on an older build?

@sauryadas for the attach acr issues with what looks like a storage error.

[2020-01-23 18:16] alexeyshishkin01 commented on #11916
I don't know - it is what it is.

[2020-01-23 19:00] jaredmoo commented on #11926
I chatted with @weizeng-msft and he will fix this. Thank you for reporting this issue!

[2020-01-23 19:01] RyanHill-MSFT opened #11936 "Error when running az webapp up for netappcore30"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up -n {} --sku {} -l {}`

## Expected Behavior

## Environment Su

[2020-01-23 19:08] dariagrigoriu commented on #11893
Pending milestone assignment.

[2020-01-23 23:24] SidShetye opened #11937 "az webapp deployment source config-zip keeps giving "zip deployment failed""
**Describe the bug**
az webapp deployment source config-zip keeps giving "zip deployment failed". Note that the same .zip file can be deployed to other app service "apps" and "slots". Also note that the app-slot that fails in our CI/CD script CAN be deployed from within VS2019 (right click proj -> publish).

**To Reproduce**
`az webapp deployment source config-zip --resource-group my-res-group --n

[2020-01-23 23:50] infa-anisrini opened #11938 "aks get credentials throwing traceback"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2020-01-24 00:15] SidShetye commented on #11937
To add, we're open to other ways of deployment that could be more reliable as long as we can script it and the production build can be locally built on our CI/CD servers. Thanks

[2020-01-24 00:33] rejectshop-dgilbert commented on #11179
Can confirm that adding --container-name _{full container name}_ is a successful work-around.

[2020-01-24 01:08] BrainSlugs83 commented on #11891
@jluk  -- regardless of the request.  I believe that the tool is not handling 429 responses appropriately, according to MSDN (which I linked above).  And it still leaves the user with no recourse.

Obviously it would be great if the service issue just went away, but regardless, the tool is behaving inappropriately in my opinion; and I would recommend you leave this bug open and part of the backlog

[2020-01-24 01:33] jluk commented on #11891
Since cli core is already tagging an owner to investigate, will reopen and defer to them to handle issue closure.

The VMSS throttling is still under investigation, we've made multiple improvements in the cloud provider for latest 1.15 patch versions and latest CA addon versions. There is an additional set of work we are engaging for ETAs, please look to azure/aks for an issue summary in the comin

[2020-01-24 01:42] yonzhan commented on #11927
add to S165.

[2020-01-24 06:56] clg-rd opened #11939 "webapp: Web app container memory issue.Cannot set increased memory"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config appsettings set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config appsettings set --resource-group {} --

[2020-01-24 08:08] zer0big commented on #11930
@jluk Thank you so so much :) After updating az version, It works perfectly.

[2020-01-24 08:53] hsnsalhi opened #11940 "Unable to create Container Group with two docker containers"
**Resource Provider**
Container Instances

**Description of Feature or Work Requested**
I want to create a container group with two docker containers. I am able to do it with ARM templates but not with azure cli

[2020-01-24 10:14] gewoonwoutje commented on #7447
Asking what version of the az CLI already takes more than 2 seconds. Isn't that quite long for showing a version number?

I installed the CLI via the .msi installer.

[code]

[2020-01-24 10:31] wi5nia opened #11941 "az apim list doesn't work"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim list`

## Expected Behavior

## Environment Summary
[code]
## Addit

[2020-01-24 11:04] a-vishar opened #11942 "Moving resource groups doesn't complete properly"
I have a workflow using the CLI which does the following:

- Create a Resource Group (R1)
- Create SQL Server (S1) in R1
- Copy DB from a different server (S0)
- Move resource group (R1) (contents) to another subscription (into resource group R2)
- Copy DB from server (S1) to pre-existing server (S2)
- Delete R1
- Delete R2

When I do this, the delete step for R1 reports that the contents are stil

[2020-01-24 11:13] petermicuch opened #11943 "--source-address-prefixes does not accept 'Internet' value as described in help"
When I use --source-address-prefixes 'Internet' during creation of new rule, then I get an error:
A function or parameter in policy assignment '0b6d333531ff403b84fa005d' associated with the policy definition 'b0da5005-26d0-4844-a0d0-9c7cabfbaa96' could not be validated. Please either fix the policy or remove the policy assignment to unblock. If using template functions, try following the tips in:

[2020-01-24 11:58] tsgenge commented on #11867
We have the same issue; when the key vault is in a different RG (very common, as you want your compute to be torn down easily without impacting config elements) from your web app, this command fails. Setting the RG with -g to the web app RG causes an error that it can't find the keyvault, and vice versa. Note setting "az configure --defaults group" doesn't help.

[2020-01-24 14:39] Slowdive-Aideron commented on #7618
How do i specify the Authorization : bearer $token in the --headers ? i haven't found anything useful . Also is it possible to user az rest -m get on a private keyvault for example ?

[2020-01-24 14:57] oliviervaillancourt commented on #9887
Any update on this on in 2020?

[2020-01-24 15:58] tsgenge opened #12018 "[BUG] Cannot create windows container based WebApp"
**Describe the bug**
When creating a web app on a hyper-v (windows container) service plan pulling from ACR, the command returns with an access denied attempting to authenticate with the ACR.

**To Reproduce**

1. Create a new service plan using --sku PC2 and --hyper-v.
2. Create a new web app using a container image hosted on ACR and the new service plan.

This returns with an access denied.

For

[2020-01-24 16:36] MaximeRastello commented on #11932
Same issue here using Az PowerShell module, please advise

[2020-01-24 17:10] #11930 closed

[2020-01-24 17:52] jluk commented on #11938
@infa-anisrini can you try upgrading your cli version since its an old version and rerun the cmd?

We've seen these errors thrown on older builds.

[2020-01-24 20:47] nnja opened #11944 "az webapp up --name <name> always fails with <name> already exists"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Running az webapp up with any arguments to name always fails, saying the app already exists no matter what arguments are provided.

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive

[2020-01-24 21:21] BrainSlugs83 commented on #11891
Thanks @jluk, much appreciated! 🙂

[2020-01-24 23:24] kimitake opened #11945 "az storage blob generate-sas does not support (l)ist permission"
**Describe the bug**
According to document, https://docs.microsoft.com/en-us/cli/azure/storage/container?view=azure-cli-latest#az-storage-container-generate-sas, the permission supports (a)dd (c)reate (d)elete (l)ist (r)ead (w)rite, but when I set (l), the az command shows the following error message.

BTW, azure portal supports Read, Write, Delete, List, Add, Create, Update, Process

**To Reprodu

[2020-01-25 02:31] MyronFanQiu commented on #11942
@zhoxing-ms Please take a look.

[2020-01-25 02:34] MyronFanQiu commented on #11943
Hello. Do you mean that you meet such error when you tried to create a rule with ` --source-address-prefixes 'Internet'`?

[2020-01-25 02:35] MyronFanQiu commented on #11945
@Juliehzl Please take a look.

[2020-01-25 06:02] petermicuch commented on #11943
Hello. I am terribly sorry. I tried this in other subscription that I have and it worked fine. It seems that on the one where this failed, someone from our internal IT set new policy that does not make much sense.

[2020-01-25 06:02] #11943 closed

[2020-01-25 11:43] Rodske commented on #11932
--mount-path "\data"
worked for me with Windows Containers in App Service

[2020-01-25 17:18] sputnik13 opened #11946 "az batch account show throws an exception without required arguments"
## Describe the bug

**Command Name**
`az batch account show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az batch account show`

## Expected Behavior
An message should be shown to the user rather than bubbling up an exception.  This is inc

[2020-01-26 01:16] yonzhan commented on #10719
add to S165.

[2020-01-26 02:15] dbamaster commented on #11928
You're correct. I was trying to create the VM from the ```az sql vm create``` command, I have addressed the problem. Thank you!

[2020-01-26 02:15] #11928 closed

[2020-01-26 08:16] yossi-y commented on #11916
The error suggests that the workspace you are trying to create is already exists. A default workspace can be used for sending monitoring logs from many resources and clusters. If 'DefaultWorkspace-<SUBSCRIPTION_ID>-NEU' exists in the region (NEU), try selecting it during the AKS cluster creation process. If you want to sent the logs from the new AKS to another workspace, try creating workspace wit

[2020-01-26 16:21] rahulroshan96 opened #11948 "az interactive command failed with error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-01-26 18:07] blrchen opened #11949 "GeographyGroup is missed in az account list-locations result"
### `az feedback` auto-generates most of the information requested below, as of CLI version 2.0.80

**Describe the bug**
GeographyGroup is missed in az account list-locations result

**To Reproduce**
az account list-locations

**Expected behavior**
GeographyGroup info for each region should be return

**Environment summary**
cli version: 2.0.80

**Additional context**
This seems introduced by rece

[2020-01-26 18:16] ghstahl opened #11950 "az keyvault set-policy: passing a variable to --object-id fails."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault set-policy`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[code]
## The Problem
[code]
## This Works
[code]

I query for the **identity.principalId** and assign it to

[2020-01-26 22:53] AdarshMV opened #11951 "Cannot deploy Python Flask web app using Azure CLI on A debian Buster Azure VM"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --sku {} -n {} -l {}`

## Expected Behavior

## Environment Su

[2020-01-26 23:03] alexeyshishkin01 commented on #11916
of course I can create workspace with different name as well as I can use another cloud solution provider.
but I need to run in Azure, with default options according to documentation.

here we are:

root@ubuntu16:~# az group show --name myresourcegroup
Resource group 'myresourcegroup' could not be found.

root@ubuntu16:~# az group create \

Location     Name
-----------  ---------------
northeurop

[2020-01-27 02:51] fengzhou-msft commented on #11948
Dupilcate of https://github.com/Azure/azure-cli/issues/11042

`interactive` has been updated to 0.4.3. Please try
[code]

[2020-01-27 02:54] fengzhou-msft commented on #11949
@jiasli please take a look.

[2020-01-27 02:56] fengzhou-msft commented on #11950
@bim-msft please take a look.

[2020-01-27 03:00] fengzhou-msft commented on #11357
This issue was fixed by manually remove the files under `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2` and reinstall azure-cli. The cause was that a reinstall of azure-cli package didn't remove the old `msrestazure` package automatically and the old package was invoked.

The previous installed azure-cli may be too old. The install mechanism has changed after that version. I have verified for r

[2020-01-27 03:01] #11357 closed

[2020-01-27 03:02] fengzhou-msft commented on #10198
Close due to inactivity. Please feel free to reopen the issue if you still have the issue with the latest release.

[2020-01-27 03:02] #10198 closed

[2020-01-27 05:53] mason-chase commented on #2402
I have the same issue today and it appears the free trial is not enough to run a smallest possible of AKS just to test how it works, it is either a sales gimmick having your credit card in account or they really did not think this through after many years of service?

[2020-01-27 06:42] pjangam commented on #8399
I'm getting same error with azure-cli 2.0.80.
when I try  `python -m pip install azure-cli`
I get below error:

[code]
I think I'm getting this error since I tried to install azure-ml sdk from pip. Originally I had installed azure-cli from brew which was working.

[2020-01-27 09:04] GerhardRuckriegel opened #11952 "az aks install-cli fails behind corporate proxy"
Command arguments: ['aks', 'install-cli', '--debug', '--verbose']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x034630C0>, <function OutputProducer.on_global_arguments at 0x03311C90>, <function CLIQuery.on_global_arguments at 0x03341D68>]
Event: CommandInvoker.OnPreCommandTableCreate []
Installed command modules ['acr', 'acs',

[2020-01-27 09:20] GerhardRuckriegel commented on #11952
works with cmd.exe but not from powershell

[2020-01-27 09:46] MaximeRastello commented on #11932
Is "data" a subfolder of /site/home ?

[2020-01-27 09:59] axthosarouris commented on #11934
Solved. I had to specify the object-id explicitly although it is an optional argument when updating the Azure AD admin

[2020-01-27 09:59] #11934 closed

[2020-01-27 10:42] AnassKartit opened #11953 "AZ Cli not working with Python > 3.6"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
when running az an error message is received if python version is not equal to python 3.6
**Command Name**
`az`

**Errors:**

-bash: /usr/local/bin/az: /usr/local/opt/python/bin/python3.6: bad interpreter: No such file or directory

## To Reproduce:
Steps to reproduce the behavior. Note that argument values hav

[2020-01-27 12:07] iverberk commented on #10980
@wangjun-jwa Is there any news regarding CLI/API support for this?

[2020-01-27 12:47] dannyb648 commented on #11933
I am also hitting the same issue when trying to use `az aks update`

[2020-01-27 12:59] dazinator commented on #11932
worked for me with Windows Containers in App Service

Assuming that maps to c:/data then that wouldnt work for mapping to other drives on windows such as D:/.

I have an existing app service with c:/webstorage mapped - so this worked at some point previously, I'm concerned to know why it now does not, I.e it seems to be a regression

[2020-01-27 13:18] tobyhersey commented on #11825
Same issue here with , azure-cli  2.0.75 * on macos
Python (Darwin) 3.7.4

[2020-01-27 13:21] tobyhersey commented on #11456
Same here az aks enable-addons --addons kube-dashboard --resource-group example-resources --name example-aks1 --verbose
The command failed with an unexpected error. Here is the traceback:

argument of type 'NoneType' is not iterable
Traceback (most recent call last):
  File "/usr/local/Cellar/azure-cli/2.0.75/libexec/lib/python3.7/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = s

[2020-01-27 14:09] ArgTang opened #11954 "az network public-ip create fails with --tags"
**Describe the bug**
When creating a public-ip with tags, command fails with `Subscription /subscriptions/26a95ca4-84f4-42bb-a00d-1bc42a166d33/resourceGroups//providers/Microsoft.Network/subscriptions/ is not registered for feature Microsoft.Network/AllowBringYourOwnPublicIpAddress required to carry out the requested operation.`

Creating the ip-address, then updating it with tags works.

**To Rep

[2020-01-27 15:08] ArgTang commented on #11954
sorry, `--ip-tags` and `--tags` has the same syntaxt, but have different meaning. it is `tags` i am supposed to use

[2020-01-27 15:08] #11954 closed

[2020-01-27 15:49] bgklein commented on #11946
A message is provided for this case `Missing required arguments. Either specify --resource-group-name and --account-name or must be logged into a batch account`

With regards to the exception trace we can look into catching it in future releases.

[2020-01-27 15:53] msglueck commented on #11740
Same on macOS Mojave:
[code]
had to manually add the path to az and `source /Users/user/lib/azure-cli/az.completion` to my .bash_profile

[2020-01-27 15:59] wouterhund commented on #9903
Why does the azure-cli even output control characters when I request json output? And how can I turn this off? This is breaking my scripts

[2020-01-27 16:40] jluk commented on #11916
@vishiy can you validate where that workspace resides and what resource group it belongs to?

Microsoft.OperationalInsights/workspaces/DefaultWorkspace-0a0b3b19-779e-4738-92f9-c1bd31d4d78d-NEU

[2020-01-27 16:56] wjia7 opened #11956 "az ad sp create-for-rbac need proper example of what to expect from the result"
In general, I would be much appreciated to know what is the resulting output from each of the az ad command. Like what is the output looks like and how can they be used.
For example, I am running some tests with 'az ad sp create-for-rbac'. The result of this CLI return a JSON object that contains appId,displayName, Name, password and tenant. What is this "password" field? Is this the client's secr

[2020-01-27 17:27] kimitake commented on #11945
I checked https://docs.microsoft.com/en-us/rest/api/storageservices/create-user-delegation-sas
az storage **blob** generate-sas command does not support (l)ist permission but
az storage **container** generate-sas command works
So this is not a bug...

btw I have tried the following at first...

[2020-01-27 17:37] mlushpenko commented on #11891
Similar here:
[code]

the only difference is that two errors thrown, for `HighCostGetVMScaleSet30Min` and for `HighCostGetVMScaleSet3Min`. I was running terraform to add a node pool.

[2020-01-27 17:52] vishiy commented on #11916
@yossi-y @OlegAnaniev-MSFT  - Looks like a dangling workspace (may be due to resource group deletion that did not delete the workspace properly) ? I see several other cases like this. Can you please investigate ?

https://github.com/MicrosoftDocs/azure-docs/issues/35143
https://github.com/Azure/azure-quickstart-templates/issues/5284

[2020-01-27 19:19] saisujithreddym commented on #11834
Do we have an ETA on this? Please let me know when this would be released

[2020-01-27 19:26] nezoic commented on #6361
Can this be reopened? this is still an issue. I'm running windows 10, and cannot run kubectl commands along side az aks commands without copying this config file over manually. It doesn't make much sense to have them in different locations.

[2020-01-27 20:05] BrainSlugs83 commented on #11891
Also of note -- the allowedRequestCount is crazy low today -- 200 for you -- and 270 for me (before it was ~600, then ~1100, now ~200). -- Not sure why the allowed request count is going so crazy.

[2020-01-27 20:21] ganga1980 commented on #11916
Hi, @alexeyshishkin01 , Thanks for reporting issue. Can you please help on run below commands and share the output  to understand the root cause of this issue? At this  point of time, I am suspecting somehow this workspace DefaultWorkspace-0a0b3b19-779e-4738-92f9-c1bd31d4d78d-NEU either in dangling state or created in non default Resource group.

1.
# set the subscription of the workspace to az cl

[2020-01-27 20:29] ajklotz commented on #11646
Were you able to reproduce the problem with values for every key?

[2020-01-27 20:58] p33t opened #11957 "--runtime-version & Node 12"
Hi,

I'd like to use Node 12:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions#languages

How do I use Node 12 please?  The '--runtime-version' only accepts 8, 10.

Is it enough to specify FUNCTIONS_EXTENSION_VERSION?
https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions#changing-version-of-apps-in-azure

Thanks in advance.

---
#### Document Details

⚠

[2020-01-27 21:17] jfggdl commented on #11696
@mkyukov, we are closing this issue, but feel free to request it to be opened again if needed.

[2020-01-27 21:17] #11696 closed

[2020-01-27 21:23] mboersma commented on #11456
It looks like `addon.config` didn't get initialized before it's referenced here. @ganga1980 have you seen this CLI bug?

[2020-01-27 21:28] srcsakthivel opened #11958 "When trying to install AZ AKS CLI"
## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2020-01-27 22:30] banisadr commented on #11627
Hi @matt-darwin, looks like there's a missing required flag in your command. az eventgrid event-subscription list should also require --location in order to return a list of event subscriptions.

Trying this in az cli 2.0.80, adding that to your command does result in a full resource URI for a topic and plugging that into the show command also results in the full JSON payload of the event subscrip

[2020-01-27 22:30] #11627 closed

[2020-01-27 22:44] p33t commented on #11957
FYI, I set the following two configuration app settings as things appear to be working.  I assume it's using Node 12....
        FUNCTIONS_EXTENSION_VERSION=~3
        WEBSITE_NODE_DEFAULT_VERSION=~12

[2020-01-27 23:26] alexeyshishkin01 commented on #11916
ok, let's give it a try:

root@ubuntu16:~# az account set -s 0a0b3b19-779e-4738-92f9-c1bd31d4d78d
root@ubuntu16:~# az monitor log-analytics workspace list -o table
This command group is in preview. It may be changed/removed in a future release.

root@ubuntu16:~#
root@ubuntu16:~# az account set -s
az account set: error: argument --subscription/-s: expected one argument
usage: az account set [-h] [-

[2020-01-28 01:55] BellaLi opened #11959 "--environment-variable Key=Value, cannot input double quote in the Value."
I need to set a JSON in the value, tried many formats, my double quote always got removed!
e.g. none of below work! (it works when submitting az command, but lost the double quotes in the env var.)
key='{"foo":"bar"}'
key='{\"foo\":\"bar\"}'
key="{\"foo\":\"bar\"}"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e5d1da

[2020-01-28 02:42] fengzhou-msft commented on #11952
@jiasli please take a look.

[2020-01-28 02:47] fengzhou-msft commented on #11959
@BellaLi please take a look at this doc related to [quoting usage](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#quoting-issues).

[2020-01-28 02:53] yonzhan commented on #11834
planned in S165.

[2020-01-28 02:53] fengzhou-msft commented on #11953
@AnassKartit are you running on a MacOS? How did you install azure-cli?

[2020-01-28 02:56] fengzhou-msft commented on #11956
@jiasli please take a look.

[2020-01-28 03:02] yonzhan commented on #11952
add to S165.

[2020-01-28 04:48] danlee0528 commented on #11596
I'm having the same error on Ubuntu 18.04
"Deplyment status endpoint https://pythonazureapp.scm.azurewebsites.net/api/deployments/latest returns malformed data. Retrying..."

[2020-01-28 05:12] danlee0528 commented on #11596
I had the same error when running "az webapp up ..." and the issue was the location of an endpoint. Try "az account list-locations" and select the location that's the closest as possible to your location. I hope this helps !

[2020-01-28 05:14] danlee0528 commented on #11596
I had the same error when running "az webapp up ..." and the issue was the location of an endpoint. Try "az account list-locations" and select the location that's the closest as possible to your location. I hope this helps !

[2020-01-28 06:20] josh-AppSheet commented on #11822
Looking for an answer for this as well.

[2020-01-28 09:54] rayifu opened #11961 "VMSS Extension version may not match compare to TypeHandlerVersion"
Background:
I wanted to create the same environment to verify the production environment and created it.
I found may the issue.
But Not in a hurry.  Slowly OK.
It may OmsAgentForLinux issue.  I don't know where to ask for an issue.

**Describe the bug**
- The installing extension may not parse version.
    - I choose version 1.11 by az-cli, but VMSS was installed 1.12.15 by waagent.
[code]
- I gue

[2020-01-28 10:45] yungezz commented on #11961
thanks for reporting the issue. we'll look at and update whether it's azure CLI issue or not.

[2020-01-28 11:01] jpovey commented on #7032
Thanks @mreyeros, this is the correct solution to escape the secret. It is unusual to require single and double quotes and is not clear in the docs https://docs.microsoft.com/en-us/azure/app-service/app-service-key-vault-references

As above this works
`az functionapp config appsettings set --name func-name --resource-group func-rg --settings SettingName='"@Microsoft.KeyVault(SecretUri=https://key

[2020-01-28 11:08] rudolphjacksonm opened #11962 "Unable to create cosmosdb collection using new CLI commands"
**Describe the bug**
I'm unable to create a CosmosDB Mongodb collection using the new syntax that replaces the deprecated `az cosmosdb collection create` command:

[code]
When I try this, I receive this error: `Operation failed with status: 'MethodNotAllowed'. Details: Requests for API mongodb are not supported for this account.` Unfortunately it doesn't tell me exactly what is wrong with the Cosm

[2020-01-28 12:40] rayifu commented on #11961
@yungezz  I retry to create VMSS by az-cli with add option `--no-auto-upgrade true`.
I successd older version.
[code]

My mission completed.
It is self resolved.  Im glad.

So the issue was cleared. Would you please close the issue?

Thanks you for your supporting.

[2020-01-28 12:43] DLHForsberg opened #11963 "Create group deployment cannot handle the letter Ä."
**Describe the bug**
When running `az group deployment create` on a resource group that contains the letter Ä an unexpected error happens.

**To Reproduce**
Create a resource group named something with the letter Ä, for instance `RegionVästerbotten` and run a  `az group deployment create` template from either WSL, PowerShell or Azure template deployment.

**Expected behavior**
Expect the deploymen

[2020-01-28 13:09] rayifu commented on #11961
I have a good idea of feature.
- reqired option --no-auto-upgrade when `--version` option  selected.

then everyone

[2020-01-28 14:47] Marco10101 commented on #10468
Is there a way to already use --zone-redundant parameter now? it seems that it is supported in the 2018-01-01-preview API version. But I would like to known how to actually use that version of the az cli.

[2020-01-28 15:01] billpieper opened #11965 "$x = $(az appconfig kv list .... ) hangs and never returns."
## Describe the bug
Unable to run az appconfig commands and have output assigned to PowerShell variable.  Same command running standalone in the same shell works just fine.  This repos on multiple versions of PowerShell on multiple machines as well as different versions of az cli (tried it on 2.0.74 and 2.0.80)  Other az cli commands are able to successfully have results assigned to a PowerShell v

[2020-01-28 15:02] monkeybean commented on #11824
Reinstalled azure-function-core-tools a the problem appears to be resolved.  Issue to be closed.

[2020-01-28 15:02] #11824 closed

[2020-01-28 16:11] akrone-hach opened #11966 "az apim list -h error thrown"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az apim list -h`

## Expected Behavior

## Environment Summary
[code]
## Ad

[2020-01-28 16:20] ebuzek opened #11967 "SIG name must be unique within subscription"
Shared Image Gallery name must be unique within subscription (regardless of resource group), but CLI does not provide a way to check if gallery with this name exists.

**Errors:**
[code]

## Synopsis
- our scripts generating images and pushing them to SIG need to ensure that the SIG exists
- to check if SIG with some name exists, CLI requires `--resource-group` parameter and checks only within the

[2020-01-28 16:32] jluk commented on #11958
@fengzhou-msft can you validate why the msftbot is pinging us multiple times?

@srcsakthivel can you retry this with the latest CLI build? otherwise let's visit the repros in person.

[2020-01-28 17:03] srcsakthivel commented on #11958
Thanks, that error is gone after updating the CLI.

Now I'm getting this now,

kubectl get nodes

Unable to connect to the server: dial tcp [::1]:8080: connectex: No connection could be made because the target machine actively refused it.

Should I submit a separate issue?

[2020-01-28 17:22] stevengum commented on #11697
As indicated via GitHub, PR 11935 is out with a change that makes the `az bot create` command idempotent. This only affects the actual Azure Bot Service Resource itself, not any additional resources that may be spun up (e.g. App Service, App Service Plans).

[2020-01-28 17:22] jluk commented on #11958
Can you double check you have the right credentials setup in config/az aks get-credentials? That error usually means its permission failure and your config file isn't setup correctly.

[2020-01-28 18:48] JasonRShaver opened #11968 "Error message for param errors during VM creation not useful"
in the following example, the create fails because of the ':' in the VM name, but the `az vm create` command displays the template deployment error message, but not the useful inner one.

[code]

[2020-01-28 19:06] lsmith130 commented on #10995
Closing as a duplicate of #9894

[2020-01-28 19:06] #10995 closed

[2020-01-28 19:54] hytao commented on #8895
These features are currently not supported by the service provider Akamai. Please reach out to CDN PM(azcdnpm@microsoft.com) team to discuss about this feature request.

[2020-01-28 20:03] vpatelsj commented on #5866
ran into this same issue with gosdk as well, customdata is just returned null

[2020-01-28 21:34] brandonh-msft commented on #7618
@yugangw-msft how do I use this? `az rest` throws an error

[2020-01-28 22:36] BellaLi commented on #11959
Thanks. @fengzhou-msft
The quoting usage is help in the sense to make az command pass, it doesn't help keeping those double quotes in container's env vars.
I changed to use azure template deployment, and managed to make it work!

[2020-01-28 22:36] BrainSlugs83 commented on #11891
FYI -- for anyone experiencing this issue: https://github.com/Azure/AKS/issues/1413

[2020-01-28 22:46] hytao commented on #11789
I'm working on RulesEngine for Azure CLI. The changes has been approved and will be checked in soon.

[2020-01-28 22:46] hulseware opened #11969 "Very ugly error message when using az account logging update command on a Storage Account of kind BlobStorage or sku.tier Premium"
If you try to exeute az account logging update with a Premium storage account or with a BlobStorage storage account, you will get an error similar to the following:

az>> az storage logging show --account-name xxxxxxxxxxx --subscription xx-xxx-xxx
The command failed with an unexpected error. Here is the traceback:

HTTPSConnectionPool(host='xxxxxxxxxx.queue.core.windows.net', port=443): Max retrie

[2020-01-28 22:49] sputnik13 commented on #11946
@bgklein I understand the information is there, the bug is that this is not really an application exception, so a stacktrace shouldn't be provided, instead a user message should be output to make it consistent with the overall user experience provided by other commands.

[2020-01-28 22:51] TimSBenjamin opened #11970 "az webapp config show "phpversion" is inconsistent across Windows & Linux WebApps"
**Describe the bug**
On Windows the php Version is stored in "phpVersion" on linux it is stored in "linuxFxVersion" and on linux "phpVersion" is blank. This is very confusing and the user may easily think that setting the php version is not working.

**To Reproduce**
run az webapp config show --resource-group <resource-group-name> against a Web App configured for PHP on Windows & Linux respectivel

[2020-01-28 22:56] TimSBenjamin opened #11971 "az webapp config show and set use different spellings for the runtime "linuxFxVersion" and "linux-fx-version" respectively"
**Describe the bug**
az webapp config show and set use different spellings for the runtime "linuxFxVersion" and "linux-fx-version" respectively

**To Reproduce**
set runtime version & attempt to get the runtime version you need to re-spell.

**Expected behavior**
Typically you arrow up and expect to just change set to show and add query, the different spelling is not obvious

**Environment summary

[2020-01-28 23:22] ggirard07 opened #11972 "Support option equivalent to `SkipTemplateParameterPrompt` from PowerShell for ARM template validation"
**Is your feature request related to a problem? Please describe.**
While validating ARM template and parameter file, there is no way to avoid prompting for missing parameters.
When this is automated in a pipeline to proceed to template validation, the pipeline will hang until timeout.

By having an option to disable prompting for missing parameters, this will allow to get validation result right a

[2020-01-28 23:31] sputnik13 opened #11973 "application-gateway does not select https when key-vault-secret-id is provided"
## Describe the bug

**Command Name**
`az network application-gateway create`

**Errors:**
`Azure Error: InvalidTemplateDeployment
Message: The template deployment 'ag_deploy_a1KNUFoglHPEILIat6AQYPFZ68M2uwz6' is not valid according to the validation procedure. The tracking id is '9a36237b-b1bd-41ee-8e56-382b89e12ce0'. See inner errors for details.
Exception Details:
        Error Code: Application

[2020-01-29 02:04] yonzhan commented on #11963
add to S165.

[2020-01-29 02:11] yonzhan commented on #11967
add to S165.

[2020-01-29 02:12] yonzhan commented on #11968
@qwordy  please take a look.

[2020-01-29 02:13] yonzhan commented on #11969
add to S165.

[2020-01-29 02:15] yonzhan commented on #11972
add to S165.

[2020-01-29 02:18] yonzhan commented on #11973
add to S165.

[2020-01-29 02:55] CJavierSaldana opened #11975 "[Bug] Create a Create a key vault from Azure CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault create --name {} --resource-group {} --location {}`

## E

[2020-01-29 04:01] yonzhan commented on #11975
@bim-msft please take a look.

[2020-01-29 04:41] Raghuveer-Yadav-Gadula commented on #11179
@rejectshop-dgilbert thanks for the reply,  the root cause for the failure for my case likely that i didn't mention the --backup-management type , container name and the retention date(the retention date works in conjunction with the subscription end date as well).

Since i'm no longer having the subscription handy, wouldn't be able to re-pro the same, will have to give a try later.

but a further

[2020-01-29 06:07] fengzhou-msft commented on #11958
@jluk due to some network latency, I accidentally added back `triage` label.

[2020-01-29 10:51] sirwarshade opened #11978 "Can create path mappings with az resource update --set on Windows but not on Linux."
I'm trying to add path mappings, i'm using the "az resource update" command to get to that goal. Only on windows do i get the expected result, which is the creation of additional path mappings.

Both Windows and Linux are on azure-cli 2.0.80.

**Command Name**
`az resource update`

`az resource update --name I20200128R4-Test-Server/config/web --resource-group I20200128R4 --resource-type Microsoft.

[2020-01-29 11:07] sirwarshade commented on #11030
on Linux

az network application-gateway address-pool update --gateway-name dekey-firewall --name test-apps --resource-group dekey --add backendAddresses '{\"fqdn\":\"20191030R2-Ontwikkel.azurewebsites.net\",\"ip_address\":null"}'
The command failed with an unexpected error. Here is the traceback:

Unable to build a model: Unable to deserialize to object: type, AttributeError: 'str' object has no

[2020-01-29 11:49] centreboard opened #11979 "Can't run from PowerShell"
## Describe the bug
Can't run any `az` command from PowerShell (either 5.1 or 7-rc2)
Works fine from `cmd`

**Errors:**
[code]

## Expected Behavior
Runs fine in a powershell prompt.
This used to work fine for me, though I can't remember whether I've used it since I previously updated the az cli and rebooted.

## Environment Summary
Installed from MSI.
Persists when uninstall and reinstalled.
[cod

[2020-01-29 12:44] jurjenoskam opened #11980 "az functionapp deployment source config-zip keeps retrying even though deployment failed with 503 Service Unavailable"
On azure-cli 2.0.80 (did not try other versions), publishing code to a Linux Function App will cause the command to keep retrying even though publishing the code failed with 503 Service Unavailable:

[code]

My expectation was that the command would fail as soon as it notices that the deployment endpoint responds with status code 503, as there's no sense in retrying at that point.

(To be clear, t

[2020-01-29 14:55] centreboard commented on #11979
Sorry I think this is a issue for PCs in my network where `HOMEDRIVE` has been mapped to `H:` despite that drive not existing, and this was the first command where the issue occurred (I later had the same symptoms of looking for `H:` in pwsh and not cmd with `git config`).

[2020-01-29 14:55] #11979 closed

[2020-01-29 15:06] jacekmackiewicz opened #11981 "The az resource create example doesn't work"
Example: az resource create -g myRG -n myApiApp --resource-type Microsoft.web/sites --is-full-object --properties '{
            "kind": "api",
            "location": "West US",
            "properties": {
                "serverFarmId": "/subscriptions/{SubID}/resourcegroups/{ResourceGroup}/providers/Microsoft.Web/serverfarms/{ServicePlan}"
            }
        }'
doesn't work, giving a "Error

[2020-01-29 16:38] jluk commented on #11958
Closing this issue to resolve in person if needed.

[2020-01-29 16:38] #11958 closed

[2020-01-29 16:57] yooakim opened #11984 "Can't filter using JMESPath query on integers"
I want to retrieve a list of VM sizes where the name contains **_B** and the number of CPU cores is **4** - so I try this AZ CLI command:

[code]
which works fine. but when I try to add the filter for number of cores it does not work:
[code]
I have also tried this:

[code]
but of course I don't get the expected result as 4 should be an integer.

It seems as if the version of JMESPath used by Azure

[2020-01-29 17:23] shurd commented on #11962
Hi @rudolphjacksonm thank you for opening this issue. Based on the error message, it seems as though the account is not a MongoDB account. Could you share an activity id or a sample account name where you saw the problem so we can investigate? You can also open a support case via the portal and share the information there.

[2020-01-29 17:43] MohamedOthman commented on #8895
is this supported in verizon premium ?

[2020-01-29 18:51] armtuk opened #11985 "What is an OData filter?"
The term 'OData' filter under --filter option for az ad sp list should be a link here to a description of what that means.

This is REALLY important because az ad sp list shows pages and pages and pages of information, most of which isn't relevant, so filtering feels critical.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

*

[2020-01-29 23:52] lsmith130 commented on #9894
The implementation of this is nearly finished, and I'll be reprioritizing it next week.

[2020-01-29 23:56] lsmith130 commented on #10529
I'm working on a fix for this in conjunction with #9894, which should be complete next week.

[2020-01-30 00:38] neerajks77 commented on #4155
Please let me know if this is already resolved. I am currently running into the issue

[2020-01-30 01:30] dwaijam commented on #11657
I am having the same issue. Number of blobs is less than 5000. Please investigate this issue

[2020-01-30 01:42] yonzhan commented on #11978
add to S165.

[2020-01-30 01:44] yonzhan commented on #11981
add to S165.

[2020-01-30 01:47] yonzhan commented on #11984
@qwordy  please take a look.

[2020-01-30 01:49] yonzhan commented on #11985
add to S165.

[2020-01-30 04:06] Falconne commented on #10698
I expect this issue was raised from the Microsoft documentation page: https://docs.microsoft.com/en-us/cli/azure/ad/app/permission?view=azure-cli-latest

If you look there you can see the issue; the generated website content doesn't escape the content for HTML, so the text inside angle brackets don't show up.

[2020-01-30 04:21] Falconne commented on #11354
@jiasli This issue is closed, but there is nothing in the documentation that would have let me find that GUID table blog post. I had Googled "az cli api permissions guids" but that didn't find it either. Luckily that search led me to this repo and I saw this issue.

I think that table should really be in the official documentation and discoverable from the docs for " az ad app permission add".

[2020-01-30 07:31] yonzhan commented on #10698
add to S165.

[2020-01-30 07:53] kalyan123i commented on #11891
I have raised a support ticket to microsoft and got the below recommendation which worked for now. microsoft is working to fix in later version of aks.

- remove autoscaling feature for aks clusters in subscription and wait for 2 hours to api to lower the throtlle.
- keep resource limits for all deployments and make sure its not more than 80% of total available  resources.

[2020-01-30 09:06] #11883 closed

[2020-01-30 09:13] #9916 closed

[2020-01-30 09:33] MyronFanQiu opened #11988 "[Network] Fix actions required for az network private-link-service connection update and bump to 9.0.0"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-01-30 09:33] MyronFanQiu commented on #11988
plan in S165

[2020-01-30 10:36] #11839 closed

[2020-01-30 12:44] blrchen commented on #11949
Would you mind sharing which release rollout would include this fix?

[2020-01-30 13:31] #11583 closed

[2020-01-30 14:02] djsowa opened #11992 "AppConfiguration: Missing example of referencing secret from KeyVault"
Hi.

Do You have any example of adding reference to KeyVault using CLI ?

M.

Based on: https://github.com/Azure/azure-cli-extensions/issues/1225

[2020-01-30 14:38] yonzhan commented on #11949
planned in  https://github.com/Azure/azure-cli/milestone/82

[2020-01-30 14:50] yonzhan commented on #11992
@bim-msft  do you have any context about this issue ?

[2020-01-30 16:24] a-vishar commented on #11942
Any update on this?

[2020-01-30 16:44] boneyrp opened #11993 "az aks enable-addons Throws error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons --addons {} --resource-group {} --name {}`

##

[2020-01-30 17:11] BhargaviAnnadevara-MSFT commented on #11767
Similar issue reported [here](https://social.msdn.microsoft.com/Forums/en-US/e477fc66-b7b4-40f9-8f77-cc3d7b1ebcbf/publisher-microsoftcomputetestsar-was-not-found?forum=azurescripting).

[2020-01-30 21:02] coonsmatthew commented on #8296
I'm also having this issue. @tjprescott. Do you have a way to create a VM without a public IP using the `New-AzVm` powershell module?

[2020-01-30 21:21] jongio opened #11994 "az functionapp identity assign does not honor role param"
## Describe the bug

**Command Name**
`az functionapp identity assign `

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
`az functionapp identity assign -g jongrg4 -n jongfuncblob2 --role b7e6dc6d-f1e8-4753-8033-0f276bb0955b`

## Expected Behavior

I expe

[2020-01-30 21:42] nilshedstrom opened #11995 "Error parsing comments after the last parameter, variable or output"
If you write a comment after the last parameter, variable or output you will get a error message.
If you try to deploy the template you will get the same error message.

If you validate the file with
Test-AzResourceGroupDeployment -ResourceGroupName <rg> -TemplateFile <file>
it does not report any errors.

## Describe the bug

**Command Name**
`az group deployment validate`

**Errors:**
[code]

##

[2020-01-30 21:43] jongio opened #11996 "az functionapp identity show should also return roles for the identity"
This:
`az functionapp identity show`

Should return the roles for that identity

Without that I have to run `az role assignment list -g {} -n {}`

[2020-01-30 21:44] nilshedstrom commented on #11995
The following arm-template validates and ok:
[code]

[2020-01-30 22:19] jbinko opened #11997 "Azure ARC Extension - No module named google.auth"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az connectedk8s connect`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az connectedk8s connect --name {} --resource-group {}`

## Expec

[2020-01-30 23:39] dariagrigoriu opened #11998 "Add support for az functionapp auth"
This would be similar to az webapp auth to support discoverability and configuration for the Authentication and Authorization experience.

[2020-01-31 00:25] yonzhan commented on #11942
Planned in S165.

[2020-01-31 00:28] jluk commented on #11993
This looks like a duplicate of https://github.com/Azure/azure-cli/issues/11456

Can we aggregate information on that issue and close this one?

[2020-01-31 00:34] yonzhan commented on #11995
add to S165.

[2020-01-31 00:55] jluk commented on #11997
@yonzhan can we create an arc specific tag? What do you think @slack?

[2020-01-31 01:01] seanmck commented on #11997
I'd suggest moving it over to the Arc preview repo since it's not actually part of the core CLI yet. I don't have admin rights on that repo, but maybe @slack has the necessary powers.

[2020-01-31 03:57] NiryaAestus opened #12001 "Is it possible to take the output of one gateway setting, and use it to configure another?"
I have a dev enviroment in one subscription and a Live one in another. I would like to copy the rules from one to another. It'd be nice if I could use the output of: "az network application-gateway waf-config show" and set them using "az network application-gateway waf-config set"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2020-01-31 04:08] ganga1980 commented on #11916
Hi, @alexeyshishkin01 , thanks for sharing the logs. Based on investigating the logs, looks like this workspace: DefaultWorkspace-0a0b3b19-779e-4738-92f9-c1bd31d4d78d-NEU  moved different resource group than default resource group or it moved to different subscription or this workspace exists but you may not have access .  Can you please check whether this workspace "DefaultWorkspace-0a0b3b19-779e

[2020-01-31 04:13] #11697 closed

[2020-01-31 06:49] jsntcy commented on #12001
@MyronFanQiu, please help take a look, thanks.

[2020-01-31 07:01] alexeyshishkin01 commented on #11916
how to check it? previously I sent you the output of commands which showed there's no such workspace
btw I have only one subscription.

[2020-01-31 07:33] yungezz opened #12003 "Keyvault: Create key via importing - BYOK preview"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Keyvault

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
To support create key via importing. such as
`az keyvault key create --vault-name bim-kv6 --name mykek --kty RSA-HSM --size 2048 --ops import`

*

[2020-01-31 07:54] yonzhan commented on #12003
Keyvault BYOK

[2020-01-31 08:34] djsowa commented on #11992
Sure.
There is no example how to reference secrets from KeyVault to AppConfiguration instance.
it took me some time to figure out how to add this reference using CLI.

You can find example in original issue,

[2020-01-31 09:03] #10905 closed

[2020-01-31 09:10] jiasli commented on #11891
As discussed with the author of **msrest**:

429 is honored as part of the regular **requests/urllib3** integration:
https://github.com/urllib3/urllib3/blob/728d9244665ef5b03103cb74d7b409ebe4f23b43/src/urllib3/util/retry.py#L154

It will be honored only if there is a `Retry-After` header though, as per HTTP spec. You will not find this code in the ARM implementation, because it’s not ARM specific

[2020-01-31 10:03] yungezz commented on #12003
? :)

[2020-01-31 10:48] yossi-y commented on #11916
The workspace was deleted on 2019-12-23. What I believe is happening is that the workspace is in soft-delete state and its name remains reserved for 14d.

We added the option to delete workspace permanently, but this is supported via API currently. Learn more in this article: https://docs.microsoft.com/en-us/azure/azure-monitor/platform/delete-workspace.

[2020-01-31 11:05] rudolphjacksonm commented on #11962
Hi @shurd , turns out this was a silly typo on my end that led me to try sending these commands to a SQL account that was similarly named to our MongoDB account. In hindsight the error message makes sense, however it may be a bit clearer for it to state something like `Requests for API mongodb are not supported for this account of kind: GlobalDocumentDB`

[2020-01-31 11:05] #11962 closed

[2020-01-31 11:41] hulvei3 opened #12007 "Unclear of what "server" and "name" should be when using azure sql db import"
When using `azure sql db import` to create a new db from a bacpac file from storage, I get the "Can not perform requested operation on nested resource." as it would require the to-be database to already be present. "Can not perform requested operation on nested resource. Parent resource '&lt;server&gt;/&lt;db-name&gt;' not found."

When trying to omit it, it also fails. When running with --debug I

[2020-01-31 11:45] alexeyshishkin01 commented on #11916
if it was deleted on 2019-12-23, then 14 days after that means 2020-01-07 which is almost a month over
so it does not sound like an explanation (this case was opened 10 days ago)
anyway - the link you provided does not specify ho to delete workspace via CLI (I'm not sure PowerShell should be the first tool in the list since it seems to be exotic)

[2020-01-31 12:03] yossi-y commented on #11916
Correct, I looked at the wrong month, as if it's 23-Jan :(.
We will have to get this investigated and get back to you.

[2020-01-31 12:32] CoderKooke opened #12008 "webapp:ERROR: not enough values to unpack (expected 2, got 1)"
Hi ... I am getting this error running the below command:

`az webapp config connection-string set -n myapp -g webapps -t SQLAzure --settings sql1 = $connectionString`

The traceback is below

az : ERROR: The command failed with an unexpected error. Here is the traceback:
At line:1 char:1
+ az webapp config connection-string set -n myapp -g webapps - ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2020-01-31 13:49] ovidiu10 opened #12009 "Metadata comments in param file throw an error"
**Describe the bug**
using in param file metadata for validate ARM template will get an error
 "message": "The request content was invalid and could not be deserialized: 'Could not find member 'metadata' on object of type 'DeploymentParameterDefinition'. Path 'properties.parameters.storageAccountType.metadata'

**To Reproduce**
JSON - ARM Template
JSON - ARM Param File should contains metadata
{

[2020-01-31 13:51] yonzhan commented on #12009
add to S165.

[2020-01-31 13:54] onstwedder opened #12010 "webapp: --ip-address accepts only cidr not ip4"
e.g. just tried the following:
az webapp config access-restriction add -g &lt;resourcegroupname&gt; -n &lt;Webappname&gt; --action Allow --description 'Outgoing ip' --ip-address 50.69.29.185 --rule-name 'webplan' --priority 505

which resulted in:
Operation returned an invalid status code 'Bad Request'

However when i tried this:
az webapp config access-restriction add -g &lt;resourcegroupname&gt;

[2020-01-31 14:11] yonzhan commented on #12009
@zhoxing-ms  please take a look.

[2020-01-31 17:06] slack commented on #11997
@jbinko please open this issue against the private preview repo.

@jluk and @yonzhan yes, we should create an Azure Arc for Kubernetes tag.

[2020-01-31 17:19] jongio commented on #9887
Would be great to bump this up.  Not having this breaks the CLI-only flow.  Dev is required to switch context to the portal, ARM.

[2020-01-31 17:55] jongio commented on #9887
Here's a workaround:

1. Create the user assigned identity
[code]
https://docs.microsoft.com/en-us/cli/azure/identity?view=azure-cli-latest#az-identity-create

2. Use `az resource list -n {name`} to get the resource id

https://docs.microsoft.com/en-us/cli/azure/resource?view=azure-cli-latest#az-resource-list

3. Use `az resource update` to directly update the resources assigned identity
[code]

F

[2020-01-31 17:59] jaredmoo commented on #12007
The database must be already created and must be empty before executing import.

[2020-01-31 18:39] #11896 closed

[2020-01-31 18:51] yugangw-msft commented on #11895
ACR has integration with Azure Resource Manager, hence if the user account or service principal account has permission to the registry, running `az login` should be sufficient for subsequent commands to work including `az acr build`.
@jt55401 @Simas1, please let me know whether this answers your question

[2020-01-31 19:06] p33t commented on #11957
Worth noting that **core tools 3 uses 'func.cmd'**.  Calling 'func.exe' will invoke the older core tools 2.7.

[2020-01-31 19:06] hm033 commented on #10539
@MyronFanQiu Hi. Is there any update on creating azure bastion host using azure cli?

[2020-01-31 19:14] jt55401 commented on #11895
We already worked around it by building our own docker image that includes both tools, which cleaned up our build process a bit anyway. Thanks.

[2020-01-31 19:19] pragnagopa commented on #11257
cc @gzuber

[2020-01-31 20:33] HughDevlin commented on #3574
An ARM template for a virtual machine with a public ip address with the domainNameLabel parameter, is not idempotent.

To duplicate,

1. create a simple template to create a simple virtual machine with a public IP with a domainNameLabel parameter as a prefix to the fully qualified domain name.
2. Deploy the template.
3. Deploy the template again. 2nd & successive deployments fail with the DnsRecor

[2020-01-31 21:20] jbinko commented on #11997
@slack - somebody did already: https://github.com/Azure/azure-arc-kubernetes-preview/issues/29

[2020-01-31 22:30] Simas1 commented on #11895
Az login - with ACR will not work with regular user unfortunately - I get access denied (even I'm root of this tenant/subscription).  I know I can create service principal, grant permissions to ARC and it will work, only this way work. But that is workaround, and I would expect solid solution. And in some cases I don't want to use service principal. So separation should be done with "az acr" comma

[2020-01-31 22:45] Hazhzeng opened #12012 "functionapp:Show Python version in Azure Functions"
**Is your feature request related to a problem? Please describe.**
Currently, Azure Functions support multiple versions of language worker (Python 3.6, 3.7 and 3.8).
We need some visualization in the worker version.

**Describe the solution you'd like**
In `az functionapp show`, we should have a panel showing the function app runtime (node, python, dotnet) and runtime version (~8, 3.6, ~3).

[2020-01-31 22:46] Hazhzeng commented on #12012
This is a feature request, mod, please assign to me.

[2020-01-31 23:04] giorni opened #12013 "public-ip-addresses not listing ips correctly."
## Describe the bug

**Command Name**
`az vm list-ip-addresses`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az vm list-ip-addresses -g {}`

## Expected Behavior

List the public ips that do exist at the context, or show proper error (maybe regarding permission at 'Microsoft.Netwo

[2020-01-31 23:46] yugangw-msft commented on #11895
`az login` is supposed to work with ACR thoygh user account. Lots of ACR commands don't require docker. Say if you grant a user account a reader role on a ACR registry through `az role assignment create`, then your `az acr repository` commands will work. If you are the owner of a registry, then almost all `az acr` commands will work out of box. If you can share with me the error message, then I ca

[2020-02-01 00:11] fabiocav commented on #11980
One of the proposals is to expose an argument to enable you to specify the maximum number of retries, as depending on the deployment, a bad response may occur with the initial requests.

[2020-02-01 00:15] fabiocav commented on #11957
This is a good candidate for the new "stacks API" that has been exposed.

[2020-02-01 00:17] fabiocav commented on #11957
@pragnagopa for awareness. We need to wait until the API is fully available before we can leverage it here.

[2020-02-01 00:22] fabiocav commented on #11752
@panchagnula can you confirm that we have an updated SDK with the new property now?

Also need to confirm that making this change wouldn't be breaking.

[2020-02-01 00:24] msabansal commented on #10539
@hm033 We don't have any update on this. Part of our roadmap but needs resourcing allocated. Sorry about that

[2020-02-01 00:25] dariagrigoriu commented on #11813
This is a good candidate for the new "stacks API".

[2020-02-01 00:26] fabiocav commented on #11863
@ankitkumarr do you have more context on this? Is the resource being re-created? Or is the deployment being deleted?

[2020-02-01 01:13] Simas1 commented on #11895
Strange, now it seems some commands working when logon with "az login", I can't recall which one was failing, sorry I didn't record that (some kind of authentication issue was with ACR)
But anyway "az acr login" - should not try to launch commands which expect Docker daemon.

[2020-02-01 01:53] jongio commented on #11185
Yes, please much needed.

[2020-02-01 02:34] yonzhan commented on #11997
Share we close this one if the issue is already recorded in another repo?

[2020-02-01 03:12] yugangw-msft commented on #11895
Agreed, we have #9442 to track the de-coupling work

[2020-02-01 03:38] yonzhan commented on #11519
move to S165.

[2020-02-01 03:39] yonzhan commented on #11340
move to S165.

[2020-02-01 05:03] yonzhan commented on #8033
@shurd @xgithubtriage any update for this issue?

[2020-02-01 07:42] yonzhan commented on #5115
@seguler  any update about this issue?

[2020-02-01 07:48] yonzhan commented on #9067
@pilor any update for this issue?

[2020-02-01 07:50] yonzhan commented on #11457
@Tiano2017 any update for this issue?

[2020-02-01 07:53] yonzhan commented on #9060
@kristapratico  any update for this issue?

[2020-02-01 07:54] yonzhan commented on #11616
@Tiano2017  any update for this issue?

[2020-02-01 07:57] yonzhan commented on #8016
@sandipsh any update for this issue?

[2020-02-01 08:16] yonzhan commented on #10175
@itaylaufer  any update for this issue?

[2020-02-01 08:18] #11436 closed

[2020-02-01 08:19] yonzhan commented on #11498
add to S165.

[2020-02-01 08:26] #8070 closed

[2020-02-01 08:31] yonzhan commented on #7829
@fengzhou-msft can we close this issue?

[2020-02-01 08:32] yonzhan commented on #7656
@tumluliu any update for this issue? Can we close it?

[2020-02-01 08:36] #11351 closed

[2020-02-01 08:37] #11780 closed

[2020-02-01 08:44] #10856 closed

[2020-02-01 08:49] zhoxing-ms commented on #11942
@a-vishar Because I'm taking Chinese annual leave and the internet condition at home is not good, so I'm sorry to reply so late.
I want to know the following questions with you first:
1. Does S2 refer to the existing SQL Server on R2?
2. Did you use the command `az resource move` to move R1?

[2020-02-01 08:55] jsntcy commented on #12013
@qwordy, please help take a look, thanks.

[2020-02-01 09:05] iamrahul127 commented on #6881
I am also facing same issue. After giving command az login below URL is opened in browser. It has redirect_uri set to http://localhost:8400. I also have docker desktop for windows installed. Please note not issuing these commands from docker.

https://login.microsoftonline.com/common/oauth2/authorize?response_type=code&client_id=04b07795-8ddb-461a-bbee-02f9e1bf7b46&redirect_uri=http://localhost:84

[2020-02-01 09:23] yonzhan commented on #2824
@rohinkoul  any update for this issue? Can we close it?

[2020-02-01 09:37] #11793 closed

[2020-02-01 09:58] #11006 closed

[2020-02-01 10:09] #11736 closed

[2020-02-01 10:20] #9123 closed

[2020-02-01 10:21] #10283 closed

[2020-02-01 11:13] jsntcy opened #12014 "[Breadth Coverage] Onboard POWERBIDEDICATED Commands"
**Spec Link**
https://microsoft.sharepoint.com/:w:/r/teams/AzureManagementExperience/_layouts/15/Doc.aspx?sourcedoc=%7B9854554D-0CCA-4A51-8E0C-80F1432EE9C8%7D&file=POWERBIDEDICATED%20RP%20Speclet.docx&action=default&mobileredirect=true

**Resource Provider**
What is the Azure resource provider your feature is part of?
MICROSOFT.POWERBIDEDICATED

**Description of Feature or Work Requested**
Support

[2020-02-01 11:15] jsntcy commented on #12014
add to S165.

[2020-02-01 11:20] yonzhan commented on #11192
@qwordy any update for this issue?

[2020-02-01 11:21] yonzhan commented on #10554
Any update for this issue?

[2020-02-01 11:35] #10259 closed

[2020-02-01 11:35] yonzhan commented on #10229
move to S165.

[2020-02-01 12:00] #11449 closed

[2020-02-01 12:00] yonzhan commented on #11349
move to S165.

[2020-02-01 12:01] yonzhan commented on #9291
move to S165.

[2020-02-01 12:02] yonzhan commented on #11244
move to S165.

[2020-02-01 12:04] yonzhan commented on #11412
move to S165.

[2020-02-01 12:04] yonzhan commented on #11207
move to S165.

[2020-02-01 12:09] yonzhan commented on #6638
move to S165.

[2020-02-01 13:42] fengzhou-msft commented on #7829
Fixed by #11817, will release with 2.0.81 next week.

[2020-02-01 13:42] #7829 closed

[2020-02-01 15:13] jurjenoskam commented on #11980
You mean specifiying the number of retries of the zipDeploy API call? That would indeed be helpful, since the Function App API unfortunately has a tendency to perform some background work after returning a result, causing subsequent calls to fail until "enough" time has passed...

(I read your comment at first as "enabling to specify the max number of retries *of getting the deployment status*" wh

[2020-02-01 22:13] MarcelT-NL commented on #10403
Same here. Blocks CI/CD for us with automatic nightly builds/tests

[2020-02-01 22:53] ossm1db opened #12015 ""git add --patch" fails due to missing perl package"
### Azure CLI Version
2.0.80

### Expected Behavior
No error

### Actual Behavior
`git: 'add--interactive' is not a git command. See 'git --help'.`

### Steps to Reproduce
[code]

### Important Factoids
To fix: `apk add --no-cache perl`

[2020-02-02 01:13] yonzhan commented on #1636
@Nilambari any update? Can we close this issue?

[2020-02-02 01:18] yonzhan commented on #3180
@armleads-azure any update for this issue?

[2020-02-02 01:30] yonzhan commented on #11729
@toddplu any update?

[2020-02-02 01:32] yonzhan commented on #11744
@rampach was this issue resolved?

[2020-02-02 01:44] yonzhan commented on #11945
@kimitake was this issue resolved?

[2020-02-02 02:00] yonzhan commented on #11959
@BellaLi was this issue resolved?

[2020-02-02 02:38] yonzhan commented on #9667
add to S166.

[2020-02-02 03:00] yungezz commented on #12015
thanks for reporting the issue. we'll investigate it.

[2020-02-02 14:49] jorgedionisio opened #12016 "az vm update to create/update tags on spot instances does not work"
Returns: Max price change is not allowed. For more information, see http://aka.ms/AzureSpot/errormessages

**Describe the bug**
Trying to update/create a tag on a spot instance with the azure cli returns a max price error despite the command is not related to a max price change

**To Reproduce**
Create a Linux spot instance
Try to execute the above command

**Expected behavior**
The VM should have

[2020-02-02 15:12] fengzhou-msft commented on #12015
@ossm1db This docker image has azure-cli installed. Its main purpose is for a quick run of azure cli commands. Why do you need to clone source code and modify it inside the container?

[2020-02-02 15:51] yossi-y commented on #11916
Hi, we found an issue on our side and cleared it now. Can you try using the workspace name again please?

[2020-02-02 15:53] ossm1db commented on #12015
I am using it for exactly that. I created an image based on azure-cli which adds Terraform, Helm, and kubectl to provide an encapsulated development environment for Azure with no setup required. I use Visual Studio Code with the Remote Containers extension to attach to the container and edit files. A volume is connected for persistence.

Aside from my purposes, git is installed by the azure-cli Do

[2020-02-02 17:20] haroldrandom commented on #6454
Is this section what you want https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/azure-cli-extensions-overview.md#install-extensions?

[2020-02-03 00:31] abushokry opened #12017 "SQL Server Admin Password Update Doesn't Work From Azure CLI on Powershell"
**Command Name**
`az sql server update`

Updating the --admin-password doesn't work if I use powershell but works if I use the az interactive shell

**Errors:**
No Errors get displayed, and a JSON representation of the SQL Server is returned as if the command succeeded

## To Reproduce:
1- Run this command in _Powershell_
`az sql server update --admin-password <PASSWORD> --name <SQLSRVNAME> --reso

[2020-02-03 00:40] yugangw-msft commented on #11895
Given no new issues to track, I am closing this one.

[2020-02-03 00:40] #11895 closed

[2020-02-03 01:48] MyronFanQiu commented on #1292
@malopMSFT Hello. Since this one is quite old and this issue is quite hard for us to track, I closed this one first. If necessary, could we open separated issue?

[2020-02-03 01:48] #1292 closed

[2020-02-03 01:49] yonzhan commented on #6876
add to S165.

[2020-02-03 01:52] yonzhan commented on #7816
@samjudeh  any update for this issue?

[2020-02-03 01:52] fengzhou-msft commented on #11953
@AnassKartit can you provide more information on how your installed azure-cli?

[2020-02-03 02:06] yonzhan commented on #11806
add to S165.

[2020-02-03 02:11] yonzhan commented on #11806
@qianwens  you can refer to https://github.com/Azure/azure-cli/pull/11093, try to repro locally and fix this issue.

[2020-02-03 02:15] yonzhan commented on #11518
add to S165.

[2020-02-03 02:16] yonzhan commented on #11518
@qianwens This issue may be related to Python SDK, try to repro.

[2020-02-03 02:21] arrownj commented on #12016
Hi @qwordy , could you please help take a look ? Thanks

[2020-02-03 02:59] Juliehzl commented on #11799
Hi @subashsivaji, thanks a lot for your feedback!
What I hope you know is that there is a **breaking change** in `az storage remove` command: `--include` and `--exclude` parameters have been changed to -`-include-path`, `--include-pattern`, `--exclude-path` and `--exclude-pattern` parameters to have more flexibility.

[2020-02-03 02:59] #11799 closed

[2020-02-03 03:36] qwordy commented on #11968
The response has detailed information, but the output does not show details.
I have two options:
(1) Add validation of VM name in Azure CLI.
(2) Output complete information.

Response:
{"error":{"code":"InvalidTemplateDeployment","message":"The template deployment 'vm_deploy_v0m1MchXeatew9f78OVNmINKGNRbUBAG' is not valid according to the validation procedure. The tracking id is 'a99297db-5bc7-4720

[2020-02-03 03:57] saisujithreddym commented on #11834
I just wanted to follow up if we are on track for the release for feb 18 :)

[2020-02-03 04:48] MyronFanQiu commented on #11834
@saisujithreddym should be fine. I will do it in this week.

[2020-02-03 06:58] zhoxing-ms commented on #11646
@a-vishar Because I'm taking Chinese annual leave and the internet condition at home is not good, so I'm sorry to reply so late.
I tried both PowerShell and Bash. And I still can't reproduce the problem after doing a "replace all" and replace `""` with `"areallylongvaluethatyoumustputhereinordertoreproducetheproblemsojustaddabunchofletterstoproducetheproblemandthenaddthistoeachfieldletmeknowhowitw

[2020-02-03 07:20] #10719 closed

[2020-02-03 07:26] jaredmoo commented on #12017
I am positive that setting password works in general. If you are encountering problems in one specific command shell, it is very likely to be a symbol escaping problem. For example, powershell will intepret `$` character as variable substitution.

[2020-02-03 07:26] #12017 closed

[2020-02-03 07:35] sandipsh commented on #8016
Yes, we have plan to add this operation to the swagger/SDK soon. I will keep you posted. Thanks!

[2020-02-03 08:42] sschols opened #12023 "RPM installation on RHEL 7.6 for SAP - python version"
**Describe the bug**
A clear and concise description of what the bug is.

The Azure CLI RPM package requires python3, which is not provided by RHEL 7.6 for SAP (Azure Marketplace image). The RHEL repositories provide a "python36" package, which works fine with the newer Azure CLI versions, but since the Azure CLI only has the "python3" requirement, a normal installation using yum is not possible.

[2020-02-03 08:44] qianwens commented on #11806
@rokeno, error message "certificate verify failed" may throw when there is a proxy in your network, you can follow this doc https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy to fix. The error message improvement has been fixed in [#11093](https://github.com/Azure/azure-cli/pull/11093), you can upgrade Az CLI to the latest version and have a try.

[2020-02-03 08:51] rokeno commented on #11806
This issue has been solved. I am sorry for the time spent.
I appreciate you have taken some for this, but this issue can now be closed. The results are being displayed when i am using az login (in powershell).
Thanks.

[2020-02-03 08:51] #11806 closed

[2020-02-03 09:31] jiasli commented on #7957
I checked the behavior of Azure Portal today (2019-02-03) and it doesn't use nanosecond `startDate`/`endDate` for creating app credentials anymore.

Request captured by F12 Developer Tools:

[code]

So for newly created credentials, this issue should have been solved automatically. For old credentials with nanosecond `startDate`/`endDate`, you may delete them and recreate new ones.

[2020-02-03 09:32] rampach commented on #11744
Hello @yonzhan seems that there was something temporary (network issue or service unavailability) so i guess that you can close that issue because now everything is working fine.

[2020-02-03 09:33] qianwens commented on #11518
@Kinjara , I cannot repro this issue with the latest Azure CLI. Could you please try again after upgrade your Azure CLI to the latest version. Besides, did you use pip install to install Azure CLI? If so, there may be some SDK version mismatch by some other installation, could you please use pip install azure-cli to upgrade the SDK and try again? Please let us know if it still not work.

[2020-02-03 09:39] jiasli commented on #2925
Please check https://github.com/Azure/azure-cli/issues/8102 which is similar and let us know if you are still facing this issue.

[2020-02-03 09:43] jiasli commented on #5134
@tamirkamara, please let us know whether the above answer solves your question. If not, please provide more details about the usage. Thanks.

[2020-02-03 10:19] abushokry commented on #12017
Please take this string "TZ!bj*ORFhueC4J4UeoT_kNuo0^oSeuV" nothing in this password string would cause a powershell parsing problem, yet it doesn't work.

[2020-02-03 11:47] #11744 closed

[2020-02-03 11:53] a-vishar commented on #11646
Not sure why I was tagged here.

[2020-02-03 11:55] a-vishar commented on #11942
1. Yes
2. Yes

[2020-02-03 12:01] yonzhan commented on #7957
add to S165.

[2020-02-03 12:04] yonzhan commented on #11646
@ajklotz please look at the above comment by @zhoxing-ms

[2020-02-03 14:12] zhoxing-ms commented on #11646
@a-vishar Please add `--debug` parameter to the command `(like this: az group deployment create --resource-group WB-CI --template-file .\function-app-orderProcessing.json --parameter @function-app-orderProcessing.parameters.jso --debug)` , and then paste the complete exception stack for me to see.

[2020-02-03 14:37] ajklotz commented on #11646
[code]

[2020-02-03 15:12] a-vishar commented on #11646
@zhoxing-ms - Please stop tagging me in this issue, I have nothing to do with it.

[2020-02-03 16:52] jjlauterbach opened #12024 "Required Header authorization is missing""
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash o

[2020-02-03 16:53] ioan-agopian commented on #11032
I've encountered this as well.
@MyronFanQiu please find attached a file that throws this error.

[testdomainrsk.hosts.txt](https://github.com/Azure/azure-cli/files/4148995/testdomainrsk.hosts.txt)

[2020-02-03 16:57] jjlauterbach opened #12025 "Operation failed with status: 'Unauthorized'. Details: Required Header authorization is missing."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az cosmosdb sql database create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az cosmosdb sql database create --account-name {} --name {} --resource-group {} --debug`

## Exp

[2020-02-03 16:57] NeighborGeek commented on #11032
@ioan-agopian Thanks for adding that.  I must have overlooked the reply, and never submitted the sample they requested.

[2020-02-03 17:03] #12024 closed

[2020-02-03 17:14] kristapratico commented on #9060
@yonzhan I'm no longer on the CLI team, this should be reassigned.

[2020-02-03 17:22] zivraf opened #12026 "az host and host group are now GA"
please remove the preview for az vm host and az vm host group

[2020-02-03 17:34] pilor commented on #9067
There is a problem with the azure-mgmt-resource python package generation in recent versions which is preventing me from generating a package with the changes I need.  @zikalino is looking into it.

[2020-02-03 17:37] Krystof-pl opened #12027 "Role definition update fails with KeyError: 'roleName'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role definition update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az role definition update --role-definition {}`

## Expected B

[2020-02-03 18:32] yanfa317 commented on #10554
@yonzhan I will close it for now since we have big change in our design and will move our service into Network.

[2020-02-03 18:32] #10554 closed

[2020-02-03 18:53] kimitake commented on #11945
@yonzhan yes.

[2020-02-03 19:16] nnja commented on #11944
@AzureAppServiceCLI @antcp @panchagnula Any updates on this issue?

[2020-02-03 19:30] Nilambari commented on #1636
I will take a look.

[2020-02-03 22:32] panchagnula commented on #11944
Looking from the error message what is the active subscription set on CLI?
Do az login
check az account show - see what the default Subscription is. If the Subscription is not the same as the Sub the app is on - then this might occur. Not something i have seen.

[2020-02-04 01:06] yungezz commented on #10877
move to later sprint due to previous priority change. working on it now.

[2020-02-04 01:07] yungezz commented on #11760
so far besides cross tenant support, nothing need to be done for LightHouse.  Close it for now, will reopen if get new requirements.

[2020-02-04 01:07] #11760 closed

[2020-02-04 01:11] yungezz commented on #11527
move it to backlog since no release plan so far. will put it back after talking with @RodgeFu ' s team when ready to release.

[2020-02-04 01:26] yonzhan commented on #9060
@kristapratico  thanks. Do you know who from ARM team can look into this issue?

[2020-02-04 01:48] #11945 closed

[2020-02-04 01:52] rayifu commented on #11961
@qwordy  @yungezz How do you feel my comment?

[2020-02-04 02:04] yungezz commented on #10876
#12003 is part of the whole feature.

[2020-02-04 02:12] arrownj commented on #12023
Hi @fengzhou-msft , could you please help check this ?

[2020-02-04 02:26] arrownj commented on #12027
Hi @jiasli , could you please help take a look at this ?

[2020-02-04 02:33] jiasli commented on #2925
Also, `az --version` involves a network connection to check pypi for the latest version: https://github.com/Azure/azure-cli/blob/4d684d2678a6c3a39e0ed9918cd210c6c161939a/src/azure-cli-core/azure/cli/core/util.py#L106

We have introduced a new command [`az version`](https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#az-version) which only runs locally and returns the r

[2020-02-04 03:27] yonzhan commented on #12027
add to S166.

[2020-02-04 03:42] tarunkdawar commented on #10663
i am getting the same error

[2020-02-04 03:50] zhoxing-ms commented on #11646
@ajklotz I found out that the problem is probably caused by the `@` of `--parameter @function-app-orderProcessing.parameters.json`. You can first try whether removing the `@` prefix can solve the problem.
I will locate the specific reason and sync it later.

[2020-02-04 04:14] jiasli commented on #10663
Hi @tarunkdawar, may I know which version of Azure CLI you are using? You may run `az --version` to check that. Please update to the latest version and see if the issue is addressed.

[2020-02-04 05:06] panchagnula commented on #11944
@nnja just to clarify this is the failure message Unable to retrieve details of the existing app deploy_python_polls_app_test_12i20301901. Please check that the app is a part of the current subscription - not that the app already exists. Please try what i commented above. Alternately run the command with --debug flag & share the details with Byron or me via email. Thanks.

[2020-02-04 05:08] jiasli commented on #11159
Same issue as #8912, #10403

According to https://github.com/Azure/azure-cli/issues/8912#issuecomment-501404372, this is currently not supported by AAD. We are working internally with AAD team on this. Stay tuned!

[2020-02-04 05:10] qianwens commented on #6451
Yugang's PR [ #8351](https://github.com/Azure/azure-cli/pull/8351) has documented the SSL cert configuration and this PR has been merged. I will close this issue since it is solved.

[2020-02-04 05:49] Juliehzl commented on #6121
Hi @alexeyshishkin01, your azure cli is a very old version. The lastest one is azure cli 2.0.81, have you tried it? Because there is a transition for CLI team and some information lost, I am not sure if someone already fixed your problem.
Please try with the new azure cli and if there still is a problem, feel free to let me know. In addition, it looks the link you provided above cannot be accessed

[2020-02-04 06:13] tarunkdawar commented on #10663
working now , i was able to update by downloading the msi installer. for some reason , updating via powershell using the command on Microsoft Docs did not actually install the latest version.

Its working now afer updating to 2.0.81

[2020-02-04 06:21] alexeyshishkin01 commented on #6121
1.
pls. read the topic one more time

2.
how do you know my CLI version today?
CLI version of the time when I opened the issue (2018-Apr-14) is out of date today, but my CLI version today is definitely is not the same as almost one year ago

3.
you say: '... try with the new azure cli ...'
my question is: 'try what?'

[2020-02-04 06:22] alexeyshishkin01 commented on #11916
the issue is not reproduced any more
pls. close the case
many thanks!

[2020-02-04 06:30] jiasli commented on #10663
To [install via PowerShell](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest#install-or-update), you need to run the command as administrator. Since `/quiet` is specified, it will fail without warning if not run as administrator.

[2020-02-04 07:22] jaredmoo commented on #12017
I believe `^` is a special character in powershell :)

[2020-02-04 07:33] chaos-panda opened #12031 "az deployment validate returns exit code 0 when an error is encountered in json"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When you run az deployment validate command against your ARM templates locally or on a CI/CD returns exit code 0 even though you encountered an error and your json error response is not null.

**Command Name**
`az deployment validate`

## To Reproduce:
Steps to reproduce the behavior. Note that argument values

[2020-02-04 07:37] nnja commented on #11944
Note that I ran into the issue trying to deploy a brand new app, not update an existing one.

I'll try the additional steps tomorrow and provide updates.

[2020-02-04 07:38] GeeWee commented on #9585
Just want to chime in and say this is still an issue. Tried it last week, and got the error. Rerunning the command worked.

[2020-02-04 08:23] fengzhou-msft commented on #6004
Close as we didn't receive further requests. If anyone has such request, feel free to reopen this issue.

[2020-02-04 08:23] #6004 closed

[2020-02-04 08:33] tumluliu commented on #7656
@yonzhan Sorry for the delayed reply. We finally decided doing this in some other way to bypass the blocker. I could not verify that from my side as of now unfortunately. You can close this issue ofc if necessary. Thanks!

[2020-02-04 08:35] jiasli commented on #7656
@tumluliu, thanks for confirming. Don't hesitate to reply here if there is any question regarding this issue.

[2020-02-04 08:35] #7656 closed

[2020-02-04 09:05] qwordy commented on #11281
We have released a new version 0.2.3 recently. You can install it. It fixes a bug in snapshot create. If you have any problem, you can comment in this issue or open a new one.

[2020-02-04 09:05] #11281 closed

[2020-02-04 09:10] qwordy commented on #10980
It's not supported to add Application Security Groups for all 50 IpConfigurations in a single call. Maybe you need to write a PowerShell or Bash script.

[2020-02-04 09:22] yungezz commented on #5051
Thanks for reporting the issue, we noticed the coverage gap with Powershell, and working on support Data Factory in CLI. The work is tracked in https://github.com/Azure/azure-cli/issues/11527. close this one for now. pls get latest status from issue https://github.com/Azure/azure-cli/issues/11527.

[2020-02-04 09:22] #5051 closed

[2020-02-04 09:25] iverberk commented on #10980
Thanks @qwordy . Is it possible to do this with a script? Could you maybe give a small example or doc links on how to do this? Pseudocode is fine.

[2020-02-04 09:42] qwordy commented on #9596
Duplicate issue with #10400, where there are more comments. We will update status of this problem in that issue. Close this issue.

[2020-02-04 09:42] #9596 closed

[2020-02-04 09:42] qwordy commented on #10400
The request body:
[code]
No "param1" in ENV.

If I use
Comment copied from #9596
[code]
request body is
[code]
I can get the correct result. ENV has "param1".

[2020-02-04 10:26] SimonAlling opened #12034 "az extension add: "Unknown extension type. Only Python wheels are supported.""
## Describe the bug

**Command Name**
`az extension add`

**Errors:**
[code]

## To Reproduce:
- `az extension add --source azure-devops`

## Expected Behavior

I was hoping the extension would install correctly.

## Environment Summary
[code]
## Additional Context

When I first encountered the error, I had Azure CLI 2.0.79. I updated to 2.0.81 to see if that would help; my Azure CLI now has Pytho

[2020-02-04 10:28] SaschaSchlemmer opened #12035 "Python syntax warning on some az command groups"
For me some command groups such as e.g. _webapp_ and _appservice_ (not an exhaustive list) any command causes python syntax warnings to appear. Example:

[code]

**Environment summary**
mac os Catalina (10.15.3)

[2020-02-04 10:57] Kinjara commented on #11518
Hi Qianwens,

Thank you for your reply; i will update the Az-CLI and try agian. However i installed it with the Powershell-line( Invoke-WebRequest -Uri https://aka.ms/installazurecliwindows [...] ).
I'll try again today and see if it works, because that would be utterly awesome! :D

[2020-02-04 11:08] jiasli commented on #11518
This seems to be related to #10641. Could you capture the `--debug` output and send to my email <my_github_id>@microsoft.com? Thanks.

[2020-02-04 11:27] jurgyy commented on #10714
Any update on this?

I've just spend the past hour debugging a problem with trying to create an API and the source of the problem was that in the Swagger specification the property `properties.value.info.title` was identical to an already existing API. Sending the request manually I got a 202 Accepted response with a location header which when I send a GET request I received the following message:

[2020-02-04 11:54] jiasli commented on #10641
@buchs, thanks for the investigation. Judging from the debug log, it is indeed caused by incorrect scope:

[code]

Thus the URL is corrupted and falls back to the default [Resource Groups REST API](https://docs.microsoft.com/en-us/rest/api/resources/resourcegroups).

The same error message can be produced with
[code]

Let me see how we can polish the error.

[2020-02-04 11:55] jiasli commented on #11518
I see where the problem is. In this script

[code]

In `az role assignment create`, when `--resource-group` is used, the argument should be resource group **name**, instead of **id**. If id is used, the REST API call will become:

[code]

Note that `/subscriptions/{}/resourceGroups` is duplicated. Thus the URL is corrupted and falls back to the default [Resource Groups REST API](https://docs.micro

[2020-02-04 12:41] vllama opened #12036 "az resource update multiple failures when using resource-type sourcecontrols"
## Describe the bug
**Command Name**
`az resource update`

**Errors:**
[code]
Full command run:
[code]
Running First Time:
[code]
Then Run again:
[code]

**Expected behavior**
Succsfully updating gitlab uri.

**Environment summary**
Windows-10-10.0.18362-SP0
Python 3.6.6
Shell: powershell.exe

azure-cli 2.0.75 *

[code]

[2020-02-04 13:12] djc opened #12037 "Support az storage blob [upload-batch | sync] --follow-symlinks option"
**Is your feature request related to a problem? Please describe.**
I'm trying to update my static website from a continuous deployment process to the static website storage on Azure. The static files (CSS, images etc) live in the top of the repository, above the rest of the website contents, because they're shared with my actual project. I'd like to have a `static` symlink in the `site` directory

[2020-02-04 13:37] brandonmbanks commented on #9069
Any news on this issue?

[2020-02-04 14:35] bim-msft commented on #12003
Supported in PR: #12030
This feature is only supported on canary regions (region with suffix `euap`, like `eastus2euap`)

[2020-02-04 14:35] #12003 closed

[2020-02-04 14:40] bim-msft commented on #11992
@yonzhan Sorry I'm not familiar with this, seems this issue is related to `az appconfig`

[2020-02-04 14:41] djsowa commented on #11992
It seems that `az appconfig` has been merged to main CLI, it's no longer extension I guess.

[2020-02-04 14:46] bim-msft commented on #11975
Duplicate with #11779
@CJavierSaldana As a workaround, you may manually run `az login` or use a local installed Azure CLI to get unblocked.

[2020-02-04 15:06] ajklotz commented on #11646
@a-vishar You are right, the error doesn't occur when I remove `@`. I was told to provide the `@` prefix since that was documented, but I can omit that. I'm glad to hear you are finding the root cause, thank you so much.

[2020-02-04 15:42] t-l-k commented on #10991
Thanks for replying, I gave up in the end as `az sql copy` was way faster for inter-server transfers, and if I really needed a bacpac it would only be for local desktop use. Importing it was not really a hard requirement, as I was only experimenting.

[2020-02-04 15:54] a-vishar commented on #11646
@ajklotz Am I being punked?  Please stop mentioning me in this random GitHub issue.  **I have nothing to do with this issue** and for some reason you all keep mentioning me.

[2020-02-04 16:01] ajklotz commented on #11646
Sorry @a-vishar

[2020-02-04 16:35] jluk commented on #11916
Thanks @alexeyshishkin01 for the report and confirm of fix.

[2020-02-04 16:35] #11916 closed

[2020-02-04 16:36] haymansfield commented on #9342
I'm not sure why this is closed.

Managed by doesn't appear to be an available parameter on the cli yet is still in the documentation.

[2020-02-04 16:46] vtjc2002 opened #12039 "--policy example request"
Is there an example of "az storage account management-policy create" where it shows how to pass in --policy as JSON?

[2020-02-04 17:27] jjlauterbach commented on #12025
After some continued investigation, it turns out the it may be due to special characters (forward slash) being used in the name of the cosmos database.

I removed those and the error went away.

[2020-02-04 17:46] rthorn17 commented on #9060
@leylakazemi  - Can you and the team take a look at this please.  Thanks

[2020-02-04 17:50] shurd commented on #12025
Hi @jjlauterbach thank you for following up. I am going to close this issue now. If you encounter any other problems, please open another issue.

[2020-02-04 17:50] #12025 closed

[2020-02-04 17:51] amd989 commented on #10422
Same here:

azure-cli                         2.0.81

command-modules-nspkg              2.0.3
core                              2.0.81
nspkg                              3.0.4
telemetry                          1.0.4

[2020-02-04 18:43] panchagnula commented on #11944
@nnja please do let me know - App Names are unique per subscription so if another Sub is already using the name then its not available - in this case probably that is what happened, in case this was for a brand new app.

[2020-02-04 20:34] stuartleeks commented on #9894
I see that this issue has been open for a while. Is there any ETA on when it will be resolved? Thanks

[2020-02-04 21:22] ajklotz opened #12041 "functionapp:Azure Function is not disabled when using Azure CLI command to disable it"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
According to this documentation, a function in a function app can be disabled by running the command. It creates a name value pair in application settings which then disables the function. While it does create the name value pair, the function state does not toggle according to the desired state.

**Command Nam

[2020-02-04 21:45] jyennaco opened #12042 "az aks get-credentials fails after upgrading to v2.0.81"
## Describe the bug

After upgrading Azure CLI from version 2.0.79 to 2.0.81 I was not unable to run:

`az cloud set --name AzureUSGovernment`
`az configure --defaults location=usgovvirginia`
`az aks install-cli`
`az login --service-principal --username USERNAME --password PASS --tenant TENANT`
`az aks get-credentials --resource-group kube-resource-group --name kube-name`
[code]

* I am in a CSP a

[2020-02-04 22:09] TimLovellSmith commented on #6081
No value?? What good are Compute.Image resources if you can't use them for anything?! And not gallery images either?

And how am i supposed to manage my Managed disks as an actual azure resource if i can't *create* them as one?

This is broken.

Compute rest api docs for Disk create strongly imply this should work and nowhere is it made clear it does not. I just spent hours trying to figure out wh

[2020-02-04 23:10] lilyjma opened #12043 "Test issue"
this is just a test issue to test if the github bot notifies handles correctly

[2020-02-04 23:11] #12043 closed

[2020-02-04 23:16] yonzhan commented on #11992
@djsowa  you may need to get help from appconfig service team since CLI team does not own appconfig related commands.

[2020-02-04 23:58] zhoxing-ms commented on #9342
@haymansfield Please use `pip install` to download the latest version of azure cli (2.0.81) and have a try.

[2020-02-05 00:11] zhoxing-ms commented on #11646
@ajklotz This problem is also related to the version of Python, so you can reinstall azure-cli by using Python 3.8 first.
I've identified the underlying problem, and I'll submit a PR to fix it in other versions of Python.

[2020-02-05 00:38] arrownj commented on #12034
Hi @jsntcy , could you please help to check this ?

[2020-02-05 01:12] eamonoreilly opened #12044 "functionapp: Need to add support for PowerShell 7 for Azure Functions in the --runtime-version property"
When PowerShell is selected for --runtime in az functionapp create, we need to allow for --runtime-version a value of [6,7]

This should then set the site config property with:

"siteProperties": {
      "properties": [
        {
          "name": "PowerShellVersion",
          "value": "~7"
        }

[2020-02-05 01:45] arrownj commented on #12039
Hi @Juliehzl , could you please help take a look at this ?

[2020-02-05 02:00] arrownj commented on #12031
Hi @zhoxing-ms , could you please help take a look at this ?

[2020-02-05 02:01] arrownj commented on #12036
Hi @zhoxing-ms , could you please help take a look at this ?

[2020-02-05 02:14] qwordy commented on #4698
Close the issue due to no response. You can open a new one if you still have problems.

[2020-02-05 02:14] #4698 closed

[2020-02-05 02:22] arrownj commented on #12037
Hi @Juliehzl , could you please help take a look at this ?

[2020-02-05 02:58] pragnagopa commented on #11957
Providing runtime version as part of creating function app was addressed as part issue https://github.com/Azure/azure-cli/issues/10549

@ankitkumarr - is there a restriction the values provided for `--runtime-version`? If yes, list needs to be updated to include node 12. Leveraging information in stacks api will help with validating combinations for functions extension version and runtime version.

[2020-02-05 03:56] yonzhan commented on #12034
add to S166.

[2020-02-05 04:00] yonzhan commented on #12039
add to S166.

[2020-02-05 04:04] yonzhan commented on #12031
add to S166.

[2020-02-05 04:08] yonzhan commented on #12036
add to S166.

[2020-02-05 04:10] yonzhan commented on #12037
add to S166.

[2020-02-05 08:04] uda opened #12046 "Loading az completion in ZSH adds a debug line"
**Describe the bug**
Adding `source /opt/az/bin/az.completion.sh` to `.zshrc` or any other relevant shell profile file causes each shell session to start with an output saying `Enabling ZSH compatibility mode`

**To Reproduce**
Add `source /opt/az/bin/az.completion.sh` to `.zshrc`
Open a new shell

**Expected behavior**
Nothing to be printed to the shell when opening a new session

**Environment s

[2020-02-05 08:26] yungezz opened #12048 "[Breadth Coverage] Onboard Databricks"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Onboard Databricks to Azure CLI.
https://dev.azure.com/azure-mgmt-ex/Onboarding/_boards/board/t/Onboarding%20Team/Features/?workitem=76

**Des

[2020-02-05 08:26] yungezz commented on #12048
we'll work on it from S166.

[2020-02-05 08:28] fengzhou-msft commented on #11524
extension released, can be installed by `az extension add -n notification-hub`.

[2020-02-05 08:29] #11524 closed

[2020-02-05 08:35] jiasli commented on #11959
@BellaLi, could you share the command you run to set env vars and use them with Azure CLI?

I tested in Bash but couldn't repro:

[code]

Azure CLI does receive the JSON correctly.

[2020-02-05 08:50] yungezz opened #12049 "[Breadth Coverage] Onboard Azure AlertsManagement"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Onboard Alerts management service.

https://dev.azure.com/azure-mgmt-ex/Onboarding/_boards/board/t/Onboarding%20Team/Features/?workitem=106

*

[2020-02-05 08:50] yungezz commented on #12049
create github issue to track the breadth coverage work. Put it into backlog for now since no targeted release date so far.

[2020-02-05 09:01] yungezz commented on #12046
Thanks for reporting the issue, we'll look at it.

[2020-02-05 09:11] yonzhan commented on #12046
add to S166.

[2020-02-05 09:12] #8827 closed

[2020-02-05 09:13] mamhh opened #12051 "Cannot execute command "az ad app create""
Dears,
I've the role "Owner" on my subscription and when I try to execute below command
` az ad app create --display-name "MyApp" `  using AZURE CLI
I get below error message
`Insufficient privileges to complete the operation.`

Please advise ..

[2020-02-05 09:14] #11003 closed

[2020-02-05 10:27] kalioz commented on #11833
Hey there,
have you been able to reproduce it or see where it comes from ?

[2020-02-05 10:43] yonzhan commented on #11518
@Kinjara Please confirm whether above solution can solve your problem.

[2020-02-05 11:55] dmartinezrubio opened #12053 "az role definition create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role definition create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az role definition create --role-definition {}`

## Expected B

[2020-02-05 11:58] zhoxing-ms commented on #11942
@a-vishar Hello, I would like to know some more specific information about this issue:

1. Are all the operations in azure-cli completed synchronously?
a. Move resource group (R1) (contents) to another subscription (into resource group R2)
b. Copy DB from server (S1) to pre-existing server (S2)
c. Delete R1
Are steps b and c here performed after the previous step ends at the terminal?

2. Could yo

[2020-02-05 12:17] a-vishar commented on #11942
Hi @zhoxing-ms,

1) Yes, all tasks are completed synchronously.  I have also emailed you the scripts involved in this whole process.

2) I cannot incur the additional costs of creating servers, migrating them, to help you with debugging.  I would suggest that you run the scripts provided or run the commands from the terminal.

One command used to wait for the move to be over (so that I can delete

[2020-02-05 13:55] fengzhou-msft commented on #11740
Issue caused by python 2 not supporting the encoding keyword argument in the [open ](https://github.com/Azure/azure-cli/blob/664c6940666e51488cef343c9c5fabf44fb991e9/scripts/curl_install_pypi/install.py#L248)function.

We're going to drop support for python 2. Instead of fixing it for python 2, I will make this script to use python 3 by default.

[2020-02-05 14:16] fengzhou-msft commented on #11740
BTW, we recommend using [APT](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest) to install azure-cli on Ubuntu and [Homebrew](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-macos?view=azure-cli-latest) on MacOS.

[2020-02-05 14:30] selvan123 opened #12055 "az webapp create command is not working."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp create --name {} --resource-group {} --plan {} --runtime {}`

[2020-02-05 14:32] selvan123 commented on #12055
The command failed with an unexpected error. Here is the traceback:

update_site_config() takes 2 positional arguments but 3 were given
Traceback (most recent call last):
  File "/usr/lib64/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocation.execute(args)
  File "/usr/lib64/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line 608,

[2020-02-05 14:53] stan-sz opened #12056 "az signalr show - 'CommandResultItem' object is not iterable"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az signalr show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- use the command below to point to a **non-existing** signalr
- `az signalr show --subscription {} --name non-exis