[2022-10-31 22:55] jeevanions opened #24512 "az ad app permission add duplicate permissions"
The Azure CLI command `az ad app permission add ` command allows duplicate permission on subsequent runs. We use this command in a shell script, and it would be good to make the command check for the same permission before creating one.

Example CLI Command is given below

`az ad app permission add --id <appId> --api 00000003-0000-0000-c000-000000000000 --api-permissions 5b567255-7703-4780-807c-7b

[2022-11-01 00:01] lynshi commented on #24380
@yonzhan @navba-MSFT were you able to repro or find someone to assign this to?

[2022-11-01 00:16] yonzhan commented on #24187
Yes, it will be released on 11.1

[2022-11-01 00:18] yonzhan commented on #24508
Duplicate of https://github.com/Azure/azure-cli/issues/24213

[2022-11-01 00:18] #24508 closed

[2022-11-01 00:19] yonzhan commented on #24512
@jiasli for awareness

[2022-11-01 00:20] yonzhan commented on #24511
Duplicate of https://github.com/Azure/azure-cli/issues/24213

[2022-11-01 00:20] #24511 closed

[2022-11-01 00:26] yonzhan commented on #24509
@bebound for awareness

[2022-11-01 01:50] #24489 closed

[2022-11-01 02:02] bebound commented on #24509
Duplicate of https://github.com/Azure/azure-cli/issues/24405

[2022-11-01 02:02] #24509 closed

[2022-11-01 02:09] bebound commented on #24503
Delete `/Users/cubus/.azure/msal_token_cache.json` and try again?

[2022-11-01 02:10] zhoxing-ms commented on #24380
@joseph-porter Could you please help take look at the container related issue?

[2022-11-01 02:56] necusjz commented on #23957
@thisisanniefang It's better to summarize your 2 requirements into a new issue:
1. https://github.com/Azure/azure-cli/pull/18136#issuecomment-1293756273
2. https://github.com/Azure/azure-cli/issues/23957#issuecomment-1296375923

[2022-11-01 03:44] bebound commented on #24507
Duplicate of https://github.com/Azure/azure-cli/issues/24405

[2022-11-01 03:44] #24507 closed

[2022-11-01 03:51] #19494 closed

[2022-11-01 03:52] #20265 closed

[2022-11-01 04:14] RakeshMohanMSFT commented on #24506
@scp-mb Thank you for reaching out to us, we are looking into it.

[2022-11-01 04:18] v-anvashist commented on #24108
@arindam0310018  We also did some digging and found that the service connection of azure devOps got expired so we have repurposed the service endpoint and re-Authorized it.
[github.com_rohit-batra - Overview (azure.com)](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fdev.azure.com%2Fms%2Fazure-devops-cli-extension%2F_settings%2Fadminservices%3FresourceId%3D70b5bc85-868f-4b78-bcb

[2022-11-01 05:00] RakeshMohanMSFT commented on #24499
@oxbo-andre We are unable to reproduce this in similar environment.

![image](https://user-images.githubusercontent.com/49954584/199161967-377580b2-1157-4373-9bb5-92a1d3d4fe3b.png)

[2022-11-01 06:20] MSNina123456 commented on #23618
@sameergMS, @dadunl  any update in past 2 months?

[2022-11-01 07:25] aavdberg commented on #24499
I think that it had to do with token that was expired because when i did az logout and then az login it did not happen anymore.

[2022-11-01 07:29] RakeshMohanMSFT commented on #24499
@aavdberg Thank you. @oxbo-andre can you try it please?

[2022-11-01 07:30] aavdberg commented on #24499
@oxbo-andre is my account at the customer

[2022-11-01 07:32] RakeshMohanMSFT commented on #24499
@oxbo-andre @aavdberg Thank you. I will close the issue.

[2022-11-01 07:32] #24499 closed

[2022-11-01 08:02] #24147 closed

[2022-11-01 08:31] Mykp3 commented on #9250
@yugangw-msft when shall we expect advancement in `Application.ReadWrite.OwnedBy` API Permission, in particular,

Ability to assign AD application as an owner to existing AD application, e.g. not necessarily actually created by that application?

[2022-11-01 09:22] tshaiman commented on #24315
@yonzhan  : any updates on this issue ? has someone from the CXP Team picket this ticket ?

[2022-11-01 10:46] srivathsanvlb opened #24516 "AZ-900 microsoft learn az internactive issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-11-01 11:09] yonzhan commented on #24516
Duplicate of https://github.com/Azure/azure-cli/issues/24213

[2022-11-01 11:09] #24516 closed

[2022-11-01 11:42] srivathsanvlb commented on #24516
@yonzhan - I am not clear. It occurs as part of this course https://learn.microsoft.com/en-us/training/modules/describe-core-architectural-components-of-azure/4-exercise-explore-learn-sandbox. How to proceed on the same?

[2022-11-01 12:55] NishiGupta2022 opened #24518 "Unable to login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-11-01 14:14] smokedlinq opened #24519 "`az lock delete` param `--ids` does not delete lock"
## Describe the bug
When running the `az lock delete` command with the `--ids` parameter, it completes successfully but does not delete the lock. Workaround is to use the `az resource delete` command.

**Command Name**
`az lock delete`

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create a lock, try to

[2022-11-01 14:40] yonzhan commented on #24519
@zhoxing-ms for awareness

[2022-11-01 14:41] yonzhan commented on #24518
Please go through this issue and see if it helps
https://github.com/Azure/azure-cli/issues/21514

[2022-11-01 14:41] #24518 closed

[2022-11-01 14:45] bebound commented on #24516
@srivathsanvlb  We've published azure-cli 2.42.0 which fixes this issue.
Cloud Shell may need some time to update cli to latest version.

[2022-11-01 15:23] PramodValavala-MSFT commented on #24482
@StevenBorg The command that you ran is incorrect. Here is what it should be

For Command Prompt
[code]

For PowerShell
[code]

Also, could you check if an environment variable `AZURE_CONFIG_DIR` is set in your shell environment?

[2022-11-01 15:37] brupelo opened #24520 "`az resource list -o table --query "[].{name:name, location:location, type:type}"` not displaying the type"
If you run `az resource list -o table --query "[].{name:name, location:location, type:type}"` it won't display the type column while
if you do `az resource list -o table --query "[].{name:name, location:location, kind:type}"` will be shown.

I guess it's because it's conflicting somehow with the reserved python's keyword `type`? Is this a bug?

Btw, I don't see in the help any way to sort this tab

[2022-11-01 16:00] asmerovski commented on #17695
Why is this closed? I am just looking at my cloud shell, it is spitting these lines...

[2022-11-01 16:01] jaylabell commented on #24313
@sandeepraichura Can you please look into this sig issue?

[2022-11-01 16:02] RakeshMohanMSFT commented on #24520
@brupelo This will give you the type `az resource list -o table --query "[].type"`

[2022-11-01 16:15] JamesMcIlwaine-Evelyn opened #24521 "Azure learn - problem running 'az interactive' in CLI provided"
## Describe the bug
Following the training on ' https://learn.microsoft.com/en-us/training/modules/describe-core-architectural-components-of-azure/4-exercise-explore-learn-sandbox?source=learn ' and could not run the 'interactive' command to proceed through task three.
I had chosen 'no' to actually completing the update in the previous step (v2.41.0. to v2.42.0.) but retried in case it was a prere

[2022-11-01 16:38] aiboli opened #24522 "az upgrade --yes command failed with code -1073741510"
**Related command**

az upgrade --yes

**Describe the bug**

after running `az upgrade --yes` in the azure cli task, it was stuck at this line: `WARNING: cli.azure.cli.command_modules.util.custom: Installing MSI` for couple of minutes and then ends with error: `##[error]Exit code -1073741510 returned from process: file name 'D:\a\_work\1\b\2\externals\node10\bin\node.exe', arguments '"D:\a\_work\1

[2022-11-01 16:59] brupelo commented on #24520
@RakeshMohanMSFT  Yeah, I know and you're correct but please read again my question, I'm not trying to display only the "unnamed type" but I'm trying to display 3 columns, each one with custom name and if you run

`az resource list -o table --query "[].{name:name, location:location, type:type}"` you won't get the `type` column shown.

But if you run instead:

`az resource list -o table --query "[]

[2022-11-01 17:06] EduCFreitas opened #24523 "Bug - Exercise - Explore the Learn sandbox"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-11-01 17:07] tholmesdev commented on #24163
Hello, any update on this? Thanks!

[2022-11-01 17:19] asos-tommycouzens commented on #7439
In powershell this does not behave expectedly.

The following do not work:
[code]

or without quotes
[code]

The follow, somehow, does work though:
[code]

but ONLY if `$prefixes` does not have quotes around it.

This caused me quite a lot of headache until I figured it out. Any way to reopen this issue?

[2022-11-01 17:33] iemejia commented on #21280
Any news on this? Wondering if with the new Azure instances for ARM64 + the Microsoft Dev Kit this makes more and more sense to publish the arm64 version too

[2022-11-01 17:39] mindlessroman commented on #18536
https://github.com/Azure/azure-cli-extensions/pull/5407

@CharlesAbetz - a fix to include this is live!

[2022-11-01 17:56] ROConnor-Aiven opened #24524 "Error during Training - Exercise - Explore the Learn sandbox"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-11-01 17:59] nkatz01 opened #24525 "'az interactive' command in sand box, azure cloud shell, for az-900 course, returning error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-11-01 18:12] rahuls-microsoft commented on #22564
The Quota APIs are now in public preview. You can access the APIs now.
Previously, it was behind AFEC (Feature flag) that's why you got the error.

[2022-11-01 18:41] derekpurdy commented on #22564
Thanks for the update, it does appear to work now.

I have a question though, maybe I'm missing an arguement or overlooking something.

When running "az quota usage show --resource-name "cores" --scope "subscriptions/XXXXX-XXXXX-XXXXX-XXXXX/providers/Microsoft.Compute/locations/canadaeast"

I only get the number of cores used, and not total used and the current quota value.

[2022-11-01 18:50] derekpurdy commented on #22564
also, it doesn't support output as a table properly

$ az quota show --resource-name "cores" --scope "subscriptions/XXXXX-XXXXX-XXXXX-XXXXX/providers/Microsoft.Compute/locations/canadaeast" -o table
Command group 'quota' is experimental and under development. Reference and support levels: https://aka.ms/CLI_refstatus
Name
------
cores

[2022-11-01 19:50] kalirajann opened #24526 "az deployment group what-if - Not returning the error details"
$output = az deployment group what-if --resource-group {} --name {} --template-file {} --parameters {} - While running this command, we are able to capture the success and changes. But, unable to capture the error details in an object.

We are facing many challenges to find the cause for the issue in controlled environment

[2022-11-01 20:37] PramodValavala-MSFT commented on #24387
@cocoojbs The command would have created a workflow flow in the GitHub repository which upon successfully running, should deploy your application to static web apps. This might take a few minutes and you can track the workflow status in the GitHub repo actions tab.

[2022-11-01 20:48] dreamsmerchant1 opened #24527 "az interactive command not working in sandbox"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-11-01 21:11] pallavgupta commented on #23142
we are observing same issue. az acr import command is running infinite times..

`cli.azure.cli.core.sdk.policies: Request method: 'GET'
cli.azure.cli.core.sdk.policies: Request headers:
cli.azure.cli.core.sdk.policies:     'x-ms-client-request-id': '5d2d5617-5a29-11ed-b8cf-93ba82b19c39'
cli.azure.cli.core.sdk.policies:     'CommandName': 'acr import'
cli.azure.cli.core.sdk.policies:     'Parameter

[2022-11-01 21:29] ehashman commented on #14782
I don't really agree as the URL is valid both with and without trailing slash.

[2022-11-01 21:51] Ochirkhuyag commented on #23714
The ARM changes still in progress in Mooncake. Let me check it with ARM team.

[2022-11-01 22:14] feruilob commented on #20846
I also need this to run ARC commands against DF endpoints

[2022-11-01 22:23] andysbolton opened #24528 "az storage account show-connection-string failing after upgrade to azure-cli 2.42.0"
**Related command**

`az storage account show-connection-string`

**Describe the bug**

`az storage account show-connection-string` seems to fail after an upgrade to azure-cli 2.42.0 (but works if downgraded to 2.41.0).

Output is:
[code]

**To Reproduce**

Seems to happen when running any variation of `az storage account show-connection-string --name $ACCOUNT`.

**Expected behavior**

No failure/

[2022-11-02 00:10] garima168 opened #24529 "az interactive error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-11-02 00:31] yonzhan commented on #24529
Duplicate of https://github.com/Azure/azure-cli/issues/24213

[2022-11-02 00:31] #24529 closed

[2022-11-02 00:33] yonzhan commented on #24521
Duplicate of https://github.com/Azure/azure-cli/issues/24213

[2022-11-02 00:33] #24521 closed

[2022-11-02 00:34] yonzhan commented on #24523
Duplicate of https://github.com/Azure/azure-cli/issues/24213

[2022-11-02 00:34] #24523 closed

[2022-11-02 00:35] yonzhan commented on #24525
Duplicate of https://github.com/Azure/azure-cli/issues/24213

[2022-11-02 00:35] #24525 closed

[2022-11-02 00:36] yonzhan commented on #24527
Duplicate of https://github.com/Azure/azure-cli/issues/24213

[2022-11-02 00:36] #24527 closed

[2022-11-02 00:37] yonzhan commented on #24528
@evelyn-ys for awareness

[2022-11-02 00:38] yonzhan commented on #24526
@zhoxing-ms for awareness

[2022-11-02 00:39] yonzhan commented on #24524
This is resolved https://github.com/Azure/azure-cli/issues/24213

[2022-11-02 00:39] #24524 closed

[2022-11-02 00:42] yonzhan commented on #24520
route to CXP team

[2022-11-02 00:43] yonzhan commented on #24522
@bebound for awareness

[2022-11-02 01:30] evelyn-ys commented on #24528
Please add `-g $resource_group_name` as a workaround. Will figure out the route cause and update later

[2022-11-02 02:14] bebound commented on #21280
I'm working on ARM64 support, docker image is also included in the plan.
Here is the PR: https://github.com/Azure/azure-cli/pull/24180

[2022-11-02 02:20] bebound commented on #24522
Duplicate of https://github.com/Azure/azure-cli/issues/22651

`az upgrade` currently doesn't work in Azure DevOps agent.

[2022-11-02 02:20] #24522 closed

[2022-11-02 02:38] zhoxing-ms commented on #23450
@AjKundnani I'd like to confirm with you my opinion about this point. For changing the image returned by the `az vm image list` command from Gen 1 to Gen, I think it is unnecessary to print notification message in advance. Because the change of the data returned by the list command is a normal change rather than a breaking change, the breaking change occurs only when the returned data structure ch

[2022-11-02 03:11] zhoxing-ms commented on #23450
@AjKundnani Hi, I'd like to confirm with you the core scenarios of printing the notification message.

- When users deploy the Gen 1 VM, CLI will print the following notification message to recommend them to use Trusted Launch VMs:

Regarding this message, do we need to also recommend users to use Gen 2, as we do for `az disk create`? PR link: #23942

- When users deploy the Gen 2 VM without enabl

[2022-11-02 03:21] zhoxing-ms commented on #24526
@shenglol Could you please help take a look at the `what-if` related issue?

[2022-11-02 03:26] zhoxing-ms commented on #24519
@smokedlinq Could you please send the debug log *(add `--debug` parameter`)* to me by email? My email address is Zhou.Xing@microsoft.com, thanks~

[2022-11-02 04:21] cocoojbs commented on #24387
@PramodValavala-MSFT
I was able to do what I wanted to do: after running the Update command, I configured the "Deploy web app to Azure Static Web Apps" workflow from the Github repository. Deploy web app to Azure Static Web Apps" from the Github repository workflow, and the repository switch was successful. (I had to add a StaticWebapps deployment token to the repository secret to configure the wo

[2022-11-02 04:34] navba-MSFT commented on #24383
@thongonary The above short link is now fixed and doesn't redirect to invalid location now. If you need any further help in future feel free to reopen this thread. We would be happy to help.

[2022-11-02 04:34] #24383 closed

[2022-11-02 04:56] navba-MSFT commented on #24163
Adding Service team to look into this.

@shenglol @josephkwchan, @jennyhunter-msft Could you please assist on this ? Thanks in advance.

[2022-11-02 05:32] minjoon-koo commented on #24503
As commented, deleting /Users/cubus/.azure/msal_token_cache.json and trying again solved it. thank you!

[2022-11-02 05:32] #24503 closed

[2022-11-02 05:34] #23893 closed

[2022-11-02 05:49] imsiddhartha opened #24532 "New API version 2022-04-01-preview for Microsoft.Network trafficmanager"
### Related command

az network traffic-manager endpoint create

### Resource Provider

Microsoft.Network/trafficManagerProfiles

### Description of Feature or Work Requested

Added a new flag “Always Serve”, When it is enabled, ATM bypasses the health checks and always serves the endpoint. ATM asserts that endpoints that are “always served” are healthy. The customer will be configuring this flag

[2022-11-02 07:20] shenglol commented on #24163
This is due the web RP not returning `siteConfig` in GET responses because. It is a known service provider issue and is tracked by https://github.com/Azure/arm-template-whatif/issues/265. Unfortunately, there is no workaround we can do on the What-If side. @zhoxing-ms Feel free to close this since we are tracking it in the What-If issues repo.

[2022-11-02 07:50] codeecyy opened #24534 "Error: Azure CLI behind a proxy that intercepts traffic with a self-signed certificate"
**Related command**

**Describe the bug**

PS C:\terraform\AZURE> terraform plan
╷
│ Error: building account: getting authenticated object ID: parsing json result from the Azure CLI: waiting for the Azure CLI: exit status 1: ERROR: HTTPSConnectionPool(host='graph.microsoft.com', port=443): Max retries exceeded with url: /v1.0/me (Caused by SSLError(SSLCertVerificationError(1, '[SSL: CERTIFICATE_VE

[2022-11-02 08:02] #24135 closed

[2022-11-02 08:12] navba-MSFT commented on #24163
@tholmesdev Tracking this here https://github.com/Azure/arm-template-whatif/issues/265

[2022-11-02 08:12] #24163 closed

[2022-11-02 08:36] navba-MSFT commented on #24171
@Venu-prahalad The fix in AzCLI is released with cli extension:` storage-blob-preview` 0.6.2. So please update your extension by running the below command:

Once it is updated, You can try to run the `az storage blob filter` CLI command and test. Hope this helps.

Ona side note, This fix is also released in AzPowershell in Az 9.1.0 (Az.Storage 5.1.0):
Gallery Module for Azure PowerShell : https://

[2022-11-02 09:44] codeecyy commented on #24534
Closing this case. It was resolved via this command run in admin mode i found in _az login fails with CERTIFICATE_VERIFY_FAILED and I am not behind a proxy #20921_
"C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe" -m pip install pip-system-certs

[2022-11-02 09:44] #24534 closed

[2022-11-02 10:18] yonzhan commented on #24532
@necusjz for awareness

[2022-11-02 10:30] novotnyJiri commented on #24104
I encountered the exact same problem. What is the status of this issue?

[2022-11-02 11:17] DanStaticWard commented on #23282
I'm also having this problem. I'm using a company provided MacBook M1, but we don't use proxies at any level and nobody else is having this problem. I got 200 codes for the two requests above, but `az login` always gives me the [SSL: CERTIFICATE_VERIFY_FAILED].

I've tried updating my certs file, reinstalling Python3 (both Mac local and Homebrew installed versions), running Python's `install certi

[2022-11-02 11:44] smokedlinq commented on #24519
@zhoxing-ms sent, let me know if you need anything else.

[2022-11-02 12:47] DanStaticWard commented on #23282
I was able to fix this eventually by running `export REQUESTS_CA_BUNDLE=/opt/homebrew/etc/ca-certificates/cert.pem`. I'd love to say I understand what was going wrong, but I don't.

[2022-11-02 13:07] arindam0310018 commented on #24108
Hello @v-anvashist
Thank you for your reply.
Please be informed that I do not have access to both the links shared.

Appreciate your next update when ever you have time.

I am too trying something in my end. Keep you updated!!!

Many Thanks
Regards, Arindam Mitra

[2022-11-02 13:07] arindam0310018 commented on #24162
Hello @yonzhan @jiasli
If time permits, please update
Awaiting for your response!!!

Many Thanks
Regards,
Arindam Mitra

[2022-11-02 14:50] sijucm opened #24536 "What is Demostleration? Just random stuff as example? Iteration Id does not work"
The page says this
--iteration
Iteration path of the work item (e.g. DemosIteration 1).

Shouldn't iteration be an ID? How can that be DemosIteration?????? If it is not ID and this does not take a team then whose iteration will it create the work item in ? What does the comment "Iteration path" mean? Just unbelievable sloppy comment. Why can't this be the iteration Id just like how it is when the

[2022-11-02 14:54] PramodValavala-MSFT commented on #24387
@cocoojbs Thanks for confirming and glad that you are now unblocked! Closing.

[2022-11-02 14:54] #24387 closed

[2022-11-02 15:13] florfederico-sr opened #24537 "Internal Server Error while creating Postgres Flexible Server version 14"
![internal_error](https://user-images.githubusercontent.com/99897724/199535276-d28fbaa3-f588-4757-8ecd-912fab56fafb.png)
I'm getting an InternalServerError trying to create a new Postgres flexible server.

I've tried it several time, changing the type of server and size. But I'm getting the same error every time.
This example was with: Standard_B1ms (size: 32)
But I've tried with Standard_D2ds_v4

[2022-11-02 15:21] yonzhan commented on #24537
route to CXP team

[2022-11-02 15:49] AliceMongodin opened #24538 "I can't list my clusters"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks list`

## Expected Behavior

## Environment Summary
[code]
## Additio

[2022-11-02 15:50] xrl0123 opened #24539 "Can't overwrite the list values in sweep job using az ml job create --set"
### **Related command**

[code]

### **Describe the bug**

I was trying to use "az ml job create --set" to overwrite the kernel search space from ["rbf", "linear", "poly"] to ["rbf", "linear"] for sweep step in this [example](https://github.com/Azure/azureml-examples/tree/main/cli/jobs/pipelines-with-components/pipeline_with_hyperparameter_sweep). I couldn't get it to work and this is the error I

[2022-11-02 15:54] Sehnbarn commented on #22345
As root, we will install Azure CLI (system-wide) in /usr/local rather than in a non-privileged user context (~/)

yourhost:~ yourlogin$ sudo -s -H

Enter your session password to get a session in the root user's context. Check your environment, e.g. on macOS Ventura (13.0) :

bash-3.2# uname -v
Darwin Kernel Version 22.1.0: Sun Oct  9 20:14:54 PDT 2022; root:xnu-8792.41.9~2/RELEASE_X86_64

If need

[2022-11-02 16:05] RakeshMohanMSFT commented on #24537
@florfederico-sr Thank you for reaching out, we are looking into it. It looks like something from the service side and not from the client (CLI). But let me look further and will keep you posted.

[2022-11-02 16:13] #24132 closed

[2022-11-02 16:15] ElvenSpellmaker commented on #24132
Hey @RakeshMohanMSFT, did a ticket get open for changing the documentation, or is it being done as part of this?

[2022-11-02 16:17] RakeshMohanMSFT commented on #24132
@ElvenSpellmaker I go the document updated, next release should have the update.

[2022-11-02 16:18] ElvenSpellmaker commented on #24132
@RakeshMohanMSFT Excellent thanks 🙂

[2022-11-02 17:29] jpfarhadian opened #24540 "Bastion native client - API Version conflict"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network bastion rdp`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network bastion rdp --name {} --resource-group {} --target-res

[2022-11-02 18:11] DrChat commented on #21010
Just dropping in - we have an `AzureCLI@2` task on ADO intermittently failing with the following output:
[code]

We're on our own semi-customized pool (based on `windows-latest` from upstream).
Ping me for more details on Teams if you need them :)

[2022-11-02 18:17] tomlagier commented on #5007
Seconding this - this seems like a massive oversight to us and has caused several production issues when a file has been moved or renamed.

Our deployment command:
[code]

If another deployment method is more reliable for syncing the directory then we'll use that - it seems frankly insane to me that the behavior of "deploy a directory" is not "remove existing deployed files then copy new files" a

[2022-11-02 18:42] shenglol commented on #24526
@kalirajann Can you elaborate on this? On error cases What-If is expected to return error details since that's part of the contract: https://github.com/Azure/azure-rest-api-specs/blob/81cd88a080c4bf4bb251afbe62892a6e220cb2b4/specification/resources/resource-manager/Microsoft.Resources/stable/2021-04-01/resources.json#L6353.

[2022-11-02 19:03] marc-gmail-towersap opened #24541 "az extension datafactory 0.7.0 is broken for working with pipelines"
If you install the latest az datafactory extension (0.7.0), then run az datafactory pipeline list --factoryname blah --resource-group rg-blah throws an internal error after 10+ seconds.  If you run with --debug, you can see it does pull down the json, but errors out

If you uninstall it, then install  az extension add --name datafactory --version 0.6.0

it works.

---
#### Document Details

az dat

[2022-11-02 19:44] PramodValavala-MSFT commented on #24144
@MswPaulDSmith @papadeltasierra Thanks for the confirmation! With the right dependencies, the pypi package should work as well but its part of the official documentation since the other methods are recommended. Nonetheless, I will share the feedback with the concerning team. Closing.

[2022-11-02 19:44] #24144 closed

[2022-11-02 19:54] PramodValavala-MSFT commented on #24170
@CosX I believe the default IDs are just standard GUIDs which is what the `guid()` function in bicep should also generate.

[2022-11-02 20:25] springcomp opened #24542 "Consider using an improved JMESPath library"
More than a feature request, this issue is my formal way to introduce [JMESPath Community](https://jmespath.site/main/).

For many months we at JMESPath Community worked on [brainstorming ideas](https://github.com/jmespath-community/jmespath.spec/discussions) for new features and curated a [reasonably scoped set of new features](https://github.com/jmespath-community/jmespath.spec/discussions?discu

[2022-11-02 20:37] springcomp commented on #19991
The correct syntax is to use simple quotes.
Simple quotes are regular strings.
Double quotes are identifiers with special characters.

Your query is effectively asking all the records whose property `name` is equal to the value of its property `kubernetes-cluster`, which most likely does not exist.

Please, try:

`` --query "[? name == 'kubernetes-cluster' ]" ``

[2022-11-02 21:34] rayluo commented on #21010
(I'm thinking out loud...) @jiasli , do you know whether the "`AzureCLI@2` task on ADO" is expected to support DPAPI/encryption? If not, can we somehow disable it in that task?

[2022-11-02 22:39] cszabo2 opened #24544 "Needs link to timespan definition"
The az monitor log-analitics query documentation makes reference to specifying a timespan. It even offers an example of a specifying one, but the timespan specification is not obvious at all. A link to a reference documentation of the format of the timespan string would be very useful here.
---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issu

[2022-11-02 22:49] yonzhan commented on #24538
route to CXP team

[2022-11-02 22:49] yonzhan commented on #24539
route to CXP team

[2022-11-02 22:51] yonzhan commented on #24540
route to CXP team

[2022-11-02 22:52] yonzhan commented on #24541
route to CXP team

[2022-11-02 22:54] yonzhan commented on #24542
@jiasli for awareness

[2022-11-02 22:59] yonzhan commented on #24544
@kairu-ms for awareness

[2022-11-03 00:42] talktovishal opened #24545 "az cloud set -n AzureCloud" is fails intermittently."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
az cloud set -n AzureCloud" is failing intermittently.

**Command Name**
`az cloud set -n AzureCloud" is failing intermittently. `

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requi

[2022-11-03 02:12] yonzhan commented on #24545
az cloud set

[2022-11-03 02:41] jeevanions opened #24547 "From bash unable to create a role assignment for an Service Principal scoped to management group"
When the same command from the terminal using the same login account, runs without error. If I use the same command in a bash script, then I get this error message. The Document reference doesn't include an example for role assignment for a management group. Could we add an example here please?

Any clue why this is failing?

Command Run: `az role assignment create --assignee-object-id $sp_id --as

[2022-11-03 02:52] RakeshMohanMSFT commented on #24540
@jpfarhadian Thank you for reaching out, we are looking into it.

[2022-11-03 03:06] navba-MSFT commented on #24536
@v-anvashist, @V-hmusukula. Could you please look into this ?

[2022-11-03 03:26] yonzhan commented on #24547
@jiasli for awareness

[2022-11-03 03:34] navba-MSFT commented on #24538
@AliceMongodin Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-11-03 03:56] zhoxing-ms commented on #24519
Sorry, I can't reproduce your problem. And I see that the REST service has returned the status code `204` after the deletion.
This issue needs to be investigated by ARM service team, so I transfer this issue to them.
**'x-ms-correlation-request-id': 'fd38435c-e8b6-4680-9be5-5c2633f15c7b'**

[2022-11-03 03:59] smokedlinq commented on #24519
@zhoxing-ms Thanks for looking, if it'd help if I opened a support ticket let me know. For now, I have a viable workaround but it definitely seems like an issue that should be looked into so I'll leave this issue open.

[2022-11-03 04:18] bebound commented on #24547
Could you show me the output of failed command with `--debug` parameter?

[2022-11-03 04:44] navba-MSFT commented on #24538
@AliceMongodin Judging by the below:

[code]

This is not the official Azure CLI published by Microsoft. Community packagers release unofficial Azure CLI deb packages on multiple Linux repositories. Please see https://github.com/Azure/azure-cli/issues/19640 for more information.

For now, please follow https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt to install Microso

[2022-11-03 04:57] AjKundnani commented on #23450
@zhoxing-ms - Adding comments in-line

Correct

No, we should stay with simplified message without adding any switch or parameter details. Adding switch details for `--hyper-v-generation V2` is causing some confusion, Can we remove it from `az disk create` command as well, i.e. both VM and disk commands are using same message.

Agreed, looks good.

[2022-11-03 04:59] AjKundnani commented on #23450
@zhoxing-ms - Please note of following changes:

Moved from No change to Change list under Aliases.json, as we've Gen2 version of Windows Server 2022 without Azure Edition available now.

Added limitation of Managed Image & Trusted Launch VMs parity in additional context.

[2022-11-03 05:02] RakeshMohanMSFT commented on #24537
@florfederico-sr Can you please retry this operation and let us know if you are still facing this issue?

[2022-11-03 05:39] kairu-ms commented on #24544
It uses `ISO8601` duration format in `[az monitor log-analytics query](https://learn.microsoft.com/en-us/cli/azure/monitor/log-analytics?view=azure-cli-latest#az-monitor-log-analytics-query)`

[2022-11-03 05:41] kairu-ms commented on #24544
Hi @AllyW, please help update the help message of `timespan`, when fixing issues of [az monitor log-analytics query](https://learn.microsoft.com/en-us/cli/azure/monitor/log-analytics?view=azure-cli-latest#az-monitor-log-analytics-query) command.

[2022-11-03 06:19] navba-MSFT commented on #24152
@Fireblade954 I am able to run the same command without any issues. Could you please use the [most recent version of the Azure CLI ](https://learn.microsoft.com/en-us/cli/azure/update-azure-cli)and try running the same command ? Hope this helps.

[2022-11-03 06:49] zhoxing-ms commented on #23450
In fact, I mean the notification message which can refer to `az disk create` is:

Another notification message containing parameters `--hyper-v-generation V2` is only given to users when they pass in parameters `--hyper-v-generation V1` but the image they used is Gen 2. This is belonged to the user's incorrect usage of this parameter, we need to tell users the correct usage of this parameter. But

[2022-11-03 06:59] zhoxing-ms commented on #23450
Got it. In addition, since modifying the [Aliases.json](https://github.com/Azure/azure-rest-api-specs/blob/main/arm-compute/quickstart-templates/aliases.json) will not cause breaking change, can we modify it earlier rather than wait for the next breaking change window? Personally, I think this can increase the probability of customers using Gen 2 image in advance

[2022-11-03 07:11] zhoxing-ms commented on #23450
＞Moved from No change to Change list under Aliases.json, as we've Gen2 version of Windows Server 2022 without Azure Edition available now.

Got it, thanks~

How can we determine that an image is Managed Image? And the notification message no longer needed for this scenario?

In addition, could you please answer this question? https://github.com/Azure/azure-cli/issues/23450#issuecomment-1299484327

[2022-11-03 07:12] Wedmalm commented on #18596
We are having the exact same problem right now. It started last evening when our nightly runs where supposed to start. The pipeline has a retry of 10 when creating the container but it failed each time with above error message. This has been working every night since we created the pipeline in beginning of june. The container is usually deployed in west europe.

[2022-11-03 07:20] #24193 closed

[2022-11-03 07:36] AjKundnani commented on #23450
@zhoxing-ms - It can be breaking change from Workload OS perspective, as the underlying OS SKU is changed from Gen1 (BIOS) to Gen2 (UEFI).

[2022-11-03 08:00] zhoxing-ms commented on #23450
@AjKundnani Thanks for your explanation. Yes, I understand that modifying [Aliases.json](https://github.com/Azure/azure-rest-api-specs/blob/main/arm-compute/quickstart-templates/aliases.json) will cause a breaking change when using the image alias to create a VM with the `az vm create` command, but the `az vm image list` command itself does not have a breaking change. The notification message will

[2022-11-03 08:29] Fireblade954 commented on #24152
I tried azure-cli 2.40.0 first again, still the same issue. After i upgraded to azure-cli 2.42.0 but still give the exact same error.

[2022-11-03 08:40] AjKundnani commented on #23450
Yes, as message is setup for `az vm create`, notification for `az vm image` command is redundant, can be skipped for implementation.

[2022-11-03 08:48] AjKundnani commented on #23450
Correct, users generally would use `--image` parameter to pass both Platform, Managed image or Gallery Image. Managed image is passed as name like `MyImage` vs Gallery image are passed as Resource ID with `Microsoft.Compute/galleries` making part of the resource ID.

[Example - Create a VM from a custom managed image.](https://learn.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-crea

[2022-11-03 09:08] navba-MSFT commented on #24152
@Fireblade954 Could you please run the same command again and share the complete `--debug` output over email navba [@]microsoft(.) dotcom ? Awaiting your reply.

[2022-11-03 09:21] jiasli commented on #13276
After migrating to MSAL Python (https://github.com/Azure/azure-cli/pull/19853), Azure CLI now utilizes MSAL's token cache to save service principal's access tokens:

https://github.com/Azure/azure-cli/blob/21266e02457263420b62fba1c529f69e28852414/src/azure-cli-core/azure/cli/core/auth/msal_authentication.py#L138-L140

Azure CLI first calls `acquire_token_silent` to attempt to get an access token f

[2022-11-03 10:36] Fireblade954 commented on #24152
@navba-MSFT email send 👍

[2022-11-03 11:00] navba-MSFT commented on #24152
@Fireblade954 Thanks for getting back. Could you please try the below command and check if that helps ?

[2022-11-03 11:09] Fireblade954 commented on #24152
That call works, but as seen in the Debug log that call also returns a 200 and returns the same result when doing the az lock show.

[2022-11-03 11:17] ajeffowens opened #24550 "az connectedk8s on arm64 mac fails (mach-o file, but is an incompatible architecture (have 'x86_64', need 'arm64'))"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az connectedk8s connect`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az connectedk8s connect --name {} --resource-group {} --location

[2022-11-03 13:12] cizordj commented on #24528
@evelyn-ys Sorry if it's a dumb question but where can I get the group name? I've with `az storage account list` but I have no clue.

[2022-11-03 13:14] florfederico-sr commented on #24537
@RakeshMohanMSFT I was able to create it without any problem! Thank you! 👍

[2022-11-03 13:15] #24537 closed

[2022-11-03 14:04] MuhammadPathan opened #24551 "pip install Azure cli taking longer then 10min"
Got the following requirements.txt which i am pip installing. azure-cli is taking forever, longer then 10 min just to install. how can i speed this up?

my requirements.txt file:

azureml-train-core==1.47.0
azureml-sdk==1.47.0
azure-storage-blob==12.13.1
matplotlib==3.6.1
numpy==1.23.4
pandas== 1.5.1
pathlib==1.0.1
python-dotenv==0.14.0
pytz==2020.4
azure-cli== 2.42.0

[2022-11-03 14:24] VolodymyrMolodets commented on #17077
I ran into same issue with container instance creation using _az container create_ command in yaml pipelines and fixed that by ensuring env variables were capitalized.

E.g. ${env:RESOURCEGROUPNAME}.

[2022-11-03 15:04] evelyn-ys commented on #24528
By running `az storage account show -n $accountName`, you can get the resource id in the format of `/subscriptions/$subId/resourceGroups/$resourceGroupName/providers/Microsoft.Storage/storageAccounts/$accountName`.

You can find the resource group name there

[2022-11-03 15:05] yonzhan commented on #24551
@jiasli for awareness

[2022-11-03 16:24] Uninstall4735 opened #24552 "Azure CLI failing to authenticate"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login`

## Expected Behavior

THis should open the window to authenticate the Azure CLI session, instead the error i

[2022-11-03 16:51] Ochirkhuyag commented on #23714
@chicago7  The ARM changes are applied. Could you please check it from your side?

[2022-11-03 17:09] glebrh commented on #23381
Is there any update on this feature request? As @Rainfarm mentioned this one will enable full automation of CI/CD workflow. Now, if there is any error while environment build, it could be only detected while pipeline execution.

Seems that neither CLI/SDK v2 nor Azure ML REST API do not provide the ability to check build status.

[2022-11-03 18:18] Ben424242 commented on #22041
This is still happening. Did you ever get a response from the Service Team?

[2022-11-03 18:34] tom-navarra-nnl opened #24553 "`az account clear` and `az logout` fails in Azure Government: ConnectionResetError: [Errno 104] Connection reset by peer"
**Related command**

`az account clear`
`az logout`

**Describe the bug**

After logging into AzureUSGovernment, a subsequent logout fails. This occurs in cli v2.42.0 and 2.41.0 but does not in 2.40.0

Traceback (most recent call last):
  File "/opt/az/lib/python3.10/site-packages/urllib3/connectionpool.py", line 699, in urlopen
    httplib_response = self._make_request(
  File "/opt/az/lib/python

[2022-11-03 21:12] rido-min opened #24554 "Mark DeviceStreams commands as Preview"
This article describes `az iot hub devicestream` commands but does not mention this is a preview feature.

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9afeaa5c-1af2-8fcc-69b4-15ae81a0d342
* Version Independent ID: dea97474-170e-f678-f812-a1e4cdf56c76
* Content: [az iot hub](https://learn.microsoft.com/en-us/cli/azur

[2022-11-03 21:15] rido-min opened #24555 "az iot hub invoke-module-method also covers non-edge devices"
The article describes `az iot hub invoke-module-method` as a way to invoke direct methods on "Edge" modules, although it also covers  modules from regular (non-edge) devices

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 9afeaa5c-1af2-8fcc-69b4-15ae81a0d342
* Version Independent ID: dea97474-170e-f678-f812-a1e4cdf56c7

[2022-11-03 21:40] JP-Ellis-KPMG commented on #18402
Thanks @navba-MSFT  for pointing out the suggestion from the Terraform repository.

One question does remain: Why is it the case that users can configure the Data Factory through the web interface, but not through the CLI then?

[2022-11-03 22:13] uiri commented on #11219
@zhoxing-ms The command design of `vm extension publish/vm extension publish-version` is more in line with expectations.
This feature is considered Generally Available at this point, we have been out of private preview for quite some time.

[2022-11-03 22:37] yonzhan commented on #24552
Turns out the machine you are using is having network issues attempting to reach login.microsoft.us. I will close this as it does appear to be an issue with azure

[2022-11-03 22:37] #24552 closed

[2022-11-03 22:41] yonzhan commented on #24553
@jiasli for awareness

[2022-11-03 22:42] yonzhan commented on #24554
route to CXP team

[2022-11-03 22:42] yonzhan commented on #24555
route to CXP team

[2022-11-04 02:53] yanzhudd commented on #11219
Hello @uiri, may I ask is this feature to be implemented in the CLI extension or in the official CLI? Does the command need to be marked as PREVIEW?

[2022-11-04 03:16] bebound commented on #24545
I don't why it happens but you're using python 3.11 to executed command.
3.11 is not supported yet. See https://github.com/Azure/azure-cli/issues/24494

You need to check your cli installation.

[2022-11-04 03:41] navba-MSFT commented on #24550
@ajeffowens Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-11-04 03:52] navba-MSFT commented on #24550
@ajeffowens Could you please run the below command and then run the above azure CLI command again and check if that works ?

[2022-11-04 04:05] navba-MSFT commented on #24168
Adding Service team to look into this.

[2022-11-04 04:09] navba-MSFT commented on #24237
Adding Service team to look into this.

[2022-11-04 04:57] navba-MSFT commented on #24487
@olujosh808 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-11-04 06:55] codepic opened #24557 "`az upgrade` fails in Github runners"
**Related command**
[code]

**Describe the bug**

When you enable dynamic install and auto-upgrade on github runners, the azure cli fails on infinite loop.

Error message: `Error: Process completed with exit code 137.`

The `Complete Job` step shows the following:

[code]

**To Reproduce**
Run the `Related command` in `Github hosted runners`: `ubuntu-latest`.
Will also happen on `windows-latest`

[2022-11-04 07:31] #23216 closed

[2022-11-04 07:32] bebound commented on #24553
That's usually caused by network issue.
But you said you can login but fail to logout, which is weird.
Can you check the output of `python3 -c "import requests; print(requests.get('https://login.microsoftonline.com/').status_code)"` in different version?

[2022-11-04 07:40] #23579 closed

[2022-11-04 07:41] wonner commented on #23719
https://github.com/Azure/azure-cli/pull/23960 Close as PR checked in.

[2022-11-04 07:41] #23719 closed

[2022-11-04 07:43] jiasli commented on #24553
The URL in the error message is

[code]

Searching `api-version=1.1` in MSAL's source code indicates the URL is generated by this line:

https://github.com/AzureAD/microsoft-authentication-library-for-python/blob/789342c4bc57f80314a83662af614f6f02a207d0/msal/application.py#L1117

[code]

`_get_instance_metadata` is called by [`_get_authority_aliases`](https://github.com/AzureAD/microsoft-authentic

[2022-11-04 07:49] yonzhan commented on #24557
@jiasli for awareness

[2022-11-04 07:54] jiasli opened #24558 "`az keyvault secret list` hangs in AzureUSGovernment cloud"
**Related command**
`az keyvault secret list`

**Describe the bug**

When running `az keyvault secret list` in AzureUSGovernment cloud, the `--debug` log shows it hangs at

[code]

I am able to pin down this request to MSAL’s this line:

https://github.com/AzureAD/microsoft-authentication-library-for-python/blob/fc3f39f9deecc2cbb9c3c5e46023a527835beaaf/msal/application.py#L1057-L1059

[code]

`_ge

[2022-11-04 08:00] yonzhan commented on #24558
keyvault

[2022-11-04 08:01] #24190 closed

[2022-11-04 08:01] #22383 closed

[2022-11-04 08:01] #20823 closed

[2022-11-04 08:01] #18145 closed

[2022-11-04 08:03] RakeshMohanMSFT commented on #24540
@jpfarhadian We are unable to reproduce this issue at our end. Can you please try to reinstall Az cli once and retry?

[2022-11-04 08:03] bebound commented on #24557
`az upgrade` currently doesn't work in these agents.  See https://github.com/Azure/azure-cli/issues/22651

[2022-11-04 08:06] #24023 closed

[2022-11-04 08:06] #24405 closed

[2022-11-04 08:21] #24557 closed

[2022-11-04 08:27] jvilimek commented on #23898
@jennyhunter-msft sorry for not reaching you earlier. The main issue here is, that an `az cli` command that should chnage just the tag is changing also other properties. As you can see in the screenshot from kusto query this change affects data from AppInsights (the `appName`):

![image](https://user-images.githubusercontent.com/16001792/194371400-bddccce6-c572-4984-aed7-00b24159aadd.png)

(for qu

[2022-11-04 08:40] zhoxing-ms commented on #24152
This problem is actually caused by a mistake in usage. Please distinguish the `--resource` parameter from `--name` parameter

[code]
As we can see in the help message, the `--resource` parameter needs to pass in the **ID of the resource being locked**, while the `--name` parameter needs to pass in the **lock name**.
Therefore, the `--resource` parameter should **NOT** be passed in the **lock ID**.

[2022-11-04 08:44] bebound commented on #24551
I think there is nothing we can do about this.
It takes 1min 40s to install `azure-cli==2.42.0` on Cloud Shell.
Your bandwidth or disk speed might be the bottleneck.

[2022-11-04 09:06] RakeshMohanMSFT commented on #24480
@stephenbuckley-wpp are you still facing this issue? can you share the debug trace for this please?

[2022-11-04 09:28] navba-MSFT commented on #24171
@Venu-prahalad I hope you had a chance to update your `storage-blob-preview `extension to 0.6.2 version using the below command.

Then you can run the below command:

**_Az CLI_**
[code]

**Azure Powershell:**
[code]

[2022-11-04 10:04] fabio-s-franco opened #24560 "az network bastion rdp exception (unexpected error)"
## Describe the bug
az cli throws an exception when trying to access bastion private subnet within azure, to enable RDP from local machine.

**Command Name**
`az network bastion rdp`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Setup a bastion host within a private subnet (no acces

[2022-11-04 11:22] iseliweb commented on #24560
I have the same issue but with "az network bastion tunnel" (while rdp works for me)

[2022-11-04 11:25] iseliweb opened #24561 "az network bastion tunnel exception"
Command throws a socket access error while trying to create a tunnel to a VM resources.

**Command Name**
`az network bastion tunnel`

**Errors:**
[code]

## To Reproduce:
- `az network bastion tunnel --name {} --resource-group {} --target-resource-id {} --resource-port {} --port {}`

Note that 'az network bastion rdp' works, error thrown only for tunneling.

## Expected Behavior
Tunnel creation

[2022-11-04 11:36] MarkDarwin commented on #23720
Similar here from MacOS to a WindowsVM
This works from Windows to Windows.

Error:
Command group 'network bastion' is in preview and under development. Reference and support levels: https://aka.ms/CLI_refstatus
The command failed with an unexpected error. Here is the traceback:
cannot import name 'WinDLL' from 'ctypes' (/opt/homebrew/Cellar/python@3.10/3.10.8/Frameworks/Python.framework/Versions/3

[2022-11-04 11:42] iseliweb commented on #24561
net stop hns & net start hns finally resolved the issue. Seems that the port was still blocked due to a previous session.

[2022-11-04 11:42] #24561 closed

[2022-11-04 11:45] yonzhan commented on #24560
route to CXP team

[2022-11-04 14:57] huntantr commented on #20171
When can we expect this to be fixed? I am in need of using the CLI with my onprem instances as well.

[2022-11-04 15:05] sinedied opened #24562 "[az ad sp create-for-rbac] Command doesn't work in git bash on windows, works fine on cmd"
**Related command**
[code]

**Describe the bug**
Running the command above on Git Bash terminal fails with the error shown below. The exact same command works when run in regular cmd terminal.

![image](https://user-images.githubusercontent.com/593151/200008684-f0c5c78f-4ab5-45ee-b390-75781053aba2.png)

**To Reproduce**
1. On a windows machine with Git For Windows installed, open a Git Bash termin

[2022-11-04 15:49] aavalang opened #24563 "Move Azure Bastion to Extension"
### Related command

az network bastion --create
az network bastion --update
az network bastion --list
az network bastion --show
az network bastion --delete

### Resource Provider

Microsoft.network/bastionHosts

### Description of Feature or Work Requested

bastion az cli commands are part of cli repo, we want to move to our own extension

This will help us plan features and releases going forwar

[2022-11-04 15:56] tobimax opened #24564 "az network bastion tunnel crashes"
## Describe the bug

**Command Name**
`az network bastion tunnel`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network bastion tunnel --name 'xxx' --resource-group 'xxx' --target-resource-id 'xxx' --resource-port 3389 --port 53608`
- Open

[2022-11-04 17:35] cerilawley opened #24565 "az vm repair creates windows vm even if the source machine is linux"
$ az version
Azure-cli    Azure-cli-core    Azure-cli-telemetry
-----------  ----------------  ---------------------
2.42.0       2.42.0            1.0.8

**Related command**
az vm repair create --verbose --distro ubuntu --debug -g RG -n linuxvm --repair-username admin --repair-password 'xxxxxx' --copy-disk-name repairdiskcopy

**Describe the bug**
The repair copy vm that is created is windows

**

[2022-11-04 18:08] stephenbuckley-wpp commented on #24480
Hi Rakesh, I've had a ticket open with Azure support relating to this and today was advised of the following regarding cloud shell:

"Cloud shell's AZ Modules has been updated to version 2.42.0 recently and I can no longer reproduce the error you faced - Could you confirm you see the same on your end?"

At the time of writing I no longer experience this issue when running the exact same az aks lis

[2022-11-04 18:29] RakeshMohanMSFT commented on #24480
@stephenbuckley-wpp Thank you for the confirmation. I will close this issue now.

[2022-11-04 18:29] #24480 closed

[2022-11-04 21:52] PramodValavala-MSFT commented on #23945
@andreas-nielsen-xlo As mentioned, this is being worked upon and the workaround for it is described [here](https://github.com/Azure/azure-cli/issues/23634#issuecomment-1243185740). Closing this issue since there is no change required in Azure CLI.

[2022-11-04 21:52] #23945 closed

[2022-11-04 22:06] PramodValavala-MSFT commented on #23261
This has been addressed in [this PR](https://github.com/Azure/azure-cli/pull/24434) which adds a flag, `--configure`, to the command that opens the Remote Desktop Connection UI allowing you to configure the session to your liking. Closing.

[2022-11-04 22:06] #23261 closed

[2022-11-04 22:35] ravitellakula opened #24566 "Create Managed Identity for Azure Stream Analytics using az cli"
**Related command**

`az stream-analytics `

**Is your feature request related to a problem? Please describe.**

We do have an automated script to create ASA job and was looking for an option to also assign a Managed Identity right after the ASA job has been created

**Describe the solution you'd like**

Similar to other Azure PaaS Services, looking for an az cli command something like `az stream-

[2022-11-04 22:39] tiregan commented on #24087
@yanzhudd I thought this feature was finished but just talked to the feature owner and it's still in PR.  Let's exclude it and we will make a separate request for it when it's finished.

[2022-11-04 23:59] PramodValavala-MSFT commented on #23273
@MichaelFitzTech The command creates the `conn.rdp` file in the current working directory which is `C:\Windows\System32` since you are running as admin. While I'm not sure why it fails to create the file (without actually failing 😕), you should be able to resolve this simply by changing into a different directory and running the command.

[2022-11-04 23:59] PramodValavala-MSFT commented on #23515
@KevinKitts The command creates the `conn.rdp` file in the current working directory which is `C:\Windows\System32` since you are running as admin. While I'm not sure why it fails to create the file (without actually failing 😕), you should be able to resolve this simply by changing into a different directory and running the command.

[2022-11-05 00:43] PramodValavala-MSFT commented on #24073
@nhhoangctu I do not see this in the latest version of Azure CLI. Could you perhaps upgrade by running `az upgrade` and try again?

[2022-11-05 00:46] PramodValavala-MSFT commented on #23583
@plzm I do not see this in the latest version of Azure CLI. Could you perhaps upgrade by running `az upgrade` and try again?

[2022-11-05 00:51] PramodValavala-MSFT commented on #23511
@szymonbr Just checking in here to see if you are still facing this issue. If so, it would be best to try with the latest version by upgrading Azure CLI using the `az upgrade` command. Also, add the `--debug` flag to your command and share the logs if you are still facing the same issue.

[2022-11-05 01:05] yonzhan commented on #24562
@jiasli for awareness

[2022-11-05 01:07] yonzhan commented on #24563
route to service team since these Bastion related commands are owned by service

[2022-11-05 01:07] yonzhan commented on #24564
route to CXP team

[2022-11-05 01:08] yonzhan commented on #24565
route to CXP team

[2022-11-05 01:09] yonzhan commented on #24566
route to CXP team

[2022-11-05 01:18] YusukeTobo opened #24569 "az webapp list-runtimes with minor versions"
**Related command**
az webapp list-runtimes

**Is your feature request related to a problem? Please describe.**
`az webapp list-runtimes` shows available runtimes. It is really useful to view what runtimes Web Apps support, but Java related runtimes like Tomcat, JavaSE have some minor versions (like 9.0.62, 9.0.54, 9.0.52) and they are not listed in the command like below.

[code]

**Describe the

[2022-11-05 06:48] chicago7 commented on #23714
@Ochirkhuyag Thanks for your support. but the issue is still here.

Azure CLI is up to date.

cli.azure.cli.core.sdk.policies:     'User-Agent': 'AZURECLI/2.42.0 (MSI) azsdk-python-subscriptionclient/unknown Python/3.10.8 (Windows-10-10.0.19045-SP0)'
cli.azure.cli.core.sdk.policies:     'Authorization': '*****'
cli.azure.cli.core.sdk.policies: Request body:
cli.azure.cli.core.sdk.policies: {"subsc

[2022-11-05 08:01] #24208 closed

[2022-11-05 08:01] #23875 closed

[2022-11-05 08:33] morf96 commented on #12775
Currently, the error still exist:
The property 'requireGuestProvisionSignal' is not valid because the 'Microsoft.Compute/Agentless' feature is not enabled for this subscription.
Will it be available under Microsoft.Compute resource provider?
It was in a template generated from Azure Portal for automation.

[2022-11-05 09:15] atakadams opened #24570 "Not known attribute warn for az sig image-version create"
## Describe the bug
`az sig image-version create` outputs warning message cited below, while the command itself seems completed successfully.

**Command Name**
`az sig image-version create`

**Warning:**
[code]

## To Reproduce:

- Create image source Linux VM, and get it generalized with `az vm generalize`
- Create shared image gallery and image definition with default settings (for Linux)
- `az

[2022-11-05 09:41] AtiX opened #24571 "az billing invoice download asks for --invoice-name despite being provided"
## Describe the bug

When attempting to get a download URL for an invoice, the CLI throws an error expecting the `--invoice-name` parameter - despite having it provided as part of the call.

**Command Name**
`az billing invoice download`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

-

[2022-11-05 10:37] RakeshMohanMSFT commented on #24569
The latest version of Az CLI 2.42.0 is actually using the same rest API (2022-03-01) and i do see that the response of the api (Json) also contains the result, but it is not displayed to users for some reason, need to check why.

[2022-11-06 01:33] nazik commented on #24570
I am having the same issue. Ran the following az cli command:
az sig image-version create \
   --resource-group {} \
   --gallery-name {} \
   --gallery-image-definition {} \
   --gallery-image-version {}\
   --managed-image {}

version information:

azure-cli                         2.41.0 *

core                              2.41.0 *
telemetry                          1.0.8

Extensions:
azure-de

[2022-11-06 01:34] yonzhan commented on #24569
route to CXP team

[2022-11-06 01:35] yonzhan commented on #24570
@zhoxing-ms for awareness

[2022-11-06 01:36] yonzhan commented on #24571
route to CXP team

[2022-11-06 10:17] schuppo opened #24572 "Executing `az ad user update` fails."
## Describe the bug

Executing `az ad user update` fails.
Additionally using `--debug` confirms that the request headers don't contain the required `Content-Type` header:
[code]

**Command Name**
`az ad user update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az ad user update --

[2022-11-06 11:11] yonzhan commented on #24572
@jiasli for awareness

[2022-11-06 14:09] SteveDevOps opened #24573 "github action --- ERROR: unrecognized arguments: az webapp config set --startup-file=/home/site/scripts/startup.sh"
I am running az cli as a github action step in a called, reusable, workflow. I am specifying version 2.4.2 and error is:  unrecognized argument for --startup-file.

**step in workflow:**

 - name: Seed startup script
        uses: azure/CLI@v1
        with:
          azcliversion: 2.42.0
          inlineScript: |
            az webapp deploy --resource-group `${{ inputs.TARGET_RG }}` --name `${{ i

[2022-11-06 16:41] jpfarhadian commented on #24540
That is strange : here is what I'm getting - (I have done complete Uninstall - reboot - Install Latest CLI Versiom)
 az network bastion rdp --name "HM-Bastion" --resource-group "Bastion-RG" --target-resource-id "/subscriptions/d3017c91-b341-493c-a153-e684856479e8/resourceGroups/HM-Client-Dev-RG2/providers/Microsoft.Compute/virtualMachines/VM-MP"
Command group 'network bastion' is in preview and un

[2022-11-06 16:44] jpfarhadian commented on #24540
does it have dependency on specific Phyton version ? I have version 3.10.8

[2022-11-06 17:55] arindam0310018 commented on #9763
Hello @freeone3000 @ross-p-smith @rfink @mikedrumgcom @jiasli @yugangw-msft @norbitrial @hoangpx @yonzhan @brunomartinspro @bim-msft @wolesolana @sebansal @akshaymathur3

I am aware that the issue thread is closed but I recently encountered the same issue and I could resolve using Microsoft Support. Hence thought of putting it here with as much details as possible, if in case someone stumbles into

[2022-11-06 18:12] arindam0310018 commented on #24162
Hello @yonzhan @jiasli

Any update Please!!!

Many Thanks
Best Regards, Arindam Mitra

[2022-11-07 00:00] yonzhan commented on #24573
route to CXP team

[2022-11-07 01:05] SteveDevOps commented on #24573
**update**: in an attempt to get more feedback on error from cli, I broke up the two commands into separate steps.. each utilizing the marketplace azure cli action (azure/CLI@v1). Once I did this, the true error was revealed -- and it was a problem with the first commnd to upload the script:

ERROR: Either '../scripts/startup.sh' is not a valid local file path or you do not have permissions to acc

[2022-11-07 01:47] bebound commented on #24179
Version 2.41 is merged on the same day you created the issue https://github.com/Homebrew/homebrew-core/commit/d05aa51735b24491a6abbb031a53ab15a6a15a1e. There is some delay between GitHub and Homebrew.

[2022-11-07 01:53] SteveDevOps commented on #24573
This may be a pain point for lots of folks using the azure cli within github actions, when having multiple commands run at once. If you're facing "unrecognized arguments" or other strangeness, try breaking up your script to zero in on the true error. Azure CLI peeps, help us out with running multiline scripts -- recommendations -- on how we can debug better so that first error exits, to reveal its

[2022-11-07 02:26] #24087 closed

[2022-11-07 02:27] kairu-ms commented on #24563
This is a request from service team. They want us to help move the commands into extension.

[2022-11-07 03:01] RakeshMohanMSFT commented on #24571
@AtiX Thank you for reaching out, we are looking into it.

[2022-11-07 03:36] navba-MSFT commented on #24152
@Fireblade954 The action is currently pending on you to try the action plan mentioned above. Please feel free to reopen this thread if you need any further assistance on this in future. We would be happy to help.

[2022-11-07 03:36] #24152 closed

[2022-11-07 03:37] navba-MSFT commented on #24171
@Venu-prahalad The action is currently pending on you try the above action plan. Please feel free to reopen this thread, if you need any further assistance. We would be happy to help.

[2022-11-07 03:37] #24171 closed

[2022-11-07 03:58] RakeshMohanMSFT commented on #24506
@scp-mb We see that the REST API seems to be accepting SystemKeys and not SystemKey. Let me discuss internally further and update.

[2022-11-07 03:59] navba-MSFT commented on #24487
@olujosh808 The action is currently pending on you to check if the network speed is fast enough to download quickly and to isolate this issue by running the same command from other reliable network. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-11-07 03:59] #24487 closed

[2022-11-07 04:02] navba-MSFT commented on #24538
@AliceMongodin I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-11-07 04:03] navba-MSFT commented on #24550
@ajeffowens I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-11-07 04:38] navba-MSFT commented on #24560
@fabio-s-franco Thanks for reaching out to us and reporting this issue.
Could you please run the below command to check if you have the libffi.so.7 package installed and share the output here ?

Awaiting your reply.

[2022-11-07 04:44] mr-davidc commented on #20511
I also think this would be a great improvement. Even something like:

`az aks get-credentials --name <cluster-name> --resource-group <resource-group-name> --msi`

[2022-11-07 06:14] Ochirkhuyag commented on #23714
ARM is enabled for the version 2021-10-01. Seems like this one is for 2020-09-01. Those should be enabled. But let me check and will update you tomorrow morning.

[2022-11-07 07:25] chicago7 commented on #23714
@Ochirkhuyag Thanks for your support. I tried to send the request by version 2021-10-01. but I still encounter the issue.

az rest --method post --url https://management.chinacloudapi.cn/subscriptions/e2******-02a5-4e2a-8a6e-1469ce59478d/providers/Microsoft.Subscription/rename?api-version=2021-10-01 --body @C:\Users\test01\Desktop\name.json
Bad Gateway({"error":{"code":"InvalidGatewayCertificate",

[2022-11-07 08:08] RakeshMohanMSFT commented on #24520
@brupelo Apologies for misunderstanding the question. Let me send it to the service team for further troubleshooting.

[2022-11-07 08:17] bebound commented on #24562
I guess it's caused by [bash path conversion](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_with_git_bash.md#auto-translation-of-resource-ids)
Can you `MSYS_NO_PATHCONV=1` at the beginning of command and try again?

[2022-11-07 09:14] sinedied commented on #24562
It worked with `MSYS_NO_PATHCONV=1`.

Wouldn't it be possible to set this flag directly in the CLI command where no file paths are to be expected to avoid these kind of errors?
Or is there another way to setting a subscription scope that doesn't rely on a starting slash?

[2022-11-07 09:39] ThierryVanacker-TomTom opened #24575 "the following arguments are required: --applied-scope-type/-t"
Dear,
According to the documentation the --applied-scope-type/-t param is optional when running "az reservations reservation update" however when I try to update a name for a reservation (using az reservations reservation update --reservation-id [guid] --reservation-order-id [guid] --name [newname]) I get an error "the following arguments are required: --applied-scope-type/-t"
Am I missing somethi

[2022-11-07 10:17] #24011 closed

[2022-11-07 10:27] doctorlai-msrc commented on #20434
Had the same issue on WSL2, which the clock was out of sync. Solved it by running `/usr/sbin/hwclock -s`

[2022-11-07 11:44] yonzhan commented on #24575
route to CXP team

[2022-11-07 13:10] ozcanli opened #24576 "Script for "Create a policy parameter definition." is not working."
Hi,

Under the examples given script for "Create a policy parameter definition."  is not working.

Wrong part is: **parameters('listOfAllowedLocations')**
This is supposed to be:  **parameters('allowedLocations')**

az policy definition create --name allowedLocations \
    --rules "{ \"if\": { \"allOf\": [ \
        { \"field\": \"location\",\"notIn\": \"[parameters('listOfAllowedLocations')]\" },

[2022-11-07 13:19] WGK864 commented on #22886
Bump :)

[2022-11-07 14:58] invidian opened #24577 "Add short timeout to version check HTTP requests"
**Related command**
`az vmss reimage --debug --help`

**Is your feature request related to a problem? Please describe.**

In case of low transfer speed to `raw.githubusercontent.com`, commands with `--help` argument hangs for a long time. This seem largely suspicious and unhelpful when dealing with `--help` commands.

**Describe the solution you'd like**
IIUC this HTTP requests are related to chec

[2022-11-07 16:47] tom-navarra-nnl commented on #24553
@jiasli Thank you. This does appear to be an endpoint access issue. With the MSAL requirements in place, logout works as expected.

[2022-11-07 17:53] jago2136 opened #24579 "Various Azure Virtual Network Manager extension bugs"
Using version 2.41.0 for all bugs. We found a number of bugs from our recent bug bash. Most are minor, so I'm grouping many into one bug report. Thanks!
1.
**Related command**
az network manager connection subscription --help

**Describe the bug**
The description is incorrect.

**Expected behavior**
Should be "Create a connection from a subscription to a cross-tenant network manager."

2.
**Relate

[2022-11-07 17:59] rahuls-microsoft commented on #22564
For usage, please call usage API-
https://learn.microsoft.com/en-us/cli/azure/quota/usage?view=azure-cli-latest

[2022-11-07 20:02] adehaan-rlcm commented on #24479
anything? @evelyn-ys ?

[2022-11-07 23:39] SteveDevOps commented on #24573
**update:** after this finding, I tried to recombine... same error (even with correct path in first command). Having to leave as separate steps.

[2022-11-08 02:24] bebound commented on #24562
You can also export it as environment variable. But this may break other command, I suggest you unset it if you do not use it anymore.
Or use `//subscriptions` instead of `/subscriptions` in scope.

    is there another way to setting a subscription scope that doesn't rely on a starting slash
I'm afraid not.

[2022-11-08 02:26] yonzhan commented on #24576
@zhoxing-ms for awareness

[2022-11-08 02:37] yonzhan commented on #24579
@necusjz for awareness

[2022-11-08 02:43] evelyn-ys commented on #24479
You can only enable nfs v3 in ADLS Gen2 storage account. So you need to specify `--hns true` together with `--enable-nfs-v3`.

This is not client issue, this is restricted by service. See storage doc: https://learn.microsoft.com/en-us/azure/storage/blobs/network-file-system-protocol-support-how-to#step-3-create-and-configure-a-storage-account

[2022-11-08 02:45] zhoxing-ms commented on #24577
The best solution may be to make the REST service to support the timeout parameter first: if the request times out, the service will directly return the error message of timeout, so I transferred it to the service team.

[2022-11-08 04:07] toddfoust opened #24584 "'az monitor app-insights component connect-webapp' needs to support cross resource groups"
### Related command

az monitor app-insights component connect-webapp -g Azmontest -a anapaquete --web-app /subscriptions/a0ff1dda-2b82-49f2-b600-2c67613f04b0/resourceGroups/myjavawebappforai_group/providers/Microsoft.Web/sites/myjavawebappforai --enable-profiler false --enable-snapshot-debugger false

### Resource Provider

Microsoft.Web

### Description of Feature or Work Requested

Hey team, cu

[2022-11-08 04:25] yonzhan commented on #24584
monitor feature

[2022-11-08 05:12] fuhuifang opened #24585 "AzureCLI@2 in Azure DevOps overrides python version"
**Related command**

task: AzureCLI@2 in Azure DevOps pipeline

**Describe the bug**

In my ADO pipeline yaml, I first have a task to pin down python version to 3.8, and then a `AzureCLI@2` task to run some python commands.
![image](https://user-images.githubusercontent.com/32152743/200479976-1ed5dc4c-54ef-454f-a07a-76a126d7d6c3.png)
![image](https://user-images.githubusercontent.com/32152743/2004

[2022-11-08 05:15] vhhughes commented on #24285
Is that something I need to do? If so, how do I contact the CXP team?

[2022-11-08 05:23] yonzhan commented on #24585
@wangzelin007 for awareness

[2022-11-08 06:00] wangzelin007 commented on #24585
Hi @fuhuifang,
I think you should open this issue in [azure-pipelines-tasks](https://github.com/microsoft/azure-pipelines-tasks/issues).
I don't think the azure-cli team is responsible for the ADO task `AzureCLI@2`.
@jiasli,
Please correct me if I'm wrong.

[2022-11-08 06:05] jasontaylordev opened #24586 "Running "az extension add --name containerapp" results in error"
**Related command**
az extension add --name containerapp

**Describe the bug**
The extension fails to install. I receive the error:
`An error occurred. Pip failed with status code 2. Use --debug for more information.`

**To Reproduce**
`az extension add --name containerapp`

**Expected behavior**
The extension is installed.

**Environment summary**
Install Method: MSI
CLI Version: Azure CLI 2.4.2

[2022-11-08 06:13] fuhuifang commented on #24585
Thanks @yonzhan and @wangzelin007. Reposting as https://github.com/microsoft/azure-pipelines-tasks/issues/17133.

[2022-11-08 06:13] #24585 closed

[2022-11-08 06:46] necusjz commented on #22886
@rajitaaa Could you please help us explain this behavior? Thanks.

[2022-11-08 08:23] sinedied commented on #24562
Thanks for the workaround suggestion. Does this work on all platforms?

[2022-11-08 09:02] bebound commented on #24562
No, it only works in Git Bash.

[2022-11-08 12:27] wiperpaul opened #24588 "az role assign OperationsManagement/solutions brackets escaping"
**Related command**
`az role assignment create --assignee-object-id xxx-xxx-xxx-xxx-xxx --role 'Microsoft Sentinel Responder' --scope '/subscriptions/foobar/resourceGroups/foo-rg/providers/Microsoft.OperationsManagement/solutions/SecurityInsights(foo-workspace)'`

**Describe the bug**

To give access to only a Sentinel Workspace it is required to assign Microsoft Sentinel Responder to not only the

[2022-11-08 13:28] alessap commented on #11469
Any update on this issue?

[2022-11-08 13:35] nl-saw commented on #20096
Hi,

1. any update to this? Also ran unto this unexpected issue which ruined my day.
2. why is it labeled feature request? Seems nothing short of a bug to me.

Cheers.

[2022-11-08 14:05] silviakondi opened #24589 "az login error: Failed to establish a new connection: [Errno 11001] getaddrinfo failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-11-08 14:52] mochja commented on #20980
@WattsInABox when pipe is not used, but you use `--data @/path/to/file` data end up in the storage as base64 encoded. I haven't figured out how to get un-mangled data using pipes, but there seems to be similar issue https://github.com/Azure/azure-cli/issues/22810 with az rest.

[2022-11-08 15:00] sesa577179 opened #24590 "az login never happens even after disabling all the security tools"
**Related command**

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

![az-cli-login-cmd](https://user-images.githubusercontent.com/109355894/200598564-4184d116-7351-4289-8131-62c6c2d4846e.png)

**Additional context**

![az-cli-login](https://user-images.githubusercontent.com/109355894/200598576-a43e1a7f-da46-4ff9-899f-2f09354364da.png)

The login never happe

[2022-11-08 16:43] notaturkey commented on #9250
bump, wish i could do this

[2022-11-08 17:37] RakeshMohanMSFT commented on #24575
@ThierryVanacker-TomTom Thank you for reaching out, we are looking into it.

[2022-11-08 18:16] szymonbr commented on #23511
@PramodValavala-MSFT Thanks a lot!. Now it works like a charm. :)

[2022-11-08 18:16] #23511 closed

[2022-11-08 18:27] Gauravpitroda opened #24591 "No options to append operations while importing API using az apim api import"
There is no option into **az apim api import** for import method or conflict resolution in Azure CLI's az apim api import command.
![image](https://user-images.githubusercontent.com/3489049/200644894-5b134683-953d-4a05-b0ee-bf91487d1cf7.png)

Using the import command always overwrites all APIs and there is no way to append operations using OpenAPI specification file.

[2022-11-08 18:43] jdkr0220 opened #24592 "Incorrect references in `az network private-endpoint create` documentation"
There are references to `az network private-link-resource list` that aren't valid. Perhaps they're supposed to be `az network private-endpoint list-types`, although that doesn't match per the error... To get the value I needed, I had to run `az keyvault private-link-resource list --vault-name $kvName` which unfortunately isn't very generic

---
#### Document Details

⚠ *Do not edit this section. I

[2022-11-08 19:16] Venu-prahalad commented on #24171
Hi @navba-MSFT I confirm this is working as expected and the issue is resolved. Thank you very much.
I see same issue with storage explorer. Should I raise another bug with storage explorer team?

[2022-11-08 19:18] sandeepraichura commented on #24577
Thank you @invidian for reporting the issue, We are currently looking into the issue.

[2022-11-08 20:04] fitzgeraldsteele commented on #24577
@yonzhan , @zhoxing-ms Passing back to you. VMSS REST API doesn't have calls/dependencies to github. This ticket is referring to calls to github, looks like to get CLI setup scripts:

[code]

[2022-11-08 22:15] mahipdeora opened #24593 "Add an existing LB to an existing VMSS instance"
**Related command**

This should fall under az vmss update command

**Is your feature request related to a problem? Please describe.**

Currently, on portal users can attach an existing load balancer to an existing vmss instance. This feature doesn't exist for CLI

**Describe the solution you'd like**

A CLI command that allows users to attach an existing LB to an existing VMSS instance, similar t

[2022-11-08 22:41] QuinnDamerell commented on #22230
+1. Oddly I have the agent Azure Dev Ops agent working on some of my Ubuntu 22.04 VMs but not others. Is there a fix for this yet?

[2022-11-08 23:42] uiri commented on #11219
The command does not need to be marked as PREVIEW.
I believe it should be in the official CLI with the other `az vm extension` commands.

@sirajudeens can you please confirm that Azure/azure-rest-api-specs-pr#1251 is still the latest swagger? Can you please update this issue when it goes into public swagger?

[2022-11-09 00:08] #24589 closed, assigned to jiasli

[2022-11-09 00:20] yonzhan commented on #24593
@zhoxing-ms for awareness

[2022-11-09 00:25] yonzhan commented on #24592
@necusjz for awareness

[2022-11-09 00:29] yonzhan commented on #24591
route to CXP team

[2022-11-09 01:40] nanunna opened #24594 "User feedback from AKS portal"
### Related command

_No response_

### Resource Provider

Microsoft.ContainerService/managedClusters

### Description of Feature or Work Requested

This is based on the user feedback we received on azure portal.
![Feedback](https://user-images.githubusercontent.com/57422916/200715658-54d54cd0-4c14-4dc8-9fe7-b8e1873ffcd6.png)

### Minimum API Version Required

N/A

### Swagger PR link / SDK link

[2022-11-09 01:40] nanunna opened #24595 "User feedback from AKS portal"
### Related command

_No response_

### Resource Provider

Microsoft.ContainerService/managedClusters

### Description of Feature or Work Requested

This is based on the user feedback we received on azure portal.
![Feedback](https://user-images.githubusercontent.com/57422916/200715658-54d54cd0-4c14-4dc8-9fe7-b8e1873ffcd6.png)

### Minimum API Version Required

N/A

### Swagger PR link / SDK link

[2022-11-09 01:47] dylanw-oss commented on #24590
I encountered a similar issue on wsl2,  there are no outputs and no browser opened.

[2022-11-09 01:48] dylanw-oss commented on #24590
I use this as a workaround, 'az login --use-device-code'

[2022-11-09 01:52] ajeffowens commented on #24550
Same error unfortunately:

[code]

[code]

[2022-11-09 01:54] ajeffowens commented on #24550
actually I take that back.  I removed and re-installed the extension and now it seems to be working.  Thank you!

[2022-11-09 01:54] #24550 closed

[2022-11-09 02:21] yonzhan commented on #24594
route to CXP team

[2022-11-09 02:56] navba-MSFT commented on #24594
Adding Service team to look into this.

[2022-11-09 02:58] navba-MSFT commented on #24594
@Azure/aks-pm Could you please look into this issue once you get a chance ?

[2022-11-09 03:01] RakeshMohanMSFT commented on #24592
@jdkr0220 Thank you for reaching out us, we are looking into it.

[2022-11-09 03:35] #24571 closed

[2022-11-09 03:48] yanzhudd commented on #11219
We recommend that it is better to provide us public swagger to having this feature developed in the official CLI.

[2022-11-09 05:05] navba-MSFT commented on #24171
@Venu-prahalad

You don't have to raise a new issue for Storage Explorer. This issue for Storage explorer has already been created here:
https://github.com/microsoft/AzureStorageExplorer/issues/6184 and its is addressed.

The fix for Storage explorer will be released by _end of November_. See the milestone here:
https://github.com/microsoft/AzureStorageExplorer/milestone/60

[2022-11-09 06:14] rahulbissa2727 opened #24596 "Uppercase transform in CLI"
### Related command

 az network application-gateway waf-policy custom-rule match-condition add --resource-group MyResourceGroup --policy-name MyPolicy --name MyWAFPolicyRule --match-variables RequestHeaders.value --operator contains --values foo boo --transform uppercase

### Resource Provider

Microsoft.Network

### Description of Feature or Work Requested

Changes for this are already added in

[2022-11-09 06:29] ARaheem-Work opened #24597 "az login --tennat <tenant-ID> failing because of SSLCertVerification"
**Related command**

az login
az login --tenant tenant-guid
**Describe the bug**

I just installed Azure CLI on windows 10 Enterprise (10.0.19044) and I am getting following error when I run az login --tenant <tenant-id> command. My machine can talk to internet fine.

HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /a4f66939-8f60-4185-b79b-032685a0e8

[2022-11-09 06:43] jiasli commented on #23372
This requires migration to [`azure-mgmt-authorization`](https://pypi.org/project/azure-mgmt-authorization/) Track 2 SDK.

[2022-11-09 06:52] Venu-prahalad commented on #24171
@navba-MSFT I deeply appreciate your quick and detailed responses to the issue and queries. Thanks again.

[2022-11-09 06:57] casfrost opened #24598 "Remove access policy from key vault"
**Related command**

`az keyvault delete-policy`

**Is your feature request related to a problem? Please describe.**

I am writing a script that should remove all user access policys for key vaults in a given environment. This is not possible with the azure-cli, but only with a Powershell module (https://learn.microsoft.com/en-us/powershell/module/az.keyvault/remove-azkeyvaultaccesspolicy?view=azp

[2022-11-09 07:19] SaurabhSharma-MSFT commented on #24235
@GOWTHAM-VARMA-DANTHULURI We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-11-09 07:19] #24235 closed

[2022-11-09 07:21] zhoxing-ms commented on #20096
@nl-saw Could you please send me the debug log and the script you used to my email? My email address is Zhou.Xing@microsoft.com

[2022-11-09 07:48] Mastansourcefuse commented on #20168
Found multiple accounts with the same username 'sk.mastan@sourcefuse.com': [{'home_account_id': '4cc03aea-8a4c-4092-a20a-9b3653079ed2.a86a5cb3-752e-49a9-82e6-dd80ee4bf2c2', 'environment': 'login.microsoftonline.com', 'username': 'sk.mastan@sourcefuse.com', 'authority_type': 'MSSTS', 'local_account_id': '4cc03aea-8a4c-4092-a20a-9b3653079ed2', 'realm': 'organizations'}, {'home_account_id': '263e78d2

[2022-11-09 07:56] zhoxing-ms commented on #24593
@mahipdeora Since this is an internal feature request rather than a bug and we need to know some necessary information *(such as REST service, Swagger link, command design...)* , could you please use this template [service_team_request](https://github.com/Azure/azure-cli/issues/new?assignees=&labels=feature-request&template=Service_team_request.yaml) to help us create a feature request?
After you

[2022-11-09 08:35] bebound commented on #22214
@SimonHarrisonSH Do you mean disable auto upgrade in non-tty environment?

[2022-11-09 09:15] jiasli commented on #23951
Similar to https://github.com/Azure/azure-cli/issues/22664

According to **List group owners** API's documentation:

https://learn.microsoft.com/en-us/graph/api/group-list-owners?view=graph-rest-1.0&tabs=http

This is a feature gap between AD Graph and Microsoft Graph. `az ad group owner list` internally calls that API.

As a workaround, you may try using `az rest` to call beta API: https://learn.

[2022-11-09 09:20] yonzhan commented on #24596
@necusjz for awareness

[2022-11-09 09:24] yonzhan commented on #24597
Could you run this command to see if you can connect to https://login.microsoftonline.com with python?

python -c "import requests; print(requests.get('https://login.microsoftonline.com/').status_code)"

[2022-11-09 09:25] yonzhan commented on #24598
@evelyn-ys for awareness

[2022-11-09 09:33] jiasli commented on #24597
Per the error message:

[code]

This seems to be caused by intercepted HTTPS traffic by a proxy. Could you run this command to see if you can connect to `https://login.microsoftonline.com` directly with Python?

[code]

If not, could you follow https://docs.microsoft.com/cli/azure/use-cli-effectively#work-behind-a-proxy to add your self-signed certificate to the CA bundle?

[2022-11-09 10:01] #24379 closed

[2022-11-09 10:11] edwardsp opened #24600 "bastion tunnel does not accept concurrent connections"
**Related command**

    az network bastion tunnel

**Describe the bug**

Only a single connection can be handled at one time with the bastion tunnel.  All other attempts will block until the previous connection has closed.

This makes port forwarding for web applications unusable since the browser will typically have multiple connections open and only one will succeed.

**To Reproduce**

The easi

[2022-11-09 11:00] yonzhan commented on #24600
route to CXP team

[2022-11-09 13:12] floryut commented on #23951
@jiasli Thank you for the workaround, it's indeed working fine, I'm going to go with that while the bug is fix
[code]
versus
[code]

[2022-11-09 13:53] sashozahariev commented on #17695
I just got the same error while trying to deploy docker image to webapp in the cloud shell.

[2022-11-09 13:58] gilbahat opened #24601 "Please upgrade the python antlr4 runtime to latest version"
Hi,

python3 antlr4 runtime is now up to 4.11.1 from 4.9.3. that version has a published wheel, making installs a bit faster, in particular on docker cross-compiled installs e.g. with other architectures.

please upgrade the antlr4 dependency.

[2022-11-09 14:00] gilbahat opened #24602 "Please make psutil an optional dependency for all platforms"
Hi,

psutil is an optional project dependency (it's import-guarded for unsupported platforms like cygwin). psutil is a problematic package as it does not publish aarch64 wheels, which means that docker containers using it will have to contain a full build suite or dual build stages.

Given this nuisance and the fact that psutil is mostly immaterial to azure-cli, I would request that it be made an

[2022-11-09 15:54] matsest commented on #24170
The function used in az cli is Pythons `uuid.uuid64()` (see implementation here https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/role/custom.py#L1581)

So it's random upon role assignment creation in az cli.. If you're creating them idempotently with `guid(<argument1>, <argument2>)` in Bicep you need to remove the ones created with az cli first.

[2022-11-09 16:21] kalirajann commented on #24526
$output = az deployment group what-if --resource-group {} --name {} --template-file {} --parameters {} - While running this command, we are able to capture the success and changes. But, unable to capture the error details in an object and always sets null.

$output is powershell object.

[2022-11-09 16:35] RakeshMohanMSFT commented on #24575
@ThierryVanacker-TomTom  We are unable to reproduce this issue at our end. Can you please share the debug trace and the environment details? using `az reservations reservation update --applied-scope-type Shared --reservation-id 10000000-aaaa-bbbb-cccc-200000000001 --reservation-order-id 50000000-aaaa-bbbb-cccc-200000000005 --debug` and `az --version`

[2022-11-09 16:36] RakeshMohanMSFT commented on #24591
@Gauravpitroda Thank you for reaching out, we are looking into it.

[2022-11-09 17:01] #24182 closed

[2022-11-09 17:01] #24046 closed

[2022-11-09 18:36] ARaheem-Work commented on #24597
I followed instructions and was able to connect to Azure using Azure CLI. This issue can be closed now. Thanks.

[2022-11-09 19:55] andygjp commented on #20390
Hi,

I tried it again today and it still doesn't work.

Here is the output from `az webapp log deployment show`:

[code]

[2022-11-09 21:07] thisisanniefang opened #24604 "Azure Load Balancer - remove preview for Gateway Load Balancer, add preview for new parameter probeThreshold"
### Related command

az network lb frontend-ip update  [--gateway-lb]

az network lb probe create [--probeThreshold]
az network lb probe update [--probeThreshold]

### Resource Provider

Microsoft.Network/loadbalancers

### Description of Feature or Work Requested

This issue contains 2 separate asks, as requested in https://github.com/Azure/azure-cli/issues/23957:
1) The command "az network lb fr

[2022-11-09 22:00] himachida opened #24606 "--tenant-settings option deprecated"
Can you describe --tenant-settings option is deprecated?

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ecb66426-9b0f-be54-5530-0673e6821f39
* Version Independent ID: 3d89a838-9a95-3cfe-ea58-7d7484e94956
* Content: [az redis](https://learn.microsoft.com/en-us/cli/azure/redis?view=azure-cli-latest#az-redis-show)
* Cont

[2022-11-09 22:01] #24255 closed

[2022-11-09 22:01] #23881 closed

[2022-11-09 22:54] yonzhan commented on #24606
route to CXP team

[2022-11-09 22:55] yonzhan commented on #24604
network feature

[2022-11-09 22:58] #24597 closed

[2022-11-09 23:01] #24170 closed

[2022-11-09 23:01] yonzhan commented on #24602
@jiasli for awareness

[2022-11-09 23:02] yonzhan commented on #24601
@jiasli for awareness

[2022-11-09 23:05] yonzhan commented on #24586
route to CXP team

[2022-11-10 01:16] sesa577179 commented on #24590
@dylanw-oss but this is a workaround, and not a solution. I could use the device code to login. But it is a genuine issue which we have to accept.

[2022-11-10 01:57] alexmg commented on #24072
The same issue is present with the `az ad app update` command so that cannot be used as a workaround.

[2022-11-10 03:22] RakeshMohanMSFT commented on #24592
@jdkr0220 The command is valid for returning private link references. You can read more about it here https://learn.microsoft.com/en-us/cli/azure/network/private-link-resource?view=azure-cli-latest You can see below screenshot having an example.
![image](https://user-images.githubusercontent.com/49954584/200993015-8a2a241f-a164-4539-a068-89618e93297f.png)

[2022-11-10 03:45] bebound commented on #24590
I can't reproduce.

The error image indicates that your browser failed to open locahost:3565 as https page. In fact, it's a http page.
Can you copy the url to see if it's http or https?
I guess it's a browser or anti-virus app setting problem.

[2022-11-10 04:49] wviriya opened #24608 "az network private-link-service create - visibility parameter's allowed values are incorrect."
**Related command**

**Describe the bug**

az network private-link-service create - the *visibility* parameter should allow null, "*", and a list of subscription ID

**To Reproduce**

PREFIX="pls"
RESOURCE_GROUP="${PREFIX}-rg"
LOCATION="australiaeast"
PRIVATE_LINK_SERVICE="${PREFIX}-pls"
VNET_NAME="${PREFIX}-custom-vnet"
SUBNET_NAME="pls-subnet"
LB_NAME="${PREFIX}-lb"

# Create a resource group
az

[2022-11-10 04:58] navba-MSFT commented on #24538
@AliceMongodin The action is currently pending on you to try the [Microsoft official AzCLI ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt)and check if you face the same issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-11-10 04:58] #24538 closed

[2022-11-10 05:02] fitzgeraldsteele opened #24609 "Add az vm list filter for VMSS"
### Related command

`az vm list -g myResourceGroup --vmss myVMSSFlex`

### Resource Provider

Microsoft.compute/virtualmachines

### Description of Feature or Work Requested

List VM API supports ability to filter list to instances in a vmss. Would like to add this filter to the VM list command

### Minimum API Version Required

2021-03-01

### Swagger PR link / SDK link

This is in production in

[2022-11-10 05:03] yonzhan commented on #24608
@necusjz for awareness

[2022-11-10 05:06] yonzhan commented on #24609
@zhoxing-ms for awareness

[2022-11-10 05:15] navba-MSFT commented on #24560
@fabio-s-franco I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-11-10 07:37] zhoxing-ms commented on #20096
In fact, this problem is not caused by Azure CLI itself, but because `^` is a special character (such as `^` is escape character for CMD https://ss64.com/nt/syntax-esc.html#escape ), the interpreter loses it when it is passed into Azure CLI.

So we need to use double quotes to make `^` as a literal string, for example:

- The usage in PowerShell scirpt can be:
[code]

- The usage in PowerShell ter

[2022-11-10 07:45] garudapnx commented on #24244
/unresolve

[2022-11-10 07:49] garudapnx commented on #24244
There are no logic app in this subscription only App Services.

[2022-11-10 07:50] garudapnx commented on #24244
Would you be able to figure out what is wrong with this command? Because it obviously doesn't reflect the returned result vs. the environment.

[2022-11-10 08:32] fitzgeraldsteele opened #24612 "az vm list returns empty, even though there are VMs in the RG"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

az vm list shows zero results, even though there are VMs in the rg

**Command Name**
`az vm list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm lis

[2022-11-10 08:45] yanzhudd commented on #11219
Hello @uiri @sirajudeens, when we develop this feature, an error is reported. It seems that the value of 'identifier' is incorrectly input. Could you please help to take a look?
![image](https://user-images.githubusercontent.com/105691024/201042475-9eebca1c-3259-4721-8987-dba67624668c.png)

[2022-11-10 09:14] RakeshMohanMSFT commented on #24244
@garudapnx Can you please let us know what is the count you are expecting and what is that you are getting? Also share your subscription details to my email ramaruth[at]microsoft.com

[2022-11-10 10:23] tobimax commented on #24564
I have updated my CLI and its working again.

[2022-11-10 10:23] #24564 closed

[2022-11-10 10:57] #24598 closed

[2022-11-10 11:26] yonzhan commented on #24612
@zhoxing-ms for awareness

[2022-11-10 14:02] BCOps commented on #23462
@vivlingaiah - I see that this didn't get released in the 2.42.0 release on 1st November. Do you have an updated ETA/target release version for this fix to unblock the issue?

[2022-11-10 14:29] #24592 closed

[2022-11-10 14:39] Mrlnvndn opened #24613 "Microsoft.Storage/storageAccounts networkAcls.virtualNetworkRules.id property does not accept functions"
**Describe the bug**
When deploying a storage account (Microsoft.Storage/storageAccounts) via an ARM template, I cannot set the value for the virtualNetworkRules.id property, because it does not accept functions as a value. I need this because I want to use the same template for different environments

**To Reproduce**
deploy an arm template with the resource 'Microsoft.Storage/storageAccounts' wh

[2022-11-10 14:39] kranthikumar-kvs-by opened #24614 "Not a able to create empty folder on blob container"
Using below command not allowing to create empty folder on blob container -

`az storage blob directory create --container-name oa-custom-container --directory-path Custom --account-name "<Removed>" --account-key "<Removed>"`

![image](https://user-images.githubusercontent.com/60686473/201119221-ba382064-19b6-4b16-8efa-4d5c15115648.png)

And we even tried to use another command but still same issu

[2022-11-10 14:50] jeevanions commented on #24547
This role assignment doesnt need an active subscription in the context so not sure why the error here.

The format of the scope is `/providers/Microsoft.Management/managementGroups/<mgmt name>`

Note that this works on a terminal directly but the same command is run part of the bash script that's when we get this error.

[2022-11-10 16:13] jeevanions opened #24615 "`az network vhub wait` command errors No such file or directory: /root/.azure/cliextensions/virtual-wan"
I have this use case that we needed to create multiple hub connection and due to the restriction with concurrent connection, we rely on this command 'az network vhub wait' to wait for the hub network to settle down.

We run this command in a bash script as part of terraform provisioner for local exec resource and the whole setup is run from within a custom docker image based on ubuntu 20.04.

We h

[2022-11-10 16:14] jeevanions commented on #24227
`az version
{
  "azure-cli": "2.39.0",
  "azure-cli-core": "2.39.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "account": "0.2.4",
    "virtual-wan": "0.2.13"
  }
}
`

[2022-11-10 16:26] jaylabell commented on #24577
@zhoxing-ms Does this item still need compute service attention?

[2022-11-10 16:46] jeevanions commented on #24227
[code]

[2022-11-10 17:23] jeevanions commented on #24227
After reviewing the above debug log, i can see that the `virtual-wan` is automatically upgraded from `0.2.12` to `0.2.13`
I tried to fix the version by running below commands but didn't help

[code]

[2022-11-10 17:59] austintolani opened #24617 "`az redis export` command returning parsing errors on PowerShell after `2.40.0` azure-cli version"
**Related command**
`az redis export`

**Describe the bug**
After upgrading to azure-cli version greater than `2.40.0` the `az redis export` command is failing with the following parsing error:
[code]
I believe that this issue is due to the ampersand issue described [here](https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-with-powershell.md#ampersand--is-interpreted-by-command-prompt)

[2022-11-10 18:38] utkarshjain1508 opened #24618 "Azure CLI release for Microsoft.Elastic for version 2023-02-01-preview"
### Related command

_No response_

### Resource Provider

Microsoft.Elastic

### Description of Feature or Work Requested

We want a new azure cli release which supports the features present in our api version 2022-07-01-preview.

### Minimum API Version Required

2022-07-01-preview

### Swagger PR link / SDK link

latest PR : https://github.com/Azure/azure-rest-api-specs/pull/22638
Swagger : htt

[2022-11-10 20:18] mvvsubbu commented on #21608
Can you help get this CLI released as well for 2022-04-01-preview version, we have PS already got released. So it would be good to have this released as well to be on par experience for customers.

[2022-11-10 20:49] Chuxel commented on #23376
I think might I see the bug. If there's a symlink to az anywhere in the path, the az command will fail.

[code]
$BASH_SOURCE would return the path to the symlink, not the actual path... so `../../opt` will fail.

This works

[code]

[2022-11-10 20:50] Drewm3 commented on #24577
CLI Team, the help for the CLI is not part of a VM compute API. So service attention for compute is not appropriate for this issue.

[2022-11-10 21:55] AlecWolman-msft commented on #23376
Awesome find!  Thanks!

-Alec

From: Chuck Lantz ***@***.***>
Sent: Thursday, November 10, 2022 12:49 PM
To: Azure/azure-cli ***@***.***>
Cc: Alec Wolman ***@***.***>; Author ***@***.***>
Subject: Re: [Azure/azure-cli] Could not import runpy module (Issue #23376)

I think might I see the bug. If there's a symlink to az anywhere in the path, the az command will fail.

#!/usr/bin/env bash

bin_dir=`

[2022-11-10 23:12] yonzhan commented on #24613
route to CXP team

[2022-11-10 23:13] yonzhan commented on #24614
@evelyn-ys for awareness

[2022-11-10 23:18] yonzhan commented on #24615
@necusjz for awareness

[2022-11-10 23:22] yonzhan commented on #24617
route to CXP team

[2022-11-10 23:24] yonzhan commented on #24618
@jsntcy for awareness

[2022-11-11 01:00] soniaab commented on #24321
Was there any resolution to this? I'm running into the same exact issue.

[2022-11-11 01:40] Ochirkhuyag commented on #23714
Could you guys please try again? It should be okay for now.

[2022-11-11 01:49] zhoxing-ms commented on #24577
Yes, thank you for helping clarify

[2022-11-11 01:56] zhoxing-ms commented on #24612
@fitzgeraldsteele Could you please send the debug log *(add --debug)* to me by email? My email address is Zhou.Xing@microsoft.com

[2022-11-11 02:13] bebound commented on #24547
I see. I doubt some argument not correctly passed to cli because of the special character. I suggest that you add `--debug` in the end of the command, then you can see the params received by azure-cli in the first line. For example `cli.knack.cli: Command arguments: ['kk', '--debug']`

[2022-11-11 02:33] evelyn-ys commented on #24614
To create real directory, please create storage account enabling hierarchical namespace: `az storage account create --hns true`

[2022-11-11 02:38] aksssdf opened #24619 "az acr build failed with python setup.py bdist_wheel did not run successfully."
【Issue】
az acr build command failed with below error：
Step 16/58 : RUN pip3 install greenlet==1.1.2 -i https://pypi.douban.com/simple/
 ---> Running in 5b0be7e2c12b
Looking in indexes: https://pypi.douban.com/simple/
Collecting greenlet==1.1.2
  Downloading https://pypi.doubanio.com/packages/0c/10/754e21b5bea89d0e73f99d60c83754df7cc64db74f47d98ab187669ce341/greenlet-1.1.2.tar.gz (91 kB)
     ━━━━━

[2022-11-11 02:39] #22257 closed

[2022-11-11 02:50] jiasli commented on #23376
Thanks @Chuxel, but according to the output @AlecWolman-msft provided, `az` on the `PATH` is not a symlink.

[code]

and `runpy` can be imported successfully：

[code]

@AlecWolman-msft, does it work if you directly run

[code]

[2022-11-11 03:02] sokichi-fj opened #24620 "Can not create linux runtime for AppService"
We confirmed the AppService's node.js runtime for Linux.

[code]

But azure-cli try to create windows runtime even if we write linux runtime name.

[code]

[2022-11-11 03:10] ShawnXxy opened #24622 "cli.azure.cli.core.azclierror: An error occurred. Pip failed with status code 2"
**Related command**
`>az mysql flexible-server connect -n {servername} -u {servername} -p {password}`

**Describe the bug**
When trying to connect Azure MySQL Flexible Server via Azure CLI fresh installed on a Windows Server 2019, it failed with error "cli.azure.cli.core.azclierror: An error occurred. Pip failed with status code 2" when auto-installing extension rdbms-connect with prompt
![image](

[2022-11-11 04:02] ShawnXxy commented on #24622
It should be a version issue. Tried 2.37.0, it is working now

[2022-11-11 04:16] jiasli opened #24623 "`az storage blob upload` can't upload file `%C3%90_%EF%BF%BD_test.txt`: HTTP Error 400. The request URL is invalid."
**Related command**
`az storage blob upload`

**Describe the bug**

The file name `Ð_�_test.txt` contains Unicode. When uploading this file, get error:

[code]

[2022-11-11 04:31] jiasli commented on #24623
According to

- https://stackoverflow.com/questions/7291120/get-unicode-code-point-of-a-character-using-python
- https://docs.python.org/3/library/codecs.html#text-encodings

we can use a Python script get the string representation and Unicode codepoint of file name `%C3%90_%EF%BF%BD_test.txt`:

[code]

Output:

[code]

According to https://learn.microsoft.com/en-us/rest/api/storageservices/naming

[2022-11-11 04:51] yonzhan commented on #24619
route to CXP team

[2022-11-11 04:51] yonzhan commented on #24620
route to CXP team

[2022-11-11 04:53] kranthikumar-kvs-by commented on #24614
What do you mean by real folder?
We have a use case to create an empty folder in the blob container.

How does hns related for creating empty folder in the blob container?
Please provide some documentation which states this.

[2022-11-11 04:53] yonzhan commented on #24622
route to CXP team

[2022-11-11 05:00] navba-MSFT commented on #24586
@jasontaylordev I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had any updates on this. Awaiting your reply.

[2022-11-11 05:05] jasontaylordev commented on #24586
See **Additional context** in issue description:

![image](https://user-images.githubusercontent.com/1988321/201267379-3281ecdf-7a9a-465c-b636-f290c349dd2e.png)

[2022-11-11 05:09] navba-MSFT commented on #24586
@jasontaylordev My Bad, I complete missed the attached debug.txt file from your issue description. I am looking into this. I will update this thread once I am done.

[2022-11-11 05:30] evelyn-ys commented on #24614
Here's the doc from storage service: https://learn.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-introduction#one-service-multiple-concepts

[2022-11-11 05:50] yuaw commented on #24623
Very helpful! This explains how to convert a URL encoded string to a unicode character. Thanks for the great insight on this topic.

[2022-11-11 05:52] Mikebeem opened #24624 "`az sig image-version create` in `2.42.0`: os-vhd-storage-account must be a managed disk or snapshot."
## Describe the bug
I'm getting an error message, while I don't think this error applies to my parameters. The error started in azure cli 2.42.0.
I'm using this in a pipeline in Azure DevOps. Until last monday the agent was on azure cli 2.41.0 and the pipeline including this command was running without any issues.

I'm using the example from here:
https://learn.microsoft.com/en-us/cli/azure/sig/im

[2022-11-11 06:27] #24623 closed

[2022-11-11 07:00] kranthikumar-kvs-by commented on #24614
Thank you, after enabling HNS it worked.

[2022-11-11 07:00] #24614 closed

[2022-11-11 07:15] navba-MSFT commented on #24586
@jasontaylordev I am unable to reproduce this issue at my end. This issue seems to be specific to your environment. Could you please run `pip list ` command to show the version of setuptools and share the output here ? Awaiting your reply.

[2022-11-11 07:31] sokichi-fj commented on #24620
I could understand the situation:

- In AppService, a plan can not have both Linux and Windows
- Default plan might be for windows if developer use `az` command to create the plan
- So our plan was for Windows
- Then above error message was displayed.

However the error message is little confusing because `az webapp list-runtimes` displays linux tuntimes.

If plan is for windows, above error messa

[2022-11-11 08:10] #24067 closed

[2022-11-11 08:29] RakeshMohanMSFT commented on #5471
Please upgrade latest version of azure cli.

[2022-11-11 08:29] #5471 closed

[2022-11-11 08:32] RakeshMohanMSFT commented on #7479
Default values are updated

[2022-11-11 08:32] #7479 closed

[2022-11-11 08:47] megakoresh opened #24626 "Allow modifying port for interactive login"
**Related command**

[code]

**Is your feature request related to a problem? Please describe.**

When you use VSCode remote development extension, it is not able to detect Azure CLI port and automatically forward it when `az login` is used with interactive login (even though it's able to intercept the xdg calls and open the browser tab to login). This means I have to manully copy the callback port

[2022-11-11 08:51] yonzhan commented on #24624
@zhoxing-ms for awareness

[2022-11-11 08:57] RakeshMohanMSFT commented on #7160
This command is working now `az aks create -g Issue7160 -n issue7160ks -s standard_ds2_v2 -c 1`

[2022-11-11 08:57] #7160 closed

[2022-11-11 08:58] yonzhan commented on #24626
@jiasli for awareness

[2022-11-11 09:18] navba-MSFT commented on #24586
@jasontaylordev Looking deeper into the debug logs, We could see in the log, that packages are installed by C:\Users\jason\AppData\Roaming\Python\Python310-32\site-packages\pip, which should be C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\lib\site-packages\pip. Uninstall that python and try reinstalling again.

[2022-11-11 16:31] EmperorArthur opened #24628 "Please Bundle pip-system-certs with the installer"
**Related command**
`az extension add ...`

All commands dealing with `pip` on Windows.

**Is your feature request related to a problem? Please describe.**

**Yes**
On Windows, in a corporate environment I can not install extensions easily since the corporate firewall's SSL certificate is not recognized by `pip`.  The certificate is in the Windows Certificate Store, but that is not used by `pip`

[2022-11-11 17:01] #24287 closed

[2022-11-11 17:03] austintolani commented on #24617
@yonzhan Is there any action I need to take to "route to CXP team"?

[2022-11-11 17:10] dedhar opened #24629 "[Virtual WAN] Deprecate RTv2 CLI commands"
**Related command**
Deprecate RTv2 CLI commands : --connections is supported only for RTv2 and not RTv3 and should now be removed
az network vhub route-table create --name
                                   --resource-group
                                   --vhub-name
                                   **[--connections {All_Branches, All_Vnets}]**
                                   [--destinatio

[2022-11-11 21:08] halkazwini opened #24630 "Link to CLI doc needs to be updated"
Hi Team,

The link to the reference doc for **az network vnet peering create** is not updated:

![image](https://user-images.githubusercontent.com/85655443/201425878-249462e1-8f9e-4cb0-a6ef-a531f6886668.png)

https://learn.microsoft.com/en-us/cli/azure/network/vnet/peering#az-network-vnet-peering-create

Regards,
Hussein

---
#### Document Details

⚠ *Do not edit this section. It is required for l

[2022-11-11 22:16] SetTrend opened #24631 "`az login` hangs when connecting to login.microsoftonline.de"
## Describe the bug

`az login` hangs.

I used different client machines at different locations (and network connections). They all show the same effect.

During my examinations I noticed that `az login` uses a German TLD when connecting to `login.microsoftonline.de` … That domain doesn't answer and that's the issue within `az login`.

## To Reproduce:

- use the following Azure CLI config file:

[2022-11-12 00:13] joymon opened #24632 "Not able to login to Az Cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Tried to login and below is the error details. Tried upgrading to 2.42.0 then started getting new error "Decryption failed: [WinError -2146893813] Key not valid for use in specified state.. App developer may consider this guidance: https://github.com/AzureAD/microsoft-authentication-extensions-for-python/wiki/P

[2022-11-12 00:30] joymon commented on #24632
The login issue was solved after following the full cleanup mentioned in the  [other defect 20231](https://github.com/Azure/azure-cli/issues/20231).
Uninstalled the Cli from the control panel and manually deleted the .azure folder.
Installed again using PS mentioned in [one of the comments of that issue](https://github.com/Azure/azure-cli/issues/20231#issuecomment-1181441382).
This issue may be cl

[2022-11-12 00:30] #24632 closed

[2022-11-12 00:57] yonzhan commented on #24631
@jiasli for awareness

[2022-11-12 00:58] yonzhan commented on #24628
@jiasli for awareness

[2022-11-12 00:59] yonzhan commented on #24629
@necusjz for awareness

[2022-11-12 01:02] yonzhan commented on #24630
@necusjz for awareness

[2022-11-13 08:07] dcurwin commented on #21099
@amirkeren  - Any news?

[2022-11-13 11:10] SetTrend commented on #24631
/ref: #24265

[2022-11-13 16:02] amirkeren commented on #21099
@dcurwin I'm sorry there is no response yet from the team. I pinged them again and if I don't get a reply in the next few days, I will escalate this further.

[2022-11-13 19:32] tagur87 opened #24635 "`az ad sp credential delete` does not delete SAML signing cert"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When running `az ad sp credential delete --cert --id xxxx --key-id xxxx` to delete an inactive SAML signing certificate, the command succeeds, but there are no changes in the API or the GUI.

**Command Name**
`az ad sp credential delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. No

[2022-11-13 22:01] #24540 closed

[2022-11-14 00:32] yonzhan commented on #24635
@jiasli for awareness

[2022-11-14 00:33] #24291 closed

[2022-11-14 00:43] #24368 closed

[2022-11-14 02:02] #24488 closed

[2022-11-14 02:49] Claire-cloud31 commented on #23714
@Ochirkhuyag , it works fine now , and I think this issue should be resolved . thank you all for your help .

[2022-11-14 02:52] navba-MSFT commented on #24617
Adding Service team to look into this.

@yegu-ms Could you please look into this issue ? Thanks in advance.

[2022-11-14 03:00] navba-MSFT commented on #24620
@sokichi-fj Apologies for the late reply. Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-11-14 03:02] navba-MSFT commented on #24622
@ShawnXxy

Thanks for getting back. We will now proceed with closure of this GitHub issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-11-14 03:42] #8889 closed

[2022-11-14 03:57] navba-MSFT commented on #24560
@fabio-s-franco The action is currently pending on you to share the update on the [above action plan](https://github.com/Azure/azure-cli/issues/24560#issuecomment-1305071157). If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-11-14 03:57] #24560 closed

[2022-11-14 05:40] ashutoshtandon opened #24638 "CLI Colocation status for VMs and PPG is shown as "null""
Command:
az ppg show --name <name of ppg> --resource-group <name of resource group>

In portal, correct colocation status is shown but CLI output shows both PPG and VMs colocation status as 'null'

Related bug:
https://dev.azure.com/msazure/One/_workitems/edit/16163797/

[2022-11-14 05:44] ashutoshtandon commented on #24638
![Screenshot (1)](https://user-images.githubusercontent.com/118155186/201584300-e4224db9-a4b9-4b78-a25a-2549ad3f06d0.png)
![Screenshot (5)](https://user-images.githubusercontent.com/118155186/201584310-0184afa8-13ba-47a3-ae07-315be2ce2f8c.png)
![Screenshot (4)](https://user-images.githubusercontent.com/118155186/201584314-2bf1f464-25e8-4c04-a07b-e8be4255e561.png)
![Screenshot (3)](https://user-ima

[2022-11-14 06:10] bingosummer opened #24647 "The argument name in the deprecation warning message should use the format "--foo-bar" instead of "foo_bar""
### Related command

[code]

### Extension name (the extension in question)

It's not an issue to a specific extension. It is a common issue.

### Description of issue (in as much detail as possible)

I'm working a [PR](https://github.com/Azure/azure-cli-extensions/pull/5542) to deprecate the argument '--enable-pod-security-policy', and I get the message like below. The warning message should be "

[2022-11-14 06:16] yonzhan commented on #24638
@zhoxing-ms for awareness

[2022-11-14 06:31] zhoxing-ms commented on #24638
@ashutoshtandon Could you please add `--include-colocation-status` to have a try?

[2022-11-14 06:37] ashutoshtandon commented on #24638
Seems to be working.

[2022-11-14 07:00] navba-MSFT commented on #24620
@sokichi-fj I tried to run the same above command from PowerShell and CMD prompt. It worked fine on both. I am unable to reproduce this issue.

I am sending you the series of commands that I ran.

Please try to run again and check if that helps.

- May I know where are you running your AzureCLI command from ?
- May I know your Azure CLI Version ?

Awaiting your reply.

[2022-11-14 07:32] himanshukgit commented on #21010
It's resolved by refering https://learn.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli using remove data section, remove .bin file

[2022-11-14 07:32] himanshukgit commented on #21010
After and before install az cli

[2022-11-14 07:43] sokichi-fj commented on #24620
@navba-MSFT Of course, we also could work on `--is-linux` plan.

Problem is about Windows plan like:

[code]

This command display error message that force user to execute `az webapp list-runtimes` which displays linux runtime.
`az webapp list-runtimes --os-type windows` is the right message.

[2022-11-14 07:47] navba-MSFT commented on #24620
@sokichi-fj Thanks for getting back and clarifying the ask. The command `az webapp list-runtimes` displays **both** linux and windows see below:

{
  "**linux**": [
    "DOTNETCORE:7.0",
    "DOTNETCORE:6.0",
    "DOTNETCORE:3.1",
    "NODE:18-lts",
    "NODE:16-lts",
    "NODE:14-lts",
    "PYTHON:3.10",
    "PYTHON:3.9",
    "PYTHON:3.8",
    "PYTHON:3.7",
    "PHP:8.1",
    "PHP:8.0",
    "PHP:

[2022-11-14 09:14] nl-saw commented on #20096
Thanks for the suggested workaround. Following worked for me although I had to remove the extra 2x " in the PS script again:

[code]

[2022-11-14 09:43] sokichi-fj commented on #24620
@navba-MSFT Thank you for supporting my report.

[2022-11-14 12:13] flytzen commented on #22767
It seems that a side effect is that if you have a Policy that puts restrictions on the App Service Plan - for example requiring certain Tags to be present - `webapp up` will fail with a policy violation.
In other words, it looks like the CLI goes through all the pre-flight checks for actually creating the app service plan - even though it already exists.

[2022-11-14 12:15] jeevanions commented on #24615
Ok, now found the issue. The az cli version we use is 2.39.0 but in order to use cli for network extension which is always up to date with the latest (0.2.14). But the virtual wan extension needed the latest version of az cli which 2.42.0.

Once I have the az cli upgraded this error is gone.

It might be worth showing a valid error message indicating the version requirement instead of such inconve

[2022-11-14 13:38] mdsystems opened #24644 "Deployment of zip fails if run after creating functionapp."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2022-11-14 13:41] yonzhan commented on #24644
route to CXP team

[2022-11-14 14:03] ashutoshtandon commented on #24638
The issue is reproducible when all VMs and PPG are in 'Aligned' state. In this scenario, VM Colocation status is coming as Null.
Although through PowerShell, **Get-AzVM** cmdlet is giving right output for VM colocation status.

[2022-11-14 14:04] ashutoshtandon commented on #24638
![Screenshot (11)](https://user-images.githubusercontent.com/118155186/201679873-49225cab-796b-45d6-8ca0-cdd012c2e2aa.png)
![Screenshot (10)](https://user-images.githubusercontent.com/118155186/201679891-46bf86a8-f436-45ea-ae07-6b4577ea61d5.png)

[2022-11-14 14:10] ashutoshtandon commented on #24638
![Screenshot (10)](https://user-images.githubusercontent.com/118155186/201681164-756d2b87-d414-4d3e-9882-b4b57e3ea370.png)
![Screenshot (11)](https://user-images.githubusercontent.com/118155186/201681180-122f1325-d84f-415e-ab2d-0a05d1954079.png)

[2022-11-14 14:19] manish2645 commented on #20444
I was excecuting this below command but getting error...

from inltk.inltk import setup
setup('hi')

ImportError: cannot import name 'Iterable' from 'collections' (C:\Users\manis\AppData\Local\Programs\Python\Python310\lib\collections\__init__.py)

[2022-11-14 14:26] ashutoshtandon commented on #24638
![Screenshot (14)](https://user-images.githubusercontent.com/118155186/201684734-3ed94851-ad7d-454c-bacf-01a3991d3e32.png)
![Screenshot (15)](https://user-images.githubusercontent.com/118155186/201684749-6fd29077-bcdd-4a9b-b4cd-ce0d3efe1f5c.png)
![Screenshot (12)](https://user-images.githubusercontent.com/118155186/201684757-18c6d84e-2edf-47ab-991e-d2825225e772.png)
![Screenshot (13)](https://user

[2022-11-14 14:54] dvicari-fedcap commented on #23515
@PramodValavala-MSFT  I'm not the original commenter but I tested your work around and it does resolve the issue.  I changed the directory to just the C:/ and was able to run the command in an admin powershell window.  I appreciate your input!

[2022-11-14 17:03] Eviato commented on #22677
Do we have an update on this? As It's a preferred method to manage authentication instead of using a service principal.

[2022-11-14 17:45] Al77056 commented on #21247
I ran into the same issue, and found out a workaround by adding the "--add-host=management.azure.com:20.40.227.150" to the docker command line.

[2022-11-14 18:02] PratyushBasu commented on #20444
Manish, check the following link.

https://stackoverflow.com/questions/72032032/importerror-cannot-import-name-iterable-from-collections-in-python

[2022-11-14 18:13] ShivapriyaGujjarlapudi commented on #24638
@zhoxing-ms - Could you please help reopen this for triage

[2022-11-14 21:57] jgross-njnc opened #24645 "XFS file system needs --encrypt-format-all"
It would be nice to make a note or put a link for the --encrypt-format-all that says XFS needs this to be encrypted. https://learn.microsoft.com/en-us/azure/virtual-machines/linux/disk-encryption-faq#is-xfs-filesystem-supported-

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: 4762f857-8a1e-f1bb-7843-3d8fefe28f8e
* Vers

[2022-11-15 00:16] yonzhan commented on #24645
@zhoxing-ms for awareness

[2022-11-15 00:43] PramodValavala-MSFT commented on #24619
@aksssdf Based on the logs, your build fails while trying to build the greenlet native module from source.

Looking up the first error leads to [this issue](https://github.com/python-greenlet/greenlet/issues/295) on the greenlet repo and based on the comment there, you might just have to update to a version of greenlet that works with the python version you are using.

Note that this is not really

[2022-11-15 01:29] arindam0310018 commented on #24108
Hello @v-anvashist
Any update from your side.
I have now created the Az CLi and DevOps CLI script to devops service connection.

Have a look if time permits - https://github.com/arindam0310018/15-Nov-2022-DevOpsCLI__Create-Service-Connection

Many Thanks
Regards, Arindam Mitra

[2022-11-15 02:52] wangzelin007 opened #24646 "Use subprocess securely to avoid shell injection"
Python possesses many mechanisms to invoke an external executable.

However, doing so may present a security issue if appropriate care is not taken to sanitize any user provided or variable input.

### Consequences

- If you use shell=True, your code is extremely likely to be vulnerable

- Even if your code is not vulnerable, the next person who maintains can easily introduce a vulnerability.

- S

[2022-11-15 02:57] zhoxing-ms commented on #24638
@ShivapriyaGujjarlapudi This should be a service issue. The REST [proximity-placement-groups/get](https://learn.microsoft.com/en-us/rest/api/compute/proximity-placement-groups/get?tabs=HTTP) return the colocation status of VM as `null`.

[2022-11-15 02:57] navba-MSFT commented on #24644
@mdsystems Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-11-15 03:21] #24615 closed

[2022-11-15 03:21] #24227 closed

[2022-11-15 04:18] jiasli commented on #24646
Here is a good example in Azure CLI code that shows how to invoke `subprocess.Popen` securely:

https://github.com/Azure/azure-cli/blob/325dfa64d8b77bfddb3b087162ad98acee5037ab/src/azure-cli-core/azure/cli/core/util.py#L734-L735

[2022-11-15 04:23] jiasli commented on #24646
There are some good examples in Azure CLI code that show how to invoke a subprocess securely:

To open a web browser in WSL:

https://github.com/Azure/azure-cli/blob/325dfa64d8b77bfddb3b087162ad98acee5037ab/src/azure-cli-core/azure/cli/core/util.py#L734-L735

To invoke `azcopy`:

https://github.com/Azure/azure-cli/blob/4b86ba6619f1d84d91599822d361cbc6d1ba7648/src/azure-cli/azure/cli/command_module

[2022-11-15 04:23] jsntcy commented on #21608
We'll plan it in this sprint and try to release it early next month.

[2022-11-15 05:19] jiasli commented on #24647
It is the designed behavior of knack to show `argument_dest` in the warning message if deprecation target is not specified:

https://github.com/microsoft/knack/blob/cd590312b9b4ea1402d7a0a76814f6ca4da7fab8/knack/arguments.py#L221-L222

[code]

To override the `enable_pod_security_policy` in the warning message, please specify

[code]

Here is an example from `resource` command module:

https://git

[2022-11-15 05:59] bingosummer commented on #24647
`deprecate_info=c.deprecate(target='--enable-pod-security-policy')` works.

[2022-11-15 06:35] nascarsayan commented on #11908
Can we add a flag to `az rest` to show output in stdout as:
[code]

I believe several important response headers like tracking URLs are used throughout azure, and adding a flag which will provide us parsable headers will be useful.

[2022-11-15 06:49] garudapnx commented on #24244
Hi Rakesh, it is in the screenshot that I uploaded. If you can see in the resource group there are 249 App Service but in the command returned it is only 22. Do you still need me to send it to your email?

[2022-11-15 08:00] necusjz commented on #24462
As limited bandwidth, could you please append `--ddos-protection-plan ""` as a workaround?

[2022-11-15 08:41] necusjz commented on #24462
Are you using PowerShell? `""` should be `'""'` then.

[2022-11-15 08:49] navba-MSFT commented on #24644
@mdsystems Could you please update your Azure CLI version to the [most recent version](https://learn.microsoft.com/en-us/cli/azure/update-azure-cli) and check if you still encounter the same issue ?

If you face the same issue again after upgrading the AzCLI try to run the same command with `--timeout` parameter and check if that helps.

[2022-11-15 08:51] mdsystems commented on #24644
The same issue occurs with client 2.42.0. What timeout would you suggest?

[2022-11-15 08:53] pavelplesca opened #24652 "az cosmosdb sql container create command with a client Encryption Policy attached does NOT actually create the policy"
# Describe the bug
When running 	`az cosmosdb sql container create -g "<resource-group>" -a "<account>" -d "<database>" -n "<container>" --partition-key-path "/partitionKey" --cep @policy-file.json ` , the Encryption Policy is not applied.

# Command Name
**az cosmosdb sql container create**

# Errors:
None

# To Reproduce:
Steps to reproduce the behavior.
1) create a cosmosdb database - done via

[2022-11-15 09:09] mdsystems commented on #24644
I am trying both locally and on an Azure VM and they behave identically. I'll try the longer timeout and report back.

[2022-11-15 09:18] mdsystems commented on #24644
The longer timeout makes no difference. The error report (as per above) does mention timout=3. It appears as though the timeout parameter is being ignored in this instance, because the delay between the deployment starting and the failure is the same, irrespective of the timeout value specified.

[2022-11-15 09:20] navba-MSFT commented on #24644
@mdsystems Are there any firewall / proxy within your network ?

[2022-11-15 09:36] shardulb2709 opened #24654 "az postgres flexible-server slow (AZ CLI) took longer than psql"
I tested myself with the simple "select * from test" both with psql and also with az cli for around 1000 records in the table and I found AZ cli took longer than psql-

Please find the below results-

From Az cli-
cli.__main__: Command ran in 1.388 seconds

  From psql-
Execution Time: 0.312 ms

Could someone explain why AZ CLI is slower compared to psql?

[2022-11-15 09:37] mdsystems commented on #24644
Locally, there is a firewall. The Azure VM has unrestricted access outbound. Both exhibit the same behaviour. Did you pick up on my comment that it is only the first deployment after creation of the functionapp that fails? Second and subsequent deployments do not fail.

Just to confirm what I am doing (values manually typed in place of shell script parameters for the purposes of illustration):

1.

[2022-11-15 09:48] lorenzmeyer77 commented on #21010
I try to run an "az login" through an ansible playbook. Therefore I installed on my windows server the azure-cli 2.29.2. The connection from ansible to windows is done through SSH.
The ansible task looks as follows:
- name: Login to azure
  win_shell: >
    az login --service-principal --username myuser --password mypassword --tenant mytenant

With azure-cli version 2.29.2 this worked.

**I now in

[2022-11-15 10:21] #24462 closed

[2022-11-15 10:24] yonzhan commented on #24654
route to CXP team

[2022-11-15 10:24] yonzhan commented on #24652
route to CXP team

[2022-11-15 10:36] kabene opened #24656 "azure CLI python error when trying list all the Global Admin role assignee"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role definition list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az role definition list --subscription {}`

## Expected Behavior

[2022-11-15 10:39] kabene commented on #24656
solve https://github.com/Azure/azure-cli/issues/19640 sorry @jiasli

[2022-11-15 10:39] #24656 closed

[2022-11-15 10:55] vkamani21 opened #24658 "Issue with az login and az connect to Kubernetes cluster"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I'm getting issue with commands like "az login" and az connecting with kubernetes cluster. The issue mentions about the computer timezone here which is synced automatically with the world clock. Can you please help me understand and resolve the issue?

**Command Name**
`az login`
`az aks get-credentials --resou

[2022-11-15 11:04] yonzhan commented on #24658
route to CXP team

[2022-11-15 11:33] eiji102030 commented on #17137
I have the exact same issue. Are there any updates?

[2022-11-15 12:01] dtotopus opened #24659 "unable to get MSAL authorization token for storage API"
**Related command**
Terraform commands for azurerm provider.
az login also does seem to have issues to login every time.

**Describe the bug**
When executing terraform commands using azurerm provider it takes forever to finish them up or to even start.
In most cases command fails with auth related error:
`│ Error: unable to get MSAL authorization token for storage API: obtaining Authorization Toke

[2022-11-15 12:11] nl-saw commented on #20096
Azure CLI is indeed not the problem. I can set variables in azure CLI with ^ char with no issues at all. Also, the parameter, including the ^ is passed correctly in azure CLI to the AZ command. It is the AZ tool that then strips it for some reason.

This is where imho a bug resides, as the parameter is normally passed with encapsulating ", that should not happen. When you then set the actual varia

[2022-11-15 12:57] Mykp3 commented on #9250
@saldroubi @notaturkey It is possible to make application registration to be owner of other application registration.

Requirements:
- Powershell (in Az Portal cloud will do)
- Understanding Enterprise Application concept
-  `Application.ReadWrite.OwnedBy` API permission granted for the application which will be owner of other app

From the main page of application registration of the future owner

[2022-11-15 13:28] #24659 closed

[2022-11-15 13:30] dtotopus commented on #24659
Apparently issue was caused by failed az logins. No idea why it didn't cause immediate auth errors but those cryptic ones , but after eventually logging out and in for a few times ( first attempts did hung up as well by not returning back to the terminal )  terraform started to work fine again.

[2022-11-15 13:48] veltsup commented on #21562
Neither do I find any reference on the meaning of `UPDATE on server::myserver by public`. Any further guidance would be very appreciated.

[2022-11-15 14:02] kabene opened #24660 "ModuleNotFoundError: No module named 'azure.mgmt.security.models._security_center_enums'; 'azure.mgmt.security.models' is not a package on Kali linux"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az security pricing list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az security pricing list`

## Expected Behavior

## Environment

[2022-11-15 14:24] dtriana commented on #16698
Looking at #21548 , my understanding is this is by design, to address performance concerns, the list query doesn't resolve the nested properties,

In that same issue there is a workaround, doing a first list to get the Ids, then do a show command with the list of Ids, I just tried it for a different purpose and works fine

[2022-11-15 14:38] RakeshMohanMSFT commented on #24244
@garudapnx Yes, i need your subscription id and the user account used to access these.

[2022-11-15 15:20] Kaloszer opened #24661 "az sentinel alert-rule-action list uses unavailable api version"
**Related command**
az sentinel alert-rule action list -g somerg -w someworkspace --rule-name '/subscriptions/somesubscritpion/resourceGroups/somergsentinel/providers/Microsoft.OperationalInsights/workspaces/someworkspace/providers/Microsoft.SecurityInsights/alertRules/ruleidentifier' --debug

**Describe the bug**

Unable to list alert-rule actions using az-cli, when invoking a request it uses api

[2022-11-15 15:58] Kaloszer commented on #24661
Issue also appears in Az/AzPreview (Powershell module) (https://github.com/Azure/azure-powershell/issues/20143) - so there's no way to use CLI to access these at the moment - I guess Invoke-AzRestMethod would be the only way?

[2022-11-15 21:38] jsalser commented on #21562
@veltsup

Here is an example command that I was able to get working (sends failed or successful login attempts to a Log Analytics workspace).

Hope it helps.

`
az sql server audit-policy update --name "[your-server-name]" --resource-group "[your-rg-name]" --log-analytics-target-state Enabled --state Enabled --lawri "subscriptions/[your-subscription-guid]/resourcegroups/[your-rg-name]/providers/mi

[2022-11-15 21:58] AshleyGrant commented on #23642
Hi, I am the CSA Dev Advocate assigned to H&R Block.  @jiasli do you have any further insight on this? Has any triaging of this issue been done to determine if it is reproducible?

[2022-11-15 23:42] albecker1 opened #24662 "New performance plus property for Azure Disks"
Related command
az disk create --performance-plus  {false, true}

Resource Provider
Microsoft.Compute/disks

Description of Feature or Work Requested
We are introducing a new disk storage SKU Premiumv2_LRS besides the current available SKUs: Standard_LRS, Premium_LRS, StandardSSD_LRS, UltraSSD_LRS, Premium_ZRS, StandardSSD_ZRS. We need to ensure that CLI uses the Compute's API version 2022-03-01 a

[2022-11-16 00:29] yonzhan commented on #24660
route to CXP team

[2022-11-16 00:32] digimaun commented on #24555
Resolved in `azure-iot` release `0.18.1` https://learn.microsoft.com/en-us/cli/azure/iot/hub?view=azure-cli-latest#az-iot-hub-invoke-module-method

[2022-11-16 00:32] #24555 closed

[2022-11-16 00:56] yonzhan commented on #24661
route to CXP team

[2022-11-16 00:57] yonzhan commented on #24662
Compute feature

[2022-11-16 01:23] robidas commented on #17695
I am experiencing the same issue. I am attempting to work on Microsoft Learning Path using the sandbox cloud shell terminal

[2022-11-16 02:09] rayluo commented on #21010
Does this earlier [workaround](https://github.com/Azure/azure-cli/issues/21010#issuecomment-1104844455) not work for you?

[2022-11-16 02:46] zhoxing-ms commented on #24638
@ShivapriyaGujjarlapudi I'd like to confirm with you that all cases where colocation status of VM is `null` can be regarded as `Aligned`? Is there really a case of `null`?
In addition, it seems inappropriate for PowerShell to modify the return colocation status from REST service, which will lead to inconsistent experience between multiple client tools and REST. @dcaro Could you please help to conf

[2022-11-16 03:02] lenloz opened #24663 "can't connect to azure cli ??? What I can do"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login -u {} -p {}`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-11-16 03:07] yonzhan commented on #24663
@jiasli for awareness

[2022-11-16 03:07] #24663 closed

[2022-11-16 03:09] navba-MSFT commented on #23465
@ParagDoke Apologies for the late reply. Thanks for reaching out to us and reporting this issue. Firstly, I see that you are sending a **GET** request which doesn't expect a request body.

The content `$filter=serviceName eq 'Virtual Machines' and armRegionName eq 'westindia' `should be a query string and should be a part of request url and not part of request body.

Methods like` PUT, POST, PATCH

[2022-11-16 03:11] jiasli commented on #23642
@redshiftz, you can run `export AZURE_CONFIG_DIR=xxx` in your script to set it to different values (such as the current time, thread ID) in each thread in order to get isolated environments.

In the related email, I saw the error message was

[code]

This is an expected error from `az account show` since there is no login context.

According to https://github.com/Azure/azure-cli/issues/23642#issue

[2022-11-16 03:23] zhoxing-ms commented on #20096
@nl-saw If you want the inputting variable value not to be wrapped by `"`, you can try `$secret_servicePass = '"test^test"'`. *（Removed escape character `\`)*

[2022-11-16 03:34] #24647 closed

[2022-11-16 04:39] sesa577179 commented on #24590
@bebound I tried both HTTP and HTTPS with the same port, after disabling the firewall, anti-virus and all other software. I had the same error.

[2022-11-16 05:27] bebound commented on #24590
@sesa577179  When the page redirect to `localhost:xxxxx`, if you copy the url from address bar, it starts with http or https?

[2022-11-16 06:24] bebound commented on #24494
`vcrpy` also does not support 3.11, we need to wait for next release.

They've added 3.11 support in this PR: [add python 3.11 support](https://github.com/kevin1024/vcrpy/pull/667)
[code]

[2022-11-16 09:35] yangchengs opened #24666 "[BUG] "az storage fs file list" not working in private endpoint"
customer reported issue

2.42.0

**Related command**
az storage fs file list -f container1 --account-name testaccountXXX --account-key  XXXXX

az storage blob list --account-name testaccountXXX --container-name container1 --account-key XXXX

**Describe the bug**
I have storage account testaccountXXX and a VM that has a private endpoint to storage account

**To Reproduce**
az storage blob list --ac

[2022-11-16 09:36] yangchengs commented on #24666
![image](https://user-images.githubusercontent.com/71274085/202144326-74fd075b-b832-4886-9d26-1a30494198ef.png)

[2022-11-16 09:37] yangchengs commented on #24666
![image](https://user-images.githubusercontent.com/71274085/202144525-af68cd19-d80b-4759-93f8-5acc7c3fd932.png)

[2022-11-16 10:02] yonzhan commented on #24666
@evelyn-ys for awareness

[2022-11-16 10:40] luigibrancati commented on #8114
Still an issue

[2022-11-16 12:42] lorenzmeyer77 commented on #21010
@rayluo The workaround with encrypt_token_cache=false would work...
`az config set core.encrypt_token_cache=false`

But this configuration is not even mentioned on https://learn.microsoft.com/en-us/cli/azure/azure-cli-configuration. An @jiasli  wrote: ⚠ This is an internal experimental config option. We may change it or drop it anytime.)

This breaking change came with the version 2.30.0 from azur

[2022-11-16 14:37] drdamour commented on #9250
Yes you certainly can use powershell to add sp’s as owners, but this ticket is about az cli not ps

[2022-11-16 15:04] rodrigovb96 commented on #22230
Any news on this topic? I don't think that downgrading the lib is a good option for me

[2022-11-16 15:21] PramodValavala-MSFT commented on #24619
@aksssdf Glad we could help! Closing.

[2022-11-16 15:21] #24619 closed

[2022-11-16 15:36] redshiftz commented on #23642
I'm happy to setup a working session and show you logs and how it functions.

[2022-11-16 18:23] manuelfuchs commented on #15188
I am consistently experiencing the same issue when trying to assign a role directly after creating an App Registration and its Service Principal using the Azure CLI.

Is there possibly any way to wait until the Service Principal of the App Registration is available for role assignments or comparable actions?

[2022-11-16 21:33] ARaheem-Work opened #24668 "We could not parse the provided certificate as .pem or .pfx. Please verify the certificate with OpenSSL."
**Related command**
`openssl req -new -x509 -nodes -out aks-ingress-tls.crt -keyout aks-ingress-tls.key -subj "/CN=$Hostname" -addext "subjectAltName=DNS:$Hostname" | Out-Null`

**Describe the bug**
Azure Cloudshell CLI throws error: We could not parse the provided certificate as .pem or .pfx. Please verify the certificate with OpenSSL. when using az keyvault certificate import

**To Reproduce**
R

[2022-11-16 22:32] arindam0310018 commented on #24108
Hello @v-anvashist
If time permits, Please update.

Many Thanks
Regards, Arindam Mitra

[2022-11-16 22:37] arindam0310018 commented on #24162
Hello @yonzhan
/cc: @jiasli

I see you have added a feature request.
Could you please share a direct link.
Also, If you can confirm if this is a bug.

Many Thanks
Regards, Arindam Mitra

[2022-11-16 23:07] yonzhan commented on #24668
@evelyn-ys for awareness

[2022-11-16 23:52] tesueret-msft opened #24669 "`az storage entity insert` can create an entity with empty/missing RowKey, then `entity delete` cannot delete it"
## Describe the bug

**Command Name**
`az storage entity insert`
... and relatedly ...
`az storage entity delete`

**Errors:**
`insert`: no errors, although there probably should've been;

`delete`:
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Have an existing Storage Table
- Create an Entity w

[2022-11-17 00:05] yonzhan commented on #24669
@evelyn-ys for awareness

[2022-11-17 00:50] rbleattler commented on #2324
If the preference towards the az cli is syntax you could try wrapping it using `Set-Alias`

[2022-11-17 00:55] redshiftz commented on #23642
Ok. Given the feedback on here and further testing...
Some notes:
1) In all our tests, we never saw 'az account show' issue 'ERROR: Please run 'az login' to setup account.' locally. Until... I cleared my .Azure folder. ugh.
2) Your comment on the thread id got me thinking that we misunderstood something on terraform so I output the process id. Apparently terraform spawns a new process for every ba

[2022-11-17 01:19] jmshal commented on #24528
Is there any update on this issue? My team has just started seeing our deployments fail due to this, as Azure Pipelines has updated the CLI that comes pre-installed on the hosted agents. The workaround is non-trivial for us to implement reasonably quickly.

[2022-11-17 02:35] navba-MSFT commented on #24644
@mdsystems Thanks for getting back. We are looking into this in detail. In the meantime, Could you please run the same above command with `--timeout 360` and `--debug `parameter and share the detailed debug output over email navba [@] microsoft (dot) com ?

[2022-11-17 02:46] bebound commented on #24494
`vcrpy` supports 3.11 in https://github.com/kevin1024/vcrpy/pull/667, but it's dependency `multidict` does not provide wheels for 3.11. Here is the issue [Wheels for CPython 3.11](https://github.com/aio-libs/multidict/issues/778).
[code]

[2022-11-17 02:51] navba-MSFT commented on #24479
@adehaan-rlcm Could you please let us know if you had a chance to follow the[ above suggestion](https://github.com/Azure/azure-cli/issues/24479#issuecomment-1306544356) ? Awaiting your reply.

[2022-11-17 02:56] navba-MSFT commented on #24658
@vkamani21 Thanks for reaching out to us and reporting this issue. We are looking into this issue and we will provide an update.

[2022-11-17 03:01] evelyn-ys commented on #24669
Need table service side fix

[2022-11-17 03:05] evelyn-ys commented on #24528
The fix PR https://github.com/Azure/azure-cli/pull/24531 has been merged. The next release would be 12/6. Sorry for the inconvenience.

[2022-11-17 04:01] #24591 closed

[2022-11-17 05:56] navba-MSFT commented on #24658
@vkamani21 I looked at the error message:

[code]
As the error suggested: `Current epoch = 1668493284`. This is **GMT: Tuesday, November 15, 2022 6:21:24 AM** (converted using https://www.epochconverter.com/).

**Cause:**
The cause is because the time on the computer is not correct. MSAL checks **nbf** and thinks the ID token is not yet valid.

**Action Plan:**
- If you are using WSL, try to run t

[2022-11-17 06:23] AllyW commented on #24438
@kf6kjg  'marketplacePartnerId' will be added in next release.

[2022-11-17 06:44] yangchengs commented on #24666
az storage fs file list needs dfs endpoint.

[2022-11-17 06:45] #24666 closed

[2022-11-17 07:20] rayluo commented on #21010
@jiasli, those automation environment might not satisfy that [implicit requirement](https://learn.microsoft.com/en-us/windows/security/threat-protection/security-policy-settings/enable-computer-and-user-accounts-to-be-trusted-for-delegation). What if we change Azure CLI to automatically set encrypt_token_cache=false (and perhaps even persist it) upon encountering an encryption/decryption failure?

[2022-11-17 08:03] leosannlsn opened #24675 "az login --identity fails on an AzureML compute instance"
## Describe the bug

**Command Name**
`az login --identity`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create a compute instance in AzureML (mine is STANDARD_DS11_V2)
- Start the compute instance and click on the Terminal link to start a session
- Run `az login --identity` as sug

[2022-11-17 08:53] adehaan-rlcm commented on #24479
/unresolve
apologies for not responding earlier.
there is more to it than just using the --enable-nfs-v3 and --enable-hierarchical-namespace qualifiers. It is also a combination of --access-tier and --kind together with the --vnet-name and --subnet qualifiers.
Apart from addressing this in the documentation, the error messages from the az cli command could be more descriptive also.

I have to ment

[2022-11-17 09:37] #24479 closed

[2022-11-17 09:38] bebound commented on #24675
Duplicate of #20853

[2022-11-17 10:29] ashutoshtandon commented on #24638
@zhoxing-ms
As per current implementation. REST [proximity-placement-groups/get](https://learn.microsoft.com/en-us/rest/api/compute/proximity-placement-groups/get?tabs=HTTP) returns colocat
![Screenshot (16)](https://user-images.githubusercontent.com/118155186/202422595-28bb08ac-b349-43e5-b64f-b4fe829a89c0.png)
ion status of VMs as `null` when overlying PPG is Aligned.
In Powershell, `Get-AzProxim

[2022-11-17 11:14] wwofq0 opened #24677 "az appservice plan FAILURE."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az appservice plan`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az appservice plan`

## Expected Behavior

## Environment Summary
[co

[2022-11-17 11:27] antgustech opened #24678 "az webapp log download fails sometimes"
This looks to be the same issue as here: https://github.com/Azure/azure-cli/issues/23634

When running `az webapp log download --name name --resource-group rg --slot slot`

The command sometime fails with:

[code]
az cli 2.42

[2022-11-17 12:00] yonzhan commented on #24677
route to CXP team

[2022-11-17 12:00] yonzhan commented on #24678
route to CXP team

[2022-11-17 12:38] G-2018 opened #24679 "az aks check-acr failing"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks check-acr`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks check-acr -n {} -g {} --acr {}`
-  Azure AAD is enabled and need

[2022-11-17 13:42] yonzhan commented on #24679
route to CXP team

[2022-11-17 14:10] rmd-noo opened #24680 ""az snapshot list" displays different output on 2 servers"
The same command "az snapshot list --output table" displays columns in different order on two servers :

server 1 :
# az snapshot list --output table| head -1
DiskSizeBytes    DiskSizeGb    DiskState    Incremental    Location       Name                                            NetworkAccessPolicy    OsType    ProvisioningState    PublicNetworkAccess    ResourceGroup

[2022-11-17 14:49] andigwandi opened #24681 "Azure CLI | Minimum value of Max throughput for Cosmos DB container is 4000"
With Terraform I am able to set Max Throughput for a container to <4000 (which is mentioned in the documentation). Is there a way to use CLI to set max throughput < 4000 after the container is created?

![image](https://user-images.githubusercontent.com/11092753/202477422-7b594d82-6072-4854-84e9-c85f167335d6.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.mic

[2022-11-17 16:00] mraiford commented on #14404
I've also run into the same issue as @kamil-mrzyglod. It doesn't prevent the deploy from proceeding, but it's annoying to see a big red list of errors every time. It looks like it's a preflight check and it only chokes on the storage account, no other resources throw the same error even though they are using the same means of getting the subnet ID

[2022-11-17 17:01] #24419 closed

[2022-11-17 17:23] halkazwini opened #24682 "az network vnet show (required parameters)"
Hi Team,

I think the command az-network-vnet-show needs two required parameters:

- --name -n
- --resource-group -g

![image](https://user-images.githubusercontent.com/85655443/202514379-d70edcb7-dced-4d40-bef9-cd7b428a1e14.png)

https://learn.microsoft.com/en-us/cli/azure/network/vnet?view=azure-cli-latest#az-network-vnet-show

Regards,
Hussein

---
#### Document Details

⚠ *Do not edit this sec

[2022-11-17 18:10] g-psantos opened #24684 "CAE causes all API calls to fail"
## Describe the bug

The CLI is failing to communicate with the Microsoft Graph due to some issue with Continuous Access Evaluation. Below is an example of a command that returns a CAE challenge error message, though other commands have done the same.

This error is happening immediately after I authenticated with `az login`, so it's highly unlikely that any of the session's properties have change

[2022-11-17 20:03] cb-lixar opened #24685 "Selecting slot for webapp snapshot restore causes deserialization error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config snapshot restore`

**Errors:**
[code]

## To Reproduce:
* We have a C#.NET web app / App Service resource that we recently deployed an update to, and wanted to roll back to the previous version when we realized there was an issue, but got this error.
* It turns out that speci

[2022-11-17 20:16] dkirby-ms opened #24686 "Az CLI install from command line is not updating %PATH% on Azure Stack HCI 22H2"
![image](https://user-images.githubusercontent.com/32211549/202549768-9d8f4590-45c6-41c3-ae2d-04a8d0657af2.png)

**To Reproduce**
1) Install Az CLI from PowerShell command using msiexec on Azure Stack HCI 22H2
2) try to run Az CLI command from user folder
3) Note that Az CLI is installed, but PATH has not been updated

**Expected behavior**
This just started happening in the past couple days. Prev

[2022-11-17 20:44] dpwatrous commented on #24007
Just a quick update from the Batch team: we were able to reproduce this issue and we're tracking it internally. Hoping to get this fix into the December release.

[2022-11-17 22:00] ThierryVanacker-TomTom commented on #24575
Dear,

Aplogies for the late reply, please find below the requested output

Regards,
Thierry Van Acker

PS C:\Users\ldap_un> az --version
azure-cli                         2.20.0 *

core                              2.20.0 *
telemetry                          1.0.6

Extensions:
costmanagement                     0.1.0

Python location 'C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe'
E

[2022-11-17 22:20] yonzhan commented on #24682
@necusjz for awareness

[2022-11-17 22:22] yonzhan commented on #24684
@jiasli for awareness

[2022-11-17 22:23] yonzhan commented on #24685
route to CXP team

[2022-11-17 22:24] yonzhan commented on #24686
@zhoxing-ms for awareness

[2022-11-17 22:25] yonzhan commented on #24681
route to CXP team

[2022-11-17 22:25] yonzhan commented on #24680
@zhoxing-ms for awareness

[2022-11-17 22:54] PramodValavala-MSFT commented on #24679
@G-2018 This command requires the `kubectl --version` command to return server version details which should be available when a corresponding kubeconfig file is present. Based on your log, it looks like you are running this in an ADO Pipeline, so ensure the right kubeconfig file is present before trying again.

[2022-11-18 01:11] jikuma opened #24687 "System assigned identity is enabled by default while assigning identity to the registry"
For an acr registry, if I assign an identity using "acr identity assign" command system assigned identity is enabled by default

Steps to reproduce

**az acr identity show -n cmkreg1117 -g cmkregistrytest1117**

[code]

**az acr identity assign -n cmkreg1117 -g cmkregistrytest1117  --identities /subscriptions/<redacted>/resourcegroups/cmkregistrytest1117/providers/Microsoft.ManagedIdentity/userAss

[2022-11-18 01:50] yonzhan commented on #24687
route to CXP team

[2022-11-18 02:15] AmazonTICmsi opened #24688 "Error deployment to azure web app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment source config-zip --resource

[2022-11-18 03:10] RakeshMohanMSFT commented on #24575
@ThierryVanacker-TomTom The CLI version you are using is really old, can you please update it to the latest [2.42.0](https://learn.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli) and retry? also update your python version.

[2022-11-18 03:31] yonzhan commented on #24688
route to CXP team

[2022-11-18 03:35] zhoxing-ms commented on #24638
@ashutoshtandon Yes, the `az vm show` command should be able to output the `Aligned` for colocation status of VMs.
May I ask whether the REST [proximity-placement-groups/get](https://learn.microsoft.com/en-us/rest/api/compute/proximity-placement-groups/get?tabs=HTTP) can modify the return colocation status as `Aligned` to make the experience of multiple client tools and REST consistent?

[2022-11-18 05:18] ashutoshtandon commented on #24638
So, this is a GAed feature, and all the consumers of this API have translated its output as per their usage. Hence, making a change to this API would require:
1. Strong business reason for doing it.
2. Regression to prevent failures on consumer end

It was a PM ask to avoid redundant data at VM level for 'Aligned' PPGs which implicitly mean all underlying VMs are aligned. It was making the API res

[2022-11-18 06:38] PARADISSEEKR opened #24689 "Live test bug for test_disk_encryption_set_identity"
**Related command**

live test for test_disk_encryption_set_identity

**To Reproduce**

`azdev test test_disk_encryption_set_identity --live`

debug: unrecognized arguments: --enable-purge-protection--retention-days

**Expected behavior**

**Environment summary**

[code]

**Additional conext**

https://github.com/Azure/azure-cli/pull/23858/commits/b8c993756c7ce9f81205fb3dee18951397f6b091#diff-d47c

[2022-11-18 07:49] jiasli commented on #24684
I can't repro this issue on my tenant. I also can't find any official document for error code `LocationConditionEvaluationSatisfied`: https://www.google.com/search?q=%22LocationConditionEvaluationSatisfied%22

Similar issues have been reported to other CLI tools:

- https://github.com/Azure/azure-powershell/issues/16766
- https://github.com/microsoftgraph/msgraph-sdk-powershell/issues/1105

I will

[2022-11-18 08:48] yonzhan commented on #24689
Live test bug

[2022-11-18 09:04] ThierryVanacker-TomTom commented on #24575
Rakesh,

Thanks for the tip, that did the trick

Thanks,
Thierry

From: RakeshMohan-MSFT ***@***.***>
Sent: vrijdag 18 november 2022 4:10
To: Azure/azure-cli ***@***.***>
Cc: Thierry Van Acker ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] the following arguments are required: --applied-scope-type/-t (Issue #24575)

@ThierryVanacker-TomTom<https://eur02.safelinks.protection.outl

[2022-11-18 09:16] iddqdiddqd opened #24691 "`az ml job download` fails with python error"
## Describe the bug

**Command Name**
`az ml job download` (FYI: `az feedback` initially has set this field as `Unknown` for some reason)

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az extension add -n ml -y`
- `az ml job download --name {} --resource-group {} --workspace-name {}

[2022-11-18 09:25] zhoxing-ms commented on #24689
This issue was introduced by this PR #23858, @evelyn-ys could you please help take a look~

[2022-11-18 09:28] iddqdiddqd commented on #24691
I've managed to reproduce the error within 2 different environments that are hosted with Azure VMs. The error started appearing within the following period: ~Nov 9 - Nov 11.

[2022-11-18 09:34] #24575 closed

[2022-11-18 10:58] AntoineAtLeocare opened #24693 "Auto upgrade kubelogin"
When installing kubelogin with `az aks install-cli`, kubelogin is never automatically upgraded thereafter. Is it possible to automatically upgrade kubelogin when, for example, upgrading az-cli? Or maybe it is possible to check if there is a new version every time we use kubelogin and ask the user to update if so?

[2022-11-18 11:23] verbedr opened #24694 "List owned app registration in the context of an application/spn"
**Related command**
az ad app list --show-mine

**Describe the bug**
When executing in an azdo pipeline and thus using a spn (application based) access token, we get "ERROR: /me request is only valid with delegated authentication flow." .  This probably caused by the underlying graph API call, but I'm unaware what the exact call is. This is why I report it here

**To Reproduce**
Execute the comman

[2022-11-18 12:41] G-2018 commented on #24679
Hi,
After much digging it turns out there was a network change in our environment that was causing this.

Sorry for not investigating further.

[2022-11-18 12:41] #24679 closed

[2022-11-18 13:28] bhaskar39 commented on #15395
Is there an update on this as I can still see the issue?

[2022-11-18 13:54] yonzhan commented on #24691
route to CXP team

[2022-11-18 13:54] yonzhan commented on #24693
route to CXP team

[2022-11-18 13:57] yonzhan commented on #24694
@jiasli for awareness

[2022-11-18 15:26] xp0522 commented on #24539
Hi,

Is there any update on this issue?

Thanks!

[2022-11-18 16:58] fgendc opened #24695 "traffic-manager endpoint create ignores subscription argument"
## Describe the bug
After updating to azure-cli 2.42.0, using a service principal with access to multiple subscriptions, having SUBSCRIPTION_B as the default the active subscription, and a Traffic Manager in SUBSCRIPTION_A the `az traffic-manager endpoint create` command fails even when using the `--subscription` argument.

[code]

Same issue was observed in alpine

**Command Name**
`az network tr

[2022-11-18 17:01] #24440 closed

[2022-11-18 17:45] harneetvirk commented on #23996
FYI: @jiasli , @kairu-ms

[2022-11-18 18:13] elshat128 commented on #13614
same issue/error happened for a web app and PE creation via CLI
Command using:
az network private-endpoint create \\
    --name examplePE \\
    --connection-name MyconnectionName \\
    --private-connection-resource-id /subscriptions/2xxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxx2/resourceGroups/webAppRG/providers/Microsoft.Web/sites/MySites \\
    --resource-group webAppRG \\
    --subnet /subscriptions/1xx

[2022-11-18 19:06] asdkant-bf commented on #5549
I just tried to use it and I get:

[2022-11-19 01:00] dkirby-ms commented on #24686
This issue is actually on my side. sorry for the churn

[2022-11-19 03:17] yonzhan commented on #24539
route to CXP team

[2022-11-19 03:18] yonzhan commented on #24695
@necusjz for awareness

[2022-11-19 05:05] alexdrenea opened #24696 "Unable to upload logo image to app registration"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Trying to upload the logo for an Azure app Registration, running into an encoding issue with az rest. (See below)

**Command Name**
`az rest`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put an

[2022-11-19 05:47] bebound commented on #23996
Duplicate of https://github.com/Azure/azure-cli/issues/24023
Should be fixed in next release

[2022-11-19 05:47] #23996 closed

[2022-11-19 07:55] yonzhan commented on #24696
@jiasli for awareness

[2022-11-19 11:23] springcomp commented on #24542
FYI [jmespath-community/1.1.0rc2](https://pypi.org/project/jmespath-community/1.1.0rc2/) has been published.
This marks the final release candidate before publishing the final release version in a few weeks.

[2022-11-19 16:53] verbedr commented on #24694
Just want to confirm that the problem is in the underlying API call. So I guess the problem should be forwarded to the graph API team. I'm not sure how to do this, but I trust you guys can have a talk with them.

[2022-11-19 17:01] RakeshMohanMSFT commented on #24688
@AmazonTICmsi Please ensure that you have access to this endpoint from your machine ecarpintero.scm.azurewebsites.net also please upgrade to latest version of AZ CLI [2.42.0](https://learn.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-11-19 17:03] RakeshMohanMSFT commented on #24677
@wwofq0 Can you please upgrade to the latest version of azure cli [2.42.0](https://learn.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) and retry the command?

[2022-11-19 19:40] dkirby-ms commented on #24686
I'm actually still seeing a lot of this happening with multiple install attempts. Its possible I am doing something wrong but I am not sure what it would be.

[2022-11-19 20:47] alexdrenea commented on #24696
The error above might be due to improper encoding of the stream being sent in.
After correcting the encoding (was not sending the body as stream), encountering a new error:

Script errors out with message "The command line is too long."
[code]

I am now confident I am now sending the proper bytes stream since I can make this work using the `Invoke-RestMehod` in PowerShell

Script that works:
[code

[2022-11-19 21:24] dkirby-ms commented on #24686
I finally figured this out. The reason I am missing it from the path is because the Install-Moc command from

[2022-11-19 21:24] #24686 closed

[2022-11-19 23:53] gvanrossum commented on #2324
Looks like a spammer is active here. :-(

[2022-11-19 23:58] rbleattler commented on #2324
@gvanrossum this is an ongoing conversation in an open space. I quote replied a user's response. Your username being tagged in that user's post is not my problem nor does it make me a spammer. Your prior passive aggressive responses to this conversation show exactly how helpful you are to the topic. Kindly take your personal attacks elsewhere.

[2022-11-20 16:06] zhangxd926 commented on #22173
I have the same issue:
* Connection #0 to host management.azure.com left intact
{
  "error": {
    "code": "ResourceTypeNotSupported",
    "message": "Unsupported resource type: 'Microsoft.PolicyInsights/policyStates/queryResults'."
  }
}

[2022-11-20 23:23] GitMensch opened #24697 "Option to enable virtualization of perf counters"
**Related command**
`az vm create` + `az vm update`

**Is your feature request related to a problem? Please describe.**
While there is a tutorial [how to do that with Hyper-V](https://learn.microsoft.com/en-us/windows-server/virtualization/hyper-v/manage/performance-monitoring-hardware) using `Set-VMProcessor -Perfmon` there is no such option with machines maintained via azure-cli.

**Describe the

[2022-11-21 00:13] gergelyhunyady commented on #23078
Hi,
any update on this issue?

I also have issues when trying to register a new aml env with the python sdk using the DockerBuildContext.from_local_directory method.
The method flattens the build context, so only toplevel files are uploaded.. the directory hierarchy is lost. Also files with identical name, but in separate dir, end up overwriting each other in the flattened destination context..

N

[2022-11-21 02:21] PARADISSEEKR commented on #23450
Hi @AjKundnani , we have two questions to confirm.
1. Does `Unmanaged VHD BASED Images` need to recommend Trusted Launch?
2. How to distinguish `custom managed image id` and `image id` with `image get(az image show)`, their formats are `/Subscriptions/00000000-0000-000000000000/ResourceGroups/rg/Providers/microsoft.Computes/image`

[2022-11-21 03:08] Drewm3 commented on #24577
@zhoxing-ms, could you please clarify what is needed from the VM service for this issue? The text for the issue seems to imply that this is something that should be handled 100% by the CLI application without any change to the Azure service API.

[2022-11-21 03:49] born-2learn commented on #17695
I'm facing a similar issue from a cloudshell started as part of Learn.

[2022-11-21 03:54] RakeshMohanMSFT commented on #24372
@tazz007 and @sean-keane25 can you try this command as suggested by @dr-1 `pip install --upgrade msal` and see if that helps?

[2022-11-21 05:33] AjKundnani commented on #23450
@PARADISSEEKR

No, as we cannot validate if the VHD supports Gen2 / Trusted Launch capabilities.

- `Managed Image` can be queried using `az image get` with resource ID of type `Microsoft.Compute`
- `Gallery Image` can be queried using `az sig image-version` with resource ID of type `Microsoft.Compute/galleries`
- `Platform Image` can be queried using [Virtual Machines Images GET API](https://docs

[2022-11-21 06:07] garudapnx commented on #24244
How can I message you privately? This is a public thread and publishing the subscription id and and account here is against our security policy.

[2022-11-21 08:32] PARADISSEEKR commented on #23450
@AjKundnani Do we need to recommend Trusted Launch if use other SecurityTypes (e.g. `ConfidentialVM`)?

[2022-11-21 08:54] baidarka commented on #24624
Currently our image build process cannot be properly completed. ("AzureCLI 2.42 error '... must be a managed disk or snapshot'")
Can you please provide a status regarding this issue?
  - Do you suggest a workaround? Should we approach this differently?
  - Should we wait for a fix? (timeframe?)

[2022-11-21 10:33] evelyn-ys commented on #24689
already fixed by #24636

Thanks for reporting!

[2022-11-21 10:33] #24689 closed

[2022-11-21 10:57] yonzhan commented on #24697
Compute feature

[2022-11-21 11:15] #24399 closed

[2022-11-21 11:19] #24443 closed

[2022-11-21 11:22] julyvee commented on #24675
This is still an issue for me and the solution to #20853 did not help in my case. This is my stack trace after using az login -i on an azure ml compute instance

[code]

[2022-11-21 11:41] leosannlsn commented on #24128
I'm hitting this error too. Sub-commands `show` and `stop` work as expected, but `az ml compute start` fails with this message on a freshly updated `az ml`.

[2022-11-21 12:54] jadcosta commented on #23625
@vivlingaiah I'm still facing this issue, is there any estimative when this is going to be fixed?

[2022-11-21 13:54] EnnekQ opened #24700 "az synapse workspace-package upload-batch command results in TypeError: LibraryOperations.append() missing 1 required positional argument: 'content'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
az synape workspace upload command does not produce the same result as when ran on azure-cli **2.40.0**. It no longer uploads the provided packages to the sparkPool in the Azure Synapse Workspace. Instead it fails with the below traceback. Pipelines used to work, now they don't because of this bug introduced in

[2022-11-21 14:44] AjKundnani commented on #23450
No, recommendation should only occur if user has not specified `--security-type` parameter. That's where defaults will be changed during next breaking change implementation window.

[2022-11-21 16:08] verbedr commented on #24694
I'm currently using following workaround.

[code]

[2022-11-21 16:26] djohn99 opened #24701 "az role assignment create --assignee "${PRINCIPAL_ID}" --role 'Contributor' --scope "{RESOURCE_GROUP_ID}""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role assignment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az role assignment create --assignee {} --role {} --scope {}`

[2022-11-21 16:39] aviita commented on #2324
I do not think that is the same thing at all. Azure powershell has totally different command structure, so cannot alias between the two.

[2022-11-21 16:43] aviita commented on #2324
And maybe I was totally out of line referencing Mr. Guido Van Rossum here. So my apologies. Though won't tag him to spam any further.

[2022-11-21 16:49] g-psantos commented on #24684
The `AZURE_IDENTITY_DISABLE_CP1` environment variable workaround worked for me on v2.42. @JustinGrote, you may need to set that variable _before_ logging in with the CLI (otherwise, the token will already have been marked as CAE-enabled).

@jiasli -- I'll try to post the result of a command with `--debug` enabled later today. As far as I'm aware, we haven't made any CAE-specific configurations on

[2022-11-21 16:50] jjeziorny opened #24702 "Impossible to list rewrite-rule"
It's impossible to list a rewrite-rule, the command asks for a rewrite-rule-set paramenter, but such config does not exist.

[code]
As you can see above, the `rewrite-rule set list` returns empty

---
#### Document Details

⚠ *Do not edit this section. It is required for learn.microsoft.com ➟ GitHub issue linking.*

* ID: ade0fbe1-8f32-eceb-967a-45e8184647e6
* Version Independent ID: e0ca65ec-a283

[2022-11-21 16:51] aviita commented on #2324
How about this [python-prompt-toolkit](https://github.com/prompt-toolkit/python-prompt-toolkit) library for implementing autocomplete on python?

Read in stackoverflow it being used for IronPython, so would think it is properly maintained.

[2022-11-21 18:58] NeilCondon opened #24703 "Found multiple accounts with the same username. Please report to us via Github: https://github.com/Azure/azure-cli/issues/new"
This issue has arisen after my company was migrated from one Azure tenant to another.   When using the Azure CLI to log in to the new tenant, this error is produced.

[2022-11-21 20:29] jjeziorny commented on #24702
Couple more arguments to make.
This GW has no such thing as RewriteRuleSet, so why is it expected in the `rewrite-rule delete command?`

[code]
[code]

[2022-11-21 20:58] jjeziorny commented on #24702
It seems I was wrongly looking at something that doesn't exist after all.
there are no rewrite rules on this GW.

[2022-11-21 20:58] #24702 closed

[2022-11-21 23:31] angop95 opened #24704 "`az disk create` commands fails to create disk using `gallery-image-reference` in another subscription"
## Describe the bug

**Command Name**
`az disk create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

-  Fetch the `id` of the image in Compute Image Gallery using `az sig image-version show --resource-group {} --gallery-name {} --gallery-image-version {} --gallery-image-definition {}`

[2022-11-22 00:53] yonzhan commented on #22598
already shipped

[2022-11-22 00:53] yonzhan commented on #24700
route to CXP team

[2022-11-22 00:55] yonzhan commented on #24701
@jiasli for awareness

[2022-11-22 00:59] yonzhan commented on #24704
@zhoxing-ms for awareness

[2022-11-22 01:02] yonzhan commented on #24703
@jiasli for awareness

[2022-11-22 02:02] mc220919101 opened #24705 "Unable to set AZ account"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account set --subscription {}`

## Expected Behavior

## Environment S

[2022-11-22 02:05] bebound commented on #24675
@julyvee your issue is similar to #23978

[2022-11-22 02:09] jiasli commented on #24701
Could you check https://github.com/Azure/azure-cli/issues/23160#issuecomment-1179901988 and see if the issue can be solved? If not, could you share the full command with its argument values?

[2022-11-22 02:19] #24705 closed

[2022-11-22 02:26] zhoxing-ms commented on #24577
@Drewm3 Yes, it seems that this is a performance issue in accessing `raw.githubusercontent.com`, so Compute service team is not needed to do anything

[2022-11-22 02:27] PARADISSEEKR commented on #23450
@AjKundnani
Does this mean that all images obtained by the [Images - Get - REST API](https://learn.microsoft.com/en-us/rest/api/compute/images/get?tabs=HTTP) are managed images?

[2022-11-22 03:08] vivlingaiah commented on #23625
@jadcosta , please also check whether runAsUser has access to run the executable. Managed Run Command would not provide any additional access to runAs user.

[2022-11-22 03:38] ash-dey commented on #9157
I am surprised that even after 3 years the issue has not been resolved. Tab completion is so slow that it is not usable. MS please do something about it or remove the feature. Whats the use of a feature if it is not usable? Tried in both Windows and Linux same result.

[2022-11-22 03:42] AjKundnani commented on #23450
@PARADISSEEKR
Based on API doc looks like it, I haven't tried using this API for gallery image but my guess is it will not work for gallery images.
- **Gallery Images** - [Gallery Image Version GET](https://learn.microsoft.com/en-us/rest/api/compute/gallery-image-versions/get?tabs=HTTP)
- **Platform Images** - [Virtual Machine Images GET](https://learn.microsoft.com/en-us/rest/api/compute/virtual-

[2022-11-22 04:02] RakeshMohanMSFT commented on #24244
Send it to my email

[2022-11-22 04:09] rahulbissa2727 commented on #24596
Any updates on this. Our team needs this change in the current milestone for GA of Uppercase transform feature.

[2022-11-22 04:33] akshaym6 opened #24707 "CustomBlockRepsonse for Azure Application Gateway WAF"
### Related command

New-AzApplicationGatewayFirewallPolicySetting

### Resource Provider

Microsoft.Compute/Network

### Description of Feature or Work Requested

This feature is for Azure Application Gateway WAF. CustomBlockResponse enables customers to send a custom status code and a HTML body incase there is a WAF hit instead of the conventional 403.

We are adding two new fields under Azure A

[2022-11-22 07:35] yonzhan commented on #24707
Was this feature related to Azure PowerShell or Azure CLI?

[2022-11-22 07:37] garudapnx commented on #24244
Ok then, maybe let's continue to talk in your email. I will send you an email.

[2022-11-22 08:20] Lakshmiputchagatla opened #24708 "Azure Synapse SQL Script import is succeeded but not reflected."
**Related command**
az synapse sql-script --name testscript --workspace-name testscriptworkspacename --file 'path/test.sql'

**Describe the bug**

**To Reproduce**

**Expected behavior**
az synapse sql-script import is succeeded but .sql is not reflected

**Environment summary**
Tried from Azure DevOps pipeline with Azure PowerShell task.

**Additional context**
Followed https://learn.microsoft.co

[2022-11-22 08:35] zhoxing-ms commented on #23450
In fact, we would like to confirm how to judge whether an image is `Managed Image`, so that the Gen 2 and Trusted Launch will not be recommended to customers who use `Managed Image`.
At present, it seems that `Managed Image` and `Platform Image` cannot be distinguished by the ID format, so we want to confirm that the image that can be queried by [/virtual-machine-images/get](https://docs.microsoft

[2022-11-22 09:09] AjKundnani commented on #23450
@zhoxing-ms , As a user I can pass following values to parameter `--image`:
- URN of image, example **RedHat:RHEL:7-RAW:7.4.2018010506** - This will be platform image
- Platform image alias or Managed Image Name, example **Win2012R2Datacenter** is image alias resolved by `aliases.json`, anything other than aliases.json will be name of managed image in same resource group.
- Gallery Image resource

[2022-11-22 09:14] yonzhan commented on #24708
route to CXP team

[2022-11-22 09:36] zhoxing-ms commented on #23450
@AjKundnani In the existing logic of CLI, if users passe in the complete and valid resource ID to `--image` parameter, then we think this value is a managed image ID. If we reuse this logic, does it meet your expectations?
code link:
https://github.com/Azure/azure-cli/blob/62492854bd972efa06f4ba64952592afcb3fcf25/src/azure-cli/azure/cli/command_modules/vm/_validators.py#L245-L247
https://github.co

[2022-11-22 10:01] #24586 closed

[2022-11-22 11:29] anton-dealmeida commented on #21386
Hi there, could we perhaps append this to the documentation?

[2022-11-22 11:32] anton-dealmeida opened #24711 "az afd rule documentation update"
Hi there,

Could we update the documentation around this CLI to perhaps just hint at the fact that certain parameters like `--match-values` take a space separated and not comma separated list?

I'll gladly make a PR to update it if I knew where.
This is related to this issue: https://github.com/Azure/azure-cli/issues/21386
---
#### Document Details

⚠ *Do not edit this section. It is required for

[2022-11-22 11:57] AjKundnani commented on #23450
As discussed, kindly use existing logic of CLI to differentiate between Platform, Managed, Gallery and Community image.

[2022-11-22 12:18] anton-dealmeida commented on #24711
I create a pull request for this:
https://github.com/MicrosoftDocs/azure-docs-cli/pull/3400

[2022-11-22 14:45] djohn99 commented on #24701
thanks for your response.
this was how i was calling the command before i make i change to it and it work for me
export PRINCIPAL_ID=`az identity show -g ${RESOURCE_GROUP} -n ${INFRA_ID}-identity --query principalId --out tsv`

export RESOURCE_GROUP_ID=`az group show -g ${RESOURCE_GROUP} --query id --out tsv`

az role assignment create --assignee "${PRINCIPAL_ID}" --role 'Contributor' --scope "${R

[2022-11-22 14:45] #24701 closed

[2022-11-22 15:49] jaylabell commented on #24577
Thank you for updating @zhoxing-ms

[2022-11-22 17:01] #18250 closed

[2022-11-22 17:23] bpkroth commented on #9157
I looked at this briefly and it seem to have to do with how `az` is built fundamentally.

The trouble is that `az` (and many of its extensions) are all in python and package all of their dependencies separately, even if some may overlap.
Each time a tab completion event happens in the shell, an `az` (python) fork/exec happens to enumerate the options, which (depending on context) may load/parse/in

[2022-11-22 17:42] zrivkis commented on #17695
Issue still occurs, but the provided workaround addresses it. https://github.com/Azure/azure-cli/issues/17695#issuecomment-822110820

[2022-11-22 21:29] pawel-zolty commented on #20997
I have also the same problem but with ARM deployment. What it means?

[2022-11-22 22:30] PramodValavala-MSFT commented on #24693
@AntoineAtLeocare Thanks for the feedback! Since this is specific to AKS, I will have to investigate if it can upgraded when running `az upgrade`.

But if you were to re-run the `az aks install-cli` command, both commands should be updated to their latest.

[2022-11-22 23:15] wvusaf commented on #23714
What was the fix?  I have the same issue, except with Microsoft.AlertsManagement

[2022-11-23 00:56] yonzhan commented on #24711
route to CXP team

[2022-11-23 02:03] zhoxing-ms commented on #24593
@mahipdeora Could you please use the template  [service_team_request](https://github.com/Azure/azure-cli/issues/new?assignees=&labels=feature-request&template=Service_team_request.yaml) to help us supplement the necessary information?

[2022-11-23 02:55] necusjz commented on #24596
@rahulbissa2727 As limited bandwidth, we plan to deliver it in the next sprint (details: https://github.com/Azure/azure-cli/milestone/125).

[2022-11-23 03:42] mahipdeora commented on #24593
Hi @zhoxing-ms, I found a workaround using CLI (will have a doc posted about this soon). I will do further testing tomorrow, and if it works, we can close this.

[2022-11-23 04:09] mahipdeora commented on #24593
Hi @zhoxing-ms, I just tested the CLI command I found, and it works. There is no need to create a new CLI command. I will create documentation on this use case. Thanks for your help.

[2022-11-23 04:09] #24593 closed

[2022-11-23 06:55] ShivapriyaGujjarlapudi commented on #24638
@zhoxing-ms - Considering @ashutoshtandon 's inputs,could we make the necessary changes to the CLI output to keep it consistent with the GA-ed CRP response

[2022-11-23 07:02] MayXuQQ commented on #23892
whether has progress of this issue ?

[2022-11-23 07:10] bebound commented on #9157
Azure-cli uses `argcomplete` for completion. It has to executes the underlying script every time `TAB` is pressed, so it's slower than other cli tools, but not that much.

The completion time is nearly the same as `-h` command. `az account -h --debug` takes 0.3s on Ubuntu and 0.8s on WSL2.

@ash-dey which command are you using, could you please send me the output of it with `-h --debug` param? If

[2022-11-23 08:34] vlad610 opened #24717 "protocol wss parameter for az apim api create"
This feedback is for the "az apim api create" operation. If the API is WebSocket, the --protocol parameter seems to be required, as you get a HTTP 500 response without it. The documentation states it's an optional parameter.

To reproduce:

This returns an error:
az apim api create --service-name 'vlad' -g 'vlad1' --api-id poi-api-ws --path '/poi-api-ws/v1' --display-name 'wsapi' --api-type websoc

[2022-11-23 08:45] tschouunas opened #24718 "az synapse workspace-package upload command results in TypeError: LibraryOperations.append() missing 1 required positional argument: 'content'"
**Related command**
az synapse workspace-package upload

**Describe the bug**
az synape workspace upload command does not produce the same result as when few days ago. It no longer uploads the provided packages to the Azure Synapse Workspace. Instead it fails with the below traceback.

![image](https://user-images.githubusercontent.com/33125059/203494263-dac3a0fd-2af5-48ee-bee1-344928d68a39.png)

[2022-11-23 08:47] necusjz commented on #24682
@halkazwini `-n` and `-g` are optional when `--ids` is explicitly specified.

[2022-11-23 08:47] #24682 closed

[2022-11-23 08:59] MayXuQQ opened #24719 "downgrade azure-cli version failed"
**Related command**

 dnf list --showduplicates azure-cli
az version
**Describe the bug**

after degraded , check with az version still is 2.42.0

**To Reproduce**

1. dnf list --showduplicates azure-cli
MongoDB Repository                                                                                                                                                                 1.3 kB/s | 391  B

[2022-11-23 09:21] TomBailey-N commented on #9157
@bebound - it's no where near that fast on Mac, see below. A second run of `--debug` comes back faster, about 1.2s, and it's consistent in subsequent runs so I'm assuming it generates a cache, but this doesn't appear to work for tab completion as from shell, if I double tab to see options it takes between 3 and 10 seconds to return on `az aks`

[code]

[2022-11-23 09:53] timja commented on #23017
We have switched to `az rest`:

previously:
[code]

now:

[code]

[2022-11-23 10:10] springcomp commented on #23212
FYI as per #24542, the new JMESPath Community build of the Python library supports the [`lower()`](https://jmespath.site/main/#func-lower) function that would help support case insensitive comparison.

[2022-11-23 11:17] AntoineAtLeocare commented on #24693
Thank you @PramodValavala-MSFT! My `az` is installed with my package manager (`brew` on MacOS) so I usually update my packages with brew. I think sysadmins are used to using their package manager to upgrade their packages. ;)

[2022-11-23 11:19] yonzhan commented on #24717
route to CXP team

[2022-11-23 11:19] yonzhan commented on #24718
route to CXP team

[2022-11-23 11:20] yonzhan commented on #24719
@bebound for awareness

[2022-11-23 12:36] RakeshMohanMSFT commented on #24244
@jiasli We need your help here, for some reason the rest command is returning wrong number of resources in the cloud shell.

[2022-11-23 14:51] megakid commented on #17938
Just a note on this.

I came across this when running `az extension add --name aks-preview` and the `pip install pip-system-certs` approach didn't work for me.

`$env:AZURE_CLI_DISABLE_CONNECTION_VERIFICATION=1` was the only way to work around the error.

[2022-11-23 15:37] PramodValavala-MSFT commented on #24693
@AntoineAtLeocare Well, in that case you could just [install `kubelogin` using `brew`](https://github.com/Azure/kubelogin#setup-homebrew) right? And same goes for `kubectl`.

The `aks install-cli` is more of a helper for a quick install like on Cloud Shell but I prefer maintaining my own packages too. 😄

[2022-11-23 15:38] springcomp commented on #18148
@joepaulk I unfortunatly cannot reproduce and both commands work in the Cloud Shell.
As a piece of advice, you do not need the backticks to escape the single quotes as you already have surrounding double-quotes.

[2022-11-23 15:47] AntoineAtLeocare commented on #24693
You're right. I followed the microsoft documentation which says to use `az aks install-cli` (<https://learn.microsoft.com/en-us/azure/aks/managed-aad#prerequisites>). Maybe the documentation should advise using a package manager. You can close this issue if you think it's better. Thank you @PramodValavala-MSFT.

[2022-11-23 15:49] springcomp commented on #14828
In JMESPath, the `sort_by()` function expects two arguments and you are only supplying one.
Furthermore, the second argument is expected to be an `expression-type` starting with the `&` character and you are supplying a JMESPath `filter-expression`.

I agree the error message is misleading.

[2022-11-23 16:08] PramodValavala-MSFT commented on #24693
@AntoineAtLeocare Glad I could help! You are right about the docs mentioning that but if someone meets the prerequisites, I doubt they would install it a second time.

Will close this for now considering the nature of this command, unless more folks feel like this should be enhanced. Thanks for again for the feedback!

[2022-11-23 16:08] #24693 closed

[2022-11-23 17:01] #24482 closed

[2022-11-23 18:19] mahipdeora opened #24722 "Load Balancer Inbound NAT Rule CLI"
### Related command

az network lb inbound-nat-rule update

### Resource Provider

Microsoft.Network/loadBalancers

### Description of Feature or Work Requested

1. Currently, portal allows users to update the backend pool used by the inbound NAT rule v2. However, CLI currently lacks this feature. The feature request is to add a parameter (e.g. --backend-pool) that allows a user to update/change t

[2022-11-23 20:36] PramodValavala-MSFT commented on #24717
@vlad610 Thanks for the feedback! Currently, this command defaults to `https` when the parameter is not set (hence optional in the docs) which is causing the problem here.

I suppose we could detect the protocol based on the Service URL. We will investigate further and improve upon this.

[2022-11-23 21:57] CoreyRByrne commented on #23078
Hey @gergelyhunyady,

We've fixed the bug for build context on CLI since @hugoaponte's comment. I believe what you're observing with flattening of the folder structure isn't occurring on the CLI, but I am noticing a visual bug on the UI for these environments, where it will remove the separating folder slashes, so that may explain what you're seeing, but I'm not convinced from your description.

I

[2022-11-23 22:55] yonzhan commented on #24722
@necusjz for awareness

[2022-11-23 23:08] gergelyhunyady commented on #23078
Hi @CoreyRByrne ,

**CLI**
I can confirm that the issue is not occurring with the CLI, however as you mentioned there is a visual bug on the studio, for me it does not show the files of the context at all. I checked in the storage account and the blobs are there in correct form indeed. Another visual issue is that the build is shown as failed with the newly registered env version (I added a new ve

[2022-11-24 00:47] devlace commented on #24718
I am facing similar issue. This is breaking release pipelines.

[2022-11-24 00:50] Nealit25 opened #24723 "azureml.core"
**Related command**

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-11-24 00:51] Nealit25 commented on #24723
from azureml.core import Workspace

ws = Workspace.from_config()

[2022-11-24 01:32] tomithychen opened #24724 "Multiple simultaneous calls to "az artifacts universal download" fail if no previous calls have been made to "az artifacts universal download""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Multiple simultaneous calls to "az artifacts universal download" fail if no previous calls have been made to "az artifacts universal download". This appears to be race condition caused by each call attempting to create a new cache file and only one succeeds while the other calls all fail.

This is 100% repro on

[2022-11-24 01:58] yonzhan commented on #24723
Please provide detailed info for the ask

[2022-11-24 01:59] yonzhan commented on #24724
route to CXP team

[2022-11-24 02:23] evelyn-ys commented on #24154
@p15nishatr Please share the swagger link if it's ready

[2022-11-24 02:37] jiasli opened #24726 "Drop `az config param-persist` and Local Context"
**Related command**
`az config param-persist`
`az local-context`

**Is your feature request related to a problem? Please describe.**

`az local-context` was first introduced by #12741, renamed to `az config param-persist` by #15068, and then dropped by #22471. However, as an experimental feature, `az config param-persist` is not maintained either.

**Describe the solution you'd like**
We should co

[2022-11-24 02:40] zhoxing-ms commented on #24638
If the returned status is modified by CLI side, I am concerned that the experience of multiple client tools and REST is inconsistent. And if the PowerShell command `Get-AzProximityPlacementGroup` needs to return the colocation status of VMs in the future, the same logic needs to be added on PowerShell side. + PM @dcaro help take a look and give us some suggestions

[2022-11-24 02:41] yonzhan commented on #24726
Drop az config param-persist

[2022-11-24 02:45] bebound commented on #24719
What's the output of `which az`? I guess you also install another azure-cli.

[2022-11-24 02:59] MayXuQQ commented on #24719
$ which az
~/.local/bin/az

[2022-11-24 03:12] bebound commented on #9157
@TomBailey-N  Thanks for the info.
The first run is a bit slower because it checked new version from GitHub.
I tried this command on my Mac but I can't reproduce.

What's the output of this command? `time IFS=$'\013' COMP_LINE='az aks ' COMP_POINT=6 COMP_TYPE="" _ARGCOMPLETE=1 _ARGCOMPLETE_SUPPRESS_SPACE=1 az 8>&1 9>&2 1>/dev/null 2>/dev/null`

Does the command run faster after running `az config

[2022-11-24 03:16] yanzhudd commented on #24624
Hi @baidarka,

We could provide you with an edge package first, or you could choose to downgrade the CLI version first.

We would fix this issue in this sprint (release date is 2022-12-06).

[2022-11-24 03:19] RakeshMohanMSFT commented on #24711
@anton-dealmeida Thank you for reaching out, we are looking into it.

[2022-11-24 03:41] bebound commented on #24719
This az bin is not generated by our package, you need to uninstall manually.

[2022-11-24 04:31] DevStarOps commented on #21338
@alex-frankel / @navba-MSFT
Any ETA on this moving to a CDN? 7 months feels a little excessive to just let the tooling break.

[2022-11-24 05:04] #24677 closed

[2022-11-24 05:04] #24688 closed

[2022-11-24 05:05] #24372 closed

[2022-11-24 05:56] #24711 closed

[2022-11-24 06:02] #24532 closed

[2022-11-24 06:33] MayXuQQ commented on #24719
can I reinstall az cli, even fail to cleanup az , how I cleanup all az ?
$ which az
~/.local/bin/az
$sudo dnf remove azure-cli.noarch
$ sudo dnf autoremove
$ az
Traceback (most recent call last):
  File "/usr/lib64/python3.10/runpy.py", line 196, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/usr/lib64/python3.10/runpy.py", line 86, in _run_code
    exec(code, run_g

[2022-11-24 09:05] anthonyolazabal opened #24731 "Error exporting existing ACI configuration to YAML (identity object)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container export`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container export --output {} --resource-group {} --name {} --file