[2021-05-19 02:53] #18077 closed

[2021-05-19 03:00] #18074 closed

[2021-05-19 03:02] makaranddevalekar commented on #16109
@qwordy, has this been resolved? I am getting similar error while create new image

New-AzImage:
Line |
6 | New-AzImage -Image $imageConfig -ImageName ($targetPrefix + '-IM') -R …
| ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
| **Images cannot be created from Shared Access Signature (SAS) URI blobs.**
ErrorCode: InvalidParameter
ErrorMessage: Images cannot be created from

[2021-05-19 03:14] yonzhan commented on #16109
@Juliehzl to help with

[2021-05-19 03:28] #17801 closed

[2021-05-19 03:50] kairu-ms commented on #17891
@avjerafi The return value 'checkWorkspaceAlertsStorageConfigured' of is null, however its value type is bool in [swagger](https://github.com/Azure/azure-rest-api-specs/blob/4f41eaf363c353376220750c65c947c096e0abd8/specification/monitor/resource-manager/Microsoft.Insights/preview/2021-02-01-preview/scheduledQueryRule_API.json#L419-L422)

![image](https://user-images.githubusercontent.com/69238381/

[2021-05-19 05:00] jiasli commented on #7579
We currently don't have plan to implement SAML-related features in the existing `az ad` module which still uses AD Graph. Please see https://github.com/Azure/azure-cli/issues/12946 for calling Microsoft Graph API directly with `az rest`.

[2021-05-19 05:49] shenglol opened #18134 "[ARM] template validation commands show unexpected error messages for invalid templates"
## Describe the bug
ARM template validation commands shows unexpected error messages for invalid templates. This only happens on the dev branch db6c634faac95af7d3ebbeaf97d5245305e9dd91.

**Command Name**
`az deployment group/sub/mg/tenant validate`

**Errors:**
If a template contains any validation errors, the following error will be shown:

[code]

## To Reproduce:
Steps to reproduce the behavior

[2021-05-19 06:53] jiasli commented on #6023
The error indicates you don't have corresponding permission to call [List applications](https://docs.microsoft.com/en-us/graph/api/application-list?view=graph-rest-1.0&tabs=http) API. Please check the permission of the identity you used to `az login`.

For questions regarding Microsoft Graph API itself, please feel free to [create a support ticket](https://azure.microsoft.com/en-us/support/create-

[2021-05-19 07:13] SiebeDev opened #18135 "webapp:az webapp list-runtimes - Results in error. Ubuntu"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp list-runtimes`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp list-runtimes`

## Expected Behavior

## Environment S

[2021-05-19 08:22] 00Kai0 commented on #17373
@Saaman , I see. I have created a PR for it :)

[2021-05-19 08:53] roycornelissen commented on #18116
The exception seems to be occur when `--assign-identity` parameter is provided.

[2021-05-19 09:03] plynch66 opened #18138 "Option to create origin Name is not available in CLI but is if you use Powershell"
Hi,

I am using Azure CLI to create a CDN endpoint and I have noticed that there is no way to specify the origin name. However, the equivalent Powershell cmdlet 'New-AzCdnEndpoint' does offer the option to create the origin name.

It would be good if the CLI command mirrored the functionality offered in Powershell.

Thanks.

### **This is autogenerated. Please review and update as needed.**

## De

[2021-05-19 09:19] roycornelissen commented on #18116
Azure CLI 2.22.1 works fine BTW

[2021-05-19 09:30] yonzhan commented on #18134
ARM

[2021-05-19 09:47] ravitellakula opened #18139 "Getting an issue while assigning User Identity to Function App using az cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp identity assign`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp identity assign -g {} -n {} --identities {

[2021-05-19 09:54] yonzhan commented on #18135
route to service team

[2021-05-19 10:01] yonzhan commented on #18138
route to service team

[2021-05-19 10:02] yonzhan commented on #18116
@ahmedelnably, @fabiocav, any update for this?

[2021-05-19 10:03] yonzhan commented on #18139
route to service team

[2021-05-19 10:21] riteshranjan007 opened #18140 "Error in running command az ad app delete : The subscription '<Tenant_ID>' could not be found"
Running this command on tenant where no subscription is there, throws following error

 The subscription '<Tenant_ID>' could not be found.

Tried with object it too but getting same error.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e99d25ff-03e2-e015-37f4-a29b59ec50d4
* Version Independent ID: 1a8e88ed-72c7-fbe7-b0a

[2021-05-19 10:24] yonzhan commented on #18140
@jiasli for awareness

[2021-05-19 12:01] plynch66 opened #18141 "Cannot Enable HTTPS on Custom Domain Using Azure CLI"
Hi,

I'm trying to enable HTTPS on an Azure CDN Endpoint which has a custom domain already configured. I have a DNS CNAME pointing to 'vox10endpoint.azureedge.net' and name resolution is working.

When I run the following command, it fails with the error below :

$loc = "eastus2"
$rg = "VOXIGEN10"
$cdnprf = "voxigen10cdn"
$endpt = "vox10endpoint"
$custhost = "vox10.cdn.voxigen.co.uk"
$tls = "1.2"

[2021-05-19 12:11] santhoshbomma9 commented on #6023
All good, it was permissions on my service principle, thank you the heads up!

[2021-05-19 12:16] yonzhan commented on #18141
route to service team

[2021-05-19 12:39] sizzle168 commented on #18081
Any news on this?

[2021-05-19 13:10] surexxx commented on #11981
@zhoxing-ms I've sent you the detailed debug information to you mail.
Here is a picture from my screen about the error:
![image](https://user-images.githubusercontent.com/18722513/118817882-00ae9e80-b8b4-11eb-9689-24cf909e2df5.png)

[2021-05-19 14:32] yonzhan commented on #18081
@AzureAppServiceCLI, @antcp, any update?

[2021-05-19 15:27] Kotasudhakarreddy commented on #18135
@calvinsID - Since you already make some work around it in the recent past, I am assigning it to you. Please take a look in to this.

[2021-05-19 16:23] calvinsID commented on #18135
hey @SiebeDev it seems like an old version of CLI - can you please try using a newer version?

[2021-05-19 17:05] WibblyDibbler commented on #17124
This was marked as resolved by #17146, which was released in version 2.23.0 (according to the release notes).  After upgrading to that version, this error persists.

azure-cli                         2.23.0

core                              2.23.0
telemetry                          1.0.6

[2021-05-19 18:07] gabriel-kohen-by commented on #13935
Example of reproducing this:
[code]
Or
[code]

Can anyone show an example (or add to the documentation on how to use `content-types-to-compress` with multiple types?
Thanks!

[2021-05-19 18:28] olayemio commented on #17574
Hi @xfz11 and @kangsun-ctrl , my proposal would be
`az sig image-definition --scope "subscription" --region "eastus list/show"`

I don't want customers to look at the API and think shared-image-definition and image-definition are different resources.

[2021-05-19 18:40] romerve commented on #14518
Seems it's an issue with passing an existing File share as the value for WEBSITE_CONTENTSHARE

https://github.com/Azure/bicep/issues/2732

[2021-05-19 18:45] kangsun-ctrl commented on #17574
Hi @olayemio , if we use image-definition, then parameters are not the same actually. To use normal gallery, user needs to pass '- galleryName', and to use sharedGallery, user needs to pass '- galleryUniqueName'. GalleryUniqueName = subscriptionId + galleryName. So that would be

az sig image-definition
   [--gallery-unique-name string]
   [--gallery-name string]
   [--gallery-image-name]
   [--lo

[2021-05-19 19:05] olayemio commented on #17574
@kangsun-ctrl
here's my thought process:
1. The resources are actually the same. `shared-image-definition` and `image-definition` raises confusion that they are two completely separate resources
2. Whether we use `shared-image-definition` or only use `image-definition`, a customer will always have to know which one to use.

[2021-05-19 19:17] kangsun-ctrl commented on #17574
Hi @olayemio , actually the resources are not the same. normall gallery comes from Caps, and sharedGallery comes from CrpPir, which means that their api models are different too. For example, normal gallery image version contains "publishingProfile - publishedData" while shared gallery image version contains "properties -publishedDate". Given user will actually have different experience using thos

[2021-05-19 19:23] jpetitte opened #18143 "results for each shot"
Is it possible to get the result for each shot?

i.e. the algorithm measures 1 qubit, and I do 10 shots of the algorithm. I want to know the results of each shot in order.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ebd26bec-7882-63e6-a817-62af3da2e93b
* Version Independent ID: 2aa99ad6-6ebb-be00-29cd-8d025d3c7afe
*

[2021-05-19 20:21] theKidOfArcrania opened #18144 "'IotHubResourceOperations' object has no attribute 'create_or_update'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Unable to create a new IoT hub. Seems to be similar to a slew of other issues like #17928,  #17372, #16962, etc...

**Command Name**
`az iot hub create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[2021-05-19 20:52] theKidOfArcrania commented on #18144
apparently the old version of azure-cli core in the debian package managers (2.18) was completely incompatible with some of the other stuff (probably the azure-iot extension with version 0.10.11), updating to 2.23 fixed the issue.

[2021-05-19 20:52] #18144 closed

[2021-05-19 20:59] fabiocav commented on #18116
@apawast can we please flag this for triage?

[2021-05-19 21:07] apawast commented on #17653
@kulomkar93 since we are unable to reproduce the issue, we will be closing the issue at this time.

[2021-05-19 21:17] apawast commented on #17875
@panchagnula would you be able to help with this?

[2021-05-19 21:19] apawast commented on #17945
@gzuber could you please help investigate this?

[2021-05-19 21:22] samsmithnz opened #18145 "How do we create a Service Bus Client Scoped topic subscription in Azure CLI?"
It appears this option is only available in the Azure Portal. Is there missing documentation that describes how to set it in Azure CLI?

![image](https://user-images.githubusercontent.com/8389039/118886281-b97dd900-b8c6-11eb-812d-c0445de3ad37.png)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 52b7d039-d543-895c-3056-2

[2021-05-19 21:24] apawast commented on #17947
@PolarFox has this issue persisted for you?

[2021-05-19 21:25] apawast commented on #17947
@kmadof this issue is unrelated, please open a separate ticket. Thanks!

[2021-05-19 21:28] apawast commented on #17948
@gzuber could you please help investigate this?

[2021-05-19 21:30] apawast commented on #17995
@gzuber could you please take a look at this?

[2021-05-19 22:18] LimingRenPA opened #18146 "How do we purge a soft-deleted resource using az?"
[Enter feedback here]

Get an error below, how do I prege this resource?  We have the resource ID.
I tried "az resource  delete", it does not return anything but it also does not purge it.

Thanks

Error: creating "test-service" (Resource Group "test-rg"): cognitiveservices.AccountsClient#Create: Failure sending request: StatusCode=409 -- Original Error: autorest/azure: Service returned an error.

[2021-05-19 23:21] olayemio commented on #17574
Hi @xfz11, after internal discussions, we are making changes to the list galleries, image definitions and image versions calls

List galleries:
`az sig list-in-group  --group "subscription" --region "eastus"`

List image definition and version:
`az sig image-definition list-in-group/show-in-group --group "subscription" --region "eastus" --gallery-unique-name ...`
`az sig image-version list-in-grou

[2021-05-20 00:07] bertah opened #18147 "az functionapp deployment slot create : Unable to build a model: Unable to deserialize to object"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment slot create`

**Errors:**
[code]

## To Reproduce:

- Create a new function app with `az functionapp create -g rg_name -n func_name -s storage_name --functions-version 3 --consumption-plan-location canadacentral`
- Run `az functionapp deployment slot create --name fu

[2021-05-20 01:38] yungezz commented on #18147
route to appropriate team

[2021-05-20 01:38] yonzhan commented on #18143
route to service team

[2021-05-20 01:41] yonzhan commented on #18145
route to service team

[2021-05-20 01:43] yonzhan commented on #18146
ARM

[2021-05-20 01:55] msyyc commented on #17670
RE: Firewall Premium changes - Azure CLI

[2021-05-20 01:58] xfz11 commented on #17574
Hi @olayemio, why is the option `--location "eastus"` changed to  `--region "eastus"`
In CLI command, it is all defined as `location`.

[2021-05-20 03:28] zhoxing-ms commented on #11981
@surexxx Hi, thank you for your information. I have found the root cause of this issue~
The reason I didn't reproduce this issue before is because I used `Bash` in `CloudShell`, however you used `PowerShell` in `CloudShell`.

Because the parameter of `--properties` passed in as a JSON object is the string type, which contains the special character `"`, so it needs to be escaped as `\"` before pass

[2021-05-20 04:45] aressler38 commented on #18033
Did you fix it yet?

[2021-05-20 05:06] xfz11 commented on #17574
Hi @olayemio @kangsun-ctrl , we discussed the changes in CLI team, and we think the verb `list-in-group/show-in-group` doesn't conform to CLI convention. If you insist on changing the commands, we can discuss it later. But tomorrow CLI will stop merge PR for next release. Please contact @Juliehzl for following discussion about the feature.
Thanks

[2021-05-20 05:56] joepaulk opened #18148 "az cli query parameter freaks out if there is no space after a common only on Windows (pwsh core and win pwsh)"
### **az cli query parameter freaks out if there is no space after a common only on Windows (powershell core and windows powershell)., but okay on powershell core on macOS**

## A space is required after , in JMESPATH contains function, only when run on Windows

**Command Name**
[code]
### FAILS
[code]

### PASS
[code]

#### My System Information
[code]

**Errors:**
[code]

## To Reproduce:
Steps

[2021-05-20 06:49] hjekman opened #18149 "Deprecitated, claims there is a CLI command to disable softdelete for keyvault which is no longer true"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 226e5769-f6c8-a480-db78-727fb96348ec
* Version Independent ID: 8ee06a2a-6eda-11be-3c8e-6ad948be207e
* Content: [az keyvault](https://docs.microsoft.com/en-us/cli/azure/keyvault?view=azure-cli-latest)
* Content Source: [latest/docs-ref-autogen/keyvault

[2021-05-20 08:41] yonzhan commented on #18148
keyvault

[2021-05-20 08:44] yonzhan commented on #18149
key vault

[2021-05-20 08:48] jonbe opened #18151 "webapp: Unable to run restore command"
In our devops pipeline we do a restore of an backup, with this command
`az webapp config backup restore --slot $(targetSlot) --target-name $WebAppName-$(targetSlot) --overwrite --resource-group $(WebAppResourceGroup) --webapp-name $WebAppName --backup-name $WebAppName --container-url $sas`

but since the upgrade of azurecli to 2.23 we get this error..
[code]

with 2.21 it ran fine.
[code]

We can

[2021-05-20 08:54] surexxx commented on #11981
@zhoxing-ms yes that's could be the problem. But it's not documented nowhere in examples that you have to use Bash Shell instead of PowerShell.
![image](https://user-images.githubusercontent.com/18722513/118949531-a0723800-b959-11eb-9410-f51af2201090.png)

[2021-05-20 08:55] yiyongheng commented on #16907
hey man , i also have this problem when i using the command mitmproxy. can you give me any idea to fix this ? thank you very much !

[2021-05-20 08:57] yonzhan commented on #18151
route to service team

[2021-05-20 08:58] jonbe commented on #18147
We get the same error when trying to add vnets to an appservice

Running
`$vNet = az webapp vnet-integration add --resource-group $(Environment)-XYZ--name $(Environment)-XYZ-$server --slot $(targetSlot) --vnet $mainVnet.id --subnet internal-$server | ConvertFrom-Json
`
Results in this error
`2021-05-20T05:41:23.8949634Z ERROR: Unable to build a model: Unable to deserialize to object: type, Attribu

[2021-05-20 09:11] pdefreitas opened #18152 "az monitor metrics alert dimension create does not allow StartsWith operator"
**Is your feature request related to a problem? Please describe.**
Currently the dimension object only supports Include or Exclude operators when created through Azure CLI/API. This limits the functionality compared to when you create an alert through Azure Portal, which provides an extra operator StartsWith [that is not available on Azure CLI](https://docs.microsoft.com/en-us/cli/azure/monitor/me

[2021-05-20 09:14] zhoxing-ms commented on #11981
@surexxx Yes, in fact, our sample is expected to be executed in the `Bash` environment.
Our doc team may need to consider optimizing this. For complex commands, we may need to support multiple environments with corresponding samples. @dbradish-microsoft, please aware it~

[2021-05-20 09:24] Juliehzl commented on #18040
Hi @jcrubrik,  could you provide more information about your issue?
I have tried command `az vm create -g nyrg -n myvm --attach-os-disk mydisk --os-type Linux`, and it works as expected.
For the command to create disk, I am using `az disk create --os-type Linux --hyper-v-generation v1 -g zuh -n zuhdisk --zone 1 --source https://vhdstoragexxxxxx.blob.core.windows.net/vhds/osdisk_xxx.vhd`.

Could yo

[2021-05-20 09:43] namlai000 opened #18153 "Issue with API Version when running AZ Command"
Hi team,

When i tried to run az storage command we encountered API version error. The error looks like

ERROR: The command failed with an unexpected error. Here is the traceback:
ERROR: APIVersion 2021-02-01 is not available
Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/knack/cli.py", line 231, in invoke
    cmd_result = self.invocation.execute(args)
  File "/u

[2021-05-20 10:26] yonzhan commented on #18152
monitor

[2021-05-20 10:31] yonzhan commented on #18153
storage

[2021-05-20 12:27] RobHofmann commented on #18069
We've got the same issue. Did you find a fix/workaround yet? We are also having the same issue for:
`az functionapp deployment slot create`

We've been using this for ages, and it only crashes on the latest Azure CLI (2.23.0).

[2021-05-20 12:54] RobHofmann commented on #18069
just confirmed. the same script is working with Azure CLI 2.22.1.

Please fix this issue :).

[2021-05-20 14:06] bbkane commented on #7618
@Slowdive-Aideron , I was able to run the following successfully:

[code]

[2021-05-20 14:57] olayemio commented on #17574
@xfz11 sorry for the confusion, I meant "location", not "region". Can you explain why `list-in-group/show-in-group` does not conform to CLI convention.

New changes
List galleries:
`az sig list-in-group  --group "subscription" --location "eastus"`

List image definition and version:
`az sig image-definition list-in-group/show-in-group --group "subscription" --location "eastus" --gallery-unique-nam

[2021-05-20 15:30] bordera-randy commented on #9855
Any update on this?

[2021-05-20 15:49] glennmusa commented on #18006
For others who stumble upon this issue, a workaround specific to these commands is setting the profile version:

[code]

[2021-05-20 19:17] RyanHill-MSFT opened #18154 "Remove common token replacement"
Under [Required Parameters](https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#az_rest-required-parameters)

is inaccurate. Running `az rest --method get --url https://management.azure.com/subscriptions/{subscriptionId}/resources?api-version=2019-07-01 --url-parameters \$top=3` results in the error `az rest: 'utputformat' is not a valid value for '--output'.`

This er

[2021-05-20 19:19] markdebruijne opened #18155 "aks cluster create with predefined public ip for AGIC"
It feels like the `ak cluster create` command is missing a command argument to specify the predefined Public IP address resource, just like we can by using the `--load-balancer-outbound-ip-prefixes` or `--load-balancer-outbound-ips`.

I could use the [Greenfield approach](https://docs.microsoft.com/en-us/azure/application-gateway/tutorial-ingress-controller-add-on-new) with such arguments, as I ha

[2021-05-20 21:14] danielsollondon commented on #18041
This was resolved by granting the explicit permissions in that article to me, although I have contributor at a sub level, this should be referenced in the CLI and PS docs.

[2021-05-20 22:48] cartley opened #18159 "az storage blob list fails with NoneType object is not callable"
## Describe the bug

`az storage blob list` fails on Amazon Linux 2.

**Command Name**
`az storage blob list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az storage blob list --account-name {} --account-key {} --container-name {}`

## Expected Behavior

List of blobs is returned

[2021-05-20 23:15] Andrew-netizen opened #18160 "Bug when I try to run exercise https://docs.microsoft.com/en-us/learn/modules/build-serverless-api-with-functions-api-management/3-exercise-import-function-app-api-management"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2021-05-20 23:18] Andrew-netizen commented on #18160
This was found when trying to complete the Microsoft Learning course https://docs.microsoft.com/en-us/learn/modules/build-serverless-api-with-functions-api-management/3-exercise-import-function-app-api-management

[2021-05-21 02:15] yonzhan commented on #18154
Rest

[2021-05-21 02:17] yonzhan commented on #18155
route to service team

[2021-05-21 02:21] yonzhan commented on #18160
route to service team

[2021-05-21 02:22] yonzhan commented on #18159
storage

[2021-05-21 02:25] xfz11 commented on #17574
Hi @olayemio, CLI Command is composed of `az [resource name] [operation] [option]`, generally the common operation is named `create/update/list/show` and we can use `option` to restrict the operation type or scope.
So the command should either be `az sig image-definition list --type gallery/sharedGallery` or  `az sig shared-image-definition list  `

As @kangsun-ctrl mentioned above, the former com

[2021-05-21 02:34] Juliehzl commented on #18153
Hi @namlai000, may I know which cloud you are using?

[2021-05-21 02:42] Juliehzl commented on #18159
Hi @cartley, could you show me your python package information with `pip list`? I am afraid that you are not using specified python package version in your system.
If your `azure-multiapi-storage` version is out of date, please upgrade to 0.6.0 version.

If you still get the error, could you add --debug in your command and show me debug info?

[2021-05-21 03:55] Juliehzl commented on #18129
According to description in e-mail, the main update for public preview is as below:
Create VMO with VM Profile
- osProfile
- networkProfile
   Attach to lb
   Attach to appgw
- storageProfile
- extensionsProfile
- securityProfile
- ManagedIdentities
- ultradisks

[2021-05-21 05:26] namlai000 commented on #18153
I'm using Azure cloud to deploy web apps

[2021-05-21 05:36] Juliehzl commented on #18153
could you show me the installed python package information with `pip list`?

[2021-05-21 06:38] florianchevallier commented on #18014
@freedev : did you find a way to downgrade on Mac ?

[2021-05-21 06:48] #16367 closed

[2021-05-21 06:54] davidjward30 opened #18166 "Unable to use colon in tag name for Azure Front Door"
**Describe the bug**
When adding a tag to a Azure Front Door resource, if the tag name contains a colon, the following error is displayed:

Could not save the tags for the resource *****: Failed to save the tag, please correct any errors and try again. More information on tags and compatible resource types can be found here.

**To Reproduce**
In the Azure Portal add a tag name with a colon. Apply

[2021-05-21 07:03] #18134 closed

[2021-05-21 07:13] ausfestivus opened #18167 "keyvault network-rule remove expects --ip-address to contain the CIDR mask"
**Describe the bug**
When you remove a network access rule from an AKV using Azure CLI using the `--ip-address` option you must include the CIDR mask on the IP address for the change to actually take effect. If you omit the CIDR mask from the IP address, the command succeeds but the line item is not actually removed from the AKV's network access configuration.

example of command that doesnt work:

[2021-05-21 07:16] yonzhan commented on #18166
route to service team

[2021-05-21 07:20] yonzhan commented on #18167
keyvault

[2021-05-21 07:35] #16453 closed

[2021-05-21 07:35] #16354 closed

[2021-05-21 07:36] #16411 closed

[2021-05-21 08:04] msyyc commented on #18079
@dapolloxp Please reference the test case : https://github.com/Azure/azure-cli/blob/d0d6976f584e57a89713f90d138f2435db0a7745/src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py#L142-L232

[2021-05-21 08:05] #17702 closed

[2021-05-21 08:05] #17719 closed

[2021-05-21 08:05] #17311 closed

[2021-05-21 08:13] bangdu-ms opened #18169 "AppGW v2 CLI cannot save redirection config and url mapping to request routing rule as expected"
**Describe the bug**
When trying to configure following setting through CLI, redirection config was not saved as expected

Expected behavior
[code]

Expected result from portal
![image](https://user-images.githubusercontent.com/67455454/119103801-89654000-ba56-11eb-931e-54d55d6737a3.png)

Actual result from portal, after change is done in CLI
![image](https://user-images.githubusercontent.com/6745

[2021-05-21 08:19] gsumit10 commented on #17719
Thanks @msyyc , can you share the timeline for the CLI release

[2021-05-21 08:21] giovannifl commented on #13929
Any update on this ?

[2021-05-21 08:22] msyyc commented on #17719
new azure-cli will be released in about 7 days.

[2021-05-21 08:25] giovannifl commented on #9972
Any updates on this topic ?

[2021-05-21 08:36] msyyc commented on #16235
the problem has been fixed.

[2021-05-21 08:36] #16235 closed

[2021-05-21 08:52] yonzhan commented on #18169
network

[2021-05-21 09:25] themindfulcoder opened #18171 "Unable to add a hostname using 'az webapp config hostname add'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp config hostname add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp config hostname add --resource-group {} --webapp

[2021-05-21 09:29] yonzhan commented on #18171
route to service team

[2021-05-21 10:02] freedev commented on #18014
Hi @florianchevallier , I had to remove azure-cli with brew and install it (globally) with pip3

    brew uninstall azure-cli
    pip3 install azure-cli==2.22.0

[2021-05-21 11:01] SomnathMore opened #18172 "DLL Load failed winn32file"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``az --version or downloading any artifact

**Errors:**
DLL load failed while importing win32file: The specified module could not be found

## To Reproduce:
1. Install azure-cli 2.23.0
2. Try az --version or try to download any azure artifact
3. Immediately gives the error '**DLL load failed w

[2021-05-21 11:04] SomnathMore commented on #18172
![Issue](https://user-images.githubusercontent.com/24741589/119127795-60db4700-ba52-11eb-85f6-fee00429b539.JPG)

[2021-05-21 11:12] zesluo opened #18173 "az keyvault set-policy do not work"
**Describe the bug**

Get bad request when using ''az keyvault set-policy --name keyvaultname --object-id 'xxxx-xxx-xx' --key-permissions get unwrapKey wrapKey"
![image](https://user-images.githubusercontent.com/46309533/119128496-51ff8f00-ba68-11eb-9b02-60082c39bd84.png)

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2021-05-21 12:34] mikeassel opened #18174 "az image copy - fails on "Creating snapshot in target region from the copied blob""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az snapshot create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az snapshot create --resource-group {} --name {} --location {} --sour

[2021-05-21 13:16] anirbansaha96 opened #18175 "Trying to get a reference to Workspace fails when deploying using CLI"
My scoring function needs to refer to a registered Dataset for which I need a reference to the AzureML Workspace object. When including this in the `init()` function of scoring script it  gives the following error:

[code]

On debugging the issue is:

[code]
How can I resolve this issue?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue l

[2021-05-21 13:38] mikeassel commented on #18174
Looks like the issue was that the image name was too long.

[2021-05-21 13:58] Kotasudhakarreddy commented on #18171
Duplicate of #18075

[2021-05-21 13:58] #18171 closed

[2021-05-21 14:00] Kotasudhakarreddy commented on #18135
@SiebeDev can you try with newer version of `CLI- 2.23.0` and confirm back.

[2021-05-21 14:57] Kaitou786 commented on #11418
Just putting it out there if you are using `rpm --nodeps` than it would be worth noting, instead of defining the exact rpm name you can do

[code]
The force option helps if you are running it CI and the same agent might be used for multiple runs

[2021-05-21 16:25] kalmecak commented on #11239
I'm having same issue, I can not downgrade to python3.7 because it does not support apple silicon, this is the error I'm having  when I'm trying to get te logs form some resource:

` az webapp log tail --ids /my/azure/resource/id
Exception in thread Thread-1:
Traceback (most recent call last):
  File "/opt/homebrew/Cellar/python@3.8/3.8.10/Frameworks/Python.framework/Versions/3.8/lib/python3.8/thr

[2021-05-21 16:29] #16798 closed

[2021-05-21 16:42] yonzhan commented on #18172
@jiasli for awareness

[2021-05-21 16:43] yonzhan commented on #18173
keyvault

[2021-05-21 16:44] yonzhan commented on #18175
route to service team

[2021-05-21 16:45] yonzhan commented on #18174
image copy

[2021-05-21 16:53] cartley commented on #18159
Sure, as far as I know I'm using the standard python3 for this system. Do I need to run this in a virtual environment?

[code]

[2021-05-21 16:58] cartley commented on #18159
Here is `--debug` output.

[code]

[2021-05-21 18:23] bbuchmeier opened #18177 "Failure during 'az bicep upgrade'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az bicep upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az bicep upgrade`

## Expected Behavior

## Environment Summary
[code]

[2021-05-21 18:35] harneetvirk commented on #18175
Looks like, interactive authentication is being used in the script. Could you switch to automated authentication like service principal authentication
Reference: https://docs.microsoft.com/azure/machine-learning/tutorial-pipeline-batch-scoring-classification

[2021-05-21 18:41] tringuyen-yw opened #18178 "az keyvault certificate create unable to set X509 Certificate properties Basic Constraints CA = true"
## Describe the bug

The goal is to create a self-signed x509 certificate to be used as our own Certificate Authority certificate. The generated certificate must have the x509v3 Basic Constraints property named `CA` to be set to `true`.

The issue is the impossibility to use `az keyvault certificate create` to set that value. Even if it is explicitly defined in the certificate policy. As of 2021-0

[2021-05-21 19:16] dawwa commented on #17986
Why is this closed? the issue still exists, I assume customer find a workaround does not mean the issue is fixed.

[2021-05-21 20:44] ngreynoso opened #18179 "WebApp:az webapp deployment source config-local-git"
Try this command:

##The webappName exist

$webappname=mywebappName
echo Git deployment URL: $(az webapp deployment source config-local-git --name $webappname --resource-group AzureTutorial --slot staging --query url --output tsv)

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-local-git`

**Errors:**
[c

[2021-05-21 21:30] daveman1010221 opened #18180 "Many 'az' commands die and produce a stack trace, include 'az self-test'."
## Describe the bug

**Command Name**
`az self-test`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az self-test`

## Expected Behavior

Runs a self-test.

## Environment Summary
[code]
## Additional Context

Other commands that produce a stac

[2021-05-21 22:09] fitzgeraldsteele commented on #18129
A few updates:

- VM sku
- instance count
- generate-ssh-key
- osProfile
- networkProfile
- public-ip-per-vm //should default to true for VMSS Flex
- lb sku MUST be standard
- Attach to lb
-- Can specify backend pool, but template should not generate InboundNatPools - does not apply to Flex
- Attach to appgw
- storageProfile
- extensionsProfile
- securityProfile
- Spot instance fields
-- billingPr

[2021-05-21 23:17] miwebst commented on #18033
The PR is merged, @panchagnula do you know when this will become available?

[2021-05-21 23:21] panchagnula commented on #18033
Upcoming //BUILD release https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md#app-service

[2021-05-22 00:35] yonzhan commented on #18177
route to service team

[2021-05-22 00:37] yonzhan commented on #18178
key vault

[2021-05-22 00:39] yonzhan commented on #18179
route to service team

[2021-05-22 00:41] yonzhan commented on #18180
@jiasli for awareness

[2021-05-22 01:00] #16850 closed

[2021-05-22 01:13] olayemio commented on #17574
@xfz11 our preference is to stick with `list-in-group` / `show-in-group`. I see that `az vm assess-patches`, `az vm availability-set list-sizes`, `az vm boot-diagnostics get-boot-log-uris` break the CLI convention as well. For a great customer experience, we need to break the convention as well for this feature.

and to clarify, the resources are the same. It's just the mode of sharing that is dif

[2021-05-22 06:32] thoemmi commented on #17986
@dawwa I'd guess @jiasli closed this issue because it was fixed in #18012

[2021-05-22 06:38] lawrencefreeman commented on #9902
This worked for me! I did not want to uninstall python!
Thank @chengweijian

[2021-05-22 06:52] anirbansaha96 commented on #18175
@harneetvirk Adding SPN credentials in Scoring Script is not a safe option for me. While deploying the model that is the only viable option. It will be difficult.

[2021-05-22 10:10] ashishsme14 opened #18181 "Azure Databases: SQL Database Connection"
Our task is

Use Azure CLI to create a server with a unique name, and deploy a database in it using the following parameters:

- Server Name: Any unique server name
- Resource Group: Use the existing resource group.
- Location: Any azure region
- Admin Username: Your name
- Password: Any password that meets all the conditions.

First we created

`az mysql server create --resource-group user-ooxujk

[2021-05-22 10:15] #18181 closed

[2021-05-22 10:56] Juggernaut1997 opened #18182 "Conflicting latest azure-cosmos with latest azure-cli"
The conflict is caused by:

    my_package 0.1 depends on azure-cosmos==4.2.0
    azure-cli 2.23.0 depends on azure-cosmos>=3.0.2 and ~=3.0

I am getting this error while install the packages for my wheel package. If i remove the azure-cli version, it throws me an error saying

    module 'time' has no attribute 'clock'
    {from azure.comos.core -> _session.py, Line no. 46 -> if st.st_mtime + max

[2021-05-22 14:26] jeromepin commented on #16907
@yiyongheng I don't have a solution. I'm not using azure-cli on my M1 mac (it was just a test) thus I did not spent more time. But this is an issue with pyopenssl. The fix would be to either stop using pyopenssl or to "fix" it, but I don't have enough knowledge to do one or another. Ideally fixing pyopenssl would be best because it would benefit every software using it.

Maybe you could run azure-

[2021-05-22 14:38] yonzhan commented on #18182
@jiasli for awareness

[2021-05-22 14:46] Prab0101 opened #18183 "Error while running Terraform & Git commands"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

There are 2 issues

Issue1) While trying to clone the repository,  I am getting the following errors

fatal: could not create work tree dir 'terraform-on-azure': No such file or directory

Or

fatal: could not create work tree dir 'terraform-on-azure': Host is down

Issue 2) A normal command on cloudshell is g

[2021-05-22 19:55] nelsonmorais opened #18184 "`az iot dps *` commands uses an old api-version which fails on `az iot dps update --set properties.publicNetworkAccess`"
## Describe the bug

**Command Name**
`az iot dps update --resource-group <resource_group> --name <dps_name> --set properties.publicNetworkAccess="Disabled"`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Make  sure there's a DPS service created
- `az iot dps update --resource-group

[2021-05-22 20:17] AjKundnani opened #18185 "az ad app permission add with Microsoft Graph"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad app permission add --id $appRegistration.appId --api $graphSpId --api-permissions $graphPermissionId`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite

[2021-05-22 21:15] davidbabayan opened #18186 "Issue with ) when publishing app settings to Function App"
I published an app using Azure CLI with command

`func azure functionapp publish [my-app-name] --nozip`

Now I want to update the configuration of the app to connect to the Azure Key Vault and get secrets from the Vault. So, I am running this command

`az functionapp config appsettings set --name [my-app-name] --resource-group [my-app-res-group] --settings "PublicKey=@Microsoft.KeyVault(VaultName=

[2021-05-22 21:26] cgtheflash commented on #16130
I get this same error on a resource group deployment:
cli.azure.cli.core.azclierror: Parameter 'deployment_name' must conform to the following pattern: '^[-\\w\\._\\(\\)]+$'.
az_command_data_logger: Parameter 'deployment_name' must conform to the following pattern: '^[-\\w\\._\\(\\)]+$'.

Parameter file: `   {
      "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentParam

[2021-05-23 00:24] yonzhan commented on #18186
route to service team

[2021-05-23 00:25] yonzhan commented on #18185
@jiasli for awareness

[2021-05-23 00:27] yonzhan commented on #18184
route to service team

[2021-05-23 00:29] yonzhan commented on #18183
@jiasli for awareness

[2021-05-23 05:07] ankitadatta1109 commented on #12346
I am facing same issue.Can someone update on this

[2021-05-23 12:23] yonzhan commented on #12346
@akancharla1, any update for the debug info?

[2021-05-23 14:20] ankitadatta1109 commented on #12346
:~$ az storage account update --name "sahsmpoctest02" --resource-group "rg-tsk-HSM-POC-02" --encryption-key-name key02 --encryption-key-source "Microsoft.Keyvault" --encryption-key-vault $hsmurl --debug
cli.knack.cli: Command arguments: ['storage', 'account', 'update', '--name', 'sahsmpoctest02', '--resource-group', 'rg-tsk-HSM-POC-02', '--encryption-key-name', 'key02', '--encryption-key-source',

[2021-05-23 14:24] ankitadatta1109 commented on #12346
storage account still throws the error even if Keyvault has been setup with--enable-soft-delete true , --enable-purge-protection true and --retention-days are at least 90 days.

[2021-05-23 14:24] ankitadatta1109 commented on #12346
i have shared debug info above

[2021-05-23 14:30] davidbabayan commented on #18186
I add --% in my command like this

`az --% functionapp config appsettings set --name [my-app-name] --resource-group [my-app-res-group] --settings "PublicKey=@Microsoft.KeyVault(VaultName=[vault-name];SecretName=[secret-name])"`

and it removed the problem with closing bracket.

But, even though it works fine and update function app configuration correctly, the command returns this error:

`Operati

[2021-05-23 15:12] yonzhan commented on #12346
Add @Juliehzl to help with this

[2021-05-23 19:01] qwordy opened #18187 "Live test regression"
This issue is created by a program.
[Latest testing results of Azure CLI](https://clitestresultstac.blob.core.windows.net/latest/index.html)
[User Manual of Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EZGC9LwrN3RAscVS5ylG4HMBX9h7W0ZSA7CDrhXN5Lvx6g?e=V8HUmd)
[Upgrading API Versions in Azure CLI Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EcgPLHSkef9Mi14Rj

[2021-05-24 00:02] yonzhan commented on #18187
@evelyn-ys @kairu-ms for awareness

[2021-05-24 01:31] Juliehzl commented on #12346
Have you ever assigned managed identity to the storage account and grant the storage account permissions to access the key vault. See more information in https://docs.microsoft.com/en-us/azure/storage/common/customer-managed-keys-configure-key-vault?tabs=azure-cli

[2021-05-24 01:34] ozbillwang opened #18188 "[blueprint] command authoring error for 'blueprint export': 'subscription' conflicting option string: --subscription"
**Describe the bug**

I understood `blueprint` in azure cli is still in preview and under development. I need some helps for these problems

1. after install the `extension blueprint`, in AZ cli Interactive, it doesn't prompt the command, sub-commands, options properly.
2. when try to list or export a blueprint, seems it only supports the way with `--subscription` , not with `--management-group`

[2021-05-24 01:42] jiasli commented on #17986
I am not able to precisely identify the root cause. Hopefully #18012 can fix it.

Reinstalling is the official fix instead of a workaround. Thanks for understanding.

[2021-05-24 01:44] jiasli commented on #11239
@kalmecak, what you are seeing belongs to another issue #17987 which has been fixed by #17988.

[2021-05-24 02:05] ozbillwang commented on #18188
it works, after adjust management-group name.

[2021-05-24 02:05] #18188 closed

[2021-05-24 02:17] zhoxing-ms commented on #16130
@cgtheflash Hi

ex. az deployment group create --resource-group test --name "test - Copy" --template-file test.json --parameters test.parameters.json

On this issue, the reason for the problem is that the deployment name contains invalid characters `' '`. At present, CLI can provide specific error information:
[code]

ex. az deployment group create --resource-group test --template-file test.json -

[2021-05-24 03:11] jiasli commented on #16907
@jeromepin, thanks for reporting this issue and the investigation. Azure CLI has not been tested on M1 Mac.

Once https://github.com/pyca/pyopenssl/issues/873 is fixed, we will bump `pyopenssl` as soon as possible.

[2021-05-24 05:23] ashishsme14 opened #18191 "Web App Creation issue"
We have given task as -

Create the App service plan where pricing tier is strictly recommended for a Production environment but takes the minimum cost.

for this we used code as but not sure how we add prod environment strickly.

`az appservice plan create -g user-jeyhyrrhkgrc -n MyPlan --sku F1`

Create two Web Apps using the app service plan created in the last step.

For this trying as -

`az

[2021-05-24 05:27] yonzhan commented on #18191
route to service team

[2021-05-24 05:40] ashishsme14 opened #18192 "Monitor services in azure"
How task is -

- Write a terraform script in azmonitor.tf to create a storage account, storage container, storage blob to monitor and send log reports everyday.
-
- Define the variables resourcegroup and location in the variables.tf file, and call those variables in the azmonitor.tf file using string interpolation syntax

With help of vi command we created variables.tf file as

[code]

In normal w

[2021-05-24 06:16] tmoschou commented on #17900
Just an update, looks like that though it not common to include `__pycache__/` in the `.deb` packages, it is common to generate these files in the post-install time, using `py3compile` - this is probably important as this needs to be done as root as the normal user would not have write access when running the CLI the first time. So may not help with reducing docker image sizes, but would help with

[2021-05-24 06:18] yonzhan commented on #18192
storage

[2021-05-24 06:18] ankitadatta1109 commented on #12346
Cx tried but no luck still

[2021-05-24 06:22] yonzhan commented on #17900
@jiasli for awareness

[2021-05-24 06:52] anirbansaha96 opened #18193 "Does az ml model deploy send a snapshot?"
Like `az ml run submit-script` sends a snapshot of the working directory which enables us to use these files in our code does `az ml model deploy` also send a snapshot of the working directory? I need to use some files in my scoring script.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 110fd5df-299e-f288-867f-c307a2f2

[2021-05-24 06:52] zhoxing-ms commented on #17223
@roipmsft Hi, I would like to ask what is the expected help for `UserData` as a new parameter?
Could I use the description from Swagger
https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2021-03-01/compute.json#L11047-L11050

[2021-05-24 07:43] #18191 closed

[2021-05-24 07:44] ashishsme14 commented on #18191
we resolved the issue with help of https://github.com/Azure-Samples/azure-cli-samples/blob/master/app-service/deploy-deployment-slot/deploy-deployment-slot.sh

thanks

[2021-05-24 08:18] jiasli commented on #18180
According to the issue description, your installer is `deb` but Python version is 3.9.4.

If you install from our official repository following [Install the Azure CLI on Linux](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt), Azure CLI will run with the bundled Python 3.6.10 instead:

[code]

Please remove the old installation with

[code]

Then follow the doc [Insta

[2021-05-24 08:30] jiasli commented on #18172
Please try the solution provided at https://github.com/Azure/azure-cli/issues/17986#issuecomment-834607007 and let us know if the issue remains. Thanks.

[2021-05-24 08:58] yonzhan commented on #18193
route to service team

[2021-05-24 09:14] arjun-virmani opened #18194 "AllowMultipleAddressPrefixesOnSubnet not available"
[Enter feedback here]

Multiple address prefixes feature not allowed as of now, so it should be removed, terraform reference to this should also be edited. It is not even in preview. AllowMultipleAddressPrefixesOnSubnet feature needs to be registered for this, which isn't allowed as of now.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2021-05-24 09:59] yonzhan commented on #18194
network

[2021-05-24 13:13] PanosVl commented on #16779
@DonPetry-EY @jochav I second this.
I'm also facing incredibly slow responses.
For example, I'm trying to get the monthly cost of a ResourceGroup by sending a POST request to
`https://management.azure.com/subscriptions/{my-subscription-id}/resourceGroups/{my-resource-group-name}/providers/Microsoft.CostManagement/query?api-version=2019-11-01`
with a JSON payload like below:
`{
    "type": "Amortiz

[2021-05-24 14:29] ashishsme14 commented on #18192
any expertise advice :-)

[2021-05-24 14:31] aleksve opened #18196 "cant run az iot hub list"
Legacy CLI not installed

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az iot hub list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az iot hub list`

## Expected Behavior

## Env

[2021-05-24 14:56] aleksve commented on #18196
Found a work-around. CLI was installed with `apt install azure-cli`. Removed, and re-installed with `pip install azure-cli`

[2021-05-24 14:56] #18196 closed

[2021-05-24 15:15] hitesh-raichandani commented on #13974
Hi, I am seeing the same issue. Repro steps:
1. launch a vmss with load balancer
2. create a nat pool using cli
[code]

Getting error on last step.
debug logs for `az vmss update-instances`:
[code]

[2021-05-24 15:28] aleksve opened #18197 "What is this?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az iot hub list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az iot hub list`

## Expected Behavior

## Environment Summary
[code]
##

[2021-05-24 15:34] aleksve opened #18198 "TypeError: __init__() got an unexpected keyword argument 'api_version'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az iot hub list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az iot hub list`

## Expected Behavior

## Environment Summary
[code]
##

[2021-05-24 17:34] harneetvirk commented on #18175
@anirbansaha96 : You can mount the dataset and pass the mounted path as an argument to the training script
Here is an example on how to train with datasets: https://github.com/Azure/MachineLearningNotebooks/blob/master/how-to-use-azureml/work-with-data/datasets-tutorial/train-with-datasets/train-with-datasets.ipynb

[2021-05-24 17:36] dano0b commented on #18049
Wonder why this is a feature-request since it is a documented process from https://docs.microsoft.com/en-us/azure/key-vault/managed-hsm/backup-restore#full-backup .

[2021-05-24 17:48] cloudssty opened #18199 "Error installing azure cli on ubuntu using script"
**Describe the bug**
Cannot install azure cli on ubuntu using the script described in option 1 of the azure cli documentation. https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt#option-1-install-with-one-command

Running ```az login``` afterwards gives
[code]

Full logs:
[code]

**To Reproduce**
Run ```curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash```
and then ru

[2021-05-24 18:54] dbradish-microsoft commented on #11981
@surexxx, most of our articles are tested with `Bash` in Azure Cloud Shell, and the prerequisites in our conceptual docs point our readers to `Bash`.

![image](https://user-images.githubusercontent.com/58762114/119392721-1e0daf00-bc9e-11eb-9b61-98bd28eca2e7.png)

We also have [Quickstart for Bash in Azure Cloud Shell](https://docs.microsoft.com/en-us/azure/cloud-shell/quickstart) that encourages t

[2021-05-24 19:04] qinxgit opened #18200 "Is it possible to add new baked script in the list of commands?"
[Enter feedback here]

Is it possible to add new baked script in the list of commands?
If I have a list of commands I want to run, it would be very helpful if I can have them in the list and execute later to do some diagnostics. The reason of having a list is that we don't want support engineers being able to run anything on the VM, only in allowed list.
---
#### Document Details

⚠ *Do not edit t

[2021-05-24 20:59] schnerring opened #18201 "Add `--user-data` option to `az vm create` and `az vmss create`"
## Description of the new feature

Azure Portal supports that feature:

![image](https://user-images.githubusercontent.com/3743342/119405744-482c9480-bcd1-11eb-8a64-d42af27dd7db.png)

[And so do ARM templates](https://docs.microsoft.com/en-us/azure/virtual-machines/user-data#create-user-data-for-azure-vmvmss)

I couldn't find an issue regarding that feature for the Azure CLI, though.

## Proposed

[2021-05-24 21:17] urlichLivonian opened #18202 "az interactive stop working after last upgrade"
##  The bug description

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior.

- `az interactive`

## Expected Behavior
- just works

## Environment Summary
[code]
## Additional Context

[2021-05-25 00:51] yonzhan commented on #18197
route to service team

[2021-05-25 00:52] yonzhan commented on #18198
route to service team

[2021-05-25 00:55] yonzhan commented on #18199
@jiasli for awareness

[2021-05-25 00:58] yonzhan commented on #18200
Compute

[2021-05-25 01:03] yonzhan commented on #18202
interactive

[2021-05-25 01:05] yonzhan commented on #18201
Compute

[2021-05-25 01:33] namlai000 commented on #18153
Sorry i could not show because it's belong to my customer and i do not have permission to run command on it

[2021-05-25 01:51] Juliehzl commented on #18153
@namlai000 I am guessing your customer is not in public cloud. I have checked with Storage Service team, and the new API version is already deployed to public cloud. To resolve the issue, there are two options:
1. Check cloud information with customer and check if the new api version supported in his cloud. If not, need to upgrade to new api  version.
2. If it is hard to change cloud env, you coul

[2021-05-25 02:36] Juliehzl commented on #16928
Hi @tkent, if they are in the same tenant, there should be no issue.

[2021-05-25 02:38] mythkapo opened #18207 "not able to install in WSL"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2021-05-25 03:07] BigCat20196 opened #18208 "The parameter '--keyvault' is invalid and an error will be reported in `az batch account create`"
**Describe the bug**

When I execute this command, I get the following error.

`Azure Error: InvalidKeyVaultReference
Message: The specified Key Vault reference is invalid.
RequestId:23249e92-4412-4740-a95e-25e5e8ec67b2
Time:2021-05-25T03:00:29.4081165Z
Target: BatchAccount
Exception Details:
        Error Code: Reason
        Message: The specified Key Vault /subscriptions/0b1f6471-1bf0-4dda-aec3

[2021-05-25 03:11] BigCat20196 commented on #18208
Then I create batch account through portal and specify keyvault, and the result is still failed.

I guess this may be because keyvault does not have access policies. After that, I check all permissions and still prompt that there are no permissions. I wonder if this feature was broken in an upgrade.

[2021-05-25 03:12] Kotasudhakarreddy commented on #18179
@panchagnula . looks like this is similar issue as #18075 . It is `Deserialization` failure for `SiteConfigResource` model. [here ](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L1652)is the code block for the same.
I think this is a breaking change form SDK update.

[2021-05-25 03:47] #17847 closed

[2021-05-25 03:47] #17848 closed

[2021-05-25 04:00] benjamin-goldman commented on #18125
Quick question:  how is fixing what is clearly a bug a "feature-request" now?

[2021-05-25 04:26] yonzhan commented on #18207
@jiasli for awareness

[2021-05-25 04:31] yonzhan commented on #18208
route to service team

[2021-05-25 06:30] roycornelissen commented on #18116
@yonzhan @apawast @fabiocav any update? We're unable to perform any action related to user assigned managed identities with the latest Azure CLI.

[2021-05-25 06:59] surexxx commented on #11981
@dbradish-microsoft I understand your answer, but... I don't find the page you attached from the Prerequisits. Where can I find it?
On page where the 'az resource create' command (and the other commands) is described there are no Prerequisits and thats why developers (like me) who just want to script some task in Azure don't know exactly what to use Bash or PowerShell. It would be really helpful i

[2021-05-25 07:25] IgnacioAlvarezArenas commented on #14573
is there any update on this? It seemed we started to get some progress but it all stopped :).

[2021-05-25 07:57] Juliehzl commented on #18192
your question is for terraform. Please create issue in https://github.com/terraform-providers/terraform-provider-azurerm

[2021-05-25 08:04] urlichLivonian commented on #18202
By the way, I've noticed that the same bug occurs in shell.azure.com (bash)

##  Environment Summary
Linux-5.4.0-1047-azure-x86_64-with-debian-10.2 (Cloud Shell)
Python 3.6.10
Installer: DEB

Python location '/opt/az/bin/python3'
Extensions system directory '/opt/az/lib/python3.6/site-packages/azure-cli-extensions'

azure-cli 2.23.0
core 2.23.0
telemetry 1.0.6

Extensions:
interactive 0.4.4
ai-exa

[2021-05-25 08:13] #18192 closed

[2021-05-25 08:50] #18180 closed

[2021-05-25 08:52] ThomasVandenbon opened #18211 "Resources created using an ARM template are not visible in the az CLI"
## Describe the bug

**Command Name**
`az resource list`

I've create resources via an ARM template using Azure Devops.
After the deployment has completed, I (locally) run `az resource list` (with the correct login and account).
I then notice that in the results a lot of resources are missing that are visible in the resource group in the portal.

Note: `az cosmosdb list` or `az storage account lis

[2021-05-25 08:54] amar132 opened #18212 "Azure FunctionApp slot create failure."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment slot create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment slot create --name {} --

[2021-05-25 09:03] ThomasVandenbon commented on #18211
I've tested this again with an Azure Storage account.
The storage account is:
- invisible using `az storage account list`
- visible using:
  - The portal
  - Or when using `az storage account show --ids /subscriptions/.../resourceGroups/.../providers/Microsoft.Storage/storageAccounts/...`

Note: even though `az storage account show` could show the account, `az storage account list` still returns `

[2021-05-25 09:15] yonzhan commented on #18212
route to service team

[2021-05-25 09:16] yonzhan commented on #18211
ARM

[2021-05-25 09:23] zhoxing-ms commented on #18211
On CLI side, the `az resource list` command has no filtering logic, so it should be a service issue.

[2021-05-25 09:37] jiasli commented on #18207
Please share the error message you are seeing to help us troubleshoot.

[2021-05-25 10:12] jiasli commented on #18199
Looks like you have some permission issue with your system:

[code]

[code]

Could you check if you can open these files?

[code]

Also, what is the result if you manually create them following https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt#option-2-step-by-step-installation-instructions

[code]

[code]

[2021-05-25 10:19] SiebeDev commented on #18135
Hi, yes my bad indeed. I used the ubuntu native version.
`apt install ` instead of following the instructions on the docs website.

[2021-05-25 10:19] #18135 closed

[2021-05-25 10:44] ThomasVandenbon commented on #18211
FYI, nearly 3 hours after deploying the resources are still not visible via the AZ CLI `list` commands (e.g. `az resource list`, `az cosmosdb list`, `az storage account list`).

Also, after having created a dummy cosmosdb account, I could see the Cosmos DB account that was deployed via ARM in the azure CLI. After deleting this dummy cosmosdb account (but not the cosmosdb account that was deployed

[2021-05-25 11:33] entrustfunding-dev opened #18214 "Can't connect with az container exec on some containers"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I can connect using Connect at portal.azure.com.

I can connect to some other Containers using az container exec. The only thing that I'm noticing is the container instances I can't connect to are running in eastus.

  File "/usr/local/Cellar/azure-cli/2.23.0/libexec/lib/python3.8/site-packages/azure/cli/comma

[2021-05-25 11:43] entrustfunding-dev commented on #18214
decoding data for the write seems to fix this /usr/local/Cellar/azure-cli/2.23.0/libexec/lib/python3.8/site-packages/azure/cli/command_modules/container/custom.py

sys.stdout.write(data.decode("utf-8"))

For the Homebrew install

[2021-05-25 11:48] cloudssty commented on #18199
hi, thank you for the quick response!

File content:
[code]
the second file gives me some non-human readable symbols:
[code]
I end up with the following after running Option 2:
[code]

Full logs:
[code]

[2021-05-25 11:51] rozek1szymon commented on #11871
I have same problem as @fouufi has

[2021-05-25 11:52] cloudssty commented on #18199
Even if I delete those two files before running option 2 I still get the same error at the end. Full logs

[code]

[2021-05-25 12:19] cha000 commented on #7368
Why is it always such a fight to get Microsoft to support their own products? I just tried installing the cli yesterday and had the same result as OP 2 1/2 years later. I was trying to use the Az cli version of Bicep (which also isn't supported) and it **STILL** installs an incompatible version.

[2021-05-25 12:21] yonzhan commented on #18214
route to service team

[2021-05-25 12:51] jiasli commented on #18199
I found this link https://answers.launchpad.net/ubuntu/+question/664447 which is similar.  Could you check the permissions?

It look like this on my WSL 2 Ubuntu 20.04:

[code]

If the permission is incorrect, run

[code]

Besides, have you run `umask` before which changes file permissions on creation?

[code]

[2021-05-25 13:22] roycornelissen commented on #18116
We just received the new update version `2.24.0` and it fixes the issues with managed identities. Hopefully the Azure build agents are updated soon.

[2021-05-25 13:31] mpowrie opened #18215 "az storage entity query --accept always returns none"
az storage entity query --accept does not appear to work.

Regardless of whether the --accept parameter is set to full, minimal or none, the output is returned as if -accept was set to none.

e.g. if --accept is set to full, this snippet is returned:
[code]
instead of this:
{
    "odata.metadata": "https://myaccount.table.core.windows.net/$metadata#mytable",
    "value": [
        {
            "o

[2021-05-25 14:46] cloudssty commented on #18199
Thank you so much @jiasli you've really saved the day!

Indeed the perms on the microsoft.gpg file was incorrect: I had `rw-r----- 1` instead of `-rw-r--r-- 1`. Running your chmod command and then running through the steps in Option 2 fixed things 🎉

[2021-05-25 14:49] cloudssty commented on #18199
I don't recall ever having run umask before but others who have access to my machine may well have 🤔

[2021-05-25 16:51] mkunze8187 opened #18216 "WebApp:az webapp config ssl list not returning list of certificates on the resource group"
using the command "az webapp config ssl list --resource-group <resourcegroup-name> returns an empty array  when there is a certificate imported to that resource group.

From my desktop:

[code]

Output using the --debug flag:
[code]

I am seeing the same issues from the cloud shell in the Azure Portal.

Azure Version (same versions on both my desktop and the cloud shell session):
[code]
An interes

[2021-05-25 17:03] eugene-cp opened #18217 "Error when assigning User Managed Identity to FunctionApp"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp identity assign`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp identity assign --identities {} --name {}`

[2021-05-25 17:44] jlichwa commented on #18178
Duplicate https://github.com/Azure/azure-rest-api-specs/issues/11962#issuecomment-827181465 #please-close

[2021-05-25 17:55] #18178 closed

[2021-05-25 18:26] dapt1989 opened #18219 "K8s Extension failing due to AttributeError: 'DeploymentsOperations' object has no attribute 'begin_create_or_update'"
In our project we use a Powershell script to construct an Azure environment, including an Azure Arc resource to deploy a kubernetes cluster. For the final step we set up azure monitor for containers using the the K8s Extension call. It's been working just fine for around 2-3 weeks, but recently we've been seeing failures in our script that are traced to this error:

File "/root/.azure/cliextension

[2021-05-25 18:33] Dave-0-0 opened #18220 "Can't create and assign a managed identity."
### **This is autogenerated. Please review and update as needed.**

## No identity is created. An error is produced instead. Attempting to follow the tutorial at "https://docs.microsoft.com/en-us/azure/key-vault/general/tutorial-net-create-vault-azure-web-app"  I have tried this with both PowerShell and Bash in the Azure portal.

**Command Name**
`az webapp identity assign`

**Errors:**
[code]

##

[2021-05-25 18:49] Mustaphazegaoula opened #18221 "Cannot run sudo az aks install-cli on Ubuntu 20_04"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2021-05-25 19:35] derkoe opened #18222 "Error on az connectedk8s connect: cannot import name '_psutil_linux' from partially initialized module 'psutil'"
## Describe the bug
When running ` az connectedk8s connect` I get an error on Linux (Fedora 34).

**Command Name**
` az connectedk8s connect`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Install extension `az extension add --name connectedk8s`
- Register K8s Cluster `az connectedk8

[2021-05-25 20:27] sarthakvijayvergiya opened #18223 "Error on creating VM from azure container instance using ARM template"
**Describe the bug**
az create group deployment exit without giving output result
**To Reproduce**
az deployment group create \
                        --resource-group "$RESOURCE_GROUP" \
                        --template-uri "https://aka.ms/iotedge-vm-deploy" \
                        --parameters dnsLabelPrefix="$PREFIX" \
                        --parameters adminUsername="$ADMIN_USER_NAME" \

[2021-05-25 21:07] aleksve commented on #18198
Possibly because of azure-cli package with version 2.0.81 provided by the universe repository, ref https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt

[2021-05-25 21:18] jwrightazure opened #18225 "please bring back az interactive"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2021-05-25 21:33] rjmccallumbigl opened #18226 "Repair script fails to find Resource Group even though the name is an exact match"
### Extension name (the extension in question)
az vm repair

### Description of issue (in as much detail as possible)
A colleague reached out and let me know when he ran az vm repair, it was unable to locate the Resource Group even though the name was accurate. The exact error was `(ResourceGroupNotFound) Resource group 'APP_SHARED_STAGE' could not be found.`

- Confirmed the context was correct w

[2021-05-25 21:38] rjmccallumbigl opened #18227 "Received error message when running script on unmanaged vm with --enable-nested param"
### Extension name (the extension in question)
az vm repair

### Description of issue (in as much detail as possible)
I created an unmanaged VM (Windows Server 2019 Datacenter). I ran the following to create a rescue vm for it with hyper-v: `az vm repair create --name unmanaged --resource-group unmanaged_group --enable-nested`. It failed with the error message `'NoneType' object has no attribute '

[2021-05-25 21:54] calvinsID opened #18228 "[AppService] Functionapp: move az functionapp devops-pipeline create to extension"
**Is your feature request related to a problem? Please describe.**
`az functionapp devops-pipeline create` command uses azure-functions-devops-build package, which pulls in vsts package and vsts package is very heavyweight

From email:
![image](https://user-images.githubusercontent.com/14339314/119573362-fb949800-bd68-11eb-9626-417cfbe497af.png)

It is suggested to move this command to an extensio

[2021-05-25 21:58] calvinsID commented on #14821
Created this item to track moving `az functionapp devops-pipeline create` command, which pulls in vsts package, to an extension to reduce weight: #18228

[2021-05-25 22:55] tkent commented on #16928
@Juliehzl

I don't know if you mean something specific when you say

But I can say that it's working now for. I assume something was fixed in the months since I originally filed this issue.

[2021-05-25 22:55] #16928 closed

[2021-05-25 23:20] yonzhan commented on #18216
route to service team

[2021-05-25 23:21] yonzhan commented on #18217
route to service team

[2021-05-25 23:36] TheOnlyWei opened #18229 "AzureStack Could Not Find Member 'enableCrossZoneUpgrade' and 'prioritizeUnhealthyInstances'"
**Describe the bug**
We are getting bad request error running Azure CLI version 2019-03-01-hybrid in an Azure Stack environment. The following is the error:

[code]

**To Reproduce**
1. Install Azure CLI.
2. Register:
[code]
3. Run the following command:
[code]
**Expected behavior**
Should not throw bad request error.

**Environment summary**
We are using the nightly builds:

https://aka.ms/Instal

[2021-05-26 00:13] yonzhan commented on #18219
route to service team

[2021-05-26 00:14] yonzhan commented on #18222
route to service team

[2021-05-26 00:15] yonzhan commented on #18220
route to service team

[2021-05-26 00:15] yonzhan commented on #18221
route to service team

[2021-05-26 00:17] yonzhan commented on #18223
ARM

[2021-05-26 00:21] yonzhan commented on #18225
interactive

[2021-05-26 00:26] yonzhan commented on #18226
compute

[2021-05-26 00:27] yonzhan commented on #18227
compute

[2021-05-26 00:29] yonzhan commented on #18228
route to service team

[2021-05-26 00:40] yonzhan commented on #18229
compute

[2021-05-26 01:16] mikeassel opened #18230 "az image copy to multiple locations not working"
I'm trying to copy an image to multiple locations using the following command:

### Command
[code]

I don't get any errors, but I do get the following output:
[code]
However, the resource group `image-copy-rg` is created, but it is empty and no new images are created.

### Expected Behavior
I was expecting to see the newly created images in the target resource group.

### Environment Summary
[code

[2021-05-26 02:20] jiasli commented on #18199
What is the result if you run `umask`? You may run `umask 022` to revert to default.

[2021-05-26 02:20] #18199 closed

[2021-05-26 02:54] qwordy commented on #18226
@swbae31 Could you have a look? Thanks.

[2021-05-26 03:19] yonzhan commented on #18227
@swbae31 Could you have a look? Thanks.

[2021-05-26 05:42] Juliehzl commented on #17846
Hi @szimmerMicrosoft, it is only supported for `vm create` not including `vmss create`, right?

[2021-05-26 06:05] qwordy commented on #18229
This issue was introduced in this [PR](https://github.com/Azure/azure-cli/pull/17580/files). I raised my [concern](https://github.com/Azure/azure-cli/pull/17580/files#r609362130) of this issue during PR review.

[2021-05-26 06:34] szimmerMicrosoft commented on #17846
disk deleteOption is currently only supported for vm, not for VMSS.

We do have the ability to configure it for VMSS on NICs. We could support that now, or we could wait for deleteOption support for both disks and NICs to be possible on VMSS.

Setting deleteOption on VMSS flex for NICs is probably a small minority choice so not a hard requirement now.

[2021-05-26 06:59] yonzhan commented on #18230
compute

[2021-05-26 07:12] xfz11 commented on #18229
Hi @TheOnlyWei, This error happened because your request's api version is old.
If you feel it urgent to fix the problem, the workaround is to use `az cloud set -n <cloud name> --profile latest `to update your CLI cloud profile.
Otherwise you have to wait for it be fix in next CLI release.

[2021-05-26 07:43] #11871 closed

[2021-05-26 08:03] ThomasVandenbon commented on #18211
I've just checked again (nearly 24 hours later):
- I can now see the cosmosdb and storage account resources via the azure CLI in powershell (using `az resource list`, `az cosmosdb list` and `az storage account list`)
- I can also see the resources in the "Delete resource group"-drawer

Since this is almost 24 hours later, it makes me think that there is a service running on a timer that checks if

[2021-05-26 08:27] yonzhan commented on #18211
ARM service team should look into this issue

[2021-05-26 08:55] Juliehzl commented on #17846
Hi @szimmerMicrosoft  One more thing to clarify is that for key=value format, the key is name or resource ID to use?

[2021-05-26 09:57] Kotasudhakarreddy commented on #18216
@mkunze8187 - Thanks for your feedback!. It is really strange to heard about the behavior. However I am unable to repro the issue at my end. I would like see the debug log for both the instance when you receive empty certs list first time & list of certs returned for `az webapp config ssl list` after `Get-AzWebAppCertificate` command execution.
And one more question do you observe the same behavio

[2021-05-26 10:32] pavel-kurnosov opened #18235 "az deployment group what-if is failing after release 2.24.0"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az deployment group what-if`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az deployment group what-if -f {} -p {} -g {}`

## Expected

[2021-05-26 10:40] mostafaasad opened #18236 "Unable to deploy web app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment source config-zip -g {} -n {

[2021-05-26 12:22] LuisFcoOrtiz commented on #12176
I did az login and the error persists... The Azure documentation is so bad.

[2021-05-26 12:22] carlosporter opened #18239 "Clarification regarding the parameter "--ids""
Hello,

The way the parameter "--ids" is documented, it's not clear if it refers to the resource id of a Network Security Group or the resource id for a NSG rule.

[code]

Also, the documentation indicates that "one or more" resource id values are allowed, does it mean that several NSG can be updated with a single command ?

---
#### Document Details

⚠ *Do not edit this section. It is required fo

[2021-05-26 12:49] elasticdotventures opened #18240 "--all should not be required to obtain valid -o json output"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
have one or more "Enabled":"false" subscriptions and run :

- `az account l

[2021-05-26 13:22] mkunze8187 commented on #18216
The debug output from 'az webapp config ssl list' before running 'Get-AzWebAppCertificate':  [debug.before.txt](https://github.com/Azure/azure-cli/files/6546864/debug.before.txt)

The debug output from 'az webapp config ssl list' before running 'Get-AzWebAppCertificate':  [debug.after.txt](https://github.com/Azure/azure-cli/files/6546863/debug.after.txt)

I am seeing similar behavior using bash cl

[2021-05-26 13:44] SagnikLahiri commented on #18226
Hello @rjmccallumbigl, I had faced a similar issue a while back and I wanted to know if you could also confirm the context using **"az account show"** instead of set-azcontext

[2021-05-26 14:03] dbradish-microsoft commented on #11981
@surexxx , Prerequisites are given in conceptual articles like [this one](https://docs.microsoft.com/en-us/azure/app-service/scripts/cli-deploy-ftp?toc=/cli/azure/toc.json).  I like your suggestion for the code block header, and I'll add it to my suggestions for a redesign that is currently being reviewed.

[2021-05-26 14:08] googlina opened #18241 "Getting error while creating postgres configuration to deploy django app on azure ubuntu vps"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az postgres up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az postgres up --resource-group {} --location {} --sku-name {} --server-n

[2021-05-26 14:18] jaredpar commented on #11871
@evelyn-ys how do get this fix so we can unblock these scenarios?

[2021-05-26 14:53] clerik commented on #17196
I upvote for that feature.

We are determining a few things from template parameters like the environment. Right now, I can't use the cli since it will always use the default settings.

Any news on this?

[2021-05-26 15:06] jhardy14 commented on #18095
Do you have any update on this?

[2021-05-26 15:11] sharebear opened #18242 "Unable to create diagnostic setting for Activity Log"
**Describe the bug**
I'm attempting to create a script to automate creation of diagnostic settings for Activity Log events but it is failing with the error message `'resource_group'`

**To Reproduce**
[code]

**Expected behavior**
Diagnostic setting is created correctly

**Environment summary**

[code]

**Additional context**
Actual output with debug info is the following

[code]

[2021-05-26 15:13] nodranael commented on #18235
Same behaviour here on Windows. It used to work before 2.24.0.

`--debug` shows the following :

[code]

[2021-05-26 15:22] yonzhan commented on #18236
route to service team

[2021-05-26 15:26] needuv commented on #18175
@anirbansaha96- trying to understand your scenario a bit more. From the information you've provided here, it seems like you already have some data, and you want to test your model against that data, which sounds like offline batch scoring. You can refer to the docs here: https://docs.microsoft.com/en-us/azure/machine-learning/tutorial-pipeline-batch-scoring-classification on how to do batch scorin

[2021-05-26 15:44] porrascarlos802018 opened #18243 "Setting nodepool Azure tags on AKS clusters with availability sets."
kindly update the documentation to inform users, tags are not supported on availability sets.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39fce7ab-ab56-44c6-b9a8-405444247a0b
* Version Independent ID: dabbb6c6-c616-a6ec-61f6-1b9d3bb069e8
* Content: [az aks nodepool](https://docs.microsoft.com/en-us/cli/azure/aks/nod

[2021-05-26 15:47] yonzhan commented on #18239
network

[2021-05-26 15:50] yonzhan commented on #18240
@jiasli for awareness

[2021-05-26 15:53] yonzhan commented on #18241
postgres up

[2021-05-26 15:58] yonzhan commented on #18243
route to service team

[2021-05-26 16:01] yonzhan commented on #18095
functionapp service team should look into this

[2021-05-26 16:02] yonzhan commented on #17196
pipelines service team should look into this.

[2021-05-26 16:41] szimmerMicrosoft commented on #17846
The only option for NICs parameter looking here https://github.com/Azure/azure-cli/blob/1ca212af5ec9e41847a628d1df27e87e411b7345/src/azure-cli/azure/cli/command_modules/vm/custom.py#L873

Appears to be resourceIds.

vmName is used as the singular NIC name if nic_type == new.

Using the name as resourceId if the user provides resource id makes sense.

If the NIC being created is implicit I don't se

[2021-05-26 17:13] jkpl opened #18245 "Creating NodeJS function app throws an error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp create`

**Errors:**
[code]

Note that I deliberately redacted the Azure Storage shared key details.

## To Reproduce:

- `az group create --name {} --location {}`
- `az storage account create --name {} --location {} --resource-group {} --sku Standard_LRS`
- `az functionapp cre

[2021-05-26 17:17] 180254 commented on #17760
A have got a response from Azure Support Engineer.

[code]

[2021-05-26 17:17] #17760 closed

[2021-05-26 17:35] jshinevar opened #18247 "az functionapp config appsettings set missing required parameters"
The documentation for az functionapp config appsettings set is missing the required parameters.  I think it is, at a minimum, --name and --resource-group

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 06e69fb3-f10c-98ac-0506-35d02f2a7481
* Version Independent ID: ad86610e-e20d-2c96-80fd-61c3d6e7f9ff
* Content: [az func

[2021-05-26 18:03] Jian-Huang-Dev opened #18248 "Az cli 2.24.0 break 'what-if' command"
Once az cli is updated to 2.24.0, then running 'az deployment sub what-if ..' command will get an error
'str' object has no attribute 'value'

Bug:

Image version
All microsoft hosted agents with az cli 2.24.0 installed

Expected behavior
If you choose a earlier version of az cli, for example 2.23.0, then the 'what-if' command runs successfully and gives you the expected results.

Actual behavior

[2021-05-26 18:54] carlosporter commented on #18239
@yonzhan,

So you mean that the --ids parameter refers to the resource Id of a network security group ?

[2021-05-26 18:54] TheOnlyWei opened #18249 ""az vm deallocate" and "az vmss stop" no longer returns anything."
**Describe the bug**

We noticed the following commands no longer return anything for the Azure Stack 2020-09-01-hybrid profile:

az vm deallocate -g $WlkVMRG -n $vmName
az vmss stop -n $vmssName -g $vmssRgName --instance-ids 1

This is a breaking change and we are wondering if this is an intended change and that we should be updating our tests to reflect such a breaking change. We are currently u

[2021-05-26 19:12] divyanshumehta commented on #18220
+1 facing this

[2021-05-26 19:25] DonaldAirey commented on #6142
I'm a consultant at a customer site.  The directory names have the user name built into the "C:\Users\don airey" and I have no control over the directory name and no option to build my scripts than this directory.  **This is still a bug.**  Ignoring it is not going to make it go away.

[2021-05-26 20:31] marlowp commented on #18219
Our project has also started seeing this error today. We're executing the following Azure CLI command using PowerShell from an azure-hosted agent:

[code]

Error message:
[code]

[2021-05-26 20:36] dejan-shuki opened #18250 "add private-subnet example"
[Enter feedback here]
Can you add example how to specify both name of private-subnet and range of IPs.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5e3ccf76-e4ff-16db-01c5-25a19798a58e
* Version Independent ID: d2ef04fc-c838-576e-9d40-729e30e2b3f4
* Content: [az databricks workspace](https://docs.microsoft.com/en-us/

[2021-05-26 21:34] alexeyshishkin01 opened #18251 "az container exec - does not work again - TypeError: write() argument must be str, not bytes"
**Describe the bug**

az container exec \

The command failed with an unexpected error. Here is the traceback:
write() argument must be str, not bytes
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 231, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line 6

[2021-05-26 21:37] swbae31 commented on #18227
ack. looking into it

[2021-05-26 23:17] wasker commented on #17975
Can be worked around with `az tag` command, which does the right thing.

`az resource tag` is broken though.

[2021-05-26 23:23] evelyn-ys commented on #11871
@jaredpar This will be released in [S188](https://github.com/Azure/azure-cli/milestone/106). Stay in tune and upgrade to new version after the release in 06/15/2021

[2021-05-27 00:13] jiasli commented on #12176
@LuisFcoOrtiz, the original error `AADSTS700082: The refresh token has expired due to inactivity` is caused by Conditional Access policy. I provided more info at https://github.com/Azure/azure-cli/issues/16641#issuecomment-767457267.

Are you seeing the same error? If not, could you create a new issue?

[2021-05-27 00:18] jiasli commented on #16641
Provided a more detailed explanation at https://github.com/Azure/azure-cli/issues/16209#issuecomment-787593844.

[2021-05-27 01:43] yonzhan commented on #18245
route to service team

[2021-05-27 01:44] Francisco-Gamino opened #18252 "Function app creation -- add two additional app settings (WEBSITE_CONTENTSHARE and WEBSITE_CONTENTAZUREFILECONNECTIONSTRING) for Linux Consumption apps"
During function app creation, please add the following two add settings before sending the request to the backend  for Linux Consumption apps:

"WEBSITE_CONTENTSHARE" - This is the share name. For more information, see
https://docs.microsoft.com/en-us/rest/api/storageservices/naming-and-referencing-shares--directories--files--and-metadata#share-names

"WEBSITE_CONTENTAZUREFILECONNECTIONSTRING" - T

[2021-05-27 01:45] Francisco-Gamino commented on #18252
Hello, could you please assign this issue to @gzuber? Thanks!

cc: @pragnagopa @AnatoliB @stefanushinardi @gzuber

[2021-05-27 01:47] yonzhan commented on #18247
route to service team

[2021-05-27 01:48] gzuber commented on #18252
Thanks @Francisco-Gamino, I'll take a look!

[2021-05-27 01:48] yonzhan commented on #18239
@kairu-ms will help with and I only triage this issue.

[2021-05-27 01:49] Francisco-Gamino commented on #18252
Thanks @gzuber!

[2021-05-27 01:50] yonzhan commented on #18248
route to service team

[2021-05-27 01:56] Juliehzl commented on #17846
We also could use existing nics and set deleteOption for them. Both name and resource id format are allowed for existing nics. If users provide name, we will format it to resource id:
https://github.com/Azure/azure-cli/blob/bc8fca8df0b9087e44381def0afc8fee7768083e/src/azure-cli/azure/cli/command_modules/vm/_validators.py#L960-L964

[2021-05-27 01:59] yonzhan commented on #18249
Compute

[2021-05-27 02:01] yonzhan commented on #18251
route to service team

[2021-05-27 02:24] kairu-ms commented on #18239
Hi @carlosporter,

`--ids` is a convenient way to assign `Resource Id Arguments` in CLI.
Let me use `az network nsg rule show` command as an example. In its help message attached below, the arguments in `Resource Id Arguments` except `--ids` are `--name`, `--nsg-name`, `--resource-group`, `--subscription`. So a valid value of `--ids` should contain all of the values, and only the id of `NSG rule`

[2021-05-27 02:24] #18239 closed

[2021-05-27 02:52] qwordy commented on #18229
@zhoxing-ms  We need to update following code. Add `if` statement of each parameter to check whether it is `None`.
https://github.com/Azure/azure-cli/blob/716b10f107c2e410967d7e09e21a0225c78e3cc8/src/azure-cli/azure/cli/command_modules/vm/_template_builder.py#L932-L939

[2021-05-27 02:58] kairu-ms commented on #18242
if you assign an resource id to  `--resource`, it should contain resource-group information in id such as "/subscriptions/.../resourcegroups/.../..."

[2021-05-27 03:17] szimmerMicrosoft commented on #17846
Oh great,so identifying those via name makes sense.

However the user specifies the NICs, using that as the key I think is sensible.

[2021-05-27 03:23] ctolkien opened #18253 "Create new security group in Azure AD"
Currently, `az ad group create`  mandates that you must provide a `mail-nickname`. This effectively means that you cannot create a security group.

In the AAD UI:
![image](https://user-images.githubusercontent.com/515955/119761172-b5694100-beee-11eb-9833-407174d5df96.png)

In the Powershell system, there is a boolean flag for "MailEnabled"

https://docs.microsoft.com/en-us/powershell/module/azurea

[2021-05-27 03:44] yonzhan commented on #17223
@roipmsft any feedback?

[2021-05-27 04:29] yonzhan commented on #18253
@jiasli for awareness

[2021-05-27 05:17] gzuber commented on #18139
Hi @ravitellakula sorry you ran into this -- can you try updating to 2.24.0? This should be fixed in that cli version

[2021-05-27 05:19] gzuber commented on #18247
@jshinevar Thanks for letting us know! I'll look into this and make sure required params are marked accordingly

[2021-05-27 05:21] gzuber commented on #18070
Thanks for reporting this! I'll look into what we need to do to support query params

[2021-05-27 05:21] zhoxing-ms commented on #18229
@qwordy Yes, that's what I thought~

[2021-05-27 05:23] gzuber commented on #18072
Thanks for reporting this -- I'll look into this ASAP and try to get a fix out

[2021-05-27 05:27] gzuber commented on #18080
Thanks for reporting this -- I'm tracking this across several github issues and am looking into getting a fix out ASAP. Sorry for the inconvenience.

[2021-05-27 05:29] gzuber commented on #18095
Hi @jhardy14 sorry you ran into this -- there are several issues related to this right now and I'm looking to get a fix out ASAP. Will try to update when I can

[2021-05-27 05:32] gzuber commented on #18116
Yes, we checked in a fix to 2.24.0. Sorry for the inconvenience. @yonzhan I think we can close this, thanks!

[2021-05-27 05:35] gzuber commented on #18124
Sorry you ran into this @sharebear -- we're working on getting this a fix out ASAP. @yonzhan I think we can close this as a dupe

[2021-05-27 05:38] gzuber commented on #18160
Hi @Andrew-netizen sorry you ran into this -- I'm currently looking into some issues we've seen with the `config-zip` command and will update the issue when I know more. Thanks for letting us know!

[2021-05-27 05:40] gzuber commented on #18186
Thanks for reporting this -- this seems like an odd one. I'll take a look and see if I can reproduce and figure out what's going on.

[2021-05-27 05:44] sharebear commented on #18242
@kairu-ms In the case of diagnostic settings for Activity Log the subscription _is_ the resource, there is no resource group involved.

If I create the diagnostic setting in the portal I can see the result like the following

[code]

The id field in the response (duplicated here for clarity) here has no resource group

[code]

[2021-05-27 05:45] gzuber commented on #18212
Thanks for reporting and sorry you ran into this @amar132. I'm tracking this across a few different issues right now and trying to get a fix out ASAP. Please refer to https://github.com/Azure/azure-cli/issues/18080 for updates. @yonzhan I think we can close this as a dupe, thanks!

[2021-05-27 05:46] gzuber commented on #18217
@eugene-cp sorry you ran into this -- can you try updating to 2.24.0? This should be fixed in that version of the CLI. Thanks!

[2021-05-27 05:49] gzuber commented on #18228
I'll take a look into this ASAP, thanks!

[2021-05-27 05:51] gzuber commented on #18245
Thanks for reporting this -- I'll take a look and see if I can reproduce

[2021-05-27 06:24] #18116 closed

[2021-05-27 06:25] #18124 closed

[2021-05-27 06:26] #18212 closed

[2021-05-27 06:32] kairu-ms commented on #18242
Thanks for your feedback. It's an edge case we should concern. We will fix it.

[2021-05-27 06:49] Juliehzl commented on #18129
Hi  @fitzgeraldsteele , could you help me understand `[--computer-name-prefix] //vmss flex has different validation rules`? What is the difference?

[2021-05-27 08:22] sharebear commented on #18242
In case this helps anyone else experiencing this it's possible to workaround by using the `rest` functionality of the CLI

[code]

[2021-05-27 10:25] gkgaurav31 opened #18255 "WebApp:--enable-app-service-storage does not seem to work on Azure WebApps"
**Environment Detail:**

az --version
azure-cli                         2.23.0 *

core                              2.23.0 *
telemetry                          1.0.6

Extensions:
ai-examples                        0.2.5
ssh                                0.1.5

**Repro Steps:**

az webapp config container set --docker-custom-image-name <image name> --name webappname --resource-group  resourcegroup

[2021-05-27 11:39] DailyTech commented on #13931
But PLease, what is the Powershell/CLI command line to specify it musst use the "latest" image ??? please what is it ?

[2021-05-27 11:40] DailyTech commented on #13931
New-AzVmss `
  -ResourceGroupName "TEstScaleSet" `
  -VMScaleSetName "TestScaleSet" `
  -Location "southafricanorth" `
  -VirtualNetworkName "TestVnet" `
  -SubnetName "TestSubnet" `
  -version "latest" `
  -PublicIpAddressName "TestPubIP" `
  -LoadBalancerName "TestLB" `
  -Credential $cred

[2021-05-27 11:40] DailyTech commented on #13931
Ive tried -imageversion "latest" ? and a few other, nothing seems to be valid ?

[2021-05-27 11:51] suvarna-03 opened #18256 "Az-cli command "az storage fs file move" not working with SAS token"
Issue Description:

Az-cli command "az storage fs file move"  not working with SAS token however same commands works with Access keys.

Doc for reference: https://docs.microsoft.com/en-us/cli/azure/storage/fs/file?view=azure-cli-latest

Steps to reproduce:

1.SAS generated from Portal

Command: az storage fs file move --new-path "fs1/fs11/vtestone.txt" -p "vtestone.txt" -f fs1 --account-name “accn

[2021-05-27 12:13] ohl-nemeses opened #18257 "Error executing: az vmss extension upgrade"
execution of `az vmss extension upgrade` fails completely and has no effect at all.

**Command Name**
`az vmss extension upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- No known prerequisites.
- `az vmss extension upgrade --name {} --subscription {} --resource-group {}`

## E

[2021-05-27 13:03] anirbansaha96 commented on #18193
@needuv Great thanks, this is what I wanted. Thanks for the doc.

[2021-05-27 13:03] #18193 closed

[2021-05-27 13:04] anirbansaha96 commented on #18175
I want real-time inferencing. In my score.py script, I want to refer to a Registered Dataset to get populate some values required for the solution.

[2021-05-27 13:43] LuisFcoOrtiz commented on #12176
@jiasli  Finally I could resolve it. The key was going to ( %HOMEPATH%/.azure/) and delete the azure-secret.json. And this works for me. Thanks for all!

[2021-05-27 13:45] mwebb4 opened #18258 "az ml ... command in Dev Ops does not install extension"
**Describe the bug**
As I understand from the docs (and as has been working up until sometime around last week), the CLI is supposed to automatically install the `ml` extension when it sees a command that references is. Within the Dev Ops pipeline, this must usually be prefaced by a config setting allowing for an install without prompt. This has been working for us for some time. However, recently

[2021-05-27 13:50] whites11 opened #18259 "`vmss disk attach` makes `latestModelApplied` become false"
## Describe the bug

**Command Name**
`az vmss disk attach --disk $diskid --lun $LUN --ids $INSTANCEID`

I have a VMSS with `health probes` and `Rolling` `Upgrade Policy`.
I attach a managed disk to one instance using `az vmss disk attach`.
The command succeeds and the disk gets attached as expected to the VMSS instance BUT:
- the instance's latest model applied flag becomes false
- the health sta

[2021-05-27 14:16] needuv commented on #18175
If this is a `FileDataset`, you can use either the `mount()` or `download()` functions of the `FileDataset` class: https://docs.microsoft.com/en-us/azure/machine-learning/how-to-create-register-datasets#explore-data to download or mount a dataset that you've already registered inside your scoring script. Here is the documentation for `FileDataset` for your reference: https://docs.microsoft.com/en-

[2021-05-27 14:55] yonzhan commented on #18255
route to service team

[2021-05-27 15:08] yonzhan commented on #18258
route to service team

[2021-05-27 15:10] yonzhan commented on #18257
Compute

[2021-05-27 15:11] yonzhan commented on #18256
storage

[2021-05-27 15:14] CodePrC commented on #6613
Hi Any updates on this issue, I am also facing the same

[2021-05-27 15:14] yonzhan commented on #18259
Compute

[2021-05-27 15:15] yonzhan commented on #6613
keyvault service team could help with this

[2021-05-27 15:52] lostmygithubaccount commented on #18258
hi @mwebb4, Azure ML has recently release the 2.0 CLI (article on that here): https://docs.microsoft.com/en-us/azure/machine-learning/how-to-train-cli

the default for the `ml` subgroup has been updated to the 2.0 `ml` extension - to mitigate this, you can instead install the `azure-cli-ml` extension (`az ml extension add -n azure-cli-ml -y`) in your pipeline(s) to use the 1.0 CLI

[2021-05-27 15:57] HueVang opened #18260 ""null" value for description"
Getting "null" value for the description when trying to add rule using "az network firewall policy rule-collection-group collection rule" command.

Reproduced and tried multiple times with the same result.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 51bc8847-2744-bb66-7b83-0518aa47536c
* Version Independent ID: c1c3

[2021-05-27 16:09] mwebb4 commented on #18258
Yes, I've since found that workaround.
It seems a strange behavior that the CLI neither recognizes nor installs either version of the `ml` extension - a breaking change for any Pipeline that was using it.

[2021-05-27 16:14] lostmygithubaccount commented on #18258
I am seeing a prompt to install the extension on a fresh codespace:

![image](https://user-images.githubusercontent.com/54814569/119861023-c81e4e80-becb-11eb-993c-1fe052d19ba5.png)

regardless you are correct that this is a breaking change for any pipeline which was relying on the `azure-cli-ml` extension being installed

[2021-05-27 16:22] mwebb4 commented on #18258
For sure. Per the original post, the Dev Ops build agents only generate the error: `'ml' is misspelled or not recognized by the system.` - which, as I understand from the docs, should never happen. It should attempt to install some version.

[2021-05-27 16:27] msftradford opened #18262 "azure-cli 2.24.0 writes to STDERR"
**Describe the bug**
We have been deploying to MS-hosted agents without issue. It looks like some of the agents started picking up azure-cli v2.24.0 recently and our deployments now fail with: `2021-05-26T21:13:12.9875423Z ##[error]Script failed with error: Error: The process 'D:\a\_temp\azureclitaskscript1622063412668.bat' failed because one or more lines were written to the STDERR stream
2021-05

[2021-05-27 18:07] tomasgiden opened #18263 "ac aks check-acr crash"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks check-acr`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks check-acr --name {} --resource-group {} --acr {}`

## Expected B

[2021-05-27 18:53] ayadiwork commented on #15027
Hey folks,
I also noticed that when the title of the openapi is set in code (dotnet core) :
`new OpenApiInfo { Title = "A title here"}; `
Any update about this?

[2021-05-27 20:18] swbae31 commented on #18226
acked. Looking into it .

[2021-05-27 20:36] msftradford commented on #18262
I ended up piping the errors to a file and this definitely happens on a call to `az container create`. I'm attaching the output of the error pipe and it looks like just a single empty line logged to STDERR
[container_create - Example.log](https://github.com/Azure/azure-cli/files/6556662/container_create.-.Example.log)

[2021-05-27 21:01] msftradford commented on #18262
Reverted my local version to azure-cli 2.23 and re-ran the exact same command and nothing was written to STDERR. Cannot attach the log file produced by the STDERR pipe on the container create command because it is just an empty file. This is different than v2.24 where there is a single empty line in the file.

[2021-05-27 21:40] jonathancisneros opened #18264 "'az storage account network-rule add' does not support secure transfer policy"
My Azure Storage account has "Secure transfer required" enabled and also the Firewall is. I need to access the storage from a build agent, and for this, I need to add the current agent IP in the storage Firewall, so I am running the following command:
`az storage account network-rule add -g myRG --account-name myStorage --ip-address 123.123.123`

But it is failing with the following error:
[code]

[2021-05-27 22:18] msftradford commented on #18262
Enabled --debug on the create command and did the same test with the two versions. Interestingly enough, there is an extra empty line in the error log for v2.24 that is not in v2.23. The line appears after the response content from a PUT with request url: 'https://management.azure.com/subscriptions/{SUBSCRIPTION_ID}/resourceGroups/{RESOURCE_GROUP}/providers/Microsoft.ContainerInstance/containerGro

[2021-05-28 00:38] yonzhan commented on #18260
network

[2021-05-28 00:43] yonzhan commented on #18263
route to service team

[2021-05-28 00:45] yonzhan commented on #18264
storage

[2021-05-28 00:46] yonzhan commented on #18262
route to service team

[2021-05-28 02:07] jspiva opened #18265 "WebApp:azure-cli 2.24.0 az webapp config appsettings set Settings file with KeyVault references sets 'False' as value"
Calling 'az webapp config appsettings set' at cli version 2.24.0, with a json setting file, containing key vault references sets 'False' instead of the reference value.

For the this file example...
[code]

az webapp config appsettings set --name <WebAppName> --resource-group <ResourceGroupName> --settings @JsonFileName.json

The call using 2.24.0 returns the following result:
[code]
Note the KeyV

[2021-05-28 02:13] zhoxing-ms commented on #13931
@DailyTech Hi, the command you give is PowerShell command. If it is a problem related to Azure PowerShell, please submit it to https://github.com/Azure/azure-powershell/issues

In addition, may I ask does CLI also have this issue? If so, please add `--debug` after the executed CLI command, and then send the printed information to me. My email address is Zhou.Xing@microsoft.com

[2021-05-28 02:31] yonzhan commented on #18265
route to service team

[2021-05-28 02:43] tringuyen-yw commented on #18178
@jlichwa  instead of closing, it it possible to convert this issue into a feature request?

[2021-05-28 02:55] jlichwa commented on #18178
@tringuyen-yw CLI team cannot do anything without feature first implemented by a service: link above. Once service supports we always release it to all clients, so no need to create issue for each client

[2021-05-28 03:02] tringuyen-yw commented on #18178
It seems that it is already working with RESP API. Can you run the `curl` example I wrote in the **Expected Behavior** section?

[2021-05-28 03:03] jlichwa commented on #18178
@tringuyen-yw it is for internal use only and not supported.

[2021-05-28 03:13] #18105 closed

[2021-05-28 03:25] kairu-ms commented on #18260
@HueVang Thanks for your feedback. It's caused by the loss of `description` property in service response.

[2021-05-28 03:52] stuartatmicrosoft commented on #18222
Linux stkirk-fedora 5.12.6-300.fc34.x86_64 #1 SMP Sat May 22 20:42:55 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
Fedora release 34 (Thirty Four)
azure-cli                         2.24.0
core                              2.24.0
telemetry                          1.0.6

Extensions:
k8s-extension-private             0.2.1b2
connectedk8s                       1.1.5

I have also experienced the exact same

[2021-05-28 03:57] kairu-ms commented on #17953
SourceAddresses modification is not supported by command level. CLI provide the support to update nested property by [JMESPath](http://jmespath.org/) query string. And "ruleCollections[name=rule-collection-name].rules[name=rule-name].sourceAddresses" is the property query string.

[2021-05-28 03:57] #17953 closed

[2021-05-28 04:03] cannehag commented on #18080
@gzuber 2.23.0 was the version where the problems started. 2.24.0 is the solution

[2021-05-28 04:21] Bytezart opened #18266 "WebApp:webapp config appsettings set command causing all values to default to "false" in version 2.24.0"
**Describe the bug**
When executing the webapp config appsettings set command the result Application Settings in the WebApp Configuration value is set to false for each setting defined in the settings array.

**To Reproduce**
Executing the following will cause the all setting values to be set to false and not the value defined for the parameter.

JSON Settings Example
[
    {
        "slotSetting"

[2021-05-28 05:12] jiasli commented on #12176
`azure-secret.json` is not used by Azure CLI but `azure-maven-plugins` (https://github.com/microsoft/azure-maven-plugins/issues/705). If you can reproduce it, please create a new issue and share the error message. Thanks.

[2021-05-28 05:21] panchagnula commented on #18255
This looks like an upsetting have you tried this command instead az webapp config appsettings set -g MyResourceGroup -n MyUniqueApp --settings WEBSITES_ENABLE_APP_SERVICE_STORAGE=true

[2021-05-28 05:25] panchagnula commented on #18255
@gkgaurav31 as per the Output you posted as this? {
"name": "WEBSITES_ENABLE_APP_SERVICE_STORAGE",
"slotSetting": false,
"value": "true"
},

Where do you see the value is still false?  what do you get if you run  https://docs.microsoft.com/en-us/cli/azure/webapp/config/container?view=azure-cli-latest#az_webapp_config_container_show

[2021-05-28 05:29] panchagnula commented on #18220
Please use the latest version 2.24.0, this is fixed with this version.

[2021-05-28 05:29] #18220 closed

[2021-05-28 05:32] gkgaurav31 commented on #18255
The value is still false if we check AppSettings on Azure Portal.

Example:

<Running the commands from Cloud Shell>

gaurav@Azure:~$ az webapp config container set --docker-custom-image-name nginx --name WebAppName --resource-group  ResourceGroupName --enable-app-service-storage true
[
  {
    "name": "**WEBSITES_ENABLE_APP_SERVICE_STORAGE**",
    "slotSetting": false,
    "value": "**true**"
  }

[2021-05-28 05:57] aim-for-better commented on #16815
Hi @qwordy Could you please remove our service's tag?

[2021-05-28 06:12] yonzhan commented on #18266
route to service team

[2021-05-28 06:15] kairu-ms commented on #17911
I've create a PR for this. It will be released in next version.

[2021-05-28 06:19] fitzgeraldsteele commented on #18129
Opened a Teams chat with the dev team

[2021-05-28 06:20] kairu-ms commented on #17911
CLI is stilling missing following private links. @00Kai0, can you add tests for following providers.
- "Microsoft.Batch/batchAccounts"
- "Microsoft.Cache/redisEnterprise"
- "Microsoft.Media/mediaservices"
- "Microsoft.Migrate/assessmentProjects"
- "Microsoft.Migrate/migrateProjects"
- "Microsoft.OffAzure/masterSites"
- "Microsoft.Purview/accounts"
- "Microsoft.ServiceBus/namespaces"
- "Microsoft.S

[2021-05-28 07:00] Kotasudhakarreddy commented on #18265
Duplicate of #18266

[2021-05-28 07:00] #18265 closed

[2021-05-28 07:04] Kotasudhakarreddy commented on #18266
Able to repro the issue.

[2021-05-28 07:08] Kotasudhakarreddy commented on #18266
Fix has been given. As a workaround please try setting an individual setting as follows.

To add a setting:
--------------------
`az webapp config appsettings set -g MyResourceGroup -n MyUniqueApp --settings WEBSITE_NODE_DEFAULT_VERSION=6.9.1`

To Make slot setting:
------------------------
`az webapp config appsettings set -g MyResourceGroup -n MyUniqueApp --slot-settings WEBSITE_NODE_DEFAULT_VER

[2021-05-28 07:27] MathiasVandePol opened #18270 "Add an existing AAD group to an Azure DevOps group - Missing scope parameter"
The example where an AAD group is added to a group is incorrect and should have the --scope parameter added

####  Add an existing AAD group to an Azure DevOps group
[code]

to

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5d299d5c-fb22-d3e9-11b8-17a92ac580e8
* Version Independent ID: 0a87519a-507e-14b4-ca02-3b

[2021-05-28 07:33] zhoxing-ms commented on #18249
This problem is caused by the change of Python SDK in the new api-version.

1. When building `ARMPolling`, there is no declaration of `lro_options={'final-state-via': 'azure-async-operation'}` in the SDK of new api-version, so `LocationPolling` will be executed once at the last time to send out an additional polling request containing `monitor=true` parameter.

The code of new api-version: [code l

[2021-05-28 07:46] anirbansaha96 opened #18271 "Does a AzureML webservice overwrite reset the Data Collection Dataset?"
If we have an AzureML web service endpoint that is collecting data (for Data Drift Monitoring), does overwriting the web service endpoint with a new version of the model break links with the Dataset registered for collecting data.

The relative path to this dataset is:
`<Subscription-ID>/<Resource-Group>/<Workspace>/<Webservice-Name>/<model-name>/<version>/inputs/**/inputs*.csv`

If we redeploy a

[2021-05-28 07:51] zackliu commented on #17804
I think it's the problem of powershell. I tried on CMD or Linux Bash, and both are work fine

[2021-05-28 08:00] anirbansaha96 opened #18272 "Does az ml model deploy --overwrite or az ml service update temporarily put the service into transitioning/ unhealthy state?"
When we update a webservice endpoint, using `az ml model deploy .... --overwrite` or `az ml service update ...`, does it temporarily go out of service?
Since AKS is managed Kubernetes cluster, does Azure ensure zero down-time by managing pods by updating them to ensure it is always up and running?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitH

[2021-05-28 08:05] pascal-hauser commented on #17371
According to MS Support, this is an issue, but it is a preview feature. [Add Azure Storage (container) - Azure App Service | Microsoft Docs](https://docs.microsoft.com/en-us/azure/app-service/configure-connect-to-azure-storage?pivots=container-linux)

[2021-05-28 09:20] yonzhan commented on #18270
route to service team

[2021-05-28 09:21] yonzhan commented on #18271
route to service team

[2021-05-28 09:23] yonzhan commented on #18272
route to service team

[2021-05-28 09:23] ghelyar opened #18275 "az container exec fails with python websocket error in Azure DevOps hosted agent"
## Describe the bug

**Command Name**
`az container exec`

**Errors:**
[code]
Unfortunately, that's the entire error.

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[code]

## Expected Behavior

## Environment Summary
Azure DevOps hosted agent: [windows-2019](https://github.com/actions/virtual-environment

[2021-05-28 09:29] yonzhan commented on #18275
route to service team

[2021-05-28 09:30] ghelyar opened #18276 "`az container create` fails with `AttributeError: 'ResourcesOperations' object has no attribute 'create_or_update'`"
## Describe the bug

**Command Name**
`az container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[code]

## Expected Behavior

## Environment Summary
Azure DevOps hosted agent: [windows-2019](https://github.com/actions/virtual-environments/tree/main/images/win)
[code]
## Addi

[2021-05-28 09:31] yonzhan commented on #18276
route to service team

[2021-05-28 11:18] dallmair commented on #18248
This seems to be a duplicate of #18235.

[2021-05-28 11:37] moarychan opened #18278 "Error occurred in request., InvalidSchema: No connection adapters were found & The Publisher: 'azul' does not make available Offer"
**Describe the bug**

I refer to this document [Secure Spring Boot apps using Azure Key Vault certificates](https://docs.microsoft.com/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-key-vault-certificates) for experiment
I use these commands to create a VM, then found the following error:
- Error occurred in request., InvalidSchema: No connection adapters w

[2021-05-28 12:12] x4FF3 opened #18279 "cant login after python update on debian buster"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2021-05-28 13:03] LiliamLeme opened #18280 "If the storage is behind the firewall the syntax change"
[Enter feedback here]

Please add on the doc. < feedback from PG ICM 240599162>
If the storage is behind the firewall only this syntax will work:

az synapse sql audit-policy update --resource-group **resourcegroupame** --workspace-name **workspacename** --state Enabled --storage-endpoint https://**StorageAccount**.blob.core.windows.net --storage-key ""

---
#### Document Details

⚠ *Do not edit t

[2021-05-28 14:45] Omig12 opened #18281 "Problem creating and managing certificates and keyvaults"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault certificate list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault certificate list`

## Expected Behavior

A list

[2021-05-28 14:47] yonzhan commented on #18278
Compute

[2021-05-28 14:48] yonzhan commented on #18279
@jiasli for awareness

[2021-05-28 14:50] yonzhan commented on #18280
route to service team

[2021-05-28 15:27] yonzhan commented on #18250
route to service team

[2021-05-28 15:37] coelho5br commented on #18216
@panchagnula
I got an IcM on that and it seems to be caused by the issue we saw yesterday.

[2021-05-28 15:43] Ankit191095 commented on #9356
Hi

I am getting "unrecognized arguments: -–subscription <subid>" error while executing the command :
az iot edge set-modules --hub-name "RtcvHub" --device-id "RtcvEdgeDevice" --content DeploymentManifest.json -–subscription "<my subscription ID>"
My current Azure CLI version is 2.23.0

[2021-05-28 15:45] mariuszdotnet commented on #18248
This is causing PROD issues for customers who are doing what-if as part of their CI/CD with ADO hosted agents..

[2021-05-28 16:58] surendrakongurootu opened #18282 "When in specific Azure subscription, resource filter result list displays resources from other subscriptions too."
When in specific Azure subscription, resource filter result list displays resources from other subscriptions too. It will be helpful if it display resource specific to selected subscription.

In Azure Portal, when multiple subscriptions are present. You can reproduce this by selection of one subscription and filter for specific resource.

**Expected behavior**
It will be helpful if it display reso

[2021-05-28 17:04] HueVang commented on #18260
Thank you @kairu-ms !
Is there an ETA for this fix by any chance?

[2021-05-28 18:16] yusufola opened #18284 "Error when using azure cli to encrypt a key using azure key vault"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token -o {} --resource {}`

## Expecte

[2021-05-28 18:17] panchagnula commented on #18255
@gkgaurav31 can you try the latest version of CLI azure-cli 2.24.0 wasn't able to repro this with latest changes. Thanks!

[2021-05-28 19:25] gkgaurav31 commented on #18255
I see similar behavior with the latest version as well.

[
  {
    "name": "WEBSITES_ENABLE_APP_SERVICE_STORAGE",
    "slotSetting": false,
    "value": "**true**"
  },
  {
    "name": "DOCKER_CUSTOM_IMAGE_NAME",
    "value": "DOCKER|nginx"
  }
]

[
  {
    "name": "WEBSITES_ENABLE_APP_SERVICE_STORAGE",
    "slotSetting": false,
    "value": "**false**"
  },
  {
    "name": "DOCKER_CUSTOM_IMAGE_NA

[2021-05-28 19:29] panchagnula commented on #18255
I see thanks I guess since I was using the single parameter only in my command I couldn't repro this. Thank you for the extra pointers

[2021-05-28 19:52] olevenkov-m opened #18285 "Vault issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault key show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault key show --name {} --vault-name {} --query {}`

## Expe

[2021-05-28 20:28] mgroetan opened #18286 "Version 2.24.0 corrupts appsettings when importing from a JSON file containing a "slotSetting" property - the workaround causes a potentially breaking change for Azure DevOps hosted agents still running version 2.23.0"
## Describe the bug
When using the 2.24.0 version to import appsettings from a JSON file, all appsettings are set to "False" if the JSON contains the "slotSetting" property.

It **HAS** a confirmed workaround for version 2.24.0, but it is a **BREAKING CHANGE** compared to version 2.23.0, when in context of an Azure DevOps release pipeline running on a hosted agent. The current situation, as of 28t

[2021-05-28 21:26] #18284 closed

[2021-05-28 21:29] mgroetan commented on #18286
Oh, just realized that this is a duplicate of #18266. But I hope that the added context I gave was useful to someone.

[2021-05-28 21:29] #18286 closed

[2021-05-28 21:38] mgroetan commented on #18266
In light of my duplicate issue over at #18286, it’s worth noting that the suggested workaround here to directly update individual appsettings (or collections of them), rather than bundling many in a single JSON file is not always a very practical approach. That’s what we used to do before starting to use an intermediate JSON file instead. The reason being that for readability in the script, we ten

[2021-05-29 00:07] sarthakvijayvergiya commented on #18223
@yonzhan Is this a bug?
If yes then when can we expect a fix ?

[2021-05-29 02:31] yonzhan commented on #18282
Since not Azure CLI issue.

[2021-05-29 02:31] #18282 closed

[2021-05-29 02:31] yonzhan commented on #18260
network service team should look into this

[2021-05-29 02:36] yonzhan commented on #18285
keyvault

[2021-05-29 02:47] yonzhan commented on #18223
@zhoxing-ms will take a look

[2021-05-29 03:06] zhoxing-ms commented on #18235
@shenglol Hi, may I ask is this PR https://github.com/Azure/azure-cli/pull/18244/files to fix this issue? If so, please add this issue link in your PR.

[2021-05-29 03:38] zhoxing-ms commented on #18223
@sarthakvijayvergiya Hi, at present, the command `az deployment create` can output the result normally in my side, but there is a parameter `--query` which will filter the original result. So it may be because the output result does not meet the data required by `--query 'properties.outputs."public SSH".value'`

Could you please add the parameter `--debug` after the executed command and send the p

[2021-05-29 06:58] CodePrC commented on #6613
One solution is to use
npm install -g azure-cli

[2021-05-29 10:49] mauve opened #18289 "Cannot delete roleAssignment because of invalid api-version"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role assignment delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az role assignment delete --subscription {} --ids {}`

## Expe

[2021-05-29 10:51] SecDWizar opened #18290 "az container create --file doesn't work (2.24.0)"
**Describe the bug**
az container create --file doesn't work  on version 2.24.0, without --file it does, on 2.22.1 --file does work
[code]

**To Reproduce**
try any of the reference yaml in the docs with 2.24.0 version

**Expected behavior**
aci deployment

**Environment summary**
Windows, regular installer

**Additional context**

[2021-05-29 15:07] yonzhan commented on #18289
@jiasli for awareness

[2021-05-29 15:08] yonzhan commented on #18290
route to service team

[2021-05-29 16:21] GulsahG opened #18291 "Az Container Create Returning Error: " 'ResourcesOperations' object has no attribute 'create_or_update' ""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container create --resource-group {} --file {}`

## Expected Beha

[2021-05-29 17:29] dimbleby opened #18292 "`az storage account or-policy` broken at 2.24.0"
## Describe the bug

**Command Name**
[code]
**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[code]
## Expected Behavior

As at 2.24.0, this creates the wrong thing, as can be seen by inspecting the result:
[code]
The expected result is just `"${SOURCE_ACCOUNT}"`.

In the portal, the result is

[2021-05-30 01:38] yonzhan commented on #18291
route to service team

[2021-05-30 01:38] yonzhan commented on #18292
storage

[2021-05-30 08:10] buingochieudb opened #18293 "Error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm create`

## Expected Behavior

## Environment Summary
[code]
## Addit

[2021-05-30 08:31] zhusheldon opened #18294 "az container exec error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container exec`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Go through steps listed in tutorial: https://docs.microsoft.com/en-us/learn/modules/run-docker-with-azure-conta

[2021-05-30 13:40] s2terminal commented on #18291
I tried to create a container instance using yaml as described in the official documentation below. Then I got the same `'ResourcesOperations' object has no attribute 'create_or_update'` error.

https://docs.microsoft.com/en-us/azure/container-instances/container-instances-multi-container-yaml

[2021-05-30 15:00] yonzhan commented on #18294
route to service team

[2021-05-30 15:01] yonzhan commented on #18293
Compute

[2021-05-30 16:16] panchagnula commented on #18216
The backend regression has been fixed. the fix was being deployed over the weekend  (region by region) & is 99% as of 5/29. Please comment back if you are still seeing this. If you are still seeing this the location/ region of your resource will help. Thanks!

[2021-05-30 19:01] qwordy opened #18295 "Live test regression"
This issue is created by a program.
[Latest testing results of Azure CLI](https://clitestresultstac.blob.core.windows.net/latest/index.html)
[User Manual of Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EZGC9LwrN3RAscVS5ylG4HMBX9h7W0ZSA7CDrhXN5Lvx6g?e=V8HUmd)
[Upgrading API Versions in Azure CLI Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EcgPLHSkef9Mi14Rj

[2021-05-30 19:20] anders-kiaer opened #18296 "Programmatic usage of the `azure-cli` Python package from Python"
**Is your feature request related to a problem? Please describe.**
I would like to use the Python package `azure-cli` in Python code to manage Azure resources.

**Describe the solution you'd like**
Official support for using the functionality that already exists in `azure-cli` natively in Python script/package, not only through direct commandlines.

**Describe alternatives you've considered**
Curr

[2021-05-30 19:21] anders-kiaer commented on #18296
I now see that the recommendation is to use sub-packages like `azure-mgmt-*` :+1:

[2021-05-30 19:21] #18296 closed

[2021-05-30 19:33] huaqiwen opened #18297 "az container exec failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container exec`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container exec -g {} --name {} --exec-command {}`

## Expected Beha

[2021-05-30 19:35] huaqiwen commented on #18297
Tried upgrading az version, no luck:
[code]

[2021-05-30 20:18] Dragas opened #18298 "Remove colors from Azure CLI text output"
I am appalled by the usage of colors to denote types of output in azure cli on bash. Having light background in terminals makes it impossible to read what cli is outputting.
![image](https://user-images.githubusercontent.com/6078508/120118834-4bc28e80-c19d-11eb-9738-f6084b01a644.png)

[2021-05-30 23:42] yonzhan commented on #18295
@zhoxing-ms for awareness

[2021-05-30 23:43] yonzhan commented on #18297
route to service team

[2021-05-30 23:45] yonzhan commented on #18298
@jiasli for awareness

[2021-05-31 01:24] Juliehzl commented on #18292
Hi @dimbleby, it is server side by-design change to support cross tenant or policy.

[2021-05-31 02:16] jiasli commented on #18298
You may turn off color with

[code]

To turn color back on, use

[code]

You may also switch to the experimental **light** theme:

[code]

To reset to the default **dark** theme, use

[code]

This feature is not yet documented.

[2021-05-31 06:02] derkoe commented on #18222
I have found a workaround:

In `/usr/bin/az` replace the `python` command with `pythond3.6` (and then re-install the connectedk8s extension):
[code]

It seems that the RPM packages uses Python 3.6 but the `python` command points to 3.9. This results in the wrong packages to be installed in the extension.

[2021-05-31 07:35] kairu-ms commented on #17910
CLI directly calls service API to get the result. So only service team can answer why there's delay.

[2021-05-31 08:13] #17911 closed

[2021-05-31 08:45] galigula2 commented on #11315
+1 This would be very useful when planning deployment scenarios where product names are namespaces and access needs to given in multiple setups.

[2021-05-31 09:04] rajaduraisamy28 opened #18302 "Given Az logic workflow list command is working only after adding subscription parameter"
[Enter feedback here]
Hi,
The az logic workflow list command (az logic workflow list --resource-group "test_resource_group") is throwing error when try to execute with only advised resource group parameter. It is working only if we provide subscription as an additional parameter. So, please update list command (az logic workflow list --resource-group "test_resource_group" **--subscription "test_su

[2021-05-31 09:14] dimbleby commented on #18292
@Juliehzl the 2.23.0 client creates the right thing, and the 2.24 client creates the wrong thing.  The client is behaving differently, no?

Here is the bad replication rule created by the 2.24.0 cli

![image](https://user-images.githubusercontent.com/875184/120170255-b228ca80-c1f8-11eb-85c2-e27afbb5a9fe.png)

And here is the good rule created by the identical commands by the 2.23.0 cli

![image](h

[2021-05-31 10:32] azhar-iot commented on #11131
We tried the same and the verification certificate is uploaded fine from the portal however it doesn't do it via cli command

az iot dps certificate verify --certificate-name xxxxx --dps-name xxxxxx --etag XXXXXXX --path D:/github/icore-iot-backend/static-files/certificates/A66324F5EC0E245BA141738366F57477B5BB0E55362F2A04_fullchain.cert.pem --resource-group xxxxx  --subscription xxxxxx

but it giv

[2021-05-31 10:35] azhar-iot commented on #11131
I get exactly the same error while following the documentation https://docs.microsoft.com/en-us/cli/azure/iot/dps/certificate?view=azure-cli-latest

Please let us know if there is a workaround for this our or any solution

[2021-05-31 10:50] zeljko-bilandzija1979 commented on #16479
I had a same errors and after I removed aks-preview extension (az extension remove --name aks-preview) errors gone.

[2021-05-31 13:22] con-f-use commented on #15720
Sorry, but I have to point out that this issue is **NOT** in fact fixed, because the older azure packages on e.g. pypi.org are still missing properly declared python_versions. I.e. they pretend to support Python 2, when they are Python-3-only.

[2021-05-31 13:49] lazarillo opened #18304 "One of the NSG rule creation examples is mistaken"
One of the NSG rule creation examples says:

[code]

The address used in `--source-address-prefixes 208.130.28/24` is a bogus address prefix.  Therefore, a test using this example fails, and may confuse someone who does not understand the IP address prefixing system well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2021-05-31 14:16] yonzhan commented on #18302
route to service team

[2021-05-31 14:17] entrustfunding-dev opened #18305 "Can’t use az container exec using cloud shell on portal."
Same issue as https://github.com/Azure/azure-cli/issues/18214 ?

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container exec`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az co

[2021-05-31 14:22] yonzhan commented on #18305
route to service team

[2021-05-31 14:23] yonzhan commented on #18304
network

[2021-05-31 14:32] taimish commented on #16504
Perhaps this issue should be reopened.
Today morning I was successfully running some commands that create resources using Azure CLI version 2.12. Later I installed the Azure CLI version 2.24 and ran the same commands but got the error:
[code]
Among them are:
az network nsg rule create ...
az keyvault create ...
az acr create ...
Usually I ran them inside a script but I specially tried them in Powe

[2021-05-31 14:46] Dragas commented on #18298
Why is this feature enabled by default to begin with?

[2021-05-31 15:12] PatrickVibild commented on #18291
I can confirm. Same issue. Spotted on Azure pipeline when running CLI ver: 2.24.

I could create containers locally with a CLI ver: 2.22, after updating to 2.24 I had same issues as shown in the pipeline.

Issue is generated at line [407](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/container/custom.py)

ResourceOperations is missing create_or_update attribut

[2021-05-31 16:07] rille-dj commented on #11315
@SteveLasker any further news in this area? I want everyone in my company share a single ACR, but only allow individual teams push permissions to their own "namespace".

companyacr.azurecr.io/customerteam/*
companyacr.azurecr.io/productteam/*

[2021-05-31 16:17] SteveLasker commented on #11315
This is the plan, to align AAD objects, Tokens and namespace hierarchy of access. We have been discussing the root namespace for a team can have slashes to account for these types of paths

companyacr.azurecr.io/baseartifacts/
companyacr.azurecr.io/org1/teama/
companyacr.azurecr.io/org2/teama/
companyacr.azurecr.io/prod/
companyacr.azurecr.io/archive

It won’t actually be star wildcards, rather re

[2021-05-31 16:29] ransagy commented on #18220
Although with a bit of a different error message, this is still broken for me.

[2021-05-31 16:32] nelsonmorais commented on #18184
Hi @yonzhan, is there an ETA to get the issue fixed?

[2021-05-31 16:56] galigula2 commented on #11315
@SteveLasker not sure what you mean by "teams" in this context? We have multiple teams working with group of products (sometimes same people work also on different products) so our scheme would be

companyacr.azurecr.io/product-a/service-a
companyacr.azurecr.io/product-a/service-b
companyacr.azurecr.io/product-b/service-c
companyacr.azurecr.io/product-b/service-d

We'd like to create push Scope ma

[2021-05-31 19:10] VicOnt22 commented on #18290
Issue appears when doing example from
https://docs.microsoft.com/en-us/azure/container-instances/container-instances-multi-container-yaml

[2021-05-31 22:08] plzm opened #18306 "Description for api-id param for az apim api import is incorrect"
The description for the --api-id param for the 'az apim api import' command is incorrect. It references a version, but it should actually reference the API ID.

This is particularly important when using this command to update an already-existing API with a Swagger file.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86

[2021-05-31 23:59] yonzhan commented on #18184
iot service team could provide the ETA.

[2021-06-01 00:01] yonzhan commented on #18306
route to service team

[2021-06-01 01:49] jiasli commented on #15720
Do you mean old versions of Azure CLI or other Azure packages? On PyPI, once a version is released, it becomes a snapshot and can't be updated (https://github.com/pypa/packaging-problems/issues/74), so it is not possible for us to backport the change to older versions of Azure CLI.

[2021-06-01 02:01] jiasli commented on #18298
Most users of Azure CLI are using a standard dark theme terminal to invoke Azure CLI. We are aiming to provide better readability on a dark theme terminal.

Previously the color for warning is **yellow** and we changed it to **bright yellow** because of the low accessibility of yellow on dark theme terminals, according to user experience study (https://github.com/Azure/azure-cli/pull/16258).

If b

[2021-06-01 03:10] stuartatmicrosoft commented on #18222
Confirmed this works. I had a feeling that this was the issue given the higher rev of python. I tried using "alternatives" to get Fedora to set the default python to 3.6 however that didn't seem to work so was at a loss. cc: @yonzhan

[2021-06-01 03:28] zhoxing-ms commented on #17223
@roipmsft Hi, may I ask the verification of max limit for `UserData` should be the logic of the server side, right? I didn't see any max limit checks for `customData` on the client side.

[2021-06-01 03:34] roipmsft commented on #17223
Yes, CRP does server-side validation.
If customData doesn't have client-side validation, we can follow the same pattern for userData.

From: Xing Zhou ***@***.***>
Sent: Monday, May 31, 2021 8:29 PM
To: Azure/azure-cli ***@***.***>
Cc: Rob Ip ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] UserData for VM and VM ScaleSets (high priority) (#17223)

There is a max limit to the size

[2021-06-01 07:04] #17846 closed

[2021-06-01 08:25] evelyn-ys commented on #17304
Supported by https://github.com/Azure/azure-cli/pull/17834

[2021-06-01 08:25] #17304 closed

[2021-06-01 08:31] dallmair commented on #18248
This is fixed in release 2.24.1, which was published a few hours ago:

https://github.com/Azure/azure-cli/pull/18307

[2021-06-01 08:32] dallmair commented on #18235
This is fixed in release 2.24.1, which was published a few hours ago:

https://github.com/Azure/azure-cli/pull/18307

[2021-06-01 09:15] evelyn-ys commented on #18285
Please upgrade CLI. The latest CLI is 2.24.0. You are using quite old version🤣

[2021-06-01 09:18] evelyn-ys commented on #18281
Please upgrade CLI. The latest CLI is 2.24.0. You are using quite old version🤣

[2021-06-01 09:22] BigCat20196 opened #18311 "`cognitiveservices account update` does not take effect"
**Describe the bug**

When I use the 'az cognitiveservices account update' command to modify 'encryption', I encounter the problem that the modification does not take effect. But when I only modify a tag, it is executed successfully.

I guess it's because 'Update' doesn't support 'encryption'.

**To Reproduce**

`az cognitiveservices account create -n {sname}-g {MyRG} --kind Face --sku S0 -l weste

[2021-06-01 09:27] evelyn-ys commented on #18173
Hi @zesluo, could you share more debug log containing the request not only the response?
I tested with my CLI(version 2.24.0) and it works well.

[2021-06-01 09:33] evelyn-ys commented on #18149
Hi @hjekman, We has showed in the help message that once the soft delete is enabled, it can't be disabled anymore😊
[code]

[2021-06-01 09:37] Kotasudhakarreddy commented on #18266
Fix has been released for this issue. please install CLI version `2.24.1` and confirm.

[2021-06-01 09:37] Kotasudhakarreddy commented on #18255
Fix has been released for this issue. please install CLI version `2.24.1` and confirm.

[2021-06-01 09:46] zhoxing-ms commented on #17223
@roipmsft Hi, in this regard, I would like to confirm with you two questions:

1. Which query commands need to support querying `UserData` property?
From the perspective of REST API, only GET requests *([virtualmachines_get](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines/get) and [virtualmachinescalesets_get](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachinescales

[2021-06-01 10:29] ChristianDeckelmann opened #18313 "Error when creating vwan hub"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I get an error when trying to create a vwan hub.

**Command Name**
``
network vhub create ....

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expect

[2021-06-01 10:30] mgroetan commented on #18266
I can confirm that this hotfix does the expected job when running locally.

**Local test:**
_Running the existing 2.2**4.0** for comparison, on a brand new appservice:_
`az --version`
[code]

_The test data:_
`type appSettingsDummy.json`
[code]

_Importing the test data:_
`az webapp config appsettings set -n azclirepro --settings @appSettingsDummy.json`
[code]

_Upgrading to the latest CLI:_
`az u

[2021-06-01 10:43] phenixita opened #18314 "aks check acr crash"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When I try to execute the following command I get an error.

**Command Name**
`az aks check-acr`

**Errors:**
[code]

## To Reproduce:
I have a public AKS cluster (no private config) and it's attached to my ACR (with az aks update -n myAKSCluster -g myResourceGroup --attach-acr <acr-name>).

## Expected Behavio

[2021-06-01 10:43] phenixita commented on #18314
![image](https://user-images.githubusercontent.com/17789308/120310750-04401d80-c2d7-11eb-9d01-c8161acb5ab2.png)

[2021-06-01 11:04] gkgaurav31 commented on #18255
It does not seem to work:

az --version
azure-cli                         2.24.1

core                              2.24.1
telemetry                          1.0.6

Extensions:
aks-preview                       0.5.14
azure-cli-ml                      1.29.0
connectedk8s                       1.1.5
customlocation                     0.1.2
k8s-extension                      0.4.2
spring-cloud

[2021-06-01 12:02] LotteVoorhorst commented on #18069
We're having the same issues. Is there a fix/workaround yet?

[2021-06-01 12:10] Kotasudhakarreddy commented on #18255
@gkgaurav31 this is an expected behavior to make `WEBSITES_ENABLE_APP_SERVICE_STORAGE = false` when your Linux image name starts with `docker|`.

@panchagnula please refer to [this](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L1141) FYR.

[2021-06-01 12:12] gpatkos commented on #18291
I experience the same error. It still worked a few days ago, not now. It would be very important to fix this bug because it is blocking our development!

[2021-06-01 12:38] con-f-use commented on #15720
I mean both actually. However, I didn't realize that old package cannot simply be deleted completely and then just re-uploaded as below. Thanks for the issue link. Also I'm aware that even if it was possible, it would change the file hashes that tools like Pipenv and Poetry use for version pinning. Guess there's nothing that can be done about it, then. Luckily, it will become less of an issue with

[2021-06-01 12:44] Bytezart commented on #18266
I can confirm this fix is now working as intended in my test rigs. Thank you for addressing this problem quickly. It is greatly appreciated!

[2021-06-01 12:44] #18266 closed

[2021-06-01 13:13] mauve commented on #18289
I think this might because I mixed the roleDef ID with the roleAss ID.

[2021-06-01 13:33] Omig12 commented on #18281
Thank you for your response, I eventually realized the versioning issue and
followed the newest version of the guide for installing azure-cli 😅.

On Tue, Jun 1, 2021, 5:18 AM Yishi Wang ***@***.***> wrote:

[2021-06-01 13:44] atmaxinger commented on #18291
This is also a blocking issue for us.

[2021-06-01 13:48] k2703 commented on #18291
This is also a blocking issue for us.

[2021-06-01 14:27] #18248 closed

[2021-06-01 14:27] #18235 closed

[2021-06-01 14:28] yonzhan commented on #18311
route to service team

[2021-06-01 14:29] mkunze8187 commented on #18216
This is now working.   Thank you!

[2021-06-01 14:31] Kotasudhakarreddy commented on #18216
Thanks for confirming!.

[2021-06-01 14:31] #18216 closed

[2021-06-01 14:33] HarshitaSingh-MSFT opened #18315 "Better to download installers to temp folder instead of current folder"
Normally there should be `temp` environment variable which points to the `temp` folder of the current user. So it would be better if the installation script can be changed to use temp, like below:

`Invoke-WebRequest -Uri https://aka.ms/installazurecliwindows -OutFile "$env:temp\AzureCLI.msi"; Start-Process msiexec.exe -Wait -ArgumentList "/I $env:temp\AzureCLI.msi /quiet"; rm "$env:temp\AzureCLI.

[2021-06-01 14:35] yonzhan commented on #18314
route to service team

[2021-06-01 14:37] yonzhan commented on #18313
network

[2021-06-01 14:42] #17604 closed

[2021-06-01 14:43] yonzhan commented on #18315
@jiasli for awareness

[2021-06-01 14:44] yonzhan commented on #18291
container instance service team should look into this

[2021-06-01 14:52] roipmsft commented on #17223
Answers inline, thank you.

From: Xing Zhou ***@***.***>
Sent: Tuesday, June 1, 2021 5:46 AM
To: Azure/azure-cli ***@***.***>
Cc: Rob Ip ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] UserData for VM and VM ScaleSets (high priority) (#17223)

We allow customers to retrieve value of userData (this behavior does not exist for customData today). For that, CLI must make GET request

[2021-06-01 15:42] mongiahammouda opened #18316 "azure-cli 2.24.1 unpack requires a buffer of 4 bytes"
**Describe the bug**
trying to create vm on azure tenant with those options :
az vm create -n  -g  --image centos --subnet  --public-ip-address "" --admin-username --ssh-key-values "<pubkey>"
*The creation without debug option return :
Failed to retrieve image alias doc 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-compute/quickstart-templates/aliases.json'. Error: 'Conn

[2021-06-01 15:59] dunlopkr commented on #18291
This is affecting numerous teams across my organization.

[2021-06-01 17:05] duraash opened #18317 "Az Login Failure : "bad handshake: SysCallError(10054, 'WSAECONNRESET')""
we are getting intermittent connection failure while doing "az login" command in windows marching through PowerShell.
we tried many solution to resolve this issue by added zscalar certificates and adding some environmental variables , but nothing working , it is failing frequently.

Error : **("bad handshake: SysCallError(10054, 'WSAECONNRESET')",)**

az version
{
  "azure-cli": "2.22.1",
  "azure

[2021-06-01 17:11] vduarteUF opened #18318 "Azure CLI az ad app update --id --set throws cannot deserialize error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad app update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Return JSON data into a variable using ConvertTo-Json -Compress
- e.g. $json = ConvertTo-Json -InputObject @($oa

[2021-06-01 17:15] vduarteUF commented on #18318
@jiasli I included your comment above about generic deserialization. Is there something wrong with the way I'm following your work?

[2021-06-01 17:16] eugene-cp commented on #18217
i'm running on 2.24.1 but get the same error:

The command failed with an unexpected error. Here is the traceback:
'NoneType' object has no attribute 'identity'
Traceback (most recent call last):
  File "D:\a\1\s\build_scripts\windows\artifacts\cli\Lib\site-packages\knack/cli.py", line 231, in invoke
  File "D:\a\1\s\build_scripts\windows\artifacts\cli\Lib\site-packages\azure/cli/core/commands/__i

[2021-06-01 18:00] aandyl opened #18319 "incorrect documentation for `az keyvault list-deleted --resource-type`"
**Describe the bug**
The documentation for the `--resource-type` option to the `az keyvault list-deleted` command states that: "When --resource-type is not present the command will list all deleted Vaults and HSMs. Possible values for --resource-type are vault and hsm."

However, this does not appear to be correct. With a deleted HSM in my account, when I ran `az keyvault list-deleted`, it did not

[2021-06-01 18:02] mark-strasser-nnl opened #18320 "Keyvault creation fails in Azure Government with "no registered resource provider" error"
**Describe the bug**

Creating a key vault and listing deleted key vaults no longer works in Azure Government.  The following error is returned:

[code]

**To Reproduce**

[code]

**Expected behavior**

Key vault should be created.

**Environment summary**

Using Azure Cloud Shell in Azure Government (portal.azure.us):

 * Install method:  none  (using cloud shell)
 * Shell type:  bash
 * OS versi

[2021-06-01 19:11] duraash commented on #18317
@jiasli Please help us to resolve this error.

[2021-06-01 19:17] dunlopkr commented on #18291
I have been able to work around this issue by using and Ubuntu hosted agent and switch the Script Type property in all the Azure CLI tasks from “PowerShell” to “PowerShell Core" . I believe it works because the Ubuntu hosted agents have not been update to azure-cli 2.24 and are still using azure-cli 2.23. I am concerned that the effort to switch all pipelines to Ubuntu will only be a temporary fix

[2021-06-01 19:35] dunlopkr commented on #18276
Another thread which looks to be the same issue:
https://github.com/Azure/azure-cli/issues/18291

[2021-06-01 21:30] DennisLee-DennisLee opened #18321 "Azure Pipelines: In Cloud Shell, running a pipeline with the --open option doesn't spawn a new browser tab"
**Describe the bug**
When you enter the command `az pipelines run --id <id_number> --open`, a browser tab is supposed to open. The spawned tab will contain the new pipeline run's results page. The browser tab does open when I enter the command from my local Git Bash installation, but it doesn't open when I enter the command in a Cloud Shell (Bash) environment.

I wrote an article where I had to us

[2021-06-01 22:00] yonzhan commented on #18316
Compute

[2021-06-01 22:06] yonzhan commented on #18319
keyvault

[2021-06-01 22:07] yonzhan commented on #18320
keyvault

[2021-06-01 22:09] yonzhan commented on #18317
@jiasli for awareness

[2021-06-01 22:10] mikeassel commented on #18230
@yonzhan isn't this feature supposed to already exist? I'm wondering why it has the `feature-request` label.

[2021-06-01 22:12] yonzhan commented on #18321
route to service team

[2021-06-01 22:36] SteveLasker commented on #11315
@galigula2, Reshmi is off this week, so let me try and explain a bit.

Reshmi has designed a repo-group option, which is essentially a github or docker hub org. The big difference is we can provide `/`'s within the org name, or the repo name so you get more flexibility.

Using your example above, you could create `companyacr.azurecr.io/product-a/` and all repos below it would be managed by the adm

[2021-06-01 23:08] ynpandey commented on #18086
@hyoshioka0128 If I understand correctly, the translation of "run" heading on the page needs to be changed. Please respond if you want to address something else in this issue. Thank you.

[2021-06-02 01:44] jiasli commented on #15720
If you see other Azure packages (excluding Azure CLI `azure-cli`) has the same issue, feel free to create an issue to their corresponding GitHub repo.

Exactly, without specifying a version, `pip` automatically installs the latest version, so this has already been solved for most users.

[2021-06-02 02:21] revanthkumar1999 opened #18325 "Issue Regarding HDInsight registeration"
I'm facing issue regarding Microsoft.HDInsight registeration. From nearly 15 hour it is in registering state. Kindly please resolve the issue.

[2021-06-02 02:22] jiasli commented on #18317
The error `("bad handshake: SysCallError(10054, 'WSAECONNRESET')",)` indicates your connection is reset by the peer. The error may happen on your corp net or Azure server.

To see which URL Azure CLI is connecting to when the issue happens, either

- Turn on file logging by [changing configuration](https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration): `az config set logging.enable_l

[2021-06-02 02:29] jiasli commented on #18276
The error is caused by https://github.com/Azure/azure-cli/blob/4a5d74215d5d1566f839c2d11fd360d300f56b62/src/azure-cli/azure/cli/command_modules/container/custom.py#L407 during `azure-mgmt-resource` SDK track 2 migration (https://github.com/Azure/azure-cli/pull/17783).

Service team needs to figure out why this command and this code path is not covered by the scenario test.

[2021-06-02 02:31] jiasli commented on #18291
Duplicate of #18276

[2021-06-02 04:00] yonzhan commented on #18325
route to service team

[2021-06-02 04:04] yonzhan commented on #18291
Add @zhoxing-ms to help with

[2021-06-02 04:04] yonzhan commented on #18276
Add @zhoxing-ms to help with

[2021-06-02 05:10] viananth opened #18327 "Create VM flow broken for "EdgeZone""
**Describe the bug**

Creating a VM in EdgeZone using "--edge-zone" parameter creates the vm in edge zone, but creates other resources (like VNet, Nic, Public Ip, etc)  in main region.

**To Reproduce**

1. Install latest Az CLI
2. Run "az vm create -g testcli -n testclivm --image UbuntuLTS --edge-zone microsoftlosangeles1 --public-ip-sku Standard --location westus --debug --generate-ssh-keys"
3.

[2021-06-02 05:10] 00rellana commented on #13853
We have the same need using python SDK where we need to query number of available ( Free ) IPs in a subnet before we allow VM provisioning to continue. I will be watching this post closely to see if anyone comes up with solution or workaround using NetworkManagementClient.   Thanks, OO

[2021-06-02 05:19] kairu-ms commented on #18313
Can you use `az network vhub create` in terminal directly instead of in `az interactive`. There maybe some bug in interactive.

You can use `az network vhub create -h` to get help messages.

[2021-06-02 06:21] jcescala commented on #18291
Issue also on macOS for both 2.24.0 and 2.24.1 versions on AZ CLI

[2021-06-02 06:45] qwordy commented on #18327
I confirm that dependent resources of "vm create" are not created in edge zone yet. We will support it.

[2021-06-02 07:21] jiasli commented on #18290
Duplicate of #18276

[2021-06-02 07:21] #18290 closed

[2021-06-02 07:22] #18291 closed

[2021-06-02 07:23] jiasli commented on #18275
`az container exec` seems to be another issue. Could you share the `--debug` log?

[2021-06-02 07:26] jiasli commented on #18262
@msftradford, the log file you shared is empty: https://github.com/Azure/azure-cli/files/6556807/container_create.-.v2.24.Example.log

Could you share the actual content in STDERR? Is it the same as #18276?

[2021-06-02 08:52] hyoshioka0128 commented on #18086
@ynpandey - Please correct the translation other than the "Run" heading (TOC.yml side) .
　データ ストア →　datastore
　環境 →　environment
　期待 →　experiment
Thanks.

[2021-06-02 09:10] jiasli commented on #18321
We use the Python library [`webbrowser`](https://docs.python.org/3/library/webbrowser.html) to open web browser from Azure CLI. Cloud Shell runs on a docker-based Ubuntu so it doesn't have corresponding GUI component. Currently there is no way to launch browser from Cloud Shell.

[2021-06-02 09:12] zhoxing-ms commented on #18276
@gpatkos This patch will be released in the `CloudShell` in 06-15, may I ask if this time is acceptable?

[2021-06-02 09:21] yviouswilliamous opened #18330 "How to execute a startup commands during the deployment of my app"
## Describe the bug
Hi,

**What can I do to make sure some commands are executed at app container startup ?**

I deployed a custom python package in an azure artifact feed. Unlike the other packages in the requirements.txt, this one need to be downloaded from my azure artifact feed, not from PyPi. When I launch the app deployment I get the following error :

`_Zip deployment failed. {'id': 'abeede

[2021-06-02 09:48] gpatkos commented on #18276
@zhoxing-ms: That seems very late. As you may have read on other (duplicated) tickets, this is a blocking issue for a lot of development teams, including ours. Please release it ASAP! Thank you!

[2021-06-02 10:02] jiasli commented on #18222
@derkoe, you analysis helps a lot.

If you extract the rpm package `azure-cli-2.24.0-1.el7.x86_64.rpm` (downloadable from https://packages.microsoft.com/yumrepos/azure-cli/) and navigate to `usr/lib64/az/lib/python3.6/site-packages/psutil`, you will see only 2 `so` files:

- `_psutil_linux.cpython-36m-x86_64-linux-gnu.so`
- `_psutil_posix.cpython-36m-x86_64-linux-gnu.so`

This means `psutil` in Az

[2021-06-02 10:35] gkgaurav31 commented on #18255
@Kotasudhakarreddy : The problem is, if I need to update the Docker Image only, it will also change the persistent storage to false.

**Command:**
az webapp config container set --docker-custom-image-name nginx --name WebAppName --resource-group RGGroup

So, it would be great if either:
- The command to update image keep the other configurations same
- We have a single common to update both image

[2021-06-02 11:08] Tirth27 opened #18333 "ValueError: time data"
### **Facing issue when registering for ACR**

## I got the below error when I tried to run

**Command Name**
`az acr login --name <registry-name>`

**Errors:**
[code]

## Expected Behavior

## Environment Summary
[code]

[2021-06-02 11:19] derkoe commented on #18222
Fedora 34 defaults to Python 3.9 but Python 3.6 is also available (as /usr/bin/python3.6).

[2021-06-02 11:31] yonzhan commented on #18330
route to service team

[2021-06-02 11:37] yonzhan commented on #18333
route to service team

[2021-06-02 11:40] akomisarek commented on #17938
We have the same problem, please provide any update/steps how/if this can be fixed on our end!

[2021-06-02 12:38] vduarteUF commented on #18318
I tried implementing generic deserialization as Jiashuo mentioned but I still get an error. Script only works with the following logic:
[code]
It would be much easier to serialize a JSON string in local memory than have to overwrite files to disk. Will this support be added next patch?

[2021-06-02 13:06] akomisarek commented on #17938
@georgejdli

My company sort of fixed it for me (but I have found some workaround as well).

I think the problem you are facing is the fact that your company is bypassing some of the SSL verifications, but not all. It seems the installation of extentions is following process:

1. Request to https://aka.ms
2. Request redirected to: https://azcliextensionsync.blob.core.windows.net (to map name to ex

[2021-06-02 13:37] zhoxing-ms commented on #18276
@gpatkos OK, I have initiated the communication with `Cloud Shell` team, hoping to release this patch as soon as possible. However, the release time of this patch depends on the work of `Cloud Shell` team.

[2021-06-02 13:52] zhoxing-ms commented on #18276
@ghelyar Hi, the hotfix for this issue has been released on some platforms. But for Azure pipeline, we need to cooperate with Azure DevOps team to release this hotfix in the VM of pipeline as soon as possible.
Before that, maybe you can try a work around to solve this issue temporarily:
Execute the command `az upgrade --yes` *(please note that you may need `sudo` permission to execute it)* in the

[2021-06-02 13:55] thiDucTran commented on #13853
[code]

[2021-06-02 13:58] gpatkos commented on #18276
@zhoxing-ms Wonderful! Thanks and we look forward to the fix! Is it possible to get a notification of a successful release here as well?

[2021-06-02 13:58] thiDucTran commented on #13853
we are using this as a workaround

[code]

[2021-06-02 14:08] bolbo opened #18334 "Error when creating remote connection"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create-remote-connection`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

https://docs.microsoft.com/fr-fr/azure/app-service/configure-linux-open-ssh-session#open-ssh-ses

[2021-06-02 14:26] derkoe commented on #18222
If you have a Docker (or another container runtime) you can do:

[code]

[2021-06-02 14:39] sonnyrajagopalanuptycs opened #18335 "Each of your CLI descriptions could sorely use an example output!"
[Enter feedback here]

Each of your CLI descriptions could sorely use an example output!
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d75c3a8d-1187-bea1-a7d4-7ebba71c1790
* Version Independent ID: 75b0c352-762e-16ae-5cc6-d807ffc1dc3f
* Content: [az aks](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-lat

[2021-06-02 14:46] msftradford commented on #18262
hi @jiasli! that's right. It appears to be a completely empty file but it actually has one single line composed of 70 space characters and I believe that single line is causing the task to fail (only with v2.24). This is different from the actually totally empty file that was created with v2.23.0. The issue that you mentioned appears unrelated - we don't receive any useful error messages beyond th

[2021-06-02 15:42] BrunyC opened #18336 "Im trying create a resource with this command az container create --resource-group MyResourceGroup --file deploy-aci.yaml"
Im trying create a new resource using the yaml file.

az --version is 2.24.0

Im got this error:

The command failed with an unexpected error. Here is the traceback:
'ResourcesOperations' object has no attribute 'create_or_update'
Traceback (most recent call last):
File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 231, in invoke
cmd_result = self.invocation.execute(args)
File "/opt/az/

[2021-06-02 15:44] BrunyC commented on #18336
Im got this error:

The command failed with an unexpected error. Here is the traceback:
'ResourcesOperations' object has no attribute 'create_or_update'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 231, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line

[2021-06-02 15:52] yonzhan commented on #18334
route to service team

[2021-06-02 15:56] yonzhan commented on #18336
@zhoxing-ms for awareness

[2021-06-02 15:58] yonzhan commented on #18335
route to service team

[2021-06-02 15:58] jonathan-innis opened #18337 "`cached_put` doesn't work with ARM Extension resources"
**Describe the bug**
My `begin_create_or_update` command is defined as below:
[code]
Having this number of arguments for extension resources does not seem to be supported as running:
```cached_put(cmd, client.begin_create_or_update, flux_configuration, resource_group_name, name, cluster_rp, cluster_type, cluster_name)```
fails with
[code]

**To Reproduce**
Use `cached_put` as described above

**Ex

[2021-06-02 16:09] yonzhan commented on #18337
ARM

[2021-06-02 16:18] abbeycode opened #18338 "az webapp config container set causes app to pull from Docker Hub instead of private registry"
## Describe the bug

**Command Name**
`az webapp config container set`

**Errors:**
The command returns successfully, but the app fails to pull the Docker image from our private registry. When I go in through the portal and set the same values and save (e.g. delete a character from the URL then type it again), it starts up normally. It looks like it's ignoring my private registry URL and trying to

[2021-06-02 16:21] yonzhan commented on #18338
route to service team

[2021-06-02 16:26] dunlopkr commented on #18276
Ubuntu hosted agents were updated to azure-cli 2.24.0 today.  You can add the following bash script to your DevOps release pipeline to install 2.24.2 with the above hotfix:

`curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash`

[2021-06-02 18:01] znatan commented on #13881
I have same issue

[2021-06-02 18:26] deshriva commented on #18325
@revanthkumar1999 : Do you have a rough timeframe on when this happened? Also can you share subscriptionId.

[2021-06-02 18:56] jonathan-shapiro-msf commented on #17331
Was this ever resolved?

[2021-06-02 21:53] yonzhan commented on #17331
cc @ahmedelnably, @fabiocav to take a look

[2021-06-02 22:21] rewongmicrosoft opened #18339 "CLI - SQL Ledger"
**Resource Provider**
AZ SQL DB

**Description of Feature or Work Requested**
Adding AZ CLI support for SQL Ledger. This includes adding command to enable, disable, and show ledger digest uploads. It also adds the -ledger-on property for az sql db create

Example:
az sql db ledger digest uploads enable --endpoint
                                               [--ids]

[2021-06-02 22:39] iamjasonp commented on #18333
@CarolineNB can you please take a look? Thank you!

[2021-06-02 22:43] iamjasonp commented on #17871
Looks fixed @northtyphoon

[2021-06-02 22:47] iamjasonp commented on #17851
To @CarolineNB. Thanks!

[2021-06-02 22:51] iamjasonp commented on #17493
To @CarolineNB for investigation. Thanks!

[2021-06-02 22:59] iamjasonp commented on #15974
@CarolineNB to take a further look. Thank you!

[2021-06-03 01:12] yonzhan commented on #18339
route to service team

[2021-06-03 01:32] ChewySalmon commented on #18336
I'm having the same issue. Can be reproduced by following the MS tutorial for deploying a container and mounting a volume: https://docs.microsoft.com/en-us/azure/container-instances/container-instances-volume-azure-files#deploy-container-and-mount-volume---yaml

az --version is also 2.24.0

[2021-06-03 01:48] jiasli commented on #18222
@derkoe, thanks for the info. We will join the the Kick-off event recently. We will look at it after we return.

[2021-06-03 01:58] PARADISSEEKR commented on #17298
This is a limitation of azcopy,when using the `--resursive` , the folder will also be copied.

[2021-06-03 01:59] jiasli commented on #18262
@msftradford, I probably needs to route this issue to service team to investigate... Could you repro this issue locally?

[2021-06-03 02:08] zhoxing-ms commented on #18276
@gpatkos OK, it will be released over the weekend if there are no issues

[2021-06-03 02:13] jiasli commented on #17938
@akomisarek's comment is correct. Thanks!

It's very likely that your company skipped SSL/TLS verification for some domains, like `.windows.net`.

An easier solution would be to **append standard Python root CAs to your `pem` file**:

[code]

You may get it from https://github.com/certifi/python-certifi/blob/master/certifi/cacert.pem

Then Azure CLI will use both your **internal certificate** and

[2021-06-03 02:19] PARADISSEEKR commented on #17298
I have submitted an issue to azcopy, please see this link https://github.com/Azure/azure-storage-azcopy/issues/1463

[2021-06-03 02:57] zhoxing-ms commented on #18337
[code]
[code]
@jonathan-innis Hi, it seems that the parameters passed in the `*args` from method `cached_put` seems not the same as the parameter defined in the operation method `begin_create_or_update`. Please keep them consistent, or use `**kwargs` to pass in parameters

[2021-06-03 03:02] zhoxing-ms commented on #18337
And the third positional argument should pass in the object to be cached, but the `flux_configuration` looks like is just a parameter defined in method `begin_create_or_update`.

[2021-06-03 03:05] zhoxing-ms commented on #18337
@jonathan-innis For how to use `cached_put`, please refer to the doc [doc link](https://github.com/Azure/azure-cli/blob/master/doc/command_guidelines.md#overcoming-service-limitations)

[2021-06-03 03:31] carolga opened #18341 "Please add this as an example"
Hello!

Based on a recent case in CSS, can you please add the following example?  Or at lease explain a bit more on the --properties and how to properly populate --name.  Also, what are the different --resource-type types that can be created.

az resource create --resource-group "[resource-group]" --resource-type "Microsoft.Web/sites/siteextensions" --name "[sitename+slot]/siteextensions/Contrast.

[2021-06-03 03:33] jonathan-innis commented on #18337
@zhoxing-ms This is not correct, `flux_configuration` here is the object so this is not the problem

[2021-06-03 03:36] jonathan-innis commented on #18337
@zhoxing-ms I have tried the above, but this does not work due to the source in the function [here](https://github.com/Azure/azure-cli/blob/48cc5e5393bcb1c84f51b84114a189d5cd854285/src/azure-cli-core/azure/cli/core/commands/__init__.py#L121)

[2021-06-03 05:44] vitali-kviatkouski opened #18342 "--application-id mentioned in documentation not supported on practice"
--application-id mentioned in documentation not supported on practice. EastUS region

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 226e5769-f6c8-a480-db78-727fb96348ec
* Version Independent ID: 8ee06a2a-6eda-11be-3c8e-6ad948be207e
* Content: [az keyvault](https://docs.microsoft.com/en-us/cli/azure/keyvault?view=azure-

[2021-06-03 05:46] zhoxing-ms commented on #17223
@roipmsft Hi, I still have some questions:
1. May I ask is `instanceview` and `userData` mutually exclusive in the parameter `expand` for REST service?

2. How to name the parameter `--include-user-data`? It follows the naming convention for parameters

3. What is the expected help information of parameter `--userdata`? Could I use the description from Swagger: UserData for the VM.

[2021-06-03 07:13] kimmatthiesen opened #18343 "Az Container Create : 'ResourcesOperations' object has no attribute 'create_or_update'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container create --resource-group {} --file {}`

## Expected Beha

[2021-06-03 07:23] balag0 commented on #17331
Unfortunately I dont think we have the logs from the original incident anymore. Could some one please share a more recent instance?

[2021-06-03 07:37] kimmatthiesen commented on #18343
It appeares we are hit by the bug fixed in hotfix #18276,  Azure CLI Version 2.24.2 :  https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?tabs=azure-cli,  and based on what i can see with (Az Version) we are running version 2.24.0 atm..

[2021-06-03 11:14] ghelyar commented on #18275
[code]

[2021-06-03 12:16] atedsimple commented on #5163
We have a logic app that creates an Azure Container Instance then gets the logs using the "Get logs from a container instance" step which I beleive uses the same api that "az container logs" uses. On examining the captured logs, sometimes it is complete and sometimes the begining part is missing to a variable degree. If I were to look at the logs directly on the container within Azure Container In

[2021-06-03 13:24] frachel commented on #12366
I still get this error using the Azure Cloud shell.

`
frank_rachel@Azure:~$ az version
{
  "azure-cli": "2.24.0",
  "azure-cli-core": "2.24.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "ai-examples": "0.2.5",
    "aks-preview": "0.4.53",
    "resource-graph": "1.1.0",
    "ssh": "0.1.5"
  }
}
frank_rachel@Azure:~$ az aks get-upgrades --resource-group petst-rg --name petst-aks -o ta

[2021-06-03 13:30] jonathan-shapiro-msf commented on #17331
I tested again yesterday and had the same output as my first post. I did notice the functions left the UI when I pushed new ones up from VSCode, however.

[2021-06-03 13:40] msftradford commented on #18262
yes! the piping to log files was done by running the commands locally, that is when I noticed the empty line in the STDERR pipe.

[2021-06-03 14:12] aelij opened #18345 "App Gateway Secret ID"
The following documentation is a bit ambiguous:

I would add an example, as it was unclear that we need to use the secret URI (`https://foo.vault.azure.net/secrets/bar`) rather than the cert URI (`https://foo.vault.azure.net/certificates/bar`).

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d85e1042-f9fe-a899-7a64-9979

[2021-06-03 14:28] yonzhan commented on #18341
ARM

[2021-06-03 14:31] yonzhan commented on #18342
keyvault

[2021-06-03 14:34] yonzhan commented on #18343
@zhoxing-ms for awareness

[2021-06-03 14:37] yonzhan commented on #18345
network

[2021-06-03 14:43] roipmsft commented on #17223
Answers inline, thank you.

From: Xing Zhou ***@***.***>
Sent: Thursday, June 3, 2021 1:47 AM
To: Azure/azure-cli ***@***.***>
Cc: Rob Ip ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] UserData for VM and VM ScaleSets (high priority) (#17223)

@roipmsft<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Froipmsft&data=04%7C01%7CRobert.Ip%40microsoft.co

[2021-06-03 15:00] Vaibhav-Agar commented on #18249
@avirishuv can you please take a look?

[2021-06-03 15:03] vduarteUF commented on #18318
I finally figured out how to implement the generic serialization. Y'all can close this issue unless you intend to update the documentation for Microsoft docs or provide better support in the CLI.

**JSON format**
First, the update command can ONLY serialize JSON strings which are escaped with a backslash. For example, I hard code this string for OAuth2Permissions and replace the default values lat

[2021-06-03 15:41] Kotasudhakarreddy commented on #18338
Will take a look.

[2021-06-03 15:56] Vaibhav-Agar commented on #16385
Still no ETA.

[2021-06-03 16:49] kyma commented on #13881
what is the fix for this?

[2021-06-03 17:14] fdaschmidt opened #18347 "az upgrade problems"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az upgrade`

## Expected Behavior

## Environment Summary
[code]
## Additiona

[2021-06-03 17:20] aliensouls commented on #10241
Year 2021  Q2

lol is this merged already or still discussed internally? 😆   I want to work for Microsoft, please hire me! I want to chill all day like you guys do :)))))))  a feakin dream job indeed. There's a reason you top the charts as one of the most desired places to work for 🤣

[2021-06-03 17:48] RyanHill-MSFT opened #18348 "webapp:az webapp config ssl create doesn't support different resource groups"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
In the portal, it is possible to create an SSL cert for a web app that is in a separate resource group than the app service plan. For the CLI, this workflow isn't supported.

**Command Name**
``
az webapp config ssl create
**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument

[2021-06-03 18:15] markdebruijne opened #18349 "az aks enable-addons --addons ingress-appgw not idempotent"
**Describe the bug**
Repeating the command below should not returning an error
[code]
Error that I receive
[code]
source (probably outdated, but maybe still applicable): https://github.com/Azure/azure-cli-extensions/blob/master/src/aks-preview/azext_aks_preview/custom.py#L3380

**To Reproduce**
Repeat the above command multiple times

**Expected behavior**
From the CLI command design guidelines

*

[2021-06-03 18:42] dgaspar commented on #11871
A couple workarounds that worked for me were to use `AZURE_TENANT_ID` env var or to get it from the config and set the `VisualStudioTenantId` option:
[code]

[2021-06-03 18:43] rsuds opened #18350 "Azure CLI command "sig" broken"
O/S:  openSUSE Leap 15.3
Kernel: Linux OpenSUSE02 5.3.18-57-default #1 SMP Wed Apr 28 10:54:41 UTC 2021 (ba3c2e9) x86_64 x86_64 x86_64 GNU/Linux
Azure RPM version: azure-cli-2.14.2-6.4.1.noarch

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sig`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument

[2021-06-03 19:10] jkpl commented on #18245
Cheers! Let me know if you need any further insight.

[2021-06-03 19:12] panchagnula opened #18351 "webapp:az webapp list throws an exception"
**Describe the bug**

**To Reproduce**
az webapp list or az webapp list --subscription <SubID>

**Expected behavior**
No errors & list of web apps are returned

**Environment summary**
Cloud Shell

**Additional context**
cli.azure.cli.core.azclierror: The command failed with an unexpected error. Here is the traceback:
az_command_data_logger: The command failed with an unexpected error. Here is the

[2021-06-03 19:34] ynpandey commented on #18175
@anirbansaha96 Please let us know if you were able to resolve this issue based on previous answer(s).

[2021-06-03 20:57] major commented on #17909
For what it's worth, I'm making progress on this in Fedora. I may have some feedback around a few things as I get the remainder of these packages done.

* https://copr.fedorainfracloud.org/coprs/mhayden/azure-cli/monitor/
* https://github.com/major/rpm-azure-cli

[2021-06-03 20:57] cbseirani commented on #18343
I'm getting this same issue - I tried using az upgrade to update the CLI to 2.24.2 - but I'm getting:

2021-06-03T20:01:51.2518056Z ##[section]Starting: Bash Script
2021-06-03T20:01:51.2525416Z ==============================================================================
2021-06-03T20:01:51.2525792Z Task : Bash
2021-06-03T20:01:51.2526109Z Description : Run a Bash script on macOS, Linux, or Windo

[2021-06-03 21:18] deshriva commented on #18325
This was a product bug and the fix has already been rolled out.

[2021-06-03 21:18] #18325 closed

[2021-06-03 22:34] yonzhan commented on #18349
route to service team

[2021-06-03 22:34] yonzhan commented on #18348
route to service team

[2021-06-03 22:35] yonzhan commented on #18347
upgrade

[2021-06-03 22:42] yonzhan commented on #18350
Compute

[2021-06-03 22:43] yonzhan commented on #18351
route to service team

[2021-06-03 23:09] jkleint opened #18352 "az storage fs file list --exclude-dir breaks with --show-next-marker"
## Describe the bug

**Command Name**
`az storage fs file list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az storage fs file list --file-system {} --account-name {} --subscription {} --exclude-dir --show-next-marker`

## Expected Behavior

Should return files list as normal wit

[2021-06-04 00:48] stratmandj opened #18353 "Support Environment credential for Azure identity - ref. original #14544"
**Is your feature request related to a problem? Please describe.**
Just opening to get an update on known issue in #14544

**Describe the solution you'd like**
We heard late last year that this was being implemented and moving into identity, but we have not heard anything further.  Can we get an update on this since it deals with automation and the potential to make a credential visible via the pr

[2021-06-04 01:45] zhoxing-ms commented on #18336
@BrunyC @ChewySalmon Hi, this issue is duplicate with #18276, let's discuss in that issue~

[2021-06-04 01:45] #18336 closed

[2021-06-04 01:53] zhoxing-ms commented on #18337
@jonathan-innis Hi, this code has not been submitted to the public repository, right? Could you please show me the specific code link for your change?

[2021-06-04 01:55] jonathan-innis commented on #18337
@zhoxing-ms Sure, this code exists in master too [here](https://github.com/Azure/azure-cli/blob/5975b2312d8f990df66c1a75b3e41f7387afb437/src/azure-cli-core/azure/cli/core/commands/__init__.py#L121)

[2021-06-04 02:01] zhoxing-ms commented on #18343
@cbseirani Could you please try this workaround https://github.com/actions/virtual-environments/issues/3508#issuecomment-853141701 to upgrade the CLI version?

[2021-06-04 02:02] zhoxing-ms commented on #18343
This issue is duplicate with #18276, let's discuss in that issue~

[2021-06-04 02:02] #18343 closed

[2021-06-04 02:04] zhoxing-ms commented on #18337
@jonathan-innis what I mean is the following code:

        self,
        resource_group_name,  # type: str
        cluster_rp,  # type: Union[str, "_models.Enum0"]
        cluster_resource_name,  # type: Union[str, "_models.Enum1"]
        cluster_name,  # type: str
        flux_configuration_name,  # type: str
        flux_configuration,  # type: "_models.FluxConfiguration"
        **kwargs  # t

[2021-06-04 02:09] zhoxing-ms commented on #18276
There is an another workaround https://github.com/actions/virtual-environments/issues/3508#issuecomment-853141701 from ADO team to upgrade the CLI version in Azure Pipeline.

[2021-06-04 05:44] anirbansaha96 commented on #18175
Using Service Principal Authentication is not a proper alternative for me.

[2021-06-04 05:44] #18175 closed

[2021-06-04 06:04] kimmatthiesen commented on #18276
Its a bug in version 2.24.0 that is fixed in 2.24.2. and since you can upgrade the Azure CLI yourself.. only options, is to wait for ms to upgrade the Azure cli version or to deploy the container from a remote machine.
What i did to get arround the bug was to.:

1.) Download/Installe the Az module on a local machin with powershell installed : https://aka.ms/installazurecliwindows
2.) From Powershe

[2021-06-04 06:45] galigula2 commented on #11315
So this would require us to re-push all of the images to a separate prod-repository for the image if we want to have a single place to read from? And then we would still need to list all of the prod-repositories separately in all scope maps we want to read them from? In this case I would still prefer writing prod/*. Or did I misunderstand something in the way read scope-maps would work in this cas

[2021-06-04 07:08] durayakar opened #18355 "Wrong information on the page"
az disk update

--disk-encryption-set
Name or ID of disk encryption set that is used to encrypt the disk.

This is wrong information. The encryption set CANNOT be located with an ID and it throws an exception like:
(BadRequest) DiskEncryptionSet '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroup}/providers/Microsoft.Compute/diskEncryptionSets/{diskEncryptionId}' was not found.

The ins

[2021-06-04 08:13] scootercop opened #18356 "az network dns record-set a update failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network dns record-set a update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network dns record-set a update --help`

## Expect

[2021-06-04 10:09] kelvinduan2020 opened #18357 "WebApp:Resource state Failed for az webapp deployment source config"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment source config --name {} --resour

[2021-06-04 10:32] Sheshagiri opened #18358 "az sf cluster client-certificate add command is broken"
**Describe the bug**
az sf cluster client-certificate add is not working as expected.

**To Reproduce**
Try adding a new issuer thumbprint to the service fabric cluster using azure cli, Following is an example.
[code]

**Expected behavior**
The command should not they any error and new thumbprint should be added to service fabric cluster.

**Environment summary**
[code]
**Additional context**
N/A

[2021-06-04 11:04] sven73 opened #18359 "az lock show is missing the property resourcename"
I am missing the property `resourcename ` on which the lock applies, when executing `az lock show --ids xxxx`
When using Az powershell module command 'Get-AzResourceLock' the information is available.

Is it correct that this is missing or am I executing the wrong code ?

`az lock show --ids "/subscriptions/xxxxx/resourcegroups/rg-dev-xxxx/providers/Microsoft.ManagedIdentity/userAssignedIdentities

[2021-06-04 13:21] t-dedah opened #18360 "arm-deploy Action failing after Release 2.24.1"
Arm deployment using [arm-deploy action](https://github.com/Azure/arm-deploy) started failing after Release 2.24.1 with error:-

[code]

Update:
The data we are getting in stderr is a string with 71 spaces so just a blank line which is forcing the action to fail.

[2021-06-04 16:06] william-hou-ca commented on #6962
Hi, Guys
I meet the same problem. But in according to the info az shows, I used az login --tenant TENANT_ID to relogin in a web browser After that, everything is good. You could find your tenant_id in portal of active directory on section overview.

[2021-06-04 17:49] ramayer-fli opened #18361 ""az costmanagement query" on GovCloud fails with azure-cli 2.24.2; works with azure cli 2.8.0"
**Describe the bug**

When using Azure Gov Cloud, azure-cli 2.24 this command

    az costmanagement query --type "Usage" --timeframe "MonthToDate" --scope "subscriptions/..."

gives this this error:

    (InvalidAuthenticationTokenAudience) The access token has been obtained for wrong audience or resource 'https://management.azure.com'. It should exactly match with one of the allowed audiences 'h

[2021-06-04 20:15] panchagnula commented on #16369
Please try with the latest CLI version & let us know if this still repros. Thanks!

[2021-06-04 20:15] #16369 closed

[2021-06-04 20:57] teejwarren commented on #14786
Any update on this feature for non-tty and/or --node-image-only GA, non aks-preview az cli version?

ADO pipeline az cli is at v2.10.1 at present, and would appreciate a method avail for automation.

[2021-06-04 22:18] aheld opened #18363 "az cli cannot be upgraded on Azure Devops default linux build servers"
**Describe the bug**
`az cli` on the default build server is outdated and cannot be upgraded.  The version in the build agent has a know bug that blocks deployments

**To Reproduce**
Run a pipeline on the default Azure DevOps build server
[code]

**Expected behavior**
the az upgrade succeeds

**Environment summary**
[code]

### Upgrade Results
[code]

[2021-06-04 23:57] panchagnula commented on #18330
@btardif this issue is not specific to CLI - do you know who can help with this question?

[2021-06-04 23:59] panchagnula commented on #18147
@jonbe & @bertah please re-try with the latest CLI version, this has been fixed.

[2021-06-05 00:04] panchagnula commented on #18121
The example syntax is not correct the syntax depends based on the terminal you are using see this https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#using-quotation-marks-in-values

[2021-06-05 00:04] #18121 closed

[2021-06-05 00:05] panchagnula commented on #18122
@madsd this is already supported right if the resourceId is used instead of name?

[2021-06-05 00:08] panchagnula commented on #18075
Closing this since this has been fixed Please install latest version of CLI & re-try.

[2021-06-05 00:09] panchagnula commented on #18081
Please install latest version & try this has been fixed.

[2021-06-05 00:09] #18081 closed

[2021-06-05 00:19] panchagnula commented on #18069
@RobHofmann please re-try this with the latest version of CLI & let us know of your findings.

[2021-06-05 00:19] #18033 closed

[2021-06-05 00:21] panchagnula commented on #18010
Please re-install using latest package & re-try, doesn't seem like an issue with the command.

[2021-06-05 00:22] panchagnula commented on #17980
Please re-try with the latest version

[2021-06-05 00:23] panchagnula commented on #17965
az webapp create needs -n . please run az webapp create -h to check the basic arguments needed.

[2021-06-05 00:23] #17965 closed

[2021-06-05 00:23] panchagnula commented on #17955
This is available with the future release please upgrade & re-try. Thanks!

[2021-06-05 00:23] #17955 closed

[2021-06-05 00:24] panchagnula commented on #17885
@calvinsID is this already updated?

[2021-06-05 00:26] panchagnula commented on #17409
Check these available commands https://docs.microsoft.com/en-us/cli/azure/webapp/webjob?view=azure-cli-latest

[2021-06-05 00:26] #17409 closed

[2021-06-05 00:27] panchagnula commented on #17400
Certificates are not associated with a site but a concept called webspace, portal uses a hack to show this which is not always accurate. Portal experience will be re-done as well, to avoid confusion.

[2021-06-05 00:27] #17400 closed

[2021-06-05 00:36] calvinsID commented on #17885
now it is :)

[2021-06-05 01:15] jonathan-innis commented on #18337
ah, got it. Not it is not yet in the public repository. You can view it on a fork [here](https://github.com/AzureArcForKubernetes/azure-cli-extensions/blob/joinnis/k8s-config/src/k8s-config/azext_k8s_config/custom.py#L72).

[2021-06-05 03:56] yonzhan commented on #18353
@jiasli for awareness

[2021-06-05 03:58] yonzhan commented on #18352
storage

[2021-06-05 04:03] yonzhan commented on #18355
Compute

[2021-06-05 04:05] yonzhan commented on #18356
network

[2021-06-05 04:07] yonzhan commented on #18357
route to service team

[2021-06-05 04:08] yonzhan commented on #18358
route to service team

[2021-06-05 04:09] yonzhan commented on #18359
ARM

[2021-06-05 04:10] yonzhan commented on #18360
ARM

[2021-06-05 04:13] yonzhan commented on #18361
cost management

[2021-06-05 04:17] yonzhan commented on #18363
@jiasli for awareness

[2021-06-05 13:06] scootercop commented on #18356
This was on a Ubuntu 21.04 system. I think there isn't official support for 21.04 yet so i downgraded to Ubuntu Server 20.04 LTS.
The official release still didn't work with 64bit ARM so i installed the package following commands here -
https://ubuntu.pkgs.org/20.04/azure-cli-amd64/azure-cli_2.24.2-1~focal_all.deb.html
And it's worked fine since.
Installing the build source (by just running apt in

[2021-06-05 13:31] ozbillwang commented on #18202
yes, after upgrade to latest

[code]

[2021-06-05 15:00] devopssameer opened #18366 "az container create --resource-group myResourceGroup --file test.yaml after using this command in cloudshell I am facing this error, can you please tell the issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container create --resource-group {} --file {}`

## Expected Beha

[2021-06-05 19:01] giovannifl opened #18367 "WebApp:Provide more explanation about how to use a JSON file to import appsettings values"
Executing below command fails
az webapp config appsettings set -g az1xxxx-xxx-xxx-xxx-xx -n wexxx-xxx-xxx-xx --settings @appSettings.json

with the following error

The command failed with an unexpected error. Here is the traceback:
not enough values to unpack (expected 2, got 1)
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/util.py", line 506, in sh

[2021-06-05 19:09] giovannifl commented on #15680
Any updates on this issue ?

[2021-06-05 21:38] OlfaZaag opened #18368 "troubleshooting containers with exec-command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container exec`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container exec --resource-group {} --name {} --exec-command {}`

##

[2021-06-06 00:40] zhoxing-ms commented on #18359
This problem is caused by that the REST [get-at-resource-level](https://docs.microsoft.com/en-us/rest/api/resources/management-locks/get-at-resource-level
) not return the `resource_name` attribute, CLI only flattens the data returned by REST and then outputs it.
If multiple clients need this data, REST should add this property to the returned data

[2021-06-06 00:49] zhoxing-ms commented on #18360
1. Could you please show me the specific error message?
2. In order to fix a possible related issue https://github.com/Azure/azure-cli/issues/18276 , the CLI recently upgraded to version `2.24.2`. Could you update the CLI to the latest version and try again?

[2021-06-06 01:11] zhoxing-ms commented on #18337
@jonathan-innis Hi, it seems that the position of the parameters passed into `cached_put` does not match the position of the parameters defined in the method `begin_create_or_update`.

You need to adjust the order of parameters as follows, and supplement the missing parameter `flux_configuration,  # type: "_models.FluxConfiguration"`
Before:
[code]
Expected:
[code]

For more details about how to u

[2021-06-06 02:22] jiasli commented on #18010
You probably have a built-in `azure-cli` 2.0.81 installed, which is a very old version. Please see the **Warning** section on page [Install the Azure CLI on Linux](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt).

[2021-06-06 02:30] jiasli commented on #18318
You may always use `--debug` to see how CLI receives the argument.

The `SerializationError` you are seeing is caused by a known PowerShell issue (https://github.com/Azure/azure-cli/issues/15529) which we have documented at https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively.

[2021-06-06 02:30] #18318 closed

[2021-06-06 02:36] jiasli commented on #18096
Judging from the file path `python3/dist-packages/knack/cli.py` from the error message, you are not using the official Azure CLI package distributed by Microsoft. Please see [Install the Azure CLI on Linux](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) to delete the old installation and install the official Azure CLI.

[2021-06-06 03:18] yonzhan commented on #18366
route to service team

[2021-06-06 03:21] yonzhan commented on #18367
route to service team

[2021-06-06 03:27] yonzhan commented on #18359
ARM service should look into this

[2021-06-06 03:28] yonzhan commented on #18368
route to service team

[2021-06-06 08:28] t-dedah commented on #18360
@zhoxing-ms The error string is just a whitespace string. But as its length is 71, the actions fails as failOnError is set to true.

[code]

[2021-06-06 09:42] giovannifl commented on #18367
It seems other people reported issues related to how import appsettings using a JSON file:
https://github.com/Azure/azure-cli/issues/15680
https://github.com/Azure/azure-cli/issues/8985
https://github.com/Azure/azure-cli/issues/7245

[2021-06-06 11:12] alexander-kastil opened #18369 "az pipelines pool create"
would be nice to have a az pipelines pool create command in devops cli

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 61462ecb-ccc4-48ea-964c-4a089e644b61
* Version Independent ID: 319dbbb8-f7d2-f404-a6b6-44787b9c5e30
* Content: [az pipelines pool](https://docs.microsoft.com/en-us/cli/azure/pipelines/pool?view=azure-cl

[2021-06-06 14:39] yonzhan commented on #18369
route to service team

[2021-06-06 15:15] ahsankbcs2269 opened #18370 "az container exc command issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container exec`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container exec -g {} --name {} --container-name {} --exec-command {

[2021-06-06 19:01] qwordy opened #18371 "Live test regression"
This issue is created by a program.
[Latest testing results of Azure CLI](https://clitestresultstac.blob.core.windows.net/latest/index.html)
[User Manual of Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EZGC9LwrN3RAscVS5ylG4HMBX9h7W0ZSA7CDrhXN5Lvx6g?e=V8HUmd)
[Upgrading API Versions in Azure CLI Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EcgPLHSkef9Mi14Rj

[2021-06-06 21:32] rajarshi-singh opened #18372 "Writing to `stderr` causes failure on pipeline tasks with `failOnStderr` set to `true`"
**Describe the bug**
We have been noticing the following warning after upgrading from Az Cli 2.0.73 to 2.24 in our pipeline operation for purging AFD cache. It is causing the pipeline to fail. The operation depends on an extension of Az Cli called "front-door", although I have tried reverting the extension to original version (1.0.2) and the warning still persists.

Can you please help us identify

[2021-06-07 01:02] yonzhan commented on #18370
route to service team

[2021-06-07 01:04] yonzhan commented on #18371
@evelyn-ys @jiasli for awareness

[2021-06-07 01:05] yonzhan commented on #18372
route to service team

[2021-06-07 01:54] zhoxing-ms commented on #18276
@gpatkos This release has completed in `CloudShell`, please have a try~

[2021-06-07 02:03] jiasli commented on #17835
Duplicate of #17740

[2021-06-07 02:03] #17835 closed

[2021-06-07 02:03] jiasli commented on #18202
Duplicate of #17740