[2018-08-28 17:28] dneelyep opened #7162 "Further information on --command-id"
It would be great if this documentation explained in more detail what "The run command ID" means. I was just guessing, and assumed it was an ID that I give to the command, that would later be surfaced in the Azure portal via logging, etc. I spent 3-4 hours playing with the command until I discovered that I literally have to set --comand-id equal to the value "RunShellScript". It would be great if

[2018-08-28 18:13] tjprescott commented on #7160
In general enum-type values should not be case sensitive at all. I suspect there may be an issue with the argument metadata.

[2018-08-28 19:49] #5246 closed

[2018-08-28 19:49] #3358 closed

[2018-08-28 21:55] brandonh-msft opened #7166 "How to upload to subfolder of container?"
No guidance is shown as to how to create a folder within the container and upload blobs there. Using `az storage blob upload` with a `--name` parameter containing a folder (eg: `--name foo/myfile.txt` doesn't work and errors out on the CLI with `unrecognized arguments`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472

[2018-08-28 22:01] djyou commented on #7159
We intentionally blocked this behavior because Classic registry has a dependency on a user storage account. The semantic of the following command is to (1) create a new storage account; and (2) create a registry.

[code]

When you run the command the second time, it creates another storage account and `updates` your registry with the new storage account.

It can truly be idempotent if `--storage-a

[2018-08-28 22:02] pascalnaber opened #7168 "az postgres allow access to azure services"
I want "Allow Access To Azure Services"  to be turned on for a postgres database.
There is no direct option for this in the CLI, but I found out that this can be done by adding a firewall rule with a specific name and ip-address:

az postgres server firewall-rule create -g $(RESOURCEGROUP_DATA_NAME) -s $(DATABASESERVER_NAME) -n "AllowAllWindowsAzureIps" --start-ip-address "0.0.0.0" --end-ip-addres

[2018-08-28 22:10] pascalnaber commented on #7159
We have a CI/CD pipeline running that deploys whenever we want it to run. Now it runs fine the first time only. After that the release fails because of the Error response of az acr create.
We are not using a classic registry.
`az acr create --resource-group $(RESOURCEGROUP_NAME)  --name $(CONTAINERREGISTRYNAME) --sku Premium

[2018-08-28 22:34] brandonh-msft commented on #7166
Turns out this syntax (`foo/myfile.txt`) works if you use `-n` but **not** if you use `--name`

🤷🏻‍♂️

[2018-08-28 22:58] QuinnDamerell-MS opened #7169 "`Az network vnet peering create` fails with error: "KeyError: 'subscription'""
**Describe the bug**
When I try to run `az network vnet peering create` I get an error, see below.

**To Reproduce**

**Expected behavior**
It should work. :)

**Environment summary**
Yum installed latest CLI version on Centos.

[2018-08-28 22:59] QuinnDamerell-MS commented on #7169
I tried clearing out my ~./azure folder and also reinstalling the CLI tools.

[2018-08-28 23:05] #3715 closed

[2018-08-28 23:05] #5142 closed

[2018-08-28 23:05] #6751 closed

[2018-08-28 23:05] #6914 closed

[2018-08-28 23:05] #6916 closed

[2018-08-28 23:40] QuinnDamerell-MS commented on #7169
Oh, actually I figured out half of it. `--remote-vnet-id` is expecting a full id path like `/subscriptions/xxxx-xxx-xxxx-xxxx-xxxxxxx/resourceGroups/thing/providers/Microsoft.Network/virtualNetworks/name` but it seems to crash the script if it doesn't get that.

[2018-08-29 02:43] #6408 closed

[2018-08-29 06:11] gstrantor commented on #7147
The String sent in the request body does not contain the ! character, so the filtering is happening on the shell itself (Windows Command prompt cmd.exe). The command arguments themselves omit the character.
That helped me to narrow down the issue to be escape characters for ! in command prompt. https://ss64.com/nt/syntax-esc.html helped me that it needs to be ^^!

[2018-08-29 06:11] #7147 closed

[2018-08-29 10:11] rohrerb opened #7176 "IP Config Allocation Update"
Would it be possible to allow updating the IP Configuration allocation (static / dynmaic) from https://docs.microsoft.com/en-us/cli/azure/network/nic/ip-config?view=azure-cli-latest.

It seems you can do it from [powershell](https://docs.microsoft.com/en-us/powershell/module/azurerm.network/set-azurermnetworkinterface?view=azurermps-6.8.0)  but not from CLI except for when [creating a VM](https://

[2018-08-29 13:58] tumluliu opened #7177 "How to grant extra permissions with az ad app update"
First of all, is it possible to do this with this command? If yes, how to do that, e.g. if I want to grant Windows Active Directory -&gt; Read Directory Data permission to a specific App? Thanks!

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 921aa920-c25f-5227-aabb-49116da38fa7
* Version Independent ID: 9b5a53ad-edf8-

[2018-08-29 14:03] tjprescott commented on #7176
Hi @rohrerb I'd like to understand your scenario better.  Are you creating NICs yourself or letting `vm create` create them for you?  If you create them yourself, then the CLI's logic is as follows:

1. If you provide a private-ip-address, then it is static.
2. If you provide a public-ip-address then you had to create that public-ip with either static or dynamic configuration.

[2018-08-29 14:21] rohrerb commented on #7176
Understood.  The portal allows you to select dynamic or static when using private ip address.  If static is chosen we are forced to input a ip address and dynamic grabs next available.

It would be helpful to toggle the allocation for private ips as the portal allows this functionality.

[2018-08-29 15:34] #7159 closed

[2018-08-29 16:29] #6315 closed

[2018-08-29 22:53] williexu opened #7179 ""azdev test" no longer works with older profiles."
**Describe the bug**
"azdev test" no longer works with older profiles; no tests are detected.

**To Reproduce**
run `azdev test` in a different profile than latest

[2018-08-29 22:54] williexu opened #7180 "Generating sas token for a file returns non-working sas token."
**Describe the bug**
`az storage file generate-sas` does not give valid tokens.

[2018-08-29 23:03] praveendhac commented on #7138
Any updates on this please?
Is there a work around to block "az aks get-credentials --admin" and allow "az aks get-credentials"

[2018-08-30 00:01] charwen opened #7181 "ExpressRoute Global Reach"
**Is your feature request related to a problem? Please describe.**
We added a new capability to ExpressRoute, which is an Azure networking service for a few years. We added a few APIs to configure the new capability.

**Describe the solution you'd like**
We need the CLI support.

**Describe alternatives you've considered**
We already added the feature support in PowerShell.

**Additional context**

[2018-08-30 00:42] nkindberg opened #7183 "Azure DNS zone import fails on records which share a type name"
**Describe the bug**
Zone import fails for Azure DNS if the name of the record conflicts with a record type name.

**To Reproduce**
Importing the below zone file repros the issue where the name of the record (ns) conflicts with NS record type name and causes a parsing error.

[code]

[code]

**Expected behavior**
The record should have been successfully parsed/imported as an A record with name ns

[2018-08-30 00:46] nkindberg commented on #7183
Tagging @tjprescott for review/triage. We received a customer support case on this and I validated repro. Let me know if you need any info/help from Azure DNS team.

[2018-08-30 01:32] panchagnula opened #7184 "Update & enable bot service app test with the new azure-mgmt-web module"
The following change has disabled  test https://github.com/Azure/azure-cli/pull/7135 for bot app, please re-record & publish with the test enabled. See the PR for more details

[2018-08-30 03:39] tjprescott commented on #7181
Questions:
1. What is the link to the relevant Swagger?
2. Is this a feature specifically for Ignite?

[2018-08-30 03:40] tjprescott commented on #7179
Yugang just used it a week or so ago and it worked fine.  Was there a recent commit that broke things?

[2018-08-30 05:02] williexu commented on #7179
Yeah, was probably https://github.com/Azure/azure-cli/commit/ba221523b20f6f71efb5f3a88a38bb0aab03d6f1#diff-4429e8851f9476cda0d91743e74ef970

[2018-08-30 05:30] john-louden opened #7185 "Inconistent behaviour"
**Describe the bug**
 When adding a NSG rule  that has a source of AzureLoadbalancer in a inbound direct it adds successfully. When you when add an rule that has a destination of Azureloadbalancer and the direction is outbound, BUT THE SAME RULE NAME the previous rule is silently deleted.

If you attempt to do the same in the portal an error is returned and the command can not proceed.

**To Repro

[2018-08-30 07:56] cloudguy-pro commented on #6888
sorry but am I missing something? I now get this error:

**az: error: unrecognized arguments: --api-properties qnaRuntimeEndpoint=https://cloudguy-cli-bot.azurewebsites.net**

when I try to run this command:

 **`**az cognitiveservices account create -n Cloudguy_CLI_QnAMaker -g Cloudguy_CLI_Bot --kind QnAMaker --sku F0 -l westus --api-properties 'qnaRuntimeEndpoint=https://cloudguy-cli-bot.azurewe

[2018-08-30 08:56] pascalnaber commented on #7168
@tjprescott if you ask me. It is really a bug. But I can't determine if the Azure CLI contains the bug. All I know is when I use the Azure CLI to turn on Allow Access To Azure Serices, it is not working.
The UI of the portal shows it is turned on. But it isn't.

[2018-08-30 11:26] john681611 opened #7186 "webapp config container set with slot returns main config not slot config"
**Describe the bug**
When updating a container configuration slot it returns the main config instead of the slot config. (known when changing image)

**To Reproduce**
1. Setup webapp container with a deployment slot
2. Run `az webapp config container set -n <app> -g <group> -s <slot> -i <newImage>

**Expected behavior**
config should be of the slot not of its parent prod

**Environment summary**
D

[2018-08-30 11:46] Always-Wright opened #7187 "Subcommand managementgroups does not exist."
The examples use the following:
az managementgroups group update --group-name GroupName --display
This does not exist in the Azure CLI, it should be "az management-group"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 01f8fe72-48f6-2e30-0741-d83bafc5d438
* Version Independent ID: 32ed6908-2c71-3c17-683b-d07eb08d4590
*

[2018-08-30 13:44] uday31in opened #7188 "Az login - JavaScript is required to sign in"
**Describe the bug**
az login causes command to hang in bash shell

![image](https://user-images.githubusercontent.com/14359777/44855255-9288a000-ac62-11e8-9a32-4af016c93bf1.png)

**To Reproduce**
Run az login from bash on Windows.

**Expected behavior**
az login to prompt for devicelogin

**Environment summary**

uday@DESKTOP-RGMO1N7:~$ az --version
azure-cli (2.0.41)

acr (2.0.28)
acs (2.1.3)
ad

[2018-08-30 15:28] tjprescott commented on #7187
This should be in the https://github.com/Azure/azure-cli-extensions repo since managment groups is an extension. I've created an issue there.

[2018-08-30 15:28] #7187 closed

[2018-08-30 15:34] tjprescott commented on #7168
Hi @pascalnaber the "Question" label is often used by us to flag a new issue. The service team will need to investigate this and determine how they want to classify it as they maintain these commands.

[2018-08-30 15:44] tjprescott commented on #7138
Not sure if this is an issue with AKS or the role definition commands. @mboersma can you take a look?

[2018-08-30 15:47] troydai commented on #7184
@swagatmishra2007 please get on this issue at your convenience.

[2018-08-30 16:00] troydai commented on #7188
By default `az login` opens up a browser for you to authenticate yourself. If in your environment the condition is not fit you can use the command `az login --use-device-code` to fall back to a text-based interactive login.

[2018-08-30 16:09] troydai commented on #7166
@williexu

[2018-08-30 16:17] drwhite729 opened #7189 "az lab formula create?"
Is there no way to create a formula from the CLI?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 008e6968-b442-d726-71e5-831fbf0b35ca
* Version Independent ID: 6c2b5e54-0259-fa74-b5cc-a0549526932d
* Content: [az lab formula](https://docs.microsoft.com/en-us/cli/azure/lab/formula?view=azure-cli-latest)
* Content Source:

[2018-08-30 16:27] tjprescott commented on #7189
Currently you can only create formulas using an ARM template.

[2018-08-30 16:29] ph0rman commented on #6769
I'm seeing the same issue while trying to enable redis persistence (RDB).  In the portal it just silently fails, but via CLI it errors out saying prperties.subnet and properties.staticIP cannot be modified (even though those aren't technically the correct property values).

[2018-08-30 16:32] uday31in commented on #7188
Many uses bash on Windows and this new default breaks authentication flow.

[2018-08-30 16:34] brandonh-msft commented on #7166
another PG was unable to repro (see https://github.com/MicrosoftDocs/azure-docs/issues/14153) but agreed docs should call out how to do this. Hopefully you do as well. thanks!

[2018-08-30 18:03] #7179 closed

[2018-08-30 18:35] tjprescott opened #7191 "[Network] Private IP Address Allocation wrong with LB Frontend IP create/update"
**Describe the bug**
`private_ip_allocation_method` is defaulted to `dynamic` for `lb frontend-ip create`.  It should switch to 'static' if a private IP address value is provided.

Update needs to expose the ability to switch the value to dynamic.

https://icm.ad.msft.net/imp/v3/incidents/details/81867050/home

[2018-08-30 18:39] cloudguy-pro commented on #6888
Sorry, I had version 2.0.44 not 2.0.45 installed - now it worked. Thanks

[2018-08-30 18:50] tjprescott commented on #7191
The logic in LB create is not applied to LB frontend-ip create/update.  The workaround is to create the frontend IP and then update it using generic update:

`az network lb frontend-ip update -g LB_test01 --lb-name ilb -n test02_fip --set privateIpAddress=10.151.0.101 --set privateIpAllocationMethod=Static`

[2018-08-30 18:56] cloudguy-pro opened #7192 "az bot create "AuthorizationFailed" error"
If I run the following command in the CLI:

`az bot create -k function -n Cloudguy_CLI_Bot -g Cloudguy_CLI_Bot -l westus --lang Node -v v4
`
I get the following error:

**(AuthorizationFailed) The client 'live.com#sbi@solvion.net' with object id '4682d714-d4ea-480a-9ffa-29370ebcb3f7' does not have authorization to perform action 'Microsoft.BotService/checkNameAvailability/read' over scope '/provid

[2018-08-30 19:08] tjprescott commented on #7192
Any stack trace is considered a bug. @swagatmishra2007 it looks like the create command tries to verify the name is available and that is the source of the problem. Can you confirm?

[2018-08-30 19:20] swagatmishra2007 commented on #7192
i investigated this and it's a botservices service side issue (more of a regression with our latest build). it should be fixed today/tomorrow. i will update this thread when done

[2018-08-30 20:28] swagatmishra2007 commented on #7192
@tjprescott  after some more investigation, i see that the checknameavailability api is not being called properly in my cli code. so i will have to fix it in the command module.  the api seemed to work on my tenant but doesnt work in all tenants. i will remove the faulty api in a pr

[2018-08-30 20:54] swagatmishra2007 commented on #7192
@tjprescott  until this gets fixed in the next version of cli , is there any way to list in some "known issues" page? alternately, is there a way to release a hotfix for this, for folks who have installed this release?

[2018-08-30 22:03] williexu commented on #7180
Bug was due to passing sdk empty string instead of `None` for directory argument
More context here: https://github.com/Azure/azure-storage-python/issues/494

[2018-08-30 22:39] williexu commented on #7108
@seguler @zezha-msft  in what situation would hadoop see a blob despite it a 404 being returned from the service?

[2018-08-30 22:47] williexu commented on #6621
@yxiang92128 please use `az storage account show-connection-string` to create a connection string and try that.
I will close this, but feel free to comment if you still have problems.

[2018-08-30 22:47] #6621 closed

[2018-08-30 22:55] dumahesh-msft opened #7195 "Add EnableTcpReset property to Load Balancer"
I have a swagger PR merged - https://github.com/Azure/azure-rest-api-specs/pull/3545. Please add this feature to CLIv2.

[2018-08-30 22:59] zezha-msft commented on #7108
Hi @williexu, that sounds extremely strange and shouldn't happen at all.

Hi @yiufung, to clarify, are you saying that:

1. You tried uploading a 1GB file to Storage as block blob, and it looks like it succeeded.
3. However, the exist call fails; but from the WASB side, it does exist.

Could you please confirm whether the blob exists or not using [Storage Explorer](https://azure.microsoft.com/en-u

[2018-08-30 23:06] charwen commented on #7181
@tjprescott  the swagger is here: https://github.com/Azure/azure-rest-api-specs/blob/7b95fd70c37943bd88eac39b3e7f1e4d4ab295ed/specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/expressRouteCircuit.json#L453

we plan to announce public preview for this feature.

[2018-08-31 00:23] djyou opened #7196 "Commands registered with `show_command` don't show formatting properly"
**Describe the bug**
Commands registered with `show_command` and `generic_update_command` (and maybe others) are not picking up table_transformer from their command group.

**To Reproduce**
For example, if the command type is registered as
[code]

And the following command has `table_transformer` inherited from `acr_custom_util`
[code]
But the following command doesn't
[code]

A workaround does ex

[2018-08-31 02:44] yiufung commented on #7108
@zezha-msft Yes. Additionally,

3. When I do a `hdfs dfs -ls wasbs://path/to/folder` in WASB side, the file is shown in list results.
4. When I do a `hdfs dfs -ls wasbs://path/to/folder/the_error_file` in WASB side, `No such file or directory` error is shown.

[2018-08-31 05:59] Izharsa commented on #6206
+1 unique keys

[2018-08-31 07:17] stprokho opened #7197 "Wrong documnetation for "--source-asgs" parameter of “az network nsg rule” command"
**Describe the bug**
https://docs.microsoft.com/en-us/cli/azure/network/nsg/rule?view=azure-cli-latest article says:
"--source-asgs
Space-separated list of application security group names or IDs."
Which in fact is not supported by CLI and following error being returned:
"A security rule may have up to 1 Application Security Group in the source or destination fields. The requested configuration ha

[2018-08-31 08:40] suonto commented on #5628
I believe this is not a client issue. AKS dashboard is connected via tunneled http. That makes dashboard a security vulnerability if given any privileges. The proper solution would be to make dashboard acessible via https and enable [login-view](https://github.com/kubernetes/dashboard/wiki/Access-control#login-view). I have opened an issue for this in AKS issues: https://github.com/Azure/AKS/issue

[2018-08-31 12:57] ernani commented on #6052
Hi, I have had the same issue with my MSDN subscription, I've issued the following command:
`az network dns zone create -g $RESOURCE_GROUP -n contoso.com`

And I got this exact same error, using latest az cli

[2018-08-31 14:28] tjprescott commented on #7196
@williexu please take a look.

[2018-08-31 14:31] tjprescott commented on #6052
@ernani what was the exact command you used? What location was your resource group in?

[2018-08-31 14:32] tjprescott commented on #7197
This feature is not supported by the service but is how their object is modeled.

[2018-08-31 15:03] richeney opened #7198 "az login --service-principal --terraform"
# Description

It would be nice to have an additional --terraform switch for  **az login** to pull in Terraform AzureRM provider service principal credentials, as per https://www.terraform.io/docs/providers/azurerm/authenticating_via_service_principal.html.

These would either be exported environment variables, or a provider stanza from a *.tf file in the current directory.

## Environment variabl

[2018-08-31 16:49] bear454 commented on #1787
Consider adding a note to the `az storage blob copy` documentation about where to check the status of the copy operation.

[2018-08-31 16:53] tjprescott commented on #7068
PR merged. Will be in Ignite release.

[2018-08-31 16:53] #7068 closed

[2018-08-31 16:53] tjprescott commented on #7066
PR merged. Will be in Ignite release.

[2018-08-31 16:53] #7066 closed

[2018-08-31 16:53] tjprescott commented on #7065
PR merged. Will be in Ignite release.

[2018-08-31 16:54] tjprescott commented on #7060
No specific CLI-work needed other than updating the SDK. This will be in the Ignite release.

[2018-08-31 16:54] #7060 closed

[2018-08-31 18:11] ernani commented on #6052
@tjprescott The command I issued is outlined in the previous thread, the resource group is in eastus2 In my case, the error relates to eastus2 as well, not like this one that states westus.

[2018-08-31 18:47] seguler commented on #7108
Can you share the exact CLI command you ran to upload the file ? We had an issue before where an extra slash would be placed in front of the blob name.. Hence some tools like WASB may have trouble listing or stating the file like you face above.

[2018-08-31 19:10] v-Ajnava opened #7202 "Bad request - Error from Response not displayed when cmdlet fails"
**Describe the bug**
Bad request - Error from Response not displayed when cmdlet fails

**To Reproduce**
applies to all cmdlet from Service Bus and Eventhub (not tested other service cmdlets)
az eventhubs namespace create create -g {resourcegroup} -n 11121212121 (name should not start with numbers)

O/P
Operation returned an invalid status code 'Bad Request'
Traceback (most recent call last):
  Fi

[2018-08-31 19:13] tjprescott commented on #6052
Does it work if you use --location global?

[2018-08-31 21:58] ernani commented on #6052
I've tried that before as per @averhaegen 's suggestion and I get the following error:

az: error: unrecognized arguments: --location global

[2018-09-01 00:06] yangyuan commented on #6888
Just in case you might encounter other configuration issues.
Here is a full working example:

[code]

[2018-09-01 13:58] mjyeaney opened #7206 "Provide alternative to Brew installation"
**Is your feature request related to a problem? Please describe.**
As a MacPorts user, Brew creates issues (especially with Python installations + pathing) due to installation of its' own Python environment. Yes, they *can* live together; not an option I'm interested in.

**Describe the solution you'd like**
Stand-alone installer that leverages current system configuration (per any requirements of

[2018-09-01 15:29] brbarnett opened #7207 "az"
**Describe the bug**
I have a Premium Verizon CDN profile (echosolutionsgroup-com) where I'm attempting to create an endpoint. I am receiving a Bad Request from the API.

**To Reproduce**
az version = azure-cli (2.0.45)

I have a Premium Verizon CDN profile (echosolutionsgroup-com) where I'm attempting to create an endpoint. I am receiving a Bad Request from the API. My command is:
`az cdn endpoin

[2018-09-01 18:06] mjyeaney commented on #7206
Considering that Docker support is already available [as shown here](https://docs.microsoft.com/en-us/cli/azure/run-azure-cli-docker?view=azure-cli-latest), looks like this is currently the best option.

Feel free to close.

[2018-09-02 04:54] michael0806 opened #7208 "az login: error: cannot import name 'TYPE_CHECKING'"
I already installed Homebrew and Azure CLI. However, I cannot log in by using mt terminal.
Shows like below:
sunsunmingweideMacBook-Pro:~ sunmingwei$ az login
usage: az login [-h] [--verbose] [--debug]
                [--output {json,jsonc,table,tsv,yaml}] [--query JMESPATH]
                [--tenant TENANT] [--subscription _SUBSCRIPTION]
                [--username USERNAME] [-i] [--use-device-co

[2018-09-02 09:09] averhaegen commented on #6052
@ernani @adewaleo I created the DNS using an ARM Template. I got this error because I used the same location as my Resource group. But after setting the location to global, the deployment succeeded.
It seems Microsoft should update the azure cli to accept a —location parameter when creating a DNS

[2018-09-02 13:08] brbarnett commented on #7207
OK I got it -- not an issue with the CLI directly, although a more useful error message would be nice. Here's the message I found in the Azure portal activity log: `We couldn’t configure QueryStringCachingBehavior, IsCompressionEnabled, ContentTypesToCompress, GeoFilters and DeliveryPolicy for premium profile endpoints. You’ll need to manage these endpoints in the supplemental portal.`

Passing `-

[2018-09-02 15:38] tomlm opened #7209 "Can't create cognitiveservice for QnaMaker via CLI because missing qnaRuntimeEndpoint."
**Describe the bug**
When you try to use az cli to create a QnAMaker cognitive service it fails because of missing qnaRuntimeEndpoint

**To Reproduce**
[code]
outputs error
[code]

**Expected behavior**
It should provision the cognitive service

**Environment summary**
windows 10
azure-cli (2.0.45)
cognitiveservices (0.2.1)

[2018-09-03 01:54] yiufung commented on #7108
[code]
If you are talking about the `--name` parameter, there is no extra slash placed in front of it in my bash_history.

[2018-09-03 03:13] swagatmishra2007 commented on #7192
@cloudguy-pro  i have identified the issue and will fix it in the next version of the cli. For the time being , to unblock bot creation, i have put the fix in the "botservice" extension, which you can install as
`az extension add -n botservice`

[2018-09-03 03:31] ernani commented on #6052
@averhaegen I have had to create mine via portal, then it worked. It seems it is just a need to allow --location to be global or hardcode it, and ignore whatever the user specifies if they do but, I am knot sure how az cli global parameters would rule it out. That's just my guess.

[2018-09-03 04:11] john-louden opened #7210 "route-table behaviour different"
**Describe the bug**
Inconsistency  between cli and portal with the command az vnet subnet update --route-table. In the portal if you attempt to associate a subnet that already has a route table associated with it it is greyed out. Using the CLI no error is returned, the existing associational is silently deleted and a new association is created.

**To Reproduce**
Via the portal
1./ Open the route

[2018-09-03 07:39] sameersbn opened #7211 "AKS cluster creation fails with 'too many 504 error responses'"
**Describe the bug**

Creating AKS cluster using the `az` client errors out with the following message

[code]

**To Reproduce**

I have been seeing this issue while creating aks clusters with k8s version `1.9.10` as well as `1.8.14`.

[code]

**Expected behavior**

The cluster should get created

**Environment summary**

apt-get / 2.0.45 / Ubuntu 18.04 / bash

**Additional context**

In some inst

[2018-09-03 08:46] sameersbn commented on #7211
another instance of the error https://pastebin.com/9CqXE2az

[2018-09-03 09:31] jtuliani opened #7213 "[Network] Traffic Manager commands are missing parameters"
**Describe the bug**
'az network traffic-manager profile' commands are missing support for various parameters introduced in https://azure.microsoft.com/en-us/roadmap/fast-failover-and-tcp-probing-in-azure-traffic-manager/

Specifically, MonitorIntervalInSeconds, MonitorTimeoutInSeconds, MonitorToleratedNumberOfFailures are not supported

**To Reproduce**
az network traffic-manager profile create -

[2018-09-03 12:14] cloudguy-pro commented on #7192
@swagatmishra2007 thank you but it doesn't work for me:

` az bot create -k function -n Cloudguy_CLI_Bot -g Cloudguy_CLI_Bot -l westus --lang Node -v v4`

I get this output:

Extension botservice (0.0.3) has been suppressed. These commands are now in the CLI
Remove this extension with 'az extension remove --name botservice'
(RequestBodyNotSupported) The HTTP Verb 'GET' should not have a request bo

[2018-09-04 01:26] markgar commented on #7112
I think so.  I've seen this same doc sample elsewhere.

[2018-09-04 03:10] Joyw1 opened #7215 "azure cli create failover groups :Grace period value should not be provided when failover policy Manual is selected for the read-write endpoint."
**Describe the bug**
Use Azure CLI to create failover group, `az sql failover-group create` , I have not passed the `--grace-period`, but it gives the error. Also I use the `az sql failover-group update` to set it to `Manual`, it gives the same error.

[![enter image description here][1]][1]

[![enter image description here][2]][2]

  [2]: https://i.stack.imgur.com/jgEsl.png

  [1]: https://i.stac

[2018-09-04 04:38] bhushangholave opened #7216 "az acs kubernetes get-credentials fails error Incompatible ssh peer (no acceptable kex algorithm)"
Describe the bug
successfully login using
[code]
`az acs kubernetes get-credentials --resource-group=${RESOURCE_GROUP_NAME} --name=${CLUSTER_NAME} -f ${LOCAL_CONFIG_DIR}/kube_config --ssh-key-file ${SSH_FILE_PATH}`

This fails with error
Incompatible ssh peer (no acceptable kex algorithm)
Traceback (most recent call last):
 File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 197, in invo

[2018-09-04 05:56] swagatmishra2007 commented on #7192
@cloudguy-pro  i see you are still using the older extension (0.0.3) while you need to use the latest one (0.4.0). the older extension is meant for folks using an older version of the cli.
just do the following to get the latest extension -
`az extension remove -n botservice`
then
`az extension add -n botservice`

[2018-09-04 06:29] cloudguy-pro commented on #7192
Ok, that leads me to the next problem:

Unable to provision MSA id automatically. Please pass them in as parameters and try again.

This command should be creating the MSA App ID and password automatically as it does when I create a bot using the Azure portal. Do you have any ideas?
I already tried logging in with different MSA accounts and corporate accounts, but I always get this error...

[2018-09-04 06:52] swagatmishra2007 commented on #7192
unfortunately that api is flaky...we are trying to make it better and actively working on it.
for the time being, please use apps.dev.microsoft.com to create msa appid/password and pass those in as parameters

[2018-09-04 08:35] nphmuller opened #7217 "Provide better way for developer tooling to obtain authorization"
**Is your feature request related to a problem? Please describe.**
A pretty complicated part of using developer tooling which uses Azure is authentication.
I currently see 3 patterns how tooling obtains credentials:

- Call `az ad sp create-for-rbac -n "<app_name>"` and set the credentials in 3 env vars (`AZURE_TENANT_ID`, `AZURE_CLIENT_ID` and `AZURE_CLIENT_SECRET`).
I consider this unsafe (for d

[2018-09-04 10:09] cloudguy-pro commented on #7192
ok, what a pitty that is I wanted to setup everything for a bot via the CLI without any other interace... Do you know if this is something which is on the roadmap?

[2018-09-04 15:19] KirkMunro opened #7218 "az command schema"
**Is your feature request related to a problem? Please describe.**
I'd like to build a converter to generate the PowerShell equivalent of az commands, but I don't have a schema document to work from.

**Describe the solution you'd like**
I would like one or more schema documents that describes all of the az command line options available.

**Describe alternatives you've considered**
None

**Additi

[2018-09-04 15:30] #7181 closed

[2018-09-04 15:30] #7206 closed

[2018-09-04 15:39] tjprescott commented on #7208
Please open a new issue and provide the required information.

[2018-09-04 15:39] #7208 closed

[2018-09-04 15:43] tjprescott commented on #7210
This is the service behavior--it would be the portal that is inconsistent. I'll refer this to the service team in case they would like to make this an error case in the service.

[2018-09-04 15:50] jjaviercv-msft opened #7219 "CLI v2 for recently merged Swagger (Cortex ExR gateways)"
Have a Swagger [PR](https://github.com/Azure/azure-rest-api-specs/pull/3776) merged. Please add this feature to CLIv2 as soon as possible. This should be released as part of the September release, so we need to make changes to Swagger - if any - by 9/6/2018.

Thank you!

[2018-09-04 15:52] schoren opened #7220 "az ad sp create fails with "Max retries exceeded""
**Describe the bug**
When trying to create a new SP for rbac, it takes a few minutes and finally fails with this message:

[code]

In the portal I can actually see the SP created, but cannot use it. I guess it's related to the role assigment missing.

**To Reproduce**
Just run:
`az ad sp create-for-rbac` or `az ad sp create-for-rbac --name test`

**Expected behavior**
Have a new usable SP created

[2018-09-04 16:56] yugangw-msft commented on #7188
@uday31in, `az login` should work with bash on window, which CLI has particular logics for that. Can you run `uname -r` and share with me the output?

[2018-09-04 17:01] yugangw-msft commented on #7138
This is should be investigated by AKS since it is the RP itself be responsible for interpreting the role action
//CC: @weinong

[2018-09-04 17:03] JasonvanBrackel commented on #7220
Seeing very similar behavior with ```az ad sp delete``` as well.

[2018-09-04 17:12] yugangw-msft commented on #1800
The flow, which we can emphasize in document, is you run “az vm list-skus -r virtualMachines -l <location>-otable” and ensure the size you are using in the “az vm create” command is in the list. If you don’t want to pick a different size, your other option is to make a phone call to the support team so to lift the restriction.

[2018-09-04 17:40] gldraphael commented on #7220
Same with `az ams account sp` & `az ams account reset-credentials` too.

[2018-09-04 17:46] chhajwani commented on #7220
same here...

[2018-09-04 17:48] tjprescott commented on #7220
This isn't related to CLI.
https://azure.microsoft.com/en-us/status/

There's a service outage currently that's affecting a specific region, but also the ARM resource provider, which unfortunately touches pretty much all resources.

[2018-09-04 17:52] tjprescott commented on #1800
Per our discussion offline, this is a service issue with the list SKUs operation, which shows a size as being available in the chosen region but then rejecting it.

[2018-09-04 17:55] ccrownhart commented on #7045
@tjprescott or others, any update or thoughts on this issue?

Thanks!

[2018-09-04 17:59] tjprescott commented on #7045
Do they show if you run `az monitor metrics alert list`?

[2018-09-04 18:36] #6941 closed

[2018-09-04 20:54] #7180 closed

[2018-09-04 22:51] yugangw-msft commented on #7177
Not a very smooth experience, but you can do it though `az ad app update` by providing the manifest artifacts

[2018-09-05 00:42] saccy opened #7223 "az vm image show example"
az vm image show: error: ambiguous option: --s could match --subscription, --sku

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90dfc804-87d6-913a-27fe-a9446a04eb13
* Version Independent ID: bfcb97df-2055-9eca-7a93-60811136d8cd
* Content: [az vm image](https://docs.microsoft.com/en-us/cli/azure/vm/image?view=azure-cli-

[2018-09-05 02:22] yugangw-msft opened #7225 "login: support "--allow-no-subscriptions" when login with MSI identity"
For now, this flag is not respected when use with "--identity"; but scenarios are coming up now that users might only give the identity some accesses to a keyvault and keyvault data plane is not subscription bound.

[2018-09-05 10:08] nikolajbrinch opened #7227 "az login doesn't work under VPN"
**Describe the bug**
when trying az login on macOS 10.13.6 I get the following error:

neko@rock $ az login
Port '8400' is taken. Trying with the next one
Port '8401' is taken. Trying with the next one
Port '8402' is taken. Trying with the next one
...
Port '8998' is taken. Trying with the next one
Port '8999' is taken. Trying with the next one
Exception in thread Thread-1:
Traceback (most recent

[2018-09-05 10:34] kiranpradeep opened #7228 "az iot hub monitor-events/invoke-device-method fails with error message short option not allowed"
**Describe the bug**

**To Reproduce**
Issue command on terminal: _az iot hub monitor-events_

**Expected behavior**
A help messsage listing various option available with monitor-events

**Environment summary**
Install Method:

**OS**: macOS 10.13.4
**CLI version**
$ az --version
azure-cli (2.0.35)

**Additional context**

[2018-09-05 12:31] priyalaggarwal commented on #5115
Ran into this issue today via .NET SDK.

`Unhandled Exception: Microsoft.Rest.Azure.CloudException: Account property accessTier is required for the request.`

[2018-09-05 14:09] kHRISl33t commented on #2507
@orezahc did you managed to resolve the issue? I'm experiencing the same when I'm trying to encrypt my VM's in AKS

[2018-09-05 18:11] Zimmergren commented on #5300
I'm getting this on one of my subscriptions as well. While everything works fine on my other 3 subscriptions, my fourth (a subscription that's been around since the incarnation of Azure) is having exactly this issue as well.

Ideas welcome.

[2018-09-05 18:26] #6273 closed

[2018-09-05 18:50] johnsontnc commented on #6304
Does this seem similar to https://github.com/Azure/azure-cli/issues/2745 ?
I am unable to update an existing role definition when assigned across multiple subscriptions (even though, I am in owner role across all subscriptions). I end up with similar:

"Please provide the unique logic name of an existing role"

This happens if in my role def I use the friendly "name" or the guid value..

[2018-09-05 19:38] ScriptMyJob opened #7230 "`--set` does not seem to be able to handle JSON input"
A use case for this would be if I wanted to set a key that is a JSON list:

[code]

Her is the error in it's entirety:

[code]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 921aa920-c25f-5227-aabb-49116da38fa7
* Version Independent ID: 9b5a53ad-edf8-4d89-f8e6-cde01b7866f6
* Content: [az ad app](https://docs.microsoft.c

[2018-09-05 19:49] ScriptMyJob commented on #7230
For clarification, the reason that I was taking this route was because of the following issue:

[code]

[2018-09-05 23:13] tjprescott commented on #7146
This will be fixed in the next release.

[2018-09-05 23:13] #7146 closed

[2018-09-05 23:13] tjprescott commented on #7191
This fix will be features in the next release.

[2018-09-05 23:13] #7191 closed

[2018-09-05 23:13] tjprescott commented on #7213
This fix will be features in the next release.

[2018-09-05 23:13] #7213 closed

[2018-09-06 07:55] torbjornvatn commented on #6715
I have a similar issue, but the error message is `ModuleNotFoundError: No module named 'azure.mgmt.botservice'`

[2018-09-06 08:31] abhinav12 commented on #5565
Hi @carlosscastro,
I see the last comment by you on this was on May 30.  Is configuring channels in ARM template supported now?
If not, what would be the best way to automate configuring a direct line channel for the bot?
Thanks in advance

[2018-09-06 08:48] dovry opened #7234 "[VM] --auto-shutdown command"
**Is your feature request related to a problem? Please describe.**
Seems that the CLI has most of the features that the portal supports, except one of the marketable features of cloud computing. Auto shutdown saves you money for when you're not using a mission critical VM or labbing at home.

**Describe the solution you'd like**
if no time-zone is specified, defaults to UTC
date format defaults to

[2018-09-06 11:56] jtuliani commented on #7213
Thank you!

[2018-09-06 12:46] jiimaho commented on #6297
Any plans on when this feature will be released?

[2018-09-06 12:48] panchagnula commented on #6297
we are planning to have this available with our upcoming release

[2018-09-06 14:43] pdyck opened #7235 "az bot create "RequestBodyNotSupported" error"
**Describe the bug**
When I want to create a bot, the CLI checks if a bot with this name already exists and then fails because there is a request body for a 'GET' request

**To Reproduce**
`az bot create -k registration -n my-bot -g MY_RESOURCE_GROUP`

**Expected behavior**
[code]

**Environment summary**
* MSI installer
* azure-cli (2.0.45)
* Python (Windows) 3.6.5
* cmder

**Additional context**

[2018-09-06 15:06] trallard commented on #7227
I am experiencing the same issue at the moment although running in `MacOS 10.13.5 `

[2018-09-06 15:36] lkennxyz opened #7237 "az login negative shift count"
**Describe the bug**
A clear and concise description of what the bug is.
On calling `az login` on macOS 10.13.6, it launches the browser window, after logging in inside the browser window azure-cli throws error:
`negative shift count`

**To Reproduce**
Type `az login` into a shell, log in inside the launched browser window, log in successfully, then the error is thrown in the shell

**Expected beh

[2018-09-06 15:54] aplihs opened #7238 "managedapp create param json file error"
**Describe the bug**
managedapp create errors out when using an external params.json. Got the error ...azure-cli-resource\azure\cli\command_modules\resource\custom.py", line 561, in create_application
TypeError: __init__() takes 1 positional argument but 5 were given

**To Reproduce**
`az managedapp create` with all the necessary inputs and path to params file.

**Expected behavior**
Should work t

[2018-09-06 17:00] tjprescott commented on #7238
@aplihs please try updating to the latest CLI as you are using an older version.

@adewaleo can you quickly try and repro this?  If there's a bug it's likely an easy fix. It reads like something is using positional args that now needs to use keyword args.

[2018-09-06 18:04] #7156 closed

[2018-09-06 18:18] aplihs commented on #7238
still the same. This is the cmd i am running with properly structured params file
`az managedapp create --resource-group rgName --name "appName" --location "eastus2" --kind "MarketPlace" --managed-rg-id $managedGroupID --parameters "params.json" --plan-nam
e "planName" --plan-product "sku" --plan-publisher "publisherName" --plan-version "version" --debug`

and here is the params.json
[code]

[2018-09-06 18:58] adewaleo commented on #7238
Hey @tjprescott @aplihs  I will look into this.

[2018-09-06 21:52] yantang-msft opened #7239 "az aks browse not working, pod "ubernetes..." not found"
Running the az aks browse command gives me this error:
```Error from server (NotFound): pods "ubernetes-dashboard-7979b9b5f4-9nqxq" not found```

I have this pod `kubernetes-dashboard-7979b9b5f4-9nqxq`. But how does 'kubernetes' become 'ubernetes'...

[2018-09-06 22:10] #4725 closed

[2018-09-06 22:26] tjprescott commented on #7227
@yugangw-msft any thoughts?

[2018-09-06 22:29] tjprescott commented on #7228
Please try updating your CLI installation. It is several months old and this issue should be fixed. Please reopen if that doesn't solve your issue.

[2018-09-06 22:29] #7228 closed

[2018-09-06 22:30] yugangw-msft commented on #7227
Let me find a repro.

[2018-09-06 22:32] swagatmishra2007 commented on #7235
@pdyck This is fixed in the upcoming release of the cli. For now, as a work around, use the botservice extension as follows -
remove the extension (if already installed)
`az extension remove -n botservice`
install -
`az extension add -n botservice`

[2018-09-06 22:46] adewaleo commented on #6780
Fixed in #7105

[2018-09-06 22:46] #6780 closed

[2018-09-06 22:50] #6297 closed

[2018-09-06 22:59] yangyuan commented on #7157
[
![ezgif-3-6cbd6e6cf2](https://user-images.githubusercontent.com/6030719/45189429-d85ae080-b1ed-11e8-8517-7a8e77a25d76.gif)
](url)

[2018-09-06 23:03] christiankuhtz opened #7242 "add --disable-outbound-snat to az network lb rule"
**Is your feature request related to a problem? Please describe.**
Missing argument to change DisableOutboundSNAT property on LB rule. Required for some of the az network lb scenarios.

**Describe the solution you'd like**
--disable-outbound-snat (optional argument, default false)

**Describe alternatives you've considered**
no alternatives available

**Additional context**
https://github.com/Azur

[2018-09-06 23:04] christiankuhtz commented on #7242
@yugangw-msft @tjprescott fyi

[2018-09-06 23:18] yugangw-msft commented on #7227
@trallard  @nikolajbrinch, I can't repro in my mac. I have submitted code change to report the real error. Since the upcoming release will take a few more weeks, at the same time if you have python background, could you run the following code and share with me the error?
[code]
Don't want to pollute the default python env in your mac, you can create a python virtual env, say
[code]

[2018-09-07 13:31] trallard commented on #7227
@yugangw-msft

I think my problem originated from installing Anaconda and making this Python my default one  as I get now this error

[code]
So I then used `brew link --overwrite python` to link to the cellar python version and got the same issue once again
[code]

[2018-09-07 13:40] pascalnaber commented on #7168
I can confirm that the functionality works when executing an ARM template. So the CLI is not working correct. ARM is doing it correct.

[code]

[2018-09-07 14:05] pdyck commented on #7235
Thanks!

[2018-09-07 14:05] #7235 closed

[2018-09-07 15:17] aplihs commented on #7238
@adewaleo Inline params gives the same error

[2018-09-07 15:29] hanssens opened #7245 "How to 'set' multiple appsettings in the same command?"
Using `az functionapp config appsettings set`, is there a way to set multiple appsettings in one command?

For example, for several Javascript functions I want to set FUNCTIONS_EXTENSION_VERSION, APPINSIGHTS_INSTRUMENTATIONKEY and WEBSITE_NODE_DEFAULT_VERSION at the same time, if possible. Now I have re-run the command for each setting, which takes a small performance hit during CI/CD.

It isn't a

[2018-09-07 18:47] evictor opened #7250 "append blob upload ignores --if-none-match"
**Describe the bug**
Using Azure CLI to upload a blob with `--if-none-match="*"` results in an error when the blob exists instead of the expected behavior which is an informative no-op success.

My command has not changed, but underlying Azure CLI version has. It is difficult for me to determine what the previous working version was because this is via a package manager buried in a Docker image. H

[2018-09-07 18:56] reyandap opened #7251 "CLI for Virtual WAN"
**Is your feature request related to a problem? Please describe.**
Virtual WAN is to GA 9/24 and hence the CLI need.
Swagger (Developer to contact is Ritwik Basu)
https://github.com/ritwikbasu/azure-rest-api-specs/blob/Network-September-Release/specification/network/resource-manager/Microsoft.Network/stable/2018-08-01/virtualWan.json
https://github.com/Azure/azure-rest-api-specs/pull/3715

**Descr

[2018-09-07 19:02] Fumes007 opened #7252 "Automating stop/start of VMs"
**Describe the bug**
I am trying to stop multiple VMs (over 700+) using a bash script and Jenkins to orchestrate the schedule. I am using `az vm start/deallocate -n vm -g rg --no-wait`. When it gets to about VM # 200. Azure informs me my environment is being throttled and this causes a lot of VMs to not stop. A lot of the VMs also start in failed state. Cli should be able to handle api calls using

[2018-09-07 19:11] #7242 closed

[2018-09-07 19:18] evictor commented on #7250
Upgraded to latest 2.0.45 CLI and bug still there. I am exploring now for older working version.

[2018-09-07 20:06] evictor commented on #7250
Downgraded to 2.0.26-1~jessie and bug still there. Is the underlying Python code tracked separately? The exception is from there so perhaps this is unaddressable by adjusting the azure-cli version. Here is the exception:

[code]

[2018-09-07 22:55] yevster opened #7256 "Confounding error message when providing blank resource group"
**Describe the bug**
When the resource group name provided to `az acr create` is an empty string, a confusing and most unhelpful message appears:

[code]

**To Reproduce**
Invoke as follows:
[code]

The empty value in quotes could be in a variable that a hapless scripter forgot to assign.

**Expected Behavior**
An error message along the lines of "--resource-group parameter may not be empty".

**E

[2018-09-07 22:55] williexu commented on #7234
@yugangw-msft do you know if this is supported by the sdk? I have a feeling it isn't.

[2018-09-08 15:20] akoval-jsp opened #7257 "Issue with "az aks get-credentials" command"
When I try to use "az aks get-credentials" command I get the following error:
$ az aks get-credentials --resource-group "$RESOURCE_GROUP" --name "$AKS_CLUSTER_NAME" --admin
The HTTP method 'POST' is not supported.

It worked OK few days ago.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d75c3a8d-1187-bea1-a7d4-7ebba71

[2018-09-08 19:15] RikkiGibson opened #7258 "`az login --service-principal` results in UnboundLocalError"
**Describe the bug**
Running `az login --service-principal` with no other arguments results in a runtime error.

**To Reproduce**
1. run `az login --service-principal`
2. login in the browser window opened by CLI

Results in

[code]
**Expected behavior**
Should have either succeeded or provided a friendly message about the missing parameters

**Environment summary**
Install Method: homebrew
CLI ve

[2018-09-09 05:11] derekperkins commented on #6178
This is still terribly annoying

[2018-09-09 23:51] tonyschollum commented on #6918
This issue still seems to exist for RM Storage Accounts.

E.g. the below command is trying to use a RM Storage Account in the staging resource group, however the error suggests it is trying to find the storage account in the function app group regardless of the resourceId:

az functionapp create --name functionapptest --storage-account "/subscriptions/xxxx/resourceGroups/staging/providers/Microsof

[2018-09-10 09:22] daxianji007 opened #7259 ""az feature --help" fail for 2017-03-09-profile and 2018-03-01-hybrid"
**Describe the bug**
Run `az feature --help` fail with message:
[code]

**To Reproduce**
[code]

**Expected behavior**
show the help message for `az feature`

**Environment summary**
Python (3.6.5)
pip (10.0.1)
azure-cli (2.0.45)

**Additional context**
Seems related to [This PR](https://github.com/Azure/azure-cli/commit/ebfb323cf0ab024de570c2d492be390b2c10fcf4#diff-62ccabf29f8dfbf150b76d33056b6b9

[2018-09-10 13:28] akx opened #7260 "`az vm secret format` returns nothing"
**Describe the bug**

`az vm secret format` returns nothing. With `-o json`, it doesn't seem to return anything that's usable by VMs.

**To Reproduce**

Create a secret in a vault:

[code]

Attempt to format it for VM use:

[code]

**Expected behavior**

`az vm secret format`, as the usage is described in e.g. https://github.com/MicrosoftDocs/azure-docs/blob/master/articles/virtual-machines/linux/

[2018-09-10 15:14] khowling opened #7261 "`az webapp create` doesnt support using a acr image"
**Describe the bug**
```az webapp create```  can only create a webapp using a public dockerhub or built in image, it doesnt support passing in registry credentials for a acr image.

I'm trying to create a webapp based on a image in acr,  but I cannot pass in the registry credentials into the create command. So I need to first create the webapp with a random public container, then run the ```az web

[2018-09-10 16:28] JonShelley opened #7262 "Different commands return the virtualMachine id differently"
**Describe the bug**
I am using the following commands to determine the private ip address of my vmss nodes.

az vmss nic list --vmss-name vmss-name --resource-group myresourcegroup --query [].[virtualMachine.id,ipConfigurations[0].privateIpAddress] --output json

az vmss list-instances --name vmss-name --resource-group myresourcegroup --query "[].[id,osProfile.computerName]" --output json

The re

[2018-09-10 17:00] ahmedelnably commented on #7261
We have it on our backlog and will update the thread once we finish the work, that's said we don't have an ETA to share right now

[2018-09-10 18:18] adewaleo opened #7267 "Remove redundant SSH public file checks in callers of core/keys.py's generate_ssh_keys"
In #7105, code to check if an SSH public key file exists were added to generate_ssh_keys in `src/azure-cli-core/azure/cli/core/keys.py`. However, the callers of this function essentially make this check. So we should update them and remove these checks.

See:

-  `_generate_ssh_keys()` in `src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/custom.py`

- `validate_ssh_key()` in

[2018-09-10 19:06] TiloGit opened #7269 "missing --subscription option"
How to use a different subscription for the cmd only? https://docs.microsoft.com/en-us/cli/azure/manage-azure-subscriptions-azure-cli?view=azure-cli-latest

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c608162e-cf40-9d53-da4a-51f51a0311ea
* Version Independent ID: eccbb543-be68-7de2-d41d-abee55c81452
* Content: [az ac

[2018-09-10 21:06] adewaleo commented on #5422
To connect to the Linux VM you don't use a password, rather you need to use ssh into it using your private key. Page 363 of the doc you shared has some very helpful info on this. You can also see [here](https://unix.stackexchange.com/questions/23291/how-to-ssh-to-remote-server-using-a-private-key) for more info.

To ssh into the VM, do the following:
- get the VM's IP address `IP="$(az vm show --n

[2018-09-10 21:06] #5422 closed

[2018-09-10 21:31] adewaleo commented on #5756
Hello @yugangw-msft @williexu what other fields do you think should be added aside from availability zone?

[2018-09-10 22:39] tjprescott opened #7271 "[Network] Enable write-operations for InterfaceEndpoints"
cc/ @rupalivohra

The current CLI implementation of `interface-endpoint` only exposes the `list` and `show` command, as these are the only operations the service fully supports. Once the service lights up the remaining scenarios, the `create`, `update` and `delete` operations should be exposed.

[2018-09-10 22:39] adewaleo commented on #6009
Was this fixed in #7165 @tjprescott ?

[2018-09-10 23:01] tjprescott commented on #6009
Yes.

[2018-09-10 23:01] #6009 closed

[2018-09-10 23:05] tjprescott commented on #7262
This is the format returned by the service.

[2018-09-10 23:19] tjprescott commented on #7136
Merged.

[2018-09-10 23:19] #7136 closed

[2018-09-10 23:20] tjprescott opened #7274 "[Network] AzureFirewall support"
Command support for new RT. Ignite.

[2018-09-11 01:20] williexu opened #7279 "Way to exclude commands/params if a resourcetype is not supported by the current profile."
**Is your feature request related to a problem? Please describe.**
Errors occur when the CLI references a ResourceType that is not supported in the current profile but is present in another.
ex: https://github.com/Azure/azure-cli/issues/7259

**Describe the solution you'd like**
The current solution would be to either write a conditional checking for the presence of the ResourceType, or to specify

[2018-09-11 07:07] chitrahegde opened #7281 "Azure CLI start/stop action is not producing any output in latest version (2.0.45)"
**Azure CLI start/stop action is not producing any output in latest version**

**To Reproduce**
Azure CLI version: v2.0.44
1.	Type Az configure press enter
2.	Type Y or Yes when Prompted
3.	Select from Options 1-4. This is your preference, you can choose JSON Template Form, Table Form, JSON Color Coded Form. (selected JSON)
4.	Run azure start/stop command.

**Expected behavior**
Expected output fo

[2018-09-11 07:10] chitrahegde commented on #7281
Not getting any output for start/stop CLI command, but its successfully  doing start/stop.

[2018-09-11 07:54] madsd commented on #6770
Still experiencing this problem - any news on the resolution?

[2018-09-11 11:59] swm7 opened #7282 "az webapp deployment source config-zip fails from jenkins pipeline"
**Describe the bug**
We are using Jenkins integration with Azure. While trying to run az deploy webapp from jenkins pipeline it fails with the following error:

az webapp deployment source config-zip --debug --resource-group st-worker-test --name st-worker-test --slot stagedeploy --src /var/lib/jenkins/workspace/tore-backend-latest_develop@2/artifact/App.Store.Work_develop_549.zip
ERROR: Expecting

[2018-09-11 12:26] GrimSmiler commented on #6560
Hi!

I get the same error.
If i run the deployment of a zip archive to Azure Web App one after another, it will freeze, constantly showing `WARNING`.

I was able to retrieve the log from `LogFiles\kudu\trace\`
[code]

It says `text="Thread was being aborted."`. Is there a way to avoid it?  Do i just set a timeout?

[2018-09-11 14:06] ScriptMyJob opened #7283 "Unable to update groupMembershipClaims programmatically via `az ad app update`"
**Describe the bug**
Unable to update groupMembershipClaims programmatically via `az ad app update`

**To Reproduce**
1.  Create a new azure ad app registration.
2.  Attempt to set groupMembershipClaims to a value like SecurityGroup
[code]

**Expected behavior**
I would expect the manifest to be updated with no errors.

**Actual behavior**
1.  The manifest is updated.
2.  The following error is ge

[2018-09-11 14:44] tjprescott commented on #7279
One of the problems you will run into here is that profiles don't reach the granularity of specific resource types as they are defined right now.

[2018-09-11 15:00] tjprescott opened #7284 "Role assignment E2E test will not play back"
`test_role_assignment_e2e` will run live but will not play back a recording. Since this is a special "RoleScenarioTest" type, I can't just switch it to LiveScenarioTest.

Temporarily disabling to facilitate Ignite work for Network.

[2018-09-11 15:05] tjprescott commented on #7281
There is no "azure start/stop" command. What command specifically are you using?

[2018-09-11 15:10] tjprescott commented on #7252
The only solution that comes to mind would be to have the CLI wait and retry on a throttling error, which would be bizarre since you explicitly called `--no-wait`.

My advice would be for your script to track the failures, requeue them and retry until they all succeed, or introduce some delay between calls to avoid the throttling.

[2018-09-11 15:32] Fumes007 commented on #7252
@tjprescott I ended up introducing a 5 seconds delay for the while loop. I've been running this for about 2 days now without any issues. Only thing is my 30 mins Jenkins job now takes 1hr 30.

[2018-09-11 15:34] GuyHarwood opened #7285 "az sql db delete does nothing"
**Describe the bug**
executing `az sql db delete --name mydb --resource-group mygroup --server myserver --yes` returns and does nothing.  The database remains active.

**To Reproduce**
At the command line run ``az sql db delete --name mydb --resource-group mygroup --server myserver --yes`.  The behaviour is the same when you omit the confirmation parameter `--yes` and when you include the `--no-wa

[2018-09-11 15:40] fdoxyz opened #7286 "az login: error: cannot import name 'TYPE_CHECKING' on MacOS"
**Describe the bug**
After installing the Azure CLI using homebrew I'm unable to authenticate by doing `az login`. The CLI prints out the following message:

[code]

**To Reproduce**

1) On a MacOS High Sierra 10.13.6 install Azure CLI following the [steps in the docs](https://docs.microsoft.com/es-es/cli/azure/install-azure-cli-macos?view=azure-cli-latest)
2) Run `az login` in a terminal window

[2018-09-11 15:49] sumeetisp commented on #7281
We are using following commands,
az vm start/stop --resource-group <some resource group> --name <some VM
name>

Thanks,
Sumeet Salvankar

On Tue 11 Sep, 2018, 20:35 Travis Prescott, <notifications@github.com>
wrote:

[2018-09-11 15:59] tjprescott commented on #7252
@Fumes007 you can try opening a support ticket on the portal to try and increase your API bandwitdth--this is a service issue. I think the retry/requeue strategy would probably work best for you, though I'd do that in a Python script instead of bash.

[2018-09-11 15:59] #7252 closed

[2018-09-11 16:14] panchagnula commented on #6560
@suwatch, can you point us to someone who can help us with  investigating this. The scenario is zip deployment being executed one after the other. CLI command calls the async zipdeployment command & keeps polling for the status.

[2018-09-11 17:13] #7196 closed

[2018-09-11 17:14] tjprescott commented on #6940
Merged.

[2018-09-11 17:14] #6940 closed

[2018-09-11 17:26] thomaslaw opened #7287 "withdrawn"
withdrawn.

[2018-09-11 17:30] #7287 closed

[2018-09-11 17:42] bigredthelogger opened #7288 "Your example to create a VMSS within an existing vnet needs to be updated."
The example --dns-name-for-public-ip should be updated to --public-ip-address-dns-name.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0408c294-207a-2b72-7b93-e09121602b75
* Version Independent ID: 852cb67b-70c6-b811-3b0a-5d5b84b8a911
* Content: [az vmss](https://docs.microsoft.com/en-us/cli/azure/vmss?view=azure-cli-l

[2018-09-11 18:04] jaredmoo commented on #7285
Are you able to see the database with `az sql db show`?

[2018-09-11 18:14] suwatch commented on #6560
@GrimSmiler  when you said run zip deploy one after another, did you wait or check if the current one completed?  The error indicated there was an ongoing deployment.  You can use `/api/deployments` to check the status of your deployment before launching another.

[2018-09-11 20:21] seanknox opened #7290 ""-o tsv" on Mac outputs with Windows line terminators"
**Describe the bug**
Outputting with `-o tsv` on Mac generates output with CRLF line terminators (Windows)

**To Reproduce**
[code]

**Expected behavior**
I'd expect output to use linefeeds on Mac and Linux, and CRLF on Windows only.

**Environment summary**
Install Method: `pip`

[2018-09-11 20:31] squillace commented on #7290
+1

[2018-09-11 20:47] patricklee2 opened #7291 "Bring your own storage tests should use production"
RE: https://github.com/Azure/azure-cli/pull/7190

the BYOS feature will not be in production until week on 9/21
as a work around the BYOS tests uses a webapp on the beta stamp, msftintch1501

when the deployment is complete, update the test to use a production stamp

[2018-09-11 21:29] adewaleo commented on #7238
Fixed in #7268

[2018-09-11 21:29] #7238 closed

[2018-09-11 21:49] Fumes007 commented on #7252
@tjprescott not too familiar with using python with Azure. I have some snippet here:

`try:
    vmlist = open("vmlist.txt","r")

    for vm in vmlist.readlines():
        values = vm.split()
        if OPTION in ['stop', 'deallocate']:
            # Stop the VM
            print('\nDeallocating the VM')
            async_vm_deallocate = compute_client.virtual_machines.deallocate(GROUP_NAME, VM_NAM

[2018-09-11 21:51] zarenner opened #7294 "File-based caching in _session very likely broken"
**Describe the bug**
From looking at the code at https://github.com/Azure/azure-cli/blob/dev/src/azure-cli-core/azure/cli/core/_session.py#L46, I think the following is incorrect and won't expire as expected:
[code]

time.clock() is "wall-clock seconds elapsed since the first call to this function" which is definitely not what was intended. time.time() is likely what you want.

This was first disc

[2018-09-11 22:11] tjprescott commented on #7252
You'd be better served asking here: https://github.com/Azure/azure-sdk-for-python

[2018-09-11 22:16] yugangw-msft commented on #7286
@williexu, I remember we had a similar report before. Any information to share? I don't think this error is specific to the "login" command

[2018-09-11 22:29] williexu commented on #7286
Yep, the standard library typing is missing `TYPE_CHECKING` was introduced in python 3.5.2.
@fdoxyz you are using 3.5.1, can you update your version of python to something later?

[2018-09-11 22:59] yugangw-msft commented on #7227
@trallard, when you ran the snippet, can you confirm the python comes from the same cellar python or some other places?
`local variable 'reply_url' referenced before assignment` is a bad error which I have fixed in the linked PR
We have tried in macOS (10.12.6 Sierra and 10.13 High-Sierra), CLI work fine with Python 3.7
I suggest try new CLI to be released on 9/23 which should help you report a be

[2018-09-11 23:17] nikolajbrinch commented on #7227
This is a matter of network setup at my client. I can do everything fine connecting to the client network from VPN. My direct connection (LAN/Wifi) goes through some security stuff that only allows specific MAC adresses, and some other nasty stuff has apparently been configured as well, so that I do not have access to do az login.
This ticket can be closed as this is my clients network setup, and

[2018-09-12 00:54] williexu opened #7296 "Undo temp fix in storage once proper mgmt sdk is released"
undo this: https://github.com/Azure/azure-cli/pull/7295

[2018-09-12 08:16] GuyHarwood commented on #7285
No.  output is...

`The Resource 'Microsoft.Sql/servers/xxx.database.secure.windows.net/databases/xxx' under resource group 'xxx' was not found.

[2018-09-12 12:14] lkennxyz commented on #7237
az login works fine on my other mac, so it is something to do with that individual mac

[2018-09-12 13:42] nikolajbrinch commented on #7227
Yes the --use-device-code works, but regular az login used to work. I can't seem to be able to install old versions of Azure CLI to try if that actually works.

[2018-09-12 13:52] fdoxyz commented on #7286
The standard Python install on MacOS was linked by default instead of using the recently installed 3.7.0

@williexu Yes, updating Python fixes the problem. Thanks for the help.

[2018-09-12 13:52] #7286 closed

[2018-09-12 14:05] micahasmith opened #7299 "Examples on Using from Python Directly"
can anyone point me to a starter on how to use this directly from python, importing commands and running them from in a python script? in other words, NOT running the `az` stuff from command line?

thx!

[2018-09-12 14:31] tjprescott commented on #7299
You should use the Python SDK. Using CLI modules or methods directly in Python code is not supported.

[2018-09-12 14:31] #7299 closed

[2018-09-12 14:32] #7237 closed

[2018-09-12 14:50] GrimSmiler commented on #6560
Hi! i waited for 5 mins - did not help. i also stopped the app, do not know if that helps.

I will check out the status through `/api/deployments` and will get back to you

[2018-09-12 15:15] GrimSmiler commented on #6560
@suwatch can you tell me what cli command to use to get deployment status?

[2018-09-12 16:14] yugangw-msft commented on #7227
if you can install the edge builds by following the [steps](https://github.com/Azure/azure-cli#docker) instead of waiting for the official release on 9/23, then you can share with me soon the root error.
`az login` has to work on mac. Our team are all using mac, but we just can't reproduce.

[2018-09-12 16:18] swm7 commented on #7282
Also seeing that the deployment hangs sometimes. Attached is the debug log. I really need help on this. Could someone please look into it.
[azure-deploy-log.docx](https://github.com/Azure/azure-cli/files/2376032/azure-deploy-log.docx)

[2018-09-12 16:45] jaredmoo commented on #7285
I see. The most likely cause of this problem is that the Azure Resource Manager API that CLI is using has a cache of resources such as servers and databases, if you create a database using other entry points such as the old Service Management API or T-SQL `create database` then on some rare occasions the Resource Manager cache isn't aware of the database, so GET will not show the database and DELE

[2018-09-12 17:37] way2arun opened #7301 "App gateway ssl policy typo"
there is typo - --cipher-suits -
Section -
Set a custom SSL policy with TLSv1_2 and the cipher suites below.
az network application-gateway ssl-policy set -g MyResourceGroup --gateway-name MyAppGateway \
                            --policy-type Custom --min-protocol-version TLSv1_2 \
                            --cipher-suits TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_ECDSA_WITH_AES_256_GC

[2018-09-12 17:42] yugangw-msft commented on #7294
//cc @troydai

[2018-09-12 17:54] bigmyx opened #7302 "az monitor activity-log list command exception"
**Describe the bug**

az monitor activity-log list command exception

[code]

**Environment summary**

[code]

[2018-09-12 18:12] panchagnula commented on #6560
@GrimSmiler , there is no CLI command currently that returns the desployment status - however, the zip deployment keeps polling & returns the status using the deployments API, if this doesn't finish for a specific time, it return a warning, with a link to the scm site to check the status.

[2018-09-12 18:17] cloudguy-pro commented on #7209
Did you try the commands documented here: https://github.com/Azure/azure-cli/issues/6888#issuecomment-417817480

[2018-09-12 18:36] #7259 closed

[2018-09-12 20:04] nikolajbrinch commented on #7227
OK, one update. I'm not at the client, tried az login, and it works from my home network on my Mac. Logged into the client network using VPN - bang az login is broken again.
I have debugged Azure CLI using IntelliJ. I tried changing the hardcoded 'localhost' in the _profile.py line 1024 to '0.0.0.0' and it now works. Changing it to '127.0.0.1' also works fine. 'localhost' though, doesn't work, and

[2018-09-12 20:13] abhiramani-iptiq opened #7304 "subscription name with space is not working in command az account set"
subscription="IPTIQADATA DEV"
az account set --subscription $subscription

the above command does not work in azure cloud shell bash.i tried single quotes,i even tried single quotes inside double quotes

[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9abfaa54-0895-29f7-f3bb-ff604912b2ac
* Version

[2018-09-12 20:15] johnsontnc commented on #6304
Just a follow up - this works perfectly fine in PowerShell - it seems only a fault of Azure CLI.

[2018-09-12 20:18] yugangw-msft commented on #7227
Thanks. Really helps. This [SO](https://stackoverflow.com/questions/32103885/not-able-to-access-local-server-running-after-vpn-connection) thread has some explanation. Let me see whether or not I can let CLI detect this case and fallback to the ip-address

[2018-09-12 20:27] nikolajbrinch commented on #7227
If you manage to do so, please state a warning in the log.
I can see that with /etc/hosts missing, localhost is still mapped to 127.0.0.1 (nslookup), while through VPN with no /etc/hosts nslookup gives a timeout. dig though maps it correctly to 127.0.0.1?

BTW: The error is a socket error of: socket.gaierror: [Errno 8] nodename nor servname provided, or not known
And not that the port is taken. Th

[2018-09-12 20:42] #6984 closed

[2018-09-12 20:49] tjprescott commented on #7302
How did you install the CLI?

[2018-09-12 20:53] tjprescott commented on #7304
What version of the CLI are you using?  I have no issue using this command when the subscription name has a space.

[2018-09-12 20:54] tjprescott commented on #7302
When the CLI is installed it should install the correct antlr runtime. It looks like in your case it did not.

[2018-09-12 20:56] abhiramani-iptiq commented on #7304
I am sign azure cloudshell bash so whatever come with azure cloudshell

Abhijit Ramani | Cloud Infrastructure DevOps Engineer | ASSISTANT VICE PRESIDENT | iptiQ Americas L&H
iptiQ Americas Inc. | 175 King Street, 10504 ARMONK, UNITED STATES (USA)
Direct: +1 914 828 8397 Fax: +1 914 828 7397 Email: Abhijit_Ramani@iptiq.com<mailto:Abhijit_Ramani@iptiq.com>

From: Travis Prescott [mailto:notification

[2018-09-12 20:57] tjprescott commented on #7282
@panchagnula

[2018-09-12 21:05] tjprescott commented on #7304
[code]

[2018-09-12 21:05] #7304 closed

[2018-09-12 23:29] yugangw-msft commented on #7267
Remove the service flag which would cause the issue gets surfaced to s360

[2018-09-12 23:32] yugangw-msft commented on #7269
@TiloGit , please provide the detail command you are talking about. Some acr commands do have --subscription exposed

[2018-09-13 01:39] sebastianjungels commented on #6457
Hi, I just installed version 1.1.0 and am still getting the error. Can you please advice what I need to do?

[2018-09-13 01:52] mlda065 opened #7309 "`az interactive` keeps crashing"
**Describe the bug**
When trying to use az interactive, it keeps crashing upon trying to look up a list of suggestions.

**To Reproduce**
The first time it happened:

[code]
I didn't press enter. When I pressed that second dash, Python threw an exception.

Then I quit and started again

[code]

I can't type anything. I can't use ctrl-C to quit. I had to close the entire terminal window and make a

[2018-09-13 01:52] mlda065 commented on #7309
The impact of this bug means that I cannot use `az interactive` to achieve anything.

[2018-09-13 03:42] Costo opened #7310 "`az webapp config ssl unbind` has no effect on slot"
**Describe the bug**
I have a Web App with a `staging` slot and I want to unbind the SSL certificate.
I use the `ssl unbind` command. The command runs successfully, but the SSL bindings are still there. I have the same issue when I do it through the Azure Portal.

**To Reproduce**
A Web App with a slot. The slot has a custom domain and SSL bindings.
Run the `ssl unbind` command on the slot:
`az we

[2018-09-13 04:02] viananth commented on #6457
@sebastianjungels can you pls update to latest version of CLI? This should be fixed in latest.

[2018-09-13 06:42] neumanndaniel commented on #7077
https://github.com/kubernetes/kubernetes/issues/66435

[2018-09-13 08:01] GuyHarwood commented on #7285
Hi Jared, thanks for the detail.

To give you a complete picture - during build we create the database using TSQL (which is sent via the npm `tedious` package inside a node app), run a bunch of migrations to prove they work, then drop the database using the Azure CLI `sql db delete` command as described in my initial post.  So this would explain why i am seeing this issue.  Oddly enough, the `sql

[2018-09-13 12:14] jlucktay commented on #6715
Had the same issue just now, when running `az find -q vm extension list`:
[code]

[Here is the full stack trace](https://gist.github.com/jlucktay/e4b30ef896d5b10331a6954d63de2060).

[2018-09-13 12:59] Soul-D opened #7311 ""Parameter 'maxresults' failed to meet validation requirement" in az keyvault key list-versions"
**Describe the bug**
According to [az keyvault key list-versions
](https://docs.microsoft.com/en-us/cli/azure/keyvault/key?view=azure-cli-latest#az-keyvault-key-list-versions) we can get specified numbers of key versions. But when I tried to run this command both from Azure Cloud Shell and from Cloud Shell in Azure web portal, I've got error:
c

**To Reproduce**
1. Open Cloud shell in Azuree web p

[2018-09-13 13:06] just-olaakinyemi opened #7312 "az monitor diagnostic-settings list --resource "/subscriptions/xxxxxxxx"
**Error from command az monitor diagnostic-settings list **
The command ```az monitor diagnostic-settings list --resource "/subscriptions/xxxxxxxx ``` gave an error
`Operation returned an invalid status code 'Bad Request'`
I have the az --version `azure-cli (2.0.44)`

Upgraded the cli to `azure-cli (2.0.45)`

After upgrade the command ```az monitor diagnostic-settings list --resource "/subscriptio

[2018-09-13 13:52] GuyHarwood commented on #7285
I got this working by removing the fully qualified domain name from the `--server-` argument of the `sql db delete` command.  I am still creating the database via TSQL.

i discovered this by trying your suggestion of `sql db create` and it couldn't find the server when it was fully qualified, but could when it was not.

Maybe there are some inconsistencies behind the CLI around this server name, a

[2018-09-13 14:37] GrimSmiler commented on #6560
@panchagnula , as you can see in the first post, the CLI does not show the `scm` site where the status can be checked.

So i am a bit lost about how to check the status. Currently I can only check the status through Kudu service through azure portal manually in the logs. Is this what You mean? Do I need to to check the status there?

Please forgive me if I misunderstood you. I do not see a clear s

[2018-09-13 14:45] alanmbarr commented on #7302
I am receiving the same issue on centos 7 when I do pip install azure-cli. I tried uninstalling and reinstalling the different antlr runtimes and did not have complete success. Anything I can provide?

[2018-09-13 15:47] jaredmoo commented on #7285
Oh, that would also explain the problem. There is no inconsistency - an Azure SQL server's name and FQDN are not the same thing. Azure CLI and Azure PowerShell *always* use the server's name (e.g. `myserver`), not the FQDN (e.g. `myserver.database.windows.net`).

[2018-09-13 16:09] #7285 closed

[2018-09-13 16:57] woodsaj opened #7314 "az aks list returns bad json"
**Describe the bug**
The json returned by `az aks list` cant be parsed due to bad json (unescaped "\n" in strings)

**To Reproduce**
When creating an aks cluster, add a newline to the end of an SSH publickey.
Then run `az aks list` and try and parse the json response.eg
[code]
you will get an error like
[code]
The bad data in the json response from the az aks list command looks like
[code]

**Expe

[2018-09-13 17:53] mairaw opened #7315 "Required SSH value to create a VM"
I originally filed this as a doc bug (https://github.com/Azure/azure-docs-cli-python/issues/1023) but @sptramer asked me to file it as a product bug instead on this repo.

If I try to run the command as shown at https://docs.microsoft.com/en-us/cli/azure/?view=azure-cli-latest, I get an error. Should it work?

[code]

[2018-09-13 18:28] anniehedgpeth opened #7316 "Does image-copy-extension copy to other subscriptions?"
Does image-copy-extension copy to other subscriptions or only within the same subscription to other regions?

The documentation is misleading as it says, "Copy a managed image (or vm) to other regions," but it will also receive a `[--target-subscription]` parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 1806a2

[2018-09-13 19:56] tjprescott commented on #7312
This is an error returned by the service. I'd recommend opening a support ticket in the portal since the error message clearly implies what you are trying to do is legitimate.

[2018-09-13 19:57] tjprescott commented on #7302
If you do a pip install into a clean virtual environment followed by `pip list` you should only see a single runtime (for Python2).  Is that not the case?

[2018-09-13 19:58] Am018 opened #7318 "Make Address Prefix of subnet accept multiple prefixes"
**Is your feature request related to a problem? Please describe.**
Subnet's AddressPrefix property is not able to accept more than one prefix

**Describe the solution you'd like**
Make the AddressPrefix property of subnet accept multiple values. This is already supported by REST API.

**Describe alternatives you've considered**
None

**Additional context**
Powershell will be supporting multiple ad

[2018-09-13 20:00] yugangw-msft opened #7319 "vm/vmss create: --storage-sku should take a list for user to specify different values for os or data disks"
This work gets particular important with the introduction of new sku as it can only be implied on data disks e.g.
    1. `--storage-sku premium_lrs` (apply across to all disks)
    2.` --storage-sku os=premium_lrs 0=standard_lrs`  (os disk gets premium, the first data disk lun at 0 gets stanadard_lrs, and the rest goes with server defaults)

[2018-09-13 20:00] yugangw-msft commented on #7319
i will get it done right after //ignite

[2018-09-13 20:33] tjprescott commented on #7316
@williexu comments on extensions should not create issues here but in the extensions repo.

[2018-09-13 20:34] tjprescott commented on #7315
Yes, it should work. What error do you get and what is the output of `az --version`?

[2018-09-13 20:34] #7316 closed

[2018-09-13 20:36] tjprescott commented on #7310
@panchagnula

[2018-09-13 20:47] tjprescott commented on #6839
@schaabs isn't this done?

[2018-09-13 21:10] schaabs commented on #6839
yes fixed with PR https://github.com/Azure/azure-cli/pull/6991. Closing the issue.

[2018-09-13 21:10] #6839 closed

[2018-09-14 03:49] mattpetrick commented on #6341
duplicate of #5667

[2018-09-14 04:16] brendandburns commented on #7314
Hrm, this works as expected for me for my cluster. Do your cluster names have unicode in them?

[2018-09-14 06:38] troydai commented on #7294
Interesting. This particular line of code hasn't been changed since it was added 3 years ago. And this is the first time it is mentioned. And you're probably right.

[2018-09-14 06:39] troydai commented on #7294
Is it not an issue probably because we rarely set the `max_age`

[2018-09-14 08:17] amandadebler opened #7328 "Command syntax"
"az ad sp credential append" would be easier to discover and use than "az ad sp credential reset --append"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7bef1f12-de16-93ed-1cb7-3f3d5d99d786
* Version Independent ID: 4e9329a6-50f8-ee2a-af63-f750d66ed574
* Content: [az ad sp credential](https://docs.microsoft.com/en-us/

[2018-09-14 08:27] amandadebler commented on #7328
It would also be good if we could add a description to the key (password) generated.

[2018-09-14 09:44] woodsaj commented on #7314
No, Unicode is not used.

As explained in the post above.  The issue is due to a newline "\n" in a public key not being correctly escaped.

The json response returned included
[code]
the "\n" at the end is not correctly escaped and so the json document cant be parsed.
Somewhere in the azure platform between the user inputing the key and azure cli creating the json document response, there is an en

[2018-09-14 11:07] akx commented on #7260
Apparently the output generated by `-o json` can be piped into a file, then used with `--secrets @...`, i.e.

[code]

However it's important to note (as I found out the hard way) that *secrets other than certificates are __not__ supported at present by the VM creation process*.
That is, you can't use this method to inject an arbitrary secret value into your VM.

The bug still stands though; `az vm

[2018-09-14 11:32] williexu commented on #6099
Addressed with https://github.com/Azure/azure-cli/pull/6604

[2018-09-14 11:32] #6099 closed

[2018-09-14 17:36] Dagon- commented on #6607
Just ran into this issue.
Same symptoms and work around as provided by @hectoralicea
Currently on azure-cli 2.0.45

[2018-09-14 19:04] praveendhac commented on #7138
Can I expect fix anytime sooner? Any other way to block clusterAdmin credentials, "_--admin_".

[2018-09-14 19:29] alexeyshishkin01 commented on #5592
we can fix it, ain't we?

[2018-09-14 19:47] williexu commented on #5592
@nbayle @alexeyshishkin01 I've added examples: https://github.com/Azure/azure-cli/pull/7153/files#diff-32882f7652ab67bdbdbf7815216079faR819 for the sas-url generation commands.
They will be synced to our docs in our next release and will be available with our 2.0.46 release.

[2018-09-14 21:28] alexeyshishkin01 commented on #5592
thanks, pls. think about the bigger documentation task: there's no doc so far which describes how to put vendors VM into the marketplace 'in the cloud', i.e. without on-premise VM
vendor has to read a lot of documentation about it, this documentation is now always correct (you can look at my submitted issues here), creating VM for the marketplace differs from one Linux OS to another (CentOS, Debia

[2018-09-14 21:58] seanknox opened #7333 "az keyvault secret download silently fails"
**Describe the bug**
Tried downloading a utf-8 secret to a file in current directory, but command appears to silently fail (nothing happens)

**To Reproduce**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Environment summary**
Install Method `pip` / CLI version (`az --version`) 2.0.43 / MacOS High Sierra / Shell Type (e.g. bash, cmd.exe, Bash on W

[2018-09-14 22:41] Am018 commented on #7318
Powershell has implemented this feature in such a way that same parameter works for both single address prefixes and multiple address prefixes. If the user specifies single value it populates addressPrefix parameter. If user specifies multiple value, it populates addressPrefixes parameter while sending request to server.
Perhaps similar approach on CLI will reduce confusion for customers.

[2018-09-15 00:43] williexu commented on #5592
@alexeyshishkin01  I'll work to update the outdated doc.

[2018-09-15 20:09] ymkaos commented on #7315
I'm having a similar issue

**Describe the bug**
 Create a scaleset with secret asks for sshkey.

**To reproduce**
[code]
I got this message:

**Additional context**
The variable my_secrets is properly set.
I changed the names to ... but this is the output
[code]
And if I replace --secrets to --admin-password it works.

I followed the example in the documentation:
https://docs.microsoft.com/en-us/

[2018-09-15 23:44] damadei opened #7338 "az iot: 'device' is not in the 'az iot' command group. See 'az iot --help'."
**Describe the bug**
az iot device stopped working after updating to CLI v2.0.45 on windows. It works on cloud shell.

**To Reproduce**
Upgrade to 2.0.45 on windows

**Expected behavior**
az iot device should work

**Environment summary**
Windows 10 OS

azure-cli (2.0.45)

acr (2.1.4)
acs (2.3.2)
advisor (0.6.0)
ams (0.2.3)
appservice (0.2.3)
backup (1.2.1)
batch (3.3.3)
batchai (0.4.2)
billing (0

[2018-09-16 08:52] pritam97 commented on #4419
still issue persists in Azure cli 2.0.45

[2018-09-16 10:46] gursin87 opened #7339 "Unable to update custom headers and Expected Status code range"
**Describe the bug**
I am trying to change the custom headers and expected status code range for the monitoring setting for my ATM through azure cloud shell and i get the following error:

Set-AzureRmTrafficManagerProfile : Endpoint name '' is invalid. Endpoint names cannot be empty or all whitespace, and must be up to 260 alphanumeric characters long. The type '<null>' specified for endpoint '<nu

[2018-09-16 11:38] mendiney opened #7340 "Export an Azure SQL"
hello!
I am trying to Export an Azure SQL database to a BACPAC file with the python-cli(I already do it in the portal), but I can't find any way to do it with a python script.

I find this class in the doc
https://docs.microsoft.com/en-us/python/api/azure-mgmt-sql/azure.mgmt.sql.models.export_request_py3.exportrequest?view=azure-python
but I can't understand how to send the request.

please help m

[2018-09-16 14:06] tjprescott commented on #7338
Please see the release notes for the azure-cli-iot module 0.3.0:

[code]

This command has been deprecated for a long time and was finally removed by the IOT team. However, you can acquire the IOT extension which should have the functionality you are looking for.

https://github.com/azure/azure-iot-cli-extension

[2018-09-16 14:06] #7338 closed

[2018-09-16 14:11] alexeyshishkin01 commented on #5592
ok, will wait - it took me about half a year to compile such document for myself
I'd suggest to cover CLI option as a must since it's universal tool and provides complete functionality (in comparison with browser)
I'd also like you to cover the differences between free Linux OSes - CentOS, Ubuntu, Debian
And the most important stuff - make sure to test each and every step of this big guide, otherw

[2018-09-16 14:45] djaus2 opened #7341 "No Dps option with az iot dps .."
When using command line az in a command window, dps isn't available. eg:
AzSphere&gt;az iot Dps -- help
az iot: error: argument subcommand: invalid choice: dps
usage: az iot [-h] {hub,device} ...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdb078bf-8f6c-a3f6-d157-3ecf9d94f7e2
* Version Independent ID: a5e7ccb7-7593-

[2018-09-17 00:48] djaus2 opened #7342 "But dps option works on the Cloud Shell"
PS Azure:\&gt; az iot dps --help

Group
    az iot dps : Manage Azure IoT Hub Device Provisioning Service.

Subgroups:
    access-policy : Manage Azure IoT Hub Device Provisioning Service access policies.
    certificate   : Manage Azure IoT Hub Device Provisioning Service certificates.
    linked-hub    : Manage Azure IoT Hub Device Provisioning Service linked IoT hubs.

Commands:
    create

[2018-09-17 00:49] djaus2 commented on #7341
But works in Cloud Shell as above.

[2018-09-17 10:43] christianbader opened #7343 "[ACR] Module builtins is not supported in Python2 while is used in ACR."
**Describe the bug**
The `az acr build` command is failing with `ImportError: No module named builtins`

**To Reproduce**
Install/update azure-cli: `sudo yum install azure-cli-2.0.45`
Run : `az acr build`

**Expected behavior**
Should return `az acr build: error: too few arguments` or (if appropriate arguments provided) build the image.

**Environment summary**
[code]
Kernel:
[code]
Installed via:

[2018-09-17 11:40] djaus2 commented on #7341
Turns out that I needed to update the Azure CLI I had installed.

Nb: Couldn't find how to get the Az Cli version from Az.

[2018-09-17 11:40] djaus2 commented on #7342
Resolved, see below.

[2018-09-17 11:42] djaus2 commented on #7342
Needed to update Az Cli installation.

[2018-09-17 11:44] djaus2 opened #7344 "az iot dps create Location is required"
I found that without this the creation failed, but worked with it specified.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fdb078bf-8f6c-a3f6-d157-3ecf9d94f7e2
* Version Independent ID: a5e7ccb7-7593-4c0c-bc95-66c8216ed35f
* Content: [az iot dps](https://docs.microsoft.com/en-us/cli/azure/iot/dps?view=azure-cli-latest

[2018-09-17 11:45] designncode7 opened #7345 "generate-sas-token cannot be used with az iot hub command"
This error is generated:
az iot hub: 'generate-sas-token' is not in the 'az iot hub' command group. See 'az iot hub --help'.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e9e0abf1-d0b9-d886-c106-ae056daa47ec
* Version Independent ID: 7534d5aa-8270-49e5-21d6-e9456969a60e
* Content: [az iot hub](https://docs.microsoft.c

[2018-09-17 12:13] glaubitz commented on #4800
I'm currently packaging 2.2.4 and ```mock``` is now part of the dependency list. So it seems this issue was silently fixed:

[code]

[2018-09-17 16:08] udf2457 opened #7346 "az storage blob upload : 'Connection aborted.', timeout()) with large(ish) files"
I had a shell script (simplified version attached) that was uploading files to azure without problem using `az storage blob upload`.

However now it has stopped working.

Uploading small files (e.g. a KBs to small-MBs) works fine.
However large files (e.g. hundreds of MB or more) now gives an error "'Connection aborted.', timeout()"

I am using the following syntax:
`az storage blob upload --valid

[2018-09-17 16:46] #7342 closed

[2018-09-17 16:46] #7341 closed

[2018-09-17 16:52] tjprescott commented on #7339
`Set-AzureRmTrafficManagerProfile : Endpoint name...`

Is this what the error says or are you using Powershell cmdlets?

[2018-09-17 16:54] tjprescott commented on #7339
Your issue should be filed here:
https://github.com/Azure/azure-powershell

This repo is for Azure CLI commands only.

[2018-09-17 16:54] #7339 closed

[2018-09-17 19:34] flamarion opened #7348 "Azure CLI doesn't update the end-date of an app"
**Describe the bug**
Azure CLI doesn't update the end-date of an app

**To Reproduce**
`az ad app update --id xxxxxxxxxxxxxxxxxx --end-date '2024-12-31'`

**Expected behavior**
To change the "endDate" after performing the change, but the result is the same:

[code]

**Environment summary**
azure cli installed via PIP and being used in virtual environment

[code]
OS Version : `macOS Highg Sierra -

[2018-09-17 20:20] guyhummel commented on #6052
In my case, the problem was that I had set my default location (using az configure), so it tried to use that one instead of "global". Once I removed my default location, I could create a DNS zone without getting an error. Since you can't pass a location parameter to the "az network dns zone create" command, there's no other way to do it, but that command really shouldn't be reading your default lo

[2018-09-17 21:17] ernani commented on #6052
@guyhummel Nice catch, that's exactly my own case here.

[2018-09-17 21:27] williexu opened #7351 "Followup patch to interactive to deal with deprecation items."
With deprecation support, we introduced a bug in interactive that caused unplanned behavior when attemping to serialize the command table to JSON and dump to a file.

https://github.com/Azure/azure-cli/pull/7350 patches that bug by ignoring dictionary keys that are not serializable but converting other found deprecated items into their target string(which is serializable).

There will later be fol

[2018-09-17 21:52] yugangw-msft opened #7352 "[sig image-version update]: re-implement the command"
The generic update turns out to be a awkward, so I need to re-implement with more custom logic to make common scenario easier

2 things I came across will update the replicate the regions
1.	SDK can’t handle the serialization correctly with an error thrown out `srest.exceptions.SerializationError: Unable to build a model: Unable to deserialize to object: type, AttributeError: 'str' object has no a

[2018-09-17 21:53] yugangw-msft commented on #7352
The workaround is to run "az sign image-version create" with the new list of the target regions

CC @singhkays

[2018-09-17 23:05] yugangw-msft commented on #7348
before we make the `az ad app credential` ready , will `az ad sp credential reset/delete` work for you?

[2018-09-18 01:09] williexu opened #7354 "[interactive] There is a need to add the ability to test commands in Interactive."
We currently have no thorough way of testing interactive aside from some unittests for completers.
This is necessary as Interactive breaks very often from changes in other parts of the product and dependencies.

[2018-09-18 03:04] luqian1 commented on #7346
have the similar error when upload large file

[2018-09-18 05:45] mlda065 opened #7355 "Error message for `container create` incorrectly describes `--memory` units"
**Describe the bug**
The `--memory` flag of `az container create` is described by the client as being multiples of 0.1GB. But that is incorrect.

**To Reproduce**

[code]

Note the crucial parts:

But when I set `--memory 40` it interprets that as 40 * 1GB, not 40 * 0.1GB.

**Expected behaviour**

* If I try `--memory 4GB` or `--memory 4000000000` or something else invalid, the error message shoul

[2018-09-18 07:01] Zazcallabah commented on #6023
Is the @ syntax a cmd thing? Or is it specific to az? How can I do something similar in powershell?

[2018-09-18 07:08] Zazcallabah commented on #6023
When I try quoting the @manifest.json i get the following

    $ad_app = az ad app create --display-name $name --homepage $home --identifier-uris $id --required-resource-accesses "@manifest.json" --oauth2-allow-implicit-flow true
    string indices must be integers
    Traceback (most recent call last):
      File "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\Lib\site-packages\knack\cli.py", l

[2018-09-18 08:48] milindchavan12 commented on #3651
In fact, this is not the issue with showing the list of the storage account, but with other az artifacts. I have come across the same for `az acr list -o table`, but then removing the default resource group by `az configure --defaults group=''` works absolutely fine.

[2018-09-18 11:48] AttilaVM opened #7356 "VM size should contain pricing information."
**Is your feature request related to a problem? Please describe.**

It would be nice to determine optimal VM prices with azure-cli, which already has the feature to list all the possible VM sizes for a region with important and JMESPath quariable properties, but the price is missing.

**Describe the solution you'd like**

The returned virtual machine size dictionaries of the `az vm list-sizes` com

[2018-09-18 13:50] tjprescott commented on #7356
AFAIK the service does not support returning that information.

[2018-09-18 13:54] tjprescott commented on #7309
@williexu has fixed this for the upcoming release. In the meantime, if you power through the error by pressing Enter, the caching will eventually complete and it should resume working.

[2018-09-18 13:54] #7309 closed

[2018-09-18 14:38] brunoborges commented on #4152
Hi SaloniSonpal, @yaronyg, has this issue been solved on Azure CLI? I have the latest version and the error message is still the same.

[code]

[2018-09-18 16:35] AttilaVM commented on #7356
Thank you. This is not a critical problem for me. I wrote the issue because it seems like a nice possible enhancement.

[2018-09-18 17:10] samkreter commented on #7355
@mlda065 This message is misleading but it is referring that it should be in increments of .1 GB. So --memory 7.3 is equivalent to 7.3 GB.

I'm changing the error message to "The memory requirement should be in increments of 0.1 GB."

Let me know if we can make this message even more clear.

[2018-09-18 20:18] sajayantony opened #7357 "az acr should support pushing helm packages with path reference"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
bash-4.4# az acr helm push ./wordpress-1.0.9.tgz
Invalid helm package name './wordpress-1.0.9.tgz'. Is it a '*.tgz' or '*.tgz.prov' file?

**Expected behavior**
The file should be found and should return success.

**Environment summary**
Docker -
bash-4.4# az --version
azure-cli (2.0.47)

acr (2.1.5)

[2018-09-18 21:18] swagatmishra2007 commented on #5565
channel support in arm templates isnt there yet. you can use az bot directline -h to configure the channel for a bot

[2018-09-18 21:38] christiankuhtz opened #7359 "product name incorrect"
Product name is "Load Balancer".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9c3075af-3efc-1e5a-610e-6b22b3022cf5
* Version Independent ID: a50ce9cf-b80d-98d6-4dfe-1dae7f79ed39
* Content: [az network lb](https://docs.microsoft.com/en-us/cli/azure/network/lb?view=azure-cli-latest)
* Content Source: [src/command_modul

[2018-09-18 21:40] christiankuhtz opened #7360 "load balancing rules instead of "rules""
please change the heading to "Load balancing rules" rather than "Rules".

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 833c520c-fcbe-64f0-39c9-fdc6553940b0
* Version Independent ID: e9f6fdaf-fd76-0b90-2571-2c80677c5460
* Content: [az network lb rule](https://docs.microsoft.com/en-us/cli/azure/network/lb/rule?view=azur

[2018-09-18 21:45] #7357 closed

[2018-09-18 22:04] adewaleo commented on #6607
@Dagon-, @hectoralicea, I couldn't reproduce this issue by creating a simple load balancer frontend.

Could you give more information? For example, what your virtualnetwork creation command looks like.

[2018-09-18 22:12] conradwt opened #7361 "Add Macports install for macOS"
**Is your feature request related to a problem? Please describe.**

At this time, the only way to install the Azure CLI is Homebrew if one is reading the documentation.  However, I really don't want to install yet another package manager but rather use an existing package manager that I'm using at this time.  Thus, I would like to see support for MacPorts.

**Describe the solution you'd like**

I

[2018-09-18 22:16] conradwt opened #7362 "Add Bash install for macOS"
**Is your feature request related to a problem? Please describe.**

At this time, the only way to install the Azure CLI is Homebrew if one is reading the documentation.  However, I really don't want to install yet another package manager but rather use a script.

**Describe the solution you'd like**

I would like to be able to install Azure CLI using Bash script.

**Describe alternatives you've co

[2018-09-18 22:37] yugangw-msft opened #7363 "share image gallery: expose --no-wait"
The replication will get long enough (hours) to get people feel really board

//CC @singhkays

[2018-09-18 23:36] #5756 closed

[2018-09-18 23:37] adewaleo commented on #7202
#7305 closes this issue.

[2018-09-18 23:37] #7202 closed

[2018-09-18 23:37] singhkays commented on #7363
@yugangw-msft Can we make no wait the default?

[2018-09-18 23:39] adewaleo commented on #7207
I think #7305 might address this and other issues @tjprescott.

[2018-09-18 23:48] Costo commented on #7310
I tried again today and it worked this time. I'm closing this issue.

[2018-09-18 23:48] #7310 closed

[2018-09-18 23:53] mlda065 commented on #7355
Yes that's still unclear.

E.g. My first attempt was `--memory 0.2GB`, but that doesn't work because it expects a float not a string. My second attempt was `--memory 200000000` (because 0.2GB = 200000000B, roughly) but that doesn't work either.

So maybe say something like

Also

should be

Also, can you let the GUI team know that when you exceed those limits in the Portal, the error message doesn

[2018-09-19 04:31] brendandburns commented on #7257
I can not reproduce this on az cli `2.0.44`, acs `2.3.0`

What version are you running?

[2018-09-19 07:33] Zazcallabah opened #7364 "error message when trying to update reply-url with az ad app update"
When I try to use az cli to update a reply url i get the following:

    az ad app update --id f1aec2f5-090e-4994-be10-a9ab7e23c705 --reply-urls "http://localhost:8233"
    Update to existing credential with KeyId 'd0e6649d-d546-4b64-86b2-ec64b46adf66' is not allowed.

The KeyId mentioned matches the id on the passwordCredentials property on the ad app.

This seems like a bug, because if I manuall

[2018-09-19 10:05] MrDoNotBreak opened #7365 "incorrect json in --required-resource-accesses property in az add app create example command"
az add app create example with --required-resource-accesses is invalid. Can you provide a working example here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 921aa920-c25f-5227-aabb-49116da38fa7
* Version Independent ID: 9b5a53ad-edf8-4d89-f8e6-cde01b7866f6
* Content: [az ad app](https://docs.microsoft.com/en-us/cli/a

[2018-09-19 11:36] bhushangholave commented on #7216
Hi @brendandburns ,

Thank you for your response.
Solution you suggested need ssh to master, but as i understand this is Paas service offering for Kubernetes from Azure and It should give us config from service itself.
If we require to ssh or scp to master VM we are going inside infra and doing changes.
Anyways but we integrated this Paas service in product.. now for this change we cannot do it ma

[2018-09-19 13:57] rhnewtron opened #7366 "ip-config create should support public IP's from other resource groups"
In azure, our NOC manages the public IP's for us and keeps them in a centrally managed resource group.  We can select IP's from this Resource Group for Public Purposes.

Currently it is not possible for the CLI to assign those public IP's in resource group B to Network interfaces hosted in resource group A,

There should be an optional parameter to specify the "public-ip-address-resource-group"

[

[2018-09-19 15:38] akx opened #7367 "az wrongly assumes Python executable"
**Describe the bug**

When installing azure-cli on Ubuntu 18.04 LTS with

[code]

the installed CLI does not work with `az`:

[code]

This is due to the fact that the [`az` script](https://github.com/Azure/azure-cli/blob/b2159692305189acad409924506f3c1eefcd6600/src/azure-cli/az#L13) assumes that `python` is the Python executable that can be used to import `azure.cli`. Due to [PEP 394 – The "python

[2018-09-19 15:43] akx commented on #7367
Ah, this seems to be a duplicate of #1043 . . . Either way, leaving it open here as it provides further detail.

[2018-09-19 15:56] sirredbeard opened #7368 "Support arm64 Linux builds"
**Is your feature request related to a problem? Please describe.**

azure-cli is available for amd64 through Microsoft's official repos for Debian, Ubuntu, and OpenSUSE.

See Debian and Ubuntu repo at https://packages.microsoft.com/repos/azure-cli/dists/.

However, azure-cli is not available for arm64 on any of those systems.

**Describe the solution you'd like**

Add arm64 builds to Microsoft's o

[2018-09-19 16:31] yugangw-msft commented on #7366
@rhnewtron, I thought `--public-ip-address` takes an resource id for crossing resource groups support. Not the case here?

[2018-09-19 16:33] yugangw-msft commented on #7365
yes, we should accept the full manifest file to make lives easier

[2018-09-19 16:34] yugangw-msft commented on #7365
I will get this in as part of the overhaul effort for AAD graph commands improvement.

[2018-09-19 16:43] yugangw-msft commented on #7363
Making `no-wait` by default will cause inconsistencies across CLI, because we have lots of other commands which expose no-wait as well; however, I can output a warning to tell users that they can use this flag, and then use the `az sig image-version wait` command later to ensure the image version did get updated correctly
Sounds good?

[2018-09-19 16:44] williexu commented on #7309
The bug cannot be powered through.
The fix will be available in our next release (ETA: 9/22). Apologies and thank you for your patience, everyone.

[2018-09-19 16:47] yugangw-msft commented on #7362
//CC @troydai
@conradwt, what error you got when used `pip`?
The other option is to git clone CLI's repository and then run [dev_setup](https://github.com/Azure/azure-cli/blob/dev/scripts/dev_setup.py)

[2018-09-19 16:48] akx opened #7369 "Attempting login with a bogus managed identity ID crashes"
**Describe the bug**

Attempting to `az login` using a bogus managed identity ID leads to a crash instead of any informative error message:

[code]

**Expected behavior**

An informative error message of _some_ sort, not just an angry red traceback.

**Environment summary**

Ubuntu 18.04, pip, azure-cli 2.0.45, bash

**Additional context**

Adding `--debug` reveals that the tool attempts these two

[2018-09-19 16:48] yugangw-msft commented on #7361
If there is a solution for the #7362 you opened, do you still want this?

[2018-09-19 16:52] yugangw-msft commented on #7368
@troydai could you clarify?

[2018-09-19 16:53] troydai commented on #7362
@conradwt does PIP work you?

[2018-09-19 16:55] weinong commented on #7314
@woodsaj mine has `\n` at the end and `az aks show` returned just fine.
can you send your cluster info like subID, rg, cluster name and reference to this issue to aks-help @ service.microsoft.com for us to take a look?

[2018-09-19 16:59] yugangw-msft commented on #7348
@flamarion, sorry for the confusion. That is expected, but credential commands under `az ad sp`  will do the same thing. I thought you can delete and add back the credential with correct end date; but I understand this might not be acceptable.
For context, we will have a graph command overhaul effort coming soon to make credential update command available under `az ad app` as well once we have the

[2018-09-19 17:18] yugangw-msft commented on #7188
please reactivate with more info

[2018-09-19 17:26] sirredbeard commented on #7368
Thank you Troy.

[2018-09-19 17:30] yugangw-msft commented on #6147
Feel free to reactivate it with more information

[2018-09-19 17:31] yugangw-msft commented on #3987
This has been addressed since June

[2018-09-19 17:31] #3987 closed

[2018-09-19 17:32] jaraco commented on #3987
I noticed. Thank you!

[2018-09-19 17:34] singhkays commented on #7363
Sure, warning sounds good

[2018-09-19 17:40] yugangw-msft commented on #5779
If you have accesses to multiple tenants, then it will take some time to dig out all subscriptions from each one of them.  Since June, CLI has emitted out a message to make the waiting less stressful `You have logged in. Now let us find all the subscriptions to which you have access...`. Will that be good enough?
I can make CLI hit tenants in parallel, but since you are the only one with such ask,

[2018-09-19 17:41] asasine opened #7370 "Create action group with email receiver with Azure CLI"
I am attempting to create an action group with an email receiver using Azure CLI. Is there any documentation on the schema for the `$receiver` variable during `az monitor action-group create --name $name --resource-group $rg --action $receiver`?

I have attempted the following:

[code]

All of those commands fail with the following error:

[code]

---
#### Document Details

⚠ *Do not edit this sec

[2018-09-19 17:42] williexu commented on #7346
@zezha-msft Can you comment on this?
The CLI simply passes along arguments to the sdk.

[2018-09-19 17:46] jongio commented on #5779
Yes, I have access to 11 tenants.  Have access to that many tenants is probably not normal, so feel free to close.

[2018-09-19 17:46] #5779 closed

[2018-09-19 17:51] adewaleo commented on #6876
It seems this issue has been resolved?

i will be closing this issue. If you have any further questions, please let us know.

[2018-09-19 18:16] alanmbarr commented on #7302
it seems like it resolved itself after reinstalling. thanks!

[2018-09-19 18:27] williexu commented on #7346
Use the command with the `--socket-timeout` parameter.
ex. `az storage blob upload --socket-timeout <number of secs> ....`
@zezha-msft  how would a customer know what would be a good socket timeout to specify?

[2018-09-19 18:36] troydai commented on #7184
@panchagnula what's the status of this issue?

[2018-09-19 18:37] troydai commented on #7184
It is done.

[2018-09-19 18:37] #7184 closed

[2018-09-19 18:41] troydai commented on #7274
It will be implemented as an extension.

[2018-09-19 18:41] troydai commented on #7219
Will be implemented as extension.

[2018-09-19 18:55] rhnewtron commented on #7366
@yugangw-msft Thanks for this Tip. I tested with resourceID and it Works, Thanks. Maybe it's worth adding to the documentation.

[code]

[2018-09-19 18:55] #7366 closed

[2018-09-19 19:24] jlarrow opened #7371 "Token created with "generate-sas" doesn't work in some vm extensions"
**Describe the bug**
The SAS token returned by “az storage account generate-sas …” doesn’t work for “az vm extension set …” but it does work for “az storage table list …” — A SAS token generated by the portal works for both.

**To Reproduce**
[code]

**Expected behavior**
To deploy the LinuxDiagnostic 3.0 extension using published examples.

**Environment summary**
Using Bash script and azure-cli

[2018-09-19 19:54] gopitk opened #7372 "Incorrect az.bat when installed through pip on Windows"
**Describe the bug**
The az.bat (https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/az.bat) that you get when you "pip install azure-cli" is incorrect,. The correct one is: https://github.com/Azure/azure-cli/blob/dev/build_scripts/windows/scripts/az.cmd

**To Reproduce**
Install Azure CLI on Windows through "pip install azure-cli"

**Expected behavior**
Remove az.bat and include the az.cmd

[2018-09-19 21:17] conradwt commented on #7362
I was in a Cloud Native workshop at GopherCon 2018 and `pip` didn’t work for me. I received an error/warring saying that it couldn’t load the search module.  I’ll post a formal bug report.  Next, `pip` needs to be documented as a way to install Azure CLI for macOS.  At this time, I’m only seeing Homebrew.

[2018-09-19 21:29] troydai commented on #7362
Did you try this: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?view=azure-cli-latest#install-or-update?

[2018-09-19 21:39] zezha-msft commented on #7346
@williexu please refer to the comments [here](https://github.com/Azure/azure-storage-python/blob/master/azure-storage-common/azure/storage/common/_constants.py#L39).

[2018-09-19 22:14] conradwt commented on #7362
I didn’t try this because the documentation says that it’s for a Linux install of the Azure CLI.

[2018-09-19 22:28] sirredbeard opened #7374 "Installing azure-cli tools from official Microsoft repos stalls on Debian/Ubuntu on WSL"
**Describe the bug**

Installing azure-cli tools from the official Microsoft repos stalls for a very long time when installed using apt on Debian/Ubuntu-based distros on Windows Subsystem for Linux.

It can often stall for 10-25 minutes for an unclear purpose on WSL, see these reports [here](https://github.com/Microsoft/WSL/issues/2775).

**To Reproduce**

[Follow steps](https://docs.microsoft.com

[2018-09-19 22:41] adewaleo commented on #7161
should be fixed when #5523 is merged.

[2018-09-19 23:06] sirredbeard commented on #7374
The delay is the extensive install script in the background.

[2018-09-19 23:06] #7374 closed

[2018-09-19 23:07] yevster opened #7375 "az ad sp create-for-rbac fails"
**Describe the bug**
Running the following:
[code]

… results in the following error:
[code]

**To Reproduce**
Using version 2.0.45 run ```az ad sp create-for-rbac```.

**Expected behavior**
A service principal is created.

**Environment summary**
CLI version 2.0.45
Ubuntu 18.04 LTS Server (in an Azure VM)
Running in bash
Installed with `apt`.

[2018-09-19 23:10] adewaleo commented on #6232
So according to this azure reverse DNS [doc](https://docs.microsoft.com/en-us/azure/dns/dns-reverse-dns-for-azure-services#azure-cli-20), one is able to add reverse DNS to an existing PublicIPAddress that does not already have a DNS name.

You have to specify both the reverse-fqdn and the DNS name.

So if you previously ran:

`az network public-ip create --name testIp -g $RG`

You can add a revers

[2018-09-19 23:10] #6232 closed

[2018-09-19 23:30] williexu commented on #7346
@zezha-msft it's interesting how the default socket timeout is set to a tuple if in python 3.
If the user specifies an int, does that apply to the combined timeout to connect and read?

[2018-09-19 23:46] zezha-msft commented on #7346
Hi @williexu, the value would be used for both connect and read. Here is the doc:
[code]

[2018-09-19 23:55] #6052 closed

[2018-09-19 23:56] williexu commented on #7346
@udf2457 can you specify a socket timeout larger than 2000? Say, 3000, per Ze's suggestion?

[2018-09-20 00:09] tobecodex commented on #7375
Seeing the same thing. Looks to me like an upstream change has made http:// an invalid home page URL scheme.

I have a local fix.

[2018-09-20 06:04] troydai commented on #7362
Please give it a try.

[2018-09-20 06:06] troydai commented on #7362
Also, please make sure the PIP works correctly on your machine. Even with the script, the installation is centralized around pip.

[2018-09-20 06:09] troydai commented on #7361
At this point, we don't have a plan to ship the package in MacPorts.

[2018-09-20 06:15] conradwt commented on #7362
@troydai Pip works just fine on my system because I have used it with several different projects with error.

[2018-09-20 07:29] nzregs commented on #7375
same problem for me - both locally in wsl ubuntu, and in the azure cloud shell :/

[2018-09-20 08:43] calinmarina commented on #6876
well... it's a feature request, it hasn't been resolved or implemented, we rather found something to help not even a workaround, so I wouldn't leave it closed as it's not

[2018-09-20 14:16] joalmeid commented on #7375
Same thing here. Tested on wsl azure (2.0.45) and windows (2.0.32).

[code]

[2018-09-20 16:00] dstrebel commented on #7375
Same issue here on 2.0.44 and 2.0.45

[2018-09-20 16:07] yugangw-msft commented on #6876
@christiankuhtz(from network team) could  please chime in whether or not this is a common user ask. If yes, we can reactivate as a feature work which @adewaleo will happily implement

[2018-09-20 16:56] adewaleo commented on #6876
@calinmarina, thanks for following up. Apologies, if we misunderstood you.  I would be happy to implement this feature if the network team / @yugangw-msft gives the go-ahead.

[2018-09-20 16:57] guyhummel commented on #6052
Thanks for your incredibly fast response! I'm looking forward to seeing this work when you push the fix to production.

[2018-09-20 17:00] adewaleo commented on #6052
You are welcome!

[2018-09-20 17:11] persiaAziz commented on #7375
Same issue here .. It is blocking us from doing an important experiment

[2018-09-20 17:38] stuartatmicrosoft commented on #7375
Also the same issue.

[2018-09-20 17:52] yugangw-msft commented on #7375
Looks like only MS tenant enforces it

[2018-09-20 18:34] yevster commented on #7375
Perhaps the right answer then is to make the homepage parameter customizable, and only default to the auto-generated one? Couldn't other users/tenants may have other policies?

[2018-09-20 18:47] #7352 closed

[2018-09-20 18:59] troydai commented on #7372
Thank you for reporting. I will look into this.

With that been said, the recommended installation on Windows is through the MSI: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest. We prefer the platform-specific package management system over the `pip` per dependency manage issues with the `pip`.

[2018-09-20 19:00] troydai commented on #7371
@yugangw-msft @williexu

[2018-09-20 19:02] troydai commented on #7370
Please try out the format specified in the help:
[code]
The command does not accept JSON.

[2018-09-20 19:02] #7370 closed

[2018-09-20 19:38] #3250 closed

[2018-09-20 20:02] adewaleo commented on #6607
This issue has been fixed in #7232 and should be reflected in the next release of the CLI.

I couldn't reproduce this bug because I was working off of the lates dev release which already addressed the bug.

I will be closing this issue, feel free to let me know if you have any more questions?

[2018-09-20 20:02] #6607 closed

[2018-09-21 00:57] pabowers commented on #7375
The workaround doesn't work

[2018-09-21 01:29] flamarion commented on #7348
No, the task is not urgent, but can't be put on hold. In the end I have 'only' 6 months before my SP expire and start a really big headache.

[2018-09-21 01:31] yugangw-msft commented on #7375
@pabowers, can you please share a bit more details, like your scenario, error trace, etc? `create-for-rbac` does support many other scenarios like certificate, keyvault integration, etc. I can provide examples once i know your context.

[2018-09-21 04:09] pabowers commented on #7375
We are using it to create the service principal, get the appId and passwords to then assign it to the Owner role with the command
`az role assignment create --assignee {{ app_id }} --role Owner`

Earlier today, the simple call to `az ad sp create-for-rbac` was failing.  Now, we are able to get past that step, but now it is failing on the role assignment step.
It is saying that the principal does n

[2018-09-21 04:33] yugangw-msft commented on #7375
There is a known service replicate latency after you created the service principal, so that is why I suggested you wait for couple of minutes before try the role assignment creation and just rerun the command. `create-for-rbac` does the retry which mitigates the service defect

[2018-09-21 07:45] yugangw-msft commented on #7375
Hi folks here, I chatted with AAD graph team, and confirmed that rejecting http based homepage uri is not a correct service behavior, which means we likely experienced a transient server error.  I tried several times just now and can't reproduce this error any more. So I would appreciate anyone here can also try again. If see the same error, please share with me the verbose trace (using `--debug`)

[2018-09-21 08:00] bingosummer commented on #7375
I can't reproduce the error too.

[2018-09-21 08:57] joalmeid commented on #7375
Confirmed in wsl azure (2.0.45) and windows (2.0.32): Cannot repro the issue!
az ad sp create-for-rbac --role="Contributor"

SP created.

[2018-09-21 12:44] rohrerb commented on #7047
@tjprescott - FYI

This has been fixed.  Everyone should be able to update CLI version and target USGov.

[2018-09-21 12:44] #7047 closed

[2018-09-21 14:32] akx opened #7387 "azure-cli package could lose some weight"
The `azure-cli` package (Ubuntu Xenial) could stand to lose some weight.

😲 and 😳 don't begin to describe my reaction at the size difference between the AWS CLI and the Azure CLI packages.

[code]

* Why must the package bundle its own version of Python 3.6? Couldn't it just depend on a system `python3` (on platforms where it is known there is a recent enough Python 3)?
  * Why does that bundled v

[2018-09-21 17:19] yugangw-msft commented on #7387
CC @mayurid @troydai @johanste @lmazuel, this is known issue. We did some improvement for windows installer, but same kind of improvement can be done on Linux as well.

[2018-09-21 17:51] troydai commented on #7387
Thank you for the feedback. You made a great point. We will definitely look into this. I will keep this issue open and assign it to myself.

[2018-09-21 18:15] awesomenix opened #7388 "azure-cli-acs module requires some strict type checking for all the input parameters"
**Describe the bug**
azure-cli\src\command_modules\azure-cli-acs\azure\cli\command_modules\acs\custom.py
has functions which type cast to int, this needs to have a stricter type checking during input parameter itself.

example: count=int(node_count),

**To Reproduce**
Code improvement to have strict type checking.

**Expected behavior**
Not lead to run time errors due to casting

**Environment sum

[2018-09-21 18:18] awesomenix opened #7389 "creating aks cluster with a long resource group name errors out with bad request"
**Describe the bug**
Creating a aks cluster with long resource group name errors out with a bad request

**To Reproduce**
az aks create -g clitest.rgjug4amagf7n42kaltr3tbreekmwv2gfd76u6w3swsqsiphvtfhc23le2kq7iihc36 -n cliakstestjwiv6f

**Expected behavior**
Restrict client to provide a valid resource group name acceptable by AKS

**Environment summary**
Install Method (e.g. pip, interactive script

[2018-09-21 18:46] #7077 closed

[2018-09-21 21:08] squillace commented on #5275
@yugangw-msft where are we on this? As it's not an scp wrapper, and we don't want that, and I really don't think we should call it "scp", as that will drive users mad with irritation when it doesn't DO scp, but if it wraps scp, then it won't do what we're asking.

I note that I didn't respond to your comment above, `external tools, to me, is sufficiently easy to use. I am fine to do scp functional

[2018-09-21 21:31] yugangw-msft commented on #5275
I am pretty flexible on the naming thing :), as long as it is reasonable.
But we need to sort out how to implement this first. The most important scenario is to find the solution to exchange files with VMs w/o public ip. W/o SSH keys/passwords involved, one of the few options left, is the "run-command" API (a wrapper around the custom script extension). To get the file out there are 2 mechanisms I

[2018-09-21 21:32] squillace commented on #5275
I'm up to the challenge! Gimme a minute. :-)

[2018-09-21 22:26] alunux commented on #5517
Any update?

[2018-09-22 15:05] pmarques commented on #7367
@yugangw-msft Is this related to Debian or **pip**? wouldn't the tage **Packaging/Pip** be more accurate?

[2018-09-22 16:15] jackchenquest opened #7396 "account name and key combination doesn't work."
I am using azure-cli (2.0.45), looks like the cli allow three set of options :

az  cosmosdb database list
No credentials specified to access Cosmos DB service. Please provide any of the following:
    (1) resource group name and account name
    (2) account name and key
    (3) url-connection and key

I found only 1 and 3 work, 2 will give me a error:
az  cosmosdb database list  --name testaccoun

[2018-09-22 18:32] jrgithub commented on #5814
Is there an ETA for an enhancement where the option to disable the default CORS rules will be supplied via ARM template (i.e. non-manual methods) for customers who do not require them?

[2018-09-22 20:21] tumluliu opened #7397 "What is --container-name -c option for?"
Hi, could you please explain a little bit what the `--container-name -c` option is, and why it is required? It's quite confusing because by `container`, I usually understand it as `docker container` instead of some other stuff. For me, it's very weird here to provide such an option because I think, taking `disable` as an example, `--item-name`, `--resource-group` and `--vault-name` are sufficient.

[2018-09-24 07:45] tumluliu commented on #7397
solved with `container list`, can be closed.

[2018-09-24 07:45] #7397 closed

[2018-09-24 09:51] bahreex opened #7398 "Azure CLI 2.0.46 not working - Throwing "Error Loading Command Module" for many Modules"
Hello,

I am getting an error whenever I try to run Az CLI. It is showing me "Error Loading Command Module" for many modules, and not letting me run any other commands like 'az login'.

I uninstalled and reinstalled Az CLI, both manually and then through Chocolatey, but no luck. This Issue started showing up only recently.

The output from Az CLI is as below:

[code]

---

### Environment summary

[2018-09-24 11:11] spacecat opened #7399 "How do I restore a snapshot?"
Is there a CLI command for this as well?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fca6f8c5-a518-04ee-08e3-4ad8d4c9516e
* Version Independent ID: 17710c8c-9cd9-57ea-b6b0-1411648ea03f
* Content: [az snapshot](https://docs.microsoft.com/en-us/cli/azure/snapshot?view=azure-cli-latest#az-snapshot-create)
* Content Sou

[2018-09-24 16:15] troydai commented on #7398
Hi @bahreex, may I know when did you install the CLI. I can't personally repo here. It may be an environmental problem. We don't own the Chocolatey package, so I can't speak for it.

Can you run `az --debug` and provide me the log?

[2018-09-24 17:41] tjprescott commented on #7207
@adewaleo #7305 addresses the error message but not the question of the default for `--query-string-caching`

[2018-09-24 17:42] tjprescott commented on #7355
@samkreter another option would be to allow the user to specify the units and do internal conversion to the units expected by the service.

[2018-09-24 17:43] tjprescott commented on #7355
You could also use for the text "The memory in GB, accurate to one decimal place."

[2018-09-24 17:43] adewaleo commented on #7207
You are right @tjprescott. Are you going to look into this, or should I look into it?

[2018-09-24 17:45] #7302 closed

[2018-09-24 17:46] tjprescott commented on #7161
@adewaleo that PR was closed due to inactivity.

[2018-09-24 17:55] panchagnula commented on #5814
@jrgithub  have you tried this command? https://docs.microsoft.com/en-us/cli/azure/webapp/cors?view=azure-cli-latest , this available for functonapps as well https://docs.microsoft.com/en-us/cli/azure/functionapp/cors?view=azure-cli-latest -

[2018-09-24 17:57] tjprescott commented on #7274
Extension has been released.

[2018-09-24 17:57] #7274 closed

[2018-09-24 17:57] adewaleo commented on #7161
@tjprescott I reached out to the Redis team about the PR / this issue, so they can fix the broken commands and add some unittest. However, if they aren't able to make the changes soon, we might need to do something about this issue.

[2018-09-24 17:57] tjprescott commented on #7219
Extension has been released.

[2018-09-24 17:57] #7219 closed

[2018-09-24 18:44] #3941 closed

[2018-09-24 18:51] tjprescott commented on #7251
Added via extension.

[2018-09-24 18:51] #7251 closed

[2018-09-24 18:53] tjprescott commented on #1683
We have not gotten additional customer asks for this feature and do not want to change vnet creation into an ARM-templated backed command, so I will close this.

[2018-09-24 18:53] #1683 closed

[2018-09-24 19:03] yugangw-msft commented on #7399
You can restore the snapshot to a managed disk, image, or even another snapshot. Check out "az disk/snapshot/image create"

[2018-09-24 19:09] yugangw-msft commented on #7094
It is about the `Cross-cloud federation`. `WW -> Sovereign` is supported, but not vice versa. So yes, this is expected.
This is not a CLI question, rather on AAD.  So closing ...

[2018-09-24 19:09] #7094 closed

[2018-09-24 19:18] yugangw-msft commented on #7162
The new description will be `The command id. Use 'az vm run-command list' to get the list`

[2018-09-24 19:25] mmacy opened #7403 "Log Analytics extension: KeyError: 'text'"
**Describe the bug**

Attempting to display help (`--help`) for the log-analytics extension (v0.1.2) results in a KeyError:

[code]

**To Reproduce**

1. List available extensions, verify Log Analytics is available:

[code]
1. Install log-analytics extension

[code]

1. Display help for `az monitor log-analytics` command and error is thrown:

[code]

**Expected behavior**

Log Analytics `--help` s

[2018-09-24 19:31] yugangw-msft commented on #7315
The "--generate-ssh-keys" flag is mandatory to generate the SSH key pairs if they are unavailable under ~/.ssh. For document, if you like to ensure a command works everywhere no matter what, then please ensure the `--generate-ssh-keys` is provided all the time. This flag will be a no-op if the key files exist already.

[2018-09-24 19:31] #7315 closed

[2018-09-24 19:42] yugangw-msft commented on #7137
@lmiroslaw please make sure you are not updating an existing VM with conflicting configurations; then run the vm command with `--debug` and send me the trace with the error at yugangw at microsoft dot com
I am closing this as it is unlikely a CLI issue, but I will reactivate once get a repro

[2018-09-24 19:42] #7137 closed

[2018-09-24 19:48] AronT-TLV opened #7404 "Discrepancy in format between certificate created for service principal and az login"
**Describe the bug**
The service principal certificate is created in the `openssl` format and the `az login` is expecting `openssh` format!

**To Reproduce**
1. To create a certificate and store it in a key vault, issue this command:
`az ad sp create-for-rbac --name "myServPrin" --keyvault myKeyVault --cert myCert --create-cert`

2. Download the certificate in the vault as PEM, and store on server

[2018-09-24 19:51] #7169 closed

[2018-09-24 20:29] bahreex commented on #7398
Thanks for the response. I managed to resolve the Issue on my own. The problem was with multiple Python environments. I had Py 3.7 from python.org, and then Anaconda. I removed Az CLI and then all Python distributions. Then reinstalled Az CLI, and all started working as normal.

[2018-09-24 20:29] #7398 closed

[2018-09-24 21:11] flac013 commented on #6945
Same problem persists on the cloud shell. Role names do not populate. I essentially just want to be able to view the information listed in the web GUI's Azure>Subscriptions>IAM page and only the names assigned to them. I need this functionality fixed if possible.

azure-cli (2.0.45)

acr (2.1.4)
acs (2.3.2)
advisor (0.6.0)
ams (0.2.3)
appservice (0.2.3)
backup (1.2.1)
batch (3.3.3)
batchai (0.4.2)

[2018-09-24 21:38] sptramer commented on #7315
@yugangw-msft It's still not clear if `--generate-ssh-keys` is a required argument or not based on this discussion.

[2018-09-24 21:44] yugangw-msft commented on #7315
`--generate-ssh-keys` is required if you don't have existing ssh key pairs under "~/.ssh", and you want to create a VM using the SSH authenticate.
To me, the error mentioned in the repro is pretty clear, and once you run it with the flag, you will never need to use the flag any more. The flow, to me, has nothing wrong.

[2018-09-24 21:56] angalyuz opened #7405 "Compatibility with SRV record sets of BIND-generated DNS zone files"
**Problem**
Azure CLI does not support `.@` at the end of SRV record set name.

**Solution**
Azure CLI should strip `.@` from SRV record set name before passing to Azure DNS.

**Additional context**
Example of zone file:
[code]

Example of Azure CLI output:
[code]

[2018-09-24 23:55] jinliangsui commented on #4206
I had the same issue, this helped.

[2018-09-25 02:16] saif-chaudhry opened #7408 "az interactive on Mac OS does not work."
**Describe the bug**
The az interactive does not work on Mac OS high Sierra 10.13.6 (17G65)

**To Reproduce**
Install az cli using instruction here .. https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-macos?view=azure-cli-latest

Basically, brew update && brew install azure-cli

**Expected behavior**
az interactive mode should work without exceptions etc.

**Environment summary**
**Inst

[2018-09-25 04:06] kamranayub opened #7409 "az storage cors list returns empty `Service` for rules"
**Describe the bug**

    az storage cors list

Returns the following output:

[code]

**To Reproduce**

Add the above rules to an account.

**Expected behavior**

The `Service` should be `File` for all 4 rules.

**Environment summary**

WSL

[code]

**Additional context**
Add any other context about the problem here.

[2018-09-25 06:23] johanburati opened #7410 "az vm encryption issues with new method"
I am using az cli directly from the Cloud Shell so it should be the latest version.

The first issue is when enabling encryption on the VM using the old method with the _--aad_ options I can see the **- Running ..** prompt indicating that the command is executing.
When using the new method without the _--aad_ options I do not see that  **- Running ..** prompt.

The second issue is when checking th

[2018-09-25 07:55] robconery opened #7411 "Please consider configuration overrides when a directory contains a .azurerc file"
## The Problem:
When working with the CLI I find myself having to enter the same settings repeatedly. Subscription, Resource Group, App Name and so on. Currently it's possible to set global defaults for this, but that can lead to further problems by creating resources in groups and subscriptions in error.

## Proposed Solution
In Unix land, a common configuration override is done with a dot file,

[2018-09-25 08:04] VaRobin opened #7412 "az webapp missing in 2.0.46"
Hi,

After installing the latest version of the cli (2.0.46) the az webapp funcion is missing. The debugging reports that its not compatible. For the windows I managed to install 2.0.45 and that works, biut for mac OS I cannot find how to install the previous version.

Regards,
Robin

[2018-09-25 11:50] alexeyshishkin01 opened #7413 "cannot grant access to disk (SAS)"
**Describe the bug**
A clear and concise description of what the bug is.
'az disk grant-access' output is 'None'

**To Reproduce**
Steps to reproduce the behavior.

root@ubuntu:~# az group create \

Location     Name
-----------  -------------------
northeurope  ubunturesourcegroup

root@ubuntu:~# az vm create \

ResourceGroup        PowerState    PublicIpAddress    Fqdns

[2018-09-25 13:57] DheerendraRathor opened #7414 "Azure storage SAS token not working in powershell"
**Describe the bug**
az storage blob download with account name and sas token in failing with unable to parse sas token properly

**To Reproduce**
Download blob from az storage blob download with sas token pasted from portal

**Expected behavior**
It should have worked like it works on linux

**Environment summary**
MSI downloaded from https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-w

[2018-09-25 13:57] dschinnerl commented on #4634
Hi,

I'm a bit late to the game but if since I got here by a big search engine...

I solved it via:

[code]

[code]

Maybe it helps someone...

[2018-09-25 15:25] prashanthmadi opened #7415 "deleting resource group fails to perform expected behavior"
**Describe the bug**
we've faced a strange problem with Resource Group removal.  In case we cancel HDInsight deployment and immediately remove resource group which contains HDInsight, the resource group is not removed.

**To Reproduce**
1. Create resource group
2. Submit deployment of the HDInsight
3. Cancel the deployment
4. Remove resource group 'az group delete --name <rg-name> --no-wait --yes'

[2018-09-25 16:28] yugangw-msft commented on #7415
This is a service end problem, not CLI. A better way to seek the fix is to run with "--debug", get the correlation id, and open a support ticket.

[2018-09-25 18:29] cocowalla commented on #6147
@yugangw-msft reactivating :)

I did send you an email with the file you requested way back in April, but I never heard anything back from you. I still have this issue.

[2018-09-25 19:05] yugangw-msft commented on #7413
@lmazuel, I made a CLI PR which adds the test coverage and a workaround. If we can make the SDK fix ready by next Wednesday, I will pull out the workaround, which is my preference.

[2018-09-25 19:12] yugangw-msft commented on #7413
@alexeyshishkin01, the SAS was returned, but was at a wrong place. You can use json output to get it. We are sorting out a fix to restore to the old behavior.

[2018-09-25 19:15] yugangw-msft commented on #6147
@cocallaw, do you mind sending the file to me again. I am still at yugangw at microsoft dot com.
You can add a new comment here after you did, so I will make sure to get it from outlook.
I do apologize for missing the initial mail.

[2018-09-25 19:15] OwenGr opened #7417 "Cannot create network-rule for storage account"
**Describe the bug**
On a newly-created storage account, I can no longer create a network-rule. This was working previous to 2.0.46 but I can't rule out that something else changed in my script.

**To Reproduce**
1. Create a fresh resource group using `az group create --name my-test-resource-group --location eastus2`
1. Create a fresh storage account using `az storage account create --name my2345t

[2018-09-25 19:31] yugangw-msft commented on #7403
ported to https://github.com/Azure/azure-cli-extensions/issues/315

[2018-09-25 19:31] #7403 closed

[2018-09-25 20:19] qqnarwhal opened #7418 "sample script"
--description is a required parameter. Some of the same script on the page don't include--description and will fail while running. Can this be corrected?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d97968df-72c9-e50c-d5b1-54562c1bdef7
* Version Independent ID: 0cde4f15-6464-3106-b787-3ee37c7de0ee
* Content: [az moni

[2018-09-25 20:52] alexeyshishkin01 commented on #7413
ok, thanks, waiting for the fix

[2018-09-25 21:29] jackchenquest opened #7420 ""az login --identity" doesn't show subscription name"
**Describe the bug**
When I use MSI to login az cli, it hide all the subscription name:

az login --identity
EnvironmentName    IsDefault    Name    State    TenantId
-----------------  -----------  ------  -------  ------------------------------------
AzureCloud         True         MSI     Enabled  xxx
AzureCloud         False        MSI     Enabled  xxx

All subscription names are shown as "MSI

[2018-09-25 22:05] cocallaw commented on #6147
@cocowalla can you please resend the file to @yugangw-msft, thanks.

[2018-09-25 22:58] #6965 closed

[2018-09-26 01:01] kiazhi opened #7421 "az policy definition create --management-group-name"
**Is your feature request related to a problem? Please describe.**
Yes, my Azure environment is structured by Management Groups with multiple Subscriptions. I'm struggling to use AzureCLI to create policy definition to the Management Group as the definition location.

*Organization Management Groups - Example*
[code]
**Describe the solution you'd like**
Include the `--management-group-name` parame

[2018-09-26 02:14] #7413 closed

[2018-09-26 02:16] yugangw-msft commented on #7420
this is by design for the reason that is no longer very legit (creds-sharing with CLI 1.0). I will fix it.

[2018-09-26 03:37] kiazhi opened #7423 "az policy definition show --name <custom policy name> cannot find the policy"
**Describe the bug**
Unable to get the custom policy using `az policy definition show --name <policy name>` command. Using the `az policy definition show --name <policy name>` command to get the Built-In policy is working.

**To Reproduce**
1. Create a custom policy in Azure
2. Get the custom policy using `az policy definition show --name <policy name>`

**Expected behavior**
I will expect that th

[2018-09-26 07:53] cocowalla commented on #6147
@yugangw-msft no problem, I've send it again

[2018-09-26 09:57] AronT-TLV commented on #7404
Please note, that after further discussions with Azure support, we have narrowed the scope of the bug. It only happens when you create the certificate and upload it directly to the key vault in the one command (i.e. the`--keyvault myKeyVault` option). If you just create a certificate without the upload, it creates a local certificate it in the proper format (containing both a private key and the c

[2018-09-26 15:44] troydai commented on #7398
Thank you for the confirmation.

[2018-09-26 17:36] adewaleo commented on #7016
Fixed in #7391.

[2018-09-26 17:36] #7016 closed

[2018-09-26 17:46] FinVamp1 opened #7426 "az functionapp create with with --deployment-container-image-name results in a Function App without the container kind."
**Describe the bug**
Create Function App with Azure CLI command: "az functionapp create --name <func name> --resource-group <resource grp> --plan <plan> -s <storage acc> --deployment-container-image-name <image>", the function app is created succssfully but of kind "functionapp,linux" intead of expected "functionapp,linux,container", and there are no "Container settings" blade from "All settings"

[2018-09-26 18:38] yugangw-msft commented on #7426
@panchagnula, can you take a look?

[2018-09-26 18:47] panchagnula commented on #7426
@patricklee2 , let me know if this is something you will be able to update. Thank you.

[2018-09-26 18:48] patricklee2 commented on #7426
ill take a look

[2018-09-26 18:48] ymkaos opened #7427 "Update documentation --port --path"
The config parameters
--port --path doesn't work
the value are
 --monitor-port --monitor-path and --monitor-prototol

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a8f3db91-d932-fd75-a98e-e125bc297ca8
* Version Independent ID: 985b32d5-634c-9883-6e27-223cb83f21cf
* Content: [az network traffic-manager profile](https://

[2018-09-26 19:47] yugangw-msft opened #7428 "[vmss]: user new api-version 2018-10-01 for Automatic OS Upgrade GA"
Spec PR: https://github.com/Azure/azure-rest-api-specs/pull/3896

@adewaleo, if you are interested, let me know. This needs to get done for the current release

[2018-09-26 22:50] jsturtevant opened #7430 "Creating Service Principals with certs and deploying to Windows VM via keyvault fails deployment"
**Describe the bug**
When using the cert that is generated and stored in the KeyVault with a windows vm we are getting the error `CertificateImproperlyFormatted`.  It seems that the auto generated cert from the CLI is in pem format and so hence the error when it is downloaded during arm deployment.

For this to work properly with windows, It looks like we have to download the cert, convert it to P

[2018-09-26 23:34] #7291 closed

[2018-09-27 01:57] jzworkman commented on #6272
Any updates on this issue?  I am currently trying to get a build step in our CI pipeline to make sure that a cosmos db collection is created if it doesn't exist(as it is required for a step further down the release pipeline).  Currently this is not possibly via azure cli and requires maintaining multiple build steps/captured output to first check if the collection exists and then conditionally cal

[2018-09-27 02:33] kamranayub opened #7431 "az storage cors add should accept JSON input"
**Is your feature request related to a problem? Please describe.**

I spent about 2 hours attempting to write a sample where I ingested a JSON file in a bash script and pass the parameters to `az storage cors add` but to no avail (I fully admit bash/Linux is not my forte). I just could not get the multi-value, space separated arguments to work due to quoting/escaping issues. Usually I can stumble

[2018-09-27 09:33] udf2457 opened #7432 "Rate-limiting function"
As far as I can tell, there is no option to rate-limit throughput in `az`.

For example, when doing a large BLOB upload, it would be nice to be able to limit to _x_ Mbps.

[2018-09-27 17:08] rambotech opened #7433 "webapp:Key=Value formats unclear"
Can you please add some clarification on the format of key=value on the command line.  How would I add the following:

message=Hello World

or

items=one;two;three

connection-string allows use of apostrophes on the value portion, but this does not work in appsettings.  I have tried the following and all fail with 400 Client error.

az webapp config appsettings set -g MyGroup -n servername --setti

[2018-09-27 17:49] #7162 closed

[2018-09-27 19:51] Stewartarmbrecht opened #7434 "az webapp deployment source: WARNING: Fetching changes."
**Describe the bug**
I am running a webapp zip deployment and I get the following response:

az : WARNING: Fetching changes.

This only happens when running the powershell script that makes the call as part of a Powershell task in VSTS.  The build agent is running on my local machine and I am able to run the same script without error in my local powershell terminal.

**To Reproduce**
I only get th

[2018-09-27 20:27] yugangw-msft commented on #7434
Can run once through VSTS with the "--debug" and capture the log for us to take a look?

[2018-09-27 20:39] yugangw-msft commented on #7433
On windows use `"name=value"`.
On nix, use `'name=value'`

[2018-09-27 20:42] yugangw-msft commented on #7432
Correct.

For `az storage blob upload` @williexu, do you know?

[2018-09-27 21:11] Stewartarmbrecht commented on #7434
**Success Local:**

2018-09-27 17:05:56 Audio Deployment (stewless4): Deploying the microservice.

Major  Minor  Build  Revision
-----  -----  -----  --------
5      1      16299  98
2018-09-27 17:05:56 Audio Deployment (stewless4): Logging in the Azure CLI
2018-09-27 17:05:58 Audio Deployment (stewless4): Creating the resource group.
2018-09-27 17:06:02 Audio Deployment (stewless4): Deploying the

[2018-09-27 21:18] yugangw-msft commented on #7434
The log shows the deployment succeeded. Are you asking about the error below?
[code]

[2018-09-27 21:56] Stewartarmbrecht commented on #7434
Do I need to pass a value for the —debug parameter?  For some reason I didn’t get this error when I ran local.

[2018-09-27 21:58] yugangw-msft commented on #7434
no value is needed, it is just a flag `--debug`

[2018-09-27 22:06] pragyamehta opened #7437 "az cli install script fails for alpine"
Running the az cli install script inside Alpine docker image fails with multiple errors

**To Reproduce**
use the below Dockerfile

    FROM alpine:3.7
    RUN apk add --update --no-cache bash python3 libffi openssl curl
    RUN ln -s /usr/bin/python3 /usr/bin/python
    RUN curl -L https://aka.ms/InstallAzureCli | bash

**Expected behavior**
Image is successfully built and container has az instal

[2018-09-27 23:18] Stewartarmbrecht commented on #7434
Can you share more on what the --debug parameter is for?  I can't find any documentation for it.

[2018-09-28 06:55] andyzhangx commented on #2507
I got this exact same issue here:
Below are the VM kernel info:
[code]

[code]

Can we reopen this issue?
/open

[2018-09-28 07:49] LudwigTirazona opened #7438 "ACR Issue with tags"
**Describe the bug**

I'm importing images twice into an ACR from another ACR. I'm importing them twice because I need two tags for the image:
1.) the actual version, e.g. "1.0.1"
2.) a "latest" tag

Example:
[code]

After doing that, the latest tags will not show up when looked up via the Azure Web interface.

They will also not show up when performing an "az acr repository show-tags --detail".
D

[2018-09-28 07:51] IvanKirianov commented on #5681
az network nsg rule create -g $resource_group --nsg-name $nsg_name -n $rule_name --priority $priority --access $policy --source-address-prefixes "192.168.1.1,192.168.1.2" --destination-address-prefixes $destination --protocol $protocol --destination-port-ranges $destination_port --description $downloadUri

Is it possible to add in --source-address-prefixes 2 or more IP's as I describe in my comman

[2018-09-28 08:06] RTodorov commented on #5782
Also interested, any news?

[2018-09-28 08:40] IvanKirianov opened #7439 "Multiply values on "--source-address-prefixes" field"
az network nsg rule create -g $resource_group --nsg-name $nsg_name -n $rule_name --priority $priority --access $policy --source-address-prefixes "192.168.1.1,192.168.1.2" --destination-address-prefixes $destination --protocol $protocol --destination-port-ranges $destination_port --description $downloadUri

Is it possible to add in --source-address-prefixes 2 or more IP's as I describe in my comman

[2018-09-28 09:10] kHRISl33t commented on #2507
@andyzhangx

I got this message from Azure support: `Regret to say that currently Encryption for AKS agent node is not possible.` I did submit a form with my request for this, but I dont know when they are going to release this feature, they don't replied back anything.

I only managed to encrypt data disks attached to the agent nodes.

[2018-09-28 11:09] kgopi05 commented on #6397
Let us know how to get the the values for VM Classic machines details in Azure CLI ?

[2018-09-28 11:38] surabhshah commented on #5899
Hello,

I think this is an issue rather than a question as I am unable to create group deployment using PowerShell using a local parameter file. No doubt I can use the blob storage, however, updating the files on blob during development is a tedious task.

Appreciate any help. Thanks in advance!

[2018-09-28 13:00] surabhshah commented on #4387
Hi,

I have experienced a similar error if you have any comments in your JSON or any string missing double quotes in JSON.
Hope this helps!

[2018-09-28 13:08] Stewartarmbrecht commented on #7434
Yugan - Any idea why I get the debug output when running locally in powershell but not when running through VSTS agent (running on the same machine).

[2018-09-28 13:20] andyzhangx commented on #2507
@kHRISl33t I am asking internal disk encryption team to take a look at this issue, it's most likely due to the workload already running inside AKS node, it should be not specific to AKS, other Ubuntu VM may also hit this issue.

[2018-09-28 14:49] yamlCase opened #7440 "Cloud Shell: 'kubectl get <object>' returns "Error from server (NotAcceptable): unknown""
**Describe the bug**
When using the azure portal's embedded Cloud Shell with BASH (appears to be Ubuntu 16.04.05 LTS), running any `kubectl get <object>` commands results in the following error:

[code]

This appears to be a bug with Kubernetes 1.11.x's new "Server-side columns" feature where custom columns can be provided by the Master server ([Link to reference](https://kubernetes.io/docs/refere

[2018-09-28 16:04] yugangw-msft commented on #2507
@vermashi can you please take a look?

[2018-09-28 16:17] yugangw-msft commented on #7434
I don't work on the PSOH, but the specific trace fragment below could mean the warning emitted out by the `az webapp deployment source config-zip` was taken as an error and then the whole pipeline was abandoned, because warnings go to stderr. I would suggest cross check the PS configuration used by VSTS. I know PowerShell ISE behaves just like that which makes quite a few commands unusable such as

[2018-09-28 16:19] yugangw-msft commented on #6397
For classic VMs, you can use CLI 1.0

[2018-09-28 19:43] yugangw-msft commented on #7439
The help is fine at `Space-separated list of CIDR prefixes or IP ranges`, which means `--source-address-prefixes 192.168.1.1 192.168.1.2`. Wrapping all within a pair of double quotes would make command parser treat as a single value instead of an array.
@sptramer would it make sense we have a general doc to clarify the area when an argument value is defined as an array, and how to use double and s

[2018-09-28 19:50] yugangw-msft commented on #7437
CC: @troydai
I don't believe `install-azure-cli.sh` is supported any more for linux.
You best option is to follow the [docker file](https://github.com/Azure/azure-cli/blob/dev/Dockerfile)

[2018-09-28 19:50] #7437 closed

[2018-09-28 21:24] wy193777 opened #7441 "[role]: confusing service error caused by invalid --scope argument"
**Describe the bug**
`az ad sp create-for-rbac` use wrong apiVersion.

**To Reproduce**

[code]
Output:
[code]

**Expected behavior**
The service principal been created an role been assigned properly.

**Environment summary**
Azure Cloud Shell Bash
[code]

[2018-09-28 21:33] adewaleo opened #7442 "[Help Update] Parse help.yml files into helps objects"
Part of [Help System Project](https://github.com/Azure/azure-cli/projects/8).

[2018-09-28 21:37] adewaleo opened #7443 "[Help Update] Unittests for help.yaml changes"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**
Add unittests for new help refactoring and loaders.

**Describe alternatives you've considered**

**Additional context**
Part of [Help System Project](https://github.com/Azure/azure-cli/projects/8).

[2018-09-28 21:39] yugangw-msft commented on #7410
For new method, did you register the feature of `UnifiedDiskEncryptionForVMs`?
/cc @vermashi @ejarvi

[2018-09-28 21:45] yugangw-msft commented on #7412
please reactivate with traces for me to take a look

[2018-09-28 21:45] #7412 closed

[2018-09-28 22:13] yugangw-msft commented on #7423
works for me. do you have any other tasks running behind which could either switch subscription or remove this policy?
[code]

[2018-09-28 22:29] yugangw-msft commented on #7410
@johanburati , could you please use `-o json` to get the json output? Table output might skip complex payloads.

[2018-09-28 22:34] yugangw-msft commented on #7441
Are you in azure stack?

[2018-09-28 22:48] yugangw-msft commented on #7421
//CC: @williexu
We need to port a few [Azure POSH](https://github.com/Azure/azure-powershell/blob/preview/src/ResourceManager/Resources/Commands.ResourceManager/Cmdlets/Implementation/Policy/PolicyCmdletBase.cs#L179-L208) logic over.

[2018-09-28 22:58] sptramer commented on #7439
I don't think the problem here is conceptual documentation, because it's a one-sentence description, which isn't even always true right now ("multiple values to a CLI argument are separated by spaces."). The problem is more likely a lack of consistency and people not reading the inline help where usage isn't clear.

[2018-09-28 23:01] yugangw-msft commented on #7439
The majority are indeed `multiple values to a CLI argument are separated by spaces` because that is what generic `argparse` enforces, not CLI.
If you run into other cases, please let me know that I can migrate to the correct case

[2018-09-29 00:10] wy193777 commented on #7441
@yugangw-msft I don't think so. How can I verify this?

[2018-09-29 00:50] wy193777 commented on #7441
It's AzureCloud.

`az assignment list`  return error `az: 'assignment' is not in the 'az' command group. See 'az --help'.`.

I guess you want me to run `az role assignment list`. All roles have been printed without any error after running this command.

[2018-09-29 00:53] yugangw-msft commented on #7441
correct, i meant `az role assignment list`
to isolate, can you just run `az ad sp create-for-rbac` w/o any argument? does that work?

[2018-09-29 00:55] yugangw-msft commented on #7441
i believe your scope might be wrong `/subscriptions/<subscript id>/myRG`, you missed a `resourceGroups` in the middle. Should be `/subscriptions/<subscript id>/resourceGroups/myRG`

[2018-09-29 00:59] wy193777 commented on #7441
@yugangw-msft you are right, I missed a `resourceGroups` in the middle. After added it, I created the service principal successfully.

Maybe you can change this ticket to something like `misleading error when wrong a scope been specified.`

[2018-09-29 01:32] ehotinger commented on #7142
@mnltejaswini did we finish this?

[2018-09-29 01:32] ehotinger commented on #7438
@djyou + @NatalieGong
/cc @sajayantony

[2018-09-29 01:51] djyou commented on #7438
Hi @LudwigTirazona, there is a known issue with import image API that certain metadata is not populated. We are rolling out a fix and it will be available in all regions by next week.

As you said, the workaround right now is to use the `az acr repository show-tags` command without `--detail` option.

There is no data corruption, all your images can still be pulled. /cc @yuwaMSFT2

[2018-09-29 07:45] johanburati commented on #7410
The issue with ```az vm encryption enable```  is that it does not show the ```- Running ..```  progress prompt when executing the command as it does when you use the ```--aad-client-id```/```--aad-client-secret``` to encrypt the VM ,  as the command takes some time to return the prompt the progress prompt is a must have, I tried using the  ```--output json``` option but that did not change that be

[2018-09-29 10:53] Stewartarmbrecht commented on #7434
This seems like a pretty severe limitation for Azure CLI.  Powershell Core is best solution I have found for running scripts across both Windows and Mac.  I have tried Bash and WSL but you have to remember to clean up line endings when modifying scripts on windows before running them in the subsystem for linux.  Is it possible to suppress the warnings in Azure CLI so that PowerShell won't abandon

[2018-09-29 11:14] Stewartarmbrecht commented on #6818
I found a work around when working in regular powershell that might also work in the ISE:

    $old_ErrorActionPreference = $ErrorActionPreference
    $ErrorActionPreference = 'SilentlyContinue'

    #Execute your code that thows a warning

    $ErrorActionPreference = $old_ErrorActionPreference

[2018-09-29 11:15] #7434 closed

[2018-09-30 19:19] alexsandro-xpt opened #7447 "WSL: Why Azure CLI is too slow at each command execution?"
**Describe the bug**
It's not exactly a bug but every command at PowerShell or Bash in WSL is too slow, I know that every command is making a web-api request call but is really sad this api call is causing too much delay.

I don't know if I am at Brazil and the all api calls is from US and those internet latence is the cause but is really bad.

**To Reproduce**
Stay at Brazil and call a single com

[2018-09-30 19:52] glebsam commented on #7343
Got the same issue using command `az interactive`. The exceptions appeared after a second after command launched. Be aware, w/a cannot be applied using system-wide `pip` (I mean `pip install future`), need to use **exactly** pip from `/usr/lib64/az/bin/` as described in the issue description.

Problem also can be solved by downgrade with command `yum -y downgrade azure-cli-2.0.43-1.el7`.
So, curre

[2018-10-01 00:39] LudwigTirazona commented on #7438
@djyou , thanks for the info.

Is there a workaround so I can see the SHA hashes of the imported images?

A use case of mine is I need to be able to know which tags actually point to the same image.

[2018-10-01 03:48] jbeard4 opened #7448 "ModuleNotFoundError: No module named 'azure.mgmt.botservice' on `az bot` commands"
**Describe the bug**

I get an error `ModuleNotFoundError: No module named 'azure.mgmt.botservice'` on `az bot publish` and `az bot download` commands.

**To Reproduce**

Download and install azure-cli with homebrew according to instructions [here](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-macos?view=azure-cli-latest).

Login with `az login`, succeeds.

Add botbuilder extension

[2018-10-01 03:48] abhilashmk commented on #7426
I have observed the below behavior when using Azure CLI for creation of Function Apps on Linux:

When we create a function app on Linux using the command:

**az functionapp create -n yourfunctioname -g yourresourcegroup-p yourAppServicePlan -s storage_account_name -i yourdockerimage**

In the back-end a resource is created which is of “kind” - “**functionapp, linux**”, you can check this is resour

[2018-10-01 11:43] kgopi05 commented on #2677
Getting below error when querying for ip address of the server
(az vm show --name server01 | ConvertFrom-Json).publicIps
-bash: syntax error near unexpected token `.publicIps'

[2018-10-01 14:05] djberg96 opened #7449 "urlopen error - SSL: TLSV1_ALERT_PROTOCOL_VERSION"
I am unable to deploy a template from a URL:
[code]

Results in:

`<urlopen error [SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:579)>`

[code]
This is using bash on RHEL 7.4, via the package manager.

It seems y'all bundle your own version of Python, which shows this:

`>python -c "import ssl; print(ssl.OPENSSL_VERSION)"`

Results are:

OpenSSL 1.0.1e-fips 11 Feb 2013

T

[2018-10-01 14:35] jswoodward opened #7450 "az disk revoke-access fails with "The response from long running operation does not contain a body""
After updating the python libraries via azure and the azure-cli metapackages, running az disk revoke-access now fails with:
Deployment failed. Correlation ID: 48df2ae3-53e3-4e9e-ad79-7c9f8bff457f. The response from long running operation does not contain a body.

Python versions installed:
azure==4.0.0
azure-applicationinsights==0.1.0
azure-batch==4.1.3
azure-cli==2.0.46
azure-cli-acr==2.1.5
azure

[2018-10-01 15:15] djberg96 commented on #7449
Some more info:

[code]
So, it looks like it does support 1.2.

[2018-10-01 15:39] tjprescott commented on #7439
The help text is correct here and consistent with the overwhelming majority of the rest of the CLI. If there are exceptions to the space-separated rule, I'm not aware of them.

[2018-10-01 15:39] #7439 closed

[2018-10-01 15:59] tjprescott commented on #7185
Consistency with another tool such as Powershell commandlets or the portal is not a significant factor in the CLI design. CLI create commands are intended to be idempotent. Were this command to fail because the name is reused, the `nsg rule create` command would no longer be idempotent.

[2018-10-01 15:59] #7185 closed

[2018-10-01 16:27] troydai commented on #7448
Acknowledge. Looking at it.

[2018-10-01 16:27] jbeard4 commented on #7448
Thank you.

[2018-10-01 16:30] troydai commented on #7447
Can you time the command for us? And could you run `az account list` and time it?

[2018-10-01 16:31] troydai commented on #7343
Thank you. I'm taking a look at it.

[2018-10-01 16:53] tjprescott commented on #7405
This is a duplicate of #2917.

[2018-10-01 16:53] #7405 closed

[2018-10-01 16:56] williexu commented on #7432
@udf2457 there is currently no option to limit throughput for `az storage blob upload`.
@zezha-msft is this possible through the storage sdk?

[2018-10-01 17:17] tjprescott commented on #6147
Have you tried updating your CLI installation?  It shows you using version 2.0.31. The current version is 2.0.46.

[2018-10-01 17:20] troydai commented on #7448
Found the cause of it. It was a homebrew specific issue. I will create a PR soon to address this issue. IT will be fixed in the next release (https://github.com/Azure/azure-cli/milestone/48) due 10/9.

[2018-10-01 17:20] #7399 closed

[2018-10-01 17:33] troydai commented on #7343
Acknowledge. Working on it.

[2018-10-01 17:36] tjprescott commented on #7176
Hi @rohrerb could you be more specific about which command you would like changed?

[2018-10-01 17:37] yugangw-msft commented on #6147
correct, the issue is still there

[2018-10-01 17:39] troydai commented on #7343
Just as @glebsam pointed out: `builtins`[1] is not supported in python2, which is the default installation in centos.

I will ask ACR team to work out a back-compatible solution for Python2. However, it worth pointed out that Python2 is reaching the end of its lifecycle, we should really get prepared for the day when it is not supported.

[1] https://github.com/Azure/azure-cli/blob/d5467e4fdd4916f

[2018-10-01 17:40] troydai commented on #7343
@djyou there is import in the `ACR` module not compatible with Python2 (see my comments above).

[2018-10-01 17:42] jbeard4 commented on #7448
Great. Thank you, Troy.

[2018-10-01 17:46] tjprescott commented on #5899
Yes, the @ symbol is necessary. In CLI 2.0 it is used to load the contents of the file. It is effectively the same as supplying a JSON string by loading the file.

CLI 2.0 was not designed to be used with Powershell. The use of the @ symbol to load the contents of a file did not cause issues on bash or Windows but is used by Powershell and thus takes precedence.  You will need to escape the @ symb

[2018-10-01 17:51] tjprescott commented on #5782
We cannot comment on upcoming products or features in this forum. The best place to signal your interest in new features is here:
https://feedback.azure.com/forums/914020-azure-kubernetes-service-aks

[2018-10-01 17:51] #5782 closed

[2018-10-01 18:11] troydai commented on #7448
You're welcome. Thank you for taking time to open this issue.

[2018-10-01 18:34] collinsauve opened #7455 "Better support for Fiddler"
**Describe the bug**
When Fiddler (or any other mitm debugging proxy) is running, `az` does not work.  This happens even if the Fiddler cert is trusted by the OS (Windows).

**To Reproduce**
1. Install Fiddler
2. Configure Fiddler to decrypt HTTPS requests
3. Install Fiddler cert to Windows cert store
4. Begin capturing requests in Fiddler
5. Run `az login --use-device-code` (chosen as a demonstra

[2018-10-01 18:38] collinsauve commented on #7455
Alternatively is there a way to tell `az` not to use the system proxy? ie Never use Fiddler?

[2018-10-01 19:00] zezha-msft commented on #7432
Hi @williexu and @udf2457, you are right that the SDK does not support rate limiting at the moment. It is on our radar but hasn't become a priority.

@udf2457, what's the reason that you need the rate-limit? Is it because of Storage account throttling(service returns 503s if ingestion is too high)?

[2018-10-01 19:15] #7426 closed

[2018-10-01 19:41] vamsi248 opened #7458 "AZ cli is fialed to install on ubuntu for xenail"
gnutls_handshake() failed: Error in the pull function.

W: The repository 'https://packages.microsoft.com/repos/azure-cli xenial Release' does not have a Release file.
N: Data from such a repository can't be authenticated and is therefore potentially dangerous to use.
N: See apt-secure(8) manpage for repository creation and user configuration details.
E: Failed to fetch https://packages.microsoft.

[2018-10-01 19:54] #7355 closed

[2018-10-01 20:27] yugangw-msft commented on #7450
Likely the same thing like #7413 where disk access commands were broken by bad SDKs. Please reactivate if you still see it in the upcoming release on next Tuesday.

[2018-10-01 20:27] #7450 closed

[2018-10-01 20:29] #7343 closed

[2018-10-01 20:29] troydai commented on #7343
Fixed in https://github.com/Azure/azure-cli/pull/7454#pullrequestreview-160471883

[2018-10-01 20:30] #7448 closed

[2018-10-01 20:31] tjprescott commented on #5370
This is a service limitation and this is not the right forum for service requests. Please direct your request here:
https://feedback.azure.com/forums/217313-networking

[2018-10-01 20:31] #5370 closed

[2018-10-01 20:37] tjprescott commented on #7234
This is a DevTest Lab feature.  I enabled it through the portal and exported the RG.

[code]

[2018-10-01 20:43] tjprescott commented on #7360
This is not controlled in the CLI source code. @dend

[2018-10-01 20:43] #7360 closed

[2018-10-01 20:44] tjprescott commented on #7359
As opposed to what?

[2018-10-01 21:04] tjprescott commented on #2586
Due to the perceived amount of engineering effort needed to simplify these scenarios balanced against the lack of customer asks in this area, we have decided to not pursue these changes.

[2018-10-01 21:04] #2586 closed

[2018-10-01 21:04] tjprescott commented on #4173
Due to the perceived amount of engineering effort needed to simplify these scenarios balanced against the lack of customer asks in this area, we have decided to not pursue these changes.

[2018-10-01 21:04] #4173 closed

[2018-10-01 21:04] tjprescott commented on #3748
Due to the perceived amount of engineering effort needed to simplify these scenarios balanced against the lack of customer asks in this area, we have decided to not pursue these changes.

[2018-10-01 21:04] #3748 closed

[2018-10-01 21:05] #3551 closed

[2018-10-01 21:05] tjprescott commented on #3491
Due to the perceived amount of engineering effort needed to simplify these scenarios balanced against the lack of customer asks in this area, we have decided to not pursue these changes.

[2018-10-01 21:05] #3491 closed

[2018-10-01 21:06] tjprescott commented on #3490
Due to the perceived amount of engineering effort needed to simplify these scenarios balanced against the lack of customer asks in this area, we have decided to not pursue these changes.

[2018-10-01 21:06] #3490 closed

[2018-10-01 21:06] tjprescott commented on #3374
Due to the perceived amount of engineering effort needed to simplify these scenarios balanced against the lack of customer asks in this area, we have decided to not pursue these changes.

[2018-10-01 21:06] #3374 closed

[2018-10-01 21:06] #2626 closed

[2018-10-01 21:19] udf2457 commented on #7432
@zezha-msft

The primary reason is simply efficient use of client-side banwidth.  Sometimes, for whatever reason, it is not appropriate to allow Azure ingestion to take 100% of available bandwidth.  As outlined above, achieving rate limiting using built-in OS tools such as `tc` is difficult and error prone due to complex and poorly documented syntax as well as limited support options because of th

[2018-10-01 21:38] tjprescott commented on #3386
Live test failures are documented daily. There's no need for this issue.

[2018-10-01 21:38] #3386 closed

[2018-10-01 21:39] tjprescott commented on #2837
This was a time-box investigation into a possible convenience command/arguments. Since there are no customer asks for this, I am closing this issue.

[2018-10-01 21:39] #2837 closed

[2018-10-01 21:41] tjprescott commented on #2569
This was a Swagger bug that has been fixed. Closing.

[2018-10-01 21:41] #2569 closed

[2018-10-01 21:42] tjprescott commented on #2419
Closing due to inactivity and service-limitations.

[2018-10-01 21:42] #2419 closed

[2018-10-01 21:44] tjprescott commented on #7045
Closing due to inactivity.

[2018-10-01 21:44] #7045 closed

[2018-10-01 21:52] tjprescott commented on #6647
When I paste the example you gave, I get the following:
[code]

The value you provided for `--resource` was missing the subscription. The documentation is correct--you do not have to specify the workspace by fully-qualified ID.  You can provide the name, which will use the values of `--resource-group/-g` and/or `--subscription` to assemble the ID.

[2018-10-01 21:52] #6647 closed

[2018-10-01 21:56] tjprescott commented on #6001
Can no longer reproduce. Believe the underlying service has been fixed. Closing.

[2018-10-01 21:56] #6001 closed

[2018-10-01 22:05] tjprescott commented on #2862
The nature of what is dangling is highly subjective. A storage account can function independent of a VM, so how would we be able to ascertain it is orphaned?  The best way to accomplish this would be to create your related resources inside a resource group. The group can be deleted, cleaning up all the resources within that group. Based on the amount of engineering effort needed and the lack of de

[2018-10-01 22:05] #2862 closed

[2018-10-01 22:08] tjprescott commented on #3878
This was disabled (again!) and needs to be restored.

[2018-10-01 22:33] #7301 closed

[2018-10-01 22:33] #7427 closed

[2018-10-01 22:41] yugangw-msft commented on #4232
This is not document issue, rather a bad error from service end

[2018-10-02 00:13] kiazhi commented on #7423
Hi @yugangw-msft,

I am still having the same issue. I think I know what is actually the problem with the `az policy definition show --name <policy definition name>` cli command.

Can you try creating the custom policy definition to a Management Group instead of the Subscription and try to use `az policy definition show --name <policy definition name created to management group>` and see if you ge

[2018-10-02 00:37] zezha-msft commented on #7432
@udf2457  thanks for the explanation!

I've added this item to our backlog and will discuss it with my team.

[2018-10-02 02:45] lynn-orrell opened #7463 "(Mac) az cli for Azure Bot Service is failing across the board (az bot ...)"
**Describe the bug**
az bot create/delete/update/publish/... is failing with the following error:

_**ModuleNotFoundError: No module named 'azure.mgmt.botservice'**_

**To Reproduce**
Install az cli
Install bot extension
Attempt to run az bot create/delete/update/publish/...

**Expected behavior**
Commands should execute without throwing a ModuleNotFoundError

**Environment summary**
MacOS High Si

[2018-10-02 02:56] alexsandro-xpt commented on #7447
@troydai `az account list` is quick, is between 3 or 4 seconds.

[2018-10-02 08:35] hairmare opened #7464 "VNET support for Azure Container Instances didn't make it into 2.0.64"
**Describe the bug**
When I try using `az container create` with the new `--vnet-name` and `--subnet` args that should be available as preview I get the following error:
[code]
**To Reproduce**
Use the latest `2.0.46` version of the azure-cli to try creating a container in a private VNET.

**Expected behavior**
I would expect what is documented [here](https://docs.microsoft.com/en-us/azure/contain

[2018-10-02 09:13] danishprakash commented on #7433
@yugangw-msft should this be added to the docs? I'm taking this up if nobody else is.

[2018-10-02 09:16] danishprakash commented on #7418
@tjprescott since this has been filed by a bot(maybe), pinging you. Could you add some more context to this issue, I would like to work on it.

[2018-10-02 09:49] Zazcallabah opened #7465 "the azure cli task in azure devops takes >1 minute to even start"

[2018-10-02 10:05] Zazcallabah commented on #7465
The description disappeared. Give me a minute to re-type it.

[2018-10-02 11:18] tappoz opened #7466 "Resource could not be found when exporting ARM template, but it's there when listing resources in resource group"
**Describe the bug**

When trying to export a Stream Analytics Job the `az` fails stating: `Deployment '<MY_SAJ_NAME>' could not be found.`, however that resource is there in that resource group.

**To Reproduce**

[code]

**Expected behavior**

I am expecting to export the ARM template for that resource, but it's not possible even if the resource is there on Azure.

**Environment summary**

- The

[2018-10-02 15:36] tjprescott commented on #7463
Dupe of #7448. Will be fixed in the next release.

[2018-10-02 15:36] #7463 closed

[2018-10-02 15:42] tjprescott commented on #7464
I have verified these arguments appear and are accepted in CloudShell, CLI version 2.0.46.  How did you install the CLI?

[2018-10-02 15:42] #7464 closed

[2018-10-02 15:46] tjprescott commented on #7466
[code]

You are giving conflicting information to the CLI. Group export is used to export a resource group only, not a specific resource. The correct syntax should be `az group deployment export -g <MY_RESOURCE_GROUP_NAME>`

[2018-10-02 15:46] #7466 closed

[2018-10-02 15:54] tjprescott commented on #7418
@danishprakash the issue is that the examples for `az monitor metrics create` don't all include the `--description` parameter, but this is required.

[2018-10-02 16:05] tjprescott commented on #7432
Since this is on Storage team's backlog and is a service/SDK issue instead of a CLI issue, I'm closing this thread.

[2018-10-02 16:05] #7432 closed

[2018-10-02 16:09] yugangw-msft commented on #7465
please capture the trace using `az login --debug` and i will take a look. If it is too long, send it to me at yugangw at microsoft dot com

[2018-10-02 16:10] bryce-klinker opened #7467 "No module named 'azure.mgmt.signalr'"
**Describe the bug**
Listing keys for Azure SignalR Service fails with: `No module named 'azure.mgmt.signalr'`

**To Reproduce**
1. Install Azure CLI
1. Login using `az login`
1. Execute `az signalr key list`

**Expected behavior**
Show error saying resource group, name, and SKU are required

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) /

[2018-10-02 16:13] tjprescott commented on #7467
@troydai  this looks a lot like the botservice issue.

[2018-10-02 17:07] hairmare commented on #7464
Thanks for the reply. My installation of the azure cli was done locally using `pip install azure-cli` a while ago. I have been keeping it up to date using `az install --upgrade azure-cli`. It look like my local installation didn't upgrade all the parts of the CLI, I still had `container (0.3.3)`. I was able to fix this by running `pip install --upgrade azure-cli-container`. It looks like I'm going

[2018-10-02 17:15] tjprescott commented on #7464
Pip install is not a recommend install method. The reason is because, just as you found, when you run `pip install --upgrade azure-cli` it only updates that one package, not all of the individual modules. This will likely result in many issues. For recommended installation methods, see:
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2018-10-02 17:35] syedhassaanahmed commented on #5051
+1 on Azure CLI support for ADF v2

[2018-10-02 17:40] udf2457 commented on #7432
@tjprescott Just to check we're singing from the same hymn sheet here.... the Storage team are planning to implement throughput rate-limiting server-side ?!?

I'm not fussed how you do it, whether server-side or client-side CLI, as long as someone implements it !  Doing it server-side would certainly be innovative.  :smiley:

[2018-10-02 17:45] tjprescott commented on #7432
It could be done server-side or client-side via the SDK.

[2018-10-02 18:39] Zazcallabah commented on #7465
write-host "Before az login"
    az login --debug --service-principal -u "<name>" -p <key> --tenant "<tenant>"
    write-host "After az login"

[code]

I notice that it takes more than ten seconds for az login to even start outputting debug messages.

[2018-10-02 19:27] ahmedelnably opened #7468 "log streaming should reconnect when app restarts"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
log streaming should reconnect when app restarts

If a user is streaming logs from a web app, and the app recycles/restarts, the command should reconnect once the scm site is back up

[2018-10-02 19:32] #7318 closed

[2018-10-02 20:45] djyou commented on #7438
@LudwigTirazona This issue has been fixed from server side. Could you please try the commands again?

[2018-10-02 22:30] yugangw-msft commented on #7465
This is expected for cold start as file loading, anti-virus scan, and compiling .py to .pyc are happening during this period . #6673 by adding more pre-compiled files should help

I can't explain why there are 13 seconds latency here. If you run `az login` again, does it reproduce?

[2018-10-02 23:58] williexu commented on #7269
@TiloGit `acr list` has the `--subscription` parameter exposed. If you do not see it, please update to a newer version of the CLI.

[2018-10-02 23:58] #7269 closed

[2018-10-03 00:35] LudwigTirazona commented on #7438
@djyou, looks good.

Missing data are now showing properly, thanks!

[2018-10-03 03:17] yugangw-msft commented on #7428
#7461 handles it

[2018-10-03 03:17] #7428 closed

[2018-10-03 03:57] kiazhi commented on #5810
Discovered that the "Create a policy parameter definition with the following example" is an incorrect example. Parameter JSON cannot be passed to `--rules` parameter.

[code]

[2018-10-03 08:45] Zazcallabah commented on #7465
As far as I can tell, yes. Here is another from this morning.

    2018-10-03T08:41:56.1871996Z DEBUG: Event: CommandInvoker.OnPostParseArgs ...
    2018-10-03T08:42:12.0664529Z DEBUG: adal-python : ...

I'm guessing someone over at https://github.com/Microsoft/vsts-tasks may have more insight into what exactly is happening, but I wouldn't know who to ask.

[2018-10-03 11:07] NilsBreitmann commented on #7239
I have the same problem. Is there a fix or workaround?

[2018-10-03 14:48] MichaelMcCoyDNVGL opened #7472 "Application Gateway creation fails for SKUs WAF_v2 & Standard_v2"
Unable to create an Application Gateway of SKU's WAF_v2 & Standard_v2 using CLI.

**To Reproduce**
[code]

**Expected behavior**
I would expect it to create the application gateway but instead it gives error
[code]

**Environment summary**
Windows 10
azure-cli (2.0.46)

acr (2.1.5)
acs (2.3.4)
advisor (0.6.0)
ams (0.2.3)
appservice (0.2.4)
backup (1.2.1)
batch (3.4.0)
batchai (0.4.3)
billing (0.2.

[2018-10-03 15:47] d-y-charpen opened #7473 "Linux CLI Fails to Create NodeJS Webapp"
Following the guide for deploying a nodejs webapp using CLI (https://docs.microsoft.com/en-ca/azure/app-service/containers/quickstart-nodejs), the following is outputted:
[code]
This occurred both when attempting to deploy my own app, and deploying the quickstart provided in the guide.

The expected behaviour was successful creation of the service plan, then zipping and deploying the app, as defin

[2018-10-03 15:53] yugangw-msft commented on #7473
port to https://github.com/Azure/azure-cli-extensions/issues/328

[2018-10-03 15:53] #7473 closed

[2018-10-03 17:11] troydai commented on #7467
I take a look.

[2018-10-03 17:15] troydai commented on #7467
https://github.com/Azure/azure-cli/pull/7475

[2018-10-03 17:18] tjprescott commented on #7472
Thank you for the report @MichaelMcCoyDNVGL. This will be fixed in an upcoming release. In the meantime, you can run the command with `--validate --verbose` to extract the ARM template that underlies this create. Then, in the "sku" properties for the gateway, change "tier" to match "name".  You should then be able to deploy this template with `az group deployment create …` to create your gateway.

[2018-10-03 17:47] tjprescott opened #7477 "Add `--service-endpoint-policy` to `subnet update` command."
Currently only featured on `vnet subnet create`.

[2018-10-03 17:52] troydai commented on #7447
3 to 4 seconds is not normal. Is it in WSL or PowerShell?

[2018-10-03 17:55] troydai commented on #7467
Will be fixed in next release. The fix has been merged.

[2018-10-03 17:55] #7467 closed

[2018-10-03 18:57] kskvarci opened #7479 "Please document default values"
In cases where an optional parameter has set valid values the default value should always be documented. E.G. what is the result if i chose not to include the parameter in my call.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 226e5769-f6c8-a480-db78-727fb96348ec
* Version Independent ID: 8ee06a2a-6eda-11be-3c8e-6ad94

[2018-10-03 21:44] robkinyon-roivant opened #7481 "apt-transport-https required to run apt-get update"
**Describe the bug**

In your [documentation](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt), you say to:

- Add the repository to sources.list.d
- Add the signing key
- Run apt-get update
- Install apt-transport-https and azure-cli

If apt-transport-https isn't already installed, this will fail. Instead, you have to install apt-transport-https *prior* to running apt-get update.

[2018-10-03 21:48] #7472 closed

[2018-10-03 23:41] conradwt commented on #7361
I would like to submit a PR which provides support for MacPorts.

[2018-10-04 05:22] imeya opened #7485 "Calculate the size of a Blob storage container"
In this tutorial: [Calculate the size of a Blob storage container](https://docs.microsoft.com/en-us/azure/storage/scripts/storage-blobs-container-calculate-size-cli), it throws an error: "bash bc: command not found", so I wonder is there something missing which caused the "bc" cannot find?

I used  the could shell button in azure portal.

[2018-10-04 10:12] ralucasg opened #7486 "list-sku is not updated"
" az vm list-skus --help

Command
    az vm list-skus: Get details for compute-related resource SKUs.
        This command incorporates subscription level restriction, offering the most accurate
        information.

Arguments
    --location -l: Location. You can configure the default location using `az configure --defaults
                   location=&lt;location&gt;`.

Global Arguments
    --deb

[2018-10-04 10:48] tobiasbunyan commented on #5734
Agree.  Not very joined up thinking.

[2018-10-04 11:18] ronaldvanrij commented on #6415
Same performance issues here. It seems the `delete-batch` is simply iterating over each blob in the container followed by client-side filtering. So this'll be very slow if your contains contains many files (100000+). Source:
https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/util.py#L24

Interestingly this `list_blobs` method seem

[2018-10-04 13:50] alexsandro-xpt commented on #7447
In the both @troydai, the user experience with Azure CLI time perception is not good.

[2018-10-04 13:58] Bnjmn83 opened #7487 "Required Arguments"
&gt; az ad app create --display-name my-nativ
leaves me with _'--identifier-uris' is required for creating an application_ although the documentation states that only _--display_name_ is required.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 921aa920-c25f-5227-aabb-49116da38fa7
* Version Independent ID: 9b5a53ad-edf8

[2018-10-04 15:31] tjprescott commented on #7487
`--display-name` is required in all cases.  Depending on the option you provide, `--identifier-uris` may or may not be required.

[2018-10-04 15:31] #7487 closed

[2018-10-04 15:39] tjprescott commented on #7485
The `bc` utility it not present on the Cloud Shell image.

[2018-10-04 15:46] tjprescott commented on #7486
The `--zone` flag and `--size` argument do work as intended. If you don't see them, you likely need to update your CLI installation.

[2018-10-04 15:46] #7486 closed

[2018-10-04 16:54] virajpangam commented on #7192
When you visit that link it shows two options. To create converged application or use Azure AD only applications. Where should I create the application?

[2018-10-04 20:20] wlodekb opened #7489 "azure cli - download certificate as pfx format"
az keyvault certificate download --file
                                 [--encoding {DER, PEM}]
On azure web-portal (also in PS) there is an option to download as pfx. Why it is missing in az cli then?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a9c661d7-bf43-5354-015e-3859f30a42a2
* Version Independent ID: fa69e55

[2018-10-04 22:52] jluk commented on #6537
@tjprescott I don't see this behavior reproduce when we exec into a container with anything besides Azure CLI - it seems like this may be behavior from python/cli? Can you take a look at this or is there any known python output issues?

[2018-10-04 22:56] tjprescott commented on #709
Hasn't been movement on this in 2 years.  Closing.

[2018-10-04 22:56] #709 closed

[2018-10-04 22:57] tjprescott commented on #983
No movement on this in two years. Closing.

[2018-10-04 22:57] #983 closed

[2018-10-04 23:00] tjprescott commented on #579
We have introduced the @ syntax to load text from files. As we have not had other user complaints regarding this, and to alter the behavior would be a breaking change, I will close this issue.

[2018-10-04 23:00] #579 closed

[2018-10-04 23:05] tjprescott commented on #1466
We have numerous other ways of detecting changes to commands. Closing this.

[2018-10-04 23:05] #1466 closed

[2018-10-05 00:03] tjprescott commented on #1500
A strongly-typed update command has been added for `application-gateway http-settings`, so I believe this should be sufficient. The use of generic update for this scenario is no longer necessary. Closing.

[2018-10-05 00:03] #1500 closed

[2018-10-05 00:41] imeya commented on #7485
@tjprescott, so I can only run it from an Linux client? and in cloud shell, is there anyway I can do the same thing instead of `bc`?

[2018-10-05 04:42] archmangler opened #7493 "Recovery Vault: az backup protection does not provide idempotent disable/enable of protection"
**Describe the bug**
- The "az backup protection" command does not provide a way to disable backup protection and then re-enable it, without first needing to delete the backups in a recovery services vault:
- When RSV protection is disabled with "az backup protection disable" one must specify delete-backups "yes" or the enable command will fail if we want to re-enable backups again.
- This means t

[2018-10-05 10:43] earthquakesan opened #7494 "Documentation typo "Resorce" [website]"
**Describe the bug**
Typo in the docs: https://docs.microsoft.com/en-us/cli/azure/storage/cors?view=azure-cli-latest

**To Reproduce**
Go to the URI and check the left sidebar menu

**Expected behavior**
"Cross-Origin Resorce Sharing" should be changed to "Cross-Origin Resource Sharing"

**Environment summary**
N/A

[2018-10-05 10:52] chetanmeh opened #7495 "How to enable access from Azure Portal with firewall settings"
Is there any option to configure the "Allow access from Azure Portal" while using the `--ip-range-filter` options. Currently when we use this option it resets the portal access settings and that needs to be enabled again.

This cause issue for us where we configure the firewall as part of scripts for every deployment

---
#### Document details

⚠ *Do not edit this section. It is required for docs.

[2018-10-05 10:54] earthquakesan commented on #7409
I was able to reproduce the issue, will submit a pull request.

[2018-10-05 11:33] axellejamous commented on #7345
I have the same issue. All other commands listed in doc generate the same error.

[2018-10-05 14:20] nmikuni opened #7497 "Azure CLI in Cloud Shell got ’Segmentation fault’ error"
**Describe the bug**
(on Cloud Shell)
$ az backup protection backup-now -g [Resource Group Name] -v [Vault Name] -c [Container Name] -i [Item Name] --retain-until 26-09-2018

05:30:17   /usr/local/bin/az: line 13:    43 Segmentation fault      (core dumped) python -m azure.cli '$@'

**To Reproduce**
not reproduced

**Expected behavior**
when tried after 9 hours ago, the backup succeeded.

**Enviro

[2018-10-05 15:47] troydai commented on #7497
`Segmentation fault` is memory violation. I can hardly see any CLI logic will cause this. It can be OS environmental issue.

[2018-10-05 16:13] timja commented on #6408
Is there a work around we can do?
Any published released version?

We have an angular app that is failing to build because of this

[2018-10-05 16:16] troydai commented on #6408
Use option `--no-format`

[2018-10-05 16:19] timja commented on #6408
aah thanks I see, it was released in 2.0.46

[2018-10-05 16:38] DamonStamper commented on #7239
I'm also experiencing this. What's odd is this was working a few days ago.

Client Version: version.Info{Major:"1", Minor:"12", GitVersion:"v1.12.0", GitCommit:"0ed33881dc4355495f623c6f22e7dd0b7632b7c0", GitTreeState:"clean", BuildDate:"2018-09-27T17:05:32Z", GoVersion:"go1.10.4", Compiler:"gc", Platform:"windows/amd64"}
Server Version: version.Info{Major:"1", Minor:"9", GitVersion:"v1.9.6", GitCo

[2018-10-05 16:48] DamonStamper commented on #7239
Updating from azure-cli v2.0.25 to 2.0.46 resolved my issue.

[2018-10-05 19:19] #1289 closed

[2018-10-05 19:29] apeschel opened #7499 "Major Regression: Many Commands Now Missing"
**Describe the bug**
At least 2.0.46 and 2.0.45 are missing many sub-commands that existed in 2.0.42. It's not clear which version this regression occured in. This was noticed with the `az aks` commands specifically.

**To Reproduce**
Run `az aks` on either v2.0.45 or 2.0.46, an error will return.

Run `az help` on v2.0.45 or 2.0.46 vs v2.0.42 to see a much shorter list of available sub-commands.

[2018-10-05 20:09] prashanthmadi opened #7500 "Create cassandra API in COSMOSDB using azure-cli"
[code]
az cosmosdb create: 'cassandra' is not a valid value for '--kind'. See 'az cosmosdb create --help'.

It is availavble through the portal however.  Is there another method or parm for creating it from either terraform or from az cosmosdb create?

[2018-10-05 20:35] #7239 closed

[2018-10-05 20:38] tjprescott commented on #7485
@imeya you would need to reach out to the authors of the blog. They are listed near the top of the article as contributors.

[2018-10-05 20:38] williexu opened #7501 "We need testing for Windows."
**Is your feature request related to a problem? Please describe.**
We currently run most of our automation on linux containers and have no testing for Windows.
If we support windows installation of our product, we need to ensure quality in that regard.

This will require moving away from Travis CI, Windows is not supported there.

[2018-10-05 20:41] tjprescott commented on #4133
Closing this since the service may change to permit this behavior.

[2018-10-05 20:41] #4133 closed

[2018-10-05 20:42] tjprescott commented on #7359
Closing as I'm not sure what the ask is here.

[2018-10-05 20:42] #7359 closed

[2018-10-05 20:45] paulgmiller opened #7502 "Bad error message when SB namespace over qouta."
**Describe the bug**
Creating a service bus namespace when you are over the quota give bad error message. Just bad request with no other details.

**To Reproduce**
Create 10 premium namespaces in  a sub then do
az servicebus namespace create --name fsdfgddssdfds  --resource-group gdffgdfgdf --location westus2 --sku Premium

**Expected behavior**
Error message should mention quota.

**Environment s

[2018-10-05 20:58] tjprescott commented on #7502
If you run with `--debug` you should see additional information. If running on the latest version of the CLI, the "BadRequest" should now display with more info without needed to use `--debug`

[2018-10-06 15:32] lukasmrtvy opened #7505 "How to reference key=value parameters in az vm run-command invoke ?"
I am running this command:
[code]

Seems that parameters are parsed as keys and values.

Output:
[code]

Of course that I can do:
[code]
, but if You want to dynamically reference these parameters like this: (vars are set in execution time)

`for i in "$@"; do echo $i >> variables.file; done ` it will not work for sourcing purposes, because it will put only keys to variables.file.

Format should b

[2018-10-06 18:50] lswright commented on #5814
Unfortunately this command does not work for me with web apps.  The azure terminal outputs an updated allowedOrigins key:value but the host continues to generate a cors error.

[2018-10-06 19:57] mcwienczek commented on #7261
+1 for this, could be useful for us as well

[2018-10-07 14:32] holzapfelnet commented on #4419
I have the same issue using azure-cli 2.0.46 on mac os 10.14

[2018-10-08 04:04] archmangler commented on #7493
Hi, any update on this? Let me know if I can pass through any further debugging information.

[2018-10-08 08:15] andrejzelnik commented on #7505
We have come across the same issue... any resolution?

[2018-10-08 10:33] diirib opened #7506 "Add throughput by database support"
**Is your feature request related to a problem? Please describe.**
Cosmos Databases can now have their Throughput (RUs) set at database level instead of collection, and this should be supported in az cosmosdb as well.

**Describe the solution you'd like**
Add a parameter in az cosmosdb database create to set it.

**Describe alternatives you've considered**
It can be done through the Azure portal,

[2018-10-08 10:41] #7312 closed

[2018-10-08 10:41] ediazrod opened #7507 "Console azure Fails on " az role assignment list-changelogs""
**Describe the bug**
use the console Azure to issue  az role assignment list-changelogs

**To Reproduce**
On console
 az role assignment list-changelogs

**Expected behavior**
The change logs.

**Environment summary**
AZ console Azure

**Additional context**
the error:

[code]

[2018-10-08 10:48] diirib opened #7508 "CosmosDB Collection TTL parameter options changed and now can't be set to 'Off' through powershell."
**Describe the bug**
There's a new option for TTL in a CosmosDB Collection but there's no way to set it to 'off' now. The documentation says it has to be set to "null", and that way it will be 'off', but I get an error when doing it that way. 0 doesn't work either, since it says it should be a non-zero positive number, or -1 to set it to Off (which is no longer valid).

**To Reproduce**
az cosmosd

[2018-10-08 11:51] jungopro commented on #6858
Hello
It does work for me on mac
Running mojave and zsh shell (not bash)
az cli version 2.0.38

![screen shot 2018-10-08 at 14 49 03](https://user-images.githubusercontent.com/22839439/46607404-903f1e80-cb09-11e8-868f-115bb7395ea6.png)

I do have a different question though... how can I get just the value **data**, without the "Result" prefix?

Thank you
Omer

[2018-10-08 11:53] jungopro commented on #6858
Turns out I needed to add -o tsv and it got me what I needed 👍

[2018-10-08 15:48] #6858 closed

[2018-10-08 16:30] tjprescott commented on #4563
Since the `monitor alert` commands are deprecated, closing this issue without action.

[2018-10-08 16:30] #4563 closed

[2018-10-08 17:31] tjprescott commented on #4564
These parameters are in the `OData Filter Arguments` group because they are exclusively used in the construction of the OData Filter. Closing.

[2018-10-08 17:31] #4564 closed

[2018-10-08 17:39] mhausenblas opened #7510 "az configure: input validation for defaults"
**Is your feature request related to a problem? Please describe.**
Yes, a feature request for adding input validation. As pointed out in https://github.com/Azure/azure-docs-cli-python/issues/1061,  currently the input values are not validated. For example, you can execute `az configure --defaults location=blah` without any immediate issues, but that doesn't make sense and will potentially cause tr

[2018-10-08 17:41] tjprescott commented on #5339
This question has been answered and is the result of not specifying a start time and having no logs within the default hour window. Closing.

@fepere I would recommend ensuring you have the latest version of the module. If you still experience an issue, please open a new bug report and provide the requested details.