[2022-04-21 22:50] DaeunYim commented on #21535
Hi, I'm still waiting for CloudShell team to finish this. As they are the one who need to resolve this dependency issue..

[2022-04-21 22:57] yonzhan commented on #22142
route to CXP team

[2022-04-21 22:57] yonzhan commented on #22143
keyvault

[2022-04-21 22:58] yonzhan commented on #22144
route to CXP team

[2022-04-22 00:21] VikasMohandoss commented on #22134
Hi Xing,

When would the release land if it is a part of the next sprint? We are
looking to launch end of month ideally.

Thanks!
Vikas

When would the next
On Wed, Apr 20, 2022 at 7:28 PM Xing Zhou ***@***.***> wrote:

[2022-04-22 00:35] #21395 closed

[2022-04-22 01:08] zhoxing-ms commented on #22134
@VikasMohandoss The release time of the next sprint is **05-24**. Before that, we can provide the private package of CLI to customers for installation through [edge build](https://github.com/Azure/azure-cli/blob/dev/doc/try_new_features_before_release.md), is this acceptable?

[2022-04-22 01:57] evelyn-ys commented on #22143
`azure-cli 2.0.81` is not our official Azure CLI. See #19640 for details

Please install our CLI following https://docs.microsoft.com/cli/azure/install-azure-cli

[2022-04-22 01:59] #22143 closed

[2022-04-22 02:13] #4475 closed

[2022-04-22 02:13] t-bzhan commented on #4475
The issue is fixed now

[2022-04-22 02:40] karataliu commented on #15994
is there any update? This could help on https://github.com/Azure/azure-cli/issues/13368 , as client can pre-check before running role assignment.

[2022-04-22 02:48] RakeshMohanMSFT commented on #22133
@rellis-of-rhindleton I suggest you open a support ticket to troubleshoot this issue further, considering the fact that its intermitted and also we might need some details specific to your account, we cant ask for those details in public forum. Therefore please open a support ticket. Let me know if you need help with that.

[2022-04-22 02:51] #21640 closed

[2022-04-22 03:03] RakeshMohanMSFT commented on #22142
@ilozano2 To unblock can you please downgrade to previous version of CLI and check again. While we investigate this issue?

[2022-04-22 03:20] navba-MSFT commented on #22121
@team-gangreen-gang Thanks for reporting this bug. This has been fixed in this PR https://github.com/Azure/azure-cli/pull/22138 and it will be addressed in the next release.

[2022-04-22 03:36] FumingZhang commented on #22142
Hi @ilozano2, the reason for the error is that the existing kubeconfig file (default path is `~/.kube/config`) is not a valid yaml file.

Workarounds:
- Option 1
  If necessary, back up the existing file, then delete the file and execute the command again.

- Option 2
  Specify some other path to store the kubeconfig file like `az aks get-credentials -g {resource_group_name} -n {cluster_name} -f {

[2022-04-22 04:08] navba-MSFT commented on #22053
@yuvaraj-azurevm I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you have any update on this. Awaiting your reply.

[2022-04-22 04:09] navba-MSFT commented on #22080
@roy-work I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-04-22 04:32] navba-MSFT commented on #22140
@EdAbati Thanks for reaching out to us and reporting this issue. We are looking into this. I will provide an update on this issue once I have more details.

[2022-04-22 04:51] navba-MSFT commented on #22140
@EdAbati Could you please check if you are able to run the below command ? Awaiting your reply.

[2022-04-22 05:09] navba-MSFT commented on #21602
@v-fearam Apologies for the late reply. Could you please let me know if you still need assistance on this issue ? Awaiting your reply.

[2022-04-22 05:46] anandadake commented on #22095
Thank you so much folks...

I really Appreciate your time and efforts...

[2022-04-22 06:04] YuanyuanNi commented on #22118
Hi,
     @surajkewat24 You should use 'az network private-endpoint dns-zone-group create' to create a dns-zone-group before you use 'az network private-endpoint dns-zone-group add' command.
Best wishes.

[2022-04-22 06:04] RakeshMohanMSFT commented on #21953
@ryancolekt this is a bug and will are looking into this. The fix will be released tentatively by end of next month. In the meantime, if you have any questions, please feel free to ask. I would be happy to answer it.

[2022-04-22 06:15] navba-MSFT commented on #21605
@zapadoody Apologies for the late reply. I couldn't reproduce this issue using [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the AzCLI. Could you please check and let me know if you are still seeing the same issue ? awaiting your reply.

[2022-04-22 06:54] TeisTheDevOps commented on #22129
@SaurabhSharma-MSFT arh sorry we did not get all our code within the first post.

The first step is:

$OutCertThumbprint = az webapp config ssl import `
--resource-group $resourceGroupName `
--name $appServiceName `
--key-vault "/subscriptions/$subscriptionId/resourceGroups/$letsCertResGroup/providers/Microsoft.KeyVault/vaults/$letsCertKeyVault" `
--key-vault-certificate-name $certName `
--output

[2022-04-22 07:19] EdAbati commented on #22140
Hi @navba-MSFT , thank you for the quick reply.
I run that command (with `--debug` ) and still fails in the same exact way. There is still a problem with `cryptography`

[2022-04-22 07:36] edgBR commented on #4857
Hi @marst,

I think it would be usefull to be able to authenticate using MSI with docker.

Currently we have built an azure function that connects to AML to get some metadata from our models to postprocess some predictions done by an AML scoring pipeline.

When using MSI in the azure function everything works as we have configured the managed identity properly. And when we run the python code loca

[2022-04-22 07:59] Riezebos commented on #22140
Hi! I had the same problem yesterday and today had some time to look into it. I have an M1 macbook. I was able to get the installation to work using:

[code]

I'm 99% sure this will also solve the issue for `azure-cli-ml` since the underlying problem is the same.

I also tested the installation of the `cryptography` package in a fresh venv created with python@3.10. The results are:
`>3.3.2,<=3.4.5

[2022-04-22 08:00] #20944 closed

[2022-04-22 08:00] #20257 closed

[2022-04-22 08:00] #20255 closed

[2022-04-22 08:08] kasperbilde commented on #22144
I can confirm similar behaviour on Windows 10. When trying to `ssh` to a VM, I get the following error:
[code]

When downgrading to version 1.0.0 as mentioned above, I can connect to the VM.

[2022-04-22 08:13] Bougheyy opened #22151 "az vmss set diagnostics - Failing to set custom config from JSON"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vmss diagnostics set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vmss diagnostics set --resource-group {} --vmss-name {} --set

[2022-04-22 08:18] yonzhan commented on #22151
Compute

[2022-04-22 08:59] CliveRobson opened #22153 "ImportError: DLL load failed while importing win32file: The specified procedure could not be found."
Hi Team

workspace = Workspace(subscription_id, resource_group, workspace_name)

While running this line of code to connect to azure workspace i got this error... Kindly help me to figure out the issue

---------------------------------------------------------------------------
ImportError                               Traceback (most recent call last)
Input In [42], in <cell line: 1>()
----> 1 wo

[2022-04-22 09:16] yonzhan commented on #22153
route to CXP team

[2022-04-22 09:39] jomora opened #22154 ""az deployment mg what-if" fails for non-existent management groups"
### **This is autogenerated. Please review and update as needed.**

I automated the creation of a management group sub-hierarchy below an existing management group using **Bicep**.
I created a pipeline in Azure DevOps which runs the `what-if` command, but it kept failing both in the pipeline and locally.
I used the same service principal in the pipeline as well as locally.
Digging into the issue I

[2022-04-22 09:42] navba-MSFT commented on #22140
Thanks @Riezebos for sharing this.

@EdAbati Could you please try the above suggestions and check if that helps ? Awaiting your reply.

[2022-04-22 09:58] edvinas31 commented on #22126
Also, I have noticed that when creating "Service connection" using Azure DevOps UI and not CLI it finishes successfully

[2022-04-22 10:25] yonzhan commented on #22154
route to CXP team

[2022-04-22 10:49] v-fearam commented on #21602
I moved away Azure run-command, we needed to solve the issue. We installed OpenSSH on a not standard port and execute on the context of a specific user.
You can close this ticket as not needed, but unresolved.
I think It is good to follow the topic in order to document in a proper way the functionality, and the the community is able to use the Microsoft products.

[2022-04-22 10:55] navba-MSFT commented on #21602
@v-fearam Thanks for getting back. We are sorry to hear about this. We sincerely apologize for the delay in reaching out to you. You can refer [this](https://docs.microsoft.com/en-us/cli/azure/vm/run-command?view=azure-cli-latest#az-vm-run-command-create-examples) docs for more details on this command. We have taken your feedback. We will now proceed with the closure of this issue. If you need any

[2022-04-22 10:55] #21602 closed

[2022-04-22 11:06] EdAbati commented on #22140
Awesome, thanks @Riezebos for the workaround! :)

@navba-MSFT , it worked for now, but as @Riezebos said I also think the best/long term solution would be to upgrade the requirements so `azure-cli-ml` uses a newer version of `cryptography`. If I understood correctly from the logs the `cryptography` version is fixed to `<=3.3.2` (or similar)

[2022-04-22 11:25] yuvaraj-azurevm commented on #22053
Hello Team,

I had reviewed the article which explains how to remove the update which had caused the problem, However in Generic if the VM is stuck for the updates as referenced in the below Community forum
Virtual Image is stuck in Windows starting screen (microsoft.com)<https://social.msdn.microsoft.com/Forums/azure/en-US/a666a9bf-3619-4633-a432-85952ace6a03/virtual-image-is-stuck-in-windows-sta

[2022-04-22 11:57] edvinas31 commented on #22126
Found out that I was missing `Token` `Read & Manage` permission for a PAT. After I logged out and logged in I was able to create service connection. Closing issue

[2022-04-22 11:57] #22126 closed

[2022-04-22 12:23] wwalterr commented on #5473
Here is the command to list your own images `az account list -otsv --query "[].id" | xargs -n 1 az sig list --subscription` - [documentation](https://docs.microsoft.com/en-us/azure/virtual-machines/shared-image-galleries?WT.mc_id=Portal-Microsoft_Azure_Support#how-can-i-list-all-the-azure-compute-gallery-resources-across-subscriptions).

[2022-04-22 13:02] jango-free opened #22157 "500 Server Error when creating Encryption scope for Storage account with UserAssigned identity"
**Describe the bug**
While trying to create encryption scope with UserAssigned identity enabled Storage account, we are facing 500 server error.

**To Reproduce**
[code]

If use Azure CLI cli with `--debug` argument for the last command, output shows "500 Server Error", so we assume that there are issues on Azure side with creation of encryption scope.

**Expected behavior**
Successfully created e

[2022-04-22 13:16] jepio opened #22158 "`az vm delete` does not delete IP/NSG together with nic when using `--nic-delete-option delete`"
**Describe the bug**
When executing `az vm create` with the `--nic-delete-option delete` and `--os-disk-delete-option delete`, an `az vm delete` will remove NIC and OS-disk but not the public IP and NSG associated with the NIC.

**To Reproduce**
[code]

**Expected behavior**
Expected resources associated with NIC to be deleted along with it.

**Environment summary**
apt-get, from packages.microsof

[2022-04-22 13:26] rellis-of-rhindleton commented on #22133
@RakeshMohanMSFT -- To be clear, the behavior I described is not inconsistent; it is very consistent. 503 errors are erratic but that isn't the problem. The problem is that when a 503 occurs, the Azure CLI ignores it. That's a code problem in the CLI.

[2022-04-22 14:08] yonzhan commented on #22157
keyvault

[2022-04-22 14:09] knoxi commented on #11315
+1 for this feature, it would be really helpful

any news on this?

[2022-04-22 14:10] yonzhan commented on #22158
Compute

[2022-04-22 15:16] arunvc opened #22159 "afd endpoint create with origin-response-timeout-seconds fails"
## Describe the bug

**Command Name**
`az afd endpoint create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior.
- `az afd endpoint create -g group --endpoint-name endname --profile-name profile --origin-response-timeout-seconds 60 --enabled-state Enabled`
- `az afd endpoint create -g {} --endpoint-name {} --profile-name {} --origin-response-timeout-seconds {} --enabled-state

[2022-04-22 18:28] lbergeron01 commented on #22084
@navba-MSFT which path did you add to your ``PATH`` environment variable? We are facing the same issue, and ``C:\Windows\System32\OpenSSH`` is in our ``PATH``, and we are still receiving the error message.

[2022-04-22 18:45] SaurabhSharma-MSFT commented on #22159
@arunvc We are looking into it and get back to you for any additional information.

[2022-04-22 20:06] lbergeron01 commented on #22144
The new code of extension v1.1.0 is not able to translate ``C:\Windows\System32\OpenSsh`` to ``c:\windows\sysnative\openssh``.

You can either :
- specify flag ``--ssh-client-folder`` with ``c:\windows\sysnative\openssh``
- set ``c:\windows\sysnative\openssh`` to the ``PATH`` environment variable.

This is what fixed it for us.

[2022-04-22 20:07] lbergeron01 commented on #22084
The new code of extension v1.1.0 is not able to translate `C:\Windows\System32\OpenSsh` to `c:\windows\sysnative\openssh`.

You can either :

- specify flag `--ssh-client-folder` with `c:\windows\sysnative\openssh`
- set `c:\windows\sysnative\openssh` to the `PATH` environment variable.

This is what fixed it for us.

[2022-04-22 20:08] lbergeron01 commented on #22084
@navba-MSFT this issue is related to the same problem : https://github.com/Azure/azure-cli/issues/22144

[2022-04-22 21:18] rayluo opened #22160 "Debian packaging attempt was unsuccessful"
**Describe the bug**
My attempt following the [Debian Packaging instruction](https://github.com/Azure/azure-cli/tree/dev/scripts/release/debian) was unsuccessful. I'm not sure whether this is a bug or just I did it wrong.

**To Reproduce**
1. git clone the azure cli repo, use its dev branch
2. cd into the root of that repo
3. run the following command
[code]

**Expected behavior**
Well, a docker-b

[2022-04-22 21:20] VikasMohandoss commented on #22134
Thanks Xing! That works for us.

Regards
Vikas

On Thu, Apr 21, 2022 at 6:08 PM Xing Zhou ***@***.***> wrote:

[2022-04-22 21:35] joshuafernandes opened #22161 "Azure CLI fails to install on jammy - no package found?"
**Describe the bug**
When attempting to install azure cli from the instructions here: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt#option-1-install-with-one-command
Running curl -sL https://aka.ms/InstallAzureCLIDeb | bash results in no package is found

[code]

**To Reproduce**
1. Clean install of Ubuntu 22.04 LTS (Jammy)
2. curl -sL https://aka.ms/InstallAzureCLI

[2022-04-22 21:55] SatishBoddu-MSFT commented on #21883
Hello @AbhishekTripathi Just checking back, could you please let us know if you need further help in this matter.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) t

[2022-04-22 21:55] #21883 closed

[2022-04-22 22:19] SatishBoddu-MSFT commented on #22075
Hello @omerblecher Just checking back, could you please let us know if you need further help in this matter.
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the ho

[2022-04-22 22:19] #22075 closed

[2022-04-22 22:28] SatishBoddu-MSFT commented on #22111
Hello @jonmikeli Thanks for the suggestion on this topic, i hope this will be addressed soon!.

Could you please submit a feature request with the scenario on the Official Ideas Portal?
[feedback.azure.com](https://feedback.azure.com/d365community/forum/fcb810f7-f824-ec11-b6e6-000d3a4f0da0)

![image](https://user-images.githubusercontent.com/62923178/164804612-1bc76eec-28dd-4a5f-a35c-e5d79d5a32c7.

[2022-04-22 22:29] mukeshinit commented on #22114
Any update on this issue ?

[2022-04-22 22:55] SatishBoddu-MSFT commented on #22127
Hello @akopitsa thanks for the query!

Could you please share more details on the Azure function App plan? region? version? So that we get a better understanding of the issue to reproduce it? Is this an intermittent issue? Is your host machine able to reach the Azure subscription during this CLI command execution?

`az functionapp create --name $functionName --storage-account $storageAccountName -

[2022-04-22 23:48] yonzhan commented on #22159
route to CXP team

[2022-04-22 23:52] yonzhan commented on #22160
@jiasli for awareness

[2022-04-23 00:12] yonzhan commented on #22161
@jiasli for awareness

[2022-04-23 00:34] #21087 closed

[2022-04-23 00:35] #21757 closed

[2022-04-23 00:36] #21432 closed

[2022-04-23 01:25] GabrielJean commented on #22161
I'm facing the same issue, azure-cli package not found.

[2022-04-23 07:28] akopitsa commented on #22127
Hello Satish,

We used `az functionapp create ...` command to deploy our code once we deploy the Azure Function infrastructure with ARM template but without that parameter **--functions-version 2**
region East US
the sku we used
[code]
It seems it's an intermittent issue and always reproducible after several attempts azure function (infrastructure part) deployment when we deploy the function code

[2022-04-23 08:00] #21896 closed

[2022-04-23 08:00] #20819 closed

[2022-04-23 08:00] #20072 closed

[2022-04-23 12:07] jeanbaptisteng commented on #22144
I have tried to specify flag --ssh-client-folder with c:\windows\sysnative\openssh. It won't help the problem, and the following error message prompted

unrecognized arguments: --ssh-client-folder c:\windows\sysnative\openssh

[2022-04-23 12:14] jeanbaptisteng commented on #22144
I can confirm the ssh extension can work fine on Linux so far. (No error is observed on Linux client)

[2022-04-23 15:23] navba-MSFT commented on #22084
@lbergeron01 Thanks for sharing an update and the workaround you followed. We have involved the Product Owners in the background and they are working on permanent fix. We will share an ETA on the fix release as soon as we have more details.

[2022-04-23 15:24] navba-MSFT commented on #22144
@jeanbaptisteng @lbergeron01 @kasperbilde Thanks for sharing an update and the workaround you followed. We have involved the Product Owners in the background and they are working on permanent fix. We will share an ETA on the fix release as soon as we have more details.

[2022-04-23 16:42] mxndtaylor opened #22163 "This information should be referenced in the Get Started with Azure Command-Line Interface page"
Link to page that is missing a troubleshooting step for a common problem:
https://docs.microsoft.com/en-us/cli/azure/get-started-with-azure-cli#how-to-sign-into-the-azure-cli

@jiasli , yes, I am on a MSFT device, but still can set my time manually. Even when I had that authentication problem, the time seemed off by less than a second at most, and the timezone was set correctly. On the same machin

[2022-04-23 19:53] MarkusDressel opened #22164 "azure-cli v2 - SweepJob fails when input is a registered dataset"
**Describe the bug**
When running a SweepJob (or any other job like commandJob) where inputs should be a registered dataset within the same workspace, the job gets submitted by CLI but at the UI, i get the following error.

[code]
Furthermore, the dataset is not recognized as an input when looking at the summary in the UI, I assume the schema valid for CLI does not match with the one used in the w

[2022-04-23 23:18] yonzhan commented on #22163
@jiasli for awareness

[2022-04-23 23:19] yonzhan commented on #22164
route to CXP team

[2022-04-24 01:49] evelyn-ys commented on #21967
You can install cli extension `storage-blob-preview` by
[code]
and then try
[code]

[2022-04-24 01:52] evelyn-ys commented on #21970
Hi @yangchengs, this seems powershell cmdlets. Maybe you can create a new issue in https://github.com/Azure/azure-powershell repo and close this one?

[2022-04-24 01:57] evelyn-ys commented on #22157
Need storage server side to investigate

[2022-04-24 02:01] jiasli commented on #22161
See https://github.com/Azure/azure-cli/issues/21532. We will release for Ubuntu Jammy on 04/26/2022.

[2022-04-24 02:01] #22161 closed

[2022-04-24 02:04] evelyn-ys commented on #21946
Hi @dvasdekis, Archive tier is not for storage account, actually it's for blob. Here's some doc FYI:
- [Archive access tier](https://docs.microsoft.com/en-us/azure/storage/blobs/access-tiers-overview#archive-access-tier)
- [Archive a blob](https://docs.microsoft.com/en-us/azure/storage/blobs/archive-blob?tabs=azure-cli)

[2022-04-24 02:04] jiasli commented on #22160
`scripts/release/debian/Dockerfile` hasn't been maintained for a long time, a long time (since 2019-01-10, https://github.com/Azure/azure-cli/pull/8000). Currently we use `scripts/release/debian/build.sh` to build the DEB package.

[2022-04-24 02:53] #21970 closed

[2022-04-24 02:54] #21946 closed

[2022-04-24 03:04] t-bzhan commented on #22159
Hi @SaurabhSharma-MSFT  and @arunvc , the origin-response-timeout-seconds option is moved to profile level after GA: https://docs.microsoft.com/en-us/cli/azure/afd/profile?view=azure-cli-latest#az-afd-profile-create-optional-parameters
![image](https://user-images.githubusercontent.com/61817681/164954421-c13d8bf8-290d-4d32-947e-07c59ab20c2d.png)

[2022-04-24 03:04] #22159 closed

[2022-04-24 04:07] zhoxing-ms commented on #21997
@hari-bodicherla Could you provide the specific commands and parameter names that we need to support for this feature?

[2022-04-24 05:05] joshuafernandes commented on #22161
Excellent, thanks for the update @jiasli

[2022-04-24 06:32] jiasli commented on #22161
No problem!

By the way, the **unsigned** deb package is at https://azurecliprod.blob.core.windows.net/archive/20220421.27/ubuntu-jammy/azure-cli_2.36.0-1~jammy_all.deb

Before we sign it and publish it to https://packages.microsoft.com/, you may install the unsigned deb if you want.

[2022-04-24 08:24] zhoxing-ms commented on #21790
In fact, this a problem is caused by the fact that `()` cannot be parsed by PowerShell/CMD normally.
Even if we tried to use escape character `\` in CMD, escape character `` ` `` and stop parsing character `--%` in PowerShell, we can't make a get normal parsing for `()`

Unfortunately, we haven't found much information about `()` at present. We only see that in the guideline of windows commands, i

[2022-04-24 11:03] italukder commented on #20848
Wellcome to all of you. I want to face to face work with support and help. My hole family want  support and help and in particular, i want the support of the administration families  in Saudi Arabia and
support of the prime minister of Bangladesh Sheikh Hasina.
my neme is Md Abdul Alim Talukder
Father is deth name. Haji Motiar Rahaman
Talukder
village : Garamashi (boshundhara)
P.O: Chandhanganti.

[2022-04-24 14:46] MayXuQQ opened #22166 "az image copy exception"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az snapshot create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az snapshot create --resource-group {} --name {} --location {} --sour

[2022-04-24 15:33] italukder commented on #20848
Subject : global international matrix corridor trust bord
introduction martrix corridor in multimedia player
example.
home corridor menu.
#  Tv corridor Screen
Example. Tv networking corridor
1. Global tv networking screen
2. continent tv network screen
3. countries tv networking screen
# Flim and movi corridor screen
1. Adventure movie
2. historical movie
3. caltural movie
4. action movie
5. love

[2022-04-24 17:06] root0day commented on #22094
![image](https://user-images.githubusercontent.com/26130494/164987896-58ff7237-23fd-4cae-874d-cd238754291f.png)

Only "protocol" will have problems

[2022-04-24 23:20] likamrat opened #22168 "az arcdata dc update failing"
**Describe the bug**
When running various ```az arcdata dc update``` commands, cli is erroring out

[code]

**To Reproduce**
1. Deploy Azure Arc Data Controller
2. Deploy Log Analytics workspace
3. Follow [Upload logs to Azure Log Analytics Workspace in direct mode](https://docs.microsoft.com/en-us/azure/azure-arc/data/upload-logs?tabs=windows#upload-logs-to-azure-log-analytics-workspace-in-direct

[2022-04-24 23:34] yonzhan commented on #22166
Compute

[2022-04-24 23:38] yonzhan commented on #22168
route to CXP team

[2022-04-25 03:07] necusjz commented on #22094
@root0day, actually, these two error messages are caused by the same problem-all * should be escaped. It's a kind of fail-fast logic behind that.

[2022-04-25 03:18] navba-MSFT commented on #22053
@yuvaraj-azurevm I have initiated an email thread with Product Owners and looped you in that email thread. We can continue the conversation there and check the feasibility of having such feature.

[2022-04-25 03:22] navba-MSFT commented on #22084
@lbergeron01 sharing the PR details for the fix https://github.com/Azure/azure-cli-extensions/pull/4728. This is under review phase now.

[2022-04-25 03:23] navba-MSFT commented on #22144
@jeanbaptisteng @lbergeron01 @kasperbilde sharing the PR details for the fix https://github.com/Azure/azure-cli-extensions/pull/4728. This is under review phase now.

[2022-04-25 03:37] navba-MSFT commented on #21605
@zapadoody I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you had a chance to test again with the most recent version of AzCLI. Awaiting your reply.

[2022-04-25 03:40] cxznmhdcxz commented on #22166
Hi @MayXuQQ , could you provide more information to reproduce, including what type of source(blob, disk, snapshot) to create a snapshot?

[2022-04-25 03:45] MayXuQQ commented on #22166
I do **image copy** (different region) without target name, then  retry with target name ,  got the exception. after delete the snapshot in the target region, it is succeed.

[2022-04-25 03:45] navba-MSFT commented on #22080
@roy-work We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-04-25 03:45] #22080 closed

[2022-04-25 04:18] navba-MSFT commented on #22140
@EdAbati Thanks for getting back. I am glad that the issue is resolved now. Since the error is when building cryptography, This [doc](https://cryptography.io/en/latest/installation/#building-cryptography-on-macos) talks about the dependencies like rust and openssl which are required. I will update and provide more info regarding the azure-cli-ml using newer version of cryptography once I have the

[2022-04-25 05:03] jiasli commented on #18595
ARM PM replied with:

[2022-04-25 05:03] #18595 closed

[2022-04-25 05:11] navba-MSFT commented on #22157
@jango-free Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. Could you please refer **[**this**](https://docs.microsoft.com/en-us/azure/storage/common/customer-managed-keys-configure-key-vault?tabs=powershell#configure-a-key-vault)** article and then run the PS commands mentioned there in order and check if you still see the same issue ?

If you encounter the

[2022-04-25 05:18] RakeshMohanMSFT commented on #22164
@MarkusDressel Thank you for reaching out, we are looking into it.

[2022-04-25 06:24] acefei commented on #12946
I ran `az rest` in `mcrmcr.microsoft.com/azure-cli` in container.

[2022-04-25 06:25] #21819 closed

[2022-04-25 06:35] HansZimmer5000 opened #22173 "Unsupported resource type: 'Microsoft.PolicyInsights/policyStates/queryResults'"
Good day!
On the way to look for noncompliant resources I executed 'az policy state list --all' which ended up in an error see below.
I get the same error when I execute 'az rest' with the uri described here [Azure Doc](https://docs.microsoft.com/en-us/azure/governance/policy/how-to/get-compliance-data#query-for-resources) (of course with adjusted values, e.g. subscription id)

## Describe the bug

[2022-04-25 06:50] RakeshMohanMSFT commented on #22133
@rellis-of-rhindleton Let me look into it.

[2022-04-25 07:01] acefei commented on #12946
Unfortunately, I did that, but I can't find AAD related in the problem type with `Technical` issue type.

BTW, I don't think it was a typical permission issue. As we know, there are two type applications with the same Client ID
once the SPN created, Enterprise applications (service principals) and App registrations (application).
so they are using different [Microsoft Graph API](https://docs.micro

[2022-04-25 07:20] acefei commented on #12946
I think my original thread was clear.
1. I've obtain admin consent on `Application.ReadWrite.OwnedBy` (see the screenshot)
2. Do you mentioned the escape characters? yes I did, but the problem persists.
Literally, from the `Application.ReadWrite.OwnedBy` permission, the operator should be the owner of the application, so I tried to add appId into its owner list by `az rest -m POST -u https://graph

[2022-04-25 07:29] jiasli opened #22174 "Migrate modules to Microsoft Graph"
## Modules to migrate

| modules           | `az ad` | `az role` | `azure-graphrbac` SDK | Owner                                           | Progress                                                   |
| ----------------- | :-----: | :-------: | :-------------------: | ----------------------------------------------- | ---------------------------------------------------------- |
| acs

[2022-04-25 07:36] AnijaJacob commented on #21957
#2204200030000708  created for same

[2022-04-25 08:02] Saglodha commented on #21104
@VectorBCO . thanks for sharing the feedback, We would plan to add some part of description to cli help.

[2022-04-25 08:13] Saglodha commented on #18145
Hi @samsmithnz , This option is available to be set via REST API/ ARM template. We would triage internally and get it supported with CLI. I would keep you posted for future updates.

https://docs.microsoft.com/en-us/azure/templates/microsoft.servicebus/namespaces/topics/subscriptions?tabs=bicep
https://docs.microsoft.com/en-us/rest/api/servicebus/stable/subscriptions/create-or-update?msclkid=5d214

[2022-04-25 08:38] tokleine commented on #21571
Is there any update on this @panchagnula ? It would be great to be able to rely on logs again...

[2022-04-25 08:40] RakeshMohanMSFT commented on #21957
Thank you @AnijaJacob. I will go ahead and close this Issue, the rest of the troubleshooting will happen through the support ticket. If you need any further assistance please go ahead and open this issue.

[2022-04-25 08:40] #21957 closed

[2022-04-25 08:48] #22153 closed

[2022-04-25 08:50] yonzhan commented on #22174
Microsoft Graph migration

[2022-04-25 09:29] jsntcy commented on #21792
@LinglingTong, we'll have a new CLI code generator ready around the middle of this month, and we'd like to invite you as our first customer to try our new code generator to generate CLI code automatically.

[2022-04-25 09:31] yonzhan commented on #22173
route to CXP team

[2022-04-25 09:54] jango-free commented on #22157
Sure. Here commands I run

[code]

Error after execution of the last command
`New-AzStorageEncryptionScope: Operation returned an invalid status code 'BadRequest'`

Gist to debug output of the same command
https://gist.github.com/jango-free/d455a4a3aedab926d66eb1f02f0e5239

Just to verify I also granted all keys permissions to Managed identity in Keyvault access policy. Same result

[2022-04-25 11:06] RakeshMohanMSFT commented on #22168
@likamrat Thank you for reaching out, we are looking into it.

[2022-04-25 12:20] fkucuk opened #22177 ""az k8s-configuration flux create" ssl verify false option"
I have an AKS cluster and I am using Azure Devops Server 2019 (OnPrem).

I am using a GoDaddy certificate on Azure Devops Server.

I am running the following command:

[code]

The result:

[code]

I think Flux on AKS can not verify the SSL certificate. Is there an option to skip ssl verification?

By the way, when I check my private azure devops URL: " Verify return code: 21 (unable to verify the

[2022-04-25 12:22] v-anvashist commented on #21924
Hi @RakeshMohanMSFT  We are not owing the AKS.

[2022-04-25 12:35] yonzhan commented on #22177
route to CXP team

[2022-04-25 13:29] arndt-s commented on #22112
@PARADISSEEKR it has been released: https://pypi.org/project/azure-mgmt-msi/6.0.0b2/
The PR for the python SDK is https://github.com/Azure/sdk-release-request/issues/2570

[2022-04-25 14:20] CTroessaert commented on #20498
any update on this ?

[2022-04-25 15:46] catalinpopa247 commented on #20683
Hi - is there any progress on this?
with all due respect, opening a ticket to support here I think it is irrelevant. I think this should be directly looked at by relevant PG people and not being passed around support teams because they have no clue on how this can be properly managed.

[2022-04-25 16:04] joergjo commented on #21937
That is fine - the old APIs are still around and have not been obsoleted yet.

[2022-04-25 16:18] sjqnn commented on #22164
I'm running into this as well with a commandjob, if anyone wants additional information let me know.

[2022-04-25 16:41] #22111 closed

[2022-04-25 16:46] panchagnula commented on #21571
@tokleine like I mentioned this is not a CLI issue but rather API returning this repsonse - we reported this to the API team, & once their fix is released the CLI will reflect the same.

[2022-04-25 16:46] #21571 closed

[2022-04-25 16:56] jeanbaptisteng commented on #22144
@navba-MSFT @vthiebaut10 It is to confirm **ssh extension v1.1.1** do not have this issue.

Thank you for solving the problem.

[2022-04-25 17:06] hari-bodicherla commented on #21997
As mentioned in the PR description, we need to add a property like "UltraSSDEnabled" or "EnableUltraSSD" in the below cmdlet

{ [ az vm host group create ] ([https://docs.microsoft.com/en-us/cli/azure/vm/host/group?view=azure-cli-latest#az-vm-host-group-create)}](https://docs.microsoft.com/en-us/cli/azure/vm/host/group?view=azure-cli-latest#az-vm-host-group-create)%7D)

[2022-04-25 17:48] vamckMS commented on #21997
@zhoxing-ms, do you know if this change will make it to the May CLI release? I believe that is the latest release you have, am I right?

[2022-04-25 17:57] damiandiaz76 commented on #11389
I tried out the command to add a correlation filter using the --to option and it worked.  Thanks for the update.

[2022-04-25 18:27] SaurabhSharma-MSFT commented on #22078
@fgheysels We will now proceed to close this thread as I haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-04-25 18:27] #22078 closed

[2022-04-25 18:29] SaurabhSharma-MSFT commented on #21882
@LotteVoorhorst We will now proceed to close this thread as we haven't heard back. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-04-25 18:29] #21882 closed

[2022-04-25 18:36] rayluo commented on #22160
Thanks for the hint. But that `scripts/release/debian/build.sh` contains this line:

https://github.com/Azure/azure-cli/blob/azure-cli-2.35.0/scripts/release/debian/build.sh#L7

    # This script is expected to be run in a container environment

What container shall I use to run that script?

Basically, if you can share with the steps to build a debian package, I can try to do this part for you to

[2022-04-25 19:55] v-smeadows commented on #21670
Apologies. This case fell between the cracks. Trying to get it back on track.

What exactly does the CX need to input so that they can provide the information you need?

[2022-04-25 20:03] Katana-Steel opened #22181 "can't access Datalake account from azure-cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az dls account`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az dls account --help`

## Expected Behavior

## Environment Summary
[cod

[2022-04-25 21:07] kimberlyyipc opened #22182 "Support deleteOption for Disks for VMSS with OrchestrationMode == Flexible"
**Resource Provider**
CRP

**Description of Feature or Work Requested**
User experience:

If VMSS orchestrationMode = Flexible allow users to specify disk delete-Option for OS Disks and Data Disks

Add the following new parameters to CLI command **az vmss create**:

az vmss create --name
               --resource-group
               [--accelerated-networking {false, true}]
               [--accep

[2022-04-25 21:15] SatishBoddu-MSFT commented on #22127
Hello @akopitsa Thanks for the detailed information on this intermittent issue!

The better option would be to go with a support ticket immediately after the issue occurred!! so that we have logs in the backend and can troubleshoot this issue very quickly. We will archive this issue, for now, please do let us know if you want to close this issue ?

Please open a new issue on Azure Powershell Githu

[2022-04-25 21:46] SatishBoddu-MSFT commented on #22131
Hello @nahk-ivanov Thanks for the feedback and feature request!

We are sending it to the service team's attention!

[2022-04-25 22:27] seh-msft commented on #20972
+1, ran into this today.

Has to be mishandling of the input value when passing on a password with a pipe `|` character.

Ex.

[code]

Yielding the error:

[code]

Not through the shell, but through an exec call to az directly, which tells me that this is a mishandling inside the az cli not properly quoting values, then passing them on into a shell execution later.

You can trivially turn this int

[2022-04-25 23:04] SatishBoddu-MSFT commented on #22173
Hello @HansZimmer5000 thanks for reaching out no this issue!

Did you try this command from Windows OS PC or from the Azure Portal's cloud shell? I see you are using Mac OS, so wanted to check if this command works from your side on Windows or the cloud shell/

![image](https://user-images.githubusercontent.com/62923178/165188268-acdbe277-44eb-4591-aff5-8d9da11c1db5.png)

Did you try the command w

[2022-04-25 23:12] yonzhan commented on #22181
route to CXP team

[2022-04-25 23:13] yonzhan commented on #22182
Compute

[2022-04-25 23:40] LinglingTong commented on #21792
Happy to help. Could I know what would you need from my side? I would also like to learn more about how the code generator   work if you could point me to any documentation you have.

[2022-04-26 00:44] jennyhunter-msft commented on #22154
Also CC @alex-frankel

[2022-04-26 02:20] navba-MSFT commented on #22144
@jeanbaptisteng Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-04-26 02:20] #22144 closed

[2022-04-26 02:25] navba-MSFT commented on #22140
@EdAbati Could you please confirm if you are using a Mac with an M1 chip ? Awaiting your reply.

[2022-04-26 03:16] siddharth234 commented on #22084
@vthiebaut10 / @navba-MSFT Thanks for the quick response. For me the issue was related to python version. With some basic digging around I was able to pin-point the cause. The `text` parameter in `subprocess.run` was introduced in python `3.7` and is absent in python `3.6` which is the default version for `centos7` distributions. IMO, A better `debug` or `error` message which points to the exact p

[2022-04-26 03:26] siddharth234 commented on #22084
@vthiebaut10 The issue has been resolved for me after updating the plugin to the latest version. Thanks. Closing the issue.

[2022-04-26 03:26] #22084 closed

[2022-04-26 03:29] wonner commented on #20683
Hi @catalinpopa247, could you please provide the detail error message and the workspace name? But I do recommend you create a support ticket, support team will help to find the right person to fix it. Because it seems like a backend issue but not a client issue if this issue occurs in all clients.
cc: @yanjungao718 for further help.

[2022-04-26 03:52] #21937 closed

[2022-04-26 03:54] jiasli opened #22186 "CI should force PRs to target `dev` or `release`"
Some PRs didn't target `dev`, but `main`:

- #22031
- #22062
- #22138

These changes on `main` branch won't get released (we release from `dev` branch). This will also break release CI pipeline's **Merge to main** task.

CI should force PRs to target `dev` or `release` and prevent targeting `main`.

However, there are some special cases. For example, I want to merge `graph-app` to `graph` for inte

[2022-04-26 03:56] zhoxing-ms commented on #21937
At present, the `az account alias` command group has GA, and the api-version used is `2021-10-01`, does this meet your expectations?

[2022-04-26 03:59] zhoxing-ms commented on #21997
Yes, we plan to release it in this sprint (**05-24**)

[2022-04-26 04:58] yonzhan commented on #22186
CI

[2022-04-26 05:09] navba-MSFT commented on #22186
@jiasli @yonzhan Since this is opened by the SDK team as a Feature Request, removing the CXP Attention label from the issue.

[2022-04-26 05:18] evelyn-ys commented on #20980
Hi @glanchow, we have supported `--data` in main CLI now, you don't have to install extension any more. Here's an example using stdin input with pipe:
[code]

[2022-04-26 05:23] evelyn-ys commented on #21670
The customer probably had his dependency environment broken. So the easy way is to ask customer to reinstall AzureCLI. If he wants to verify where his dependency breaks, then please run
[code]
And find `azure-keyvault` package version from the output. It should be `1.1.0`

[2022-04-26 05:30] MarkusDressel commented on #22164
My current assumption is, that azure ml cli v2 introduced new types of datasets (uri-folder and uri file) which can currently only created with the new cli v2 and thus, sweepJob or commandJob are incompatible with 'legacy' datasets uploaded via the UI or python sdk.

[2022-04-26 06:35] cxznmhdcxz commented on #22166
Hi @grizzlytheodore , when there is a snapshot called `mysnapshot` created from a blob, if try to create a new snapshot from different blob source, but with the same name `mysnapshot`, this error will return:
`Code: BadRequest  Message: Changing property 'sourceUri' is not allowed for existing disk 'mysnapshot'`
Is this error expected?

[2022-04-26 06:45] PARADISSEEKR commented on #21834
Hi, @fitzgeraldsteele , When I test `az vmss create -n mseriescli -g specialtysku --orchestration-mode flexible --platform-fault-domain-count 2 -l eastus2euap --image UbuntuLTS --vm-sku Standard_M8ms --single-placement-group true` ,
service returned the error `Operation could not be completed as it results in exceeding approved standardMSFamily Cores quota. Additional details - Deployment Model: R

[2022-04-26 07:24] Bougheyy commented on #22151
Changing the Virtual Machine Scale Set from Flexible Orchestration to Uniform Orchestration and running the same command appears to be a work around for the issue.  The 'az vmss diagnostics set' command appears to fail whenever it is run on a Flexible VMSS.

[2022-04-26 07:30] navba-MSFT commented on #22157
@jango-free Thanks for getting back. I am able to reproduce this issue. I am working with the Product Owners for the fix to be released. In the meantime, If you would like a quick workaround, you can use the [System Managed Identity](https://docs.microsoft.com/en-us/azure/storage/common/customer-managed-keys-configure-key-vault?tabs=portal#use-a-system-assigned-managed-identity-to-authorize-access

[2022-04-26 07:38] Isszul commented on #19892
ok, that's fine if it doesn't work. But.... what is the workaround? and why not update references to your documentation that still includes it?

https://docs.microsoft.com/en-us/cli/azure/ad/sp?view=azure-cli-latest#az-ad-sp-create-for-rbac
https://azure.github.io/application-gateway-kubernetes-ingress/setup/install-new/

[2022-04-26 07:46] jango-free commented on #22157
Unfortunately System Managed Identity doesn't work for us. We have large amount of storage accounts, which should have encryption scopes secured by personal Key Vault key. System Managed Identity creates Azure AD app per storage account after creating encryption scope, while with UserAssigned we have Managed Identity created in advance and could easily programmatically control this.

[2022-04-26 07:49] navba-MSFT commented on #22157
@jango-free Thanks for getting back. I will keep you posted about the fix for the User Managed Identity then. I don't have any ETA as of now on when the fix will be released for your Storage tenant. I will update this github thread once I hear from the Product Group team. Sorry for the inconvenience.

[2022-04-26 08:00] #21919 closed

[2022-04-26 08:00] #19906 closed

[2022-04-26 08:00] #19776 closed

[2022-04-26 08:00] #19426 closed

[2022-04-26 08:00] #19486 closed

[2022-04-26 08:17] navba-MSFT commented on #22181
@Katana-Steel Thanks for reaching out to us and sharing this feedback. Looking at the below:

[code]
This is not the official Azure CLI published by Microsoft. Please see https://github.com/Azure/azure-cli/issues/19640.

Refer this: https://wiki.debian.org/DebianUnstable

Could you please follow https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt to install Azure CLI on s

[2022-04-26 09:11] Riezebos commented on #22140
The problem in https://github.com/Azure/azure-cli/issues/16858 should only be a problem when the package needs to be built from source. If a wheel is available for your system type the installation should work without having rust. This is why it starts working on mac-arm64 starting with 3.4.6 as I mentioned [above](https://github.com/Azure/azure-cli/issues/22140#issuecomment-1106136537). Looking a

[2022-04-26 09:14] jiasli commented on #22160
It should be run in Ubuntu or Debian container like

https://github.com/Azure/azure-cli/blob/1ecfb36bfa3bb578c0c8ced2bd112191ebb843fe/scripts/release/debian/pipeline.sh#L13-L21

[2022-04-26 09:21] srikiz opened #22189 "az storage container exists fails when trying to check for a container from a storage account that doesn't exist"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container exists`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage container exists -n {} --account-name {} --only-s

[2022-04-26 09:32] yonzhan commented on #22189
storage

[2022-04-26 09:36] jsntcy commented on #19904
Same as #19446, #18476

[2022-04-26 09:37] EdAbati commented on #22140
Hi @navba-MSFT , Yes I confirm that I have a Mac with M1.
And I fully agree with @Riezebos .
Thank you both for the help!

[2022-04-26 09:43] #21376 closed

[2022-04-26 09:44] evelyn-ys commented on #22189
Seems like we failed to establish a http connection. Can you confirm if storage account `stuse2ciok8sdtf2` really exists?

[2022-04-26 09:57] cxznmhdcxz commented on #22166
@MayXuQQ  Could you delete a resource group called `image-copy-rg`, then add `--cleanup` in `az image copy` and try again?
[code]

If still fail, please share your debug log by adding `--debug` in the command. Thanks.

[2022-04-26 10:04] catalinpopa247 commented on #20683
I actually managed to find the issue, which is a bit mind-boggling.
Seems like PowerShell Az Modules are inconsistent. Some of them appear to be case-sensitive, while others not (although the whole idea of PowerShell being case-sensitive is a bit unusual).

In short, the problem that I had was the following: suppose the synapse workspace name is "abcdefgh". Well, if you run the command with a para

[2022-04-26 10:09] rickyding1010 opened #22190 "The outputs to "az network list-service-tags" don't have regional-specific IP prefixes"
The outputs to Azure CLI "az network list-service-tags" don't have regional-specific IP prefixes.
Let me use AzureMachineLearning as an example.
The outputs contain all IP prefixes for AzureMachineLearning, but don't have regional-specific IP prefixes, such as AzureMachineLearning.AustraliaEast or AzureMachineLearning.WestUS.
If this is the current limitation, can you please mention this in the de

[2022-04-26 10:13] MayXuQQ commented on #22166
after delete the snapshot of target-region, it is ok

[2022-04-26 10:25] yonzhan commented on #22190
network

[2022-04-26 10:43] necusjz commented on #22190
@rickyding1010, sorry, I haven't caught your point. Actually, *--location* parameter isn't used as a filter -> it will always return all service tags:
![image](https://user-images.githubusercontent.com/12371639/165282915-c6c9d88d-d51d-47f1-b7da-986c51dbc320.png)

[2022-04-26 10:53] rickyding1010 commented on #22190
Hi,

Unlike the json file downloaded from https://www.microsoft.com/en-us/download/details.aspx?id=56519, the outputs to the command simply list all IP prefixes for the services and it's not sorted by regions.

Azure CLI outputs

***@***.***

Downloaded json file

***@***.***

Appreciate it much!

My working hours are 9:00-18:00 Mon-Fri UTC+8. If you need any urgent support during my non-working h

[2022-04-26 13:35] PoojeshShetty commented on #15533
Can we get an update on this as there is no solution for stating subnet for apim creation.

[2022-04-26 13:44] alex-frankel commented on #22154
Duplicate of https://github.com/Azure/arm-template-whatif/issues/162

cc @rthorn17 / @shenglol / @majastrz.

We have discussed this issue in the past. MG PUT returns a 403 for a non-existent MG instead of a 404. We believe this API should return a 404 in this case to match other RP behavior, but I remember there were extra challenges to making this change that Rich can clarify. The only other opti

[2022-04-26 13:49] thomastrinamix opened #22191 "az-cli > 2.34.1: az sql db export leads to ImportExportJobError"
Since the upgrade 2.35.0 our command
`az sql db export -s $(DatabaseServer) -n $(DatabaseName) -g $(ResourceGroup) -p $(sql-server-admin-password) -u $(sql-administrator-login) --storage-key $sasToken --storage-key-type SharedAccessKey --storage-uri $destination`
does rais the error:

`ERROR: (ImportExportJobError) The ImportExport operation with Request Id 'b92dc2c8-e42f-414a-ac2a-1176891f8385' f

[2022-04-26 13:57] mikesprague opened #22192 "ModuleNotFoundError: No module named 'azure.identity' in latest CLI (v2.36.0)"
**Describe the bug**

After upgrading to the latest version of the CLI (v2.36.0) I have started receiving the following error:

[code]

**To Reproduce**

[code]

**Expected behavior**

I expected it to find the import and continue processing. The above code works in `v2.35.0` and below.

**Environment summary**

GH Workflow using GH Action `azure/cli@v1` (CLI version v2.36.0). Additional details:

[2022-04-26 14:13] yonzhan commented on #22191
route to CXP team

[2022-04-26 14:21] jiasli commented on #22192
`azure.identity` was an internal dependency of `azure-cli`, so there is no guarantee it will always be available.

`azure-identity` conflicts with `azure-cli-core` 2.36.0 due to the conflicting dependency on `msal-extensions`. So the dependency on `azure-identity` was removed by https://github.com/Azure/azure-cli/pull/22124.

You may send your feedback to `azure-identity` at https://github.com/Azu

[2022-04-26 14:38] #22086 closed

[2022-04-26 15:07] piyushsh commented on #21940
@zhoxing-ms It worked, so closing this issue.

[2022-04-26 15:07] #21940 closed

[2022-04-26 15:27] mikesprague commented on #22192
@jiasli Thanks for the info. I attempted adding `pip install azure-identity` to the GH Workflow but then it errors with the following:

[code]

Is there a way to work with the latest release of the Azure CLI (v2.36.0) and the `azure-identity` package and/or is this just a waiting game for them to support the same `msal-extensions` version?

[2022-04-26 15:53] RakeshMohanMSFT commented on #22168
@likamrat `az arcdata dc update --auto-upload-logs true `--k8s-namespace issue22168` --name issue22168 --resource-group Issue22168 **--use-k8s**` Can you please try adding --k8s-namespace param and also --use-k8s param please, these are mandatory param for the update command.

--k8s-namespace -k
[Required] The Kubernetes namespace in which the data controller exists.

[2022-04-26 15:55] #22192 closed

[2022-04-26 16:24] mikesprague commented on #22192
@jiasli Unless I missed it, there's no mention of this in the release notes: https://github.com/MicrosoftDocs/azure-docs-cli/blob/main/docs-ref-conceptual/release-notes-azure-cli.md#april-26-2022

Again, I would reiterate, it really feels like this change and the upcoming change to the Azure SDK for Python should have been communicated and coordinated better.

[2022-04-26 16:29] swells commented on #22168
This is a regression in `arcdata` ext not core azure-cli.  The issues has been resolved and a new build will go out this week.

[2022-04-26 16:56] SatishBoddu-MSFT commented on #22191
Hello @thomastrinamix
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-04-26 18:00] chris-moceri opened #22194 "Error while attempting to retrieve the latest Bicep version:"
**Describe the bug**
This is a reopening of https://github.com/Azure/azure-cli/issues/19420 the az bicep install command is once again throwing an SSL: CERTIFICATE_VERIFY_FAILED error

"Error while attempting to retrieve the latest Bicep version: HTTPSConnectionPool(host='aka.ms', port=443): Max retries exceeded with url: /BicepLatestRelease (Caused by SSLError(SSLCertVerificationError(1, '[SSL: C

[2022-04-26 20:57] fitzgeraldsteele commented on #21834
You don't have quota for that SKU. You need to request quota for M series. Or N series - both will work

[2022-04-26 21:15] SaurabhSharma-MSFT commented on #22129
@TeisTheDevOps I am not able to reproduce this and the cmd works fine with CLI 2.35.
![image](https://user-images.githubusercontent.com/38112130/165393596-5a5bfbc7-8ed4-4672-8332-7d088187dfa5.png)
Also, I am getting correct certificate name `az webapp config ssl list`
![image](https://user-images.githubusercontent.com/38112130/165393345-7bfd9f14-be5a-4ca7-a7c9-f0a994a20d69.png)

[2022-04-26 21:18] SaurabhSharma-MSFT commented on #22054
@zhusulai Just wanted to check if you still see any issues with the cli cmdlet.

[2022-04-26 21:35] SaurabhSharma-MSFT commented on #21686
@chitrankv27 Please let me know if you have any questions else, we will proceed with the closure of this issue.

Thanks
Saurabh

[2022-04-26 23:02] yonzhan commented on #22194
route to CXP team

[2022-04-26 23:21] SatishBoddu-MSFT commented on #22177
Hello @fkucuk Thanks for reaching out on this issue!

We are routing this issue to the Service Team's attention!

[2022-04-27 01:59] jsntcy commented on #21792
We'll set up a quick meeting with you at the middle of May to guide you generate code step by step using the tool.
Here is [Introduction to AAZDev](https://github.com/kairu-ms/aaz-dev-tools/tree/dev/Docs) which is not complete yet. You can first take a look to have a basic understanding for the tool if you have time. If any questions or issues, please let us know.

[2022-04-27 02:00] vladimirkrasilev opened #22196 "/usr/bin/az extension add --upgrade --name ssh failed under wsl"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az extension add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az extension add --upgrade --name {}`

## Expected Behavior

## Environ

[2022-04-27 02:11] yonzhan commented on #22196
extension

[2022-04-27 03:32] yanjungao718 commented on #20683
hi @catalinpopa247
as investigated, this is an backend requirement that the name can be only made up of lowercase letters so that it is case-sensitive, and as suggestion above, please file a ticket to find the right person to fix it or look for a workaround.

[2022-04-27 03:58] navba-MSFT commented on #22157
@jango-free I have heard back from the Product Group team and This issue would require an in-depth troubleshooting. Could you please open up a support ticket and we would be happy to take this forward and work closely with you ? Awaiting your reply.

[2022-04-27 04:15] BinHan0 opened #22198 "az aks show OIDC url failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks show --resource-group <rg> --name <aks> --query "oidcIssuerProfile.issuerUrl" -otsv

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
-

[2022-04-27 04:34] AjKundnani opened #22199 "Confidential Compute CLI Change Request - VM / VMSS Create"
## Is your feature request related to a problem? Please describe

No, feature request to add new parameters and add values into existing parameters for following commands to support **Confidential VM - Planned GA by end of June CY22:**

- [az vm create](https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-create)
- [az vmss create](https://docs.microsoft.com/en-us/cli/azure/vm

[2022-04-27 04:38] navba-MSFT commented on #22053
@yuvaraj-azurevm We have reached out to the right PM owner for this feature over email and continuing our conversation there. So archiving this thread for now.

[2022-04-27 04:38] #22053 closed

[2022-04-27 04:56] jsntcy commented on #20498
Need add [readme link](https://github.com/Azure/azure-cli-extensions/blob/main/src/logic/README.md) in help (overwrite help for parameters with readme.md in https://github.com/Azure/azure-cli-extensions/blob/main/src/logic/azext_logic/generated/_params.py).

We'll release a fix at the end of May.

[2022-04-27 05:07] AjKundnani opened #22200 "Confidential Compute CLI Change Request - VM OS Disk / Disk Encryption Set Create"
## Is your feature request related to a problem? Please describe

No, feature request to add new parameter and add values into existing parameters for following commands to support **Confidential VM - Planned GA by end of June CY22:**

- [az disk create](https://docs.microsoft.com/en-us/cli/azure/disk?view=azure-cli-latest#az-disk-create)
- [az disk-encryption-set create](https://docs.microsoft.co

[2022-04-27 05:09] yonzhan commented on #22198
route to CXP team

[2022-04-27 05:10] yonzhan commented on #22199
Compute

[2022-04-27 05:12] yonzhan commented on #22200
Compute

[2022-04-27 05:35] TeisTheDevOps commented on #22129
We are running this:
![image](https://user-images.githubusercontent.com/85340147/165447922-030f4334-f56d-4589-b286-d59cbc0cd606.png)
And this is the error we are getting:
![image](https://user-images.githubusercontent.com/85340147/165448011-93c313ba-51f8-465a-a8c7-618557c8ce25.png)

[2022-04-27 06:21] thomastrinamix commented on #22191
we also raised a ticket #2204260050001917

[2022-04-27 06:32] tsujp opened #22202 "`az storage account list` TypeError: NoneType object is not iterable"
## Describe the bug

**Command Name**
`az storage account list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage account list`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2022-04-27 06:58] sunnykant opened #22204 "az image copy"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob copy start`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob copy start --source-uri {} --destination-blob

[2022-04-27 06:59] #22204 closed

[2022-04-27 07:00] jiasli commented on #22192
`azure-identity` is an internal dependency of Azure CLI, thus this change is not customer-facing.

Thanks @mikesprague for the feedback. We will certainly work more tightly with Azure SDK team to avoid such kind of issue from happening again in the future.

[2022-04-27 08:00] #21541 closed

[2022-04-27 08:00] #20020 closed

[2022-04-27 08:00] #19968 closed

[2022-04-27 11:02] williamhbell opened #22208 "RBAC assignment on AD group failing"
**Describe the bug**
When an AD group is created and a role is assigned quickly afterwards, the role assignment fails.  The command returns the message
[code]
However, setting the principalType  does not help.  For example:
[code]
results in:
WARNING: The underlying Active Directory Graph API will be replaced by Microsoft Graph API in a future version of Azure CLI. Please carefully review all brea

[2022-04-27 11:39] RakeshMohanMSFT commented on #22133
@rellis-of-rhindleton What is the version of CLI are you using? can you please try upgrading to the latest version [2.36.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and share the logs please

[2022-04-27 11:47] yonzhan commented on #22208
route to CXP team

[2022-04-27 11:51] williamhbell commented on #22208
Repeating the test with the latest version of the Azure CLI (2.36.0), the issue is still present.
[code]

[2022-04-27 12:27] rickyding1010 commented on #22190
@necusjz To avoid the confusion, can we make the outputs to Azure CLI the same as that download json file?

[2022-04-27 13:51] jsteenbekkers opened #22209 "az storage entity does not set Boolean type data properly"
## Describe the bug
The "storage entity insert" command does not correctly set the boolean type in v2.36.0 when the type is specified. This was working correctly in v2.35.

**Command Name**
```az storage entity insert ... --entity Active=true Active@odata.type="Edm.Boolean"```

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensi

[2022-04-27 14:28] AdeptusNil opened #22210 "Update Example"
When setting subscription through az acocunt the Name no longer exists. The example should reflect the guidance provided when an error is received using -name

_||
z : ERROR: the following arguments are required: --subscription/-s
At C:\ps\scripts\Delete-funappARrules.ps1:9 char:1
+ az account set --name $sub
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (ERROR: the foll

[2022-04-27 15:32] AdamRiddick opened #22211 "Azure CLI failing to finish/return from az vm start ... command"
**Describe the bug**
We have an Azure DevOps Release Pipeline with the Azure CLI task where we run the following command:

`az vm start --ids $(az vm list --resource-group myResourceGroup --query "[].id" -o tsv)`

Today we experienced an issue from 2pm-4pm BST whereby the command did not return any output, despite the VMs being started successfully. I cancelled the task twice after running for ove

[2022-04-27 15:47] jsteenbekkers commented on #22209
This is a breaking change for me because I am relying on the query values to be returned with the expected type.

Looks like this change in behavior was introduced with changes related to https://github.com/Azure/azure-cli/issues/22018

[2022-04-27 16:29] vandre opened #22212 "az monitor scheduled-query create condition"
Need more details about the format of the condition argument.  What is the purpose of the bolded text below on the condition :

--condition "count 'Placeholder_1' > 360 **resource id _ResourceID at least 1 violations out of 5 aggregated points**"

The example in the documentation is written as:

`az monitor scheduled-query create -g {rg} -n {name1} --scopes {vm_id} --condition "count 'Placeholder_

[2022-04-27 17:38] walking-appa commented on #22173
Facing a similar issue with the Python SDK
Code:
[code]
 
 
Traceback:
[code]
The issue occurs when the code tries to use `skipToken`

[2022-04-27 18:16] SaurabhSharma-MSFT commented on #22210
@AdeptusNil We are looking into it and get back to you for any additional information.

[2022-04-27 18:16] irenehua commented on #21426
@necusjz could you point me to the documentation that hosts the new commands for this ask? I didn't find anything here maybe I'm missing something: https://docs.microsoft.com/en-us/cli/azure/network/lb/address-pool?view=azure-cli-latest

[2022-04-27 22:16] yonzhan commented on #22209
storage

[2022-04-27 22:17] yonzhan commented on #22210
@jiasli for awareness

[2022-04-27 22:19] yonzhan commented on #22211
Compute

[2022-04-27 22:23] yonzhan commented on #22212
monitor

[2022-04-28 00:55] georgewfisher opened #22214 "az upgrade error: 'NoneType' object has no attribute 'name'/ModuleNotFoundError: No module named 'jmespath'"
**Describe the bug**
When running az upgrade to upgrade CLI version 2.28.0 in the Azure devops environment using the AzureCLI@2 task I get the following error:
[code]

**To Reproduce**
In Azure devops:
[code]
**Expected behavior**
I expect the upgrade to complete without an error.

**Environment summary**
Azure devops linux pool

[2022-04-28 00:59] yonzhan commented on #22214
@jiasli for awareness

[2022-04-28 02:11] necusjz commented on #21426
FYI: https://docs.microsoft.com/en-us/cli/azure/network/lb?view=azure-cli-latest#az-network-lb-list-mapping

[2022-04-28 02:27] #22073 closed

[2022-04-28 02:46] PARADISSEEKR commented on #21834
I have submitted the request, how long will it take to succeed?
![image](https://user-images.githubusercontent.com/37168047/165666242-5be85c11-3f26-4ad8-a839-ccef7ca3901b.png)

[2022-04-28 03:13] fitzgeraldsteele commented on #21834
If manual approval, maybe a day or two. Did you try the automated request process?

Sent from my T-Mobile 5G Device
Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: songlu ***@***.***>
Sent: Wednesday, April 27, 2022 7:47:09 PM
To: Azure/azure-cli ***@***.***>
Cc: Jerry Steele ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] VMSS Flex: Enable

[2022-04-28 03:34] PARADISSEEKR commented on #22112
Hi @arndt-s CLI cannot use it due to inconsistency of api version and file name, please release the correct version.
![image](https://user-images.githubusercontent.com/37168047/165670786-d9eb64d6-f387-4e19-bb6b-77afa48ff3b2.png)
![image](https://user-images.githubusercontent.com/37168047/165670849-377ba65d-eaa3-46cc-9ef1-a49b4f6d47c6.png)

[2022-04-28 03:42] jiasli commented on #20972
@evelyn-ys is correct. This is caused by PowerShell bug https://github.com/PowerShell/PowerShell/issues/1995 where it doesn't quote the value correctly when calling a native executable. This is tracked by https://github.com/Azure/azure-cli/issues/15529.

The correct way to solve it is to quote the input twice:

[code]

[2022-04-28 03:46] navba-MSFT commented on #22140
@EdAbati The fix for this issue is checked in for the v2 CLI ([ml extension](https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-cli?tabs=public)), and it will go out in the **next release on 5/23**. We recommend our customers to use the ml extension. If you face any issues while migration, please raise an issue, we would be happy to help.

Thanks again @EdAbati and @Riezebos

[2022-04-28 03:46] #22140 closed

[2022-04-28 03:47] zhoxing-ms commented on #22112
I guess the inconsistency between the api-version and the folder name is caused by a mistake from this PR https://github.com/Azure/azure-rest-api-specs/pull/18123#discussion_r860452876

[2022-04-28 04:41] navba-MSFT commented on #21605
@zapadoody Please follow the above action plan and k tp us if it doesn't resolve the issue. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-04-28 04:41] #21605 closed

[2022-04-28 06:05] navba-MSFT commented on #22137
@TiejunMS Apologies for the late reply. Could you please check if you have any Proxy at your end ? If yes, try to follow to follow the steps mentioned [here](https://jiasli.github.io/azure-notes/cli/cli-proxy.html) and check if that helps.

Also to isolate the issue, could you try to run the same command completely from a different machine which is not in your corp network. Awaiting your reply.

[2022-04-28 06:13] navba-MSFT commented on #22157
@jango-free Thanks for getting back. Please paste the Support Ticket # here. So that I can give the context and share my findings with the Support professional to speed up the resolution.

[2022-04-28 06:21] Saglodha commented on #19641
Hi @DanielLarsenNZ, this has been shipped in our latest release. More info here: https://docs.microsoft.com/en-us/cli/azure/release-notes-azure-cli?view=azure-cli-latest#service-bus.

Please retry the operation and let us know in case you run into any issues. Thanks

[2022-04-28 06:23] HansZimmer5000 commented on #22173
Good morning from Amsterdam!

Thanks for the replies.

Get the same error via Cloud Shells PowerShell:
[code]

Just yet, and indeed this one works without error.

[2022-04-28 06:30] TiejunMS commented on #22137
I can reproduce this issue both from corp network and my home. You can try to open https://certify.azureiotsolutions.com/ and the browser will also give an error.

[2022-04-28 06:30] Saglodha commented on #11389
Thanks for confirming @damiandiaz76. With above confirmation, I would mark the issue as closed.

[2022-04-28 06:30] #11389 closed

[2022-04-28 07:29] #17677 closed

[2022-04-28 07:34] jango-free commented on #22157
Support request number 2204270050002231

[2022-04-28 07:58] navba-MSFT commented on #22137
@TiejunMS Thanks for getting back. I will check this further and get back to you once I have more details on this.

[2022-04-28 08:01] #16577 closed

[2022-04-28 08:01] #14581 closed

[2022-04-28 08:22] necusjz commented on #22190
@rickyding1010, these two query methods have different scopes.

And, take *ApiManagement.AustraliaCentral* as an example, there is no obvious difference between them (the core information is the same):
![image](https://user-images.githubusercontent.com/12371639/165709309-d93375df-c0a7-4362-8231-72f0d1058ffe.png)

Currently, we have no plan to change the output.

[2022-04-28 08:35] navba-MSFT commented on #22194
@chris-moceri Thanks for reaching out to us and sharing this feedback. There was a similar issue reported https://github.com/Azure/azure-cli/issues/20842 and then a PR was filed to fix this https://github.com/Azure/azure-cli/pull/21807. If you are still facing the same issue, I will look into this further and I will get back to you with an update.

[2022-04-28 09:06] necusjz commented on #21665
@anat-gilenson, I saw there is a new swagger specs merged with 2022-04-01-preview.

Do you think we should adapt to the latest version, or keep adapting to 2022-01-01-preview?

[2022-04-28 09:24] danielriedmann commented on #22130
Version 2.36.0 of azure cli fixed the issue with the string but introduced a new problem. When using Edm.Boolean the value is added as string and not like an boolean value.

[2022-04-28 09:53] zhoxing-ms commented on #22173
This issue seems to be a service issue:

Request URL:
[code]

Response:
[code]

This issue needs the service team to investigate the root cause of this error message

[2022-04-28 13:09] jackphillipsjmu commented on #22164
Still not working with command jobs and CLI ML V2 versions `2.2.x` and above. Reverting the CLI and schema back to `2.1.2` lets the job go through but the Display Name in the Azure ML Studio for the experiment runs are blank. I can still access the run output in the UI via the Run ID column but hopefully a fix comes in soon for later versions.

[2022-04-28 13:40] yargolan opened #22216 "Cannot delete tags via az tag delete"
[Enter feedback here]
I am trying to remove all tags from a resource (disk for the matter) by running:
`az tag delete --yes --resource-id /subscriptions/...`

The command ends with no errors, but when verifying it by running:
`az tag list --resource-id /subscriptions/...`
I see that no tag actually removed.

{
  "id": "/subscriptions/...",
  "name": "default",
  "properties": {
    "tags": {

[2022-04-28 13:57] anat-gilenson commented on #21665
Yes, that would be better as it contains more features.
Thank you!

[2022-04-28 15:27] arndt-s commented on #22112
Fix is on the way: https://github.com/Azure/azure-rest-api-specs/pull/18850

[2022-04-28 15:59] evelyn-ys commented on #22130
@danielriedmann thanks for reaching out. It seems like Python SDK issue.

The azure-data-tables SDK doesn't handle Edm.Boolean properly, see [SDK code](https://github.com/Azure/azure-sdk-for-python/blob/feb23dc92c252d63c04048bd332944bfc1e7e72c/sdk/tables/azure-data-tables/azure/data/tables/_serialize.py#L82-L83):

[code]

Unlike other convertors([_to_entity_binary](https://github.com/Azure/azure-s

[2022-04-28 17:20] litan1106 commented on #19624
btw, this is still broken on pulumi native provider because the hacky workaround.

[2022-04-28 17:49] edwiles commented on #22153
I'm having the same issue, what was the resolution?

[2022-04-28 18:05] lebaro-msft opened #22219 "when to use --add vs --set should be clearer + examples in help text"
**Is your feature request related to a problem? Please describe.**

Our team was frustrated trying to understand when to use --add and when to use --set, and what the correct syntax was. The error messages were also not helpful when trying to parse what was wrong.
From Chase Wilson, we got this explanation: Ok, so add is to add a new property or object. meaning if it already exists, that's not wha

[2022-04-28 19:18] SaurabhSharma-MSFT commented on #22210
@AdeptusNil Can you please clarify your ask.  I could see the cmdlet works with ` --name` parameter and I do not see any errors using cmdlet like `az account set --name {Subsription Name}`.

[2022-04-28 19:22] ktumu0225 opened #22220 "az upgrade"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2022-04-28 19:22] mattalagala opened #22221 "'az image show' requires parameters to be passed in"
**Describe the bug**
The command 'az image show' requires --resource-group --name | --ids as required parameters. The Microsoft docs specify that these are "Optional" parameters.
https://docs.microsoft.com/en-us/cli/azure/image?view=azure-cli-latest#:~:text=Global%20Parameters-,az%20image%20show,-Gets%20an%20image

**To Reproduce**
Enter 'az image show' in Linux cli

**Expected behavior**
Displays

[2022-04-28 19:39] kangsun-ctrl opened #22222 "List Community Galleries from ARG"
**Resource Provider**

Azure.Compute

**Description of Feature or Work Requested**

In the email thread "Azure CLI tools reaching ARG", we mentioned that we want to support  List Community Galleries. The catch is that  we do not support list community galleries call from SIG backend, currently users are using it from ARG portal to list all community galleries. We hope that it can be done by using

[2022-04-28 19:45] kangsun-ctrl opened #22223 "Enable Direct Sharing/Community Gallery conversion"
**Resource Provider**

Azure.Compute

**Description of Feature or Work Requested**

Previously we disable user to update gallery from community/groups to private before they share to public/others, for GA, we plan to support both directions. We will support update gallery from private to community/groups and from community/groups to private.

This need to be released after service end is rolled ou

[2022-04-28 22:49] SatishBoddu-MSFT commented on #22127
Hello @akopitsa Just checking back! Please let us know if you need further help.

[2022-04-28 23:05] yonzhan commented on #22216
ARM

[2022-04-28 23:39] AdeptusNil commented on #22210
If you cannot see any issues, please disregard and close. Errors were encountered from my end that could not be resolved without using –subscription, which is what I will continue to use.

Thank You,

Carl Werner
Solution Architect
Sentara Healthcare
E: ***@***.******@***.***>
[5DD225B4]

From: SaurabhSharma-MSFT ***@***.***>
Sent: Thursday, April 28, 2022 3:19 PM
To: Azure/azure-cli ***@***.***>

[2022-04-29 00:00] SaurabhSharma-MSFT commented on #22210
@AdeptusNil Sure, thanks for the confirmation.  We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-04-29 00:01] #22210 closed

[2022-04-29 01:00] rfsonders opened #22224 "az sql mi-arc list failes after update to 2.36.0"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I just updated to 2.36.0
Now...
PS C:\Users\Rob> az sql mi-arc list -k arc-services-ns --use-k8s
Unable to load extension 'arcdata: No module named 'azure.identity''. Use --debug for more information.
'mi-arc' is misspelled or not recognized by the system.

no other updates available
**Command Name**
`az sql`

[2022-04-29 01:14] DanielSpindler83 commented on #15858
As far as I can see managed identity auth to the Azure SQL DB is not supported for az sql db export. -p and -u are required parameters.
If managed identity auth is working - please share an example command.
Thanks.
@jeromewaibel @pixeldyne

[2022-04-29 01:23] SaurabhSharma-MSFT commented on #22198
@BinHan0 I see that you are using an older version of `aks-preview`.  You need to have `aks-preview` extension version 0.5.50 or later to use this command. Please upgrade your extension using `az extension update --name aks-preview` and try executing the above command.
I have used the command with the latest version and it worked fine.
![image](https://user-images.githubusercontent.com/38112130/16

[2022-04-29 01:29] DanielSpindler83 commented on #20645
Any news? Can this be tracked somewhere?

[2022-04-29 01:30] lovettchris commented on #8305
I'm also hitting this and I think the only real solution is for you to fix your `az acr build` implementation so it packages up the arguments into a file that is then shipped to the server for execution so that any double quoting issues can be handled correctly on your side rather than allowing it to turn into an impossible to debug shell issue on the server side.  For example I have this powershe

[2022-04-29 01:44] #16555 closed

[2022-04-29 01:46] #16656 closed

[2022-04-29 01:46] #16746 closed

[2022-04-29 01:47] #16815 closed

[2022-04-29 01:47] #17381 closed

[2022-04-29 01:47] #17485 closed

[2022-04-29 01:48] #17564 closed

[2022-04-29 01:48] #17644 closed

[2022-04-29 01:48] #17860 closed

[2022-04-29 01:48] #17943 closed

[2022-04-29 01:48] #18019 closed

[2022-04-29 01:48] #18102 closed

[2022-04-29 01:48] #18295 closed

[2022-04-29 01:48] #18371 closed

[2022-04-29 01:48] #18474 closed

[2022-04-29 01:48] #18557 closed

[2022-04-29 01:49] #18659 closed

[2022-04-29 01:49] #18187 closed

[2022-04-29 02:43] yonzhan commented on #22219
route to CXP team

[2022-04-29 02:47] yonzhan commented on #22220
route to CXP team

[2022-04-29 02:48] yonzhan commented on #22221
Compute

[2022-04-29 02:49] RakeshMohanMSFT commented on #22219
@lebaro-msft @yonzhan This is created by internal Microsoft personal, i think we do not need CXP Attension label?

[2022-04-29 02:49] yonzhan commented on #22222
Compute

[2022-04-29 02:52] msyyc commented on #22112
Hi, we have fixed in https://github.com/Azure/azure-rest-api-specs/pull/18859 and we will release a new SDK version soon: https://github.com/Azure/sdk-release-request/issues/2750

[2022-04-29 02:52] RakeshMohanMSFT commented on #22220
@ktumu0225 Please upgrade your Azure-cli version - you're running 2.21.0, while current is [2.36.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli). Let me know if the bug continues under the new version. Thanks!

[2022-04-29 02:53] RakeshMohanMSFT commented on #22216
@yargolan Thank you for reaching out to us. We are looking into it.

[2022-04-29 02:55] yonzhan commented on #22224
route to CXP team

[2022-04-29 03:06] necusjz commented on #21665
@anat-gilenson, no problem : )

Another question is about the module status, I saw the current status is *Experimental*:
![image](https://user-images.githubusercontent.com/12371639/165879120-d4dd11b0-72a1-40e1-8e19-40ce41dfe92a.png)

For this time, will we keep it or choose some others? You can check this link: https://docs.microsoft.com/en-us/cli/azure/reference-types-and-status#what-is-reference

[2022-04-29 03:12] msyyc commented on #22112
Hi, it will be fixed in https://github.com/Azure/azure-rest-api-specs/pull/18860 and we will release a new version soon: https://github.com/Azure/sdk-release-request/issues/2750

[2022-04-29 03:23] justinmchase opened #22226 "Add docs on how to install `az acr manifest` commands from non-interactive prompt"
Can you please show which pip module is needed to get this installed? I have to run this on my CI and I can't figure out how to install the extension that enables this from a non-interactive terminal.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 910dd2c9-dac2-4464-6e7e-60115fc5e15f
* Version Independent ID: 629e20da-

[2022-04-29 03:36] yonzhan commented on #22226
route to CXP team

[2022-04-29 04:05] navba-MSFT commented on #22157
@jango-free I have given the background of this issue to the Support Professional who is working on that issue. Also we have reached out to the product Group team to look into this issue on priority. Our support engineer will work closely with you further on this and share the update.

[2022-04-29 04:09] navba-MSFT commented on #22194
@chris-moceri I wasn't able to reproduce this issue at my end. s mentioned in my previous comment the above PR was filed to fix such issues. if you encounter the same issue in future, feel free to reopen this thread. We would be happy to work with you again until resolution.

[2022-04-29 04:09] #22194 closed

[2022-04-29 04:12] RakeshMohanMSFT commented on #22226
@justinmchase Thank you for reaching out, we are looking into it.

[2022-04-29 04:17] rohitpanwar opened #22227 "az acr build image error while installing poetry for python"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr build -r {} -f {} {}`

## Expected Behavior

## Environment Summary

[2022-04-29 04:58] rohitpanwar commented on #22227
the error I am getting is from terraform

[2022-04-29 06:33] #21725 closed

[2022-04-29 06:34] alexeyshishkin01 opened #22228 "az acr build --help"
**Describe the bug**

https://docs.microsoft.com/en-us/cli/azure/acr?view=azure-cli-latest#az-acr-build

OR

az acr build --help
...
    --platform               : The platform where build/task is run, Eg, 'windows' and 'linux'. When
                               it's used in build commands, it also can be specified in
                               'os/arch/variant' format for the resulting imag

[2022-04-29 07:23] alexeyshishkin01 commented on #22228
you can also list possible architectures like in https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tasks-overview#image-platforms :

O S
Linux
A R C H IT E C T U R E
amd64
arm
arm64
386

O S
Windows
A R C H IT E C T U R E
amd64

[2022-04-29 08:00] alexeyshishkin01 opened #22229 "az acr build for ARM64 - issue №1"
**Describe the bug**

root@ubuntu20:~/docker# cat Dockerfile-debian-arm64

FROM arm64v8/debian:11-slim
USER root

root@ubuntu20:~/docker# az acr build --image debian-arm64:latest --registry $PGPROACR --no-push --file Dockerfile-debian-arm64 . --platform linux/arm64/v8
Packing source code into tar to upload...
Uploading archived source code from '/tmp/build_archive_0af3f3ed46384cf0b29d7553d5be34cc.

[2022-04-29 09:13] RakeshMohanMSFT commented on #19933
@rkentmc Apologies for delay in getting back, thanks for reporting. If you update to the latest CLI version (with az upgrade), do you still get the error?

[2022-04-29 09:14] RakeshMohanMSFT commented on #19507
@dmpvost Apologies for delay in getting back, thanks for reporting. If you update to the latest CLI version (with az upgrade), do you still get the error?

[2022-04-29 09:17] navba-MSFT commented on #22224
@rfsonders Thanks for reaching out to us and sharing this feedback. I was able to reproduce this issue with AzCLI 2.36.0. However it worked fine on the 2.35.0. Below are my findings, while debugging this issue:

    from azext_arcdata.dc.commands import load_commands as dc_commands
  File "/root/.azure/cliextensions/arcdata/azext_arcdata/dc/commands.py", line 7, in <module>
    from azext_arcdata.

[2022-04-29 09:53] bweben opened #22230 "`az artifacts universal publish` Ubuntu 22.04 libssl error"
# Description
We upgraded our docker image to ubuntu 22.04 from 20.04. Now `az artifacts universal publish` fails due to a `No usable version of libssl was found` error. If we install the libssl version `1.1.*` we end up with another error.

On the Ubuntu 20.04 docker image, all worked great.

## Versions
- Docker image: ubuntu:22.04
- libssl: 3.0.* / 1.1.*
- Azure-Devops Extension: 0.25.0
- Azure

[2022-04-29 09:54] yrro opened #22231 "AttributeError: 'RoleAssignmentsOperations' object has no attribute 'config' with az ad sp create-for-rbac"
## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az ad sp create-for-rbac --role Contributor --name name-of-sp --scopes 425da26a-c7a2-11ec-b990-b3910ed1cd8c`

## Expected Behavior

No error

## Environment Summary
[code]

[2022-04-29 10:57] yrro commented on #21349
I have a patch for this at https://github.com/Azure/azure-cli/issues/22231#issuecomment-1113136152

[2022-04-29 12:50] rsun-thoughtworks opened #22232 "az aks update --api-server-authorized-ip-ranges failed due to permission error"
**Version**
az version is the latest, because we use "azure/login@v1" action to setup our az command.

**Describe the bug**

When we run the command to update "api-server-authorized-ip-ranges", error popup:

[code]
After checking the debug info, I noticed that because az update Kubernetes setting by a PUT request, and that request post body include many other fields other than "authorizedIPRanges"

[2022-04-29 12:58] Totorman commented on #15439
Still not working in April 2022 ...

[2022-04-29 13:37] Totorman opened #22233 "can not create private endpoint for automation account"
When trying to create a private endpoint for an Automation Account i get an error message.

Steps :

export LOCAL="WestEurope"
export RGCOMMON="COMMON-RG"
export RGDEPLOY="DEPLOY-RG"
export ENVIR="PROD"
export ENVIRLOW=$(echo $ENVIR | tr '[:upper:]' '[:lower:]')
export DEFTAGS="ENV=$ENVIR"
export VNETDEPLOY="DEPLOY-VNET"

az automation account create --automation-account-name automation-account-$E

[2022-04-29 13:56] a-nldisr commented on #15380
`az network vnet list |jq ".[].subnets[].addressPrefix"`

[2022-04-29 14:25] yonzhan commented on #22228
route to CXP team

[2022-04-29 14:31] yonzhan commented on #22229
route to CXP team

[2022-04-29 14:35] yonzhan commented on #22231
@jiasli for awareness

[2022-04-29 14:38] yonzhan commented on #22232
route to CXP team

[2022-04-29 14:38] yonzhan commented on #15439
@necusjz for awareness

[2022-04-29 14:39] yonzhan commented on #21160
Add @necusjz for awareness

[2022-04-29 14:40] yonzhan commented on #15380
@necusjz  for awareness

[2022-04-29 15:08] erose96 opened #22234 "Filter for Az storage entity query has no explanation for what it expects in the doc"
Doc says:
[code]
But gives no explanation of what filter syntax it's looking for.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9a4d128f-a98f-d07b-0183-90ca79cc5fdc
* Version Independent ID: 83084fff-ea1b-a9e7-b7a9-40023de43542
* Content: [az storage entity](https://docs.microsoft.com/en-us/cli/azure/storage/entity?vi

[2022-04-29 15:11] yonzhan commented on #22234
storage

[2022-04-29 16:43] erose96 commented on #22234
Looked at the REST documentation and I think the information from "Supported Query Options" to "Query String Encoding" in "Querying tables and entities" is relevant: https://docs.microsoft.com/en-us/rest/api/storageservices/querying-tables-and-entities

[2022-04-29 17:03] robinmholt commented on #17123
Is there any progress on this.  Today, I created a virtual machine using 'az cli'.  I immediately tried to do an 'az resource list...' and do not see the -Disk-OS, but I do see an additional disk created with the same deployment.  The disk does show up using 'az disk list'

For my purposes, I have found that I need to do both an 'az resource list' and an 'az disk list' to get the full set of resou

[2022-04-29 17:12] Man-MSFT commented on #22164
Adding onto Sam's suggestion above, if you want to use the  backwards compatibility suggestion, please use the new `ml` extension version 2.3.1. https://docs.microsoft.com/en-us/azure/machine-learning/how-to-configure-cli?tabs=public#installation
[code]

[2022-04-29 17:25] lostmygithubaccount commented on #16880
@aronchick this has been fixed in `2.3.1`, you should no longer see this issue if you install the latest CLI extension version. Let us know if otherwise.

[2022-04-29 17:59] dem4gus opened #22235 "Storage commands failling on Fedora 35"
## Describe the bug
Any `az storage` commands fail on Fedora 35

**Command Name**
`az storage account list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Start a new container using the Fedora image: `docker run -it index.docker.io/library/fedora:35`
- Install Azure CLI using [instr

[2022-04-29 19:07] dem4gus commented on #22235
This error is a blocker to my workflow so I started to roll back through the versions of `azure-cli` in the rpm repository to try to get it working. The command also failed in 2.35.0 but succeeded in 2.34.1. When I installed 2.34.1 `dnf` (using the 1.el7 repository instead of 1.el8, since only 2.35 and 2.36 are available in 1.el8) also resolved python3.6 as a dependency, which means it got install

[2022-04-29 23:51] yonzhan commented on #22235
Storage

[2022-04-29 23:55] ClassicalHang opened #22236 "Bug Report for "--if-exists" flag in "az storage entity insert""
**Describe the bug**

The flag "--if-exist false" doesn’t work in the latest cli version  2.36.0
**To Reproduce**

**Expected behavior**

Run following cli twice and the second call will update the entity instead of failing, which is unexpected. This flag works normally in version 2.32.0.

cli: az storage entity insert --connection-string "yourconnectionstring" --entity PartitionKey=AAA1 RowKey=BB

[2022-04-30 00:10] yonzhan commented on #22236
storage

[2022-04-30 08:00] #20297 closed

[2022-04-30 09:50] Tbohunek commented on #12946
@acefei your screenshot does not show whether the consent was actually **granted**, just that permission is configured. Add a wider screenshot.
Instead of modifying an existing App, try creating new App. Does that not work either?

[2022-04-30 18:26] AchilleAsh commented on #19101
Hi,

Using azure cli with ssh extension v1.0.0 or higher, this seems to be implemented:

[code]

This is also briefly documented in the help, with example:

[code]

Thus I believe this issue could safely be closed now :)

[2022-04-30 19:06] peter-he-by opened #22238 "The az group and az login is error out after timeout"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2022-04-30 23:36] #19101 closed

[2022-04-30 23:37] yonzhan commented on #22238
@jiasli for awareness

[2022-05-01 02:13] mdrakiburrahman commented on #22224
I just hit this with azure cli `2.36.0-1~focal` as well.

@navba-MSFT I think the issue is with Azure CLI, not `arcdata` (which implements `mi-arc`). I tried installing an older version of the `arcdata` extension and still hit the issue with latest azure cli.

However, the previous version of azure cli works fine with the latest arcdata.

@rfsonders Workaround - you might try to use the versions i

[2022-05-01 03:29] italukder commented on #20848
Subject : global international kholifa Award trust bord organization

# best police system in the award
This award maintained best management, discipline and administration.

price category
1. Nubmber one Policy , kholifa government   political  peace issue   , Sultan kingdom  government political  peace issues   , king / kingdom government political  peace issue  democracy & political peace issue

[2022-05-01 14:03] NeyamatUllah opened #22239 "az command throws an error after this"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az config`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az config {}`

## Expected Behavior

## Environment Summary
[code]
## Addition

[2022-05-01 16:34] himachida opened #22240 "AttributeError: 'BlockBlobService' object has no attribute 'get_blob_client'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When use "az storage blob delete-batch" with an account key, the following error occures.

**Command Name**
`az storage blob delete-batch`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any p

[2022-05-01 21:42] italukder commented on #20848
I will end this life. my all property nominated Saudi Arabia government families/kholifa families

thank you

[2022-05-02 00:23] yonzhan commented on #22239
@jiasli for awareness

[2022-05-02 00:23] yonzhan commented on #22240
storage

[2022-05-02 02:22] a30004053 commented on #22190
Hello

Perhaps a better example in this scenario would be AzureMachineLearning, the azure-cli response does not contain the region specific CIDRs only the "global" ones

On the LEFT is the JSON from the MSFT public download [page](https://www.microsoft.com/en-us/download/details.aspx?id=56519) and on the RIGHT is the output from the `az` CLI command
![image](https://user-images.githubusercontent.c

[2022-05-02 03:21] navba-MSFT commented on #22157
@jango-free Since this issue is now troubleshooted over support ticket, I am proceeding with the archival of this github thread. Please follow-up with the support professional for the next set of action plan. If you don't get any traction on the support ticket, Please feel free to let me know. I will get the support ticket prioritized.

[2022-05-02 03:21] #22157 closed

[2022-05-02 04:03] navba-MSFT commented on #22137
@TiejunMS I am discussing this with the Product Owners. I am currently waiting for their response.

[2022-05-02 04:18] navba-MSFT commented on #22181
@Katana-Steel I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-05-02 04:33] navba-MSFT commented on #22174
@jiasli @yonzhan Removing the CXP attention label since the SDK repo team is working actively on this.

[2022-05-02 04:37] navba-MSFT commented on #22128
Adding the Service team for the devops/pipelines issue.

[2022-05-02 04:38] navba-MSFT commented on #22128
@v-anvashist, @V-hmusukula Please look into this issue once you get a chance.

[2022-05-02 07:52] RakeshMohanMSFT commented on #21577
@askpatrickw Thank you for reaching out, we are looking into it.

[2022-05-02 08:31] taiyokato commented on #22240
Tested this at 2.30, 2.35, and 2.36.
Worked fine prior to 2.36.
2.36 works too, only if passed a regex to `--pattern` (non-regex file name breaks)

Perhaps the the `blob_service` in this commit is supposed to be `BaseBlobService` instead of `BlobServiceClient` class?
https://github.com/Azure/azure-cli/pull/22072/commits/39ba7483282f2e33b98473997ac2d872ab9d7cd1

https://github.com/evelyn-ys/azure-c

[2022-05-02 08:49] navba-MSFT commented on #21582
Adding the Service Team for the Devops issue.

@v-anvashist, @V-hmusukula Could you please look into this issue and provide an update ?

[2022-05-02 10:24] navba-MSFT commented on #21436
@snowsky Apologies for the late reply. I tried to run the same command and it worked just fine for me.

[
  {
    "extendedLocation": null,
    "hyperVGeneration": "V1",
    "id": "/subscriptions/XXXXXXXXXXXXX/resourceGroups/XXXXXXXXXXXXX/providers/Microsoft.Compute/XXXXXXXXXXXX",
    "location": "westus2",
    "name": "shbhost",
    "provisioningState": "Succeeded",
    "resourceGroup": "XXXXXXXX

[2022-05-02 10:29] sagar512 opened #22242 "Message: Invalid resource group location 'eastus'. The Resource group already exists in location 'westus'."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group create --name {} --location {}`

## Expected Behavior

## Envir

[2022-05-02 11:18] j0rd1smit commented on #16880
Yes, it works for me. Thank you ❤️

[2022-05-02 11:18] j0rd1smit commented on #16880
Yes, it works for me. Thank you ❤️

[2022-05-02 11:23] navba-MSFT commented on #21769
@devatas Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. Could you please test this using the [most recent version of Azure CLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt)? If you still see the same issue, please share the complete` --debug `trace with us. Awaiting your reply.

[2022-05-02 11:45] navba-MSFT commented on #21998
@seajhawk  We have got a confirmation from the Product owners that the fix will be released tentatively by end of this month. In the meantime, if you have any questions, please feel free to ask. I would be happy to answer it.

[2022-05-02 13:09] v-soujanya commented on #22131
@nahk-ivanov , Thank you for the suggestion!
but we are owning only CLI Service and as mentioned it is not supported by the CLI so we need to forward this issue to API team, we are trying to figure out the correct API team then we can redirect this issue.

[2022-05-02 15:52] rellis-of-rhindleton commented on #22133
I re-ran deployments this morning until I could get a situation where it returned a 503 error, and ... it worked! That is, it produced an error message, instead of just pinging away:

[code]

This is the behavior I would expect. (Aside from the "WARNING" messages, which is strange and not helpful, but that is a different problem and has nothing to do with this issue.)

This is the first time I've

[2022-05-02 16:13] thisisdevanshu commented on #21903
@jsntcy
The swagger is merged to the public swagger repo now.
The release phase of the service is GA,

[2022-05-02 17:31] c-ryan-k commented on #22137
Just a note - we have a PR in progress to fix this from the `azure-iot` extension:
https://github.com/Azure/azure-iot-cli-extension/pull/514

It looks like the old endpoint at `certify.azureiotsolutions.com` is no longer active or service requests.

In the meantime (until this release goes out and is live on the extension index) - a workaround would be to append:
`--base-url https://prod.certsvc.t

[2022-05-02 17:49] SaurabhSharma-MSFT commented on #21785
@d-baumann The description actually mentions about the same.  Adding v1 or v2 to link would be taken care of in any future documentation updates. We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-05-02 17:49] #21785 closed

[2022-05-02 17:50] SaurabhSharma-MSFT commented on #21686
@chitrankv27 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-05-02 17:50] #21686 closed

[2022-05-02 18:01] RakeshMohanMSFT commented on #22133
@rellis-of-rhindleton the earlier version you were using did not handle certain status codes properly, but the later versions did, that is why its failing now.

[2022-05-02 18:01] SaurabhSharma-MSFT commented on #22198
@BinHan0 Please let me know if you have any questions else we will proceed with the issue closure. Thanks

[2022-05-02 18:34] italukder commented on #20848
Subject : global international categories of families units.

# Categories of families board
1. Milky way families board
2. milestone families board
3. galaxy families board

[2022-05-02 18:40] italukder commented on #20848
Subject : global international  key distribution trust  board

# families key controlling board position

# families key application board position

[2022-05-02 18:43] italukder commented on #20848
Subject : global international families business trust board

Prosesing......

[2022-05-02 18:44] melezhik commented on #13352
I have this error on `2.34.1` az cli version

[code]

[2022-05-02 18:46] italukder commented on #20848
Subject : global international  families justice trust poard

[2022-05-02 19:03] paratz opened #22243 "Linux Hybrid Runbook Worker using Managed Identity with Python3 & azure.cli.core"
**Describe the bug**

Running python script in az automation hybrid worker that uses azure.cli.core library to authenticate with a managed identity:

Command Name
"az login --identity"

Error:

ERROR: Failed to connect to MSI. Please make sure MSI is configured correctly.

that's the output for the job in the automation account.

**To Reproduce**
- Configure a linux hybrid worker
- create a python

[2022-05-02 19:52] diberry opened #22244 "az login with -t (for tenant) failed: RuntimeError: WsTrust server returned error in RSTR: {'reason': 'ID3242: The security token could not be authenticated or authorized.', 'code': 'a:FailedAuthentication'}"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --username {} -t {}`

## Expected Behavior

## Environment Summary
[co

[2022-05-02 20:34] SatishBoddu-MSFT commented on #22127
Since we didn't receive any response, we will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-05-02 20:34] #22127 closed

[2022-05-02 20:38] nzthiago commented on #21072
@panchagnula @pragnagopa the issue isn't that App Insights is not available in the region; it is available, but App Insights in that region doesn't support the older Classic resource mode for Application Insights resources, and only supports the newer [Workspace-based Application Insights resources](https://docs.microsoft.com/en-us/azure/azure-monitor/app/create-workspace-resource).

So this issue

[2022-05-02 21:01] roy-work opened #22245 "The UX of az vm run-command invoke is abysmal"
### Describe the bug

The UX of `az vm run-command invoke` is abysmal:
1. The output is encoded in a pointless, bad DSL
2. <s>640 KiB</s> 4 KiB should be enough for anyone.
3. It is slower than 🐌

**Despite emitting JSON, the bits anyone cares about (the output of the command) is encoded is an ambiguous DSL**

Take an example run:
[code]
The bit we care about is the output; we can ask either `az`

[2022-05-02 21:07] jaknigh opened #22246 "az dls fs test unexpected error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az dls fs test`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az dls fs test --account {} --path {}`

## Expected Behavior

## Environm

[2022-05-02 21:31] dlipovetsky commented on #22029
I ran into this same issue in Fedora 35, having installed the `azure-cli` package, version 2.36.0.

@evelyn-ys Based on your suggestion, I installed the presumably equivalent Fedora packages `python3-azure-mgmt-storage` and `python-azure-multiapi-storage`, but the issue remained.

I resorted to using azure CLI in a docker container.

[2022-05-02 22:25] diberry opened #22247 "Cache is empty but the Azure CLI is still picking up values"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --name {} --location {} --debug`

## Expected Behavior

The co

[2022-05-02 23:07] SatishBoddu-MSFT commented on #22227
Hello @rohitpanwar is it the first time you are trying this command from terraform?

[2022-05-02 23:28] SatishBoddu-MSFT commented on #22230
Hello @bweben
We are routing this to Service Teams Attention for further action!

[2022-05-02 23:29] SatishBoddu-MSFT commented on #22232
Hello @rsun-thoughtworks
We are routing this to Service Teams Attention for further action!

[2022-05-02 23:30] alexeyshishkin01 opened #22248 "az acr build for ARM64 - issue №2"
**Describe the bug**

I have Docker file for x86-64 platform, it works fine I can build container image and run ACI.
I'd like to do the same for ARM64 platform, so I change only first line of the Docker file:
'FROM debian:10-slim AS build' -> 'FROM arm64v8/debian:10-slim AS build'
everything else is the same.

Then I run 'az acr task create' and 'az acr task run' commands to build the image for AR

[2022-05-02 23:50] yonzhan commented on #22243
@jiasli for awareness

[2022-05-02 23:51] yonzhan commented on #22244
@jiasli for awareness

[2022-05-02 23:55] pragnagopa commented on #21072
Thanks for the clarification @nzthiago  - @pgombar  - if you can - please edit the title of the issue to reflect - CLI needs to be updated to use latest version of API to create App insights

[2022-05-03 00:05] jongio commented on #17886
This hosed us today as well in automation scenarios where we need to parse the sub output as JSON.  We would like to add a flag as suggested above.

IMO this should be considered a breaking change for anyone that uses az cli for automation, which is undoubtedly a lot of folks.

[2022-05-03 00:05] alexeyshishkin01 commented on #17136
any news about the issue ?

the reason I ask for this feature is that some applications/databases need specific permission for the file system

for example PostgreSQL database requires its datafiles filesystem to be owned by user 'postgres' (i.e. chown postgres:postgres) and only accessible by user 'postgres' (i.e. chmod 0700)

currently I cannot run PostgreSQL database in ACI with Azure File Volu

[2022-05-03 00:24] yonzhan commented on #22245
Compute

[2022-05-03 00:25] yonzhan commented on #22246
route to CXP team

[2022-05-03 00:25] SaurabhSharma-MSFT commented on #22228
@alexeyshishkin01 I do not see any issues with using `linux\arm\v7` and it works fine.
![image](https://user-images.githubusercontent.com/38112130/166346250-c678c7f0-0b92-45a3-8b9e-f5c37e076ef7.png)
Are you getting any errors using the above by passing to -platform parameters.

Thanks
Saurabh

[2022-05-03 00:27] yonzhan commented on #22247
route to CXP team

[2022-05-03 00:29] yonzhan commented on #22248
route to CXP team

[2022-05-03 00:53] dhduvall commented on #16925
Why did this get closed? The PR hasn't been merged.

[2022-05-03 01:28] panchagnula commented on #21072
@nzthiago thanks for the update will create a bug for us to update CLI. In the future - could you please keep CLI team updated as well along with portal for such changes so we don't discover these by customer reports. Thank you :)

[2022-05-03 03:39] RDavis3000 opened #22249 "Error in --select documentation"
Document reads:

--select
Space-separated list of properties to return for each entity.

This is incorrect, list need to be comma separated.

Attempting to use space separated throws an error:

Term 'PartitionKey Row Active' is not valid in a $select or $expand expression.
RequestId:938109ca-b002-0014-5d9f-5e1748000000
Time:2022-05-03T03:37:20.7960453Z
ErrorCode:InvalidInput

az --version
azure-cl

[2022-05-03 04:27] RDavis3000 opened #22250 "az storage entity cant serialize UUID"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Throws an error trying to serialize a table entity with a guid field
**Command Name**
`az storage entity query`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._

[2022-05-03 07:16] yonzhan commented on #22249
storage

[2022-05-03 07:17] yonzhan commented on #22250
storage

[2022-05-03 07:45] RakeshMohanMSFT commented on #12488
@ghost This is still being worked upon and we do not have any ETA as of now. We will keep you updated of any progress made.

[2022-05-03 09:21] shaygover opened #22251 "`az login --use-device-code` fails: AADSTS70020: The provided value for the input parameter 'device_code' is not valid. This device code has expired."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login -t {} --use-device-code`

Tried many times. Worked fine last week so I

[2022-05-03 09:29] yonzhan commented on #22251
@jiasli for awareness

[2022-05-03 09:42] jiasli commented on #22244
Duplicate of #21050. Please see https://github.com/Azure/azure-cli/issues/21050#issuecomment-1017922460.

[2022-05-03 09:48] tschechniker opened #22252 "Unable to login via device code -> code_expired"
**Describe the bug**

Currently I'm unable to login via the device code. It doesn't matter if i use the az cli or the Powershell implementation i get the following error message:

$az login --use-device-code
Unexpected polling state code_expired

Or if i use Lense:
E0503 10:47:43.944162   95942 azure.go:154] Failed to acquire a token: failed acquiring new token: waiting for device code authenticat

[2022-05-03 09:52] jiasli commented on #17886
Hi @jongio, there are 2 methods to disable to prompt:

- Disable auto-upgrade as shown in https://github.com/Azure/azure-cli/issues/17886#issuecomment-862044518
- Disable the prompt with `az config set auto-upgrade.prompt=no`. See https://docs.microsoft.com/en-us/cli/azure/update-azure-cli

If these approaches don't work, please kindly share more info.

[2022-05-03 10:00] alexeyshishkin01 commented on #22228
1)
I need to build image based on Debian arm64v8 - https://hub.docker.com/r/arm64v8/debian/
2)
I ask to fix documentation so that includes all possible options to choose from: OS, ARM ARCHITECTURE, ARM VERSION
3)
I see some issues with ARM64 containers right now
https://github.com/Azure/azure-cli/issues/22229
https://github.com/Azure/azure-cli/issues/22248

[2022-05-03 10:10] tschechniker commented on #22251
i'm having the same issue: https://github.com/Azure/azure-cli/issues/22252 seems like i wrote while you created the issue 👍

This is critical for me and a current production showstopper.

[2022-05-03 10:14] jiasli commented on #22251
I followed https://docs.microsoft.com/en-us/azure/active-directory/develop/reference-aadsts-error-codes and visited https://login.microsoftonline.com/error to check `AADSTS70020`, but got no further info:

Error Code | 70020
-- | --
Message | The provided value for the input parameter 'device_code' is not valid. This device code has expired.
Remediation | Please make a new Device Authorization Req

[2022-05-03 10:15] jiasli commented on #22252
Let's focus on https://github.com/Azure/azure-cli/issues/22251.

[2022-05-03 10:15] #22252 closed

[2022-05-03 10:21] tschechniker commented on #22251
So how can we proceed here? I can reproduce it on all my subscriptions and tenants. Is there any region specific error? For myself i talk to westeurope. @shaygover whats your region?

[2022-05-03 10:48] jiasli commented on #22251
As https://github.com/Azure/azure-cli/issues/22252#issue-1223890576 suggested, this issue also happens for Azure PowerShell cmdlet `Connect-AzAccount -UseDeviceAuthentication`, so I doubt this is a service issue.

Could you directly get a device code and share the result?

[code]

See https://curl.se/docs/manual.html#post-http

[2022-05-03 10:49] Nilubkal opened #22253 "Silencing "Please let us know how we are doing.." from the stout of az commands"
Hello ,
i would like to silence/remove the info msg popping up each time when executing a `az cli` command

[code]
tried all available options with setting the config core output to print only errors , but nothing works.
Is there any specific workaround for this case ?

TIA

[2022-05-03 10:51] tschechniker commented on #22251
Response (user and device code has been deleted but seemd to had valid values):

{"user_code":"XXX","device_code":"XXX","verification_uri":"https://microsoft.com/devicelogin","expires_in":900,"interval":5,"message":"To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code XXX to authenticate."}

[2022-05-03 10:59] yonzhan commented on #22253
@jiasli for awareness

[2022-05-03 11:03] shaygover commented on #22251
@jiasli With curl I get:
`"user_code":"D3YUBE53L","device_code":"DAQABAAEAAAD--DLA3VO7QrddgJg7WevrL1HwUa0pNrxhFgF5z_2R2Ohb-v2x18QRuiUOX8cRGG2T_8MJKHWoK6P4PAhVMW_MSH81Wj7nxX1KVFuT0RN-am9rvuMfr6K-do_rI4SR72SXAOCXVSQfpCYEri6jNBx1xWJ0dEe2xPaVnPGVMLD68enHuGnxv7robPCf0P-Ch7UgAA","verification_uri":"https://microsoft.com/devicelogin","expires_in":900,"interval":5,"message":"To sign in, use a web browser

[2022-05-03 11:03] jiasli commented on #22251
I saw an incident has already been opened for this issue. I will check with AAD team and let you know if there is any update.

Meanwhile, could you also run the command with `-i` which will show more info about the server?

[code]

[2022-05-03 11:05] shaygover commented on #22251
@jiasli
`HTTP/1.1 200 OK
Cache-Control: no-store, no-cache
Pragma: no-cache
Content-Type: application/json; charset=utf-8
Expires: -1
Strict-Transport-Security: max-age=31536000; includeSubDomains
X-Content-Type-Options: nosniff
P3P: CP="DSP CUR OTPi IND OTRi ONL FIN"
x-ms-request-id: c7a5c72a-ecd5-40b2-b8c1-5914013e0600
x-ms-ests-server: 2.1.12651.9 - WEULR1 ProdSlices
X-XSS-Protection: 0
Set-Coo

[2022-05-03 11:07] tschechniker commented on #22251
HTTP/1.1 200 OK
Cache-Control: no-store, no-cache
Pragma: no-cache
Content-Type: application/json; charset=utf-8
Expires: -1
Strict-Transport-Security: max-age=31536000; includeSubDomains
X-Content-Type-Options: nosniff
P3P: CP="DSP CUR OTPi IND OTRi ONL FIN"
x-ms-request-id: a3237540-9a73-4bcc-95c4-13ccf0e74600
x-ms-ests-server: 2.1.12651.9 - WEULR2 ProdSlices
X-XSS-Protection: 0
Set-Cookie: fpc=

[2022-05-03 11:08] jiasli commented on #22251
Judging from

[code]

This should be happening for westeurope. I will keep you updated as soon as there is any updates.

[2022-05-03 11:31] yonzhan commented on #22251
This issue affected all client tools rather than Azure CLI and needs to be fixed by AAD service.

[2022-05-03 11:50] usrme commented on #22251
Is there a link to another issue where we can follow the status?

[2022-05-03 11:52] jiasli commented on #22251
We are working internally with ESTS team with highest priority. We will keep you updated in this GitHub issue.

[2022-05-03 12:15] fgheysels commented on #22078
I am unable to open a support ticket for this, as I no longer have access to the Azure subscription where we encountered this issue.  (I've worked around it as mentioned before).

However, I do not see what kind of information you additionally require ?  I think I've explained this and gave some details.  It comes down to the fact that creating an Azure Synapse role-assignment which uses the `--as

[2022-05-03 13:03] rolanddb commented on #15056
I was able to make this work by going to the app registration, then 'Expose an API', and adding the Azure CLI as a client application [ID: 04b07795-8ddb-461a-bbee-02f9e1bf7b46] and scope: api://<application id>

[2022-05-03 13:20] pragnagopa commented on #21072
Tagging @shimedh - in case she can loop in @panchagnula when Ux moves to newer ARM APIs as part of Functions Create Flow

[2022-05-03 14:15] justinmchase commented on #22226
Yes thank you that is exactly what I was wondering.

[2022-05-03 14:29] diberry opened #22256 "az webapp up - from inside Visual Studio Code dev container"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --location {} --name {} --sku {} --resource-group {} --verbose

[2022-05-03 15:16] RakeshMohanMSFT commented on #22226
You're Welcome @justinmchase.

[2022-05-03 15:16] #22226 closed

[2022-05-03 15:19] RakeshMohanMSFT commented on #21505
@briglx are you still facing this issue, i see that you have closed the other thread as resolved.

[2022-05-03 15:25] mbsnl commented on #22251
As of 14:09 UTC, it seems to be solved for me (Europe).
I reported an official MS Case against the AzureAD Service, they confirmed this being an AzureAD issue, but I do not know if they declared it solved or not.

[2022-05-03 16:07] alexeyshishkin01 commented on #22228
btw, I have repeated your test:

root@ubuntu20:~# git clone https://github.com/Azure-Samples/acr-build-helloworld-node.git
Cloning into 'acr-build-helloworld-node'...
remote: Enumerating objects: 489, done.
remote: Total 489 (delta 0), reused 0 (delta 0), pack-reused 489
Receiving objects: 100% (489/489), 86.06 KiB | 1001.00 KiB/s, done.
Resolving deltas: 100% (193/193), done.

root@ubuntu20:~# cd

[2022-05-03 16:26] mjfara commented on #21961
Any updates on this? Having the same problem.

[2022-05-03 16:58] DanoThom opened #22257 "`az iot dps linked-hub create` hub and DPS on different subscriptions broken!?"
When running `az iot dps linked-hub create` from the az CLI it would appear that we are unable to specify linking to a hub in a different subscription from the DPS.

When running under the context being set to the subscription where the DPS exists, and despite passing a valid IoTHub connectionstring param to the command, it still responds with _"No IoT Hub found with name 'iot-hub-foo' in current

[2022-05-03 17:06] SaurabhSharma-MSFT commented on #22257
@DanoThom We are looking into it and get back to you for any additional information.

[2022-05-03 17:07] SaurabhSharma-MSFT commented on #22256
@diberry We are looking into it and get back to you for any additional information.

[2022-05-03 17:08] jiasli commented on #22251
This issue has been mitigated by AAD service team. Please retry `az login --use-device-code` and let us know if you can get unblocked.

[2022-05-03 19:32] remimarek opened #22260 "Missing command for updating CDN endpoint rule"
Azure Portal UI can update an engine rule but Azure CLI can't.
It would be extremely helpful to be able to update an Azure CDN endpoint rule directly in one command using Azure CLI to avoid downtime.

Right now, we have to deal with temporary rules creation/deletion to avoid downtime when we just want to update an existing rule.

Problem: We are using a rule engine to redirect user to specific jav

[2022-05-03 19:43] justinmchase commented on #5286
This is happening on the delete also.

[2022-05-03 19:54] justinmchase opened #22261 "`az storage blob delete-batch --if-modified-since` produces lots of `The condition specified using HTTP conditional header(s) is not met.` errors."
**Describe the bug**

Many errors are unexpectedly produced when calling `az storage blob delete-batch` with the `--if-unmodified-since` flag.

**To Reproduce**
1. Create a storage account
2. Upload some files to the `$web` container
3. Run the following command:

[code]

**Expected behavior**
All files older 1 day ago are deleted, all files younger than 1 day ago remain. No errors are produced.

[2022-05-03 20:34] kyclai commented on #21536
Hi @jsntcy / @wangzelin007 / @yonzhan, I noticed that this work item is still open and its milestone has changed. Has the release been postponed to May 24, 2022?

[2022-05-03 22:10] tspearconquest commented on #21779
The azure cli should not introduce this change as GA in my humble opinon.

While it is dangerous to overwrite files silently, it is worse to break existing code without a major version release.

As a proposal which wouldn't break existing code and also would alleviate both sides of this issue, why not provide 2 flags
1. `--overwrite`
2. `--no-overwrite`

Default to having `--overwrite` enabled whe

[2022-05-03 22:10] tspearconquest commented on #21779
A true/false option for `--overwrite` would work just as well as a separate `--no-overwrite` option would, by the way. Either one is fine.

[2022-05-03 23:11] yonzhan commented on #22256
route to CXP team

[2022-05-03 23:13] SaurabhSharma-MSFT commented on #22228
@alexeyshishkin01 ok, yes, I notice this in my environment as well and redirecting this to specific team to look into it.

[2022-05-03 23:22] SaurabhSharma-MSFT commented on #22229
@alexeyshishkin01 I could see similar warning messages and redirecting this to services team to look into it.

[2022-05-03 23:24] SaurabhSharma-MSFT commented on #22198
@BinHan0 We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-05-03 23:24] #22198 closed

[2022-05-03 23:27] yonzhan commented on #22257
route to CXP team

[2022-05-03 23:30] yonzhan commented on #22260
route to CXP team

[2022-05-03 23:31] yonzhan commented on #22261
storage

[2022-05-04 01:02] dvasdekis commented on #21967
This works great, thank you, sorry I didn't see it!

[2022-05-04 01:02] #21967 closed

[2022-05-04 01:04] kingces95 opened #22263 "AZURE_CONFIG_DIR ignored on Ubuntu running on WSL2."
**Describe the bug**
Expect `az account show` to fail with `Please run 'az login' to setup account.` if `AZURE_CONFIG_DIR` points to an empty directory. Actually, on Ubuntu running on WSL2, the command succeeds and reports the same information regardless of `AZURE_CONFIG_DIR`.

**To Reproduce**
Spin up WSL2. Install Ubuntu with `wsl --install -d Ubuntu`.
Install az cli with `curl -sL https://aka.m

[2022-05-04 02:28] navba-MSFT commented on #21443
@millanie I am checking with the product owners on the plans in roadmap for the support for VMSSH with managed identity. I will update this thread once I have that information. In the meantime, if you have any questions, please feel free to ask.

[2022-05-04 02:32] navba-MSFT commented on #21697
@abhisek88 Apologies for the delay in getting back. in this sprint we didn't have time to get this issue fixed. This fix is planned for the May month release. We will keep you posted if there is any change in the release date. We appreciate your patience on this.

[2022-05-04 02:38] navba-MSFT commented on #22137
Thanks @c-ryan-k .

@TiejunMS I hope you had a chance to look at the above comment. Please let us know if you have any follow-up questions on this. Awaiting reply.

[2022-05-04 02:39] navba-MSFT commented on #22181
@Katana-Steel We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-04 02:39] #22181 closed

[2022-05-04 03:01] kingces95 commented on #22263
Don't forget `-x`!

declare -x AZURE_CONFIG_DIR=/tmp/my-dir

[2022-05-04 03:01] #22263 closed

[2022-05-04 03:29] usrme commented on #22251
No longer having issues! :heavy_check_mark:

[2022-05-04 03:42] RakeshMohanMSFT commented on #22260
@remimarek Thank you for reaching out, we are looking into it.

[2022-05-04 03:47] #22251 closed

[2022-05-04 04:08] navba-MSFT commented on #21998
@seajhawk Could you please delete the `rdbms-connect` folder n the ~/.azure/cliextensions/ location and install the most recent version using the below command ?

Post this, you can try to run the AzCli command `az postgres flexible-server `again and check if you see the issue. Awaiting your reply.

[2022-05-04 05:42] MarkusDressel commented on #22164
I can confirm the backward compatibility with a registered V1 dataset in an Azure ML V2 job (ml extension version 2.3.1) using:

[code]
Would be great if you can reflect that in your documentation.

At least for me, this is my **preferred** solution. While I can understand that **Option 1: Re-create dataset assets as data assets** is the preferred method, this seems like an overkill assuming you h

[2022-05-04 06:08] t-esslinger commented on #21937
@zhoxing-ms Since Joerg also asked on my behalf, many thanks from my side for the quick implementation. I thought the required changes might be bigger, but this is exactly meets our expectations

[2022-05-04 06:17] RakeshMohanMSFT commented on #21577
@askpatrickw [az network application-gateway frontend-ip](https://docs.microsoft.com/en-us/cli/azure/network/application-gateway/frontend-ip?view=azure-cli-latest#az-network-application-gateway-frontend-ip-create) has another parameter named `--name`, to maintain consistency we have kept the parameter as `--gateway-name` in the list command as well.

--gateway-name
Name of the application gateway.

[2022-05-04 06:56] ausfestivus opened #22264 "azure CLI beta uses Azure AD Graph"
**Describe the bug**

The Azure CLI beta described [here](https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-migration?tabs=powershell) says it uses the MS Graph API. When I run the Azure CLI command with the debug switch enabled, the CLI beta still uses the old Azure AD Graph API address.

Service Principals which are granted only MS Graph API permissions cannot be used with the Azure CLI

[2022-05-04 07:28] navba-MSFT commented on #22224
@mdrakiburrahman Thanks for sharing this. I am working with the product owners and I will update once I get more details from them.

@rfsonders In the meantime, Could you please check if the above suggestion helps you ? Awaiting your reply.

[2022-05-04 07:46] RakeshMohanMSFT commented on #21572
@stefanes Can you please try upgrading to latest version of [azure CLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)? Its working for me with both versions of API `2021-10-01` and `2022-01-03` and without explicitly specifying the versions too. I am using 2.35.0 and the latest is [2.36.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)

[2022-05-04 08:33] yonzhan commented on #22264
azure CLI beta

[2022-05-04 08:33] yonzhan commented on #22264
@jiasli for awareness

[2022-05-04 09:42] 810713 opened #22265 "--lb-address-pools doesn't work for multiple values (--lb-name provided)"
Azure CLI adds space separated value for multiple backend pools (as in Documentation)  as one value and returns error resource not found.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 79836d6b-b885-294c-cbeb-0e4d4be3d250
* Version Independent ID: e05e7ff9-fd88-663b-eecf-9d6ae2c75d40
* Content: [az network nic ip-confi

[2022-05-04 10:38] 5dive commented on #21330
many thanks!!

[2022-05-04 10:42] matkosoric opened #22266 "Missing question mark for nested linked templates (BadRequest - Unable to download deployment content)"
**Describe the bug**
When deploying linked templates in Azure Data Factory, during the execution request to the nested linked templates does not contain question mark between path and SAS token, causing multiple BadRequest responses for each nested template.

[code]

**To Reproduce**
Deploy linked ARM templates for ADF from location in ADLS with SAS token:

[code]

**Expected behavior**
Requests s

[2022-05-04 10:42] RakeshMohanMSFT commented on #22260
@remimarek The portal uses this [Rules-update](https://docs.microsoft.com/en-us/rest/api/frontdoor/azurefrontdoorstandardpremium/rules/update) to update the rules. You can use the `az rest` to achieve the same for now to unblock yourself. In the meantime let me raise a request product team to include az command to edit rules.
[code]

[2022-05-04 11:00] RakeshMohanMSFT commented on #21953
@ryancolekt can you please try with the latest CLI and extension version (1.0.2)?
And make sure the rdbms-connect folder is removed in the ~/.azure/cliextensions/ and re-installing it.

[2022-05-04 11:04] yonzhan commented on #22265
network

[2022-05-04 11:13] navba-MSFT commented on #19684
@josephkwchan, @jennyhunter-msft Could you please provide an update on this once you get a chance ?

[2022-05-04 12:19] ABerTSC commented on #12946
is there any update now i still get "Insufficient privileges to complete the operation" trying to use

`# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: AzureCLI@2
  inputs:
    azureSubscription: SC-ARM-

[2022-05-04 14:06] italukder commented on #20848
Subject : Action administration trust bord

example
1. administration action : My property do not free link & not free user administration bord
2. Administration  Action :  All third party & any party do not free administration  bord
3. administration action : partnership business role and low, save and control, support and guest, help and care administration bord
4. Administration action : partne

[2022-05-04 14:48] MrMeterPing commented on #20892
Is there any update?
Steps to reproduce:

Last command returns: Operation returned an invalid status 'Bad Request'

az rest command returns:

Also in the Azure Portal the App Key are not shown and cannot be set:
![image](https://user-images.githubusercontent.com/101572840/166706232-744b7183-87b2-4e44-81de-fbda6b7a0328.png)

Do I miss something how to create a function using azure cli? How can I ad

[2022-05-04 15:16] panchagnula commented on #20892
@MrMeterPing unfortunately, since this is not a CLI client specific problem but rather API/runtime please use the link above to report the issue https://github.com/Azure/azure-functions-host/issues & some one from functions team can help move this forward. //CC: @anirudhgarg

[2022-05-04 16:01] kimberlyyipc commented on #22182
@yonzhan Hi, could I get an update on this request? Is it approved?

[2022-05-04 16:17] hholst80 opened #22268 ""az storage message get" crashes (Ubuntu 20.04 LTS, az-cli 2.36.0-1~focal)"
**Describe the bug**

az storage queue get fails

**To Reproduce**

1. start azurite (or connect to a azure hosted storage account)
2. set AZURE_STORAGE_CONNECTION_STRING
3. az storage queue create --name egress-test
4. az storage message get -q "egress-test"

**Expected behavior**

This should not crash.

[code]

**Environment summary**

[code]

[2022-05-04 16:34] daverod24 opened #22269 "/usr/bin/az: line 3: /usr/bin/../../opt/az/bin/python3: Permission denied"
**Describe the bug**
I perform the installation of az-cli in ubuntu 20
using the steps from the official page
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt

and in the end when I run as user I get the error
/usr/bin/az: line 3: /usr/bin/../../opt/az/bin/python3: Permission denied

**To Reproduce**
execute
curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
then I

[2022-05-04 16:48] wvmcastro commented on #22230
I am having exactly the same issue as well

[2022-05-04 17:06] hholst80 commented on #22268
azure-cli==2.34.1 worked, seems to have been broken since.

[2022-05-04 17:55] jaganpani opened #22270 "Azure Traffic Collector CLI"
**Resource Provider**
Microsoft.NetworkFunction

**Description of Feature or Work Requested**
Generate CLI for Azure Traffic Collector

**Minimum API Version Required**
2022-05-01

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs-pr/pull/4405 (In Dev branch.)
Working on merging swagger to public repo.

**Target Date**
May 2022 (Public Preview)

[2022-05-04 19:30] askpatrickw commented on #21577
No worries.. closing.

[2022-05-04 19:30] #21577 closed

[2022-05-04 19:44] celluj34 commented on #15000
I would really like to have this functionality too. Is there any workaround?

[2022-05-04 19:50] rambabu2107 opened #22271 "hhhh"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[terraform total.TXT](https://github.com/Azure/azure-cli/files/8626737/terraform.total.TXT)

[2022-05-04 19:51] rambabu2107 opened #22272 "ram210"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2022-05-04 19:52] rambabu2107 commented on #22272
ytgfkhtyg

[2022-05-04 20:48] likamrat commented on #22224
The new release for _arcdata_ merged today, we are testing it as well. Also, related to #22168

[2022-05-04 20:48] likamrat commented on #22168
Related to #22224

[2022-05-04 21:05] bmoore-msft commented on #19684
@navba-MSFT - can you share the internal workitem you created?  Normally issues like this are addressed in the schemas (which is a public repo)

[2022-05-04 21:05] adrianhall commented on #15000
The ability to import a function app is not available in the API as yet.  It is in our current plan, however, and we have backlog items to add it.  Once the capability is in the API, we can (and will) revisit adding it to the CLI and PWSH capabilities.  Sorry I don't have better news for you, but this is a long-term item (moving import functionality from the Portal into API).

#please-close

[2022-05-04 21:26] malchowc commented on #21602
I'm seeing the exact same issue, and I've noted that it is reported for the Azure Powershell library as well: [https://github.com/Azure/azure-powershell/issues/17534#issuecomment-1075509019](url)

Executing the following simple test fails when providing a 'run-as' username and password:

`az vm run-command create --name "myRunCommand" --vm-name "testvm" --resource-group "PFTestGroup" --script "Wri

[2022-05-05 00:04] yonzhan commented on #22268
storage

[2022-05-05 00:05] yonzhan commented on #22269
@jiasli for awareness

[2022-05-05 00:29] yonzhan commented on #22270
PLR

[2022-05-05 00:31] ausfestivus commented on #22264
What's also annoying about this is that I am also unable to add the Azure Active Directory Graph API Permissions to the SP. The ARM Portal currently has it disabled.

![Screen Shot 2022-05-05 at 10 29 18 am](https://user-images.githubusercontent.com/40222285/166847894-2bff6d55-a047-41a9-b767-bf471c1e3618.png)

Note also, that the Azure Active Directory Graph API deprecation appears to have been pu

[2022-05-05 00:31] #22271 closed

[2022-05-05 00:31] #22272 closed

[2022-05-05 01:40] wangzelin007 commented on #21536
Sorry for replying so late.
Upgrading the new API version has changed a lot.
And I found that the old version has a part of the code that is not automatically generated by codegen.
I'm looking for Mark Baker and Peiyuan to confirm how to upgrade this part.
I will release this version as soon as possible.

[2022-05-05 01:40] wangzelin007 commented on #21536
Sorry for replying so late.
Upgrading the new API version has changed a lot.
And I found that the old version has a part of the code that is not automatically generated by codegen.
I'm looking for Mark Baker and Peiyuan to confirm how to upgrade this part.
I will release this version as soon as possible.

[2022-05-05 02:05] jsntcy commented on #21903
@thisisdevanshu, Got it, thanks.

[2022-05-05 02:19] PARADISSEEKR commented on #21834
@fitzgeraldsteele  The request passed, but with a new error:
az vmss create -n vmss -g rg --orchestration-mode flexible --platform-fault-domain-count 2 -l eastus2euap --image UbuntuLTS --vm-sku Standard_M8ms --single-placement-group true
 `The requested VM size Standard_M8ms is not currently supported by Virtual Machine Scale Sets with Flexible Orchestration Mode or by Virtual Machines referencing

[2022-05-05 02:34] navba-MSFT commented on #15000
Thanks @adrianhall

[2022-05-05 02:34] #15000 closed

[2022-05-05 02:36] navba-MSFT commented on #19684
@bmoore-msft I have emailed you the internal workitem details.

[2022-05-05 02:39] TiejunMS commented on #22137
Thanks both! I have verified the command `az iot product test create` is fixed with proposed workaround. But the command `z iot product test task create --type QueueTestRun` will be stuck for more than 20 minutes. When it worked before, this command would be completed within 1 minute. Do you know if this issue is related?

[2022-05-05 02:59] jiasli commented on #22264
The previous beta (2.35.0.postxxx) was overridden by the latest 2.36.0 release. I will release a new beta (2.36.0.postxxx) soon with some new refactoring.

This was the decision of AAD team and Azure Portal. Instead of using Azure Portal, you may grant AD Graph permissions using Azure CLI. Please see https://github.com/Azure/azure-cli/issues/19818#issuecomment-939216867.

[2022-05-05 03:10] navba-MSFT commented on #22224
@likamrat Thanks for comment.

@rfsonders I was able to run the command successfully.

[
  {
    "name": "XXXXXXX",
    "primaryEndpoint": "XXXXXXXX,1433",
    "replicas": "1/1",
    "state": "Ready"
  }
]

Please update the arcdata extension `az extension update -n arcdata `and then test again. Awaiting your reply.

[2022-05-05 03:12] navba-MSFT commented on #21602
@malchowc Please open a new issue and share the above details in it. We would be happy to assist on that.

[2022-05-05 03:42] RakeshMohanMSFT commented on #22168
@likamrat Thank you. @swells can you please help us with an update on the fix?

[2022-05-05 03:43] ausfestivus commented on #22264
Can you be more specific than soon? How feasible is it to restore the previous (2.35) beta to the repo?

Im currently blocked by this. Im required to use an SP that has MS Graph API permissions AND Azure CLI for this work. With these two requirements on me I cannot continue the work. At least give me a rough timeframe to work with instead of "soon"? That way I can at least get the PM off my back.

[2022-05-05 03:45] jiasli commented on #22264
I am doing that right now! 😉

[2022-05-05 03:54] jiasli commented on #22264
I have released [2.36.0.post20220505034434](https://azurecliprod.blob.core.windows.net/beta/simple/azure-cli/). Please follow https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-migration to install this version and give it a try!

NOTE: The beta version doesn't guarantee production quality and tends to change at any time.

[2022-05-05 03:55] RakeshMohanMSFT commented on #22260
@remimarek are you using classic/legacy CDN?

[2022-05-05 04:00] ausfestivus commented on #22264
Have just updated, saw the updates come in. Still failing with the same error.
Debugs showing the CLI still making requests to windows.net instead of windows.com.

Standby, let me get you a gist.

[2022-05-05 04:05] jiasli commented on #22235
@dem4gus, it actually meets my expectation that the el8 package doesn't work for Fedora 35! 😂

We don't really have official support for fedora 35. The https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=dnf is somehow outdated.

Before we dive into this issue, you may install with `pip` to get unblocked quickly: https://github.com/Azure/azure-cli/issues/20476

Please let us

[2022-05-05 04:24] jiasli commented on #22235
The problem is that why `libpython3.6m.so.1.0()(64bit)` is missing from the RPM's requirement since 2.35.0. We didn't change anything in the build process. 🤔

- https://github.com/Azure/azure-cli/blob/azure-cli-2.35.0/scripts/release/rpm/azure-cli.spec
- https://github.com/Azure/azure-cli/blob/azure-cli-2.35.0/scripts/release/rpm/pipeline.sh

[2022-05-05 04:27] jiasli commented on #22264
Judging from the path

[code]

You are still calling the Azure CLI installed by Homebrew. Please make sure the virtual env is activated and the `az` you are running is

[code]

[2022-05-05 04:30] zhoxing-ms commented on #22182
We haven't started developing this requirement in this sprint, so please feel free to update it~
@kimberlyyipc By the way, may I ask what is the ETA for CRP 2022-03-01 API to be available?

[2022-05-05 04:32] ausfestivus commented on #22264
You are correct sir. My bad. Too many terminal windows open with different environments in them.
I can confirm that the issue is now resolved.

Thank you!

[2022-05-05 04:32] #22264 closed

[2022-05-05 04:49] AjKundnani opened #22275 "Trusted Launch CLI Change Request - VM Disk Snapshot & Config"
### Related command

`az snapshot show`
`az disk create`
`az disk grant-access`

### Resource Provider

Microsoft.Compute/disks
Microsoft.Compute/snapshots

### Description of Feature or Work Requested

feature request to add output value, new parameter and add values into existing parameters for following commands to support Trusted Launch VM Disks:

- [az snapshot show](https://docs.microsoft.co

[2022-05-05 05:24] yonzhan commented on #22275
Compute

[2022-05-05 05:35] navba-MSFT commented on #21436
@snowsky I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-05-05 05:39] navba-MSFT commented on #21769
@devatas I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please test with the most recent version of the AzCLI and share the --debug output. Awaiting your reply.

[2022-05-05 06:11] maulemon opened #22276 "Unexpected error when listing resources"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az resource list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az resource list --resource-group "name"`

## Expected Behavior
List of

[2022-05-05 06:25] RakeshMohanMSFT commented on #22276
@maulemon Thank you for reaching out, we are looking into it.

[2022-05-05 06:54] imeya commented on #21571
hello @panchagnula , could you please let us know where we can check this information with the API team? thanks.

[2022-05-05 06:58] evelyn-ys commented on #22029
@dlipovetsky your case is similar with #22235

[2022-05-05 07:03] RakeshMohanMSFT commented on #22276
@maulemon I am able to get it to work with similar environment as yours, can you share your debug log please?

[2022-05-05 07:12] azurevivekgarg commented on #10700
Hi Team,

Even after removing those 2 properties from the template.json, there is an undisclosed/unknown error I have encountered within the release pipeline.

![image](https://user-images.githubusercontent.com/100330815/166877225-b451003c-ac3f-467c-9db3-990a33476dd3.png)

Any help would be appriciated.

Thanks
Vivek Garg

[2022-05-05 07:32] navba-MSFT commented on #19778
@giskou Apologies for the late reply. Thanks for reaching out to us and sharing this feedback. I am doing some research on this. I will get back to you once I have more details on this.

[2022-05-05 07:34] evelyn-ys commented on #21779
We do have true/false option for `--overwrite`

[2022-05-05 07:41] evelyn-ys commented on #22268
@jonie001 Can you check if it's caused by track2 migration?

[2022-05-05 07:55] jiasli opened #22278 "Build RPM for Fedora"
**Is your feature request related to a problem? Please describe.**

Currently RPMs are built with CentOS 7 and Red Hat UBI 8:

https://github.com/Azure/azure-cli/blob/1d065f0cb183ab32fef32c7eeb27882ce03dfaa0/azure-pipelines.yml#L719-L769

These RPMs depend on Python 3.6 which is deprecated and fail on the latest Fedora 35 (https://github.com/Azure/azure-cli/issues/22235) which doesn't have Python

[2022-05-05 08:00] navba-MSFT commented on #19778
@giskou

It takes a few minutes to upgrade the cluster, depending on how many nodes you have.
Ensure that any [PodDisruptionBudgets (PDBs)](https://kubernetes.io/docs/tasks/run-application/configure-pdb/) allow for at least 1 pod replica to be moved at a time otherwise the drain/evict operation will fail. If the drain operation fails, the upgrade operation will fail by design to ensure that the ap

[2022-05-05 08:02] jiasli commented on #22235
## Root cause

I manually binary-searched all builds on `dev` branch between 2.34.1 and 2.35.0, and saw `libpython3.6m.so.1.0` was removed by [20220309.2](https://dev.azure.com/azure-sdk/public/_build/results?buildId=1420009&view=logs&j=eefb80ef-df2c-51d4-a735-8b3fa596bf12&t=6f9a8c49-480f-5696-065d-31253d9c4238) (triggered by commit 07819726e13d72587eb82b65c92ecba3bb009f32).

[code]

By comparing

[2022-05-05 08:20] navba-MSFT commented on #10812
@amul047 Could you please let me know if you have tried to workaround mentioned  [here](https://github.com/Azure/azure-cli-extensions/issues/3973#issuecomment-1036146424) and [here](https://github.com/Azure/azure-cli-extensions/issues/3973#issuecomment-1036428664) ? Awaiting your reply.

[2022-05-05 09:17] navba-MSFT commented on #20734
@wasker This issue is now fixed. Thanks again for raising this issue.

Code: InvalidLoadBalancerProfileOutboundIPs
Message: Error in validating load balancer profile outbound IPs, error details: Load balancer profile outbound IP /subscriptions/XXXXXXXXXX/resourceGroups/XXXXXXXXXX/providers/Microsoft.Network/publicIPAddresses/XXXXXXX is managed outbound IP, so it cannot be used as user specified ou

[2022-05-05 09:17] #20734 closed

[2022-05-05 09:47] marlowp opened #22279 "Application Gateway - Error creating rule: Either all or no rule should have the priority specified"
**Related command**
`az network application-gateway rule create`

**Describe the bug**
Attempting to create a new rule produces the following error:

`ERROR: (ApplicationGatewayRequestRoutingRulePartialPriorityDefined) Either all or no rule should have the priority specified.`

The CLI command does not provide the `--priority` flag so the priority number should be automatically generated (all othe

[2022-05-05 09:48] jonie001 commented on #22268
@tasherif-msft @evelyn-ys @yonzhan  This error occurs when message is empty, call receive_messages module in the azure-storage-queue.

[2022-05-05 09:50] navba-MSFT commented on #20810
@IvanLieckens Apologies for the late reply. Could you confirm if you are able to enable the monitoring addon directly from the portal as explained [here](https://docs.microsoft.com/en-us/azure/azure-monitor/containers/container-insights-enable-existing-clusters#enable-directly-from-aks-cluster-in-the-portal) ? Awaiting your reply.

[2022-05-05 09:50] yonzhan commented on #22276
ARM

[2022-05-05 09:56] yonzhan commented on #22278
Fedora

[2022-05-05 09:58] evelyn-ys commented on #22268
Route to Storage Python SDK team

[2022-05-05 09:58] yonzhan commented on #22279
network

[2022-05-05 10:07] navba-MSFT commented on #21003
@dbielik Thanks for sharing the plan.
@ianjirka @dingliu Could you please try the [above mentioned plan ](https://github.com/Azure/azure-cli/issues/21003#issuecomment-1080593340) and check if that helps ? Awaiting your reply.

[2022-05-05 10:26] navba-MSFT commented on #21945
While we are waiting for the reply from @Azure/aks-pm, @abhiramani-iptiq Could you please confirm if you are still facing the same issue ? Awaiting your reply.

[2022-05-05 10:49] navba-MSFT commented on #16427
@doronmak @istarbuxs Apologies for the late reply. Could you please follow the below action plan ?

1. Update your python libraries
2. Update your Azure CLI and then test the command again.

Once this is done, please test your AKS CLi command again and let me know if you see the same issue. Awaiting your reply.

[2022-05-05 10:54] jsntcy commented on #22270
@jaganpani, once the swagger is merged into public repository, please let us know, thanks.

[2022-05-05 11:16] sburbano commented on #16617
@jiasli Any updates on this issue?

I'm trying to setup an automated process to update our self-hosted Azure DevOps agents. This 'accept license->next' is the only stopper that remains for us.

Thx

[2022-05-05 11:24] remimarek commented on #22260
Thanks @RakeshMohanMSFT , I'm using Microsoft CDN (classic) indeed. Will have a try with this REST API thanks a lot :)

[2022-05-05 11:29] RakeshMohanMSFT commented on #22260
@remimarek You're Welcome, Do let me know if you need any assistance.

[2022-05-05 11:40] remimarek commented on #22260
Actually it seems this API will update all the rules within this CDN endpoint. It's more complicated than I expected to handle this case for me, as I only want to update a single rule within this endpoint without touching the other ones.

Do you know if there is a way for me to only target a specific rule update without having to load all rules beforehand and do the merge myself?

[2022-05-05 11:54] navba-MSFT commented on #22232
@rsun-thoughtworks Thanks for reaching out to us and sharing this feedback. While we wait for the reply from the @Azure/aks-pm ,  Could you please grant the user [Log Analytics Reader ](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#log-analytics-reader) RBAC permissions at the workspace level and check if that helps ? Awaiting your reply.

[2022-05-05 11:57] tspearconquest commented on #21779
Yes but the default is not as mentioned in my first comment.

[2022-05-05 12:10] RakeshMohanMSFT commented on #22260
@remimarek Unfortunately because of the order property, the API expects all the rules to be mentioned while updating. :( But the portals network tab can give you the entire body required you can just copy from there and edit what is required, i know its a ugly solution but only easy option available.

[2022-05-05 12:38] dozer75 opened #22281 "az functionapp create returns error when trying to create a dotnet-isolated functionapp"
**Related command**

`az functionapp create`

**Describe the bug**
When using the command below to create an isolated .NET 5 function app environment the `az functionapp create` returns immediately with the error message (line breaks added to make it easier to read the message)

[code]

_Please note the duplicate supported runtimes displayed as well._

**To Reproduce**

1. Have the Azure CLI versi

[2022-05-05 12:41] abhiramani-iptiq commented on #21945
this issue is not happening anymore

[2022-05-05 12:41] #21945 closed

[2022-05-05 12:46] rsun-thoughtworks commented on #22232
Thanks for the suggestion, it works.

But still we need to address this issue.

[2022-05-05 12:48] yonzhan commented on #22281
route to CXP team

[2022-05-05 12:59] remimarek commented on #22260
Alright @RakeshMohanMSFT, I think it would be really great to have these two new commands:
1. Updating a single engine rule from its name
2. Getting a single engine rule from its name

[2022-05-05 13:04] RobHofmann commented on #22279
We are observing the same behaviour since about 24-72 hours.

We have a automated setup which has been working for over 2 years. and we noticed yesterday that we cannot create new gateway entrypoints due to this bug.

PS. We never give priorities to the App Gateway (it has been deciding this for itself).

[2022-05-05 13:37] rambabu2107 opened #22282 "ramm"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az configure`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az configure`

## Expected Behavior

## Environment Summary
[code]
## Addit

[2022-05-05 13:49] IvanLieckens commented on #20810
I am not able to add it from the portal:
![image](https://user-images.githubusercontent.com/2543421/166937424-a1b0547a-9305-4e9f-a1ad-fbb8a105ef19.png)

[2022-05-05 14:59] lesleyxyz commented on #22079
I'm having the same issue

[code]

[2022-05-05 15:21] italukder commented on #20848
Subject : global international galaxy families trust board

[2022-05-05 15:40] yonzhan commented on #22282
@jiasli for awareness

[2022-05-05 15:52] kimberlyyipc commented on #22182
Hi @zhoxing-ms, according to an email from @grizzlytheodore the CRP 2022-03-01 SDK should be May6. Tagging Theodore in case he has any more insights.

[2022-05-05 16:58] panchagnula commented on #21571
you will need open a support case for that most likely or however one would reach out to the platform team to report issues. This is for CLI only, sorry I can't provide more assistance here.

[2022-05-05 17:04] fitzgeraldsteele commented on #21834
You'll need to register your subscription for the feature flag:

  1.  Register your subscription to use the SpecialSkusForVmssFlex feature flag

az feature register --namespace Microsoft.Compute --name SpecialSkusForVmssFlex

See [?docx icon]  VMSS Flex + Specialty Skus Preview.docx<https://microsoft.sharepoint.com/:w:/t/vmssvmorchestrationmode/EStc7sYXvONOmlWtAUsOqLcBwMssWkqhgg0CaCPtklVFTw?e=1nz

[2022-05-05 17:56] daniel-l-higgs commented on #16823
This happens to me when I'm using vscode on a remotely connected compute instance on AzureML. I try to run some python code which connects to the AzureML workspace and my local browser pops up asking to authenticate, even though the python is executing on the remote machine.

[2022-05-05 19:58] Drewm3 commented on #19182
Travis will update this issue shortly. It appears that we have a typo in the config data for these VM sizes in the VM SKU API. At least some of these VM sizes do not actually support AN, but they are listed in the API as supporting AN. Configuring AN should not cause a failure on these sizes, but the networking will not be accelerated. We are investigating how we can fix this without causing failu

[2022-05-05 20:03] Drewm3 commented on #21308
Updating this to a question because it is either a question or a bug.

[2022-05-05 21:28] SaurabhSharma-MSFT commented on #22256
@diberry I not able to reproduce this and the command works as expected -
![image](https://user-images.githubusercontent.com/38112130/167028176-7279aeea-daca-434d-991a-b74e90126ebf.png)
Can you please try running only `az` command and check if are getting any errors.
 If you get any errors then run `sudo rm ~/.azure/commandIndex.json` and then try `az` command.  Please let me know if you still any

[2022-05-05 22:00] c-ryan-k commented on #22137
@TiejunMS - we've just released [`v0.14.1`](https://github.com/Azure/azure-iot-cli-extension/releases/tag/v0.14.1) - and that version should be available on the extension index shortly. Regarding the service issue - I don't believe the issues are related, but we might need to route that to the AICS service team to find out more information.

[2022-05-05 22:09] SaurabhSharma-MSFT commented on #22129
@TeisTheDevOps Ok.  This may be an issue so redirecting this services team to look into it.

[2022-05-05 22:15] Drewm3 commented on #21308
Hi @williamwd, from the issue it sounds like you are seeing that a SKU is shown as not available through the the AKS CLI interface, but then the same SKU is available in the same zone in the same subscription in the Azure portal? Could you confirm that this is still occurring? Normally the SKU not available error message for a specific subscription, SKU, region and zone should be consistent regard

[2022-05-05 22:16] Drewm3 commented on #21308
@TravisCragg-MSFT, I have moved this over to you in case this ends up being an issue with the SKU API.

[2022-05-05 23:31] italukder commented on #20848
Subject : global international corridor families administration trust board

note. only All third party businesses corri
corridors trust board

example

[2022-05-06 01:09] SaurabhSharma-MSFT commented on #22243
@paratz What version of Linux you are using ?

[2022-05-06 01:33] charris-msft commented on #21998
That fixed it!
The command runs successfully now.

[2022-05-06 02:11] evelyn-ys commented on #22079
@lesleyxyz @muralidhardasari Can you share the value of `--blob-url`? I'm afraid it's invalid

[2022-05-06 02:38] navba-MSFT commented on #21998
@seajhawk Please follow the above mentioned action plan once you get a chance. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-06 02:38] #21998 closed

[2022-05-06 02:43] navba-MSFT commented on #22137
@c-ryan-k Thanks for looking into this.

@TiejunMS As mentioned in the above comment, Please update the IOT extension and that should fix your actual issue. Regarding your issue with az iot product test task create --type QueueTestRun command causing a hang, is unrelated to this issue. To address the hang issue, I am looping you with the product owners offline. They would need a few details to tro

[2022-05-06 02:43] #22137 closed

[2022-05-06 02:57] necusjz commented on #22279
As there is no changes from Azure CLI, involve service team for help.

IMO, the default priority order should be the order of adding rules to application gateway, isn't it?

[2022-05-06 03:10] navba-MSFT commented on #19471
@Morriz Apologies for the late reply. I am tagging the service team to take a look at this issue.

@Azure/aks-pm Could you please look into this issue and provide an update on this once you get a chance. Awaiting your reply.

[2022-05-06 03:29] navba-MSFT commented on #22232
@rsun-thoughtworks Thanks for getting back. I am adding the Service Team to take a look into this ask.

@Azure/aks-pm Could you please look into this ask and provide an update once you get a chance. Awaiting your reply.

[2022-05-06 03:33] jiasli commented on #22282
Please provide more information for us to investigate. Thanks.

[2022-05-06 04:14] navba-MSFT commented on #21697
@abhisek88 The above PR has been filed to fix this issue.

Thanks @a-santamaria

[2022-05-06 04:32] v-anvashist commented on #22128
@meastp I am not able to repro this issue.

We are using windows 10 and able to install rdbms connect

Thanks,
Anjali

[2022-05-06 04:42] navba-MSFT commented on #21443
@millanie Regarding the error message, We already have 2 issues opened for the same  https://github.com/Azure/azure-cli/issues/22057 and https://github.com/Azure/azure-cli/issues/22063. The CLI team is currently working on the SSH support in Cloud Shell. We don't have any ETA for the fix. Please track these issues for the progress of the release. Until then you can follow the workaround suggested

[2022-05-06 05:27] meastp commented on #22128
@v-anvashist

i.e. not windows 10, but nice to know that at least some windows versions work :)

[2022-05-06 06:12] hholst80 commented on #22268
I saw it for non-empty messages too in our CI/CD environment. The repro is for an empty queue, but that is just one way to trigger the error condition.

[2022-05-06 06:22] maulemon commented on #22276
I've discovered that I had to remove `msal_http_cache.bin` and `msal_token_cache.bin` under `.azure` folder. That has resolved the issue

[2022-05-06 06:22] #22276 closed

[2022-05-06 06:24] navba-MSFT commented on #22268
@hholst80 Thanks for reaching out to us and sharing this feedback. I am able to reproduce this issue at my end with 2.36.0 version of Azure CLI. However, when I tried with 2.35.0 version it worked just fine.

The failure exception is raised here:

Source code: https://github.com/Azure/azure-sdk-for-python/blob/79c58f79c1168b35a804c2d6ca4977db50968819/sdk/storage/azure-storage-queue/azure/storage/q

[2022-05-06 06:33] owingruters opened #22289 "Unclear difference V1 and v2, especially the --body format in v2's az webapp auth set"
- I just had to move from v1 webapp authentication to v2.
- After the conversion my old script using "az webapp auth update" are not working any more. From the documentation https://docs.microsoft.com/en-us/cli/azure/webapp/auth?view=azure-cli-latest#az-webapp-auth-update I think I see (but not very clear, that I should use "az webapp auth set" now. and it seems all settings have to be in a json o

[2022-05-06 06:40] RakeshMohanMSFT commented on #22260
@remimarek Sure, will update the engineering team. For now I will close this issue.

[2022-05-06 06:40] #22260 closed

[2022-05-06 06:45] RakeshMohanMSFT commented on #22168
@likamrat This should be fixed now, can you please try again? Also see if you can uninstall and install arcdata extension.

[2022-05-06 06:50] yonzhan commented on #22289
route to CXP team

[2022-05-06 07:35] navba-MSFT commented on #22281
@dozer75 Thanks for reaching out to us and sharing this feedback. I am looking in to this issue. I will update this thread once I have more details.

[2022-05-06 08:00] #19559 closed

[2022-05-06 08:58] favia96 opened #22292 "Trouble az login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior
Succesful az login

## Environment Summary
[cod

[2022-05-06 09:29] jiasli commented on #22235
A workaround (credit to @bebound. Thanks!) is to specify `python36` here:

https://github.com/Azure/azure-cli/blob/4223f08e758e9fe16223564ba9fc77aee6315751/scripts/release/rpm/azure-cli.spec#L28

`python36` is not a **package name**, but a **capability** provided by `python3` or `python 3.6` package.

On Fedora 35:

[code]

On CentOS 7:

[code]

Since Python 3.6 is now deprecated, the better solut

[2022-05-06 09:43] lesleyxyz commented on #22079
That was the issue indeed. It pointed to a container, not a blob.

[2022-05-06 12:22] RakeshMohanMSFT commented on #22168
Glad that your issue is resolved @likamrat. I will close this issue now.

[2022-05-06 12:22] #22168 closed

[2022-05-06 12:25] RakeshMohanMSFT commented on #21953
@ryancolekt Hope you got a chance to try the action plan provided above.

[2022-05-06 13:23] AdamSharif-MSFT opened #22293 ""az acr check-health" with containerd support"
**Related command**

az acr check-health

**Is your feature request related to a problem? Please describe.**

Yes - sometimes when troubleshooting image pull failures from an AKS worker node, it would be useful to be able to use "az acr check-health" but Docker is no longer present and is a requirement of that command

**Describe the solution you'd like**

Allow the "check-health" command to opera

[2022-05-06 13:51] v-anvashist commented on #22128
@meastp   Thanks for your response ! After detailed analysis we figured out that we are not owing the same.

@navba-MSFT  Could you please redirect this issue to some another team?

Thanks,
Anjali

[2022-05-06 14:20] dmpvost commented on #19507
I will respond, I don't have time this week

[2022-05-06 14:58] Sidewinder53 commented on #22032
This is a pretty serious issue as you can't easily downgrade the Azure CLI on Azure DevOps / Github Actions, effectively making scaling changes with a minimum count of 0 unavailable to many automated processes.

[2022-05-06 14:59] yargolan commented on #22216
I will test your recommendations and report.

[2022-05-06 15:24] tokleine opened #22294 "Az cli task fails with "[error]Argument list too long""
**Related command**
I have whitelist the IP of my DevOps Host to be able to use it call my Function App.

**Describe the bug**
When trying to whitelist the host my azcli task in my DevOps pipeline fails intermittently, without any clear indication why.

This is the output I get:
[code]

**To Reproduce**
pool:
  vmImage: ubuntu-latest

jobs:
- job: jobName
  steps:
  - checkout: self
  - task: Azur

[2022-05-06 16:32] brianlehr opened #22295 "Cannot specify custom ip prefix in other subscription when using public-ip prefix create"
**Related command**
az network public-ip prefix create needs to recognize object in other subscription as input for --custom-ip-prefix-name parameter.  This functionality works in PowerShell but not CLI.

**Describe the bug**
Currently not able to specify a Custom IP Prefix object in other subscription as parameter for input.

Example 1:
PS C:\Users\blehr> az account set --subscription 6bb4a28a-db

[2022-05-06 16:41] italukder commented on #20848
Subject : Unity families all key & all certification administration bord

example.
1.

processing

[2022-05-06 17:03] williamwd commented on #21308
This is precisely the case, creating from Terraform would fail and verifying on CLI would result in errors. Creation on portal would succeed, and our workaround was to create there and then import to Terraform.

That said, I am no longer assigned to that project. @jcavalieri8619 can you please follow up on this?

[2022-05-06 18:53] jalauzon-msft commented on #22268
Hi @evelyn-ys Yishi / @navba-MSFT, I don't believe this to be an SDK issue but rather an issue with how the CLI is calling the Track2 `receive_messages` API. Here is the code snippet I think CLI is using:

https://github.com/Azure/azure-cli/blob/cc0d149c1d3bea7ffbac12f8e97e0286cddfaa23/src/azure-cli/azure/cli/command_modules/storage/operations/queue.py#L84-L86

When using `by_page()` and then call

[2022-05-06 20:33] jsalser commented on #21562
Hello, I found this issue while searching for guidance. I am blocked specifically by 2.b above.

Also it is unclear what `UPDATE on server::myserver by public` is doing, why its required, etc.

Can someone prioritize fixing these docs or link me to a better guide? Thanks!

[2022-05-06 21:02] danielpavezs commented on #22243
The hybrid worker has this output when running `cat /etc/os-release`

[code]

[2022-05-06 22:28] smarlowucf commented on #21693
Are there any updates in regards to the deprecation?

[2022-05-06 22:42] smarlowucf commented on #21693
To provide more details here. When you instantiate a client you require an instance of `ClientSecretCredential`. This has three arguments; tenant, client id, and client secret. These all exist in the SP json file no matter if you use _--sdk-auth_ but the keys are all different.

When you instantiate a client you pass the instance of `ClientSecretCredential` and also it requires the subscription id

[2022-05-06 23:37] yonzhan commented on #22293
route to CXP team

[2022-05-06 23:38] yonzhan commented on #22294
route to CXP team

[2022-05-06 23:39] yonzhan commented on #22295
network

[2022-05-07 01:36] zhoxing-ms commented on #21423
Replaced by #22222

[2022-05-07 01:39] zhoxing-ms commented on #21470
Replaced by #22222

[2022-05-07 01:39] #21470 closed

[2022-05-07 02:29] jiasli commented on #22243
Linux Hybrid Runbook Worker is currently not supported yet and is on our roadmap. Thanks for understanding.

[2022-05-07 02:32] tsubakimoto opened #22296 "Not working: `az webapp`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Open Cloud Shell on https://docs.microsoft.com/ja-jp/azure/app-service/tutorial-connect-msi-sql-database?tabs=windowscl

[2022-05-07 02:36] jiasli commented on #21693
`az ad sp create-for-rbac` doesn't grant role assignments by default anymore and `--scopes` is now required (https://github.com/Azure/azure-cli/pull/21323), so you need to provide the subscription ID in `--scopes` argument. Therefore, you should already have subscription ID at hand, such as

[code]

If you want to use the original output of `az ad sp create-for-rbac`, you may use `az account show

[2022-05-07 02:53] yonzhan commented on #22296
route to CXP team

[2022-05-07 02:55] jiasli opened #22297 "Deprecate `--sdk-auth` of `az ad sp create-for-rbac`"
**Related command**

[code]

**Is your feature request related to a problem? Please describe.**

The original designed consumers of the `az ad sp create-for-rbac --sdk-auth` JSON output - Azure SDKs (Java, Python, etc.) have deprecated the usage of `get_client_from_json_dict` (https://github.com/Azure/azure-sdk-for-python/issues/15075). Azure CLI should deprecate `--sdk-auth` as well.

However, we

[2022-05-07 02:58] yonzhan commented on #22297
Deprecate --sdk-auth

[2022-05-07 03:12] evelyn-ys commented on #22268
Thanks for the detailed explanation @jalauzon-msft.
I'm curious why not `return None, []` but raise exception when messages is `[]`?
[code]

[2022-05-07 05:11] evelyn-ys commented on #9141
Storage service has to support first @navba-MSFT

[2022-05-07 09:44] williamhbell opened #22301 "az acr build : UnicodeEncodeError: 'charmap' codec can't encode characters in position 57-96"
## Describe the bug
When an  `az acr build` is run on Windows 10 using Git Bash and pip, it appears that the pip package install progress characters crash the log from the build.  The build succeeds and the image is created in the container registry, even though the build is reported to have failed.  The failure appears to be only associated with the log stream.

If the same command is run using a

[2022-05-07 10:58] tokleine commented on #22294
Update: I found the issue myself.

In a previous step, I pulled the content of a .json file into an env variable. It turned out that this env variable was _just_ small enough to fit into the available memory pool, but the subsequent command didnt fit anymore. Thus I am now using a smaller .json to fill my env variable in the previous step.

The reference that helped me find it is this: https://sta

[2022-05-07 10:58] #22294 closed

[2022-05-07 13:21] italukder commented on #20848
Subject : protocols administration trust  board

processing

[2022-05-07 13:23] italukder commented on #20848
Subject : unity families certification administration trust board

[2022-05-07 13:33] williamhbell commented on #21703
No, the resource name only contains normal ASCII characters.  The issue is in the pip progress character.

[2022-05-07 13:34] williamhbell commented on #21703
Yes, it is the stdout that is associated with the pip install progress characters.

[2022-05-07 14:43] yonzhan commented on #22301
route to CXP team

[2022-05-07 15:19] Looooopy commented on #19591
Both building from alpine and using it from mcr.microsoft.com/azure-cli:latest make it output image around 1.2GB for something that should be used in cli is awful :)

Compare it with awscli  (amazon/aws-cli) which also is quite heavy 339MB, but why is it getting 3 times larger is my question?

Maybe you think it's a dumb question but I feel like every image in docker is exploding in storage space!

[2022-05-07 16:18] italukder commented on #20848
Subject : global international honorable administration board

example.
honorable man and woman
1. US President
2. UK PM
3. UK Quick
4.

[2022-05-07 19:55] jetnet commented on #13056
how do you escape them in Powershell? Backslash and the following does not work:
[code]

[2022-05-07 20:06] italukder commented on #20848
Subject : global international key trus board

example

processing

[2022-05-07 20:40] jetnet opened #22304 "[BASTION] az rest - cannot update properties"
**Related command**
[code]

**Describe the bug**
Value of the parameter does not change

**To Reproduce**
[code]

**Expected behavior**
The `enableTunneling` should be changed to `False`

**Environment summary**
[code]

[2022-05-07 21:32] italukder commented on #20848
Subject : global international group categories trust bord

example groups category
1. Milky way families is -- organization groups
2. milestone families is -- Association groups
3. galaxy families is --
4. matrix corridors families is --

processing

[2022-05-08 02:18] yonzhan commented on #22304
route to CXP team

[2022-05-08 02:26] italukder commented on #20848
Subject : my fiscal and decision  support trust board

example fiscal support
1. preparation you are going to my country
2. Preparation you are going to my home
3.

process

[2022-05-08 02:34] italukder commented on #20848
Subject : wonderful official all job administration trust bord
example
1. useful official job skill in Saudi Arabia
2. features official job skill globally

process
leader and member in Saudi Arabia kholif families

[2022-05-08 05:34] adorablyadam opened #22305 "Keyvault and Storage Account parameters missing"
—key-vault and —storage-account parameters are missing for bringing existing resource. The work around means having to create a separate yaml file.

current inline cli (v2) allows bringing container registry and app insights. v1 allowed declaring all of the auto created resources.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.

[2022-05-08 08:35] yonzhan commented on #22305
route to CXP team

[2022-05-08 08:47] italukder commented on #20848
Subject : mobile networking trust bord

example.
mobile network company application

process

[2022-05-08 08:49] italukder commented on #20848
Subject : global international  live tv online networking trust bord

example
live tv online networking company application

[2022-05-08 09:19] italukder commented on #20848
Subject : global international import and export partnership businesses trust  board

example
galaxy family partnership businesses application
process

[2022-05-08 09:52] italukder commented on #20848
Subject : global international Wi-Fi cable operettas protocols trust borad

example.
galaxy families global international Wi-Fi cable operettas partnership business application trust board

process

[2022-05-08 09:55] italukder commented on #20848
Subject : global international corporate business protocols trust board.

example
galaxy families global international corporate partnership business application
process

[2022-05-08 09:59] italukder commented on #20848
Subject : global international buying house  and were house protocols business trust bord

example.
galaxy families global international buying house and werehouse partnership business application
process

[2022-05-08 10:02] italukder commented on #20848
Subject : global international flim industry business protocols trust bord

example
galaxy families global international partnership business application trust board

process

[2022-05-08 10:08] italukder commented on #20848
Subject : global international fashion house protocols trust board

example
galaxy families global international fashion house partnership business application trust board

[2022-05-08 10:34] italukder commented on #20848
Subject : global international tv cable operettas trust board

example
galaxy families tv cable operettas partnership business application trust board

process

[2022-05-08 11:55] italukder commented on #20848
Subject : global international all subject & idea protocols  application trust board

example.
My planning all subject and all point idea separate and separate position protocols link application trust board. And decision in this subject and idea families category link protocols Milky way family protocols   subject or milestone family sprotocol subject and galaxy family protocols subject issue. Id

[2022-05-08 12:19] italukder commented on #20848
Subject : global international subject & idea developers trust board

example
global international subject and idea developers built up global site and idea point person link honor global member.
subject and idea calling simply idea writing message any one application idea writing message.

[2022-05-08 15:29] serprex commented on #22231
I'm seeing this with `az aks create` when it's trying to update permissions on ACR. Using Debian bullseye

[code]

[2022-05-08 17:33] StevenTCramer opened #22306 "`az extension add --name aks-preview` fail"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
az extension add --name aks-preview --debug

**Command Name**
`az extension add --name aks-preview`

**Errors:**
[code]
--debug revealed the following

`ModuleNotFoundError: No module named 'pip._internal.utils.typing'`

[code]
Windows-10-10.0.22000-SP0
Python 3.10.4
Installer: MSI

azure-cli 2.36.0

Extensions

[2022-05-08 20:04] adorablyadam commented on #22305
Also note that ado variables do not resolve within the yaml file.

[2022-05-08 20:50] marianpetruk commented on #16822
@fengzhou-msft is it already supported or not yet?

[2022-05-09 00:04] yonzhan commented on #22306
route to CXP team

[2022-05-09 02:28] AdamCoulterOz commented on #20352
I can confirm this is fixed now.

[2022-05-09 02:28] #20352 closed

[2022-05-09 03:10] jiasli commented on #22231
Judging from the installation location `dist-packages`, this is not the official Azure CLI packaged. See https://github.com/Azure/azure-cli/issues/19640.

[2022-05-09 03:12] italukder commented on #20848
Subject : global international boundary certification key trust board

example
unith all holly families members boundary certification give environmental position
1. Global boundary certification key
2. continent boundary certification key
3. country boundary certification key
4. province boundary certification key
5. Divisions boundary certification key
6. district boundary certification key
7. l

[2022-05-09 03:23] navba-MSFT commented on #22281
@dozer75 I have reached out to the Product owners with all the details. I will update this thread once I hear back from them.

[2022-05-09 03:25] jiasli commented on #19591
@Looooopy, the size-too-big issue of Azure CLI is tracked at https://github.com/Azure/azure-cli/issues/7387. It is mainly due to the size of Azure Python SDKs (https://github.com/Azure/azure-sdk-for-python/issues/11149). We are tightly working with SDK team to reduce the size. Keep tuned!

[2022-05-09 03:26] italukder commented on #20848
Subject : global international  families care trust bord

example.
global all family member in milky way member family, milestones family members , galaxy family members care your income support money
1. You profit is very bad 15% add income support
2. your income is bad 10% add your income support money
3. your income is normal 5% income support money
4. your income is good. we are not support mo

[2022-05-09 03:27] jiasli commented on #13056
For PowerShell quoting issue, please see https://github.com/Azure/azure-cli/issues/15529.

[2022-05-09 03:29] italukder commented on #20848
Subject : global international meeting workings decision trust board

[2022-05-09 03:31] jiasli commented on #16822
This is tracked by https://github.com/Azure/azure-cli/issues/7368.

[2022-05-09 03:31] #16822 closed

[2022-05-09 03:41] jiasli commented on #22292
Duplicate of #20231

[2022-05-09 03:44] navba-MSFT commented on #22224
@rfsonders I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-05-09 03:49] RakeshMohanMSFT commented on #22289
@owingruters Thank you for reaching out, we are looking into it.

[2022-05-09 03:50] RakeshMohanMSFT commented on #22296
@tsubakimoto Thank you for reaching out, we are looking into it.

[2022-05-09 03:56] RakeshMohanMSFT commented on #22305
@adorablyadam Thank you for reaching out, we are looking into it.

[2022-05-09 04:04] navba-MSFT commented on #21769
@devatas We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-09 04:04] #21769 closed

[2022-05-09 04:07] navba-MSFT commented on #21436
@snowsky We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-09 04:07] #21436 closed

[2022-05-09 04:09] navba-MSFT commented on #22268
@evelyn-ys Thanks for your reply.

@jalauzon-msft Could you please share your thoughts on the above comment ?

[2022-05-09 04:10] #22292 closed

[2022-05-09 04:35] Drewm3 commented on #21308
@jcavalieri8619, please let us know if you will be able to provide details on how to reproduce this issue including the specific Azure Region and SKU that you are using.

[2022-05-09 04:42] necusjz commented on #15439
@Totorman, please try to use "space-separated", like: *--destination-port-range 500-1000 2000 3000*.

[2022-05-09 05:13] RakeshMohanMSFT commented on #21422
@barneschism Apologies for the delay, we are looking into it.

[2022-05-09 05:39] navba-MSFT commented on #22301
@williamhbell Thanks for reaching out to us and sharing this feedback. I am sharing a few action plan. Please implement it and share the outcome.

**Plan 1:**  Could you please try `--no-format` option in `az acr build `and check if you see the same issue ?
**Plan 2:** If the above command fails with same error, try running with ` --no-logs` options. If you need to fetch logs you can use the `run-

[2022-05-09 06:11] navba-MSFT commented on #22293
@AdamSharif-MSFT Thanks for reaching out to us and sharing this feedback. Could you check if you could use the
https://github.com/Azure/aks-canipull instead ?

[2022-05-09 06:14] cxznmhdcxz commented on #22151
Hi @fitzgeraldsteele , does flexible VMSS support diagnostics?

[2022-05-09 06:49] bebound commented on #22269
@daverod24 I can't reproduce this issue.
Do you get any error during installation, and what's the output of `ls -la  /usr/bin/../../opt/az/bin/python3`?

[2022-05-09 06:50] dabenhamMic opened #22310 "LogAnalytics: support new resources of QueryPacks"
**Related command**

our latest swagger change included an update to QueryPacks module: https://github.com/Azure/azure-rest-api-specs/pull/17923
Python SDK: https://pypi.org/project/azure-mgmt-loganalytics/13.0.0b4/

**Resource Provider**

OperationalInsights (LogAnalytics)

**Description of Feature or Work Requested**

A request to bump up CLI cersion to latest Python SDK was already creatted aft

[2022-05-09 06:59] navba-MSFT commented on #22306
@StevenTCramer Thanks for reaching out to us and sharing this feedback. Could you please share the complete `--debug` output ? Awaiting your reply.

[2022-05-09 07:00] italukder commented on #20848
Subject : global international technology and device certification administration trust board

example
1. Unity families technology & device certification management board
2. unity families technology & device certification administration bord
3. unity families technology & device certification administration board

[2022-05-09 07:44] YuanyuanNi commented on #22212
Hi， @vandre  “resource id _ResourceID at least 1 violations out of 5 aggregated points” is part of the condition, not a comment.
Best wishes.

[2022-05-09 08:31] williamhbell commented on #22301
Using `--no-format`:
[code]

With the `--no-logs` option:
[code]
The output successfully completes.

Retrieving the log from the previous command fails as expected:
[code]

[2022-05-09 08:34] navba-MSFT commented on #22301
@williamhbell Thanks for sharing the outcome of Plan 1 and Plan 2. May I know if you have tried the plan 3 mentioned in my above command ? Could you please update me the status once you get a chance ? Awaiting you reply.

[2022-05-09 08:53] williamhbell commented on #22301
Using the Dockerfile
[code]

The az acr build fails as before:
[code]

[2022-05-09 09:16] yrro commented on #22231
Thanks. In case anyone else has this problem, the way to ensure that Microsoft's `azure-cli` packages take precedence against Debian's is:

[code]

We can now ask apt which version of the package is installed & why:

[code]

Note that apt will now prefer to install from the Microsoft repository if installing `azure-cli` on a system where it's not already installed. But since the pin priority is 60

[2022-05-09 09:16] #22231 closed

[2022-05-09 09:35] navba-MSFT commented on #22304
@jetnet Thanks for reaching out to us and sharing this feedback. Looking at [the REST API](https://docs.microsoft.com/en-us/rest/api/virtualnetwork/bastion-hosts/create-or-update), I see that it uses the PUT method.

So could you please try the below command instead ?

Hope this helps.

[2022-05-09 09:46] yonzhan commented on #22310
monitor

[2022-05-09 09:48] navba-MSFT commented on #22293
@AdamSharif-MSFT Thanks for your time and sharing the details offline. I am pasting the requirement here for the documentation purpose:

**Your Ask:**

**My Suggestion:**

Please try the “[az aks check-acr](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-check-acr)” command. This helps to Validate an ACR is accessible from an AKS cluster. This and[ aks-canipull ](https:

[2022-05-09 10:03] RakeshMohanMSFT commented on #22305
@adorablyadam This is as designed. As you can see [here](https://docs.microsoft.com/en-us/azure/machine-learning/reference-yaml-workspace#yaml-with-existing-resources) you mention the details of the existing resources in the yaml file.
[code]

[2022-05-09 10:05] RakeshMohanMSFT commented on #22164
Closing the issue

[2022-05-09 10:05] #22164 closed

[2022-05-09 10:34] RakeshMohanMSFT commented on #22289
@owingruters Are you looking for this https://docs.microsoft.com/en-us/rest/api/appservice/web-apps/update-auth-settings-v2#request-body?

[2022-05-09 10:35] kvakulo opened #22314 "Encountered internal server error while processing the deployment what-if request"
## Describe the bug

We have begun to see this error while running `az deployment group create` with the `--confirm-with-what-if` locally.

The command `az deployment group what-if` also fails sporadically when running in a Azure DevOps pipeline.

**Command Name**
`az deployment group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been

[2022-05-09 10:37] ptsapralis opened #22315 "Error message after SFC scale-in process finished."
Received this error as part of a process reducing the number of nodes in the primary node-type of an SFC. The scale-in process seems to have completed successfully and the cluster is running OK.

**Command Name**
`az sf cluster node remove`

**Errors:**

The command failed with an unexpected error. Here is the traceback:
'ClustersOperations' object has no attribute 'update'
Traceback (most recent

[2022-05-09 10:41] ramdaspotale opened #22316 "az sql server ad-admin create does not work if we do not pass both object-id and display-name at same time"
as per the documentation, object-id and display-name are optional parameters, however, actually they are required. you can not configure ad-admin without passing both object-id and display-name parameters.

so i propose you should modify documentation to say all parameters are required for create/update actions.
===============================================================================
az sql

[2022-05-09 11:03] RakeshMohanMSFT commented on #22296
@tsubakimoto I am able to get it work without any issue, can you please try again and share the debug log?

[2022-05-09 11:04] RakeshMohanMSFT commented on #22316
@ramdaspotale Thank you for reaching out to us, we are looking into it.

[2022-05-09 11:06] AdamSharif-MSFT commented on #22293
Hello @navba-MSFT,

Thank you very much, this is really helpful and a great alternative - much appreciated

Kind regards,
Adam

[2022-05-09 11:12] ramdaspotale commented on #22316
Hi,

Thanks for the update. to explain a bit more.

I have tried running below command by passing one parameter among object-id and display-name and it did not work. like below

az sql server ad-admin create --server <server_name> --resource-group <Resource_Group> --display-name <user/group name>
or
az sql server ad-admin create --server <server_name> --resource-group <Resource_Group> --object-id

[2022-05-09 11:16] RakeshMohanMSFT commented on #22316
@ramdaspotale Thank you for further details provided, appreciate it. Will check and update the document if required.

[2022-05-09 11:38] jetnet commented on #22304
@navba-MSFT , it works! Thank you for pointing to another way how to change a property :)
Just curious: should the `az rest patch` method work too? In theory, of cause :)

[2022-05-09 11:42] navba-MSFT commented on #22304
@jetnet Thanks for getting back. Patch wouldn't work here. The above mentioned RESTAPI supports PUT.
We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-09 11:42] #22304 closed

[2022-05-09 12:15] yonzhan commented on #22314
ARM

[2022-05-09 12:16] yonzhan commented on #22315
route to CXP team

[2022-05-09 12:16] yonzhan commented on #22316
route to CXP team

[2022-05-09 12:45] italukder commented on #20848
Subject : global international hospitals protocols trust bord

example
hospital business page and website totaty free
Information
1.hospital service site
2.doctor information
3.bead capacity
4. Instumet information
5. health costing
 E.t.c
Many more websites page and page category fixed

[2022-05-09 13:25] italukder commented on #20848
Subject : global international blue sky protocols trust bord

example
1. Blue sky families same families policy milky way families and othet families
Demo.
1. blue Sky families management board
2. blue sky families management administration board
3. blue sky families administration board
4. blue sky families discipline board

Note. milky way families same to same families policy blue sky families

[2022-05-09 13:35] italukder commented on #20848
Subject : global international green land protocols trust board

Example.
green land land web browser biggest powerful web browser software and my all families link web browser software
process

[2022-05-09 13:39] RakeshMohanMSFT commented on #22316
@ramdaspotale I think what you said is correct. This document does mention that too.
https://docs.microsoft.com/en-us/rest/api/sql/2021-02-01-preview/server-azure-ad-administrators/create-or-update.
Let me get the document updated.

[2022-05-09 13:44] mferris2421 commented on #22279
Experiencing the same issue. WAG deployments are scripted via Azure CLI and no priority was ever supplied prior to Thursday.

[2022-05-09 14:15] ramdaspotale commented on #22316
@RakeshMohanMSFT Thanks a lot Rakesh. 👍

[2022-05-09 14:18] italukder commented on #20848
Nole. My new planning past lime bookin members person. And past lime member allows tsill now position

thank you

[2022-05-09 15:15] italukder commented on #20848
Important : milky way families. Milestone families. Galaxy families. Matrix corridors families and blue sky families link and link relationship policy and all families is freedom and freedom

Process
thank you

[2022-05-09 17:11] crowne opened #22321 "az aks get-credentials fails when env:KUBECONFIG is set with windows paths"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
`az aks get-credentials` fails when env:KUBECONFIG is set with windows paths

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
When the environment variable KUBECONFIG is set to
- %USERPROFILE%\.kube\config;%USERPROFILE%\.kube\k8stest.config
or
- %USERPROFILE%\.kube\config
`az aks

[2022-05-09 18:11] SatishBoddu-MSFT commented on #22227
Hello @rohitpanwar We are routing this to the service Team's attention!

[2022-05-09 19:12] jalauzon-msft commented on #22268
@evelyn-ys Yishi, a `StopIteration` exception is the standard way for an iterator to signal the end of the iteration. See [Python docs](https://docs.python.org/3/glossary.html#term-iterator) on iterator. Built-in elements like the `for` loop internally handle the `StopIteration` exception to know when to break the loop. If we were to return an empty list `[]` the iterator would indefinitely return

[2022-05-09 19:42] brianlehr commented on #21831
@necusjz I am not seeing this as completed when I test with latest cloud shell

brian@Azure:~$ az network lb create --name testinglbbasic --resource-group upgradetest --location westus
{
  "loadBalancer": {
    "backendAddressPools": [
      {
        "etag": "W/\"76bf8845-6c44-4d33-bfd0-fcb4a317b462\"",
        "id": "/subscriptions/6bb4a28a-db84-4e8a-b1dc-fabf7bd9f0b2/resourceGroups/upgradetest/

[2022-05-09 20:20] thisisanniefang opened #22322 "[Feature]: Add warning for users of eventual change of default for "az vmss create""
az vmss create currently creates a Basic LB by default, we will eventually want to make the default to create a Standard LB instead.

In advance of eventual breaking change, would like to add warning for users to encourage them to use --lb-sku parameter with Standard.

Similar change done for "az vm create", "az network lb create", and "az network lb frontend-ip create"- https://github.com/Azure/a

[2022-05-09 21:11] willieowens opened #22323 "az storage blob directory metadata show - always gives error - The specified blob does not exist"
I always get this error when trying to look up the metadata of a directory:
[code]

Is this supposed to work? Is it deprecated? The page itself seems to imply it's new/experimental functionality, rather than old/deprecated, but maybe it's... both?

https://docs.microsoft.com/en-us/cli/azure/storage/blob/directory/metadata?view=azure-cli-latest

`az storage blob directory metadata show --auth-mode

[2022-05-09 21:42] biltongza commented on #18948
This is still an issue:

[code]

[2022-05-09 22:11] SatishBoddu-MSFT commented on #22246
Hello @jaknigh we are routing this issue to the Service Team's Attention!

[2022-05-09 22:11] fontechaje-AA opened #22324 "Az feedback"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az account get-access-token --output {} --resource {}`

## E

[2022-05-09 22:12] fontechaje-AA opened #22325 "`az login`: ImportError: cannot import name 'PersistenceNotFound' from 'msal_extensions.persistence'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-05-09 22:40] yonzhan commented on #22321
route to CXP team

[2022-05-09 22:43] yonzhan commented on #22322
Compute

[2022-05-09 22:44] yonzhan commented on #22323
storage

[2022-05-09 22:45] gildardogmsft commented on #22229
@alexeyshishkin01 the warning is by design since we are using QEMU to simulate ARM64 while building on x86, the warning is always printed if the host architecture is different from the container architecture

[2022-05-09 22:46] yonzhan commented on #22324
@jiasli for awareness

[2022-05-09 22:47] yonzhan commented on #22325
@jiasli for awareness

[2022-05-09 22:49] gildardogmsft commented on #22248
The warning is expected, can you share more about the dockerfile you are trying to use, what image has the warning sha256:acda13229f853e328ba5d40362a3b21bdacda4971196b1d55d595738a4450f32 digest?

[2022-05-09 22:50] SatishBoddu-MSFT commented on #22247
Hello @diberry Did you try the new web app from the Web Portal?
Did you try with any other location?
I may also check the az configure for any default?

We are not able to repro the issue related to the --location param with this command.

![image](https://user-images.githubusercontent.com/62923178/167510992-58acf3c1-4893-4388-b120-e1bf2fb409eb.png)

![image](https://user-images.githubusercontent.