[2022-03-02 11:56] navba-MSFT commented on #13334
@lemonez Apologies for the delayed response. Could you please let us know if you are still facing the same issue?

refer #Azure/azure-cli#13855 for the similar issue. Awaiting your reply.

[2022-03-02 12:09] CalvoM opened #21496 "az vm image terms documentation not updated"
The documentation for `az vm image terms` has not been updated. It is still showing `az vm image accept-terms`,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 90dfc804-87d6-913a-27fe-a9446a04eb13
* Version Independent ID: bfcb97df-2055-9eca-7a93-60811136d8cd
* Content: [az vm image](https://docs.microsoft.com/en-us/cli

[2022-03-02 12:11] navba-MSFT commented on #13896
@lexuanquynh Apologies for the delayed response. If the issue is still occurring, Could you please share the new `correlation id `, time of the issue and the `region` where the resource is being created ? Awaiting your reply.

[2022-03-02 12:17] e14mattc commented on #12885
Yes @navba-MSFT if I run the command in my OP it still fails with the same error.

[2022-03-02 12:25] yonzhan commented on #21496
Compute

[2022-03-02 12:55] BzSpi opened #21497 "Support private endpoint management for AKS (aka Microsoft.ContainerService/managedClusters)"
The API for private endpoint management for AKS clusters has been published with version 2022-01-01, can you please implement the private endpoint related subcommands in the Azure CLI.

The related specs: https://github.com/Azure/azure-rest-api-specs/blob/main/specification/containerservice/resource-manager/Microsoft.ContainerService/stable/2022-01-01/managedClusters.json#L1445

[2022-03-02 12:55] Saglodha commented on #13560
@wolszakp, I tried reproducing the issue with latest version of CLI latest but couldn't. Can you confirm if you are still facing the issue?

[2022-03-02 13:14] petemounce commented on #20695
Are you able to suggest a way to run `az login` non-interactively for a service-principal without the password secret flag?

As in, supply that secret some other way, one that is less prone to leak into a log and become not-secret?

[2022-03-02 13:56] billxu2007 commented on #21466
Hi,

Thank you very much for your help!
1. Can I put the password in the parameters too for this command?
az network bastion ssh --name MyBastionHost --resource-group
MyResourceGroup --target-resource-id vmResourceId --auth-type password
--username xyz

2. after the SSH authentication, in powershell terminal, I can manual enter
the mount share file command, but in script,
If I want to run the linu

[2022-03-02 14:11] RyanHill-MSFT commented on #21425
This issue doesn't occur in Az CLI 2.3.4. If anyone runs into issue, upgrade your CLI.

[2022-03-02 14:11] #21425 closed

[2022-03-02 14:14] andrescodas opened #21498 "NotImplementedError when running: az acr credential show"
## Describe the bug

**Command Name**
`az acr credential show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior:

- `az acr credential show --name tappcontainerregistry.azurecr.io`

## Expected Behavior

- no error

## Environment Summary
[code]
## Additional Context

[2022-03-02 14:43] billxu2007 commented on #21466
Hi

After the bastion SSH connection command, then it will open the terminal of
the VM.
But I need to run a script file to connect, mount share storage, download
the file, then install the app.

Any suggestions to run the whole process as a CLI script?

Thanks,
Bill Xu

PS D:\Work\TC3oE> az network bastion ssh  `

Command group 'network bastion' is in preview and under development.
Reference and s

[2022-03-02 15:18] samaltaskal opened #21499 "Please specify --assignee or --assignee-object-id is required parameters to create a new role assignment for a user, group, or service principal."
**Describe the bug**
As shown below, to create a new role assignment for a user, group, or service principal using Azure CLI command "az keyvault role assignment create" "--assignee or --assignee-object-id" are optional parameters but to create a new role assignment, either "--assignee" or  "--assignee-object-id" is required to specify

![image](https://user-images.githubusercontent.com/33955180/1

[2022-03-02 15:19] lemonez commented on #13334
Hi, thanks for the follow-up. I'm sorry, this was so long ago that I have no idea what exact commands / steps I'd need to take to try to repro this. I am not currently affected by this issue.

[2022-03-02 15:26] navba-MSFT commented on #21465
@StrawnSC As discussed, I am removing the `CXP attention` label and adding the `Service Attention` label since you are actively working on fixing this issue.

[2022-03-02 15:44] bacongobbler commented on #21477
I'm curious why `true` is a required argument for the `--overwrite` flag. Isn't the presence of the `--overwrite` flag enough to assert that the value is true, or is there an implied third value the CLI can provide?

In other words...

[code]

Most CLI parsers work in this manner, so I'm curious why azure-cli chose to approach this differently.

[2022-03-02 16:54] SubhashVasarapu-MSFT commented on #21498
@andrescodas, please retry by updating the Azure-cli to the latest version. Do let us know if you are still not able to bypass this issue.

[2022-03-02 17:08] StrawnSC commented on #19747
Also planning on taking care of this issue myself @navba-MSFT btw. I reopened the issue for tracking / visibility

[2022-03-02 17:55] aslushnikov commented on #21494
We got hit by this as well. Pinned to 2.33.1 so far as a workaround.

[2022-03-02 18:09] arobal opened #21500 "add function "readModules""
Hi,

there is a neat az-function to set the modules of an iot edge device via the command line (set-modules), but the function to read the modules is missing.

This would be quite helpful in some cases (f.e. use the same module config which is already set at one device for several other devices...I know there is the function of deployments...but still I need this function in some cases)

Thank you

[2022-03-02 18:48] dfuture opened #21501 "AZ LOGIN ISSUE: TypeError: __init__() got an unexpected keyword argument 'user_agent'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --use-device-code`

## Expected Behavior

## Environment Summary
[code

[2022-03-02 18:53] mkistler commented on #20499
I believe I saw this error when I had no service bus namespaces defined, so I agree that this is a dup.

[2022-03-02 18:53] #20499 closed

[2022-03-02 19:34] andrescodas commented on #21498
works after updating.  Thanks!

[2022-03-02 19:34] #21498 closed

[2022-03-02 20:10] FlorentATo commented on #21441
@SaurabhSharma-MSFT indeed, I got confused between the AKS cluster system-assigned managed identity and the user-assigned managed identity created for the default agentpool. My mistake 🙇 Feel free to close this issue.

[2022-03-02 20:47] grizzlytheodore opened #21503 "ARM64"
**Resource Provider**

Azure Compute

**Description of Feature or Work Requested**

For Mo:

**Minimum API Version Required**

2021-11-01 ComputeRP
2021-12-01 DiskRP
2021-10-01 GalleryRP

Tag 2021-12-01 will cover all of them

**Swagger Link**

https://github.com/Azure/azure-rest-api-specs/pull/17853/
https://github.com/Azure/azure-rest-api-specs/blob/main/specification/compute/resource-manager/Mi

[2022-03-02 20:49] rayluo commented on #20695
This page describes [a `read -s` technique](https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli#sign-in-with-a-service-principal) that might be what you want.

[2022-03-02 21:17] MatisseHack opened #21504 "Cannot create a flexible scale set with a Windows Server Core image"
## Describe the bug

It seems to be impossible to create a VMSS using flexible orchestration mode and a Windows Server Core image (e.g. `MicrosoftWindowsServer:WindowsServer:2022-datacenter-azure-edition-core-smalldisk:latest`). It seems that the image enables hotpatching by default and there is no way to get hotpatching to work with flexible scale sets.

**Command Name**
`az vmss create`

**Error

[2022-03-02 21:38] ozbillwang commented on #15381
@jiasli 's workaround to install az cli via pip is good enough.

Thanks.

[2022-03-02 21:58] SaurabhSharma-MSFT commented on #21387
@migdaepp Please look into the above suggestions.  Additionally, you could try to upgrade the ML extension to the latest version by using `az extension update -n ml`.

[2022-03-02 22:15] SaurabhSharma-MSFT commented on #21441
@FlorentATo Sure. We will proceed with the closure of this case.  Regarding your second ask please visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

For further details please go through [this](https://docs.microsoft.com/en-us/azure/aks/use-managed-identity) official documentation. Thanks.

[2022-03-02 22:15] #21441 closed

[2022-03-02 22:21] SaurabhSharma-MSFT commented on #21463
@kurt-mueller-osumc Could you please share which subcommand you are using when running with `az postgres` ?

[2022-03-02 22:35] yonzhan commented on #21497
route to CXP team

[2022-03-02 22:40] yonzhan commented on #21499
keyvault

[2022-03-02 22:44] yonzhan commented on #21500
route to CXP team

[2022-03-02 22:45] yonzhan commented on #21501
@jiasli for awareness

[2022-03-02 22:45] sirfamelin commented on #21395
@PARADISSEEKR , this parameter is not part of the swagger spec or the SDK, would it be possible to implement this change only at the Cli layer?

[2022-03-02 22:47] yonzhan commented on #21503
ARM64

[2022-03-02 22:50] yonzhan commented on #21504
Compute

[2022-03-02 23:02] petemounce commented on #20695
I don't think so; both the bash and powershell variants are interactive. My scenario is headless and non-interactive; an automated process with no human interaction.

[2022-03-02 23:55] bmoore-msft commented on #21417
@alex-frankel - are you sure we don't support the ```x-ms-authorization-auxiliary``` header in sub-level deployments?  in order for it to work on RGs it would have to work across subs since an RG in a different tenant also has to be in a different sub... which would mean we had to disable something - which while odd, not unheard of...

@itpropro - have you tried sending the deployment via REST?  I

[2022-03-03 00:30] rayluo commented on #20695
Then you would want this: https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli#sign-in-with-a-managed-identity

[2022-03-03 00:37] zhoxing-ms commented on #21503
Could you provide the design of specific commands and parameters? In this way, we can understand the requirement more clearly and make a effort evaluation

[2022-03-03 00:43] SaurabhSharma-MSFT commented on #21489
@wibbico Could you please share the json file you are using to create the pipeline? Please remove any PII data before sharing the file.

[2022-03-03 00:46] evelyn-ys commented on #21494
@calvinhzy to have a look

[2022-03-03 00:48] evelyn-ys commented on #21477
The hotfix is on the way, `--overwrite` will be accepted after hotfix

[2022-03-03 00:58] evelyn-ys commented on #21499
`--assignee` and `--assignee-object-id` are not required because you can specify any of them. When you specify `--assignee`, `--assignee-object-id` shouldn't be required and vice versa.

But they can't be all `None`, as this command is used for assigning role to some user, sp or group. You have to tell who the assignee is.

[2022-03-03 01:05] jiasli commented on #21501
Please see https://github.com/Azure/azure-cli/issues/21189#issuecomment-1031018427

[2022-03-03 01:05] #21501 closed

[2022-03-03 01:06] #21189 closed

[2022-03-03 01:06] zhoxing-ms commented on #21496
In fact, the document of `az vm image terms` command already exists. [doc link](https://docs.microsoft.com/en-us/cli/azure/vm/image/terms?view=azure-cli-latest)

[2022-03-03 01:35] briglx opened #21505 "Azure CLI use_dynamic_install throws Unhandled promise rejection"
**Describe the bug**
Calling `az config set extension.use_dynamic_install=yes_without_prompt` in the `Azure/CLI` GitHub Action throws the error.

See related issue: https://github.com/Azure/cli/issues/72

**To Reproduce**
- Create GitHub action
- Create a step that uses azure/CLI@v1 action
- Call `az config set extension.use_dynamic_install=yes_without_prompt`

[code]

**Expected behavior**
Code s

[2022-03-03 01:45] zhoxing-ms commented on #21395
@sirfamelin Yes, CLI supports VM and VMSS through the ARM template and does not need to update Swagger and Python SDK.
But we need the example of the reuqest body to the service, just like these examples under directory [compute_request_example](https://github.com/Azure/azure-rest-api-specs/tree/main/specification/compute/resource-manager/Microsoft.Compute/stable/2021-11-01/examples/compute)
Could

[2022-03-03 02:55] #21069 closed

[2022-03-03 02:59] #21426 closed

[2022-03-03 03:08] wangzelin007 commented on #21120
Add two issues here:
https://github.com/microsoft/component-detection/issues/73
https://github.com/microsoft/component-detection/issues/74

[2022-03-03 03:36] keyss-manoj commented on #21495
@SubhashVasarapu-MSFT  I am following this link https://nordicsemiconductor.github.io/asset-tracker-cloud-docs/v1.8.x/docs/azure/GettingStarted/Deploy.html, on step 18, I run this command node **dist/pack/package-function-app.js functionapp.zip** to generate zip file but when I tried to run this command **az functionapp deployment source config-zip -g nrfassettracker -n nrfassettrackerapi --src fu

[2022-03-03 03:52] navba-MSFT commented on #13334
@lemonez Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-03-03 03:52] #13334 closed

[2022-03-03 04:26] navba-MSFT commented on #21492
@Icybiubiubiu Apologies for the late reply. You can run the below commands in order to use Azure CLI on Azure China Cloud:

az login
az account list
az account set -s <subscription-name>

**Note**: Also from the error it seems like the '2022-01-02-preview' API version is not yet available in China East 2. So in the meantime, You could try to use an [older version](https://docs.microsoft.com/en-us/

[2022-03-03 04:44] jeremy-albuixech opened #21507 "Azure-Cli install script doesn't work, issue with the Microsoft ubuntu repository?"
Since approximately 8PM Pacific Time, our CI/CD system fails to build new images due to an issue with packages.microsoft.com.

This is currently still reproducible by using the Azure-Cli install script provided in the cli [documentation](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt#option-1-install-with-one-command)

[code]

**To Reproduce**
Run the bash script pro

[2022-03-03 04:50] jeremy-albuixech commented on #21507
It just started working again, it looks like this issue was happening for about ~30 to 50 minutes, I am wondering if there is a way to see status of the registry?

[2022-03-03 05:26] evelyn-ys commented on #21467
@RunCai I see the authority you provided in the default policy is a link, Shall I use `https://shared***.***.attest.azure.net/` itself or the real link `https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fsharedweu.weu.attest.azure.net%2F&data=04%7C01%7CRun.Cai%40microsoft.com%7C5f7374cc19f2463a67d908d9fb1b7c07%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637816917730113331%7CUnknown

[2022-03-03 05:38] yonzhan commented on #21505
@jiasli for awareness

[2022-03-03 05:40] navba-MSFT commented on #21466
@billxu2007 Thanks for getting back. I am providing a few suggestions here, inline with your questions:

_1. Can I put the password in the parameters too for this command?_

_2. After the SSH authentication, in powershell terminal, I can manual enter the mount share file command, but in script,
If I want to run the linux command to mount a shortage share file inside an Azure cli command, should I

[2022-03-03 05:44] yonzhan commented on #21507
@jiasli for awareness

[2022-03-03 06:30] lmmarsano commented on #21453
@jiasli WSL 1.
[code]

Not installed in VM: it launches native Windows web browser if any argument is an http URL.

[2022-03-03 06:33] calvinhzy commented on #21494
The --content-md5 flag is currently not working properly. Sorry for the inconvenience.
You can try adding storage-blob-preview extension with: `az extension add -n storage-blob-preview`.
Alternatively, you can pin to the previous version or skip this flag.
We will have this fixed in the next release. Again sorry for the inconvenience.

[2022-03-03 06:46] #21453 closed

[2022-03-03 06:55] rogelioamancisidor commented on #16764
a bit off topic, but can you add spot nodes after you enabled `auto-upgrade`?

[2022-03-03 07:36] wibbico commented on #21489
This is an example for a show output
[code]

[2022-03-03 07:41] wibbico commented on #21489
This is an actual output from "show"

`{
  "activities": [
    {
      "additionalProperties": null,
      "dependsOn": [],
      "description": null,
      "name": "Wait1",
      "type": "Wait",
      "userProperties": [],
      "waitTimeInSeconds": 1
    }
  ],
  "additionalProperties": null,
  "annotations": [],
  "concurrency": null,
  "description": null,
  "etag": "***************",
  "folde

[2022-03-03 07:45] wibbico commented on #21489
Expected (actual output from rest api)

[code]

[2022-03-03 08:00] #14111 closed

[2022-03-03 08:00] #13362 closed

[2022-03-03 08:00] #13305 closed

[2022-03-03 08:00] #9295 closed

[2022-03-03 08:24] ptsapralis commented on #21450
Thank you for this reply. All applications are deployed on the Service Fabric using Azure DEVOPS pipelines: are they not compatible with ARM-deployed applications?

[2022-03-03 09:00] dhoeltgen commented on #21377
Is there any solution to this yet?

[2022-03-03 09:09] rozsapeter96 opened #21511 "aks list returns an empty array"
### aks list returns an empty array

Executing aks list CLI command after creating a Kubernetes cluster on the UI returns an empty array. The cluster got listed on the UI properly.

**Command Name**
`az aks list`

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- create a Kubernetes service on the Azure por

[2022-03-03 09:13] yonzhan commented on #21511
route to CXP team

[2022-03-03 09:34] lsnliu commented on #21377
@dhoeltgen - if you just want a work around, install any python before 3.10 then uninstall your current az cli (brew  uninstall azure-cli), then install with python39 -m pip install azure-cli.  It will be functionally the same for this purpose and it will bypass the iterator error

[2022-03-03 09:36] navba-MSFT commented on #19124
@Qi-Jian-Huang-DevOps Apologies for the late reply. Could you please let us know if you are still facing this issue with `what-if ` parameter while using [most recent version ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)of the AzCLI ? Awaiting your reply.

[2022-03-03 09:37] jonas-lomholdt commented on #13777
I ended up using the Service Principal approach instead of the recommended publish profile approach to avoid these issues.

[2022-03-03 09:45] justinyoo commented on #13777
@jonas-lomholdt You might want to take a look at this GitHub Action: https://github.com/marketplace/actions/azure-app-service-publish-profile

[2022-03-03 09:53] pmatthews05 opened #21512 "Warning about the underlying Active Directory Graph API, the link doesn't exist."
**Describe the bug**
When calling given `az ad` commands a warning appears on the screen.
The link doesn't go to a valid page.

WARNING: The underlying Active Directory Graph API will be replaced by Microsoft Graph API in a future version of Azure CLI. Please carefully review all breaking changes introduced during this migration: https://docs.microsoft.com/cli/azure/microsoft-graph-migration

**To

[2022-03-03 09:57] navba-MSFT commented on #19743
@zhoxing-ms Thanks for raising the PR. I see that it has been merged now. If this issue is addressed can we proceed with the archival of this github thread then ?

[2022-03-03 10:01] navba-MSFT commented on #19702
@sourp2693 Could you please let us know if you had a chance to follow the above action plan and see if that fixes your issue ? Awaiting your reply.

[2022-03-03 10:24] jonas-lomholdt commented on #13777
@justinyoo If you are using a SP to `az login` to get the publish profile. What are the benefits of using the publish profile over just the SP? I mean, If I already have the SP with access to the profiles, what benefits will it give? Couldn't find much about that in the documentation.

[2022-03-03 10:52] navba-MSFT commented on #20842
@Zerthick Apologies for the late reply. Could you please let us know if you have been able to test using the above mentioned suggestions ? Please let us know if you are still running into the same issue. Awaiting your reply.

[2022-03-03 10:56] navba-MSFT commented on #19684
@jepio Apologies for the late reply. I was able to reproduce the issue at my end. While looking at the backend logs, I found that the failure was occurring due to the schema validation. Could you please remove the below line from the ARM JSON template and then run the deployment again ?

Awaiting your reply.

[2022-03-03 11:25] #19743 closed

[2022-03-03 12:43] shreya-bajpais1 opened #21514 "Max retries exceeded with url"
I am not able to access my azure clusters.

I am getting this error:-
HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /2d96bd7b-8880-437c-8d23-6a248a2d3323/v2.0/.well-known/openid-configuration (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7feb595dc5f8>: Failed to establish a new connection: [Errno -3] Temporary failu

[2022-03-03 12:48] Kamran-Bilgrami commented on #20886
I upgraded to 2.34.1 and its working again. Thanks for looking into this.

[2022-03-03 12:48] #20886 closed

[2022-03-03 13:15] bcouavoux commented on #13352
Hi,

I don't have exactly the same error but it looks like it. On my pipeline with the ubuntu-latest hosted agent and with the az container exec command :

az container exec --resource-group $rgContainer --name $containerControllerName --exec-command $command

ERROR: The command failed with an unexpected error. Here is the traceback:
ERROR: (25, 'Inappropriate ioctl for device')
Traceback (most re

[2022-03-03 13:28] roodee commented on #11695
Hello everyone,

I ran in this error as well by following [Create resources for a cloud-based, serverless ETL solution using Python on Azure | Microsoft Docs](https://docs.microsoft.com/en-us/azure/developer/python/tutorial-deploy-serverless-cloud-etl-02#7-assign-access-policies-and-roles).

There you have the call

[code]

It's the same, what @swathi-muthiyam already did. Both variables are set a

[2022-03-03 13:58] yonzhan commented on #21514
Which Azure CLI command do you use?

[2022-03-03 14:02] shreya-bajpais1 commented on #21514
az login

[2022-03-03 14:23] PramodValavala-MSFT commented on #21511
@rozsapeter96 Could you confirm if you are setting the right resource group? If you don't pass one, it will use the default from the config or a [persisted param](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-list).

[2022-03-03 14:26] PramodValavala-MSFT commented on #21514
@shreya-bajpais1 Based on the error, DNS resolution has failed. Could you confirm if you are able to access the internet from the shell prompt? You could try running

[code]

[2022-03-03 14:28] PramodValavala-MSFT commented on #21500
@arobal Thanks for the feedback! We are routing this to the concerned team to consider.

[2022-03-03 14:31] xkszltl opened #21515 "Trying to auth in lynx and fail."
**Describe the bug**

When lynx or www-browser executable pointing to lynx is available, az login will use it instead of falling back to device code, but the auth page will say lynx doesn't support javascript and jump to Microsoft homepage.

This is a recent (~months) regression.
Same script and workflow worked fine in docker for a long time.

If the website doesn't work for certain browser, maybe

[2022-03-03 14:31] byteknacker commented on #13655
Any update on this?

[2022-03-03 14:39] shreya-bajpais1 commented on #21514
@PramodValavala-MSFT, I am getting this error:- ";; connection timed out; no servers could be reached".

[2022-03-03 14:59] jhueppauff commented on #10762
Not sure why this issue was closed? I think this still needs attention.
I am facing the same issue when deploying infrastructure as part of an ARM Template/Bicep.

Even if there are no changes in the template, the peering prevents a successful completion of the deployment if you try to apply it a second time.
Shouldn't ARM deployments be declarative and iterative? This behavior seems to be against

[2022-03-03 16:16] jiasli commented on #21507
We have contacted https://packages.microsoft.com/ team and this issue should now have been fixed.

[2022-03-03 16:22] jeremy-albuixech commented on #21507
Thanks!

I can confirm that it started working less than an hour after the initial issue, it did cause us some small troubles during that time since we had to restart a bunch of builds.

I am wondering if there are any actionable items that we can track, for example is there any way to track the status/health of this registry?

[2022-03-03 16:29] jiasli commented on #21507
@jeremy-albuixech, apologize for the inconvenience caused. This issue was caused by a regression introduced by a recent update to  https://packages.microsoft.com/ and the change had been rolled back.

Currently there is no health dashboard for https://packages.microsoft.com/. If you see any problems, please feel free to open a GitHub issue and put something like "URGENT" in the title so that we ca

[2022-03-03 16:29] #21507 closed

[2022-03-03 16:33] jiasli commented on #21512
@pmatthews05, you have sharp eyes. The PR for updating the doc is https://github.com/MicrosoftDocs/azure-docs-cli/pull/2985. We will publish the doc as soon as conversations are resolved.

[2022-03-03 16:48] jiasli commented on #21464
The call stack shows it is Azure CLI 2.33.0 running on Python 3.10:

[code]

It calls MSAL 1.14.0 from Python 3.9's system `site-packages`:

[code]

And Environment Summary shows it is

[code]

I am not sure how the environment becomes so complex. 😅

Since we have set `system_site_packages: false` in the Homebrew formula (https://github.com/Azure/azure-cli/pull/19663), system `site-packages` (`/us

[2022-03-03 17:04] #21451 closed

[2022-03-03 17:20] pmatthews05 commented on #21512
@jiasli I have code that checks/creates a bunch of App Registrations and assigns API permissions. This morning after my update of az cli I just had warning messages everywhere.

That link to the PR you supplied allows me to read the docs. So thank you. Assuming the PR is being accepted shortly, I'm happy to close this.

[2022-03-03 17:57] rozsapeter96 commented on #21511
@PramodValavala-MSFT I retried with --resource-group and with --subscription flags, I got the same result, unfortunately. In the meantime I noticed that the cluster has magically appeared after 3 hours of its creation, which is very odd, I think.

[2022-03-03 18:18] xolve opened #21516 "Add option to interact with storage API using complete URI of storage service"
**Is your feature request related to a problem? Please describe.**
I am experimenting with proxy layer on top existing storage accounts. User calls for operations on storage service using the complete URL e.g. "https://storage.contosoimagesproxy.net". The proxy service in turn connects to underlying storage account e.g. "https://contosoimages1.blob.core.windows.net".

This is currently supported i

[2022-03-03 18:25] xolve commented on #21516
A sample PR for changes here: https://github.com/Azure/azure-cli/pull/21517

[2022-03-03 19:12] speak2beeb commented on #10039
Can we get an update on this?

[2022-03-03 22:02] MisinformedDNA commented on #17468
I'm getting a `'tag_name'` response when _deploying_ bicep files.

<img width="478" alt="image" src="https://user-images.githubusercontent.com/1784452/156659717-31631738-dd85-4ae0-8f36-592f185ee9ed.png">

Everything was working at first, but after a few deployments, it broke somehow and `'tag_name'` is the only response I get. I get the same result in PowerShell Core on Windows Terminal and PS Cor

[2022-03-03 22:29] HarlowBurgess opened #21519 "I needed to az logout before az login --scope ... for it to work"
**Describe the bug**
Minor issue but the guidance given is incorrect/incomplete (at least in my case) for the following error:

    AADSTS50076: Due to a configuration change made by your administrator, or because you moved to a new location, you must use multi-factor authentication to access '_directoryId_'.

The guidance given is:
    To re-authenticate, please run:
    az login --scope https://

[2022-03-03 23:18] yonzhan commented on #21515
@jiasli for awareness

[2022-03-03 23:58] kensykora opened #21521 "system topic subscription update causes error: 'ServiceBusTopicEventSubscriptionDestination' object has no attribute 'destination'`"
**Describe the bug**

Trying to call `az eventgrid system-topic event-subscription update` causes error `AttributeError: 'ServiceBusTopicEventSubscriptionDestination' object has no attribute 'destination'`

**To Reproduce**

1. Create a system topic on a storage account.
2. Create a subscription to that topic. In my use case, I was delivering to a service bus topic with a managed identity access.

[2022-03-04 00:14] yonzhan commented on #21516
storage

[2022-03-04 00:19] yonzhan commented on #21519
@jiasli awareness

[2022-03-04 00:22] yonzhan commented on #21521
route to CXP team

[2022-03-04 01:30] nonpolarity opened #21522 ""az account list" returncode is 0 while not logged in."
**Describe the bug**

After "az logout", "az account list" output is "Please run "az login" to access your accounts.", but the command's returncode is 0, which I think should be a non-zero value.

**To Reproduce**

alvin@wechen3-u20-5:~$ az logout
There are no active accounts.
alvin@wechen3-u20-5:~$ az account show
Please run 'az login' to setup account.
alvin@wechen3-u20-5:~$ az account list
Plea

[2022-03-04 01:52] kairu-ms commented on #20577
Pending for Python SDK release.
The swagger change: https://github.com/Azure/azure-rest-api-specs/commit/cb3a28c6d1d9a8e7bb2487f4493ebcc04853ce2d

[2022-03-04 02:03] yonzhan commented on #21522
@jiasli for awareness

[2022-03-04 02:25] calvinhzy commented on #21522
By design, list commands never return non zero exit code.
It is returning an empty list [], which is not an exception.
Please see  https://github.com/Azure/azure-cli#exit-codes for detailed explanations of the exit code design.

[2022-03-04 02:26] #21494 closed

[2022-03-04 02:31] jiasli commented on #21476
Please see https://github.com/Azure/azure-cli/issues/9501#issuecomment-610979930 for a the Microsoft Graph approach.

Meanwhile, we will publish the first beta version using Microsoft Graph shortly at https://docs.microsoft.com/cli/azure/microsoft-graph-migration. You are very welcome to test it and give us your feedback. 😉

[2022-03-04 03:27] #18854 closed

[2022-03-04 03:42] jiasli commented on #12946
## Discussion: whether to preserve deprecate AD Graph parameter names

There has been an internal discussion recently about whether we should **preserve deprecated AD Graph parameter names**.

For Azure PowerShell, after the Microsoft Graph migration, **it uses deprecated AD Graph parameter names as official names, and new Microsoft Graph parameter names as aliases**. For example, according to htt

[2022-03-04 04:32] navba-MSFT commented on #21497
@BzSpi Apologies for the late reply. Could you please let us know your use case so that this will help us to look into this ask on priority ? Awaiting your reply.

[2022-03-04 04:41] PramodValavala-MSFT commented on #21514
@shreya-bajpais1 In that case, Azure CLI can't really do much on its own. You would want to check network settings to first restore internet access or check any firewall rules that might be blocking access.

[2022-03-04 04:55] navba-MSFT commented on #21447
@bruno-salapic I wanted to do quick follow-up to check if you had a chance to look at my above comment.  Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-03-04 05:45] vyshakkiradathil opened #21524 "AZ Login failed with errors"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-03-04 05:46] vyshakkiradathil commented on #21524
Fixed the connection issue!

[2022-03-04 05:46] #21524 closed

[2022-03-04 06:04] navba-MSFT commented on #21521
@kensykora Thanks for reaching out to us. I am doing some research on this issue. I was able to run this command successfully without enabling the managed identity. Could you please test the same at your end ? Awaiting your reply.

[2022-03-04 06:16] kensykora commented on #21521
Hi @navba-MSFT I can confirm it works correctly when I do not have managed identity enabled. However, for my use case I want to use managed identity for the connection. Thanks for looking into it!

[2022-03-04 06:28] #21522 closed

[2022-03-04 06:41] navba-MSFT commented on #10039
@speak2beeb Thanks for getting back. Apologies for the delay. I was able to run the exec command on my container with "ls -l". Please find below the steps I followed:

**Note**: In the above command, I have specified the "tail -f /dev/null" to keep the connection alive. Else the container will terminate. More Info [here](https://docs.microsoft.com/en-us/azure/container-instances/container-instance

[2022-03-04 07:24] navba-MSFT commented on #21377
@lsnliu E2e scenarios for AzureML is not validated on python 3.10. We will update the python requirements dependencies on next sdk release to fix the documentation highlighted below in red.  More Info here[ azureml-core · PyPI](https://pypi.org/project/azureml-core/).

![image](https://user-images.githubusercontent.com/57353862/156718192-73910312-c181-45f2-9734-79b53d5f0747.png)

[2022-03-04 08:00] #9197 closed, assigned to nobody

[2022-03-04 08:13] SayakMukhopadhyay commented on #20511
This might also be useful in non-interactive scenarios, in which case, the user should be able to tell `get-credentials` to fetch non-interactive `kubelogin` command args.

[2022-03-04 08:18] bertrandpons commented on #12427
@navba-MSFT thank you for your follow-up. You can close the issue.

[2022-03-04 08:18] #12427 closed

[2022-03-04 08:29] trirahul opened #21526 "Azure Cli az login not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-03-04 09:05] navba-MSFT commented on #10626
@psgivens Apologies for the late reply. [This](https://docs.microsoft.com/en-us/cli/azure/interactive-azure-cli?view=azure-cli-latest) official article has the right documentation. Could you please look into it and let us know if there are any issues? We would be happy to address it. Awaiting your reply.

[2022-03-04 09:09] jelledruyts commented on #21328
@yonzhan @kairu-ms I'm not sure what the process is for CLI repo contributions but is there any action required on me please? Can we look to incorporate this small change to remove confusion for customers?

[2022-03-04 09:10] RiccardoSofi commented on #21211
SOLVED: INSTALL azure-cli-2.20.0 ANGULAR CLI

Angular CLI versions over azure-cli-2.20.0 do not provide any accessToken.json fully filled files.
When trying 'az login' my file was empty and STS was not able to build with succes.

My STS version is:

Spring Tool Suite 4
Version: 4.10.0.RELEASE
Build Id: 202103111225

and they seems dont work properly togheter.

[2022-03-04 09:39] navba-MSFT commented on #14578
@JohnKeippel Apologies for the late reply. This issue is open for quite sometime. Could you please let us know if you still need any further assistance on this issue ? Awaiting your reply.

[2022-03-04 10:18] jiasli commented on #21526
Duplicate of #20388

[2022-03-04 10:18] #21526 closed

[2022-03-04 10:19] jiasli commented on #21357
Duplicate of #20388

[2022-03-04 10:19] BCOps opened #21529 "az vm create command generates stderr for public-ip behaviour change"
## Describe the bug

**Command Name**
az vm create (as below)

az vm create -g $rgName -n $vmName --location $location
            --nics $nicName--image $image --size $vmSku
            --data-disk-sizes-gb $size--storage-sku $storageSku
            --admin-username $userName --admin-password $pwd
            --tags @("tag1=value1","tag2=value2")
            -o json

**Errors:**
Error generated f

[2022-03-04 10:20] #21357 closed

[2022-03-04 11:06] egoward opened #21531 "Link to format of JSON file"
Hi there,

This page talks about a file which may or may not be JSON.  It would be great to call out how it should be structured and give an example.  Azure CLI seems to come back with "not enough values to unpack" for me which isn't super helpful.

Thanks,

Ed

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 30f2ae52-2c

[2022-03-04 11:49] martinsfsf commented on #18052
Here also the same. no out from service connection:
 az devops service-endpoint list --project "my-project"
[]

[2022-03-04 11:58] dhoeltgen commented on #21377
@lsnliu - thank you that worked perfectly. There wasn't even the need for a new login or configuration.

[2022-03-04 12:38] hentie commented on #8388
The issue still exists:  You cannot specify the name of the consumption plan when creating a new function app.  The name of the consumption plan is based on the location, which is not desired.

[2022-03-04 13:50] jwshive opened #21532 "Azure CLI no longer installs from documented command on ubuntu linux 21.10."
**Describe the bug**
When attempting to install azure cli from the instructions here: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt
Running curl -sL https://aka.ms/InstallAzureCLIDeb | bash results in

Package azure-cli is not available, but is referred to by another package.
This may mean that the package is missing, has been obsoleted, or
is only available from an

[2022-03-04 13:56] yonzhan commented on #21529
Compute

[2022-03-04 13:57] yonzhan commented on #21531
route to CXP team

[2022-03-04 13:58] yonzhan commented on #21532
@jiasli for awareness

[2022-03-04 14:13] JohnKeippel commented on #14578
Looks like this wording was removed last year so this issue can be closed. Thanks.

[2022-03-04 14:13] #14578 closed

[2022-03-04 14:56] BzSpi commented on #21497
Hi @navba-MSFT

I'm trying to approve a private connection (without auto approval) from the Azure CLI.
Here's the command and the error message

Command
[code]

Error
[code]

[2022-03-04 15:24] marlowp opened #21533 "Add `--no-wait` parameter to `az postgres flexible-server start/stop` commands"
**Is your feature request related to a problem? Please describe.**
The command to start/stop the postgres flexible-server instance can be long-running. This can cause issues in automated environments where many start/stop operations are being performed sequentially.

**Describe the solution you'd like**
Add a `--no-wait` parameter to the start/stop commands.

**Additional context**
The `--no-wait`

[2022-03-04 15:37] speak2beeb commented on #10039
Same error, sir:
$ az container exec -n XX -g XX --container-name XX --exec-command "tail -f /dev/null"
**OCI runtime exec failed: exec failed: container_linux.go:380: starting container process caused: exec: "tail -f /dev/null": stat tail -f /dev/null: no such file or directory: unknown**

Also adding this note: I upgraded my local azure-cli from version 2.33.1 to 2.34.1 and still have the same e

[2022-03-04 15:38] yonzhan commented on #21533
route to CXP team

[2022-03-04 15:55] navba-MSFT commented on #10039
@speak2beeb Could you please check my above command again ? I created the container first using **--command-line** and then ran the **exec** command.

[2022-03-04 15:58] navba-MSFT commented on #21239
@pwillia6 We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-03-04 15:58] #21239 closed

[2022-03-04 16:33] szofar commented on #21080
@StrawnSC Agreed. That would be a little easier to decipher than nested raised exceptions. Thanks!

[2022-03-04 17:18] italukder commented on #20848
Subject : my certified will be always sefe.  I ame not give my certificd authentic   I am not sell my certified. third party will not fre used my certified. Only my family  my certified free used

leader Saudi Arabic government

[2022-03-04 17:24] italukder commented on #20848
Subject : global Band and Tredemarks protocol trust bord organization

[2022-03-04 17:49] italukder commented on #20848
Subject : global Milestone media player protocol trust bord organization

example...
....
...

[2022-03-04 18:09] neoswallow opened #21534 "az pipelines run --parameters is throwing unrecognized arguments error"
**Describe the bug**
running `az pipelines run` with `--paramters` option throws **_unrecognized arguments: --parameters_** error.

**To Reproduce**
`az pipelines run --id 3 --parameters platform=ios --output table`
result in
`unrecognized arguments: --parameters platform=ios`

**Expected behavior**
It should run the pipeline of given id with parameter platform set to ios

**Environment summary**

[2022-03-04 18:18] italukder commented on #20848
subject : global melkeyway business protocol trust bord organization.

example.

middle east public business policy

[2022-03-04 18:20] italukder commented on #20848
Subject : global galaxy business protocol trust bord organization

example.
...
....

[2022-03-04 18:30] aramase commented on #20554
Is there any update on this issue? I'm running into this issue on my dev vm and mac. It would be good to summarize the resolution steps/fix for other users running into this issue.

[2022-03-04 18:42] Azferry commented on #15899
Is there an update on the feature request?

[2022-03-04 19:02] montereyharris commented on #13768
Can Incremental Mode be declared in bicep?

[2022-03-04 19:12] grizzlytheodore commented on #21503
@zhoxing-ms  added design

[2022-03-04 19:29] YarinPinyan commented on #15893
Hi Team, Any update on that? is it going to be fixed? @msftbot
This is a serious pain for us in running clusters

[2022-03-04 20:27] chuculain opened #21535 "Unable to add az extension rdbms-connect in cloud shell"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I am unable to add az extension rdbms-connect from the  cloud shell.

**Command Name**
`az extension add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az

[2022-03-04 20:46] chuculain commented on #21535
Here is the output when the command is run with debug:

**az extension add --upgrade -n rdbms-connect --debug**
cli.knack.cli: Command arguments: ['extension', 'add', '--upgrade', '-n', 'rdbms-connect', '--debug']
cli.knack.cli: __init__ debug log:
Enable color in terminal.
cli.knack.cli: Event: Cli.PreExecute []
cli.knack.cli: Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_

[2022-03-04 21:37] kyclai opened #21536 "[Service Team Request] Azure CLI support for Azure Healthcare APIs"
**Resource Provider**
HealthcareApis

**Description of Feature or Work Requested**
Azure Healthcare APIs is a set of managed API services based on open standards and frameworks that enable workflows to improve healthcare and offer scalable and secure healthcare solutions.
Feature overview: https://azure.microsoft.com/services/healthcare-apis
Feature documentation: https://docs.microsoft.com/azure/

[2022-03-04 23:11] yonzhan commented on #21534
route to CXP team

[2022-03-04 23:16] yonzhan commented on #21535
route to CXP team

[2022-03-04 23:18] yonzhan commented on #21536
PLR

[2022-03-05 04:02] kcheeeung opened #21537 "az synapse spark job submit --configuration confusing"
Can you tell me is supposed to be the format of the file contents? Example or link to example???

az synapse spark job submit --configuration (looks like some json file)

Description:
The configuration of Spark job.

My config.json tried
[code]
{
    "spark.jars": "/myapp.jar"
}
[code]

[2022-03-05 05:02] #21537 closed

[2022-03-05 05:10] horihiro commented on #19624
Please try with JSON `{}` as a request body and `Content-Type: application/json` as a request header when using curl, wget, or Postman.

[2022-03-05 08:00] #20803 closed

[2022-03-05 08:00] #20506 closed

[2022-03-05 08:00] #9004 closed

[2022-03-05 10:22] DanJoh74 opened #21538 "Enable autorotation for an existing cluster"
## Describe the bug

Enable autorotation for an existing cluster as [described here](https://docs.microsoft.com/en-us/azure/aks/csi-secrets-store-driver#enable-and-disable-autorotation) results in `The command failed with an unexpected error`.

**Command Name**
`az aks update`

**Errors:**
[code]

## To Reproduce:
Enable autorotation for an existing cluster as [described here](https://docs.microso

[2022-03-05 11:13] nishil-ck opened #21539 "application-security-groups with az cli"
Hello all,

I am facing a problem to remove the applications security group from Azure VM. I was looking for an option, however couldn't get it.  I was able to use the az network nic ip-config update with --application-security-groups for adding the ASG to VM nic. Does anyone know the option in az cli ?

[2022-03-05 12:55] yonzhan commented on #21538
route to CXP team

[2022-03-05 12:56] yonzhan commented on #21539
network

[2022-03-05 13:17] nishil-ck commented on #21539
az network nic ip-config update  -g $RG --nic-name $NIC --name $IPCONFIG --application-security-groups $ASG  This is the command I used to update the asg, however same command doesnt show an option to remove the ASG from the ipconfig.
https://docs.microsoft.com/en-us/cli/azure/network/nic/ip-config?view=azure-cli-latest#az-network-nic-ip-config-update

[2022-03-05 18:50] italukder commented on #20848
Subject : global sunset cyber and server networking trust bord organization.

example.
1.global cyber networking protocol
2. global server networking protocol

[2022-03-06 02:14] zhoxing-ms commented on #13768
@Shenglol Could you please help answer this question?

[2022-03-06 06:31] navba-MSFT commented on #21492
@Icybiubiubiu I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-03-06 07:54] italukder commented on #20848
Subject : global consumer produce business protocol trust bord organization

[2022-03-06 10:38] Tbohunek commented on #12946
@jiasli Would it be sensible to keep the old names as aliases where it makes sense? Like I'm not looking forward to typing `--web-home-page-url` not to mention I'm not going to remember it.

[2022-03-06 17:16] petemounce commented on #20695
@rayluo thanks for the steer. I'm unfamiliar with Azure so far. When I read https://docs.microsoft.com/en-us/azure/active-directory/managed-identities-azure-resources/overview#how-can-i-use-managed-identities-for-azure-resources it seems to suggest managed identities can only be used when working within Azure resources (I mean; inside Azure-hosted things).

Is that accurate? I'm working with on-pr

[2022-03-06 20:06] italukder commented on #20848
Subject : Digital world protocol trust bord organization

[2022-03-06 20:14] florentpln opened #21540 "Java NPE error and java minor version selection"
I have a Azure Linux Webapp using Apache poi that is raising the following error:

java.lang.InternalError: java.lang.reflect.InvocationTargetException
at java.desktop/sun.font.FontManagerFactory$1.run(FontManagerFactory.java:86)
at java.base/java.security.AccessController.doPrivileged(Native Method)
at java.desktop/sun.font.FontManagerFactory.getInstance(FontManagerFactory.java:74)
...
Caused by:

[2022-03-06 21:17] blue928 commented on #20168
***This is URGENT***.  Please advise steps to regain access to my professional work and workspace.

I have had a Microsoft account for personal use / xbox for years. I signed up for DevOps and other technology services with the same email that I accessed through portal.azure.com. Created a significant amount of work over the past several weeks. Today, I was asked to change my password. When I did,

[2022-03-07 00:08] yonzhan commented on #21540
route to CXP team

[2022-03-07 01:03] kairu-ms commented on #21328
Hi @jelledruyts, are you talking about this command? https://github.com/Azure/azure-cli/blob/086e8934ed2c18c65debfb8a867e05961bd3521a/src/azure-cli/azure/cli/command_modules/monitor/_help.py#L822-L876

[2022-03-07 01:19] kairu-ms commented on #21539
Hi @nishil-ck, you can pass an empty string for `--application-security-groups` which will remove the it.

for bash you can use `--application-security-groups ""` for powershell you can use `--application-security-groups '""'`

[2022-03-07 01:55] brunobertechini commented on #16271
We just hit the same issue for one of our production workloads. Tried to restart a MySQL flexible server and it is stuck in restarting. We can't even access the backups to be able to spin up a new one. Does anyone know of a way to access the latest backup? This does not look like it should be prevented when the server is down.

[2022-03-07 01:58] evelyn-ys commented on #21535
@DaeunYim Can you check if Cloud Shell has related dependencies already?

[2022-03-07 02:28] tinwa0007 opened #21541 "CDN"
[Enter feedback here]
issue is about AZ CLI to enable HTTPS cx domain with key vault.
az cdn custom-domain enable-https --endpoint-name
                                  --name
                                  --profile-name
                                  --resource-group
                                  [--min-tls-version {1.0, 1.2, none}]
                                  [--subscription]

[2022-03-07 02:35] #21120 closed

[2022-03-07 02:42] jiasli commented on #12946
For `--homepage`, we can surely do it, as it is a one-one mapping to `--web-home-page-url`, unlike `--reply-urls` which doesn't have a definitive mapping:

@maartengo, @anarsen, @bbkane, any thoughts?

[2022-03-07 02:46] ramganesh19 opened #21542 "Failed to create container with exisiting vnet and subnet"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az container create --resource-group {} --name {} --image {} --cpu {

[2022-03-07 02:58] jiasli commented on #20695
This is true.

For a on-premise headless/non-interactive environment, we recommend using service principal login as described in the link @rayluo shared: https://docs.microsoft.com/en-us/cli/azure/authenticate-azure-cli#sign-in-with-a-service-principal

If you care about credential leak, please make sure Bash doesn't echo the command themselves. That it, DON'T RUN:

[code]

Also make sure logging

[2022-03-07 03:19] jiasli commented on #20168
@blue928,

Based on my understanding, you cannot sign in to Azure Portal either, right? For that case, could you clear the browser cache or use InPrivate or Incognito mode?

After clearing the browser cache, run `az account clear` and `az login`, but only select the account you use to access Azure resources, and see if the error is gone.

[2022-03-07 03:43] jiasli commented on #15425
As explained in https://github.com/Azure/azure-cli/issues/14086#issuecomment-665472339:

`az ad` commands are designed and implemented to assist integrating AAD with Azure, instead of as a fully functioning client to interact with AAD. You may use `az rest` to call Microsoft Graph API directly. See https://github.com/Azure/azure-cli/issues/12946 for examples.

[2022-03-07 03:51] jiasli commented on #21532
Currently, we are limited by https://packages.microsoft.com/'s ability to publish a zstd-compressed deb packages, so 21.10 Impish is not yet supported (https://github.com/Azure/azure-cli/pull/21151). Also, based on my previous knowledge, 21.10 Impish is not binary-compatibly with 20.04 Focal.

We are working tightly with https://packages.microsoft.com/ to support zstd compression so that we can su

[2022-03-07 04:07] navba-MSFT commented on #21542
@ramganesh19 Thanks for reaching out to us. This issue is addressed in Azure/azure-cli#17486. Could you please use the [most recent version ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli)of Azure CLI and then try running the same command ? Awaiting your reply.

[2022-03-07 06:03] navba-MSFT commented on #21538
@DanJoh74 Apologies for late reply. I was able to run the below command for my existing AKS cluster:

I am sending you the az version that I used. Could you please try with the same and let me know if you face any issues? Awaiting your reply.

{
"azure-cli": "2.32.0",
"azure-cli-core": "2.32.0",
"azure-cli-telemetry": "1.0.6",
"extensions": {
"aks-preview": "0.5.51",
"application-insights": "0.1.1

[2022-03-07 06:07] yonzhan commented on #21541
route to CXP team

[2022-03-07 06:10] yonzhan commented on #21542
route to CXP team

[2022-03-07 06:28] navba-MSFT commented on #21534
Adding Service Attention label for the service team to look into this.

[2022-03-07 06:33] jiasli commented on #21535
The issue is because Cloud Shell doesn't have `sudo` command.

https://github.com/Azure/azure-cli/blob/2e87ac82207b345be80aa7051cabf5071f1b94dd/src/azure-cli-core/azure/cli/core/extension/operations.py#L219-L224

I commented on it in https://github.com/Azure/azure-cli/pull/21294#r806475019 and now these lines are indeed causing problems. 🤔

[2022-03-07 06:38] Tbohunek commented on #12946
The idea was that alias follows the current/original use, so  `--reply-urls` would alias to `--web-redirect-uris`, but I see this isn't very popular idea, so never mind.

[2022-03-07 06:58] navba-MSFT commented on #21434
@Segflow Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-03-07 06:58] #21434 closed

[2022-03-07 07:02] navba-MSFT commented on #21466
@billxu2007 I wanted to do quick follow-up to check if you have any follow-up questions on this. Awaiting your reply.

[2022-03-07 07:38] navba-MSFT commented on #21497
@BzSpi Thanks for your reply. I am looking into this ask. I have also reached out to the Product Owners in the background to check the Azure CLI command supportability for the private endpoint in AKS. I will get back on this thread once I have more details.

[2022-03-07 07:45] navba-MSFT commented on #21521
@kensykora Thanks for getting back. I am looking into this issue. I will get back to you once I have an update.

[2022-03-07 08:08] Icybiubiubiu commented on #21492
@navba-MSFT Thanks for your prompt response. I have been taken AL these days.
I know it is this API is not available in ChinaEast2. If it is convenient for you, could you please help to follow up the ETA of this API in ChinaEast2?

Thanks in advance.

[2022-03-07 08:12] kpnjacobstruiksma commented on #21156
Any updates on this issue?

[2022-03-07 08:17] arambazamba commented on #21476
@jiasli  thanks that helped ... I actually found this post before but did not take the time to try it out because there were so many posts to try ... I think for less experienced users it would be great to have some kind of application type switch in the azure cli

[2022-03-07 08:26] chengyu-liu-cs commented on #12939
I am having the same issue. Is there complete working solution/example ? @jiasli

@Michael-Coetzee What else did you do to create a service principal from a service principal beside the two command lines you used ?

az rest -m POST --uri "https://graph.microsoft.com/v1.0/applications" --body '{ "displayName": "Test-App" }'
az rest -m POST --uri "https://graph.microsoft.com/v1.0/servicePrincipals/"

[2022-03-07 08:27] jiasli commented on #16123
I can reproduce:

[code]

This issue is because commands like `az ad group member list` or `az ad sp owner list` don't have `transform_graph_objects_with_cred` transform which is applied to commands like `az ad sp show` or `az ad sp credential list`:

https://github.com/Azure/azure-cli/blob/487d00ea03741e245353dad8e26c4beab39fe176/src/azure-cli/azure/cli/command_modules/role/commands.py#L28

Of co

[2022-03-07 08:46] jelledruyts commented on #21328
Hi @kairu-ms, yes those commands include either `--log` or `--metrics` which contain `diagnosticSettings` but the schema isn't mentioned, only examples. I'd say the following actions would be good:

- Under the **Optional parameters** header, the `--logs` and `--metrics` parameters should link to the schema definitions, respectively [here](https://docs.microsoft.com/rest/api/monitor/diagnostic-set

[2022-03-07 10:02] nishil-ck commented on #21539
Hello @kairu-ms. Thanks a lot. I tested with the option and it worked 👍 .
Thanks a lot for your help.

[2022-03-07 10:04] navba-MSFT commented on #14404
@AccsoSG Apologies for the late reply. Could you use the template mentioned [here](https://stackoverflow.com/questions/57768203/how-to-set-selected-networks-in-storageaccount-via-arm-template) and check if you are still facing this issue ? Awaiting your reply.

[2022-03-07 10:18] junaidahmed92 opened #21548 "az webapp list is showing null values for siteConfig"
I want to get list of all webapps where healhCheckPath is not nult. I tried `az webapp list --query "[?not_null(siteConfig.healthCheckPath)].{Name:name, ResourceGroup:resourceGroup}"` and `az webapp list --query "[?siteConfig.healthCheckPath!=null].{Name:name, ResourceGroup:resourceGroup}"`  but the cli was returning empty array. I then ran the command `az webapp list --query "[?name=='web_app_whe

[2022-03-07 10:19] rifaterdemsahin opened #21549 "az pipelines variable-group variable create does not have the automation to link to key vault"
az pipelines variable-group variable create does not have the automation to link to key vault

I need to link my key vault keys with automation to the secrets.
I could not locate it here

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: a067cc50-3fa1-3f19-1c8f-d0077be070d8
* Version Independent ID: 6a0e745f-e9ee-644a-85ce

[2022-03-07 10:47] jiasli commented on #12946
No, no. This is definitely a very constructive idea. That's exactly why I am so hesitating on the change. 😊

[2022-03-07 10:51] navba-MSFT commented on #20398
@j-diket Apologies for the late reply. I ran the below commands and that worked. I couldn't reproduce the issue.

az bicep version

Could you please let me know if you still run into the same issue ? Awaiting your reply.

[2022-03-07 10:58] navba-MSFT commented on #20188
@yangchengs Apologies for the late reply. Could you please try to run the below command instead ?

Refer [this](https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-update) for more details. Please let me know if you need any further assistance on this. Awaiting your reply.

[2022-03-07 11:26] Svessir commented on #21247
Any update on this issue?

[2022-03-07 12:00] yonzhan commented on #21548
route to CXP team

[2022-03-07 12:00] yonzhan commented on #21549
route to CXP team

[2022-03-07 12:00] DanoThom commented on #20892
FYI, this is failing in the Azure Portal also for certain functions that have function key interactions:
<img width="731" alt="image" src="https://user-images.githubusercontent.com/4973075/157030563-ac5ff317-d0a2-43d3-8b51-b30e4bb10c92.png">

[2022-03-07 12:23] billxu2007 commented on #21466
Thank you very much for your email, my client changed his plan, use another
way to do it since this way is a manual operation.

Thanks again
Bill Xu

On Mon, Mar 7, 2022 at 2:02 AM navba-MSFT ***@***.***> wrote:

[2022-03-07 12:35] kairu-ms commented on #21328
Thanks @jelledruyts, we will fix it.

[2022-03-07 12:42] junaidahmed92 commented on #16698
Any update on this as I am also facing kind of same issue with `az webapp list --query "[?name=='web_app_where_health_check_is_enabled']"` where it's showing null value for siteConfig.healthCheckPath

[2022-03-07 12:43] jwshive commented on #21532
@jiasli I can probably use the pip work around, but I'm still confused how this did work, but is only broke after the most recent  update. We were using this package in our 21.10 container successfully but can no longer. I see the ticket you references is from January so I don't know if I fully understand how something working and is now no longer working relates to a ticket from 2 months ago.

[2022-03-07 13:11] dayland commented on #20501
As a follow up to this... `az synapse pipeline show` and `az synapse trigger show` provides all the necessary JSON components now. However you cannot simply take the JSON from the show option and use it in a create command. We were able to use some fairly simple jQuery to convert the output into a valid format...

Example:
[code]

The output of this is then usable for:

[code]

[2022-03-07 13:42] navba-MSFT commented on #21466
@billxu2007 Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-03-07 13:50] billxu2007 commented on #21466
Great, thanks!

Thank you very much for your help again!

Cheers,
Bill Xu

On Mon, Mar 7, 2022 at 8:42 AM navba-MSFT ***@***.***> wrote:

[2022-03-07 15:05] nishil-ck opened #21551 "application-security-groups update with multiple ip configurations in vm nic"
Hello,

I have a scenario with multiple IP address on the vm nic and I have to add this vm into application security group as well. The az cli worked well with single ip configuration, but failed to update with multiple configurations.

`az network nic ip-config list -g $RG --nic-name testvm96 --query "[].id" -o tsv |awk -F'/' '{print $11}'
ipconfig1
ipconfig2`

`az network nic ip-config update  -

[2022-03-07 15:20] aistvan opened #21552 "Cannot set secret contains quotes, dollar sign, etc"
[code]

got

`ABC$$123==)`

with

`$secret = "ABC'$$123==)"`

got

`ABC'$secret123==`

Wired.
What I expect, the ability to set secret contains ANY character from my keyboard. Like '"+!%/=()~ˇ^˘°˛`˙´˝¨÷×¤ß$Ł|\<>#&@{};*,-?:_

[2022-03-07 16:28] speak2beeb commented on #10039
Hello Msft,
I've ran the following commands and still getting the same error.

[code]

You mentioned above "I have specified the 'tail -f /dev/null' to keep the connection alive." This doesn't quite make sense since the container is running fine. That is why I'm able to successfully run _any_ command without a space (such as "ls").

[2022-03-07 18:05] kensykora commented on #21521
I was able to work around this with an `az rest` call. If you'll excuse the terraform -- I think you can get the gist of it though. Looks like it actually needs `deliveryWithResourceIdentity` property instead of `delivery` property.

[code]

[2022-03-07 18:46] abbassayyed-msft opened #21554 "‘ascii’ codec can’t encode character’s - NVIDIA® NVLink®"
**Describe the bug**
**Bash Script :**
Running Azure CLI via sh script (Bash) which run Python script.
CLI is run as a part of MLOps deployment via Bash

**CLI command from sh script -**

     #!/bin/bash
    az ml run submit-script -g ResourceGroupName  -e ExpName -w MLWorkSpaceName --ct ComputeName -d 'conda_dependencies.yml'  'Deploy.py'

**Error Message**
[code]

**Failing on :**

    . Please

[2022-03-07 22:31] osmadrig opened #21555 "az Keyvault list-deleted wrong information"
[Enter feedback here]
Hello Team,

I found where reads "When --resource-type is not present the command will list all deleted vaults and HSMs." Is misleading because the Manage HSM are not listed. If is not specific  --resource-type Manage HSM will not be listed . Test have been done.

![image](https://user-images.githubusercontent.com/101149235/157128854-682c1973-cb5c-430a-88f9-72c19fc36c73.png)

[2022-03-07 23:05] SaurabhSharma-MSFT commented on #21462
@dayland I have got confirmation internally that `2021-06-01-preview` version is not enabled in non-public regions.  You should be using the latest stable version of the SDK/CLI.
Also, you can try to use [az rest](https://docs.azure.cn/zh-cn/cli/reference-index?view=azure-cli-latest#az-rest) with [REST API Big Data Pools - Get - REST API](https://docs.microsoft.com/en-us/rest/api/synapse/big-data-

[2022-03-07 23:57] andrewegel commented on #7368
Hi there-

Also a random user stumbling on this issue- I have some feedback for the package maintainers who build the azure-cli debian packages, which is that its not genuine to mark a debian package as "all" or "any" if said package ships a binary that is architecture dependent [1].

Interestingly enough the team is correctly marking the RPMs as being x86_64 architecture [2] but is not noted in y

[2022-03-08 00:06] yonzhan commented on #21551
network

[2022-03-08 00:06] yonzhan commented on #21552
keyvault

[2022-03-08 00:17] yonzhan commented on #21554
route to CXP team

[2022-03-08 00:18] yonzhan commented on #21555
keyvault

[2022-03-08 00:48] lordisp commented on #15010
I have the following error:
[code]

However, the provider-operation `Microsoft.Network/privateEndpoints/privateDnsZoneGroups/delete` does not exist.
Any ideas?

[2022-03-08 01:21] fidelcasto commented on #15010
You need to be assigned contributor role in the IAM menu of the ressource you want to delete.

[2022-03-08 01:38] evelyn-ys commented on #21552
May I know which cmd are you using? Bash or Powershell or windows bash?

[2022-03-08 02:23] jiasli commented on #21532
This is because the script https://aka.ms/InstallAzureCLIDeb checks whether `impish` is in https://packages.microsoft.com/repos/azure-cli/dists/. If not, it falls back to `focal`.

Previously there is no `impish` in https://packages.microsoft.com/repos/azure-cli/dists/ so it installs from `focal`, but now there is, so the script tries to install from `https://packages.microsoft.com/repos/azure-cli

[2022-03-08 04:09] navba-MSFT commented on #21497
@BzSpi I had a follow-up question on this. In your use case, Are you trying to connect to a private AKS cluster from another vnet? Are you not able to peer ? Awaiting you reply.

[2022-03-08 04:24] alex-frankel commented on #21417
@bmoore-msft -- definitely not sure. This was what I was told when I spoke to Marc. Do you have any examples of using the header at RG scope? That'll be helpful in getting a definitive answer.

[2022-03-08 04:27] jiasli commented on #21247
DNS resolution looks good. Could you check if Python can access https://login.microsoftonline.com/ ?

Use the Azure CLI image:

[code]

Use official Python image based on Alpine:

[code]

However, I don't think this problem is caused by Azure CLI image. I would recommend checking the docker or Hyper-V configuration instead.

[2022-03-08 08:00] #20132 closed

[2022-03-08 08:00] jiasli commented on #12946
Thanks @joukevandermaas for the feedback.

I totally understand your concern. This is very valuable user voice. As you can see from this GitHub issue, this is the decision of AAD Graph service and we Azure CLI team also have been spending lots of effort adopting the new Microsoft Graph API, but I believe Microsoft Graph is introducing more functionalities and will definitely be a better successor

[2022-03-08 08:00] #19654 closed

[2022-03-08 08:00] #17829 closed

[2022-03-08 08:00] #12351 closed

[2022-03-08 08:00] #11891 closed

[2022-03-08 08:00] navba-MSFT commented on #21549
Adding the Devops pipelines service team to look into this.

[2022-03-08 08:00] #9878 closed

[2022-03-08 08:00] #9778 closed

[2022-03-08 08:34] navba-MSFT commented on #12267
@alopix Apologies for the late reply. We will update this thread once we have more details.

@munozemilio Could you please provide an update on this ? Awaiting your reply.

[2022-03-08 08:37] anassk opened #21560 "az devops command throw an exception"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az devops`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az devops {}`

## Expected Behavior

## Environment Summary
[code]
## Addition

[2022-03-08 08:41] navba-MSFT commented on #13016
@saisharank Apologies for the late reply. Could you please let me know if you are still facing this issue ? Awaiting your reply.

Similar issue #11433

[2022-03-08 08:43] lordisp commented on #15010
@fidelcasto I your answer is a replay to my post, I don't want to assign the `contributor` role. Insead I'm working on a `custom role` for a `service-principal` in `azure-devops pipeline`. However the failed provider-operation does not exist.

[2022-03-08 08:59] navba-MSFT commented on #13502
@huski1017 Apologies for the late reply. For the _webchat_ only **show** command is currently available in CLI. Refer [this](https://docs.microsoft.com/en-us/cli/azure/bot/webchat?view=azure-cli-latest#az-bot-webchat-show). Please let us know if you have any further questions on this. Awaiting your reply.

Refer similar issue here https://github.com/microsoft/BotFramework-WebChat/issues/2913

[2022-03-08 09:05] yonzhan commented on #21560
route to CXP team

[2022-03-08 09:12] PramodValavala-MSFT commented on #21548
@junaidahmed92 Looks like this is a limitation of the underlying REST API ([Web Apps - List](https://docs.microsoft.com/en-us/rest/api/appservice/web-apps/list)) where it doesn't include `siteConfig` data. I will check with the concerning team for more insights.

[2022-03-08 09:13] navba-MSFT commented on #14321
@yashwant Apologies for the late reply. Could you please use the most recent version of the Azure CLI from [here](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and let us know if you are still facing this issue ? Awaiting your reply.

[2022-03-08 09:18] navba-MSFT commented on #14492
@Preeti1910 Apologies for the late reply. If you are still facing the Same issue, Could you please share the complete command with `-debug `output with us ? Awaiting your reply.

[2022-03-08 09:31] navba-MSFT commented on #16070
@ballavamsi Apologies for the late reply. I am assuming you are trying to install the kubectl in the cloud shell. Please correct me if my understanding is wrong. The error is documented [here](https://docs.microsoft.com/en-gb/azure/cloud-shell/troubleshooting#user-permissions) as you do not have full access to the cloud shell environment. So you can follow the below steps:

To install kubectl (spe

[2022-03-08 09:33] navba-MSFT commented on #16164
@kezarmader Apologies for the late reply. The error is documented [here](https://docs.microsoft.com/en-gb/azure/cloud-shell/troubleshooting#user-permissions) as you do not have full access to the cloud shell environment. So you can follow the below steps:

To install kubectl (specific version) in a specified path in the home folder, for example:

**Output**
Downloading client to "mykubetools/kubec

[2022-03-08 09:34] navba-MSFT commented on #15556
@liu9836777 Apologies for the late reply. The error is documented [here](https://docs.microsoft.com/en-gb/azure/cloud-shell/troubleshooting#user-permissions) if you don't have the full access on the folder. So you can follow the below steps:

To install kubectl (specific version) in a specified path in the home folder, for example:

**Output**
Downloading client to "mykubetools/kubectl1.19.1" from

[2022-03-08 09:35] Peter-Msft opened #21562 "[az sql server audit-policy] - Feedback and update suggestions"
[Enter feedback here]

### For commands:
1) **az sql server audit-policy show**
  a) All parameters are listed as optional parameters: [--ids] [--name] [--resource-group] [--subscription]. There are no required parameters. However, to execute the command the following parameters are required: (--name --resource-group | --ids).
  b) There is no user example, unlike in the update and wait commands b

[2022-03-08 09:35] navba-MSFT commented on #16234
@asharsidd Apologies for the late reply. The error is documented [here](https://docs.microsoft.com/en-gb/azure/cloud-shell/troubleshooting#user-permissions) if you don't have the full access on the folder. So you can follow the below steps:

To install kubectl (specific version) in a specified path in the home folder, for example:

**Output**
Downloading client to "mykubetools/kubectl1.19.1" from

[2022-03-08 09:36] navba-MSFT commented on #16335
@monikasood Apologies for the late reply. The error is documented [here](https://docs.microsoft.com/en-gb/azure/cloud-shell/troubleshooting#user-permissions) if you don't have the full access on the folder. So you can follow the below steps:

To install kubectl (specific version) in a specified path in the home folder, for example:

**Output**
Downloading client to "mykubetools/kubectl1.19.1" from

[2022-03-08 09:37] navba-MSFT commented on #16352
@balavivek143 Apologies for the late reply. The error is documented [here](https://docs.microsoft.com/en-gb/azure/cloud-shell/troubleshooting#user-permissions) if you don't have the full access to the cloud shell environment. So you can follow the below steps:

To install kubectl (specific version) in a specified path in the home folder, for example:

**Output**
Downloading client to "mykubetools/

[2022-03-08 09:38] navba-MSFT commented on #16428
@aakankshu Apologies for the late reply. The error is documented [here](https://docs.microsoft.com/en-gb/azure/cloud-shell/troubleshooting#user-permissions) if you don't have the full access to the cloud shell environment. So you can follow the below steps:

To install kubectl (specific version) in a specified path in the home folder, for example:

**Output**
Downloading client to "mykubetools/kub

[2022-03-08 09:39] navba-MSFT commented on #16445
@cdpwind Apologies for the late reply. The error is documented [here](https://docs.microsoft.com/en-gb/azure/cloud-shell/troubleshooting#user-permissions) if you don't have the full access to the installing folder. So you can follow the below steps:

To install kubectl (specific version) in a specified path in the home folder, for example:

**Output**
Downloading client to "mykubetools/kubectl1.19

[2022-03-08 09:50] yonzhan commented on #21562
route to CXP team

[2022-03-08 09:55] navba-MSFT commented on #16512
@avinash-kaushik Apologies for the late reply. The error is documented [here](https://docs.microsoft.com/en-gb/azure/cloud-shell/troubleshooting#user-permissions) if you don't have the full access to the installing folder. So you can follow the below steps:

To install kubectl (specific version) in a specified path in the home folder, for example:

**Output**
Downloading client to "mykubetools/kub

[2022-03-08 10:35] PramodValavala-MSFT commented on #21548
@junaidahmed92 This seems to be by design with an extra REST API call required to get the configuration for a web app, which the CLI is performing when running `az webapp show`. Here is a workaround you can use instead.

[code]

[2022-03-08 11:17] navba-MSFT commented on #21492
@Icybiubiubiu Thanks for getting back. I am checking this with our internal teams. I will update this thread once I have more details on this.

[2022-03-08 11:36] italukder commented on #20848
Subject : modern world trade protocol trust bord organization

[2022-03-08 12:52] aistvan commented on #21552
@evelyn-ys Powershell

@jiasli The problem not only the usage of the `$` sign. My secret often contains single or double quotes and any other special character. I currently CAN'T set them with az+ps because the secret will not contains the quotes. I have to navigate to the portal to change it.

So, please do not concentrate to the `$`, please help me with the `'` or `"`.
Example:
`az keyvault secr

[2022-03-08 13:16] BzSpi commented on #21497
Hello @navba-MSFT
This is exactly my use case, I try to connect a private AKS with a private endpoint in another subnet. I cannot use a vnet peering in this use case.

[2022-03-08 14:20] Svessir commented on #21247
Yeah I can confirm I am having issues with `https://login.microsoftonline.com/` now. Getting a different error message from last time on az login. Do you have any info what configuration is possibly causing this?
[code]

[2022-03-08 14:46] junaidahmed92 commented on #21548
@PramodValavala-MSFT , thanks for the clarification. Now by running the command you shared, I am getting following error:

xargs : The term 'xargs' is not recognized as the name of a cmdlet, function, script file, or operable program. Check the spelling of the name, or if a path was included, verify that the path is correct and try again.
At line:1 char:41
+ az webapp list --query '[].id' -o tsv |

[2022-03-08 15:06] th0ger opened #21563 "Support for AZURE_CLIENT_ID/AZURE_CLIENT_SECRET with "az storage copy""
Is is possible to have `az storage copy` run as a service principal (i.e. with `AZURE_TENANT_ID`/`AZURE_CLIENT_ID`/`AZURE_CLIENT_SECRET`)?

We Disallow "Shared Key authorization" as per [Microsoft security recommendations](https://docs.microsoft.com/en-us/azure/storage/blobs/security-recommendations).

[code]

As per the [az storage copy](https://docs.microsoft.com/en-us/cli/azure/storage?view=azu

[2022-03-08 15:43] PramodValavala-MSFT commented on #21548
@junaidahmed92 Sorry about that. I updated my answer for PowerShell too. I was tricky to convert the same command to PowerShell and it might be more complicated than it needs to be (not really a hard-core PowerShell user 😝). Feel free to simplify it and share here.

[2022-03-08 16:59] DanoThom commented on #12369
Can we get an update please. This is a fairly critical issue considering how important correlation rules are for any kind of meaningful, performant, advanced routing in Azure ServiceBus via the az cli. This has been an issue for over 2 years now.

[2022-03-08 17:29] jcavalieri8619 commented on #21308
any news yet?

[2022-03-08 17:58] adrianhall commented on #19791
The service team is not in control of the release schedule for the az CLI.  As a result, I do not have that information.

[2022-03-08 18:58] lkurzyniec commented on #12946
Please support also `Get-MgContext` command.

https://docs.microsoft.com/en-us/graph/powershell/app-only?tabs=azure-portal#authenticate

[2022-03-08 19:18] SaurabhSharma-MSFT commented on #21560
@anassk Are you using a PAT token to connect to azure devops  ? Which `az devops` subcommand it is failing?

[2022-03-08 19:26] panchagnula commented on #14912
@hamster-huey tagging you here to track the issues regarding EasyAuth

[2022-03-08 19:27] panchagnula commented on #16789
@Hamster-Huey FYI.

[2022-03-08 19:30] panchagnula commented on #21046
Updated this with out latest release.

[2022-03-08 19:30] #21046 closed

[2022-03-08 19:32] panchagnula commented on #20359
@Hamster-Huey FYI

[2022-03-08 19:32] panchagnula commented on #20358
@Hamster-Huey FYI

[2022-03-08 19:33] panchagnula commented on #19738
@Hamster-Huey FYI

[2022-03-08 19:34] panchagnula commented on #19460
@Hamster-Huey FYI

[2022-03-08 19:35] panchagnula commented on #17837
@Hamster-Huey FYI

[2022-03-08 19:54] Zerthick commented on #20842
@navba-MSFT The suggestions above do indeed appear to work, though as others on this ticket have commented they are a workaround, bicep should be ideally obeying the `REQUESTS_CA_BUNDLE` environment variable to handle including corporate certificates and the `AZURE_CLI_DISABLE_CONNECTION_VERIFICATION` environment variable to disable the ssl check completely.

[2022-03-08 21:17] bmoore-msft commented on #21417
ok, I think the "gap" may be creating deployments x-tenant.  You can set the header on the deployment and the header would (or should) be passed to the resources in that deployment.  But the header isn't passed on nested deployments (this is true for RG scoped deployments).

So it depends on the resources being created in the sub-level deployment.  If those needed (or supported) x-tenant scenarios

[2022-03-08 21:34] madhav5589 commented on #10717
Is this feature available now? If yes, can someone please share the command and parameter to pass in order to enable VMSS nodepool in existing cluster? Thanks.

[2022-03-08 22:04] michalfita commented on #20319
I think it's the case for all `az storage blob` commands - it hits badly our CI.

[2022-03-08 22:22] cavemandaveman commented on #20319
Yes, same here. Not sure how this isn't a bigger issue. Definitely a bug @yonzhan @evelyn-ys

[2022-03-08 22:35] Cireo opened #21564 "add utc to osx date"
The command

    end=`date -v+30M '+%Y-%m-%dT%H:%MZ'`

for OSX should be

   end=`date -uv+30M '+%Y-%m-%dT%H:%MZ'`

or the timezone won't be utc.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 92115d19-d7a0-93a8-bf2b-5126d1cddcd0
* Version Independent ID: a657f09b-e1ac-12a2-4b9c-7aaa1f0e3f5c
* Content: [az storage accou

[2022-03-08 23:05] yonzhan commented on #21563
storage

[2022-03-08 23:15] yonzhan commented on #21564
storage

[2022-03-09 00:19] StrawnSC commented on #19747
This is downstream of this behavior: https://github.com/Azure/azure-cli/issues/21548 where the API erroneously returns `siteConfig.appSettings` as null for some webapps

[2022-03-09 00:47] PraveenJayakumarUS opened #21565 "Error logging in from az cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-03-09 01:45] yonzhan commented on #21565
@jiasli for awareness

[2022-03-09 02:27] jiasli commented on #21247
@Svessir, I am afraid this is really out of my knowledge. 😥 Do other domains work, like https://github.com/, https://outlook.live.com/?

[2022-03-09 02:53] dstrockis commented on #20582
@yonzhan I am taking over from Kevin on this feature. Do I understand correctly that this work is scheduled for your April sprint, and we can expect it to complete by May 3?

I have some edits I'd like to make to the design of the proposed commands. Can you please sync up with me on that before starting implementation?

[2022-03-09 03:16] yonzhan commented on #20582
@dstrockis Good to know you are working on the design. You could send me an email about the design offline and this feature is already planned in Cu semester. My alias is yonzhan

[2022-03-09 03:30] jiasli commented on #21552
@aistvan, this is more of a problem of PowerShell, not Azure CLI.

[code]

For quotes, you are hitting a known issue of PowerShell (https://github.com/PowerShell/PowerShell/issues/1995) when calling native executables like Azure CLI which is actually a python application: https://github.com/Azure/azure-cli/blob/dev/doc/quoting-issues-with-powershell.md

We really recommend using Bash with Azure CL

[2022-03-09 03:40] zhoxing-ms commented on #21308
At present, CLI directly returns the SKU data provided by the REST service, so this should be the service related issue.

[2022-03-09 03:46] jiasli commented on #12946
@lkurzyniec, this doesn't seem to to related to Microsoft Graph migration. Similar Azure CLI command is `az account show`.

[2022-03-09 04:25] navba-MSFT commented on #21447
@bruno-salapic We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-03-09 04:25] #21447 closed

[2022-03-09 06:02] navba-MSFT commented on #21492
@Icybiubiubiu Could you please use the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt) of AzCLI and test the command again? Seems like this API version should be available in Azure China Cloud now. Awaiting your reply.

[2022-03-09 06:55] yichungyu opened #21566 "az storage blob copy start-batch cannot copy blob files stored within ADLS Gen2 directories"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob copy start-batch`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob copy start-batch --connection-string {}

[2022-03-09 07:09] #20806 closed

[2022-03-09 07:10] junaidahmed92 commented on #10339
Actually now I am getting another error:

[2022-03-09 07:12] junaidahmed92 commented on #10339
Actually now I am getting another error:

[2022-03-09 07:33] yonzhan commented on #21566
storage

[2022-03-09 08:00] #20657 closed

[2022-03-09 08:00] #20597 closed

[2022-03-09 08:00] #20344 closed

[2022-03-09 08:00] #14858 closed

[2022-03-09 08:00] #14742 closed

[2022-03-09 08:01] #14670 closed

[2022-03-09 08:01] #14596 closed

[2022-03-09 08:01] #14467 closed

[2022-03-09 08:01] #14361 closed

[2022-03-09 08:01] #13881 closed

[2022-03-09 08:01] #14017 closed

[2022-03-09 08:01] #13807 closed

[2022-03-09 08:01] #13694 closed

[2022-03-09 08:01] #13191 closed

[2022-03-09 08:01] #11455 closed

[2022-03-09 08:01] #11083 closed

[2022-03-09 08:01] #8687 closed

[2022-03-09 08:01] #8530 closed

[2022-03-09 08:11] Saglodha commented on #12369
Hi Team,

Thanks for your patience here. Our dev team has been working on coming up with a fix ( as I type this comment). With everything in place, I am positive that we should be able to roll out a fix for this one by this month's end ( rough estimate).

I would circle back with update soon.

[2022-03-09 08:56] #21439 closed

[2022-03-09 09:23] kamalwod opened #21567 "OSError: [WinError -2146893813]"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2022-03-09 09:54] navba-MSFT commented on #21497
@BzSpi Thanks for getting back. I have heard back from the product Owners on this. Currently, there are no immediate plans to add the Azure CLI support to achieve this ask.

1. Could you please let me know the priority of this issue ?
2. And what is the ETA you are dealing with to get this implemented on your cluster ?

Based on this, I can provide some alternatives or recommendations. Awaiting yo

[2022-03-09 09:57] j3ffrw opened #21568 "delete-batch ignores --query option"
## Describe the bug
According to documentation delete-batch --query is supported as part of Global parameter https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az-storage-blob-delete-batch

**Command Name**
`az storage blob list`
`az storage delete-batch`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they

[2022-03-09 10:48] yonzhan commented on #21567
@jiasli for awareness

[2022-03-09 10:49] yonzhan commented on #21568
storage

[2022-03-09 10:49] itpropro commented on #21417
@bmoore-msft unfortunately it doesn't work and regarding to the docs, the only possibility is to use PowerShell or Azure CLI as all other deployment methods are not able to handle two different credential pairs at the same time. The problem is not access or the different tenant IDs, but the fact that you normally need two different sets of service principal credentials:
1. The service principal th

[2022-03-09 11:20] sjuarezgx commented on #19791
Ok, thank you.

[2022-03-09 11:20] #19791 closed

[2022-03-09 11:47] DuongThiNgocHoa opened #21569 "Create automation runbooks type Python by azure-cli"
In azure portal, I can create a automation runbook with Python type. But in azure-cli, i can't. How to do it ?

[2022-03-09 12:25] yonzhan commented on #21569
portal

[2022-03-09 13:14] italukder commented on #20848
Subject : economical and financial low trust
 bord protocol organization

example.
1. all economic trust bord protocol
2.  all finance trust bord protocol
1. All bank low trust bord protocol.
3.all shear market low trust bord protocol.
4.all Stock market low truwt bord protocol.
5. all produced market place low trust bord protocol.
6. all assets market trust bord protocol
7. all produced import-ex

[2022-03-09 13:54] felinekk opened #21570 "I cannot run az login: RuntimeError: 0. The ID token is not yet valid."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-03-09 14:16] tokleine opened #21571 "az webapp config storage-account add falsely returns "InvalidCredentials""
## Describe the bug
When mounting an existing Azure FileShare to an existing Azure Function App, I receive the info that the credentials (i.e. storage account key) are invalid. However, the mount still works, as I can call my Function App HTTP Trigger and it can access files on the FileShare.

In the past I have had "InvalidCredential" response before, but back then I actually had made a mistake w

[2022-03-09 14:21] #16436 closed

[2022-03-09 14:33] yonzhan commented on #21571
route to CXP team

[2022-03-09 14:37] Kotasudhakarreddy commented on #18956
@panchagnula can you please check if these properties are added back in the latest SDK.

[2022-03-09 15:06] #19864 closed

[2022-03-09 15:07] Kotasudhakarreddy commented on #20120
closing due to lack of response. Please file a new issue if this is still a problem.

[2022-03-09 15:07] #20120 closed

[2022-03-09 15:12] Kotasudhakarreddy commented on #20625
@panchagnula I have not created any IcM for this. I have reported it to the portal team from GitHub.
@b1ackhawk-uh60 has explained the real issue her. Can we transfer this issue to portal team from here?

[2022-03-09 15:13] Kotasudhakarreddy commented on #20925
closing due to lack of response. Please file a new issue if this is still a problem.

[2022-03-09 15:13] #20925 closed

[2022-03-09 15:13] Kotasudhakarreddy commented on #21071
closing due to lack of response. Please file a new issue if this is still a problem.

[2022-03-09 15:13] #21071 closed

[2022-03-09 15:20] snowsky commented on #21436
Hi @zhoxing-ms, just touching base to know if there is any update from service team. Thanks :)

[2022-03-09 15:25] b1ackhawk-uh60 commented on #20625
There is definitely a portal issue here, but there is also a CLI issue that should not be ignored. Using the appropriate parameter in the CLI should make the requested change, not to mention the CLI is returning incorrect properties.

[2022-03-09 15:29] italukder commented on #20848
Subject : global Islamic rule and low brand and trademark trust bord protocol  organization

Example.
1. Islamic hallal food lugo information
2.

[2022-03-09 15:35] Hamster-Huey commented on #19738
Took a look,

That error:
`argument --name/-n: expected one argument`
is returned when you run the command exactly:
`az webapp auth set --name`
without providing any name.

A full command would look like
`az webapp auth set --name mysitename --resource-group myresourcegroup --body someauthv2json`

That being said, @Iceymann18777 what is your purpose for using the set command? That command allows y

[2022-03-09 15:53] stefanes opened #21572 "az resource show fails for Azure Compute Gallery image versions with API 2022-01-03"
**Describe the bug**
`az resource show --ids /subscriptions/<sub>/resourceGroups/<rg>/providers/Microsoft.Compute/galleries/<gal>/images/<name>/versions/<version>` fails with error:
[code]

Same error is returned if `--api-version 2022-01-03` explicitly specified. The command works as expected with `--api-version 2021-10-01`.

**To Reproduce**
Run command `az resource show --ids /subscriptions/<su

[2022-03-09 16:33] jhonnatanpb opened #21573 "Route all through CLI"
When you add vnet to webapps or functions, there is an option to set 'route all', and I don't see a way to do it by the CLI command, just the UI. So adding the vnet integration to the function through CLI, after that you need to go to the portal and manually  set route all if it's needed for that resource.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.c

[2022-03-09 18:01] Hamster-Huey commented on #20358
We are aware of the documentation issue, it looks to be a merge collision between commands shared between the core az cli and the authV2 extension. We're currently evaluating options to improve the docs, but for now I would suggest using the cli's --help functionality.
`az webapp auth update --help`

[2022-03-09 18:15] Hamster-Huey commented on #20359
Hi @LotteVoorhorst ,

I can see your problem with the cli was solved in the linked issue, I'll comment here for clarity.

The ability to set "RedirectTo" as per the portal is with the command
`az webapp auth update --name {name} --resource-group {resource-group} --redirect-provider {provider}`

[2022-03-09 18:29] lkurzyniec commented on #12946
@jiasli got it, you are right

[2022-03-09 18:58] olsenme commented on #21106
Wanted to follow up to see if this is still an issue?

[2022-03-09 19:08] Hamster-Huey commented on #14912
Regarding this issue, with the authV2 extension, we don't have the ability to set login parameters directly, but you can do a full JSON put of a site's authsettingsv2 using `az webapp auth set -g myResourceGroup --name MyWebApp --body @auth.json`

In authV2, you configure each provider individually, so an example of a Microsoft provider with login parameters would look like:
[code]

[2022-03-09 19:11] italukder commented on #20848
Subject : global online swift bank protocol trust bord organization

example
# Online Swift Bank (OSB)
Online marketing  payment and online business income global  bank protocol
1. Received income from selling online online marketing products
2. Buy online marketing products pay outgoing bill
3. Make money from online business.
4. All types off online business income
e.t.c

[2022-03-09 19:18] SaurabhSharma-MSFT commented on #21573
@jhonnatanpb We are looking into it and get back to you for any additional information.

[2022-03-09 19:25] jhonnatanpb commented on #21573
Thank you.

[2022-03-09 20:04] Hamster-Huey commented on #16789
@saswatmohanty01 Management Mode is/was a portal experience feature related to deciding how you would set up your app registration. The auth CLI command group does not set up your AAD app registration for you. That being said, one could consider the entire set of auth CLI to be "Advanced".

If I'm misunderstanding, could you please share the specific auth configuration from the authsettings json s

[2022-03-09 20:11] MarcusAPT opened #21574 "AttributeError: 'NoneType' object has no attribute 'server_farm_id'"
## Describe the bug
Deploying an App Service and adding the VNET it fails and my script continues
**Command Name**
az webapp vnet-integration add

**Errors:**
The command failed with an unexpected error. Here is the traceback:
'NoneType' object has no attribute 'server_farm_id'
Traceback (most recent call last):
  File "/opt/az/lib/python3.8/site-packages/knack/cli.py", line 231, in invoke
    cmd

[2022-03-09 20:31] petebytes commented on #15705
Same question, I can set and show user - how do I delete the user?

[2022-03-09 20:33] ant0nsc opened #21575 "Page for "az ml datastore create" is missing essential information"
The example listed for "az ml datastore create" is not helpful. It uses a "file" argument that points to "blobstore.yml", that contains the things that really matter: What account name, what credentials, etc. But there is no link or other docu that describes how that yml should look like. I suspect it should point to this page? https://docs.microsoft.com/en-us/azure/machine-learning/reference-yaml

[2022-03-09 22:44] yonzhan commented on #21572
ARM

[2022-03-09 22:48] yonzhan commented on #21573
route to CXP team

[2022-03-09 22:49] yonzhan commented on #21574
route to CXP team

[2022-03-09 22:50] yonzhan commented on #21575
route to CXP team

[2022-03-09 23:09] hieuhoang opened #21576 "error executing az dls fs download ... (I'm MSFT, contact me for more info)"
https://github.com/azure/azure-cli/issues/new?body=%0A%23%23%23+%2A%2AThis+is+autogenerated.+Please+review+and+update+as+needed.%2A%2A%0A%0A%23%23+Describe+the+bug%0A%0A%2A%2ACommand+Name%2A%2A%0A%60az+dls+fs+download%60%0A%0A%2A%2AErrors%3A%2A%2A%0A%60%60%60%0AThe+command+failed+with+an+unexpected+error.+Here+is+the+traceback%3A%0AOne+more+more+exceptions+occured+during+transfer%2C+resulting+in+a

[2022-03-10 00:48] yonzhan commented on #21576
data lake store

[2022-03-10 01:09] geetika-jain commented on #20932
Hello, Just wanted to know if there were any efforts towards this issue...?

[2022-03-10 01:20] askpatrickw opened #21577 "Inconsistent naming for parameters in application-gateway"
**Describe the bug**
Why Name and sometime Gateway-name?

**To Reproduce**

`az network application-gateway stop --help` shows `--name`
`az network application-gateway frontend-ip list --help` shows `--gateway-name`

I'm sure there others, I'm not going to test all of them. ;-)

**Expected behavior**
Use Name like in the column output for list (and its less typing)

[code]

**Environment summary**

[2022-03-10 01:28] yonzhan commented on #21577
network

[2022-03-10 01:49] zhoxing-ms commented on #21436
Here is a question related to the REST of image list [comment](https://github.com/Azure/azure-cli/issues/21436#issuecomment-1054002539) @grizzlytheodore Do you know who can help us investigate this issue?

[2022-03-10 02:01] zhoxing-ms commented on #21572
This should be a service related issue. @kangsun-ctrl Do you know who can help us investigate this issue?

[2022-03-10 02:10] jiasli commented on #21570
Duplicate of #20388

[2022-03-10 02:10] #21570 closed

[2022-03-10 03:08] stewartadam commented on #20346
Thanks for clarifying - it would be great to have this information in the docs and ideally, a succinct explanation or link to docs in `--help` as well.

[2022-03-10 03:37] navba-MSFT commented on #21521
@kensykora Thanks for getting back to us and reporting this bug. Our Product Owners have confirmed this issue as a bug and they are working on the fix. We will keep you updated about the release.

[2022-03-10 03:42] jiasli commented on #21567
Duplicate of #20231

[2022-03-10 03:42] #21567 closed

[2022-03-10 03:54] navba-MSFT commented on #21538
@DanJoh74 I wanted to do quick follow-up to check if you had a chance to look at my above comment. This github issue is open for quite sometime. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-03-10 03:55] navba-MSFT commented on #21542
@ramganesh19 I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-03-10 05:24] DuongThiNgocHoa opened #21578 "New automation variable by cli or ansible"
After create a runbook and edit content, I want to create variable and set value for them. How can I do it by ansible or azure cli ? Please help me

[2022-03-10 05:43] yonzhan commented on #21578
route to CXP team

[2022-03-10 06:29] Strongpikin commented on #4618
It's surprising how after more than 4 years, microsoft has still not fixed this issue/bug. I've lost 3 hours of work time tonight and the issue has still not gone away. I have cleared my cache and tried all the other "fixes" suggested, yet here I still am like Groundhogs Day. Lawd!!!!!

[2022-03-10 06:49] jiasli commented on #21578
To help us better understand the problem, could you please share the Azure CLI command you used?

[2022-03-10 08:00] #19172 closed

[2022-03-10 08:00] #10655 closed

[2022-03-10 08:00] #10639 closed

[2022-03-10 08:01] #10502 closed

[2022-03-10 09:10] anassk commented on #21560
@SaurabhSharma-MSFT  i used

`az login`

and already set :

`az devops configure --defaults organization=https://myorganisation.visualstudio.com/`

[2022-03-10 09:49] RehanSaeed opened #21579 "az account list-locations Should Return Availability Zones"
The `az account list-locations` command should also return a list of availability zones supported by the location.

[2022-03-10 09:54] navba-MSFT commented on #21576
@hieuhoang Thanks for reaching out to the issue and reporting this issue. There is not much information in the issue description. I am reaching out to you offline to gather the storage account details and the details of AzCli command. I will then look into the issue and assist you further.

[2022-03-10 09:56] sdebruyn opened #21580 "Difference between set-recursive and update-recursive unclear"
The cli has 2 commands to set the ACL permissions and from reading the documentation I have no idea if I should use set-recursive or update-recursive.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2d802bfb-9b2e-23b5-6d29-ef5265bca892
* Version Independent ID: 05ca9f9f-7473-0ed4-7867-cf6ae5703a25
* Content: [az storage

[2022-03-10 11:11] athapong commented on #20925
Sorry for my late response..
Once I fixed some issue due to organization policy it's working now.

Appreciate for your help

[2022-03-10 12:06] yonzhan commented on #21579
@jiasli for awareness

[2022-03-10 12:07] yonzhan commented on #21580
storage

[2022-03-10 12:36] k10876 opened #21581 "Encountered a bug in az vm run-command show"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm run-command show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm run-command show`

## Expected Behavior

## Environment Sum

[2022-03-10 12:51] yonzhan commented on #21581
compute

[2022-03-10 12:55] kgopi1 opened #21582 "Unable to install Az Devops extension in CentOS"
[Enter feedback here]
Hi,
When i'm trying to install AZ Devops extension by running az extension add --name azure-devops in CentOS ,

Script file checking the path for /etc/apt/sources.list in CentOS , which will not exists and script got failed. Please update the script to check type of OS-Release and run the installation.

![image](https://user-images.githubusercontent.com/37423050/157665921-bb9

[2022-03-10 13:50] yonzhan commented on #21582
route to CXP team

[2022-03-10 14:02] Phillip-007 opened #21583 "It seems not possible to create a working inbound NAT rule on an internal loadbalancer with az cli"
Possible action are are:
- create a internal loadbalancer with FrontEnd IP configuration
- create a backend pool (but this cannot be used for the NAT rule)
- create an inbound NAT rule WITHOUT a target

Not possible:
 - assign a (backend) target to the NAT rule to make it work

You can try to use the --backend-pool-name parameter, but then you have to replace parameter
--frontend-port <portnr>
wit

[2022-03-10 15:10] Phillip-007 commented on #21583
Found the solution, it's quite simple, use another az cli command:
https://docs.microsoft.com/en-us/cli/azure/network/nic/ip-config/inbound-nat-rule?view=azure-cli-latest

[2022-03-10 15:11] #21583 closed

[2022-03-10 16:07] mathiasmaerker commented on #21388
I have the same issue, but only when trying to `--build-remote` with private packages from GitHub, even thou I provide a `.npmrc` with the proper tokens and uris. I am using the latest version of the Azure CLI

[2022-03-10 16:17] weltonrodrigo opened #21584 "az aks get-credentials should not point to privatelink dns zone"
## Describe the bug
```az aks get-credentials``` generate an entry on `~/.kube/config` pointing to privatelink via private zone.
Example:

[code]

The correct address should be:
[code]
If I'm understanding this wrongly, maybe the documentation on https://docs.microsoft.com/en-us/azure/private-link/private-endpoint-dns#on-premises-workloads-using-a-dns-forwarder should be updated.

## Environment S

[2022-03-10 17:10] bmoore-msft commented on #21417
@itpropro - can you be more specific about what "doesn't work"?  Here's my understanding from the thread:

1. cross-tenant authorization for subscription level deployments is not supported in Azure... so this is not a CLI issue but a platform one (CLI can't fix this)
1. in the OP the scenario called out is:

To create a VM with an image from a SIG in another tenant, you need a resourceGroup level

[2022-03-10 17:22] emp00001 opened #21586 "Can not create azure VM by CLI without NSG"
running by CLI: az vm create --nsg "" or --nsg " "      so VM should be created without NSG, getting the error : argument --nsg: expected one argument.  is there any way to fix it ?

[2022-03-10 17:34] panchagnula commented on #21388
@mathiasmaerker thanks for reporting as well. For CLI we do plan to add some pre-validations (like runtime check) to improve the experience. Regarding the  build using private GitHub packages I will pass this info to the function apps runtime team.

[2022-03-10 17:41] italukder commented on #20848
Subject : global online company office tools protocol trust bord organization

example
1. Company won according and management   software online store library
2. many more different company different

[2022-03-10 18:11] TrippyZ opened #21587 "feed parameter example should show use of "AGoodFeed@ReleaseView""
The addition of @ReleaseView to the string in the subject allows the selection of the specific view.

I cannot find this documented anywhere.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3ae588e5-6e79-0a3e-56fb-78976019b011
* Version Independent ID: 70e209c8-948c-8baf-3472-e1920c498a2c
* Content: [az artifacts univers

[2022-03-10 18:15] vgaticah commented on #9598
You have to install notary v0.6.0
You can download it from https://github.com/notaryproject/notary/releases/tag/v0.6.0

[2022-03-10 19:26] diberry opened #21588 "az webapp up - with F0 - when F0 is already taken - improve error text"
**Describe the bug**
If I create a webapp, `az webapp up --sku F1 --name XYZ` when for whatever reason the F1 is already take or not allowed, I get an  `unauthorized` error instead of something that tells me I need to pick a different SKU.

**To Reproduce**
On internal subscription, when  F1 isn't allowed or already taken, create resource with command. Get error shown in image.

**Expected behavio

[2022-03-10 19:29] rohinibhagdikar opened #21589 "az commands are failing including attempt to upgrade with `No module named 'azure.cli.core.azclierror'`"
All az commands are failing including attempt to upgrade with `No module named 'azure.cli.core.azclierror'`

`az login`

bash-4.4$ az upgrade
Error loading command module 'appservice': No module named 'azure.cli.core.azclierror'
Error loading command module 'keyvault': No module named 'azure.cli.core.azclierror'
Error loading command module 'resource': MGMT_RESOURCE_TEMPLATESPECS
Error loading com

[2022-03-10 20:22] srijang commented on #16048
This is working correctly. This ticket can be resolved.

[2022-03-10 20:27] jaylabell commented on #16048
Closing

[2022-03-10 20:27] #16048 closed

[2022-03-10 20:41] Sumtin commented on #21443
Part of the confusion may stem from this direction in the Portal:

![image](https://user-images.githubusercontent.com/6676557/157750912-69c82e5b-171b-4d5e-8277-16194b94b85f.png)

[2022-03-10 20:58] TravisCragg-MSFT commented on #21264
After updating to the latest version of the CLI, this is now working.

[2022-03-10 20:58] #21264 closed

[2022-03-10 21:09] rohinibhagdikar commented on #21589
Azure packages in use:
azure-cli==2.15.1
azure-mgmt-network==12.0.0
azure-mgmt-resource==10.2.0
azure-cli-core==2.5.1
azure-cli-nspkg==3.0.4
azure-cli-telemetry==1.0.4
azure-common==1.1.25
azure-core==1.5.0
azure-mgmt-compute==11.1.0
azure-mgmt-core==1.0.0
azure-mgmt-resource==9.0.0
azure-mgmt-storage==10.0.0
azure-nspkg==3.0.2
azure-storage-blob==2.1.0
azure-storage-common==2.1.0

[2022-03-10 21:53] swiru95 commented on #6962
I think the best option is to:
1) open the browser
2) login to azure portal - accept the policy with cookies etc.
3) run cli "az login" and then login - it should work

But for sure something is not working correctly with "az login" looks like it does not get the appropriate cookies/tokens.
I will try to debug it someday :D

[2022-03-10 22:11] hholst80 opened #21590 "failed to install on Ubuntu 21.10: curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash"
[code]

[2022-03-10 22:53] yonzhan commented on #21584
route to CXP team

[2022-03-10 22:55] yonzhan commented on #21586
Compute

[2022-03-10 22:57] yonzhan commented on #21587
route to CXP team

[2022-03-10 22:59] yonzhan commented on #21588
route to CXP team

[2022-03-10 23:01] yonzhan commented on #21589
@jiasli for awareness

[2022-03-10 23:03] yonzhan commented on #21590
@jiasli for awareness

[2022-03-10 23:07] diberry commented on #21588
@yonzhan - are you asking me to do that or you are doing that?

[2022-03-10 23:09] yonzhan commented on #21588
webapp related CLI commands are owned by service team, so I added CXP team to help with.

[2022-03-10 23:12] MisbaIram opened #21591 "Latest Azure CLI Versions[2.34.0 and 2.34.1] - storage blob upload change in behavior"
On  uploading a blob for example a html file or a image file  using  the latest AZ CLI versions[2.34.0 and 2.34.1] using the upload command, the content-type is being set  as  **application/octet-stream**
The content-type header value for blobs uploaded [az storage upload blob](https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az-storage-blob-upload)would  be based off

[2022-03-10 23:56] panchagnula commented on #21548
@junaidahmed92 given SiteConfig is not part of the Site Object call we don't support this for performance issue reasons on List commands - should be supported with show for a single resource.

[2022-03-11 00:00] panchagnula commented on #21571
Not a CLI error but the response from API - informed feature team of this.

[2022-03-11 00:01] panchagnula commented on #21540
This is not a CLI error but a Runtime issue - please create a support case so Java team can help with the investigation.

[2022-03-11 00:02] panchagnula commented on #21540
@JasonFreeberg FYI.

[2022-03-11 00:07] jeffpdotone commented on #21477
Azure CLI task for release pipeline is not updated to the latest version is there a workaround to make the task use the latest one?

[2022-03-11 00:10] Man-MSFT commented on #21575
Hey Anton - yes, that is the right documentation page. And thanks for bringing this to our attention, we will open and prioritize a work item to improve the references in the help command.

[2022-03-11 00:34] rohinibhagdikar commented on #21589
Issue got resolved. It was being caused by some packages getting pinned to much lower versions causing import issues.
List of lower version packages:
azure-cli-core==2.5.1 azure-cli-nspkg==3.0.4 azure-cli-telemetry==1.0.4 azure-common==1.1.25 azure-core==1.5.0 azure-mgmt-compute==11.1.0 azure-mgmt-core==1.0.0 azure-mgmt-resource==9.0.0 azure-storage-common==2.1.0

I am closing this thread.

[2022-03-11 00:34] #21589 closed

[2022-03-11 00:43] yonzhan commented on #21591
storage

[2022-03-11 00:55] emp00001 commented on #21586
what do you mean by  Compute   "

[2022-03-11 01:10] zhoxing-ms commented on #21581
@k10876 Could you please send me the debug log by email? My email address is Zhou.Xing@microsoft.com

[2022-03-11 01:34] evelyn-ys commented on #21477
Which release pipeline do you mean? Is the latest version you mentioned v2.34.1?

[2022-03-11 01:49] jiasli commented on #21579
Duplicate of https://github.com/Azure/azure-cli/issues/10421

[2022-03-11 01:49] #21579 closed

[2022-03-11 02:03] jiasli commented on #21443
@SanDeo-MSFT, I think Azure Portal shouldn't show this before this feature is ready.

[2022-03-11 02:10] jiasli commented on #21589
`azure-cli 2.15.1` is a very old version. Please install the latest version of `azure-cli` and do not pin internal packages (such as `azure-cli-core`, `azure-mgmt-resource`) by your self.

[2022-03-11 02:15] jiasli commented on #21590
Duplicate of https://github.com/Azure/azure-cli/issues/21532

[2022-03-11 02:15] #21590 closed

[2022-03-11 02:24] zhoxing-ms commented on #21586
@emp00001 This is by designed. Because CLI does not support passing in '' as parameter's value, [knack](https://github.com/microsoft/knack) will think that the user has not passed in any value, such as:
[code]
Please note that we have explained in the help description of `az vm create -h` that the input `--nsg NONE` indicates that the NSG will not be created
[code]

[2022-03-11 02:45] digimaun opened #21593 "Breaking behavior change in 2.34.1 with `az storage blob upload-batch` and `--if-unmodified-since`"
**Describe the bug**
In prior CLI versions when using `az storage blob upload-batch` with precondition `--if-unmodified-since`, the CLI would not error and stop if a target file exists in the destination blob container. Instead it would continue to the next file from source and attempt to upload if the precondition check succeeds.

**To Reproduce**
`az storage blob upload-batch -s {} -d {} --accou

[2022-03-11 02:53] emp00001 commented on #21586
I ran it with --nsg NONE, but it still created the NSG named NONE

[2022-03-11 02:54] emp00001 commented on #21586
I ran it with --nsg NONE, but it still created the NSG named NONE

[2022-03-11 02:57] yonzhan commented on #21593
storage

[2022-03-11 03:07] evelyn-ys commented on #21593
duplicate with #21477

[2022-03-11 03:16] emp00001 commented on #21586
I even did : instead of --nsg     I added  --nsg-rule NONE   and it still created the NSG

[2022-03-11 03:21] zhoxing-ms commented on #21586
@emp00001 Sorry, I misunderstood the parameter you mean just now, you run this command in Power Shell environment, right?

Please refer to the help description of parameter `--nsg`
[code]
Please use `--nsg '""'`, such as:
[code]
Or please use the `--%`
[code]

[2022-03-11 03:29] emp00001 commented on #21586
I am running it form Linux  Bash, but not from PowerShell

Thank you.
Michael.

On Thu, Mar 10, 2022 at 9:22 PM Xing Zhou ***@***.***> wrote:

[2022-03-11 03:40] zhoxing-ms commented on #21586
I can't reproduce this issue in Linux Bash environment. Could you send me the debug log by email? My email address is Zhou.Xing@microsoft.com
![Screenshot 2022-03-11 113704](https://user-images.githubusercontent.com/16612065/157797591-ab751cd5-0896-4890-82a2-ef846792f673.png)

[2022-03-11 03:44] emp00001 commented on #21586
when I use:  --nsg ""     or --nsg ''

getting the error:   argument --nsg: expected one argument

Thank you.
Michael.

On Thu, Mar 10, 2022 at 9:40 PM Xing Zhou ***@***.***> wrote:

[2022-03-11 03:49] digimaun commented on #21593
@evelyn-ys , @yonzhan the issue linked has to do with usage of `--overwrite` and seems to be closed with an intended fix in 2.34.1. This issue I created is about honoring the pre-condition `--if-unmodified-since` which is failing in 2.34.1 and never required an `--overwrite` flag.

The first example shown here covers my use case  https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-c

[2022-03-11 04:19] emp00001 commented on #21586
I see the problem

if I do:   az vm create --nsg '' -g 01_VM_RG -n 001 --image CentOS --debug
   - it works and created the VM without NSG

but in my case I use the variable:   NSG_RG=''          and in the command
line I do:     --nsg $NSG_RG

and getting error:     argument --nsg: expected one argument

Thank you.
Michael.

On Thu, Mar 10, 2022 at 9:44 PM emp0001 ***@***.***> wrote:

[2022-03-11 04:49] PramodValavala-MSFT commented on #21578
@DuongThiNgocHoa Unfortunately, this isn't available in Azure CLI _yet_. There is a [feature request](https://feedback.azure.com/d365community/idea/9caaa6e5-0225-ec11-b6e6-000d3a4f0858) that you could up vote to add support for them.

In the meantime, you could use the [`az rest`](https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#rest-api-commands) subcommand to directly work with the

[2022-03-11 05:19] navba-MSFT commented on #21588
Since @StrawnSC from the webapp CLI team is owning this, I am removing the `CXP Attention` label from this and adding `Service attention` label.

[2022-03-11 05:42] navba-MSFT commented on #21492
@Icybiubiubiu Could you please provide an update on this ?

[2022-03-11 05:45] navba-MSFT commented on #21497
@BzSpi Thanks for getting back. I will do some research on this for the available alternatives and get back to you.

[2022-03-11 07:07] fairmonk opened #21597 "Failed to establish a new connection error when using command from a cron script"
**Describe the bug**
**az storage blob download** command is failing when executed from cron job. Same command executes fine if the shell script ( containing the command ) is manually executed.
The error that is displayed when running via cron is:
_**ERROR: HTTPSConnectionPool(host='mystorage.blob.core.windows.net', port=443): Max retries exceeded with url: /mycontainer/myfile.tar.gz (Caused by Ne

[2022-03-11 07:14] yonzhan commented on #21597
storage

[2022-03-11 07:40] zhoxing-ms commented on #21586
The problem is that the variable you reference should be `"$NSG_RG"` instead of `$NSG_RG`.

We can add `set -vx` to the script to help us analyze the parameters input to CLI
[code]

When the input reference variable is `$NSG_RG`:
[code]
The output of the script is as follows:
![Screenshot 2022-03-11 152528](https://user-images.githubusercontent.com/16612065/157823314-5fca30c9-d14c-44f2-a83c-69b61b

[2022-03-11 07:51] jiasli commented on #13028
I did some tests recently:

- On Windows 11 running on my Surface Book and Windows 10 running on my desktop PC, Azure CLI MSI (https://azcliprod.blob.core.windows.net/msi/azure-cli-2.34.1.msi) takes around 1m15s to install.

- On Ubuntu 20.04 running in WSL, Azure CLI DEB (https://packages.microsoft.com/repos/azure-cli/pool/main/a/azure-cli/azure-cli_2.34.1-1~focal_all.deb) takes around 30s to ins

[2022-03-11 07:52] navba-MSFT commented on #21576
@hieuhoang Thanks for sharing the details of the issue. I am pasting the details here so that it can be looked further by our Service team.

**Issue:**
You are running the below Az CLI command from bash, Ubuntu 20.04 and it fails with the below error:

**Command:**

The command continues to run but eventually gives a corrupt file. The file is corrupt since the MD5checksum is incorrect on the downl

[2022-03-11 07:53] navba-MSFT commented on #21576
You have another duplicate issue created here too Azure/azure-cli#21170

[2022-03-11 07:54] vats28 commented on #20892
Look like no update from microsoft, same issue with windows function app v4

[2022-03-11 08:00] #20736 closed, assigned to haagha, amjads1

[2022-03-11 08:00] ccozad opened #21599 "Can't suppress message that contains credentials in az acr token create"
**Describe the bug**
When you run az acr token create there is a message logged as a warning that says "Please store your generated credentials safely. Meanwhile you can use it through" followed by a docker command with the token that was generated. I'm running this command from python in an automated way using `get_default_cli` and this info is leaking into logs. I tried to add `output none` and

[2022-03-11 08:00] #13301 closed

[2022-03-11 08:00] #11614 closed

[2022-03-11 08:00] #11608 closed

[2022-03-11 08:03] florentpln commented on #21540
Thank you for your detailed answer.

What about my second question : it is working fine using java 11.0.11 instead of last default one 11.0.12, the thing is that I didn't found any way to force the minor version of java using "az webapp create" command. ?

Thanks.

[2022-03-11 08:04] yonzhan commented on #21599
route to CXP team

[2022-03-11 08:06] #21576 closed

[2022-03-11 08:12] navba-MSFT commented on #21170
@hieuhoang Thanks for sharing the details of the issue on #21576. I am pasting the details here so that it can be looked further by our Service team.

**Issue:**
You are running the below Az CLI command from bash, Ubuntu 20.04 and it fails with the below error:

**Command:**

The command continues to run but eventually gives a corrupt file. The file is corrupt since the MD5checksum is incorrect on

[2022-03-11 09:01] jiasli opened #21601 "`az storage container generate-sas`: `--permissions`'s help contains duplicated entries:"
## Describe the bug

[code]

Note that `(a)dd (c)reate (d)elete (l)ist (r)ead (w)rite` are duplicated.

## Environment Summary
[code]

[2022-03-11 09:26] jiasli commented on #21565
Duplicate of https://github.com/Azure/azure-cli/issues/20278

[2022-03-11 09:26] #21565 closed

[2022-03-11 09:27] #21552 closed

[2022-03-11 10:01] yonzhan commented on #21601
storage

[2022-03-11 11:02] v-fearam opened #21602 "I can not run a command with specific user and password"
I need to run a script with specific user and pass ,  like
``
az vm run-command create --name "myRunCommand" --vm-name "MyVM" --resource-group my-rg  --script "C:\temp\test.ps1"  --run-as-user "user1" --run-as-password "<runAsPassword>"
[code]

[2022-03-11 12:58] #19759 closed

[2022-03-11 13:46] yonzhan commented on #21602
Compute

[2022-03-11 14:37] Sumtin opened #21604 "Host key conflict error not displayed to terminal when using `as ssh vm`"
**Describe the bug**
`az ssh vm` doesn't display host key conflict error message to console. Instead, returns to command prompt with no indication of error.

**To Reproduce**
1) Create linux VM
2) SSH to linux VM from Machine A
3) Delete linux VM
4) Recreate linux VM ensuring it is assigned **SAME IP as machine in step 1**
5) SSH to new linux VM using `az ssh vm` command from Machine A
6) After a

[2022-03-11 14:40] hentie commented on #8388
The issue still exists: You cannot specify the name of the consumption plan
when creating a new function app. The name of the consumption plan is based
on the location, which is not desired.

On Fri, 11 Mar 2022 at 15:01, msftbot[bot] ***@***.***> wrote:

[2022-03-11 14:53] Mike-E-angelo commented on #16111
*Bump* :p

[2022-03-11 14:55] italukder commented on #20848
Subject : Second world business protocol trust bord organization

example.
# second world modern technology use business sites
1. Modern technology use protocol trust bord.
2. Digital technology use  protocol trust bord
3. computer technology use protocol trust bord
e.t.c

[2022-03-11 15:09] #21548 closed

[2022-03-11 15:11] SatishBoddu-MSFT commented on #21573
Hello @jhonnatanpb Thanks for the feedback, we are routing this to the Service Team's attention!

[2022-03-11 15:53] zapadoody opened #21605 "az network bastion rdp command gives - Please enter a valid Virtual Machine resource Id. with Azure CLI Bash"
Getting "Please enter a valid Virtual Machine resource Id." when running:
$ az network bastion rdp --name "mybastion" --resource-group "my-rg" --target-resource-id "/subscriptions/xxxxxxxxxxxxxxxxxxxx/resourceGroups/MY-RG/providers/Microsoft.Compute/virtualMachines/myvm01'
in VSCode Bash.

Open Bash Terminal in VSCode
az login
az network bastion rdp --name "mybastion" --resource-group "my-rg" --ta

[2022-03-11 15:59] alan-czajkowski commented on #14011
How is this not fixed by now? it's the year 2022 and this problem still exists in Ubuntu 20.04 LTS

it is madness to install binaries using this method:
[code]
as this is super vulnerable to supply-chain attacks

When can we expect this to be fixed?

[2022-03-11 16:03] squillace commented on #14011
Um, agree on bash install, but my 20.04 apt does the right thing. Does yours not? `azure-cli is already the newest version (2.34.1-1~focal).`

[2022-03-11 16:03] jaylabell commented on #18226
This item is still being investigated

[2022-03-11 16:13] alan-czajkowski commented on #14011
@squillace

Dockerfile:
[code]

when I run the container:
[code]

[2022-03-11 16:36] hholst80 commented on #21532
To reiterate. It used to work.

So, please undo the "fix" or preparation to support impish "properly" because we users had no issues with this until it was attempted to be fixed and now its just broken with an external dependency that "microsoft package" ops fixes something in their infra? that sounds like it will take a long time and this broke CI/CD scripts all around the world.

[2022-03-11 16:51] panchagnula commented on #16111
@seligj95 could you follow up with Jason on this , if the changes are available in PROD for us to start this work (last conversation he mentioned about needing to wait )

[2022-03-11 17:07] adamency opened #21606 "Implement a command to list Deployment Groups and Targets for each"
AFAIK there's currently no way to retrieve the deployment groups within a Project (accessible from the project page >> Pipelines >> Deployment Groups) nor the list of targets for a given deployment group.

- Implement a command to list all deployment groups from a project, e.g.:

[code]

- Implement a comand to show targets for a deployment group, e.g.:

[code]

Even better would be to be able to

[2022-03-11 17:57] StrawnSC commented on #21588
@diberry thanks for reporting this. Could you rerun the failing command with `--debug` and share the output? Be sure to obfuscate any nonpublic info or feel free to DM me a screenshot on teams/email

[2022-03-11 18:10] alan-czajkowski commented on #14011
@squillace can you show me how you are doing it?

[2022-03-11 18:21] squillace commented on #14011
well, not sure this will help, because... it is what it is. Although I followed: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt#option-2-step-by-step-installation-instructions

and then:
[code]

[2022-03-11 19:35] zapadoody opened #21607 "Errors when running az login"
**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
- open powershell
- `az login`

## Environment Summary
[code]

[2022-03-11 19:56] jalauzon-msft commented on #21475
Hi @evelyn-ys Yishi, I did some testing on this and can confirm that the Datalake SDK does support these types of Unicode characters on Linux (tested on Ubuntu 18.04). I was able to create, update, check existence, and read a file with the name "131318-(n) Hamilton Densité.JPG". I tried both hardcoding the name in a string and accepting the file name from the terminal.

My guess is that this has s

[2022-03-11 20:02] zwolf commented on #21591
Also seeing this behavior in 2.34 versions. I am using `azure/login` and `azure/cli` Github Actions and was not specifying a version (as recommended by MS [in this issue](https://github.com/Azure/azure-cli/issues/20154)).

The bump to 2.34.1 caused site deploys to fail because index.html files were suddenly not overwriting as expected, using `az storage blob upload`. After fixing this by adding th

[2022-03-11 20:04] zapadoody commented on #21607
This is resolved after running

`az account clear'

[2022-03-11 20:04] #21607 closed

[2022-03-11 20:04] zapadoody commented on #21607
This is resolved after running

`az account clear'

[2022-03-11 20:10] mvvsubbu opened #21608 "Azure Databricks Access Connector Resource Onboarding Request"
**Resource Provider**: Microsoft.Databricks

**Description of Feature or Work Requested**: We are onboarding a new resource under our namespace, we want to enable Az CLI operations for CRUD and Add/Remove Identity to the resource.

**Minimum API Version Required**: 2022-10-01-preview

**Swagger Link** : https://github.com/Azure/azure-rest-api-specs/pull/19759

**Target Date** : 2022-10-31

[2022-03-11 20:12] mvvsubbu commented on #21608
This feature is required by Walmart

[2022-03-11 20:47] alan-czajkowski commented on #14011
@squillace thanks for this tip, I applied it inside the Dockerfile, and the Azure CLI seems to be working fine now

to anybody who finds this page, I have slightly improved Microsoft's Debian/Ubuntu install commands to the following:

*Dockerfile*:
[code]

[2022-03-11 21:50] peangulo opened #21609 "az ad sp create-for-rbac misconfigured --years value."
[Enter feedback here]
When using for example "az ad sp create-for-rbac --keyvault MyVault --cert CertName --create-cert --years 1" the command is creating a certificate with 13 months validity instead of 12 months validity.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e99d25ff-03e2-e015-37f4-a29b59ec50d4
* Version In

[2022-03-11 21:51] H4D53 opened #21610 "while deploying app service unable to set DOCKER_REGISTRY_SERVER_PASSWORD and fail to upgrade az"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create --resource-group MyRG --plan ASPlan --name ASname --deployment-container-image-name MyACR.azurecr.io/app:latest --docker-registry-server-user ACRadmin --docker-registry-server-password string`
or
`az webapp config appsettings set -resource-group MyRG --name ASname --settings

[2022-03-11 22:03] marcurdy opened #21611 "socket-timeout missing from az storage blob upload"
I have a failure on a regular script showing me that --socket-timeout is no longer available under az storage blob upload. Upon running az storage blob -h, I do not see it. The documentation for this command shows it still valid. I'm running 2.34.1.

Thanks.

[2022-03-11 22:37] ruthvik123 opened #21612 "az login not working properly: AttributeError: 'str' object has no attribute 'get'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2022-03-11 22:40] ruthvik123 commented on #21612
because of the breaking changes caused due to az-cli 2.30 i installed the older version using pip3 install azure-cli==2.22.0

It was installed fine and when i do az --version it works fine. But when I do az login i get the following exceptions:
The command failed with an unexpected error. Here is the traceback:
'str' object has no attribute 'get'
Traceback (most recent call last):
  File "/usr/loc

[2022-03-12 00:07] Sharan441 opened #21613 "Azure Cli for synapse is not working as expected"
I am following the below documentation to import a notebook and pipeline into synapse but getting below issue

1. it is not respecting the folder structure

https://docs.microsoft.com/en-us/cli/azure/synapse/notebook?view=azure-cli-latest#az-synapse-notebook-set

Command:
az synapse notebook import --workspace-name workspace5 --name sharan_test2  --file '@C:\\Users\\shkanduk\\SharanKandukuri\\Test

[2022-03-12 00:17] SaurabhSharma-MSFT commented on #21584
@weltonrodrigo I could see the correct server entry in config file.  Please check below.
![image](https://user-images.githubusercontent.com/38112130/157994558-8c94c58c-3178-4560-8740-8d5339bb5363.png)
You may be getting the private link entry if your cluster is a [Private AKS](https://docs.microsoft.com/en-us/azure/aks/private-clusters).  Please verify and let us know if that's not the case.

[2022-03-12 00:29] SaurabhSharma-MSFT commented on #21606
@adamency Thanks for your feedback. Redirecting it to respective team.

[2022-03-12 00:36] SaurabhSharma-MSFT commented on #21610
@H4D53 Thanks for reporting this issue.  We are looking into it and get back to you for any additional information.

[2022-03-12 01:01] weltonrodrigo commented on #21584
That’s the case, it’s a private cluster.

But shouldn’t private clusters get the public dns zone name? If I change the `server` url entry in kubeconfig to the public dns, I get a private IP, as expected.

At the portal, API endpoint is shown as cluster_name-resource_group-XXXXXX-XXXXXXXX.hcp.brazilsouth.azmk8s.io:

A DNS query for that address at 1.1.1.1 results (surprisingly) in its private IP (!

[2022-03-12 01:08] SaurabhSharma-MSFT commented on #21613
@Sharan441 Is your Synapse Workspace Git-Enabled ?

[2022-03-12 01:16] Shutch748 opened #21614 "My software"
**Resource Provider**

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2022-03-12 01:16] Shutch748 commented on #21614
Mine

[2022-03-12 01:27] #21614 closed

[2022-03-12 01:27] yonzhan commented on #21614
Please provide which Azure CLI command

[2022-03-12 01:27] yonzhan commented on #21613
route to CXP team

[2022-03-12 01:29] yonzhan commented on #21610
route to CXP team

[2022-03-12 01:29] yonzhan commented on #21606
route to service team

[2022-03-12 01:30] yonzhan commented on #21604
route to service team

[2022-03-12 01:30] yonzhan commented on #21612
@jiasli for awareness

[2022-03-12 01:31] yonzhan commented on #21611
storage

[2022-03-12 01:32] yonzhan commented on #21609
@jiasli for awareness

[2022-03-12 01:33] yonzhan commented on #21608
Databricks

[2022-03-12 01:35] Shutch748 commented on #21614
All of it it belongs to the Asus ROG gaming laptop I own

On Fri, Mar 11, 2022, 5:27 PM yonzhan ***@***.***> wrote:

[2022-03-12 03:18] zhoxing-ms commented on #21602
This looks like a service related issue. Could you send me the debug log by email ? My email address is Zhou.Xing@microsoft.com

[2022-03-12 05:10] #19175 closed

[2022-03-12 07:22] navba-MSFT commented on #21521
PR #21615 for the fix has been created

[2022-03-12 08:00] #21119 closed

[2022-03-12 08:00] #10944 closed

[2022-03-12 08:09] logan-1999 opened #21616 "Not able to login using az login"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-03-12 08:10] Kotasudhakarreddy commented on #15811
please use the latest version of cli `2.34.1` to unblock from the issue.

[2022-03-12 08:31] Kotasudhakarreddy commented on #16535
Here the help command `-h` is showing the required parameters correctly.
![image](https://user-images.githubusercontent.com/60102891/158010441-41f612c5-4c2f-482b-858a-3708d385c3d1.png)

@panchagnula documentation is generated automatically based on the `_help.py`. Can you please confirm if we need to check this issue with the `core-cli` team.

[2022-03-12 08:37] Kotasudhakarreddy commented on #18725
closing due to lack of response. Please file a new issue if this is still a problem.

[2022-03-12 08:37] #18725 closed

[2022-03-12 09:51] Jaffacakes82 commented on #20842
Thanks @ssvalkyrie, worked a treat. @navba-MSFT, agree with @Zerthick, this needs addressing by Microsoft.

[2022-03-12 10:50] Rashair opened #21617 "Invalid range of values for `max-interval` and `max-staleness-prefix`"
It's stated that the range of values for `max-interval` is [1, 100], whereas it's actually  [5, 86400] seconds.
Simirarily, with `max-staleness-prefix` - it's [1, 2147483647], whereas it's actually  [10, 1000000].

![image](https://user-images.githubusercontent.com/33404585/158015077-443b2e06-ffa6-4f1c-9e1d-c899003ab4bb.png)

---
#### Document Details

⚠ *Do not edit this section. It is required f

[2022-03-12 13:18] yonzhan commented on #21617
route to CXP team

[2022-03-12 13:19] yonzhan commented on #21616
@jiasli for awareness

[2022-03-12 13:49] logan-1999 commented on #21616
I found my system's time was behind 5 hrs, I synchronized it with current time and it works just charm.

Don't know how to close this issue on Git, please close it :)
Thanks.

[2022-03-12 13:49] #21616 closed

[2022-03-12 18:47] Cliencetalk commented on #19380
Hi，Guys，thanks for your feedback and already done

[2022-03-12 21:07] itpropro commented on #21417
Hi @bmoore-msft, the scenario that doesn't work is the one described in the OP for automation. If I have not missed anything, it's not possible to specify credentials for automated deployment with the --aux-tenants parameter, so it's not usable for automation.
If the answer for this scenario is that it is just not possible with Azure to do an automated (non-interactive) deployment of vm with image

[2022-03-13 07:04] fslefevre78 opened #21618 "Unable to use 'az webapp auth update' to set 'unauthenticatedClientAction'"
**Describe the bug**
Unable to update the authentication settings for the webapp in the v2 format (WebApp/FunctionApp). I am trying to set the 'The action to take when an unauthenticated client attempts to access the app.' Allowed values: AllowAnonymous, RedirectToLoginPage, RejectWith401, RejectWith404.

When using 'AllowAnonymous' and 'RedirectToLogonPage' it's working fine but I need 'RejectWit

[2022-03-13 10:38] seullee-me opened #21619 "azure cli error about azure bastion"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network bastion tunnel`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network bastion tunnel --name {} --resource-group {} --targ

[2022-03-13 10:42] seullee-me commented on #21619
Resolved the issue

[2022-03-13 10:46] H4D53 commented on #21610
in case it may related (even thought I believe it does not) , but the error during run the az upgrade command is fixed and the debug output is here
[code]
obviously it said my current version 2.33.1 is different with latest version 2.34.1 at the beginning and it said it is already the newest version 2.33.1

[2022-03-13 13:43] yonzhan commented on #21619
route to CXP team

[2022-03-13 13:45] yonzhan commented on #21618
route to CXP team

[2022-03-13 14:11] edixred opened #21620 "error login without different account"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login -u {} -p {}`

## Expected Behavior

## Environment Summary
[code]
## A

[2022-03-13 15:19] techiechap opened #21621 "Mac OS : Moneterey: brew update && brew install azure-cli: unshallow"
**Describe the bug**
 When trying to install az cli on the monetery "12" ends up with unshallow flag, brew is not updated hence needed to modify the .rb file with as per the discussion [github](https://github.com/Homebrew/discussions/discussions/941) but i am not sure if thats a standard way of doing it.

**To Reproduce**
mac os : moneterey 12
brew update && brew install azure-cli

**Expected beha

[2022-03-13 15:43] techiechap commented on #21621
`git -C /usr/local/Homebrew/Library/Taps/homebrew/homebrew-cask fetch --unshallow`
`git -C /usr/local/Homebrew/Library/Taps/homebrew/homebrew-core fetch --unshallow`
I am not sure if unshallowing is right way to do , there were outdated formulas as shown below, i had to upgrade brew, and i was able to use az which was already out there.
`azure-cli (2.0.67) < 2.34.1
gcc (9.3.0_1) < 11.2.0_3
gdbm (1

[2022-03-13 16:38] nielsvdc commented on #19918
This is an old issue that is still open. I still have the same issue when running "az sql server create" and using Azure CLI version 2.34.1. The json output for this command returns an additional: "{'additional_properties': {}, 'user_assigned_identities': None, 'principal_id': None, 'type': 'SystemAssigned', 'tenant_id': None}".

[2022-03-13 18:43] 0xUnicorn commented on #8305
I'm facing this issue trying to build a Docker instance using PipAuthenticate for serving `arguments: --build-arg 'INDEX_URL=$(PIP_EXTRA_INDEX_URL)'

My Docker@1 build command fails due to `"docker build" requires exactly 1 argument.` even if I quote the build-args.

I thought these built-in tasks was supposed to support the inputs offered. You clearly have a bug since so many have this issue. Try

[2022-03-13 21:31] Treybleed commented on #20240
@Kotasudhakarreddy @navba-MSFT Any update on this? I'm still getting this issue.

[2022-03-13 23:31] yonzhan commented on #21621
@jiasli for awareness

[2022-03-13 23:35] yonzhan commented on #21620
@jiasli for awareness

[2022-03-14 01:30] yangchengs commented on #20188
@navba-MSFT It is working, but it did not fix my initial request.
The problem is that cx wants to use deny policy to prevent webapp creation with httpsonly=false.

But the command below can bypass the policy, the webapp myapp110402 can be created and the httpsOnly = false.
 the \"hostNameSslStates\":{\"sslState\":\"Enabled\"} caused this issue.

az resource create -g yangshenrg001 -n myapp110402 -

[2022-03-14 01:36] jiasli commented on #14011
@alan-czajkowski, this is because you didn't add Microsoft Linux repo. Please see https://github.com/Azure/azure-cli/issues/19640.

[2022-03-14 03:01] #21393 closed

[2022-03-14 03:51] navba-MSFT commented on #21497
@BzSpi I have heard back from from the product owners, unfortunately the workaround you have followed now seems to be the only option. There are no plans in the pipeline to have this in AzCLI.
On a side note, We have a new type of cluster being released in the upcoming months that will allow for a much cleaner use of this scenario. There is no ETA for the release or no documentation available whic

[2022-03-14 03:51] navba-MSFT commented on #21538
@DanJoh74 We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-03-14 03:51] #21538 closed

[2022-03-14 03:52] me1221 opened #21624 "g"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`Unknown`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az get--resource`

## Expected Behavior

## Environment Summary
[code]
## Additi

[2022-03-14 03:53] navba-MSFT commented on #19380
@Cliencetalk Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-03-14 03:53] #19380 closed

[2022-03-14 04:02] alan-czajkowski commented on #14011
@jiasli you're late to the party, see my solution above

why can't Microsoft add Azure CLI to the official Debian repos?

[2022-03-14 04:03] #21624 closed

[2022-03-14 04:04] yonzhan commented on #21624
Please provide detailed CLI command

[2022-03-14 04:10] navba-MSFT commented on #21542
@ramganesh19 We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-03-14 04:10] #21542 closed

[2022-03-14 04:42] Kotasudhakarreddy commented on #20240
Yes, I am able to repro the issue. It requires code fix. We will plan for a fix in the coming releases.
@panchagnula FYI

[2022-03-14 05:40] navba-MSFT commented on #21617
@Rashair Thanks for reaching out to us and reporting this issue. The above PR has been filed to address this issue and it is currently in the review phase. In the meantime, if you have any questions, please feel free to ask.

[2022-03-14 06:14] jiasli commented on #14011
I know, since 05/12 is Saturday! 🤣

All Microsoft Linux packages are delivered from https://packages.microsoft.com/ due to company policy. Appreciate your understanding.

[2022-03-14 06:22] atpatat opened #21627 "az commands fail"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm disk attach`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm disk attach --resource-group {} --vm-name {} --name {} --size-gb

[2022-03-14 06:24] jiasli commented on #21612
2.22.0 is very old version. Please install the latest 2.34.1, delete `~/.azure` and re-run `az login.

[2022-03-14 06:29] jiasli commented on #21616
@logan-1999, glad to know the issue is solved. We'll refine the error message in next version.

[2022-03-14 06:31] navba-MSFT commented on #21619
@seullee-me Thanks for reaching out to us. Could you please let me know if you have any proxy in your corporate network ? If Yes, could you try to bypass it and check if that helps? Also could you please test the same command using the Azure Cloud Shell[ TryIt option](https://docs.microsoft.com/en-us/cli/azure/network/bastion?view=azure-cli-latest#code-try-14) and check if that works? Awaiting you

[2022-03-14 06:34] jiasli commented on #21620
Please share more detail for us to troubleshoot.

[2022-03-14 06:37] jiasli commented on #21607
Duplicate of #20231

[2022-03-14 06:39] ruthvik123 commented on #21612
Np, I figured it out. It was just version mismatches in libs. Unfortunately az-cli with version > 2.30 has some breaking changes introduced and I needed the older versions. I had to uninstall python 3.9 and re install 3.7 and then install az-cli version 2.29.2. Then it worked. It was just  version mismatches amongst all the packages.
Thanks for the help.
-Ruth

[2022-03-14 06:39] #21612 closed

[2022-03-14 06:58] yonzhan commented on #21627
Compute

[2022-03-14 07:06] DuongThiNgocHoa opened #21628 "Import Python package for Automation account"
Now i want to use ansible to import Python package when i have manual downloaded.

![image](https://user-images.githubusercontent.com/49944383/158121643-f6df6af6-5a29-4186-81c3-655a06f05de1.png)

How to do it by power shell or cli or ansible ? Thanks

[2022-03-14 07:50] seullee-me commented on #21619
Hello, there.

Issue is resolved.
Thanks for your supports

2022년 3월 14일 (월) 오후 3:32, navba-MSFT ***@***.***>님이 작성:

[2022-03-14 07:52] navba-MSFT commented on #21619
@seullee-me Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-03-14 07:52] #21619 closed

[2022-03-14 08:12] #21628 closed

[2022-03-14 08:13] yonzhan commented on #21628
Please open this issue in ansible repo, thanks

[2022-03-14 09:05] Peter-Msft commented on #21562
@SaurabhSharma-MSFT - Could you re-assign as there is currently nobody assigned?

[2022-03-14 10:53] v-fearam commented on #21602
I sent the log requested by you.

[2022-03-14 13:07] RaymondTang opened #21632 "Microsoft.CognitiveServices, Keep "Registering" / "Unregistering", so that cannot create related services and cannot resolve"
Because "Microsoft.CognitiveServices" keep "Registering", so that I cannot create Bot Services about it.

Used "Get-AzResourceProvider -ProviderNamespace Microsoft.CognitiveServices", there had 15 ResourceTypes that related to CognitiveServices.

But I tried to "Unregister-AzResourceProvider -ProviderNamespace "Microsoft.CognitiveServices" or "Register-AzResourceProvider -ProviderNamespace "Micros

[2022-03-14 14:32] bondib commented on #17123
I'm encountering the same issue when trying to find a disk (right after creation and sometimes for hours after creation) with "az disk list --resource-group RG-NAME".
Maybe it will help someone and not sure if this workaround always works but when I remove the "--resource-group" filter - I do find the disk (together with all other disks in the subscription :-(   )

[2022-03-14 16:11] bdcoder2 opened #21633 "How to specify the storage account and container when using az webapp log config with azureblobstorage option?"
When using  [az webapp log config](https://docs.microsoft.com/en-us/cli/azure/webapp/log?view=azure-cli-latest#az-webapp-log-config)   --application-logging azureblobstorage ...

How do you specify:

1. The storage account to be used?
2. The storage container to be used?

When using the Azure Portal and setting the **Application logging (Blob)** option to **On** -- the portal allows you to select

[2022-03-14 17:25] CorrenSoft opened #21634 "az functionapp config appsettings set fails to update broken keyvault reference"
**Describe the bug**
The '_az functionapp config appsettings set_' command fails to update a setting when the current value is a broken key vault reference with **Error: None** message.

**To Reproduce**
- Add a setting with a key vault reference with the format @Microsoft.KeyVault(VaultName=<kv Name>;SecretName=<secret name>)
- Restart the function and check that the reference gets resolved.
- De

[2022-03-14 17:29] DavePiperMicrosoft opened #21635 "`az keyvault key` is broken"
## Describe the bug

Running  `az keyvault key`  with any subcommand returns an error.

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault key --help`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2022-03-14 17:55] JasonFreeberg commented on #21540
@florentpln -- Go to the Configuration blade in the portal and you can set your patch version there.

[2022-03-14 17:55] #21540 closed

[2022-03-14 19:19] StrawnSC commented on #21574
@MarcusAPT thanks for reporting. I  get the same error if I run the command on a webapp that doesn't exist. Could you verify that a webapp with the correct name/resource group exists in your subscription by running `az webapp show --name {} --resource-group {}`?

I opened https://github.com/Azure/azure-cli/pull/21636 to ensure that a more helpful error message is returned in this case

[2022-03-14 19:30] StrawnSC commented on #21588
Based on our email exchange, it seems like this issue was fixed in a recent release. Please reopen if you're still running into this bug

[2022-03-14 19:30] #21588 closed

[2022-03-14 20:09] StrawnSC commented on #21144
Hi @petrkoutnycz, you can see App Service Plan SKUs for function apps under the parameter help text for `--sku`. You can open the help text with `az functionapp plan create --help`. The `--help` (and it's equivalent `-h`) parameters can be used to view the help text on any command / command group

[2022-03-14 20:09] #21144 closed

[2022-03-14 20:12] askpatrickw opened #21637 "Cannot delete subnet with serviceAssociationLinks which cannot be deleted."
## Describe the bug

This subnet was used by PowerBI and cannot be deleted, we cannot set the serviceAssociationLinks to None in the portal either.
The PowerBI objects have already been deleted.

[code]

**Command Name**
`az network vnet subnet delete`

**Errors:**
[code]

## To Reproduce:
See other context...

- _Put any pre-requisite steps here..._
- `az network vnet subnet delete --ids {}`

##

[2022-03-14 20:15] sonalika-roy opened #21638 "Az login from ubuntu"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-03-14 20:21] florentpln commented on #21540
Thanks. I already seen this detail. My question was to be able to set this using "az webapp create".
The available runtimes are not allowing me to select the minor version:
az webapp list-runtimes --linux | grep JAVA
  "JAVA|8-jre8",
  "JAVA|11-java11",

[2022-03-14 20:43] zwolf commented on #21477
"`latest`", insofar as the [azure-cli github action](https://github.com/Azure/cli) is concerned, is still 2.33.1 as of this post. It was 2.34.1 for at least a few hours last week, but was apparently reverted. That is, a github action such as the one in the OP shows something like this in the console:

[code]

 I have pinned the older 2.33.1 version in my workflows because the update to 2.34 breaks

[2022-03-14 21:16] bmoore-msft commented on #21417
The ```aux-tenants``` param takes a tenantId (not creds) - CLI will go fetch the token from that tenant for the current user.  So basically you have something like:

[code]

In the REST api you have to supply the token, but CLI makes that much nicer by fetching the token for you if you just give it the tenantId...  That does work today.

Does that help or am I still off somewhere?

[2022-03-14 21:26] SaurabhSharma-MSFT commented on #21462
@dayland We haven't heard back from you.  Please let us know if you have any other questions else we will proceed with the closure of this issue.

[2022-03-14 22:16] herreraj-ms opened #21640 "[Azure Monitor] Update Data Collection Rules to 2021-09-01-preview"
**Resource Provider**
- RP: Azure Monitor Control Service
- Resources:
   - Data Collection Rules
   - Data Collection Rule Associations
   - Data Collection Endpoints

**Description of Feature or Work Requested**
- Update AMCS resources (DCR, DCRA, and DCE) to the latest API specification 2021-09-01-preview
- Documentation Links:
   -  DCR overview: https://docs.microsoft.com/en-us/azure/azure-mo

[2022-03-14 22:28] yonzhan commented on #21632
Please open this issue in Azure PowerShell repo

[2022-03-14 22:28] #21632 closed

[2022-03-14 22:29] yonzhan commented on #21633
route to CXP team

[2022-03-14 22:31] yonzhan commented on #21634
route to CXP team

[2022-03-14 22:31] yonzhan commented on #21635
keyvault

[2022-03-14 22:33] yonzhan commented on #21637
network

[2022-03-14 22:34] yonzhan commented on #21638
@jiasli for awareness

[2022-03-14 22:39] yonzhan commented on #21640
monitor

[2022-03-15 00:59] wahyuen commented on #21477
Yet more breaking changes marked with 'patch' numbers. Is it so hard to follow SemVer and mark it as new release and not cause customers workloads to fail which have been working for YEARS!

[2022-03-15 01:47] zhoxing-ms commented on #21602
In fact, this should be an error message returned by the REST service, so we need the investigation of the service team

Request URL:
[code]

**'x-ms-correlation-request-id': 'ddd51e9f-6be2-487d-92a5-e1cf02cc6b7f'**

[2022-03-15 01:50] evelyn-ys commented on #21635
`azure-cli 2.0.81` is not our official Azure CLI. See #19640 for details

Please install our CLI following https://docs.microsoft.com/cli/azure/install-azure-cli
The latest version is 2.34.1

[2022-03-15 02:30] jiasli commented on #21638
Duplicate of #20388

[2022-03-15 02:30] #21638 closed

[2022-03-15 02:38] dayland commented on #21462
We are trying this, but are dealing with extra complications of the REST APIs that are not working the same as the CLI. This is a big overhaul for our automation scripts to have to move from CLI to REST.

One very major difference is that on the CLI you can only specify the parameters that you want to update. In our scenario we only needed to update the --package and --library-requirements attribu

[2022-03-15 03:28] Aminadad27 opened #21642 "logo-64x64@2x.png"
Opcion de Josué Aminadad González The Intel. Is. were and #e

[2022-03-15 04:17] yonzhan commented on #21642
Please provide detailed CLI commands

[2022-03-15 04:17] #21642 closed

[2022-03-15 04:31] #21609 closed

[2022-03-15 06:05] Jtango18 commented on #8530
I can confirm that I am still seeing this issue in az version 2.34.1

`az identity create` returns success immediately which breaks role assignment further down the script because the identity/SP has not been populated yet.

Exactly as originally posted by @timja

[2022-03-15 06:10] SatishBoddu-MSFT commented on #21633
Hello @bdcoder2 Thanks for the query. I hope the below steps will unblock with initial query.

Pre-Req: Generate the SAS URL of the storage Container:

First Set\Update the Log config by using the below command:

`az resource update --ids "/subscriptions/4fb-b5ba-2b83a124dr567hu/resourceGroups/mYResources/providers/Microsoft.Web/sites/WebApplication120/config/logs" --set properties.applicationLogs

[2022-03-15 07:25] RaymondTang commented on #21632
Thanks so much!

[2022-03-15 07:28] jonie001 commented on #21330
#21630

[2022-03-15 07:37] #20719 closed

[2022-03-15 08:00] #19794 closed

[2022-03-15 08:00] #19479 closed

[2022-03-15 08:00] #19419 closed

[2022-03-15 08:00] #19268 closed

[2022-03-15 08:00] #19170 closed

[2022-03-15 08:00] #15059 closed

[2022-03-15 08:03] zhoxing-ms commented on #8530
@Jtango18 At present, we have determined that this problem is caused by propagation delay of managed identity on the server side, and we are discussing the solution with the service team through email

[2022-03-15 08:38] navba-MSFT commented on #21634
@CorrenSoft Thanks for reaching out to us. I used the below command to create and update the KeyVault reference in config appsettings. I tried with both existing and non-existing keyvault references. Could you please test the same and let us know if you face any issues?

[code]
Also if you still face the issue, could you please provide me more information about the _reference status_ and _broken r

[2022-03-15 09:05] navba-MSFT commented on #20858
@nc-ruth Apologies for the late reply. Could you please let us know if you had a chance to follow the suggestions provided by @evelyn-ys in the [above](https://github.com/Azure/azure-cli/issues/20858#issuecomment-1002836587) comment ? Awaiting your reply.

[2022-03-15 09:29] #21617 closed

[2022-03-15 09:43] fairmonk commented on #21597
Problem solved. It was a proxy issue. Since cron doesn't load by default environment variables, I had to explicitly define them within script containing az storage command.

[2022-03-15 09:43] #21597 closed

[2022-03-15 10:20] navba-MSFT commented on #21006
@hichamveo Apologies for the late reply. For webhook endpoint type, this should be the corresponding _webhook URL_. I am sending the below sample command which has the example of the webhook URL:

[code]
Please change your `--endpoint` to the webhook url in your command and run the command again. Awaiting your reply.

[2022-03-15 10:58] pci7 opened #21644 "No access ssh after the automatic update schedule on Azure"
**Describe the bug**
 Hi guys!

I have an automation account created by my client and have started scheduling automatic updates for a group of linux machines.

It was successful except in one machine, I wanted to verify the problem by connecting with azure-cli (via powershell on my local pc) with the command

`az ssh vm --ip 10.xxx.xxx.xxx`

But nothing happens, I noticed that I can no longer conn

[2022-03-15 12:18] DavePiperMicrosoft commented on #21635
Thanks, that's worked a treat.

[2022-03-15 12:18] #21635 closed

[2022-03-15 13:16] yonzhan commented on #21644
route to CXP team

[2022-03-15 14:08] kezarmader commented on #16164
Hi, I am not sure when this issue was raised, please feel free to close it.
Thank you

[2022-03-15 14:12] fillip1983 commented on #18052
We have the same issue, also with Kubernetes Service Connections.
Seems that the association between the resource in Azure and the SC in ADO is broken somehow, and when that happens, `az devops service-endpoint list` will not return the SC's, even though we can still see them via the DevOps portal > Project Settings > Service Connections.
We then have to delete them manually before re-running our

[2022-03-15 14:16] pci7 commented on #21644
sorry, it's my first time. You can send me the link of CXP team, thanks

[2022-03-15 14:42] emp00001 opened #21645 "to connect to 1 subscription of azure from linux vm using CLI"
on azure portal we have several subscriptions, I have the linux VM running on my laptop with azure CLI installed, when I run:  az login, it just log me into azure account where I can see all subscriptions, how I can login and use only 1 specific subscription, so my scripts will be executed only in 1 subscription ?

[2022-03-15 15:58] provenvelocity opened #21646 "yum install azure-cli and pip install everything else makes issues."
If you install azure-cli with yum it install everything into a different location than all the rest of the python site libraries.

This causes several issues.

1. The first issue is that the global extensions no longer load into the env when calling az commands. This is because the global extensions as noted in the line of code below pulls from the python lib folder which is not where yum installs

[2022-03-15 16:36] CorrenSoft commented on #21634
We had a setting with a key vault reference in place, but after a review, we decided that the value was not sensitive and decided to change it to plain text format. So, in the CI/CD process, we deleted the secret from the key vault and then tried to update the setting, but the command failed each time until we actually deleted the setting.
Today, I rebuilt the same scenario as yesterday, and I get

[2022-03-15 16:41] RDukes425 opened #21647 "Add Ability to Add First and Last Name fields via the az ad user create Command"
== Feature Description==
Customer would like to add the First and Last Name as Optional Parameters to set programmatically when executing the az ad user create command

== Context ==
Currently, the az ad user create command has some required and optional parameters. The closest parameter to a First Name and Last Name is Display Name, however in the Azure Portal, First Name and Last Name are entrie

[2022-03-15 17:20] bdcoder2 commented on #21633
@SatishBoddu-MSFT - Almost -- can you expand on where the "?sp=racwdl&st=2022-03-15T05:59:03Z" comes from?

Thanks

[2022-03-15 17:24] SatishBoddu-MSFT commented on #21633
[code]

Please try the above one!

[2022-03-15 17:51] simratsatia opened #21649 "Warning for AHBForRHEL/AHBForSLES Azure VM Extension installation process"
**Is your feature request related to a problem? Please describe.**

Aim: We are introducing a two new Azure VM Extensions (Name: AHBForRHEL and AHBForSLES) as part of Azure Hybrid Benefit effort (Link to documentation: https://docs.microsoft.com/en-us/azure/virtual-machines/linux/azure-hybrid-benefit-byos-linux).

As part of the extension installation process that is done using the following comma

[2022-03-15 18:08] carvido1 opened #21650 "Azure cli fails check when checking ACR connection for AKS cluster in same location"
## Describe the bug

After AKS cluster creation, we attach a container registry which has a privatelink in the same VNET as the cluster. After this, we run the az command to check the connection between the AKS cluster and the container registry. What we get as output is that the cluster is running in different location to the privatelink, which is not true at all.

**Command Name**
`az aks check-

[2022-03-15 18:09] jonbeck7 commented on #17677
Repro steps:
1) Create a ATM profile
2) add endpoint to the profile (Ipv4 or Ipv6)
3) create a DNS Zone
4) add recordset to zone selecting "alias" and then selecting your newly created ATM profile as your azure resource
5)export the newly created zone file

When you do this you should see the alias, but instead you don't get anything.  Here is a screenshot from the portal UI:

![image](https://use

[2022-03-15 19:44] SudoSpartanDan commented on #21532
I can confirm I was using the install script with Ubuntu 21.10 and it was working just fine before this change. I am now having to install a bunch of python dependencies in my Docker image just to get azure-cli to work, bloating my image size. Is there an ETA on fixing this?

[2022-03-15 19:47] brad-lucas opened #21652 "[Error] Cannot run `az login` after previously-linked tenant deleted"
## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

I believe something is pulling in membership from a tenant that no longer exists.

Over the past few

[2022-03-15 20:02] ahmetcecen commented on #21030
Was this ever resolved?

[2022-03-15 21:59] bdcoder2 commented on #21633
@SatishBoddu-MSFT - no go, the "az resource update" blows up with:

`Couldn't find 'applicationLogs' in 'properties.applicationLogs'. Available options: ['adminEnabled', 'availabilityState', 'buildVersion', 'cers', 'clientAffinityEnabled', 'clientCertEnabled', 'clientCertExclusionPaths', 'clientCertMode', 'cloningInfo', 'computeMode', 'containerSize', 'contentAvailabilityState', 'csrs', 'customDom

[2022-03-15 22:05] SatishBoddu-MSFT commented on #21633
Ok, I have run the command once again, no errors on my side.

![image](https://user-images.githubusercontent.com/62923178/158480145-2edd692c-503d-48dd-bc70-f128950248ac.png)

[2022-03-15 22:12] bdcoder2 commented on #21633
@SatishBoddu-MSFT - Thanks - and apologies, I missed the "/config/log" portion in the the script.

For those that stumble here - the complete script to create an App Service that uses a blob storage container for logging is:

@SatishBoddu-MSFT - if you spot anything that can be improved upon, please do ...  Thanks again !!!

[code]

[2022-03-15 22:13] #21633 closed

[2022-03-15 22:25] bdcoder2 commented on #21633
@SatishBoddu-MSFT - Sorry, one other question if I may:

Where do I find the documentation regarding the "properties"?, i.e.:

- "properties.applicationLogs.azureBlobStorage.sasUrl"
- "properties.httpLogs.azureBlobStorage.sasUrl"
- "properties.httpLogs.azureBlobStorage.enabled"

Thank-you so much -- again !!

[2022-03-15 22:25] nielsvdc commented on #18467
Any updates yet on this?

[2022-03-15 22:31] SatishBoddu-MSFT commented on #21633
Hello @bdcoder2

Please refer to the below doc:

[az resource update](https://docs.microsoft.com/en-us/cli/azure/resource?view=azure-cli-latest#az-resource-update)

`az resource update --ids $id --set properties.connectionType=Proxy`

[2022-03-15 22:40] bdcoder2 commented on #21633
Hi @SatishBoddu-MSFT -- yes, but I guess I was asking where is the list of **property paths**?   Is there a list of property paths for the various resources?   For example, where would I find the "properties.applicationLogs.azureBlobStorage.sasUrl" property path or even know that was the path to use?  (for newbies such as myself, there is no way I would ever know to include that path in the comman

[2022-03-15 22:43] SatishBoddu-MSFT commented on #21633
Oh yeah , here we are, try this to fetch the available props

`az webapp log show --name WebApplication120220311071911 --resource-group MyRG`
![image](https://user-images.githubusercontent.com/62923178/158484309-e269332e-8528-4f5c-8646-b5808fc7bde8.png)

[2022-03-15 22:50] yonzhan commented on #21652
@jiasli for awareness

[2022-03-15 22:52] #16164 closed

[2022-03-15 22:54] yonzhan commented on #21645
@jiasli for awareness

[2022-03-15 22:55] bdcoder2 commented on #21633
AH, I see now -- the property path corresponds to the JSON path as per your example !! -- who knew!?

@SatishBoddu-MSFT - You are the master !!

Hopefully, I shouldn't have to bother you again; at least not for a while ;)

[2022-03-15 22:55] yonzhan commented on #21646
@jiasli for awareness

[2022-03-15 23:01] yonzhan commented on #21647
@jiasli for awareness

[2022-03-15 23:54] yonzhan commented on #21649
Compute

[2022-03-15 23:56] yonzhan commented on #21650
route to CXP team

[2022-03-16 01:21] assures opened #21654 "Unable to turn off autoinflate from CLI using"
The below command from cloudshell doesn't disable auto inflate. I run this, it executes with no error. But later I see the properties, and isAutoInflateEnabled is still True.

**az eventhubs namespace update --resource-group Default-EventHub-EastUS --name assures-autoinflissue --subscription e8baea74-64ce-459b-bee3-5aa4c47b3ae3 --enable-auto-inflate false**

After the command, run the below comman

[2022-03-16 03:04] emp00001 commented on #21645
or the other way around is:  if I do az account show     it displays the subscription name and subscription ID, is there any way to grep the subscription name and based on that get that subscription ID in the output

[2022-03-16 03:19] yonzhan commented on #21654
route to CXP team

[2022-03-16 03:53] adityabalaji-msft commented on #21018
Hi @Arulanand - wanted to check back if you could share the debug output for the command (in case it is still failing).
We had identified a related bug which is being fixed right now, but we would need the debug output to confirm whether your issue is due to the same underlying cause.

[2022-03-16 04:11] vishsiriah opened #21658 "Az login failure: RuntimeError: 0. The ID token is not yet valid."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-03-16 04:26] chinadragon0515 commented on #21457
this is a breaking changes and cause all the doc which has base64 encoding will not work for customer, can we make this as high priority?

[2022-03-16 05:26] ramankumarlive commented on #19786
@PARADISSEEKR KeyVaultAccessForbidden error means that you havent provided the DiskEncryptionSet permission in the new Key Vault before associating the DiskEncryptionSet to a Key in the KeyVault. Please provide necessary permission before updating the DiskEncryptionSet with a new Key Url.

[2022-03-16 05:32] ShafeerAli opened #21659 "Exception while creating an azure container app with dapr components"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az extension update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az extension update -n {}`

## Expected Behavior

## Environment Sum

[2022-03-16 06:23] LubosSykora commented on #21030
no. at least as far as i know... :-(

[2022-03-16 06:57] jiasli commented on #21658
Duplicate of 20388

[2022-03-16 06:57] #21658 closed

[2022-03-16 07:03] jiasli commented on #21532
We totally understand this situation and we are working tightly with https://packages.microsoft.com/ team. Since Ubuntu 22.04 will be released pretty soon, we will make zstd compression supported as soon as possible.

For now, **please use Ubuntu 20.04 LTS to install Azure CLI**.

In the meantime, might I recommend the **Subscribe** button? We will post here if there is any update.

![image](https

[2022-03-16 07:13] yonzhan commented on #21659
route to CXP team

[2022-03-16 08:00] #20653 closed

[2022-03-16 08:00] #19733 closed

[2022-03-16 08:00] #19723 closed

[2022-03-16 08:30] navba-MSFT commented on #21654
@assures Thanks for reaching out to us and sharing this feedback. We are looking into this issue and we will update this once we have more details on this.

[2022-03-16 08:34] navba-MSFT commented on #21634
@CorrenSoft unlikely a platform issue. If you are consistently able to reproduce the issue, please feel free to reopen this thread. We would be happy to work with you with on this again.

[2022-03-16 08:34] #21634 closed

[2022-03-16 08:36] jiasli commented on #21457
BTW, you may check what's actually in the variable using a very simply Python script:

[code]

Note the `\r` in `$name`.

[2022-03-16 08:37] navba-MSFT commented on #21492
@Icybiubiubiu Please test again with the same above command and let us know if you face any issues. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-03-16 08:37] #21492 closed

[2022-03-16 08:38] #21457 closed

[2022-03-16 08:43] pilarragorri-portugal commented on #12946
Hey  @jiasli, I completely agree with the fact that Graph is going to be a better successor to AD Graph.
My main concern here is the lack of clarity on what is actually going to change in regards of the 'az ad' module behaviours, do we have some sort of list with the expected changes?

[2022-03-16 09:34] jiasli commented on #12946
Surely we have! 😊 Please see https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-migration

[2022-03-16 09:41] Agger1995 commented on #21338
Hi.

As this has become a recurring issue for us, we would like to bring further attention to it.
We (@Xitric and myself) have spent some time identifying the root cause of the issue, and it seems to boil down to a simple matter of incorrect error suppression in try-except constructions.

The error occurs during the function `ensure_bicep_installation`, when it invokes `get_bicep_latest_release_ta

[2022-03-16 10:26] zhoxing-ms commented on #21338
@Shenglol Could you help  look at the bicep related issue?

[2022-03-16 10:34] rouke-broersma commented on #21338
@Agger1995 the issue with your solution is that this only works if your client already has been installed. There is still the case where the bicep binary is not yet available on the system but rate limiting is hit due to requests to the github api by other clients.

[2022-03-16 10:48] Mahelita opened #21664 "Exclude files/folders form upload when using az ml job create --file xyz.yml"
**Is your feature request related to a problem? Please describe.**
Because of internal legacy and dependencies, some large files are included in the local path. These files should not be uploaded to the azure ML workspace when submitting a job to azure ML using a yml file. Unfortunately, I did not find a way to specify files/folders to exclude from upload.

**Describe the solution you'd like**
Pos

[2022-03-16 10:54] anat-gilenson opened #21665 "CLI for SecurityInsights based on 2022-01-01-preview (with codegen)"
**Resource Provider**

SecurityInsights

**Description of Feature or Work Requested**

Update CLI to be based on latest API preview version, which includes latest features

**Minimum API Version Required**

2022-01-01-preview

**Swagger Link**

[https://github.com/Azure/azure-rest-api-specs/tree/main/specification/securityinsights/resource-manager/Microsoft.SecurityInsights/preview/2022-01-01-prev

[2022-03-16 11:35] justinmchase commented on #21338
@rouke-broersma @Agger1995

I was going to say the same thing, in my case is its not installed at all yet. That being said, I don't see why you wouldn't take the change proposed, because in the other case it likely would help. But I wouldn't consider it to solve the issue.

[2022-03-16 11:44] rouke-broersma commented on #21338
I agree, I just think that case does need to be caught and have it's own error message instead of adding this suppression and then dying somewhere else down the line because the binary doesn't actually exist.

[2022-03-16 11:59] Xitric commented on #21338
We just went over the source code again, and it turns out that we had a wrong impression of the Docker image we were using - we assumed Bicep was included, but we see now that it is in fact installed every time. So in that regard, the CLI is working correctly. But it is true that a more descriptive error message would be preferred.

Until they find a solution to their rate limit issues in the Bice

[2022-03-16 12:02] v-fearam commented on #21602
Hi, let me know if there is something that I can do.
Let me know when there is any news

[2022-03-16 13:15] yonzhan commented on #21664
route to CXP team

[2022-03-16 15:23] SaurabhSharma-MSFT commented on #21659
@ShafeerAli Can you please share the exception details?

[2022-03-16 16:22] ChristianBeier opened #21667 "az feedback and az extension * failed with unexpected error in Win11 Powershell"
**Describe the bug**
When I try to run `az extension list` or `az feedback` the command fails with an unexpected error

**To Reproduce**
Open a Powershell on Windows 11 and try to execute `az feedback`

**Expected behavior**
The command can be executed

**Environment summary**
Windows 11
PowerShell 7.2.1
Powershell 5.1.22000.282

azure-cli                         2.34.1
core

[2022-03-16 16:48] abi-kannan opened #21668 "Add redirectURI for single page application deployment in azure using Microsoft Graph API and Az rest command."
**Describe the bug**
Get error in deployment when adding SPA redirectURIs using microsoft Graph API.
command used:
az rest --method PATCH --uri 'https://graph.microsoft.com/v1.0/applications/<APP REG OBJECT ID>' --headers 'Content-Type=application/json' --body '{"spa":{"redirectUris":["https:<APP DOMAIN>"]}}'
error:
##[error]WARNING: The underlying Active Directory Graph API will be replaced by Mi

[2022-03-16 17:35] l3ender commented on #14768
@murphy85's approach worked for me but required just a minor tweak for using on WSL:
[code]

After this, `az acr login` worked as expected.

[2022-03-16 18:18] sgiddings-kunzleigh opened #21669 "Error running az webapp config appsettings list command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I am unable to run the az webapp config appsettings list command to generate current app settings on a web app.

**Command Name**
`az webapp config appsettings list --name web-app --resource-group resource-group`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values ha

[2022-03-16 18:38] itpropro commented on #21417
Thanks for the reply @bmoore-msft, the problem is that the current user is not the one with permissions in both tenants. There are two different service principals, one for Tenant 1 and one for Tenant 2. So `--aux-tenants` doesn't really help in that automation case, as I cannot provide 2 different service principals with it.

[2022-03-16 18:48] christiankuhtz commented on #21352
any plans to fix this?

[2022-03-16 19:52] alex-frankel commented on #21338
Just as FYI - we plan to host bicep on a CDN in the near future to avoid hitting the rate limit:
https://github.com/Azure/bicep/issues/3689

[2022-03-16 19:54] v-smeadows opened #21670 "ERROR: Invalid challenge parameters"
**Describe the bug**
$ az version
{
  "azure-cli": "2.34.1",
  "azure-cli-core": "2.34.1",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "azure-iot": "0.10.13",
    "costmanagement": "0.1.1"
  }
}

$ az keyvault secret list --vault-name kvcnspsqldev-1 --verbose
**ERROR: Invalid challenge parameters**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context*

[2022-03-16 19:58] mcgov commented on #19182
What is the current status of this ticket? This also isn't a feature request, it's a bug report.
- Azure-CLI should return an error when creating a VM that doesn't support AN with a NIC that has AN enabled.
- Azure-CLI incorrectly reports that some VM sizes support AN.

[2022-03-16 21:08] bmoore-msft commented on #21417
Ok, I'm with you...  that's not supported, all the tokens need to be from the same principal - see: https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/authenticate-multi-tenant#header-values-for-authentication

[2022-03-16 22:25] yonzhan commented on #21667
@jiasli for awareness

[2022-03-16 22:26] yonzhan commented on #21668
@jiasli for awareness

[2022-03-16 22:27] yonzhan commented on #21669
route to CXP team

[2022-03-16 22:29] marlenabowen commented on #11863
Running into the same issue using Bicep.

[2022-03-16 22:30] yonzhan commented on #21670
keyvault

[2022-03-16 22:31] Jedmeyer commented on #16713
Issue still exits in Visual Studio 2022 (17.1.1) with SSH debugging.

[2022-03-16 22:35] grtn316 commented on #16713
Although not ideal...there is an ssh based debug extension in VSCode that should allow you to do remote debugging.

[2022-03-16 22:37] panchagnula commented on #16713
this is a question on VS extension & explicitly the CLI command. @btardif / @seligj95 do we have contact for ' remote ssh extension in VSCode'?

[2022-03-16 22:39] v-smeadows commented on #21670
I'm not sure what the process is. This is my first time submitting.  What should I expect/do next?

[2022-03-16 22:53] paulgmiller opened #21671 "Code should be part of url on"
**Is your feature request related to a problem? Please describe.**

Currently when I do   az login

To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code AWSDQQ7J6 to authenticate.

I have to copy and paste or retype that code into the brower.

**Describe the solution you'd like**
Many terminals including windows terminal let you just click links. If t

[2022-03-16 22:56] yonzhan commented on #21671
@jiasli for awareness

[2022-03-16 23:32] davidsmatlak commented on #10324
The [comment](https://github.com/Azure/azure-cli/issues/10324#issuecomment-652121601) is correct that some links are used in multiple error code responses, and in those cases, it's best to link to an article rather than a specific section of an article. There's now a direct link to the resource functions article: https://aka.ms/arm-resource-functions. Based on this [comment](https://github.com/Azu

[2022-03-16 23:40] bdcoder2 opened #21672 "Missing CLI options for App Service logging ..."
Within the Azure Portal, the options for setting App Service web server logging are:

![azp1](https://user-images.githubusercontent.com/5932728/158707607-64d0cdaf-ac84-456f-b1d7-8d630ff7f811.jpg)

However, when trying to configure App Service logging using the [az webapp log config](https://docs.microsoft.com/en-us/cli/azure/webapp/log?view=azure-cli-latest#az-webapp-log-config) CLI the allowed op

[2022-03-17 00:00] evelyn-ys commented on #21670
Can you share the debug log with `az keyvault secret list --vault-name kvcnspsqldev-1 --debug`?

[2022-03-17 00:33] jago2136 opened #21673 "Azure Virtual Network Manager CLI extension."
**Resource Provider**

Azure Virtual Network Manager (extension name virtual-network-manager)

**Description of Feature or Work Requested**

We're releasing a new API version which includes...
- Adding force delete flags to various resources
- Fixing URI for network manager connection resource
- Splitting configuration and rule collection into admin rule collection/configuration and user rule/conf

[2022-03-17 01:35] yonzhan commented on #21672
route to CXP team

[2022-03-17 01:37] yonzhan commented on #21673
network

[2022-03-17 02:23] #21593 closed

[2022-03-17 02:30] jiasli opened #21674 "Use Read Write Consistency (RWC) Token to call Microsoft Graph API"
## Symptom

As reported in [IcM 294491919](https://portal.microsofticm.com/imp/v3/incidents/details/294491919/home), even though `az ad sp create-for-rbac` has retry logic to create service principal after the application creation replication/propagation is done:

https://github.com/Azure/azure-cli/blob/f8ea47cd3330d1125b322f6c54e3da947596c1c7/src/azure-cli/azure/cli/command_modules/role/custom.py

[2022-03-17 02:45] yonzhan commented on #21674
Use Read Write Consistency (RWC)

[2022-03-17 02:52] #21467 closed

[2022-03-17 03:02] jiasli commented on #21668
This warning is only added for `az ad` and `az role` commands (https://github.com/Azure/azure-cli/pull/21302). The warning won't be shown for `az rest`. It is also only a warning, not an error.

If you see any error with `az rest`, please share the corresponding error message.

`spa` support in `az ad app create/update` is currently not included in the Microsoft Graph migration:

 - https://docs.m

[2022-03-17 03:58] Icybiubiubiu commented on #21492
Hi @navba-MSFT ,

Thanks for help and sorry for late response. I have taken a log AL.
It works now
![image](https://user-images.githubusercontent.com/61815812/158734210-17c71062-a872-4bdd-96c3-34a9f94317af.png)

[2022-03-17 04:23] Jedmeyer commented on #16713
I'll try out some vs code extensions tomorrow, thanks for the tip.

[2022-03-17 06:52] jiasli commented on #21671
@paulgmiller, this is a really good suggestion and I also feel multiple copy-paste steps tedious and annoying.

Unfortunately, this message

is returned by AAD's [device code flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-device-code) and we Azure CLI and the underlying MSAL as a client has no control over it. 😥

[2022-03-17 06:57] jiasli commented on #21667
The command failed at

[code]

@kairu-ms, could you help take a look?

[2022-03-17 07:12] navba-MSFT commented on #21669
@sgiddings-kunzleigh Thanks for reaching out to us. I was able to run the above command and it worked. Could you please install the Azure CLI from [this](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-macos) link and test it again ? Alternatively, could you also test the same command from the cloud shell [TryIT](https://docs.microsoft.com/en-us/cli/azure/webapp/config/appsettings?vie

[2022-03-17 07:27] petrkoutnycz commented on #21144
I was not aware of this command, thank you.
Though I dont think it is much of a help. I've attached value I see in the output. It does not tell me possible values for SKU that I can use. Even though there are couple of examples down below, it does not list all possible options for SKU.
![image](https://user-images.githubusercontent.com/9723402/158758198-120ac2e9-9f96-424d-9da6-acc8f3d31afd.png)

[2022-03-17 07:31] #21521 closed

[2022-03-17 07:32] zhoxing-ms commented on #21649
Due to the Qingming Festival in China, our team aligned with Power Shell team and Cloud Shell team, the release time of this sprint is 04-06
If some customers want to experience those features in advance, we can provide them with the private CLI packages through [edge build](https://github.com/Azure/azure-cli/blob/dev/doc/try_new_features_before_release.md), they can install these private CLI pack

[2022-03-17 08:00] #21411 closed

[2022-03-17 08:00] #21306 closed

[2022-03-17 08:00] #21250 closed

[2022-03-17 08:06] navba-MSFT commented on #21672
@bdcoder2 Thanks for reaching out to us and sharing the feedback. I am looking into this issue and I will update this thread once we have more details.

[2022-03-17 08:09] byteknacker opened #21678 "Bastion Host Creation Failed Error "GatewayAllocationFailed" "Compute allocation failed. Please retry later""
**Description**
When creating a Bastion host in West Europe with allowed parameters for the Subnet with Terraform it fails with this error:

Error: waiting for creation/update of Bastion Host: (Name "bh-example" / Resource Group "example-rg"): Code="GatewayAllocationFailed" Message="Compute allocation failed. Please retry later.

When creating a Bastion host in West Europe with allowed parameters

[2022-03-17 08:14] simratsatia commented on #21649
Thanks for reaching out zhoxing. April 6 is doable for us.

[2022-03-17 08:18] calvinhzy commented on #21593
We will roll out the fix for next sprint. Thanks.

[2022-03-17 08:20] #21574 closed

[2022-03-17 08:21] Gordonby commented on #21256
I`ve just checked, and this is still an issue.

[2022-03-17 08:27] calvinhzy commented on #21611
This argument has been deprecated in track2 sdk. Thanks.

[2022-03-17 08:41] yonzhan commented on #21678
route to CXP team

[2022-03-17 08:45] navba-MSFT commented on #21650
@carvido1 Apologies for the late reply. Thanks for reaching out to us. Looking at the debug output, I see that the DNS resolution is happening just fine. Permissions are validated and it is correct. I also see that the command has succeeded as it says that -'Your cluster can pull images from containerregistry.azurecr.io!'.

[code]
Are you saying that there is issue in pulling the image from ACR to

[2022-03-17 09:39] shoebece commented on #21030
not for me too..

[2022-03-17 11:44] RamonaStefan commented on #12946
Hey @jiasli! In this [documentation](https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-migration), there are no breaking changes mentioned on the `az ad sp show` command. However, the warning appears for the entire `az` module as seen in this [PR](https://github.com/Azure/azure-cli/pull/21302/files#diff-577bf256565532649f8412372d893504965ad72b24513b33f24e0aa8d65dc2b1). This is blocking ou

[2022-03-17 13:40] pdebruin commented on #20368
Why has this been added to a milestone and removed multiple times?

[2022-03-17 13:41] ybadragon opened #21683 "`az ad/role` commands write WARNING for Microsoft Graph migration to `stderr`"
Hello,
I have raised this issue previously the day it occurred on a [separate repo](https://github.com/microsoft/azure-pipelines-tasks/issues/16012) and they directed me here. I've basically copy/pasted what I provided them, if you need any more information I'm happy to get that for you.

Enter Task Name: Azure CLI

Environment
Agent: Azure Pipelines - Windows 2019

Issue Description
Version 2.34.

[2022-03-17 14:25] tommasodotNET opened #21684 "Using az ad sp delete won't delete SP configuration"
**Describe the bug**
I've created an SP for rbac via az cli. I then used the client_id and client_secret to perform az login but got an error.
The non working SP has been deleted and recreated many times, in order to test out different configuration.
I then tried creating another SP with a different name and the login worked.
This makes me think that deleting the SP still leaves some configuration

[2022-03-17 14:48] sgiddings-kunzleigh commented on #21669
Hello @navba-MSFT,

I tried the same command in the Azure Cloud shell and it worked without issue. Is this potentially an issue from the Homebrew install on macOS then? I looked at the MS Docs page but it just asks me to install the Azure CLI via Homebrew, which is how I have it installed currently.

[2022-03-17 15:24] v-smeadows commented on #21670
$ az keyvault secret list --vault-name kvcnspsqldev-1 --debug
DEBUG: cli.knack.cli: Command arguments: ['keyvault', 'secret', 'list', '--vault-name', 'kvcnspsqldev-1', '--debug']
DEBUG: cli.knack.cli: __init__ debug log:
Cannot enable color.
DEBUG: cli.knack.cli: Event: Cli.PreExecute []
DEBUG: cli.knack.cli: Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at

[2022-03-17 15:56] sgiddings-kunzleigh commented on #21669
I got it working locally. I had to uninstall `azure-cli` via Homebrew, `rm -rf ~/.azure` directory, and reinstall `azure-cli` via Homebrew. I believe upgrading certbot screwed it up because it changed the Python dependency.

[2022-03-17 15:56] #21669 closed

[2022-03-17 16:14] yougotdirked commented on #20995
Hi @LotteVoorhorst, Is there any update on this? I have a similar problem which causes a lot of trouble in our DEV tenant...
I outlined it here on stackoverflow:
https://stackoverflow.com/questions/71485636/az-module-problem-get-azconsumptionbudget-returns-422-unproccessable-entity

Ill come back to this thread to check if there's any news..

[2022-03-17 19:32] j0rd1smit commented on #16880
I'm also still having this issues

[2022-03-17 19:48] jwshive commented on #10039
I'm running into this issue as well today trying to run a sql script on a msft sql server container.

`=> az container exec -g <resource-group> -n <container-name> --exec-command "/opt/mssql-tools/bin/sqlcmd -S localhost -U SA -P <password> -i /opt/scripts/create_database.sql"
OCI runtime exec failed: exec failed: container_linux.go:380: starting container process caused: exec: "/opt/mssql-tools/b

[2022-03-17 21:34] SaurabhSharma-MSFT commented on #21560
@anassk Redirecting this to respective to look into this.

[2022-03-17 22:13] jwshive commented on #15225
It's been a year, has anyone messaged to triage this yet?

[2022-03-17 22:44] rayluo commented on #21671
Well, there was a story behind it. 3 years ago during a hackathon, I used to work out a prototype to bypass the manually copy&paste by some other mechanism, and it felt really cool. But that project was shelved indefinitely, because "signing in via Device Code flow *without* a chance for user to carefully verify the code" is considered as a phishing risk. Since then, AAD's device code flow also pa

[2022-03-17 23:45] SaurabhSharma-MSFT commented on #19437
@armleads-azure Do you have any updates on this issue.

[2022-03-17 23:48] SaurabhSharma-MSFT commented on #20050
@armleads-azure Do you have any updates on this issue.

[2022-03-18 00:05] na-init opened #21685 "az webapp deployment using zip file fails"
**Describe the bug**
az webapp deployment fails ,
Following not very friendly error is coming

 WARNING: Getting scm site credentials for zip deployment
null_resource.run_script_curl (local-exec):   0     0    0     0    0     0      0      0 --:--:--  0:00:03 --:--:--     0
 WARNING: Starting zip deployment. This operation can take a while to complete ...
 ERROR: The command failed with an unexpe

[2022-03-18 00:06] adamency commented on #21606
@devops-hacks Consider thumbing up the OP, it's what actually creates visibility for feature requests :)

[2022-03-18 00:10] yonzhan commented on #21685
route to CXP team

[2022-03-18 00:44] itpropro commented on #21417
I think I have missed to state that clearer, but that was what I meant in the issue text saying "We need a solution where we can specify a second service principal and tenant to authenticate against the compute gallery." 😅
Do you have any idea if there is a solution for this on the horizon?

[2022-03-18 01:19] bmoore-msft commented on #21417
Not on the horizon that I'm aware of - the design is intentional due to the surface area it creates.

[2022-03-18 01:47] evelyn-ys commented on #20368
This is blocked by Python SDK gap between track1 and track2. We will add support as soon as Python SDK fix

[2022-03-18 03:27] chitrankv27 opened #21686 "az synapse notebook create"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az synapse notebook create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az synapse notebook create --workspace-name {} --name {} --fi

[2022-03-18 03:47] ShafeerAli commented on #21659
@SaurabhSharma-MSFT created another issue with proper details pls refer to
https://github.com/Azure/azure-cli/issues/20862

[2022-03-18 04:16] #21591 closed

[2022-03-18 05:07] osobeso opened #21687 "Error attempting to connect to aks cluster from WSL"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I'm getting an error while trying to connect to a cluster using az aks, from WSL.
When I don't use WSL it works fine.

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive info

[2022-03-18 05:21] jiasli commented on #12946
@RamonaStefan, your script shouldn't decide whether a command is successful based on `stderr`. It should check the exit code instead. Please see https://github.com/Azure/azure-cli#exit-codes

If you want to disable the warning, there is a global argument `--only-show-errors` to disable warnings for a specific command. You may also disable warnings for all commands with

[code]

For more info, plea

[2022-03-18 05:25] jiasli commented on #21683
Copied from https://github.com/Azure/azure-cli/issues/12946#issuecomment-1072043736:

Your script shouldn't decide whether a command is successful based on `stderr`. It should check the exit code instead. Please see https://github.com/Azure/azure-cli#exit-codes

If you want to disable the warning, there is a global argument `--only-show-errors` to disable warnings for a specific command. You may a

[2022-03-18 05:41] jiasli commented on #21671
The code for deciding whether to use auth code flow is here:

https://github.com/Azure/azure-cli/blob/d331edf76e5866cda1e6e9641d935256fc4f03ff/src/azure-cli-core/azure/cli/core/_profile.py#L148-L150

which calls `can_launch_browser`:

https://github.com/Azure/azure-cli/blob/07819726e13d72587eb82b65c92ecba3bb009f32/src/azure-cli-core/azure/cli/core/util.py#L725-L748

If the VM has a GUI, it is alre

[2022-03-18 06:18] #20174 closed

[2022-03-18 06:39] paulgmiller commented on #21671
@rayluo two different headless Linux boxes I ssh into. One  where I use vscode to do remote development and another a jumpbox where I need to az login to 2-3 different az resources a day.

[2022-03-18 06:46] yonzhan commented on #21686
route to CXP team

[2022-03-18 06:47] yonzhan commented on #21687
route to CXP team

[2022-03-18 06:47] samba2 commented on #9157
same here. On Windows 11 + WSL2. `ac account` takes 2-3 seconds. Please fix.