[2021-04-23 21:37] AshWilliams commented on #16764
Remember to also run this command before:

`az feature register --namespace Microsoft.ContainerService -n AutoUpgradePreview`

[2021-04-23 21:47] cicorias opened #17847 "valid azure monitor query with asterisk `*` fails during cli create"
## Describe the bug
When attempting to create a query that has an asterisk as part of a string, for example in `extract` regular expression, the CLI fails. The Portal allows the exact same query to be setup exactly as is and works as a saved alert.  We even attempted to use the same query/condition from `az monitor scheduled-query show` that is part of the json response.

**Command Name**
`az moni

[2021-04-23 21:57] cicorias opened #17848 "azure monitor query cannot use equals `=` or `==` in condition compare to threshold"
## Describe the bug

A valid query used for evaluation based upon `Equal` the symbol `=` is not valid, but error message says it should be.  We also tried `==` to no avail

**condition**
[code]

**Command Name**
[code]

**Errors:**

**when using single `=`**
[code]

**when using double equal `==`**
[code]

## To Reproduce:

run az cli command above

## Expected Behavior
Alert created that provides

[2021-04-24 00:10] claykimber opened #17849 "az webapp up: FileNotFoundError"
When trying to run az webapp up on debian sid I get the following error.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az webapp up --sku {} --resource-group {}

[2021-04-24 00:23] claykimber commented on #17849
User error.  I should have been using az webapp create instead of az webapp up.  az webapp up tries to upload code from the current directory (of which I had none, hence the error [I think]).

[2021-04-24 00:23] #17849 closed

[2021-04-24 01:01] yonzhan commented on #17843
Updated, thanks

[2021-04-24 01:01] #17843 closed

[2021-04-24 01:02] yonzhan commented on #17844
route to service team

[2021-04-24 01:05] yonzhan commented on #17848
monitor

[2021-04-24 01:05] yonzhan commented on #17847
monitor

[2021-04-24 01:07] yonzhan commented on #17845
route to service team

[2021-04-24 07:26] #16764 closed

[2021-04-24 13:39] kabukimurder opened #17850 "Webapp:az webapp config access-restriction add is not idempotent when working with Vnet restrictions"
**Describe the bug**
The fixes for webapp config access-restriction implemented in issue #13035 only works when specifying --ip-address. When working with Vnet access-restriction this parameter is not used and duplicate entries will occur since the command is not idempotent.

Specifying subnet Id does not help.

**To Reproduce**
az webapp config access-restriction add --resource-group $ResourceGro

[2021-04-24 19:08] aressler38 commented on #17792
@Kotasudhakarreddy,  what other options do we have for setting the app settings? Is there another way of doing it that works? I meanwhile I have been replacing = with a different token and doing a string replacement in app code 🤮

[2021-04-24 22:35] rajsell opened #17851 "az acr import needs --no-wait option"
az acr import being an async operation, the behavior of the az acr import command is working mimicking it to be a sync operation, it would be great if you can provide the --no-wait option so that if required customers can use that option to wait until the import operation completes.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linkin

[2021-04-25 00:40] yungezz commented on #17837
route to appropriate team

[2021-04-25 00:42] yungezz commented on #17842
add @fengzhou-msft to have a look.

[2021-04-25 00:44] yungezz commented on #17846
hi @szimmerMicrosoft there's no concrete ETA on when 2021-03-01 Swagger will be avaiable, there's high risk to catch 5/25 timeline. Based on info I got from Adam, Swagger will be ready for review at week of 4/26. With it, I dont' think features in 2021-03-01 could catch 5/25 release.

[2021-04-25 00:45] yungezz commented on #17850
route to appropriate team

[2021-04-25 00:46] yungezz commented on #17851
route to appropriate team

[2021-04-25 03:28] tonystz commented on #17733
I found the same issue in UAE North region. and now it block me.

[2021-04-25 03:31] msyyc commented on #17737
@Jandev which cmd do you use for 'RequiredArgumentMissingError: the following arguments are required: --service-name'

[2021-04-25 06:28] msyyc commented on #17662
@mrptsai According to help message, only name is permitted for '--vnet-name'.
![image](https://user-images.githubusercontent.com/70930885/115983192-4b4d3b80-a5d2-11eb-91b1-0ffb9e180c76.png)

[2021-04-25 06:34] msyyc commented on #17652
@supereddie There may be some time delay for docs. Now the docs have been updated : https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/latest/docs-ref-autogen/network/vnet-gateway.yml

[2021-04-25 06:34] #17652 closed

[2021-04-25 06:35] #17572 closed

[2021-04-25 07:45] #16504 closed

[2021-04-25 07:45] msyyc commented on #17536
@skotz Thank you for your feedback!

[2021-04-25 07:49] msyyc commented on #17517
@angethom what is the version of azure-cli? ('az -v' could help)

[2021-04-25 07:53] #17347 closed

[2021-04-25 07:58] msyyc commented on #17559
@patrickheinzelmann  I run the following cmd successfully. It seems that '2020-11-01' is supported. Could you run again with ' --debug' to get more info?

---------------------cmd begin---------------

az group create -n yyc -l westus
az identity create -g yyc -n access_identity （*1）

az keyvault create -g yyc -n kv-yyc --sku premium

az keyvault set-policy -g yyc -n kv-yyc  --object-id 0000000000

[2021-04-25 11:40] orloffm opened #17858 "az storage blob upload: make --name optional"
**Describe the bug**
`az storage blob upload` requires an explicit `--name` and cannot infer it from the file name (`-f`) by default.
https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#az_storage_blob_upload

**To Reproduce**
Use `az storage blob upload -f {} -c {}`, it requires `-n {}` to be specified.

**Expected behavior**
Work without `-n {}` specified.

**Environmen

[2021-04-25 11:43] orloffm commented on #16916
That means additional costs, no?

[2021-04-25 15:46] hoangelos commented on #16764
As I stated, I have long since run the acs-preview.  I've verified the output below.  I also ran the above, and have verified it below.  However, even so, it can't find the flag to enable the feature

`bash> az extension add --name aks-preview
Extension 'aks-preview' is already installed.

bash> az feature list -o table --query "[?contains(name, 'Microsoft.ContainerService/AutoUpgradePreview')].{N

[2021-04-25 15:47] hoangelos commented on #16764
@AshWilliams @g3gurung  read above.  Incorporated the suggestions, but this still is a bug.

[2021-04-25 18:24] ramaganesan-rg commented on #15952
Checking if you have any further questions on the response from our dev.

[2021-04-25 19:01] qwordy opened #17860 "Live test regression"
This issue is created by a program.
[Latest testing results of Azure CLI](https://clitestresultstac.blob.core.windows.net/latest/index.html)
[User Manual of Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EZGC9LwrN3RAscVS5ylG4HMBX9h7W0ZSA7CDrhXN5Lvx6g?e=V8HUmd)
[Upgrading API Versions in Azure CLI Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EcgPLHSkef9Mi14Rj

[2021-04-25 20:27] mladedav commented on #17762
For further reference, the linked workaround is to use an equal sign before the value.
```az group delete -y --no-wait --name="-bad-resource-group-name"```

[2021-04-25 20:27] #17762 closed

[2021-04-25 23:36] yonzhan commented on #17860
@zhoxing-ms for awareness

[2021-04-25 23:42] yonzhan commented on #17858
storage

[2021-04-26 02:03] fengzhou-msft commented on #17218
Close due to inactivity. Please feel free to open new issues if the latest Azure CLI still does not work for you.

[2021-04-26 02:03] #17218 closed

[2021-04-26 02:08] fengzhou-msft commented on #17003
@krishnamiriyala It looks like you're not using the azure-cli package from the microsoft repo. Please follow instructions [here](https://github.com/Azure/azure-cli/issues/14011#issue-640943121) to install the correct package.

[2021-04-26 02:56] Kotasudhakarreddy commented on #17837
Taking a look in to this.

[2021-04-26 03:49] yugangw-msft commented on #17851
will consider for v-next

[2021-04-26 06:47] michaelelleby opened #17866 "Query parameter does not support dash in resource name"
**Describe the bug**

Filtering by Key Vault with a dash in the name results in the error `argument --query: invalid jmespath_type value: '[?name==my-vault]'` whereas filtering by values without a dash work as expected.

**To Reproduce**

`az keyvault list --query [?name=='my-vault']`

**Expected behavior**

A list containing 1 key vault named "my-vault".

**Environment summary**

[code]

[2021-04-26 06:59] #17739 closed

[2021-04-26 07:54] Jandev commented on #17737
At the moment I'm using `PowerShell 7.0.3`.
Starting up the Terminal, I see the following:
[code]

[2021-04-26 07:55] sebastiaanvandesteeg opened #17868 "Unable to download Blob on Mac OS UTF-8"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob download`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob download --account-name {} --container-name {}

[2021-04-26 08:06] VIPHercules commented on #17818
Hi. The issue did persist, but I think it was due to the fact the function app plan was set to always on as I also couldn't perform the action in the azure and that was the feedback I was given by the UI. Once I disabled the always on action I was able to perform the update in the portal, I did not retry vie the azure cli however. Thanks for responding.

[2021-04-26 08:33] #16743 closed

[2021-04-26 08:43] OrrinEdenfield commented on #16822
Thank you for the guidance @fengzhou-msft. Looks like `pip3 install azure-cli` is working for me.

[2021-04-26 10:02] eggboy opened #17871 "'az pack build' is using old buildpack version"
**Is your feature request related to a problem? Please describe.**
'az pack build'  is using pack v0.4.1 under the hood that is preventing to use the latest buildpack like paketobuildpack or even latest cloud foundry images like 'cloudfoundry/cnb:cflinuxfs3'.

**Describe the solution you'd like**
Latest pack version is 0.18.1 as of Apr 26th 2021. More close to the latest version would be better.

[2021-04-26 10:55] vanmash opened #17873 "az commands fail when run in VSCode terminal"
az commands fail when run in VSCode terminal, also breaks **terraform init** etc.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az version`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- open terminal inside VSCode termina

[2021-04-26 11:10] #17618 closed

[2021-04-26 11:36] yonzhan commented on #17868
storage

[2021-04-26 11:45] yonzhan commented on #17873
Core

[2021-04-26 11:51] Elthas17 opened #17874 "webapp:az webapp up yields Nonetype object has no attribute reserved"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --name {} --resource-group {}`

## Expected Behavior

## Envir

[2021-04-26 12:49] wonderplayer opened #17875 ""az functionapp config ssl show" filter on function app"
I have a question about [this](https://docs.microsoft.com/en-us/cli/azure/functionapp/config/ssl?view=azure-cli-latest#az_functionapp_config_ssl_show) cmdlet. It states, that I can show function app certificates.
How do I filter on specific function app? I have executed [import](https://docs.microsoft.com/en-us/cli/azure/functionapp/config/ssl?view=azure-cli-latest#az_functionapp_config_ssl_import

[2021-04-26 12:57] kabukimurder opened #17876 "WebApp:az webapp config access-restriction add does not work correctly with subnets from a different subscription"
**Describe the bug**
When using 'az webapp config access-restriction add' and providing a subnet resource id from different subscription, the CLI tries to retrieve the provided subnet resource from the same subscription as the webapp is located in and obviously fails to locate it. Restricting access to a resource in another subscription is a very important feature that works correctly when using A

[2021-04-26 13:24] yonzhan commented on #17875
functionapp

[2021-04-26 13:45] mandelberg opened #17877 "error in - az vmss list-instance-connection-info"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vmss list-instance-connection-info`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vmss list-instance-connection-info -g {} --name

[2021-04-26 13:58] wonderplayer commented on #17875
Have an update regarding error. Seems that I had an unexpected error, as now whenever I try to import an already existing certificate CLI doesn't throw any errors. Maybe I had a different certificate there? Don't know, but anyway, problem solved, but still answer to this question could be useful in the future :)

[2021-04-26 15:34] dbradish-microsoft opened #17878 "az login --service-principal need to use appId"
This is azure-docs-cli issue [2421](https://github.com/MicrosoftDocs/azure-docs-cli/pull/2421), but this fix needs to happen in the az login autogen file(s).

******************************
With az login --service-principal one must use -u appId, but the documentation doesn't say and people often use objectId

Also, the current example -u http://azure-cli-2016-08-05-14-31-15 is quite misleading. P

[2021-04-26 15:55] jzelos opened #17879 "Duplicate "subscription-id" in integration runtime example"
Just a minor typo, there are two "subscription-id" parameters in the IntegrationRuntimes_CreateLinkedIntegrationRuntime example.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 724f5939-6d35-1a7f-e339-8f4ba30a8661
* Version Independent ID: 94358cb1-88ad-6006-090d-b50f8ff40a75
* Content: [az datafactory integration-runti

[2021-04-26 16:00] npalmiusfutr opened #17880 "Cannot pass inline JSON parameters to az deployment group create"
**Describe the bug**

Passing parameters as inline JSON to `az deployment group create` following the examples in the documentation does not seem to work in `bash` (running on Windows in WSL - similar errors are also observed in `cmd`, but for clarity have not been included in this issue).

**To Reproduce**

Using the following template file:

[code]

The documentation [examples](https://docs.micr

[2021-04-26 17:41] larslind opened #17883 "postgres flexible-server create doesn't use an existing vnet if it's in a different resource group"
When running
`az postgres flexible-server create`
and supplying --vnet and --subnet parameters for a vnet that is deployed in a different resource group, the command tries to create a new vnet and subnet in the same resource group as the server.

In many enterprise environments, the management of network resources are handled by a different team from the one that deploys application resources. Thi

[2021-04-26 18:31] dgroh opened #17884 "Error with config ssl create - RequiredArgumentMissingError"
**Describe the bug**
We have a pipeline which creates a resource group and web app. After the pipeline runs the following command:

[code]

We get the following error:

All those required parameters are present.

If I run the pipeline again with the existing resource group and DNS, it works.

**To Reproduce**
Create in order:
1. Resource group
2. Web App
3. Custom domain with TXT and CNAME records

[2021-04-26 21:40] ciufudean opened #17885 "WebApp:The Java example of "az webapp create" is wrong"
The Java examples are confusing with respect to the runtime version, 8 and 11.
While indeed the string `java|11|Java SE|8` is returned by `az webapp list-runtimes`, I expect the text to describe what this means ... is it java 8 or 11?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2983e943-cce1-effd-57d0-cce4b0c0a7e1
*

[2021-04-26 22:07] timheuer opened #17886 "Upgrade prompt is interactive and blocks automation workflows"
## Describe the bug
Users or agents with an older version of the `az` CLI can get into a blocking situation when executing a command as it follows-up with an upgrade prompt for the CLI

**Command Name**
`az ad sp create-for-rbac`

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- get a machine with a non-cu

[2021-04-26 23:56] yonzhan commented on #17878
account

[2021-04-26 23:59] yonzhan commented on #17880
ARM

[2021-04-27 00:03] yonzhan commented on #17883
route to service team

[2021-04-27 00:09] yonzhan commented on #17886
@jiasli  for awareness

[2021-04-27 00:53] v-Ajnava commented on #10304
Fixed,  please use latest CLI release

[2021-04-27 00:53] #10304 closed

[2021-04-27 00:54] v-Ajnava commented on #10967
fixed, please use latest CLI release

[2021-04-27 00:54] #10967 closed

[2021-04-27 01:18] v-Ajnava commented on #15142
fixed, please use the latest CLI release

[2021-04-27 01:18] #15142 closed

[2021-04-27 01:24] v-Ajnava commented on #15653
fixed, please use latest release

[2021-04-27 01:24] #15653 closed

[2021-04-27 01:28] v-Ajnava commented on #15726
The issue is resolved, please upgrade Azure CLI  2.22.1.
hence closing the issue.

[2021-04-27 01:28] #15726 closed

[2021-04-27 01:50] v-Ajnava commented on #10031
documentation updated for --destination--name, can you please upgrade to latest CLI and try again ?
--destination-name             : Name for capture destination, should be EventHubArchive.AzureBlockBlob.

[2021-04-27 03:13] leriksen opened #17887 "Add suport for workspace data sources, and ITSM connections in particular, for 'az monitor log-analytics solutions' cli extension"
Currently there is no automation (SDK/REST/ps/ARM...) available to list the solution data sources.

Our current use-case is to retrieve the ITSM connection-id, so we can add as an ITSM-receiver in monitor action groups.

We presently have no choice but to click-ops through the portal and manually copy-paste into our code-base, so the ARM template to create the action group and receivers has the ri

[2021-04-27 03:24] yonzhan commented on #17887
monitor

[2021-04-27 05:45] yungezz commented on #17866
add @houk-ms to have a look

[2021-04-27 05:46] yungezz commented on #17874
route to appropriate team

[2021-04-27 05:46] yungezz commented on #17874
#11487

[2021-04-27 05:47] yungezz commented on #17876
route to appropriate team

[2021-04-27 05:48] yungezz commented on #17877
#14287

[2021-04-27 05:49] yungezz commented on #17879
need to check whether this is code gen issue

[2021-04-27 05:50] yungezz commented on #17884
route to appropriate team

[2021-04-27 05:50] yungezz commented on #17885
route to appropriate team

[2021-04-27 05:52] yungezz commented on #17871
hi @eggboy `az pack` isn't a cli command, could you pls share which extension it's from? thanks

[2021-04-27 05:53] #16748 closed

[2021-04-27 06:01] qwordy commented on #17801
@SorraTheOrc --generate-ssh-keys only generates and saves keys if there is no key in ~/.ssh
az sshkey create​ will keep same behavior when generating new SSH key pairs. Save keys to ~/.ssh if it is empty. Do not create new SSH key resource when no public key provided and there is key in ~/.ssh. Will print warning and error to tell users what happened.
How about this solution?

[2021-04-27 06:12] StefanSchoof commented on #16748
@fengzhou-msft @yungezz Do you have now a process to keep the python version up to date with a supported version or will this happen in few months again?

[2021-04-27 06:46] FairW opened #17889 "az network bastion create - missing support for --tags parameter"
In Portal you can add tags when creating bastion.
Trying this from Cloud Shell bash:

`az network bastion create --resource-group ...... --tags someTag=.....`

...yields:
_unrecognized arguments: --tags_

[2021-04-27 07:26] #17170 closed

[2021-04-27 07:50] fengzhou-msft commented on #16748
We don't have a process to automatically update the python version yet.

[2021-04-27 08:17] larslind commented on #17883
A better solution to this would be to just use Resource ID for the --vnet parameter rather than name.

[2021-04-27 08:46] JavierPalaciosNexplore opened #17890 "az ts commands failing"
## Describe the bug

Some commands from `az ts` familiy are failing for newly created/edited templates.

We initially discovered by a failure like
[code]
and tracing the problem I discovered a more verbose error running a similar `az ts export --output-folder output -n aks-cluster --version 0.1.2.1 -g global` command, which gives a python traceback (I've lost the first one, but I remember it alrea

[2021-04-27 08:47] JavierPalaciosNexplore commented on #17890
@hvithlani

[2021-04-27 09:16] JackSinclairT commented on #15110
We are facing this issue as well

[2021-04-27 09:17] thuannguy commented on #11871
This happens to me today. Pretty much blocking our deployment

[2021-04-27 10:55] StefanSchoof commented on #16748
Okay, thanks for the info. Then I will create a issue of I spot this again

[2021-04-27 11:09] devsheoran commented on #15717
@yonzhan - I am facing similar issue intermittently today while fetching azure activity event logs using azure api.

[code]

@bgoradia - Did you find solution for the similar issue you were facing?

[2021-04-27 11:37] yonzhan commented on #17889
network

[2021-04-27 11:41] yonzhan commented on #17890
route to service team

[2021-04-27 12:03] yanivlavi opened #17891 "Scheduled query rules CMK check flag, stateful alerts and 1-minute frequency"
**Resource Provider**
Scheduled query rules

**Description of Feature or Work Requested**
We added stateful log alerts (autoMitigate flag, alerts that automatically resolve), a flag to check if LA has linked storage (for CMK policy) and 1-minute frequency alerts.

**Minimum API Version Required**
2021-02-01-preview

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/blob/master/specifi

[2021-04-27 12:18] larslind commented on #17883
I tried creating with the --vnet = <Resource ID>, but it actually tells me to use names:

[code]

[2021-04-27 13:03] stupiddog1979 opened #17892 "az vm boot-diagnostics get-boot-log fails, 'RetrieveBootDiagnosticsDataResult' object has no attribute 'done'"
AZ CLI is set up and works well, but the operation "az vm boot-diagnostics get-boot-log" fails on all our VMs with the following error message / stacktrace.

**Command Name**
`az vm boot-diagnostics get-boot-log`

**Errors:**
[code]

## To Reproduce:

az configure -l
Name          Source                          Value
------------  ------------------------------  ----------------------------------

[2021-04-27 13:38] pritom007 commented on #16697
I have the same issue. Anyone

I get the same issue. Any solution. Can you show what error you get when you type "pip3"

[2021-04-27 14:06] lohse614 commented on #17733
same here in germanywestcentral...
└─ $ ▶ az --version
azure-cli                         2.22.1

core                              2.22.1
telemetry                          1.0.6

Extensions:
portal                             0.1.1
aks-preview                        0.5.5

Python location '/opt/az/bin/python3'
Extensions directory '/home/lohse/.azure/cliextensions'

Python (Linux) 3.6.10 (default

[2021-04-27 15:10] Kotasudhakarreddy commented on #17850
Looking in to it.

[2021-04-27 15:10] Kotasudhakarreddy commented on #17876
Will take a look in to it.

[2021-04-27 15:11] Kotasudhakarreddy commented on #17885
@calvinsID can you please respond here.

[2021-04-27 15:17] Kotasudhakarreddy commented on #17874
@Elthas17 Will take a look in to this. Could you please share `--debug` log for better understanding of the issue.

[2021-04-27 15:48] larslind commented on #17883
I know this hasn't been triaged yet, but wanted to flag it to @DaeunYim given your recent commit to [this code](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/rdbms/flexible_server_virtual_network.py).
Currently this is a blocking issue for our project, so would appreciate if someone could take a look at it. Please contact me directly if you want more details.

[2021-04-27 15:59] DaeunYim commented on #17883
Hi @larslind,
You are correct. When using vnet/subnet from different resource group or subscription, you need to provide vnet or subnet id. In your case, since you want to use existing subnet, could you try with --subnet subnetid parameter? Sorry for your inconvenience, and let me work on improve this user experience. Thanks a lot for reaching out to us and let me know the result.

[2021-04-27 16:28] larslind commented on #17883
Hi @DaeunYim  - yes, I did try that and it also didn't work:

[code]

[2021-04-27 16:32] DaeunYim commented on #17883
Oh I mean only subnet not vnet.

[2021-04-27 16:34] larslind commented on #17883
That works, thanks! I think it would be a good idea to clarify this in the --help and docs...

[2021-04-27 16:36] SorraTheOrc commented on #17801
This is not the intended behaviour.

`az sshkey create` should always create a key. It does not mean "create if we don't have one" it means "store the provided ket or create a new one if I don't provide it". Therefore, when generating, it can always save the key in "~/.ssh".

[2021-04-27 16:37] DaeunYim commented on #17883
Yeah, I totally agree. Let me work on updating the help doc. Thanks for reporting the issue and let me know if you need anything else!

[2021-04-27 17:14] danielpof opened #17894 "az keyvault secret list --id expects key vault uri instead of resource id"
## Describe the bug

**Command Name**
`az keyvault secret list`

**Errors:**

The  `--id` parameter, but it expects the key vault uri instead of a resource Id.

This is inconsistent with other commands.

## Expected Behavior

`--id` should accept a resource id and there should be an optional/alternative input for key vault uri.

## Environment Summary
[code]

[2021-04-27 18:23] vivere-dally commented on #17674
Any updates on this?

[2021-04-27 19:47] padeshaies opened #17897 "Application Gateway : Unable to properly specify Rewrite Rule Condition patterns"
### **Describe the bug**
The command seems to be throwing an error with the pattern ".*/(.*)" and doesn't set up the pattern correctly. It ends up provisioning the following pattern in our Application Gateway : ".*/(.*". Also, the `--pattern` seems to be usable just at the end of the command.

**Command name**
`az network application-gateway rewrite-rule condition create`

**Errors**
Wrongful patt

[2021-04-27 20:42] calvinsID commented on #17674
Hi @vivere-dally, there is a --deployment-container-image-name param where you can specify "dockerRegistryServerUrl/container" and the docker registry server url (everything before the '/') will be used

[2021-04-27 20:47] calvinsID commented on #17885
Hi @ciufudean, it is java 11, using java se 8 application server. I'll update the help doc

[2021-04-27 22:24] ishangajera-crest commented on #17253
@zhoxing-ms
The steps are already mentioned in To Reproduce section of this issue.

@yonzhan any update on this?

[2021-04-27 23:20] hannesne opened #17899 "Please explain the difference between patch and update commands."
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e24d7382-2589-bd20-37e8-04fd45671973
* Version Independent ID: c951b64f-300e-00f3-f732-d741b05d29a0
* Content: [az customlocation](https://docs.microsoft.com/en-us/cli/azure/customlocation?view=azure-cli-latest)
* Content Source: [latest/docs-ref-auto

[2021-04-28 01:46] yungezz commented on #17894
thanks for reporting, this is a legacy design. WIll need to revisit it.

[2021-04-28 02:52] tmoschou opened #17900 "deb package releases are including __pycache__ dirs and substantially large"
**Describe the bug**
The `.deb` packages at https://packages.microsoft.com/repos/azure-cli/ are not pruned of `__pycache__` directories, contributing 350MB of the package size or 41%.

This makes container image layers which install `az` significantly larger than it needs to be.

**To Reproduce**
Download and extract `.deb` package
[code]

Calculate size contributed by `__pycache__/` directories:

[2021-04-28 03:08] tmoschou commented on #17900
Relates to https://github.com/Azure/azure-cli/issues/7387, however that task looks like more broadly removing the included Python 3.6, where this is about removing the `__pycache__` and associated `*.pyc` files, which should be relatively simple to do. Also note that since #7387 was raised, the installer has grown from 347 MB to 859M. The bundled `__pycache__/` data is now bigger than the cli pack

[2021-04-28 04:14] ggirard07 commented on #16855
This is probably out of scope, but adding actual image manifest data like labels could be really helpful too!
My principal use case is looking up an image by matching labels applied by build pipeline on it, without having to pull each images.

[2021-04-28 04:33] jvano commented on #11932
Just to let you all know that we recently made a fix to support custom drives. It will take few months for the change to be released and available worldwide.

[2021-04-28 05:00] yonzhan commented on #17891
monitor

[2021-04-28 05:39] yungezz commented on #17892
thanks for reporting, we'll look at it

[2021-04-28 06:12] yonzhan commented on #17897
network

[2021-04-28 07:00] zhoxing-ms commented on #17253
@ishangajera-crest In fact, I'd like to know what parameters you use to create this policy definition

[2021-04-28 07:21] Juliehzl commented on #17899
Typically update command depends on PATCH operation, but sometimes service team doesn't have PATCH operation, and we will use PUT operation to do the update.
In azure cli, we recommend to use [generic update command](https://github.com/Azure/azure-cli/blob/dev/doc/authoring_command_modules/authoring_commands.md#generic-update-commands) to achieve PATCH-like behavior in update command if there is n

[2021-04-28 07:59] sumitsingh306 opened #17903 ""az vm extension show" not giving desired output"
Hi Azure,

Whenever I tried to run below command it giving error. I tried other argument but same error.
command:

az vm extension show --ids /subscriptions/aaaa-bbbb-cccc-dddd/resourceGroup/MC/providers/Microsoft.Compute/virtualMachines/test-server

Error:

Argument --name cannot be derived from ID /subscriptions/aaaa-bbbb-cccc-dddd/resourceGroup/MC/providers/Microsoft.Compute/virtualMachines/tes

[2021-04-28 08:10] sumitsingh306 commented on #17903
When I provide  --name  argument in command it throw another error below.
command I ran:
az vm extension show --ids /subscriptions/aaaa-bbbb-cccc-dddd/resourceGroup/MC/providers/Microsoft.Compute/virtualMachines/test-server **--name OmsAgentForLinux**

Error:
option '--name' will be ignored due to use of '--ids'.
Argument --name cannot be derived from ID  /subscriptions/aaaa-bbbb-cccc-dddd/resourc

[2021-04-28 08:21] qwordy opened #17904 "[Compute] Could not find member 'securityProfile' on object of type 'Properties"
**Describe the bug**

[code]
returns
[code]

The request body contains `"securityProfile": {}`. It appears that the old version of Compute does not accept this field even it is an empty dict. It will be fixed on 5/4/2021.

Similar code can be found in Azure CLI repository. It is of risk.

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2021-04-28 08:23] qwordy commented on #17904
VM

[2021-04-28 08:58] larslind commented on #17883
Hi @DaeunYim. We've been doing some further testing and came across additional issues with this scenario that my original test environment didn't capture. The situation is that the user/service principal creating the PostgreSQL Flexible Server only has read access to the resource group containing the VNet. Also, the actual VNet address prefix obviously isn't 10.0.0.0/16. To reproduce the issue I'v

[2021-04-28 09:11] wpitallo opened #17907 "az sql server create not setting the password"
When I create a SQL server using:

az sql server create --subscription xxx --name xxx --resource-group xxx--location northeurope --admin-user xxx --admin-password Pdfg&ssdfsdfsRfgh3

The login does not work after the creation, I need to then reset the password (Exact same one as above) before it works

[2021-04-28 10:57] #17904 closed

[2021-04-28 11:00] Alfredo-77 commented on #17824
Hello, I have managed to solved the issue.

My AzureCloud profile was not the latest. It was "2019-03-01-hybrid"

az cloud list -o table
IsActive    Name               Profile
----------  -----------------  -----------------
True        AzureCloud         2019-03-01-hybrid
False       AzureChinaCloud    latest
False       AzureUSGovernment  latest
False       AzureGermanCloud   latest

Profile cha

[2021-04-28 11:00] #17824 closed

[2021-04-28 11:00] yonzhan commented on #17907
route to service team

[2021-04-28 11:48] devsheoran opened #17908 ""az rest" throws exception 'Microsoft.Azure.Event.Common.EventServiceException' intermittently"
**Describe the bug**
I am running a PowerShell script from Azure DevOps pipeline (AzureCLI@2 task) scheduled to run every hour on MS hosted agent 'ubuntu-latest'. This script gets Azure Activity Logs from each subscription (20 subscriptions in total). I am using `az rest` to make call to Azure management api for activity logs. It works all fine but intermittently fails with below exception. Every

[2021-04-28 12:04] major opened #17909 "📦 Make RPM packaging easier for Azure CLI + SDK"
👋🏻 Hello there,

I work for Red Hat and I am researching how to package the Azure CLI and SDK components in RPMs for Red Hat Enterprise Linux (RHEL). The current RPM for Azure CLI depends on allowing pip to resolve dependencies during the build process. Unfortunately, packaging requirements for RHEL specify that all source must be downloaded before the RPM is built and no network access is allowed

[2021-04-28 12:10] Flodu31 commented on #16924
Hello,
Any news on that?
Thanks.
Florent

[2021-04-28 12:28] larslind commented on #17883
Hi @DaeunYim. I've just tried it through the portal as well, and get a different error message. Unfortunately it's not possible to copy the message, so below is an OCR of a screenshot with identifying information redacted. This suggests that using an existing VNet requires write access to the network resources, which would be an issue in our scenario.

[code]

[2021-04-28 12:31] glazychev-art opened #17910 "'az network nsg list' returns an incorrect result"
**Describe the bug**

Hello,
I use `az aks create ...` to create a cluster. After successful creation, I want to receive information about NSG using `az network nsg list`. But it returns the empty result. I also tried something like `az resource list --resource-type Microsoft.Network/networkSecurityGroups`- it does not help.
But I see via Portal, that NSG is successfully created.
I need to wait a

[2021-04-28 13:24] MaDOS commented on #11871
Can confirm this also happens with `InteractiveBrowserCredential`. Trying to access a keyvault with my work account which is permitted in azure to access the keyvault. Pretty sure the keyvault I am trying to access resides in a non-default azure subscription.

[2021-04-28 13:35] travelbug2020 opened #17911 "Why is sql servers not supported? Can you add sql servers to the list please?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ae400cf1-3b18-08af-d8c5-ed2b23184ed2
* Version Independent ID: 9803d7a9-cf98-be6d-4b10-a228d0fa2fc2
* Content: [az network private-link-resource](https://docs.microsoft.com/en-us/cli/azure/network/private-link-resource?view=azure-cli-latest#feedback)

[2021-04-28 14:13] Kotasudhakarreddy commented on #17790
closing due to lack of response. Please file a new issue if this is still a problem.

[2021-04-28 14:13] #17790 closed

[2021-04-28 14:22] Kotasudhakarreddy commented on #17792
@panchagnula do we have any alternative way for this.

[2021-04-28 14:24] bj-tukker opened #17912 "az vm run-command is not working with script files as stated"
The az vm run-command is not working with script files as stated in this page. Nor are they working from a yml pipeline (AzDo) in the same manner as from the commandline.

From the commandline, to be able to use a script, you sometimes need to put single quotes around the script name (not alway, which seems inconsistent. Using this command with a deployment pipeline to run certain scripts at once

[2021-04-28 14:28] eggboy commented on #17871
My bad. It is 'az acr pack build'

[2021-04-28 14:32] yonzhan commented on #17908
@jiasli  for awareness

[2021-04-28 14:49] yonzhan commented on #17911
network

[2021-04-28 14:51] yonzhan commented on #17910
network

[2021-04-28 15:23] mattsmall1972 commented on #17478
What is the expected timeline for the doc change?

[2021-04-28 16:29] ramaganesan-rg commented on #17102
@dmraymond - Are there any further questions?

[2021-04-28 17:25] ssemyan opened #17913 "az command argument '--list -o table' leads to infinite extension install prompt"
## Describe the bug
When running "az [resource such as webapp, network vnet, etc] **--list** -o table" (note the -- in front of "list") you are prompted over and over to install the latest extension. It should have just given an error message.

**Command Name**
`az webapp --list -o table`

or

`az network vnet --list -o table`

**Errors:**
Output prompts to install the extension over and over agai

[2021-04-28 17:45] jongio commented on #16798
I ran into this issue today as well with this command:

`dotnetcore-sqldb-tutorial$ az sql server create --name dotnetcore-sqldb-tutorial-sql1 --resource-group dotnetcore-sqldb-tutorial-rg --location "westus2" --admin-user jonbgallant --admin-password asdfasdf`

[code]

[code]

WSL2/Ubuntu 20

ddcc1

[2021-04-28 17:46] grahamhayes opened #17914 "Updating a storage account to use a customer managed key from a managed HSM fails with a cryptic error"
## Describe the bug

Updating a storage account to use a customer managed key from a managed HSM fails with a cryptic error "(KeyVaultPolicyError) Keyvault policy recoverable is not set"

**Command Name**
[code]

**Errors:**
`(KeyVaultPolicyError) Keyvault policy recoverable is not set`

<details>
  <summary>Debug output: Click to expand</summary>
<pre>
cli.knack.cli: Command arguments: ['storage'

[2021-04-28 17:54] jongio opened #17915 "az sql db show-connection-string should accept username/password"
**Is your feature request related to a problem? Please describe.**

When I call show-connection-string I want to supply the username and password, so I can just use the outputted string.  Right now I have to run the command, copy that output to notepad, replace the values, and then use it.

**Describe the solution you'd like**

Allow me to specify the username/password and generate a full connecti

[2021-04-28 18:27] DaeunYim commented on #17883
@larslind

I was able to reproduce error and the fix will be checked it today and released in a week.
Thanks a lot for reporting.

I think causes are,,
1) 'reader' role didn't allow you to add address to vnet but the CLI was trying to do this. I think once the fix is in, the error won't happen. (This won't be problem in portal)
2) Additionally, we create private DNS zone for any vnet servers. Let

[2021-04-28 19:23] exinmusic commented on #11596
I just have an observation regarding this issue, as we've started to experience this in a CI pipeline where it makes for a little deployment roulette.
If the initial zip deploy endpoint returns a 202, even if the following polling returns malformed for a minute, it will eventually return successful.
If the initial deployment endpoint returns any sort of 500 though, the following async calls seem t

[2021-04-28 19:36] fabrycy commented on #17890
Hi,
I'm facing similar problem but with deploying template specs with command `az deployment group create ...`.
What I found is that that azure-cli is calling template specs api with `api-version=2021-03-01-preview` and response is following:
[code]

According to API documentation https://docs.microsoft.com/en-us/rest/api/resources/templatespecversions/get#templatespecversion response should have

[2021-04-28 22:29] MehaKaushik commented on #17844
Thanks for pointing this out. Looking into this.

[2021-04-28 23:10] Farzad-Jalali opened #17917 "az cosmosdb create does NOT support serverless"
I created a few serverless cosmos DB (MongoDB ) via the portal.
but now I'm trying to do them by  AZ CLI  ,  noticed it doesn't support it.

https://docs.microsoft.com/en-us/cli/azure/cosmosdb?view=azure-cli-latest

[2021-04-28 23:55] yonzhan commented on #17913
extension install

[2021-04-28 23:56] yonzhan commented on #17915
route to service team

[2021-04-28 23:57] yonzhan commented on #17914
Storage

[2021-04-29 00:06] yonzhan commented on #17917
route to service team

[2021-04-29 00:13] exinmusic commented on #11980
We've started to experience this in a CI pipeline where it makes for a little deployment roulette.
What helped us was bumping our dev environment service plan from a Standard Linux S1 runtime to an S2 (medium).
The tier is twice the price, however its solving the issue currently and speeding up our zip deploys today (which is actually a super added value). I'm curious if we might have been just ma

[2021-04-29 01:36] swethmandava opened #17918 "az login of service-principal fails with invalid_client"
## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login --service-principal -u {} -p {} --tenant {}`

**Environment summary**
[code]

**Additional context**
I'm trying to access azure keyvault from github actions but unable to do so.

[2021-04-29 02:54] ishangajera-crest commented on #17253
@zhoxing-ms  All the parameters of the Policy Set are also used and defined exactly same in the Policy definition as well.

`"parameters": { "logAnalytics": { "type": "String", "metadata": { "displayName": "Log Analytics workspace", "description": "Select Log Analytics workspace from dropdown list. If this workspace is outside of the scope of the assignment you must manually grant 'Log Analytics C

[2021-04-29 05:25] usrme commented on #17759
Seeing the same error message as of yesterday, which is weird as the command has been in use for quite some time now... For some reason some template specs have the `artifacts` property defined and some don't, which trips up the underlying Python code.

[2021-04-29 05:41] yungezz opened #17920 "rename local context to param persistent in command output when az config param-persist on"
**Describe the bug**

rename local context to param persistent in command output when az config param-persist on
![image](https://user-images.githubusercontent.com/37337818/116506753-7eecd600-a8f0-11eb-9eb6-36f6808cbe5e.png)

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2021-04-29 05:41] yungezz commented on #17920
to build before build

[2021-04-29 05:45] yungezz commented on #17903
HI @qwordy could you share right usage?

[2021-04-29 05:46] yungezz commented on #17909
thanks for reporting the issue. add @fengzhou-msft to help have a look

[2021-04-29 05:53] yungezz commented on #17912
add @qwordy to have a look

[2021-04-29 05:55] yungezz commented on #17913
hi @fengzhou-msft could you pls help to confirm this is fixed in the hotfix release? thanks.

[2021-04-29 05:59] yungezz commented on #16804
will close the issue for now since no response. Feel free to create new issue if any other queries. thanks.

[2021-04-29 05:59] #16804 closed

[2021-04-29 06:00] yungezz commented on #16850
hi @qwordy, any update on the issue? thanks

[2021-04-29 06:11] MallRoy opened #17921 "Not able to use managed identities in a custom app service container"
I am running a web app with ubuntu docker images. I am trying to access the key vault using the system assigned identities in a container which is throwing the below error when I am trying to list web app or key vault
![image](https://user-images.githubusercontent.com/54269166/116511795-9d4cd480-a8e4-11eb-9ee1-2251ee7a0f7e.png)
I have added the permissions for the key vault, web app, and container

[2021-04-29 06:26] Juliehzl commented on #16798
Thanks for feedback. I will investigate the issue soon and plan in S187.

[2021-04-29 06:46] MehaKaushik commented on #17844
Somehow we missed rolling this apiVersion in this region. We working on this now. I will update here once done. Thanks again for bringing this to our attention.

[2021-04-29 07:02] hanhsia opened #17922 "az rest can't support Chinese body in body"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I use az rest to send a http request to LUIS service. It works fine if the body don't exist any Chinese character. But it fails when the body includes Chinese character.
**Command Name**
$url=https://chinaeast2.api.cognitive.azure.cn/luis/authoring/v3.0-preview/apps/{app id}/versions/{version}/closedlists
$head

[2021-04-29 08:24] mikegoatly opened #17923 "az keyvault purge without arguments gives invalid help output"
## Describe the bug

**Command Name**
`az keyvault purge`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az keyvault purge

This gives the output as above, indicating that `--vault-name` is a valid argument.

## Expected Behavior

Error should read:

[code]

## Environment Summary
[

[2021-04-29 09:13] mainred commented on #16109
@qwordy , I, unfortunately, hit this issue recently, do we have any update to share? Thanks.

[2021-04-29 09:16] yonzhan commented on #17918
@jiasli for awareness

[2021-04-29 09:29] mepand commented on #16924
We have completed the changes for this feature . I need to check the next release date when the changes would go live. Will update by tomorrow.

[2021-04-29 09:38] Rob97 commented on #11871
Just ran into the same issue as well...why would they allow us to transfer a vault if it is essentially useless outside of it's "birth" tenant??

[2021-04-29 09:44] yungezz commented on #17923
hi @houk-ms could you pls confirm is this an issue? thanks.

[2021-04-29 09:45] yungezz commented on #17921
route to appropriate team

[2021-04-29 09:52] vipulkelkar commented on #17090
thanks for the update

[2021-04-29 10:14] zhoxing-ms commented on #17253
@ishangajera-crest What about the rules used by this policy definition? I would like to create the same resources to reproduce this issue

[2021-04-29 10:21] mjudeikis commented on #17643
`azdev extension repo list` and `azdev extension repo remove` worked for me.

[2021-04-29 10:31] larslind commented on #17883
Hi @DaeunYim. I tried giving the user the "Private DNS Zone Contributor" role, but the PostgreSQL Flexible Server creation still fails. The subnet has already been delegated to Microsoft.DBforPostgreSQL/flexibleServers, but I'm wondering if that's what it's also trying to do?

This is the error message:

[code]

[2021-04-29 12:05] SenseiJoe commented on #16804
Sorry, this shouldn't be closed.  Using v2.22.1, there is no ability to set contentType of a new key.

This is the help for the command, no "contentType"
Examples
    Create a secret (if one doesn't exist) or update a secret in a KeyVault.
        az keyvault secret set --name MySecretName --vault-name MyKeyVault --value MyVault

Why isn't there an option for the property?
maybe:
        az keyvau

[2021-04-29 12:34] DmitrySandalov opened #17926 "Close/get storage file handles via azure-cli (as Close-AzStorageFileHandle in PowerShell)"
**Is your feature request related to a problem? Please describe.**

I receive the following error while trying to delete file

The suggested solution is to close file handle lock via PowerShell:
https://docs.microsoft.com/en-us/azure/storage/files/storage-troubleshoot-cannot-delete-files-azure-file-share#resolution

**Describe the solution you'd like**

It should be possible to perform `Close-AzSt

[2021-04-29 15:13] yonzhan commented on #17922
@jiasli for awareness

[2021-04-29 15:23] yonzhan commented on #17926
storage

[2021-04-29 15:36] elasticdotventures opened #17927 "az fzf is not a command"
[Enter feedback here]
az fzf is documented but does not actually exist in the az cli. As suggested  by docs:
[code]
bash-5.0# az fzf
'fzf' is misspelled or not recognized by the system.

TRY THIS:
https://aka.ms/cli_ref
Read more about the command in reference docs
bash-5.0#

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* I

[2021-04-29 16:05] sknaresh2000 commented on #16345
I have the same issue while creating a policy via CLI. The same JSON policy works via REST API. Please see attached.
[SQLBackupPolicy.txt](https://github.com/Azure/azure-cli/files/6400028/SQLBackupPolicy.txt)

[2021-04-29 16:24] MehaKaushik commented on #17917
Please use this command https://docs.microsoft.com/en-us/cli/azure/cosmosdb?view=azure-cli-latest#az_cosmosdb_create

In the --capabilities param provide the value EnableServerless. Please let me know if you face any issues.

[2021-04-29 17:46] sanjithsjadhav opened #17928 "'ManagedClustersOperations' object has no attribute 'create_or_update'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create --resource-group {} --name {} --node-count {} --generate-ssh

[2021-04-29 18:29] chigeroo opened #17929 "'int' object is not subscriptable when trying to create autoscale profile for recurrence"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When trying to create a recurrence profile using --recurrence week sat sun or any combination of days throws the below error.  It does not happen when creating a profile with a start date and end date, seems to be confined to recurrence.

**Command Name**
`az monitor autoscale profile create`

**Errors:**
[code

[2021-04-29 18:58] santoshsinha100 commented on #8435
Can you please provide us the AZURE CLI command to create a service bus premium pricing tier?. I heard at present this is not supported. Can you please provide an ETA on that ?

[2021-04-29 23:20] DaeunYim commented on #17883
@larslind

I checked with the portal team that we add storage endpoint to the subnet for restoring purpose. This operation will be removed after 5/3 in the portal and June train for CLI.

[2021-04-29 23:38] marstr commented on #8435
Howdy, I'm no longer on the Azure CLI team and have no operational knowledge of when Service Bus data-plane operations will be supported.

[2021-04-29 23:54] yonzhan commented on #17929
monitor

[2021-04-30 03:48] Shuanglu opened #17930 "'az aks check-acr' missed the nodeselector"
**Describe the bug**
'az aks check-acr' missed the node selector to force it to be scheduled to the linux node.
currently k8s windows doesn't support host network and the image 'mcr.microsoft.com/aks/canipull:0.0.2-alpha" only supports the linux node "https://github.com/yangl900/canipull/blob/main/Dockerfile"

**To Reproduce**
add windows nodepool and the command may fail

**Expected behavior**
co

[2021-04-30 03:49] Shuanglu commented on #17930
PR:
https://github.com/Azure/azure-cli/pull/16490

[2021-04-30 04:36] plamber opened #17931 "webapp:What extension is required to run the Front Door Access Restriction example on a webapp?"
Hello,
I was trying to run the example provided on the page:

[code]

I am receiving the error message *unrecognized arguments: --service-tag AzureFrontDoor.Backend --http-header x-azure-fdid=12345678-abcd-1234-abcd-12345678910a*

My CLI was upgraded to the latest version. I assume that I need to install a preview extension to make this work but I am not able to find it.

Can somebody help me out?

[2021-04-30 05:03] xfz11 commented on #17574
Updating `Shared Image Gallery` commands example

**Share**
- command: gallery update
`az sig update --permissions "private/groups "`
- command: Add sharing id to the sharing profile of a gallery.
`  az sig share update --gallery-name "myGalleryName" -g "myResourceGroup" --groups type="Subscriptions" ids="34a4ab42-0d72-47d9-bd1a-aed207386dac" ids="380fd389-260b-41aa-bad9-0a83108c370b" --groups typ

[2021-04-30 05:24] xfz11 commented on #17574
**Question**:
Swagger defined the list API parameter `sharedTo` to be a single value enum, so` --scope` can only be set as `tenant` or None. The designed commands require the option can be set as `subscription/tenant`

**Response** from service developer @kangsun-ctrl :

For list call, in scope, we have subscription and tenant. And the subscription is the default scope, so in backend and swagger,

[2021-04-30 08:31] yungezz commented on #17928
route to appropriate team

[2021-04-30 08:32] yungezz commented on #17930
route to appropriate team

[2021-04-30 08:32] yungezz commented on #17931
route to appropriate team

[2021-04-30 08:33] xfz11 commented on #17574
@kangsun-ctrl
`az sig group-list --scope tenant` will cause a error:
[code]
This error message will be really confusing for customers, user-friendlier notes would be much better

[2021-04-30 10:24] Kotasudhakarreddy commented on #17931
@plamber - I am unable to repro the issue. Please try with latest CLI version `2.22.0`. If you still face the issue share us the `--debug` logs. PFB FYR.

![image](https://user-images.githubusercontent.com/60102891/116682610-1541fa00-a9cc-11eb-8590-a6f083fd0fe9.png)

[2021-04-30 11:05] plamber commented on #17931
Hi,
this is the version:

![image](https://user-images.githubusercontent.com/18241305/116686706-7e1d7800-a9b4-11eb-8779-973fd8ac968e.png)

[code]

It is an Azure Linux Web Instance. Not sure if that matters.

br,
Patrick

[2021-04-30 13:51] rafalszu commented on #9972
Agreed, this shouldn't be closed, the bug is still there - ran recently into a very similar issue. The actual app certificate is in resource group A, app service plan and app services are in resource group B. While trying to bind the cert, I'm getting a random 404 "certificate was not found" and sometimes everything goes ok. Azure portal seems to be affected as well, there are times when I can't a

[2021-04-30 14:14] #17588 closed

[2021-04-30 14:23] #15530 closed

[2021-04-30 14:54] akshaymathur3 commented on #9763
Please reopen, as it seems to be not fixed
cmd: `az keyvault set-policy -n mykvt --secret-permissions get --object-id e2c1c414-a9c3-11eb-bcbc-0242ac130002 --resource-group mygrp`

Error:
`(BadRequest) An invalid value was provided for 'accessPolicies'.`

[2021-04-30 14:59] nkadochn commented on #17588
Why was this issue closed?  The functionality clearly has not been fixed

[2021-04-30 16:56] groogiam opened #17934 "webapp remote-connection create and webapp create-remote-connection do not allow visual studio remote debugging connection"
**Describe the bug**
I am trying to connect to a webapp with the Visual Studio Remote debugger over ssh. The connection created with
webapp remote-connection create and webapp create-remote-connection does not seem to support this connection.

![image](https://user-images.githubusercontent.com/1992395/116727357-70ff8980-a9b2-11eb-8f44-d64d05ace175.png)

**To Reproduce**

1. Open a connection with

[2021-04-30 16:59] kangsun-ctrl commented on #17574
I already have a pull request out for this. https://msazure.visualstudio.com/One/_git/Compute-CPlat-PIR/pullrequest/4406008

[2021-04-30 17:31] Kotasudhakarreddy commented on #17931
@plamber It doesn't matter if it is windows or Linux web instance. It should work with any OS type. And I found there is no `-g` passed along with your command.
I am unable to see the version you are using as image is not displaying. Please retry with the latest CLI version `2.22.0` if not already using.

[2021-04-30 19:19] groogiam commented on #17934
I realized I was 2 version behind on my cli. After updating it appears az webapp create-remote-connection is completely broken.

This command now returns

[code]

I have verified that SSH is running in my container and that I can access it via https://myapp.scm.azurewebsites.net/webssh/host

[2021-04-30 19:30] etaham opened #17935 "No details on what a condition is or what it can be set to"
There is no description of what a condition is and what its potential values are. Please update the docs and/or add a link to the documentation for role assignment conditions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9dacfad8-cb2f-2534-3b29-89b0930a2252
* Version Independent ID: 17325cd4-44c5-4069-d9f6-940a55f0f7

[2021-04-30 19:31] j-so commented on #17588
This is not related to the azure-cli-ml extension. It seems like this command is being run through the AzureML compute instance terminal experience. Is that correct @nkadochn ?

[2021-04-30 19:32] nkadochn commented on #17588
That is correct

[2021-04-30 19:57] gzuber opened #17936 "[functionapp] Remove support for Node 10"
Node 10 should be removed from the list of possible node function creation options since it's reached its EOL

[2021-04-30 22:29] zenfish opened #17937 "az storage fs list throws exception"
Ran with these params -

az storage fs directory list --file-system tstdata --subscription 7f57be07-49f8-4202-bbc9-489304f26a1f --account-name sdpstorageacctgen2 --auth-mode login

I don't know if I really don't have permissions or if there's some other issue.  It'd be really helpful to have a way to just test if your permissions are valid with your CLI.  It'd be even more helpful if your storage

[2021-04-30 22:49] arsenvlad commented on #17890
I am seeing the same issue with latest version of Azure CLI 2.22.1... It appears that Azure CLI is using latest API version 2021-03-01-preview which changed properties.template to properties.mainTemplate as can be see from screenshots below.

![image](https://user-images.githubusercontent.com/1821568/116761130-68bc4400-a9dc-11eb-8006-4b345c04d0eb.png)

![image](https://user-images.githubuserconten

[2021-04-30 23:17] yonzhan commented on #17890
ARM service team could take a look at this issue

[2021-04-30 23:18] yonzhan commented on #17937
Storage

[2021-04-30 23:19] yonzhan commented on #17936
route to service team

[2021-04-30 23:22] yonzhan commented on #17935
@jiasli for awareness

[2021-04-30 23:31] arsenvlad commented on #17890
I think there is also this related issue #17733

[2021-05-01 00:25] georgejdli opened #17938 "az extension add --name azure-devops failing with SSL error"
**Describe the bug**
Unable to install az cli extensions

**To Reproduce**
`az extension add --name azure-devops`

**Errors:**
[code]

**Expected behavior**
Able to install az cli extensions

**Environment summary**

Shell Type: zsh
OS Version: macOS Catalina 10.15.7
Installer: HOMEBREW
[code]

**Additional context**
I am working from behind my company's proxy. They are inserting their own self-si

[2021-05-01 02:17] sodul opened #17939 "Azure-ci-core has a strict dependency on an very old PyJWT"
**Describe the bug**
The setup.py for azure-cli-core explicitly requires `PyJWT==1.7.1` while all the other azure packages are more relaxed with `>=1.0.0,<3`.

https://github.com/Azure/azure-cli/blob/dev/src/azure-cli-core/setup.py#L61

**To Reproduce**
`pip install azure-cli` alongside more recent packages that need `PyJWT>= 2.0`.

[code]

**Expected behavior**
We should not have a version confli

[2021-05-01 03:34] plamber commented on #17931
Hi,
I am using the 2.22.1. I am not passing the -g parameter because I was setting it before using this command: az configure --defaults group=....

Even with the explicitly assigned -g command I am experiencing the same issue.

br,
Patrick

[2021-05-01 04:45] hyoshioka0128 opened #17941 "Typo "Azure SQL server"→"Azure SQL Server""
en-us:"https://docs.microsoft.com/en-us/cli/azure/sql/server?view=azure-cli-latest"
![azure-cli-latest](https://user-images.githubusercontent.com/40815708/116771070-7082f380-aa83-11eb-8818-5dfb3b53d6c5.png)

#PingMSFTDocs
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b3b902a2-c27f-8de9-e2fb-9f0d7f8eb6dc
* Version Indep

[2021-05-01 05:42] xfz11 commented on #17574
It seems that `mgmtgrp/community` scope will be supported in the future, then CLI developers should add them manually. But if we align with Swagger, setting --scope to be only tenant as Swagger defined, then we can use codegen tool to automatically generate code.
For this feature, manual maintaining will not cost much efforts. But it a trend to embrace codegen since maintaining all tremendous comm

[2021-05-01 05:48] kangsun-ctrl commented on #17574
@xfz11  Actually I think if you will do it manually, then it is better to map scope=subscription to swagger with no sharedTo option, and map scope=tenant to swagger with sharedTo=tenant. It will be more clear for customer. Codegen is cool, we will keep it in mind and try to align our future development with CLI Codegen.

[2021-05-01 06:49] georgejdli commented on #17938
Seems like whatever is making the call to `https://azcliextensionsync.blob.core.windows.net/index1/index.json` isn't picking up the appropriate certificate bundle. Even when I go off of my corporate proxy I get the same SSLError

[2021-05-01 08:28] xfz11 commented on #17574
@kangsun-ctrl Of course we can manually add the commands if you persist, I just raise the potential problem for discussion.
Actually the key point is that present Swagger may be not clear enough to let users know what will happen calling the API. `sharedTo` is just described as  `The query parameter to decide what shared galleries to fetch when doing listing operations.` and defined as a single va

[2021-05-01 14:21] yonzhan commented on #17939
@jiasli for awareness

[2021-05-01 14:24] yonzhan commented on #17938
@jiasli for awareness

[2021-05-01 14:26] yonzhan commented on #17941
route to service team

[2021-05-01 16:03] confused-nerd commented on #17745
Sorry for the delayed response, I have done a subsequent upgrade with no issue as you described.

[2021-05-01 16:03] #17745 closed

[2021-05-01 16:32] usrme commented on #17890
Seems to also be a duplicate of this: #17759.

[2021-05-01 20:20] vivere-dally commented on #17674
Hi @calvinsID, as per my post I mentioned that I'm deploying a multi-container app.

You can't use `--deployment-container-image-name` with `--multicontainer-config-type` and `--multicontainer-config-file` params. There are 3 sets of params:
1. --runtime
2. --deployment-container-image-name
3. --multicontainer-config-type TYPE `&` --multicontainer-config-file FILE

I'm using the set `3`.

[2021-05-02 03:54] Karthik-BR21 opened #17942 "az sql db list errors out"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sql db list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sql db list`

## Expected Behavior

## Environment Summary
[code]
## A

[2021-05-02 06:26] #17921 closed

[2021-05-02 09:51] yonzhan commented on #17942
route to service team

[2021-05-02 13:28] Karthik-BR21 commented on #17942
Hi All, I was able to figure out the issue. Parent resource '[sql-karthik-dev]' not found.
I had to remove the square brackets during configuration and set server as 'sql-karthik-dev' which fixed the issue.

[2021-05-02 14:26] yungezz commented on #17934
route to appropriate team

[2021-05-02 16:21] elasticdotventures commented on #1520
You can also allow a user to select the location using fzf, i.e. to make an interactive chooser for location:

Pulled from http://github.com/elasticdotventures/_b00t_
[code]

[2021-05-02 16:31] dahol commented on #17718
Just encountered this one, rollback to version 2.22.1 works as expected.

[2021-05-02 19:01] qwordy opened #17943 "Live test regression"
This issue is created by a program.
[Latest testing results of Azure CLI](https://clitestresultstac.blob.core.windows.net/latest/index.html)
[User Manual of Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EZGC9LwrN3RAscVS5ylG4HMBX9h7W0ZSA7CDrhXN5Lvx6g?e=V8HUmd)
[Upgrading API Versions in Azure CLI Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EcgPLHSkef9Mi14Rj

[2021-05-02 22:01] Tiberriver256 opened #17944 "az rest performance issues"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az rest`

## To Reproduce:

[code]

## Expected Behavior

I expect the az rest command to perform similar to invoke-restmethod. I understand there should be a little bit of overhead for checking the authorization token before sending but almost a full second overhead is quite a bit.

## Envir

[2021-05-02 23:46] yonzhan commented on #17943
@kairu-ms good job!

[2021-05-02 23:47] yonzhan commented on #17944
@jiasli for awareness

[2021-05-03 08:59] snerf opened #17945 "Error during challenges learning"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2021-05-03 09:18] yonzhan commented on #17945
route to service team

[2021-05-03 11:09] MehaKaushik commented on #17844
Hey, I realized you can unblock yourself by using the apiVersion 2021-04-15. We have not publicly announced it yet, but it is rolled out in all regions and contains everything that exists in 2021-03-15.

[2021-05-03 11:44] PolarFox opened #17947 "az functionapp update fails with Attribute error"
## Describe the bug
Tried working with functionapp update command. Traceback followed.

**Command Name**
`az functionapp update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az functionapp update -n {} -g {}`

## Expected Behavior
Not traceback.

## Environment Summary
[code]
## A

[2021-05-03 12:54] MRVDH commented on #11871
I am having a similar, if not the same, issue. Could it be related to this? https://github.com/Azure/AppConfiguration/issues/511

[2021-05-03 13:23] zweim1 commented on #17844
We use Microsoft-hosted agents
(https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml) in Azure DevOps, which  all have pre-installed Azure CLI (azure-cli) 2.22.1.
I don't know how you can instruct the az cli to use the apiVersion 2021-04-15.
But our workaround is to downgrade the az cli to an earlier (and working) version.

[2021-05-03 13:36] vdesabou opened #17948 "az functionapp create fails when using Docker az cli"
## Describe the bug

I've this [test](https://github.com/vdesabou/kafka-docker-playground/blob/master/connect/connect-azure-functions-sink/azure-functions.sh) which used to work successfully but now is failing constantly with stack trace below.
It fails when using docker version of `az` CLI (latest image `mcr.microsoft.com/azure-cli`)

**Command Name**

[code]

**Errors:**
[code]

Note: if not usi

[2021-05-03 13:47] yonzhan commented on #17948
route to service team

[2021-05-03 13:48] yonzhan commented on #17947
route to service team

[2021-05-03 14:50] leonheess commented on #13612
I can reproduce this consistently on fedoraremix WSL2 and could also fix this issue with @ElvenSpellmaker s tip. Please fix the underlying issue tho since this is a workaround at best.

[2021-05-03 17:47] calvinsID opened #17950 "Webapp:.NET 6 support for Runtime Versions"
- Add support for .NET 6 in appservice
- Also update the hardcoded list of supported runtimes if needed, until we can consume the Runtime Stacks API (it is in 2020-12-01 SDK)

[2021-05-03 17:49] calvinsID commented on #17950
@btardif for tracking

[2021-05-03 17:51] btardif commented on #17950
@calvinsID see https://github.com/Azure/azure-functions-ux/pull/5909#event-4640366208 for reference

[2021-05-03 18:37] Tiberriver256 opened #17951 "Throws error when there is both an enterprise application and a managed identity present"
## Describe the bug

**Command Name**
`az ad app credential reset`

**Errors:**
[code]

## To Reproduce:

1. Create an app registration
2. Create a secret for that app registration via the portal
3. Create a user assigned managed identity for that application
4. Try and modify the secret

The OData query executed under the hood is:

[code]

To ensure only service principals of type 'Application' a

[2021-05-03 18:54] yonzhan commented on #17951
@jiasli for awareness

[2021-05-03 19:21] richeney commented on #13614
This error also comes up if the location for the `az network private-endpoint create` is not specified to the same region as both the local vnet/subnet and the private link service (if applicable).

[2021-05-03 20:15] pratik1500 opened #17952 "Got this issue while using "az webapp up --sku B1 --name app-name" this command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --sku {} --name {}`

## Expected Behavior

## Environment Summ

[2021-05-03 22:07] logbaseaofn opened #17953 "Add path accesses the "Rule Collection Group" and not the "Rule""
I expect `az network firewall policy rule-collection-group collection rule add sourceAddresses <ip>` to add a source address to the rule, but I get a response:

[code]

I would expect this response from `az network firewall policy rule-collection-group update`

This is unexpected because these are the properties of the "Rule Collection Group", not the "Rule". How would I go about updating the sing

[2021-05-03 22:08] tdgray opened #17954 "Allow AD app/sp object ids to be provided as a parameter instead of performing a lookup by name"
**Is your feature request related to a problem? Please describe.**

The **az ad app credential reset** and **az ad spn credential reset** commands require extra permissions (the ability to read all applications) simply to find the object id of the app. The lookup is hard-coded into the module:

- [reset_service_principal_credential](https://github.com/Azure/azure-cli/blob/5baced969bb96d4138d888666

[2021-05-03 22:21] logbaseaofn commented on #17953
I found out how to do it, still is confusing..

Solution right now: `az network firewall policy rule-collection-group collection rule add **"ruleCollections[name=rule-collection-name].rules[name=rule-name].sourceAddresses"** <ip>`

[2021-05-03 23:14] wdunn001 opened #17955 "--service-tag argument is not available actually available in the cli"
as of 2.22.1 this argument does not exist in the latest cli

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c788e908-cee3-ae46-fac4-956d0606ad76
* Version Independent ID: 2ed69bfd-bb05-3d09-072e-00e505856fba
* Content: [az webapp config access-restriction](https://docs.microsoft.com/en-US/cli/azure/webapp/config/access-

[2021-05-04 01:40] yonzhan commented on #17953
network

[2021-05-04 01:42] yonzhan commented on #17954
@jiasli for awareness

[2021-05-04 09:26] Kotasudhakarreddy commented on #17952
@pratik1500 Unable to repro this issue. could you please share the `--debug` log to analyze further.

[2021-05-04 10:16] Kotasudhakarreddy commented on #17931
Hi ,

got you on how you are passing `-g`.  Could you try the same in Clod Shell (Azure portal) once.

[2021-05-04 10:30] plamber commented on #17931
Hi,
this is also failing.

Here the results from the Cloudshell.

[code]

[2021-05-04 10:52] gekap opened #17956 "az group broke on Linux"
I tried the command
[code]
and I got the below exception

[code]

[2021-05-04 10:55] grahamhayes commented on #17914
@yonzhan - Is this a feature request, or a bug? It seems like something is failing. The error needing to be better is a related issue (and also a bug I would argue)

[2021-05-04 14:45] guestdj commented on #15395
I was trying to achieve the same result as @kmadof, i.e. I wanted to set the value of deployment slot setting for a connection string using: `az webapp config connection-string set`

However it  worked for me when I supplied the following slot settings parameter , like so:
`az webapp config connection-string set --resource-group $(resourceGroup) --name $(appServiceName) --connection-string-type SQ

[2021-05-04 15:11] CharlieDigital opened #17957 "Is there a specification for interacting with the local CosmosDB emulator instance via the CLI?"
The documentation for the `az cosmosdb sql` commands does not seem to include any ability to interact with the local emulator instance.

The earlier command `az cosmosdb database` command permitted the use of the `--key` and `--url-connection` parameter to interact with the local emulator instance.

Is there an equivalent set of parameters/configuration for interacting with local resources?

---
#

[2021-05-04 16:19] yonzhan commented on #17957
cosmosdb

[2021-05-04 16:22] yonzhan commented on #17914
@Juliehzl will help with this issue after Labor Day holiday in China.

[2021-05-04 16:23] yonzhan commented on #17956
ARM

[2021-05-04 17:22] groogiam opened #17958 "az webapp deployment source config-zip deploys but starts wrong app."
**Describe the bug**
I deployed an zip package that was the output of a dotnet publish using

`webapp deployment source config-zip -g {config.ResourceGroup} -n {appName} --src {deployZip}`

The deployment succeeded but the app service did not start the app. Instead it started the default place holder app.

[code]

**To Reproduce**
Create an azure web app using
`webapp create -g {config.ResourceGro

[2021-05-04 20:40] felipeafeltes opened #17960 "Wrong sku-name"
Update the sku-name from **Standard-B1ms** to **Standard_B1ms** on sample:

Create a MySQL flexible server with parameters set.
az mysql flexible-server create --location northeurope --resource-group testGroup \
  --name testServer --admin-user username --admin-password password \
  --sku-name Standard-B1ms --tier Burstable --public-access 0.0.0.0 --storage-size 32 \
  --tags "key=value" --version

[2021-05-04 20:40] groogiam commented on #17958
I think I got this figured out. The zip file I was deploying had an additional folder in the root and the static site was cached in my browser. Sorry for the confusion.

[2021-05-04 20:40] #17958 closed

[2021-05-04 22:07] ssanbeg commented on #16841
Another related issue to this. Assume I'm logged in as myself. Now I want to logout and re-login as a higher privileges user. Here is something that makes zero sense altogether:
`az account show
...
"user": {
    "name": "myself@somewhere.io",
    "type": "user"

az logout
az account clear

az account show
Please run 'az login' to setup account.

az login
https://login.microsoftonline.com/common/o

[2021-05-04 22:12] MarkAtAgilliance opened #17961 "The directory is not empty when using az extension add --upgrade -n application-insights"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
The az extension add --upgrade -n application-insights (either using --system or not) does not complete.  It fails with directory not empty error

**Command Name**
`az extension add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may

[2021-05-04 23:29] detienne20 commented on #17890
@JavierPalaciosNexplore  Thank you for your patience, the fix for deploying a template spec version should be released after 05/06. I am unable to reproduce the az ts export error. Can you please explain in more detail how you ran in to the "'NoneType' object is not iterable" error using this command? i.e. Does this fail for all of your template specs or only one? Does your template spec contain a

[2021-05-05 00:07] yonzhan commented on #17960
route to service team

[2021-05-05 02:59] dawwa commented on #11871
anyone discovered any workaround while waiting for this forever? :)

[2021-05-05 03:03] #17643 closed

[2021-05-05 03:36] savjani commented on #17960
Thanks @felipeafeltes for catching that. I have added the PR for the fix

[2021-05-05 05:27] coderpatros commented on #9972
Thank you @MarkPerry24. You just saved me updating a whole bunch of web apps manually.

[2021-05-05 07:09] prohand opened #17962 "intermittently ERROR: Failed to load token files"
Hello,

Randomly, I have my account which can no longer log in.
Here is the error:

`UNKNOWN: Command error: ERROR: Failed to load token files. If you have a repro, please log an issue at https://github.com/Azure/azure-cli/issues. At the same time, you can clean up by running 'az account clear' and then 'az login'. (Inner Error: Failed to parse /var/lib/centreon-engine/.azure/accessTokens.json wit

[2021-05-05 07:41] mjudeikis commented on #16963
/close

[2021-05-05 07:42] mjudeikis commented on #16001
@josephtingiris  I think this should be fixed by ARO operator now?

[2021-05-05 07:46] mjudeikis commented on #14599
Should be fixed?

[2021-05-05 07:59] grisu48 opened #17963 "Error in az vm boot-diagnostics get-boot-log"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm boot-diagnostics get-boot-log`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az vm boot-diagnostics get-boot-log --resource-group {} --name {}`

## Expected Behavior

##

[2021-05-05 10:18] jiasli commented on #16841
https://login.microsoftonline.com/common/oauth2/authorize... and shows two accounts to choose, myself and my privileged account. I select the latter and supply the 2FA information.

The web page displayed in https://login.microsoftonline.com/common/oauth2/authorize is controlled by Azure Active Directory (AAD), not Azure CLI.

Could you elaborate the question? If you logged in twice with different

[2021-05-05 10:30] jiasli commented on #1520
@elasticdotventures, thanks for the suggestion. [`fzf`](https://github.com/junegunn/fzf) is definitely a great fuzzy finder.

[2021-05-05 10:56] jiasli commented on #1520
@ArcherN9,

If you run `az account list-locations --debug`, you will see the result is from [Subscriptions - List Locations](https://docs.microsoft.com/en-us/rest/api/resources/subscriptions/listlocations) REST API.

[code]

The API version has been bumped from `2019-06-01` to `2019-11-01` in #14229.

### In `2019-06-01`

`latitude` and `longitude` are at the _root_ of `Location`.

https://github.

[2021-05-05 10:59] JavierPalaciosNexplore commented on #17890
Although I expect this to get solved after Azure/azure-cli#17896, This is the complete sequence:
[code]

[2021-05-05 11:42] Kotasudhakarreddy commented on #17874
closing due to lack of response. Please file a new issue if this is still a problem.

[2021-05-05 11:42] #17874 closed

[2021-05-05 12:12] Kotasudhakarreddy commented on #17931
Hi can you please run `az webapp config access-restriction add -h` and check do you see `--service-tag` and ` --http-headers` arguments like below. If you don't see them please try re-install `CLI` and try again.

![image](https://user-images.githubusercontent.com/60102891/117138803-25414b80-adc9-11eb-80ae-930d465676ae.png)

[2021-05-05 13:35] NissesSenap opened #17964 "Support generating JWT tokens using cli"
**Is your feature request related to a problem? Please describe.**

Trying to talk to Azure EventHub and due to reasons I need to have a JWT token. Today I can generate it by using the oauth2 endpoint as described in: https://docs.microsoft.com/en-us/rest/api/eventhub/get-azure-active-directory-token#use-postman-to-get-the-azure-ad-token.

I need to generate this JWT token from kubernetes and I wo

[2021-05-05 13:56] plamber commented on #17931
Hi,
I did following:
- Reinstalled the CLI: no change
- Checked on the Cloudshell: no change
- Installed the beta version: no change

Is there anything else that must be added (an addon or something)?

br,
Patrick

[2021-05-05 14:12] saumyasanghvi03 commented on #10532
argument --name/-n: expected one argument
me too getting this error - while creating web app plz help

[2021-05-05 14:12] saumyasanghvi03 opened #17965 "argument --name/-n: expected one argument"
argument --name/-n: expected one argument
me too getting this error - while creating web app plz help

_Originally posted by @saumyasanghvi03 in https://github.com/Azure/azure-cli/issues/10532#issuecomment-832720997_

[2021-05-05 14:24] Kotasudhakarreddy commented on #17931
Would you able to see `--service-tag` and `--http-headers` arguments when you run `az webapp config access-restriction add -h` from your CLI console.

[2021-05-05 14:31] plamber commented on #17931
No, in all cases the parameters were missing

[2021-05-05 14:41] asos-anton-hryschanka commented on #15103
@jaslloyd hi.

I had the same problem. And have a solution for that.

My scenario:
- deploy Azure AD application based on terraform `resource "azuread_application" "active_directory_application" ...`
- change replyUrls, I can't implement its previous step, i used `resource "null_resource" "xxx" { provisioner "local-exec" ... }`

My permissions before fix:
Azure Active Directory Graph -> Applicatio

[2021-05-05 14:46] larslind commented on #17883
@DaeunYim I've been testing this over the past couple of days in the portal and with both ARM template and Terraform and they all fail with the same error message:
[code]

[2021-05-05 15:07] yonzhan commented on #17965
route to service team

[2021-05-05 15:09] yonzhan commented on #17964
@jiasli for awareness

[2021-05-05 16:09] Mimetis commented on #15717
Same issue here when play with "`az role assignement`"
I tried in my default WSL2 Ubuntu 20.04, then I tried in a new WSL2 distro Ubuntu 18.04, same results.
Of course, with the last version of Azure CLI.

Unfortunately, very random results, sometimes it's working as expected, sometimes, not.
Sometimes I have an error output, sometimes, nothing appears.

[code]

[2021-05-05 16:41] swenkeratmicrosoft opened #17968 "Azure CLI needs to be able to delete pipeline runs"
**Is your feature request related to a problem? Please describe.**
During testing, I sometimes create a _lot_ of runs and artifacts.  I can easily exceed how much storage I have available in a single _day_.

**Describe the solution you'd like**
The following command should delete a run including all artifacts.
az pipelines runs delete --id [int]

**Describe alternatives you've considered**
Right n

[2021-05-05 18:26] bgoradia commented on #15717
This was a while ago however, from why I can recollect, this was an issue related to permissions assigning role. I believe the subscription admin provided me the permissions and I was able to work through the issue.

[2021-05-05 18:43] sbojjawar-Msft opened #17970 "AZ CLI command fails to update secondary azure SQL database part of FailoverGroup/GeoReplication"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2021-05-05 20:46] adesca opened #17971 "Azure CLI Synapse Workspace should be able to activate a workspace"
When a Synapse Workspace is created and encryption activated, users have to give the managed identity of the workspace permissions to access the key, and then return to the workspace to do the manual step of activating it. There does not seem to be an AZ Cli command for activating the workspace in this circumstance.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.m

[2021-05-05 20:54] omzevall opened #17972 "az netappfiles volume create options need more information"
The `az netappfiles volume create` options need some more information. Some examples:
* "--security-style : The security style of volume."
   * What are the valid options? (Applies to other args)
* For all arguments with "accepted values" listed, what value is the default if the arg is not specified?
* For all arguments without accepted and default values, are they just "true" when specified and "

[2021-05-05 21:09] adesca opened #17973 "AZ CLI should show error details or provide documentation on how to find error details"
When a Synapse workspace command fails, instead of providing the detailed error, there's an error message that says to refer to error details for more information.

Sample error:
![image](https://user-images.githubusercontent.com/15189666/117209632-3768bd00-adbc-11eb-97fa-c487d8c1714a.png)

To reproduce:
1. Run `az synapse workspace key update --key-identifier xxx --is-active true --workspace-name

[2021-05-05 22:42] wasker opened #17975 "Cannot update tags on existing resource of type Microsoft.Network/publicIPAddresses"
**Describe the bug**

I have an existing resource of type Microsoft.Network/publicIPAddresses. I'm trying to update its tags. The operation fails with an unrelated error.

**To Reproduce**

Resource looks like:

[code]

Command to update tags:

`az resource tag --ids /subscriptions/xxx/resourceGroups/yyy/providers/Microsoft.Network/publicIPAddresses/zzz --tags blah=blah qwe=asd asd=zxc new=tag`

*

[2021-05-05 22:55] yonzhan commented on #17968
route to service team

[2021-05-05 22:57] yonzhan commented on #17970
route to service team

[2021-05-05 22:58] yonzhan commented on #17971
route to service team

[2021-05-05 22:58] yonzhan commented on #17972
route to service team

[2021-05-05 22:59] yonzhan commented on #17973
route to service team

[2021-05-05 23:01] yonzhan commented on #17975
ARM

[2021-05-05 23:05] mmquantum opened #17976 "Azure Quantum Documentation update request"
[Enter feedback here]Azure Quantum Documentation - Please clarify when code instructions intended for quantum simulator on classical machine sent to an actual quantum machine backend. This may be known by the problem complexity, number of qubits, gate fidelity, coherence times, error correction etc...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟

[2021-05-05 23:46] ssanbeg commented on #16841
The issue is that the Azure cli logs me in with the 'myself' or user account. Or are you impying that the Azure cli has nothing to do with login but merely reads from AAD?

The result, either way, is that the wrong user is logged in.

[2021-05-06 00:34] idear1203 commented on #17971
Are you looking for this cmdlet `az synapse workspace key update`?

[2021-05-06 00:39] idear1203 commented on #17973
@yonzhan  we don't have customization on error handling. We just call SDK method [here](https://github.com/Azure/azure-cli/blob/29767d75d850ddc1c24cc85bd46d861b61d77a47/src/azure-cli/azure/cli/command_modules/synapse/operations/workspace.py#L109-L110). Is this something that should be done in the CLI fundamental layer or could you please share me with some good examples how other services handles

[2021-05-06 01:31] yungezz commented on #17952
route to  appropriate team

[2021-05-06 01:31] yungezz commented on #17955
route to service team

[2021-05-06 01:33] yungezz commented on #17961
hi @MarkAtAgilliance could you pls run `az extension remove -n application-insights` to remove previously installed extension, then install it?

[2021-05-06 01:33] yungezz commented on #17963
hi @qwordy, could you have a look?

[2021-05-06 01:54] Jerick-Molina opened #17977 ""az resource list" is stuck onto one resource-group."
**Describe the bug**

"az resource list" gives me an error saying : ERROR: Resource group 'learn-8be81bb3-401f-4503-93e3-a8fc0eaec7e8' could not be found. Even when i try to get a resource list of another resource group, i still get the same error. Its like the command is bound to this specific resource group.(NOTE: I also use Microsoft Learn which gives me that "learn" resource group, Yes I've ch

[2021-05-06 01:55] yonzhan commented on #17973
Add error handling expert @houk-ms to help with.

[2021-05-06 01:58] yonzhan commented on #17977
ARM

[2021-05-06 02:06] MarkAtAgilliance commented on #17961
Will do.  Then will run script twice.  Is there any enhanced debug you need turning on?
________________________________
From: Yunge Zhu ***@***.***>
Sent: Wednesday, May 5, 2021 6:33:19 PM
To: Azure/azure-cli ***@***.***>
Cc: Mark Davies ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] The directory is not empty when using az extension add --upgrade -n application-insights (#1796

[2021-05-06 03:11] jiasli commented on #16841
Yes. Azure CLI uses [authorization code flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow) to read from AAD,

Could you clear the browser cache and run `az login` again? Maybe something wrong is happening with AAD's login web page.

[2021-05-06 03:15] jiasli commented on #15717
@devsheoran, the error you are see is caused by `SSLError certificate verify failed`:

It is another issue rather than the original one. Please see [Work behind a proxy](https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#work-behind-a-proxy) for the solution.

[2021-05-06 03:19] jiasli commented on #15717
@Mimetis, is this issue still happening now? If so, could you [create a support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) and route this issue to ARM service team to investigate? You may provide the `--debug` log in the ticket. Thanks for understanding.

[2021-05-06 03:28] ssanbeg commented on #16841
Incognito, nothing worked, except… clearing cache and losing the other 11
logins I had. Alright, thanks Jiashou. This is not a cli issue then.

Regards,
Scott

From: Jiashuo Li ***@***.***> ***@***.***>
Reply: Azure/azure-cli
***@***.***>
***@***.***>
Date: May 5, 2021 at 8:11:29 PM
To: Azure/azure-cli ***@***.***>
***@***.***>
Cc: Scott Sanbeg ***@***.***> ***@***.***>, Comment
***@***.***> ***@*

[2021-05-06 04:05] jiasli commented on #15103
https://graph.microsoft.com/ is [Microsoft Graph API](https://docs.microsoft.com/en-us/graph/use-the-api), so you will need **Microsoft Graph** for the [Update application](https://docs.microsoft.com/en-us/graph/api/application-update?view=graph-rest-1.0&tabs=http) API invocation:

![image](https://user-images.githubusercontent.com/4003950/117238523-9e8b7d80-ae5f-11eb-8a9c-313e9211525f.png)

![ima

[2021-05-06 07:24] NissesSenap commented on #17964
There is a command for this and it works with `az login -i`

[code]

My bad, I will close this issue.

[2021-05-06 07:24] #17964 closed

[2021-05-06 07:54] SmiXz opened #17980 "Getting scm site credentials for zip deployment The command failed with an unexpected error. Here is the traceback: [Errno 2] No such file or directory: '/home/***/site.zip'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment source config-zip --src {} -

[2021-05-06 07:59] msyyc commented on #13614
If name of vnet/subnet is provided, cli will use '--resource-group' as a part to assemble id. If you want to use resources in different resource groups, please use id instead of name.

[2021-05-06 08:12] aaaseva opened #17981 "az keyvault secret download: error: No module named 'azure.keyvault.key_vault_id'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret download`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault secret download --name {} --vault-name {} -f {}`

## Ex

[2021-05-06 08:43] fluffy-cakes commented on #17733
I have a similar issue with **UK South**; `az deployment sub create -l uksouth -s $myid --debug --verbose`

Last part of `debug` shows the following:
[code]

Details to help
[code]

PowerShell seems to work fine:
[code]

[2021-05-06 08:45] wiebeck commented on #17733
@fluffy-cakes Upgrade to Azure CLI **2.23.0**, the issue has been fixed with #17896. :)

[2021-05-06 08:47] fluffy-cakes commented on #17733
far out! good reply, i didn't see it got released today, only saw it yesterday still on 2.22.0. cheers 👍🏼

[2021-05-06 09:18] fluffy-cakes commented on #17733
just re-ran it with new version successfully. thanks!

[2021-05-06 09:47] tirendra-reddy opened #17982 "Azure CLI version 2.23.0 - Error"
Hi

[code]
After the upgrade to version 2.23.0 this happens will all commands,  the CLI seems to be missing a module.

System Spec:
OS : Windows 10
Python V3.9.4

Hope you can find a fix soon.

Thanks,
T

[2021-05-06 10:08] aakanshaverma1310 commented on #15783
@shahht - hello. I'm getting same problem in my HVD in ATT while executing az extension add command.
Can you please help me to fix. Thanks.

[2021-05-06 10:48] bhagdave opened #17983 "Unable to install on Ubuntu 18.04"
I attempted to follow the instructions to install the azure-cli from https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt

The option 1 installation just threw an error So I then went through the Option 2 installation instructions which reported there was no azure-cli package to install.

To get it to work I then ran the option 1 install and it worked.

[2021-05-06 11:33] jiasli commented on #17982
Azure CLI currently doesn't work with Python 3.9 yet. We are working on it (https://github.com/Azure/azure-cli/pull/17368). 😉

[2021-05-06 11:41] tirendra-reddy commented on #17982
Thank you @jiasli . I will wait for the PR to go through :)

[2021-05-06 11:41] #17982 closed

[2021-05-06 12:54] thuijer opened #17984 "Some examples would be nice"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fe0f363b-7f21-0ea9-3e27-da7866c94102
* Version Independent ID: 6cc413e4-4f7d-9baa-a365-c9275fc6a7ad
* Content: [az keyvault key](https://docs.microsoft.com/en-us/cli/azure/keyvault/key?view=azure-cli-latest)
* Content Source: [latest/docs-ref-autogen/

[2021-05-06 13:32] adesca commented on #17971
I found that right after posting this, however when I try it I get a "Workspace key request validation has failed", which I created an issue for in #17973.
If possible, could the documentation for the `az synapse workspace key`  specify that this is the purpose of key update? And the prerequirements to use it?

[2021-05-06 15:03] detienne20 commented on #17890
@JavierPalaciosNexplore Please try upgrade to Azure CLI 2.23.0. The latest version was released today. Are you still seeing this error?

[2021-05-06 15:44] kgopi1 opened #17985 "Different extensions getting added in GUI and CLI ."
Hi,

When i enable the VM Diagnostics for Windows VM  via GUI Microsoft.Insights.VMDiagnosticsSetting Extension got created.

When i enable the VM Diagonstics for VM Windows VM via CLI using az vm diagnostics set , IaaSDiagnostics Extension got created.

Like to know what is difference between these two extensions.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.mi

[2021-05-06 15:55] ssanbeg commented on #16841
That did the trick.

[2021-05-06 16:13] josephtingiris commented on #16001
Yes, it appears so.

On Wed, May 5, 2021 at 3:43 AM Mangirdas Judeikis ***@***.***>
wrote:

[2021-05-06 16:24] Kotasudhakarreddy commented on #17934
@btardif - can you please confirm whether this should be fixed by the redesign.

[2021-05-06 16:36] SenseiJoe opened #17986 "DLL load failed while importing win32file: The specified module could not be found."
**Describe the bug**

DLL load failed while importing win32file: The specified module could not be found.

**To Reproduce**

Any az command,
az --version, give no version or regular feedback.   I get...

DLL load failed while importing win32file: The specified module could not be found.
The command failed with an unexpected error. Here is the traceback:
DLL load failed while importing win32file: T

[2021-05-06 17:28] turb0chrg commented on #17986
Getting the same. Upgraded using chocolately from 2.20.0. I'm going to install 2.22.1 and see if that works since 2.23.0 was released today...

[2021-05-06 17:42] Kotasudhakarreddy commented on #17931
@plamber This feature is implemented and released in CLI version 2.23.0. You can find the release notes [here](https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md#app-service). So please install the latest one try for the same.

[2021-05-06 17:44] #15417 closed

[2021-05-06 17:53] MarkAtAgilliance commented on #17961
Hi, This is odd.  It sometimes works and sometimes does not.

Here is a trace of me adding/removing the extension.  I am running as admin.

PS C:\Users\COMP-SECADM> $extensionAdded = az extension add --upgrade -n application-insights  --system
WARNING: Extension 'application-insights' 0.1.13 is already installed.
WARNING: It will be updated if available.
WARNING: No updates available for 'applicat

[2021-05-06 18:01] Kotasudhakarreddy commented on #17676
Closing as the fix is released in the latest version `2.23.0`. Please file a new issue if this is still a problem.

[2021-05-06 18:01] #17676 closed

[2021-05-06 20:26] npazosmendez opened #17987 "`webapp log tail` throws TypeError"
**Describe the bug**

The `appservice` module throws `TypeError` when trying to stream logs.

[code]
As the error says, `end` [is not a valid keyword](https://docs.python.org/3/library/logging.html#logging.warning) for `_log()` (internal for `logging.warning`). It is a valid keyword for `print` though, which was being used before this change https://github.com/Azure/azure-cli/commit/680f8339ac010a

[2021-05-06 22:13] jordan-da opened #17989 "missing AZURE_DEFAULTS_SUBSCRIPTION environment var?"
I find it strange the default subscription is missing from the defaults section in:
https://docs.microsoft.com/en-us/cli/azure/azure-cli-configuration#cli-configuration-values-and-environment-variables

Was this done on purpose? It makes the `az` cli hard (and a little unsafe) to use in a multiple subscription environment with standard tools such as [direnv](https://github.com/direnv/direnv).

[2021-05-06 22:35] sangharshcs opened #17992 "Not able to pass api_version with az account get-access-token"
**Resource Provider**

**Description of Feature or Work Requested**

How can I use api_version=1.0 with az account get-access-token CLI

https://github.com/Azure/azure-cli/blob/902b942a4d11e61c23649ac444da7cbc7c332162/src/azure-cli-core/azure/cli/core/_profile.py#L102

**Minimum API Version Required**

1.0

**Swagger Link**

**Target Date**

[2021-05-06 23:31] yonzhan commented on #17986
@jiasli for awareness

[2021-05-06 23:34] yonzhan commented on #17989
@jiasli for awareness

[2021-05-06 23:37] yonzhan commented on #17992
@jiasli for awareness

[2021-05-07 00:10] SenseiJoe commented on #17986
Re-installed 2.22.1 and things all work better

[2021-05-07 00:15] kamkunji opened #17993 "Azure Key vault --"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 39cfb8ed-c246-2ffb-9dff-070b90c18b21
* Version Independent ID: c09c1597-1b6c-b0a2-b3fc-bdc16764d096
* Content: [az keyvault secret](https://docs.microsoft.com/en-US/cli/azure/keyvault/secret?view=azure-cli-latest#az_keyvault_secret_set)
* Content Sour

[2021-05-07 00:33] avanigupta opened #17994 "Unable to print special characters to console output"
## Describe the bug

I am from the Azure App Configuration team and I work on the `az appconfig` module. I noticed that when our output contains characters like `汉` or ` 𐐷` , CLI outputs a question mark character instead: ` �`.
Moreover, if we try to print a warning message containing one of these characters, we get an exception. Although this exception doesn't block the operation, it still pollut

[2021-05-07 01:44] yungezz commented on #17980
route to appropriate team

[2021-05-07 01:44] yungezz commented on #17981
hi @aaaseva could you pls uninstall Azure CLI and install latest version? thanks.

[2021-05-07 01:45] yungezz commented on #17983
add @fengzhou-msft to have a look

[2021-05-07 01:46] yungezz commented on #17984
add @houk-ms to have a look

[2021-05-07 01:47] yungezz commented on #17985
add @qwordy to have a look

[2021-05-07 01:48] yungezz commented on #17993
hi @kamkunji could you pls share more detail about the issue met?

[2021-05-07 02:06] SenseiJoe commented on #17986
Why is this closed?

[2021-05-07 02:07] jimbobbennett opened #17995 "Some required Parameters for az functionapp create are missing"
For the section on `az functionapp create`, the only required parameters listed are:

* `--name`
* `--resource-group`
* `--storage-account`

When you run this command with only these values set you get this error:

[code]

There should be a note on the default value of `--functions-version`, along with a note saying it will soon be required.

`--consumption-plan-location` should be added to the re

[2021-05-07 03:07] yonzhan commented on #17986
I assumed that you issue was resolved by yourself? If not, I will reopen it. Sorry for the misunderstanding.

[2021-05-07 03:09] yonzhan commented on #17995
route to service team

[2021-05-07 03:23] qwordy commented on #17912
@bj-tukker Quotes are error-prone in Azure CLI.
You can refer to https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#using-quotation-marks-in-values
"\nThe splatting operator '@' cannot be used to reference variables in an expression."
This sentence indicates that '@' is a special character in pipeline language. It is used to reference a variable. But we want to pass it as a normal char

[2021-05-07 03:28] qwordy commented on #17903
@sumitsingh306, A VM extension ID looks like
[code]
`--id`s represents for extension ID, not VM ID.

[2021-05-07 03:36] #17987 closed

[2021-05-07 03:37] #16838 closed

[2021-05-07 04:08] jiasli commented on #17994
This is because you are using the legacy terminal. Even though the terminal itself supports UTF-8, the default non-Unicode font (like [Cascadia Code](https://github.com/microsoft/cascadia-code) or [Consolas](https://docs.microsoft.com/en-us/typography/font-list/consolas)) doesn't define Unicode characters:

![image](https://user-images.githubusercontent.com/4003950/117395809-4457ee80-af2b-11eb-99e

[2021-05-07 04:42] jiasli commented on #17994
I have submitted PR https://github.com/microsoft/knack/pull/247 and https://github.com/Azure/azure-cli/pull/17996 to force to use UTF-8 for log files so that you don't need to disable file logging with `az config unset logging.enable_log_file` anymore.

[2021-05-07 04:45] plamber commented on #17931
Hi @Kotasudhakarreddy,
thank you. Was able to upgrade to 2.23.0 and was able to find the new properties.

br,
Patrick

[2021-05-07 04:45] #17931 closed

[2021-05-07 05:14] yungezz commented on #17003
close it for now since install issue. feel free to create new one if any error met. thanks.

[2021-05-07 05:14] #17003 closed

[2021-05-07 05:25] Kotasudhakarreddy commented on #17876
Hey @madsd could you please take a look in to this.

[2021-05-07 05:26] Kotasudhakarreddy commented on #17850
Hey @madsd could you please take a look in to this.

[2021-05-07 06:31] pazdedav commented on #17986
Same issue here. It is not just `az --version` command that fails, when I try e.g. `az group list -o table`, it first returns "DLL load failed while importing win32file: The specified module could not be found.", but after that it lists my resource groups correctly.

It seems there is something wrong with the build process and the way the packages are either referenced (paths with both types of sl

[2021-05-07 06:54] ipg-informatik commented on #17512
Any update?

[2021-05-07 08:19] kairu-ms commented on #17943
@qwordy One of my tests needs an external subscription. What's the external sub ID used for live test now?

![image](https://user-images.githubusercontent.com/69238381/117420229-f1446280-af4f-11eb-9fa4-ad9295a1a6f5.png)

[2021-05-07 08:23] qwordy commented on #17943
Unfortunately, "Micorsoft" directory forces MFA now. Can't do cross-tenant test. Cross-sub can be test. External sub ID is written in code. No default value.

[2021-05-07 08:45] kairu-ms commented on #17943
In live test result, we can not find such ext_sub.
![image](https://user-images.githubusercontent.com/69238381/117423756-a2003100-af53-11eb-8b66-1d82af1b4683.png)

[2021-05-07 09:06] matt-ward-airwalk opened #18002 "Unable to create System Topic for PolicyInsights"
## Describe the bug

**Command Name**
`az eventgrid system-topic create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- az eventgrid system-topic create --name azure-policy-events --location global --topic-type Microsoft.PolicyInsights.PolicyStates --source "/subscriptions/xxxx" --re

[2021-05-07 09:14] ryanbowden commented on #17986
Same issue here :(

[2021-05-07 09:23] yonzhan commented on #18002
route to service team

[2021-05-07 10:52] aldodfm commented on #17986
+1

[2021-05-07 11:01] steffen201706 commented on #11315
+1
something like
reponame/*  or "shortcut"
reponame/

[2021-05-07 11:03] jiasli commented on #17982
Sorry I misunderstood the issue. Investigating in https://github.com/Azure/azure-cli/issues/17986.

[2021-05-07 11:21] jiasli commented on #17986
I am able to repo. It seems to be related to https://github.com/Azure/azure-cli/pull/17816, triggering https://github.com/mhammond/pywin32/issues/1431.

Investigating... 👨‍💻

[2021-05-07 11:29] tirendra-reddy commented on #17986
Not a problem, Thank you :) I will subscribe to that thread and follow it there.

[2021-05-07 11:36] madsd commented on #17876
@kabukimurder can you try this again with the just released version (2.23). I added an improvement to this. It is actually not the access restriction that is the problem, but by default we will verify that the service endpoint is correctly configured on the subnet. That is not possible cross subscriptions, and thus the error. With the -i switch you can ignore the check. In 2.23 you should get a pr

[2021-05-07 12:08] SenseiJoe commented on #17986
I downgraded to solve the problem, it wasn't actually fixed.
@pazdedav is correct, it happens more than az --version.

[2021-05-07 12:17] kmadof commented on #17947
Not sure if this is releated, but I got this exception

[code]

Calling:

[code]

[2021-05-07 12:36] richardg1 commented on #17986
Same issue, not just a problem with az version. Uninstalling 2.23.0, installed 2.22.1 and working OK now.

[2021-05-07 13:13] jiasli commented on #17986
I was able to solve it by reinstalling `pywin32` with a terminal "Run as Administrator":

[code]

Though the root cause remains unknown...

[2021-05-07 13:19] jiasli commented on #17986
Unable to repro on a fresh Azure Virtual Machine:

![image](https://user-images.githubusercontent.com/4003950/117455528-d981d400-af79-11eb-852f-5a5656bfcca1.png)

[2021-05-07 14:09] aakanshaverma1310 commented on #15783
@shahht

[2021-05-07 14:16] shahht commented on #15783
I am not using HVD.
I am att employee using standard leased laptop and downloaded Cert file ATTINTERNALROOTv2 from here<https://tspace.web.att.com/files/form/anonymous/api/library/22795b9c-e313-477e-a7a7-c10789c3b6c3/document/99015d26-ab3b-451c-b367-ff83fd8ddced/media/ATTINTERNALROOTv2.crt>

Thanks,
Hemant Shah
Sr. Member of Technical Staff
Public Cloud Infrastructure and Technology
AT&T Services,

[2021-05-07 14:28] tirendra-reddy commented on #17986
This fix worked for me. Thank you @jiasli!

[2021-05-07 15:04] the-rennegade commented on #692
This still appears to be an issue.......

[2021-05-07 15:48] zweim1 commented on #17844
Microsoft.DocumentDB/databaseAccounts API version '2021-03-15'" was added to our US Gov Subscriptions this morning. So the issue can be closed.

[2021-05-07 15:48] #17844 closed

[2021-05-07 15:55] #17883 closed

[2021-05-07 16:11] JavierPalaciosNexplore commented on #17890
Yes, everything is working again with the new CLI release

[2021-05-07 16:11] #17890 closed

[2021-05-07 16:31] kr-jmd opened #18005 "Unable to add monitoring on existing AKS cluster with existing LA workspace"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons -a {} -n {} -g {} --workspace-resource-id {}`

[2021-05-07 19:18] glennmusa opened #18006 "az keyvault -- vaults operations fail in AzureUSGovernment"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Unable to run `az keyvault create` or `az keyvault show` in AzureUSGovernment because the preview API `2021-04-01-preview` is not available.

Here's the output from `az provider show --namespace Microsoft.KeyVault --query "resourceTypes[?resourceType=='vaults']"`:

[code]

**Command Name**
`az keyvault create`

[2021-05-07 19:33] ravi20198529 opened #18007 "not able to install azure cli and gets error stating "Error: No available formula or cask with the name "azure-cli". It was migrated from homebrew/cask to homebrew/core.""
**Resource Provider**

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2021-05-07 19:34] DaeunYim commented on #17721
Hi, thanks for submitting the issue. Have you had the same problem after reporting this? If that's the case, could you provide the parameter value you used ?

[2021-05-07 20:40] EvanMulawski commented on #17986
@jiasli This worked for me.

Deleted `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2` and repaired the Azure CLI installation.

[2021-05-07 22:01] groogiam commented on #17721
I was able to eventually get the resource created but my recollection was that I did get the error a couple more times in the process. There might have been a previous postgres server with the same name I deleted a few minutes prior to running to the command. Parameters I used are below.

--sku-name Standard_B1ms --tier Burstable --public-access none --storage-size 32 --backup-retention 35 --versi

[2021-05-07 22:09] DaeunYim commented on #17721
@groogiam
Thanks a lot for providing the information and I'm glad that at least it worked eventually. The error might have been transient issue in the region but I'm sorry you had to try creating it multiple times. Let me investigate the issue and work on improving the experience.

Thanks.

[2021-05-07 22:35] na632 opened #18008 "iddk"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2021-05-07 22:35] na632 opened #18009 "iddk"
**Resource Provider**

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2021-05-08 00:45] #18008 closed

[2021-05-08 00:54] eyesea69 opened #18010 "Could not set user."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment user set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment user set --user-name {}`

## Expected

[2021-05-08 01:21] yungezz commented on #18006
Checking with Keyvault service team on feature parity support among different clouds. cc @fengzhou-msft  @houk-ms for awareness.

[2021-05-08 02:59] BigCat20196 commented on #17842
Hi @zhusulai  could you pls uninstall Azure CLI and install latest version? thanks.

On my computer, this extension can be installed correctly.
Environment Summary:
- Windows 10 Enterprise 21H1 19043.928
- Python 3.8.8
- Installer: pip
- azure-cli 2.23.0

Please kindly let us know if it solves the issue.
If this issue cannot be solved after trying, it may be recorded as an issue caused by a MAC OS

[2021-05-08 03:05] kobulloc-MSFT opened #18011 "Customer Request: Please include Azure CLI on new VMs by default (or provide cloud-init command to install Az CLI)"
**Resource Provider**

Azure CLI

**Description of Feature or Work Requested**

We had a customer reach out to us and request:

A) Azure CLI installed by default on all VMs (other cloud providers are starting to do this)
B) Failing that, an automated solution: cloud-init command to install Azure CLI on a VM

GitHub Thread:
https://github.com/MicrosoftDocs/azure-docs/issues/73684

**Minimum API Ver

[2021-05-08 03:10] yonzhan commented on #18011
@jiasli  for awareness

[2021-05-08 06:28] jiasli commented on #17992
`az account get-access-token` doesn't make HTTP request if the access token can be found from the ADAL token cache.

If the access token can't be found from the ADAL token cache or has expired, CLI calls

[code]

But the API doesn't support `api_version` at all!

You may see [Microsoft identity platform and OAuth 2.0 authorization code flow](https://docs.microsoft.com/en-us/azure/active-directory/

[2021-05-08 08:50] #17994 closed

[2021-05-08 09:48] yungezz commented on #18010
route to appropriate team

[2021-05-08 09:48] yungezz commented on #18007
add @fengzhou-msft to have a look

[2021-05-08 09:49] yungezz commented on #18005
route to appropriate team

[2021-05-08 12:58] freedev opened #18014 "Exception while running az webapp log tail"
A couple of days ago I started to have the following error while running

az webapp log tail --name <appname> --resource-group <resource group>

[code]

[2021-05-08 14:36] pritom007 commented on #16417
Have been facing the issue for quite a long. Mine is also mac m1. And I tried python 3.8 and 3.9 both failed.

[2021-05-08 14:38] pritom007 commented on #16417
can you please share the setup?

[2021-05-09 05:51] pritom007 commented on #16697
Hi Guys, I finally found the solution. Most probably your python3 wasn't installed via brew. So first uninstall brew and python3. Then install brew again(before that make sure Rosetta 2 is working). Then try `brew doctor`. If there is any error saying `/usr/...` then, you have to delete those files. Once you successfully remove/delete those those `brew doctor` will run fine. After that insall azur

[2021-05-09 08:23] guettli opened #18016 "`az postgres flexible-server create` ignores location of default group"
## Describe the bug

**Command Name**
`az postgres flexible-server create`

My default group `orderkit` has location "western europe". Above command uses the default group, but creates
a server with location US. This makes no sense. It should take the location from the default group.

**Errors:**
[code]

## Environment Summary
[code]
## Additional Context

[2021-05-09 08:38] VARUN46 opened #18017 "az webapp up failed to run"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up`

## Expected Behavior

## Environment Summary
[code]
## Addit

[2021-05-09 08:54] yonzhan commented on #18016
route to service team

[2021-05-09 12:21] petender opened #18018 "More parameters are required than just --id"
Hi, I'm trying to run the below command, using the --id parameter only (mentioned as required). However, when running the task, it complains I also needed to provide the --organization as well as --project parameters.

Thanks, Peter

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3bd63c4b-37f7-3641-8f15-0f5713ab71b4
* V

[2021-05-09 16:07] manuelsidler commented on #16697
Thanks pritom! In my case it was even simpler:
1. Uninstall Brew
2. Install Brew
3. Install Azure CLI

![image](https://user-images.githubusercontent.com/802015/117579009-52f00280-b0f1-11eb-9d36-273208117dd1.png)

[2021-05-09 19:01] qwordy opened #18019 "Live test regression"
This issue is created by a program.
[Latest testing results of Azure CLI](https://clitestresultstac.blob.core.windows.net/latest/index.html)
[User Manual of Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EZGC9LwrN3RAscVS5ylG4HMBX9h7W0ZSA7CDrhXN5Lvx6g?e=V8HUmd)
[Upgrading API Versions in Azure CLI Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EcgPLHSkef9Mi14Rj

[2021-05-09 22:56] yonzhan commented on #18018
route to service team

[2021-05-09 22:58] yonzhan commented on #18019
@zhoxing-ms for awareness

[2021-05-09 23:19] hannesne commented on #17899
Thank you. I guess I should have been more clear in my request. The Custom Locations cli extension that I referenced (https://docs.microsoft.com/en-us/cli/azure/customlocation?view=azure-cli-latest) specifies both a PATH command and an UPDATE command is available. They take slightly different parameters. Could you perhaps add an explanation to the documentation that clarifies the difference betwee

[2021-05-09 23:35] joaocc commented on #16697
Hi. Sorry, but in my case that didnt solve it. At the time I tried reinstalling everything via brew but to no avail.
I ended up removing all brew packages and brew itself, and reinstalling brew in intel/x64 mode (running installer in x64 mode).
From then on, brew installs everything in x64 mode, and no more problems.
Unfortunately, for the foreseable future, wont have time to repeat the process ag

[2021-05-10 01:50] yungezz commented on #18014
route to appropriate team

[2021-05-10 02:16] BigCat20196 commented on #17923
Hi @mikegoatly You're right. The actual parameter of the command is `--name` or `-n`.There is an error in this prompt statement. We're thinking about fixing it and checking the rest.

[2021-05-10 02:33] MehaKaushik commented on #17917
Please re-open if you have any more questions.

[2021-05-10 02:33] #17917 closed

[2021-05-10 03:36] rcarbajal01 opened #18020 "az webapp log tail issue"
**Describe the bug**
Command Name
az webapp log tail

Errors:

The command failed with an unexpected error. Here is the traceback:

Exception in thread Thread-1:
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/threading.py", line 916, in _bootstrap_inner
    self.run()
  File "/opt/az/lib/python3.6/threading.py", line 864, in run
    self._target(*self._args, **self._kwargs)
  Fil

[2021-05-10 05:51] AlesMicin opened #18021 "MemoryError while trying to deploy as zip file"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When I'm trying to run following command, I receive MemoryError (traceback listed bellow). My guess is that the reason is file size - it's 1.06 GB.

Zip file which I'm trying to upload contains several webjobs. When I try to remove some of them and get file size below 1 GB, command run without errors. In one c

[2021-05-10 06:39] usrme commented on #17759
@detienne20, despite #17890 being successfully resolved I am still seeing issue even with 2.23.0:

[code]

The template spec in question does **not** have any artifacts defined:

![Screenshot_20210510_093853](https://user-images.githubusercontent.com/5902545/117616298-99864100-b173-11eb-9fd9-f1e617520095.png)

[2021-05-10 06:53] Kotasudhakarreddy commented on #18014
looking in to the issue.

[2021-05-10 07:09] usrme commented on #17733
Closing as this particular issue is indeed now fixed with version 2.23.0. Please still have a look at #17759!

[2021-05-10 07:09] #17733 closed

[2021-05-10 07:22] yonzhan commented on #16654
@harics24 any feedback/update?

[2021-05-10 07:27] yonzhan commented on #17677
@simnyc any update or feedback?

[2021-05-10 09:08] #16641 closed

[2021-05-10 09:30] jiasli commented on #16357
Hi @AndriiOmelianenko, sorry for the delay.

### Get access token from AAD directly

If you want to directly get an access token from AAD but your organization requires MFA, [username + password flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth-ropc) will fail. In that case, you will have to use [auth code flow](https://docs.microsoft.com/en-us/azure/active-directory/d

[2021-05-10 09:30] #16357 closed

[2021-05-10 09:32] jiasli commented on #16367
Could you use `az account list` to list all subscriptions you have access to and check if `fy6kf4qan` is a valid subscription name?

[2021-05-10 09:36] jiasli commented on #16373
Closing due to no response.

[2021-05-10 09:36] #16373 closed

[2021-05-10 09:41] zhoxing-ms opened #18023 "Refactor the temporary code used in resource module migration track 2"
**TODO List**

- [ ] Refactor the usage of `AzureOperationPoller`
- [ ] Refactor the usage of custom policy for pipeline

[2021-05-10 09:42] jiasli commented on #16453
Could you share the `--debug` log for us to troubleshoot? You may share it here or send it to <my_github_id>@microsoft.com. Thank you.

[2021-05-10 09:47] madsd commented on #17850
Thanks @Kotasudhakarreddy, I added PR to fix that: https://github.com/Azure/azure-cli/pull/18024

[2021-05-10 09:51] BigCat20196 commented on #18020
Hi @rcarbajal01 After my test, I can get the expected results.

Environment Summary:
- Python 3.8.8
- Installer: pip
- azure-cli 2.23.0

Pls check the prerequisites for using the `az webapp log tail` command.
You need to create a webapp and app service plan first.

Exanples:

Please refer to https://docs.microsoft.com/en-us/cli/azure/webapp/log?view=azure-cli-latest#az_webapp_log_tail

[2021-05-10 09:53] #16496 closed

[2021-05-10 09:57] Kotasudhakarreddy commented on #17850
Thanks @madsd

[2021-05-10 11:44] glaubitz commented on #15530
Has this fix already been released?

[2021-05-10 11:51] glaubitz opened #18025 "az command fails with "cannot import name 'ChallengeAuthenticationPolicy' from 'azure.core.pipeline.policies'""
One of the recent updates of one of the Azure SDK components broke the Azure CLI again.

I have not yet been able to localize the problem, but I am reporting it here through `az feedback` anyway in the hope to get some pointers to what could be the problem.

This issue shows with the packaged version of the Python Azure SDK and Azure CLI packages on openSUSE Tumbleweed. There might be a version mi

[2021-05-10 11:53] xfz11 commented on #17574
For awareness, we change the commands
[code]
to
[code]
for better user experience, which also corresponds with initial commands design

[2021-05-10 12:04] Kotasudhakarreddy commented on #18014
Able to repro this issue. Will consider this future releases.

[2021-05-10 12:56] qwordy commented on #16850
@luyitong, the failed code is updated. Cross-tenant authentication is supported by Azure CLI framework now. Could you download the latest version of Azure CLI and retry? Thanks.

[2021-05-10 13:26] benc-uk commented on #17792
I'm hitting this, it's a real pain

Any signs of a fix?

[2021-05-10 13:40] CharlieDigital commented on #17957
@MehaKaushik I understand your point, but consider that the `az storage queue create` operation still retains the `--connection-string` parameter which allows the usage of `"UseDevelopmentStorage=true"` to connect to the local emulator instance.

While I understand the desire for architectural purity, the CLI loses functionality by disconnecting it from emulator.

Is there no compromise available

[2021-05-10 15:28] yonzhan commented on #18025
@jiasli for awareness

[2021-05-10 15:43] olayemio commented on #17574
@xfz11 if customers want to specify multiple ids is this correct
`az sig share add  --subscription-ids "subscription-id1" "subscription-id2" --tenant-ids "tenant-id1" "tenant-id2" --groups type="AADTenants" ids="c24c76a"`

also can you explain what the `--groups-type="AADTenants" ids="c24c76a"` part means. Sorry if I'm asking a question you already answered before.

[2021-05-10 15:58] wasker opened #18027 "az graph query has changed format of the output"
**Describe the bug**

Scripts that rely on `az graph query` functionality are broken. Debugging the problem led us to an issue with result object of a query changing from `[ { record }, { record }...]` to `{ data: [ { record }, { record } ]}`.

This is a breaking change from resource-graph v1.x.

**To Reproduce**

Run the same query using resource-graph v1.x and resource-graph v2.x.

**Expected be

[2021-05-10 16:01] jaredpar commented on #11871
I am also hitting the following and am stuck.

[2021-05-10 16:26] wasker opened #18028 "Limit "az extension add --upgrade" only to upgrades within major version of extension"
**Is your feature request related to a problem? Please describe.**

We're relying on `az extension add --upgrade` to keep extensions up-to-date for our tooling.

Unfortunately, this may result in issues like #18027.

**Describe the solution you'd like**

Right now the choice for `az extension add --upgrade` is limited between a pinned version or a latest version. That'd be great to have another op

[2021-05-10 16:51] panchagnula commented on #17792
Sorry no ETA at this time. Will reach out to StaticWebApp folks to check if they can fix it.

[2021-05-10 19:07] slapointe opened #18029 "Azure deployment using Bicep and French characters: 'utf-8' codec can't decode byte 0x82"
## Describe the bug

**Command Name**
`az deployment mg create`

**Errors:**

cli.azure.cli.core.util: azure.cli.core.util.handle_exception is called with an exception:
cli.azure.cli.core.util: Traceback (most recent call last):
  File "D:\a\1\s\build_scripts\windows\artifacts\cli\Lib\site-packages\azure/cli/core/commands/__init__.py", line 691, in _run_job
  File "D:\a\1\s\build_scripts\windows\a

[2021-05-10 21:56] dikokob commented on #13881
Also having the same issue

[2021-05-10 22:01] SeanFeldman commented on #16583
Just ran into a similar issue, trying to figure out how to specify that the created DB should be serverless.
I understand that the documentation is auto-generated. That doesn't make it any easier to use though and I hope the team will review how to make it better. Would it be an option to list all the capabilities available? Or have a pointer on how one can find out what those capability values ar

[2021-05-10 22:11] DavidBoike commented on #16583
They might be autogenerated but they're generated _from somewhere_. They don't just spring forth into existence. If there's a better place to direct this issue, the place where these strings actually live, then that would be helpful. But it is not helpful to just say there's nothing that can be done about it.

To put this into perspective, this is like there's a C# method named `SetCapabilities(st

[2021-05-10 22:55] yonzhan commented on #18029
route to service team

[2021-05-10 23:37] markjbrown commented on #16583
Sean please see our conceptual docs on this. Emphasis mine

https://docs.microsoft.com/en-us/azure/cosmos-db/serverless#using-serverless-resources

Serverless is a new Azure Cosmos account type, which means that you have to choose between provisioned throughput and serverless when creating a new account. You must create a new serverless account to get started with serverless. **_During the preview

[2021-05-11 00:18] kim-soohwan opened #18030 "Managed HSM Recover"
**Resource Provider**
Key Vault
**Description of Feature or Work Requested**
The Recover command as described here: https://docs.microsoft.com/en-us/cli/azure/keyvault?view=azure-cli-latest#az_keyvault_recover needs to support managed HSM as well. Like in KeyVault CLI needs to send a put request to the RP with the CreateMode property set to Recover.

**Minimum API Version Required**

2021-04-01-pr

[2021-05-11 00:24] yonzhan commented on #18030
KeyVault

[2021-05-11 01:51] xfz11 commented on #17574
@olayemio  Sorry for the typos, I update the command without `--groups-type="AADTenants" ids="c24c76a"`

[2021-05-11 02:16] MarkAtAgilliance commented on #17961
So, a successful script run occurs.  Then another run is run and the error occurs.

It is this directory that is being highlighted in the error as not being empty.:

**C:\Windows\ServiceProfiles\NetworkService\AppData\Local\Temp\tmpluwug4v5\azext_applicationinsights\vendored_sdks\applicationinsights**

The full list of directories right after the error is as follows.

 Volume in drive C is Windows

[2021-05-11 02:31] yungezz commented on #18020
route to appropriate team

[2021-05-11 02:37] zhoxing-ms commented on #15530
@glaubitz Hi, there is a PR that is upgrading `azure-mgmt-resource` from `12.1.0` to `16.1.0`
PR link: https://github.com/Azure/azure-cli/pull/17783
It will be released in this sprint（2021-05-25)

[2021-05-11 02:43] zhoxing-ms commented on #18029
@shenglol This is a issue related to bicep, could you please take a look~

[2021-05-11 02:48] shenglol commented on #18029
Yeah I'll fix this. We should change 'utf-8' to unicode.

[2021-05-11 03:41] markjbrown commented on #16583
@petenorth Running multiple API's in a single account is not supported for Cosmos DB. But that is why it's important to read the conceptual docs. https://docs.microsoft.com/azure/cosmos-db/.

[2021-05-11 04:01] aressler38 opened #18033 "WebApp:staticwebapp appsettings set broken in az-cli 2.23.0"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az staticwebapp appsettings set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az staticwebapp appsettings set -n staticwebappname --se

[2021-05-11 04:27] markjbrown commented on #16583
@DavidBoike they are generated from the source code in this repo. Some are in help.py. Capabilities help is specifically here
https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/cosmosdb/_params.py#L71

There are reasons why we do not fully bake elaborate help on this property into these autogenerated docs and instead guide users to refer to the conceptual docs and

[2021-05-11 04:37] Tattoo commented on #16583
Sorry, but the whole point of having auto-generated docs is that it is easy during development to change the documentation, which is then automatically made available during release. This is pretty standard development practice that various APIs, CLIs and others already do. This way, the documentation that *is* shipped with the CLI is actually useful.

Usually the documentation is even provided fo

[2021-05-11 04:43] aressler38 commented on #17792
The issue in this function `def _parse_pair(pair, delimiter):` seen [here](https://github.com/Azure/azure-cli/blob/2f75074f6961162d1136f8b509468946f28c4f3f/src/azure-cli/azure/cli/command_modules/appservice/static_sites.py#L264). This is super easy to fix.

[2021-05-11 04:44] yonzhan commented on #18033
route to service team to help with.

[2021-05-11 04:59] Tattoo commented on #16583
As I have detailed before, you can link to more extensive documentation from the auto-generated if needed. In fact, this is one of the prime ways to make sure your end users actually find the relevant, comprehensive documentation.

Again, these are not good reasons to dismiss this ticket. Others are widely doing it.

[2021-05-11 05:01] markjbrown commented on #16583
I will review your suggestion with my team.

Thank you for your feedback.

Get Outlook for Android<https://aka.ms/AAb9ysg>

________________________________
From: Tatu Kairi ***@***.***>
Sent: Monday, May 10, 2021 9:59:17 PM
To: Azure/azure-cli ***@***.***>
Cc: Mark Brown ***@***.***>; Comment ***@***.***>
Subject: Re: [Azure/azure-cli] Extremely poor documentation for `az cosmosdb create` (#16583

[2021-05-11 06:27] anthonychu commented on #17792
@miwebst

[2021-05-11 07:24] bhopkinson commented on #15800
Hi,

I have just come across this problem. I too need to update the staging slot.

[code]

Omitting `--slot` correctly updates the production slot, but ideally we need a way to update the staging slot.

Are there any alternative ways until the support is added?

Thanks.

[2021-05-11 08:47] #17986 closed

[2021-05-11 08:47] houk-ms commented on #17175
Hi @chenlomis , we should use `az config set error_recommendation=off` not  `az config set error_recommendations=off`.

Just close the issue now.

[2021-05-11 08:47] #17175 closed

[2021-05-11 08:58] lazarillo opened #18036 "Default subscription not being saved / respected"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When I log in to my tenant using `az` cli, the default subscription is always the "wrong" subscription (not the one that I want).  I will change the subsciption, but that will not be respected when I log out and log in again.

**Command Name**
[code]

**Errors:**

It is not an error, just that the subscription

[2021-05-11 09:08] yonzhan commented on #18036
@jiasli for awareness

[2021-05-11 09:10] #15693 closed

[2021-05-11 10:59] c5289076 opened #18037 "issue with az login -i"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login -i`

## Expected Behavior

## Environment Summary
[code]
## Additional

[2021-05-11 11:02] yonzhan commented on #18037
@jiasli for awareness

[2021-05-11 11:14] Kotasudhakarreddy commented on #18014
#17988 this should fix the issue reported. Fix would be released in [S187](https://github.com/Azure/azure-cli/milestone/105).

[2021-05-11 11:16] Kotasudhakarreddy commented on #18020
#17988 this should fix the issue reported. Fix would be released in [S187](https://github.com/Azure/azure-cli/milestone/105). Post release please file a new issue if this is still a problem.

[2021-05-11 11:20] Kotasudhakarreddy commented on #18033
Assigning to static web apps team to triage & fix. Thanks @anthonychu , @miwebst

[2021-05-11 11:22] lambohamp opened #18038 "az graph query --query "data.[0].subscriptionId" doesn't return subscription ID"
**Describe the bug**
`az graph query -q "where type =~ 'Microsoft.ContainerService/managedClusters' and name == '$aks_name'" --query "data.[0].subscriptionId"` returns the error:
[code]

**To Reproduce**
Run `az graph query -q "where type =~ 'Microsoft.ContainerService/managedClusters' and name == '$aks_name'" --query "data.[0].subscriptionId"` replacing `$aks_name` with an existing AKS name.

**E

[2021-05-11 11:38] yonzhan commented on #18038
route to service team

[2021-05-11 11:51] kolendomichal commented on #16661
@apawast  @gzuber bump

[2021-05-11 13:37] MehaKaushik commented on #17957
I understand your point, this is very valuable feedback. I will work with my team to see how and when can we can support this.
Unfortunately, I do not have any temporary workaround.

For scripting against local emulator you can use our data plane sdk. You can use the sdk here: https://docs.microsoft.com/en-us/azure/cosmos-db/sql-api-sdk-dotnet-standard

or the REST APIs defined here: https://docs.

[2021-05-11 13:55] rajanchaubey opened #18039 "If resource group of application gateway and nic is not same then this cli command does not work. any other solution to handle case when resource group is different?"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 14aebf6f-e419-ed83-e60e-00cd511d5eb8
* Version Independent ID: d75451d9-e39a-d239-b864-b0fab210e61a
* Content: [az network nic ip-config address-pool](https://docs.microsoft.com/en-us/cli/azure/network/nic/ip-config/address-pool?view=azure-cli-latest)

[2021-05-11 14:46] Kotasudhakarreddy commented on #17952
closing due to lack of response. Please file a new issue if this is still a problem.

[2021-05-11 14:49] DavidBoike commented on #14137
CosmosDB commands take quite a while. Rather than just the stored procedure update, it would be nice if --no-wait was supported across the board. In my testing for our CI with GitHub Actions, creating a Cosmos DB account can take a couple minutes, and tearing one down can take 7-8. And on the teardown, all I really want to know is "it will happen" - I really don't care to stick around until it's d

[2021-05-11 15:33] jcrubrik opened #18040 "az disk create with --os-type doesn't actually create an OS disk"
**Describe the bug**

Create a disk with `--os-type` from az cli doesn't create a OS disk. For example,
`az disk create --os-type Linux --hyper-v-generation v1 -g $RG -n $DN --zone 1 --source $BLOB `
where $RG is the resource group, $DN is the name of disk, $BLOB is the URL to the page blob in container.

The above command does create a disk, but not OS disk as you can't create a VM from the disk.

[2021-05-11 17:49] danielsollondon opened #18041 "az storage blob generate-sas Permission Errors"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I keep receiving permissions errors when I have contributor rights at the sub level.

**Command Name**
`az storage blob generate-sas`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-re

[2021-05-11 19:10] #17957 closed

[2021-05-11 21:44] mciancia8 opened #18042 ""az storage table exists" outputs error when table does not exist"
I am using version
{
  "azure-cli": "2.23.0",
  "azure-cli-core": "2.23.0",
  "azure-cli-telemetry": "1.0.6",
  "extensions": {
    "azure-devops": "0.18.0",
    "databricks": "0.7.0",
    "storage-preview": "0.4.0"
  }
}

and when I run the following command in powershell, it outputs an error:

Command:
az storage table exists --name "xxxx" --account-name "xxxxxx"

Output:
Client-Request-ID=f58b5

[2021-05-11 21:53] avlind opened #18044 ""az vm image terms accept" failure in AzureUSGovernment soverign cloud when using --urn to identify image"
**Describe the bug**
When connected with to Azure Government using `az cli` when I go to accept the terms of a Marketplace image with `az vm image terms accept --urn {your image urn}` it throws the below error:

**To Reproduce**
1. Log into Azure Government
2. Launch a new Cloud Shell session
3. Run the following command: ` az vm image terms accept --urn cisco:cisco-csr-1000v:16_10-payg-sec:16.10.

[2021-05-11 23:48] yonzhan commented on #18039
network

[2021-05-11 23:53] yonzhan commented on #18041
storage

[2021-05-11 23:58] yonzhan commented on #18042
storage

[2021-05-12 00:21] btardif commented on #15415
@panchagnula this issue looks stale, we should close cc: @ThejaChoudary

[2021-05-12 00:24] btardif commented on #15240
@panchagnula  This issue is stale and should be closed  cc: @ThejaChoudary

[2021-05-12 02:09] #15240 closed

[2021-05-12 02:10] #15415 closed

[2021-05-12 02:22] jiasli commented on #10426
I am using Chrome for development and daily usage. As far as I know, Chrome by itself doesn't do the redirection by default. Some extensions or policies might turn that on.

Because it is not possible to make HTTPS work on `localhost` without trusting a self-signed certificate. In other words, it is not possible to get a public HTTPS certificate for `localhost`. Redirecting `http://localhost` to `

[2021-05-12 02:50] aressler38 commented on #17792
In the meanwhile the [az rest](https://docs.microsoft.com/en-us/azure/static-web-apps/application-settings) utility works, and it doesn't have a problem with equal signs. You have to create a json file and invoke the command like this.

    az rest --method put --headers "Content-Type=application/json" \
        --uri "/subscriptions/<YOUR_SUBSCRIPTION_ID>/resourceGroups/<YOUR_RESOURCE_GROUP_NAME>

[2021-05-12 03:21] frehnejc commented on #15010
This also happens in the Portal the error is:
![image](https://user-images.githubusercontent.com/26272784/117913591-34b61c80-b314-11eb-9573-f91835f06267.png)

[2021-05-12 03:28] #17950 closed

[2021-05-12 03:46] jiasli commented on #17529
Judging from the debug log, it looks like your user name `EXT$DE~1.AD` is corrupting `pip` and causing problem:

[code]

On my machine it looks like

[code]

Is it possible to use a user name that only consists of `[a-zA-Z0-9]` and try again?

[2021-05-12 03:50] Juliehzl commented on #18041
resolved with guidance in https://docs.microsoft.com/en-us/rest/api/storageservices/create-user-delegation-sas#assign-permissions-with-rbac.

[2021-05-12 03:50] #18041 closed

[2021-05-12 04:58] hejingkan2005 commented on #15800
Hi team,

I'm having the same issue that az functionapp update does not support updating httpsonly for slot. Any update on this?

Version              Name                                Repository           Description
-------              ----                                ----------           -----------
2.0.0                Az.Functions                        PSGallery            Microsoft Az

[2021-05-12 05:12] xfz11 commented on #17574
@kangsun-ctrl I'm not sure what you mean by design the command to be 'share list --scope'. It seems that the command will share a list within the scope. But in fact, you just want to list the galleries instead of sharing.
Your advice is still helpful, maybe we should reconsider the commands design to make it more consistent and approachable. But it would be risky to catch next CLI release.

[2021-05-12 06:03] fengzhou-msft commented on #17983
@bhagdave what was the error from option 1?

[2021-05-12 06:44] bhagdave commented on #17983
Sorry I dont recall the exact message and did not keep notes that included the error message.  I recall it was around the gpg for package signing.

[2021-05-12 07:22] Kotasudhakarreddy commented on #18014
@hbgaldino yes the issue is persists in `azure-cli 2.23.0`. Fix will be pushed in the next release   [S187](https://github.com/Azure/azure-cli/milestone/105)( will be released on 05/25/2021)

[2021-05-12 07:56] makokui commented on #16661
Hello @kolendomichal @apawast @gzuber
This issue seems to be resolved with latest version. I am not sure whether it was fixed explicitly or if it was fixed by another fix.  was able to reproduce the same error in Azure CLI 2.22, which may have been improved in a recent update.
Can you confirm it?

az version
{
  "azure-cli": "2.23.0",
  "azure-cli-core": "2.23.0",
  "azure-cli-telemetry": "1.0.6",

[2021-05-12 08:16] #16611 closed

[2021-05-12 09:40] yungezz commented on #18021
route to appropriate team

[2021-05-12 09:42] yungezz commented on #18044
seems caused by reosurce API version upgrading.

[2021-05-12 09:43] yungezz commented on #18040
hi @qwordy, is this by design behavior?

[2021-05-12 09:55] kolendomichal commented on #16661
Yes, you are right. Thank you for that.
The issue seems to be resolved, I am closing it.

[2021-05-12 09:55] #16661 closed

[2021-05-12 10:10] siluok3 commented on #4618
In my case after logging in with `az login --allow-no-subscriptions` I was able to log in successfully and see my users details with `az account list`

[2021-05-12 11:35] #4618 closed

[2021-05-12 12:03] Kotasudhakarreddy commented on #17034
@papa-pa I am unable to repro this issue. Try with latest `CLI version 2.23.0`.If you still face the issue  please share the `--debug` log to analyze further.

[2021-05-12 12:10] Kotasudhakarreddy commented on #16954
@Jason1269 issue is resolved post you try by uninstalling  webapp extension. It should be resolved if you try by uninstall the extension & re-try.
`az extension remove --name webbapp`

[2021-05-12 13:46] nicolas-martin-dte commented on #13613
About a year later and I'm still getting this error. Get on it!

This was my last hope to get around an idiotic Key Vault circular reference in my ARM template. I need to create the APIM resource with custom host names where certs are sourced from Key Vault, but Key Vault needs access policy to the APIM instance's Managed Identity. My attempt to circumvent was Azure CLI to create the APIM instance

[2021-05-12 14:10] dano0b opened #18049 "keyvault hsm backup fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

My user got HSM Admin permissions, I tried to give further permissions. I tried the empty HSM and with multiple created Keys.

HSM is initialized following: https://docs.microsoft.com/en-us/azure/key-vault/managed-hsm/quick-create-cli

**Command Name**
`az keyvault backup start`

**Errors:**
[code]

more detai

[2021-05-12 14:30] cliftonz1 opened #18050 "--subject does not work with AD groups that are not in Azure Devops"
I am currently trying to add a newly created group to a repository in Azure Devops. The only way I have found to add a new group is to go in and manually add the group somewhere else. Only then is a subject Descriptor generated for the group for me to add it to the repository. This takes away all automatable functionality of groups in azure devops from us.

This is a large limitation and something

[2021-05-12 14:50] yonzhan commented on #18050
route to service team

[2021-05-12 15:39] jcrubrik commented on #18040
Base on https://docs.microsoft.com/en-us/cli/azure/disk?view=azure-cli-latest#az_disk_create

[2021-05-12 16:39] JordanRBG opened #18052 "az devops service-endpoint does not list all endpoints"
When running the below command, it does not return all service connection types. A specific example I have is:

![image](https://user-images.githubusercontent.com/37841077/118011730-4addd000-b348-11eb-8d00-500af05e5a91.png)

However the number of endpoints in the project is far greater; specifically Kubernetes service connections are not displayed:

![image](https://user-images.githubusercontent.c

[2021-05-12 16:47] JordanRBG opened #18053 "az devops service-endpoint update --enable-for-all does not work with Kubernetes service connections"
When running the below command, it fails to update the service connection. In this case, it is a Kubernetes service connection:

![image](https://user-images.githubusercontent.com/37841077/118013114-ab214180-b349-11eb-868f-c38c5a6cc650.png)

The service connection still has the 'Grant access permission to all pipelines' checkbox disabled; any ideas on how to get this working?

![image](https://use

[2021-05-12 18:03] rajdhandus opened #18055 "Dynamic extension install not working as advertised in 2.16"
**Describe the bug**

az cli dynamic install should work and install uninstalled extensions on first command run; but it does not.

**To Reproduce**

- install az cli 2.16
- Run `az aks pod-identity add`

**Expected behavior**

shoulnd't be prompted for extension install

**Environment summary**

**Additional context**

[code]

[2021-05-12 18:34] cliftonz1 commented on #18050
Thank you! I do want to specify that if I want to add a ad group to a repository. I must also do the following things first to be able to add it to the repository:
1. Add the AD group to the collections 'Security Service Group'
2. Add the AD group to the projects 'readers' group

I believe that these steps should not be required and cause a lot of headache. If anything when a group is added at the

[2021-05-12 19:48] slapointe commented on #8016
It's been more than a year.

any update?

[2021-05-12 19:54] kenieva commented on #8016
Documentation on this can be found here: https://docs.microsoft.com/en-us/cli/azure/policy/state?view=azure-cli-latest#az_policy_state_trigger_scan

[2021-05-12 19:57] MarkAtAgilliance commented on #17961
this is getting tedious.  I think it will be quicker to move off CLI and back to azure powershell cmdlets until it can stabilize this extension.

[2021-05-12 20:00] slapointe commented on #8016
Thank you. I totally missed this.

[2021-05-12 22:28] yonzhan commented on #18052
route to service team

[2021-05-12 22:28] yonzhan commented on #18053
route to service team

[2021-05-13 00:48] j-so commented on #17588
@nkadochn I have forwarded this issue to the appropriate team, and they are tracking it.

In the meantime, you could try using az version 2.19.1. This seems to be an issue only with az version >=2.20.0.

[2021-05-13 02:29] jiasli commented on #17961
According to the callstack, CLI fails at:

https://github.com/Azure/azure-cli/blob/3d14ca21e648f4fc0124132a43156a85a50251cd/src/azure-cli-core/azure/cli/core/extension/operations.py#L84

Per the document of [`shutil.rmtree`](https://docs.python.org/3/library/shutil.html#shutil.rmtree), it is designed to delete non-empty folders.

The error `OSError: [WinError 145] The directory is not empty` is ra

[2021-05-13 03:22] northtyphoon commented on #17871
@arroyc can you take a look? Thanks.

[2021-05-13 03:45] Juliehzl commented on #17795
Add batch test to refine
https://github.com/Azure/azure-cli/blob/2f75074f6961162d1136f8b509468946f28c4f3f/src/azure-cli/azure/cli/command_modules/batch/tests/latest/test_batch_mgmt_commands.py#L39-L43

[2021-05-13 04:49] code-iku opened #18060 "Practice Exercise- setup.sh is failing in learning module 'Create a new API in API Management from a function app' under az-204 online learning"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
**Description: **
 While going through the [Module](https://docs.microsoft.com/en-us/learn/modules/build-serverless-api-with-functions-api-management/) and [Practice Exercise](https://docs.microsoft.com/en-us/learn/modules/build-serverless-api-with-functions-api-management/3-exercise-import-function-app-api-man

[2021-05-13 05:09] kairu-ms commented on #17891
@yanivlavi I get an error from new-version api that "(BadRequest) Alert rule payload cannot be empty". What does this mean?

[2021-05-13 06:18] yonzhan commented on #18060
route to service team

[2021-05-13 07:29] #17920 closed

[2021-05-13 07:43] petenorth commented on #15205
Any update on this?

The CLI command seems to match the Powershell API all except for API versions

https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/import-azapimanagementapi?view=azps-5.9.0

Example 5 is the use case that the CLI doesn't support

https://docs.microsoft.com/en-us/powershell/module/az.apimanagement/import-azapimanagementapi?view=azps-5.9.0#example-5---import-an-a

[2021-05-13 08:15] jiasli commented on #18055
@rajdhandus, I tested but couldn't repro. The extension `aks-preview` is installed correctly.

[code]

Could you upgrade Azure CLI to the latest version and share the result of `az aks pod-identity add --debug`?

[2021-05-13 08:21] jiasli commented on #18036
This is the designed behavior because `az logout` removes both

- token cache file `~/.azure/accessTokens.json`
- profile file `~/.azure/azureProfile.json`

`az login` simply selects the first `enabled` subscription returned by [Subscriptions - List](https://docs.microsoft.com/en-us/rest/api/resources/subscriptions/list) REST API.

Also, there is no [Azure REST API](https://docs.microsoft.com/en-u

[2021-05-13 08:23] qwordy commented on #16772
@dbradish-microsoft You created a VM and then created it again, so it is treated as update operation. Please delete the VM and run correct command at the first time.

[2021-05-13 08:24] #16772 closed

[2021-05-13 08:25] jiasli commented on #17308
Please use `--assignee-object-id` which is exactly designed to bypass the Graph API query.

[code]

[2021-05-13 08:25] #17308 closed

[2021-05-13 08:31] jiasli commented on #16288
As we currently don't have bandwidth maintaining `az ad` which still uses the deprecated Azure Active Directory Graph, please consider using `az rest` to call Microsoft Graph directly. (#12946)

[2021-05-13 08:31] #16288 closed

[2021-05-13 08:32] jiasli commented on #16354
Please provide more information about the failure.

[2021-05-13 08:34] jiasli commented on #16411
You can log an issue at Azure CLI GitHub Repository and we will assist you in resolving it.'>

This message is shown in the web browser. Could you share the error message in the terminal as well?

[2021-05-13 08:38] jiasli commented on #16334
`az config set` is designed as a util to modify `~/.azure/config`, same as editing it manually with a text editor. Currently there is not check on the config option name.

`az configure --defaults` is deprecated, please use `az config set defaults.group=xxx`. Meanwhile, the correct command to change selected subscription is another command `az account set --subscription xxx`.

[2021-05-13 08:42] jiasli commented on #16529
`OSError: [Errno 5] Input/output error` indicates your file system is corrupted. Please try deleting it with

[code]
If the file can't be deleted, you may use `fsck` to check for bad sectors. See https://askubuntu.com/questions/65830/errno-5-input-output-error-when-trying-to-install-ubuntu

[2021-05-13 08:42] #16529 closed

[2021-05-13 08:49] #16841 closed

[2021-05-13 08:52] jiasli commented on #17962
This is because Azure CLI doesn't support concurrent execution. Please see https://github.com/Azure/azure-cli/issues/9427#issuecomment-605786475 for a workaround.

[2021-05-13 08:53] #17962 closed

[2021-05-13 09:17] qwordy opened #18066 "Use `PATCH` to update VM"
**Is your feature request related to a problem? Please describe.**

Use `PATCH` to update VM. Command is `az vm disk detach`. It also happens on `az vm update`. Current implementation is `GET` then `PUT`.

Original words in IcM:

We are unable to detach and attach data disk and OS disks on some VMs using azure cli (latest) and Powershell.

This is the command we run:

az vm disk detach --vm-name x

[2021-05-13 09:19] jiasli commented on #15260
The document is correct: `--member-id` should be the object ID of the Service Principal.

![image](https://user-images.githubusercontent.com/4003950/118105603-2b5daa80-b40f-11eb-9b5c-6ed37d2491cb.png)

[code]

Using application ID causes failure:

[code]

[2021-05-13 09:19] #15260 closed

[2021-05-13 11:28] balbany commented on #6310
Thanks @divgo - I was tearing my hair out with the undocumented bug with the linux build agent (can't do --pattern *).

[2021-05-13 11:49] yungezz commented on #18049
hi @houk-ms, could you have a look?

[2021-05-13 11:57] yungezz commented on #17197
hi @da0ist is this still an issue for you? could you pls follow above trouble shooting guide from @fengzhou-msft ? thanks

[2021-05-13 12:34] yanivlavi commented on #17891
@avjerafi Can you help here?

[2021-05-13 12:58] avjerafi commented on #17891
@kairu-ms This looks like the result of an unexpected parsing failure of some kind. Can you please share the body of the request?

[2021-05-13 13:31] mathsnunes opened #18069 "Failed to add a vnet-integration to slot with az cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp vnet-integration add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az webapp vnet-integration add -g {} -n {} --vnet {} --subnet {} -s {}`

## Expected Behavior

A

[2021-05-13 13:51] real-oneill opened #18070 ""az functionapp keys list" command does not accept --query parameter"
'--query-example' and '--query' parameters are being ignored when executing the 'az functionapp keys list' command. I tried wrapping in double quotes and using several JMESPath expressions but the output is always the same.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4246edfd-394e-4d61-360b-b95173159995
* Version In

[2021-05-13 14:37] CReich02 opened #18072 "'az functionapp deployment slot create' command error"
**Describe the bug**
When trying to create a deployment slot using the az cli command 'az functionapp deployment slot create' there is an error using the newest version of azure-cli. It works when running version 2.20.0. This is impacting production deployments since it looks like Azure Devops Pipelines have upgraded to use the new azure-cli.

**To Reproduce**
Install azure-cli version 2.23.0
run

[2021-05-13 14:55] Json2CSharp opened #18073 "az webapp log tail not working at all"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
1 - Create any dot net core web app
2 - Publish any dotnet core web app from visual studio
3 - try to run `az webapp log tail`

**Command Name**
`az webapp log tail`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive

[2021-05-13 14:57] Json2CSharp commented on #18020
i did the same, i created a web app and app service plan and tried to run the command but still give the error above

[2021-05-13 15:49] abdulrm opened #18074 "webapp: New Az CLI Version "2.23.0" is failing to create "az appservice domain""
{
**"azure-cli": "2.23.0",**
"azure-cli-core": "2.23.0",
"azure-cli-telemetry": "1.0.6",
"extensions":
{
"ai-examples": "0.2.5",
"ssh": "0.1.5"
 }
 }

**Describe the bug**

The new CLI version "2.23.0" is failing to create new app service domain using the CLI command as described in this article: https://docs.microsoft.com/en-us/cli/azure/appservice/domain?view=azure-cli-latest#az_appservice_domai

[2021-05-13 15:57] therealradler opened #18075 "webapp:az webapp config hostname add fails"
### **This is autogenerated. Please review and update as needed.**

az webapp config hostname add fails with
`Unable to build a model: Unable to deserialize to object: type, AttributeError: 'str' object has no attribute 'get', DeserializationError: Unable to deserialize to object: type, AttributeError: 'str' object has no attribute 'get'`

**Command Name**
`az webapp config hostname add`

**Errors

[2021-05-13 16:05] jakeatmsft opened #18076 "Error in Azure CLI version 1.28"
### **This is autogenerated. Please review and update as needed.**

Error when trying to list models using Azure ML CLI version 1.28

**Command Name**
`az ml model list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ml model list`

## Expe

[2021-05-13 17:35] jackhorton opened #18077 "`az functionapp identity assign` throws "'NoneType' object is not callable" when assigning a user-assigned identity"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp identity assign`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp identity assign --subscription {} --resour

[2021-05-13 18:11] jackhorton commented on #18077
I have confirmed that this is a regression in 2.23.0, I can't repro in the 2.22.1 docker container

[2021-05-13 18:30] whephner commented on #18077
We are seeing this in az webapp identity as well. and it does work in 2.22.1 as well.

[2021-05-13 18:43] TeamDman opened #18078 "Tag update command not escaping resource id when it contains parentheses"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**

[code]

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Find a resource with a paren in the resourceId
- Try and use the `az tag update` command on the resource

## Expected Behav

[2021-05-13 18:47] dapolloxp opened #18079 "azure storage private end-point not accepting resource-id"
**Describe the bug**

When trying to create a private endpoint for storaging, using the resourceid, I get an error saying that I need either subnet ID or --subnet name and --vnet-name.

Example:

az network private-endpoint create -g storage-dr -n pe-test --connection-name test --private-connection-resource-id "/subscriptions/xxxxxxxxxxx/resourceGroups/storage-dr/providers/Microsoft.Storage/storag

[2021-05-13 18:48] vivek-bsn opened #18080 "Unable to create a deployment slot in Azure function in CLI 2.23.0"
**Describe the bug**
The following command should create a deployment slot on the function app -

`az functionapp deployment slot create --name vb-func-test-1 --resource-group vb-func-apps --slot staging --configuration-source vb-func-test-1 `

Reference: https://docs.microsoft.com/en-us/cli/azure/functionapp/deployment/slot?view=azure-cli-latest#az_functionapp_deployment_slot_create

But when we

[2021-05-13 18:49] bramiller1989 opened #18081 "az webapp identity assign fails with `NoneType` object is not callable"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp identity assign`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp identity assign --name {} --resource-group {} --slot

[2021-05-13 19:19] panchagnula commented on #18077
This was reported on a previous version as well https://github.com/Azure/azure-cli/issues/17296

[2021-05-13 19:20] panchagnula commented on #18081
Possibly related to https://github.com/Azure/azure-cli/issues/17296

[2021-05-13 19:21] panchagnula commented on #17296
These commands were authored by Identity team so tagging them to look at this & help.

[2021-05-13 19:30] MarkAtAgilliance commented on #17961
Hi, Thanks for the update.
The scernario is that the this is a standard windows server VM in Azure being used as a self-hosted build server for Azure DevOps.  It has the devops agent, visual studio, AZ CLI and Powershell 7 installed.  The commands listed are those issued by the build script on Devops which are using a powershell task to call az CLI commands.

So in answer to your questions:

- sta

[2021-05-13 23:04] yonzhan commented on #18070
route to service team

[2021-05-13 23:06] yonzhan commented on #18072
route to service team

[2021-05-13 23:09] yonzhan commented on #18076
route to service team

[2021-05-13 23:10] yonzhan commented on #18078
ARM

[2021-05-13 23:15] yonzhan commented on #18080
route to service team

[2021-05-13 23:16] yonzhan commented on #18079
storage private link

[2021-05-14 00:36] yungezz commented on #18069
route to appropriate team

[2021-05-14 00:37] yungezz commented on #18073
route to appropriate team

[2021-05-14 00:37] yungezz commented on #18075
route to appropriate team

[2021-05-14 00:38] yungezz commented on #18077
#14287

[2021-05-14 00:38] yungezz commented on #18081
route to appropriate team

[2021-05-14 01:46] harneetvirk commented on #17604
To work with resources within a workspace, we need to switch from the general management.azure.com server to a REST API server specific to the location of the workspace which can be located from discoveryUrl key.
More details about the discoveryURL can be found here: https://docs.microsoft.com/azure/machine-learning/how-to-manage-rest

You can use service tags to define network access controls on

[2021-05-14 01:51] zhoxing-ms commented on #18078
@Grayer123 Could you please help to have a look at this issue~

[2021-05-14 02:32] Juliehzl commented on #18079
@msyyc please take a look for network command issue.

[2021-05-14 03:10] hyoshioka0128 opened #18086 "[LOC]Back-Translation "[実行]"→"run" (ja-jp)"
ja-jp:"https://docs.microsoft.com/ja-jp/cli/azure/ml/datastore?view=azure-cli-latest"
![ml_run_j](https://user-images.githubusercontent.com/40815708/118215849-58609a80-b4ad-11eb-89a1-66025d0e82a5.png)

en-us:"https://docs.microsoft.com/en-us/cli/azure/ml/datastore?view=azure-cli-latest"
![ml_run_e](https://user-images.githubusercontent.com/40815708/118215843-55fe4080-b4ad-11eb-9ebb-02673bae5879.pn

[2021-05-14 04:01] bramiller1989 commented on #18081
Thanks

[2021-05-14 04:51] kairu-ms commented on #17891
@avjerafi I created a VM and tried to create a scheduled query for it. Below is the body of request.

[code]

[2021-05-14 04:52] yonzhan commented on #18086
route to service team

[2021-05-14 09:51] arroyc commented on #17871
released the image with updated pack tool. Please try and let me know if you find any problems

[2021-05-14 10:56] eversleep commented on #18080
We have the same issue, command that worked with both 2.19.1 and 2.22.1 stopped working when updating the cli to 2.23.0.
After the update we get the same message as the author both in devops and locally.

[2021-05-14 10:57] freedev commented on #18014
Hi, waiting for the next release is there any valuable alternative to az webapp log tail  ?

[2021-05-14 11:48] the1bit opened #18093 "az aks nodepool add does not work"
**Resource Provider**
AKS

**Description of Feature or Work Requested**

I would like add a spot node pool to an Azure Kubernetes Service (AKS) cluster according to the following documentation: https://docs.microsoft.com/en-us/azure/aks/spot-node-pool

When I want to execute the related command it doesn't accept the name parameter.

- **Scenario 1** --name:

[code]
Error message:

[code]

- **Scen

[2021-05-14 13:31] Kotasudhakarreddy commented on #18014
@freedev  It is a breaking change in CLI release `2.23.0`. To unblock your current work, you can downgrade to CLI `2.22.0` or below. It should work.

[2021-05-14 13:48] leakkari opened #18094 "Add the ability to turn on storage analytics to account creation command"
**Resource Provider**
Storage

**Description of Feature or Work Requested**

Problem:
About 30 to 40 cases per month are getting closed and resulting in DSAT because they don't get resolved. This is due to the customer having storage analytics disabled. These logs are needed for troubleshooting. The customer is then told to enable storage analytics to avoid this problem in the future.

Ask:
When c

[2021-05-14 14:34] dbradish-microsoft commented on #16334
@jiasli, The following article, [Manage Azure subscriptions with the Azure CLI](https://docs.microsoft.com/en-us/cli/azure/manage-azure-subscriptions-azure-cli?view=azure-cli-latest) was published to address the config confusion,   I am not confident that `az configure --defaults` has been removed from all docs, but I'll create a work item and take a look.

[2021-05-14 14:55] yonzhan commented on #18094
Storage

[2021-05-14 15:22] cannehag opened #18095 "Exception when updated to version 2.23.0"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment slot create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment slot create -n {} -g {}

[2021-05-14 15:29] cannehag commented on #18080
I have the exact same problem both locally and in DevOps.

This is really urgent because we can't deploy our services to our production environment because of this. And from what I can tell there is no way around it either since it's not possible to specify what version of the cli to use.

[2021-05-14 15:37] vivekbsn-msft commented on #18080
We were able to get around the issue by downgrading Azure CLI to 2.22.0 using a YAML script. This worked out for us -

[code]

Reference - https://docs.microsoft.com/en-us/azure/devops/cli/azure-devops-cli-in-yaml?view=azure-devops#for-windows-azure-pipelines-steps-winyml

[2021-05-14 16:25] lazarillo commented on #18036
So, @jiasli , are you saying that the following are true:

- There is no way to specify a default subscription that persists as I would wish (beyond `az logout`).
- There is no interest or effort within the MS / Azure team to address this so that the default subscription can persist.

It is not *the biggest* issue I have, needing to set this every time I work with `az`, but I would say that defaul

[2021-05-14 17:08] arjunjs-oops opened #18096 "Azure app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp`

## Expected Behavior

## Environment Summary
[code]
## Additional

[2021-05-14 17:56] grtn316 commented on #16635
@qwordy I agree with your thoughts. I suspect a majority of users would want it "enabled" by default and should explicitly disable it if its not needed.

[2021-05-14 18:00] grtn316 commented on #16713
@Kotasudhakarreddy Any updates here?

[2021-05-14 19:22] swathiJayav commented on #18095
We are seeing this as well once azure-cli was upgraded in Ubuntu 21.04.

[2021-05-14 20:26] MudassarAbdul opened #18097 "Bug with vm deployment"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az vm create --resource-group {} --name {} --image {} --admin-username {} -

[2021-05-14 20:39] bbaassssiiee commented on #11239
ansible[azure] 2.9.20 depends on azure-cli-core==2.0.35; extra == "azure"

Too many moving parts lately, ansible 2.9 is finally stable.

[2021-05-14 21:11] james-flynn-ie commented on #18097
Hi @MudassarAbdul , you may need to create the resource group first if it doesn't already exist.

[2021-05-14 21:13] MudassarAbdul commented on #18097
Thanks , I created it and was able to resolve the problem .

Thanks for your response ,please close the case as resolved.

From: James Flynn ***@***.***>
Sent: Friday, May 14, 2021 5:12 PM
To: Azure/azure-cli ***@***.***>
Cc: Mudassar Abdul ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] Bug with vm deployment (#18097)

[External email]

Hi @MudassarAbdul<https://protect2.fireeye

[2021-05-14 23:09] CReich02 commented on #18080
This is the same bug that I reported in https://github.com/Azure/azure-cli/issues/18072 . It looks like there are various other issues with version 2.23.0 that have a very similar stack trace in the error message.

Thanks for the workaround, this seems to work for now.

[2021-05-14 23:42] yonzhan commented on #18095
route to service team

[2021-05-15 02:41] smokedlinq commented on #11457
FYI, using the latest api-version (2021-04-01) with the same payload works, if the CLI command gets updated to that then this should just work as intended. For now, I'm using the `az rest` command.

[2021-05-15 06:47] freedev commented on #18014
@Kotasudhakarreddy thanks for the suggestion. I have macos, and with `brew` it seems is not possibile install an older version of `azure-cli`... I'll update the thread if I find one.

[2021-05-15 07:09] freedev commented on #13331
The HOMEBREW way does not work. For example trying to install an older version returns this:

[code]

[2021-05-15 07:09] freedev commented on #18014
Update - I found this suggestion https://github.com/Azure/azure-cli/issues/13331 but trying to install the 2.22.0 I found this:

[code]

[2021-05-15 15:35] santhoshbomma9 commented on #6023
Hi @tjprescott , how do we inline? which flag helps pass the manifest json as inline?

[2021-05-15 16:16] pragnagopa opened #18099 "[Functions][Stacks] Support hidden stacks"
Related https://github.com/Azure/azure-cli/issues/17558

Please note that currently Powershell stack on Linux is marked as Hidden - https://github.com/Azure/azure-functions-ux/blob/42fba774382c6f72b76e65f428a36189f46abbdc/server/src/stacks/2020-10-01/stacks/function-app-stacks/Powershell.ts#L40

This is a feature request to allow creating stacks marked as Hidden only if user requests by passing an

[2021-05-16 01:15] yonzhan commented on #18099
route to service team

[2021-05-16 01:18] yonzhan commented on #17558
route to service team

[2021-05-16 06:59] avjerafi commented on #17891
@kairu-ms The error is caused by the Severity value being provided as a float instead of as an integer.
Please use:
`      "severity":2,`
instead of:
`      "severity":2.0,`

@yanivlavi We should have validated the datatype and returned a specific validation error. I've opened a ticket for this.

[2021-05-16 07:19] mercer opened #18100 "Az aks create --yes no longer works"
--yes is present in [docs](https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az_aks_create)

![image](https://user-images.githubusercontent.com/95358/118434811-60efe580-b6e6-11eb-8dfa-37ddd53de1e1.png)

But it does not work.

[code]

[code]

[2021-05-16 07:26] mercer opened #18101 "az aks create --zones is confusing"
# TLDR

1. Please clarify `--zones` option with a better explanation
2. Please provide an example usage

# How does it work?

How is --zones supposed to work to get all 3 availability zones in a region with az?

1. is it `--zones 3`? (no, you only get zone 3)
2. is it `--zones 1,2,3`?  (no, does not work)
3. is it `--zones 123`?  (no, does not work)
4. is it `--zones 1 2 3`?  (no, does not work)
5

[2021-05-16 19:01] qwordy opened #18102 "Live test regression"
This issue is created by a program.
[Latest testing results of Azure CLI](https://clitestresultstac.blob.core.windows.net/latest/index.html)
[User Manual of Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EZGC9LwrN3RAscVS5ylG4HMBX9h7W0ZSA7CDrhXN5Lvx6g?e=V8HUmd)
[Upgrading API Versions in Azure CLI Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EcgPLHSkef9Mi14Rj

[2021-05-16 23:21] yonzhan commented on #18102
@kairu-ms for awareness

[2021-05-17 01:49] jiasli commented on #6023
@santhoshbomma9, you may check the sample with

[code]

If you want to make it inline, you may use

[code]

But notice that [quoting rules](https://docs.microsoft.com/en-us/cli/azure/use-cli-effectively#using-quotation-marks-in-values) apply.

You may also directly call Microsoft Graph API with `az rest`. See https://github.com/Azure/azure-cli/issues/12946.

[2021-05-17 01:52] yungezz commented on #18093
route to appropriate team

[2021-05-17 01:52] yungezz commented on #18096
route to appropriate team

[2021-05-17 01:53] #18097 closed

[2021-05-17 01:53] jiasli commented on #11239
@bbaassssiiee, are you seeing any issue with Azure CLI? If it is related to ansible, could you open an issue at https://github.com/ansible/ansible/issues?

[2021-05-17 01:53] yungezz commented on #18100
route to appropriate team

[2021-05-17 01:53] yungezz commented on #18101
route to appropriate team

[2021-05-17 02:04] jiasli commented on #18036
Exactly, `az account set --subscription` persists the subscription in `~/.azure/azureProfile.json` by setting `"isDefault": true` so that you don't need to specify `--subscription` for every `az` command. The default subscription is also persisted when you close and reopen the terminal.

If I understand correct, what you want is to persist the subscription even after `az logout` and `az login`. Th

[2021-05-17 02:38] jiasli opened #18103 "`az extension add` doesn't delete the temporary folder after it succeeds"
**Describe the bug**

`az extension add` doesn't delete the temporary folder after it succeeds.

**To Reproduce**
[code]

The temporary folder and `whl` file still exists at `C:\Users\username\AppData\Local\Temp\tmpxxxxxxxx\application_insights-0.1.13-py2.py3-none-any.whl`

**Expected behavior**

The temporary folder and `whl` file should be deleted, even though it doesn't cause any negative effec

[2021-05-17 02:44] jiasli commented on #17961
As far as I know, there is no such async process being called that interferes with `az`. `az` is simply a `python.exe` invocation on Windows.

`az extension add` not deleting the `application_insights-0.1.13-py2.py3-none-any.whl` temporary directory is a known issue (#18103).

`az extension add` only deletes another temporary directory for extracted data:

https://github.com/Azure/azure-cli/blob/9

[2021-05-17 02:57] yonzhan commented on #18103
extension

[2021-05-17 06:03] bbaassssiiee commented on #11239
There will be no bugfixes on Ansible 2.9, only security-fixes. Workaround is to use python37 for Azure.

[2021-05-17 07:09] qwordy commented on #16635
This issue will be taken over by @Juliehzl

[2021-05-17 07:59] lazarillo commented on #18036
Hi @jiasli , yes, you understood me correctly:  I would like for metadata to persist - at least locally on my machine - beyond `az logout`.  Current behavior is in fact persisting information right now:  it persists the "decision" to choose the first subscription listed in my account alphabetically.

Regardless, I understand your point that it makes `az` overly complex; I will create an `az` alias

[2021-05-17 08:06] lazarillo commented on #18036
Oops, I forgot to close the issue with my last comment.  😉

[2021-05-17 08:06] #18036 closed

[2021-05-17 09:24] #17708 closed

[2021-05-17 09:58] tiarnaigh opened #18105 "az network vhub get-effective-routes --resource-type RouteTable to support "-o table" output"
**Is your feature request related to a problem? Please describe.**

When running below, json output only is returned by default, yet the "-o table" switch is still accepted as valid input and then returns no routes at all, which is quite misleading:

# Below returns expected effective routes in route table:
az network vhub get-effective-routes --resource-type RouteTable  --resource-id /sub........

[2021-05-17 10:05] yonzhan commented on #18105
network

[2021-05-17 14:02] eggboy commented on #17871
I have tried and it works just fine. Thanks.

[2021-05-17 14:11] gmlion opened #18106 "az webapp up does not build code on ASP.NET 3.1"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Using az webapp up to deploy code from a local workspace correctly recognizes runtime DOTNETCORE|3.1, but it merely uploads source code. No build is executed before or after, and as a result the web app doesn't work afterwards.
The only "working" part is the static wwwroot content from the project.

**Command N

[2021-05-17 14:17] #18106 closed

[2021-05-17 14:36] jakeatmsft commented on #18076
Issue was caused by version mismatch between azureml CLI and azureml sdk libraries.  Upgrading the azureml sdk in my conda environment fixed the issue.

[2021-05-17 14:36] #18076 closed

[2021-05-17 15:55] santhoshbomma9 commented on #6023
@jiasli  Doesn't seem to work tho, am I missing anything?
![image](https://user-images.githubusercontent.com/40445595/118518936-7fa5aa80-b6ed-11eb-838d-9fd7a7963a08.png)

[2021-05-17 16:05] adammpolak commented on #18073
I am having this same issue:

[code]

[2021-05-17 17:37] ashic opened #18108 "Where is the source code for azure-cli-ml?"
**Resource Provider**
Azure Machine Learning

I'm trying to find the source code for the azure-cli-ml extension. I couldn't find the source code in either this repository, or azure-cli-extensions. I'm essentially looking for implementation logic for the following two commands:

[code]

Is there somewhere I can look for this?

[2021-05-17 20:07] AvRajath opened #18109 "Create VM throwing error when trying to launch VM for Azure Stack"
Setup the Azure CLI using by following the link: https://docs.microsoft.com/en-us/azure-stack/user/azure-stack-version-profiles-azurecli2?view=azs-2008&tabs=ad-win

We have used the below parameters:
az cloud register `
-n user1 `
--endpoint-resource-manager 'https://management.region.fqdn' `
--suffix-storage-endpoint 'region.fqdn' `
--suffix-keyvault-dns '.vault.region.fqdn' `
--endpoint-active-d

[2021-05-17 23:19] santhoshbomma9 commented on #6023
landingPageApp=$(az rest --method POST --headers "Content-Type=application/json" --uri https://graph.microsoft.com/v1.0/applications --body '{"displayName": "LandingpageApp", "api":{"requestedAccessTokenVersion": 2}, "signInAudience" : "AzureADandPersonalMicrosoftAccount", "web": {"implicitGrantSettings": { "enableIdTokenIssuance": true }}, "requiredResourceAccess": [{"resourceAppId": "00000003-00

[2021-05-17 23:27] yonzhan commented on #18108
route to service team

[2021-05-17 23:29] yonzhan commented on #18109
Compute

[2021-05-18 01:15] yonzhan commented on #18028
@jiasli for awareness

[2021-05-18 01:33] yonzhan commented on #18066
VM

[2021-05-18 01:35] yonzhan commented on #18074
route to service team

[2021-05-18 01:53] jiasli commented on #6023
@santhoshbomma9, `--required-resource-accesses` should be followed by `'[{"resourceAppId": ...` instead of `{"signInAudience"...`. Glad to know `az rest` works for you.

[2021-05-18 02:58] 00Kai0 commented on #17373
@Saaman, I tried to remove this check and tested. But service API didn't allow this request.
[code]

[test script](https://github.com/00Kai0/azure-cli/blob/fix-issue-17373/src/azure-cli/azure/cli/command_modules/network/tests/latest/test_network_commands.py#L1344)
[custom.py](https://github.com/00Kai0/azure-cli/blob/fix-issue-17373/src/azure-cli/azure/cli/command_modules/network/custom.py#L1044)

[2021-05-18 03:14] xfz11 commented on #17574
Since it may confuse customers that list command contains a verb 'share', I'd like to change command
`az sig share image-definition list/show`, `az sig share image-version list/show`
to
`az sig shared-image-definition list/show`, `az sig shared-image-version list/show`
Then the commands would be more approachable.
@kangsun-ctrl @olayemio  What do you think of the changes?

[2021-05-18 03:16] mbactol3 commented on #7489
its almost 3 years later and this saved me.  Powershell az.keyvault does not grab the chain when you get the secret and turn it into a pfx.  `az keyvault secret download` does.  Its a work around and not ideal, but it unblocks me.  Thanks.

[2021-05-18 03:17] kangsun-ctrl commented on #17574
This is a good point. I like this idea since our backend resource is 'Gallery'/'SharedGallery'

[2021-05-18 03:26] Kotasudhakarreddy commented on #18073
#17988 this should fix the issue reported. Fix would be released in S187. Post release please file a new issue if this is still a problem.

[2021-05-18 03:26] #18073 closed

[2021-05-18 03:46] Kotasudhakarreddy commented on #18075
@therealradler Thanks for your feedback. I am able to repro this issue. Will work on the fix.

[2021-05-18 04:49] lostmygithubaccount commented on #18108
it is not open source and may not be publicly available. I believe you could probably find the source code in the Python package here: https://pypi.org/project/azureml-cli-common/

we are in the next week releasing the 2.0 CLI, which I'd recommend using instead - instructions can be found at https://github.com/Azure/azureml-previews if interested

[2021-05-18 05:44] DavidChenLiang opened #18112 "az storage account network-rule add throw error message: azure.core.exceptions.HttpResponseError: (InvalidValuesForRequestParameters) Values for request parameters are invalid: networkAcls.virtualNetworkRules[*].id. For more information, see - https://aka.ms/storagenetworkruleset"
[Enter feedback here]
Hi team,
I tried to run the following **az storage account** command from cloud shell it throws errors:

david@Azure:~$ **az storage account network-rule add --resource-group linuxfoundation  --account-name linuxfoundationdiag  --vnet-name /subscriptions/c9a1c7ee-1044-4570-a441-b46b091a8c34/resourceGroups/PerfInsights/providers/Microsoft.Network/virtualNetworks/PerfInsights-v

[2021-05-18 06:31] Juliehzl commented on #18109
Hi @AvRajath, could you provide debug information with `--debug` in your command? And may I know if the supported api version in your cloud env?

[2021-05-18 06:42] peterjvw opened #18114 "Can not create deployment slots for function apps"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment slot create`

**Errors:**
[code]

[2021-05-18 06:43] Juliehzl commented on #18112
Hi @DavidChenLiang, if you want to use resource id, please change your command to ` az storage account network-rule add --resource-group linuxfoundation --account-name linuxfoundationdiag --subnet /subscriptions/c9a1c7ee-1044-4570-a441-b46b091a8c34/resourceGroups/PerfInsights/providers/Microsoft.Network/virtualNetworks/PerfInsights-vnet/subnets/default --subscription c9a1c7ee-1044-4570-a441-b46b09

[2021-05-18 06:46] peterjvw commented on #18114
Sorry, duplicate of #18072

[2021-05-18 06:46] #18114 closed

[2021-05-18 06:54] cannehag commented on #18080
Could we please get some priority on this @yonzhan ?

[2021-05-18 07:09] cllyldrm opened #18115 "Downgrade python version on Azure Agent Pool"
**Resource Provider**
Azure CLI, Agent Pool

**Description of Feature or Work Requested**
With the latest Azure CLI release, looks like python version is upgraded from 3.6.8 to 3.8.9. The agent specification we use is vs2017-win2016. On the deployment pipeline, the agent was working properly and picking 3.6.8. Now It gets 3.8.9 which breaks our pipeline. We have been getting an error when we execu

[2021-05-18 07:13] roycornelissen opened #18116 "'NoneType' object is not callable error on az functionapp create with --assign-identity"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp create` with `--assign-identity` parameter provided.

Discovered that running e.g. `az webapp identity assign` ... or `az webapp identity remove` yields the same error. Anything related to user assigned identities seems to be broken, so it's not only `az functionapp` related.

[2021-05-18 07:26] yonzhan commented on #18080
functionapp service team should look into this issue

[2021-05-18 07:27] yonzhan commented on #18115
route to service team

[2021-05-18 07:28] yonzhan commented on #18116
route to service team

[2021-05-18 07:54] aim-for-better commented on #16815
Hi @qwordy Could you please remove our service's tag?

[2021-05-18 08:06] DavidChenLiang commented on #18112
@Juliehzl, thank you, the command with --subnet only works, the command with --subnet and --vnet-name still failed with following error:
david@Azure:~$ az storage account network-rule add --resource-group linuxfoundation --account-name linuxfoundationdiag --vnet-name PerfInsights-vnet --subnet default --subscription c9a1c7ee-1044-4570-a441-b46b091a8c34
(NetworkAclsValidationFailure) Validation of

[2021-05-18 08:51] Juliehzl commented on #18112
Oh. I just saw that your subnet and storage account are in different resource group. In this way, you only can use resource id in command.

[2021-05-18 08:52] #18112 closed

[2021-05-18 09:40] pranavkevadiya7 opened #18121 "Command Syntax error with --generic-configurations"
The example syntax for generic-configurations is wrong in the documentation.

**Current:**
`az webapp config set -g MyResourceGroup -n MyUniqueApp --generic-configurations "{"alwaysOn": true}"
`
**Proposed:**
`az webapp config set -g MyResourceGroup -n MyUniqueApp --generic-configurations "{\"alwaysOn\": true}"
`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-05-18 09:57] fouufi commented on #11871
I have the same issue, it works when i use the sdk3
var azureServiceTokenProvider = new AzureServiceTokenProvider();
                       var keyVaultClient = new KeyVaultClient(
                           new KeyVaultClient.AuthenticationCallback(
                               azureServiceTokenProvider.KeyVaultTokenCallback));
                       builder.AddAzureKeyVault(

[2021-05-18 10:04] yonzhan commented on #18121
route to service team

[2021-05-18 10:08] arminNadarevic commented on #18095
Do you have any update on this?
This must be treated as a critical error or is there a work around?
A good thing here would be that you can opt in to use the latest version of CLI and not forced to used when running azure devops task AzureCLI@2. If it could have an input where you can specify what version of the CLI you want to use then this is a minor problem but as of now I can not deploy functi

[2021-05-18 11:36] cowinr opened #18122 "Add access-restriction fails for subnet under different subscription to web app"
**Describe the bug**
When adding an access restriction to allow a subnet that resides under a different subscription than the web app, the command fails to find the subnet's resource group.

**To Reproduce**
Command that fails:
[code]
Fails with "(ResourceGroupNotFound) Resource group 'rg-networking' could not be found." when the VNet and it's resource group are in a different subscription to the

[2021-05-18 12:01] shreeshac opened #18123 "azure-cli create-slot command fails with latest cli version"
### **Deployments to slot are failing with latest azure-cli version.**

## Describe the bug

**Command Name**
`az functionapp deployment slot create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment slot create --slot {

[2021-05-18 12:08] shreeshac commented on #18123
Sorry, duplicate of #18072

[2021-05-18 12:08] #18123 closed

[2021-05-18 12:24] yonzhan commented on #18122
route to service team

[2021-05-18 12:25] cllyldrm commented on #18115
We figured out the problem, the ticket can be closed.

[2021-05-18 12:25] #18115 closed

[2021-05-18 12:30] AliKhyar commented on #7579
@yugangw-msft any update on this please?

[2021-05-18 12:39] sharebear opened #18124 "DeserializationError when trying to create deployment slot"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Our CI build started failing a few days ago due to the fact that the cli is unable to create new deployment slots. Creating via the portal appears to still work but this isn't very helpful for my CI pipeline to create a review-app.

**Command Name**
`az functionapp deployment slot create`

**Errors:**
[code]

[2021-05-18 12:41] vivekbsn-msft commented on #18080
@cannehag Hopefully all these issues are expected to get fixed in this release - https://github.com/Azure/azure-cli/milestone/105
If it is critical, you can give this workaround a shot - https://github.com/Azure/azure-cli/issues/18080#issuecomment-841320335

[2021-05-18 12:42] sharebear commented on #18124
Sorry I didn't find it earlier, but I seem to have registered a duplicate of #18095

[2021-05-18 12:45] cannehag commented on #18080
@vivekbsn-msft So, you are saying that you drop a new release that breaks things, and then tell people to wait for another release which is 79% __NOT__ completed? Isn't a bugfix release even considered here ?

[2021-05-18 12:57] vivekbsn-msft commented on #18080
@cannehag All these breaking changes are expected to get fixed in that release. I understand your concern, unfortunately the team I work for is also affected by this issue and we got the guidance to downgrade the cli version intermittently.

[2021-05-18 12:58] yonzhan commented on #18124
route to service team

[2021-05-18 13:03] cannehag commented on #18080
@vivekbsn-msft I really find it hard to understand that such a breaking change can be released if other teams inside Microsoft also are affected by it.
Not saying this is your fault. Just saying it's really annoying and frustrating when things break like this.

[2021-05-18 13:14] sharebear commented on #18080
The above workaround doesn't work for me as I'm using GitHub Actions with a self-hosted runner and installing the cli using the ubuntu package with unattended upgrades enabled for security reasons. This was my workaround that appears to be working so far;

[code]

I've also used the watch feature of GitHub to subscribe to release notifications so that I know when I can release the hold. Although I

[2021-05-18 13:41] mkunze8187 opened #18125 "az extension add failing with unexpected error"
I am randomly getting the following error from 'az extension add --name application-insights':

az : ERROR: The command failed with an unexpected error. Here is the traceback:
 At C:\agent02\_work\_temp\azureclitaskscript1621279845428_inlinescript.ps1:8 char:3
 +   az extension add --name application-insights --only-show-errors
 +   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[2021-05-18 14:11] yonzhan commented on #18125
extensions

[2021-05-18 14:22] holtalanm opened #18126 "az keyvault purge gives error "The resource type 'deletedVaults' could not be found in the namespace Microsoft.KeyVault""
**Describe the bug**
In previous versions of azure cli, running `az keyvault purge --name <vault name>` for a deleted key vault would successfully delete/purge the soft-deleted key vault.

In this version (2.23.0), running the above command gives the following error:
[code]

**To Reproduce**
Delete a resource group that contains a key vault.
run `az keyvault purge --name <vault name>` for that key

[2021-05-18 14:32] yonzhan commented on #18126
keyvault

[2021-05-18 17:54] dejan-shuki opened #18128 "network rule section requires link to allow access from Selected Networks"
[Enter feedback here]
This section looks like it ti automaticcally generated.
When I just added network rule to the storage, it was added, but when I looked at it from the portal it was still not visible, becouse Allow Access from All Networks was still set. I had to change that manually. Only then my network rules were visible.
I am trying to figure out for more then half an hour how to set Allow

[2021-05-18 17:54] fitzgeraldsteele opened #18129 "VMSS Flex Autoscale Public Preview"
Resource Provider
Microsoft.Compute/virtualMachineScaleSets

Description of Feature or Work Requested
Virtual machines scale sets provide a logical grouping of platform-managed virtual machines. With scale sets, you create a virtual machine configuration model, automatically add or remove additional instances based on CPU or memory load, and automatically upgrade to the latest OS version. Traditio

[2021-05-18 18:34] Saaman commented on #17373
I was hoping that adding a `--modified-path` option the the command line was producing a valid rewrite rule. It's not the case?
In the portal, we have 3 different choices of rewrite types:
![image](https://user-images.githubusercontent.com/660686/118705260-0473ef80-b7e6-11eb-9551-6c0ee44e816f.png)
It seemed to me that `--modified-path` was referring to this "url" rewrite type

[2021-05-18 19:04] avanigupta commented on #15705
@panchagnula I ran into the same issue today. I updated deployment credentials using `az webapp deployment user set` command, but I can't find any documentation on how to reset deployment credentials for all the webapps in my subscription. Not sure if it's even possible to do this.

[2021-05-18 19:08] panchagnula commented on #15705
@avanigupta this not a CLI specific question ; @btardif do you know of any documentation about reset creds?

[2021-05-18 19:08] #15705 closed

[2021-05-18 19:55] surexxx commented on #11981
Examples above doesn't work for me in Azure Portal Cloud Shell.
This is a working example that will successfully run:
`az resource create -g $resourceGroup -l $region -n $apiappName --resource-type Microsoft.web/sites --is-full-object --properties "{ \""kind\"": \""api\"", \""location\"": \""$region\"", \""properties\"": { \""serverFarmId\"": \""/subscriptions/$subscriptionId/resourcegroups/$resou

[2021-05-18 20:39] santhoshbomma9 commented on #6023
@jiasli looks like az rest doesnt work with deploymentscripts. any insight into that?
`bash-5.0# az rest --method GET --uri 'https://graph.microsoft.com/v1.0/applications'
Forbidden({"error":{"code":"Authorization_RequestDenied","message":"Insufficient privileges to complete the operation."`

[2021-05-18 22:02] santhoshbomma9 opened #18131 "Error passing token in the az rest header"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az rest`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az rest --method {} --headers {} {} --uri {}`

## Expected Behavior

## Environm

[2021-05-18 23:57] yonzhan commented on #18128
storage

[2021-05-18 23:58] yonzhan commented on #18129
@Juliehzl for awareness

[2021-05-19 00:10] yonzhan commented on #18131
@jiasli for awareness

[2021-05-19 02:28] zhoxing-ms commented on #11981
@surexxx Hi, in fact, the parsing of these two ways of inputting parameters in CLI is the same.
Such as:
![Screenshot 2021-05-19 102536](https://user-images.githubusercontent.com/16612065/118747560-d1d10200-b88c-11eb-8f3e-ba0ba909413b.png)
![Screenshot 2021-05-19 102616](https://user-images.githubusercontent.com/16612065/118747564-d39ac580-b88c-11eb-937b-181a900ddd48.png)

May I ask what is the sp