[2021-04-02 00:08] yonzhan commented on #17545
@jiasli for awareness

[2021-04-02 00:22] yungezz commented on #17542
hi @houk-ms could you have a look is this a feature request or bug? thanks

[2021-04-02 05:01] ambarishg opened #17548 "az login issues"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2021-04-02 05:59] yonzhan commented on #17548
@jiasli for awareness

[2021-04-02 06:04] ambarishg commented on #17548
@yonzhan @jiasli Issue solved.

1. Created a New Resource group for this subscription. This subscription was brand new.
2. Opened Cloud Shell
3. Problem solved
4. I had also cleared cookies , deleted Temp , restarted the machine

Thank you

[2021-04-02 06:16] yonzhan commented on #17548
Please let me know if you have further questions.

[2021-04-02 06:16] #17548 closed

[2021-04-02 06:26] ambarishg commented on #17548
Thank you. No questions.

On Fri, Apr 2, 2021 at 11:46 AM yonzhan ***@***.***> wrote:

[2021-04-02 06:33] jiasli opened #17551 "[Feature Request] Support `--scope` in `az login`"
**Is your feature request related to a problem? Please describe.**

The current Azure CLI unconditionally uses ARM resource ID (e.g.

https://github.com/Azure/azure-cli/blob/3feea02888ea67f033f407174a3a7a340158b81a/src/azure-cli-core/azure/cli/core/cloud.py#L306

) to call `/authorize` API of [authorization code flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-c

[2021-04-02 07:22] yonzhan commented on #17551
support scope

[2021-04-02 09:26] qwordy commented on #17064
@ramankumarlive Do you have a recommended parameter name for rotationToLatestKeyVersionEnabled? It is very long.

[2021-04-02 09:29] #16541 closed

[2021-04-02 15:18] FMauroy opened #17555 ""az iot edge deployment" stopped working recently, from Azure DevOps"
**Describe the bug**
We have been using the "az iot edge" CLI command for a while now to deploy our iot edge modules from an Azure DevOps release pipeline, but since yesterday, we receive strange errors. See below the log file, generated with the "--debug" option.
I tried to use an older version of "azure-iot", to no avail. At one point, I also saw messages asking me to use "az login", so I added

[2021-04-02 16:05] Hdbcoding opened #17556 "az notification-hub namespace check-availability typo"
**Describe the bug**
When checking availability of a notifications-hub namespace, the property "isAvailable" is misspelled. Currently, the property is returned as "isAvailiable".

**To Reproduce**
Install the az CLI.
Run the following powershell script:
[code]

**Expected behavior**
For this script, the first Write-Host command should output "True" or "False", depending on the availability of the

[2021-04-02 16:06] ramankumarlive commented on #17064
@qwordy you can use enableAutoKeyRotation

[2021-04-02 16:23] yonzhan commented on #17555
route to service team

[2021-04-02 18:04] stefanushinardi opened #17558 "[Function app] Use ARM API to get stacks information for functions"
Hello,

Current implementation uses static list to get stacks information(e.g.[LinuxFunctionsStacks.json](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/appservice/resources/LinuxFunctionsStacks.json)). We recently launched ARM api endpoints so that clients could get latest stacks information(i.e. https://management.azure.com/providers/Microsoft.Web/functionapp

[2021-04-02 18:25] pragnagopa commented on #17558
cc @AnatoliB

[2021-04-02 19:38] mloskot commented on #6050
@davelee212 You need to ensure your shell passes empty string to the `az` argument. For example, in PowerShell it's `'""'`:

[code]

[2021-04-03 00:06] patrickheinzelmann opened #17559 "InvalidApiVersionParameter: Azure CLI fails to create SSL certificate in App Gateway"
## Describe the bug

I tried to create a new certificate in the App Gateway using the latest Azure CLI from Home Brew.

**Command Name**
`az network application-gateway ssl-cert create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az network application-gateway ssl-cert create --g

[2021-04-03 00:12] yonzhan commented on #17559
network

[2021-04-03 05:36] mgexm commented on #16520
Why was this closed?

[2021-04-03 09:38] andreasbotsikas commented on #16499
Same issue when using https://github.com/microsoft/azure-pipelines-ephemeral-agents

[2021-04-03 09:44] sandeepdk opened #17561 ""az sf application list" not listing application"
[Enter feedback here]
`az sf application list --subscription XXX --resource-group xxxx -c xxxx` returns an empty list.
Am I missing something?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9164372b-4c1a-ae4b-f7df-3d8934b429f0
* Version Independent ID: 03c82f3c-f2a4-1c75-3c1e-2367c8a5776d
* Content: [az sf application]

[2021-04-03 15:31] Tbohunek commented on #17306
Thanks @Juliehzl for suggesting `blob list --prefix` - I did not notice that one exists!
I agree that blob directories are virtual, however some abstraction would help: `blob list --prefix` returns a list of blobs, so user needs to handle if empty or not. This could have been virtualized by `blob directory exists` returning `true/false`.
Is that something that could be done?

[2021-04-03 15:41] samueljamkhandi-MSFT commented on #16520
@bughit @mgexm - just reopened the issue for you so I can share the steps I took to resolve the issue. Hope it helps!
I was able to remove scale set from app gateway backend pool using below CLI commands

1.	Remove the backendpool address associated with VMSS using below command

**az vmss update --resource-group vnet3 --name testvmss --remove virtualMachineProfile.networkProfile.networkInterfaceC

[2021-04-03 17:58] subhendu-de opened #17562 "az webapp identity assign => The api-version '2018-01-01-preview' is invalid"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp identity assign`

**Errors:**
[code]

## To Reproduce:
[code]

## Expected Behavior
The MSI should be assigned to the resource.

## Environment Summary
[code]
## Additional Context

[2021-04-04 00:33] yonzhan commented on #17561
route to service team

[2021-04-04 03:22] 08nholloway commented on #16037
resolved in #17255

[2021-04-04 03:22] #16037 closed

[2021-04-04 07:11] TiborGalambos opened #17563 "webapp:az webapp u not working - ConnectionResetError(10054"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up`

## Expected Behavior

## Environment Summary
[code]
## Addit

[2021-04-04 17:16] subhendu-de commented on #17562
I found the issue. It was due to the incorrect --scope. It should be ```/subscriptions/{subscription-id}/resourceGroups/{resource-group-name}```

The error message is not helpful though. Keeping this open to hear back if error message can be fixed.

[2021-04-04 19:01] qwordy opened #17564 "Live test regression"
This issue is created by a program.
[Latest testing results of Azure CLI](https://clitestresultstac.blob.core.windows.net/latest/index.html)
[User Manual of Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EZGC9LwrN3RAscVS5ylG4HMBX9h7W0ZSA7CDrhXN5Lvx6g?e=V8HUmd)
[Upgrading API Versions in Azure CLI Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EcgPLHSkef9Mi14Rj

[2021-04-05 00:09] yonzhan commented on #17564
@zhoxing-ms for awareness

[2021-04-05 03:12] Kotasudhakarreddy commented on #17533
Will take a look in to in to this.

[2021-04-05 03:24] Kotasudhakarreddy commented on #17563
unable to repro this issue. please try with latest version `2.21.0` . If still issue comes please share `--debug` log.

[2021-04-05 06:29] Kotasudhakarreddy commented on #17562
This message is being returned by the API. This cannot be handled/fixed at command level.

@panchagnula - can you please transfer it to API team if this is an appropriate issue to be handle at API side.

[2021-04-05 07:25] #10829 closed

[2021-04-05 08:24] mepand commented on #17494
@Klaas- We have recently corrected the behaviour of --ids parameters for various CLI commands. The id parameter should be the id of resource in whose context the command is executed. Disabling protection is a backup item level operation and not the container level.  Hence, please get the id of VM by executing az backup item list command and pass that id to --ids parameter of az backup protection d

[2021-04-05 08:27] mepand commented on #16924
We have added this item to the backlog. Will update ETA shortly.

[2021-04-05 16:33] fwanggg commented on #16343
Hi Guys

Any update on this? This is a highly anticipated cli command.

The alternative az cli to sign a agreement failed.
`You must accept the legal terms through the Azure portal`

[2021-04-05 16:36] rayluo commented on #17444
@jiasli, [ADAL 1.2.7 is released to PyPI](https://pypi.org/project/adal/) with [such bugfix](https://github.com/AzureAD/azure-activedirectory-library-for-python/releases/tag/1.2.7). Now it is your turn to pull in that package to ship such improvement to customers.

[2021-04-05 17:24] jon-grey commented on #16499
Same for that execution with Powershell via Azure Portal

[code]

with full script

[code]

[2021-04-05 18:51] semireg commented on #14390
I have no idea what is wrong with my Azure account, but I had a similar issue where I needed to specify my tenant... but I didn't know what my tenant was... to find it, I looked at a subscription I wanted to use from the CLI and and noted the Default Directory. Let's say my account email was user@foo.com, then my Directory was userfoocom@onmicrosoft.com. Then, using this cli login worked:

[code]

[2021-04-05 19:36] mgexm opened #17572 "support removing an addess from a pool by the ip address"
**Is your feature request related to a problem? Please describe.**

The problem is if you are doing a rolling deploy of more than one VM at a time then there's no gaurantee that "--remove" (as it works by index) actually removed the correct address from the backend pool.

**Describe the solution you'd like**

Have a version of "az network application-gateway address-pool update" that lets a VM ide

[2021-04-05 20:26] 884756834 opened #17573 "'devops' is misspelled or not recognized by the system."
[code]
[code]
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 8db571e2-29f1-aa5b-9879-82564633e5b7
* Version Independent ID: c6331f40-2660-1830-9a7c-0ed62463a994
* Content: [az devops](https://docs.microsoft.com/en-us/cli/azure/devops?view=azure-cli-latest)
* Content Source: [latest/docs-ref-autogen/devops.yml](h

[2021-04-05 20:29] MikeBecatti commented on #9850
I'm having the same issue on az 2.21.0 and powershell.

[2021-04-05 20:41] 884756834 commented on #17573
Solved using `az extension add --name azure-devops`

[2021-04-05 20:41] #17573 closed

[2021-04-05 20:52] miaojiang commented on #17029
Doesn't seem to be CLI issue. Please reopen if more assistance is needed.

[2021-04-05 20:52] #17029 closed

[2021-04-05 20:54] miaojiang commented on #16155
Please update to the latest CLI version and see if the issue persists.

[2021-04-05 20:54] #16155 closed

[2021-04-05 21:11] panchagnula commented on #17563
@TiborGalambos I see you have the following extension installed db-up 0.2.1 - please try uninstalling this extension & re-try - & update here. Thanks!

[2021-04-05 21:14] panchagnula commented on #17562
@Kotasudhakarreddy / @subhendu-de which API are we referring to here? The command calls identity APIs as well as AppService - if this is from identity API then this should be updated & move to the right team.

@subhendu-de as a general rule running any CLI command with --debug flag should give you detailed error message.

[2021-04-05 21:16] panchagnula commented on #17558
@stefanushinardi & @pragnagopa is this API updated on swagger, SDK released with this API - if so then CLI can be updated accordingly. Thanks!

[2021-04-05 21:18] panchagnula commented on #17533
@Kotasudhakarreddy is this happening for function app only or for webapp as well? if this is functions specific please  route to the functions team. Thanks!

[2021-04-05 21:45] panchagnula commented on #17415
closing due to lack of response. Please file a new issue if this is still a problem.

[2021-04-05 21:45] #17415 closed

[2021-04-05 21:47] panchagnula commented on #17256
@calvinsID do we need to update our static runtimes list?

[2021-04-05 22:06] axayjo opened #17574 "Direct Sharing support for Azure Shared Image Gallery"
**Resource Provider**
CAPS, PIR, CRP

**Description of Feature or Work Requested**
We now support direct sharing in Azure Shared Image Gallery. The feature allows you to share galleries with other subscriptions and tenants, without having to use Azure RBAC.

Since it's a new way of sharing, we need to make changes in 'az sig', 'az vm create' and 'az vmss create' commands. These are what we had in

[2021-04-05 22:17] panchagnula commented on #17082
@mattchenderson in CLI the URL to browse will have https if httpsOnly property is true on the site object - currently this is not true/on  by default.

[2021-04-05 22:17] #17082 closed

[2021-04-05 23:32] wiggwire opened #17575 "List the subscriptions belong to management-groups"
**Describe the problem **
Seems currently there is no way to list the subscriptions belonging to a management group.
- you can list the mgmt-groups
- you can list subscriptions, but the details dont include mgmt-group membership
- you can create/update mgmt-groups
- you can assign subs to mgmt-groups

**Describe the solution you'd like**
It be great if there was a "**az account management-group su

[2021-04-06 00:05] pragnagopa commented on #17558
Tagging @ehamai and @andimarc - to confirm if API updated on swagger and SDK released.

[2021-04-06 00:05] yonzhan commented on #17572
network

[2021-04-06 01:35] yonzhan commented on #17575
@jiasli for awareness

[2021-04-06 01:36] yungezz commented on #16520
hi @qwordy, could you pls help to check what's the ask to us?

[2021-04-06 01:37] yungezz commented on #17556
hi @fengzhou-msft could you have a  look?

[2021-04-06 01:38] yungezz commented on #17562
route to appropriate team

[2021-04-06 02:06] qwordy commented on #17574
Add it to S186.

[2021-04-06 02:21] #16918 closed

[2021-04-06 02:24] yungezz commented on #16443
hi @outcast could you share the repro step of creating pip to  help trouble shooting? thanks

[2021-04-06 02:28] yungezz commented on #16443
close this for now, feel free to create new issue if any other error, thanks

[2021-04-06 02:28] #16443 closed

[2021-04-06 03:32] #17461 closed

[2021-04-06 03:39] andreacapriplexure opened #17576 "App Configuration restore fails when passing in connection string or using name of app config"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az appconfig kv restore`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az appconfig kv restore --datetime "2021-04-05T15:13:50Z" --subs

[2021-04-06 03:41] yonzhan commented on #17576
route to service team

[2021-04-06 03:51] Kotasudhakarreddy commented on #17562
@panchagnula - It is referring to [Roledefinitions.List API](https://docs.microsoft.com/en-us/python/api/azure-mgmt-authorization/azure.mgmt.authorization.v2018_01_01_preview.operations.roledefinitionsoperations?view=azure-python#list-scope--filter-none----kwargs-). Below is the debug log response.
![image](https://user-images.githubusercontent.com/60102891/113656380-66a2e600-96b9-11eb-8e6d-ae008a

[2021-04-06 04:05] avanigupta commented on #17576
Hi @andreacapriplexure, this is a bug in the print preview of `az appconfig kv restore` command. It has been fixed [here](https://github.com/Azure/azure-cli/pull/17344) recently and will be available in the next release of Azure CLI.
As a workaround, if you are sure about the key-values being restored and don't need a preview, you can run the command with the `--yes` or `-y` option to resolve this

[2021-04-06 06:30] Juliehzl commented on #17539
Hi @anish, it is because disk is not normal storage account. To upload to the link, there are two options:
1. `az storage copy` to upload with destination url
2. Install `storage-blob-preview` extension and then upload with `--blob-url` in `az storage blob upload` command

[2021-04-06 06:32] Juliehzl commented on #17544
@zhangyan133 could you evaluate if we could add this feature in azure cli?

[2021-04-06 06:37] Juliehzl commented on #17298
@zhangyan133 could you help verify the issue and see if there is anything we need to improve?

[2021-04-06 06:38] #16965 closed

[2021-04-06 06:39] yungezz commented on #16628
hi @qwordy, can this issue be closed now?

[2021-04-06 06:39] Juliehzl commented on #16923
could you use latest azure cli and try again? Previous issue should be resolved in new version

[2021-04-06 06:39] yungezz commented on #13385
hi @BigCat20196 can you help on this? thanks

[2021-04-06 06:40] yungezz commented on #11871
hi @houk-ms could you have a look? thanks

[2021-04-06 06:40] yungezz commented on #14584
hi @qwordy could you pls update status of the issue? thanks.

[2021-04-06 06:40] Juliehzl commented on #15989
@zhangyan133  could you take a look?

[2021-04-06 07:01] jiasli opened #17578 "[Feature Request] Support `--force-refresh` in `az account get-access-token`"
## Requirement

There are some use cases where the user wants to get a new/fresh access token, bypassing the ADAL/MSAL token cache.

More info at https://github.com/Azure/azure-powershell/issues/14005.

## Proposed solution

Support `--force-refresh` in `az account get-access-token`.

## Additional context

ADAL doesn’t support `force_refresh`:

https://github.com/AzureAD/azure-activedirectory-lib

[2021-04-06 07:09] msyyc commented on #17260
PR has been merged, new version 2.22.0 of azure-cli will be released soon.

[2021-04-06 07:09] #17260 closed

[2021-04-06 07:18] Kotasudhakarreddy commented on #17533
@panchagnula yes the issue is with functions alone.

[2021-04-06 07:20] Kotasudhakarreddy commented on #17533
@v-anvari - assigning this to you as it is related to the functions.

[2021-04-06 07:24] Kotasudhakarreddy commented on #17302
closing due to lack of response. Please file a new issue if this is still a problem.

[2021-04-06 07:24] #17302 closed

[2021-04-06 07:24] fma-wizata commented on #17555
Hi all, as it was preventing a deployment in production, I downloaded the artefacts on my laptop and ran the main commands ("az iot edge deployment delete" and "az iot edge deployment create") and it worked without any issue. So this clears the CLI at first glance. Maybe the VM used in DevOps is wrongly configured? This is not something we can change, we can only select the VM in the list, and thi

[2021-04-06 07:28] Kotasudhakarreddy commented on #16538
@panchagnula Just sending you a gentle reminder on this issue.

[2021-04-06 07:43] Kotasudhakarreddy commented on #16954
@Eonasdan - the command syntax you use to restart or stop the `webapp` is incorrect. it should be as follows.
1. `az webapp restart --name MyWebapp --resource-group MyResourceGroup`
2. `az webapp stop --name MyWebapp --resource-group MyResourceGroup`

you are receiving an inappropriate prompts due to the incorrect syntax. For more details please refer [WebApp Documentation](https://docs.microsoft.

[2021-04-06 07:48] Kotasudhakarreddy commented on #17500
@kishanraaj77 can I get your response here.

[2021-04-06 08:16] #16684 closed

[2021-04-06 08:17] Morriz opened #17579 "no versions mentioned, old deprecated version installed if omitted"
No examples are given for `--version`, and when omitted an old deprecated version is installed: 0.9.6

Please upgrade the default version and mention in the docs what is the default, and what versions are available.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d11bd3f4-efbf-691d-76a4-293ab97ad845
* Version Independent

[2021-04-06 08:23] yungezz commented on #17579
route to appropriate team

[2021-04-06 08:38] fengzhou-msft commented on #16600
The `azure-cli` RPM package depends on `python3`, the reason that it prompts you to install python 3.6 is that on Fedora 33, the repo only has python 3.6 for python 3.  You can run below commands to download the azure-cli package and install with no dependency **after step 1 and 2** in [Install](https://docs.microsoft.com/it-it/cli/azure/install-azure-cli-linux?pivots=dnf):
[code]

Without step 1

[2021-04-06 08:41] yonzhan commented on #10192
@anish @Juliehzl commented on #17539

[2021-04-06 08:49] houk-ms opened #17581 "`--subscription` does not work for keyvault related commands"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2021-04-06 09:02] houk-ms commented on #17581
we may hide the parameter by setting `c.ignore('_subscription')` for all such commands in KeyVault

[2021-04-06 09:08] yonzhan commented on #17578
support force-refresh

[2021-04-06 13:15] GPetrites commented on #16138
Just stumbled across this today while testing a Bicep template to deploy APIM.  So after learning Bicep/ARM to create resources, and PowerShell/CLI to also...create and delete resources. we now need to figure out how to use REST to purge APIM instances?

How many different technologies do we need to learn to support Azure?

[2021-04-06 14:58] IIyDeJIb commented on #16954
Similar issue of recurrent prompt to install webapp:
[code]

[2021-04-06 15:26] stvdilln commented on #16138
`az rest --method delete --header "Accept=applicaiton/json" -u 'https://management.azure.com/subscriptions/{SubscriptionId}/providers/Microsoft.ApiManagement/locations/{eastus}/deletedservices/{api name}?api-version=2020-06-01-preview' `

[2021-04-06 15:28] ohadschn opened #17585 "Disable authorized IP ranges command fails(Cloud Shell PowerShell): az aks update --api-server-authorized-ip-ranges """
Command from docs:
`az aks update --api-server-authorized-ip-ranges ""`

In Cloud Shell PowerShell fails with:
`argument --api-server-authorized-ip-ranges: expected one argument`

Same exact command works in Cloud Shell bash.

Not sure if this is a docs issue, where the command should look different in PS, or whether it's a bug in the az client when running from PowerShell (possibly a Windows vs L

[2021-04-06 16:00] rajsell opened #17586 "az sig image-version --add with multiple targetregions failing"
while trying to use the --add option with multiple regions, the command is failing with the below error, the input that i have used is something like below

az sig image-version update --no-wait -g myresourcegroup --gallery-name mygalleryname --gallery-image-definition mycustomimage --gallery-image-version 1.2021.03311859 --add publishingProfile.targetRegions [{"name":"koreacentral","regionalRepli

[2021-04-06 16:03] rolan18 opened #17587 "Arm Template Resource Group Deployment Redeploys"
**Is your feature request related to a problem? Please describe.**
I want to be able to redeploy the last working state of my arm template in the event that:
1. My new ARM template succeeded in deploying
2. It causes runtime issues for the service that uses the deployed azure objects.

**Describe the solution you'd like**
A couple of options:
1. Add an optional parameter to the `az group deploymen

[2021-04-06 17:14] GPetrites commented on #16138
That worked, but it was much more painful that having a button on the portal or a CLI or PowerShell command.

[2021-04-06 17:27] nkadochn opened #17588 "az storage account show-connection-string does not work"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage account show-connection-string`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage account show-connection-string -g {

[2021-04-06 17:45] ohadschn commented on #17585
OK so looks like it's a docs issue: https://docs.microsoft.com/en-us/azure/aks/api-server-authorized-ip-ranges#create-an-aks-cluster-with-api-server-authorized-ip-ranges-enabled

I think it's worth mentioning in this page as well...

[2021-04-06 18:23] joaocc commented on #16417
Pls find log of 2.20 failing on M1
https://github.com/Azure/azure-cli/issues/16697#issuecomment-804919401
Can reproduce easily.

[2021-04-06 20:40] vytautasubartas opened #17590 "az aks get-credentials stuck on setting up aks-preview"
`az aks get-credentials` stuck on setting up `aks-preview` plugin. It asks to install it despite it is already in place. This process falls into infinite loop.

[code]

**Environment summary**
[code]
I'm running this on Mac OS Big Sur  11.2.3

[2021-04-06 21:05] alextmeyer commented on #17205
I am hitting this as well with azure-cli version 2.21.0.

[code]

[code]

[2021-04-06 21:14] miaojiang commented on #16138
Thank you all for the feedback. We are considering adding an option to az apim delete to control whether soft delete should be applied.

[2021-04-07 00:22] yonzhan commented on #17587
ARM

[2021-04-07 00:24] yonzhan commented on #17588
storage

[2021-04-07 00:56] calvinsID commented on #17256
Hi @tonybaloney wondering what CLI version you're using? On the latest CLI I'm seeing 3.6, 3.7 and 3.8 using `az webapp list-runtimes --linux` and 3.6 without `--linux` flag

[2021-04-07 01:24] yungezz commented on #17590
route to appropriate team

[2021-04-07 01:25] yungezz commented on #17586
hi @xfz11 could you pls have a look?

[2021-04-07 01:26] xfz11 commented on #17586
ok

[2021-04-07 02:00] #17221 closed

[2021-04-07 02:02] qwordy commented on #14584
This feature request is in the queue and does not have a definite timeline now.

[2021-04-07 02:03] qwordy commented on #16628
No. It depends on https://github.com/Azure/azure-cli/pull/16797. I am reviewing and testing it.

[2021-04-07 02:06] BigCat20196 commented on #17537
hi @usrme, thank you for your feedback.
When you pass empty string to 'az vm list --resource-group', it really return all VM information.
I went through the source code and it was designed like this. And only the 'az vm list' command allows this.

I tested the following lines of commands：
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive i

[2021-04-07 02:07] Juliehzl commented on #17205
@alextmeyer, are you using `az storage fs file list` to list on blob storage account?
`az storage fs` related commands are for ADLS Gen2 storage account, which has hierarchical namespace enabled. In such storage account, the response content do have `lastModified` filed and in python SDK it could use this property. But you get the error, which is raised in python SDK because of None value for `las

[2021-04-07 03:12] aim-for-better commented on #16815
There are 2 test failed in HDInsight. I have fixed one(PR: https://github.com/Azure/azure-cli/pull/17552). The another one(test_hdinsight_cluster_with_relay_and_privatelink) can not be fixed, it needs some resource that need to be created in advance so the live test will fail.

[2021-04-07 04:38] usrme commented on #17537
Thanks for getting back to me, @BigCat20196!

However, I disagree with your conclusion and here's an example scenario I ran into (using Bash):

1. Create a variable with an empty string: `resource_group=''`
2. List virtual machine IDs and store result in a variable: `vm_ids=$(az vm list --resource-group "$resource_group" --query "[].id" --out tsv)`
3. Stop (for example, but I guess `delete` would

[2021-04-07 05:32] garimasingh opened #17591 "issue az az network application-gateway address-pool update command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network application-gateway address-pool update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network application-gateway addres

[2021-04-07 05:48] garimasingh commented on #17591
seems like the quotes need an escape character found the answer in another issue

[2021-04-07 05:48] #17591 closed

[2021-04-07 06:36] dikhakha opened #17592 "az extension add -s is stuck at installing step"
**Describe the bug**
For our Azure pipelines and GitHub actions, 'az extension add -s' command is stuck at installing step. This started happening for Windows System using Azure CLI version 2.21. It was working fine for Azure CLI 2.20.

**To Reproduce**
Create GitHub action which installs an extension using wheel file, like 'az extension add -s .\aidls.whl'

**Expected behavior**
Extension should

[2021-04-07 06:56] bhattvishal commented on #16773
@Zaniyar Please make sure you are using the default docker context

1. You can check that with, `docker context list` command.
2. If not using default context change that to default using `docker context use default`
3. After step 1 and 2, run `docker-compose up` (Please note the - in the command)

[2021-04-07 07:35] anish commented on #17539
@Juliehzl is there an example of using `az storage copy`  to upload a vhd to a managed disk ? I don't see any example here, https://docs.microsoft.com/en-us/cli/azure/storage?view=azure-cli-latest#az_storage_copy

 is this correct ?
 `az storage copy  -s path/to/test.vhd  --destination-account-name aimpipelinestorage --destination-container aimstoragecontainer --account-key "+kz....Xg==" --sas-tok

[2021-04-07 08:04] Juliehzl commented on #17588
@nkadochn May I know which cloud you are using?

[2021-04-07 09:01] kieranross89 commented on #16138
This works in removing a soft deleted instance but I always get a 404/Service Not FoundError
```Not Found({"error":{"code":"ServiceNotFound","message":"Api service does not exist: testapimkjr","details":null,"innerError":null}})```

[2021-04-07 12:56] GPetrites commented on #16138
@miaojiang
More important to the "az apim delete" options, we need CLI (and PowerShell) commands that we can use to discover, purge and restore soft-deleted APIM instances.  APIMs will get deleted using a variety of mechanisms, including deleting via the portal.  Currently, the only option we have to do this is using the REST API.  I'm glad to discover "az rest" can be used for that, but it's not

[2021-04-07 13:17] nkadochn commented on #17588
I am executing within ml.azure.com

[2021-04-07 13:51] mgexm commented on #16520
I also added this bug ...
https://developercommunity.visualstudio.com/t/synchronizing-azure-application-backend-address-po/1390933?from=email

[2021-04-07 13:59] mgexm commented on #16520
@samueljamkhandi-MSFT have you done a rolling deploy of more than one VM at a time using YML ? If you need to do more than one VM at a time then that implies concurrency ... and if concurrently addresses are being taken out "by index" then you can't guarantee the index of the address to remove because you don't know if another deploy thread took a different VM out thereby changing that index (reme

[2021-04-07 14:17] Klaas- commented on #17494
Hi,
yes that id works.
correct ID is for usage with --ids is made up like this:
[...]/backupFabrics/Azure/protectionContainers/IaasVMContainer;iaasvmcontainerv2;[reg];[vmname]/protectedItems/VM;iaasvmcontainerv2;[reg];[vmname]

I still would argue you should show this as a return value for the `az backup protection check-vm [...]` command but I can work with what I know now. You should most likely

[2021-04-07 14:17] #17494 closed

[2021-04-07 14:18] MikeBecatti opened #17595 "webapp:Add ability to import ssl cert from keyvault to webapp slots."
**Is your feature request related to a problem? Please describe.**

The az cli will allow a user to import an ssl cert for a webapp, but not for a specific slot even though slot configurations for ssl are independent of one another.

**Describe the solution you'd like**

Add the "--slot" argument to "az webapp config ssl import" to allow configuration of the slot.  This slot argument should functi

[2021-04-07 15:13] yungezz commented on #17595
route to appropriate team

[2021-04-07 18:09] MikeBecatti commented on #17595
My initial analysis of the import results may not be correct.  I've noticed that after importing the certificate in the web app it does not show the certificate in the slot through the azure portal.  However, after a certain amount of time (or possibly after my code is deployed) it will eventually show the certificate in the portal for the slot.  I'm not quite certain what is going on here.

[2021-04-07 18:13] nixGirl opened #17596 "az functionapp plan update --max-burst can't be set bigger than 20"
az functionapp plan update --max-burst can't be set higher than 20.
20 is limit for Linux function app, not for Windows. As result it's not possible to set higher max-burst for Windows function app, which is allowed to be 100.

[2021-04-07 19:03] cgwrench opened #17597 "Creating a metrics alert condition doesn't handle spaces in metric namespaces"
## Describe the bug

When creating a metrics alert condition using `az monitor metrics alert condition create` for a metric namespace that contains a space, using the condition in `az monitor metrics alert create` fails.

## To reproduce

Create an alert condition. Note that both the metric name and namespace contain a space.

[code]

Printing this condition out shows that the metric name is surro

[2021-04-07 19:06] hariprasath-r commented on #16070
I was facing the same issue and later found that Azure Cloud Shell by default comes with kubectl and other tools.
[Refer the documentation](https://docs.microsoft.com/en-us/azure/cloud-shell/features#tools)

[2021-04-07 21:36] sodul opened #17598 "azure-cli-core is incompatible with modern pip"
We install many python packages as part of our internal use and the Azure packages are difficult to install with modern pip.
It seems to have problems with its own internal dependencies:

[code]

Can the dependency requirements be relaxed so that pip will no longer have trouble installing the Azure stack?

See https://blog.python.org/2020/11/pip-20-3-release-new-resolver.html for more context.

[2021-04-07 21:40] khyewei opened #17599 "Trusted Launch - DiskRP CLI"
**Resource Provider**
Microsoft.compute\disk

**Description of Feature or Work Requested**
Release DiskRP CLI for Trusted Launch public preview.

// more details on SecurityType

**Minimum API Version Required**
2020-12

**Swagger Link**
https://github.com/Azure/azure-rest-api-specs/pull/12796

**Target Date**
ASAP

[2021-04-07 21:46] ClaytonWork opened #17600 "https://docs.microsoft.com/en-us/cli/azure/ext/datafactory/datafactory 404"
All links leading to the Azure CLI documentation for the datafactory extension results in a 404.

Following this tutorial https://docs.microsoft.com/en-us/azure/data-factory/quickstart-create-data-factory-azure-cli. Clicking the link for the 'az datafactory factory create' command about a 1/4 of the way down the page results in a 404 error.

[2021-04-07 23:27] yonzhan commented on #17596
route to service team

[2021-04-07 23:28] yonzhan commented on #17597
monitor

[2021-04-08 01:25] jiasli commented on #17598
On the contrary, these warnings are given by legacy `pip`.

Take `cryptography` as an example:

1. `pip` first installs `cryptography` (without a version specifier), which is required by some underlying packages. It installs the latest `3.4.7`.
2. `pip` then installs `azure-cli-core` which requires `cryptography<3.4,>=3.2`.
3. The legacy `pip` is not smart enough to figure out a `cryptography` tha

[2021-04-08 01:57] yungezz commented on #17600
hi @ClaytonWork thanks for reporting the issue, we're working on finding right doc owner for this.

[2021-04-08 02:01] yungezz commented on #17599
https://github.com/Azure/azure-cli/issues/16692

[2021-04-08 02:48] qwordy commented on #17537
@usrme, Azure CLI can configure a default resource group. Empty string is allowed in `az vm list` command so that it can remove the resource group value and list all VMs in a subscription. It is deliberate. We don't plan to change the behavior for now. We'll add more clarification in help message.

[2021-04-08 04:07] yonzhan commented on #16504
@MoueenShaik any update or feedback?

[2021-04-08 04:09] yonzhan commented on #17205
@alextmeyer, any feedback or update?

[2021-04-08 04:09] yonzhan commented on #17347
Hi @trevors20, any feedback or update?

[2021-04-08 04:29] mgexm opened #17602 "add backendpool addresses do not work"
[Enter feedback here]
The example provided for :

c:\> az network application-gateway address-pool update -g MyResourceGroup --gateway-name MyAppGateway -n MyAddressPool --add backendAddresses "{ "ip_address": "{10.0.0.13}" }"

AND

C:\> az network application-gateway address-pool update -g MyResourceGroup --gateway-name MyAppGateway -n MyAddressPool --add backendAddresses "{ \"ip_address\": \"{10

[2021-04-08 04:37] mgexm commented on #17602
actually I realized I shouldbe passing an array ... still this is pretty bad that I can't jsut add an ip address but rather have to always collect all the known address and then set them again into the pool using --servers.

[2021-04-08 05:00] robga opened #17603 "SQL test test_sql_midb_logreplay_mgmt failed to run after new recording."
**Describe the bug**

1. The SQL test test_sql_midb_logreplay_mgmt failed to run record after a fresh live recording.
2. The SQL test test_sql_midb_logreplay_mgmt created un-necessary dependency on policy command module. It shouldn't use policy command module to update notScopes to allow test resource creation. Please use the policy assignment enforcement mode to temporary disable the policy enfor

[2021-04-08 05:36] TLaborde opened #17604 "az ml connecting to new URL"
**Describe the bug**
After updating the az ml extension to the latest version (1.25.0) running a command like `az ml datastore attach-sqldb` tries to connect to the domain `experiments.azureml.net` (to get the information in /discovery).

The domain name was not used before, and I can't find any documentation about its use and necessity

**To Reproduce**

- block access to *.experiments.azureml.ne

[2021-04-08 05:46] #14767 closed

[2021-04-08 06:05] yonzhan commented on #17602
network

[2021-04-08 06:07] yonzhan commented on #17603
route to service team

[2021-04-08 06:09] yonzhan commented on #17604
route to service team

[2021-04-08 06:27] jiasli opened #17607 "[Feature Request] Drop multi-account login"
## Context

As @henrik-me pointed out, currently Azure CLI supports login with with multiple user or Service Principal accounts.

The authentication information is bound to the subscription:

[code]

If several user or Service Principal accounts have access to the same subscription, the subscription will be bound to the last account that logged in.

## Proposed solution

Drop multi-user login. The

[2021-04-08 06:41] muhnick opened #17608 "az monitor activity-log alert list"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

running
az monitor activity-log alert list

some results fine, then the following error

ERROR: The command failed with an unexpected error. Here is the traceback:
ERROR: Unable to deserialize to object: type, AttributeError: 'str' object has no attribute 'get'
Traceback (most recent call last):
  File "D:\a\1

[2021-04-08 06:55] yonzhan commented on #17607
Drop multi-account login

[2021-04-08 06:55] #17390 closed

[2021-04-08 06:58] yonzhan commented on #17608
monitor

[2021-04-08 07:02] xfz11 commented on #17586
1, The argument "--add" now only supports JSON Object as a value instead of JSON Array.
2, You need to add \ before quotation marks for escaping.
Right command would be like:
`az sig image-version update --no-wait -g myresourcegroup --gallery-name mygalleryname --gallery-image-definition mycustomimage --gallery-image-version 1.2021.03311859 --add publishingProfile.targetRegions {\"name\":\"koreace

[2021-04-08 07:07] rajsell commented on #17586
for --add option accepting only one region, is this a limitation that we have right now and is it expected to be fixed in future releases ? because the portal and the API seems to be supporting this.

[2021-04-08 07:21] xfz11 opened #17610 "No detailed description for JSON format for --add option"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-04-08 07:30] xfz11 commented on #17586
--add option can accept more than one region, each JSON object string should be separated by space.
[code]

[2021-04-08 07:35] BigCat20196 commented on #13385
hi @shunkino Thank you for your advice.

I also think it is necessary to change the address of the test network connection to the Microsoft address.
BTW, I am considering fixing it.

[2021-04-08 07:39] cgwrench opened #17611 "Hide feedback opportunity message"
## Describe the bug

For every `az` command that I run, I get the following message displayed:

[code]

Is there a way to disable this message?

## To reproduce

Run any `az` command, for example `az --help`.

## Expected behavior

This message is shown alongside information that describes how to disable the message.

## Environment summary
[code]

[2021-04-08 08:06] fengzhou-msft commented on #17556
This is a known issue in swagger. Route to service team to fix swagger.

[2021-04-08 08:10] fengzhou-msft commented on #17520
@evanlwj please follow https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_in_airgapped_clouds.md#install-extensions as current workaround to install extensions in airgap cloud.

[2021-04-08 08:12] #17497 closed

[2021-04-08 08:45] #17521 closed

[2021-04-08 10:05] helltone commented on #15010
Hey,
Have same situation, created private dns zone, tried to link it to vnet(it failed, because vnet already have dns zone with auto-registration).

Now Iam trying to create empty zone, but it throws:
"Can not delete resource before nested resources are deleted."

[2021-04-08 13:26] guidola opened #17618 "az acr task credential add crashes"
## Describe the bug

**Command Name**
`az acr task credential add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr task credential add -r {} -n {} --login-server {} --use-identity [system]`

## Expected Behavior
The command would succeed

[2021-04-08 14:14] leug85 opened #17619 "assign UMI on VM"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm identity assign`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

-az cloud update --profile 2019-03-01-hybrid
- az login
- `az vm identity assign -g {} -n {} --identities {}

[2021-04-08 14:30] alextmeyer commented on #17205
Sorry thanks for following up @Juliehzl and @yonzhan.

You are correct that we're not using ADLS Gen2 across the board, encountered the suggestion to use the `az storage fs file` commands when working with `az storage blob directory` commands and found them to largely work with some limitations, but just moved everything back to `az storage blob` commands and handled the specific cases we required

[2021-04-08 15:15] bucheron88 commented on #17529
Hi @yungezz , the result of the --debug mode is in the log.txt file attached in my initial message. Thanks

[2021-04-08 16:01] mpowrie commented on #17219
I got this same error with az cli version 2.21, suggesting that the issue is not fixed.
![image](https://user-images.githubusercontent.com/323814/114059186-74ce4d80-98d7-11eb-8bfc-20b95753116d.png)

[2021-04-08 16:05] Jarlotee commented on #11863
Bump!

This removes container credentials as well, and there is no mechanism to grab the registry password to re-introduce it!

[2021-04-08 16:08] calvinsID commented on #17219
@mpowrie the fix should be in the next version, which will be on cloud shell 04/09 and officially released 04/13. Can you please try again with the updated version once its out? sorry for the inconvenience

[2021-04-08 16:09] mpowrie commented on #17219
Thanks @calvinsID will do.

[2021-04-08 16:42] bk2204 commented on #14011
It would be really great if the Azure CLI team could work with Debian and Ubuntu to produce releases that they can use and package in a normal way so that they work.  The AWS client works just fine out of distro packages, and most users use and expect to use distro packages and won't want to install a custom repository.  I'm certainly in that case, and It's a bit of a problem that the Azure CLI is

[2021-04-08 18:32] inverted360 commented on #11871
I can confirm this is still a concern and the work-around of reasserting subscription before each 'az keyvault' call mitigates it.

[2021-04-08 21:00] tiny-dancer opened #17620 "az acr login 'login' is misspelled or not recognized by the system."
[code]

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr {}`

## Expected Behavior

## Environment Summary
[code]
## Additi

[2021-04-08 21:03] #17620 closed

[2021-04-09 00:52] yungezz commented on #17619
#14287

[2021-04-09 00:52] yungezz commented on #17618
#14287

[2021-04-09 00:54] yungezz commented on #17611
hi @cgwrench unfortunately, tthere's no way to disable the survey link. You can ignore them. could you share more about impact of it? thanks

[2021-04-09 00:56] yungezz commented on #17592
hi @fengzhou-msft could you check is this related with packaging? thanks

[2021-04-09 01:28] jdedwards3 commented on #16923
@juliehzl unfortuntately the content type is still set to text/plain for files with json extension

please see this github action run: https://github.com/jdedwards3/jedwards/runs/2302149656?check_suite_focus=true

[2021-04-09 01:46] Juliehzl commented on #16923
In your git job, I could see azure cli is latest, but no specific version info. Are you using 2.21.0? You could see more info with `az version`. As this command is using Azcopy, I think in Azcopy 10.8.0 which is used in azure cli should do support content-type auto-detection.
@zezha-msft from Azcopy team to confirm the behavior.
@zhangyan133 could you try to reproduce the issue from jdedwards3?

[2021-04-09 01:52] jdedwards3 commented on #16923
here is the corresponding log output :

Run azure/cli@v1.0.0
  with:
    inlineScript: az storage blob sync -c '$web' -s _output --connection-string '***'

    azcliversion: latest
  env:
    AZURE_FUNCTIONAPP_NAME: jedwards
    AZURE_FUNCTIONAPP_PACKAGE_PATH: ./functions
    NODE_VERSION: 12.x
Starting script execution via docker image mcr.microsoft.com/azure-cli:latest
WARNING: This command is i

[2021-04-09 02:02] #16038 closed

[2021-04-09 02:38] #16790 closed

[2021-04-09 02:39] daxianji007 commented on #17600
@ClaytonWork I have make a fix. Please check if the issue resolved.

[2021-04-09 02:41] DanielLarsenNZ commented on #16269
Thanks to @kahawai-sre I finally got this to work. The `vnetRouteAllEnabled` property must be set using ARM. Policy will not be effected by the App Setting (WEBSITE_VNET_ROUTE_ALL).

For this policy to take effect:

1. App Service must be deployed using an ARM API Version >= `2019-04-01`
1. App Service (`Microsoft.Web/sites`) property `siteConfig` > `vnetRouteAllEnabled` must be set to `true` usin

[2021-04-09 02:41] #16269 closed

[2021-04-09 02:59] #17063 closed

[2021-04-09 02:59] #17064 closed

[2021-04-09 03:02] #17600 closed

[2021-04-09 03:20] Juliehzl commented on #16652
Hi @colemickens, for your feature request to reading from standard in, we have similar support in `storage-blob-preview` extension with Python SDK. You could have a try according to the example here https://github.com/Azure/azure-cli-extensions/blob/master/src/storage-blob-preview/azext_storage_blob_preview/_help.py#L170-L172.
For  `azure-vhd-utils-for-go` integration, we cannot achieve it because

[2021-04-09 03:32] colemickens commented on #16652
@Juliehzl thanks for the update, however here are my thoughts:

(regarding standard in) I've spent a gargantuan amount of time making this scenario work, and have it working with a pinned version of `azblobxfer` that should work for forever, basically. Additionally, nodejs packaging is hard in nixpkgs, and I'm not inclined to try to package preview cli extensions for such core, basic functionality

[2021-04-09 04:24] #16691 closed

[2021-04-09 06:50] midaslmg94 opened #17624 "az aks RBAC Error : You must be logged in to the server (Unauthorized)"
**Resource Provider**

- `azure kubernetes service`
- `azure rbac`

**Description of Feature or Work Requested**

Referring to the document below, I connected aks and rbac.
- [AKS-managed Azure Active Directory integration
](https://docs.microsoft.com/en-us/azure/aks/managed-aad)
- [Use Azure RBAC for Kubernetes Authorization (preview)
](https://docs.microsoft.com/en-us/azure/aks/manage-azure-rbac

[2021-04-09 06:59] jiasli opened #17625 "Redact tokens from `--debug` log"
## Context

1. Starting from `azure-core` 1.13.0, `Authorization` header is now exposed in DEBUG log (https://github.com/Azure/azure-sdk-for-python/pull/17424).
2. Python SDK decided not to redact `x-ms-authorization-auxiliary` header (https://github.com/Azure/azure-sdk-for-python/issues/17271).

Before bumping `azure-core` to 1.13.0, Azure CLI must adapt to `azure-core`'s new behavior.

## Propos

[2021-04-09 07:01] Juliehzl commented on #17588
Do you know allowed api version list for storage in ml.azure.com?
If you only want to use basic features, you could set to `2020-09-01-hybrid` profile and use old api version 2019-06-01 with `az cloud set --profile 2020-09-01-hybrid`.

[2021-04-09 07:09] Juliehzl commented on #17205
I see. Thanks for your feedback.

[2021-04-09 07:09] #17205 closed

[2021-04-09 07:12] yonzhan commented on #17625
Core

[2021-04-09 07:21] fengzhou-msft commented on #17611
Actually, there is a config option that can hide the survey link:
`az config set output.show_survey_link=no`

[2021-04-09 07:35] fengzhou-msft commented on #17592
@dikhakha can you add `--debug` to the `az extension add` command in the pipeline and check the error message?

[2021-04-09 07:35] Juliehzl commented on #16768
Hi @ikteru, thanks for your feedback! We d not support full uri for account sas because there is no api (python SDK) support. If python SDK could give support to return full sas url, we will add such support in azure cli, too. @xiafu-msft to confirm if python SDL will support return full account sas url for get_account_sas() operation.

[2021-04-09 07:42] cgwrench commented on #17611
Thanks @fengzhou-msft, that's exactly what I was looking for.

@yungezz - the impact of the link is really just the annoyance of it. It's noise that I'd rather not see every time I run any `az` command. Especially since I've already completed the survey, why would I want to keep being reminded about something I've already done (even if I hadn't completed the survey, why would I want to keep being

[2021-04-09 07:51] #13927 closed

[2021-04-09 08:24] fabienso opened #17627 "AZ Rest POST MultiPart/FormData is not working"
**Description**
I have the following challenge: I am in the process of rolling out an Azure AD B2C fully automatically with all user flows. For this I am creating the app registrations, the user structures, the tenant etc. via a Python script and using execute(<AZ CLI Commands>).

For the creation of a user flow I need a service principal which returns an OAuth2 token from the secret ID and the ID

[2021-04-09 08:35] fengzhou-msft commented on #17590
@vytautasubartas  Are you on a profile that's not `latest` because `az login` failed and told you to set another profile? If so, please revert your profile to `latest` with `az cloud set --name AzureCloud --profile latest`, `az login` issue is fixed from ARM side.

[2021-04-09 09:11] dikhakha commented on #17592
Please find the attached logs.
[installextensionlogs.txt](https://github.com/Azure/azure-cli/files/6284555/installextensionlogs.txt)

[2021-04-09 09:59] yonzhan commented on #17627
@jiasli for awareness

[2021-04-09 10:15] dwissaaj commented on #16188
how to fix this error I got it too.

`The command failed with an unexpected error. Here is the traceback:
Expected 1 module to load starting with 'azext_': got []
Traceback (most recent call last):
  File "D:\a\1\s\build_scripts\windows\artifacts\cli\Lib\site-packages\knack/cli.py", line 233, in invoke
  File "D:\a\1\s\build_scripts\windows\artifacts\cli\Lib\site-packages\azure/cli/core/commands/_

[2021-04-09 10:31] bitmorse opened #17632 "az webapp up fails on Mac OS X, zsh with zlib installed via brew"
az webapp up fails in zsh without a clear indication as to why.

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az webapp up --resource-group {} --location {} --plan {} --name {} --dryrun`

## Expected Behavior

## Environment Summary
[code]
## Additi

[2021-04-09 11:02] #17632 closed

[2021-04-09 11:55] #12395 closed

[2021-04-09 12:18] pascal-hauser commented on #17371
Is there any news on this or anything else I can do on my side @calvinsID @Kotasudhakarreddy ?

[2021-04-09 12:31] fabienso commented on #9176
i have the same issue with
`az ad app create --display-name GraphAPI_SP33 --native-app true --required-resource-accesses "[{'resourceAppId': '00000003-0000-0000-c000-0000000xxxxx', 'resourceAccess': [{'id': '65319a09-a2be-469d-8782-xxxx,'type': 'Role'}]}]" --available-to-other-tenants false`

[2021-04-09 12:49] #16386 closed

[2021-04-09 13:27] hgeorges opened #17634 "az login fails behind proxy"
**Describe the bug**

Running a session on a W2k16 VM behind firewalls/on corporate LAN.
Unable to sign into azure with az login. Used all resources found on the internet (including MS install documentation). Ran out of ideas.

Proxy set at the system level, including proxy authentication cert.
Browsers are able to open internet sites, including MS.

az login is able to open a browser, the signing

[2021-04-09 13:30] Sebas1337 opened #17635 "Az policy assignment slash is parsed as %2F"
When I try to create a policy assingment trough the CLI from a docker container (caf rover) the command fails. In the debug I see the slashes (/) are parsed as %2F. When I run the exact same command from MacOS the policy assignment creation is succesful.

Using the same login account and same Azure CLI version.

MacOs:

[code]

Docker container (MS CAF Rover (CentOS))

[code]

### **This is autoge

[2021-04-09 14:07] mizrael commented on #11341
any chance we can get an update on this?

[2021-04-09 15:02] minnieshi opened #17637 "parameters supply for type "SecureString""
[do we need to do anything special for parameter which types are **SecureString**?

e.g. in CLI, i successfully retrieved the value from a KV by running, and want to provided it to the json file which has parameter 'administratorLoginPassword' defined.

[code]
it does not seem to take effect for the password
]
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsof

[2021-04-09 15:16] ClaytonWork commented on #17600
@daxianji007 The issue looks to be resolved! Thank you for looking into it.

[2021-04-09 15:57] yonzhan commented on #17637
ARM

[2021-04-09 15:59] yonzhan commented on #17635
ARM

[2021-04-09 16:00] markcowl commented on #17607
Can we clarify the security concern?  Is it that users might inadvertently use an unexpected account when managing resources in a subscription, or is it something else?

[2021-04-09 16:00] yonzhan commented on #17634
@jiasli for awareness

[2021-04-09 16:50] vachillo commented on #17135
also seeing this same error when calling `az functionapp config container set --docker-custom-image-name <image>`

full stack trace:
[code]

[2021-04-09 16:54] Shuanglu opened #17638 "the 'az aks update --loadbalancer' doesn't keep the existing lb profile like BYO outbound ip if it's not included in the update command"
**Describe the bug**
the 'az aks update --loadbalancer' doesn't keep the existing lb profile like BYO outbound ip if it's not included in the update command

**To Reproduce**
1. az aks update -g xx -n xx--load-balancer-outbound-ips /subscriptions/xx/resourceGroups/MC_xx_xx_westus2/providers/Microsoft.Network/publicIPAddresses/test --debug
The pip 'test' will be updated as outbound ip of the cluste

[2021-04-09 17:03] Kotasudhakarreddy commented on #17596
@v-anvari - please look in to this.

[2021-04-09 18:17] emagers opened #17639 "No module named 'azure.keyvault.v7_0'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault secret set --vault-name {} --name {} --file {} --enco

[2021-04-09 20:14] CentriqTraining opened #17640 "az sql db copy returns mismatched/confusing error message"
**Describe the bug**
I'd like to say this is more of a DOCs bug maybe?
`az sql db copy` returns a confusing error message when family/f is set to Gen5 and Capacity/c is set to 1:
_"Cound not find sku in tier 'GeneralPurpose' with family 'Gen5', capacity 1.  Supported families & capacities for 'GeneralPurpose' are:  [(**'Gen5', 1**), ...]."_

**To Reproduce**
`az sql db copy --resource-group $rg --

[2021-04-09 21:02] SudoCory opened #17641 "WebApp:Cannot use az webapp up to upload my app"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Was attempting to upload the new version of the Web app I am making, due to a bug that has appeared that is only present when it is being hosted live. I have a need to continually upload a new version to set my solution.

But now it won't let me upload the app saying I am out of retries but won't tell me when I

[2021-04-09 22:10] minnieshi commented on #17637
Please close the ticket as I made a mistake during my test. The retrieved value can be used directly.

[2021-04-10 01:12] yonzhan commented on #17640
route to service team

[2021-04-10 01:12] #17637 closed

[2021-04-10 01:47] #15200 closed

[2021-04-10 01:50] #16893 closed

[2021-04-10 02:20] yonzhan commented on #17311
@anavinahar did you send out the email?

[2021-04-10 03:21] Shuanglu commented on #17638
closing... misunderstood the parameter. 2nd update contains the parameter '--load-balancer-managed-outbound-ip-count 1 ' and this will let AKS use managed outbound ip

[2021-04-10 03:21] #17638 closed

[2021-04-10 04:36] dwissaaj opened #17643 "Expected 1 module to load starting with 'azext_': got [] Azure-cli-ml"
**Describe the bug**
I install Azure-cli-ml but i got and bug or error when I try to log my web app

**Expected behavior**
Expected to success remove the extention so i can login or log,but the remove it self got bug

`
User@DESKTOP-TA09C83 MINGW64 ~/Desktop
$ az login
ERROR: The command failed with an unexpected error. Here is the traceback:
ERROR: Expected 1 module to load starting with 'azext_'

[2021-04-10 19:50] guidola commented on #17618
As a note, this happens when the task has been created with the `--auth-mode None` flag. If the task is recreated without the flag, it no longer crashes.

[2021-04-10 23:08] LeCampusAzure commented on #16780
Hello - I had the same error in Azure Cloud Shell.
I have solved by executing "az login --tenant xxxx-xxxxxxxxxxxxxx-xxxxx" inside the shell.

[2021-04-11 15:24] vytautasubartas commented on #17590
@fengzhou-msft  `az login` wasn't failing previously. But looks like that `az cloud set --name AzureCloud --profile latest` did the trick. Everything is working as expected now

[2021-04-11 15:24] #17590 closed

[2021-04-11 16:42] SHxKM commented on #16141
@yungezz were you successful in resolving this?

[2021-04-11 19:01] qwordy opened #17644 "Live test regression"
This issue is created by a program.
[Latest testing results of Azure CLI](https://clitestresultstac.blob.core.windows.net/latest/index.html)
[User Manual of Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EZGC9LwrN3RAscVS5ylG4HMBX9h7W0ZSA7CDrhXN5Lvx6g?e=V8HUmd)
[Upgrading API Versions in Azure CLI Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EcgPLHSkef9Mi14Rj

[2021-04-11 23:24] sodul commented on #17598
@jiasli We are using Python 3.94 with Pip 21.0.1.

In order to not get an error with modern pip we had to use the `--use-deprecated=legacy-resolver` command line option, without it installing our dependencies with the Azure packages resulted in an actual error. It seems that the rules are less strict in newer versions of the Azure API and we should be able to relax our requirements.txt file and dr

[2021-04-11 23:30] yonzhan commented on #17644
@msyyc @zhoxing-ms for awareness

[2021-04-12 01:14] #17537 closed

[2021-04-12 01:14] #13385 closed

[2021-04-12 01:29] jiasli commented on #17598
`--use-deprecated=legacy-resolver` is exactly the cause for the warning message. You may remove `--use-deprecated=legacy-resolver` and see what error `pip` gives. If there is anything we can be of help, please kindly let us know.

[2021-04-12 01:39] yungezz commented on #17639
hi @emagers could you pls help to upgrade to latest Azure CLI? there's packaging issue in 2.0.81, detail see https://github.com/Azure/azure-cli/issues/14011

[2021-04-12 02:06] jiasli commented on #9176
We currently don't have enough bandwidth maintaining `az ad` module which still uses AD Graph, please see https://github.com/Azure/azure-cli/issues/12946 for calling MS Graph with `az rest`.

[2021-04-12 02:15] yungezz commented on #16626
hi @guemuno  could you pls try the above solution from @qwordy : escape the `"`? thanks.

[2021-04-12 02:22] NeonOriginal opened #17645 "az aks get-credentials fails to recognize aks-preview is installed"
**Describe the bug**
I am trying to get the kubeconfig from an AKS cluster. It complains that `aks-preview` needs to be installed. I currently have the latest version of this package installed. It then doesn't find a suitable version to install because I have the latest and continues to fail. I have even tried downgrading that package and it doesn't work.

**To Reproduce**
az aks get-credentials -

[2021-04-12 02:23] yungezz commented on #17645
route to appropriate team

[2021-04-12 02:49] Juliehzl commented on #16652
Thanks for your feedback anyway!

[2021-04-12 02:49] #16652 closed

[2021-04-12 02:50] mdfranz commented on #7368
Not really (Lenovo Mediatek Chromebook)

[code]

and

[code]

[2021-04-12 03:10] fengzhou-msft commented on #17643
@dwissaaj please clean up your extension folder manually. It's `%USERPROFILE%\.azure\cliextensions`.

[2021-04-12 03:16] fengzhou-msft commented on #17645
@NeonOriginal you may be on a profile that does not support aks command. Please use the latest profile: `az cloud set --name AzureCloud --profile latest`

[2021-04-12 03:49] fengzhou-msft commented on #17592
@dikhakha it looks like the extension has an invalid version:

We bumped the version for setuptools and pip recently. Please use an extension version that is compliant with [PEP 440](https://www.python.org/dev/peps/pep-0440/).

[2021-04-12 04:13] emagers commented on #17639
@yungezz Hey, I had to completely uninstall the old version and then reinstall following those steps. It did fix the problem. Thanks!

[2021-04-12 04:13] #17639 closed

[2021-04-12 06:08] Kotasudhakarreddy commented on #17641
@SudoCory - Could you please retry and share me the `--debug` log if you still face the issue.

[2021-04-12 06:15] houk-ms commented on #16514
Hi @MarkAtAgilliance, thanks for reporting this.

The reason is we try to retrive the `object_id` from the signed-in user/service principal and then set default access policy for the `object_id` when creating a keyvault. While i am afraid we can not retrive the `object_id` when you login with managed identity.

For your case, my suggestion is
1. Create the keyvault with `--no-self-perms` parameter

[2021-04-12 06:24] msyyc commented on #16654
@harics24 Hari Prasad Perabattula FTE when will '2021-01-01' be merged into 'master' of main repo?

[2021-04-12 06:42] houk-ms commented on #16514
@MarkAtAgilliance I'll close the issue now, we will open a feature request for this if this behavior can be improved.

[2021-04-12 06:42] #16514 closed

[2021-04-12 06:51] #17158 closed

[2021-04-12 07:02] djbb7 opened #17648 "Cannot list or create role assignments without a subscription"
## Describe the bug

On the Azure portal it is possible to assign application roles to AD groups without using a subscription. However, when trying to perform the same action with the az cli tool a subscription is mandatory.

**Command Name**

`az role assignment list`

**Errors:**
[code]
(the command uses my tenant id as value for the subscription)

## To Reproduce:
- I am using Azure just for AD

[2021-04-12 07:06] Kotasudhakarreddy commented on #17595
@MikeBecatti - The certificate imported at `webapp` level would be available at `slot` level too. So `--slot` parameter is not required.
Closing this issue as the the command is working as expected .

[2021-04-12 07:06] #17595 closed

[2021-04-12 07:13] Kotasudhakarreddy commented on #17500
closing due to lack of response. Please file a new issue if this is still a problem.

[2021-04-12 07:13] #17500 closed

[2021-04-12 07:15] qwordy opened #17649 "[Compute] vm create, support network configuration in --count mode"
**Is your feature request related to a problem? Please describe.**

Support the following parameters  in `--count` mode.
[code]

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-04-12 07:38] yungezz commented on #17223
hi @roipmsft , Swagger change https://github.com/Azure/azure-rest-api-specs/pull/13220#pullrequestreview-633218158 need to be checked in firstly as prerequisite for Azure CLI work. The workflow is: Swagger merged into master -> Python SDK released -> Azure CLI development and release(Azure CLI depends on Python SDK)

[2021-04-12 07:52] PARADISSEEKR commented on #17170
How to reproduce this error.

[2021-04-12 08:36] msyyc commented on #17602
'az network application-gateway address-pool update -g yyc --gateway-name ag-yyc -n appGatewayBackendPool --add backendAddresses ipAddress=10.0.0.5' could work and we will update '--help' message. Thank you for your feedback.

[2021-04-12 08:36] #17602 closed

[2021-04-12 08:43] msyyc commented on #17572
'az network application-gateway address-pool update -g yyc --gateway-name ag-yyc -n appGatewayBackendPool --remove backendAddresses 0' could remove the the first item of the list for 'backendAddresses'.

[2021-04-12 08:44] yonzhan commented on #17648
@jiasli for awareness

[2021-04-12 09:34] xfz11 commented on #17619
You'd better upgrade the Azure CLI by `az upgrade` and rerun the commands. According to my test, this problem has been resolved   in the latest version

[2021-04-12 09:50] fabienso commented on #9176
Thanks @jiasli  - it works with the following command line:

` az rest --method POST --uri "https://graph.microsoft.com/beta/applications" --body "{'displayName': 'testApp1234', 'requiredResourceAccess':[{'resourceAppId': '00000003-0000-0000-c000-000000000000', 'resourceAccess': [{'id': '65319a09-a2be-469d-8782-f6b07debf789','type': 'Role'}]}]}"`

[2021-04-12 10:37] jauwecbwq opened #17651 "az sql db update fails {"error":{"code":"InvalidDatabaseCreateOrUpdateRequest","message":"The request body for the create or update database operation is invalid."}}"
**Describe the bug**
Scaling DB from S2 to P1 fails.
Current size:   -g myrg -s mysrv -n mydbname --edition Standard --service-objective S2 --max-size 250GB
New size:
az sql db update -g myrg -s mysrv -n mydbname --edition Premium --service-objective P2 --max-size 250GB

Fails if db is part of failover group and outside of failover group, same happens without --max-size.
Oddly some databases scale

[2021-04-12 10:39] jiasli commented on #9176
I am glad it works for you.

Though I didn't quite understand the problem yet, here are some information that may be helpful.

From the result of `az ad sp show --id 00000003-0000-0000-c000-000000000000`, we can see

[code]

is under `appRoles` which should be **application permission**, so `type` should be `Role`, instead of `Scope`.

`az ad app permission add` shows some help about their relatio

[2021-04-12 10:57] fabienso commented on #9176
The problem is simply that it does not recognize the "Type" -> "Role" under the permissions when the resource requirements are passed and throws the error (which is in the debug log). "Role" is not recognized or accepted when adding permissions to the Active Directory applications.

[2021-04-12 11:52] yonzhan commented on #17651
route to service team

[2021-04-12 11:58] jiasli commented on #9176
@fabienso anyway, let's stick to `az rest` for now. We will revisit this when we migrate to MS Graph in the future.

[2021-04-12 12:15] leug85 commented on #17619
I am sorry, i put the feedback with an olded version. Here is the same with the last version :

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az vm identity assign`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pr

[2021-04-12 12:18] supereddie opened #17652 "Parameters in documentation are not recognized"
`az network vnet-gateway create` has a couple parameters in the documentation that are not recognized by the cli:
* `--aad-tenant`
* `--aad-issuer`
* `--aad-audience`
* `--vpn-auth-type`

azure-cli version 2.21.0

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 36e274d7-9619-d96b-4389-8de0883b98e6
* Version Independent I

[2021-04-12 12:22] jauwecbwq commented on #17651
Just a note, command was working fine for more than 6 months, at some point started to throw error.

[2021-04-12 12:23] yonzhan commented on #17652
network

[2021-04-12 12:33] yungezz commented on #17619
#14287

[2021-04-12 12:52] jauwecbwq commented on #17651
An update -  **stopping geo replication** solves the issue, however I assume this is a bug as it should clearly handle or describe why it cannot change sku, similar when we try to scale primary db first it gives warning about geo replicated db size incompatibilities on secondaries.
------------
Here is latest log
az sql db update -g myrg -s mysrv -n mydbname --tier Premium --service-objective P1 -

[2021-04-12 13:00] miketimofeev commented on #17555
Hi @fma-wizata!
I'm from the team owning hosted VMs administration and deployment. We're investigating the issue in our repo here as well https://github.com/actions/virtual-environments/issues/3143
Azure Cli has its own Python distribution, but the latest az-cli version seems to have a lack of setuptools and wheel python modules. The workaround is to install these modules in runtime via powershell

[2021-04-12 13:09] kulomkar93 opened #17653 "Issue on sandbox while creating function"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2021-04-12 14:14] blinkyblink commented on #17346
I created an Azure support request since it appears this issue happens through the portal as well.

However, I am keeping this issue open as the failing command fails silently which makes it look like the command succeeded.

[2021-04-12 14:22] yonzhan commented on #17653
route to service team

[2021-04-12 14:39] FMauroy commented on #17555
Priviets @miketimofeev,
it worked, thanks a lot :)
Don't know why my attempts didn't, I already tried to install setuptools and wheel (but not install, maybe that's it).
Thanks and best regards
fred

[2021-04-12 14:39] #17555 closed

[2021-04-12 15:13] miketimofeev commented on #17555
@FMauroy you've tried to install it using the default pip and not the one that comes along with azure-cli.
I think the issue should remain open because it's only a workaround, but the root cause needs to be fixed from the azure-cli side.

[2021-04-12 15:15] lonewarrior556 commented on #14880
Will this ever be done?

[2021-04-12 15:18] NeonOriginal commented on #17645
Thank you. Forgot I messed with that option after there was an issue our company was experiencing last week.

[2021-04-12 15:19] #17645 closed

[2021-04-12 16:39] fabiocav commented on #17596
@apawast can we please make sure this issue is in the triage list so we can discuss? Thanks!

[2021-04-12 17:21] fabiocav commented on #17533
@apawast can we look at this issue in triage? Thanks!

[2021-04-12 17:28] #17457 closed

[2021-04-12 18:28] rajsell commented on #17586
@xfz11 it's not working with that.
az sig image-version update --no-wait -g myresourcegroup --gallery-name mygalleryname --gallery-image-definition myimagedefinition --gallery-image-version 1.2021.03291732 --add publishingProfile.targetRegions  {\"name\": \"centraluseuap\", \"regionalReplicaCount\":3,\"storageAccountType\":\"Standard_LRS\"} {\"name\": \"eastus2euap\", \"regionalReplicaCount\":3,\"

[2021-04-12 18:32] nkadochn commented on #17588
I expect Azure cloud commands to work from Azure ML.

azureuser@standard-4c-16m-100gb:/mnt/batch/tasks/shared/LS_root/mounts/clusters/standard-4c-16m-100gb/code$ az storage account list
The command failed with an unexpected error. Here is the traceback:
APIVersion 2021-01-01 is not available
Traceback (most recent call last):
  File "/anaconda/envs/azureml_py36/lib/python3.6/site-packages/knack/cl

[2021-04-12 19:21] GoetzGoerisch commented on #7368
Looking forward to native Arm64 versions.

`Linux penguin 5.4.88-12224-gf05236dbdecf #1 SMP PREEMPT Fri Feb 19 05:43:30 PST 2021 aarch64 GNU/Linux`

[2021-04-12 22:02] MarkAtAgilliance opened #17654 "az extension add for Application Insights produces Directory not empty error."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Adding extension for app insights to a deployment script has started to error.  Has been working up to now.  The script is run from a Windows Server build server.  The script is initiated from DevOps release pipeline.

Error is 'The command failed with an unexpected error. Here is the traceback:  ERROR: [WinErr

[2021-04-12 22:08] MarkAtAgilliance commented on #17654
Seems like there is a change to behavior and need to set.  Did not see this in any release notes tho.
az config set extension.use_dynamic_install=yes_without_prompt

[2021-04-12 22:08] #17654 closed

[2021-04-12 22:57] altnp opened #17655 "az pipeline create does not set Trigger Setting: "Report build status" to true for Azure Devops backed Pipelines"
**Describe the bug**

When creating a pipeline backed by AzureDevops Git Repos the setting "Report build status" is not set to true, and there is no way to set it via CLI.

This differs from the pipeline creation experience from the UI that enables this setting automatically (you are not prompted to set this either way).

**To Reproduce**

`az pipelines create --name {Name} --repository {azure dev

[2021-04-12 23:02] trailmax commented on #8506
April 2021, still hit the same issue. I wish this was better documented.

[2021-04-12 23:20] meet1993shah opened #17656 "Support for DiskRP 2020-12-01 changes"
**Resource Provider**
Microsoft.Compute/DiskRP

**Description of Feature or Work Requested**
Feature - Support for Hibernating VMs (Persist supportsHibernation flag on managed disks)

IAAS VMs in Azure will support a new state: hibernation. From the fabric/CRP point of view, a hibernating VM is deallocated; however, before deallocation, the VM saves the memory state to the disk, thus allowing a fa

[2021-04-13 00:14] yonzhan commented on #17655
route to service team

[2021-04-13 00:36] stefanushinardi opened #17657 "[Function App] Update in stacks API to include PowerShell on Linux support"
as titled.

cc: @pragnagopa , @AnatoliB , @Francisco-Gamino , @gzuber

[2021-04-13 00:43] Francisco-Gamino commented on #17657
Adding Stack API PR link: https://github.com/pragnagopa/azure-functions-supported-runtime-stacks/pull/29.

[2021-04-13 01:06] yonzhan commented on #17657
route to service team

[2021-04-13 02:01] Juliehzl commented on #17588
In Azure Public Cloud and production Azure CLI, we do support 2021-01-01 api version. But for Azure ML, it seems not and Azure ML is in azure-cli-ml extension, which source code is owned by @j-so team.
@j-so could you check azure-cli-ml extension for the issue?

[2021-04-13 02:40] shaneahenderson opened #17658 "az account management-group list only lists tenant root"
_az account management-group list_ only lists the Tenant Root Group.  It should have an option to work recursively like az account management show does.

Version:  az

[Enter feedback here]
**Version details below:**
az --version
azure-cli                         2.21.0

core                              2.21.0
telemetry                          1.0.6

Python location 'C:\Program Files (x86)\Micro

[2021-04-13 02:43] yonzhan commented on #17658
@jiasli for awareness

[2021-04-13 03:50] jiasli commented on #14880
We currently don't have enough bandwidth maintaining `az ad` module which still uses AD Graph, please see https://github.com/Azure/azure-cli/issues/12946 for calling MS Graph with `az rest`.

[2021-04-13 04:03] jiasli commented on #16591
We currently don't have enough bandwidth maintaining `az ad` module which still uses AD Graph, please see https://github.com/Azure/azure-cli/issues/12946 for calling MS Graph with `az rest`. Thanks for your understanding.

[2021-04-13 04:07] #16591 closed

[2021-04-13 04:11] tonybaloney commented on #17256
[code]

In the UI I can select between Python versions 3.8-3.6. If I select 3.7 or 3.8 it will then grey out Windows as the option.

It never crossed my mind to specify `--linux` to get the full list of what is available on Linux. So by default it only lists what is available on Windows?

[2021-04-13 04:43] andyliuliming commented on #14975
+ @FumingZhang to take a look.

[2021-04-13 05:08] mkunze8187 opened #17659 "WebApp:az webapp config ssl list is not consistently listing all certificates imported on resource group"
Did something change with the 'az webapp config ssl list' command, as it is nolonger working for me.

 On Saturday I ran a deployment process from Azure DevOps that included getting the list of all SSL certificates for a webapp and it successfully ran and returned the list of certificates.   Today, running the same script against the same appservice it returns no certificates.   I double checked t

[2021-04-13 05:10] xfz11 commented on #17586
There are 2 restrictions for the json string in order to run the command successfully.
1, no space is allowed in json string.
wrong:
`{\"name\": \"centraluseuap\", \"regionalReplicaCount\":3,\"storageAccountType\":\"Standard_LRS\"}`
right:
`{\"name\":\"koreacentral\",\"regionalReplicaCount\":3,\"storageAccountType\":\"Standard_LRS\"}`
2, {} is also needs to escape in linux bash
`\{\"name\":\"korea

[2021-04-13 05:14] qwordy commented on #14975
I can't open CLI error dashboard.
[code]

[2021-04-13 05:52] dkkapur commented on #17530
tagging appropriate person for followup! @macolso

[2021-04-13 05:52] dkkapur commented on #13352
tagging appropriate person for followup! @macolso

[2021-04-13 05:52] dkkapur commented on #15225
tagging appropriate person for followup! @macolso

[2021-04-13 05:53] dkkapur commented on #16499
tagging appropriate person for followup! @macolso

[2021-04-13 06:18] xfz11 commented on #17610
#17586

[2021-04-13 06:20] xfz11 commented on #17586
#17610

[2021-04-13 06:20] #17586 closed

[2021-04-13 06:31] xfz11 commented on #17619
your errors omit several logs in the middle, could you please provide the complete error message

[2021-04-13 06:31] xfz11 commented on #17619
your errors omit several logs in the middle, could you please provide the complete error message

[2021-04-13 07:06] leug85 commented on #17619
here is the full logs. I remove sensitive data with 'XXXX' :

cli.knack.cli: Command arguments: ['vm', 'identity', 'assign', '-g', 'XXXX', '-n', 'XXXX', '--identities', 'XXXX', '--debug']
cli.knack.cli: __init__ debug log:
Enable color in terminal.
cli.knack.cli: Event: Cli.PreExecute []
cli.knack.cli: Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x1085

[2021-04-13 07:35] mrptsai opened #17662 "[BASTION] Unable to reference VNET in a different resource group"
I am attempting to create a Bastion Host using an existing VNET. Instead of using the Name of the VNET, I tried to use the ID of the VNET and the ID of Bastion Subnet for the VNET Name.

CLI Version
2.21.0 (can't download 2.22.0 yet)

Command

[code]

Error:

[code]
It seems that the Subnet ID is being appended as the VNET name.

[2021-04-13 07:50] yonzhan commented on #17662
network

[2021-04-13 07:57] naveenkumartd17 opened #17663 "Az CLI login non-interactive with username and password throws ascii encode error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Login to Azure using CLI  az login non-interactive throws 'ascii' codec can't encode characters in position 1617-1618: ordinal not in range(128)

**Command Name**
az login -u naveenkumar.td@** -p ****

**Errors:**

The command failed with an unexpected error. Here is the traceback:
'ascii' codec can't encode c

[2021-04-13 07:59] yonzhan commented on #17663
@jiasli for awareness

[2021-04-13 08:05] naveenkumartd17 commented on #17663
This issue happens in Windows server 2016

[2021-04-13 09:02] #16579 closed

[2021-04-13 09:04] #16882 closed

[2021-04-13 09:36] jiasli commented on #17663
Looks like a same issue as https://github.com/Azure/azure-cli/issues/17444. We fixed it in https://github.com/AzureAD/azure-activedirectory-library-for-python/pull/251 and released it in 2.22.0. Please update to the latest version and see if the issue persists.

[2021-04-13 09:39] qwordy commented on #17065
@ramankumarlive
1, 2, 5 are finished.
4, 6, I need to test.
3, do you expect me to add a validation rule in Azure CLI?

[2021-04-13 09:43] IJsbrandVV opened #17665 "az bicep build broken in CLI 2.22.0"
**Describe the bug**
Running `az bicep build` gives a python error:

[code]

**To Reproduce**

- Upgrade to Azure CLI 2.22.0
- Run `az bicep build -f somefile.bicep`

**Expected behavior**

Bicep build should work

**Environment summary**
Installed using `az upgrade` and repaired using the MSI. Both don't work.
Windows 10, x64. `az bicep build` command ran from a git bash terminal.

**Additional c

[2021-04-13 09:47] BMeyn commented on #15010
As a workaround you can move the private dns zone into a new ressource group and than just delete the new created ressource group

[2021-04-13 09:50] yonzhan commented on #17665
route to service team

[2021-04-13 09:50] fbuitron opened #17666 "Installing azure-cli in linux fails 403 Forbidden"
**Describe the bug**
According to the official docs: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=script

This command is used for installing azure-cli in any linux distribution:

[code]

Yesterday that command in my CI (Codeship) was failing with the following error:

[code]

I was digging all day yesterday and found out that Bintray was doing a brown-out session in a

[2021-04-13 09:53] xfz11 commented on #17619
Could you run `az cloud show --query profile` to check your profile?
Your request's api version is '2017-12-01'  and you could use `az cloud set -n <cloud name> --profile latest` to update your cloud profile first.
Then try `az vm identity assign` again

[2021-04-13 10:06] leug85 commented on #17619
Great it's working on my computer (Mac OSX). I will check for my other VM (ubuntu 18) if i could fix it also with this method.

[2021-04-13 10:06] yonzhan commented on #17610
Compute

[2021-04-13 10:16] yonzhan commented on #17649
Compute

[2021-04-13 10:20] yonzhan commented on #17659
route to service team

[2021-04-13 10:21] #17663 closed

[2021-04-13 11:13] elazulai opened #17670 "Azure Firewall Start/stop CLI"
**Azure Firewall**

**CLI support for start/stop Azure Firewall**

**2020-11-01**

**https://github.com/Azure/azure-rest-api-specs/tree/master/specification/network/resource-manager/Microsoft.Network/stable/2020-11-01**

**Mat 2021**

[2021-04-13 11:16] yonzhan commented on #17670
network

[2021-04-13 11:33] leug85 commented on #17619
I have change the profil on my ubuntu VM, and it is also ok.

[2021-04-13 11:33] #17619 closed

[2021-04-13 12:19] RichardNixon52 commented on #15010
@BMeyn unfortunately this solution does not work for me, it's not possible to move the DNS zone, stuck in some faulty state now.

[2021-04-13 12:25] Wang-Caixing opened #17673 "unrecognized arguments: --mode system/user of 'az aks nodepool add' for private aks cluster in Mooncake"
[Enter feedback here]

The arguments '--mode system/user' cannot be recognized in command 'az aks nodepool add' for private aks cluster in Mooncake.

Examples:
zhuang@linuxAgent:~$ _az aks nodepool update --cluster-name AKSforDevOps --name newpool0413 --resource-group AKSforDevOpsGroup --mode system_
unrecognized arguments: --mode system      <==================

TRY THIS:
az aks nodepool update -

[2021-04-13 13:47] lonewarrior556 commented on #14880
The permissions are not the same, making rest calls as using az ad module

[2021-04-13 14:10] naveenkumartd17 commented on #17663
Thank you @jiasli. I have upgraded to latest version and it is working as expected.

[2021-04-13 14:20] ramankumarlive commented on #17065
@qwordy
#3 - good to add validation to fail fast but not a P0 requirement
You can use ZRS disks in East US EUAP region. Let me tell you how to enable the feature for your subscription.

[2021-04-13 14:53] devu1997 commented on #11980
I am observing this for successful deployment with status 202
<img width="1135" alt="Screenshot 2021-04-13 at 8 21 32 PM" src="https://user-images.githubusercontent.com/28042573/114573418-fd613b00-9c95-11eb-94d5-060cf8b3146d.png">

[2021-04-13 16:04] vivere-dally opened #17674 "az webapp create should have a --docker-registry-server-url parameter"
**Is your feature request related to a problem? Please describe.**

I want to deploy a multi-container web app but I ran into two issues.
1. `az webapp create` doesn't have a `--docker-registry-server-url` parameter but it does have a `--docker-registry-server-user` and a `--docker-registry-server-password`. This seems strange. What is the reasoning behind that parameter missing? And if there is o

[2021-04-13 16:26] fluffy-cakes commented on #17665
I get the same when trying to run a deployment via `az deployment...`

[code]

I am running the deployment from a fresh build of my Docker container built this morning: https://github.com/fluffy-cakes/devops_tools/

[2021-04-13 17:20] macolso commented on #15225
thanks for bringing this to the attention of the product team. We are triaging issues and will circle back with an ETA.

[2021-04-13 17:31] avanigupta commented on #17576
Fixed in [Azure CLI 2.22.0](https://github.com/MicrosoftDocs/azure-docs-cli/blob/master/docs-ref-conceptual/release-notes-azure-cli.md#app-config).

[2021-04-14 00:45] itahirov opened #17676 "WebApp:az webapp config access-restriction add -g <gr_name> -n <app_name> --rule-name test4 --action Allow --ip-address <ip_address> --priority 40 failing"
**Describe the bug**
The command failed with an unexpected error. Here is the traceback:
**'ServiceTag' is not valid value for enum <enum 'IpFilterTag'>**
Traceback (most recent call last):
  File "D:\a\1\s\build_scripts\windows\artifacts\cli\Lib\site-packages\msrest/**serialization.py", line 999, in serialize_enum**

**To Reproduce**

run the command in description, added service tag to my networ

[2021-04-14 00:50] simnyc opened #17677 "Support for Traffic Manager target resources for DNS zone export"
**Is your feature request related to a problem? Please describe.**
The `dns zone export` command does not export "alias recordsets", which results in incomplete zone files. In this case I'm specifically interested in supporting Traffic Manager Profile targets.

**Describe the solution you'd like**

The `export` command should create one A record for each Traffic Manager Profile target that has sta

[2021-04-14 01:07] yonzhan commented on #17677
network

[2021-04-14 01:55] hgeorges commented on #17634
Hello, I've been able to resolve the issue, going back and forth through a few changes/iterations.

[2021-04-14 01:55] DevOps-zhuang commented on #17673
add more information.
1) A new AKS system node pool can be created successfully on Azure portal. and it doesn't support attach to subnet there, so we have to use Azure CLI.
2), when using Azure CLI,  the --mode system are not recognized.

it is a urgent customer case, are advice are greatly appreciated. thanks.

[2021-04-14 02:08] yungezz commented on #17676
route to appropriate team

[2021-04-14 02:20] zhoxing-ms commented on #17665
@shenglol Could you please help to have a look at this issue~

[2021-04-14 02:22] shenglol commented on #17665
@zhoxing-ms already submitted a PR: https://github.com/Azure/azure-cli/pull/17675. Can you take a look?

[2021-04-14 02:25] shenglol commented on #17665
For those who get this error, please use the temporary workaround mentioned in https://github.com/Azure/bicep/issues/2243#issuecomment-818914668 to the configure Azure CLI to use Python 3.8.

[2021-04-14 03:22] xfz11 commented on #17574
Could you provide the REST API to the command `az sig share` ? I don't see the corresponding API and arguments in the swagger file

[2021-04-14 04:44] yonzhan commented on #17634
@hgeorges glad to know your issue was resolved by yourself. Could this issue be closed?

[2021-04-14 04:47] #17228 closed

[2021-04-14 04:47] #17124 closed

[2021-04-14 05:33] yungezz commented on #17674
route to appropriate team

[2021-04-14 05:36] yungezz commented on #17666
hi @fengzhou-msft could you pls have a look?

[2021-04-14 05:36] yungezz commented on #17673
route to appropriate team

[2021-04-14 07:03] Stephanvs opened #17680 "Broken link in `az vmss perform-maintenance` section"
I think the following section contains a broken link (note the space before the dash between `virtual-` and `machine`;

And I expect that it should be:

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0408c294-207a-2b72-7b93-e09121602b75
* Version Independent ID: 852cb67b-70c6-b811-3b0a-5d5b84b8a911
* Content: [az vmss](

[2021-04-14 07:05] yungezz commented on #17680
hi @BigCat20196 could you help to have a look?

[2021-04-14 07:47] wcc8088 opened #17681 "'az aks create' error if name contains character underscore(_)"
**Describe the bug**

$> az aks create --resource-group wooccdocker -n "aks_woocccluster" --node-count 1
_--name cannot exceed 63 characters and can only contain letters, numbers, or dashes (-)._

**Expected behavior**

According to the document, underscore can be used for names.
Entity | Scope | Length | Valid Characters
-- | -- | -- | --
managedClusters | resource group | 1-63 | Alphanumerics, u

[2021-04-14 08:08] marsch commented on #6638
any updates here?

[2021-04-14 08:20] qwordy commented on #17656
We are planning it.

[2021-04-14 08:38] #17665 closed

[2021-04-14 08:53] IJsbrandVV commented on #17665
Just to be clear. While a PR has been closed, no new version of the Azure CLI has been released.

Can we just use 2.22.0 now or should we wait for a patch release 2.22.1?

[2021-04-14 08:56] fluffy-cakes commented on #17665
@IJsbrandVV , i noted that too, however the PR was pushed into the Dev branch, which i assume means will be in their backlog for the next release?

`zhoxing-ms merged 1 commit into Azure:dev from shenglol:bicep-python3.6-fix 16 minutes ago`

[2021-04-14 08:58] xfz11 opened #17682 "[Compute] Pointless error message in `vm identity assign`"
As #17619

**Command Name**
`az vm identity assign`

If cloud profile is old, CLI will report a NoneType error
[code]

[2021-04-14 08:59] xfz11 commented on #17682
compute

[2021-04-14 09:01] xfz11 commented on #17682
#17619

[2021-04-14 09:10] BigCat20196 commented on #17680
hi @Stephanvs Thank you for finding out this issue. You're right.

I am considering fixing it.

[2021-04-14 10:03] Kotasudhakarreddy commented on #17674
@calvinsID can you please take a look at this issue.

[2021-04-14 10:12] Kotasudhakarreddy commented on #17659
@mkunze8187 - I am unable to repro the issue. Please try with latest `CLI` version `2.22.0`. If you still face the issue check with `--debug` logs and share with us.

[2021-04-14 10:20] Kotasudhakarreddy commented on #17676
@itahirov  I am unable to repro the issue. If you still face the issue please retry and share  `--debug` logs with us.

[2021-04-14 11:16] myhau opened #17688 "azure-cli keeps trying to install azure-devops extension despite it being installed (when --organization parameter is in a specific place)"
## Describe the bug

**Command Name**
All commands related to azure devops / pipelines (e.g. `az devops`) where **--organization parameter is after the command (not after subcommands)**.

For example, this happens for `az devops --organization '{org}' project list`, but not for `az devops project list --organization '{org}'`.

**Errors:**

Command keeps printing this message and trying to install

[2021-04-14 11:51] sfright opened #17689 "application-insights extension not detected properly and cannot be used"
## Describe the bug

Attempting to run an application insights query gets command into an "module is missing, needs to be installed, module is already up to date, module is missing" loop.

**Command Name**
[code]

**Errors:**

See above repeating indication module is not installed/installed

## Expected Behavior

Installed extension would be identified and used.

## Environment Summary
[code]

[2021-04-14 12:24] itahirov commented on #17676
[repro.txt](https://github.com/Azure/azure-cli/files/6310736/repro.txt)
@Kotasudhakarreddy  thank you for looking into the issue, i have uploaded debug file

[2021-04-14 12:30] jiasli commented on #17648
`az role` is for [Azure role-based access control (Azure RBAC)](https://docs.microsoft.com/en-us/azure/role-based-access-control/overview) permissions. What you want is `appRoleAssignment` from Microsoft Graph API which is a totally different topic.

For now, you may follow https://github.com/Azure/azure-cli/issues/12946 to use `az rest` to call the Microsoft Graph API.

[2021-04-14 12:30] #17648 closed

[2021-04-14 12:45] jiasli commented on #17648
I provided extremely detailed instructions in https://github.com/Azure/azure-cli/issues/12137. Hopefully it can unblock you.

(I am not from AAD team, so don't take my comments seriously. 🤣)

[2021-04-14 12:52] yungezz commented on #17688
hi @fengzhou-msft, could you look is this a package issue or devops extension specific issue? thanks

[2021-04-14 12:52] yungezz commented on #17682
#14287

[2021-04-14 12:54] jiasli commented on #12137
These are good questions.

Well, it is actually already not recommended to use it (from Azure CLI perspective), but we will keep it until we receive further notice from AAD service team about the shutting down schedule.

Unfortunately not for now, as we (Azure CLI) simply don't have enough bandwidth developing another wrapper for the ever-growing Microsoft Graph API. 😢

As I pointed out in https:/

[2021-04-14 13:15] markrzasa commented on #16499
This should be fixed in version 2.22.0 of azure-cli.

[2021-04-14 13:45] madsd commented on #16939
@mksuni did you update the docs? @tjprescott can we close this issue?

[2021-04-14 13:52] madsd commented on #12834
@panchagnula can we close this, as it is supported through use of subnet resource ID.

[2021-04-14 13:54] fengzhou-msft opened #17690 "[AKS] code bug in _handle_merge which impacts aks_get_credentials"
The below code deletes elements in `existing[key]` while looping through it, this would cause a skip of the element right after the one that is deleted (as the iterator will advance when deleting happens) and will cause bugs if two consecutive items need to be deleted.
https://github.com/Azure/azure-cli/blob/3226fae922e423cdc46bf3bf6f14ac9e57a66ea0/src/azure-cli/azure/cli/command_modules/acs/custo

[2021-04-14 14:50] bmedlin opened #17692 "Confusing wording"
"Manage Azure Resource Manager template deployment at resource group."

This is a poorly formed sentence. What is being implied here but not stated? "At resource group *scope*" ? *Level*?

Does 'subgroup' == 'scope'? If so - why are both terms used?
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 649a07bb-0fa2-6c51-2820-

[2021-04-14 15:22] yonzhan commented on #17692
ARM

[2021-04-14 16:39] panchagnula commented on #12834
@batanun please re-open or create new issue if using SubNet ID doesn't resolve this. Thanks.

[2021-04-14 16:39] #12834 closed

[2021-04-14 17:29] jcwchen commented on #8114
Looking forward to a concrete explanation and solution for it from 2021... It makes no sense why we cannot remove those deprecated secrets.

[2021-04-14 17:36] elliott-fwdsec commented on #2677
`az vm show -d --name myVM --resource-group myRG --query publicIps`

[2021-04-14 18:41] freshtimi opened #17693 "Cant enable azure policy add ons in aks cluster via cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons --addons {} --name {} --resource-group {}`

##

[2021-04-14 18:46] briancjordan opened #17694 "AZ Bicep version and decomplie failing for versions v0.3.256 and v0.3.126 -- same "fromisoformat" attribute error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Running bicep version and decompile command fails.  Expect build to do the same but have not tried yet.

**Command Name**
`az bicep version`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

Execute co

[2021-04-14 19:17] meet1993shah commented on #17656
this feature is not yet enabled for preview, so will need to remove this issue. Will create the issue again when the preview is announced.
Thanks and sorry for this.

[2021-04-14 20:20] rajdhandus opened #17695 "Error from CloudShell - Failed to connect to MSI. Please make sure MSI is configured correctly."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp show --id {} -o {} --query {} --debug`

## Expected Behavior

##

[2021-04-14 20:38] toddysm opened #17696 "az CLI stuck in extension installation loop"
**Describe the bug**
Typing the following command puts the CLI in continuous loop:
[code]
I understand this is invalid command but it seems it spins off multiple processes in a recursion.

**To Reproduce**

In an Ubuntu 20.04 Terminal (WSL) type the above command with a valid subscription id.

**Expected behavior**

Ideally replying with invalid command error. Or installs the extension and exits

[2021-04-14 20:48] meet1993shah commented on #17656
please disregard the above comment

[2021-04-14 21:52] ishaniGupta27 commented on #10400
I am using REST API and I see the behavior persist:

When I run command on the vmss instance as below, the output is as expected

**Input :**
 {
  "commandId": "RunShellScript",
  "script": [
    **_"echo $1 $2"_**
  ],
  "parameters": [
    {
      "name": "arg1",
      "value": "hello"
    },
    {
      "name": "arg2",
      "value": "world"
    }
  ]
}

**Output : Enable succeeded: \n[stdout]\

[2021-04-15 00:19] winthrop28 commented on #15520
@yonzhan has there been any progress on this?

[2021-04-15 00:29] yonzhan commented on #17694
route to service team

[2021-04-15 00:32] yonzhan commented on #17695
@jiasli for awareness

[2021-04-15 00:34] yonzhan commented on #15520
network service team should look into this issue

[2021-04-15 00:36] yonzhan commented on #17696
@jiasli for awareness

[2021-04-15 01:08] yungezz commented on #17693
route to appropriate team

[2021-04-15 02:18] zhoxing-ms commented on #17665
@IJsbrandVV @fluffy-cakes Yes, closing PR usually only means that the code in PR is merged into the dev branch, but the related code needs the next sprint to be released.
Maybe you can refer to the solution mentioned by shenglol as a [workaround ](https://github.com/Azure/bicep/issues/2243#issuecomment-818914668)

[2021-04-15 02:19] zhoxing-ms commented on #17665
@shenglol May I ask if this issue has a wide impact on users? If only a small number of users are affected, can they use the private package of edge build at first, and we will release it in the next sprint (05-04)?
If hotfix is necessary, what is the expected release time?

[2021-04-15 02:23] zhoxing-ms commented on #17665
If you need to launch hotfix, please use the package of edge build to do test to ensure that the quality meets the expectation. And then we'll help you release the hotfix

[2021-04-15 02:32] #16658 closed

[2021-04-15 02:48] qwordy commented on #17656
@meet1993shah
It is already in 2020-12-01 disk.json.
[code]
Is this feature available now?

[2021-04-15 03:08] msyyc commented on #15520
@timvanderweijde @winthrop28 We could not reproduce the error without specific parameters. We need more detailed parameters instead of ‘{}’.
![image](https://user-images.githubusercontent.com/70930885/114808433-cd6f8000-9dda-11eb-993f-6331117fe3ac.png)

[2021-04-15 03:31] fengzhou-msft commented on #17696
When parsing `az account -s sub_id`, the command parser treats `sub_id` as an invalid choice value for `account`, then it triggered dynamic extension install which roughly parse the command to be `az account` (drops everything after `-`), `az account` matches command prefix in extensions `account` and `subscription` and prompts for extension installation.

This PR #17698 fixes the extension instal

[2021-04-15 03:47] AbelHu opened #17699 "[AKS] Microsoft docs should not contain employee's alias"
[Enter feedback here]
Microsoft docs should not contain employee's alias `xiazhan`
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 560b49aa-3fcc-51a1-5b72-d126712d462c
* Version Independent ID: 990a716e-67c1-585a-831c-1ef5d6a5d979
* Content: [az aks maintenanceconfiguration](https://docs.microsoft.com/en-us/cli/a

[2021-04-15 04:48] Dust75 opened #17700 "AttributeError: type object 'datetime.datetime' has no attribute 'fromisoformat'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az bicep version`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az bicep version`

## Expected Behavior

## Environment Summary
[code]

[2021-04-15 05:48] #15988 closed

[2021-04-15 05:51] rajdhandus commented on #17695
Another instance..

## Describe the bug

**Command Name**
`az keyvault secret set`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az keyvault secret set --vault-name {} --subscription {} --name {} -f {}`

## Expected Behavior

## Environment S

[2021-04-15 05:52] qwordy commented on #15988
`az vm list-skus `, swagger is not ready. Others are finished.

[2021-04-15 05:59] yungezz commented on #17699
route to appropriate team

[2021-04-15 06:00] yungezz commented on #17700
https://github.com/Azure/azure-cli/issues/17694

[2021-04-15 06:02] fengzhou-msft commented on #17689
Please turn off dynamic extension install (run `az config set extension.use_dynamic_install=no`) and rerun your command to see the real command parsing error:

[2021-04-15 06:28] Satya-anshu opened #17702 "Add "FlowTimeout" property under Virtual Networks"
**Resource Provider**

Microsoft.Network

**Description of Feature or Work Requested**

Need addition of FlowTimeout property under Virtual Networks.

FlowTimeout enables connection tracking for intra-VM flows. The value should be between 4 and 30 minutes (inclusive) to enable tracking, or null to disable tracking.

It is similar to the 'idleTimeoutInMinutes' property of public IP address.

**In S

[2021-04-15 06:43] yonzhan commented on #17702
network

[2021-04-15 07:11] IJsbrandVV commented on #17665
@zhoxing-ms For now I have disabled automatic updates of the Azure CLI, uninstalled it and reinstalled 2.21.0

In my personal opinion an issue is not closed unless an actual fix has been released but w/e. I've warned our team not to upgrade and wait for the next release.

[2021-04-15 07:30] IJsbrandVV commented on #17665
@zhoxing-ms as for people affected I don't have an answer. I'm just a windows dev that doesn't have a local python installation (Our codebase is C# / typescript so why would I have python installed?) and use bicep. Everyone in that profile would have this issue and I've seen more and more issues pop up regarding this, i.e. #17700 #17694 and the bicep issue [#2243](https://github.com/Azure/bicep/is

[2021-04-15 07:41] #15868 closed

[2021-04-15 07:45] #17649 closed

[2021-04-15 08:57] fengzhou-msft opened #17708 "Refactor user_confirmation"
`user_confirmation` is defined in multiple places with the same (or slightly different) code. Please only keep the method defnition in `core/util.py` and refactor accordingly.

[2021-04-15 09:16] msyyc commented on #17670
@elazulai I don't find definition about 'start' or 'stop' function in https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2020-11-01/azureFirewall.json. Could you provide the specific definition in swagger?

[2021-04-15 09:46] tobbin2 commented on #11871
Is this still active? We have the same problem. AKV10032. Invalid Issuer,

- made sure the user has permission to check key-vault
- logged in to the correct subscription

weird thing is that we tried another user with the same code and subscription which worked well

[2021-04-15 09:49] fengzhou-msft commented on #17708
@PARADISSEEKR please check existing code and refactor.

[2021-04-15 10:42] butcheroo opened #17712 "change settings for multiple Azure resources roles in PIM without manual clicks in portal"
My config requires a setting like "approver" or "activation period" on a large amount of builit-in and custom roles for Azure Resources in PIM.

1) Can I change the default settings for all roles?
2) Can I via cli or PS change some settings for a group of roles to avoid a lot of clicks in portal for multiple subscritions

[2021-04-15 11:22] jiasli commented on #17712
As explained in https://github.com/Azure/azure-cli/issues/13064, Azure CLI currently has no native support for **Privileged Identity Management**.

You may call the [Microsoft Graph REST API for Privileged Identity Management](https://docs.microsoft.com/en-us/graph/api/resources/privilegedidentitymanagement-root?view=graph-rest-beta) directly with `az rest`. For examples, you may check https://git

[2021-04-15 11:24] #17712 closed

[2021-04-15 11:25] #13064 closed

[2021-04-15 12:10] xfz11 commented on #17586
#17709

[2021-04-15 12:10] meet1993shah commented on #17656
yes, it's available.

[2021-04-15 12:28] danijam commented on #13064
@jiasli why has this been closed and the feature-request label removed?

[2021-04-15 12:34] userappgate opened #17713 "az network vnet create crashes az"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network vnet create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network vnet create --address-prefix {} --resource-group {} --

[2021-04-15 13:05] xkszltl opened #17714 "AADSTS70043: The refresh token has expired or is invalid due to sign-in frequency checks by conditional access."
**Describe the bug**

We hit **AADSTS70043** for months, with at least 2 failures every day.
As you can see, there's some kind of 12h conditional access policy, and after timeout `az acr` cannot handle it properly.
It doesn't prompt for re-login or have machine-readable way to let us do so automatically.

**To Reproduce**

[code]

**Expected behavior**

1. Prompt for re-login, probably with a flag

[2021-04-15 13:14] xkszltl commented on #17714
Note that we don't want to blindly call `az login` everytime because:
- It's slow.
- Browser interaction cannot be automated.
- It's interruptive, and may trigger additional 2FA causing even more burden.

[2021-04-15 14:02] Peder2911 commented on #16499
Same, got the error the first time, not the second.
My command was `az container create --name *** -g *** --image *** --vnet *** --subnet *** --registry-username *** --registry-password ***`

[2021-04-15 14:11] Rutix commented on #11718
@andyblack19 indeed. We have different pipelines, one for creating resources in Azure (and setting up the vnets etc) and then one which deploys the function app and also sets application settings needed for the function app to run. Now when we deploy the first the application settings which the 2nd pipeline set on deploy are wiped :<. This is really annoying since there is no easy way to have conf

[2021-04-15 14:41] yonzhan commented on #13064
The reason is in https://github.com/Azure/azure-cli/issues/17712

[2021-04-15 14:43] yonzhan commented on #17713
network

[2021-04-15 15:19] calvinsID commented on #17674
looking

[2021-04-15 15:22] calvinsID commented on #17256
@tonybaloney yeah by default `az webapp list-runtimes` shows windows stacks, and adding --linux flag shows linux stacks. I can update the `-h` help text to make it more clear

[2021-04-15 15:50] danijam commented on #13064
@yonzhan OK so I see it reads this is not supported, which is kind of the point of this ticket. But that doesn't explain why this has been closed. My understanding is this is a feature request and so it would remain open until implemented or closed because it has been rejected as an item of feedback. So are we saying that the decision has been taken that this feedback has been rejected? I haven't

[2021-04-15 19:37] v-strudm-msft commented on #6964
We see this was posted over two years ago, but is was never addressed so are closing it. Our apologies. Should this still be an issue, please open a new issue and we will respond on a timely basis. Thank you.

[2021-04-15 19:37] #6964 closed

[2021-04-15 19:41] v-strudm-msft commented on #11078
Since there hasn't been a response to this issue in the last several months, we assume it was resolve and will close it. Should there still be a question, please open a new issue and we will respond on a timely basis. Thank you.

[2021-04-15 19:41] #11078 closed

[2021-04-15 19:50] v-strudm-msft commented on #11379
Since there hasn't been a response to this issue in the last several months, we assume it was resolved and will close it. Should there still be a question, please open a new issue and we will respond on a timely basis. Thank you.

[2021-04-15 19:50] #11379 closed

[2021-04-15 19:55] v-strudm-msft commented on #15877
Since there hasn't been a response to our last comment, we are closing this issue. Should there still be a question, please open a new issue. Thank you.

[2021-04-15 19:55] #15877 closed

[2021-04-15 21:12] ElYusubov opened #17718 "Error on running az bicep version"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az bicep version`

**Errors:**
The command failed with an unexpected error. Here is the traceback:
type object 'datetime.datetime' has no attribute 'fromisoformat'
Traceback (most recent call last):
  File "D:\a\1\s\build_scripts\windows\artifacts\cli\Lib\site-packages\knack/cli.py", line 231

[2021-04-15 21:15] gsumit10 opened #17719 "CLI for Virtual Network Gateway NAT feature"
**Resource Provider**
Microsoft.Network

**Description of Feature or Work Requested**
Need CLI changes to support NAT feature in VirtualNetworkGateway resource.
VirtualNetworkGateway resource is for the VPN gateway for Hybrid connectivity. We are introducing a new feature to add NAT capabilities to VPN Gateway. Here user can create multiple NAT rules within the gateway and then associate them to V

[2021-04-15 21:16] gsumit10 commented on #17719
@Khushboo-Baheti for any comments on swagger/NAT feature

[2021-04-15 21:37] sschlesier opened #17720 "Add az functionapp function list command"
**Is your feature request related to a problem? Please describe.**
I would like to be able to enumerate all the functions deployed in a function app.

My immediate needs are to inventory all our HTTP triggered functions, but it seems generally useful to be able to list all the functions in a functionapp.

**Describe the solution you'd like**
Implement a `functionapp function list` command which en

[2021-04-15 22:45] yonzhan commented on #17720
route to service team

[2021-04-15 22:46] yonzhan commented on #17719
network

[2021-04-15 22:48] yonzhan commented on #17718
route to service team

[2021-04-15 23:35] tonybaloney commented on #17256
Thanks Calvin,

An update to the help text would be useful, but this default behaviour is contrary to the portal, which will select Linux as the default running environment for Python and show the available runtimes for Linux once you select Python.

Whereas if the user were to query the command by default, its not obvious that this is _only_ Windows and that is why they can't see Python3.7+, unle

[2021-04-16 00:22] charris-msft commented on #17256
I would like to +1 @tonybaloney's recommendation.
Given that Python on Linux is the path forward, we should make the command line reflect that reality. Ideally, the default command would show which versions are available for Linux (rather than Windows) so the long-term experience requires the least amount of typing.

Short of that, it seems that we could do something similar to the java approach o

[2021-04-16 01:32] yungezz commented on #17714
route to appropriate team

[2021-04-16 01:42] #17466 closed

[2021-04-16 01:54] #17682 closed

[2021-04-16 02:08] groogiam opened #17721 "az postgres flexible-server create InternalServerError"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az postgres flexible-server create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az postgres flexible-server create --resource-group {

[2021-04-16 02:09] BigCat20196 commented on #17680
Thank you for your PR.

However, this yaml file is generated automatically through the. Py file, so it needs to be modified in the location where the file is generated to ensure that the modification is effective.

This problem will be fixed as soon as possible.

Thank you again for using azure and hope it gets better.

[2021-04-16 02:13] yonzhan commented on #17721
route to service team

[2021-04-16 02:16] jiasli commented on #13064
Hi @danijam, apologize for the confusion caused. PIM belongs to AAD's Microsoft Graph API.

Azure CLI is a client-side tool dedicated to manage Azure Resources. [Microsoft Graph](https://docs.microsoft.com/en-us/graph/overview) (even though it belongs to Azure) is a very complicated service that falls out of the scope of Azure CLI.

The current `az ad` command module is only designed for assisting

[2021-04-16 02:22] yugangw-msft commented on #17714
The refresh token has expired hence you have to run `az login`. If you would like automation support, consider service principal or managed identity
I am closing this ticket because this is not an ACR issue and it is by design unfortunately.

[2021-04-16 02:22] #17714 closed

[2021-04-16 02:32] nsraone opened #17723 "az repos policy merge-strategy update"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

![image](https://user-images.githubusercontent.com/82589046/114963213-d703f100-9e89-11eb-91cb-ccbd9ffec6c6.png)

[2021-04-16 02:59] #13070 closed

[2021-04-16 03:06] yungezz commented on #17723
route to appropriate team

[2021-04-16 03:27] yungezz commented on #17708
improvement

[2021-04-16 03:38] msyyc commented on #17677
@simnyc I could not reproduce the scene. Could you describe the question with more details? For example :
--------- example begin----------
(1) create necessary resource with the following steps:
az group create -n yyc-westus -l westus
az network traffic-manager profile check-dns -n myfoobar1
az network traffic-manager profile create -n tm -g yyc-westus --routing-method priority --unique-dns-name

[2021-04-16 05:15] SSBaez opened #17725 "and simplicity?"
[Enter feedback here]

$ az storage show ...
response: 'show' is misspelled or not recognized by the system.

There is no Azure service that is not only poorly documented but also the CLI is slow, clunky, and stilted enough to throw errors for no reason. AWS has a huge advantage, unfortunately I am forced to work with Azure, and I hate it!!!!

---
#### Document Details

⚠ *Do not edit this section

[2021-04-16 05:28] #17725 closed

[2021-04-16 06:20] qwordy commented on #16635
@grtn316 Code is here. https://github.com/Azure/azure-cli/blob/dcf4084a2aaf30c6093e77a65e60b1d7bdcbe642/src/azure-cli/azure/cli/command_modules/vm/_validators.py#L707
I don't know why these SKUs and images should enable accelerated networking while others do not. I believe some data is stale. My suggestion is set one default value (either on or off) and users can specify it if they don't want defa

[2021-04-16 06:22] qwordy commented on #16640
Close since no reply.

[2021-04-16 06:22] #16640 closed

[2021-04-16 08:06] Triamus opened #17726 "az upgrade says update available but ubuntu says I'm on latest version"
**Describe the bug**
I'm running az upgrade and it tells me there is a newer version available but when installing it later tells me I'm already on the newest version.

**To Reproduce**

In powershell core on ubuntu

[code]

**Expected behavior**
I would expect the upgrade to go through.

**Environment summary**

Ubuntu version.
[code]
Az version.
[code]

**Additional context**
Is this an ubuntu r

[2021-04-16 08:43] fabienso opened #17728 "Create Apple - AD Identity Providers via the command line (AZ CLI / GraphAPI)"
Good day everyone,

can i create "Identity Providers" for an Azure Active Direcotry (especially Azure AD B2C) via the "az cli" --> etc. "az rest", "az app" fully automated via "Python" ? --> **For the Apple Identity Provider**

I want to roll out B2C tenant structures fully automated for multi-tenant applications:

This requires the following steps:
- First I create a B2C tenant fully automated.
-

[2021-04-16 08:43] fabienso commented on #17728
@jiasli do u have any ideas?

[2021-04-16 09:45] jiasli commented on #17728
1. There is no `az app` command module.
2. If you mean `az ad app`, it is only used for creating [AAD application](https://docs.microsoft.com/en-us/azure/active-directory/develop/app-objects-and-service-principals) (with limited functionality).
3. [Create identityProvider](https://docs.microsoft.com/en-us/graph/api/identityprovider-post-identityproviders?view=graph-rest-1.0) is from Microsoft Grap

[2021-04-16 09:56] danijam commented on #13064
@jiasli Thank you for the detailed response! Appreciate it.

[2021-04-16 11:14] usrme opened #17733 "'az deployment group create --template-spec' does not work in certain locations"
## Describe the bug

**Command Name**
`az deployment group create --template-spec`

## To Reproduce

- Create a resource group in a known to be working location, France South for example, with a virtual machine that has Azure CLI installed
- Create a resource group in a broken location, West Europe for example, with a virtual machine that has Azure CLI installed
- Create some kind of template spec

[2021-04-16 11:15] jonasthehobbit opened #17734 "InternalError when creating AD DS using CLI"
Seems to be an issue whenever this is run from command prompt, creating the service through gui works with same account but creating on CLI i get an error suggesting i do not have sufficient rights to create this service.

(InternalError) The service principal with appId 'REDACTED' could not be found in the Azure Active Directory tenant. Please retry the operation.

[code]
---
#### Document Detail

[2021-04-16 11:40] #16809 closed

[2021-04-16 11:40] #17135 closed

[2021-04-16 11:45] samsmithnz opened #17736 "Application Insights page doesn't have content or a redirect to the right content"
This page appears to be a stub.

I believe it should either contain the Application Insights information, or redirect to the Azure Monitor app insights page that does (https://docs.microsoft.com/en-us/cli/azure/monitor/app-insights?view=azure-cli-latest).

Or possibly be deleted. What is the purpose of this page?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.micr

[2021-04-16 11:46] Jandev opened #17737 "The attribute `--service-name` is missing from the docs"
I wanted to update the connection status of my Private Link Endpoint and found [a page in the docs where this has been described](https://docs.microsoft.com/en-us/azure/private-link/manage-private-endpoint?WT.mc_id=AZ-MVP-5003246#azure-cli).
It mentions a CLI command with the `--service-name`. From the docs it's not very clear what this should be, so I navigated to the docs for this command. Howev

[2021-04-16 13:31] iscaltritti commented on #16954
I'm having the same "update loop issue" while running `az webapp list --resource-group "my-rg"`.
I've already tried re-installing the webapp extension and updating az cli (from version `2.20.0` to `2.22.0`).
I've also tried from different versions of PowerShell.
This is the loop:
[code]

This is `--debug` :

[code]

[2021-04-16 13:42] akvernberg opened #17739 "az bicep throws python error on execution"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az bicep build`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az bicep build -f {}`

## Expected Behavior
bicep file is compiled to ARM

[2021-04-16 13:45] akvernberg commented on #17739
The environment summary states that I have Python 3.6.8 installed on my system, but I can't find any trace of it.
The only version I have installed is 3.9.2.
[code]

[2021-04-16 13:54] MilanMasek opened #17740 ""az aks create" fails with "progress_patch() got an unexpected keyword argument 'det'"."
When using az interactive extension, error is thrown as shown below. Cluster gets created and seems to be working. However, it is not clear that the operation is completed successfully.
Same error happens, when I do "az>> aks stop --name {} -g {}". Perhaps same for a group of aks commands.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`U

[2021-04-16 14:47] yonzhan commented on #17739
route to service team

[2021-04-16 14:48] yonzhan commented on #17737
network

[2021-04-16 14:50] yonzhan commented on #17736
monitor

[2021-04-16 14:51] yonzhan commented on #17734
@jiasli for awareness

[2021-04-16 14:53] yonzhan commented on #17733
ARM

[2021-04-16 16:43] ElYusubov commented on #17718
Even when installing fresh Azure CLI for windows OS, i see the same error when running `az bicep version` command.
Please, escalate asap.

[2021-04-16 17:59] xkszltl commented on #17714
@yugangw-msft
I think you probably misunderstood the issue.
We are aware of the 12h limit and it's not done by ACR.
The main issue is: we need a machine-readable way to capture this error, so that our code can tell what's the next step.
Currently we only have a text msg on screen with exit code 1.
`grep` it may be a temporary option but we're looking for a more decent way.

[2021-04-16 18:26] rogerprz commented on #7617
Any ETA on this?

[2021-04-16 18:39] fabienso opened #17741 ""AZ REST" on AD B2C Identity Provider [Microsoft] via Graph-API seems not to work - Internal Error"
Hi everyone,

I am currently implementing a fully automated Azure AD B2C creation for multi-tenant solutions. The content of this automation is also the creation of the respective and individual identity providers.

The creation of the Google-IDP via "azure rest" with a valid (jwt) token to the Graph-API permission "IdentityProvider.ReadWrite.All" works.

[code]

Challenge:
However, creating the M

[2021-04-16 18:42] fabienso commented on #17728
Thank @jiasli! This works wonderfully with the Google IDP. Apple doesn't seem to be considered for automation yet.

However, when automating the IDP for Microsoft, there was an "Internal Server Error". I have opened the following thread about this.  #17741

[2021-04-16 19:09] Bitney-0806 opened #17742 "G"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2021-04-16 19:12] yugangw-msft commented on #17714
@xkszltl, the text should go to stderr. Unless you write program calling the same authentication API like CLI does which give you a native way to capture the exception, `exit code` + `grep` is the only way to work with a command.

[2021-04-16 19:18] Pangamma commented on #16809
I am also having this same issue.

[2021-04-16 21:10] roviracarlos opened #17744 "az deployment sub create ends with error Table output unavailable."
Hi,
When I run the deployment of resource groups at the subscription level have this error, but the deployment apply correctly.

az deployment sub create --name "$deploymentName" --location "$resourceGroupLocation" --template-file "$templateFilePath" --parameters "@${parametersFilePath}"

Error
Table output unavailable. Use the --query option to specify an appropriate query. Use --debug for more i

[2021-04-16 21:18] feiyushi commented on #14813
Reporting back. This is now fixed.

[2021-04-16 22:11] #17641 closed

[2021-04-16 22:55] davidschlum commented on #17718
After updating to the latest Azure CLI (2.22.0) for Windows 10, I am now seeing the same error as others have reported:

Any command such as "az bicep version" is producing the following error:

The command failed with an unexpected error. Here is the traceback:
type object 'datetime.datetime' has no attribute 'fromisoformat'
Traceback (most recent call last):
  File "D:\a\1\s\build_scripts\window

[2021-04-16 23:06] davidschlum commented on #17718
FYI - I uninstalled Azure CLI 2.22.0 and installed 2.21.0 and confirmed that the 2.21.0 version did not have the problem reported.

[2021-04-17 01:00] yonzhan commented on #17741
@jiasli for awareness

[2021-04-17 01:02] yonzhan commented on #17742
No detailed description

[2021-04-17 01:02] #17742 closed

[2021-04-17 01:03] yonzhan commented on #17744
ARM

[2021-04-17 01:46] cgtheflash commented on #14426
This seems to be an issue when doing something as simple as:
$Test = az account list
If you have a subscription with a hyphen in it (like Visual Studio Subscription - MPN), it will replace it with a foreign character.

[2021-04-17 01:57] Bitney-0806 commented on #17742
????

[2021-04-17 02:51] jiasli commented on #17728
@fabienso, I am glad to know `az rest` works for you for Google IDP. As this issue falls out of the scope of Azure CLI, I will close it.

Please feel free to raise a new issue if you have any concern with Azure CLI itself.

[2021-04-17 02:51] #17728 closed

[2021-04-17 02:53] jiasli commented on #17741
This `Internal Server Error` is caused by AAD service, instead of Azure CLI:

[code]

You may [create a support ticket](https://azure.microsoft.com/en-us/support/create-ticket/) to AAD service team and our support engineers will help you with them.

As this issue falls out of the scope of Azure CLI, I will close it. Please feel free to raise a new issue if you have any concern with Azure CLI itsel

[2021-04-17 02:53] #17741 closed

[2021-04-17 03:19] jiasli commented on #14426
@cgtheflash, it is very likely that your **hyphen** is not a real [ASCII](https://www.unicode.org/charts/PDF/U0000.pdf) **hyphen-minus** `-`:

[code]

It could be a hyphen `‐`, a minus sign `−`, or an en dash `–` in the the subscription name.

Please make sure you only use ASCII hyphen-minus `-`. Otherwise, you need to enable UTF-8 support following https://github.com/microsoft/knack/pull/178.

[2021-04-17 05:21] shunkino commented on #13385
Hey @BigCat20196, glad to see this change merged! Thank you.

[2021-04-17 09:50] mira-mayhem commented on #11871
I don't get this error in powershell with AZ CLI. I get this error running code from Visual Studio:
`.AddAzureKeyVault(keyVaultUri, new DefaultAzureCredential(true))` (browser window popping up)
and the same error with:
`.AddAzureKeyVault(keyVaultUri, new SharedTokenCacheCredential("my.email@company.com"))`

I have logged in and out in VS (2019), the Azure Service Authentication under Tools > Opti

[2021-04-17 13:51] confused-nerd opened #17745 "az upgrade error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az upgrade`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az upgrade`

## Expected Behavior

## Environment Summary
[code]
## Additiona

[2021-04-17 14:50] vladris commented on #16646
Can confirm that this works. Thanks a lot!

[2021-04-18 00:17] #17634 closed

[2021-04-18 00:18] hgeorges commented on #17634
problem resolved

[2021-04-18 00:34] cgtheflash commented on #14426
Thanks for the information. This is the default name given for a Visual Studio Azure subscription. That's interesting that by default it's not setting a real hyphen. I've also tested by adding additional Visual Studio subscriptions and it happens on all of them.

You're right though, I renamed a subscription with a hyphen and don't have that problem.

[2021-04-18 02:34] santoshsinha100 commented on #7881
Is this issue addressed?. I am getting the below error when trying to create a cert in keyVault using Azure CLI

Error detail: Expecting property name enclosed in double quotes: line 1 column 5 (char 4)

az keyvault certificate create --vault-name RGTestkeyVault -n cert1 -p "$(az keyvault certificate get-default-policy)" --debug

my power shell version   5.1.2

[2021-04-18 16:16] rajdhandus commented on #17695
I was able to mitigate this issue by switching to PowerShell and running the same command. It was executed successfully. Now back in bash also - it works fine. Not sure what the exact root cause is though.

[2021-04-18 17:06] xkszltl commented on #17714
What exactly does exit code 1 mean?
Can any non-auth-related error exit with 1?
We'd like a well-defined error, e.g. a special exit code that only applies to one class of error, rather than grep text that we don't know if it will change in the future or not.

[2021-04-18 19:01] qwordy opened #17747 "Live test regression"
This issue is created by a program.
[Latest testing results of Azure CLI](https://clitestresultstac.blob.core.windows.net/latest/index.html)
[User Manual of Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EZGC9LwrN3RAscVS5ylG4HMBX9h7W0ZSA7CDrhXN5Lvx6g?e=V8HUmd)
[Upgrading API Versions in Azure CLI Live Test Pipeline](https://microsoft-my.sharepoint.com/:w:/p/fey/EcgPLHSkef9Mi14Rj

[2021-04-18 19:42] markrzasa commented on #16499
@Peder2911 , what version of azure CLI did you use?

[2021-04-18 22:18] yonzhan commented on #17747
@kairu-ms @msyyc @Juliehzl @zhoxing-ms for awareness

[2021-04-19 01:35] jiasli commented on #17695
Hi @rajdhandus, this is a known issue of Cloud Shell service (https://github.com/Azure/azure-cli/issues/11749). Please see https://github.com/Azure/azure-cli/issues/11749#issuecomment-570975762 for a workaround.

Meanwhile, I will contact Cloud Shell team to check it.

[2021-04-19 01:37] jiasli commented on #15399
Closing due to no response. Please let us know if you see the problem happening again.

[2021-04-19 01:37] #15399 closed

[2021-04-19 01:41] #14322 closed

[2021-04-19 01:50] jiasli commented on #14036
This Cloud Shell issue is being tracked at https://github.com/Azure/azure-cli/issues/11749. There was indeed a PR #14455 to refine the message and give a workaround, but it will hide the actual service problem by that workaround, so it is delayed indefinitely.

PR #14455 was later superseded by #15574.

[2021-04-19 01:50] #14036 closed

[2021-04-19 01:51] jiasli commented on #13302
This issue is tracked at #11749. If you see it happening again, please kindly let us know.

[2021-04-19 01:51] #13302 closed

[2021-04-19 01:53] yungezz commented on #17745
add @fengzhou-msft to have a look.

[2021-04-19 01:53] yungezz commented on #17740
route to appropriate team

[2021-04-19 01:55] yungezz commented on #17726
hi @fengzhou-msft, is this due to the version of package in universe repo is out-of-date?

[2021-04-19 01:57] cbare commented on #16217
I also see this error in line 97 of `_shared/response_handlers.py` in the function process_storage_error. The relevant lines are:

[code]

Stepping in with pdb, I see the following:

`
[...]/venv/lib/python3.8/site-packages/azure/storage/blob/_shared/response_handlers.py(97)process_storage_error()
-> if error_body:
(Pdb) type(error_body)
<class 'dict'>
(Pdb) print(error_body)
{'error': {'code': 'I

[2021-04-19 02:13] jiasli commented on #14426
@cgtheflash glad to know it works for you. Using non-ASCII hyphen-minus `-` (`002D`) is definitely a problem for downstream tools running on systems with no UTC-8 support.

It seems you are using [Visual Studio subscriptions offered to partners in the Microsoft Partner Network (MPN)](https://docs.microsoft.com/en-us/visualstudio/subscriptions/program-mpn). I don't have MPN subscription so can't re

[2021-04-19 02:44] qwordy commented on #17599
@khyewei I provide two solutions.
(1) `--security-type`, enum type, value is `TrustedLaunch`
(2) `--enable-trusted-launch`, bool type, value is `true` or `false`
Which one do you prefer? If there are more security types in the future, (1) is better.

[2021-04-19 03:10] Kotasudhakarreddy commented on #17676
@itahirov - This is because `Service Tag` support is currently not available on SDK version of Python used on CLI. [Pull Request](https://github.com/Azure/azure-cli/pull/17687) has been raised for the same. Will be fixed in the next release. See [here](https://github.com/Azure/azure-cli/issues/17135) for the same issue with other command.

[2021-04-19 03:34] qwordy commented on #17747
Close. Data is abnormal.

[2021-04-19 03:34] #17747 closed

[2021-04-19 05:47] khyewei commented on #17599
(1) --security-type, enum, value: TrustedLaunch

cc: @anshulsolanki21

[2021-04-19 06:03] sean-t-shen commented on #4897
the delete of OS disk along with the VM should be offered as an option.  What I want to give my client is a script that they can execute with their permission set to drop and recreate the VM.  I need to give them the permission to drop the VM, but I dont want to give them the permission to drop disk as a separate permission item.  If the option is there to delete the OS disk (and even all other di

[2021-04-19 06:10] sean-t-shen commented on #4897
I tried to use  the ephemeral OS disk as the workaround, but unfortunately, this is not supported for the machine size I am choosing.  However, this may be an option for some other folks here....

For me, I needed to choose Standard_D4_v4 as my machine size due to another silly Azure limitation (this is the machine size that can help me avoid having to have a D: drive as Temporary Storage.).  It s

[2021-04-19 06:16] xfz11 commented on #17574
From @kang in SIG team, swagger file for direct sharing are https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/gallery.json and https://github.com/Azure/azure-rest-api-specs/blob/master/specification/compute/resource-manager/Microsoft.Compute/stable/2020-09-30/sharedGallery.json
Arguments are in SharingProfile and Sh

[2021-04-19 06:35] ekotera opened #17751 "az help displayed the result with an error: psutil.AccessDenied"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az help`
`az -help`
`az --help`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az --help`

## Expected Behavior

## Environment Summary

[2021-04-19 07:08] madsd commented on #16809
@Pangamma Official release of the next CLI version containing the fix is 6. May (2.23)

[2021-04-19 07:22] yonzhan commented on #17751
@jiasli for awareness

[2021-04-19 07:45] Juliehzl commented on #16217
Thanks a lot for your feedback! It seems the response doesn't has SDK expected type. azure-storage-blob source code is in https://github.com/Azure/azure-sdk-for-python/tree/master/sdk/storage/azure-storage-blob. could you create an issue in https://github.com/Azure/azure-sdk-for-python/issues?

[2021-04-19 08:29] Andrey-Kozhanov opened #17756 "Error: az login -i"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login -i`

## Expected Behavior

## Environment Summary
[code]
## Additional

[2021-04-19 08:29] mauve commented on #17700
we also see this in the linux version, when is the fix coming?

[code]

[2021-04-19 08:31] Andrey-Kozhanov commented on #17756
Hello Colleagues,
we are suffering from this "az login -i" error in our productive environment.
Please, could you help here.
Thank you and best regards,
Andrey Kozhanov

[2021-04-19 08:46] Kotasudhakarreddy commented on #17676
Official release of the next CLI version containing the fix is 6. May (2.23)

[2021-04-19 08:58] yonzhan commented on #17756
@jiasli for awareness

[2021-04-19 09:03] Andrey-Kozhanov commented on #17756
Hello Colleagues,
in this particular case the managed identity for this VM was disabled.

But, I think in such a case something meaningful should be the output, not just a trace...
Thank  you,
Andrey Kozhanov

[2021-04-19 09:04] zhoxing-ms commented on #17700
This issue is same as #17665, and we have fixed it in the hotfix version (`2.22.1`) of CLI

[2021-04-19 09:04] zhoxing-ms commented on #17694
This issue is same as #17665, and we have fixed it in the hotfix version (`2.22.1`) of CLI

[2021-04-19 09:04] #17694 closed

[2021-04-19 09:06] jiasli commented on #17756
The error means the Managed Identity endpoint is not set up correctly. We have improved the error message in https://github.com/Azure/azure-cli/pull/15574.

You are running a very old Azure CLI 2.0.81. Please follow https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=zypper to install the latest version.

[2021-04-19 09:33] #17065 closed

[2021-04-19 09:44] rurdea opened #17757 "az bicep python error"
Every second bicep command I run throws the error below. The first time I run a bicep command on a clean install, the file bicepVersionCheck.json gets created in %HOMEPATH%\.azure folder. Any command I run from this point on results in the error below.

As a workaround, I delete the bicepVersionCheck.json before running any command.

**Command Name**
`az bicep version`

**Errors:**
[code]

## To R

[2021-04-19 09:56] christle commented on #15110
We are facing this problem again and again. For weeks. Is there any kind of longterm solution for this?

[2021-04-19 09:59] rurdea commented on #17757
Issue has been fixed in azure-cli-2.22.1.msi.

[2021-04-19 09:59] #17757 closed

[2021-04-19 10:00] zhoxing-ms commented on #17665
@IJsbrandVV Hi, we released a new version (`2.22.1`) of hotfix to address this issue today. Please upgrade CLI to the latest version (`2.22.1`) and try again.

[2021-04-19 10:22] cbare commented on #16217
Related issue filed on azure-sdk-python here: https://github.com/Azure/azure-sdk-for-python/issues/18129

[2021-04-19 10:35] ahaeber opened #17758 "az appconfig kv list: missing documentation for --query parameter"
###

The --query parameter is mentioned in the documentation for the --query-examples parameter. It is also shown in one of the examples. Would help to see that it is mentioned as an available parameter and also more details on the syntax. It is nice that we can get examples using the --query-examples parameter, but it would be great to read more details on the syntax as well to better understand

[2021-04-19 10:37] ahaeber commented on #17758
Sorry, just noticed that it is documented together with the global parameters.

[2021-04-19 10:37] #17758 closed

[2021-04-19 11:13] Svessir opened #17759 "az ts export -s {} --output-folder {}"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
az ts export is throwing an error for valid input:
*az ts export -s /subscriptions/{}/resourceGroups/{}/providers/Microsoft.Resources/templateSpecs/{}/versions/{} --output-folder ./exported*

**Command Name**
`az ts export`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argumen

[2021-04-19 11:18] yonzhan commented on #17759
@kairu-ms for awareness

[2021-04-19 11:26] IJsbrandVV commented on #17665
That's great @zhoxing-ms

I just updated to the latest version and everything works again. Thanks for the quick response 👍

[2021-04-19 12:27] itahirov commented on #17676
@Kotasudhakarreddy  thank you for update and for providing the estimates.

[2021-04-19 13:07] 180254 opened #17760 "The list of IP addresses is inconsistent between the calls"
**Describe the bug**
The list of IP addresses is inconsistent between the calls

We are doing Azure Kubernetes Service deployment, with 5 outbound IP addresses configured. After the deployment is completed, we are trying to obtain a list of outbound IP addresses in subscription and in AKS resource groups. The list of returned IPs sometimes is inconsistent and occasionally does not include all IP a

[2021-04-19 13:15] yonzhan commented on #17760
route to network service team to take a look

[2021-04-19 13:18] aanantt opened #17761 "Azure blob Storage gives internal server error(500) while uploading files with Django web app"
Iam working with Django and Azure.but while uploading media files to azure storage it's giving me internal error 500.

[Iam using this package](https://django-storages.readthedocs.io/en/latest/backends/azure.html)

Project/settings.py
[code]

custom_storage/custom_azure.py

[code]
post/views.py

[code]

Response :
[code]
![Response Image][1]

  [1]: https://i.stack.imgur.com/3JOxT.png

[2021-04-19 14:00] mladedav opened #17762 "Cannot delete resource group named with leading dashes"
**Describe the bug**
Running `az group delete -y --no-wait -n "-bad-resource-group-name"` outputs
[code]

**To Reproduce**
Create a resoruce group with a leading dash and then try to delete it. I have not tried to create it with az tool, we accidentally made them with ARM templates and now I am trying to get rid of them.

`az group delete -y --no-wait -n "-bad-resource-group-name"`

**Expected beh

[2021-04-19 15:26] bigjimnolan opened #17764 "Redis commands not showing up for az cli (both win and linux)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`Unknown`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az redis`

## Expected Behavior
az redis should let me use the "redis" commands

[2021-04-19 15:29] ElYusubov commented on #17718
Just to complement what @davidschlum mentioned check the links for installation.
Check following sources to get your 2.21.0 version below:

- https://github.com/Azure/azure-cli/releases
- https://community.chocolatey.org/packages/azure-cli/2.21.0

[2021-04-19 15:37] bigjimnolan opened #17765 "Redis missing from available commands"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`Unknown`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az redis`

## Expected Behavior
I get access to redis commands
## Environment Su

[2021-04-19 15:45] guss77 commented on #2940
Please add the additional info - we, the users, request it.

[2021-04-19 18:09] Peder2911 commented on #16499
Hey! My bad, I was on 2.20, sorry, should've read the thread before replying.
Keep up the great work!
P

[2021-04-19 19:50] markrzasa commented on #16499
Awesome! Glad it's working.

[2021-04-19 20:18] bigjimnolan commented on #17764
Interestingly: In WSL2 as root, I can still use az redis, just nowhere else.  Not in an elevated powershell script or normal WSL login

[2021-04-19 20:28] bigjimnolan commented on #17764
Okay, I found the issue:
In my clouds config, I had this directive: profile = 2020-09-01-hybrid
This profile, apparently, does not include redis. I removed the profile and I'm back to full functionality.

[2021-04-19 20:28] #17764 closed

[2021-04-19 20:56] jtmackoy opened #17768 "az keyvault --enable-purge-protection Deprecated: az cli Docs Need Updates"
**Describe the bug**
The documentation for [`az keyvault create`](https://docs.microsoft.com/en-us/cli/azure/keyvault?view=azure-cli-latest#az_keyvault_create) states that --enable-purge-protection is an available parameter, which it is not - it is only a placeholder for backwards compatibility and to inform users (at the time of CLI execution) that this parameter is deprecated.

**To Reproduce**

[2021-04-19 23:19] mkoziel2000 commented on #16341
It seems to be working with April 2021 CU on Windows 2019.

[2021-04-19 23:21] yonzhan commented on #17761
Was this issue related to Azure CLI? If yes, which command?

[2021-04-19 23:22] yonzhan commented on #17762
ARM

[2021-04-19 23:26] yonzhan commented on #17765
route to service team

[2021-04-19 23:41] rajatthosar commented on #9850
I have the same issue.

Powershell version 5.1.19041.906
az cli version 2.21.0

[2021-04-20 02:18] zhoxing-ms commented on #17733
@detienne20 could you please help to have a look at this issue~

[2021-04-20 02:45] purefun opened #17769 "Run az aks check-acr error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks check-acr`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks check-acr -n {} -g {} --acr {}`

## Expected Behavior

## Enviro

[2021-04-20 02:48] purefun commented on #17769
kubectl version:
[code]

[2021-04-20 02:48] jiasli commented on #17751
Hi @ekotera, what is the terminal you are using to call Azure CLI? Also, could you share the full call stack?

[2021-04-20 02:49] kairu-ms commented on #17759
Resource

[2021-04-20 02:51] zhoxing-ms commented on #17759
@detienne20 could you please help to have a look at this issue~

[2021-04-20 02:54] evelyn-ys commented on #17734
@jonasthehobbit   Thanks for reaching out. Could you provide more info by add `--debug`?

[2021-04-20 03:39] zhoxing-ms opened #17772 "Data delay in command `az tag list`"
**Describe the bug**

Recently, it is found that there is a issue with test `test_tag_scenario`, the following errors are reported:

[code]
or
[code]

After investigating the causes, the following problems are found in the command of `az tag`: it takes a long time to sync to `az tag list` after executing `az tag remove-value\az tag add-value\az tag create\az tag delete`, this seems to be a data de

[2021-04-20 05:29] yonzhan commented on #17772
route to service team

[2021-04-20 05:45] qwordy commented on #17599
@khyewei I got an error. Could you have a look? Thanks!

[code]

[2021-04-20 06:09] ankur198 commented on #9605
Any updates?

[2021-04-20 06:18] #12929 closed

[2021-04-20 07:32] kairu-ms commented on #9605
Currently the update API not support receiver parameters.

[2021-04-20 09:38] IanKemp commented on #10426
I feel like this Chrome localhost issue should be called out on the documentation pages for `az login` and `Connect-AzAccount`.

[2021-04-20 10:39] petenorth commented on #16583
I'm **not** new to Azure and can concur with the original poster that these flags are poorly documented, or at least it is not clear where to find the more complete documentation.

[2021-04-20 11:00] Shaybs opened #17784 "Bug issues?"
AZ CLI V: 2.22.1

**Describe the bug**
Error occurred in request., RetryError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /subscriptions/XXXXXXXXXXXXXXXXXXXXXXXXX/resourceGroups/postgres-resources/providers/Microsoft.ContainerService/managedClusters/[CLUSTER NAME]?api-version=2020-06-01 (Caused by ResponseError('too many 500 error responses',))

**To

[2021-04-20 11:05] Shaybs opened #17785 "AKS/AZ CLI"
az login --identity

Returns:

request failed: Error occurred in request., ConnectionError: HTTPSConnectionPool(host='management.azure.com', port=443): Max retries exceeded with url: /subscriptions?api-version=2019-06-01 (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x7feddcbae470>: Failed to establish a new connection: [Errno -2] Name or service not known',)

[2021-04-20 11:24] jiasli commented on #17785
The error message `Name or service not known` means the server is unable to do DNS lookup for `management.azure.com`.

Could you try resolving the DNS name using:

[code]

Also, could you let us know in what environment you are running `az login`?

[2021-04-20 12:26] #17756 closed

[2021-04-20 12:28] yonzhan commented on #17769
route to service team

[2021-04-20 12:35] yungezz commented on #17784
route to appropriate team

[2021-04-20 12:36] yungezz commented on #17768
hi @houk-ms could you pls check the feature status? thanks

[2021-04-20 12:57] rick-lb commented on #16585
Is this fix released? Can i ask which version includes this fix?

[2021-04-20 13:20] mlkiefer commented on #15110
Deleting charts did not help us. Still seeing the problem

[2021-04-20 13:22] christle commented on #15110
yesterday, we reduced our total amount of helm charts from 15000 to 2000. In the evening all went back to normal and we are able to push to the registry. But today, we are facing the same problem. So decreasing the total count has no effect. Our repository runs on west europe.

[2021-04-20 14:23] Sachid26 opened #17786 "az appservice plan: Optional parameters for plan show"
the optional parameters(resourcer groups, ids etc) mentioned on the doc page come as required when trying to run on  az appservice plan show. I was wondering if an update was required on the documentation.
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f99cdf3a-4fd3-e949-aabe-1b26fe828444
* Versio

[2021-04-20 14:31] Sachid26 commented on #17786
docs need similar updation for the "**az appservice plan update**" command too

[2021-04-20 15:51] Band-Aid opened #17788 "WebApp:not wokring: az webapp config storage-account add"
-----------  ----------------  ---------------------
2.20.0       2.20.0            1.0.6

**Describe the bug**
az webapp config storage-account add returns a bad request

**To Reproduce**
The following command returns a bad request error
az webapp config storage-account add -g BeerSearchRSG -n beerproject \

This command is in preview and under development. Reference and support levels: https://a

[2021-04-20 16:45] sean-t-shen commented on #4897
Nice.  Thanks. I like this included in an “if” clause….and I like the combination of regular command shell together with Powershell to enable easy manipulation of variables and control clauses.

However, still, this would have been no issue if we are running this as a cloud admin with sufficient privileges….
My problem is, I need this to be a repeatable task given out to somebody who needs self-se

[2021-04-20 17:22] mauve opened #17789 "What-If deployment: print report and exit"
**Is your feature request related to a problem? Please describe.**

I would like to use `az sub deployment create --confirm-with-what-if` as part of a pipeline step and just print the report for example to use as input to a manual verification step.

**Describe the solution you'd like**

`az sub deployment create --confirm-with-what-if --dry-run`: Perform the what-if analysis, prints the report an

[2021-04-20 18:06] MansiLad opened #17790 "WebApp:az webapp up"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --name {} --sku {} --resource-group {}`

## Expected Behavior

[2021-04-20 18:13] brobichaud opened #17791 "Enabling AKS virtual node add-on fails with python error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Attempting to enable the virtual node addon to an AKS cluster results in a python error

**Command Name**
az aks enable-addons

**Errors:**
AAD role propagation done[############################################]  100.0000%The command failed with an unexpected error. Here is the traceback:
'NoneType' object has

[2021-04-20 18:16] aanantt commented on #17761
@yonzhan Thanks for your response. but I have solved this issue :)

[2021-04-20 18:16] #17761 closed

[2021-04-20 20:15] khyewei commented on #17599
+ @***@***.***>, @***@***.***>

Anshul, could you pls take a look?

Khye

From: Feiyue Yu ***@***.***>
Sent: Monday, April 19, 2021 10:46 PM
To: Azure/azure-cli ***@***.***>
Cc: Khye Wei ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] Trusted Launch - DiskRP CLI (#17599)

@khyewei<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fkhyewei&data=04%7C01%

[2021-04-20 20:19] gastonmuijtjens opened #17792 "webapp:"az staticwebapp appsettings set": values with equal sign (=) are truncated"
## Describe the bug
Setting App Settings that contain an equal sign (=) for an Azure Static Web App using the CLI truncates the setting after the first equal sign.

**Command Name**
`az staticwebapp appsettings set`

**Errors:**
The setting value is truncated. Only the part before the first equal sign (`=`) is set.

## To Reproduce:
- `az staticwebapp appsettings set --name {name} --setting-names

[2021-04-20 20:47] khyewei commented on #17599
SecurityType can be specified only with TVM capable image (Gen2 image with TVM tags) . The image used is Gen1 and validation fails indicating SecurityType as invalid.

Retrieved VM image: {
  "properties": {
    "osDiskImage": {
      "operatingSystem": "Linux",
      "sizeInBytes": 32213303808,
      "sizeinGB": 31
    },
    "dataDiskImages": [],
    "replicaType": "Unmanaged",
    "hyperVGenera

[2021-04-20 20:49] khyewei commented on #17599
Here's the list of Trusted Launch supported images:

Preview: Trusted launch for Azure VMs - Azure Virtual Machines | Microsoft Docs<https://docs.microsoft.com/en-us/azure/virtual-machines/trusted-launch#public-preview-limitations>

Khye

From: Anshul Solanki ***@***.***>
Sent: Tuesday, April 20, 2021 1:48 PM
To: Khye Wei ***@***.***>; Azure/azure-cli ***@***.***>; Azure/azure-cli ***@***.***>; Ab

[2021-04-20 20:55] #16939 closed

[2021-04-20 21:09] winthrop28 commented on #15520
I don't have any more specific params, we need to rely on the customer for that

[2021-04-20 22:35] yonzhan commented on #17789
ARM

[2021-04-20 22:38] yonzhan commented on #15520
@winthrop28 could you help engage the customer to get detailed params for us to troubleshoot this issue?

[2021-04-20 22:52] brobichaud opened #17793 "AKS node resource group (--node-resource-group) missing"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I've been using the the --node-resource-group option for az aks create for a long while. Support for it is suddenly is gone and I see no evidence of it being consciously removed in release notes.

**Command Name**
az aks create --node-resource-group mygrpname ...

**Errors:**
unrecognized arguments: --node-reso

[2021-04-20 23:12] mladedav commented on #17762
I just want to clarify because based on the tags I believe there is some kind of misunderstanding.

This has nothing to do with ARM but with how arguments are parsed in Azure CLI. It incorrectly assumes that anything that starts with a hyphen is a new option. Also I believe this is a bug report and not a feature request, the feature (deleting resource groups) is present, it just does not work for

[2021-04-21 00:16] msft-tacox commented on #11576
Why is this by design? What happens when we use KV to store a certificate that we expect to be protected by a password when used in our service/by our end users? How can we keep the password intact? @houk-ms

[2021-04-21 00:26] #17657 closed

[2021-04-21 00:27] sebansal commented on #11576
When designing your application, from security perspective, we recommend using the principle of least privilege and only grant Access policy or RBAC permissions to the identified user/service principal.

[2021-04-21 00:32] msft-tacox commented on #11576
That sounds fine, but isn't AKV just meant to be a (simple) place to store secrets, certs and so on? Why would I (as a customer) want AKV to change the properties of my cert when I upload it (regardless of any recommended principals)?

[2021-04-21 01:46] zhoxing-ms commented on #17789
@shenglol Could you please take a look at this feature request?

[2021-04-21 01:50] shenglol commented on #17789
Hi @mauve , there's a command called `what-if` which does exactly what you want:
[code]

[2021-04-21 02:17] qwordy commented on #16585
Yes. Just download latest version.

[2021-04-21 02:31] jiasli commented on #17762
Duplicate of #2588 and #16044, please see the workaround at https://github.com/Azure/azure-cli/issues/16044#issuecomment-733955065.

[2021-04-21 03:29] qwordy commented on #17599
Thank you @khyewei. I got same error. I used Ubuntu 18.04 latest version and set Hyper V generation to V2.
[code]

[2021-04-21 03:36] khyewei commented on #17599
+ @***@***.***>

From: Feiyue Yu ***@***.***>
Sent: Tuesday, April 20, 2021 8:30 PM
To: Azure/azure-cli ***@***.***>
Cc: Khye Wei ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] Trusted Launch - DiskRP CLI (#17599)

Thank you @khyewei<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fkhyewei&data=04%7C01%7Ckhye.wei%40microsoft.com%7C04943c77cb0a443c4f

[2021-04-21 03:41] Juliehzl opened #17795 "{Test} Remove storage related command in sql, batch tests"
**Is your feature request related to a problem? Please describe.**

In SQL scenario test, they need to use storage account endpoint and storage account key, we should provide such capability in preparer class.
https://github.com/Azure/azure-cli/blob/3f3aafdd3fec06d66d318eeac7cbc0e70f124107/src/azure-cli/azure/cli/command_modules/sql/tests/latest/test_sql_commands.py#L1351-L1358

**Describe the sol

[2021-04-21 03:48] stambunan opened #17796 "Webjob names are inconsistent when used to start/stop and list webjobs"
## Describe the bug

Running `az webapp webjob continuous list` provides a list of webjobs with names that cannot be used to start/stop the webjob directly. It looks like the names provided is in the format of {appservicename}/{webjobname} whereas `start/stop` only accepts the webjob name

**Command Name**
`az webapp webjob continuous stop`
`az webapp webjob continuous start`

## To Reproduce:

-

[2021-04-21 03:59] yonzhan commented on #17795
Test

[2021-04-21 05:03] yungezz commented on #17786
route to appropriate team

[2021-04-21 05:04] yungezz commented on #17788
route to appropriate team

[2021-04-21 05:04] yungezz commented on #17790
route to appropriate team

[2021-04-21 05:04] yungezz commented on #17791
route to appropriate team

[2021-04-21 05:05] yungezz commented on #17792
route to appropriate team

[2021-04-21 05:05] yungezz commented on #17793
route to appropriate team

[2021-04-21 05:05] yungezz commented on #17796
route to appropriate team

[2021-04-21 05:20] thegreatdane6 commented on #15110
i am also having issues with that. Cleaning the charts did not help :(

[2021-04-21 05:37] qwordy opened #17801 "[SSHKEY] Generated private key is not shown to users"
**Describe the bug**

When a user doesn't pass public key to "az sshkey create", it will invoke
[code]
to generate a key pair. But the private key is not shown to user. Sshkey resource only stores public key. The user can never know the private key.

2 Solutions:

(1) Do not add extra logic for users. Do not generate key pair for users automatically. Expose generateKeyPair command.

(2) Add a fiel

[2021-04-21 05:42] khyewei commented on #17599
Hi, The new image again seems incompatible for TVM disk creation. It is Gen1 image and does not contain TVM tags.

Also I think TVM is not enabled in WestUS region, can we try creating disk in SouthCentralUS?

Retrieved VM image: {
  "properties": {
    "osDiskImage": {
      "operatingSystem": "Linux",
      "sizeInBytes": 32213303808,
      "sizeinGB": 31
    },
    "dataDiskImages": [],
    "re

[2021-04-21 05:45] khyewei commented on #17599
@***@***.***>, could you pls try:

https://management.azure.com/subscriptions/{{subscriptionId}}/providers/Microsoft.Compute/locations/westus/publishers/Canonical/artifacttypes/vmimage/offers/UbuntuServer/skus/18_04-lts-gen2/versions/18.04.202004290?api-version=2020-12-01<https://management.azure.com/subscriptions/%7b%7bsubscriptionId%7d%7d/providers/Microsoft.Compute/locations/westus/publishers/C

[2021-04-21 06:23] yungezz commented on #17801
sshkey issue

[2021-04-21 07:13] fgheysels opened #17804 "az signalr upstream update does not support KeyVault reference syntax"
**Describe the bug**

I have deployed Azure Signalr and I want to set the upstream settings via `az signalr upstream update` using a KeyVault reference, like this:

[code]
This gives me the error:

When I remove the @ symbol from the url template, I do not get this error.
Unfortunately, the @ symbol is required in this syntax.

## Environment Summary
[code]

[2021-04-21 07:49] yonzhan commented on #17804
route to service team

[2021-04-21 07:52] tshaiman opened #17806 "Missing az keyvault set-policy with compound identity"
[Enter feedback here]
looking at az keyvault set-policy docs comparing to Set-AzKeyVaultAccessPolicy PowerShell atlernative
since the two calls should be identical I could not find in the docs the option to run the following :

[code]
the above command adds a permission to COMPOUND IDENTITY on the KV

PS docs :
https://docs.microsoft.com/en-us/powershell/module/az.keyvault/set-azkeyvaultaccesspoli

[2021-04-21 07:57] chenkennt commented on #17804
@zackliu please help take a look

[2021-04-21 09:36] yonzhan commented on #17677
@simnyc any update or feedback?

[2021-04-21 10:17] gastonmuijtjens commented on #17792
When running the command with the `--debug` parameter, it produces the following output:
[code]

The request property `StorageAccount` is sent in a wrong way to the API, so it seems to be a problem with the CLI rather than the API itself.

[2021-04-21 12:13] arnaud-tincelin commented on #17493
I am having a similar issue but without directories. It seems `az acr build` and `docker build` don't interpret the .dockerignore file the same way.

.dockerignore file:
[code]

run `az acr build` ends with an error:
[code]

Whereas `docker build` runs successfully.

[2021-04-21 12:26] #17551 closed

[2021-04-21 12:47] jorenvs opened #17807 "postgres server list-skus throws "subscription does not exist" in empty subscription"
**Describe the bug**

When there are no databases in the subscription yet, trying to list the skus in westeurope region (same for other regions) for postgres sql, the command always complains about the subscription:
[code]

Creating a database works however and after that the list-skus command works as well, which seems like a bug. You need the list before creating a database, not after.

**To Rep

[2021-04-21 13:09] yonzhan commented on #17807
route to service team

[2021-04-21 13:18] Morriz opened #17808 "No output format provided for any of the cli commands"
No output format provided for any of the cli calls.

Example: `az network public-ip create`

Does it give back an ip address? What is the shape of the result?

Please provide reference documentation that is generated from api specs, and stop asking humans to produce this.

We are in 2021 and devs expect to find reference docs that are complete.

---
#### Document Details

⚠ *Do not edit this secti

[2021-04-21 14:36] yonzhan commented on #17808
@jiasli for awareness

[2021-04-21 15:24] lordhits commented on #15010
@BMeyn 's solution works. When deleting the resource group, it highlighted an additional resource type that i did not see in my original resource group and i think this is the "nested resource" it's complaining about. It's this type: `Microsoft.Network/privateDnsZones/virtualNetworkLinks`

[2021-04-21 15:58] jlichwa commented on #11576
In case of secrets we just store as it is, but for certificates we have to parse through pfx file and as of now our parser does not handle passwords. There is feature request you can vote on here https://feedback.azure.com/forums/906355-azure-key-vault/suggestions/32603098-add-support-for-storage-and-retrieval-of-password

[2021-04-21 16:17] yugangw-msft commented on #17493
+@northtyphoon to investigate

[2021-04-21 16:32] mauve commented on #17789
cool thanks

[2021-04-21 16:32] #17789 closed

[2021-04-21 17:01] guilhem commented on #17493
Problem is here: https://github.com/Azure/azure-cli/blob/29767d75d850ddc1c24cc85bd46d861b61d77a47/src/azure-cli/azure/cli/command_modules/acr/_archive_utils.py#L87

It only do matching to `ignore_items`.

[2021-04-21 18:16] ramwintel opened #17809 "Error: No available formula or cask with the name "azure-cli". - I couldn't install Azure Cli on my MAC , brew command always give same error"
**Resource Provider**

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2021-04-21 18:43] ramwintel commented on #17809
Ramkumars-MacBook-Air:casks meghnaram$ brew install azure-cli
==> Searching for similarly named formulae...
Error: No similarly named formulae found.
Error: No available formula or cask with the name "azure-cli".
It was migrated from homebrew/cask to homebrew/core.
Ramkumars-MacBook-Air:casks meghnaram$

[2021-04-21 18:44] ramwintel commented on #17809
Ramkumars-MacBook-Air:casks meghnaram$ brew install --cask azure-cli
Error: Cask 'azure-cli' is unavailable: No Cask with this name exists.
Ramkumars-MacBook-Air:casks meghnaram$

[2021-04-21 19:55] msft-tacox commented on #11576
@jlichwa Seems more like a bug as opposed to a feature to develop, no? As a customer, I expect AKV to store my secrets/certificates exactly as they are. Since AKV has failed to preserve the password, AKV has effectively corrupted my certificate.

It seems like there are others asking the same question - https://github.com/MicrosoftDocs/azure-docs/issues/64609

[2021-04-21 20:47] smokedlinq commented on #17739
I just installed 2.22.1 and this fixes this issue, at least for me. 👍

[2021-04-21 20:47] smokedlinq commented on #17718
I just installed 2.22.1 and this fixes this issue, at least for me. 👍

[2021-04-22 01:35] yungezz commented on #17809
hi @fengzhou-msft , could you pls have a look?

[2021-04-22 01:36] yungezz commented on #17806
add @houk-ms to have a look

[2021-04-22 01:54] jiasli commented on #17808
Same issue as #17332. @msyyc to provide the REST API link.

[2021-04-22 02:12] msyyc commented on #17719
@gsumit10 the api-version '2021-02-01' have not been merged into 'master' branch. After the PR merged, we will ask SDK team to release Python SDK. It will take 1~2 weeks. After SDK ready, we need to bump to new SDK for azure-cli. It will take 1~2 weeks. Then it is ok to develop this feature. So it is very hard to catch up with the target date. Could we deliver the feature in S188?

[2021-04-22 02:25] fengzhou-msft commented on #17809
@ramwintel please run `brew update` first.

[2021-04-22 02:35] fengzhou-msft commented on #17745
@confused-nerd what was the version before you upgrade? This issue was fixed in `2.21.0`, it's likely you were on  a previous version.
The error won't affect other commands in Azure CLI after upgraded, and next time you run `az upgrade`, the error shoun't happen again.

[2021-04-22 02:41] xfz11 opened #17811 "[VMSS] nsg_rule can't be set when create vmss"
**Is your feature request related to a problem? Please describe.**

No option to set nsg_rule when create vmss

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2021-04-22 02:51] gsumit10 commented on #17719
Hi,
The NRP changes are in 154 so have been published for a long time now. Can
we target an earlier api version?

On Wed, Apr 21, 2021 at 7:12 PM msyyc ***@***.***> wrote:

--
Thanks,
Sumit Gupta

[2021-04-22 02:58] SorraTheOrc commented on #17801
My original spec said that when a key was generated it should provide the same behavior as the --generate-ssh-key. I'm still unclear why this has not been implemented. Why would the behavior be different from the behavior of --generate-ssh-key? In that scenario the key is automatically saved in the users ~/.ssh directory.

Option 2, return the key, requires the user to know they must save the key,

[2021-04-22 02:59] fengzhou-msft commented on #17726
@Triamus It looks like you do not have the Microsoft Azure CLI repo: https://packages.microsoft.com/repos/azure-cli/. If not, please follow step 1-3 in [Step-by-step installation instructions](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?view=azure-cli-latest&pivots=apt) to add it and retry `az upgrade`.

[2021-04-22 03:02] fengzhou-msft commented on #17696
Fixed in version `2.22.1`.

[2021-04-22 03:02] #17696 closed

[2021-04-22 03:04] fengzhou-msft commented on #17688
Fixed in version `2.22.1`.

[2021-04-22 03:04] #17688 closed

[2021-04-22 03:54] Triamus commented on #17726
@fengzhou-msft Thanks that fixed it. I wasn't aware of the ubuntu bionic repo issue of azure cli.

[2021-04-22 03:54] #17726 closed

[2021-04-22 04:06] khyewei commented on #17599
@***@***.***>, did it work for you?

Khye

From: Khye Wei
Sent: Tuesday, April 20, 2021 10:46 PM
To: Anshul Solanki ***@***.***>; Azure/azure-cli ***@***.***>; Azure/azure-cli ***@***.***>; Feiyue Yu ***@***.***>
Subject: RE: [Azure/azure-cli] Trusted Launch - DiskRP CLI (#17599)

@***@***.***>, could you pls try:

https://management.azure.com/subscriptions/{{subscriptionId}}/providers/Microsoft.C

[2021-04-22 04:53] msyyc commented on #17719
@gsumit10
About 'Can we target an earlier api version?'. What is the meaning of it? Now azure-cli is using '2020-11-01'.

[2021-04-22 05:17] khyewei commented on #17599
@Khye ***@***.***> Yes, thank you very much!

________________________________
From: Khye Wei ***@***.***>
Sent: Thursday, April 22, 2021 12:06 PM
To: Anshul Solanki ***@***.***>; Azure/azure-cli ***@***.***>; Azure/azure-cli ***@***.***>; Feiyue Yu ***@***.***>
Subject: RE: [Azure/azure-cli] Trusted Launch - DiskRP CLI (#17599)

@***@***.***>, did it work for you?

Khye

From: Khye Wei
Sent: Tues

[2021-04-22 05:30] qwordy commented on #16674
@abuccts Thank you for reporting this issue. `namespace.os_type` is used later. We retrieve it from image definition. If I remove this piece of code and infer a os_type or require user input, it breaks existing command.
[code]

[2021-04-22 05:41] usrme commented on #17733
Would it be possible to get an update to this? This is quite a large breaking change in how `az ts` works and is a deciding factor whether alternatives should be considered or not.

[2021-04-22 05:43] #17625 closed

[2021-04-22 06:22] qwordy commented on #16674
I opened a PR to add a `try-except` statement to tolerate the error.

[2021-04-22 07:19] akvernberg commented on #17739
That seems to have solved the issue for me as well.
Thank you, @smokedlinq!

[2021-04-22 07:45] yungezz commented on #16626
close for now. Feel free to open new issue if any other error met.

[2021-04-22 07:45] #16626 closed

[2021-04-22 07:47] yungezz commented on #16727
use #17150 to track az upgrade via brew.

[2021-04-22 07:47] #16727 closed

[2021-04-22 08:39] Shaybs commented on #17785
We've fixed this issue with Microsoft support. A client may have changed their network rules and we ended up using another method for AKS/pods to look up certain websites.

[2021-04-22 08:40] Shaybs commented on #17785
Thanks, you may close this issue.

[2021-04-22 08:40] #17785 closed

[2021-04-22 10:27] VIPHercules opened #17818 "Unable to run functionapp update"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp update --resource-group {} --subscription {} --name

[2021-04-22 10:29] yonzhan commented on #17818
route to service team

[2021-04-22 10:56] realrubberduckdev opened #17819 "Example of blob move command fails"
[code]

Fails with
[code]

My az cli is up to date
[code]

Is the example incorrect or am I doing something wrong?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472d5f5f-3ce0-1220-3058-4b27068f512b
* Version Independent ID: 76e1699e-e6ba-c0dd-aad4-c5a7ab58260d
* Content: [az storage blob](https://docs.microsoft.com/en

[2021-04-22 10:59] Kotasudhakarreddy commented on #17790
@MansiLad I am unable to repro this issue. Please retry this with `CLI version 2.22.0` . If you still face the issue  share `-debug` logs

[2021-04-22 11:09] Kotasudhakarreddy commented on #17788
@Band-Aid It must be because of some incorrect input value. Please share the `--debug` log for your command to analyze further.

[2021-04-22 11:18] chaos-ui opened #17820 "Team Chaos Azurecli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az version`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az version {}`

## Expected Behavior

## Environment Summary
[code]
## Additi

[2021-04-22 11:23] yonzhan commented on #17819
Storage

[2021-04-22 11:30] yonzhan commented on #17820
@jiasli for awareness

[2021-04-22 11:48] Kotasudhakarreddy commented on #17792
@gastonmuijtjens able to repro this issue. Will consider this for future releases.

[2021-04-22 11:50] Kotasudhakarreddy commented on #17659
closing due to lack of response. Please file a new issue if this is still a problem.

[2021-04-22 11:50] #17659 closed

[2021-04-22 11:54] Kotasudhakarreddy commented on #17563
closing due to lack of response. Please file a new issue if this is still a problem.

[2021-04-22 11:54] #17563 closed

[2021-04-22 11:56] yonzhan commented on #17811
VMSS

[2021-04-22 12:56] ramwintel commented on #17809
Ramkumars-MacBook-Air:casks meghnaram$ brew update && brew install azure-cli
Already up-to-date.
==> Searching for similarly named formulae...
Error: No similarly named formulae found.
Error: No available formula or cask with the name "azure-cli".
It was migrated from homebrew/cask to homebrew/core.
Ramkumars-MacBook-Air:casks meghnaram$

[2021-04-22 12:56] ramwintel commented on #17809
Ramkumars-MacBook-Air:casks meghnaram$ brew update && brew install azure-cli
Already up-to-date.
==> Searching for similarly named formulae...
Error: No similarly named formulae found.
Error: No available formula or cask with the name "azure-cli".
It was migrated from homebrew/cask to homebrew/core.
Ramkumars-MacBook-Air:casks meghnaram$

[2021-04-22 12:57] ramwintel commented on #17809
Ramkumars-MacBook-Air:casks meghnaram$ brew update && brew install kubectl
Already up-to-date.
==> Searching for similarly named formulae...
Error: No similarly named formulae found.
Error: No available formula or cask with the name "kubectl".
==> Searching for a previously deleted formula (in the last month)...
Error: No previously deleted formula found.
==> Searching taps on GitHub...
Error: No

[2021-04-22 12:57] ramwintel commented on #17809
I tried all options from GOOGLE :) but no luck, Please help me resolve this issue. Thanks

[2021-04-22 12:58] ramwintel commented on #17809
I even tried upgrade,

Ramkumars-MacBook-Air:casks meghnaram$ brew upgrade
Ramkumars-MacBook-Air:casks meghnaram$ brew install --cask azure-cli
Error: Cask 'azure-cli' is unavailable: No Cask with this name exists.
Ramkumars-MacBook-Air:casks meghnaram$ brew install azure-cli
==> Searching for similarly named formulae...
Error: No similarly named formulae found.
Error: No available formula or cask

[2021-04-22 13:00] ramwintel commented on #17809
Ramkumars-MacBook-Air:casks meghnaram$ brew config
HOMEBREW_VERSION: 3.1.3-54-ge651c86
ORIGIN: https://github.com/Homebrew/brew
HEAD: e651c86b45b0c3e22446057dcfb6d501e6c601bb
Last commit: 16 minutes ago
Core tap ORIGIN: https://github.com/Homebrew/brew
Core tap HEAD: e651c86b45b0c3e22446057dcfb6d501e6c601bb
Core tap last commit: 16 minutes ago
Core tap branch: master
HOMEBREW_PREFIX: /usr/local
HO

[2021-04-22 13:00] michaelschmit opened #17821 "Kubernetes Version"
When performing an "az aks create" it would be nice if you could just specify the kubernetes major and minor version and have the patch version auto-populate.  I realize you can obtain the supported versions from "az aks get-versions", but if you are automating deployments, this becomes more problematic with the sliding patch window.  Ideally if you specify just the major and minor, you would jump

[2021-04-22 13:00] ramwintel commented on #17809
Ramkumars-MacBook-Air:casks meghnaram$ brew doctor
Please note that these warnings are just used to help the Homebrew maintainers
with debugging if you file an issue. If everything you use Homebrew for is
working fine: please don't worry or file an issue; just ignore this. Thanks!

Warning: Suspicious https://github.com/Homebrew/homebrew-core git origin remote found.
The current git origin is:
  h

[2021-04-22 13:03] ramwintel commented on #17809
I don't know what else command I can try :), I don't wants to wait too long.. I would like to fix it soon. Thanks

[2021-04-22 13:16] jiasli commented on #17820
A spambot, also spamming .NET Core (https://github.com/dotnet/core/pull/6181).

[2021-04-22 13:16] #17820 closed

[2021-04-22 13:24] #17598 closed

[2021-04-22 13:28] jiasli commented on #17545
Could you run the command with `--debug` and share the output?

[2021-04-22 13:31] #17527 closed

[2021-04-22 13:32] #17465 closed

[2021-04-22 13:34] #17276 closed

[2021-04-22 13:36] #17222 closed

[2021-04-22 13:37] jiasli commented on #17487
Spambot.

[2021-04-22 13:37] #17487 closed

[2021-04-22 13:41] jiasli commented on #16823
Redirecting to `http://localhost` is the standard process of [OAuth 2.0 authorization code flow](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-oauth2-auth-code-flow).

If your browser forces `https` on `localhost`, please see #10426.

[2021-04-22 13:41] #16823 closed

[2021-04-22 13:45] #16476 closed

[2021-04-22 13:46] #16758 closed

[2021-04-22 16:21] jamesmcroft opened #17823 "Failing to attach ACR to AKS with az aks update"
## Describe the bug

Recently ran into an issue where our Azure Pipelines were failing due to AKS not pulling contains from the ACR it's associated with.

Decided to check the service principal that is associated with the AKS using `az aks show --resource-group {rg-name} --name {aks-name} --query servicePrincipalProfile.clientId` followed by `az ad sp credential list --id "{id}" --query "[].endDat

[2021-04-22 16:27] JQUINONES82 commented on #17718
My Azure Shell is broken now as it was upgrade and bicep does not work.  I can fix this by installing on premise.

[2021-04-22 17:08] Alfredo-77 opened #17824 "az aks commands not recognized"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Hello team, I have installed extension az-preview, but when I try to execute a command like **az aks list**, the following error is displayed: **'aks' is misspelled or not recognized by the system.**

az version output with the evidence of the extension installed:
{
  "azure-cli": "2.22.1",
  "azure-cli-core":

[2021-04-22 17:41] apawast commented on #17533
@martinjanitor has this issue persisted for you?

[2021-04-22 17:44] apawast commented on #17596
@gzuber could you please help investigate?

[2021-04-22 17:50] apawast commented on #17653
@kulomkar93 are you able to reproduce this or was it just the one time? Could you also share your app name with us? If the issue is persisting, can you rerun the command with the --debug flag and share the output with us?

cc @gzuber

[2021-04-22 17:56] apawast commented on #17818
@VIPHercules has this issue persisted for you?

cc @gzuber

[2021-04-22 18:16] gsumit10 commented on #17719
@msyyc , can you share your alias and we can discuss this on teams? i understand that sdk is not yet generated but we have done powershell work with private sdk etc to make sure our side changes and validation are done and we are not waiting on sdk release as that has been pending for a couple of months now.

[2021-04-22 18:53] Morriz opened #17825 "option to specify aks create with only one egress ip for --load-balancer-outbound-ips"
**Is your feature request related to a problem? Please describe.**

It is now needed to provide two egress ips in case we want to provide static ip for egress. It is however not explained why 2 ips are needed to do so. Actually, after providing 2 ips it is possible to remove the second one through the portal and everything seems to keep working fine.

Anyway, we are only interested in having one s

[2021-04-22 19:03] Morriz opened #17827 "no defaults mentioned"
No default is mentioned for `--public-access`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: adcba5ed-e693-6345-2c1b-c17422d7b8f9
* Version Independent ID: 58297400-b777-6868-1687-0af3a512a16f
* Content: [az storage container](https://docs.microsoft.com/en-us/cli/azure/storage/container?view=azure-cli-latest)
* Content

[2021-04-22 19:40] detienne20 commented on #17733
@usrme Thank you for patience in this matter, I am thoroughly investigating this issue and will update this ticket as soon as possible.

[2021-04-22 22:16] berndverst opened #17828 "No bash completion (or missing instructions) on Mac (Big Sur)"
**Describe the bug**
A clean Homebrew install of Azure CLI used to include instructions for modifying `.bash_profile` or `.zshrc` to enable bash completion. This no longer appears to be the case.

**To Reproduce**
Install Homebrew
`brew install zsh`
`brew install azure-cli`

No information provided on how to enable auto completions.

**Expected behavior**

Include helper command like `az completio

[2021-04-22 22:43] beiriannydd opened #17829 "Internal error when doing check-acr"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks check-acr`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks check-acr -g {} -n {} --acr {}`

## Expected Behavior

## Enviro

[2021-04-22 22:50] yonzhan commented on #17827
storage

[2021-04-23 00:33] szimmerMicrosoft opened #17830 "Support NetworkApiVersion for Vmss with OrchestraionMode == Flexible"
**Resource Provider**
CRP

**Description of Feature or Work Requested**

If VMSS Orchestration mode is Flexible allow users to specify network-api-verision which will populate the networkApiVersion in the networkProfile of the VMSS

sample commands:

![image](https://user-images.githubusercontent.com/11670642/115800715-0c2fa800-a390-11eb-8ef6-0a6fd043679f.png)

Background:
[User Experience Doc](ht

[2021-04-23 00:37] tonybaloney commented on #17256
<img width="912" alt="Screen Shot 2021-04-23 at 10 36 40 am" src="https://user-images.githubusercontent.com/1532417/115801351-e05c0300-a41f-11eb-9856-39d55666ea8a.png">

This is the behaviour of the Azure extension for vs code. It'll show the correct stacks for Linux, you don't need to tell it that you want linux first

[2021-04-23 01:02] yungezz commented on #17830
2021-03-01 API version not available yet.

[2021-04-23 01:05] szimmerMicrosoft commented on #17830
I was told to make the design request now, so that we can get the design approved, and then when 2021-03-01 is published we will have an approved design.

Is this not the correct appoach?

[2021-04-23 01:07] yungezz commented on #17830
you're right @szimmerMicrosoft. We need to track status of Swagger, then make sure there's enough time buffer for Python SDK and CLI to catch 5/25 target.

[2021-04-23 01:08] yungezz commented on #17829
route to appropriate team

[2021-04-23 01:08] jsntcy commented on #17719
@gsumit10, Yuchao's alias is `yuchaoyan`, you can contact him in Teams.
So you want us to develop CLI using private SDK to validate your changes before public SDK is released?

[2021-04-23 01:09] yungezz commented on #17828
add @fengzhou-msft to help

[2021-04-23 01:10] yungezz commented on #17825
route to appropriate team

[2021-04-23 01:10] yungezz commented on #17824
route to appropriate team

[2021-04-23 01:11] yungezz commented on #17823
route to appropriate team

[2021-04-23 01:11] yungezz commented on #17821
route to appropriate team

[2021-04-23 03:55] matschaffer opened #17832 "azure-cli depends on prerelease version of azure-mgmt-rdbms"
**Describe the bug**

Looks like the bump came in this PR

https://github.com/Azure/azure-cli/pull/17359/files#diff-481a8a6350b8d10423625da596b3d9ce75402d0e8b80a60c4d1ecfb54044bb18R110

[code]

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

Would be nice to avoid needing to call `pipenv lock --pre` to install a non-prerelease azure-cli

[2021-04-23 04:04] yonzhan commented on #17832
azure-mgmt-rdbms

[2021-04-23 05:25] kulomkar93 commented on #17653
Since it was a learning  sandbox, I can neither able to reproduce it nor
give you the function name .I remember it was kulomkarfunction  It was just
happened one time.

On Thu, 22 Apr 2021, 23:20 Apeksha Awasthi, ***@***.***>
wrote:

[2021-04-23 06:06] #17599 closed

[2021-04-23 06:06] #17656 closed

[2021-04-23 06:48] msyyc commented on #17702
waiting for 'network-february-release' merge into 'master'

[2021-04-23 06:53] SainathKrishna commented on #17723
I was facing a similar issue, do have any solution for this. Kindly share the details.

Thanks,
SK

[2021-04-23 07:03] msyyc commented on #17311
@anavinahar  Any update about e-mail: 'RE: CLI for Gateway LB'?

[2021-04-23 07:06] Band-Aid commented on #17788
I just tried the exact same command but it is working now. Strange but at least it's working :)

[2021-04-23 07:06] #17788 closed

[2021-04-23 07:23] ZEROF opened #17835 "az interactive stop working after last upgrade"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]

[2021-04-23 07:57] aressler38 opened #17836 "Unable to set value in staticwebapp setting-names if contains equals"
**Describe the bug**
I can't set an app setting value of the new (preview) Azure Static Web App if the value contains an equals sign. This can happen when setting a connection string as an app setting.

**To Reproduce**
1. Create a storage account
2. create an azure static web app
3. Get the storage account connection string from `CONNSTR=$(az storage account show-connection-string --query connect

[2021-04-23 08:01] aressler38 commented on #17836
How do I use the command to put an equals sign in the app setting value?

[2021-04-23 08:23] Juliehzl commented on #17832
Add @DaeunYim for RDBMS package issue.

[2021-04-23 08:35] yonzhan commented on #17835
@jiasli for awareness

[2021-04-23 08:40] #16773 closed

[2021-04-23 08:44] fengzhou-msft commented on #16822
Our installer packages do not support ARM64 yet. Please try `az` installed with `pip install azure-cli` and let us know if it works.

[2021-04-23 08:53] TiborGalambos commented on #17563
reinstall helped, thanks

[2021-04-23 08:54] lopezleandro03 opened #17837 "WebApp:az webapp auth update not compatible with Auth settings 2.0"
**Is your feature request related to a problem? Please describe.**
Using the Azure CLI, it is not possible to script authentication settings on either App Service or Azure Function that were configured using authentication settings 2.0 using.

With Authentication(Classic), it is possible using `az webapp auth update` but when trying with a Function App that was  configured using the Azure Portal n

[2021-04-23 08:58] fengzhou-msft commented on #17666
According to the log, it may be related to this repo: https://cli-assets.heroku.com/branches/stable/apt

Close as it's caused by other apt repos. Azure CLI is not using bintray for the debian package.

[2021-04-23 08:58] #17666 closed

[2021-04-23 09:07] modbase opened #17838 "Simple OData filter results in error"
**Describe the bug**

I'm trying to use an OData filter to query Azure AD groups that start with a certain prefix. Executing the command results in the following error:

[code]

**To Reproduce**

Run the following command in PowerShell:

`az ad group list --filter "startswith(displayName,'somePrefix')"`

**Expected behavior**

I expect the command to return a list of AAD groups where the displayNa

[2021-04-23 09:12] aim-for-better commented on #16815
There are 2 test failed in HDInsight. I have fixed one(PR: #17552). The another one(test_hdinsight_cluster_with_relay_and_privatelink) can not be fixed, it needs some resource that need to be created in advance so the live test will fail.

[2021-04-23 09:25] yonzhan commented on #17838
@jiasli for awareness

[2021-04-23 09:57] usrme commented on #17733
To those also affected by this: I've found a somewhat robust workaround that relies on using `az rest` directly with an additional `wait` added with `az deployment sub wait`.

Here are some steps that worked for me:

- Read in parameters from a parameters file if you rely on parameters: `parameters=$(jq -c '.parameters' parameters.json)`
- Get resource ID of template spec you are referencing
- Cal

[2021-04-23 14:11] madsd commented on #17090
This was actually because we were not able to check if the service endpoint is set in a subnet across subscriptions. You can work around it with -i (or --ignore-missing-endpoint). In the upcoming release on 6. May (2.23) a friendly error message explaining this was added.
Fixed in #17687

[2021-04-23 14:11] madsd commented on #17030
This was actually because we were not able to check if the service endpoint is set in a subnet across subscriptions. You can work around it with -i (or --ignore-missing-endpoint). In the upcoming release on 6. May (2.23) a friendly error message explaining this was added.
Fixed in #17687

[2021-04-23 15:21] elasticdotventures opened #17841 "More detail on Fzf extension"
[Enter feedback here]

Trying to understand the nature of an `az cli fzf` filter group.  The documentation is ambiguous, any chance it could have an example?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 320a9fcc-4475-8ed4-7404-a09d81bf6ce1
* Version Independent ID: f3385cf5-48d3-3ca2-d5d0-c3ea7000bca7
* Content: [az

[2021-04-23 15:31] zhusulai opened #17842 "Unable to Install Machine Learning CLI Extension"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Unable to install Machine Learning CLI extension.

**Command Name**
`az extension add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az extension add -n a

[2021-04-23 16:56] bnb commented on #17256
+1 to what @tonybaloney said. As an extension of this discussion, it may also be useful to consider a "supported" column into such a table to more clearly communicate which versions of each runtime are and are not supported rather than having a parenthetical at the very end of the list which will theoretically grow infinitely.

[2021-04-23 17:40] bgrainger opened #17843 ""Triage" is spelled "Tirage" on App Service Project board"
At https://github.com/Azure/azure-cli/projects/19#column-6357476 there is a column labelled "Tirage". I'm assuming this should be "Triage".

![image](https://user-images.githubusercontent.com/188129/115909349-40eb4000-a420-11eb-9c19-875f64a1de9f.png)

[2021-04-23 18:05] Kotasudhakarreddy commented on #17836
Same issue has been tracking under #17792. So closing this issue.

[2021-04-23 19:25] gsumit10 commented on #17719
Thanks @jsntcy , Will discuss with Yuchao. Working with a private SDK can help us make progress on the changes. thats what we did with powershell as well. Please let me know if there are any issues.

[2021-04-23 19:54] zweim1 opened #17844 "az cosmosdb sql requires an api version (Microsoft.DocumentDB/databaseAccounts 2021-03-15) not available in US Gov Clouds"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Fail to run az cosmosdb sql commands for database accounts in US Gov Cloud.
Example: az cosmosdb sql database list --account-name MyAccount --resource-group MyResourceGroup.
The cosmosdb cli requires "providers/Microsoft.DocumentDB/databaseAccounts, api-version=2021-03-15", but US Gov Clouds do not have this sp

[2021-04-23 20:20] MaurGi commented on #17806
+1, we need this @yungezz,  @houk-ms - we would be really appreciate it.

[2021-04-23 20:40] zweim1 commented on #17844
In Azure DevOps, all the Microsoft-hosted agents (https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/hosted?view=azure-devops&tabs=yaml) are using Azure CLI (azure-cli) 2.22.0

[2021-04-23 21:04] smokedlinq opened #17845 "API Management support for KeyVault Named Values"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az apim nv list`

**Errors:**
No keyvault named values are returned

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az apim nv list -g {} -n {}`

## Expected Behavior

## Environment Summary
[code]

[2021-04-23 21:18] szimmerMicrosoft opened #17846 "Support delete option for NICs and Disks for VMs in Azure CLI"
**Resource Provider**
CRP

**Description of Feature or Work Requested**
User experience:

![image](https://user-images.githubusercontent.com/11670642/115929839-4b680280-a43d-11eb-9e8a-93c74966fa9b.png)

In text:

az vm create
-n MyVm
-g MyResourceGroup
--public-ip-address-dns-name MyUniqueDnsName
--image ubuntults
--size Standard_DS2_v2
--generate-ssh-keys
--data-disk-sizes-gb 10 20
--data-disk-de