[2016-11-11 00:12] lostintangent commented on #1287
I see the same `Error loading command module 'acs'` error, when using the latest nightly CLI build (`0.1.0b8+1.dev20161109`) on macOS. When I run `az acs -h`, I notice that the `dcos` subgroup isn't displayed anymore, so it's almost like the `acs` module was reverted to an older version than I previously had before upgrading the CLI.

[2016-11-11 00:18] yugangw-msft commented on #1287
//cc:@derekbokoe
Till yesterday, the change on ACS modules was to use new versions of compute sdk. @lostintangent does your machine have existing nightly installed?

[2016-11-11 00:23] lostintangent commented on #1287
This is the output of running `az --version`. Interestingly enough, I just noticed that the version of the ACS module is oddly old, which is strange since I know that I updated it since then, so it seems like it got rolled back or something odd.

[code]

[2016-11-11 02:26] SteveLasker commented on #1287
@yugangw-msft do we have an update? I need the acr, acs and appservice apis to work for the Connect() keynotes

[2016-11-11 03:22] jsakamoto opened #1294 "On-board SQL Commands"
@gregjhogan posted new issue for azure-xplat-cli ( https://github.com/Azure/azure-xplat-cli/issues/2204 ), so I have same request for new azure-cli.

[2016-11-11 03:28] jsakamoto commented on #1294
Of course, I don't mind command line syntax. I want an ability to control SQL Database from command line tool.

[2016-11-11 04:29] yugangw-msft commented on #1287
@derekbekoe, could you please take a look why we bring down the oldest version `0.0.1+1.dev20161023`, rather, rather the latest `0.1.0b8+1.dev20161110`? To me we might have a bug at `az component update`

[2016-11-11 04:33] yugangw-msft commented on #1287
And this version mismatch directly causes the old `acs` module is not able to invoke common api which had signature change recently
[code]

[2016-11-11 04:45] yugangw-msft opened #1296 "resource: support tenant bound resources"
The work is to let generic resource commands handle such RPs including `intune` and `powerapps`
So far in cli, only graph commands work at tenant level, all others assume at subscriptions level.

Discussed in PR #1280. Not urgent, but we will need it
[code]

[2016-11-11 05:55] troydai opened #1297 "Update repository information on https://hub.docker.com/r/azuresdk/azure-cli-python/"
1. The format is off;
2. Installation instruction of cli 2.0 are out-of-date; (for example, sudo is still promoted.)

[2016-11-11 08:28] nneul commented on #1293
Referenced PR catches a bunch of other places this is referenced. It's a pretty simplistic patch, though I'd highly recommend factoring out into a 'getConfigDir()' function at some point and using that everywhere this PR touches instead.

[2016-11-11 16:52] jdumars commented on #1282
+1
[code]

[2016-11-11 17:16] tjprescott commented on #1294
Hi @jsakamoto we plan on adding SQL support in the coming months. Please check back periodically. Thanks!

[2016-11-11 17:36] jsakamoto commented on #1294
@tjprescott Thank you for replay. I'm looking forward to release day.

In my case, I often open/close IP based firewall from my remote working space, that is dynamic changing global IP address, for temporary maintenance job.

I appreciate if this job can finished with one click my script powered by "az" azure-cli.

Thanks!

[2016-11-11 17:47] tjprescott commented on #1294
Thanks @jsakamoto! This will help us prioritize the on-boarding of commands. SQL team is working hard behind the scenes to enable us to bring this functionality to the CLI. Right now I've put this on the backlog, but you should get updates when it is scheduled for an upcoming milestone.

[2016-11-11 17:56] #1223 closed

[2016-11-11 18:15] tjprescott commented on #1252
@troydai this can be closed, yes?

[2016-11-11 18:19] tjprescott commented on #1110
@derekbekoe this can be closed, yes?

[2016-11-11 18:23] tjprescott commented on #1057
This has been done.

[2016-11-11 18:23] #1057 closed

[2016-11-11 18:33] derekbekoe commented on #1287
For some reason, pip was choosing an older version of the `acs` module to install.
I have deleted the old versions of the nightly 'acs' module so now it installs the latest version.

[code]

[2016-11-11 18:54] #1110 closed

[2016-11-11 18:55] #1122 closed

[2016-11-11 18:59] mayurid commented on #1294
Adding it to upcoming Sprint 8. We will have some key things lighting up and will go incrementally from there.

[2016-11-11 20:33] tjprescott commented on #1123
Reopening since the PR only addressed part of this issue.

[2016-11-11 21:20] tjprescott commented on #998
@troydai also related to what you are currently working on.

[2016-11-11 21:21] tjprescott commented on #946
This has been fixed.

[2016-11-11 21:21] #946 closed

[2016-11-12 00:09] #885 closed

[2016-11-12 00:16] tjprescott opened #1301 "[KeyVault] Remove embedded client"
Once PR https://github.com/Azure/azure-sdk-for-python/pull/828 is merged, we can remove the embedded client and update imports to point to the Python SDK.

[2016-11-12 00:24] #1287 closed

[2016-11-12 01:50] lostintangent opened #1303 "[ACS] Scale command doesn't seem to work for Kubernetes clusters"
The `az acs scale` command has worked great for DC/OS clusters, however, I just tried using it against a Kubernetes-configured cluster, and I get the following error: `Parameter 'secret' can not be None.`.

Is this command specific to DC/OS, or is it intended to support all ACS-supported orchestrators? Its help text seems to indicate that it's generic, but if that isn't the case, maybe it should b

[2016-11-12 01:57] lostintangent opened #1304 "[ACS] The create command doesn't support auto-completion for its orchestrator-type argument"
The help text for the `az acs create` command doesn't mention what the allowable values are for the `--orchestrator-type` argument  (other than mentioning that `dcos` is the default value), and that argument also doesn't seem to support auto-completion. It would be great if it was clearer that Swarm, DC/OS and Kubernetes were supported, and if so, the exact values that the command expected in orde

[2016-11-12 02:06] lostintangent opened #1305 "[ACS] Help text for the create command's service principal arguments aren't clear"
As far as I can tell, when you create a Kubernetes cluster via `az acs create`, it will generate a new service principal for you if you didn't specify the `--client-secret` or `--service-principal` arguments. This behavior is great, however, the help text doesn't make it clear whether this is the default/expected behavior, and therefore, users might expect to need to specify them.

[2016-11-12 02:18] mayurid commented on #1305
@brendanburns to comment..

[2016-11-12 02:34] mayurid commented on #1304
@brendanburns to comment

[2016-11-12 02:42] brendandburns commented on #1304
@lostintangent thanks for the feature request, definitely worth doing.

[2016-11-12 02:42] brendandburns commented on #1304
@mayurid I can't seem to assign this to myself, can someone else do it?

[2016-11-12 02:43] brendandburns commented on #1305
@lostintangent Can you clarify where you want the help text?  On the `acs create` command?  Or on the flags themselves?

Thanks
--brendan

[2016-11-12 02:52] mayurid commented on #1304
@brendandburns : done and labelled it correctly too.

[2016-11-12 02:59] lostintangent commented on #1305
@brendandburns Ah sorry that I didn't mention this detail! I was thinking it would be nice if this was mentioned in the help text of the ACS create command. Similarly to how the argument for the SSH key mentions that it will use your local id_rsa.pub file if unspecified.

[2016-11-12 03:07] lostintangent commented on #1305
BTW I love that the Kubernetes cluster creation auto-creates a service principal for you. It's a really great user experience overall :)

[2016-11-12 05:12] jsakamoto commented on #1294
Wow, it is good news!
I appreciate for your rapid response.
Thanks!

[2016-11-12 06:27] yugangw-msft commented on #1282
It is not available in public release, but it is in nightly drop.
Check out the [nightly installation doc](https://github.com/Azure/azure-cli/blob/master/doc/nightly/installing_nightly.md) if you are interested, and make sure you install the extra `acs` component `az component update --add acs --private`

[2016-11-12 06:27] #1282 closed

[2016-11-12 06:27] yugangw-msft commented on #1281
Same thing like #1282

[2016-11-12 06:27] #1281 closed

[2016-11-12 06:32] yugangw-msft commented on #1304
@brendandburns , make sure the swagger (and python sdk) exposes the new enum member, move all acs commands/params from `vm` to `acs` module like we planned, then the auto-completion will work automatically

[2016-11-12 07:04] brendanburns commented on #1304
Cool, swagger update is merged, in waiting on the pypi update will get to
it early next week.

Thanks
Brendan

On Fri, Nov 11, 2016, 10:32 PM Yugang Wang <notifications@github.com> wrote:

[2016-11-13 02:22] troydai commented on #1252
Partially.

We're able to run test modules in parallel, but not the tests in test suites.

[2016-11-13 02:30] troydai commented on #1264
Command modules' pylint executions are now in parallel: https://github.com/Azure/azure-cli/pull/1302

Next, make azure cli core pylint run parallel with command modules.

[2016-11-13 10:54] chaliy opened #1307 "az vm create .. --ssh-key ~/.ssh/id_rsa.pub not working on Windows"
Trying to use az in crossplat way. I want to use global SSH key in home directory.

`
cat ~/.ssh/id_rsa.pub # works in PowerShell
`
And then try to create VM on Windows with
`
az vm create -n test -g test --image UbuntuLTS --admin-username ops --ssh-key ~/.ssh/id_rsa.pub
`
Getting error:

[code]

I understand root cause, and absolute path actually works fine, but most examples uses `~/.ssh/id_rsa.

[2016-11-13 11:51] chaliy opened #1308 "Error: "Could not find a version that satisfies the requirement azure-cli" on azure ubuntu"
Not sure if this correct place to report this issue, but let me try.

Installation using PIP files on VM create in Azure using UbuntuLTS alias (Ubuntu Server: 14.04LTS)

[code]
And
[code]

[2016-11-13 16:48] SteveLasker opened #1309 "az acs create fails on provisioning microsoft.network"
attempting to create an acs instance through the az acs create cli does not properly register microsoft.network.
[code]
However, using the portal to provision acs does the proper registrations.

Expected:
az acs create does the same steps as the portal arm template for registering Microsoft.Networking and any other resources required.

[2016-11-13 17:35] rgardler commented on #1309
For clarity, this only occurs with a subscription that had not used ARM before.

[2016-11-13 21:05] lostintangent opened #1310 "[ACS] Deleting an ACS instance only deletes the "logical" ACS resource"
Creating an ACS instance via `az acs create` generates all of the necessary Azure resources in order to support the cluster (e.g. load balancer, master/agent VMs), however, when you delete it via `az acs delete`, it only seems to remove the "logical" ACS resource, and none of its children that were created as a result of its corresponding create command.

Maybe this is expected behavior, but it se

[2016-11-13 21:18] mayurid commented on #1310
@brendanburns to comment

[2016-11-13 21:49] lostintangent opened #1311 "[ACS] The Kubernetes get-credentials command overwrites local kubeconfig file"
The `az acs kubernetes get-credentials` command is really useful, however, I noticed that it seems to overwrite the local kube config file (e.g. `~/.kube/config`), and I can't seem to find a way to have it simply add the new cluster/context/user info to my existing kube config file (unless I choose to do it myself and not use this command). It would be cool if there was a way for me to do somethin

[2016-11-14 09:40] mulcahys commented on #1282
Thanks for the update and that link @yugangw-msft.

[2016-11-14 17:43] troydai commented on #1264
Fixed in https://github.com/Azure/azure-cli/pull/1312

[2016-11-14 17:43] #1264 closed

[2016-11-14 17:48] yugangw-msft commented on #1307
@chaliy, so i assume you use `--ssh-key ~/.ssh/id_rsa.pub` is a regular windows command window?

[2016-11-14 17:51] chaliy commented on #1307
@yugangw-msft yep. Actually I use Makefile that I run both Windows (powershell console) and Linux (bash console). I realize that ~/.ssh/id_rsa.pub is not native for Windows, but for example Powershell already supports this.

[2016-11-14 17:59] yugangw-msft commented on #1287
@derekbekoe, thanks. Looks like it is glitch caused by `acs` module didn't start from pre-release for 3 days and then switched to pre-release later, this caused the old non-pre-release version always got picked up

[2016-11-14 18:10] derekbekoe commented on #1308
@chaliy What version of pip did you have installed?

The version of pip that comes with `apt-get install pip/pip3` is not recent. I got 1.5.4 which was released in 2014.
Older versions of pip did not install pre-release packages by default.

I recommend upgrading pip:
[code]

---

Steps to Reproduce:
1. Create an UbuntuLTS VM - `az vm create -g <RG> -n <NAME> --image UbuntuLTS`
2. SSH to VM
3. `su

[2016-11-14 18:12] yugangw-msft commented on #1307
/cc:@johanste
We should go ahead to support expanding the `~`, so that the same script can run cross platforms.

[2016-11-14 18:30] jdumars commented on #1309
You need to register services in order to use them.  This should get you there:
[code]

[2016-11-14 18:46] yugangw-msft commented on #1091
It is in

[2016-11-14 18:46] #1091 closed

[2016-11-14 18:49] jdumars opened #1313 "[ACS] Cluster create fails with "value of parameter vmSize is invalid" / --agent-vm-size medium does not work"
Error messages (client and system config below for readability's sake).

[code]
Setting the vmSize parameter is not allowed:

[code]
Output:
[code]
az version:
[code]
Component info:
[code]

[2016-11-14 23:56] lostintangent opened #1321 "[ACS] Add a browse/dashboard command for Kubernetes"
The `az acs dcos browse` command allows easily connecting to the admin dashboard for a DC/OS cluster in ACS, however, there isn't currently an equivalent for Kubernetes. It would be great if there was an `az acs kubernetes browse` command that handled starting the local proxy and launching a browser to the k8s admin UI. This would behave similar to the `minikube dashboard` command (which many may

[2016-11-15 00:22] derekbekoe opened #1323 "Incorrect URL for 'az acs kubernetes install-cli'"
For 'Darwin', the URL to download `kubectl` from appears incorrect.

It is `'https://storage.googleapis.com/kubernetes-release/release/v{}/darwin/amd64/kubectl'.format(client_version)`

Looks like it should be:
`'https://storage.googleapis.com/kubernetes-release/release/v{}/bin/darwin/amd64/kubectl'.format(client_version)`

[2016-11-15 00:45] mayurid commented on #1323
@brendanburns and @sauryadas: Guys, Derek has a PR out for this. it would be awesome if you guys can take a quick look.
@yugangw-msft as fyi

[2016-11-15 01:30] derekbekoe commented on #1308
Alternatively, use `pip install --pre azure-cli`.

[2016-11-15 18:04] troydai opened #1324 "Insert space after # in block comments of the file headers"
This is today's copyright header“
[code]
There isn't a space between the `-` and `#`. It is not recommended in [PEP8](https://www.python.org/dev/peps/pep-0008/#block-comments). Errors are reported in PyCharm and other editors if PEP8 is enabled.

The files can be updated together in one batch automatically.

[2016-11-15 18:08] tjprescott commented on #1324
There's a script that puts the headers in each file. It might be as simple as updating that and rerunning (or that might just result in appending the new correct header, which would not be good).

[2016-11-15 18:10] brendandburns commented on #1321
@lostintangent `kubectl proxy` and then going to `http://localhost:8001/ui` does this.

Do you think we need to wrap that up in an `az` command?

[2016-11-15 18:14] brendandburns commented on #1313
@jdumars

ACS thinks you're trying to update a failed cluster.  (the error message should probably be better here)
You need to delete the failed cluster first:

`az acs delete --resource-group=acs-kube --name=kubernetes`

And then you should be able to specify VM size.

Can you send the command that originally failed?  We should be using a generally available vm size...

Thanks

[2016-11-15 18:15] brendandburns commented on #1311
No, we should definitely merge into the existing config.  I'll take that on...

[2016-11-15 18:15] tjprescott commented on #1237
Moving to Spring 7 as the original fairly trivial fix has become part of a larger refactoring.

[2016-11-15 18:17] brendandburns commented on #1310
Yeah, this is the current ACS behavior for all orchestrator types.  Its not ideal.  The trouble is right now you can deploy an ACS cluster into a resource group with other stuff in it, and we don't really track what we created, so it's tricky to know what to delete.  We will be improving the ACS API to do a better job here.

In the mean time, we could add a `--delete-parent-resource-group` flag th

[2016-11-15 18:17] brendandburns commented on #1309
We should probably automatically do this in the CLI.  I'll take that on.

[2016-11-15 18:20] tjprescott commented on #1238
Moving to Sprint 7 as the permission our subscription requires to test this is still listed as "Pending". Working with the ARM team to resolve.

[2016-11-15 18:23] jdumars commented on #1313
@brendandburns it was this command:
[code]
Also, I switched to the Docker version of the cli this morning instead of natively on my Mac and was able to successfully create a cluster.

[2016-11-15 18:25] lostintangent commented on #1321
@brendandburns That solution definitely works great, so this suggestion isn't a blocker by any means. I just wondered whether it wouldn't be a nice helper command since the Az CLI already has the equivalent command for DC/OS, as does minikube, so there's a little bit of precedent for the value. But I think it's pretty low-pri since, as you mentioned, the kubectl already provides a simple solution.

[2016-11-15 18:27] brendandburns commented on #1321
well, at the least we can shell out to kubectl...  easy enough to do, and I think supporting the precedent makes sense.  (though honestly, I want to kill the SSH tunnel in general, it's a bad pattern to encourage)

[2016-11-15 18:28] brendandburns commented on #1313
odd, ok, I'll try to repro.  Did you use the same command for the Docker version of the CLI?

Thanks

[2016-11-15 18:33] jdumars commented on #1313
Yes, exactly the same.  I might be able to repro if you need some extra information.  I just abandoned that method when Docker did the job.

[2016-11-15 20:04] SteveLasker commented on #1309
Agreed @brendanburns. Do we really want developers having to enable/disable resources?  When provisioning with an arm template, these are handled automatically. I'm sure there's some reason why this prinitive exists, but I don't believe there's value in making it that much more complicated for them to use our services.

[2016-11-15 20:17] brendandburns commented on #1309
@SteveLasker agreed, I think the CLI should auto-register for users for ACS.  For the general case, we can talk about why it is this way in person sometime.

[2016-11-15 20:46] colemickens commented on #1313
This is on Mac OS Sierra 10.12.1 (16B2555) and the latest `azure-cli` on pypi. Everything went as expected:

[code]

Output:
[code]

[2016-11-15 20:47] #1305 closed

[2016-11-15 20:49] yugangw-msft commented on #1304
fixed through #1326

[2016-11-15 20:49] #1304 closed

[2016-11-15 20:54] yugangw-msft opened #1329 "acs: remove dependencies on external command modules"
Tracking:
For now, it depends on `azure-cli-vm` and `azure-cli-role` which we should remove as we expect each command module can be updated and published by itself. This involves 2 pieces of works
a.	Move all acs commands from ‘vm’ module to ‘acs’ module
b.	Move ‘create-for-rbac’ to a share utility module. This is under the impression that acs won’t get server side handle it in near future.

[2016-11-15 20:55] lostintangent commented on #1304
@brendandburns Thanks for the really fast turnaround!

[2016-11-15 21:21] pragyamehta opened #1331 "Error message should be more specific in case of non-unique dns prefix"
Error thrown when a non-unique dns prefix is specified is below

At least one resource deployment operation failed. Please list deployment operations for details. Please see https://aka.ms/arm-debug for usage details. {
  "status": "Failed",
  "error": {
    "code": "ResourceDeploymentFailure",
    "message": "The resource operation completed with terminal provisioning state 'Failed'.",
    "detai

[2016-11-15 21:22] ahmetalpbalkan opened #1332 "az ad sp create-for-rbac: flakiness"
The following cmd sometimes returns error, but the actual AAD app is created (but not the SP):

[code]

When I do `az ad sp show --id http://foo-bar-ahmetb/`, I got error:

    ERROR: service principal 'http://foo-bar-ahmetb/' doesn't exist

but `az ad app show --id http://foo-bar-ahmetb/` worked just fine.

So it looks like `create-for-rbac` probably is running into some replication delay issue o

[2016-11-15 21:25] derekbekoe commented on #1331
@pragyamehta
Can you provide details on what command produced this error message?
Also what version of the CLI was installed? `az --version`

[2016-11-15 21:27] pragyamehta commented on #1331
az acs create --resource-group myacs-rg --name myacs --dns-prefix myacs

az --version
azure-cli (0.1.0b9)

acr (0.1.0b9)
acs (0.1.0b9)
appservice (0.1.0b9)
cloud (0.1.0b9)
component (0.1.0b9)
configure (0.1.0b9)
container (0.1.0b9)
context (0.1.0b9)
core (0.1.0b9)
feedback (0.1.0b9)
network (0.1.0b9)
profile (0.1.0b9)
resource (0.1.0b9)
role (0.1.0b9)
storage (0.1.0b9)
vm (0.1.0b9)

Python (Window

[2016-11-15 21:27] ahmetalpbalkan commented on #1332
I can repro this better now, even `az ad app show` fails a few times before actually showing up.

It looks like an eventual consistency issue.

[code]

[2016-11-15 21:31] ahmetalpbalkan commented on #1332
Sometimes the error is like:

[code]

in that case, returned ID doesn't show up in `az ad app show --id` at all.

[2016-11-15 21:57] #1323 closed

[2016-11-15 22:24] #1324 closed

[2016-11-15 23:06] derekbekoe commented on #947
Closing issue. Please re-open if this is something we still wish to do.

[2016-11-15 23:06] #947 closed

[2016-11-15 23:08] #1242 closed

[2016-11-15 23:41] derekbekoe commented on #769
Related to https://github.com/Azure/azure-cli/issues/947

[2016-11-15 23:46] derekbekoe commented on #769
The linked PR adds jp, jq and jpterm.
xplat cli has not been added. As mentioned in https://github.com/Azure/azure-cli/issues/947#issuecomment-260799310, we can discuss if we still wish to do this later.

[2016-11-15 23:58] derekbekoe commented on #1272
I've investigated this and it was because the apt-get install was used to install b7 and when updating, the native dependencies weren't installed.

Use `sudo apt-get update && sudo apt-get install azure-cli` to get the latest version.

Alternatively, install the native dependencies first:
[code]

[2016-11-16 00:06] derekbekoe commented on #1253
Verified on Bash on Windows as working.
Looks like this was a transient issue.

[2016-11-16 00:06] #1253 closed

[2016-11-16 00:21] lostintangent opened #1337 "[webapp] Container update command doesn't validate image name"
I just noticed that the new `Docker Container` pane for App Service on Linux instances provides image name validation, which is a really handy feature for preventing subtle config errors:

<img width="450" alt="screen shot 2016-11-15 at 4 08 20 pm" src="https://cloud.githubusercontent.com/assets/116461/20329709/da22b6a6-ab4e-11e6-8ee7-274f9bbd0104.png">

It would be great if the `az appservice web

[2016-11-16 00:22] brendandburns commented on #1313
@yugang-msft can we close this as we are unable to repro.

(and if you can add me to this project, I'll take care of closing things myself :)

[2016-11-16 00:23] brendandburns commented on #1331
Acknowledged.  We should do a better job of validating in the API server before we send the request on...

We can add extra checks in the CLI as well.

[2016-11-16 00:28] sauryadas opened #1338 "ACS: Resource group existence validation after creating SP"
Looks like we create the service principal first (which takes a while) and then validate if the resource group exists or not. Should we validate for rg first?

![ttt](https://cloud.githubusercontent.com/assets/15387759/20330005/933977dc-ab50-11e6-9d9d-046b900c4e18.png)

[2016-11-16 00:35] mayurid commented on #1338
@brendanburns to comment.

[2016-11-16 00:43] derekbekoe opened #1340 "Improve CLI start-up and tab completion performance (phase 3)"
Investigate ways to further improve CLI start-up and tab completion speed.

[2016-11-16 00:45] derekbekoe commented on #1051
@pcgeek86 thanks for the feedback.
In our latest release (0.1.0b9), we have made some performance changes that improve tab completion speed (by ~50%).
I have created https://github.com/Azure/azure-cli/issues/1340 to track further improvements.

[2016-11-16 00:45] #1051 closed

[2016-11-16 01:27] derekbekoe opened #1341 "Curl install script improvements"
- [x] Change default install location to a user location (e.g. `~/az`) instead of global location (`usr/local/az`)
- [x] Prompt user if they want the script to modify their profile/rc file to update $PATH.
- [x] Fail install with appropriate message if custom install path contains space. Provide user friendly error message to address https://github.com/Azure/azure-cli/issues/1070

- [x] Allow cust

[2016-11-16 01:46] colemickens opened #1342 "Completion throws error under zsh under normal conditions"
If I try to `source az.completion.sh` in `zsh`, I get this:

[code]

This was not happening a week or so ago.

It goes away if I run `source <(kubectl completion zsh)` beforehand. I think this is because the kubectl completion enables ZSH's completion compatibility mode. `azure-cli` should do the same.

[2016-11-16 07:21] brendandburns opened #1343 "Docker image is missing ssh-keygen"
Many tools expect to be able to make keys, but the command is missing from the `az-cli` docker image.

[2016-11-16 13:33] jdumars commented on #1313
@brendandburns closing!  Fixed in the most recent release.

[2016-11-16 13:33] #1313 closed

[2016-11-16 13:37] jdumars commented on #1343
Workaround until the image is changed:
[code]
Also handy are dependencies to enable curl against https:
[code]

[2016-11-16 17:38] yugangw-msft opened #1346 "VM: create LRO polling mechanism improvement"
For now, we pull every 5 seconds.
We need to have this aggressive polling only for the first 400 seconds. After that we can have an incremental back-off. Having a flat polling every 5 seconds will have high risk of running into the ARM throttling limits.

[2016-11-16 17:56] derekbekoe commented on #1343
I'll address this as part of https://github.com/Azure/azure-cli/pull/1336

[2016-11-16 18:13] #1222 closed

[2016-11-16 18:39] tjprescott commented on #1346
The whole point of the 5 second polling interval was so that truly long running LROs (like VM create) didn't incur a penalty of roughly 1/2 the polling delay. If we end up using a short delay for short LROs and a long delay for long LROs, it seems like we have the same perf hit for the long LROs while just adding more requests for the short ones for no discernible benefit (don't know of anyone com

[2016-11-16 18:43] yugangw-msft commented on #1346
Agreed with your point.
Since it is for VM, and most time, I saw the VM gets created within 3 minutes(180 seconds). So for now, I think this is for edge case when the service was slowed down for reasons.

[2016-11-16 18:44] yugangw-msft commented on #1346
Also, this bug was opened per folks doing perf evaluation from other teams

[2016-11-16 19:25] tjprescott commented on #1346
If we are going to end up with long polling intervals for long LROs, then why not just go back to the default of 30 sec?

[2016-11-16 20:04] yugangw-msft opened #1347 "support multiple cli command sessions run concurrently"
The main thing is to protect file asserts under ~./azure
1. The main files are `accessFile.json`, and `acccessTokens.json` which can be updated by commands automatically
2. For  some other files, which you have to run `az configure` interactively to update it, we don't need to concern.

The goal is to get things reliably, and also take into considerations of creds sharing with xplat-cli
One option

[2016-11-16 20:14] yugangw-msft commented on #1332
There is a known replication limitation that the `sp` is created, but is not propagated to the `pas` system where the `role assignment` gets processed. The SLA is 2 minutes. `create-for-rbac` avoids this limitation by providing the AD server where the sp got created when submit the request to create the assignment
But your issue reveals what i see it first time that the ad object is not created or

[2016-11-16 20:27] yugangw-msft commented on #1346
agree

[2016-11-16 20:45] djyou opened #1349 "[Core] cli should have a centralized interactive input() function that checks if STDIN is a TTY"
[code]

[2016-11-16 20:47] djyou commented on #1349
As requested by @ahmetalpbalkan

[2016-11-16 20:48] ahmetalpbalkan commented on #1349
How's this different than #1348?

[2016-11-16 20:49] ahmetalpbalkan commented on #1349
Also it's not ACR specific I believe. azure-cli should have a centralized interactive input() function that checks if STDIN is a TTY and if not, it should return a nicer error (instead of a stack trace).

[2016-11-16 20:52] djyou commented on #1349
https://github.com/Azure/azure-cli/issues/1349 is to track the issue in our command module or azure-cli in general, https://github.com/Azure/azure-cli/pull/1348 is the PR to fix our command module.

[2016-11-16 20:56] tjprescott commented on #1347
This is related to #1293.

[2016-11-16 21:26] ahmetalpbalkan commented on #1349
ah you can add [ACR] prefix to issue to disambiguate.

[2016-11-16 21:38] #769 closed

[2016-11-16 21:38] #1343 closed

[2016-11-16 22:43] dbarentine opened #1350 "ACS Kubernetes get-credentials fails with a getaddrinfo failed error"
I created an ACS Kubernetes cluster via the Azure portal but when I try to use "az acs kubernetes get-credentials" to set up kubectl config I get the following error:

[Errno 11001] getaddrinfo failed
Traceback (most recent call last):
  File "C:\python27_x64\lib\site-packages\azure\cli\main.py", line 33, in main
    cmd_result = APPLICATION.execute(args)
  File "C:\python27_x64\lib\site-packages\

[2016-11-16 22:46] yangl900 opened #1351 ""az vm create" should do a pre-check for available SKUs"
The default az vm create doesn't work for some location and will get error "The requested VM size 'Standard_DS1' is not available in this region". Unfortunately there is no easy way to find out the available region/sku combination from CLI. At this point user has to keep retrying different location, or open portal to figure out what's available.

I suggest we do similar pre-deployment check like p

[2016-11-16 22:47] derekbekoe commented on #1347
I believe there are two parts to this:

**Scenario 1**
I want to be able to run multiple cli command sessions run concurrently for the same account.

For this scenario, as @yugangw-msft mentioned, we need to protect concurrent access to `accessTokens.json` and `azureProfile.json`.

Concurrent access could occur if the cli sessions all needed to refresh an access token at the same time for example.

[2016-11-16 22:49] mayurid commented on #1351
@yugangw-msft to take a look.

[2016-11-16 22:57] mayurid commented on #1350
@brendanburns to take a look.

[2016-11-16 22:59] derekbekoe commented on #1351
We have the `az vm list-sizes -l <location>` command. Does that help?

For example:
[code]

[2016-11-16 23:07] derekbekoe commented on #1308
Marking this as FAQ and closing.
In old versions of pip, the `--pre` flag is required. Alternatively, upgrade pip.

[2016-11-16 23:07] #1308 closed

[2016-11-16 23:11] derekbekoe commented on #1221
Marking this as FAQ.
This can be resolved by installing the CLI in a higher directory to prevent reaching Windows MAX_PATH.

[2016-11-16 23:11] #1221 closed

[2016-11-16 23:14] derekbekoe commented on #1070
Marking this as FAQ.
Pip and virtualenv don't work well with whitespace in paths.
We'll warn the user on curl install if their path contains whitespace.

[2016-11-16 23:14] #1070 closed

[2016-11-16 23:56] yugangw-msft commented on #419
login command has sample now

[2016-11-16 23:57] #419 closed

[2016-11-17 00:52] yangl900 commented on #1351
if this is calling /vmSizes API, it doesn't take account the restrictions due to capacity check. it'll be best if we use the skus API and do client side validation.

[2016-11-17 01:39] mayurid opened #1355 "Force and confirm behavior for the cli"
We need to look into the scenarios where we prompt the users for confirmation on certain actions like delete.

[2016-11-17 01:40] mayurid commented on #1355
[``](https://github.com/Azure/azure-cli/issues/1236)

[2016-11-17 01:41] mayurid commented on #1355
Related issue: https://github.com/Azure/azure-cli/issues/1236

[2016-11-17 05:07] brendandburns commented on #1350
acknowledged.

[2016-11-17 06:26] sauryadas opened #1358 "ACS: Subgroup and connect command for all 3 orchestrators"
I am seeing only dcos and k8s as of now

<img width="720" alt="screen shot 2016-11-16 at 10 18 44 pm" src="https://cloud.githubusercontent.com/assets/15387759/20378408/bc679dbe-ac4a-11e6-846d-e2a51581f56b.png">

az acs dcos/kubernetes/swarm connect command to ssh into the master node for all orchestrators

there is a browse command for dcos which ssh's in and opens the dcos dashboard in the browse

[2016-11-17 06:27] sauryadas commented on #1358
@brendanburns thoughts?

[2016-11-17 11:35] chaliy commented on #1308
Thank you, this works.

[2016-11-17 16:59] tkeber opened #1359 "'Circular reference detected' in query on az vm get-instance-view"
[code]

Throws an execption:

[code]

There is no Problem when the query is modified to return the same elements in an array:

[code]

This happens on ubuntu trusty in a vagrant box (2048MB ram):

[code]

[2016-11-17 18:27] derekbekoe opened #1360 "Some CLI commands fail due to issues with 'requests' v2.12.1"
The 'requests' package was updated 2016-11-16 to version 2.12.1 - https://pypi.python.org/pypi/requests/.

In this update, version of urllib3 that is bundled with 'requests' was updated to 1.19.1 (also published 2016-11-16) - https://pypi.python.org/pypi/urllib3.

When the CLI and its dependencies are installed, the latest version of 'requests' is installed and it seems there's some incompatibilit

[2016-11-17 18:30] mayurid commented on #1360
@derekbekoe: we need to revert this and update to pypi builds asap. lets discuss if you disagree.

[2016-11-17 18:37] lmazuel commented on #1360
Hi @derekbekoe
Didn't see this error currently in Travis, and the bug on our issue tracker is `azure-storage` (will tell them). We don't use ADAL and your stacktrace is coming from ADAL, I'm wondering if the "old" msrestazure has (by chance, not by design, Russian roulette) workarounded the issue. FYI @annatisch.
I will investigate in more details, we have old legacy packages (like ASM) which migh

[2016-11-17 18:55] lmazuel commented on #1360
I confirm I was able to use requests 2.12.1 with `msrestazure.UserPasswordCredentials` and azure-mgmt-resource. Don't know why...

[2016-11-17 18:58] mayurid commented on #1360
@derekbekoe to provide details but his observation has been that it works on clean install. this was observed in machines that were upgraded,

[2016-11-17 19:06] lmazuel commented on #1360
In my test I updated a given 3.5 venv from requests 2.11.1 to 2.12.1

[2016-11-17 19:14] derekbekoe commented on #863
Provisionally marked this for Sprint 7 but it's a short sprint so may fall into the next sprint.

[2016-11-17 21:44] yugangw-msft opened #1365 "Jmespath: object projection is broken"
The following command returns nothing. If you remove the `OrderedDict` in our [query.py](https://github.com/Azure/azure-cli/blob/master/src/azure-cli-core/azure/cli/core/extensions/query.py#L40), things works.
[code]
Either `Jmespath` or us have bug, which need to be fixed anyway

[2016-11-17 22:09] #1321 closed

[2016-11-17 22:31] lostintangent opened #1368 "[App Service] Manual source control syncing fails with unfriendly error"
If you run the `az appservice web source-control sync` command against an app that isn't configure to use a remote repo, it fails with the following error, which doesn't really explain the issue:

`Operation failed with status: 'Bad Request'. Details: 400 Client Error: Bad Request for url: https://management.azure.com/subscriptions/227e5d5d-9ecf-4d90-a747-95f50501343e/resourceGroups/demo-app-test/

[2016-11-17 23:50] lostintangent commented on #1337
As another point of discussion, I just spoke with someone who was running into issues deploying a container to App Service, and the problem was a mis-typed container name, that the CLI didn't validate. This feature request would definitely help guide folks towards success :)

[2016-11-17 23:56] lostintangent opened #1369 "[App Service] Allow creating a service plan as part of web app creation"
Being able to create a new web app as part of an existing plan makes a ton of sense, but I can't help but feel like it would simplify the getting started experience for users if the `az appservice web create` command would allow you to auto-create the plan for you, instead of needing to explicitly run `az appservice plan create` before hand. This would mirror the experience in the portal a little

[2016-11-18 00:05] yugangw-msft commented on #1359
This might just be the same thing as #1365, as the same workaround (not using OrderedDic) handles this issue. I will take a look at JmesPath to figure out the root cause

[2016-11-18 00:06] lostintangent opened #1370 "[App Service] Does the "web list" command need to require a resource group?"
It would be great if the `az appservice web list` command didn't require a resource group, just like the `az appservice plan list` command doesn't, in order to improve its simplicity a little bit. The mandatory nature of the `-g` flag for `list` commands seem a tad inconsistent across the CLI, and in general, allowing it to be an optional filtering mechanism would be ideal if at all possible.

[2016-11-18 00:08] lostintangent commented on #1165
Any thoughts on this? In general, is having a simple/curated default experience for table outputs a goal of the CLI? Or do you expect for users to need to rely on JSON output or custom queries in order to reduce noise?

[2016-11-18 00:15] lostintangent commented on #981
@johanste Any updates on this discussion?

[2016-11-18 00:21] derekbekoe commented on #1165
@lostintangent In general, our aim for table output was to be as automated/generated as possible. Currently, it picks the top-level attributes of objects (excluding things like ids as they're long and less useful in a table).
The thinking was that if users want specific columns/rows, a `--query` can be provided to get the exact table output you want.

Automated table output is preferred because in

[2016-11-18 00:27] derekbekoe commented on #1365
I would refer to this commit - https://github.com/Azure/azure-cli/commit/adaf6447990e2e6f28dd9baf9f1b41c73bd8d46c.
Commit description:
"Avoid unexpected reordering of dictionaries from how it was specified in the JMESPath expression for the --query parameter.

Especially annoying when using the tsv output formatter...."

cc: @johanste

[2016-11-18 00:27] tjprescott commented on #1370
@yugangw-msft will know best, but it looks like the SDK only supports a call to list sites in a resource group.

[2016-11-18 00:28] lostintangent commented on #1165
@derekbekoe That makes complete sense! Thanks for the explanation.

I guess my feedback here is related to the fact that in my mind, it would be great if the default table output for every command felt "curated" and actionable for the most common cases, with `-ojson` and `--query` being the escape hatches for additional needs. Some of the commands don't quite feel this way, but that might just be

[2016-11-18 00:37] derekbekoe commented on #1365
On version `0.1.0b9`, I get a stack trace.

[code]

[2016-11-18 01:54] mayurid commented on #1370
normally all the list commands do have RG as optional and list has list vs list-all behavior. Looks like Webapp has the same (https://github.com/Azure/azure-rest-api-specs/blob/master/arm-web/2016-08-01/WebApps.json#L19) @yugangw-msft: bug? did we miss this?
@lostintangent : to be clear this will be list in RG vs list everything in the subscription which is consistent with the CLI

[2016-11-18 02:34] lostintangent commented on #1370
@mayurid Yep that's the behavior that I'd expect. Thanks!

[2016-11-18 11:43] snobu opened #1371 "This really needs some color (especially the JSON output)"
Just a thought - would be nice to have a `--color` parameter (which could be the default or not - or at least be configurable).

Using [underscore-cli](https://github.com/ddopson/underscore-cli) to simulate desired behaviour here:

![image](https://cloud.githubusercontent.com/assets/6472374/20428919/6296943e-ad94-11e6-8bf0-2b236db8d448.png)

[2016-11-18 12:42] mayurid commented on #1371
@snobu: have you tried -o jsonc as an option to see colorized Json output?

[2016-11-18 13:03] snobu commented on #1371
A-ha! Cool stuff.
Can i make that the default through something like `.azrc`, you know like `.bashrc` or `.vimrc`?

![image](https://cloud.githubusercontent.com/assets/6472374/20430985/31dc6f74-ada0-11e6-9549-f4a1bad54544.png)

[2016-11-18 16:34] tjprescott commented on #1371
@snobu you can set your default output format using `az configure` (my default is also JSONC 👍 )

[2016-11-18 16:40] tjprescott opened #1372 "[IoT] Support `--ids` parameter where applicable."
The IoT module should support the `--ids` parameter to allow users to specify the necessary names or a fully qualified resource ID string for commands like `show`, `delete`, etc.

As part of this, I will add a discussion of this feature to the command authoring guide.

[2016-11-18 16:43] jluk opened #1373 "[SSH] Create vm ssh command"
Tracking for what it would take to get an "az vm ssh -"instance-name"" command made. As we work on a service to offer SSH browser consoles, it would be great to know what the CLI needs to interact with this to turn CLI sessions into SSH sessions.

[2016-11-18 16:44] #1373 closed

[2016-11-18 17:39] yugangw-msft commented on #1370
Yep, it is a bug. The spec pointed out is the latest and we have not got python sdk generated from it. The plan on webapp is we will hold on all commands work till the swagger gets reviewed, corrected, and sdk picks it up and publish.

[2016-11-18 17:47] yugangw-msft commented on #1370
also, I believe there is an api you can list sites belong to the same plan. When we have new spec finalized, we can look up and incorporate to the same command.

[2016-11-18 18:07] #1371 closed

[2016-11-18 18:09] #817 closed

[2016-11-18 18:43] lostintangent opened #1377 "[Discussion] Would it be valuable to allow configuring a default resource group?"
I wonder whether it wouldn't be valuable to allow users to configure a default resource group, either per-user, per-shell or per-directory (via some kind of config file), and would take effect for all commands where a resource group wasn't explicitly specified. I've seen this kind of behavior provided by other CLIs, with the goal of reducing the number of repetitive parameters, especially if they

[2016-11-18 19:02] tjprescott commented on #1105
@troydai since you are working on the upload command, we should probably implement a workaround until this is fixed in the service. Basically set max_connections to 1 if the file being uploaded is large. Possibly log a warning when we do so.

[2016-11-18 19:17] jmspring opened #1379 "CLI inconsistency -- to specify a parameters file, one must not use equal sign"
If you use an equal sign between --parameters and the actual file path, you end up with the following:

[code]

Removing the equal sign works:

[code]

[2016-11-18 19:36] lostintangent opened #1380 "[App Service] The list-locations command's table output seems overly verbose"
If you run `az appservice list-locations -otable`, the output includes three columns, all of which seem to provide the exact same value. Not a blocker by any means, but it seems unnecessarily noisy, as opposed to providing the user with just the unique information needed (e.g. the `Name` column?)

<img width="418" alt="screen shot 2016-11-18 at 11 32 39 am" src="https://cloud.githubusercontent.com

[2016-11-18 19:44] lostintangent opened #1381 "[App Service] Creating a plan requires a SKU, but its help text indicates it has a default value"
If you run `az appservice plan create -h`, the `--sku` parameter indicates that it is both required, and has a default value at the same time. Does that make sense? When running the command, it definitely requires the `--sku` flag, so the mandatory nature is currently enforced. I'm just curious whether the default value is a bug that should be removed from the help text, or if there is an actual d

[2016-11-18 20:00] paulmey opened #1382 "[vm] No option to specify custom data while creating a VM"
The 'customData' property in the [create vm API](https://docs.microsoft.com/en-us/rest/api/compute/virtualmachines?redirectedfrom=MSDN) is required to provide configuration to [cloud-init](https://help.ubuntu.com/community/CloudInit), the provisioning agent on Ubuntu and an increasing number of Linux distro's.

az vm create doesn't allow me to specify custom data (nor is there any mention of custo

[2016-11-18 20:11] mayurid commented on #1381
You are right.. created a PR to make this optional https://github.com/Azure/azure-cli/pull/1383

[2016-11-18 21:39] lostintangent commented on #1381
@mayurid Awesome, thanks!

[2016-11-18 22:05] derekbekoe commented on #1340
My notes on areas we can look at:

(1)
In my OS X example above, we load all modules in ~0.4 seconds but ‘az’ takes ~0.8 seconds.
It takes ~0.4 seconds to load ‘az’ without any modules.
We can investigate improving this.

(2)
The python statement ‘import pkg_resources’ takes about 0.1-0.2 seconds just by itself and it’s used throughout the CLI and in Azure SDKs.
There is an alternative to using th

[2016-11-18 22:45] #1381 closed

[2016-11-18 22:46] #1097 closed

[2016-11-18 23:47] derekbekoe opened #1387 "ImportError: No module named packages.urllib3"
On Ubuntu / Bash on Windows, users may run into the above error message with modules not loading due to an import error.

(created this issue to track https://github.com/Azure/msrest-for-python/issues/3 as that potentially could be the cause)

Full stack trace:
[code]

[2016-11-19 00:11] #1359 closed

[2016-11-19 00:11] #1365 closed

[2016-11-19 00:13] yugangw-msft opened #1388 "resource: move feature, policy and group categories to top"
Open this for tracking, so that I can close the big placeholder bug #1033

[2016-11-19 00:14] mayurid commented on #1380
@derekbekoe: Thoughts? I know we curate the table output for some cases and wonder if we can do better here?
@lostintangent : What fields would you like to see or would make sense?
//cc @yugangw-msft:

[2016-11-19 00:14] #1033 closed

[2016-11-19 00:19] mayurid commented on #1105
Updating sprint

[2016-11-19 00:22] #1143 closed

[2016-11-19 01:23] johanste opened #1390 "az vm capture prints to stdout rather than returning values..."
...which breaks output formatters, multiple ids etc. I'm also not sure why we have our own poller etc. (but I'm guessing that is because we are not returning values and letting the rest of the infrastructure do the right thing)

Current implementation:

def capture_vm(resource_group_name, vm_name, vhd_name_prefix,
               storage_container='vhds', overwrite=True):
    '''Captures the VM by

[2016-11-19 02:15] colemickens opened #1391 "az ad sp create-for-rbac is flaky"
[code]

[2016-11-19 02:20] colemickens opened #1392 "Need better diagnostic logs"
I'm trying to add additional info to [this issue,](https://github.com/Azure/azure-cli/issues/1391) but I don't seem to be getting ANY sort of log whatsoever in `~/.azure`...

[2016-11-19 02:21] colemickens commented on #1391
Here's a different failure, same command:

[code]

[2016-11-19 02:39] colemickens commented on #1391
this is a dupe of 1332

[2016-11-19 02:40] colemickens commented on #1391
dupe of #1332

[2016-11-19 02:40] #1391 closed

[2016-11-19 02:42] colemickens commented on #1332
Once again, I file an Issue only to find out Ahmet's reported it days earlier. :+1:

@yugangw-msft  This, among other issues with AAD, is causing a lot of friction for our users. Do you **want** to file ICMs against AAD, or do you mind if I go ahead and do it? I can repro the error Ahmet reports frequently.

I'm also seeing this error sometimes: `No matches in graph database for 'e2a6833c-9453-47b

[2016-11-19 02:43] colemickens commented on #1332
(I'm making some edits to my last reply for anyone looking at this via email. Editting in place to avoid confusing things)

[2016-11-19 04:21] Lickkylee opened #1393 "install failed on SuSE 11SP4"
I followed steps to install the latest release on SUSE 11SP4 and failed with below error. Anyone has  clue?

# zypper --non-interactive install gcc libffi-devel python-devel openssl-devel
 # curl -L https://aka.ms/InstallAzureCli | sudo bash
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

[2016-11-19 05:21] yugangw-msft commented on #1332
@colemickens
Please go ahead to file icm ticket.
For `getObjectsByObjectId `, it is not used in `create-for-rbac`, but used in `role assignment list` to resolve the logical names of the principal from the object ids, including service principal or user principal. Not doing this, interactive users won't understand the assignees. This failure is caused by the same AAD issue.

[2016-11-19 05:28] colemickens commented on #1332
Thanks for the quick reply @yugangw-msft. I'll follow up with AAD via ICM.

[2016-11-19 05:29] yugangw-msft commented on #1392
@derekbekoe can help

[2016-11-19 05:37] colemickens commented on #1392
Ideally, there would be a log running *all the time* that contains the output of the command with `--debug`.

We have users that experience errors, and then when I go to get support, I need a correlation ID... but it's far too late for that. If we had a continuous, running debug log, it would be trivially to have users send that when they encounter issues.

Though, with that last part, my earlier

[2016-11-20 01:53] lostintangent opened #1394 "[ACS] Add orchestrator type to the table output of the list/show commands"
Currently, the `az acs list` and `az acs show` commands display the following columns when using the default table-based output:

<img width="412" alt="screen shot 2016-11-19 at 5 49 20 pm" src="https://cloud.githubusercontent.com/assets/116461/20459718/8c2507d0-ae80-11e6-9bd3-3f10829381ad.png">

Since an ACS cluster can be using one of three different orchestrators, it seems like it would be usef

[2016-11-20 03:14] lostintangent opened #1395 "Please describe or link to configuration file format details."
In the create and update options there is a configuration file mentioned, but no details about how to create one.
Also, is there a way to create a config file based on the current configuration?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81eb6db8-249f-2ab0-963c-7e9141191dc6
* Version Independent ID: 417fb6c8-75ea-c

[2016-11-20 19:25] lostintangent opened #1396 "[ACS] The name argument of the DC/OS browse command doesn't support auto-completion"
If you type `az acs dcos browse -n <TAB>`, you see the file listings for the CWD, as opposed to the list of current ACS instance names within your subscription. The `-n` flag correctly supports this auto-completion for all other ACS commands, so this appears to be the only one that doesn't support it.

Additionally, auto-completion works for the `-g` parameter for the `az acs dcos browse` command,

[2016-11-20 21:54] UncleTawnos opened #1397 "ACS Kubernetes fails while listing container services"
user@host:~$ az acs list
u'Kubernetes' is not valid value for enum <enum 'ContainerServiceOchestratorTypes'>

user@host:~$ az --version
azure-cli (0.1.0b9)

acr (0.1.0b9)
acs (0.1.0b9)
appservice (0.1.0b9)
cloud (0.1.0b9)
component (0.1.0b9)
configure (0.1.0b9)
container (0.1.0b9)
context (0.1.0b9)
core (0.1.0b9)
feedback (0.1.0b9)
network (0.1.0b9)
profile (0.1.0b9)
resource (0.1.0b9)
role (0.1.0

[2016-11-20 23:24] derekbekoe commented on #1395
The same happens with `az acs kubernetes install-cli`.

[2016-11-21 09:27] snobu opened #1398 "Unable to pipe output into az"
Is this expected or am i doing something wrong?
I'm simply trying to pipe in the resource group name:

[code]

`xargs` is the only workaround i could come up with, but this is as flexible as a brick:

[code]

[2016-11-21 17:02] brendandburns commented on #1358
@sauryadas I don't want to encourage the use of SSH tunnel.  It's an anti-pattern that I'd prefer not to have to commit to via a CLI with a deprecation policy.

[2016-11-21 17:05] brendandburns commented on #1358
@sauryadas I am ok with subgrouping if we want, and honestly, the cluster type is superflous since it can be derived from the cluster API info.  So:

[code]

Would work for both DC/OS and Kubernetes clusters

likewise:

[code]

Could work for all three.

[2016-11-21 17:06] brendandburns commented on #1358
@sauryadas I also missed one thing you said: "for swarm and k8s there is no management dashboard"

That is incorrect for k8s, I've already added browse for k8s.

[2016-11-21 17:10] lostintangent commented on #1358
@brendandburns I really like the idea of making commands orchestrator agnostic if possible and it makes sense. The browse command seems like a good candidate for sure.

[2016-11-21 17:15] colemickens commented on #1397
cc: @brendandburns

[2016-11-21 17:50] derekbekoe opened #1399 "Enabling file logging should be supported through 'az configure' and the CLI config system"
Currently, the user has to set the environment variables `AZURE_CLI_ENABLE_LOG_FILE` and optionally `AZURE_CLI_LOG_DIR`.

We have a config system now should it should be integrated with that now.

[2016-11-21 17:51] derekbekoe commented on #1399
This would make this configuration available through environment variables but also through the config files.

[2016-11-21 17:51] derekbekoe commented on #1392
There is file logging available. Early on, we made the decision to make this opt-in.

Set the environment variable `AZURE_CLI_ENABLE_LOG_FILE`.
e.g. `export AZURE_CLI_ENABLE_LOG_FILE=1`

You can also set the log dir with `AZURE_CLI_LOG_DIR`.

Created https://github.com/Azure/azure-cli/issues/1399 in relation to this.

[2016-11-21 18:01] mayurid commented on #1395
@brendanburns to comment.

[2016-11-21 18:10] derekbekoe opened #1400 "Verify Python version before proceeding with curl install"
If Python version is less than 2.7, show error message as CLI supports 2.7 up.

[2016-11-21 18:10] derekbekoe commented on #1393
@Lickkylee What version of Python was installed on the machine?
Based of the [SUSE documentation](https://www.suse.com/releasenotes/x86_64/SUSE-SLES/11-SP4/#id349370) SUSE 11SP4 comes with Python 2.6.9 by default.

The CLI supports Python 2.7 and up.

I have created https://github.com/Azure/azure-cli/issues/1400 so we can should a more user-friendly error message.

[2016-11-21 18:15] derekbekoe commented on #1341
https://github.com/Azure/azure-cli/issues/1400 should be part of this change also.

[2016-11-21 18:17] #920 closed

[2016-11-21 18:17] #1237 closed

[2016-11-21 18:17] #1238 closed

[2016-11-21 18:21] jmspring commented on #1332
Seeing this quite regularly...

[code]

[2016-11-21 18:34] yugangw-msft commented on #1351
@hyonholee, @huangpf, I don't see this specific path of `/providers/Microsoft.Compute/skus` has been modeled in the swagger?

[2016-11-21 18:50] derekbekoe opened #1403 "Keyvault commands don't handle auth errors gracefully"
Looks like `key_vault_authentication.py` isn't behaving the save as the general `adal_authentication.py`.

With other commands such as `vm list`, I get:
[code]

With keyvault, I get:
[code]

[2016-11-21 18:52] derekbekoe commented on #1245
Looks like the dot has gone?

On Public Azure, I see:
[code]

[2016-11-21 18:53] tjprescott commented on #1398
Try `echo TMP | xargs az appservice web list -g @-`

[2016-11-21 18:54] yugangw-msft commented on #1245
Yep. Closing

[2016-11-21 18:54] #1245 closed

[2016-11-21 18:55] tjprescott commented on #1403
This is true. KeyVault marches to its own beat.

[2016-11-21 19:22] colemickens commented on #1392
Cool, didn't know we had that.

Is it documented? Can we get an issue for that if not?

Is there any point in me bringing up the opt-in behavior? It's a bit hard to ask users to spend their time repro-ing flaky issues for us when we could just ask them to send the log from when they experienced a real issue....

Thanks.

[2016-11-21 19:30] mayurid commented on #1399
@derekbekoe : moving this to backlog for now.

[2016-11-21 19:44] mayurid commented on #1392
I don't believe this is documented. I have added a documentation label to this and will work with @derekbekoe and @jasonrshaver to have this added.

[2016-11-21 19:57] derekbekoe commented on #1392
@colemickens There were a few reasons for going with opt-in:
1. Logs can contain sensitive info (tokens, subscription IDs, SSH keys, command results, etc.).
2. Whilst we have size limits on the log files (rotating logs of 10MB max. for each log file and 6 log files in total), they take up disk space which may be unexpected for the user.
3. Access to the log files from multiple concurrent `az` exec

[2016-11-21 19:58] colemickens commented on #1392
Okay, thank you for the details, makes sense. The env variables seem to be a good way to deal with this then.

[2016-11-21 20:21] #1403 closed

[2016-11-21 21:05] yugangw-msft opened #1406 "setup: pip is broken after uninstall 'azure-cli'"
`pip list` is broken after uninstall the `azure-cli`, same with `install`, so you can't reinstall

[code]

[2016-11-21 21:08] tjprescott commented on #819
The parameter is no longer exposed in Xplat. Closing.

[2016-11-21 21:08] #819 closed

[2016-11-21 21:38] yugangw-msft commented on #1398
The other option is shell-substitution like
  a. az appservice web list -g $TMP
  b. az appservice web list -g \`any command which produces a single value\`

With xargs, these are the 2 main standard patterns. Please quot other commands which handles better.

//cc: @johanste

[2016-11-21 22:14] mayurid commented on #1229
Also adopt the data model

[2016-11-21 22:52] johanste opened #1407 "Add support for adding certificates to Virtual Machines"
Add command for the equivalent PS cmdlet: https://docs.microsoft.com/en-us/powershell/resourcemanager/azurerm.compute/v1.3.4/Add-AzureRmVMSecret?redirectedfrom=msdn

[2016-11-21 22:59] squillace commented on #1407
@johanste not quite: per "The secret must be stored in a Key Vault." is a breaking requirement likely on Linux work. It is a normal operating procedure to already have key management servers already in deployment, so to enable this for KeyVault but not for https://www.hashicorp.com/blog/vault.html, for example, would be viewed as vindictively biased.

Instead, please amend this to say something li

[2016-11-22 01:06] tjprescott commented on #741
The reason we have not done this across the board is because certain tests take a painfully long time to rerecord. I've added this guidance to the test authoring guide. Additionally, I'll add logic to each test that still needs to be converted so that the test to will fail during re-recording and prompt the developer to update the test structure to ResourceGroupVCRTestBase.

[2016-11-22 02:24] johanste opened #1413 "pip install azure-cli-core into a "clean" virtual environment breaks my python install..."
...since we are not installing the azure ns package.

[2016-11-22 09:05] troydai opened #1414 "[Storage] Enable batch-copy between file service and blob service"
This issue is used to track the a few follow-up tasks once #1250 is in:
- [x] Enable copying to blob container from file share
- [x] Enable copying to file share from blob container
- [x] Support source and destination in the form of URL

[2016-11-22 13:22] snobu commented on #1398
[code]

This is good enough for now. Thanks.

[2016-11-22 14:03] hcd00045 commented on #998
I think I'm very interested in this feature. I have a bash script that downloads about 200 files (400MB) from a blob "folder" via the Azure CLI. Currently I do this by getting a list of the matching blobs and then piping them to "xargs -n1 azure storage blob download...". In all, it takes about 15 minutes, and it seems like a lot of the time is spent in the overhead of making the calls. Would this

[2016-11-22 16:34] johanste opened #1415 "az resource group deployment show should take --ids parameter"

[2016-11-22 17:52] tjprescott commented on #998
It should improve the timing, as well as the simplicity of not having to manually send things through xargs.

[2016-11-22 17:52] #1002 closed

[2016-11-22 17:52] #1003 closed

[2016-11-22 17:52] #1066 closed

[2016-11-22 17:52] #1266 closed

[2016-11-22 17:53] #741 closed

[2016-11-22 19:17] #863 closed

[2016-11-22 19:37] aanandr opened #1416 "[Network] Local-Gateway issues"
1. The create commands dont provide the option to set BGP settings. Commands being referenced are
azure network local-gateway create
az network local-gateway create

2. The set command in js has the ability to modify local network address space but the corresponding command in python doesnt.

3. BGP settings should be directly exposed in the modify commands for both js and python, just like what w

[2016-11-22 19:55] mayurid commented on #998
@hcd00045 : This is in progress right now and we will have something for you to try in the upcoming sprints and will keep you posted. Hoping you will be willing to give it try and give us feedback.

[2016-11-22 21:23] tjprescott opened #1418 "[Generic Update] Fails to add a JSON object to a collection"
When trying to add BGP settings to a local gateway with:
`az network local-gateway update -n {name} -g {rg} --add bgpSettings "{\"asn\":12312,\"bgpPeeringAddress\":\"10.1.1.1\",\"peerWeight\":1}"`

An error is raised:
`list indices must be integers, not dict`

[2016-11-22 21:23] tjprescott commented on #1416
cc/ @aanandr

[2016-11-22 21:24] tjprescott commented on #1418
cc/ @aanandr

[2016-11-22 21:25] tjprescott commented on #1416
Related (but not duplicate) of #818

[2016-11-22 21:57] derekperkins commented on #1340
So much this. It's terribly annoying trying to use autocomplete.

[2016-11-22 22:36] tjprescott commented on #1418
After some investigation, there were 2 issues here:

1) bgpSettings is a property, not a collection. Thus, `--add` is not the appropriate option to use.
2) The property names in a JSON string should be snake_cased, not camelCased.

The following command worked:

`az network local-gateway update -g {rg} -n {name} --set bgpSettings="{\"asn\":12312,\"bgp_peering_address\":\"10.1.1.1\", \"peer_weight\

[2016-11-22 22:36] #1418 closed

[2016-11-22 22:43] tjprescott opened #1419 "[Generic Update] @file does not work in --set"
The syntax for the generic update set option is:
`--set property=value`

If you try to use something like:
`--set property=@file` to load a JSON file as the value, the @ sign expansion will not occur.

[2016-11-22 23:09] derekbekoe commented on #1406
@yugangw-msft Can you add the version of pip you had installed?

[2016-11-22 23:12] yugangw-msft commented on #1406
It is 9.0.1

[2016-11-23 00:26] tjprescott commented on #526
I am not able to successfully add the secondary frontend IP configuration via the portal or Xplat. Until I hear from the service team on how to properly allow a public and private frontend IP configuration to coexist there's no reason to prioritize this, as our current implementation is sufficient.

[2016-11-23 00:58] brendandburns commented on #1379
The reason for this is that the console sees --flag=<expr> as a single string, and the console is the thing that interprets the '@'

I guess the right answer is to detect the @ at the beginning of a string and then inline the file?

[2016-11-23 01:04] tjprescott commented on #1419
This is the same underlying issue as #1379

[2016-11-23 01:11] jmspring commented on #1379
Thanks @brendandburns -- for me it is an issue of consistency.  It took me awhile to figure out what was going on... The az command line help mentions "add an @ for files" (or close to that).  Not sure why for `az resource group deployment create ....` there is --template and --template-file, but only --parameters.

[2016-11-23 01:15] JonathanFraser opened #1424 "result of creating a blob snapshot is a json structure with most fields null"
take a snapshot of an existing blob (in my case it was an active os data disk) and although successful returns a json struct that is mostly null. It is not at all clear if the command succeeded or failed. Performing the same command with the azure tool provides an obvious indication of success and a fully qualified link to said snapshot.

az tool output with ambiguous result:
[code]

azure tool ou

[2016-11-23 05:42] brendandburns commented on #1415
@johanste what would `--ids` contain?  Would it be a list of deployment names?  Resource IDs?  Do we want `--names` also?

I'm happy to implement but the comment is vague.

Thanks!
--brendan

[2016-11-23 11:12] MathiasVandePol commented on #1406
I had the same problem. Can you try sudo pip install --upgrade --no-deps --force-reinstall azure-cli

[2016-11-23 14:26] Lickkylee commented on #1393
Thanks derekbekoe. I will try if this works on suse 12.

[2016-11-23 14:26] #1393 closed

[2016-11-23 17:06] #1103 closed

[2016-11-23 17:33] gandhiniraj commented on #692
ACK from ARM team, we are investigating this and will provide ETA by 11/28

[2016-11-23 17:38] #1139 closed

[2016-11-23 17:38] lostintangent opened #1430 "[App Service] Allow setting container info as part of web app creation"
It would be cool if the `az appservice web create` command allowed providing the necessary arguments to configure the custom Docker container that it should run. That wouldn't just save an extra step (i.e. running the `az appservice web config container` command), but it (arguably) feels a little more intuitive to think of the creation/provisioning process as being a single step.

Something like t

[2016-11-23 17:41] lostintangent opened #1431 "[App Service] The --plan argument of the web create command should be aliased"
Both the `--name` and `--group` arguments of the `az appservice web create` command support short-hand aliases (`-n` and `-g` respectively), but the other required argument `--plan` doesn't, which seems inconsistent, and in my experience, breaks the expectation when typing it. I keep expecting to be able to type `-p`!

It would be great if we could alias `--plan` as `-p`, so that all required argu

[2016-11-23 17:43] tjprescott commented on #1424
Hi @JonathanFraser thanks for the feedback! I agree that the default output for this command is confusing at best. We'll look at removing the clutter.

One of the differences between `azure` and `az` is that we purposefully don't print things like "storage blob snapshot command ok". Unless you get an error, then you should assume your command was successful.

[2016-11-23 18:07] troydai opened #1432 "Feature: download and upload blob in batch."
this is a proposal of extending the blob download and upload command to support move files in batch.

Download files from one container recursively:
[code]

Upload files from local folder to remote container recursively:
[code]

[2016-11-23 18:15] JonathanFraser commented on #1424
Although I can appreciate not spamming stdout, a field in the json blobs like "status":"success" would not go a miss. Although I think the big difference there is lack of a fully qualified URL in the output, currently there is not really any actionable output.

[2016-11-23 18:23] derekbekoe commented on #1424
@tjprescott We could compute the URL and output to logger.warning?

[2016-11-23 18:41] lostintangent commented on #1431
Closing as resolved via #1433. Thanks for the quick merge!

[2016-11-23 18:41] #1431 closed

[2016-11-23 18:50] #1379 closed

[2016-11-23 18:50] #1419 closed

[2016-11-23 18:53] tjprescott commented on #1424
@derekbekoe my thought would be to simply use a callable to transform the output, excluding all of the empty properties and including the URL in that.

[2016-11-23 19:12] derekbekoe commented on #1424
Okay that works though we should try and stay true to the APIs (which xplat didn't always do).
Also, the more custom logic like that we have, the harder it will be for the CLI to 'just work' when multiple API versions are introduced.

[2016-11-23 19:26] troydai opened #1434 "Accept sas token in the URL represent source and destination in blob upload-batch and download-batch command"
Follow up PR #1428

[2016-11-23 20:06] aanandr opened #1435 "[Network] Local-Gateway command outputs inconsistent between Xplat and Az"
This needs to be looked into. The JSONs look different. I also noticed that in a simple local-gateway config some fields are missing in one of the JSONs. Will be good to run the commands and check.

[2016-11-23 20:08] troydai opened #1436 "[Storage] Refine the logic of selecting blob type in batch-upload command"
pick blob type for each file to upload.

this is a follow up task for PR #1428

[2016-11-23 20:38] vlivech opened #1437 "az vm access set-linux-user --password makes insecure changes the SSHD configuration"
CLI Version: 0.1.0b9
OS Type: Mac
Installation via:  pip

Environment: AzureCloud

Description:
Using `az access set-linux-user --password`  to reset a Linux users password, makes insecure changes to the SSH servers configuration `/etc/ssh/sshd_config` and allows password logins by changing the value of `PasswordAuthentication` to `yes`.

Steps to reproduce:
1) deploy Linux VM using SSH keys for a

[2016-11-23 20:51] squillace commented on #1437
@amarzavery add whomever you see fit. This and it's node counterpart must be investigated promptly. It is not appropriate to make any undocumented changes to a daemon configured by the user in a particular way. If we do make changes for some reason, we must both document them and undo them before we're done with the machine. SSHD must be left in the same state.

[2016-11-23 20:54] vlivech opened #1438 "need ability to reset Linux SSH config on pycli"
CLI Version: 0.1.0b9
OS Type: Mac
Installation via: pip

Environment: AzureCloud

Description:

There is no way to reset the `/etc/ssh/sshd_config` back to the version the Linux VM was deployed with using the pycli.  If a breaking change is made to `/etc/ssh/sshd_config` and the user is locked out from using SSH, the VM extensions need to be used to reset the SSH config.

Expected Behavior:

Azure

[2016-11-23 21:09] tjprescott commented on #1432
This is related to #998 an #995

[2016-11-23 21:27] jmspring commented on #1134
The "help" around `az network dns record-set add` is completely lacking the necessary fields like `ipv4-address` for A records.

With the `az` cli, I went with:

`az network dns record-set create --resource-group="deisonk8srg" --zone-name="plusonetechnology.net" --type="A" --name="*"`

then add the ipv4-address:

`az network dns record a add --resource-group="deisonk8srg" --zone-name="plusonetechn

[2016-11-23 22:25] yugangw-msft commented on #1437
I will update cli to use `1.4.6` version which has this fixed

[2016-11-23 22:49] #1309 closed

[2016-11-23 23:24] tjprescott commented on #998
PR #1432 is merged, so please give this command a try: `az storage blob download-batch`.

[2016-11-23 23:24] tjprescott commented on #995
PR #1432 is merged so this is done.

[2016-11-23 23:24] #995 closed

[2016-11-23 23:25] brendandburns commented on #1395
acknowledged.  will fix.

[2016-11-23 23:25] tjprescott commented on #146
PR #1432 is merged, so this is done.

[2016-11-23 23:25] #146 closed

[2016-11-23 23:27] brendandburns commented on #1397
@UncleTawnos this is fixed here:

https://github.com/Azure/azure-cli/pull/1326

But it's not in the release yet.  Expect it in the next release.

@derekbekoe this can be closed...

[2016-11-23 23:29] #1397 closed

[2016-11-24 00:09] tjprescott commented on #635
@yugangw-msft I think once PR #1421 is merged, you should be able to fix this. Part of the PR lets you scrub things inside the response body, which previously wasn't possible.

[2016-11-24 00:26] yugangw-msft commented on #635
@tjprescott , thank you!

[2016-11-24 00:29] derekbekoe commented on #1341
Curl script should also show a warning/error message if the required native dependencies are not installed.
e.g.

Ubuntu 14.04
[code]
CentOS
[code]
SUSE OpenSUSE
[code]

It can also provide a prompt and then attempt to install the native dependencies.

cc: @johanste, @yugangw-msft, @brendandburns

[2016-11-24 00:30] #783 closed

[2016-11-24 00:30] #785 closed

[2016-11-24 00:35] yugangw-msft commented on #1437
Like we exchanged in the mail, for VM w/o 'VMAccessForLinux' extension, `az vm access` will pick up the latest 1.4.6 which contains the fix. If you have old VM, the extension might be at lower version, which you can use `az vm extension delete & set` to reinstall.
So far, i don't think there is actionable work at cli side. Let me know otherwise

[2016-11-24 00:37] yugangw-msft commented on #1438
@vlivech, could you elaborate the counterpart command (and related arguments)in node-cli?

[2016-11-24 02:09] amarzavery commented on #1437
@yugangw-msft - Do we need to do anything about this in the node based xplat cli?

[2016-11-24 03:48] colemickens opened #1441 "`az acs create` with kubernetes appends "-k8s-masters" to various names"
`-k8s-masters` is appended to lots of things, including the cluster name.

This causes the main load balancer to be very misleadingly labeled (includes `-k8s-masters` in the name despite targeting agent nodes), and causes weirdness such as the following, whenever I choose to use `colemick-k8s-deis1` as the cluster/rg name:

[code]

This isn't needed. I don't have to do anything like this when usin

[2016-11-24 03:54] colemickens commented on #570
Is this going to start being published as `microsoft/azure-cli` instead of  `azuresdk/azure-cli-python` ? It's much more easily remembered.

[2016-11-24 04:06] colemickens opened #1442 "`az acs create --orchestrator=kubernetes` should re-validate cached service principal credentials"
We should consider looking up the service principal ID to ensure the user hasn't manually removed it. (Not that I did this and spent an inordinate amount of time chasing geese.)

Additionally, we could consider putting the app `identifier_uri` into the cached credentials file rather than the `client_id`. It would've been more immediately obvious that the cached cred was for a cluster I'd destroyed

[2016-11-24 04:41] brendandburns commented on #1441
This is all comes from the master-dns-prefix.

The `az` CLI only takes a single `dns-prefix` (which arguably should be the name of the cluster + uniqueness anyway) and then synthesizes an agents prefix and a masters prefix.

We could drop the "-k8s-masters" and only add "-k8s-agents" (we need to differentiate between masters and agents or else we get a DNS name clash)

We could also just drop dns-

[2016-11-24 04:41] colemickens opened #1443 "`az acs kubernetes get-credentials` should take resource_group/name rather than location/dns-prefix"
It's generally more common for GET operation in the CLI to happen via `resource_name` and `resource_group_name` rather than via some properties of the resource or resource group (`dns_prefix`/`location`).

Maybe consider changing `get-credentials` to be more in line with other resources? Or maybe there was a reason that dns prefix and location were thought to be better?

[2016-11-24 04:47] colemickens commented on #1441
Thanks for the details. I was missing the link because the agent dnsprefix is optional in `acs-engine` (I have the field completely omitted in the clusterdefinition I keep around), but I do now see why it's happening here.

It changes some uniqueness requirements around the containerservice resource name if the dns prefix is derived from it, but I also think it would be a good simplification.

Not

[2016-11-24 04:48] colemickens commented on #1443
cc: @brendandburns especially given your desire to potentially remove `dns-prefix` entirely from the API.

[2016-11-24 04:52] lostintangent commented on #1441
I would love to see the dns prefix argument removed (or at least made optional) in order to further simplify the cluster creation process from the CLI.

[2016-11-24 06:27] yugangw-msft commented on #1437
Double check it installs the version of `1.4`, and doesn't explicitly set `auto_upgrade_minor_version` to false

[2016-11-24 06:31] amarzavery commented on #1437
Thanks Yugang. @balajikris - since I would be OOF next week, can you please check the above requirement and make changes if necessary in xplat cli.

[2016-11-24 07:47] colemickens opened #1446 "`az acs kubernetes get-credentials` should allow me to output to a specific path"
As per title, this would be handy:

`az acs kubernetes get-credentials [...] --output-file ~/clusters/${CLUSTER_NAME}.kubeconfig.json`

[2016-11-24 07:50] colemickens commented on #1443
Just saw the TODO, I guess it may not be ready yet...

[2016-11-24 08:12] colemickens opened #1447 "`az acs kubernetes install-cli` needs to mark kubectl as executable if on a *nix"
Was writing a patch, was using the docker container, noticed that `install-cli` left `kubectl` non-executable.

Will send a PR.

[2016-11-24 08:16] colemickens commented on #1446
Sending a PR shortly.

[2016-11-24 08:55] colemickens opened #1450 "`az acs kubernetes get-credentials` should `mkdir -p` for new users"
New users won't have a `.kube`. We should `mkdir -p` it for them.

Will send a PR.

[2016-11-27 11:14] JJ commented on #1209
So I guess this is still open, right? Same problem here with
[code]
Basically, there seems to be no way to announce the plan you are using when you create a VM, right?

[2016-11-28 18:27] troydai opened #1453 "Allow the order of arguments in help to be specified"
It is ordered alphabetically today.

[2016-11-28 18:53] JasonRShaver commented on #570
I think @colemickens mentioned Microsoft/az in #629, which is pretty compelling.  Here are some names I like in order of preference:

1. Microsoft/Az-cli
2. Microsoft/Az
3. Microsoft/Azure-cli-2

[2016-11-28 19:03] ahmetalpbalkan commented on #570
First of all, lowercase-all would be preferred. `az-cli` is good and our customers will probably understand it. However if this is branded as "Azure CLI" everywhere else and not "Az CLI"; then I would strongly recommend going with `microsoft/azure-cli` as well. You'll be breaking existing users, but it's good in the long term.

[2016-11-28 19:20] mayurid commented on #1450
@brendanburns as FYI.

[2016-11-28 19:29] mayurid commented on #1447
@brendanburns as fyi

[2016-11-28 19:35] vlivech commented on #1438
@yugangw-msft updated the bug with the node-cli example

[2016-11-28 19:46] yugangw-msft commented on #1438
@vlivech, thanks. We will add this missing piece.

[2016-11-28 22:04] colemickens commented on #570
I agree with @ahmetalpbalkan, though I realize that breaking change might be untenable.

You could do it in a step-wise fashion: add the new `azure-cli` to the existing `Microsoft/azure-cli` container... wrap the legacy `azure` command with a big flashy warning that it is going to be deprecated and removed in a future release and that people should transition to `az`.

(Though, if the new `azure-c

[2016-11-28 23:22] tjprescott commented on #1435
As far as I can tell, the JSON output is the same in both CLIs except that Xplat does not alphabetize the resulting keys. Xplat does not display BGP peering settings by default (which makes sense considering their commands don't support it).

However, the table format in Xplat is superior to what is shown in Az so I will update our table format to match.

[2016-11-29 00:21] johanste commented on #1415
`--ids` would take one or more deployment ids to show. The resource that this is not showing up correctly is that the id_part property of the deployment_name parameter is not set to 'name'.

[2016-11-29 00:59] #1416 closed

[2016-11-29 00:59] #1435 closed

[2016-11-29 01:26] derekbekoe commented on #1342
Thanks for the feedback.
So running `autoload bashcompinit && bashcompinit` before `source az.completion.sh` resolves this.

I'm hesitant to add `autoload bashcompinit && bashcompinit` to `source az.completion.sh` as a quick fix because this command fails on bash and I couldn't find a good way to determine if the user is using zsh.

If we implement a feature like `az completion bash/zsh`, we'll be

[2016-11-29 03:03] colemickens commented on #1447
Closed, relevant PR was merged: https://github.com/Azure/azure-cli/pull/1449

[2016-11-29 03:03] #1447 closed

[2016-11-29 06:31] aanandr opened #1458 "azure network vpn-gateway create giving an unclear error"
Tried to add a GW using the following command

 aanandr@AANANDR-WORK:/mnt/c/Windows/System32$ az network vpn-gateway create --name VNet2GW --public-ip-address VNet2GWPubIP --resource-group VV2 --subnet-id GatewaySubnet

Getting the following error. Its difficult to understand the cause of the problem. It seems to be about the format used to specify the Gateway Subnet but the msg. doesnt give any u

[2016-11-29 16:23] tjprescott commented on #1458
This is the error from the server, but it is correct.
**Reference Id GatewaySubnet is not formatted correctly**

--subnet-id requires a fully qualified ID. You cannot use a name.

[2016-11-29 20:18] thegalah commented on #1396
https://github.com/Azure/azure-cli/pull/1460

[2016-11-29 22:38] #793 closed

[2016-11-29 23:02] nneul commented on #1347
I like the above context capability as described... what's the timeframe for implementation? Note that this doesn't necessarily preclude also supporting the PR in #1293 / #1298 if it's going to be a while before this is supported.

[2016-11-29 23:04] colemickens commented on #1332
@yugangw-msft  I don't feel like we can afford to wait for Azure Active Directory to start caring about this. Is it possible to use the session key header on consecutive calls to Graph so that we can fix this flakiness for our users in a shorter time frame? Thanks.

[2016-11-29 23:24] colemickens opened #1465 "Include a simple way of getting into a development environment"
In my projects, I include a `devenv.sh` script that uses a docker container and a shared volume including the source directory that makes it incredibly painless for new users to make contributions.

If the `RUN` commands in the `Dockerfile` were externalized into a `./build.sh` script, then the `Dockerfile` could be used to the build the development container, and can still be used to do point in

[2016-11-29 23:36] #1338 closed

[2016-11-29 23:51] yugangw-msft commented on #1071
You will get  a flag of "--no-wait" which ensures the delete gets accepted by server and then quit. You will get a matched "wait" to wait on any conditions.

[2016-11-29 23:56] colemickens commented on #1071
@yugangw-msft I didn't totally understand that.

`--no-wait` will cause the default waiting behavior to be skipped.

When would I use `--wait` though? Or are you saying I can fire off a long running operation with `--no-wait` and then somehow re-wait on it later on? That sounds very cool, just curious if you could give a couple sample commands to illustrate that behavior...

The PR is confusing to

[2016-11-29 23:57] troydai opened #1466 "Automation: persist command surfaces and detect changes between commits."
And compare the dump between build to detect the command surface changes.

[2016-11-30 00:01] tjprescott commented on #1071
See PR #1463.  Wait is actually a command, not an option flag.

[2016-11-30 00:01] #1311 closed

[2016-11-30 00:01] #1350 closed

[2016-11-30 00:03] tjprescott commented on #1466
Related to, but not a dupe of, #733

[2016-11-30 00:25] brendandburns commented on #1395
Closed via https://github.com/Azure/azure-cli/pull/1449

[2016-11-30 00:28] brendandburns commented on #1443
Fixed by https://github.com/Azure/azure-cli/pull/1356

[2016-11-30 00:30] #1443 closed

[2016-11-30 02:46] nneul commented on #1347
Just so it's documented here as well - #1293 / #1298 was merged today.

[2016-11-30 02:47] nneul commented on #1293
PR was merged. Please also see #1347 for related future plans.

[2016-11-30 02:47] #1293 closed

[2016-11-30 05:29] yugangw-msft commented on #1332
@colemickens, I will get to it soon. Note, we already used session key on graph calls, so to mitigate it further we might have to use retry.
BTW, is there any pattern you have observed that it is easier to see a repro? Or it is just completely random?

[2016-11-30 05:45] brendandburns commented on #1415
@johanste I'm still not sure I follow...

`az resource group deployment show` maps to `#DeploymentsOperations.get` which doesn't have an `id` parameter which I can find:

https://github.com/Azure/azure-sdk-for-python/blob/master/azure-mgmt-resource/azure/mgmt/resource/resources/operations/deployments_operations.py#L306

There is:

`acs resource group deployment operation show` which does have a `-

[2016-11-30 05:48] colemickens commented on #1332
I can't tell a pattern, unfortunately. I can run it repeatedly back to back and it fails more often than not. At least, that was the case the last time I tried.

I didn't realize you were passing the session key in the graph calls as well as the arm/rbac call. That motivates me to raise the issue further internally. Thanks for letting me know.

Unfortunately, I think retrying might be a good idea

[2016-11-30 06:19] brendandburns opened #1470 "ACS get-credentials assumes that the username is 'azureuser'"
We should grab this from the cluster info.

[2016-11-30 06:58] ahmetalpbalkan opened #1472 "CLI error message is not relevant to improper use"
[code]

This error I got when I forgot to specify `--name` is far too generic. The `az acr check-name` part is true, but the error is treating me like I typed `az asdfajsdfhhjkhasd`.

I'm running 0.1.0b10.

cc: @djyou is this acr-specific do you think or is there a more common issue here?

[2016-11-30 16:46] tjprescott commented on #1415
@brendandburns ultimately the multiple shows are appended to a list, but "a list of shows" can potentially have more information than simply "a list" depending on what is returned from the server.

[2016-11-30 16:48] #1470 closed

[2016-11-30 18:00] derekbekoe commented on #1472
@ahmetalpbalkan Right after the usage statement, I see a more specific error message.
[code]

[2016-11-30 18:08] ahmetalpbalkan commented on #1472
@derekbekoe oops I missed that totally. I think I was confused by the other 4 lines of top-level help message that totally doesn't help me at all. :-) I think a better designs in terms of UX here would be

0. move the actual error to the top, along with how to get help (not USAGE string)
0. just print the error, I'm already deep in your command, so top level help doesn't really help me.
0. print a

[2016-11-30 18:31] tjprescott commented on #563
This is not an issue. PR #1421 renames `vm nic update` to `vm nic set` to reflect that it is not a traditional update mechanism and thus one would not expect to be able to tag NICs in this way.

[2016-11-30 18:31] #563 closed

[2016-11-30 18:47] tjprescott commented on #1432
@troydai is there a reason this is still open?

[2016-11-30 18:48] tjprescott commented on #998
When #1462 is merged this can be closed.

[2016-11-30 18:56] tjprescott opened #1475 "[Storage] Improve parsing of source/dest URLs for storage batch operations"
- [ ] Parse blob URL into account name, container name, and blob name or pattern
- [ ] Parse file URL into account name, share name, directory sub-path, and filename or pattern

With this we would not need the individual parameters for each component, although we may keep them since some people might prefer them.

[2016-11-30 19:10] colemickens opened #1477 "acs: kubernetes browse command could be confusing"
From looking at #1476, it seems like `acs browse ...` could be rather confusing with kubernetes.

It won't give the correct results in the user hasn't executed `acs kubernetes get-credentials`, or if their current kubeconfig context is set to a different cluster.

Maybe it should use `get-credentials` to pull it down to a temp dir, then call `kubectl proxy` with the right kubeconfig path or set KU

[2016-11-30 19:11] brendandburns commented on #1415
Ok, so then is this requesting that:

[code]

Should it be `--operation-ids` for consistency with the existing `--operation-id` flag?

Thanks!

[2016-11-30 19:21] tjprescott opened #1479 "[Storage] Retrieve credentials for batch-copy operations when possible"
When copying between two storage accounts within the same subscription, we can attempt to retrieve the storage account keys as needed to perform the operation. This would require you to be logged in and have permission to access the storage account keys.

[2016-11-30 19:28] tjprescott commented on #1415
`$ az resource group deployment operation show --ids foo bar baz`

The CLI uses spaces to separate things with `nargs='+'` specified in the parameter alias.

I'll defer to @johanste on the name, but I think we would keeps it --ids.

[2016-11-30 19:32] #1394 closed

[2016-11-30 21:18] YuzorMa commented on #1159
Fixed by #1367

[2016-11-30 21:18] #1159 closed

[2016-11-30 21:23] YuzorMa commented on #1156
Creating a release does more than create a single release definition.  We have no plans to delete the resources that were created in a single command - they can be deleted within VSTS, ACR and ACS.

[2016-11-30 21:23] #1156 closed

[2016-11-30 21:25] YuzorMa commented on #1157
Fixed by #1185

[2016-11-30 21:25] #1157 closed

[2016-11-30 21:27] YuzorMa commented on #1154
By Design.  You need a name and resource-group to identify an Azure container service cluster.

[2016-11-30 21:27] #1154 closed

[2016-11-30 21:30] YuzorMa commented on #1158
Fixed with #1261.

[2016-11-30 21:30] #1158 closed

[2016-11-30 21:52] colemickens opened #1480 "README should mention how to activate preview models"
I know I saw this in a PR or some such recently, but I can't find it now...

[2016-11-30 21:53] tjprescott opened #1481 "[Network] Traffic-manager endpoint create fails with minimum required parameters"
When supplying only the minimum required parameters, an error is raised:
`Please specify properties for endpoint 'ep1'`

[2016-11-30 21:54] colemickens opened #1482 "Can't use 'az component' as-is"

[2016-11-30 21:54] colemickens commented on #1482
[code]

[2016-11-30 21:55] colemickens commented on #1482
I install `az` via `pip --upgrade --user install azure-cli`. I have no intention of running `az` as root.

How do I use `keyvault` module then?

[2016-11-30 21:57] derekbekoe commented on #1482
Can you run `which az`? There may be multiple instances of az on the machine.
'Permission Denied' usually means the instance is installed in a global location and so pip requires sudo for this.

[2016-11-30 22:03] colemickens commented on #1482
[code]

[2016-11-30 22:04] colemickens commented on #1482
(I don't know what `az component` is doing, but if it's doing `pip install blah` then I'm not surprised it doesn't work. It would need to know, somehow, to do `pip install --user ...`.)

[2016-11-30 22:05] colemickens commented on #1482
Alternatively, if it just spit out the `pip` command that I need to run, that'd be more than fine.

[2016-11-30 22:06] xtophs opened #1483 "az ad sp create-for-rbac results don't use standard terminology"
The output from creating a service principal from az ad sp create-for-rbac is:

{
  "appId": "<i>some GUID</i>",
  "name": "http://azure-cli-2016-<i>more characters</i>",
  "password": "<i>password GUID</i>",
  "tenant": "<i>tenant GUID</i>"
}

It would be easier to follow if the property naming followed the standard terminology used all over Azure AD Service Principal documentation, i.e.: appId -

[2016-11-30 22:08] xtophs commented on #1483
adding  @yugangw-msft

[2016-11-30 22:13] derekbekoe commented on #1482
@colemickens thanks for pointing it out.
I'll look into determining if the --user flag is needed when `az component update` runs.
Until this is resolved, you can do `pip install --user azure-cli-keyvault`

[2016-12-01 00:06] #1071 closed

[2016-12-01 00:06] #1169 closed

[2016-12-01 00:28] yugangw-msft commented on #1483
@xtophs, I used the `client_id` before, but changed through #1178
There is no good answer. Among AAD, graph, portal (old and new), there have been inconsistency terminologies across. Because this command is working around directory graph, I decided to choose the naming from that domain. `appId` is indeed correct, the `password` is also correct because it comes from the `password credentials` from

[2016-12-01 01:17] #1406 closed

[2016-12-01 01:17] #1413 closed

[2016-12-01 01:26] #998 closed

[2016-12-01 02:02] derekbekoe commented on #1450
Resolved by https://github.com/Azure/azure-cli/pull/1448

[2016-12-01 02:02] #1450 closed

[2016-12-01 02:02] derekbekoe commented on #1446
PR merged.

[2016-12-01 02:02] #1446 closed

[2016-12-01 02:20] colemickens commented on #1483
I agree with @xtophs  here, especially since most open source software built for OAuth interactions use the terms `client_id` and `client_secret`.

In ACS-Engine, @xtophs was trying to write better documentation about the Service Principal process... and we realize that it's much wordy than it needs to be because we have to specifically explain what each field is. `appId` and `password` aren't goi

[2016-12-01 04:14] yugangw-msft commented on #1483
Mark it as discussion.
//cc @SajayAntony @djyou

[2016-12-01 04:14] #1458 closed

[2016-12-01 04:27] SajayAntony commented on #1483
This was our initial proposal as well and as Cole points out https://tools.ietf.org/html/rfc6749#section-2.3.1

Client id and secret  definitely sounds right. Unless your are living and breathing AAD, app just sounds odd to any new user.

[2016-12-01 04:37] brendandburns commented on #1477
merge logic does change the context.

but you're right we should prob. download the existing context to a temp file and feed that into the kubectl proxy...

[2016-12-01 04:48] djyou commented on #1483
Client id and secret would be the right terminology. We don't have a preference for our commands, but the inconsistency is from the fact that `client_id` is not a property of service principal or application object as returned by the server and written in the spec. `create-for-rbac` is a special command that does application creation, service principal creation, and role assignment all together. T

[2016-12-01 05:07] colemickens commented on #1441
#1444 addresses this. Didn't see them linked yet.

[2016-12-01 05:36] colemickens commented on #1342
Hm, can you check `${SHELL}` against `*zsh*` ? Not perfect, but maybe close enough for now?

[2016-12-01 17:11] brendandburns commented on #1396
I beleive this can be closed...  @derekbekoe

[2016-12-01 17:12] lostintangent commented on #1396
@brendandburns Yep you definitely fixed this. Thanks!

[2016-12-01 17:12] #1396 closed

[2016-12-01 19:47] #1372 closed

[2016-12-02 00:49] colemickens opened #1489 "az acs create --orchestrator=kubernetes exposes client_secret through ARM deployment object"
It should do a template + parameters deployment rather than interpolating the values into the template. This should let ARM know to not expose the `client_secret` whenever inspecting the deployment.

cc: @yangl900
cc: @brendandburns

[2016-12-02 14:51] xpillons opened #1490 "Installation on CentOS 7.2 failed"
you need to run these 2 commands
sudo yum install -y gcc openssl-devel libffi-devel python-devel
curl https://bootstrap.pypa.io/get-pip.py | sudo python

and then
curl -L https://aka.ms/InstallAzureCli | sudo bash

otherwise the installation of the CLI will failed with the following error
    build/temp.linux-x86_64-2.7/_openssl.c:12:24: fatal error: pyconfig.h: No such file or directory
     #  i

[2016-12-05 07:30] lostintangent commented on #1430
As an additional point of discussion, the Azure portal allows specifying a custom container as part of the process of creating a new Linux web app, so it would be ideal if the CLI provided an equivalent experience.

[2016-12-05 18:52] ahmetalpbalkan opened #1491 "Stop using the term UNIX"
1. OS X is a UNIX, too.
2. I'm guessing you don't actually support AIX, z/OS, Solaris, OpenSolaris, illumos and many other Unices. So please don't use the broad term UNIX.
3. You can just say Linux. It is perfectly fine.
4. I pointed this out before already... #772

[2016-12-05 21:56] derekbekoe commented on #1490
@xpillons Yes the CLI has some native dependencies and for CentOS 7, some prerequisites are required.

Whilst it is documented in our [Preview Install Guide](https://github.com/Azure/azure-cli/blob/master/doc/preview_install_guide.md#centos-71--72), we have a work item for the curl script to be more user friendly and detect missing native dependencies and [show an appropriate message](https://gith

[2016-12-05 21:56] #1490 closed

[2016-12-05 23:03] yugangw-msft commented on #1430
@lostintangent, I will consider your suggestion, once we migrate cli to use newer webapp sdk which contains quite a lot of breaking changes

[2016-12-05 23:18] yugangw-msft commented on #1483
The discussions made in this issue has really nothing new from the original #1178. I made the same argument there, but later decided to take @djyou's suggestion and choose not to expose the concepts of `client_id`, and `client_secret`. Also, the `login` command doesn't expose the `client_id` either, rather still `username`, and `password`. Cli users should not need to learn this oauth2 terms, whic

[2016-12-05 23:27] yugangw-msft commented on #1351
This needs to happen from service side first, which is not finalized yet

[2016-12-06 00:00] colemickens commented on #1483
I'd keep fighting hard for `client_id`/`client_secret`, but I concede it's a good point that it would be inconsistent with output of other `az` commands and inconsistent with the Graph API itself.

I definitely think that at the very least, `create-for-rbac` and `login` should have consistent names for these two fields.

Other questions about the `create-for-rbac` output:
* `appId` vs `application

[2016-12-06 00:26] brendandburns commented on #1441
#1444 is merged, this can be closed...

[2016-12-06 00:40] #1441 closed

[2016-12-06 18:09] #1491 closed

[2016-12-06 18:14] yugangw-msft commented on #1332
We need to get to the bottom of it.
I am injecting more trace information, so that on failures I will dump out the request-id/correlation-id as `warning` before raise the exception. If i can get a repro,  I will go ahead and open an ICM ticket; otherwise I will still commit the tracing, so you can use it.

[2016-12-06 18:31] jmspring commented on #1332
For me as well, it fails near 100% of the time.  When it does work, I can get 3-5 successful calls in a row.

This is mostly on a ubuntu VM on a Mac on my home (based in CA) 50Mbps symmetric network connection.

-j

Sent from my iThingy

[2016-12-06 18:33] yugangw-msft commented on #1332
@jmspring, I have got a repro. It looks like being out of corpnet makes easier to repro. I have submitted a ICM ticket

[2016-12-06 18:43] yugangw-msft commented on #1351
Close for now, and will re-open when service and API spec are available

[2016-12-06 18:43] #1351 closed

[2016-12-06 19:24] colemickens opened #1494 "acs create... ssh key path instead of ssh key data"
This is the other bug @yangl900 reported.

It seems there's an edge case where the ssh key path is inserted into the template rather than the ssh key data.

[2016-12-06 22:00] yugangw-msft commented on #1346
I suggest we live with it, for 2 reasons
1. 400 seconds is 6 minutes and 20 seconds. The VM creation currently takes about 2~4 minutes, so the new logic will not make an impact mostly.
2 . Python AutoRestAzure LRO polling doesn't appear to have the extensibility to dynamically update the polling interval, unless we hack it. //cc: @annatisch @lmazuel

If #1 becomes a problem say it starts to take m

[2016-12-07 01:33] lmazuel commented on #1346
Are you saying we should ignore the RetryAfter Header of the ARM spec? Or provide a callback or something like this to open to customisation easily?

[2016-12-07 02:30] aanandr opened #1495 "Unable to get the public IP info through Python CLI commands"
Used command az network public-ip show -n GatewaySubnet -g VV2. Also tried with another subnet present in the same VNet but both times i got the following error
The Resource 'Microsoft.Network/publicIPAddresses/GatewaySubnet' under resource group 'VV2' was not found.
The Resource 'Microsoft.Network/publicIPAddresses/Sub2' under resource group 'VV2' was not found.

Also tried giving the VNet name i

[2016-12-07 03:05] colemickens opened #1496 "`az role assignment create` errors out (azure-xplat-cli succeeds with same command)"
**Problem:**

I am unable to create role assignments with the new az cli.

**Observe:**

[code]

[code]

I use a nightly version (all modules are on the same version):

[code]

[2016-12-07 03:06] colemickens commented on #1496
cc: @yugangw-msft

[2016-12-07 03:49] yugangw-msft commented on #1496
@colemickens, could you run the `az ad sp show --id 35c7b4bc-0000-1111-2222-123456123456` to verify it is a valid object id? I suspect this id belong to a non-existing  graph object.
xplat-cli works because it doesn't do any validations on object-id, nor does PAS system on creating the assignment at server end

[2016-12-07 03:50] colemickens commented on #1496
I'm very sure that it's a valid object ID. After making the assignment in
the legacy CLI, I was able to make requests for that resource group.

The error the new CLI is reporting is a 403 not a 404.

On Dec 6, 2016 7:49 PM, "Yugang Wang" <notifications@github.com> wrote:

[2016-12-07 03:52] yugangw-msft commented on #1496
Hmm, i am not able to reproduce it

[2016-12-07 03:55] colemickens commented on #1496
Let me ensure that I'm not logged in as different users. I may have crossed
wires and be logged into the CLI with an SP with lots of permissions but
not enough permissions to talk to that Graph endpoint. Will confirm one way
or the other within an hour.

Actually... I'm not sure how to tell what user I'm logged in as in the new
CLI.

On Dec 6, 2016 7:52 PM, "Yugang Wang" <notifications@github.com>

[2016-12-07 03:57] yugangw-msft commented on #1496
@colemickens, run `az account show`

[2016-12-07 04:03] colemickens commented on #1496
So, I am logged into the new CLI as the Service Principal...

But I **also** am in the legacy CLI.

The RBAC role assignment *shouldn't* need access to talk to Graph anyway though.

[2016-12-07 16:05] tjprescott commented on #1495
If you do `az resource list -g VV2 -otable` does it list a public IP address?

[2016-12-07 16:07] tjprescott commented on #1495
In the `az network public-ip show` command, `-n` refers to a public-ip name, not a VNet or a subnet name. I would not expect that to work.

[2016-12-07 17:08] tjprescott opened #1498 "[Install] `dev_setup.py` no longer works in Python 3.5"
When I run the `dev_setup.py` script in a brand new Python 3.5 virtual environment (Windows), upon completion, running `az` results in:

[code]
However, if I repeat this process in Python 2.7, I have all of the command packages per usual.

[2016-12-07 17:12] tjprescott commented on #1495
Xplat (Node) also does not accept a subnet or vnet name for their public-ip show command.

[2016-12-07 17:34] joshgav commented on #1377
I've been working with the CLI and have the same feedback - it's not the best experience to have to repeatedly specify `--resource-group` or `-g`, especially interactively. FWIW, the same goes for specifying a name in subgroups, e.g. continually specifying the web app name in the appservice commands.

Perhaps an env var could address this too, like AZURE_CLI_RESOURCE_GROUP, and/or part of the `con

[2016-12-07 18:25] derekbekoe commented on #1498
Looked into this and it looks like pip is caching the old modules as I could repro on my local machine but not on any new VMs.

Can you clear the pip cache and try again?

On Windows, it should be at `%USERPROFILE%\AppData\Local\pip\cache`.

[2016-12-07 19:07] andymoe opened #1500 "[Network] App-Gateway: Allow creation of health probe at create time"
There is not way to create a health check prob when creating an application gateway. This makes it impossible to automate the creation of a functional app gateway that also terminates TLS traffic.

Please see for the same issue in the other cli scheduled to be released dec 14th: https://github.com/Azure/azure-xplat-cli/issues/3283

[2016-12-07 19:12] joshgav opened #1501 "[AppService] add `web start` command"
Currently only these are available for `az appservice web`: `{browse, create, delete, list, restart, show, stop}`. Could a `start` command be added?

The reason I need this is that a web app created for Linux doesn't work until the site is stopped and started, and `web restart` doesn't help from the CLI or the portal. I'd like to add the `stop` and `start` commands to the end of my deploy script.

[2016-12-07 19:14] tjprescott commented on #1500
The `az network application-gateway http-settings create` command lets you specify a health probe. Does this not work for your scenario?

[2016-12-07 19:19] joshgav opened #1502 "[AppService] automatically start first git repo sync"
When an external git repo is set for a Node on Linux web app with `az appservice web source-control config ...` it doesn't do the initial sync until I call `az appservice web source-control sync ...` or click the Sync button in the portal. I'm not using the `--manual-integration` flag.

IMO it would be more expected that the initial sync would start automatically.

[2016-12-07 19:21] yugangw-msft commented on #1496
The role assignments configure access to azure assets for principals managed in directory graph. The integration is very tight, particularly the rbac service only accepts graph object_id, so for any logic name (unp, spn, group name, etc), commands will resolve to object_ids before submit the request. Even for xplat, the `create` command exposes more common flags to take logical name, and the same

[2016-12-07 19:25] cynthn opened #1503 "az vnet create - provide info on default subnet"
When you use **az vnet create** it is awesome that it now creates a default subnet, but it doesn't say that anywhere in **-help**.

Can you add in something like: "If **--subnetName** is not specified, a subnet named Subnet1 with the address prefix 10.0.0.1/24 is created automatically."

It would also be helpful if the default address prefix for **vnet create** was different from the one that **su

[2016-12-07 19:25] colemickens commented on #1496
I see. I don't feel a need to push for it right now either, so I'll go ahead and close this for now.

If it's needed in the future, maybe we can just have a `--force` flag or something, just so we close the gap with azure-xplat-cli.

Thanks @yugangw-msft .

[2016-12-07 19:25] #1496 closed

[2016-12-07 19:25] joshgav opened #1504 "[AppService] linux web app must be stopped and started to work"
When I deploy a Linux web app using `az appservice web create ...`, `az appservice web config update ...` and `az appservice web source-control config ...` as in [this script](https://github.com/joshgav/azure-scripts/blob/ee5196a29a3107f350a56203ac39938046a119e6/appsvc/no-arm-deploy.sh), the web app doesn't work till I go into the portal and click the "Stop" and then "Start" button.

See also #150

[2016-12-07 19:48] andymoe commented on #1500
Hey @tjprescott I believe the state that an application gateway is left in when it's initially created makes for TLS termination makes it impossible to update the existing http-settings (httpSettings01) with that command.

I think you really need to be able to specify a probe when the app gateway is created.  The reason for this is that default http-settings is attached to a rule and the rule is a

[2016-12-07 20:05] yugangw-msft commented on #1346
@lmazuel, no, we should always respect 'RetryAfter'. For 'vm create' the service doesn't response with `RetryAfter`, so autorest_azure ends up with a `sleep`

If needed, but like I mentioned early on, I suggest not to do it right now till we have user data

[2016-12-07 20:10] tjprescott commented on #1500
Hi @andymoe can you enable your scenario via the portal? If so, what steps do you take?

Can you try the following to update the HttpSettings with your custom probe:
`az network application-gateway update -g {resource-group-name} -n {app-gateway-name} --set backendHttpSettingsCollection[0].probe={health-probe-id}`

The reason we don't create the probe is because the portal doesn't and we tend to e

[2016-12-07 20:42] #1482 closed

[2016-12-07 23:03] derekbekoe commented on #1498
I'm not able to repro on my Windows machine.
@tjprescott What was the pip version in your environment? I had 9.0.1.

@troydai, @yugangw-msft have you run into this issue on Windows with a Python 3.5 env?

[2016-12-07 23:04] tjprescott commented on #1498
@derekbekoe 9.0.1

[2016-12-07 23:25] tjprescott commented on #1498
Deleting the pyc files fixed this issue for me.

`del *.pyc /S`

[2016-12-07 23:25] #1498 closed

[2016-12-08 00:48] #1442 closed

[2016-12-08 03:04] aanandr opened #1506 "[Network] Vnet-gateway update issues"
1. The arguments for the two are very different. Python provides a generic way to specify objects but JS doesnt have this capability. As a result, in JS, there is no way to set BGP settings
2. Python doesnt have settings for SKU
3. Why does Python have address-prefixes param? It is not there in powershell. It is not needed
4. Both versions should have params for BGP and other settings. Just specif

[2016-12-08 15:40] tjprescott commented on #1506
Issues with Xplat (Node) should be filed separately here: https://github.com/Azure/azure-xplat-cli

[2016-12-08 16:29] hadware opened #1509 "Installing on ubuntu 16.04"
NB: This error (and its consequent fix) is probably not specific to the 16.04 64Bit version

On a ubuntu 16.04 64Bit machine, I tried using the Ubuntu/Debian install, however a small problem emerged: apt refused the cli's repo because of some arch problems:
`N: Skipping acquire of configured file 'main/binary-i386/Packages' as repository 'https://apt-mo.trafficmanager.net/repos/azure-cli wheezy In

[2016-12-08 16:57] #1489 closed

[2016-12-08 17:50] cynthn opened #1512 "az vm capture - needs option for downloading template"
The old version of the CLI had a -t switch for downloading the template locally. This is really useful when you are quickly trying to capture and redeploy VMs. Without it, you need to query on the files in storage to get the URI for the template to use it to create a new VM.

[2016-12-08 18:10] tjprescott commented on #1506
@aanandr
By #2 do you mean that capacity is not exposed? Is there ever an instance where name and tier would not be the same?

IRT #3 address-prefixes is present, according to the help, because it is a prerequisite for uploading certificates. Is this not the case?

[2016-12-08 18:42] #1190 closed

[2016-12-08 18:42] #1332 closed

[2016-12-08 18:52] yugangw-msft commented on #1504
@naziml, could you verify?
For non linux webapp, this definitely works as we have end to end tests verifying that
@joshgav , could you go to your git repository, and see whether there is a web hook created?

[2016-12-08 19:00] yugangw-msft commented on #1501
We will add `start`, though odd, but for now would `stop` and `restart` will do it?

[2016-12-08 19:16] joshgav commented on #1501
@yugangw-msft

Actually no, `restart` doesn't seem to work after `stop` (same in CLI and portal), and `restart` alone (without `stop` first) doesn't cause the app to start working.

I agree it's odd, and I think the best thing would be for restart to yield the exact same results as stop/start.

Thanks!

[2016-12-08 21:48] brettcannon opened #1514 "Provide simple instructions for getting development started"
Could be as simple as:
1. Create a venv
2. Activate the venv
3. `python scripts/dev_setup.py`
4. `testall`/`testall.bat`

[2016-12-08 21:54] yugangw-msft commented on #1501
@naziml, please clarify

[2016-12-08 22:01] tjprescott commented on #1514
That's what this is: https://github.com/Azure/azure-cli/blob/master/doc/configuring_your_machine.md

[2016-12-08 22:03] joshgav commented on #1504
@yugangw-msft Yes, a web hook is there in the repo for App Service. Next time I spin it up again I'll take note of when it gets created.

[2016-12-08 22:21] brettcannon commented on #1514
Oh, great! Didn't find that while I was poking around. Is it linked to in a more prominent location in the project that I overlooked?

[2016-12-08 22:41] tjprescott commented on #1514
I don't think so because we assume most people will install it to use rather than develop for it. But we can add it to the main README

[2016-12-08 23:07] brettcannon commented on #1514
Or maybe CONTRIBUTING.md? That way it's still in a top-level file that people who want to contribute can find but it doesn't muck with the README for most users who will just want to use the CLI?

[2016-12-08 23:08] tjprescott commented on #1214
This has been fixed in another PR.

[2016-12-08 23:08] #1214 closed

[2016-12-08 23:10] tjprescott commented on #1514
Actually we have an issue for this #889.

[2016-12-08 23:11] brettcannon commented on #1514
Darn, my search didn't find it (sorry about that). I'll close this in favour of the other issue.

[2016-12-08 23:11] #1514 closed

[2016-12-08 23:11] brettcannon commented on #889
Another possible place is CONTRIBUTING.md.

[2016-12-08 23:26] tjprescott commented on #1495
@aanandr can you provide clarification on this issue?

[2016-12-08 23:30] colemickens opened #1517 "`az acs create --orchestrator=kubernetes ...` should implicitly perform `get-credentials` afterward"
This can be assigned to me.

[2016-12-08 23:49] tjprescott commented on #1481
PR #1511 merged which adds a workaround for this issue, but the issue should really be addressed on the server so I will place this back on the backlog and keep the "Service Team" label.

[2016-12-09 01:27] #1388 closed

[2016-12-09 04:34] joshgav opened #1520 "equivalent to `azure location list` in new CLI"
It was sometimes helpful in [ye olde Azure CLI](https://github.com/Azure/azure-xplat-cli) to list available locations, their short names, and their features with the `azure location list` command. Would it be possible to include an equivalent here?

An informational page might be sufficient too. I found [this page](https://azure.microsoft.com/en-us/regions/services/), but it's not particularly dev

[2016-12-09 04:55] joshgav commented on #1520
never mind - I found `az account list-locations`. Thanks!

[2016-12-09 04:55] #1520 closed

[2016-12-09 15:14] #889 closed

[2016-12-09 16:17] DavidLudwig opened #1522 "Installing CLI 2.0 Preview onto macOS 10.12 fails, with OpenSSL-related C compilation error"
Attempting to install the CLI 2.0 Preview onto a macOS 10.12 (aka, "macOS Sierra") machine fails.  Specifically, it fails when attempting to build a file, "build/temp.macosx-10.12-intel-2.7/_openssl.c".

The command run to attempt installation was as follows:

`pip install --user azure-cli`

The error generated was as follows:

[code]

A full copy of the pip log is attached.

Xcode 7.3 is installe

[2016-12-09 16:23] DavidLudwig commented on #1522
If it helps, I could try installation via a different version of Xcode.  I have both 7.3.1 and 8.1 installed on my machine, and could get other version(s), if needed.

[2016-12-09 16:58] tjprescott commented on #818
Continuing this into Sprint 9.

[2016-12-09 16:59] tjprescott commented on #823
Per internal discussion moving this back into the backlog to focus on Networking commands.

[2016-12-09 17:06] joshgav opened #1523 "table output for `az account` should show id instead of tenantId"
As in the title. The "id" property is what can be used with `az account set` et al. I'm not sure what "tenantId" represents, but it's shared across subs.

Thanks!

[2016-12-09 17:15] tjprescott commented on #1503
@cynthn great points!

How is this for the new --help text for `vnet create`:
[code]

[2016-12-09 17:20] joshgav commented on #1501
FWIW you should be able to test with [this script](https://github.com/joshgav/azure-scripts/blob/master/appsvc/webapp-deploy.sh), just set the env vars at the top with your own names.

[2016-12-09 19:30] troydai commented on #1414
In https://github.com/Azure/azure-cli/pull/1510, copy from blob to file share is enabled.

[2016-12-09 21:15] #1358 closed

[2016-12-09 21:23] tjprescott commented on #1506
Our action items:
- [ ] Add BGP peering settings to create and update (just like with local-gateway)
- [ ] Add SKU capacity
- [ ] Add missing UltraPerformance SKU type

[2016-12-12 12:55] xpillons opened #1527 "blob copy between account - there is no way to specify source and destination accounts"
In the "azure storage blob copy start" CLI you can provide two storage accounts, one for the source, and one for the dest. This is not possible in this release, only URI with SAS is permit

[2016-12-12 16:30] tjprescott commented on #1527
@xpillons the implementation of `az storage blob copy start` is very much tied to the SDK implementation of the copy operation. We are working on a more customized upload/download/copy experience that you can try:  `az storage blob copy start-batch`. This does accept a source storage account and allows you to copy more than one blob at a time via globbing patterns.

After we have collected feedbac

[2016-12-12 17:03] tjprescott opened #1528 "Add wait/no-wait support to Commands"
PR #1463 added support for the `... wait` command for select command groups and the `--no-wait` option for several long-running operations in those groups. This issue is for identifying and tracking which commands still need this functionality exposed.

- [x] vm create/update (PR #1463)
- [x] group delete (PR #1463)
- [x] group deployment create (PR #1463)
- [x] application-gateway create/update/d

[2016-12-12 18:31] #1503 closed

[2016-12-12 18:59] derekbekoe opened #1529 "CLI argument parsing IndexError with `=`"
I typed `=` instead of `-` and the CLI crashed showing a stacktrace.

[code]

[2016-12-12 19:25] #1509 closed

[2016-12-12 19:46] tjprescott commented on #1390
I believe the reason it prints to STDOUT is because it is outputting the VM template that you would then redirect to a file. For that, only the JSON output format would be appropriate.

[2016-12-12 19:59] yugangw-msft commented on #1390
I see. We can either live with it (I will add a code comment) or we take the suggestion from #1512, and expose a --template flag.
I would live with it.

[2016-12-12 22:16] trondhindenes opened #1536 "Clarify the hard requirement for Python3"
If python3 is a hard requirement, then that should be called out and be 110% clear from the readme on the first page. I would also argue that the setup script should check the python version it's being called with and fail if it's not a compatible version.

[2016-12-12 22:24] trondhindenes opened #1537 "[Docs] Improve formatting of 'pip install' README instructions"
Under the "Windows" section:
`Enable tab completion with source az.completion.sh.` - the "source" command is not available on Windows.

The documentation should be updated with the correct steps to activate tab completion on windows.

[2016-12-12 22:30] derekbekoe commented on #1536
We support Python 2.7, 3.4 and 3.5.

[2016-12-12 22:40] trondhindenes commented on #1536
The preview install guide specifically tells me to install python 3.x, my opinion is that that should be changed to "if you have any of these, x,y,z your good, of not install one of them" etc

[2016-12-12 22:48] derekbekoe commented on #1537
Tab completion is not available on Windows CMD.
In the README, the text that reads "Enable tab completion with source az.completion.sh" is not actually under the 'On Windows:' heading.

We can update the formatting to make this more clear.

[2016-12-12 22:50] trondhindenes commented on #1537
If you look at the structure of the proceeding sections, there's no way to tell that that's not part of the windows section.

[2016-12-12 23:05] derekbekoe commented on #1537
Agreed, it's not clear in the README.

[2016-12-12 23:08] derekbekoe commented on #1536
Agreed. This could be made more clear.

[2016-12-12 23:09] derekbekoe commented on #1536
Should be changed here https://github.com/Azure/azure-cli/blob/master/doc/preview_install_guide.md#windows-cmd.

[2016-12-12 23:12] derekbekoe commented on #1537
Changed the issue name to reflect this.

[2016-12-13 00:23] derekbekoe opened #1540 "On Python 2, upgrading from 0.1.0b10 to 0.1.0b11 may cause 'KeyError: Azure' error"
On Python 2, it's recommended to upgrade with the `--ignore-installed` flag:
`pip install --upgrade --ignore-installed azure-cli`.

If the above isn't followed, KeyError may appear as pip fails to install 2 required files.
Add these manually with:
[code]

<path_to_site_packages> is the path to the environment the CLI was installed into.
For example /usr/local/lib/python2.7/site-packages.

This is

[2016-12-13 00:41] tjprescott commented on #1529
The problem here is actually not with the = sign. It is trying to find a '-' in ''.

[2016-12-13 03:15] aanandr opened #1543 "enable-bgp param in az network vpn-gateway update doesnt seem to be working"
Setting this param to false doesnt disable BGP. The capability to disable BGP is not present in Powershell so i dont have something equivalent to compare.

I also learnt that BGP enable/disable is not configurable at the Gateway level. So, if possible, we should remove this parameter from the CLI command

[2016-12-13 11:36] ashikv opened #1544 "az vm boot-diagnostics get-boot-log: 'StorageAccountListKeysResult' object has no attribute 'key1'"
I am unable to use az vm boot-diagnostics get-boot-log, it breaks on attempt to use key1:

'StorageAccountListKeysResult' object has no attribute 'key1'
Traceback (most recent call last):
  File "/home/vashik/src/python/azure/.env/lib/python3.5/site-packages/azure/cli/main.py", line 33, in main
    cmd_result = APPLICATION.execute(args)
  File "/home/vashik/src/python/azure/.env/lib/python3.5/site

[2016-12-13 11:57] ashikv commented on #1544
[code]

[2016-12-13 13:29] ashikv opened #1547 "vm boot-diagnostics get-boot-log should not write to stdout directly"
Current implementation of get_boot_log(resource_group_name, vm_name) writes directly into stdout, while other methods use file parameter of main() which can be redirected into any other stream:
command_modules/azure-cli-vm/azure/cli/command_modules/vm/custom.py:498
[code]

[2016-12-13 18:22] seguler opened #1548 "'azure storage account show' vs 'azure storage account usage show'"
Hey Folks,

I was just discussing this with Johan in the bug bash. As a user, I would prefer that we always append after 'show' command with the properties/resources we want to show rather than having different usages such as 'azure storage account usage show'. It is not intuitive in my opinion. Can we simplify this to have 'show' right after 'azure storage account' for each command ?

Sercan

[2016-12-13 18:28] tjprescott commented on #1548
In the current version of the CLI, the command you are referring to is `az storage account show-usage`. When putting something in a subcategory would result in a category of 1 (as would be the case with `az storage account usage show`) we opt to move the command "up" one level with a hyphen.

Is that in line with your thinking?

[2016-12-13 18:30] JasonRShaver opened #1549 "Azure2Az doc out of date"
The Azure2Az doc is out of date.

Missing areas:
- Group deployment

[2016-12-13 18:43] JasonRShaver opened #1550 "`az component update` progress could be more informative"
If we are going to show multiple lines of progress, we should show the component being upgraded at least.

[code]

[2016-12-13 18:50] derekbekoe commented on #1550
Is `--debug` not enough here?

[2016-12-13 18:51] derekbekoe opened #1552 "Storage account keys renew takes 'account-name' instead of 'name'"
[code]

Lokos like this should be `--name` here.

[2016-12-13 18:54] tjprescott commented on #1543
enableBgp is a property on the VirtualNetworkGateway object. In PR #1539 I verified that setting to "false" didn't produce a change and corrected it. The `create` command will automatically assume you want to enable BGP if you supply BGP parameters. If you later want to disable it, you can do an update with `--enable-bgp false` and the object updates appropriately.

[2016-12-13 18:59] tjprescott commented on #1552
Based on our conventions, if anything, it would be the key that should correspond to name, not the account.

[2016-12-13 19:02] derekbekoe commented on #1552
Understand.
Then what about this?
[code]

Then this should be `--account-name`?

[2016-12-13 19:10] derekbekoe opened #1553 "Smarter tsv output / tsv for storage account keys list does not list the keys"
[code]
This does not print the keys.

This is because the object is complex.
[code]
cc: @seguler

[2016-12-13 19:21] tjprescott commented on #1552
Yes, it should.

[2016-12-13 19:30] #939 closed

[2016-12-13 19:30] #1009 closed

[2016-12-13 19:30] #1341 closed

[2016-12-13 19:30] #1400 closed

[2016-12-13 19:37] binderjoe opened #1554 "az vm extension set requires a publisher, but there is no way (command) to get the publishers"
In order to set the vm extension, you need to specify a publisher
`usage: az vm extension set [-h] [--output {json,tsv,list,table,jsonc}]
                           [--verbose] [--debug] [--query JMESPATH]
                           [--vm-name NAME]
                           [--resource-group RESOURCE_GROUP_NAME] --publisher
                           PUBLISHER [--settings SETTINGS]

[2016-12-13 19:41] binderjoe opened #1555 "Documentation for vm extension set lacks important details"
az vm extension set supports:
`    --protected-settings  : Protected settings or a file path with such contents.
    --settings            : Public settings or a file path with such contents.`

This is a really unhelpful comment.  We need to denote what the format for settings is and (ideally), and users need a way to determine what settings are available for a given extension.  (This probably can

[2016-12-13 22:17] derekbekoe commented on #1522
@DavidLudwig Did upgrading Xcode or installing an update to openssl resolve your issue?

[2016-12-13 23:09] derekbekoe commented on #630
This could also be `az completion bash/zsh` then it can be used like `source <(az completion bash/zsh)`

[2016-12-13 23:18] colemickens commented on #630
@derekbekoe that's the exact pattern `kubectl` follows and I like it (I think the explicitness is a positive even)

[2016-12-13 23:31] #1529 closed

[2016-12-13 23:38] #1342 closed

[2016-12-14 01:36] dtzar commented on #1540
I believe I'm also experiencing this now after the upgrade.  I get this when I type az:
`Traceback (most recent call last):
  File "/usr/local/az/lib/python2.7/site.py", line 703, in <module>
    main()
  File "/usr/local/az/lib/python2.7/site.py", line 683, in main
    paths_in_sys = addsitepackages(paths_in_sys)
  File "/usr/local/az/lib/python2.7/site.py", line 282, in addsitepackages
    addsi

[2016-12-14 04:40] colemickens opened #1559 "Custom ARM endpoint?"
How do I go about specifying a custom ARM endpoint to target?

[2016-12-14 04:57] colemickens commented on #1559
For that matter, I'm not even seeing how I would utilize a sovereign cloud.

[2016-12-14 05:06] colemickens commented on #1061
Is this still true, even after the reshuffle that has `az group list` returning rather than `az resource group list` ?

[2016-12-14 09:36] hasonmsft opened #1560 "[Storage] az storage container policy create --expiry: the precision is only up to minute"
As you can see from the output below, the only correct input for --expiry is `2018-01-01T00:00Z` All other input format which I thought is correct failed.

[code]

[2016-12-14 09:38] hasonmsft opened #1561 "[Storage] az storage container policy create erase the permission setting"
As you can see that after creating new container policy, the original container level public permission is erased and changed back to off.

[code]

[2016-12-14 09:40] hasonmsft opened #1562 "[Storage] az storage container metadata update cannot accept space-separated metadata key=value pairs"
From the help, it said that the metadata option accepts space-separated format. But the result looks incorrect.

[code]

[2016-12-14 09:42] hasonmsft opened #1563 "[Storage] --if-modified-since precision only up to minute"
As you can see I passed a date time with precision to seconds below and get error.

[code]

[2016-12-14 09:44] hasonmsft opened #1564 "[Storage] --fail-on-exist looks not very useful"
When I don't pass the --fail-on-exist option, I can still get the result - fail. Besides that, some commands like this one (without --fail-on-exist), I can only get the result (failure) but not the reason (why it failed).

[code]

[2016-12-14 09:45] hasonmsft opened #1565 "[Storage] Cannot get the detailed reason for command failure"
[code]

[2016-12-14 09:46] hasonmsft opened #1566 "[Storage] blob upload output is not json but a dynamic progress which doesn't align with the output format standard"
Also, it's not aligned with `az storage blob download`
[code]

[2016-12-14 16:54] rcarmo opened #1569 "Equivalent command to Get-AzureRmLog for formal auditing?"
I'd like to access the audit logs for a specific resource group in the same way as `Get-AzureRmLog`. I can try to rummage inside every deployment, but that doesn't give me the same info.

[2016-12-14 18:13] derekbekoe commented on #1559
To specify a custom ARM endpoint, you can register a new cloud:
[code]

Afterwards, switch to that:
[code]

---

List the registered clouds with `az cloud list`:
[code]

Switch to AzureChinaCloud for example:
[code]
The endpoints will have changed so then you can log in if needed.
[code]

[2016-12-14 18:19] colemickens commented on #1559
@derekbekoe Fantastic. Thanks for the very comprehensive answer!

[2016-12-14 18:19] #1559 closed

[2016-12-14 18:35] tjprescott opened #1571 "[Test] msrestazure update breaks several test recordings"
This issue is currently affecting PRs: #1570, #1568, #1556, #1551, #1539, #1531, #1521, #1519, #1508, #1497.

I will re-record the affected tests and merge this afternoon. Once this issue is closed, you should be able to rebase your PRs without issue.

[2016-12-14 20:30] tjprescott commented on #1562
az storage container metadata update -n hasontestsetacl **--metadata "a=1 b=2 c=3"**

You should not put quotes around your space separated list.

[2016-12-14 20:40] tjprescott commented on #1562
I verified that this works correctly without quotes and that it works correctly if you surround a value with quotes to include spaces.
[code]

[2016-12-14 20:40] #1562 closed

[2016-12-14 21:02] tjprescott commented on #1565
true/false is the extent of the response coming from the Python storage SDK. As you mention in #1564, using the --fail-on-exist flag will give you an actual error message. If there were some other error, presumably there would be no way to get it and you would just get "false" as the return value.

While we could always make these calls such that they fail if the resource exists, whatever design r

[2016-12-14 21:33] #1495 closed

[2016-12-14 21:33] #1506 closed

[2016-12-14 21:33] #1543 closed

[2016-12-14 21:33] #1571 closed

[2016-12-14 22:38] nzthiago commented on #1540
If you have python3 and pip3 installed you might need to do this before it works:
sudo pip3 install --upgrade --no-deps --force-reinstall azure-cli

[2016-12-14 22:44] colemickens opened #1572 "How to troubleshoot with Fiddler/mitmproxy (aka, how to use HTTPS_PROXY)"
If I `export HTTPS_PROXY=http://localhost:8080` with `mitmproxy` running, I get this from the CLI:

[code]

For the other CLIs, there is an env var that can be exported to disable the strict checking and allow this for debug scenarios. Is that an equivalent for `az`?

[2016-12-14 22:47] colemickens commented on #1572
(I'm looking for the equivalent of `NODE_TLS_REJECT_UNAUTHORIZED` in xplat-cli.)

[2016-12-14 22:49] colemickens commented on #1572
(The CA is trusted by my machine as well, I can curl/wget https://www.google.com with traffic appearing in `mitmproxy` without any insecure flags)

[2016-12-14 22:57] tjprescott commented on #1572
@colemickens try setting the following environment variables: ADAL_PYTHON_SSL_NO_VERIFY and AZURE_CLI_DISABLE_CONNECTION_VERIFICATION.

[2016-12-14 23:06] tjprescott commented on #1566
What do you mean it's not aligned with `az storage blob download`?

The upload command in the SDK does not return a value. If it did, the return value would be in JSON/table/etc. format. The progress indicator uses the `create_blob_from_path`'s progress_callback parameter to provide information to the user via STDERR. In general the CLI is quiet, but in the few cases where informational text is ou

[2016-12-14 23:09] tjprescott commented on #1564
This is a limitation of the SDK and/or service. Since the SDK makes "fail-on-exist" an opt-in behavior, we do the same since whatever reason the SDK (and service for that matter) has for exposing that choice would presumably apply to a CLI user as well.

[2016-12-14 23:50] derekbekoe commented on #1540
@dtzar Running the following commands should resolve the issue.
[code]

[2016-12-14 23:54] tjprescott commented on #1561
This is another manifestation of this issue that I opened against the Python storage SDK months ago: https://github.com/Azure/azure-storage-python/issues/220.

While we can do this in the CLI, it seems to me that the SDK is the appropriate place to split these functions. Any customer that tries to use the `get/set_container_acl` methods is going to experience the same issue. While I understand tha

[2016-12-15 01:03] brendandburns commented on #1517
@colemickens are you working on this? if not I'll take it...

[2016-12-15 01:06] tjprescott opened #1574 "[Network] ExpressRoute inadequate server-side validation"
The following requirements are not validated by the ExpressRoute service, resulting in confusing errors and/or unexpected behavior:

1. Attempting to create MicrosoftPeering settings on an ExpressRoute circuit with a "Standard" SKU type yields a vague error ("An error occured.") and puts the circuit into a corrupt state. The service should validate that the SKU is compatible with the peering type

[2016-12-15 01:07] derekbekoe commented on #643
PR https://github.com/Azure/azure-cli/pull/1573 includes the Homebrew formula.

After the holiday season, we can create a PR to https://github.com/Homebrew/homebrew-core to include the CLI in Hombrew.

Since the name 'azure-cli' is taken by xplat-cli, the formula currently uses the name 'azure-cli-2'.

[2016-12-15 01:08] colemickens commented on #1517
I had meant to send it over the weekend but it fell by the wayside, feel free to take it from me.

[2016-12-15 01:08] tjprescott opened #1575 "[Network] Temporary client-side validation needed for ExpressRoute"
We should implement temporary client-side validation to check for and prevent the scenarios described in #1574 until the service has been updated to catch these scenarios.

[2016-12-15 01:31] hasonmsft commented on #1562
Could you add more sample in the help? I think for most people, they will follow the way I input as above.

[2016-12-15 01:34] hasonmsft commented on #1566
`az storage blob download` doesn't have any progress and will return json output. Could you file a GitHub issue to let Python SDK to return a value to you like other commands: 'az storage container create`? Actaully the upload success should return something like etag, md5, etc...

[2016-12-15 01:36] hasonmsft commented on #1565
This issue is not only for this command, it's a generic issue for all commands. Please take a consideration for failure troubleshooting.

[2016-12-15 08:43] andymoe commented on #1500
Yes, I can enable the scenario via the portal. All that is required is to create an app gateway that terminates SSL with a backend pool and traffic to the pool via http. I then create a custom health check probe pointing to /healthcheck or even / over http . The probe must be provided otherwise the app gateway seems to try to healthcheck to / over https but the backend pool of servers expects to t

[2016-12-15 09:58] colemickens opened #1576 "[Network] `dns record` vs `dns record-set show` take type differently"
`record` takes the type as a sub-command `az network dns record A ...` vs `record-set show` which takes it as a flag: `az network dns record-set show --type A ...`

Is this intentional? Take a bit to get the hang of the DNS commands since the record subcommands are set operations.

[2016-12-15 10:15] colemickens opened #1577 "[Network] [Bug] `az network dns record create` won't allow me to create the '@' recordset"
Attempt 1:
[code]

Attempt 2 (escaping the `@`):
[code]

Note that the delete works as expected:
[code]

I haven't found a workaround yet.

[2016-12-15 10:24] colemickens commented on #1577
For that matter, `record a add ... --record-set-name='\@'` works as well.

[2016-12-15 14:35] chaliy commented on #1303
The same issue,

[code]

produces log:

[code]

If this is not correct way to scale it, please let us know what is correct way.

[2016-12-15 15:16] pms1969 opened #1578 "using az component update ends in a "10525 Segmentation fault""
I'm running arch linux, have installed python, and done a pip install azure-cli.  That all worked fine.

When I run `az component update` I get the following
[code]

Any help would be appreciated.

It's worth noting that this is a VirtualBox VM running on a SurfaceBook.

[2016-12-15 15:45] derekbekoe commented on #1578
@pms1969 Can you provide a few details:
1. What Python version is installed?
2. What pip version is installed?
3. What's the output from `az --version`?
4. What's the output from `az component update --debug`?

[2016-12-15 16:51] tjprescott commented on #1544
PR #1568 merged so this is fixed. Thanks @ashikv for your contribution!

[2016-12-15 16:51] #1544 closed

[2016-12-15 17:46] tjprescott commented on #1500
Can you report that issue please? I plan on addressing all the application-gateway fixes in a PR before the holiday, so if there's another issue, I would like to address it in the same PR.

One thing I would note that is that if you are doing:
`--servers "${BACKEND_POOL_IP}"`

And trying to use a space separated list of servers, that would look to the CLI like `--servers "10.0.0.0 10.0.0.1"` which

[2016-12-15 18:06] DavidLudwig commented on #1522
Hmmm, switching my system from MacPorts, to Brew, seemed to fix the issue.

Installing the CLI without pip (via the InstallAzureCli shell script) also seemed to work.

[2016-12-15 18:06] #1522 closed

[2016-12-15 18:14] tjprescott commented on #1576
@colemickens this was intentional, but that doesn't mean it's the best way to do it! We put the record types as subcommands because trying to make a unified "add" command was confusing since certain parameters only applied to certain record types.

However, we do have a "remove" command in each subgroup. We could have a "list" operation for each subcommand which would essentially be an alias of `d

[2016-12-15 18:27] derekbekoe commented on #839
Closing issue as we no longer use the `azure` roll-up package.
Each SDK dependency is included individually.

[2016-12-15 18:27] #839 closed

[2016-12-15 18:37] derekbekoe commented on #1256
Closing as PR https://github.com/Azure/azure-cli/pull/1333 fixed this.

[2016-12-15 18:37] #1256 closed

[2016-12-15 18:50] derekbekoe commented on #797
Resolved by https://github.com/Azure/azure-cli/pull/1298.
Closing.

[2016-12-15 18:50] #797 closed

[2016-12-15 19:07] derekbekoe commented on #451
@yugangw-msft this can be closed now?

[2016-12-15 19:10] #451 closed

[2016-12-15 19:13] tjprescott commented on #1105
Workaround is in, so I'm moving this to the backlog. When the SDK is fixed, the workaround can be removed and this can be closed.

[2016-12-15 19:14] derekbekoe commented on #348
This is documented in our docs - https://github.com/Azure/azure-cli/blob/5160c2bb4ac4d29517ee61d66a27c12b5a242aa7/doc/preview_install_guide.md#ubuntu-1204-lts.

[2016-12-15 19:14] #348 closed

[2016-12-15 19:43] derekbekoe commented on #1297
The information on https://hub.docker.com/r/azuresdk/azure-cli-python/ was taken from our main README automatically.

I've updated the description on Docker Hub to fix the formatting and make it specific to Docker.

[2016-12-15 19:43] #1297 closed

[2016-12-15 20:22] #585 closed

[2016-12-15 20:47] #1575 closed

[2016-12-15 21:06] dtzar commented on #1540
@nzthiago pip3 wasn't installed, but I installed it and gave your command a try (with and without --upgrade).  Could not find a version that satisfies the requirement azure-cli (from versions: 0.1.0b4, 0.1.0b10, 0.1.0b9, 0.1.0b7, 0.1.0b8, 0.1.0b11, 0.1.0b11, 0.1.0b9, 0.1.0b10)

@derekbekoe touch does "touch: cannot touch ‘/usr/local/lib/python2.7/site-packages/azure/cli/__init__.py’: No such file

[2016-12-15 21:17] tjprescott commented on #1124
The help text has been fixed in #1270 for the command and follows the pattern for all other commands in the CLI which list resources within a subscription or resource group, if specified.

[2016-12-15 21:17] #1124 closed

[2016-12-15 21:25] tjprescott opened #1582 "Generic Update Needs Better Documentation"
Feedback from numerous individuals indicate that people find generic update poorly documented and difficult to use. We need clear documentation (within the CLI or external) that shows how to use this feature, complete with common examples.

[2016-12-15 21:26] tjprescott commented on #1123
Points 1 and 3 have been fixed. Point 2 is a more general issue with generic update that does not pertain specially to DNS so it is being tracked as a separate issue.

[2016-12-15 21:26] #1123 closed

[2016-12-15 21:33] tjprescott commented on #1236
Closing this as #1355 tracks this as it applies to the entire CLI.

[2016-12-15 21:33] #1236 closed

[2016-12-15 21:37] tjprescott commented on #1127
Fixed by PR #1122.

[2016-12-15 21:37] #1127 closed

[2016-12-15 22:09] andymoe commented on #1500
@tjprescott, ok, I'll try to reproduce the `--servers` issue. would you expect me to be able to pass a single quoted address like `--servers "10.0.0.1"` what about `--servers "10.0.0.1, 10.0.0.1"` the other old `azure` client says to use a comma separated like but this one just says `The list of IP addresses or DNS names corresponding to backend servers.`

[2016-12-15 22:16] #1109 closed

[2016-12-15 22:16] #1577 closed

[2016-12-15 22:21] tjprescott commented on #1500
@andymoe
**These Will Work**
`--servers "10.0.0.1"`
`--servers "10.0.0.1" "10.0.0.1"`
`--servers 10.0.0.1 10.0.0.1`
`--servers 10.0.0.1 myserver.name.foo`

**These Will NOT Work**
`--servers "10.0.0.1, 10.0.0.1"`
`--servers "10.0.0.1 10.0.0.1"`
`--servers 10.0.0.1,10.0.0.2`

When I work on application gateway I'll clarify the help to say a space-separated list of things.

Quotes are pretty much on

[2016-12-15 22:23] andymoe commented on #1500
@tjprescott, thanks. Very good chance we just messed that up since we were trying to switch from the other CLI. I'll confirm.

[2016-12-15 23:00] derekbekoe commented on #1360
Closing issue and marking as FAQ due to https://github.com/kennethreitz/requests/issues/3701#issuecomment-262923046.

[2016-12-15 23:00] #1360 closed

[2016-12-15 23:16] derekbekoe commented on #1540
@dtzar The error "Could not find a version that satisfies the requirement azure-cli" from pip usually means an old version of pip is installed. Run `pip --version` to confirm. The latest version is 9.0.1.

In https://github.com/Azure/azure-cli/issues/1540#issuecomment-267193426, the commands I provided were based off https://github.com/Azure/azure-cli/issues/1540#issuecomment-266916877 but it look

[2016-12-15 23:21] tjprescott commented on #1130
@jtuliani if the `if_none_match` field makes so sense for delete operations, then why is it in the SDK? Whatever reason that may have for being there (however obscure) might apply to a user of the CLI.

[2016-12-15 23:25] tjprescott commented on #1131
The null values exist because msrest deserializes the response into the strongly typed object. Since the values aren't included in the response, they end up as null values in the resulting object. We can handle this with a transform of the output.

[2016-12-15 23:30] tjprescott commented on #1132
IRT item 1, this is the error returned from the service. If it is inadequate, it should be updated there.

[2016-12-15 23:58] andymoe commented on #1500
So here is what happens when I try to update the backendHttpSettingsCollection directly... Any thoughts would be appreciated:

[code]

[2016-12-16 00:13] #1480 closed

[2016-12-16 00:13] #1537 closed

[2016-12-16 00:37] tjprescott commented on #1500
@andymoe here's what worked for me (beware--it's ugly!)

`network application-gateway update -g rg -n ag --set backendHttpSettingsCollection[0].probe={\"id\":\"/subscriptions/****/resourceGroups/rg/providers/Microsoft.Network/applicationGateways/ag/probes/probe1\"}`

Within the CLI, the object updates properly, but then when msrest tries to serialize it, it chokes. I think it is because the `probe

[2016-12-16 00:40] derekbekoe opened #1586 "Feature/Idea: An 'alias' component"
Sometimes, there are commands you use over and over again that can be long to type out and not straightforward to remember.

The 'alias' component would contain mappings between user-supplied commands and user-supplied aliases.

[code]

[code]

[code]

[code]

[code]

**Implementation Details:**
- The config of aliases could be stored in `~/.azure/alias.config` using the [config format](https://do

[2016-12-16 01:15] andymoe commented on #1500
Cool, thanks @tjprescott  well it *is* ugly but it does seem to attach the custom probe. The downside is it makes the Web UI just return very basic info instead of the full UI for the app gateway now.

[2016-12-16 06:06] #1501 closed

[2016-12-16 07:45] kaubry commented on #1303
Same here, impossible to scale a Kubernetes cluster on Azure.
Trying with `az acs scale` command as well as in the portal.
`az acs scale` throw me P`arameter 'secret' can not be None`
portal tells me that scale up/down is not supported by this orchestratorType.

Please fix this. I think this is a basic functionality for a container service cluster.

[2016-12-16 07:50] chaliy commented on #1303
Root cause of the issue is lack of scaling support in acs-engine - https://github.com/Azure/acs-engine/issues/109 , so probably acs-engine is better place to track the progress.

[2016-12-16 08:52] pms1969 commented on #1578
damn, started writing this yesterday, and obviously didn't hit the button. :-(

1.
[code]
2.
[code]
3.
[code]
4. see attached file.

[debug.txt](https://github.com/Azure/azure-cli/files/656709/debug.txt)

[2016-12-16 11:33] jtuliani commented on #1132
Re #1, yes, I believe we already have a service bug for this, good point.

[2016-12-16 16:31] binderjoe commented on #868
+1.  This is pretty bad:
`az storage share create -n foo`
`Unable to obtain data client. Check your connection parameters.`

I don't think P3 is appropriate given the emphasis we put on the need for great, actionable error messages.

[2016-12-16 16:36] binderjoe opened #1587 "storage command help text is not helpful at all"
The help text for most storage commands is terrible: it isn't actionable, describes internal (SDK) semantics, and generally provide the information needed to actually call the command.  See, for example:
`az storage share create --help`

`  az storage share create: Creates a new share under the specified account.
        If the share with the same name already exists, the operation fails on the se

[2016-12-16 16:41] binderjoe opened #1588 "Statement completion for values is inconsistent, slow, and unpredictable"
Statement completion of parameter values can be helpful when it works, but it is really slow and works for some parameter values and not others, making it impossible to predict when to use it and when not to.  As a result, users end up waiting several seconds to get parameter values that may never be shown.

If we're going to do this, we need to make sure the behavior is intuitable and consistent.

[2016-12-16 16:54] tjprescott commented on #1500
@andymoe

I'm not sure what you mean here--the UI in the portal?

[2016-12-16 16:58] tjprescott commented on #868
I'll take a look at these.

[2016-12-16 17:03] binderjoe opened #1589 "No way to get CIFS URI for storage shares"
Mounting a storage share is a core scenario for using shares via the CLI, yet there is no way that I can see to retrieve the CIFS url for a given share, which is required to mount it.  I think is important not only for convenience, but to ensure that the share URI is retrieved in a reliable fashion that will work in all Azure clouds.

[2016-12-16 17:09] binderjoe opened #1590 "No way to list all directories"
There appears to be no way to list all directories for storage.  It's possible to list files, accounts, and shares but not directories.

[2016-12-16 17:11] tjprescott commented on #1589
We had a prototype "mount" command for file shares, but it was never merged due to security concerns and the fact that OSX didn't support SMB 3.0.

[2016-12-16 17:12] binderjoe commented on #1589
Thx @tjprescott.  I don't actually want the CLI to mount the share.  I just need the URI needed so I can mount it via standard *nix commands.

[2016-12-16 17:14] tjprescott commented on #1590
`storage file list - List files and directories in the specified share.`

This is what Xplat does and is more akin to what you would get with `ls/dir`. In the SDK the actual method is `list_directories_and_files`.

[2016-12-16 17:15] tjprescott commented on #1589
I'll dig into that branch and see about exposing just that. The security implication was around the mounting process itself, so simply providing the URI shouldn't be  a problem!

[2016-12-16 17:17] #1129 closed

[2016-12-16 17:18] tjprescott commented on #1576
This discussion is covered in issue #1134.

[2016-12-16 17:18] #1576 closed

[2016-12-16 17:21] tjprescott commented on #1130
Based on the above, for now we will continue to expose `if_none_match` on delete. If you decide to remove it from the SDK, the CLI will automatically reflect this.

[2016-12-16 17:21] #1130 closed

[2016-12-16 17:25] binderjoe commented on #1590
Yeah, but the ls command doesn't imply it is specific to files--it "lists directory contents".  Where as a command called "list" under a group called "files" by definition implies it will list files.  Similarly, commands like ls make it easy to get just directories via -d or grepping the output.

I think there is a larger consistency issue:
- All other list commands in the CLI enumerate all resour

[2016-12-16 17:33] derekbekoe commented on #1578
@pms1969 thanks for the version information.
In the debug.txt file attached, it looks like the 'Content' from `az component update --debug` has been truncated.

[2016-12-16 17:36] andymoe commented on #1500
@tjprescott After I ran the script to automatically add the probes the UI in the portal did not show anything under the "settings" heading for any of the app gateways the script had touched. Funny thing is this morning I logged in again and everything looks normal again. I'll run the scripts and take a screen shot if I'm able to reproduce.

[2016-12-16 17:37] tjprescott commented on #1133
@jtuliani  IRT #1, the DNS SDK is unique in that it actually has a patch operation for a pure update (although we leverage the create_or_update), but even that exposes `if_none_match`.

[2016-12-16 17:51] tjprescott commented on #1590
I think the command was original called `az storage share contents` to more accurately convey what it does, but Storage didn't like that it wasn't named the same as Xplat and it got changed.

You can grep directories or file with:
`az storage file list -s {share} -otable | grep dir/file`

[2016-12-16 17:53] tjprescott commented on #1590
A few options:
1. go back to `az storage share contents`
2. make `file list` show only files and create a `directory list` command that shows only directories

Or, technically, I guess you could have all three. Thoughts?

[2016-12-16 17:54] pms1969 commented on #1578
damn.  it was completely wrong.  :-s  Hopefully this one is better.

[debug.txt](https://github.com/Azure/azure-cli/files/657887/debug.txt)

[2016-12-16 17:55] tjprescott opened #1591 "[Storage] File list does not work with -o tsv"
When I run `az storage file list -s my_share -o table` I get:

[code]

However, when I run this with `-o tsv` I get:
[code]

This is likely the result of this command using a customized table output format.

[2016-12-16 18:00] binderjoe commented on #1590
My $0.02 is that option 2 would be the most intuitable behavior.  Thanks Travis.

[2016-12-16 18:09] derekbekoe commented on #1591
Related to https://github.com/Azure/azure-cli/issues/1553.
With tsv, often an appropriate query is required.

[2016-12-16 18:19] derekbekoe commented on #1578
Thanks.
Can you also provide output from `$ uname -a`?

[2016-12-16 18:24] tjprescott commented on #1591
Should a query be required?

[2016-12-16 18:30] pms1969 commented on #1578
[code]

[2016-12-16 18:56] derekbekoe commented on #1578
Thanks @pms1969 for all the information.
Investigating...

[2016-12-16 18:58] derekbekoe commented on #1591
I expect the output from `az storage file list -s my_share -ojson` contains complex objects so tsv can't pull out the fields that a user would expect.
Looks also related to https://github.com/Azure/azure-cli/issues/1062#issuecomment-252983746

[2016-12-16 19:03] pms1969 commented on #1578
Cheers.

[2016-12-16 19:04] derekbekoe commented on #1578
I can repro using a Docker image of python with:
[code]

The exact cause is yet to be determined and the only error message is ``Segmentation fault      (core dumped) python -m azure.cli "$@"`` which doesn't provide much insight.

[2016-12-16 19:09] pms1969 commented on #1578
yeah, it's a bit baffling

[2016-12-17 00:39] colemickens opened #1593 "list functions should allow inverse filtering on tags"
`az group list --tag key=value` is nice, but I'd like to filter inversely.

Specifically, I want to write a script that allows me to cleanup all resources in a resource group that contain `colemick` **and** lack a `colemick-permanent=true` tag.

I wasn't sure if there's a way to do this today...

[2016-12-17 00:59] tjprescott commented on #1593
@colemickens you should be able to use the `--query` functionality to accomplish this.

[2016-12-17 11:19] colemickens commented on #1593
(Let me know if you'd prefer a different issue for this, but) I can't get it to work like I might've expected.

This has no output:

```az group list -o json --query '[?tags.colemickpermanent == `true`].name'```

Yet, if I feed it the same input data on the JMESPath website, I get output.

[code]

Result from http://jmespath.org/ with ```[?tags.colemickpermanent == 'true'].name``` in the path box:

[2016-12-17 11:21] colemickens commented on #1593
As always, minutes after posting... this works: ```az group list -o json --query "[?tags.colemickpermanent == 'true'].name```

[2016-12-17 13:20] #1593 closed

[2016-12-17 13:21] colemickens opened #1594 "Table output without headers"
How do I get `--output=table` but without the header and `-----` line(s).

For now I'm using `tail -n+3`.

[2016-12-17 21:40] #1477 closed

[2016-12-18 18:25] tjprescott commented on #1594
Currently table format always shows headers. Does `-o tsv` not work for your scenario? The default table format does not apply to TSV, so you may need to specify an appropriate query.

[2016-12-19 17:29] #1125 closed

[2016-12-19 17:29] #1132 closed

[2016-12-19 17:29] #1133 closed

[2016-12-19 17:51] tjprescott commented on #1126
The current import command is designed to consume the DNS zone file in the format that the export command outputs. We will overhaul them in tandem.

[2016-12-19 18:08] tjprescott opened #1595 "[Network] Application-Gateway Missing Commands"
See PRs in Xplat repo: https://github.com/Azure/azure-xplat-cli/pull/3129, https://github.com/Azure/azure-xplat-cli/pull/3188, https://github.com/Azure/azure-xplat-cli/pull/3226

- [ ] `application-gateway ssl policy`
- [ ] `application-gateway auth-cert`
- [ ] `application-gateway waf-config`
- [ ] `application-gateway backend-health`

[2016-12-19 18:09] tjprescott commented on #1500
Related fix in Xplat https://github.com/Azure/azure-xplat-cli/pull/3315

[2016-12-19 20:59] stevenfollis opened #1596 "az ad sp create-for-rbac and the --name parameter"
Hi,

When creating a SP for use with a Container Registry, I ran the following with the name **sfacr** (per [docs](https://docs.microsoft.com/en-us/azure/container-registry/container-registry-get-started-azure-cli)):

[code]

I expected the resulting SP to be named **sfacr**, and the URI to be something like **http://sfacr**. The response says that a SP was created named **sfacr**, however under c

[2016-12-19 21:25] tjprescott opened #1597 "Add new commands for Storage Mgmt 2016-05-01"
After https://github.com/Azure/azure-sdk-for-python/pull/913 is merged, add new storage mgmt API list operations for account and service SAS.

[2016-12-19 23:59] tjprescott commented on #1500
@andymoe actually, this syntax works:

`network application-gateway update -g rg -n ag --set backendHttpSettingsCollection[0].probe.id=/subscriptions/****/resourceGroups/rg/providers/Microsoft.Network/applicationGateways/ag/probes/probe1`

[2016-12-20 05:05] colemickens commented on #1593
In case anyone is curious, this is what I came up with for a cleanup function using `az` and tags: https://github.com/colemickens/dotfiles/commit/d8146e950c1bf39fbc54be40fae98c5ede300b26

[2016-12-20 18:19] JargoonPard opened #1599 "AZ Tool Caching Service Principals"
While trying to provision a new kubernetes cluster using acs I ran into an issue with a service principal from a different account was assigned to the cluster.

The SP that my kubernetes installation is using is in a different subscription that is in a different account.  I use two different accounts, a corporate account tied to my corporate credentials, and an MSDN account tied to my personal cre

[2016-12-20 18:21] johanste commented on #1594
We tried to make tsv the choice for line based output for automated consumption by other tools (grep etc.) and --table for human consumption in the terminal/console window.

@colemickens, do you have a specific use case in mind where this does not work?

[2016-12-20 18:26] JargoonPard opened #1600 "az ad sp reset-credentials --name parameter not resolving as expected"
I tried to use the `az ad sp reset-credentials --name` command to reset the credentials on an existing service principal.

I first ran `az ad sp list` to find the service principal details that I was after, it returned the following for the service principal I was interested in:

[code]

I then ran `az ad sp reset-credentials --name "appid-redacted"` because that was the only value shown in the co

[2016-12-20 23:19] lmazuel opened #1601 "Missing RBAC CLI example in documentation"
Here:
https://docs.microsoft.com/en-us/azure/active-directory/role-based-access-control-manage-access-azure-cli

I miss A LOT the Python CLI sample. It's (for some AD reason....) the sample I need the most. Today it's the third times I need it, and I have to send people to the old CLI one :(

Sending people to the generated documentation is not precise enough.

[2016-12-21 02:25] aanandr opened #1602 "Request for latest version"
- [x] The update option doesnt seem to work. I tried to use the share-key CLI to add a key but it didnt work. I got the following error message when i used the update option - The response from long running operation does not contain a body.

- [x] i added a connection but didnt specify the shared secred.

<del> It is not clear what the purpose of Generic Update Arguments (add/remove/set) is in th

[2016-12-21 02:27] aanandr opened #1603 "The js version of azure network vpn-connection create doesnt seem to be working"
Ran the following command
C:\WINDOWS\system32>azure network vpn-connection create -g VV2 -l "East US" -n GW2ToGW1 -i "/subscriptions/e7e33b39-fe28-4822-b65c-a4db8bbff7cb/resourceGroups/VV2/providers/Microsoft.Network/virtualNetworkGateways/VNet2GW" -r VV2 -e "/subscriptions/e7e33b39-fe28-4822-b65c-a4db8bbff7cb/resourceGroups/VV1/providers/Microsoft.Network/virtualNetworkGateways/VNet1GW" -m VV1 -y

[2016-12-21 08:49] e30chris opened #1604 "az storage container create --public-access uses confusing labels creating security risks"
CLI Version: 0.10.6
OS Type: Mac
Installation via:  pip

node-cli bug: [#3403](https://github.com/Azure/azure-xplat-cli/issues/3403)

Environment: AzureCloud

Description:
`az storage container create --public-access` uses confusing labels for each type of permission that can be granted, opening up the container to potential security issues with mistaken permissions granting public, wide open read

[2016-12-21 10:27] colemickens commented on #1594
`tsv` works for this. thanks!

[2016-12-21 10:27] #1594 closed

[2016-12-21 16:00] navicore opened #1605 "get-credentials: AuthenticationException: Authentication failed."
after successful run of `az group deployment create` for kubernetes arm from acs-engine, I try

[code]
and get
[code]
cli version
[code]

[2016-12-21 16:39] tjprescott commented on #1603
This issue should be posted here: https://github.com/Azure/azure-xplat-cli

[2016-12-21 16:39] #1603 closed

[2016-12-21 16:39] tjprescott commented on #1603
cc/ @amarzavery

[2016-12-21 17:06] #526 closed

[2016-12-21 21:28] tjprescott commented on #1572
@colemickens did this unblock your scenario?

[2016-12-22 00:32] navicore commented on #1605
I re-ran and get-credentials worked fine once I provisioned the kubernetes cluster with the same admin name and ssh pub key as the user I later ran the get-credentials from.

I think maybe we need some options on get-credentials to point to a name and ssh key.

Happy to make this as closed if that's the expected behavior for now.

[2016-12-22 00:32] #1605 closed

[2016-12-22 03:31] aanandr opened #1607 "Unable to establish a successful VNet-VNet VPN connection"
Ran the following two commands. They both succeeded but the connection is not coming up. On the portal i noticed that the shared secret key had incorrect values for the connections, they basically didnt match though specified correctly in the command

az network vpn-connection create -n GW2ToGW1 -g VV2 --vnet-gateway1-id "/subscriptions/e7e33b39-fe28-4822-b65c-a4db8bbff7cb/resourceGroups/VV2/provi

[2016-12-22 04:29] aanandr opened #1608 "az network vpn-connection create and update commands dont provide option to configure BGP"
The steps to enable BGP are
1. Set the ASN at the gateway level
2. Enable BGP at the connection level

There is no parameter to enable BGP at the connection level

The powershell equivalent of these commands provides BGP configuration capability.

[2016-12-22 04:58] colemickens commented on #1572
Yes. Thank you!

[2016-12-22 04:58] #1572 closed

[2016-12-22 16:53] lmazuel commented on #1601
Fourth: https://github.com/Azure-Samples/virtual-machines-python-manage/issues/4

[2016-12-23 00:48] lostintangent opened #1610 "[Question] How to work around "@" parsing in command args"
I was trying to set an environment variable on an App Service web app (using the `az appservice web config appsettings update` command), whose value is a MongoDB connection string. Unfortunately, the connection string includes the following substring within it: `=@n`. This triggers [this line of code](https://github.com/Azure/azure-cli/blob/575de6b7894ce60ed3182c3a51e269f4b2b063b2/src/azure-cli-co

[2016-12-23 01:19] lostintangent opened #1611 "[ACS] The show command doesn't display the orchestrator type by default"
Running `az acs list` (using table output) displays the orchestrator type each cluster by default (i.e. without needing to specify a custom `--query`). However, `az acs show` doesn't.

<img width="537" alt="screen shot 2016-12-22 at 5 14 08 pm" src="https://cloud.githubusercontent.com/assets/116461/21445148/48568b4c-c86a-11e6-83a7-19f824f50193.png">

This is pretty easy to work around, so it's def

[2016-12-23 01:36] lostintangent opened #1612 "[ACS] Orchestrator-agnostic browse command fails for k8s cluster"
When I try running `az acs browse` on a newly provisioned k8s cluster, I get the following error: `Unsupported orchestrator type ContainerServiceOchestratorTypes.kubernetes for browse`. Running `az acs kubernetes browse`, however, works perfectly, so it seems like there's an issue (at least for me) with the general `browse` command and k8s clusters.

[2016-12-23 03:06] aanandr opened #1613 "Setting BGP ASN at the gateway level fails"
Following are the steps to enable BGP for VNet-VNet and they have to be executed in the following order
1. Set the ASN at the Gateway level so that it is different from the other VNet's GW
2. Enable BGP explicitly at the connection level

When i run the following command to set the BGP ASN i get an error
aanandr@AANANDR-WORK:/mnt/c/Windows/System32$ az network vpn-gateway update -n VNet1GW -g VV1

[2016-12-23 21:51] jmspring opened #1614 "az cli does not handle expansion of file paths"
On Ubuntu, if you use `~` to represent the home directory, the Azure CLI seems unable to expand from `~` to the actual use home directory.

[code]

[2016-12-23 23:37] aanandr commented on #1613
I tried the update command to change the SKU and VPN type of the Gateway and got the same error

[2016-12-24 08:13] aanandr opened #1615 "Output of vpn-connection list command doesnt provide any information, all values are NULL"
Created a routebased VPN connection . Here is the output that i got. Most values are NULL which is incorrect.

aanandr@AANANDR-WORK:/mnt/c/Windows/System32$ az network vpn-connection list -g VV1
[
  {
    "authorizationKey": null,
    "connectionStatus": null,
    "connectionType": "IPsec",
    "egressBytesTransferred": 0,
    "enableBgp": false,
    "etag": "W/\"78f93a73-770e-4841-9dd1-8f1eb0ee6b

[2016-12-24 09:02] aanandr opened #1616 "local-gateway delete not working"
The sequence of commands below clearly shows the problem. After executing the delete command the show command says the GW is not present but the list command shows it. The Azure portal also shows the gateway

aanandr@AANANDR-WORK:/mnt/c/Windows/System32$ az network local-gateway delete -n VNet2GW -g VV2
aanandr@AANANDR-WORK:/mnt/c/Windows/System32$ az network local-gateway show -n VNet2GW -g VV2
T

[2016-12-24 09:08] aanandr commented on #1616
This issue was filed in error. Please ignore

[2016-12-27 10:30] DonMartin76 opened #1618 "az acs kubernetes get-credentials needs appended 'mgmt' to DNS prefix"
When using the command from [the Kubernetes tutorial](https://docs.microsoft.com/de-de/azure/container-service/container-service-kubernetes-walkthrough) to get credentials, it should be mentioned that the DNS prefix you specify when creating the container service and the one you need to specify when doing

`az acs kubernetes get-credentials --dns-prefix=<...>`

are not the same; it seems you must

[2016-12-27 15:45] hcd00045 commented on #998
Hi guys! I am just seeing this message now. I will gladly give this a try and report back if there are any issues. Thanks!

[2016-12-27 17:51] PeterJausovec commented on #1612
Same error occurs when running ```az acs browse``` against DCOS.

[2016-12-27 19:59] andymoe opened #1619 "Error creating application gateway. Invalid Json for --servers"
When I run this command I get the following error. Note: this happens if I use a single ip for --servers or multiple IPs. I've not tried with a FQDN as that's not a current use case for me.

az network application-gateway create --name an-application-gateway-name --resource-group a-resource-group --location westus --vnet-name a-vnet-name --subnet a-subnet --servers 172.17.1.4 172.17.1.5 --capacity

[2016-12-27 20:01] andymoe commented on #1500
Hey @tjprescott I finally was able to reproduce the issue re --servers using the az CLI to create an app gateway. Sorry it took so long. Separate issue filed here: https://github.com/Azure/azure-cli/issues/1619

[2016-12-27 20:47] olostan opened #1620 "[ACS] az acs create does not does not add authorization to an SP"
Just after running `az acs create --orchestrator-type=kubernetes --resource-group=<rgname> --dns-prefix=<appname> --name=<appname>`
<details>
  <summary>Operation completed without error</summary>
  <pre>
waiting for AAD role to propogate...........done
{
  "id": "/subscriptions/<guid>/resourceGroups/edicircle/providers/Microsoft.Resources/deployments/azurecli1482863184.1523824",
  "name": "azurec

[2016-12-27 21:36] lostintangent opened #1621 "[ACS] The k8s get-credentials command help doesn't indicate required arguments"
When running the `az acs kubernetes get-credentials` command, neither the `-n` nor `-g` arguments are marked as being required, despite the fact that they are. The command provides helpful errors if you omit them, however, it would be nice to have the help text provide as much prescription as possible.

Additionally, are the `--dns-prefix` and/or `--location` arguments eligible to be removed? I re

[2016-12-28 16:23] jesushernandez commented on #1618
I also noticed this. If the cluster is created via the portal, `mgmt` needs to be appended to your dns prefix when specifying `--dns-prefix` in `az acs kubernetes get-credentials`. What's a reasonable fix for this? There's a bit of inconsistency between the docs, what the portal does and what the cli does.

[2016-12-28 22:50] andymoe opened #1622 "Unable to update app gateway address pool"
I'm trying to update the servers in an app gateway's backend pool via the CLI using the --set (or --add) command.

The goal is to add additional VMs to the pool...

Here is the error I get for --set:

[code]

We've tried using --add, with a slightly different command, and gotten no further - similar/same error.

[2016-12-29 00:43] olostan commented on #1620
I have an suspicion that problem was because I had "Contribuer" role nad seems and I was not able to creat other "Contributers"

[2016-12-29 20:02] lmazuel opened #1623 "Azure for AWS expert should mention Python CLI"
https://docs.microsoft.com/en-us/azure/guidance/azure-for-aws-professionals

mentions the XplatCLI. Should mention Python CLI, especially when the intended audience is AWS experts that use a CLI already in Python.

[2016-12-31 19:05] dtzar commented on #1540
I had the latest version as you mentioned of pip.  Why are the default installation directories not what is recommended? I installed via curl again to the directory you mentioned and still to no avail.  I'm going to just keep using the docker image.  If you want to live troubleshoot, feel free to reach out to me inside MSFT.

[2017-01-02 22:06] troydai opened #1626 "Add python 3.6 configuration & support"
Python 3.6 was released on December 23, 2016. The current matrix of Travis CI run includes 2.7, 3.5, 3.5-dev.  It worths to consider replace 3.5-dev with 3.6.

[2017-01-03 16:54] tjprescott commented on #1610
Can you provide an example of the connection string with bogus values?

[2017-01-03 17:00] tjprescott commented on #1610
`@name` is a CLI feature to load a value from file, most useful for loading JSON that is painful and awkward to type on the command line. The reason it parses `this=@that` is because argparse allows space or = as a separator between an argument and its value and we needed to preserve the ability for `--arg=@filename` to work correctly.

We tried a couple different implementations and the current o

[2017-01-03 17:07] tjprescott commented on #1619
Can you run `pip list` and tell me what version of `azure-mgmt-network` you have?

[2017-01-03 17:31] troydai opened #1627 "Add new exception type to carry HTTP status code"
In the pull request #1617 there is a try-catch structure relies on checking if the error message contains a specific string to determine the source of the exception. The process can be more deterministic if the exception, which triggered by an error coded HTTP response, carries the HTTP response status code.

The current `CLIError` exception is too simple to carry any information when the error is

[2017-01-03 18:33] yugangw-msft commented on #1596
I agree this is not very clear. Couple of explanations here:
The `display-name` is not useful for service principal created for RBAC, and in cli you probably will never use it. Because of this, we associate `-n and --name` with `app-id-uri` which people will use the same value to login or assign roles to it. This is not a perfect association, but in AAD graph database, the `app-id-uri` is mapped t

[2017-01-03 18:50] yugangw-msft commented on #1599
This is correct behavior. If you use cli to login to 2 accounts, it will remember/cache all subscriptions from 2 accounts

I assume to use ` --service-principal` argument to create service principal on the fly? Or you have logged in as a service principal and create acs?

You might have to ensure you are under right active subscription by using `az account set`

SP is a tenant specific entity whic

[2017-01-03 19:07] JargoonPard commented on #1599
I did not use --service-principal in the command at all. I was following the instructions here: https://docs.microsoft.com/en-us/azure/container-service/container-service-kubernetes-walkthrough

The SP was created in a subscription in a different tenant than where the cluster was created.

There does seem to be an issue with the initial subscription that is preventing me from successfully running

[2017-01-03 22:14] troydai opened #1628 "Clean up noises in debug output"
Run command with `--debug`, the huge list of commands shows up in the output. It is in current form unreadable and make log 'noisy'. Consider either remove it or make it more compact.

This is the 'noise' I'm talking about:

Application event 'CommandTable.Loaded' with event data {'command_table': OrderedDict([('storage queue metadata update', <azure.cli.core.commands.CliCommand object at 0x7f9d40

[2017-01-03 23:28] brendandburns commented on #1618
Using `--dns-prefix` is deprecated, just use `--resource-group` and `--name` and it will pull the relevant info from the API.

(and yes, I need to update docs too...)

[2017-01-04 01:07] tjprescott commented on #1619
The fix for this will be in PR #1606.

[2017-01-04 01:10] tjprescott commented on #1622
--add would be the correct parameter to use. I would try
`az network application-gateway update {...} --add backendAddressPools[0].backendAddresses "{\"fqdn\":null,\"ip_address\":\"172.17.1.4\"}"`

[2017-01-04 04:41] #1415 closed

[2017-01-04 16:47] brendandburns commented on #1620
I'll try to reproduce this. We should at the very least error out in the CLI in this case.

[2017-01-04 16:48] brendandburns commented on #1612
Ugh, I'll try to reproduce...

[2017-01-04 16:59] tjprescott opened #1631 "[Storage] File copy source convenience parameters don't work"
When copying a file, if you specify the `--source-share` and `--source-path` parameters, the constructed URI is incorrect and the copy operation eventually fails with the error "Could not verify the copy source within the specified time."

You can obtain the correct URI using the `az storage file url ...` command and use the `--source-uri` parameter until this issue is fixed.

The problem is that

[2017-01-04 17:27] derekbekoe commented on #1626
According to https://docs.travis-ci.com/user/languages/python/#Choosing-Python-versions-to-test-against, 3.6 is not yet available on Travis CI. Only `"3.6-dev" # 3.6 development branch` is.

[2017-01-04 17:35] troydai commented on #1631
We need a reverse version of this: https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-storage/azure/cli/command_modules/storage/storage_url_helpers.py

[2017-01-04 17:40] tjprescott commented on #1631
Since the "old" copy commands will likely be deprecated, I created a PR that fixes the issue and expanded the test to guard against the regression.

[2017-01-04 17:46] troydai commented on #1626
What's the plan for 3.5-dev then?

[2017-01-04 17:51] derekbekoe commented on #1626
Open to suggests:
- We could leave 3.5-dev as 'allowed failures' or we can now require that 3.5-dev always passes since the 'import error' issue we had has been resolved.
- We could also include 3.6-dev in our builds as 'allowed failures'?

The development branches get updated frequently so can break unexpectedly.

[2017-01-04 18:08] troydai commented on #1626
Per conversation with @derekbekoe, here's what we come to conclusion.
1. Replace python 3.5-dev with 3.6-dev configuration.
2. If build fails under 3.6-dev, allow the failure temporarily.

[2017-01-04 18:26] tjprescott commented on #1622
I have verified that this works. Also, when the app gateway PR is merged, you could also do this:

`az network application-gateway address-pool update -g {rg} --gateway-name {gateway} -n {backend-pool-name} --add backendAddresses "{\"fqdn\":{fqdn},\"ip_address\":\"{address}\"}"`

[2017-01-04 18:29] tjprescott commented on #1622
So when you are using --set or --add to set an object:

1. ugly escape character are required
2. use the Python syntax for the properties (ip_address instead of ipAddress)

[2017-01-04 18:36] #1631 closed

[2017-01-04 18:44] derekbekoe opened #1633 "Improvements to context/account/clouds"
This feature is not well documented and is not necessarily straightforward to use.
This is due to wanting to maintain compatibility with xplat CLI whilst also exposing new functionality.

Related to this question - https://github.com/Azure/azure-cli/issues/1559#issuecomment-267110057.

[2017-01-04 19:48] andymoe commented on #1622
Thanks @tjprescott, I think it was probably 2 that was tripping us up. Trying this now.

[2017-01-04 20:09] bridgetcdavis opened #1635 "Display output json after running create vpn gateway"
After running 'az network vpn-gateway create' command, by default display the output json as occurs in other create commands (e.g. az network public-ip create). It is inconsistent functionality, but also does not always return to the command line when finished, so the user could be waiting hours thinking it is still running.

[2017-01-04 20:16] bridgetcdavis opened #1636 "Bad Error Message on creating a vpn gateway that already exists"
The first time I ran the 'az network vpn-gateway create' command, the public-ip that I assigned to it was not in the same location as the vnet and vpn-gateway so it produced an error message that it could not find the public-ip resource.

This was helpful, but what I did not realize is that the Gateway had been created, but with a failed state. So I tried to create it again, this time with the cor

[2017-01-04 20:27] bridgetcdavis opened #1637 "Cannot update vpn-gateway with address prefixes"
It is required for a vpn-gateway to have an address prefix before a Root Cert can be added. I need to be able to assign address prefixes to the gateway for Point-to-Site to work at all. I see "address prefixes" is not a field when creating the vpn-gateway. I can only add them after the vpn-gateway has been created by using the "update" command. However, when I run the command:
[code]
it gives me t

[2017-01-04 20:56] bridgetcdavis opened #1638 "Add error when creating root-cert on vpn-gateway without address prefixes"
For some reason, the Point-to-Site code does not allow a root cert to be added to the vpn-gateway until address prefixes have been added to the vpn-gateway. If you don't know this (like me) and try to add a root certificate first, you should see an error indicating this. However, when I run the command:
`az network vpn-gateway root-cert create --gateway-name PythonP2Sgw -n PythonRootCert --public-

[2017-01-04 21:38] dtzar commented on #1618
I went ahead and fixed [the documentation for the walkthrough](https://docs.microsoft.com/en-us/azure/container-service/container-service-kubernetes-walkthrough) via this [existing PR I already had open](https://github.com/Microsoft/azure-docs/pull/324) for awhile to update the docker-machine.  So hopefully you can just approve both @dlepow and @mlearned?

[2017-01-04 21:42] dtzar commented on #1618
@DonMartin76 @jesushernandez or @brendandburns are there any other documents you know of which need to be updated that reference az acs kubernetes get-credentials and is the update I provided to the docs sufficient to close this issue out?

[2017-01-04 21:49] tjprescott commented on #1637
`az network vpn-gateway update -n PythonP2Sgw -g TestingPortalRG --address-prefixes 127.0.0.0/28`

Should work fine. If you want a list of addresses, they should be space separated:
`az network vpn-gateway update -n PythonP2Sgw -g TestingPortalRG --address-prefixes 127.0.0.0/28 125.0.0.0/28`

[2017-01-04 21:54] dtzar commented on #1618
Arg. just saw @DonMartin76 PR https://github.com/Microsoft/azure-docs/pull/342/files

[2017-01-04 21:59] #1578 closed

[2017-01-04 22:05] tjprescott commented on #1622
If you still have issues, please re-open :)

[2017-01-04 22:07] andymoe commented on #1622
I got both set and add to work! Thanks!

On Wed, Jan 4, 2017, 2:05 PM Travis Prescott <notifications@github.com>
wrote:

[2017-01-04 22:07] bridgetcdavis commented on #1637
I ran exactly that and received the same error.
`az network vpn-gateway update -n PythonP2Sgw -g TestingPortalRG --address-prefixes 127.0.0.0/28
[code]

[2017-01-04 22:14] derekbekoe commented on #1540
Will do.

[2017-01-04 22:14] #1540 closed

[2017-01-04 22:15] derekbekoe commented on #1540
Closed as the issue is marked as FAQ and it's documented in our install troubleshooting doc - https://github.com/Azure/azure-cli/blob/master/doc/install_troubleshooting.md#upgrade-from-010b10-causes-keyerror-azure-error.

[2017-01-04 22:15] tjprescott commented on #1637
I've confirmed that this works correctly on the latest build. PR #1539 renamed `vpn-gateway` to `vnet-gateway`, so if you update your network component to the latest, it should work fine.

`az network vnet-gateway update -n PythonP2Sgw -g TestingPortalRG --address-prefixes 127.0.0.0/28`

[2017-01-04 22:16] #1637 closed

[2017-01-04 22:19] brendandburns commented on #1612
This is fixed in https://github.com/Azure/azure-cli/issues/1612

[2017-01-04 22:24] tjprescott commented on #1615
This is the data as returned from the server.

[2017-01-04 22:31] aanandr commented on #1615
Travis – I see a proper output when I check in powershell.

From: Travis Prescott [mailto:notifications@github.com]
Sent: Wednesday, January 4, 2017 2:24 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Aanand Ramachandran <aanandr@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [Azure/azure-cli] Output of vpn-connection list command doesnt provide any information, all val

[2017-01-04 22:33] tjprescott commented on #1613
From your command, it seems you are using an out of date version of the network package. Numerous fixes have been applied in PR #1539.

[2017-01-04 22:35] jesushernandez commented on #1618
The confusing part for me was the documentation, so 👍  (disclaimer: I can't test that command right now, but I believe it just works as stated in the new documentation).

[2017-01-04 22:48] brendandburns commented on #1153
Can we close this, I'm doing some of this work here:

https://github.com/Azure/azure-cli/pull/1641

@sauryadas please comment on that PR for the set of fields you'd like to see.

[2017-01-04 23:02] brendandburns commented on #1614
To be fair, that expansion happens inside of bash, not in the executable, the executable sees: '/home/.../'

But we should consider supporting the expansion in the az CLI also.

[2017-01-04 23:08] brendandburns commented on #692
@gandhiniraj any updates on this?

[2017-01-04 23:10] tjprescott commented on #1613
I confirmed that this works correctly on the latest master.

[2017-01-04 23:10] #1613 closed

[2017-01-04 23:14] brendandburns commented on #1078
Is this still an active work stream?  I can add support for this if no one is working on it.

[2017-01-04 23:16] ravbhatnagar commented on #692
@yugangw-msft - This has been fixed. Please let us know if you still see this.

[2017-01-04 23:37] vivsriaus commented on #1078
@brendandburns Yes, lock commands are still pending. I'd check with @yugangw-msft and @mayurid to ensure they're not already working on it, to ensure no overlap. Thanks!

[2017-01-04 23:43] #1612 closed

[2017-01-04 23:44] #1611 closed

[2017-01-04 23:58] yugangw-msft commented on #1078
@vivsriaus, we are not working on it, and contributions are very much welcome

[2017-01-05 00:07] troydai opened #1644 "_option_descriptions incorrectly parses argument name when the description contains ":""
[code]
In above example, the expected argument name is *version*, however, the method returns *include*.

[2017-01-05 01:05] tjprescott commented on #1619
PR #1606 merged.

[2017-01-05 01:05] #1619 closed

[2017-01-05 05:08] yugangw-msft opened #1646 "VM: smart create template hard codes blob uri to be US cloud specific"
[This line](https://github.com/Azure/azure-cli/blob/master/src/command_modules/azure-cli-vm/azure/cli/command_modules/vm/mgmt_vm/azuredeploy.json#L176) uses `.blob.core.windows.net`, which will not work in any other non Us cloud envs, say China Cloud, whose endpoint should be`.core.chinacloudapi.cn`
[code]

[2017-01-05 16:36] #1635 closed

[2017-01-05 16:36] #1638 closed

[2017-01-05 17:38] #1644 closed

[2017-01-05 18:12] tjprescott commented on #1646
This also applies to VMSS create.

[2017-01-05 18:24] lostintangent commented on #1610
Sorry for the late reply. The connection string value would have the format of `{user}:{pass}@{server}`, and unfortunately in my case, the password ended in `=`, which seems to have triggered this issue (e.g. `foo:bar=@server.com`). The test case you added in #1648 should account for this scenario, and I can test out your fix as well.

[2017-01-05 18:33] PeterJausovec opened #1649 "az acs dcos browse navigates to localhost as well as the proxy"
Running ```az acs dcos browse -n [] --resource-group []``` opens two browsers. One goes to the DCOS portal (which is expected), but the other navigates to the proxy that was set and fails with this error:

```dial tcp 127.0.0.1:63037: getsockopt: connection refused```

[2017-01-05 19:02] neilbmclaughlin opened #1651 "Unhelpful error message when git branch does not exist."
I had problems with failed function app deployments which had a sourcecontrols resource.

The branch name was of the form 'feature/do-something-new' which I eventually realised needed to be escaped (i.e. "branch": "[replace(variables('branch'), '/', '\/')]",). I was also able to replicate the deployment error by using a branch name which didn't exist (masterxxx).

My issue is specifically with the

[2017-01-05 19:16] dtzar commented on #1540
thanks to @brusmx I got this working via these commands:
touch /usr/local/az/lib/python2.7/site-packages/azure/cli/command_modules/__init__.py
touch /usr/local/az/lib/python2.7/site-packages/azure/cli/__init__.py

[2017-01-05 19:23] troydai opened #1652 "VM automation randomly fails"
https://travis-ci.org/Azure/azure-cli/builds/189282184

It claimed that one dynamically created configuration file is missing.

[2017-01-05 19:27] derekbekoe commented on #1652
FYI: I saw this and restarted the build to see if it will fix itself.

[2017-01-05 19:28] derekbekoe commented on #1652
As I don't see how the PR that was merged would cause such a failure.

[2017-01-05 19:29] troydai commented on #1652
I suspect the parallel test run has something to do with it.

[2017-01-05 19:31] troydai commented on #1652
both `VMExtensionInstallTest` and `VMSSExtensionInstallTest` create a `private_config.json` and delete during clean up. this is the conflict.

[2017-01-05 19:39] brusMX commented on #1540
Also, just to point out that the error @dtzar is running into is by installing the Az Cli in Windows 10 with Ubuntu bash through this command:

[code]
That command is actually setting the contents of the `python2.7/site-packages` within the `az` folder inside the `/usr/local` folder. Instead of using `/usr/local/lib/python2.7`

[2017-01-05 19:40] tjprescott commented on #1652
I am working on a VM PR, so I'll update the filename in that.

[2017-01-05 19:41] troydai commented on #1652
https://github.com/Azure/azure-cli/issues/1652

[2017-01-05 19:42] derekbekoe commented on #1540
@brusMX This is intended.
With the curl script, the CLI gets installed into its own virtual environment. This is so that our dependencies do not conflict with any other Python dependencies that are currently installed on the system.

In your case, the root of this virtualenv is `/usr/local/az`.

[2017-01-05 19:45] derekbekoe commented on #1540
Also, previously the default location of this virtualenv was `/usr/local/az` and now it is `~/lib/azure-cli`.

[2017-01-05 19:48] brusMX commented on #1540
I supposed so @derekbekoe
What I intended to communicate is that it was unclear to determine the root of the virtualenv. Especially from what you just communicated, the last version of the code says `DEFAULT_INSTALL_DIR = os.path.expanduser(os.path.join('~', 'lib', 'azure-cli'))` and not really `/usr/local/az`

So if anybody else runs into this issue, they could realize that their virtualenv could

[2017-01-05 19:53] troydai commented on #1652
Fixed in https://github.com/Azure/azure-cli/pull/1653

[2017-01-05 19:53] #1652 closed

[2017-01-05 20:16] #1610 closed

[2017-01-05 20:23] bobnordlund opened #1655 "Service principal creation does not create associated application"
Missing functionality:
(old cli)
azure ad sp create --name {MY_SP} --password {MY_PASSWORD}

This allowed for a single call to create and initialize both a service principal and application.

[2017-01-05 23:55] andymoe commented on #1622
Hey @tjprescott I was able to get this working for both --set and --add it was indeed the snake case issue. :/

[2017-01-06 00:41] sauryadas commented on #1153
closing will be fixed as a part of #1641

[2017-01-06 00:41] #1153 closed

[2017-01-06 04:27] troydai opened #1658 "PEP 8 Compliance"
Here's the statistics generated by `pycodestyle`
[code]

[2017-01-06 04:29] troydai commented on #1658
Full report:
[pep8-voilation.txt](https://github.com/Azure/azure-cli/files/688997/pep8-voilation.txt)

[2017-01-06 05:26] lostintangent opened #1659 "[Question] Should the VM create command create a new NSG when referencing an existing NIC?"
If I call `az vm create`, and specify an existing NIC via the `--nics` flag, I notice that I still need to explicitly set the `--nsg ''` parameter if I want to prevent it from creating a new NSG.

This behavior seemed a little strange to me since [these docs](https://docs.microsoft.com/en-us/azure/virtual-network/virtual-networks-nsg) seem to indicate that the NSG is a NIC-associated resource. The

[2017-01-06 12:48] cmatskas opened #1662 "Add support for Logic Apps"
Hi team, could you please add support for Azure LogicApps? Is it in the roadmap? if not, what do we need to do to move this forward?

[2017-01-06 15:20] #1646 closed

[2017-01-06 16:22] johanste commented on #1614
We have tried to stay away for extra expansions inside of the CLI wherever we can since that makes it harder to understand the escaping/expansion that will yield the eventual value. As @brendandburns points out, the expansion in this case is normally done by the shell. The reason it doesn't happen here is because of the (optional) '=' between the option name and the value. If you drop that, it sho

[2017-01-06 17:03] tjprescott commented on #1614
Our @file notation allows for @~/path and does the expansion, regardless if the property is specified as `foo @~/path` or `foo=@~/path`. There are only a handful of parameters that are specifically paths, so I think we could pretty easily add the expansion logic in, and it would work in CMD as well.

[2017-01-06 17:59] matthchr commented on #1105
@tjprescott Any ETA on when the fix for this will be public on pypi? Also, won't it negatively impact performance significantly to only use `max_connections = 1` for large files?

[2017-01-06 18:02] tjprescott commented on #1105
@mattchr the fix will be in for the January 14th release. It will slow performance for large files, but that's better than crashing due to running out of memory. When the storage SDK is fixed, we will remove the workaround.

[2017-01-06 18:05] neilbmclaughlin commented on #1651
I'm not convinced it is a escaping character issue now as I have failing deployments even with the code change described above.

When looking at the continuous integration details for the function app I discovered some further logging for the failed github deployment:

[code]

Interestingly if I then hit the Redeploy button in the portal it is successful

[code]

[2017-01-06 18:25] derekbekoe commented on #1578
Update to azure-cli-component published that includes this fix.
https://pypi.python.org/pypi/azure-cli-component/0.1.0b12

[2017-01-06 18:26] derekbekoe commented on #1578
Install the CLI again and this issue will be resolved.

[2017-01-06 18:37] tjprescott commented on #1655
@yugangw-msft

[2017-01-06 18:42] tjprescott opened #1666 "Automation: measure and report command and parameter coverage"
We have had a command coverage test suite for a while, but due to changes in the code base, it no longer works. Additionally, partner teams have specifically inquired about parameter coverage to ensure that we are testing commands thoroughly and not just with their minimum parameters. We should:

- [x] Re-enable command coverage to know which commands lack test cases
- [x] Enable parameter coverag

[2017-01-06 18:42] yugangw-msft commented on #1655
@bobnordlund, please check out "az ad sp create-for-rbac"

[2017-01-06 18:42] #1655 closed

[2017-01-06 18:48] tjprescott commented on #731
This is covered in #1252 so I will close this.

[2017-01-06 18:48] #731 closed

[2017-01-06 18:51] tjprescott opened #1667 "[Test] Live environment for functional tests"
As we've discussed we should have a way to run our tests live on a periodic basis to quickly detect changes from the service that could break the CLI or for tests that cannot be effectively recorded.

[2017-01-06 19:46] advishnuprasad commented on #1620
@olostan I faced the same issue. I am also having "contributor" role. But why would it try to create other contributors ?

[2017-01-06 22:33] tjprescott commented on #1662
@yugangw-msft you've had the most interaction with the appservice team. Do you know where this fits in?

[2017-01-07 16:07] nneul opened #1675 "Need way to enable diagnostics from cli for app gateways (and likely other entities)"
This is supported in the web portal, but not seeing any way to do it from the CLI. If it is, a pointer would be appreciated.

[2017-01-07 18:51] lostintangent opened #1676 "[VM] Add aliases to the parameter names of the image commands"
The `az vm image` commands are great, but the parameter names can feel a little verbose after using them regularly. For example, instead of needing to do something like this:

[code]

It would be awesome to be able to do:

[code]

[2017-01-07 19:07] lostintangent opened #1677 "[Network] Default table output for public IPs doesn't display their IP address"
Simply running the `az network public-ip list` command doesn't display the actual IP addresses. It would be great to get this information without needing to resort to a custom query/format type.

[2017-01-07 19:19] lostintangent opened #1678 "[NSG] Creating new rules seems a little too verbose"
This is more of an observation issue, but I've noticed that when using the `az network nsg rule create` command, it feels a little overly verbose to do simple things.  For example, to enable incoming SSH, you need to run the following:

[code]

The `az vm create` command simplifies this by auto-enabling SSH for you (by default), but ideally, the underlying commands for managing NSG rules would be

[2017-01-07 19:23] lostintangent opened #1679 "[VM] Allow enabling IP forwarding upon VM creation"
This is potentially a somewhat advanced scenario, but it would be cool if the `az vm create` command allowed enabling IP forwarding on the NIC that it creates (if it creates one). That way, you didn't need to create the VM, find the ID of the auto-created NIC, and then run `az network nic update` to enable IP forwarding.

[2017-01-08 03:26] lostintangent opened #1680 "[VM] list-ip-addresses command doesn't support table output by default"
Running `az vm list-ip-addresses -otable` results in just a blank line being printed. Explicitly setting another output type (e.g. `--osjonc`) correctly displays the IP addresses, however, it would be ideal if this command worked correctly with the table output, without needing to specify a custom `--query`.

<img width="307" alt="screen shot 2017-01-07 at 7 24 23 pm" src="https://cloud.githubuser

[2017-01-08 03:55] lostintangent opened #1681 "[Question] Recommended way to get a raw string value from a custom query"
Since the JSON output type will return quoted value strings (e.g. `"foo"` instead of `foo`), what is the recommended solution for getting the raw/unquoted value of a string that is returned from using a custom `--query` flag? Using `-otsv` seems to work, but feels kind of "hacky" (?), and obviously piping JSON output to `jq -r` would work, but seems strange to need to use JQ strictly to remove the

[2017-01-08 13:14] valencik commented on #1681
I ran into exactly this issue last night and ended up replacing the whole query with `jq` (thankfully they're the same syntax):

[code]

Nice to know you can combine the `--query` and `-otsv` though.