[2022-05-09 23:49] kangsun-ctrl opened #22326 "Azure VM Image List show architecture"
**Related command**

az vm image list

**Is your feature request related to a problem? Please describe.**

Curently 'az vm image list' does not return property 'architecture', we hope this can be applied for filter.

**Describe the solution you'd like**

az vm image list [--all]
                 [--edge-zone]
                 [--location]
                 [--offer]
                 [--publisher]

[2022-05-09 23:51] yonzhan commented on #22326
Compute

[2022-05-10 00:00] tsubakimoto commented on #22296
@RakeshMohanMSFT Thank you for confirmation. However, the error is occuring now.
I tried same page and steps. The result is below.

[code]

Azure CLI's version is below.

[code]

[2022-05-10 00:10] sirfamelin commented on #21395
Hi @zhoxing-ms, my apologies but it looks like I missed a crucial configuration of the VMSS. By default, it looks like the upgrade policy is set to "manual". This blocks the updates (MSI, Guest Attestation Extension) to the VMSS model to be applied to the individual instances. In order to apply the changes, we need to run the following:

az vmss update-instances --resource-group "rgname" --name "v

[2022-05-10 00:21] kangsun-ctrl opened #22327 "Shared gallery replace '--seletct=permissions' with '--expand=sharingProfile/Groups'"
**Related command**

az sig show

**Resource Provider**

Azure.Compute

**Description of Feature or Work Requested**

Previous we have project direct sharing CLI support and for command 'az sig show', we do not show gallery's sharing profile- groups unless user input '--select=permissions' and that is a bad design which does not have anything to do with 'permissions' and it does not conform to ODa

[2022-05-10 01:00] italukder commented on #20848
Subject  see fead business protocol trust boatd

[2022-05-10 01:04] yonzhan commented on #22327
Compute

[2022-05-10 01:47] #21422 closed

[2022-05-10 02:09] zhoxing-ms commented on #21395
@sirfamelin Please create a new feature request.
In addition, since the work of this sprint has been fully arranged, is it acceptable for this requirement to be developed and released in the next sprint **(07-05)**?

[2022-05-10 02:28] italukder commented on #20848
important : any third party that does not comply with my matrix corridors family -- partnerships business link will be severely affected in further.

[2022-05-10 02:33] jonie001 commented on #22249
Hi, @RDavis3000
When I try to use space separation, no error is raised. Can you provide more information about the command？
![image](https://user-images.githubusercontent.com/99947323/167529018-74eec8bc-1ea3-4dde-9349-f4bd7c27f073.png)

[2022-05-10 02:35] ausfestivus opened #22328 "beta cli returning zero results in command `az ad user list` when there is a `--query` parameter"
**Related command**

`az ad user list --filter "startswith(userPrincipalName, 'user1@dev.acme.com.au') or startswith(userPrincipalName, 'user2@dev.acme.com.au') or startswith(userPrincipalName, 'user3@dev.acme.com.au')" --query '[].objectId' -o tsv`

**Describe the bug**
The output of the command changes depending on whether the GA CLI or Beta CLI is used.

**To Reproduce**
1. Run the above comman

[2022-05-10 02:38] maotsuk opened #22329 "Priority is "required" now not "optional""
if we didn't add this parameter then the below error message would return

ApplicationGatewayRequestRoutingRulePartialPriorityDefined
Either all or no rule should have the priority specified.
---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7d6ba93c-4a1c-c69d-f52a-001791e0220a
* Version Independent ID: 2dd75bbb-a92c-c8f5-

[2022-05-10 03:00] evelyn-ys commented on #22323
Hi @willieowens, as the warning message said, can you try `az storage fs directory metadata show`? It should work well:
![image](https://user-images.githubusercontent.com/10227683/167534011-10463d3a-00a1-4a29-8cd1-b2739c46320f.png)

[2022-05-10 03:06] yonzhan commented on #22328
@jiasli for awareness

[2022-05-10 03:10] yonzhan commented on #22329
network

[2022-05-10 03:25] YuanyuanNi commented on #21292
PR:https://github.com/Azure/azure-cli-extensions/pull/4788

[2022-05-10 03:34] daxianji007 opened #22330 "'--subscription' sometimes exists sometimes not"
**Related command**
`az account alias xxx`
`az webapp xxx`

**Describe the bug**
I am using the python code to get all the help information of commands. I find that a global parameter '--subscription' sometimes exists sometimes not. **This happens in (all?) commands from extension 'account' and 'webapp'.**

**To Reproduce**
Install azure-cli and extension 'account', run the following python code.

[2022-05-10 03:38] yonzhan commented on #22330
@zhoxing for awareness

[2022-05-10 03:53] daxianji007 opened #22331 "How to know if one extension is not loaded correctly?"
**Related command**
`az alias xxx`

**Is your feature request related to a problem? Please describe.**
Sometimes I succeeded to install an extension. But the extension is not correctly loaded. Check the commands in my side. The install did not fail but when I run the command `az alias -h`, it shows an warning and fail to load it.
![image](https://user-images.githubusercontent.com/8327019/167538330

[2022-05-10 04:01] yonzhan commented on #22331
Extensions

[2022-05-10 04:03] RakeshMohanMSFT commented on #22314
@kvakulo Thank you for reaching out, we are looking into it

[2022-05-10 04:10] navba-MSFT commented on #22224
@rfsonders Please follow the action plan mentioned above to update the arcdata extension. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-10 04:10] #22224 closed

[2022-05-10 04:16] sapalan opened #22332 "Cannot create Windows Container on ASEV3"
**Related command**
"az appservice plan create --name "WindowsASEContainer" --resource-group sapalan --app-service-environment spASEVEILB --hyper-v --sku I2"

**Describe the bug**
Attempting to create Windows Container App Service Plan under "ASE" v3.
However the command fails with error "Windows containers is not yet supported in app service environment"

From the source code, i could see that if

[2022-05-10 04:20] navba-MSFT commented on #22268
Thanks @jalauzon-msft .
As per your above suggestion, I have done the necessary changes and filed the above PR. Currently it is pending on review.

[2022-05-10 04:40] RDavis3000 commented on #22249
Yep you are correct, I must have been doing something else wrong!
Please close.

[2022-05-10 04:40] #22249 closed

[2022-05-10 04:49] yonzhan commented on #22332
route to CXP team

[2022-05-10 06:06] Icybiubiubiu commented on #11458
Dear Team~
More and more services were impacted by this az ad sp issue. Like SP based AKS, if the credential is expired, customer need to reset SP suggested by this Doc:
https://docs.microsoft.com/en-us/azure/aks/update-credentials#update-aks-cluster-with-new-service-principal-credentials

then the result is to reset app credential instead of sp's credential.

Please help to fix this az ad sp issu

[2022-05-10 06:11] #22236 closed

[2022-05-10 06:28] ausfestivus commented on #22328
Okay, I think I know whats happening here.

`az ad user list --filter "startswith(userPrincipalName, 'user1@dev.acme.com.au') or startswith(userPrincipalName, 'user2@dev.acme.com.au') or startswith(userPrincipalName, 'user3@dev.acme.com.au')" --query '[].id -o tsv`

I see the expected result. Seems like this is a result of a different key name in the response. With AAD Graph the return is named 'o

[2022-05-10 06:38] sirfamelin opened #22338 "Update VMSS instances with updated VMSS model for Trusted Launch features"
**Related command**
az vmss create
az vmss update-instances

**Is your feature request related to a problem? Please describe.**
After including the [Guest Attestation by default feature](https://github.com/Azure/azure-cli/issues/21395) in the latest version, I discovered a miss from the original request specification. For the VMSS scenario, the current behavior is that the VMSS model reflects the

[2022-05-10 06:40] sirfamelin commented on #21395
@zhoxing-ms, I raised a new issue here: https://github.com/Azure/azure-cli/issues/22338

FYI @akashgupta29 in case Xing Zhou has more questions while I am OOF.

[2022-05-10 08:10] deyvsh commented on #7387
Appreciate the work going on to slim down the install! In case it's of interest, our use case is to run it inside AWS CloudShell, which has a home dir (the only writable bit) size limit of 1GB, and we only need enough of the CLI to support `az login`.

[2022-05-10 08:39] YuanyuanNi commented on #22265
Hi：
  @810713 “ az network nic ip-config update -g XX --nic-name XX -n XX --lb-name  XX --lb-address-pools bap1 bap2 " works well at my side as below picture and my CLI version is 2.35.0.  Notice that the resource name you used in this command all need to be created first.
![image](https://user-images.githubusercontent.com/95396631/167586343-0b1c09f4-0bbf-4382-8485-0e375f18ab5b.png)
Best wishes.

[2022-05-10 09:00] DexterPOSH commented on #16138
Another day wasted for me as well.

[2022-05-10 09:01] antonGritsenko commented on #20231
I was able to catch this after local user password reset. Deletion of the .azure solve it.

[2022-05-10 09:16] navba-MSFT commented on #21956
@moleiskingd  Apologies for the late reply. I tried to do a quick repro and I was able to run the same command just fine.

see below:
[code]
I am using AzCLI 2.35.0 version and storage-blob-preview extension 0.6.1 version.

Also note that The Blob Index tag feature is supported Only on general-purpose v2 accounts. Premium block blob, legacy blob, and accounts with a hierarchical namespace enabled

[2022-05-10 09:33] jiasli commented on #11458
This is already changed in the beta version which uses Microsoft Graph. 😊 Please see https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-migration?tabs=powershell.

[2022-05-10 09:33] #11458 closed

[2022-05-10 09:34] yonzhan commented on #22338
Compute

[2022-05-10 09:35] necusjz commented on #22279
FYI. The logic has been changed from the service side:
- https://github.com/Azure/azure-cli/issues/22329#issuecomment-1122155395.

[2022-05-10 09:36] jiasli commented on #22328
Exactly. `objectId` from AD Graph has been replaced by `id` in Microsoft Graph. Please see https://docs.microsoft.com/en-us/graph/migrate-azure-ad-graph-property-differences#directoryobject-property-differences

[2022-05-10 09:38] #22328 closed

[2022-05-10 10:05] #21834 closed

[2022-05-10 10:39] machani opened #22341 "az login failed from command line"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --debug`

## Expected Behavior

## Environment Summary
[code]
## Addit

[2022-05-10 10:48] yonzhan commented on #22341
@jiasli for awareness

[2022-05-10 10:56] makowskip opened #22342 "Region mapping missing when using az backup restore restore-disks"
**Related command**
az backup restore restore-disks

**Describe the bug**
When trying to initiate a disk restore in secondary region below error occurs:

The command failed with an unexpected error. Here is the traceback:
'germanywestcentral'
Traceback (most recent call last):
  File "/opt/az/lib/python3.8/site-packages/knack/cli.py", line 231, in invoke
    cmd_result = self.invocation.execute(ar

[2022-05-10 10:58] machani commented on #22341
adding further:
I'm able to ping google dns:

C:\>ping 8.8.8.8

Pinging 8.8.8.8 with 32 bytes of data:
Reply from 8.8.8.8: bytes=32 time=7ms TTL=117
Reply from 8.8.8.8: bytes=32 time=7ms TTL=117
Reply from 8.8.8.8: bytes=32 time=8ms TTL=117
Reply from 8.8.8.8: bytes=32 time=7ms TTL=117

Ping statistics for 8.8.8.8:
    Packets: Sent = 4, Received = 4, Lost = 0 (0% loss),
Approximate round trip tim

[2022-05-10 11:11] yonzhan commented on #22342
route to CXP team

[2022-05-10 11:41] #22341 closed

[2022-05-10 11:55] tanviapte opened #22344 "az sf cluster durability update fails with: 'ClustersOperations' object has no attribute 'update' error"
I am trying to update the DurabilityLevel for one of our prod serviceFabric clusters using the commandlet
az sf cluster durability update

but it fails with the following error:

The command failed with an unexpected error. Here is the traceback:
'ClustersOperations' object has no attribute 'update'
Traceback (most recent call last):
  File "D:\a\1\s\build_scripts\windows\artifacts\cli\Lib\site-pa

[2022-05-10 11:59] yonzhan commented on #22344
route to CXP team

[2022-05-10 12:06] alfeilex opened #22345 "Cannot install azure cli on macOS via script - virtualenv error"
**Related command**
`curl -L https://aka.ms/InstallAzureCli | bash`

**Describe the bug**
To install Azure CLI on MacOS, I would like to use a bash script and not a package manager like homebrew as recommend in the Azure CLI Docs. I have used the following instructions to setup Azure CLI via script.
[Installation with Script ](https://docs.microsoft.com/de-de/cli/azure/install-azure-cli-linux?pivo

[2022-05-10 12:06] PramodValavala-MSFT commented on #22332
@sapalan Thanks for the feedback! We will review and get back to you.

[2022-05-10 12:10] navba-MSFT commented on #21148
@p-freire Apologies for the late reply. The error message is pointing to the connection reset, which would typically point to the network level socket termination. Could you please let us know if you are still facing the same issue ? If yes, Could you please try the same operation[ from cloud shell ](https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#code-try-11) from a

[2022-05-10 12:10] navba-MSFT commented on #20073
@stevecox86421 Apologies for the late reply. The error message is pointing to the connection reset, which would typically point to the network level socket termination. Could you please let us know if you are still facing the same issue ? If yes, Could you please try the same operation[ from cloud shell ](https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#code-try-11) fr

[2022-05-10 12:40] zhusulai commented on #22054
I'm not able to reproduce this issue in another environment. The initial error is likely related to the Corp firewall. Thanks for looking into the issue.

[2022-05-10 12:40] #22054 closed

[2022-05-10 12:47] jiasli commented on #22341
`Tunnel connection failed: 403 Forbidden` indicate the proxy is not properly authenticated. Please make sure you are using the correct login credential for your proxy.

[2022-05-10 13:01] VNoveski opened #22346 "az devops security group membership list - Returns dictionary instead of JSON array"
When running following command
[code]
result is returned like
[code]
Am I wrongly expecting result to be JSON array? Thanks.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 3724db0b-ba6d-0ea6-be45-656a44d6b4dd
* Version Independent ID: 6fe9ab83-4f17-8021-ff21-a1196f510c6b
* Content: [az devops security group membership]

[2022-05-10 13:02] paolosalvatori commented on #21678
Hi all

I'm experiecing the same issue deploying Azure Bastion to West Europe using Bicep. The Bastion Hots gets created in a failed state with the following error message:

The resource operation completed with terminal provisioning state 'Failed'. GatewayAllocationFailed. Compute allocation failed. Please retry later.

Here is my bicep code which looks correct to me:

[code]

Thoughts?

[2022-05-10 14:05] StevenTCramer commented on #22306
Sure.
[code]

[2022-05-10 14:14] RakeshMohanMSFT commented on #18878
@AlexEnfoMMX Please let us know if you have any follow up question before we mark this for closure.

[2022-05-10 14:28] RakeshMohanMSFT commented on #22296
@tsubakimoto I am really not sure what is causing the issue, I have seen similar issue in the past due to appservice-kube extension   can you please upgrade it once and check if that helps?

[2022-05-10 14:46] willieowens commented on #22323
Thanks, unfortunately I've tried to use `fs` as well (forgot to mention), with the same issue.

In your test above, are you pointing at an Azure Storage `container` explicitly, or a file share?

I have tried the `az storage fs` commands on both a container that has `Container` and one that has `Blob` level access, both give the same error when specifying a directory that exists. Similar to the ori

[2022-05-10 14:48] yonzhan commented on #22345
@jiasli for awareness

[2022-05-10 14:49] yonzhan commented on #22346
route to CXP team

[2022-05-10 14:53] jonie001 commented on #22250
Hi, @RDavis3000
When I assign UUID to key = value pairs, the JSON format can be output correctly. Can you provide more information about the command？
![image](https://user-images.githubusercontent.com/99947323/167656670-ab2f2aed-59e1-4b7c-a2b8-e6409c1cd529.png)

[2022-05-10 16:16] Drewm3 commented on #12272
Closing out old feature requests that have no engagement in last 12 months.

[2022-05-10 16:34] muralikrishnarokkam opened #22348 "Az Login Issue: [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1125)"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1125)

[SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1125)

[code]
Windows-10-10.0.19041-SP0
Python 3.

[2022-05-10 17:25] SatishBoddu-MSFT commented on #22346
@VNoveski
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-10 17:51] panchagnula commented on #22332
//CC: @seligj95 / @StrawnSC

[2022-05-10 18:47] laurawu19 opened #22350 "Add "federatedClientId" and UserAssignedIdentities for disk api version 2022-03-02 for public preview"
**Related command**
az disk-encryption-set create --federatedClientId "13ebe945-1314-41b4-8b58-f3784e0dd278" --identityType "UserAssigned" --userAssignedIdentities "{ /subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName} :{}}"

az disk-encryption-set update --federatedClientId "13ebe945-1314-41b4-8b58-f3784e0dd2

[2022-05-10 19:14] bgfast opened #22351 "Provide a link to the PowerShell command that performs the same actions."
It would be helpful to have a direct link to the PowerShell command that performs the same actions. Another option is the ability to quickly switch between CLI and Powershell from a menu option or dropdown on the page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c910113e-ccf1-6c81-400c-40d2e00c09d7
* Version Indepen

[2022-05-10 21:35] johnrsierra commented on #22279
Same behavior here. We are using API Fluent to create/modify settings on AppGW. On 1.38.1 (latest) we haven't seen any option to set priority on Rules.

[2022-05-10 22:06] anthony-gregg opened #22352 "Auto-Update does not work with Azure DevOps"
**Related command**

az config set auto-upgrade.enable=yes
az config set auto-upgrade.prompt=no=yes

**Describe the bug**

When there is a new version to update to for Azure CLI, it will not auto-update and when Azure DevOps kicks off a pipeline, it will not complete the Azure CLI step in the pipeline until the Update has taken place, which it never will. It just sits there waiting for user intera

[2022-05-10 22:17] rfcdejong opened #22353 "az aks check-acr error, AKS cannot pull image from container registry anymore"
Our managed AKS cluster is unable to pull a new image from our container registry. I have tried everything listed in https://docs.microsoft.com/en-us/troubleshoot/azure/azure-kubernetes/cannot-pull-image-from-acr-to-aks-cluster without success. Checking if the cluster can connect to the registry gives this error.

**Command Name**
`az aks check-acr`

**Errors:**
[code]

## To Reproduce:
Steps to r

[2022-05-10 22:42] yonzhan commented on #22348
@jiasli for awareness

[2022-05-10 22:43] yonzhan commented on #22350
Compute

[2022-05-10 22:44] yonzhan commented on #22351
route to CXP team

[2022-05-10 22:46] yonzhan commented on #22352
route to CXP team

[2022-05-10 22:48] yonzhan commented on #22353
route to CXP team

[2022-05-10 23:05] scott-cuna commented on #18151
We're also running into this issue after upgrading the CLI from 2.11.1 to 2.36.0.

If I'm not mistaken, the method it's trying to call ([restore_slot](https://github.com/Azure/azure-cli/blob/c2bffb8bef23728919fe8a315ef7553b103ec393/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L2106)) doesn't exist according to the [documentation](https://docs.microsoft.com/en-us/python/api/azure-mg

[2022-05-11 00:21] italukder commented on #20848
Subject:1 global international cybet setting  master  board
Cyber=.cyber
2. Global international serve setting  master  board
Server=. server
3. global international online setting  master board
Online= online
4. globa international networking setting  master board
Networking   =.net

[2022-05-11 00:50] italukder commented on #20848
Subject : global international all sports club business trust bord

[2022-05-11 00:53] italukder commented on #20848
Subject: global international industy business trust board

[2022-05-11 00:56] jiasli commented on #22348
This is because your traffic is intercepted by a proxy. I believe the error recommendation printed to the terminal is pretty clear:

[2022-05-11 02:44] andyzhangx opened #22354 "[AKS]add "--hostname" parameter into "az aks acr-check""
**Related command**

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

I think we need to improve "az aks acr-check" to make it run on specific node, add `--hostname` parameter into "az aks acr-check", if `--hostname` parameter is not provided, then keep original logic: make canipull pod run on any node.

follow example here: https://github.c

[2022-05-11 02:46] andyzhangx commented on #22353
@rfcdejong could you try this demo, it could run canipull pod on specific node, that could help troubleshoot the issue: https://github.com/andyzhangx/demo/blob/master/aks/canipull/canipull.yaml

actually my `az aks check-acr` works with below version:
[code]

[2022-05-11 02:49] necusjz commented on #22279
It might be related to the deployment strategy, as you known, East US 2 is one of the canary regions. Let's wait for the service team to jump in and provide us more information. : )

[2022-05-11 03:30] yonzhan commented on #22354
route to CXP team

[2022-05-11 03:34] italukder commented on #20848
Internet news tv

soudi Arabia

[2022-05-11 03:41] evelyn-ys commented on #22323
If you want to get metadata for a directory from file share, you should use `az storage directory metadata show`.

`az storage fs directory metadata show` is used for blobs which have enabled hierarchical namespace in ADLS Gen2 storage account.

[2022-05-11 03:45] #22268 closed

[2022-05-11 04:00] navba-MSFT commented on #22281
@dozer75 I have got an update from the Product group that this is not a CLI issue. The CLI doesn't consider dotnet-isolated a valid function app runtime since the API has the isHidden parameter set to true for that runtime.

To avoid the confusion, we will be updating this documentation : https://github.com/Azure/azure-functions-dotnet-worker#create-the-azure-resources

Also you can use the AzCLI

[2022-05-11 05:31] jiasli opened #22355 "Aligned design across client tools to avoid inconsistent for Microsoft Graph"
## Discussion: whether to preserve deprecated AD Graph parameter names

There has been an internal discussion recently about whether we should **preserve deprecated AD Graph parameter names**.

### Azure PowerShell's solution: Keep AD Graph parameter names

For Azure PowerShell, after the Microsoft Graph migration, it uses

- **deprecated AD Graph parameter names as official names**
- **new Micros

[2022-05-11 05:38] RakeshMohanMSFT commented on #22342
@makowskip Thank you for reaching out, we are looking into it.

[2022-05-11 05:38] nolram16 commented on #20875
I bumped into the same situation. Tried the suggestion here and it works. However, I'm trying to convert the ps script into a bash script but I can't seem to figure it out. The equivalent of Powershell's ampersand in bash is a semi-colon, right? but still can't get the right syntax. Can somebody help?

[2022-05-11 06:06] navba-MSFT commented on #22306
@StevenTCramer It seems like some of the pip files are missing in your environment. Please try the below action plan for now:

Delete C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2
[Install the latest Azure CLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli) from scratch

Refer https://github.com/Azure/azure-cli/issues/20990

Awaiting your reply.

[2022-05-11 06:29] yonzhan commented on #22355
Microsoft Graph solution

[2022-05-11 06:33] RakeshMohanMSFT commented on #22314
@kvakulo Can you please let us know when the above correlationid generated, i mean the datetime for us to narrow down our search.

[2022-05-11 06:35] italukder commented on #20848
Subject : international see transport business trust board

[2022-05-11 06:40] italukder commented on #20848
Subject : global  international railway business trust board

[2022-05-11 06:44] italukder commented on #20848
Subject : global international high way business trust board

[2022-05-11 06:51] italukder commented on #20848
Subject : global international world history trust board

example
1. Humans honorable history man
2. locational history
3. animals and tree history
4.

[2022-05-11 07:00] kvakulo commented on #22314
@RakeshMohanMSFT

Thanks for your reply.

The timestamp seems to be part of the error message: `timestamp '20220509T102450Z'` 😄

Here are a few more errors from the same template:
[code]

[2022-05-11 07:10] RakeshMohanMSFT commented on #22314
@kvakulo Missed the timestamp earlier, let me look into it further.

[2022-05-11 07:12] mattiasholm commented on #22314
I'm experiencing the same issue, both with Azure CLI and pwsh Az module... 👎

ERROR: InternalServerError - Encountered internal server error while processing the deployment what-if request. Diagnostic information: timestamp '20220511T062037Z', scope '/subscriptions/<subscriptionId>', tracking id 'a9d0c66e-7ade-4d35-aaec-c8fe70844b70', request correlation id 'fc98d582-d438-464d-aa58-f2cf053395b6'.

[2022-05-11 07:16] StevenTCramer commented on #22306
[code]
Thanks :)

[2022-05-11 07:16] #22306 closed

[2022-05-11 07:21] linusryl commented on #22314
@RakeshMohanMSFT, we are experiencing the same issue running the "az deployment sub what-if" command. The error seems somewhat random. We are running the what-if on three different environments (test, stage, prod) in the same pipeline. Two days ago it worked for all environments but yesterday it failed on different stages of the run, with no changes to the code. Usually on the first (test) stage b

[2022-05-11 08:00] #21978 closed

[2022-05-11 08:08] andyzhangx commented on #22353
what's your `kubectl version -o json` output? could you use 1.21 kubectl binary?
[code]

[2022-05-11 08:09] andyzhangx commented on #22353
you could download kubectl here: http://mirror.azure.cn/kubernetes/kubectl/v1.21.7/bin/linux/amd64/

[2022-05-11 08:15] italukder commented on #20848
Most important : my all site and my all property. End my life time. My property nominated authorities in Saudi Arabia King Salman bin Abduaziz and all Prince families

thank you
my signed
Md. Abdul Alim talukder
from : Village Garamashi ( boshundhara )
Police station. Belkuchi.
 District  sirajgonj in Bangladesh

[2022-05-11 08:27] rfcdejong commented on #22353
I don't mind about that aks check-acr not working.

We believe we have found the error, it is the container being build on windows-2022 and not on 2019
This could be the fix

![image](https://user-images.githubusercontent.com/2665653/167804318-a48740bc-7b70-4b07-bbb3-f1d27ee856c8.png)

[2022-05-11 08:29] chribsen commented on #20980
Why is passing the length necessary? When working with streams, you might not know the size of the blob in advance.

[2022-05-11 08:34] rfcdejong commented on #22353
The issue why i wanted to use check-acr in the first place.
canipull pod works fine

Our container image was build with windows 2022 which is probl the reason we cannot pull it from AKS

The aks check-acr doesn't work from the azure shell, didn't even try it locally

[2022-05-11 08:55] torivara commented on #21678
I am seeing the same, but this is a closed issue. Maybe someone can create a new issue if this problem has resurfaced, @paolosalvatori ?

[2022-05-11 08:57] FumingZhang commented on #22354
See PR [#22358](https://github.com/Azure/azure-cli/pull/22358).

[2022-05-11 08:58] cxznmhdcxz commented on #22158
@fitzgeraldsteele Would NSG and publicIP be no longer used after the deleting a VM? If so, should we make it a default behaviour to also delete NSG and publicIP when deleting VM, or add an argument when creating a vm as option to detach/delete when deleting the VM?

[2022-05-11 09:22] navba-MSFT commented on #22344
@tanviapte Thanks for reaching out to us and sharing this feedback. I am looking into this issue. I will update this thread once I have more details on this.

[2022-05-11 09:22] navba-MSFT commented on #22315
@ptsapralis Thanks for reaching out to us and sharing this feedback. I am looking into this issue. I will update this thread once I have more details on this.

[2022-05-11 09:28] alexeyshishkin01 commented on #22248
here we are:

- sample Dockerfile :

root@Alexey-HP:~/temp/docker# cat Dockerfile
FROM arm64v8/debian:10-slim AS build

ARG TEST_VERSION

ENV DEBIAN_FRONTEND=noninteractive

RUN apt-get -qq update -y \
&& apt-get -qq upgrade -y \
&& apt-get -qq install -y --no-install-recommends apt-utils

FROM scratch AS run

ARG TEST_VERSION
ENV TEST_VERSION=${TEST_VERSION}

COPY --from=build / /

USER root

roo

[2022-05-11 09:52] asos-callumdaw commented on #21678
Are you seeing this in west europe? Seem to be having lots of troubles at the moment, north europe worked ok for me

[2022-05-11 09:55] paolosalvatori commented on #21678
Yes, I had issues in West Europe, North Europe, and France Central. It worked for example in Switzerland North. I'm just testing a Bicep, so any region is fine now.

[2022-05-11 09:57] bebound commented on #22345
I can reproduce this, seems like a compatibility problem of `virtualenv` in macOS. Failed to create virtual env using system python `/Library/Developer/CommandLineTools/usr/bin/python3` and brew Python `/opt/homebrew/opt/python@3.9/bin/python3.9`.

Can we replace `virtualenv` with `venv`? @jiasli

[2022-05-11 10:06] torivara commented on #21678
I experienced this in West Europe.

[2022-05-11 10:07] jdevillard commented on #21678
same for me in West Europe using Portal.

[2022-05-11 10:31] tsubakimoto commented on #22296
# Before upgrade
[code]

# Upgrade
[code]

---

@RakeshMohanMSFT I could not upgrade Azure CLI. Shoud I help to Azure Support?

[2022-05-11 10:32] navba-MSFT commented on #22344
@tanviapte I am able to reproduce this issue at my end. I have reached out to the Product Owners with my findings. I will get back to you as soon as I hear from them.

[2022-05-11 10:32] navba-MSFT commented on #22315
@ptsapralis I am able to reproduce this issue at my end. I have reached out to the Product Owners with my findings. I will get back to you as soon as I hear from them.

[2022-05-11 10:46] RakeshMohanMSFT commented on #22296
@tsubakimoto Apologies for not being clear earlier, I meant appservice-kube extension upgrade.

You can use these commands
[code]

[2022-05-11 10:52] ptsapralis commented on #22315
@***@***.***>, thank you very much for this update – looking forward to hearing from Product Owners.

Regards,
Panos Tsapralis
Head of Networks
(M) 07507477883
(direct) 442082755505
4 Imperial Place, Maxwell Road, Borehamwood, Hertfordshire, WD6 1JN
***@***.******@***.***>

[signature_1068431720]   [signature_38683042]     ***@***.***

From: navba-MSFT ***@***.***>
Date: Wednesday, 11 May 2022 at

[2022-05-11 11:02] JohnLudlow opened #22360 "Failing to deploy microsoft.insights/scheduledqueryrules log alert"
**Related command**

    az deployment group create

**Describe the bug**

With a template (attached) that looks correct according to the [docs](https://docs.microsoft.com/en-us/azure/templates/microsoft.insights/scheduledqueryrules?tabs=json), we get this error:

    {
        "status": "Failed",
        "error": {
            "code": "DeploymentFailed",
            "message":"At least one resour

[2022-05-11 11:14] yonzhan commented on #22360
ARM

[2022-05-11 11:18] RakeshMohanMSFT commented on #22314
@linusryl @mattiasholm @kvakulo Can you guys please file a a support ticket? This issue is not from the azure cli but emerging from the backend. Therefore it would help if you file a support ticket to troubleshoot this issue further.

[2022-05-11 13:30] willieowens commented on #22323
So are the docs... wrong? I have storage account containers in blob storage, I'm not using filesystem or data lakes.

![image](https://user-images.githubusercontent.com/1161333/167861795-10178fb2-5b30-44c5-9d3b-f8e1e866f8fe.png)

[2022-05-11 13:38] dan-dimitrov opened #22362 "No permission clarification for `az ad` commands"
Can we provide some clarity on what permissions are required to successfully run these commands.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 57b0bbf2-3dca-90b2-1734-a38e78104b41
* Version Independent ID: 39842113-e499-d863-0f61-795089d844d9
* Content: [az ad user](https://docs.microsoft.com/en-us/cli/azure/ad/user?v

[2022-05-11 14:12] prateek-narula commented on #21678
We are planning to write one, but the issue is we do not have a definite pattern to identify what actually caused it. As Ii said it occurs and gets resolved after few hours and it is always like this. So I had been facing it from last 5 hours and now the issue no longer persist. Right now I'm collecting more information about the instances of when it occurs.

[2022-05-11 14:32] yonzhan commented on #22362
@jiasli for awareness

[2022-05-11 14:59] dbradish-microsoft commented on #22351
@yonzhan / @PramodValavala-MSFT , this request has been added to work item [327968](https://ceapex.visualstudio.com/Engineering/_queries/edit/327968/?triage=true) and I'll discuss it with @mikefrobbins, the Azure PowerShell doc's lead.

[2022-05-11 15:08] mbrightcpacket commented on #22245
The bespoke output format and 4K limit definitely make this difficult to use.

[2022-05-11 17:16] fitzgeraldsteele commented on #22158
I think we'll need @Ankit ***@***.***> to weigh in on this one. Not sure what his Github username is

From: RuiJun Hu (MSFT) ***@***.***>
Sent: Wednesday, May 11, 2022 1:59 AM
To: Azure/azure-cli ***@***.***>
Cc: Jerry Steele ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] `az vm delete` does not delete IP/NSG together with nic when using `--nic-delete-option delete` (Issue #2215

[2022-05-11 17:31] jackcoleman-iex commented on #14656
Any updated on this? Still running into this issue in WSL2

[2022-05-11 18:51] bitdeft commented on #22245
It would be great to have the output sans DSL. Right now you need to use things like sed to format it:
`sed -e 's/\[stderr\]\\n"//g' -e 's/"Enable succeeded: \\n\[stdout]\\n//g' \` ... etc

[2022-05-11 19:01] harrchen88 commented on #19850
I got the exact same error when running with what-if but fine without it.  Weird thing is this only happens in one subscription but not in the other.  The error is below.  My az cli version is 2.32.0 and bicep version is 0.4.1318.
InternalServerError - Encountered internal server error while processing the deployment what-if request. Diagnostic information: timestamp '20220511T184620Z', scope '/su

[2022-05-11 19:27] shenglol commented on #19850
@harrchen88 Could you share your Bicep template?

[2022-05-11 19:50] elshat128 opened #22366 "az command for adding a new Private Link configuration and associate it with an existing Frontend IP"
**Related command**
--- az network application-gateway private-link add --frontend-ip  --name  --subnet --gateway-name  --resource-group  ---

**Describe the bug**
--- For using existing subnet, If I put name of a existing subnet into '--subnet' argument, it won't start the operation, and return 'subnet duplicates' error msg, however, it will work, if I put subnet resource ID.

**To Reproduce**
--

[2022-05-11 22:31] yonzhan commented on #22366
Please provide detailed info in the description

[2022-05-12 00:39] evelyn-ys commented on #20980
@chribsen If you use the command directly from main CLI, `--length` is not needed any more. The bug has been fixed in main CLI.

[2022-05-12 00:47] evelyn-ys commented on #22323
For normal storage account, blob directory isn't real directory, it's just part of the blob name😅
Only ADLS Gen2 storage account has real directory. So `az storage blob directory` is designed for ADLS Gen2 container and blob. And it has been renamed to `az storage fs directory` now.

Sorry for any inconvenience😂

[2022-05-12 01:01] #20324 closed

[2022-05-12 01:03] elshat128 commented on #22366
updated. thx

[2022-05-12 03:13] jiasli commented on #22362
@dan-dimitrov, the permissions needed are not defined by Azure CLI. You may use `--debug` to see which API the command calls and add permissions according to AD Graph/Microsoft Graph documents:

- Microsoft Graph: https://docs.microsoft.com/en-us/graph/api/overview?view=graph-rest-1.0
- AD Graph: https://docs.microsoft.com/en-us/previous-versions/azure/ad/graph/api/api-catalog

[2022-05-12 03:14] necusjz commented on #22366
@elshat128, I have a concern here:
If a Subnet already exists in the VNet of this Application Gateway, why should we add it again? It doesn't seem like a valid usage.

[2022-05-12 03:17] jiasli commented on #14656
@jackcoleman-iex, this issue has long been solved. 😊

Could you share the error message you see and the `--debug` log?

[2022-05-12 03:18] bebound commented on #22345
@alfeilex This script is outdated, you can find the latest pip installation guide here: https://github.com/Azure/azure-cli/issues/20476.

[2022-05-12 06:53] dylanwa commented on #20434
For people who use WSL2 and Azure CLI, there is an active issue "WSL2 date incorrect after waking from sleep" for now
https://github.com/microsoft/WSL/issues/8204

You can verify if time matches with this command:

And this workaround works for me -
It set up a Windows scheduled task to update Ubuntu datetime when machine wake up from sleep.
https://github.com/microsoft/WSL/issues/4149?msclkid=319

[2022-05-12 06:58] nrjohnstone-omnia commented on #20565
This still happens, just ran into it today.. the fix is as @ashwinpagarkhed says, just remove the aks-preview ... Pretty painful that this is not fixed yet !

[2022-05-12 07:07] bantoni commented on #10039
I tried to execute commands using az ci exec on a newly created Azure Container Instance running mcr.microsoft.com/azuredocs/aci-helloworld:latest
It works if I've assigned a public IP address. **If I use a private IP it fails** with the mentioned error:
az container exec -g anb --name anbci --container-name anbci --exec-command "ls -la"
OCI runtime exec failed: exec failed: container_linux.go:380

[2022-05-12 07:35] navba-MSFT commented on #22344
@tanviapte The above PR has been filed to fix this issue. Currently @a-santamaria is working to activate the tests that runs through this code paths but it should be ready to be included on the next release [May 2022 (2022-05-24)](https://github.com/Azure/azure-cli/milestone/118).

Thanks @a-santamaria for your help.

[2022-05-12 07:36] navba-MSFT commented on #22315
@ptsapralis The above PR has been filed to fix this issue. Currently @a-santamaria is working to activate the tests that runs through this code paths but it should be ready to be included on the next release [May 2022 (2022-05-24)](https://github.com/Azure/azure-cli/milestone/118).

Thanks @a-santamaria for your help.

[2022-05-12 07:36] bijinbjames opened #22369 "I cannot login through the cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-05-12 08:00] #22096 closed

[2022-05-12 08:37] RakeshMohanMSFT commented on #22314
Thank you @kvakulo.

[2022-05-12 08:42] lbergnehr commented on #21678
We're trying to create azure bastion in west europe in our CI system regularly, and about 1 in 10 works. Very often it's the issue reported here.

[2022-05-12 09:19] linusryl commented on #22314
I created one as well with number 2205120050000786

[2022-05-12 10:09] #22342 closed

[2022-05-12 10:22] rytruong opened #22370 "Should not use CreateOption 'CopyStart' for full snapshot creation"
**Related command**
az snapshot create -g $resourceGroupName -n $snapshotName --source $yourDiskID

**Describe the bug**
If source disk is in different region, CLI will use CreateOption 'CopyStart', but 'CopyStart' is not supported for full snapshot.

**To Reproduce**
Create full snapshot in different region from the source disk

**Expected behavior**
-	For full snapshot use CreateOption Copy
-	Fo

[2022-05-12 10:40] yonzhan commented on #22370
Compute

[2022-05-12 10:53] yonzhan commented on #22369
@Jiasli for awareness

[2022-05-12 10:54] yonzhan commented on #22369
Duplicate of https://github.com/Azure/azure-cli/issues/20388

[2022-05-12 10:54] #22369 closed

[2022-05-12 11:02] alfeilex commented on #22345
@bebound Is there currently a way to install Azure CLI via bash script without package manager like pip or homebrew

[2022-05-12 11:05] sdebruyn commented on #21580
Could you update the documentation to clarify this?

[2022-05-12 11:05] jiasli commented on #22369
The error message is pretty clear:

[2022-05-12 11:28] toastedonion opened #22373 "`az aks command invoke` not waiting for command to complete"
**Related command**

`az aks command invoke --command "sleep 6000" --resource-group <my-rg> --name <my-aks-cluster>`

**Describe the bug**

The above command does not wait for command completion, but instead permaturely exits after approximately 5 minutes of polling for the current pod's status.

**To Reproduce**

1. Create a new AKS cluster
2. Run the above command (sleep for 10 minutes)
3. After

[2022-05-12 11:29] yonzhan commented on #22373
route to CXP team

[2022-05-12 11:42] elshat128 commented on #22366
so this command is to add new one or Use/specify existing one, As we know App GW subnet and Bastion subnet can't be used for Private link, so in the case a user have a subnet other than these two, and want to use it for private link, this is the use case.

[2022-05-12 11:48] toastedonion commented on #22373
After some digging, I guess this is related to the following line:

https://github.com/Azure/azure-cli/blob/d9775946cda2dcdde2190ed1e45107652eae2fa6/src/azure-cli/azure/cli/command_modules/acs/custom.py#L2602

[2022-05-12 12:03] evelyn-ys commented on #21580
This has already been documented in https://docs.microsoft.com/en-us/azure/storage/blobs/data-lake-storage-acl-cli#update-acls:

[2022-05-12 12:48] TahaBenseddik commented on #21678
I have the same issue for western europe region:
terminal provisioning state 'Failed'.\",\"details\":[{\"code\":\"GatewayAllocationFailed\",\"message\":\"Compute allocation failed. Please retry later.\",\"details\":[]}]}}",

[2022-05-12 13:27] SaurabhSharma-MSFT commented on #22256
@diberry We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-05-12 13:27] #22256 closed

[2022-05-12 13:28] SaurabhSharma-MSFT commented on #22243
Thanks @jiasli
@paratz We will now proceed to close this thread. If there are further questions regarding this matter, please reopen it and we will gladly continue the discussion.

[2022-05-12 13:39] jiasli commented on #22174
Can't run `cosmosdb` tests because there are hard-coded SPs:

https://github.com/Azure/azure-cli/blob/30216d0268f3491b8af2aa060d90a9e1f94f9b3c/src/azure-cli/azure/cli/command_modules/cosmosdb/tests/latest/test_cosmosdb_cassandrami_scenario.py#L125

[2022-05-12 13:41] artouolevi commented on #21678
One additional comment about Azure Bastion deployment failure. Same fail code: _GatewayAllocationFailed_ when trying to create Azure bastion to West europe region. Tested several times with: bicep template, ARM template and portal deployment. All fails. Bastion deployments to North Europe and France Central regions works and Azure VMs are accessible via those.

Even this thread is closed, hopefull

[2022-05-12 13:44] CosX opened #22374 "AKS - When allocating 21000 load-balancer-outbound-ports with node-count 3, throws error that refers to 4 nodes"
**Related command**
[code]

**Describe the bug**
We specify node-count 3 in the az cli. However the error message says "Total node count 4 requires 84000 ports" when I specified 3.

Message:
[code]

**Expected behavior**
I want to be able to create a cluster with 3 nodes, 1 outbound public IP and 21000 load-balancer-outbound-ports.

I'm able to set the property in the portal:
![image](https://user

[2022-05-12 14:16] datadot opened #22375 "az aks command invoke failing due to API call returning broken Location"
**Related command**

az aks command invoke

**Describe the bug**

When running az aks command invoke to run any command eg kubectl get pods -A, the API returns a malformed Location on a 202 response header without the subscription id, causing crash.

Actual invoked command is run on AKS cluster.

**To Reproduce**

az aks command invoke --resource-group <my-rg> --name <my-aks-cluster> --command 'ku

[2022-05-12 14:43] bobalong79 commented on #22375
Having same issue. Same command was working yesterday.

[2022-05-12 14:46] bobalong79 commented on #22373
Could be related to https://github.com/Azure/azure-cli/issues/22375

[2022-05-12 15:07] dingliu commented on #21003
@navba-MSFT Thank you for reminding.

I'm intentionally adding the `config` part to the definition of `azureKeyvaultSecretsProvider` to avoid this issue right now.

However, my understanding of this ticket is that there are two things caused this issue:

- When provisioning an AKS cluster `azureKeyvaultSecretsProvider` addon, the Azure Resource Manager backend won't populate the `config` part with

[2022-05-12 15:29] italukder commented on #20848
Subject : international  United  human right ( I U H R ) trust board

example
Introduction : all human right save earth, people,  tree animals, wather icepop, environment. E.t.c.everything workings

note human righi sate lower class money costing

( I U H R ) corridors platforms in saudi Arabia and one by one all human Rights separate and separate  flag discipline and decision. Every years assembl

[2022-05-12 15:30] jiasli commented on #22174
`acs`'s test `test_aks_create_default_service_without_skip_role_assignment` is sending the wrong `objectId`:

[code]

`objectIds` should be a GUID, instead of `identifierUri` `http://clitestjkfxa5dv5pmfbesmq`.

Using non-verified `identifierUri` has been forbidden long ago (https://github.com/Azure/azure-cli/issues/19892), but the tests are not re-run since then. It didn't fail before because VCRP

[2022-05-12 15:30] italukder commented on #20848
Subject : global international Refuses human rights bord

[2022-05-12 15:32] necusjz commented on #22366
@elshat128, for this case, we don't need to prepare a subnet in advance. We can create the subnet during [az network application-gateway private-link add](https://docs.microsoft.com/en-us/cli/azure/network/application-gateway/private-link?view=azure-cli-latest#az-network-application-gateway-private-link-add), i.e., it's a new *--subnet* at that moment.

[2022-05-12 15:50] elshat128 commented on #22366
@necusjz what if user just happened to have a subnet handy which wasn't prepared in advance for this private link, and now they want to use this subnet, in this case during the command, users are potentially forced to create a new subnet, aren't they?

[2022-05-12 16:03] ptsapralis commented on #22315
@navba-MSFT / @a-santamaria : thank you both very much for this update and for your assistance.

[2022-05-12 16:38] jiasli commented on #22174
I am not able to re-run `sql` test ``test_sql_mi_tdebyok`:

[code]

[2022-05-12 16:50] petetnt opened #22376 "Cannot set --client-secret or --client-secret-setting-name to empty via az-cli"
**Related command**
[code]

**Describe the bug**
The Azure API cannot set `client-secret` or `client-secret-service-name` if one of those are already set, as seen in

[code]

Running the following command:

[code]

Results in

[code]

Despite client-secret-setting-name being an empty string "".

This also fails the other way around. Additionally when using the `auth-classic` command for v1 setting

[2022-05-12 17:45] ammarasmro opened #22377 "az login interactive goes to a localhost link that can't be reached"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
Chrome returning:
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code

[2022-05-12 17:48] Drewm3 commented on #20769
@abatishchev, it is debatable if what the portal is doing is really "correct". The portal does the same thing for a VM that is behind a load balancer where it has something that says "Public IP address" on the VM, but then proceeds to show the public IP address of the load balancer instead of the public IP address specific to the VM. In my opinion the appropriate thing to show as the public IP add

[2022-05-12 17:48] #20769 closed

[2022-05-12 17:53] mpouleijn commented on #21247
Same issue here running the mcr.microsoft.com/azure-cli:latest container on rancher desktop

[2022-05-12 18:07] lebaro-msft commented on #22219
Is there any update here? I can connect internally to someone as well?

[2022-05-12 18:49] trevor-primer opened #22383 "az aks command fails when creating kubeconfig of file name is same as an existing directory"
**Related command**
`az aks get-credentials --name "${AKS_CLUSTER}" \
        --resource-group "${RESOURCE_GROUP}" \
        --admin \
        --file "$GITHUB_WORKSPACE"/config`

**Describe the bug**
When a folder exists with same name as file being created with kubeconfig it errors with `IsADirectoryError: [Errno 21] Is a directory: `

**To Reproduce**
- Create folder called config
- run az aks l

[2022-05-12 19:06] kevinnesta commented on #22375
Same issue here. Blocking all our CI/CD

[2022-05-12 19:16] harrisonsp commented on #22375
We are seeing this too.

[2022-05-12 22:03] bd-g opened #22420 "Unexpected Python failure when uploading to Azure Blob Storage"
## Describe the bug

I recently updated to version 2.36.0 and tried uploading a simple text file to blob storage using a blob url. There is a deeply nested python error that doesn't give any helpful information as to whether it is an error on my end or something internal. Posting here before diving into the code to try and figure out what is wrong.

**Command Name**
`az storage blob upload`

**Err

[2022-05-12 22:04] fitzgeraldsteele opened #22421 "Remove az provider register warning"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
The warning that you have to run az provider register is no longer needed. ARM now automatically propogates those changes

PS C:\Users\fisteele> az feature register --namespace microsoft.compute -n AutomaticRepairsWithConfigurableRepairActions
**Once the feature 'AutomaticRepairsWithConfigurableRepairActions' i

[2022-05-12 22:05] bd-g commented on #22420
Found the problem in #22079 - needs to be a blob url, not a container url (which is the one autogenerated when you create a sas token). Need to add another parameter to the url to specify the blob to upload

[2022-05-12 22:06] #22420 closed

[2022-05-12 23:02] michaelhambe opened #22422 "List all endpoints command requires the ID of a specific endpoint."
Hi,

The documentation for “az network private-endpoint-connection list” states that this command will "List all private endpoint connections".

However, the command requires an "--id" parameter and only returns the connection details referenced by the id.

This seems incorrect as the command should return a list of all endpoints (perhaps limited by resource group).

Thanks
Mike

---
#### Document

[2022-05-12 23:56] yonzhan commented on #22374
route to CXP team

[2022-05-12 23:58] yonzhan commented on #22375
route to CXP team to help with

[2022-05-13 00:09] yonzhan commented on #22376
route to CXP team

[2022-05-13 00:11] yonzhan commented on #22377
@jiasli for awareness

[2022-05-13 00:14] yonzhan commented on #22383
route to CXP team

[2022-05-13 00:19] yonzhan commented on #22421
@zhoxing-ms  for awareness

[2022-05-13 00:20] yonzhan commented on #22422
network

[2022-05-13 02:14] bebound commented on #22345
I don't think there is a simpler way to do so on macOS.

[2022-05-13 02:48] necusjz commented on #22366
@elshat128, so true, but such design also avoids the problem of subnet reuse.

[2022-05-13 03:00] kangsun-ctrl opened #22424 "update "az sig image-version create --managed-image" for different source"
**Related command**

az sig image-version

**Resource Provider**

Az.Compute

**Description of Feature or Work Requested**
Currently when we create sig image from vm/another sig, users need to use "--managed-image" command and that's not precise, user should not use "--managed-image" for any other source except managed image. So we need to update the command and doc: https://docs.microsoft.com/en-

[2022-05-13 03:05] ammarasmro commented on #22377
For reference, a workaround that I used

[code]
Then loading the workspace says something about falling back to CLI credentials and avoids the interactive window

More context: I tried 3-4 different versions of azureml-sdk and tried different conda envs (including the one provided by azure, still same thing). Updated VSCode, restarted computer and VM, still not working. Today I had a coworker who

[2022-05-13 03:12] yonzhan commented on #22424
Compute

[2022-05-13 03:13] kangsun-ctrl opened #22425 "Support Put disk for Community Gallery and Shared Gallery"
**Related command**

az disk create -g MyResourceGroup -n MyDisk --gallery-image-reference

**Resource Provider**

Az.Compute

**Description of Feature or Work Requested**

Currently users can create a disk from gallery image version by:
az disk create -g MyResourceGroup -n MyDisk --gallery-image-reference /subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/myRG/providers/Microsoft.

[2022-05-13 03:18] yonzhan commented on #22425
Compute

[2022-05-13 03:43] zhoxing-ms commented on #22101
@Drewm3 Could you please provide the specific design for related CLI commands and parameters?
And may I ask what's the ETA for this requirement?

[2022-05-13 03:44] navba-MSFT commented on #22315
@ptsapralis While the PR is under review, In the meantime if you have any questions, please feel free to ask here.

[2022-05-13 03:45] navba-MSFT commented on #22344
@tanviapte While the PR is under review, In the meantime if you have any questions, please feel free to ask here.

[2022-05-13 04:22] navba-MSFT commented on #22321
@crowne You shouldn't embed unresolved environment variables in your $KUBECONFIG, which is what it looks like you've done. %foo% is effectively proprietary to cmd.exe, it isn't a special notation for most apps (even PowerShell handles environment variables with $env:<whatever>, e.g.) -- you'll need to pre-expand your $USERPROFILE and set $KUBECONFIG to a resolved path, and I suspect that will work

[2022-05-13 05:10] jiasli commented on #22377
This is more of a local configuration issue and could be similar to https://github.com/Azure/azure-cli/issues/10426

Is your browser trying to reach `localhost` on `HTTPS`? Or do you have any config/firewall/hosts that blocks `localhost`?

[2022-05-13 05:27] jiasli commented on #22174
Now we only have these tests that can't be run, as explained in the issue description:

[code]

[2022-05-13 05:33] Drewm3 commented on #22101
I believe the functionality is available in the REST API now. The input is a list of VM SKUs. This list is optional.

I didn't open this originally, so I am unsure if there are specific customers who need this sooner rather than later. I would suggest adding it when it is convenient for the CLI team.

[2022-05-13 06:25] YuanyuanNi commented on #22233
Hi ：
     @Totoman， It works well at myside as below picture and my CLI version is 2.35.0, maybe you should update your CLI version  and try again ,notice that the network is well, the command I used as below:
![image](https://user-images.githubusercontent.com/95396631/168223585-61a28820-b616-4b81-8b9b-38644edfaa74.png)
Best wishes.

[2022-05-13 06:29] dozer75 commented on #22281
@navba-MSFT Thanks for answer. Why is it hidden? What does that mean?

Additionally; unfortunately, there are other issues as well with Azure Function App and dotnet-isolated (see Azure/azure-functions-host#8367) so it is even with 2.34.0 the dotnet-isolated resource fails to be created most of the time which makes it impossible to work with. (I have tried to get in contact with the Azure Function

[2022-05-13 07:06] navba-MSFT commented on #22281
@dozer75 Hidden as in, Its not exposed through the API. This is the same API that the portal uses – note that the portal does not have an option to create a dotnet-isolated function app. So as of now, the ONLY workaround is to use AzCLI 2.34.0. I have tested it and it does work. If you are using that version and still face the same issue that can be troubleshooted differently. I have also created

[2022-05-13 07:45] zale1983 opened #22428 "az storage entity query function error on fedora 36"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage entity query`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage entity query --help`

## Expected Behavior

## Enviro

[2022-05-13 07:53] zale1983 opened #22429 "az storage entity query function error if query result contains guid column"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage entity query`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage entity query --table-name {} --connection-string {}`

[2022-05-13 08:00] #20685 closed

[2022-05-13 08:00] #19359 closed

[2022-05-13 09:14] JohnLudlow commented on #22360
Hi @yonzhan,

Are you saying we need to raise this somewhere else? I believe the same behaviour is observed with the PowerShell cmdlets, so it's certainly reasonable this needs to be moved to a different repo. If you could point us in the right direction, that would be great.

Thanks

[2022-05-13 09:22] ainoelina opened #22430 "az deployment sub create error 'Object of type is not JSON serializable'"
**Related command**

deployment sub create --name {} --location {} --template-file {} --parameters {} {} --no-wait

**Describe the bug**
I have an Azure Functionapp that runs python code where I call az cli with above command. The function works locally, but when I run it in Functionapp, I get an error message saying 'Object of type JsonCTemplate is not JSON serializable'.

[code]

**Expected beha

[2022-05-13 09:43] bigglesuk69 commented on #21256
I'm getting the same issue but on a later version of Azure CLI. Clean deployment is fine, but any further deployment errors that the NSG rule is missing the required App GW rule, but it's there. I'm running CLI version 2.36.0 and Bicep 0.6.11

[2022-05-13 09:46] TahaBenseddik opened #22433 "Azure Bastion Deployment fails in westeurope region: Compute allocation failed. Please retry later"
**Related command**

New-AzBastion : Long running operation failed with status 'Failed'. Additional Info:'Compute allocation failed. Please retry later.' StatusCode: 200 ReasonPhrase: OK Status: Failed ErrorCode: GatewayAllocationFailed ErrorMessage: Compute allocation failed. Please retry later. At line:107 char:20 + $bastion = New-AzBastion -ResourceGroupName $bastionrg ` + ~~~~~~~~~~~~~~~~~~~~~

[2022-05-13 09:48] bigglesuk69 opened #22434 "Deployments failing on App GW NSG rule validation after initial deployment"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

After initial greenfield deployment, future deployments fail on AKS NSG validation, previously reported in #21256 and was seemingly working again in a previous version.

**Command Name**
`az deployment group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behaviour. Note that argument valu

[2022-05-13 09:51] yonzhan commented on #22428
storage

[2022-05-13 09:52] yonzhan commented on #22429
storage

[2022-05-13 09:57] yonzhan commented on #22430
ARM

[2022-05-13 10:01] yonzhan commented on #22433
Please open this issue in azure-powershell repo

[2022-05-13 10:01] #22433 closed

[2022-05-13 10:01] yonzhan commented on #22434
ARM

[2022-05-13 10:03] jonie001 commented on #22429
Hi, @zale1983
Can you provide information about your `az storage entity query insert` command?

[2022-05-13 10:05] scottpendlebury commented on #21678
I also have this same issue for West Europe

![image](https://user-images.githubusercontent.com/2189228/168261640-ba1af1bb-a732-4a49-a581-dc4178f3096c.png)

[2022-05-13 10:06] datadot commented on #22375
Thanks @yonzhan

They seem to have done an API fix - invoke command is working again.

[2022-05-13 10:06] #22375 closed

[2022-05-13 10:08] zhoxing-ms commented on #22434
@bigglesuk69 Could you see if this error message is helpful to you?

[2022-05-13 10:13] bigglesuk69 commented on #22434
@zhoxing-ms the rules are on the NSG, I have validated they are correct, so the error message is wrong. The issue is somewhere in the validation. To test I did the following.

Deleted the App GW, ran the deployment, successful
Run the deployment a second time, error is shown.
At all times the NSG has the correct rule.

NSG is deployed with no rules, then we inject in the pre-requisite rules using

[2022-05-13 10:17] daniell0o commented on #21678
I have the exact same issue using terraform
<img width="958" alt="azurebastionerror" src="https://user-images.githubusercontent.com/102770757/168263700-88a2b544-88d2-4426-a15d-cfe0036c5d05.png">

[2022-05-13 11:07] tsteenbakkers opened #22436 "Retrieving an Azure Data Table with GUID column will return "Object of type UUID is not JSON serializable" error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage entity query`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az storage entity query --table-name {} --connection-string {} --output JSON`
note that the following co

[2022-05-13 11:43] elshat128 commented on #22366
@necusjz that's right, I understand the design. because there is user posted questions about this on the internet, maybe return error msg can be more clear, let user know, in order to use existing subnet, please enter subnet resources ID. thanks.

[2022-05-13 11:57] yonzhan commented on #22436
storage

[2022-05-13 12:02] bigglesuk69 commented on #22434
Some further information on this issue. I have a master bicep template that calls child modules for the deployments. So the vnet/NSG is deployed in one deployment, and the app GW in another. So what is happening is:

- vnet deployment runs first time and succeeds (no AppGW deployed)
- AppGW deployment runs successfully once the vnet deployment has completed
- vnet deployment fails on all further r

[2022-05-13 14:14] ammarasmro commented on #22377
Oh I actually tried that issue already, didn't work. Mine is going to:
[code]

I tried the same script locally (not on the azureml VM) and interactive login worked without a problem

[2022-05-13 14:32] JoeEager-VUMC opened #22437 "`az postgres flexible-server` error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az postgres flexible-server`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az postgres flexible-server --help`

## Expected Behavior

#

[2022-05-13 14:39] AjKundnani commented on #22200
@zhoxing-ms - Updated Disk encryption set scenario with key vault key creation commands as well.

[2022-05-13 14:40] AjKundnani commented on #22199
@zhoxing-ms - Added Compute Swagger JSON link reference.

[2022-05-13 16:36] s20lee opened #22438 "az aks nodepool add --max-count range should be 1, 1000"
**Related command**

az aks nodepool add ...  --max-count 1000

**Describe the bug**

az aks nodepool add ...  --max-count 1000  is not allowed due to the validation check (range must be in [1,100]).
Based on the documentation (https://docs.microsoft.com/en-us/cli/azure/aks/nodepool?view=azure-cli-latest#az-aks-nodepool-add-optional-parameters), it should be range up to 1000.
**To Reproduce**

az

[2022-05-13 18:34] VikasMohandoss opened #22439 "Disk Create/Update to PMK"
**Related command**
1. az disk update --name CrossSubCMKDisk4 --resource-group vimohand-XTCMK --encryption-type EncryptionAtRestWithPlatformKey
2. az disk create -g vimohand-XTCMK -n CrossSubCMKDisk2 --source CrossSubCMKDisk --encryption-type EncryptionAtRestWithPlatformKey

**Describe the bug**
1. Update encryption type to platform managed keys for a disk encrypted with cmk. I would expect this c

[2022-05-13 19:20] Seppohto commented on #22430
I have exactly the same 'Object of type is not JSON serializable' issue. Nothing in my code changed from last week. But now when i try to deploy that same code it gives that error. I tried to deploy with bicep and template.json files and they both fail. I'm using az-cli-core
This is the function in function app that runs the cli commands.
from azure.cli.core import get_default_cli
import logging

[2022-05-13 20:01] ianjirka commented on #21003
@navba-MSFT - adding the `config` to `azureKeyvaultSecretsProvider` worked for me.  I agree with @dingliu that this could be more robust, but I am unblocked.  Thank you!

[2022-05-13 20:30] willieowens commented on #22323
Ok, thanks. I'll... close this I guess. Seems like what I ultimately wanted to do (set Cache-Control info/headers on all blobs in my container) isn't even possible in the CLI. Feature request! I ultimately did this with a powershell script instead using the Az Powershell module.

I do think the docs are confusing here and could use some polish.

Thanks for the help!

[2022-05-13 20:30] #22323 closed

[2022-05-13 21:13] dmpvost commented on #19507
wait

[2022-05-13 22:12] shmahajan0211 opened #22441 "Not able to az login, even after uninstalling and installing it back"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2022-05-13 23:01] yonzhan commented on #22437
route to CXP team

[2022-05-13 23:03] yonzhan commented on #22438
route to CXP team

[2022-05-13 23:03] yonzhan commented on #22439
Compute

[2022-05-13 23:07] yonzhan commented on #22441
@jiasli for awareness

[2022-05-14 03:47] zhoxing-ms commented on #22434
This error message is returned by the REST service, so this is a service issue

[2022-05-14 04:00] zhoxing-ms commented on #22439
@VikasMohandoss Thanks for creating this issue!
However, because our work in this sprint has been fully arranged and the release for this sprint will be launched next week, so this requirement cannot catch up with the release of this sprint. Is it acceptable for us to release it in the next sprint **(07-05)**?

[2022-05-14 04:27] tsubakimoto commented on #22296
@RakeshMohanMSFT Thank you so much. I upgraded `appservice-kube` and this error is fixed!

[code]

[code]

---

Azure CLI version is below.

[code]

[2022-05-14 06:23] PramodValavala-MSFT commented on #22032
@siematypie @Sidewinder53 Apologies for the delay here! We have worked up a PR to address this.

[2022-05-14 06:35] PramodValavala-MSFT commented on #22383
@trevor-primer AFAIK you can't have a file and folder with the same name in the same directory. A folder is just a special kind of file.

[2022-05-14 06:39] PramodValavala-MSFT commented on #22438
@s20lee Thanks for the feedback! We have an open PR that addresses this.

[2022-05-14 08:00] #20794 closed

[2022-05-14 08:00] #20712 closed

[2022-05-14 08:00] #20397 closed

[2022-05-14 08:00] #20150 closed

[2022-05-14 08:00] #19966 closed

[2022-05-14 08:00] #19696 closed

[2022-05-14 09:14] sdg002 commented on #21982
Hello Team,
Any progress on this?

[2022-05-14 10:54] hyoshioka0128 opened #22443 "Typo "Github"→"GitHub""
https://docs.microsoft.com/en-us/cli/azure/containerapp/github-action?view=azure-cli-latest

![github-action_j](https://user-images.githubusercontent.com/40815708/168422753-7eb7abab-5f85-4477-a982-3980bd9b307d.png)

#PingMSFTDocs

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 0816bb7a-1e85-c4a9-f77f-e2ebef587fa1
* Vers

[2022-05-14 11:05] yonzhan commented on #22443
route to CXP team

[2022-05-14 14:17] italukder commented on #20848
Subject : global international tree planting human Rights board

[2022-05-14 14:20] italukder commented on #20848
Subject : global international environment cleaning human rights board

[2022-05-14 14:24] italukder commented on #20848
Subject : Global international Ocean garbage and rivers increase human rights board

[2022-05-14 14:25] italukder commented on #20848
Subject : global international forest human Rights board

[2022-05-14 14:32] italukder commented on #20848
subject : media & journalist human rights board

[2022-05-14 14:35] italukder commented on #20848
Subject : global international basis human needs human rights board

[2022-05-14 14:37] italukder commented on #20848
subject : global international writer human rights board

[2022-05-14 14:39] italukder commented on #20848
Subject : global international cultural human Rights board

[2022-05-14 14:40] italukder commented on #20848
Subject : global international educational human rights board

[2022-05-14 14:41] italukder commented on #20848
Subject : global international fashion human rights board

[2022-05-14 14:43] italukder commented on #20848
Subject  : global international woman and children human rights board

[2022-05-14 14:44] italukder commented on #20848
Subject : global international government human rights board

[2022-05-14 14:46] italukder commented on #20848
Subject : global international sultan Democracy human rights board

[2022-05-14 14:47] italukder commented on #20848
Subject : global international king Democracy  human rights board

[2022-05-14 14:48] italukder commented on #20848
Subject : global international territories and criminal human rights board

[2022-05-14 17:17] italukder commented on #20848
Important : Thoe point are good . Make this a subject which has double. Delete the second one and connect the second key person to the first subject according to the discipline  . Add many more new and new point and subject

[2022-05-14 17:39] EmilAlipiev opened #22444 "Can you document how to use --linux-fx-version with .net 6.0?"
In the link provided in the article only shows how to do on the Portal but not using Az CLI is not clear. Using "DOTNETCORE|6.0" or "DOTNET|6.0" doesnt work

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d09a3700-4b7b-6720-bec4-2d07ff96ef23
* Version Independent ID: 7d06e377-4659-b3c5-4b7f-8448cc0c102f
* Content: [az f

[2022-05-14 17:44] italukder commented on #20848
Subject : global international family migration board

example
a family members change family migration operations

[2022-05-14 18:12] EmilAlipiev commented on #7874
`az functionapp config set --name <func_name> --resource-group <rg> --linux-fx-version '"DOTNET|6.0"'`

`az functionapp config set --name <func_name> --resource-group <rg> --linux-fx-version '"DOTNET:6.0"'`

I get `Operation returned an invalid status 'Bad Request'` error when I try as above both same

[2022-05-14 20:08] italukder commented on #20848
subject : global international Islamic females. women and children human rights board

[2022-05-14 20:14] italukder commented on #20848
Subject : global international climate change human rights board

[2022-05-15 00:13] yonzhan commented on #22444
route to CXP team

[2022-05-15 03:11] adamringeisen opened #22445 "No module named 'decorator' on webapp up"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Brand new install of Fedora 36. Installed azure-cli got this error. Upgraded using az upgrade, same error.

I saw a closed issue with a similar problem for an older version, but it appears that this is not fixed or has reared its head again.
**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:

[2022-05-15 03:56] yonzhan commented on #22445
route to CXP team

[2022-05-15 05:49] navba-MSFT commented on #22301
@williamhbell Apologies for the late reply. I think it's a platform issue related to the unique combination Windows + GitBash (MSYS2)  + Python.

Could you please try to update the Windows system language setting ?

Control panel -> Clock and Region -> Region -> Administrative -> Change system locale -> Check Beta: Use Unicode UTF-8 for worldwide language support
![image](https://user-images.githu

[2022-05-15 07:46] yargolan commented on #22216
Well. since the tag contains a white space, I cannot delete it from CLI.
Will do it manually from the portal.

You may close the ticket.
Thanks.

[2022-05-15 08:48] #22216 closed

[2022-05-15 08:52] RakeshMohanMSFT commented on #22296
@tsubakimoto Glad to hear that the issue is resolved. Closing the issue.

[2022-05-15 08:52] #22296 closed

[2022-05-15 08:53] RakeshMohanMSFT commented on #19507
@dmpvost Sure, do let us know if upgrading the cli helps

[2022-05-15 08:55] italukder commented on #20848
Subject : global international animals human rights board

[2022-05-15 09:12] RakeshMohanMSFT commented on #22445
@adamringeisen Can you please look this issue and try the action plan provided there? https://github.com/Azure/azure-cli/issues/13343#issuecomment-635811624

[2022-05-15 09:23] RakeshMohanMSFT commented on #22444
@EmilAlipiev Ideally "linux_fx_version": "DOTNETCORE|6.0" should work, can you please be more specific and let me know what issue are you facing? if you could share debug log it would help me to troubleshoot the issue further.

[2022-05-15 09:26] adamringeisen commented on #22445
Well the action described there is to upgrade to a newer version of the cli and I am using the newest version so no I can’t try the action described there.

[2022-05-15 09:30] RakeshMohanMSFT commented on #22443
@hyoshioka0128 Creating a PR to fix this.

[2022-05-15 09:36] RakeshMohanMSFT commented on #22445
@adamringeisen Apologies, i mean this comment https://github.com/Azure/azure-cli/issues/13343#issuecomment-624367680. I am still looking into it, in the meantime give it a try.

[2022-05-15 09:37] bebound commented on #22428
Duplicate of https://github.com/Azure/azure-cli/issues/22235

Installing `python3.6` should fix the issue. We have plan to build RPM for Fedora: https://github.com/Azure/azure-cli/issues/22278

[2022-05-15 10:28] bmansheim opened #22446 "Azure Security Center is now Microsoft Defender for Cloud"
There may be other locations that require updating as well.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 9fe5ba99-4e05-2332-7575-949c7944f3fa
* Version Independent ID: 36deb6a4-026a-02a7-5be8-3e4ec5addba8
* Content: [Azure Security Center](https://docs.microsoft.com/en-us/cli/azure/service-page/azure%20security%20cen

[2022-05-15 10:33] adamringeisen commented on #22445
The command didn't work unless I removed the --system argument.

Then it did work but I got a warning about using sudo with pip potentially causing errors with system package manager.

file:///home/adam/Pictures/Screenshots/Screenshot%20from%202022-05-15%2005-56-42.png

[2022-05-15 10:59] sdg002 commented on #15381
I have been facing this problem at my new employer.  I needed IT intervention to get AZ CLI to get installed.

But, the problem does not stop here.  When I use the command `az upgrade` , it fails once again due to me not having Admin rights on the local workstation.

May I ask what was Microsoft's rationale in chosing  such an installation model?

[2022-05-15 11:13] sdg002 opened #22447 "The AZ UPGRADE command fails because of corporate Firewall restrictions"
**Related command**
`az upgrade`

**Describe the bug**
The upgrade command does not work because of corporate firewall restrictions (No .EXE, .DLL, MSI can be downloaded from the internet). As seen in the evidence below, the **upgrade** command of Azure CLI attempts to download a MSI file.
![image](https://user-images.githubusercontent.com/20245330/168469758-2a8692a9-95f2-4c4c-8a10-3161681bb09f.pn

[2022-05-15 13:34] EmilAlipiev commented on #22444
@RakeshMohanMSFT i have had posted the full question on SO here https://stackoverflow.com/questions/72242689/azure-functions-linux-upgrading-from-net-core-3-1-to-net-6-doesnt-upgrade-lin

[2022-05-15 13:46] enrique-palazuelos opened #22448 "Az cli error when trying to create an AKS cluster"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

The error is given by az cli task on Github Actions and I have reproduced it manually by passing "y | " to az aks command to avoid confirmation for:
"It is highly recommended to use USER assigned identity (option --assign-identity) when you want to bring your ownsubnet, which will have no latency for the role

[2022-05-15 14:55] #22428 closed

[2022-05-15 14:56] yonzhan commented on #22446
It seems not related to Azure CLI

[2022-05-15 14:56] #22446 closed

[2022-05-15 14:58] yonzhan commented on #22447
@jiasli for awareness

[2022-05-15 14:59] yonzhan commented on #22448
route to CXP team

[2022-05-15 15:14] kaito-ms commented on #21534
The `--parameters` option is implemented in azure-devops 0.23.0.
Please upgrade your azure-devops extension.

https://github.com/Azure/azure-devops-cli-extension/releases/tag/20220131.1

[2022-05-15 15:39] neoswallow commented on #21534
@kaito-ms
I've been using ubuntu version (via docker) meanwhile.
It looks like it worked with ubuntu version because it installed v0.25.0 when my local version was still at v0.22.0.
Now that I updated devops extension to the latest (v0.25.0), --parameters works now.
Thanks.

I do see that table output is somehow broken with the new version for the pipeline.
I'm guessing I should create an issue on

[2022-05-15 15:59] jvaudreu opened #22449 "trying to git clone..."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group exists`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group exists --resource-group {}`

## Expected Behavior

## Environme

[2022-05-15 20:16] #21534 closed

[2022-05-15 22:30] yonzhan commented on #22449
ARM

[2022-05-15 23:39] thomasnield opened #22450 "Error on creating an Advisor CPU Threshold"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I get an error running this command.

[code]

**Command Name**
`az advisor configuration update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az advisor

[2022-05-15 23:48] yonzhan commented on #22450
advisor

[2022-05-16 01:44] #18151 closed

[2022-05-16 02:29] jiasli commented on #21982
Duplicate of #15381

[2022-05-16 02:31] #21982 closed

[2022-05-16 02:41] andyzhangx commented on #22353
@rfcdejong AKS does not support Windows 2022 yet, pls build with 2019.

shall I close this issue?

[2022-05-16 03:00] kairu-ms commented on #22196
Cannot reproduce. It works on my wsl. What's your error message?

[2022-05-16 03:04] kairu-ms commented on #22113
Hi @imihalcea, that's because the version of your azure-cli is too low. Could you upgrade azure-cli and try again?

[2022-05-16 03:04] #22113 closed

[2022-05-16 03:16] hyoshioka0128 opened #22453 "Typo "Github"→"GitHub""
https://docs.microsoft.com/en-us/cli/azure/containerapp?view=azure-cli-latest

(1)
![azure_containerapp_j1](https://user-images.githubusercontent.com/40815708/168514031-86650ec0-60ff-4b94-9950-8dd06ff45f9b.png)

(2)
![azure_containerapp_j2](https://user-images.githubusercontent.com/40815708/168514044-b6877649-a24d-4dd2-9ee0-78ea6473a4f5.png)

(3)
![azure_containerapp_j3](https://user-images.github

[2022-05-16 03:31] navba-MSFT commented on #22453
@hyoshioka0128 Thanks for reaching out to us and sharing this feedback. We are looking into this issue and we will get back with an update.

[2022-05-16 03:36] kairu-ms commented on #22310
@dabenhamMic I'm confuse about this swagger [property](https://github.com/dabenhamMic/azure-rest-api-specs/blob/7d1b7dc08e4dbb1a9e8d569ee29ed59e5731757c/specification/operationalinsights/resource-manager/Microsoft.OperationalInsights/stable/2019-09-01/QueryPackQueries.json#L452-L455). What's it used for and why it does have any detailed schema definition? Is this property read-only?

[2022-05-16 03:53] yonzhan commented on #22453
route to CXP team

[2022-05-16 05:16] RakeshMohanMSFT commented on #21461
@heyitsmekishore Apologies for the delay, we are looking into it. In the meantime, can you upgrade your az cli to [latest version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)?

[2022-05-16 06:44] avishnyakov opened #22457 "az keyvault key decrypt/encrypt -o tsv output gives bytes string literals since 2.31.0"
**Related command**

2.31.0+
[code]

With 2.30.0
[code]

More testing:
--output json -> "1a2864...." (note, value in double quotes)
--output tsv -> b'1a2864....' (b-prefix and single quotes)
then --output table

[code]

**Describe the bug**
az keyvault key decrypt/encrypt operations with -tsv appears to wrap resulting value into `b'{actual_value_here}'`. Version 2.30.0 does not have this behavior,

[2022-05-16 06:46] dabenhamMic commented on #22310
you can leave this property out of CLI experience

[2022-05-16 06:49] yonzhan commented on #22457
keyvault

[2022-05-16 06:51] rayluo commented on #22441
[code]

@jiasli , it is strange that [line 74 of MSAL 1.17](https://github.com/AzureAD/microsoft-authentication-library-for-python/blob/1.17.0/msal/authority.py#L74) does not even contain that keyword. Can we know what kind of authority was passed into MSAL?

@shmahajan0211, can you share with us the authority and/or tenant that you used, so that we could reproduce this?

[2022-05-16 07:07] evelyn-ys commented on #22436
Can't reproduce:
![image](https://user-images.githubusercontent.com/10227683/168537657-7296d5bb-e2f1-40f9-814c-823f61569d45.png)

[2022-05-16 07:08] evelyn-ys commented on #22429
Can't reproduce:
![image](https://user-images.githubusercontent.com/10227683/168537787-403af070-6385-4c62-9c7b-f01f042336b9.png)

[2022-05-16 08:07] #22443 closed

[2022-05-16 08:49] #22032 closed

[2022-05-16 08:49] #22438 closed

[2022-05-16 08:58] jiasli commented on #22441
Actually, it suddenly came to me that the issue may be caused by corrupted installation. Please try to fully delete Azure CLI and reinstall it. See https://github.com/Azure/azure-cli/issues/20990

[2022-05-16 09:01] crowne commented on #22321
Thanks the --file option works great, even with the env vars set as above.

The environment variables aren't unresolved, Windows resolves them before the Powershell is created.
[code]

I can confirm that if I run the command
`az aks get-credentials --resource-group ss-locn-dev-tst-rg --name ss-locn-dev-tst-aks001`
without the --file option and with the KUBECONFIG env var set to
- C:\Users\user.nam

[2022-05-16 09:05] jiasli opened #22462 "[Feature Request] Release Azure CLI as ZIP packages"
**Is your feature request related to a problem? Please describe.**

Currently Azure CLI on Windows is released as an MSI package. This has several problems:

- The MSI requires admin permission (https://github.com/Azure/azure-cli/issues/15381), which makes it impossible to install Azure CLI as a normal user.
- The installation location is fixed to `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2`

[2022-05-16 09:05] jiasli commented on #22447
We will track this feature request in #22462.

[2022-05-16 09:13] linusryl commented on #22314
@kvakulo, have you gotten anywhere with your support request?

[2022-05-16 09:25] kventil opened #22463 "Trying to install aks cli on osx Monterey (12.3.1 (21E258)) M1"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2022-05-16 09:58] #22453 closed

[2022-05-16 10:02] birdnathan commented on #22314
Seeing this issue as well. With both CLI and PoSh

[2022-05-16 10:08] shreyasHpandya opened #22465 "`az storage account list` is not listing all storage accounts"
**Command Name**
`az storage account list`

this is not generating list of all the storage account, I can see the complete list in console (all 35). But in CLI output it only shows 9 results. All the storage accounts are in 35 different regions.

## Environment Summary
[code]

[2022-05-16 10:16] lakmeedee opened #22466 "az ppg create and az ppg update commands to support User Intent"
**Related command**
Optional parameters and values need to be added to the following commands to support user intent:
- az ppg create
- az ppg update

**Is your feature request related to a problem? Please describe.**
No. This is a new feature request.

**Describe the solution you'd like**
Intent
Intent is an optional parameter which you can provide while creating a [proximity placement group](htt

[2022-05-16 10:27] bmansheim commented on #22446
@yonzhan Does that mean that someone else needs to update the branding in https://github.com/MicrosoftDocs/azure-docs-cli/blob/main/latest/docs-ref-autogen/service-page/Azure%20Security%20Center.yml?

[2022-05-16 10:29] enrique-palazuelos commented on #8530
Same behaviour observed. Could be possible to add the "wait" command to az identity?

Thanks!

[2022-05-16 10:36] hyoshioka0128 commented on #22453
@yonzhan @zhoxing-ms  - Thanks!

[2022-05-16 10:42] timja commented on #8530
@navba-MSFT could you please re-open

[2022-05-16 11:08] hyoshioka0128 commented on #22443
@yonzhan @RakeshMohanMSFT  @zhoxing-ms  - Thanks!

[2022-05-16 11:19] kvakulo commented on #22314
@linusryl The status at this point is that the support engineer has been able to reproduce the issue and they're looking into it.

[2022-05-16 11:26] hernandezcolomina commented on #22279
I confirm we have the same issue since today on EMEA region.
It works after adding the Priority input parameter to the Add-AzApplicationGatewayRequestRoutingRule  command.

As stated by [necusjz](https://github.com/necusjz) the API has changed and Priority is now mandatory

[2022-05-16 11:36] rfcdejong commented on #22353
I'll close the issue as I don't need to use the functionality anymore and your canipull image yaml more usefull anyway.

I know it doesn't work on 2022, did cost me a day to figure out why pulling didn't work ;)

[2022-05-16 11:36] #22353 closed

[2022-05-16 11:54] jvaudreu commented on #22449
solved thx

On Sun, May 15, 2022 at 6:30 PM Yong Zhang ***@***.***> wrote:

--
Joël Vaudreuil
T : 418.265.2820

[2022-05-16 12:23] yonzhan commented on #22463
route to CXP team

[2022-05-16 12:26] yonzhan commented on #22465
storage

[2022-05-16 12:27] yonzhan commented on #22466
route to CXP team

[2022-05-16 12:31] evelyn-ys commented on #22465
Have you set default resource group before?
The command would try to read default resource group from environment variables and it turns out to be `az storage account list -g your_default_rg`:
![image](https://user-images.githubusercontent.com/10227683/168592978-1e18b630-6b25-43e1-a9e0-572876afd0f9.png)

[2022-05-16 12:35] yonzhan commented on #22446
You could contact Delora from doc team to help with

[2022-05-16 12:38] #22449 closed

[2022-05-16 13:21] shreyasHpandya commented on #22465
All the Storage accounts are in the same resource group. and I am passing that RG in the argument explicitly. Following is the command I am running.

    az storage account list -g <myrg> --query "[*].[name,location]" -o tsv

[2022-05-16 13:52] anat-gilenson commented on #21665
@necusjz Best to keep it experimental. Thanks!

[2022-05-16 13:53] lubenz opened #22468 "az logout failure: AttributeError: 'NoneType' object has no attribute 'lower'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az logout`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az logout`

## Expected Behavior

## Environment Summary
[code]
## Additional

[2022-05-16 13:56] #22316 closed

[2022-05-16 14:28] #21292 closed

[2022-05-16 14:36] yonzhan commented on #22468
@Jiasli for awareness

[2022-05-16 14:39] jiasli commented on #22468
Please check https://github.com/Azure/azure-cli/issues/20244 and see if you can get unblocked.

[2022-05-16 14:53] lsweeney24 opened #22470 "CLI Update for Azure Stack HCI 2022-05-01 Release"
**Resource Provider**

AzureStackHCI

**Description of Feature or Work Requested**

We want to update our CLI based on the swagger.

**Swagger and PR link**
https://github.com/Azure/azure-rest-api-specs/tree/main/specification/azurestackhci/resource-manager/Microsoft.AzureStackHCI/stable/2022-05-01

https://github.com/Azure/azure-rest-api-specs/pull/18851

**Target Date**
May 31, 2022

[2022-05-16 14:55] #22366 closed

[2022-05-16 15:43] yonzhan commented on #22470
AzureStackHCI

[2022-05-16 15:44] Thlr opened #22473 "Getting some FileNotFoundError while retrieving credentials"
### Error when retrieving credentials

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az aks get-credentials --resource-group {} --name {}`

Note that both the resource group and the cluster name I am getting credentials

[2022-05-16 15:48] yonzhan commented on #22473
route to CXP team

[2022-05-16 15:51] jiasli commented on #20675
This issue has been resolved by https://github.com/Azure/azure-cli/pull/22432.

Documentation is updated accordingly: https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-migration

[2022-05-16 15:51] #20675 closed

[2022-05-16 15:51] #20561 closed

[2022-05-16 15:52] jiasli commented on #8467
This issue has been resolved by https://github.com/Azure/azure-cli/pull/22432.

Documentation is updated accordingly: https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-migration

[2022-05-16 15:53] jiasli commented on #20805
This issue has been resolved by https://github.com/Azure/azure-cli/pull/22432.

Documentation is updated accordingly: https://docs.microsoft.com/en-us/cli/azure/microsoft-graph-migration

[2022-05-16 16:20] ModernRonin commented on #9361
this would still be very useful :-)

[2022-05-16 17:06] s20lee commented on #22438
Hi @PramodValavala-MSFT , I see that the PR is now merged. Does it mean it's available in aks-preview extension?

[2022-05-16 18:03] parameshbabu commented on #21394
Piling on this request as we need this also for our scenarios

[2022-05-16 19:09] v-smeadows commented on #21670
Response from CX

Good Afternoon Steven,

I ran that command but I didn’t see any results with ‘azure-keyvault’ in the name. Here’s the results:
$ "C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe" -m pip list
Package                Version
---------------------- ---------
adal                   1.2.7
antlr4-python3-runtime 4.7.2
applicationinsights    0.11.7
argcomplete            1.11

[2022-05-16 19:19] celluj34 commented on #16617
Same here. I _need_ the ability to update agents without user interaction.

[2022-05-16 20:31] jsteenbekkers commented on #22209
Can anyone comment on the availability of a workaround, or a timeline for a fix?

[2022-05-16 20:51] haroonf commented on #19492
This has been fixed: https://github.com/Azure/azure-cli/pull/22365

[2022-05-16 20:51] #19492 closed

[2022-05-16 21:10] microsoft-github-policy-service[bot] opened #22478 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-16 21:40] banibrata opened #22479 "az CLI resolves partial argument names e.g. --resource is getting resolved to --resource-group"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
 CLI should not resolves partial argument to other arguments, it should be absolute. Could cause confusion for users , as there could be multiple argument names starting with the same root name (e.g. resource-group, resource-type etc). It could also break automation due to side effects

**Command Name**
``

**E

[2022-05-16 22:11] vilit1 commented on #20263
Everything seems to work now with the current API version so I will close this issue. If you see this issue pop up again, please reopen.

[2022-05-16 22:11] #20263 closed

[2022-05-16 22:21] yonzhan commented on #9361
route to CXP team

[2022-05-16 22:22] steverash commented on #22209
For a workaround - I ended up replacing with a call directly to the storage rest service.

[2022-05-16 22:30] yonzhan commented on #22478
Please provide detailed guidance about this.

[2022-05-16 22:33] yonzhan commented on #22479
@zhoxing for awareness

[2022-05-16 22:37] bbi-adamvengroff opened #22480 "Getting "FileNotFoundError: [WinError 2] The system cannot find the file specified" when trying to download a pipeline artifact"
Getting `FileNotFoundError: [WinError 2] The system cannot find the file specified` when trying to download a pipeline artifact

**Command Name**
`az pipelines runs artifact download --artifact-name {artifactName} --path {path} --run-id {id }--org {org_url} --project {project}`

**Errors:**
[code]

## To Reproduce:
Just run the command
Error only happening on 1 user's PC

## Expected Behavior
Arti

[2022-05-16 22:38] yonzhan commented on #22480
route to CXP team

[2022-05-16 23:34] ismailhkose commented on #22230
I am also getting this libssl related error when I try any az command on Ubuntu 22.04. It can't run any az command at all.

![image](https://user-images.githubusercontent.com/353824/168698751-e231b102-b479-4132-bcb5-802e0878e73c.png)
![image](https://user-images.githubusercontent.com/353824/168698799-3e1daabd-4cfc-4683-9781-f39f48d92f7d.png)

[2022-05-17 01:22] evelyn-ys commented on #22465
Can you use `az config get` to check if you have default resource group? If you do have, please use `az config unset` to unset.

[2022-05-17 01:28] evelyn-ys commented on #21670
CLI does depend on `azure-keyvault` package so probably the dependencies are somehow broken. The easiest way is to ask customer to completely uninstall and then re-install with: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli

[2022-05-17 02:07] roslynlu opened #22481 "Update 2020 version with Azure Function and Blob MSI"
**Related command**
az stream-analytics

**Is your feature request related to a problem? Please describe.**
We updated our swagger specs recently to fix some s360 bugs, and we would like our CLI to reflect those bug fixes: https://github.com/Azure/azure-rest-api-specs/pull/17697

**Describe the solution you'd like**
Update Stream Analytics CLI to include these new features (Azure Function and Blob

[2022-05-17 02:07] roslynlu opened #22482 "[Stream Analytics] Update 2020 version with Azure Function and Blob MSI"
**Related command**
az stream-analytics

**Is your feature request related to a problem? Please describe.**
We updated our swagger specs recently to fix some s360 bugs, and we would like our CLI to reflect those bug fixes: https://github.com/Azure/azure-rest-api-specs/pull/17697

**Describe the solution you'd like**
Update Stream Analytics CLI to include these new features (Azure Function and Blob

[2022-05-17 02:46] evelyn-ys commented on #22209
The fix will be released on 5/24

[2022-05-17 03:19] jiasli commented on #21394
Duplicate of #16573

[2022-05-17 03:19] #21394 closed

[2022-05-17 03:24] #22478 closed

[2022-05-17 03:25] jiasli commented on #22478
We have merged https://github.com/Azure/azure-cli/pull/22477

[2022-05-17 03:27] yonzhan commented on #22481
stream-analytics

[2022-05-17 03:30] yonzhan commented on #22482
Stream Analytics

[2022-05-17 03:33] zale1983 commented on #22436
@evelyn-ys
please check on portal if gid: e4f05187-... is type [GUID]
![wecom-temp-718c1274d3085a7210f078c2b8ae3028](https://user-images.githubusercontent.com/43394331/168723074-7d30d5c2-83ed-4bd9-a524-3d23dee87d51.png)
![wecom-temp-cd2e1f1df5bb6ef79cf3848838943a20](https://user-images.githubusercontent.com/43394331/168723096-22db4c1a-e5ce-4a7d-837d-40133bc9b7aa.png)
![wecom-temp-f940d022f125465f9

[2022-05-17 03:38] RakeshMohanMSFT commented on #22448
@enrique-palazuelos Thank you for reaching out to us, we are looking into it.

[2022-05-17 03:39] RakeshMohanMSFT commented on #22437
@JoeEager-VUMC Thank you for reaching out, we are looking into it.

[2022-05-17 03:40] RakeshMohanMSFT commented on #22376
@petetnt Thank you for reaching out to us, we are looking into it.

[2022-05-17 03:47] shreyasHpandya commented on #22465
output of `az cofig get`

    Command group 'config' is experimental and under development. Reference and support levels:
    https://aka.ms/CLI_refstatus
    {
      "cloud": [
        {
          "name": "name",
          "source": "/Users/shreyas.pandya/.azure/config",
          "value": "AzureCloud"
        }
      ]
    }

I don't think any default rg is set

[2022-05-17 04:19] navba-MSFT commented on #22321
@crowne I wasn't able to reproduce this issue as it worked fine for me. Sharing the below details if that helps:

![image](https://user-images.githubusercontent.com/57353862/168727856-60486e0d-c65b-45e2-b3fc-239ab9f9efe6.png)

![image](https://user-images.githubusercontent.com/57353862/168727701-c533ea69-f92b-48ee-ab3c-7a97bf10e0b6.png)

Sharing my Azure CLI version too if you would like to test w

[2022-05-17 05:26] evelyn-ys commented on #22465
@jonie001 Can you help take a look if we will fetch default resource group from other settings?

[2022-05-17 05:43] shreyasHpandya commented on #22465
Even if resource group is set somewhere, it should list all the storage accounts, since I have 35 storage accounts in the same resource group. it is listing only 9 storage account out of 35 in that resource group

[2022-05-17 05:52] evelyn-ys commented on #22465
Need server side to check

[2022-05-17 07:12] #22209 closed

[2022-05-17 07:13] enrique-palazuelos commented on #22448
Thank you @RakeshMohanMSFT . I suppose that the az cli action is configured with defaults.

[2022-05-17 07:18] navba-MSFT commented on #22465
@shreyasHpandya Thanks for reaching out to us and sharing this feedback. Could you please confirm if the same command works fine from the [Azure Cloud Shell](https://docs.microsoft.com/en-us/cli/azure/storage/account?view=azure-cli-latest#az-storage-account-list) ?

If Yes, while running the same command could you please share the `--debug `output of the working and failing scenario so that we cou

[2022-05-17 08:14] shreyasHpandya commented on #22465
From cloud shell also it does not list all the storage accounts

[2022-05-17 08:16] navba-MSFT commented on #22465
@shreyasHpandya Thanks for getting back. Please run the same above command with` --debug `switch and share the output here.

[2022-05-17 08:22] kvakulo commented on #22314
The support engineer has found what triggers the issue in the what-if engine.

We have z parameter like this in our templates:
[code]

However that seems to break what-if when used in modules where we don't pass in the tags from the main template.

So the workaround for now is to pass in the tags in all module usages.

[2022-05-17 08:34] RakeshMohanMSFT commented on #22314
Thank you @kvakulo for the update. I will close this issue..

[2022-05-17 08:34] #22314 closed

[2022-05-17 08:51] navba-MSFT commented on #20011
@atkachuk-corgi Apologies for the late reply. Could you please try running the same command using the[ most recent version of the AzCLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and check if you still face this issue? Awaiting your reply.

[2022-05-17 08:53] navba-MSFT commented on #20747
@remyjimjim Apologies for the late reply. Could you please try running the same command using the[ most recent version of the AzCLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and check if you still face this issue? Awaiting your reply.

[2022-05-17 08:54] navba-MSFT commented on #20544
@nik0811 Apologies for the late reply. Could you please try running the same command using the[ most recent version of the AzCLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) and check if you still face this issue? Awaiting your reply.

[2022-05-17 08:57] navba-MSFT commented on #22465
@shreyasHpandya Please email the debug output to navba@microsoft.com

[2022-05-17 09:00] navba-MSFT commented on #20110
@bartosz-piotrowski Apologies for the late reply. Thanks for sharing an update. If you need any further assistance on this issue, feel free to reopen this thread. We would be happy to help.

[2022-05-17 09:00] #20110 closed

[2022-05-17 09:11] evelyn-ys commented on #22436
We can reproduce now. You can use `Key=value Key@odata.type="Edm.Guid"` to insert guid key with CLI. We do find that the query is broken and @jonie001 is working on the fix

[2022-05-17 09:15] fieldp commented on #17137
Good to know not just me then. I gave up. I had a back and forth with MS
support but just could not solve it. If anyone has a new ideas I would
be happy try :-)

On May 16, 2022, fieldp ***@***.***> wrote:

[2022-05-17 09:18] birdnathan commented on #22314
Why is it closed? We don't want a workaround, we want a fix and why has this only just started happening? Templates were working fine until very recently

[2022-05-17 09:23] RakeshMohanMSFT commented on #22314
@birdnathan This is related to the backend and not CLI per se, therefore we closed the issue. We request you to open a support ticket if you need further help.

[2022-05-17 09:31] tsteenbakkers commented on #22436
@evelyn-ys I am aware of how to define specific data types when inserting data. Thanks for the tip though :)

Hope this can be fixed soon :)

[2022-05-17 10:01] aleksandr-maksimov-stenn commented on #20231
Got this error from terraform plan in SSH session.
Full error:
`Error: obtaining Authorization Token from the Azure CLI: parsing json result from the Azure CL
I: waiting for the Azure CLI: exit status 1: ERROR: Decryption failed: [WinError -2146893813] Ke
y not valid for use in specified state.. App developer may consider this guidance: https://githu
b.com/AzureAD/microsoft-authentication-extensio

[2022-05-17 10:10] B-Art commented on #1520
pwsh
$a = az account list-locations | ConvertFrom-Json -AsHashtable
$a.Where({$_.name -like "*west*"}).ForEach({ "$($_.name),$($_.metadata.latitude),$($_.metadata.longitude)" })

Will output:
westus2,47.233,-119.852
westus3,33.448376,-112.074036
westeurope,52.3667,4.9
germanywestcentral,50.110924,8.682127
westusstage,,
westus2stage,,
westus,37.783,-122.417
jioindiawest,22.470701,70.05773
westcentr

[2022-05-17 10:20] navba-MSFT commented on #22465
@shreyasHpandya Thanks for sharing the debug output. I tried to create (35) StorageAccounts under my subscription, under a single resourceGroup and I was able to list the Storage Accounts. See the below screenshot:

![image](https://user-images.githubusercontent.com/57353862/168788092-eb19ca72-00b5-40f3-a7de-ff2334a9d546.png)

I tried with the same AzCLI version as yours ( 2.36.0). The only differ

[2022-05-17 10:29] navba-MSFT commented on #20117
@saevarb Could you please check if the parameter `--target-slot` helps ? More Info [here](https://docs.microsoft.com/en-us/cli/azure/webapp/deployment/slot?view=azure-cli-latest#az-webapp-deployment-slot-list). Awaiting your reply

Target slot to swap, default to 'production'.

[2022-05-17 10:29] sdowie73 opened #22491 "az functionapp vnet-integration add removes IP whitelisting"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f714ea49-754e-486f-938d-5394399d233a
* Version Independent ID: 2b0a24e2-be87-4dee-9991-5e35589a3b07
* Content: [az functionapp vnet-integration](https://docs.microsoft.com/en-us/cli/azure/functionapp/vnet-integration?view=azure-cli-latest)
* Content S

[2022-05-17 10:32] navba-MSFT commented on #20277
@ericis Apologies for the late reply. The error message is pointing to the connection reset, which would typically point to the network level socket termination. Could you please let us know if you are still facing the same issue ? If yes, Could you please try the same operation[ from cloud shell ](https://docs.microsoft.com/en-us/cli/azure/storage/blob?view=azure-cli-latest#code-try-11)from a dif

[2022-05-17 10:43] saevarb commented on #20117
@navba-MSFT

I'm sort of confused why you would think that this flag would help, since I never talked about swapping slots specifically. Also, what you posted is actually a perfect description of the problem that I originally posted about, since it tells me that if I want to swap slots which aren't the production slots, I have to be careful to specify the target slot, otherwise it will mess up pro

[2022-05-17 10:45] navba-MSFT commented on #20117
@saevarb Thanks for clarifying and sharing the feedback. The Service Team is already added to this github thread to look into this ask.

[2022-05-17 10:47] navba-MSFT commented on #20768
@absa-rsuarez Apologies for the late reply. Could you please install the most [recent version of the AZCLI ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-linux?pivots=apt)and check if that helps? Awaiting your reply.

[2022-05-17 10:51] shreyasHpandya commented on #22465
Sent both output in email

[2022-05-17 11:14] navba-MSFT commented on #20908
@VincentK16 Apologies for the late reply. Could you please use the [most recent version of Azure CLI ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli)and check if that helps ? Awaiting your reply.

[2022-05-17 12:02] shreyasHpandya commented on #22465
The command 2 and 1 both are listing same storage accounts, other extra resources listed by command 2 are not storage accounts (they are VPCS)

also all the storage account names are 3-24 characters (even the once not listed by these commands).

These storage accounts are created by terraform. Terraform internally uses this API.

I will open a support ticket for this

[2022-05-17 12:12] navba-MSFT commented on #22465
@shreyasHpandya Thanks for getting back. Since the same command works fine at our end (for 35 storage accounts in same resource group). see [this](https://github.com/Azure/azure-cli/issues/22465#issuecomment-1128689564), Please go ahead and create a support ticket as it would require active troubleshooting over a live meeting session.

[2022-05-17 12:13] shreyasHpandya commented on #22465
Where can I create support ticket for this, its not allowing me from my azure portal

[2022-05-17 12:19] navba-MSFT commented on #22465
@shreyasHpandya You need to have a minimum of [Support Request Contributor ](https://docs.microsoft.com/en-us/azure/role-based-access-control/built-in-roles#support-request-contributor) permissions on your subscription to create support ticket. Once you have the right permissions on the subscription, you can go to the Portal and create Support ticket as shown below:

![image](https://user-images.g

[2022-05-17 12:46] yonzhan commented on #20747
route to CXP team

[2022-05-17 13:07] #22134 closed

[2022-05-17 13:19] JohnLudlow commented on #22360
Seems we didn't have the syntax quite correct:

We had:

    "actionGroups": "[parameters('actionGroupId')]",

We should have had:

    "actionGroups": [
      "[parameters('actionGroupId')]"
    ],

Thanks

[2022-05-17 13:19] #22360 closed

[2022-05-17 13:19] yonzhan commented on #20768
route to CXP team

[2022-05-17 13:38] tudor-pop opened #22494 "Error when trying to connect to a new kubernetes cluster"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2022-05-17 14:32] leom-restack commented on #21678
Hello, I think this issue needs to be reopened. Im getting similar issue using Powershell Module, Azure Cli and Terraform using the WestEurope region. See below samples.

*Terraform*:
[code]

*Azure cli*:
[code]

*Powershell module*:
[code]

What I don't understand is why it keeps the resources even if its in a failed state. See below:

*Sample on the Azure portal*:
![image](https://user-images.gi

[2022-05-17 14:42] alin-devnet opened #22495 "az webapp identity assign wipes out access restrictions"
**Related command**
`az webapp identity assign -g resourceGroupName -n resourceName --identities [system]`

**Describe the bug**
Enabling system managed identity for an Azure App Service wipes out access restrictions. This started happening recently, was fine 1-2 weeks ago.

**To Reproduce**
Add an access restriction to an azure app service.
Enable system managed identity for the app service by ru

[2022-05-17 14:42] leom-restack commented on #22433
Hello, I think this issue needs to be reopened. Im getting similar issue using Powershell Module, Azure Cli and Terraform using the WestEurope region. See below samples.

*Terraform*:
[code]

*Azure cli*:
[code]

*Powershell module*:
[code]

What I don't understand is why it keeps the resources even if its in a failed state. See below:

*Sample on the Azure portal*:
![image](https://user-images.gi

[2022-05-17 14:49] leom-restack opened #22496 "Azure Bastion - ERROR: Compute allocation failed. Please retry later - InternalServerError"
Hello, I think this issue needs to be reopened. Im getting similar issue using Powershell Module, Azure Cli and Terraform using the WestEurope region. See below samples.

*Terraform*:
[code]

*Azure cli*:
[code]

*Powershell module*:
[code]

What I don't understand is why it keeps the resources even if its in a failed state. See below:

*Sample on the Azure portal*:
![image](https://user-images.gi

[2022-05-17 15:44] italukder commented on #20848
Subject : global international Islamic education systems trust board

An educated person will sit Mohammed  ( MD ) before this name
example.
1. Mohammed - MD. Doctor - Dr and life service title Journalist - JT : The title of the educated person and life service title and name
2.  Mohammed - MD. Lower - LR : The title  of the educated persons and life service title and name
3. Mohammed - MD. Lectur

[2022-05-17 16:43] v-smeadows commented on #21670
Update from the CX this morning

Everything is working as intended and all commands are functioning.

Thank you! for your help!

[2022-05-17 16:43] #21670 closed

[2022-05-17 16:51] italukder commented on #20848
Subject : global international Islamic education system

process

[2022-05-17 17:19] evanlwj opened #22498 "Quotes in --set parameter of redis update command given in the doc looks inaccurate"
[Enter feedback here]

I followed [az redis update](https://docs.microsoft.com/en-us/cli/azure/redis?view=azure-cli-latest#az-redis-update) doc to update shardCount for an existing redis instance.

If double quotes are included in --set parameter like *--set "shardCount"="1"*, An usage error promoted to me

[code]

If try this, another error promoted to me
[code]

If --set doesn't include double q

[2022-05-17 17:29] brianlehr commented on #19473
@yonzhan This has been opened since September of last year.  When will it be actioned?

[2022-05-17 17:59] RakeshMohanMSFT commented on #22444
@EmilAlipiev `--linux-fx-version "DOTNET|6.0"` this is the correct command to use for .net 6, You can get the supported functionapp linux runtimes with `az functionapp list-runtimes --os linux`

I will get the document updated.

[2022-05-17 18:55] D1v38om83r opened #22499 "Update "az sig gallery-application version" to include new parameter"
**Related command**
az sig

**Resource Provider**
Microsoft.Compute

**Description of Feature or Work Requested**
Command to update, new parameters in **bold**

az sig gallery-application version create
--application-name
--gallery-name
--install-command
--name
--package-file-link
--remove-command
--resource-group
[--default-file-link]
[--end-of-life-date]
**[--package-file-name]
[--config-file-na

[2022-05-17 19:53] gavinbarron commented on #22495
Another data point here. We first observed access restrictions being removed from some of our resources on May 13th PDT.

We had a number of other changes which we had initially attributed this issue to and had only just ruled them out today when I found this issue.

[2022-05-17 21:47] D1v38om83r opened #22501 "Update "az vm application set" and "az vmss application set" to include new parameters"
**Related command**
az vm

**Resource Provider**
microsoft.compute

**Description of Feature or Work Requested**
New parameters in bold

az vm application set --app-version-ids
[--app-config-overrides]
[--ids]
[--name]
[--order-applications]
**[--treat-deployment-as-failure]**
[--resource-group]

az vmss application set --app-version-ids
[--app-config-overrides]
[--ids]
[--name]
[--order-applicati

[2022-05-17 22:00] D1v38om83r opened #22502 "Update/Fix help text for "az vm application set" and "az vmss application set" parameter --order-applications"
**Related command**
az vm application set
az vmss application set

**Describe the bug**
Documentation for the parameter --order-applications has a grammatical error and is unclear. The text should be as follows.

--order-applications

Whether to set order index at each gallery applications. If specified, the first app version id get specified an order = 1, then next one 2, and so on. This paramete

[2022-05-17 23:45] yonzhan commented on #22494
route to CXP team

[2022-05-17 23:46] yonzhan commented on #22495
route to CXP team

[2022-05-17 23:47] yonzhan commented on #22496
route to CXP team

[2022-05-17 23:49] yonzhan commented on #22498
route to CXP team

[2022-05-17 23:55] yonzhan commented on #22499
Compute

[2022-05-17 23:56] #18878 closed

[2022-05-17 23:57] yonzhan commented on #22501
Compute

[2022-05-17 23:57] yonzhan commented on #22502
Compute

[2022-05-18 00:03] peter-banks commented on #22495
Also ran into this problem yesterday. From what I can tell its the resource manager returning an incorrect `ipSecurityRestrictions` property value, you can verify this by using resources.azure.com.

[2022-05-18 02:09] jsntcy commented on #22482
@roslynlu, is this feature request same as #22481?

[2022-05-18 02:54] YuanyuanNi commented on #22059
Hi：
     @ahanafusa As the way to use tags, you can refer below examples:
1.Add or update tags: az image update -n ImageName -g ResourceGroup --tags tag1=val1 tag2=val2
2.Remove all tags：az image update -n ImageName -g resourceGroup --tags
Best wishes.

[2022-05-18 03:40] navba-MSFT commented on #22301
@williamhbell I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-05-18 04:02] navba-MSFT commented on #22463
@kventil Thanks for reaching out to us and sharing this feedback. We are looking into this issue. We will provide more details once we have an update on this.

[2022-05-18 04:33] navba-MSFT commented on #22463
@kventil Apologies for the late reply. This is documented [here](https://docs.microsoft.com/en-gb/azure/cloud-shell/troubleshooting#user-permissions). This issue would occur, if you do not have full access to the /usr/local/bin path.

You can try with the `sudo az aks install-cli` and check if that helps. Alternatively, You can follow the below to install in a different location (download to a spe

[2022-05-18 04:40] mfawehinmi commented on #7874
Hi Emili,
where you able to get this resolved?

[2022-05-18 07:00] shreyasHpandya commented on #22465
Update:
I deleted all storage accounts and recreated. It started showing up now. Still don't know the root cause of original issue.

[2022-05-18 07:01] madsaune opened #22505 "az bicep decompile --force argument is unrecognized"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

The `az bicep decompile` will suggest to use `--force` when decompiling to an already existing `.bicep` file. The `--force` argument does not exist on `az bicep decompile` and throws an `unrecognized argument: --force`.

**Command Name**
`az bicep decompile`

**Errors:**
[code]

## To Reproduce:
Steps to repro

[2022-05-18 07:05] navba-MSFT commented on #22465
@shreyasHpandya Thanks for the update. I am glad that the issue is now resolved. Were you able to create support ticket and work with our support professionals before you fixed the issue ?

[2022-05-18 07:10] navba-MSFT commented on #20747
@yonzhan This can't be routed to CXP as this issue was created on Dec 15, 2021 and would be considered as backlog. CXP team would be happy to help on this on best effort basis.

[2022-05-18 07:46] yonzhan commented on #22505
route to CXP team

[2022-05-18 07:50] shreyasHpandya commented on #22465
I could not create support ticket, it requires paid support plan.

[2022-05-18 07:56] navba-MSFT commented on #22465
@shreyasHpandya Thanks for getting back. As I mentioned before, I wasn't able to replicate this issue. I did check a few of our backend issue knowledge bases but couldn't find any such similar issues being faced. So determining the exact cause of this issue wouldn't be possible. Nonetheless, I am glad that the issue is now fixed. If you need any further assistance in future please feel free to rep

[2022-05-18 07:56] #22465 closed

[2022-05-18 08:08] RakeshMohanMSFT commented on #22448
@enrique-palazuelos can you please help us with the --debug trace of the command you are running?

[2022-05-18 08:38] #21781 closed

[2022-05-18 09:38] #22327 closed

[2022-05-18 10:43] arndt-s commented on #22112
@PARADISSEEKR does your change add "listAssociatedResources" method to the MSI commands? I can only see that the api version got bumped up.

[2022-05-18 10:48] arndt-s commented on #22112
@PARADISSEEKR another thing I wanted to clarify: Will calls going to MSI control plane still be using `2018-11-30` by default and only `2021-09-30-preview` when specified?

[2022-05-18 11:03] alfeilex commented on #22345
Would it be possible to make an update so that via a bash script you can install Azure CLI directly on macOS without package manager.

[2022-05-18 11:32] zhoxing-ms commented on #22112
@PARADISSEEKR  Please  remember to add new commands for method `listAssociatedResources` to `identity` module

@arndt-s At present, the api-version in the official CLI can only set a fixed version in the RP level, it does not support allowing users to specify the api-version for each command. Therefore, the version currently used is `2021-09-30-preview`

[2022-05-18 11:36] arndt-s commented on #22112
@zhoxing-ms this API version is in public preview and for example not available in sovereign clouds yet.

[2022-05-18 11:59] #22502 closed

[2022-05-18 13:07] jaypee1990 opened #22509 "az ssh vm only works when VM has public IP"
**Related command**
az ssh vm -n <vmname> -g <rgname>
az ssh vm --ip <privateip>
az ssh vm -n <vmname> -g <rgname> --prefer-prviate-ip

**Describe the bug**
Trying to SSH from Azure cloud shell into Azure Linux VM using AADSSHLoginForLinux extension using above commands however it doesnt work and needs a public IP instead.

**To Reproduce**
Using a VM with only private IP and using above commands,

[2022-05-18 13:19] sjuarezgx commented on #21451
Hello
Is this already implemented?

[2022-05-18 14:23] peterromfeldhk opened #22510 "az role assignment create not actually finished"
**Related command**
[code]

**Describe the bug**
[code]

**To Reproduce**
Immediate call the the resource you assigned role for

**Expected behavior**
either wait until its pronated or give a way to see if it is done propagating

**Environment summary**
`mcr.microsoft.com/azure-cli:2.32.0`

**Additional context**
I tried to use API, but it does not return anything useful and i still get the same e

[2022-05-18 15:12] jiasli commented on #22510
This is the design of ARM RBAC service. Please see https://docs.microsoft.com/en-us/azure/role-based-access-control/troubleshooting#role-assignment-changes-are-not-being-detected

[2022-05-18 16:26] adrianhall commented on #21451
The next release of the APIM module has not yet been released.

[2022-05-18 16:58] sjuarezgx commented on #21451
Have you got any estimated time of when it will be released?

thanks

[2022-05-18 19:39] peterromfeldhk commented on #22510
i still get the same issue after logout/login

[2022-05-18 20:18] SatishBoddu-MSFT commented on #22247
We will now proceed to close this thread. If there are further questions regarding this matter, please tag me in your reply. We will gladly continue the discussion and we will reopen the issue.

Please also do visit [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/index.html) the home for technical questions and answers at Microsoft.

[2022-05-18 20:18] #22247 closed

[2022-05-18 20:50] shivanshi18 opened #22511 "az: error: unrecognized arguments: --expose-token"
trying to do a helm registry login with a username and password in a VM. Steps I am following are from
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-authentication?tabs=azure-cli#az-acr-login-with---expose-token

Commands I use:

az login --identity
USER_NAME="00000000-0000-0000-0000-000000000000"
PASSWORD=$(az acr login --name <registry-name> --expose-token --output

[2022-05-18 21:08] hivyas commented on #22174
Hello, I tried updating the `ams` module to use the new graph api which you can see the code for [here](https://github.com/hivyas/azure-cli/blob/hivyas/graphupdates/src/azure-cli/azure/cli/command_modules/ams/_client_factory.py#L32).  But I am running into this error:
`azure.cli.core.azclierror.AuthenticationError: AADSTS53000: Device is not in required device state: compliant. Conditional Access

[2022-05-18 21:23] Alonzoxxx opened #22512 "Kodi crashing"
**Related command**

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2022-05-18 21:25] Alonzoxxx commented on #22512
kodi crashes upon interaction with addons

[2022-05-18 22:44] Condabas opened #22514 "Source Config using SKU Y1"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When trying to use this CLI command with a Linux Function App using the "Y1" sku, it fails. If we change the sku to EP1, it completes.

**Command Name**
`az functionapp deployment source config`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted,

[2022-05-18 23:40] yonzhan commented on #22511
route to CXP team

[2022-05-18 23:41] yonzhan commented on #22512
Please provide detailed CLI command and error message.

[2022-05-19 00:35] jiasli commented on #22174
Hi @hivyas, this is because your machine is not compliant. You need to make sure your machine is AD or domain joined, and sync your computer's group policy.

![image](https://user-images.githubusercontent.com/4003950/169177568-5308e711-afa7-4ad4-a2fd-09b11f03191b.png)

Click **Info** button, and you will see a **Sync** button.

![image](https://user-images.githubusercontent.com/4003950/169177508-5

[2022-05-19 02:01] #22250 closed

[2022-05-19 03:11] navba-MSFT commented on #22480
Adding Service team to look into the DevOps Pipeline artifacts issues

@v-anvashist, @V-hmusukula Please look into this issue and provide an update once you get a chance

[2022-05-19 03:15] navba-MSFT commented on #22498
@evanlwj Thanks for reaching out to us and reporting this issue. We are looking into this issue. We will provide an update once we get a chance.

[2022-05-19 03:34] navba-MSFT commented on #21697
@abhisek88 This PR https://github.com/Azure/azure-cli/pull/22283 includes the fix and it is merged now. The fix should be available in the next release. Refer the [May milestone ](https://github.com/Azure/azure-cli/milestone/118). With that we will proceed with closure of this thread. If you need any further assistance on this in future, feel free to reopen this. We would be happy to help.

[2022-05-19 03:34] #21697 closed

[2022-05-19 03:35] navba-MSFT commented on #22344
@tanviapte This PR https://github.com/Azure/azure-cli/pull/22283 includes the fix and it is merged now. The fix should be available in the next release. Refer the [May milestone ](https://github.com/Azure/azure-cli/milestone/118). With that we will proceed with closure of this thread. If you need any further assistance on this in future, feel free to reopen this. We would be happy to help.

[2022-05-19 03:35] #22344 closed

[2022-05-19 03:35] navba-MSFT commented on #22315
@ptsapralis This PR https://github.com/Azure/azure-cli/pull/22283 includes the fix and it is merged now. The fix should be available in the next release. Refer the [May milestone ](https://github.com/Azure/azure-cli/milestone/118). With that we will proceed with closure of this thread. If you need any further assistance on this in future, feel free to reopen this. We would be happy to help.

[2022-05-19 03:35] #22315 closed

[2022-05-19 03:43] navba-MSFT commented on #22281
@dozer75 I wanted to do quick follow-up to check if you had a chance to look at my above comment and test the given workaround. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-05-19 05:27] #22457 closed

[2022-05-19 06:02] RakeshMohanMSFT commented on #22376
@petetnt It seems that the error message is misleading, essentially you cannot set both `--client-secret-setting-name --client-secret` together in the same statement. You can use two different statements to update these parameters.

I will get the error message updated and also the document. Let me know if you have any follow up question.

[2022-05-19 06:44] #22240 closed

[2022-05-19 06:44] #22261 closed

[2022-05-19 06:59] octomir opened #22520 "unable to use az with terraform 0.14.9"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad signed-in-user show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad signed-in-user show`

## Expected Behavior

## Environme

[2022-05-19 07:48] #21165 closed

[2022-05-19 08:53] ljns opened #22525 ""az mysql flexible-server firewall-rule create" resulting in "ERROR: (FirewallRuleNotExist)""
## Describe the bug

Running the `create` command for a new mysql flexible-server firewall rule results in an error that the rule doesn't exist.

**Command Name**
`az mysql flexible-server firewall-rule create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Create a MySQL flexible-se

[2022-05-19 09:15] navba-MSFT commented on #22498
@evanlwj Thanks for sharing the feedback. The above PR has been filed to address this issue. It is currently under review phase. In the meantime, if you have any questions, please let us know. We would be happy to help.

[2022-05-19 09:26] YuanyuanNi commented on #22422
Hi：
       @michaelhambe As the examples below ,az network private-link-resource list should return all private link resources in a certain range ( --id/ -n -rg -type ):
1:List all private link resources for a storage account.:
az network private-link-resource list -g MyResourceGroup -n MySA --type Microsoft.Storage/storageAccounts
2.List all private link resources for a keyvault:
az network priva

[2022-05-19 09:48] #21997 closed

[2022-05-19 09:48] MrMoshkovitz opened #22526 "az logicapp command not found"
[Enter feedback here]
Command Not Existed
![image](https://user-images.githubusercontent.com/50079480/169265080-4a851157-3f45-4de7-b0fe-60e24eb4bf65.png)
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 81e21e02-e42f-a0aa-e437-0ec8e73ab81b
* Version Independent ID: 29316eb6-a99d-6ccf-6e4d-5e352e391c31
* Content: [

[2022-05-19 09:54] #22112 closed

[2022-05-19 09:57] arndt-s commented on #22112
@zhoxing-ms if release of azure-cli will be official we cannot have the preview version on it as all calls regarding MSI will fail in regions where preview apiVersion is not available.

[2022-05-19 09:58] zhoxing-ms commented on #22112
@arndt-s We only upgraded the api-version in the profile used by public cloud, which will not affect the api-version used by Azure Stack or other sovereign clouds

[2022-05-19 09:58] arndt-s commented on #22112
Thank you for clarification.

[2022-05-19 10:01] zhoxing-ms commented on #22112
@arndt-s We release the official CLI for public cloud, I‘d like to confirm whether there are regions that are not available in the public cloud?

[2022-05-19 10:52] jsntcy commented on #21608
@mvvsubbu,

- When will the swagger be merged into [public swagger repo](https://github.com/Azure/azure-rest-api-specs/)?

- What's the release phase for the service? private preview? public preview? GA?

[2022-05-19 10:59] yonzhan commented on #22520
@jiasli for awareness

[2022-05-19 11:05] arndt-s commented on #22112
@zhoxing-ms I can confirm that all regions in public can serve traffic for `2021-09-30-preview`

[2022-05-19 11:11] yonzhan commented on #22525
route to CXP team

[2022-05-19 11:13] yonzhan commented on #22526
route to CXP team

[2022-05-19 11:16] Klaas- opened #22527 "az vm extension list to include support "--ids""
**Related command**

`az vm extension list --help`

**Is your feature request related to a problem? Please describe.**

I prefer to use IDs of VMs instead of --subscription ... --resource-group ... --vm-name ...

**Describe the solution you'd like**

All (most?) other commands support an ID, for example `az vm extension show --help`

**Describe alternatives you've considered**

I can split an ID i

[2022-05-19 11:19] yonzhan commented on #22527
Compute

[2022-05-19 11:20] jiasli opened #22528 "`az lock create`: `properties.owners` is not supported"
**Related command**
`az lock create`

**Describe the bug**

[Management Locks - Create Or Update At Resource Group Level](https://docs.microsoft.com/en-us/rest/api/resources/management-locks/create-or-update-at-resource-group-level) API has `properties.owners` which is a list of `ManagementLockOwner`s.

![image](https://user-images.githubusercontent.com/4003950/169281520-08321510-1663-4d54-8d5e-93

[2022-05-19 11:22] yonzhan commented on #22528
ARM

[2022-05-19 11:37] jiasli opened #22529 "`test_azconfig_import_export_naming_conventions` randomly fails"
**Describe the bug**

`test_azconfig_import_export_naming_conventions` randomly fails in "Test ubuntu jammy Package".

https://dev.azure.com/azure-sdk/public/_build/results?buildId=1587306&view=logs&j=5e86a2db-adda-5de7-5267-91d214f7a907&t=1b2a6e63-665b-5eba-3cb8-d397d5f17f4c&l=3123

[code]

[2022-05-19 11:41] yonzhan commented on #22529
route to CXP team

[2022-05-19 12:34] ugurtaftali opened #22530 "Azure CLI login issue: Error building AzureRM Client: Azure CLI Authorization Profile was not found"
**Related command**

**Resource Provider**

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2022-05-19 14:14] jiasli commented on #22530
Please provide more info for us to investigate. Thanks.

[2022-05-19 14:24] enrique-palazuelos commented on #22448
No worries  @yonzhan  @RakeshMohanMSFT, I've just realized that it's my fault. I had a commented line between parameters so the command wasn't launched correctly. Once fixed it works correctly.

Sorry for the inconvenience.

[2022-05-19 14:24] #22448 closed

[2022-05-19 14:43] jiasli commented on #22530
Could you further explain how this is done? If this is terraform issue, you may refer to https://github.com/Azure/azure-cli/issues/14778 or report to https://github.com/hashicorp/terraform-provider-azurerm

[2022-05-19 15:51] Abinaya587 commented on #22240
Still getting below error,when using az storage blob delete-batch --source {} --account-name {} --account-key {} --pattern {}
AttributeError: 'BlockBlobService' object has no attribute 'get_blob_client'

[2022-05-19 16:00] mvvsubbu commented on #21608
- We are doing Private Preview by 5/30
- Public Preview
   1. System Assigned Identity Support by 6/30
   2. User Assigned Identity Support by 9/30
- Merging of Swagger to Public Repo will be done ~6/30
- For User Assigned Identity I will add new API version after 6/30 in Public Repo
- We are looking for Az CLI release by 9/30 milestone for both System Assigned and User Assigned Identities Support

[2022-05-19 19:09] #17328 closed

[2022-05-19 19:31] dozer75 commented on #22281
@navba-MSFT Sorry forgot to answer, while the command does work, Azure has big issues with this for some reason.. It is impossible to create a working Azure Function App with dotnet in isolated mode on Linux environment that is working for us in westeurope, northeurope or norwayeast. We hade to some degree success on Windows environment, but that to is also unstable. As mentioned earlier I have tr

[2022-05-19 19:42] bolte-17 opened #22532 "Typo in --template-file option"
Typo in the --template-file option, `Bicpe file` instead of `Bicep file`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 649a07bb-0fa2-6c51-2820-88b1bafa80ba
* Version Independent ID: ace434b7-7549-8e6d-cab0-1612f422a0cf
* Content: [az deployment group](https://docs.microsoft.com/en-us/cli/azure/deployment/group?view=az

[2022-05-19 19:43] bolte-17 commented on #22532
NM found the edit option

[2022-05-19 19:43] #22532 closed

[2022-05-19 21:02] sstoops opened #22534 "List index error when executing `az advisor configuration show`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az advisor configuration show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az advisor configuration show`

## Expected Behavior

## E

[2022-05-19 21:57] haybeewhy opened #22535 "I got an error while trying to install the kubectl tool on cloudshell. Is there an alternative way to achieving that?"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli --install-location={}`

## Expected Behavior

## E

[2022-05-19 21:58] haybeewhy opened #22536 "I got an error while trying to install the kubectl tool on cloudshell. Is there an alternative way to achieving that? The command I used was "az aks install-cli --install-location=./kubectl""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli --install-location={}`

## Expected Behavior

## E

[2022-05-20 00:02] yonzhan commented on #22534
route to CXP team

[2022-05-20 00:03] yonzhan commented on #22535
route to CXP team

[2022-05-20 00:03] yonzhan commented on #22536
route to CXP team

[2022-05-20 02:05] calvinhzy commented on #22240
It should come as part of the release on 05/24/22.

[2022-05-20 02:56] snowsky commented on #21436
@navba-MSFT sorry, just saw the replies. I don't know if I can reproduce the issue. Will keep you posted :)

[2022-05-20 03:47] navba-MSFT commented on #22281
@dozer75 We had reached out to the Product Owners in the background and they are aware of this issue. Hence just to unblock you the workaround was shared. We hear you and understand the concerns. Apologies for the inconvenience caused.

Reference: https://github.com/Azure/azure-functions-dotnet-worker/pull/894

Also there's an issue tracking it https://github.com/Azure/azure-functions-dotnet-worke

[2022-05-20 04:01] navba-MSFT commented on #22321
@crowne I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-05-20 04:29] navba-MSFT commented on #22536
@haybeewhy Thanks for reaching out to us and sharing this feedback. We are looking into this issue. We will provide an update once we have more details.

[2022-05-20 04:36] navba-MSFT commented on #22536
@haybeewhy Apologies for the late reply. The error is documented [here](https://docs.microsoft.com/en-gb/azure/cloud-shell/troubleshooting#user-permissions). This issue would occur if you don't have the full access to the installing folder.

So you can follow the below steps to install in Cloud Shell:

To install kubectl (specific version) in a specified path in the home folder, for example:

**Ou

[2022-05-20 04:37] navba-MSFT commented on #22535
Duplicate of https://github.com/Azure/azure-cli/issues/22536

[2022-05-20 04:37] #22535 closed

[2022-05-20 04:43] PramodValavala-MSFT commented on #22438
@s20lee The fix was done to the module shipped as part of Azure CLI itself. It should be part of the next release.

[2022-05-20 05:52] RajatSahani commented on #7874
Thanks EmilAlipiev, Yes it has been resloved.

[2022-05-20 05:52] #22281 closed

[2022-05-20 06:57] meierale commented on #22230
Iast 're-routing' of this issue was over 2 weeks ago...
any updates on whether this is being tracked / analyzed? @SatishBoddu-MSFT? @yonzhan

[2022-05-20 07:30] v-anvashist commented on #22352
@yonzhan We are owing only azure devOps CLI service.

Config  set is not own by us.

Thanks,
Anjali

[2022-05-20 07:36] FumingZhang opened #22540 "Could not create keyvault with service principal after graph module migration"
**Related command**

`az keyvault create`

**Describe the bug**

Could not create keyvault with service principal after graph module migration.

![image](https://user-images.githubusercontent.com/81607949/169479609-afd10b7c-ff7b-4276-8f34-0baf7a8cf222.png)

**To Reproduce**

Create keyvault with a service principal.

**Expected behavior**

Able to create keyvault with a service principal like it u

[2022-05-20 07:39] chenrujun opened #22541 "`az monitor diagnostic-settings create` return error"
**Related command**

[code]

**Describe the bug**
Above command should work well, but it returns error like this:
[code]

**To Reproduce**
[code]

**Expected behavior**
Create successfully.

**Environment summary**
[code]

**Additional context**
![image](https://user-images.githubusercontent.com/13167207/169477990-b32e33d5-69c5-4014-89a8-3280c57b8919.png)

[2022-05-20 08:00] #19641 closed

[2022-05-20 08:07] RakeshMohanMSFT commented on #22437
@JoeEager-VUMC I am unable to reproduce the issue, though I have almost similar environment as yours.

One wild guess i have is rdbms-connect extension. Can you please upgrade that and see if that helps?

[2022-05-20 08:18] chenrujun commented on #22541
Problem solved. Refs: https://stackoverflow.com/questions/54258996/git-bash-string-parameter-with-at-start-is-being-expanded-to-a-file-path

Closing this issue.

[2022-05-20 08:18] #22541 closed

[2022-05-20 08:33] navba-MSFT commented on #20151
@tbelknapsgs Apologies for the late reply. I wasn't able to reproduce this issue using most recent version of the AzCLI. So Please use the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the AzCLI and test again? Awaiting your reply.

[2022-05-20 08:36] navba-MSFT commented on #20415
@waylew-lexis Apologies for the late reply. Could you please use the [most recent version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli) of the AzCLI and let us know if you see the same issue ? Awaiting your reply.

[2022-05-20 08:41] RakeshMohanMSFT commented on #22534
@sstoops Thank you for reaching out, we are looking into it.

[2022-05-20 08:53] dani3lheidemann commented on #22314
Hi @RakeshMohanMSFT,
when can we expect a fix? I have the same problem as @birdnathan.
We are currently not able to deploy via Azure Bicep!
Thanks!

[2022-05-20 09:01] RakeshMohanMSFT commented on #22534
@sstoops This advisor must have at least one default configuration when we get it by subscription API (the default), therefore I suggest you trying this API call once and let me know what output you get. https://docs.microsoft.com/en-us/rest/api/advisor/configurations/list-by-subscription.

If that API call is also empty then you will have to file a support ticket.

[2022-05-20 09:15] RakeshMohanMSFT commented on #22526
@MrMoshkovitz can you please let us know which version of CLI are you using? please install latest CLI [2.36.0](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?tabs=azure-cli)

[2022-05-20 09:51] RakeshMohanMSFT commented on #22525
@ljns Thank you for reaching out, we are looking into it.

[2022-05-20 09:58] RakeshMohanMSFT commented on #22525
@ljns We are unable to reproduce this behavior, can you please share --debug trace for this issue?

[2022-05-20 10:05] RakeshMohanMSFT commented on #22514
@Condabas Thank you for reaching out to us, we are looking into it.

[2022-05-20 10:06] ugurtaftali commented on #22530
Actually, I'm able to run another module of the same terraform script in the same Azure CLI. But for this module I keep getting this error. Can it be a compatibility issue?
Azure RM version is 2.11.0
Azure CLI version is 2.34.1

[2022-05-20 10:10] yonzhan commented on #22540
keyvault

[2022-05-20 10:21] crowne commented on #22321
Hi, thanks for your help.
The --file option which you mentioned has helped me work around the issue,
So I'm happy with the way things are for now.

[2022-05-20 10:24] navba-MSFT commented on #22321
@crowne Thanks for getting back. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-20 10:24] #22321 closed

[2022-05-20 10:49] #22540 closed

[2022-05-20 10:54] jiasli commented on #22530
Could you share the command and terraform script you used?

This issue looks more like a terraform issue to me, instead of Azure CLI.

[2022-05-20 10:58] ugurtaftali commented on #22530
This is just a part of first module which works fine:
provider "azurerm" {
  subscription_id = "${var.subscription_id}"
  features{}
}

terraform {
  backend "azurerm" {}
}

resource "azurerm_resource_group" "rg" {
  name     = "${var.resource_group}"
  location = "${var.location}"
}

[2022-05-20 10:58] RakeshMohanMSFT commented on #22514
@Condabas can you confirm if the bad request is showing this error message in the logs? `There was a conflict. Conflict with existing ScmType: GitHub`. If so please delete the existing source control configuration using this API https://docs.microsoft.com/en-us/rest/api/appservice/web-apps/delete-source-control#code-try-0 and try again. If not please share the --debug trace with us for further tro

[2022-05-20 10:59] ugurtaftali commented on #22530
provider "azurerm" {
  subscription_id = "${var.subscription_id}"
  features{}
}

terraform {
  backend "azurerm" {}
  required_providers {
    azurerm={
      source="hashicorp/azurerm"
      version="=2.11.0"
    }
  }
}

resource "azurerm_resource_group" "rg" {
  name     = "${var.resource_group}"
  location = "${var.location}"
}

[2022-05-20 11:04] RakeshMohanMSFT commented on #22511
@shivanshi18 Thank you for reaching out, we are looking into it.

[2022-05-20 11:07] ugurtaftali commented on #22530
terraform init -backend-config=".\backend.tfvars"
terraform plan

These are the commands

[2022-05-20 11:14] ugurtaftali commented on #22530
Terraform version is v1.1.6

[2022-05-20 11:16] jiasli commented on #22530
I am afraid this is not a problem of Azure CLI. You may feel free to reach out to Terraform: https://github.com/hashicorp/terraform-provider-azurerm

[2022-05-20 11:30] jiasli opened #22545 "[cognitiveservices] `test_cognitiveservices_identity` randomly fails: AssertionError: You need to call 'result' or 'wait' on all LROPoller you have created"
**Describe the bug**
`test_cognitiveservices_identity` randomly fails in "Test debian buster Package":

https://dev.azure.com/azure-sdk/public/_build/results?buildId=1590105&view=logs&j=c846b3e8-69b8-5dbd-1a39-4905d81e6a95&t=9ebb608a-8a51-5834-bad0-46e2c03d2282

[code]

This is similar to https://github.com/Azure/azure-cli/issues/21954 which was fixed by https://github.com/Azure/azure-cli/pull/219

[2022-05-20 11:34] jiasli commented on #22545
Responsible code:

https://github.com/Azure/azure-cli/blob/e1a6afe9b69d4541863fb08a194fe70d95457880/src/azure-cli/azure/cli/command_modules/cognitiveservices/custom.py#L271

[2022-05-20 11:38] mdheerendra commented on #17137
I have this same issue, I've created a Azure Resourse Manager Service Connection and While using az acr build --image reponame:imagename --registry acrname --file Dockerfile . with self hosted agent, I'm getting the same error.

[2022-05-20 11:43] BrunoDrljanovcan commented on #22495
Also ran into this problem today, setting the identity manually is working as expected but using this CLI command it is removing all the network access rules for the webapp.

[2022-05-20 12:02] yonzhan commented on #22545
cognitiveservices

[2022-05-20 12:04] yonzhan commented on #22545
route to CXP team

[2022-05-20 12:17] ljns commented on #22525
@RakeshMohanMSFT of course, thanks for having a look. Please see below for a transcript of the command after updating to `2.36.0` from `2.32.0` . I've removed potentially identifiable info like IP values and sub IDs:

[code]

[2022-05-20 12:58] #22530 closed

[2022-05-20 13:20] hemski635 opened #22546 "Issue with command 'az role definition list'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az role definition list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az role definition list`
- `az role definition list --subscripti

[2022-05-20 13:36] branflaker opened #22547 "Function App zip deployment failed to ASE - Max retries exceeded, getaddrinfo failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2022-05-20 13:43] stan-sz opened #22548 "Missing support for --force param for decompile"
## Describe the bug

**Command Name**
`az bicep decompile`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az bicep decompile --file {} --force`

## Expected Behavior

The --force flag is passed to bicep

## Environment Summary
[code]
## Additional Context

See the Bicep code change:

[2022-05-20 14:58] yonzhan commented on #22546
@jiasli for awareness

[2022-05-20 14:58] yonzhan commented on #22547
route to CXP team

[2022-05-20 14:59] yonzhan commented on #22548
route to CXP team

[2022-05-20 15:00] hemski635 commented on #22546
Unrelated, but I love the auto generated issues from az cli <3

[2022-05-20 15:58] zoesalome commented on #17938
I resolved this problem by not using my (protected) company WiFi. Just connected to the guest network the time of the download. Maybe it helps

[2022-05-20 16:58] avanigupta commented on #22529
Hi @jiasli, are these scenario tests run in parallel? Asking because we use the same test output file in 2 tests. So there may be a race condition where the `export_features.json` file is simultaneously updated by two different tests.

Also, were there any other failed runs apart from the one you linked above?

[2022-05-20 18:14] panchagnula commented on #21495
Closing due to lack of response. Please re-open if this still repros on the latest version

[2022-05-20 18:14] #21495 closed

[2022-05-20 18:19] panchagnula commented on #20390
@andygjp is the deployment you are trying on a newly created Linux app? The failure could be due to difference in runtime/ language versions b/w windows & Line apps.

[2022-05-20 18:21] panchagnula commented on #19156
Please re-open a new one if this still repros with the latest version of CLI. Thanks!

[2022-05-20 18:21] #19156 closed

[2022-05-20 18:29] panchagnula commented on #18818
Please retry with latest cli version & open new issue if this still repros.

[2022-05-20 18:29] #18818 closed

[2022-05-20 18:29] #18808 closed

[2022-05-20 18:39] jaganpani commented on #22270
@jsntcy any updates on this request.

[2022-05-20 18:44] cResults opened #22550 "az rest breaks when JSON parameter value has a space in it"
**Related command**
az rest

**Describe the bug**
passing az rest a json body object with a property that has a space in the value throws ERROR: unrecognized arguments:

**To Reproduce**
Whenever any of the string variables below contain an empty space, the error will be thrown.  For example, when the triggerPipeRequestedFor variable equals "John Doe", the error will be thrown, but if I manually s

[2022-05-20 19:08] panchagnula commented on #18846
Dupe of #18160

[2022-05-20 19:08] #18846 closed

[2022-05-20 19:26] panchagnula commented on #19035
This issue belong to the azure-functions-core-tools

[2022-05-20 19:32] panchagnula commented on #22491
@madsd is this something to do with CLI moving to the new api? //CC @StrawnSC

[2022-05-20 19:33] panchagnula commented on #22444
@RakeshMohanMSFT can this be close or transferred to doc team, since this not an active CLI issue?

[2022-05-20 19:34] panchagnula commented on #21319
Closing this since this is not a CLI issue, CXP team should work with functions & doc team to update the changes appropriately

[2022-05-20 19:34] #21319 closed

[2022-05-20 19:36] panchagnula commented on #19644
@haroonf can you take a look at the fix for this.

[2022-05-20 19:37] panchagnula commented on #19435
CLI has been updated with new SDK a while back & hence --settings can now be used to support the new porperties.

[2022-05-20 19:37] #19435 closed

[2022-05-20 19:42] panchagnula commented on #19434
@JohanRyberg we can't repro this issue , hence no fix was linked to this.
Will try this locally on an empty functionapp (no functions) & update this.

@haroonf can you check if you can repro this by creating  an empty  function app using functionapp create & then try an update on the same?

[2022-05-20 19:43] panchagnula commented on #19288
@yonzhan since this is speaking about using the command with az interactive, can you help us figure out if this functionapp command needs some changes on our end to work with az interactive?

[2022-05-20 19:44] panchagnula commented on #19071
this is a very old issue - can you please re-try with latest version of CLI & re-open if this still repros.

[2022-05-20 19:44] #19071 closed

[2022-05-20 19:46] panchagnula commented on #19061
@haroonf can you check if you can repro this one. there was a similar report from Logic apps as well.

[2022-05-20 19:47] EmilAlipiev commented on #22444
Thats obviously not working see SO post for more please

[2022-05-20 19:51] panchagnula commented on #22495
@calvinsID can you take a loo at this - might be the similar fix you did for update with access-restrictions properties being cleaned up by API PUT call - we might need to do a GET first for this command as well?

[2022-05-20 19:53] panchagnula commented on #22445
this seems like a problem with CLI install package - please try with a brand new full  re-install of CLI.

[2022-05-20 19:53] #22445 closed

[2022-05-20 19:57] panchagnula commented on #22117
@StrawnSC my guess the detection here is because there is on OS & this might be a new app, so wr try to detect language for which default OS to use, but we should honor the  --runtime. Can you check if we can make Changes to use --runtime value to set OS as well, in this scenario.

[2022-05-20 20:08] panchagnula commented on #22444
I understand that - my point being here that this is not CLI specific issue, & hence the documentation needs to be updated. The BADREQUEST is from the API level, so this needs to be routed to the right team.

[2022-05-20 21:46] anthonychu opened #22552 "staticwebapp appsettings set: Support environments"
**Related command**
`az staticwebapp appsettings set`

**Is your feature request related to a problem? Please describe.**
Cannot configure app settings for environments other than production.

**Describe the solution you'd like**
Add a `--environment` parameter. If supplied, app setting changes are applied to the environment specified, instead of production.

**Describe alternatives you've conside

[2022-05-20 22:35] StrawnSC commented on #22491
@panchagnula / @madsd I just double checked and we haven't changed the CLI code for `az functionapp vnet-integration add` for the past few months, so it seems like this change is coming from the API

[2022-05-20 22:49] DarqueWarrior commented on #22552
For consistency looking at `az staticwebapp environment functions` it has an --environment-name parameter it uses to identify the target environment for the change. If that existed on `az staticwebapp appsettings set` we would be good.

Donovan Brown
Partner Program Manager
Microsoft
Twitter: @DonovanBrown<https://twitter.com/donovanbrown>

________________________________
From: Anthony Chu ***@**

[2022-05-20 23:21] mateialexandru commented on #20735
Please add proper error messaging about the SKU requirement, instead of a generic message.

[2022-05-20 23:50] yonzhan commented on #22550
route to CXP team

[2022-05-20 23:54] yonzhan commented on #22552
route to CXP team

[2022-05-21 01:23] sarathys opened #22553 "az login uses incorrect port for endpoint-active-directory than what is registered for custom cloud"
When registering a custom AzureStack cloud (with a custom STS), az login tries to contact STS on 443 instead of using the TCP port specified when registering the cloud.

az cloud register -n Azs --endpoint-active-directory https://login.azs:3001/adfs --endpoint-active-directory-graph-resource-id https://graph.azs:3002/ --endpoint-active-directory-resource-id https://management.azs --endpoint-resou

[2022-05-21 01:44] yonzhan commented on #22553
@jiasli for awareness

[2022-05-21 08:00] #22220 closed

[2022-05-21 08:00] #20564 closed

[2022-05-21 08:00] #20359 closed

[2022-05-21 08:00] #20358 closed

[2022-05-21 08:00] #19993 closed

[2022-05-21 08:00] #19953 closed

[2022-05-21 08:00] #19933 closed

[2022-05-21 08:58] JohanRyberg commented on #19434
It might have been fixed in later versions? Was the exact same versions used during the test?

[2022-05-21 13:33] #22063 closed

[2022-05-21 14:46] #21536 closed

[2022-05-21 14:53] #16925 closed

[2022-05-21 17:55] SathishGP commented on #10762
Yeah. I am still facing this issue still. I am generating this as a part of the ARM templates using EV2 and it fails when trying to update the secondary eventHub. I am configured the deployments to be incremental, and there are no changes to the code as well in the subsequent deployments. This fails all the downstream tasks as a result. Can you help reopen the issue and mitigate it?

[2022-05-21 18:02] darsh-msft opened #22554 "not able to create 2 containers in same storage account"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage container create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage container create --name {} --account-name {} --ac

[2022-05-21 18:22] italukder commented on #20848
Subject : global international reserve money market rust board

international of reserve money dima activities working. Import - export money business market .  Remains money market . Ture many market business. airline and ships money market business medically metk business e.t.e

international mone demanding money allow market Global severcand curr transfer crrency
8. rM

[2022-05-21 20:06] terry-citrix opened #22555 "Example command in "az vmss diagnostics set" docs fails"
**Command Name**
`az vmss diagnostics set`

**Overview**
I'm running almost verbatim the example command from the docs at https://docs.microsoft.com/en-us/cli/azure/vmss/diagnostics?view=azure-cli-latest&WT.mc_id=Portal-Microsoft_Azure_Security

I'm doing so on a test VM Scale Set.  In particular on this test VM Scale Set the MS Defender for Cloud gave me a recommendation that "Diagnostic logs in

[2022-05-21 23:22] tyeth commented on #18818
Not worried about it, but still exists
![image](https://user-images.githubusercontent.com/6692083/169672041-25d0b14f-0b85-462b-aa69-50ebb504ab99.png)

[2022-05-22 00:52] yonzhan commented on #22554
storage

[2022-05-22 00:57] yonzhan commented on #22555
Compute

[2022-05-22 01:58] #22279 closed

[2022-05-22 01:58] #15439 closed

[2022-05-22 02:09] #20498 closed

[2022-05-22 02:18] evanlwj commented on #22498
Thanks for an update. Just a reminder, I guessed --set "sku.capacity"="2" might have the similar issue (I didn't verify it myself).

[2022-05-22 04:15] Rjcm19888888 opened #22556 "Grupo Report"
**Related command**

**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2022-05-22 04:16] Rjcm19888888 opened #22557 "Feature request"
**Related command**

**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

[2022-05-22 04:17] Rjcm19888888 opened #22558 "Service team support request"
**Related command**

**Resource Provider**

**Description of Feature or Work Requested**

**Minimum API Version Required**

**Swagger Link**

**Target Date**

[2022-05-22 08:35] yonzhan commented on #22558
Please provide detailed info

[2022-05-22 08:36] yonzhan commented on #22557
please provide detailed info

[2022-05-22 08:36] yonzhan commented on #22556
please provide detailed info

[2022-05-22 11:18] jiasli commented on #22556
Spam.

[2022-05-22 11:18] #22556 closed

[2022-05-22 11:18] jiasli commented on #22558
Spam.

[2022-05-22 11:18] #22558 closed

[2022-05-22 11:18] jiasli commented on #22557
Spam.

[2022-05-22 11:18] #22557 closed

[2022-05-22 11:18] jiasli commented on #22546
Duplicate of https://github.com/Azure/azure-cli/issues/19640

[2022-05-22 11:18] #22546 closed

[2022-05-22 11:20] #21349 closed

[2022-05-22 11:20] #14011 closed

[2022-05-22 11:30] jiasli commented on #19640
## How to tell if the installed Azure CLI is unofficial

**An unofficial Azure CLI has `dist-packages` in its call stack** (https://github.com/Azure/azure-cli/issues/22546):

[code]

`dist-packages` is Ubuntu Python's equivalent location of the official Python's `site-packages`.

[2022-05-22 14:38] RakeshMohanMSFT commented on #22534
@sstoops Yes, i was referring to API because internally CLIs call APIs and it is expected that the API return at least one object, which in your case is not happening that is is why it is failing. Can you please open a support ticket?

[2022-05-22 18:56] eliasarellano commented on #20284
Hello,
I have also the same doubt, I don't think that the az storage fs directory would be usefull, the container name is not part of the parameter, how can I precise it when I need to delete a directory from a container ?

[2022-05-23 03:42] jsntcy commented on #22270
@jaganpani, recently we developed a new CLI code generator and we'd like to invite you (or someone from your team) as our first customer to try our new code generator to generate CLI code automatically.
We can set up a quick meeting with you to guide you to generate code step by step using the tool.
Really appreciated if you can try our new codegen tool.

[2022-05-23 03:55] evelyn-ys commented on #22554
Seems that you wanted to create `darsh-dest-container` container under storage account `darsh-acc` but failed. Does the storage account `darsh-acc` exist?

[2022-05-23 03:58] navba-MSFT commented on #22301
@williamhbell The action is currently pending on you to test the above action plan. We will now proceed with closure of this github issue. If you need any further assistance on this issue in future, please feel free to reopen this thread. We would be happy to help.

[2022-05-23 03:58] #22301 closed

[2022-05-23 05:52] zoeperryman commented on #22495
This is a rather big issue for us as our deployments are now randomly removing the access restrictions and opening up what should be private services to the public internet.

I first found the issue setting the managed identity like this issue describes, but then found that some of our later scripts added a tag to the web app and that was also wiping the access restrictions. Both of these commands

[2022-05-23 05:55] panchagnula commented on #22495
@madsd /can we get some one from the feature team take a look as to why access-restrictions is being overridden when adding tags. Given this has the same experience, looks more to do with API than client az resource tag --tags MyTag=MyValue -g my-rg -n my-web-app --resource-type "Microsoft.Web/sites"

[2022-05-23 06:23] v-anvashist commented on #21582
@kgopi1 This is the only command which is causing issue in CentOS?

Can you please check some more commands in CentOS?

Thanks,
Anjali

[2022-05-23 06:39] navba-MSFT commented on #22463
@kventil I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-05-23 06:40] asafsofer-sl opened #22559 "az aks get-credentials failed with error : socket.gaierror: [Errno -3] Temporary failure in name resolution"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
``

**Errors:**
[code]

## To Reproduce:
run

az aks get-credentials --resource-group MyResourceGroup --name MyClsutername

- _Put any pre-requisite steps here..._
- ``

## Expected Behavior

should get the credentials  , instead getting the below error

The command failed with an unexpected e

[2022-05-23 06:54] ishepherd commented on #22495
@panchagnula @madsd  This is a security bug which caused access restrictions to be removed from some apps deployed on Azure. We happened to notice but other Azure customers might not have.

Therefore please handle appropriately
* Please try to work out who is affected, and let them know.
* Please conduct a root cause analysis and take action to prevent it recurring.

[2022-05-23 07:02] navba-MSFT commented on #22536
@haybeewhy I wanted to do quick follow-up to check if you had a chance to look at my above comment. Please let us know if you need any further assistance on this. Awaiting your reply.

[2022-05-23 07:07] evelyn-ys commented on #20284
@eliasarellano Please specify container name with `--file-system`:
![image](https://user-images.githubusercontent.com/10227683/169762837-dc68da9b-8510-4020-8d11-e63833a6ff68.png)

[2022-05-23 07:30] gitzalotl opened #22561 "az disk create; snapshot as source; (BadRequest) Security Type 'TrustedLaunch' is not supported for CreateOption 'Copy'."
## Describe the bug

**Command Name**
`az disk create`

**Errors:**
[code]

## To Reproduce:

1.  Deploy VM
[code]

2.  Create Snapshot of OS disk
[code]

3.  Attempt to deploy Disk from Snapshot
[code]

## Expected Behavior

Disk deployment succeeds with snapshot as source, and enables subsequent VM deployment with argument like `--attach-os-disk $NEW_OS_DISK_ID`.

## Environment Summary
[code]

[2022-05-23 07:38] YuanyuanNi commented on #21551
Hi :
     @nishil-ck As the error message mentioned that "All IP configuration on a nic should belong to the same ASG" ,it means that the ipconfig1 and ipconfig2 you used here should belong to the same ASG（testasg for example), maybe you should change your command in this way and try again.
Best wishes.

[2022-05-23 08:35] zhoxing-ms commented on #22470
@lsweeney24 Hi, since our work in this sprint has been fully arranged, we don't have enough time to support more requirements. Can this feature request be postponed to the release of the next sprint (**08-02**)?

[2022-05-23 08:36] zhoxing-ms commented on #22350
@laurawu19 Hi, since our work in this sprint has been fully arranged, we don't have enough time to support more requirements. Can this feature request be postponed to the release of the next sprint (**08-02**)?

[2022-05-23 08:37] zhoxing-ms commented on #22499
@D1v38om83r Hi, since our work in this sprint has been fully arranged, we don't have enough time to support more requirements. Can this feature request be postponed to the release of the next sprint (**08-02**)?

[2022-05-23 08:40] zhoxing-ms commented on #22466
@lakmeedee Hi, since our work in this sprint has been fully arranged, we don't have enough time to support more requirements. Can this feature request be postponed to the release of the next sprint (**08-02**)?

[2022-05-23 08:41] zhoxing-ms commented on #22275
@AjKundnani Hi, since our work in this sprint has been fully arranged, we don't have enough time to support more requirements. Can this feature request be postponed to the release of the next sprint (**08-02**)?

[2022-05-23 08:42] zhoxing-ms commented on #22182
@kimberlyyipc Hi, since our work in this sprint has been fully arranged, we don't have enough time to support more requirements. Can this feature request be postponed to the release of the next sprint (**08-02**)?

[2022-05-23 09:34] michaelhambe commented on #22422
Thank you @YuanyuanNi,

[2022-05-23 09:34] #22422 closed

[2022-05-23 09:50] lakmeedee commented on #22466
Sure. You can target this for 08-02 release

[2022-05-23 09:50] lakmeedee commented on #22466
However can we close on any queries or concerns you ahve on the changes by this month please?

[2022-05-23 10:15] michaelhambe commented on #20752
Any idea why the description parameter is required for authorising SQL private endpoints, but not for storage or keyvault endpoints?

[2022-05-23 10:16] yonzhan commented on #22559
route to CXP team

[2022-05-23 10:20] tbluejeans opened #22562 "Unexpected tunneling issues for databases with Bastion native client"
**Related command**
`az network bastion tunnel`

**Describe the bug**
We are using the command above to tunnel the database port of our local machine to the database running on one of our VMs via Azure bastion native client.
Command-line based tools have no problems using this connection to the database. However, GUI-based tools fail after the initial connect to perform a second query. They hang w

[2022-05-23 10:30] #22498 closed, assigned to navba-MSFT

[2022-05-23 10:33] lencarnacao opened #22563 "Error when trying to upload an aerospike (only?) stdout binary file to azure storage account using CLI"
**Related command**
asbackup -n trigger -v -z zstd --output-file - | az storage blob upload --auth-mode login --data @- -c containername--account-name accountname --name test_upload_file_name

**Describe the bug**
Using Aerospike (in this particular case) to export data and upload it to Azure Storage Account using CLI command.
The data is exported and compressed using zstd resulting on a binary fi

[2022-05-23 10:39] yonzhan commented on #22563
storage

[2022-05-23 10:44] zhoxing-ms commented on #22466
@lakmeedee In fact, CLI depends on Python SDK, could you guarantee that Swagger and Python SDK are ready in advance?

[2022-05-23 10:58] dreh23 commented on #22230
Same Problem for me

` ---> Interop+Crypto+OpenSslCryptographicException: error:0E076071:configuration file routines:module_run:unknown module name
`

[2022-05-23 11:07] lakmeedee commented on #22466
Link to the OpenAPI (swagger) spec: https://github.com/Azure/azure-rest-api-specs/pull/18159
@aspand to help with PythonSDK

[2022-05-23 11:08] svrooij commented on #21443
The portal is showing this message for over a year now, so removing it days before this finally get implemented seems strange. But since this message is still shown on the portal and it still doesn't work I think this issue should be re-opened @navba-MSFT what do you think?

[2022-05-23 11:10] svrooij commented on #22063
Why are all these issues closed, when it still isn't working on the cloudshell? Are they in the process of being released? @jiasli or @yonzhan ?

[2022-05-23 12:18] mpowrie opened #22564 "az quota list giving an error"
Following the instructions for `az quota list`, I get an error:
Command:
[code]

Error:
[code]
[Enter feedback here]

Version of az cli:
[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 96b74af1-0d1f-759a-1b76-85f8b97b4869
* Version Independent ID: 3ec784bc-0bff-e794-2fc3-dcb3d0e14ee3
* Content: [az quota](https:/

[2022-05-23 12:24] jiasli commented on #22063
The code change for Azure CLI is already finished by https://github.com/Azure/azure-cli/pull/22162.

[2022-05-23 12:37] yonzhan commented on #22564
quota

[2022-05-23 13:27] kimberlyyipc commented on #22182
@zhoxing-ms OK, but please do not delay it any further. thanks.

[2022-05-23 14:05] tagoreanand opened #22567 "Products and Tags"
Hi,

I'm using APIM resource toolkit v0.7 version and running pipeline with the help of config file.

In config file, I'm failing to add more than one product and tag. Please help me with block of code. If so, please answer for below Question also

I do have one question - If I added 3 products in v1 and if I add another 5 new products and removed previous 3 products in v2. Will the 3 previous pro

[2022-05-23 14:07] heyitsmekishore commented on #21461
Yes, everything is fine.

On Mon, May 23, 2022, 19:31 msftbot[bot] ***@***.***> wrote:

[2022-05-23 14:12] tagoreanand commented on #22567
Below is the sample snippet formats I tried
tags:
    - displayName: git, repo, gitlab-repo
products:
    - displayName: product1, product_2, product1-product2

second approach is

tags:
    - displayName: external
    - displayName: lt
    - displayName: bktool-lt
products:
    - displayName: product1
    - displayName: product_2
    - displayName: product1-product2
Third approach is

tags: git,

[2022-05-23 14:14] yonzhan commented on #21936
monitor service team could take a look

[2022-05-23 14:18] yonzhan commented on #22567
route to CXP team

[2022-05-23 14:27] panchagnula commented on #22495
@ishepherd if we need security analysis, could you please create an ICM for the team to track the ask, instead of the gitHub issue, so the @madsd & the right feature owners can do the needful, instead of using the CLI GitHub issue to track.

[2022-05-23 14:30] jiasli commented on #22529
`tests/latest/test_appconfig_commands.py::AppConfigImportExportScenarioTest::test_azconfig_import_export` failed today as well: https://dev.azure.com/azure-sdk/public/_build/results?buildId=1593730&view=logs&j=47870e38-5a53-5929-70f9-c65c4a436be8&t=4b4323e2-b1dc-59ac-6bbb-9f51b3f2dde3

[code]

[2022-05-23 14:47] Kalamazoo-DBA opened #22568 "az security task list recommendation results have Severity incorrectly reported as High."
**Related command**
$findings = `
az security task list -g ${{ parameters.resourceGroupName }} --query "[?contains(securityTaskParameters.severity, 'High')]" | ConvertFrom-Json

**Describe the bug**
Result set includes incorrect/inaccurate list of High Severity recommendations when compared to same result set as viewed in the Azure Portal.

**To Reproduce**
Create a resource group with storage acc

[2022-05-23 14:55] yonzhan commented on #22568
route to CXP team

[2022-05-23 15:09] madsd commented on #22495
@ishepherd yes, please raise a support incident/IcM for this. I suspect this is something in control plane and therefore a CLI issue is not the right way to route this to the appropriate team.

[2022-05-23 15:26] DimanNe commented on #10642
@jiasli Any updates on the issue? Pretty much everything (apart from azure) has fish completion:
* `kubectl completion fish`
* `helm completion fish`
* `kind completion fish`
* ...

[2022-05-23 16:42] dbradish-microsoft opened #22569 "az update is throwing error "No module name" in Windows 11, PowerShell 7.2.4"
Windows 11
PowerShell 7.2.4

The `az update` command is throwing the error "no module name" as reflected in the screen print below -->

![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/58762114/169867024-cbcf95ef-3eba-4918-a016-52d2146c3463.png)

CCing @mikefrobbins who originally reported this issue.

[2022-05-23 16:51] haraldsteinlechner commented on #7593
might have just ran into this one and it took quite some time to find it out. any news on this one?

[2022-05-23 18:38] ttasharski73 commented on #17137
I found that using docker login / docker build correctly uses the private endpoint.

I created a token on the ACR with a PW

Using this to login as example
echo ${{ secrets.ACR_PW }}| docker login -u ${{ secrets.ACR_USER }} --password-stdin _registryUrl_

This to build as example
docker build -t _registryUrl_/_imagename_ --file DockerFile .

[2022-05-23 19:16] SatishBoddu-MSFT commented on #22547
Hello @branflaker
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-23 19:17] SatishBoddu-MSFT commented on #22548
@stan-sz
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-23 19:20] SatishBoddu-MSFT commented on #22550
@cResults
Thanks for the feedback! We are currently investigating and will update you shortly.

[2022-05-23 19:32] rayluo commented on #21443
The `az ssh vm ...` command has long been supported, in two different ways, which might be the source of confusion.

1. Run `az login ...` and then `az ssh vm ...` on your local machine which already has Azure CLI installed. So I guess this is corresponding to that "1. Install Azure CLI..." guidance.
2. STILL need to run `az login ...` explicitly, and then `az ssh vm ...`, but them inside Cloud Sh

[2022-05-23 19:34] SatishBoddu-MSFT commented on #22550
Hello @cResults Could you please confirm if you are using the quotes for the value "BuildInitiatorName"? Wanted to check if adding quotes to the value resolve this issue/

[2022-05-23 19:44] cResults commented on #22550
Thank you for giving this prompt attention.  I'm not sure what you are asking.  The code as recorded above is failing.  Is there some place in the code block of the "To Reproduce" section that is missing quotes?  As far as I can tell from printing out the body variable right before calling az rest, everything I'd expect to be escaped and quoted including the BuildInitiatorName's value is escaped a

[2022-05-23 19:57] kfkonrad commented on #10642
`az` actually supported fish completion since 2019, but it's never been documented. `az` uses `argcomplete` internally which in turn has supported fish completion since 2019.  `az` simply inherited that feature. See https://github.com/kislyuk/argcomplete/pull/260 for details

I've implemented the completion for fish in https://github.com/fish-shell/fish-shell/pull/8141. It's available in fish 3.4.

[2022-05-23 20:09] haroonf commented on #20901
Wasn't able to repro this, could you try upgrading to latest version of cli?

[2022-05-23 21:10] ChangLiuMS opened #22572 "Please enable Azure monitor diagnostic settings AZ cmds to support the latest API version "2021-05-01-preview"."
**Related command**
az monitor diagnostic-settings

**Is your feature request related to a problem? Please describe.**
Please enable Azure monitor diagnostic settings AZ cmds to support the latest API version "2021-05-01-preview".
Details of the APIs version please refer to https://docs.microsoft.com/en-us/rest/api/monitor/diagnostic-settings

Thanks.

[2022-05-23 21:24] jago2136 opened #22573 "AVNM CLI Extension Update -- GA/Stable API"
**Resource Provider**

Azure Virtual Network Manager (extension name virtual-network-manager)

**Description of Feature or Work Requested**

We are migrating AVNM to the network stable API version. We are also going from Public Preview to GA on July 1st, so we would like anything related to PP to be removed from the extension. Changes in this new API version include:
- update/add link for our exte

[2022-05-23 22:35] a30000931 commented on #22190
why was this closed as completed? as per above it's neither closed nor resolved?
is this issue being tracked elsewhere?

[2022-05-23 22:42] yonzhan commented on #22569
@jiasli for awareness

[2022-05-23 22:48] yonzhan commented on #22572
monitor

[2022-05-23 22:50] yonzhan commented on #22573
network

[2022-05-23 23:33] adonaicosta opened #22574 "az aks show getting python error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks show -n {} -g {}`

## Expected Behavior

## Environment Summary
[code

[2022-05-23 23:35] dtzar opened #22575 "keyvault certificate download gives 'Bad Request'"
**Related command**
`az keyvault certificate download --file $CERT_PATH --vault-name $AKV_NAME --name $KEY_ID`

**Describe the bug**
I try to download a certificate which I have access to in AKV using this command and it gives the error:
`Operation returned an invalid status code 'Bad Request'`

**To Reproduce**
https://github.com/Azure/notation-azure-kv/blob/07758764ba0319d6cf1f17b189b1933e7639e0

[2022-05-23 23:46] yonzhan commented on #22574
route to CXP team

[2022-05-23 23:47] yonzhan commented on #22575
keyvault

[2022-05-24 02:36] keystroke commented on #22553
Similar issue in ADAL years ago: https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/issues/1627

[2022-05-24 04:19] AjKundnani commented on #22275
@zhoxing-ms - Sorry no, we're planning for GA of Confidential VM by June 30th 2022, so we request to consider this feature requirement for current sprint of 07-05 please.

[2022-05-24 04:38] rajakumarbabu opened #22576 "How to configure maintenance page in Traefik v1.7.33"
We are using Traefik V1.7.33 as Azure ServiceFabric Application, which will perform traffic redirection to the windows containers in VMSS. We need to redirect traffic to the maintenance web page when there is an container image refresh.  Following TOML configuration change didn't help.

`[http.middlewares]
  [http.middlewares.test-errorpage.errors]
    status = ["500-599"]
    service = "serviceEr

[2022-05-24 04:38] #22576 closed

[2022-05-24 04:39] rajakumarbabu commented on #22576
opened in wrong repo

[2022-05-24 05:35] je-ru opened #22577 "failed to refresh advisor recommendation list"
## I failed to refresh advisor recommendation list using az

**Command Name**
`az advisor recommendation list`

**Errors:**
[code]

## To Reproduce:
- `az advisor recommendation list --resource-group {} --refresh`
or
- `az advisor recommendation list --refresh`

## Expected Behavior
 Refresh without failure :)

## Environment Summary
[code]
## Additional Context

[2022-05-24 05:38] yonzhan commented on #22577
route to CXP team

[2022-05-24 06:23] worming004 opened #22578 "`az storage account create` fails on Fedora 35"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

I was trying to create a volume following this doc https://docs.microsoft.com/en-us/azure/container-instances/container-instances-volume-azure-files

**Command Name**
`az storage account create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted,

[2022-05-24 06:41] RakeshMohanMSFT commented on #21461
Thank you for the confirmation @heyitsmekishore

[2022-05-24 06:41] #21461 closed

[2022-05-24 07:02] necusjz commented on #22190
As the result of CLI is consistent with the response from Azure service, let's involve service team for help. The key point is: Why does "AzureMachineLearning" not contain region-related information in the response?

[2022-05-24 07:24] evelyn-ys commented on #22575
Need keyvault server side investigation

[2022-05-24 07:37] jiasli opened #22580 "Azure CLI is migrated to Microsoft Graph in 2.37.0"
Due to the [deprecation of Azure Active Directory (Azure AD) Graph](https://docs.microsoft.com/en-us/graph/migrate-azure-ad-graph-overview), Azure CLI is migrated to Microsoft Graph in 2.37.0 which is released on 2022-05-24.

Please carefully review all breaking changes introduced during this migration: https://docs.microsoft.com/cli/azure/microsoft-graph-migration

If you are not ready for the mi

[2022-05-24 07:58] robinmalik commented on #22505
Hitting this too.

[code]

[2022-05-24 07:59] jsntcy commented on #21903
@thisisdevanshu,
We'd like to share a good news to you:
Recently we developed a new CLI code generator and we'd like to invite you (or someone from your team) as our first customer to try our new code generator to generate CLI code automatically.
We can set up a quick meeting with you to guide you to generate code step by step using the tool.
Really appreciated if you can try our new codegen tool

[2022-05-24 07:59] robinmalik commented on #22548
I think this is a dupe of https://github.com/Azure/azure-cli/issues/22505

[2022-05-24 08:35] bd-clara opened #22581 "'SnapshotsOperations' object has no attribute 'resource_groups'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Hi
I have a python error when trying to create a snapshot on a netapp volume

**Command Name**
`az netappfiles snapshot create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisi

[2022-05-24 08:36] kairu-ms commented on #21404
@blueww I think there are some issues in swaggers. 'x-ms-long-running-operation' property should not defined in response. https://github.com/Azure/azure-rest-api-specs-pr/blob/582f5cb3c6324608bbc520742c857de785d5dd3c/specification/storagemover/resource-manager/Microsoft.StorageMover/preview/2022-07-01-preview/storagemover.json#L319

[2022-05-24 09:06] yonzhan commented on #22580
Due to the [deprecation of Azure Active Directory (Azure AD) Graph](https://docs.microsoft.com/en-us/graph/migrate-azure-ad-graph-overview), Azure CLI is migrated to Microsoft Graph in 2.37.0

[2022-05-24 09:18] blueww commented on #21404
@kairu-ms

Thanks for raising this swagger issue!
I have written a mail to feature team for this issue and include you
BTW, does this issue blocks CLI code generation?

[2022-05-24 09:24] Saglodha commented on #18664
@algattik , this has been fixed in our latest release. Please review the updated help and let us know in case of any concerns. Thanks

[2022-05-24 09:25] Saglodha commented on #19354
@monojit18 , this has been fixed in our latest release. Please review the updated help and let us know in case of additional concerns. Thanks!

[2022-05-24 10:52] navba-MSFT commented on #22574
@adonaicosta Thanks for reaching out to us and sharing this feedback. I see that you are using an older version of the `aks-preview` extension and Azure CLI. Could you please use the [most recent version of Azure CLI ](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli)and update your extension using the below command ?

Awaiting your reply.

[2022-05-24 11:04] rdhruval opened #22583 "az group create issue"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group create -l {} -n {} --subscription {}`

## Expected Behavior

##

[2022-05-24 11:45] yonzhan commented on #22578
storage

[2022-05-24 11:55] yonzhan commented on #22583
ARM

[2022-05-24 12:01] #22574 closed

[2022-05-24 12:12] vkamlesh opened #22584 "--query option not working in az logic workflow show"
While running az logic workflow list, I am able to fetch the version but when trying the same thing with az logic workflow show, I am not getting any response.

##### az logic workflow list output

`$ az logic workflow list --subscription 0000-xxxx-xxx-xxx-xxxxxxx -g operations --query "[].["version","name"]"
Command group 'logic' is in preview and under development. Reference and support levels:

[2022-05-24 14:31] mlovse1 opened #22587 "Enabling addon failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons --resource-group {} --name {} --addons {} --su

[2022-05-24 14:58] atkachuk-corgi commented on #20011
Hi folks
With the latest version of **az webapp config ssl bind** everything is working fine
Please close the ticket
P.S. Please don't update az webapp next couple of years

[2022-05-24 15:06] yonzhan commented on #22587
route to CXP team

[2022-05-24 15:08] #20011 closed

[2022-05-24 15:11] jgercken opened #22589 "az storage entity insert is failing with 'tuple' object has no attribute 'replace'"
az storage entity insert recently began failing

**Command Name**
`az storage entity insert`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `rowkey=333; az storage entity insert --only-show-errors --account-name {} -t {} --if-exists fail -e \
-

[2022-05-24 15:25] osiotugo opened #22590 "Unable to install Azure CLI ML Extension on MacOS"
## Describe the bug

**Command Name**
`az extension add -n azure-cli-ml`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.
- Pre-req: Install Azure CLI - https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-macos
- Run `az extension add -n azure-cli-ml`

## Expected Behavior
Instal

[2022-05-24 15:31] MariaLysik commented on #14695
@adrianhall, when I try the REST workaround then I get the _az_ error _The command line is too long._
Does it mean the _Az PowerShell_ is the only solution for big policies now?

[2022-05-24 16:09] eliasarellano commented on #20284
Hello again,
I tested the solution proposed by @evelyn-ys  and this worked with my storage account for testing purposes, but not with the other one.

The error that I got is this one:

`ERROR: cli.azure.cli.core.azclierror: (EndpointUnsupportedAccountFeatures) This endpoint does not support BlobStorageEvents or SoftDelete. Please disable these account features if you would like to use this endpoin

[2022-05-24 17:20] nayato opened #22591 "--query does not support fields with "." in name"
## Describe the bug

**Command Name**
`az sf application show`

**Errors:**
Empty result returned instead of value matching supplied query.

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sf application show --name {} -g {} -c {} --query parameters."abc.def"`

[2022-05-24 17:55] StrawnSC commented on #22117
This appears to be correct. I checked the places where we attempt to detect the language from the directory context (besides if `--runtime` is not provided). If `--os-type` is not specified, we try to pick an OS based on the directory contents. It should be pretty simple to modify this logic to use the `--runtime` language directly, if provided

[2022-05-24 18:16] aramase commented on #22575
@dtzar I did a quick test

1. `--name` can only be the name of the certificate. It can't be the id.
2. To get the certificate using the id, you can run `az keyvault certificate download --file $CERT_PATH --id $CERT_ID`. When id is provided, vault name is not required.

To get the certificate id, you can run
[code]

[2022-05-24 18:16] aramase commented on #22575
cc @jlichwa to correct me if I'm wrong

[2022-05-24 18:26] dtzar commented on #22575
`az keyvault certificate download --file $CERT_PATH --id https://redacted.vault.azure.net/certificates/wabbitnetworks/2de43313f57f489581f6e0eec4e7ddc2 --encoding PEM`
worked!
Same issue if I use the `--vault-name` and `--name` versus `--id`

[2022-05-24 18:28] estebanreyl commented on #22511
az acr login --name --expose-token --output tsv --query accessToken
I am assuming the registry name after --name was removed for the sake of the example? I tried replicating this behaviour (on a valid registry) but the command works  and I am not seeing the noted error. I tried this in 3 CLI versions, 2.36, 2.26 and the latest 2.37. I would suggest updating to the latest version and retrying, othe

[2022-05-24 18:30] aramase commented on #22575
@dtzar what are you using in the `--name` as part of the command?

This worked fine for me:
[code]

[2022-05-24 18:54] pallavgupta opened #22593 "az acr repository show fails intermittently"
We're running "az acr repository show" command in a loop and seeing it fails intermittently. In order to reproduce this issue I've created a bash script:

![image](https://user-images.githubusercontent.com/11171356/170110769-717cd003-f643-44f0-8ede-7ceb0ec0fef3.png)

command fails at 24th iteration and continue giving output at 25th iteration.

![image](https://user-images.githubusercontent.com/11

[2022-05-24 19:01] tagoreanand commented on #22567
Hi Team - Any update on this?

[2022-05-24 19:33] MarioArriaga92 commented on #20653
overwrite existing doesn't help

[2022-05-24 19:44] MarioArriaga92 commented on #20653
using `unset KUBECONFIG` before `az aks get-credentials --resource-group $1 --name $2 --admin --overwrite-existing --only-show-errors` helped:
[code]

[2022-05-24 20:24] bcosden opened #22594 "Bastion needs a --no-wait option"
Takes a long time to deploy and there is minimal dependency on it. Would be great to not wait and continue with script execution.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c10d6dab-e042-91dc-a213-943af0d5ad0e
* Version Independent ID: 399a501c-b96d-8867-078f-73dd9b8b3da2
* Content: [az network bastion](https://doc

[2022-05-24 20:25] bcosden opened #22595 "Need ability to enable native client via Azure CLI"
I am sure this is already planned. But would be great if this rolled out soon and was part of the creation process.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c10d6dab-e042-91dc-a213-943af0d5ad0e
* Version Independent ID: 399a501c-b96d-8867-078f-73dd9b8b3da2
* Content: [az network bastion](https://docs.microsoft.co

[2022-05-24 20:48] bbi-adamvengroff commented on #22480
Thanks for triaging @navba-MSFT! Do we have a sense on what the turn-around times for a response typically looks like?

[2022-05-24 21:01] rguptar opened #22597 "Unclear how to run az pipelines release create"
I am trying to use the `az pipelines release create` command. It is unclear what I need to pass to the `artifact-metadata-list` param.

I get the following error:
`The --artifact_meta_data_list argument should consistof space separated "alias=version_id" pairs. `

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: de490e1f-

[2022-05-24 21:32] sivetic opened #22598 "az monitor diagnostic-settings list does not return diagnostic settings for Log Analytics workspaces"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor diagnostic-settings list`

**Errors:**
Command does not return any diagnostic settings, even though a diagnostic setting can be observed in Azure Portal.  Command result:
[code]

Portal:
![image](https://user-images.githubusercontent.com/1087320/170136016-c16c25c7-503c-41fa-800b-08

[2022-05-24 21:55] StrawnSC commented on #22117
I have a PR in progress that would fix this: #22592.

@charris-msft I'm also curious to know why the language detection failed on your app. Ideally the CLI would recognize it as a python app even if you left off `--runtime`. Do you have a GitHub link to the app (or a zip file) you could DM me on teams?

[2022-05-24 22:09] GMZwinge opened #22599 "App Service deploy error Input string was not in a correct format"
## Describe the bug

An App Service deployment with a custom script that somehow displays a `{` to stdout can fail deployment at the line that display this character with this error message in the deployment log: `Input string was not in a correct format.` Example of custom script custom.cmd that produces the error: `@echo {`, or a PowerShell command with Where-Object or ForEach-Object like `Power

[2022-05-24 22:14] charris-msft commented on #22117
@StrawnSC -
It was just a test I was setting up so I don't have a repo for it.
If I hit it again, I'll create a repo and share it.

[2022-05-24 22:52] dtzar commented on #22575
Weird.  Now the same command which caused the problem works for me and I've changed nothing (not even logging out/in again).  Perhaps something was just fixed on the backend @evelyn-ys ?

[2022-05-24 23:10] carlrab commented on #19492
Still fails for me.

From: Haroon Feisal ***@***.***>
Sent: Monday, May 16, 2022 1:51 PM
To: Azure/azure-cli ***@***.***>
Cc: Carl Rabeler (AQUENT LLC) ***@***.***>; Comment ***@***.***>
Subject: Re: [Azure/azure-cli] WebApp:az webapp config backup restore fails (#19492)

This has been fixed: #22365<https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2FAzure%2Fazure-cli%2F

[2022-05-24 23:52] panchagnula commented on #19492
@carlrab did you try this with the latest cli release 2.37.0?

[2022-05-25 00:14] carlrab commented on #19492
I tried it in Cloud Shell.

From: Sisira Panchagnula ***@***.***>
Sent: Tuesday, May 24, 2022 4:52 PM
To: Azure/azure-cli ***@***.***>
Cc: Carl Rabeler (AQUENT LLC) ***@***.***>; Mention ***@***.***>
Subject: Re: [Azure/azure-cli] WebApp:az webapp config backup restore fails (#19492)

Still fails for me. From: Haroon Feisal @.> Sent: Monday, May 16, 2022 1:51 PM To: Azure/azure-cli @.> Cc: Carl Ra