[2019-08-07 12:26] ross-p-smith commented on #9933
I have the same issue. I have reproduced it in two different tenant/subscriptions from Cloud Shell

ross@Azure:~$ az ad sp create-for-rbac --debug
Command arguments: ['ad', 'sp', 'create-for-rbac', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<function CLILogging.on_global_arguments at 0x7f8bf25d0d08>, <function OuEvent: CommandInvoker.OnPreCommandTableCreate [

[2019-08-07 12:33] ravisjoshi opened #10177 "Can't open AKS Kubernetes dashboard with az aks browse"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --resource-group {} --name {}`

## Expected Behavior

## Env

[2019-08-07 13:00] jiasli commented on #10079
It looks like `requests` is not reading from CLI's default CA bundle at `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\Lib\site-packages\certifi\cacert.pem`.

 Could you run `SET` in command prompt to check if `REQUESTS_CA_BUNDLE` is set to `C:\WINDOWS\System32\cacert.pem`? If so, please remove this environment variable and retry `az login`.

[2019-08-07 13:24] jiasli commented on #10127
A scope is simply an Azure resource ID. For CosmosDB, it's like
`/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DocumentDB/databaseAccounts/{accountName}` defined in https://docs.microsoft.com/en-us/rest/api/cosmos-db-resource-provider/databaseaccounts/createorupdate

It also appears in the address bar of the web browser when checking the CosmosDB database i

[2019-08-07 13:51] jonathandbyrd commented on #9980
it's a bit of a hack but it works...

az monitor action-group update --name <enter-name-of-action-group-to-update> --set emailReceivers[0].useCommonAlertSchema=true --resource-group <enter-your-resource-group>

[2019-08-07 15:05] ncbrown1 commented on #10085
@yugangw-msft , yes that looks to work nicely. I'd suggest that in cases where the application cannot make a decision, instead of outputting nothing, perhaps there can be a configurable fallback default to something like this?
[code]

[2019-08-07 15:31] murathatipoglu opened #10178 "az interactive fails on OSX CLI"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2019-08-07 15:48] nexxai commented on #8244
I'm not totally clear on the requirements; I'm just a Terraform user that has a project temporarily hung up on this API support.  If there's something I can help with from a user perspective, I'd love to help contribute however I can.

[2019-08-07 16:26] panchagnula commented on #10117
@Feeloh please respond if this is still an issue - the API regression has been fixed for a while.

[2019-08-07 16:26] #10117 closed

[2019-08-07 16:27] panchagnula commented on #10109
This was because on a regression on our Appservice APIs - this should now be fixed. Please respond if this still repros

[2019-08-07 16:27] #10109 closed

[2019-08-07 16:30] panchagnula commented on #10105
Closing this since we haven't heard back, try passing a valid JSON object as an input , NOTE: don't use the format that portal uses In configuration, that is not the signature of the object on the backend API. You can check https://resources.azure.com to get the Json object

[2019-08-07 16:30] #10105 closed

[2019-08-07 16:30] panchagnula commented on #9984
Closing  this question

[2019-08-07 16:30] #9984 closed

[2019-08-07 16:32] panchagnula commented on #9972
Still unable to repro this on our end - moving to next sprint to investigate further.

[2019-08-07 16:55] gustavo-accellog opened #10179 "The command az webapp up failed with an unexpected error - Python 2.7"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up -g {} -n {} -l {} --sku {} -p {}`

## Expected Behavior

## En

[2019-08-07 17:02] panchagnula commented on #10179
@gustavo-accellog please update the python version 3.5 or higher & this should be resolved. Looks like I missed a part of the code which is still using glob that is not available on older versions of Python.

[2019-08-07 17:05] akshaysngupta commented on #8244
@MyronFanQiu
* Yes, AppGW uses `userAssignedIdentity` to access secrets in KeyVault. Yes, SecretId is set in the SslCertificate as `keyVaultSecretId` field.
* No, as of now, AppGw usage of identity is constrained. We only allow one userAssignedIdentity on gateway. Remaining are rejected in validation.
* Yes, we might add support for keyvault to trusted root certificates, but for now, please skip i

[2019-08-07 17:52] yugangw-msft commented on #10085
@ncbrown1, thanks for the confirmation. I agree with you we should not be completely silent, maybe we should at least output a `warning` to tell users that there is data but table output can't handle it, and recommend "-o json"

[2019-08-07 18:15] CecileRobertMichon commented on #10178
Also failing from cloud shell with the same error (version azure-cli 2.0.70)

[2019-08-07 18:38] akx commented on #7367
The perf drawbacks are easily mitigated with https://pypi.org/project/fastentrypoints/ .

[2019-08-07 18:54] mancgupta commented on #9380
It's an integer value but input is taken as a string.

[2019-08-07 18:58] stevengum commented on #9378
Closing this issue as the answer was provided in this [comment](https://github.com/Azure/azure-cli/issues/9378#issuecomment-497395690). To upgrade/update the settings on the App Service or App Service Plan via the CLI, use `az webapp` or `az appservice`.

[2019-08-07 18:58] #9378 closed

[2019-08-07 19:25] beastmondncm commented on #8912
The online documentation for this command makes no mention of the MSI requirement. Automation is hindered by this MSI requirement.

[2019-08-07 19:29] beastmondncm opened #10181 "Lack of MSI Requirement documentation"
According to a git hub issue opened with the permissions command there is an undocumented (at least publically (aka here)) that for the command to succeed an MSI must be used and/or it must be run on the AZ CLI locally - not in the cloud shell. Specifically the `az ad app permission admin-consent` command.

Reference GitHub: Azure/ azure-cli issue 8192

The requirement for MSI hinders the automati

[2019-08-07 19:49] owenmather commented on #9972
@panchagnula

I have set up a repo so you can reproduce the error using a test pfx cert.
[https://github.com/owenmather/az-webapp-bind-err-demo](https://github.com/owenmather/az-webapp-bind-err-demo)

Running the script from here reproduces the error for me every time:

`Certificate for thumbprint '3200E6FD65363F3611CDF63DF2A14B0FB0DD4560' not found.`
Hopefully this will help you recreate this iss

[2019-08-07 20:15] #9116 closed

[2019-08-07 20:15] #10179 closed

[2019-08-07 20:16] #10166 closed

[2019-08-07 20:18] panchagnula commented on #10070
Closing this due to lack of response for 12 days

[2019-08-07 20:18] #10070 closed

[2019-08-07 20:23] gustavo-accellog commented on #10179
I had the same problema in az aks creat and it was ok now.
https://github.com/Azure/azure-cli/issues/9651#issuecomment-518289351
I'm using CentOS 7 and the python 2.7 is default. But I use python 3.6 too.

[2019-08-07 20:23] panchagnula commented on #10061
closing this since we haven't heard back on this. if this still happens please open a new one issue but before doing that please go to the scm site https://<appname>.scm.azurewebsites.net/newui

& on top right you should the the most recent deployment  - click ViewLogs & share info from it if possible

[2019-08-07 20:23] #10061 closed

[2019-08-07 20:44] panchagnula commented on #9955
Moving this to next sprint release

[2019-08-07 20:45] panchagnula commented on #9887
Moving this by a sprint

[2019-08-07 20:46] panchagnula commented on #9789
Nick is working on make some updates/fixes to the extension version based on some feedback, pushing the release to core by another sprint

[2019-08-07 20:55] #5524 closed

[2019-08-07 21:22] panchagnula commented on #5760
Will do this with the ASE creation support work we have planned

[2019-08-07 21:38] yugangw-msft commented on #10178
dupe of #10088, which has the workaround you can use till Aug 13

[2019-08-07 21:38] #10178 closed

[2019-08-07 21:41] yugangw-msft commented on #9933
@ross-p-smith, your issue is difference. The text of `http://localhost:50342/oauth2/token` means you are running inside the a cloud shell. The `400` error code means the cloud shell was not able to provide the token. This is a bug in cloud shell.
CC @maertendMSFT

[2019-08-07 21:45] yugangw-msft commented on #10165
@maertendMSFT, when cloud shell would be able to supply the token for resources of  `https://database.windows.net/` and `https://ossrdbms-aad.database.windows.net`?

[2019-08-07 21:46] #10165 closed

[2019-08-07 21:47] yugangw-msft commented on #10165
We will reactive when cloud shell supports it. This is not a CLI issue.

[2019-08-07 22:53] anavinahar commented on #9993
Hi folks, this feedback is definitely valid, however, this would be considered a breaking change by few customers. We haven't yet planned for this change.

[2019-08-08 00:06] #9720 closed

[2019-08-08 00:06] #9721 closed

[2019-08-08 00:58] ctolkien opened #10182 "AZ Interactive crashes"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

`az interactive` crashes when trying to run. Have just upgraded both the CLI and all extensions

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az interactive`

[2019-08-08 00:58] Juliehzl commented on #10085
@ncbrown1 We will do some changes soon and thanks for your advice.

[2019-08-08 00:58] #10085 closed

[2019-08-08 00:59] ctolkien commented on #10182
Probable dupe: https://github.com/Azure/azure-cli/issues/10088

[2019-08-08 00:59] #10182 closed

[2019-08-08 01:21] MyronFanQiu commented on #8244
Oh. Sorry. 😄 I thought you were the PM of our service's team.

[2019-08-08 01:22] MyronFanQiu commented on #8244
Thanks.

[2019-08-08 01:23] MyronFanQiu commented on #9380
so, the range of these two fields is 0-infinity. Am I right?

[2019-08-08 01:24] #10050 closed

[2019-08-08 01:53] jiasli commented on #10134
As discussed, this is due to outdated browser cookies. The solution is to purge browser cache and re-login to CLI.

[2019-08-08 01:53] #10134 closed

[2019-08-08 01:56] Juliehzl commented on #9771
@serbrech  Can you show the two different format you used for generating sas token? It will give us some idea for bad parameters format validation.

[2019-08-08 05:32] panchagnula commented on #9424
@tuthan please let us know if this still repros with the latest CLI version

[2019-08-08 05:32] #9424 closed

[2019-08-08 05:33] panchagnula commented on #9244
@Nking92 we got an internal email referring this issue as well - can you check if this is something that is not fixed with the SDK

[2019-08-08 07:39] danieldunderfelt commented on #9158
I just ran into this, using version 2.0.70. The same command works well using the account key, but once I tried using a SAS token it did not work.

[2019-08-08 07:51] Feeloh commented on #10117
Thanks, I used an alternative way for deploying my web application on azure :)

[2019-08-08 08:15] smartpcr commented on #10104
resolved offline. thanks!

[2019-08-08 08:15] #10104 closed

[2019-08-08 09:18] a3nick opened #10188 "az storage blob upload fials on Windows Server 2019"
## Describe the bug

**Command Name**
`az storage blob upload` using AZURE_STORAGE_ACCOUNT and AZURE_STORAGE_KEY environment variable for authentication

**Errors:**
[code]

## To Reproduce:
Any call to

- `az storage blob upload -c {} -f {} -n {}`

fails in Windows Server 2016 and 2019. It works well on a Windows 10 machine.

## Expected Behavior
The operation must complete succesfully

## Enviro

[2019-08-08 09:40] jiasli opened #10189 "az login --debug is not showing HTTP request"
**Describe the bug**
With CLI 2.0.70, `az login --debug` is not showing HTTP request.

**To Reproduce**
Run `az login --debug`.

**Expected behavior**
HTTP request should be shown as
[code]

[2019-08-08 09:54] yoprogramo opened #10190 "I am the owner of all resources and I receive this error when try to create a File share"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage share create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage share create --account-name {} --account-key {} --nam

[2019-08-08 10:13] MyronFanQiu commented on #9380
Meanwhile, the type of this filed is array. https://github.com/Azure/azure-rest-api-specs/blob/8a1e364ceba55f27ec737eb3bc48a83cdcd0b70d/specification/network/resource-manager/Microsoft.Network/stable/2019-04-01/ddosCustomPolicy.json#L311 Could customers provide more than one `ProtocolCustomSettingsFormat`? Because there is no id/name of `ProtocolCustomSettingsFormat`. A little bit strange for this

[2019-08-08 10:19] MyronFanQiu commented on #9380
@mancgupta Is this feature available in the Azure Cloud? I checked several regions like eastus, eastus2, westus, westus2, centralus. However, this feature is not available in the above locations.

[2019-08-08 11:27] x10an14 opened #10191 "`az aks create` gives `Could not create a role assignment for subnet. Are you an Owner on this subscription? Operation failed with status: 'Bad Request'. Details: Internal server error`"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
I'm unable to create a kubernetes cluster with the below `az` cli command, with the settings/inputs given.

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
I've written some shellscripts to automate the creation and set-up of the K8s cluster and associated resources (`acr`/`keyvault`/etc.

[2019-08-08 13:54] colemickens opened #10192 "az storage blob {upload|copy blob} doesn't support SAS URLs"
**Describe the bug**
My entire complaints about MD and storage accounts seems to actually be already solved by Azure, but not documented. Further, after some time, I still can't piece together if it's actually possible with the CLI.

`azure disk create ... --for-upload true ...` returns a SAS URL that looks like this:

`https://md-impexp-t4nfwj1qcc3j.blob.core.windows.net/pk5qjbl3lnhn/abcd?sv=2017

[2019-08-08 14:04] colemickens commented on #10192
If I try to decompose the URL into its parts, here's what happens:

[code]

[2019-08-08 14:05] colemickens commented on #10192
1. I should not have to decompose the URL.
2. Presumably, even if I do, this should work?

extra note, I tried with `--auth-mode key` and it failed in the same way.

[2019-08-08 14:10] colemickens commented on #10041
It actually appears that Managed Disks + SIG might support exactly what I need to avoid managing storage accounts myself, but there's further clarification needed. See: https://github.com/Azure/azure-cli/issues/10192

[2019-08-08 14:23] colemickens commented on #10192
And trying to test with curl is proving extremely frustrating. The docs for REST storage are near useless: https://docs.microsoft.com/en-us/rest/api/storageservices/put-page Look at the links for those headers and tell me how anyone is supposed to know what to do? The page for Auth gives zero examples. The page for versioning gives no examples and only lists the latest version and completely muddl

[2019-08-08 14:24] keithdoyle9 commented on #7102
No longer using azure repos.

[2019-08-08 14:24] #7102 closed

[2019-08-08 14:41] colemickens commented on #10192
sasurl="https://md-impexp-t4nfwj1qcc3j.blob.core.windows.net/pk5qjbl3lnhn/abcd?sv=2017-04-17&sr=b&si=1d2b08af-d097-4d3f-b468-a7d4c91c7d04&sig=%2FjClxzQFf3O1ulyHn3xR1287XPdweHLnJKdYfj3ErZI%3D"

    echo "lolazure" > /tmp/test.log
    curl -v \
      -X PUT \
      -H "Content-Type: application/octet-stream" \
      -H "x-ms-date: $(date -Ru | sed 's/\+0000/GMT/')" \
      -H "x-ms-version: 2018-03-

[2019-08-08 15:14] paulcarlton opened #10193 "unable to upload file to storage blob container"
az storage blob upload -f /home/pcarlton/OpsRamp-Gateway-500.vhd -c glocgateway -n default --account-name abcb375ctmsconsolevvd

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob upload`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sen

[2019-08-08 15:54] mancgupta commented on #9380
We have internal thresholds on the max rate possible depending up network protocol.

[2019-08-08 15:54] mancgupta commented on #9380
Only the APIs are available. It's not available on portal and PS yet.

[2019-08-08 15:55] mancgupta commented on #9380
Currently we don't have any customer using this feature.

[2019-08-08 15:55] rodrigotactech opened #10194 "cannot publish function on fedora 30 using official packages"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az functionapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az functionapp deployment source config-zip

[2019-08-08 15:59] rodrigotactech commented on #10194
it is just and uncontrolled ex. The real problem was some bad params given.
It should be nice if the Error is controlled and tells you something usefull

[2019-08-08 16:47] yugangw-msft commented on #10194
@panchagnula, why AppService sercice end doesn't throw when there is the plan doesn't exist?

[2019-08-08 17:21] knbnnate commented on #8912
This hindrance is affecting my organization's use of AKS. We need to be able to automate cluster deployment from Azure DevOps.

[2019-08-08 17:50] yugangw-msft opened #10195 "core: updating the msrest dependency to 0.6.9"
This is to incorporate the fix of https://github.com/Azure/msrest-for-python/pull/167

@zikalino, please take this on and fix it for the current release across all the installers. You can sync up with @iluican for the verification.

Note, all requirement files should be updated. For cloud shell, the one is [here](https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/requirements.py3.Linux.txt#

[2019-08-08 18:23] jaepark08 commented on #10018
@MyronFanQiu Any progress in this? Sprint 67 code complete date seems to have passed. Is this going to be in 8/13/2019 release?

[2019-08-08 18:43] yugangw-msft commented on #9384
@akramwaseem @hofnarwillie, please check out #10196 which I will merge for release on Aug 27.
@jiasli, please review

[2019-08-08 18:50] ackbaradmiral opened #10197 "[webapp] - az appservice plan update - 'NoneType' object has no attribute 'sku'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az appservice plan update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az appservice plan update --sku B3 -n AppName -g ResourceName`

## Expected Behavior
AppService Upgrad

[2019-08-08 20:11] #8052 closed

[2019-08-08 20:14] Octorocka opened #10198 "Azure CLI won't install for Ubuntu disco"
I am having issues installing the azure cli for 19.04 (Disco Dingo) when I follow the instructions from
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest

At step 4 I am getting an error message,

W: The repository 'https://packages.microsoft.com/repos/azure-cli disco Release' does not have a Release file.
N: Data from such a repository can't be authenticated a

[2019-08-08 20:32] surajmb commented on #10055
@gjdonkers The "Use for App Service" option is a UI only option which does two things
1. Enables "Pick hostname from backend address"
2. Enables Custom Probe

In PowerShell or CLI, we don't have that as a single switch, hence you can use the following CLI switches to achieve them

[--host-name-from-backend-pool {false, true}]
[--probe]

For example, az network application-gateway http-settings upd

[2019-08-08 20:34] bpelikan opened #10199 "'az rest' with param '--resource' ending without '/'"
## Describe the bug

**Command Name**
`az rest`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az rest --uri {} --method {} --headers {} --resource "https://management.azure.com"`

## Expected Behavior
Could it work like with param ending with `/` or although to return some more inf

[2019-08-08 20:39] pmaaren commented on #9980
Hi jonathandbyrd, I have tried your solution and it works for me despite the warning message.

Thanks for your help.

[2019-08-08 21:51] doodlemania2 opened #10200 "az interactive fails: No module named 'prompt_toolkit.interface'"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2019-08-08 23:51] dwj300 opened #10202 "Docker image vulnerability"
The latest docker image is vulnerable to CVE-2019-5021:

docker run -it microsoft/azure-cli:latest sh
/ # cat /etc/shadow | grep root
root:::0:::::

To fix, please build from a newer version of alpine:
https://alpinelinux.org/posts/Docker-image-vulnerability-CVE-2019-5021.html

[2019-08-09 00:28] jdoof commented on #10200
getting this issue also

[2019-08-09 01:20] MyronFanQiu commented on #9380
@mancgupta So it seems that this issue doesn't have high priority. I will move this one to the next sprint.
cc @MikhailTryakhov

[2019-08-09 01:21] jiasli commented on #10200
This is a duplication of #10088. We have fixed it in 2.0.71 and will release it on 2019-08-13. See https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/HISTORY.rst

[2019-08-09 01:22] MyronFanQiu commented on #10018
@jaepark08 Sorry for that. Due to low bandwidth, talked with @MikhailTryakhov, I'm working on other three issues which have high priority.

[2019-08-09 02:31] yugangw-msft commented on #9992
Please try `az ad app update` which should work. Also, replyuri belongs to an app, instead of the service principal.

[2019-08-09 02:37] Juliehzl commented on #10160
From my understanding, 1. what you really want is that you do not need to query if it succeed using ```blob show```. 2. In AzureStack, when you run ```blob show```, it should show something like Azure side:
[code]
rather than a burden of PendingCopyOperation message. Right?

[2019-08-09 02:43] yugangw-msft commented on #9868
Let us close it and let @alanold open a separate issue tracking the `invalid principal` issue.

[2019-08-09 02:43] #9868 closed

[2019-08-09 05:19] MyronFanQiu commented on #8244
@akshaysngupta Hi. Can the use both set cert-data/cert-password and keyvaultsecretID?

[2019-08-09 06:58] kasunsjc opened #10204 "Az Interactive fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2019-08-09 07:16] MyronFanQiu commented on #10174
@malinoff Hello. This command work under window os. I will test the Darwin again.

[2019-08-09 07:19] kasunsjc commented on #10177
@ravisjoshi I have tried this on my cluster and works fine can you update the azure cli to latest and try.

Does this work previously, or is it the first time are you executing this command

[2019-08-09 07:21] kasunsjc commented on #10204
Duplicate of #10200

[2019-08-09 07:21] #10204 closed

[2019-08-09 07:30] MyronFanQiu commented on #10144
@limordavid Hello. I cannot reproduce this. Could you please run the command with `--debug` and `-o json` twice?

[2019-08-09 07:36] MyronFanQiu commented on #10174
@malinoff Could you please run the `pip freeze` to share the version of `msrest`  and `msrestazure`?

[2019-08-09 07:45] MyronFanQiu commented on #10014
@TheHunter896 Hello, Did you solve your problem?

[2019-08-09 07:50] MyronFanQiu commented on #8634
@theDogOfPavlov Hello. How about this issue?

[2019-08-09 08:09] malinoff commented on #10174
Sure, here it is (I installed azure-cli via brew):
[code]

[2019-08-09 08:55] theDogOfPavlov commented on #8634
As above: the script just wraps the service.

I raised it with the Azure support team directly, and it looks like at some point during the discussion the underlying issue was resolved.

I've not seen a recurrence in a few months.

[2019-08-09 08:55] #8634 closed

[2019-08-09 09:27] MyronFanQiu commented on #10174
It seems that the version of your msrestazure is lower than requirement. msrestazure==0.6.1

[2019-08-09 09:27] MyronFanQiu commented on #10174
Could you please re-install this library?

[2019-08-09 09:43] jochenvw opened #10205 "`az storage container generate-sas` returns 'self.account_key should not be None'"
Trying to generate a SAS key for my storage account obviously. I have a storage account with a container inside called `drop` and a policy on it, called `client`.

Here's is the full command with parameter values:

[code]

As the error states, I did not specify account key, and here's why:

[code]
This works fine. I thought `--auth-mode login` results in not needing an `--account-key` as you're us

[2019-08-09 10:09] malinoff commented on #10174
azure-cli has broken dependency tree graph. When installing with poetry, the latest resolvable version is `2.0.65` with the following dependencies versions:
[code]

[2019-08-09 10:10] malinoff commented on #10174
When trying to install a newer version in an existing poetry environment, it fails with
[code]

[2019-08-09 10:14] malinoff commented on #10174
Installing a newer version in a new environment fails with
[code]

[2019-08-09 11:25] lindhe commented on #7814
I take this as ACR not supporting semantic versioning schemes. A bit strange to have Helm repo compatability without supporting the naming scheme that Helm uses... Or are there plans to fix this?

[2019-08-09 11:56] DanielHWe opened #10207 "functionapp deployment failes with Getting scm site credentials for zip deployment"
**Describe the bug**
After updating from 2.0.57 to 2.0.70 my deploment of a zip to a functionapp does no more work. Error is: Getting scm site credentials for zip deployment.
Command is:
az functionapp deployment source config-zip  -g "XXX" -n "XXX" --src "deploy.zip"

**To Reproduce**
Use
az functionapp deployment source config-zip  -g "XXX" -n "XXX" --src "deploy.zip"
on a deployed function app

[2019-08-09 12:45] cruwe opened #10208 "Need contact to report security issues privately"
First, thank you very much for developing the Azure CLI.

I would like to report a security-related issue with the azure cli privately, so that the issue may be evaluated and possibly closed before publicly announcing the vulnerability.

Would it be possible to announce an address to mail to?

Thanks!

[2019-08-09 14:39] Juliehzl commented on #10208
You can send an e-mail to AzPyCLI@microsoft.com

[2019-08-09 15:10] Juliehzl commented on #10205
1.  ```--auth-mode login``` will find account credentials according to your login information. In this way, in "login" auth mode, you don't need to specify ```--account-key```. But I think the reason you get this error message maybe that you are using a storage account which not in the login subscription. You can check using ```az account show``` to find the default subscription and  verify if you

[2019-08-09 15:25] Juliehzl commented on #10193
*.vhd will be uploaded to page blob. Can you check your storage account type using ```az storage account show -n $storageaccountname -g $resourcegroup```? If the ```kind``` is  *BlobStorage*, you only can upload block blobs and append blobs to the storage account. For supported storage type, you can refer https://docs.microsoft.com/en-us/azure/storage/common/storage-account-overview#types-of-stora

[2019-08-09 15:32] Juliehzl commented on #10192
At first, your sas token should be ```sv=2017-04-17&sr=b&si=1d2b08af-d097-4d3f-b468-a7d4c91c7d04&sig=%2FjClxzQFf3O1ulyHn3xR1287XPdweHLnJKdYfj3ErZI%3D```, which is the string after ```?```. Can you use this SAS token to try again?
And we will support copy using SAS URL in next release, which will happen in next Tuesday.  You can try Azure CLI 2.0.71 next Tuesday and hope it can help you.

[2019-08-09 15:34] colemickens commented on #10192
@Juliehzl Oh wow, just clicked on this to see if there was movement since you were assigned and then your reply popped in. Thanks for the fast response, I'll test ASAP and proceed accordingly! :)

[2019-08-09 15:39] Juliehzl commented on #10190
Do you set firewalls for this storage account?

[2019-08-09 15:53] colemickens commented on #10192
@Juliehzl same issue: (I got a new SAS token/url as well)

    strg="md-impexp-t4nfwj1qcc3j"
    cntr="pk5qjbl3lnhn"
    blob="abcd"
    sastoken="sv=2017-04-17&sr=b&si=1d2b08af-d097-4d3f-b468-a7d4c91c7d04&sig=%2FjClxzQFf3O1ulyHn3xR1287XPdweHLnJKdYfj3ErZI%3D"

    f="/nix/store/25555pmghk80y69g47w837s85yk544w0-azure-image/disk.vhd"
    f="$(readlink "${f}")"

    ./az.sh storage blob upload \

[2019-08-09 15:58] colemickens commented on #10192
Also, I see the change you're talking about... I really, really don't get why the CLI is going to just assume 'azcopy' is around and available for basic copy calls to Azure storage... I could just use azcopy myself, no?

[2019-08-09 16:06] colemickens opened #10209 "'az disk grant-access --access-level Write' needs an example"
Can this please be documented?

(Sorry, this is possibly a dupe of my other open issue, I thought this would land on a Docs repo... Either way.)

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 74997eeb-6fa3-4318-79da-8cf4dce59cfe
* Version Independent ID: c8cea09f-196e-7269-dc42-b6b8933dbaf1
* Content: [az disk](https:/

[2019-08-09 16:06] colemickens commented on #10209
For example: get the SAS url and then upload a VHD to it, or do a blob copy from a blob somewhere else in some Azure storage account.

[2019-08-09 16:10] Juliehzl commented on #10188
It looks an timeout connection error, which may caused by poor network or something else. Can you try again with good network connection? If there is still such error, can you show me the message for ```az storage blob upload -f cc -n ss -a ccc --debug```?

[2019-08-09 17:25] ahmedelnably commented on #10207
@ankitkumarr can you please take a look?

@DanielHWe can you please provide the output of the command with the `--debug` flag?

[2019-08-09 17:34] panchagnula commented on #10194
Assigning to functions team to triage & comment

[2019-08-09 20:04] stefangordon commented on #7417
/32 makes some sense at least, but I'm baffled as to the /31 - why isn't that allowed?

[2019-08-09 20:26] ps-ckramer opened #10211 "Can't inject a non-certificate secret into vm with az vm create"
**Describe the bug**
Hi, I'm trying to use cloud-init to automate the configuration and registration of a Linux build agent self-hosted in an ASE, since the agent will be redeployed regularly. To automate the registration, I need to inject an Azure DevOps personal access token into cloud-init. I added the token to a key vault and tried using [this tutorial](https://docs.microsoft.com/en-us/azure/v

[2019-08-09 20:46] VitalyMCT opened #10212 "Python error upon running "az ad sp create-for-rbac""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac --sdk-auth`

## Expected Behavior

##

[2019-08-09 21:51] allegradomel commented on #9858
Hi @villanub, we weren't able to reproduce your issue. Are you using the updated versions of CLI and Powershell? Here are the steps we followed:

![nsg_rule](https://user-images.githubusercontent.com/17442871/62810986-df046e80-bab4-11e9-8acf-7d45e4e2c79d.PNG)
![az_network_command](https://user-images.githubusercontent.com/17442871/62810999-e75ca980-bab4-11e9-958c-36c1db940e5b.PNG)
And the result:

[2019-08-10 03:49] DustinEwers opened #10213 "aks generation script fails with Bad Request when ran as a script, but not when ran interactively."
**Describe the bug**
I have a script to build a Kubernetes environment. This script runs fine if I execute each individual command. However, if I run it as a PowerShell script the last command throws the following error:

[code]

I'm not sure why I running these commands as a script fails vs. running them individually. I've played around with adding Start-Sleep commands, but that seems like a sket

[2019-08-10 10:20] hostettler opened #10214 "az aks browse fails even when network connection is stable"
**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse --resource-group {} --name {}`

## Expected Behavior

## Environment Summary
[code]
## Additional Context
Network was stable and fast

[2019-08-10 14:33] benc-uk commented on #6414
Any update?

zsh is hardly obscure, it's used by everyone

[2019-08-10 15:28] sawyerh opened #10215 "webapp:ISO 8601 timestamp web app setting is being converted"
**Describe the bug**
I am attempting to set an app setting to an ISO 8601 timestamp, and the value is being converted to a different format and timezone.

Example of the command and setting:

[code]

Azure is saving this setting with the following value instead: `"08/12/2019 12:00:00"`

When I set the same value in the Azure Portal, the value _does not_ get converted, which is the expected behavio

[2019-08-11 01:57] ejdoh1 commented on #5841
Had the same problem but this fixed it:
[code]
[gist](https://gist.github.com/ejdoh1/3d1badd1fb20ea83ffa9415737b84584)

[2019-08-11 02:24] ravisjoshi commented on #10177
@kasunsjc this is the first time I have executed this command.

[2019-08-11 04:00] kasunsjc commented on #10177
@ravisjoshi I tried it with newly created cluster and my existing cluster. It works fine with me. Yes its the first time I executed the command

[2019-08-11 10:09] jonasbutt opened #10216 "[webapp] - Apply should_disable_connection_verify consistently"
`verify=not should_disable_connection_verify()` is missing on this line:

https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L2330

See this line for the correct implementation:

https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L325

A fix was made previously, but this was only a partial s

[2019-08-11 17:41] niwsa commented on #6414
Its working for me with  azure-cli version 2.0.70

[2019-08-11 21:39] murpg commented on #10079
My variable did not exist. I created it, pointing the correct pem file
Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='login.microsoftonline.com', port=443):
Max retries exceeded with url: /7f96a3b4-8d9b-42d7-8f3b-b3163f89435e/oauth2/token (Caused by SSLError(SSLError("bad handshake: Error([('SSL routines', 'tls_process_server_certificate', 'certificate verify fa

[2019-08-12 00:56] o-mohan-g opened #10217 "az interactive error - AZ CLI MacOS"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2019-08-12 00:59] veleek commented on #10024
@jlorich - I was unable to get your workaround working due to issues setting up the symbolic link to azcopy.  Is there a chance that azcopy can already exist on the machine?  If so, should that existing copy be used by the azcli task, or will it still try to copy itself over?

Is there a way to force it to use azcopy in the local directory instead of the global one?

[2019-08-12 01:45] Juliehzl commented on #10024
Hi @jlorich @veleek, in azure cli 2.0.71 which will be released on this Tuesday, we change the installation location of azcopy to local directory, so the root privilege will not be needed.

[2019-08-12 01:53] MyronFanQiu commented on #10174
@yugangw-msft @zikalino Could you please take a look?

[2019-08-12 01:56] MyronFanQiu commented on #10011
@ryciakd Hello. Sorry for the delay due to low bandwidth. Just an update. I'm still working on it.
I could use this command to update it. However, I think we should improve the usage experience.
[code]

[2019-08-12 03:20] MyronFanQiu commented on #10072
@Sudharma Hello. Working on it. https://github.com/Azure/azure-cli/issues/8244

[2019-08-12 04:12] jiasli commented on #8262
We have worked with ARM team to improve the error message. Now it shows

Please let us know if this suits the need. Thanks.

[2019-08-12 04:16] jiasli commented on #10217
This is a duplication of #10088. We have fixed it in 2.0.71 and will release it on 2019-08-13. See https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/HISTORY.rst

[2019-08-12 04:23] jiasli commented on #10212
This is known issue in Azure Cloud Shell. If you run CLI from your desktop (instead of Cloud Shell), does it work?

[2019-08-12 04:59] Drewm3 commented on #9238
The VM size casing is generally case preserving based on what the customer had entered. As such we do not consider this a bug on the backend APIs.

[2019-08-12 04:59] #9238 closed

[2019-08-12 05:02] jiasli commented on #10181
This is known issue in Cloud Shell and we are currently working on a solution. For now, please use CLI on a local machine as a workaround.

[2019-08-12 05:09] jiasli commented on #10112
This is known issue in Azure Cloud Shell. If you run CLI from your desktop (instead of Cloud Shell), does it work?

[2019-08-12 05:24] jiasli commented on #10199
I am able to repro on Cloud Shell. This seems to be related to #9345. On a local CLI, both `"https://management.azure.com/"` and `"https://management.azure.com"` (with or without `/`) works fine. Could you try that on a local CLI?

[2019-08-12 05:29] MyronFanQiu commented on #10018
@jaepark08 Hello. When I tried to test the command, I cannot create LB frontend ip configuration with IPv6 private-ip-address. Which kind of settings I should do in order to support IPv6?

[2019-08-12 08:11] 6heads opened #10218 "az mysql db create - no support for special characters"
It doesn't seem to be possible to create a database with the name `my-db`.
In mysql console it is possible to run `create database my-db` escaping the name with ` (Unfortunately I can't show it here, because it gets interpreted as if I want to insert code).

When I try to do the same (az mysql db create -g my-group -s my-server -n `my-db`) in azure cli I always get the error `The provided database

[2019-08-12 08:23] valt449 opened #10219 "az interactive error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2019-08-12 08:23] valt449 opened #10220 "az interactive error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- Start Powershell 6.2.2
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## Additional Conte

[2019-08-12 08:35] jiasli commented on #10220
This is a duplication of #10088. We have fixed it in 2.0.71 and will release it on 2019-08-13. See https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/HISTORY.rst

[2019-08-12 08:35] #10220 closed

[2019-08-12 08:36] #10217 closed

[2019-08-12 09:02] jiasli commented on #9686
Looks like an AAD delay issue. When the issue happens, could you send me the output when you run `az login --service principal --debug` at jiasli@microsoft.com? We can involve AAD team to take a look.

[2019-08-12 09:02] MyronFanQiu commented on #8244
@akshaysngupta Hello. Now I can use the command based on the python SDK to assign or remove identity from existed ApplicationGW. However, I cannot create an application gateway with identity information. Azure CLI will use ARM Template to create application gateway. I will met an error during deployment.
[code]
I also tried the following processes.
- Create a application gateway
- Assign identity

[2019-08-12 09:14] robert-skarzycki commented on #10131
@Juliehzl - regarding `$web` - I was following guidelines like this: https://kvaes.wordpress.com/2018/10/24/using-azure-devops-to-deploy-your-static-webpage-spa-to-azure-storage/ - I'd like to deploy SPA web app into storage and serve it directly from there. So this is not a variable, but - I guess - some keyword for Azure to make it "servable" as web page. Am I right?

[2019-08-12 09:20] JJussi commented on #10200
Same error here at Bash CLI

[2019-08-12 10:42] TheHunter896 commented on #10014
Yes! Thanks so much, sorry for the late answer I had a little holiday :).

[2019-08-12 10:42] #10014 closed

[2019-08-12 10:52] jrauschenbusch commented on #8809
Hi. Are there any updates? Still waiting for the feature.

[2019-08-12 11:21] poveden commented on #10215
I've discovered that, at least from Windows, if the timestamp is surrounded by spaces, AZ CLI will publish the value correctly _and without spaces_:

[code]

[2019-08-12 11:21] jiasli commented on #10079
`certificate verify failed` is usually caused by self-signed certificate. Please check if there is any proxy being used. If so, please add the PEM file of this certificate to the CA bundle. More info: https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy

[2019-08-12 14:35] timja commented on #8912
@yugangw-msft can this issue please be re-opened or documented appropriately, we don't understand why we can't do this through a service principal which is assigned the global administrator role and access to it appropriately restricted

[2019-08-12 14:37] orensam-msft opened #10222 ""az acr helm repo add" fails on "'NoneType' object has no attribute 'basic'""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr helm repo add`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az acr helm repo add --name {} --subscription {}`

## Expected Behavior

## Environment Summary
[code]
## A

[2019-08-12 15:15] rturnbull1977 opened #10223 "az cli storage blob list should show same copy status attributes of az storage blob show"
**Is your feature request related to a problem? Please describe.**
To have the same "statuses" that are shown in "az storage blob list" as "az storage blob show".  The issue is this, in order to retrieve copy status from async copy,  do az storage blob copy start first. however to check the status of the copy if I have multiples or I have batch copy, I need to list out every single blob with "az s

[2019-08-12 15:26] zhusijia26 commented on #8809
Looks like @Juliehzl is handling this issue now. I just removed Storage label. Please add Storage if there is anything we can do. @Juliehzl please help with the issue. Thanks!

[2019-08-12 16:07] idontsov commented on #6537
I'm experiencing the same issue.

My host is Windows 10:1903 and I'm connecting to a running container built from the mcr.microsoft.com/windows:1809 image.

The console is filled with garbage, command output is almost unreadable.

[2019-08-12 16:58] jluk commented on #6537
@dkkapur can you please take ownership of this issue?

[2019-08-12 17:41] ahmedelnably commented on #10194
@ankitkumarr can you please take a look at this?

[2019-08-12 17:52] ajlam commented on #10218
@6heads, thanks for reaching out! Can you please enable ANSI_QUOTES mode and try again? This will allow you to use the backticks to escape. You can do this by setting the server parameter `sql_mode` in the Azure portal or Azure CLI. The Azure CLI command would be:

`az mysql server configuration set -g yourresourcegroup -s yourservername -n sql_mode --value ANSI_QUOTES`

Once that's complete, you'

[2019-08-12 18:20] jaepark08 commented on #10018
You need to implement private ip address version and set it as IPv6.
If private ip address allocation method is static, the private ip address should be within the subnet that you specified.

[2019-08-12 18:33] haokanga commented on #7112
+1 to the issue, please provide concrete worked examples that can be understood by _beginners_.
`key[=value] [key[=value] ...]` may make perfect sense for developers with the knowledge the syntax, but a beginner of Azure CLI can translate "key[=value]" literally into "myKey=[myValue]" instead of "myKey=myValue", which results the key as `myKey[` and the value as `TPZ]`. This misunderstanding is ob

[2019-08-12 19:38] HaokePeng commented on #10213
We have the same error.
When running in a script, it shows
`
Finished service principal creation[##################################]  100.0000%Operation failed with status: 'Bad Request'. Details: Internal server error`

[2019-08-12 20:26] NicolasConstant opened #10225 "'az eventgrid event-subscription delete' not working"
**Describe the bug**
Using Azure CLI to delete a eventgrid event-subscription is not working

**To Reproduce**
1. List evengrid event-subscription
2. Get the name and id
3. Run 'az eventgrid event-subscription delete --name [my name] --source-resource-id /subscriptions/[subscription id]/resourceGroups/[ressource group]/providers/Microsoft.Storage/storageAccounts/[storageaccount]/providers/Microsof

[2019-08-12 21:25] bpelikan commented on #10165
The same for own App registration e.g.:

 `Application ID URI` : `api://own-apim`

---

**Errors:**
[code]

[2019-08-12 21:29] bpelikan commented on #10199
Yes, on a local CLI this is working fine.

[2019-08-12 21:42] amishra-dev commented on #6746
Our current service design does not support identifying which VM has the lease. we expect the client getting the lease to track it. However we have put this in our service feature backlog and will prioritize it accordingly.

[2019-08-12 21:43] #6746 closed

[2019-08-12 22:22] Dave76 commented on #10048
Thanks @shurd. Please let me know when this work item is complete.

[2019-08-13 00:17] shurd commented on #8033
Hi @Andrei15193, thank you for raising this issue. I am looking into it. I see this is a "az storage" command. Is it a Cosmos DB Tables account you are trying to query?

[2019-08-13 01:46] Juliehzl commented on #9003
When you use ```az login --identity``` and ```--auth-mode  login```,  you have to give your vm access role for your storage accounts. Here the role you assigned is ***Storage Blob Data Contributor***, which do not have the right to access storage accounts information. One way is you can give ***Contributor*** role,  wait for a while,  and above command will work.

[2019-08-13 02:07] murpg commented on #10079
I am not behind a proxy. I have unchecked bypass proxy server for local addresses in the IE connections tab > lan settings. I get the same error as before.

[2019-08-13 02:45] jiasli commented on #9944
The contents are displayed correctly on Chrome and can be executed in Cloud Shell without any error. Could you share a screenshot of what is shown on your browser?

[2019-08-13 04:32] SeaDude commented on #10001
Any status on this?

[2019-08-13 05:44] jiasli commented on #10151
Thank you for raising this issue. I have fixed it in pull request https://github.com/Azure/azure-cli/pull/10226.

[2019-08-13 06:44] 6heads commented on #10218
@ajlam

I tried it but still get the same error. Here is the result of `az mysql server configuration`:

[2019-08-13 07:25] jiasli commented on #9992
`replyUrls` belongs to an app, instead of a Service Principal. See https://github.com/Azure/azure-rest-api-specs/blob/e9b03021559994e2988fd977d465685795c2f70d/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json#L2974.

This should work:
[code]

[2019-08-13 07:40] Andrei15193 commented on #8033
Hi @shurd, I was querying Azure Table Storage, but as far as I know they both follow the same protocol and the SDK for querying Table Storage actually uses the CosmosDB SDK.

[2019-08-13 07:45] jiasli commented on #9501
It looks like the current public REST API (api-version=1.6) only supports `replyUrls`: https://github.com/Azure/azure-rest-api-specs/blob/e9b03021559994e2988fd977d465685795c2f70d/specification/graphrbac/data-plane/Microsoft.GraphRbac/stable/1.6/graphrbac.json#L2974, while Azure Portal is using api-verison=2.0. We will improve this in CLI soon. Currently please use `--reply-urls` instead:

[code]
o

[2019-08-13 09:22] Juliehzl opened #10228 "az storage remove cannot recognize --account-name when --auth-mode login appended"
**Describe the bug**
A clear and concise description of what the bug is.
`az storage remove -s xx -p xx --recursive --account-name xxx` works
`az storage remove -s xx -p xx --recursive --account-name xxx --auth-mode key` works
`az storage remove -s xx -p xx --recursive --account-name xxx --auth-mode login` doesn't work, with the following message:
[code]
**To Reproduce**
Steps to reproduce the beh

[2019-08-13 10:13] thelethalkind opened #10229 "az eventhubs eventhub update --enable-capture $false doesn't disable capture"
When running `az eventhubs eventhub update --enable-capture $false` against an existing event hub with capture enabled, it does not disable capture.  Here is the PUT that is sent out:

msrest.http_logger : Request headers:
msrest.http_logger :     'Accept': 'application/json'
msrest.http_logger :     'Content-Type': 'application/json; charset=utf-8'
msrest.http_logger :     'accept-language': 'en-

[2019-08-13 12:19] DanielHWe commented on #10207
I switched from powershell to cmd getting more information:

Getting scm site credentials for zip deployment
Starting zip deployment. This operation can take a while to complete ...
The command failed with an unexpected error. Here is the traceback:
[code]
with debug I got in the end:
[code]

[2019-08-13 13:07] sayanghosh123 opened #10230 "Billing Period Name parameter not being accepted"
I have retrieved the names of billing periods using  "az billing period list" and then have called "az consumption usage list --billing-period-name "retrievedname" --include-additional-properties --include-meter-details". The cli always returns back

Invalid Billing period retrivedname supplied for subscription ----. (Request ID: ----)

I have tried both single and double quotes around the period

[2019-08-13 13:21] sayanghosh123 commented on #10230
I also noticed that if I pass the id of the billing period in place of name such as "/subscriptions/------/providers/Microsoft.Billing/billingPeriods/retrievedname" the error message changes to

The resource type 'billingPeriods' could not be found in the namespace 'Microsoft.Billing' for api version '2018-01-31'. The supported api-versions are '2017-04-24-preview,2018-03-01-preview'.

This leads

[2019-08-13 13:37] colemickens commented on #10192
Can someone from MD at least confirm that this is supported and/or has been tested?

[2019-08-13 14:08] Juliehzl commented on #9292
@maxburke  Anyway I cannot reproduce this issue now. So I will close this issue now, if you still have problems, feel free to open a new one or send an E-mail.

[2019-08-13 14:08] #9292 closed

[2019-08-13 15:14] bbcnt commented on #8307
Just thought I would leave a comment here, @yugangw-msft command fixed it for me. I ran `az cloud list` and found out I was using AzureStackUser, which was obviously wrong when trying to access azure on cloud.

[2019-08-13 16:09] marstr commented on #9667
Reassigning to @zikalino as I've moved to the Notification Hubs team.

[2019-08-13 16:10] marstr commented on #9734
Removing my assignment as I've moved to the Notification Hubs team.

[2019-08-13 17:34] jonlorusso commented on #8047
This workaround does not work for me.  With proxy environment variables defined, attempting to login `az login` I get:

[code]

[2019-08-13 17:55] alexeyzimarev commented on #9054
@marstr it cannot be an MSI issue, because the issue was originally reported on Mac, then on a Windows VM in Azure and I am now having the same issue on Ubuntu VM.

[2019-08-13 18:10] murpg commented on #10079
How can I get a cacert.pem file which I can use on that Azure will accept?

[2019-08-13 18:12] dbilleci-lightstream opened #10231 "Api not available error for az vm list-ip-addresses"
[code]

[2019-08-13 18:19] mhbkb opened #10232 "`azure_namespace_package` Issue When `pip wheel azure-*.tar.gz`"
**Describe the bug**
Got "error: error in setup.cfg: command 'bdist_wheel' has no such option 'azure_namespace_package'" when generating wheel from source.

**To Reproduce**
pip wheel azure-cli-telemetry-1.0.3.tar.gz
They should have the same issue in **`azure-cli-core`, `azure-cli-testsdk` and `azure-cli`**

**Expected behavior**
It should generate wheel successfully. A similar issue happened on

[2019-08-13 18:20] dbilleci-lightstream commented on #10231
working in 2.0.71 - closing

[2019-08-13 18:38] #9393 closed

[2019-08-13 18:39] jaredmoo commented on #9393
Fixed by #10120

[2019-08-13 19:43] ajsaulsberry commented on #10213
Seeing the same error here with the same script, except presence or absence of `Start-Sleep` pauses has no effect; the `Bad Request` error occurs either way.

[2019-08-13 20:27] ajlam commented on #10218
@6heads - thanks for the response. Looks like I can reproduce this as well. When I pass in the DB name as my'-'db (replacing ' with ` ), the DB is actually being created as "mydb" instead of "my-db". Let me follow up with my team to see if we can fix this issue.

[2019-08-13 23:09] metebyte opened #10233 "(Autogenerated) Getting error while trying to install Interactive extension."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2019-08-13 23:17] hlubovac commented on #5873
Really, @derekbekoe? He waited a full day for you: you could have waited at least that long before closing this - not to mention that you could have answered the question first. What's the big deal in leaving these tickets open? Do you get paid by the how many you close, or what? Do you get money deducted from your salary if they aren't closed? Enlighten me, please.

[2019-08-14 00:01] paulpuvi06 opened #10234 "az ad sp credential list --id xxxxx-xxxx-xxx customKeyIdentifier value is null"
**Describe the bug**
Credential property **customKeyIdentifier** value is  null for the secrets created using new improved app registration UI.

**To Reproduce**
 -Add a client secret using new UI.
 -execute **az ad sp credential list --id xxxxx-xxxx-xxx**

**Expected behavior**
it should return the "description" of the secrets which works for the secrets created using old UI.

**Environment summa

[2019-08-14 00:09] Juliehzl commented on #10131
If `$web` isn't a variable, for `az storage blob upload-batch` command, `$` cannot be used as an destination name, besides when pointing to a variable, which is the reason you have `InvalidQueryParameterValue` error. Please change your destination name to a valid one.

[2019-08-14 00:44] ahamad-MS commented on #10225
Thanks for reporting the issue. I had tried the same scenario using the provided steps in eastus2 regions and the command works fine as expected. By looking closer to the provided command, the --source-resource-id is for the event subscription itself rather than the topic to which the event subscription is associated with.

In this context, the command in step 3

[Run 'az eventgrid event-subscript

[2019-08-14 01:45] jiasli commented on #10079
**bypass proxy server for local addresses** is not related to CLI using system proxy. You may follow this link to check the certificate your proxy is using: https://www.ssl2buy.com/wiki/how-to-view-ssl-certificate-details-on-chrome-56.

[2019-08-14 02:07] jiasli commented on #10233
Duplicate of #10088. This issue has been fixed in 2.0.71. Please download the latest version and try again: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2019-08-14 02:07] #10233 closed

[2019-08-14 02:07] jiasli commented on #10200
Fixed in 2.0.71.

[2019-08-14 02:07] #10200 closed

[2019-08-14 02:13] Chirag1233 commented on #10162
I have the same issue.

[2019-08-14 02:37] shizhMSFT commented on #10222
@orensam-msft Could you upgrade your `az` cli to the latest version? I cannot reproduce the bug in the version `2.0.70` and the latest version `2.0.71` while I do find that the version `2.0.51` has issues in AAD login.

[2019-08-14 03:05] jiasli commented on #10234
I can reproduce. This doesn't seem like a CLI issue. When adding keys in Azure Portal using new UI, the corresponding items created in manifest have `passwordCredentials.displayName`. Meanwhile the public AAD REST only has `PasswordCredential.customKeyIdentifier`: https://github.com/Azure/azure-rest-api-specs/blob/ad6d5f6467aaab8cda44ceaa2863f84359c1e022/specification/graphrbac/data-plane/Microsof

[2019-08-14 03:36] jiasli opened #10235 "'az storage blob service-properties' doesn't support DefaultServiceVersion property"
**Describe the bug**
[`az storage blob service-properties`](https://docs.microsoft.com/en-us/cli/azure/storage/blob/service-properties?view=azure-cli-latest) doesn't support [`DefaultServiceVersion`](https://docs.microsoft.com/en-us/rest/api/storageservices/set-blob-service-properties) property.

**To Reproduce**
`az storage blob service-properties show --account-name xxx` is missing `DefaultServi

[2019-08-14 03:41] Juliehzl commented on #9106
@JavedEqbal  It looks you are using Azure Cloud Shell to run cli command, right? I cannot reproduce your error now. Does the error still exist now?

[2019-08-14 04:56] jiasli commented on #10235
PowerShell supports this operation:
[code]
https://docs.microsoft.com/en-us/powershell/module/az.storage/update-azstorageblobserviceproperty?view=azps-2.5.0

[2019-08-14 05:21] jiasli opened #10236 "AZURE_CLI_DISABLE_CONNECTION_VERIFICATION doesn't work with Storage data-plane operations"
**Describe the bug**
`AZURE_CLI_DISABLE_CONNECTION_VERIFICATION` doesn't work with Storage data-plane operations. https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy

**To Reproduce**
When using CLI behind a proxy like Fiddler,
[code]
Got exception

**Expected behavior**
CLI should ignore certificate error.

**Environment summary**
2.0.71 on Windows

**Add

[2019-08-14 06:05] 6heads commented on #10218
If I provide `my'-'db` (replacing...) it isn't created as `mydb`. I tried it using powershell 6.2.0 and 5.1.18362.145 to no avail. My azure cli version is 2.0.71 and I use windows 10. I wonder what version you use.

[2019-08-14 06:56] jiasli commented on #10236
Related to https://github.com/Azure/azure-storage-python/issues/175

[2019-08-14 07:30] paulpuvi06 commented on #10234
@jiasli 👍, is there a plan to update to get the value of 'customKeyIdentifier' for the secrets created through portal?

[2019-08-14 08:04] MyronFanQiu commented on #10174
@malinoff Hello. I talked with @zikalino. I want to confirm whether your os is macOS? Now, officially, we support Homebrew for macOS. I'm not familiar with `peotry` so maybe there is some knowledge gap between us we should close.

[2019-08-14 08:45] malinoff commented on #10174
Yes, I'm on OSX (10.14.5, to be precise, but it doesn't matter - the same problem is on linux as well). [poetry](https://github.com/sdispater/poetry) is a modern python packaging tool (similar to pipenv but much, much better) which includes a real dependency resolver, while [pip doesn't have one](https://github.com/pypa/pip/issues/988).
This problem is not because of homebrew, but because your gia

[2019-08-14 08:48] malinoff commented on #10174
In the same situation, `poetry` will fail with a similar `ProblemSolverError`, forcing you to ensure that the whole dependency tree can be satisfied.

[2019-08-14 09:04] MyronFanQiu commented on #10174
@malinoff I see. Thanks for your explanation. You can first try to solve the unhandled exception by upgrading the version of msrestazure. For this dependency issues, we need to discuss and figure out a correct way to fix it.

[2019-08-14 09:20] malinoff commented on #10174
Yep, thanks for the workaround, although I don't really need it anymore - we decided not to use azure vpn gateway for reasons. The packaging issue is still a problem, though.

[2019-08-14 10:46] jiasli commented on #9919
The execution of a generic update is at src/azure-cli-core/azure/cli/core/commands/arm.py, so a generic deserialization is supported here. The error is actually caused by malformed command (possibly line-breaks or quotes).

I tested `--set` and `--add` with [AAD sample](https://docs.microsoft.com/en-us/azure/active-directory/develop/howto-add-app-roles-in-azure-ad-apps#examples). Both worked fine.

[2019-08-14 10:49] mstancombe commented on #3443
@yugangw-msft I have the same issue where a wildcard cert issued by letsencrypt can be bound via cli when the app service is in the same resource group as the plan, but not when it's in a different resource group.  Given that this is a supported configuration through the azure portal ui, can this issue be re-opened?

[2019-08-14 10:57] jiasli commented on #9919
The execution of a generic update is at
https://github.com/Azure/azure-cli/blob/ac427269ab4fc55fbe04d8e1445a1b78d191076f/src/azure-cli-core/azure/cli/core/commands/arm.py#L522

So a generic deserialization is supported here. The error is actually caused by malformed command, possibly line-breaks or quotes.

I tested `--set` and `--add` with [the example from AAD doc](https://docs.microsoft.com/en-

[2019-08-14 11:01] jiasli commented on #10234
Thank you for the feedback. We will work with REST specs team to fix this issue as soon as possible.

[2019-08-14 11:24] owenmather commented on #3443
@mstancombe
Have issue open here:
https://github.com/Azure/azure-cli/issues/9972

[2019-08-14 11:37] irfanmaroof opened #10239 "Invalid Object Az Storage Blob upload-batch .tif files"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob upload-batch`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob upload-batch -d {} --account-name {} --acco

[2019-08-14 12:14] barnstee commented on #9852
I'm also facing this issue and it hangs wither AFTER I do my 2-factor auth and the login windows in the browser stays at the progress bar screen or it says you are login in and moves on to the Azure CLI homepage. In either case, there is no further output on the Powershell Windows, even with --debug enabled. I've made sure that I am logged out before attempting another login, too. The last line of

[2019-08-14 13:15] yugangw-msft commented on #8307
@bbcnt, thanks for the response.
@JohanLander, please reactivate with more information

[2019-08-14 13:15] #8307 closed

[2019-08-14 14:11] feltonjsd commented on #9422
I recently had the same error : az storage blob upload-batch: error: too many values to unpack (expected 2)

--destination "https://xxfilesharename.filestore.file.core.windows.net\xxvolname"

I found it to be a problem with my destination parameter as I had an "\" instead of a "/" in my URL. Double check your destination parameter is set up correctly. Hope it helps

[2019-08-14 14:20] garymoon opened #10241 "Enable authentication via environment variables"
**Is your feature request related to a problem? Please describe.**
I'm concerned that I cannot use the CLI without having my credentials written to disk in the clear.

**Describe the solution you'd like**
I would like the CLI to accept credentials from the environment (e.g. `AZURE_TENANT_ID`, `AZURE_CLIENT_ID`, `AZURE_CLIENT_SECRET`).

**Describe alternatives you've considered**
I've yet to find a

[2019-08-14 15:15] mlushpenko commented on #6372
Just ran into this as well, almost opened another issue.

[2019-08-14 15:17] Juliehzl commented on #9422
@priya0917 I try to reproduce your problem in Azure DevOps. But I don't have your issues during my reproduction. I think the difference is the definition of variables. Can you double check your definition like @feltonjsd  said?

[2019-08-14 15:56] Juliehzl commented on #8809
@jrauschenbusch  I think it is already supported. See https://docs.microsoft.com/en-us/cli/azure/storage/container/policy?view=azure-cli-latest#az-storage-container-policy-create.

[2019-08-14 16:00] ichandan16 commented on #3445
A good workaround that helped me: https://stackoverflow.com/a/47085659/1651761

[2019-08-14 16:05] Juliehzl commented on #9576
@dbaio We have discussed with azcopy team.  Because azcopy team has high-priority work to do, they need some time to release FreeBSD version and we will keep a close watch on this.

[2019-08-14 16:07] #10042 closed

[2019-08-14 16:11] adamday2 opened #10242 "storage account update returns a confusing error message when the specified key is of the incorrect type"
**Describe the bug**
Updating a storage account to use a key-vault encryption source returns confusing error when the specified key is of the incorrect type (EC rather than RSA)

**To Reproduce**

1. Create a key-vault, create an EC-based key.
2. Create a storage account that is Microsoft.Storage backed
3. Attempt to update the storage account to use a KeyVault backed key
[code]

Returns error:
[c

[2019-08-14 16:13] Juliehzl commented on #10192
@colemickens We have discussed this problem internal. Now we have supported SAS url in `az storage copy` command, which is based on azcopy but may not work for your system. We plan to support sas url for original `az storage blob upload` soon. I hope we can support in next release.

[2019-08-14 16:30] colemickens commented on #10192
Yeah but how about all of the rest of this bug?

On Wed, Aug 14, 2019, 18:14 Zunli Hu <notifications@github.com> wrote:

[2019-08-14 16:32] colemickens commented on #10192
I just don't get why an entire extra tool is needed for an operation and
REST call that is already in the CLI? As far as I can tell, regex'ing the
URL would've been far easier than taking a dependency on an entire extra
tool.

Also, the API still doesn't seem to work with an empty MD created for
upload...

On Wed, Aug 14, 2019, 18:30 Cole Mickens <notifications@github.com> wrote:

[2019-08-14 17:04] mikedrumgcom commented on #9763
Same - version 2.0.71

[2019-08-14 17:23] rich617 commented on #10165
For reference, in case anyone else has this issue or is looking into it:

First, there is a workaround, which is to enter the command "az login" into the Cloud Shell command prompt, and then follow the instructions to open the authentication page and paste in the given verification code. After doing that, "az account get-access-token --resource" will work in Cloud Shell as it does in the on-prem A

[2019-08-14 17:47] sajayantony commented on #9952
@dlepow - Should this issue be closed?

[2019-08-14 18:03] dlepow commented on #9952
@sajayantony - Yes, I'll close. Thanks!

[2019-08-14 18:03] #9952 closed

[2019-08-14 18:57] SteveLasker commented on #2074
As many services need access to a registry, we're inverting this model for the service to grant permission to the registry. the `az aks`, `az devops`, `az aci` and other services should add this capability.
This is also blocked by the default ARM permissions being assigned to resources.

[2019-08-14 18:57] #2074 closed

[2019-08-14 18:58] ankurkhemani opened #10243 "az acr import with --source and --registry is confusing."
**Describe the bug**
az acr import

**To Reproduce**
`az acr import -h` has `--source` and `--registry` parameters. The help section doesn't document that `-r` and `--source` with registry is mutually exclusive (i.e. both can't specify registry/loginserver name). This causes confusion and bad user experience for cx, running into error state not knowing what's the issue. The error message should al

[2019-08-14 19:14] ankurkhemani commented on #10243
// cc @hkuadithya

[2019-08-14 19:31] NicolasConstant commented on #10225
Oh right, the error message mislead me: I thought there where an issue with the API versioning.

I tried it with your pattern and it's working, thanks a lot!

[2019-08-14 19:31] #10225 closed

[2019-08-14 22:15] jispar opened #10244 "Add more details to reduce customer confusion for "az network list-service-tags""
**Describe the Problem**
https://docs.microsoft.com/en-us/cli/azure/network?view=azure-cli-latest#az-network-list-service-tags
The location parameter is causing lots of customer confusion.
Wee need to add more details:

"The location that will be used as a reference for version (not as a filter based on location, you will get the list of service tags with prefix details across all regions but limi

[2019-08-14 23:31] mjconnection commented on #10213
@Azure/aks-pm I am routing this to the AKS PM  team for follow-up

[2019-08-15 00:35] palma21 commented on #10213
Would you be able to try with the latest CLI version and confirm if it still happens ?

[2019-08-15 01:14] murpg commented on #10079
I am NOT using a proxy. Can you please tell me how to solve this?

[2019-08-15 01:29] zikalino opened #10246 "az resource tag crashed"
I have tried following command:

az resource tag --ids  /subscriptions/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/resourceGroups/rg1 --tags xxx=yyy

It crashed with following stacktrace:

The command failed with an unexpected error. Here is the traceback:

'namespace'
Traceback (most recent call last):
  File "/env/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invo

[2019-08-15 01:49] palma21 commented on #10213
From what I could find your errors are due to errors on the AAD Service Principal creation and propagation.
Which is why for some of you running this manually one by one it works.

Eg running @DustinEwers script as-is
![image](https://user-images.githubusercontent.com/7065724/63066901-3b0a3100-bec1-11e9-9cd5-0142c36ac4ba.png)

Running the script with a Start-Sleep -s 240 after the SP is created ma

[2019-08-15 01:58] MyronFanQiu commented on #10246
In my understanding, the `az resource` is to create an Azure resource instead of Azure resource group. Meanwhile, I checked this command `az resource tag`, look like the `--ids` must be a resource id.

[2019-08-15 02:16] #10151 closed

[2019-08-15 03:05] jiasli commented on #10241
Hi @garymoon, thank you for raising this issue. We will consider this as a feature request and discuss internally.

[2019-08-15 03:11] DustinEwers commented on #10213
Gotcha, so what's happening is that the SP isn't being propagated for several seconds. The command comes back, but we're not actually ready to use that SP yet. That explains why the sleeps helped (though not consistently because I was using a 3 second sleep) in the first place.

[2019-08-15 03:35] BevanG commented on #9840
Still having this issue. I've found a workaround/command I can run so I can deploy via Azure DevOps agents.

Task is Azure CLI V1. Hosted 2017 agent is reporting Agent version as 1.152.3

I've needed to create a new task (or insert this as your first line in in-line script)
`pip install --pre azure-cli --extra-index-url https://azurecliprod.blob.core.windows.net/edge`
This updates the Agent and de

[2019-08-15 05:13] palma21 commented on #10213
Correct, sometimes it can take some time and we have seen a bit of an average delay increase recently that might explain it

[2019-08-15 09:32] PuffTMD opened #10248 "az webapp config set --generic-configurations failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
When adding in --generic-configuraitons "{"clientAffinityEnabled": false}" to the webapp config set commands I receive an unexpected error.

**Command Name**
--generic-configurations "{"clientAffinityEnabled": false}"

**Errors:**
[code]

## To Reproduce:
add --generic-configurations into the webapp config set

[2019-08-15 09:57] ManuelMinkAtBOSCH opened #10249 "Set-Policy: An Example would be great especcialy how to set multiple permissions at once"
az keyvault set-policy --name kv-name --certificate-permissions {backup, create} --upn myname@xxxx.com does not work e.g

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 226e5769-f6c8-a480-db78-727fb96348ec
* Version Independent ID: 8ee06a2a-6eda-11be-3c8e-6ad948be207e
* Content: [az keyvault](https://docs.microsoft.com/

[2019-08-15 13:25] garymoon commented on #10241
@jiasli Thank you for the update. Please also be sure to consider the implications of unintended credential leakage also. IMO this issue represents a security concern.

[2019-08-15 15:04] tp199314 commented on #9665
Still the same error with azure-cli-2.0.71-1.el7.x86_64. Would be nice to have a solution anytime in 2019.

Problem: nothing provides python-virtualenv needed by azure-cli-2.0.71-1.el7.x86_64
 Solution 1: do not install azure-cli-2.0.71-1.el7.x86_64
 Solution 2: break azure-cli-2.0.71-1.el7.x86_64 by ignoring some of its dependencies

[2019-08-15 16:11] sptramer opened #10250 "webapp:Setting date in App Service app setting converts date to different format"
When using the `az webapp config appsettings set` command to set an App Service app setting to an ISO-8601 date string (YYYY-MM-DDTHH:mm:ssZ), the date string gets converted into a date that loses time zone information and introduces uncertainty into day and month ordering.

## To reproduce:
1) Create App Service.
2) Run the following command: `az webapp config appsettings set --name <app-service-

[2019-08-15 17:00] akshaysngupta commented on #8244
@MyronFanQiu For user assigned identity, the field in the put should look like this:
[code]

[2019-08-15 18:09] ahmedelnably commented on #10207
What is the SKU of the app you are trying to deploy to?

[2019-08-15 18:28] sitewards-tkaplonski commented on #9880
Any forecast about when support for buster would be introduced?

[2019-08-15 19:15] a-santamaria commented on #6549
Are you still experiencing this issue? we were unable to reproduce it.

[2019-08-15 19:24] YRollHid opened #10253 "az policy set-definition update"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az policy set-definition update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az policy set-definition update --name {} --definitions

[2019-08-15 19:40] patrick-motard commented on #8102
I'm experiencing the same thing. Calling AZ CLI from Linux. Most calls are 15-20 seconds each.

[2019-08-15 19:44] rohinkoul commented on #4245
@tjprescott  we are triaging it. We'll get back on this one post that.

[2019-08-15 19:52] rohinkoul commented on #4771
@tjprescott customers can use puny codes to enter IDN. Unless I am missing any context on this, please close this.

[2019-08-15 19:55] rohinkoul commented on #2824
@tjprescott we are triaging this. We will get back on this after that.

[2019-08-15 20:00] rohinkoul commented on #1481
@tjprescott We are triaging this and get back on this.

[2019-08-15 20:16] nathana1 commented on #9557
A fix for this has been deployed to all regions.  Please let us know if you see any issues.

[2019-08-15 20:16] #9557 closed

[2019-08-15 21:24] msfcolombo opened #10254 "az keyvault network-rule ignores specified parameters"
The `az keyvault network-rule add` command accepts the `--ip-address` parameter multiple times, but only respects the last one.

Example:

    az keyvault network-rule add --name myvault --ip-address 1.2.3.10 --ip-address 1.2.3.11 --ip-address 1.2.3.12

That command will add only the last IP address, `1.2.3.12`. The first two will be ignored.

**Expected behavior**

Either add all IP addresses spe

[2019-08-16 00:38] vitaly-livshits commented on #10212
It does. Could Cloud Shell be updated to supply a better error message?

[2019-08-16 01:35] MyronFanQiu commented on #10244
@jispar NP. I will update the help information of this commands

[2019-08-16 05:37] jiasli commented on #10212
This is actually expected error. We are working on a fix internally.

[2019-08-16 05:49] jiasli commented on #10079
Could you create an Azure support request and point to this issue #10079? A support engineer can help you diagnose issues of a local machine via remote session.

[2019-08-16 05:50] DanielHWe commented on #10207
Im not sure what SKU means in this context. I try to upload a function app (Runtime version: 1.0.12615.0 (~1)) by use of "az functionapp deployment source config-zip" to a resource in westeurope.

[2019-08-16 06:39] ankitkumarr commented on #10207
SKU is the type of plan you are on. Are you on a Consumption plan or an App Service Plan? Also what OS is your functionapp on, if you know?

Or you can also share your function app name, and we can get the SKU and OS information. If you would prefer to share it anonymously, you can do so by following these steps https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-priv

[2019-08-16 06:49] DanielHWe commented on #10207
We are on a Consumption Plan. Id of function is 22d01435-a299-4ae7-884b-83b8a62b6f12.

I deploy from powershell on windows 10. The function is written in .Net Framework.

[2019-08-16 07:09] chrisatrotter opened #10257 "Failed to release blob storage"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob lease break`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob lease break -b {} -c {} --account-name {} --

[2019-08-16 08:40] jiasli commented on #10257
I did a DNS lookup but couldn't find `bkintern5028fb7db44e435b.blob.core.windows.net`. Please verify the Storage Account name is correct.

[2019-08-16 09:14] MyronFanQiu commented on #10055
@gjdonkers Hello. Did you solve your problem?

[2019-08-16 09:29] malinoff commented on #10174
@MyronFanQiu why did you silently close this issue? Is the packaging problem solved?

[2019-08-16 18:09] v-Ajnava opened #10259 "EventHub: CLI parameter for eventhub, skip-empty-archives is broken"
When attempting to set the skip-empty-archives property using Azure CLI, nothing changes.

cli command:
az eventhubs eventhub update --resource-group borgetPAAS --namespace-name borgetEventHub --name borgethub --skip-empty-archives false

cli was updated to the latest version before running the commands.

Steps to Reproduce
----------------------
1.  In the portal create an eventhub namespace with

[2019-08-16 18:11] v-Ajnava commented on #10259
Issue was reported over ICM : https://icm.ad.msft.net/imp/v3/incidents/details/139260789/home

[2019-08-16 18:49] ritchxu opened #10260 "[=][=] syntax with --taget-regions"
**Describe the bug**
[code]
**Reproduce**
[code]
**Note**
I seem to be able to work around this by not specifying storage account type, e.g "East US 2=10"

[2019-08-16 20:19] gjdonkers commented on #10055
Sorry for my late response. This will solve my problem! Thank so much!

[2019-08-16 20:19] #10055 closed

[2019-08-16 20:35] paulpuvi06 opened #10263 "az ad app credential list --id xxxxx - not listing 'certificate' type details"
**Describe the bug**
I am trying to get credentials list of my APP using **az ad app credential list --id <applicaitonid> **  , but it returns only client secret  list.

**To Reproduce**
Create AD SP
Upload certificate to SPN and execute

[code]
**Expected behavior**

it should return all type of credentials belongs to specific applicationid. i am able to get the types (AsymmetricX509Cert,Password

[2019-08-17 04:19] pranavtiwari09 commented on #9356
Hi,
I have been getting this error since yesterday. I have spent many many hours trying to figure out why it is doing so. Even if I remove --subscription argument, use -s instead or do whatever I do - it just doesn't work.
I am working on AZ301 practice set: https://github.com/MicrosoftLearning/AZ-301-MicrosoftAzureArchitectDesign/blob/master/Instructions/AZ-301T04_Lab_Mod03_Deploying%20Network%20

[2019-08-17 07:33] #7130 closed

[2019-08-17 07:33] #7145 closed

[2019-08-17 07:33] #7880 closed

[2019-08-17 07:33] #7889 closed

[2019-08-17 07:33] #9711 closed

[2019-08-17 10:18] aguerot commented on #9356
Hi,
double check `az` version, it did the trick for me

[2019-08-17 13:46] pranavtiwari09 commented on #9356
Nope, it is on the latest: Here is output below.
azure-cli                         2.0.71

command-modules-nspkg               2.0.3
core                              2.0.71
nspkg                              3.0.4
telemetry                          1.0.3

Python location '/opt/az/bin/python3'
Extensions directory '/home/pranav/.azure/cliextensions'

Python (Linux) 3.6.5 (default, Aug  8 2019, 03:

[2019-08-17 14:23] yugangw-msft commented on #9356
@pranavtiwari09,  `azbb` is not a Azure CLI command. Please open an issue at their repository: https://github.com/mspnp/template-building-blocks

[2019-08-17 15:07] pranavtiwari09 commented on #9356
Thanks Yugangw. I will open an issue with them. Thanks for looking into it.
I agree azbb is not Azure CLI but you install the package through nmp which I did as instructed.
Just wonder if there is another way of working with Azure Building Blocks. Any pointers will be helpful.

Thanks again.

[2019-08-17 23:14] mbalsam-refind commented on #6537
@dkkapur please look into this!

[2019-08-18 02:50] pengzhisun opened #10265 "Support switch local context for various Azure Environments"
**Is your feature request related to a problem? Please describe.**

I'm managing various Azure Environments in Public Azure and Azure Mooncake, and always frustrated to switch context between Azure Accounts, have to switch the cloud environment and sign in again and again...

**Describe the solution you'd like**

I want to have a similar mechanism like what kubectl supports, have multiple local co

[2019-08-18 07:38] codestellar commented on #7874
The issue appears to be in bash as well

[2019-08-18 19:52] smartpcr opened #10266 "unable to set key vault access policy to user assigned identity using service principal"
## description
As a developer, I would like to provision MSI (user assigned identity) and grant access to read key vault using service principal (terraform)

## steps

1. create spn with owner for current subscription
[code]
2. grant kv access policy to newly created spn
[code]
3. login as service principal
[code]
4. create a new identity
[code]
5. grant reader permission to kv secret
[code]

## e

[2019-08-19 01:34] MyronFanQiu commented on #10174
@malinoff Truly sorry. I thought you were not care about this issue anymore. Reopen this issue to track the dependency problem.

[2019-08-19 02:28] malinoff commented on #10174
Right, but I explicitly said that packaging is still a problem. And silently closing issues is not healthy by itself, there has to be some resolution of the problem, at least for the future readers.

[2019-08-19 04:35] MyronFanQiu commented on #10174
@malinoff I agree. My mistake. Thanks~

[2019-08-19 06:18] ithahn commented on #9835
Hi,
any update on this topic please?

Meanwhile I have tested that the same behaviour appears if you just use powershell with the Az Cmdlets.

Thanks,
Klaus

[2019-08-19 08:17] qwordy commented on #10260
It works fine on my machine.

Use this command `az account list-locations -o table` to list available locations and then use Name instead of DisplayName in your `az sig` command. Does it work?

Which version are you using? Run `az --version`

[2019-08-19 08:32] MyronFanQiu commented on #9858
@villanub Ping

[2019-08-19 08:34] MyronFanQiu commented on #7210
@Chandrasekar Srinivasan Any update for this issue?

[2019-08-19 08:34] MyronFanQiu commented on #7210
@chandrasekarsrinivasan Any update for this issue?

[2019-08-19 08:38] MyronFanQiu commented on #7197
@malopMSFT @chandrasekarsrinivasan Does it still support only one source or destination?

[2019-08-19 08:49] MyronFanQiu commented on #7106
@Am018 Hello. Any update about this issue?

[2019-08-19 08:49] MyronFanQiu commented on #6688
@avijitgupta Hello. Any update about this issue?

[2019-08-19 09:32] hjhhh3000vitae opened #10267 "webapp:AppServiceLogTest.test_download_linux_web_log not passing"
**Describe the bug**
Test `AppServiceLogTest.test_download_linux_web_log` on `dev` branch. An error was thrown that `UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa5 in position 123: invalid start byte` while the byte and position changes each time.

**To Reproduce**
1. I was using the up-to-date `dev` branch, configured the environment with `azdev setup -c`.
2. I used `azdev test --live t

[2019-08-19 09:40] MyronFanQiu commented on #9123
@Know1 Hello. I don't fully understand your request. Do you just mean that we should correct our documentation or we need some feature to correctly map multiple inbound ports to multiple backend ports.

[2019-08-19 09:42] MyronFanQiu commented on #1481
@rohinkoul Hello. I'm the new guy working on the Azure CLI Network. We can work together to solve this issue.

[2019-08-19 09:45] MyronFanQiu commented on #6679
@akshaysngupta Any update on this issue?

[2019-08-19 09:47] MyronFanQiu commented on #2175
@akshaysngupta Any update or conclusion about this issue?

[2019-08-19 09:54] MyronFanQiu commented on #9236
@MikhailTryakhov Hi. Could you help me find the correct person solving this issue?

[2019-08-19 09:59] jiasli commented on #10266
Reproed. When logged in as Service Principal, setting policy via `--spn <clientId>` will look for the `objectId` (also called `principalId`) from `<clientId>` (also called `service principal name`) using Graph API and get denied. We will work internally for a fix.

[2019-08-19 10:00] MyronFanQiu commented on #1636
@Nilambari  Any update about this issue?

[2019-08-19 10:06] MyronFanQiu commented on #4436
@Nilambari Any Update about this issue?

[2019-08-19 10:09] hjhhh3000vitae commented on #10267
Figured out that it will pass only under python2.7

[2019-08-19 10:13] ogerardin opened #10268 ""az rest": allow the HTTP request body to be taken from a file (similar to curl's "--data @filename")"
**Is your feature request related to a problem? Please describe.**
When using `az rest` under Windows, if you need to pass a large body you quickly hit the length limit for a single command.

**Describe the solution you'd like**
I'd like to be able to put the body in a file and pass a reference to that file instead of the the actual body to the `az rest` command, e.g.
`az rest -m PUT -u https://ma

[2019-08-19 10:13] MyronFanQiu commented on #1292
@malopMSFT Hello. Is this issue still used? or will us use the CLI Gap V2?

[2019-08-19 10:20] MyronFanQiu commented on #8891
@karravi-msft Hello. Any update?

[2019-08-19 10:21] Know1 commented on #9123
This specific request was to update the documentation to clarify as per pointed out above.
It should also clarify the last point as that is ambiguous and an unknown outcome.

[2019-08-19 10:22] MyronFanQiu commented on #9851
@dijyotir Hello. Any update?

[2019-08-19 10:23] MyronFanQiu commented on #7907
@karravi-msft Hello. Any update?

[2019-08-19 10:57] verricoi opened #10269 "Error running az webapp"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --resource-group {} --sku {} --name {}`

## Expected Behavior

[2019-08-19 11:37] metrue opened #10270 "Could not create weekly vm backup schedule policy"
**Describe the bug**
Create weekly backup schedule policy failed.

**To Reproduce**

* create a recovery vault
[code]

* create weekly schedule backup policy

[code]

Got error message,
[code]

**Expected behavior**
Weekly policy schedule policy created.

**Environment summary**
[code]

**Additional context**

This's JSON content of config.
[code]

[2019-08-19 11:52] Juliehzl commented on #10239
Hi @irfanmaroof It looks you expect to use specify two source files with space separated. At a result, the last argument `readme.txt` cannot be recognized, right? Actually, for `upload-batch` command, `-s` should be the ***directory*** where the files to be uploaded are located. Spaced-separated sources are not supported now.

[2019-08-19 11:53] Juliehzl commented on #10192
@zezha-msft Do we have API supporting this?

[2019-08-19 12:00] villanub commented on #9858
I tested this morning and do not experience this issue any more. Looks like all is reporting correctly now.

[2019-08-19 12:00] #9858 closed

[2019-08-19 12:00] colemickens commented on #10192
(just in case it helps clarify, my StackOverflow question has some more detail, as well as the specific bits from documentation that leads me to believe it should be possible: https://stackoverflow.com/questions/57479279/does-it-work-az-disk-create-for-upload-az-disk-grant-access-access-level) Thanks for looking into this!

[2019-08-19 12:25] irfanmaroof commented on #10239
az storage blob upload-batch -d "" --account-name "" --account-key "" -s .

I am providing the full current directory you can see above command with ".".
I have .tif files so I see issue for these files only.

[2019-08-19 14:58] stijn192 opened #10271 "workernode-count on hdinsight resize is not working"
az hdinsight resize does not work with a given "workernode-count" - rather it expects a "--target-instance-count".

I don't know what is the preferred behaviour, but the command in documentation does not work with --workernode-count, but does with --target-instance-count.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID:

[2019-08-19 15:10] sfiguemsft commented on #8544
@radwiv

[2019-08-19 15:14] ibelieveai opened #10272 "az login fails (command line)"
The issue has been copied to your clipboard. Paste it here!
To print out the issue body locally, run `az feedback --verbose`

### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**

:confused:

```Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='login.microsoftonline.com', port=

[2019-08-19 15:38] ritchxu commented on #10260
I seem to not able to find Name for canary regions such as `Central US EUAP`.

Output from `az --version` as below, does it have anything to do with older version not supporting it?
[code]

[2019-08-19 17:25] hkuadithya commented on #9598
@sajayantony this issue has been open for more than a couple of months now. I suggested @maguirpd to run `check-health` but he hasn't responded so far.

Do you think we should wait for his response or close this issue?
We could request him to reopen this issue if the problem persists.

[2019-08-19 17:27] adewaleo commented on #9835
Hello, unfortunately I am no longer on the CLI team. Now in ACR. I will forward this to the team to see if someone can pick up this issue.

[2019-08-19 18:13] thatguylong opened #10274 "Unable to load extension 'storage-preview' for azure-cli 2.0.71"
**Describe the bug**
After upgrading to azure-cli 2.0.71, commands that I run gives me a

[code]

The only one that does not seem to produce that error is:

[code]

Here is the debug:

[code]

**To Reproduce**
Upgrade to latest. Run az commands

**Expected behavior**
To not get the `Unable to load extension 'storage-preview'. Use --debug for more information.` error.

[2019-08-19 18:48] PatrickTseng commented on #6120
Just fixed this issue and the exception now has the following message:

The target resource id '{0}' is not supported.

Where {0} is the ARM resource id.

Thanks
Patrick Tseng
Developer, Microsoft Azure Monitoring team.

[2019-08-19 18:51] shurd commented on #8633
Hi, in version 2.0.71 of the CLI, we released a preview version of the new dataplane resource management. As a part of this change, there is a fix to this problem so that you can easily supply a shard key when creating a Mongo DB collection.

Previous Command:
[code]
New (working) command:
[code]

This new command automatically appends the required /'$v' in the shard key.

[2019-08-19 18:51] #8633 closed

[2019-08-19 19:02] #9997 closed

[2019-08-19 19:05] shurd commented on #10048
Hi @Dave76, in version 2.0.71 of the CLI, we released a preview version of the new database and collection management. As a part of this change, you can update database level throughput.

Creating a MongoDB database with shared throughput:
[code]

Updating throughput:
[code]

If you run the same "create" command and attempt to update throughput via that command, you will get a bad request exceptio

[2019-08-19 19:12] shurd commented on #6272
Hi, in CLI version 2.0.71, we released a preview version of the new database and collection management commands. These commands are idempotent and do not throw an error if the resource already exists. Each API has their own command group.

For example, ```az cosmosdb mongodb database create``` returns the state of the database resource when run multiple times.

[2019-08-19 19:12] #6272 closed

[2019-08-19 19:19] shurd commented on #7506
Hi, in version 2.0.71 of the CLI, we released a preview version of the new database and collection management. As a part of this change, you can management database level throughput.

For example, you can create a MongoDB database with:
[code]
az cosmosdb mongodb database throughput update -a {account_name} -n {database_name} -g {resource_group} --throughput 600
[code]

[2019-08-19 19:19] #7506 closed

[2019-08-19 19:24] shurd commented on #9793
Hi, in version 2.0.71 of the CLI, we added a preview version of the new way that databases and collections are managed. As a part of this change, we now have API-specific database and collection create/updates. These new commands provide more guidance for required parameters depending on the API.

[2019-08-19 19:24] #9793 closed

[2019-08-19 19:25] #10048 closed

[2019-08-19 19:39] btardif commented on #10269
We are investigating this issue

[2019-08-19 19:44] btardif commented on #10216
we will tackle this in sprint 69

[2019-08-19 19:51] zezha-msft commented on #10192
Hi @colemickens, please do not expose your SAS on Github as anyone can access that managed disk now. Please revoke the SAS accordingly.

[2019-08-19 19:51] zezha-msft commented on #10192
@Juliehzl could you please clarify? The managed disk (blob) is just a page blob.

[2019-08-19 19:57] joetortorelli commented on #8867
I am a derp. Thank you for this. I had assumed this message was an error.

[2019-08-19 20:12] colemickens commented on #10192
(Thanks for the guidance, but the SAS token was only valid for an hour (or at least it was supposed to be, based on the arguments I passed to `grant-access`) so it is very long since expired. Anyway, it was just 50GB of zeros anyhow.. :smile: . I do take care to wait for them to expire or scrub the SAS/access tokens generally when pasting here and elsewhere.)

[2019-08-19 20:12] chrisatrotter commented on #10257
I figured out that it came from running terraform destroy. The resource was removed.
Thank you for doing the DNS lookup and helping me resolve this issue.

[2019-08-19 20:12] #10257 closed

[2019-08-19 20:50] dijyotir commented on #9851
@MyronFanQiu Hi, this functionality is right now only available in Portal. Right now CLI and Powershell does not support this functionality.

[2019-08-19 21:39] btardif commented on #7261
We are on track for s69

[2019-08-19 22:46] zezha-msft commented on #10192
@colemickens I've contacted the managed disk PM to shed some lights on your scenario.

[2019-08-19 22:56] HellDevil commented on #7564
Any news regarding this issue ?

[2019-08-20 02:03] qwordy commented on #10260
Download the latest version of Azure CLI and have a try. Thanks.

[2019-08-20 02:19] Juliehzl commented on #10274
@thatguylong  Can storage-preview extension be loaded before you upgrading azure cli to 2.0.71? If yes, what is the version of your azure cli?
Can you upgrade your storage-preview extension first? Storage-preview 0.1.6 is too old and maybe roved in profile... For me, storage-preview 2.0.8 works well with azure cli 2.0.71.

[2019-08-20 02:22] zikalino commented on #10260
@ritchxu could you run your command with **--debug** option and include the result?

[2019-08-20 02:28] Juliehzl commented on #10239
Can you send your debug message to my e-mail (zuh@microsoft.com )or post in comment  using `az storage blob upload-batch -d "" --account-name "" --account-key "" -s . --debug`?  Please remember to delete your ***account key*** information.

[2019-08-20 03:04] jiasli commented on #10272
Please check if you are behind a proxy and if the proxy is intercepting HTTPS traffic with a custom root cert. If so, follow [working behind a proxy](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy) to trust this cert.

[2019-08-20 03:56] MyronFanQiu commented on #9851
@tleepa Should I change this issue into a feature request?

[2019-08-20 05:01] panchagnula commented on #9244
we are unable to repro this one. closing this

[2019-08-20 05:01] #9244 closed

[2019-08-20 05:08] TAdityaAnirudh commented on #9437
That's correct @Wand3rvogel PS is not supported either because Central management for MARS is not a GA product. (i.e. syncing Backup items, jobs, alerts, etc. to Azure portal) We will add support for MARS Central management in CLI and PS when these features get to GA. Until then, can you please work around this using REST API?

[2019-08-20 05:28] Wand3rvogel commented on #9437
@TAdityaAnirudh I do it already.

[2019-08-20 06:06] #10018 closed

[2019-08-20 06:21] jasonxdhu opened #10276 "Key Vault Certificate command doesn't support certificate transparency flag for OneCert issuer"
**Describe the bug**
A clear and concise description of what the bug is.

    When use command "az keyvault certificate create --vault-name {vault_name} -p @{json_body} -n {cert_name}" to create a certificate issued by OneCert, it failed with error message "The Self issuer does not support Certificate Transparency. Disable Certificate Transparency and try again."
    The "Self issuer" is not corre

[2019-08-20 07:09] qwordy commented on #9835
I reproduce your problem. I find the related code. Azure CLI checks whether subscriptions match. If not, it raises an error. It also verifies region match. So, it is by design now.

@yugangw-msft Do you think Azure should support such cross subscription operations?

[2019-08-20 07:09] MyronFanQiu commented on #9327
@Nilambari ping

[2019-08-20 07:35] qwordy commented on #10270
Then backup service returns an error:
[code]

You can find useful information in https://docs.microsoft.com/en-us/azure/backup/backup-azure-arm-userestapi-createorupdatepolicy.

Make sure the format is correct.

[2019-08-20 07:37] qwordy commented on #10231
Could you add `--debug` to the end of your command and provide the output? Thanks.

[2019-08-20 07:49] manjudemo commented on #4318
Hi Team,
I am trying to enable using with new keyvault with new key after removing the encryption done by old keyvault. But I am getting below error.
Deployment failed. Correlation ID: xxxxxxxxxxxxxxxxxxxx. VM has reported a failure when processing extension 'AzureDiskEncryption'. Error message: "Failed to send DiskEncryptionData, Check KeyVault inputs, ResourceIds and retry encryption operation".

[2019-08-20 07:57] Juliehzl commented on #10242
Hi @adamday2 When we create new key with EC key type for storage account Encryption in portal, the action is still allowed and log message is the same as what azure cli shows.
<img src="https://user-images.githubusercontent.com/49508232/63327964-d720b600-c361-11e9-99fe-11ae77a5aad6.png" width=200 height=60 />
But for existing keys, EC type keys are not allowed to be selected in keys list and with

[2019-08-20 07:58] jiasli commented on #10263
https://github.com/Azure/azure-cli/blob/c935aa431e4871979f1be2e5dd5cf2902eaca319/src/azure-cli/azure/cli/command_modules/role/custom.py#L1143

`cert` is `False` by default, so `list_password_credentials` is called. To get certificates listed, append `--cert`, so that CLI calls `list_key_credentials`.

[code]

Also see: https://docs.microsoft.com/en-us/cli/azure/ad/app/credential?view=azure-cli-lat

[2019-08-20 08:03] #10127 closed

[2019-08-20 08:33] Alonreznik opened #10277 "api-version=2017-10-01-preview was not found"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sql dw list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sql dw list -g {} -s {}`

## Expected Behavior

## Environment Summary

[2019-08-20 09:12] jiasli commented on #10276
I tried to repro and got `"The OneCert issuer does not support Certificate Transparency. Disable Certificate Transparency and try again."` from the raw HTTP request. I need further confirmation with Azure Key Vault service team.

At the same time, could you check if `OneCertCA` is configured correctly by running
[code]

Meanwhile, could you update to [Azure CLI 2.0.71](https://docs.microsoft.com/e

[2019-08-20 09:17] irfanmaroof commented on #10239
Today When I tried this command it worked.

Thanks for your help.

On Tue, Aug 20, 2019 at 4:28 AM Zunli Hu <notifications@github.com> wrote:

[2019-08-20 09:30] RalfWenzel commented on #9835
@qwordy From our experience: The command fails also, if the keyvault is in another resource group but in the same subscription (as the vm to be protected). Can you please review your finding?

[2019-08-20 09:31] smartpcr commented on #10266
thank you @jiasli for help, I am unblocked. :)

[2019-08-20 09:31] #10266 closed

[2019-08-20 10:49] paulpuvi06 commented on #10263
yes ! it works . it would be great if  "az ad app credential list --id xxxx " returns both type of credentials which is easier to prepare reports rather than writing loops in script. can this be considered as feature request ?

[2019-08-20 11:02] metrue commented on #10270
I read that document for thousands of times, it does not help any.
I already post my JSON payload as above, I try my best to find the root cause, do you find any clue?

And the error message can be more helpful if it tell me which field is not correct, and give the correct example.

[2019-08-20 11:11] goldi28 opened #10278 "HTTPSConnectionPool(host ,port=443): Max retries exceeded with url Failed to establish a new connection:"
**Is your feature request related to a problem? Please describe.**
I am trying to do a web authentication for corporate website , but  everytime it throws me the below error

![image](https://user-images.githubusercontent.com/6632016/63342271-adb75880-c368-11e9-979a-a09f025e184d.png)

**Describe the solution you'd like**
I want to just authenticate the webpage so tha tI cna download the CSV
Not su

[2019-08-20 11:13] goldi28 commented on #10278
opened the issue  in wrong place ,so closing it

[2019-08-20 11:13] #10278 closed

[2019-08-20 13:45] ritchxu commented on #10260
@zikalino here is the output with **--debug** https://gist.github.com/ritchxu/3d0bf96410ff31a17fcbd73ed208d081

[2019-08-20 13:59] Satak opened #10279 "Deployment validate wrong exit code"
**CLI version**
2.0.62 / latest

**Describe the bug**
When you run `az group deployment validate` command against your ARM templates in for example CircleCI the CLI tool returns exit code 0 though you encountered an error and your json error response is not null. Same behavior is for Windows.

**To Reproduce**
Validate any invalid arm template with the AZ CLI tool with command `az group deployment

[2019-08-20 15:01] Trinakriae opened #10280 "Issue with ResourceGroup when creating a new WebApp"
**Describe the bug**
I am trying to create a WebApp using the CLI but I get an error `'NoneType' object has no attribute location` when launching `az webapp create`. I guess this error happens since it is targeted the wrong ResourceGroup.
When I launch the command `az webapp list` I get the error `ResourceGroupNotFound - Resource group <resourceGroupName> could not be found` where `<resourceGroupN

[2019-08-20 15:07] markheath opened #10281 "az aks create fails with Internal Server Error"
## Describe the bug
Trying to create an AKS cluster, but am getting "Bad Request" - "Internal server error"

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:

- Create an empty resource group
- `az aks create -g aksrg -n myaks --node-count 3 --generate-ssh-keys`

## Expected Behavior
Creates an AKS Cluster

## Environment Summary
[code]
## Additional Context

If I run with `-

[2019-08-20 15:08] chshihMSFT opened #10282 "CosmosDB update / enable-multiple-write-locations = false is not allowed"
The option for disable the Azure Cosmos DB Multi-region Write feature is not available anymore.
Azure CLI command would fail as shown below which is expected and intended.
```az cosmosdb update -n cosmosdbname -g resourcename --enable-multiple-write-locations false```

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: abc8

[2019-08-20 16:13] adamday2 commented on #10242
Thanks for investigating @Juliehzl . I see the difference now and agree!

[2019-08-20 17:07] khabbabs opened #10283 "Log profile location being set to null when updating categories"
**Describe the bug**
First I created a log profile with one of the three defined categories  of Delete Write Action.
when attempting to update the categories I get an error where the location is being set to null

**To Reproduce**
create log profile
example:
 az monitor log-profiles create --categories "Action" "Delete" --days 0 --enabled true --location eastus --locations centralus --name MyLogPr

[2019-08-20 17:23] Joon-L commented on #10276
@jiasli I was able to repro this with the 2.0.71 CLI. The OneCertCA is correctly set up as I get the response
[code]

[2019-08-20 17:25] adewaleo commented on #9835
I apologize for not looking into this issue more carefully. However Azure Disk Encryption has the following requirement:

"Azure Disk Encryption requires that your key vault and VMs reside in the same Azure region and subscription. Configuring the resources in separate regions causes a failure in enabling the Azure Disk Encryption feature." - [ADE prerequisites doc](https://docs.microsoft.com/en-u

[2019-08-20 18:26] mooninite commented on #9647
I no longer have access to the Azure account in question. I forwarded this request to the people who do. Thanks.

[2019-08-20 18:47] linuxunderground commented on #10130
Hi,

[azure-cli-profile.txt](https://github.com/Azure/azure-cli/files/3522066/azure-cli-profile.txt) : this is a patch to apply to azure-cli-profile-2.1.5.tar.gz package. This patch fixes this issue.

Some explanations :
At https://pypi.org/, you have 2 different packages (azure-cli-2.0.71.tar.gz and azure-cli-profile-2.1.5.tar.gz)  with the same files to install in the same place :

[code]
IMHO,

[2019-08-20 19:56] mbalsam-refind commented on #6537
If you provide a .vimrc  containing set nocompatible and use the azure container webgui Connect you can get in there to edit a file.  Otherwise the "az container exec" is useless...  Why has this taken YEARS to fix. @dkkapur

[2019-08-20 20:05] Sanitys opened #10284 "Bug using --identity without identity assigned to VM"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login --identity`

Try to login with a VM and no identity you will get the a

[2019-08-20 20:44] yaegashi commented on #10230
Probably the same problem here.

[code]

The following "period" specifications return the same usage list for the most recent billing period.  It's 2019-08-02 to 2019-09-01 for me.

[code]

[code]

[2019-08-20 20:51] panchagnula commented on #10248
@MyronFanQiu the documentation example is misleading on the usage here to use --generic-configurations, add the JSON object to a son file & run the command as az webapp config set -g {}-n {} --generic-configurations @test.json & see if that works.

@yugangw-msft looking at the code the usage of the command as given in the documentation incorrect az webapp config set -g MyResourceGroup -n MyUniqueA

[2019-08-20 22:12] TsuyoshiUshio opened #10285 "OData sample for filter"
I spent some time for learning OData. How to use it on az command. I recommend to add sample for az ad sp list --filter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e99d25ff-03e2-e015-37f4-a29b59ec50d4
* Version Independent ID: 1a8e88ed-72c7-fbe7-b0ad-68f23b3946cd
* Content: [az ad sp](https://docs.microsoft.com/en-

[2019-08-20 22:30] MikhailTryakhov commented on #9236
@MyronFanQiu  @Nilambari  is a contact for you.
Please review table to help https://microsoft.sharepoint.com/teams/WAG/AzureNetworking/_layouts/OneNote.aspx?id=%2Fteams%2FWAG%2FAzureNetworking%2FOneNotes%2FNRP%20migrated&wd=target%28Hydra%20%2B%20SDK.one%7C96F7B95B-A378-4CA5-903B-C88F894873EF%2FPowerShell%20tests%20ownership%7C999ED209-6ACB-4339-9CE8-B02F7A97FCE2%2F%29

[2019-08-20 23:24] yugangw-msft commented on #10248
The command missing the wrapping quotes: ```"{\"clientAffinityEnabled\": false}"```
We have a doc [here](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#quoting-issues) with suggestions of how to handle quotes.
Right now, we need to fix the sample from `-h` which misses the quotes
[code]

[2019-08-21 01:04] jasonxdhu opened #10286 "Cannot remove VNET subnet for KeyVault when subnet ID contains uppercase letters"
**Describe the bug**
A clear and concise description of what the bug is.
When run
az keyvault network-rule remove --subnet "<my-subnet-id>" --resource-group "<my-resource-group>" --name "<my-key-vault-name>"
It fails to remove the subnet without error when "<my-subnet-id>" contains upper-case letters.

**To Reproduce**
Steps to reproduce the behavior.

The following command will not remove subnet

[2019-08-21 01:26] ramankumarlive commented on #10192
@colemickens The direct upload to managed disk feature is currently in the beta phase. We haven't even announced it publicly. That is why you are experiencing rough edges in the customer experience. Thanks for trying out the feature by looking at the rest API. We appreciate it!

Now, lets talk about the problem:

az storage blob upload uses a storage API that first creates a blob on the target and

[2019-08-21 01:40] MyronFanQiu commented on #9236
@MikhailTryakhov Thanks!

[2019-08-21 02:06] #9474 closed

[2019-08-21 02:06] #9475 closed

[2019-08-21 02:43] #9835 closed

[2019-08-21 03:00] dcbrown16 opened #10287 "--add parameter?"
What is the --add parameter for (on az sql server conn-policy update)? The info about "objects" is very vague (and seems to have maybe come from az resource update). Can you add multiple servers or DBs or something here?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4d84bcc6-6274-7c1b-3394-c8be820ec786
* Version Indep

[2019-08-21 03:36] Juliehzl commented on #10192
@colemickens  I think you can try to use azcopy in your system first through https://github.com/NixOS/nixpkgs/blob/master/pkgs/development/tools/azcopy/default.nix. If it doesn't work for you, please wait for the new `az storage blob upload` command.

[2019-08-21 06:02] jiasli commented on #10287
`--add` is a **generic update** operation which applies to all resources. Yes, it does similar things as `az resource update`, but you only need to provide elements to be added. Please see https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#using-the-generic-update-arguments for more detailed usages.

The structure of `connectionPolicies` is at https://docs.microsoft.com/en-us/a

[2019-08-21 06:09] dcbrown16 commented on #10287
Ah, I see, so in this particular case it's pretty meaningless since there is only that one property which already has its own parameter. Great info, thanks for the quick response! Closing.

[2019-08-21 06:09] #10287 closed

[2019-08-21 06:11] pvrk commented on #8677
@christiankuhtz: any update on this please?

[2019-08-21 07:01] Tank1719248 opened #10288 "Executing az aks install-cli error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2019-08-21 07:43] PuffTMD commented on #10248
I've updated the command as indicated above 👆 but there is no change on the portal for webapp config for clientAffinityEnabled

[2019-08-21 08:13] markheath commented on #10281
Fails with the same error in Cloud Shell as well, and also fails if I leave off the `--node-count` and `--generate-ssh-keys` arguments

[2019-08-21 09:26] kasunsjc opened #10289 "Unable to load extension 'resource-graph'. Use --debug for more information."
azure-cli                         2.0.71

command-modules-nspkg               2.0.3
core                              2.0.71
nspkg                              3.0.4
telemetry                          1.0.3

Extensions:
aks-preview                        0.4.5
azure-devops                      0.12.0
resource-graph                     0.1.8
interactive                        0.4.2

Python location

[2019-08-21 09:45] bottkars commented on #10160
yes.

[2019-08-21 09:48] bottkars commented on #10160
i need to query the actual status of the operation to eval next steps in pipeline.
i  can essentially work around the above to query in an until loop, buit this might to cause an endless loop for staes like "connection reset by peer" or thers

[2019-08-21 10:52] Tank1719248 opened #10291 "az"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2019-08-21 12:06] markheath commented on #10281
I tried creating an AKS cluster in the portal on this subscription, and that failed in a similar way too, but the error gives a good hint of what is going wrong:

[code]

So it seems that the service principal it wants to use is not available for some reason.

This means I can workaround the issue with `az aks create` by first creating a service principal manually with `az ad sp create-for-rbac --

[2019-08-21 12:06] yugangw-msft commented on #10248
then we will use this issue to track the doc issue on `az webapp config set`

[2019-08-21 12:24] cryptolukas opened #10292 "Apt Repository don't work properly"
[code]
**Describe the bug**
If you try to use apt update you get the following error
[code]

**To Reproduce**
Execute apt update on Ubuntu 18.04

**Expected behavior**
I get no error.

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --version`) / OS version / Shell Type (e.g. bash, cmd.exe, Bash on Windows)

[code]

**Addit

[2019-08-21 13:01] SteveDevOps commented on #7686
I experience the same thing as Pieter -- I'm on linux pop!_os 19.04. az-cli 2.0.58

[2019-08-21 13:46] srini99mkl opened #10293 "functionapp:Python function App .zip file issue"
Hello, I have created my Python code as function app and the published to Azure, it uploaded as .zip file., How do i call my function in Azure?

[2019-08-21 14:12] MyronFanQiu commented on #10291
@Tank1719248 Hello. There is another open issue https://github.com/Azure/azure-cli/issues/10288 similar with this one. Could we close this issue?

[2019-08-21 14:16] MyronFanQiu commented on #10293
@srini99mkl I'm not sure is this question related with CLI. Usually, you need to set the trigger for you function. Here is the doc you can refer. https://docs.microsoft.com/en-us/azure/azure-functions/functions-create-cosmos-db-triggered-function

[2019-08-21 14:23] srini99mkl commented on #10293
Thank you for the quick reply.  My code is not related to cosmosDB. My code reads a files from Gen2 file storage and writes into SQLDW.  Why can’t I see my function at all. How do I pass parameters to my function when I call it.

To my main.py, I will have to pass three parameters… any help would be greatly appreciated.

Thanks,
Srini

From: MyronFanQiu [mailto:notifications@github.com]
Sent: Wedn

[2019-08-21 15:06] ea1het opened #10294 "az role definition delete failed with OAuth2 Bad Request for URL"
## Describe the bug

**Command Name**
`az role definition delete`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az role definition delete --name {}`

## Expected Behavior
A custom role definition should be deleted with a confirmation.

## Env

[2019-08-21 15:27] rouxton commented on #9967
Hello all, any news on this one ?

[2019-08-21 16:49] jimmy-dg commented on #9599
@limingu I think this is a valid bug, I'm able to reproduce this with v2.0.70, with the exact same behaviour @raviteja22 described in the above comment.

If I move the files to a sub directory and run batch upload, the error goes away and works fine.

[2019-08-21 17:14] ernani opened #10295 "Unable to create SQL MI via az cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sql mi create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sql mi create --resource-group {} --location {} --name {} --admin-us

[2019-08-21 17:29] JonShelley opened #10296 "add start-task-user-id option to the az batch pool create list of supported options"
**Is your feature request related to a problem? Please describe.**
When creating a pool in batch I am able to add a start_task but it fails since the user_id is not set to pool autouser admin

**Describe the solution you'd like**
I would like an option added like --start-task-user-id that could be set to one of the 4 supported options (i.e. task autouser, non-admin/admin and pool autouser, non-adm

[2019-08-21 19:31] panchagnula commented on #10248
clientAffinityEnabled is a site Object property so we use this command https://docs.microsoft.com/en-us/cli/azure/webapp?view=azure-cli-latest#az-webapp-update

--set is the equivalent of --generic-configurations so you can try using that as well.

[2019-08-21 19:34] jaysterp commented on #9982
@SourceStudio thank you for the feedback for incorporating multi-branch support. We will discuss this with the team. The roll out is complete and pull request triggers are now enabled. Can you please create a new task with `--pull-request-trigger-enabled true` and let us know if you are unblocked? Thanks!

[2019-08-21 19:35] ernani commented on #10295
It seems that it must create a route table first, but that's not documented anywhere in the az cli sql mi create doc AFAIK.

[2019-08-21 20:04] khabbabs opened #10297 "--set documentation"
--set needs more verbose documentation showing examples of how to update locations and categories.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 58a5a5bd-c481-72b8-0cec-05c8795b4469
* Version Independent ID: dba52140-3799-cbc3-4628-c2e77d246eb1
* Content: [az monitor log-profiles](https://docs.microsoft.com/en-us/cli/

[2019-08-21 20:31] khabbabs commented on #10162
I have similar issue when updating log profile locations

[2019-08-21 21:09] andreacassioli commented on #8262
Sorry to insist, but the message will not help that much. It might be a matter of wording, but to me invalid scope does not necessary mean that a resource does not exist!

[2019-08-21 21:09] andreacassioli commented on #7692
Bump...

[2019-08-21 21:13] andreacassioli commented on #7674
Any news? The work around are pretty cumbersome and to me confusing as long as the other parameters are available. Nothing worst than a CLI with unpredictable behavior...

[2019-08-22 06:32] Juliehzl opened #10300 "storage container create when name existing no error message"
**Describe the bug**
`az storage container create` using a existing name

return `created: fasle` no error message to show name existed

**To Reproduce**
`az storage container create` using a existing name

**Expected behavior**
Show correct message "The name exists"

**Environment summary**
Install Method (e.g. pip, interactive script, apt-get, Docker, MSI, edge build) / CLI version (`az --versio

[2019-08-22 09:15] K31D commented on #9640
If you pass an empty string to -DynamicThreshold it lets you create the criteria unfortunatelly when you create the alert rule it comes with static "default" threshold.

protected override void ProcessRecordInternal() |  
-- | --
  | {
  | if(String.IsNullOrWhiteSpace(this.DynamicThreshold))
  | {
  | List<MetricDimension> metricDimensions = new List<MetricDimension>();
  |  
  | if (this.Dimensio

[2019-08-22 09:16] johannesoenema opened #10301 "webapp:Try start webjob on a slot but not working"
### Describe the bug

**Command Name**
`az webapp webjob continuous start`

**Error**
[code]

### To Reproduce
Steps to reproduce the behavior. Note: Command arguments have been redacted.

* Run: `az webapp webjob continuous start --webjob-name {} --name {} --resource-group {} --slot {}`

### Expected behavior
Start webjob in a slot

### Environment summary
[code]

### Additional context
Same issu

[2019-08-22 09:39] johannesoenema commented on #10301
I just found out that the fix is in the dev branch: https://github.com/Azure/azure-cli/commit/983c48365929e9f907cee6be3ebccbb4a4d7dfc2

Do you know when it will be released?

[2019-08-22 09:40] metrue commented on #10270
It's fixed by leaving `InstantRpRetentionRangeInDays` field of `backup.AzureIaaSVMProtectionPolicy` empty.

[2019-08-22 10:20] metrue commented on #10270
And anyone knows what `InstantRpRetentionRangeInDays` used for.
https://docs.microsoft.com/en-us/rest/api/backup/protectionpolicies/createorupdate

[2019-08-22 11:52] vidarkongsli opened #10302 "az storage blog sync sets content-type on .js files to text/plain"
**Bug description**
When using `az storage blob sync` to synchronize files to an Azure storage blob container, `.js` files get content-type `text/plain`.

**Expected behavior**
Content type should be `application/javascript`.

**Environment summary**
* azure-cli                         2.0.70
* command-modules-nspkg               2.0.3
* core                              2.0.70 **
* nspkg

[2019-08-22 11:53] vidarkongsli commented on #10302
Actual command run by the Azure DevOps task: `az storage blob sync --container $web --source D:\a\r1\a\_web\drop --account-name nottherealname`

[2019-08-22 11:57] kingweo commented on #8108
I just met alike issue when I enabled diagnostics agent with the cli command.
I let 2 windows vm enable diagnostics use the same storage account, they're enable succeed. but 2 vm display the same metric graph from metric of first VM.

[2019-08-22 11:57] yugangw-msft commented on #3614
done

[2019-08-22 11:57] #3614 closed

[2019-08-22 14:23] orensam-msft commented on #10222
Hi, upgrading to `2.0.71` did the trick. Thanks!

[2019-08-22 14:23] #10222 closed

[2019-08-22 14:59] vborioni-onit commented on #7874
i'm facing the same issue in powershell
`az webapp create --name  --resource-group $resourceGroup --plan $servicePlan --runtime "DOTNETCORE|2.2"`
output : '2.2' is not recognized as an internal or external command
i've tried with "DOTNETCORE`|2.2" but nothing...

[2019-08-22 16:10] svelango opened #10303 "webapp:Accessing Storage from another subscription"
Can az webapp config storage-account add  access storage account in another subscription if roles are set?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4892bb1c-5cb4-91fa-325b-f5180cd05c3a
* Version Independent ID: 8c9a9a0e-5b36-4039-72c5-b28fd0bb9fd4
* Content: [az webapp config storage-account](https://docs.microso

[2019-08-22 16:35] SeanFeldman opened #10304 "The default for queue is 5GB, not 1GB"
[`az servicebus queue create`](https://docs.microsoft.com/en-us/cli/azure/servicebus/queue?view=azure-cli-latest#az-servicebus-queue-create) creates a queue of 5GB by default on Standard tier, not 1GB as stated in the document.

Have not validated the Premium tier.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2889060

[2019-08-22 16:51] vairamsvsjdo opened #10305 "parameters dont have comment about valid values in several properties or have link that has valid values"
parameters dont have comment about valid values in several properties or have link that has valid values
don't provide syntax for all values
az vm create does not have valid values for:
size,

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 152b549b-d4b3-13e5-081c-c604b6e4d89e
* Version Independent ID: 3f79be78-ce75-ad31

[2019-08-22 17:09] panchagnula commented on #10301
This the release cycle tracking the fix https://github.com/Azure/azure-cli/milestone/71

[2019-08-22 17:09] #10301 closed

[2019-08-22 17:32] tleepa commented on #9851
@MyronFanQiu Yes, please. Thank you.

[2019-08-22 17:40] panchagnula commented on #7874
The problem is that PowerShell tries to interpret this as PowerShell specific & I means something else in PowerShell. Try escaping the command using % at the start like below

% webapp create --resource-group RGName--plan PlanName --name AppName --runtime "python|3.4"

[2019-08-22 17:45] #9777 closed

[2019-08-22 17:50] ahmedelnably commented on #10293
@srini99mkl this is a general Azure Functions questions, please open an issue here https://github.com/Azure/azure-functions

[2019-08-22 17:50] #10293 closed

[2019-08-22 20:58] dharmab commented on #10289
I get this when running various commands as well.

[2019-08-22 22:48] iluican commented on #10195
@yonzhan This is breaking some functionality in our extension (IoT), could you please try and prioritize the fix? Reading the release notes between msrest 0.6.7 and 0.6.9, there shouldn't be any breaking changes, so updating the dependency should be straightforward.

[2019-08-23 01:58] jiasli commented on #8262
If the signed-in user doesn't have permission to list resources, it is against security to report whether a resource exists or not. So user needs to check whether the scope is valid (matches the assigned scope).

[2019-08-23 01:58] #8262 closed

[2019-08-23 02:47] MyronFanQiu commented on #9404
@syfarogh Hello. I checked the existed code. I have a question, is this feature request related with current command `az network express-route peering connection`? you can check that we have `az network express-route peering connection show` command for now.

[2019-08-23 03:05] qwordy commented on #10305
You can use `az vm list-sizes`  to list all available sizes in your location.

Run `az vm create -h`

or visit

https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-create

You can see help

[code]

It is hard to provide valid size values because they depend on location.

We will revise the help message to include how to get valid value list.

[2019-08-23 03:08] jiasli commented on #10263
Sure. We will discuss with our PM.

[2019-08-23 03:15] jiasli commented on #10297
`--set` is a **generic update** operation which applies to all resources. Please see https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#using-the-generic-update-arguments for more detailed usages.

As for the structure of JSON body, please check [Log Profiles - Create Or Update](https://docs.microsoft.com/en-us/rest/api/monitor/logprofiles/createorupdate) REST API.

[2019-08-23 03:37] Juliehzl commented on #10302
@vidarkongsli  Have you specify content-type when using AzCopy? If you just using `azcopy sync “D:\a\r1\a\_web\drop” $destination_container_url` , I think the .js file may still in text/plain. But I think we should support specifying content-type for such command.

[2019-08-23 03:40] kasunsjc commented on #10289
Below will resolve the issue

You can remove it and add it again. I got similar error Error obtaining Authorization Token from the Azure CLI: Error retrieving access token from Azure CLI: WARNING: Unable to load extension 'resource-graph'. Use --debug for more information. . This was fixed after following commands

az extension remove --name resource-graph
az extension add --name resource-graph

T

[2019-08-23 05:31] vidarkongsli commented on #10302
The AzCopy Azure DevOps Task runs the following, which works as far as content-type is concerned: `& "AzCopy\AzCopy.exe" /Source:"d:\a\r1\a\_web\drop" /Dest:"https://nottherealname.blob.core.windows.net/``$web" /@:"d:\a\_temp\xpegyge5mi8mvvhfle67ds4i" /XO /Y /SetContentType /Z:"AzCopy" /V:"AzCopy\AzCopyVerbose_de1f860a-99a8-44d6-9a60-1877695d89d2.log" /S`

So yes, the switch `/SetContentType` is u

[2019-08-23 06:16] valeriob commented on #7874
Hi @panchagnula, thanks for trying to help, i've tried that with no luck...

`az % webapp create --name $appName --resource-group $resourceGroup --plan $servicePlan --runtime "DOTNETCORE|2.2"
`
same result

i tried with [RegEx]::Escape("DOTNETCORE|2.2") => and no luck eather
i tried "DOTNETCORE\|2.2" => not working

does someone have tested this in powershell ?

[2019-08-23 07:19] jiasli commented on #10285
This is more of an AAD service question. Please check https://docs.microsoft.com/en-us/previous-versions/azure/ad/graph/howto/azure-ad-graph-api-supported-queries-filters-and-paging-options#filter

[2019-08-23 07:34] tinod commented on #6962
This will happen if your account is associated with multiple Azure AD's. It can exist as a member user in one Azure AD, and as a guest user in the other Azure AD. If the Azure AD that you are a guest user in requires MFA, this error will occur.

You can mitigate this 'problem' by adding the Azure AD tenant to the login:

az login --tenant [tenantid]

in your case:

az login --tenant 4253165e-ba77-

[2019-08-23 07:36] #9384 closed

[2019-08-23 07:37] jiasli commented on #9384
PR #10196 has been merged.

[2019-08-23 08:39] swaechter commented on #9880
I switched to a manual installation and use `bionic` - works well (Debian Testing user)

[2019-08-23 09:06] ruowan opened #10307 "`aks get-credentials` failed"
**This is autogenerated. Please review and update as needed.**

Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {} --debug`

Expected Beh

[2019-08-23 11:59] jakubhalun opened #10308 "Invalid validation pattern for IP address in firewall rule creation for PostgreSQL DB"
**Describe the bug**
I try to execute command:
az postgres server firewall-rule create --resource-group %RESOURCE_GROUP% --server-name %DB_SERVER_NAME% --name AllowHostedAgentIP --start-ip-address %AGENT_IP% --end-ip-address %AGENT_IP%
from Microsoft Hosted-agent machine, with 2.0.71 Azure-CLI version.

%AGENT_IP% value was 13.92.125.135
Azure CLI rejects the command with ERROR:
ERROR: validation

[2019-08-23 13:15] sawyerh commented on #10215
@MyronFanQiu Any updates on this? This feels like a major bug.

[2019-08-23 13:48] colemickens commented on #10192
Thanks for the clarification. However, I *still* can't get it to work, even after packaging and trying `azcopy`:

[code]

[2019-08-23 13:50] colemickens commented on #10192
Turns out someone on StackOverflow actually provided a working example. Despite azcopy being "aware of managed disks in upload state" apparently you still have to tell it to upload a VHD as a pageblob. https://stackoverflow.com/a/57584855/472873

[2019-08-23 14:25] colemickens opened #10309 "Unhelpful error when trying to create SIG Image version from managed disk"
It's unclear if it's even possible to go from MD -> SIG Image instance, but the error message is highly unhelpful either way:

[code]

Is a user required to make an "image" from the managed disk before they can make a shared image?

[2019-08-23 14:27] colemickens commented on #10309
Lovely, and when I try to make an image first:

[code]

[2019-08-23 14:38] colemickens commented on #10192
So... new issue. I can't seem to make a SIG Image out of this. It doesn't work when I try to use a managed disk for the disk version instance, and I also can't create an "image" from a managed disk uploaded via the APIS were discussing here, I just this every time:

[code]

@ramankumarlive any help here?

[2019-08-23 14:56] ilyas-it83 commented on #7799
This still exists

[2019-08-23 15:29] ssbarnea commented on #7387
I ended up to this bug after I was surprised about how long it was taking to install azure-cli and also annoyed by the fact that it caused some conflict with other tools (including azure python sdk itself!). Apparently you cannot install `azure` and `azure-cli` without generating conflicts... something that can easily be prevented with a simple `pip check` at the end of the build process.

All the

[2019-08-23 15:54] panchagnula commented on #7874
@valeriob apologize I missed a part of the command earlier when trying to copy paste
try this

az --% webapp create --resource-group <> --plan <> --name <> --runtime "python|3.4"
This is how is used in the cloudShell powershelgl & it seemed to work

[2019-08-23 16:41] valeriob commented on #7874
Thanks @panchagnula but doing that i can no longer use powershell variables inside the script -.-

`az % webapp create --name $appName --resource-group $resourceGroup --plan $servicePlan --runtime "DOTNETCORE|2.2" --debug `

this are the parameter passed :

az : DEBUG: Command arguments: ['webapp', 'create', '--name', 'amadori-consegne-macellato', '--resource-group', '$resourceGroup', '--plan', '$

[2019-08-23 17:34] syfarogh commented on #9404
they are logically related, but PeerExpressRouteCircuitConnection is a separate resource.
_az network express-route peering connection_ is for ExpressRouteCircuitConnection resource.

[2019-08-23 17:34] syfarogh commented on #9404
they are logically related, but PeerExpressRouteCircuitConnection is a separate resource.
az network express-route peering connection is for ExpressRouteCircuitConnection resource.

[2019-08-23 18:19] panchagnula commented on #7874
In that case try to escape just the pipe character using ^ - did you already try this?

az webapp create --name $appName --resource-group $resourceGroup --plan $servicePlan --runtime "DOTNETCORE^|2.2"

[2019-08-23 19:14] zezha-msft commented on #10192
@colemickens thanks for the feedback, we've already fixed the VHD detection and it will be shipped in the next release.

I'll let @ramankumarlive take a look at the other issue, as I'm not very familiar with managed disks.

[2019-08-23 19:27] opticyclic opened #10310 "NodeJS Runtime Is Not Created"
Running this command:

    az webapp create -g test -p Test-App-Service  -n AzCommandPlan --runtime "node|8.10"

Does not create a web app with a Node.JS runtime of 8.10.

When I go to the portal after it has created I see the Application property `WEBSITE_NODE_DEFAULT_VERSION 8.10`.

However, when I go to the web console in the portal and check I see:

    node --version
    v0.10.40

Whereas if

[2019-08-23 21:59] scherfj1 opened #10311 "Az dls fs Upload fails with special characters in directory names"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az dls fs upload`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

[code]

- `az dls fs upload --account {} --source-path {} --destination-path {}`

## Expected Behavior

## Environ

[2019-08-23 22:08] opticyclic commented on #10310
What is interesting is that `Node 8.10` is available in the portal and `8.10` is listed in the runtimes

    az webapp list-runtimes|grep "8.10"
    "node|8.10",

However, when you actually go onto the server that is created from the portal you will see that the version installed is `D:\Program Files (x86)\nodejs\8.10.0`

[2019-08-23 22:32] ankitkumarr opened #10312 "az webapp / functionapp deployment source config fails"
For certain repository hosting platform(s) such as GitLab, the `az webapp/functionapp deployment source config` command fails with the error from backend --
`The parameter <repo-url> has an invalid value.`

As a mitigation, users can do `az resource update -g <resource-group> --namespace Microsoft.Web --parent sites/<sitename> --resource-type sourcecontrols --name web --set properties.repoUrl=<rep

[2019-08-23 22:40] panchagnula commented on #10303
i am not sure i completely understand the question but have you tried using the --subscription parameter from the command? https://docs.microsoft.com/en-us/cli/azure/webapp/config/storage-account?view=azure-cli-latest#feedback

[2019-08-23 22:51] panchagnula commented on #10280
Run the command with --debug flag to see what the error message is. I assume its because the RG doesn't exist or is not not in the right subscription.  you can also to try to run the command with --subscription parameter to see if that resolves this as well.

[2019-08-23 22:57] panchagnula commented on #10215
@sawyerh CLI doesn't do any DateTime conversion on our end & simply sends the value to the API. have you tried the suggestion @poveden provided above.

Also you mentioned you did the from portal & it works correctly can you tell which menu item on the portal you used here?

[2019-08-23 22:58] panchagnula commented on #10110
Looks like you are using the webapp extension Extensions:
webapp 0.2.23

can you delete the extension az extension remove -n webapp & see if that helps?

[2019-08-23 23:01] panchagnula commented on #9972
in your command az webapp config ssl bind
what is the RG value you are using - the ASP one or the Webapp one?

[2019-08-23 23:04] panchagnula commented on #9803
@btardif is there some existing documentation we can point to for RBAC support for our APIs?

In general if a given RBAC acces doesn't work the command throws an error indicating the same.

[2019-08-23 23:09] panchagnula commented on #7888
Work around for now would be to use PowerShell command for this https://docs.microsoft.com/en-us/azure/app-service/manage-scale-per-app

[2019-08-23 23:10] ankitkumarr commented on #10312
Scratch that. I think I was using different "repo-url"s for the two commands.

[2019-08-23 23:10] #10312 closed

[2019-08-23 23:19] panchagnula commented on #7888
For CLI we support --set on the Appservice plan update which takes the propertyname=Value, you can also pass it a path to a json object file as @myJson.json & we will update the ASP settings. We will work on exposing this parameter on ASP create

On the webapp config set you can follow the same pattern & use the  --generic-configurations CLI property to set the numbers of workers

[2019-08-24 00:12] albecker1 opened #10314 "The top text formating is off"
The first text and text box's format bleeds to far right and run's into the "is the page helpful" question and "in this article" navigation sections on the right

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fbc06453-93e1-e616-9649-c1487c605a65
* Version Independent ID: 76d52328-613f-bd5f-7daf-f62841300e2b
* Content:

[2019-08-24 00:18] svelango commented on #10303
I have a Webapp running in A subscription but want to mount a storage account in B subscrption. The --subscription if I understand right it the subscription where webapp lives.

[2019-08-24 00:24] metebyte opened #10315 "The command 'az storage blob list ...' failed with error."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob list --container-name {} --output {}`

## Expected

[2019-08-24 03:27] ramankumarlive commented on #10192
@colemickens I believe you havent revoked the SAS. The new managed disk is still in the upload state. Having said that the error message is certainly not good. We will get it fixed.

az disk revoke-access -n mydiskname -g resourcegroupname

[2019-08-24 08:52] ChendrayanV commented on #7404
@wahidsaleemi  - Thanks - Worked Fine for me.!

[2019-08-24 17:00] colemickens commented on #10041
Note: SIG names also have to be unique... At least it's only subscription-wide, I guess, instead of globally like storage accounts.

[2019-08-24 17:05] colemickens commented on #10041
lol. can't use dashes in the gallery names either. It really just never ends, does it, jumping through random annoying hoops just to do something like create a custom image in Azure. Just. Never. Ends.

[2019-08-25 02:37] Juliehzl commented on #10315
@metebyte  can you confirm if you misspell container name in your command and if the container still exists? `ContainerNotFound` error is sent from azure server side.

[2019-08-25 11:28] metebyte commented on #10315
Even though I've set the authentication variables, It says "missing credentials..." on the same server. I've tried it on another server, it's working.

[2019-08-25 11:28] #10315 closed

[2019-08-25 15:42] Juliehzl commented on #9003
@thiruma0203 and @asindl  what about your problem now?

[2019-08-25 16:06] #10239 closed

[2019-08-25 16:08] Juliehzl commented on #10205
@jochenvw what about your problem now?

[2019-08-25 16:14] Juliehzl commented on #10188
@a3nick what about your problem now?

[2019-08-25 16:15] Juliehzl commented on #10131
@robert-skarzycki what about your problem now?

[2019-08-25 16:19] Juliehzl commented on #10024
@jlorich Already fixed in zure cli 2.0.71.

[2019-08-25 16:19] #10024 closed

[2019-08-25 21:19] asoccer opened #10316 "CSS"
Text box at the top is way out of page.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2081b80b-2200-ea1a-2131-65602af2ae55
* Version Independent ID: 90a394bc-0235-b9af-fa5d-4d7e235f50df
* Content: [az vm unmanaged-disk](https://docs.microsoft.com/en-us/cli/azure/vm/unmanaged-disk?view=azure-cli-latest#feedback)
* Cont

[2019-08-26 01:47] qwordy commented on #10316
Thank you for your feedback. We will try to fix it.

[2019-08-26 03:13] Juliehzl commented on #9647
@mooninite

[2019-08-26 03:13] #9647 closed

[2019-08-26 03:32] #10305 closed

[2019-08-26 03:36] Juliehzl commented on #7857
@arowleslawson you can upload using `az storage copy` in azure cli 2.0.71 and wait for your feedback.

[2019-08-26 04:50] Juliehzl commented on #9106
@JavedEqbal Do you still have problems? If not, I will close this issue.

[2019-08-26 04:52] Juliehzl commented on #9422
@priya0917 Do you still have the problem? If not, I may close this issue.

[2019-08-26 04:55] Juliehzl commented on #10193
@paulcarlton waht about your problems now?

[2019-08-26 05:03] Juliehzl commented on #10016
@pelon34 Sorry for late response for some internal errands, we will provide examples for `az file copy` command soon. In addition, a new command for copy operation is released named `az storage copy` in azure cli 2.0.71. You can try to use the new command which will have better performance.

[2019-08-26 05:05] Juliehzl commented on #9995
@Sridhart97 What about your problem now?

[2019-08-26 05:46] Juliehzl commented on #9948
@elilienstein Sorry for late response. Something else makes the issue dropped... I try to reproduce your error scenario but failed.
Can you run your command with `--debug` and show me your debug message for more information?
If there are keys message, please delete or reedit keys information, but it shouldn't have keys information.

[2019-08-26 05:52] ntmggr opened #10317 "az monitor autoscale profile show: FAILURE"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az monitor autoscale profile show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az monitor autoscale profile show --resource-group {} --autoscale-name {} --name {}`

## Expec

[2019-08-26 05:53] Juliehzl commented on #9863
Please try to use `az storage container list --account-name {} --auth-mode login`.

[2019-08-26 06:12] yonzhan commented on #10302
It is blocked by azcopy issue.

[2019-08-26 06:17] yonzhan commented on #10260
We tried and this issue is not reproducible, please reactive this issue with more details.

[2019-08-26 06:20] yonzhan commented on #10195
@iluican we already triaged this issue and will finish it in this sprint.

[2019-08-26 06:26] yonzhan commented on #9507
Since this issue was already covered, we will close it right now. Please reactive it if you have more requirements.

[2019-08-26 06:26] #9507 closed

[2019-08-26 06:27] Juliehzl commented on #9836
@samuda2019  does it work now?

[2019-08-26 06:53] valeriob commented on #7874
yep i've tried
`az webapp create --name $appName --resource-group $resourceGroup --plan $servicePlan --runtime "DOTNETCORE^|2.2"`
but it still results in a

how do ppl make scripts with this thing :(

[2019-08-26 07:09] jumping opened #10318 "data lake gen2 error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage blob list`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage blob list --container-name {} --output {}`

## Expected

[2019-08-26 07:48] qwordy commented on #9937
Could you please provide error message?

[2019-08-26 08:50] MyronFanQiu opened #10319 "Conflicts between the `action` and `get_three_state_flag()`"
**Describe the bug**
A clear and concise description of what the bug is.

Conflicts between the `action` and `get_three_state_flag()`
https://github.com/Azure/azure-cli/pull/10238/files

Getting error on adding this parameter for "disable":
[code]
**To Reproduce**
Steps to reproduce the behavior.
c.argument('disable', action="store_true", arg_type=get_three_state_flag())

**Expected behavior**
A c

[2019-08-26 09:09] Juliehzl commented on #9771
@serbrech It looks that in `(date -v+1d -u '+%Y-%m-%dT%H:%MZ')`, `-v` cannot be recognized. Does this why you get bad formatted sas token?

[2019-08-26 09:34] #9613 closed

[2019-08-26 10:11] owenmather commented on #9972
@panchagnula

The Webapp one.

Using the Asp RG would produce the following error:
**{"error":{"code":"ResourceNotFound","message":"The Resource 'Microsoft.Web/sites/MyWebapp2139102312' under resource group 'AspRG' was not found."}}**

You can see the full script I am using below:

https://github.com/owenmather/az-webapp-bind-err-demo/blob/30ed8512342230c76699eb320cd2fa43bbcdaaf0/bindtest.sh#L1-L3

[2019-08-26 10:37] martinvelos opened #10321 "aks browse: Ingress page Endpoints collumn has blocked links"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
When in http://127.0.0.1:8001/#!/ingress?namespace=_all clicking any of the icons bellow "Endpoints" leads to [about:blank#blocked](about:blank#blocked) which is of no use.

## Environment Summary
[code]
## Additional Context
Made with a yaml with
[code]

[2019-08-26 11:54] colemickens commented on #10232
This is the same issue that seems to block `pypi2nix` from being able to package the Azure CLI for nixos/nixpkgs.

[2019-08-26 11:57] colemickens commented on #10192
@ramankumarlive @zezha-msft @Juliehzl : Thank you all for the help. I have successfully upload an image and replicated it to many regions using a SIG. I will be finishing this up and pushing it into NixOS's nixpkgs in the coming week or so, where it could serve as a full e2e example of custom images w/o managing storage accounts in Azure. I really appreciate the direct, quick help here, thanks so

[2019-08-26 11:58] colemickens commented on #10192
(@ramankumarlive also, to circle back, I think you were right. I added the `revoke-access` to my script and it seems to work reliably.)

[2019-08-26 12:22] Juliehzl commented on #10302
@vidarkongsli  we will add content-type flag for azure cli command later, but need some support from azcopy team.

[2019-08-26 13:09] meday89 opened #10322 "Support new Azure Monitor Metrics Alerts features"
**Resource Provider**
What is the Azure resource provider your feature is part of?
Microsoft.Insights - Azure monitor

**Description of Feature or Work Requested**
Metric Alerts overview. [Read docs](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-metric)
Metric Alerts API. [Read docs]( https://docs.microsoft.com/en-us/rest/api/monitor/metricalerts/createorupdate)

Metric aler

[2019-08-26 13:41] samuda2019 commented on #9836
@Juliehzl @limigu I removed the sas token and it prompted me to run az login. After I entered the credentials and got authenticated it listed my subscriptions but still gave the same error when I ran the below command

You have logged in. Now let us find all the subscriptions to which you have access...
  {
    "cloudName": "AzureCloud",
..................
az storage blob list --container-name dwa

[2019-08-26 14:25] ashemedai opened #10324 "Link in error not up-to-date"
## Describe the bug

This most likely needs to handed to the ARM team, but I am unsure how they overlap with the azure cli work, please forward as needed.

**Command Name**
`az deployment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

Create a template containing something like

[2019-08-26 15:52] colemickens commented on #10232
probably related: https://github.com/Azure/azure-cli/issues/3160

[2019-08-27 00:27] qwordy commented on #8108
I will follow up with this issue.

[2019-08-27 03:39] Juliehzl commented on #10316
@daxianji007 Please help deal with malformed docs. Thanks.

[2019-08-27 04:31] ChendrayanV opened #10339 "The filename or extension is too long error while Combining Commands if count is greater than 40"
**az version**
2.0.71

**Describe the bug**
If VM count is more than 40 az cli throws below error while combining az commands.
**Program 'az.cmd' failed to run: The filename or extension is too long**

**To Reproduce**
[code]

**Expected behavior**
As per the documentation no limitations are defined to query and combine commands.
[code]
**Workaround**
As a workaround we looped / selected subsets -

[2019-08-27 05:28] qwordy commented on #9362
https://docs.microsoft.com/en-us/cli/azure/vmss?view=azure-cli-latest#az-vmss-create
`az vmss update` has `--set` parameter.

I think it's a good idea that we can specify `ComputerNamePrefix` in `az vmss create` command directly.

[2019-08-27 05:33] MyronFanQiu commented on #7197
@malopMSFT Thanks. I will update the documentation soon.

[2019-08-27 05:33] MyronFanQiu commented on #9327
@Nilambari Thanks. I will begin the implementation soon.

[2019-08-27 05:34] qwordy commented on #10260
Try the latest version. Thanks.

[2019-08-27 05:34] #10260 closed

[2019-08-27 05:59] qwordy commented on #10211
I am afraid that you cannot inject secrets with `az vm create --secrets` other than certificates.

[2019-08-27 06:00] qwordy commented on #10211
`az vm secret add` has a mandatory parameter `--certificate`

https://docs.microsoft.com/en-us/cli/azure/vm/secret?view=azure-cli-latest#az-vm-secret-add

[2019-08-27 07:17] daxianji007 commented on #4869
@adewaleo @Juliehzl Escaping is easy. Just use `\*` instead of `*`. If that can be in the doc generation scripts / command, that would be a perfect solution.

[2019-08-27 07:39] qwordy commented on #10309
Similar to #7531
Have a look at https://docs.microsoft.com/en-us/azure/virtual-machines/linux/shared-image-galleries

[2019-08-27 08:27] MichaelBakker commented on #7955
I believe you shouldn't remove the "identifierUris", but leave it empty.
This worked for me:
...
"identifierUris": [],
...

[2019-08-27 08:39] graemechristie opened #10345 "az aks browse - aks dashboard not configured to listen on http port 9090"
**Describe the bug**
az aks browse appears to be tunnelling http port 9090 from the kubernetes-dashboard pod to local port 8001, however aks currently appears to be running kubernetes dashboard listening on https port 8443.

**To Reproduce**
Create a new aks cluster `<clustername>` in resource group `<resourcegroup>`, then run `aks browse -g <resourcegroup> -n <clustername>`

**Expected behaviour*

[2019-08-27 09:07] qwordy commented on #10339
It seems cmd has a length limit. Try powershell or bash. Thanks.

[2019-08-27 09:22] kptonn opened #10346 "dls fs module in azure-cli is pointing to Gen1 endpoint"
## Describe the bug

**Command Name**
`az dls fs show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login`
- `az dls fs show -n {} --path {}`

## Expected Behavior

## Environment Summary
[code]
## Additional Context

[2019-08-27 09:25] graemechristie commented on #10345
We are in region australiasoutheast, if that is of any consequence.

[2019-08-27 12:55] gstolz opened #10348 "--scopes is defined by "Space-separated list", which cannot be used in practice"
I tried to create an alert rule on a webtest by providing webtest-ID and appInsights-ID as array. (just as shown by existing resource in resource.azure.com). This gives an error:

Scopes property is invalid. Only single resource is allowed for criteria type SingleResourceMultipleMetricCriteria. If you want to create an alert on multiple resources, use MultipleResourceMultipleMetricCriteria odata.t

[2019-08-27 14:50] jkewley opened #10349 "Login to tenant without a subscription"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to work with an Active Directory which doesn't have a subscription using `az ad` commands

**Describe the solution you'd like**
Currently one needs to select context for the CLI by providing a subscription identifier. I'd like to be able to specify a tenant id as an alternative so I can have access to the `az ad

[2019-08-27 15:10] gauravsaralMs opened #10350 "Error conditions do not honor output type"
C:\Users\gsaral>az acr delete -n gsaralms -o json
The resource with name 'gsaralms' and type 'Microsoft.ContainerRegistry/registries' could not be found in subscription 'CodeLens_Test (6bd70c51-ff44-4c89-9212-8d3f10e2a90a)'

The error is correct but the format should be json, in the current model it is tough to progamitically consume output in case of errors.

[2019-08-27 15:43] roederja2 commented on #7955
Well, it "works" as it it lets you edit the manifest, but it seems to break the Device Code flow if identifierUris is empty:

`AADSTS500011: The resource principal named api://<...> was not found in the tenant named <...>. This can happen if the application has not been installed by the administrator of the tenant or consented to by any user in the tenant. You might have sent your authentication r

[2019-08-27 17:20] vogd opened #10351 "az cli repository http://ppa.launchpad.net/ansible/ansible/ubuntu does not have a release file"
**Describe the bug**

Installation one liner from https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest is not working :
curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash

**To Reproduce**
Steps to reproduce the behavior.
curl -sL https://aka.ms/InstallAzureCLIDeb | sudo bash
apt-get update
Hit:1 http://security.debian.org/debian-security stretch/updates InRel

[2019-08-27 17:30] porrascarlos802018 opened #10352 "az command to update ACIs created by virtual nodes to use specific log analytics workspace"
**Resource Provider**
What is the Azure resource provider your feature is part of?
az command to update ACIs created by virtual nodes to use specific log analytics workspace

**Description of Feature or Work Requested**
Provide a brief description of the feature or work requested. A link to conceptual documentation may be helpful too.
az command to update ACIs created by virtual nodes to use speci

[2019-08-27 20:59] mikemowgli commented on #7495
C'mon guys, Of course adding '0.0.0.0' works! since it allows connectivity from _any_ IP. But then there's no reason to enable the firewall anymore. Just remove '0.0.0.0' and define the proper IPs (https://docs.microsoft.com/en-us/azure/cosmos-db/how-to-configure-firewall#allow-requests-from-the-azure-portal)

[2019-08-27 21:30] moh-abk commented on #10345
Having this same issue also

[2019-08-28 00:47] BevanG commented on #5099
Just to add to this, @rzand 's process was the only one that worked for me, I'll expand on his solution though as there were extra steps required. All from elevated Shells

1. `"C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python" -m pip install --upgrade pip`
2. `"C:\Program Files (x86)\Microsoft Visual Studio\Shared\Python36_64\Scripts\pip" install python-certifi-win32`
3. Add the Cloud serv

[2019-08-28 01:58] matthewhartstonge commented on #10345
Also happening on `az cli@2.0.71` and `az cli@2.0.72`, this appeared after upgrading to `k8s@1.13.10`, but we are also getting a cert invalid error.

![Capture](https://user-images.githubusercontent.com/6119549/63819831-f25f7700-c99a-11e9-8e4e-2448124967fe.PNG)

[2019-08-28 02:24] ChendrayanV commented on #10339
I am not clear about the statement! You mean it's a limitation in CMD (Command Prompt)? I am running the az commands (above mentioned) in PowerShell!

[2019-08-28 02:35] Juliehzl opened #10353 "Deprecate storage package in azure cli"
**Is your feature request related to a problem? Please describe.**
Deprecate azure.storage package in azure cli

**Describe the solution you'd like**
1. remove dependency in setup.py file
https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/setup.py#L129
2. replace original imported models from `azure.storage` to `azure.multiapi.storage` with versioned SDK
![image](https://user-images.githubu

[2019-08-28 03:04] Juliehzl commented on #4869
@nbering  We are still following up this issue with docs team. @daxianji007 will help us do some change from docs system. @daxianji007 If there is any update, please let me know.

[2019-08-28 03:08] graemechristie commented on #10345
I've noticed this too. I can even disconnect my machine, go home, come back the next day, plug it back into the network and my kubectl proxy connection is still up.

[2019-08-28 03:09] Juliehzl commented on #10316
@asoccer After our investigation, this is a bug for docs team. I open a similar issue for docs team https://github.com/MicrosoftDocs/azure-docs-cli/issues/1569. @daxianji007 will follow up it and let's waiting for his update.

[2019-08-28 03:16] jiasli commented on #10249
`--certificate-permissions` should be "space-separated list of certificate permissions to assign". Please test if this works:
[code]

[2019-08-28 04:09] graemechristie commented on #10345
For me, the above script worked great, I did need to add a "start" command before the line launching chrome so it launched in the background and the script continued.

[code]

[2019-08-28 04:20] alex-frankel opened #10354 "ARM templates with '//' comments and multi-line strings fail to be deployed"
**Describe the bug**
ARM templates with '//' comments and multi-line strings fail to be deployed

**Additional context**
az cli team already has context. This is to help get this triaged.

[2019-08-28 04:36] aueelis commented on #9880
The Microsoft Docs say that Buster is not supported and having to rely on the Troubleshooting section to install Azure CLI on (as far as I understand your post) any upcoming release of Debian and Ubuntu is just bad.

Yes, we need Buster support.

And concerning the Raspberry Pi: It doesn't seem that arm-linux is supported.

[2019-08-28 05:19] graemechristie commented on #10345
I just realised I was not running the latest version of the azure cli in my original post. Have updated, and now az aks browse gets the following.

[code]

[2019-08-28 06:55] jukka-varis opened #10355 "az aks create drops parameters when windows-admin-password and client-secret is defined"
**Describe the bug**
Command Name
`az aks create`

If admin-password parameter has exclamation `!` mark and client-secret includes colon `:`, all parameters between them disappears when `az aks create` is executed.

**To Reproduce**
[code]

**Expected behavior**
As long as windows-admin-password satisfies given regex rules, it shouldn't affect to the rest of the command.

**Environment summary**
W

[2019-08-28 07:31] qwordy commented on #10339
Sorry. I thought you were using Command Prompt. I try your command in PowerShell. PowerShell says "The command line is too long.". Maybe you can open a issue in PowerShell project.
Similar question:
https://stackoverflow.com/questions/29354602/powershell-error-the-command-line-is-too-long

[2019-08-28 07:46] jlucktay opened #10356 "'az vm encryption show' gives no indication of progress from a Linux VM, and the status is misleading"
I enabled encryption on a Linux VM and the JSON response from this command shows:

          "code": "EncryptionState/encrypted",
          "displayStatus": "Encryption is enabled on disk",

However, when logged in to the VM I can see with 'ps -Af' that the encryption process is still running.
The Azure CLI does not seem to give an accurate indication of encryption progress, just a binary enabled/

[2019-08-28 09:50] yonzhan commented on #10354
@Juliehzl please fix this issue by end of this week.

[2019-08-28 10:10] macrogreg commented on #10348
Is this about Classic or Near-Real-Time alerts?

For the later, the criteria to use for x-out-of-y locations availability alerts if `WebtestLocationAvailabilityCriteria`.

Let me notify some experts of this thread.

[2019-08-28 10:14] macrogreg commented on #10348
@gstolz, I am also not fully clear about the details of what exactly you did not encounter the issue. Can you please provide details?

[2019-08-28 11:14] BenjaminHerbert opened #10359 "Purpose of --assign-identity / description of the examples"
The examples mention different usages of the `--assign-identity` switch, e.g.:

&gt; Create a Linux multi-step task from a public GitHub repository with a git commit trigger and with the system-assigned managed identity

[code]

Could you clarify how a task uses this identity and what this identity is used for? For me, it currently is unclear, also the information on https://docs.microsoft.com/en-

[2019-08-28 12:19] varuns-zetaris opened #10360 "bug on get version"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-versions`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-versions`

## Expected Behavior

## Environment Summary
[

[2019-08-28 14:08] mdddev commented on #8407
@panchagnula your workaroudn works fine, thank you! However, I think there is a slight syntax error. It only works for me if I reference the json file (as value to the --generic-configurations) like this:

az webapp config set --generic-configurations "@ipsec.json" -g group -n name ("at" within the quotes)

[2019-08-28 16:23] sirredbeard opened #10361 "az vm create recommends deprecated Set-AzureRmMarketplaceTerms instead of az vm image accept-terms"
**Describe the bug**

Using az vm create on an image with terms results in a message about using deprecated PowerShell cmdlets to accept (see 'additional content' below), instead of recommending 'az vm image accept-terms'.

**To Reproduce**

Attempt to create an az vm with an image with terms:
[code]
**Environment summary**

apt-get
2.0.72
Pengwin
Bash

**Additional context**

[code]

[2019-08-28 18:58] brollb opened #10362 "FileNotFoundError on broken symbolic link"
`upload-batch` fails when it encounters a broken symbolic link

**Command Name**
`az storage blob upload-batch`

**Errors:**
[code]

## Environment Summary
[code]

[2019-08-28 19:25] smartpcr opened #10363 "keyvault show secret quickly fails after they are recently set"
### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az keyvault secret show`

**Errors:**

:confused:

```Max retries exceeded attempting to connect to vault. The vault may not exist or you may need to flush your DNS cache and try again later.```

## To Reproduce:
turn on soft-delete on keyvault

- `Fill in additional info here`
-

[2019-08-28 23:53] achandmsft commented on #10363
@smartpcr could you please provide more details around this issue using az feedback? Have you followed the guidance here for soft delete - https://docs.microsoft.com/en-us/azure/key-vault/key-vault-soft-delete-cli ?

@jiasli, could you please take a look as well to see if you can repro this issue?

[2019-08-28 23:57] achandmsft commented on #10362
@brollb Thanks for your issue, @Juliehzl could you please take a look?

[2019-08-29 00:11] achandmsft commented on #10361
Thanks for the feedback @sirredbeard. @qwordy, could you please take a look?

[2019-08-29 00:13] achandmsft commented on #10356
Thanks for the feedback @jlucktay.  @qwordy, could you please take a look?

[2019-08-29 02:49] adewaleo commented on #7649
I am working on a fix in #10364.

[2019-08-29 02:55] jiasli commented on #10286
Created PR #10365 to fix this issue.

[2019-08-29 03:39] developerprashantsinghal commented on #10070
i can not use sas token due to some internal policy. For now as my webapp backup is already configured manually so i just reschedule the backup and this action also trigger backup of my webapp.
 ############################################################

$SchedulerDetails=az webapp config backup show --resource-group "myResourcegroup" --webapp-name "myWebapp" --subscription "mySub"
#parsing json

[2019-08-29 04:39] yonzhan commented on #9779
We will triage this issue.

[2019-08-29 04:54] Juliehzl commented on #10246
`az resource tag ` is used to add tags for resources and `az group tag` is used to add tags for resource group. But maybe we can provide more accurate description for these commands.

[2019-08-29 07:05] #10158 closed

[2019-08-29 08:30] raviteja22 commented on #9599
Thanks, @jimmy-dg for verifying the issue.

Can this bug be reopened if not already got fixed?

[2019-08-29 08:43] SourceStudio commented on #9982
Hi @jaysterp, apologies for the late reply.  I've just tested this functionality and it works as we had expected - many thanks for your help in resolving this.

[2019-08-29 08:43] #9982 closed

[2019-08-29 09:09] craiginscotland opened #10367 "No Example"
If there was an example, then I'd know the format of the parameters.
e.g. "--subscription" - does that mean I type "--subscription &lt;value here&gt;" or do I replace "subscription" with my actual information (I suspect not).
None of the commands on this page tell you how, in general, command line arguments are parsed.

---
#### Document Details

⚠ *Do not edit this section. It is required for doc

[2019-08-29 09:40] yonzhan commented on #9160
We will triage this issue.

[2019-08-29 09:40] yonzhan commented on #10189
We will triage this issue.

[2019-08-29 09:43] yonzhan commented on #10198
We will triage this.

[2019-08-29 09:45] yonzhan commented on #10289
Can we close this issue ?

[2019-08-29 09:47] yonzhan commented on #10292
We will triage this

[2019-08-29 10:50] richardgragasin opened #10368 "Failed to access Azure Kubernetes Dashboard"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks browse`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks browse -g {} -n {}`

## Expected Behavior

## Environment Summary
[

[2019-08-29 10:57] ayekat opened #10369 "`az group list` gives `cannot import name 'PolicyMode'`"
**Describe the bug**
Running `az group list` (after logging in) results in the following error:

[code]

**To Reproduce**
1. Login to Azure as described in the [*Get started with Azure CLI*][ms:azcli] article.
2. Run `az group list`.
3. See the error given above.

[ms:azcli]: https://docs.microsoft.com/en-us/cli/azure/get-started-with-azure-cli?view=azure-cli-latest

**Expected behavior**
`az grou

[2019-08-29 11:54] qwordy commented on #10361
It's a error message returned from server. My advice is that service team can add Azure CLI usage to the message.

[2019-08-29 12:25] wmeints commented on #10369
We're running into the exact same issue with the command `az keyvault create`.

[2019-08-29 12:36] hKaspy opened #10370 "'az sql server create' mishandling password string"
## Describe the bug

`az sql server create --admin-password` argument tries to interpret the password and fails on less-than sign.

I've tried single quotes, double quotes, putting in equal sign, variable... No Luck so far.

**Errors:**
[code]

## To Reproduce:

`az sql server create --admin-user "admin" --admin-password "a<b"`

## Expected Behavior

Fails with `az sql server create: error: the fo

[2019-08-29 13:38] norbitrial commented on #9763
Same - version 2.0.72

[2019-08-29 16:07] Joon-L commented on #10276
@jiasli Do we have any updates regarding this issue?

[2019-08-29 18:07] daveta commented on #9954
@stevegum : Any updates?

[2019-08-29 18:38] smartpcr commented on #10363
right now, this is only happening for machines that are domain joined (microsoft)
ping me `xiaodoli@microsoft.com` if you have questions.

[2019-08-29 19:16] rich617 commented on #10199
Having worked on acquiring resource tokens in the CLI this last month, I can tell you this:

1. The reason it doesn't work without the trailing / is that ARM code doesn't have a mapping registered for the resource without the trailing / for its GetDelegatedToken API.
2. If you really want it to work without the trailing /, you can work around this issue by doing "az login" in Cloud Shell, and foll

[2019-08-29 20:07] raydixon opened #10372 "az login missing documentation for return object"
**Describe the bug**
In the documentation for [`az login`](https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#az-login) there is no mention of nor description for the object that `az login` returns.

**To Reproduce**

1. Read the [documentation for `az login`](https://docs.microsoft.com/en-us/cli/azure/reference-index?view=azure-cli-latest#az-login).

**Expected behav

[2019-08-29 21:05] sirredbeard commented on #10361
That would explain why when I searched the source for the error message to do a PR I couldn't find it. Thank you.

[2019-08-29 22:06] thatguylong commented on #10274
@Juliehzl that seemed to resolve it. Thank you.

[code]

[2019-08-29 22:06] #10274 closed

[2019-08-29 22:52] test123114 opened #10374 "delete all blobs excluding two directories in one container"
[Enter feedback here]
I want to use `az storage blob delete-batch` to delete blobs in one container, but I want to  exclude two directories from being deleted. How to implement it?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472d5f5f-3ce0-1220-3058-4b27068f512b
* Version Independent ID: 76e1699e-e6ba-c0dd-aad4-c5a7a

[2019-08-29 22:58] thrustCoder commented on #8840
I am seeing the same issue. Here is the debug output:

`
E:\r\New cert
λ az keyvault create --name "RishiKV" --resource-group "MicroservicePrototype" --location "East US" --debug
Command arguments: ['keyvault', 'create', '--name', 'RishiKV', '--resource-group', 'MicroservicePrototype', '--location', 'East US', '--debug']
Event: Cli.PreExecute []
Event: CommandParser.OnGlobalArgumentsCreate [<funct

[2019-08-29 23:19] ChrisHMSFT commented on #7209
Hi @tomlm ,

Closing the issue. The commands documented above are correct

Thanks,
Chris

[2019-08-29 23:19] #7209 closed

[2019-08-30 01:28] jiasli commented on #10367
`--subscription <value here>` should be the correct format, you may check [other examples](https://docs.microsoft.com/en-us/cli/azure/manage-azure-subscriptions-azure-cli?view=azure-cli-latest). We will improve our examples for batch module. Thank you for the feedback.

[2019-08-30 02:27] jiasli commented on #10369
Hi @yugangw-msft , looks like this issue is caused by merge #10340.

[2019-08-30 02:40] qwordy commented on #10124
What is default value of enable? "false"?

[2019-08-30 03:25] Juliehzl opened #10378 "[User Delegation SAS][CLI] Inaccurate error message on SAS expiry"
**Is your feature request related to a problem? Please describe.**
https://msazure.visualstudio.com/One/_workitems/edit/5137907

**Describe the solution you'd like**
Add sas token check and throw more accurate error message

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other c

[2019-08-30 04:12] jiasli commented on #10372
Due to the limitation of Bash and Command Prompt that only string can be returned (unlike PowerShell), `az login` returns a JSON in the form of

[code]

For other commands like `az storage account show`, the returned JSON is the same as those defined in [Azure REST API](https://docs.microsoft.com/en-us/rest/api/azure/).

[2019-08-30 06:22] daxianji007 commented on #4869
fixed. @Juliehzl you can verify it in internal site before next go-live

[2019-08-30 06:51] sagarkul commented on #3729
read parameter values and store in variable
`parameters=$(curl --silent "$parametersUri?$token&$(date +%s)" | jq .parameters )
`
use variable at deployment time. don't forget use double quotes ("$parameters").

`az group deployment create --name $job --resource-group $resourceGroupName --template-uri $templateUri?$token --parameters "$parameters" --output tsv --rollback-on-error)`

[2019-08-30 08:24] jiasli commented on #10363
Could you please
1. Update to the latest CLI version (currently 2.0.72)
2. Test if this happens with [PowerShell](https://docs.microsoft.com/en-us/azure/key-vault/key-vault-soft-delete-powershell)
3. Test if there is DNS change after run ` --enable-soft-delete true`

Also, does the keyvault recover after some time?

[2019-08-30 09:02] sMiik commented on #10162
Same issue here.
Tried with azure-cli 2.0.63 on windows and 2.0.72 on cloud shell.

The error is thrown with either value for enabled parameter and for both name + resource-group parameter combination or ids parameter

[2019-08-30 10:34] tp199314 commented on #9665
Are there any updates?

[2019-08-30 11:47] sMiik commented on #10162
Seems that you can also do this by modifying the resource, i.e.
`az resource update --set properties.enabled=false --name {} --resource-group {} --resource-type Microsoft.Insights/webtests`
does the same thing, except with resource update the command actually works. I added the resource-type parameter just in case

[2019-08-30 12:47] snehithm commented on #10348
Hi @gstolz,

CLI commands dont yet support creating webtest alerts. Please use [ARM template](https://docs.microsoft.com/en-us/azure/azure-monitor/platform/alerts-metric-create-templates#template-for-a-availability-test-along-with-availability-test-alert) to deploy as an alternative.

Regards,
Snehith

[2019-08-30 13:08] vaibhavramdasi opened #10380 "az webapp deployment source config-zip and App Service Environment (ASEv2)"
**Describe the bug**
I'm trying to deploy a web app using azure devops and azure cli task. The app is hosted in App Service Environment(ILB ASE). It seems that az cli cannot reach the scm endpoint for webapp hosted in ASEv2.

**To Reproduce**
`az webapp deployment source config-zip -g rgname -n webappname --src drop/api.zip
`

**Expected behavior**
Deployment should succeed

**Environment summary*

[2019-08-30 13:10] glowka opened #10381 "`az storage blob sync` fails to run in docker image"
## Describe the bug

Docker image from [docker hub](https://hub.docker.com/r/microsoft/azure-cli) seems to be flawed in some way that causes `az storage blob sync` to fail, the issue does not appear when running the command without docker. Details below.

**Command Name**
`az storage blob sync`

**Errors:**

[code]

## To Reproduce:

Run this command with any valid storage account:
`docker run --r

[2019-08-30 13:15] gstolz commented on #10348
Hi @snehithm ,
thanks for the info! I don't really understand why MS cut off support for "classic" alerts in such a hurry when the alternative alerting is not fully supported yet.
ARM template instead of cli commands is a lot of overhead in the implementation. Is there any plan when this will be usable in az cli?
BR

[2019-08-30 14:51] tomfaltesek opened #10382 "Improve `--pattern` documentation with additional examples"
**Resource Provider**
Azure Storage Blobs

**Description of Work Requested**
I'd like to suggest expanding the documentation around the `--pattern` parameter. Specifically, there is a lack of examples for common globbing scenarios. The tools for powerful patterns seem to be available, but the exact syntax required to achieve certain outcomes is not obvious.

I opened [this SO question](https://sta

[2019-08-30 16:03] tomfaltesek commented on #10374
This appears to have been prompted by my recent [SO question: "delete-batch to delete all blobs excluding two directories".](https://stackoverflow.com/questions/57713726/azure-cli-storage-blob-delete-batch-to-delete-all-blobs-excluding-two-directori)

I've opened a separate issue (#10382) that addresses enhancing the documentation around the `--pattern` parameter, in general. It would make more se

[2019-08-30 17:26] kingweo commented on #8108
Thank you for quick reply.
I just found the reason of this issue. I used old version of az cli to set diagnostics.
As this example from az cli refrence as below:
`default_config=$(az vm diagnostics get-default-config | sed "s#__DIAGNOSTIC_STORAGE_ACCOUNT__#$my_diagnostic_storage_account#g"  | sed "s#__VM_OR_VMSS_RESOURCE_ID__#$my_vm_resource_id#g")`
You should be know it was not be found that the

[2019-08-30 18:11] szimmerMicrosoft commented on #10124
This is by default disabled.

By default scheduledEventsProfile is null, which disables this feature.

This is equivalent to setting TerminateNotificationProfile.enable = false

[2019-08-30 19:36] adewaleo commented on #4869
@daxianji007 @Juliehzl this makes sense from a markdown perspective. However, CLI help (az --help) interprets help content literally, it doesn't interpret it as markdown as CLI's typically emit output in plain text.

This means if `*` is replaced with `\*` then the actual help output when `--help` is run then the user sees `\*`, unless we add special CLI logic to strip the backslash when the emitt

[2019-08-30 19:41] adewaleo commented on #9362
Sounds good. This was done not too long ago with [`az vm create --computer-name`](https://github.com/Azure/azure-cli/pull/9306/files#diff-56c1e6c2a52ce59ca10e73f68ccb7706R8).

[2019-08-30 20:29] panchagnula commented on #10269
closing this because of the lack of response, Please re-open if you are still see this with the latest version of CLI

[2019-08-30 20:29] #10269 closed

[2019-08-30 20:30] panchagnula commented on #9291
Moving this out to the next sprint

[2019-08-30 22:03] panchagnula commented on #10380
The Zip Delployment command needs to talk to scm directly and due to the NSG rules on ILB ASE this will not work until you run the command from within the VNET.

[2019-08-30 22:13] panchagnula commented on #10310
i am not sure what the console on portal you are referring to. The one way to figure out on portal the runtime/stack set is go to Configuration ->General Settings tab & check what the stack & version values are.

if this doesn't match 8.10 let us know - this could be a portal issue & not really a CLI issue.

The version on the app is set by kudu/scm so i would navigate to https://<appname>.scm.azu

[2019-08-30 22:13] #10310 closed

[2019-08-30 22:15] Drewm3 commented on #10361
Let me look into this to figure out if the error message is coming from the marketplace service or the VM service. Once that is identified, then I'll make sure the message is updated.

[2019-08-30 22:16] #10380 closed

[2019-08-31 00:19] raydixon commented on #10372
Thanks for the prompt response @jiasli. Even thought the az login command returns a string, it's in the form of a JSON object (the "O" in JSON) and should be documented. If other commands simply return the same JSON object(s) as the REST API, stating that with a link to the reference documentation for the REST API object would be sufficient.

[2019-08-31 00:39] seanmck commented on #10360
Don't really understand the issue here. The location parameter is required because there may be different versions available in different regions at a given time.

[2019-08-31 00:39] #10360 closed

[2019-08-31 00:40] seanmck commented on #10291
Duplicate of #10288

[2019-08-31 00:40] #10291 closed

[2019-08-31 01:28] Juliehzl commented on #10382
@tomfaltesek  Thanks for your suggestion.  I think you can try our new `az storage remove`  command with `--exclude` flag, which is in preview now. Wait for you feedback😊

[2019-08-31 01:30] Juliehzl commented on #10374
@test123114 Maybe you can try `az storage remove` with `--exclude`  in the latest azure cli version.

[2019-08-31 01:44] Juliehzl commented on #10381
@glowka Thanks for your deep investigation for this issue! We will triage this issue again and  try to fix it soon. @zikalino  I think you can give more ideas for this issue. Can you have a look at it?

[2019-08-31 01:45] Juliehzl commented on #10378
To help triage this issue, move it from DevOps to github.

[2019-08-31 01:47] Juliehzl commented on #10353
Add this for easy feature plan and triage.

[2019-08-31 07:06] kizerkizer opened #10385 "`list` fails when one of names contains the dollarsign (bash)"
**Describe the bug**
For example, $web is the default name for a blob container when using the static site setup. However, do get `list`, I had to quote it and escape the $ "\$web" (to avoid reffing bash variable, right?).  Although this is expected when using bash, so perhaps $web (the default, I think? I hope I didn't name it that.) should have $ removed.

**To Reproduce**
`az storage blob list

[2019-08-31 14:05] qwordy commented on #10361
Thank you!

[2019-08-31 14:06] qwordy commented on #10124
OK. Thank you!

[2019-08-31 15:40] KenSpur opened #10386 "--settings or --slot-settings @<json_file>"
Hey,

The --settings or --slot-settings parameter seems to be acting out ^^.

It either miss reads  the json file that is passed trough.

With a content like key='value' it will translate to key : "value'" adding a ' at the end of the value within the web app configuration.

Also { "key" : "Data Source=value" } will translate to "{"key" :Data Source" : "value"}"

It seems just to look for the firs

[2019-09-01 04:47] panchagnula commented on #10386
@KenSpur unfortunately this command doesn't support a JSON input or json file as input.
needs to be a key-value pair separated by = https://github.com/Azure/azure-cli/blob/b33944353f474a35cae113b1496e90822d2eb8c6/src/azure-cli/azure/cli/command_modules/appservice/custom.py#L870

[2019-09-02 02:52] MyronFanQiu commented on #10348
@gstolz I will investigate the efforts and confirm the date with you later.

[2019-09-02 02:57] qwordy commented on #4611
@JasonRShaver I agree. It's better to use Azure Storage for file hosting.
@jseely Have you run `az cloud set --name AzureUSGovernment`? What does "no public internet access" mean? Can you access Azure public cloud resource?

[2019-09-02 03:06] jiasli commented on #10372
Thanks for the great suggestion. We are considering linking CLI and underlying REST API in the doc in the future.

[2019-09-02 03:25] qwordy commented on #9436
@alexjmoore Thank you for your feedback. I have reproduced your problem. I agree that the error message is not detailed enough. I am solving it.

[2019-09-02 03:27] MyronFanQiu commented on #9515
@makokui Hello. Is this issue solved?

[2019-09-02 03:29] KimShepherdVibrato commented on #10128
I am getting this exact issue:
- CentOS 7.6
- Python 3.6 (venv active)
- Azure-cli 2.0.71

Is there any update as to the cause?

[2019-09-02 03:30] MyronFanQiu commented on #8570
@Dalubash Could you please take a look at this issue?

[2019-09-02 03:35] MyronFanQiu commented on #8010
@asheniam Hello. Any update?

[2019-09-02 03:39] MyronFanQiu commented on #7816
@samjudeh Hello. Is this issue solved? Looks like the documentation for `--max-events` should be updated.

[2019-09-02 03:42] MyronFanQiu commented on #6332
@asheniam Any update?

[2019-09-02 04:37] #10286 closed

[2019-09-02 04:48] #10297 closed

[2019-09-02 04:52] jiasli commented on #10276
Key Vault service team has been notified and is currently investigating it.

[2019-09-02 05:18] MyronFanQiu commented on #6120
@PatrickTseng @twitchax Looks like this issue has been fixed. Could we close this issue?

[2019-09-02 05:29] MyronFanQiu commented on #10076
@ferantivero Hello. I roughly checked the REST link. Could you set Azure Function receiver using REST API for now? I just saw `azureAppPushReceivers` in the sample.

[2019-09-02 05:33] MyronFanQiu commented on #10352
@Dalubash Hello. Is monitor able to do this now?

[2019-09-02 05:38] qwordy commented on #10356
"Enable" does not mean encryption is finished.
`az vm encryption enable` and `az vm encryption show` can't get a percentage of completion from server yet.
`az vm encryption enable` returns "The encryption request was accepted. Please use 'show' command to monitor the progress.".
`az vm encryption show` can show more information about the encryption process.  e.g.
[code]

Related API:
https://docs.

[2019-09-02 05:49] jiasli commented on #8840
It looks like the issue is caused by
[code]
Please try to log in with the microsoft tenant ID `72f988bf-86f1-41af-91ab-2d7cd011db47` directly and see if that works.

We will discuss internally whether to fix this on CLI or Key Vault service.

[2019-09-02 05:49] MyronFanQiu commented on #9640
@snehithm Hello. Any update about this issue?

[2019-09-02 06:24] MyronFanQiu commented on #10283
@khabbabs Hello. I think you're right. I tested the command "az monitor log-profiles show" and the response showed that the location was set to null. So I will invite service attention. Meanwhile, I will try to figure out a workaround to unblock you.

[2019-09-02 07:34] MyronFanQiu commented on #10283
@snehithm @Dalubash Hello. I'm not sure whether you're the right person I should contact. Could you please take a look at this issue and help me figure out who is the right person I should contact?

[2019-09-02 07:51] YuchenWell opened #10392 "Webapp deployment error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp deployment source config-zip`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp deployment source config-zip --resource

[2019-09-02 08:27] Trinakriae commented on #10280
@panchagnula thanks for your help. However the issue solved itself, I still do not know why it wasn't targeting the wrong resource group, I tried again the command batch and it worked.

[2019-09-02 08:27] #10280 closed

[2019-09-02 08:35] jiasli commented on #9160
Currently we are not seeing anyone else reporting the same issue. Project structure also looks fine. Please [reinstall the latest version](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest) and retry the command.

[2019-09-02 08:39] daxianji007 commented on #4869
@adewaleo Yes, that is the key point. Now I have added a step in Docs CI to escape the `*` after sphinx generates xml. This issue should have been resolved. But we need next Docs release to show the fix in Docs page.

[2019-09-02 08:44] loomchild commented on #10131
I had the same problem. I think the issue is that you are writing "$web" instead of '$web', so the name is treated as a variable. This change helped me at least, but error message definitely needs some improvement.

[2019-09-02 08:51] paulcarlton commented on #10193
I overcame this by using the the gui, I needed to upload it as paged

[2019-09-02 08:51] #10193 closed

[2019-09-02 09:12] laxmihub opened #10394 "az interactive installation failure"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2019-09-02 09:17] Juliehzl commented on #10385
Hi @kizerkizer, thanks for your feedback first and your guess is right. Just as shown in https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-static-website, default blob name for static website is $web, which is by design. This is more about Service side, not azure cli. Let's make service team involved.

[2019-09-02 09:20] Juliehzl commented on #10279
@Satak Thanks for your feedback. We will improve this soon.

[2019-09-02 09:24] jiasli commented on #10254
[`--ip-address`](https://github.com/Azure/azure-cli/blob/c5e5df9fa08b47057bd1fa66fc1cb0aeb38ac532/src/azure-cli/azure/cli/command_modules/keyvault/_params.py#L91) currently only supports one value. You may use PowerShell to write a loop:

[code]

[2019-09-02 10:47] MyronFanQiu commented on #9901
@pajzo Hello. `$` will not be a special character in the condition. Right?

[2019-09-02 11:10] pajzo commented on #9901
@MyronFanQiu I'm not sure what your question is - but `$` is a reference to a PowerShell variable.

So yes there will be a `$` in the condition like:

`--condition "min Average_Free Megabytes < 5000 where InstanceName includes $diskName and Computer includes $serverName" `

[2019-09-02 11:25] MyronFanQiu commented on #9901
I got your point. `$` is reference to a PowerShell variable. So the real condition will be a specific name like "MyServerName". The real REST call will not contain the character "$".

[2019-09-02 11:26] pajzo commented on #9901
That's correct @MyronFanQiu  :-)

But the condition may contain a `:` like `E:` or `C:`

[2019-09-02 14:34] pihoucha opened #10395 "az artifacts universal download throws System.TypeInitializationException during docker image build"
**Describe the bug**
I'm trying to use the az artifacts universal download command in a Dockerfile to build a container that will incorporate some data files published in a universal package.
The following Dockerfile content:
[code]
Leads to the following error during docker build:
[code]

**Important note**: the same Dockerfile built fine two weeks ago, unless I missed some change on my environme

[2019-09-02 14:48] ferantivero commented on #10076
@MyronFanQiu yes, you could:

[code]

[2019-09-02 16:25] opticyclic commented on #10310
Why is this closed?
When you check the runtimes from the command line you get this:

    az webapp list-runtimes|grep "8.10"
    "node|8.10",

Then when you try to use that in the command it doesn't create an 8.10 runime:

    az webapp create -g test -p Test-App-Service  -n AzCommandPlan --runtime "node|8.10"

[2019-09-02 19:09] PatrickTseng commented on #6120
Yes, I think we can close it.

Regards,
Patrick
________________________________
From: MyronFanQiu <notifications@github.com>
Sent: Sunday, September 1, 2019 10:18 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: PatrickTseng <PatrickTseng@OutLook.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli] `az monitor autoscale create` gives a cryptic error if the resource t

[2019-09-02 22:16] Drewm3 commented on #10356
Hi @jlucktay, I have logged this as a feature suggestion in UserVoice: https://feedback.azure.com/forums/216843-virtual-machines/suggestions/38505424-show-encryption-status-after-enabling-encryption.

Please upvote this item and we will continue to triage the feature suggestions receiving significant votes through UserVoice.

[2019-09-02 22:16] #10356 closed

[2019-09-02 23:57] Drewm3 commented on #8933
This looks like an issue with the CLI code. IP addresses for zonal VMs are supposed to be Standard IP addresses, but it seems that some regions such as East US 2 are allowing Basic IP addresses to be used for Zonal VMs.

East US, which is used in the above example, seems to be returning an expected error.

I am in the process of identifying the right owners for this issue, and I will update the is

[2019-09-03 00:05] Drewm3 commented on #9943
CRP will update the default once some dependent work in Azure Networking has completed. There is no ETA yet for these changes from Azure Networking at this time.

[2019-09-03 00:11] Drewm3 commented on #10361
This error string is coming from the Azure Marketplace service. They will update the error string to use the newer cmdlet names.

[2019-09-03 00:49] krojzl commented on #9665
Same error on version 72:
[code]

Note that dependencies got changed from `python2-virtualenv` to `python-virtualenv`.

[2019-09-03 00:52] panchagnula commented on #10392
@YuchenWell are you still seeing this issue. From the error looks like the API was not returning a valid JSON object can you re-run & let us know. Thank you.

[2019-09-03 00:56] panchagnula commented on #10310
I am trying to understand how you are verifying the command line is not creating the right runtime - like I mentioned above if you are trying to use portal to confirm use the Configuration menu to check the setting or the scm site - & let us know what you see. Thanks!

[2019-09-03 01:22] MyronFanQiu commented on #9901
@pajzo of course. I'm working on it. 😄

[2019-09-03 01:25] MyronFanQiu commented on #10076
@ferantivero  Thanks.

[2019-09-03 01:26] MyronFanQiu commented on #6120
@twitchax @PatrickTseng Thanks all.

[2019-09-03 01:26] #6120 closed

[2019-09-03 01:28] PatrickTseng commented on #6120
Thanks for closing it
Appreciated it

Patrick

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: MyronFanQiu <notifications@github.com>
Sent: Monday, September 2, 2019 6:26:39 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: PatrickTseng <PatrickTseng@OutLook.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli] `az monitor autoscale cre