[2018-07-23 14:31] tjprescott commented on #6866
@williexu

[2018-07-23 14:33] mleneveut commented on #6331
Do you have a solution for this ?

My password starts with a single quote (') and contains exclamation mark.

I tried to surround with double quotes ("), to escape with \ but no success.

E.g. : az login -u myuser@microsoft.com -p 'sd(!MH;du4

[2018-07-23 14:34] #6864 closed

[2018-07-23 14:46] mleneveut opened #6867 "Can't use az login with password containing single quote and exclamation mark"
**Describe the bug**
When trying to login to Azure, I can't do

 with my password.

**To Reproduce**
az login -u myuser@microsoft.com -p 'sd(!MH;du4

**Expected behavior**
Login success

**Actual behavior**
bash: syntax error near unexpected token `)'

**Environment summary**
Docker image microsoft/azure-cli

**Additional context**
I tried to escape the single quote (with double quotes -p "'sd(!MH

[2018-07-23 15:22] tjprescott commented on #6866
This was intentional.
https://github.com/Azure/azure-cli/issues/6612
https://github.com/Azure/azure-cli/pull/6740

[2018-07-23 15:48] tjprescott commented on #6867
https://www.gnu.org/software/bash/manual/html_node/Double-Quotes.html
So, for you password: `"'sd(\!MH;du4"`

[2018-07-23 15:48] #6867 closed

[2018-07-23 15:49] tjprescott commented on #6331
https://www.gnu.org/software/bash/manual/html_node/Double-Quotes.html
So, for you password: "'sd(\!MH;du4"

[2018-07-23 15:49] #6331 closed

[2018-07-23 16:59] williexu commented on #6866
@nakonczy we made this change to address the mounting inconsistency arising in our CLI with show commands. All `show` commands should now fail with an exit status with encountering a 404 (missing resource). Please take a look at https://github.com/Azure/azure-cli/issues/6612 for a full description of the change and the reasoning for it.

[2018-07-23 17:54] mattmazzola commented on #6811
Also have the same issue.

[2018-07-23 18:07] nakonczy commented on #6866
@williexu Thanks for explaining. However, this is a breaking change which will force me to review all my shell scripts and I'd like to ask additional questions:
- Are all related changes released with one cli version? (2.0.42 ?)
- Are there any other commands in addition to 'show' affected?

[2018-07-23 18:19] williexu commented on #6861
@seguler, @zezha-msft can one of you comment on what the service is giving back?
What is the `currentValue` supposed to indicate, it definitely is not the # of storage accounts.
The CLI calls the `UsageOperations.list()` method

[2018-07-23 19:45] zezha-msft commented on #6861
This is management plane, adding @lmazuel.

[2018-07-23 19:49] #6866 closed

[2018-07-23 21:08] artisticcheese opened #6870 "Acr build task missing --os parameter"
Looks documentation out of date.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c608162e-cf40-9d53-da4a-51f51a0311ea
* Version Independent ID: eccbb543-be68-7de2-d41d-abee55c81452
* Content: [az acr](https://docs.microsoft.com/en-us/cli/azure/acr?view=azure-cli-latest#az-acr-build)
* Content Source: [src/comman

[2018-07-23 21:18] anusapan opened #6871 "ModuleNotFoundError: No module named 'knack'"
**Describe the bug**
Cloned the code and trying to run it in VS2015 and getting error after setting the env.

![image](https://user-images.githubusercontent.com/31940305/43103481-054a2364-8e83-11e8-8ea8-b38d127b7c64.png)

Is there anything apart from [configuring guide](https://github.com/Azure/azure-cli/blob/dev/doc/configuring_your_machine.md) that I am missing while installation.

[2018-07-23 22:58] lmazuel commented on #6861
@kungpaolam Could you execute the command with `--debug` to see of we have the informtation in the received JSON but lost it, or if we never got the information at all?

@zezha-msft I think the question of @williexu was, is this information available in the Usage endpoint. This question is definitely ARM but definitely Storage as well :).

[2018-07-24 00:53] zezha-msft commented on #6861
Hi @lmazuel and @williexu, from looking at the [REST API doc](https://docs.microsoft.com/en-us/rest/api/storagerp/usages/list), it seems that the current value should indeed indicate the number of storage accounts.

@seguler could you please help forward this issue to the SRP Team?

[2018-07-24 02:40] #6449 closed

[2018-07-24 08:06] mleneveut commented on #6867
@tjprescott Hi, thanks for your answer. But I actually already tried this, as stated in my initial report.

gives me this error :

If I try this password without the double quotes and backslash when prompted it works :

Password : 'sd(!MH;du4

But I want to put the whole login with password argument in a script.

Thanks for your help.

[2018-07-24 08:11] mleneveut commented on #6867
ok I read in your link that when the bash history expansion is enabled (default), the backslash to escape the exclamation mark is not removed (strange...)

So I had to disable history expansion :

and the double quote string works :

Thanks for your time :)

[2018-07-24 08:54] mkozioro commented on #6866
Hi @williexu
Will you plan to make such changes easier to spot in future, for example by changing minor part of version, like switch from versioning from 2.0.41 to  2.1.0? What is current meaning of versioning schema?

[2018-07-24 10:35] isaacchua opened #6875 "How do I add a role object to the appRoles property?"
I'm trying at add an additional ```appRole``` but this doesn't seem to work.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 921aa920-c25f-5227-aabb-49116da38fa7
* Version Independent ID: 9b5a53ad-edf8-4d89-f8e6-cde01b7866f6
* Content: [az ad app](https://docs.microsoft.com/en-us/cli/azure/ad/app?view=azure-cli-

[2018-07-24 11:03] calinmarina opened #6876 "Find free IP inside a vnet/subnet"
**Is your feature request related to a problem? Please describe.**
It is very often when you need to find a free IP to further use it, for example to create a load balancer:
[code]

Q: is there something in the CLI that helps with that?

**Describe the solution you'd like**
I'd like to have something off the shelf like:
`az network vnet --get-private-ip-address`
... so we don't have to iterate thr

[2018-07-24 11:09] koalalorenzo commented on #5651
@JamesDLD PowerShell? Seriously!?! 😆

Oh, you are kidding right?

I hope you are kidding...

Seriously though, when are you guys fixing this? any ETA? @tjprescott ?

[2018-07-24 16:17] paulmey opened #6878 "[vm image list] SKU field gets mangled in table output"
** Bug / How to reproduce / Expected behavior **
[code]
Sku column shows `6.1` instead of `6.10`. Is az treating the Sku as a number and leaving the zero off?

**Environment summary**
Ubuntu 18.04 with deb from azure CLI repo:
[code]

[2018-07-24 16:42] paulmey commented on #6878
JSON looks good:
[code]

[2018-07-24 16:45] BorisB2015 commented on #6878
@paulmey - run this in CloudShell with

[code]
It seems to look ok

[code]

Could this be formatting (width of the terminal window) issue?

[2018-07-24 16:50] williexu commented on #6866
Yes, that's a good point.
Currently, we reserve a minor version bump of the CLI for large breaking changes, as individual commands often change in behavior due to the number of services the CLI covers. We do not want to do this too often.

Unfortunately, this makes the versioning decisions subjective at times. We will use your feedback for future occasions and try to make changes such as this more

[2018-07-24 16:55] BorisB2015 commented on #6878
More tests:

```az vm image list --publisher RedHat --offer RHEL --all --location westcentralus```

works as expected - looks like above

[code]

however, specifying SKU produces the result in the original comment:

[code]

I suppose it is table output trimming logic tries to minimize the number of output chars in the SKU column - note number of dashes under the word "Sku" in both cases.

[2018-07-24 16:59] paulmey commented on #6878
Also funny that it is right-aligned when it show '6.1' vs left-aligned when it shows '6.10'. I bet that when you don't specify the SKU, the column includes more variety, including values that cannot be converted to numbers and the table library picks a more general string format instead of a number format for the column...

[2018-07-24 17:23] anusapan commented on #6871
Found the solution. Used "pip install knack"

[2018-07-24 17:23] #6871 closed

[2018-07-24 19:07] iqans opened #6881 "in devicelogin, redirected to http://localhost:8400/"
**Describe the bug**
When tried to `az login`, new browser window opened. When tried to change account, redirected to localhost URL.

**To Reproduce**
- `az login`
- select account from list (already have multiple accounts logged in previously)
- click on back arrow at `password prompt page` to go back to the list of accounts
- got redirected to http://localhost:8400/?error=access_denied&error_des

[2018-07-24 19:53] #6652 closed

[2018-07-24 19:54] #6651 closed

[2018-07-24 20:37] lmazuel commented on #6861
@kungpaolam Thanks for the debug view!
As you might have seen, the JSON CLI got contains `"currentValue": 0`, so there is nothing the CLI can do directly :(
@seguler to the rescue

[2018-07-24 20:56] niwsa opened #6882 "az commands not able to find the resource unless --location is specified"
**Describe the bug**
1.```$ az image create --resource-group RT14 --name test --source Lego-Official
Source Virtual Machine 'Lego-Official specified in the request does not exist in this Azure location.```
Above works if I give the --location argument  where the source vm exists
2. [az image copy extension fails while creating snapshot](https://github.com/Azure/azure-cli-extensions/issues/248)
**T

[2018-07-24 22:08] doubleyewdee commented on #6866
I just want to bump this because it bit me in another cool way. Using AzCli.invoke() from azure.cli.core in wrapper python now ALSO makes scripts just... exit. It's wildly unintuitive. I'm poking at the code to see what makes sense but my gut feel is that AzCli.invoke needs to know about this magic behavior and do... something … to make peoples' scripts not just implode

[2018-07-24 23:35] dtzar opened #6884 "webapp:az unable to update CORS setting"
**Describe the bug**
The command listed in [the docs site to update CORS ](https://docs.microsoft.com/en-us/azure/app-service/app-service-web-tutorial-rest-api#enable-cors) "succeeds" with no errors, but does not actually update the CORS setting.  You can see this reflected in the JSON output after the command completes it states the `properties.cors.allowedOrigins` value is `null`.

**To Reproduc

[2018-07-25 01:10] mboersma commented on #2353
I created a multi-master ACS cluster and was not able to reproduce this issue as described here. `az acs kubernetes get-credentials` seems to be working as advertised.

@tjprescott given this issue is 15 months old, I think we should close it.

[2018-07-25 01:14] mboersma commented on #2365
This does look like a local SSH key problem as in #3232 that could be fixed with `--ssh-key-file`.

@tjprescott let's close this old issue.

[2018-07-25 06:34] #6737 closed

[2018-07-25 09:43] barriestewart commented on #6412
Similar issue here. I had to do the following just to get apt working again:

[code]

I  then installed it using the following:

[code]

The last command there took probably 10 minutes to install. In particular it seemed to hang at "uninstalling wheel-0.31.1" for quite a while.

[2018-07-25 10:10] xadag-yogarik opened #6885 "'NoneType' object is not iterable on az acr repository list --name"
Hello,

**Describe the bug**
On mac os x el capitan got an error when trying this command

az acr repository list --name xxxx --output table

'NoneType' object is not iterable
Traceback (most recent call last):
  File "/usr/local/Cellar/azure-cli/2.0.42/libexec/lib/python3.7/site-packages/knack/cli.py", line 197, in invoke
    cmd_result = self.invocation.execute(args)
  File "/usr/local/Cellar/az

[2018-07-25 11:15] dtissen opened #6886 "PYTHON/GROOVY: Executing azure CLI Command with JSON - Parsing Issue?"
**Describe the bug**
Currently I fail to run an azure CLI command from Groovy because of the JSON Part in the Command.

VM has reported a failure when processing extension 'CustomScript'. Error message: "Enable failed: failed to get configuration: error reading extension configuration: error parsing settings file: error parsing json: json: cannot unmarshal string into Go value of type map[string]i

[2018-07-25 11:50] kungpaolam commented on #6861
That makes sense -- the PowerShell cmdlet Get-AzureRmStorageUsage returns something similar:
[code]

[2018-07-25 11:54] kungpaolam commented on #6861
as the issue appears to be in something other than azure cli, this issue should probably be closed. is there a way that i can raise and track the issue elsewhere?

[2018-07-25 12:29] letmaik opened #6887 "CosmosDB: Missing option for storage capacity or incomplete documentation"
With [az cosmosdb collection create](https://docs.microsoft.com/en-us/cli/azure/cosmosdb/collection?view=azure-cli-latest#az-cosmosdb-collection-create) there is no way to set the storage capacity (in the Azure Portal either "fixed (10GB)" or "unlimited"). Since the command supports `--partition-key-path` which is only useable for unlimited (=partitioned) collections, I assume that the CLI always

[2018-07-25 12:30] cloudguy-pro opened #6888 "az cognitiveservices account create --kind QnAMaker NOT WORKING"
I tried to create a new QnAMaker service via the CLI like you can do it for other Cognitive Services with the following command:

[code]

I get the following error output:

[code]

The strange thing is that the exact same command executes perfectly fine if I change **QnAMaker** to **LUIS** and the LUIS service will deployed just fine.
Any ideas?

[2018-07-25 14:34] mboersma commented on #5709
After #5751 and #6529, `az aks get-credentials` is working well and has unit tests. I'm not aware of any current YAML or merge bugs.

@tjprescott I think we can close this issue. If anyone finds a problem with `get-credentials`, please open a new issue with steps to reproduce.

[2018-07-25 15:06] benketteridge commented on #6853
No stack trace is given. The attached is all that was in the event viewer:

[error.txt](https://github.com/Azure/azure-cli/files/2228406/error.txt)

[2018-07-25 16:53] yugangw-msft commented on #6853
Is your Windows 7 32 bits or 64 bits?

[2018-07-25 17:05] yugangw-msft commented on #6881
Thanks for reporting this. Before I fix this, you can ctrl+c to stop the cli command, and then rerun it.

[2018-07-25 17:22] yugangw-msft commented on #6878
The number got tweaked by the [tabluate](https://pypi.org/project/tabulate/). It is only line fix by disabling the automatic number parse, which is the right thing. CLI is never a math/scientific computation application, and it should just keep whatever server returns

[2018-07-25 17:33] yugangw-msft commented on #6875
Graph role support is not supported yet. This actually is missing across all SDKs, We are looking for resources to on-board this.

[2018-07-25 17:44] yugangw-msft commented on #6882
#1 is by design, as CLI would default to resource group's location if `--location` is missing. So if the 2 locations are different, the create will not work as cross region is not supported yet. This issue will be resolved sometime this fall through [share image gallery](https://azure.microsoft.com/en-us/blog/shared-image-gallery-now-in-limited-public-preview/) where you can deploy your image to m

[2018-07-25 17:46] yugangw-msft commented on #6882
Closing as it is not a CLI issue

[2018-07-25 17:46] #6882 closed

[2018-07-25 19:08] niwsa commented on #6882
I got the error for az image create with the resource group and vm being in the same location, also image copy extension used to work fine until yesterday,now its breaking with az snapshot create failing (internally image-copy calls az snapshot create without --location)

[2018-07-25 19:17] yugangw-msft commented on #6882
Can you please share the error?

[2018-07-25 19:34] niwsa commented on #6882
I am wrong here. Sorry for the carelessness.
The resource group happens to be in a different location.

[2018-07-25 21:06] doug-fish commented on #6842
FWIW I had the same error using the azure cli to scale the cluster. I was able to recover by upgrading my azure cli from 2.0.37 -> 2.0.42

[2018-07-25 22:33] panchagnula commented on #6727
Yes, we do an app pool recycle, will update the documentation,

[2018-07-25 22:47] panchagnula commented on #6638
@cornem you are referring to having settings marked as SlotSettings correct?
![image](https://user-images.githubusercontent.com/13839372/43231588-e0878602-9021-11e8-8855-af14fa1a75e9.png)
then yes, we should copy over the settings that are marked as Slot Settings if the app that has these values set is used during slot create.

[2018-07-26 02:54] tkak opened #6893 "Failed to run `az aks browse` command"
**Describe the bug**
`az aks browse` command was failed with the following error messages,

[code]

**To Reproduce**

1. Create azure kubernetes cluster (version 1.10.5)
2. Run `az aks browse` command

**Expected behavior**
The command will be finished successfully.

**Environment summary**
I've installed azure-cli with homebrew. And, I use zsh.

[code]

[2018-07-26 06:13] cornem commented on #6638
Yes, I'm referring to settings marked as slot setting.

On Thu, Jul 26, 2018 at 12:47 AM Sisira Panchagnula <
notifications@github.com> wrote:

[2018-07-26 06:45] ehotinger commented on #6798
@northtyphoon

[2018-07-26 06:46] ehotinger commented on #6870
@djyou / @ankurkhemani

[2018-07-26 11:04] benketteridge commented on #6853
64 bit.

[2018-07-26 16:17] yugangw-msft commented on #6811
Might be the same issue with #6794

[2018-07-26 16:18] yugangw-msft commented on #6893
Dupe of #6811

[2018-07-26 16:18] #6893 closed

[2018-07-26 16:19] yugangw-msft commented on #6893
//CC: @mboersma, another one on `az aks browse`

[2018-07-26 16:29] letmaik commented on #3356
Shouldn't this be solved by now?

[2018-07-26 16:37] letmaik opened #6894 ""az cosmosdb create" fails with authorization error while Portal works"
**Describe the bug**
`az cosmosdb create --resource-group ... --name ...` fails with

**Expected behavior**
It works on the Azure Portal with the same user, so it should work with the cli as well. I did `az login` just to be sure, but no difference.

**Environment summary**
Version: 2.0.41
Install Method: MSI
OS version: Windows 10
Shell Type: cmd.exe

[2018-07-26 17:24] dhselman opened #6895 "Cannot Set New Subscription from CLI"
**Describe the bug**
After a role on a new subscription has been added, the subscription does not appear in the list of accounts (az account list) and you can not set the subscription as well. Instead, you have to re-authenticate the tool through microsoft.com/devicelogin before the new subscription will appear.

**To Reproduce**
Authenticate the command line for your account, create a new subscri

[2018-07-26 17:58] hassanselim0 opened #6896 "ACR Build doesn't properly parse .dockerignore"
**Describe the bug**
I had a problem where `az acr build` would always send an empty context (75 bytes, and the `.tar.gz` file in `%TEMP%` was empty).
Turns out my `.dockerignore` was the problem, I've attached it to this issue so you can take a look at it, but it basically ignores everything `**` then un-ignores a few things.
[dockerignore.zip](https://github.com/Azure/azure-cli/files/2233024/doc

[2018-07-26 19:03] iyerusad opened #6897 "az vm create `--image` validation incorrectly suggesting --use-unmanaged-disk"
**Describe the bug**

`az vm create --image` is doing a poor job at validating and expressing need for `--use-unmanaged-disk`. If valid URI, it suppress the need for that flag, if invalid URI it suggests unmanaged disk is needed (where the real problem is invalid URI).

It seems  `az vm create --image` shouldn't validate whether `--use-unmanaged-disk` is required. It seems to default to that if un

[2018-07-26 19:10] squillace commented on #5275
@yugangw-msft I'd love it if we could consider this. It's a great feature, because for automation you don't want to use all those other tools AND you handle the non-public cases.

[2018-07-26 20:12] iyerusad opened #6898 "`az vm run-command invoke` returns Deployment Failure with message "Finished executing command""
**Describe the bug**
`az vm run-command invoke -g $RSGROUP -n $VMNAME --command-id EnableRemotePS` returns error message:
[code]

**To Reproduce**
1. Create new VM.
1. Attempt to enable PS remoting using Azure CLI `az vm run-command invoke -g $RSGROUP -n $VMNAME --command-id EnableRemotePS`
1. Observe error.

**Expected behavior**
Either:

A) No erroneous deployment failure message
B) (If actually

[2018-07-26 23:12] yugangw-msft commented on #6897
The image type detection and error can be improved for sure. We assumed users should just copy and paste the urn from the output of `az vm image list`, but looks like the urn could get manually edited.

[2018-07-26 23:17] yugangw-msft commented on #5275
@squillace, let me see how much i can do

[2018-07-26 23:22] squillace commented on #5275
Thanks so much, of course. Lemme know. To flesh out the scenario a bit, the more basic functionality that is **roughly speaking always required** in real world scenarios can be shortened in any way, the more useful the CLI becomes and the happier the customer is with it. This one would replace getting the ssh endpoint, logging in and/or retrieving the credentials from KeyVault (where in the real w

[2018-07-27 02:14] danielhelfand opened #6901 "Non Global Installation Method"
---

### Environment summary

Install Method
No available method

CLI version
All 2.0 versions

OS version
CentOS 7

I would like to see an installation method available for the
Azure CLI that allows you to do two things:

1. Download specific versions of the CLI
2. Download to a specific directory (not installed globally)

You can currently do this with pip as referenced in #5223, but I cannot us

[2018-07-27 02:40] louspringer opened #6902 "az consumption usage list does not accept --billing-period-name or -p"
**Describe the bug**
[code]
Produces error:
[code]
**To Reproduce**
[code]

**Expected behavior**
A list of usage for the specified billing period.

**Environment summary**
macos 10.13.6
installed via brew

az --version
azure-cli (2.0.42)

acr (2.1.0)
acs (2.2.0)
advisor (0.6.0)
ams (0.2.0)
appservice (0.2.0)
backup (1.2.0)
batch (3.3.0)
batchai (0.4.0)
billing (0.2.0)
cdn (0.1.0)
cloud (2.1.0)
co

[2018-07-27 05:44] VitorX opened #6903 "az iot hub device-identity show --device-id"
The document seems be old. Got the error about az iot hub: 'device-identity' is not an az iot hub command. See 'az iot hub --help'.
We should use **show-connection-string** instead of **device-identity** command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 62c92565-2490-7306-fa08-b16aa2a402a6
* Version Independent I

[2018-07-27 06:22] #6903 closed

[2018-07-27 06:23] VitorX commented on #6903
The command required to install the extension:[azure-iot-cli-extension](https://github.com/azure/azure-iot-cli-extension)

[2018-07-27 09:03] daxianji007 opened #6904 ""az vm run-command show --help" fail for 2017-03-09-profile"
**Describe the bug**
Run `az vm run-command show --help` fail with message:
[code]

**To Reproduce**
[code]

**Expected behavior**
show the help message for `az vm run-command show`

**Environment summary**
Python (3.6.5)
pip (10.0.1)
azure-cli (2.0.42)

**Additional context**
Could be related to this [commit](https://github.com/Azure/azure-cli/commit/663db883565867f1b5a313f444afc5314ab75d78#diff-

[2018-07-27 12:43] mariojacobo opened #6905 "Command for firewall rules"
Hi there,

Is there any command to add firewall rules ?

Thanks

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ecb66426-9b0f-be54-5530-0673e6821f39
* Version Independent ID: 3d89a838-9a95-3cfe-ea58-7d7484e94956
* Content: [az redis](https://docs.microsoft.com/en-us/cli/azure/redis?view=azure-cli-latest)
* Content Sourc

[2018-07-27 16:07] iyerusad commented on #5872
+1 on sparse enabled downloads using az cli - the only packaged alternative appears to be to use AzCopy, which is not portable to Linux/Mac agents. Want to use this in VSTS.

[2018-07-27 17:55] jlian opened #6907 "Typo in examples"
In the example it says to use `az iot hub device-identity create -n [IoTHub Name] -d [Device ID] -am x509_thumbprint –valid-days 10` but really it should be `az iot hub device-identity create -n [IoTHub Name] -d [Device ID] -am x509_thumbprint –-valid-days 10` with two `-` before `valid-days`

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2018-07-27 18:38] ehotinger opened #6908 "[ACR / Build] Sending context message should happen before upload"
**Describe the bug**

https://github.com/Azure/azure-cli/blob/0db0c41c4874e39bb3236d7a7c3f6fee5f9a986a/src/command_modules/azure-cli-acr/azure/cli/command_modules/acr/build.py#L280-L299

Source code is being uploaded before the context message is being sent, for large contexts this means you can get 20s+ without any feedback.

**To Reproduce**
Quickbuild, send a tar.

**Expected behavior**
Feedbac

[2018-07-27 18:51] ehotinger commented on #6896
@northtyphoon

[2018-07-27 23:43] yugangw-msft commented on #6895
Can you try out  `az account list --refresh`?

[2018-07-27 23:45] yugangw-msft commented on #6898
There are nothing CLI can do really if server doesn't return relevant information

[2018-07-27 23:47] yugangw-msft commented on #6896
closing

[2018-07-27 23:47] #6896 closed

[2018-07-28 07:51] iqans commented on #6881
Thanks Yugang :)

[2018-07-28 16:32] tycho01 commented on #6415
We were experiencing performance issues with this as well.
For reference, deleting e.g. a folder using [azure storage explorer](https://github.com/Microsoft/AzureStorageExplorer) seemed quite performant.

[2018-07-29 16:28] riramar opened #6913 "AADSTS90100: flowtoken parameter is empty or not valid."
Here is not the best place to post this issue but I don't know where to post.
I'm trying to log in azure Android client with my corporate account but I'm getting this error:

AADSTS90100: flowtoken parameter is empty or not valid.

Could you please help to address this issue?

[2018-07-29 17:08] vairamsvsjdo commented on #6913
You might use corporate support ticket for this, app login is working fine

[2018-07-29 21:22] letmaik opened #6914 ""az batch pool create" misses --max-tasks-per-node"
Version: 2.0.41

Since the max tasks per node setting cannot be changed after pool creation this is really a critical missing feature. Any reason why this isn't implemented? The setting existed for a long time in Azure Batch, so it seems a bit odd.

[2018-07-29 21:30] letmaik commented on #6751
https://docs.microsoft.com/en-us/azure/batch/batch-cli-get-started#json-files-for-resource-creation

[2018-07-29 23:00] ncacace opened #6915 "This is not clear"
"az webapp source-control config-local-git \
                            -g MyResourceGroup -n MyUniqueApp

                        git remote add azure \
                            https://&lt;deploy_user_name&gt;@MyUniqueApp.scm.azurewebsites.net/MyUniqueApp.git"

Is that backslash supposed to mean that it should be one line?
Like this...
"az webapp source-control config-local-git -g MyResource

[2018-07-29 23:11] ncacace commented on #6915
"az webapp source-control config-local-git -g MyResourceGroup -n MyUniqueApp"
I tried this and I get an error
"az webapp: 'source-control' is not in the 'az webapp' command group. See 'az webapp --help'."

You know what I think? - I think You have the engineers who produce your software write your documentation...and then they test their own documentation - And I can't even begin to explain how fl

[2018-07-29 23:13] letmaik opened #6916 "az batch task create --json-file should support task collections"
Version: 2.0.41

The docs of [`az batch task create`](https://docs.microsoft.com/en-us/cli/azure/batch/task?view=azure-cli-latest#az-batch-task-create) say for `--json-file`:

Since this is written such that it can be plural, meaning multiple tasks, I assumed it would support the ["Task - Add Collection"](https://docs.microsoft.com/en-us/rest/api/batchservice/task/addcollection) schema as well, ho

[2018-07-29 23:18] ncacace commented on #5224
az webapp deployment source config-local-git -g myResourceName -n myAppName
ERROR!!!!  AttributeError: 'NoneType' object has no attribute 'location'
FFS!!!

[2018-07-29 23:28] letmaik opened #6917 "Why is --account-endpoint required in az batch if --account-name is given?"
The command lines with `az batch` often get quite cumbersome because `--account-endpoint` has to be specified. Why is this necessary if `--acount-name` is given together with a selected subscription? Then  it should be unambiguous and it would be possible to infer it, right?

[2018-07-30 00:03] CurtisLusmore commented on #6696
@samkreter Which release will this be part of? Could you please link to the Issue that implements this feature so that I can follow it?

[2018-07-30 00:49] joshgav opened #6918 "[functionapp create] storage account shouldn't have to be in same resource group"
The root cause is that the same `resource_group_name` parameter is reused for the storage account *and* the functionapp within the command definition, but they should be independent:

* https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-appservice/azure/cli/command_modules/appservice/custom.py#L1677

* https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli

[2018-07-30 02:44] riramar commented on #6913
Thanks!

[2018-07-30 03:04] Evit15 opened #6919 "How to start multiple VM in DevTest Lab"
Hi,

Do I can use Azure CLI to start multiple VMs in 1 DevTest Lab?
I see in help, it only start a VM

[2018-07-30 14:46] jontreynes opened #6921 "az image show"
**Describe the bug**
"az image show" states to use the name and resource group as its parameters under https://docs.microsoft.com/en-us/cli/azure/image?view=azure-cli-latest

I can't seem to figure out the name of this image through this cli cmdlt

**To Reproduce**
1. Create VM through the portal w/ defaults (a vhd will be created)
2. Once deployed, Run "az image -g 'resourcegroupname' -n 'name of

[2018-07-30 16:21] jeremyrickard opened #6922 "Allow user to specify RBAC on or off when installing aci connector"
**Is your feature request related to a problem? Please describe.**
The `az aks install-connector` command doesn't allow the user to toggle if the cluster has RBAC or not. This means it uses the default value of the virtual-kubelet helm chart: `rbac is disabled`.

This poses a problem for new AKS clusters that have RBAC. When the `az aks install-connector` command is used, they end up with virtual-

[2018-07-30 17:08] yugangw-msft commented on #6881
I am not able to reproduce this.  Can you please try again? By default, account tile selection should not cause any errors, and should not post back to the CLI. This is a server end error trigger'd by browser page reload.

[2018-07-30 17:18] kwakayama commented on #1043
Should this issue be re-opened?

[2018-07-30 17:22] yugangw-msft commented on #6921
`az image show` works with managed custom images. Based on your context, you are looking at PIR/MarketPlace images, different things, which you should go with different commands
1. run: az vm show --resource-group rg --name myVM --query "storageProfile.imageReference" -otsv (this should dump out the image information like publisher, offer, sku, etc)
2. If you need further information, you can run

[2018-07-30 17:22] #6921 closed

[2018-07-30 17:33] yugangw-msft commented on #6918
Cross resource group storage account id is supported, but there is a code bug that prevents it from working right.

[2018-07-30 17:35] yugangw-msft commented on #6913
Not a Azure CLI thing

[2018-07-30 17:35] #6913 closed

[2018-07-30 17:42] yugangw-msft commented on #6898
Maybe @koralski knows it?

[2018-07-30 18:10] jeremyrickard commented on #6922
Thanks to @mboersma for the tip:

We should be able to obtain the cluster info to determine if RBAC is enabled, no flag should be needed!

[2018-07-30 18:58] williexu commented on #6915
@ncacace it seems like our documentation examples are outdated. We will do our best to keep them up-to-date and relevent.

To answer your question, yes, the `\` indicates a continuation of the same command.

[2018-07-30 18:59] #6915 closed

[2018-07-30 19:49] Akos-Csete opened #6924 "Allow for attaching/detaching multiple disks with a single call"
**Is your feature request related to a problem? Please describe.**
When a volume uses multiple disks then we'd want to detach and attach the entire set in the same call instead of running requests for each disk in a loop. A single detach/attach can take 3-4 minutes so larger volumes with several disks, say 6-8 disk per volume, result in a 40-60 minute wait time for sequential detach or attach oper

[2018-07-30 19:52] ehotinger opened #6925 "[ACR / Build] Refactor context upload size."
**Describe the bug**

- The current logic in `_upload_source_code` won't handle sizes of 1 TB+.

**Expected behavior**

- [ ] The method for calculating size is extracted into its own helper method.
- [ ] Aforementioned method supports 1 TB+, even though we won't accept contexts of this size.
- [ ] Unit tests are added for this method.

[2018-07-30 20:39] #6904 closed

[2018-07-31 02:31] Evit15 commented on #6919
Hi yugangw-msft,

Thanks for your answer! I am using Windows.
If I use multiple command to start multiple VMs, I will take many time to wait each VMs started.
Do you have any solutions for this?

[2018-07-31 14:57] mboersma commented on #2935
👍 to this idea. A user on the #sig-azure channel on the Kubernetes slack was asking for the same thing yesterday.

[2018-07-31 16:02] yugangw-msft commented on #6876
One option is you can dump out used private ip addresses in a vnet using a command below and then find a free one you can use. Will that help?
[code]

[2018-07-31 16:17] EamonKeane commented on #2935
Thanks @mboersma . The use case is to initialise a script similar to the below.

[code]

[2018-07-31 16:36] iyerusad opened #6927 "`az group delete` stalls on active `az disk grant-access` token"
**Describe the bug**
If an Azure resource group has a VM that has an active disk access SAS token (generated by using `az disk grant-access`), `az group delete` won't be able to delete the resource group. It will spin/attempt indefinitely (or seemingly indefinitely).

Contrast this with a resource group that has active SAS tokens out for things like blobs/files - those don't appear to block a reso

[2018-07-31 18:21] pradm opened #6928 "az cli 2.0.42 dumps kubectl.exe x64 binary to x86 Program Files (x86) folder"
**Describe the bug**
https://docs.microsoft.com/en-us/cli/azure/acs/kubernetes?view=azure-cli-latest#az-acs-kubernetes-install-cli States --install-location default value: C:\Program Files\kubectl.exe , but here its dumping it to a x86 folder location. The version of AZ CLI is azure-cli-2.0.42

PS E:\Projects> az acs kubernetes install-cli
Downloading client to C:\Program Files (x86)\kubectl.exe f

[2018-07-31 20:23] Costo opened #6929 "`az webapp config ssl bind` clears Web App tags"
**Describe the bug**

After running the command `az webapp config ssl bind -g <resource-group> --name <app-service-name> --certificate-thumbprint <thumbprint> --ssl-type SNI`, the Web App tags collection is empty

Same behavior with `unbind`.

**To Reproduce**

* Add tags to a Web App
* Add a custom domain (Required)
* Upload an SSL certificate
* Bind the certificate to the Web App using this comm

[2018-07-31 20:57] jackchenquest opened #6930 "is extension supposed to only work once?"
I see similar behavior with Windows and Linux customscript, looks like the first run result is cached and following run just show first run's result.

for example, I have a json file
cat script-centos.json
{
  "fileUris": ["https://mystorageshare.blob.core.windows.net/publicshare/centos.sh"],
  "commandToExecute": "sh  ./centos.sh"
}
When I run
az vm extension set -g rg --vm-name centosvm1 --name

[2018-07-31 21:56] anilingle-ms opened #6931 "Add new TopLevel Resource PublicIPPrefix to CLI"
**Is your feature request related to a problem? Please describe.**
No not related

**Describe the solution you'd like**
Please add a new TopLevel Resource (PublicIPPrefix) to the CLI. It is optionally referenced from PublicIPAddress.

**Describe alternatives you've considered**
NA/

**Additional context**
NA

[2018-07-31 21:59] calinmarina commented on #6876
might do... I did discover meanwhile that knowing any IP in the subnet (I had a VM in there) you can check if it is available and you will get false but also a list of free IPs in the subnet:
```privateIPAddress="$(az network vnet check-ip-address --resource-group $RgName --name $vnetName --ip-address $known_ip | jq -r .availableIpAddresses[0])"```

[2018-07-31 22:03] yugangw-msft commented on #6876
Good find! This is a better option :)

[2018-07-31 22:07] anavinahar commented on #6931
@christiankuhtz please add info for outbound rules as well so it happens all together

[2018-07-31 22:47] yugangw-msft commented on #6924
@Akos-Csete, because no one has asked about this, also to attach multiple disks requires non trivial change to the CLI command say, we will have to accommodate the situation that each disk might have difference configuration on storage sku, caching mode, etc.
Before we have more user votes on this, I suggest you use "az vm update". It is a bit hard to use, but it is possible by following the examp

[2018-07-31 22:48] yugangw-msft commented on #6924
Closing this with workaround. Anyone else please upvote it if you have same asks.

[2018-07-31 22:48] #6924 closed

[2018-07-31 23:00] chandrasekarsrinivasan opened #6932 "CLI support for serviceEndpointPolicies"
**Is your feature request related to a problem? Please describe.**
This feature is to add policies to service endpoints.

Swagger and PS in review:

https://github.com/Azure/azure-rest-api-specs/pull/3558/files

[2018-07-31 23:11] mboersma opened #6933 "Wrong acs module in 2.0.42 CLI -- AKS log analytics are broken"
[code]

The `acs` submodule should be `2.2.2` but didn't get updated. So #6782 isn't in there, and the documentation that describes creating an AKS cluster without an explicit log analytics workspace for monitoring is broken.

cc: @ganga1980

**Environment summary**
Tested with the homebrew packaging as well as CloudShell.

[2018-07-31 23:15] yugangw-msft commented on #6919
Windows batch is less scripting friendly comparing with nix, but for this scenario it is probably doable.
Will the following sample scripts help?
[code]

[2018-07-31 23:57] yugangw-msft commented on #6929
@panchagnula , i will take this one unless you are interested

[2018-07-31 23:57] yugangw-msft commented on #6918
@panchagnula , i will take this one unless you are interested

[2018-07-31 23:58] yugangw-msft commented on #6760
@panchagnula , i will take this one unless you are interested

[2018-07-31 23:58] yugangw-msft commented on #6527
@panchagnula , i will take this one unless you are interested

[2018-07-31 23:59] yugangw-msft commented on #5228
@panchagnula , i will take this one unless you are interested

[2018-08-01 00:00] yugangw-msft commented on #6263
this is fixed already

[2018-08-01 00:00] #6263 closed

[2018-08-01 00:16] panchagnula commented on #6929
Sure thank you.

[2018-08-01 00:18] panchagnula commented on #6527
Sure thank you.

[2018-08-01 04:31] ganga1980 commented on #6933
@berndverst,  we fixed the exception in version 2.0.43. And also I see the acs module version as 2.2.2 in  Az CLI version 2.0.43 . Can you please upgrade to 2.0.43 and let us know still you see this issue?

az --version
azure-cli (2.0.43)
acr (2.1.2)
acs (2.2.2)

[2018-08-01 05:44] DouglasHeriot commented on #4274
With the new Azure static website hosting, this would be even more helpful. I'd like to script my deployment process, and have it only upload files that have changed, and delete files that no longer need to be there. https://azure.microsoft.com/en-us/blog/azure-storage-static-web-hosting-public-preview/

@troydai I see this was added to a previous sprint but never completed. Should it be put back

[2018-08-01 06:55] meiliumeiliu commented on #4885
Use command to pull activity log, but ServiceHealth log can't be get.

Command:
az monitor activity-log list --start-time 2018-07-28T00:00:00Z --end-time 2018-07-29T00:00:00Z --resource-group NULL

Expect ServiceHealth log:
{
    "channels": "Admin",
    "correlationId": "680f7025-f66f-40a4-b2e3-6026ef9c57fc",
    "description": "Active: Delays in ARM generated Activity Logs",
    "eventDataId": "

[2018-08-01 09:53] Evit15 commented on #6919
With your Window Batch script, it only start next VM when current VM start success. This will take more time. This same limitation at this time ?

[2018-08-01 15:52] mboersma commented on #6933
@ganga1980 @berndverst sorry for getting my wires crossed. Version 2.0.43 got published to homebrew just after we opened this issue, and it is of course fixed:

[code]

[2018-08-01 15:52] #6933 closed

[2018-08-01 17:50] #1073 closed

[2018-08-01 17:52] yugangw-msft commented on #6881
Please reactivate when you have repro

[2018-08-01 17:52] #6881 closed

[2018-08-01 17:53] willstMSFT opened #6937 "Missing the --subscription switch, which is required, in the example"
[Enter feedback here]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2e390289-90cc-30e2-de78-33b080f9c27d
* Version Independent ID: df152c25-2434-0831-46b7-e9d0e3015f06
* Content: [az webapp config hostname](https://docs.microsoft.com/en-us/cli/azure/webapp/config/hostname?view=azure-cli-latest)
* Content Source: [late

[2018-08-01 18:58] yugangw-msft commented on #6930
CRP will not re-provision the extension if the configuration has not changed, to overturn this behavior , make sure you supply the argument of  `--force-update`

[2018-08-01 18:58] #6930 closed

[2018-08-01 18:59] yugangw-msft commented on #6930
please activate the issue if the flag doesn't help

[2018-08-01 20:35] yugangw-msft commented on #6928
Cc @mboersma
I can't reproduce this. Based on reading the code, the command is supposed to copy `https://storage.googleapis.com/kubernetes-release/release/v1.11.1/bin/windows/amd64/kubectl.exe` to  `C:\Program Files\kubectl.exe`
@pradm, what you get if you run the command of `echo %ProgramFiles%` in the same console when you ran the CLI, do you get `C:\Program Files (x86)`?

[2018-08-01 20:39] yugangw-msft commented on #6937
@willstMSFT, can you please elaborate why the `--subscription` is required for `az webapp config hostname`? `--subscription` is a global flag which is only required when you want to run a command against a specific subscription instead of the default one.

[2018-08-01 20:49] rupalivohra opened #6940 "Add Interface Endpoints support"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
We would like CLI support for Creating, Updating, Getting, and Deleting Interface Endpoints.

**Describe alternatives you've considered**
N/A

**Additional context**
I will provide the Swagger for this resource next week.

[2018-08-01 20:51] rupalivohra opened #6941 "Add Subnet Purpose and Subnet Delegation support in CLI"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
I would like CLI support for two new properties that are being added to the Subnet resource.

**Describe alternatives you've considered**
N/A

**Additional context**
I will share the Swagger for the new properties next week.

[2018-08-01 20:59] pradm commented on #6928
The command was executed in powershell window, if i execute the requested command in that window it does not echo out the actual path, following are the details

PS E:\Projects> echo %ProgramFiles%
%ProgramFiles%

[2018-08-01 21:08] yugangw-msft commented on #6928
Ah, I think I understand the issue now. You probably run the CLI inside a x86 powershell window where both the `ProgramFiles` and `ProgramFiles(x86)` get mapped to `C:\Program Files (x86)`
You can cross check with the cmdlet of `Get-ChildItem Env:`
Maybe use non x86 powershell as a workaround for now?

[2018-08-01 21:14] pradm commented on #6928
Nope i see that ProgramFiles & ProgramFiles(X86) are mapped separately, Following are the output of the command requested.

PS E:\Projects> Get-ChildItem Env:

Name                           Value
----                           -----
ALLUSERSPROFILE                C:\ProgramData
APPDATA                        C:\Users\pradm\AppData\Roaming
CommonProgramFiles             C:\Program Files\Common Fil

[2018-08-01 21:16] yugangw-msft commented on #6928
And in right this posh window, running "az acs kubernetes install-cli" will download to `C:\Program Files (x86)`?

[2018-08-01 21:27] willstMSFT commented on #6937
Interesting.  My customer is the source of the feedback.  I surmise that his default config, or maybe he had access to two directories or…who knows, he said adding the –subscription was the only way to get it to work.

I can follow up with him if you want?

Will St. Germain
Tech for Social Impact (TSI)
303-618-2474
[ArcSolWithoutWords]
[Twitter]<https://twitter.com/msphilanthropic>    [Facebook] <

[2018-08-01 21:46] yugangw-msft commented on #6928
I understand now, it is CLI's problem because we are embedding a x86 version of python in the windows installer and that guy will see `ProgramFiles` as the x86 one.
I didn't reproduce this in my machine because my dev environment was built by 64 bits of python.

[2018-08-01 21:46] #6878 closed

[2018-08-01 21:48] yugangw-msft commented on #6937
@willstMSFT yes would be great to follow up with the user

[2018-08-01 21:51] pradm commented on #6928
Thank you for the update and the details. Appreciate you looking into this issue.

[2018-08-01 22:01] #6922 closed

[2018-08-01 22:49] dkempner opened #6943 "Powershell "az sql db export" doesn't tolerate passwords with special characters"
**Describe the bug**
Attempting to use a password with a special character throws an unexpected error.

**To Reproduce**

1. Open Powershell
2. Run the below command noting the special characters in the password parameter:

`az sql db export -u "MyUsername" -p 'aaa-a,aaa^>?a}a' -n "MyDb" -g "MyResourceGroup" -s "MyServer" --storage-key "MyStorageKey" --storage-key-type "StorageAccessKey" --storage

[2018-08-01 23:00] williexu commented on #6861
@kungpaolam to the service, there is no longer a global account limit for a subscription, instead resources are now tracked by region, making the current command obselete.

The following PR: https://github.com/Azure/azure-cli/pull/6942, will require a new location parameter for the `show-usage` command, and will give you the quota-progression information for the region specified.

[2018-08-01 23:02] yugangw-msft commented on #6006
these 2 are running fine under both live or recording modes

[2018-08-01 23:02] #6006 closed

[2018-08-01 23:06] #6851 closed

[2018-08-01 23:29] dcbrown16 opened #6944 "-timeout parameter for az storage blob download"
For an advisory support, case, I'm looking for the default value and/or min/max values of the -timeout parameter on `az storage blob download`.
I tried logging that [here](https://github.com/Azure/azure-docs-cli-python/issues/968#issuecomment-409670831) and was directed to this repo.
The info in the reference is the same as what I found with the -h parameter, only stating "Request timeout in secon

[2018-08-02 04:31] flac013 opened #6945 ""az role assignment list" Name field is either blank or repeat of appID"
after running the above command I get no names from the query. If the name is filled out, then it is just a repeat of the appID. Example results:

Principal ID repeated
[code]

Empty field
[code]

I am looking for something along these lines:
[code]

---

### Environment summary

Azure cloud shell

azure-cli (2.0.43)

acr (2.1.2)
acs (2.2.2)
advisor (0.6.0)
ams (0.2.1)
appservice (0.2.1)
backup (1

[2018-08-02 08:59] RajSelv opened #6947 "Error- running az login post sudo apt-get install azure-cli following steps https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest"
**Error- running az login **
Issue while connecting to azure via cli 2.0 installed on Ubuntu-linux following steps from https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest

**To Reproduce**
The following commands are successful -
sudo apt-get install apt-transport-https
sudo apt-get update && sudo apt-get install azure-cli
When i run az login it leads to error.

[2018-08-02 10:46] sumanthkannedari commented on #4316
Can you please help me how to auto generate the SAS Token for every 3 or 5 seconds through powershell and how the resources can access the auto generated SAS Token

[2018-08-02 11:01] kargakis opened #6948 "Expect fully qualified resource Id that start with '/subscriptions/{subscriptionId}'"
I am trying to update a VMSS with the following command:
[code]
And I get back the following error:
[code]
Doesn't make any sense, I already use the fully qualified path.

[2018-08-02 13:10] mrdfuse opened #6949 "workspace-resource-id parameter format would be useful to document"
I actually had to contact support and they also had some trouble figuring it out, the workspace-resource-id parameter for enabling the monitor addon needs to be in the format: The resourceid should be like this :
/subscriptions/[your sub]/resourcegroups/[your oms rg]/providers/Microsoft.OperationalInsights/workspaces/[your oms workspace name]
and not just the actual id, as the parameter name impli

[2018-08-02 16:06] troydai commented on #6948
@yugangw-msft

[2018-08-02 16:06] troydai commented on #6943
could you try replace single quote with double quote?

[2018-08-02 16:33] yugangw-msft commented on #6947
can you run `sudo az login --debug` and share the trace?

[2018-08-02 16:44] yugangw-msft commented on #6945
@flac013, can you cross check whether the service principal still exists in the tenant by running  `az ad sp show --id a363b2ec-05ae-4d1b-aed6-c591075842e6`?

[2018-08-02 17:14] yugangw-msft commented on #6948
It is generic update command, which is a bit hard to use, also the error from CRP service is bad, which makes lives hard.
`--add` means to add a new member to a list, but `imageReference` is an object, so `--set` should be used. I tweak your command to be accepted better by the service which gives you a better error of `The Image type for a Virtual Machine Scale Set may not be changed.` This is a

[2018-08-02 17:14] yugangw-msft commented on #6948
Closing per comment

[2018-08-02 17:14] #6948 closed

[2018-08-02 17:31] troydai commented on #6943
@dkempner this is about the PowerShell terminal instead of the CLI. We can't process the data unless the shell sends us the correct value.

[2018-08-02 17:31] troydai commented on #6943
Please note, The Azure Portal Shell is bash based.

[2018-08-02 17:34] dkempner commented on #6943
@troydai oh I didn't realize it was bash. I'll rewrite my script, thanks!

[2018-08-02 17:35] flac013 commented on #6945
Hey @yugangw-msft,

Thanks for getting back to me. I ran that command and I got the following:

`{
  "accountEnabled": true,
  "addIns": [],
  "alternativeNames": [],
  "appDisplayName": "testappreg",
  "appId": "26324734-cbb1-44c8-9b8b-c882be13859b",
  "appOwnerTenantId": "b39138ca-3cee-4b4a-a4d6-cd83d9dd62f0",
  "appRoleAssignmentRequired": false,
  "appRoles": [],
  "deletionTimestamp": null,

[2018-08-02 17:53] #6943 closed

[2018-08-02 18:30] ehotinger opened #6952 "[ACR / Build] Expose --no-cache for quick build"
Feature request:

Create a new CLI parameter, `--no-cache` and add this when creating a new `QuickBuildRequest` so that we can ignore all layer caching when running a quick build.

[2018-08-02 18:56] lpxavi opened #6954 "Recover a managed disk data encrypted"
Hi,

I have encrypted a managed disk with 'az vm encryption' and I have lost the vm.

I need a way to recover a managed disk data encrypted by lost VM.

Is it possible ?

Tks

Xavier

[2018-08-02 19:25] yugangw-msft commented on #6945
This is serious. @bganapa, this is broken by your Stack profile change  #6781.
Since this impacts majority users, I will handle the fix today. I hope this won't incur asks for hot fix release.
//CC @johanste

[2018-08-02 19:50] bganapa commented on #6945
I am looking at the changes, apologies. I must have overlooked.. cc: @knithinc

[2018-08-02 19:55] mattpetrick commented on #5750
this does not currently work when there is more then 1 password credential for the app. for example:

`  "passwordCredentials": [
    {
      "customKeyIdentifier": "bXAtdGVzdC1yYmFjLTEy",
      "endDate": "2028-07-30T23:59:59Z",
      "keyId": "00d2a9e8-5d50-4354-9118-5cc0e1713a2a",
      "startDate": "2018-07-31T03:11:50.2745325Z",
      "value": null
    },
    {
      "customKeyIdentifier": "b

[2018-08-02 20:00] spcmastertim01 opened #6956 "az webapp deployment:Typical documentation"
Short doc with little useful information.  Go look at ANY other service and compare documents.  This is useless

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 26f21f9c-7323-9caa-deeb-00e714a8d0ca
* Version Independent ID: c6d509be-937f-e228-17a7-570d275b6fa4
* Content: [az webapp deployment](https://docs.microsoft.com/

[2018-08-02 20:03] maxmus opened #6957 "az aks get-credentials --resource-group <resource> --name <name> - argument of type 'NoneType' is not iterable"
Hi all,

I have a issue with getting credentials on Win10. Here is a error stack:

argument of type 'NoneType' is not iterable
Traceback (most recent call last):
  File "C:\Users\trdai\AppData\Local\Temp\pip-install-8jgnm5o1\azure-cli-core\azure\cli\core\adal_authentication.py", line 25, in signed_session
  File "C:\Users\trdai\AppData\Local\Temp\pip-install-8jgnm5o1\azure-cli-core\azure\cli\core\

[2018-08-02 20:40] bganapa commented on #6945
just went through my PR again looking for any other issues, I don't find any. I think this slipped through as the tests were not looking for the property

[2018-08-02 20:50] zohaib-wgames commented on #6484
this is happening with me currently and i am using azure-cli version 2.0.33 ... blobs dont actually get deleted ...

my command is

[code]

when i do something like

[code]

than it works perfectly fine ...

[2018-08-02 20:50] highbass commented on #6484
this is happening with me currently and i am using azure-cli version 2.0.33 ... blobs dont actually get deleted ...

my command is

[code]

when i do something like

[code]

than it works perfectly fine ...

[2018-08-02 20:52] #6945 closed

[2018-08-02 21:26] RajSelv commented on #6947
well couldnot get any info on running the above, hence sharing the sequence of commands ran through..
Just to re-iterate the context, am trying to install CLI 2.0 on Vbox- ubuntu 18.04desktopamd64.iso
**********************************
raja@raja-VirtualBox:~$ echo "deb [arch=amd64] https://packages.microsoft.com/repos/azure-cli/ $AZ_REPO main" |     sudo tee /etc/apt/sources.list.d/azure-cli.list

[2018-08-02 21:35] yugangw-msft commented on #6947
could you refresh the shell? If you are on bash, maybe try one of the options mentioned in this [SO thread](https://stackoverflow.com/questions/2518127/how-do-i-reload-bashrc-without-logging-out-and-back-in)?

[2018-08-02 21:38] yugangw-msft commented on #6947
Also, based on the error you posted, can you give the non root account the permission to the `/home/raja/.azure`? If you do, then `az` should just work. Do you have to run `az` under root?

[2018-08-02 21:40] yugangw-msft commented on #6954
@vermashi, any chance? Please help!

[2018-08-02 21:44] lcanastreiro opened #6958 "Az keyvault secret list --vault_name thru proxy is getting Proxy Authentication Required"
**Describe the bug**
When trying to execute Az keyvault secret list --vault_name thru a web proxy iI'm getting Proxy Authentication Required error.

**To Reproduce**
Env. Variables defined as:
HTTP_PROXY = https://proxy.com:port
HTTPS_PROXY = https://proxy.com:port

On a cmd with azCli fully updated:
Az keyvault secret list --vault_name <name of the vault>

**Environment summary**
Objective is jus

[2018-08-02 21:48] lcanastreiro commented on #6958
Iaz login just works without any problem and the Subscription env variable was also defined.

[2018-08-02 21:50] RajSelv commented on #6947
Execution as suggested, not sure if it made any difference,
Think this is how you want me to try here, please say otherwise.

1. execution to refresh shell
raja@raja-VirtualBox:~$ source ~/.bashrc
raja@raja-VirtualBox:~$ sudo az login
sudo: az: command not found
2. az login from /home/raja/.azureraja@raja-VirtualBox:~$ sudo cd /home/raja/.azure
sudo: cd: command not found
raja@raja-VirtualBox:~$ c

[2018-08-02 22:01] yugangw-msft commented on #6947
I suggest you fix the error of `IOError: [Errno 13] Permission denied: '/home/raja/.azure/config'`. Can you  manually create the folder `~/.azure` and `~/.azure/config`? The error means you have pretty generic file permission issues here.

[2018-08-02 22:09] #6527 closed

[2018-08-02 22:09] #6760 closed

[2018-08-02 22:09] #6918 closed

[2018-08-02 22:26] williexu commented on #6484
@highbass can you update to the latest version of the CLI and try again?

In addition, even with the version you have, `delete-batch` should call the same method as `delete` with the same parameters.

When you retry, please make sure you do a `blob list` to check what blobs were deleted; it may be that some blobs failed the precondition, but the batch-command still deleted the individual blob you

[2018-08-02 22:29] williexu opened #6960 "Storage batch commands can flood STDERR with "Failed precondition" prints"
**Is your feature request related to a problem? Please describe.**
If many blobs fail the precondition(s) check, each one will log to stderr.

**Describe the solution you'd like**
The CLI should summarize the results and log at the end of the batch command.

[2018-08-02 22:30] williexu commented on #6484
Raised a separate issue for the logging issue: https://github.com/Azure/azure-cli/issues/6960

[2018-08-02 22:54] flac013 commented on #6945
any ETA on the fix? I would like to be able to use this feature within the coming week. I understand if it's busy 'round your parts, I just want to ensure that it's being worked on as this issue is marked as closed. Just attempted the command again and I got exact same results.

[2018-08-02 22:57] yugangw-msft commented on #6945
A few ways here for you to try the dev drops:
   https://github.com/Azure/azure-cli#docker

We will have a release on Aug 14

[2018-08-02 23:51] yugangw-msft commented on #6927
Reported to Compute RP.
//CC @singhkays

[2018-08-03 00:05] yugangw-msft commented on #6927
CRP does return a valid error but it was ignored by ARM. It is an ARM service error.
`There is an active shared access signature outstanding for disk <name>. Call EndGetAccess before attaching or deleting the disk.`

[2018-08-03 11:59] pchoudhari commented on #6888
Hi,

The QnAMaker resource creation is a bit different from other cognitive services, as there are other dependent resources that get deployed as well.

We will investigate how to enable a CLI for QnAMaker creation

[2018-08-03 12:23] RajSelv commented on #6947
The az login error is fixed after granting permission to folder ~/.azure/config.
The login issue can be closed now, good to have this documented may be troubleshoot section, may be some commands via Terminal can help.

Now have progressed till pushing the docker image but getting below error.
Good if you can suggest here--
raja@raja-VirtualBox:~$ docker push apicexecutables.azurecr.io/ibmcom/datap

[2018-08-03 12:33] davidobrien1985 opened #6962 "`az login` fails due to MFA"
**Describe the bug**
`az login` doesn't work for me anymore with an MFA enabled user.

[code]

**To Reproduce**
`az login`, also `read -sp "Azure password: " AZ_PASS && echo && az login -u auobrien.david@outlook.com -p $AZ_PASS` doesn't work.

**Expected behavior**
I receive an MFA prompt on my phone.

**Environment summary**
`az --version`
azure-cli (2.0.43)

Installed on WSL.

[2018-08-03 13:23] slacknet commented on #5639
if you split it you might get back a corrupted file

[2018-08-03 14:08] highbass commented on #6484
@williexu I upgraded to the latest version and still the same thing... now i wrote a script to iterate over blob list and delete if it meets the date condition and its working properly via that method. I have like millions of blob files so its been running for 24 hours and still not close to the end.

[2018-08-03 14:59] ElvenSpellmaker commented on #6484
@highbass I also gave up and wrote a script (scripts) to loop through them and delete individually: https://github.com/ElvenSpellmaker/AzureOldBlobDelete

[2018-08-03 15:49] yugangw-msft commented on #6947
This usually means the problem with authenticating or proxying to Docker Hub. Please go to `https://forums.docker.com/` and post questions over there

[2018-08-03 15:49] #6947 closed

[2018-08-03 16:05] yugangw-msft commented on #6962
For MFA, you have to use interactive login through `az login` w/o `-u`. This requirement comes from AAD token service, not CLI.

[2018-08-03 18:30] smereczynski commented on #6745
I don't think it's packaging issue in fact. In homebrew "python" dependency is pointing to latest stable, so 3.7. And I don't think there is an option to get 3.6. So there should be a compatibility check with 3.7.

[2018-08-03 18:41] paulpal1 commented on #2677
More specifically I've had success with '(az vm show --name <name> | ConvertFrom-Json).publicIps'

[2018-08-03 19:24] charlesfarrington opened #6964 ""Provisioning State: Failed" after creating deployment environment in Azure ML"
The deployment environment 'Provisioning State' keeps appearing as 'Failed' after attempting to create a deployment environment from the CLI (accessed through Azure ML Workbench).

This happens in the 3rd part of [this](https://docs.microsoft.com/en-us/azure/machine-learning/desktop-workbench/tutorial-classifying-iris-part-3#prepare-to-operationalize-locally-for-development-and-testing-your-servic

[2018-08-03 21:25] davidobrien1985 commented on #6962
Sorry if I wasn't clear.

Interactive AND non-interactive fail with MFA.

Sent from my iPhone

On 4 Aug 2018, at 2:05 am, Yugang Wang <notifications@github.com<mailto:notifications@github.com>> wrote:

For MFA, you have to use interactive login through az login w/o -u. This requirement comes from AAD token service, not CLI.

—
You are receiving this because you authored the thread.
Reply to this e

[2018-08-03 21:27] yugangw-msft commented on #6962
Are you able to login in to portal? If yes, can you try `az login` again?

[2018-08-03 21:30] davidobrien1985 commented on #6962
Yes, all fine via the portal and cloud shell.

Only CLI on my local is broken.

Sent from my iPhone

On 4 Aug 2018, at 7:27 am, Yugang Wang <notifications@github.com<mailto:notifications@github.com>> wrote:

Are you able to login in to portal? If yes, can you try az login again?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://githu

[2018-08-03 22:44] yugangw-msft commented on #6962
This is a AAD server error which I shall clarify with them
[code]
At the same time, in browser, can you log out the portal and run "az login" again? The goal is to clear the old cache associated with non MFA accounts, and force a new authentication flow.

[2018-08-03 22:54] yugangw-msft commented on #6962
if still not working, can you send the correlation id displayed in the browser to me at yugangw at microsoft dot com? It is needed for AAD team to diagnose for the root cause.

[2018-08-03 23:52] Akos-Csete opened #6965 "Disk attach uses max(luns) + 1"
**Describe the bug**
The 'az vm disk attach' and corresponding attach_managed_data_disk() uses:
...
if lun is None:
        luns = ([d.lun for d in vm.storage_profile.data_disks]
                if vm.storage_profile.data_disks else [])
        lun = max(luns) + 1 if luns else 0
...

It fails with a "parameter 'dataDisk.lun' is out of range" although there are LUNs below max(luns) that are availab

[2018-08-04 00:00] williexu commented on #6484
@highbass I just successfully ran the following command:
[code]
Have you tried doing a `blob list` after to see if any of your blobs were deleted (it's possible that some failed while others succeeded)?.
In addition, if you can, try this on a smaller container, which you can populate with a smaller number of blobs and run the command with `--debug` so we can see what is happening.

I can't reprodu

[2018-08-04 07:05] davidobrien1985 commented on #6962
I just sent you an email to your microsoft address.

From: Yugang Wang <notifications@github.com>
Sent: Saturday, 4 August 2018 8:55 AM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: David O'Brien <me@david-obrien.net>; Author <author@noreply.github.com>
Subject: Re: [Azure/azure-cli] `az login` fails due to MFA (#6962)

if still not working, can you send the correlation id displayed in th

[2018-08-04 15:11] kthejoker commented on #6964
Received the same error, here's the debug output specifically related to the creation of the environment:

[code]

And then the same error in my portal. Is there a way to debug/step through the Python when running Azure CLI commands? Sorry, not that well versed in CLI dev.

[2018-08-06 06:14] cloudguy-pro commented on #6888
Ok, it would be really nice to get this working in order to have the CLI for all Cognitive Services available...

[2018-08-06 10:26] shivankar-madaan commented on #5243
Hi Team,
I am facing a similar kind of issue
`az vm list` shows a wrong output with respect to `virtualMachineExtensionType`(getting is as,set to "null") in json body
But if I hit
` az vm show -g <resource-group>-n <VM-name> --query resources[*]`
I get the right resutls

Please let me know,if I am supposed to create a new issue for this

[2018-08-06 12:12] makoit opened #6968 "Publish or expose port"
I am using azure container instances.
Is there a opportunity to bind ports of the container to other ports?

Something like:

`$ docker run -p 80:8080 ubuntu`

Thanks for help.

[2018-08-06 14:25] MichalKoscielniak commented on #1871
So ... is there a workarround for this ? I'm trying to install cli but i can't because of this error. ( when i specify install-location the same issue appears )

[2018-08-06 15:50] tjprescott commented on #6917
@annatisch can you comment?

[2018-08-06 15:57] JMayrbaeurl opened #6969 "iot hub device-identity create for edge device with error 'No keys found for policy iothubowner of IoT Hub'"
**Describe the bug**
Tried to register an edge device in a newly created S1 IoT Hub. Didn't work but returned error message '**No keys found for policy iothubowner of IoT Hub**'

**To Reproduce**
[code]
**Expected behavior**
A new Edge enabled device with the name 'myFirstEdgeDevice' gets registered in the specified IoT Hub

**Environment summary**
Install Method "MSI" / CLI version 2.0.42 with az

[2018-08-06 16:08] annatisch commented on #6917
If I recall correctly this is to do with the specific shared access key auth used by Batch - The client requires the account endpoint to instantiate, whereas the shared key credentials requires only the Batch account name.
Though it's probable that in many cases one of these two values could probably be constructed internally - at least as the default behavior - then make adding the account name/e

[2018-08-06 16:10] #5709 closed

[2018-08-06 16:11] #2365 closed

[2018-08-06 16:11] #2353 closed

[2018-08-06 16:12] tjprescott commented on #5651
@yugangw-msft is this a CLI issue or service limitation?

[2018-08-06 16:52] yugangw-msft commented on #6965
This is a bug which I thought no one would exploit but I was wrong. @Akos-Csete, can you elaborate your business context, if not confidential, why you would need so many data disks?

[2018-08-06 17:28] williexu commented on #2620
@tjprescott I believe you are referencing the [OAuth](https://github.com/Azure/azure-cli-extensions/tree/master/src/storage-preview#included-features) feature that is included with the storage-preview extension, which will use the user's credentials to authenticate given the `--auth-mode` parameter.
Do know that this is different from using a SAS key and will require the additional granting of the

[2018-08-06 17:34] xingwu1 commented on #6917
@tjprescott  this is by azure batch design, the account-endpoint include the region information which is must for azure batch. Azure batch doesn't have global master server, so we have to use full url container region information to direct the user request to regional server.

[2018-08-06 17:41] yugangw-msft opened #6970 "compute: "Microsoft.Compute/skus" should accept server filter"
This api returns boat load of information including configurations across all compute resources with 3MB+ payload returned. Because of the volume, the information is hard to digest by CLI users.
Considering the importance of the api (the only place people can query zone list and vm size availability)  I suggest, service end should expose server side filter including "resource type" and "vm size" s

[2018-08-06 17:43] tjprescott commented on #6886
What happens if you escape the internal double quotes?

[2018-08-06 18:33] yugangw-msft commented on #6609
In my PR, I made a bit tweak.
[code]
For you case, the command would looks like `az vm list-skus --zone -l eastus2`

[2018-08-06 18:41] letmaik commented on #6917
Does that mean I can create multiple batch accounts named "foo" in different regions?

[2018-08-06 18:43] henriquebrisola opened #6972 "Listing existing Azure Images"
How can I list all Images that already exist in Azure, e.g. Win2012R2Datacenter, UbuntuLTS...

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 42c81f4c-ac29-2f6e-96f2-b6fba3ef3098
* Version Independent ID: 2a24cd5b-8798-a175-5bde-7d2850bf9015
* Content: [az image](https://docs.microsoft.com/en-us/cli/azure/image?view=azu

[2018-08-06 19:09] squillace commented on #5651
@noelbundick I wonder whether this inspires you. @koalalorenzo we are working on convincing the right people to do the work next week. I'll report back the results.

[2018-08-06 19:53] squillace commented on #5651
also, this is a company willpower and resource distribution limitation. for the user, this is a CLI issue, because that's what they experience. The operation does, in fact, exist, as is evidenced by the PS support. The problem is that the CLI team doesn't have the resources to tackle the operation without the service team's efforts. Which aren't there yet.

@koalalorenzo, that's for you. I want co

[2018-08-06 21:16] atrauzzi commented on #2620
That's not my point.

My point is if you're signed in as a user already and want to run a command, the command should detect that I'm running with an authenticated session and do what it must to make the command work.

I don't care if it's a rubber duck race or an SAS key that goes on in the background.  I'm already authenticated, extra credentials are redundant at that point.

[2018-08-06 21:20] jongio opened #6973 "has requirement msrestazure~=0.4.7, but you'll have msrestazure 0.5.0 which is incompatible."
**Describe the bug**
Get this when I run pip install
[code]
**To Reproduce**

pip install azure-cli

**Expected behavior**

No errors

**Environment summary**

created py2 venv with
py -2 -m virtualenv c:\python27\.virtualenv\py2

**Additional context**

i also have py3 installed

[2018-08-06 21:36] williexu commented on #2620
@atrauzzi referencing the end of my last comment:
"If this is for your own personal use and you have the privileges, as travis mentioned, you do not need to specify any further authentication arguments; we will query the account corresponding to the name specified, grab a account key, and use that in the operation."

i.e. you can run the following successfully:
[code]
No need for `--account-key`,

[2018-08-06 21:38] yugangw-msft commented on #6972
`az vm image -h`

[2018-08-06 21:38] #6972 closed

[2018-08-06 21:39] yugangw-msft commented on #6973
//cc: @lmazuel @troydai. I believe this is an expected temporary glitch which will be fixed very soon

[2018-08-06 21:40] jongio commented on #6973
Workaround?  It's breaking my py2 modules, which I need to ship soon.

[2018-08-06 21:43] lmazuel commented on #6973
@jongio That should not break anything, pip shows this as a warning but still installs everything. And this is still functionnal. Please describe how it breaks something?
Also, you can force a specific version of msrestazure while installing:
[code]

[2018-08-06 21:48] jongio commented on #6973
My module does this:

requirements = [
    'Click>=6.0',
    'docker>=3.4',
    'python-dotenv',
    'requests',
    'fstrings',
    'azure-cli-iot',
    'azure-cli-profile',
    'azure-cli-extension',
    'azure-cli-configure',
    'azure-cli-resource',
    'azure-cli-cloud'
]

Which causes this when run:

I can work around this by removing all the azure-cli* entries and manually installing the a

[2018-08-06 21:52] lmazuel commented on #6973
Until CLI uses azure-mgmt-iothubprovisioningservices 0.2.0 which has the fix for this, add into your requirements to force msrestazure~=0.4.32

[2018-08-06 22:26] Akos-Csete commented on #6965
@yugangw-msft , same context as https://github.com/Azure/azure-cli/issues/6924. Mutliple SSDs need to be striped to get the targeted I/O performance per volume and several volumes are located on the server. Volumes are refreshed from source snapshots by creating new disks which are replacing the current ones. Volume refreshes are independent of each other, so the skipped range is expected and norm

[2018-08-06 22:39] xingwu1 commented on #6917
@letmaik It was designed to do this way. However, right now, we only implemented the same account can only used for single region. :)

[2018-08-06 23:05] NateB2 commented on #6962
I'm having this exact issue on azure-cli version 2.0.30. First noticed it a couple days ago.

[2018-08-06 23:12] yugangw-msft commented on #6962
2.0.30 might be a bit too old CLI version, but regardless can you send me the error at yugangw at microsoft dot com as well? Once confirmed is the same error code, I will submit a support ticket.
Also did your tenant admin make any recent change such as location condition policies?

[2018-08-06 23:37] jongio commented on #6973
Confirming that this worked
[code]

Also,

I got it to work by not running `pip install -e .`, instead running `pip install .` and then putting that project's root dir in the PYTHONPATH EnvVar.

[2018-08-07 00:00] NateB2 commented on #6962
I tried again after updating to 2.0.43, and at first received the same error, but then after running it several times it mysteriously disappeared and everything seems to be working fine.  Weird.

[2018-08-07 00:14] williexu commented on #6944
The CLI does not specify a timeout if none is given.
Neither does the sdk send a default timeout value in its service call; @zezha-msft to confirm.

According to https://docs.microsoft.com/en-us/rest/api/storageservices/setting-timeouts-for-blob-service-operations, the **service** imposes timeouts depending on the specific call. For downloads, it is 2 mins per mb.

[2018-08-07 00:36] zezha-msft commented on #6944
Hi @williexu, you are right, we do not put any timeout on the request if the user didn't specify any. To be clear, I'm talking about the timeout that is passed to the service.

However, we do have a [socket timeout](https://github.com/Azure/azure-storage-python/blob/master/azure-storage-common/azure/storage/common/_constants.py#L37), which does have a default value, because we don't want the clien

[2018-08-07 00:43] dcbrown16 commented on #6944
@zezha-msft , thanks. So the 2 mins/MB is overridden by a 20 second timeout?

[2018-08-07 00:50] #6609 closed

[2018-08-07 00:57] atrauzzi commented on #2620
Granted, I made this ticket over a year ago, but that didn't seem to be the case.  Maybe things have changed since then...

[2018-08-07 01:05] dcbrown16 commented on #6944
Sorry, I'm not sure how a socket timeout interacts with any other timeouts. In this case, the customer is just trying to download a 3GB file and finds that it times out, so the maximum timeout that can be set for `az storage blob download` is also of interest here.

[2018-08-07 01:59] yugangw-msft commented on #5610
Sorry for the delay, but it is not possible. There are no such roles. The flag `--include-classic-administrators` is merely a flag to trigger CLI to get the list of old co-admins which should have accesses to everything under the subscription. Within regular roles, the closest is probably the `Owner` role at the scope of subscription.

[2018-08-07 01:59] #5610 closed

[2018-08-07 05:40] #6917 closed

[2018-08-07 08:15] dtissen commented on #6886
The Answer is:

DEBUG: msrest.http_logger : b'{\r\n  "startTime": "2018-08-07T08:13:02.3341422+00:00",\r\n  "endTime": "2018-08-07T08:13:43.0520614+00:00",\r\n  "status": "Failed",\r\n  "error": {\r\n    "code": "VMExtensionProvisioningError",\r\n    "message": "VM has reported a failure when processing extension \'CustomScript\'. Error message: \\"Enable failed: failed to get configuration: error

[2018-08-07 08:16] dtissen commented on #6886
My current workaround is to write the json into a setting file and set the json file as parametervalue...

[2018-08-07 13:51] henriquebrisola commented on #6972
Thanks but this isn't correct, the correct answer would be `az vm image list` and the result is below.
But I think the list should be much greater.

Offer | Publisher | Sku | Urn | UrnAlias | Version
-- | -- | -- | -- | -- | --
------------- | ---------------------- | ------------------ | -------------------------------------------------------------- | ------------------- | ---------
CentOS | Open

[2018-08-07 13:59] henriquebrisola opened #6976 "Az Vm Image command missing"
The command `az vm image` shows &gt;Information on available virtual machine images.
ps. do not mistake with `az image` which shows only info about custom images.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 152b549b-d4b3-13e5-081c-c604b6e4d89e
* Version Independent ID: 3f79be78-ce75-ad31-304b-bad7d475ec9e
* Content:

[2018-08-07 14:02] TamasSzerb opened #6977 "az acr list is empty"
$ az acr repository list --name "xxx" --output table
'NoneType' object is not iterable
Traceback (most recent call last):
  File "/home/toma/lib/azure-cli/lib/python3.6/site-packages/knack/cli.py", line 197, in invoke
    cmd_result = self.invocation.execute(args)
  File "/home/toma/lib/azure-cli/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line 369, in execute
    six.reraise

[2018-08-07 16:09] tjprescott commented on #6972
Hi @henriquebrisola when you use `az vm image list` you are seeing a cached list of the most common images. If you want to see all available images, add the `--all` flag. This is a slow operation.

[2018-08-07 16:13] tjprescott commented on #6976
Closing as this is a comment rather than an issue.

[2018-08-07 16:13] #6976 closed

[2018-08-07 16:27] samkreter commented on #6977
This looks like an ACR issue. @djyou might be able to help.

[2018-08-07 16:28] yugangw-msft commented on #6972
On top of @tjprescott's suggestion, you can still use `--publisher`, `--offer` filters to narrow down the query result which should get things faster. CLI uses case insensitive partial string match, so you don't worry about typing into the exact names.

[2018-08-07 16:29] samkreter commented on #6968
@makoit  we currently do not support port mapping in ACI. The ports that are exposed need to be direct mappings to the container's ports.

[2018-08-07 16:40] tjprescott commented on #6977
Ugh, sorry @samkreter  I just got back from vacation.

[2018-08-07 16:42] #6968 closed

[2018-08-07 16:44] samkreter commented on #6841
@dancowen This is intended behavior. In order to expose the ports you will either need a dns-name-label or use the "--ip-address public" to expose via a public IP address.

[2018-08-07 16:48] samkreter commented on #6830
@tmakin This was a bug in that version of the CLI from upgrading to long-running operations. It is fixed in the current release of the CLI.

[2018-08-07 16:49] #6798 closed

[2018-08-07 16:54] samkreter commented on #6476
@RolfEleveld we currently do not support port mappings. The exposed ports on the container group must match the exposed ports of the container.

This is a commonly asked feature. You can upvote it here: https://feedback.azure.com/forums/602224-azure-container-instances

[2018-08-07 16:55] samkreter commented on #6968
@makoit  One other note, this is a commonly asked feature. You can upvote it here: https://feedback.azure.com/forums/602224-azure-container-instances

[2018-08-07 16:59] samkreter commented on #6235
Port mapping is a commonly asked for feature. If you are interested up vote it here to make sure its higher priority: https://feedback.azure.com/forums/602224-azure-container-instances

[2018-08-07 17:00] troydai commented on #1434
@williexu this is an old issue we had. Is it still the case?

[2018-08-07 17:10] jluk commented on #6831
@rohittidke we're evaluating this support right now, could you share your workload scenario and expected scale? Any details are helpful for us.

Please head over to aka.ms/aci/feedback as well for other feature requests.

[2018-08-07 17:19] #6960 closed

[2018-08-07 17:29] #6476 closed

[2018-08-07 17:29] #6841 closed

[2018-08-07 17:44] rohittidke commented on #6831
Hallo Justin,

I am working with Avanade. Usually we have a web application connecting to
multiple container instances for testing and demo scerarios. We tried out
the Azure Web App on a container for our containers but there were several
issues so we tried out container instances later and it worked. The problem
we faced is the deploying a cluster for the same scenario turned out to
bevery expens

[2018-08-07 17:47] yugangw-msft commented on #1871
Hi folks, because I am fixing related #6928, I will also address this one as the potential fix will be the same. Here are my ideas:

1. kubectl.exe will be copied to user home folder, say “c:\users\jon\\.azure-kubectl”. Right now copying to “program files” is not ideal as it is still not in search PATH and also doing it requires elevation.
2. After download, CLI will check whether it is in OS's PA

[2018-08-07 17:58] jluk commented on #6831
Thanks @rohittidke this is really helpful! I think ACI can help port over simple NLP tasks to be run, are any of these time sensitive? Would a start-time in the range of 10-15 minutes be acceptable in this situation?

For the output of your task is that being written out to some external DB or a volume mount?

[2018-08-07 17:59] yugangw-msft commented on #6965
i will get it fixed

[2018-08-07 18:36] Costo commented on #6929
Was this fixed? My Azure Cloud Shell CLI version is now 2.0.43 and this problem went away apparently.

[2018-08-07 19:05] yugangw-msft commented on #6929
@Costo, I have not submitted any change for this, but since you are at it, can you double check the repro? This command indeed recreates the site payload w/o propagating the original data, which I thought would be the root cause; however if it works, then I would not touch it.

[2018-08-07 19:19] henriquebrisola commented on #6976
@tjprescott  This is not just comment, the `az vm image` command is missing from the documentation.

[2018-08-07 19:27] mboersma opened #6978 ""az aks install-connector" needs tab-completion helpers"
From Azure/AKS#513.

**Describe the bug**

`az install-connector --resource-group $AZ_RG --name` doesn't give you a prompt for the list of AKS clusters in that resource group (or the list of all clusters)
`az install-connector --l` doesn't give --location as a prompt.

[2018-08-07 19:42] Costo commented on #6929
So I created a new Web App from scratch and I could not reproduce this problem. However, I did the same repro on an existing Web App (the same I used when I reported this issue) and the problem is still definitely there.

[2018-08-07 19:57] tjprescott commented on #6972
It is all documented here:
https://docs.microsoft.com/en-us/cli/azure/vm/image?view=azure-cli-latest#az-vm-image-list

[2018-08-07 20:00] tjprescott commented on #6976
`az vm image` is a command group, not a command. It is documented here:
https://docs.microsoft.com/en-us/cli/azure/vm/image?view=azure-cli-latest

[2018-08-07 20:03] williexu commented on #6907
This should be part of https://github.com/Azure/azure-cli-extensions
Also, this was recently fixed.
@jlian please check again.

[2018-08-07 20:03] #6907 closed

[2018-08-07 21:34] williexu commented on #1434
Yes, it is still the case, a sas token in a container url will be ignored if provided.

[2018-08-07 21:45] yugangw-msft commented on #6962
I can reproduce this behavior by doing:
   1. In portal, enable the baseline policy right away by following "Azure Active Directory=>Conditional Access=>Baseline policy" and turning on the option of "Use policy immediately"
   2. Launch CLI, and click the account tile in the browser, which will sign you in, but then you will get a same error from CLI.

I ended up fixing this by re-opening the brow

[2018-08-07 22:05] #6977 closed

[2018-08-07 23:36] aanandr opened #6984 "Add support for Network Profile"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
We need CLI commands for the creation, updating, getting and deleting Network Profiles

**Describe alternatives you've considered**
N/A

**Additional context**
The swagger changes for Network Profile will be provided soon.

[2018-08-07 23:40] troydai opened #6985 "Inter command module dependency is prohibited."
https://github.com/Azure/azure-cli/blob/8aa5cb7ef0050591d8e690f91cc0d777accd885d/src/command_modules/azure-cli-container/azure/cli/command_modules/container/custom.py#L36

[2018-08-07 23:41] yugangw-msft commented on #4592
Chatted with @panchagnula, we can live w/o this, but we can reactivate if we have user votes

[2018-08-07 23:41] #4592 closed

[2018-08-07 23:44] #6459 closed

[2018-08-08 00:07] panchagnula commented on #4915
Will follow with the functions crew on this one

[2018-08-08 02:11] yugangw-msft commented on #6823
please reactivate with details

[2018-08-08 02:11] #6823 closed

[2018-08-08 02:30] yugangw-msft commented on #5275
Thanks for all the feedback. I have following ideas for review:
   1. This command can implement most of SCP's functionalities, so I would just name as `az vm scp`
   2. The command would expose following flags
[code]
    3. Examples:
[code]
Let me know any comments/suggestions; otherwise i will start to get things going

[2018-08-08 09:58] abhiCR7 opened #6987 "Log Analytics Alert via CLI"
**Is your feature request related to a problem? Please describe.**
We have App.Insights alert management from az-cli currently.
**Describe the solution you'd like**
It would be great to have the same functionality here so people can have better control over all the monitoring aspects from one space.

**Describe alternatives you've considered**
I tried to explore node.js sdk, but couldn't find anyt

[2018-08-08 14:43] bhicks329 opened #6989 "Manifest not being applied until button in portal is clicked"
When trying to programmatically create an ad application for use with Terraform, the required-access does not appear to be applied to the Principle until the "Grant Permissions" button in the portal is clicked.

To reproduce:

az ad app create --display-name testapp1 --required-resource-accesses @manifest.json --identifier-uris http://testapp1

manifest.json contains:

[
    {
        "resourceApp

[2018-08-08 15:41] yugangw-msft commented on #6989
#6975 should handle this

[2018-08-08 15:46] bhicks329 commented on #6989
So I'm not going mad then 👍

Cheers

[2018-08-08 17:33] yugangw-msft commented on #6254
please reactivate once you get more information

[2018-08-08 17:33] #6254 closed

[2018-08-08 17:35] yugangw-msft commented on #6829
Please reactivate if @tjprescott's suggestion is not enough

[2018-08-08 17:35] #6829 closed

[2018-08-08 17:35] yugangw-msft commented on #6774
This was done

[2018-08-08 17:35] #6774 closed

[2018-08-08 17:47] yugangw-msft commented on #6626
//cc: @vermashi
@marinnedea, if I get it right, the flag of `--encrypt-format-all` is pretty much useless for linux due to the severe consequence of no-boot?

[2018-08-08 17:59] yugangw-msft commented on #6622
@suntong, sorry for the delay. If you can still repro, can you share the trace using `--debug`? I want to see which region you are in. CLI can be modified to capture those exceptions and continue, but i like to see a repro first.

[2018-08-08 18:03] vermashi commented on #6626
The flag '--encrypt-format-all' only changes the UUIDs of data partitions, not the OS or Boot partitions.
Additionally, encrypted data partitions are mounted by the extension, not the fstab.
We have tested this option a lot and it does not cause a no-boot scenario.

[2018-08-08 18:29] pradm opened #6994 "acs: --ssh-key-file"
Is this input parameter for --ssh-key-file be the public key or private key. It looks like it needs the private key always, if we provide the public key as input it reports "raise SSHException('not a valid ' + tag + ' private key file')"

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d382080c-52ae-ea51-9ace-8c86289c6a6

[2018-08-08 18:38] brianbaso opened #6995 "`az role definition create --role-definition` should accept an array of objects"
I have a json file with over 20 role definition templates. When I run

`az role definition create --role-definition <file-path>`

I get an error

`Invalid role defintion. A valid dictionary JSON representation is expected.`

I think it would be a nice feature if this cli command could accept an array of role definitions. What do you guys think?

[2018-08-08 18:39] colemickens commented on #6254
It was a custom built image that didn't need provisioning and didn't
include the agent. I think that was the cause, since the platform thought
it never finished provisioning. Anyway, I'm no longer using Azure so we can
leave this closed.

On Wed, Aug 8, 2018, 10:33 AM Yugang Wang <notifications@github.com> wrote:

[2018-08-08 19:43] yugangw-msft commented on #5740
@tjprescott, I have fixed the 2 compute tests. For `test_group_deployment_thru_uri`, I think it should be fine, as the uri points back to the [public git source](https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-resource/azure/cli/command_modules/resource/tests/latest/test_resource.py#L451), which can be accessed anywhere.
If I didn't miss anything, I will flip the test bac

[2018-08-08 19:55] yugangw-msft commented on #5741
`test_vm_create_custom_ip` has worked for 2+ months. We can close it now.

[2018-08-08 19:55] #5741 closed

[2018-08-08 20:03] yugangw-msft commented on #3427
@paulmey apologize for the delay, but I just didn’t see it. Is this still an ask?
In cli, you can do “az image create --source <vm resource id>” to create an image, I assume you like to create a managed disk from the image?

[2018-08-08 20:05] yugangw-msft commented on #2968
Please reactivate if you are still able to reproduce it. Do mention the version and how you installed the CLI.

[2018-08-08 20:05] #2968 closed

[2018-08-08 20:12] yugangw-msft commented on #3038
Apologize for the delay.
Depends on the end goal, if for backup you can create a managed disk/snapshot from another managed disk, if you want to read you can use "az disk grant-access" to get SAS URI.

[2018-08-08 20:13] yugangw-msft commented on #3347
Supported now through `--nsg`

[2018-08-08 20:13] #3347 closed

[2018-08-08 21:00] yugangw-msft opened #6999 "VM create: enable accelerated networking by default on all VM sizes"
NRP service is ready and with the confidence this will work.

[2018-08-08 21:18] JasonRShaver commented on #943
While we like the idea, we would want to have a customer in mind before changes like this.

[2018-08-08 21:18] #943 closed

[2018-08-08 21:26] JasonRShaver commented on #2370
cleaning up github issues, we've made changes here (but not literal yes support); if this is a scenario you think we're not understanding, let us know.

[2018-08-08 21:29] JasonRShaver commented on #2753
Sorry for the delayed response, but ClearDB is a marketplace extension and we don't currently support marketplace extensions.  Let us know if this is still a concern.

[2018-08-08 21:29] #2753 closed

[2018-08-08 21:34] tjprescott commented on #2370
I'm pretty sure he meant that the prompt should accept the literals "yes" and "no" since the parameter is called `--yes`.

[2018-08-08 21:41] JasonRShaver commented on #3109
we're looking at improving the situations for providing case-level help on the command line (cli and/or azure), but closing this ticket while we open the issue in another feature

[2018-08-08 21:41] #3109 closed

[2018-08-08 21:44] JasonRShaver commented on #3595
This behavior is not supported by ARM and we cannot build this into CLI itself.

[2018-08-08 21:44] #3595 closed

[2018-08-08 21:47] JasonRShaver commented on #3916
@johanste and @williexu, can you take a look?

[2018-08-08 21:47] #3980 closed

[2018-08-08 21:48] #4003 closed

[2018-08-08 21:55] JasonRShaver commented on #4340
closed pending future customer development on UX

[2018-08-08 21:55] #4340 closed

[2018-08-08 21:56] JasonRShaver commented on #4495
@tjprescott  and @williexu  should be addressing this in their help changes

[2018-08-08 21:56] #4495 closed

[2018-08-08 22:01] JasonRShaver commented on #4712
Currently this is by design, especially given the relative scope of extensions.  As the CLI grows, we'll revisit this to setup some healthy and secure patterns here.  If you have any user data or complains, please share with us to help us prioritize.

[2018-08-08 22:01] JasonRShaver commented on #4786
working as intended

[2018-08-08 22:01] #4786 closed

[2018-08-08 22:02] JasonRShaver commented on #5130
no user ask

[2018-08-08 22:02] #5130 closed

[2018-08-08 22:04] tjprescott commented on #3980
@troydai is this adequately addressed by the API file?  If not this should be reopened.

[2018-08-08 22:06] JasonRShaver commented on #5221
We're aware of cases where this presents some hard to use UX, but after talking with customers about specific fixes and their side-effects, this has not hit our bar.  If you have more user data or comments, please let us know.

[2018-08-08 22:06] #5221 closed

[2018-08-08 22:10] JasonRShaver commented on #5434
While we understand the scenario here, currently table requires some specific format to operate and moving it to be more free-form has unintended side-effects and additionally does not promote consistency.

[2018-08-08 22:10] #5434 closed

[2018-08-08 22:37] schaabs commented on #3499
I have added a work around for this issue which is in the above mentioned PR.  I have added an '--id'  parameter to secret show/download (as well as other command where it makes sense) so that you can use the id property of a secret directly rather than having to parse into vault-name name and version.

[code]

These changes are currently available by installing the keyvault-preview cli extension.

[2018-08-08 22:46] #1871 closed

[2018-08-08 22:46] #6928 closed

[2018-08-08 22:56] #5740 closed

[2018-08-08 23:06] suntong commented on #6622
OK. I'll find sometime this weekend to try again...

[2018-08-08 23:52] #1434 closed

[2018-08-09 04:00] yugangw-msft commented on #655
Hi folks, can this issue be closed now since managed disk support has been integrated with azure/k8s? Let me know if there are other improvements I should made.

[2018-08-09 04:29] #655 closed

[2018-08-09 05:42] marinnedea commented on #6626
I can confirm the problem is currently no longer manifesting and the extensions, with the --EncryptFormatAll option works as intended. No idea if you guys fixed it or something..but looks good :) .Thank you!

[2018-08-09 05:42] #6626 closed

[2018-08-09 09:15] kizotheitguy commented on #5543
Thanks for the command..
The below should help retrieve application instrumentation keys
[code]

[2018-08-09 10:18] woolfyx opened #7005 "Role assignment bad 'Principal Name'"
**Describe the bug**
In the CLI 2.0.43, when you list the assignment on a subscription `az role assignment list` the `principalName` displayed is the `principalId`. In the CLI 2.0.41, the correct `principalName` are displayed.

**To Reproduce**
With CLI 2.0.43, list all the role assignment of a subscription `az role assignment list`

**Expected behavior**
Search the field `principalName`, the data

[2018-08-09 15:28] bgklein commented on #6916
Could you post an example body of what you are submitting? The Batch CLI should handle collections formatted as https://raw.githubusercontent.com/Azure/azure-docs-cli-python-samples/master/batch/render-scene/json/myrendertask_multi.json . We can look into accepting TaskAddCollection json as well.

[2018-08-09 15:44] letmaik commented on #6916
I see, that would be fine. Can you document that somewhere?

[2018-08-09 15:57] bgklein commented on #6751
JSON File Syntax can be found in the REST API documentation for the associated call. We can look into adjusting the help text of the CLI to better reflect this.

[2018-08-09 16:02] pradm opened #7006 "Supported Versions for --orchestrator-version"
How do we find what is the supported versions that can be passed as input parameter to --orchestrator-version parameter.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 09c0cfaa-d590-f927-15a1-37f9f4e293bb
* Version Independent ID: 32b3d811-99dc-6f4c-d15b-ccf6e9f51142
* Content: [az acs](https://docs.microsoft.com/en-us

[2018-08-09 16:24] letmaik commented on #6751
Yes please :)

[2018-08-09 16:59] nickwalkmsft opened #7008 "`az webapp deployment source config-zip` gives error stack trace after success"
**Describe the bug**
`az webapp deployment source config-zip` deploys successfully but gives a Python error stack trace as output.

**To Reproduce**
Use the above command to deploy a zip file to an App Service site. Example with output:

[code]

**Expected behavior**
Should get logs indicating a successful deployment.

**Environment summary**
Running in bash Cloud Shell. `az --version` output:

[c

[2018-08-09 17:34] tjprescott commented on #3499
Since the PR has been merged, I'm closing this.

[2018-08-09 17:34] #3499 closed

[2018-08-09 18:13] tjprescott opened #7009 "Add Deprecation mechanisms to docs"
Update command authoring docs to describe deprecation mechanisms.

[2018-08-09 18:45] xingwu1 commented on #6752
@letmaik the endpoint is very useful. The account name may duplicated in the multiple region. So endpoint not only have account name, but also region name, and cloud type (national cloud vs public cloud). So we can't use account name to replace endpoint.

[2018-08-09 19:31] williexu commented on #2620
@atrauzzi please try using the latest version of the CLI. I promise that this is the current behavior.

[2018-08-09 19:31] #2620 closed

[2018-08-09 19:41] yugangw-msft commented on #7008
PR #6951 should address this problem. Since you are at it, can you run with --debug and share with me the response payload which broke the command? I will then double check

[2018-08-09 20:10] nickwalkmsft commented on #7008
Hm, no longer able to reproduce. If I manage to get it I'll paste it here.

[2018-08-09 20:15] panchagnula commented on #7008
hey @nickwalkmsft :) yes please do let us know if you still see this. The zip deploy command doesn't set the app setting to build by default - recommended is to set the app setting if needed.

[2018-08-09 20:17] nickwalkmsft commented on #7008
Yes - I only mentioned that detail in case someone knew of some specific issue. As @yugangw-msft called out, it's probably some service call somewhere in the overall process that unexpectedly gets back a response that's not JSON.

[2018-08-09 20:24] #7005 closed, assigned to nobody

[2018-08-09 20:46] tjprescott commented on #6752
If the endpoint contains the name, he's asking why you have to specify name again through `--account-name`.  You could simply extract it from the endpoint.

[2018-08-09 20:50] bacongobbler opened #7011 "`az acr build` UnicodeEncodeError from log output causes CLI error"
During a build with `az acr build`, I received the following error while the build was occurring:

[code]

The unicode character in particular from the log output is an ellipsis:

[code]

The CLI errors out, but the build continues and eventually succeeds, as shown here:

[code]

The expected outcome here is for the CLI to be able to handle log output similar to `docker build`, as the same context

[2018-08-09 21:00] yugangw-msft commented on #6999
Close and rather wait for API support #6440

[2018-08-09 21:18] xingwu1 commented on #6752
Yes. We may not need it in most case.

However, we don't want to parse an arbitrary URL is main reason, other reasons:
1. We possible change endpoint format (we did once before, we are not grantee in future)
2. Be consistent with other SDKs, etc.
3. User normally uses 'az batch account login' to cache the account information, and they don't provide it at every batch commands.

[2018-08-09 22:09] squillace commented on #5275
@khenidak that looks good to be at first blush. Whatchya think?

[2018-08-09 22:14] zezha-msft opened #7012 "Blob SAS generated with CLI does not seem to work"
Please refer to [here](https://github.com/Azure/azure-storage-python/issues/485) for the details.

I validated that there's no problem in the SDK. Thanks!

[2018-08-09 22:43] elsesiy opened #7013 "Az webapp create usage error"
Hi there, following the provided documentation on `az webapp create` I'm not able to create a webapp without specifying any of:
--runtime
--deployment-container-image-name
--multicontainer-config-type TYPE
--multicontainer-config-file FILE

Running `az webapp create -g anygrouppreviouslycreated -n test -p anyplanpreviouscreated` leads to the following output:

`usage error: --runtime | --deploymen

[2018-08-09 23:02] #4520 closed

[2018-08-09 23:10] tjprescott commented on #6752
Thanks for the response @xingwu1. I'll close this since the question is answered.

[2018-08-09 23:10] #6752 closed

[2018-08-09 23:13] tjprescott commented on #5142
Presumably--it's still listed as a LiveScenarioTest in code.

[2018-08-10 01:10] stewartadam opened #7016 "Unhelpful traceback produced if peering vnet name is specified instead of resource id"
**Describe the bug**
When creating a vnet peer and specifying a vnet name instead of full resource id, an unhelpful traceback is produced. Help output is also not sufficiently clear that the input is a full path/resource ID instead of just the vnet name.

**To Reproduce**
Command:
[code]

**Actual behavior**
[code]

**Expected behavior**
Simple error noting that an invalid resource id (e.g. `/subs

[2018-08-10 05:58] MarshallKiruba opened #7017 "Issue in adding tags to azure SQL database"
While trying to add tags to the database using both portal and azure cli. For some databases tags are getting momentarily added. But after a short while the newly added tags got vanished. Please help us in this issue.

[2018-08-10 06:11] j-rat opened #7018 "generic error when trying to enable flow logs"
Enabling the flow logs via the gui works just fine.  I am using azure-cli (2.0.43) on a RHEL7.5 box
$ az network watcher flow-log configure --resource-group test-group --enabled true --retention 365 --storage-account flwea000000000000001 --nsg test-sg --debug
-------------
end of the debug file
msrest.http_logger :     'x-ms-routing-request-id': 'SOUTHCENTRALUS:20180810T060856Z:'
msrest.http_logge

[2018-08-10 07:42] nicolaibaralmueller commented on #7012
Can be closed

[2018-08-10 09:34] mjudeikis opened #7019 "az commands fail with random UID"
**Describe the bug**
Az command being executed inside a container with randomly generated uid (Openshift/Kubernetes) and fails

**To Reproduce**
Run list images in SSC run as any configuration in container:
[code]

[2018-08-10 14:15] #7012 closed

[2018-08-10 14:15] zariye commented on #6030
Is there also a possibility to do it with terraform instead?

[2018-08-10 14:18] zariye opened #7020 "Creating a Service Principal and it's values"

[2018-08-10 15:25] tjprescott commented on #7018
Hi @j-rat I just tried the command using the same parameters as you and ran into no issues. "InternalServerError" might be the result of some intermittent service issue. Is it still occurring?  If so, some questions:

1. Are your NSG and storage account all in the same resource group?  What about location?
2. Do you have network watcher enabled for the location your resources are in?  When you ena

[2018-08-10 15:27] tjprescott commented on #7020
Please re-open with details if you have an issue.

[2018-08-10 15:27] #7020 closed

[2018-08-10 15:29] tjprescott commented on #6999
@yugangw-msft you mean close this issue?

[2018-08-10 15:32] yugangw-msft commented on #6999
@tjprescott, yes, the decision is to wait for API instead of tweaking CLI further. For switching to API, we already have #6440 tracking that

[2018-08-10 15:32] #6999 closed

[2018-08-10 15:33] yugangw-msft commented on #6999
closing, thanks.

[2018-08-10 16:55] mmacy commented on #6885
I can confirm that this error is thrown if there are **no images** (and thus, no repositories) in the specified registry. Error is thrown in local install of 2.0.43 as well as Cloud Shell.

@xadag-yogarik Do you know if you had any images in your registry when this error was thrown?

Cc: @sajayantony

[2018-08-10 16:57] sajayantony commented on #6885
@yugangw-msft  - can you tag this as acr?

[2018-08-10 17:00] ehotinger commented on #7011
@bacongobbler is this a dup of https://github.com/Azure/azure-cli/issues/6408 - ping me on slack

[2018-08-10 17:01] yugangw-msft commented on #6929
@Costo, I have tried 5 times but no lucks to reproduce. If you find a repro, please share. At the same time in  PR #7023, I have updated our test suites to cover this scenario in a hope to see a repro.
For now, I don't plan to update CLI's command code till we understand the root cause.

[2018-08-10 17:04] #7011 closed

[2018-08-10 17:04] tjprescott commented on #7011
Closing dupe.

[2018-08-10 17:10] khenidak commented on #5275
are we wrapping ssh? i think user expect this to work in private (non exposed to internet) VMs

[2018-08-10 17:11] khenidak commented on #5275
@kkmsft  FYI..

[2018-08-10 17:12] squillace commented on #5622
being address in #5275

[2018-08-10 17:12] squillace commented on #5275
Also, sure seems like a dupe of #5622 to me....

[2018-08-10 17:13] squillace commented on #5275
two birds one stone!

[2018-08-10 17:15] khenidak commented on #5275
While i see ssh of value.. short cuts for connection and so on. The above request is not `scp` wrapper. User should be able to copy files from/to an Azure VM using only the cli without any configuration on the VM other than `walinux` agent. The entire process should be done via the fabric. i.e if i have `contributor` access to the VM resources (i can reset the password, right?) then i should be ab

[2018-08-10 17:16] squillace commented on #5275
agree ^^

[2018-08-10 17:17] squillace commented on #5275
I'm just wondering, rather, that #5622 _scenario_ would be largely solved by this. I don't want scp embedded here, either. Not the goal. Down/uploading easily through the fabric is the goal.

[2018-08-10 17:19] yugangw-msft commented on #5275
The implementation will not be the wrapper of SSH/SCP, and no dependencies on any external command. I chose the naming of `scp` just for better discoveries

[2018-08-10 17:29] squillace commented on #5275
That makes sense, but I'm concerned that if you do that and don't use `copy`, you'll get two things:
1. hey! This doesn't do everything scp does!
2. Hey! I just wanna copy files easily, what's the command for that? (newbies to the environment)

My guess is that copy-files or copy is best. @khenidak @kkmsft what do you think would be most obvious here? Do you think my concerns are valid?

[2018-08-10 17:35] yugangw-msft commented on #5275
For other questions, suggestions...
For the key/password, it can either come from local `~/.ssh`, command arguments,  keyvault-key, or you can run "az vm user" to reset them and pass the new one to the command.
For private vm instances inside VMSS, by default, CLI enables inbound nat rule to enable SSH protocol, so the same command should work, but we will need to test it
For #5622, I am not convi

[2018-08-10 17:47] squillace commented on #5275
For #5622, I think this MOSTLY solves the user's need.
by "through the fabric" here I mean what @khenidak refers to above in https://github.com/Azure/azure-cli/issues/5275#issuecomment-412147656: `if I have contributor access to the VM resources... I should be able to copy from/to vm." authentication/auth is run through ARM, is the way I would say it. Make sense? I'm quite sure you're doing this,

[2018-08-10 23:28] mattwoolnough commented on #5302
https://stackoverflow.com/questions/41691327/ssl-sslerror-ssl-certificate-verify-failed-certificate-verify-failed-ssl-c

[2018-08-11 13:12] lafe commented on #2324
@troydai This might be true. However, the documentation and hints jump back and forth from using the CLI tools to PowerShell. I am currently working with Docker and Kubernetes and the Docker commands in the help were in PowerShell and the Kubernetes connection is given in Azure CLI in the Azure Portal. So both tools are required and it would be great to have similar support in both tools.

[2018-08-11 16:34] JMayrbaeurl commented on #6969
Was a bug in iot extension version 0.4.0. Upgrading to 0.5.1 solved the problem

[2018-08-11 16:34] #6969 closed

[2018-08-12 00:15] profesor79 commented on #4565
any chance to get that guys?

[2018-08-12 07:17] bgklein commented on #6751
Sorry for the delay but I'll add this to the action items for Monday. Don't know what release it will be included in but seems like a nice quick documentation fix.

[2018-08-12 07:28] bgklein commented on #3633
Assign  to me if necessary...  Going to need joint investigation how other teams handle durations/if we need to parse SDK responses or if this is an issue for base SDK.

[2018-08-12 07:31] bgklein commented on #6749
Assign ownership to me if necessary. Will contact one of our team members who specialized in the AppPackage feature to see if there is a reason for this behavior, or if it would make sense to either delete activate or create a deactivate option.

[2018-08-12 07:37] bgklein commented on #6816
This will  likely require discussion within the team.  Part of the problem with exposing the complex property of user identity is that it is complex.   This forces either us to specify every parameter of a user identity or specifying this as a 'won't fix ' forcing users into using SDK's/REST for these advanced behaviors. If you are looking for an answer on an implementation decision for the CLI I

[2018-08-12 07:39] bgklein commented on #6914
This is a simple parameter level fix so I will add this to the list of my TODO's for next week

[2018-08-12 07:40] bgklein commented on #6916
Yes, I will add it this to my TODO's for the coming week, and contact our doc's liaison for a possible update for our documents to add some version of this explanation in addition to example links.

[2018-08-13 02:39] derekjc commented on #6973
I've got the same problem. In addition, I'd also like to install "azure" and "azure-cli" together. This causes a bunch of modules to get uninstalled/replaced. Post install of azure-cli, if I try a "pip3 install azure", I get:

`
  Found existing installation: azure-storage-common 1.1.0
    Uninstalling azure-storage-common-1.1.0:
      Successfully uninstalled azure-storage-common-1.1.0
  Found ex

[2018-08-13 03:10] YoshiakiOi opened #7031 "typos in az batchai cluster autoscale example"
az batchai auto-scale -g MyResourceGroup -w MyWorkspace -n MyCluster --min 0 --max 10
--&gt; az batchai cluster auto-scale -g MyResourceGroup -w MyWorkspace -n MyCluster --min 0 --max 10
* cluster is missed in the example

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d5ad5bd9-6bc2-6489-0f95-226c8d017e3b
* Version Inde

[2018-08-13 04:48] kostrse commented on #6310
Please also mention in the documentation that when uploading into the "$web" container, the $ should be escaped in bash:

[code]

[2018-08-13 16:35] jobanputra opened #7032 "Incorrect config value set"
I'm running az cli commands to add config values in a windows batch file. In general the config values set are correct, except the one listed below:
**Input**
[code]

**Output**
Notice the missing `)` and the python related message.
[code]

I am targetting V2 (snippet from .csproj listed below)
[code]
 az cli version: azure-cli (2.0.43)

[2018-08-13 17:03] lmazuel commented on #6973
`azure` and `azure-cli` are not compatible together, since they don't have the same purpose:
- `azure` is designed SDK and will install the latest packages of each service
- `azure-cli` is designed CLI/shell experience and SDK is an implementation detail, and having the latest of each SDK is not a requirement as long as each command is able to deliver the features needed.

TL;DR; developping SDK u

[2018-08-13 17:13] samkreter commented on #6985
@troydai  looks like the issue has been merged. Can we close this issue?

[2018-08-13 17:29] tjprescott commented on #5142
It used to be recorded and that is preferable because it lets us test breaking changes to the CLI interface on each PR.  Live tests won't catch a problem until after it has already been merged. It is most likely just that the subscription we use to record the tests needs some permission or whitelist. cc/ @troydai

[2018-08-13 17:47] exFalso opened #7033 "az login fails with python 3.7"
**Describe the bug**
There's a bug in the `webbrowser` module in newer python versions which affects the browser url opening when doing `az login`.

python bug report: https://bugs.python.org/msg322439

**To Reproduce**
[code]

**Expected behavior**
It should open a browser tab as usual

**Environment summary**
I'm using virtualenv for the install

[code]

**Additional context**

The bug can be wo

[2018-08-13 20:06] bgklein commented on #5142
Yea looks to be the line failing requires 'Microsoft Azure Batch' to be a contributor on the subscription.   if this cannot be granted, I can move the test cmd which is causing the failure to a separate test so the other cmds will still be tested

[2018-08-13 20:14] j-rat commented on #7018
@tjprescott hello and thank you for your response.

I have tried from my corporate environment and from an AWS EC2 instance and get the same error.

1. The NSG and the Storage Account are both in the "East US" but are in different Resource Groups.
2. I validated that I have Network Watcher enabled in the "East US" location.  When enabling the Network Watcher, I had it use the default Resource Grou

[2018-08-13 20:42] tjprescott commented on #7018
The problem is that you have the NSG and storage account in different resource groups but are specifying both by name. Thus the CLI is assuming that both resources are in `test-group` which isn't the case. If you specify the full ARM ID of the resource group, your command will succeed.

I will keep this issue open though, because the error from the service should indicate that the storage account

[2018-08-13 20:55] j-rat commented on #7018
@tjprescott thank you so much!  That solved the problem perfectly.  we greatly appreciate the help!

[2018-08-13 22:05] bgklein commented on #6749
Package activate does not serve a purpose in a pure CLI workflow as the create is handling the activate for the user, as we handle uploading to storage for convenience.   In a pure REST implementation the workflow would be create => upload to storage => activate => AppPackage ready for use, whereas the CLI is create=> ready to use.  Because of this we can likely remove activate from the CLI

[2018-08-13 22:20] sptramer opened #7035 "`az mysql server create` does not infer --location, prints stack trace"
**Describe the bug**

`az mysql server create` produces a stack trace when `--location` is missing, and additionally, does not use the resource group's location by default.

**To Reproduce**

Run any valid `az mysql server create` command without the `--location` argument, such as:

[code]

**Expected behavior**

1. No stack trace is produced, even if `--location` is required
2. `--location` shoul

[2018-08-13 22:39] tjprescott commented on #7018
No problem, @j-rat. Glad I was able to help. :)

[2018-08-13 22:41] tjprescott commented on #6749
You would probably want to keep it in case someone started the process via the rest API and wanted to finish it via the CLI.  You can add text to help to clarify this if you want. In either case, the question has been answered so I'll close this issue.

[2018-08-13 22:41] #6749 closed

[2018-08-13 22:42] yugangw-msft commented on #6995
Let us live with this still we have enough user voices. On top of Travis's comment, consistency is also a factor that we don't have other commands which would create multiple entities at one shot.

[2018-08-13 22:42] #6995 closed

[2018-08-13 22:42] yugangw-msft commented on #6447
Please reactivate with more information

[2018-08-13 22:42] #6447 closed

[2018-08-14 00:51] bgklein commented on #4870
The table format behaves as expected. The problem with JSON responses is we output the response from the Python SDK without doing any parsing.

[2018-08-14 01:44] baileymooreatx commented on #6545
I'm seeing the same behavior with a local git repository.

az webapp deployment slot create -n dev-ppf-missioncontrol-auth-update -g dev.ppf.missioncontrol --slot auth-update --configuration-source dev-ppf-missioncontrol-auth-update
ERROR: 'NoneType' object has no attribute 'location'
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 197, in invoke

[2018-08-14 07:13] #6985 closed

[2018-08-14 08:00] piizei opened #7039 "Support single human readable identifier instead of always using resourcegroup + name"
It is very tiring to always type in (or paste) both name and resource-group options to commands.

Please support concept of resource-identifier that combines both of these.

For example
az aks create -uri my-aks-rg:my-aks

[2018-08-14 13:07] choovick opened #7040 "az aks get-credentials corrupts kube config file when cluster with same name is re-created."
**Describe the bug**
If AKS cluster created, kubectl credentials obtained then cluster deleted and created again. `az aks get-credentials` will corrupt kubectl config file by creating duplicate records in config file for `clusters` and `users` lists.

**To Reproduce**
Create cluster:
[code]
Get credentials:
[code]

Test kubectl
[code]

Delete cluster:
[code]

Create cluster with same name again:
[

[2018-08-14 15:45] bgklein commented on #3633
Python SDK stores durations as timedeltas, whose toString takes the specified form. We can clean up the output by creating custom commands but this seems to be the native python representation of timedeltas

[2018-08-14 16:14] yugangw-msft commented on #7039
JFYI: most CLI command already support resource id in the show/update/delete commands, we don't do it on `create` mainly to maintain the concept that resource id represents an exist resource

[2018-08-14 17:28] tjprescott commented on #7039
This is something I've spoken with @twitchax about several times--the idea of accepting an abbreviated ID in cases where the ID structure is known (most strongly-typed commands).

[2018-08-14 17:50] yugangw-msft commented on #7039
I support `the idea of accepting an abbreviated ID `. Can we also incorporate non resource related data
 particularly the keyvault secret reference, say `az vm create --name myWin10VM --admin-password my-vault:mysecret...`?

[2018-08-14 17:56] tjprescott commented on #7039
That could be a little more complex, and would be a separate feature. For the abbreviated IDs we'd just expand them into the fully qualified ID.  For keyvault secrets, it would be more complex (but a good idea)

[2018-08-14 18:02] yugangw-msft opened #7041 "show command can open a portal blade when running inside cloud shell"
Per ask from cloud shell team @yangl900
This is for better user experience in cloud shell, that after a user creates a resource, it is not trivial for them to find it through portal. The whole process starts from filter for the right subscription, find the resource group, and open the resource.
What I have in mind is CLI would detect running inside cloud shell, expose a global flag say `--portal`

[2018-08-14 20:06] fepere commented on #5339
anyone get figure out this issue ?

I got this error now:
Expecting value: line 1 column 1 (char 0)
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 197, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/azure/cli/core/commands/__init__.py", line 366, in execute
    cmd.exception_handler(ex)
  File

[2018-08-14 20:50] troydai commented on #6973
We're in the process of updating dependencies of CLI SDKs to clear these incompatibilities. In reality, these incompatibilities won't impact CLI function. As Laurent mentioned, the `azure-cli` is not intended to be used as an SDK. It is an application. If there is part of its function is useful to you, please open issue to suggest extract them into independent module.

[2018-08-14 21:02] tjprescott commented on #4568
Closing this since the command is deprecated and hidden.

[2018-08-14 21:02] #4568 closed

[2018-08-14 22:02] ccrownhart opened #7045 "Empty list returned for monitor alert list"
I am getting a empty list returned when running:
az login
az account set --subscription "my subscription"
az monitor alert list --resource-group "my resource group"

If I login to Azure Portal with the same credentials, I can go to Monitor -> Alerts -> Total Alert Rules (on top right) -> Filter by subscription and resource group, and I see 45 enabled alerts.

Why can I not get the same list back r

[2018-08-14 23:27] rohrerb opened #7047 "az storage endpoint not available in AzureGovernment"
**Describe the bug**
Error that endpoint is not valid when listing storage accounts.

**To Reproduce**
1. switch to azure government
`az cloud set --name AzureUSGovernment`

2. Run az storage list
`az storage account list --query "[?contains(name,'xwz')].name" --output tsv`

**Expected behavior**
No Error and result be returned.

**Environment summary**
azure-cli (2.0.44)

**Additional context**

[2018-08-15 00:58] adamleko opened #7048 "az keyvault recover does not work"
**Describe the bug**
The `az keyvault recover` command does not work. Even though a keyvault is listed in `az keyvault list-deleted`, the `recover` command fails with `The Resource 'Microsoft.KeyVault/vaults/${keyvaultname}' not found within subscription.`

This appears to be a misapplication of the `validate_resource_group_name` function in `command_modules/keyvault/_validators.py`.

**To Reprodu

[2018-08-15 04:57] ernstae commented on #7047
Version 2.0.43 were making the requests with API version 2017-1001 via `?api-version=2017-10-01` whereas the latest update 2.0.44 switches that to ```/providers/Microsoft.Storage/storageAccounts?api-version=2018-03-01-preview```

[2018-08-15 05:32] ernstae commented on #7047
This seems to be the breaking commit:  e55b849c3342fdf8fe4a3958ea86aea315a25bbd

[2018-08-15 08:16] Evit15 opened #7050 "How to pass parameter to Artifact file?"
Hi,

I need write 1 artifact file to apply for many machines.
Now I must hard code value of parameter in artifact file.
Do you can pass parameter to Artifact file?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: ef5457fd-c38a-6fb8-1df4-24a15e6ba787
* Version Independent ID: ef65acdc-464a-08c7-b013-d9e3f1560977
* Content

[2018-08-15 09:22] harryzsh opened #7051 "azureProfile.json got corrupt and shown empty"
**Describe the bug**
azureProfile.json recently in the test environment got corrupted and contains nothing inside. This will lead none of the az command work and the following exception will be thrown

[code]
The way to fix it is to delete the .azure folder in the user folder so the .azure folder will be re-created during az command execution but it would be better if RCA of why the azureProfile.j

[2018-08-15 13:29] maltefiala opened #7052 "Camel case error makes starting endpoints impossible"
[code]

Camel casing of "streaming[Ee]ndpoints" seems to render starting the same impossible using az cli.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 7e88a2a0-c64c-6df9-cf19-a63981c73f4b
* Version Independent ID: 5cf0b5e5-2b36-d757-f1b0-8ca62427c9bb
* Content: [az ams streaming endpoint](https://docs.microsoft.com/

[2018-08-15 14:54] mjudeikis commented on #7019
@tjprescott what is a priority on this? By any chance you know any workaround for this (anything what would not need me to start creating users in CI/CD containers)

[2018-08-15 16:06] edouardpoitras opened #7053 "Better error message with OAuthExceptions"
**Describe the bug**

With VSTS 2 Factor Authentication enabled, the following command:

    az functionapp deployment source config --name <name> --resource-group <rg> --repo-url <VSTS-repo-url> --branch <branch> --repository-type vsts

Results is an error message such as:

    Deployment failed. Correlation ID: 6d76ad4a-a6ce-413d-95fc-a210376c4ad7. Operation failed with status: 200. Details: Res

[2018-08-15 16:47] #4565 closed

[2018-08-15 16:49] tjprescott commented on #7019
@yugangw-msft can you take a look?

[2018-08-15 16:49] yugangw-msft commented on #6884
This is fixed through #7038. Once released, you will be able to do it through commands like `az webapp cors add -g mygroup -n web --allowed-origins http://foobar.com`

[2018-08-15 16:49] #6884 closed

[2018-08-15 16:55] yugangw-msft commented on #6545
@baileymooreatx, can you please double check whether or not the site of `dev-ppf-missioncontrol-auth-update` exists by running `az webapp show -n dev-ppf-missioncontrol-auth-update -g dev.ppf.missioncontrol `?. JFYI, the latest CLI release out yesterday will emit out an explicit error saying the app doesn't exist instead of crashing.

[2018-08-15 17:00] yugangw-msft commented on #7019
it is because user is not found /etc/passwd database which aligns with the context of `inside a container with randomly generated uid`, i will capture this case and avoid the crash

[2018-08-15 17:17] tjprescott commented on #7047
@williexu please take a look

[2018-08-15 17:34] mjudeikis commented on #7019
@yugangw-msft I understand if you need a user for lets to say VM creation metadata or something. But any read operation should not fail.

[2018-08-15 17:34] dcaro opened #7054 "Azure password not working if password starts or contains "-""
**Describe the bug**
When authenticating using az login -u <username> -p <password>, the authentication fails if the password is using a "-".

If the  "-" is at the beginning, the following error is returned:
az login: error: argument --password/-p: expected one argument

If the "-" is in the middle, the following error is returned:
Get Token request returned http error: 400 and server response: {

[2018-08-15 17:40] mmacy opened #7055 "[ACR] Can't delete image after deleting signature for signed tag"
**Describe the bug**

After revoking a signature for a signed tag with `docker trust revoke`, attempting to delete the image with `az acr repository delete` results in **Error: manifest unknown**:

[code]

**To Reproduce**

1. Enable **Content trust** for your registry
1. Grant your user or service principal `AcrImageSigner` and `Contributor` permissions to your registry
1. `docker login` using yo

[2018-08-15 18:09] #7055 closed

[2018-08-15 18:14] mmacy commented on #7055
Closed due to figuring out the issue. Do not specify the full image name (including server) for the `az acr repository delete` command--specify only the _repository:tag_ value:

`az acr repository delete --image revokeme:v1`

[2018-08-15 18:31] tjprescott commented on #7054
@yugangw-msft

I would start with:
https://www.gnu.org/software/bash/manual/html_node/Double-Quotes.html

[2018-08-15 18:32] tjprescott commented on #7054
Also, what shell are you using?

[2018-08-15 18:59] mmacy opened #7058 "az role assignment list: bad error if the --assignee has invalid input"
**Describe the bug**

Issuing `az role assignment list --assignee` on a resource yields the following error:

[code]

**To Reproduce**

1. Obtain the full resource ID of a resource in your subscription
1. Execute `az role assignment list --assignee YOUR_RESOURCE_ID` to pull the assigned roles for the resource

Example:

[code]

**Expected behavior**

The roles assigned to the resource should be re

[2018-08-15 19:19] dcaro commented on #7054
This is on bash on ubuntu 16.04 LTS.

[2018-08-15 19:34] xingwu1 commented on #4620
@xpillons could you send me full json if possible?

I try my json and it works as expected:

[code]

[2018-08-15 19:47] yugangw-msft commented on #7054
works for me in bash on ubuntu 16.04
[code]
Is the dash a unicode in the password?

[2018-08-15 19:49] yugangw-msft commented on #7054
You can also capture the trace on the wire and see whether the password got sent to the service end w/o modifications

[2018-08-15 20:00] yugangw-msft commented on #7058
`--assignee` is supposed to be an identity say a user, service principal, etc. Resource id will not be valid.
I will submit a PR to make the error better w/o stack traces, but you still need to put in the right value

[2018-08-15 20:32] dcaro commented on #7054
I'm not using service principal, just username and password.
The password is a string that would look like: "-a1b2c3d4"

[2018-08-15 20:39] yugangw-msft commented on #7054
Using service principal or not doesn't matter from command parser's aspect as both flows share the same argument.
You do need to wrap -a1b2c3d4 with single quote as the leading `-` will confuse the parser to think `-a` is a flag.
To get me to the same page if you wrap the password with quote, does it work now? if not, can you please check out the trace on the wire and see whether the right passwor

[2018-08-15 20:51] billpratt opened #7059 "Azure Disk Encryption managed data disks display null for encryptionSettings property"
**Describe the bug**
**encryptionSettings** value null for managed disks attached to a VM as data disks and that have Azure Disk Encryption enabled

Example of ```az disk list``` with some irrelevant fields removed
[code]

**To Reproduce**
* Run ```az vm encryption enable``` on a VM that has data disks attached. After encryption is enabled for all disks, run ```az disk list```. **encryptionSetting

[2018-08-15 21:15] anzaman opened #7060 "OpenVPN protocol support for VPN Gateways"
Need to add OpenVPN as an option for -VpnClientProtocol  parameter.  Swagger is at https://github.com/Azure/azure-rest-api-specs/blob/master/specification/network/resource-manager/Microsoft.Network/stable/2018-04-01/virtualNetworkGateway.json

[2018-08-15 21:18] mmacy commented on #7058
@yugangw-msft Ah, of course. You know, think I actually knew that at one point, and had since forgotten. Thanks!

[2018-08-15 21:28] ernstae commented on #7047
@williexu - I've already downgraded (`brew switch azure-cli 2.0.43` for those landing on this issue and using homebrew on mac)

[2018-08-15 21:43] yugangw-msft commented on #7059
what you get if you run `az vm encryption show`?

[2018-08-15 22:45] paulpal1 commented on #4897
I would also like this feature.

[2018-08-15 23:34] #7051 closed

[2018-08-16 00:12] annatisch commented on #4620
@xingwu1 - This issue is quite old, from before the knack conversion - so quite possibly no longer an issue. From what I can see, the only client-side validation we do for pool settings is not applied if a json file is used, as opposed to individual parameters:
https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-batch/azure/cli/command_modules/batch/_validators.py#L236

We si

[2018-08-16 00:39] adewaleo commented on #6674
This was fixed in https://github.com/Azure/azure-cli/pull/6675. Closing this.

[2018-08-16 00:39] #6674 closed

[2018-08-16 03:00] bgklein commented on #6816
After discussing with the team, we don't plan on adding this parameter.  The pool is one of the more complex objects in Batch and we need to avoid expanding every one of its sub-properties and their sub-sub-properties to maintain ease of use for the cli.  If you need this behavior, the json-file option allows you to specify the full pool body

[2018-08-16 14:07] dbuhtiyarov opened #7064 "Creation of service-principal returns Insufficient privileges error"
**Describe the bug**
New service-principal couldn't be created, when az login launched other with service-principal (like az login --service-principal -u ...), and fails with "Insufficient privileges to complete the operation". The original SP has "owner" role. Az login with personal account works fine, and i'm able to create service-principal with no issues

**To Reproduce**
az login --service-pr

[2018-08-16 14:28] bgklein commented on #6816
The team has designated this as a wont fix.  Due to the complexity of the pool object we cannot list out all  parameters and keep the cli a friendly user experience. Seeing as this property  If you need the specified behavior the suggested route is to use the json-file option to specify the full REST API backed object

[2018-08-16 14:34] #6816 closed

[2018-08-16 15:01] twendt commented on #5492
Will this be added some time soon?

[2018-08-16 16:50] #7019 closed

[2018-08-16 16:52] mjudeikis commented on #7019
@yugangw-msft  whats next? It got merged to Dev branch, what is your release cycle?  (deciding if I should build myself or wait for RPM)

[2018-08-16 16:55] tjprescott commented on #7019
https://github.com/Azure/azure-cli/milestones
The next release date is 8/28

[2018-08-16 17:04] #7031 closed

[2018-08-16 17:34] zwswim opened #7065 "az network watcher flow-log configure/show does not work as expected by passing in NSG ID"
**Describe the bug**
A clear and concise description of what the bug is.
By passing nsg ID, the following command returns error:  The Resource 'Microsoft.**Network**/networkSecurityGroups/classicnsgWestCEUAP_wezheng' under resource group 'juzEastUS2EUAPAG' was not found

In the error returned, the resource provider is Microsoft.Network, which is different from the one, "Microsoft.ClassicNetwork",

[2018-08-16 17:40] tjprescott commented on #7065
As far as needing to pass --subscription, that is definitely a bug. CLI 2.0 doesn't support classic resources, but I'll see if there's a quick fix to make that work.

[2018-08-16 17:41] zwswim opened #7066 "support classic nsg for az network watcher flow-log configure & show"
**Is your feature request related to a problem? Please describe.**
Currently, classic resources are not supported in Azure CLI 2.0.  Currently, Azure Network Watcher is trying to launch the feature to "enable flowlog for classic nsg " in Ignite and having CLI support would be desirable.

**Describe the solution you'd like**
1. if the NSG name is passed in, a new parameter to indicate which the NSG

[2018-08-16 17:45] irrogozh opened #7067 "az network watcher connection-monitor query (need to add option to query list of connection monitors)"
**Is your feature request related to a problem? Please describe.**
Before now we had cmdlet which allow to query snapshot of specified connection monitor:
az network watcher connection-monitor query --location --name

We added another API which allow to query list or all connection monitors in the region.
Here is rest API spec: https://github.com/Azure/azure-rest-api-specs/blob/master/specificatio

[2018-08-16 17:49] tjprescott commented on #7066
If we are able to support this, we would only allow Classic NSG to be supported via ID. The main technical question is whether we can retrieve the classic NSG to retrieve its location given there is 0 Python SDK support for Classic Azure resources.

[2018-08-16 17:59] irrogozh opened #7068 "Need new cmdlet for NetworkWatcherNetworkConfigurationDiagnostic API"
**Is your feature request related to a problem? Please describe.**
We need a cmdlet for the new API. NetworkConfigurationDiagnostic API allows customer to get an information on if traffic is allowed or denied for configured filters. Each filter consists of direction, protocol, source, destination and sourcePort and destinationPort.

Here is rest API spec: https://github.com/Azure/azure-rest-api-sp

[2018-08-16 18:25] hejix opened #7069 "az vm start command with --ids parameter executes serially"
**Describe the bug**
When using the az vm start and stop command with --ids parameter, machines are started or stopped serially.

For instance a cluster of 12 vms, the example from docs
     https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-start
`az vm start --ids $(az vm list -g MyResourceGroup --query "[].id" -o tsv)
`
takes 17+ minutes to execute.  Activity log indicate

[2018-08-16 18:33] edouardpoitras commented on #7053
Looks like this is an issue even if I use the Portal UI solely. I suppose the ticket now is more about displaying a more appropriate error message.

[2018-08-16 19:07] apjanke commented on #7054
I don't think this is correct: on Unix, as opposed to Windows, quotes are interpreted by the shell, and are only needed if there are *shell* special characters that need escaping. `-` is not a shell special character. The `az` Python program will never see the quotes or know if they are there.

I can reproduce the leading-dash "expected one argument" behavior on macOS 10.13.6 with `azure-cli (2.0.

[2018-08-16 20:53] yugangw-msft commented on #7054
@apjanke, I think your analysis is right. I didn't tried out the password with leading dash, nor did I question argparse's behavior. Thanks.

[2018-08-16 21:39] yugangw-msft commented on #7069
It is by design right now as the core layer just loops around the id array and invoke the same command one after one.
Agreed we should improve it by going parallel.

[2018-08-16 21:41] yugangw-msft commented on #7068
//cc @tjprescott

[2018-08-16 21:52] yugangw-msft commented on #7064
You will need to give the new service principal some graph permissions and consent it. Check out the steps [here](https://github.com/Azure/azure-sdk-for-node/issues/2363#issuecomment-354897064). The owner role is applicable on azure resource manager service, but the error is from the graph service which is a different service.

[2018-08-16 21:52] #7064 closed

[2018-08-16 21:58] apjanke opened #7071 ""az acs kubernetes get-credentials" raises "PasswordRequiredException" after "aks get-credentials""
**Describe the bug**

I'm working through the examples in the O'Reilly book "Kubernetes: Up and Running".

I created a cluster using `az aks create`, and got its credentials using `az aks get-credentials`. Then I created a different cluster using `az acs create`, and did an `az acs kubernetes get-credentials` to switch to that cluster. It threw an exception and displayed a stack trace, complaining

[2018-08-16 22:07] apjanke commented on #7071
This might be a variant of https://github.com/Azure/azure-cli/issues/5080; I'm not sure, since the stack traces are different.

[2018-08-16 22:32] tjprescott commented on #7067
Closed at @irrogozh request

[2018-08-16 22:32] #7067 closed

[2018-08-16 23:06] ahmelsayed opened #7072 "Attempt error reporting for zip file uploads"
_From @cfjedimaster on August 3, 2018 18:19_

While using zip uploads

    az functionapp deployment source config-zip -g myResourceGroup -n <app_name> --src <zip_file_path>

I noticed an odd issue. The first time I tried it, I zipped it from a parent directory. So if foo was the folder with my function app, I zipped from the parent foo. This created a zip file where the *root* was a foo folder an

[2018-08-16 23:06] ahmelsayed commented on #7072
/cc @panchagnula @ahmedelnably

[2018-08-16 23:16] hejix commented on #7069
Thanks for the clarification. It would be helpful if the documentation outlined ways to make this scalable.   Since we are using ansible, we will probably launch ansible async tasks for now as a workaround.

[2018-08-16 23:49] #6637 closed

[2018-08-16 23:58] christiankuhtz commented on #6931
Outbound rules are a new child resource in Standard Load Balancer which provides control over outbound network translations.  Load Balancer uses port masquerading SNAT to facilitate outbound connections.  https://aka.ms/lboutbound provides background on how these functions haved worked up til now.  Outbound rules provides explicit controls over which IP addresses are used for outbound, how SNAT po

[2018-08-17 00:00] christiankuhtz commented on #6931
@khannarhea fyi

[2018-08-17 00:08] christiankuhtz commented on #6931
Swagger spec for LB: https://github.com/Azure/azure-rest-api-specs/blob/Network-August-Release/specification/network/resource-manager/Microsoft.Network/stable/2018-07-01/loadBalancer.json

[2018-08-17 00:18] panchagnula commented on #7072
this specific command takes the zip file provided as input & passes it to the scm zip deployment API, i am not sure what sort of validation is being expected here for the CL command. @ahmelsayed , are there any suggestions here on some pre-validation that can be done - especially if the zip deployment API isn't returning an error.

[2018-08-17 01:08] williexu commented on #6621
@yxiang92128  Your connection string does not look like a connection string. Where did you get yours?

[2018-08-17 01:09] williexu commented on #6606
Closing this, please comment if you still see problems with the latest version.

[2018-08-17 01:09] #6606 closed

[2018-08-17 01:41] apjanke opened #7074 "Minor output issues when `az aks create` exceeds quota"
**Describe the bug**

Here's what the output of a failed `az aks create` due to quota violation looks like to me:

[code]

Two issues:
* There's an extra period after "Please read more about quota increase at http://aka.ms/corequotaincrease."
* There's no details after "Details:".

**To Reproduce**

Log in to an account with a vCPU quota of 10 in US West. Foolishly try to create a cluster with a m

[2018-08-17 02:47] kungpaolam opened #7075 "'az storage account keys list` fails in AzureUSGovernment after upgrade to azure-cli 2.0.44"
**Describe the bug**
it appears that azure-cli has been updated ~2 days ago. previously we were using 2.0.43. since the update, some commands were failing.  specifically, i was trying to run `az storage account keys list` in usgovvirginia (i.e. AzureUSGovernment).  now when i run some commands, i get the following error message:
```No registered resource provider found for location 'usgovvirginia'

[2018-08-17 03:56] bureado commented on #3720
I use `azure-cli` on `testing`. I normally reference `xenial` in my `sources.list` but as `testing` evolved I eventually ran into this issue. For those of us running `testing` or above, it's going to be really hard to rely on debs until a snap is available. In the meantime, I just go the `pip` way here:

    sudo apt install python3 libffi6 libssl1.1 -y
    sudo pip3 install azure-cli
    sudo sed

[2018-08-17 06:43] apjanke opened #7077 "Weird kubectl output after `az aks get-credentials`"
**Describe the bug**

I've been going back and forth between Azure and Google Kubernetes Engine creating and destroying k8s clusters tonight, so I don't know whose "fault" this is. But after creating an instance with `az` and getting the credentials, kubectl is spewing some weird data conversion nonsense at me.

[code]

Does  anyone know what might be causing this?

The `gke_kuar-test2_us-west1-a_

[2018-08-17 07:35] karataliu opened #7078 "'expiresOn' in accessTokens.json should be UTC time"
**Describe the bug**
expiresOn in accessTokens.json should be UTC

**To Reproduce**
1. az login
2. switch timezone
3. az login

The expiresOn property is based on current timezone.

Found related issue:
https://github.com/Azure/azure-cli/issues/5922

**Expected behavior**
The expiresOn should be UTC timezone to keep consistency

**Environment summary**
$ az --version
azure-cli (2.0.42)

**Addition

[2018-08-17 14:42] PeterRockstars opened #7079 "az cosmosdb create fails with 'too many 502 error responses'"
**Describe the bug**
When running az cosmosdb create, the command fails with 'too many 502 error responses' message.

**To Reproduce**
Run
[code]

**Expected behavior**
The Cosmos DB instance is created without errors.

**Environment summary**
azure cli run Powershell window on Windows 10 Pro

az --version:

**Additional context**
Full error message:

Error occurred in request., RetryError: HTTPSC

[2018-08-17 15:48] tjprescott commented on #7009
PR merged

[2018-08-17 15:48] #7009 closed

[2018-08-17 15:49] tjprescott commented on #5951
PR merged.

[2018-08-17 15:49] #5951 closed

[2018-08-17 16:53] troydai commented on #7078
@yugangw-msft

[2018-08-17 17:07] yugangw-msft commented on #7078
This piece of information comes from ADAL which has been like this for a while. Because you have the refresh token, even the token gets expired prematurely per timezone change, but CLI can still acquire a new token for you.
What end user scenarios are impacted by this?

[2018-08-17 17:28] tjprescott commented on #7075
Duplication of #7047.

[2018-08-17 17:28] #7075 closed

[2018-08-17 17:29] tjprescott commented on #7075
cc/ @williexu

[2018-08-17 17:34] williexu commented on #7075
@kungpaolam please use v2.0.43 for now.
The new api-versions will be deployed in USGovtCloud in the near future.

[2018-08-17 18:42] northtyphoon opened #7084 "az acr build should exclude .git folder"
**Describe the bug**
If the source code folder has the vcs folders eg `.git` or `.bzr` , az acr build should exclude the files from the folders in the uploaded tar file.

**To Reproduce**
Source code folder structure:
.git
 | -- file1
Dockerfile

az acr build -t <registry> <source_code_folder>

**Expected behavior**
The uploaded tar file should exlude `.git` folder. The tar file should only have `

[2018-08-17 18:48] sajayantony commented on #7084
How does this impact users. The default might be good. But if they have a task that does a git checkout then does this fail?

[2018-08-17 19:12] jleach opened #7085 "Message retention is not available with Basic tier but"
It would be handy to point out in the documentation that `--message-retention` is not available with a Basic tier namespace. The CLI does let you set the value to 1 which must be the default and a bit confusing; The error message thrown by the the CLI is not really helpful when this scenario is encountered.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.

[2018-08-17 19:16] jleach commented on #6676
So here is the problem: If you have a Basic tier namespace then ` --message-retention` is not applicable, however, you can't leave the parameter blank in the CLI command. You must set it to ` --message-retention 1` for the create command to work. You can leave the `--partition-count` parameter empty. Also, the error message is not helpful.

Tested with azure-cli (2.0.43).

[2018-08-17 19:18] jleach opened #7086 "Message Retention with Basic Tier"
Hey,

The problem noted in issue https://github.com/Azure/azure-cli/issues/6676 is that with a Basic Tier you *must* include the option `--message-retention 1` in order for the create command to work. I think this makes it a *required* parameter under some circumstances.

I think the best thing to do is for the CLI or Azure to set a default for the parameter if the tier is `Basic` but a note in th

[2018-08-17 20:35] troydai opened #7089 "Move azure.cli.core.commands.parameters.get_enum_type into Knack"
https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-redis/azure/cli/command_modules/redis/_params.py#L12

[2018-08-17 21:25] stewartadam commented on #7016
Given the majority of other CLI commands use RG/Name pair to specify a resource and every other parameter for *this* command uses name, my issue was just that it was not consistent with other params and very easy to miss. Simply including `Resource ID of the remote VNet (e.g. '/subscriptions/...') would make this abundantly clear.

[2018-08-17 22:19] yugangw-msft commented on #6931
@christiankuhtz or @anavinahar, can one of you talk a bit about when the public ip prefixes would be used? A bit naive, but is that just for easier to author rules?

[2018-08-18 05:15] payalgaikwad42 commented on #5162
i have tried to install azure ml module using this command: pip install -r https://aka.ms/az-ml-o16n-cli-requirements-file. but i am still getting errors:
Error loading command module 'ml'
Error loading command module 'sf'
Error loading command module 'vm'
az: error: argument _command_package: invalid choice: ml

[2018-08-18 05:51] poul-kg opened #7092 "az bot show - No module named '_cffi_backend'"
**Describe the bug**
* I have an error while running `az bot show` command on MacOS

[code]

**To Reproduce**
* `brew update && brew install azure-cli`
* `az login`
* `az extension add -n botservice` - it gives me `The installed extension 'botservice' is in preview.`
* `az bot show`

**Expected behavior**
* there should be no error, and I should see my bots, or what should be there?

**Environment

[2018-08-18 06:24] smartpcr opened #7093 "az login with service principal and cert don't work on mac"
The same cert that works on PC won't work on mac. Below is the script I used to download pfx file from keyvault and convert to private key to be used to login.

# 1. create certificate in keyvault and use it for service principal
[code]
# 2. download certificate
[code]
# 3. convert pfx to private key
[code]
# 4. login
[code]
Here is the error I get on mac (it works on PC):
Get Token request return

[2018-08-18 10:35] bingosummer opened #7094 "Failed to login US Gov with a service principal in a VM in global Azure"
**Describe the bug**

When I login US Gov with a service principal in a VM in global Azure, I got the error:
[code]
When I login US Gov with a service principal in a VM in Azure US Gov. It works.
I think, it's an expected behavior. Can you please confirm it?
However, I didn't find an official document to describe this error in Azure doc.

**Environment summary**
Install Method (apt-get) / CLI vers

[2018-08-18 14:50] syedhassaanahmed commented on #4419
Still happening in Azure CLI 2.0.44

[2018-08-19 00:41] hectoralicea opened #7095 "unable to choose the -https' --protocol option for the az network lb probe create"
**Describe the bug**
unable to use the https protocol for the az network lb probe create

**To Reproduce**
invoke az network lb probe create on an LB that's already been created using the --sku Standard  option.

**Expected behavior**
I should be able to create probe that probes on an https URL rather than an http.

**Environment summary**
On Mac or Linux, same result.

**Additional context**
CLI

[2018-08-19 04:31] dcaro commented on #7054
@apjanke this is indeed the bug that we are hitting in the az cli. Apparently AWS had the same issue since 2015 https://github.com/aws/aws-cli/issues/1135
@yugangw-msft the workaround is to use the long parameter set following this syntax:
az login --username=$azureUserName --password=$azurePassword

[2018-08-19 12:57] kbroughton commented on #4885
I'm going to add on to this bug report / improvement as it seems highly related.
I get this result when using --start-time from over 3 months ago presumeably because activity logging retention is set to 3 months I my request was 3 months + delta.
If i change the request to just under 3 months, it works.

$ az monitor activity-log list --resource-group azsanner_vm_rg --start-time 2018-05-20T16:06:2

[2018-08-19 18:11] ehotinger opened #7096 "[ACR] az acr build times out quicker than expected in some clients"
**Describe the bug**

`az acr build` does a server-side and client-side check to determine when the client should stop polling for logs. IE: if UTC server write time - client's current time >= 30 min and there's no logs, stop polling. Sometimes clients' clocks aren't synchronized and this can cause the client to immediately stop polling for additional logs, which is an unfriendly user experience.

[2018-08-19 18:14] ehotinger commented on #7084
@sajayantony they can use git context directly for that case instead of using `az acr build .` - valid concern though.

[2018-08-20 02:38] karataliu commented on #7078
I found this in testing scenario, the same token acquired would not be used in another machine in different timezone.

 `the token gets expired prematurely per timezone change, but CLI can still acquire a new token`
Yes, I'm suggesting it is something we might improve to save one call for refresh token.

Another point is, if you keep timestamp string somewhere without zone information, people may

[2018-08-20 08:36] smartpcr commented on #7093
my mistake, was using path separator "\" on mac, and loaded different cert file.

[2018-08-20 08:36] #7093 closed

[2018-08-20 12:31] omichels commented on #1943
as of 08/20/2018 this issue still occurs.

# az vm create --resource-group myResourceGroup --name myVM --image UbuntuLTS --generate-ssh-keys
This user name 'root' meets the general requirements, but is specifically disallowed for this image. Please try a different value.

bash-4.4# adduser user
bash-4.4# su - user
$ az vm create --resource-group myResourceGroup --name myVM --image UbuntuLTS --gene

[2018-08-20 14:21] omichels opened #7097 "az vm create fails when user account name is too short"
When running az vm create without specifying an admin-username and having a login name that is 'root' (I'm guessing anything 5 letters or less), your vm deployment fails.

how to reproduce:

az vm create --resource-group myResourceGroup --name myVM --image UbuntuLTS --generate-ssh-keys
This user name 'root' meets the general requirements, but is specifically disallowed for this image. Please try a

[2018-08-20 15:17] #7084 closed

[2018-08-20 16:28] tjprescott commented on #7097
As the error messages state, `root` and `user` are specifically blacklisted for admin-username. It isn't because they are too short. This is a service-imposed restriction and there is nothing the CLI can do to make these blacklisted names usable.

[2018-08-20 16:28] #7097 closed

[2018-08-20 16:32] tjprescott commented on #7092
`Tried az command previously 2-3 times, it never works on mac :(`

Do you mean no commands work on your Mac, or just the bot service commands?

[2018-08-20 16:36] tjprescott commented on #7094
@sauryadas can you respond? @yugangw-msft is OOF for a couple weeks.

[2018-08-20 16:42] tjprescott commented on #6815
Private extension has been delivered. Extension will be made public at Ignite.

[2018-08-20 16:42] #6815 closed

[2018-08-20 16:49] #7054 closed

[2018-08-20 16:55] jobanputra commented on #7032
Checking in to see if you were able to repro this issue?

[2018-08-20 17:13] asasine opened #7098 "Add unqouted/raw strings to the JMESPath query"
**Problem**
I've been using the `--query` parameter recently to automatically retrieve access keys and other information for my cache instances. I find it better then using a package like jq or python as it requires less dependencies. I load those into a variable to easily pass to other commands e.g. redis-cli.
[code]
Unfortunately, the query parameter prints quoted strings and doesn't have an opt

[2018-08-20 17:26] tjprescott commented on #7098
Thanks for the feedback @asasine!  We'll consider this for future enhancement. @williexu this might be an interesting one for Tosin to look at.

[2018-08-20 17:36] tjprescott commented on #7032
@panchagnula for comment

[2018-08-20 17:47] tjprescott commented on #7095
I am not able to reproduce this. When I run your command on a standard LB it works without issue.

[2018-08-20 17:50] djyou commented on #6885
This has been fixed in https://github.com/Azure/azure-cli/pull/6980

[2018-08-20 17:52] tjprescott commented on #6885
Thanks @djyou

[2018-08-20 17:52] #6885 closed

[2018-08-20 18:11] panchagnula commented on #7032
@ahmelsayed did the default runtime version for Function app change or need to be updated?

[2018-08-20 18:46] tjprescott commented on #7095
Glad it's working for you!

[2018-08-20 18:46] #7095 closed

[2018-08-20 19:40] keithdoyle9 opened #7102 "Private repos"
Just had a conversation with a Support Engineer only to find out that this doesn't support private repos. Can you add that to the documentation for future folks who might run into the same issue? We're running Github Enterprise right now and spent a few days trying to get this to work.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue lin

[2018-08-20 19:54] #6494 closed

[2018-08-20 20:20] ehotinger commented on #7102
This should support private repositories. If it doesn't then it's a bug. Can you try passing in the build context as `https://PAT@github.com/abc/f.git` where PAT is your personal access token?

/cc @mnltejaswini @ankurkhemani @northtyphoon

[2018-08-20 20:26] williexu commented on #7098
@adewaleo please take a look

[2018-08-20 20:34] sajayantony commented on #7102
@keithdoyle9 - Eric's solution is one way but if you just want to automate this -
https://docs.microsoft.com/en-us/azure/container-registry/container-registry-tutorial-build-task#create-a-github-personal-access-token

[2018-08-20 20:37] keithdoyle9 commented on #7102
We're actually using GitHub Enterprise that's hosted in our own data
center, not at GitHub.com.

On Mon, Aug 20, 2018, 4:20 PM Eric Hotinger <notifications@github.com>
wrote:

[2018-08-20 20:41] ehotinger commented on #7102
@keithdoyle9  I see, it's possible this isn't supported from the front-end right now in that case. Can you give us an example of the URL you're trying to use - i.e. if you were to use `docker build` with that remote git url, what would it look like?

[2018-08-20 20:46] keithdoyle9 commented on #7102
https://github.example.com/Marketing/docker

Marketing would be the organization in our GitHub.

On Mon, Aug 20, 2018, 4:41 PM Eric Hotinger <notifications@github.com>
wrote:

[2018-08-20 21:09] ahmelsayed commented on #7032
I think the bug report is about

[code]

resulting in an app setting

[code]

`GetDisabledJobs(` vs `GetDisabledJobs()`

looks to me like an issue with the `az.cmd` command

[code]

Where `%*` is getting expanded and causing the `)` at the end of the command to be interrupted as a closing for the IF statement?

**Workaround:**

[code]

[2018-08-20 21:11] ahmelsayed commented on #7032
btw, from a `cmd.exe` window try

[code]

[2018-08-20 21:25] adewaleo commented on #7098
I'll look into this. Just to confirm, @asasine  you would like:
1. Support for query outputs to be printed as raw strings.
2. A fix of / look into the tsv bug where tsv outputs seem to be dropping data?

[2018-08-20 21:26] SteveLasker commented on #7102
Thanks Keith,
We haven’t yet tested on-prem GitHub enterprise
In the on-prem scenarios, does adding .git work to the conte t?

[2018-08-20 21:39] adewaleo commented on #6052
@Trepliev , @averhaegen . What command resulted in this error?

[2018-08-20 21:57] adewaleo commented on #4276
@nneul, az does allow for updating the TTL for a dns record set (but not for an individual record).

`az network dns record-set a update --resource-group myresourcegroup --zone-name contoso.com --name www --set ttl=60`

Please see this [page](https://docs.microsoft.com/en-us/azure/dns/dns-operations-recordsets-cli#to-modify-the-ttl-of-an-existing-record-set) for more information.

[2018-08-20 22:06] christiankuhtz commented on #6931
public ip prefix is a means to reserve a CIDR prefix of a specific length. the reservation of this range guarantees a sequential set of addresses.  This in turn makes a number of things easier.  Rather than having a random set of public IP's, customers can describe the destination or source of their traffic with a single prefix.  So, if your deployment has a need for 64 IP's, you can whitelist the

[2018-08-20 22:06] adewaleo commented on #4276
I will go ahead and close this issue. I will also make sure to bring up the  `az supportinfo` command to the team.

[2018-08-20 22:06] #4276 closed

[2018-08-20 22:20] tjprescott commented on #7032
Yes, you should quote the setting. Since this is a quoting/escaping issue, I'm going to close this.

[2018-08-20 22:20] #7032 closed

[2018-08-21 00:06] asasine commented on #7098
1. This is correct. Raw, unquoted string output is my priority. `jp` (the JMESPath cli) only supports raw, unquoted string when the output is a string (and not JSON). This seems like a fair constraint as more complex JSON could otherwise become ambiguous without the quotes around strings.
2. Not my priority, just noticed the bug while investigating workaround for raw strings. I presume it drops da

[2018-08-21 01:55] keithdoyle9 commented on #7102
Nah, that didn't work. I'd be more than happy to help with testing if you
need a guinea pig.

On Mon, Aug 20, 2018, 5:26 PM Steve Lasker <notifications@github.com> wrote:

[2018-08-21 02:05] john-louden opened #7104 "Issue with first Example"
The first example uses the wrong switch for the vnet

az network vnet subnet list -g MyResourceGroup --vnet-name MyVNet

this should be

az network vnet subnet list -g MyResourceGroup -n MyVNet

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 385e420c-4bd0-3ddd-d9cd-a9a411ec1f7b
* Version Independent ID: 65172372-f485-3d

[2018-08-21 02:21] john-louden opened #7106 "Support for Gateway Subnet"
**Is your feature request related to a problem? Please describe.**
The VNET Subnet module does not have a switch to designate the role of a subnet, eg gateway

**Describe the solution you'd like**
to have a switch similar to --role gateway to denote the subnet to be created is a gateway subnet

**Describe alternatives you've considered**
N/A

**Additional context**
Add any other context or screens

[2018-08-21 02:52] sajayantony commented on #7102
Could you please email sajaya@microsoft.com and stevelas@microsoft.com so that we can get some more information and work with you on this?

[2018-08-21 07:01] SummerSun opened #7107 "accessTokens.json is absent in Azure Cloud Shell lead to products that leverage interactive az login fails"
**Describe the bug**
In Azure Cloud Shell with Powershell version, folder /home/userName/.azure folder, only have those files listed:
[code]
The accessTokens.json file is absent which causes products that leverage interactive az login fails. I tried manully ```az login``` again successfully, still the file does not show.

**To Reproduce**
Just open the https://shell.azure.com/ and navigate to /hom

[2018-08-21 09:59] yiufung opened #7108 "Blob Storage error in large file upload"
**Describe the bug**
When using `az storage blob upload` to upload a large file (~>1G), return status is normal, but blob is not correctly created (`exists` and `download` failes)

**To Reproduce**
Create a 1MB file and upload, both return success on `exists` and `download`.
Create a 1GB file and upload, upload process return 0, but `exists` and `download` both fail.
Uploading both files using AzC

[2018-08-21 11:04] omichels opened #7109 ""az mysql server create --name olivermysqlserver" allocates a DNS entry olivermysqlserver.mysql.database.azure.com. and will lead to name collision with other Azure clients, therefore az create will fail for common names like sqlserver"
when creating a SaaS MySQL Server or SQL Server a public DNS entry for the domain mysql.database.azure.com will be allocated. That DNS entry must be unique, therefore common names like sqlserver will clash and the creation will fail.

reproduce:
az mysql server create --resource-group myResourceGroup --name olivermysqlserver  --location westeurope --admin-user myadmin  \
--admin-password nimda0123

[2018-08-21 13:18] john-louden opened #7110 "Special Character in Shared Key"
**Describe the bug**
When running the command "az network vpn-connection create" with a shared key that contains the & character the string is split at that point. I have tried both double quotes and single quotes around the string.

**To Reproduce**
run the following command
az network vpn-connection create -g MyresourceGroup -n MyVpnConnection --vnet-gateway1 MyVPNgateway --local-gateway2 Myloca

[2018-08-21 13:34] RedReaperKun opened #7111 "az acr login - not working on windows server 1803"
**Describe the bug**
When trying to perform login to ACR from Azure CLI on MS Windows Server 1803 nothing happens.
_az acr login -n <registry name>_

**To Reproduce**
Install Azure CLI on MS Windows Server 1803 and try to login to ACR - Nothing Happens
Try to push image to repositry  _<docker push <registry name>/<image name>:<tag>_ - will return error _docker : unauthorized: authentication requir

[2018-08-21 13:40] syedhassaanahmed commented on #4131
@moderakh @dmakwana I've also encountered the same problem. Any progress on this issue?

[2018-08-21 13:48] edouardpoitras commented on #7053
I was made aware that this issue has been acknowledged by MS in the portal: https://app.azure.com/h/_KTS-750/9fc05d

[2018-08-21 13:59] markgar opened #7112 "--tags needs a better example"
I think it would be helpful to show exactly how to format --tags using 2 examples so that it is clear how to put them together.

Space-separated tags in 'key1[=value1],key2[=value2]' format. Use "" to clear existing tags.

When do i use " and when do i use '?  This isn't clear.  I'm assuming this is on every page in the CLI docs...

---
#### Document Details

⚠ *Do not edit this section. It is req

[2018-08-21 14:37] markgar commented on #7112
I found the answer to this, but I think it would be helpful to have an example that says it is just a space separate list with no quotes.

[2018-08-21 14:54] tjprescott commented on #7112
Would this help:
[code]

[2018-08-21 14:56] tjprescott commented on #7110
What shell are you running? Have you tried escaping the &?

[2018-08-21 15:03] tjprescott commented on #7106
@rupalivohra does issue #6941, Subnet purpose, address this ask?

[2018-08-21 15:05] tjprescott commented on #7104
No, the example is correct.  It should be `--vnet-name` not `-n`

[2018-08-21 15:14] tjprescott commented on #7104
Actually, it's the other way around. The example uses `-n` but should use `--vnet-name`

[2018-08-21 15:57] john-louden commented on #7110
I did a number of combination of escape sequences the one that worked was 'ABC"&"1234' the traditional \' or \ didn't assist

[2018-08-21 16:12] tjprescott commented on #7110
What shell are you running? If the shell is processing the string before it reaches CLI (which is what it looks like) then there is nothing the CLI can do about that.

[2018-08-21 16:13] #7096 closed

[2018-08-21 16:15] john-louden commented on #7110
sorry I did have that information before win10 decided it was reboot for updates.

Running win10 PS 5.1.1411 CLI 2.x

working with AzureChina so no cloud shell.

[2018-08-21 16:29] tjprescott commented on #7110
https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_quoting_rules?view=powershell-6

Try:
`'ABC&123'`
or
```"ABC`&123"```

[2018-08-21 16:38] john-louden commented on #7110
those two failed...my for combination was
'ABC\'&1234'
'ABC\&1234'
"ABC\'&1234"
"ABC'&1234"
"ABC\&1234"

[2018-08-21 17:09] jobanputra commented on #7032
Thank you for the work around.

[2018-08-21 17:18] tjprescott commented on #7032
@jobanputra note that this isn't really a workaround. It's how you have to quote/escape your input to be processed correctly by your shell.

[2018-08-21 18:15] ursqontis commented on #5080
I have the same issue as @DaveVoyles. Note that these exact commands are outlined in the MS walkthrough document https://docs.microsoft.com/en-us/azure/container-service/kubernetes/container-service-kubernetes-windows-walkthrough, which does not work because of this problem.

[2018-08-21 18:34] rupalivohra commented on #7106
I don't think this is related.

[2018-08-21 20:10] tjprescott commented on #7106
@john-louden your ask is not currently supported by the service, so I've redirected it to the service team for their attention. In the case of gateways, certain commands (like `vnet-gateway create`) require your subnet to be named "GatewaySubnet".

[2018-08-21 20:45] tjprescott commented on #7104
This change will be reflect in next month's release.

[2018-08-21 20:45] #7104 closed

[2018-08-21 20:46] #6932 closed

[2018-08-21 20:46] tjprescott commented on #6940
Moving to Sprint 45 due to no swagger.

[2018-08-21 20:46] tjprescott commented on #6941
Moving to sprint 45 due to no swagger.

[2018-08-22 00:11] gregjhogan opened #7115 "'az image create' doesn't provide a way to create premium storage images"
`az image create` seems to always create `Standard_LRS` images (even if the source VM/disk is `Premium_LRS`)

example:
[code]
or
[code]
resource created:
[code]
We need to be able to pass the storage account type for disks, or default to the storage account type of the source disk
https://docs.microsoft.com/en-us/rest/api/compute/images/createorupdate#storageaccounttypes

[2018-08-22 01:31] shubhranshu opened #7116 "Typo "Resorce" in sidebar"
There is a typo in sidebar. Correct word is "Resource"

---
#### Document details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: b2e3dfa7-e7ba-d8b9-9c8b-7a716016b7c0
* Version Independent ID: 249776f7-0d81-361b-822e-b87c2ca7fb23
* Content: [az storage cors](https://docs.microsoft.com/en-gb/cli/azure/storage/cors?view=azure-cli-latest)
* Content

[2018-08-22 14:18] Xumukk opened #7118 "licenseType query doesn't work as expected"
**Describe the bug**
According to [documentation ](https://docs.microsoft.com/en-us/azure/virtual-machines/windows/hybrid-use-benefit-licensing#cli-3) you can query licenseType with JMESPath queries.
This command `az vm list --query '[?licenseType==Windows_Server]' -o table` should return table with VMs with licenseType value equal to Windows_Server, but it will return list of VMs with licenseType

[2018-08-22 15:52] #6931 closed

[2018-08-22 15:55] tjprescott commented on #7118
@adewaleo since you are looking at JMESPath queries anyways, can you take a look?  I suspect the issue is just that the format is wrong in the example.

[2018-08-22 16:44] sharryp opened #7120 ""az interactive" - all commands result in 'NoneType' object has no attribute 'write'"
**Describe the bug**
When using "azure interactive shell" on local PC running Win10 Pro in Powershell/command prompt, all az commands retult in following error message:

az>> vm list
'NoneType' object has no attribute 'write'
Traceback (most recent call last):
  File "C:\Users\troyd\AppData\Local\Temp\pip-install-_jje8pgf\azure-cli-interactive\azure\cli\command_modules\interactive\azclishell\app.p

[2018-08-22 16:49] sharryp commented on #7120
![sample1](https://user-images.githubusercontent.com/9512986/44477802-57321400-a659-11e8-84a3-1ddbfc705c42.png)
![sample2](https://user-images.githubusercontent.com/9512986/44477803-57321400-a659-11e8-9539-948d5239df1b.png)
Sample screen shots.

[2018-08-22 18:38] abhiramani-iptiq opened #7123 "service endpoints"
How can we specify service endpoints in create command for VNET

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: bc99d572-abdb-ab6b-7a9a-c6951a1c1466
* Version Independent ID: 0a50e966-cbc8-8960-c01f-e117cac842d4
* Content: [az network vnet](https://docs.microsoft.com/en-us/cli/azure/network/vnet?view=azure-cli-latest#az

[2018-08-22 22:48] jpoon commented on #7051
Interesting, I see the exact same error:

[code]
Traceback (most recent call last):
  File "runpy.py", line 193, in _run_module_as_main
  File "runpy.py", line 85, in _run_code
  File "C:\Users\trdai\AppData\Local\Temp\pip-install-8jgnm5o1\azure-cli\azure\cli\__main__.py", line 32, in <module>
  File "C:\Users\trdai\AppData\Local\Temp\pip-install-8jgnm5o1\azure-cli-core\azure\cli\core\__init__.py"

[2018-08-22 22:56] cicorias opened #7124 "query operator with JMESPath doesn't handle a 'dash' (-) properly"
If a tag on a resource has a name that includes a `-` the query fails incorrectly.

**To Reproduce**
1. Assign a tag of `CREATED-BY` to a resource group in Azure with a value of 'foobar'
2. Run the Query
`az group list -o tsv --query "[?tags.CREATED-BY == 'foobar']"`

**Expected behavior**
Normally the results will show the item.

**Actual result**
The error shows as
[code]
If you run a similar qu

[2018-08-22 23:13] williexu commented on #7116
@daxianji007 where are the sidebar names defined? It does not seem to come from our CLI.
Can you take a look?

[2018-08-23 00:01] williexu commented on #6601
@nicolaibaralmueller this scenario seems to work for me. I used my sas token to do a download after.

Can you make sure that the account key you use to generate your sas is still valid? If it isn't a token will still be generated, but will not be valid. Also make sure you have the proper start and expiration constraints.

[2018-08-23 00:14] williexu commented on #7108
@yiufung what types of blobs are you uploading? (block/page/append)

Also, can you clarify what you mean by "the API seems not available in Azure CLI"?

[2018-08-23 00:30] alex-miro commented on #5592
I have the same problem and it does not seem to resolve no matter what options and time formats I use. In the reference at
https://docs.microsoft.com/en-us/azure/marketplace-publishing/marketplace-publishing-vm-image-creation#52-get-the-shared-access-signature-uri-for-your-vm-images
the examples are simply wrong ( or probably refer to some old version ).

Can the developers please try the cli inte

[2018-08-23 02:48] yiufung commented on #7108
@williexu Oh, I thought the method of specifying `--type` is not available in the docs.

I did not specify `--type` before, so the default should be `block`. Tried it with the same command today, and now it works as expected, whether to add `--type "block"` or not. This is strange, coz the file I uploaded before are still listed by `hdfs dfs -ls`, but not accessible.

[2018-08-23 05:47] nicolaibaralmueller commented on #6601
Thanks for the answer @williexu
This has been resolved however.

[2018-08-23 05:47] #6601 closed

[2018-08-23 12:53] Trotts commented on #6230
Has this been fixed yet, running into the same error

[2018-08-23 14:02] edouardpoitras commented on #7053
This underlying issue was resolved by the Azure dev team yesterday. I'll leave it up to the azure-cli devs whether they want to leave this ticket open in order to provider better error messaging for this corner case.

[2018-08-23 14:48] MaximRouiller commented on #5246
Any updates on this?

[2018-08-23 15:29] tjprescott commented on #7092
@poul-kg in the next release, bot service will switch from being an extension to being in the CLI proper. Please give that new module a try and let us know if you get the same issue.

[2018-08-23 15:54] tjprescott commented on #5246
@yangyuan

[2018-08-23 15:55] tjprescott commented on #6888
#7034 has been merged and should unblock you.  It will be released 8/28.

[2018-08-23 15:55] #6888 closed

[2018-08-23 15:57] tjprescott commented on #5875
@pchoudhari

[2018-08-23 15:57] tjprescott commented on #4295
@pchoudhari

[2018-08-23 15:57] tjprescott commented on #3358
@pchoudhari

[2018-08-23 16:00] jimsander opened #7128 "unable to set property groupMembershipClaims"
$ az ad app update --id 1e9d0695-9a30-a9dd-b2e0-ecf5e201ab0c --set groupMembershipClaims=SecurityGroup

Property 'groupMembershipClaims' not found on root. Send it as an additional property .

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 921aa920-c25f-5227-aabb-49116da38fa7
* Version Independent ID: 9b5a53ad-edf8-4d89

[2018-08-23 16:17] tjprescott commented on #7128
@yugangw-msft

[2018-08-23 16:51] alex-miro commented on #5592
Yes, it worked, thank you !

My mistake was trying to generate a complete string for a vhd for Marketplace placement in one cli command. Now I stitch the url path with the output of  `az storage container generate-sas  <...>`.

**Azure developers  : the documentation update for the CLI is SERIOUSLY overdue**

[2018-08-23 17:18] williexu commented on #7108
@yiufung  By default, blobs are uploaded as block blobs unless they are .vhd files. That's probably why it didn't matter whether you specified `--type block` or not.
It sounds like you are able to upload successfully the second time.

For the blobs you uploaded the first round; you mentioned that an existence check does not pass. That probably means you also can't do a `blob show` on the blob corr

[2018-08-23 17:48] #6413 closed

[2018-08-23 18:00] tjprescott commented on #5592
cc/ @williexu @adewaleo

[2018-08-23 18:02] prashanthyv commented on #1800
This is still a problem... I cannot specify which SKU and this is very frustrating.

![image](https://user-images.githubusercontent.com/38299801/44543288-fc81d200-a6c3-11e8-8312-b735d3c209f6.png)

[2018-08-23 18:02] prashanthyv commented on #1800
When will this be fixed?

[2018-08-23 18:02] adewaleo commented on #7118
**You can correctly make the above query by doing the following:**

`az vm list --query "[?licenseType == 'Windows_Server']" -o table`

**For an explanation of why this is the correct way of writing the filter expression query, please see below.**

There are two different ways to specify [string literals in JMESPath](http://jmespath.org/specification.html#raw-string-literals):

-     `"Windows_Ser

[2018-08-23 18:02] #7118 closed

[2018-08-23 18:07] dlepow opened #7129 "`az batchai cluster create` with --user-auto-storage option does not create cluster"
Unable to create Batch AI cluster using the following command (worked in some some previous versions):
`az batchai cluster create  --name mycluster2     --workspace myworkspace    --resource-group myrg2  --vm-size Standard_NC6  --use-auto-storage    --target 1 --user-name myusername --generate-ssh-keys`

Returns following error output:
[code]

**Expected behavior**
Command should return with prope

[2018-08-23 18:11] Jumaev commented on #1308
λ pip install forms
Collecting forms
  Could not find a version that satisfies the requirement forms (from versions: )
No matching distribution found for forms

Same problem i am facing... any suggestions

[2018-08-23 18:21] kensykora opened #7130 "`az sf cluster certificate add` throws an error " Parameter 'resource_group_name' can not be None""
**Describe the bug**
When trying to run the command

[code]

it generates the error

[code]

**To Reproduce**

1. Start with a valid certificate, .pfx format, encrypted with a password, on your desktop (e.g., `~/Desktop/cert.pfx`, password `abc123`)
1. Start with a service fabric cluster already provisioned in "Secure" mode with a valid certificate (e.g., Resource Group `SF-RG` and Cluster Name `S

[2018-08-23 18:36] prashanthyv commented on #1800
Hi @tjprescott - Thanks. Yes I did. But the documentation doesn't tell the user after using the vm list-skus command what should be the next command to create a VM?

[2018-08-23 18:45] yangyuan commented on #5246
I am working on it, targeting Sprint 45.
Will have a command like `az cognitiveservices account list-kinds` which returns a list of valid `kinds`

[2018-08-23 19:40] MaximRouiller commented on #5246
Thank you so much for the update @yangyuan!

I appreciate it!

[2018-08-23 19:51] tjprescott commented on #1800
@yugangw-msft can you take this one after Ignite?

[2018-08-23 20:16] ph0rman commented on #6581
I hit the same problem.  We zip deploy all our webapps using using the slot flag, but when I went to deploy our functionapps, that flag wasn't available (az functionapp deployment source config-zip -s SLOTNAME ...)
This is preventing us from using function app slots until support is added!

[2018-08-23 21:10] alexeyshishkin01 commented on #5592
alex-miro,

nice to hear that!

[2018-08-23 21:43] berndverst opened #7131 "Listing App Service Runtimes should show Linux and Windows Runtimes"
`az webapp list-runtimes` currently only lists App Service Windows runtimes. To see the Linux runtimes one must use the less obvious `--linux` flag.

This request is to combine the Linux runtimes into the `az webapp list-runtimes` command.

Desired behavior and output:
`az webapp list-runtimes -ojson`

Produces:
[code]

[2018-08-23 21:46] tjprescott commented on #7131
cc/ @Panchagnula, @yugangw-msft

[2018-08-23 21:49] tjprescott commented on #7116
@dend

[2018-08-23 23:08] williexu commented on #5294
Documentation for the extension name was added.

[2018-08-23 23:08] #5294 closed

[2018-08-23 23:10] williexu commented on #5224
Example was fixed with https://github.com/Azure/azure-cli/commit/c9fe2efc878a45fdefaec59d42ab7e47912fba24

[2018-08-23 23:10] #5224 closed

[2018-08-24 00:02] #5912 closed

[2018-08-24 00:02] #6576 closed

[2018-08-24 01:53] yiufung commented on #7108
@williexu Yes, for the default upload method, it's as expected.

For the first round, what I mean is that when I do a `blob exists`, it returns `false`, and `blob show` returns `ErrorCode:BlobNotFound`. It's still the case for the blobs I uploaded previously. They are shown when I do a `hdfs dfs -ls` using `wasbs` protocol, but cannot be `-rm` or `-mv`.

[2018-08-24 07:23] karravi-msft opened #7136 "Support for Alias Records in Azure DNS"
**Is your feature request related to a problem? Please describe.**
Need support for alias records in Azure CLI

**Describe the solution you'd like**
Alias records is a new feature in Azure DNS launching in Ignite. It is primarily related to adding an azure resource as a target for a record set. Also, TTL is optional for alias records. Please contact vladrai,karravi for any additional details

**De

[2018-08-24 07:34] cloudguy-pro commented on #6888
Great thank you!
Looking forward to testing it...

[2018-08-24 08:26] alexeyshishkin01 commented on #5592
alex-miro,

are you able to create VM entirely in cloud, i.e. without moving VM's VHD-file back and forth?

[2018-08-24 10:47] lmiroslaw opened #7137 "Why simple CentOS-HPC VM is failing?"
az vm create --resource-group hpc-my --name ansysVM --image OpenLogic:CentOS-HPC:7.4:latest --admin-username username123 --admin-password pswd --size Standard_H8

This image requires --osDisk parameter. I don't understand why…
What is the correct set of parameters to deploy CentOS-HPC image?

  "error": {
    "code": "InvalidParameter",
    "target": "osDisk.managedDisk",
    "message": "The value

[2018-08-24 10:54] lmiroslaw commented on #7137
Should not the CentOS image be automatically attached to the osDisk? Should not this be an automated procedure run in the background?

[2018-08-24 11:11] praveendhac opened #7138 ""/managedClusters/listClusterAdminCredential/action" is not working as expected"
**Issue**
listClusterAdminCredential is not working as expected.

Following below documentation to write custom role to block users getting clusterAdmin credentials but allow clusterUser credential
https://docs.microsoft.com/en-us/azure/role-based-access-control/resource-provider-operations

Created below custom role
[code]
Applied the role to user from Portal, Cloud CLI. Logged in as the user fro

[2018-08-24 16:05] troydai commented on #7051
@jpoon this issue will be fixed in the incoming release. And the stack path is a static snapshot of the paths of the environment where we built the CLI package. It is irrelevant to your local environment. It is unfortunately misleading but harmless.

[2018-08-24 18:27] troydai opened #7139 "Brew installation issue with az policy event list command"
Homebrew, Mac Installation, 2.0.44

[code]

[2018-08-24 19:49] freedumb commented on #6304
Is this bug resolved?  If I'm reading it correctly, the role definition update functionality does not work?

[2018-08-24 20:45] alexeyshishkin01 commented on #5592
I'm asking because this topic is not documented at all

[2018-08-24 21:46] mmacy opened #7142 "[ACR] 'az acr build-task run' missing --no-wait"
**Describe the bug**

Executing the `az acr build-task run` command with `--no-logs` blocks, returning only when the build has completed. Without a `--no-wait` arg for this command, automation scripts are blocked until the build completes. In some cases this is desirable (such as for dependencies further down in the script requiring the built images), but in others, blocking is an unnecessary and

[2018-08-24 23:51] williexu commented on #5592
@alexeyshishkin01 the format, 'Y-m-d'T'H:M:S'Z' should suffice, though adding seconds does not hurt.
Please try the following:
[code]
An example of the value in start: `2018-08-24T23:32Z`
Also notice the addition of `-otsv` in the generate-sas command, which will output a raw string.

It does seem like users can benefit from examples, I will look into adding some

[2018-08-25 00:05] adewaleo commented on #7098
**Answer:**
@asasine regarding the main issue you have raised, after speaking to some members of the team, it appears that -o tsv supports the functionality you want. it outputs a raw unquoted string.

**Other comments:**
Concerning the other issue / bug you raised, apparently it is not a bug per se but a quirk of the fact there isn't a clear way to represent an object as a tsv. As a result we do

[2018-08-25 00:05] #7098 closed

[2018-08-25 17:47] ClimberBear opened #7144 "Command az webapp doesn't work (and never did in my mac)"
I have a Mac with both clients installed
CLI 1.0
azure --version
0.10.10 (node: 4.3.1)

and CLI 2.0
az --version
azure-cli (2.0.4)

But when I try to execute an "az webapp" command, I get the following error
az webapp
az: error: argument _command_package: invalid choice: 'webapp' (choose from 'appservice', 'monitor', 'feedback', 'account', 'batch', 'snapshot', 'acr', 'acs', 'find', 'resource', 'ad

[2018-08-25 23:02] gertzen opened #7145 "secret-identifier does not support mixed case key vault name"
**Describe the bug**
Using the secret-identifier switch with a mixed-case key vault fails to work:
az sf cluster create --secret-identifier https://MyPrivateKeyVault.vault.azure.net/secrets/mycertname/mycertid

However, if you create your key vault with a lowercase name, the following does work:
az sf cluster create --secret-identifier https://myprivatekeyvault.vault.azure.net/secrets/mycertname/m

[2018-08-26 12:45] bingosummer opened #7146 "The error message of "az network traffic-manager profile create" is not friendly"
**Describe the bug**

[code]

`The Monitor Path must be null` is not friendly to users.

**Expected behavior**

The error message should be more clear. For example:
[code]

[2018-08-26 16:58] YoshiakiOi commented on #7031
Not fixed yet. Could you please re-open and fix the command?

[2018-08-26 20:42] williexu commented on #7031
@YoshiakiOi it has been fixed: https://github.com/Azure/azure-cli/blob/dev/src/command_modules/azure-cli-batchai/azure/cli/command_modules/batchai/_help.py#L107-L113

Our documentation will be updated with our next release, v2.0.45

[2018-08-27 13:08] gstrantor opened #7147 "If the application settings contain a !, it can't be set using az webapp config appsettings set"
When I try  to set the application setting for a app service, the characters ^ and ! are ignored which are part of the string, I have tried using the quotes to no effect.

to replicate, try calling
call az webapp config appsettings set "serverpassword"="abcde!xyz"
I am using Microsoft Azure Command Prompt v2.9 on Windows 8.1 Pro build 6.3.9600

[2018-08-27 14:18] paul-b-manning commented on #7120
Same problem.

[2018-08-27 15:43] tjprescott commented on #7147
This sounds like an escaping issue. Did you try escaping the special characters with `\!` ?

[2018-08-27 15:49] tjprescott commented on #7146
What you are seeing is the service error, which does expect a null value. However, for the CLI, that simply means don't send that.

We can look at the internal command validation to see if it can be improved.

[2018-08-27 16:08] tjprescott commented on #7142
Also, note that if `--no-wait` is exposed, then the `wait` command should be exposed for this subgroup.

[2018-08-27 16:10] tjprescott commented on #7144
You have an incredibly old version of CLI 2.0.  You are running 2.0.4 and the latest release is 2.0.45.  Try updating your CLI and please reopen if you still cannot access these commands.

[2018-08-27 16:10] #7144 closed

[2018-08-27 16:17] Fumes007 opened #7148 "Unable to switch subscriptions using Azure CLI"
---

### Environment summary

CLI version (`az --version`) 2.0.44 / RHEL 7.5 / Shell Type: bash

[code]

[2018-08-27 17:26] stepro opened #7149 "Provide option to disable showing progress"
Certain long-running commands, such as `az group delete`, try to show a progress message like " - Running .." First of all, it doesn't appear to do what I think was expected (the spinner never spins). Secondly, when I'm scripting with az, and outputting my own progress messages, I'd prefer to not have this message show up. I know it doesn't appear if you pipe to a file, but if I'm just running my

[2018-08-27 17:37] williexu commented on #5564
@shapshapOne, Just tried:
[code]
and got the following:
"se=2018-08-27T18%3A04Z&sp=rwdlacup&sv=2018-03-28&ss=qt&srt=sco&sig=..."
**ss=qt**
Can you try this again with our latest version?

[2018-08-27 18:34] ClimberBear commented on #7144
Thanks!

I don't know why, but my homebrew was not updating correctly the CLI version. After 2 uninistall and reinstall, start working.

Thanks for the anwser!

[2018-08-27 19:31] Fumes007 commented on #7148
Figured things out on my end. I logged out and reran my script again

[2018-08-27 19:31] #7148 closed

[2018-08-27 19:42] tjprescott commented on #7144
No problem.  Glad it is working for you now!

[2018-08-27 19:56] phekmat opened #7150 "Key Vault RSA key import fails"
**Describe the bug**
`az keyvault key import` with an RSA private key fails after reading the PEM file.

**To Reproduce**
1. Create a file with an RSA private key
1. Try to import the file via `az keyvault key import --pem-file ...`

**Expected behavior**
The key should be imported in the vault

**Environment summary**
bash on OSX, az v2.0.44 installed via Homebrew

[2018-08-27 20:29] johanste commented on #7137
For whatever it is worth, I just ran the same command on az @ 2.0.44 on a windows box, and the command succeeded. I created the VM in the westus location.

[2018-08-27 21:02] boseca opened #7152 "creating MySQL linked service throws an error "'Server' cannot be null""
**Describe the bug**
Using the PowerShell to create MySQL linked service fails with error "'Server' cannot be null" when linked service is using the Key Vault (KV) for storing the the credentials. Looks like the new JSON payload version for MySQL linked service is not supported yet.  Using the old payload version and storing each property into KV seems to be working.

**To Reproduce**
1) create Az

[2018-08-27 21:07] tjprescott commented on #7152
Issues with Powershell commandlets should be filed here:
https://github.com/Azure/azure-powershell

[2018-08-27 21:07] #7152 closed

[2018-08-27 21:29] joewilson opened #7154 "webapp:Single quotes instead of back ticks"
Looks like you're using single quotes instead of back ticks for "Name of the webapp. You can configure the default using 'az configure --defaults web='."

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 4e50d77a-f2fa-6d6e-0c57-2f434c12766f
* Version Independent ID: f9a98805-6e16-487a-03ce-237cb964f83c
* Content: [az weba

[2018-08-27 21:51] williexu commented on #6484
Adding an example for the scenario with: https://github.com/Azure/azure-cli/pull/7153

[2018-08-27 21:55] williexu commented on #6310
I've added an example for upload-batch with https://github.com/Azure/azure-cli/pull/7153.
@kostrse I am hesitant to add that documentation as it is bash-specific and applies to a variety of other possible web container names.

[2018-08-27 21:55] #6310 closed

[2018-08-27 22:00] yangyuan opened #7156 "`az cognitiveservices account list-sku`s needs an existing account"
**Is your feature request related to a problem? Please describe.**
`az cognitiveservices account list-skus` requires an account name, but creating an account needs a valid sku.

[2018-08-27 22:02] yangyuan commented on #7156
https://msazure.visualstudio.com/Cognitive%20Services/_workitems/edit/2979211

[2018-08-27 22:04] yangyuan opened #7157 "Completer for `az cognitiveservices account update/update`"
Need completer for `az cognitiveservices account update/update`

[2018-08-27 22:04] yangyuan commented on #7157
https://msazure.visualstudio.com/Cognitive%20Services/_workitems/edit/2978184

[2018-08-27 22:43] billpratt commented on #7059
@yugangw-msft
[code]

[2018-08-27 22:44] #4881 closed

[2018-08-27 22:44] #5574 closed

[2018-08-27 22:44] #5592 closed

[2018-08-27 22:44] #6615 closed

[2018-08-27 23:47] bingosummer commented on #7146
If I don't send `--monitor-path`, the default value of `--monitor-path` is `/`.  CLI gives me exactly same error message `Operation failed with status: 'Bad Request'. Details: The Monitor Path must be null when using TCP as a monitoring protocol.`.

My point is that CLI should ask for an empty string instead of `null` for the monitor path.

[2018-08-28 06:48] john-louden commented on #7106
@tjprescott seeing the name is "hardcoded" is it better to have something like

network vnet gateway-subnet

with the allowed inputs

- ResourceGroup,
- VNET,
- CIDR range

The out should be similar to the subnet create just with the name hardcoded. Just my random thoughts

[2018-08-28 07:00] bluephoton opened #7158 "Bad examples!"
Unless passed arguments are primitives, example should show type of argument and how to construct. Dictionary for example, key and value. Otherwise link to more detailed and useful document.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: e2f254bb-7dfd-417b-b08d-f2ac34247d99
* Version Independent ID: 9d22f523-579b-ea66-

[2018-08-28 10:12] Spotypop commented on #7111
Any news, It's possible to workaround it with "docker login", but I would like to updates on this.

[2018-08-28 11:53] gstrantor commented on #7147
That didn't work, if I use abcde\!xyz it saves abcde"xyz

[2018-08-28 12:11] pascalnaber opened #7159 "az acr create not idempotent"
after executing az acr create for the second time with the same parameters the exit code is 1. Which is an error. First time exit code is 0.

Other az cli * create commands are idempotent (like webapp, postgres).
Please make this one idempotent also by having the same behavior and result no matter how many times the command is executed.

[2018-08-28 14:58] nickb834 commented on #7124
same here :-(

[2018-08-28 15:36] tjprescott commented on #7159
Thank you for the report @pascalnaber. Indeed, per our command guidelines, all create commands should be idempotent:

https://github.com/Azure/azure-cli/blob/dev/doc/command_guidelines.md#standard-command-types

[2018-08-28 15:39] tjprescott commented on #7147
If you run this with `--debug` you can see what string is actually being sent to the service.  If it is sending a mangled string, then it is likely an escaping issue with your chosen shell (but could also be the CLI).  If it is sending the correct string, then the issue is with the service doing some kind of string sanitization.

[2018-08-28 15:50] tjprescott commented on #7111
@djyou

[2018-08-28 15:52] tjprescott commented on #7158
Can you be more specific about which command's examples you are referring to?  I only see two examples on that page and don't see an issue with either.

[2018-08-28 15:57] tjprescott commented on #7146
Based on this, I would argue that `--monitor-path` should not have any default. This may have been a service-change. Thanks for brining it up.

[2018-08-28 16:14] panchagnula commented on #7072
@cfjedimaster, the CLI command does not validate the contents of a zip file provided - atleast there is not such support from zip deployment at the time being. Closing this.

[2018-08-28 16:14] #7072 closed

[2018-08-28 16:18] cfjedimaster commented on #7072
You realize that I was *asking* for it to validate? At least the minimum of "is the only entry at top a folder". I realize it doesn't do this now and I was asking it to be considered. Couldn't this be considered?

[2018-08-28 16:47] panchagnula commented on #7072
I realize & understand your ask - if we see more asks/feedback on this we will consider this on the CLI end, however for the API level to get a more robust validation, the functions-runtime should consider this.

[2018-08-28 17:07] Powerhelmsman opened #7160 "az aks create is case sensitive when is comes to VM sku"
This issue was create by @sprab from https://github.com/MicrosoftDocs/feedback/issues/639
🛑 IMPORTANT: You can get your feedback addressed faster if you use the comment section for the article in which you encountered a problem.
Link to article:
https://docs.microsoft.com/en-us/cli/azure/aks?view=azure-cli-latest#az-aks-create
Tell us where exactly a problem occurs.
Problem:
What's wrong with the

[2018-08-28 17:08] nuclear0wl opened #7161 "Redis cache export problems"
**Describe the bug**
When I try to execute Azure CLI command `az redis export` I got that error:
[code]

I thought that source of an error might be here:
[Redis Operations](https://github.com/Azure/azure-sdk-for-python/blob/66b4ec24f07c78fe3de0bd5d995557c43f46ec96/azure-mgmt-redis/azure/mgmt/redis/operations/redis_operations.py#L880)
But reviewer redirected me to write here. [See that issue for mo