[2020-03-29 23:37] yonzhan commented on #10192
add to S169

[2020-03-30 02:11] facetoe opened #12779 "az login fails with "NotImplementedError: APIVersion 2019-06-01 is not available""
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Whenever I try to execute `az login` the command fails due to error below.

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az login`

## Expected Behavior
I am logged

[2020-03-30 02:12] jiasli commented on #12561
@x10an14, for the suggestions:

1. The reason we are not fixing this issue anymore is because it is caused by Azure Portal itself and Azure Portal has already fixed it, so newly created application doesn't have this issue anymore.

2. According to [AD Graph Application REST API](https://docs.microsoft.com/en-us/previous-versions/azure/ad/graph/api/entity-and-complex-type-reference#application-enti

[2020-03-30 02:15] Ayanmullick opened #12780 "PowerShell steps for Auth update"
Are there PowerShell steps to update authentication for an Azure Function App or Web App?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: aeb196c8-e408-8563-26ba-5c3ae6e38c48
* Version Independent ID: 5f150c9a-e142-2fd7-fe84-b298dc83fd02
* Content: [az webapp auth](https://docs.microsoft.com/en-us/cli/azure/webapp/auth?

[2020-03-30 02:15] fengzhou-msft commented on #12407
mcr.microsoft.com/azure-cli:2.2.0 is now 671 MB.

[2020-03-30 02:15] #12407 closed

[2020-03-30 02:17] yonzhan commented on #12779
add to S169

[2020-03-30 02:19] yonzhan commented on #12780
webapp

[2020-03-30 02:42] jiasli commented on #12561
An alternative is to call MS Graph [application: addPassword API](https://docs.microsoft.com/en-us/graph/api/application-addpassword?view=graph-rest-1.0&tabs=http) with `az rest`:

[code]

In PowerShell terminal, please replace `"` in the body with `\"`.

This will add a new password to the application.

![image](https://user-images.githubusercontent.com/4003950/77869519-62a3e300-7271-11ea-873d-31

[2020-03-30 02:42] jiasli commented on #9250
This will be implemented after we migrate to MS Graph. Moving to backlog as a feature request.

[2020-03-30 02:50] jiasli commented on #12779
It looks like the `azure-mgmt-resource` package installed is not the latest version.

May I know how Azure CLI is installed? If via pip, could you check the version of `azure-mgmt-resource`?

[code]

[2020-03-30 03:01] facetoe commented on #12779
Sure:

[code]

[2020-03-30 03:28] jiasli commented on #12779
That's a little bit weird. Looks like the path in the callstack is truncated: `mgmt/resource/subscriptions/subscription_client.py`.

The [8.1 SDK](https://github.com/Azure/azure-sdk-for-python/blob/26555afc237a5478dd9b3d13f98d3d657335251a/sdk/resources/azure-mgmt-resource/azure/mgmt/resource/subscriptions/_subscription_client.py#L137-L138) does have:

[code]

I can partially reproduce it by removi

[2020-03-30 05:10] surajmb commented on #2174
@rudolfdobias , can you let me know the provisioning state of the AppGw resource (not the sub-resources like frontend IP)? And since your private IP allocation method is Dynamic, an IP address will be assigned once you attach a listener to it, have you tried that?

[2020-03-30 05:13] jiasli commented on #9427
Sorry for the inconvenience caused. Terraform **azurerm** provider also uses `az account get-access-token` internally ([src](https://github.com/terraform-providers/terraform-provider-azurerm/blob/bbe4b57a11506a127ff9e018f03e6e1ca1e55c76/vendor/github.com/hashicorp/go-azure-helpers/authentication/auth_method_azure_cli_token.go#L174)):

[code]

According to https://stackoverflow.com/a/186464/2199657

[2020-03-30 05:23] MyronFanQiu commented on #12079
close this issue since no response. Feel free to open a new issue if you encounter any issue.

[2020-03-30 05:23] #12079 closed

[2020-03-30 05:24] MyronFanQiu commented on #12189
close this issue first. If we still meet this issue later we can reopen it.

[2020-03-30 05:24] #12189 closed

[2020-03-30 05:34] #11995 closed

[2020-03-30 05:39] jiasli commented on #11113
Hi @ellieCallcutART, are you using Azure CLI? If so, could you share the command you used?

For Azure CLI to use the added root CA, please make sure the `cacert.pem` file you changed is correct by running

[code]

[2020-03-30 05:57] nrodrigues11 opened #12783 "az login NotImplementedError: APIVersion 2019-06-01 is not available"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

When I try to execute az login the command fails with the below error.

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az logi

[2020-03-30 06:04] qwordy commented on #12750
It's a strange problem.
1. What if you create VMs sequentially?
2. What if you create other number of VMs?
3. Can you share the Python script?

[2020-03-30 06:11] jiasli commented on #12675
Possibly similar to https://github.com/Azure/azure-cli/issues/11749#issuecomment-570975762

`400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token` is a known issue of Cloud Shell that it intermittently fails with this error.

To solve it, please use Azure CLI on a local machine or run `az login` in Cloud Shell and retry the command.

[2020-03-30 06:15] jiasli commented on #12757
This is a known issue that Cloud Shell doesn't accept `--resource-type oss-rdbms`.

As a workaround, please use Azure CLI on a local machine or run `az login` in Cloud Shell and retry the command.

[2020-03-30 06:29] yonzhan commented on #12783
add to S169

[2020-03-30 07:32] jiasli commented on #12767
@egeyer, thanks for the feedback.

However, this is the design of AD Graph REST API [Add group members](https://docs.microsoft.com/en-us/previous-versions/azure/ad/graph/api/groups-operations#add-group-members--) to return `204 No Content`:

Status Code | Description
-- | --
204 | No Content. Indicates success. No response body is returned.

If you run the command with `--debug`, you can see the a

[2020-03-30 07:48] qwordy commented on #12527
Bug confirmed. It's a general problem. It occurs not only in vm. We will fix it.

[2020-03-30 07:58] jurjenoskam opened #12786 "[March customer interview] Consistent idempotency of commands"
While many Azure CLI commands are idempotent, I regularly run into situations where commands aren't. This results in having to write extra logic in scripts dealing with the lack of idempotency. It would be quite valuable when idempotency is positioned more strongly and clearly in [doc/command_guidelines.md](https://github.com/Azure/azure-cli/blob/master/doc/command_guidelines.md) and validating id

[2020-03-30 08:01] bim-msft commented on #12423
Hi @jaipaldom are you still being blocked by this issue? You may try the above workaround.

[2020-03-30 08:07] RishiMaini commented on #11909
Creating snapshot in different locations might not be possible which is understood and might require another approach as mentioned in Export/Copy a snapshot to a storage account in different region with CLI

Concern is creating snapshot in the same location but under a destination RG where RG location is different from the source snapshot location.

Here is the problem :- CLI should be smart enoug

[2020-03-30 08:08] vishalsinghdev commented on #10664
![image](https://user-images.githubusercontent.com/55273655/77889504-8ffd8a80-728b-11ea-8a85-2ab69c61d975.png)
While I trying to vnet integration between linux WebApp(App service plan: P1V2) and Vnet using Azure CLI.
I getting error for location tag..?

[2020-03-30 08:11] vishalsinghdev opened #12787 "vnet integration getting failed using azure CLI"
While I am trying to do vnet integration between linux WebApp(App service plan: P1V2) and Vnet using Azure CLI.
I getting error: **az webapp vnet-integration add: error: 'NoneType' object has no attribute 'location'**
Below is Error ScreenShot:
![image](https://user-images.githubusercontent.com/55273655/77889792-1023f000-728c-11ea-948f-5ee281bde0d8.png)

[2020-03-30 08:13] yungezz commented on #12786
thanks for reporting. Idempotency depends on service behavior today. It's good suggestion to align on command_guideline on it

[2020-03-30 08:14] yungezz commented on #12787
routing to appriopriate team

[2020-03-30 08:28] jurjenoskam opened #12788 "[March customer interview] Please only designate an Azure feature as GA when all management interfaces controlling it are GA as well"
When an Azure feature is released as GA, it regularly happens that not all major Azure management interfaces support that feature. For feature X, you need the Az PowerShell modules because Azure CLI doesn't support it yet, while for feature Y it might be the other way around. This makes it more difficult for teams to standardise on a single interface.

It would be great when an Azure feature is de

[2020-03-30 08:28] qwordy commented on #12459
I tried your command, but I got an error of "The value of parameter linuxConfiguration.ssh.publicKeys.path is invalid"
'--ssh-dest-key-path' is not a valid identifier in code. It is implemented in Azure CLI. According to your error message, it's not supported now.
https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/vm/_template_builder.py#L788

[2020-03-30 08:29] sengokyu opened #12789 "lack of the documentation about the policy object"
&gt; Use the show command with JSON output to obtain a policy object.

`az backup policy show` command outputs many fields. Which is a policy object?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 86a3dc2c-442c-f2b9-7303-1b008e7713bd
* Version Independent ID: 8b695b10-a26d-caac-5206-38edeb1859c1
* Content: [az backup p

[2020-03-30 08:52] ellieCallcutART commented on #11113
Hi @jiasli, I'm using Pycharm. I tried running the lines you sent but it doesn't recognise the syntax (I'm new to python, sorry). I tried it for a .py file and a .robot file.

[2020-03-30 09:08] jiasli commented on #11113
I would love to help but PyCharm and Python are not Microsoft products so we don't support it.

The lines I sent you are Bash commands you can use to find where the `cacert.pem` file that Azure CLI uses is. For your environment, here are some places you may be interested in

1. The Python's installation folder, like `C:\Users\{myname}\AppData\Local\Programs\Python\Python38\Lib\site-packages\certif

[2020-03-30 09:14] ellieCallcutART commented on #11113
Thank you for your help @jiasli I'll try there! :)

[2020-03-30 09:20] jiasli commented on #11113
You are welcome. Let me know if the resources I provided work for you. You may also drop me an email at {my_github_id}@microsoft.com. We can discuss about this offline.

[2020-03-30 09:20] #11113 closed

[2020-03-30 09:26] jurjenoskam opened #12790 "[March customer interview] Remove the requirement for inserting sleep statements in scripts"
Unfortunately, there are quite a few commands that return successfully, but have not completed processing in the background. This makes it difficult to write reliable scripts because of the need to insert sleep statements and hope for the best. It would be quite valuable to be able to assume a command has completely taken effect when a CLI command successfully returns.

App Service commands are a

[2020-03-30 09:34] jurjenoskam commented on #12786
I understand that service API behavior affects this; fortunately there are already quite a few places where Azure CLI abstracts away less-desirable service API behavior from me (thanks!). This feature request is meant to "elevate" idempotency to a requirement of all Azure CLI commands, so that any non-idempotent service behavior will be worked around in Azure CLI (within reason of course). And, li

[2020-03-30 09:35] yonzhan commented on #12788
Thanks for the suggestion. While CLI needs to go through preview to GA process: https://github.com/Azure/azure-cli/blob/dev/doc/onboarding_guide.md

[2020-03-30 09:36] vishalsinghdev opened #12791 "vnet integration getting failed using azure CLI"
While I am trying to do vnet integration between linux WebApp(App service plan: P1V2) and Vnet using Azure CLI.
I getting error: **az webapp vnet-integration add: error: 'NoneType' object has no attribute 'location'**
Below is Error ScreenShot:
![image](https://user-images.githubusercontent.com/55273655/77897999-115b1a00-7298-11ea-8886-cdedcb1819b6.png)

[2020-03-30 09:38] yonzhan commented on #12789
backup

[2020-03-30 10:10] vishalsinghdev commented on #12787
@SnehaAgrawal-MSFT please do have look in this issue

[2020-03-30 10:24] yonzhan commented on #12790
add to S169

[2020-03-30 10:25] juyama commented on #12459
if '--ssh-dest-key-path' is not supported now, please update following document.
https://docs.microsoft.com/en-us/cli/azure/vm?view=azure-cli-latest#az-vm-create
_--ssh-dest-key-path
Destination file path on the VM for the SSH key. If the file already exists, the specified key(s) are appended to the file._

[2020-03-30 10:29] yonzhan commented on #12791
webapp

[2020-03-30 10:38] ezYakaEagle442 commented on #12594
I have the same issue with CLI 2.2.0, see also at [https://github.com/MicrosoftDocs/azure-docs/issues/50180](https://github.com/MicrosoftDocs/azure-docs/issues/50180)

az vmss extension set \
    --resource-group $managed_rg \
    --vmss-name $vmss_name \
    --name VMAccessForLinux \
    --publisher Microsoft.OSTCExtensions \
    --version 1.4 \
    --verbose \
    --debug \
    --protected-setti

[2020-03-30 11:45] RonakThakkar commented on #11695
I have the same error when executing the below command using PowerShell.

az functionapp identity assign--resource-group $resourceGroupName --name $functionName

Environment Summary
azure-cli                                          2.2.0

command-modules-nspkg             2.0.3
core                                                2.2.0
nspkg                                              3.0.4
telem

[2020-03-30 12:05] x10an14 commented on #12561
@jiasli Thanks for your thoughtful replies and helpful suggestions!
If it is fixed as you say, then we can close this issue!

Question wrt. to that claim though;

When was this fixed?

I ask because if you're going to specify some date previous to the original opening of this issueticket, I've experienced it since with a newly created application/SP created through ClickOps in Azure DevOps.
(Unfor

[2020-03-30 12:13] x10an14 commented on #12561
## Comment response
@jiasli; If this below claim of yours is correct, then how is it possible for us to have ended up in this situation?

#### We created this SP (and the credential the error message pertains to) NOT in Azure Portal
But with the REST API directly (or so I hope) through Azure DevOps.

Should I verify whether or not your claim affects SPs created in Azure DevOps?

[2020-03-30 12:49] watsonb opened #12792 "az backup protection resume is not working as expected"
**Describe the bug**
After disabling backups via `az backup protection disable`, I would like to resume backups via `az backup protection resume`.  Backups are not being reflected as `enabled` via the Azure portal after resuming backups on a previously `disabled` backup.

**To Reproduce**
1. Check VM current backup status via `az backup protection check-vm`

2. If the output of step 1 is empty/nul

[2020-03-30 12:50] yonzhan commented on #12792
backup

[2020-03-30 13:37] jiasli commented on #12561
If the service principal is created by DevOps, you may contact the DevOps support and share this issue with them. The extra precision digit is _possibly_ caused by .NET which uses [100-nanosecond intervals](https://docs.microsoft.com/en-us/dotnet/api/system.datetime?view=netframework-4.8#datetime-values-and-their-string-representations).

Azure CLI relies on Azure Python SDK which is generated fro

[2020-03-30 13:37] abhiramani-iptiq commented on #12768
@jaredmoo How is this fixed? i am still getting error  and still not working in Azure cloud shell

[2020-03-30 15:11] dasumner commented on #12308
Has anybody had any insight regarding this topic?

[2020-03-30 16:49] jaredmoo commented on #12768
Running `az version` in Azure cloud shell today:

[code]

At https://pypi.org/project/azure-cli/2.2.0/ you can see that 2.2.0 was released on March 9, which is before #12541 was merged on March 16. So the fix is just not yet published. Cheers :)

[2020-03-30 16:59] ekbrothers opened #12794 "az monitor alert deprecation"
Please Note that:
[code]
 is being deprecated for

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 5f601495-154d-5e5c-3692-02f8f41516f7
* Version Independent ID: 2968e230-b7a0-b433-333a-af3bba69fd0e
* Content: [az monitor alert](https://docs.microsoft.com/en-us/cli/azure/monitor/alert?view=azure-cli-latest)
* Con

[2020-03-30 17:30] brunomartinspro opened #12795 "Az webapp create cannot parse runtime"
When attempting to create a webapp for linux using the latest version of the Azure CLI on Azure DevOps the command does not work.

It gives the error:

[code]

The [solution](https://social.msdn.microsoft.com/Forums/en-US/b6febeba-8f5e-4134-8189-04294bbcb766/az-webapp-create-runtime-quotnode610quot-quot610-is-not-recognized-as-an-internal?forum=windowsazurewebsitespreview) was to escape the entire

[2020-03-30 18:51] rosanch commented on #12130
I used az storage copy instead that is working

[2020-03-30 18:56] whisperx commented on #12513
Same issue.
Looks like generic available defect.

[2020-03-30 19:43] tanmayeekamath commented on #9696
Thanks for your feedback @scarolan and apologies for the delay.
This has been in our backlog, however we don't have a timeline for it unfortunately.

Since this was last year, were you able to find a workaround for this? If not happy to jump on a call or start an email thread to help you find alternatives. Please let us know.

Tanmayee

[2020-03-30 19:46] tanmayeekamath commented on #10494
Hello @TCourtneyOwen
Apologies for the delay.

Are you still experiencing this issue?
If so, I can start an email thread to help unblock you for the same.

Thanks,
Tanmayee

[2020-03-30 20:16] bmc-msft opened #12796 "unable to delete an event-subscription that targets a resource that doesn't exist"
**Describe the bug**
Unable to delete an event-subscription that doesn't exist anymore.

I have an event subscription that targets a resource that in a deleted resource group.  When I try to delete it, via:

az eventgrid event-subscription delete --name <name> --source-resource-id <id>, I get back:

Resource group 'GROUPNAME' could not be found.

When I recreate the resource group, I get:

The Res

[2020-03-30 21:23] henriksen opened #12797 "Cannot grant admin consent for an app role permission"
**Describe the bug**
When adding an app role permission (`az ad app permission add --id $daemonId --api $apiId --api-permissions "$appRoleId=Role"`) the output says I have to run `az ad app permission grant` which fails with a 404 Not Found.

Running `az ad app permission admin-consent` also fails, but with a 400 Bad Request.

**To Reproduce**
Commands run in PowerShell Core 7 on Windows 10.

Crea

[2020-03-30 22:51] alex-frankel commented on #12009
Did this get implemented? Are we ignoring the metadata property?

[2020-03-30 22:52] panchagnula commented on #12135
for az webapp up for Linux for Node and Python Linux is the default, How to use it? run the command from the context of directory where the code to deploy is located and az webapp up will try to auto detect language & based on it set the defaults. If you don't want the defaults or need to override it use az webapp create

[2020-03-30 22:54] panchagnula commented on #11519
@ThejaChoudary can you check if this repros using the API directly using resources.azure.com if so this needs to be transferred.

[2020-03-30 22:55] panchagnula commented on #10495
@Kotasudhakarreddy can you take a look at this please?

[2020-03-30 23:12] yonzhan commented on #12794
add to S169

[2020-03-30 23:14] yonzhan commented on #12795
webapp

[2020-03-30 23:20] ekbrothers commented on #12794
What's this mean?

[2020-03-30 23:46] #12130 closed

[2020-03-30 23:48] yonzhan commented on #12796
eventgrid

[2020-03-30 23:49] yonzhan commented on #12797
add to S169

[2020-03-31 00:11] MyronFanQiu commented on #12794
@ekbrothers Please use metric alert instead of alert. It has been deprecated for about 2 years in Azure CLI.

[2020-03-31 00:14] Joseluismantilla opened #12798 "az resource delete --ids get bad request when the resources are different types"
I am trying to delete a vm with all its resources but the command shows a bad request for an internal azure  url.

**Describe the bug**

the az resource delete --ids cannot remove resources by ids with different types.
Messages:

400 Client Error: Bad Request for url: https://management.azure.com/subscriptions/c97666f2-4562-400d-821a-51692e1d20c3/resourceGroups/PRUEBA/providers/Microsoft.Compute/d

[2020-03-31 01:46] yonzhan commented on #12798
add to S169

[2020-03-31 02:15] zhoxing-ms commented on #12009
@alex-frankel No, as previously communicated, CLI does not modify the customer's ARM template, but instead the validation by the Service allows metadata properties.

[2020-03-31 02:21] DavidBurela commented on #8124
I'm a MSFT employee, when I use `az login` I am getting `Unexpected polling state invalid_grant`.
As far as I know, I never opted into AAD insider ring.

Any way to debug this?

[2020-03-31 02:30] jiasli commented on #12790
Azure CLI does handle [asynchronous Azure operations](https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/async-operations) and wait for the resource to be fully deployed. That's why Azure CLI has `--no-wait` parameter to exit immediately, like `az vm create --no-wait`. Later you can use `az vm wait` to wait for the vm to be fully provisioned.

If you see scenarios that are no

[2020-03-31 02:32] #12767 closed

[2020-03-31 02:41] MyronFanQiu commented on #12347
in the swagger spec, IkeEncryption and IkeIntegrity support both GCMAE256 and GCMAE128.
https://github.com/Azure/azure-rest-api-specs/blob/c1ffffc63cc67b1780b4e0a41d0ce28520d9208d/specification/network/resource-manager/Microsoft.Network/stable/2019-12-01/virtualNetworkGateway.json#L3439-L3440

https://github.com/Azure/azure-rest-api-specs/blob/c1ffffc63cc67b1780b4e0a41d0ce28520d9208d/specification

[2020-03-31 02:53] thisisbrianstewart commented on #12621
Are there plans to complete this module?  So much of the common ecosystem around apim is az cli focused (function apps, aks, etc).  Would love to know if this is planned.

[2020-03-31 02:54] MyronFanQiu commented on #12368
@knutsole Hi. @gaoruifeng  is correct. Application-security-groups is not associated to nic directly. An ip-config is created when you run `az network nic create`. So please use `az network nic ip-config update` to update application security groups.

[2020-03-31 02:57] MyronFanQiu commented on #12638
Are you still meeting this issue?

[2020-03-31 03:06] jsntcy commented on #12549
Maybe we need add such deprecate information in our help; otherwise docs CI cannot know this.

[2020-03-31 03:41] jiasli commented on #8124
@DavidBurela, are you logging in with device code? Please run with `--debug` and share the output. Let's discuss via Outlook or Teams.

[2020-03-31 03:43] qwordy commented on #11909
[code]
In this command, “-l” means the snapshot you are going to create is located in eastus.
If “-l” is omitted, location will be same as fyrg2.
You can always use “-l” to specify location explicitly to make the command more clear.
If s1 is a name, Azure CLI will automatically transform it to an ID with assumption of s1 is in fyrg2 in default subscription.
If s1 is an ID, Azure CLI will use it wi

[2020-03-31 03:51] qwordy commented on #11748
Hello?

[2020-03-31 05:23] ReddyMalathi commented on #11487
Hi ...

I also faced the same issue . I created ACR using Azure portal with Basic SKU it worked... Hope this helps...

[2020-03-31 05:26] Kotasudhakarreddy commented on #10495
Sure @Panchagnula, will look into it.

[2020-03-31 05:52] Kotasudhakarreddy commented on #11971
able to repro the issue and will look further to fix the issue.

[2020-03-31 05:52] Kotasudhakarreddy commented on #12090
able to repro the issue and will look further to fix the issue.

[2020-03-31 06:00] jiasli commented on #8124
As discussed offline, you are using device code login with **Windows Hello** which may not be well supported by AAD or Microsoft IT configuration. In the browser, please use normal **username + password + PIN / phone auth / smart card** to login.

[2020-03-31 06:13] qwordy commented on #12594
Azure CLI 2.3.0 is released. It fixes this issue. Download it and have a try. Close the issue now.
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-03-31 06:13] #12594 closed

[2020-03-31 06:21] Nilsas commented on #11748
Alright, I've ran the same thing, although I've updated Az CLI since the original post
[code]

Now I've got a satisfactory result
[code]

I shall close this issue now.

[2020-03-31 06:21] #11748 closed

[2020-03-31 06:25] qwordy commented on #12672
Azure CLI 2.3.0 is released. It fixes this issue. Download it and have a try. Close the issue now.
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

[2020-03-31 06:25] #12672 closed

[2020-03-31 06:43] acidsunburn opened #12801 "Error on testing Multi-container using Docker Compose in Azure Web App for Containers"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._

git fetch  https://github.com/acidsunburn/inhubtest

az group create --na

[2020-03-31 06:51] #12191 closed

[2020-03-31 07:22] ferpega commented on #6881
Same problem here @iamrahul127

[2020-03-31 07:29] madsd commented on #11867
Hi all, @collinstevens @tsgenge @jvanderbiest @jsmed-renson @gavinbarron

The key vault does not have to be in the same resource group as the web app. The --key-vault parameter accepts both a name (then it needs to be in same resource group) or a resource id (then it can be in any resource group or subscription). This is also mentioned in the documentation - how can I make this more clear? More ex

[2020-03-31 07:48] #12787 closed

[2020-03-31 07:48] #12791 closed

[2020-03-31 07:56] qwordy commented on #12459
Agree. Add to milestone S168.

[2020-03-31 08:03] qwordy commented on #12527
@jsntcy Do you know how Azure CLI web pages are generated? How can we fix it? Is the code owned by us?

[2020-03-31 08:17] #12423 closed

[2020-03-31 08:25] qwordy commented on #11909
--location -l

Location. Values from: az account list-locations. You can configure the default location using az configure --defaults location=<location>.

This is help of snapshot create. It is not clear enough. I will update it to let user know exact behavior.

[2020-03-31 08:41] qwordy commented on #12380
Azure CLI 2.3.0 is released. It contains the features described in this issue. Close now. You can still comment here if any problem or feedback.

[2020-03-31 08:41] #12380 closed

[2020-03-31 08:45] qwordy commented on #12633
Azure CLI 2.3.0 is released. It uses VMAccessAgent  2.4.

[2020-03-31 08:45] #12633 closed

[2020-03-31 09:26] yonzhan commented on #12801
webapp

[2020-03-31 10:48] rfcdejong opened #12802 "Azure CLI in browser from portal results into Bad Request.."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Using the Azure CLI on my development laptop I didn't get my visual studio to use my account owner account to access my own just created keyvault. I know what I do and had this working many times before on other subscriptions and key vaults. Now it keeps running into 400 invalid resource trying to get an access

[2020-03-31 10:51] #12069 closed

[2020-03-31 10:54] yonzhan commented on #12802
add to S169

[2020-03-31 11:05] rfcdejong commented on #12802
Maybe it is not relavant, but I do have to have to notice that my laptop has been disconnected from one organisation which had Hybrid Azure AD to a new organisation which has no on premises AD, only Managed Identity in Azure AD. Also I'm using my FIDO2 yubikey as MFA enabled in preview for my account. Including authenticate into windows with FIDO2.

[2020-03-31 11:16] rfcdejong opened #12803 "az account get-access-token from command line results into resource not found"
## Describe the bug
I'm owner of the subscription in the tenant. I created the keyvault myself and added a certificate, configured rbac correctly. I know how it works, I did it often. From Visual Studio using the KeyVaultClient with AuthenticationCallback it resulted into Unauthenticated while I configured my account in Visual Studio options->tools.

This is why I try using Azure SDK Environment c

[2020-03-31 11:36] yungezz commented on #12803
hi @arrownj could you pls have a look? thanks

[2020-03-31 11:51] mal-risma opened #12804 "Bug with TTL in DNS record sets"
**Describe the bug**
We're having issues with setting TTL for TXT records using the CLI. I'm trying to first create an empty record set and then adding records to it. Setting the TTL when creating an empty set works. But when calling add-record, the TTL os overridden with 3600.
Also it is not possible to set TTL with the add-record command.
I'm guessing this behaviour is related to this PR: https:

[2020-03-31 12:31] yonzhan commented on #12804
add to S169

[2020-03-31 12:39] yungezz commented on #11626
the fix is released in Azure CLI latest 2.3.0. pls give a try and let us know if there's any other issue. Close the issue for now. Pls feel free to open new issue or reopen this one if any issue met.

[2020-03-31 12:39] #11626 closed

[2020-03-31 12:40] yungezz commented on #11219
hi @qwordy what's status of PR linked now?

[2020-03-31 12:41] yungezz commented on #12185
the feature is released in Azure CLI 2.2.0. close the issue

[2020-03-31 12:41] #12185 closed

[2020-03-31 12:45] yungezz commented on #11967
hi @ebuzek could you pls try @qwordy suggestion to show existing sig names?

[2020-03-31 12:48] yungezz commented on #4526
HI @troydai are you still seeing the big performance difference? Azure CLi is evolving a lot in past 2 years, I would like to close the issue for now. Feel free to create a new issue if found any performance issue.

[2020-03-31 12:48] #4526 closed

[2020-03-31 12:51] yungezz commented on #8372
Seems the database isn't transitioned. @qwordy  is setting up a new live test pipeline in ADO. Current the goal is to enable efficient/accurate live test run/result. Next step is save test result for analyzing purpose. Close the issue for now.

[2020-03-31 12:51] #8372 closed

[2020-03-31 12:54] #10560 closed

[2020-03-31 12:56] yungezz commented on #8103
hi @jozender is this still an issue for you with the quote on value containing dot?

[2020-03-31 12:57] andmax opened #12805 "Add PPC64 arch support in azure-cli"
After installing azure-cli on an IBM Power8 (ppc64le) machine with Ubuntu 16.04 (following this link: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest) the installation succeeded, but when I run the az command it fails with:

/usr/bin/az: line 2: /opt/az/bin/python3: cannot execute binary file: Exec format error

This is probably due to the fixed arch=arm64 in

[2020-03-31 12:57] yungezz commented on #7717
hi @qwordy could you pls share how cross-subs test supported in live test run?

[2020-03-31 12:58] yungezz commented on #7692
PR ready, need confirm with PM. @bim-msft could you pls follow up on this? thanks

[2020-03-31 12:59] yungezz commented on #9034
hi @mattsmall1972 is this still an issue for you? Does `az keyvault set-policy --object-id` work for you? We'll close the issue for now. Feel free to create new issue if there's any. thanks.

[2020-03-31 12:59] #9034 closed

[2020-03-31 13:01] yungezz commented on #11563
hi @Morriz does above infro from @arrownj make sense for you? would like to close the issue for now. Feel free to create new issue if met any other error. thanks.

[2020-03-31 13:01] #11563 closed

[2020-03-31 13:04] yungezz commented on #11590
HI @brandonh-msft do you know where's cloudshell repo? This is not Azure CLI issue, but cloudshell issue. would like to close the issue here.

[2020-03-31 13:05] yungezz commented on #12571
the feature is released in latest 2.3.0 version, pls give it a try and let us know if any other issue. close the issue.

[2020-03-31 13:05] #12571 closed

[2020-03-31 13:07] yungezz commented on #12652
The doc PR merged, close the issue

[2020-03-31 13:07] #12652 closed

[2020-03-31 13:11] draptik opened #12806 "`az interactive` crashes with "cannot import name 'ENV_ADDITIONAL_USER_AGENT'""
## `az interactive` crashes

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:

- `az interactive --debug`

## Expected Behavior

`az interactive` should not crash.

## Environment Summary
[code]
## Additional Context

Installation source: https://aur.archlinux.org/packages/azure-cli/

[2020-03-31 13:30] watsonb commented on #12792
I suspect the problem is here:

https://github.com/Azure/azure-cli/blob/f6dbd25b57111a3e089cb08bbca0580001a26723/src/azure-cli/azure/cli/command_modules/backup/custom_base.py#L342

The documentation for `az backup protection resume --help` references `--backup-management-type` can take on one of 3 valid values: AzureIaasVM, AzureStorage, or AzureWorkload.

The above referenced method appears not t

[2020-03-31 13:41] derekmckinnon commented on #11867
@madsd I think we all missed that value since the majority of samples don't touch on using resource IDs. In fact, I don't think I've ever used one of them (but will now!) since the description for it seemed...complex? Just never clued in what "One or more resource IDs (space-delimited). It should be a complete resource ID containing all information of 'Resource Id' arguments. If provided, no other

[2020-03-31 14:00] madsd commented on #11867
@derekmckinnon - I think we need to make some changes to the command then. Because it is not the --ids, but the --key-vault parameter, that can accept both a name and an id. E.g. az webapp config ssl import -g myGroup -n myWebApp --key-vault /subscriptions/xxxxxxxx-3304-4890-82af-ec04cb38xxxx/resourceGroups/**otherGroup**/providers/Microsoft.KeyVault/vaults/myKeyVault --key-vault-certificate-name

[2020-03-31 14:08] AjKundnani opened #12807 "Command expects virtual network to be in same resource group as private endpoint"
During execution of command with create option using --vnet-name, the command errors out since it tries to locate vnet in same resource group specific for creation of private endpoint.

If we can highlight same that'll be helpful. If vnet resource group is different than private endpoint than we need to use subnet ID.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs

[2020-03-31 15:15] ChandraSM commented on #9141
Modified version of the above script to delete a sub-directory under main directory inside a file share:
----------------------------------------------------
function RemoveFileDir ([Microsoft.Azure.Storage.File.CloudFileDirectory] $dir, [Microsoft.Azure.Commands.Common.Authentication.Abstractions.IStorageContext] $ctx)
{
    $filelist = Get-AzStorageFile -Directory $dir
    foreach ($f in $fileli

[2020-03-31 15:19] ekbrothers commented on #12794
The official Microsoft documentation online still references az monitor alert.

[2020-03-31 16:21] duanecr opened #12808 "Error when logging into Azure Government"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
Run `az cloud set --name AzureUSGovernment`

Run `az login`

## Expected Behavior

[2020-03-31 17:15] jongio commented on #12613
[code]

[2020-03-31 17:20] jerryc3 opened #12815 "Add new SIG API Version 2019-12-01; Add an encryption field to targetRegions"
- If the issue is to do with Azure CLI 2.0 in-particular, create an issue here at [Azure/azure-cli](https://github.com/Azure/azure-cli/issues)

### Extension name (the extension in question)
az sig image-version

### Description of issue (in as much detail as possible)
-----
SIG recently published a new API version (2019-12-01) to add an encryption field to targetRegions. This is the completed swa

[2020-03-31 17:21] panchagnula commented on #12613
Thank you for the response.
this error message "The Resource 'Microsoft.Web/serverFarms/azsdkdemoplan123' under resource group 'mvpsdkdemorg' was not found."}}" is the detailed message.

[2020-03-31 17:23] pgbconfirmit opened #12809 "Error when attempting to decrypt disks"
The following command throws an error:
az vm encryption disable --name VMName -g ResourceGroup --volume-type ALL

Multiple VMExtensions per handler not supported for OS type 'Windows'. VMExtension 'AzureDiskEncryption' with handler 'Microsoft.Azure.Security.AzureDiskEncryption' already added or specified in input.

Is this a bug, or some limitation I'm unaware of? I found little to no help with se

[2020-03-31 17:29] pgbconfirmit commented on #12809
If there are limitations based on certain scenarios, the instruction page should at least be updated here - https://docs.microsoft.com/en-us/cli/azure/vm/encryption?view=azure-cli-latest

[2020-03-31 17:32] gavinbarron commented on #11867
I'll freely admit that I missed the fact that the docs do say that --key-vault is a name or resouceId. Personally I think that's confusing and easy to miss, however having a clear example call that uses that format would go a long way to improving the docs on this and should be done immediately.

Altering the parameter list to be have explicit name/id parameters could be a good idea too, although

[2020-03-31 17:43] ppanyukov-poq commented on #5190
Can we re-open this please, because it's clearly not fixed. Fails for me too with `2.2.0` version.  Same issue: propagation completes, then cluster create fails straight away. The same happens if I reset password for an existing SP and try to create AKS.

[2020-03-31 17:47] ppanyukov commented on #5190
Can we re-open this please, because it's clearly not fixed. Fails for me too with `2.2.0` version.  Same issue: propagation completes, then cluster create fails straight away. The same happens if I reset password for an existing SP and try to create AKS.

[code]

[code]

[2020-03-31 18:07] jongio commented on #12613
Yeah, can we expose that error message to the user without having to add --debug?

[2020-03-31 18:15] panchagnula commented on #12613
We have requested our API folks to make the changes on their end - in general polish/improve the default error message. For CLI the way to show the inner error message is to run using the debug flag

[2020-03-31 18:17] jongio commented on #12613
1. 'NoneType' object has no attribute 'location' is not a good default error message.
2. The CLI could own parsing the inner message and displaying it.

I don't see how API changes are needed for this.

[2020-03-31 18:21] panchagnula commented on #12613
CLI doesn't create a error messages but displays whatever the API returns. CLI does parse inner error message but only when run by --debug flag.

[2020-03-31 18:24] jongio commented on #12613
"'NoneType' object has no attribute 'location'" comes from the API? -

Seems like we should update the CLI to parse the inner message and display without --debug.  Maybe one level deep?  Else, we'll keep seeing this type of stuff pop up.

[2020-03-31 18:31] brunomartinspro commented on #9763
Same issue here... If the code is open source tomorrow i will debug it..

[code]

[2020-03-31 19:28] jozender commented on #8103
wow, this has been pending for a long time now ;-)
The scenario is still valid, at the same time, I did not get any customer escalations on this recently.
Can this still be fixed so that we are sure it won't create issues in the future?

[2020-03-31 19:42] ktl-lane opened #12810 "How do I set default subscription for connection."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az configure`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az configure {} {} {}`

## Expected Behavior

## Environment Summary
[code]

[2020-03-31 20:02] jdubois opened #12854 "[db-up] installation issues on Mac OS X"
- I'm running Mac OS X 10.15.4
- I'm using az cli 2.2.0, installed using Homebrew

When installing db-up (`az extension add --name db-up`) I have installation errors.

## First error: `Error: pg_config executable not found.`

First error is `Error: pg_config executable not found.`. This is fixed by installing PostgreSQL:

[code]

## Second error: `ERROR: Failed building wheel for psycopg2-binary`

[2020-03-31 20:08] atlemagnussen commented on #12135
@panchagnula sorry, I meant to specify ASP.NET Core app.
Ok. So you can't use "az webapp up" to deploy Asp.net Core on Azure App Service for Linux, is what I wanted to clarify. Thanks

[2020-03-31 20:13] Morriz commented on #11563
I understand. So be it

[2020-03-31 20:14] rameshgit001 opened #12811 "The following is an issue I encountered using Azure Cloud shell while trying to create a service fabric cluster. I noticed that a similar issue was reported by another user earlier. Please let us know if it was resolved. Thanks."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sf cluster create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sf cluster create --resource-group {} --location {} --certificat

[2020-03-31 20:42] allegradomel commented on #12546
@jwrightazure - thanks for bringing this to our attention. @MyronFanQiu I will also try to follow up on this

[2020-03-31 22:02] brandonh-msft commented on #11590
sorry no idea; not even sure there is one

[2020-03-31 22:10] yonzhan commented on #12808
add to S169

[2020-03-31 22:13] pkcsf opened #12814 "AKS CLI is explicitly removing the aadProfile before sending the scale out PUT request"
2.2.0

**Describe the bug**
AKS CLI is explicitly removing the aadProfile before sending the scale out PUT request [see https://github.com/Azure/azure-cli/blob/dev/src/azure-cli/azure/cli/command_modules/acs/custom.py#L2068 ]

**Additional context**

Define the [policy ](https://docs.microsoft.com/en-us/azure/governance/policy/samples/pattern-fields#sample-policy-definition)as given below , which

[2020-03-31 22:14] yonzhan commented on #12805
@fengzhou-msft please take a look.

[2020-03-31 22:28] yonzhan commented on #12806
interactive

[2020-03-31 22:31] CmdrBeavis commented on #11100
I ran the following command; (in a cmd window of course)

`D:\*-api>az webapp create --name "MyWebApp" --deployment-local-git --resource-group HostRestApiWCorsRG --plan MyAppSvcPlan01`

And then got;
[code]

Keep in mind that _NOTHING_ in the Usage text mentions either 'NoneType' nor 'location.'

..Then I did this just to show you which az version I'm running.
[code]

FYI

[2020-03-31 22:33] yonzhan commented on #12807
add to S169

[2020-03-31 22:35] yonzhan commented on #12809
@qwordy  please take a look

[2020-03-31 23:02] yungezz commented on #12814
thanks for reporting, routing to appropriate team

[2020-03-31 23:04] yungezz commented on #12810
hi @arrownj could you pls help on this? thanks

[2020-04-01 01:29] Juliehzl commented on #12762
Hi @RogerBestMsft, I think it may be caused by the python version you are using. We are deprecated the support for python 2.x. Could you please upgrade python version in your machine, or you can consider using linux related package not `pip install`? For more info, please refer to https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest.

[2020-04-01 01:36] Juliehzl commented on #12578
@planteman Sorry for the late response. Could you please share with us the command debug information for your scenario with `--debug` in your command? The Debug information will help us figure out what happened in your issue.

According to the error thrown, it is caused by no valid url, storage account or local path information found. In this way, I am guessing if there is wrong usage in your comm

[2020-04-01 01:42] MyronFanQiu commented on #12794
@ekbrothers which documentation? Can you give me the link and I can find corresponding team to fix it.

[2020-04-01 01:51] MyronFanQiu commented on #12804
@jsntcy Hi. Could you please take a look?

[2020-04-01 01:53] MyronFanQiu commented on #12804
@haroldrandom add the original author. Please take a look.

[2020-04-01 02:02] MyronFanQiu commented on #12807
@AjKundnani Hi. It's a quite common design in Azure CLI and exists for a quite long time. I don't want to change the help message for vnet-name. But I agree with your point and I think we can output extra warning logs. I will improve this part later.

[2020-04-01 02:08] qwordy commented on #11748
Very tricky.

[2020-04-01 02:11] taoyama opened #12818 "az login fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `docker run -it mcr.microsoft.com/azure-cli:2.3.0`
- `az login`

## Expected Behavior

## Environment Summary
[code]
##

[2020-04-01 02:12] taoyama commented on #12818
It is not reproducible with `docker run -it mcr.microsoft.com/azure-cli:2.1.0`.

[2020-04-01 02:23] rosanch opened #12819 "az acr agentpool new sdk not included in last release"
I added the agentpool preview to the cli and was released today but we found in latest 2.3.0 release, windows build contains the latest azure_mgmt_containerregistry-3.0.0rc11.dist but linux build is shipped with azure_mgmt_containerregistry-3.0.0rc9.dist.
So, it's failing to get the agentpool client.

### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Comman

[2020-04-01 02:26] Juliehzl commented on #12478
@webyxdesign To use `az storage account failover` command, you need to make sure `storage-preview` extension installed.
Please run `az extension add -n storage-preview` to install the extension.

[2020-04-01 03:49] qianwens commented on #12818
@jiasli please help take a look.

[2020-04-01 03:49] yungezz commented on #7387
this is planned in Mn as lightweight installer.

[2020-04-01 03:51] yungezz commented on #4514
@qwordy is setting setup a new live test run pipeline for run live only test. This is addressed by it. will close the issue after the pipeline enabled. We don't enable it now to reduce azure capacity.

[2020-04-01 04:51] jiasli commented on #12818
Hi @taoyama, thanks for reporting this issue. I can reproduce by using profiles other than `latest`. It fails with API `https://management.azure.com/tenants?api-version=2016-06-01` because `displayName` is not present.

[code]

We will release a hotfix asap.

[2020-04-01 05:45] qwordy commented on #12459
I get a same error as you if I set `--ssh-dest-key-path "/home/fey/.ssh/authorized_keysaa"`
[code]

[2020-04-01 05:57] yonzhan commented on #12818
add to S168

[2020-04-01 06:25] SidShetye commented on #11937
Let me check shortly and I’ll let you know.

[2020-04-01 06:34] microkost opened #12826 "Extension needed?"
az network: 'bastion' is not in the 'az network' command group.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: c10d6dab-e042-91dc-a213-943af0d5ad0e
* Version Independent ID: 399a501c-b96d-8867-078f-73dd9b8b3da2
* Content: [az network bastion](https://docs.microsoft.com/en-us/cli/azure/network/bastion?view=azure-cli-lat

[2020-04-01 06:35] microkost commented on #12826
az version
{
  "azure-cli": "2.1.0",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli-core": "2.1.0",
  "azure-cli-nspkg": "3.0.4",
  "azure-cli-telemetry": "1.0.4",
  "extensions": {
    "aks-preview": "0.4.34"
  }

[2020-04-01 06:50] yonzhan commented on #12826
add to S169

[2020-04-01 06:52] a-santamaria commented on #12811
thanks for reporting I'm closing it as its duplicate of #12470. should be fix with pr #12731

[2020-04-01 06:52] #12811 closed

[2020-04-01 06:58] qwordy commented on #12315
Simillar issue #12207

[2020-04-01 06:59] qwordy commented on #12207
Similar issue #12315

[2020-04-01 07:00] MyronFanQiu commented on #12826
Hi. This feature starts from 2.2.0. Please upgrade your Azure CLI.

[2020-04-01 07:01] qwordy commented on #12199
https://github.com/Azure/azure-cli/issues/12315
https://github.com/Azure/azure-cli/issues/12207
These issues report similar problems

[2020-04-01 07:05] qwordy commented on #12315
https://github.com/Azure/msrestazure-for-python/issues/140
There is an issue in msrestzure to ask for a fix.

[2020-04-01 07:05] qwordy commented on #12207
https://github.com/Azure/msrestazure-for-python/issues/140
There is an issue in msrestzure to ask for a fix.

[2020-04-01 07:10] jiasli commented on #11924
I have provided explanation at https://github.com/Azure/azure-cli/issues/9250#issuecomment-603622786. You may vote on feedback page.

[2020-04-01 07:11] jiasli commented on #11924
Hi @adlangx, the owner can only be a user or service principal, please see https://github.com/Azure/azure-cli/issues/9250#issuecomment-603621148.

[2020-04-01 07:11] #11924 closed

[2020-04-01 07:23] microkost commented on #12826
Confirmed! Works now, thank you.
az version
{
  "azure-cli": "2.3.0",
  "azure-cli-command-modules-nspkg": "2.0.3",
  "azure-cli-core": "2.3.0",
  "azure-cli-nspkg": "3.0.4",
  "azure-cli-telemetry": "1.0.4",
  "extensions": {
    "aks-preview": "0.4.34"
  }
}

Command group 'network bastion' is in preview. It may be changed/removed in a future release.

[2020-04-01 07:23] #12826 closed

[2020-04-01 07:29] MarkWarneke opened #12829 "get_default_cli broken in auzre-cli-core==2.3.0 knack.experimental not found"
CLI version 2.3.0

**Describe the bug**

`get_default_cli` from [azure-cli-core](https://github.com/Azure/azure-cli/blob/eace739ce64d793d656067eb9a3c417c6d9285bc/src/azure-cli-core/azure/cli/core/__init__.py#L21) throws an error in version 2.3.0 released 31. March:

[code]

I assume in latest  `knack==0.7.0rc1` the experimental is gone:

[code]

**To Reproduce**

Run `get_default_cli` using versio

[2020-04-01 07:49] MarkWarneke commented on #12829
Ok, my bad it will not pick the latest knack==0.7.0rc1 version from the requirements if not specified explicitly.

These requirements will fix it.

[code]

[2020-04-01 07:55] jiasli commented on #12808
Duplicate of https://github.com/Azure/azure-cli/issues/12818. Please see the comment at https://github.com/Azure/azure-cli/issues/12818#issuecomment-607031075.

[2020-04-01 07:55] MarkWarneke commented on #12829
Having just `azure-cli` will solve it too....

[2020-04-01 07:56] #12829 closed

[2020-04-01 08:02] jiasli commented on #11590
It's not that you are not logged in. Azure CLI on Cloud Shell is logged in with MSI, but Cloud Shell fails to return the token occasionally.

Cloud Shell uses a private VSTS repo https://msazure.visualstudio.com/One/_git/compute-CloudShell?version=GBmaster (Need permission to access). We do have a thread with them about this issue.

[2020-04-01 08:10] jiasli commented on #12802
Same issue as https://github.com/Azure/azure-cli/issues/11749

`400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token` is a known issue of Cloud Shell that it intermittently fails with this error.

To solve it, please use Azure CLI on a local machine or run `az login` in Cloud Shell and retry the command.

[2020-04-01 08:33] jiasli commented on #12803
It looks like the `resource` `https://diascertificateskv.vault.azure.net` is not correct. If you debug into

https://github.com/Azure/azure-cli/blob/bb9c5f28db8f0629bb64521809c71e10820daa02/src/azure-cli/azure/cli/command_modules/keyvault/_client_factory.py#L36

You can see `resource` should be `https://vault.azure.net`.

![image](https://user-images.githubusercontent.com/4003950/78115679-bb23dd80

[2020-04-01 08:41] jiasli commented on #12671
Duplicate of #11749

`400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token` is a known issue of Cloud Shell that it intermittently fails with this error.

To solve it, please use Azure CLI on a local machine or run `az login` in Cloud Shell and retry the command.

[2020-04-01 08:44] francovanzyl commented on #6499
Has there been any updates or workarounds to this?

[2020-04-01 09:11] fengzhou-msft commented on #12062
There's security concerns for putting extension directory in front position of sys.path in the above fix PR. And it can not solve the conflicts when 2 extensions depend on the same SDK but with different versions.

We recommend to use vendored SDKs in extensions. An example: https://github.com/Azure/azure-cli-extensions/tree/master/src/storage-preview/azext_storage_preview/vendored_sdks

[2020-04-01 09:54] yooakim commented on #11984
@qwordy - yes, I think it is. Let's close this for now.

[2020-04-01 09:54] #11984 closed

[2020-04-01 10:49] brunomartinspro commented on #9763
Found a working solution in the CLI tests, you need to specify "--object-id" for it to work.
Updating the documentation with a pull request.

[code]

[2020-04-01 11:04] rfcdejong commented on #12803
Yes, that explains why the cli command returned this bad request. The command now works, now I get an access token. Thank you.

Perhaps update the response for the bad request with a suggestion? Else close it

[2020-04-01 11:07] jiasli commented on #12818
We have release 2.3.1 and fixed this issue. Please update the installed Azure CLI and give it a try!

[2020-04-01 11:07] rfcdejong commented on #12802
Using Azure CLI on local machine was in #12803 which got resolved because I used the name of the keyvault instead of just a common resourcename which should had been used.

So this is just a followup error as you @jiasli mentioned

[2020-04-01 11:07] #12808 closed

[2020-04-01 11:22] Kotasudhakarreddy commented on #10495
@qwordy- we have analyzed and identified that Custom table format displays the plain `Key:Value` fields from the parent object. Where as if there is any child object presnt inside a parent object it is unable to convert in table format. Below is sample FYR. Can you please advise

![image](https://user-images.githubusercontent.com/60102891/78131323-85ccbf00-7438-11ea-98f0-5be84aa189ca.png)

[2020-04-01 11:23] jiasli commented on #12803
Hi @rfcdejong, glad to know it is working for you and thanks for the suggestion. But since user can provide all kinds of resources, and may hit different errors, we prefer to keep the message from AAD token server intact:

By the way, this message is already very clear to me about the root cause. Instead, I do agree that key vault's doc can be improved to make it easier to find. 😉

[2020-04-01 11:23] #12803 closed

[2020-04-01 11:28] jiasli commented on #12802
Let's keep this issue open. We are working with Cloud Shell team to fix it.

[2020-04-01 11:29] jiasli commented on #12808
We have release 2.3.1 and fixed this issue. Please update the installed Azure CLI and give it a try!

[2020-04-01 11:45] pmblr2020 opened #12832 "After successful 8 submission it fail with the same credentials."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az webapp up`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az webapp up --sku {} -n {} -l {}`

## Expected Behavior

## Environment Su

[2020-04-01 11:48] taoyama commented on #12818
Thanks for the quick fix!

I've confirmed I can login with 2.3.1.
[code]

[2020-04-01 11:48] #12818 closed

[2020-04-01 12:33] yonzhan commented on #12832
webapp

[2020-04-01 15:04] #8895 closed

[2020-04-01 15:04] #12545 closed

[2020-04-01 15:30] KarenHammons commented on #12263
This bug is created as part of another bug: https://github.com/Azure/azure-cli/issues/7907.  In this earlier reported bug, the issue was not fixed as there are multiple customers using this script and it should not break the current flow. Hence to inform the users about this upcoming changes, only warning was added to notify the users that DNS Zone name will be case insensitive in future.

In this

[2020-04-01 16:23] creadle commented on #7417
I don't understand why this doesn't work...if I were trying to grant access to an on premises resource, it will likely have an IP one of the private IP spaces.

I'm asking, because I'm running into the same issue with Key Vault right now.

[2020-04-01 17:30] batanun opened #12834 "webapp: How to use a vnet in a different resource group?"
How can we use a vnet in a different resource group, when creating an app service environment?

Example:
az appservice ase create -g containers-rg -n test-ase --vnet-name test-vn --subnet containers-subnet

Here I want to create a new ASE in a resource group called "containers-rg". And I want it to use the vnet "test-vn". But since that vnet is in a different resource group (as we want it), this c

[2020-04-01 17:54] salilbapat commented on #12651
We have filed an intenal bug to make this timeout configurable and have prioritized the fix. Will update the thread with ETA for when this will be available.

[2020-04-01 18:19] brandonh-msft commented on #11590
Thanks for this information. I have access, do we have an open work item for it? Should I create one and reference this GitHub issue?

[2020-04-01 18:40] ficocesari commented on #12651
Great thanks!

[2020-04-01 21:15] dollarpo7 opened #12835 "az interactive command fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-04-01 21:25] jishnudantu opened #12836 "az interactive failed to load"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-04-01 22:09] knutsole commented on #12368
I now understand and agree that asg modification is done by the ip-config associated with the nic instead of the nic itself. It does not help that the first (and originally only) asg allowed to be associated with a nic is done so via the auto-creation of the intermediate ip-config of the nic, which is not intuitive. (I'm not sure I'd want to be forced to create a nic in one command, which auto-cre

[2020-04-01 23:14] yonzhan commented on #12834
appservice

[2020-04-01 23:16] yonzhan commented on #12835
interactive

[2020-04-01 23:18] yonzhan commented on #12836
interactive

[2020-04-02 00:25] taoyama opened #12837 "az interactive fails"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `docker run -it mcr.microsoft.com/azure-cli:2.3.1`
- `az interactive`

## Expected Behavior
interactive mode start

[2020-04-02 00:26] KshitijAgrawal opened #12838 "Support "Premium_LRS" as valid storage account type in sig image versions."
**Resource Provider**
Microsoft.Compute

**Description of Feature or Work Requested**
Premium_LRS needs to be supported in sig image versions as a valid storageAccountType.

**Minimum API Version Required**
2019-07-01

**Swagger Link**

**Target Date**
This was missed. Premium_LRS is already going GA. So please treat this as urgent.

Sample the needs to work:
az sig image-version create --resource

[2020-04-02 01:20] yonzhan commented on #12838
@qwordy please take a look.

[2020-04-02 01:26] yungezz commented on #12196
Swagger ready https://github.com/Azure/azure-rest-api-specs/tree/master/specification/imagebuilder/resource-manager/Microsoft.VirtualMachineImages/stable/2020-02-14

[2020-04-02 01:27] yungezz commented on #12196
properties.lastRunStatus wil be displayed in `show` command output, confirmed with PM.

[2020-04-02 01:40] yungezz commented on #12838
Add enum values. Hi @qwordy  pls check if there's any other new enum values added.

[2020-04-02 02:24] arrownj commented on #12810
Hi @ktl-lane , there is no `set` command for `az configure`. You can use `az configure -h` to see how to use it.

If you want to set default value to `az configure`, it would be something like this:
`az configure --defaults group=myRG`

[2020-04-02 02:27] yonzhan commented on #12837
interactive

[2020-04-02 02:28] arrownj commented on #12786
Hi @jurjenoskam , could you please share more about your cases ? Which resources are you met do not support idempotent ? So that we can route to the right service team. Thanks

[2020-04-02 03:02] jiasli commented on #11590
@brandonh-msft, I don't have too much experience on creating work items there. We only have email communication with Cloud Shell team.

[2020-04-02 03:05] #12046 closed

[2020-04-02 03:06] gzuber opened #12840 "[AppService] Fix WEBSITE_RUN_FROM_PACKAGE race condition"
We've seen a case where an app is having deployment issues because the `WEBSITE_RUN_FROM_PACKAGE` app setting isn't being set at app creation but rather during deployment. Because of this, the app setting didn't have enough time to propogate to workers. See details from the RCA below:

[2020-04-02 03:07] yonzhan commented on #12840
AppService

[2020-04-02 03:15] qwordy opened #12841 "Redefine location in Azure CLI"
**Is your feature request related to a problem? Please describe.**

In Azure CLI, location is a global parameter. Some commands has it's own customization. It inherit location from resource group if it is not specified. It's a common practice based on my observation.
It registers location in the command,
[code]
or
Manipulate location in custom function.
However, the behavior is not documented in h

[2020-04-02 03:15] qwordy commented on #12841
OK!

[2020-04-02 03:24] zhoxing-ms commented on #12314
@nachakra Hi, when we call this Service [(Profiles - Create)](https://docs.microsoft.com/en-us/rest/api/cdn/profiles/create), if the tag in the parameter contains a colon, Service will return the following error:
[code]
Could you please take a look~

[2020-04-02 03:36] qwordy commented on #11909
The PR that updating help is merged. It will be released on 4/21/2020.
According to the internal email threads, the question and confusion is solved. Close this issue now.
The more general problem of location is tracked here:
https://github.com/Azure/azure-cli/issues/12841

[2020-04-02 03:36] #11909 closed

[2020-04-02 03:54] fengzhou-msft commented on #12684
Azure CLI 2.3.0 released with the above fixes. Let's wait for a few Sprints, then we can start to clear the universal setting in old extensions and set the min core version to be 2.3.0. We can do it in one shot, but not release them until they have other changes.

[2020-04-02 03:59] jiasli commented on #12836
Duplicate of #12837

[2020-04-02 03:59] #12836 closed

[2020-04-02 04:00] jiasli commented on #12835
Duplicate of #12837

[2020-04-02 04:00] #12835 closed

[2020-04-02 04:01] jiasli commented on #12837
This issue has been fixed by https://github.com/Azure/azure-cli-extensions/pull/1479, please run `az extension update -n interactive` to get the latest version.

[2020-04-02 04:06] karataliu commented on #12814
This is expected behavior, since aadProfile are not changed during scale, they will get removed.

Also by checking 'aadProfile' doesn't really ensure it is an AAD cluster, if passing an empty 'aadProfile{}' in payload, this is also not an AAD enabled cluster.

[2020-04-02 04:08] jiasli commented on #12836
Duplicate of https://github.com/Azure/azure-cli-extensions/issues/1480

[2020-04-02 04:08] jiasli commented on #12835
Duplicate of https://github.com/Azure/azure-cli-extensions/issues/1480

[2020-04-02 04:09] #12837 closed

[2020-04-02 04:13] jiasli commented on #12837
This issue has been fixed by https://github.com/Azure/azure-cli-extensions/pull/1479, please run `az extension update -n interactive` to get the latest version 0.4.4.

[2020-04-02 05:15] Juliehzl commented on #7417
Hi @creadle, could you please create a new issue with debug information in your description to help us figure out what happened?
And I am thinking if your premises resource has private connection enabled.

[2020-04-02 05:35] MyronFanQiu commented on #12591
close this issue since it's resolved.

[2020-04-02 05:35] #12591 closed

[2020-04-02 05:50] MyronFanQiu commented on #12689
Based on swagger spec and python sdk, subscription id is a required argument. I invited service team to take a look.

[2020-04-02 06:06] MyronFanQiu commented on #12506
@droopy4096 Hi. I checked the code and one application-gateway rule can only has one url-path-map. However, one url-path-map can have multiples rules inside one url-path-map by `az network application-gateway url-path-map rule create -h`. Is that what you want?

[2020-04-02 06:17] Wang-Caixing opened #12843 "in azure-cli 2.2.0, when add '--output table' option, encounter an error. It doesn't exist in old version 2.0.*"
azure-cli : 2.2.0

When run command:
az aks get-upgrades --resource-group <ResourceGroup Name> --name <AKSCluster Name> --output table
It reports an error:   Table output unavailable. Use the --query option to specify an appropriate query. Use --debug for more info.

Please refer to the screenshot as below:
![azurecli_error](https://user-images.githubusercontent.com/8428301/78216516-9a6a8f00-74ec-

[2020-04-02 06:38] yonzhan commented on #12843
aks

[2020-04-02 06:54] Kotasudhakarreddy opened #12844 "[SSH] - az webapp ssh is not working on windows OS"
**Describe the bug**
`az webapp ssh` command is throwing an error:`webapp ssh is only supported on linux and mac
` when runs from windows machine.

**To Reproduce**
1. run below command from windows machine
`az webapp ssh -n MyUniqueAppName -g MyResourceGroup`

**Expected behavior**
It should work as on other OS like Mac or Linux

**Environment summary**

**Additional context**

[2020-04-02 06:59] Joe-TJ opened #12845 "Provide version option for Ubuntu user to install"
**Is your feature request related to a problem? Please describe.**

When we update Azure-Cli to 2.3.1 on Ubuntu, we cannot connect to AKS on China Azure.
Error text:
No registered resource provider found for location 'chinaeast2' and API version '2020-03-01' for type 'managedClusters'. The supported api-versions are '2017-08-31, 2018-03-31, 2019-02-01, 2019-04-01, 2019-06-01, 2019-08-01, 2019-10-0

[2020-04-02 07:06] yonzhan commented on #12844
webapp

[2020-04-02 07:08] yonzhan commented on #12845
@fengzhou-msft please take a look

[2020-04-02 07:24] dikokob opened #12846 "Azure CLI Python installation"
pip install azure-cli

**Bug**
[code]
**To Reproduce**
Use the following command pip install azure-cli

**Environment summary**
Python 3.5
Ubuntu-16.04 Docker Container

[2020-04-02 07:28] dikokob commented on #12846
I used the following version 2.2.0 of azure-cli, and that seems to work.

[2020-04-02 07:34] yungezz commented on #12846
@fengzhou-msft  could you pls look at the duplicate issue from user

[2020-04-02 07:53] alangner opened #12847 "Status of 'az storage blob restore' command"
I couldn't find any further documentation for this command. Is it limited to certain regions, and if yes to which ones?
Tried it on a blob storage in westeurope and I get:
A feature was requested which is not yet available in this location

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 472d5f5f-3ce0-1220-3058-4b27068f5

[2020-04-02 09:45] glaubitz opened #12850 "Please bump dependency for azure-batch if possible"
```azure-cli``` still has ```'azure-batch~=8.0'``` in its ```setup.py``` but the current upstream version is 9.0.

Could that dependency be raised? Otherwise Linux distributions such as openSUSE Tumbleweed who always package the latest versions run into dependency issues.

[2020-04-02 09:59] jiasli commented on #11927
This warning has been mentioned in WSL repo as well: https://github.com/microsoft/WSL/issues/3809#issuecomment-458423275

[2020-04-02 10:02] yonzhan commented on #12847
add to S168

[2020-04-02 10:10] yonzhan commented on #12850
@fengzhou-msft  please take a look

[2020-04-02 10:53] raipra opened #12852 "Unable to get the credentials"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2020-04-02 11:40] yonzhan commented on #12852
aks

[2020-04-02 11:41] zaluznoi commented on #11758
Hi @fengzhou-msft  was it ever delivered? cannot find any reference to blueprint related changes.

[2020-04-02 12:50] duduz commented on #7579
Is there any progress on this?

same as @m4r10k , i have like 200 AWS accounts i need to integrate with AAD.

[2020-04-02 13:28] fengzhou-msft commented on #11758
Yes. Please install azure-cli 2.3.1 to add the blueprint extension. Reference doc is [here](https://docs.microsoft.com/en-us/cli/azure/ext/blueprint/blueprint?view=azure-cli-latest).

[2020-04-02 13:40] #12590 closed

[2020-04-02 13:42] brunomartinspro commented on #9763
Somehow my problem was cache.. After restarting the self-host agent it started working..

[2020-04-02 14:33] onionhammer opened #12855 "Why does 'az storage message put' strip quotes?"
No matter how many quotes I put, the quotes are always stripped. This does not seem like the correct behavior.

[code]

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: fac497f1-2ee4-5060-933b-366ec2836fbf
* Version Independent ID: fffc936d-b784-2a49-9f4b-d5e78e9c64e8
* Content: [az storage message](https://docs.microsoft

[2020-04-02 17:13] jluk commented on #12852
@raipra I'm unable to reproduce on the latest 2.3.1 build, could you upgrade and try again?

[2020-04-02 17:15] ngnmhieu opened #12857 "Possible values for --action-name"
Please provide the possible values for `--action-name`. As reflected in azure cli code, those are: "CacheExpiration", "RequestHeader", "ResponseHeader", "CacheKeyQueryString", "UrlRedirect", "UrlRewrite".
See https://github.com/Azure/azure-cli/blob/836da4965ce6db2ffcf37f4d3790d61709267654/src/azure-cli/azure/cli/command_modules/cdn/custom.py

---
#### Document Details

⚠ *Do not edit this section.

[2020-04-02 17:15] rameshgit001 commented on #12811
Thanks a lot for looking into this. As of today, the issue is still happening though.

[2020-04-02 17:18] jluk commented on #12843
I'm not able to reproduce this on 2.3.1

[code]

Could you try an upgrade and repro?

[2020-04-02 17:21] rameshgit001 commented on #12470
My reported issue as in #12811 (which was closed) is still occurring as of today. Is the fix to this problem still pending deployment to production? Thanks.

[2020-04-02 18:05] planteman commented on #12578
Please close this request.  It is created by running az storage without
arguments and of no concern.

Stephane

On Tue, Mar 31, 2020 at 9:36 PM Zunli Hu <notifications@github.com> wrote:

[2020-04-02 19:08] arvindshmicrosoft opened #12858 "List of VM SKUs which support accelerated networking has some undocumented SKUs"
The [code](https://github.com/Azure/azure-cli/blob/86d8163b9baaac785829c0b45731501979b466cd/src/azure-cli/azure/cli/command_modules/vm/_validators.py#L712-L744) which checks for VM SKUs supporting accelerated networking (AN) has a different list of SKUs compared to enumeration of SKUs via command like the below.
[code]
In the existing code there are also several SKUs which are not regularly consum

[2020-04-02 19:24] FrancisGrignon commented on #12692
Got the same issue

`Error running command 'az vmss update \
  --name "iis-web-vmss" \
  --resource-group "iis-web-rg" \
  --enable-terminate-notification true \
  --terminate-notification-time 15
': exit status 1. Output: ERROR: The command failed with an unexpected error. Here is the traceback:

ERROR: 'NoneType' object has no attribute 'terminate_notification_profile'
Traceback (most recent cal

[2020-04-02 19:39] keerthiadu commented on #12651
May I know the measured upload speed on your end?

[2020-04-02 20:13] SidShetye commented on #11937
Yes, still failing with latest az cli tools. I just sent the info over to your email.

[2020-04-02 21:07] jyee021 opened #12859 "Error when upgrading CLI in Azure Cloud Shell"
Trying to upgrade the az cli version in cloud shell to 2.3.x from 2.2.0 using the "curl -L https://aka.ms/InstallAzureCli | bash" command

Getting the following error message:

Collecting azure-mgmt-maps~=0.1.0
  Downloading azure_mgmt_maps-0.1.0-py2.py3-none-any.whl (31 kB)
ERROR: Could not find a version that satisfies the requirement mock~=4.0 (from azure-cli) (from versions: 0.5.0, 0.6.0, 0.7.

[2020-04-02 21:39] itrelouis opened #12860 "Is this command deprecated?"
The output when using this command warns that it's been superseded by 'az deployment group'. I found this from an ADO Azure CLI release task that executed this command and started failing because of that warning -- changing it to 'az deployment group' fixed it.

It would be worth mentioning on this page if it's been deprecated.

---
#### Document Details

⚠ *Do not edit this section. It is require

[2020-04-02 22:28] sambit15k opened #12861 "The command failed with an unexpected error. Here is the traceback: argument of type 'NoneType' is not iterable"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks enable-addons`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks enable-addons --addons {} --resource-group {} --name {}`

##

[2020-04-02 23:49] yungezz commented on #12861
routing to appriopriate team

[2020-04-02 23:51] yungezz commented on #12860
hi @zhoxing-ms could  you pls have a look

[2020-04-02 23:51] yungezz commented on #12859
any instance

[2020-04-02 23:52] yungezz commented on #12857
hi @MyronFanQiu could you have a look?

[2020-04-02 23:53] yungezz commented on #12858
hi @qwordy could you pls have a look

[2020-04-02 23:54] yungezz commented on #12855
hi @Juliehzl could you pls have a look

[2020-04-03 00:05] jluk commented on #12861
Please update to the latest cli-version, as this was a known issue in versions older than 2.2.0.

https://github.com/Azure/azure-cli/issues/11456

[2020-04-03 00:05] #12861 closed

[2020-04-03 01:44] yonzhan commented on #12860
add to S168

[2020-04-03 01:45] yonzhan commented on #12857
add to S168

[2020-04-03 01:48] yonzhan commented on #12855
add to S168

[2020-04-03 01:48] sean-nixon commented on #6802
@jiasli I just came across this issue. I'm also interested in having a programmatic way to easily tell if I'm logged in and have a valid authentication context. My primary use case for this is scripts. The command you recommended does sort of work for interactive sessions, but not very well for scripting. Even if my session has expired, the command exits with a 0 status code and stdout still inclu

[2020-04-03 01:55] jiasli commented on #7579
@duduz, as AAD is deprecating AD Graph and migrating to MS Graph, Azure CLI is also planning on moving to MS Graph. Temporarily, could you try the solution provided by @StarkCaptain and see if it works for you?

[2020-04-03 02:26] fengzhou-msft commented on #12846
@dikokob azure-cli 2.3.x dropped support for python 3.5. Can you use apt to install azure-cli: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest

[2020-04-03 02:28] bim-msft opened #12862 "[KeyVault] Single key import/backup/restore - Managed HSM"
**Resource Provider**
KeyVault

**Description of Feature or Work Requested**
Support single key import/backup/restore on MHSM

**Minimum API Version Required**
7.0

**Swagger Link**
Not needed

**Target Date**
None

[2020-04-03 02:55] rosanch commented on #12819
Fixed in #12820

[2020-04-03 02:55] #12819 closed

[2020-04-03 04:03] jiasli commented on #6802
With the current implementation of ADAL, we can't force ADAL to acquire an **access token** from **refresh token** using [`acquire_token`](https://github.com/Azure/azure-cli/blob/764332b65bd8758696df36921084c033d82e5ff9/src/azure-cli-core/azure/cli/core/_profile.py#L1002). There is no `force_refresh` option to control it. If the token found from the cache is still within the expiration time, ADAL

[2020-04-03 04:58] yonzhan commented on #12862
add to S168

[2020-04-03 05:40] mathieu-benoit opened #12864 "`az aks create --enable-managed-identity --vnet-subnet-id` failing"
## Describe the bug

When creating an AKS cluster with Managed Identity and by providing a Subnet Id, it will fail with the error message below.

**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks create -l

[2020-04-03 05:42] yonzhan commented on #12864
aks

[2020-04-03 08:15] TomGeske commented on #12814
We are currently investigating this issue.

[2020-04-03 08:59] AdnanHodzic commented on #9585
Can confirm this issue still exists and only way to create AKS cluster using `az` cli was by referring to @marchanddesable [comment](https://github.com/Azure/azure-cli/issues/9585#issuecomment-502542000).

Environment summary:

[code]

Initially installed [az from snap store](https://snapcraft.io/azure-cli), but then uninstalled it due to `az` binary not being available after snap install. Resorte

[2020-04-03 09:18] pitpar opened #12866 "fail to create https://docs.microsoft.com/es-es/azure/aks/kubernetes-service-principal"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az ad sp create-for-rbac`

## Expected Behavior

## Environment

[2020-04-03 10:09] qianwens commented on #12866
@pitpar this command failed when getting the managed identity token, can you consistently repro this issue? Can you run other commands in this environment?

[2020-04-03 10:21] yonzhan commented on #12866
add to S168

[2020-04-03 10:47] shmink commented on #12758
Any update on this?

[2020-04-03 11:07] brainbug89 opened #12868 "Certificate-based authentication with Service Pricipal cannot read certificate"
**Describe the bug**

When trying to login via `az login --service-principal --username <APP_ID> --tenant <TENANT_ID> --password certs/azureserviceprincipal.pem --debug` this error message appears:
`[Errno 13] Permission denied: 'certs/azureserviceprincipal.pem'`

Permissions of the cert file are: `-rw-rw-rw-`
Same happens for the generated file `/home/<USER>/snap/azure-cli/7/tmpm75r64sm.pem`

**T

[2020-04-03 11:13] yonzhan commented on #12868
add to S169

[2020-04-03 12:24] jyee021 commented on #12859
Sorry, is that a question for me? my current az cli version is 2.2.0 in the bash shell

john@Azure:~$ az --version
azure-cli                          2.2.0 *

command-modules-nspkg              2.0.3
core                               2.2.0 *
nspkg                              3.0.4
telemetry                          1.0.4

Extensions:
interactive                        0.4.4

Python location '/op

[2020-04-03 13:49] sean-nixon commented on #6802
@jiasli That makes sense. That's a good suggestion to use `az account list-locations` for scripting. Thanks!

[2020-04-03 13:58] fengzhou-msft commented on #12758
@shmink Currently we don't have packages for Mint. Please use pip install or try a Ubuntu package: https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest#no-package-for-your-distribution

[2020-04-03 14:18] nagarajmal opened #12870 "unable to run az aks install-cli"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks install-cli`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks install-cli`

## Expected Behavior

## Environment Summary
[co

[2020-04-03 14:25] MikkelHegn opened #12871 "Autogenerated help example is wrong for `az aks enable-addons`"
### **This is autogenerated. Please review and update as needed.**

The example in the help message of this command is wrong, and since it's autogenerated, I'm not sure how to commit a fix.

**Command Name**
`az aks enable-addons`

**Errors:**
This is the example

This is further up the help message, describing that --subnet is a required parameter:

## To Reproduce:
Steps to reproduce the behavio

[2020-04-03 15:15] bim-msft commented on #12862
Private packages delivered, waiting for feedback.

[2020-04-03 15:24] jluk commented on #12864
cc @feiskyer / @andyzhangx

[2020-04-03 15:37] andyzhangx commented on #12864
cc @norshtein

[2020-04-03 15:54] jgull77 commented on #12042
Issue seems to be reoccuring:
Mac az cli version:  2.3.1
az aks get-credentials --resource-group oneid-pre --name oneid-int-pre-1
No registered resource provider found for location 'usgovvirginia' and API version '2020-03-01' for type 'managedClusters'. The supported api-versions are '2017-08-31, 2018-03-31, 2019-02-01, 2019-04-01, 2019-06-01, 2019-08-01, 2019-10-01, 2019-11-01, 2020-01-01, 2020-0

[2020-04-03 16:03] ams0 commented on #12864
Works for me on 2.3.1. The full command line is:

[code]

[2020-04-03 16:07] jluk commented on #12042
@jgull77 you are hitting a different error, above was triggered by the cluster dep on 2019-11-01 which is available now as you can see in your error message.

The cluster you're trying to access seems to be dependent on the 2020-03-01 API which has not been released for AzureGov yet.

@karataliu do you have an ETA for 2020-03-01 release?

[2020-04-03 16:16] mathieu-benoit commented on #12864
@ams0, do you have the `aks-preview` extension installed too?

[2020-04-03 16:18] ams0 commented on #12864
yes,

[code]

[2020-04-03 16:19] mathieu-benoit commented on #12864
Yep, in my case I don't this `aks-preview` extension, so don't know if it's related to it?

[2020-04-03 16:59] panchagnula commented on #11971
@TimSBenjamin - assuming I am understanding the question correctly,
The command using the property name as linux-fx-version, https://docs.microsoft.com/en-us/cli/azure/webapp/config?view=azure-cli-latest#az-webapp-config-set
is following the CLI naming conventions. The JSON output in all cases does return the properties as per the api-defintion (minus the hyphen '-') Hope this answers your questio

[2020-04-03 16:59] #11971 closed

[2020-04-03 17:38] pkcsf commented on #12814
In fact the issue was reported for AAD enabled cluster

[2020-04-03 17:57] shmink commented on #12758
It's based upon Ubuntu 18.04. That version will work, is there any kind of symlink or forwarder you can do on your end?

[2020-04-03 18:14] aronneagu commented on #12594
I am still having issue with version 2.3.1 (installed via apt on Debian)
[code]
Running the above with --debug
[code]

[code]

[2020-04-03 19:15] kotx opened #12872 "Cannot create new Kubernetes cluster via Cloud Shell."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
Tried to create a new Kubernetes cluster via the Cloud Shell from this article: https://docs.microsoft.com/en-us/azure/dev-spaces/how-to/create-cluster-cloud-shell
**Command Name**
`az aks create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted

[2020-04-03 20:03] ficocesari commented on #12651
~ 10M

[2020-04-03 20:03] ficocesari commented on #12651
The file I was uploading was 500M

[2020-04-03 20:20] chenlomis commented on #11634
@yonzhan , @btardif and I just had a quick chat about this issue and the webapp team is suspecting that the magical .azure file is being created via the CLI rather than the az webapp up command. There's confusion on what this file is and how to make use of it. It'd be great if we could investigate and confirm on what's happening and the next steps

[2020-04-03 23:24] yonzhan commented on #12870
aks

[2020-04-03 23:25] yonzhan commented on #12871
aks

[2020-04-03 23:33] yonzhan commented on #12872
aks

[2020-04-03 23:35] yonzhan commented on #11634
@Juliehzl please help to investigate the issue mentioned above.

[2020-04-04 11:46] TimSBenjamin commented on #11971
@panchagnula - I'm not sure we are talking about the same thing. I don't mean the output of the commands. I mean the commands to set and show independently. See below. The two should be the same, which one doesn't matter.

- az webapp config show linuxFxVersion

- az webapp config set linux-fx-versiony

[2020-04-04 16:54] asheniam commented on #12213
This is a limitation of CLI today.  If you are trying to create a diagnostic setting for subscription to export Activity Logs, you can automate it via Azure Resource Manager (ARM) template

https://docs.microsoft.com/en-us/azure/azure-monitor/platform/diagnostic-settings-template

[2020-04-04 16:54] #12213 closed

[2020-04-04 17:03] asheniam commented on #8570
The error message should be fixed already.

[2020-04-04 17:03] #8570 closed

[2020-04-04 20:21] brianbar-MSFT commented on #12859
AFAIK, we have to wait for the Azure CLI instance in the Azure Cloud Shell container to be updated to the latest release.

[2020-04-04 21:48] ciwchris commented on #12621
If it helps, I am able to create a Developer tier API Management service, as shown in the help of the `apim` command, but not a Consumption tier, which is also shown in the help.
[code]
Results in:

[2020-04-04 22:41] Andriy-dev opened #12873 "az storage account create failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az storage account create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az storage account create -n {} -g {} -l {} --sku {}`

## Expe

[2020-04-04 22:49] Andriy-dev opened #12874 "az group create failed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az group create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az group create -l {} -n {}`

## Expected Behavior

## Environment Summa

[2020-04-04 23:22] yonzhan commented on #12873
add to S169

[2020-04-04 23:24] yonzhan commented on #12874
add to S169

[2020-04-05 00:28] yonzhan commented on #12549
We will work with doc team to show the deprecation info for all CLI commands.

[2020-04-05 05:53] AmitBarthwal opened #12875 "Facing issue with azure blob upload with caching"
I am uploading the static website contents to QA environment blob storage.
It is uploaded successfully but the changes reflecting in the application after 5 to 6 hour time interval.Sometimes the time interval is around 8 hours.

Same upload i am doing in my Dev environment, it is working fine after the blob upload.
I am using below command

az storage blob upload-batch -s ./ -d "$web" --connection

[2020-04-05 08:31] yonzhan commented on #12875
add to S169

[2020-04-05 10:46] naman1901 commented on #12219
Hello, is there an update on this? I'm blocked on deploying AKS cluster without the SPN because of this...

[2020-04-05 11:20] naman1901 commented on #12241
This affects CLI v2.3.1 as well.
My error body looks like this:
`{'additional_properties': {}, 'code': 'InvalidTemplateDeployment', 'message': "The template deployment 'deployment_dry_run' is not valid according to the validation procedure. The tracking id is '0bc402da-dc50-4f34-8416-6834ccbe7edd'. See inner errors for details.", 'target': None, 'details': [<azure.mgmt.resource.resources.v2019_07_

[2020-04-05 11:22] duduz commented on #7579
@jiasli, i will check it, thank you

[2020-04-05 12:25] dmpe opened #12876 "webapp: Fix html a href link"
Update an app service plan. See &lt;a href="https://docs.microsoft.com/azure/app-service/app-service-plan-manage#move-an-app-to-another-app-service-plan"&gt;https://docs.microsoft.com/azure/app-service/app-service-plan-manage#move-an-app-to-another-app-service-plan&lt;/a&gt; to learn more.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue

[2020-04-05 12:27] yonzhan commented on #12876
appservice

[2020-04-05 12:32] yonzhan commented on #12219
AKS service team should be involved into this.

[2020-04-06 02:48] 01011011 commented on #12470
you can use preview CLI 2.0.81 in the meantime as noted. I dont believe this is in prod yet

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: rameshgit001 <notifications@github.com>
Sent: Thursday, April 2, 2020 12:21:23 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Nikola <nikola.ivetic@live.com>; Author <author@noreply.github.com>
Subject: Re: [A

[2020-04-06 07:12] boogy opened #12878 "az login APIVersion 2019-06-01 is not available on Archlinux"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az login`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az login`

## Expected Behavior

## Environment Summary
[code]
## Additional Co

[2020-04-06 07:33] almero2020 opened #12879 "Cannot Combine Service Types"
**Describe the bug**
XML specified is not syntactically valid.

**To Reproduce**
az storage logging update --services btq --log rwd --version 2 --retention 9 --account-name "mytest" --account-key "I am not showing my key here due to security reasons "

**Expected behavior**
KB states block , table and queue can be combined . When I run just b it works , or just q it works , but when I use bqt , or

[2020-04-06 07:35] godlike0108 opened #12880 "Assign a policy through CLI not working."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az policy assignment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az policy assignment create --scope {} --policy {} -p {}`

#

[2020-04-06 09:01] yungezz commented on #12879
hi @Juliehzl could  you pls have a look?

[2020-04-06 09:02] yungezz commented on #12878
hi @arrownj could you pls have a look

[2020-04-06 09:02] yungezz commented on #12880
hi @jiasli could you pls have a look

[2020-04-06 09:31] lzzgeo opened #12881 "AZure-CLI@2.3.1 not work very well for Azure-China"
**Describe the bug**
  Can't jump to web-browser when executing
`az aks browse --resource-group <resource-group-name> --name <k8s-name>`,
The following is console log:
No registered resource provider found for location 'chinaeast2' and API version '2020-03-01' for type 'managedClusters'. The supported api-versions are '2017-08-31, 2018-03-31, 2019-02-01, 2019-04-01, 2019-06-01, 2019-08-01, 2019-10

[2020-04-06 09:31] yonzhan commented on #12880
add to S168

[2020-04-06 09:32] yonzhan commented on #12879
add to S168

[2020-04-06 09:35] yonzhan commented on #12881
aks

[2020-04-06 10:30] MikkelHegn commented on #12871
I'm on the AKS team - do we control how this get autogenerated?

[2020-04-06 10:40] almero2020 commented on #12879
Hi Team , further investigation shows that bq can in fact be run , but t ( table ) alone will cause the error .  That is most likely why bqt does not work , because of t .

[2020-04-06 11:46] yonzhan commented on #12871
@haroldrandom to check whether it is autogenerated by Aladdin.

[2020-04-06 11:54] elpollouk opened #12882 "Logging leaks file handles leading to FD exhaustion for long running scripts"
**Describe the bug**
Each call to `get_default_cli().invoke(...)` will leak a file handle due to logging.

**To Reproduce**
Run this script under Linux:
[code]
**Expected behavior**
When the `invoke()` command returns, all internal resources specific to the child process are released.

**Environment summary**
Untunu 18.04
Python 3.6.9
azure-cli 2.3.1
azure-cli-core 2.3.1

**Additional context**
Th

[2020-04-06 11:57] yonzhan commented on #12882
add to S169

[2020-04-06 12:11] divyamoorthyTR opened #12883 "az role assignment delete does not filter using the filter condition passed in --query"
**Describe the bug**

az role assignment delete does not filter using the filter condition passed in --query

**To Reproduce**

Execute az role assignments delete request using the --query parameter , still all the role assignments are deleted

**Expected behavior**

On using the --query it should filter out the results before deletion

**Environment summary**

**Additional context**

[2020-04-06 12:59] djaus2 opened #12884 "az iot dps delete: The full name required for the Hub"
In most az cli commands, the IoT Hub name _(a single word)_  without a path is what required. For this command, the full 'path' for the name is required.
**.azure-devices.net** needs to attached to the hub name.
This need to be made clear.

**_OR IS IT A BUG IN THE API?_**

---
#### Document Details

The given syntax for the command is
[code]
The example given is:
[code]
The name needs to be **MyD

[2020-04-06 13:05] mattcuk opened #12885 "Resource IDs containing spaces can't be consumed by other az commands"
I've been trying to use a command to list all the Logic App IDs which have an Alert set up for them. To do this, I'm running 2 commands; az resource list, and az resource show. However, since az resource list returns IDs that contain spaces, az resource show will then fail.

**Command Name**
`az resource show --ids $(az resource list --resource-type Microsoft.Insights/metricAlerts --query [].id --

[2020-04-06 13:47] mossywell opened #12886 "az storage account incorrectly requires >3 characters"
**Describe the bug**
When running the command 'az storage account keys list' on a storage account with only 3 characters, it errors 'validation error: Parameter 'account_name' must have length greater than 3'. But,  a 3-character storage account name is valid. https://docs.microsoft.com/en-us/azure/azure-resource-manager/templates/error-storage-account-name.

**To Reproduce**
az login; az storage

[2020-04-06 14:30] odqahn opened #12887 "MariaDB Server does not accept --public-network-access"
## Description:
**Command Name**
[code]

**Errors:**
[code]

## To Reproduce:
Simply try to create or update a mariadb server and disabling the public network access

 `az mariadb server update --name $mariadbServerName --resource-group $rg --public-network-access 'Disabled'`

## Expected Behavior
Should be accepted as documented here: [https://docs.microsoft.com/en-us/cli/azure/mariadb/server?vie

[2020-04-06 15:22] obeyda opened #12888 "ImportError: cannot import name 'ENV_ADDITIONAL_USER_AGENT'"
## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az interactive`

## Environment Summary
[code]

[2020-04-06 15:31] jluk commented on #12881
This is due to 2020-03-01 not being available in AzChina yet.

cc @andyzhangx @feiskyer if they know any ETAs

[2020-04-06 15:42] jluk commented on #12872
@yonzhan can you please tag the cloud shell team for this issue? this looks like it's caused by the cloud shell managed identity endpoint.

[2020-04-06 18:21] keerthiadu commented on #12651
Unfortunately, the timeout parameter is of no significance and is ignored by the blob service when writing to a blobstorage as per[ https://docs.microsoft.com/en-us/rest/api/storageservices/Setting-Timeouts-for-Blob-Service-Operations#exceptions-to-default-timeout-interval]( https://docs.microsoft.com/en-us/rest/api/storageservices/Setting-Timeouts-for-Blob-Service-Operations#exceptions-to-default

[2020-04-06 19:08] noelbundick opened #12890 "2.3.0: Breaking changes to template deployments when using --template-uri"
## Describe the bug

Starting with azure-cli 2.3.0, the default behavior has been updated to process extended JSON syntax.

Previously, a template deployed with `--template-uri` would be executed with the `templateLink` property set. At runtime, `[deployment().properties.templateLink.uri]` would be accessible

With the new behavior, the CLI will download the template from the remote host, preproce

[2020-04-06 19:11] phuot commented on #12125
sorry I missed the notification about the --timeout.
We tried and the --timeout does not solve the issue.

However I have a theory on why such issue occurs and I think I have found a workaround (for the issue where the command does not always complete).

I suspect that the following happens:

1. I deploy a new slot
2. I apply some appSetting config change (which would be detected within 30 sec)
3.

[2020-04-06 19:13] phuot commented on #12125
I found that a similar defect has been opened, s.
https://github.com/Azure/azure-cli/issues/11937

I will add my last comment in the new issue since this one has been closed without being fixed.

[2020-04-06 19:18] phuot commented on #11937
cross referencing similar issue: https://github.com/Azure/azure-cli/issues/12125

I have a theory on why such issue occurs and I think I have found a workaround.

I suspect that the following happens:

1. Our deployment script Creates a new slot
2. Then it applies some appSetting config change (which would be detected within 30 sec)
3. Then is starts the az webapp deployment

While the deployment

[2020-04-06 20:25] a-santamaria opened #12891 "az sf application update --application-parameters removes old parameters that are not in the request"
## Describe the bug
Update application using --application-parameters replaces all the current parameters with the ones provided in the command instead of adding and updating them, so it will remove previous parameters that are not passed in the command.

**Command Name**
`az sf application update`

## To Reproduce:
run az sf application update with parameter `--application-parameters`

## Expecte

[2020-04-06 21:05] wolesolana commented on #9763
@brunomartinspro I'm running into the same issue as well. What self-host agent did you restart? We have an Azure subscription running in the cloud.

[2020-04-06 21:26] bmukes opened #12892 "az monitor metrics alert create returns invalid JSON on success."
**Describe the bug**
After a successful call to _az monitor metrics alert create_ in PowerShell 7,  I expect to get a [String] of JSON returned.  Instead I am getting an [Object[50]] because the first two lines of the response are

_ANTLR runtime and generated code versions disagree: 4.8!=4.7.2_

followed by 48 array elements containing the JSON return value.

**See returned value below:**

[code]

[2020-04-06 21:27] brunomartinspro commented on #9763
I registered self hosted agents, running on docker with Kubernetes. https://docs.microsoft.com/en-us/azure/devops/pipelines/agents/docker

I spent hours looking into the source code, trying multiple solutions and had no success until I restarted the self hosted agent. After restarting all the steps worked on azure DevOps, I assume it’s cache because when I destroy the Kubernetes Deployment and run

[2020-04-06 22:59] a-santamaria commented on #12660
thanks for reporting this its duplicate of #12470. it will be fix in the next release with pr #12731. Please use  Azure CLI 2.0.81 in the meantime.

[2020-04-06 23:29] yonzhan commented on #12883
add to S169

[2020-04-06 23:30] yonzhan commented on #12884
iot

[2020-04-06 23:31] yonzhan commented on #12885
add to S169

[2020-04-06 23:33] yonzhan commented on #12886
add to S169

[2020-04-06 23:35] yonzhan commented on #12887
mariadb

[2020-04-06 23:37] yonzhan commented on #12888
interactive

[2020-04-06 23:41] jongio commented on #12653
@yungezz - Did you get a chance to look at this?

[2020-04-06 23:49] yonzhan commented on #12890
add to S169

[2020-04-06 23:52] jlian commented on #12884
@digimaun and @iluican thoughts?

[2020-04-06 23:57] ajlam commented on #12887
@kummanish - can you take a look?

[2020-04-06 23:57] yonzhan commented on #12891
sf

[2020-04-06 23:58] yonzhan commented on #12892
add to S169

[2020-04-07 01:58] jiasli commented on #12872
Duplicate of #11749. This is a Cloud Shell issue. I can't repro on my Cloud Shell:

[code]

[2020-04-07 02:05] zhoxing-ms commented on #12471
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-04-07 02:05] #12471 closed

[2020-04-07 02:05] zhoxing-ms commented on #12592
Because there is no reply to this question for a long time, I will close it temporarily. If you have any questions, please feel free to let us know.

[2020-04-07 02:05] #12592 closed

[2020-04-07 02:08] kringen opened #12894 "AKS missing API 2020-03-01 in Azure Government"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks show`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks show -g {} -n {}`

## Expected Behavior

## Environment Summary
[code

[2020-04-07 02:21] MatisseHack commented on #9536
The trick @adstep pointed out of wrapping the double quoted string in single quotes does indeed work!

I do think this is a bug in the Azure CLI for Windows though. An ampersand inside of a quoted string should not be an issue. For example `Write-Host "fast&furious"` works just fine and outputs `fast&furious` as you'd expect.

Also the same `az storage blob copy start` command works fine in PowerS

[2020-04-07 02:26] andyzhangx commented on #12881
cc @karataliu @fseldow

[2020-04-07 02:34] zhoxing-ms commented on #12721
@happyiphone Hi, I can't reproduce your question. Could you please provide more specific parameter information? Placeholders can be used instead of sensitive privacy information.

[2020-04-07 02:58] yonzhan commented on #12894
aks

[2020-04-07 02:58] zhoxing-ms commented on #12860
@itrelouis Yes, `az deployment group` will be used instead of `az group deployment`.
And there are prompts when executing the command or using `az group deployment -h`:

Do you have any other questions?

[2020-04-07 03:00] zhoxing-ms commented on #12696
@sanghoonkim0918 Hi, I can't reproduce your question. Could you please provide more specific parameter information? Placeholders can be used instead of sensitive privacy information.

[2020-04-07 03:01] zhoxing-ms commented on #12540
@wangdian Hi, I can't reproduce your question. Could you please provide more specific parameter information? Placeholders can be used instead of sensitive privacy information.

[2020-04-07 03:02] zhoxing-ms commented on #12696
It seems to be the same problem #12540

[2020-04-07 03:32] jiasli commented on #12888
Duplicate of https://github.com/Azure/azure-cli-extensions/issues/1480

[2020-04-07 03:32] #12888 closed

[2020-04-07 03:37] zhoxing-ms commented on #12646
@cwickham33 Hi, here is a document that contains the instructions on how to use `@`: [Tips for using Azure CLI effectively](https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#quoting-issues)

    `az ad app create --display-name my-native --native-app --required-resource-accesses @manifest.json`

The data structure used in the input file is JSON.

        az resource create -g

[2020-04-07 05:14] MyronFanQiu commented on #12368
close this issue since it's been solved.

[2020-04-07 05:14] #12368 closed

[2020-04-07 05:30] jiasli commented on #12883
`--query` is designed to filter the output. It doesn't affect the input. Besides, the underlying API [Role Assignments - Delete](https://docs.microsoft.com/en-us/rest/api/authorization/roleassignments/delete) doesn't support filtering.

You may run `az role assignment delete -h` to check supported parameters.

[2020-04-07 05:30] #12883 closed

[2020-04-07 05:38] xinlizhou opened #12895 "AKS - Azure China missing 2020-03-01 in cli 2.3.1"
**Describe the bug**
Command Name
az aks get-credentials

Errors:
No registered resource provider found for location 'chinaeast2' and API version '2020-03-01' for type 'managedClusters'. The supported api-versions are '2017-08-31, 2018-03-31, 2019-02-01, 2019-04-01, 2019-06-01, 2019-08-01, 2019-10-01, 2019-11-01, 2020-01-01, 2020-02-01'. The supported locations are 'chinaeast2, chinanorth2'.

**To

[2020-04-07 05:40] jiasli commented on #12880
@godlike0108, I suspect the JSON string is interpreted by the shell. On MacOS/Bash, the easiest way to bypass that is to surround the JSON string with single quotes, like

[code]

You may run `az policy assignment create -h` for examples.

If that doesn't solve the issue, could you share the full command with arguments?

[2020-04-07 05:57] yungezz commented on #12895
thanks for reporting, routing to appropriate team

[2020-04-07 06:04] andyzhangx commented on #12881
try to use an older version by running azure-cli container:
https://github.com/Azure/azure-cli#docker

e.g.
[code]

[2020-04-07 06:17] george1991lt opened #12896 "az disk create issue"
### **This is an autogenerated template. Please review and update as needed.**

## Describe the bug

**Command Name**
`az disk create`

**Errors:**

:confused:

[code]

## To Reproduce:
Steps to reproduce the behavior. Note: Command arguments have been redacted.

- `Fill in additional info here`
- `Run: az disk create --resource-group {} --name {} --source {}`

## Expected Behavior

A clear and co

[2020-04-07 07:18] Kotasudhakarreddy commented on #11925
Looking in to it.

[2020-04-07 07:38] MyronFanQiu commented on #12638
close this issue since no response. Feel free to open a new one.

[2020-04-07 07:38] #12638 closed

[2020-04-07 07:59] MyronFanQiu commented on #12892
@bmukes Hi. Looks like you installed a new version of ANTLR4 runtime. Could you please run `pip show antlr4-python3-runtime` to see which version you are using? It should be 4.7.2 but you should see 4.8. I'm investigating the root cause right now. To unblock you quickly, you can install the 4.7.2 instead by `pip install antlr4-python3-runtime==4.7.2`

[2020-04-07 09:01] MyronFanQiu commented on #12892
@jiasli  I just found that in azure-cli-core, we have extra dependency antlr4-python3-runtime. Can you confirm can we remove this one from azure-cli-core package? I would add it into azure-cli setup.py

[2020-04-07 09:53] rushilShetty commented on #11576
Hello, we're facing the same issue here. Is this a known service side issue or is it by design? Can someone please confirm?

[2020-04-07 10:08] yungezz commented on #12896
hi @qwordy could you pls have a look? thanks

[2020-04-07 11:11] siwamhader opened #12900 "Unable to merge Credentials for Cluster"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks get-credentials`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks get-credentials --resource-group {} --name {}`

## Expecte

[2020-04-07 11:16] yonzhan commented on #12900
aks

[2020-04-07 11:36] #12570 closed

[2020-04-07 12:02] batanun opened #12901 "Some more advanced examples would be nice"
An example of an advance example could be how to add an IP to a security rule.

---
#### Dokumentinformation

⚠ *Redigera inte det här avsnittet. Det krävs för docs.microsoft.com ➟ länkning till GitHub-problem.*

* ID: d1559576-e557-21a3-cd99-81df8978e8d2
* Version Independent ID: e33f3fe2-041f-324c-4f42-3cc82ac40c80
* Content: [az network nsg](https://docs.microsoft.com/sv-se/cli/azure/network/ns

[2020-04-07 13:10] qianwens commented on #12901
@MyronFanQiu, please help take a look.

[2020-04-07 13:45] carlowahlstedt opened #12902 "az vm create from an image without a configured vmImageAliasDoc fails to create the vm"
## Describe the bug
After registering a new cloud (`az cloud register`), if attempt to create a vm from an image without first setting `--endpoint-vm-image-alias-doc` to some value then you cannot create the vm.

**Command Name**
`az vm create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive informat

[2020-04-07 14:10] gandhirajan opened #12903 "Bypass firewall for Microsoft service option in 'az eventhubs namespace network-rule add'"
When I create an eventhub namespace and eventhub using Azure CLI, by default 'Allow trusted Microsoft services to bypass this firewall?' option is set to 'No' under 'Firewalls and virtual networks'.

I don't see any option to turn this to 'Yes' in 'az eventhubs namespace network-rule add' CLI command. Can't this option be turned to 'Yes' from CLI command?

---
#### Document Details

⚠ *Do not edit

[2020-04-07 14:12] ilayn commented on #7013
I received the same error and no details even with `--verbose` switch.

[2020-04-07 14:20] TheAzureGuy007 commented on #6811
this will not work in case you are trying from cloudshell, recommend - Use "--listen-port"

[2020-04-07 14:24] Lectem commented on #10302
I just encountered the issue too while using the AzureFileCopy task.
It seems like by default, windows does not have the content type set for .js (or some application removes it).

a workaround is to have the following script:

[code]

[2020-04-07 14:48] bmukes commented on #12892
OK I do not use python and after checking add/remove programs I do not have ANTLR installed.  After using Google I went into Visual Studio 2019 and opened the python environment window and provided screen shots of what I saw there.  Ran the pip show command using the open in powershell window and got no response.

I checked Visual Studio code
[code]

and I have NO python or ANTLR extensions instal

[2020-04-07 14:48] bmukes commented on #12892
sorry did not mean to close it press the wrong button

[2020-04-07 15:28] godlike0108 commented on #12880
My full command with arguments looks like this:
[code]
And I just figure out that I should always provide a key called `value` to prevent from this error.
[code]

[2020-04-07 16:01] Kotasudhakarreddy commented on #11925
I am able to repro the issue. Working on the fix.

[2020-04-07 16:30] jluk commented on #12895
This is a known issue and is being investigated cc @feiskyer

[2020-04-07 16:32] jluk commented on #12894
This is a known issue in the latest API not being published in Azure Gov, AKS team is investigating a resolution. cc @feiskyer

[2020-04-07 16:59] adhodgson1 opened #12905 "Add ability to attach subnet to NSG when using az network vnet create"
**Is your feature request related to a problem? Please describe.**
Using a subscription with a subnet NSG enforced policy as per this link:
https://github.com/Azure/azure-policy/tree/master/samples/Network/enforce-nsg-on-subnet
It is not possible to create a new virtual network using the Azure CLI.

Creating the vnet without a subnet fails due to the policy with the following command:
az network v

[2020-04-07 17:00] pvanroos opened #12906 "Do the samples work?"
Did you test them?  I can't get some of them to work.  For example, this one doesn't work even when I put in a valid subscription id:
az policy set-definition create -n readOnlyStorage --definitions '[
        { "policyDefinitionId": "/subscriptions/mySubId/providers/Microsoft.Authorization/policyDefinitions/storagePolicy" }
    ]'

---
#### Document Details

⚠ *Do not edit this section. It is req

[2020-04-07 17:35] jluk commented on #12900
@siwamhader could you upgrade to 2.3.1 and try again?

[2020-04-07 17:42] bmukes commented on #12892
I also checked the Python location specified in the AZ --version command and could not find a pip command

[2020-04-07 17:58] kummanish commented on #12887
The CLI version needs to be changed to : azure-cli 2.3.0
It should work with that version.

[2020-04-07 17:59] graydwarf opened #12907 "FileNotFoundError: [WinError 3] The system cannot find the path specified: 'U:\\\\'"
I'm following the instructions found here:
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest

and when I type 'az login' like this:
C:\Users\me\source\repos> az login

I get this error message:
[code]

***edit - ignore this statement and see below. - I searched through env vars for anything U: related and found nothing. I have no U: drives although I could have eas

[2020-04-07 18:02] DavidParks8 commented on #11379
I can confirm this behavior is an issue for much more than just ml. When HOME is not set, this is the output of the help text of az:

[code]

Notice how a bunch of the subgroups are missing.

[2020-04-07 18:02] ramnov commented on #12887
Please use [latest cli version 2.3.1](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-apt?view=azure-cli-latest)

You can check if --public-network-access is a supported argument using the help option :
az mariadb server create -h
az mariadb server update -h

[2020-04-07 18:10] lprichar opened #12908 "`az aks scale` gives "too many 500 error responses""
## Describe the bug

**Command Name**
`az aks scale`

**Errors:**
[code]

## To Reproduce:
I've tried logging on as a regular user, as a service principal, with version 2.3.1 of Azure CLI on Windows and with version 2.2 of Azure CLI in WSL.  Autoscaling is false in my cluster.  There is only one node pool (called default). This cluster was created through Terraform. Other az commands work fine. I

[2020-04-07 18:44] DavidParks8 commented on #11379
The issue also occurs when running as root. In such a case, HOME is set to /root in ubuntu 16.04 LTS. Setting HOME=. seems to cause all the subgroups to be resolved again.

[2020-04-07 18:53] DavidParks8 commented on #11379
@haroldrandom considering the broad scope of this issue across many services, do you still think this should not be fixed centrally?

[2020-04-07 22:22] ilayn commented on #6545
Whoever reading these issues, could you please write meaningful error messages?

If there is an error don't just print it, add a reason why it choked next to it so we don't need to debug the simplest command such as `az webapp create `. It looks like error comes from Python code, just put

[code]

How difficult is this to write? Why am I continuously googling your cryptic error messages? Why is th

[2020-04-07 22:54] yonzhan commented on #12901
add to S169

[2020-04-07 22:55] yonzhan commented on #12902
@qwordy  please take a look

[2020-04-07 22:56] yonzhan commented on #12903
eventhubs

[2020-04-07 23:16] galiacheng opened #12909 "-j/--handle-extended-json-format does not work as expected for mutil-line string containing double quotes"
Hi experts,
I found if an ARM template contains multi-line string containing double quotes, the template deployment will fail, please help to check, thank you.
I would like to pass parameters that contains double quotes to shell script within virtual machine extension, please see variables executeCustomScriptArguments1. The template deployment failed. I deploy the template with az cli flag --handl

[2020-04-07 23:38] qianwens commented on #12905
@MyronFanQiu , please help take a look at this issue.

[2020-04-07 23:39] qianwens commented on #12906
@zhoxing-ms please help take a look.

[2020-04-07 23:43] qianwens commented on #12907
@jiasli please help take a look.

[2020-04-07 23:45] qianwens commented on #12909
@zhoxing-ms , please help take a look.

[2020-04-07 23:50] jluk commented on #12908
@lprichar thanks for the traces, the last fiddler error seems to point to the SP not having permission to complete the scale. could you double check the SP being used is valid, was it generated by the CLI or did you bring it yourself?

If you brought it yourself can you ensure it has all the proper access doc'd here?
https://docs.microsoft.com/en-us/azure/aks/kubernetes-service-principal#delegate-

[2020-04-08 01:40] lprichar commented on #12908
Made the SP myself, I believe.  It's what Terraform runs as, and thus it created the cluster along with all our other Azure resources.  I'll double check on those permissions in the morning.  But is the SP even required?  That wasn't clear from the docs.  I feel like it should work when I run it just with a regular az login as myself (i.e. not with `--service-principal`).

[2020-04-08 01:52] samcarton commented on #9514
I was unable to get the `az webapp config set --generic-configurations` command you linked to to actually set this flag (without needing to pass in an additional json file). Seems to be the same problem as [this issue](https://github.com/Azure/azure-cli/issues/10248), which was also closed without any real helpful solution. What did work for me was [this solution from stack overflow](https://stack

[2020-04-08 01:56] Juliehzl commented on #10302
`az storage blob sync` depends on AzCopy and in latest AzCopy 10.3.4, setting content type is not supported. @zezha-msft Can you help plan for content type setting in AzCopy support?

[2020-04-08 01:58] MyronFanQiu commented on #12892
@bmukes Hi. Can you share your installation steps for Azure CLI? Which source are you using from? msi or pip?

[2020-04-08 02:08] ameert opened #12911 "SSL Certificate Verification Can't be turned off for azure-ml"
**Describe the bug**
AZURE_CLI_DISABLE_CONNECTION_VERIFICATION doesn't work with az-ml operations. https://github.com/Azure/azure-cli/blob/dev/doc/use_cli_effectively.md#working-behind-a-proxy

**To Reproduce**
Install the CLI on a computer that requires AZURE_CLI_DISABLE_CONNECTION_VERIFICATION =1 to successfully connect to azure. Then install the az-ml-cli. Then try to run ml commands (connect t

[2020-04-08 02:32] jiasli commented on #12907
Per the source code, https://github.com/Azure/azure-cli/blob/2e4010d6576b9334498b9b3c48e6aa50f145e8d6/src/azure-cli-core/azure/cli/core/_environment.py#L9

Azure CLI uses the value of `AZURE_CONFIG_DIR` as the config folder. Could you check if the value has been changed?

[code]

[2020-04-08 02:36] jsntcy opened #12912 "[Breadth Coverage] Onboard CostManagement Commands"
**Spec Link**
https://microsoft.sharepoint.com/:w:/t/AzureManagementExperience/EQkYn3bWYbxFhl7xfVAIHLsBgU4uf0IfwSbBRnm7Xgy-_Q?e=HIdYqk

**ADO Work Item Link**
https://dev.azure.com/azure-mgmt-ex/Onboarding/_workitems/edit/146

**Resource Provider**
What is the Azure resource provider your feature is part of?
Microsoft.CostManagement

**Description of Feature or Work Requested**
Support Azure CLI c

[2020-04-08 02:43] jsntcy commented on #12912
@haroldrandom, if you have time, you can review the spec and play with the key use cases in Azure portal first.

[2020-04-08 02:51] jiasli commented on #12892
This dependency was introduced by https://github.com/Azure/azure-cli/pull/7037
[code]

`azure-cli-core` doesn't rely on antlr. We can move the dependency to `src/azure-cli/setup.py` instead.

[2020-04-08 03:26] Juliehzl commented on #12879
@almero2020 Thanks for your feedback! It is because table service doesn't support `version 2`. You can user version 1 for logging.
@srinathnarayanan Could you please help confirm the valid version number in request for table service logging?

[2020-04-08 03:46] Juliehzl commented on #12855
@onionhammer Could you please use `--content '\"\"\"acerwv\"\"\"'` to add "?

[2020-04-08 04:14] vincejohnsonDoC opened #12913 "AGW failed to start"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network application-gateway start`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az network application-gateway start --name {} --re

[2020-04-08 04:14] vincejohnsonDoC commented on #12913
next attempt at start succeeded.

[2020-04-08 05:04] Juliehzl commented on #12762
Because no response for several days, I will close the issue and if there is any problem, please create a new one.

[2020-04-08 05:04] #12762 closed

[2020-04-08 05:07] #12578 closed

[2020-04-08 05:12] #10924 closed

[2020-04-08 05:13] #12478 closed

[2020-04-08 05:56] Juliehzl commented on #12847
Hi @alangner, because this feature is just in private preview and only several regions are available now,   after public preview Storage team will provide detailed documentation for this feature.
Currently the following regions are available:
[code]

[2020-04-08 05:56] #12847 closed

[2020-04-08 06:15] siwamhader commented on #12900
@jluk thanks for the tip, it is working now.

[2020-04-08 06:15] #12900 closed

[2020-04-08 06:21] odqahn commented on #12887
Thank you for your answer!

I am using cloud shell and I have no idea how to update the CLI there. Tried to restart my session but it did not change anything. And I can't install CLI on my own computer (company restrictions).

I guess this is another issue.

[2020-04-08 06:55] qianwens commented on #12913
@MyronFanQiu to take a look.

[2020-04-08 06:57] MyronFanQiu commented on #12892
@bmukes Hi. If you install azure cli through msi, I think you need to wait for the release of new version of Azure CLI. You can also install it again via pip and overwrite the antlr4-python3-runtime to the 4.7.2 version.

[2020-04-08 07:10] #12773 closed

[2020-04-08 07:20] zezha-msft commented on #10302
Hi @Juliehzl, we will target 10.5 for this fix. Thanks for the reminder!

[2020-04-08 07:30] MyronFanQiu commented on #12913
@vincejohnsonDoC good to know.

[2020-04-08 07:30] #12913 closed

[2020-04-08 07:55] valdisiljuconoks commented on #6235
why description change for the `ports` argument is not yet changed?

[2020-04-08 08:11] haroldrandom commented on #11379
@DavidParks8 Thanks for the remind, I will think about how to deal with it in CLI.

[2020-04-08 08:17] almero2020 commented on #12879
Hi Julie . You are a 100% correct .
I can confirm that using v1 for Table works .
We can close this ticket THANK YOU .

Hoping to see all 4 type ( qbtf ) supported and v2 for all so we can standardize our scripts .

[2020-04-08 09:00] qwordy commented on #12896
2.0.62 is old. Can you install the latest version of Azure CLI and rerun it?

[2020-04-08 09:04] qwordy commented on #12207
I have upgraded msrestazure version in Azure CLI. A new version of Azure CLI will be released on 4/21/2020. This issue will be resolved.

[2020-04-08 09:10] qwordy commented on #12016
@jorgedionisio Any update?

[2020-04-08 09:18] feiskyer commented on #12895
@xinlizhou Could you use an older version of CLI as a mitigation? API version 2020-03-01 is not supported yet on AKS China.

[2020-04-08 09:27] yonzhan commented on #12905
add to S169

[2020-04-08 09:30] andyzhangx commented on #12895
try to use an older version by running azure-cli container:
https://github.com/Azure/azure-cli#docker

e.g.
[code]

[2020-04-08 09:55] yonzhan commented on #12906
add to S169

[2020-04-08 10:04] yonzhan commented on #12909
add to S169

[2020-04-08 10:08] jorgedionisio commented on #12016
I’ll put my commands here shortly

On Wed 8 Apr 2020 at 10:10, Feiyue Yu <notifications@github.com> wrote:

--
A presente mensagem pode conter informação considerada confidencial.
Se o receptor desta mensagem não for o destinatário indicado, fica
expressamente proibido de copiar ou endereçar a mensagem a terceiros.
Em tal situação, o receptor deverá destruir a presente mensagem e por
gentileza inf

[2020-04-08 10:32] markusbuehler opened #12922 "az sql server ad-admin create throws error"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sql server ad-admin create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sql server ad-admin create --resource-group {} --server

[2020-04-08 10:57] thomhurst commented on #12721
Hi I'm also getting this:

[code]

[2020-04-08 11:08] fume commented on #11534
i'm trying to achieve almost the same using something like this:
[code]
but i'm getting the following error back:
[code]

Then tried with `--set` instead of `--add` and the error changed to
[code]
Managing optionalClaims via Azure CLI would be great. We could then specify the `additionalProperties` for claims like `groups` to achieve what @mrajaian is asking.

[2020-04-08 11:27] yonzhan commented on #12912
add to S169

[2020-04-08 11:41] yonzhan commented on #12911
ML

[2020-04-08 11:55] nboeckmann commented on #12922
I'm experiencing the same issue. Running it in an Azure DevOps task "Azure CLI v2.0"

[2020-04-08 11:55] yonzhan commented on #12922
sql

[2020-04-08 12:52] fume commented on #9501
any update on this?

[2020-04-08 12:56] aelmos opened #12923 "az interactive fail to start on MacOS"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-04-08 12:58] aelmos commented on #12923
Found the fix in another ticket:

**az extension update -n interactive**

[2020-04-08 12:58] #12923 closed

[2020-04-08 13:57] bmukes commented on #12892
My installation is via msi.  I will wait on the release of the new version.  Thanks

[2020-04-08 14:05] jiasli commented on #9501
As MS Graph is now GA, you may use [Update application](https://docs.microsoft.com/en-us/graph/api/application-update?view=graph-rest-1.0&tabs=http) API directly with `az rest` to achieve the same effect as updating `replyUrlsWithType`.

The GUID part in the URL is the object ID of the application. You can retrieve it with application ID using

[code]

Get the application:

[code]

Update `redirec

[2020-04-08 14:05] T-Grave opened #12924 "cannot attach ACR to AKS cluster"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az aks update`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az aks update -n {} --resource-group {} --attach-acr {}`

## Expected Beha

[2020-04-08 14:11] yonzhan commented on #12924
aks

[2020-04-08 14:44] cwickham33 commented on #12646
The original problem is that the workflow was designed to run with powershell except for this step and it wasn’t clear on that page, that you had to break to the cmd.exe line in order to have the @ recognized. I was working from a windows machine and not linux. This page is linux oriented so, no, it doesn’t help in the windows case.

c

From: Xing Zhou <notifications@github.com>
Sent: Monday, Apri

[2020-04-08 14:51] harshvirbhati commented on #9345
I had the same error but found there was a spelling mistake in my command on AZ CLI. It was working after correcting the spelling. I hope this is helpful to someone.

[2020-04-08 15:28] jluk commented on #12908
The service principal being used is being given to the AKS service to create all the infra your cluster needs such as the compute/networking/storage. So, yes you will need to provide some form of auth to AKS to create a cluster for you as there is also ongoing management of those resources by AKS to keep your cluster healthy once running.

You can supply your own SP, have AKS generate an SP for yo

[2020-04-08 15:29] jluk commented on #12924
@T-Grave could you reproduce the error and share the full debug error produced from azcli?

If this is the error returned from the AKS service we'll need to take a look via a support ticket.

[2020-04-08 16:51] ikantspel9 opened #12925 "Example condition is incorrect"
Current example lists --condition "avg Percentage CPU &gt; 90" as a parameter. This is no longer valid, --condition "avg cpu_percent &gt; 90" must be used. This is also incorrect in az monitor metrics alert create --help

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: d97968df-72c9-e50c-d5b1-54562c1bdef7
* Version Indep

[2020-04-08 17:04] graydwarf commented on #12907
Nothing is returned by either. echoing %temp% returns the path as expected in both.

[2020-04-08 20:24] lprichar commented on #12908
Given that the cluster already exists I believe the MI option is out.  Even if not I'd prefer not to add more credentials if possible.  Ideally I'd prefer to add the requested permission to the SP if that's indeed the problem (although doesn't the 401 from fiddler indicate an authentication not authorization error?).

To address your questions and verify that I am using the correct SP (the one spe

[2020-04-08 21:25] jluk commented on #12908
Thanks for humoring me on all those shots in the dark from me, I think your SP is likely fine if you're able to make other az cmds successfully with the SP and audited for the access in the docs linked.

This seems to be an error returned from the service, would you mind opening a support request for someone to look at your cluster? I'm afraid I won't be able to help very much based on the error m

[2020-04-08 22:20] lprichar commented on #12908
Done.  Thanks for your help @jluk. You're welcome to close this issue now I guess, however, it might be worth considering this ticket to be an issue with how Azure CLI prints out error messages.

For instance updating Azure CLI to print out the body of the server's 500 response, at the very least when you pass `--debug`, if not in lue of "too many 500 error responses" would be extremely useful whe

[2020-04-08 22:27] itrelouis commented on #12860
@zhoxing-ms Ok that makes sense -- the reason I posted my question though was that this page:

https://docs.microsoft.com/en-us/cli/azure/group/deployment?view=azure-cli-latest

does not seem to indicate that the command is deprecated. I think the documentation should make that clear and point users to use the az deployment group command instead.

[2020-04-08 23:14] axayjo opened #12927 "Create VM/VMSS CLI command needs to support specialized SIG Image Version based deployments"
**Is your feature request related to a problem? Please describe.**

We launched specialized image support in SIG and there's no way to create a VM/VMSS with a specialized SIG image today.

**Describe the solution you'd like**

The current command needs to support a specialized flag which when passed shouldn't pass the OSProfile to the PUT VM call:

az vm create\
   --resource-group myGalleryRG \

[2020-04-08 23:16] yonzhan commented on #12925
add to S169

[2020-04-08 23:29] yonzhan commented on #12927
@qwordy please take a look

[2020-04-09 01:25] jiasli commented on #12907
Looks like we are hitting the same issue as https://github.com/Azure/azure-cli/issues/9562.

Could you share your env vars?

[code]

It could be caused by `HOME` env var being changed, thus causing `expanduser` to return `HOME`'s value as `~`. This issue only happens on Python 3.6 which is bundled with Azure CLI.

https://github.com/python/cpython/blob/3.6/Lib/ntpath.py#L324-L325

[code]

`HOME` s

[2020-04-09 01:42] jiasli commented on #9345
Hi @justSteve, the 400 error you got is from Cloud Shell itself, instead of the `az` command. This is a known issue of Cloud Shell: https://github.com/Azure/azure-cli/issues/11749.

[2020-04-09 02:18] zhoxing-ms commented on #12646
@cwickham33 Do your mean that your workflow executed in PowerShell was interrupted because `@` could not be properly recognized?
If so, what you said before is right, this problem is caused by `@` being [splatting symbol](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_splatting?view=powershell-7) in powershell. So you need to escape it or use [stop-parsing

[2020-04-09 02:27] cwickham33 commented on #12646
Yes. Including the stop parsing symbol in that workflow will help alot. Switching away from psh means the loss of the psh variables that are used in the script.

Thanks,
c
________________________________
From: Xing Zhou <notifications@github.com>
Sent: Wednesday, April 8, 2020 9:19:11 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Charlie Wickham <Charlie.Wickham@microsoft.com>; Mentio

[2020-04-09 02:30] haroldrandom commented on #12860
same request as https://github.com/Azure/azure-cli/issues/12549

[2020-04-09 02:32] zhoxing-ms commented on #12860
@itrelouis This is a known issue and we have a long-term plan with the document related team.

[2020-04-09 02:52] zhoxing-ms commented on #12646
@cwickham33 Do you have any other questions?

[2020-04-09 03:03] zhoxing-ms commented on #12880
It's the same problem as #12298

[2020-04-09 03:04] zhoxing-ms commented on #12880
@godlike0108 This is because the parameters structure of policy assignment is designed in this way  [assignment-structure#parameters](https://docs.microsoft.com/en-us/azure/governance/policy/concepts/assignment-structure#parameters)
Do you have any other questions about this?

[2020-04-09 04:19] t-bzhan opened #12929 "Example error for "az cdn endpoint rule add""
The example for "Create a rule for http to https redirect" at
https://docs.microsoft.com/en-us/cli/azure/cdn/endpoint/rule?view=azure-cli-latest#az-cdn-endpoint-rule-add is wrong. Match value should be "HTTP" instead of "HTTPS"

I see this is mentioned in https://github.com/Azure/azure-cli/issues/12072#issuecomment-589829200, but it is still not fixed yet.

![image](https://user-images.githubuserc

[2020-04-09 05:10] gzuber commented on #12577
This should be fixed by https://github.com/Azure/azure-cli/pull/12817

@sixeyed sorry about that! Let us know if you experience any more issues after that fix is released

[2020-04-09 05:15] ankitkumarr commented on #12577
Thanks @gzuber.

Closing as this is fixed by https://github.com/Azure/azure-cli/pull/12817

[2020-04-09 05:15] #12577 closed

[2020-04-09 05:19] itrelouis commented on #12860
Understood, thanks @zhoxing-ms !

[2020-04-09 05:19] #12860 closed

[2020-04-09 05:26] yonzhan commented on #12929
cdn

[2020-04-09 05:43] xinlizhou commented on #12895
Thanks a lot@andyzhangx @feiskyer!

[2020-04-09 06:47] zhoxing-ms commented on #12721
@thomhurst Do you have this problem while using CLI commands?

[2020-04-09 07:21] #12892 closed

[2020-04-09 08:03] godlike0108 commented on #12880
Thanks for the information. I have no questions.

[2020-04-09 08:03] #12880 closed

[2020-04-09 08:19] Juliehzl commented on #12193
You need to specify `--auth-mode login` to utilize login credentials. and currently we already support `--only-show-errors` to make sure warning will not show up.

[2020-04-09 09:53] jsmed-renson commented on #11867
Hi @madsd , thanks for looking into this!

I've missed it too, and frankly, I've never worked with a resource ID. I find it more convenient to use the name in deployment scripts, as I know it before execution.

As mentioned, I would suggest to look for the keyvault with given name in the whole subscription. It's the easiest to use and it is consistent with the `az keyvault `commands (eg. `az keyva

[2020-04-09 12:53] cwickham33 commented on #12646
No, you can close the issue.

c
________________________________
From: Xing Zhou <notifications@github.com>
Sent: Wednesday, April 8, 2020 9:52:18 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Charlie Wickham <Charlie.Wickham@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azure/azure-cli] az resource create example with json file as property input unclear (#12646)

[2020-04-09 14:23] rvelasquez08 opened #12933 "error in az signalr update"
rochelle_velasquez@Azure:~$ az resource update \

The command failed with an unexpected error. Here is the traceback:

400 Client Error: Bad Request for url: http://localhost:50342/oauth2/token
Traceback (most recent call last):
  File "/opt/az/lib/python3.6/site-packages/knack/cli.py", line 206, in invoke
    cmd_result = self.invocation.execute(args)
  File "/opt/az/lib/python3.6/site-packages/a

[2020-04-09 14:28] Icybiubiubiu commented on #12895
Hi~
if I want to use azcli on Mac OS client, how can download the old version, 2.2.0 for example.

[2020-04-09 14:33] abrignola commented on #9375
any update on this?

[2020-04-09 14:36] feiskyer commented on #12895
@yonzhan do we have guides to install older versions for Windows and MacOS?

[2020-04-09 14:42] agaponenko-incomm opened #12934 "Unable to add target to Application gateway backend pool list"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az network application-gateway address-pool update`

**Errors:**

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- `az network application-gateway address-pool update --resource-group glx-qa1-rg --gat

[2020-04-09 15:18] happyiphone commented on #12721
Just tried again and I still get the same error:

`az resource create --location 'westus' --name 'DemoResource' --properties '{}' --resource-group 'Tg' --resource-type 'Microsoft.ClassicCompute/domainNames'      `

**Unable to create domain name 'DemoResource': 'The x-ms-version header value '2020-02-01' is not one of the supported version headers.'.**

let me know if you need anything more specif

[2020-04-09 15:25] cloudoutloud commented on #12814
Any update on this ?

[2020-04-09 16:08] panchagnula commented on #12840
@gzuber is this for a function app specifically? currently we don't support the run_from_package in CLI and definitely not during create.AppSettings currently are always added after the APP is created in both portal and CLI.

[2020-04-09 16:08] #12840 closed

[2020-04-09 16:10] panchagnula commented on #12335
@qwordy please let me know what is needed from AppService end over here? Thanks!

[2020-04-09 16:12] panchagnula commented on #10495
@qwordy can you comment on the above details - this is not specific to AppService - and might be by Design as per the core implementation fo how --table works. Thanks!

[2020-04-09 16:44] RotateAt60MPH opened #12935 "invalid SAS token 'az storage container generate-sas'"
## Describe the bug

SAS generated with 'az storage container generate-sas' does not work.

**Command Name**
`az storage container generate-sas`

**Errors:**

When copying a file to storage account container, using 'azcopy copy' and the SAS generated, get AuthorizationPermissionMismatch error.

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they

[2020-04-09 16:46] gdippolito opened #12936 "Failed to run `az acr check-health` after login failure against ML ACR"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az acr check-health`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az acr check-health -n {} --yes`

## Expected Behavior

## Environme

[2020-04-09 18:38] ninzavivek opened #12937 "[Service Team Request] CLI support needed for New LB backend format"
**Resource Provider**
Networking (NRP)

**Description of Feature or Work Requested**
CLI changes to support newly added Create/Update operation for backend pool and format.

**Minimum API Version Required**
2020-04-01

**Swagger Link**
Here is the PR link : https://github.com/Azure/azure-rest-api-specs/pull/8993

**Target Date**
May-end ( Manganese end).

[2020-04-09 18:40] ninzavivek commented on #12937
@gmainar - FYI

[2020-04-09 19:14] rjaffee opened #12938 "Disconnected and Offline CLI Functionality Issues"
**Describe the bug**
CLI does not function correctly when run within a VNet that is isolated from having access to the Internet. CLI makes calls to the internet for commands such as AZ VM Create and AZ Copy and others. This presents an issue when the VNet is isolated from the internet or an organization is not able to download and install software on the fly.

**To Reproduce**
1)	Setup a VNet with

[2020-04-09 20:21] mohoff opened #12939 "ServicePrincipal creating ServicePrincipal - Insufficient privileges to complete the operation"
## Describe the bug

As a ServicePrincipal, I want to create another ServicePrincipal by using the command below. The last section contains parts of the debug log.

**Command Name**
`az ad sp create-for-rbac`

**Errors:**
[code]

## To Reproduce:
The below command is run as SP with all possible roles and directory roles assigned (tried `Global Administrator` too)

- `az ad sp create-for-rbac --ski

[2020-04-09 20:41] cfmayer opened #12940 "[SSH] - Update docs to reflect az webapp ssh is in preview and only supported on linux and mac"
It would be good to note in the documentation that the ssh command is in preview and does not work on Windows. When running on Windows, the following message is displayed:

This command is in preview. It may be changed/removed in a future release.
webapp ssh is only supported on linux and mac

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub is

[2020-04-09 20:46] kaushal40 opened #12941 "Azure CLI operations are not generating any activity logs"
**Describe the bug**
Trying to list the activity-logs using CLI for the (list - resources, VM) operations but don't see any logs generated for the activities performed. Based on the architecture CLI requests goes through ARM `https://docs.microsoft.com/en-us/azure/azure-resource-manager/management/overview` and activity log is all the activity performed through ARM.

**To Reproduce**
1. Connect to

[2020-04-09 20:53] tnguyen14 commented on #12846
@fengzhou-msft I'm on a system where I don't have sudo access, so can't use `apt` or `yum`. Is there a way to get around this issue with the install script?

[2020-04-09 21:00] Yiyito11 commented on #7439
Same Here I would like to add 2 single IPs and a private IP range. Is this possible?
Im using: `--source-address-prefixes `--source-address-prefixes "10.240.0.0/21 10.224.2.44" `
(also tried with single quote)
And I´m getting:
**_invalid Address prefix. Value provided: 10.240.0.0/21 10.224.2.44_**

[2020-04-09 21:05] Yiyito11 commented on #7439
just put values without double quotes.

[2020-04-09 21:20] flexthink commented on #12180
+1

[2020-04-09 21:38] panchagnula commented on #11454
@ThejaChoudary can you check if you can repro this scenario. If so we can discuss the fix for this. Thank you.

[2020-04-09 22:10] yonzhan commented on #12938
add to S168

[2020-04-09 22:19] #12646 closed

[2020-04-09 22:19] yonzhan commented on #12933
add to S169

[2020-04-09 22:53] yonzhan commented on #12895
@fengzhou-msft to provide guidance.

[2020-04-09 22:54] yonzhan commented on #12934
add to S169

[2020-04-09 22:58] yonzhan commented on #12935
add to S169

[2020-04-09 22:59] yonzhan commented on #12936
acr

[2020-04-10 00:22] yonzhan commented on #12939
add to S169

[2020-04-10 00:23] yonzhan commented on #12940
webapp

[2020-04-10 00:25] yonzhan commented on #12941
add to S169

[2020-04-10 01:20] fitzgeraldsteele opened #12943 "handle-extended-json-format is both deprecated and in preview."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug
CLI shows the feature is both deprecated, and in preview. Is that right?

  --handle-extended-json-format -j [Deprecated] [Preview] : Support to handle
                                                              extended template content including

[2020-04-10 01:46] MyronFanQiu commented on #12937
@ninzavivek Hi, I want to confirm one thing. Before this issue and your PR, can customer create backend pool? I cannot do it in Azure CLI.

[2020-04-10 01:54] ninzavivek commented on #12937
closed by mistake.

[2020-04-10 01:54] ninzavivek commented on #12937
Yes, earlier it was done as part of whole LB put operation.

[2020-04-10 01:57] fjferdiez commented on #12895
For windows installation I found that this link would work:
https://azurecliprod.azureedge.net/msi/azure-cli-2.2.0.msi

[2020-04-10 02:30] arrownj commented on #12878
Hi @boogy , it seems that your azure-mgmt-resource version is not right. Could you please help tell what platform you are using? If you are on Windows, maybe you can check the SDK version by open folder C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\Lib\site-packages and check its child folder which starts with azure_mgmt_resource (it should be something like azure_mgmt_resource-8.0.1.dist-info)

[2020-04-10 02:34] arrownj commented on #12810
Hi @ktl-lane , if there is no more questions, we will close this issue first. You can reopen it or just submit a new one if you have other concerns. Thanks

[2020-04-10 02:34] #12810 closed

[2020-04-10 02:55] zhoxing-ms commented on #12736
I will submit a PR and add a parameter `--is-incremental/-i` to support incremental tag addition.

[2020-04-10 03:08] qwordy commented on #11968
I opened a PR to fix it. I adopted option 2.

[2020-04-10 03:11] #11972 closed

[2020-04-10 03:12] #12389 closed

[2020-04-10 03:14] MyronFanQiu commented on #12506
@droopy4096 Do you have more question?

[2020-04-10 03:26] jiasli opened #12946 "Microsoft Graph API Support"
[**Azure Active Directory Graph API**](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-graph-api) has been deprecated:

We need to switch Azure CLI to use [**Microsoft Graph API**](https://docs.microsoft.com/en-us/graph/api/overview?toc=./ref/toc.json&view=graph-rest-1.0) instead.

[2020-04-10 03:33] feiskyer commented on #12895
thanks @yonzhan @fjferdiez for the guides.

[2020-04-10 03:42] yonzhan commented on #12943
add to S168

[2020-04-10 03:47] Bowbaq opened #12947 "CLI crashes when using terraform azure provider"
## Describe the bug

**Command Name**
`terraform apply`, `terraform plan` or `terraform refresh` using AZ CLI credential provider

**Errors:**
[code]

## To Reproduce:
I unfortunately don't have good reproduction steps. This seemingly happens randomly when using `terraform apply`, `terraform plan` or `terraform refresh`. The error usually goes away when re-running the same command, but not always,

[2020-04-10 03:50] yonzhan commented on #12946
Microsoft Graph API Support

[2020-04-10 03:57] yonzhan commented on #12885
resource

[2020-04-10 04:12] yonzhan commented on #12947
add to S168

[2020-04-10 04:21] fume commented on #9501
thanks @jiasli , honestly i didn't notice the publicClient property on the application object, i was pretty sure it was a boolen, so thanks for pointing me out to that. I was doing exactly the same thing for the web.redirectUris array, so shame on me!

Do you know if updating the publicClient.redirectUris array will reflect in the Azure Portal? I mean, will the public clients be divided in categor

[2020-04-10 04:42] fgbaezp commented on #7234
+1 to this feature

[2020-04-10 05:14] jiasli commented on #12907
Thanks @laserljy for another finding.

As cygwin is setting `HOME` as `C:\cygwin64\home\<user>`, this interferes with `expanduser('~')` on Python < 3.8, thus causing Azure CLI to save config files to `C:\cygwin64\home\<user>\.azure` instead.

To save Azure CLI config to the real `~\.azure` while keeping `HOME` working or cygwin, you may install Azure CLI with Python 3.8 as discussed above, but mak

[2020-04-10 05:29] zhoxing-ms commented on #12721
When the CLI calls the Service of [Resources - Create Or Update](https://docs.microsoft.com/en-us/rest/api/resources/providers/get) to query the api_version of domainNames for resource type under Microsoft.ClassicCompute provider, we get the latest version is `2020-02-01`.
Then CLI uses the api_version of `2020-02-01` to call the Service of [
Resources - Create Or Update](https://docs.microsoft.co

[2020-04-10 05:47] qwordy commented on #12838
The PR is merged. It will be release on 04/21/2020.

[2020-04-10 05:49] zhoxing-ms commented on #12943
@fitzgeraldsteele Thanks for your feedback, this is a known design. My plan is to remove `is_preview` from this sprint and delete this parameter completely in the next sprint.
If you have any good suggestions for this, please feel free to let me know, thanks~

[2020-04-10 06:15] jiasli commented on #9501
In Cloud Shell, I generated a hash with:

[code]

Then add an Android app to the AAD app in Azure Portal with

Then add an iOS app to the AAD app in Azure Portal with

Then retrieve the app using

[code]

So you may follow this pattern to add Android and iOS apps accordingly.

To add an Android app:

[code]

To add an iOS app:

[code]

[2020-04-10 06:16] jiasli commented on #9501
FYI, we will track all MS Graph issue in https://github.com/Azure/azure-cli/issues/12946.

[2020-04-10 06:39] qwordy commented on #10495
Change
[code]
to
[code]
I have not tested it. Search "table_transformer=" in the project, you can find many examples. You can customize the schema of table.

[2020-04-10 06:50] jiasli commented on #9375
Hi @abrignola, this issue is already addressed.

[code]

For MS Graph approach, you may refer to https://github.com/Azure/azure-cli/issues/9501#issuecomment-610979930. (Also see https://github.com/Azure/azure-cli/issues/12946)

[2020-04-10 06:51] #12692 closed

[2020-04-10 06:57] qwordy commented on #12335
Some of the zip files do not have license. i.e. node-Express-up.zip.
According to bluca's suggestion, add license to all projects.

[2020-04-10 07:28] axayjo commented on #12927
Thanks @qwordy!

[2020-04-10 07:30] qwordy commented on #12927
You are welcome

[2020-04-10 07:37] qwordy commented on #11967
Quotes from a senior engineer of SIG team.

[2020-04-10 07:49] jiasli commented on #12946
## Call Microsoft Graph API with `az rest`

As [**Microsoft Graph REST API v1.0**](https://docs.microsoft.com/en-us/graph/api/overview?view=graph-rest-1.0) is now GA, we can call it directly with `az rest` to achieve the same effect as `az ad` commands, including all latest features from Microsoft Graph.

## Examples

### Update `redirectUris` for an [Application](https://docs.microsoft.com/en-us/

[2020-04-10 07:51] jiasli commented on #9522
We will track MS Graph issues at https://github.com/Azure/azure-cli/issues/12946

[2020-04-10 07:52] jiasli commented on #10579
We will track MS Graph issues at https://github.com/Azure/azure-cli/issues/12946

[2020-04-10 07:52] fume commented on #9501
@jiasli , i'm already adding iOS and Android app that way, but i don't understand why when you navigate the app registration in the Azure Portal you don't see the Android platform (like you do when you add an Android app directly from the portal).

Adding the same Android app (using same packagename and same signaturehash) i have two different results in the azure portal.
Using the cli (basically

[2020-04-10 07:54] jiasli commented on #10234
We will track MS Graph issues at https://github.com/Azure/azure-cli/issues/12946

[2020-04-10 07:59] Juliehzl commented on #12451
Please try `az storage logging off` after 2020/04/20 with latest azure cli.

[2020-04-10 07:59] #12451 closed

[2020-04-10 08:02] jiasli commented on #9501
I added it twice with both Azure Portal and CLI:

[code]

I think the issue is caused by the URL-encoded sequence: `%2F`,`%3D`. They should be capitalized, otherwise it makes Azure Portal confused.

[2020-04-10 08:31] jiasli commented on #12947
According to the error reported by Azure CLI:

I suspect this is caused by a racing case during parallel execution when `.azure/telemetry/cache` is not locked. Please check if #1347, #9427 can solve the issue.

We are planning to use [portalocker](https://pypi.org/project/portalocker/) to mitigate such scenarios. +@fengzhou-msft @haroldrandom

[2020-04-10 08:35] Juliehzl commented on #12346
Sorry for late response. Have you enabled purge protection for keyvault? If not, please use the following command to enable them:
[code]

[2020-04-10 08:38] fume commented on #9501
Uppercase to the rescue :) thanks a lot!

(but that's weird!)

[2020-04-10 08:51] RajeevTomar opened #12953 "Subscription: /bin/sh: az: command not found child_process.js:669 throw err; ^ Error: Command failed: az account show"
**Describe the bug**

**To Reproduce**

**Expected behavior**

**Environment summary**

**Additional context**

[2020-04-10 08:54] jiasli commented on #9501
I agree, we will sync with MS Graph team on this.

[2020-04-10 09:12] fume commented on #9501
For future reference, if anyone will land here searching for a similar thing:

I'm using a powershell script that internally uses the Azure CLI. When preparing the json body for the MS Graph i was using the `[System.Web.Utilty]::UrlEncode()` method on the SignatureHash. For some reason, this encodes using the lowercase letters. You can use the `[Uri]::EscapeDataString()` method to achieve the obje

[2020-04-10 09:29] qianwens commented on #12953
@jiasli  to take a look.

[2020-04-10 09:31] jiasli commented on #12697
We have introduced `--only-show-errors` to prevent writing to `stderr`. Please see https://github.com/Azure/azure-cli/pull/12604 for details.

[2020-04-10 09:31] #12697 closed

[2020-04-10 09:33] jiasli commented on #12561
We will track MS Graph issues at https://github.com/Azure/azure-cli/issues/12946

[2020-04-10 09:33] #12561 closed

[2020-04-10 09:34] jiasli commented on #12779
If you still see this issue after updating, please let us know.

[2020-04-10 09:34] #12779 closed

[2020-04-10 09:37] yonzhan commented on #12953
add to S169

[2020-04-10 09:43] jiasli commented on #12046
We have fixed this issue by removing the warning, and will release it in this sprint [S168](https://github.com/Azure/azure-cli/milestone/85).

[2020-04-10 09:54] RajeevTomar commented on #12953
I am getting this issue when try to debug remotely using dbgproxy.
Full Log:

Error: Command failed: az account show
    at checkExecSyncError (child_process.js:629:11)
    at execSync (child_process.js:666:13)
    at shell (/usr/local/lib/node_modules/cloud-debug-tools/dbgproxy-impl.js:18:16)
    at Object.<anonymous> (/usr/local/lib/node_modules/cloud-debug-tools/dbgproxy-impl.js:97:27)
    at M

[2020-04-10 10:08] yungezz commented on #11871
the scenario in keyvault requires global `--subscription` works well for cross-tenant scenarios firstly.

[2020-04-10 10:09] nidiculageorge commented on #12565
Hello Team,

The above command worked fine .Thanks team.

[2020-04-10 10:09] #12565 closed

[2020-04-10 10:30] jiasli commented on #7955
### AD Graph API 1.6 - `publicClient` (Deprecated)
Per the doc for [Application](https://docs.microsoft.com/en-us/previous-versions/azure/ad/graph/api/entity-and-complex-type-reference#application-entity), `publicClient` is a `bool`.

Name | Type | Supports | Description
-- | -- | -- | --
publicClient | Edm.Boolean | POST, GET | Specifies whether this application is a public client (such as an ins

[2020-04-10 10:49] jiasli commented on #12953
Looks like you are invoking `az` with Node.js `child_process.js`. I am not an expert in Node.js, but you may check if `az` in on the `PATH` of Node.js. In Bash, please run

[code]

Then try the full path `/usr/bin/az` in your script.

[2020-04-10 11:47] jiasli commented on #12938
According to [constants.py](https://github.com/AzureAD/azure-activedirectory-library-for-python/blob/2a1c7ffabda0d79548533434db0cc9bbae6eefcf/adal/constants.py) from ADAL, if Azure CLI is run in a private cloud, the authority may be `https://login.microsoftonline.my.azurestack.com/common/oauth2/authorize?...`. Since this URL doesn't match any endpoint in
[code]
it will try to perform an instance d

[2020-04-10 13:14] T-Grave commented on #12924
Oh I'm sorry, I can't. I already removed my entire `.azure`  folder, setup az cli again and it's been working fine ever since :)

My issue is solved, so I guess we can close this?

[2020-04-10 13:41] rjaffee commented on #12938
Thanks Jiashuo,

+@David Bowen<mailto:Bowen.David@microsoft.com> for visibility/comments on the Auth findings below. Would this have the same effect with Sovereign regions?

Thanks,
Robert

From: Jiashuo Li <notifications@github.com>
Sent: Friday, April 10, 2020 7:48 AM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Robert Jaffee <Robert.Jaffee@microsoft.com>; Author <author@noreply.github

[2020-04-10 13:48] evandropomatti commented on #12701
Community team:

Please check issue #7234 as it is older and has more support.
Somehow it does not have the "Feature Request" label, it got removed in December.
I suggest adding the correct labels to that issue and closing this one.

[2020-04-10 14:04] larsmaes opened #12955 "az webapp create without starting it"
For deployment purposes i want to create the webapp first without starting it immediatly. Some other az webapp commands need to be run after with a manual start command.

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2983e943-cce1-effd-57d0-cce4b0c0a7e1
* Version Independent ID: 4262c40a-7140-b420-58b5-5cf40ab2316e
* C

[2020-04-10 14:18] yungezz commented on #12955
routing to appropriate team

[2020-04-10 14:36] TorbenRahbekKoch opened #12957 "az login fails with UnicodeDecodeError"
## Describe the bug

**Command Name**
`az login`

**Errors:**

[code]
My computer has in no way an exotic or esoteric name. It has the humble name "thebeast" ;)

## To Reproduce:

Steps to reproduce the behavior:

- Ïnstall latest (2.3.1) Azure CLI using MSI (or PowerShell, this fails, too)
- Execute the command: `az login`

## Expected Behavior
A brower opens for enabling me to login.

## Environ

[2020-04-10 15:04] fume commented on #12797
I have the same exact issue (the 404 NotFound after `ad ad app permission grant`) when trying to grant delegated permissions on my app for the Microsoft Graph API

[2020-04-10 15:32] fume commented on #12137
Hi @jiasli ,using the `az ad app permission grant` command to grand Delegated Permission is giving us a 404 NotFound error (like #12797). In our case the Delegated Permission is from Microsoft Graph (Directory.ReadWrite.All). Can you please clarify HOW to grant Delegated Permissions programmatically?

[2020-04-10 15:46] sgerace commented on #6388
I'm sorry to comment on this closed ticket, however, @colemickens I happened to stumble across this issue while investigating a similar question I had, and was wondering if you were ever able to arrive at a definitive answer as to whether, in your example, you would end up with `foo.vhd` or `bar.vhd`. From my testing, it appears that I am ending up with `foo.vhd` — in other words, I need to explic

[2020-04-10 16:10] fume commented on #11534
I was able to achieve the same thing using the MS Graph explicitly, issuing a `PATCH` request on `https://graph.microsoft.com/v1.0/applications/{appObjectId}` with the following body:
[code]
Please note that in the URI there is the Application Object Id, not the  Client Id

[2020-04-10 16:15] chlowell commented on #12938
azure-identity itself doesn't perform any AAD discovery. Credentials instead take discovery information as arguments, e.g.:
[code]
Also, in the latest preview version (1.4.0b2 at time of writing) credentials will prefer the value of environment variable `AZURE_AUTHORITY_HOST`.

All that said, MSAL applications do perform discovery, so credentials based on them (`DeviceCodeCredential`, `Interactive

[2020-04-10 16:27] rjaffee commented on #12938
Thanks  + @David Bowen<mailto:Bowen.David@microsoft.com> for visibility

Thanks,
Robert
From: Charles Lowell <notifications@github.com>
Sent: Friday, April 10, 2020 12:16 PM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Robert Jaffee <Robert.Jaffee@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [Azure/azure-cli] Disconnected and Offline CLI Functionality Issues (#12938)

[2020-04-10 16:50] omzevall opened #12958 "usage-threshold usage and example is unclear"
The usage-threshold option says: Min 100 GiB, max 100TiB".

How are the units specified?

The example on this page says: --usage-threshold 100

Does this mean 100 GiB or 100 TiB?

Editorially, there is a space between "100" and "GiB" but no space in "100TiB". Additionally, there is an unnecessary quotation mark at the end of usage-threshold's description (i.e., 100TiB".  -- the quotation mark befo

[2020-04-10 16:56] omzevall commented on #12958
Related: https://github.com/Azure/azure-cli-extensions/issues/1526

[2020-04-10 17:14] jluk commented on #12924
Thanks for confirm!

[2020-04-10 17:14] #12924 closed

[2020-04-10 17:18] dedhar opened #12959 "AZ CLI Support for Virtual Routing APIs"
**Resource Provider**

Microsoft.Network

**Description of Feature or Work Requested**

We are adding support for Virtual Routing APIs to Virtual Hub. Route Table (V3) is child resource of Virtual Hub. Routing Configuration would be a new property on all vWAN Connection resources such as ExpressRouteConnection, Vpn Connection, Hub Virtual Network Connection, P2S Connection Configuration.
https://m

[2020-04-10 17:36] fume commented on #12137
I found a solution.
BEFORE invoking the `az ad app permission grant`, the Service Principal for your App Registration MUST exists (that's why you get the 404 NotFound!). So, invoking the `az ad sp create --id <yourAppId>` before the `az ad app permission grant` will fix everything.

This is really confusing and undocumented.

[2020-04-10 17:40] fume commented on #12797
@henriksen , can you try to run the `az ad sp create --id <appId>` BEFORE the `az ad app permission grant`? It fixed the 404 NotFound for me.

[2020-04-10 17:41] jmaitrehenry commented on #12390
Same problem with the command `az acr show --query "id" --output tsv`

Azure cli installed with homebrew:
[code]

[2020-04-10 18:35] gdippolito commented on #12936
I have realized I was using the wrong identifier for the registry.

 This is not an issue anymore. However, the utility should not crash.

[2020-04-10 21:03] chisus089 opened #12961 "az interactive not working"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-04-10 21:29] koralski commented on #10400
Parameter enumeration start from 0 instead of 1. The difference is that parameters definition is embedded in the script instead of passed outside in a command line (where $0 is equals to bash).
If you see the example we start from $0:
echo $0 $1

About the other issue where script starts with #!/bin/bash
I discovered a bug in the parameter inserting logic where we insert the parameter definition a

[2020-04-10 22:46] N7Overlord opened #12962 "az login --principal with certificate not working"
I have created pem file with rsa key

-----BEGIN RSA PRIVATE KEY-----
.....Key content
-----END RSA PRIVATE KEY-----

I have created a x509 certificate using previous key,  and uploaded certificate to my principal configuration using azure portal.

When executing az login command as follows:

az login --service-principal --username [application_id] -p azure.pem --tenant [tenanit_id]

I get this an

[2020-04-10 23:33] kulkarnisonia16 opened #12963 "[Functions]Add support for Java 11"
- Functions runtime V3
- OS (Linux and Windows) all hosting plans

Needs to support create app in Azure and deploy scenario for code and container scenarios
Code scenario:
--runtime java --runtime-version 11
(Needs to set javaVersion "11" and linuxFxVersion "java|11")

[2020-04-10 23:48] yonzhan commented on #12957
add to S169

[2020-04-10 23:55] yonzhan commented on #12958
netappfiles

[2020-04-10 23:58] yonzhan commented on #12959
add to S169

[2020-04-11 00:09] yonzhan commented on #12961
interactive

[2020-04-11 00:19] yonzhan commented on #12962
add to S169

[2020-04-11 00:20] yonzhan commented on #12963
Functions

[2020-04-11 01:06] mohoff commented on #12939
It turned out that the permission `Directory.Read.All` was missing for the SP.

The support team provided the following steps, which solved the problem:

 Active Directory Graph (on the lower part of this list) – Delegated or application permissions, depending on the context in which you are making the call – Directory – Directory.Read.All – Add permissions.
After adding these permissions, you wou

[2020-04-11 01:33] nakamacchi opened #12965 ""az network application-gateway frontend-ip create" command can't accept more than 4 args"
**Describe the bug**
"az network application-gateway frontend-ip create" command can't accept more than 4 args

**To Reproduce**
nobuyuki@Azure:\~$ az network application-gateway frontend-ip create --gateway-name $AKS_IWF_NAME --resource-group $RG_AKS --name $AKS_IWF_PRIVATE_FRONTEND_IP_NAME
Cannot parse the request.

nobuyuki@Azure:\~$ az network application-gateway frontend-ip create --gateway-n

[2020-04-11 03:05] yonzhan commented on #12965
add to S169

[2020-04-11 04:59] suganthe opened #12966 "A connection to the notebook server could not be established. The notebook will continue trying to reconnect. Check your network connection or notebook server configuration."
A connection to the notebook server could not be established. The notebook will continue trying to reconnect. Check your network connection or notebook server configuration.

[2020-04-11 05:04] staff0rd commented on #11486
In my case I was getting nothing because I had `az configure --default group=someGroup` and there was no acr in `someGroup`.

[2020-04-11 07:20] yonzhan commented on #12966
It is issue related to Azure CLI, could you please input more detailed info for us to triage?

[2020-04-11 07:45] #12433 closed

[2020-04-11 07:58] yonzhan commented on #12504
@Kamusta any update?

[2020-04-11 08:08] yonzhan commented on #12540
@wangdian any update or feedback?

[2020-04-11 08:19] yonzhan commented on #12582
add to S169

[2020-04-11 10:30] yonzhan commented on #12696
@sanghoonkim0918 any update/feedback?

[2020-04-11 11:27] jiasli commented on #12939
`Global Administrator` is only available for users, not Service Principals.

The failed request you mentioned is a POST request, so I don't think it is relevant to `Directory.Read.All`.

[code]

In my test, the only permission a Service Principal need to create another Service Principal is **Azure Active Directory Graph -> Application Permissions -> Application.ReadWrite.OwnedBy** (or the higher *

[2020-04-11 11:34] jiasli commented on #12961
Looks like you installed Azure CLI via `pip` as the python version is 3.7.3. Make sure `prompt_toolkit` is present.

[code]

Please also update `interactive` to 0.4.4 (https://github.com/Azure/azure-cli/issues/12837#issuecomment-607610509).

[2020-04-11 11:47] #9970 closed

[2020-04-11 11:47] yonzhan commented on #12750
@sanghoonkim0918 any update/feedback for above questions ?

[2020-04-11 11:48] jiasli commented on #12962
Duplicate of #9970. Please see the comments at https://github.com/Azure/azure-cli/issues/9970#issuecomment-513478952.

We have updated the document https://github.com/MicrosoftDocs/azure-docs-cli/pull/1889 and will make it live in the next release.

Meanwhile, I will think about how we can polish the error.

[2020-04-11 11:48] yonzhan commented on #12751
@sanghoonkim0918 any feedback/update for above question?

[2020-04-11 12:00] yonzhan commented on #12794
@ekbrothers any feedback/update for above question?

[2020-04-11 12:03] jiasli commented on #12137
@fume, glad to know it is solved. You may use `--debug` to check which request failed and fix it accordingly. BTW, We will track MS Graph related issues at #12946

[2020-04-11 12:13] yonzhan commented on #12841
S168

[2020-04-11 12:22] Tijinm opened #12969 "Error while creating a service fabric cluster using bash"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az sf cluster create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az sf cluster create --resource-group {} --location {} --certificat

[2020-04-11 12:29] yonzhan commented on #12969
sf

[2020-04-11 12:30] jiasli commented on #12797
Hi @henriksen, I believe the permission you are adding to the daemon app is an **Application Permission**, judging by `$appRoleId=Role`. (Delegated Permission is `=Scope`.)

`az ad app permission grant` is for **Delegated Permission**, so not suitable in this scenario.

`az ad app permission admin-consent` is already deprecated. Please don't use it anymore.

For granting admin consent for **Applic

[2020-04-11 12:38] Tijinm commented on #12969
Hi ,
Didnt understand your comment?
First I stored the value in the variables and then i passed using the following commands
az group create --name $ResourceGroupName --location $Location
az sf cluster create --resource-group $ResourceGroupName --location $Location --certificate-output-folder . --certificate-password $Password --certificate-subject-name $Subject  --cluster-name $ClusterName --clus

[2020-04-11 12:46] yonzhan commented on #12969
Service Fabric service team should take a look at above.

[2020-04-11 13:47] vairakkumar-vairaperumal opened #12970 "support uri scheme for parameter files by creating a new parameter --parameter-file"
**Is your feature request related to a problem? Please describe.**

Unable to use @ for parameter file reference in Powershell 7. It requires to create scripts for windows batch and linux separate than Powershell 7. Also, Powershell has more features in command line than windows command terminal.

**Describe the solution you'd like**

Instead of modifying the parameters argument to support URI for

[2020-04-11 15:04] jiasli commented on #12957
Similar to https://github.com/Azure/azure-cli/issues/7989.

To be honest, I can't reproduce it. I added a line `print(name)` at `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\lib\socket.py:673` and run `az login`, it shows `127.0.0.1`, which is returned by `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\lib\socketserver.py:468`

[code]

Perhaps you are under some VPN? Could you please run thi

[2020-04-11 15:36] TorbenRahbekKoch commented on #12957
No VPN or anything else strange about my internet connection.

The result of running that command shows the computer name with an ipv6 address:

[code]

I would probably have expected it to return the ipv4 address instead. I am behind a NAT'ed router. The internet connection does not support ipv6.

[2020-04-11 15:47] TorbenRahbekKoch commented on #12957
If it is the host name of the local computer it complains I find it very curious that it complains about 0xf8 in position 10. 'thebeast' is, after all, only 8 characters long.

[2020-04-11 15:48] jiasli commented on #12957
This is weird. This time `gethostbyaddr` is successful. IPv6 is not the problem. I also get similar result:

[code]

Could you open `C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\lib\socket.py` with admin permission and add `print(name)` to L673:

[code]

Then run `az login` again. If the terminal can't display the character, run `az login > out.txt` to redirect the `stdout` and open with a tex

[2020-04-11 15:54] TorbenRahbekKoch commented on #12957
That results in ``127.0.0.1`` just as it did for you.

But, if I run

[code]

I get:

[code]
It is really not happy about that localhost.

[2020-04-11 15:59] TorbenRahbekKoch commented on #12957
And then again, if I run:

``'C:\Program Files (x86)\Microsoft SDKs\Azure\CLI2\python.exe' -c "import socket; print(socket.gethostname())"``

it returns ``thebeast`` - not ``127.0.0.1``:

[2020-04-11 16:00] jiasli commented on #12957
I have docker installed, so this command gives me `kubernetes.docker.internal`:

[code]

Maybe you can check the contents of `C:\Windows\System32\drivers\etc\hosts`? Mine looks like

[code]

[2020-04-11 16:05] TorbenRahbekKoch commented on #12957
Oh my! You are a genius.

I did have some 127.0.01 domain names in there. One of them with an international character... Doh!

After removing that, az login works flawlessly!

[2020-04-11 16:11] TorbenRahbekKoch commented on #12957
And a followup. If I make sure that the ``hosts`` file is saved as UTF8 _without_ BOM_, I can leave in the domain name with an international character and it still works.

So: It seems it was a mistake on my side. I really appreciate the help. Thanks!

[2020-04-11 16:15] Kamusta commented on #12504
Hi Sorry this was installed on kali using this command "pip3 install --upgrade --pre azure-cli --extra-index-url https://azurecliprod.blob.core.windows.net/edge --no-cache-dir --upgrade-strategy=eager"

[2020-04-11 16:21] jiasli commented on #12957
Glad to know it works! Yes, saving the `hosts` file as **UTF-8 without BOM** does solve it! I also verified it.

In my test, I added `127.0.0.1 测试` to my `hosts`. The error only happens if I have system locale other than English:

![image](https://user-images.githubusercontent.com/4003950/79048919-edfa7c80-7c52-11ea-8523-2e0a5a1887df.png)

[code]

Checking the "Beta: Use Unicode UTF-8 for worldwid

[2020-04-11 16:32] TorbenRahbekKoch commented on #12957
Ouch! Even in newer versions it has problems. Bummer!

At least: Having this ticket now may help some other poor UTF8-dependent souls like me, when googling it ;)

Suggestion, though: Would it be possible to catch this exception and maybe print a helpful error message instead. E.g. something that suggests checking the hosts file :D

[2020-04-11 16:37] jiasli commented on #12957
The reason I can think of is Windows relies on BOM to decide if the file is UTF-8.

- If `hosts` has no BOM, Windows thinks the file is ANSI (but actually not), so `测试` is not converted and Python can decode it with UTF-8
- If `hosts` has BOM, Windows converts `测试` to ANSI first, which can't be decoded by Python's UTC-8 codec

Sure! Give me some time to draft a PR. We can definitely improve the er

[2020-04-11 16:40] TorbenRahbekKoch commented on #12957
Ah - that makes perfectly sense, actually.

So saving it without BOM makes Windows puke and with BOM Python pukes. Better not put anything needing UTF8 inside it, it seems ;)

Seriously! Thanks for the help!

[2020-04-11 17:10] jiasli commented on #12957
You are very welcome. The Python issue was intended to be fixed in https://github.com/python/cpython/commit/7240030c52b5b738830c538bf849da8241c569d0, but was broken again by changing `PyUnicode_DecodeFSDefault` to use UTF-8 by [PEP 529](https://www.python.org/dev/peps/pep-0529/).

- If `hosts` doesn't contain `127.0.0.1` items, Python

[2020-04-11 17:15] ahamad-MS commented on #12796
@bmc-msft  thanks for reporting this issue. The issue described is by design and in adherence of how Azure Resource Manager (ARM) is forcing the resources models. When resource group is deleted all the resources in this resource group is deleted. This operation is stateless namely we don't remember if the resource group was created before and what resources in it was added. We cannot know if the u

[2020-04-11 17:15] #12796 closed

[2020-04-11 17:41] jiasli commented on #12957
You are very welcome.

For those looking for a quick solution, there are three:

1. Make sure there is no international character in **computer name** or `C:\Windows\System32\drivers\etc\hosts` file
2. Enable UTF-8 support on Windows
    ![](https://user-images.githubusercontent.com/4003950/75752152-13968b00-5d63-11ea-82a9-5b8ac4a474eb.png)
3. (This one is [a hack](https://github.com/Azure/azure-c

[2020-04-11 18:36] sayotte commented on #9585
Still happening. FOund this via the [AKS QuickStart Guide](https://docs.microsoft.com/en-us/azure/aks/kubernetes-walkthrough), which one would hope would Just Work...

[2020-04-11 18:36] jiasli commented on #12504
Looks like `anltr4` is somehow missing. Could you check whether `antlr4-python3-runtime` is installed correctly?
[code]
BTW, we recently moved the dependency of `antlr4-python3-runtime` from `azure-cli-core` to `azure-cli` in https://github.com/Azure/azure-cli/pull/12917, but it should't cause this problem. +@MyronFanQiu

[2020-04-11 18:47] vermaaakansha commented on #5841
I'm having the same error. till yesterday my VS code was working fine , when i was working with azure. today when i did az login, its prompting me this error.
**Please ensure you have network connection. Error detail: HTTPSConnectionPool(host='login.microsoftonline.com', port=443): Max retries exceeded with url: /common/oauth2/token (Caused by SSLError(SSLError("bad handshake: Error([('SSL routine

[2020-04-12 00:52] yonzhan commented on #12970
add to S170

[2020-04-12 01:20] ZEROF opened #12973 "Linux az interactive mode is not working anymore"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive --debug`

## Expected Behavior

## Environment Summary
[co

[2020-04-12 01:27] ZEROF commented on #12973
Ok, I found this to be solution:

https://github.com/Azure/azure-cli/issues/12837#issuecomment-607610509

But fix should be in .deb as well.

[2020-04-12 01:29] myjuda commented on #12966
A connection to the notebook server could not be established. The notebook will continue trying to reconnect. Check your network connection or notebook server configuration. help me please....

[2020-04-12 01:38] yonzhan commented on #12966
Still not clear whether it is related to Azure CLI.

[2020-04-12 01:39] yonzhan commented on #12973
interactive

[2020-04-12 04:00] jiasli commented on #12973
Hi @ZEROF, `interactive` is not bundled in the deb. It is always installed dynamically as an extension.

[2020-04-12 04:00] #12973 closed

[2020-04-12 04:23] haroldrandom commented on #12882
Hi, @elpollouk , we will fix the bug that CLI doesn't close fd of logger properly in `end_cmd_metadata_logging`  https://github.com/Azure/azure-cli/pull/12971

[2020-04-12 04:44] suganthe commented on #12966
Thank you. Now the tagged issue is rectified.

With regards,
Dr.R.C.Suganthe
Professor/CSE
Kongu Engineering College,
Perundurai - 638 052,
Erode District, Tamilnadu, India.
Email:suganthe_rc@kongu.ac.in
Mobile:98423 50051.
________________________________
From: yonzhan <notifications@github.com>
Sent: Sunday, April 12, 2020 7:08 AM
To: Azure/azure-cli <azure-cli@noreply.github.com>
Cc: Suganthe R

[2020-04-12 04:47] feiyushi opened #12976 "Image builder create doesn't support identity configuration"
The section of "identity" in the image template is ignored.
Wonder is this a bug or will be supported later?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: f8e24b37-83e6-abcb-65f3-8e10aca64fa5
* Version Independent ID: 803fa652-41f2-dcdd-ed5b-2e60b11186af
* Content: [az image builder](https://docs.microsoft.com/en-us/c

[2020-04-12 04:49] jiasli commented on #12970
The reason why we don't design separate parameters for files is that we don't know which parameter should be read from the file. In other words, users can use a file as input for any parameter.

`@` is a more general approach which supports all parameters. In PowerShell terminal, `@` is reserved for [splatting](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/abou

[2020-04-12 04:59] jiasli commented on #12966
The error is from [Jupyter Notebook](https://github.com/jupyter/notebook) instead of Azure CLI. Please refer to https://github.com/jupyter/notebook/issues/4630.

[2020-04-12 04:59] #12966 closed

[2020-04-12 05:05] qianwens commented on #12976
@qwordy please help take a look.

[2020-04-12 05:15] #10692 closed

[2020-04-12 05:46] EwertonJordao opened #12977 "Az rest with --uri-parameters"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

Hello, I trying to use az cli to automate tasks, in special with this command *az rest* when I pass --uri-parameters on az rest command I receive an error when I construct URI with parameters it works. This error occurs on cloud shell, windows terminal, PowerShell all I trying to use.

**Command Name**
`az res

[2020-04-12 06:28] suganthe commented on #12966
thank you. The issue is solved, now  azure notebook is working.

With regards,
Dr.R.C.Suganthe
Professor/CSE
Kongu Engineering College,
Perundurai - 638 052,
Erode District, Tamilnadu, India.
Email:suganthe_rc@kongu.ac.in
Mobile:98423 50051.
________________________________
From: Jiashuo Li <notifications@github.com>
Sent: Sunday, April 12, 2020 10:29 AM
To: Azure/azure-cli <azure-cli@noreply.gith

[2020-04-12 06:41] TheCodeFiend opened #12979 "Following Windows install instructions does not allow az to be called from Powershell."
**Describe the bug**
I am trying to install Azure CLI on Windows 10 1909.  I follow the instructions by using an admin Powershell session, and copying and pasting the command from the documentation.
https://docs.microsoft.com/en-us/cli/azure/install-azure-cli-windows?view=azure-cli-latest
When it completes, I re-launch an admin Powershell as stated, and az is not recognized as a program.

**To Rep

[2020-04-12 08:02] ccanizares commented on #6545
Using the portal I'm able to create a webapp manually **referencing an already created service plan in a different resource group**. Using az client I'm expecting the same... but I expent a lot of time to guess how to do it. Finally I tried -p {planresourceId} instead of -p {planresourcename} when creating web app and worked. I think this should be fixed to avoid people wasting time guessing thing

[2020-04-12 08:35] yonzhan commented on #12977
add to S169

[2020-04-12 08:38] yonzhan commented on #12979
@fengzhou-msft please take a look

[2020-04-12 10:41] haroldrandom commented on #10435
hi, @rickardp , this is caused by CLI doesn't close all of logging fd properly. We will fix the bug in `end_cmd_metadata_logging`  https://github.com/Azure/azure-cli/pull/12971.
But even after that, CLI doesn't provide automatic management for fd under concurrent scenario, user have to call `cli_instance.logging.end_cmd_metadata_logging()` manually to close them forever if you are sure that CLI in

[2020-04-12 15:32] N7Overlord commented on #12962
Resolved, thanks.

Create key and self-signed certificate

% openssl req -x509 -nodes -newkey rsa:2048 -keyout rsa_private.pem \
    -out rsa_cert.pem -subj "/CN=deployment"

Append certificate to key file

% cat rsa_cert.pem >> rsa_private.pem

Upload rsa_cert.pem to Azure Active Directory/App Registrations/[Select registration]/Certificates & Secrets/Certificates

% az login --service-principal

[2020-04-12 15:32] #12962 closed

[2020-04-12 23:54] rawatsudhir1 opened #12980 "Add --maskIds True/False"
### **This is autogenerated. Please review and update as needed.**

## Feature Request to add parameter for every AZ command in clic

**--maskIds**
``

**Errors:**

To add --maskIds True/False on every AZ cli command so that key information can be masked. This will help while sharing screen with customer and partners

## To Reproduce:
Right now it's not possible to mask Id returned in output.

- _

[2020-04-13 00:42] yonzhan commented on #12980
add to S170

[2020-04-13 01:28] #5907 closed

[2020-04-13 01:28] #12660 closed

[2020-04-13 01:28] #12470 closed

[2020-04-13 01:30] MyronFanQiu commented on #12965
@nakamacchi Can you run the first command with --debug? Is the error message `Cannot parse the request.`?

[2020-04-13 01:52] a-vishar commented on #12463
Yes, I am using the latest version.  It turns out that the issue is related to orphaned resources.

Easy repro steps:
1. Create a SQL DB
2. Create an alert
3. Move the DB to another resource group / subscription (orphaning the alert)
4. Try to tag the orphaned alert

[2020-04-13 01:55] a-vishar commented on #11942
Any update for this issue?

[2020-04-13 03:42] NileshGule commented on #12980
Thanks @rawatsudhir1 for creating this issue. To add some context to the request, we would like to have this ability to mask the IDs which are displayed on the console output. On the web we can use Az Mask browser extension to mask the IDs. Attached are screenshots from the AzMask enabled Microsoft Edge browser.
<img width="1589" alt="masked storage keys" src="https://user-images.githubusercontent

[2020-04-13 05:23] Kotasudhakarreddy commented on #11876
taking a look in to this.

[2020-04-13 05:27] ravikumar1907 commented on #5304
I guess I'm also having similar kind of requrement. I've Linux based vhd file with I'm able to deploy Azure instance. But I want enable cloud-init in vhd file. How can I do that. When I deploy in Azure in advanced setting it's showing your vhd will not support cloud-init.

[2020-04-13 05:55] arrownj commented on #12392
Hi @BrianMouncer , it seems that you don't have permission to read/write files under `.azure` of your home directory. Could you please help check the folder permission? Maybe you can do some manual test to check whether you can read/write files or just use `ll` to check the folder/file mod.

[2020-04-13 06:29] zhoxing-ms commented on #11942
@Vishakha-Git The ICM you submitted before seems to have been closed, it seems that you need to submit some information at that time. Could you please follow up and reopen that ICM?

[2020-04-13 06:54] Kotasudhakarreddy commented on #10495
Thanks! will check.

[2020-04-13 07:11] MyronFanQiu commented on #10423
@hindocha85 I exam the logic of this part, it's just a file loading process. I cannot reproduce this scenario. The most potential reason is that it's a wrong file path. I closed this issue since it's out of date and you use latest Azure CLI. If you still encounter this issue, feel free to open a new one.

[2020-04-13 07:11] #10423 closed

[2020-04-13 07:20] MyronFanQiu commented on #8891
@karravi-msft Hi. Could you give a doc link or confirm the service's behavior? We don't know too much details about this question.

[2020-04-13 07:33] qwordy commented on #12761
It's not supported by Azure CLI now.
https://docs.microsoft.com/en-us/azure/automation/automation-update-management
We have planned it in Azure CLI's breadth coverage plan. Current status is spec ready.
I will update here if there is any update.

[2020-04-13 07:58] MyronFanQiu commented on #10076
@soumya6541 @ferantivero  sorry for the delay. you should be able to add azure function by `--add-action azurefunction NAME FUNCTION_APP_RESOURCE_ID FUNCTION_NAME`. Please have a try now.

[2020-04-13 08:01] Kotasudhakarreddy commented on #10664
looking in to it.

[2020-04-13 08:38] Kotasudhakarreddy commented on #11454
taking a look in to this.

[2020-04-13 10:13] pvrk commented on #12789
@sengokyu : The output of the command is the "object". You can re-direct them to a file, edit the properties and give the file back as input to the ```az backup policy set``` command. May I know what is the ultimate goal/intent?

[2020-04-13 10:15] pvrk commented on #12643
How to backup a VM in a different resource group is already documented [here](https://docs.microsoft.com/azure/backup/quick-backup-vm-cli#enable-backup-for-an-azure-vm). Hope this helps. Please try us and let us know your response.

[2020-04-13 10:16] pvrk commented on #12643
@ajay15283 : How to backup a VM in a different resource group is already documented [here](https://docs.microsoft.com/azure/backup/quick-backup-vm-cli#enable-backup-for-an-azure-vm). Hope this helps. Please try us and let us know your response.

[2020-04-13 10:20] pvrk commented on #12792
@watsonb : Thanks for bringing this to our attention. We will fix this issue with the next release in mind (May 13th). Until then, to unblock yourselves, please use the ```az backup item set-policy``` command. After disabling the VM's protection, just pass the relevant policy to this command so that protection is enabled using this policy.

[2020-04-13 10:25] ajay15283 commented on #12643
Thank you , it works with the mentioned documented procedure

[2020-04-13 10:33] pvrk commented on #12643
Thanks for the confirmation. Closing the issue.

[2020-04-13 10:33] #12643 closed

[2020-04-13 11:13] jabrena opened #12985 "Add support to populate a CosmosDB collection with az cli"
**Is your feature request related to a problem? Please describe.**

When you are designing Serverless solutions, you execute some scripts to deploy an immutable infrastructure and it is very common to use az cli. If the solution includes CosmosDB, it is not easy to populate some collections from the beginning if the solution include some predefined data.

**Describe the solution you'd like**

I wo

[2020-04-13 11:17] yonzhan commented on #12985
CosmosDB

[2020-04-13 12:40] lawrencegripper opened #12986 "Request ms-graph token with scope "calendars.read""
## Describe the bug

**Command Name**
`az account get-access-token`

**Errors:**

When using `--resource-type ms-graph` or `--resource` directly to get a token for MS Graph the token generated has limitted scopes to perform actions in the Graph API and the user isn't able to consent to additional scopes (or I couldn't find out how to).

For example trying:

`az account get-access-token --resource

[2020-04-13 13:22] yonzhan commented on #12986
add to S169

[2020-04-13 13:41] mohoff commented on #12939
@jiasli Thanks a lot for your reply, much appreciated. I would like to address the three points you made to understand better the AD and related concepts.

Hm, I _can_ assign a SP any role in the Portal: `Active Directory` > `Roles and Administrators` > click any listed role > `Add assignments` > assign Directory Role to SP (works). How can I understand your comment?

While I'd agree in theory, it

[2020-04-13 14:20] zhoxing-ms commented on #10562
@jurgyy Hi, this problem is also related to the parsing of `:\`, which has a special meaning in PowerShell, like: [about_providers](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_providers?view=powershell-7), [about_locations](https://docs.microsoft.com/en-us/powershell/module/microsoft.powershell.core/about/about_locations?view=powershell-7)
So `:` and `\

[2020-04-13 14:58] rebecca-makar opened #12987 "Azure Netapp Files - az netappfiles list-mount-targets"
Running this command through automation on azure devops pipelines on ubuntu machine:
[code]

I get this error:
[code]

It seems around April 9 or 10 that this error started happening. It is not happening on my local machine so I am assuming that the Azure-Cli or Azure-Cli-Extension had a version change that either  recently and that it is installed on the machines that the versions are running. No

[2020-04-13 15:18] akrobet commented on #9585
Also landed here, following
https://docs.microsoft.com/en-us/learn/modules/aks-workshop/02-deploy-aks

[2020-04-13 15:31] hubert-associates commented on #11749
This worked for me. Thanks.

[2020-04-13 16:20] nezoic opened #12988 "HTTPS Settings?"
How do you specify HTTPS? I created a Front End port on 443. I specified a cert that I've already uploaded here. When I create the resources it is successful but stuck on HTTP?

---
#### Document Details

⚠ *Do not edit this section. It is required for docs.microsoft.com ➟ GitHub issue linking.*

* ID: 2dce00db-c8d7-9b93-7ac8-114a500a6a34
* Version Independent ID: 14a03192-a30b-d273-fa11-32413868a

[2020-04-13 16:41] cmp66 opened #12989 "Error updating api-server-authorized-ip-ranges for AKS"
**Describe the bug**
When attempting to update the allowed IP ranges for the AKS api server, I received the following error:
Operation failed with status: 'Bad Request'. Details: UnmarshalEntity encountered error: json: cannot unmarshal bool into Go struct field Properties.properties.autoScalerProfile of type string

**To Reproduce**
AKS is deployed using Terraform with version 2.5 of the Azure Te

[2020-04-13 16:55] Svessir opened #12990 "az deployment {sub} create --template-uri... templateLink no longer available."
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az deployment create`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az deployment create --name {} --location {} --template-uri {} --pa

[2020-04-13 17:07] melezhik commented on #12636
how can I add _another_ admin to a sql server? it's not unclear from documentation.

[2020-04-13 17:24] ekbrothers commented on #12794
[https://docs.microsoft.com/en-us/cli/azure/monitor/alert?view=azure-cli-latest](https://docs.microsoft.com/en-us/cli/azure/monitor/alert?view=azure-cli-latest)

Thank you!

[2020-04-13 17:40] Andriy-dev opened #12993 "az interactive crashed"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-04-13 18:01] kborovik opened #12994 "Unable to run "az interactive" command"
### **This is autogenerated. Please review and update as needed.**

## Describe the bug

**Command Name**
`az interactive`

**Errors:**
[code]

## To Reproduce:
Steps to reproduce the behavior. Note that argument values have been redacted, as they may contain sensitive information.

- _Put any pre-requisite steps here..._
- `az interactive`

## Expected Behavior

## Environment Summary
[code]
## A

[2020-04-13 18:55] jose-lima2011 opened #12995 "The example update command does not work"
Hello guys, another thread for you, I tried to follow the example of this document with the error below:

az monitor log-profiles update --name default --set retentionPolicy.days=365 retentionPolicy.enabled=true
validation error: Parameter 'LogProfileResource.location' can not be None.

According to the example
of the document should be simple:

az monitor log-profiles update --name MyLogProfile -

[2020-04-13 19:52] ninzavivek commented on #12937
DEL operation support is also needed - https://github.com/Azure/azure-rest-api-specs/pull/9040

[2020-04-13 20:33] watsonb commented on #12792
I can confirm that the `az backup item set-policy` works.  Thanks for the suggestion.

[2020-04-13 20:55] ramnov commented on #12887
@yonzhan. @Juliehzl  : Why is Azure Cloud Shell still pointing to an older version of azure-cli 2.2.0 ?

[2020-04-13 20:56] sinelshchikov commented on #12346
@Juliehzl,
It is understandable that azure policy requires purge protection. So with --enable-purge-protection it would work.
The question is mostly focused on why the policy is bypassed after setting and removing the CMK setting via portal.
Another thing that I noticed that this error occurred when --retention-days is set to less than default value ,e.g 7 days.
So it would be great to have a more

[2020-04-13 21:28] bmc-msft commented on #12796
It's "as designed" to be unable to delete eventgrid event subscriptions that target something that has been deleted?

Additionally, it's "as designed" to leak internal IP addresses of resources when that happens?

[2020-04-13 21:36] yugangw-msft commented on #12936
We can report the registry doesn't exist

[2020-04-13 22:19] yonzhan commented on #12987
netappfiles

[2020-04-13 22:20] Bowbaq commented on #12947
I've certainly run into #9427 several times.

I'm not really sure how file locking is going to help here. It seems to be it's more of a design issue. Separate processes shouldn't really be logging to the same file, they should probably each have their own (name after the PID or something like that).

As for the access tokens, it appears to be essentially the same problem of several processes clobb